<header data-type="book">
<h1>叢桂偶記</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>原昌克</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1800">公元1800年</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00212/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>敘</h1>
<p>余幼而多病。不能絕醫藥。屢煩南陽先生原君刀圭。因來往其叢桂亭。二十年於此矣。以故其門人子弟。莫不識余面者。先生近有叢桂偶記之作。門弟子相與繕寫校刊。將以公於世。來屬序於余。余辭。不可。余曰。先生之於醫。既傳三世業。西學於京師。聞見益廣。焦神極能。夙播國手之譽。今刻其所著書。何必假腐儒小生如余者稱述。以為名高之資。子等過矣。且余不知醫。安能敘醫書。雖然。以余所聞。凡經方。傳自古而施諸今。古今之邈。其病萬變。藥亦萬變。何可執一而論也。猶古之道。以衡今之有。其所以為道紀。固不能外乎此。然道之可道。非常道也。老聃之言。不其然乎。通古而不泥於古方。知今而不局於後世。運用之妙。存於一心。如良將之於兵法。審其緩急。而治之標本。察其劇易。而適之剛柔。如良相之於國政。斯則先生之所優為。而此偶記特其緒餘耳。異言奇說。稗官所錄。單方曲伎。閭巷所傳。隨獲輒筆。不遑深擇。此其所以為偶記也。大抵世之食於技者。莫不秘其禁方。以求重糈。而先生乃每欲推其所有餘。以及乎人。其存心於仁術。亦可見矣。夫嘗一脟肉。而知一鑊之味。一鼎之調。存乎其人。門弟子之刻斯書。豈徒也哉。然余聞先生所著。商榷古今。考據精博。有若經穴匯解等諸書。今乃舍其大。而其細是謀。無乃門弟子之過歟。南陽之徒。嘿嘿未有以應。時餘頭風方發。岑岑然。不能別為構思。以弁斯編。聊書前語。以塞其責。</p>
<p><u>寬政庚申之冬藤田一正題於梅巷草堂</u></p>

<h1>卷一</h1>

<h2>張仲景</h2>
<p>仲景不詳何時人。傷寒論自序。世人多疑其偽撰。而言仲景後漢建安中之人。而宮至長沙太守。是以其自序為自序者也。（傷寒論序曰。余宗族素多。向餘二百。建安紀年以來。猶未十稔。其死亡者。三分有二。傷寒十居其七。云云。）范曄後漢書。只有張氏為南陽族姓之語。果其有張機字仲景。南陽人。而學同郡張伯祖者。經方大有時名。則何不與郭玉華佗等同傳。靈帝時。孫堅守長沙。（後漢書。劉表傳曰。初平元年。長沙太守孫堅。殺荊州刺史王叡。詔書以表為荊州剌史。又靈帝紀曰。中平四年。零陵人觀鵠。自稱平天將軍。寇桂陽。長沙太守孫堅擊斬之。）及袁術有南陽。以蘇代領長沙。（後漢書袁術傳曰。術畏董卓之禍出奔南陽。會長沙太守孫堅。殺南陽太守張咨。引兵從術。劉表為南陽太守。又表孫堅。領豫州剌史司馬彪戰略曰。術屯魯陽。盡有南陽之眾。吳人蘇代領長沙太守。）建安三年。長沙太守。張羨。率零陵桂陽二郡。畔劉表。（後漢書。劉表傳○三國志桓階傳曰。階字伯緒。長沙臨湘人也。太守孫堅。舉階孝廉。除尚書郎。父喪還鄉里。會堅擊劉表戰死。階冒難請表乞喪。表義而與之。後太祖與袁紹相拒官渡。表舉州以應紹。階說其太守張羨曰。夫舉事而不本於義。未有不敗者也。故齊桓率諸侯以尊周。晉文逐叔帶以納王。今袁氏反此。而劉牧應之。取禍之道也。明府必欲立功。明義全福遠禍不宜與同也。羨曰。然則何向而可。階曰。曹公雖弱。伏羲而起。救朝廷之危。奉天命而討有罪。孰敢不服。今若率四郡。保三江以待其來。而為之內應。不亦可乎。羨曰。善乃舉長沙及旁郡。以拒表。遣使請太祖。太祖大悅。○官渡役在獻帝建安五年。）羨卒。子懌嗣為長沙太守。劉表並之。（三國志。劉表傳曰。長沙太守張羨叛表。表圍之。連年不下。羨病死。長沙復立其子懌。表遂攻並懌。南攻零桂。北據漢川。地方數千里。帶甲十餘萬。）以韓玄為長沙太守。（三國志。黃忠傳曰。忠字漢升。南陽人也。荊州牧劉表。以為中郎將。與表從子磐。守長沙攸縣。及曹公克荊州。假行裨將軍。仍就故任。統屬長沙太守韓玄。）表卒子琮代立。遣使請降。曹公平荊州。（蜀志）避劉巴為掾。使招納長沙零陵桂陽。（三國志。劉巴傳曰。曹公徵荊州。先生奔江南。荊楚群士從之如雲。巴北詣曹公。曹公闢為掾。使招納長沙桂陽零陵。）曹公敗於赤壁。引軍歸鄴。先主表劉表長子琦。為荊州刺史。又徵四郡。長沙太守韓玄降。（蜀志）　先主使諸葛亮督零桂長沙三郡。（三國志。諸葛亮傳曰。先主遂收江南。以亮為軍師中郎將。使督零陵桂陽長沙三郡。○此時建安十三年。）又擢廖立為長沙太守。（三國志。廖立傳曰。先主領荊州牧。闢為從事。年未三十。擢為長沙太守。先主入蜀。諸葛亮鎮荊土。孫權遣使通好於亮。因問士人皆誰相經緯者。亮答曰。龐統廖立。楚之良才。當贊興世業者也。建安二十年。權遣呂蒙。奄襲江南三郡。立脫身走歸先主。）長沙既非漢家有。後終屬於吳。（蜀志曰。建安二十年。孫權以先主得益州。使使報欲得荊州。先主言須得涼州。當以荊州相與。權忿之。乃遣呂蒙襲奪長沙零陵桂陽三郡。先主引兵五萬下公安。令關羽入益陽。是歲曹公定漢中。張魯遁走巴西。先主聞之與權連和。分荊州江夏長沙桂陽東屬。南郡零陵武陵西屬。）由是觀之。靈獻之間。似無令仲景守長沙之日也。諸書所記仲景不一。皆出於附托。特以皇甫謐所說為古。其他不足言焉。乃今抄記其說。（萬姓統譜。一統志。歷代名書傳略。所載無異說。故不收錄焉。）</p>
<p>皇甫謐甲乙經序曰。漢有華佗。仲景。其他奇方異治。施世者多。亦不能盡記其本末。若知直祭酒劉季琰病。發於畏惡。治之而差云。後九年季琰病應發。發當有感。仍本於畏惡病動必死。終如其言。仲景見侍中王仲宣。時年二十餘。謂曰。君有病。四十當眉落。眉落半年而死。令服五石湯可免。仲宣嫌其言忤。受湯勿服。居三日。見仲景。謂曰。服湯否。仲宣曰。已服。仲景曰。色候固非服湯之診。君何輕命也。仲宣猶不言。後二十年果眉落。後一百八十七日而死。終如其言。（按王粲傳。建安二十一年從徵吳。二十二年春。道病卒。時年四十一。）此二事雖扁鵲倉公無以加也。華佗性惡矜技。終以戮死。仲景論廣伊尹湯液為數十卷。用之多驗。近代太醫令王叔和。撰次仲景選論甚精。指事施用云云。</p>
<p>皇甫謐釋勸文曰。夫才不周用。眾所斥也。寢疾彌年。朝所棄也。是以胥克之廢。丘明列焉。伯牛有疾。孔子斯嘆。若黃帝創制於九經。岐伯剖腹以蠲腸。扁鵲造虢而屍起。文摯徇命於齊王。醫和顯術於秦晉。倉公發秘於漢皇。華佗存精於獨識。仲景垂妙於定方。徒恨生不逢乎若人。故乞命訴乎明王。求絕編於天錄。（晉書皇甫謐傳。）</p>
<p>王冰素問序曰。周有秦公。漢有淳于公。魏有張公華公。皆得斯妙道者也。（按張公斥仲景。）</p>
<p>李濂醫史曰。張機字仲景。南陽人也。學醫於同郡張伯祖。盡得其傳。工於治瘡。尤精經方。遂大有峕譽。漢靈帝峕。舉孝廉。官至長沙太守。與同郡何顒客遊洛陽。顒探知其學。謂人曰。仲景之術精於伯祖。起病之驗。雖鬼神莫能知之。真一世之神醫也。嘗見侍中王仲宣曰。君年至四十當有疾。鬚眉脫落。脫落後半年必死。宜豫服五石湯庶幾可免。仲宣時二十餘。聞其言惡之。雖受方而不飲。數日後。見仲景。乃佯曰。五石湯已飲之矣。仲景曰。觀君氣色。非飲藥之診。何輕命欺人如此耶。仲宣益深惡之。後二十年果有疾。鬚眉皆脫落。越一百八十七日卒。時人以為扁鵲倉公無以加之也。</p>
<p>張果醫說曰。提點鑄錢朝奉郎黃沔。久病渴極疲瘁。予每見必勸服八味丸。初不甚。後累醫不痊。謾服數量。遂安。或問渴而以八味治之。何也。對曰。漢武帝湯。張仲景為此方。蓋渴病多是腎之真水不足。致然。若其勢未至於消。但進此劑殊佳。且藥性溫平無毒也。（泊宅編）</p>
<p>又曰。後漢張機字仲景。南陽人也。受術於同郡張伯祖。善於治療。尤精經方。舉以孝廉。官至長沙太守。後在京師為名醫。於當時為上手。時人以為扁鵲倉公無以加之也。（注曰。出何顒別傳。甲乙經。仲景方論序。）</p>
<p>三國志演義。張松難楊修條曰。問曰。蜀中人物何如。松曰。文有相如之賦。武有管樂之才。醫有仲景之能。卜有君平之隱。九流三教。出乎其類。拔乎其萃者。不可勝紀。豈能盡數也。</p>
<p>方有執傷寒條辨曰。張松北見曹操。以其川中有仲景為誇。</p>
<p>虞汝明（吳郡人。）　古琴疏（出說郛）　曰。張機字仲景。南陽人。受業於張伯祖。精於治療。一日入桐柏。覓藥草。遇一病人求診。仲景曰。子之腕有獸脈何也。其人以實具對。乃譯山穴中老猿也。仲景出囊中丸藥畀之。一服輒愈。明日其人肩一巨木。至曰。此萬年桐也。聊以相報。仲景劉為二琴。一曰古猿。一曰萬年。</p>
<p>徐衟神仙通鑑曰。元嘉辛卯冬。桓帝感寒疾。發熱不止。太醫調治無效。廣徵良醫。傳驛赴京。有舉長沙太守張機。深達軒岐。剋期召入。病經十七日。機診視曰。正傷寒。擬投一劑品味輒乃兩計。密覆得汗如雨。及旦身涼。留機為侍中。初得陽勵公之傳。見朝政日非。嘆曰。君疾可愈。國病難醫。遂掛冠遁去。隱少室山。著金匱玉函諸書。陽勵公復來引去。（神仙通鑑更始立秀為肅王。洪武進擊銅馬賊於鉅鹿。群盜悉降。余賊散入烏桓界。賈復與五挍賊戰深入被槍。腸撤於外。歸營悶絕。適草澤醫來納腸入腹以油桑線縫之。出一丹灌之。遂蘇。贈以金帛。醫曰。吾陽勵公也。憐賈君忠勇。故救之。飄然而去。）</p>
<p>淵鑑類函曰。漢書云。張機字仲景。南陽之人也。受業於同郡張伯宜。善於治療。尤精經方。所著有傷寒三十二篇。為後世方脈之祖。（按漢書誤引）</p>

<h2>神應侯</h2>
<p>神應侯。扁鵲諡也。人多不知。只針灸書。有神應經。此書題名。蓋根蒂於此。通鑑曰。宋仁宗。寶元二年。以文宣公孔聖祐從弟宗願。襲封文宣公。先是聖祐卒。無子。除襲封。且十年。有醫許希。針愈帝疾。拜賜已。又西向拜扁鵲曰。不敢忘先師也。帝為封鵲扁為神應侯。立祠城西。彭城人顏太初。作許希詩。指聖祐。以諷在位。又致書參政蔡齊。為言於帝。遂以宗願襲封。張果醫說。引皇朝類苑。而事有同異。</p>

<h2>厥</h2>
<p>厥是病名。有所結滯壅塞。卒然暴發之病。皆以厥字目之。扁鵲所謂五藏蹷中之峕暴作也。即是也。晏子春秋曰。厥陽。金匱要略曰。經云。厥陽獨行。今內經無此語。後世醫家以為冷寒無陽之義者。非也。陳徹雪潭居醫約論厥者。頗為得。（雪潭居醫約曰。夫厥證之起於手足者。厥發之始也。甚至猝倒。暴厥忽不知人。輕則漸蘇。重則即死。是為急候。後世不能詳察。但以手足寒熱為厥。又有以腳氣為厥者。謬之甚也。雖仲景寒厥熱厥之分。亦以手足為言。蓋彼以辨傷寒之寒熱耳。非若內經之所謂厥也。觀大奇論曰。暴厥者。忽不知人。不能言。調經論曰。血之與氣並走於上。則為大厥。厥則暴死。氣復反則生。不反則死。繆刺論曰。手足少陰。太陰。足陽明。五絡俱竭。令人身脈皆重。而形無所知。其狀若屍。或曰。屍厥。若此者。豈止於手足寒熱。及腳氣之謂耶。今人多不知厥證。而皆指為中風。寧不誤人乎。夫中風者。病多經絡之憂傷。厥逆者。其內精氣之自奪。故表裡虛實病情當辨。名義不正。無怪其以風治厥也。醫中之害。莫此為甚。）古言四支厥冷者。陰陽氣不相順接。手足暴冷也。後世終以為手足冷者總稱。屬不知厥義。厥論曰。陽氣衰於下則為寒厥。陰氣衰於下則為熱厥。靈樞曰。刺熱厥者。留針反為寒。刺寒厥者。留針反為熱。又中藏經。論天地陰陽厥。此書雖偽撰。然論厥者。為優於後人之說。（中藏經。說天地之陽厥。則云驟風暴雨。雲物飛颺。論天地之陰厥。則云飛霜走雹。朝昏暮靄。論人身陽厥。暴壅塞忽喘促。四支不收。論人身陰厥。暴啞卒寒一身拘急。）按厥蹷瘚通用。又作蹶。而儒書用蹷。醫書用厥。左傳曰。衛石共子卒。悼子不哀。孔成子曰。是謂蹷其本。杜預曰。蹷猶拔也。荀子曰。田野荒而倉廩實。百姓虛而府庫滿。夫是之謂國蹷。楊倞曰。傾倒也。列子曰。枳食其皮汁。已憤蹷之病。張湛曰。蹷者氣疾也。呂氏春秋曰。處足則為痿為蹷。注曰。蹷逆疾也。又曰。出則以輿。入則以輦。務以自佚。命之曰招蹷之機。枚乘七發。原於此語。而作蹶痿之機。史記。扁鵲傳曰。暴蹷正義曰釋名云。蹷氣從下。蹷起上行。外及心脅也。又曰屍蹷。以上注家。不說壅滯結塞之義。後漢趙壹書曰。秦越人還虢。太子結脈著其神。傷寒論曰。藏厥。又曰。藏結。是結厥音通。夫病以厥名者。倉公傳。有熱蹷風蹷蹷上之稱。其他如卒厥。死厥。痙厥。脈厥。陽厥。氣厥。痰厥。血厥。酒厥。食厥。狂厥。肝厥。厥頭痛等。不可每舉。皆屬結義。然不言結曰厥者。厥字含畜有所結滯壅結。而卒然暴作之意也。不言脈絕而言脈厥。不言冷逆而言陽厥。為物壅閉。脈氣不來。手足脈絕者曰脈厥。為物隔絕。陽氣屈伏不敷於外。一身冰冷者曰陽厥。此二證多在傷寒內實。癥瘕奔豚。卒發之人。若夫通暢其壅結。則俄頃復故。所謂憤蹷。暴蹷。招蹷。痿蹷。屍蹷。為蹷之蹷。亦此義也。左傳。蹷其本之蹷。固同義。蓋臨父喪不哀。於孝道。既見生蹷之機。言他日必發動不能有其宗之意也。</p>

<h2>白酒</h2>
<p>仲景方。枳實薤白白酒湯。人多用清酒。其言曰。白猶白湯之白。又曰。梁武帝詩。金盞盛白酒。因知是美酒也。按白湯與藥湯對。猶白徒白民之白也。靈樞云。以白酒和桂。而飲美酒。可見白酒與美酒異。學之藥性辨曰。米酒始熟未灑而酌取上澄者。名為白酒。俗呼乃革古米是也。蓋臆說也。造白酒法。諸書不一。揚州府志曰。白酒各州縣皆有。用草曲三日可成。味極美。食物本草曰。白酒處處有之。以蓼與曲。釀米為酒母。以水隨下隨飲。初下時味嫩而甘。隔宿味老而酢矣。武帝所詠白酒蓋此類。王遜藥性纂要曰。杭州白酒。乃石灰湯也。飲之不特肚脹。而舌燥口苦。最為害人。由是觀之。白酒多種。皆非入藥用之品也。禮內則曰。酒有清白。鄭玄曰。昔酒。今之酋久。白酒所謂舊醳。廣韻曰苦酒。周禮天官。酒正辨三酒之物。一曰事酒。二曰昔酒。三曰清酒。注曰。事酒有事而飲也。昔酒無事而飲也。清酒祭祀之酒。本草綱目曰。飲膳標題云。白者曰醝。玉篇曰。白酒也。周禮天官酒正。酇曰。釋文曰。即今白醝酒也。白酒千金方。作白酨漿。即酢也。外臺方。作白酨酒。程衍道注曰。酨音再。酢漿也。又按字典。音代。說文。酢漿也。玉篇。釋米汁也。周禮。天官酒正。漿注。酨漿。酨之言載也。米汁相載也。乃今用酢為得。飲膳正要曰。米酢為上。入藥用。</p>

<h2>甘草粉蜜湯</h2>
<p>諸注家釋粉曰。即粉錫也。一名白粉。一名鉛粉。又名胡粉。此乃用鉛化造者。其法詳於李氏綱目。今以藥鋪呼篤烏那慈地者為真。勿用婦人傅面。稱和失魯肥者。以有夾雜也。本草逢言曰。甘草粉蜜湯。治蛔病吐涎心痛。專取胡粉殺蟲。甘草安胃。蜜以誘入蟲口也。又傷寒直解。及論注。皆以為鉛粉。以故近世古方家先生。皆用胡粉而不疑。按千金方。並外臺方。作粱米粉。蓋本論。粉上脫粱米二字也。千金。外臺。以不題其方名。人徒看過傳謬而已。</p>

<h2>廣東人參</h2>
<p>世有稱廣東人參者。往年官禁不許市賣。蓋以其非參類也。近禁漸開得貨之。人多貴重之。以為勝韓種人參。議者或疑以為沙參。或以為零餘子人參。紛紛無明徵。而用之者。亦雖知其非參類。而以其味大似人參。用之而不疑。頃問之長崎人。曰。或嘗以朝鮮。廣東。韓種。竹節。四種人參。示之和蘭瘍醫。皆不識之。只指廣東人參曰。亞墨利加。寬政丙辰和蘭將來廣東人參若干斤。又題曰。亞墨利加。仍識此物產亞墨利加。嘗記廣東人呂大圭者。來崎陽。上書言其地不產人參。閱大明一統志。廣東者古百粵之地。而其產無人參。廣東新語曰。越無人參。蘇長公嘗種羅浮。有詩云。上黨天下脊。遼東真井底。靈苗此孕育。肩股或具體。移根到羅浮。越永灌清泚。地殊風雨隔。真味終祖禰。由是視之。廣東不生人參者。可知也。頃閱徐應登所序醫便。載金不換三七試驗曰。出自粵西惟右江南等州。蠻夷地名為最。粵西是廣東。則所謂廣東人參。即金不換三七也。此物從來奇藥。故世用廣東人參者。偶中守株而已。本草綱目所說三七之解不一。時珍曰。近傳一種草者。即今所謂三七也。與金不換不同。如其主治。綱目所載。瀕湖集簡方。醫便皆同。又孫光裕血症全集載之。共無補氣之說。但是系血藥。用廣東人參者。知之而臨病者。則其誤鮮矣。集簡方。載在本草綱目。今只記醫便。血症全集。</p>
<p>醫便曰。金不換三七經驗仙方。</p>
<p>三七出自粵西惟右江南等州。蠻夷地名。為最。產於險峻山谷之間。真味似人參。每莖上七葉。下三根。故名三七。重擬良金。又名金不換。又名血見愁。專治血歸經絡。效最莫比。今將治法。開真於後。</p>
<p>一治金刃箭傷。跌跋傷損。血出不止。自嚼少許罨患處。即愈。</p>
<p>一治婦人赤白帶下。每服用一錢。研末溫酒送下。</p>
<p>一治吐血。用一錢自嚼。茅花煎湯或米湯送下。</p>
<p>一治男婦傷寒口齒不開。將生薑擦齒。用薑湯調三錢服。</p>
<p>一治婦人產後敗血作疼。用一錢或五分。艾葉煎湯。老酒。研末送下。自嚼亦可。</p>
<p>一治男婦被打傷青腫不消。用一錢嚼細塗患。即消。</p>
<p>一治男婦害眼十分沉重不開。用一錢嚼爛塗眼外。一宵即愈。（醫鑑云。水磨塗眼眶。）</p>
<p>一治男婦紅白痢疾。用一錢研末。木香黃連煎湯。或米泔水送下。</p>
<p>一治蛇傷。虎傷。用一錢磨細。酒送下。余嚼塗患立效。</p>
<p>一治男人下蠱毒。先嚼一錢。遇毒即返。神效。</p>
<p>一治男婦喉瘋單雙鵝頭。用一錢為末。鹽酒送下。</p>
<p>一治男婦心氣疼痛。量年久近。有二錢或一錢為末。溫酒調下。或自嚼。酒送下亦可。</p>
<p>一治小兒痘疹。用一錢蜜水滾熱服下。</p>
<p>一治男婦血淋。用一錢燈草薑湯送下。</p>
<p>一治婦人血山崩。量年遠近。研末一錢。用淡白酒。或米湯。服一二次。即愈。</p>
<p>一治腸紅下血。用四物湯。加三七五分服。最效。或用槐角煎湯。或空心用溫酒服。</p>
<p>一治杖傷或刃破淤血。取三七隨傷大小。咀嚼罨之。即愈。行杖時。先服一錢亦可。使血不衝心。杖後尤宜屢服之。</p>
<p>一治男婦生無名腫毒。或癰疽等瘡。疼痛不止。一二錢研細塗上。痛即止。或初成。或未成。以好米醋。磨塗。即散。</p>
<p>血症全集曰。三七即金不換。止吐衄血。下血。血崩。氣味甘。微苦溫。主治止血。散血。血運。血痛。乃陽明厥陰血分之藥。故能一切血病。吐血衄血。山漆一錢自嚼。米湯送下。或用五分加入八物湯。下血血崩。研末。同白酒調服一二錢。或入四物湯服。血痢。米泔水調服。</p>

<h2>風</h2>
<p>東涯先生曰。中風之病。未詳其名義。以為中於風則寒疾之症也。所謂中風者。非寒疾。近代醫書雖有其說。亦未的確。蓋風非風雨之風也。為氣而解之。其義稍通。心氣疾。氣血疾。充滿軀內。而運動流行者。皆可以稱風。所謂大塊噫氣。其名曰風。風者。天地之氣也。故釋之以氣。癩瘡稱大風。其為氣義可以見也。又有腸風胃風。又有白癜風。紫癜風。此等疾有風名者。皆氣血錯亂所致也。又小兒有急慢驚風。又狂病曰心風。曰風疾。唐書曰。風疾使酒。不可入仕。是狂亂醉狂不任官也。狂人稱風癲漢。又稱風子。又單用風字。以為心疾。是皆指心氣錯亂也。中風之病。一身氣血。偏枯軟瘓。作種種形狀。是為風所中也。西土又有相墓術。謂之風水。又名地理。宋儒之言曰。有水以界之。無風以散之。出於有身集要。是豈地中有風乎。又言其氣而已。佛書。地水火風。謂之四大。四大假合為幻體。四大各歸其源。暖氣歸於火。轉動歸於風。出於圓覺經。夫風在人身所轉動也。是亦指氣也。又犬之狂。曰風狗。曰顛狗。可見風者氣也。而醫書指心氣氣血之變曰中。佛典是梵言。至其翻譯。皆是唐人以當時之語而譯之。可以證也。余按醫籍以風名病者。甚多。然其實不過三義也。而名中風者。有二症。傷寒論曰。中風。是言傷寒輕症。即風寒之風。於字義為至當中。為去聲。即傷風也。頭風。破傷風。風濕等。皆風寒之風。屬外因。是為一義。世之所謂中風者。其證半身不遂。口眼歪斜。東涯以氣字為解者也。莊子曰。民濕寢則腰疾偏死。荀子曰。禹跳湯偏。尹子曰。禹之勞。十年不窺其家。手不生爪。脛不生毛。偏枯之病。步不相過。人曰禹步。鄭注尚書大傳曰。湯半身體枯。淮南子曰。偏枯之藥。是即世之所謂中風。而古典不言中風。夫中風者。傷風之名。而系外襲風邪。而偏枯者。原有症痼疝癖。血塊瘀毒。而思慮過度。或酒色昏荒之人。因寒暑飢飽。內勢激發也。至其輕重緩急。順逆虛實。其候多端也。素靈無中風之目。（風論有中風字者。謂中於風。）而說風之症者。往往有之。（素問云。風之傷人也。或為寒熱。或為熱中。或為寒中。或為癘風。或為偏枯。或為風。○靈樞云。虛邪偏客於身半。其入深內居營衛。營衛稍衰。則真氣去。邪氣獨留。發為偏枯。此類不可枚舉。）金匱要略。說中風者。有與傷寒論不吻合者。金匱是蠹余殘簡。後人所輯錄。不足為徵焉。然後漢既以偏枯為中風。或單稱風疾。表忠傳曰。風疾瘖不能言。又三國志注。曹瞞傳曰。太祖少好飛鷹走狗。遊蕩無度。其叔父數言之於嵩。太祖患之。後逢叔父於路。乃陽敗面喎口。叔父問其故。太祖曰。卒中惡風。叔父以告嵩。嵩驚愕呼太祖。太祖口貌如故。嵩問曰。叔父言汝中風。已差乎。太祖曰。初不中風。但失愛於叔父。故見罔耳。嵩乃疑焉。自後叔父所告。蒿終不復信。太祖於是益得肆意。此稱中風者。父母病之。其子多病之。屬內因。所謂大麻風。癩風。大風等諸名。皆為一義也。至如風狂。風癲。風狗。風魔。則又別為一義。通鑑曰。國子祭酒祝欽明。自請作八風舞。搖頭轉目。備諸醜態。上笑（祝欽明。素以儒學著名。吏部侍郎盧藏用私謂諸學士曰。祝公五經掃地盡矣。）胡三省曰。所謂八風舞。非春秋魯大夫眾仲。所謂舞者。所以節八音行八風者也。借八風之名。而備諸淫醜之態耳。令人謂淫放不返為風。此則欽明所謂八風也。是與風狂風癲之風。同義也。</p>

<h2>怪產</h2>
<p>夏修己背折而生禹。殷簡狄胸剖而生契。嘗以為不可信。城北多賀郡折橋村一農婦。經閉腹滿。諸醫認為鼓脹。後數月臍上發疽。既潰。膿汁雜出毛髮。人以為異。日後潰口出一足。眾皆驚愕。瘍醫斷之。從是日出顱蓋脊肋諸骨及胞腸。始知其妊。調理數月得愈。古史所記不可誣也。治之者。門人莊司以文之父友智。實寬政戊午七月之事也。</p>

<h2>吮癰</h2>
<p>史記吳起傳曰。卒有病疽者。起為吮之。卒母聞而哭之。人曰。子卒也。而將軍自吮其疽。何哭為。母曰。非然。往年吳公吮其父。其父戰不旋踵。遂死於敵。吳公今又吮其子。妾不知其死所矣。是以哭之。前漢書鄧通傳曰。上嘗病癰。通為上嗽吮之。上問曰。天下誰最愛我者。通曰。宜莫若太子。及太子入問疾。上使齰癰。太子色難之。已而聞通嘗為上齰之。太子慚。克嘗以為吮疽齰癰者。良將與士卒分勞苦者。佞臣淫蠱媚主者。不問驗與不驗。必在得其心。而有此事也。水戶城西飯富村。有一農夫貧且魯。加之累年不登。於是計營益窮。因舉田宅賣之。身為瘍醫家奴。因識一二煉膏。乃辭還里。自稱得治癰疽之妙。舊知奴生平者。竊嗤笑焉。無乞療者。奴又餓。鄰里偶有患疽者。其家貧無迎醫之資。因招奴。奴欣然應招。貼膏。然斷斷兮無他技。唯自吮其疽而已。其疽不日而愈。又有一財翁患癰者。名家國手。不能治之。初患疽者。屢譽奴之效。翁亦以經數醫之手而不治。終令奴療之。又唯嗽吮如初。而新肉大起。無幾報疴。於是鄰里鄉黨。刮舌改觀。來迎接踵。余嘗見其奴。實一癡漢。只可令吮之而已。奴曰。膿味不同。有經久而味不惡者。又有臭惡不堪者。吮之數日。則其惡味漸復。已復則生肉活血。可指期而治焉。其瘡瘍吉凶安危。皆以三寸舌卜之。百不失一焉。蓋古吮疽齰癰。不啻示慈愛結人心。佞諂承順媚人主。以其有良驗奇效有此事也。</p>

<h2>吹霎</h2>
<p>癸辛雜識曰。吹霎二字。每見劉長卿。用之傷寒感冷意。問之則謾言出漢書。然莫可考也。繼閱方書。於香芎散證治云。吹霎傷風。頭痛發熱。此必有所據。今考香芎散。香芎丸及湯未見吹霎字。其方出風病門。按吹霎。猶言風雨。吹。是北吹朔吹之吹。霎。字書曰。雨聲也。蓋言吹與聲者。說風雨氣為濕淫之形容歟。</p>

<h2>曼陀羅花</h2>
<p>曼陀羅花。本草綱目曰。相傳此花笑採釀酒飲。令人舞。予常試之。飲須半酣。更令一人或笑或舞引之。乃驗也。今試之。不問莖葉花實末之酒服五六分。周身麻木。不知痛癢。又煎一錢許服之。亦可麻。力稍劣。又與火麻子花。（莖枯者益良。陰乾。）等分。熱酒調服三錢。昏昏如癡。手足不仁。或甘睡不醒。或神心不守。如風狂。三二日復故。然其性人人異。又有如死者。或云。用之一老人。不醒終死。宜斟酌作劑。凡割肉刮骨。不可無此藥也。又以末塗之。皮膚頑麻。然不徹肉。與塗烏頭者同效。近聞西京中神以鄰用之諸病。其效多端。余未及識其人。又本草載。茉莉根。以酒磨一寸服。則昏迷。一日乃醒。二寸二日。三寸三日。凡跌損骨節。脫臼接骨者。用此則不知痛。余未試。河間紀氏所著。姑妄聽之曰。閩人有女未嫁。卒已葬矣。閱歲余。有親串。見之別縣。初疑貌相似。然聲音體態。無相似至此者。出其不意。從後試。呼其小名。女忽回顧。知不謬。又疑為鬼。歸告父母。開塚驗視。果空棺。共往蹤跡。初陽不相識。父母舉其胸脅瘢痣。呼鄰婦視。乃其伏。覓其夫已遁矣。蓋閩中茉莉花根。以酒磨汁飲之。一寸可屍蹷一日。服至六寸。尚可蘇。至七寸乃真死。女已有婿。而私與鄰子狎。故磨此根。使詐死待其葬。而發墓共逃也。婿家鳴官。捕得鄰子。供詞與女同。時吳林塘官閩縣親鞫是獄。欲引開棺見屍律。則人實未死。事異圖財。欲引藥迷子女例。則女本同情。謀殊掠賣。無正條可以擬罪。乃仍以奸拐本律斷。人情變幻。亦何所不有乎。</p>

<h2>黴瘡秘錄</h2>
<p>海寧陳司成。黴瘡秘錄。以崇禎壬申就。後閱宋竇漢卿瘡瘍全書。全部十三卷。康熙中。洪瞻岩陳友恭所校。其中載黴瘡秘錄。而又有小異同。稽之全編。漢卿裔孫夢鱗增補而行世者也。其序有隆慶三年之記。因疑隆慶。崇禎。相去六十年。陳司成何物取竇氏成說自為己說。後又得瘡瘍全書。一部十二卷。無黴瘡秘錄文。曰。宋燕山竇漢卿輯著。明三衢大酉堂繡梓。因識日所閱瘡瘍全書。加陳司成黴瘡秘錄。而射利當時。即康熙中。洪陳二人之所為也。讀者宜知之。</p>

<h2>牛黃清心丸</h2>
<p>癸辛雜識曰。和劑惠民藥局。當時製藥有官監。造有宮監門。又有官藥。藥成分之內外。凡七十局。出售則又各有監官。皆以選人經任者為之。謂之京局官。皆異時朝士之儲。悉屬之大府寺。其藥價。比之時直。損三之一。每歲糜戶部緡錢十萬。朝廷舉以償之。祖宗初制。可謂仁矣。然弊出百端。往往為諸史藥盜。竊至以樟腦易片腦。臺附易川附。橐橐為奸。朝廷莫之知。亦不能革也。凡一劑成則又皆為朝士及有力者所得。所謂惠民者。元未得分毫及民也。獨暑藥臘藥。分賜大臣及邊帥者。雖隸御藥。其實劑局為之稍精緻。若至寶丹紫雪膏之類。固非人間所可辨也。若夫和劑局方。乃當時精集諸家名方。凡經幾名醫之手。至提領。以從官內臣。參校。可謂精矣。然其間差訛者。亦不少。且以牛黃清心丸一方言之。凡用藥二十九味。其間藥味。寒熱訛雜。殊不可曉。嘗見一醫云。此方止是前八味。至蒲黃而止。自乾山藥以後凡二十一味。乃補虛門中山芋丸。當時不知緣何誤寫在此方後。因循不曾改正。余因其說而改之。信然。凡此類。必多有之。信乎誤注本草非細故也。克校之今本藥味序次多失誤。又不載山芋丸方。諸虛門中。只有大山蕷丸。大抵相適。據山蕷丸方除其藥味。則余牛黃。麝香。羚羊角。龍腦。黃芩。雄黃。犀角。蒲黃八味。是即牛黃清心丸。而外更餘地黃一味。然未知此說何所據也。黎居士易簡方等所載清心丸。與局方所載同。</p>

<h2>傷寒</h2>
<p>甚哉。醫之難學。夫醫雖末技。原為政之一端。凡有情之物。不能無疾病。故投醫藥而救夭札之患矣。神農氏嘗百草。而醫藥興焉。然而正史不載。其所謂本經。後人偽託之書。比之素問難經。則又覺稍下一等。何以素難為醫家古典。而爭衡於六經乎。而二書惟說針灸。如其方藥。則措而不舉。醫果興於神農。則素難何不載其言。夫以湯液為不足用。而不及針灸之效耶。蓋素問之書。非一時一人之作。合數篇而為一部者。據文辭而可見也。或云。出於戰國。或曰。就於漢時。又云。與淮南子同作。至五運六氣之說。則唐王冰之所偽作。而古醫籍所未嘗有也。夫醫之用。備人身之變者。而其道賤小也。後學者。欲廣大其道。仍轉說其常。則不能不言神仙卻老延齡之術。終離先王之道。別說至人真人。爾後千載。論醫者。祖述之。滔滔者。天下皆是。難經。蓋就於一人之手。其論不全知素問者之所著也。蓋作者固不假名於扁鵲。而後人尊信之。遂冒之以扁鵲。然而二書之出。去古未遠。古言之可徵者。往往散在各篇。是不可悉信。而不可悉廢焉。要之。醫之興。未可知創何時也。然與謂之未可知創何時也。不如謂之興於神農也。後漢張仲景傷寒論。始載方藥。或云。輯古方而作。或云。仲景造之。後漢書無列傳。其考既詳於前。今以仲景為仲景。惟此一書。可謂古典也。諸論有晉王叔和插入素難語。大失其真之說。今所傳傷寒論。去叔和之世。既遠矣。亦非叔和所撰次之舊。嗚呼。醫為政之一端。而不齒於藝苑。人士舍而不校。古書亦多不傳。幸有傷寒論。亦只殘簡不全。而加之有後人攙入。醫之難學。余每長太息於此。仲景之書。固是與諸醫籍不同。古來注者。不知而說之。以其不同。而欲同其不同。方枘圓鑿。終至言古方不宜今人。中世以來。淫理論。五運相剋。司天在泉之說。習熱久為性。徵之仲景。而不通。則以其所信說。攙入其書中。亦不得已也。吾邦之民。不見干戈者二百年於此。承平之久。右文之化。以及吾醫。良山先生一唱古醫方。人始知讀傷寒論。自是海內知古方宜今人。折衷於仲景。說傷寒者。何徒數十家。比之西土。則其勝遠矣。只其說古方者。明吳又可最有所見。然其著溫疫論。開卷說邪在募原。達原飲主之者。是徒欲建奇幟於千古者。而不足怪。其僻建言家之常態也。至如言白虎達表氣之劑。逐邪不可拘結糞。及其他所言。踏實地。溯源流。實識古方者也。若言溫度與傷寒不同。則亦是素難家之醫而已。舊習既為性。不足深責也。傷寒論與素難之言不同。其題名傷寒者。以群籍正傷寒之說而解之。則難通。原與冬寒之寒不相關。又曰中風者。與群籍同看。則半身不仁。口眼喎斜。於仲景則不然。論既見於風字條。吳又可又言傷寒少而溫疫多矣。實傷寒少而溫疫多。則仲景何置其多而論其少乎。或言傷寒者。雅士之言。溫疫者。田舍間之稱。夫或然。或不然。余嘗有答桃井桃庵書。頗辨此事。並附於此曰。</p>
<p>本月十六日。得老兄之書不題日月。不知其幾日發。承仲景論中中風。傷寒。真溫疫。三證之事。謹領其詳。不佞始以為老兄之於醫。以復古為業。且刻日之事。仲景所未嘗論。而老兄之新得。更得其詳。則有益於斯醫矣。仍問其詳耳。老兄蓋以建一家之言為務。古人之說。或有不合老兄之論者。則皆以為不至實境。豈欲令天下人心悉同老兄。乎。何其所見之狹乎。不佞素不好爭。故不欲言老兄建言之非。只問刻日之事而已。其刻日者。仲景所未嘗言。故言無取徵之地。又論不佞之所言中風。傷寒。皆是單病。而真溫疫。別是一證。亦是仲景所未嘗言。而老兄之私說也。老兄又曰。溫者。溫熱也。南天之餘氣。即所謂瘴癘是也。瘴者。彰也。南天彰明之淫氣。高山亦彰明。故有山嵐瘴氣。亦是仲景所未嘗言也。風土氣候。不與傷寒相涉。讀仲景書。漫引他醫籍。則徒費解。夫風土之說。嶺南衛生方等。有論說。老兄何執滯斯空論乎。願高其論。老兄又曰。疫者。行疫有鬼而流行也。故謂之疫。古人所名不亦正乎。亦是仲景所未嘗言。而以疫為有鬼者。彼我一般。漢有剛卯帶之之制。後漢有振子逐疫之式。本邦打鬼豆。擊鬼木之類。是也。聖人不語怪力亂神。假令有鬼行之。於理療之日。一切無用。又與命名之義。不相協。老兄何以言之正乎。未知老兄刻日之法。有殺鬼技否。凡疫鬼為祟之類。觀聊齋志異等。則其怪非老兄所言之比。老兄又曰。叔和一失古訓。而素難偽學興焉。素難雖晚出。而叔和以前之書。何其言謬。老兄又以皇甫謐序文中。原於伊尹湯液之語為徵。唯夫甲乙經。既後於叔和。而伊尹湯液之事。正史不記。何足以為徵焉。此他老兄所言。不遑枚舉辨之。願老兄讀天下書。而臨醫事。則復古之學。可與言。不佞竊為老兄惜之。是等之事。一面晤。則竹破冰釋。東西三百里。無緣相見。為可憾焉。今為老兄陳鄙見。請老兄少留意。夫傷寒中風者。輕重之稱呼。共失其理。則傳至陰證。又有合病並病。亦有輕重之分也。故周編論之。太陽篇中。溫病一句。後人之所加。何則。論中不再言。是全系以他醫籍並論傷寒溫病所補入也。夫仲景之所論傷寒者。正史所記疫。是也。疫者。取淫疫之義云。說文曰。民皆疾也。是與他醫方書曰正傷寒者不同。四時之通名也。蓋後漢時。或偶呼疫為傷寒。崔實政論。亦有傷寒語。其他經史未見有之。小品方曰。傷寒是雅士辭。天行溫疫。是田舍間號。此說雖謬。然不以傷寒溫疫為二證者。稍可取也。老兄所謂真溫病。仲景未嘗言。又其溫疫。豈有真候二證乎。老兄若留意於此。則不佞之所試。猶可論。若夫橫義臆斷。互以為是。則不佞所不屑。不欲與老兄爭也。照亮。不盡。</p>
<p>副治驗二首。畢覽完璧。所諭。國字書。大氐答本書中故不別陳。不佞偏頭痛。刺尺中。去惡血。後覺了了。勿勞念。不佞所申尺中。非老兄所謂指腹為尺中者。統希省察。</p>

<h2>五毒五藥</h2>
<p>古語往往指藥言毒藥。皆是比諭之言也。古方家先生。常以為談資。凡藥之為物。對疾而為用。其不冠毒字。亦非常用物。仰藥而死之類。可以見也。周禮所說毒藥。原是二物。東門隨筆既辨之。然無明證敵異說。藤田子定辨之而示余。其說鑿鑿有據明瞭。乃今錄諸左曰。周禮醫師。掌醫之政令。聚毒藥以共醫事。鄭玄注云。毒藥藥之辛苦者。藥之物。恆多毒。孟子曰。若藥不暝眩。厥疾不瘳。（按此孟子引書之文。而鄭玄不直引書者。今所謂古文尚書。晉時始行。鄭玄尚未之睹故也。）近世大儒物茂卿引此以解論語季康子饋藥夫子不嘗之章。而醫人好奇者。狃聞其說。遂創為古方家者流。謂疾醫之業。非專用毒藥不可。妄庸之徒。一意攻擊。其病雖除其人亦隨而斃。故時人有古方善殺人之諺。不意二王（王莽王安石）之後。周禮再流毒於世也。以余觀之。此不善讀周禮之過也。夫醫師。眾醫（食醫疾醫瘍醫獸醫）之長。上士二人。下士四人。府二人。史二人。徒二十人。猶後世尚藥局也。其職固云。凡邦之有疾病者。疕瘍者造焉。則使醫分而治之。則上文所謂聚毒藥者。乃以供疾醫瘍醫等之事也。藥則疾醫職所謂五藥。（注云。五藥草木蟲石谷也。）毒則瘍醫職所謂五毒。（注云。五毒五藥之有毒者。）總而曰毒藥。其不言五者。從省文也。康成以為藥之辛苦者。雖與良藥苦口之談相類。（古書良藥苦口。或有作毒藥苦口者。）然下文明言五藥五毒。則不可從也。以毒藥為五毒五藥。不獨余臆說。昔人亦有此解。（頃閱清人姜兆錫周禮輯義。其解既已如此。更考明柯尚遷周禮全經云。毒謂五毒。攻之之毒藥謂五藥。療之之藥二物也。聚之所以共眾醫之用。其說最為明瞭。）余請更詳其說。假如典婦功之職。為主婦人絲枲功官之長。而典絲職曰。及獻功。則受良功而藏之。（鄭司農云。良功絲功縑帛。）典枲職曰。及獻功。受苦功。（鄭司農云。苦功謂麻功布紵。）典婦功統之則曰。凡授嬪婦功。及秋獻功。辨其苦良。（鄭司農讀苦為鹽。謂分別其縑帛與布紵之粗細。）苦良。即典絲之良功。典枲之苦功。猶省五毒五藥而言毒藥也。疾醫職曰。以五味五穀五藥。養其病。以五氣五聲五色眡其死生。兩之以九竅之變。參之以九藏之動。凡民之有疾病者。分而治之。死終則各書其所以。而入醫師。瘍醫職曰。凡療瘍以五毒攻之。以五氣養之。以五藥療之。以五味節之。凡藥以酸養骨。以辛養筋。以咸養脈。以苦養氣。以甘養肉。以滑養竅。凡有瘍者。受其藥焉。醫師之職統之則曰。聚毒藥以共醫事。例以苦良之為良功苦功。斯可以證其為五藥五毒矣。蓋古人命名。各有其義。均之草木蟲石谷。自其可以攻之而言則為毒。自其可以療養而言則為藥。故瘍醫職掌腫瘍潰瘍金瘍折瘍之祝藥劀殺之齊。則備有五毒五藥。而疾醫職掌萬民之疾病。則言五味五穀五藥。而不言五毒。可以見已。今之古方醫。動以周禮疾醫為口實。不知本職實無五毒之文。可發一笑也。</p>
<p>上余偶讀周禮。因考究及此。嘆世無精細讀書之人。然余不學醫。未知其說於醫事當否如何也。聊錄呈南陽原先生乞其是正。</p>

<h1>卷二</h1>

<h2>伊吹艾草</h2>
<p>伊吹艾草。自古以為上品。後藤省艾灸通說載。江州豬吹山下。太平寺村。一老人齎真艾。來京師。將先君子言為徵焉。且精造法。開街店也。先君子大嘉賞。以其事口占焉。家圍才栽數根。培養甚易茂盛。又手掘採媆根。移種缸中。乃贈之諸州門弟子。令知其真偽有別也。余按在昔和歌所詠伊吹山。在下野。而非近江膽吹山也。契沖百人一首改觀抄曰。顯昭云。據能因坤元儀。伊吹山。在下野國。其跨濃江二州者。亦稱伊吹。然非是也。又按能因歌枕。亦作下野州。六帖下野艾歌。及清少納言枕草子。送人之下野州歌。亦可以證。蓋京畿好事者。以其地去京不遠。伊吹之名偶同。誤認稱揚之。近世歌人。皆以近江膽吹山。入詠。下野河內郡。都賀郡。共有標茅原都賀郡二荒山。西北有太郎岳。連其岳者曰伊吹山。其山麓乃標茅原也。（又作標原。又稱戰場原。又稱赤沼。土人相傳。昔在宇中將。居於二荒山。&lt;今稱上城者其墟也。&gt;時賊起侵疆。戰二荒山西北。&lt;戰場原也。&gt;連年不息。中將之軍。動失利。陸奧小野人猿丸。勇悍好獵。中將使人逆之。猿丸應招。來於二荒山未熟其地理。故結茅標之。戰遂有功。名其地曰標茅原。後祀中將於二荒山。為二荒神。祀猿丸於太郎岳。為慈眼太郎明神。神護景雲中。勝道上人。開二荒山。建大已貴。田心姬。味耜高彥根。三祠。以中將猿丸袝之。又宇都宮。橘利遠。崇敬太郎明神。建祠於府中。其地號伊野標茅原。蓋建祠時。擬太郎岳地名也。其地今有小野氏者。蓋猿丸之裔也云。）生艾草。其苗柔軟甘美堪食云。神名帳注曰。宇津宮神社。在河內郡宇都宮城之艮標原。祀事代主命。二荒山本宮所祀神亦同之。古今集載。多太多乃女。志免士加波良農。佐志毛玖佐。和禮我古乃世乃。阿羅武嘉岐利波（風土記曰。俗謂之示現太郎宮。相傳事代主神。舊在二荒山太郎岳。而見神於此所。故得斯稱也。上注所記慈眼太郎。蓋示現太郎之訛也。）據以上諸說。伊吹山標茅原。在下野地方者。可知也。余往年西上。經濃江諸地。膽吹山下街店。市艾。往來商旅。齎之。以貨四方。後藤不深考之誤。遂至不可改焉。通說又曰。其灸之為用也。孤行雖微。內治有力。非火氣溫之。暗通艾氣之妙。至矣。盡矣。余謂專謂火氣溫之。則溫石熨法。亦何別焉。灸之治法。不啻艾功火功最存焉。溫石也。熨蒸也。隔物徹氣。如艾灸。則點火安駐肌肉上。固與溫石熨蒸。異矣。凡百之物。皆以新近不脫其氣為良。如六陳暫置焉。特艾草。貴陳舊經年者。蓋取火勢溫溫如冬日也。新近其勢猛烈。如夏日不可於人身。於是乎畜收經年。乃聽用。孟子所謂猶七年之病。求三年之艾也。朱子曰。干久益善。即是也。凡艾灸採野艾。如法制造。經久者為良。余按膽吹艾。別是一物。即九牛草也。或云。蔞蒿。未知何是。不徒地名誤。其艾亦誤也。陳嘉謨本草蒙筌云。九牛草產均州山。葉圓長。背白有芒。莖獨植。高二尺許。氣香似艾。採亦端陽。謨按艾葉。本經及諸註釋。悉云。生於田野。類蒿。復道者為佳。未嘗以州土拘也。世俗反指此為野艾。至賤視之。端午節臨。僅採懸戶闢疫而已。其治病症。遍求蘄州所產獨莖圓葉。背白有芒者。稱為艾之精英。倘有收藏。不吝價買。彼處仕宦。亦每採此。兩京送人。重紙包封。以示珍貴。名益傳遠。四方盡開。今以形狀考之。九牛草者即此。人多不識。並以艾呼。經註明云。氣雖艾香。實非艾種。醫用作炷。以灸風濕痹疼癆熱積聚。嘗獲效者。亦因辛竄。可以通利關竅而已。謂之全勝真艾。未必能然。大抵人之常情。貴遠賤近。泥於習俗。膠固不移。縱有本經之文。諸家之注。何嘗著一目。視以為真偽之別耶。噫。可勝嘆哉。按西土亦以九牛草為藥艾者。彼我一轍。何其相似如斯乎。</p>

<h2>生生乳</h2>
<p>生生乳。出黴瘡秘錄。神效靈驗。非他藥之所及。而此藥不知其所從來。焦氏筆乘曰。宋朝類苑載。楊嵎瘍生於頰。連齒輔車外腫。若覆甌。膿血內潰。痛楚甚。療之百方不差。或語之曰。天官瘍毉中有名方。何不試用。嵎按瘍毉註疏中。法制之。用藥注瘡中。少損朽骨。連牙潰去。遂愈。按周禮瘍毉。掌腫瘍潰瘍金瘍折瘍之祝藥劀殺之齊。凡療瘍。以五毒攻之。所謂腫者。壅腫也。潰者。膿血溢也。金者。刃傷也。折者。傷損也。祝讀如注。以藥傅著之也。劀。刮去膿血也。殺。去其惡肉也。齊與劑同。五毒五藥之有毒者。石膽一。丹砂二。雄黃三。礜石四。磁石五。用黃堥。置五石其中。燒之三日夜。其煙上著。以雞羽掃取之以注瘡。惡肉破。骨盡出。黃堥。黃瓦器也。此當後世毉方之祖。又曰。瘍醫公孫知叔。記問該博。深明百藥之性。創造五毒之劑。取丹砂養血而益心。雄黃長肉而補脾。礜石理脂膏而助肺。磁石通骨液而壯腎。石膽治筋而滋肝。療瘡瘍之五證。內應五臟。拘之以黃堥。熟之以火候。藥成傅瘍。無不神效。一人須有疽。一夕決潰。勢欲殆。以前藥傅之。應手而差。是乃生生乳之祖。</p>

<h2>產婦側臥</h2>
<p>本邦產婦禁側臥。特子玄子著產論。令乳婦去產帶安臥。余嘗遊其門。親炙之。其臥者。神心安靜。得快睡。防暈除熱之良策也。其驗大勝於藥餌。而人皆憚之。頃讀一方書。曰。高山血搦治產後並金瘡。立效湯。豐臣秀次公方並云。服湯後。發汗則解去帶。側臥則妙。與產論說。暗合也。</p>

<h2>人勢</h2>
<p>李東璧曰。人陰莖。非藥物也。輟耕錄載。杭州沈生。犯奸事露。引刀自割其勢。流血經月不合。或令尋所割勢酒服。不數日而愈。按高山血搦方內。用人勢。立效湯。秀次公方。並同。而人勢作睪丸。本邦古昔入藥。治金瘡者。與輟耕錄相符。</p>
<p>高山血搦（上杉某方）　療產後血暈並金瘡。</p>
<p>人參　沉香（各一錢）　甘草（五分）　蔥白（十莖長二寸）　燒味噌（龍眼肉大）蕉　外腎（割作兩片刮去中道黃物洗淨陰乾五分）</p>
<p>上㕮咀。以水二盞。煎取一盞二分。分之二服。其一乘熱飲之。其一帶溫飲之。不留渣滓。都要飲盡。少頃渾身覺溫溫。頂上出汗。須去中帶。穩臥如平常。任其睡。勿呼起。若不解帶而臥者。為後患。</p>
<p>立效湯（吉松流方○按松疑益字之誤）　治金瘡產後並角弓反張者。</p>
<p>人參　沉香（各三分五釐）　甘草（五釐其人面白者炒赤者生用）　蔥白（長一寸許三莖加至七莖銼乾用者亦佳）</p>
<p>燒味噌（栗子大去外邊焦黑者干收）　睪丸（三分五釐臘月取之割為片插竹北陰之地曝乾漬好酒一宿銼干若無睪丸代胞帶或加至五分）</p>
<p>上水二盞。煎取一盞半。熱飲。當背脊汗出。候其額上漐漐然。再飲。令去帶側臥。則佳。有熱者。倍加睪丸。無熱者。減半。血氣上衝者。加童便三蛤貝殼許。以四五歲兒便。為良。無汗身冰冷者。加蔥七莖。汗多者一莖。凡服藥後。若吐者。凶。產後中風。或角弓反張。或惡露不下。或發瘧。並主之。禁如法。且忌乾柿。</p>
<p>豐臣秀次公方　治產後血暈兼金瘡。</p>
<p>人參（大）　沉香（中）　睪丸　甘草（各少許）　蔥白（二寸許七莖）　燒味噌（龍眼肉大）</p>
<p>上㕮咀。加麝香少許。用水一盞半。煎至半盞。熱服。候其鼻尖發汗。解帶側臥。勿掉搖。血暈不省人事者。最宜服之。其證不具者。勿用。</p>

<h2>蠱</h2>
<p>晉侯求醫於秦。秦伯使醫和視之。曰。疾不可為。是謂近女室。疾如蠱。非鬼非食。惑以喪志。又曰。生內熱惑蠱之疾。（後世所謂陰虛火動之症也。）趙孟曰。何謂蠱。對曰。淫溺惑亂之所生也。於文皿蟲為蠱。谷之飛。亦為蠱。在周易。女惑男。風落山。謂之蠱。杜預曰。蠱惑疾。按惑蠱。蓋古所稱之病名。於今復不用。張仲景所謂百合狐惑病。狐蠱音或通。崔氏方曰。易有蠱卦。又子產所說。並以器皿中蟲為蠱。今省。凡皿上安一蟲字。或作蟲邊。大非體也。（隋書志。江南諸郡。往往畜蠱。而宜春偏甚。其法以五月五日。聚百種蟲。大者至蛇。小者至蝨。合量器中。令自相啖。餘一種存者留之。蛇則曰蛇蠱。蝨則曰蝨蠱。行以殺人。因食入人腹內。食其五臟。死則其產移入蠱主之家。三年不殺它人。則畜者自鍾其弊。累世子孫。相傳不絕。亦有隨女子嫁者。）余按為子產之言者誤也。晏子春秋曰。無良左右。淫蠱寡人。後漢梁冀妻壽。善為妖態以蠱惑冀。是亦同義。而不必病名。戾太子巫蠱之事。亦非此義。而醫家所說。有水蠱。飛蠱。蠱脹。腸蠱。蠱注痢等之稱。毉書謂蠱有數種。而人養作者。最多也。中毒者。吐下惡血而死。腸蠱。蠱注痢者。以其似器中蠱之狀。為名也。水蠱與蠱脹。並非中毒淫惑之症。靈樞曰。男子如蠱。女子如怚。香川太衝解蠱字曰。鼓蠱音通。是也。春臺漫筆曰。狗蠱蓋本巫蠱之義。病源候論曰。貓鬼者。云是老貍野物之類。變為鬼蜮。而依附於人。人畜事之。猶事蠱。以毒害人。其病狀心腹刺痛。食人腑臟。吐血痢血而死。有野道者。是無主之蠱也。人有畜事蠱。以毒害人。為惡既積乃至死。其蠱則無所依止。浮游田野道路之間。有犯害人者。其病發。猶蠱狀。按稱飛蠱者。是也。飛蠱。肘後方云。去來無由。漸狀如鬼氣。（字彙曰。米久積變為飛蠱。增韻謂蛾。）沈存中夢溪筆談曰。予在中書檢正時。閱雷州奏牘。有人為鄉民詛死。問其狀。鄉民能以熟食咒之。俄頃膾炙之類。悉復為完肉。又咒之。則熟肉復為生肉。又咒之。則生肉能動。復使之能活。牛者復為牛。羊者復為羊。但小耳。更咒之則漸大。既而復咒之。則還為熟食。人有食其肉。覺腹中淫淫而動。必以金帛求解。金帛不至則腹裂而死。所食牛羊。自裂中出。獄具案上。觀其咒語。但曰。東方王母桃。西方王母桃。兩句而已。其他但道其所欲。更無他術。許宏湖海奇方云。經驗方。治桃生（桃。仁齋直指方。作挑）　毒。忽肋下腫起如癰疽狀。頃刻大如杯碗。乃中桃生毒也。俟五更。以綠豆細嚼試。若香甜則是也。急以川升麻為末。取冷熱水。調二錢。連服之。若洞泄出如蔥根者。腫即消也。卻以平胃散調補之。郎瑛七修類稿曰。雲貴廣西有云桃生者。妖術也。以魚肉請人。遂作術於中。人食之。則此物遂活於胸腹。害人至死而後已也。嘗見範石湖桂海虞衡志載。當時李壽翁。為雷州推官。得一方。甚妙云。食在胸膈。則服升麻吐之。在腹則服鬱金下之。想即今之下蠱云耳。虞衡志。頗無。而士官病之也。揭出之。又陳明善洗冤錄。載金蠶蠱。藥思蠱。事小異。（洗冤錄曰。金蠶。一名食錦蟲。蟲屈如指環。食故緋帛錦。如蠶之食葉。　滇蜀湖廣閩粵。皆有。奸人畜之取其糞。置飲食中。毒人。人即死。蠶得所欲。則日置他財使人暴富。然遺之極難。水火兵刃都不能害。必倍其所致金銀錦物。置蠶於中。投之路旁。人偶收之。本隨以往。謂之嫁金蠶。不然人人腹殘齧腸胃。完而後出也。○粵西有藥思蠱。狀似灶雞蟲。如蠶豆大。能變幻作小孩形。遣嫁之法。彷彿金蠶。）春臺所言狗蠱者。乃錢希言獪園所謂常州人。好殺犬以祭淫神。而犬名韓盧狗大王。即犬妖所作矣。即是。醫藥正傳載殺白犬治驗一條。亦犬妖所作。而事與是不同。（醫學正傳曰。一婦人年二十七。美貌。得一證。如醉如癡。頰赤面青。略有潮熱。飲食不美。其脈乍疏乍數而虛。每夜見白衣少年與睡。一醫與八物湯。服數十貼。不效。召予治之。見其家有白犬臥枕戶閾。予曰。必此犬為怪。命殺犬取其心血及膽汁。丸安神定志之藥。以八物吞下。服藥十數貼。丸藥一料。以安。其丸藥用遠志。石菖蒲。川歸。黃連。茯神。硃砂。側柏葉。草龍膽等藥也。）</p>

<h2>貓鬼野道</h2>
<p>貓鬼野道。余久疑之。巢元方曰。老貍野物之類。變為鬼蜮。而依附於人。人畜事之。獨孤陀婢呼曰。貓女可來。（隋書獨孤陀傳曰。徐阿尼。事貓鬼。每以子夜祀之。言子者鼠也。陀嘗從家中索酒。其妻曰。無錢可酤。陀因謂阿尼曰。可令貓鬼向越公家使我足錢也。阿尼便咒之。居數日貓鬼向素家。十一年上初從幷州還。陀謂阿尼曰。可令貓鬼向皇后所。使多賜吾物。阿尼復咒之。遂入宮中。大理亟楊遠乃於門下外省遣阿尼呼貓鬼。阿尼於是夜中置香粥一盆。以匙扣而呼之曰。貓女可來。無往宮中。久之。阿尼色正青。若被牽曳者云。貓鬼已至。由是其事具得實。）是貓精以淫祀所畜之物。而非他物之變也。所以言貓鬼也。野道。巢氏以為無主蠱。於原野上所得也。隋高祖。開皇十八年。延州刺史獨孤陀有婢曰徐阿尼。事貓鬼。能使之殺人云。每殺人。則死家財物。潛移於畜貓鬼家。會獨孤後及楊素妻鄭氏俱有疾。醫皆曰貓鬼疾也。上以陀後之異母弟。陀妻楊素異母妹。由是意陀所為。令高熲等雜治之。具得其實。上怒。令以犢車。載陀夫妻。將賜死。獨孤後三日不食。為之請命曰。陀若蠹政害民者。妾不敢言。今坐為妾身。敢請其命。陀弟司勳侍郎整指闕求哀。於是免陀死。除名為民。以其妻楊氏為尼。先是有人訟其母為貓鬼所殺者。上以為妖妄。怒而遣之。至是詔誅被訟行貓鬼家。夏四月辛亥。詔畜貓鬼蠱毒厭媚野道之家。並投於四裔。蓋野道。言左道妖術之事。非其道。故曰野也。果為無主蠱。則令何物奉此詔乎。</p>

<h2>水腫</h2>
<p>平安山脅東門先生。寄書曰。得浪華林一烏治水腫方曰。地膚子。（大）大麥。小豆（各中）　上三味各別炒。合和調勻更炒之。是一烏之奴。竊識而傳之也。余不知林一烏為何人。後讀望鹿門又玄余草。有林一烏傳。曰羽林山名氏。持節戍鎮攝城。臨往令烏以醫藥從焉。到時城內逢於疫腫更興焉。一般流行。暴死者甚多。烏為設一法。又立一方。斷禁米粟。偏食菽麥。以令疏泄敦阜。乃試施之。屢有收功。後好事者。或名為腳氣腫滿云。然烏者惟稱腫不用別名。烏來東都。寓居於金龍山畔。其治驗藥餌。自積為書。名客中集。其書半刻在世。半藏在家。未全備。乃活套也。其立方。禁秘枕中。不欲傳非人。故其書不載。或欲將三百金換其方者。不敢肯。然今其不傳。後世恐屬烏有。可惜哉。東門先生之所傳。蓋此方也。或傳三輪神庫。藏水腫方。茯苓。豬苓。澤瀉。大麥。赤小豆。地膚子。（各等分）　牽牛子（半分）　郁者加木香。上逆加檳榔。後林一烏加縮砂。香附子。各一分半。七日內。餌麥與赤豆。林氏據三輪方者也。浪華有澀川者。余聞其善治水腫。因叩其方。曰。禁穀食。令食赤小豆一味。以砂糖或醬鹽。隨其好和調之。一二日厭食赤豆者。單麥間之。雖菜果。不許食之。如此二三日。而得快利。其間服赤小豆。豬苓。澤瀉。木通。縮砂。（各五錢）　香附子。（一錢）　上水煎。亦據林氏之法者也。</p>

<h2>菌毒</h2>
<p>香祖筆記曰。天平山僧。得蕈一叢。煮食之。大吐。內三人取鴛鴦草。啖之。遂傳。二人不啖。竟死。鴛鴦草。藤蔓而生。黃白花對開。治癰疽腫毒。尤妙。或服或傅。皆可也。蓋沈存中良方所載金銀花也。余未試。俟後日。菌有毒。人皆識之。都會之人。所食者香黃菌之屬。皆無毒。山林幽闢之人。或食無名諸菌。中毒者。多致殞。余幼時。在江戶駒籠邸。先鋒隊卒三人。入永樂園。見橋柱慄村生菌。把之烹食。明日一人出學射。持滿而發。箭飛二三尺。而墮。自云咄咄怪事。又發。落膝前。傍人皆笑。俄然昏倒。人皆以為風痱。舁而送舍。則前二人既病臥在床上。一人其中毒稍輕者。自云昨所食之菌毒焉。諸醫亂投備急。犀角等諸藥。無寸效。一身黑紫。經二三日而死。一人稍輕者得活。周密癸辛雜識曰。嘉定乙亥歲。楊和王墳上。感慈庵僧德明遊山得奇菌。歸作糜供眾。毒發。僧行死者十餘人。德明亟嘗糞獲免。有日本僧定心者。寧死不汙。至膚理坼裂而死。至今楊氏庵中。尚藏日本度牒。其年有久安保安治承。（原作象誤）等號。僧銜有法勢大和尚。威儀。從儀。少屬。少錄等稱。是歲其國度僧萬人。定心姓平。日本國京東相州。行香縣。上守鄉。光勝寺僧也。人中黃。解諸毒。人皆識之。而不用之先鋒卒者。偶然之失可惜。余幼不及此事。每想愴然。</p>

<h2>黃龍湯</h2>
<p>肘後方曰。絞糞汁飲數合。至一二升。謂之黃龍湯。（小柴胡湯又名黃龍湯。見於千金方。）是解毒良品。運用多端。不可不知也。不啻消菌毒。內飲外塗。其效甚多。以常有之物。或嫌其穢汙。人多不用。寄園寄所寄曰。風狗毒蛇咬傷者。以人糞塗傷處。新糞尤佳。諸藥不及此。余當著瘈狗傷考一篇。詳述之。此不復贅焉。齊書。和士開。威權日盛。嘗有一人士。參士開疾。值醫云。王傷寒極重。應服黃龍湯。士開有難色。人士曰。此物甚易服。王不須疑。請為王先嚐之。一舉而盡。士開感其意。為之強服。遂好愈。</p>

<h2>黃胖</h2>
<p>源養德腳氣類方曰。近世有浮苦病者。方言也。其症肢體黃腫。胸腹為脹。治之以水葒鐵粉之劑。服者多愈。蓋田夫野人。多罹此疾。或云黃胖也。又有母多足者。一名阪下。皆方言也。足脛為腫。起居如常。甚者難步履。今時屢見兩足粗大與病偕老者。即古所謂壅疾是也。又高野山中。冬月間。童子十五六歲者。多罹腳疾。初其感之兩腳為攣。行步艱痛。坐臥則如忘。他無所苦。數與藥餌。無效。唯當春暖之時。投腳田澤中。屢蹈泥濘則愈。或不愈者。動輒為痼。終身禹步云。率遭此病者。為瘦人。肥人無之。予謂皆是腳氣之類也。按此病此間未嘗見之。是風土之異也。青浮苦病。又亞遠之病。又阿於太牟。即黃胖也。醫學綱目。證治準繩。並曰。食勞疳黃。一名黃胖。張氏醫通。食勞黃疸。俗曰黃胖。香川太衝曰。此名出於衛生方鑑。行余醫言論之詳。中人以下。多染此病。余按本藩地方。栽培菸草之處。尤多此病焉。其證身體青黃。浮腫。起居動作。喘息。膈間動悸如鼓。上衝人迎。築築然而耳鳴。其劇者或欲起行。則先眩悸喘息。平坐偶然則動穩喘平。精神不甚惡。但偃蹇懈怠。其人手足爪甲。枯碎不長。皺反不澤。是其兆也。大學所謂心廣體胖。朱子曰。胖安舒也。蓋病之者。多眩悸喘息。不能疾步急作。常欲寬平安舒。其名胖蓋取義於此也。治方綠礬為君藥。針砂亞之。吾門有針砂湯。皇盤丸。數用數驗。母多足。與黃胖異。別有說。阪下之名。蓋取義於其眩悸短氣。不能登高。頃得元祿年間所輯方書。其中載治青腹病。一名阪下者。葛粉。麵粉。各百錢。硫黃。五錢。鐵粉。五十錢。上各以好酒煉。風乾堅硬。再末篩。日三服。每一錢。白湯送下。服後大便必黑。勿驚。是其驗也。若面色及手足。尚不復者。加水苦藚。薄茶半服許。是黃胖也。沈慶暘萬病必愈曰。五疸神丹。綠礬。不拘多少。炒至白色為度。若入瓶中。火煅尤好。細末。煮棗肉為丸。如櫻桃大。每服五丸。早晨。午間。晚上各一服。冷酒送下。忌醋生冷發物。若蟲亦吐出神效。古人都屬之黃疸者。為未穩也。今治之其證未甚著。有兼痰喘久嗽等並病者。又有傷風痔漏。藏毒帶下。去血過多後。為斯症者。宜識之。治方皆同。而方書所未論也。永類鈐方曰。腸風下血。積年不止。虛弱甚者。一服取效。綠礬四兩。入砂鍋內。新瓦蓋定。鹽泥固濟。煅赤取出。入青鹽生硫黃各一兩。研勻再入鍋中固濟。煅赤取出。去火毒。研入熟附子末一兩。粟米粥糊。丸梧子大。每空心。米飲溫酒任下三十丸。又魏氏家藏方載硫附鹽礬丸曰。治經年久病下血虛弱甚者。而其方大同小異。是亦失血後為黃胖之症。只謂虛弱甚者。蓋見其面色青黃。虛悸喘息。而稱之也。其方劑。治黃胖之方。而非治虛弱甚者之藥也。古人之說。有所未盡。</p>

<h2>母多足</h2>
<p>母多足。與黃胖異。古曰尰。曰瘇。養德屬之腳氣者。傳證治準繩之誤。又言古所為壅疾者。為不穩。千金方曰。夫腳氣者。擁疾也。消渴者。宣疾也。春夏陽氣上。故擁疾發。即宣疾愈也。秋冬陽氣下。故宣疾發。即擁疾愈也。審此二者。疾可理也。香川太衝曰。有一種俗呼腯腳者。其證初發。不覺何因而然。或一腳。或兩腳。脛腫大。不痛不癢。行步不妨。雖不治療。終身無害。間有腿腫者。此亦瘀血惡汁之凝結。腳部者。而與陰㿗同類。王肯堂與腳氣同看。非也。可謂活眼矣。余嘗視之。但腳脛腫大。行步槃散。又有陰囊腫脹。殆及地者。其因屬㿗疝者明矣。小雅云。既微且尰。注曰。骭瘍為微。尰與瘇同。賈誼曰。天下之勢。方病大瘇。一脛之大幾如腰。一指之大幾如股。平居不可屈伸。如淳曰。腫足曰瘇。是乃母多足也。有林福田方特載足尰（尰原作⿺元重誤）刺灸之法。余未試。（福田方曰。以甘刀足第四第五指間。赤脈處並踝下骨解。泄其惡血。血至一斗五升而無害。若見余處有赤脈者。破之𡃤惡血。傅大黃膏。勿令得風水。又云。刺內踝上大脈。血出即差。又云灸外踝夫上。又云檢之有赤脈血路。灸其侄兩三處。各二十一壯。尤佳。注曰。侄元慄切。一寸也○𡃤當作嗽。</p>

<h2>祭神農</h2>
<p>潛居錄曰。八月朔。古人以此日。為天醫節。祭黃帝岐柏。本邦醫家。以正月八日。祭神農。蓋原於藥師如來結緣日。（慈覺大師。修經時一佛一神。日來護之。藥師尊。江文大明神。以八日現依為結緣日。）可笑之甚也。大已貴命。少彥名命。為本邦醫藥之鼻祖。而醫家不祀二神者。蓋由無遺訓及今日者。惜哉。其方法之亡。世傳大同類聚方抄本。安部真貞奉敕所撰云。近浪華木孔恭鐫行。內有稱神方者。古云。盡信書不如無書。余於此篇亦云。</p>

<h2>痘神</h2>
<p>倉山隨園詩話曰。痘神之說。不見經傳。蘇州名醫薛生白曰。西漢以前無童子出痘之說。自馬伏波徵交阯。軍人帶此病歸。號曰虜瘡。不名痘也。語見醫統。余考史書凡載人形體者。妍媸各備。無載人面（面原作而刮誤）麻者。惟文苑英華載。熲川陳黯年十三。神詩見清源牧其（其疑某）曰。篇詠河陽花。時痘痂新落。牧戲曰。汝藻才而花面。何不詠之。陳應聲曰。玳瑁應難比。斑犀點更嘉。天憐未端正。滿面與妝花。似此為痘痂見歌詠之始。樂宮譜耳食錄曰。痘神何神也。姑勿深考。或曰。居峨眉山。姐妹三人。身著麻衣。蓋女仙之流。主人問痘疹之疾。人呼為麻娘娘云。神甚靈顯而嚴於小節。病痘之家。為位奉之。言語稍不檢。衣物稍不潔。及誠敬少懈者。病者輒作神言語阿譴之。雖私隱無不揭。其甚者。痘或不治為得罪於神也。靈異之跡。不可勝紀。然亦非妄禍人者。吾鄉陳君洪書。兒時以痘死。置於東廂。其母撫而哭之。坐於戶限。倦而假寐。見三麻衣婦人。入室視兒驚曰。向幾誤此望都宰也。可放還。言畢出戶去。母驚覺。兒已蘇矣。後果仕望都縣令。罷官歸。今猶在。由是觀之。痘殤者。非盡神之為政也。其亦數之前定者歟。望鹿門醫官玄稿。痘疹十奇說。有祭痘神。及酒湯之事。（醫官玄稿曰。吾俗間。祭祀痘神神實如在焉。凡至十二朝。期畢。乃令浴痘兒謂之酒湯。因其湯中灌酒也。若後期則災害並至。而此法獨不在於彼。以其方書無明據。世之醫有難之者。然自古有所試驗而然。俗習不得止也。）又櫻陰腐談。言酒湯出於全幼心鑑者。誤也。（全幼心鑑曰。十二日。十三日。瘡痂已落。其瘡瘢。或凸或凹。肌肉尚嫩。不可澡浴。）酒湯之事。未知創於何時。余家兄弟兒女。皆系痘患。未嘗用祭祀及酒湯之事。甥侄又慣之。終無一異云。本邦患痘家。必祭疱瘡神夫妻二位於堂。俗謂之裳神。巫曰。無神名。臨時迎祭所在近祠之靈神。如其然。則當供一神而可。何祭其配乎。或曰。痘疹守護神者。出雲國大社之末社。鷺森明神文德仁壽三年。依神命祭之。（鷺森明神。祭天月神命。舊事本紀云。天月神命壹岐縣主等祖。頭書曰。紀如尚云。天月神命。是亦非月讀命。高皇產靈裔神也。顯宗紀云。月神著人曰。我祖高皇產靈。有熔造天地之功。奉以歌荒㺐田。壹岐縣主侍祠。神名帳曰。壹岐郡。月讀神社。高御祖神社。又曰。山城國葛野坐月讀神社。所謂月神月讀神社。共是天月神命也乎。）而祭夫妻二神者。終不可解。獪園曰。吳俗抱痘之家。必供五郎神於堂。既兆吉。具牲牢獻之者。此名花花五聖。又曰。乃知惡鬼。即是痘司鬼。神來攝小兒。或云是死於痘者。來求受替也。</p>

<h2>痘瘡</h2>
<p>痘瘡諸說。皆云。起於後漢時。而原於馬伏波徵南陽行卒患虜瘡之事。而後漢書。不記此事。當以出於肘後方為證。肘後之書。雖經後人之手。猶為古書。（肘後方曰。比歲有病時行。仍發瘡。頭面及身。須臾周匝。狀如火瘡。皆戴白漿。隨決隨生。不即治劇者多死。治得差後瘡瘢紫黑。彌歲方滅。此惡毒之氣也。人云。永徽四年。此瘡從西東流。遍海中。煮葵菜以蒜虀啖之。即止。初患。急食之少飯下菜亦得。以建武中。於南陽擊虜所得。仍呼為虜瘡。諸醫參詳作治。用之有效。方取好蜜通身上摩。亦可以蜜煎升麻數食之。○余按後世升麻葛根湯之所祖也。）本邦痘瘡始天平七年乙亥時。醫不識其救法。公卿多斃於此病。醒醐帝始有患痘之事。文德寶錄曰。仁壽三年二月。京師及畿外。多患皰瘡。死者甚眾。天平九年。及弘仁五年。有此瘡患。今年復不免此瘡而已。羅浮子曰。痘瘡之病。考諸醫家之說。隋巢元方雖說傷寒斑瘡豌豆瘡皰。無方藥。唐孫真人書。豌豆瘡。在傷寒部中。而有治方。宋陳言曰斑瘡病。內經與仲景。皆不載。蓋魏朝方有焉。以白頭赤根者。俗為豌豆。即斑瘡也。細粟如麻者。俗呼為麻。即虜瘡也。又有大者。為芋為萍。此皆輕重之不齊。故命名異耳。而亦有治方。孫陳所言。乃似不拘壯幼。蓋真人者。唐高宗時人。而在天平之前。然則豌豆瘡自漢土傳我西州。而至京師。古昔無之。而此時初發乎。藤原公忠後愚昧記載。應安七年。後光嚴帝。患痘瘡。施藥院使丹波篤直以柚針刺之。病終不治。自天平至應安六百四十餘年。何不熟其方法乎。然痘瘡實起後漢歷三國六朝。至唐無明辨之者。則又何獨責篤直乎。紅毛治痘灌膿時刺去膿。蓋防內攻之策云。五雜俎曰。韃靼種生無痘疹。以不食鹽醋故也。近聞其與中國互市。間亦學中國飲食。遂時一有之。彼人即舁置深谷中。任其生死。絕跡不敢省視矣。一云不食豬肉故爾。西域聞見錄曰。小兒亦出痘。輕而易。過百中或損一。亦從無回子麻面者。倘出痘者多。則避於深山極寒之地可免。克按其症之發不在食餌。五島八丈島亦無此病。蓋其風土為然。西肥鮮此患。人士未染者。不能遠離其地。含使命四方。或於役江戶。裹足境內。與彼禁錮一般。故聞長崎及諸方痘瘡流行。則或往其地。祈其傳染。或行種痘法而歸。翁加里亞國亦無痘。行商濟異域者。先行種痘法。而後航海。明和年間。遷八丈民於下野芳賀郡。居頃之而老壯患痘。寬政八年丙辰五月三日。常陸那珂湊。一船漂著。所乘十一人。問之曰。伊豆三宅島舟也。去年七月廿二日。載流徒送八丈島。十月至島。今年四月發島。遇西風至於此。當日檢之告官。令吏賜糧食。內有八丈島民三人。曰。八丈島自古無痘瘡。方今一般流行。斃於此病者。日多一日。小民無智。以保一日之命為幸。奔走竄伏。隱山入谷。避之猶避敵。耕耨漁樵。一時廢業。恐令公田赤地。村甲伍老。入山教諭。以痘災未除。惟死之懼。所保結官絹。染絲既成。織女竄山。或臥枕。無紡績者。恐致稽遲。因報知之具狀以聞。本島之例。不經八十八夜。則不能渡海。蓋避風濤之災也。予輩不及待之。故托三宅島舟解纜。果遇駭風。漂流於此。因問其詳曰。寬政乙卯。九月廿七日。八丈島船自伊豆歸。所乘三根村民。於船中得病。十月三日。周身發紅。不知何病。醫議曰。痘瘡也。本島從來無此病。今有此症。恐傳染外人。乃區畫裡外。構小舍置之。終以不起。延及其家人鄰側。先是天明年間。島內樫立村。痘疹流行。死者甚多。以故人心益不安。三根村外十里。斷路。禁往來。使樫立村往年患痘者。役使之。島吏趣三根村。看護之。死者不止。小民棄家攜妻子。遁逃山中。無幾支村稻葉里。發痘。島吏令病者悉送之本村防之。日後患者比比相屬。不能又送之。其死者多系老壯。如幼少者其病輕。三根村。男女千四百餘口。竄山者。二百餘人。惟患者。千二百人。死者四百六十人。末吉。樫立。二村。與三根村隔山。故禁村民不得相交。客歲晚冬。樫立村有一人罹患者。速遷之裡外。往年死於痘者。三百餘人。今年病者皆是幼童。以故死者少。樫立村。男女九百餘口。患者百三人。死者二十九人。末吉村去年臘月一人得痘。並其未發痘之時至其家者。遷之居里外。不得與村人相交會。人人慾棄家避山中。盤驗之。無糧可支數日者。仍教諭就農桑漁樵。至今年正月。比屋患之。末吉村男女八百餘口。皆逃去山中。患者五十五人。死者十五人。大賀鄉預防之。禁村民與他村往來。客歲季冬有一人發痘者。速遷之三根村。鄉中驚怖。竄入山中。其得免痘死。亦不得免餓死。里正等招諭就產業。無一人歸者。逃山中者。得痘。又令遷之三根村。無幾患者相次。不暇悉遷之。男女千八百餘口。患者百二十六人。死者四十七人。中之鄉。不與痘村相通。嚴防之。至今年早春。一人發痘。送之裡外處草舍。教諭鄉中。勸產業。又一人得痘。鄉人謂不入山。則不能免。與死於痘。寧死於餓。一時騷亂竄入山中。不日山中發痘者多矣。仍有稍稍歸家者。男女千餘口。患者四十人。死者十三人。小島令禁渡海。故無痘疢。小島民來寓三根村者。二人罹災死。青島往年地中出火焰燒後。八丈人遷居墾田。島人預防痘災。然亦終不能免。男女百五十餘口。患者十九人。死者十三人。</p>

<h2>素問評</h2>
<p>靈蘭秘典論曰。心者君主之官也。神明出焉。肺者相傅之官。治節出焉。肝者將軍之官。謀慮出焉。膽者中正之官。決斷出焉。徂來先生素問評曰。此篇晉代之文。何則。漢魏晉。丞相多兼太傅。將軍春秋以後之官。中正乃魏晉之官。按周成王作周官曰。立太師太傅太保。茲惟三公。論道經邦。爕理陰陽。少師少傅少保。曰三孤。貳公弘化。寅亮天地。弼予一人。則三太。周之三公也。故不以一職為官名。又以三少為孤卿。與六卿為九焉。傅已創於周。將軍未聞周以前有之。三代之制。天子六軍。其將皆命卿。故夏書曰。大戰於甘。乃召六卿。蓋古之天子。寄軍政於六卿。居則以田。警則以戰。所謂入使理之出使長之之義。諸侯之制。大國三軍。次國二軍。小國一軍。其將亦命卿也。晉獻公初作二軍。公將上軍。則將軍之名。起於此也。魏獻子。衛文子。並居將軍之號。（左傳。晉閻沒女寬。謂魏獻子曰。豈將軍食之而有不足。又禮記將軍文子之喪。既除而後越人來吊。又家語曰。衛將軍文子。問子貢是也。）又老子三十一章曰。偏將軍居左。上將軍居右。中正。按古五行之官。春官。木正曰句芒。夏官。火正曰視融。秋官。金正曰蓐收。冬官。水正曰元冥。中官。土正曰后土。後人中正之名。蓋起於此。史記陳勝既為楚王。以朱房為中正。</p>

<h2>一具</h2>
<p>方書云。魚獸鳥心肝。秤量者。呼一具。全具不傷敗者一個之謂也。王漁洋池北偶談曰。王景略。臨終托其子皮。十具牛為治田之資。不為求官。亦葛侯八百本桑之意。今江淮以北。謂牛四頭為一具。俗語有所本。此說與方書所謂一具。固自不同。</p>

<h2>吹奶</h2>
<p>方書言吹奶。即乳癰也。儒門事親云。乳癰俗呼曰吹乳是也。又病人答曰。吹你。寇宗奭曰。地黃。葉如甘露子。花如脂麻花。北人謂牛奶花。又李時珍曰。俗呼其苗婆婆奶。又遵生八箋有牛奶柑。此他俗語稱婦人曰奶奶之類。不暇每舉。而字書不載奶字。貝原好古和字雅曰。乳你奶腉並同。字彙曰。你音乃。乳也。蓋自你音乃。生一奶字來者。而字書不收者遺脫也。竇漢卿瘡瘍經驗全書。論吹字曰。外吹乳者。小兒吮乳吹風。在內故也。內吹乳者。女人腹中有孕。其胎兒轉動。吹風在外故也。煎藥中須用保胎之劑以治。乳發之藥同治之。而言其胎兒轉動吹風者。為迂遠。</p>

<h2>畏疫</h2>
<p>論語曰。鄉人儺朝服而立於阼階。孔安國曰。儺驅逐疫鬼。郊特牲曰。鄉人裼。孔子朝服。立於阼。在室神也。鄭玄曰。裼強鬼也。謂時儺索室。毆疫逐強鬼也。裼或為獻。或為難。音曰。裼音傷。難或作儺。周時既有畏疫之事。屠蘇辛盤之屬。皆興於畏疫者。於門戶上。插種種之物。西土俗。亦同。除日插鰯魚頭尾於門戶。名曰疫案山子。（松下見林國朝佳節錄曰。今按插魚頭者。旁礫之義。）紀貫之土佐日記載。門戶插鯔頭枸葉。蓋昔不必用鰯魚。陳善捫蝨新話曰。予聞關中人。不識蟚蟹。人有得一干蟚蟹者。或病。則掛之門。其病遂愈。沈存中曰。不但人不識。鬼亦不識也。本邦之鬼。亦不識鰯魚也。（夢溪筆談曰。關中無螃蟹。元豐中予在陝西。聞秦州人家。收得一干蟹。土人怖其形狀。以為怪物。每人家有病瘧者。則借去掛門戶上。往往遂差。不但人不識。鬼亦不識也。）</p>

<h2>假作正月</h2>
<p>凡世俗遇疫邪災疾凶荒之歲。則不問何月何日。假作正月模樣。以為除舊迎新。凶災可轉。相呼曰流行正月。香祖筆記曰。老學庵筆記陳師錫家。亨儀。以冬至前一日。為冬住。又云唐盧頊傳云。是日冬至除夜。乃知唐人冬至前一日。亦謂之除夜。吾鄉三十年前。冬至節。祀先賀歲。與除夕元旦同。近乃不行。亦不知其所以然也。乙酉夏。二東多疫。忽有鄉人持齋素者。言以五月晦為除夕。禳之則疫可除。一時村民。皆買香燭。祀神祇祖先。亦妖言也。乃知西土亦有流行正月。</p>

<h2>知雨霽</h2>
<p>病者知風雨晦晴者。皆是血分之不爽也。或屬虛乏。或屬瘀滯。打撲折傷癥瘕。疝癖。皆知之。只蟲積之一症。乃系別因。其治在於此。不在於彼。關羽嘗為流失所中。貫其左臂。後創雖愈。每至陰雨。骨常疼痛。醫曰。矢鏃有毒。入於骨。當破臂作創刮骨去毒。然後此患乃除耳。羽更伸臂令醫劈之。時羽適請諸將飲食相對。臂血流離。盈於盤器。而羽割炙引酒。言笑自若。唐司空邠王守禮。庸鄙無才識。每天將雨及霽。守禮先言之。已而皆驗。岐薜諸王。言於上（玄宗）　曰。邠兄有術。上問其故。對曰。臣無術。則天時。以章懷之故。幽閉宮中。十餘年。歲賜敕杖者。數四。背瘢甚厚。將雨則沉悶。將霽則輕爽。臣以此知之耳。因流涕沾襟。上亦為之慘然。守禮。章懷太子之子也。</p>

<h2>鴟梟鵂</h2>
<p>西土人。忌鴟鵂鴞屬。本草載。鴟鵂。夜飛晝伏。入城城空。入室室空。若聞其聲如笑者。宜速去之。又曰。鴞即梟也。一名鵩。入室主人當去。賈誼鵩鳥賦。即惡其不祥也。鴟鵂與鵩甚相似。各有其類。共忌入於人家。日木紀仁德紀曰。天皇生日。木兔入於產殿。譽田天皇召大臣武內宿禰。語之曰。是何瑞也。大臣對言。吉祥也。昨日臣妻產時。鷦鷯入於產屋。是亦異焉。天皇曰。今朕之子。與大臣之子。同日共產。兼有瑞。是天之表也。取其鳥名。各相易名子。為後葉之契也。是木兔宿禰也。木兔乃鴟鵂也。本邦原不忌此物。頃讀徐氏筆精（徐⿰火力著）曰。梟惡鳥也。人聞其鳴。輒為不祥。昔梟鳴牙旗。謝艾乃兆軍勝。梟鳴庭樹。張率更乃先授官。唐章顓將放榜日。梟鳴檐際。逐之復還。顓曰。我失意無所恨。兼恐橫罹災患。須臾榜出。顓登第。然則梟非惡鳥也。一士人語余曰。頃夜間聞少婦巧笑。始以為鄰人。細聞之。則其聲在庭外樹梢。家婢侍兒輩驚畏。無出氣者。須臾又聞老丈高笑。不知何怪。最後作鴟鵂鳴兩三叫去。始知其鴟鵂。余曰。本草有之。聞其聲如笑。宜速去之。曰。笑是非不祥之聲。是何理。余不知其對。</p>

<h2>饑饉</h2>
<p>唐德宗貞元中。關中倉廩竭。禁軍或自脫巾呼道曰。拘吾軍而不給糧。吾罪人也。上憂之甚。會韓滉運米三萬斛至陝。李泌即奏之。上喜遽至東宮謂太子曰。米已至陝。吾父子得生矣。時禁中不釀。命於防市。取酒為樂。又遣中使。諭神策六軍。軍士皆呼萬歲。時比歲饑饉。兵民率皆瘦黑。至是麥始熟。時有醉人。當時以為嘉瑞。人乍飽食死者復五之一。數月人膚色。乃復故。本藩郡縣所在。設稗倉而畜積數十百歲。人以為長物。天明癸卯。七月七日。天雨砂土。如重霧。如篩灰。相去咫尺。不可相見。日影如未磨鏡。翳翳無光采。白晝晦暗。家家點燈。不知何故。人皆驚怪。老人或言寶永中。富士山旁吐沙起山。此時如此。後數日。始傳信州淺間山燒。是年盛夏多雨陰涼。仍著冬衣。甲辰。民甚餓。此冬無雨雪。乙巳梅雨中無一陰。田畝赤地。稼禾不耕。臘月時發雷聲。人以為異。丙午。六月。連雨。七月十六日。洪水漂沒民家。平地水高丈餘。關東大饉。都人以為米商奸黠藏米之所致。數十人。相呼市頭喧譁。擊破米肆。蹂躪其所畜。米苞狼藉市街。甚至倒屋折柱。街頭為不通。二三晝夜。橫行都中。壞盡行米數百戶。此時米三合。價百錢。於是本藩開倉廩賑給貧民。牛馬絡繹而運之。里正伍長。相檢校。而無所不及。時貧人雜食芣苣。冬青葉等之物。面色青黃微腫。仍索救之方。乃私制三因方所載解毒丸。告官。博施給之郡司。大得其驗。而與唐書言瘦黑者。不相符。</p>

<h1>題叢桂偶記後</h1>
<p>孟子曰。盡信書。則不如無書。書豈可盡信乎。將不可盡信乎。信與不信。唯在其人耳。吾南陽先生之於學。廣蒐羅群籍。苟有可以裨益醫事者。雖後世之書。取以備參考。簸場粃糠。淘汰鏐鐐。用力之久。瞭然多所發明。如此篇。先生三餘之間。自錄其所見聞。凡若干卷。二三兄弟。校訂得二卷。先上之梓。此書一出。四方之士。知先生用心之篤。玩味揣摩。施之治則。不亦仁術之一助乎。刻成。先生有命令予題其末。敢書數方。以為之跋。寬政十二年庚申秋。門人大谷恭謹識</p>
<p>諸子讀偶記。談笑以為常。問之。則</p>
<p>家大人之所著也。今年諸子議而上木。不肖幼未能讀。讀不能解。因木子虛之勸乞大人跋其尾云。十一童男昌文謹撰</p>
