<header data-type="book">
<h1>續增大生要旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>唐千頃</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1849">公元1849年</data></dd></div>
<div><dt>底本</dt><dd>清道光二十九年西安王家舖刻本（<a href="https://lccn.loc.gov/2012402766">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
