<header data-type="book">
<h1>中國接骨圖說</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>二宮獻</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1808">公元1808年</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015279">國家圖書館掃描本</a>）；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_01078/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>三折肱為良醫。九折臂為良醫。盲史湘累吐能言之。則治打撲折傷者。古之良醫也。周官有折瘍之祝藥焉。政論有續骨之膏焉。而本草鴻然吐言地黃屬骨。而甘草生肉。祝藥膏藥。聖賢所教。何曾無效乎。雖然骨折骸碎。節脫筋斷。其所傷者。在子腠之內。而藥施諸皮膚之外。不近似隔履搔癢乎。予曾論之。人身之與家國。其理一致。動履平寧者。太平清明之象也。其失常不快者。禍亂之象也。內證者。內亂也。外證者。外寇也。病之得於喜怒飲食者。猶枉席沉蠱之禍。朝政廢缺之害也。病之得於風寒暑濕者。猶夷狄內侵之禍。諸侯叛逆之亂也。若夫打撲傷損之類。是非內患。又非外懼。是猶星隕地震。海嘯山崩之變。水火饑饉之災乎。是宜別有其法焉。豈可比諸內外之治術乎。是故趙宋始有正骨科焉。至明又有接骨科焉。其法載於聖濟證治之諸書。近世醫宗金鑑所載摸、接、端、提、按、摩、推、拿之八法。是予所謂別得其治者也。唯恨其法。未得精細耳。濱田醫官。二宮彥可。博學篤志。精於其業。曾西遊至於長崎。師事吉原吉隱。得正骨之術。杏隱元武夫也。擴充其曾所學死活拳法。以建其法。彥可盡傳其秘蘊。東歸之後。屢驗諸患者。桴鼓相應。十愈八九。遂以良聞。頃原其師說。加之以其所自得者。著中國接骨圖說二卷。請序於予。予閱之。其書探珠、弄玉、靡風、車轉、圓旋、螺旋、躍魚、游魚、熊顧、鸞翔、鶴跨、騎龍、燕尾、鴒尾、尺蠖、諸法焉。母法十五。子法三十六。合五十一法矣。有圖而象之。有說而解之。又別建揉法百五十法焉。富哉術也。比諸金鑑諸書所載。則猶金罍玉爵之於汗尊杯飲邪。杏隱海隅隱士。懷抱奇術。遁戢不出。銷名幽藪。然得彥可而顯於天下。豈不為大幸乎。今之醫生。匿其師傳。以為自得。詡詡夸人。釣譽於世。以弋身家之腴者。比比有之。甚則至彎射羿之弓焉。彥可則不然。著其書而顯其師。比諸彼徒。豈不亦天冠地履乎。予於此書。不獨喜其術之精。而有青藍之譽焉。又以喜意出於敦厚。慕君子長者之風者乎。</p>
<p><u>文化五年戊長夏旺日</u></p>
<p><u>丹波元簡廉夫氏撰</u></p>

<h1>序</h1>
<p>吾家五世。以外科承乏傳醫。專奉西洋氏之方。而漢洋二書諸門方法。旁搜廣討。略無遺漏。獨於整骨一門。漢氏未能詳悉。洋氏多用器械。未詳悉者。難施之治。用器械者。苦其難得。長崎有杏隱老人。專以手法整理骨傷。善生其創意。吾友濱田二宮彥可從杏隱老人。盡受其方。救患起廢。其功不勘。令兒國寶及弟子輩。學其方。吾家今用之矣。近日彥可作接骨圖說上下篇。圖說兼優。又附載裹簾之法。此吾家所傳。彥可學而用之者也。余欣然為之序。</p>
<p><u>文化丙寅夏六月東都傳醫法眼兼醫學瘍科教諭桂園瑞</u></p>

<h1>序</h1>
<p>古人有曰。折傷打撲者非疾。然而其治療不得法。則遂陷非命之死。即不至死亦不免廢者。豈可輕忽之哉。余嘗客遊於肥之長崎。得阿蘭象胥長吉雄耕牛而馭。譚及正骨手法。耕牛曰。西洋雖有正骨法。獨巧用械。而手法則付之不講。我長崎有杏蔭齋先生。其人元武弁。姓吉原。名元楝。字隆仙。達於所謂死活券法。今隱於方伎。以按蹻為業。因其所得券法。潛心正骨多年。終得其奧妙。合縫接折。其效不可勝記也。嘗見療一舂夫。以杵撞睪丸。絕死。眾醫不能救者。先生一下手於小腹。按之則忽然蘇。恰如喚起沉睡者。然其手法之妙。概此類矣。僕舊相識。足下若願見之。則請為紹介。余曰。素所欲也。於是委贄門下。得學其術。母法十三。子法十八。道既通。將東歸。先生囑余曰。余已創此手法。未有成書之可以遺於後昆者。吾齡在桑榆。汝能繼吾志。乃盡取其秘蘊授焉。於是覃思研精二十餘年。更增益為母法十五。子法三十又六。又新立揉法一百五十。施之人則擊撲跌蹶復舊者。十而八九。其或復亦不至廢。此皆因先生之創意秘蘊。非余之妄作者也。凡學此術者勿忘先生之高德。嗚呼。夫正骨之用也廣矣。如稠人雜沓之地。士人演武之場碰撞攧撲常有則不獨醫生。雖諸凡士庶。亦學習斯術。其益不勘而已。故不吝其奧秘。壽之梓公於宇內云爾。</p>
<p><u>文化四年丁卯季冬濱田侯醫臣二宮獻撰</u></p>

<h1>接骨總論</h1>
<p>接骨。或稱正骨。或稱整骨。皆謂整所跌撲損傷之骨節也。宋時始有正骨科。至明又立接骨科。聖濟總錄。證治準繩。醫宗金鑑等書可考。金鑑特載摸、接、端、提、按、摩、推、拿、之八法。而未為詳備。今以金鑑八法為經。新立母法十五。子法三十六。以為緯。凡三百六十五節之傷損者。無所逃於此手法。夫手法者。何也。謂以兩手使所傷之骨節仍復於舊也。但傷有輕重。而手法各有所宜。其復舊之遲速。及遺留殘疾與否。皆關手法所施之巧拙也。蓋一身之骨節非一致。而筋脈羅列。又各不同。故能知其骨節。識其部位。一旦臨證。機觸於外。巧生於內。手隨心轉。法從手出。或拽之離而復合。或推之就而復位。或正其斜。或完其闕。則骨之截斷碎斷斜斷。筋之弛。縱卷攣翻轉離合。雖在肉裡。以手運轉推拿之。自適其情。是稱為手法也。手法亦不可妄施。若元氣素弱。一旦被傷。勢已難支。設手法再誤。則萬難挽回。於是別有揉法百五十法。心明手巧。旣知其病情。復善用其法。然後治自多効。誠其宛轉運用之妙。要以一己之卷舒高下、疾徐、輕重、開合。能達病者之血氣凝滯、皮肉腫痛、筋骨攣折、與情志之苦欲也。故不口授面命。則難得其法矣。</p>

<h1>檢骨</h1>
<p>先問其為跌撲。或爲錯閃。或爲打撞。摸檢其所傷之骨節。知其骨脫、骨斷、骨碎、骨歪、骨整、骨輭、骨硬。而後以手法治之。是正骨家檢骨之大要也。最不可孟浪也。夫人之周身有三百六十五骨節。以一百六十五字。都關次之首。自鈴骨之上爲頭。左右前後至轅骨以四十九字。共關七十二骨。巔中爲都顱骨者一。次顱爲髏骨者一。髏前爲頂威骨者一。髏後腦骨者一。腦左枕骨者一。枕就之中附下爲天盖骨者一。盖骨之後爲天柱骨者一。盖前爲言骨者一。言下爲舌本骨者左右共二。髏前爲顖骨者一。顖下爲伏委骨者一。伏委之下爲俊骨者一。眉上左爲天賢骨者一。眉上右爲天貴骨者一。左睛之上爲智宮骨者一。右睛之上爲命門骨者一。鼻之前爲梁骨者一。梁之左爲顴骨者一。梁之左爲糺骨者一。梁之端爲嵩柱骨者一。左耳爲司正骨者一。右耳爲納邪骨者一。正邪之後爲完骨者。左右共二。正邪之上附內為嚏骨者一。嚏後之上為通骨者。左右前後共四。嚏上為齶骨者一。其齶後連屬為頷也。左頷為乘骨者一。右頷為車骨者一。乘車之後為轅骨者。左右共二。乘車上下山齒牙三十六事。復次鈴骨之下為膻中左中前後至蓧。以四十字。關九十七骨。轅骨之下左右為鈴骨者二。鈴中為會厭骨者一。鈴中之下為咽骨者。左中及右共三。嚥下為喉骨者。左中及右共三。喉下為嚨骨者。環次共十事。嚨下之內為肺系骨者。累累然共十二。肺系之後為谷骨者一。谷下為⿰亻鬲道骨者。左右共二。嚨外次下為順骨者共八。順骨之端為順隱骨者共八。順下之左為洞骨者一。順下之右為棚骨者一。洞棚之下。中央為𩩲骭骨者一。𩩲骭直下為天樞骨者一。鈴下之左右為缺盆骨者二。左缺盆前之下為下猒骨者一。右缺盆前之下為分饍骨者一。猒饍之後附下為倉骨者一。倉之下左右為髎骨者共八。髎下之左為胸骨者一。髎下之右為蕩骨者一。胸之下為烏骨者一。蕩之下為臆骨者一。鈴中之後為脊窳骨者。共二十二。脊窳次下為大動骨者一。大動之端為歸下骨者一。歸下之後為篡骨者一。歸下之前為蓧骨者一。復次缺盆之下左右至儭。以二十五字。關六十骨支。其缺盆之後為傴甲骨者。左右共二。傴甲之端為甲隱骨者。左右共二。前支缺盆為飛動骨者。左右共二。次飛動之左為龍臑骨者一。次飛動之右為虎沖骨者一。龍臑之下為龍本骨者一。虎沖之下為虎端骨者一。本端之下為腕也。龍本內為進賢骨者一。虎端上內為及爵骨者一。腕前左右為上力骨者共八。次上力為駐骨者。左右共十。次駐骨為搦骨者。左右共十。次搦為助勢骨者左右共十。爪甲之下各有襯骨。左右共十。復次𩩲骭之下左右前後至初步。以五十一字。關一百三十六骨。此下至兩乳下分左右。自兩足心。眾骨所會處也。𩩲骭之下為心蔽骨者一。𩩲骭之左為脅骨者。上下共十二。左脅之端各有脅隱骨者。分次亦十二。脅骨之下為季脅骨者共二。季脅之端為季隱骨者共二。𩩲骭之右為肋骨者共十二。肋骨之下為䏚肋骨者共二。右肋之端為肋隱骨者共十二。蓧骨之前為大橫骨者一。橫骨之前為白環骨者。共二。白環之前為內輔骨者。左右共二。內輔之後為骸關骨者左右共二。骸關之下為捷骨者。左右共二。捷骨之下為髀樞骨者。左右共二。髀樞下端為膝蓋骨者。左右共二。膝蓋左右各有俠升骨者共二。髀樞之下為䯒骨者。左右共二。䯒骨之外為外輔骨者。左右共二。䯒骨之下為立骨者。左右共二。立骨左右各有內外踝骨者共四。踝骨之前各有下力骨者。左右共十。踝骨之後各有京骨者。左右共二。下力有釋欹骨者共十。釋欹之前各有起僕骨者共十。起僕之前各有平助骨者。左右共十。平助之前各有襯甲骨者。左右共十。釋欹兩傍各有核骨者。左右共二。起僕之下各有初步骨者。左右共二。凡此三百六十五骨也。天地相乘。惟人至靈。其女人則無頂威左洞右棚及初步等五骨。止有三百六十骨。又男子女人一百九十骨。或隱。或襯。或無髓勢。餘二百五十六骨。並有髓液以藏諸筋。以會諸脈。溪谷相需。而成身形。謂之四大。此骨度之常也。</p>
<p>顛骨者。頭頂也。其骨男子三叉縫。女子十字縫。位居至高。內函腦髓如蓋。故名天靈蓋。以統全體者也。或碰撞損傷。骨碎破者必死。或卒然暈倒。身體強直。口鼻有出入聲氣。雖目閉面如土色。心口溫熱跳動者可治。切不可撅拿並扶起。惟宜屈膝側臥。先徐徐用揉法後。熊顧子法第二整理之。</p>
<p>囪骨者。嬰兒頂骨未合軟而跳動之處。名曰囪門。或打撲損傷。骨縫雖綻。尚未震傷腦髓。筋未振轉者生。治法類顛骨。大凡嬰孩之手法者皆貴揉法。</p>
<p>山角骨。即頭頂兩傍稜骨也。攧撲損傷。骨碎破者死。骨未破則雖宣紫腫硬瘀血凝聚疼痛。或有昏迷目閉不能起。聲氣短少。語言不出。心中慌亂。唾臥喘促。飲食少進者。可治。用揉法須輕輕。</p>
<p>凌雲骨。在前髮際下。即正中額骨。其兩眉上之骨。左名天賢骨。右名天貴骨。兩額骨也。打撲損傷者。面目浮腫。若內傷者。瘀血上而吐衄。昏沉不省人事。治同山角骨。</p>
<p>晴明骨。即目窠四圍目眶骨也。其上曰眉稜骨。其下曰䪼骨。䪼骨下接上牙床。打僕損傷。血流滿面。或骨碎。眼胞損傷。瞳神破碎者。難治。</p>
<p>兩顴骨者。面上兩旁之高起大骨也。擊僕損傷。青腫堅硬疼痛。或牙車緊急。嚼物艱難。或鼻孔出血。或兩唇掀翻者治。骨破碎者不治。</p>
<p>鼻梁骨者。鼻孔之界骨也。下至鼻之盡處。名曰準頭。或打撲鼻兩孔。傷鼻梁骨。凹陷者可治。血出無妨。若跌磕傷開鼻竅。或鼻被傷落者。亦無不治。</p>
<p>中血堂。即鼻內頞下脆骨空虛處也。雖被打撲傷損。神氣迷昏者無妨。血流不止者危。</p>
<p>地閣骨。即兩牙車相交之骨。又名頦。俗名下巴骨。上載齒牙。打撲損傷者。顋唇腫痛。牙車振動。雖目閉神昏。或心熱神亂。氣弱體軟煮。亦無不治。</p>
<p>齒者。口齦所生之骨也。又名曰牙。有門牙虎牙槽牙。上下盡根牙之別。凡被跌打砍磕。落去牙齒。如走馬牙疳。出血不止者至危。</p>
<p>扶桑骨。即兩額骨旁近太陽。肉內凹處也。若跌僕損傷。或掀腫。或血出。或青紫堅硬。頭疼耳鳴。青痕滿面。憎寒惡冷。心中發熱。若撞撲傷凹。骨碎透內者死。</p>
<p>頰車骨。即下牙床骨也。俗名牙鉤。承載諸齒。能咀食物。有運動之象。故名頰車。其骨尾形如鉤。上控於曲頰之環。其曲頰名兩鉤骨。即上頰之合鉗。以納下牙車骨尾之鉤者也。其上名玉梁骨。即耳門骨也。或打僕脫鉤臼。或因風濕襲入。鉤環脫臼。單脫者。為錯。雙脫者。為落。若欠而脫臼者。乃突滑也。無妨。脫臼者。名架風。又落下頦。俗名吊下巴欠。又云打哈氣。探珠母子法整頓之。</p>
<p>後山骨。即頭後枕骨也。其骨形狀不同。或如品字。或如山字。或如川字。或圓尖。或月牙形。或偃月形。或雞子形。皆屬枕骨。凡有傷損。其人頭昏目眩。耳鳴有聲。項強嚥直。飲食難進。坐臥不安者。先用揉法整之。後熊顧子法第二正之。如誤從高處墜下。後山骨傷太重。筋翻氣促。痰向如拽鋸之聲。垂頭目閉有喘聲者。此風熱所乘。至危之證。不能治也。遺尿者必亡。惟月牙形者。更易受傷。如被墜墮打傷震動蓋頂骨縫。以致腦筋轉擰。疼痛昏迷。不省人事。少時或明者。其人可治。</p>
<p>壽臺骨。即完骨在耳後接於耳之玉樓骨者也。若跌打損傷。其耳上下俱腫起。耳內之禁骨有傷。則見血膿水。耳外瘀聚凝結疼痛。筋結不能舒通。以致頭暈眼迷。兩太陽扶桑骨脹痛。頸項筋強。虛浮紅紫。精神短少。四肢無力。坐臥不安者。先用揉法整之。後熊顧子法第三端理之。</p>
<p>旋臺骨。又名玉柱骨。即頭後頸骨三節也。一名天柱骨。此骨被傷共分五證。一曰。從高墜下。致頸骨插入腔內。而左右廢活動者。用熊顧子法第一拔提之。二曰。打傷頭低不起。用熊顧母法整理之。三曰。墜墮左右歪邪。項強不能顧者。熊顧母法提顧之。四曰。僕傷面仰頭不能乘。或筋長骨錯。或筋聚。或筋強者。用熊顧子法第二端之。五曰。自縊者旦至暮心下若微溫者可治。暮至旦雖心下微溫不可治。徐徐抱解不能截繩。上下安被臥之。用熊顧子法第三整理之。</p>
<p>𩪇子骨。經名柱骨。橫臥於兩肩前缺盆之外。其兩端外接肩解。擊打損傷。或驅馬誤墜於地。或從高墜下。或撞撲砍磕。骨斷骨叉乘者。用車轉子法第八整之。</p>
<p>胸骨。即𩩲骭骨。乃胸脅眾骨之統名也。一名膺骨。一名臆骨。俗名胸膛。其兩側自腋而下至肋骨之盡處統名曰脅。脅下小肋骨名曰季脅。季肋俗名軟肋。肋者單條骨之謂也。統脅肋之總。又名曰胠。凡胸骨被物從前面撞打跌僕者重。從後面撞僕者輕。輕者用揉法治之。重者骨斷骨叉乘用靡風子法第三整理之。兩乳上骨傷者。用靡風子法第二治之。若傷重者。內透胸中。傷心肺兩藏。其人氣亂昏迷。閉目嘔吐血水。呃逆戰慄者。則危在旦夕。不可醫治矣。</p>
<p>岐骨者。即兩鳧骨端相接之處。其下即鳩尾骨也。內近心君。最忌觸犯。或打撲損傷。骨閃錯。輕者用靡風子法第一治之。重者必入心藏。致神昏目閉。不省人事。牙關緊閉。痰喘鼻搧。久而不醒。醒而神亂。此血瘀而堅凝不行者也。難以回生。</p>
<p>鳧骨者。即胸下之邊肋。上下二條易被損傷。左右皆然。自此以上。有肘臂護之。打撲傷損。用靡風母法端之。在下近腹者。鶴跨母法亦可。</p>
<p>背骨者。自後身大椎骨以下。腰以上之通稱也。其骨一名脊骨。一名膂骨。俗呼脊梁骨。其形一條居中。共二十一節。下盡尻骨之端。上載兩肩。內系藏府。其兩旁諸骨附接橫疊。而彎合於前。則為胸脅也。跌打傷損。瘀聚凝結。若脊筋隴起。骨縫必錯。則不可能俯仰者。用鶴跨跨母法整頓之。或有為傴僂之形者。用鶴子法整理之。</p>
<p>腰骨。即脊骨十四椎十五椎十六椎間骨也。若跌打損傷。瘀聚凝結。身必俯臥。若欲仰臥側臥。皆不能也。疼痛難忍。腰筋僵硬者。騎龍母法治之。</p>
<p>尾骶骨。即尻骨也。其形上寬下窄。上承腰脊諸骨。兩旁各有孔。名曰八髎。其末筋名曰尾閭。一名骶端。一名撅骨。一名窮骨。俗名尾樁。或打撲跌蹶。或蹲墊骨錯。壅腫者。用騎龍母法。</p>
<p>髃骨者。肩端之骨。即肩胛骨臼端之上稜骨也。其臼含納臑骨上端。其處名肩解。即肩䯋與臑骨合縫處。俗名吞口。一名肩頭。若被跌傷。手必屈轉向後。骨縫裂開。不能招舉。亦不能向前。惟扭於肋後而已。其氣血皆壅聚於肘。肘腫如椎不移者。用車轉子法第六整頓。或脫臼、手麻木。髃骨突出者。用車轉子法第一歸窠。或打撲髃骨。閃錯手不能舉。疼痛者。車轉母法整理之。或筋翻筋攣筋脹。髃骨膠結。不能離脅肋者。用車轉子法第二轉之。或損傷經數日。而髃骨腫硬。臑肘瘀血凝滯如針刺者。車轉子法第三撥轉之。髃骨錯出於後。筋攣筋脹膠結不動者。車轉子法第四挫頓之。肩髃合縫高出。難用運轉之手法者。車轉子法第五整理之。雖髃骨不脫臼。不骨突出。前後上下運轉不如意。筋脈攣急者。車轉子法第七治之。</p>
<p>肩胛骨。肩髃之下附於脊背成片如翅者。名肩胛。亦名肩髆。亦名鍁板子骨。打撲攧蹶。骨失位。腫硬者。用鸞翔之法整頓之。</p>
<p>臑骨。即肩下肘上之骨也。自肩下至手腕。一名肱。俗名肐膊。乃上身兩大支之通稱也。或墜馬跌碎。或打斷。或斜裂。或截斷。或碎斷。打斷者有碎骨。跌斷者無碎骨。先用揉法整之。將杉籬裹簾法縛之。</p>
<p>肘骨者。肐膊中節上下支骨交接處。俗名鵝鼻骨。若跌傷其肘尖。向上突出。疼痛不止。先用圓旋子法第三挫頓。後用旋母法正之。肘骨脫臼。手垂不能舉。臂腕麻木。或冷涼。用圓旋母法整之。肘骨屈不伸。其筋斜彎者。用圓旋子法第一曳之肘尖骨向上破皮肉突出。經日不復。腫硬筋攣不伸。臂腕失政者。用圓旋子法第二擊頓之。後用圓母法整理之。老人婦人小兒者。用圓旋子法第四整之。</p>
<p>臂骨者。自肘至腕有正輔二根。其在下而形體長大連肘尖者。為臂骨。其在上而形體短細者。為輔骨。俗名纏骨。疊並相倚。俱下接於腕骨焉。凡臂骨受傷者。多因迎擊而斷也。或斷臂輔二骨。或惟斷一骨。先用揉法端之。後用杉籬裹簾法。</p>
<p>腕骨。即掌骨。乃五指之本節也。一名壅骨。俗曰虎骨。其骨大小六枚。湊以成掌。非塊然一骨也。其上並接臂輔兩骨之端。其外側之骨。名高骨。一名銳骨。亦名踝骨。俗名龍骨。以其能宛屈上下。故名曰腕。若墜馬手掌著地。只能傷腕。壅腫疼痛。若手背向後。翻貼於臂者。並躍魚法端之。</p>
<p>五指之骨。名錘骨。即各指本節之名也。其各指次節名竹節骨。若被打傷。折五指。或翻錯一指。並游魚法整之。</p>
<p>胯骨。即髖骨也。又名髁骨。跌打損傷。筋翻足不能直行。筋短者腳尖著地。骨錯者。腎努斜行。用騎龍母法整之。</p>
<p>環跳者。髖骨外向之凹。其形似臼。以納髀骨之上端如杵者也。名曰機。又名髀樞。即環跳穴處也。跌打損傷。以致樞機錯努。青紫腫痛。不能步履。或行止欹側艱難。燕尾母法挫頓之。或環跳脫臼。筋弛足痿蹇麻木者。燕尾子法第一端之。或髖骨閃錯。及大腿骨一時碎者。先用揉法。整大腿骨。杉籬裹簾法纏縛之。後用燕尾子法第二。治髖骨閃錯。</p>
<p>股骨者。髀骨上端如杵。入如髀樞之臼。下端如錘。接於䯒骨。統名曰股。乃下身兩大支通稱也。俗名大腿骨。墜馬擰傷。骨碎筋腫。黑紫清涼者。先用揉法端之。後用杉籬裹簾法。</p>
<p>膝蓋骨。亦名臏骨。形圓而扁。覆於楗䯒上下兩骨之端。內面有筋聯屬。其筋上過大腿至於兩肋。下過胻骨至於足背。如有跌打損傷。膝蓋上移者用尺蠖子法第二整之。或膝屈不伸。膕大筋翻攣者。用尺蠖母法端之。或膝頭大腫。黑紫筋直。膕腫疼痛。手不可近者。用尺蠖子法第一端之。或膝骨斜錯。股骨一時碎傷者。先整其股骨。後用尺蠖子法第三治之。</p>
<p>胻骨。即膝下小腿骨。俗名臁脛骨者也。其骨二根在前者。名成骨。又名骭骨。其形粗在後者。名輔骨。其形細。又俗名勞堂骨。若被跌打損傷。其骨尖斜突外出。肉破血流。或砍磕被重物擊壓。骨細碎者。用揉法整之。杉籬裹簾法縛之。</p>
<p>髁骨者。胻骨之下。足跗之上。兩旁突出之高骨也。在內者名內踝。俗名合骨。在外者為外踝。俗名核骨。或馳馬墜傷。或行走錯誤。則後跟骨向前腳尖向後。筋翻肉腫。疼痛不止者。用弄玉法端之。</p>
<p>跗骨者。足背也。一名足趺。俗稱腳面。其骨乃足趾本節之骨也。其受傷之因不一。或從隕墜。或被重物擊壓。或被車馬踹砑。若僅傷筋肉。尚屬易治若骨體受傷。每多難治。領尾法治之。</p>
<p>趾者。足之指也。名以趾者。所以別於手也。俗名足節。其節數與手之骨節同。大指本節後內側圓骨努突者。一名核骨。又名覈骨。俗呼為孤拐也。趾骨受傷。多與跗骨相同。惟奔走急迫。因而受傷者多。游魚法治之。</p>
<p>跟骨者。足後跟骨也。上承胻輔二骨之末。有大筋附之。俗名腳攣筋。其筋從跟骨。過踝骨。至腿肚裡。上至膕中過臀。抵腰脊至項。自腦後向前至目眥。皆此筋之所達也。若落馬墜蹬等傷。以致跟骨擰轉向前。足趾向後。即或骨未碎破。而縫隙分離。自足至腰脊。諸筋皆失其常度。拳攣疼痛。宜螺旋法治之。</p>
<figure>
<img alt="正面名目圖">
</figure>
<figure>
<img alt="背面名目圖">
</figure>
<figure>
<img alt="顛頂正面圖">
</figure>
<figure>
<img alt="側面名目圖">
</figure>
<figure>
<img alt="背面骨名圖">
</figure>
<figure>
<img alt="側面骨名圖">
</figure>
<figure>
<img alt="肩背骨名圖">
</figure>
<figure>
<img alt="胸腹骨名圖">
</figure>
<figure>
<img alt="足骨名圖">
</figure>
<figure>
<img alt="手骨名圖">
</figure>

<h2>脈證治法</h2>
<p>劉宗原曰。打撲金刃損傷。是不因氣動而病。生於外。外受有形之物所傷。乃血肉筋骨受病。非如六淫七情為病。有在氣在血之分也。所以損傷一證。專從血論。但須分其有瘀血停積而亡血過多之證。蓋打撲墜墮。皮不破而內損者。必有瘀血。若金刃傷皮出血。或致亡血過多。二者不可同法而治。有瘀血者。宜攻利之。若亡血者兼補而行之。又察其所傷有上下輕重淺深之異。經絡氣血多少之殊。唯宜先逐瘀血通經絡和血止痛。然後調氣養血補益胃氣。無不效也。頃見圍城中軍士被傷。不問頭面手足胸背輕重。醫者例以大黃等利之。後大黃缺少。甚者遂以巴豆代之。以為不於初時瀉去毒氣。後則多致危殆。至於略傷手指。亦悉以藥利之。殊不知大黃之藥惟與有瘀血者相宜。其有亡血過多元氣胃氣虛弱之人。不可服也。</p>
<p>戴院使云。僕踣不知曰攧。兩手相搏曰撲。其為損一也。因攧撲而迷悶者。酒調蘇合香丸灌之。因攧撲而損傷。宜逐其惡血。酒煎蘇木調蘇合香丸。或雞鳴散。或和氣飲加大黃。入醋少許煎。或童便調黑神散。不用童便用蘇木煎酒調亦得。攧撲傷疼。酒調琥珀散極佳。烏藥順氣散亦可。</p>
<p>大法固以血之瘀失分虛實。而為補瀉。亦當看損傷之輕重。輕者。頓挫。氣血凝滯作痛。此當導氣行血而已。重者。傷節折骨。此當續節接骨。非調治三四月。不得平復。更甚者。氣血內停沮塞。真氣不得行者必死。急瀉其血通其氣。亦或有可治者焉。</p>
<p>凡打撲傷損者。先用手尋揣傷處。用藥熨數次。整頓其筋骨。以敷藥搽之。後用杉籬裹簾法。骨細碎者。別有正副夾縛定之法。正夾用杉皮去外重皮。約手指大。指排肉上。以藥敷杉皮上。其藥上用副夾。用竹片去里竹黃。亦如指大。疏排夾縛。</p>
<p>凡打傷跌撲。其痛不可近者。先用草烏散九鳥散之類之麻藥。則麻倒不知疼處。或用刀割開。或用剪去骨鋒。或以手整頓。骨筋歸元端正。後用夾板夾縛定。或箭鏃入骨不出。亦可用此藥麻之。或鐵鉗拽出。或用鑿鑿開取出。若人昏沉。後用鹽湯。或鹽水。或鐵醬汁。或濃煎茗與服立醒。</p>
<p>凡骨斷皮破者。不用酒煎藥。或損在內破皮肉者。可加童便在破血藥內。若骨斷皮不破。可全用酒煎藥服之。若只損傷。骨未折肉未破者。用正骨順氣湯。折傷木湯之類。</p>
<p>凡皮破骨出差曰拔。撙捺不入。用快刀割皮間些捺入骨。不須割肉。肉自破。後用管爾膏敷貼。瘡四傍腫處。用敷藥。若破而血多出者。用手整時最要快便。</p>
<p>凡平處骨斷骨碎。皮不破者。只用敷藥藥熨鏝熨。若手足曲直等處。及轉動處。只宜絹包縛。令時數轉動。不可夾縛。如指骨碎斷。止用苧麻夾縛。腿上用苧麻繩夾縛。冬月熱縛。夏月冷縛。余月漫縛。凡傷重其初麻而不痛。應拔伸捺正。或用刀取開皮。二三日後。方知痛。且先勻氣血。</p>
<p>凡筋攣筋縮筋翻者。摻以蚯蚓膏。而後頻用揉法。滿腫硬堅者。用振挺法輕擊之。瘀血聚積。或青紫黑色焮熱者。以三楞針刺數處出血。貼以鯽魚泥生鰍泥之類。</p>
<p>凡肉破出血不止者。以發繩扎住其上。閱青筋放五六針。青筋不見者。以三稜針。刺足委中穴。血突出高二尺許。漸漸如線流於地約升余。其人或暈倒。或如委頓狀。面失色則瘡口出血頓止。</p>
<p>素問云。人有所墜墮。惡血留內。腹中滿脹。不得前後。先飲利藥。此上傷厥陰之脈。下傷少陰之絡。刺足內踝之下。然骨之前。血脈出血。刺足跗上。動脈不已。刺三毛上。各一痏。見血則已。左刺右。右刺左。善悲驚不樂。刺如右方。</p>
<p>靈樞云。身有所傷。血出多反中風寒。若有所墜墮。四肢懈惰不收。名曰體惰。取小腹臍上三結交。陽明太陰也。臍下三寸。關元也。</p>
<p>脈經云。從高顛仆。內有血。腹脹滿。其脈堅強者生。小弱者死。破傷之脈。若瘀血停積者。堅強實則生。虛細澀則死。若亡血過多者。虛弱澀則生。堅強實則死。皆為脈病不相應故也。</p>
<p>凡砍刺出血不止者。其脈止。脈來大者。七日死。滑細者生。</p>
<p>靈樞云。有所墜墮惡血留內。有所大怒。氣上而不行下。積於脅下則傷肝。又中風及有所擊僕。若醉入房。汗出當風則傷脾。又頭痛不可取於腧者。有所擊墮。惡血在內。若肉傷痛未已。可側刺。不可遠取之也。</p>

<h2>十不治證</h2>
<p>胸背骨破入肺者。縱未即死。二七難過。　左脅下傷透至內者。　腸傷斷者。　頭顱骨碎腦蓋傷者。　小腹下傷。內橫骨破者。　血出盡者。　肩內耳後傷透內者。　腰骨壓碎者。　傷破陰子者。　脈不實重者。</p>

<h2>敷藥法</h2>
<p>用蜜。或糯米糊。或東流水。或生薑自然汁。或無灰酒。或火酒。或霹靂酒。或釅醋。或陳醬汁。或童便。和散藥為泥。雞翎二三十莖。縛作刷子。掃痛處。俟其干更塗。如此三四層為度。若有肉破處。則唯布其四面。而露其口。兩三日後。用柳篦。鏟落舊藥。換新藥。或用藥水泡洗。去舊藥亦可。惟不可驚動損處。</p>

<h2>藥熨法</h2>
<p>用木綿布方五寸。裹藥一劑。以麻絲括定。余其絲條尺許。浸火酒於砂鍋中。定文於文火爐上。不令有潮氣。須酒色微紅時。取三指大青竹筒長五六寸。兩頭不留節。以所括麻條通竹筒中。絡其末令如鼓桴熨患處。揉摩數次。</p>
<figure>
<img alt="熨藥器圖">
</figure>
<figure>
<img alt="藥熨按排圖">
</figure>

<h2>熨斗烙法</h2>
<p>先搗爛蔥白一味。合定痛散為泥。敷於痛處。以毛頭紙蘸醋貼藥上。燒鐵熨斗烙紙上。以傷處覺熱疼口中有聲為度。</p>
<figure>
<img alt="鐵熨斗圖">
</figure>

<h2>鏝熨法</h2>
<p>以藥泥攤厚好紙上厚五分。更以紙覆其上。敷於患處。燒鐵鏝子令通紅。烙熨其紙上。一法以藥泥攤紙上厚五分。縱六寸。橫四寸。從四邊起紙來裹之。為一片板。先以銅板架火爐上。置一片板於其上。俟熱透罨熨於患處。</p>
<figure>
<img alt="鏝熨安排圖一">
</figure>
<figure>
<img alt="鏝熨安排圖二">
</figure>

<h2>振梃法</h2>
<p>振梃。木棒也。長尺半圓圍三寸五分。或麵杖亦可。受傷之處。氣血凝結疼痛。腫硬先用布疊令三重。敷患處。以此梃輕輕振擊其患處。上下四旁。使氣血流通。得以四散。則疼痛漸減。腫硬潮消也。</p>
<figure>
<img alt="振梃圖">
</figure>

<h2>腰柱法</h2>
<p>腰柱者。以杉木四根。制如扁擔形。寬一寸。厚五分。長短以患處為度。俱就側面鑽孔。以布聯貫之。腰節骨被傷。錯筍膂肉破裂。筋斜傴僂者。先以布纏圍患處一二層將此。柱排列於脊骨兩旁。再以布纏覆柱上數層。令端正為要。</p>
<figure>
<img alt="腰柱圖">
</figure>
<figure>
<img alt="腰柱按排圖">
</figure>

<h2>杉籬法</h2>
<p>杉籬者。復逼之器也。量患處之長短闊狹。曲直凸凹之形。以杉木為片。以布卷定之。酌其片數記其次以布聯編之。令不得紊亂。有似於籬。故名焉。手足骨斷骨碎筋斜筋斷者。先以布纏之。以此籬環抱之。再以布纏卷籬上。則骨縫吻合。堅牢無離綻脫走之患。令不動搖為要。</p>
<figure>
<img alt="杉籬夾縛圖">
</figure>
<figure>
<img alt="杉籬圖">
</figure>
<p>裹簾以白布為之。層纏患處。故名裹簾。其長短闊狹。量病勢用之。和蘭醫書精錄其事。桂川月池先生之譯。別有其書。故唯舉一二圖而不復贅焉。</p>
<figure>
<img alt="單睊縛">
</figure>
<figure>
<img alt="白兜縛">
</figure>
<figure>
<img alt="絞准縛">
</figure>
<figure>
<img alt="雙睊縛">
</figure>
<figure>
<img alt="扼腕縛">
</figure>
<figure>
<img alt="編拇縛">
</figure>
<figure>
<img alt="裹甲縛">
</figure>
<figure>
<img alt="龜手縛">
</figure>
<figure>
<img alt="十字帶">
</figure>
<figure>
<img alt="井字帶">
</figure>
<figure>
<img alt="鉤臂帶">
</figure>
<figure>
<img alt="摞肘帶">
</figure>
<figure>
<img alt="罨髃帶">
</figure>
<figure>
<img alt="護膊帶">
</figure>
<figure>
<img alt="蛇形縛">
</figure>
<figure>
<img alt="匾髕縛">
</figure>
<figure>
<img alt="螺形縛">
</figure>
<figure>
<img alt="蛇象縛">
</figure>

<h2>正骨圖解</h2>
<figure>
<img alt="探珠母法">
</figure>
<p>使患者正坐。一人坐背後生腰。以兩手承枕骨邊。腕骨當項。指頭並向上面把定。要令不動搖。醫蹲踞前面。以兩手大拇指。入患者口中。撙牙關盡處。四指捧下頦。乘勢極力向喉嚨突下。更向上突上。則雙鉤入上環。</p>
<figure>
<img alt="探珠子法">
</figure>
<p>患者佐者坐如母法。醫以右手腕骨。捧持腮骨。指頭向頰車起大拇指。當地倉外面。探求牙關盡處。自皮上捺下如母法。左手受持下頦左傍。要令不搖而已。</p>
<figure>
<img alt="熊顧母法">
</figure>
<p>使患者開兩踵於臀外而安坐。醫在其背後。踐開兩腳而直立。低頭視患者之額上。安右手於額中央。翻左手以虎口挾持其項骨。指頭用力把定髮際玉枕骨下陷處。翻右手載其頤於掌上。前後相圍。左手自肩用力提之。右手應左手之提。自下抬之。務勿不正左右齊一。令右顧三次。然後當患者頭後於胸膛。以左手按額中央。翻右手挾持項骨。載頤於左手掌上如前。令左顧三次。</p>
<figure>
<img alt="熊顧子法第一">
</figure>
<p>使患者坐如母法。一人在患者之前。踐開兩腳。以兩手搭患者之肩井上邊。指頭向肩胛用力推鎮焉。醫直立其背後。兩手挾定如母法。提時左右徐徐令顧以己之呼吸為度。自肩至䯛用力施震震法。其提上之勢。恰如拔頸狀。漸伸時當患者腦後於胸膛。捺托令不弛。以項手代頤手。相圍如前法。徐徐牽上。筋骨抒緩時。令左右顧數次。</p>
<figure>
<img alt="熊顧子法第二">
</figure>
<p>使患者坐如母法。醫坐其右側。立右膝。安置右肘於髖上。翻掌載患者頤放其上。覆左手虎口挾定項骨。用力抬上如母法提。左顧時。右膝載胕而將送之。此法為貴人設。如其重症。猶須前法。</p>
<figure>
<img alt="熊顧子法第三">
</figure>
<p>使患者仰臥。醫箕踞其頭上。以兩足蹈定患者之肩井。翻在手挾項骨。右掌勾頤徐徐令顧如子法第一。其左顧也。用力蹈右肩。右顧反是。其左右遞互十次。</p>
<figure>
<img alt="車轉母法">
</figure>
<p>使患者正坐。醫坐其右側如雁行。斜欹右膝跂左踵。安置左臀於其跟上。用為跗。覆左手搭患者肩上。掌中當肩井。指頭及缺盆。大拇指在肩髃後陷處。翻右手掌抅持患者肘後。用力拽舉如彎弓狀。循患者耳後。斡旋如轉繰車狀。右手拽則左手拇指用力捺肩髃後。循耳後斡旋。則四指頭用力捺缺盆。運轉數次。</p>
<figure>
<img alt="車轉子法第一">
</figure>
<p>醫坐如母法。一人在患者前扶患手。其法開兩足而立。翻右手把患者之大拇指魚腹。翻左手把住患掌背腹。隨醫旋轉輕牽。慎勿緩弛。醫與扶者為掎捔角勢。齊一旋轉。其法小異母法。左手覆住肩井。大拇指揣入臑腧陷中。以右手虎口向肘逆握患者臑間。用力於肩。與扶者回轉。及其耳後。則斜肩屈肘揚之斡旋一次。又轉來至耳後。則用力於掌。捺定臑肉。開指頭轉掌。順換握。徐徐迴轉。而至脅肋。則扶者放手而退。醫乘勢而挫頓。</p>
<figure>
<img alt="車轉子法第二">
</figure>
<p>使患者端坐。醫坐其右背後如雁行。立右膝。以右手輕握患者肘後。而徐徐啟之。用左手掌。插絮團於其脅肋與肘間。用指頭推入於腋下。團皆入則更用虎口衝上。使右手所握之患肘漸切近於脅肋。則臑骨發起復其舊。尚不去絮團。用裹簾如法。</p>
<figure>
<img alt="車轉子法第三">
</figure>
<p>使患者屈其左肘。以掌按其膻中。而端坐。醫坐右側。斜欹左膝。以二疊軟布。當患手腋下。以左手掌抑之。以右手握定其腕後。以抑腋下手。急推倒。其手法機發。在妙訣焉。</p>
<figure>
<img alt="車轉子法第四">
</figure>
<p>使患者正坐。醫雁行於背後跋扈兩腳。以左手撙住患者肩髃。以右手把定患者右腕後。帶回轉之意。徐徐顫掉而拽患者肘高舉。而跨飛右腳於患者膝前乘勢迴轉。其迴轉也。拽於患者膝頭。至於脅下。沿耳後高舉。令不弛。斡旋數次。如母法。</p>
<figure>
<img alt="車轉子法第五">
</figure>
<p>使患者正坐。醫立其右背後雁行。跋扈兩腳。左手覆患者肩井。四指當缺盆雲門上。大拇指當臑腧穴。緊固捺定。右手把住患者右腕。乘拽勢退闢右足。而拽倒患者。載其右肩髃於左足跗上。左手猶在缺盆肩井。而抑定。屈右足。欹左膝。以跗扇翻其所載肩髃。其訣也。以所把住右手。捏撩扇翻。要與足跗一齊。</p>
<figure>
<img alt="車轉子法第六">
</figure>
<p>使患者正立。醫立患者背後如雁行。欹右膝跂左踵如母法。左手大拇指揣入臑腧陷處。四指覆肩上。右手把住其肘後徐徐動搖。乘舉勢。有拗之光景。以推出為度。</p>
<figure>
<img alt="車轉子法第七">
</figure>
<p>使患者正立。醫立背後如母法。以左手掌覆肩髃。拇指當臑腧穴。四指頭當缺盆雲門上。右虎口挾持患者肘後。如母法自腋下。輕控於背後。沿耳後斡旋。將舉回。則左手拇指推臑腧穴。至耳後。則掌中推髃骨上。轉向前。則推缺盆下。每斡旋互推三處。手裡在妙訣焉。一名三折車轉。</p>
<figure>
<img alt="車轉子法第八">
</figure>
<p>使患者正立。醫對立。立左膝。右手搭患者肩井上邊。四指至肩胛。如鉤引於前狀。左手抬握患者肘頭為微回意。而捺背後。則右手拽之。往來數次。以缺盆骨露起為度。</p>
<figure>
<img alt="圓旋母法">
</figure>
<p>使患者正立。醫在患肘前。對坐其間尺余。立左膝於患者右側。微側身向患者之左。右手握定患手腕後內側。左手掌上承載肘尖。伸首合住頭顱於患者右肩髃下膊上。令患者不動搖。以所握手。捺屈患手於患者頤下胸邊。左旋向外迴轉而拽伸之。合住肩髃額顱與承載肘尖左掌。握拽腕後右手者。其期要一齊焉。</p>
<figure>
<img alt="圓旋子法第一">
</figure>
<p>使患者俯臥。醫對其右側。立左膝。跂右踵。跗臀於跟上。以右手握定患手掌後。當左手於患者腋下。用力於腕。急速推倒患者。倒時醫捩左手㬹。以足澤受患手肘尖。以右手微撓其腕骨於外。曳定於內焉。</p>
<figure>
<img alt="圓旋子法第二">
</figure>
<p>使患者正立。以帨巾𥈆其兩眼。結之腦後。又以巾卷其患手腕後寸口。以繩索及絹帶約六七尺許。扎住其上。系其末於楹。佐者一人在患者左側欹坐。以兩手抱持之。醫雙手握麵杖。極力自頭上打繩索中央。勢如擊弦上。則肘骨頓復。</p>
<figure>
<img alt="圓旋子法第三">
</figure>
<p>使患者負楹若牆正立。醫對立於其傷肘。斜右膝。伸右手以掌按住患者右乳上。以左手握患手腕後外側。右掌捺乳上。則左手帶向內迴轉之意。而徐徐隨呼吸拽伸焉。</p>
<figure>
<img alt="圓旋子法第四">
</figure>
<p>依母法迴轉臂肘頗緩。半伸半屈如人字樣。勿令伸。承肘左掌之大拇指食指。挾肘骨帶掬之意。徐徐迴轉臂骨。則肘骨合縫。</p>
<figure>
<img alt="躍魚法">
</figure>
<p>使患者正立。而覆患手。醫對立其前側右手。上大拇指。下四指。把住患手四指中節。仰左手。上大拇指。下四指。挾其腕骨不緩不緊。乘勢而右旋拽伸之。登時以所挾腕骨之大拇指。摎聚皮肉於腕骨上。則腕前筋脈為之不攣急。令骨節易運轉。而轉大拇指。推入陽池穴陷處。其運轉也。要以挾腕骨手衝上。以握四指手曳下。左右有引訣並上下之意。而骨節寬容焉。</p>
<figure>
<img alt="游魚法">
</figure>
<p>使患者正坐。醫對坐。側右手上拇指下食指。把定患指頭。左手亦上大指下食指。挾患節上。運轉如躍魚法。</p>
<figure>
<img alt="鸞翔法">
</figure>
<p>使患者正立。醫踞其背後。跂左踵。跋出右腳。生腰直身當左掌於患者胛骨。四指頭鉤胛骨上稜骨。以掌側骨揣捺肩胛側骨。右手入患者腋下。屈肘伸五指。衡患者乳上。張肘腕後承定患者肘後。令伸肘。醫用力於曲肘。自肩捺上托送患者肘於頤邊。乘其捺送之勢。左手從之。指頭用力捺鎮胛骨。掌側骨亦用力捺送其胛骨於外。送極而右手微帶在旋意。自肩用力拽來。規以患者之體。其拽來右手鉤承之。其推送左手以整頓為要。</p>
<figure>
<img alt="靡風母法">
</figure>
<p>使患者叉手盤立。醫坐其背後。立右膝跂左踵。置臀於跟上。右腕當脾俞。其指頭向脅肋骨橫推之。其肘尖架住膝頭。以為用力地。插入左手於腋下。屈臂如軒。伸五指橫左乳上。掌後腕骨在胸肋擁抱之。使患者體微仰。而撓於後。右手承載患者體。以微推出意轉回之。其回也。左手從肩。右手從腰。徐徐為之。勿疾速焉。</p>
<figure>
<img alt="靡風子法第一">
</figure>
<p>使患者正立。醫對立於患者左胸。斜欹右膝。右手插入患者左腋下。橫其腕於背脾俞拗中。勾定於患體。當左手腕骨於兩乳間拗中。伸四指壓之。帶母法之意。從其呼吸。捺送胸肋數回。與母法前後相反耳。</p>
<figure>
<img alt="靡風子法第二">
</figure>
<p>使患者正立。佐者一人在前跋扈。以兩手搭住患者兩肩髃上。醫蹲踞患者背後中央。跗兩手肘尖於兩膝頭。兩腕骨橫當胛骨下。四指斜向兩腋擁之。佐者撙右肩。則醫捺右胛承之。撙左肩則捺左胛承之。如被靡風狀。左右數次。</p>
<figure>
<img alt="靡風子法第三">
</figure>
<p>使患者叉手正立。醫立在背後。跂兩踵。安住臀於跟上。插入兩手於腋下合抱患者叉手下。以胸膺切當患者膏肓下邊。兩拘向上反張。令患者背乘於胸上。摩軋之。戾身左轉。又戾身右轉。左右挾轉六七回。</p>
<figure>
<img alt="鶴跨母法">
</figure>
<p>使患者交臂於胸前而正立。醫在其背後。跂兩踵跗臀於跟上。用兩膝頭。緊挾患者兩⿰骨疌骨。兩手插入兩腋下。以鉤上之。生腰左之右之。戾回動搖。而患處平直為度。</p>
<figure>
<img alt="鶴跨子法">
</figure>
<p>使患者正立。醫在其左背後。立右膝肢兩踵。跗臀於跟上。用右手腕骨。當脊骨患處。伸五指向右脅肋。架住其肘尖於膝頭。以為用力之地。左手插入左腋下。屈肘伸五指。橫胸上玉堂華蓋。張肩抱患者體。右腕骨捺轉脊骨。其轉也。令其體斜仰。</p>
<figure>
<img alt="騎龍母法">
</figure>
<p>使患者俯臥。而伸腳屈右膝。醫立左腰側。開兩腳跋入其右足於患者胯間。屈腰下左手探求腰間脊骨之合縫處。逆掌押其骨尖。下右手持膝頭。屈上如燕尾法乘勢迴轉曳伸之。當其迴轉曳伸時。以左掌緊捺骨尖。要在中其肯綮焉。</p>
<figure>
<img alt="騎龍子法">
</figure>
<p>使患者正立。醫立其腰後。患處在右則拔入左腳於患者右側。右手掌橫當腰間尖骨上。其指頭向外插入左手於右腋下。伸五指橫當右乳上。如抱持定。使患者形偃仰。極力於右掌。乘以腕骨動搖之勢頓挫。推轉於前。當其推出。右手如挽患者體。跨越於右腳。相代於左腳。與手如一齊。</p>
<figure>
<img alt="燕尾母法">
</figure>
<p>使患者上其右髀側臥而半屈其膝。醫立其腰後。跋扈折腰。以左手掌。捺罨髀樞尖骨。右手屈四指。鉤住膝頭舉試之。要髀骨尖頭入於掌心。若不入則更為焉。更屈承舉膝頭。托送患者乳下季肋間。乘勢向下頓挫迴轉之。當其迴轉曳伸也。左掌緊推髀樞尖。帶自外面向於背之意。以掌推臀則應機而復焉。</p>
<figure>
<img alt="燕尾子法第一">
</figure>
<p>使患者側臥如母法。佐者與醫斜向立。屈腰持患者踵與䯒骨。從醫運轉無用自意。譬如母法。立於腰後。屈腰下一手掌於髀樞骨尖。要緊押按定當運轉令髀骨尖不突起。一手承持膝頭如母法。屈上膝頭於季肋邊。徐迴轉三次。乘勢挫頓以歸窠。佐者亦隨之曳伸其踵矣。</p>
<figure>
<img alt="燕子尾法第二">
</figure>
<p>使患者側臥如母法。插入疊被於裹簾所縛傷股間。佐者對立患者面前。兩手持被前端。醫右手斜合持補後端。而提舉之。左手緊捺髀骨尖。迴轉如母法。其右手不及腳。只被中將送之也。亦要徐遲其曳也。乘勢而復其位。</p>
<figure>
<img alt="尺蠖母法">
</figure>
<p>使患者仰臥。醫對坐其右腳傍。立左膝生腰。左掌覆定患者膝蓋骨上。右手緊握踵。徐徐捺屈腳於患者胸前。衝入跟於股間。勢射會陰。頓迴轉而拽伸焉。其登也用力於覆蓋骨掌。其曳來也。使蓋骨不頓於地。向上而以握踵右手。迴轉拽伸數回。</p>
<figure>
<img alt="尺蠖子法第一">
</figure>
<p>使患者坐。醫對坐患腳右前。而立左膝。右手握定踝骨。左掌搭患者項用其四指頭。鉤壓左枕骨邊。使患者頓首於前。乘其勢右手拽定腳。</p>
<figure>
<img alt="尺蠖子法第二">
</figure>
<p>使患者伸出患腳於前。醫對其膝右傍而坐。一手握定腳跟。一手屈掌。用虎口鉤住。上移膝蓋骨上際。按撫下之。下之也。以握跟手。屈伸其膝如母法。蓋骨稍稍下而歸元。</p>
<figure>
<img alt="尺蠖子法第三">
</figure>
<p>先以杉籬裹簾法。纏縛股骨傷處。佐者一人以兩手抱持裹簾上。醫對坐如母法。用小被載患腳踵跟。左手覆膝頭如母法。以右手徐拽其被。則佐者抱持而相應焉。</p>
<figure>
<img alt="弄玉法">
</figure>
<p>使患者跋出右膝於前而坐。醫傍其膝外側與患者並坐。倒左手以虎口挾定踝骨。覆右手握患足指令其跟著地。帶以四指上鉤以魚腹下托之意。而旋轉之。左手乘其勢。令踝骨上下。恰如弄玉狀。則復其舊。</p>
<figure>
<img alt="螺旋法">
</figure>
<p>使患者伸右腳於前而坐。醫對坐於其足心。左手掌心抅住其跟骨泄之。要令不弛。右手上大拇指。把住足四指。推出其跗。左旋迴轉而拽伸之。左掌中之跟左旋迴轉如螺殼形。</p>
<figure>
<img alt="螺旋法">
</figure>
<p>使患者伸右腳於前而坐。醫對坐於其足心。左手掌心抅住其跟骨泄之。要令不弛。右手上大拇指。把住足四指。推出其跗。左旋迴轉而拽伸之。左掌中之跟左旋迴轉如螺殼形。</p>
<figure>
<img alt="鴒尾法">
</figure>
<p>使患者立右膝仰出足跗而坐。醫傍其外側立左膝。斜與患者並坐。屈左手四指頭橫當其足心湧泉穴。而捺上。覆右手以腕骨。當其足胕上。握四指捺屈而向於外迴轉。其屈壓也。捺跗上腕則自上推下。捺湧泉指則自下推上。皆極力迴轉焉。</p>

<h1>接骨經驗方</h1>

<h2>麻藥部</h2>
<p>整骨麻藥</p>
<p>草烏（三分）　當歸　白芷（各二分半）</p>
<p>上末每服五分。熱酒調下。麻倒不知痛。然後用手如法整理。</p>
<p>九鳥散</p>
<p>蔓陀羅花（一錢）　露蜂房（三分五釐）　鳩糞（三分五釐）　反鼻（一錢　一方無反鼻）</p>
<p>上四味細末。以麻酒飲服。實人九分。虛人八分。昏沉不醒者。與濃煎茗一碗為妙。</p>
<p>草烏散　治傷骨節不歸窠者。用此麻之。然後下手整頓。</p>
<p>白芷　川芎　木鱉子　豬牙皂角　烏藥　半夏　紫金皮　杜當歸　川烏（各二兩）　舶上茴香　草烏（各一兩）　木香（半兩）</p>
<p>上為細末。諸骨碎骨折出臼者。每服一錢。好酒調下。麻倒不知疼處。</p>

<h2>熨藥部</h2>
<p>艾腸泥　治打撲筋攣骨閃挫。及久年打撲痛。</p>
<p>藏瓜姜糟　熟地黃（各六十錢）　生薑（擦二十錢）　艾（十五錢）</p>
<p>上四味內擂盆研爛為泥。攤好厚紙上。再以紙覆其上。敷患處。燒鐵鏝烙熨紙上。</p>
<p>黃酒散　熨骨節疼痛。</p>
<p>飛羅面（二合）　雞卵（三枚）　樟腦（二錢）</p>
<p>上三味。以好酒五合。文火煮。蘸白布蒸熨數次。</p>
<p>蒲黃散</p>
<p>馬鞭草　蒲黃　烏頭（各四錢）</p>
<p>上無灰酒或霹靂酒煉為泥。塗患處。厚六七分。以絹或紙覆之。用火針熨其上。</p>
<p>馬鞭散</p>
<p>生地黃　蒲黃　馬鞭草</p>
<p>上三味</p>
<p>定痛散　治一切打撲損傷。定痛消腫。舒筋和絡。</p>
<p>當歸　川芎　芍藥　桂枝（各一錢）　三奈（三錢）　麝香（三分）　紅花（五錢）　紫丁香根（五錢）　升麻（一錢）　防風（一錢）</p>
<p>上為末。以蔥白汁和為泥。敷痛處。以毛頭紙蘸醋貼藥上。燒鐵熨斗烙紙上。以傷處覺熱疼。口中有聲為度。</p>
<p>熨烙泥　治打撲及肩臂手足不可屈伸者。</p>
<p>酒糟（七十錢）　冬青葉（五十錢）　桂枝　合歡皮　生地黃（各七錢）</p>
<p>上先細銼冬青葉三味為末。和糟入臼杵為泥。團之如𦸉餅大。以紙作盂盛藥於其中。置患處烙其上。</p>
<p>國壽散</p>
<p>百草霜（十五錢）　飛羅面（二十錢）　生薑汁（五錢）</p>
<p>上以酒和勻貼紙上。以火針熨其上。</p>
<p>洎夫藍湯　打撲傷損腫痛。諸般之熨藥。正骨家常用。</p>
<p>忍冬（三錢）　黃柏（二錢）　紅花（四分）　硝石（一錢三分）　樟腦（八分）　當歸（四分）　川芎（六分）　桂枝（八分）　地黃（五分）</p>
<p>上以布裹一劑。浸火酒中。煮令色微紅。熨患處。</p>

<h2>膏藥部</h2>
<p>蚯蚓膏　緩筋攣筋縮骨關強者。</p>
<p>蚯蚓（四十八錢水洗去泥淨）</p>
<p>上清酒三十二錢。麻油百九十二錢。令相和。內蚯蚓。文火煮。以水氣盡為度。</p>
<p>管爾膏　療一切金瘡止痛方。（一名百效油）</p>
<p>麻油（一合）　椰子油（四錢）　乳香（一錢六分）　小麥（一合）</p>
<p>上小麥浸麻油三日。煮令焦。漉去麥渣。入椰乳煉收。</p>

<h2>敷藥部</h2>
<p>一白散　治打撲傷痕紫黑。有瘀血流注無熱者。</p>
<p>半夏</p>
<p>上末薑汁調傅。</p>
<p>鯽魚泥　治折傷肉爛腫痛者。</p>
<p>生鯽魚</p>
<p>上去腸骨為泥。塗患處。</p>
<p>生鰍泥　治折傷肉爛焮熱者。</p>
<p>泥鰍</p>
<p>上擂爛為泥。塗患處。</p>
<p>茴香酒</p>
<p>茴香　樟腦　紅花</p>
<p>上三味。浸火酒。納磁器封固三十日。</p>
<p>雞舌丹　不問新舊諸般打撲。杏蔭齋常用此方。</p>
<p>桂心末（四十錢）　丁子（一錢）　肉桂（二錢）　糯米（二合）</p>
<p>上細末。用密絹羅廚篩出。陳醬汁和勻。雞翎掃搽患處。</p>
<p>翻風散　治手掌後軟骨高起。不痛不膿。無寒熱者。</p>
<p>輕粉（一錢）　山椒（末二錢）</p>
<p>上二味。研羅為細末。水調塗遍。</p>
<p>救急奇方　治諸傷瘀血不散。</p>
<p>野苧葉</p>
<p>上於五六月取收野苧葉。擂爛塗金瘡上。如瘀血在腹用順水擂爛服即通。血皆化水。以死豬血試之可驗。秋月恐無葉。可早收之。</p>
<p>黑龍散　治墜馬。或高墜。腰腳腫痛。</p>
<p>苦瓠霜（大者瓣共霜）　鹽梅</p>
<p>上二味。燒存性。清酒或火酎和。調摺痛處。</p>
<p>赤地利散　治打撲傷損。青紫腫硬。數日不減者。</p>
<p>赤地利　黃柏　石灰</p>
<p>上三味為細末。釅醋和勻。雞翎掃塗。</p>
<p>楊梅散　治打撲腫硬痛。</p>
<p>黃柏　楊梅皮　胡椒</p>
<p>上三味為細末。火酒和勻為泥。搽塗患處。</p>
<p>假母布剌酒　久年打撲痛</p>
<p>火酒（四百八十錢）　片腦（十錢）</p>
<p>上搜令相得。納壺煮溶。封其口。埋土中百日。取出羽掃患處。</p>
<p>琥珀散　療手足閃挫方。</p>
<p>酒　櫱（二十錢）　松脂（四十錢）　雞子</p>
<p>上為末。糊調塗損處。以柳皮或蘗皮覆藥上。復以綿布卷扎。如此每日一度。</p>
<p>無名散　諸般攧跌打撲。</p>
<p>楊梅皮　鹿角霜　石灰（韭汁浸）　無名異（各等分）</p>
<p>上酢或酒和調為泥。攤紙上以罨患處。</p>
<p>玳瑁光　治墜馬折傷打撲一切骨節疼痛不治之症。奇驗方。</p>
<p>阿膠（二錢）</p>
<p>上以生薑汁煮膠烊消。合生姜渣攪令相得。適寒溫。臨臥敷患處。冷不成功。以綿被覆藥上半時許。覺熱為知。</p>
<p>生鱸泥　治打撲。</p>
<p>生鱸魚　砂糖</p>
<p>上二味。杵成泥。研勻敷痛處。</p>
<p>麟血散　折傷奇方。</p>
<p>乳香　麟血　紅花　麵粉</p>
<p>上熱酒醋和勻。</p>
<p>青泥　療打撲。</p>
<p>接骨木葉</p>
<p>上擂爛。取自然汁搽患處。</p>
<p>綴藥　耳鼻傷損落者。</p>
<p>用人發入陽城確。以鹽泥固濟蝦過為末。乘急以所傷耳鼻蘸藥。安綴故處。以軟絹縛定。</p>
<p>消毒定痛散　治跌撲損傷。腫硬疼痛。</p>
<p>無名異　木耳（炒）　川大黃（各五錢）</p>
<p>共為末。蜜水調塗。如內有瘀血。砭去敷之。若腐處更用膏藥敷之尤好。</p>
<p>麻肌散</p>
<p>川烏　草烏　南星　半夏　川椒</p>
<p>上末。唾調搽之。</p>

<h2>洗藥部</h2>
<p>散瘀和傷湯　治一切碰撞損傷。瘀血積聚。</p>
<p>番木鱉（油煠去毛）　紅花　生半夏（各五錢）　骨碎補　甘草（各三錢）　蔥須</p>
<p>上水五碗。煎滾入醋二兩。再煎十數滾。薰洗患處。一日十數次。</p>
<p>蒴藋煎　療打撲疼痛。腫不消。</p>
<p>忍冬　蒴藋　接骨木　艾　石菖　蓮葉　折傷木（各一兩）　食鹽（一合）</p>
<p>上七味。以水二升煎取一升。洗損處。</p>
<p>片腦水</p>
<p>樟腦</p>
<p>上大寒節取井花水。腦一味盛麻囊浸三十日。</p>

<h2>丸散部</h2>
<p>雞鳴散　治從高墜下。及木石所壓。凡是傷損血瘀。凝積氣絕死。煩躁。頭痛不得叫呼。並以此藥利去瘀血。治折傷神妙。</p>
<p>大黃（一兩酒蒸）　桃仁（二十粒去皮尖）</p>
<p>上研細。酒一碗。煎至陸分。去渣。雞鳴時服。次日取下瘀血即愈。若氣絕不能言。急擘口開。用熱小便灌之。即愈。</p>
<p>當歸導滯散　治打撲損傷。落馬墜車。瘀血大便不通。紅腫青黯。疼痛昏悶。畜血內壅欲死。</p>
<p>大黃（一兩）　當歸（二分半）　麝香（少許）</p>
<p>上三味。附麝香別研外。為極細末。入麝香令勻。每服三錢。熱酒一盞調下如前。內瘀血去或骨節傷折疼痛不可忍。以定痛接骨紫金丹治之。</p>
<p>本命散　治刀刃所傷。及從高墜下。木石壓損。瘀血凝積。心腹痛。大小便不通。</p>
<p>水蛭（用石灰拌熳火炒令黃色半兩）　黑牽牛（二兩）</p>
<p>上末。每服二錢。熱酒調下。約行四五里。再用熱酒調黑牽牛末二錢催之。須下惡血成塊。以盡為度。</p>
<p>八釐散　治跌打損傷。接骨散瘀。</p>
<p>蘇木（一錢）　鐵砂（一錢）　自然銅（三錢醋焠七次）　乳香（三錢）　沒藥（三錢）　血竭（三錢）　麝香（一分）　紅花（一錢）　丁香（五分）　番木鱉（一錢油煠去毛）</p>
<p>上共為細末。黃酒溫服。童便調亦可。</p>
<p>黑藥方　治打撲傷損。</p>
<p>幹過臘魚（霜二錢）　山椒（為霜二錢）</p>
<p>上為末。溫酒送下。</p>
<p>當合丸　治打撲傷損。兼下血。</p>
<p>百草霜（十錢）　赤豆（炒至紅色為度一錢）　萍蓬（黑炒五錢）　蝮蛇（酒炙一錢）</p>
<p>上末溫酒送下。味噌汁亦佳。</p>
<p>疏血丸　此藥止血開胃。</p>
<p>百草霜（三錢）　好阿膠（蛤粉炒成珠）　藕節　側柏葉　茅根　當歸</p>
<p>上共為細末。煉蜜為丸。如梧桐子大。每服五錢。早晚陳酒送下。</p>
<p>塞鼻丹　此丹治跌打損傷。鼻中流血不止。神氣昏迷。牙齒損傷。虛浮腫痛者。及一切衄血之證。皆可用之。</p>
<p>硃砂　麝香　丁香　烏梅肉　川烏　草烏　當歸　三奈（各一錢）　乳香　皂角（七分）</p>
<p>上共為細末。用獨頭蒜泥為丸。以絲棉包裹。塞於鼻中。</p>
<p>回陽玉龍丸　耑敷跌打損傷。氣虛寒冷。</p>
<p>草烏（二錢炒）　南星（一兩煆）　軍姜（一兩煨）　白芷（一兩）　赤芍（一兩炒）　肉桂（五錢）</p>
<p>上共為末。蔥湯調搽。熱酒亦可。</p>
<p>六味地黃丸　傷損之證。肌肉作痛者。乃榮沖氣滯所致。宜用後元通氣散。筋骨間作痛者。肝腎之氣傷也。</p>
<p>熟芐（八兩）　山萸肉（四兩去核）　懷山藥（四兩）　牡丹皮（三兩）</p>
<p>澤瀉（三兩）　茯苓（三兩）</p>
<p>上共為末。煉蜜為丸。如梧桐子大。空腹白湯服三錢。</p>
<p>蘇合香丸</p>
<p>沉香　木香　丁香　白檀　麝香　安息香（酒熬膏）　香附子　白朮　蓽茇　訶子肉　硃砂　犀角（鎊各一兩）　乳香　片腦　蘇合香油（入息香膏內各五錢）</p>
<p>上將各味咀成片。為細末。入腦麝安息香蘇合香油同藥攪勻。煉蜜為丸。每丸重一錢。用蠟包裹。每用大人一丸。小兒半丸。去蠟皮以生薑自然汁化開。擦牙關。別煎薑湯少許。調藥灌下神效。</p>
<p>鷲霜散　治一切久年打撲痛。</p>
<p>鷺（去觜足翅腸以紅花花人參一兩填腹）</p>
<p>上納土器。鹽泥封固。燒存性為細末。熱酒送下一錢。</p>
<p>黑神散</p>
<p>黑豆（去皮炒半斤）　熟乾地黃（酒浸）　當歸（去蘆酒製）　肉桂（去粗皮）　乾薑（炮）　甘草（炙）　芍藥　蒲黃（各四兩）</p>
<p>上為細末。每服二錢。酒半盞。童子小便半盞。不拘時煎調服。</p>

<h2>湯藥部</h2>
<p>復元活血湯　治從高墮下。惡血凝結。腫硬疼痛。不可忍者。</p>
<p>柴胡（五分）　當歸　穿山甲（炮）　栝蔞根（各三錢）　甘草　紅花（各二分）　桃仁（去皮尖五十個）　大黃（酒浸一兩）</p>
<p>上杵桃仁研爛。余藥銼如麻豆大。每服一兩。水二鍾。酒半盞。煎至七分。去渣。食前溫服。以利為度。</p>
<p>斂血劑　治因金刃傷而動經脈。卒暈欲死者。故產後血暈及打撲動經脈者皆主之。</p>
<p>萍蓬　桂枝　木香　當歸　黃芩　白朮　黃連　甘草　川芎　丁子　地黃　檳榔　茯苓　大黃　人參</p>
<p>上十五味。細銼盛布囊。漬麻沸湯。須臾絞頓服。</p>
<p>清上瘀血湯　治上膈被傷者。</p>
<p>羌活　獨活　連翹　桔梗　枳殼　赤芍藥　當歸　梔子　黃芩　甘草　川芎　桃仁　紅花　蘇木　大黃</p>
<p>上生地黃煎。和老酒童便服。</p>
<p>清下破血湯　治下膈被傷者。</p>
<p>柴胡　川芎　大黃　赤芍藥　當歸　黃芩　五靈脂　桃仁　枳實　梔子　赤牛膝　木通　澤蘭　紅花　蘇木</p>
<p>上生地黃煎。加老酒童便和服。</p>
<p>正骨順氣湯　杏蔭齋諸般打撲傷損通用之。</p>
<p>當歸　川芎　白芍藥　蒼朮　厚朴　茯苓　半夏　白芷　枳殼　桔梗　乾薑　桂枝　麻黃　甘草　羌活　蜜香</p>
<p>上姜水煎。</p>
<p>赤地利湯　治打撲奇方。</p>
<p>赤地利</p>
<p>上水煎頓服。一方燒存性。糯米粉中停。溫酒送下。</p>
<p>鰵魚湯　治打撲折傷。</p>
<p>鰵魚（二錢）　當歸（六分）　川芎（五分）　大黃（四分）</p>
<p>上四味。以水二合。煮取二分。日二服。服之則患處覺痛。久者服十餘劑愈。神效。</p>
<p>加減蘇子桃仁湯　治瘀血內聚。心經瘀熱。大腸不燥者。</p>
<p>蘇子（二錢半末）　紅花（一錢）　桃仁（炒）　麥門　橘紅（各三錢）　赤芍　竹茹　當歸（各二錢酒洗）</p>
<p>上水三鍾。煎一鍾。渣二鍾。煎八分。溫服。</p>
<p>犀角地黃湯　撞撲胸膛吐血者。</p>
<p>犀角　生地黃（酒浸別搗）　牡丹皮　白芍藥（各等分）</p>
<p>上水煎。</p>
<p>桃仁承氣湯</p>
<p>大黃　芒硝　桃仁　桂枝　甘草</p>
<p>上水煎服。以利為度。</p>
<p>抵當湯</p>
<p>水蛭　虻蟲（各三十枚去翅足）　大黃（一兩酒浸）　桃仁（三十枚去皮尖）</p>
<p>上以水五升。煎取三升。去滓溫服一升。不再服。</p>
<p>調經散</p>
<p>川芎　當歸　芍藥　黃耆（各一錢半）　青皮　烏藥　陳皮　熟地黃　乳香（別研）　茴香（各一錢）</p>
<p>上作一服。水二鍾。煎至一鍾。不拘時服。</p>
<p>折傷木湯</p>
<p>折傷木　當歸　川芎　地黃　大黃　芍藥　澤瀉　枳實　茯苓　蒲黃　甘草</p>
<p>上十一味。</p>
<p>四物湯</p>
<p>當歸（三錢）　川芎　白芍　熟地（各二錢）</p>
<p>上水煎。</p>
<p>百合散</p>
<p>川芎　赤芍藥　當歸　百合　生地黃</p>
<p>側柏葉　荊芥　犀角　丹皮　黃芩　黃連　梔子　鬱金　大黃（各一錢）</p>
<p>上水煎。加童便和服。</p>
<p>加減承氣湯</p>
<p>大黃　朴硝（各二錢）　枳實　厚朴　當歸　紅花（各一錢）　甘草（二分）</p>
<p>上水酒各半煎服。</p>
<p>玉燭散</p>
<p>生地黃　當歸　川芎　赤芍藥　大黃（酒浸）　芒硝</p>
<p>上引用生薑水煎。</p>
