<header data-type="book">
<h1>達生編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>亟齋居士</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1715">公元1715年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=82089">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>重印達生福幼二編序</h1>
<p>善治病者。治之於未病之先。則受益深而無所費。故云。致治於未亂。保邦於未危。如是則無所謂病。何用治為。雖然。能如是者。其有幾人。人生世間。唯生與死。最為重要。若不得其道。則其生之時。或致母子俱死。即令不死。亦或枉受種種痛苦。於萬死中。幸得復生。誠可憐可憫也。亟齋居士。特手輯達生編。以發明世間產難。多由誤認試痛為正生。以致生出種種橫生倒產等險難。此臨產之一大關係也。又云。保胎以絕欲為第一義。故保產心法。首戒交媾。文云。婦一有孕之後。切戒交媾。所以昔人有孕。即居另室。不與共寢。恐動欲念也。大抵三月以前犯之。則欲念起而子宮復開。多有漏下胎動諸患。三月以後犯之。則胞衣厚而難產。要知欲火傷胎。必致汗濁凝積。且兒身白濁痘毒瘡疾。醫治難痊。俱因父母不慎也。此初受胎一大關係也。果能識得受胎與臨產之關係。則凡有所生。自無墮胎及難產等患。而所生兒女。咸皆姿質龐厚。性情溫良。既少痘疹等毒。又復長壽康健。人果預知此義。則必致身心安樂。子孫賢善。丕振家聲。有益社會。所謂治病於未病之先。即含致治於未亂。保邦於未危種種勝益。由是言之。此書之關係也大矣。維揚張善徵。以母夫人劉氏逝世。己年尚幼。未能奉甘旨於生前。欲冀由母氏故。令一切為人母為人子者。鹹得享受安樂長壽之利益。因發心排印此書四萬冊。以送一切有緣者。令彼咸知未病之治法。與當病之治法。庶不至或有臨產痛苦之事。與子女不育之憂也。又自古以來。慢驚風一症。十有九死。最為危險。而莊一夔先生所著之福幼編。依之以治。十有十生。誠幼科中最要之書。亦附於後。以期廣傳。因打四付紙型。以備後之欲作福利人者印刷焉。又產難之近因。前已言之。若論遠因。多由宿世現生殺業所致。倘女子於幼時。常念南無阿彌陀佛。與南無觀世音菩薩聖號。自可消除宿現殺業。殺業消則臨產自無作障令不生者。此亦治之於未病之先之一法也。其或未聞佛法。若至臨產。苦不即生。當令產婦。並在旁料理之親屬。均以至誠心。念南無觀世音菩薩。所有宿世怨家。障不令生者。一聞菩薩名號。以菩薩威德神力。當即遠避。不敢作祟矣。有謂臨產裸露不淨。念菩薩名。或致褻瀆得罪。此係以凡夫情見。妄測菩薩心行者。不知此係性命相關之時。不得以平常了無病苦時論。譬如兒女墮於水火。呼父母以求救援。父母聞之。當即往救。斷不至因衣冠不整齊。身體不潔淨。而不肯救援也。吾一弟子。數年前在四川。至一友人家。聞婦人叫得傷心。因問何故。曰婦生子已兩日生不下。恐命不能保。彼謂急令產婦念觀世音聖號。汝於天井。焚香跪念。管保即生。其人即與婦說。又復自念。未久兒生。婦猶不知。及聞兒哭。方知已生。婦言。初欲生時。見一人以布。兜其下體。故生不出。及念觀世音聖號。見其布已脫。故生出尚不知。聞哭方知已生耳。古人云。死生亦大矣。可不悲哉。淨土法門。特為死時。及死後神超淨土所設。此書乃為將生。及生已種種保護而設。普願仁人君子。展轉流通。俾家備一編。同致力於培德節欲。則此書所說。悉無所用。而前人流通。與善徵印施。及不慧提敘兩種關係之意。方可了無遺憾矣。民國十八年己巳季秋古莘釋印光撰香蕉。芋頭。二種不可同時吃。嘉定徐子山言。一友吃香蕉已。隨即吃飯。菜有芋頭。吃飯不久。其人即死。其形容若中重毒者。大家莫明其故。後未幾月。又有一人。亦復如是而死。若中毒狀。請西醫驗其糞。謂兩黏物相反所致。知此人系吃此二物而死。前之一人。亦系因此而死。一日往親戚家。言及此事。群相驚訝。試以二種和成一團。與雞食之。其雞即死。又以二物。置於一器。次日則完全淤黑。大失本色。是知香蕉芋頭。不可同食。因附於此。以期舉世咸知云。</p>
<p><u>治肺病二良方</u></p>
<p>蓴菜佐膳久之自愈（此菜多產江浙湖澤中葉橢圓莖及葉背皆有黏液作羹甚美若治病勿同葷菜煮）</p>
<p><u>枇杷葉去毛煎茶日日飲之一月後大便中見小蟲即愈</u></p>

<h1>刪節廣布序</h1>
<p>達生編一書。古人立法。可謂盡善盡美。予學醫四十餘年。每遇難產之症。無不奉為圭臬。無一誤事者。但其書不憚煩。再三告誡。亦恐不詳細。有誤於人也。惟篇頁過多。雖作者之苦心。而閱者反嫌其瑣屑。豈非欲詳備而反致疏略乎。予年六十有七。養疴淮上。閒暇無事。揣摩是編。因擇其至要者。集為一本。易於翻閱。凡稍涉繁冗者。概置不錄。並不敢妄為刪除。實欲簡便而令人易從也。抄集既成。爰弁數語於篇首。亦濟世之婆心。而世之難產者。亦可無慮矣。</p>
<p><u>同治戊辰年四月中浣安徽歙縣洪門武林連氏</u></p>

<h1>原引</h1>
<p>胎產非患也。而難產則為人患。人患不殄。則歸之於天。天何尤乎。亦惟求之人事而已。此編專為難產而設。蓋區區一得之愚。亦即區區一點真誠之念。倘能熟看謹行。皆可先生如達。於是人患弭而天德協矣。然知之而不言非也。聞之而不傳亦非也。好生者見之。宜為廣布。有力者重刻通行。無力者手抄數冊。口授數人。隨分所至。未必非吾儒同胞同與之一事。吾人利濟為懷。原非求福。然積善餘慶。必有攸歸。達天德也。但此編揣摩印證。委系無疑。凡重刻手抄時。不必改動。尤不必增入方藥。以相矛盾耳。</p>

<h1>大意</h1>
<p>胎產一事。自產寶諸書以後。代有發明。其保胎臨產。及產後調理之法。率皆至精至密。似無遺義。又何俟今之多言。但或專精方藥而未及其所以然。或略一及之而未竟其旨。徜非究心有素之人。未易明而用之也。倉卒之際。殊難得力。茲特倡明天德自然之說。不厭煩絮重複。以期於暢。使平日可以預防。臨時可以應急。從此天下後世產母嬰兒。同登壽域。豈不快哉。然亦特曲遵古人之意而條達之。非創為異說也。</p>
<p>此編只是反復以言其理。至於方藥殊未之及。偶載一二。皆取先賢古方。極平極穩者。蓋極平常之事。須用極平常之藥。一切矜奇炫異之方。概置不錄。且保護得法。雖平常之藥。亦無所用之矣。倘必欲用。則他刻自有。原不相妨。</p>
<p>凡胎前臨產。產後調護之法。一一備載。不厭煩複。蓋原系家居日用閨房瑣屑之事。</p>
<p>一有不到。皆足致病。與其服藥於病後。曷若致謹於平時。</p>
<p>此編言語俚俗。未免見笑大方。但原為婦人而設。識字者固不必言。不識字者令人誦之。皆可通曉。然須平時講令心中明白。臨時自有主張。不但產母宜知。一應老幼男婦。皆當知之。與其看戲文。聽說書。不如此等有益也。</p>
<p>此編雖為人所當知。而富貴之家。尤宜熟講。蓋閨人平時嬌養。口厭肥甘。身安逸樂。體氣脆薄。且性情驕傲。不聽人言。到此時才一知覺。即不能耐。點燈著火。上呼下應。房中擠簇多人。內外嚷成一片。穩婆絡繹。各要爭功。脈未離經。胎未轉下。即便坐草。及至不順。奇方珍藥。紛紛亂投。以致母子兩誤者多矣。豈不惜哉。但能留意</p>
<p>此編。自可平安清吉。</p>
<p>胎產之書。可以汗牛。今此戔戔。特為難產而設。其胎前產後。特略載一二。以存其概而已。若曰。此編足以盡之。則重予過矣。</p>
<p>開卷即載臨產者何。蓋臨時倉卒。不及細檢。因以切要者。載之首篇。且令開門見山。人人熟習。專意行持。自可無誤。若平時講說。原不妨從保胎順序看之也。試痛一篇。尤為緊要。蓋知試痛之誤。方知正生之易。正與臨產一篇。互相表裡。最宜細看。仍採先賢格言之足相發明者。數條載之。聊以徵予言之不謬。然嘗鼎一臠。</p>
<p>亦足以知其概矣。</p>
<p>語云。勿以善小而不為。此篇固小之小者。然誠有見於胎產。為生人之始。隨時隨地。體驗而成。且身經目擊。口授耳聞。千試不爽。忘其猥陋。出以語人。漏萬之譏。固所不免。世之君子。原其心焉可矣。</p>

<h1>卷上</h1>

<h2>原生</h2>
<p>天地之大德曰。生生之德無往不在。要莫大於生人。夫胎產固生人之始也。是以名之曰生。生也者。天地自然之理。如目視而耳聽。手持而足行。至平至易不待勉強。而無難者也。然今之世。往往以難產聞者。得無以人事之失。而隕其天耶。夫天豈以生道殺人哉。必不然矣。因思人為至靈。何負於物。物之生也。莫或難之。故草木之甲以時。鳧鷇之出以日。豈復有導之者哉。自然而然。不待勉強。於人何獨不然。有童子骨哽於喉。百方不出。舉室彷徨。一嫗視之曰無異也。令靜臥飼以漿糜。三日自出。而無所苦。可以知其理矣。骨哽者人事也。尚可以天勝之。而況天道之常。與自然之極者乎。事本易也。而自難之。事本常也。而或異之。無惑乎其然矣。自持此理消息行之。百試之下無一失者。而多不用藥。由此敝唇焦舌。以告同人。頗蒙相信。數年以來。一邑之間。產難者蓋寡矣。獨惜一域不能遍及。茲漫述成帙。剞劂布之。夫豈能有補於生之外哉。惟願順承天休。而毋以人事撓之。以各遂其生而已。</p>

<h2>臨產</h2>
<p>六字真言　一曰睡　二曰忍痛　三曰慢臨盆</p>
<p>初覺腹痛。先要自家拿定主意。要曉得此是人生必然之理。極容易之事。不必驚慌。但覺痛一陣不了。又痛一陣。一連五六陣。漸痛漸緊。此是要生。方可與人說知。以便伺候。若痛得慢。則是試痛。只管安眠穩食。不可亂動。此處極要著意留心。乃是第一關頭。不可忽略。若將試痛。認作正生。則錯到底矣。此時第一要忍痛為主。不問是試痛。是正生。忍住痛。照常吃飯睡覺。痛得極熟。自然易生。且試痛與正生。亦要痛久。看其緊慢。方辨得清。千萬不可輕易臨盆坐草。揉腰擦肚。至囑至囑。再站時宜穩站。坐時宜正坐。不可將身左右擺扭。須知此處要自家作主。他人替不得。與自己性命相關。與別人毫無干涉。到此時。必要養神惜力為主。能上床安睡。閉目養神最好。若不能睡。暫時起來。或扶人緩行幾步。或扶桌站立片時。痛若稍緩。又上床睡。總以睡為第一妙法。但宜仰睡使腹中寬舒。小兒易於轉動。且大人睡下。小兒亦是睡下。轉身更不費力。蓋大人宜惜力。小兒亦宜惜力。以待臨時用之。切記切記。</p>
<p>無論遲早。切不可輕易臨盆用力。切不可聽穩婆說。孩兒頭已在此。以致臨盆早了。誤盡大事。此乃天地自然之理。若當其時。小兒自會鑽出。何須著急。因恐小兒力薄。其轉身時用力已盡。及到產門。不能得出。或亦有之。宜稍用力一陣。助之則脫然而下。蓋此時瓜熟蒂落。氣血兩分。渾身骨節。一時俱開。水到渠成。不假勉強。及至生下。即產母亦不知其所以然矣。</p>
<p>或曰。大便時亦須用力。如何生產不用力。不知大便呆物。必須人力。小兒自會轉動。必要待其自出。不但不必用力。正切忌用力。蓋小兒端坐腹中。及至生時。垂頭轉身向下。腹中窄狹。他人有力難助。要聽其自家。慢慢轉身到產門。頭向下。腳向上。倒懸而出。若小兒未曾轉身。用力一逼。則腳先出。以為詫異。且贈之美名曰。腳踏蓮花生。或轉身未定時。用力一逼。則橫臥腹中。一手先出。又名之曰討鹽生。即或轉身向下。略不條直。用力略早。亦或左或右。偏頂腿骨而不得出。不知此等弊病。皆是時候未到。妄自用力之故。奉勸世人。萬萬不可用力。然亦非全不用力。但當用力。只有一盞茶時耳。其餘皆不可亂動者也。即如大便。未到其時。縱用力亦不能出。而況於人乎。</p>
<p>或問。何以知此一盞茶時。而用力乎。曰此時自是不同。若小兒果然逼到產門。則渾身骨節疏解。胸前陷下。腰腹重墜異常。大小便一齊俱急。目中金花爆濺。真其時矣。當於此時臨盆。用力一陣。母子分張。何難之有。</p>
<p>或曰。小兒會鑽出之說。到底未敢盡信。不知古人。曾言及否。曰古人立言。不過撮其大要。安能事事而悉言之。只要後人體會耳。觀瓜熟蒂落四字。即知小兒自會鑽出。觀揠苗助長四字。即知將試痛。認作正生之弊矣。夫哺雞日足。自能啄殼而出。豈有催生之神藥。穩婆之妙手乎。古人謂有遲至三四年而後生者。此是不肯鑽出耳。既自不肯鑽出。誰能強之。自要鑽出。誰能御之。</p>
<p>或曰。早一時。斷乎不可動矣。不知遲了一時。或有妨否。曰不妨。若果當其時必無不出之理。然或偶有不出者。則是小兒力盡。不能得出。宜令上床安睡。使小兒在腹中亦安睡。歇力少刻。自然生矣。</p>
<p>或曰。倘或兒到產門。而大人睡下。豈不有礙。曰更好。蓋小兒向下時。而大人坐立。則小兒倒懸矣。豈能久待。今大人睡下。兒亦睡下。有何妨礙。又曰。倘或悶壞奈何。曰他十個月不悶。今乃悶乎。</p>
<p>或問。忍痛過久。或亦不妙。曰最妙。從未聞婦人偷生而難產者。或謂有神護佑。非也。總因胎起於私。怕人知覺。只得極力忍痛。痛到沒奈何時。自脫然而出。其理甚明。</p>
<p>有何疑處。</p>
<p>或曰。不宜用力。已聞教矣。不知誤用力。以致橫生倒產。有法治之否。曰有。急令安睡。用大劑加味芎歸湯服之。將手足緩緩托入。再睡一夜。自然生矣。又曰。托之不入奈何。曰若肯睡。再無托不入之理。若到此時。仍不肯睡。又或動手動腳。亂吃方藥。吾末如之何也矣。</p>

<h3>（附）薛氏治法</h3>
<p>橫生　兒先露臂也。令產母正臥。以手徐推兒臂。下體令其正直。復以中指摸其肩。勿令臍帶絆系。即生。</p>
<p>逆生　兒先露足也。令母正臥。以手徐推其足。仍推兒轉正。即生。</p>
<p>偏生　兒頭偏在一邊也。亦照前法正其頭。即生。或兒頭後骨。偏在穀道旁。徐推近上。即生。</p>
<p>礙產　兒頭雖正。但不能下。蓋因胎轉時。臍帶絆肩所致。用中指按兒兩肩。理脫胎帶。即生。</p>
<p>產坐　兒將欲出。其母疲倦。久坐椅褥。抵其生路。急用巾帶高懸。令母以手攀之。輕輕屈足。良久兒順。即生。</p>
<p>瀝漿生（又名瀝胞生）　漿流一二日不產。或至數日外。亦無妨。惟安睡。候漿流漸少。或流盡。當自生耳。不必驚恐。切勿動手。又有漿水瀝盡。氣機仍未。致胎干難產者。此不得聽其自然。急用大料四物湯。約二三斤。以大鍋在房內煎熬。使藥氣滿房。口鼻吸受。以滋益之。內服加味芎歸湯。一服未效。少停片時。再進一劑。連次服之。以生為度。此言胎干而兒未脫胞者也。若兒未脫胞。可令明干穩婆。動手取下為安。</p>
<p>或問盤腸生。是何緣故。曰亦是用力之過。蓋因產母。平日氣虛。及到臨時。用力努掙。渾身氣血下注。以致腸隨兒下。一次如此。下次路熟。又復如此。若能等待瓜熟蒂落之時。何得有此怪異之症乎。</p>
<p>或問有一痛便生。令人措手不及者。此又何也。曰此乃正理。何足為異。蓋胎氣已足。母子兩分。兒自要出。雖欲留之而不可得。人人皆是如此。皆各有此一時。只要忍耐得住。等待此一時耳。</p>
<p>或曰。穩婆不必用乎。曰既有此輩。亦不能不用。但要我用他。不可他用我。全憑自家作主。不可聽命於彼耳。大約此等人多愚蠢。不明道理。一進門來。不問遲早。不問生熟。便令坐草用力。一定說孩兒頭已在此。或令揉腰擦肚。或手入產門探摸。多致損傷。總要見他功勞。不肯安靜。更有一等狡惡之婦。藉此居奇射利。禍不忍言矣。按吳越之間。謂之穩婆。江淮間。謂之收生婆。徽寧間。謂之接生婆。按收接二字之義。因其年老慣熟。令其接兒落地。收兒上床耳。原非要他動手動腳也。每見富貴之家。預將穩婆留在家中。及到臨時。稍不快利。前門後戶。接到無數。紛紛攘攘吵成一片。所謂天下本無事。庸人自擾之。</p>
<p>或問臨時。有經驗之藥。亦可用否。曰不用。從前奇方。莫過鼠腎兔腦丸。今時盛行。莫過回生丹。非謂其不效而不用也。總用不著耳。既不用力。又不動手。又有睡法佐之。他自會生。何消用藥。縱有不順。睡為上策。</p>
<p>或問服藥。有益無損否。曰安得無損。鼠兔二丸。大耗氣而兼損血。回生丹。大破血而兼損氣。蓋鼠兔例用香竄之藥。產時百脈解散。氣血虧虛。服此散氣藥。兒已出而香未消。其損多矣。且令毛竅開張。招風入內。禍不可言。回生丹以大黃紅花為君。其餘亦多消導之品。血已耗而又大破之。多致產後發熱等病。遺患無窮。都只謂產後失調。誰復歸咎於藥。按此數方。古今稱為神靈奇寶者。尚然如此。其他可知。送藥者。本是善念。但知其利。不知其害耳。</p>
<p>或問總無可用之藥乎。曰有。只須加味芎歸湯。佛手散。二方。用之不盡矣。蓋胎時全要血足。血一足。如舟之得水。何患不行。惟恐產母血少。又或胞漿早破。以致乾澀耳。今二方皆大用芎歸。使宿血頓去。新血驟生。藥味易得。隨地皆有。且使身體壯健。產後無病。真正有益無損。此皆先賢洞明陰陽之理。制此神丹。以利濟天下後世。奈世人貴耳賤目。以為平常而不用。必求奇怪之藥。而後用之。只要奇怪。不論損益。豈不可嘆。</p>
<p>或問依此言。世間總無難產者耶。曰偶亦有之。或因產母太虛。胎氣不足。血氣未完。</p>
<p>或因產母傷寒之後。熱毒傷胎。又或因夫婦同房太多。以致欲火傷胎。平日過食椒姜。煎炒熱物。火毒傷胎。以及跌撲損傷。皆致難產。多令胎死腹中。除此之外。無難產者矣。又有嚴寒天氣。滴水成冰之時。貧家房中火氣微薄。以致血寒而凝。亦令不出。然此亦因臨盆太早。去衣久坐之故耳。若令擁被安臥。待時而產。豈有此患。</p>
<p>凡生產艱難。或天寒。孩兒生下不哭。或已死者。急用衣物包裹。再用香油紙捻。將臍帶慢慢燒斷。暖氣入腹。漸漸作聲而活。倘或先剪斷臍帶則死矣。</p>
<p>或問臨產時。飲食如何。曰此時心內憂疑。腹中疼痛。甚至精神疲倦。口中失味。全要好飲食調理。但不宜過於肥膩耳。倘不能食。只將雞鴨湯。肉湯之類。吹去油澄清。</p>
<p>頻頻飲之。亦能壯助精神。人以食為命。豈可一日闕乎。</p>

<h2>宜忌</h2>
<p>臨產時。宜老成安靜二三人伺候。不必多。一切親族婦女。俱婉言謝卻，勿令入房。夏月更不宜多人在房。熱氣擁盛。能令產母。煩躁發暈。其害非小。</p>
<p>房中宜輕行輕語。不宜多話。令其安睡為妙。</p>
<p>第一要勸其放心安靜。忍痛歇息。切忌在房中大驚小怪。交頭接耳。咨嗟嘆息。皆能令其憂疑擾亂。以致誤事。</p>
<p>房中宜安靜如常。不得當面求神許願。呼天叫地。穩婆只宜一人入房。且令在傍靜坐。勿得混鬧。</p>
<p>飲食宜頻頻少與。或雞鴨肚肺等清湯更妙。</p>
<p>房中冬天宜設火盆。以避寒氣。夏月多貯井水。以收熱氣。</p>

<h2>試痛</h2>
<p>或問試痛何故。曰兒到七八個月。手足五官全備。已能動轉。或母腹中有火。或起居不時。令兒不安。以此大動而痛。此等十胎而五。不足為奇。只宜照常。穩食安眠一二日。自然安靜。或痛之不止。用安胎藥一二服自止。此後近則數日。遠則月餘。甚至再過四個月才產。人多不知。輕易臨盆。終日坐立。不令睡倒。或抱腰擦肚。或用手拖。或用藥打。生生將兒取出。母則九死一生。兒則十胎九夭。慘不可言。世間難產。皆此故也。蓋胎養不足。氣血不全。如剖卵出雛。裂繭出蛹。寧可活乎。只說小兒難養。誰復根究到此。又有受寒。及傷食腹痛。不可不知。</p>
<p>或問何以知其試痛。曰只看痛法。一陣緊一陣者。正生也。一陣慢一陣。或乍緊乍慢者。皆試痛也。</p>
<p>或問傷食受寒。何以辨之。曰傷食者。當臍而痛。手按之更痛。或臍傍有一硬塊。寒痛多在臍下。綿綿而痛。不增不減。得熱物而稍緩是也。</p>
<p>或曰試痛亦有。或未必多。曰甚多。曰何以見之。曰以今之難產者多也。</p>
<p>或問將試痛認作正生。其害如此。倘將正生。認作試痛。以致過時。不亦有害乎。曰無害。果當其時。小兒自會鑽出。縱或過時。不過落在褲中。生在床上而已。有何大害。而如此諄諄乎。</p>

<h2>驗案</h2>
<p>前太僕卿。霍山張公三君葆華繼夫人。年輕體壯。孕必八個月而產。產必數日。百苦而下生。生必周而夭。再孕。再產。再夭皆同。予謂後當生。宜相聞。明年又八個月。坐草三日不下。忽憶予言。飛輿相召。中途逢驅車者云。迎其父母。作永訣計。比至。已夜分矣。診之脈未離經。人余殘喘。穩婆在傍。問之曰。兒頭已抵產門。不得出耳。予急令安臥。且戒無擾。與安胎藥。明晨主人出。笑而不言。問之。曰好了。予曰。昨言兒頭已抵產門。今若何。曰不見了。大笑而別。後此百二十日。計十二足月生男。謂予為父。今八歲矣。始知前此。皆生生取出。以體壯年輕。幸保母命耳。</p>
<p>在張宅日。邑庠程以學。邀至其家。有寵人。坐草三日而不生。亦與安胎藥。越十六日生女。</p>
<p>大學戴時濟。與予比鄰契好。先伊弟媳一產三男。母子俱殞。今又婢孕。其腹膨脝。頗患之。比產先令安臥。與加味芎歸湯。每隔半日而產。積日半。三子俱生。康熙四十八年。安撫葉公具題。</p>
<p>陳氏妻。生九日夜不下。一息尚存。踵門求藥。余問之。亦曰。頭逼產門不得出。勸令安臥。再來取藥。強而後去。繼與加味芎歸湯。明日生下。母子兩全。</p>
<p>按此皆產母用力。逼令橫在腹中耳。豈有人倒懸十日。而得生者乎。</p>
<p>又一婦產兒。手出不得入。穩婆利刃以須。予聞而惻然。急令安臥。與大劑芎歸湯。徐徐托之。手入。明早生下。母子皆安。右臂紫黑。數月而後消。</p>
<p>或有婦人。懷孕未足月者。或七八個月。或八九個月。忽然胞漿已破。流水不止。腹不甚痛。甚至見紅不止。而不生者。即服保胎神效方。一劑不愈。兩劑全安。隔半月後。</p>
<p>又發作腹痛生男。安然無恙。</p>

<h1>卷中</h1>

<h2>保胎</h2>
<p>保胎以絕欲為第一義。其次亦宜節欲。蓋欲寡則心清。胎氣寧謐。不特胎安。且易生易育。少病而多壽。</p>
<p>保胎又宜小勞為妙。試看鄉間農婦。僕婢下人。墮胎甚少。以勞故也。蓋勞則氣血流通。筋骨堅固。胎在腹中。習以為常。以後雖有些微閃挫。不至壞事。倘安逸不動。則筋骨柔脆。氣血不行。略有閃挫。隨至墮落。然非胎後方勞。正謂平日不宜安逸耳。若平日安逸。及孕後方勞。適足損胎。何筋骨堅強之有哉。夫敬姜百乘之家也。老而猶績。尋常富貴。年少力強。正宜勤事。豈可暇逸以自病乎。</p>
<p>孕已知覺。即宜用布一幅。六七寸闊。長視人肥瘦。約纏兩道。橫束腰間。直至臨盆之時。才解去。若是試痛。仍不宜解。此有二妙。胎未長成。得此則腰膂有力。些須閃挫。不致動胎。其一常令腹中窄狹。及到解開。則腹中乍寬。轉身容易。此法吾鄉頗有知者。特為廣之。</p>
<p>倘有子腫病者。又宜漸次放鬆。否則傷兒。有孕後。睡時須要兩邊換睡。不可盡在一邊。要使小兒左右便利。手足慣熟。則產時中道而出不難矣。</p>

<h2>飲食</h2>
<p>保胎藥餌。諸書皆載。不必再陳。但飲食一道。殊未之及。茲略言之。飲食宜淡泊。不宜肥濃。宜輕清。不宜重濁。宜甘平。不宜辛熱。青蔬白飯。亦能養人。即在貧家。頗為不乏。但富貴之人。平日甘肥厭足。抑令崇儉。勢所不堪。酌乎其中。臚列於下。</p>
<p>宜食諸物　豬肚肺　雞　鴨　鯽魚　淡鯗　海參　白菜　菠蓤　筍　麻油　腐衣（二味多用）　蓮子　熟藕　山藥　芡實</p>
<p>諸味總宜潔治。多用清湯。吹去浮油。飲之最佳。宜白煮。忌油煎。然此多為膏粱之人言之耳。若藜藿之腹。正宜得肥甘而潤之。何淡泊之有。但六七個月後。腐衣麻油二物。最宜多用。不妨日日食之。麻油解毒。腐衣滑胎。且清且補。貧富皆宜。允為上品。積食一二百張。則首生如達矣。或以麻油拌食更妙。但麻油不可熬熟。</p>
<p>忌食諸物　椒　姜　煎炒　野味　異味　豬肝　犬　驢　騾　馬　自死肉　豬血　蟹　甲魚　蝦蟆　鱔魚　勿多飲酒　勿亂服藥</p>
<p>又孕妊禁忌。　一切宰殺凶惡之事。不宜看。修造興工動土不可看。龜兔俱不可看。</p>

<h2>小產</h2>
<p>小產者。謂胎已墮下之後。一切調理並如產後法。</p>
<p>便產須知云。小產不可輕視。其將養。須過於正產十倍可也。</p>
<p>薛立齋先生云。小產重於大產。蓋大產。如果熟自脫。小產如破其皮殼。斷其根蒂也。</p>
<p>但人往往輕忽。死者多矣。</p>
<p>水產後數日。忽然渾身大熱。面紅眼赤。口大渴。欲飲涼水。晝夜不息。此血虛之症。宜用當歸補血湯。以補其血。若認作傷寒。而用石膏芩連等寒涼之藥。則必死矣。（方見後）</p>

<h2>產後</h2>
<p>產後調理。諸書論之詳矣。茲不復贅。但取一二吃緊處。及所未言者存之。以備採擇。</p>
<p>產後上床。宜高枕靠墊。勿令睡下。膝宜豎起。勿伸直。隨飲熱童便一盞。只宜閉目靜養。勿令熟睡。恐倦極熟睡。血氣上壅。因而眩暈。然不宜高聲急叫。以致驚恐。</p>
<p>四壁宜遮風。不問有痛無痛。俱用熱童便。和熱酒各半。每次一杯。一日三五次。三日而止。酒亦不宜多。若無大病。只是如此。不必服藥。</p>
<p>產後宜用鐵秤錘。或溪中白石子。燒紅入醋。令醋氣入鼻。以免血暈。且收斂神氣。又能解穢。每日三四次。亦三日止。</p>
<p>或有惡血衝心。血暈昏悶。不省人事者。用韭菜一把。冬天則用根切碎。放有嘴壺瓶內。以熱醋一大碗灌入。密扎口。扶起產母。以壺嘴向鼻。遠遠熏之。</p>
<p>生男生女。夫命所招。蓋百世禮祀。以夫家為主。與婦人何干。倘或連胎生女。此亦人事之常。不可在傍咨嗟嘆息。令其氣苦。曾見有不明公婆。愚蠢夫婿。將婦報怨。每每致病傷生。可笑可恨。凡此只宜寬慰為主。又有將女溺死者。忍心害理。後嗣不昌。</p>
<p>產後各處風俗不同。或用紅沙糖。或用山楂。或用吳茱萸。或用胡椒。煎水飲之。總莫妙於熱酒對童便。或腹痛之甚。用生化湯一服。無不愈者。</p>
<p>產後飲食各處不同。徽俗才上床。即與肥雞乾飯。吳俗率與齏粥。甚至有彌月。而後茹葷者。皆不通可笑。蓋徽俗終年食粥。產後胃弱驟與雞飯。殊不相宜。然其患猶小。吳中終年食飯。至產後腸胃空虛。正宜滋味調養。以生氣血。轉令食齏食粥。習俗移人。牢不可破。說亦不信。予意必有以此傷生者。習焉而不察耳。及至虛弱發熱咳嗽。此大虛也。血氣益脫。急宜大劑參耆驟補。猶可挽回。卻又謂之產勞。且與滋陰降火。以至於死而不悟。良可嘆也。</p>
<p>或問必如何調理而後可。曰粥時吃粥。飯時吃飯。三日內。只用雞湯。吹油澄清飲之。未可食雞。十日內不可食豬肉。一月內不可食豬油。以其壅塞經絡。令血氣不通耳。其餘有何忌乎。（雞屬風似不宜早食。鴨湯。鯽魚湯。肚肺湯。較好。）雞蛋有去瘀生新之能。食之甚宜。但要煮極透。不妨從朝至暮。食之有益。若糖心雞蛋。乃是生物。凝滯損人。斷不可食。鴨蛋不可食。（雞蛋堅硬難化。不宜多食。須防停滯。）</p>
<p>或問食物。必要去油。取其清耶。曰然。不但要清。且更要淡。蓋清淡之味。本乎天。能生精神。濁則痞矣。</p>
<p>或問何以驗之。曰產婦。宜飲淡酒。宜食淡味。若飲醇酒。食鹹味。皆令燒乾無乳。此清濁之驗也。但不得如吳俗食齏粥。矯枉過直耳。</p>

<h2>胎死腹中</h2>
<p>胎死。只宜佛手散。服之自下。或不下。再用平胃散一服。加朴硝二三錢。能令化下極易耳。古人立法各有精義。且經屢驗。不吾欺也。勿用奇方怪藥。以傷母命。或問何以知其胎死。曰面赤舌青。母活子死。面青舌赤。子活母亡。面舌俱青。子母俱死。況死胎墜脹。疼痛亦與常產不同。</p>

<h2>胞衣不下</h2>
<p>或問胞衣不下何故。曰總是臨盆早之故。當產之時。骨節開張。壯者數日而合。怯者彌月方合。今不待其開。而強出之。故胎出而骨眼隨閉。以致胞出不及耳。</p>
<p>又曰。聞此乃極惡之症。可以損命。有諸。曰不妨。不必服藥。亦不必驚惶。若胞衣不出。急用粗麻線將臍帶繫住。又將臍帶雙摺再系一道。以微物墜住。再將臍帶剪斷。過三五日。自痿縮干小而下。累用有驗。只要與產母說知。放心不必驚恐。不必聽穩婆。妄用手取。多有因此而傷生者。慎之慎之。</p>

<h2>乳少</h2>
<p>乳少者血虛之故。如產母去血過多。又或產前有病。以及貧儉之家。僕婦下人。產後失於調養。血脈枯槁。或年至四十。血氣漸衰。皆能無乳。但服通脈湯。自有乳。若亂用穿山甲。王不留行。等藥。往往不效。即或勉強打通。乳汁清薄。令兒不壽。且損傷氣血。產後多病。不久便乾。反為不美。</p>

<h2>格言</h2>
<p>大全方曰。婦人懷孕。或有七八個月生者。有一年二年。乃至四年。而後生者。不可不知。</p>
<p>楊子建十產論。可謂詳悉之極。予之所論多本於此。但惜稍冗。匆猝視之。安能得其要乎。謹錄傷胎一篇。亦足以盡之矣。</p>
<p>今有未產一月以前。忽然臍腹疼痛。有如欲產。仍卻無事。是名試月。非正產也。但未至正產之候。切不可令人抱腰。產母亦不可妄亂用力。蓋兒身未順。收生之婦。卻教產母。虛亂用力。兒身才方轉動。卻被產母用力一逼。使兒錯路。或橫或倒。不能正生。皆緣產母用力未當之所致。凡產母用力。須待兒已順身。臨逼門戶。方始用力一送。令兒下生。此方是產母之用力當也。若未至正產之候。而用力傷兒。並妄服藥餌。令兒下生。譬如揠苗助長。無益而有損矣。此名傷產。</p>
<p>薛院使云。欲產之時。覺腹內轉動。即當正身仰睡。待兒轉身向下。時時作痛。試捏產母手中指節。或本節跳動。方與臨盆。即產矣。</p>
<p>大旨云。大凡生產。自有時候。未見時候。切不可強用催生藥。</p>
<p>又云。切不可坐草。及令穩婆亂動手　。</p>
<p>朱丹溪先生云。催生只用佛手散。最穩當。又效捷。</p>
<p>又云。產後以大補氣血為主。雖有他症。亦末治之。</p>

<h2>方藥</h2>
<p>加味芎歸湯　百試百驗。萬叫萬靈。真神方也。</p>
<p>當歸（一兩）　川芎（七錢）　龜板（手大一片醋炙研末）　婦人頭髮（如雞蛋大，瓦上焙存性）　水二碗。煎一碗服。如人行五里即生。死胎亦下。</p>
<p>薛云。交骨不開者。陰氣虛也。用此方如神。</p>
<p>又云。上舍某之妻。產門不開。兩日未生。服此方一劑。即時而產。上舍傳此方。用之無不驗。佛手散　治六七個月後。因事跌磕傷胎。或子死腹中。疼痛不已。口噤昏悶。或心腹飽滿。血上衝心者。服之。生胎即安。死胎即下。又治橫生。倒產。及產後腹痛。發熱。頭疼。逐敗血。生新血。能除諸疾。</p>
<p>當歸（五錢）　川芎（三錢）　水七分。酒三分同煎七分。如橫生倒產。子死腹中者。如馬料豆一合。炒焦熟。乘熱淬入水中。加童便一半煎服。少刻再服。</p>
<p>平胃散　治胎死腹中（此方只服一劑。斷勿多服致傷。慎之。）</p>
<p>蒼朮（米泔炒）　厚朴（薑汁炒）　陳皮（各二錢）　炙甘草（五分）　酒水各一鍾。煎耗其半。投朴硝末（五錢）再煎三五沸。去渣溫服。其胎即化為穢水而出矣。若倉卒取藥未便。只用朴硝。（五錢）以溫童便調下亦效。凡貓犬胎死腹中不能下。而叫號者。亦以此灌之。立效。</p>
<p>保胎神效方　未產能安。臨產能催。偶傷胎氣。腰疼腹痛。甚至見紅不止。勢欲小產。危急之際。一服即愈。再服全安。臨產時。交骨不開。橫生逆下。或子死腹中。命在垂危。服之奇效。惟一經產下。此方切不可服。慎之慎之。</p>
<p>全當歸（酒洗一錢五分）　川芎（一錢五分）　厚朴（薑汁炒七分）　菟絲子（酒泡一錢五分）　川貝母（去心淨研一錢煎好和入）　枳殼（麩皮炒六分）　羌活（六分）　荊芥穗（八分）　黃耆（蜜炙八分）　蘄艾（醋炒五分）　炙甘草（五分）　白芍藥（酒炒一錢二分冬月一錢）　生薑（三片）　水二鍾。煎八分。復渣。水一鍾。煎六分。產前空心。預服二劑。臨產隨時熱服。此乃仙授奇方。慎勿以庸醫。加減其分兩。</p>
<p>此名十二紅仙方。乃安胎聖藥。屢試有效。凡有孕者。自三月後。即宜按方。每十日一服。平日可保安胎。臨產如達。真仙方也。</p>
<p>達生湯　懷孕九月後服。服多尤效。</p>
<p>全當歸（酒洗一錢五分）　川芎（六分）　益母草（一錢不犯鐵器）　車前子（炒研五分）　冬葵子（炒研一錢）　白朮（米泔浸炒一錢）　大腹皮（四分滾水洗數次）　牛膝（酒浸一宿六分）　枳殼（麩皮炒五分）　炙甘草（三分）　廣木香（忌火研末俟諸藥煎熟時和入三分）　生薑（一片）　水二鍾煎八分。食後溫服。如腹痛。加白芷。沉香。（各五分）同煎服。</p>
<p>生化湯　產後即服。</p>
<p>全當歸（酒洗八錢）　川芎（三錢）　薑炭（五分夏令四分）　炙甘草（五分）　桃仁（十粒去皮尖研碎）　孕將臨月。照方預備二劑。俟肚一疼。即用水二鍾。先煎一劑。渣另貯。再煎一劑。其渣同前渣並煎。共汁三鍾。和一處肫（音頓）熱。加黃酒六七匙。於一產後。未進飲食之前。即行服下。逐瘀生新。永免產症。或三兩日內。精神疲倦。或腹中作痛。再連服二三劑。即愈。更治產後。一切危症。無不立安。</p>
<p>此方。與達生湯。均系張盂深先生。所立救苦良方。不論大小產皆可用。奇效。產後諸症。總以生化湯為君。余則不過隨症加減而已。若惡露已行。腹痛已止。減去桃仁。再多服數劑不妨。如口渴加麥冬五味。寒痛加肉桂砂仁。傷肉食加山楂。傷飯食加麥芽。傷果品。加麵裹煨熟草果數分。傷酸梅。加吳茱萸三五分。傷菱肉。</p>
<p>加生龜板。傷梨。及西瓜。加肉桂之類。</p>
<p>安胎方</p>
<p>黃耆（蜜炙）　杜仲（薑汁炒）　茯苓（各一錢）　黃芩（一錢五分）　白朮（生用五分）　阿膠珠（一錢）　甘草（三分）　續斷（八分）　胸中脹滿。加紫蘇。陳皮。（各八分）　下紅。加艾葉。地榆。（各一錢）　阿膠（多用）　引用糯米百粒。酒二杯。水二杯煎。腹痛加急火煎。</p>
<p>安胎銀苧酒　治孕娠。胎動欲墜。疼痛不可忍。及胎漏下血。</p>
<p>苧根（二兩。如無苧根。用茅草根五兩。）　紋銀（五兩）　黃酒（一碗）　加水煎之</p>
<p>紫酒　治孕娠腰痛如折。</p>
<p>黑料豆（二合炒焦熟）　白酒一大碗。煎至七分。空心服。</p>
<p>當歸補血湯　大補陰血。並退血虛發熱如神。</p>
<p>黃耆（蜜炙一兩）　當歸（三錢）　水二碗。煎一碗。一服即愈。</p>
<p>華佗愈風散　治婦人產後中風。口噤手足抽掣。及角弓反張。或產後血暈。不省人事。四肢強直。或心頭倒築。吐瀉欲死。</p>
<p>荊芥穗（除梗不用焙乾研末）　每服三錢。童便調服。口噤則撬牙灌之。齒噤則不研末。只將荊芥以童便煎令微溫。灌入鼻中。其效如神。</p>
<p>通脈散　治乳少。或無乳。</p>
<p>黃耆（生用一兩）　當歸（五錢）　白芷（五錢）　七孔豬蹄一對。煮湯吹去浮油。煎藥一大碗服之。</p>
<p>覆面睡。即有乳。或未效。再一服。無不通矣。新產無乳者。不用豬蹄。只用水一半。酒一半煎服。體壯者。加好紅花三五分。以消惡露。</p>

<h1>卷下</h1>

<h2>附方</h2>
<p>千金不易牡丹方　治產後十三症。</p>
<p>當歸（三錢）　川芎　生地　澤蘭葉　香附（醋炒）　益母草　延胡索（各一錢五分）</p>
<p>產婦冒風。加防風天麻（各一錢）　血暈。加五靈脂（醋炒）　荊芥穗（炒黑各一錢）　三四朝後發熱。加炮姜。（炒黑）　人參。黃耆（各一錢）　心膈迷悶。加陳皮。枳殼。砂仁。（各一錢）　血崩。加地榆。山梔。丹皮（各一錢）　咳嗽。加杏仁。桑皮。桔梗。（各一錢）　死血不行。腹硬。加紅花。枳實。桃仁。（各一錢）</p>
<p>飲食不進。加山楂。麥芽（各一錢）　心神恍惚。加茯神。遠志。（各一錢）　脾胃作脹。加白朮。茯苓。蒼朮。厚朴。陳皮。砂仁。枳殼（各一錢）　胞衣不下。加朴硝（三錢）　俱煎服</p>
<p>治產後肉線方　婦人產後。設有垂出肉線。約長三四尺。觸之。痛引心腹欲絕者。系過於用力。或用力太久之故。用老薑（三斤連皮搗爛）　麻油（二斤）　同姜拌勻。炒乾。先以熟絹四五尺。疊作長方式。將肉線輕輕盛起。盤曲作三團。納入產戶。以絹袋盛姜就近熏之。冷即更換。熏一日夜。肉線可縮入大半。二日可以盡入。切不可令肉線斷。斷則難治矣。</p>
<p>保胎無憂散</p>
<p>大熟地（五錢）　山萸肉（二錢五分）　益母草（一錢）　條黃芩（五分）　麥冬（二錢五分）　生地（一錢五分）　阿膠（一錢）　北五味（一分）</p>
<p>藥味甚平。奏效甚速。真良方也。勿以平淡忽之。凡受胎兩個月服起。每日一劑。服五十劑止。再無小產諸症。若常服亦妙。</p>
<p>胞衣不下方倒勾塵　梁上掛下塵土。尾向上勾者。男胎四條。女胎三條。新瓦焙研末。黃酒一小杯。調服即下。</p>
<p>三朝方　每朝一服。能除百病。易於受胎。</p>
<p>歸尾（二錢）　枳殼（一錢）　山楂（三錢）　香附（五分）　制木通（一錢）　澤蘭（一錢）　赤芍（一錢）　元胡索（醋炒一錢）　厚朴（五分）　加馬料豆一撮。</p>

<h2>附小兒方</h2>
<p>簡驗神方　預防嬰兒。臍風。馬牙。等症。</p>
<p>枯礬（五錢）　硼砂（一錢五分）　硃砂（一錢五分）　冰片（二分）　麝香（一分）　共為細末。凡嬰兒下地。</p>
<p>洗過即用此末。代礬糝臍根下。每日換尿布時。仍糝此藥。完此一料。永無臍風等症。</p>
<p>小兒赤遊方　腿上紅腫。或片身熱者是。遍走一身者死。</p>
<p>一用哺退雞蛋內臭水。拂上兩三次。即愈。</p>
<p>一用紋銀煎水。頻拂亦妙。</p>
<p>一用大黃（一錢五分）　青黛（一錢）　冰片（五分）　共研末。蜜水調敷。</p>
<p>夜啼兒　因襁護太過。父母同床熱極所致。諺云。若要小兒安。常帶三分飢與寒。</p>
<p>一用犀黃。飛硃砂。（各五釐）　塗小兒舌上。立止。</p>
<p>一用雞屎塗小兒臍中。男用雌。女用雄。</p>
<p>馬牙方　小兒百日之內。口上齶。牙根。生白泡點。名曰馬牙。急用銀針挑破。取出白點。勿落喉中。以陳墨塗患處。即愈。倘挑破。出血不止。用母發燒灰。擦之即止。以黃柏（一錢）　甘草（五分）　煎服。</p>
<p>臍風撮口方　臍風撮口。多由小兒初生。臍帶露風所致。急視牙根。並上齶。有白泡子。將青布裹紙擦破。用蔥搗爛。敷臍上。春夏用新鮮艾葉和蔥搗。敷傍硬處。以絹裹之。如預備宣風散。服之更妙。</p>
<p>宣風散方　全蠍（二十一個）　麝香（五釐）　二味另研和勻。每服二分五釐。金銀花煎湯調下。</p>
<p>走馬疳方　用石首魚。首中白骨。菜油沸透。調敷即愈。</p>
<p>疳痢</p>
<p>歌云　孩兒雜病變成疳　不問強羸女與男　煩熱毛焦鼻口燥　皮膚枯槁　四肢癱　腹中時時更下痢　此方便是青黛散　孩兒百病服之安　單用青黛水。研服是也。（仙方）</p>
<p>疳症遇仙丹　治一切肚大。黃瘦。腹痛。蟲積。神效。</p>
<p>雄黃（三錢）　麝香（五分）　膽星（二錢）　全蠍（大炒去足）　殭蠶（炒各一錢）　巴豆（五分夾紙打去油）　硃砂（飛二錢為衣）</p>
<p>共稱淨末。神麯糊丸。如菜子大。每服一丸。白湯下。（杭州知榮和尚得此方濟人千萬矣）</p>
<p>孩兒勞方　陳酒。童便。各一鍾先煎。再加人乳。白蜜。各一鍾。共煎成膏。病者多煎服。</p>
<p>幾次即愈。</p>
<p>稀痘神方</p>
<p>蓖麻子（揀肥白大者三十六粒去殼用肉）　丹砂（一錢）　麝香（一分）　先將丹砂。麝香。俱研極細。後入蓖麻子。同研成膏。於五月五日午時。搽小兒頭頂心。胸前心。背脊心。兩手心。兩腳心。</p>
<p>兩手膀灣。兩腿膝灣。兩脅窩。通共十三處。俱要搽到。搽如錢大。勿使藥剩。搽後不可洗動。聽其自落。本年搽過一次。出痘不過數粒。次年再搽一次。出痘僅一二粒。再次年又搽一次。痘永不出矣。如未周歲小兒。於七月七日。九月九日。依法搽之。愈妙。傳方之家。已一十六代。不曾出痘。豈但云稀而已哉。此方簡而易用。且搽在皮膚之外。有益無損。誠保幼之靈丹也。識者珍之。</p>
<p>小兒初生。未食乳前。先以甘草。黃連。大黃。各少許。浸湯取濃汁。調硃砂末。抹兒口中。</p>
<p>可免痘瘡之患。</p>
<p>小兒瘡癤。只宜將金銀花煎湯。內服。外洗。解其瘡毒。切不可用水銀。硫黃。信石。木鱉之類。或搽。或熏。瘡雖愈。而毒氣內攻。必致變生危症。戒之戒之。</p>
<p>小兒周歲後。便能飲食。切不可任其多食。尤忌一切難消之物。粥飯雖可食。必須有節。有等愚夫愚婦。小兒才哭。即取物與食。以致傷脾。食積。泄瀉。食疳。或致難救。咎將誰歸。況古語云。惜兒須惜食。奉勸世人。遵而行之。毋將飲食。自害兒也。</p>
<p>凡藏胞衣。宜擇月空方位。每逢單月。月空在壬丙。逢雙月。月空在甲庚。又須僻靜地位。吉無不利。</p>

<h1>補遺</h1>

<h2>胎前保護</h2>
<p>有孕後。不可伸手高處取物。恐傷胎而子鳴腹中。若犯此症。但鞠躬片時自安。</p>

<h2>產後調理</h2>
<p>產後三日內。急服生化湯二三劑。如塊痛未除。再服幾劑。自能消止。</p>
<p>產後遇暑月。照前服生化湯。以除塊痛。外用棉衣。溫暖肚腹。若失蓋暖。雖服藥。其塊痛不散。</p>
<p>產後。大便或八九日以上不通。由血少腸燥。故也。宜多服生化湯。加麻仁以通潤之。服當歸川芎至斤數。自通矣。虛則加參。慎勿用大黃。芒硝等藥。</p>
<p>產後七日。內感傷寒涼物。血塊凝結甚痛。生化湯內。加肉桂五六分。至半月一月以上。凝結痛者。宜服補中益氣湯。</p>
<p>產後不可獨宿。恐致虛驚。不可刮舌。恐傷心氣。不可刷齒。恐致血逆。不可貪酒。犯之輕則敗血流經。重則血沖致死。生化湯須和入童便。飲之方妙。忌食一切瓜果。桃子尤甚。七日內。不可洗下部。十三朝內。血氣未平。切忌梳洗。一二月內。切忌大喜大怒。節飲食。均寒暖。禁淫欲。戒勞碌。夏月忌貪涼用扇。犯時微若秋毫。感病重如山嶽。可不慎哉。</p>

<h2>臨產需用</h2>
<p>草紙　油紙　油燭　炭　醋　生薑　桂圓（飯上久蒸煎服大補）　人參（滾湯燉服其性速行四肢助力）　赤金（一帖用圓肉七八枚滾帖一丸產後服定心）　童便（每鍾加滾湯三分薑汁一二匙沖服）　二寶湯（即保胎神效方）　芎歸湯　佛手散（藥料必須揀道地照方制服）</p>

<h2>經驗良方</h2>
<p>歸薑湯　治產後心慌。自汗之症。</p>
<p>當歸（三錢）　黑姜（七分）　棗仁（一錢五分炒）　大棗（五枚去核）　水煎服。</p>
<p>補中益氣湯</p>
<p>黃耆（一錢五分）　白朮（土炒）　人參　當歸　炙草（各一錢）　柴胡　升麻（各三分）　陳皮（五分）</p>
<p>加生薑二片。大棗二枚。水煎服。</p>
<p>保胎丸</p>
<p>淮山藥（四兩炒）　杜仲（三兩鹽水炒）　續斷（二兩酒炒）</p>
<p>共為末。糯米糊丸。每服三錢。米湯下。凡胎欲墜者。服一劑即安。慣小產。宜常服。無不保全。</p>

<h2>毓胎避忌</h2>
<p>天地生人。古今無異也。古之人多壽考。今之人多夭折。豈盡立身行己間。有善不善之分哉。古語云。萬惡淫為首。又云吾不淫人妻。人不淫吾女。邪色之戒。舉世皆知。至若夫婦之閒。人之大倫。所謂正色也。然斫喪過度。疾病死亡隨之。蓋因罔知趨避。暗犯禁忌。輕則遭災。重則減算。不可不慎。並將養生錄。保命訣。禁忌日期。附刊於後。</p>
<p>童子精未足而御女。（五體不滿。必有難狀之疾。）女子天癸始至。（陰氣早泄。未免夭殤。）陽痿強服丹石（腎水枯竭。消竭立止。）勉強房勞（成夢泄便濁陰痿腰痛。）　舟車勞頓。（入房五勞虛損。）勞力（入房多。急病亡。）赤目（入房成內瘴，）醉飽（入房五臟反復。）忿怒（入房精血凝滯。）恐懼（入房陰陽偏虛。）婦人月事未絕。（交接成血崩。）　男人忍小便（入房成淋症。）房事後洗浴。（多病。）四離。四絕。四立。二分。二至日。尤宜戒之。</p>

<h2>逐月忌日開列於下</h2>
<p>正月初一　初三　初七　初九　十四　十五　十六　二十　廿三　廿五　廿七　廿八　廿九　三十（月小以廿九為晦日）</p>
<p>二月初一　初二　初三　初四　初七　初八　初九　十五　十九　二十　廿一　廿五　廿七　廿八　三十</p>
<p>三月初一　初三　初五　初九　十五　十六　十九　二十　廿八　三十</p>
<p>四月初一　初三　初四　初七　初八　十四　十五　十六　十七　十八　廿一　廿七　廿八　三十</p>
<p>五月初一　初三　十一　十三　十四　初五　初六　初七　十五　十六　十七　廿五　廿六　廿七（此名九毒日。　犯者奇禍不測。）　十九　廿八　三十</p>
<p>六月初一　初三　初四　初六　初八　十五　十六　十九　廿四　廿八　三十</p>
<p>七月初一　初三　初七　初九　十三　十五　十九　廿七　廿八　三十</p>
<p>八月初一　初三　初五　初八　十三　十五　十六　十七　廿五　廿七　廿八　三十</p>
<p>九月初一　初三　初九　十五　十八　廿一　廿三　廿六　廿八　三十</p>
<p>十月初一　初三　初五　初八　初九　初十　十三　十五　十六　廿七　廿八　三十</p>
<p>十一月初一　初三　初四　初九　初十　十一　十五　十七　十九　廿三　廿四　廿五　廿八　三十</p>
<p>十二月初一　初三　初六　初七　初八　十五　十八　二十　廿四　廿五廿八　三十</p>
<p>更有春秋丁祭。社日。上下弦日。三伏日。四時八節前一日。正日。與父母誕日忌日。自己及妻。本命日。誕日。庚申甲子日。值大風。大雨。大霧。雷電。虹霓。日月薄蝕。天地晦冥。與夫山崩地動。日月星辰。白晝之下。皆不宜犯。又遵生箋云。停燈行房。最干神怒。以上各條。人能遵而行之。毋或偶犯。自然永保延年。先賢示訓。彰彰不爽也。</p>

<h2>稀痘仙方</h2>
<p>凡嬰孩無論男女。揀肥大光潔川楝子。一歲至三歲用七個。臼內搗爛。水三碗。新砂鍋煎濃。傾入盆內。避風處。將稀布一方。蘸水。自頭至足。遍身洗擦。不留余空。將布拭乾。避風一刻。四五歲用川楝子九個。水五碗。六七歲。用川楝子十五個。水七碗。八歲至十歲。用川楝子二十個。水九碗。十一歲至十五歲。用川楝子三十個。水十碗。照前濃煎擦洗。搗藥忌鐵器。洗之不但稀痘。又免瘡癤。若不信。或手足留一處。倘出時。必聚一塊。擦洗須在五月。至八月。擇七個除日。洗七次。此真神效仙方。屢試屢驗。</p>

<h2>墮胎惡報</h2>
<p>崑山穩婆範氏。專為墮胎。未及一年。一家十一口。俱患異症。相繼死。範忽夢四青衣。執牌云拿墮胎首犯。遂得疾。日夕叫號。告鄰人曰。今日方知淫殺二業最重。大家女婢為主人逼通。主母妒忌。必欲墮胎。更有閨女。孀婦。失身懷孕。尼姑亦所不免。或兒女太多。或生產艱難。俱來尋吾。只緣貪財。故手害多命。吾究得幾何家業。替別人造如此惡業。凡用吾者。若非子孫滅絕。定是家業凋零。俱不得善報。只有好善人家。不用吾干此事。俱富貴昌盛。吾死。無數怨對來尋。悔已遲矣。言終而死。順治初年事。出楊雪崖聞見錄。</p>

<h2>附達生編濟驗</h2>
<p>杭州沈其萬。因患痰疾。昏迷不醒。願送達生編一千本。數日而愈。○河南陳延。積學不第。久試場屋。願送達生編五百本。春秋聊捷。○山東王學立。因父患勞症。五年不愈。一日叩送達生編二千本。兩月愈。○紹興朱啟元。六十無子。後夢　大士教印達生編。醒後願送千本。後二子送終。○潮州王欲文妻陳氏。臨產命幾危。又吐血不止。求大士願送達生編一千本。至天明產一男。母子無恙。○臨安沈熊天。好食團魚牛犬。後右背發一大毒。痛不可忍。願印送達生編一千五百本。而毒漸愈。壽至九十一歲。○安慶周亦龍。上省鄉試。在路亭拾得達生編一部。到寓焚香願送。送達生編一百本。其年果中。○江左宋爾瑞。海洋行舟遇風。願送達生編三千本。後風即平安。○福建林如錦。曾印達生編一百本。一日兩鄰失火。獨林屋如舊。</p>

<h1>保產心法</h1>

<h2>懷孕部</h2>
<p>生產之順易。全在一有胎孕。即加調養。誠水流之源也。要知婦人生子。與牝雞覆卵相似。雛在卵殼中。臨出。乃雛自啄破卵殼而出。兒在胞胎內。乃兒自吮開胞衣而生。凡有艱難延久者。多為胞衣堅厚。胎氣肥大所致。孕婦能守淫佚諸戒。產自不難。且又保嬰兒之壽康。若不從孕時謹護。猶舍源而逐流。烏可得哉。</p>

<h3>戒交媾</h3>
<p>婦一有孕之後。切戒交媾。所以昔人有孕。即居另室。不與共寢。恐動欲念也。大抵三個月以前犯之。則欲起而子宮復開。多有漏下。胎動。諸患。如三個月以後犯之。則胞衣厚而難產。要知欲火傷胎。必致汙濁凝積。且兒身白滯痘毒瘡疾。醫治難痊。俱因父母不慎也。試以物觀。其理易曉。牛馬犬豕。胎胎順易而無損。在人則未能矣。蓋牛馬犬豕一受胎後。絕不交合。遇牡逼身。輒蹄之不得近。謂之護胎。人受胎後。多不禁欲。每受此害。與其婦產艱難。子多病夭。何如戒一時之欲。受無涯之福。但婦難解。夫男當細與講明。</p>

<h3>戒惱怒</h3>
<p>人有惱怒。最傷血氣。血氣既傷。自不能養胎。多有因此動胎者。即幸而不動。其怒氣入胎。生兒多疾矣。</p>

<h3>戒安逸</h3>
<p>婦人懷孕。原賴血以養之。氣以護之。宜當常行小勞。令血氣周流。胞胎活動。則氣強而胎旺。如久坐。久臥。久勤女工。紡織之類。不得行走散蕩。以致氣不運行。血不流潤。胎必凝滯不活。致多難產。且又胎氣微弱。生兒軟弱多病。凡孕婦。雖欲小勞。但不可登高。上梯。舉重妄作。恐有跌僕損傷之虞。常見田野辛苦之婦。必然途中腹痛。立便生產。在富貴之家。每多難產。此安逸太過之驗也。</p>

<h3>戒暖熱</h3>
<p>凡有胎孕。宜微涼。而忌太暖。北方火炕。南方火箱。皆不宜睡。凡胎動不安者。虛僅二三。熱有八九。慎之哉。</p>

<h3>戒猛藥</h3>
<p>有孕十日半月。脈微難辨。未曾過月。自亦不知。或過身體不快。醫人不知。誤投破胎之藥。傷損甚多。前賢云。人知二三月墮胎。豈知月內傷胎者眾也。</p>

<h3>戒驚駭</h3>
<p>受胎後。不可受驚駭。如涉險。儺神。以及入廟。見異奇鬼怪形像。俱宜謹戒。則肝能育魄。不致種胎毒胎驚。</p>

<h3>戒放縱</h3>
<p>受胎至三四月後。宜緊束其腹。勿令胎放則易產。此又不可束之太緊。恐胎難於長成。束至六七個月。八九個月。胎忽亂動。三兩日間。或痛或止。或有水下。但腰不甚痛。胎未離經。名曰轉胎。只要直身坐臥行立。不可驚憂逼迫。若論產期。必以腰痛為候。古云陣痛連腰。胎即立脫。言腰痛之急。一陣痛一陣也。</p>

<h3>調理脾胃</h3>
<p>常人身體康健。氣血充足。皆由脾胃調和。飲食有節。若懷胎婦人。脾胃尤為緊要。蓋胎元全賴氣血以養。氣血又藉脾胃飲食而生。若飲食不節。脾胃必然受虧。更或七情內傷。氣血因而漸耗。則痰火發熾。惡阻癇症等病起矣。所以明醫。一見孕婦脾胃不和。急先調理。雖有他症。以末治之。但懷孕至二三月。六七月。飲食多不甘美。不妨少進香美。扶助胃氣。凡新米新面。黏硬難消之物。極傷胎元。切宜謹戒。至於食不可頓飽。應吃得十分者。只食六七分。頻頻多頓。乃調理脾胃之要法。</p>

<h3>常服條芩湯</h3>
<p>受胎三月後。宜服條芩湯。每日以條芩。煎淡湯當茶用。如氣旺者。每日三錢。氣弱者。每日二錢。服至生產時止。此湯最能除胎毒。免痘瘍。且兒痘必稀。與其既生後。服稀痘藥。孰若未生時。母服此湯。甚為有益。</p>

<h1>全嬰心法</h1>

<h2>初生部</h2>
<p>小兒初生。如草木之萌芽。全在栽培。調護有法。若不留意。遺患終身。保嬰根源。</p>
<p>實由於此。</p>

<h3>拭口穢法</h3>
<p>小兒生下。即用軟絹包指。拭淨口中惡血穢汁。則日後出痘必稀。且無百病。</p>

<h3>洗兒法</h3>
<p>兒出胎浴洗。用益母草。苦草煎湯。或入鹽少許。湯要調和冷熱。若太冷。太熱。俱不相宜。必預煎收貯。候溫取浴。勿入生水。洗畢拭乾。以膩粉研之極細。摩其遍身。及兩脅下。然後繃裹。既不畏寒。又無諸氣。今執三朝古禮。將繃裹之兒復洗。若兒之體怯。多致感冒驚風。變通在人。只依此出胎便洗。甚為穩當。</p>

<h3>斷臍帶法</h3>
<p>兒出胎洗浴。洗後方斷臍帶。則不傷水生病。斷臍須捋令汁盡。否則寒氣入腹。或作臍風。</p>
<p>斷臍時。以蘄艾為紙捻。香油浸濕熏燒臍至焦。令暖氣入兒腹中。方可斷臍帶。臍帶用帛包裹。先將剪刀。入人懷中溫暖。剪下則無冷氣內侵。可免腹中吊痛之虞。若冷鐵翦刀。臍上一冰。冷氣由此而入。剪刀火烘。又恐太熱。只依此法。懷暖甚妙。存留臍帶。不可太長。長則難乾而傷肌。恐引外邪臍風。亦不可太短。短則逼內而傷臟。致成腹痛。令兒夜啼。量留五六寸。用舊布包裹。日間視之。弗令尿濕。自無臍風。撮口之疾。切不可先斷臍帶。而後浴。恐水入臍中。必成後患。斷臍帶。如有蟲。急須去之。</p>

<h3>裹臍法</h3>
<p>用舊帛一塊。周廣四寸。內襯新綿四圍合攏縛之。務須緩急得中。急則令兒吐哯。亦不可屢解。至十朝方解視之。若臍帶燥。刺兒腹痛。啼則解開。用油稍稍潤之。仍舊裹好。（哯。音衍嘔乳也。）</p>
<p>凡解臍。須閉戶下幃。若冬月。房內多置炭火。令有暖氣乃佳。倘臍不幹。用綿繭亂髮。燒灰摻之。</p>

<h3>護臍法</h3>
<p>須用熟絹制一三角肚兜。上銳下方。重複合之。中之兩旁。摺為兩痕。如上襞績之狀。以線略縫其下。令中間可兜住臍帶。上系長帶。環兒頸中。下兩旁方系長帶。束於腰則帶不擦動。自然日久方脫。此法極妙。但須預備為佳。</p>

<h3>藏胞衣法</h3>
<p>先用清水將胞略洗。盛新瓶內。入古錢一文。勿令沙土草垢雜之。用青布包口。仍以物密蓋其上。置便宜處。三日後。擇向陽高燥之處。入地二尺余埋之。築實其土。令兒長壽。若藏衣不謹。為狗彘蟲蟻所食。則不吉。藏胞器用稍大平穩。若器小。則兒吐乳。不平穩。則兒多驚。凡井。灶。社廟。流水之處。俱不可埋。</p>

<h3>開口法</h3>
<p>（開口只宜多餓兩日。或日半。以兒肚軟癟為主。癟音別，不堅實也。）</p>
<p>嬰兒痘毒。多因受母腹瘀血穢惡。生下不為消盡。至出痘之時。種種危險。或未出之先。驚風瘡痍。總由於此。只在兒生後。六個時內。亟服後藥。解下瘀血。如黑漆膠痰。再停半日。或一日。俟瘀血解盡吃乳。痘竟不出。即出亦稀少。屢次神應。但兒初生未曾吃乳。雖多餓一日。兩日。亦餓不壞。方用生大黃（五分酒拌。）　桃仁（五粒。去皮尖。搗碎。雙仁者不用。）　當歸尾（五分）　紅花（三分）　生甘草（一分）用水一杯。煎稠汁半杯。將棉花浸。擠兒口內服完。要於生下六個時服之。遲則無用。如子時生者。巳時內服之。午時生者。亥時內服之。因初生時。瘀血尚在上部。約遲六時行在中下部。可以一推而出矣。服藥後。須再餓一日。或六七個時。如子時生兒。巳時內服藥。遲至整十三四個時。吃乳最好。更要摸兒腹。如飽硬。用手輕摩。須再餓半日。俟兒腹軟癟。方可與乳。或疑大黃。性恐猛烈。殊不知毒滯非此難除。最能下有形積穢。並不傷兒。可放心任用。此方乃周臞翁刊傳。翁年已九十餘。子孫四代二十餘人。並無痘殤。且俱長壽。總因翁積德行善。傳方普濟也。</p>

<h3>去上齶白泡法</h3>
<p>兒生次日。即看兒口上齶。如有白泡。即用銀挖耳。輕輕刮破。將泡內白米取出。勿令落入喉中。仍以好金墨搽之。如次日不取。則泡老難刮。且兒不能乳。最誤大事。又有馬牙。在牙根處。亦須挑破取出。以墨搽之。</p>

<h3>三朝復洗兒法</h3>
<p>兒至三日之候。俗例洗三。但夏月天熱或可洗。若冬寒洗。恐風入臍腹。臍風由此而起。或只洗頭面亦可。俗傳若不洗三。則長大皮粗起秕。予曾屢見有不洗三者。至老不聞皮粗起秕。不獨洗三可已。即初生亦當戒浴。保固真元。北人不浴。但以舊綿拭淨。或大小便處。略以水揩。所以北人較南人壯。實不徒風氣然也。浴兒務須密處。更不可久浴。如必洗三。夏天三四日後洗。冬寒十餘日後洗。或用豬膽四個煎汁。煎水七八碗。煎至四五碗。待水和溫洗兒。一生永無瘡疥。</p>

<h3>繃補法</h3>
<p>男用父舊衣。女用母舊衣。莫用新綿。亦不可過厚。恐傷皮膚。生瘡發癇。若冬月嚴寒。可靠大人暖氣。小兒初生三五月間。只宜繃縛令臥。勿豎頭抱出。免致驚癇。</p>

<h3>剃胎頭法</h3>
<p>小兒初剃胎頭。只要晴天和暖。若有風雨。可改期另日。剃後用杏仁三枚。去皮尖。研碎。入薄荷三葉再同研。入生麻油滴膩粉拌和。在頭上搽擦。既可避風邪。又免生熱毒瘡癤。俗以滿月日剃。亦不必拘。</p>
<p>小兒未剃胎頭。不可抱近神祠。司命之前。穢觸神聖。令兒不安。剃下頭髮。用紅紙包。放箱櫃干穩處。剃胎頭最要調和熟湯。不冷不熱。又要避風寒。</p>

<h2>變患部</h2>
<p>初生小兒。全在調養得宜。前初生部內。已盡載諸法矣。又有一種不測之患。出於意外。非因失調所致。須當急救。若病則專有幼醫。予不贅。</p>

<h3>治生下不動</h3>
<p>凡小兒生下不動者。急看口內。齶上有泡。名曰懸癰。急以手指摘破。以綿裹指。捏干拭血令淨。拭淨則生。若血入腹。則不可治。</p>

<h3>治無聲</h3>
<p>凡小兒生下。或有不發聲者。名曰夢生。此必因難產。或寒冷所致。時人不識。多棄而不救。豈不可惜。須急用棉絮包裹。抱兒懷中。切不可斷臍帶。須將胞衣連帶。急燃火紙蘸油。點於臍帶上。往來數遍。炙待暖氣由臍入腹。須臾氣回。兒身暖。自啼哭如常矣。</p>
<p>兒身暖後。若不出聲者。即拿一貓。用布裹其頭足。令一女人。將貓拿近兒耳。隨將貓耳。猛咬一口。貓忽大叫。兒即醒而聲出。回生矣。</p>

<h3>治大小便不通</h3>
<p>小兒始生。大小便不通。腹脹欲絕者。急令婦人。以溫水先漱口。吸咂兒之前後心。並臍下手足心。共七處。每一處凡三五次。以紅赤為度。須臾自通。</p>

<h3>治不食乳及不大小便</h3>
<p>初生兒。遇此症。用蔥白二寸。破作四界。以乳汁於砂銚內濃煎。灌之立效。</p>

<h3>治馬牙</h3>
<p>初生小兒。口齶並牙根。生白點。名曰馬牙。不能食乳。少緩即不能救。急用熱針。縛箸上挑去白點。有血出為妙。用白綿拭去血。以薄荷煎湯。磨金墨塗之。勿食乳。待一時。方與乳。再搽之即愈。</p>

<h3>治重舌</h3>
<p>初生小兒開口後。看舌下。重舌有膜。如石榴子。若啼不出。速以指爪。或針微刺舌線。有血出即活。取桑汁。調蒲黃塗之。若血出多者。燒發灰用豬脂塗之。</p>

<h3>治肚臍突出法</h3>
<p>小兒肚臍突出。用原斷臍帶。並艾葉同燒灰。以油胭脂。調搽即愈。</p>

<h3>治臍風</h3>
<p>用銀簪腳曲彎。從兒心下至臍。輕則刮數次。看胸中有青筋。如一線直下分叉。線下分叉處。以綠豆大艾。火灸一遍立愈。</p>

<h3>治遍身無皮</h3>
<p>初生小兒。純是紅肉無皮。速以秈米粉干撲。候生皮方止。凡脅下。或腿縫。或臂彎。各處看有紅爛無皮者。兒必頻哭。只用牛屎燒灰存性。研極細末。擦之即愈。</p>

<h3>治月內驚似中風</h3>
<p>用硃砂為末。水調塗心口。兩手心。兩足心五處。即愈。凡兒在腹中哭。用多年空房下。鼠穴中土一塊。令孕婦噙之即止。若能逐月養胎。可免前患。</p>
<p>孕婦不語。不須服藥。臨產但服保生丸。四物湯。便語。內經曰。人有重身九月而喑者。乃胞絡繫於腎。</p>

<h3>痘家禁忌</h3>
<p>小兒痘症看治諸法。醫書載之甚詳。此不復贅。惟痘家最要潔淨。如觸犯其忌。輕痘變重。重痘變危。深為可慮。因列於此。保幼者。不可不存心也。</p>
<p>房中淫垢氣　婦女經候氣　狐臭漏腋氣　酒醉葷穢氣　熬油煎卵氣　蔥蒜韭薤五辛氣　一切腥臊氣　潑糞淋尿氣　炒制一切藥味氣　誤燒油發鳥獸皮毛氣　遠行染帶一切汗雜氣　焚燒腦麝諸香氣</p>
<p>一凡外來生人。僧道尼姑。不潔淨人。孝服人。病人。俱不可令其走進房內。</p>
<p>一不可掃房屋。致塵灰飛撲。</p>
<p>一不可動溝渠。啟茅廁。出糞潑糞。</p>
<p>一忌食冷水瓜果。梅桃蜂蜜。香鮮炙炒。酸辣等物。</p>
<p>一忌食雞魚鹽醋。五辛。四十九日之後。無忌。</p>
<p>一睡處切忌幽暗。切忌有壁風。</p>
<p>一不可過飽。過暖。亦不可受寒。受熱。</p>
<p>一糍粑。糯米。粽子。油膩。堅硬難化之物。俱不可食。</p>

<h3>治婦人乳癰乳崖神方</h3>
<p>婦人患乳癰。乳崖。即如男子之患腎囊。為害甚大。若不早治。竟有性命之慮。此症多因憂鬱惱怒。氣血不和而成。亦有因小兒含吮而得者。初起時。手按乳上堅實一塊是也。或用鹿角末。和酒服。或用木香。花粉末。和酒服。或用黃栝蔞。連皮穰煎服。俱不甚效。予家傳一簡易神方。用澤蘭葉。地丁。白芨。蒲公英。金銀花。木瓜。各四錢。甘草一錢。水酒各一小碗。煎調。候腹中飢時熱服。渣用水再煎。以之浴乳。出汗即止痛。消散最效。如患重。者再一服自愈。</p>

<h3>治小兒吹乳法</h3>
<p>咒曰　日頭出來照石榴。金光娘子禁乳頭。一口法水三焦水。七個泉孔一齊流。</p>
<p>凡婦人遇小兒吹乳。用他頭上扁簪。拿在我左手。卻以右手大二兩指。𢳝出尖。一口氣念七遍。與之。仍帶頭上。問一聲好了。婦應曰好了。即好。</p>

<h3>治吹乳藥方</h3>
<p>蒲公英一兩。水酒各一鍾煎服。要睡一時。蓋被出些微汗。即愈。</p>

<h3>下胞胎良方</h3>
<p>蒼朮（三錢）　厚朴（三錢）　陳皮（一錢）　甘草（五分）　牙硝（五分）　共煎四杯。又用童便。薑汁酒。黃牯牛尿。各一杯。對服即驗。取牛尿法。牽牛下田。足踏水即尿出。一用鮮雞頭蓮葉一張。井水熬汁。服之即下。（干葉亦可）</p>

<h1>保赤編弁言</h1>
<p>保赤誠求。所以登仁壽也。赤子初生時。臍風一症。保之宜首重焉。予同邑。有孝廉熊修五先生。曾舉數子。皆患臍風症。因之數十年留心此道。適值名醫李傳授此方。熊君後生四子。四女。及諸孫輩。以長以育。均是方之力也。鄉里藉以保全者甚多。予家嬰孩深受其益。知此方。為福幼遂生之始基。而保赤之最重者。仁人君子。所當廣為傳播也。遂詳載此方於篇首。外治急重痧症一方。屢試屢驗。其效如神。亦載明附後。</p>
<p>保赤編各方</p>
<p>一摻臍藥方</p>
<p>枯礬（一錢五分）　硼砂（二錢五分）　硃砂（二分）　冰片（五釐）　麝香（五釐）</p>
<p>上藥共研細末。裝入瓷瓶內封固。俟小兒下地。剪臍後。即用此藥末。上在小兒臍上。用舊軟布條。寬二寸。長二三尺不等。將小兒肚臍包好。倘二三日後。小兒啼哭不止。即解開一看。將藥再上患處。再用新棉花一塊。掩住。仍用布條包好。</p>
<p>其痂聽其自落。不哭者。不宜亂開。以後。可保無臍風之患。</p>

<h2>看症服藥</h2>
<p>一小兒初生三日內。小便短。鼻準黃。口角微有青色。打嚏腹鳴。吮乳松。啼哭不止。重則發搐發熱。此臍風之候也。急服後開水藥。</p>
<p>熟軍（一錢二分）　木通（一錢）　烏藥（一錢）　木香（五分）　枳殼（五分）　檳榔（五分）　蟲蛻尾（五分）　勾耳（一錢）　薄荷（三分）　用淡豆豉。三十粒。為引。</p>

<h2>加減藥方法</h2>
<p>一小兒三日內。初服加三稜（三四）分。莪朮（三四）分。去檳榔。枳殼。次帖仍用檳榔。枳殼。去三稜。莪朮。</p>
<p>一發熱。加防風（一錢）　廣皮（五分）</p>
<p>一發搐。加殭蠶。（一錢）要直的。</p>
<p>一六日內。預防鎖喉。加甘草（五分）　桔梗（一錢）</p>
<p>一嘔逆加藿香（一錢）　砂仁（四五）分。（砂仁性熱。胎熱者不可用。）</p>
<p>一小兒面深赤。唇燥。加連翹（一錢）再重。加黃連（三四）分。</p>
<p>一小兒面發黃。為濕熱。加茵陳（一錢）蒼朮（一錢）</p>
<p>一服前方後。大便仍不通。加生大黃（一錢）去熟軍。</p>
<p>一小便仍不通。加車前（五分）</p>
<p>一氣呃逆。加丁香（三四）分。（性熱不可多用）</p>
<p>一小兒月內。若無他症。但哭不止。為盤腸氣疼。用烏藥（一錢）檳榔（五分）木香（八分）枳殼（五分）　香附（五分）重者加沉香（四五）分。</p>
<p>一小兒月內。將薄荷煎水。用新青梭布浸濕。入口內拭去涎痰。每日二三次。不生馬牙。</p>
<p>凡小兒臍未落者。不可輕易開看。</p>
<p>凡小兒。面深紫色。口唇乾燥者。胎熱。面白者胎寒。宜留心。察看之。</p>
<p>附治痧症神方（發絞腸痧。同轉腿肚者。此方治之更妙。）</p>
<p>明礬（一錢）　明雄（一錢）　硃砂（一錢）　麝香（九分）　神金（十張）　火硝（一錢）</p>
<p>上藥共六味。先將明礬。明雄。火硝三味。共研細末。用薑汁調拌曬乾。乃將硃砂研細。以神金撒下。研勻。方放麝香。後和明礬三味乾末。共研一會。為主用瓷罐收藏。男點左大眼角。女點右大眼角。孕婦忌之。</p>
<p>下符先誦神呪三通。裁黃紙一條。用硃砂新筆。於紙中書一吽字。頂上書馬字。挨次順寫成圈。不可一筆潦草。寫畢焚符成灰。入溫水。娠婦服之。產即平安。並能保胎。且馬字順寫成圈後。依次數之。數單則男。雙則女。此符屢試屢驗。附於卷末。以廣其傳亦保生之一助也。</p>

<h2>催生呪符</h2>
<p>用黃紙一條。硃砂新筆。晝對太陽。夜對燈光。衣冠正揖。虔誠默誦。神呪三通。呪曰監生之神。衛生之靈。脫骨成胎。化骨成形。骨速開。骨速開。勿傷母命。勿損子胎。敬請九老仙子君。日月光明普照生。吾奉太上老君。急急如律令　。</p>
<figure>
<img alt="催生呪符">
</figure>

<h1>勸戒殺吃素文</h1>
<p>虛空世界。原自清寧。一切眾生。皆具佛性。自迷真逐妄。背覺合塵。故無端起貪嗔癡。造殺盜淫。致世界成一大劫網。而一切眾生。輪轉其中。莫之能出。可不哀哉。造劫之因。雖非一端。而其最大而最多者。莫過於殺生。昔願云禪師偈云。千百年來碗里羹。怨深如海恨難平。欲知世上刀兵劫。但聽屠門半夜聲。可知屠門哀號之聲。一日不息。則世上刀兵之劫。一日不能免。靜言思之。寧不危懼。夫人知愛命。物亦貪生。今試易地以思。使剖腹刺心之酷。加乎我身。我苦何如。使刀砧湯鑊之慘。加乎我身。我痛又何如。人有父母兄弟夫婦子女之愛。物亦有雌雄卵雛之類。殺彼子女。充己口腹。其悲痛孤苦又何如。夫人與人處。睚眥尚且必報。物雖無言。知覺與人何異。每見一大都市。宰殺水陸飛走眾生。以充口腹者。日以千百萬計。驚痛憤恨。郁成厲氣。積之久久。大幹天和饑饉疾疫刀兵等劫。由此起矣。此因果報復一定之理。苦於世人相沿成習。不覺不知耳。（王洋帆曰。昔賊匪蜂起。死亡枕藉。李秀才培德。謁二仙觀林道長。問生靈何辜。遭此大劫。道長嘆曰。世人殘忍成風。宰殺孽重。積之久久。大幹天和。故天降此饑饉繼以刀兵。收錄人民。以填物命耳。又嚴紹庭曰。明季有王居士。謁小洞天尊者。叩云。舉世盜賊縱橫。干戈擾攘。億萬生靈。遭此大劫。願吾師垂金臂救之。尊者云。惟有戒殺放生可免耳。以上兩段。見好生救劫編。）是以弭劫莫先於戒殺。莫要於護生。尤莫善於茹素。此素食同緣社所由起也。（以上言饑饉刀兵等劫。皆由世人宰殺孽重所致。欲弭劫運。莫要於多結同志。戒殺吃素。以期各保生機。共挽天心。）。佛言。食肉之人。斷大慈種。我觀眾生。輪迴六道。迭為父母。六親眷屬。更相啖肉。無非親者。常生害心。增長苦業。流轉生死。不得出離。不食肉者。即是無量功德之聚。若一切人不食肉者。亦無有人殺害眾生。此楞伽經之言。佛家奉為金科玉律者也（以上引楞伽經。明佛家戒殺斷肉食之旨。）或曰。戒殺。斷肉食。佛制也。儒家聖人。則無此語。則應之曰。孔子之經。莫大於易。其言曰。各正性命。保合太和。又曰。天地之大德曰生。又曰古之聰明睿知神武而不殺者夫。子思作中庸。以述祖德曰。萬物並育而不相害。孟子私淑其學曰。君子親親而仁民。仁民而愛物。又曰殺一不辜。雖得天下不為也。夫有罪當殺。牛羊雞豚之屬何辜。聖人不忍殺一不辜而得天下。豈為區區口腹忍殺無辜乎。（見其生不忍見其死。聞其聲不忍食其肉。此孟子方便說法耳。即不見其生。亦不忍見其死也。即不聞其聲。亦不忍食其肉也。）迄漢代大儒。厥有仲舒。著春秋繁露。以明孔子之教。則曰。質於愛民以下。至於鳥獸昆蟲莫不愛。不愛奚足謂仁。儒家聖賢垂訓。其戒殺不章章乎。大戴記有云。食肉者勇敢而悍。食谷者智慧而巧。夫悍者。殺之端也。亂之源也。智慧者。仁之迪也。治之本也。故肉食之民。每好殺而難化。穀食之眾。常和平而易親。徵諸中外。理無或爽。吾聖人既判其美惡之殊。由於肉食穀食之分。則必以肉食為宜斷也明矣。朱子注孟子。七十者可以食肉。曰未七十者不得食也。（七十曰老而傳。蓋以家事傳諸子。七十可以食肉者。古聖賢隨順孝子事親供奉甘旨之誠。重在存養老之禮。與告朔不去餼羊。愛禮之意略同。非謂年至七十。必定食肉。始能養生也。○印光法師曰。此世間聖人所立之權法。自佛教東來。暢明三世因果六道輪迴之事理。而且歷代史書多有人畜轉變之事。固宜特開眼界。愍念生靈，毋徒固守權法以致親與自己殺業滋蔓而不息也。）如是則食肉者鮮矣。又以咬得菜根。百事可做。為小學終篇。其望人茹素。不隱然言外乎。由是觀之。戒殺斷肉食。於儒家何疑。（以上所引儒聖之言。原非專為戒殺斷肉食而發。第於性命曰各正。太和曰保合。萬物曰並育。聖人之心。天地之心也。人於萬物中。若無故殺害一微細生命。即於各正保合併育之旨有傷。而況其大焉者乎。又況日日殺之害之乎。恣口腹之慾。戕水陸之生。違背天理。莫此為甚。此聖人所深懼也。茲特蒐集經訓。以闡明戒殺斷肉食。儒佛聖人。其心不二。在明眼學人觀之。自能瞭解於方便立說。勸誘苦心。按之所引聖經本旨。亦正圓明無礙。而不必以牽合經文為疑耳。）或又謂人人都戒殺。物類不將充滿世間乎。吾得引紀慎齋家訓。以正告之曰。世人不食虎豹。未見虎豹充滿人間。山村內盡有一村不食蛙鰍者。彼地蛙鰍亦不見獨多。況按之因果正理。畜生一道。實因夙生殺業受報而來。若世界人人戒殺。將直無此畜生惡道矣。何慮之為。（以上釋物類充滿世間之疑。）或又曰。飲食所以養生。吃素有礙衛生。奈何。則曰。無錫丁仲祜先生。所著素食主義一書。已詳論之矣。第一章言肉食之害。素食之益。至為明切。肉食含有疫毒。誠不免有礙衛生。素食天然真味。營養分。以植物為最富。不似肉食。渣滓多而消化難。是素食不但無礙衛生。乃深合乎衛生也。仲祜精中西醫學。其言可信。何不取其書而詳玩之。（以上釋吃素有礙衛生之疑。）總之。戒殺茹素。可以弭劫。可以養心。可以惜福。可以延年。無悖儒佛兩家聖人之旨。而又適合乎養生。人亦何樂而不戒殺茹素乎。（以上總結前五段。）南海印光法師。宏揚淨土。常常以戒殺放生。吃素唸佛。八字教人。其所撰金陵法云寺放生池疏曰。近來天災人禍。頻頻降作。憂世之士。以為此等業果。皆由殺起。倘能知物不可殺。則斷無殺人之理。又曰。放生原為戒殺。而戒殺須從吃素始。倘人各戒殺。人各吃素。則家習慈善。人敦禮義。俗美風淳。時和年豐。何至有刀兵劫起。彼此相戕之事乎。上年在愚園內道院說法。謂勸人吃素。較之勸人放生。功用尤大。此為不放之普放。蓋吃素為實行放生之事。放生乃為感發人吃素之方便。若不吃素。則所殺無算。所放其有幾何哉。一時聞者。靡不感動興起。此又素食同緣社最初之緣起也（以上述印光法師語。與開章願云禪師偈相應。願云禪師偈。是說造劫之病。印光法師語。是說免劫之藥。）深望海內各界善士。減少肉食。相率提倡息殺行慈之道。共趨於素食一途。以迓天麻而弭劫運。功德實為無量無邊。第有一至簡要之言。謹貢於當代仁人君子之前。莫謂一人發心。戒殺吃素。保全有限。何補眾生。須知天下者。人與人之所積而成也。擴而充之。推類而廣之。其作始也簡。其將畢也鉅。其種因則小。其收果則大。況聖慈加被。天道好生。此中更有不可思議之力存焉。是在勉強行之。勿自餒而已矣。社中同人。不勝企祝。（以上普勸世人）南京素食同緣社。</p>
<p><u>轉錄南京魏梅蓀居士原著</u></p>

<h1>勸婦女戒殺文</h1>
<p><u>好生救劫編</u></p>
<p>殺生之罪。由於男子者居多。而本於婦女者。亦復不少。蓋婦女職司中饋。刀七是供。炰鱉膾鯉。多出其手。此為見生致死。聞聲食肉。慘尤甚焉。世間閨閣。慈柔惻隱之性。每勝於男。而於此溺於習俗。獨有漫不知警者。抑思人生得女人身。五漏之體。劣於男子。若復多害物命。夙愆未洗。惡業又加。則罪報尤重。嘗觀女流。易罹癥瘕。癆瘵胎產諸患。根尋其理。殺業與焉。昔岟崛摩羅。巡乞至一人家。適婦以難產求救。摩羅歸問佛。佛曰。汝可於產母榻前抗聲曰。我從賢聖法中來。未曾殺生。兒聞此言。無不產者。摩羅如教。兒果誕生。又法師梵臻夜坐。見一婦人。哀懇曰。請師到家。師從至其門。見數人舁此婦床上。大刀斫之如泥。少時復活。泣曰。妾生前善作鱠。今受此報。師為授戒。遂得超脫。嗟乎。殺生還報。不殺度厄。罪福彰彰。秋毫弗爽矣。抑更有進者。兵革之世。婦女罹殃。荼苦尤甚。或全城遇掠。或闔家系累。死別生離。誰非孽報耶。蓋有情之類。眷屬無異。至於突遭屠割。俯就烹燖。存雌去雄。棄子存母。銜冤蓄恨。飲泣吞聲。天道好還。出爾反爾。徒以信宿輪迴。改易軀殼。倘令慧眼觀之。正如投桃報李耳。夫閨闈賢達。自能戒殺放生。造福無涯。允臻善果。倘在中庸以下。積習昏沉。吾願慈母賢姑。哲夫孝子。苦口緩頰。曲陳罪報。感觸天性。庶幾聽從悔改。使門內殺業永消。冤仇不立。凡諸疾苦夭橫。殃禍流離。俱可禳解矣。豈不自他兼利也哉。</p>

<h1>節欲保身要義</h1>
<p>印光老人曰。節欲一事。其理甚深。其關係甚大。其話甚不易說。夫天生男女。聖人法天立則。令男女居室。以為人倫之最大者。以上關風化。下承宗祧。豈為人日圖快樂。而常以欲事為事乎。貪欲之人。其精薄而無力。如粃種不能生芽。故難生。即生。多多皆未成人而夭。即幸而不夭。亦必單弱柔懦。無大樹立。若能保養精神。節欲半年。待其婦天癸行後。擇良宵吉期。相與一交。決定受孕。從此永斷欲事。則所生之子。不但性行貞良。欲念輕薄。而且體質龐厚。無諸胎毒痘疹疾病等患。天癸即經水也。經水盡後方受孕。余時多不受孕。經水未盡斷。不可交。交則婦即受病成帶。勿望受孕矣。人之大倫之事。豈可惡日惡時而行。故須擇良宵也。禮記月令篇。記聖王於仲春。先雷三日。奮木鐸以令兆民曰。雷將發聲。有不戒其容止者。生子不備。必有凶災。奮木鐸以令兆民者。令地方官聲鐸以告百姓也。容止。猶言動靜。不戒容止。謂行房事也。生子不備。即五官不全等。世每有生子。或異人類。或形體缺損。皆坐此故。必有凶災。言其父母。尚有凶禍災殃。如惡病。夭壽等。不止生子不備也。古聖王重民生。故特注意其事。奮木鐸以告之。不但震雷當忌。即大風大雨。惡星值日。及天時交節（五月。十一月。乃陰陽相爭之節。一有走泄。損傷最重。古云。此兩月內。有因犯色欲。而夫婦三年內雙亡者。故色欲不節。四時皆傷人。惟夏至及冬至之前半月。後半月。尤必絕欲。）佛聖誕期。（一歲之中。有斷宜齋戒之日。蓋神明降鑑之期。宜存敬畏。不可笑為迂拘。世人不知禁忌。將房事應戒之日。恣意觸犯。小則致疾。大則傷生。每見少年之人。精神強旺。忽遭急症而死。並有夫妻並亡。生產妖異者。大率由此。與其追悔而莫挽。何如遵戒以自新。惜命之士。幸謹守焉。戒期詳載壽康實鑑。宜請閱。）皆所當忌。（余若祖先生辰忌日。暨夫婦本命生日。亦宜謹戒。）此寶尊天敬聖。遵王制而敦人倫之大道。惜世人概不肯出諸口。俾其子子孫孫。體質一代劣於一代。或者少年早夭。或由欲事過度。雖不早夭。竟成衰殘。無大樹立。多半皆乃父乃母不知人倫之道之所致也。乃父乃母之不知。由於乃祖乃妣之無教也。子女成人時。當以節欲保身等委曲開導。父教女不便。母則無妨。能如此。方為真愛子女。而世之愛者。多皆任其縱欲。則其害更有甚於殺子女者。可不哀哉。聖人重胎教。於此致意。乃未胎而預教也。予濫廁僧倫。何得論夫婦房室之事。一以出家之前。曾閱過古人敦本至論。欲以饋知己而報護法之恩。一以佛為大醫王。無病不療。光為佛弟子。亦欲隨分隨力而行醫道。此病乃舉世間人之通病大病。若通病大病。任其發生滋長。而去詳治別病小病。豈非輕重倒置乎。鄧伯誠亦欲求子。光答書亦略述此意。湖南一儒士姓劉忘其名。娶妻不與相親。妻謂曰娶妻原為生子。汝不相親。則宗支斷絕矣。遂親一次。即生子。因名傳支。即絕欲。妻又謂曰。一子獨立。孤無倚靠。曷若再生一子。又親一次。復生一子。名再支。二子皆入翰院。其人一生。止行兩次房事。而又詳述房事忌日。並清心寡慾。保元育神之事。載於家乘。冀子孫世守焉。湖南友為予言之。欲求貴子。舍是而求。縱得之。亦屬僥倖。依是而求。求則得之矣。</p>
