<header data-type="book">
<h1>仙授理傷續斷秘方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>藺道人</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>年份</dt><dd><data value="0846">公元846年</data></dd></div>
<div><dt>底本</dt><dd>明洪武年間刻本</dd></div>
</dl>
</header>

<h1>序</h1>
<p>此方，乃唐會昌間，有一頭陀，結草菴於宜春之鐘村，貌甚古，年百四五十歲。買數畝墾畲種粟以自給。村氓有彭叟者，常常往來其廬，顏情甚捻，或助之耕。一日，彭之子，升木伐條，誤墜於地，折頸挫肱，呻吟不絕。彭訴於道人，道人請視之，命買數品藥，親制以餌。俄而痛定，數日已如平時。始知道人能醫，求者益眾。道人亦厭之。乃取方授彭，使自制以應求者，且誓之以無苟取，毋輕售，毋傳非人。由是言治損者宗彭氏。彭叟之初識道人三十許，今老矣，然風采無異前時。問其姓名，曰藺道者。問其氏，曰長安人也。始道人閉門不通人事，人亦少至，惟一鄧先生，每春晴秋爽，攜稚過之，必載酒餚從焉。道人懸一椰瓢壁間，鄧至則取瓢更酌，彭或遇之亦酌。二人皆談笑竟晷。醉則高歌，其詞曰：經世學，經世學成無用著；山中樂，山中樂土堪耕鑿；癭瓢有酒同君酌，醉臥草廬誰喚覺；松陰忽聽雙鳴鶴，起來日出穿林薄。彭踳樸不知所言為何，惟熟聽其歌，亦得其腔。每歸對人歌之，人亦不省。居久，鄧先生不至，彭問道人，道人云已仙去，彭卒不悟。後江西觀察使行部至袁州，聞彭所歌，異之，詰其詞，得道人姓氏，遂遣人同彭叟至其廬邀之。至則行矣，惟瓢存焉。廉大以為恨，謂彭傳其治損諸方，因易其村曰鞏，道人有書數篇，所授者特其最後一卷云。</p>

<h1>醫治整理補接次第口訣</h1>
<p>一、煎水洗，二、相度損處，三、拔伸，四、或用力收入骨，五、捺正，六、用黑龍散通，七、用風流散填瘡，八、夾縛，九、服藥，十、再洗，十一、再用黑龍散通，十二、或再用風流散填瘡口，十三、再夾縛，十四、仍用前　服藥治之。</p>
<p>凡腦骨傷碎，輕輕用手撙令平正。若皮不破，用黑龍散敷貼。若破，用風流散填瘡口，絹片包之，不可見風著水，恐成破傷風。若水與風入腦，成破傷風，則必發頭痛，不復可治。在發內者，須剪去發敷之。</p>
<p>凡腦骨傷碎，在頭骨上，則可治。在太陽穴，乃是命處，斷然不可治矣。</p>
<p>凡肩甲骨出，相度如何整。用椅當圈住脅，仍以軟衣被盛簟。使一人捉定，兩人拔伸，卻墜下手腕，又著曲著手腕絹片縛之。</p>
<p>凡金井骨，在脅之下，有傷損不可夾縛。只是捺平令安貼平正，用黑龍散貼，絹片縛。兩脅骨亦如此。</p>
<p>凡跨骨從臀上出者，可用三兩人，挺定腿拔伸，乃用腳⿰𧾷柰入。如跨骨從襠內出，不可整矣。</p>
<p>凡手骨出者，看如何出，若骨出向左，則向右邊拔入。骨向右出，則向左拔入。</p>
<p>凡手腳骨，皆有兩脛，若一脛斷，則可治。兩脛俱斷，決不可治矣。凡手腳骨傷甚者，不可治。</p>
<p>凡傷損重者，大概要拔伸捺正，或取開捺正，然後敷貼、填塗、夾縛。拔伸當相近本骨損處，不可別去一節骨上。</p>
<p>凡拔伸，且要相度左右骨如何出。有正拔伸者，有斜拔伸者。</p>
<p>凡認損處，只須揣摸骨頭平正，不平正便可見。</p>
<p>凡左右損處，只相度骨縫，仔細捻捺。忖度便見大概，要骨頭歸舊，要撙捺皮相就入骨。</p>
<p>凡拔伸，或用一人，或用二人三人，看難易如何。</p>
<p>凡皮破骨出差爻，拔伸不入，撙捺相近，爭一二分，用快刀割些捺入骨。不須割肉，肉自爛碎了可以入骨。骨入之後，用黑龍散，貼瘡之四圍。腫處留瘡口，別用風流散填。所用刀，最要快，剜刀、雕刀皆可。</p>
<p>凡捺正要時時轉動使活。</p>
<p>凡骨碎斷，須要本處平正如何，大抵骨低是骨不曾損，左右看骨方是。損處要拔伸捺正，用藥貼。夾縛要平正方是。</p>
<p>凡腫是血作，用熱藥水泡洗，卻用黑龍散敷貼。</p>
<p>凡傷重，必用藥水泡洗，然後塗藥。如傷輕，不必洗便塗藥。</p>
<p>凡夾縛，夏三兩日，冬五三日解開。夾縛處用熱藥水泡洗去舊藥。洗時切不可驚動損處了。仍用黑龍散敷，夾縛，蓋傷重者方如此。</p>
<p>凡皮破，用風流散填，更塗。未破用黑龍散貼。須用杉木皮夾縛之。</p>
<p>凡拔伸捺正要軟物，如絹片之類奠之。</p>
<p>凡皮里有碎骨，只用黑龍散敷貼。後來皮肉自爛，其碎骨必然自出來，然後方愈。</p>
<p>凡骨破打斷，或筋斷有破處，用風流散填塗。卻用針線縫合其皮，又四圍用黑龍散敷貼。</p>
<p>凡夾縛用杉木皮數片，周迴緊夾縛，留開皆一縫，夾縛必三度，縛必要緊。凡平處骨碎皮不破，用藥貼，用密夾縛。大概看曲轉處腳凹之類不可夾縛，恐後伸不得。止用黑龍散貼帛片包縛。庶可曲轉屈伸。有數處如指骨斷，止用苧麻夾縛。腿上用苧麻繩夾縛，繩如錢繩許大。</p>
<p>凡貼藥，用板子一片，將皮紙或油紙，以水調黑龍散，攤勻在上，然後卷之，貼損處。</p>
<p>凡用杉皮，浸約如指大片，疏排令周匝用小繩三度緊縛，三日一次。如前淋洗，換塗貼藥。</p>
<p>凡曲縛，如手腕腳凹手指之類，要轉動，用藥貼，將絹片包之。後時時運動，蓋曲則得伸，得伸則不得屈，或屈或伸，時時為之方可。</p>
<p>凡損傷，其初痹而不痛。應拔伸捺正，復用刀取開皮，皆不痛。三二日後方痛。</p>
<p>凡損，一月尚可整理，久則不可。</p>
<p>凡損，不可吃草藥，吃則所出骨不能如舊。</p>
<p>凡跌損，腸肚中汙血，且服散血藥，如四物湯之類。</p>
<p>凡損，大小便不通，未可便服損藥，蓋損藥用酒必熱。且服四物湯，更看如何。又服大成湯加木通。如大小便尚未通，又加朴硝。待大小便通後，卻服損藥。</p>
<p>凡傷重者，未服損藥先服氣藥，如勻氣散之類。</p>
<p>凡渾身無故損痛，是風損。當服風損藥，如排風湯之類。凡服損藥，不可吃冷物，魚、牛肉極冷，尤不可吃。若吃牛肉，痛不可治。</p>
<p>凡損藥必熱，便生血氣，以接骨耳。</p>
<p>凡服藥，不拘在紅酒、無灰酒、生酒皆可。</p>
<p>凡藥，三四月煉，不可多合，五月尤甚。存散藥隨時旋丸。</p>
<p>凡收藥丸子、末子，並用罐子收入廚子內，以火焙之。</p>
<p>凡損，用火灸，則醫不得，服藥不效矣。</p>
<p>諸藥，惟小紅丸、大活血丹最貴。蓋其間用乳香、沒藥。楓香可代乳香三之一。血竭難得，合大活血丹。欠此亦可，若有更佳。</p>
<p>合藥斷不可無乳香、沒藥。若無沒藥以番降真代，血竭無亦用此代。</p>
<p>凡所用藥材，有外道者，有當土者，如當歸土與川不同。丸子可用土當歸、土藥材。末子須用外道者。</p>

<h2>洗藥</h2>
<p>凡傷重者，用此方煎湯洗之，然後敷藥。</p>
<p>生蔥（切斷，一本用生薑）　荊芥（銼）　土當歸　上三味煎湯，溫熱淋洗。</p>

<h2>黑龍散</h2>
<p>（貼用）</p>
<p>治跌撲傷損，筋骨碎斷，差爻出臼。先煎蔥湯或藥汁淋洗。拔伸整擦，令骨相續平正後，卻用生薑汁或生地黃汁，和水調稀。卻將熟帛或皮紙，量損處大小，薄攤於上貼之。次以木皮，約如指大片疏排令周匝，將小繩三度縛之要緊，三日一次。再如前淋洗，換藥，貼裹。不可去夾。須護毋令搖動。候骨生牢穩方去夾，則復如故。若被刀箭傷，蟲獸傷齧成瘡穰爛，肌肉不生，跌磕腫痛。並用薑汁，和水調貼。有破則留口，以風流散填塗。</p>
<p>穿山甲六兩（炒黃或燒存性）　丁香皮（六兩）　土當歸（二兩）　百草霜（散血入半兩）　枇杷葉根（去毛入半兩，雲山枇杷根）上焙碾為細末，薑汁水調，或研地黃汁調用。</p>

<h2>大活血丹</h2>
<p>治撲損傷折，骨碎筋傷，疼痛浮腫，腹有瘀血，灌注四肢，煩滿不安。癰疽發背，筋肉壞爛。諸般風疾，左癱右瘓，手足頑麻。婦人血風諸疾，產後敗血不行，流入四肢，頭面浮腫，血氣疼痛。渾身疼痹。經脈湛濁，風癆發動，百節痠疼，並宜服之。每服半丸，用無灰酒磨化，微煎三五沸溫服，不拘時，不限多少。此藥將紗葛袋收掛淨處，經久不壞，可備急用。孕婦莫服。損在上食後服，在下空心服，傷重不拘，余仿此。</p>
<p>天南星一斤（薑汁浸一宿，焙）　芍藥一斤（赤白皆可）　骨碎補一斤（焙，石上生者佳）　黑豆一斤（酒煮焙乾）　大慄間一斤（老者去皮，焙）　川烏一斤（炮）　自然銅半斤（火煅，酸醋淬存性，取半斤）　血竭六兩（別研）細辛十兩（去苗葉，取十兩）　白芷一斤　木鱉半斤（去殼細切，麩炒，取半斤）　川牛膝一斤（去蘆，酒浸，焙，取一斤）　沒藥四兩（別研，如無，降真香為末代）　乳香半斤（別研，如無，以三倍楓香代之）　青桑炭十斤（青桑木取如臂大者，去皮葉，炭火煅，令赤煙起，用酸醋殺為炭）　上桑、慄、豆、補、星、藥六味為末，和余藥研為細末，用米醋煮糯糊拌入。臼搗千杵，方聚眾人急下手丸。下手稍緩則拆。陰乾半月，然後用火焙，或曬一日。大丸重六文，濕中丸重三文。濕干則以漆抹在手上。取兩三丸挪漆為衣。每服半丸。合此藥勿令四眼見之。更忌雞犬婦人，見之則折矣。</p>

<h2>小紅丸</h2>
<p>治踒折傷損，皮破骨出，手足碎斷，筋肉壞爛疼痛。甚至晝夜叫呼，百治不止。手足久損，筋骨差爻，舉動不得。損後傷風濕，支節攣縮，遂成偏廢。勞傷筋骨，肩背疼痛，四肢疲乏，動用無力，常服壯筋骨，治經絡，生氣血。每服三十丸，用生薑煎酒，或鹽湯吞下。不拘時候，孕婦莫服。</p>
<p>骨碎補六兩（薑製，焙，取六兩）　土當歸六兩（焙取）　川烏六兩（煨）　白楊皮六兩（焙）　肉桂四兩（不見火）　莪朮二兩（焙）　丁香三兩　乾薑二兩（焙）　川芎三兩　細辛四兩（焙）　附子三兩半（煨去皮）　乳香三錢（別研不焙）　沒藥三錢（別研）　芍藥六兩（焙）　上補、藥、歸、楊四味用當土者，餘八味研為細末，乳沒別制，和醋糊為丸，如綠豆大，信朱為衣。每服三十丸，溫酒下。敷用生薑自然汁煎酒，或鹽湯皆可，不拘時候。</p>

<h2>大紅丸</h2>
<p>治撲損傷折，骨碎筋斷，疼痛痹冷，內外俱損，瘀血留滯，外腫內痛，肢節痛倦，應諸損痛，不問年深日近，並宜服之。常服補損，堅筋固骨，滋血生力，神驗不可具述。每服三十丸，溫酒醋湯任下，不拘時候。孕婦莫服。</p>
<p>赤蘞一斤（即何首烏，焙乾）　川烏一斤七兩（火煨坼）　天南星一斤（焙）　芍藥一斤（焙）　土當歸十兩（焙）　骨碎補一斤（薑製焙）　牛膝十兩（酒浸焙）　細辛八兩（去苗葉，焙）　赤小豆二升（焙）　自然銅四兩（煅存性）　青桑炭五斤（煅醋淬，欠此一味亦可，其上俱要制焙後方秤斤兩）　上蘞、星、芍藥、歸、補、膝、辛七味，並用當土者。同餘藥羅為末，醋煮麵糊為丸。如梧桐子大，朱為衣。每服三十丸，溫酒下，醋湯亦可。損在上食後服，在下空心服。傷重不拘時服。或與小紅丸互用亦可。</p>

<h2>黑丸子</h2>
<p>治打撲傷損，驢馬跌墜，骨斷筋碎，百節疼痛，瘀血不散，浮腫結毒，一切風疾，四肢疼痹，筋痿力乏，渾身倦怠，手足緩弱，行步不前，婦人諸般血風勞損，並宜服之。每服二十丸三十丸，用煨蔥酒或茶任下，孕婦莫服。</p>
<p>白蘞一斤（焙）　白芨四兩（焙）　南星六兩（焙）　芍藥十兩（焙）　土當歸四兩（焙）骨碎補八兩（焙）　川烏三兩（焙）　牛膝六兩（焙）　百草霜十兩　赤小豆一斤　上除星、芍、歸、補、膝、豆用土產者，草霜釜上取。同為末，醋糊為丸。如梧子大，每服三二十丸。</p>

<h2>當歸散</h2>
<p>治打撲傷損，皮肉破碎，筋骨寸斷，瘀壅滯結，腫不散。或作癰疽，疼痛至甚。因損後中風，手足痿痹，不能舉動。筋骨縫縱，攣縮不舒。及勞役所損，肩背四肢疼痛，並宜服之。此藥大能續筋接骨，剋日取效。</p>
<p>澤蘭十兩　川當歸十兩　芍藥　白芷　川芎　肉桂（去粗皮）各五兩　川續斷十兩　牛膝十兩　川烏　川椒（去目）各三兩　桔硬　甘草各四兩　白楊皮（不用亦可）　細辛五兩（以上俱要淨秤）　上為極細末，每服二錢。熱酒調下，不拘時候。</p>

<h2>乳香散</h2>
<p>損傷撲跌治，皮肉破綻，筋骨寸斷，敗血壅滯，結腫爛壞，疼痛至甚。或勞役所損，背肩四肢疼痛。損後中風，手足痿痹，不能舉動。筋骨乖縱，攣縮不舒。大能續筋接骨，卓有奇驗。常服結血止疼生力。每服二錢，溫湯調下，不拘時候。</p>
<p>肉桂　乾薑各三兩　牛膝　羌活各四兩　白芷二兩　川芎　細辛　薑黃各四兩　骨碎補　當歸各六兩　芍藥　草烏　川烏各四兩　蒼朮六兩　桔梗十兩　赤小豆一升　乳香半斤　沒藥五兩　何首烏十四兩　木鱉（去殼麩炒）六兩　乳沒別研（一方去木鱉加海桐皮）　上焙碾為末，續入乳、沒末和湯。使調服如前。</p>

<h2>鱉甲散</h2>
<p>治五癆七傷，四時傷寒，渾身增寒壯熱，骨節煩疼。嗽咳痰涎，酒色傷憊，四肢倦怠。及治山嵐瘴瘧，一切積氣。心腹膨脹，嘔吐泄瀉，應是風疾，並宜服之。</p>
<p>肉桂四兩　川芎四兩　白芷四兩　秦艽四兩　鱉甲四兩（醋炙三次令赤色）　紫菀四兩（淨洗焙乾）　麻黃四兩（不去節）　羌活四兩（一云獨活）　當歸四兩（去尾）　乾薑四兩　橘皮四兩　蒼朮一斤（焙）　天台烏藥七兩　紫蘇四兩（不過火）　桔梗三斤半（焙）　烏藥七兩　柴胡七兩　川烏半隻（炮）　上焙碾為細末，每服二錢。水一盞，姜三片，烏梅一個，同煎至七分，熱服。傷寒加蔥白煎。勞損入鹽。熱酒調下。</p>

<h2>小紅丸</h2>
<p>烏頭一個　何首烏　蒼朮　蛇床子　五靈脂　牛膝　赤小豆　白膠香　當歸各一兩　乳香二錢　上為末，好酒煮糊為丸，如綠豆大。每服三十丸，溫酒送下。</p>

<h2>小黑丸</h2>
<p>白蘞　白芨　南星　芍藥各十兩　當歸五兩　細辛三兩　赤小豆一升　百草霜六兩　右為末，醋糊為丸，如梧子大。每服三十丸，溫酒下。</p>

<h2>搜風丸</h2>
<p>治風損腰痛頭疼（治效與黑丸子同）</p>
<p>何首烏　南星　骨碎補　川烏各半斤　土牛膝　芍藥各五兩（一云二兩）　細辛三兩　當歸十兩　白蘚皮　上為末，醋糊為丸，如梧子大。每服三十丸，溫酒鹽湯不拘時吞下。</p>

<h2>驅風丸</h2>
<p>（治效同黑丸子）</p>
<p>骨碎補五兩　川烏　川芎各一兩　草烏　川當歸　牛膝　木鱉各二兩　何首烏四兩　烏金四兩（即百草霜，一云京墨）上為末，醋糊丸，如梧子大。每服三十丸，空心鹽湯下，或荊芥茶湯食後下。</p>

<h2>黑虎丹</h2>
<p>治男子婦人手足麻痹。</p>
<p>川烏　木鱉各一斤　地龍十兩　黑豆半升　五靈脂二兩　松墨二兩（醋炒）　上四味為末，五靈脂醋研碎煮。麵糊為丸，龍眼大，每服一丸，或二丸。細嚼酒下，薄荷茶亦可，不拘時。</p>

<h2>首烏丸</h2>
<p>治風損寬筋。</p>
<p>何首烏十斤（黑豆半升同蒸熟）　牽牛子十兩（炒）　牛膝　薄荷各二十兩　川烏二兩　青木香五兩　皂角二斤（一斤燒存性，一斤蜜炙用）上為末，酒糊丸，如梧子大，每服三十丸，蔥湯或薄荷湯，不拘時下。</p>

<h2>勻氣散</h2>
<p>凡傷重先下此藥調氣，然後服損藥。</p>
<p>茴香　青皮　厚朴（制）　白芷　烏藥　杏仁（去皮尖）　各半兩　陳皮　麥櫱　前胡　桔梗　蒼朮　粉草各一兩　上為末，每服二錢。水一盞，薑、棗煎至八分，空心服。</p>

<h2>四物湯</h2>
<p>凡傷重腸內有瘀血者用此。</p>
<p>白芍藥　川當歸　熟地黃　川芎　上等分，每服三錢。水一盞半，煎至七分，空心熱服。一方只用當歸、大黃二味。</p>

<h2>七氣湯</h2>
<p>半夏五兩　人參　肉桂　甘草（炙）各一兩　上每服三錢，水一盞，姜三片，煎至七分，食前熱服。</p>

<h2>五積散</h2>
<p>治五癆七傷，凡被傷頭痛，傷風發寒，姜煎二錢，仍入蔥白，食後熱服。</p>
<p>蒼朮　桔梗各二十兩　枳殼　陳皮各六兩　芍藥　白芷　川芎　川歸　甘草　肉桂　茯苓　半夏（湯泡）各三兩　厚朴　乾薑各四兩　麻黃（去根節）六兩　上除枳殼、桂兩件外，余細銼，用慢火炒，令色變攤冷，入枳殼、桂令勻，每服三錢。水一盞，姜三片，煎至半盞熱服。</p>

<h2>大成湯</h2>
<p>（一名大承氣湯）</p>
<p>應傷損極重，大小便不通者，方服此。可加木通煎。如未通加朴硝，俟大小便通，方可服損藥。損藥不可用酒煎，愈不通矣。然亦須量人肥弱用，如孕婦小兒莫服。</p>
<p>大黃四兩　川芒硝　甘草　陳皮　紅花　當歸　蘇木　木通各二兩　枳殼四兩　厚朴（少許）　上件㕮咀，每服二錢。水一盞半，煎至一沸，去渣溫服，不拘時。此乃專治男子傷重瘀血不散，腹肚膨脹，大小便不通，上攻心腹，悶亂至死者。急將此藥通下瘀血後，方可服損藥。</p>

<h2>小承氣湯</h2>
<p>大黃四兩　芒硝二錢（煎熱漸入）　枳實二兩　厚朴八兩　上治效同大成湯，此較力輕。不拘婦人女子小兒，皆可服之。</p>

<h2>排風湯</h2>
<p>治諸風疾損。</p>
<p>白蘚皮　白朮　芍藥　肉桂（去粗皮）　川芎　川當歸（去蘆）　杏仁（去皮尖）　防風　甘草各二兩　獨活　麻黃（去根節）　白茯苓各三兩　上每服二錢，水一盞半，姜四片，煎至八分，不拘時服。更宜續命湯、消風散。</p>

<h2>接骨藥</h2>
<p>下窟烏，一名鶚。用骨燒存性，用古銅錢一個，煅醋淬七次為末，等分，骨斷夾縛訖，用藥一錢，以酒調下，不可過多。病在下空心服，在上食後服。此方極驗。</p>
<p>常用整骨藥</p>
<p>用大草烏。刮去皮為細末，每服半錢，溫酒調下。如未覺，再添二分藥，酒下。</p>

<h2>又方</h2>
<p>用乳香、沒藥各一兩，別研，次用血竭、自然銅、無名異、醋煮黃木鱉子各一兩，地龍二兩，併為末，蜜丸如龍眼大。嚼爛，熱酒嚥下。俟了，用生蔥嚼解。</p>

<h2>至真散</h2>
<p>（一名奪命散）</p>
<p>治打破傷損，破腦傷風頭疼，角弓反張。</p>
<p>天南星（炮）七次　防風（去蘆叉）　上等分為末，凡破傷風病，以藥敷貼瘡口，即以溫酒調一錢服之。如牙關緊急，以童便調二錢服。垂死心頭微溫，童便調二錢，並進三服。</p>

<h1>又治傷損方論</h1>
<p>如傷重者，第一用大承氣湯，或小承氣湯，或四物湯，通大小便去瘀血也。惟婦人，別有陰紅湯通下。第二用黃末藥。溫酒調，不拘時，病在上食後服，在下空心服。遍身痛，臨臥時服。第三服白末藥。熱酒調，其法同黃末服。婦人產後諸血疾，並皆治之。第四服烏丸子。第五服紅丸子。第六服麻丸子。用溫酒吞下。婦人艾醋湯下。孕婦不可服。第七服活血丹，當歸散，乳香散，二散方。見前方內。並用酒調，不拘時。與黃末白末服法同。</p>
<p>惟乳香散叅之。山泉方則又加六味。白楊皮一斤，生芥子十個，澤蘭一斤，檀香六兩，沉香二兩，川芎一斤，余方條具於後。</p>
<p>大承氣、小承氣、四物湯並見前方內。</p>

<h2>黃藥末</h2>
<p>治跌撲傷損，皮肉破綻，筋肉寸斷，敗血壅滯，結癰爛壞，疼痛至甚。或勞役所損，肩背四肢疼痛，損後中風，手足痿痹，不能舉動，筋骨乖張，攣縮不伸。續筋接骨，卓有奇功。常服活血止腫生力。</p>
<p>川烏（炮）　草烏（醋煮）　楓香（別研）　各三斤　當歸　（去蘆頭，酒浸一宿，陰乾）　赤芍藥半兩　川獨活（去蘆）　川芎（湯泡七次）　細辛（去苗，淨洗）　香白芷　山桂（去粗皮）　白姜（麵裹煨）　黃姜（濕紙裹煨）　五加皮（淨洗去骨）　桔梗（去蘆）　骨碎補（去毛炒）　蒼朮（醋煮七次）　何首烏　（用黑豆酒煮七次）　以上各二斤　知母半斤　沒藥半斤　牛膝二斤（酒浸七日焙乾）　上件為細末，每服二錢，鹽酒調。病在上食後服，病在下空心服。遍身損臨臥服。孕婦莫服。</p>

<h2>白藥末</h2>
<p>治打撲傷損，皮肉破碎，筋骨寸斷，瘀血壅滯，結腫不散。或作癰疽，疼痛至甚。或因損後中風，手足痿痹，不能舉動，筋骨偏縱，攣縮不伸。及勞傷破損，肩背四肢疼痛。並宜服之。此藥大宜續筋接骨。刻日取效。婦人產後諸血疾，並皆治之。</p>
<p>白楊皮十二兩（米汁浸一宿）　桔梗十兩（去苗）赤芍藥九兩（酒浸一宿）　川芎半斤（湯泡七次）　白芷十兩　山桂半斤　（去粗皮）　細辛半斤（去苗）　甘草十兩（炙）　花椒五兩（去子合口者）　川烏六兩（炮）　續斷六兩（米汁浸）　牛膝六兩（去苗，酒浸一宿）　澤蘭葉九兩（去叉枝）　當歸六兩　香附子六兩（炒）　上為細末，每服二錢。酒調下，服法同前。婦人諸血風氣，亦皆治之。</p>

<h2>烏丸子</h2>
<p>治打撲傷損，骨碎筋斷，瘀血不散，及一切風疾。筋痿力乏，左癱右瘓，手足緩弱，諸般風損。婦人血疾，產後敗血不散，灌入四肢，面目浮腫，並宜服之。惟孕婦勿服。</p>
<p>赤小豆（炒）　白蘞　赤芍藥　何首烏（醋煮）　細辛（去苗）　草烏（醋煮七次）　白芨（煨）　山桂（去粗皮）　南星（麵裹煨）　當歸（酒浸一宿）　川芎　百草霜　骨碎補（去毛炒）　天台烏藥　（烏豆酒煮後焙乾）　以上各一兩　上為細末，用煮豆酒煮麵糊為丸，如梧子大。每服五十丸。用煨蔥酒，或煨蔥茶任下。</p>

<h2>紅丸子</h2>
<p>治打撲傷損，骨碎筋斷，疼痛痹冷，內外俱損。瘀血留滯，外腫內痛。肢節疼倦，應諸傷損。不問年月日久，並宜服之。常服補損，堅筋固骨，滋血生力，神效不可具述。孕婦勿服。</p>
<p>牛膝（酒浸一宿）　川烏（炮）　南星（醋煮三次）　細辛（去苗淨洗）　何首烏（用水煮熟）　桔梗　（去蘆）　山桂　（去粗皮）　當歸　自然銅（煅醋淬七次，別研）　白蘞　赤芍藥　骨碎補（去毛）　沒藥（別研）　羌活（去蘆）　赤小豆（不見火）　上除研藥外，余並打和，炒乾為末。酒煮麵糊為丸。每服五十丸，隨病上下服之。</p>

<h2>麻丸子</h2>
<p>治踒折傷損，皮破骨出，手足碎斷，肌肉壞爛，疼痛至甚，日夜叫呼，百治不止。手足久損，筋骨差爻，舉動不能。損後傷風濕，肢節攣縮，遂成偏廢，勞傷筋骨，肩背疼痛，四肢廢乏，動作無力。常服壯筋骨，活經絡，生氣血。及治婦人血氣。惟孕婦勿服。</p>
<p>川當歸　（去苗淨洗）　桔梗　（名布蘿蔔）　牛膝各半兩　（不用酒浸）　骨碎補二兩（去毛）　川烏（不見火切作片子醋煮）　川芎一斤　百草霜一斤　草烏（用山礬灰汁浸）一斤　木鱉子　（去油殼）　赤芍藥各半斤　烏豆一斗（浸酒煮焙乾）　金毛狗脊（去尾）　上為末，酒煮麵糊為丸。如梧子大。每服五十丸，溫酒下。婦人艾醋湯下。</p>

<h2>活血丹</h2>
<p>治跌撲傷損，折骨斷筋，疼痛浮腫。腹有瘀血，灌注四肢，煩悶不安。癰疽發背，肌肉壞爛。諸般風疾，左癱右瘓，手足頑麻，婦人血風發動。並宜服之。每服半丸。用無灰酒磨化，微煎三五沸，溫服。不拘時候，不以多少。此藥常將紗葛袋收掛淨處，經久不壞。可備急用。唯孕婦勿服。</p>
<p>荊芥二兩半　楓香一兩（別研）　檀香一兩（不見火）　降真節一兩　草烏二兩（酒煮）　山桂（去粗皮）　當歸（酒浸一時）　蒼朮（米汁浸，春五、夏三、秋七、冬十日，炒乾）　川羌活（去蘆）　白芨　（麵裹煨，曬乾）　烏豆　（以糯米炒黃為度）　地龍　（去土）　各半兩　滴青一錢半（別研）　麝香半兩（別研）　川芎半兩　（熱湯洗三次）　五靈脂一兩半　（用燈心別研）　乳香一兩（別研）　沒藥一兩（別研）　川烏二兩（炮）　骨碎補（去毛，炒）　川牛膝　（酒浸一時）　細辛（去苗）　花桑木　（燒灰存性）　白芷（不蛀者）　赤芍藥（酒浸）　川牽牛（石灰炒）　南星（以石灰炒黃色為度）　自然銅（煅酒淬別研）　大慄間各半兩　大鱉二十個（去油殼）　上為細末，酒煮麵糊為丸，如彈子大。入臼杵三十餘下，團成塊，秤一兩，分作三丸。候丸盡分作三分，一分陰乾，一分曬乾半時久，一分焙半時久。卻三分打和一處，令陰陽相合，俟藥上塵氣為度，然後刷去塵，用黑漆光為衣。</p>

<h2>洗藥</h2>
<p>（後有仙正散方）</p>
<p>如傷重，先用洗，後卻用烏龍角貼。其洗藥同前方內。又參山泉方洗藥用。</p>
<p>木朔翟　石南葉　白芷　白楊皮　生蔥　何首烏　土當歸　荊芥　藁本　芍藥　上不拘多少，煎湯候溫，將洗損處令淨，用絹滲干瘡口上為妙。</p>

<h2>烏龍角</h2>
<p>（貼藥）</p>
<p>治跌撲傷損，筋骨碎斷，差爻出臼。其用法詳見前方黑龍散同。先洗擦整理後調貼夾縛。亦可用此干糝瘡口。</p>
<p>白殭蠶六兩（去絲嘴，炒）　赤小豆六兩　川牛膝六兩（去蘆）　山桂（去皮）　桔梗　白芨　百草霜　山枇杷葉（生，銼，陰乾）各一斤　當歸尾　骨碎補（去毛，炒）　北細辛（去苗）各半斤　白芷　赤芍藥　南星（煨）　何首烏各十兩　白蘞十兩　知母　草烏各三兩（用薑汁煮）　上為細末，如藥潤，亦可焙乾碾之。每用以薑汁或冷水茶水調，攤紙上，於痛腫處貼之。三日一洗一換貼。骨碎須夾。</p>

<h2>桃紅散</h2>
<p>治積年不效，朽爛瘡口，金瘡箭射，打碎皮破，血出不止。可將此藥干擫，次日別用藥水洗淨再擫，大能散血結口。</p>
<p>石膏一斤（黃泥封固煅過）　白礬二兩（飛過）　血竭一兩　（別研）　黃丹　（細研，火飛過、水飛過）　松糖（別研）　五倍子　粉霜各三兩　龍骨二兩（別研）　上研為極細末，罐子收用。</p>

<h2>紫金散</h2>
<p>整骨續筋生肌止痛，內傷肝肺，嘔血不止，或在心腹脹痛，四肢無力，左右半身風瘓，並宜服之。</p>
<p>紫金藤皮二兩　降真二兩　續斷五兩（要細者）　骨碎補二兩　無名異三兩（燒紅醋淬七次）　琥珀二兩　牛膝三兩（去苗酒浸一宿）　當歸二兩（去尾）　桃仁二兩（去皮）　蒲黃一兩　大黃一兩（煨）　朴硝半兩（熱湯泡化，用花葉紙濾過七次）　上件為末，用蘇木煎酒調，日進三服即效。</p>

<h2>七寶散</h2>
<p>治冷水風腳濕氣下注，腳膝生瘡。左癱右瘓，筋脈拘急。腳下隱痛，不得伸屈，不能踏地，並皆治之。</p>
<p>晚蠶砂一升（炒）　蛇床子一升（炒）　肉桂二兩（去皮）　荊芥穗五兩　乾荷葉二兩　藁本五兩（去土）　川烏二兩（炮）　薏苡仁三兩　上件㕮咀，約二兩重。用水五升，加花椒、連須蔥，同煎至七分。去渣。於痛處熱斟淋冼。</p>

<h2>定痛丸</h2>
<p>治腰痛不可忍。不問男子婦人室女老幼，並皆治之。</p>
<p>威靈仙半兩（去土）　金鈴子一兩（炒去核）　川烏一兩（炮）　八角茴香一兩　上為末，酒煮麵糊為丸。如梧子大，每服五十丸。鹽湯酒隨上下服之。</p>

<h2>七氣湯</h2>
<p>治積年久損，入經絡，服藥無效。腰背拘急，咳嗽痰涎。風勞發動，日漸羸瘦，每到秋來損病復作，不問男子婦人，並皆治之。</p>
<p>青皮（去白，炒）　陳皮（去白）　三稜（濕紙裹煨）　北梗（去蘆）　肉桂（去粗皮）　藿香（去枝）　益智（去殼，炒）　香附子（炒）　甘草（炙）　半夏（湯泡）　赤芍藥　烏藥　獨活　羌活（去蘆）　降真香各一兩　上㕮咀。每服五錢，水一大盞半、姜三片、棗一枚，煎至七分，去滓，隨病上下服之。</p>

<h2>仙正散</h2>
<p>（洗藥）</p>
<p>治男子婦人骨斷，用此煎水洗後整骨。卻用烏龍角貼之。如破留口當夾縛。即依前方為之。</p>
<p>肉桂二錢（去皮）　當歸三錢（去尾）　胡索五錢　白芷五錢　蒼朮一兩　赤芍藥五錢　防風一兩　荊芥四兩　上㕮咀。每服五錢，水五升，乾荷葉兩皮，煎至七分，去滓。於損處斷處，及冷水風腳，筋脈拘急不得屈伸，行步艱苦，用此藥熱蒸，用被蓋覆，候溫淋洗。</p>

<h2>糝瘡口方</h2>
<p>但遇傷損，皮肉血出。或破腦傷風，血出不止，急用此藥擫之。</p>
<p>血竭二錢半（別研）　降真香四錢　燈心一把　龍骨（五花者）　二錢（別研）　雞一隻（連毛屎用醋煮後碎之，用黃泥封固以文武火煨乾後焙為末）　蘇木　（同降真香碾少許）　乳香五錢（同燈心研）　沒藥五錢（別研）　桔梗少許　紅花（要馬頭者）二錢（焙乾為末）　當歸三錢　上為細末，每用少許，干擫瘡口上。如血流湧出不止，多擫之。候血藥將干，又用清油調塗於瘡上。（可制一料以備急用）</p>

<h2>接骨散</h2>
<p>治飛禽骨斷，從高墜下，驢馬跌折，筋斷骨碎，痛不可忍。此乃接骨續筋，止痛活血。</p>
<p>硼砂一錢半　水粉　當歸各一錢　上為末，每服二錢，煎蘇木湯服訖。時時但飲蘇木湯立效。</p>

<h2>除痕</h2>
<p>欲傷後瘡愈無痕，用此。</p>
<p>蔓荊子　隨風子　續隨子　黃荊子　上件各等分為細末，飯上蒸九遍，用童便浸一宿後，炒乾為度，以花葉紙包在絹巾內揩之。可以除痕。</p>

<h2>陰紅湯</h2>
<p>專治婦人傷損，瘀血不散，腹肚膨脹，大小便不通，上攻心腹，悶亂至死者。急將此藥通下。卻依前，次第服藥。</p>
<p>鹿角膠　產婦油發各一錢（燒）　沒藥三錢　上用酒一大盞煎服。</p>

<h2>膠艾湯</h2>
<p>專治婦人尋常經脈不通，宜先服此，後服鱉甲散。</p>
<p>乾地黃三錢　阿膠一錢　川芎　艾葉各一錢　上㕮咀。每服二錢，水一大盞，酒半盞，煎至八分，不拘時溫服。</p>

<h2>洗藥</h2>
<p>治男子婦人骨斷，用此煎水洗後整骨了卻用烏龍角貼。</p>
<p>杜仲五兩　五加皮七兩　蔥根一把　上三味，水五升，煎至七分，去滓淋洗。每服二兩半重。傷破留口用藥摻。骨斷當夾縛，詳見前論。</p>
