<header data-type="book">
<h1>活人事證方後集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉信甫</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1219">公元1219年</data></dd></div>
</dl>
</header>

<h1>卷之一</h1>

<h2>中風門</h2>
<p>孫用和准四時虛實治風方證</p>
<p>竊觀自古聖賢治療有法，十有九驗。夫療病之法，必先准四時虛實，以詳中病之由。依繩墨拯濟，乃是解死脫厄之路。四時之病，春中時風，自東而來，名曰溫風，蓋時令不和而傷人也。浮而輕淺，可汗而解。敗毒散、羌活、細辛之類，更看發起在陰在陽，隨而得效若也。人自虛羸，從後而來，名曰虛風。中人煩悶，肢體攣痹不任，便可續命湯、八風湯成劑頓服。更加灸法，三五日間勢必減退，漸漸調和以求生路。如從前來，名曰實風。亦主人瞀悶，脈緊浮大。宜以伏神湯、西州續命湯求效。不用火劫，自使勢慢，須緩緩治之，故《千金》曰：「風者百病之長」，又曰：「治風不以續命湯治之，則不為治風」，斯以見聖人之心矣。更有後方，經驗頗多，並依四時、虛實治療。</p>
<p><u>小續命湯</u>　治卒中風欲死，身體緩急，口目不正，舌強不能語，奄奄忽忽，神情悶亂。諸風服之皆驗，不令人虛。</p>
<p>麻黃　黃芩　芍藥　芎藭　甘草　杏仁　人參　桂心（各一兩）　防己（半兩）　生薑（五兩）　附子（一枚）　防風（一兩半）</p>
<p>上水九升，煮取三升，分三服。未瘥，更依前三五劑必瘥。取汁隨多少，輕重虛實也。有人腳氣，服此方至六十劑得瘥。有風疹，加大陰、節變，輒含之，可以防喑啞。凡古方用藥，其修制、炮炙之法皆如常，更不細說。</p>
<p>大防風湯祛風，順氣，活血脈，壯筋骨，除寒濕，逐冷氣。</p>
<p>善法寺僧如真師孫遂良，紹熙壬子年患痢之後，足履瘓弱，遂成鶴膝風。兩膝腫大而痛，髀脛枯臘，但存皮骨而已。拘攣跧臥，不能屈伸，待人抱持而後能起。如此數月，分為廢人。淮東趙德遠參議之甥李二十七官人惠以此方，服之氣血流暢，肉亦漸生，遂能良行。不終劑，平復如故。真奇方也。</p>
<p>防風（去蘆）　白朮　白芍藥　川當歸　杜仲（去粗皮，炒絲斷，秤）　熟乾地黃　黃耆（微炙。秤各二兩）　羌活（去蘆）　牛膝（去蘆）　甘草（炒）　人參（去蘆。秤各一兩）　附子（炮裂，去皮、臍）　川芎（撫芎不可用。各一兩半）</p>
<p>上拌為粗末，令勻。每服五錢，水一盞半，入生薑七片、棗子一枚，同煎至八分，去滓，溫服，食前。又有人教令煎四物湯，下四斤元，遂良既安，不曾服也。（四斤圓，治腳氣相搏，往來作痛。）</p>
<p>孫用和經進方七道</p>
<p><u>鐵粉牛黃丸</u>　主心經留熱，安精神，化風痰，止心下忪悸，及治中風太過候，雖不涎潮厥倒，漸覺四肢不舉，語澀面疣，精而昏濁，形似醉人，日深攤拽，皆服之。土鬱心經，雖子不能親母，豈不逆乎？病後鬱塞，此名心脾太過中風候。更加通心氣，辰砂丸與同服，神驗無比。曾於嘉祐元年正月二十日召赴御藥院，押引入內，看診皇帝御脈，遂進此方。自晚進藥，至夜有效。數日之內，聖體安寧。效驗之速，其應如神，今目之為神應益聖丹方。</p>
<p>鐵粉（再研，水飛過，焙乾，二兩）　辰砂（別研，水飛過極細，焙乾，一兩）　天竺黃（一分，別研極細）　牛黃（半兩，細研，治急病加至一兩）　鉛白霜（一分，別細研）</p>
<p>上五味，煎糯米粥飰和為丸，如綠豆大，每服十五丸，人參湯下，日再服。糯米飯下亦得。</p>
<p><u>通心氣辰砂丸</u>　治婦人一切風痰潮發，痰逆狂語，狀如心風者，大效。淡醋湯下尤妙。若無痰涎不可常服。</p>
<p>慶曆三年七月中旬，醫官院貼宿。二更以來，內中宣喚，當時看診中宮脈息證候，瞪目昏迷，不省人事。遂進辰砂丸、鐵粉牛黃丸同服，當時有效。至四更再進一服，尋便好安。</p>
<p>辰錦硃砂（半兩，別研極細，用水飛過，暴乾）　生白龍腦（半兩，別研細）　硇砂（半兩，通明者，別研如粉）　黃丹（炒，一錢，須是真品）　白芥子（二兩，微炒取末，一兩）　半夏（一兩，浸七遍，淨洗，片切焙乾，取半兩末）　天南星（一兩，湯浸軟，洗淨，切作片，焙乾，取半兩末）</p>
<p>上件藥同研，拌令勻，用麵糊丸，如綠豆大，細研硃砂為衣。每服十丸，與鐵粉牛黃丸十丸同服，空心，食前，溫服下，日二服。</p>
<p><u>硃砂法</u>　主身體五臟百疾，養精神，安魂魄，益氣，通血脈。久服悅澤人面，不老輕身，仙方最為長生之寶。得此方，凡療病無不驗。</p>
<p>上好辰錦硃砂（十兩，打碎如皂子大，須通明如箭鏃者為上）　甘草（一兩）　訶黎勒（二兩，銼碎）　檳榔（二兩，捶碎）　遠志（淨揀，擇去心，二兩）</p>
<p>上銼草藥，以水一斗，煎取六升，去滓，絹袋盛硃砂於藥汁中掛。以微火煎，令汁盡，即取硃砂入銀盒中，置甑內，以二斗糯米蓋，藉以桑柴火蒸二日三夜，水盡即添暖水。春時一日文、二日武、三日盛武、三宿微火；夏時一日武、二日文、三日盛武、三宿微火；秋時一日盛武、二日文、三日微文、三宿微武；冬時一日微文、二日文、三日盛武、三宿微武。始終如法，日滿即開。取硃砂研如粉面，以楮子煎膏和丸，如梧桐子大，每日空心服一丸，酒下。食後一丸，漿水下。合時入官桂少許，百無所忌，輕堅腰膝，治一切筋骨風虛。及有經驗贊：</p>
<p>硃砂有何功，偏治髓中風。</p>
<p>不惟延壽算，容易駐顏紅。</p>
<p><u>楮子煎法</u>（楮實也）</p>
<p>楮子五升，六月六日採，以水一石，煮取五升，去滓，微火煎如餳，即湛用（並小斗升）。</p>
<p><u>生犀丸</u>　治心虛，喜忘煩悸，風涎不利，聰明耳目。治諸風顫掉，及治三十六種風。益精神，壯心氣。或多健忘，寢寐足驚，心常似憂，或忪或慟，往往欲倒，狀類暗風，四肢顫掉，多生怯懼，每起煩躁，悲涕愁煎，並皆屬心，臟氣虧，宜服此以鎮心神。</p>
<p>生犀（一兩，屑為細末）　天麻（半兩，炙黃）　敗龜（半兩，酥炙）　牛黃（一分，別研）　茯神（去粗皮，一分）　遠志（去心，一分）　人參（去蘆頭，一分）　肉桂（一分，別研）　龍齒（酥炙黃色，一分）　硃砂（一分，別研）　麝香（半兩，別研）　龍腦（一分，別研）　石菖蒲（半兩，細銼一寸九節者）　金銀箔（各五十片）　羚羊角（半兩，屑為末）</p>
<p>上十五味搗研極細，煉蜜為圓，如梧桐子大，食後、臨臥、溫水化下二丸，或加至四丸至七丸。</p>
<p><u>解五毒丸　</u></p>
<p>牛黃（一分，研）　金箔（小折七片，與眾勻研）　龍腦（半分）　麝香（半分）　硃砂（一兩，研）　犀角（一分，醋研）　膩粉（一分）　巴豆（一百五十個，去皮、心、膜，出油）　黃蠟（三分）</p>
<p>上件藥先化蠟為油，入諸藥和調勻便，丸如皂子大。每一丸療四人，食毒、酒毒、陰毒、陽毒、氣毒，並用龍腦、膩粉，水下一丸。如吐逆不定，用人血酒下；藥毒，人血酒下一丸。如是藥毒，仍先吃生油少許。此藥每取下惡物後，速撥取，以水淨洗，於地坑子內焙三日取出，用硃砂、麝香養之，再以解毒。每一丸可三次用。</p>
<p><u>菵草散</u>　治中風涎盛，及氣嗝，不下粥藥者，立效。</p>
<p>菵草（一兩，生用）　枇杷葉（一兩，生用，去毛）　半夏（一兩，湯浸，焙乾）</p>
<p>上件為散，每服一錢，水一盞半，生薑一塊，同煎至半盞，去滓，溫服之，立效。</p>
<p>治李維觀察二十日嗝吐，不下粥食，藥只此一服，效。</p>
<p>許學士二方治風虛驚悸。</p>
<p><u>真珠圓</u>　治肝經因虛，內受風邪，臥則魂散而不守，狀若驚悸。</p>
<p>有董生者，患神氣不寧，每臥則魂飛揚，覺身在床而神魂離體，驚悸多魘，通夕無寐，更數醫而不效。予為診視，詢之曰：「醫作何病治？」董曰：「眾皆以為心病。」予曰：「以脈言之，肝經受邪，非心病也。肝經因虛，邪氣襲之。肝藏魂者也，遊魂為變。平人肝不受邪，故則魂歸於肝，神靜而得寐。今肝有邪，魂不得歸，是以臥則魂揚若離體也。肝主怒，故小怒則劇。」董欣然曰：「前此未之聞，雖未服藥，已覺沉疴去體矣。願求藥法。」予曰：「公且持此說與眾醫議所治之方而徐質之。」閱旬日復至，云：「醫偏議古今方書，無與病相對者。」故予處此二方以贈服，一月而病悉除。此方大抵以真珠母為君，龍齒佐之。真珠母入肝經為第一，龍齒與肝同類故也。龍齒、虎睛，今人例以鎮心藥，殊不知龍齒安魂，虎睛定魄，各言類也。東方蒼龍，木也，屬肝而藏魂；西方白虎，金也，屬肺而藏魄。龍能變化，故魂遊而不定；虎能專靜，故魄止而有守。予謂治魄不寧者，宜以虎睛；治魂飛揚者，宜以龍齒。萬物有成理而不說，亦在夫人達之而已。</p>
<p>真珠母（三分，研細同）　當歸　熟乾地黃（各一兩半）　人參　酸棗仁　柏子仁（各一兩）　犀角　茯神　沉香　龍齒（各半兩）</p>
<p>上為細末，煉蜜為丸，如梧子大，辰砂為衣。每服四五十丸，金銀蔢苛湯下，日午、夜臥服。</p>
<p><u>獨活湯　</u></p>
<p>獨活（黑者）　羌活　防風　人參　前胡　華陰　細辛　五味子　沙參　白茯苓　半夏曲　酸棗仁　甘草（各一兩）</p>
<p>上為粗末，每服四大錢，水一盞半，生薑三片，烏梅半個，同煎至八分，去滓，不拘時候。</p>
<p><u>啄木散</u>　治暗風癎疾，諸藥不效者。</p>
<p>武昌都帥趙清老云：「軍中老醫甚珍此方，力求而得之。一年之間，已醫十餘人，喜而傳余。」</p>
<p>啄木兒（一枚，去觜、翅、尾、爪尖，用瓦罐子先鋪荷葉、荊芥穗一寸厚，次入無灰酒三升，方下啄木兒，更用荷葉、荊芥一寸厚，用紙封口，鹽泥固濟，炭火煅，青煙出為度。候冷取出，只用啄木兒。臘月者尤佳）　寒水石（二兩，火煅通紅，別研）　鐵粉（一兩，別研）　附子（一隻一兩者，炮，去皮臍取末）　牛黃（二錢半，別研）　麝香（二錢半，別研）　腦子（二錢半，別研）　硃砂（二錢半，別研）</p>
<p>上為細末，拌勻，每服一錢，溫酒調下，便就枕睡少時。發罷時服尤妙，常服，不拘時候。</p>
<p><u>舒荊湯</u>　治臂痹痛。</p>
<p>自聞嘗苦左臂痹痛，或以為飲，或以為風、為濕。諸藥悉投，繼以針艾，俱不效。一日見陳異，即云其親嘗苦此，且年高，難用藥。有德清竹尉傳一方云：「可三服而愈。蓋是血氣留滯，經絡不行所致，非風非飲非氣非濕。但止能治腰以上疾，若腰以下則藥力不至也。服三服而愈。」余服之亦然。後來見王伯舉，因語及此，且恨不能治腰以下疾耳。伯舉云：「吾有方，謂之五痹湯，與此用藥一同，但添海桐皮、當歸、赤芍藥三味，各二兩。如腰以下疾，則食前服；腰以上疾，則食後服。」用之俱驗。</p>
<p>片子薑黃（四兩，《本草》之說不一，但當用老生薑切成片，如今所用染物者非）　甘草（一兩，炙）　白朮（二兩）　羌活（一兩）</p>
<p>上為粗末，每服三錢，水一盞半，煎七分。</p>
<p><u>蕊珠圓</u>　治心恙。</p>
<p>豬心（一個，取血）　硃砂（一兩，為末）　青靛花（一匙）</p>
<p>上件三味，先將青靛一匙，曝乾，次取豬心血，一處同研爛，次入硃砂為圓，如梧桐子大，每服二十圓，茶酒下，不拘時候。甚者不過三服。</p>
<p>有陳氏常病此，因收治方甚多，在吳興日偶聞一染鋪之子苦斯疾，遂錄以教之，數服而愈。</p>
<p><u>許學士養血地黃圓</u>　治筋脈拘攣，伸屈不得。　</p>
<p>有人患風病，自午後發，黃昏時定，予曰：「此患必先從足起。《經》言：十二經絡各有筋，惟足少陰之筋，自足至項。大抵筋者，肝之合也。日中至黃昏，天之陽，陽中之陰也，又曰：陽中之陰，肺也，自離至兌，陰旺陽弱之時，故《靈寶畢法》云：離至乾，腎氣絕而肝氣弱，肝腎二臟受陰氣，故發於是時。」予授此方，三服而愈。同官歙丞張德操，常言其內子苛患筋攣，腳不得屈伸者逾年，動則令人持抱，求醫於泗水楊吉老，老云：「此筋病，宜服下三方。」服一年而愈。</p>
<p>熟乾地黃（十分）　頑荊（一分）　山茱萸（五分）　黑狗脊（炙）　地膚子　白朮　乾漆　蠐螬（干之，炙）　天雄　車前子（各三分）　萆薢　山蕷　澤瀉　牛膝（各一兩）</p>
<p>上細末，煉蜜和，杵如梧子大，每服五十圓，溫酒下，空心、夜臥。</p>
<p>凡中風用藥速效者。</p>
<p><u>排風湯</u>　續命湯引竹瀝諸湯，及神精丹、茵萸酒之類，更加以灸，無不愈者。然此疾積習之久，非一日所能致，皆大劑久而取效。</p>
<p>《唐書》載：王太后中風，喑然不語，醫者蒸黃耆數斛以熏之，得瘥。蓋此類也。今人服三五盞便求效，貴醫也，亦速矣。孟子曰：「七年之病，三年之艾，久而後知爾。」</p>
<p>白茯苓（去黑皮）　獨活（去蘆頭）　麻黃（去根節。已上各三兩）　白鮮皮　白朮　芍藥　芎藭　當歸（去蘆頭）　桂（去粗皮）　防風（去蘆頭）　杏仁（去皮、尖，只仁者，麩炒令黃色）　甘草（銼炒。已上各二兩）</p>
<p>上為粗散，每服三錢，水一盞半，入生薑四片，同煎至八分，去滓溫服，不計時候。</p>
<p><u>續斷湯</u>　治久年病風不瘥。王思和用此方一月而愈。思和名醫，寓儀真時，人少知者。後至都下，聲名籍甚，為醫官。</p>
<p>續斷　杜仲　肉桂　防風　甘草　牛膝　白茯苓　細辛　人參　當歸　白芍藥（各一兩）　川芎　秦艽　熟乾地黃　川獨活（各三兩）</p>
<p>上為細末，每服二錢，水一盞，生薑三片，棗一個，同煎至七分，空心，食前，稍熱服。</p>
<p><u>勝金圓</u>　治中風吐痰即愈。</p>
<p>張醫博子發，授此方得省。</p>
<p>生蔢苛（半斤）　豬牙皂角（二兩，捶碎，水一升，二味一處燒，取汁慢火熬成膏）　瓜蒂末（一兩）　藜蘆末（一兩）　硃砂（半兩，研）</p>
<p>上將硃砂末一分，與三味研勻，用膏子搜和，圓如龍眼大，以余硃砂為衣，溫酒化一圓，甚者二圓，以吐為度。得吐即省，不省者不可治。</p>
<p>必用方論中風無吐法，引金虎碧霞為戒。且如卒暴，涎生，聲如引鋸，牙關緊急，氣閉不行，湯藥不能入，命在須臾，執以無吐法可乎。但不當用銀粉藥，恐損脾，壞人四肢爾。予每用此二方，每每有驗。</p>
<p><u>茶調散</u>　治偏正頭風，諸藥不愈者，宜服此。</p>
<p>李全總領云：此天下第一頭風藥。</p>
<p>香白芷（二兩半，炒）　川芎（一兩，銼，炒）　甘草（一兩，銼，炒）　川烏頭（半兩，炮，銼）</p>
<p>上四味，搗羅為末，每服二錢，好茶少許，薄荷三葉，沸湯調下。如暴傷風頭疼，可加蔥白二寸，細切和茶下。</p>
<p><u>芎香散</u>　治頭風。</p>
<p>解防禦用此得效。</p>
<p>川芎　大香附子（炒，去皮、毛。等分）</p>
<p>上為細末，空心熱酒調下二三錢，食後服。茶清調，亦得明目。又治婦人血風。</p>
<p><u>七烏圓</u>　治風痹之疾，遍身走注，服諸藥不效。</p>
<p>《素問》論痹云：風寒濕三氣而合為痹。風氣盛者行痹，上下左右無留，隨所至耳。惟服此藥，不終劑而愈。亦治風濕腰痛、腳氣之疾。有風氣人大宜服此，活血駐顏，壯筋骨。</p>
<p>大川烏（二兩，去皮、尖）　草烏（二兩，去皮、尖）　赤何首烏（二兩）　豬牙皂角（二兩）　黑豆（半升）　烏梅（五十個，捶破）　天台烏藥（二兩，銼）</p>
<p>上用無灰酒二升、米醋二升，用砂糖瓶浸一宿。煮將干，取出。用炭火焙，碾細末，用酒醋煮薄麵糊為圓，如桐子大，每服三十丸至五十丸。病上食後，病下食前，溫酒、鹽湯下。腳氣，木瓜湯下。些小瘡瘍，數服見效。</p>
<p><u>竇朝議經進仙酒方</u>　治大風及偏風、一切風疾，延年益壽。</p>
<p>牛蒡根（一斤）　牛膝（一斤）　秦艽（二兩）　鼠黏子（二兩）　枸杞子（炒，一斗）　蒼朮（蒸爛，二斤）　防風（二兩）　蠶沙（二兩）　大麻子（一升，炒，去殼，別研）　桔梗（二兩）　羌活（二兩）</p>
<p>上為銼散，無灰酒二斗，淨瓷器內浸，密封七日開，開時不得對瓶口。日進三服，每服一大盞，溫服。常令面有酒色，甚者不過一斗。忌麵食並魚肉、動風物。</p>
<p><u>御風膏</u>　治口眼喎斜。</p>
<p>向來臨安得醫家傳。有人中風，傳入陽明經而口眼喎斜者，宜用蓖麻子去殼碾細，塗在手心，以一盂子置在手心蓖麻子上，以熱水置盂中，口正則急取盂。左癱塗右手心，右癱塗左手心。口眼才正，急洗去藥。昨在鄉邑，亦常療人，妙哉。此方又治生產難者，爛研塗兩腳心。才生，便急洗去腳心藥。</p>
<p><u>火杴草圓</u>　治一切風疾。</p>
<p>張忠定公經進。臣本府有僧智堅，年八十餘歲，顏色紅潤，行步如飛。臣怪如此，因問其由，云久服火杴草丸使然。令就其房，錄此方。臣當年修合，服食未久。臣家有老僕，年七十歲，舊患冷痛風，已數年不瘥。忽一日，厥疾痊愈。問其損，云臣付婢竊臣所服火杴草丸，與之頓覺強健。臣不住令病僕空心服之。臣莊在山口，鎮約八十里，當令幹事，一日能往返。因知此藥大有神效。</p>
<p>上草於五月五日或六月六日，悉不拘多少，先於急流水中灘上淨洗，去根及土。入甑，灑紅酒或無灰酒，蒸一頓飯大，取出，於向日曬，生絹袋盛於當風處掛。一斤為末，用白硔蜜一斤和勻，搗七千下，不犯鐵器，圓梧子大，瓷合收。每服二十至三十丸，湯使干後。虛冷，空心、鹽湯、酒下；婦人血風，艾醋湯下；渾身疼痛經年不瘥，骨碎補酒下；產後敗血不散，性命難保，姜酒下；中風手足攣，口眼喎斜，天麻酒下；腎臟下注，腰腳廣腫，行步不及，豆淋酒下；無力，顏色萎黃，飲食減少，薑湯下；賁豚、小腸氣，茴香酒下；食積、胸膈脹滿，橘皮湯下；連年久嗽，黃耆湯送下；赤白痢及水瀉，薑湯下；氣疾、攻刺，威靈仙酒下；冷勞痼疾，石斛酒送下。</p>
<p>有婦人二十歲，偶食中吃驚，發搐涎塞，不省人事，牙關緊急。以白梅擦牙，次用冷水茶調常山細末二錢服下，吐出涎而省，後投局方烏沉湯而安。吐法壯實者可用。</p>
<p>有人忽然不省人事，身體軟弱，牙關不緊，涎不潮塞，招數醫皆言中風。投雄珠丸、星附之屬，病者轉昏。僕診其脈皆濡，氣閉隔絕，所以脈濡。受以局貨木香流氣飲，煎熟，入麝香少許，兩服而痊。</p>
<p>有人病頭旋。《經》云：眊為眼花，眩為眼黑。眩暈，頭旋，不省人事，皆是陽虛。又云：上虛則眩，下虛則厥。令服局方俞山人蘇子降氣湯、養正丹、來復丹、如聖餅子而安。</p>
<p>有一室女，每經候欲行如風之狀，發搐，不省人事。診其脈，心脈浮，衝任脈沉，此因經行伏驚致此。服局方黑神散，入硃砂、燈心、麥門冬煎湯調下數日，自後經行如常，前病不作。若腹痛，加大聖散服。</p>
<p>有一婦人，腳趾赤腫，痛不可忍，加檳榔木瓜煎、局方香蘇飲，三服而痊。</p>
<p>有人每遇天陰，覺渾身重疼無力，此乃濕氣。香蘇飲與平胃散各一貼，和分四服，加木瓜煎，大有神效。治腳隱痛、行步艱辛，只平胃散加赤曲，同煎服最妙。</p>
<p>有人常覺左眼瞤動，忽然左邊口喎，食則不能收，求醫。僕診其脈，浮而澀，氣口脈遲而澀。遂授之局方香蘇飲和藿香正氣散加南木香、薑、棗同煎，次以小續命湯加天麻，磨沉香水同煎，下局中養氣丹，數服痊安。</p>
<p>有人四十已上歲，平日好食麵、飲酒。苦右臂不能舉。授以局方五積散加木瓜檳榔煎，又用生附子一兩，去皮、臍，南木香二錢半，㕮咀，分作三服，水二盞、生薑十大片，同煎一盞，去滓熱服，數服而安。</p>
<p>有人誤服風藥多，遍身麻，吐瀉，致脈厥。一醫欲投丹藥。偶一道人乞至門，見云：此是中草烏之毒，用晉釩、青黛二味細研，用貫眾煎湯調下便省，吐瀉亦止。若中巴豆毒，芭蕉根煎湯服，極妙。</p>
<p>又方療中風藥毒，齏水調蛤粉尤奇。</p>

<h1>卷之二</h1>

<h2>心氣門</h2>
<p><u>引神歸舍丹</u>　治心氣，亦治心風。</p>
<p>盛覺民傳王宣子尚書方。</p>
<p>大天南星（厚，去皮取心，秤一兩，生用）　硃砂（一兩，水飛）　附子（一個，重七錢以上者，炮，去皮、臍）</p>
<p>上為細末，用豬心血為丸，如梧桐子大，如不稠黏，入麵糊少許。煎忘憂草根下。子午之交各一服，每服十五丸，神效。</p>
<p><u>硃砂散</u>　治心氣。</p>
<p>桂真官方呂少張丁家難，積憂之後，遂成狂易之疾，服此一劑即定。繼以蕤仁之類心氣藥，七日而安。廖碩夫知府云。</p>
<p>辰砂（半兩）　麝香（一錢）</p>
<p>上為細末，以好酒二升，銀石或沙器內慢火煮至半升許，入麝香，更煎數沸，取出。隨意飲之，以盡為度。心神既定，卻服補心氣藥，即愈。</p>
<p><u>養氣鎮心丹</u>　長樂陸慶長寺丞診脈投劑，與史載之許叔微為伯仲。其家傳方書一編載此丹云：「人以為補下元而使氣實，杜壬謂：不然，先補心氣而五臟實，心氣正而元氣自實也。若更以藥補下元尤妙。此方極養心氣。若止補元氣，耗心氣，非養氣之理也。中年以後宜服之。」此說極有理，雖名醫亦少知之。</p>
<p>遠志（二兩，去心）　人參（一兩，去蘆頭）　辰砂（一錢，別研）　天門冬（一兩，去心）　石菖蒲（一兩，去須）　生龍腦（一錢，別研）　白茯苓（一兩，去皮）</p>
<p>上為細末，煉蜜圓如梧桐子大，用硃砂、龍腦為衣，每服二三十圓。煎人參湯，食後、臨臥服。</p>
<p><u>茯神散　</u></p>
<p>宋明遠教授母，七十四歲，因戎馬驚，疾如上證，服此三方得力。</p>
<p>予族弟婦，緣兵火失心，制此方與之，服即愈。親識多傳去，服之皆驗。出許氏方。</p>
<p>茯神　熟乾地黃　白芍藥　川芎　當歸　桔梗　白茯苓　遠志　人參（已上各等分）</p>
<p>上為細末，每服二錢，水一盞，燈芯、棗同煎至七分，不拘時候。</p>
<p><u>寧志膏　</u></p>
<p>人參（一兩）　酸棗仁（一兩）　辰砂（半兩）　乳香（一分）</p>
<p>上為細末，煉蜜和杵，圓如彈子大，每服一粒，薄荷湯化下。</p>
<p><u>遠志圓</u>　治因驚語言顛錯，不能服溫藥。</p>
<p>遠志　南星　白附子　白茯苓　人參　酸棗仁（各半兩）　金箔（五片）　硃砂（半兩，入麝少許同研）</p>
<p>上為細末，煉蜜圓如梧子大，朱為衣，每服三十丸，薄荷湯下，食後、臨臥服。</p>
<p><u>乳硃砂丸</u>　大治一切心氣。</p>
<p>盛覺民傳王宣子尚書方。</p>
<p>硃砂（一兩，有牆壁透明者方可用）</p>
<p>上用石韋葉裹之，以布線縛定，用人乳汁一小甌，入銀盂內，以物覆之，重湯內煮，候乳汁干，研細，圓如梧桐子大。空心、溫酒下六丸。石韋葉當以新布拭去毛，方可用。</p>
<p><u>人參當歸圓</u>　治心氣虛損。</p>
<p>崑山神濟大師方，獻張魏公丞相、韓子常知府閣中，服之有效。</p>
<p>平江醫者丁御干為葛樞密雲：「此藥本治心氣怔忡而自汗者，不過二服即愈，蓋奇藥也」。</p>
<p>人參（半兩，細切）　當歸（半兩，上去蘆，下去細者，取中段切）　豬腰子（一隻）</p>
<p>上以腰子用水兩碗，煮至一盞半，將腰子細切，入二藥，同煎至八分。吃腰子，以汁送下。有吃不盡腰子，同上二味藥滓，焙乾為細末，山藥糊丸，如梧桐子大，每服三五十丸。此藥多服為佳。</p>
<p><u>小補心丸　</u></p>
<p>紹興府慧應都正方，錢文子傳。</p>
<p>天門冬　麥門冬　乾山藥（各一片）　熟乾地黃　五味子　石菖蒲（各二十兩）　人參（去蘆）　茯神（去木）　茯苓（各十兩）　遠志（去心）　官桂（去皮。各六兩）　地骨皮　酸棗仁　龍齒（各四兩）　柏子仁（三兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，硃砂、麝香為衣，每三十丸，溫酒、鹽湯下。</p>
<p><u>辰砂遠志丸</u>　安神鎮心，治驚悸，消風痰，止頭眩。</p>
<p>此二方醫官都君予，常用以療心疾，良驗。</p>
<p>石菖蒲　遠志　人參　茯神　川芎　山蕷　鐵粉　麥門冬　天麻　半夏曲　南星（銼，骰子大，麩炒黃）　白附子（生。各一兩）　細辛　辰砂（各半兩）</p>
<p>上為細末，生薑五兩，取汁入水煮糊，丸如綠豆大。別以朱為衣，干之。每服三五十粒。夜臥、生薑湯下。小兒減少服。</p>
<p><u>茯苓圓　</u></p>
<p>辰砂　石菖蒲　人參　遠志　茯神　白茯苓　真鐵粉　半夏曲　南星（牛膽制。各等分）</p>
<p>上為末，生薑四兩，取汁和水煮糊，圓如梧子大。別用朱為衣，干之。每服十粒，加至三十粒。夜臥、生薑湯下。</p>
<p><u>狗肝散</u>　治失心。</p>
<p>張德明傳秦太師以治徐履之疾。</p>
<p>黃丹　硝石（各二兩）</p>
<p>上煅硝石為汁，以皂角遂小段子投其中，直候無火方止。去皂角，以黃狗肝一具，用竹刀切作片子，摻藥末數錢於中，同煮食之。</p>
<p><u>寧志丸　</u></p>
<p>好辰砂一兩，將熟絹一小片包裹，以線扎定，豶豬心一枚，以竹刀子切破，不可犯鐵，用紙拭去血，入硃砂包子在豬心內，卻用麻線縛合豬心，又以甜筍殼再裹了，麻皮扎縛。無灰酒二升，入砂罐子或銀器內煮，令酒盡為度。去線並筍殼，取辰砂別研。將豬心以竹刀細切砂盆內，研令爛，卻入後藥末六件並辰砂、棗肉為丸，留少辰砂為衣。藥末須隔日先碾下，棗肉於煮豬心日絕早煮熟，剝去皮、核，取肉四兩用。</p>
<p>此方濮十太尉之子六將使傳。乃侄嘗患心風，服此一料，病減十之八。</p>
<p>人參（半兩）　白茯苓（半兩）　當歸（半兩，去蘆，去土）　酸棗仁（半兩，用酸棗仁五兩，湯浸去皮，可剝半兩淨仁，炒赤香熟為度）　石菖蒲（半兩）　乳香（半兩，別研）</p>
<p>上同和丸，如梧桐子大，以留下硃砂為衣，每服五十丸。人參湯下，不拘時候。</p>
<p><u>朱雀丸</u>　治心神不定，恍惚不樂，火不下降，時有振跳。消陰養火，全心氣。</p>
<p>蘇韜光傳此方，極驗。</p>
<p>茯神（二兩，去皮）　沉香（半兩，併為細末）</p>
<p>上煉蜜，丸如小豆大，每服三十丸，食後、人參湯下。</p>
<p><u>軟硃砂法</u>　補心氣，輕健手足，治廢忘。</p>
<p>趙從簡方。</p>
<p>□塊有牆壁辰砂（一兩，研如粉）</p>
<p>上以好清麻油四兩，白及二兩，木通一兩，於油內煎令焦黃，濾去，放。令油如人體溫，於瓷器內和辰砂末，令如糍糕，以皂角漿水洗去油。卻用新汲水洗去皂角漿，於瓷盒內以新水養之，每日早晨換水。空心就舌上，圓七粒如桐子大，若用一匙頭許，以溫酒化下亦得。</p>
<p>有人病心虛，每見垂掛動搖之物，輒惡之。服此遂愈。</p>
<p><u>密陀僧散</u>　治驚氣入心絡，喑不能語。</p>
<p>出《夷堅己志》十五卷章倅事。</p>
<p>昔有人為狼及惡蛇所驚，皆以此藥療而愈。</p>
<p>密陀僧（研極細如粉）</p>
<p>上以茶調服一錢匕，一服即愈。</p>
<p>田師中太尉秘方，亦治暗風。密陀僧大如兩手者一塊，以鐵線密纏，留鐵線一條，垂空掛之，四畔以火煅令通紅，酒一升、醋一升，合和淬藥，取酒、醋盡為度。出火毒一宿，研令極細。每服一錢，麝香酒調下。</p>
<p><u>補心神效丸</u>　崔參政家方。</p>
<p>黃耆（銼了，蜜湯少許拌勻，焙乾）　茯神（去木）　人參（去蘆）　遠志（去心。各四兩）　熟乾地黃（三兩）　柏子仁（別研）　五味子（各二兩）　硃砂（一分，別研）　酸棗仁（湯泡七遍，去殼炒熟，別研）</p>
<p>上為細末，煉蜜圓如梧桐子大，每服五十圓，米飲或酒任下。盜汗不止，麥麩湯下；亂夢失精，人參龍骨湯下；卒暴心痛，乳香湯下；虛煩發熱，麥門冬湯下；吐血，人參湯下；大便下血，當歸、地榆湯下；小便出血，茯苓、車前子湯下；中風不語，薄荷、生薑湯下；風癇涎潮，防風湯下。</p>
<p><u>人參散</u>　補心氣。</p>
<p>史載之處此方治心疾，無不效驗。</p>
<p>人參（七錢）　茯神　山藥（各半兩）　白芍藥　熟乾地黃　黃耆（各一分）　防風（一錢半）　甘草（一錢，炙）　官桂（一分半）　南星（炮，二錢）</p>
<p>上為細末，每服二錢，水一盞，生薑、棗少許，同煎至七分服。</p>
<p><u>棗仁圓</u>　治心氣不足，恍惚健忘，睡臥不寧，夢寐危奩，心忪如人捕。</p>
<p>張承節累用有效。</p>
<p>酸棗仁（炒，去皮）　黑豆（炒，去皮）</p>
<p>上等分為細末，煉蜜為丸，如梧桐子大，硃砂少許為衣，每服三十圓。日午、臨臥，熟水或人參湯送下。</p>
<p><u>一醉膏</u>　治心恙。</p>
<p>武昌施倅云：「傳此方於喻子才郎中家，已療數人之疾矣」。</p>
<p>無灰煮酒（二碗）　真麻油（四兩）</p>
<p>上和勻，用楊柳枝二十條，逐條攪一二百下，換遍，直候油、酒相乳入如膏，煎至七分碗。狂者強灌之，令熟睡，或吐或不吐，覺來即醒。</p>
<p><u>麝香圓</u>　治心風。</p>
<p>張德明傳。其閣中失心數年，服此藥而愈。疾再作，服第二方遂安。</p>
<p>水銀（半兩）　麝香（一錢）　建茶（好者，研，一分）　半夏（一兩，以生薑汁煮三五十沸，取出，作塊子切，更煮令熟，焙乾，搗為細末）　生蔢苛（一大握，和水銀如泥，研細）</p>
<p>上件藥都入在蔢苛泥內，更研千百轉，圓如芥子大。金銀湯下十五丸，臨睡時服。三日再進一服。</p>
<p><u>琥珀圓　</u></p>
<p>硃砂（一分，另研）　乳香（一分，別研）　酸棗仁（溫酒浸半日，去殼了，紙上炒令香熟。一分以一兩半浸，去殼只得一分仁）　人參（半兩）　遠志（酒浸半日，新布裹，捶去心，焙乾，以一兩隻得半兩肉）　石菖蒲（細而節密者）　白茯苓　茯神　琥珀（各半兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服二十丸。食後，酒下，日進二服。如不能飲酒，以棗湯下，此藥可常服。</p>
<p><u>震靈丹</u>　治氣虛心疾。蓋心藥多性寒，服之令人腹痛，飲食減少。此藥治怔忡，恍惚健忘，睡臥不安。益心進食，補虛去冷。</p>
<p>張承節傳授此方，用之無不效驗。以局方震靈丹，不拘多少，重研細，用燈芯、麝香少許煮北棗，去核、皮，研細搜圓，如桐子大，每服三十圓。食空，棗湯或人參湯下。</p>
<p>此丹不犯金石、飛走有性之藥，不僭不燥，奪造化沖和之功。大治男子真元衰憊，五勞七傷等疾。</p>
<p>禹餘糧石（火煅、醋淬，不計遍次，以手捻得碎為度）　赤石脂　丁頭赭石（如禹餘糧石修事）　紫石英（已上各四兩。上件四味並作小塊，入坩堝內，鹽泥固濟。候乾，用炭一十斤煅過，紅火盡為度。入地坑埋，出火毒二宿）　滴乳香（二兩，別研令細）　沒藥（二兩，去沙石，研）　五靈脂（二兩，去沙石，研）　硃砂（一兩，水飛過）</p>
<p>上件前後共八味，併為細末，以糯米粉煮糊為圓，如小雞頭大，曬乾出光。每一粒空心、溫酒下，冷水亦得。常服鎮心神，駐顏色，溫脾腎，理腰膝，除屍注蠱毒，闢鬼魅邪厲。久服輕身，漸入仙道。忌豬羊血、滯氣等物。婦人醋湯下，孕婦不可服。極有神效，不可盡述。</p>
<p><u>順經散</u>　治因驚之後，心氣不行，小府淋瀝，日及三十餘次，漸覺黃瘦，宜服此劑主之。</p>
<p>高逢辰制干傳。予表侄十餘歲時嘗遊慧山，歸已昏暮，遇一巨人，醉臥寺門，驚悸得疾。自是之後，一日便溺五六十度，醫治數月不能效。遂以病證叩高逢辰，即授此方。服藥未幾，日減一日，初則三二十度，最後十數度，凡服兩料而愈。</p>
<p>韭子（一兩，湯浸，退取白仁，干）　益智（半兩，取仁，鹽炒過）　琥珀（半兩，令研）　石韋（一錢，去毛土）　白茯苓（三分）　狗脊（爛，去毛淨，半兩）　石燕子（火煅、醋炒，出火毒，令研極細，半兩）</p>
<p>上七味為末，和勻。每服一錢，用韭菜白煎湯調下。空心、食前各一服。日午一服尤效。</p>
<p><u>熟乾地黃散</u>　治心氣虛，憂恐恍惚，心腹痛，脹滿食少。</p>
<p>太平聖惠方，常用累有神效。</p>
<p>熟乾地黃（三分）　陳皮（三分，湯浸去白瓤，焙）　遠志（去心）　桂心　芎藭　白芍藥（已上各半兩）　人參（去蘆頭）　白茯苓　菖蒲（各一兩）</p>
<p>上件搗，粗羅為散。每服三錢，水一中盞，煎至六分，去滓溫服，不計時候。</p>
<p><u>沙參散</u>　治心實熱，驚悸，喜笑，心神不安。泄熱安心。</p>
<p>沙參（去蘆頭）　白薇　川芒硝　羚羊角屑　子芩（已上各一兩）　石膏（二兩半）　人參（三分，去蘆頭）　茯神（三兩）　梔子仁（三兩）　甘草（半兩，炙微赤，銼）</p>
<p>上件搗，粗羅為散。每服三錢，水一中盞，煎至五分，去滓，入地黃汁一合，竹瀝半合，更煎一兩沸，食後溫服。忌炙煿、熱面。</p>
<p><u>神效正元散</u>　治氣不接續，氣虛，仍專治滑泄及小便數。王丞相服之神效。</p>
<p>蓬莪朮（炮去鬢，一兩，銼）　金鈴子（一兩，去核，焙焦）</p>
<p>上件藥搗羅為末，更入硼砂一錢，煉過，研細，都和勻。每服二錢，鹽湯或溫鹽酒調下，空心、食前服。</p>

<h1>卷之三</h1>

<h2>虛損門</h2>
<p>巢氏論五勞七傷六極證候</p>
<p>五勞者，志勞、思勞、心勞、憂勞、瘦勞。又有心勞、肝勞、肺勞、脾勞、腎勞。心勞者，口內生瘡，大便苦難，忽忽喜忘。　肝勞者，目視不明，精神不守，面目乾黑。肺勞者，氣短，鼻不聞香臭，面目微腫。脾勞者，舌本苦，嚥唾不得。　腎勞者，腰背俯仰難，小便黃赤，陰濕，小腹滿。</p>
<p>七傷者，陰寒，陰萎，裡急，精連，精少，精清，小便數、臨事不舉。一曰大飽傷脾，面黃，困乏欲睡。二曰大怒傷肝，氣逆，血少，目暗，精神昏。三曰多欲傷腎，少精，下冷，腰痛。四曰寒飲傷肺，氣少，咳嗽，鼻塞。五曰憂愁思慮傷心，多驚，多喜，多怒。六曰風雨傷形，寒暑霧露所傷，膚髮枯悴。七曰恐懼不節傷志，恍惚不寧。</p>
<p>六極者，氣、血、筋、骨、肌、精。氣極，令人內虛，五臟氣乏，邪氣多，不欲言。血極，令人無顏色，枯悴，忽忽喜忘。筋極，令人轉筋，腳手指皆痛，不能久立。骨極，令人手足煩疼，不欲行動，又齒痛。肌極，令人羸瘦，面無精光，食不生肉。精極，令人少氣，噏噏然，內虛，五臟氣不足。</p>
<p><u>太上紫霞丹</u>　升降陰陽，神仙藥也。福州石醫。</p>
<p>硫黃（四兩，研細）　針沙（四兩，羅去細者）　五倍子（一兩，打破）</p>
<p>上同用沙鍋內，以水煮一時，放冷。先揀了五倍子不用，然後淘去針沙，將硫黃用池紙一張，於灰上滲，令乾，團作球，用荷葉一枚裹之，安地上，以大火煅。俟藥紅即攔去火，經宿。研令極細，用飯膏和圓，如皂角子大，陰乾。每服一二圓，空心白湯下。此藥治氣虛、頭痛如神。</p>
<p><u>太素丹</u>　治停寒肺虛，痰實喘急，咳嗽經久，痰中有血；及療氣虛感冷，臟腑滑泄，脾胃羸弱，不進飲食。此藥治一切危困之疾，神效。周彥廣侍郎傳。</p>
<p>煉成鍾乳粉（一兩）　真陽起石（二錢，新瓦上用熟火煅過，通紅為度，去火候冷，研極細）</p>
<p>上二味合研，令勻，用糯米粽子尖拌和為丸，如雞頭大。臨合時入白石脂一錢，須用大盤子不住手轉，候八九分堅硬，陰乾。用新粗布以滑石末出光。每服兩粒至三粒，空心，人參湯或陳米飲下。</p>
<p><u>蜀仙丹</u>　大壯元氣，去百病。</p>
<p>錢觀文方。</p>
<p>辰砂（四兩，細研，水飛過）　杏仁（二兩，去皮、尖，研）</p>
<p>上用宣州木瓜二枚，切下蓋子，以竹刀斡去瓤，先入硃砂實按，次入杏仁填滿。卻以蓋子覆之，用竹籤定，以生絹袋子裹之，入瓷器中蒸一百遍，候數足，取出，刮去木瓜粗皮，一處研細，候可圓，即圓如綠豆大。每服十粒，空心、溫酒、米飲下。木瓜忌鐵，見鐵即不作效。</p>
<p><u>雄朱丹</u>　治宿寒痼冷，飲食嘔逆，經隔五七年即疲瘠異形、變為勞瘵。錢觀文方。</p>
<p>硃砂（二兩）　雄黃（二兩）</p>
<p>上用沙合子一個，先以牡丹皮二兩，內外熏令黃色，入前藥在內，用釅米醋和臘茶作餅子蓋定，以赤石脂固合子口縫，又用赤石脂泥裹合子一重，再用黃泥紙筋又裹一重，約一指厚。先以草火燒，令合子極干，再用五斤火，漸漸添至一秤，候火力漸消，取出。掘地坑一尺以來，埋一宿，去火毒。取出細研，續入藥。</p>
<p>附子（炮裂，去皮、臍，別為末）　胡椒　官桂（去皮）　赤石脂　木香　沉香　蓽茇　丁香　白朮（已上各一兩）　乳香（半兩，與赤石脂同研細）</p>
<p>上為細末，入前煅藥同研勻，卻以清酒二升，三分熬去二分。入附子末，煮成糊為丸，如梧桐子大。每服十圓，溫酒、鹽湯下，空心、食前。</p>
<p><u>資壽小金丹</u>　補益真元。治諸虛不足，上盛下虛，喘急泄瀉，手足厥逆，小腹結痛，翻胃脾寒，霍亂嘔吐，食不腐化。白濁夢遺，便多盜汗，恍惚虛驚，耳鳴目眩，久痢赤白，腸風痔漏。婦人諸疾，經候不勻，帶下崩中，子宮虛冷，久無胎孕。此丹溫平不僭，常服鎮養心氣，溢益精神，輕身延年，活血駐顏。峽州王教授云：金丹治瘧尤神效。</p>
<p>代赭石（一斤）　餘糧石（四兩）　石中黃（二兩）　赤石脂（五兩一分）</p>
<p>上四味，各研為細末，再秤數足同入，羅三兩遍，再勻研細膩，旋旋抄二三匙，入盞中滴水，圓如桐子大，急手圓畢再圓，入盤，以光實、無破裂為度。赤石脂性硬，故須旋旋圓之。待陰乾，入新坩堝子內裝載。用木炭每排三兩行，用炭排十字，眼中放藥鍋子，再四圍聚木炭，以多為佳。自頂放熟火，令慢慢燒，下不得用扇，直至火與藥通紅。自冷方取出，入乾淨瓷器中收。每服兩粒或三粒，棗湯送下，或米飲下，婦人艾湯。空心、食前服。</p>
<p>王啟玄傳玄珠先生耘苗丹三方</p>
<p>序曰：張長沙戒人妄服燥烈之藥，謂藥勢偏有所助，勝克流變，則真病生焉，猶憫苗不長，而揠之者也。若稟氣受血不強，合服此而不服，反忽略之，是不耘苗者也。</p>
<p><u>上丹</u>　養五臟，補不足，秘固真元，均調二氣，和暢榮衛，保神守中。久服輕身耐老，健力能食，明目，降心火，交腎水，益精氣。男子絕陽，庶事不堪；女子絕陰，乃不能妊。腰膝重痛，筋骨衰敗，面色黧黑，心勞志昏，寤寐恍惚，煩憒多倦，餘瀝夢遺，膀胱邪熱，五勞七傷，肌肉羸瘁，上熱下冷，難任補藥。服之半月，陰陽自和，容色、肌肉光潤悅澤。開心意，安魂魄，消飲食，養胃氣。</p>
<p>五味子（半斤）　百部（酒浸，別研）　肉蓯蓉（酒浸）　杜仲（炒，斷絲）　巴戟（去心）　遠志（去心）　枸杞子　防風（去叉）　白茯苓　蛇床子　山藥　柏子仁（別研）　菟絲子（酒浸，別研。已上各二兩）</p>
<p>上為末，蜜丸梧子大。食前溫酒、鹽湯任下三十丸。春煎乾棗湯；夏加五味子四兩；四季月加蓯蓉六兩；秋加枸杞子六兩；冬加遠志六兩。食後兼服衛生湯。</p>
<p><u>衛生湯</u>　補虛勞，強五臟，除煩養真，退邪熱，順血脈，緩中，安和神志，潤澤容色。常服通暢血脈，不生癰瘍，養胃益津。</p>
<p>當歸　白芍藥（各二兩）　黃耆（八兩）　甘草（炙，一兩）</p>
<p>上為銼散，每服四錢。水盞半，煎七分，去滓，不以時。年老加酒半盞煎。</p>
<p><u>中丹</u>　補百損。體劣少氣，喜驚昏憒，上焦客熱，中脘冷痰，不能多食，心腹弦滿，脾胃氣衰，精血妄行，容色枯悴。</p>
<p>黃耆　白芍藥　當歸（各四兩）　白茯苓　人參　桂心（各二兩）　川椒（炒，出汗，一兩）　大附子（炮，去皮、臍，一兩）　黃芩（一兩，先為末，薑汁和作餅）</p>
<p>上為末，粟米飲搜和得所，搗千杵，丸如梧子大，酒飲任下三五十丸，食前服。</p>
<p><u>小丹</u>　補勞益血，去風冷百病，諸虛不足，老人精枯神耗，女子絕傷斷緒。久服益壽延年，安寧神志魂魄，流滋氣血脈絡，開益智慧，釋散風濕，耳目聰明，筋力強壯，肌膚悅澤，氣宇泰定。</p>
<p>熟地黃　肉蓯蓉（酒浸。各六兩）　五味子　菟絲子（酒浸。各五兩）　柏子仁（六兩，別研）　石斛　巴戟（去心）　天門冬（去心）　蛇床子（炒）　覆盆子（各三兩）　續斷　澤瀉　人參　山藥　遠志（去心，炒焦）　山茱萸　菖蒲　桂心　白茯苓　杜仲（銼，炒絲斷。各二兩）　天雄（炮，去皮、臍，一兩）　煉成鍾乳粉（扶衰三兩，續老二兩，常服一兩，氣完則刪去）</p>
<p>上為末，蜜丸，如梧子大。食前，酒服三十丸至五十丸。忌五辛、生蔥、蕪荑、餳、鯉。虛人，多去鍾乳，倍地黃；多忘，倍遠志、茯苓；少氣神虛，倍覆盆子；欲光澤，倍柏子仁；風虛，倍天雄；虛寒，倍桂心；小便赤濁，三倍茯苓，一倍澤瀉；吐逆，倍人參。</p>
<p>張承節論勞瘵證</p>
<p>嘗觀勞經言：傳屍瘵疾，其蟲如人似鬼，形狀可畏，及患者多相繼而夭。愚見考之，斷無是理。以此觀之，譬如俗談，不曉事人，害相思病也。與一婦人情密，忽而別離，念念不捨，至於失寐忘餐，便覺容顏瘦瘁。再償所願，如沉疴去體，恍然而釋。其勞病之說，豈不類此？經云：悲則氣耗，思則氣結，伏郁不散，久則氣血俱虛，令人發寒發熱，飲食減少，相搏作痛。或因感冒，遂添咳嗽。非嗽也，緣氣虛，易感風寒。在肺為嗽，久而著床，便作勞病。治之服柴胡、地骨皮、秦艽之屬涼藥退熱。致令真氣消散，喪命之源。古之廣客蛇影，仿此不可不審，因書為後人之警。</p>
<p><u>青蒿膏</u>　治骨蒸勞熱。</p>
<p>曾醫洛陽周秀才，小娘子自為青蒿膏，在旅不能辨，令渠自作膏。病者恨患，自親手熬至成膏，只或火伴，出一身汗而愈，更不曾服此藥。只更調青蒿酒一杯吃，肌肉再生，飲食增美，此患永痊。此方得自潁陽賣五熟一隱者，聞金人殺逼，撞入石中，後不復見。</p>
<p>青蒿（二秤，淨洗，控干）</p>
<p>上以水三斗，煎令滾後，入蒿一秤，煎令黃色，熟，濾出。又入一秤煮，如此遍盡，用生布絞，壓汁在前者湯內，細濾過，熬將稠，換沙鍋內熬。以竹箅攪，不得令住，直候成膏，以淨瓷器貯之。上如患輕者，只此膏酒調（更用青蒿煎此酒，）下一錢，食後服。若骨蒸患重甚者，用自然銅先捶碎，入銚子內炒，令無鬼焰止，取鋪地上，盆覆，出火毒一日。乳缽研細，膏為圓，如彈子，煎青蒿酒化下，被蓋臥，取汗出為效。此藥極神效。</p>
<p><u>保靈丹</u>　治丈夫、婦人傳屍勞，斷一切邪夢。張丞節方。</p>
<p>天靈蓋（一個，蔡州者）　鬼箭　白朮（炒，令黃）　虎頭骨（塗酥炙令黃。已上各一兩）</p>
<p>上四味細搗，羅為末後，更用好硃砂、雄黃、麝香各一兩，並細研如粉，同拌勻，煉蜜為丸，如梧桐子大。每服十九至二十丸，煎安息香湯下，米飲亦得。一日二服，不得嚼破。如修合時，須是揀子、寅、辰、午、申、戌日合和，餘日及午後並不得合。</p>
<p><u>香甲桃仁散</u>　治五勞乾瘦及傳屍，夢寐不祥，日漸消瘦，肌體困倦，骨節疼痛，不思飲食。宜服此藥最妙。</p>
<p>天靈蓋（半兩，酥炙黃色）　鱉甲（一兩，酥炙令黃色）　柴胡（三分，去苗）　安息香（半兩）　地骨皮（三分）　山梔子仁（半兩）　人參（半兩，去蘆頭）　赤茯苓（三分，去皮）　貝母（半兩）　桃仁（半兩，麩炒熟，去皮、尖）　麥門冬（三分，去心）　阿魏（半分，麵裹煨，令面熟）　黃連（半兩，去須）　生地黃（三分）　檳榔（半兩）　當歸（半兩）</p>
<p>上件為粗散，每服四錢，童子小便一大盞，入蔥白莖五寸，桃、柳枝各七寸，生薑錢子二片，同煎至五分，不計時候服。夜後煎下，放患人床頭，至五更已來，必夢人來辭別。此是藥效也。</p>
<p><u>玉抱肚</u>　治停寒痼冷，心腹刺痛。常繫於臍、腹間甚妙。梁縣鄭主簿渙傳。</p>
<p>一方用針砂如上法炒訖，止入硇砂半兩，並不用余藥。</p>
<p>針砂（四兩，鐵銚內火炒，用木或竹棒兒不住手攪，煙出盡為度，放冷）　白礬（半兩）　硇砂（一錢）　粉霜（半錢）</p>
<p>上件白礬等三味，同研為細末，與針砂拌和，只作一服。以水數點灑，用匙拌，攤令勻，厚皮紙為貼，闊二寸以上，長四五寸貼之，外以帕子包系疼處，或嘗系臍下。如覺太熱，即以衣襯之。若藥力過，再灑水如前拌用，其熱如初，可用四五次。藥力退，即將針砂再炒過，別入余藥仍可用。</p>
<p><u>麋茸圓</u>　治腎經虛，腰不能轉側。</p>
<p>許學士云：戊戌年八月，淮南大水，城下浸灌者連月。予忽臟腑不調，腹中如冰吼數日，調治得愈。自此腰痛，不可屈折，雖赬面亦相妨，服遍藥不效，如是凡三月。予後思之，此必水氣陰盛，腎經感此而得。乃灸腎俞三七壯，服此藥瘥。</p>
<p>麋茸（一兩，治如鹿茸，無麋茸以鹿茸代）　菟絲子（取末，一兩）　舶上茴香（半兩）</p>
<p>上為末，以羊腎二對，法酒煮爛，去膜，研如泥，和圓，如梧子大，陰乾。如腎膏少，入酒糊佐之。每服三五十圓，溫酒、鹽湯下。</p>
<p><u>八仙丹</u>　治虛損，補精髓，壯筋骨，益心智，安魂魄，令人悅澤，駐顏輕身，延年益壽，閉固天癸。</p>
<p>有人年幾七旬，夢漏羸弱，氣惙惙然,虛損。得此方服之，頓爾強壯，精氣閉固，飲食如舊。予常制自服，良驗。</p>
<p>伏火硃砂　真磁石　赤石脂　代赭石　石中黃　禹餘糧（六味並用醋淬）　乳香　沒藥（八味各一兩）</p>
<p>上為細末，勻研極細，糯米濃飲，丸如梧子大，或如豆大。每服一粒，空心、鹽湯下。</p>
<p><u>混元胎丹</u>　乃陰陽始生之物，氣、精、血初生之英華。蓋人元宮真氣所化，修真之士服餌，補漏壯氣，固神益髓，通神明，延壽命，增益道涯，超範圍，外內丹之基。具服餌方如後。</p>
<p>久無嗣息者服此有驗。</p>
<p>以首兒衣（二、八月者不用，收時連帶中元血收）</p>
<p>用長流水淨洗，控干，入瓷瓶中，下無灰法酒三大升，腦子麝香（隨力下之，多止一錢或半錢，）以紙封瓶口，下用文武火煅，候酒將盡，取出。再入酒三勝，依前煅。卻用竹篦或金銀篦不住攪，以覺爛糜似粥模樣，待冷，取入砂盆內，細研如粉，別入外料。</p>
<p>人參（二兩）　茯苓（二兩）　乳香（半兩）　硃砂（半兩，水飛晾乾取淨）　山藥（四兩）</p>
<p>上併為細末，入於所煮藥內，如干時更用原煅酒旋旋添，拌勻，一處攪搜為圓，梧桐子大，慢火焙乾。每日空心五十粒，加至一百粒，用溫酒、鹽湯下。良久，用甜淡飲食飽壓。逐日葷味中減少五味（謂甜、淡、咸等物。）服至五七日，微覺小腹連腰沉重，不須疑慮，乃是藥力攻、元氣相輔助如此。</p>
<p><u>蓯蓉茸附圓</u>　平補真元，益養脾腎，固精壯氣，暖胃思食。</p>
<p>督府王翰林方。丞相兄舊苦腳氣，自服此藥，十餘年不作。</p>
<p>鹿茸（一兩，先用草燒去毛，切作片子用，酥炙，令香熟為度）　真烏藥（一兩）　蓯蓉（四兩，酒浸一宿，切作片子，焙乾）　川五味子（一兩）　牛膝（二兩，酒浸一宿，切焙）　熟乾地黃（二兩，炒，焙）　附子（一兩，炮，去皮、臍）　菟絲子（六兩，酒浸兩宿，炒令半乾，搗作餅子，焙）　白朮（一兩）　補骨脂（炒）　胡蘆巴（炒）　茴香（炒）　干淡木瓜（上各一兩）　沉香（一分）　木香（一錢，麵煨）　丁香（二錢，不見火）</p>
<p>上件搗，羅為細末，酒糊為丸，如梧桐子大。每服三五十丸。空心、臨臥，米飲、溫酒、鹽湯下。</p>

<h1>卷之四</h1>

<h2>白濁門</h2>
<p><u>博金散</u>　便濁之疾，皆緣心腎，水火不濟，或因酒色，遂至以甚，謂之土淫。蓋脾有虛熱，而腎不足，故土邪乾水。</p>
<p>史載之常言：夏則土燥而水濁，冬則土堅而水清，此其理也。醫者往往多峻補，其疾反甚。此方中和，補瀉兼之，服之水火既濟，而土自堅，其流清矣。</p>
<p>人參（一兩，去蘆）　白茯苓（二兩，去皮）　絡石（二兩）　龍骨（一兩，略煅）</p>
<p>上為細末，每服三錢，空心、臨睡，米飲調下。</p>
<p><u>金鎖丹</u>　治男子、婦人遺精、鬼交，小便白濁。</p>
<p>陳氏云：「余在連山，得之黎昉渠。乃祖宣和。政和間御醫，甚秘此方，力扣而得之。」</p>
<p>茯神（二錢）　遠志（三錢，去心）　五色龍骨（三錢，煅紅）　牡蠣（四錢，左顧者，炒赤黃）　堅白茯苓（二錢）</p>
<p>上為末，酒煮糊為圓，如桐子大。鹽湯、溫酒下三十或四十丸，空心、食前服。</p>
<p><u>補氣圓</u>　治白濁小便多。</p>
<p>陳氏云：「今橫守徐叔虞服此有效，錄以相授。余頃常服之有益。」</p>
<p>半夏（四兩，揀圓正大者切作兩片）　石薜荔枝葉（四兩）　斑蝥（二十八個）　糯米（一升）　遠志肉（二兩）　白茯苓（二兩，去黑皮，淨）　石菖蒲（去毛，淨秤二兩，同制了半夏一處，為末）</p>
<p>上先以半夏同荔葉、斑蝥、糯米四味同炒，慢火不住手攪，候半夏微黃，即取。上以炭五斤，掘地作小坑，燒令通紅，以米醋一升旋旋沃之。候醋盡，納半夏與諸藥於坑內，以桫木板覆其上，鹽泥護蓋一伏時，取出，去余藥。只用半夏入遠志、茯苓、菖蒲，醋糊為圓，梧桐子大。空心、冷酒或鹽酒下三十粒至五十粒。圓子用木豬苓末拌和，炒，圓子干，同入罐收之。</p>
<p><u>心腎圓</u>　治水火不既濟，恍惚多忘，心忪盜汗，夜夢驚恐，小便數而白濁，精滑夢遺，目暗耳鳴，悲憂不樂，腰膝緩弱，四肢痠疼。常服養心氣，補氣血，生津液，進飲食，安神定志。</p>
<p>張茂之傳此四方，用之累有神效。</p>
<p>鹿茸（一兩，燎去毛，酒塗炙）　附子（炮，去皮、臍，一兩）　牛膝（去苗，酒浸，二兩）　熟地黃（洗，再蒸，二兩）　當歸（去蘆，一兩，酒浸）　菟絲子（酒浸，蒸，碾成餅，三兩）　遠志（去苗，甘草水煮，捶去骨，一兩）　蓯蓉（二兩，酒浸）　五味子（去枝）　山藥（炒）　龍骨（略煅）　人參　白茯神　黃耆（炙。已上各一兩）</p>
<p>上為細末，用浸藥酒煮薄麵糊為圓，如桐子大。每服五七十圓，棗湯送下，空心食。</p>
<p><u>益母圓</u>　治肺虛，膽寒，氣弱，不得睡。心腎不交，精少，臨事不興。故子令母虛，水不生木，木氣短，不能生火，所以不交，非不攝也。此常服，滋養榮衛，抑陰壯陽。治便濁，耳作蟬聲，腰疼，腿膝無力，婦人諸疾。</p>
<p>蓯蓉（酒浸）　酸棗仁（湯泡，去皮）　杜仲（去皮，薑汁製炒）　陽起石（火略煅，研如粉）　破故紙（炒）　白茯苓（已上各一兩）　人參（半兩）　蔥白（焙乾，秤一兩）　澤瀉（半兩，切成塊再蒸）　羊石子（一對，切作片，酒浸，焙乾）</p>
<p>上為細末，酒煮薄麵糊為圓，如桐子大。每服五七十圓，鹽酒、鹽湯或麝香酒送下，食前服。</p>
<p><u>蠟苓圓</u>　治白濁，補虛，潤腸，止渴，治肺損吐血。</p>
<p>有人耳暴聾，服此藥卻，間服局方安腎丸而痊。</p>
<p>黃蠟（四兩）　好雪白茯苓（去黑皮，四兩）</p>
<p>上將茯苓為末，熔蠟和藥圓，如彈子大一圓，半飢半飽細嚼。治婦人血海久冷，白帶，白濁，白淫，身常濕，小便如米泔。加木豬苓去黑皮，切片，四兩，用水同煮茯苓，卻去木豬苓，只用茯苓，如前法為丸服。</p>
<p><u>千里笈圓</u>　治真氣不足，脅腹虛鳴，腰膝無力，氣促心忪，小便滑數，稟受怯弱，尤宜常服。</p>
<p>鄉村道中千里笈（乃舊草履也）</p>
<p>上不以多少，卻於村道中，置於小遺缸內，遇晚以棒杖攪動四十九日，將取出，於日曬，令草鞋干，燒灰。將灰淋水，以鍋如常煎，候水將盡，卻於銀器，煎其色干，已成物看多少。蓋用千里笈乃荷重之人，取其湧泉一穴之氣成藥。將藥研細，用雪白茯苓為細末，煮糊，圓如桐子大。每服三五十丸，米飲或人參湯下，食前。</p>
<p><u>茯苓圓</u>　治心腎氣虛，神志不守，白濁遺泄，小便淋瀝或不禁。</p>
<p>張真君方。</p>
<p>赤茯苓　白茯苓（各等分）</p>
<p>上為末，以新汲水挼，澄去紅沫，控干。別取地黃汁，同與好酒，銀石器內熬成膏，搜和為丸，如彈子大。空心、鹽酒嚼下。常服輕身延年。</p>
<p><u>秘精圓</u>　治元氣不固，遺精夢泄。</p>
<p>華宮使方。</p>
<p>大附子（炮裂，去皮、臍）　龍骨（煅通赤）　牛膝（酒浸一宿，焙）　肉蓯蓉（酒浸一宿，焙）　巴戟（去心。已上各一兩）</p>
<p>上為末，煉蜜為丸，如梧桐子大，空心，溫酒、鹽湯任下三二十粒，甚者日午再服。小便如米泔者，不過十服。</p>
<p><u>清心圓</u>　治夢泄。因酒多積熱所致者，奇效。大智禪師方。</p>
<p>黃檗片　甘草（等分）</p>
<p>上生為末，入腦子煉蜜為丸，如梧桐子大。空心、臨臥，溫熟水吞下二十圓，麥門冬飲尤佳。</p>
<p><u>礬附圓</u>　治白濁、漏精，如米泔色，此方絕妙。</p>
<p>大附子（一隻，端正，重七八錢者，炮裂，去皮、臍）　絳礬（半兩，煅存性）</p>
<p>上為末，水煮細麵糊為丸，如綠豆大，每十圓，空心，溫茶清下一十丸至十五、二十丸，忌生、冷、毒物。</p>
<p><u>大山蕷圓</u>　治諸虛百損，五勞七傷，肢體沉重，骨節痠疼，心中煩悸，唇口乾燥，面體少色，情思不樂，咳嗽喘乏，傷血傷氣，夜多異夢，盜汗失精，白濁，腰背強痛，臍腹弦急，嗜臥少起，善驚多忘，飲食減少，肌肉瘦瘁。又治風虛，頭目眩暈，心神不寧，及病後氣不復常，漸成勞損，久服補不足，愈風氣百病。</p>
<p>葉伯材用此二方累效。</p>
<p>山蕷（七兩半）　當歸　桂心　神麯（炒）　熟地黃　大豆卷（各二兩半）　甘草　人參（一兩七錢）　川芎　芍藥　白朮　麥門冬（去心）　杏仁（麩炒，去皮。各一兩半）　柴胡　白茯苓　桔梗（各一兩一分）　阿膠（麩炒，一兩七錢半）　乾薑（炮，三分）　白蘞（半兩）　防風（去叉，一兩半）　棗（一百個，炊去皮、核）</p>
<p>上為末，蜜丸，與棗肉同和，丸如彈子大。每服一圓，溫酒、米湯任嚼下。加琥珀一兩，遠志去心，炒，二兩，茯苓二兩半，即是養心丹。虛勞遺泄，濁甚，加龍骨二兩。</p>
<p><u>大神圓</u>　治元臟虛憊，血氣不足，白濁遺泄，自汗自利，口苦舌乾，四肢羸瘦，婦人諸虛皆主之。</p>
<p>木香（炮）　附子（炮，去皮、臍）　茴香（炒）　蓯蓉（酒浸）　川椒（炒去汗。各十兩）　桃仁（炒，去皮、尖）　胡蘆巴　牛膝（酒浸）　巴戟（去心）　五味子　黃耆　白蒺藜（炒，去刺）　澤瀉（各五兩）　羌活　檳榔　天麻　川芎　桂心（各二兩）</p>
<p>上為末，蜜丸梧子大，鹽湯、酒、空腹任下三五十丸。</p>
<p><u>草還丹</u>　大治虛勞白濁。</p>
<p>乃翊聖真君降授與張真人方。服之百日，百病除；二百日，精髓滿，視聽倍常，神聰氣爽，瘟疫不侵；服三百日，步驟輕健，鬢須如漆，返老還童。久服延年益壽，耐寒暑，能雙修德行，可登地仙。</p>
<p>補骨脂　熟地黃　遠志　地骨皮　牛膝　石菖蒲</p>
<p>上等分末，酒糊為丸，梧子大。每三五十丸，空心、日午，溫酒、鹽湯下，熟水亦可。</p>
<p><u>摩腰膏</u>　補下元虛敗，白濁。</p>
<p>若摩一丸，腰下如火；至二丸，血脈舒暢；三丸，顏色悅澤；十丸，骨健身輕，氣全精足，骨髓堅充；至百丸，其功就可用五百童女之精，日月滿足，可以昇天，長生不死，不為過當。故知道術難究、難測，孰謂藥力之功能如是耶，蜀士駱仲實進此方，賜號沖虛先生。</p>
<p>母丁香　木香　硃砂　藿香　附子　乾薑　沉香　桂　生硫黃　白礬（枯）　吳茱萸　雄黃　杏仁　陳皮（已上各一兩）　麝香（一分）　輕粉（一分）</p>
<p>上除麝香、輕粉，搗為末，再入二味，研勻，蜜丸小雞子大，每用老生薑汁煎滾，傾在盞中，將一丸浸汁中，良久化破，研之為汁勻。於淨密室中，令人沾藥於腰上摩之，藥盡為度，果肚系之。逡巡，腰上如火療。男子陽道衰，傷敗虛弱，五勞七傷，腰背疼痛，頭白，疝氣下墜，面色萎黃，水臟久冷，耳聾眼暗，及腸風澼疾，但是諸虛之疾，悉能治療。兼治子宮久冷不受胎，頭髮疏薄，赤白帶下，面生𪒟皯，風勞血氣，產後諸疾。摩之即得神效。神仙之法，玄之至玄，千萬寶惜，勿非人傳。</p>
<p><u>既濟丹</u>　調陰陽，正氣血，治一切虛憊，白濁。乃京師氣主丹。何太丞方。</p>
<p>陳皮　青皮（去白，焙。各四兩）　五靈脂（去沙石，四兩）　硝石　硫黃（火上制砂。各二兩）</p>
<p>上為末，糊丸梧桐子大，每空心、米飲下二十丸。</p>
<p><u>神仙打老圓</u>　此藥性溫無毒，上治百病，下至嬰兒，光潤皮膚。此係宣徽收南蠻到鍾南山，路邊見村莊有一村婦人，年方二八，持杖責一老兒，年約百歲。宣徽駐車，令問何故。婦人遂前至車前，覆云：「此老兒是妾長男。」宣徽怪此，下車問其仔細。妾云：「適來責此長男，為家中自有此神藥，累訓令服，不肯服。至令老邁，鬚髮如霜，腰曲頭低，故責之。」宣徽聞之，懇求數服。常服延年益壽，顏貌嬰兒，氣力倍常，齒落再生，發白再黑，補接下元。</p>
<p>生乾地黃　熟乾地黃（各五兩）　川椒（十兩，不去核）　牛膝（五兩，酒浸了為末）　大黑豆（一升，生用）　乾山藥（五兩）　雌雄何首烏（各十兩，雌者白，雄者赤，雄者不碾）　肉蓯蓉（五兩）　枸杞（五兩）　藁本（十兩，洗）</p>
<p>上將雌何首烏為末，用水甑內，旦辰蒸，日入曬，夜間露。如此九蒸、九曬、九露數足，焙焦為末，酒糊丸，梧子大。空心、溫酒、鹽湯下。忌蘿蔔。</p>
<p><u>助壽丹</u>　一名御愛丹，一名四妙丹。</p>
<p>半夏　木豬苓（各二兩，同炒黃色，去半夏）　桑螵蛸（一分，炒）　附子（一兩，炮，切，入荔石草炒，去草）　鹿茸（一兩，去毛）　茴香（半兩，斑蝥十個同炒，去斑蝥）　陽起石（半兩，煅）　山茱萸（半兩）　龍齒（一分，煅）　遠志（去心）</p>
<p>上為末，蜜丸梧子大，吞下任意。</p>
<p><u>秘真丹</u>　治白淫，小便頻數，精氣不固，及有遺瀝，或夢寐陰人通泄。</p>
<p>《素問》云：思想無窮，所願不得，意淫於外，入房大甚，筋絕，發為筋痿，及為白淫，隨溲而下，故為勞弱。張氏秘傳方。</p>
<p>羊脛炭（三兩，火燒通紅窨殺，金銀鋪用者最妙）　硃砂（一兩，熟者）　厚朴（三兩，淨，去皮，用生薑三兩制炒）</p>
<p>上為細末，煮薄麵糊為丸，如桐子大，每服三五十丸，空心，米飲湯送下。</p>
<p><u>金櫻子煎</u>　補腎秘精，小遺泄，去白濁，牢關鍵，神妙。</p>
<p>沈存中雲：金櫻子，當半黃時採。干，末用之，取其性溫而澀。</p>
<p>金櫻子（一升，捶碎，入好酒二升，銀器內熬之。候酒干至一升以下，去滓，再熬成膏）　桑白皮（一分，炒）　雞頭粉（半兩，夏採，日乾）　桑螵蛸（一分，酒炙）　白龍骨（半兩，燒赤為末）　蓮花須（二分）</p>
<p>上為末，入前膏子搜為丸，如梧子大，空心、鹽湯、溫酒下三丸。不就，即為酒麵糊為丸。</p>
<p><u>卓劍丹</u>　乃呂真人方。詩：</p>
<p>一烏二木三茴香，久服令人壽命長。但是食中無所忌，早辰三七用鹽湯。</p>
<p><u>神仙不老圓歌　</u></p>
<p>不老仙方功效殊，駐顏全不費工夫。人參牛膝川巴戟，蜀地當歸杜仲俱。一味地黃生熟用，菟絲柏子石菖蒲。更添枸杞皮兼子，細末蜜丸桐子如。早午臨眠三四服，鹽湯溫酒任君需。忌餐三白並諸血，能使須烏髮亦烏。（各一兩依常事時。）</p>

<h1>卷之五</h1>

<h2>盜汗門</h2>
<p>巢氏虛勞盜汗證候</p>
<p>盜汗者，因眠睡而身體流汗也。此由陽虛所致，久不已，令人羸瘠枯瘦，心氣不足，亡津液故也。或自汗，多因傷風傷暑，及喜怒驚恐，房室虛勞，皆能致之。無問昏醒，浸浸自出者，名曰自汗，或云寢汗。若其飲食、勞役、負重、涉遠、登頓、疾走，因動汗出，非自汗也。人之氣血，猶陰陽之水火，平則寧，偏則病，陰虛陽必湊，故發熱自汗，如水熱自湧；陽虛陰必乘，故發厥自汗，如水溢自流。考其所因，風暑涉外，喜怒驚恐涉內，房室虛勞不內外，理亦甚明。</p>
<p><u>牡蠣散</u>　治諸虛不足，及新病暴虛，津液不固，體常自汗，夜臥即甚，久而不止，羸瘠枯瘦，心忪驚惕，短氣煩倦。</p>
<p>牡蠣（米泔浸，去土，煅，取粉）　麻黃根　黃耆（各一兩）</p>
<p>上為銼散，每服三錢，水一盞半，小麥百餘粒，同煎至八分，去滓，不拘時。又一方為細末，每三錢，水三盞，蔥白三寸，煎一盞半，分三服。</p>
<p><u>麥煎散</u>　治榮衛不調，夜多盜汗，四肢煩疼，飲食進退，肌瘦面黃。</p>
<p>秦艽（二兩）　柴胡（去苗，二兩）　大鱉甲（二兩，醋煮三五十沸，淨，去裙襤，別用醋塗，炙黃）　乾漆（炒，青煙盡）　人參　茯苓　乾葛　川烏（炮，去皮、尖。各一兩）　玄參（三兩）</p>
<p>上為末，每服二錢，先用小麥三七粒煎湯一盞，去麥入藥煎七分，食後溫服，或臨臥服，如久患後亦宜服此，以退其勞倦，調順經絡。</p>
<p><u>大建中湯</u>　治虛熱盜汗，百節痠疼，腰痛，肢體倦怠，日漸羸弱，口苦舌澀，心怔短氣。</p>
<p>《素問》云：腎病傳心，筋脈相引而急，小腹痛熱，出白液。又《左傳》云：以喪志名為蠱病，乃真精不守也。若小便滑數，日夜無度，由脬門不閉，水液不藏。因思慮過多，心氣散溢，服之尤妙。</p>
<p>綿黃耆（炙）　遠志（燈心煮，去心）　當歸（洗）　澤瀉（各三兩）　白芍藥　龍骨　人參（各二兩）　甘草（一兩，炙）</p>
<p>上㕮咀，四錢重，水二大盞，生薑五片，同煎八分，去滓熱服。氣弱加附子二兩，炮用。腰痛筋急，增官桂，去皮，一兩。</p>
<p><u>白朮散</u>　治盜汗。</p>
<p>陳氏云：余為通倅日，得於同官翟且叟，每傳與人，無不作效。</p>
<p>好白朮（四兩，切作小骰子塊，勞作四分）　黃耆（一兩，炒一分）　金釵石斛（一兩，炒一分）　牡蠣（一兩，炒一分）　麥麩（一兩，炒一分）</p>
<p>上去四味，只將白朮四兩，碾為細末，每服二錢，用粟米三百粒煎湯調，空心服。</p>
<p><u>牡蠣湯</u>　治盜汗。</p>
<p>吳內翰《備急方》云：余家有婦人盜汗，服之即愈。後試之累驗。</p>
<p>牡蠣（火煅，為細末）　小麥麩（炒黑焦，為末）</p>
<p>上各貼之，每服牡蠣末一錢，麩末二錢，以熟豬皮去盡脂膜煎湯，臨臥調服。</p>
<p><u>粟米粉</u>　治體虛自汗。</p>
<p>趙從簡通判傳此二方。</p>
<p>牡蠣粉（煅過，研）　麻黃根（為末）　粟米（為粉）</p>
<p>上等分，和勻，生絹袋之，時以撲身。</p>
<p><u>蒸餅法</u>　臨臥時放令少飢，吃宿蒸餅一枚，不可吃湯水，只干吃盡便就枕，不過兩次即止。</p>
<p><u>人參當歸散</u>　治心液為汗，宜服此藥，收斂心經。</p>
<p>富次律云：史丞相家方。渠與王叔東母子皆曾取效。</p>
<p>人參（去蘆，切片）　川當歸（去蘆並細者，片切）</p>
<p>上二味等分，每服秤五錢，先用豬心一枚，破作數片，並心內血煎湯，澄清汁，煎藥服。</p>
<p><u>朮附散</u>　治盜汗不止。</p>
<p>孫盈仲云：紹興壬子冬，予病中親曾服此藥，的有神驗。</p>
<p>附子（炮裂，去皮、臍，切作骰子塊，如小指面大，碎者不用。與小麥同炒，以附子黃色為度，如麥先焦即易之，易三五次不妨）　白朮　白茯苓</p>
<p>上三味等分，碾為細末，米飲調下，食前。</p>
<p><u>茯苓散</u>　治脾虛盜汗。</p>
<p>華宮使傳。</p>
<p>白朮（三兩）　白茯苓（二兩）</p>
<p>上為粗末，每服五錢，水一盞半，生薑三片，棗二枚，煎至八分，去滓，通口服，空心、食前三服。</p>
<p><u>粉汗散</u>　止汗出過多。</p>
<p>明州陳山谷道人傳此四方。</p>
<p>麻黃根（一兩）　龍骨（半兩）　牡蠣（一兩，火煅）　赤石脂（半兩）</p>
<p>上件為細末，以絹袋盛，如撲粉用之。</p>
<p><u>椒目散</u>　治盜汗日久不止。</p>
<p>麻黃根　椒目（各等分）</p>
<p>上件為細末，每服一錢，無灰酒調，乘熱，食後服。</p>
<p><u>黃耆散</u>　治盜汗。</p>
<p>黃耆（洗淨，控干）　浮小麥（淘淨，控干）</p>
<p>上不以多寡，州黃耆如麻豆大，以鹽拌和，炒令香熟，篩揀去鹽。卻以浮麥淘淨，控干。每一服用黃耆、浮麥各五錢，水一盞半，煎至八分，空心、食前，通口服。</p>
<p><u>麻黃散</u>　治虛汗。</p>
<p>麻黃根（半兩）　半夏（一錢）　天花粉（一錢）</p>
<p>上件為細末，臨睡，米醋調敷兩乳上。</p>
<p><u>止汗溫粉　</u></p>
<p>川芎　白芷　藁本</p>
<p>上併為細末，各一分，入米粉三分，綿裹，撲於身上，漸覺其病自愈也。</p>
<p><u>杏子湯</u>　治發熱，惡風自汗，嗜臥身重，小便難，潮熱而噦。</p>
<p>葉伯才《三因方》集此自汗三方。</p>
<p>杏仁（去皮、尖）　半夏（湯去滑）　五味子（各二錢半）　芍藥　桂心　細辛　乾薑（炮）　大黃（蒸）　甘草（炙。各三錢）　茯苓（四錢）</p>
<p>上㕮咀，每服四錢，水一盞半，煎至七分，去滓，食前服。</p>
<p><u>卻暑散</u>　治冒暑伏熱，自汗，頭目眩暈，嘔吐泄利，煩渴，背寒面垢。</p>
<p>赤茯苓　甘草（生。各四兩）　寒食麵　生薑（切，搜面令勻。各一斤）</p>
<p>上為末，每服兩錢，新汲水調下，或湯點服，不以時。</p>
<p><u>防己黃耆湯</u>　治傷風濕寒，脈浮緊細，身重，自汗惡風。並治風水，脈浮，身重不渴。</p>
<p>防己（四兩）　黃耆（五兩）　甘草（炙，二兩）　白朮（三兩）</p>
<p>上為銼散，每服五錢，水盞半，姜五片，棗兩枚，煎七分，去滓，空腹服。喘者加麻黃；胃中不和，加芍藥；氣上衝，加桂；下有陳寒，加細辛。服藥後當如蟲行皮中，從腰以下如水中。坐被上，又以一被繞腰，以溫下，令微汗，瘥。</p>
<p><u>硃砂散</u>　治盜汗。</p>
<p>硃砂（研，水飛）　白芷</p>
<p>上等分為末，和勻，臨臥、酒調下二錢。</p>
<p><u>左顧散</u>　治盜汗。</p>
<p>左顧牡蠣粉（火煅為粗末，入瓶中，泥固濟，候乾，卻以火煅，令紅為度）　麻黃根（炒）　甘草蘆頭（炒）　蛀小麥（炒）</p>
<p>上各等分，為粗末二錢，水一盞，姜七片，煎至七分，去滓服。</p>
<p><u>當歸散</u>　治盜汗。</p>
<p>當歸（半兩）　人參（半兩）　豬心（一個，分四片）</p>
<p>上每用一片，水三盞，煎至一盞半，作三服。</p>
<p><u>防風散</u>　治盜汗。</p>
<p>防風</p>
<p>上為末，用浮麥煎湯服之。每至大屋則凜，須以帳幕遮蔽，用此即安。</p>

<h1>卷之六</h1>

<h2>中暑門</h2>
<p>巢氏論中暑證候</p>
<p>傷暑，乃夏至前後各三十日有奇，少陽相火用事之時也。炎熱大行，鑠石流金，草萎河涸，人或傷之，則身熱惡寒，頭痛狀如傷寒；或往來寒熱如瘧，煩躁渴甚，眩暈嘔吐，背寒面垢，泄瀉，昏悶不清，其脈陰陽俱虛，緩而微弱，皆由傷暑之所致也。</p>
<p><u>冰黃散</u>　治伏熱，煩渴引飲，嘔逆噁心，肢體倦怠。</p>
<p>陳氏云：四明魏丞相家，常施此藥。余每登長途必飲，從者少有中暍，間有悶絕，一服即蘇。</p>
<p>頭面（一斤）　生薑（一十兩，洗淨，和皮切作片子，和麵盫一宿，焙乾）　甘草（四兩四錢）</p>
<p>上為細末，每服二錢，新汲水調下，勝如大順五苓。</p>
<p><u>大黃龍圓</u>　治中暑，身熱頭疼，狀如脾寒，或半寒半熱，或寒熱往來，或煩渴嘔瀉，昏悶不省，或不能飲食。此方曾合治暑甚妙。嘗有中暍已昏欲死者，灌之立蘇。李子英傳。</p>
<p>舶上硫黃　硝石（各一兩）　白礬（半兩）　雄黃（半兩）　滑石（半兩）　白麵（四兩，飛羅者）</p>
<p>上五味研為極細末，入面在內，滴水為圓，如梧桐子大。每服十丸至二三十丸，新汲水下。小兒黍米大。如無硝石，以盆消代之。</p>
<p><u>小瓢圓</u>　治暑毒，解煩渴。中書何舍人希深方。</p>
<p>烏梅肉（四兩）　甘草（二兩）　青鹽（二兩）　乾木瓜（一兩）　檀香（一兩）　白茯苓（一兩）　麝香（二錢半，蜜煉過，隨藥加減使）</p>
<p>上除麝香別研，余併為細末，煉蜜為丸。每兩作三十丸。每服一丸，含化或新汲水溫水嚼下，不計時候。</p>
<p><u>烏金散</u>　治中暑，不拘老少皆可服。</p>
<p>朱子新傳云：吳內翰《備急方》，用皂角五斤，去皮弦，炙焦黑存性，甘草五兩。</p>
<p>皂角（不蚛者）　甘草</p>
<p>上以皂角，不計多少，刮去黑皮，燒煙欲盡，用盆合於地上，周迴用土遮縫，勿令透煙。每一兩皂角灰，用甘草末六錢。每服一錢，新汲水調下。如氣虛人，用溫漿水調下，昏迷不省者，不過兩服。</p>
<p><u>加減小柴胡湯</u>　治伏暑煩躁發渴極妙，若躁悶，煎放水沉，冷服。</p>
<p>柴胡（半斤，去蘆）　黃芩（三兩）　人參（三兩）　甘草（三兩，炒）　半夏（三兩，湯泡）</p>
<p>上㕮咀五錢，水二盞，生薑五大片，棗子一個，加瓜蔞實一個。若渴，去半夏、人參，加瓜蔞、赤茯苓各一兩；腹痛，去黃芩，加赤芍藥三兩；脅下痞鞕，去棗，加牡蠣；心下悸，小便不利，去黃芩，加赤茯苓四兩；若不渴，外有微熱，去人參，加桂三兩，取汗愈；若嗽，加五味子三兩，乾薑二兩。</p>
<p><u>枇杷葉湯</u>　治伏暑暴瀉，兼去暑毒。</p>
<p>趙從簡親服此方立效。</p>
<p>枇杷葉（去毛，三錢）　罌粟殼（去瓤、蒂，三錢）　生薑（三錢，濕秤）</p>
<p>上三味細銼，用水二大盞，蜜一合，酒半合，粟米百餘粒，同煎至一盞以下，溫服。一服即愈。</p>
<p><u>十味香薷飲</u>　治脾胃不和，乘冒暑氣，心腹膨悶，飲食無味，嘔噦噁心，五心潮熱，力乏體倦，並宜服之。常服消暑健脾，進飲食。</p>
<p>傅公實方。</p>
<p>香薷葉（一兩）　人參（去蘆）　白朮　白茯苓　陳皮（溫湯浸少時，去白）　黃耆（去蘆）　厚朴（去粗皮，銼碎，生薑自然汁拌和，炒至黑色）　乾木瓜　白扁豆（炒，去殼）　甘草（炙，半兩）</p>
<p>上為粗末，每服三錢，水一盞，棗一枚，同煎至七分，去滓，不拘時候服。</p>
<p><u>冷香湯</u>　治夏秋暑濕，恣食生冷，遂成霍亂，陰陽相干，臍腹刺痛，脅肋脹滿，煩躁，引飲無度。</p>
<p>王元禮傳。</p>
<p>附子（二兩，炮裂，去皮、臍）　良薑（二兩）　檀香（二兩）　丁香（二錢）　川薑（三分，炮）　甘草（二兩，炒令赤）　草豆蔻（五個，去皮，麵裹煨）</p>
<p>上為細末，每用藥末五錢，水二升，煎十數沸。貯瓶內，沉井底作熟水服，大能消暑止渴，服之永無霍亂。</p>
<p><u>大蒜水</u>　治暑暍逡巡，悶絕不救者。</p>
<p>《石林避暑錄》云：親治一御馬之僕，立蘇。且云沈存中嘗著其說。</p>
<p>道上熱土　大蒜</p>
<p>上略等多少，爛研，冷水和，去滓腳，飲之即瘥。此方在徐州沛縣城門上板書揭之，不知何人所施之。</p>
<p><u>地榆散</u>　治中暑昏迷，不省人事欲死者。並治血痢。</p>
<p>華宮使傳此方，妙不可言。</p>
<p>地榆　赤芍藥　黃連（去須）　青皮（去白）</p>
<p>上等分，為細末，每服三錢，漿水調下。如無，只以新汲水調亦得。血痢，水一盞，煎七分，去滓，溫服。</p>
<p><u>五苓散</u>　治傷暑煩躁，引飲發黃，渴欲飲水，水入口即吐，名曰水逆。若吐出涎沫，頭痛煩躁，五苓散內增吳茱萸、人參。</p>
<p>木豬苓（去黑皮）　澤瀉（銼成塊，再蒸）　赤茯苓（去黑皮、筋膜）　白朮（用有蘆者。各一兩半）　肉桂（去皮，半兩）</p>
<p>上為㕮咀三錢，水一大盞半，燈心五莖，同煎八分，去滓，熱服。發黃，加茵陳同煎；小便不利，加去心麥門冬；煩躁，睡臥不安，加硃砂；躁渴，熱極如狂，加大黃。</p>
<p><u>橘皮湯</u>　治中暑痰逆惡寒。</p>
<p>陳皮（去白，二兩）　甘草（炙，半兩）　人參（半兩）</p>
<p>上㕮咀，每服五錢，水二盞，刮竹茹一塊，如彈子大，生薑五片，棗子一個，同煎八分，去滓，熱服。如不惡寒，只服竹葉湯。</p>
<p><u>香薷圓</u>　治大人、小兒傷暑伏熱，躁渴瞀悶，頭目昏眩，胸膈煩滿，嘔噦噁心，口苦舌乾，肢體困倦，不思飲食。或發霍亂，吐利轉筋，並宜服之。</p>
<p>廬州知錄周汝功中暑，暈悶煩渴，服此方立效。</p>
<p>乾木瓜　紫蘇（去粗梗，莖、葉並用）　香薷（去土。已上各一兩）　藿香葉（去土）　甘草（炙，銼）　檀香（銼）　白茯神（去木）　丁香（已上各半兩）</p>
<p>上為細末，煉蜜和圓，每一兩作三十圓，每服一圓至二圓，細嚼，溫湯下，或新汲水化下亦得。小兒服半圓，不計時候。</p>
<p><u>枇杷葉散</u>　治冒暑伏熱，引飲過多，脾胃傷冷，飲食不化，胸膈痞悶，嘔噦噁心，頭目昏眩，口乾煩渴，肢體困倦，全不思食。或陰陽不和，致成霍亂，吐利轉筋，煩躁引飲。</p>
<p>劉駐泊汝翼親用此方，無不效驗。</p>
<p>香薷（三分）　厚朴（去粗皮，薑汁炙，四兩）　甘草（炙，一兩）　麥門冬（湯浸，去心，焙乾）　乾木瓜　白茅根（已上各一兩）　枇杷葉（去毛，令盡淨，炙）　陳橘皮（湯浸，去瓤）　丁香（已上各半兩）</p>
<p>上件藥搗，羅為末，每服二錢，水一盞，入生薑二片，煎至七分，去滓，溫服，溫水調下亦得。如煩躁，用新汲水調下，不計時候。小兒三歲以下，可服半錢，更量大小加減。</p>
<p><u>穀神散</u>　治夏月暴瀉。趙從簡方。</p>
<p>楮實（青者蒸，一次曬乾，用一斤）　陳倉米（一升）　乾薑　甘草（一兩，炙）</p>
<p>上為末，飯飲調下。</p>
<p><u>大順散</u>　治冒暑伏熱，引飲過多，脾胃受濕，水穀不分，清濁相干，陰陽氣逆，霍亂嘔吐，臟腑不調。</p>
<p>劉子壽上舍伏暑泄瀉，水穀不分，服此甚驗。</p>
<p>甘草（銼，長一寸許，三十斤）　乾薑　杏仁（去皮、尖）　肉桂（去粗皮。已上各四斤）</p>
<p>上先將草用白砂炒，及八分黃熟。次入乾薑同炒，令姜裂。次入杏仁又同炒，候杏仁不作聲為度。用篩隔淨後，入桂一處搗，羅為散。每服二錢，水一中盞，煎至七分，去滓，溫服。如煩躁，新汲水調，不計時候。以沸湯點服亦得。</p>
<p><u>異功敵暑圓</u>　專治暑毒如水瀉，米飲下即愈。</p>
<p>趙教授得之泉州沈醫方，用之甚效。</p>
<p>黃連（一斤，去須，洗淨）　倉陳米（二升，淘去糠秕）</p>
<p>上拌勻用，鍋內如罨飯相似，飯熟水乾為度。曬乾，碾為細末，以水丸，如梧桐子大。每服三五十丸，冷水下。</p>

<h1>卷之七</h1>

<h2>瘴瘧門</h2>
<p>治瘧總論證治</p>
<p>夫瘧之為病，其名雖同，其狀不一。蓋其受之有所不同，其治之不得不異。先寒而後熱者，名之為寒瘧；先熱而後寒者，名之為溫瘧；其次有五臟瘧，心、肝、脾、肺、腎；又有五種瘧，風、寒、暑、濕、氣；有勞瘧、瘴瘧、癉瘧、牝瘧、疫瘧、鬼瘧。其狀不一，當隨證而治之。</p>
<p><u>吳茱萸散</u>　治寒瘧，臨發時先寒戰動，相次發熱，便頭痛不可勝忍，熱極即汗出，煩渴，相次便醒，宜服此方。須是先寒後熱，方可服此藥。</p>
<p>楊子建一宗六方，用之累驗。</p>
<p>吳茱萸（一兩）　甘草　半夏　乾薑　川芎　細辛　麻黃　高良薑　藁本　官桂（生使。已上各一分）　羌活　牽牛（炒熟。各半兩）</p>
<p>上件細搗，羅為末。每服三錢，以水一盞，煎取九分。臨發寒時，和滓、空心、熱吃。若寒了以熱，更不請吃，須只用初發寒時服也。寒未定，更進一盞，吃藥後不請臥，須臾病減八分也（若是太歲遇六壬，己亥之年常瘧未發，常吃暖脾藥。）</p>
<p><u>麻黃羌活散</u>　治溫瘧初發，渾身大發熱，頭痛不可勝忍，臨醒時即寒慄戰動，逡巡便醒，宜服此方。須是先熱後寒，方可吃此藥。</p>
<p>麻黃（去根）　羌活　牡丹皮（去心）　獨活　山梔　柴胡（去毛）　桔梗　升麻　荊芥穗　大黃　知母　黃芩（各一分）　半夏（四銖）　牽牛（半兩）</p>
<p>上件細搗，羅為末。每服三錢，水一盞，生薑二片，同煎，取九分。臨發壯熱時和滓吃。須是用初發熱時服，仍是食後吃也。發了以寒，即更不要吃，待第二發熱時吃也。</p>
<p><u>蒼朮鱉甲散</u>　治脾瘧，寒熱不定，非時發作，肌肉黃瘦，吃食減少，大腑不調，心中常如戰慄，頻頻腹痛，宜服此方。</p>
<p>吳茱萸　蒼朮　鱉甲（醋炙）　防風　人參　川芎　藿香　柴胡（去毛）　肉豆蔻（各一分）　甘草（四銖）</p>
<p>上細搗，羅為末。每服二錢，水一盞，生薑一片，同煎取八分，空心、去滓服。</p>
<p><u>半夏湯</u>　治痰瘧，發作有時，熱多寒少，頭痛不可勝忍，額角並胸前肌肉跳起，食才入口，即便吐出，面色帶赤，宜服此方。</p>
<p>半夏　藿香　羌活　川芎（各一分）　牽牛（半兩）</p>
<p>上細搗，羅為末。每服二錢半，食後、熟湯調下，和滓吃。以吐涎為度，未吐，更進一服。</p>
<p><u>山茵陳湯</u>　治癉瘧，發作有時，熱多寒少，忽熱而不寒，頭痛不安，身上肌肉，忽然通身俱黑，大腑秘熱，小便黃赤，宜服此方。</p>
<p>山茵陳　山梔　柴胡（去毛）　黃芩　桔梗　升麻　牡丹皮（去心）　貝母（去心）　荊芥穗　杏仁　半夏　羌活　獨活　麻黃（各一分）　細辛（三銖）</p>
<p>上件搗，羅為末。每服三錢，水一盞，生薑二片，煎一沸急瀉出。臨發熱頭痛時，和滓熱服。仍須是食後吃也。但此瘧須熱多寒少，並初發時先壯熱，然後吃此方。</p>
<p><u>鱉甲麝香散</u>　治勞瘧，乍寒乍熱，毛髮枯焦，寒熱不定，吃食減少，肌肉消瘦，面色青黑，兩足無力，忽非時足冷，小便頻數，大腑不調，夜夢泄精，宜服此方。若大腑秘，骨潮熱，不請吃。</p>
<p>鱉甲（醋炙黃）　天靈蓋（酥炙香，黑色）　續斷　菟絲子　牛膝　黃耆（已上各半兩）　茯苓　川芎　山茱萸（各一分）　獨活　柴胡（去毛）　藿香　羌活（各三銖）　乾地黃　黃橘皮（各四銖）　麝香（二銖，別研細，方入諸藥末，令勻）</p>
<p>上為細末，每服三錢，水一盞二分，入鹽少許同煎。取一盞，空心、和滓吃。煉蜜丸如梧桐子大，空心、鹽湯下四十丸。</p>
<p><u>菩薩丹</u>　治諸瘧，亦名五方丹。</p>
<p>陳氏云：余昨經豫章，俞子清為漕，語及此方，求得十粒，沿路中病者用之，立效。後作書覓方，遂制一料。一年之間，良賤用之皆愈。仍施他人。</p>
<p>巴豆（不去皮）　桂心（別為細末）　青黛　硫黃　白礬</p>
<p>上件各等分，下三味同研如粉。於五月五日合藥，入沐浴、淨衣齋戒，念「救苦救難觀世音菩薩」一千遍。至午時，入淨室內，面南，將巴豆入乳缽內，先研如泥，後入下四味，同研半時辰久，圓如桐子大。勿令雞犬、孝子、婦人見。入在淨器內，於神佛前安頓供養。凡有患者，於發日前，令男子取一圓，以新綿裹合，炭上烘令熱，與男子，乘熱塞在病人耳竅中，男左女右。若女人病，亦令男子取藥塞耳。候不發日，亦令男子取出，卻收入合子內，遇有患者再用。可醫三五人。輕者便瘥，重者須臾重發一次，即愈。須不發一兩日，方取出藥，其驗如神。若病者用藥日，齋戒至誠，念「救苦救難觀世音菩薩」五百聲，其效尤靈驗，故名菩薩丹。如藥大幹，難丸，須用端午日粽子爛研，相和勻圓之，勿大濕。</p>
<p><u>瘴瘧飲子　</u></p>
<p>辛御史謫廣西，傳此方。</p>
<p>常山　甘草（各四兩）　大青（一錢或半錢）　人參（三錢）</p>
<p>上㕮咀，水一碗二錢，煎至中碗。未發，隔夜露早月一宵。臨發日早晨，空心、溫服。不吐，三滓並煎一服。</p>
<p><u>七寶散</u>　治一切瘧疾及不服水土，山嵐瘴氣，寒熱如瘧。</p>
<p>張承節處此四方，累用有效。</p>
<p>常山（水煮）　青皮（不去白）　檳榔　草果子仁　甘草（炙）　厚朴（去皮，湯泡薑製）　烏梅連核（已上各半兩）</p>
<p>上㕮咀，每服半兩重，水一碗，酒一盞，煎至一盞，去滓。露一宿，來早再溫，面東服。隔夜煎下，發日早服。</p>
<p><u>四聖散</u>　治諸般瘧疾。</p>
<p>山梔子仁　常山　川升麻　鱉甲（去裙，用好醋煮）</p>
<p>上等分㕮咀，每服三錢重，水一盞半，烏梅肉二個，同煎七分，去滓，熱服，不計時候。</p>
<p><u>斷瘧丹</u>　治瘧疾，不問逐日、間日發，不過兩日而愈。</p>
<p>雄黑豆（四十九粒，取末）　信砒（研極細，一錢）　黃丹（一錢，為衣）　蜘蛛（三個，研）</p>
<p>上和勻，滴水為圓，如豌豆大，臨發日早，用桃柳頭入井花水，面北送下一圓，醋湯放溫服亦得。忌食熱物一日。</p>
<p><u>冷附湯</u>　治瘧疾，痰實，痞塞不通。</p>
<p>附子一隻（重九錢、一兩，炮，去皮、臍）</p>
<p>上切作片，分二服，生薑十大片，水二大盞，煎至一盞。隔夜煎下，用綿蒙盞，露一宿。至五更初取，冷服。凡患瘧疾無過是痰實，痞塞不通，脾胃弱，虛熱在上，停於胸膈，不得入於臟腑。所以五更冷服，乃使藥下達，壯脾胃，去痰實，除虛熱，降心氣，屢用屢效。</p>
<p><u>半夏草果飲</u>　治瘧大效。</p>
<p>朱子新方，曾合累效。</p>
<p>半夏（十枚，湯洗七遍）　大棗（十枚）　甘草（三寸，炙）　青皮（五枚，湯浸過，連白用）　陳皮（四個，湯浸，連白用）　烏梅（十個，捶碎）　草果（五個，大者去皮）　生薑（三大塊，連皮）　厚朴（三寸，去粗皮，薑汁製）</p>
<p>上九味為粗末，以水三大碗，煎一碗半，去滓。當發日，五更初服一盞，五點又服一盞，平明又服一盞，此至飯前要分服，令盡。再將滓，以水碗半，煎七分，慢慢呷吃，神妙。</p>
<p><u>白虎加桂湯</u>　治溫瘧，先熱後寒，惡風多汗。</p>
<p>葉伯才集此數方，治諸瘧疾無不效驗。</p>
<p>石膏（四兩半）　知母（一兩半）　桂心（一兩）　粳米（一合）</p>
<p>上銼散，每服四錢，水盞半，煎七分，去滓，未發前三服。</p>
<p><u>麻黃白朮湯</u>　治傷風寒暑濕，不留經絡，與衛氣相併，病以日作，寒熱交煎。</p>
<p>麻黃（去節，湯浸）　白朮　茯苓　桂心（各一兩）　陳皮　青皮　桔梗　白芷　甘草　半夏曲　紫蘇　烏梅（各三分）　乾薑（半兩）</p>
<p>上為銼散，每服四錢重，水兩盞，姜三片，棗兩枚，煎七分，去滓。當發日，空心一服，臨發一服尤妙。亦治時疫。</p>
<p><u>桂薑湯</u>　治牝瘧，寒多微熱，或但寒不熱。</p>
<p>柴胡（八兩）　桂心（三兩）　黃芩（三兩）　牡蠣（煅）　甘草　乾薑（炮。各三兩）　瓜樓根（四兩）</p>
<p>上為銼散，每服四錢，水二盞，煎七分，去滓，空心服。日三服，初服微煩，汗出愈。一法有半夏三兩。</p>
<p><u>七棗湯</u>　治五臟氣虛，陰陽相勝，作為痎瘧。不問寒熱先後與大小獨作、疊間日，悉主之。</p>
<p>附子（一枚，炮製，以鹽水浸，再炮，如此凡七次，至第七次不浸，去皮、臍）</p>
<p>上為銼散，水一碗，姜七片，棗七個，煎至八分盞。當發日，空心溫服，仍吃三五個棗子，忌如常。良方用烏頭煎，不用鹽水浸，不特服之。僭燥亦不能分利陰陽。去滓服。</p>
<p><u>四獸飲</u>　治五臟氣虛，喜怒不節，勞逸兼併，致陰陽相勝，結聚涎飲，與衛氣相搏，發為瘧疾，悉主之。兼治瘴瘧最效。</p>
<p>半夏（湯去滑）　茯苓　人參　草果　陳皮　甘草　烏梅肉　白朮　生薑　棗子（各等分）</p>
<p>上為銼散，鹽少許淹食頃，厚皮紙裹，水淹入，慢火煨香熟，焙乾。每服秤半兩，水二盞，煎至七分，去滓水。發前並進三服。</p>
<p><u>草果飲</u>　治脾寒等瘧。</p>
<p>草果　川芎　白芷　紫蘇葉　良薑　甘草（炙）　青皮（去白，炒。各等分）</p>
<p>上為粗末，每服二大錢，水一盞，煎七分，去滓，熱服。當發日連進三服。</p>
<p><u>經效瘧丹</u>　治鬼瘧殊效。</p>
<p>真阿魏（半兩）　桃枝　柳枝（各長一尺七莖）　雄黃（通明好者，半兩，別研）　辰砂（一錢，別研，留一半）</p>
<p>上為末，以重午日五家粽角為丸，如梧子大，辰砂所留一半為衣。遇發時用淨器水摩一丸，塗鼻尖並人中，等退，以冷水服一丸，合時須五月五日。</p>
<p><u>大正氣散</u>　治山嵐瘴氣，發作寒熱，遂成瘧疾。</p>
<p>附子（炮，去皮、臍）　厚朴（薑汁製）　桂心　甘草（炙）　乾薑（炮）　陳皮（各一兩）　茱萸（半兩，微炒）</p>
<p>上為細末，每服二大錢，水盞半，姜五片，棗一枚，同煎至七分。熱服，不拘時。兼治霍亂吐瀉，一切氣疾。</p>
<p><u>紅圓子</u>　治食瘧尤妙。</p>
<p>蓬莪朮　荊三稜（醋煮一伏時。各二兩）　胡椒（一兩）　青皮（三兩，炒香）　阿魏（一分，醋化）</p>
<p>上為末，別研倉米末，用阿魏醋煮米糊，搜和，丸如梧子大，炒上朱為衣。每服五十丸至百丸，以老瘧飲下。古方雖有鱉甲煎等，不特服不見效，抑亦藥料難備。</p>
<p><u>老瘧飲</u>　治久瘧，結成癥瘕，癖在腹脅，諸藥不去者。</p>
<p>蒼朮（泔浸）　草果（去皮）　桔梗　青皮　陳皮　良薑（各半兩）　白芷　茯苓　半夏（湯洗去滑）　枳殼（麩炒，去瓤）　甘草（炙）　桂心　乾薑（炮。各三錢）　紫蘇葉　川芎（各二錢）</p>
<p>上為銼散，每服四大錢，水二盞，鹽少許，煎七分，去滓，空心服。日三夜一，仍吞下紅圓子。</p>
<p><u>常山飲</u>　治勞瘧，虛人、老人皆可服。</p>
<p>常山　穿山甲（醋炙）　木通　秦艽（各一分）　辰砂（半字，別研）　甘草（炙，半兩）</p>
<p>上為銼散，作一劑，水三盞，烏梅、棗子各七枚，煎半盞，再入酒一盞，煎至八分，去滓，入辰砂，溫服。</p>
<p>治諸般瘧疾，局方藿香正氣散，加草果子去皮，捶碎，同煎服。</p>
<p>有人患瘧疾，幾三年連綿不斷，黃瘦，飲食減少，雖有時歇三兩日，每勞力或吃少物相犯，寒熱立至。令服局方丁香煮散，數日其病不作。</p>
<p>治寒熱因傷脾胃，久積成痰，若痰不去，何由得斷。若壯實者，倍加常山煎局方常山飲。隔夜煎，露一宿，臨發，早溫服，一吐而安。氣弱不可服。</p>
<p>治先寒後熱，熱退汗出，飲食減少，局方橘皮半夏湯和治中湯加草果仁、生薑同煎服。</p>
<p>有人患瘧疾，每日時刻不差，略略寒發則極熱，飲水。令服局方小柴胡湯加枳實、大黃，煎一服而痊。蓋是伏暑而得，若寒多不可服。</p>
<p>患瘧疾連綿不斷，每發則極寒極熱，瘧退汗如雨，令服局方巳寒圓，用生薑、枳實煎湯送下，一服不作。</p>

<h1>卷之八</h1>

<h2>霍亂門</h2>
<p>論治霍亂證候</p>
<p>夫霍亂之病，為卒病之最者。以人起居無它，揮霍之間，便至變亂，悶絕不救，甚為可畏，臨深履危，不足以諭。有生之流，不可不達其旨趣。霍亂者，心腹卒痛，嘔吐下利，憎寒發熱，頭痛眩暈。先心痛則先吐，先腹痛則先下，心腹俱痛，吐利並作，甚則轉筋，入腹則斃。霍亂惡證，無越於斯。此蓋陰陽反戾，清濁相干，陽氣暴升，陰氣頓墜，陰陽痞隔，上下奔逸，遂成霍亂之疾。</p>
<p>論乾霍亂證候</p>
<p>夫人忽然心腹煩滿，短氣，不吐不瀉，此名為乾霍亂腹痛，死人如反掌間。此證蓋由風冷搏於腸胃，腸胃先實，故不吐利。治法急以通利、和氣為佳。</p>
<p><u>三宛湯</u>　治乾霍亂，不吐不瀉，腹脹如鼓，築刺心痛。柳宗元方。</p>
<p>鹽（二兩）　生薑（一兩，切）</p>
<p>上件藥，炒令轉色，以童子小便一大盞，煎至六分，去滓，分為二服，溫溫服之。</p>
<p><u>理中湯</u>　治霍亂，吐下，脹滿，食不消，心腹痛。</p>
<p>葉伯材處此數方，累用有效。</p>
<p>人參　乾薑（炮）　白朮　甘草（炙。各三兩）</p>
<p>上為銼散，每服四大錢，水一盞，煎七分，去滓，食前。遠行防霍亂。煉蜜為丸，如梧子大，每服三五十丸。如作散，每服方寸匕，酒調下亦得。</p>
<p>若轉筋者，加石膏，煅，三兩；若臍上築者，腎氣動也，去朮，加桂心四兩，腎惡燥，故去朮，恐作奔豚，故加桂；吐多者，去朮，加生薑三兩；下多者，復用術；悸者，加茯苓二兩；渴欲得水，加朮，合前成四兩半；腹中痛，加人參，合前成四兩半；若寒者，加乾薑，合前成四兩半；腹滿者，去朮，加附子。服藥後食頃，食熱粥一杯，微自溫覆，勿發揭衣被。</p>
<p><u>七氣湯</u>　治喜、怒、憂、思、悲、恐、驚七氣鬱發，致五臟互相刑剋，陰陽反戾，揮霍變亂，吐利交作，寒熱眩暈，痞滿咽塞。</p>
<p>半夏（湯洗，五兩）　厚朴（薑製）　桂心（各三兩）　茯苓　白芍藥（各四兩）　人參（一兩）　紫蘇葉　橘皮（各二兩）</p>
<p>上為銼散，每服四錢，水盞半，姜七片，棗一個，煎七分，去滓，空腹服。</p>
<p><u>胃氣圓</u>　治憂思過度，脾肺氣閉，聚結涎飲，留滯腸胃。氣鬱於陰，凝寒於陽，陰陽反戾，吐利交作，四肢厥冷，頭目眩暈，或復發熱。兼治老人胃寒，大便反秘，妊娠惡阻，全不納食。</p>
<p>硫黃（不拘多少，豬臟內縛兩頭，以米泔、酒、童子小便各一碗，煮乾，一半取出，洗斷穢氣，控干，秤十兩）　半夏（湯洗去滑，秤五兩）　白茯苓（一兩）　人參（一兩）　石膏（一分，煅，一法同硫黃煮）</p>
<p>上為末，生薑自然汁釋炊餅糊為丸，如梧子大。每服五十丸至百丸，空腹、米湯入少生薑汁下。</p>
<p><u>真珠散</u>　治喜怒不常，憂思兼併，致臟氣鬱結，留積涎飲，胸腹滿悶，或復㽲痛，憎寒發熱，吐利俱作。</p>
<p>附子（二個，一生一炮各用，去皮、臍）　滑石（半兩）　半夏（湯二十一次，洗去滑，一兩半）　辰砂（三錢，別研）　成煉鍾乳（半兩）</p>
<p>上為末，每服二錢，水二盞，姜七片，藿香兩三葉，蜜半匙，煎七分，食前冷服。小便不利，加木通、燈心、茅根煎。</p>
<p><u>紅圓子</u>　治脾胃虛冷，飲食不節，宿食留飲，聚癖腸胃。或因氣不調，沖冒寒濕，忽作霍亂，吐利並作，心腹絞痛，腸胃纏刺，疲苶不勝。</p>
<p>蓬莪朮（銼）　三稜（銼。各二兩，同以米醋煮一伏時）　胡椒（一兩）　青皮（三兩，炒）　阿魏（一分）</p>
<p>上為末，醋化阿魏，入陳米粉為糊，丸如梧子大，礬、朱為衣。每服一百丸至二百丸，煎生薑甘草湯下。</p>
<p><u>胡椒湯</u>　治霍亂吐利極妙。</p>
<p>胡椒（七粒）　荳豆（三七粒）</p>
<p>上為末，煎木瓜湯調下。</p>
<p><u>水浸丹</u>　治伏暑傷冷，冷熱不調，霍亂吐利，口乾煩渴。</p>
<p>黃丹（一兩一分，炒）　巴豆（二十五個，去皮）</p>
<p>上同研勻，用黃蠟熔作汁，和為圓，如梧子大。每服五圓，以水浸少頃，別以新汲水吞下，不以時候。</p>
<p><u>如神湯</u>　治霍亂吐。</p>
<p>厚朴（二兩，去粗皮，生薑汁炙黃）　高良薑（一兩）　甘草（半兩，炙）</p>
<p>上為末，以新汲水調下二錢，素有冷氣者，用溫酒下。</p>
<p><u>香樸散</u>　治霍亂吐逆及利，並腳轉筋。</p>
<p>厚朴（薑汁炙）　陳皮　人參　白朮　乾木瓜（各一兩）　乾薑（炮）　甘草（炙。各半兩）</p>
<p>上為末，每服三錢，水一中盞，以生薑半分煎，去滓服，不以時候。</p>
<p><u>姜附湯</u>　治中脘虛寒，久積痰水，心腹冷痛，霍亂轉筋，四肢厥逆。</p>
<p>王德膚治霍亂，簡要數方，大有神效。</p>
<p>乾薑（二兩）　熟附（二兩）</p>
<p>上㕮咀，每服四錢，水一盞半，煎七分，去滓服。或慮此藥太燥，即以附子理中湯相繼服。</p>
<p><u>縮脾飲</u>　止吐利霍亂之後，服熱藥太多，煩躁者尤宜服。</p>
<p>草果　烏梅　甘草　縮砂（各四兩）　乾葛（二兩）</p>
<p>上㕮咀，每服五錢，水一碗，生薑十片，煎至八分，侵以熟水浸冷，極冷旋服之。</p>
<p><u>平胃散</u>　治霍亂及五噎八痞，膈氣反胃，並宜服之。</p>
<p>厚朴（五兩）　蒼朮（八兩）　橘紅（五兩）　甘草（三兩）</p>
<p>上㕮咀，每服四錢，水一盞半，姜五片，棗一個，煎至六分，去滓，食前服。</p>
<p><u>養正丹</u>　治霍亂轉筋，咳逆不定。</p>
<p>出寶林真人谷伯陽方，一名交泰丹。</p>
<p>硫黃（研細）　黑錫（去滓，淨秤，與水銀結砂子）　水銀　硃砂（細研。已上各一兩）</p>
<p>上用黑盞一隻，火上熔黑鉛成汁，次入水銀，以柳杖子攪勻。次下硃砂，攪令不見星子。放下少時，方入硫黃末，急攪成汁，和勻。如有焰，以醋灑之。候冷取出，研如粉極細，用糯米粉煮糊為丸，如綠豆大。每服二十粒，加至三十粒，鹽湯下。此藥升降陰陽，既濟心腎。空心、食前，棗湯送下。神效不可具述。</p>
<p><u>四逆湯</u>　治霍亂吐瀉，手足厥冷，或咳或悸，內寒外熱，下利清穀，四肢沉重。</p>
<p>甘草（一兩）　乾薑（三分）　熟附（三分）</p>
<p>上㕮咀，每服四錢，水一盞半，煎六分，去滓，溫服。</p>
<p><u>感應圓</u>　治霍亂吐瀉，大便頻並，後重遲澀，虛中積冷，氣弱有傷，停積胃脘，不能傳化。或因氣傷冷，因飢飽食，飲酒過多，心下堅滿，兩脅脹痛，心腹大疼。</p>
<p>高殿前家方。</p>
<p>新揀丁香（一兩半）　南木香（去蘆頭，秤一兩半）　肉豆蔻（去粗皮，用滑仁子二十個）　巴豆（七十個，去皮、心、膜，研細，出盡油如粉）　百草霜（用村莊家鍋底上刮，細研二兩）　川乾薑（炮裂，秤一兩）　杏仁（揀肥者，去雙仁者，一百上十個，去尖，湯浸一宿，去皮，別研極爛如膏）　</p>
<p>上七味除巴豆粉、百草霜、杏仁三味外，餘四味搗為細末，與前三味同拌，研令細，用好蠟匱和，先將蠟六兩熔化作汁，以重綿濾去滓，更以好酒一升，於銀石器內煮，蠟熔滾數沸，傾出。候酒冷，其蠟自浮於上，取蠟秤，用圓。春夏修合，用清油一兩，於銚內熬，令末散香熟。次下酒煮蠟四兩，同化作汁，就鍋內乘熱拌和前項藥末。秋冬修合，清油一兩半，同煎煮熱作汁，和匱藥末成劑，分作小鋌子，以油單子裹之，旋圓服餌。</p>

<h1>卷之九</h1>

<h2>痰飲門</h2>
<p>論痰飲證候</p>
<p>人之有痰飲病者，由榮衛不清，氣血敗濁，凝結而成也。內則七情汩亂，臟氣不行，鬱而生涎，涎結為飲。四飲者即懸飲、溢飲、支飲、痰飲是也。懸飲者，飲水流在脅下，咳唾引痛；溢飲者，飲水流於四肢，當汗出而不汗，身體疼重；支飲者，咳逆倚息，短氣不得臥，其形如腫；痰飲者，其人素盛今瘦，腸間漉漉有聲。又有留飲者，背寒如手大，或短氣而渴，四肢歷節疼，脅下痛引缺盆，咳嗽則轉甚。又有伏飲者，膈滿，喘咳，嘔吐，發則寒熱，腰背痛，目淚出，其人振振惡寒，身瞤惕。故曰：四飲生六證。或云五飲者，即留飲、伏飲合為一證是也。</p>
<p><u>丁香五套圓</u>　夫胃氣虛弱，三焦痞澀，不能宣行水穀，故為痰飲。結聚胸臆之間，令人頭目昏眩，胸膈脹滿，咳嗽氣急，嘔逆腹疼。伏於中脘，亦令臂疼不舉，腰腿沉重，久而不散，流入於脾。脾惡濕，得水則脹，脹則不能消化水穀。又令腹中虛滿，而不食也。此藥主之。</p>
<p>傅公實方，其子宣贊安民傳。</p>
<p>半夏（一兩，切破）　天南星（一兩，每個切作十數塊，二味先用水浸三日，每日易水，次用白礬三兩研碎，調入水內，再浸三日，洗淨焙乾）　乾薑（炮，一兩）　良薑（一兩）　白朮（一兩）　茯苓（一兩）　木香（半兩）　丁香（半兩，不見火）　青皮（去白）　陳皮（去白，各半兩）</p>
<p>上十味為細末，用神麯一兩，大麥糵二兩，同碾取末，打糊和藥為圓，如梧桐子大。每服三十丸至五十丸，溫熟水送下，不拘時候。常服溫脾胃，去宿冷，消留滯，化飲食，闢霧露風冷、山嵐瘴癘，不正非時之氣。但是酒癖停飲，痰水不消，累服湯藥不作效者，服之如神。</p>
<p><u>千金圓</u>　治中寒停飲不散，痰實不入食。主嗣康方。</p>
<p>硫黃（二兩，通明者，別研如粉）　青皮（四兩，去白）　白茯苓（二兩）　半夏（一兩，湯洗，去臍）　乾山藥（二兩）　附子（一兩，去皮、臍，生用）</p>
<p>上為細末，拌勻，湯浸炊餅圓，或用淡麵糊圓，如梧桐子大。每服三十丸至五十丸，空心、食前服。</p>
<p><u>枳殼半夏散</u>　治遠年痰飲，發作有時，諸藥未效者。</p>
<p>半夏（湯洗七遍）　枳殼（麩炒黃）　縮砂仁　陳皮（去白）　白茯苓（各半兩）　丁香（二錢半）　木香（二錢半）</p>
<p>上件七味，併為粗末，每服四大錢，水一盞半，煎八分。食前熱服，可斷根本。</p>
<p><u>三奇散</u>　治一切嗽，不問新舊，喘頓不止，晝夜無時。</p>
<p>陳氏云：予家一獲，久苦此疾，數令醫治，如水投石，偶在曲江置得沅州一婢，親制此藥，兩服而愈。</p>
<p>款冬花（二百文）　熟乾地黃（二兩）　佛耳草（五十文）</p>
<p>上焙乾，碾為粗末，每次二大錢裝，猛火於香爐中燒之。用紙作筒子，一頭大一頭小，如粽子然，安在爐上，以口吸，煙盡為度，即以茶清嚥下，有涎出任之。</p>
<p><u>三妙湯</u>　治痰嗽。</p>
<p>武昌趙都統傳，其家屢服得效。</p>
<p>大罌粟殼（四枚）　烏梅（二枚）　北棗（二枚）</p>
<p>上於銀石器中，用水兩大盞，煎一半，候熟，入少餳。臨睡隨意熱溫冷飲，略仰臥，少定嗽止。</p>
<p><u>快活圓</u>　常服消食化痰，養生之家不可闕。</p>
<p>韓倅子髦傳此方，甚驗。</p>
<p>枳殼（一兩半，炒）　桔梗（二兩）　半夏（二兩，湯洗七遍）　桂（一兩）</p>
<p>上為末，薑汁糊丸桐子大，每服二十丸，薑湯下，食後。</p>
<p><u>前胡散</u>　治痰客於上焦，久之令人昏眩。</p>
<p>前胡（去蘆）　人參（去蘆）　紫蘇子（真者）　赤茯苓（各三分）　甘草（炙）　陳皮（去白）　枳殼（麩炒）　半夏（湯洗七遍）　木香（生用。各半兩）</p>
<p>上九味㕮咀，每服三錢，水一大盞，生薑十片，煎至半盞，去滓，熱服。</p>
<p><u>紫芝丸</u>　治痰。</p>
<p>五靈脂（粒粒取全者，去砂石）　半夏（湯浸七遍，慢慢浸，令心透）</p>
<p>上二味等分，為細末，生薑自然汁浸，蒸餅為圓，如桐子大。每服二十丸至三十丸，生薑或茶湯下，食空、臨睡時服。</p>
<p><u>三仙圓</u>　治中脘氣滯，胸膈煩滿，痰涎不利，頭目不清。</p>
<p>天南星（生，去皮）　半夏（沸湯泡七遍。二味各五兩，碾為細末，用生薑自然汁和，不可太軟，但手捏得聚為度，攤在篩內，用楮葉蓋之，令發黃色，曬乾收之。須是五六月內做曲，如醬黃法）　香附子（略炒，於磚上磨去毛，五兩）</p>
<p>上用南星、半夏曲餅子二兩，淨香附子一兩，同為細末，水煮麵糊為丸，如梧子大。每服二十至三十丸，食後、臨臥，薑湯下。</p>
<p><u>導痰湯　</u></p>
<p>費達可運使傳。</p>
<p>白茯苓　桂心　半夏（湯洗十次）　乾生薑　橘紅　枳殼（炒香）　甘草</p>
<p>上等分為末，入生薑三片，煎七分，非時溫服。</p>
<p><u>半夏湯</u>　治痰飲。</p>
<p>捷徑趙從簡方。</p>
<p>白茯苓　半夏（湯洗七遍）</p>
<p>上等分，各銼如小豆，每服秤三錢，水一盞半，生薑十片，煎至七分，去滓服。</p>
<p><u>神效化痰飛礬丹　</u></p>
<p>張承祖運干傳。</p>
<p>飛過枯礬（二兩，北礬、絳礬尤佳，如無，只用通明南礬）　半夏（一兩，生薑制一宿）　天南星（一兩，切作片子，用皂角挪水浸過一宿，來日就用銚子熬，水盡為度）　白殭蠶（一兩，半兩生用，半兩米醋浸一宿）</p>
<p>上同為細末，薑汁糊為丸，如梧桐子大，小丸亦得。每服十五丸至二十丸，生薑湯下。兼治喉閉，用薄荷兩葉，新汲水浸少時，嚼薄荷，吞藥，以水送下。如咽不得，即以十五粒搗細，用皂角水調灌下即開。又治小兒急、慢驚風，牙關緊急，不可開者，亦用皂角水調塗牙齦上，入咽即活。</p>
<p><u>神仙化痰圓</u>　亦治風秘甚效。</p>
<p>天南星（四兩）　半夏（四兩。二味生薑、皂角各四兩，水五升同煮，水盡去姜及皂角）　丁香（一兩）　橘紅（二兩）</p>
<p>上為細末，白水麵糊為丸，如梧桐子大。每服三十丸，生薑湯下，食後。</p>
<p><u>下痰圓　</u></p>
<p>李鏞解元傳。</p>
<p>橘紅（四兩）　白朮（兩半）　半夏（一兩，薑製）　天南星（二兩，炮）</p>
<p>上為細末，薑汁煮麵糊為丸，如梧桐子大，薑湯下四十粒，不拘時候。</p>
<p><u>破痰消飲圓</u>　治一切氣，一切飲，其效甚速。</p>
<p>何自然中丞傳。</p>
<p>荊三稜（一兩，灰炮，捶碎）　半夏（三兩，湯泡七次）　蓬莪朮（一兩，灰炮，捶碎）　青皮（一兩，洗）　草果（一兩，麵裹炮）　陳皮（一兩，洗）　良薑（一兩，濕紙裹煨）　川薑（一兩，炮裂）</p>
<p>上並焙乾，秤為細末，水煮糊為圓，如桐子大，陰乾。每服五十圓，薑湯或熟水下，不計時候。</p>
<p><u>薛氏桂辛湯</u>　下痰飲，散風邪，止涎嗽，聰耳鼻，宣關竅，利咽膈，清頭目，解冒眩，進飲食。</p>
<p>鄧左丞方。</p>
<p>桂（去皮）　細辛（去苗土）　乾薑　人參（去蘆）　白茯苓（去皮）　甘草（炙。各二分）　五倍子　陳皮（去白）　白朮　半夏（湯浸洗七遍，細切如豆，不搗。各三分）</p>
<p>上件除半夏外，搗羅為粗末，再同拌勻。每服二錢，水二盞，同煎至一盞，去滓溫服，食前。</p>
<p><u>宣肺散　</u></p>
<p>錢醫產家方，盛公紀傳。</p>
<p>白茯苓（四兩）　乾薑（一兩半，炮）　五味子（二兩半）　細辛（二兩半）　甘草（二兩半）　人參（二兩，去蘆）</p>
<p>上為細末，每服二錢，沸湯調下，食後、臨臥服。</p>
<p><u>新法半夏湯</u>　治痰。</p>
<p>郭醫傳。</p>
<p>大半夏（四兩，湯洗七次，每個切作兩片，用白礬一兩碎之，沸湯一碗，乘熱浸半夏一晝夜，湯洗去礬，攤干。一片切作兩片，再用生薑自然汁，於銀盂中沒頭浸一晝夜，卻於重湯中燉，令薑汁幹盡，慢火焙乾，為細末，再用生薑自然汁搜成餅子，曝或焙乾，炙黃，勿令焦）　甘草（二兩半，炙）　陳橘紅　草果（煨，取肉）　神麯（炒）　縮砂仁（各一兩）　丁香　白豆蔻仁（各半兩）</p>
<p>上八味為細末，每服抄一錢，先用生薑自然汁一匙，調成膏子，入少炒鹽，沸湯點服。</p>
<p><u>治痰茯苓圓</u>　本治臂痛，據《指迷方》中雲：有人臂痛不能舉手或左右，時復轉移，由伏痰在內，中脘停滯，脾氣不流行，上與氣搏。四肢屬脾，滯而氣不下，故上行攻臂，其脈沉細者是也。後人謂此臂痛乃痰證也。用以治痰無不效者。</p>
<p>茯苓（一兩）　枳殼（麩炒，去瓤，半兩）　半夏（二兩）　風化朴硝（一分）</p>
<p>上四味為末，以生薑自然汁煮糊，丸如梧桐子大。每服三十丸，生薑湯下。累有人為痰所苦，夜間兩臂常若有人抽牽，兩手戰灼，至於茶盞亦不能舉。只以此藥治之，皆隨服隨愈。世間所謂痰藥者多矣，至於立見神效，未有若此藥之妙也。</p>
<p><u>破飲圓</u>　治一切停飲不散，時嘔痰沫，頭眩欲倒，膈脘不利。</p>
<p>漳州周判官柄傳。</p>
<p>白朮（一斤二兩）　乾薑（六兩，炮）　肉桂（六兩）　赤茯苓（七兩）　旋覆花（八兩）　枳實（二兩）</p>
<p>上件為末，麵糊為丸，如梧桐子大。每服五十丸，熟水下，不拘時。</p>
<p><u>搜飲丸　</u></p>
<p>宇文尚書方。</p>
<p>木瓜（一個，切下頂作罐兒，去瓤）　生白礬　半夏曲（各等分）</p>
<p>上將二味藥，填在木瓜內，卻用圓頂蓋定，用麻縷扎縛於飯甑上，炊兩次，爛研，以宿蒸餅為丸，不拘多少，但和得聚即止，如梧桐子大。每服三五十丸，生薑湯下，不計時候。</p>
<p><u>倍術散</u>　治酒癖痰飲，此藥大有功效。</p>
<p>白朮（二兩）　附子（炮，去皮、臍，一兩）</p>
<p>上㕮咀，分三服，水一大𧊝，姜十片，煎七分，去滓，空心服。臟腑微動即安。</p>
<p><u>芎辛散</u>　治壅塞痰盛，清頭目。</p>
<p>辛丑年葛丞相作正言苦此疾，逾月語音不出，服柴胡之類亦不能去，醫者云是燥，用此藥數服而愈。</p>
<p>川芎　細辛　防風　桔梗　白芷　甘草　羌活（已上各一兩）　桑白皮（半兩）</p>
<p>上為細末，每服二錢，水一盞半，生薑二片，薄荷三葉，煎至七分，不飢不飽時溫服。</p>
<p><u>人參紫菀湯</u>　治肺氣不調，咳嗽喘急，胸膈煩悶，痰涎不利，坐臥不安，晝夜不止，久不愈者，以致形容瘦減，力氣羸劣者並宜服之。</p>
<p>蘇司法次參傳之於滕舉二方。</p>
<p>人參（一分）　京紫菀（半兩）　款冬花（半兩）　五味子（一分）　杏仁（半兩）　甘草（一分）　縮砂仁（一兩）　罌粟殼（去頂瓤，用薑汁製炒，一兩）　桂枝（一分）</p>
<p>上併為飲子，每服四錢，水一盞半，姜五片，烏梅兩個，煎至七分，去滓，溫服。</p>
<p><u>星砂圓</u>　消痰積，溫中順氣，治一切風痰，利胸膈，壯脾胃，及內傷生冷，腹脅脹痛，酒後痰實嘔吐，服之神效。</p>
<p>鎮江邢醫方，朱子新傳。</p>
<p>天南星（四兩，湯浸洗七遍）　良薑（四兩）　縮砂仁（二兩）</p>
<p>上為細末，以生薑自然汁煮，麵糊為圓，如梧桐子大。每服十五、二十丸，生薑湯下，不計時候。夏月吃生冷尤宜服。雖多至七八十丸，無害，加香附子二兩尤妙。</p>
<p><u>化痰圓</u>　治停痰宿飲。</p>
<p>半夏（湯洗七遍，別作末）　人參（去蘆）　白茯苓　白朮　桔梗（切作小塊，薑汁浸。已上各一兩）　枳實　香附子　前胡　甘草（已上各半兩）</p>
<p>上為細末，用半夏、薑汁煮糊，丸如梧桐子大。每服三四十丸，薑湯下。</p>
<p><u>玉塵散</u>　治痰飲。</p>
<p>出千金方。</p>
<p>桑白皮（自取東向未出土者，淨洗，二兩）　桔梗（三兩）　半夏（一兩，沸湯泡七遍）　南星（一兩，沸湯泡七遍）</p>
<p>上為粗末，每服三錢，水一盞半，生薑七片，煎至七分，去滓，溫服。一方加北五味子各等分。</p>
<p><u>十棗湯</u>　治懸飲，咳唾引脅下痛。又治支飲，咳煩，胸中痛至百日、一歲，其脈弦者。</p>
<p>葉伯材處此數方，大有神效。</p>
<p>芫花（微炒）　甘遂　大戟（炒）</p>
<p>上等分為末，水一盞半，棗十個，煎至八分，去棗。調藥，壯人一錢，羸人半錢，平旦溫服。不下者，次日更加半錢。下後，糜粥自養。若已下，不可與之。</p>
<p><u>大青龍湯</u>　治溢飲，身體疼重，汗不出，拘急痛。</p>
<p>麻黃（去節，湯，七錢半）　桂心　甘草（炙。各二錢半）　石膏（雞子大）　杏仁（四十枚，炒，去皮尖）</p>
<p>上為銼散，每服四大錢，水一盞半，姜五片，棗二枚，煎七分，去滓，空腹服，溫覆一服。汗者勿再服，復汗出多，亡陽虛逆，惡風煩躁，不得眠也。</p>
<p><u>小青龍湯</u>　治溢飲、支飲，倚息不得臥，及喘滿者。</p>
<p>麻黃（去節，湯）　芍藥　細辛　桂心　乾薑（炮）　甘草（炙。已上各三錢三字）　五味子（二錢）　半夏（湯洗七次，三錢）</p>
<p>上為銼散，每服四大錢，水一盞半，煎七分，去滓，空腹服。渴者，去半夏，加瓜蔞根三錢三字；微利，去麻黃，加芫花一雞子大，炒入；噎者，去麻黃，加附子一枚（炮）；小便不利者，去麻黃，加茯苓半兩；喘者，去麻黃，加杏仁三錢三字；咳而上氣，肺脹，其脈浮，心下有水氣者，胸中痛引缺盆，加石膏二錢半，研。</p>
<p><u>防己桂枝湯</u>　治膈間支飲，其人喘滿，心下痞堅，面色黧黑，其脈沉緊，得之數十日，醫吐、下之不愈。</p>
<p>木防己（三兩）　桂心（一兩）　人參（四兩）　石膏（六兩）</p>
<p>上四味為銼散，每服四大錢，水一盞半，煮七分，去滓，溫服。虛者即愈，實者三日後發，再服。不愈，宜去石膏，加茯苓四兩，芒硝一兩半，微利則愈。</p>
<p><u>小承氣湯</u>　治支飲胸滿。</p>
<p>厚朴（四兩，薑製）　大黃（二兩，蒸）　枳實（一兩，麩炒，去瓤）</p>
<p>上為銼散，每服四大錢，水一盞半，煎七分，去滓，不拘時服。</p>
<p><u>參苓飲</u>　治胸中停痰宿水，自吐出痰後，心胸間虛，氣滿，不能食，宜服此方，大有神效。</p>
<p>茯苓　人參　白朮（各三兩）　枳實（麩炒，去瓤，二兩）　橘皮（一兩半）</p>
<p>上為銼散，每服四大錢，水二盞，姜三片，煎七分，去滓，空腹溫服。</p>

<h1>卷之十</h1>

<h2>嘔吐門</h2>
<p>治諸嘔吐發作所因證候</p>
<p>嘔吐，雖本於胃，然所因亦多端。故有寒熱、飲食、血氣之不同，皆使人嘔吐。據《論》云：寒氣在上，憂氣在下，二氣並爭，但出不入，此亦一途，未為盡論。且如氣屬內因，則有七種不同；寒涉外因，則六淫分異，皆作逆。但鬱於胃則致嘔，豈拘於憂氣而已？況有宿食不消，中滿溢出，五飲聚結，隨氣翻吐，痼冷積熱，及瘀血凝閉。更有三焦漏氣，走哺，吐利，泄血，皆有此證，不可不詳辨也。</p>

<h3>寒嘔證治</h3>
<p>病者胃中寒，心下淡淡，四肢厥冷，食即嘔吐，名曰寒嘔。或因飲食多，致傷胃氣，或因病，曾經汗下，致胃氣虛冷之所為也。</p>
<p>葉伯材處此數方，大有神效。</p>
<p><u>四逆湯</u>　治寒嘔，脈弱，小便複利，身有微熱，見厥者難治。</p>
<p>甘草（一錢，炙）　乾薑（三錢三字）　附子（六錢重，生，去皮、臍）</p>
<p>上為銼散，每服三錢重，水二盞，煎七分，去滓，食前、溫服。</p>
<p><u>靈液丹</u>　治胃中虛寒，聚結痰飲，食飲不化，噫醋停酸，大便反堅，心胸脹滿，惡聞食氣，婦人妊娠惡阻，嘔吐，不納食者。</p>
<p>硫黃（打碎，一兩）　附子（一兩，去皮、臍，切綠豆大）　綠豆（四兩，水一碗，煮乾，焙）</p>
<p>上為末，生薑自然汁煮麵糊為丸，如梧子大。每服五十丸，米湯下，食前服。</p>

<h3>熱嘔證治</h3>
<p>病者胃中挾熱，煩躁，聚結涎沫，食入即吐，名曰熱嘔。或因胃熱伏暑，及傷寒，伏熱不解，濕阻之類，皆熱所為也。</p>
<p><u>小柴胡湯</u>　治嘔噦煩渴，寒熱往來，身面皆黃，小便不利，大便秘澀，並宜服之。</p>
<p>柴胡（去蘆頭，秤半斤）　黃芩　人參（去蘆頭）　甘草（炙。各二兩）　半夏（湯洗七次，焙乾，秤二兩半）</p>
<p>上五味，同為粗末，每服三大錢，以水一盞半，入生薑五片，棗一個，擘破，同煎至七分，去滓，稍熱服，不拘時。</p>

<h3>痰嘔證治</h3>
<p>病者素盛今瘦，腸中瀝瀝有聲，食入即嘔，食與飲並出，名曰痰嘔。或因氣鬱，涎結於胃口，或因酒食甜冷，聚飲之所為也。</p>
<p><u>大半夏湯</u>　治心氣不行，郁生涎飲，聚結不散，心下痞鞕，腸中瀝瀝有聲，食入即吐。</p>
<p>半夏（二兩，湯洗十次，完用）　人參（三錢，切）</p>
<p>上分四服，每服水三盞，蜜二錢重，和水，揚令勻，水、藥煎至六分，去滓，溫服。一法有生薑七片。</p>
<p>治法曰：嘔家先渴，今反不渴者，以心下有支飲故也。治屬支飲，無不取效。</p>

<h3>食嘔證治</h3>
<p>病者胸腹脹悶，四肢厥冷，惡聞食臭，食入即嘔，朝食暮吐，暮食朝吐，名曰食嘔。此由飲食傷脾，宿穀不化之所為也。</p>
<p><u>大養胃湯</u>　治飲食傷脾，宿穀不化，朝食暮吐，暮食朝吐，上氣復熱，四肢冷痹，三焦不調，及胃虛，寒氣在上，憂氣在下，二氣並爭，但出不入，嘔不得食。</p>
<p>厚朴（去皮）　生薑（銼。各二兩）　肥棗（三兩，銼，同上二味炒）　白朮　山藥（炒）　人參　川芎　橘皮　當歸　五味子　藿香　甘草（炙）　枇杷葉（刷去毛，用姜炙）　黃耆（各一兩）</p>
<p>上為銼散，每服四錢，水一盞半，姜三片，棗一個，煎七分，去滓，空腹服。或為細末，大湯調下亦快。</p>

<h3>血嘔證治</h3>
<p>病者心下滿，食入即嘔，血隨食出，名曰血嘔。此由瘀蓄冷血，聚積胃口之所為也。</p>
<p><u>茯苓湯</u>　治憂怒兼併，氣攻血溢，停留胃管，噯聞血腥，嘔吐食飲，及妊娠，中脘宿冷，冷血侵脾，惡聞食氣，病名惡阻。</p>
<p>半夏（三兩，湯洗七次）　茯苓　熟地黃（各一兩八錢）　橘皮　細辛　人參　芍藥　川芎　旋覆花　桔梗　甘草（炙。各一兩二錢）</p>
<p>上為銼散，每服四大錢，水二盞，姜七片，煎七分，去滓，空心服。有客熱，煩渴，口瘡者，去橘皮、細辛，加前胡、知母；腹冷下利者，去地黃，入桂心（炒）；胃中虛熱，大便閉，小便澀，去地黃，加大黃一兩八錢，黃芩六錢。</p>
<p><u>當歸湯</u>　治三焦虛損，或上下發泄、吐、唾血，皆從三焦起。或因熱損發，或因酒發，悉主之。</p>
<p>當歸　乾薑（炮）　熟地黃　檗皮　小薊　羚羊角（鎊）　阿膠（炒。各三錢三字）　白朮　芍藥（各半兩）　黃芩　甘草（炙。各一分）</p>
<p>上為銼散，每服三錢，水二盞，竹茹一塊如指大，煎至八分，去滓，入伏龍肝半錢匕，頭髮灰半錢匕，蒲黃半錢匕，再煎至七分，不以時服。</p>

<h3>氣嘔證治</h3>
<p>病者心膈脹滿，氣逆於胸間，食入即嘔，嘔盡卻快，名曰氣嘔。胃者，足陽明，合榮於足。今隨氣上逆，結於胃口，故生嘔病也。</p>
<p><u>茱萸人參湯</u>　治氣嘔，胸滿，不納食，嘔吐，涯沐頭疼。</p>
<p>吳茱萸（湯洗數次，五兩）　人參（三兩）</p>
<p>上為銼散，每服四大錢，水一盞半，姜五片，棗三枚，煎七分，去滓，不以時服。</p>
<p><u>藿香湯</u>　治心下虛滿，飲食不入，時時嘔吐，惙惙短氣，大病將理不復，胃氣無以養，日漸羸弱。</p>
<p>藿香　人參　桂心　桔梗　木香　白朮（各半兩）　茯苓（半兩）　枇杷葉（十片，去毛）　半夏（一兩，湯洗，用薑汁製）</p>
<p>上為銼散，每服五錢，水二盞，入炒薑絲一分，煎七分，去滓，食前服。</p>

<h3>噦逆治法</h3>
<p><u>橘皮竹茹湯</u>　治咳逆嘔噦，胃中虛冷，每一噦至八九聲相連，收氣不回，至於驚人。</p>
<p>橘皮（二兩）　人參（一兩）　甘草（炙，半兩）</p>
<p>上為銼散，每服四錢，水一盞半，竹茹一小塊，姜五片，棗二個，煎七分，去滓，不以時服。</p>
<p><u>大藿香散</u>　大治一切心肺、脾胃氣變為萬病，服之皆愈。</p>
<p>盛季文傳於賀方回，云：頃在河朔，因食羊肝，生脾胃泄瀉、膿血，仍發脾氣，嘔吐霍亂，心腹撮痛，時出冷汗，四體厥逆，殆不可忍。邑宰万俟湜懷此藥，煎以進，再服即定。既而求其方，常服尤能和氣進食。</p>
<p>藿香葉（一兩）　木香　陳皮（去白）　肉豆蔻（麵裹，煨）　訶子（煨，去稜）　人參（去蘆）　大麥糵（炒）　高良薑（炒）　神麯（炒）　白茯苓　甘草（炒）　青皮（去瓤，麵炒）　厚朴（薑汁製炒。以上各一兩）　白乾薑（半兩，炮）</p>
<p>上為細末，每服二錢，吐逆瀉痢不下食，或嘔酸苦水，翻胃噁心，並用水一盞，煨生薑半塊，拍破同煎，鹽一捻，安盞中，候煎藥及七分，熱呷。</p>
<p><u>安脾散</u>　治翻胃吐食，及吃食咽酸，日吐黃水，曾經諸方不瘥者，服之神效。</p>
<p>頃者以事至臨安，寓止詹翁店。詹翁年六十餘，苦翻胃，危殆，已治棺在床側。予往別去，其翁已不能言。及再自淮上歸，過其門訪問，此翁已出迎揖，見其顏色極紅潤，甚驚異之。問其所以，乃云：有一川官來歇，得藥數服遂無事。其後授得此方。昨以在建康醫朱機宜新婦，及近日醫圓通觀維那，皆作效，其妙不可具述。詹承宗書。</p>
<p>高良薑（一兩，以百年壁上土二三合敲碎，用水二碗煮乾，薄切成片）　草果（麵煨，去殼）　南木香　胡椒　白茯苓　白朮　丁香（懷干）　人參（去蘆）　陳皮（去瓤。已上各半兩）　甘草（一兩半，炙）</p>
<p>上同為細末，每服二大錢，空心、食前、米飲，入鹽點服，鹽酒亦得。</p>
<p><u>半夏圓</u>　治翻胃及不忺飲食。</p>
<p>楊叔子知府傳，甚效。</p>
<p>半夏（湯洗十遍）　胡椒</p>
<p>上等分，為細末，薑汁為圓，如桐子大。每服三五十圓，薑湯下。</p>
<p><u>丁香圓</u>　治嘔吐。</p>
<p>無為徐醫。</p>
<p>半夏（七個，湯洗去滑）　丁香（十四粒）　胡椒（二十一粒）</p>
<p>上同為細末，生薑自然汁圓如大雞頭大。每用一圓，以干棗一枚擘破，去核，入藥在內，以濕紙裹，煨熟，放溫，以米飲湯爛嚼送下。</p>
<p><u>丁香溫氣湯</u>　治胃寒，嘔吐涎沫，甚妙。</p>
<p>張上舍傳，云其母常服有效。</p>
<p>丁香（一兩）　白茯苓（二兩）　人參（一兩半，去蘆）　黃耆（二兩，去蘆）　白朮（一兩半）　附子（二兩，炮，去皮、臍）　桂心（一兩，去粗皮）　高良薑（一兩半）　吳茱萸（一兩，湯浸，微炒）　半夏（一兩半，沸湯泡十次）　甘草（七錢，炙）　沉香（少許）　訶子（麵煨，去核，三分）</p>
<p>上件㕮咀，每服四錢，水一盞半，姜五片，棗二個，煎七分，去滓，不拘時候。</p>

<h1>卷之十一</h1>

<h2>腫滿門</h2>
<p>治十水腫滿證候</p>
<p>十腫證候，以短氣不得臥為心水；兩脅疼痛為肝水；大便鴨溏為肺水；四肢苦重為脾水；腰痛足冷為腎水；口苦咽乾為膽水；乍虛乍實為大腸水；腹急肢瘦為膀胱水；小便秘澀為胃水；小腹急滿為小腸水。各隨其經絡，分其內外，審其脈證而甄別之。然此十水，謂之正水。外有風水、皮水、石水、黃汗。以義考之，風合歸肝，皮合歸肺，黃汗歸脾，石合歸腎，雖名理不逾，奈證候少異，古方備列，不可不辨。但風水脈浮，必惡風；皮水亦浮，按不沒指；石水脈浮，不惡風；石水脈沉，腹滿不喘；黃汗脈沉遲，發熱多涎，久而不愈，必致癰膿。</p>
<p>五傷證候，諸唇黑則傷肝；缺盆平則傷心；臍出則傷脾；足平則傷腎；背平則傷肺。凡此五傷，必不可療也。治法曰：腰以上腫，宜發汗；腰以下腫，宜利小便。學者當知之。</p>
<p><u>苦葫蘆散</u>　治遍身水腫如神。</p>
<p>呂大資宅經效秘方。</p>
<p>木通（一兩半，細銼）　澤瀉（三分）　苦葫蘆子（一兩半）　防己（三分）　豬苓（一兩，去黑皮）　海蛤（一兩，細研）</p>
<p>上件藥，搗羅為末，每服五錢，水七分，酒七分，入蔥白五寸，煎至八分，去滓，食前溫進。當下小便數升，腫消。</p>
<p><u>大蒜圓</u>　治氣虛水腫浮脹。</p>
<p>滁州公使、酒庫攢司陳通，患此一病垂死，醫者已不下藥，偶一婦人傳此方，云是道人所授。服之，病自小便而下幾數桶，遂愈。</p>
<p>大蒜（一個）　蛤粉</p>
<p>上以蒜研爛，以蛤粉和，無分兩，可圓即止，如梧桐子大。每服十圓，白湯下。若氣不升降，即以大蒜一頭，每瓣切開，逐瓣內入茴香七粒，用濕紙裹，煨香熟，爛嚼，白湯送下，不以多少。若臟腑不止，即以丁香如茴香法煨服，每瓣用三粒。</p>
<p><u>吳茱萸湯</u>　治脾虛腳腫，面黃，小便黃赤，腹脅脹滿，㽲痛，或大小便澀。</p>
<p>錢昭遠知縣傳。</p>
<p>吳茱萸（一兩，去枝，湯泡）　枳實（麩炒，去麩，半兩）　赤茯苓（一兩）　半夏（湯泡，半兩）</p>
<p>上㕮咀，三錢重，水一盞半，生薑七大片，同煎八分，去滓，熱服，不以時候。</p>
<p><u>冬瓜散</u>　治水氣極有神效。</p>
<p>冬瓜（一枚，著中者去瓤）　肉桂（十兩，銼）</p>
<p>上以肉桂內冬瓜中，蓋口，濕紙裹數重，撅地坑，簇以炭火，煅令存性，為細末。每服二錢，米飲調下，日二服。一料可絕根本。</p>
<p><u>棗仁散</u>　治浮腫。</p>
<p>俞子清少卿家傳方，云得效甚多。</p>
<p>紅棗核（捶破取仁）　白茯苓（等分）</p>
<p>上為細末，米飲調下。</p>
<p><u>黃魚湯</u>　治水氣。</p>
<p>王尚之提刑傳。云武義縣方，已治數人，甚妙。</p>
<p>黃顙魚（一個）　綠豆（一合許）</p>
<p>上煮淡羹，頓食。紹興張醫升之云：以商陸根煮綠豆，令熟，去商陸，取綠豆任意食之，亦妙。王氏《博濟方》第二卷逐氣散，與此二藥大同小異。</p>
<p><u>木瓜湯</u>　治水氣。</p>
<p>鄭簽判名本中雲。</p>
<p>宣木瓜（一個）　吳茱萸</p>
<p>上以木瓜，用竹刀切下蓋子，去子並瓤，入吳茱萸在內，卻將蓋子用竹籤簽定，蒸熟。各研細焙乾，同為細末。以紫蘇熟水調下，不計時候。積日水自消退。</p>
<p><u>導水圓</u>　治男子、婦人水氣腫滿。</p>
<p><u>茯苓琥珀圓</u>　治水氣，通身浮腫。</p>
<p><u>消腫圓</u>　治水氣、腹脹，四肢皆腫。□急咳嗽，睡臥不得。服之小便自利，腫脹悉消。須忌鹽醬、藏醃之物。</p>
<p>淡豉（二兩，新好者研）　巴豆（一兩，去殼，河水半升煮乾，去心，出油取霜）　五靈脂（去砂石，一分）　荊三稜（煨，切）　大戟（新者）　杏仁（燒留性，研細。三味各半兩）</p>
<p>上件為細末，以生面水調搜和，杵千下，圓如綠豆大。每服五丸，濃煎桑白皮湯送下，食後服。大便秘者，加至十丸。喘急者，用杏仁去皮、尖，研細，濃煎湯送下。忌甘草三日。</p>
<p><u>消脹圓</u>　治水病，渾身腫脹，喘急，小便不利。</p>
<p>白樟柳根（三兩，銼細）　赤小豆（五兩）　陳皮（去白，二兩）　木香（一）</p>
<p>上件為細末，滴水和丸，如綠豆大，每服三十丸，煮赤小豆湯下，不拘時候。</p>
<p><u>冬瓜圓</u>　治十種水氣浮腫，喘滿。</p>
<p>大冬瓜（一枚，先於頭返切一蓋子，取去中間瓤不用，以赤小豆，水淘淨，填滿冬瓜中，再用蓋子合了，用竹籤簽定，以麻線系。紙筋、黃泥通身固濟，窨干。用糯谷破取糠片兩大籮，埋冬瓜在內，以火著，糠內煨之。候火盡，取出去泥，刮冬瓜令淨，薄切片子，並豆焙乾）</p>
<p>上為細末，水煮麵糊為圓，如梧桐子大。每服五十丸，煎冬瓜子湯送下，不拘時候。小便利為驗。</p>
<p><u>海蛤湯</u>　治水氣，肢體腫滿，元氣發動，遍身壯熱，小便不通。此藥最妙。</p>
<p>海蛤　澤瀉　木豬苓（去皮）　木通　滑石　桑白皮　葵菜子（七味各一兩）</p>
<p>上件為細末，每服二錢，水一盞，入燈心十莖，通草二寸，同煎至七分，溫服，食前。</p>
<p><u>消脹圓</u>　治蠱脹，推氣退腫。</p>
<p>法曲（四兩，焙）　乾葛（二兩）　肉桂（去粗皮，一兩）　蕤仁（三十粒）　巴豆（二十五粒，去皮、油，生用）　陳皮（去白，一兩）　檳榔（半兩）　木香（一兩）　縮砂仁（一兩）　黑牽牛（一升，用無灰酒半升，浸一宿，取出焙乾）</p>
<p>上件為細末，用豶肚一枚，淨洗，將前件牽牛盛在內，用無灰酒五升，慢火煮之，酒盡肚爛，取出，於臼中搗極爛，和前藥末，一處杵為圓，如綠豆大。每服五十丸，空心，日午、臨臥，溫酒送下。更量虛實加減之。</p>
<p><u>蘿蔔子圓</u>　治蠱氣脹滿，四肢虛浮，上氣喘急，大小便秘澀，服此有效。</p>
<p>蘿蔔子（四兩，炒令黃）　雷丸（一兩，炒黃）　白附子（一兩半，炮）　檳榔（半兩）　陳皮（去白，二兩）　藍根（二兩，炒黃）</p>
<p>上件為細末，酒煮麵糊為丸，如綠豆大。每服十丸至三十丸，橘皮湯、空心吞下。</p>
<p><u>獨勝散</u>　治水氣腫脹，無比之妙。</p>
<p>大理孫評事傳。一家專貨，此藥盛行，服者皆痊。</p>
<p>川獨活</p>
<p>上用巴豆炒，去巴豆，碾為細末，煮精豬肉蘸藥服。</p>
<p><u>氣實圓</u>　治腰脅俱病，如抱一甕，肌膚堅硬，按之如鼓，兩腳腫滿，曲膝仰臥，不能屈伸。自頭至膻中，瘦瘠露骨，胸膈塞隘，四肢無力，飲食無味。氣積、食積並皆治之。</p>
<p>青皮（一兩，去白）　羌活（半兩）　川芎（半兩）　陳皮（半兩，去白）　茴香（半兩）　南木香（半兩）　檳榔（一兩）　大黃（一兩半）　當歸（半兩）　黑牽牛末（二兩）</p>
<p>上細末，用不蛀皂角熬膏為丸，如桐子。每服五七十丸至百丸，生薑、燈心煎湯送下。一切氣血凝滯，風毒熾盛，及腳氣走注作腫痛，或大便秘，並宜服。腳氣入腹，心胸滿悶，寒熱往來，狀類傷寒，更兼服局方蘇子降氣湯。治癰疽、瘡癤、便毒尤宜。</p>
<p><u>青龍圓</u>　治久新水蠱病。</p>
<p>輕粉（二錢）　白丁香（二錢）　硇砂（一錢）　青黛（一分）</p>
<p>上同研勻，水和成塊，硬軟得所，用生蒸餅麵裹一重，以桑柴慢火煨熟。不去已燒熟面，再以生面又裹一重，再如前煨，候香，放冷，取出藥，不用面。別煮好麵糊為丸，如黍米大，用茴香湯下三丸，日三服；第二日四丸，日三服；第三日五丸，亦一日三服。每日如此加服，自然水盡。其水有自三服下，有自五服下者，凡水下即溺，至七日即止。</p>
<p><u>葶藶圓</u>　治一切水蠱氣，通身腫滿，喘急。</p>
<p>人參（一兩，銼，炒）　苦葶藶（四兩，鋪紙在銚中，炒）</p>
<p>上為細末，煮棗去皮、核，擂細搜丸，如桐子大。每服三四十丸，桑白皮煎湯送下。喘急、食後，不計時亦得。</p>
<p><u>復元丹</u>　治水腫。夫心腎真火，能生脾肺真土。今真火氣虧，不能滋養真土，故土不制水，水液妄行，三焦不瀉，氣脈閉塞，樞機不通，喘息奔急，水氣盈溢，滲透經絡，皮膚溢滿，足脛尤甚。兩目下腫，膇股間冷，口苦舌乾，心腹堅脹，不得正偃，則咳嗽，小便不通，夢中虛驚，不能安臥。</p>
<p>葉伯材處此數方，醫腫累有神效。</p>
<p>附子（炮，二兩）　南木香（煨）　茴香（炒）　川椒（炒，去汗）　獨活　厚朴（去皮，銼，薑製炒）　白朮（略炒）　陳橘皮　吳茱萸（炒）　桂心（已上各一兩）　澤瀉（一兩半）　肉豆蔻（煨，半兩）　檳榔（半兩）</p>
<p>上一十三味為末，糊丸梧子大，每服五十丸，紫蘇湯下，不以時。此藥世傳，屢驗，未嘗示人。其間君、臣、佐、使，與造物同妙。服者自知要當屏去諸藥，一日三服，先次旋利如傾，次乃腫消喘止。蓋藥能助真火，以養真土，運動樞機，安平必矣。法當禁欲，並絕咸半年，乃不再作。</p>
<p><u>當歸散</u>　治如前。</p>
<p>當歸（洗）　木香（煨）　赤茯苓　桂皮　檳榔　赤芍藥　牡丹皮　陳皮　木通　白朮（各銼，焙乾，秤等分）</p>
<p>上為末，腳膝、頭面腫，大小便不快，每服二錢，水一盞，紫蘇二葉，淡木瓜一片如指大，同煎八分，溫服，日三。如已愈，常服，早晚二。覺氣下，或小便快，是效。臟寒，去檳榔；臍已凸，添大腹皮、木豬苓各一兩。忌烏雞肉、鹹酸、海味物。</p>
<p><u>消腫圓</u>　治水腫喘滿，小便不利。</p>
<p>滑石　木通　白朮　黑牽牛（炒）　通脫木　茯芩　茯神（去木）　半夏（湯洗去滑）　陳皮（已上各一分）　木香（半分）　瞿麥穗（半錢）　丁香（半錢）</p>
<p>上為末，酒糊丸，如梧子大，每服三十丸，燈心、麥門冬湯溫服。</p>
<p><u>消腫散</u>　治水氣浮腫，喘呼不得睡，煩熱躁擾，渴燥，大小便不利。</p>
<p>大黃（蜜蒸）　山梔（炒）　甘草（炙）　乾葛　橘皮　麻黃（去節，湯）　馬牙硝　川芎（已上各等分）</p>
<p>上為細末，蜜湯調下，二錢。</p>
<p><u>第一退水圓</u>　能化氣退水腫，去宛莝，利濕，通小便。</p>
<p>蓬莪朮（炮）　三稜（煨）　桂心　青皮　益智（已上各半兩）　巴豆（二十粒，去皮、油，別研）</p>
<p>上為末，麵糊丸，如梧子大，用黃梔十個，劈破，荊芥、黑牽牛、酸漿草各少許，煎湯，空腹下二三十丸。</p>
<p><u>第二退水餅</u>　服前藥未效，即服此方。</p>
<p>甘遂　大戟</p>
<p>上為末，入面打水，調為餅，如棋子大，火煨熟，五更淡茶湯嚼下一餅。</p>
<p><u>第三大腹子散</u>　取轉後調整胃氣，進食。</p>
<p>大腹子（炒）　桂心　茴香（炒）　陳皮（各半兩）</p>
<p>上為末，每服二錢，米飲調下。</p>
<p><u>換金散</u>　治水氣腫滿。</p>
<p>苦葫蘆子</p>
<p>上炒，為細末，每服二三錢，木通、陳皮煎湯調下。</p>
<p><u>異功散</u>　治水氣蠱脹。</p>
<p>池中立死乾荷葉</p>
<p>上燒灰，每服一錢，米飲調下，日三服，不拘時。</p>
<p>治水蠱腹脹。</p>
<p>上取嘉禾散、四柱散細末，各等分，合和令勻，依法煎服。</p>
<p>紹興術士朱蓑衣，名黼，苦此疾，醫者但令服嘉禾散，久之不效。葛丞相授以此法，遂安。</p>
<p>治水氣，神仙所授。</p>
<p>上用冬瓜自然汁，和大麥面，作餺飥食之。</p>
<p>治水蠱。</p>
<p>商陸根，赤者搗爛，貼臍心，以綿帛系，縛定，病自小水而去。商陸有二種，白者不可用。</p>

<h1>卷之十二</h1>

<h2>疝氣門</h2>
<p>治諸疝氣發作證候</p>
<p>《經論》雖云七疝，諸疝等更不見名狀，但出寒疝、㿗疝而已。唯《大奇論》列五臟脈為五疝證，所謂腎脈大、急沉為腎疝；肝脈大、急沉為肝疝；心脈搏滑急為心疝；肺脈沉搏為肺疝；三陰急為脾疝。三陰即太陰脾脈也。大抵血因寒泣，則為瘕；氣因寒聚，則為疝。但五臟脈理不同，不可不辨。且腎脈本沉，心脈本滑，受寒則急，於理乃是；肝脈本弦，肺脈本澀，並謂之沉，未為了義。又脾不出本脈，但云急為疝，亦文義之缺也。凡云急者，緊也，緊為寒。亦可類推。且賊風入腹，亦為疝；冒暑、履濕皆能為疝。常隨四氣改易急字，風則浮弦，暑則洪數，濕則緩細，於理甚明。要知疝雖兼臟氣，皆外所因也。寒則溫之，風則散之，暑則利之，濕則燥之，各有成法。</p>
<p><u>失笑散</u>　治疝氣腫硬。</p>
<p>徐都承叔至傳，云是錢參政方。</p>
<p>防風（去蘆）　牡丹皮（去心）</p>
<p>上等分，為細末，食前、酒服方寸匕，日三。亦治㿗卵偏墜。又一方加黃檗、桂心二味等分，治氣上下腫脹。</p>
<p><u>大戟丸</u>　治膀胱氣陰腫，或小腸氣痛。</p>
<p>泗州楊吉老方，累用有效。</p>
<p>檳榔（一兩，略炮過）　麝香（半分，好者）　胡蘆巴（四兩，炒香）　大戟（揀好者寸許，銼去皮，炒令黃色，秤半兩）　木香（一兩）　舶上茴香（一兩）　黑附子（一兩，炮，去皮、臍）　訶黎勒（炮，去核，一兩）</p>
<p>上件藥為末，用川楝子五兩，好酒二升，蔥白七枝，長三四寸已，來一處煮，令楝子肉透軟，去皮、核，只取肉，和上件藥末，丸如梧桐子大。每服五七丸，加之十丸，每日空心、溫酒少許下之。生薑、鹽湯下亦可。如潮發疼痛，可用炒生薑，熱酒下十五丸，一服立效。吃藥後消盡氣腫，且卻減藥。</p>
<p><u>茴香散</u>　治寒濕氣，小腹疼，外腎偏大腫痛。</p>
<p>軍頭司何押番傳與陳端，遇發時只一兩服，立定。何云等子輩常服此藥，故無下部之疾。</p>
<p>茴香　柿楂子（《本草》名糖球）</p>
<p>上二味等分，為細末，每服一二錢，鹽酒調，空心，熱服。</p>
<p><u>蛇床子散</u>　治淋泄。</p>
<p>蛇床子　川椒　木通　石茱萸　藁本　陳橘皮（各一兩）</p>
<p>上為粗末，每用連根蔥白七枝，水三碗，藥兩匙，煎五七沸。先噓候通，手淋洗。</p>
<p><u>木香散</u>　治疝氣。</p>
<p>漢陽洪簽判名價傳，復州史君親服得效，並下三方。</p>
<p>木香　青皮（去白）　延胡索　馬撲兒（新瓦上焙乾）　土茴香（炒）</p>
<p>上等分，為細末，每服抄二錢，空心、溫酒調服。忌滯氣食物，如豆腐、雞鴨子、濕面、韭菜等。病愈任意食，無害。</p>
<p><u>桃仁散　</u></p>
<p>桃仁（三十粒，炒）</p>
<p>上細嚼，熱酒吞下茴香丸，食前。</p>
<p><u>皂子圓　</u></p>
<p>肥皂子（獨腎者四十九個）</p>
<p>上燒過存性，為細末，再研如粉。用陳米飯爛研，如膏子，丸如梧子大，每服四十丸，茴香煎湯下。</p>
<p>又治疝氣，細末、熱酒調下。</p>
<p><u>茱萸桃仁散　</u></p>
<p>茱萸（揀，四兩）　桃仁（一百二十粒）</p>
<p>上二味，同炒香熟，去萸不用，止將桃仁去皮、尖，蔥白十寸，細銼，沙盆內爛研，銀銚內炒香熟，用酒二盞，浸作一服，熱吃，有汗便解。</p>
<p><u>金鈴圓</u>　治丈夫本臟氣並膀胱氣，往往衝心臍下，胸脅刺痛。及婦人血氣衝心，並皆治之，消溶飲食，通三焦氣。</p>
<p>金鈴子（四十個，去皮、核，只取肉。用巴豆二十粒，去皮，入麩同炒。金鈴子肉如桑根色為度，棄卻巴豆、麩，只使金鈴肉）　茴香（輕爛過，舶上者）　蓬莪朮（醋浸，紙裹，炮）　荊三稜（醋浸，紙裹，炮）　枳殼（麩炒，去瓤）　陳皮（湯浸，去瓤。已上各二兩）　川楝子（焙，一兩）　木香（半兩）　百部（炒，一兩）</p>
<p>上件揀淨，細為末，醋煮麵糊為丸，如梧桐子大。每服三十丸至四十丸，不計時候，茶、酒任下，消酒食。如若只為散，用酒調，或入鹽點更佳。</p>
<p><u>大烏頭桂枝湯</u>　治風寒疝，腹中痛，逆冷，手足不仁，身體疼痛，灸刺、諸藥不能療，及賊風入腹攻刺，五臟拘急，不得轉側，發作叫呼，陰縮，悉主之。</p>
<p>醫官杜壬，以此五方治寒疝，極效。</p>
<p>大烏頭（五枚，實者，去皮、尖，蜜大盞，煎減半，漉出，湯洗，切）　桂心（三錢三字）　芍藥（三錢三字）　甘草（一分，炙）</p>
<p>上為銼散，每服四大錢，水一盞半，姜五片，大棗三個，入前煎烏頭蜜半合，同煎至七分盞，去滓，食前服。</p>
<p><u>倉卒散</u>　治寒疝入腹，心腹卒痛，及小腸、膀胱氣，絞刺脾腎，氣攻攣急，極痛不可忍，屈伸不能，腹中冷重如石，白汗出。</p>
<p>山梔子（四十九個，燒半過）　附子（一枚，炮）</p>
<p>上末，每服二錢，水一盞，酒半盞，煎至七分，入鹽一捻，溫服即愈。</p>
<p><u>神應散</u>　治諸疝，心腹絞痛不可忍。</p>
<p>延胡索　胡椒（等分）</p>
<p>上為末，每服二大錢，酒半盞，水半盞，煎七分，食前服。</p>
<p><u>牡丹圓</u>　治寒疝，心腹刺痛，休作無時。及治婦人月病，血刺疼痛。</p>
<p>川烏頭（炮，令焦黑，去皮、尖）　牡丹皮（四兩）　桂心（五兩）　桃仁（炒，去皮、尖，五兩，別研）</p>
<p>上為末，煉蜜圓，梧子大，每服五十丸，溫酒下，婦人醋湯下。</p>
<p><u>補腎湯</u>　治寒疝入腹，上實下虛，小腹㽲痛，時復泄瀉，胸膈痞滿，不進飲食。常服溫脾補腎。</p>
<p>人參　茯苓　白朮　黃耆　附子（炮，去皮、臍。各一兩）　沉香（四錢）　木瓜（一兩半）　羌活（半兩）　甘草（炙）　芎藭（各一分）　紫蘇（三分）</p>
<p>上為銼散，每服三錢，水一盞，姜三片，棗一枚，煎七分，去滓，食前服。嘔吐，加半夏半兩，添水盞半，姜七片，煎。</p>
<p><u>世寶圓</u>　治一切厥心痛，小腸、膀胱痛不可忍。</p>
<p>附子（炮，去皮、臍，一兩）　鬱金　薑黃（各半兩）</p>
<p>上為細末，醋糊為丸，如桐子大，硃砂少許為衣，每服三十丸，溫酒下；婦人淡醋湯，更服代針散。</p>
<p><u>神聖代針散</u>　治小腸氣，搐得如角弓反張，膀胱腫硬，一切氣刺虛痛。</p>
<p>張氏處此數方，的有神效。</p>
<p>乳香（研）　沒藥（研）　安息香（研）　當歸（洗，去蘆）　川芎　白芷（各半兩）　芫青（去足翅，二錢）</p>
<p>上為細末，每服一字，病甚半錢。先點好茶一盞，將藥摻在茶上，不得吹，攪動，立地細細呷之。</p>
<p><u>脫鈴圓</u>　治奔豚，腎余腫墜，小腸氣痛，並下部一切疾。</p>
<p>胡蘆巴（炒）　破故紙（炒）　蓬莪朮（炒）　荊三稜（炒。已上各一兩）　檳榔（半兩，生用）　南木香（半兩，不見火）　川楝子（一兩，用巴豆七個炒，去巴豆）</p>
<p>上為細末，面內入少許硇砂細末，同煮糊為丸，如桐子大。每服三四十丸，溫酒、鹽湯送下，空心、食前服。</p>
<p><u>妙應散</u>　治大人、小兒偏墜。</p>
<p>防風（二兩）　官桂（去皮，一兩）</p>
<p>上為細末，二錢，溫酒、鹽湯調下，服了食壓之。治小腸氣，用蔥白入茴香，煨，同嚼縮砂仁，妙。</p>
<p><u>木香趁痛圓</u>　治下部諸疾，不問虛實，往來作痛，時發寒熱。</p>
<p>南木香（二兩，不見火）　胡椒　大黃（炒）　青皮（去白）　全蠍（炒。已上各一兩）　黑牽牛（四兩，半炒半生）</p>
<p>上為細末，麵糊為丸，如桐子大，二十丸至三十丸，鹽湯、空心下。</p>
<p><u>半夏湯</u>　治心脾疼，及小腸奔豚等痛患。</p>
<p>吳茱萸（去枝並目）　半夏（湯泡，切片）　肉桂（去皮。等分）</p>
<p>上㕮咀，三錢重，水一大盞半，生薑十片，同煎八分，去滓，熱服。</p>

<h2>腸風門</h2>
<p>辨腸風、痔漏、下血證候</p>
<p>夫有五痔，人奏圊則下血，或點滴，或迸箭，或清或濁。面黃唇白，心忪腳弱，頭目眩暈。此因飽食、坐久、腸癖所為。亦有飲酒、房室過度所致。世醫多指此為腸風臟毒，然腸風臟毒，自屬滯下門，臟毒即是臟中積毒；腸風即是邪入臟。純下清血，謂之風利。今五痔下血，乃是酒痔、脈痔，其血自肛門邊別有一竅，如針孔大，滴淋而下，與泄物不共道，不可不知。</p>
<p><u>黃連湯</u>　治脈痔下血不止，量冷熱加減法。</p>
<p>此數方系葉伯材累用有神效。</p>
<p>黃連（去須）　烏頭（炮，去皮、尖。各等分）</p>
<p>上為銼散，每服二錢，水一盞半，煎七分，去滓，空心服。熱則加黃連，冷則加烏頭。</p>
<p><u>酒連圓</u>　治酒痔下血，伏暑久治不效。</p>
<p>黃連（不以多少，燎去須，酒浸，銀器中重湯煮，漉出曬乾，添酒煮七次止）</p>
<p>上為末，以余酒為圓，如梧子大，每服五十丸，米湯下。</p>
<p><u>加味四君子湯</u>　治五痔下血，面色萎黃，心忪耳鳴，腳弱氣乏，口淡，食不知味。</p>
<p>人參　茯苓　白朮　甘草（炙）　黃耆　白扁豆（蒸。各等分）</p>
<p>上為末，每服二錢匕，湯點服。此方人未之信，服者頗效，所謂「看不上手面，自有奇功」。</p>
<p><u>豬牙皂角散</u>　治五種腸風下血：糞前有血，名外痔；糞後有血，名內痔；大腸名脫肛；穀道四旁有胬肉，如乳頭，名鼠奶痔；有穴，腸出血，名漏。並皆治之。</p>
<p>黃牛角䚡（一枚，捶碎）　白蛇蛻（一條）　蝟皮（一兩）　豬牙皂角（七鋌）　穿山甲（一片，七十鱗）</p>
<p>上並銼碎，入砂瓶內，以鹽泥封固，候乾。先少著火燒，令煙出，後用大火煅，令通赤為度。取出攤冷，為末。先以胡桃一個，分四分。一分臨臥時，細研如糊，酒調下便睡。先引出蟲，至五更時一服，次日辰時一服，並三錢藥末。久患者不過三服即愈。</p>
<p><u>黃耆圓</u>　治腸風瀉血。</p>
<p>呂大資宅經效方，石寺丞服後得驗。</p>
<p>黃耆　黃連（各等分）</p>
<p>上件藥為末，以麵糊為丸，如赤豆大，每服二三十丸，米飲下。</p>
<p><u>厚朴煎</u>　王嗣康為蔡昭先處此方，治積年下血。韓縣尉名楚卿傳，云乃尊主藏，服之作效。</p>
<p>厚朴（五兩，用生薑五兩，同搗開，於銀石器內炒，令紫色）　白朮（一兩）　大麥糵　神麯（二味各一兩，同炒紫色）</p>
<p>上為細末，白水麵糊為圓，如梧桐子大。疾作空心、米飲下一百丸，平時三五十丸。嗣康云：腸胃本無血，緣氣虛腸薄，自榮衛滲入。今用厚朴厚腸胃，神麯、麥糵消酒食，白朮導水，血自不作也。</p>
<p><u>荊芥散</u>　治脈痔下血。</p>
<p>荊芥穗　槐花（炒焦。各一兩）　石菖蒲（一兩半）</p>
<p>上為末，米飲調下二錢，食前服，日二。</p>
<p><u>白玉丹</u>　治久年腸痔下血，服百藥不效者。</p>
<p>凝水石（不以多少，煅紅，研細，水飛，再入銀鍋中煅）</p>
<p>上糯米糊丸，如梧子大，陳米飲下五十丸，只一服愈。</p>
<p><u>消毒圓</u>　治腸風外痔結核，或癢或痛。消毒定痛，令結核自散。</p>
<p>楊氏用此數方，治諸腸風痔漏，大有功效。</p>
<p>黃耆（一兩半，蜜塗，慢火炙）　荊芥穗（一兩）　枳殼（三兩，湯浸，去瓤，切作片子，麩炒黃色）　薄荷葉（去土，半兩）　槐花（一兩，炒赤）　皂角子仁（一兩，炒香）　蝸牛（十四枚，炙，去殼，焙乾）</p>
<p>上件為細末，煉蜜為圓，如梧桐子大，每服三十丸至五七十丸，茶清送下，食後。</p>
<p><u>聚金圓</u>　治大便下血，發熱煩躁，腹中熱痛，作渴喜妄，舌澀目昏，脈來弦數。多因蓄熱，或有酒毒，即此見證。</p>
<p>黃連（四兩。一兩水浸，曬乾；一兩炒；一兩灰火炮；一兩生用）　黃芩（一兩）　防風（去蘆頭，一兩）</p>
<p>上件為細末，煮麵糊為丸，如梧桐子大，每服五十丸，量意加減，以米泔浸枳殼水下，不拘時候。冬月入大黃一兩，三時不須。</p>
<p><u>北亭散</u>　治腸風、痔漏，積年膿血不幹。</p>
<p>白礬（別研）　乳香（別研）　黃連（去須。已上各一兩）　硇砂（半兩，別研）　全蠍（一錢，取末）</p>
<p>上件為末，用大鯽魚一枚，去腸、鱗，入藥末在內，濕紙裹，麻皮纏，鹽泥固濟。文武火煨熟，去泥紙，卻用慢火炙焦，同為細末。每服二錢，空心、粟米飲調下。</p>
<p><u>鳳眼草散</u>　治腸風下血。</p>
<p>鳳眼草（揀淨，即揀莢也）　褐油麻（水淘淨。二味各四兩）　枳殼（去瓤，二兩，麩炒）　輕粉（一字）</p>
<p>上件為細末，每服二錢，溫酒調下，米飲亦得，食前服。</p>
<p><u>地榆散</u>　治腸風下血不止。</p>
<p>地榆　訶子（煨，去核）　赤芍藥　橡斗子（各一兩）</p>
<p>上件為細末，每服二錢，陳米飲下，食前。</p>
<p><u>皂角子散</u>　治腸風、痔漏下血，經久不瘥者。</p>
<p>皂角子（一百枚，燒留性，研細）　榼藤子（一枚，金者，去殼，研，不可搗）</p>
<p>上件為細末，每服二錢，熱酒調下，如人行三五里，再飲熱酒，一盞投之。</p>
<p><u>蝟皮湯</u>　治腸風下血。</p>
<p>白刺蝟皮（一枚，於銚子內煿，針焦，去皮，只用針）　木賊（半兩，炒黃）</p>
<p>上件為細末，每服二錢，熱酒調下，空心服。</p>
<p><u>松皮散</u>　治腸風下血過多。</p>
<p>松木皮（就木上以刀刮去粗浮者，只取貼木嫩皮）</p>
<p>上銼細，焙令半乾，再入銚子內，慢火炒乾，為細末。每服一錢，入臘茶一錢，白湯點服，食前。</p>
<p><u>立聖散</u>　治年深日久腸風下血，或如雞肝，日夜無度，全不入食，通身黃腫者。兼治尿血。</p>
<p>黃連（去須，一斤）</p>
<p>上為細末，每服一錢，濃煎荊芥，蜜湯調下，空心、食前。</p>
<p><u>橄欖散</u>　治腸風下血，久不瘥者。</p>
<p>橄欖核（不以多少）</p>
<p>上件燈上燒灰，為細末，每服二錢，陳米飲調下，空心。</p>
<p><u>萬靈圓</u>　治五種痔漏。凡穀道生瘤似鼠奶，時時發動，或出血者，名曰酒痔，又曰冷痔；若生核子者，曰腸風；痔發時熱，大便難下，脫肛良久不入，名曰氣痔；大便或出清血，名曰血痔。此因濕地久坐，腸胃虛冷，搏結得之。</p>
<p>硫黃（二錢，別研）　白礬（枯，二錢）　豬牙皂角（半兩，炙）　附子（一兩，炮，去皮、臍）　皂角刺（一兩，燒留性）　刺蝟皮（一兩，燒留性）　榼藤子（一枚，生，廣中圓者，色如肥皂子）</p>
<p>上件為細末，煮稀麵糊為丸，如梧桐子大。每服二十丸，空心、溫酒下。如疤有頭者，用硃砂少許，同藥三五丸，一處細研，塗於頭上，旬日自落。又用米醋調藥三五丸，敷瘡上即愈。在裡面，即將米醋和糟，拌藥三兩丸，燒熏之。</p>
<p>治酒毒下血，多至升斗者。</p>
<p>盧州郭醫云：趙俊臣帥合肥日，其婿司馬機宜患此。服四物湯，每料加炒焦槐花二兩，如常法煎服，必止，久之不復作效。於一同官處得此方，遂安豶豬肚一枚，洗淨，入去須、土了淨黃連四兩，以酒、醋各二升半，文武火煮，候乾控起。將豬肚並黃連，一處研杵極爛，丸如梧桐子大。每服五十丸，米飲湯下。</p>
<p>治下血如豬肝片。</p>
<p>煎四順飲子下駐車丸，僧保俊患此，服而愈。</p>
<p>治下血。</p>
<p>漢陽章教授傳。</p>
<p>蔥須，新瓦上炒乾，碾為細末，每服三□，米飲調下，甚妙。</p>

<h1>卷之十三</h1>

<h2>胎產門</h2>
<p>治婦人胎前產後諸疾證候</p>
<p>大率治病，先論其所主。男子調其氣，婦人調其血。氣血，人之神也，不可不謹調護。然婦人以血為基本，氣血宣行，其神自清。所謂血室不蓄則氣和，血凝結則水火相形。月水如期，謂之月信，不然，血凝成孕，此乃調燮之常。其血不來，則因風熱傷於經血，故血不通。或外感寒，內受邪熱，脾胃虛弱，不能飲食，食既不充，榮衛抑遏，肌膚黃燥，面無光澤，發寒熱，腹脹作痛，難於嗣息。子臟冷熱，久而勞損，必挾帶下，便多淋□□□□漏。經云：腹中如塊，忽聚忽散，其病乃癥；血涸不流而搏，腹脹，時作寒熱，此成瘕也。或先後爽期，雖通而多寡。究疾之原，蓋本於此矣。</p>
<p><u>內補圓</u>　治妊娠，衝任脈虛，補血安胎。</p>
<p>此三方諸集皆載之，在人用之如何爾。大率婦人妊娠，唯在抑陽助陰。《素問》云：陰搏陽別，為之有子。蓋關前為陽，關後為陰，尺中之脈，按之搏手而不絕者，妊子也。婦人平居，陽氣微盛無害，及其妊子，則方閉經隧以養胎。若陽盛搏之，則經脈妄行，胎乃不固。《素問》所謂「陰虛陽搏，謂之崩也」。抑陽助陰之方甚多，然胎前藥唯惡群隊。若陰陽交雜，別生它病，唯是枳殼散所以抑陽，四物湯所以助陰故爾。枳殼散差寒，若單服之，恐有胎寒腹痛之疾，以內補圓佐之，則陽不至強，陰不至弱，陰陽調勻，有益胎嗣。此前人未嘗論及也。</p>
<p>熟乾地黃（二兩）　當歸（一兩，微炒）</p>
<p>上細末，煉蜜和圓，如桐子大。每服三四十丸，溫酒下。</p>
<p><u>益血四物湯</u>　治婦人榮衛氣虛，挾風冷，胸脅膨脹，腹中㽲痛，經水衍期，或多或少，崩傷漏下，腰腿痛重，面色青黃，嗜臥無力。安胎、止痛、補虛。</p>
<p>當歸　芎藭　熟乾地黃　白芍藥（各等分）</p>
<p>上為粗末，每服四錢，水一盞，煎至八分，去滓，溫服，不拘時候。</p>
<p><u>枳殼散</u>　此雖孫真人滑胎易產方，然抑陽降氣，為眾方之冠。</p>
<p>商州枳殼（二兩）　甘草（一兩）</p>
<p>上細末，每服二錢，百沸湯點服，空心、食前，日三服。凡懷孕六七月以上，即服，令兒易生。初生胎小，微黑，百日以後肉漸變白。</p>
<p><u>寧志膏</u>　治婦人因出血多，心神不安，不得睡，語言失常。</p>
<p>滕生色家方，極有效。</p>
<p>辰砂　酸棗仁　人參　茯神（去木）　琥珀（已上各一分）　滴乳香（一錢，別研）</p>
<p>上為細末，和勻，每服一錢，濃煎燈心、棗湯調下。</p>
<p><u>拱辰丹</u>　婦人當壯年而真氣猶怯，此乃稟賦素弱，非虛衰而然也。僭燥之藥，尤宜速戒。勿謂手足厥逆，便云陰多。如斯治之，不惟不能愈疾，大病自此生矣。滋益之方，群品稍眾，藥力微細，難見功效。但固天元一氣，使水升火降，則五臟自和，百病自去，此方主之。</p>
<p>行在孫琳郎中方。葛丞相夫人少年時服之，杲效。</p>
<p>鹿茸（酥炙，去毛、皮，四兩）　山茱萸（新好有肉，紅潤者，四兩）　川當歸（洗，去土，四兩）　麝香（半兩，別研）</p>
<p>上三件，為末，入麝香拌勻，酒煮麵糊為圓，如梧桐子大。每服一百粒或五十粒，溫酒、鹽湯下。</p>
<p><u>琥珀散</u>　治婦人月經壅滯，每發心腹臍㽲痛不可忍。及治產後惡露不快，血上搶心，迷悶不省，氣絕欲死。</p>
<p>此方許學士之秘方也。若是尋常血氣痛，只一服。產後血衝心，二服便下。常服尤佳。予前後救人急切不少，此藥易合，宜多合以救人。</p>
<p>荊三稜　蓬莪朮　赤芍藥　劉寄奴　牡丹皮　官桂　熟乾地黃　菊花　真蒲黃　當歸（干秤。已上各一兩，細銼）</p>
<p>上以前五味，用烏豆一升，生薑半斤，切片，米醋四升同煮，豆爛為度，焙乾，入後五味，同為末。每服二錢，溫酒調下，空心、食前服一方，不用菊花、蒲黃，用烏藥、延胡索亦佳。</p>
<p><u>桃仁煎</u>　治婦人血瘕，血積，經候不通。</p>
<p>此出《千金方》。頃年在毗陵，有一貴人妻，患小便不通，臍腹脹，不可忍，眾醫皆作淋治，如八正散之類，數種治皆不退，痛愈甚。予診之曰：此血瘕也，非瞑眩藥不可去。予用此藥，更初散，至日午，痛大作，不可忍。遂臥少頃，下血塊如拳者數枚，小便如黑汁者一二升，痛止得愈。此藥治病的切，然猛烈太峻，氣虛血弱者，更斟酌與之。</p>
<p>桃仁（去皮、尖，麩炒黃）　大黃　川朴硝（已上各一兩）　虻蟲（半兩，炒黑色）</p>
<p>上四味末之，以醇醋二升半，銀石器中慢火煎取一升五合，下大黃、桃仁、虻蟲等，不住手攪，欲圓下朴硝，更不住手攪，良久出之，丸如桐子大。前一日不用吃晚食，五更初用溫酒吞下五丸。日午取下，如赤豆汁、雞肝、蝦蟆衣。未下再作，血鮮紅即止。續以調氣血藥補之。</p>
<p><u>通經圓</u>　治婦人室女，月候不通，疼痛，或成血瘕。</p>
<p>徽州醫巫張擴，頃年緣事在推勘院。有王醫者，以醫職直宿，日夜與之捻熟，口傳此方，渠甚秘之。予後得此方，以治婦人疾，不可勝數，且欲廣行，不敢自秘。尋常血氣凝滯疼痛，數服便效。</p>
<p>桂心　青皮（去白）　大黃（炮）　乾薑　川椒　蓬莪　術　川烏　乾漆　當歸　桃仁（各等分）</p>
<p>上為細末，一兩為率。先將四錢米醋熬成膏，和餘六錢末成劑，臼中治之，丸如桐子大，晾乾。每服二十丸，用淡醋湯下，加至三十丸，溫酒亦得，空心、食前服。</p>
<p><u>艾煎圓</u>　治婦人一切虛寒，胎前產後，赤白帶下，或成血瘕，久服此藥，自然融化。</p>
<p>漢陽蘇司法孝祥傳，名次參。</p>
<p>伏道艾（揉去塵土，擇淨枝梗，取葉，秤五兩）　大淮棗（十二兩，砂瓶內水煮爛，去核，同艾葉一處搗爛如泥，捻成薄餅子，猛火焙乾）　漢椒（去目、枝梗併合□□□□□五兩，以阿膠二兩，米醋三升，同椒於沙瓶內，煮極干，取出，焙燥，碾為細末）　當歸（去蘆及用酒洗）　白芍藥（真白者）　熟乾地黃（如鋪上賣者，須淨洗，漉去浮者，曬乾。酒浸，蒸，曬。再入酒浸，蒸五十次如糖煎，香美方可用）　川芎　白薇　附子（大者，炮，去皮、臍）　卷柏（取青葉）　澤蘭（去枝、梗。已上各焙乾，秤）</p>
<p>上件同為細末，與前艾葉、椒末拌勻，米醋、麵糊為丸，梧桐子大。每服五七十丸至一二百丸，艾、醋湯，空心，食前服。</p>
<p><u>當歸散</u>　治婦人天癸過期，經脈不勻，或三四月不行，或一月再至，腰腹疼痛。</p>
<p>《素問》云：七損七益謂：女子七七數盡，而經脈不依時者，血有餘也，不可止之。但令得依時，不腰痛為善。</p>
<p>當歸　川芎　白芍藥　黃芩（各銼炒，各一兩）　白朮（半兩）　山茱萸（一兩半）</p>
<p>上細末，每服二錢，酒調下，空心、食前、日三服。飲冷，去黃芩，加桂一兩。</p>
<p><u>煮附圓</u>　治婦人室女，一切血氣，經候不調，臍腹㽲痛，面色萎黃，心忪乏力，腹脹脅疼，頭暈噁心，飲食減少，崩漏帶下，大腸便血，積聚癥瘕，並皆治之。若以其名，人人言之，耗氣不喜。此藥出訛之久，疑懼不肯服者甚多，殊不知獲效非常。古書所載婦人仙藥，不可輕忽。況修制相感，豈同日而語也，服之自顯其功耳。</p>
<p>出張氏方，極效。</p>
<p>香附子（不計多少，先擦去毛，淨用）</p>
<p>上以好醋煮出，焙乾，碾細末，煮醋糊為丸，如桐子大。每服三四十丸，米飲送下，不計時候。婦人數數墮胎，由氣不下降，所以胎氣不固，此藥尤妙。</p>
<p><u>生熟地黃散</u>　治婦人血隔。若血崩者，服之住；血隔者，服之效。</p>
<p>李秀傳此方，甚驗。</p>
<p>生地黃　熟地黃　甘草（炙）　柴胡　白芍藥　當歸　地骨皮　牡丹皮　延胡索　川芎（各一兩）</p>
<p>上為粗末，每服三錢，水一大盞，同古老錢一兩文，煎至熟，入麻油一兩點，候煎及八分，去滓熱服，空心、食前。忌魚腥之類。</p>
<p><u>十柔圓</u>　補治婦人氣血。</p>
<p>蔣簽判傳。</p>
<p>熟地黃（四兩）　當歸（二兩）　桂　蓯蓉（酒浸，無，以鹿茸代之）　紫菀　補骨脂　鹿角膠（炒）　柏子仁　熟艾（別研，酒熬膏）　白茯苓（各二兩）</p>
<p>上為細末，艾膏丸如梧桐子大。每服七八十丸，溫酒或米飲湯下。</p>
<p><u>蝟皮散</u>　治產後血氣中風，上喘燥渴，欲投入水者，宜服此方。</p>
<p>張氏傳，用之無不取效。</p>
<p>蝟皮　烏蛇　血餘（燒灰存性，為末，五錢）　自然銅（醋淬，三五片）　烏金石炭（各三兩）</p>
<p>上件藥，細研為散，每服一錢，和白散一錢，酒調下，立效。白散者，用近水岸乾枯蝸牛殼，淨去土，為細末，與前藥同調服。如大渴，新汲水調服尤妙。有積物及滯血，則用此散下後方杏仁丸子。</p>
<p>杏仁（去尖）　巴豆（各十四個，並於燈焰上燎存性，各燎七遍）　硇砂（一錢）　沒藥　木香（各半錢）　麝香（二字）　鯉魚鱗（燒灰，一錢）　肉豆蔻（末，一錢）</p>
<p>上件藥，搗羅為細末，用狗膽和丸，如綠豆大，臨時看虛實加減，隨散子下三五丸。</p>
<p><u>麒麟圓</u>　治婦人血風勞，體熱面黃，血刺，血塊，四肢少力，身體困倦，不思飲食，兼通經脈，極妙。</p>
<p>麒麟竭（三分）　穿山甲（七片，近上者，炙焦黃色為度）　乾漆（炒，令半生半熟）　硇砂（別研，如粉面細）　沒藥（研）　荊三稜（炮，別搗，為細末）　當歸（酒浸，細切，焙乾。以上各一兩）　巴豆（七粒，去皮、膜，出盡油）</p>
<p>上件除巴豆、硇砂、三稜末外，都一處搗，羅為末，後入以前三味，同研，令勻細，用醋煮麵糊為丸，如綠豆大，調荊三稜末，湯下。初服第一日吃四丸，二日五丸，三日六丸，第四日七丸，第五日八丸，第六日九丸。盡是空心，服之見效，大病半月安。</p>
<p><u>參附圓</u>　消腹內血塊。</p>
<p>大慶通監院方。</p>
<p>附子（兩個，炮，去皮、臍）　舶上茴香　益智仁　延胡索　陳橘紅　肉桂　蓬莪朮　川薑（各半兩）　乳香　白朮　人參　當歸　木香　白芍藥　沉香（各一兩）</p>
<p>上為細末，棗肉為圓，每服六十圓，米醋湯吞下，溫酒亦得。</p>
<p><u>薑蔥散</u>　治妊娠傷寒。</p>
<p>生薑（三十片）　蔥（十莖，連根拔）</p>
<p>上用水二大盞，煎八分盞服之。</p>
<p><u>縮砂散</u>　治妊娠吃顛，或閃肭著。</p>
<p>錢季毅傳。</p>
<p>縮砂仁</p>
<p>上去膜，熨斗內略炒，為細末，每服二錢，溫酒調下，不飲酒人，米飲調下，鹽湯亦得。</p>
<p><u>瓜蔞根散</u>　治胎死腹中。其證指甲青，漲悶舌青，甚者口中作屎臭。</p>
<p>郭宅心方，王順伯運使傳。</p>
<p>瓜蔞根</p>
<p>上一味焙乾，為細末，每服二錢，倒順水調下，一服取效。仍先備防暈茶藥。</p>
<p><u>催生丹　</u></p>
<p>孔世賢方，趙太叔方，同用之，累有神效。</p>
<p>蓖麻（十四個，去皮）　硃砂　雄黃（各一錢半）　蛇蛻（一尺）</p>
<p>上件為細末，漿水飯和圓，彈子大。臨產時先用椒湯淋泄臍下，次安藥於臍內，用醋紙數重敷藥，上以闊帛系之，須臾即生，急取下藥。一丸可用三遍。</p>
<p><u>下胎蛇蛻散</u>　治婦人生產不下，死胎在腹，橫生、倒生，胞衣不下，一切危急，神效。</p>
<p>史丞相方，蘇韜先傳。</p>
<p>蛇蛻（一條，全者，斷者不可用。以火箸挑起，令直，用麻油紙燃，從尾燒上，以乳缽接貯，研細，羅過。須要是雄者。牆頭或籬上者是）　燕翁窠（一個，泥須通透，兒出了者，研細）</p>
<p>上二件和勻，作一服。以無灰酒半盞暖熱，再以童子小便半盞浸（平）之，服下即分娩。</p>
<p><u>白朮散</u>　治妊娠氣不和，調飲食。</p>
<p>經云：飲食自倍，脾胃乃傷。又云：陰之所生，過在五味。陰之五宮，傷在五味。若妊子飲食不節，生冷毒物，恣性食啖，致脾胃之疾。故妊娠傷食難得藥，唯此方隱捷。</p>
<p>白朮（炒）　乾紫蘇（各一兩）　白芷（微炒，三錢）　人參（三錢）　川芎　訶子皮　青皮（各半兩）　甘草（一錢）</p>
<p>上細末，每服二錢，水一盞，姜三片，煎七分，不拘時候，溫服。</p>
<p><u>蓖麻膏</u>　治婦人生產數日而下，及胞衣、死胎不下者。</p>
<p>政和中一鄉人女子，產二日不下，予令漫試之一塗，俄頃便下。自後常用，極效。</p>
<p>蓖麻（七粒，去殼）</p>
<p>上研如泥，塗婦人足心，才下便急洗去。此崔元亮海上方，人但未知耳。</p>
<p><u>鹿屑湯</u>　治妊娠熱病，胎死腹中。</p>
<p>鹿角屑（一兩）</p>
<p>上用水一碗，蔥白五莖，豆豉半合，同煎至六分，去滓溫服。</p>
<p><u>靈脂散</u>　治婦人胞衣不下，惡血衝心。</p>
<p>五靈脂</p>
<p>上用揀擇砂石及鐵屑之類，一半炒，一半生，為細末，每服二錢，酒調下。</p>
<p><u>六物湯</u>　安胎和氣，治胎動不安，腰腿疼重，惡露頻下。</p>
<p>楊氏家藏此數方，並試驗者。</p>
<p>阿膠（蛤粉炒成珠子）　糯米（炒）　黃耆（蜜炙）　川芎　當歸（洗，焙）　熟乾地黃（洗，焙）</p>
<p>上六味。各等分，為㕮咀，每服三錢，生薑三片，蔥白一寸，同煎至七分，去滓，溫服、空心。</p>
<p><u>人參調中散</u>　調脾肺氣，治胸脅滿悶，四肢煩熱，及妊娠阻病，心胸注悶，嘔逆。可思飲食。</p>
<p>人參（去蘆頭）　甘草（炙。各半兩）　枳殼（麩炒，去瓤）　厚朴（薑汁製）　白朮　白茯苓（去皮。各一兩）　柴胡（去苗）　細辛（去葉、土）　藿香葉（去土）　陳皮（去白。各三分）</p>
<p>上件為㕮咀，每服三錢，水一盞，生薑三片，同煎至七分，去滓，溫服、食前。</p>
<p><u>赤茯苓散</u>　治妊娠惡阻，心胸煩悶，頭暈噁心，四肢昏倦，嘔吐痰水，惡聞食氣。</p>
<p>赤茯苓（去皮）　半夏（湯洗七遍）　陳皮（去白）　桔梗（去蘆頭）　熟乾地黃（洗，焙。各一兩）　白朮　川芎　人參（去蘆頭）　赤芍藥（各三分）　旋覆花　甘草（炙。二味各半兩）</p>
<p>上件㕮咀，每服三錢，水一盞半，生薑三片，煎至一盞，去滓，熱服，不拘時。</p>
<p><u>芎藭圓</u>　安胎，補衝任，止胎漏，調血脈，及療子臟風冷，腰腹疼痛，或久無子息，或妊娠損墜。</p>
<p>乾薑（炮）　附子（炮，去皮、臍）　山茱萸　續斷　川芎　白芍藥　蒲黃（各一兩）　生乾地黃（三分）　白朮　菟絲子（酒浸令軟，別搗）　肉蓯蓉（酒浸宿，切，焙）　黃耆（各二兩）</p>
<p>上件為細末，蜜糊為丸，如梧子大，每服三十丸，煎木香、熱米飲下，空心、食前。</p>

<h1>卷之十四</h1>

<h2>淋閉門</h2>
<p>治諸淋閉結證候</p>
<p>諸淋大率有五，曰冷，曰熱，曰膏，曰血，曰石。五種不同，皆以氣為本。多因淫情交錯，內外兼併，清濁相干，陰陽不順，結在下焦，遂為淋閉。</p>
<p><u>寬氣湯</u>　利三焦，順臟腑，治大便多秘。</p>
<p>孫盈仲傳。呂子厚右司，閣中服之有效。</p>
<p>香附子（六兩，須新沙盆內打令淨潔，焙乾，秤）　烏藥（二兩，去心，取肉，秤，須用真天台者）　縮砂仁（一兩）　甘草（一兩一分，炒）</p>
<p>上為細末，每服一大錢，濃煎橘皮湯下，不拘時候。此方比官局小烏沉湯加縮砂仁分兩不同。</p>
<p><u>蔥白阿膠散</u>　治老人、虛人大便不通。</p>
<p>吳內翰母夫人服之效。</p>
<p>蔥白（一條）　阿膠（一斤）</p>
<p>上先將蔥白以水煎，候蔥熟，不用，入阿膠溶開溫服。</p>
<p><u>皂角湯</u>　治風秘。</p>
<p>攢宮有一老人，患八九日不通，有木匠授以此方，只一服見效。</p>
<p>不蛀皂角（當中取一寸許，去黑皮）</p>
<p>上以沸湯半盞泡，上用盞蓋定，候通，口服之。先辦少粥，通後即食。</p>
<p><u>琥珀散</u>　治老人、虛人小便不通。</p>
<p>吳內翰方，陳彥修侍郎服驗。</p>
<p>琥珀</p>
<p>上研如粉，人參湯調下，一錢止。</p>
<p><u>瓜蔞散</u>　治腹脹，小便不通。</p>
<p>紹興劉駐泊汝翼云：魏蟇知明州時，宅庫之妻患此疾垂殆，隨行御醫某人治此藥令服，遂愈。</p>
<p>瓜蔞（不拘多少）</p>
<p>上焙乾，碾為末。每服三錢重，熱酒調下，不能飲者，以米飲下。頻進數服，以通為度。</p>
<p><u>蔥豉膏</u>　治大小便不通。</p>
<p>顏尚書方，屢驗。</p>
<p>連根蔥（蔥根不得洗）　淡豆豉（二十一粒）</p>
<p>上用鹽一捻，生薑一塊，胡桃大，同研令爛，炒溫，填臍內，以絹帛縛定，良久即通。</p>
<p><u>硫黃圓</u>　治腹肚脹痛，臟腑秘。</p>
<p>俞教授方，甚驗。</p>
<p>蒼朮　厚朴（薑汁炙）　陳皮（各一兩）　生好硫黃（二兩，用蘿蔔煎沸湯浴之三兩次）</p>
<p>上搗，羅為末，浸蒸餅糊為丸，如梧子大，每服三十丸、五十丸，日兩服，米湯下。</p>
<p><u>生附散</u>　治冷淋，小便秘澀，數起不通。竅中疼痛，憎寒凜凜，多因飲水過度，或為寒泣，心虛志耗，皆有此證。</p>
<p>附子（去皮、臍，生用）　滑石（各半兩）　瞿麥　木通（各三分）　半夏（湯洗七次，三分）</p>
<p>上為末，每服二大錢，水二盞，姜七片，燈心二十莖，蜜半匙，煎七分，空腹服。</p>
<p><u>石韋散</u>　治熱淋，多因腎氣不足，膀胱有熱，水道不通，淋瀝不宣，出少起數，臍腹急痛，蓄作有時，勞倦即發。或尿如豆汁，或便出砂石。</p>
<p>葉伯材處此數方，大有神效。</p>
<p>木通　石韋（去毛。各二兩）　甘草　王不留行　當歸（各一兩）　滑石　白朮　瞿麥　芍藥　葵子（各三兩）</p>
<p>上為細末，每服二錢，煎小麥湯調下，食前、日三。兼治大病餘熱不解，後為淋者。</p>
<p><u>地膚子湯</u>　治下焦有熱及諸淋閉不通。</p>
<p>地膚子（三兩）　知母　黃芩　豬苓（去皮）　瞿麥　枳實（麩炒）　升麻　通草　葵子（炒）　海藻（洗去腥。各二兩）</p>
<p>上為銼散，每服四錢，水一盞半，煎七分，去滓，空腹服。</p>
<p><u>立效散</u>　治血淋，多因下焦結熱，小便黃赤，淋閉疼痛，所出如血。或外挾風冷、風熱。或內傷志勞神，或房室過度，丹石發動。便鮮赤者，為風熱傷心；瘀血者，為風冷傷腎。及小便俱出血者。</p>
<p>麥穗（一兩）　甘草（炙，三分）　山梔子（炒，半兩）</p>
<p>上同為末，每五錢至七錢，水一碗，入連須蔥根七個，燈心五十莖，生薑五片，同煎至七分，時時溫服，不拘時候。經云血寒則瘀。此藥未必勻，治宜煎木通湯下麝香鹿茸圓、菟絲子圓等。所以《養生方》云：不可專以血得熱則淖溢為說。於理甚明，不復詳引。</p>
<p><u>沉香散</u>　治氣淋。多因五內鬱結，氣不得舒，陰滯於陽，而致壅閉。小腹脹滿，使溺不通，大氣分泄，小便方利。</p>
<p>沉香（不焙）　石韋（去毛）　滑石　王不留行　當歸（炒。各半兩）　葵子（炒）　白芍藥（各三分）　甘草（炙）　橘皮（各一分）</p>
<p>上為細末，每服二錢，煎大麥飲調下，飲調亦得，食前。</p>
<p><u>霹靂煎</u>　治大便不通，累服轉藥不能通者。</p>
<p>出張仲景經驗方。</p>
<p>好蜜（一匙頭）</p>
<p>上於銚內熬，不住以匙攪，次下鹽一錢，成膏。以匙刮出，急手擀之，如小棗、大蓮子形，放冷自硬。先以溫水浴下部，次用油塗藥丸子，深內入穀道中。如人行三里，取下腹內積聚惡物，便與承氣湯、散吃。如一丸未透，再用一丸，如三丸不通，是臟氣絕也。</p>
<p><u>子芩散</u>　治血淋。</p>
<p>甘草　芎藭　伏龍膽（乃灶下黃土是也。已上各一兩）　子芩　赤芍藥（以上各二兩）</p>
<p>上件藥，粗搗，羅，用水一升，藥半兩，煎至七合，分三服，去滓，溫服。一日服盡，以變色為大效。</p>
<p><u>石韋飲子</u>　治氣淋，小遺澀痛。</p>
<p>石韋（湯浸，刷去皮，一兩）　瞿麥（一兩）　木通　陳橘皮（三分，去瓤，炒）　茯苓　芍藥　桑白皮（以上各三分）　人參（二分）</p>
<p>上件藥，杵，羅為細末，每服二錢，入生薑一分，水一大盞，煎至七分，溫服，早食後、臨臥各一服，忌冷物。</p>
<p><u>蠟丸子</u>　治淋經效方。</p>
<p>黃蠟（二兩，淨，銚子內化）　木香　肉豆蔻（各一分，為細末）　硇砂（半兩，研，水飛，去砂石）　燈心（二束子，寸切）</p>
<p>上件藥末，並燈心，併入蠟油銚子內，鐵箸攪，候煙盡（煙青細便可），放冷取出，丸如梧桐子。以溫酒調舶上茴香末一錢下。每服三丸，炒燈心，欲煙盡，然後入三味藥，更炒移時，候稍冷，丸之。</p>
<p><u>大效香枳湯</u>　治大腸秘澀，調風順氣，宜服此方。</p>
<p>枳殼（一兩，去瓤，麩炒）　防風（一兩）　甘草（半兩，炙）</p>
<p>上三味並搗，羅為細散，每服二大錢，百沸湯點服，空心、食前各一服。</p>
<p><u>麻皮散</u>　治熱淋，小腹脹滿急痛。</p>
<p>麻皮（一兩）　甘草（三分，炙微赤）</p>
<p>上件細銼，水二大盞，煎一盞三分，去滓，食前分三服。</p>

<h2>發背門</h2>
<p>治發背、癰疽證候</p>
<p>發背、癰疽者，該三因而有之。論云：癰疽、瘰癧，不問虛實、寒熱，皆由氣鬱而成。經亦云：氣宿於經絡，與血俱澀而不行，壅結為癰疽，不言熱之所作而後成癰者，此乃因喜怒憂思，有所鬱而成也。又論云：身有熱破，風冷搏之血脈，凝泣不行，熱氣壅結而成；亦有陰虛，陽氣湊襲，寒化為熱，熱成則肉腐為膿者，此乃外因寒熱、風濕所傷而成也。又服丹石及炙煿、酒面、溫床、厚被所致；又盡力房室，精虛氣竭所致者，此乃因不內外，所傷而成也。故知三因備矣。</p>
<p><u>千金內補散</u>　治癰疽、發背，惡肌不盡，服此消肌生肉。</p>
<p>近胡丞得一方，甚寶秘之，持以獻洪丞相，丞相與之作序，言重於世已遍行矣。其方乃此方也，添黃耆，加人參，減桂。間有輕者，服之稍效。若真癰疽，為害反甚。內補散當用在第四節，當前服內消等藥，俟膿盡方得投。苟專用之，亦所謂守一法也。孔子不嘗未達之藥者，良有旨哉。士夫當深味斯言，無輕信醫方，誤天下後世，謹之。</p>
<p>當歸　桂心（各二兩）　人參　川芎　厚朴（薑製，炒）　防風　甘草（炙）　白芷　桔梗（各一兩）</p>
<p>上為末，每服二錢匕，酒調，空腹服。不能飲酒，以木香湯調下。</p>
<p><u>鹿樸散</u>　治腦疽、發背、腎癰、奶癰，一切瘡腫等疾。</p>
<p>詹判院傳。</p>
<p>鹿樸（在處人取其葉，搗汁投溪潭中以醉魚。江西人謂之魚酩草，紹興人謂之鹿木）</p>
<p>上臘中取根搗、銼，為㕮咀，每服三四大錢，無灰酒一大盞，煎至七分盞，去滓，空心、食前帶熱服。忌蔥、醬、酒等。煎時不得犯銅、鐵器。病深者，日進三四服，並不用膏藥貼。無問男子婦人、癃老幼小、遠年近歲、體虛氣實，一切瘡腫，凡在身者，種類殊異，悉皆治之。已潰，膿自出；未潰，毒自消；不耗真元，不動臟腑。入少甘草、石薜荔同煎尤佳。有娠婦人不可服。</p>
<p><u>瓜蔞酒</u>　治一切癰疽、發背、瘡腫，治便毒最效。</p>
<p>韓市舶寧道方。此即淮西趙參議所傳劉鵬察院萬金散。東平陳彥哲有序，多不復錄。如大便秘澀，可服拔毒黃耆散。</p>
<p>大甘草（半兩，為粗末）　沒藥（一分，研）　大瓜蔞（一個，去皮，切）</p>
<p>上三物，用無灰酒三升，熬至一升，放溫頓服之。如一服不盡，分三服。連進屢有神效。</p>
<p><u>粉草湯</u>　治穀道前後所生癰，謂之懸癰。</p>
<p>韶州醫人劉從周方，林謙之祭酒傳。</p>
<p>粉草（好者一兩，四寸截斷）</p>
<p>上以溪澗長流水一碗，井河水不可用，文武火慢慢蘸水炙之。約自早至午後，炙水令盡，不可急性。擘甘草心覺水潤，然後為透，細銼，卻用無灰酒二小青碗，入上件甘草煎至一碗，溫服之一二服，便可保元。虞此病初發，如松子大，漸如蓮子，數十日後始覺赤腫如桃李，即破。若破則難治，服此藥雖不能急消，過二十餘日必消盡矣。投兩服亦無害。林判院康朝嘗患此癰已破，服此藥兩服，瘡即合，甚妙。</p>
<p><u>阿膠散</u>　治癰疽、發背。</p>
<p>湯壽資云：光州有人患腎癰，大小便皆秘，甚以為苦。本州胡判官令以此方云：凡瘡腫皆可服，不計多少，以臟腑通利為度。</p>
<p>牛皮膠（明淨者，不以多少）</p>
<p>上炭上燒成黑灰，研極細，每服五錢，以米飲調下，服至二兩許方通。所下者皆穢惡物，癰腫遂消，不復出膿。</p>
<p><u>仙翁指授散</u>　徐仙芝，圓者為陰，方者為陽，陰陽對生，面青背紫，莖紫黑色，根盤如蜈蚣，四葉對芳，五月而花，有花無實，凌冬不調。叢秀異於他草，生於深山、大澤、水石之間，採以五月五日。採訖擇根令齊，便於急水中擺去砂土，掛於微帶風日處，不可令把束重疊，恐爛不佳而氣味無力。方圓各收一處，不可相雜。既干，臨時用方圓與兩根各作一苞，無令差誤。每用磨子磨之，不得近鐵。再三取極細為度。忌僧尼、婦人、孝子、雞犬，一切厭穢見之。揀天德、月德、天醫或七月七日吉日合之。如此法則，其驗如神。尋常疏縱不依此法，但功效差遲耳。方具於後。</p>
<p><u>殺毒定瘡敷散</u>　（初入門下第一服）</p>
<p>用釅醋調根敷其頭，圓者敷其右，方者敷其左，一個時辰當住痛而不住，加一服，又不住，可加後藥</p>
<p>仙芝根葉（共一兩半）　櫸寄生（半兩）　夜明砂（一分，准前厚調敷之）</p>
<p>風毒甚極加</p>
<p>趙侯須（一兩，《本草》名敗醬）　絲瓜（半兩，生者佳，冬月無，可霜前收，臨時術之以敷。生者則細切，石臼中研，絞汁，以一盞當一兩，不用醋調，只用汁調更佳。此物亦有陰陽，長者為陽，短肥為陰，可偶用之）</p>
<p>如煙漿沸潑，風毒火丹甚者，可加</p>
<p>夜明砂（服通前半兩）　真牛黃（一字）　犀角（水磨盡半錢，不然細末之）</p>
<p>准前不用醋調，以絲瓜汁、犀角水調敷。</p>
<p><u>服食仙翁指授散　</u></p>
<p>仙芝（四兩，方圓根莖、枝葉對用。謂如個多，則宜多圓；個少，准常法）　絲瓜（一兩）　夜明砂（一分）</p>
<p>每用三大錢，溫酒調下，病在上者，先食後服。凡毒盛者，加</p>
<p>趙侯須（一兩）　犀角末（半錢）</p>
<p>每三錢酒下，飲酒悶者，木通湯下。</p>
<p>如煙漿者，加</p>
<p>牛黃（一錢）　赤茯苓（半錢）</p>
<p>上用酒下。</p>
<p><u>老翁神杖散</u>　櫸柳樹上老寄生藤，自地下量起，與人額齊，以下者不用，以上者取七尺。如無，取三尺六寸，每條皆如此。若只一藤一枝，則止一藤；二枝取二。吉日採，無令人多見。採歸，以瓷片子輕手刮去外黃皮不用，再以片刮中白肉，直見骨心，乃不用，取訖。以瓦上微慢火焙乾，磨子磨之。五月五日尤佳。</p>
<p>寄生（一兩）　夜明砂（一分）</p>
<p>上為細末，二錢溫酒調下，催服。依仙芝式敷藥如前，以醋調絲瓜汁尤佳。</p>
<p><u>玉女飛花散　</u></p>
<p>蜀桑根（大者，即芫花根，不磨，木臼搗用）</p>
<p>上五月五日採，輕輕水中洗去土，燒淡醋令沸，以花根於醋中一走過，覺色變白，如寄生法取之，當日採當日合。刮令極細，須用利瓷片，而慢手乃可。每服一字，溫酒一大盞，放藥於盞面上，良久花飛開，下。日催如入門式，敷以絲瓜汁，調醋亦可。</p>
<p><u>趙侯須散　</u></p>
<p>趙侯須（一大握，乾者，四兩為一服）　苦辣回根（七寸）　甘草節（三寸）　乳香（一錢）　穿山荷根（七寸，蒲桃藤根）</p>
<p>上生搗，為粗末，煎，去滓，乾者為細末。上件為一劑，分三服。每服用好酒三升半，煎七分。三服敷，酒調依上方。</p>
<p><u>黃真君妙貼散　</u></p>
<p>硫黃（好者，不以多少）　乳香（半兩）</p>
<p>上用蕎麥麵為窩子，包黃在內，於三斤熟火中煅，令黃黑，取出，入乳香研細，用井花水調，以熟絹剪如腫樣貼之，留竅，日兩易。</p>
<p><u>如聖青龍散</u>　治發背，如初覺背上有瘡癤，不以大小，或疼或癢，無頭，內攻向里，腫硬，如湯火燒，燥渴，不思飲食。</p>
<p>王史經驗方。</p>
<p>薜荔葉（小者取一握）</p>
<p>上用新水一碗，於瓷器中煎十餘沸，放溫。臨臥一服，兩銀盞許。如未解熱燥，再一服，下瘡根惡物為應。</p>
<p><u>聖效散　</u></p>
<p>潘氏方，治癰背累有效。</p>
<p>黃檗末（一兩，炒，令變色微紫）　熟乾地黃末（三錢，略炒）　檳榔末（三錢）　木香末（二錢，同上二味炒，令微黃色）</p>
<p>上勻為細末，如大膿已盡，即更入雞內金二錢，令生肌也。</p>
<p><u>黃耆湯　</u></p>
<p>常器之方。</p>
<p>黃耆（一兩）　桔梗（一兩）　甘草（一兩）　藿香葉（三錢）　青皮（半兩，不去白）　乾葛（半兩，如不渴，減半）　瓜蔞根（三錢，如不渴，減半）</p>
<p>上為粗末，每服四錢匕，水一盞半，煎至一盞，頻頻服之，氣弱人細呷。</p>
<p><u>乳香散</u>　治發背內潰，及諸惡毒衝心，嘔，痛，三兩服救一命。凡瘡日，宜一兩服，內托毒氣，使出外不內攻。</p>
<p>予嘉祐庚子赴官南宮，舟過彭門，郡守兵部寇公以中伏日，召會於府園。是時家人左腋下苦大瘡，舟中隘熱，亟欲解行，以是白公，不待終席獨去。公曰：凡瘡血滯，耳聽自潰，勿過砭治。若毒內行，為煩嘔，此候最惡。其家有乳香散，非能治瘡也，能反毒之入為嘔者也。因出十餘匕見遺，服之即效。</p>
<p>真綠豆粉（四兩，研）　乳香（光明者一兩，於水中坐乳缽，研細）</p>
<p>上二物，再同研極細，每服一錢，新汲水調下，水不用多，要藥在胸膈也。</p>

<h1>卷之十五</h1>

<h2>血疾門</h2>
<p>治吐血、衄血、咯血證候</p>
<p>人稟二氣，不可偏枯。一有勝之，即致妄行。攝生之序，榮衛為先，調護相濟，無令參差。經云：諸氣皆屬於陽，諸血皆屬於陰。陰盛則陽虧，陽盛則陰虧。所謂陽勝則陰病，陰勝則陽病。吐衄、便溺乃陽氣侵陰，陰氣被傷，血失常道。</p>
<p><u>白朮散</u>　治吐血、咯血，行榮衛，順氣止血，進食退熱，惟忌食熱面、煎煿、海物、豬雞，一切發風之物。酒不宜飲，食不宜飽，常令飢飽得所自然，胸膈空利，氣血流順也。</p>
<p>蘇少連病此，極可畏，百藥不效。偶姜孚言通判傳此方，服之遂愈。後以濟人，累驗。韜光傳。</p>
<p>白朮（二兩）　人參　白茯苓（去黑皮）　黃耆（各一兩）　山藥　百合（三分，去心）　甘草（炙。各半兩）　前胡（去蘆）　柴胡（去蘆。各一分）</p>
<p>上為散，每服一錢半，水一盞，姜三片，棗一個，同煎至六分，溫服、日三。</p>
<p><u>立效散</u>　治吐血。</p>
<p>辛大參企李之孫佑之，為鄂州戶部糧料院，家藏之方，幾療十餘人矣。專錄以相示，真可寶也。</p>
<p>側柏葉（焙乾，如倉卒難乾，以新瓦置火上，摘葉於瓦內煿干亦得）</p>
<p>上為細末，米飲調下二三錢，兩服即止，多服亦無害。</p>
<p><u>雙荷湯</u>　治卒暴吐血。</p>
<p>張氏處此方，累有神效。</p>
<p>藕節（七個）　荷葉頂（七個）</p>
<p>上二味用少蜜同擂細，水二錢，煎八分，去滓，食後服。</p>
<p><u>萬金散</u>　治咯血。</p>
<p>槐花（揀淨）</p>
<p>上為末，每服二錢，熱酒調下，食後服。</p>
<p><u>青杏餅</u>　治吐血，及久嗽、咯血，不問久新。</p>
<p>杏仁（去皮尖，擂細）　青黛（研）　牡蠣（煅，研）</p>
<p>上等分，和勻，熔黃蠟，攪，放溫，捏成餅，如棋子大。每服二餅，用乾柿去核，入藥在內，濕紙裹煨，嚼細，齏水度下，不以時候。</p>
<p><u>水五散</u>　治男子、婦人咯血、吐血。</p>
<p>寒水石（燒通紅）　五倍子（生用）</p>
<p>上等分，為細末，每服二錢，冷米飲調下，食後服。</p>
<p><u>奪命丹</u>　治吐血。</p>
<p>竹蛀屑</p>
<p>上每服二大錢，用無灰酒調下。如不飲，用白茅根煎湯調下，不以時候。</p>
<p><u>黃金散</u>　治吐血損肺，伏暑，小便遺血，勞嗽咯血，誤服蠱毒。</p>
<p>黃蜀葵花</p>
<p>上不以多少，陰乾，為末。每服一大錢，入麝香少許，百沸湯略濕，食後服，不過兩服。</p>
<p><u>黑神散</u>　治大吐血，及傷酒食飽，低頭掬損，吐血至多，並血妄行，口鼻中俱出，但聲未失，無有不效。</p>
<p>百草霜（若村中燒草，偏底煤最妙）</p>
<p>上不拘多少，羅細。每服一錢，糯米煎湯調下。鼻衄，搐一字；皮破出血，灸；瘡出血，摻上立止；治舌忽然腫破，乾摻。</p>
<p><u>蓮子湯</u>　治勞心吐血。</p>
<p>孫盈仲說，臨安張上舍曾以此治數人，得效。</p>
<p>蓮子心（七個）　糯米（二十一粒）</p>
<p>上為末，酒調服。</p>
<p><u>地黃膏</u>　治吐血。</p>
<p>葛察判閣中苦此疾，百藥皆試。得此方，服之取效。後雖發，屢驗。</p>
<p>生地黃（一斤）　附子（一兩，炮，去皮，細切）　乾山藥（三兩）</p>
<p>上將地黃洗淨，細搗，取汁，其滓再入好酒少許，又取汁，令盡。將附子切作片子，入在地黃汁內，用銀石器熬成膏，其附子取出焙乾，更用山藥同為細末，卻以地黃膏子和成劑，木臼內杵一二千下，丸如梧桐子大。每服三十丸，漸漸加至五十丸。米飲、空心下，神效。</p>
<p><u>地黃湯</u>　治妄行吐血。</p>
<p>張裁衣傳。其子病，服此即止，屢作屢效。</p>
<p>熟地黃（洗去土，焙乾）</p>
<p>上為細末，用好真京墨、新汲水磨半盞來許，分作二服，調熟地黃末服之。</p>
<p>墨須用松煙者。</p>
<p><u>固榮散</u>　治吐血、便血。</p>
<p>王醫師方，鍾允中鈴轄傳。</p>
<p>真蒲黃（炒，一兩）　地榆（去蘆，一兩）　白芷（半兩）　甘草（炒，三錢）</p>
<p>上細末，每服三錢，溫湯調。氣壯人加石膏半兩。</p>
<p><u>止衄散</u>　治氣鬱發衄，無比神方。</p>
<p>黃耆（六錢）　赤茯苓　白芍藥　當歸　生乾地黃　阿膠（炙。已上各三錢）</p>
<p>上為細末，煎黃耆湯調下二錢匕。未知再作。</p>
<p><u>二灰散</u>　治肺癰、吐血並妄行。</p>
<p>紅棗（和核燒存性）　百藥煎（煅。各等分）</p>
<p>上為細末，每服二錢，米湯調下。</p>
<p><u>紫金丹</u>　治暴中咯血。</p>
<p>新綿灰（蒲抄，一錢）　漢防己（一兩，為末）　甘草（半兩，炮，為末）　阿膠（半兩，炙，為末）　麝香（半錢，細研）　乳香（少者）</p>
<p>上件藥和合令勻，滴水為丸，如雞頭大，臨臥時臘茶吞下一丸。</p>

<h2>中毒門</h2>
<p>治中諸毒證候</p>
<p>江南、閩中山間人以蛇虺、娛蚣、蜒蚰、蝦蟆等百蟲同器蓄之，使其自相食啖，勝者為靈以事之。取其毒，雜以菜果、食之類，以害人，妄意要福，以圖富貴。人或中之，證狀萬狀，廣如治百蠱說；或年歲聞人多死。又有人家香火奉事如家先者，亦謂之蠱能病人。世謂之蠱，注以姓類，屬五音，謂之五蠱。此皆邊鄙邪僻之地，多有此事，中都則蔑聞也。</p>
<p>夫中蠱毒者，令人心腹絞痛，如有物齧，吐、下血皆如爛肉，若不即治，食人五臟即死。驗之令病，唾水沉即是蠱。有人行蠱毒以病人，若欲知其姓名者，以敗鼓皮燒作木，飲服方寸匕。須臾，自呼蠱家姓名，可語，令呼喚將去則愈，治之亦有方。</p>
<p><u>丹砂圓</u>　治蠱毒。從酒食中著者，方端午日合。</p>
<p>辰砂（別研）　雄黃（別研，水飛）　赤腳蜈蚣　續隨子（各一兩）　麝香（一分）</p>
<p>上為末，糯米飲為丸，如雞頭大。若覺中毒，即以酒下一圓，蛇蠍所螫，醋磨塗之。</p>
<p><u>犀角飲子</u>　解丹石藥毒。</p>
<p>楊氏處此數方，累用有神效。</p>
<p>犀角（鎊）　知母　防風（去蘆頭）　甘草（四味各半兩）　山梔子　杏仁（去皮、尖）　蔓荊子　地骨皮　白茯苓（去皮。各一兩）　黃芩（一兩半）　柴胡（去苗，二錢）</p>
<p>上件㕮咀，每服五錢，水一盞，煎至七分，去滓，溫服。</p>
<p><u>解毒圓</u>　解一切飲食毒，及諸藥毒，並療溺死、縊死、磕死，或湯燙火燒，氣已絕，但心頭微熱者，皆可治。</p>
<p>五倍子（三兩）　大戟（一兩）　山慈姑（半兩）　板藍根（半兩）　續隨子（去皮，一兩）　麝香（一錢，別研）</p>
<p>上件為細末，研勻，水煮糯米糊為丸，每一兩作一十丸，陰乾。用雄鴨頭血為衣，候經宿，布袋掛當風處。每服一圓，熱酒磨下。</p>
<p><u>化毒散</u>　治中藥毒，吐血，或心痛，或舌尖微黑，口唇裂，嚼豆不腥者是。</p>
<p>巴豆（一枚，去皮、心、膜，細研）　黃丹（半錢）　雄黃（一字，同細研）</p>
<p>上用烏雞子一枚，煎盤內煎成餅，摻藥在上，卷為筒子，臨睡一服，爛嚼，茶清送下，當夜取下毒。</p>
<p><u>備急散</u>　解中藥毒，煩躁，吐血，口內如針刺。</p>
<p>白礬（一兩）　草茶（一兩）</p>
<p>上件為細末，每服三錢，新汲水調下。此藥入口，味甘而不覺苦者，是中毒也。</p>
<p><u>甘粉散</u>　解一切藥毒。</p>
<p>甘草二兩，生，銼碎，用水三碗，煎至一碗，去滓，入綠豆粉一合，折勻。再煎數沸，入蜜半兩，溫服。</p>
<p><u>白豆散</u>　解一切藥毒。</p>
<p>白扁豆，生，曬乾，為細末，新汲水調下二三錢匕。</p>
<p>吳內翰《備急方》云，全椒醫高照一子，原賴父笞之，遂服砒霜自毒，大渴利，腹脹欲裂。余教照令服此藥，以水調，隨所欲飲，與之不數碗，即利而安。</p>
<p><u>菖蒲散</u>　解蠱毒。</p>
<p>張知府叔潛云：平生用此甚驗。</p>
<p>上菖蒲一味，切，焙乾，為細末，以甘草煎湯調下，不計時候服，以病退為度。叔潛居官，每施此藥。</p>
<p><u>草豆散</u>　解砒毒。</p>
<p>葉春方。</p>
<p>白扁豆，不以多少，為細末，入青黛等分，細研。再入甘草末少許，巴豆一枚，去殼，不去油，別研為細末。取一半入藥內，以砂糖十大塊，水化，間添成一大盞，飲之。毒隨利去後，即服五苓散之類。</p>
<p><u>木香餅</u>　治食蟹反惡。</p>
<p>陳正卿雲：頃年與一承局同航船，承局者為舟中人言，嘗為官司差往昌國，見白蟹不論錢，因買百金，得數十枚，痛飲大嚼，且食紅柿。至夜忽大吐，繼之以血，昏不醒，人病重殆。同邸有知其故者憂之。忽一道人云：惟木香可解。但深夜無此藥，偶有木香餅子一貼，試用之。病人口已噤，遂調藥灌，即漸漸蘇，吐定而愈。</p>
<p><u>陳土湯</u>　治中毒。附子、河豚、烏頭之類，一切藥毒皆可治。劉醫方，袁司法同。</p>
<p>上用多年壁土，熱湯泡，攪之令濁，少頃，乘熱去腳取飲，不省人事者，灌之甚妙。</p>
<p><u>解毒散</u>　不以是何毒藥，服之，蟲皆吐出，神效。</p>
<p>石菖蒲　白礬</p>
<p>上等分，為末，新汲水調下二錢，不過兩服必效。</p>
<p><u>黃連湯</u>　解巴豆毒。</p>
<p>飲生油即解。又，煎黃連湯服亦解。</p>
<p><u>酸米醋</u>　解砒毒。</p>
<p>釅米醋多飲之，吐出毒即解，不可飲水。</p>
<p><u>甘草湯</u>　治中諸藥毒。</p>
<p>生甘草　黑豆　淡竹葉</p>
<p>□□□□□服之。</p>
<p><u>白芷散</u>　治□□咬。</p>
<p>先以麻繩扎傷處兩頭，次用香白芷細末□之，以多為妙。仍以新汲水調下半兩許，毒氣自消。一方用熱酒調下。諸方皆用麥門冬水，蓋欲先護心氣也。</p>
<p><u>麝香散</u>　治蛇傷及蜈蚣、蠍螫，諸毒蟲咬方。</p>
<p>麝香（少許，研）　乾薑　雄黃（研）</p>
<p>上等分為細末，用津唾點，時擦患處，痛即止。</p>
<p>又方</p>
<p>用艾灸咬處，五壯或七壯，其痛立止。此二方妙甚。</p>
<p><u>貝母散</u>　治蛇傷及一切惡蟲所傷已死，但有微氣，可以下藥即活，神效不可言。</p>
<p>貝母為末，酒調，令病者儘量飲之，飲不得即止。頃之酒目傷處，為水流出，水盡為度，卻以貝母滓塞瘡口，即愈。</p>
<p>蘇韜光寓婺州城外魁星館，有人書此方於壁間，云此方神妙。與前香白芷方並書之。韜光屢以救人，皆驗。</p>
<p>治蜈蚣傷極妙，甚者不過兩枚。</p>
<p>取大蜘蛛一枚，放所咬處，令收其毒。趙參議、陳寺亟、錢文子皆云之。初亦不信，親曾用之，既齧痛，果即定。蜘蛛雖著身稍遠，必徑尋其處而齧之，漸覺腹脹，蓋為毒氣所攻。須急投水中，不爾即死。</p>

<h1>卷之十六</h1>

<h2>咽喉門</h2>
<p>治咽喉諸病證候</p>
<p>夫喉以候氣，咽以咽物。咽接三脘，以通胃；喉通五臟，以系肺。氣谷攸分，皎然明白，有為水喉、谷喉之說者，謬說也。千金復云：喉嚨候脾胃，咽門候肝膽，亦非至論。智者當以理推，不可強存乎人矣。諸臟熱則腫，寒則縮，皆使喉閉。風燥亦然。五臟久咳則聲嘶，嘶者，喉破也，非咽門病。咽腫則不能吞，干則不能咽，多因飲啖辛熱，或復嘔吐、咯傷，致咽系乾枯之所為也，與喉門自別。又有懸雍暴腫，閉塞喉嚨，亦如喉閉。但懸雍在上齶，俗謂「鶯翁」，又謂之「鵝聚」。俗語聲訛，不可不備識。</p>
<p><u>玉鑰匙</u>　治風熱喉痹，及纏喉風。</p>
<p>葉伯材用此數方，累有神效。</p>
<p>焰消（一兩半）　硼砂（半兩）　腦子（一字）　白殭蠶（一分）</p>
<p>上為末，研勻，以竹管吹半錢許，入喉中立愈。</p>
<p><u>神效散</u>　治喉閉熱腫，語聲不出。</p>
<p>荊芥穗（別為末）　蓖麻（生，去皮，另研。各等分）</p>
<p>上入生蜜少許，圓如皂子大，以綿裹含化。急則嚼化。一法用朴硝，不用荊芥。</p>
<p><u>玉屑無憂散</u>　治纏喉風，咽喉疼痛，語聲不出，咽物有礙。或風涎壅滯，口舌生瘡，大人酒症、小兒奶癖。或誤吞骨屑，哽塞不下。</p>
<p>玄參　貫眾　縮砂仁　滑石　山豆根　黃連　甘草　荊芥穗　茯苓（各半兩）　硼砂（三錢）　寒水石（煅，三錢）</p>
<p>上為末，每服一錢，先抄入口，以新水嚥下。此藥除三尸，去八邪，殺九蟲，闢瘟療渴。</p>
<p><u>荊芥湯</u>　治風熱肺壅，咽喉腫痛，語聲不出，喉中如有物哽，咽之則痛甚。</p>
<p>荊芥穗（半兩）　桔梗（二兩）　甘草（一兩）</p>
<p>上為銼散，每服□□，水一盞，姜三片，煎六分，去滓，□服。一法去荊芥穗，名「如聖湯」。</p>
<p><u>解毒雄黃圓</u>　治纏風及急喉痹，卒然倒僕，失音不語。或牙關緊急，不省人事，或上膈壅熱，痰涎不利，咽喉腫痛。</p>
<p>雄黃（飛，一分）　鬱金（一分）　巴豆（去皮，出油，二七個）</p>
<p>上為末，醋糊，圓綠豆大，熱茶清下七丸。吐出頑痰立省，未吐再服。如未至死，心頭尚溫，灌藥下喉，即活。</p>
<p><u>龍腦散</u>　夫咽喉卒腫痛者，由人臟腑充實，肺脾暴熱之所致也。或有服餌丹石，毒氣在臟，熏蒸上焦，而又多食炙煿、熱酒，衝於脾肺，致胸膈壅滯，氣道痞澀，熱毒之氣，不得宣通，故令咽喉卒腫痛也。</p>
<p>孫氏用此數方治咽喉之病，大有神效。</p>
<p>龍腦（一分，研）　硃砂（三分，研細）　犀角屑（三分）　真珠末（半兩，研）　馬牙硝（一兩，研）　白藥子（三分）　黃耆（半兩，銼）　甘草（半兩，細銼）</p>
<p>上件八味細杵，研令勻。每服二錢，新汲水調下，不計時候。</p>
<p><u>牛蒡湯</u>　治咽喉生瘡。夫咽喉者，脾胃之候。由脾胃間熱，其氣上衝咽喉，所以生瘡。其瘡白頭，或赤根，皆熱毒之所致，宜用此方。</p>
<p>桔梗（一兩）　甘草（一兩，生用）　牛蒡子（一兩，微炒）</p>
<p>上為粗末，每服三錢，水一中盞，入青竹茹一分，同煎至六分，去滓，不計時候，溫溫細呷服。</p>
<p><u>金露丸</u>　夫屍咽喉者，謂人腹內屍蟲上蝕於咽喉而生瘡也。此皆陰陽不和，脾肺壅滯，風熱毒氣在於臟腑，不能宣通，故令屍蟲動作，上蝕咽中，或痛，或津如䘌之候者是也，宜服此方。</p>
<p>硃砂（一錢）　白礬（一分）　甘草（生，為末，半兩）　鉛霜（一錢）　麝香（一錢）　大陰玄精石（一分，研末）　蛇蛻皮（三條，全，去頭，以皂角揉，取濃水一盞，浸一伏時，漉出曬乾，別更炒令焦黃，為末）</p>
<p>上件藥，同研勻細，煉蜜和為丸，皂莢子大，食後、臨臥，用新薄綿裹一丸，含化咽津。</p>
<p><u>犀角散</u>　治馬喉痹。夫馬喉痹者，謂熱毒之氣，結於喉間，腫連頰骨，微壯熱煩滿，而數吐氣，呼之為馬喉痹。治馬喉痹，頰面腫滿，並宜服之。</p>
<p>犀角屑（半兩）　射干（三分）　桔梗（三分，去蘆頭）　馬蘭根（三分，銼）　甘草（半兩，炙微赤，銼）　川升麻（半兩）</p>
<p>上六味，粗搗為散，每服三錢，水一中盞，入竹葉七片，煎至六分，去滓，入馬牙硝一錢，攪令勻細，含咽。</p>
<p><u>菖蒲丸</u>　治咽喉腫痛，語聲不出。</p>
<p>菖蒲（二兩）　孔公孽（一兩，細研）　木通（二兩，銼）　皂莢（一挺，厚實者，去黑皮，塗酥，炙令焦黃色，去子用）</p>
<p>上四味為末，煉蜜為丸，如梧桐子大。每服煎鬼羽箭湯下二十丸，漸加至三十丸，不計時候。</p>
<p><u>乳香丸</u>　治咽喉生谷賊。夫谷賊者，禾里有短穗而強澀者是也。誤作米而食之，則令喉里腫結不通，致風熱氣衝於喉間，與血氣相搏，則生腫結，如食飲疼痛，妨悶，故謂之喉中生谷賊。不急治之，亦能殺人。宜服此方，立效。</p>
<p>乳香（半兩）　硇砂（一分）　琥珀（半兩）　松脂（半兩）</p>
<p>上件四味，搗，研為末。化黃蠟和丸，如雞頭實大，常含咽津，以瘥為度。</p>
<p><u>千兩金丸</u>　治纏喉風，不問陽閉、陰閉。如急病，內外腫塞，輒至不救者，用之能起死。</p>
<p>滁州何村丘永興傳此三方，的有神效。</p>
<p>蚵蚾草（嫩者）　豬牙皂角（各半兩）　銅青（二兩）　大黃（半兩）</p>
<p>上為細末，以白梅肥潤者取肉，爛研一處，搗勻。每兩作一十五丸，每用以新綿裹，口中含化咽津，有頑涎吐出。若病得兩日後，難用。</p>
<p><u>南星防風散</u>　治風壅，腮頷腫，內生結核，纏喉風等。</p>
<p>南星（半兩，湯洗淨，搗細，薑汁製，焙乾）　防風（半兩，生用，不見鐵器）　白殭蠶（半兩，焙乾）　當歸（二錢，焙乾）　天麻（三錢，生用）　豬牙皂角（去黑皮，焙乾，三條）</p>
<p>上件為末，每服二錢，水一盞，姜三片，入荊芥少許，同煎至七分，溫服、食後，日進三服。忌發風、毒物。如腫不散者，加透明雄黃三錢，同前藥一道，為末煎服。</p>
<p><u>立聖膏</u>　治纏喉風。</p>
<p>齊州半夏（三七粒）　巴豆（三七粒）</p>
<p>上將半夏輕捶，每粒分作四片。巴豆剝去心、膜，於銀（銅）石器內，用米醋三碗，文武火熬盡醋為度。用清醋微洗過，研為膏子。每患纏喉風，或喉閉，或癇疾，用一斡耳，以生薑自然汁一茶腳化下。患甚者灌藥，少時自然吐出惡涎，如魚凍相似，立愈。極有神效。</p>
<p><u>吹喉散</u>　治咽喉腫痛。</p>
<p>朴硝（四兩，別研）　甘草末（生，一兩）</p>
<p>上研勻，每用半錢，乾摻喉中。如腫甚者，用竹筒子吹入喉中為佳。</p>
<p><u>一字散</u>　治喉痹，氣塞不通，欲死者。</p>
<p>雄黃（別研）　蠍梢（七枚）　白礬（生，研，一錢）　藜蘆（一錢）　豬牙皂莢（七挺）</p>
<p>上為細末，每用一字許，吹入鼻中，即吐頑涎，立瘥。</p>
<p><u>佛手散</u>　治纏喉風，神效。</p>
<p>盆硝（一兩，研）　白殭蠶（半兩，去絲）　青黛（一錢，研）　甘草（二錢半，生）</p>
<p>上為細末，以少許摻喉中，如閉甚，以竹管吹入。尋常咽喉間不快亦可用。</p>
<p><u>白藥子治急喉痹　</u></p>
<p>範觀道方。</p>
<p>青魚膽（新瓦上焙乾，去膜，取末，一錢）　蛇蛻皮（去沙土，碗內燒灰，一錢，研令極細）　白殭蠶（直者去絲、嘴，新瓦上焙乾，一兩）　白礬（鐵銚飛過，留性，一兩）　白藥子（新瓦上焙乾，一錢）</p>
<p>上併為細末，再以乳缽和，研令勻，再用半錢吹入咽喉，立愈。若病輕，以多年白鹽梅肉細切，入前項藥，同搗令勻，圓如大雞頭大。每服一丸，含化咽津。如白梅稍乾硬，用熟湯浸令軟，取肉細切用。</p>

<h2>頭目門</h2>
<p>頭者，諸陽之會，上丹產於泥丸宮，百神所集。凡頭痛者，乃足太陽受病，上連風府、眉角而痛者，皆可藥愈。或上穿風府，陷入手泥丸宮而痛者，是為真頭疼，不可以藥愈，夕發旦死，旦發夕死，責在根，氣先絕也。原其所因，有中風寒、暑濕而疼者，有氣血、食飲厥而疼者，有五臟氣鬱厥而疼者。治之之法，當先審其證候。</p>
<p><u>都梁圓</u>　大治諸風眩暈，婦人產前、產後，乍傷風邪，頭目昏重，及血風頭痛，服之令人目明。凡沐浴後服一二粒甚佳。暴寒乍暖，神思不清，傷寒頭目昏暈，並宜服之。</p>
<p>王定國因被風吹，項背拘急，頭目昏眩，太陽並腦俱痛。自山陽孥舟至泗州求醫，楊吉老既診脈，即與藥一彈圓便服，王因款話。經一時再作，並進兩圓，病若失去。王甚喜，問為何藥。答云：公如道得其中一味，即傳此方。王思索良久，自川芎、防風之類，凡舉數種皆非，但一味白芷耳。王益神之，此藥初無名，王曰：是藥處自都梁名人，可名「都梁丸」也。</p>
<p>香白芷（大塊，擇白色新潔者，先以捘刷刷去塵土，用沸湯泡洗四五遍）</p>
<p>上為細末，煉蜜和丸，如彈子大。每服一圓，多用荊芥點臘茶，細嚼下。食後常服，諸無所忌，只干嚼咽亦可。</p>
<p><u>茶芽湯</u>　治偏正頭疼，噁心，嘔吐不止者。</p>
<p>襄陽府胡急腳專貨此藥，積錢至數萬緡，秘惜不傳。上官醫以計得之。</p>
<p>細茶芽（一兩）　生草烏（半兩，去皮、尖）　細辛（半兩）</p>
<p>上為粗末，每服五錢，水二盞，慢火煎至六分，去滓，溫服。一服取效。</p>
<p><u>十味如神圓</u>　治偏正頭風，墜痰涎，散滯氣，寬胸膈。久服清頭目，強腰膝。</p>
<p>峽州教授王執中，字叔權，永嘉人。其母患頭風，臥病餘半年，偏服頭風藥，雖少愈而未能去體。偶何用之來訪，云：祖母嘗因驚避戎馬，奔走，得頭風疾數年，有道人令服此而驗。因傳其方，既服遂脫然。</p>
<p>半夏（四十九粒，湯浸七次）　晉礬（枯過）　南星（一個，洗，薑汁浸）　天門冬（去心）　五味子（各半兩）　麥門冬（去心）　遠志（去心。各一兩）　甘草（炙）　白朮　人參（各一分）</p>
<p>上為末，生薑自然汁調，飛羅面煮糊圓，梧桐子大，硃砂一分為衣，每服十圓至十五圓，食後、臨臥，生薑湯吞下。</p>
<p><u>芎辛湯</u>　治傷風寒生冷，及氣虛痰厥，頭疼如破，兼眩暈欲側，嘔吐不定。</p>
<p>附子（生，去皮、臍）　烏頭（生，去皮、尖）　天南星　乾薑　甘草（炙）　川芎　細辛（各等分）</p>
<p>上為銼散，每服四大錢，水三盞，姜五片，茶芽少許，煎七分，去滓，食後服。</p>
<p><u>芎附散</u>　治氣虛頭痛不可忍。</p>
<p>張裁衣得此方，屢以醫人，皆立效。</p>
<p>附子（一兩者，炮，去皮、臍）　川芎（二錢）　熟乾地黃（半兩，須自曬，灑酒九蒸九曝者，市賣者以綠礬搭色，不中用。或無，即以好大川當歸半兩代之）</p>
<p>上㕮咀，每料分作五服，水一大盞，生薑三片，棗一枚，同煎至六分，去滓，入細磨木香水一蚶殼，再暖，令熱服之。</p>
<p><u>藿香散</u>　治傷風挾涎飲，上厥頭疼，偏正夾腦諸風。</p>
<p>藿香（半兩）　川烏頭（湯浸七次，去皮、尖，一兩）　乳香（三皂子大）　草烏頭（炮裂，去皮、尖，半兩）</p>
<p>上為末，每服一字，薄荷茶清調下，食後服。</p>
<p>治眼目諸病證候</p>
<p>夫眼者，五臟之精明，一身之至寶。如天之有日月，其可不保護之。然骨之精為瞳子，屬腎；筋之精為黑眼，屬肝；血之精為絡果，屬心；氣之精為白眼，屬肺；肉之精為約束，屬脾。契前骨、血、氣之精與脈，併為糸系，上屬於腦，後出於項中。故六淫、外傷、五臟內郁、飲食、房室、遠視、悲泣、抄寫、雕鏤、刺繡、博弈、不避煙塵、刺血、發汗，皆能病目。故方論有五輪、八廓、內外障等，各各不同，尤當分其所主。</p>
<p><u>千金神麯圓</u>　明目，百歲可讀細書，常服益眼力。</p>
<p>神麯（四兩）　磁石（二兩，煅，醋淬七次）　光明砂（一兩）</p>
<p>上為末，煉蜜為丸，梧子大，米飲服五丸。食前，日三服。</p>
<p><u>聖惠散</u>　治目赤羞明，冷淚不止。</p>
<p>夏枯草穗（二兩）　香附子（炒，去毛，三兩）</p>
<p>上為細末，每服二大錢，百沸湯調下，食後服。若能飲酒，而目赤作痛，眵淚，隱澀難開，局方密蒙花散，用白茅根煎湯調下，食後服。</p>
<p><u>四寶圓</u>　治眼疾，時見黑花，視物不真，及一切目疾。</p>
<p>枸杞子（八兩）　青鹽（四兩）　川椒（去目並閉口，六兩）　菊花英（六兩）</p>
<p>上四件，一處用水煮，候水涸出，焙為末，煮薄麵糊為丸，如桐子大。每服三五十丸，空心、食前，鹽湯、熟水送下。</p>
<p><u>大明散</u>　治諸目疾，不問久新，退翳，去赤脈。治風毒上攻，羞明怕日，漸覺眼細小，或痛或癢。及素有頭風疾最妙。</p>
<p>蒼朮（四兩，泔浸）　荊芥穗（二兩）　防風　人參（一兩）　菊花（二兩）　木賊（去節，二兩）　川芎（一兩）　鼠黏子（炒，一兩）　甘草（炙，一兩）　羌活（去蘆，二兩）　蟬退（去頭、足，半兩）</p>
<p>上為細末，每服三錢，茶清調下。若熱淚目赤，米泔水調下，食後服。</p>
<p><u>蟬花圓</u>　治眼睛痛，漸生赤障，視物䀮䀮，隱澀難開。</p>
<p>蔓荊子（一兩）　大川烏（炮，半兩，去皮）　川羌活（一兩）　蟬蛻（去頭、足，半兩）　沒藥（半兩，別研）　赤芍藥（一兩）　龍膽草（去苗，半兩）　木賊（去節，半兩）　當歸（去蘆，洗，一兩）</p>
<p>上為細末，薄麵糊為圓，如桐子大。每服三五十圓，食後、茶清送下。</p>
<p><u>黑錫丹</u>　有人患赤目，皆作肝經有熱，服洗肝散涼藥治之，久而目覺昏，生翳膜。遂服局方黑錫丹、錦鳩圓並駐景圓而痊。</p>
<p><u>安腎圓</u>　治氣虛人，目昏，瞻視不明，常見黑花，宜服局方安腎圓和菊睛圓，每服五七十圓，空心、食前，鹽湯送下。</p>
<p><u>消風散</u>　治男子、婦人風毒攻注，兩眼赤腫而癢，蓋癢則有風也。局方消風散和菩薩散二錢，百沸湯調下，食後服。</p>
<p><u>木香流氣飲</u>　若因怒或食物熱，或飲酒而致目赤，眼胞紫，內生赤脈，局中木香流氣飲加大黃煎服。</p>
<p>凡患眼疾，切須戒飲節欲。蓋酒能引風，況熱而有毒。眼屬肝，肝屬木，尤不可用藥點，緣病自內起。俗諺云：眼不點不瞎，耳不幹不聾。此之謂也。</p>

<h1>卷之十七</h1>

<h2>口齒門</h2>
<p>治口齒諸疾證候</p>
<p>夫口乃一身之都門，出入、榮養之要道，節宣微爽，病必生焉。故熱則苦，寒則咸，宿食則酸，煩躁則澀，虛則淡，疸則甘。五味入口，藏於胃，脾行其精華，分布津液於五臟。臟氣偏勝，味必偏應於口。或勞鬱則口臭，凝滯則生瘡。不可失睡，失睡則愈增。</p>
<p>齒為關門，腎之榮，骨之餘也。腎衰則齒豁，精固則齒堅。又大腸支脈在牙齦，主灌注於牙。大腸壅則齒為之浮，大腸虛則宜露，挾風則攻目，頭面疳䘌則齲脫為痔，皆氣鬱而生。諸證不同，治之各有方。</p>
<p><u>升麻地黃散</u>　治風氣上攻，牙齒疼痛，齦腫連腮，頰緊急。</p>
<p>王尚書宣子方。</p>
<p>升麻　生乾地黃　地骨皮　青鹽　川芎（各半兩）　皂角（一挺，燒）　細辛（二錢半）　槐角子（半兩，燒）</p>
<p>上為細末，每用少許，揩擦齦上，有涎吐了，誤咽不妨。</p>
<p><u>淡豉散</u>　治牙痛。</p>
<p>曾府判茂昭，說此方最驗。</p>
<p>巴豆（一個，去殼並膜）　淡豆豉（一個）</p>
<p>上同研爛，每用針頭許，以連紙裹，安痛處立止。不可太多，亦不可令侵齦，恐能損肉。</p>
<p><u>赴筵散</u>　治口瘡，吃物不得者。</p>
<p>五味子（小、嫩者，一兩）　滑石（半兩，研）　黃檗（半兩，蜜塗，炙紫色）</p>
<p>上為末，拌勻，每服半錢許，乾摻瘡上，良久，便可以飯食，俱無妨礙，甚奇。</p>
<p><u>升麻散</u>　治風蚛牙疼，齒根動搖。</p>
<p>出楊氏方。</p>
<p>升麻　細辛（去葉、土）　蓽茇　胡椒　川芎　川椒　甘松（洗去土）　香白芷</p>
<p>上件各等分，為細末，每用少許，擦患處，良久漱去。若甚者，用沸湯調藥二錢，乘熱盥漱，涎出為度，甚妙。</p>
<p><u>如神散</u>　治牙痛，不問年遠日近，並皆療之。</p>
<p>出胡氏方。</p>
<p>露蜂房末　椒末　鹽</p>
<p>上三味，每用各抄一錢匕，用水一盞半，煎至八分許，乘熱漱，冷即吐出。一服即效，神妙。不可入喉中。</p>
<p><u>蜂房散</u>　治牙疼風腫。</p>
<p>永嘉朱郎中方。</p>
<p>露蜂房</p>
<p>上不拘多少，次用好醋煎，含，立效。不得咽入喉中。</p>
<p><u>乳香膏</u>　治蚛牙痛。</p>
<p>錢參政方。</p>
<p>明白礬（枯了）　滴乳香（各等分）</p>
<p>上二味，為細末，熔蠟，量多少和成膏，旋圓，看蚛牙孔子大小填之，其痛立止，神效。</p>
<p><u>一池散</u>　治口齒諸疾。</p>
<p>華陰細辛（須色白而辛者，去苗）　防風（去蘆，並敘服者）　當歸（洗去土）　川芎　藁本（去土）　地骨皮（洗去□）　白芷　石膏（煅，研）　螺青（研）　青鹽（研）</p>
<p>上十一味等分，細辛倍用，曬乾，為細末，早晚食後常揩牙。若病甚，用藥末三大錢，水一大盞，姜錢五片，雄黑豆五十粒，煎沸，通口漱，甚妙。須是日曬乾，用火焙則走氣也。</p>
<p><u>細辛散</u>　治五種牙疼，不蛀破處者。</p>
<p>昔有一士人，苦於牙痛，諸藥遍療不止。忽有一道人，授以此方，用之即止。後累用救人，無不取效。</p>
<p>細辛　乾薑　川烏　草烏　蓽茇　吳茱萸（各半兩）　菵草（一兩）　木律（一分）</p>
<p>上為細末，先用鹽湯蘸濕，手點藥揩牙，候良久，藥力敗，用溫水灌漱，齒痛即止。</p>
<p><u>巴子膏</u>　治風蛀牙，如蟲蛀破者。</p>
<p>張主簿赴官於廣州懷集縣，甚被此疾所苦，吳縣丞以此方教之，即愈。</p>
<p>巴豆（三粒，紙裹，壓去油）　乳香（一錢）</p>
<p>上火上熔乳香成汁，用巴豆不住攪和，候冷取出，圓成膏子。酌量牙齒竅穴大小，將燈上炙，旋圓，納於穴中，痛即止。</p>
<p><u>綠雲膏</u>　治口瘡臭氣，瘀爛，久而不瘥　。</p>
<p>黃檗（半兩）　螺青（二錢）</p>
<p>上研細，臨臥置一字在舌下，不妨咽津，遲明瘥。</p>
<p><u>杏粉膏</u>　治口瘡，以涼藥敷之。</p>
<p>杏仁（十粒，去皮、尖）　輕粉（一字）</p>
<p>上研杏仁，細調勻，臨臥敷瘡上，少頃吐之，勿咽。</p>
<p><u>玉池散</u>　治風蚛牙疼，腫癢動搖，牙齦潰爛，宣露出血，口氣等疾。</p>
<p>地骨皮　香白芷　川升麻　防風　細辛　川芎　槐花　當歸　藁本　甘草</p>
<p>上等分，為末，每用一字許揩牙，或大段痛，即取二錢，水一盞半，黑豆半合，生薑三片，煎至一盞，稍溫漱，候冷吐之，殊效。或用金沸草散，熏漱亦佳。</p>
<p><u>神仙齒藥方　</u></p>
<p>西嶽蓮花峰神傳</p>
<p>豬牙皂角及生薑，西國升麻熟地黃，</p>
<p>木律旱蓮槐角子，細辛荷葉要相當（荷葉剪心用）</p>
<p>青鹽等分同燒煅，研細將來使最良</p>
<p>揩齒牢牙髭鬢黑，誰知世上有仙方。</p>
<p><u>二聖散</u>　治口瘡，塗足心。</p>
<p>嘉禾老張太醫傳去，屢試得效，其理難曉。</p>
<p>大川烏　吳茱萸</p>
<p>上各半兩，為細末，每用藥末五錢匕，面五錢，以醋調塗兩腳心，油單隔，片帛系定，臨臥用，次日便見效。</p>
<p><u>蒲黃散</u>　治舌腫。</p>
<p>有一士人沿汴東歸，夜泊村步。其妻撼之，問何事，不答；又撼之，妻驚起，視之舌腫滿口，不能出聲。急訪醫，得一叟負囊而至，用藥摻，比曉復舊。問之，乃蒲黃也。</p>
<p>蒲黃</p>
<p>上為細末，摻之。</p>
<p><u>聚寶散</u>　治一切風蛀，牙疼不止者。</p>
<p>醫僧慈雲大師方，余少年用之見效。</p>
<p>露蜂房（五兩）　荊芥（三兩）</p>
<p>上為細末，每用五錢，烏梅三個，水二盞，煎一盞半，乘熱呷漱，冷吐出。</p>

<h2>耳鼻門</h2>
<p>治耳諸病證候</p>
<p>腎雖寄竅於耳，當知耳為聽會，主納五音，外則宮商角徵羽，內則唏噓呵吹呬。內關五臟，外合六淫。故風寒暑濕，使人聾聵耳鳴，憂思喜怒多生內塞，其如勞逸不言喻。復有出血、生膿、聤耳、底耳，或耵聹（上直庚切，下乃項切，）不出飛走投入。諸證既殊，治各有法。</p>
<p><u>菖蒲散</u>　治耳聾。</p>
<p>西外知宗趙士珩賓老傳授此方，累用有效。</p>
<p>石菖蒲（十兩，一握九節者）　蒼朮（五兩，事治淨）</p>
<p>上二味，銼成塊子，置於缸內，用米泔浸七日，取出，去蒼朮不用，只用菖蒲。於甑上蒸三兩時，取出焙乾，搗羅為細末。每服二錢，糯米飲調下，日進三服。或將蒸熟者作指面大塊子，食後置口中，時時嚼動，咽津亦可。</p>
<p><u>補腎圓</u>　治腎虛耳聾，或勞頓傷氣，中風虛損，腎氣升而不降，致耳內虛鳴。</p>
<p>山茱萸　乾薑（炮）　巴戟　芍藥　澤瀉　桂心　菟絲子（酒浸）　黃耆　遠志（去心）　石斛　當歸　乾地黃　蛇床子　細辛　牡丹皮　人參　甘草　蓯蓉（酒浸）　附子（炮。以上各二兩）　菖蒲（一兩）　防風（一兩半）　茯苓（半兩）　羊腎</p>
<p>上為末，以羊腎研細，酒煮麵糊為圓，如梧子大，食前、鹽酒任下三十丸至五十丸。</p>
<p><u>紅綿散</u>　治聤耳。</p>
<p>透明白礬（火飛過）　頭色坯子</p>
<p>上等分，研細。先用綿杖子，纏去耳中膿及黃水，令盡。別用綿杖子引藥，或用鵝毛管子輕吹入耳內。入少麝香尤佳。</p>
<p><u>雄黃丹</u>　治蚰蜒入耳。</p>
<p>雄黃　綠礬　白礬　半夏（各一分）</p>
<p>上件藥，同搗為末，以醋調一字，灌入耳。兼治蜈蚣諸蟲入耳。</p>
<p><u>菖蒲圓</u>　治耳卒痛，及聾塞不聞聲。</p>
<p>菖蒲　附子（炮，去皮、臍。各等分）</p>
<p>上為末，以醋圓，如杏仁大，綿裹內耳中，日二易之。</p>
<p><u>蠟彈圓</u>　治耳虛聾。</p>
<p>白茯苓（二兩）　山藥（炒，三兩）　杏仁（去皮、尖，炒，一兩）　黃蠟（二兩）</p>
<p>上以前三味為末，研勻，熔蠟為丸，如彈子大，鹽湯嚼下。有人止以黃蠟細切，嚼，點好建茶送下，亦效。</p>
<p><u>麝香散</u>　治聤耳、底耳，耳內膿出。</p>
<p>桑螵蛸（一個，慢火炙及抲分熟存性）　麝香（一字，別研）</p>
<p>上為末，研令勻，每用半字摻耳內。如有膿，先用綿拈，次以藥摻之。</p>
<p><u>蟬殼散</u>　治聤耳。</p>
<p>蟬殼（半兩，事治淨，火燒存性）　麝香（抄半錢）</p>
<p>上同研如塵，用綿先展耳內膿，令淨，次入藥，拄耳門不得動，追出惡物即愈。</p>
<p>治耳痛。</p>
<p>杏仁炒焦黑，研成膏，以綿裹塞耳中。吳內翰親用之，效。</p>
<p>諸百蟲入耳，用麻油灌之，即效。</p>
<p>諸耳中出血，以龍骨末吹入，即止。</p>
<p>治鼻中諸疾證候</p>
<p>鼻大衄者，由氣虛熱故也。肝藏血，肺主氣，而開竅於鼻。血之與氣相隨而行，循於經絡，榮於腑臟。若勞傷過度，腑臟生熱，熱乘血氣，血性得熱則流散妄行，從鼻出者，謂之衄。其云鼻大衄者，是因鼻衄，而口、耳、鼻皆出血，故云鼻大衄也。</p>
<p>鼻齆者，肺主氣，其經手太陰之脈也。其氣通鼻。若肺臟調和，則鼻氣通利，而知臭香；若風冷傷於臟腑，而邪氣乘於太陰之經，其氣蘊積於鼻者，則津液壅塞，鼻氣不宣調，故不知香臭，而為齆也。</p>
<p>鼻生瘡者，鼻是肺之候，肺氣通於鼻，其臟有熱，氣衝於鼻，故生瘡也。</p>
<p><u>辛夷膏</u>　治腦戶受寒，濃涕結聚，關竅壅閉。</p>
<p>楊氏家藏此方，治鼻塞，無不取效。</p>
<p>辛夷　川芎　香白芷　菵草　通草（已上各一錢）　當歸（洗，焙）　細辛（去粗、土）　肉桂（去粗皮。已上各半兩）</p>
<p>上件細銼，以酒浸一宿（酒不須多），次日以豬、羊腦及豬脂少許，煎成油，入前件酒浸藥，同煎令變色。卻用綿濾去滓，盛瓷器內，每一粒米許，滴入鼻內，須要仰臥，其藥不流出也。</p>
<p><u>瓜丁散</u>　治齆鼻有息肉，不聞香臭。</p>
<p>富次律曾患此，息肉已垂出鼻外。用此藥敷之，即化為黃水，點滴至盡，不三四日遂愈，後不復作。</p>
<p>瓜丁（即瓜蒂也）　細辛</p>
<p>上二味，等分末之，以綿裹如豆許，塞鼻中，須臾即通。</p>
<p>鼻中息肉，俗謂之鼻痔，治此疾方極多，但此取效耳。</p>
<p><u>烏尖散</u>　治肺風，面赤鼻赤。</p>
<p>華宮使方。</p>
<p>草烏尖（七個）　大風油（五十文）　真麝香（五十文）</p>
<p>上以草烏尖為末，入麝香研勻，次同大風油，瓷合子盛，於火上調勻。先以生薑擦患處，次用藥擦之，日三兩次，無不效。</p>
<p>又方兼服之，即除根本，同。</p>
<p>何首烏　防風　黑豆（去皮）　藁本　荊芥穗　地骨皮（洗淨。各一兩）　桑白皮　天仙藤　苦參　赤土（各半兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服三四十丸，食後、茶清送下。</p>

<h1>卷之十八</h1>

<h2>疹痘門</h2>
<p>治小兒斑瘡疹痘證候</p>
<p>凡小兒瘡疹之候，乃天行時氣，熱不能解，蘊積於胃。而胃主肌肉，毒氣熏發於肌肉，狀如蚊子所齧，乃成斑毒也。赤者十生一死，黑者十死一生。此候五臟各有所主：肝臟熱而成水泡；肺臟膿泡；心臟發斑；脾臟細疹，俗為之膚瘡也；腎臟黑色，此乃陽病，屬火而歸腎水，熱已極矣，不可治。凡瘡疹之疾，不問輕重，當先護目，免斑瘡入眼而生翳障。余經驗方備錄於後。</p>
<p>錢氏云：睦親它一大王病瘡疹，始用一李醫。又名錢氏錢留抱龍圓，三服，李以藥下之，其疹稠密。錢見大驚，曰：若非轉下則為逆病。王言：李已用藥下之。錢曰：瘡疹始出，未有他證，不可下也。但當用平和藥，頻與乳食，不受風冷可也。</p>
<p>如瘡疹三日不出，或出不快，即微發之。微發不出，即加藥。加藥不出，即大發之。如大發後不多，及脈平無證者，而瘡本稀，不可更發也。</p>
<p>有大熱者，當利小便。小熱者，當解毒。若出快，勿發勿下，故止用抱龍圓治之。</p>
<p>瘡痂若起，能食者，大黃圓下之，一二行即止。今先下一日，瘡疹未能出盡，而稠密甚，則難治，此誤也。縱得安，其病有三：一者疥、二者癰，三者目赤。李不能治，經三日黑陷。復召錢氏，錢氏曰：幸不發寒，而病未困也。遂用百祥圓為藥，以牛李圓為助，各一大服。至五日間，瘡復紅活，七日而愈。</p>
<p>蓋黑者，歸腎也。腎旺勝脾，土不剋水。故脾虛寒戰則難治。所用百祥圓者，以瀉膀胱之腑。腑若不實，臟自不盛也。何以不瀉腎？曰：腎主虛，不受瀉。故二服不效，即加寒而死。</p>
<p><u>抱龍圓</u>　治一切風熱，中暑驚悸，瘡疹欲出，多睡，咳嗽涎盛，面赤，手足冷，發溫壯，睡中驚，搐搦不寧，脈洪數，頭痛嘔吐，小便赤黃。</p>
<p>錢氏用此方大有神效。</p>
<p>天南星（銼開，里白者生為末，臘月內取黃牛膽汁，和為劑，卻入膽內陰乾，再為末，半斤）　天竺黃（二兩，別研）　硃砂（二錢，研，水飛）　雄黃（半兩，研，水飛）　麝香（好者□錢，別研）　牛黃（一字，別研）</p>
<p>上同研極細，甘草水和圓，雞頭大，窨干，二歲兒竹葉或薄荷湯化下一圓，不拘時候。</p>
<p><u>紫草散</u>　治伏熱在胃經，暴發痘疱、瘡疹，一切惡候，出不快，小便赤澀，心腹腫滿。</p>
<p>紫草（去苗，一兩）　甘草（生用，半兩）　木通（去根節，細銼）　枳殼（麩炒，去瓤）　黃耆（炙，銼。各半兩）</p>
<p>上為細末，每服二錢，水一盞，煎至六分，去滓，溫，時時呷之。</p>
<p><u>牛李圓</u>　治瘡疹、痘疱惡候，見於皮膚下，不出或出而不長，及黑紫內陷，服之即順，救危急候。愚小年病此，危惡殆極，父母已不忍視。遇今太醫丞錢公乙，下此藥得安，因懇求真法。然此方得於世甚久，惟於收時不知早晚，故無全效。今並收時載之，用者宜依此方。</p>
<p>牛李子（九月後取，研，絹濾汁，不以多少，於銀石器中熬成膏，可圓，每膏二兩，細研好麝香，入半錢）</p>
<p>上，每二歲兒服一圓，如桐子大，漿水煎杏膠湯化下。如瘡疱紫黑內陷者，不過再服，當取下惡血，及魚子相似，其已黑陷於皮下者，即紅大而出。神效。</p>
<p><u>胡荽酒</u>　治痘疹快出，大有神效。</p>
<p>胡荽（細切，四兩，以好酒二盞煎一二沸，入胡荽再煎少時，用物合定，放冷）</p>
<p>上每吸一兩口，微噴，從頂至足，勻遍，勿噴頭面。病人左右常令有胡荽，即能闢去汗氣，瘡疹出快。</p>
<p>瘡疹忌外人，及穢觸乏物。雖不可受風冷，然亦不可壅遏，常令衣服得中，並虛涼處坐臥。</p>
<p><u>四聖散</u>　治瘡疹出不快及倒厭。</p>
<p>紫草茸　木通（銼）　甘草（銼，炒）　枳殼（麩炒，去瓤，秤）　黃耆（切，焙。等分）</p>
<p>上同為粗末，每服一錢，水一中盞，煎八分，溫服，無時。</p>
<p><u>黃檗膏</u>　治小兒疹痘。出後即須愛護面目，勿令沾染。欲用胡荽酒噴時，先用此方塗面上，然後方可噴四肢。大人、嬰孩有此疾，悉宜用此方，甚妙。</p>
<p>黃檗（一兩）　綠豆（一兩半）　甘草（四兩，生用）</p>
<p>上件，搗羅為末，每研令細，後以生麻油調如膏，從耳前、眼眶並厚塗，日三五遍。止塗面後，可用胡荽酒噴也。早用此方塗於面上，令不生疹痘也。如用此方塗遲，縱出疹痘亦少。</p>
<p><u>柿楂子散</u>　治瘡疹不透，乾黑危困，神妙。</p>
<p>蘇韜光云，其家累世用此甚佳。</p>
<p>柿楂子（《圖經本草》名糖球，惟滁州者入藥）</p>
<p>上為細末，每服二錢，紫草酒調下。小兒量大小加減，徐徐三兩服即紅活。</p>
<p><u>升麻湯</u>　治大人、小兒傷風寒、溫疫，頭痛，寒熱，體疼，斑瘡已發、未發並可服。</p>
<p>升麻　乾葛　甘草（炙）　芍藥（各等分）</p>
<p>上為銼散，每服秤五錢重，水二盞，煎七分，去滓，熱服。小兒量與。一法加紫草茸煎。</p>
<p><u>仙靈散</u>　治斑瘡入眼。</p>
<p>仙靈脾　威靈仙</p>
<p>上各等分，為末，每服二錢，食後、米湯調下。</p>
<p><u>大和散</u>　治痘瘡後，寒熱往來，嗜臥，煩躁悶亂。楊氏方。</p>
<p>生地黃　川當歸（洗，去蘆）　地骨皮　人參（去蘆）　甘草（炙）　赤芍藥</p>
<p>上件等分，㕮咀，每服一錢，水半盞，煎至三分，去滓，通口服。</p>
<p><u>消毒散</u>　治瘡疹未出，或已出未能勻遍。又治一切瘡，涼膈去痰，治咽喉。</p>
<p>牛蒡子（二兩，炒）　甘草（半兩，銼，炒）　荊芥穗（一分）</p>
<p>上為粗末，每服三錢，水一盞半，煎至一盞，溫服，不拘時候。</p>
<p><u>調肝散</u>　治瘡疹太盛，宜服此方，令不入眼。</p>
<p>生犀（銼，取末，一分）　草龍膽（半錢）　黃耆（半兩，切）　大黃（去皮，二錢）　石膏（半兩）　桑白皮（自採，焙乾）　鉤藤鉤子　麻黃（去節。各一分）　瓜蔞（去皮）　甘草（炙。各等分）</p>
<p>上為粗末，每服二錢，水一盞，煎半盞，食後、時時溫服少許。</p>
<p>治瘡疹入眼</p>
<p>馬屁勃（半兩）　皂角子（十四個）　蛇皮（半兩）</p>
<p>上入小罐子內，鹽泥固濟，燒存性，研細。溫酒調下一二錢，食後服。</p>
<p>又方，治瘡疹入眼成翳</p>
<p>瓜蔞根（半兩）　蛇皮（二錢）</p>
<p>上同為細末，用羊子肝一個，批開，入藥末二錢，麻纏定，米泔煮熟，頻與食之。未能食肝，令乳母多食。</p>
<p>治痘瘡黑陷，藥不能發，神驗秘方。</p>
<p>穿山甲</p>
<p>上一味，燒存性，為細末，入麝香當門子少許。一歲半錢，三歲一錢，只溫酒調下，一服見效。雖遍身黑而欲絕，亦能暫蘇而發紅色。但目閉無魂者，不復生矣。</p>
<p>歌曰</p>
<p>未先五日顫如寒，不覺生驚又似癇。</p>
<p>心熱又同蚊子齧，眼睛赤色臉紅鮮。</p>
<p>發豎手心如火熱，更兼睡里作狂言。</p>
<p>躁熱嫌人撥手睡，又加氣急喘相連。</p>
<p>須知此候先宜表，遲卻流得入臟間。</p>
<p>若得神仙真妙訣，定須七日自然安。</p>
<p>治瘡疹之法，如傷寒一同，初當表發，其病在腑，則出細疹。失表，其熱不退便出，其病在臟，必發痘瘡。得其妙理，方不失一。</p>

<h2>湯火門</h2>
<p><u>紫雪</u>　治湯燙、火燒，痛不可忍，或潰爛成惡瘡。</p>
<p>松樹皮剝下，陰乾，為細末，入輕粉少許，生油調稀，敷。如敷不住，紗絹帛縛定，即生痂。神效不可言。然宜預先合下，以備急。自剝落而薄者尤妙。</p>
<p>治湯火瘡，雖膿水出，皮肉潰爛者，不過敷三兩次即安。</p>
<p>上以蛇莓爛搗敷之，以瘥為度。錢文子佃客，因遺漏燒灼，遍身皆潰。偶一道人傳此，用之既安，更無疤痕。《本草》不言治湯火傷。</p>
<p>治湯火傷，瘡膿爛痛，不可忍者。</p>
<p>李莫安撫方。</p>
<p>上用牛皮膠入少湯，於火上溶稠，狗毛剪碎，以膠和毛，攤軟帛封之，直至痂脫不痛。吳內翰家婢夜炊，末，釜翻，傷腿膝。以夜不敢白此，曉已潰爛。用此治之，隨手即愈。</p>
<p>又方，以箬葉燒存性，灰敷。煮酒瓶頭箬尤妙。</p>
<p>又方，仍無疤痕。孫盈仲所傳。</p>
<p>上以雞子清塗之，神效。一方雞子殼燒灰，油調敷。</p>
<p>又方，王仲杞傳。</p>
<p>上以乾甑萆燒存性，灰敷之。</p>
<p>又方，張德俊云：頃年和倅餘杭人將赴官，因蒸降真木犀香，自開甑，面撲甑上，為熱氣所熏，面即浮腫，口眼皆為之閉，更數醫不能治。最後一醫云：古無此證，請以意療之。於是取僧寺久用炊布，燒灰存性，隨敷隨消，不半日而愈。蓋以炊布受湯上氣多，返用以出湯毒，亦猶以鹽水取鹹味耳。醫者之智亦可喜。</p>
<p>又方，用白瓷器末，湯煮過，碾極細，以油調塗，立效。或又用煉銀坩堝子搗細，調塗亦可。</p>
<p>治湯火燒，已潰，膿出不已者。</p>
<p>先以山梔子煎湯，放溫，洗淨搵干，以赤焦大油餅，炭火上燒存性，灰研細敷之。</p>
<p>又方，上以大黃，用米醋調敷。或倉卒不能得末，只於新淨瓷、瓦器上，以醋磨敷亦可。</p>
<p><u>至聖膏</u>　治湯火傷，無疤痕。</p>
<p>上以雞子黃一兩，用銀器內熬成自然油，調好粉敷之。</p>

<h1>卷之十九</h1>

<h2>雜方</h2>
<p><u>淋浴法　</u></p>
<p>陳氏云：先公守贛，時年六十五，足弱，拜跪頗艱。倅事鄭顯仲云，其叔司業公，字明仲，晚年亦如是。有人教以用此方，逾月步履輕便。先公即用之，旋即見效。每日一就浴，如是者四年。晚歲步履有力，日可行數里。</p>
<p>胡猻姜（十餘塊，錘碎，《本草》謂之骨碎補）</p>
<p>上約水六七斗，入上藥煎至三四斗，正午入浴，不須脫上蓋。用小木杓瓝湯澆臍腹間一千下，次以衲布二片，各三四重，方一尺許，蘸熱湯搭兩膝頭，各澆一百二十杓。用之月餘，便見功效，行步便覺輕快也。</p>
<p><u>斷乳畫眉膏</u>　治小兒年至四五歲，當斷乳而不肯斷者。</p>
<p>山梔子（三個，燒存性）　雌黃（少許）　生硃砂（少許）</p>
<p>上三味，為細末，入生麻油、輕粉各少許，調勻。候兒睡著，濃抹於兩眉上，醒來便不食乳。一服未效，再用即驗。</p>
<p>此方得於浦江石親周卿，屢試屢效。累扣名醫，殆不能曉。</p>
<p><u>祛蠅子法</u>　陳氏云：余居霅川，暑月赴趙德言園，令飰坐間余無蠅子，咸切訝之。渠云：不獨此也。因攜手往庖所，亦無一蠅。扣其所以，初秘而不言。力懇之，乃笑曰：小術耳。臘日市豬板脂一斤或二斤，以罐貯，懸於廁上，次年舉室絕無。余嘗試用，果驗。此理殆不可曉。去冬到此，原未知蠅子之多，偶不記憶。今雖無及，然不可不使人知。因附其說於後，庶幾人人知有此方，家家免點汙之患，是亦方便之一端也。</p>
<p><u>獺肝散</u>　治鬼疰者，是五屍之一。疰又扶諸鬼邪為害。其病變動，乃有三十六種，至九十九種。大略使人寒熱淋瀝，沉沉默默，不的知所苦，無處不惡。累年積月，漸就沉滯，以至於死。傳與旁人，乃至滅門。覺如是候者，急治之。</p>
<p>獺肝（一具，陰乾）</p>
<p>上杵為末，水服方寸匕，日三，未知再作。肘後云：此方神良。</p>
<p><u>治食生米方</u>　男子、婦人因食生、熟物，留滯於脾胃，遂至生蟲。久則好食生米，否則終日不樂。至於肌膚憔悴，面色萎黃，不思飲食，以害其生。</p>
<p>益昌伶人劉清嘯家一倡曰翠花（川人謂之師家），年逾笄，病此三月餘。監惠民局趙尹能醫，以此方治之，兩旬而愈。</p>
<p>蒼朮（不均多少，米泔水浸一宿，銼碎）</p>
<p>上焙乾，碾為細末，煮稀麵糊為圓，如梧桐子大，每服五十粒，空心、食前、米飲下，日三服。</p>
<p><u>治刀刃傷</u>　方恂留意醫學，遠來相訪，因說以刀刃傷時，急以生薑和皮爛搗，盦之止痛截血，且無疤痕，倉卒易辨。</p>
<p>治嵌甲疼不可忍，有妨步履。</p>
<p>陳氏云：表侄林震文得是方於德清陳宰，余平日所收之方，皆不逮此。</p>
<p>紫藤香（半兩，羊筒骨大者）　乳香（半錢，針挑麻油，燈上燒存性）　古半兩錢（半錢，炭火燒通紅，醋淬，爛）　輕粉（少許，癢即多入）　麝香（當門子）</p>
<p>上為末，細絹羅過，每用少許。先以甘草湯洗患處，用舊絹搵干，然後敷藥，即以燈心草塞之，立瘥。</p>
<p><u>食豬脂法</u>　臘日空心，用蒸餅卷豬脂食之，一年不生瘡，久服身體光滑。</p>
<p><u>神仙無瑕散</u>　去油汙顏色，繡作、衣物、書畫。</p>
<p>龍骨（一兩半）　滑石　海螵蛸（各三兩）　白善土（一兩）</p>
<p>上為細末，以摻汙處，良久搡之便落。如欲急用，以紙襯熨之。未盡，再用之，淨為度。如衣物等油了多時，卻用麻油塗在舊跡，過些少不妨。如前法用，其效如神。</p>
<p><u>洗油墨汙　</u></p>
<p>蒼朮（二兩）　黑牽牛（一兩）　皂角（三挺）　赤小豆（一升）</p>
<p>上為細末，白水丸如彈子大，以滑石為衣，每洗用一丸，或只作末子，不丸亦得。久汙衣裳，水□□□□□。洗桐油之類所汙，皆洗之如新。加零陵香、香白芷在內，亦可作洗面梳頭藥。</p>
<p><u>洗油膩</u>　告成觀道士傳云：造墨人以洗手極淨，甚妙。亦可洗字。</p>
<p>杏仁（去皮、尖，如欲洗字，壓去油）　茶茗子（即食茶子也）</p>
<p>上二味，等分，如肥皂法洗手。如洗字，以藥末安字上，以熨斗略熨，彈之即落。</p>
<p><u>煎窗油法</u>　韓御帶提刑家方，甚奇。</p>
<p>麻油（四兩）　桐油（三兩）　定粉（一錢）　蓖麻子（一百粒）</p>
<p>上件先研定粉、蓖麻子，令細，將麻油同打，候勻熟，然後入桐油再打成油，使須猛。日中便乾，方有光彩。</p>
<p>詩曰</p>
<p>桐三麻四不須煎，百粒蓖麻細細研。</p>
<p>定粉一錢相合和，太陽相射便光鮮。</p>
<p><u>治壁蝨方　</u></p>
<p>張彥亭監丞傳，云甚好。</p>
<p>蒼朮（一斤）　木鱉子　雄黃（各二兩半）</p>
<p>上為細末，蜜丸彈子大，床下燒一丸，或於蚊合時當門燒之，熏落如面，靜盡。</p>
<p><u>烏髭藥</u>　趙太叔知縣傳。</p>
<p>蛤粉（八兩）　韶粉　海螵蛸　黃丹（各一兩）　膩粉（半兩）　杏仁（八個）　石灰礦（二兩）　乳香（一塊，皂子大）</p>
<p>上各為末，和勻，將髭先用皂角湯洗過，不可見油。看白髭有得多少，加減使用。河水調藥如稀糊，黃昏時用篦子塗在髭上，將荷葉作片子蓋之，以片帛包，系定至三更後，用溫湯洗去，更將少胡桃肉拈髭上。</p>
<p>又方，烏髭鬢常用揩牙藥。</p>
<p>沈丞相家方。親曾見人用，甚有效。</p>
<p>青鹽（一兩，別研）　杏仁（二兩，去皮、尖）　乾地黃（洗淨）　烏頭（各一兩）</p>
<p>上同為粗末，將瓜蔞去蒂頂並瓤，入藥在內，以麻線扎定。用蚯蚓糞固濟，厚半寸以上，陰乾。或有小裂縫，再用糞泥合。將熟炭火燒，候煙出，未盡一二分間，用黃土覆之。至冷取出，去土，取藥為細末。每日揩牙，或臨睡更用以津咽之，尤妙。</p>
<p><u>劉郡王倒流油烏髭發神方　</u></p>
<p>大訶子（十六個，濕紙裹，慢火煨熟，取皮）</p>
<p>上碾，羅為末，用糯米清粥飲調。得所塗在熨斗內，麻油四兩，燈心二十四條，點無風處，合熨斗在上，四邊略通煙，頻挑燈熏，盡油為度，放冷，刀子刮下乳缽中。燈上燒胡桃肉二十個，存六分性，杏仁八十個，如胡桃燒。更入百藥煎一錢同研。針砂半兩、醋一盞，浸一宿。煮盡醋，入乾生薑四兩，同研。入諸藥末，再研極細，要滋潤如膏。恐硬，多入胡桃，磁合內收。如用，洗髭發淨、干，搽上藥，以手指拈勻，皂紗、軟帛拭之。兩上如琴光色，一月中可一次染之。</p>
<p><u>玉粉圓</u>　治啞中。</p>
<p>平江一士人如啞中狀，醫者云：「速煮粥，病人才吃藥了便索粥。」少頃，果然氣噫索粥，病既愈。因問之，醫者云：只是氣厥，因而不食。脾胃愈，因□□。</p>
<p>上用雪糕圓作桐子大，以木香末為衣，點勻，氣散進之爾。</p>
<p><u>醉效散</u>　取寸白蟲。</p>
<p>陳氏云：余少年曾病此，服之得效。</p>
<p>上用酸石榴東向根三五錢重，用水一碗半，煎八分。隔宿煎下，來早用半精半肥肉四兩，炙，令病人聞之。少頃食其肉，次溫暖所煎藥，服苦氣。虛者服了，覺如醉夢，便就寢，至申未間，其蟲下甚。不過兩服。蟲上旬頭向上，五更服；若中、下旬，則亮效。</p>
<p><u>草靈散</u>　治發瘡。</p>
<p>李中父曉藥性，云：刀瘡藥無出於此。</p>
<p>韭菜　刺薊草</p>
<p>上於五月五日各取一斤，不用根。洗，擇淨，同搗爛如泥。次入絹篩石灰，不拘多少，再搗，令十分勻。捏作餅子，以瓦盆盛貯，安置淨室中，至六月六日，曬，令極干，收。如常用之。</p>

<h1>卷之二十</h1>

<h2>服餌門</h2>
<p><u>服丹砂法</u>　丹砂味甘，無毒，主身體五臟百病。養精神，安魂魄，益氣明目，通血脈，止煩滿、消渴，益精神，悅澤人面，殺精魅邪惡鬼。久服通神明，不老輕身神仙。</p>
<p>三皇真人煉丹方：丹砂一片，色發明者，研末。重絹篩之，令靡靡，以醇酒不見水者沃丹，橈之令如葑泥狀。盛以銅盤中，置高閣上，勿令婦人見。曝之，身自起居，數橈，燥，復沃之，當令如泥。若陰雨，疾復藏之無人處，天晏出曝之。盡酒三斗而成，能長曝之三百日。當紫色，握之不汗手。如著手未乾，可丸。欲服時沐浴蘭香，齋戒七日，勿令婦人近藥過傍。丸如麻子大，常以平旦向日吞三丸。服之一月，三蟲出；服之五六月，腹內諸病皆瘥；服之一年，眉發更黑。歲加一丸，服之三年，神人至。</p>
<p><u>太清服煉震砂法</u>　丹砂外包入石，內含金精，先稟氣於甲，受氣於丙，出胎見王，結魄成庚，增光歸成，陰陽升降，各本其原。如鈹石五金，俱收五陰，神之氣結，亦分為五類之形，形質頑嚚，志性沉滯。</p>
<p><u>服雄黃法</u>　雄黃，味苦、甘、平，大溫。殺精物、惡鬼、邪氣、百蟲毒，勝五兵。殺諸蛇虺毒，解藜蘆毒，悅澤人面。煉食之，輕身，神仙。餌服之，皆飛入人腦中，勝鬼神。延年益壽，保中不飢。</p>
<p>《抱朴子》云：餌之法，或以蒸煮，或以酒服，或以消石，化為水乃凝之。或以豬脂裹，蒸之於赤土下。或以松脂和之，或以三物煉之，引之如布，白如冰。服之皆令人長生，百病除，三尸下，疤痕滅，白髮黑，墮齒生。千日玉女來侍，可使鬼神。</p>
<p>《太上八帝玄便經》小丹法，用雄黃、柏子拘魂制魄方：柏子，細節，去滓。松脂十斤，以和柏子、雄黃各二斤，色如赤李，合藥臼中復搗，如蒸藥一日。如餌，正坐、北向、平旦頓服五丸。百日之後，與神人交見。</p>
<p><u>服黃精法</u>　黃精，味甘平，無毒，主補中益氣，除風濕，安五臟，久服輕身，延年不飢。</p>
<p>餌黃精能老不飢。其法可取甕子去底，釜上安置，令得所。盛黃精令滿，蜜蓋蒸之。令氣溜即曝之。第二遍蒸之亦如此，九蒸九曝。凡生時有一碩熟，有三四斗蒸之。若生則刺人咽喉，曝使干，不爾朽壞。其生者若初服，只可一寸半，漸漸增之。十日不食，能長服之。止三尺五升，服三百日後盡見鬼神。餌必昇天，根、葉、花、實皆可食之。但相對者是，不對者名扁精。</p>
<p>昔黃帝問天老曰：天地所生，豈有食之令人不死乎？天老曰：太陽之草，名曰黃精，餌之可以長生。</p>
<p><u>服菖蒲法</u>　菖蒲味辛溫，無毒，主風寒濕痹，咳逆上氣，開心孔，補五臟，通九竅，明耳目，出音聲。久服輕身，聰耳目，不忘，不迷惑。延年益心智，高志不老。</p>
<p>五月五日採得緊小似魚鱗者，治擇一斤許，以水及米泔浸各一宿。又刮去皮，切，曝乾。搗，篩，以糯米粥和勻，更入熟蜜搜丸，梧子大。絺葛袋盛，置當風處令乾。每旦酒飲任下三十丸，臨臥更服二十丸，久得效。</p>
<p>《漢武帝傳》云：帝上嵩山，忽見仙人，長可二丈。問之，曰：「吾九嶷山人也，聞中嶽有石上菖蒲，一寸九節，食之長生，故來採之。」忽然不見。</p>
<p>《抱朴子》云：韓終服菖蒲十三年，身上生毛，日視書萬言，皆誦之，冬袒不寒。又菖蒲須得石上，寸九節，紫花尤善。</p>
<p><u>服天門冬法</u>　天門冬，味苦、甘、平，大寒，無毒。主諸暴風濕偏痹，強骨髓，殺三蟲，去伏屍。久服輕身，益氣，延年不飢。</p>
<p>《修真秘旨》云：神仙服天門冬三十斤，細切，陰乾，搗末。每服三錢，酒調下。日五六服，二百日後怡泰。拘急者緩，羸劣者強，三百日身輕，三年走及奔馬。</p>
<p>《抱朴子》云：杜紫微服天門冬，御八十妾。有男一百四十歲，日行三百里。</p>
<p>《神仙傳》云：甘始者，太原人，服天門冬，在人間三百餘年。</p>
<p><u>服杏仁法</u>　杏核仁，味甘、苦，溫。服之，除百病，駐顏延年。</p>
<p>《左慈秘訣》云：五月杏熟，收取當月旬內自落者，去核取仁六斗。以熱湯退皮，去雙仁。取南流水三石和研。取汁兩石八斗，去滓，並小英者亦得。取新鐵釜，受三石已來作灶，須其五嶽三臺形，用硃砂圖畫之。其灶通四腳，去地五十，著鐐不得絕稠，恐下灰不得。其釜用酥三斤，以糠火及炭燃釜，少少磨，三斤酥盡即內汁釜中。釜上安盆，盆上鎖孔，用箏弦懸車轄主釜底，其孔以紙纏塞，勿令泄氣。初著糠火併干牛糞火，一日三動車轄，以滾其汁。五日有露液生，十日白霜起，又三日白霜盡，即金花出。若見此候，即知丹霜成。開盆，用炭火炙乾，以雄雞翎掃取，以棗肉和為丸，如梧桐子大。釜中獨角成者為上，其釜口次也，丹滓亦能治冷疾。服丹法：如人吃一斗酒醉，即吃五升；吃一升者，只吃半升。下藥取滿日，空心、暖酒服三丸。至七日，萬病皆除，愈，頭白卻黑，齒落更生。張先師云：二兩為一劑，一劑延八十年，兩劑延二百四十年，三劑通靈不死。</p>
<p><u>服豆法</u>　生大豆，味甘、平。《仙方修制》：黃末可以辟穀，度飢歲。然多食令人體重，久則如故矣。</p>
<p>《博物志》云：左元放荒年，擇大豆粗細調勻，必生熟挼之，令有光，暖氣徹豆，則內先下食一日。以冷水頓服訖，其魚肉、菜果，不得復經，口渴即飲水。後不復思食。</p>

<h2>修養門</h2>
<p>養生秘要：凡欲服氣，先須得一高靜密室。不在於大，務絕風隙，左右焚香，不用熏陸。床須厚軟，腳稍令高。《真誥》曰：床高，鬼氣不及。鬼物善因地氣以吹，人為床高三尺可矣。衣服適寒溫，冬宜稍暖。枕高四指余，令與背平。每夜半後生氣，時或五更睦覺，先呵出腹內濁氣，一九止或五六止。若要而言之，亦不在半夜與五更也，但無事閉坐，寬衣解帶，腹空即為之。先定心、閉目、叩齒三十六通，以集身神。然後以大拇指背拭目，大小九過，兼按鼻，左右七過，以兩手摩令極熱，閉口鼻氣。然後摩面，不以遍數。為真人起居之法。次以舌拄止齶，漱口中內外津液，滿口作三嚥下之。令入胃存，胃神承之。如此者三作，是三度九咽（《黃庭經》曰：漱咽靈液，體不幹，此之謂也。）庶得灌溉五臟，面目乃光。此雖傍門，亦極有力，不可輕忽，為常聞之小法。便兀然放身，使心同太虛，身若委衣，萬慮都遣。若能久久行之，則氣血調暢，精神內守，疾病不生也。</p>
<p>《修真秘訣道經》云：夫欲得長生，當修所生之本。始得精氣結而為形，則知形為受氣之本。氣是有形之根，若氣不得形，則無因而立；形不得氣，則無因而成。原其所稟之時，伏母臍下，混沌三月，玄牝是也。玄牝既立，猶瓜在蒂、陰在母，胎始於此時也。母呼亦呼，母吸亦吸，綿綿十月，氣足神備，遂解胎而出。母惟知貪悅於子，曾不知形耗體枯，分形減氣，為子之用矣。既生七日，情見於外，變嬰為兒，指頤為笑。況十五成童，二十弱冠。目眩五色，耳聽五聲，役智運神，機巧日變。如此淳樸之根，太和之氣，蕩而盡矣。故聖人以還元返本，握胎息之機，致長生久視。《中胎經》云：形中子母，何不相守。且形中以氣為母，以神為子。夫形氣先立，而後有神。神由氣生，故為子也。夫至人不思外物，不視外色，不聽外聲，常令神與氣合，循環於臟腑之內，御呼吸以上下，久久修習，則神自明而氣自和。神明則可照徹於五臟，氣和則可使用於四肢。故皇帝三月內死也，魂飛於天，魄落於泉。水火分散，各歸本原。生則同體，死則相指，飛沉各異，稟之自然。何者？譬如一根之木，以火焚之，煙則上升，灰則下沉，亦自然之理也。夫神明者，生化之本。精氣者，萬物之體，全其形則生，養其精氣，則性命長存矣。</p>
<p>黃帝養生論：黃帝問於岐伯曰：「余聞上古之人，春秋皆度百歲，而動作不衰。今時之人，年至半百而動作皆衰者。時代異耶？人將失之耶？」岐伯對曰：「上古之人，其知道者。法則陰陽，和於術數，食飲有節，起居有常，不妄作勞，故能形與神俱，而盡終其天年，度百歲方去。今時之人則不然，以酒為漿，以妄為常，醉以入房，以欲竭其精，以耗散其真。不知持滿，不時御神，務快其心，逆於生樂，起居無節，故半百而衰也。夫上古聖人之教下也，皆謂之虛邪賊風，避之有時；恬淡虛無，真氣從之；精神內守，病安從來？是以志閒而少欲，心安而不懼，形勞而不倦。嗜欲不能勞其目，淫邪不能惑其心，愚、智、賢不肖不懼於物，故合於道。所以能年皆度百歲，而動作不衰，以其德全不危也。</p>
<p>純陽呂真人抱一說：道生一，一生水，水生精。精者，一物全而神全。神所以制魂定魂，為上士矣。天精者，天地方物，所以生成也。然精常嗇人，而人常費之，竅漏無度。至於中干以死，則其離也。非精離之，人自離之耳。莊子曰：不離於精，謂之神人。故喪精則失虛沉，為下愚矣。人之初生，固精集神，本自絕全，而不能了者，常至於離折隳散。其多曰「罔」、「兩」。罔者，神不明；兩者，精不一。莊子曰：無搖汝精，抱一之謂也。</p>
<p>可惜歌曰：</p>
<p>可惜許，可惜許，可惜元陽宮無主。</p>
<p>一點既隨濃色妒，百神泣送精光去。</p>
<p>三尸喜，七魄怒，血敗氣衰將何補。</p>
<p>尺宅丹田屬別人，王爐丹灶阿誰主。</p>
<p>勸世人，休慕色，慕色貪淫終無益。</p>
<p>一神去後百神離，百神去後人不知。</p>
<p>幾度待說說不得，臨臨下口泄天機。</p>
<p>休糧秘訣：以舌拄上齶，並料攪上下牙齒，內外取津液，至半口或滿口，即咽之。嚥了又以舌拄上齶，並料攪上下牙齒，內外取津液，至半口或滿口即咽之。如此一口，一夜咽之三百度、四百度，則自然不飢矣。三日、五日，前稍費力及疲倦。若過七日之後，當自慣熟，漸覺身體輕健。初學時未甚有津液，頻頻呷一二，呷水。水能止飢，惟不可多吃，吃多令人肚疼。又不可吃白湯，吃白湯則令人飢。又不可吃鹽、醋、咸、酸之物，令人少津液。一月、二月或半年、一年，遇飲食要吃，不妨須先吃少薄粥，漸漸吃硬飯。蓋緣久住飲食，腸肚窄狹。頓食恐致肚疼耳。</p>
<p>許真君方，武當山李道人傳，累試有驗。</p>
<p><u>休糧絕食妙香圓　</u></p>
<p>白膠香　乳香　硃砂　雄黃　蠟　茯苓</p>
<p>上等分，為細末，煉蜜為圓，如彈子大。臨服之時，飽食麵一腹，然後服此藥。可永停食，身輕力健，氣血愈壯。</p>
