<header data-type="book">
<h1>女科精要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>馮兆張</dd></div>
<div><dt>朝代</dt><dd>淸</dd></div>
<div><dt>年份</dt><dd><data value="1694">公元1694年</data></dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>月經門諸論</h2>
<p>人身之病四百有四，婦人之證與男子無殊，其所異者，惟月經、孕育、胎前產後、崩淋、帶下、乳癰、陰瘡諸病，為閨房隱曲。孫真人所謂，婦人之病，治療倍難於男子者此也。</p>
<p>《經》曰：衝脈起於氣街，並少陰之經，挾臍上行，至胸中而散，滲灌諸陽，下入於足，為十二經絡之海。其出入皆少陰經以行，故為血海。然沖、任、督三者，一源而三歧也。沖自少腹後臍兩旁而上行，循腹以任於前，為陰脈之總。任督脈起自少腹循背，以督於後，為陽脈之都綱。</p>
<p>沖為血海，諸經朝分，男子則運而行之，女子則停而止之。運行者，無積而不滿動也。停止者，有積而能滿靜也。不滿者以時而溢謂之信，男子以氣運，故陽氣應日而一舉，女子以血滿，故陰血應月而一下。</p>
<p>沖、任二脈，奇經八脈之二也。《經》云：沖為血海，作主胞胎，一脈也。通於任而下，既行而空，至七日後而漸滿，如月之盈虧相似，當知血海之有餘，以十二經皆然，非特血海之滿也。故始得以行耳。</p>
<p>任脈者，起於中極之下，以上毛際，循腹裡，上關元，至咽喉，故曰：陰脈之海。任者，妊也。此人生養之始，故曰：任脈，督脈者，起於下極之俞，並於脊裡，上至風府，入腦上顛，循額至鼻，柱督之為言都也，是為陽脈之大綱也。故云：陽脈之海，任脈主任一身之陰血，太衝屬陽明，為血之海，故穀氣盛則血海滿，而月事以時下也。</p>
<p>婦人月水，本於四經，二者衝任，二者手太陽小腸、手少陰心。然沖為血海，任主胞胎；二者相資，故令有子，小腸經屬腑主表為陽，少陰經為藏，主裡屬陰，此二經在上為乳汁，在下為月水。（惟鳥獸無天癸而成胎，蓋鳥獸惟知飲食交媾，故運精血往來，獨聚於尾閭也。）</p>
<p>《經》云：女子二七而天癸至。天謂天真之氣，癸為壬癸之水。壬為陽水，癸為陰水。女子陰類，沖為血海，任主胞胎，二脈流通，經血漸盈，應時而下，天真氣降，故曰天癸。常以三旬一見以象月，盈則虧，不失其期，故曰月信。然名天癸者，以比陰精也。蓋腎屬水，癸亦屬水，由先天之氣，畜極而生，故謂陰精為天癸。王冰以月事為天癸者非也。男女之精，皆可以天癸稱，若以女子之血為天癸，則男子之天癸亦為血耶！男女交媾之時各有精，而行經之際，方有其血，未聞交媾時可以血言也。但女子之精二七而至，其月事亦與此時同候也。</p>
<p>男子為陽，陽中有陰，陰中之數八，故一八而陽精升，二八而陽精溢。女子為陰，陰中有陽，陽中之數七，故一七而陰精升，二七而陰血溢，皆飲食五味之實秀也。《經》曰：飲食入胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。東垣謂脾為生化之源，心統諸經之血，心脾平和，則經候如常。苟或七情內傷，六淫內侵，飲食失節，起居不時，脾胃虛損，心火妄動，則月經不調矣。夫血生於脾土，故云脾統血。凡血病當用甘溫之藥，以助陽氣，而生陰血也。</p>
<p>血者水穀之精氣也。和調五臟，灑陳六腑，在男子則化為精，在婦人則上為乳汁，下為月水，故雖心主血，肝藏血，實皆統攝於脾，補脾和胃，血自生矣。凡經行之際，禁用苦寒之藥，飲食亦然，凡女子天癸未至之前為病，多從心脾，天癸既至之後，多從肝腎。</p>
<p>婦人經水與乳，俱由脾胃所生，穀氣入胃，其清純津液之氣歸於心，入於脈，變赤而為血，血有餘則注於衝任而為經水，經水者陰水也。陰必從陽，故其色赤，稟火之色也。沖為血海，任主胞胎，若男子媾精，陰陽和合而成孕，則其血皆移陰於胎矣，既產。則胃中清純津液之氣，歸於肺，朝於脈，流入乳房，變白為乳，是稟肺金之色也。若不自哺，則陽明之竅不通，胃中津液仍歸於脈，變赤而腹為月水矣。</p>
<p>夫男女各有精，凡房勞不節，皆能大傷精氣，故曰精枯殺人。奈世人所論，獨重男子，不知書云。女子嗜欲過於丈夫，感病倍於男子，況產蓐帶下，三十六病，損氣傷血，挾症多端，故女人尤宜清心節欲，便是調經卻病之第一。</p>

<h2>經病門諸論</h2>
<p>凡女人稟賦旺，則十三歲即行，稟賦怯，則逾二七，常是稟賦贏弱，素多陰虛夜熱，十八九尚未至者，必因時滋補遲婚乃佳，倘陰氣未全，驟合男子，多成癆怯。若女人天癸既至，逾十年無男子合則不調。未逾十年，思男子合，亦不調。未至合男，亦不調。不調則舊血不出，新血誤行，或漬而入骨，或變而為腫，或雖合而難子。合多則瀝枯虛人，產乳眾則枯血殺人。其言經者，謂常候也。若陽太過，則先期而至，陰不及，則後時而來，其有乍多乍少，斷絕不行，崩漏不行，皆由陰陽盛衰所致，陰氣乘陽，則胞寒氣冷，血不運行，《經》所謂天寒地凍，水凝成冰，故令乍少，而在月後。若陽氣乘陰，經水沸騰，故令乍多，而在月前。當別其陰陽，謂其氣血，使不相乘，以平為期也。</p>
<p>婦人月水不調，有因風冷乘虛客於胞中，有傷衝任之脈。蓋衝任之脈起於胞中，將息順理則血氣調和，六淫不能為害。若勞傷氣血，風冷乘之，脾胃一傷，飲食漸少，榮衛日衰，肌膚黃瘦，皆由衝任勞損。故凡經行，最宜謹慎，否則與產後成病相類。</p>
<p>婦人以血為海，每因憂思忿怒鬱氣，氣行則血行，氣止則血止。憂思過度，則氣結而血亦結；忿怒過度，則氣逆而血亦逆。如不及期而來者，有火也，宜六味淡水，則火自平矣；不及期而來多者，本方加海螵蛸、柴胡、白芍、五味子。如半月或十日而來，且綿延不止，此屬氣虛，用補中湯；如過期而來者，火衰也，為寒、為虛、為郁、為痰，方加艾葉、香附、半夏；如遲而色淡，本方加桂，此其略也。其間亦有不及期而無火者，有過期而有火者。凡紫黑色者，多屬火旺之甚，亦有虛寒而紫黑者；若淡白則無火明矣。然更有挾痰而淡白者，有挾濕痰帶黃而渾濁者，故當兼以脈之遲數，稟之強弱辨之。</p>
<p>經水者，陰血也，陰必從陽，故其色紅，上應於月，月滿則虧，月虧則盈，其行有常，故名月經，為氣之配，隨氣而行，氣熱則熱，氣寒則寒，氣滯則滯。成塊者，氣之凝也；將行而痛者，氣之滯也；行後作痛者，氣血虛也；錯經妄行者，氣之亂也；色淡者，虛而有水混之也；紫者，氣之熱也；黑者，熱甚也。今人一見紫黑成塊作痛，率指為風冷乘之，用溫熱之劑，禍不旋踵。經曰：亢則害，承乃制。熱甚則兼水化，所以熱則紫，甚則黑也。《玉機》曰：寒則凝而不行。既行而紫黑，故知非寒也。且婦人性多忿鬱，嗜欲倍加，臟腑厥陽之火，無日不有，非熱而何，當以脈辨之而自見矣。</p>
<p>凡寒冷外邪初感，入經必痛，久則鬱而為熱。且血寒則凝，既行而雖紫黑，乃非寒也。如傷寒而為病熱也明矣。</p>
<p>有經行前臍腹絞痛如刺，寒熱交作，下如黑豆汁，兩尺沉澀，余皆弦急，此由下焦寒濕之邪，搏於衝任，痛極則熱，熱則流通，因寒濕生濁，故下如豆汁也。宜治下焦，以辛散苦寒、血藥治之。亦有血虛血澀者，以養血藥佐以順氣。</p>
<p>經行體痛者，蓋氣血盛，陰陽和則形體通暢，若外虧衛氣之充養，內乏榮血之灌溉，故經行身痛也。或曰血海有餘者，時至而溢。血海不足，有時至而周身之血亦傷，故欲行而身體先痛也。至於經行後腹痛，尤屬氣血俱虛，宜八珍湯；然亦有虛中有熱者，宜逍遙散；亦有氣滯而經行未盡者，宜四物加木香。</p>
<p>有經後發熱倦怠，兩目如帛蔽不明者，蓋脾為諸陰之首，目為血脈之宗，此脾陰虧損，而五臟皆為失所不能歸明於目也，用補中湯、歸脾湯專主脾胃，調補氣血，目得血而自能視矣。若誤以清涼明目為事，反致變生大病。</p>
<p>有婦人經行必先瀉二、三日，然後經下，診其脈皆濡弱者，此脾腎兩虛也。蓋脾統血，經水將行，脾氣運行，血海不能滲濕固中矣。腎主禁固，月事應時而下，癸元消耗於中，而失禁固之權矣，宜以歸脾加減，溫補脾腎為主。若經去過多，白帶時下，日輕夜重，泄瀉無時者，此陽虛下墮也，命曰脫陽，宜十全湯或補中湯主之。</p>
<p>婦人經閉不行者，有因脾胃久虛，形體羸弱，氣血漸衰，以致經水斷絕者；或因勞心過度，心火上行，不得下通府脈，是以月事不來者；或因中消胃熱，善飢漸瘦，津液不生，血海枯竭，名曰血枯經絕者；有因冷客胞門，血寒凝泣而不下者；有因軀肥脂滿，痰多佔住血海地位，閉塞不行者；有因或挾寒，或挾熱，而汙血凝滯不行者；有因食與濕痰填塞太陰，經閉作痛者。寒熱虛實之迥然不同，總不能遁乎脈之遲數有力無力間也。</p>
<p>經病有月候不調者，有月候不通者，然不調不通之中有兼疼痛者，有兼發熱者。不調之中，有趲前者，有退後者，則趲前為熱，退後為虛也。不通之中，有血滯者，有血枯者，則血滯宜行，血枯宜補也。疼痛之中，有常時作痛者，有經前經後作痛者，則常時與經前作痛為血積，經後為血虛也。發熱之中，有常時發熱者，有經行發熱者，則常時為血虛有積，經行為血虛有熱也。大抵多內因憂思忿怒，外因飲冷形寒。蓋人之氣血周流，忽因憂思忿怒所觸，則鬱結不行；忽遇飲冷形寒，則惡露不盡，此經候不調，不通作痛，發熱之所由也。調其氣而行其血，開其鬱而補其虛，涼其血而清其熱，氣行血行，氣止血止，故治血病以熱藥為佐，肉桂之類是也。至於大病後經閉，系屬氣血兩虛，惟宜補脾養血，元氣充復自然經通，此不治而治也。</p>
<p>婦人以血為主，經行與產後一般最宜謹慎。其實若有瘀血一點未淨，或被內寒濕熱暑邪，或內傷生冷，或浣濯入冷；或誤食酸鹹，七情鬱結凝積於中，名曰血滯。或經止後用力太過，入房太甚，及服食燥熱，以致火動，則邪氣盛而津液衰，名曰血枯。若經後被驚，則血氣錯亂妄行，逆於上則從口鼻出，逆於身則血水相搏變為水腫。恚怒則氣血逆於腰腿、心腹、背肋、手足之間重痛，經行則發，怒極傷肝則有眩暈嘔血，瘰癧血風瘡癢等病。加之經血滲漏，遂成竅血生瘡，淋瀝不斷，濕熱相搏為崩帶。血結於內變癥瘕。凡此變證百出，不過血滯與血枯而已，重則經閉不通，致成癆瘵。故犯時微若秋毫，成患重於山嶽，是以治女人諸病，必先問經也。</p>
<p>血枯血隔皆經閉不通之候，然枯之與隔，有如水炭。枯者竭也，血虛極矣；隔者，隔阻也，血本不虛，而或氣、或寒、或積，有所逆也。隔者，病發於暫，其症或痛或實，通之則行而愈。若枯者，其來有漸，衝任內竭，其證無形。夫既枯矣，大宜補養陰氣，未至枯竭者，氣血或可漸充，如用通經峻削，枯者愈枯，斃可立待。</p>
<p>血滯經閉宜破者，原因飲食毒熱，或暴怒凝瘀積痰，直須大黃、乾漆之類推陳致新，俾舊血消而新血生也。若氣旺血枯，起於勞役憂思，自宜溫和滋補。或兼有痰火濕熱，尤宜清之涼之，每以肉桂為佐者。熱則血行也，但不可純用峻藥以虧陰道，惟宜補益榮衛，調和飲食，自然血氣流通。苟不以根本為事，惟圖峻藥攻之，是求千金於乞丐矣。</p>
<p>有婦人生女子，年十五來診，言十四時經水自下，今經反斷，何也。緣婦人年十四時亦經水下，反以斷，此為避年，後當自下。此天一之源而來，積則一月而滿，滿則溢，似血而實非血也。然衝任起於胞中，男子藏精，女子系胞而為其用者。其間又恃一點命門之火為之主宰，是以火旺則紅，火衰則淡，火太旺則紫，火太衰則白，所以滋水更當養火。甚則乾涸不通者，雖曰火盛之極，亦由水虛之甚，亦不宜以苦寒之藥降火，只宜大補其水，從天一之源以養之，使滿，滿則自能流行而溢，萬無有毒藥可通之理也。</p>
<p>凡治病婦，當先問娠，不可倉卒。蓋既有病，則娠脈不能易辨，故凡看婦人病脈，不可純用破氣行血之藥，恐有娠在疑似間也。</p>
<p>婦人之病，比之男子十倍難療。十四以上陰氣浮溢，百想經心，內傷五臟，月水去留前後交互，瘀血停凝中道，斷絕其中，傷墮不可具論，嗜欲過於丈夫，感病倍於男子，加以愛憎嫉妒，所以為病根深，療之難瘥。至於尼姑寡婦獨陰無陽，悒鬱而傷心脾，尤非草木易於奏功也。</p>
<p>有因先病而後經不調者，有經不調而後生諸病者。如先因病而後經不調，當先治病，病去則經自調。若因經不調而後生病，當先調經，經調則病自除。</p>
<p>《脈經》曰：尺脈滑，血氣實，婦人經脈不利。尺脈來而斷絕者，月水不利。寸關如故，尺脈絕不至者，月水不利，當患少腹痛。肝脈沉，月水不利，主腰腹痛。</p>
<p><u>交加地黃丸</u></p>
<p>治經水不調、血塊氣痞、肚腹疼痛。</p>
<p>生苄（一斤）　老生薑（一斤）　玄胡索　當歸　白芍　川芎（各二兩）　沒藥　木香（各一兩）　桃仁（去皮尖）　人參（各一兩五錢）　香附（半斤）</p>
<p>上將地黃、生薑各搗汁，以生薑汁浸地黃渣，地黃汁浸生薑渣，各以汁盡為度。次將余藥為末，共作一處，日乾同為末，醋糊丸，桐子大，空心服五十丸，薑湯下。</p>
<p><u>活血散</u></p>
<p>治衝任經虛，經事不調，不拘多少前後並治。</p>
<p>白芍藥　玄胡索　當歸　川芎（各四兩）　肉桂（去皮一兩）</p>
<p>每服四錢，水煎食後熱服。</p>
<p><u>四制醋附丸</u></p>
<p>治婦人女子經候不調。</p>
<p>香附子（去毛一斤，作四分，一分好酒浸七日，一分小便浸七日，一分鹽水浸七日，一分米醋浸七日）</p>
<p>谷焙乾為末，醋糊丸如桐子大，每服七十丸，空心食前鹽酒送下，肥人依方服，瘦人加澤蘭葉、赤茯苓各二兩。</p>
<p>按：香附子血中元氣藥也，婦人假血為本，以氣為用，今用香附子開鬱行氣，氣行而血亦行矣，但氣調而血枯、血燥者用之，非徒無益也。</p>
<p><u>當歸地黃丸</u></p>
<p>治婦人血氣不和，月事不勻，腰腿疼痛。</p>
<p>當歸　川芎　白芍藥　熟苄（各五錢）　牡丹皮　玄胡索（各二錢五分）　人參　黃耆（各一錢二分半）</p>
<p>為末蜜丸桐子大，每服三十丸，食前米湯下。</p>
<p><u>通經丸</u></p>
<p>治婦人室女經候不通，臍腹疼痛，或成血瘕。</p>
<p>川椒（炒去汗）　蓬朮（炒去煙）　青皮（去白）　乾漆（炒去煙）　當歸　乾薑（炒）　大黃（炒）　桃仁（炒）　紅花　桂心（各等分）</p>
<p>為末，將一半用米醋熬成膏，和余藥，一半成劑，臼中柞之，丸桐子大、陰乾，每服五十丸，醋湯溫酒空心下。</p>
<p><u>通經散</u></p>
<p>治室女月水不通。</p>
<p>雄鼠屎一兩燒存性，為末，空心溫酒調下一錢神效。</p>
<p><u>血竭膏</u></p>
<p>治乾血氣。</p>
<p>錦紋大黃（酒浸曬乾四兩）為末，一升熬成膏，丸如雞子大，每服一丸熱酒化開，待溫臨臥服，大便一二行，紅脈自下，此藥調經水之仙藥也。</p>
<p><u>玄胡索湯</u></p>
<p>治婦人室女七情所感，血氣相併，心腹疼痛，或連腰脅，甚作搐搦，一切血氣經候不調。</p>
<p>玄胡索　赤芍藥　片子薑黃　官桂（不見人）　當歸（去蘆）　蒲黃（各五錢）　甘草（一錢五分）　木香（不見火）　乳香　沒藥（各三錢）</p>
<p>每服四錢，姜水煎服。如吐逆，加半夏、橘紅（各五錢）</p>
<p><u>蠲痛散</u></p>
<p>治婦人血氣刺痛。</p>
<p>荔枝核（燒存性五錢）　香附（炒一兩）</p>
<p>為末每服二錢，淡鹽湯下。</p>
<p><u>失笑散</u></p>
<p>治小腸氣痛，婦人血氣痛欲死者。</p>
<p>五靈脂　蒲黃（各等分）</p>
<p>為末，每服二錢，用醋一合熬藥成膏，入水一盞，煎七分熱服。</p>
<p><u>小柴胡湯</u></p>
<p>治婦人傷風七八日，積得寒熱發作有時，經水適斷，此為熱入血室，其血必結，故如瘧狀。</p>
<p>柴胡（八錢）　半夏（二錢）　人參　甘草　黃芩　生地（各三錢）　麥冬（二錢）</p>
<p>每服八錢，薑棗，水煎服。</p>
<p><u>治女人乾血勞方</u></p>
<p>用陳麥曲（四兩，火煅存性）</p>
<p>為末，每服一兩，沖黃酒下，出臭汗為驗，忌麵食二十一日。</p>

<h2>崩漏門諸論</h2>
<p>《經》曰：悲哀太過則心系急，肺布葉舉，而上焦不通，熱氣在中，故血走而崩也。又曰：陰虛陽搏謂之崩。然有得之悲哀者，七情傷心之崩也；有得之勞力者，內傷勞倦之崩也。崩者，經血卒然大至，或清或濁，或純下瘀血，如山之崩，勢不可遏之謂也。有崩甚腹痛，人多疑惡血未盡，又見血色瘀黑，愈信惡血，不敢止截。殊不知血因經絡之氣而流行，故能色鮮而不滯，若一出經絡既失陽和，復無氣運，猶天寒風靜，水即為冰，停在腹中，便為瘀血。以瘀為惡，又焉知瘀之不為虛冷乎。瘀而腹痛，血行則痛止，崩而腹痛，血住則痛止。芎歸湯加薑、附止其血而痛自止去。以色黑為瘀血，而盡去之，則經絡中之乘虛而走者，何時而生耶。必氣脫人亡而後已。甚有涎郁胸中，清氣不升，故經脈壅遏而降下，非開涎則不足以行氣，非氣升則血不能以歸隧道。治宜二陳之類，先服後吐之，既開胸膈之痰涎，復散鬱滯之濁氣，則氣升濁降，血歸隧道而不崩矣。</p>
<p>衝任為經脈之海，凡血氣調適，則外循經絡，內榮臟腑，經下依時。若勞傷過極，衝任氣虛不能約制經血，乃為崩中暴下。治當大補氣血，升舉脾胃之氣，微加鎮墜心火，補陰瀉陽而崩自止。若過涼劑投服，則加遏陽氣於氣海，經血愈難寧靜。古人多用燒乾姜灰，或燒桂心灰，方書用治寒崩，非治寒也，取其散結從治法耳。然更當分陰陽而治。夫氣血，人身之陰陽也，陽主升，陰主降，陽根陰，陰根陽，一升一降循經而行，無崩漏也。若陽有餘則升者勝，血出上竅；陽不定則降者勝，血出下竅，故血隨陽氣而升降。陽氣者，風也，風能上升，然必須東方之溫風，始能升生長養也。</p>
<p>婦人血崩，來如潮湧，明是熱勢妄行，然豈可用寒治。寒則血凝泣，而熱鬱於中宮益深矣，治宜清補兼為升提，血自循經，經自攝血，故宜不可驟止也，宜地黃、阿膠、芍藥、麥冬、桑耳灰、木耳灰之類。久則亦多虛寒，而宜溫補脾腎者，當以脈侯之。然血症多兼用黑藥者，以血者火之色也，黑者水之象也，血挾火勢，令水化制之，故黑能勝紅也。</p>
<p>《經》云：陰虛陽搏謂之崩。蓋尺脈既虛，陰血已損，寸脈搏擊，虛火愈熾，火迫妄行而為之。崩皆從胞絡中出也，血久下行，已為熟經，則本宮血乏，十二經之血皆從此滲漏矣。然胞絡下繫於腎，上通於心，故此症實關心腎二經，宜有陰虛陽搏之脈也。東垣用十二經引經之藥，使血歸十二經，然後用黑藥止之。若不先服引血歸經，則止血藏於何所，勢必益增氾濫無拘矣。尤宜清心絕欲，則心得拱默之德，腎得閉藏之司，肝無妄泄之害矣。</p>
<p>崩者，倏忽暴下也；漏者，淋瀝不斷也。總由勞役過度而傷中，喜怒不節而傷肝，脾虛不能統血，肝傷不能藏血，而為崩中漏下。或悲思憂恐太甚，陽氣內動，真陰愈虛，不能鎮守胞絡，相火迫血而崩，故宜養血安神為主，若因脾胃氣虛下陷，腎與相火相合，濕熱下迫而致者，宜調理養血為主；或大小新產，遽觸房事；或經水未絕，欲熾而傷血海，皆致崩漏，並宜調氣養血，於肝心脾腎則臟求之。</p>
<p>女子漏下惡血，或暴崩不止，多下水漿之物，皆由飲食不節，或勞倦傷脾，或心氣不足。夫脾為至陰，滋榮周身者也；心主血脈，實腎貫脾者也。二者受病，病皆在脈。脈者，血之府也；心者，脈之神也；心不主令，包絡代之。心系者，胞絡命門之脈也，主月事生孕。因脾胃虛而心包乘之，故漏下血水不止，當除濕去熱，用升陽除濕湯，即提陽氣之下陷，復假風藥以勝其濕熱之勢也。若病愈，經血惡物已盡，必須以黃耆、人參、甘草、當歸之類補之；若經血惡物下之不絕，因虛不能收攝者，當益脾胃，補氣血，兼升兼止；因於熱者，兼以清心涼血之藥。</p>
<p>人之七情過極，則動五志之火，五志之火一甚，則經血暴下如風動水搖，火燃水沸也。治崩次第，初用止血以塞其流，中用清熱涼血以澄其源，末用補血以還其舊。若止塞其流而不澄其源，則滔天之勢不能遏；若止澄其源而不復其舊，則孤立之陽無以立。故急則治標，緩則治本，本末勿遺，前後罔紊，方可以言治。</p>
<p>立齋曰：有婦人患崩，過服寒藥，脾胃久虛，中病未已，寒病復起，煩渴引飲，粒米不進，昏憒時作，脈洪大而按之微弱。此無根之火，內虛寒而外假熱也，十全大補加附子而崩減，日服八味丸而愈。又有久患崩者，服四物涼血劑，或作或止。有主降火為治，則更加腹痛、手足俱冷。此脾胃虛寒所致，先用附子理中湯，次用濟生歸脾、補中益氣二湯而崩愈。崩且水瀉，是前後二陰之氣下脫也，參苓耆朮佐升柴，大升大補為佳。如病人自覺寒冷如水，時欲喜暖所，下汙水色如屋漏，或多白帶，脈雖洪緊而無力，或沉伏者，此屬濁氣鬱滯衝任所致，宜以升散開結平肝為要，必兼辛散，平以辛涼，其純熱純寒之藥俱不可用。炒黃柏、蒼朮、香附、撫芎、半夏、青陳皮、白芷、柴胡、肉桂、炮姜之類最宜。</p>
<p>凡受熱而色赤者，謂之陽崩；受冷而色白者，謂之陰崩。五臟皆虛，五色隨崩俱下。一臟虛，隨臟見色者：下色白如涕，肺臟之虛冷也；色青如藍，肝臟之虛冷也；色黃如爛瓜，脾臟之虛冷也；色赤如絳，心臟之虛冷也；色黑如肝血，腎臟之虛冷也。五臟俱虛，五色相雜，謂之五崩。</p>
<p>立齋曰：血崩兼心痛者，心主血，去血過多，心無所養以致作痛也，宜十全湯倍參朮多服；如瘀血不行者，失笑散；陰血耗散者，烏賊丸斂之。然崩為急症，漏為緩症；崩必大怒傷肝，衝動血海，或火盛之極，血熱沸騰也；漏則房勞過度，傷損衝任二脈，氣虛不能約制經血，或其人平素多火，血不能安，故不時漏泄；崩宜理氣降火升提，漏宜滋陰補氣養血；或兼制火也。</p>
<p>崩漏不止之症，先因心火亢甚，於是血脈泛溢，以致肝實而不能納血，出納之用遂廢。《經》曰：子能令母實。是以肝腎之相火，上挾心火之勢，從而相扇，至令月水錯經妄行，無時泛溢。若不早治，變為血枯發熱癆怯矣。</p>
<p>《經》云：陽絡傷，血外溢；陰絡傷，血內溢。又云脾統血、肝藏血。故崩漏為患，因脾胃虛損，不能統血運行。或因肝經有火，血得熱而下流。或因肝經有風，血乘風而妄動，或因怒動肝火，血熱沸騰。或因脾經鬱熱，血不歸經。或因悲哀太過，胞絡傷而滲漏。治療之法，脾胃虛弱者，四君子加芎歸。脾胃虛陷者，補中湯加白芍。肝經血熱者，四物湯加柴胡、山梔。肝經風熱者，加味逍遙散。若怒動肝火，亦用前藥。脾經鬱火者，歸脾湯加山梔、柴胡、丹皮。悲傷胞絡者，四君子加升、柴、山梔。初起多從熱，久則又當從寒。然陽強陰弱者，崩愈久而陰愈虛愈熱，乃陰虛之假熱，不可用寒涼正治也。朱丹溪、東垣云：凡下血證，須四君子收功。又曰：氣虛血虛，皆以四物加參耆。因勞力者，參耆加升麻。若大去血後，毋以脈診，急用獨參湯救之。其發熱、潮熱、咳嗽、脈數，乃元氣虛弱，真陽不能內藏，真陰不能內守，假熱之脈也，尤宜人參。此等症候，無不由脾胃先損，故脈洪大，察其中有胃氣，受補則可救。設遇寒涼，復傷脾胃生氣，反不能攝血歸源，是速其危也。蓋諸血症皆以胃藥收功，蓋脾能統血，而脾胃又為生化之源也。至於先貴後賤，名曰脫勢；始富後貧，命曰脫營。由心氣不足，其火內燔血脈之中，經候不調，形體容顏似不病者，此心病不影於胗，至於飲食不節，則病矣。凡此宜勸解，以慰其心，再以大補氣血，調益脾胃，微加鎮墜心火，補陰瀉陽，而經自調矣。</p>
<p>《脈訣》曰：崩漏下血，脈遲小虛滑者，生疾急；大實緊數者，死；尺寸虛者，漏血；脈浮者，死，不治。</p>
<p><u>膠艾湯</u></p>
<p>治勞傷血氣，衝任虛損，月水過多，淋漓不斷，及妊娠調攝失宜，治氣不安，或因損動漏血傷胎。</p>
<p>阿膠（炒）　芎藭　甘草（炙，各二兩）　艾葉（炒，一兩）　當歸（二兩）　熟地黃　白芍藥（各四兩）</p>
<p>每服五錢，水一鍾，酒半鍾煎服。</p>
<p><u>柏子仁湯</u></p>
<p>治婦人憂思過度，勞傷心經，不能藏血，遂致崩中下血不止。</p>
<p>鹿茸（火去毛，酒蒸烙）　香附子（炒去毛）　柏子仁（炒。各二兩）　芎藭　茯神（去木）　當歸　小草（各一兩）　甘草（炙，五錢）　川續斷（一兩）　阿膠（二兩，炒成珠）</p>
<p>每服四錢，酒一鍾，姜五片煎七分，空心溫服。</p>
<p><u>一方</u></p>
<p>治月水不止，用阿膠炒枯為末，好酒空心調服四錢，或白湯亦可。</p>
<p><u>烏雞丸</u></p>
<p>治婦人羸弱，血虛有熱，經水不調，崩漏帶下，骨蒸等疾不能成胎。</p>
<p>白毛烏骨公雞（一雙，重二斤半許，閉死，去毛，腸淨）　艾（四兩）　青蒿（四兩剉碎），納一半在雞腹，用酒罈一個納雞並余艾蒿在內，用童便和水灌，令沒雞二寸許，煮絕干，取出去骨，余俱搗爛如薄餅狀，焙乾，研為細末。</p>
<p>南香附（去毛淨一斤，分作四分，米泔水浸一分，童便浸一分，醋浸一分，酒浸一分，春秋一夏一冬四日取出，曬乾）　熟地黃（四兩焙乾）　當歸（酒浸洗炒）　白芍藥（酒炒）　鱉甲（醋浸炙黃色）　人參（焙）　生地黃（懷慶者勿犯鐵器）　白朮（炒）　黃耆（蜜炙）　川牛膝（酒炒）　牡丹皮（酒炒）　柴胡（蜜酒炒）　知母（酒炒）　貝母（薑汁拌炒。各二兩）　地骨皮　乾薑（炒黃）　玄胡索　黃連（酒浸炒。各一兩）　秦艽（一兩五錢，蜜酒持炒）　川芎　白茯苓（各二兩五錢）</p>
<p>上同香附子共為細末，和雞末，溫酒或米飲下，忌煎炒辛辣之物及莧菜。</p>
<p><u>芩心丸</u></p>
<p>治婦人四十九歲以後，天癸當住，每月卻衍或過多不止。</p>
<p>黃芩（新枝條者二兩，以米醋浸七日，炙乾，又浸又炙如此七次）</p>
<p>為末，醋糊丸，桐子大，每服七十丸，空心溫酒下，日三服。</p>
<p><u>十灰丸</u></p>
<p>治崩中下血不止。</p>
<p>黃絹灰　馬尾灰　藕節灰　艾葉灰　赤松皮灰　蒲黃灰　蓮蓬灰　油發灰　棕櫚灰　綿灰（各等分）</p>
<p>為末，醋煮糯米糊丸桐子大，每服百丸，米飲下。</p>
<p><u>備金散</u></p>
<p>治婦人血崩不止。</p>
<p>香附子（四兩炒）　當歸（一兩二錢）　五靈脂（一兩）</p>
<p>為末，每服五錢，空心淡醋湯調下，立效。丹溪云：崩過多者，先用五靈脂末一服，當分寒熱，五靈脂能行能止。</p>
<p><u>蓮蓬散</u></p>
<p>治經血不止。</p>
<p>蓮蓬燒灰存性為末。</p>
<p>白湯調服二錢。</p>

<h2>帶下門諸論</h2>
<p>《經》曰：思想無窮，所願不得，意淫於外，入房太甚，發為白淫。白淫者，白物淫衍如精狀。男子因溲而下，女子陰中綿綿下也，本出於帶脈。帶者，奇經八脈之一也，腰臍間回身一周如束帶焉。八脈俱屬腎經，人身帶脈統攝一身無形之水，下焦腎氣虛損，帶脈漏下，白為氣虛，赤為有火。治法但以補腎為主，白者多，赤者少。若脾虛者，六君子加升麻；氣虛者，補中湯；肝虛者，逍遙散兼六味丸。</p>
<p>帶下，任脈之病也。《經》云：任脈者，起於中極之下，以上毛際，循腹裡上關元至咽喉，上順循面。任脈自胞上過帶脈，貫臍上，其病所發正在過帶脈之分淋漓，故曰帶。男子遺精白濁，女子赤下白淫，皆因喜怒憂思、產育房勞傷其榮衛，或素有濕熱濁氣滲入膀胱，故穢白之物如涕而下流不止，面色無光，腰腿痠痛，精神短少。世徒知下焦之虛寒，不知中焦之濕熱，反用燥熱溫補之劑偏助陽火，陽火既盛，陰血漸爍，譬如豬膏烹之則融，冷則凝。中焦濕熱，淫氣不清，則為白帶。所以火升水降則上熱下寒，下焦虛冷，凝結濁物。若熱氣熏蒸，則為腥腐之氣，安得獨言虛寒乎。法當清上實下，清濁自分，理脾養血，濕熱自解，再為溫補下元，使水升火降而帶自除。故丹溪曰：氣屬血，白屬氣、屬痰，俱是胃中痰積下流滲入膀胱，宜用升舉。肥人多屬濕痰，瘦人帶病少，如有者亦屬熱痰，宜用星、半、蒼朮、海石、炒黃柏、青黛、川芎、椿樹皮之屬。</p>
<p>婦人多憂思鬱怒，損傷心脾，肝火時發，血不歸經，所以多患赤白帶也。白帶多是脾虛，蓋肝氣鬱則脾受傷，脾傷則濕土之氣下陷，是脾精不守，不能輸為榮血，而下白滑之物矣，皆由風木鬱於地中使然耳。法當開提肝氣，補助脾元，以補中益氣湯加棗仁、茯苓、山藥、黃柏、蒼朮、麥冬之類，濃煎，不時飲之，再用六味地黃加牡蠣粉、海螵蛸、杜仲、牛膝，蜜丸如豆，空心吞下五六錢。白帶本屬氣虛，補氣健脾兼以升舉，若如濃泔而臭穢特甚者，濕熱甚也，宜蒼朮、白朮、黃柏、茯苓、椿樹皮之類，佐以升提。若如雞子清者，脾腎虛極也，面色必不華，足脛必浮，腰腿必酸，宜五味子、八味丸，間用開脾養心之劑，如歸脾湯之類。陰虛有火，宜八味丸中加五味子、菟絲子、車前、黃柏。叔和云：崩中日久為白帶，漏下多時骨水枯。蓋言崩久氣血虛脫，雖有寒熱之分，俱是氣血流淫為病，總歸屬於虛處也。</p>
<p>婦女下赤白而不甚稠者曰白淫，與男子白濁同系於腎火。如龍雷之攪而不澄清也，屬足少陰、足太陰，治當清補為主。如有滑白稠黏者，謂之帶下，屬心包手厥陰少陽，即如男子自遺之精，甚如砂石之淋。源乎心包，系乎脊，絡於帶脈，通於任脈，下抵湧泉，上至泥丸，治宜血肉之劑以培之。時人泥於常套，作流痰治，以牡蠣、龍骨、地榆、膠艾之類治之，和以四物，加以升提，殊不知根本損傷，以致腐敗，而來澀彼塞滯不清之物，則益加其滯，升提不正之氣，則愈增其鬱。惟以六龍固本丸、十六味保元湯主之。十六味保元湯治赤白帶下。骨碎、貫眾去毛三錢，杜仲、小茴香鹽酒炒一錢五分，人參二錢，黃耆一錢，巴戟二錢，當歸一錢，石斛七分，升麻七分，山藥一錢，生草六分，獨活一錢，茯苓七分，蓮子一錢，黃柏八分，圓肉三枚。六龍固本丸，山藥四兩，巴戟肉四兩，山奈四兩，川楝子二兩，小茴香一兩，補骨脂二兩，青鹽三錢，人參二兩，蓮肉二兩，黃耆二兩，川芎一兩，木瓜一兩。</p>
<p>帶脈總束諸脈使不妄行，如人束帶而前重也。婦人赤白帶下之症，多是怒氣傷肝，肝鬱乘脾，則脾受傷而有濕，濕而生熱，熱則流通，所以滑濁之物滲入膀胱而出也。古人作濕寒，而用辛溫治之者非，丹溪作濕熱，而用苦寒之藥，是正治之法也，用辛溫之藥是從治之法也。蓋濕熱怫鬱於內，肚腹疼痛，赤白帶下，非辛溫之藥從治，而能開散之乎。若在濕熱尚未怫鬱，但只赤白帶下而無腹痛之症者，不若暫用苦寒之藥治之為當也。</p>
<p><u>一方</u></p>
<p>治婦人有孕白帶。</p>
<p>黃芩（炒）　蒼朮（各三錢）　黃連（炒）　白芷（各二錢）　白芍（二錢五分）　椿根皮（炒）　黃柏（炒，各一錢五分）　山茱萸（二錢五分）</p>
<p>為末糊丸，空心溫酒下五十丸。</p>
<p><u>白帶神方</u></p>
<p>用牡蠣（青色無沙眼者為雄者佳）　炭火煅紅，在地上冷定再煅，如法七次，研製空心，用腐漿調下二錢，一二服便愈。</p>
<p><u>一方</u></p>
<p>治赤白帶濕勝而下者。</p>
<p>滑石（炒）　蒼朮（鹽炒）　白芍（各一兩）　枳殼（炒）　甘草（各三錢）　地榆（五錢）　乾薑（炮，二錢）　椿根皮（炒，一兩）</p>
<p>為末粥丸，空心米飲下百方。</p>
<p><u>當歸煎</u></p>
<p>治赤白帶下，腹內疼痛，不欲飲食，日漸羸瘦。</p>
<p>當歸（去蘆酒浸）　赤芍藥　牡蠣（火煅取粉）　熟地（酒浸，蒸焙）　白芍藥　續斷（酒浸）　阿膠（各一兩）　地榆（五錢）</p>
<p>為末醋糊丸，桐子大，每服五十丸，空心米飲下。</p>
<p><u>威喜丸</u></p>
<p>治白帶、白淫、白濁，便如米泔。</p>
<p>黃蠟（四兩）　白茯苓（去皮切塊四兩，用豬苓一兩同煮三十餘沸，取出日曬，不用豬苓）</p>
<p>以茯苓末，熔黃蠟丸如彈子大，每服一丸，空心細嚼，津液嚥下，以小便清為度，忌米醋，只吃糠醋。</p>
<p><u>大效拱辰丸</u></p>
<p>治婦人血海虛冷，白帶時下，臍腹刺痛，久服令人延年，精神充實，子嗣多育。</p>
<p>琥珀（二錢）　當歸（二兩）　沉香（五錢）　木香（不見火，三錢）　官桂（不見火，五錢）　人參　黃耆　鹿茸（酥炙）　酸棗仁　鹿角霜　延胡索　柏子仁（各一兩）　乳香　沒藥　乾薑（各五錢）</p>
<p>為末蜜丸，如龍眼大，每服一丸，空心溫酒化下。</p>
<p><u>人參黃耆散</u></p>
<p>治久患白帶，瘦細無力，腰腹腿痛，飲食無味，面黃浮腫、小水淋漓，氣虛血少。</p>
<p>當歸身　茯苓（各一錢）　芍藥（炒）　真地骨皮　白朮（八分）　川芎　人參（各八分）　車前子（五分）　黃耆（一錢）　炙甘草（五分）　熟地（一錢五分）　鹿角膠（如氣虛者入五茶匙）</p>
<p>水一鍾，棗二枚煎服。</p>

<h2>女科雜症門</h2>

<h3>熱入血室</h3>
<p>《金匱》曰：婦人傷寒發熱，經水適來，晝日明瞭，暮則譫語，如見鬼狀，此為熱入血室，治之無犯胃氣及上二焦必自愈也。此言發熱病之初也。經水適來，邪盛而經氣亦盛，寒邪傷榮，故邪與血搏，血屬陰主夜，故晝則雖熱而明瞭，暮則入陰分，邪挾陰氣而為譫語，如見鬼狀者，譫之甚也。此為熱入血室。然血室雖在內，而表邪實未嘗犯胃及上二焦，故治法亦惟和表邪，兼清血室之熱足矣。誤以為客邪入內攻之，則伐及無辜，導邪入內矣。故曰無犯胃氣，及上二焦，必自愈也。然沖為血海，即是血室，衝脈得熱則逼血下行，男子亦有之，不獨婦人也。</p>

<h3>血分水分</h3>
<p>《金匱》曰：病有血分、水分，何也？經水前斷，後病水，名曰血分，此病為難治。先病水，後斷經，名曰水分，此病易治。蓋去水，後斷經，名曰水分，此病易治。蓋去水，其經自下也。《聖濟》曰：血分者，經水通之際，因寒熱傷其衝任，氣壅不行，播在皮膚，邪氣相搏，經血分而為水，發為浮腫，故曰血分，久不治積成水腫，即難治。水分者，以水氣上溢皮膚，散於四肢，發為浮腫，蓋腎者，胃之關，關門不利，故聚水而從其類，病水而經乃斷矣。《證治》又曰：經事不通，血入四肢，化為水，遂成腫滿，非獨產後為然，名曰血分，誤作水治，其害不小，宜調經散，蓋氣者，水之母，血者，氣所化，非氣無法以生血，非血無以養氣。若經水不通，則血病氣亦病，豈有水不通而能化血乎？血不通而化水者，乃是氣壅不能化血而成水也，觀桃仁丸可見矣。</p>

<h3>炙臠梅核</h3>
<p>《金匱》曰：婦人咽中，有如炙臠，半夏厚朴湯主之，炙臠乾肉也。咽中貼貼，如有炙肉，吐之不出，吞之不下，此病不因腸胃，故不礙飲食；二便不因表邪，故無骨痛寒熱，乃氣為積寒所傷，不與血和，血中之氣，溢而浮於咽中，得水濕之氣，凝結難移，男子亦間有之。藥用半夏厚朴湯，乃二陳去陳皮、甘草，加厚朴、紫蘇、生薑也。專治婦人七情之氣，鬱滯不散，結成痰涎，或如梅核，在咽咯咽不下，或中脘痞滿，氣不舒暢，或痰飲中滯，嘔逆惡上，並可取效。蓋半夏降逆，厚朴散結，生薑、茯苓宜至高之滯，而下其濕，蘇葉味辛氣香，色紫性溫，能入陰和血，則氣與血和，即不復上浮也。</p>

<h3>癥瘕痃癖</h3>
<p>痃者，近臍左右，各有一條，筋脈急痛，大者如臂，次者如拳，因氣而成，如弦之狀，故名曰痃。癖者，僻在兩肋之間，有時而痛，故名曰痃。癖者，僻在兩肋之間，有時而痛，故名曰癖。疝者，痛也。瘕者，假也，假物成形，推移乃動也。若傷食成塊堅而不移，名曰食癥。瘀血成塊，堅牢不移，名曰血癥。積在腸胃之間與臟氣結搏堅牢，雖推之不移，名曰癥，言其病形可徵驗也。氣壅塞而為痞，言其氣痞塞不宣暢也。大抵推之不動為癥，推之動為瘕也。至疝與痃癖則與痛俱，痛即現，不痛即隱，在臍左右為痃，在兩肋間為癖，在小腹牽引腰脅為疝，總因婦人臟腑虛弱，經行不忌生冷，痰血飲食，結聚成塊，與臟氣相持，日漸生長，牢固不安，得冷則發，大痛欲死，然有異於丈夫者，非因產後血虛受寒，或因經來取冷過度，不獨飲食失節，多挾血氣所成。其脈弦急者生，虛弱微細者危。善治者，調補脾胃為主，佐以消導。若形氣充實者，調其氣而破其血，消其食而豁其痰，衰其大半而止，不可猛攻，以傷元氣，病重則病受之，病輕則胃氣受傷矣。或云，待塊消盡而後補養，則胃氣之存也。幾希不惟不勝治。終亦不可治也。</p>

<h3>乳症</h3>
<p>婦人之乳，男子之腎，皆性命之根也。人之氣血周行無間，寅時始於手太陰肺經，出於雲門穴，穴在乳上，丑時歸於足厥陰肝經，入於期門穴，穴在乳下。出於上，入於下，肺領氣，肝藏血，乳正居於其間也。其足陽明之脈，自缺盆下於乳。又衝脈者，起於氣街，並足陽明夾臍上行，至胸中而散，故乳房屬足陽明胃經，乳頭屬足厥陰肝經。婦人不知調養，有傷衝任，且忿怒所逆，鬱悶所遏，厚味所釀，以致厥陰之氣不行，陽明之血熱甚，或為風邪所容，則氣壅不散，結聚乳間，或硬或腫，疼痛有乳核，漸至皮膚焮腫，寒熱往來，謂之乳癰。風多則硬腫色白，熱多則焮腫色赤，不治則血不流通，氣為壅滯，而與乳內津液相搏，瘍化為膿。治之之法，凡初起寒熱焮痛，即發表散邪，疏風清胃，速下乳汁，導其壅塞，則病可愈。若不散而不易成膿，宜用托裡；若潰後肌肉不生，膿水清稀，宜補脾胃；若膿出反痛，惡寒發熱，宜調榮衛；若晡熱焮腫作痛，宜補陰血；若食少作嘔，宜補胃氣。切戒清涼解毒，反傷脾胃也。</p>
<p>乳癰者，俗呼曰吹乳。吹者，風也。風熱結汨於乳房之間，血脈凝注，久而不散，潰腐為膿。凡忽然壅腫結核色赤，數日之外，焮痛脹潰，稠膿湧出，此屬膽胃熱毒，氣血壅滯，名曰乳癰，為易治。治法：青皮疏厥陰之滯，石膏清陽明之熱，生草節解毒而行汙濁之血，荊防散風而兼助藥達表，栝蔞，沒藥、青桔葉、角刺、金銀花、土貝母、當歸及酒佐之，毋非疏肝和血解毒而已。加艾隔蒜灸二三十壯於痛處最效。切忌刀針傷筋潰脈，為害不小。</p>
<p>有因婦人所乳之子膈有滯痰，口氣焮熱，含乳而睡，熱氣吹入乳房，凝滯不散，遂生結核。若初起時忍痛揉軟，吮去乳汁，即可消散。失此不治，必成癰腫。亦有因小兒斷乳後，不能回化，或婦人乳多，嬰孩少飲積滯凝結，又或經候不調，逆行失道。又有邪氣內郁，結成癰腫。初發時，切勿用涼藥，蓋乳本血化，不能漏泄，遂結實腫，乳性清寒，又加涼藥，則陰爛宜也。惟涼藥用之，既破之後則佳。如初發時宜用南星、薑汁敷之，可以內消，更加草烏一味，能破惡血逐塊，遇冷則消，遇熱則潰。更加乳香、沒藥以定痛。內則用栝蔞仁、十宣散、通氣散間服之。然年四十以下者，治之多瘥，以氣血旺故也。五十以上者，慎勿治之，多死，以天癸絕也，不治自能終其天年。若欲加治，惟調補氣血為主。</p>
<p>婦人有憂怒抑鬱，朝夕積累，脾氣消阻，肝氣橫逆，氣血虧損，筋失榮養，鬱滯與痰結成隱核，不赤不痛，積之漸大，數年而發，內潰深爛，名曰乳岩，以其瘡形似巖穴也，慎不可治。此乃七情所傷，肝經氣血枯槁之證。治法：焮痛寒熱初起，即發表散邪，疏肝之中，兼以補養氣血之藥，如益氣養榮湯，加味逍遙散之類，以風藥從其性，氣藥行其滯，參、耆、歸、芍補氣血，烏藥、木通疏積利壅，柴、防、蘇葉表散，白芷除膿通榮衛，官桂行血和脈。輕者多服自愈，重者尚可延年。若以清涼行氣破血，是速其亡也。</p>

<h3>前陰諸症</h3>
<p>前陰所過之脈有二：一曰肝，二曰督脈。《經》曰：足厥陰之脈入毛中，過陰器，抵少腹。是肝脈所過也。督脈起於小腹以下骨中央，女子系廷孔循陰器，男子循莖下至纂，與女子相等。是督脈所過也。</p>
<p>婦人陰腫者，有因胞絡虛損，風冷客之，與血氣相搏而腫者；有因鬱怒傷損肝脾者；有因房勞過度，濕熱下流者；有欲勝而熱甚生蟲，以致腫癢並作者。皆宜戒房室而速治之，否則邪氣漸盛，陰戶潰爛不收矣。若氣血虛弱，補中湯舉而升之；肝經濕熱，龍膽瀉肝湯滲而清之；肝脾鬱怒，元氣下陷，濕熱壅滯，朝用歸脾湯加升柴，解鬱結、補脾氣，夕用加味逍遙散，清肝火、生肝血，除熱去濕，至於陰癢陰瘡，多屬蟲蝕所為，始因濕熱，故生三蟲在腸胃間，因臟虛乃動。其蟲侵蝕陰中精華，故時作癢，甚則癢痛不已，潰爛成瘡。在室女、寡婦、尼姑多犯之。因情想不遂，以致精血凝滯，釀成濕熱，久而不散，遂成三蟲，癢不可忍，深入臟腑即死，令人發熱惡寒，與癆相似。亦有房室過傷，以致熱壅，腫癢內痛，外為便毒，莫不由欲事傷損肝腎，腎陰虧而肝火旺，木鬱思達，肝經鬱滯之火走空竅而下注為癢為蟲。當用龍膽瀉肝湯，逍遙散，以主其內，外用蛇床子煎湯熏洗，專以桃仁研膏和雄黃末，雞肝，研餅納陰中，以制其蟲。若肢體倦怠，陰中悶癢，小便赤澀者，歸脾湯加山梔、白朮、甘草、丹皮，若徒以濕熱為事，燥濕清熱，則氣血日衰，所害不止陰癢矣。</p>
<p>婦人陰冷，因勞傷子臟，風冷客之。若小便澀滯，小腹痞痛，龍膽瀉肝湯；若小便澄清，飲食少思，大便不實，治以八味丸。八味丸治血弱不能榮養臟腑，津液枯澀，寒客子臟陰冷者甚效。</p>
<p>陰挺下脫，牽引腰腹膨痛者，或因胞絡傷損，或因子臟虛冷，或犯非理房事，或因分娩用力所致，當以升補元氣為主。若肝脾鬱結，氣虛下陷，補中湯；若肝火濕熱，小便赤澀，龍肝湯。有陰中突出如菌，四圍腫痛，便數，晡熱，似癢似痛，小便重墜，此肝火濕熱而腫痛，脾虛下陷而重墜也。先以補中湯加山梔、茯苓、青皮，以清肝火，升脾氣，更以加味歸脾湯調理脾郁。外以生豬油和藜蘆末塗之而收。新室嫁孔痛，宜舒郁和血，四物加香附、紅花。</p>
<p>有交接出血者，此肝火太旺而疏泄過度，且肝虛不能藏血，脾虛不能攝血也，宜補中及歸脾二湯，消息用之。若六脈俱洪者，此腎陰虛而不能閉藏也，宜六味湯加麥冬，五味主之。</p>
<p>《金匱》云：胃氣下泄，陰吹而正喧，此穀氣即不能上升清道，復不能循經下走後陰，陰陽乖闢，如腸交之義是也。甚或簌簌有聲，如後陰之失氣狀，宜補中湯加五味子主之。</p>

<h3>𤵄痃</h3>
<p>婦人𤵄痃，或肝經濕熱下注，或鬱怒傷損肝脾，其候兩脅小腹腫疼，或玉門焮腫作痛，憎寒壯熱，小便澀滯，腹內急痛，或小腹痞悶上攻兩脅者，肝經濕熱鬱滯也，龍膽瀉肝湯。玉門腫脹者，肝火血虛也，加味逍遙散。若概投散血之攻毒之劑則誤矣。</p>

<h3>足跟瘡腫臁瘡</h3>
<p>婦人足跟足指腫痛，足心發熱，皆因胎產經行，失於調攝，虧損足三陰虛熱所致。若腫痛或出膿，用六味丸為主，佐以八珍湯。胃虛懶食，佐以六君子湯。寒熱內熱，佐以逍遙散。晡熱益甚，頭目不清，佐以補中益氣湯。凡發熱脯熱、內熱，自汗、盜汗等證，皆陰虛假熱也。故丹溪謂火起九泉，陰虛之極也。足跟乃督脈發源之所，腎經所過之地，諸骨承載之本，若不求其屬，泛用寒涼，其為夭枉者多矣。男子酒色過度者，多患此證。</p>
<p>婦人腳十指如熱油煎者，此由榮衛氣虛，濕毒之氣，流滯經絡，上攻心則心痛，下攻腳則腳痛，其腳指如焚，如腳氣之類，《經》云：熱厥是也。</p>
<p>婦人兩臁生瘡，或胎產調理失宜，傷損脾胃，或憂思鬱怒，虧損肝脾，以致濕熱下注，外臁屬足三陽，易治，內臁屬足三陰，難痊。若初起發腫赤痛，屬濕熱毒所乘，人參敗毒散。若漫腫作痛，或不腫不痛，屬脾虛濕熱下注，補中益氣湯或八珍湯，加萆薢、金銀花之類。若膿水淋瀝，體倦少食，內熱口乾，屬脾氣虛弱，補中湯加茯苓、酒芍。若午後發熱體倦，屬血虛，前湯加川芎、熟地或六味丸。若肢體畏寒，飲食少思，屬脾腎虛寒，十全湯、八味丸。色赤屬熱毒易治，色黯屬虛寒難治。</p>

<h3>血風瘡</h3>
<p>婦人血風瘡，因肝脾二經風熱鬱火血燥所致，其外症身發疙瘩，癢痛不常，搔破成瘡，膿水淋漓。內症月經無定，小便不調，夜熱盜汗，惡寒憎熱，倦怠懶食。宜先用加味逍遙散，或小柴胡湯合四物，多加胡麻子，後以歸脾湯，加熟地去木香。</p>

<h3>夢與鬼交</h3>
<p>夢與鬼交者，因血氣虛衰，思想過度，神明耗損外邪乘虛而犯之，其狀時笑時泣，不欲見人，如有對忤者是也。其脈遲伏，或如烏啄，或綿綿而來，不知度數，乍大乍小，乍短乍長，總由七情虧損心血，神無所護而然，宜用安神定志等藥，正氣復而神自安，外以患人兩手拇指相併，用線紮緊，當合縫外，半肉半甲之間，名鬼哭穴，灼艾七壯，果是邪崇，病者，乞求免灸自去矣。然人之五臟各有所藏，心神、肝魂、肺魂、脾意、腎精與志也。若心之血虛，則神無所依，肝之血虛，則魂無所附，脈之氣虛，則魄無所歸，脾腎二臟虛，則意與離其體，夜夢鬼邪。若有所見者，即我之魂魄也。豈真有所謂鬼邪崇魅與之交感者哉！立齋斷以七情虧損，心血神無所護而然，真得病情之至理矣。</p>

<h1>卷二</h1>

<h2>嗣育門緒論</h2>
<p>夫天地之大德，曰生，生之氣，固流行遍滿，何至於我而獨斬耶！人之嗣續者，上接亙古之傳，下衍無疆之脈，顧不甚重，祖宗至令不知幾千百世，一旦至我而斬，孝子慈孫，可不⿸疒⿱白小天祝壽地，猛心自咎。了凡先生曰：愛者，生之本，忍則自絕其本矣。《素問》云：道者，能卻老而全形，年皆百數，能有子也。故從無絕嗣之聖賢。何人不以好善樂道為本，再以事副之，則麟趾呈祥，寧有限哉！</p>
<p>婦人無子者，或經不勻，或血不足，或有疾病，或交不時，四者而已。調其經而補其血，去其病而節其欲，無疾病而交有時，豈有不妊娠者乎。然更有二，凡肥盛婦人，稟受甚厚，恣於酒食，不能有胎，謂之軀脂滿溢，閉塞子宮，宜燥濕痰，如星、半、蒼朮、臺芎、香附、陳皮，或導痰湯之類；若是瘦怯性急之人，經水不調，不能成胎，謂之子宮乾澀無血，不能攝受精氣，宜涼血降火。如四物加黃芩、香附，養陰補血及六味地黃丸之類。然合男女，必當其年，男雖十六而精通，必三十而娶；女雖十四而天癸至，必二十而嫁，皆欲陰陽完實，然後交而孕，孕而育，育而其子，堅壯強壽。今未笄之女，天癸始至，已近男色，陰氣早泄，未完而傷，未實而動，是以交而不孕，孕而不育，育而子脆不壽。</p>
<p>天地者，形之大也。陰陽者。氣之大也。惟形與氣，相資而立，未始偏廢，男女媾精，萬物化生，天地陰陽之形氣寓焉。語七八之數，七，少陽也。八，少陰也。相感而流通，故女子二七天癸至，男子二八而精通，則陰陽交合而兆始也。《易》曰：天地氤氳，萬物化醇，男女媾精，萬物化生。天地之道，陰陽和而後萬物育，夫婦之道，陰陽和而後男女生，苟父精母血不及而有孕者，未之有也。是故欲求子者，必先審婦之月經調否。經者，常也。每月應期而來，按期而止，無易常也。期有不調者，或先或後，或一月兩至，或間月一至，有絕閉不通，有頻來不止，或先痛而後行者，或先行而後痛者，有黑色者，有紫色者，有淡色者，有白帶、白淫、白濁者，是皆血氣不調者也。諸如此類，必按症用藥而調之。及夫男子之病，亦在所當知也。有腎虛精滑，有精冷精清，或臨事不堅，堅則流而不射。堅者，肝火強於外也。不射者，真陽弱於中也。有盜汗夢遺，有便濁淋澀，有腰憊不能轉搖，有好色以致陰虛，有勞熱者，有虛寒者，或陽虛而氣弱，或陰乏而精衰，是皆精氣不足者也，諸如此類，亦必按症施藥而補益之。若婦之精脈既調，男之真精亦足，所謂陰陽和，氣血平，則百病不生，而有子且壽矣。然既和之以陰陽，又宜按之以方法，訣曰：二十時中兩日半，二十八九君須算，落紅滿地是佳期，金水過時空霍亂，霍亂之時枉費工，樹頭樹底覓殘紅，但解花開能結子，何愁丹桂不成叢？此蓋以婦人月經方止，金水初生，此時子宮正開而虛，惟虛能受，乃受精結胎之候，正妙合太和之時，宜以人事副之，不失造化之妙也。過此佳期，則子宮閉而不受胎矣。然男女之別，各有要妙存焉。月經方過一日三日交合者，新血未盛，精勝其血，感者成男，且乾道成男之義也。四日六日交合者，新血漸長，血勝其精，感者成女，且坤道成女之義也。又云：陰血先至，陽精後沖，縱氣來乘，血開裹精，精入為骨，陽內陰外，而成坎卦之象，是則精勝其血，故陽為之主，男形所由以成也。若陽精先入，陰血後參，橫氣來助，精開裹血，血入居本，陰內陽外，而成離卦之象，是則血勝其精，故陰為主，女形所由以成也。然天地交而萬物亨，陰陽和而男女育，稟陽氣之偏者成男，稟陰氣之偏者成女，故曰：乾道成男，坤道成女。欲嗣之廣者，必由斯而求之，亦由斯而得也。其或不然者，特繳幸於偶然耳。雖孕多墮也，雖產多難也，雖子多病也。</p>
<p>凡男子體厚脈沉小，年雖幼而陽不固，是稟元氣不足也，宜多服人參膏，或加耆朮。中年陽道痿弱，身體益肥，姬妾多而不孕，是胃中脂膜雖盛，而氣內怯也，補中益氣湯，加鹿角、枸杞、製附子、鎖陽、蓯蓉之類，兼補相火，宜減厚味肥甘，使濁氣清而真精固也。如脾胃不和，食少倦怠，每使內後益甚。而不能成胎者，是中氣弱而不能施化也，多服補中益氣湯。如黑瘦脈弦數，身體多熱，腸胃燥澀，不能成胎者，是陰水不足也，雖胎亦夭，宜六味加知柏、歸身、枸杞為丸服之，務使陰陽和平，而能生子，不必定在熱藥也。</p>
<p>夫人至晚年無嗣，醫皆責之於腎，腎以主精，精旺則孕成故也。殊不知腎主相火，心主君火，一君一相，本於天成，君寧相服，精血乃生，蓋心之所藏者神，神之所附者血，血之所患者，火也。心欲萌而火動，則血沸騰，而神元虛耗，不能下交於腎，腎水虛寒，精因之而妄泄，所以然者，由心火一動，則相火翕然從之，相火既動，則天君亦督擾而不寧矣。是以心腎有相須之義，善攝生者，貴有交養之方，嘗觀富貴之人，反多乏嗣，蓋富多縱欲而傷精，貴每勞心而損神，要之腎精妄泄，常因火迫使然，心火上炎，亦由水乏弗制也。且人年三十以往，精氣漸減，不惟飲食男女之欲，足以損敗，一與物接，則視聽言動，皆足以耗神散氣，而況役志勞心者，復攻之以眾欲乎？是以或傷精，或勞神，有一於此，而不知節，非所以保天和而廣嗣胤也。</p>
<p>男女交媾，凝結成胎者，雖不離精血，猶為後天滓質之物，而一點先天之氣，萌於情欲之感者，妙合於其間，朱子所謂稟於有生之初；《悟真篇》所謂生身受氣初者是也。醫之上工，治無子者，語男則主於精，語女則主於血，著論立方，男子以補腎為要，女子以調經為先，又參以補氣行氣之說，察其脈絡，究其盈虧，審而治之，自可孕也。然人身氣血，各有虛實寒熱之異，惟察脈可知，舍脈而獨言藥者妄也。脈不宜大過而數，數則為熱；不宜不及而遲，遲則為寒，不宜太有力而實，實者，正氣虛而火邪乘之以實也。當散郁以伐其邪，邪去而後正可補，不宜太無力而虛，虛乃氣血虛也，惟當調補其氣血。又有女子氣多血少，寒熱不調，月水違期，皆當診脈而以活法治之，務使夫婦之脈和平有力，交合有期，不妄用藥，乃能生子也。其種子之道有匹，一曰擇地。地者，母血是也。二曰養種。種者，父精是也，三曰乘時。時者，精血交感之會是也。四曰投虛。虛者，去舊生新之初是也。然少年生子多羸弱者，欲盛而精薄也。老年主子多強壯者，欲少而精厚也。多欲者，子多不育，蓋孕後不節，則盜泄母陰，以奪養胎之氣。</p>
<p>嚴冬之後，必有陽春，是知天地之道，不收斂則不能發生，故冬寒得閉藏之令者，則遇陽春，靡不發育，此自然之理也。令人既昧收藏之理，縱欲竭精，以耗真氣，及其無子，復云血冷，又謂精寒，燥熱之劑過投，而真陰益耗矣，安得而有子？故無子之因，不獨在女，亦多由男，房勞過度，施泄過多，精清如水，或冷如水，及思慮無窮皆難有子，蓋心主神，有所思則神馳於外，致君火傷而不能降，腎主智，有所勞則智亂於中，俾腎虧而不能升，上下不交，水火不媾，而能生育者，未之有也。</p>
<p>夫五臟各有精，五臟平和，則臟藏之精華輸歸於腎，以資其用，蓋腎為水臟，乃聚會關司之所，故種子有百脈齊到之論，而《內經》有五臟盛乃能瀉之語也。袁了凡曰：聚精之道，一曰寡欲，二曰節勞，三曰息怒，四日戒酒，五曰慎味。腎為精之府，凡男女交接，必擾其腎，腎動則精血隨之而流，外雖不泄，精已離宮，未能堅忍者，必有真精數點，隨陽痿而溢出，此其驗也，故貴乎寡欲。精成於血，不獨房室之交，損吾之精，凡日用損血之事，皆當深戒。如目勞於視，則精以視耗；耳勞於聽，則精以聽耗，心勞于思，則精以思耗，隨事節之，則血得養而精與日俱積矣，故貴乎節勞。主閉藏者，腎也。司疏泄者，肝也。二臟皆有相火，其繫上屬於心。心，君火也。怒則傷肝，而相火動，動則疏泄用事，閉藏其職，雖不交合，亦暗流潛耗矣，故貴乎息怒。人身之血，各歸其舍則常凝，酒能動血，飲酒則面赤，手足俱紅，是擾其血也，血氣既衰之人，數月無房事，精始厚而可用，一夜大醉，精隨薄矣，故宜戒酒，《經》云：精不足，補以味。濃郁之味，不能生津，惟恬淡者，能補精耳。蓋萬物皆有真味，調和勝，真味失矣。不論腥素，淡煮得法，自有一段沖和恬淡之氣，益人腸胃。《洪範》論味而曰：稼穡作甘。世物惟五穀得味之正，若能淡食穀味，最能養精，如煮粥飲中有厚汁滾作一團者，此米之精液所聚也。食之最能生精，故宜慎味。</p>
<p>天生各物，必有氤氳之時，萬物化生，必有樂育之候，貓犬至微，將受娠也。其牝者，必狂呼而奔跳，以氤氳樂育之氣，觸之不能自止，此天然之節候，生化之真機也。凡婦人一月經行一度，必有一日氤氳之候，於一時辰間，氣蒸而熱，昏而悶，有欲交接不可忍之狀，此的候也。此時逆而取之則成丹，順而施之則成胎矣。然男女交媾之時，均有其精，何常有血？褚氏、東垣、丹溪，俱以精血混言，幾見男女媾精，而婦人以血施也。</p>
<p>女子系胞於腎，及心胞絡，皆陰臟也。虛則風寒乘襲子宮，則絕孕無子，非得溫暖藥，則無以去風寒而資化育之妙，宜用辛溫之劑，必加引經至下焦，走腎及心胞，散風寒，暖子宮為要，更宜兼以補養氣血之藥。若不兼補養，徒事辛溫，則反增燥熱之熱，何以為化育之機耶！故血海虛寒而不孕者，誠用暖藥，但人之孕胎，陽精之施也，必陰血能攝之，精成其孕，血成其胞。若有真陰不足，陰虛則火旺，陽勝則內熱而血枯，是以不能攝受精血者，又不可純用辛溫之藥矣。《脈訣》曰：血旺易胎，氣旺難孕，故貴乎以脈消息，所以不能廢診也。至於父少母老，生女必羸，母壯父衰，產男必弱，古人之成語。然有老者強，而少者弱，豈無變異其間乎？但有生之初，雖陽子為正，育而充之，必陰為之主。</p>
<p>有婦人年三十四，夢與鬼交，及見神堂陰司，舟揖橋梁，如此一十五年，竟無妊娠，此陽火盛於上，陰水盛於下。見鬼神者，陰之靈。神堂者，陰之所。舟揖橋梁，水之用。兩手寸脈皆沉而伏，知胸中有實痰也。三湧三瀉三汗，不旬日而無夢，一月而有娠。</p>
<p>婦人不孕，亦有六淫七情之邪傷衝任，或宿疾淹留，傳遺臟腑；或子宮虛冷；或氣旺血衰，或血中伏熱：或脾胃損，不能榮養衝任；或有積血積痰，凝滯胞絡。更當審男子形質何如？有腎虛精弱；有稟受不足，氣虛血損；有嗜欲無度，陰精衰竭，各當求原而治。又當審其男女尺脈，若有尺脈細或虛大無力，用八味丸。左尺洪大，按之無力，用六味丸。兩尺俱微細，或浮大，用十補丸。若徒用辛熱燥血，不惟無益，反受其害矣。</p>
<p>世有婦人血氣充實，飲食健旺，而生育則少，有血氣不足，飲食減少，而生育偏多者，何？蓋衛府清肌，恆存辟穀，楚宮細腰，得之忍飢，月滿則虧，月虧乃盈，由是觀之，弱者易育，實者難胎，此定理也。</p>
<p>褚氏曰：男女之合，二情交暢，陰血先至，陽精後充，血開裹精，精入為骨，而男形成。陽精先入，陰血後參，精開裹血，血入居本，而女形成。（此成胎以精血先後分男女也。）</p>
<p>《聖濟經》曰：天之德，地之氣，陰陽至和，流薄一體，因氣而左動則屬陽，陽資之則成男，因氣而右動則屬陰，陰資之則成女，《易》云：乾道成男，坤道成女，此男女之分別也。（此成胎以左右陰陽之氣動分男女也。）</p>
<p>《易》云：乾道成男，坤道成女，父精母血，因感交會，精之泄陽之施也。血能攝精，精成其骨，此萬物之資始於乾元也。血則外護而成胞，精則內實而化育，此萬物之資生於坤元也。陰陽交媾，胚胎始凝，胎所居名曰子宮，一系在下，上有兩口，一達於左，一達於右，精勝其血，則陽為之主，受氣於左子宮而男形成，精不勝血，則陰為之主，受氣於右子宮，而女形成，孕成而始化胎也。（此成胎以子宮之左右分男女也。）</p>
<p>馬玄臺曰：男子先天之氣，方父母媾精時，陰氣不勝其陽則成男。凡書謂陰血先至陽精後沖，縱氣來乘，血開裹精，陰外陽內則成男，其義亦渺，大約陰氣不勝其陽，則為男也。女子先天之氣，方父母媾精時，陽氣不勝其陰則為女。凡書所謂，陽精先入，陰血後參，橫氣來助，精開裹血，陰內陽外則成女，其義亦渺，大約陽氣不勝其陰則為女也。（此成胎以父母先天之陰陽相勝分男女也。）</p>
<p>程鳴謙曰：信褚氏之言，則人有精先泄而生男，精後泄而生女者，何與？信東垣之言，則有經始斷，交合生女，經久斷，交合生男，亦有四五日以前交合無孕，八九日以後交合有孕，及變胎而一男一女者，何與？豈奇日受男，而偶日復受女之理乎？俞子木又謂：微陽不能射陰，弱陰不能攝陽，信斯言也。世有尫羸之夫，祛弱之婦，屢屢受胎，而血氣方剛，精力過人者，往往有終身不育者，何與？丹溪論以婦人經水為主，然當富貴之家，侍妾亦多，其中寧無月水如期者？又有經前夫頻育，而娶此以圖易，則不受胎，豈能受於彼，而不能受於此耶！大抵父母生子，如天地生物。《易》曰：坤道其順乎，承天而時行，知地之生物，不過順承乎天，則知母之生子，亦不過順承乎父而已。知母之順承乎父，則種子者，當以男子為主矣，豈可專責之於婦人耶！在男子則不拘老少強弱，康寧病患，精之易泄難泄，只以交感之時，百脈齊到為善耳。若男女之辨，不以精血先後為拘，不以經盡幾日為拘，不以夜半前後交感為拘，不以父母強弱為拘，只以精血各由百脈齊到者，別勝負耳。此精之百脈齊到，勝乎血則成男，血之百脈齊到，勝乎精則成女矣。百脈齊到者，暢遂之極，而無一毫勉強是也。（此成胎以百脈齊到分男女也。）</p>

<h3>受胎總論</h3>
<p>李東壁曰：《易》云一陰一陽之謂道，男女媾精，萬物化生，乾道成男，坤道成女，此蓋言男女生生之機，陰陽造化之良能也。齊褚澄言：血先至裹精則生男，精先至裹血則生女，陰陽均至，非男非女之身，精血散分，駢胎品胎之兆。《道藏》言：月水亡後，一三五日成男，二四六日成女。東垣言：血海始淨，一二日成男，三四五成女。《聖濟經》言：因氣而左動，陽資之則成男，因氣而右動，陰資之則成女。丹溪乃非褚氏，而是東垣，主《聖濟》左右之說立論，竊謂褚氏未可非也，東垣亦未盡是也。蓋褚氏以精血之先後言，《道藏》以日數之奇偶言，東垣以女血之盈虧言，《聖濟》、丹溪以子宮之左右言，會而通之，理自得矣。</p>
<p>丹溪曰：或問雙胎者，何也？曰：精氣有餘，歧而分之，血因分而攝之也。若男女同孕者，剛日陽時，柔日陰時，感則陰陽混雜，不屬左不屬右，受氣於兩岐之間也。亦有三胎四胎者，猶是而已。《人鏡經》曰：精氣盛則成二男，血氣盛則成二女，精血皆盛，則成一男一女，精血混雜，則成非男非女。男不可為父，得陽道之虧者也。女不可為母，得陰道之塞者也。皆非純氣，或感邪崇鬼怪之沴氣，則成異類也。</p>
<p>（張）按：《經》曰：陽予之正，陰為之主，蓋謂陽施正氣，萬物方生，陰為主持，群形乃立。更觀《易》論，坤道其順乎天而時行，則知地之生物，順承乎天，而母之生子，亦不過順承乎父，則種子者，當以男子為主，豈可專責之於婦人哉！此誠天生地成之大道，陽施陰長之至理。每見男子六脈洪大，尺脈有力者，子多女少，六脈沉細，尺脈沉微者，子少女多，生男亦夭，此屬驗也。況兩神相搏。合而成形，神也者，無形之謂也。惟其無形，故能生出有形，蓋造化之理，皆生於無也，豈日數精粕有跡之謂歟！故神者，生身之本也。然必因乎精氣何也？蓋神本無體，以氣為體，精無定形，以氣而形，體物有三，根本則一，主雖惟神，養其精氣，神必附物，精能凝神，三者互用，不可相離，平叔所謂窮取生身受氣初，夫水之精為志，而火之精即神也。蓋欲無火不動，惟此一點無形元陽之真火，以鼓無形默用之真神，《經》曰：根於中者，命曰神機，蓋以神為機發之主，動用之道，不期然而然，物莫之知。若可以言語形容者，便非神之為用矣。更觀邪淫苟合者，無心種子，偶意為之，易成胎孕，蓋心專神篤，欲火熾而氤氳之氣濃密也。安居妙合者，專心種玉，而兢兢業業，每見無功，蓋心耗神馳，欲火衰而之氣反薄矣。可見莫非由於神也，莫非由於火也，更莫非重於陽之為用也。既稟天地之道，而陰陽之理不能外之，故陽旺多生男，陰旺多生女，即乾道成男，坤道成女之義也。更觀古載生人之候，常多外因有感而成，即此情之感觸，亦莫非神之為用，然神之為神，莫非火之為精也。若無火以充其神，則無氣以生其精，三者既失，則一團死灰矣，焉有陽和化育之道，情性感觸之用哉！古云三月始胎，未有定儀，氣類潛感，造化密移，此亦天地化工之所有，何得執而為盡？無先哲立言曰：陽生陰長。又曰：陽生陰化。云長云化，豈無用意於其間乎？</p>
<p>孕一月名始膏，二月名始胚，三月名始胎。當胚膏之始，真氣方遇，如桃花凝聚，其柔脆易傷也。食必忌辛辣，恐散其凝結，味必稍甘美，欲扶其柔脆，二氣既凝，如泥在鈞，如金在熔，惟陶冶之所成，食氣於母，所以養其形，食味於母，所以養其精，形精為滋育，氣味為本，故天之五氣，地之五味，母食之而子又食之，外則充乎形質，內則滋乎胎氣，母寒亦寒，母熱亦熱，母飽亦飽，母飢亦飢，因虛而感，隨感而變，膏梁之家，縱恣口腹，暴怒淫欲，飲食七情之火，鍾之於內，胎氣受之，怯者，即變為病，壯者，毒不即發，而痘疹瘡驚，貽禍於後焉。故胎前可不慎為調攝乎！</p>
<p>巢氏曰：妊娠一月，凝成一粒，如露珠然，乃太極動而生陽，名胚胎。天一生水，謂之胚，足厥陰脈養之，經水即閉，飲食稍異。二月名始膏，變成赤色，如桃花瓣，乃太極靜而生陰，地二生火，謂之腪，足少陽脈養之，吐逆惡阻，或偏嗜一物，以見一臟之虛也。三月名始胎，手厥陰脈養之，形象始化，乃分男女，乃太極之乾道成男，坤道成女也。四月始受水精以成血脈，形像具，六腑成，手少陽脈養之。五月始受火精以成陰陽之氣，筋骨已成，毛髮始生，足太陰脈養之。六月始受金精以成筋。口目皆成，足陽明脈養之。七月始受木精以成骨，遊其魂，能動左手，手太陰脈養之。八月始受土精以成皮膚，形骸漸長，九竅皆成，遊其魂，能動右手，手陽明脈養之。九月始受石精，以成皮毛，百節畢備，三轉其身，足少陰脈養之。十月足太陽脈養之，精神備足，受氣而生。獨君主無為，故無所養，然墮胎須防一三五七月者，蓋單月皆臟養胎，而三月又相火所主，胎最易動，尤宜慎之，當服清熱涼血安胎之藥。然諸經有多氣少血者，有多血少氣者，宜各以按月養胎之臟腑氣血虛實調之，自無墮胎之患矣。</p>
<p>有養胎以五行，分四時論者。凡人自受胎於胞門，則手足十二經脈，其氣血周流，俱以擁養胎元，豈有逐月分經，某經養某月之胎之理？馬玄臺已駁之矣，故不具載。巢氏一月二月是論受胎之月數為近理也。</p>
<p>《聖濟》曰：或者以妊娠勿治，有傷胎破血之論，豈知邪氣暴戾，正氣衰微，苟執方無權，縱而勿藥，則母將羸弱，子安能保？上古聖人，謂重身毒之，有故無殞，衰其大半而止，蓋藥之性味本以療疾，誠能處以中庸，與疾適當，且知半而止之，亦何疑於攻治哉！慎之者，恐克削破血，有傷胎孕耳。安胎之法有二，如母病以致動胎者，但療母則胎自安；若胎氣不固，或有觸動以致母病者，宜安胎則母自愈。</p>
<p>婦人年幼，天癸未行行屬少陰，天癸既行屬厥陰，天癸既絕屬太陰，治胎產病從厥陰者，是祖氣生化之原也。治法無犯胃氣者，是後天化生之源也。及上中下三禁，謂不可汗、不可下、不可利小便，恐亡其津液，而傷其生氣也。</p>
<p>夫二氣之感，凝而成形，氣血旺，則胎易成而無病，氣血弱，則胎多病而難育，食氣於母，所以養其精，食味於母，所以養其形，故胎元以脾胃飲食為本，母子咸賴之今人膏梁厚味，抑鬱氣惱，而氣血漸虧，痰火必熾，而惡阻、子癇、子腫等病作矣。然胎前諸症，皆以安胎為主，務使氣血和平，則百病不生。若氣旺而熱，熱則耗氣血，而胎不安，當清熱養血為主。若起居飲食調養得宜，絕嗜欲安養胎氣，則雖成另證，無大害也。丹溪曰：白朮、黃耆為安胎之聖藥。俗醫謂溫劑可以養胎，不知胎前最宜清熱，令血循經不妄行，故能養胎。白朮益脾以培萬物之母，條芩瀉火，能滋子戶之陰，與其利而除其害，其胎自安，故黃芩安胎為上中二焦藥。益母草治血行氣，有補陰之功，胎前無滯，產後無虛，以行氣中有補也。胎至三月、四月忽腹痛，惟砂仁及些少木香，能治痛行氣以安胎也。八九月必須順氣，用枳殼、紫蘇之屬，但氣虛者宜補氣以行滯，用參、朮、陳皮、歸、芍、甘草、腹皮；氣實者，耗氣以抑陽，用芩、朮、陳皮、甘草加枳殼。如將臨月，胎熱者以三補丸加香湯白芍或地黃膏。血虛者，不外四物地黃，加以益母草，預為分娩地步也。至於世醫安胎，多用艾、附、砂仁為害尤甚。不知血氣清和，無火煎爍，則胎安而固，氣虛則提不住，血熱則溢妄行，胎欲不墮，其可得乎。香附雖云快氣開鬱，多用則損正氣。砂仁快脾氣，多用亦耗真氣，香燥之品，氣血兩傷，求以安胎，適足以損胎矣。惟寒鬱氣滯者宜之。</p>
<p>趙養葵曰：或問白朮黃芩，安胎之聖藥，胎前必不可缺乎？曰：未盡然也。胎莖之繫於腎，猶鍾之繫於梁，棟柱不固，棟梁必撓，所以安胎先固兩腎，使腎中和暖，始脾有生氣，何必定以白朮黃芩為安胎耶？凡腹中有熱，胎不安者，宜用涼藥。然腹中有寒，胎亦不安，必用溫藥，此常法也。況兩腎中具水火之原，為衝任之根，而胎元之所繫甚要，非白朮黃芩之所安也。如腎中無水胎不安者，用六味地黃壯水，腎中無火者，用八味地黃益火。調經當用杜仲、續斷、阿膠、艾葉、當歸、五味，出入於六味、八味湯中為捷徑，總之一以貫之也。諸書之所不及，余特表而出之，此趙氏之創論也。且臟性所稟之寒熱不同，有臟寒不孕，服八味十補而始受娠者，則受娠之後，仍宜照常服之，蓋臟腑服慣，則不覺桂附之熱，飛以為常，竟相安於無事，更可長養胎元也。若停止暖藥，加以條芩清熱之品，要知能安補陽升舉者，必不利補陰降下矣，勢必反致墜胎之患，而且有損於胎元。極虛之人臟腑，春夏陽和，升長之氣少，秋冬陰寒，降下之氣多也。（張）常治惡阻久吐不止，脈微肢冷者，竟用附子理中湯加五味子，連服數日乃安，但必參朮炙草倍加，則能乘載胎元，其姜附之性，惟從參朮以溫補中焦，即附子走下之力，不能獨發以施其用矣。</p>
<p>古人用黃芩安胎，是因子氣過熱不寧，故用苦寒以安之，然氣血旺脾胃和，胎自無虞，一或有乖，其胎即墮，是以胎無全賴氣血以滋養，而氣血又藉穀氣以化生，故脾為一身之津梁，主內外諸氣，而胎息運化之機全賴脾土，故用白朮以助之，然惟形瘦血熱，營行過疾，胎常上逼，過動不安者為相宜。若形盛氣衰，胎常下墜者，非人參舉之不安。血虛火旺，腹常不運者，非香砂耗之不安。血虛火旺，腹常急痛者，非歸芍養之不安。體肥痰盛，嘔逆眩暈者，非半、苓豁之不安。則桂枝湯、香蘇散、蔥白香豉湯，諒所宜用。伏邪時氣，尤宜急下，此即安胎之要訣。下藥中獨芒硝切不可犯，若有客犯而用白朮，便熱邪留戀不解，若素患虛寒而服黃芩，則中氣脾胃愈傷，皆僅足以傷胎矣。</p>
<p>地之體本重，然得天氣以包舉之，則生機不息。若重陰泣寒之區，天日之光不顯，則物生實罕，如其人之體肌肉豐盛，乃血之榮旺，但血旺易至氣衰，久而彌覺其偏也。夫氣與血，兩相維而不可偏，氣為主則血流，血為主則氣反不流，非氣之衰也，氣不流有似乎衰耳。故一切補肌藥皆不可用，而耗氣之藥，反有可施，緣氣得輔則愈錮，不若耗之以助其流動，久之血仍歸於統握中矣。湖陽公主體肥難產，南山道士迸瘦胎方而產得順利，蓋肥滿之軀，胎處其中，全無空隙，以故傷胎之藥，止能耗其外之氣，而不能耗其內之真氣，此用藥之妙也。故胎前宜順氣，氣順則不滯，枳殼散、束胎飲，皆為氣實肥盛安佚鬱悶者立法耳。若氣體虛弱，元氣不足，或虛氣脹滿，或虛寒腹痛，必須參朮大補，豈謂胎前必用耗氣藥乎？</p>
<p>婦人妊娠，惟在抑陽助陰，然胎前藥，最惡群隊。若藥無專一，則陰陽交錯，別生他病，惟南山道士枳殼散，所以抑陽，四物湯所以助陰，但枳殼散少寒單服，恐有胎寒腹痛之患。以內補丸佐之，則陽不至強，陰不至弱，陰陽調而孕安，蓋婦人平居，陽氣微盛，無諸疾病，則受娠自能經閉以養胎。若陽氣太盛，則陽搏於陰，乃經脈妄行，胎始不固，故貴抑陽助陰者此耳。</p>
<p>丹溪曰：世之難產者，往往見於鬱悶安佚之人，富貴豢養之家。若貧賤辛苦者，無有也。方書只有瘦胎飲一，按其方為湖陽公主設也，實非極至之論。彼湖陽公主，奉養太過，其氣必實，耗其氣使之和平，故易產，此南山道士迸瘦胎枳殼散，抑陽降氣，溫隱居加木香、當歸佐之。若形肥人其氣必虛，久坐其氣不運，而氣愈弱，兒在胞胎，因母氣不能自運，故難產，當補其母之氣，則兒健易產矣，遂於大全方紫蘇飲加參朮補氣藥，隨母形色稟性，參時加減，名曰達生散。人參、白朮，白芍、當歸、腹皮、紫蘇、陳皮、甘草，加枳殼，砂仁，勝於瘦胎散多矣。</p>
<p>胎前用藥，清熱養血為主，而清熱養血之後，惟以補脾為要，此培後天元氣之本也。若養葵則不用芩、術，而以地黃飲加杜、續以補腎，夫胎繫於腎，腎固則胎自安，此補脾不如補腎之要妙也。各具至理，察候用之。然勞神動怒，情欲之火俱能墮胎，蓋原其故，皆因於熱。夫火能消物，造化自然，如慣墮之婦，或食少而中氣不調，且不必養血，先理脾胃，次服補中益氣湯，脾胃旺飲食強，方能氣血有自而生也。</p>
<p>女之腎臟繫於胎，是母之真氣，而子所賴以生長者也。受妊之後，宜令鎮靜，則血氣安和，內遠七情，外薄五味，大冷大熱之物皆在所禁，霧露風邪不得乘間而入，亦不得交合陰陽，觸動欲火，謹節飲食。心氣大驚而癲疾，腎氣不足而解顱，脾氣不和而羸瘦，心氣虛乏而神不足，兒從母氣，不可不慎，苟無胎動、胎痛，瀉痢、風寒外邪，不可輕易服藥。</p>
<p>《便產須知》曰：勿亂服藥，勿過飲酒，勿妄針灸，勿向非常地便，勿舉重、登高、涉險，勿恣欲行房。心有大驚，犯之難產，子必癲癇。勿多睡臥，時時行步，勿勞力過度，使腎氣不足，生子解顱。衣勿太溫，食勿太飽，若脾胃不和，榮衛虛怯，子必羸瘦多病。如犯修造動土，犯其土氣，令子破形殞命。刀犯者，形必傷；泥犯者，竅必塞；打擊者，色青黯；繫縛者，相拘攣。若有此等，驗如影響，切宜避之。《經》曰：何以知懷子之且生？曰：身有病而無邪脈也。身有病者，經閉也。經閉之脈，尺中來而斷絕，無邪脈，則尺中之脈和勻而無病，尚未變化，二月則精氣正變，其氣垂蒸沖胃而為惡阻，至三四月則惡陰少止，脈甚滑疾，蓋男女正成形質，其氣沿未定也。至五六月以後，形質已定，男女既分，及八九十月，血氣流通，故其脈平和，而如無娠，非醫者，深明脈理，病者肯明其故，難以診而知也。《脈訣》云，滑疾不散，胎三月，但疾不散五月，母至六月後，則疾速亦無矣。然有始終，洪數不變者，其氣甚盛，不可一例拘也。</p>
<p>《經》曰：婦人足少陰脈動甚者，妊子也。又曰：陰搏陽別，謂之有子，足少陰腎脈也。動者，如豆厥厥動搖也。陰，尺中也。搏謂搏觸於手，尺脈搏擊，與寸脈殊別。則有孕之兆也。</p>
<p>女人以血為本，血旺是為本足，氣旺則血反衰，故女人以血勝氣者為貴，少陰動甚者，手少陰之脈也。心主血，動甚則血旺，血旺易胎，故云有子，即《內經》所謂婦人手少陰脈動甚，妊子是也。尺脈者，左尺足少陰腎之脈也。腎為天一之水，主子宮以系胞，胎之根蒂也。滑利則不枯澀，有替替含物之象，故妊娠，即《經》所謂陰搏陽別，謂之有子，叔和所謂尺中之脈，按之不絕，全義也。即此滑利之脈，應指疾而不散，滑為血液，疾而不散，乃血液斂結之象，是為有胎三月。若但疾而不散，是從虛漸實，血液堅凝，轉成形體，故不滑，此妊娠五月之脈也。</p>
<p>崔紫虛曰：陰搏於下，陽別於上，血氣和調，有子之象，手之少陰，其脈動甚，尺不絕，此為有孕，少陰屬心，心主血脈，腎為胞門，脈應乎尺，或寸脈微，關滑尺數，往來流利，如雀之啄，或診三部浮沉一止，或平而虛，當問月水。婦人有病而無邪脈，此孕非病，所以不月。有病者，言經閉也。無邪脈者，尺脈和勻也，王叔和曰：婦人妊娠四月，欲知男女法，左疾為男，右疾為女，俱疾為生二子。又曰：左脈尺內偏大為男，右尺內偏大為女，左右俱大，產二子。大者，如實狀也，即陰搏陽別之義。尺脈實大，與寸脈殊別，但分男左女右也。又曰：左脈沉實為男，右脈浮大為女。張景岳曰：以左右分陰陽，則左為陽，右為陰，以尺寸分陰陽，則寸為陽，尺為陰，以脈體分陰陽，則鼓搏沉實為陽，虛弱浮澀為陰，諸陽實者為男，諸陰虛者為女，為一定之論。陽氣聚面，男子面重，胎必伏；陰氣聚背，女子背重，胎必仰，故溺死者亦然。</p>
<p>《難經》云：腎有兩，左為腎，右為命門，命門男子藏精，女子系胞，則知命門，即胞門，而子宮屬焉。然腎有左右之別，而子宮無左右之分。今丹溪云：男受胎在左子宮，女受胎在右子宮，是婦人胞門有兩子宮矣。似屬鑿空無據，但當雲氣血護胎，而盛於左，故脈左大左疾則為男，氣血護胎，而盛於右，故脈右大、右疾則為女。若云盛於左子宮為男，盛於右子宮為女。假如品胎駢胎，則子宮亦有累累耶？</p>
<p>《舉要》云：男女之別，以左右取，左疾為男，右疾為女，沉實在左，浮大在右，左男右女，可以預剖，蓋左脈疾勝於右是為男孕，以男屬陽居左，胎氣鍾於陽故左勝，右脈疾勝於左是為女孕，以女屬陰居右胎，氣鍾於陰，故右勝也。更又視其腹如箕為女胎，腹如釜為男胎，蓋男女孕於胞中，女面母腹，則足膝抵腹，下大上小，故如箕，男面背母，則背脊抵腹，其形正圓，故如釜也。且胎有男女，而成有遲速，男動在三月，陽性早也。女動在五月，陰性遲也。又有云：三月五月動者，多男；四月六月動者，多女，是奇偶之數也。</p>
<p>楊仁齋曰：叔和以左手太陽浮大為女，右手太陰沉細為男。元實以右手浮大為女，左手沉實為男，較是二說，不無抵悟。然即《脈經》本旨而詳之，又有若異而實同者。《經》曰：左手沉實為男，右手浮大為女。又曰：左右手俱浮大者，生二女，俱沉實者，生二男，元賓之所主者此也，《經》曰：左手尺中浮大者男，右手尺中沉細者女。又曰：尺脈俱浮產二男，尺脈俱沉產二女，叔和之所主者此也。何者沉細之說與沉實之義不同？右尺浮大之說，與右手浮大亦異？欲知男女之法，大抵沉實者，為男，沉細者，為女；右尺浮大者，固知其女，左尺浮大者，大抵皆男。沉細為女，沉實為男，即所謂諸陽為男，諸陰為女是也。左尺浮大為男，右尺浮大為女，即所謂左疾為男，右疾為女是也。元賓言其詳，蓋合左右兩手而列陰陽，叔和言其略，不過脈經論尺脈之義，尚有何異同之辨哉！婦人三部，浮沉正等，無他病而不月者。孕也。尺大而旺者，亦然。左尺洪大滑實為男，右尺洪大滑實為女，體弱之婦尺內按之不絕，便是有子，月斷病多，六脈不病，亦為有子，所以然者，體弱而脈難顯也。《脈經》曰：三部浮沉正等，按之不絕者，妊娠也。何嘗拘於洪滑耶？</p>
<p>凡女人務調血氣充足，陰陽和暢，月事無愆期之患，子宮無阻塞之虞，固其天真，壯其胃氣，勿泥婦人多氣而以香附之類損其血，縮砂之類殘其氣，再加情性調和，存養神氣，柔德既彰，受娠可必，如此者，謂之有其地矣。抑男子精衰，多由於七情不能致慎，五臟不能相生。《素問》曰：腎者主水，受五臟六腑之精而藏之，五臟盛乃能瀉。《靈樞》曰：五臟主藏精，藏精者，不可傷，蓋五臟各有精，隨用而灌注於腎，腎不過為都會關司之所，非腎一臟獨有精也。奈何舉世不察，不能別臟腑之有餘不足而平之，但以補腎為功，不知熱則害水，寒則伐火，即使腎氣得補，而四臟未平，終無相生之理，曷成孕育之功？務調五臟，精氣俱充，心腎更足，如此者，謂之有其種矣。天地生物，必有氤氳之候，萬物化生，豈無樂育之時，居恆必兩家寡欲，至經行一度，必有一日氤氳之候，於一時辰之間，氣蒸而熱，神昏而悶，有動而莫遏之狀，此的候也。逆而取之則成丹，順而施之則成胎，如此者，謂之知其時候矣。然有意種子，兢兢業業，必難結胎。偶意為之，不識不知，成胎甚易，既播種後，勿復交接以擾子宮，勿令勞役，勿令食冷，勿令疾行，勿令跌僕，勿令過浴，勿令過醉，勿令之怒，勿令之驚，多服健胃和中，平肝養氣之藥，隨時調護，可無遺墮之虞。蓋數月墮胎，人皆知之，一月墮胎，人莫能覺，既固其胎，宜遵胎教，巢氏曰：妊娠三月始胎，而形象始化，未有定儀，因感而變，若欲子端正壯嚴，宜口談正言，身行正事，欲生男者，宜佩弦，執弓矢，欲生女者，宜佩韋施環，欲子美好，宜佩白玉，欲子賢能，宜看詩書。古人轉女為男之法，或以絳紗囊佩雄黃於左者，或潛以夫發及手足甲置席下者，或以釜置床下，系刃向下者，或潛以雄雞尾尖長毛三莖置席下者，勿令本婦知，此皆外象內感，告灶以雞試之則一窠皆雄也。蓋胎化之法，亦理之自然，故食牡雞取陽精之全於天產者，佩雄黃取陽精之全於地產者，操弓矢藉刀斧，取剛物之見人事者，氣類潛感，造化密移，物理所有，故妊婦見神像異物，多生鬼怪，即其徵矣。象牙犀角，紋逐象生，山藥雞冠，形隨人變，以卵告灶而抱雞，以苕帚掃捕而成孕，物且有感，況於人乎！然造物有不毛之地，人應之，婦人有無子宮者，造物無不雨露之天，人應之，男子皆能施化，往往自失其道，致斬萬世之傳，圖子者，可不猛然醒悟乎！</p>
<p><u>啟宮丸</u></p>
<p>治婦人肥盛，子宮脂滿壅塞，不能孕育。</p>
<p>芎藭　白朮　半夏曲　香附（一兩）　茯苓　神麯（五錢）　橘紅　甘草（二錢）</p>
<p>粥丸，白湯送下三錢</p>
<p>橘、半、白朮燥濕以除痰，香附、神麯理氣以消滯，川芎散郁以活血，茯苓、甘草去濕和中，助其生氣，則壅者，通塞者啟矣。肥而下孕、多由痰盛，故以二陳為君，而加氣血藥也。</p>
<p><u>詵詵丸</u></p>
<p>治婦人衝任虛寒，胎孕不成，或多損墜。</p>
<p>當歸（酒洗，焙）　川芎　石斛（酒浸，炒）　白芍藥　牡丹皮　延胡索（各一兩）　肉桂（去皮，五錢）　澤蘭葉　白朮（各一兩五錢）　乾薑（泡，五錢）　熟地黃（洗、焙，二兩）</p>
<p>為末，醋糊丸，桐子大，每服五十丸，空心溫酒下。</p>
<p><u>當歸建中湯</u></p>
<p>治婦人一切血氣不足，虛損羸瘦。</p>
<p>當歸（四兩）　肉桂（去皮）　甘草（炙，各二兩）　白芍藥（六兩）</p>
<p>每服五錢，薑棗水煎服。</p>
<p><u>補中丸</u></p>
<p>治婦人虛損諸疾，宜常服。</p>
<p>川芎　白芍藥　黃耆　當歸　人參　陳皮（各五錢）　白朮　地黃（各一兩）</p>
<p>為末，蜜丸，每服五十丸，溫水下。</p>
<p><u>八珍散</u></p>
<p>調和榮衛，滋養血氣，進美飲食。</p>
<p>四物湯、四君子湯等分。</p>
<p>薑棗水煎，食前溫服。</p>
<p><u>地黃丸</u></p>
<p>治腎經不足，發熱作渴，小便淋秘，氣壅痰嗽，頭目眩暈，眼花耳聾，咽燥舌痛，牙齒不固，腰膝痿軟，自汗、盜汗，諸血失音，水泛為痰，血虛煩躁，下部瘡瘍，足跟作痛等證。</p>
<p>熟地黃（八兩，酒煮杵膏）　山茱萸（酒潤枝炒）　乾山藥（炒黃。各四兩）　牡丹皮（酒洗，微炒）　白茯苓（人乳制焙）　澤瀉（淡鹽酒拌炒。各三兩）</p>
<p>為末蜜丸，如桐子大，空心淡鹽湯下四錢。</p>
<p><u>滋血湯</u></p>
<p>治婦人皮聚色落，心肺俱傷，血脈虛弱，月水過期。益氣養血。</p>
<p>人參　白茯苓　川芎　當歸　白芍　山藥　黃耆　熟地</p>
<p>水煎，食前溫服。</p>

<h2>胎前雜症門</h2>
<p>（本門諸方宜於前經病門參看。）</p>

<h3>惡阻</h3>
<p>所謂阻者，經血既閉，痰水積於中，阻其臟氣，不得宣通也。</p>
<p>《金匱》曰:婦人得平脈，陰脈小弱，其人渴不能食,無寒熱，名妊娠。於法六十日，當有此證，設有醫者治逆，卻一月，加吐下者，則絕之。（婁全善曰：惡阻者，謂嘔吐、噁心、頭眩惡食、擇食是也。絕之者，謂絕止醫治，候其自安也。嘗治一二妊婦惡阻病，嘔吐愈治愈逆，因思仲景絕之之旨，遂停藥月餘自安。大哉！聖人之道也。徐忠可曰：其期有未滿六十日則胎未成，又加吐利，因醫者以安胎為主，見而用條芩、砂仁之類，則脾胃實有受傷處，但當斷絕病根為主，不得泥安胎之說，故曰絕之。）</p>
<p>婦人所食穀味，化為血氣，下為月水。凡妊娠之初，月水乍聚，一月為媒，二月為胚，三月為胎，成則男女上食於母。然在三月相火化胎之候，未能上食於母，血氣未用，五穀不化，中氣壅實，其為鬱滯、痰火、穢惡之氣盡衝於胃，所以噁心有阻也。其候心中憒悶，頭眩，四肢懈惰，惡聞食氣，多睡少起，酷嗜酸鹽果實者，乃肝腎不足，引以自救也。</p>
<p>凡孕二、三月間，妊婦稟受怯弱，便有阻病，嘔逆不食，或心煩悶，狀如醉酒，肢體沉重，擇食，惡食，頭目昏眩，此乃氣血積聚以養胎元，其精血內郁，而穢腐之氣上攻於胃，是以嘔逆不能納食；血既養胎，心失所榮，是以心虛煩悶。法當調血散郁，用參、朮、甘草補中氣；桔紅、紫蘇、木香、生薑散鬱氣；茯苓、麥冬、黃芩、竹茹清熱解煩，名參桔飲，所謂胎前須順氣者此也。但胎前無寒，胎後無熱，至於惡阻嘔吐，尤多屬熱。然亦有因寒而吐者，乃因病而非因惡阻也，不止則虛矣。當以人參乾薑半夏丸主之，不可過用辛藥。若吐甚而愈止愈急者，用仲景法，停藥月餘自安矣。</p>
<p>《千金方》有半夏茯苓湯、茯苓丸，專治惡阻，比來少有服者，以半夏能動胎，胎初結，慮其辛燥易散也，須薑汁炒以制其毒。凡惡阻非半夏不能止，故仲景用人參半夏乾薑丸。羅謙甫用二陳去陳皮、甘草，即名半夏茯苓湯。朱丹溪謂肥人多因痰，瘦人多因火，用二陳加減，並治胎前惡阻，痰逆嘔吐，心煩，頭眩，惡食俱效。經云有故無殞是也。立齋曰：半夏乃健脾氣，化痰滯主藥，脾胃虛弱嘔吐，或痰涎壅滯飲食少、胎不安，必用半夏茯苓湯，倍加白朮安胎健脾。常用甚驗也。惡阻兼腰痛者，防胎墮下，尤宜二陳四物，加條芩、白朮，和中理脾為主，不可升舉。蓋嘔逆氣已上升，藥再上升，則犯有升無降，上更實而下更虛，益促其墮矣。</p>

<h3>子煩</h3>
<p>妊娠煩悶有四證，有心中煩，胸中煩，有子煩，諸屬於熱。若臟虛而氣乘心，令人煩者，名虛煩。若積痰飲，嘔吐痰沫者，名胸中煩。或血積停飲，寒熱相搏，致胎氣不安，謂子煩。大抵多由陰既養胎，孤陽獨旺，心肺虛熱，是以撩亂不寧。更有時當盛夏，君火大行，俱能乘肺，以致煩躁、胎動不安者，皆因時而致之者也，亦當因時治之，生脈散最佳。</p>

<h3>妊娠煩躁口乾</h3>
<p>妊娠煩躁口乾者，足太陰脾經其氣通於口，手少陰心經其氣通於舌，若臟腑氣虛，熱乘心脾，津液胎燥，故心煩口燥，與子煩大同小異，宜知母丸。若肝經火動，加味逍遙散；若腎經火動，加味地黃丸。</p>
<p>古有婦人暴渴，惟飲五味汁，名醫耿隅診其脈曰：此血欲凝，非疾也。已而果孕，故古方有血欲凝而渴飲五味之證，本屬肺腎二經有火，蓋火入於肺則煩，入於腎則躁，胎繫於腎，腎水養其胎元，則不足以滋腎中之火，火上爍肺，變為煩躁，此金虧水涸之候。法當滋其化源，清金保肺，重濁壯水，滋腎為主。</p>

<h3>子懸</h3>
<p>《本事方》云：紫蘇飲治妊娠胎氣不和，壞胎逆上，脹滿疼痛，名子懸。子懸者，濁氣舉胎上湊也。胎熱氣逆，心胃脹滿，此證挾氣者居多。疏氣舒郁、非紫蘇、腹皮、川芎、陳皮無以流氣；非歸、芍無以養血，氣血既利而胎治降。然邪之所湊，其正必虛，故以人參、甘草補之。又曰：有妊娠心腹脹滿者，由腹內素有寒氣，致令停飲；與氣相爭，故令心腹脹滿也，須以脈之遲數辨之。</p>

<h3>子滿子腫子氣</h3>
<p>子滿者，婦人孕至五、六個月，腹大異常，胸腹脹滿，手、足、面目浮腫，氣逆不安，小便不通，此由胞中蓄水，名曰胎水。若不上治，生子手足軟短有疾，或胎死腹中。用千金鯉魚湯治其水。若脾虛不運，清濁不分，佐以四君子；若面目虛浮，肢體如水氣，全生白朮散；若脾濕虛熱，下部作腫，補中湯加茯苓；若飲食失節，嘔吐、泄瀉，六君子湯；若腿足發腫，喘悶不寧，或指縫出水，天仙藤散；若脾肺氣滯，加味歸脾湯，佐以加味逍遙散。然遍身浮腫，脹滿之甚者，名為子滿。若只腳面浮腫，行走艱難，或腳趾內有黃水出者，謂之子氣。直至分娩方消也。故妊娠腳腫，至八、九月及脛腿俱腫，非水氣比，不可以水病治之，反傷真氣。凡有此者，必易產，因胞臟中水血俱多，不致燥胎故也。若初孕即腫者，是水氣過多，兒未成體，則胎必墮。</p>
<p>子腫與子氣相類，但子氣在下體，子腫在頭面。若子滿產五、六月以後，比子氣與子腫不同。蓋胎大則腹滿，滿則甚氣，遍身浮腫也。</p>

<h3>妊娠腹痛胎痛</h3>
<p>《金匱》曰：婦人懷娠六、七月，脈弦發熱，其胎愈脹，腹痛惡寒，少腹如扇者，子臟開故也，當以附子湯溫其臟。徐忠可曰：六、七月胃肺養胎，而氣為寒所滯，故胎愈脹；寒在內，腹痛惡寒。然惡寒有屬表者，此連腹痛，乃知寒傷內矣。少腹如扇，陣陣作冷，若扇之狀，惡寒之異也，且獨在少腹，因子臟受寒不能合，故少腹獨開不飲也。子臟即子宮。附子能入腎溫下焦，故宜附子湯溫其經。妊婦偶有所傷，胎動不安，痛不可忍，用帶殼縮砂，不拘多少，和皮炒黑色，為末，熱酒下二錢。不飲酒者，米飲下，腹中覺熱，胎自安矣。</p>
<p>妊娠心腹痛，或宿有冷疼，或新觸風寒，皆因臟虛而發也。邪正相擊而並於氣，隨氣上下，上衝於心，則心痛；下攻於腹，則腹痛。邪正二氣交攻於內，久若不瘥，痛沖胞胎，必動胎。潔古地黃當歸湯治婦人有孕胎痛。丹溪以血虛治之，故四物湯去川芎，倍加熟地，此心法也。</p>
<p>妊娠不時腹痛，或小腹重墜，名胎痛。地黃三錢、當歸一錢，二味煎湯主之，不應加參、朮、陳皮。因中氣虛而下墜作痛者，補中益氣湯。</p>

<h3>腰痛</h3>
<p>妊娠腰痛，多屬勞力。蓋胞系於腎，勞力任重，致傷胞系，則腰必痛，甚則胞系欲脫，多至小產。故宜安胎為主，胎安而痛自愈，痛愈而胎能安。若素安逸而腰痛，必房事不節，致傷胞系也。脈緩，遇天陰、或久坐而痛者，濕熱也。腰重如帶物而冷者，寒濕也。脈大而痛不已者，腎虛也。脈澀而日輕夜重者，氣血凝滯也。脈浮者，風邪所乘；脈實者，閃挫也。臨月腰痛如脫腎者，將產也。</p>

<h3>胎漏下血</h3>
<p>有妊婦月信不絕而胎不損，問產科熊宗古，答曰：婦人血盛氣衰，其人治肥，凡既妊之後，月信常來，而胎不動。若便以漏胎治之則胎必墮。若不作漏胎治，其胎未必墮，今推宗古人之言，誠有旨也。巢氏云：婦人有子之後，經血蓄以養胎矣。有妊而月信每至，亦未必因血盛也。此因榮經有風，則經血喜動，以風勝故也。榮經既為風所勝，則所下者，非養胎之血，若作漏胎治之，服保養補胎藥，胎本不損，強以藥滋之，是助其風行水動之勢，其胎真墮矣。若知榮經有風之理，專以一藥治風，經信可止，或不服藥，胎亦無恙，然亦有胎本不固，因房室不節，先漏而後墮者，須作漏胎治之。《千金方》治妊娠下血不止，名曰漏胎，血儘子死，用生地八兩，漬酒搗汁，服之無時。（張）秘授保胎神效丸一方，藥雖甚靈，但內有紅花、沒藥，未解其意，觀宗古之論，始悟立方之妙。今具於後，保產者珍之。</p>
<p>妊娠漏胎，此由衝任脈虛，不能約制手太陽、少陰之經血故也。衝任之脈為經絡之海，起於胞內。手太陽、少陰相為表裡，上為乳汁，下為月水。有娠之人經水所以斷者，壅之養胎也。衝任氣虛，則胞內泄不能制其經血，故月水時下名胞漏，血盡則斃。又有勞役，喜怒不節，飲食生冷，觸冒風寒，子臟為風冷所乘，氣血失度，使胎不安，故也令下血也。丹溪曰：胎漏多因於血熱，然亦有氣虛血少，服涼血藥而下血益甚，食少、體倦者，此脾氣虛而不能攝血也，當以脈候參之。</p>
<p>妊婦壯實，六脈平和，飲食如故，余無所苦，但經時下者，是血氣旺而養胎之餘血也，不可強止，亦不可使之行，但為和血、涼血、健脾為主，佛手散加條芩、白朮、阿膠；或八珍湯加膠、艾。</p>

<h3>尿血</h3>
<p>娠婦勞傷經絡，熱乘於血，血得熱則滲入於脬，故令尿血。胎漏自人門下血，尿血自尿門下血。妊娠尿血屬胞熱者，多四物加山梔、發灰，或阿膠、熟地、麥冬、五味子之類。</p>

<h3>子淋</h3>
<p>孕婦小便澀少淋漓，名曰子淋。由氣血聚養胎元，不及敷榮滲道，遂使膀胱鬱熱，宜歸、芍調血；人參補氣；麥冬清肺以滋腎水之源；滑石通導利小便以清鬱滯，名安榮散。古方內有滑石，石乃鎮重之劑，恐致墮胎，若臨月極妙。如在七八月前，宜去此味，加石斛、山梔尤穩。若日久倦怠，右脈微弱者，此氣虛下陷，而時墜下，然氣弱腸虛而難流通，惟大服人參運之，其便自易。</p>

<h3>轉胞病</h3>
<p>胞轉證候臍下急痛，小便不通。凡強忍小便，或風急疾走，或飽食忍尿，或忍尿入房，使水氣上逆，氣逼於胞，故屈戾不得舒張所致，非小腸、膀胱受病而用藥所能利也。法當落其氣則愈，若胞落即殂。凡病人稟受弱者，憂悶多郁、性躁急者，食味厚者，多有之。古方用滑利藥鮮效。因思胞水自轉，為胎所壓，胎若舉起，胞系自疏，水道自通矣，宜補中益氣湯。服後探吐，以提其氣自通。通後即用參、耆大補，恐胎墮也。</p>
<p>丹溪曰：有婦妊孕九月轉胞，小便不出，下急腳腫不堪步，診脈右澀左稍和，此飽食氣傷，胎系弱不能自舉，下墜著膀胱，偏在一邊，氣急為其所閉，故水竅不能出，方用參、朮、陳皮、炙草、歸、芍、半夏、生薑，補血養氣，氣血既旺，胎系自舉，頓飲之，探喉令吐，如是四服，小便通下皆黑水，復重調補而愈。又妊娠七八月，小便不通，診之脈細弱，此由中氣虛怯，不能舉胎，胎壓其膀胱下口，因不得溺，用補中湯，加升舉之藥。因藥力未至，脹痛難忍，遂令老婦用香油塗手，自產戶托起其胎，溺出如注，脹急頓解，隨以大劑參耆補之。　至三日後，胎漸起，小便如故。《證治》曰：轉胞之說，胞為所逼而側，名胞者，即膀胱也。然子淋與轉胞相類，但小便頻數，點滴而痛地得，為子淋，膀胱小腸虛熱也。虛則不能制水，熱則不能通利，故淋若頻數，出少不痛者，為轉胞，間有微痛，終與子淋不同。</p>
<p>《經》曰：婦子胞氣。又曰：胞移熱於膀胱。又曰：衝脈任脈皆起於胞中。凡此胞字皆音包，以子宮為言也。《靈樞》曰：膀胱之胞薄以懦，音拋，以當溲脬而為言也。胞物有三，而字則相同，奈何後人不解其意，或忍膀胱與尿胞為二物，又因《類纂》曰：膀胱者，胞之室，反以子胞與膀胱為一物，其誤甚矣。夫膀胱即脬，脬即膀胱也。為得復有一物，居膀胱之內，者乎？其以子胞與膀胱為一物者，試不思轉胞下壓膀胱，以致小便不通者，則胞在上，更膀胱在下，則其部位各別，而非一物更明矣。</p>

<h3>子喑</h3>
<p>經云：婦人重生九月而喑者，胞之絡脈絕也，無治，當十月復。謂人之受孕，一月肝經養胎，二月膽經養胎，三月心經養胎，四月小腸經養胎，五月脾經養胎，六月胃經養胎，七月肺經養胎，八月大腸經養胎，九月腎經養胎，十月膀胱經養胎。先陰經而後陽經，始於木終於水，以五行之相生言也。然以理推之，十二經之脈晝夜流行無間，無日、無時而不共養胎氣也，必無分經養胎之理。今曰九月而喑，時至九月，兒體已長，胞宮之絡脈繫於腎經者，阻絕不通，故間有之。蓋腎經之脈上系舌本，脈道阻絕，則不能言，故十月分娩後而能言，不必加治，治之當補心腎。喑謂有言而無聲，故經曰不能言，不能非絕然不語之謂。凡音出於喉嚨，發於舌本，因胎氣肥大，阻腎上行之經。腎脈入肺，循喉嚨，系舌本。喉者，肺之部，肺主聲音。其人竊竊私語，心雖有言，而人不能聽，故曰喑。肺腎子母之臟，故云不必治。若大全解作不語，則為心病，以心主發聲也，與子喑了不相干，若張子和有降心火之說，馬玄臺有補心腎之言。如果腎之脈絡絕，則其病不治，豈有產後自復之理乎。故經云：胞之絡脈絕。此絕字當作阻字解也。</p>

<h3>中風</h3>
<p>孕婦痰涎壅盛，忽然僵仆，或時發搐，不省人事，是血虛而陰火炎上，鼓動其痰，左脈微數，右脈滑大者，名曰子癇，宜四物養血，酒芩清熱，二陳化痰理氣。故《機要》云：風木為熱，熱甚則風動，宜靜勝其燥，是養血也。治法仍以安胎為主，勿過用中風之藥。蓋多由血虛則生熱，熱盛則生風，皆內起之風火，養血而風火自滅也。若心肝風熱，用鉤藤湯；肝脾血虛，加味逍遙散；肝脾鬱怒，加味歸脾湯；氣逆痰滯，紫蘇飲；脾郁痰滯，二陳加竹瀝、薑汁。</p>

<h3>妊娠傷寒</h3>
<p>妊娠傷寒，專以清熱安胎為主，外用塗臍護胎之法，其或汗、或下，各隨表裡所見脈證主治。有表證宜汗者，羌活沖和湯加柴胡、當歸、芍藥、蘇葉、蔥白之類。若裡熱實症，便秘、躁渴者，亦用大黃轉藥，須酒製用。有病病當之，設患真寒脈伏厥冷者，則用薑、桂、附子。薑、桂雖熱，用黃連、甘草制之則無害矣。況應犯而犯似乎無犯，若不急為調治，以去極寒極熱之病，則胎為病所困而難於保全矣。奈何去病寒熱之藥，人多畏之，傷生寒熱之病，人反安之何也？</p>

<h3>妊娠瘧疾</h3>
<p>妊娠寒熱皆因氣血虛損，風寒乘之。風為陽邪，化氣而為熱；寒為陰邪，化氣而為寒；陰陽並挾，寒熱互見。經曰：陽微惡寒，陰弱發熱。此皆虛之所致，不因暑氣所作，宜清解表邪，兼大補氣血以主之，勿泥寒熱假象也。若寒熱不已，熏蒸其胎，胎必傷矣。更有患胎瘧者，一遇有胎，瘧病即發。此人素有肝火，遇孕則水養胎元，肝虛血燥，寒熱往來，似瘧非瘧也，以逍遙散清肝火、養肝血，兼六味丸以滋化源。</p>

<h3>妊娠痢疾</h3>
<p>妊娠飲食生冷，脾胃不能克化，致令心腹疼痛。傷血則赤，傷氣則白，血氣俱傷，則赤白相雜。至若腹內重墜，胎氣不安者，此腹重墜下，元氣虛而不能升舉，真氣下陷也，大用補中湯而自安，切勿順氣、行氣，益增墜下之患。胎繫於腎，如鍾繫於梁，棟柱不固，棟梁必撓，而鍾豈能獨全哉。況似痢非痢者，多中氣虛則不能上升，脾氣虛則不能滲濕，腎氣虛則不能閉藏。慎勿以有形之假滯，而傷無形之元氣，至元氣一傷，變症百出矣。胎能保乎？</p>

<h3>妊娠霍亂</h3>
<p>霍亂者，因甘肥過度，腐積成痰，七情鬱結，氣盛為火，停蓄胃中，乍因寒熱之感，邪正交爭，陰陽相混，故令心腹絞痛，吐、利並作，揮霍變亂。如邪在上胃脘，則當心痛而吐多；邪在下胃脘，則當臍痛而利多；邪在中脘，則腹中痛，吐、利俱多。吐多則傷氣，利多則傷血，血氣受傷不能護養其胎，邪氣鼓擊胎元，子母未有不殞者，此危症不可不亟治也，宜香蘇散加藿香，先服後探吐之。妊娠泄瀉，不外脾腎二臟，虛者居多。夫血統於脾，血擁胎元，則脾陰虛而食不運化。脾主健運，下焦壅滯而清氣難舒，於是水穀難消而作瀉。且胎繫於腎，胎竊其氣以擁護，而腎氣既弱，命門火衰，不能上蒸脾土，此妊娠泄瀉之由也。雖其間不無風寒暑濕之外感，飲食生冷之內傷，然屬於脾腎有虧者乃其本也。</p>

<h3>妊娠傷食</h3>
<p>妊娠傷食，多由脾胃中氣虛弱，不能運化，若中氣壯實，無是病也。然胎以脾胃為主，脾胃強則胎系如懸鐘而不墜，若傷食不化則脾困而胎不能固。故凡即消食導滯，皆先以補脾健胃為主，而推揚穀氣，則飲食自化。若徒事消克，不但胎元易墜，且脾虛而愈虛之，化源之機竭矣。</p>

<h3>妊娠吐血</h3>
<p>凡七情內傷，六淫外感，皆足致失血之患。而妊娠吐血一主火熱者，以氣血壅養胎元，或有所感則氣逆而火上乘心，心煩滿悶，血隨而溢也。但火略有虛實之分，實火當清熱以養血；虛火當滋陰以補水，則血可安而胎可固。若泛用行血、消血之劑，胎必墮而禍不旋踵矣。</p>

<h3>妊娠胎逆作喘</h3>
<p>有婦人胎死於腹，病喘不得臥，診其脈，氣口盛人迎一倍，左關絃動而疾，兩尺俱短而離經，因曰病蓋得之毒藥動血，以致死胎不下，奔迫上衝，非風寒作喘也。大劑芎歸湯加催生藥服之，夜半果下一死胎而喘止。其夫曰病妾誠有懷，以室人見嫉，故藥去之，眾所不知也。然妊娠氣喘，有乍感風寒而不得臥者，客邪盛也，發散自愈，參蘇飲主之。若脾虛四肢無力，肺虛不任風寒，腎虛腰痠，短氣不能行步，猝然氣喘不息，此脾肺素虧，母虛子亦虛，腎氣不歸元而上乘於肺也，生脈散、補中湯去升柴主之。丹溪所謂火動作喘，此胎前最多。至於毒藥傷胎病喘，世俗往往有之，病機之不可不察者也。</p>

<h3>婦人臟躁悲傷</h3>
<p>仲景曰：婦人臟躁，喜悲傷欲哭，象如神靈所憑，數欠伸，甘麥大棗湯主之。立齋治一妊婦，悲哀煩躁。其夫詢之，云：我無故，但欲自悲耳。用仲景方，又用淡竹茹湯佐八珍湯而愈。故妊娠無故悲傷，屬肺病臟躁者，肺之臟燥也，胎前氣血壅養胎元，則津液不能充潤，而肺為之燥。肺燥當補母，故有甘草、大棗以補脾。若立齋用八珍湯補養氣血，更發前人之所未盡。</p>

<h3>腹內兒哭</h3>
<p>《產寶》曰：腹中臍帶上疙瘩，兒含口中，因妊婦登高舉臂，脫出兒口，以此作聲，令妊婦曲腰就地如拾物狀，仍入口中即止。又云：孕婦腹中兒哭，治法用空房中鼠穴土同川黃連濃煎汁，飲之即止。</p>

<h3>胎動胎漏</h3>
<p>妊娠胎動不安者，由衝任經虛，受胎不實也。有飲酒房事過度、損動不安；有忤觸傷僕而動不安；有怒氣傷肝、或鬱結不舒，觸動血脈不安；有過服暖藥並犯禁之藥動而不安；有因母病而胎動者，但治母病其胎自安；有因胎不堅固動及母病者，但當安胎，其母自愈。若面赤、舌青，是兒死也；面青、舌赤，是母死也；唇、口、面、舌俱青，吐沫者，是子母俱死。然胎動與胎漏，皆有下血，胎動則腹痛，胎漏無腹痛。胎動宜調氣，胎漏宜清熱。然子宮久虛，多令墜胎，其危同於風燭，非正產可比，急以杜仲丸預服，以保胎元。</p>

<h3>子死腹中</h3>
<p>胞衣未下，急於胎之未生。子死腹中，危於胎之未下。蓋胞衣未下，子與母氣尚通呼吸，若子死腹中，胞臟氣寒，胎血凝沍，氣不升降。古方多以行血順氣藥及硝石、水銀、硇砂之類。但其胎已死，則軀形已冷，血凝氣聚，復以至寒之藥下之，不惟無益，而害母命者多矣，不知古人立方深於用意。蓋子死之故，因有二端，用藥寒溫各存至理，有妊娠胎漏血儘子死者；有墜墮顛仆內傷子死者；有久病胎萎子死者。以附子湯進三服，使胞臟溫暖，凝血流動。蓋附子能破寒氣墮胎，此用溫藥之意也。有因傷寒熱病溫瘧之類，胎受邪熱毒氣，內外交攻，因致胎死留於胞臟。古人深慮胎受毒氣必然脹大，故用朴硝、水銀、硇砂之藥，不惟使胎不脹，又能使胎形化爛，再副以行血、順氣之藥，死胎即下。此古人立方之至意也。</p>
<p>凡脈三陽俱盛，名曰雙軀。若少陰微緊者（謂督脈），血即凝濁，經養不周，胎即偏夭，其一獨死，其一獨生，不去其死，害母失胎，千金神造散主之。是方耑治雙胎，一胎生、一胎死者，用蟹爪以去其死，阿膠以安其生，甘草和藥性，立方之心意深遠矣。</p>
<p>人之胃氣壯實，衝任榮和，則胎得其所，如魚處深澗，自然和暢。若氣血虛弱，無以滋養，其胎終不能成宜下之，以免其禍。然胎傷宜下、而下法最宜謹慎。如胎死腹中，心先蹎舌青、腹冷、口穢的確，方可用下，也必先固妊婦本元，補氣養血而後下之。如遇有不安，未能詳審，遂用峻厲攻伐，能免不測之禍。此要訣云順其自然四字，最妙。立齋亦云：胎果不能安者，方可議下。慎之、慎之，前賢之垂戒深矣。若欲下之，朴硝斷不可少。</p>

<h3>墮胎</h3>
<p>妊娠受胎，七日一變，今婦人墮胎，必在三月、五月、七月者多；在二月、四月、六月者少。蓋諸經養胎，臟陰而腑陽，三月屬心，五月屬脾，七月屬肺，皆在五臟之脈，陰常易虧，故多墮耳。如在三月曾墮，後孕至期，必乘其所虛而三月亦墮，以心脈受傷故也，須預於二月先調其心。五月、七月亦然，必多服健脾益氣養榮之藥，一有胎後，日不可間乃佳。惟一月墮胎，人所不知，一月屬肝，怒則多墮，洗下體則竅開亦墮，一次既墮，肝脈受傷，下次亦墮，今之無子者，大半一月墮胎，非盡不受孕也。故凡初交後，最宜將息，勿復交接以擾子宮，勿令勞怒，勿舉重，勿洗浴，又多服養肝平氣藥，則無一再之墜而胎固矣。若連墮數次，胎元損甚者，服藥須多，蓋久則胎元可復。其藥以養榮、調氣、補腎、益脾，如四物湯去川芎、生地，換熟地，加人參、白朮、陳皮、條芩、阿膠、續斷、杜仲之類。如有跌撲所傷，須逐汙生新為主，佛手散最妙；腹痛加益母草，服下痛止，則子母俱安。如胎已損，則汙物並下，再加童便、制香附、益母草、陳皮，煎濃汁飲之。如從高墜下，腹痛下血、煩悶，加生地、黃耆，補以安之，如因使內腹痛下血，加參、朮、陳皮、茯苓、炙甘草、砂仁末，以保之；如胎下而去血過多，昏悶欲絕，脈大無力，用濃厚獨參湯沖童便服之。小產本由氣血大虛，今當產後，益虛其虛矣，故較正產尤宜調補。</p>
<p>巢氏論諸經脈養胎，各三十日，而十二經中，獨心與小腸不養胎，何也？心為牡臟，小腸為腑，主生血而合脈。《經》曰：臟直通於心，心藏血，脈之氣也。有孕則經脈不通，所謂閉經以養胎也。是知胎以血為本，始終皆在於心，自不當以輸養分次第矣。三月之時，心包絡養胎，《靈樞》云：心包主脈。若分氣及胎，脈必虛代。《經》云：心合脈，蓋心與包，雖分二經，其實原屬一臟也。若至期當養之經，虛實不調，則胎必不安，甚則下血而胎墮矣。</p>
<p>夫陽施陰化，胎孕乃成，胎寒則痛，胎熱多驚。若血氣虛損，不足以榮養其胎，則自墮矣。譬之枝枯則果落，藤萎則花墜。有因七情太過，五火內發，火能消物而墮者；有因勞力閃挫，傷動其胎而墮者；有因怒動肝火，疏泄用事而墮者；有因過於房事，盜泄胎元而墮者；正如風撼其樹，而根本為動搖也。然小產重於大產，蓋胎臟損傷，胞系腐爛。治宜大補榮衛，生肌肉養臟氣，略佐消瘀。若素有墮胎之患者，宜按症預為早治，臨期補之無及也。</p>
<p>妊娠半產，非七情六淫，勞役房室，則無是患，故用藥與正產無殊，總不外丹溪大補氣血為主。如三四月前，胎未成形而下者，名曰墮胎。至五六月後，胎已成形而下者，名曰半產。總屬妊婦氣血虛弱，衝任經虛，以致胎元不固，愈遲者，而氣血愈虛也，故千金保胎元不固，愈遲者，而氣血愈虛也，故千金保胎丸一方最妙，而趙養葵以六味飲加杜續、五味、阿膠尤佳，誠為安胎之聖藥也。</p>
<p>小產不可輕視，視養十倍於正產。大產如慄熟自脫，小產如生採之。破其皮殼斷其根蒂也。忽略成病者不少，因而致死者恆多，然此症始因斂血以成胎，繼因精血以長養，終因精血不足而萎墮，故瘀血甚少。倘有腹痛成塊有形，多屬血虛氣逆，惟加大為溫補，則新者生，而瘀者去。若加消瘀破滯，則逆氣愈攻而愈升，多致不救，戒之哉！況有血虛而腹痛者，更有真陰虧損，不能納氣，以致疝瘕為患者，更有真陰虧損，不能納氣，以致疝瘕為患者，更有真陰虧損，不能納氣，以致疝瘕為患者，更有真陰虧損，不能納氣，以致疝瘕為患者，（張）常以八味丸加牛膝、五味子者，早晚吞服而安。</p>
<p>驢馬有孕，牡者，近則蹄之，名為護胎所以絕無小產。人之胎系胞中，有氣血以養之，靜則神藏，欲火一動，則精神走泄，火擾於中，則胎自墮矣。種玉者，可知欲而不知忌乎。</p>
<p>丹溪曰：有婦經住三月後，尺脈或澀或微弱，其婦卻無病，知是子宮真氣不全，故陽不施，陰不化精，血雖凝，終不成形，至產血塊，或產血胞也。惟脈洪盛者，胎可不墮耳。</p>
<p>半產者，此氣血不續而不能長養胎元也。然氣血不足之中，尚有性稟偏陰偏陽，或寒或熱之異，自當憑脈調治。如陰虛內熱者，而用艾、附、白朮、砂仁溫暖之劑，則陰道愈消，如草木之無雨露，自然枯萎也。如陽虛內寒者，而用芩、芍涼血之劑，則脾胃虛寒，氣血益弱，猶果品春夏易生，秋冬少結也。故辨症合宜，雖大寒大熱，俱可益人，《經》所謂：應犯而犯，似乎無犯也。</p>

<h3>胎孕不長</h3>
<p>或問：娠婦有按月行經而胎自長者，有三五個月間，其血大下，而胎不墮者，或及期而分娩，或逾月而始生，其理何與？按月行經而胎長者，名曰盛胎。其婦血氣充盛，養胎之外，血有餘故也。有數月之胎，而敵國大下，謂之漏胎。因事觸胎，動其任脈，故血下而不傷子宮也。然孕中失血，胎雖不墮，氣血亦虧，多至逾月不產。曾見有十二三月，或十七八月，或二十餘月而生者，皆是血氣不足，胚胎難長故耳。凡十月之後未產者，當服大補氣血之藥，以培養之，庶無分娩之患。《總錄》曰：人受氣於有生，十二經脈迭相滋養，凡胎處胞中或有萎燥者，由孕婦所稟怯弱，不足自周，陰陽血氣偏勝，非冷即熱，胞胎失於滋養，所以萎燥不長也。惟宜資母血氣，則胎有自而長矣。</p>

<h3>胎孕變常記</h3>
<p>李時珍曰：女子二七天癸至，七七天癸絕，此其常也。有女年十二、十三而生子，如褚記室所載，平江蘇達卿之女，年十二受孕。有婦人年至五十六十而生子，如遼史所載，亟昔妻年六十，生二男二女，此又異常之尤者也。</p>

<h3>鬼胎</h3>
<p>人之髒髒調和，則血氣充實，風邪鬼魅，不能幹之。若榮虛衛損，精神衰弱，妖魅鬼精，得以感之，狀如懷孕，故曰鬼胎也。然虞天民曰：晝之所思，為夜之所見。凡男女之性淫而虛者，肝腎相火，無時不起，故勞怯人，多夢與鬼交。所謂鬼胎者，偽胎也，非實有鬼神，交接成胎也。即《經》所謂：思想無窮，所欲不遂。為白淫白濁，流於子宮之內，遂結為鬼胎。本婦自己之血液，淫精結聚成塊，胸腹脹滿，儼若胎孕耳。非偽胎而何？滑伯仁醫驗有楊氏女，薄暮遊廟，廟廡見一黃衣神人，覺心動，是夕夢與交，腹漸大如孕，伯仁診之曰：此鬼胎也。女乃道其故，遂與破血墜胎之藥，下如蝌蚪魚目者，約二升許遂安。此非遇神交乎？曰：有是事，實無是理，豈有土木為形，能與人交而有精成胎耶？天下必無是理也。推其故，此非神之惑於女，實乃女之感於神，有以致之耳。</p>
<p>立齋曰：鬼胎因七情相干，脾肺虧損，血氣虛弱，失行常道，衝任有乖致之，乃元氣不足，病氣有餘也。若見經候不調，即行調補，庶免此症，以補元氣為主，佐以行散之藥。一婦經閉，八月肚腹漸大，面色或青或黃，用胎證藥不應，診視之，面青脈澀，寒熱往來，肝經血病也。面黃腹大，少食倦怠，脾經血病也。此鬱怒傷脾肝之證，非胎也，用加味歸脾逍遙二藥而愈。</p>

<h3>腸覃似孕</h3>
<p>《經》云：腸覃者，寒氣客於腸外，與衛氣相搏，氣不得榮，因有所繫，瘕而內著，惡氣乃起，息肉乃生。其始生大如雞卵，稍以益大，如懷子之狀，按之則堅，推之不移，月事以時下，此其候也。此氣病而血未病，故月事不斷，木香通氣散，大辛熱之劑主之（此結氣大腸為氣病）。</p>

<h3>蓄血似孕</h3>
<p>《折肱錄》曰：子媳申氏多鬱怒，勿患不月，腹漸大，以為妊也。十餘月勿產，諸證漸見，疑之，醫者亦疑為蓄血欲下，以體弱不勝，可暗消，久用行血調血藥，竟至不起。後閱盛啟東治東宮妃一案，大悔掉，永樂東宮妃張氏，經不通者，已十越月，醫以為胎也。脹愈甚，上命啟東診視，一一如見，其方皆破血之劑，下血數斗而疾平。子媳病正與此合，當十月外既確知非妊，宜大膽下之，可得生矣。惜醫者，無此膽識，不亦傷乎！（此蓄血子門為血病）。</p>

<h3>產前總論</h3>
<p>產前諸症，皆因胎氣所致。夫胎動、胎漏皆下血，但胎動有腹痛，胎漏無腹痛，故胎動宜行氣，胎漏宜清熱也。惡阻者，噁心而阻隔飲食也，肥者多因痰，瘦者多因熱，宜二陳湯加減。子煩者，煩躁悶亂心神也。子癇者，痰涎潮搐，目吊口噤也。子腫者，面目虛浮，肢體腫滿也。子氣者，兩足浮腫也。子淋者，小便艱少也。轉胞者，小便不通也。子懸者，胎氣不順，湊心脹痛也。蓋脾主運化水穀，婦人有胎則運化水穀不利而生濕，濕則生痰，痰生熱，熱生風也。子腫、子氣者，濕也。惡阻者，痰也。子煩、子淋者，熱也。子癇者，風也。子懸者，氣也。轉胞者，虛也。濕則滲之，痰則消之，熱則清之，風則平之，氣則散之，虛則補之，總以去邪保胎為要。保胎之法，三月以前宜養脾胃，四月以後宜壯腰腎、補血順氣，佐以清熱，此大法也。然尤宜以人陰陽盛衰、氣血偏勝而調之。</p>
<p>《簡便方》治頻慣墮胎，或三、四月即墮者，於兩月前，以杜仲八兩、糯米煎湯浸透，炒去絲，續斷二兩酒浸焙乾為末，山藥五、六兩為末，糊丸如梧子大，每服五十丸，空心米飲下。</p>
<p>懷妊受物，乃肝一臟之虛，其肝氣止能生胎，無別用也，若血少不能榮其肝，則肝虛，故愛酸物。產前安胎，白朮、黃芩為妙藥也。條芩安胎之聖藥，俗人不知，以為寒而不敢用，反為溫熱之藥可養胎，殊不知產前宜清熱，令血循經而不妄行，故能養胎。惟脈沉遲，脾胃虛弱者，非其所宜。生產如抱船過壩一般，凡難產者，多由於氣血虛也，有因九、十月之時不謹守者有之；有氣血凝滯不轉運者。故於九個月內便須順氣調中，服達生散十數帖，臨產自易也。</p>
<p>凡妊婦脈細勻者，是胎元已足，如果熟香飄之象也。易產。大浮緩者，是養胎而中氣大虛，火氣散也，難產。故產前脈宜洪大，產後脈宜沉小。凡男女之別，以左右取，左疾為男，右疾為女。沉實在左，浮大在右，右女左男，可以預剖。離經六至，沉細而滑，陣痛達腰，胎立時脫。半產漏下，革脈主之，弱即血耗，立見傾危。</p>
<p>一婦妊娠，久吐不已，諸藥不受，張立後方，服之而愈。兩寸俱洪大而數，右尤甚焉。金體本燥，今燥益甚矣。左關洪弦，是肝主藏血，今無血受藏也。右關弦細而數，是久生穀氣，肝家虛火來侮，因而弦數。其細者，胃氣虧極之象也。左尺細極若無，右尺洪大而疾，此皆津滋燥涸，少陰虛火上浮，厥陰鬱火上達，少陽伏火上乘，燥涸之土為三火所爍，焉能濕潤化育乎。經曰諸嘔吐酸皆屬於熱，此之謂也。具方於後，為救急治標之法。嘔愈之後，仍當以六味加麥冬、阿膠為丸，久服調理，以治其本。</p>
<p>條實芩（一錢二分）　麥門冬（去心三錢）　懷生地（三錢）　廣桔紅（鹽湯泡七分）　白茯苓（一錢二分）　生白芍藥、肥白知母（各一錢二分）　甘草（二分）　白葛根（一錢，能提胃中真氣，而清疏胃熱故用之）　竹茹（二錢，用鮮淡竹刮去青，取向里黃皮）</p>
<p>加燈心，水煎，溫服即愈。</p>
<p><u>保胎神效丸方</u>　《錦囊秘傳》</p>
<p>白茯苓（二兩、色白堅重者用之）　真於朮（一兩，米泔浸一宿，去皮淨切並曬乾，同黃土炒用）　條芩（酒拌炒，須揀實心細子）　香附子（童便浸二日，炒熟）　元胡索（陳米醋拌炒）　紅花（隔紙烘炒）　益母草（淨葉。各一兩）　真沒藥（三錢，新瓦上隔火焙去油）</p>
<p>上各制度為末，蜜丸桐子大，每日空心白湯吞服七丸。</p>
<p>前藥不可因其丸小加至七丸之外。凡孕婦胎不安者，一日可服四五次，安則照常。如遇腹痛腰痠，或作脹墜，宜即服之。如受胎三五月常墜者，須先一月制服，能保足月。甚至見紅將墜者，急服此丸，亦能保留。謹戒惱怒、勞力，忌食煎炒、椒辣、發氣、閉氣、糟味、冷水冷物，切戒心勞。每藥一料，可保數胎，但服此丸，無不收效。</p>
<p><u>茯苓丸</u></p>
<p>治妊娠惡阻停飲，憂聞食氣。</p>
<p>赤茯苓　人參　肉桂　乾薑（泡）　半夏（洗七次焙）　陳皮　白朮　葛根　甘草（炙）　枳實（去白麩炒黃，各一兩）</p>
<p>為末，蜜丸如梧子大，每服五十丸，空心米飲下。</p>
<p>一法用黃芩為末，濃煎白朮湯，調一錢服，一月餘自安。</p>
<p><u>杜仲丸</u></p>
<p>治妊娠兩、三月，胎動不安，防其欲墮，預宜服之。</p>
<p>杜仲（去皮，剉薑汁炒去絲）　川續斷（酒浸各二兩）</p>
<p>為末，棗肉煮爛為丸，梧子大，每服三十丸，米飲下。</p>
<p><u>膠艾湯</u></p>
<p>治妊娠或因倒僕，胎動不安，腰腹疼痛。</p>
<p>熟地黃（洗）　艾葉（炒）　白芍藥　川芎　阿膠（蛤粉炒成珠）　黃耆　當歸（酒浸）　甘草（炙各等分）</p>
<p>用薑棗，水煎服。如虛者加人參。</p>
<p><u>益母丸</u></p>
<p>專治難產橫逆，並安胎順氣。</p>
<p>益母草（五月五日採葉莖，陰乾，忌鐵器）</p>
<p>為末，蜜丸如彈子大，每服一丸。臨產之時，以童便溫酒化下。若氣不順，用木香人參湯。</p>
<p><u>桑寄生散</u></p>
<p>治胎漏經行淋漓；無病調理胎元。</p>
<p>當歸（酒浸）　桑寄生　續斷（酒浸）　川芎　白朮　熟地　人參　香附（炒）　阿膠（蛤粉拌炒）　茯神（各一錢）　甘草（炙五分）</p>
<p>水煎服。</p>
<p><u>三因鯉魚湯</u></p>
<p>治妊娠腹大，胎間有水氣。</p>
<p>白朮（五兩）　茯苓（四兩）　當歸　芍藥（各二兩）</p>
<p>上細剉以鯉魚一個，修事如食法煮取汁，去魚用藥四錢入魚汁一鍾半；生薑七片、陳皮少許，煎至七分，空心服下。</p>
<p><u>一方</u></p>
<p>無故卒下血，用阿膠（二兩，蛤粉炒成珠）　生地黃（八兩，搗取汁）　以清酒三升，將二味攪勻溫熱，分三服飲之。</p>
<p><u>竹茹湯</u></p>
<p>治妊娠嘔吐，頭疼，眩暈。</p>
<p>桔紅（去白）　人參　麥門冬（去心）　白朮（各一兩）　厚朴（薑製）　茯苓（各五錢）　甘草（二錢五分）</p>
<p>每服五錢，水二鍾、姜五片，入竹茹如彈子大一塊，煎至八分服。</p>
<p><u>竹葉湯</u></p>
<p>治妊娠心驚膽怯，終日煩悶，證曰子煩。</p>
<p>白茯苓（四兩）　防風　麥門冬（去心）　黃芩（各三兩）</p>
<p>每服四錢，水一鍾、竹葉五片，不拘何時，皆可服之。</p>
<p><u>全生白朮散</u></p>
<p>治妊娠面目肢體浮腫如水氣，名曰子氣。</p>
<p>白朮（一兩）　姜皮　大腹皮　陳皮　白茯苓皮（各五錢）</p>
<p>為末，每服二錢，米飲調下。一方有桑白皮。</p>
<p><u>李氏天仙藤散</u></p>
<p>治妊娠三月之後，兩足漸腫，行步艱難。</p>
<p>飲食不佳，狀如水氣，名曰子氣。</p>
<p>天仙藤（洗略炒）　香附子（炒）　陳皮　甘草　烏藥（各等分）</p>
<p>為末，每服三錢，姜三片、紫蘇三葉、木瓜三片同煎，空心食前服之。日三次，腫消止藥。</p>
<p><u>紫蘇散</u></p>
<p>治胎氣不和，湊上心腹，脹滿疼痛，謂之子懸。</p>
<p>大腹皮　川芎　白芍　陳皮　當歸（去蘆酒浸）　紫蘇葉（各一兩）　人參　甘草（各五錢）</p>
<p>每服四錢，姜五片、蔥白七寸，水煎，空心溫服。</p>
<p>兒在腹中哭　用多年空屋鼠穴中土一塊，令孕婦噙之。</p>
<p><u>百合散</u></p>
<p>治妊娠咳嗽，心胸不利，煩滿不食，胎動不安。</p>
<p>川百合　紫苑　麥門冬　桔梗　桑白皮（各一兩）　甘草（五錢）　竹茹（一團）</p>
<p>每服八錢，水煎去滓，入蜜半匙，再煎一、二沸，食後溫服。</p>
<p><u>乾薑黃連丸</u></p>
<p>治妊娠下痢赤白，穀道腫痛，冷熱皆可服。</p>
<p>乾薑（炒黑）　黃連（去須）　縮砂仁（炒）　川芎　阿膠（蛤粉炒）　白朮（各一兩）　乳香（三錢別研）　枳殼（五錢炒）</p>
<p>為末，用鹽梅肉三個入醋糊同杵丸桐子大，每服四十丸，白痢乾薑湯、赤痢甘草湯下，赤白痢乾薑甘草湯下。</p>
<p><u>勝金散</u></p>
<p>治妊娠脾胃氣冷，小腹虛脹。</p>
<p>吳茱萸（酒浸炒）　陳皮　生薑　乾薑（炮）　川芎　厚朴　縮砂仁（炒）　甘草（各等分）</p>
<p>為末，每服二錢，鹽湯調服。</p>
<p><u>桑螵蛸散</u></p>
<p>治妊娠小便不禁。</p>
<p>桑螵蛸（二十個，炙為細末。）</p>
<p>每服二錢，空心米飲調下。</p>
<p><u>瘦胎枳殼散</u></p>
<p>治妊娠孕七、八月，常宜服滑胎易產。</p>
<p>甘草（一兩五錢炙）　枳殼（五兩麩炒赤）</p>
<p>一方加香附。</p>
<p>為末，每服一錢，空心白湯服。</p>
<p>按：枳殼散性苦寒，單服恐有胎寒、胎痛之疾，以地黃當歸湯蜜丸佐之。</p>
<p><u>束胎散</u></p>
<p>第八個月可服。</p>
<p>條芩（酒炒一兩）　白朮（二兩，不見火）　陳皮（三兩）　茯苓（七錢五分，不見火）</p>
<p>為末，粥丸梧子大，每服五六十丸，食遠溫水下。</p>
<p><u>達生散</u></p>
<p>大腹皮（三錢）　人參　陳皮（各五錢）　白朮　芍藥　歸尾（各一錢）　甘草（炙二錢）　紫蘇（莖葉五分）</p>
<p>加青蔥五葉、黃楊腦七個（即黃楊樹葉梢兒），或加枳殼、砂仁，水煎食後服。八、九月服十數帖，甚妙。夏月加黃芩，冬不必加；春加川芎。</p>
<p><u>催生如聖散</u></p>
<p>黃葵花焙乾。</p>
<p>為末，熱湯調下二錢，神效。或有漏血，胎臟乾澀，難產痛劇者，並進三服，良久腹中氣寬，胎滑即時產下。如無花，以黃蜀葵子為末，酒服二錢。如胎死不下，紅花煎酒調下。經驗方用子四十九粒，或三十粒。</p>
<p><u>催生佛手散</u></p>
<p>治妊娠因事觸胎，子死腹中，疼痛口噤。用此探之，不損則痛止，子母俱安；損則立下。</p>
<p>當歸（六錢）　川芎（四錢）</p>
<p>水二鍾半，煎令泣欲干，入頭酒一鍾，煎沸溫服，口噤灌之，如人行五里，再服不過三服便生。</p>
<p><u>催生丹</u></p>
<p>治產婦生理不順，臨蓐艱難。</p>
<p>十二月兔腦髓（三皮膜研）　乳香（研細一分）　麝香（研細一字）　母丁香末（一錢）</p>
<p>研勻用兔髓和丸，如雞頭大，陰乾，油紙封貯，每一丸研破，溫水服，即時產下，隨男左女右握藥出是驗。</p>
<p><u>一方</u>　治婦人難產，數日不出。桃仁一個劈開，硃砂寫一片可字、一片出字，吞之即生。</p>
<p><u>救生散</u></p>
<p>橫生逆產。</p>
<p>用桂心（一錢）為末，童便酒調服之，異常神效。</p>
<p><u>一方</u>　治難產用臘月兔頭一枚，燒灰為末，蔥白湯調下二錢，立時即生。或用伏龍肝細研，每服一錢，酒調服之亦效。</p>
<p><u>香桂散</u></p>
<p>下死胎。</p>
<p>麝香（五分另研）　官桂（二錢）</p>
<p>為末，和勻酒調服。須臾如手推下。</p>
<p><u>一方</u>　死胎不出，產婦面青、指甲青、口臭。用朴硝為末，每服二錢，順流水調下。甚者，溫童便調服，胎下母活。亦治胎衣不下。</p>
<p><u>黑龍丹</u></p>
<p>治臨產難生，或胎衣不下，產後血暈，不省人事，血崩惡露，腹中刺痛，血滯浮腫，血入心經、語言顛倒，血風相搏、身熱頭痛，或類瘧疾，胎前產後諸疾垂死，無不救活者。</p>
<p>五靈脂　當歸（酒浸）　生地黃　川芎　良薑（各二兩）</p>
<p>上入砂鍋內，紙觔鹽泥封固，煅紅候冷取出，研細入後藥。</p>
<p>百草霜（三錢）　乳香　生硫黃　琥珀　花蕊石（各二錢）</p>
<p>上五味計一兩一錢為末，同前藥和勻，米醋煮，麥糊丸如彈子大，每臨用炭火煅藥通紅，投入生薑自然汁，浸碎之，以無灰酒併合童便頓服，神效不可盡述。</p>
<p><u>新定催生保產萬全湯</u></p>
<p>人參（三錢至五錢）　當歸（去蘆三錢）　川芎（一錢）　桃仁（十三粒，不去皮尖搗碎）　乾薑（炒焦黃一錢）　甘草（炙六分）　牛膝梢（二錢）　紅花（酒炒三分）　肉桂（去皮，六分，冬天八分）　加棗一枚，水煎溫服。</p>

<h1>卷三</h1>

<h2>胎產門</h2>

<h3>受胎保護諸法</h3>
<p>一受胎後，忌食牛肉、犬、兔、雀肉、螃蟹、團魚、烏魚、無鱗魚、胡椒、花椒、薑、蒜辛辣之物。</p>
<p>一受胎後，最忌暴怒，口不可出惡言，手不可用鞭撻。蓋怒傷氣血，多有因此動胎者。即不動胎，怒氣入胎，子生多疾。並不可看戲神、儺神及怪異形像。</p>
<p>一受胎後，不可登高上梯，恐傾跌有損。不可伸手高處取物，恐傷胎而子鳴腹中。子鳴但令產母鞠躬片時自安。</p>
<p>一受胎三五個月後，常要緊束其身，勿令胎放，亦勿過緊，令胎不舒。</p>
<p>一受胎七八九個月，胎忽亂動，三兩日間，或痛或止，或胞水已下，腹痛不已，但腰不甚痛，脈未離經，（離經之脈，一呼一吸共六至，或沉細而滑也。）此非產也，名曰弄產。又有臨產一月前，忽然腹痛，卻又不產，此是胎轉，名曰試胎。胎水有元，俱不奶事，但要直身坐臥行立，不可驚憂逼迫，二者俱非正產，必因曲身觸犯而然。</p>
<p>《經》曰：一息不運，則機緘窮，一毫不續，則霄壤判，所謂氣血周流，循環無端，少有間斷，則身危矣。妊娠子在腹中，母子一氣流通，全賴漿水滋養，十月數足，血氣定全，形神俱備，忽如夢覺，自能求路而出，既出胞外，母子分體，呼吸殊息，豈可久羈於內，而使氣血不運不續哉！夫胎元壯健者，既胞脫而隨漿即下，故易產。其困弱者，轉頭遲慢，愈慢愈乏，愈乏愈遲，胞漿既干，汙血凝塞，道路阻滯，橫生逆生，子死腹中，母命一縷。治者必須滋其榮，益其氣，使子母精神接續，而子母運行得力，兼為溫其經，開其瘀，使道路通暢，而子力易以轉舒，再得老成穩婆，在外細心接取，自可萬全。切勿用力太早，虛費精神，猛劑催生，反傷血氣，要知產育一門，全仗氣血用事，無補精神之藥，焉圖胎產之功！徒傷氣血之和，反貽產後之疾。（張）立保產萬全湯，細心周匝，補接開導，升降溫行，產際產後，備得其宜，誠為萬全者矣。</p>

<h3>臨產斟酌</h3>
<p>臨產時最戒用力太早，《脈訣》云：夜半覺痛應分娩，來朝日午定知生。由此觀之則腹痛半日後恰當產也。但產之難易，人各不同，時亦有異，有素易產，有素難產者，有先難後易，先易後難者，俱無一定。如臨產腹痛不生，非是難生，還是子未出胎，產母切勿懼怕，即一日二日至三五日無妨，安心定氣，任其自然，勉強忍痛，進其飲食，要坐則坐，要行則行，要睡則睡，保養精神為第一，莫聽穩婆逼迫，用力太早，自己亦勿求速於離身，傍人亦勿多言恐懼，以亂其心，時至自然分娩，譬如登廁，未急則難，時急自易，此理雖俗，知此免患。蓋穩婆逼迫有二，有不知時候逼迫者，有急完此家復往他家者，極誤大事。</p>
<p>一未產前幾固時辰，子亦要出產戶，轉身至手，被母用力一逼，即手先出，轉身至腳，母力一逼，即腳先出，橫生倒生，皆因錯於用力，其實無手足先出之理，故腹痛數日而不生者，不宜慌忙。今人見其一日半日不產，即謂難生，老少驚惶，求神許願，產婦見之，必生憂恐一有憂恐之心，自然無膽氣，無精力，難飲食，不審此非難生，乃是時候未至，惟宜忍痛候時，若乃憫其痛甚，急欲離身，穩婆傍人強之用力，時候未到，用力太早，關係母子性命，胡不明理，一至此哉！斯時穩婆以意推度，產婦以意審詳，切不可輕易催迫用力，必俟臍腹痛極，腰間重痛，眼中如火，穀道迸急，胞水或血懼下，脈見離經，或沉細滑，此時子已出胎，產母方用努力，庶不誤事。如數候未見，切不可性急亂為，以致神氣早疲，臨產卻無精力，不能運送出外，並致產後多虛矣。故將產，宜濃煎人參湯時飲，補接助之。</p>
<p>一有用力太早，致令水衣先破，被風所吹，因而產戶腫脹乾溼狹小，最令難產者，只多幾個時辰，從容俟之無妨。又有穩婆無知害人，私以手指掐破水衣者，極要關防。將產最戒曲身眠臥，雖甚腹痛，宜強為站立，散步房中，或免凡立，切戒攣腰，以助兒轉舒尋路也。蓋產母畏痛，不肯直身行動，多愛曲腰眠臥，以致胎元轉動不順，兒子尋到產門，被母曲腰遮閉，再轉又再閉，則子必無力，而不能動，決至難產。人見其不動，則謂胎死，其實因無力而非死也。此時恁有良方妙藥，不能令子有力而動，只要補接產母元氣，更要心安氣和，調理精神，胎元勝復，可保無虞。又有胞水已下，子忽不動，停一二日三五日者有之，調補氣血之外，切戒驚恐，憂懼暴性，蓋驚則神散，憂則氣結，暴則氣不順，血必妄行，多致昏悶，知此善調，自然無恙。</p>
<p>一將產時，須迸飲食，戒喧鬧。蓋進飲食，則氣充膽壯，免致飢渴虛乏無力，戒喧鬧，則神靜自安，切勿煩躁，靜則神藏，躁則消亡也。其食宜覓母雞煮汁作粳米稀粥與食，不可食雞及諸肉食，常令稍飢為佳，蓋飢則氣下，氣下則產速，若多食肉食，則礙於上焦，氣不得下，故產難。產後亦令勿食過飽，致生疾病。</p>
<p>一臨產腹痛而腰不甚痛，產未急也。須扶起直身而行。若行不得，則倚物而立，蓋產自有時，如果熟香飄，瓜熟蒂落，不可倉皇魯莽，反致有害也。痛時稍放裙帶，以便兒在腹中，轉舒有餘地也。</p>
<p>一臨產時，凡喪孝穢濁人，尼姑孤寡不潔人，莫令入房，致產不利。惟老成解事，曾經生長者，二三人足矣。俗忌人知，多亦難產，多一人入房，則多一時遲延，此亦當忌。</p>
<p>一產時以飲食為本，有等婦人臨產不能飲食者，則精氣不壯，何以用力？須未產前，預買好人參四五錢，如虛極者，及向有產暈者，一二兩任用，待將產時，煎汁一鍾聽用，審是兒將來時，以此服之，大助精力，勝於肉食百倍。產後人參不可亂投，若果系虛症，必兼溫暖藥用，如黑乾薑之類。如一產後，以人參五錢，當歸二錢，煎湯，衝入童便，產下即服，元補諸虛，兼卻產後百病。（張）常用於極虛之人，產後猶如未產之健旺。</p>
<p>一產後漸進玉米飲，取糠氣能降虛火也。白粥宜極稀，以漸調理為上，三朝內不可食葷及雞子，及黏硬之物，六七日上胃強者，可少與母雞、牛肉、鯽魚作清羹，少少食之。</p>
<p>一將產救生法。凡手先出名曰橫生，足先出名曰倒生，相傳手出者曰覓鹽生，此亦有理，人未講明，蓋鹽主收斂緊縮。又醃螫肌肉疼痛，兒手得鹽，且痛且縮，自然轉身順下，覓鹽之名，本於此也。其治法如手足先出者，急令產母仰臥，略以鹽塗兒手心足心，仍以香油抹之，輕輕送入，即便自轉順生，不可任其久出，久則手足青而子傷，難以送入，亦不可妄用催生方藥，蓋手足之出，非藥可治。又切勿誤聽凶婦，用力斷手，一斷子必腹中亂攪而傷母矣。屢見死胎，人不慌忙逼迫，亦遲遲生下，而不傷母。夫死胎亦生者，何也？蓋人腹中極熱，食物則入內俱化，其胎雖死，人不忙迫，產母安心飲食，腹內熱氣熏蒸，胎自柔軟腐化，亦生而不傷母。但所出穢氣，令人難聞，可見死胎不必用力，況活胎乎？屢見無知穩婆，輕令用力，動傷兩命，特此諄諄。又見有怪胎，人不驚慌，亦自然生下，但勿令產母知之。又產母危急時，當看面舌，面以候母，舌以候子，面青母傷，舌青子傷，面赤舌青，子死母活，面舌俱赤，子母無恙，面舌俱青，口中吐沫者，子母難保。（張秘授一方，專救難產及死胎，交骨不開，神驗。用廣猴血錢余，酒化服下，立產。）</p>
<p>一將產救生手法，如門戶俱正，兒亦露頂而不下，此必因兒轉身肚帶攀其肩也，名曰礙產。治法令母仰臥，輕輕推兒向上，以手中指按兒肩，去其肚帶，候兒順正，用力送下。又有生路未正，被母用力一逼，令兒偏柱左右腿畔，兒頭在產戶不下，但云，兒已露頂，非頂也，乃額角也，名曰偏產。治法亦令產母仰臥，輕輕推兒近上，以手扶其額頂端正，用力一逼即下。又有頭之後骨，偏柱穀道，兒乃露頂，名曰棖後。治法以綿衣裹手，急於穀道外傍，輕輕推兒頭令正，然後用力一逼即下，或用膝頭令產母抵住亦可。三產之難，皆母曲腰眠臥，用力太早致之。三手之法，非歷練有分曉穩婆，不可輕易。</p>
<p>一子出戶時，人即以兩手抱產母胸前，產母亦自以手緊抱肚腹，令胎衣下墜，如胎衣來遲，切勿慌忙，以草紙燒煙燻鼻即下。再遲則急斷臍帶洗兒，仍用軟帛物系墜臍帶，系時尤宜輕巧牢固，然後截斷。此帶極脆，若不便斷臍帶，恐血反潮入胞中，脹而不下，攻心則傷。如穩婆諸事者，能以手指取下甚便。有產母胎衣久不下，一方用黑牛糞，略焙帶潤，以布裹之，束於腹上即下。</p>
<p>一恚音悶臍生，相傳有呼父乳名，手拍兒股者，此理亦未講明，蓋兒糞門有一膜，悶住兒氣，故不能出聲，拍之則膜破而能叫哭。如拍之猶不破，須用女人輕巧者，以銀簪腳輕輕挑破甚便。或不能挑急，用暖衣緊包，勿令散放，以熱水浸其胞衣，寒天則加火熱之，久則熱氣內鼓，其膜自破，膜破則出聲而蘇矣。</p>
<p>一婦人有盤腸生者，未產腸先盤出，其治法急將淨盆一溫水，冬則熱水，入香油養潤，侍兒並胞衣俱下，產母吸氣上升，穩婆香油塗手，徐徐送入。有醋水噴面，令產婦驚寒氣提，雖可收腸，常多誤事，不可用也。又有兒並胞衣下後，膀胱（即尿胞）壅出產戶者，同前法送入。此皆用力太早，內臟動搖之故。送入後宜服安臟調補藥。</p>
<p>薛立齋曰：欲產時，覺腹內轉動，即當正身仰臥，待兒轉身向下，其時作痛，試捏產母手中指中節，或本節跳動，方臨盆即產。或未產而水頻下，此胞衣已破，血水先干，必有逆生難產之患。若胞衣破，不得分娩，用保生無憂散，以固其血。如血已耗損，八珍湯加益母草濃煎，時飲之。凡孕婦止腹痛，未產也。連腰痛者，將產也。腎候於腰，胞系於腎故也。凡孕有生息不順，宜囑穩婆，只說未產。或遇雙胎，只說胞衣，恐驚則氣散，愈難生息，大抵難產多患鬱悶，安佚富貴之家，治法雖云胎前順氣，產後補血，不可專執。若脾胃不實，氣血不充，宜預調補之。</p>
<p>凍產者，冬月天冷，產母經血得冷則凝，致兒不能下，此害最深，故冬月產者，下部不可脫去綿衣，並不可坐臥寒處，務使滿房闈爐，常有暖氣，令產母背身向火，臍下腿膝間常暖，血得熱則行，兒易生也。</p>
<p>熱產者，盛夏產婦要溫涼得所，不可過涼，反增疾病，不可人多，熱氣逼襲，令產母心煩，熱血沸騰，有鬱冒沖暈之患。</p>

<h3>難產七因</h3>
<p>一因安逸，蓋婦人懷胎，血以養之，氣以護之，宜常時行動，令氣血周流，胞胎活動。如久坐久臥，以致氣不運行，血不流順，胎亦沉滯不活動，故令難產。常見田野勞苦之婦，忽然途中腹痛，立便生產可知。</p>
<p>二因奉養，蓋胎之肥瘦，氣通於母，母之所嗜，胎之所養，如恣食厚味，不知減節，故致胎肥而難產。常見糟糠之婦，容易生產可知。</p>
<p>三因淫欲，蓋古者婦人懷孕即居側室，不共夫寢，以淫欲最所當禁，蓋胎系胞中，全賴氣血養育，靜則神藏，若情欲一動，氣血隨耗，火擾於中，血氣沸騰，三月以前犯之，一則易動胎、小產，三月以後犯之，一則胞衣太厚而難產，一則胎元漏泄，子多肥白而不壽，瘡毒痘毒，疾厄難醫。且人與物均稟氣以生，然人之生子，不能胎胎順，個個存，而馬牛犬豕，胎胎俱易，個個無損，何也？馬牛犬豕，一受胎後，則牝牡絕不與交，而人受妊，不能禁絕，矧有縱而無度者乎。</p>
<p>四因憂疑，今人求子之心雖切，保胎之計甚疏，或問卜禱神，或聞適有產變者，常懷憂懼，心懸氣怯，產亦艱難。</p>
<p>五因軟怯，如少婦初產者，神氣怯弱，子戶未舒，更腰曲不伸，展轉傾側，兒不得出。又中年婦人，生育既多，氣血虛少，生亦艱難。</p>
<p>六因倉皇，有等愚蠢穩婆，不審正產弄產，但見腹痛，遽令努力，產婦無主，只得聽從，以致橫生倒生，子母有傷，皆因倉皇之失。</p>
<p>七因虛乏，娠婦當產時，兒未欲出，用力太早，及兒欲出，母力已乏，令兒停住，因而產戶乾澀，產亦艱難，此可以補血催生湯用之，如保產萬全湯最妙。</p>

<h3>預免難產</h3>
<p>婦人孕子如雞覆卵相似，雛在卵殼中臨出雛乃自家破卵殼而出。兒在胞胎中臨生，乃兒自吮開胞衣而生，其有艱難延久者，多為胞衣太厚，胎氣肥大故也。如孕子者，勿過安逸，勿厚奉養，勿多淫欲，自然胞衣不厚，胎氣不肥，產自不難，且於子嗣有益。</p>
<p>婦人以血為主，惟氣順則血和，胎安則產順，今富貴之家，過於安逸，以致氣滯而胎不轉，過多交合，使精血聚於胞中，皆致難產也，生化湯主之。</p>
<p>有產累日不下，服催生藥不驗，此必坐草太早，心懼而氣結不行也。《經》云：恐則氣下，恐則精怯，怯則上焦閉，閉則氣還，還則下焦脹氣乃不行，宜溫補氣血，壯而行之。</p>
<p>胞漿先破，惡水來多，胎幹不得下，先與四物，佐以四君，補養氣血，次煎濃蔥湯，令穩婆洗產戶，使氣上下通暢，更用酥油、滑石塗產門，次服催生保產萬全湯。</p>
<p>難產有因母氣盛；胎肥而難產者，有因母氣弱血枯而難產者，悉是平時不善調攝，或七八月而犯房室，致汙濁凝滯，不得順生，大法以順氣和血為主。如漿幹不下者，滋潤為主。汙血阻滯者，逐瘀為主。加坐草用力太早，胞水乾者，滑胎散、神應散，連進大劑，如魚得水自順矣。</p>
<p>難產治法，或開滑子宮，或通調上下之氣，或滋養氣血，當隨機應變，若胎死腹中，惟有下法，平胃散加朴硝以下穢水。如肢體倦怠，急以四君、四物加薑桂調補之，更宜去川芎加牛膝、紅花、益母尤妙。</p>
<p>立齋曰：交骨不開，產門不閉，子宮不收三證，皆由元氣素弱，胎前缺於調理，致氣血不能運用而然。交骨不開者，陰血虛也，佛手散加發灰、龜板。產門不閉者，氣血虛也，十全大補湯，加五味子收之。子宮不閉者，補中益氣，加醋炒白芍、五味。如初產腫脹痛而不閉者，加味逍遙散。若腫既消而不閉者，補中湯加半夏、茯苓以健脾，使元氣復而諸疾自愈，切忌寒涼之劑。又曰：交骨不開者，陰氣虛也，龜為至陰，板則交錯相解，故用之。又有開骨膏、明乳香一兩，五月五日研細，豬血為丸，如雞豆大，硃砂為衣，加味佛手散送下。單養賢曰：產後見此三證，總服生化湯，如交骨不開，加龜板一枚，生化湯者，芎、歸、桃仁、黑薑、炙草，善化惡血，驟生新血而得名，為產後聖藥。《經疏》云：臨產交骨不開，惟濃者梓木枝湯飲之自開。（梓木俗名一葉一刺，其木枝幹直上，每一葉下必發一刺者是也。）</p>
<p>盤腸生是母氣血虛弱，因而下脫，當用補氣血之藥，兼以升提，則腸自收，大劑參耆歸芎加升麻主之。有以醋水噴面，使婦人驚寒，則氣提而腸縮，恐驚則氣散，寒則血凝，愈難收而致病矣。不若皂角末吹鼻，嚏作自上也。</p>
<p>偅生者，言欲產時，兒頭至產門，方服藥催之。或經日久，產母困倦難生，宜服藥以助血氣，令兒速生也。大法滑以通滯澀，苦以驅逐閉塞，溫以調幔諸經，香以開竅逐血，胞漿先破，氣滯血乾者，滋補精血以行之，然婦人氣弱無力，或日久困倦，而不能送子出產門者，須倍服人參，此藥能兼治橫生、倒產，催生保生之第一藥也。</p>

<h3>錦囊催生保產萬全湯方論</h3>
<p>臨產幾個時辰，實存亡危迫，關係母子性命，故古人立方甚多，然婦人胎產，乃大傷氣血之端。難產之因，半由氣血不足，產後諸疾，全是氣血大虧，產後諸虛，皆屬產前所致，奈佛手散、兔腦丸及葵花益母諸方，無非活血順氣，滑胎破瘀，溫暖通竅，以圖運行推出之勢，全不管運行推出之源。產婦精力充足者，藉此開導得以易生，倘系氣血不足，則雖有催生開導之功，而無運行藥勢之力，抑何補哉？至於手握石燕，足貼蓖麻，設遇實症順症，假此安心候時，如當氣血精神虧極，用此敷衍之方，神氣內竭，勢似隔靴搔癢。不調氣血，而強用催生，何以為運行之具！徒存虛名，而無實效，誤人性命於頃刻，豈不痛哉！惟達生散立方平正，奈只可調理於產前，生化湯用意甚深，又只可調理於產後，並非可濟危急催生之用者，今體二方之意合成一方，務取萬全，屢用甚驗，即名保產萬全湯。鄙見以調補氣血為先，以溫中散瘀下降為佐，氣血得力，自能健運催生，此不催之催也。故用人參、當歸為君，培補氣血，壯其主也。少加桃仁、川芎、黑薑、炙草、酒紅花，溫中而散其瘀滯也。牛膝梢、桂心溫行導下，使無上逆衝心之患，不惟催生神效，產後更元瘀血凝滯，百病補而兼溫則不滯，溫而兼補則不崩，升少降多，則氣得實而易下，陰而兼升，則瘀自去而新自歸，補多瀉少，邪去而元氣無傷，苦少甘多，瘀逐而中和仍在。（張）以濟生念切，敬立是方，幸高明鑑諸。</p>
<p>人參（三錢至五錢，大補元氣以為君）　當歸（去蘆，三錢，又補榮血以為臣）　川芎（一錢，入肝以疏鬱滯少瀉升提之性，則降下之藥得力）　桃仁（十三粒，不去皮、尖，搗碎，取苦可去舊，甘能生新，滑能潤下）　乾薑（炒焦黃，三錢，溫能通行血分，焦則令其下降而遏其上升也）　甘草（炙，六分，令其里性少緩，中宮得受補益不使即為下墜也）　牛膝梢（二錢，既能下行復走十二經絡，令其經絡無壅，則氣血效力以為運行推出之勢）　紅花（酒炒，三分，多則破血，少則活血生新耳）　肉桂（臨煎方去皮，切碎，六分，冬天用八分，藉此引經率領諸藥直入血，且為散瘀則生產自易，而溫可通行也）加膠棗一枚，水煎，食前溫服。如產婦壯實，及無力服人參者，去參用之。其效尚倍於佛手散多矣。</p>

<h2>產後門</h2>

<h3>產後脈論</h3>
<p>叔和曰：產後寸口洪疾不調者，死。沉微附骨不絕者，生。又曰：沉小滑者生，實大堅弦急者死。丹溪曰：胎前脈當洪數，既產而脈仍洪數者，死。又曰：胎前脈細小，產後脈洪大者，多死，《產經》曰：胎前之病，其脈貴實，產後之病，其脈貴虛，胎前則順氣安胎，產後則補虛消瘀，此其要也。</p>
<p>臨產氣血動盪，胞胎迸裂，與常經離異，必有水先下，俗謂之胞漿，即養胎之液也。水下則胞裂而產，既產則氣血兩虛，脈宜緩滑，緩則舒徐，不因氣奪而急促，滑則流利，不因血去而枯澀，均吉兆也。若實大弦牢，非產後氣血兩虛所宜，實為邪實，大為邪進，弦為陰斂，宣布不能，牢為堅著，近於無胃，皆相逆之脈也。</p>

<h3>產後當知</h3>
<p>凡產畢，飲熱童便一盞，不得便臥，宜閉目而坐，須臾上床，宜仰坐，不宜側坐，宜豎膝，不宜伸足高倚，床頭厚鋪裀褥，遮圍四壁使無孔隙，免致賊風，以醋塗鼻，或用醋炭，更燒漆器，輕輕以手從心按摩至臍，則惡露盡下，以杜血滑血逆，如此三日。不問腹痛不痛，以童便和酒溫服五七次，酒雖行血，能下惡露，行乳汁，然臟氣方虛，不可多飲，並不可產畢即飲，恐引血入四肢，能令血暈。如胃氣弱者，里無火者，童便亦宜禁之，恐傷胃氣，惟頻食白朮薄粥，漸進豐肉、豬蹄少許。慎言語，戒七情，勿勤梳頭洗足，以百日為度。若氣血弱者，不計月旦，否則患手足腰腿疼痛等症，名曰蓐勞，最難治療。產後不必問是男是女，恐因言語而泄氣，或因愛憎而勞神。最忌大喜、大怒，喜則氣散，或生紅汙，怒則氣逆，或生癥瘕。不可獨宿，恐致虛驚：不可刮舌，恐傷心氣；不可刷齒，恐致血逆。須氣血平復，方可治事，犯時微若秋毫，成病重如山嶽，可不慎歟！</p>
<p>乳乃血氣所成，產後不可食鹽，鹽止血，令無乳汁，且發嗽難治。夏忌貪涼用扇，及食冷物，切不可當風睡臥。兒生三日，相傳洗三，謂不洗則長大皮粗起秕，但夏月天熱洗可，不洗可，至冬後切不可洗，恐風入臍中，臍風由此而起，屢見有不洗三者，至老不聞皮粗起秕，有識者不洗三可也。且兒在胎，從母腹中溫暖長養，一出胎來，陽和之氣全失，雖當暑月，必須衣服周密，勿見外風，故俗云亞無六月。兒生下，欲斷臍帶，必以蘄艾為捻，香油浸濕，熏燒臍帶，令焦方斷，其束臍須用軟帛，厚綿裹束，勿令受風，及兒尿濕臍，此預防臍風第二要緊也。兒初生皮膚嬌嫩，腠理不密，衣服須用大人故綿，則勿耗損脈絡精華，兼用布衣粗服，令其皮膚堅厚，一生受益無窮。兒生次日，即看口中上齶，如有白泡子，即以銀挖宜輕輕刮破其泡子，須刮出勿令落入喉中，仍以京墨搽之。此泡一老，非為難刮，且兒不乳，變生撮口諸症。又看牙齦之上，如有馬牙，亦須挑破取出，血出不妨，以墨搽之。其藏胎衣，忌太歲方，三殺方，宜用稍大平穩瓷瓶，器小令兒吐乳，安穩令兒不驚。母血衣不可日曬，兒濕衣不可夜露，遇鳥以糞水染衣，能生毒瘡，變成疳症。古以一月為小滿月，兩月為大滿月，此兩月內不暴怒，少勞碌，禁淫欲，終身無病，而且多子。凡人累劫重修，方得人身，一出胞胎，性命托於父母之保養，有因兒女，太多，衣食缺乏，投溺水中者、大損天和，最宜禁戒。</p>
<p>產後諸證，不可概服補藥，恐有瘀血凝滯也，非行血則邪不去。即諸虛症，亦須血行其氣乃復，但行之有方，不可過峻。凡產後危證，莫如三沖、三急，三沖者，敗血沖肺、衝心，沖胃也；三急者，新生產之嘔吐、泄瀉、多汗也。其用藥則有三禁，禁佛手散，以川芎辛散，能發汗走泄也。禁四物湯，以生地寒冷，能作瀉而凝血也，白芍酸寒，伐生氣也。禁小柴胡湯，以黃芩性涼，能阻惡露也。更有三禁，不可汗，不可下，不可利小便。並勿犯胃及上下焦，雖有雜症，以未治之，大補氣血為主。產後滿百日，方可會合，不爾至死，大概虛羸百疾，多從此而得。凡婦人患風氣，臍下虛冷，莫不由於早行房也。</p>
<p>產後諸疾，古方多用四物湯加減，而丹溪獨謂芍藥酸寒，伐生髮之氣，禁而不用，何歟？蓋新產之婦，血氣俱虛，但存秋冬肅殺之氣，而無春夏主發之機，故最忌寒涼，大宜溫熱之藥，以助資始資生之源也。先哲制四物湯，以芎歸之辛溫，佐以地芍之寒，溫寒適中，為女科諸疾妙劑。若用於產後，必取白芍以酒重複制炒，去其酸寒之性，但存生血活血之能，或再加黑姜，則何不可用？且芍藥性清微酸而收，最宜於陰氣散失之證，豈不為產後要藥！先賢尚諄諄告戒，況寒涼酸削者乎！但知芍藥酸寒而不究生地更涼，且直走血分為害尤甚，必不得已，當以熟地代之，若概以四物治產後者、誤人多矣。</p>
<p>產後以去敗血為先，血滯不快，乃成諸病，夫產後元氣既虧，運行失度，不免瘀血停留，治者必先逐瘀，瘀消方可行補，此第一義也。但虛極不能姑待者，則以峻補之中，加入溫行之藥，峻補則力大而可宣通，溫行則流暢而不凝滯，即實症逐瘀，亦不可用峻厲之藥。產後元氣大虛，恐血無主宰，一任藥力，便為崩行不止，虛則易脫，猶覆水難收矣，故莫若生化湯行中有補，補中有行，溫則不滯，無傷胃氣，為至當也。</p>
<p>產後元氣大脫，新血未生，凡有頭疼發熱，噁心飽悶諸證，皆是虛中變現之假象，慨以大補氣血為主，如惡露未盡，補藥中入行血藥。如感冒風寒停滯，亦須補中兼以發散消導，勿得泛用峻厲，有傷氣血，因疑似之外邪，傷真切之元氣，豈不誤甚！</p>
<p>新產之後，雖無疾病，宜將息勞動，調理脾胃，進以美味飲食，則臟腑易於平復，氣血自然和調，百疾不生，但中氣方虛，難於運化，勿得過多，反傷脾胃。</p>
<p>四物生地性涼而滯，大傷脾胃，芍藥味酸而寒，易伐生氣，產後常多誤人，生化湯除此二味，加以溫中行血之劑。如產後兒枕作痛，世多用消塊散血之劑，然後議補。又有消與補混施，不知舊血雖當消化，新血亦當生養，若專攻舊，則新血轉傷。世以回生丹，攻血塊，下胞衣，其元氣甚多傷損，生化湯因藥性功用而立名也，產後血塊當消而新血亦當生也，專消則新血不生，專生則舊血反滯，芎歸桃仁三味善去舊血，驟生新血，佐以黑薑、炙草，引三味入於肺肝，生血利氣，行中有補，且得暖則血自流通，惡露自盡，故無後患，實產後之聖藥。（張）因其方，加人參、桂、牛膝、紅花，更為產前催生之神效。</p>
<p>胞衣不下有二，有因惡露入衣，脹而不能出，有因元氣虧損，虛而不能出，惡露流入衣中者，腹必脹痛，用奪命丹，或失笑散，以消瘀血，緩則不救。元氣虛弱不能送下者，腹中不脹痛，用保生無憂散，以固元氣，然不若總以萬全湯去人參，並可取效為至當也。</p>
<p>婦人百病，莫重於生產，產科之難，臨產莫重於催生，既生莫重於胞衣不下，古方用花蕊石散最為緊要，但恐石藥非腸胃大虛者所宜，莫若生化萬全二方，選而用之。有川佛手散，加紅花、益母草、香附、山楂、陳皮、牛膝稍煎成，沖重便服。更有一法，產訖胞衣不下，停久非特產母疲倦，又恐血流胞中，必致危篤，宜急斷臍帶，以物系墜，使血不潮入胞中，則胞衣自痿縮而下。只要產母安心以物系墜之時，尤宜用心，先系然後截斷，不爾胞上掩心而死，慎之。</p>

<h2>產後雜症門</h2>

<h3>產後血暈</h3>
<p>產後血暈由產前素虛，產時亡血過多，以致虛火泛上，身無所主，以致昏暈。張按：大病、大虛之症，皆有之，名為血暈，實非因血而致暈也。方書盡曰，敗血流入肝經，眼生黑花，頭目旋暈不能起坐，昏悶不省人事，謂之血暈。此血熱乘虛逆上湊心，故昏迷不省，氣閉欲絕也，服童子便最好。此論但照管敗血，全不照管大虛，但云氣閉欲絕。服童便，豈童便可挽回元氣欲絕乎。一方：用當歸二錢、益母草一錢，人參二錢、紅花六分、黑姜八分，沖熱童便服，此方兼得之矣。張每遇產婦向有血暈之症者，於將產數日預服十全、歸脾、養榮，調補氣血。臨產，人參一、二兩煎服，補於未產、未虛之前，產後無虛可乘，無暈可發矣。</p>
<p>婦人分娩昏冒瞑目，因陰血暴亡，心神失養。心與包絡君火相火也，得血則安，亡血則危，火上熾，故令人昏冒；火乘肺，故瞑目不省人事，是陰血暴亡，不能鎮撫也。經云：病氣不足，宜補，不宜瀉。瞑目閤眼，病悉屬陰，暴去有形之血，則火上熾，但補其血，則神自安，心得血則能養而神不昏迷矣。然甚者，更當以補氣藥兼之，恐勢急而補陰不及，且氣能生血也。</p>
<p>下血多而暈，名為血脫，當大劑人參，可以回陽。若下血少而暈，非血滯、或屬血竭，滯者溫而行之，竭者濁而補之，切勿以破血、行血妄投也。</p>
<p>產後血暈，宜輕輕扶坐，燒炭沃醋，或燒舊漆器，令煙入口鼻即蘇。急捏人中，靜以待之，元氣漸復，不可亂動，益令神氣散亂矣。</p>

<h3>惡露不下</h3>
<p>惡露不下，由產後臟腑勞傷，氣血虛損，或胞絡挾於宿冷，或當風取涼，風冷乘虛而搏於血，壅滯不宣，積蓄在內，故不下也。宜溫暖活血，則血自行。更有服燥血枯不能宣滯者，惟為溫補氣血自通也，不可攻之，反增別病。</p>

<h3>惡露不絕</h3>
<p>產後惡露不絕，由產時傷其經血虛損不足，不能收斂；或惡血不盡則好血難安；或陰虛內熱，熱搏血分；或挾於宿冷致氣血不調，並宜脈候參詳。虛極者，但溫補生新而瘀自化；虛不甚者，則為去瘀生新可也。</p>
<p>產後惡露不絕，若肝氣熱，不能生血，六味丸；若肝氣虛，不能藏血，逍遙散；若脾氣虛，不能攝血，六君子湯；胃氣下陷，不能統血，補中湯；若脾經鬱熱，血不歸源，加味歸脾湯；若肝經怒火，榮血妄行，加味四物湯；若氣血兩虛，十全大補湯；若肝經風邪，其血沸騰，一味防風丸；若淫欲怒氣，有傷衝任，血久不止者，六味地黃湯加阿膠、麥冬、五味子。</p>

<h3>產後頭痛</h3>
<p>頭者，諸陽之會也。產後五臟皆虛，胃氣虧弱，飲食不充，而虛陽失守，上湊於頭，陽實陰虛，則令頭痛。間有敗血頭痛者，總濁氣在上也。雖有身熱、惡寒之候，只宜生化湯加減，慎不可用羌獨等藥。蓋此由真陽虧損，濁陰得以犯上，陷入髓海，為脹為痛，是非清陽升復，則濁陰不降，在裡內起之邪為病，非若外入之邪可表而愈也。</p>

<h3>產後心痛</h3>
<p>產後心痛，為陰血虧損，隨火上衝心絡，名曰心包絡痛，宜歸脾湯主之。若寒傷心經，名曰真心痛，則無藥可救矣。凡產後寒氣上攻則心痛，下攻則腹痛，兼血塊者，宜服生化湯加桂。若獨用熱藥攻寒，其痛雖止而血妄行，反虛產母。況寒者必挾虛而燥；熱者必佐陰藥，方能制其僭越也。</p>

<h3>產後腹痛</h3>
<p>產後惡血，或因外感六淫，內傷七情，致令斬然而止，瘀血壅滯，所下不盡，故令腹痛，當審因治也。如產婦期數內，或飲食如常，忽作腹痛，六脈沉伏，四肢厥冷，此惡血不盡，傷食裹血而脈不起也，不可誤認為氣血兩虛，而用大補，須兼消導行血之藥。</p>
<p>《要略》曰：產後腹中㽲痛，當歸生薑羊肉湯主之。病痛者，緩緩痛也，屬客寒相阻。故以當歸通血分之滯，生薑行氣分之寒。君以羊肉者，所謂形不足補以味，況羊肉又能補氣，㽲痛屬氣弱，故宜之。</p>
<p>寇氏曰：婦人產當寒月，寒氣入產門，臍下脹滿，手不得犯，此寒疝也，宜仲景羊肉湯。或產後臍腹忽痛，乃呼吸之間冷風乘虛而入，宜當歸建中湯、四順理中湯。</p>
<p>產後腹痛，惡露既去而仍痛，四神調補之，不應八珍湯。若痛而噁心，或欲作嘔，六君子湯；若痛而泄瀉，六君子湯送四神丸；若胸膈飽悶，或惡食吞酸，或腹痛手不可按，此是飲食所傷，用二陳加白朮、山楂，消導之；若食既消而仍痛，按之不痛，更加頭痛，煩熱作渴，惡寒欲嘔等症，此是中氣被傷，宜溫補脾胃為主；若發熱腹痛，按之痛甚，不惡食吞酸，此是瘀血停滯，失笑散消之；若只發熱，頭痛，腹痛，按之卻不痛，此是血虛，用四物加炮薑、參、術，以補之。</p>

<h3>產後小腹痛</h3>
<p>產後小腹痛，由惡露凝結，或外寒搏之久而不散，必成血瘕，月水不調。然有腎陽、腎陰不足者，並宜按脈別治。</p>
<p>兒枕痛者，兒在胎中，宿有血塊，產時其血破敗，與兒俱下，則無是患矣。若產婦臟腑風冷，則血凝小腹，結聚疼痛，右曰兒枕痛，宜芎、歸、益母、山楂、香附、陳皮，煎服。甚者加炒五靈脂，或六味加益母草、炒黑乾薑，煎服尤佳。凡兒在胎，食母之血，十月滿足，余血成塊，俗呼為兒枕。有產時血塊中動，敗血裹其子，則令難產也。</p>
<p>有產婦小腹作痛，服行氣破血藥不效，其脈洪數，此瘀血內潰成膿也。是因營衛不調，瘀血停滯，宜急治之，緩則腐化為膿，最難治療。若流注關節，則患骨疽。失治多為敗證，脈數而洪，已有膿，遲緊乃瘀血也，下之愈。若腹脹大，轉側作水聲，或膿從臍出，或從大便出，宜蠟礬丸、太乙膏，下膿而愈。</p>

<h3>產後腰痛</h3>
<p>產後惡露方行，忽斷絕不來，腰中重痛下注兩股，痛如錐刺入骨，此血滯經絡，不即通之，必作癰疽，宜桃仁湯、五香連翹湯。</p>
<p>產後腰痛者，腎為胞胎所繫，產則勞傷腎氣，損動胞絡，虛未平復，風冷客之，冷氣乘腰，故令腰痛。或寒冷邪氣連滯背脊，痛久未已，後忽有娠，必致損動。蓋胞絡屬腎，腎主腰故也。</p>

<h3>產後脅痛</h3>
<p>產後脅痛，若肝經血瘀，玄胡索散；若肝經氣虛，四君子加柴胡、薄、桂；若肝經血虛，四物加參、朮、柴胡；若月水不足下能生肝，六味丸；若肺金勢盛，剋制肝木，瀉白散，然若不用薑、桂，辛溫助脾肺，以行藥力，不惟無以施力，反助其脹矣。</p>

<h3>產後積聚瘕疝</h3>
<p>產後積聚瘕疝，多屬氣血為風冷所搏而成。積者，陰氣也，五臟所生。聚者，陽氣也，六腑所成。陰性沉伏，故痛不離其部；陽性浮動，故痛無常處。瘕者，假也，謂其痛浮假成形，無定處也，皆由產後氣血虛弱，風冷所乘，搏於臟腑，與血氣相結而成也，若不急治，多成積結，妨害月水。</p>
<p>有產婦腹中一物時痛不止，以為血瘕，用行血破氣藥，兩脅肚腹尤甚，肢節間各結小核，隱於肉裡，以為鱉子，治亦不效。殊不知肝血而養諸筋，何處之骨不屬於腎，何處之筋不屬於肝，此肝血虛損，筋涸而攣結耳。養其脾土，補水以滋肝血，則筋自舒，八珍湯、逍遙散、歸脾湯加減治之。甚者，溫補腎元，則真陽得而氣行乃健，何有假物成形之患，真陰得而血分不枯，自無筋攣、脅痛之虞矣。</p>

<h3>產後嘔吐</h3>
<p>產後嘔吐，因飲食過多者，六君子加楂、曲。兼勞役者，補中湯。飲食停滯者，人參養胃湯。脾胃氣虛者，六君子，胃氣虛寒者，加炮姜。煨木香。寒水侮土者，益黃散。肝木侮土者，六君子加升柴。命門火衰，不能升土者，八味丸。嘔吐泄瀉，手足俱冷，肚腹作痛者，乃陽氣虛寒也，急用附子理中湯。</p>

<h3>產後呃逆</h3>
<p>產後呃逆，屬脾虛聚冷，胃中伏寒也。夫肺主氣，五臟六腑俱稟之，產後氣血並傷，臟腑皆損，風冷搏於氣，則氣逆上，又脾虛聚冷，胃中伏寒，因食熱物，冷熱之氣相為衝擊，使氣逆不順，則為呃逆，脾主中焦，為三焦之關，五臟之倉稟。若陰陽氣虛，使榮衛之氣厥逆，致生斯病。《經》云：呃，噫者，胃寒所生。然亦有中氣大虛，下焦陰火上衝而致者，當用桂、附、乾薑之類。</p>

<h3>產後氣喘</h3>
<p>產後氣急喘促者，因產所下過多，榮血暴竭，衛氣無主，不能百達運行，獨聚肺中，故令喘也，此名孤陽絕陰，為難治，惟大進參附，或可得生。</p>
<p>產後發喘氣促，此第一危症也。若作痰火實症治之必死，當以人參生化湯加減。人疑參能助喘不用，致不救者多矣。況同穹歸黑姜，萬無有失，要知人生於氣，氣壯則根本固。而藏源者斂納於下，運行者強健於中，何有為喘為脹之虞！只有虛弱而致死。未有強壯而成病也。有用人參加陳皮監製，則盜泄元氣，反致耗散，只可消導藥中兼。</p>

<h3>產後浮腫</h3>
<p>產後四肢浮腫，由敗血乘虛停積，而循經流入四肢，留淫日深，腐壞如水，故令面黃，四肢浮腫。醫人不識，便作水氣治之。多用導水。凡治水藥極能虛人，產後既虛。藥又虛之，是謂重虛，多致夭枉，服小調經散，血行腫消即愈。</p>
<p>產後浮腫，若寒水侮土，宜養脾肺，若氣虛浮腫，宜益脾胃。若水氣浮腫。宜補中湯，若兼喘咳而脈沉細無力，此命問火衰。脾土虛寒也，八味丸主之，腹滿者。虛氣而非血也，補中湯送八味丸，一以升補清陽，一以斂納濁氣，升降既得，而脹滿自消矣。</p>

<h3>產後手足身痛</h3>
<p>產後身痛者，是血虛而不能榮也。手足走痛者，是氣血不能養榮四末，而濁氣流於四肢則腫，陰火遊行四旁則痛也，不出榮養，如黑姜主之。</p>

<h3>產後發熱</h3>
<p>產後傷寒，不可輕易發汗。產時有傷力發熱，有去血過多發熱，有惡露不去發熱，有三日蒸乳發熱，有早起勞動，飲食停滯發熱，狀類傷寒，要在仔細詳辨，切不可孟浪發汗，猶覆水難收也。產後大血空虛，汗之重則亡陽，輕則筋惕肉瞤，或鬱冒昏迷，或搐溺便秘，變症百出。凡有發熱，多因血虛，陽無所依，浮散於外而為熱，宜於四物為君去川穹、生地換熟地，加軟苗柴胡、人參、炮姜最效。蓋炮姜辛熱而兼苦鹹，以火而治火，收其浮熱，且能引血藥入血分，氣藥入氣分，更能去惡生新，有陽生陰長之道，以熱治熱，深合《內經》之旨，正氣得力外邪自散矣。</p>
<p>養癸曰：如胎前原有陰虛火症，產後去血過多，必大發熱煩躁汗出等症，若依前法，大補氣血，其證必甚，當用逍遙散以清肝火，養肝血，因去血既多，肝虛血燥之故，不可泥於氣血兩虛，此以陰虛發熱立論，當以脈候參詳。</p>
<p>薛立齋曰：新產婦人，陰血暴亡、陽無所附，而外熱也，宜四物加炮姜，補陰以配陽。若誤服寒涼克削之劑，而外熱者，此為寒氣格陽於外也，宜四君子加薑、桂，不應，急加附子。若肌膚髮熱，面赤大渴引飲者，此血脫髮燥也，當歸補血湯，又日：產後虛煩發熱，乃陽隨陰散，氣血俱虛，故惡寒發熱，若誤作火證，投以涼劑，禍在反掌。</p>

<h3>產後傷食發熱</h3>
<p>節齋曰，產後脾胃大虛，多有飲食過度，傷滯發熱者，誤作血虛，則不效，故遇產後發熱，須問若何飲食，有無傷積飽悶，惡食泄瀉等證，只作傷食治之。若發熱而飲食調者，方用補血正法，但節齋所論，僅言候而不言脈，且僅言傷食標症之實，而不論產後氣血之虛，故立齋曰：前證若胸膈飽悶，暖腐惡食，吞酸吐瀉發熱，此為飲食停滯，宜四君子加厚朴、楂、曲。若胸膈悶滿，食少發熱，或食難消化，此脾氣虛弱，宜四君子加炮姜。若用峻厲之劑，復傷元氣，則誤矣。</p>

<h3>產後虛汗</h3>
<p>產後亡血多汗，陰陽兩虛。極危症也。《經》曰：陽氣者，精則養神，柔剛養筋。產後既亡血，而又汗多，乃為亡陽，蓋汗本血液屬陰，陰亡陽亦隨之而走。故曰亡陽，其用藥與他證不同，輕則參、耆、白朮，麻黃根、防風、桂枝，重則參、附。</p>

<h3>產後頭汗鬱冒</h3>
<p>《金醫》曰：產婦鬱冒，其脈微弱，但頭汗出所以然者。血虛而厥，厥而必冒，冒家欲解，必大汗出。以血虛下厥，孤陽上出，故頭汗出，所以產婦喜汗出者、亡陰血虛，陽氣獨盛，故當汗出，陰陽乃復。然產婦鬱冒，虛多邪少，故脈微弱，中氣虛也。一身之陰陽不和，故身無汗，但頭汗出者，何也？血虛下厥，則下之陰氣盡，而陽為孤陽，則上出而頭汗矣。仍喜其汗出而解者何？產婦血去過多而亡陰，自陰較之，陽為獨盛，所以喜其汗，損陽就陰，則陰陽平，故曰乃復。</p>

<h3>產後中風</h3>
<p>產後中風，由產時傷動血氣，勞損臟腑，未曾平復，早起勞動，致氣虛而風邪乘之，冷氣客於皮膚經絡，疼痹羸乏，不任少氣。凡筋脈挾寒，則攣急喎僻，挾溫則縱緩虛弱。若入諸臟，恍惚驚悸，隨其所傷臟腑經絡而生病焉。然《大全》曰：婦人以榮血為主，因產血下太多，氣無所主，唇青肉冷汗出，目眩神昏，命在須臾，此虛極生風也。若以風藥治之則誤矣。不問何候，大與溫補，十全大補湯加附子，令人推正其身，一人夾正其面，挖開口灌之，如不得下，令側其面出之仍灌，熱者，又冷又灌，數次即能下，少傾蘇，此立齋法也。</p>

<h3>產後痙病</h3>
<p>產後血虛，角弓反張，病名曰痙。痙者，勁也。陰氣暴虛，陰虛內熱，熱極生風，故外現如風假症，實陰血不足，無以養筋所致。厥陰大虛之候，宜益陰補血，血長而虛風自滅也。</p>

<h3>產後口噤</h3>
<p>產後中風口噤，是血氣虛而風入頷，頰口之筋也。於三陽之筋結於頷，產前勞損臟腑，傷於筋脈，風乘之，則三陽之筋脈偏虛，得風冷則急，故冷口噤。更有心氣虛極，不能為語而口噤者，惟有峻補之中，兼以通調心氣之藥。</p>

<h3>產後角弓反張</h3>
<p>產後角弓反張者，因氣血耗損，腠理不密，汗出過多，神無所主，筋骨失養，而有此虛象也。乃氣血虛極，宜大劑參、桂、耆、朮、歸、地、溫養之，不應，再加附子倍人參，名參附湯，猶未應，乃藥力未到，宜多用之。</p>

<h3>產後瘛瘲</h3>
<p>瘛者，筋脈拘急也，瘲者，筋脈弛縱也。《經》云：肝主筋藏血，肝氣為陽為火，肝血為陰為水，去血過多，陽火熾盛，筋無所養而然，用八珍湯加丹皮、鉤藤以生陰血，則陽火退而諸證愈，不應，用四君子芎歸丹皮鉤藤補脾土，蓋血生於至陰，至陰者，脾土也，且氣有生血之功耳。故小兒吐瀉之後，脾胃虧損，亦多患之，乃虛象也。若肢體惡寒，脈微細者，此為真狀。若脈浮大，發熱煩渴，此為假象，惟當固本為善。若無力抽搐，戴眼反折，汗出如珠者，不治。</p>

<h3>產後驚悸</h3>
<p>產後驚悸者，由臟虛，心氣不足，陰虛邪熱乘心，以致驚不自安，悸動不定，目睛不轉，而不能動，診其脈動而弱者，驚悸也。惟宜養血，佐以安神，血生則神有所依也。</p>

<h3>產後發狂</h3>
<p>產後發狂者，此陰血暴崩，肝虛火炎之極也。宜澤蘭、歸、地、牛膝、茯神、遠志、棗仁加童便主之。若因敗血停滯，用調經散。若因心血虛損，用柏子仁散，若因腎虛陰火上迫，而為如狂者，宜八味湯加減服之。要知產後大虛，而繼諸病，則當以虛為本，而病為標也。</p>

<h3>產後口鼻黑衄</h3>
<p>書以產後口鼻黑氣，及見鼻衄，為不可治者，何也？蓋五臟之華，皆上注於面，見色紅赤者，陽熱之生氣也。青黑者，陰寒之絕氣也。況口鼻為陽明多血多氣之部，而見陰寒慘殺之氣，則胃中陽和之氣衰敗可知矣。復至鼻衄，則陽亡陰走也。胃絕肺敗，陰陽兩亡，故不可治。及產後舌紫黑者，為血先死，不治，蓋心主血，少陰氣絕，則血不上陰耳。</p>

<h3>產後咳嗽</h3>
<p>產後咳嗽，悉屬胃氣不足，胃為五臟之本，胃氣一虛，五臟失所，百病生焉。雖謂肺主皮毛，腠理不密所致，不知肺屬辛金，生於已土，亦因土虛不能生金，所以腠理不密，外邪易感，其陰火上炎者，宜壯土以生金，滋腎水以制火。前論肺病而責及胃者，以上不能生金也。何獨不思子能令母虛，而責及腎乎？況肺主出氣，腎主納氣，咳嗽者，氣不能納，雖肺病而實腎病也。</p>

<h3>產後瘧疾</h3>
<p>產後半月內外，寒熱往來，或日哺夜間發熱，或一日二三度，其發有期，其證類瘧，由氣血並竭，陽虛作寒，陰虛發熱也。毋以瘧治，柴胡湯不可輕用，惟調補氣血，寒熱自除，欲陽藏納，浮越自己。</p>

<h3>產後痢疾</h3>
<p>產後腹痛瀉痢者，由產後腸胃虛怯，寒邪易侵，故腹痛如刺，水穀不化，洞瀉腸鳴，或下赤白，急服調中湯立愈。若非外因所傷，乃屬腎氣虧損，陽虛不能生土，陰虛不能閉藏耳。必用四神八味補腎，倘誤投分利導水之劑，是益虛其虛也。</p>

<h3>產後蓐勞</h3>
<p>產後蓐勞，由生產日淺，血氣虛弱，將養失所，致使虛乏勞倦，乍臥乍起，容顏憔悴，飲食不甘，咳嗽口乾，頭昏目眩，百節疼痛，時有盜汗，寒熱如瘧，四肢不舉，沉重著床，此皆蓐勞之候也。毋論日期，必須調養平復，方可動作，否則氣血復傷，終成癆瘵。其治當補脾胃為主，佐以調和氣血。蓋飲食一進，精氣生化，諸臟有所賴矣。</p>

<h3>產後血崩</h3>
<p>產後血崩者，因所下過多，血氣大虛，未得平復，或因勞役，或因驚恐而致也。宜補心脾以統之。若小腹滿痛不已，為脈實大緊數者，此肝陰已竭，肝氣隨敗矣，難治。若小腹脹滿，按之而痛者，此內有瘀血，未可遽止，否則必致淋漓。</p>

<h3>產後便難</h3>
<p>產後便難者，由腸胃無血也。大腸為傳導之官，變化出焉。產後津液耗損，胃中枯燥，而精微不及下輸，是以糟粕壅滯，故令便難，由氣血過多，內亡津液也，然大腸主津，小腸主液，其大腸小腸，更必受胃之陽氣，乃能行津液於上焦，今產後大虛，胃中原氣已虧，二腸津液並損，故便難者，此其宜也，惟宜調中養血，切不可單用麻仁、枳殼，徒耗腸胃中生養之氣也。</p>

<h3>產後淋證</h3>
<p>產後小便淋秘之證，《三因》云：產前當安胎，產後當去血，此二語最為吃緊。如產前淋，或由氣虛不化，當用參耆補氣安胎，不可過用滲利。產後淋，或由汙血阻滯，當以瞿麥、蒲黃為要藥。若血虛熱鬱，當用六味丸、逍遙散補陰養血，滋其化源，佐以導血藥可也。更有收生不謹，以致損胞而得淋瀝者。丹溪曰：有徐氏婦壯年患此。因思肌肉破傷，在外者且可補完，雖在內恐亦可治，診其脈虛甚，因悟凡難產之人，多是氣虛，既產之後，血氣尤虛，應用峻補，以參朮膏煎，以豬羊胞湯，極飢時飲之，一月而安，令氣血驟長，其胞可完，稍緩亦難成功也。</p>

<h3>產後二便不通</h3>
<p>產後二便不通者，因腸胃本挾熱，產後水血俱下，津液耗竭，腸胃枯澀，熱氣燥結，故令不通也。有產後患此，飲人乳、牛乳而通，故莫若補腎，蓋腎主五液，腎主二陰也。</p>

<h3>產後小便不禁</h3>
<p>產後遺尿者，腎氣不固也，五味子丸主之。若脾腎虛弱，以補中湯送還少丹。若脾腎虛寒，用八味丸、四神丸佐之。</p>

<h3>產後大小便出血</h3>
<p>產後小便出血者，因氣血虛而熱乘之，血得熱，而流滲胞內，故血隨小便而出也。有產婦尿血面黃，脅脹少食者，此肝木乘脾土也，用加味逍遙散、補中湯兼服而愈。</p>
<p>產後大便出血者，或飲食起居失宜，或六淫七情過極，致元氣虧損，陰絡受傷也。若因高粱積熱，醇酒濕毒，宜清之，怒動肝火，鬱結傷脾，思慮傷心，宜和肝而調心脾。大腸風熱血熱，宜涼血去風。腸胃虛弱，元氣下陷，宜大補而兼升提。況產後氣血大虛之後，復犯絡傷失血之患，可不急固脾元中氣，以為攝血統血之用耶！</p>

<h3>產後癰疽</h3>
<p>新產半月左右，忽發癰腫於四肢胸腹者，是敗血不盡，流滯經絡，或氣血虛弱，榮氣不從，逆於肉理也。如敗血瘀滯者，則焮腫赤痛，而脈弦洪有力，當補血行血之中，佐以導瘀疏氣為主。如氣血虛弱，榮澀衛逆者，則平塌散漫，而脈虛微無力，當大補氣血為主，如十全、八珍之屬，以固本元扶胃氣，氣壯血和，其毒自解。若以毒治而用清涼解毒，勢必不膿不潰，變成壞症矣。</p>

<h3>產後月水不通</h3>
<p>產後月水不通者，不必藥也。婦人衝任之脈，為經絡之海，皆起胞內，手太陽手太陰二經，上為乳汁，下為月水。若產後去血過多，乳汁常有不通，若乳子半歲、一歲之內，月經不行，此尤常候。若半歲左右便行，是必少壯血盛之人也。若產後一二年月經不通，無他疾苦，亦不必服通經之藥，蓋此或勞傷榮衛，衝任脈虛，氣血衰少耳。但服健脾胃及滋補氣血之藥，自然通行。若強通之，是猶揠苗者也。</p>

<h3>產婦乳汁不行乳汁自出</h3>
<p>產婦衝任血旺，脾胃氣壯，飲食調勻，則乳足而濃，以生化之源旺也。若脾胃氣弱，飲食少進，衝任素虧，則乳少而薄，所乳之子，亦怯弱而多病，其乳以濃白光彩，入盞中上而瑩然如玉為上，黃色清薄為下，不可哺兒。乳母宜擇肥瘦適中，無病經調，善食者佳。太肥則多痰，太瘦則多火，兒飲其乳，亦復如是。如一兒昏睡，竟日不醒，舉家驚惶，求醫投藥罔效，一高醫診之曰：此兒中酒，得毋乳母曾痛飲乎？詢之果然，停藥而醒，可見其利害相關明矣。然時珍曰：人乳無定性，隨飲食性氣而變，故飲食調攝，乳母不可不慎也。若乳汁不行有二，有氣血盛而壅閉不行，有氣血虛而燥澀不行，虛者補之，如十全八珍之類是也。盛者疏之，如麥冬、栝蔞仁、天花粉、人參、葵子、豬胰、木通、漏蘆、豬蹄之類，煮食是也。其有乳汁自出者。若胃氣虛而不能斂攝津液者，宜補胃氣以斂之。若氣血大虛，氣不衛外，血不榮里，而為妄泄者，宜調補榮衛以止之。若未產而乳自出，謂之乳泣，生子多不育。若產婦勞役，乳汁湧下，此陽氣虛而厥也，獨參湯主之。</p>

<h3>產後乳癰</h3>
<p>立齋曰：婦人氣血方盛，乳房作脹，或無兒飲，痛脹寒熱，用麥芽二三兩炒熟，水煎服，中正消取。其消散精華，以絕乳之源也。麥芽耗散之力可見，故《本草》謂其能消腎也，若鬱怒肝火熾盛，為腫為痛者，自當疏肝散郁，兼以養血和血，則肝陽不強，而腫自退。若鬱結彌甚，血滯不舒，更由乳汁壅積，潰而成膿，則為乳癰矣。氣血大傷，尤宜重為滋補，少佐疏肝解毒，若專事情解，則潰者難膿，而膿者難長矣。</p>

<h3>產後陰脫</h3>
<p>產後陰脫者，多由婦人生產用力太過，致陰下脫及陰下挺，逼迫腫痛，舉重房勞，皆能發作，清水續續，小便淋瀝，宜內服升補，外以硫磺、烏賊骨、五味子為末摻之。</p>

<h3>產後玉門不閉</h3>
<p>產門不閉，由元氣素弱，胎前失於調養，以致血氣不能收攝故也，十全大補湯。有初產陰戶腫脹，或焮痛不閉，肝經虛熱也，加味逍遙散。若腫不閉者，補中湯，加五味子。雖甚腫熱，切忌寒涼，產後諸證，總以氣血大虛為主，況陰挺下脫，玉門不閉，皆由氣虛血脫乎！丹溪立齋醫按，見症種種，而治療無非參耆歸地，加以升提收澀耳。甚有子富腫大，二日方入，損落一片，如豬肝，面色痿黃，潮熱自汗，懶食困倦，用十全大補湯，三十劑而愈。</p>

<h3>產後諸症總論</h3>
<p>產後諸症，其源有三，曰血虛火動，曰敗血妄行，曰飲食過傷。何以明之？氣屬陽也，血屬陰也，《經》曰：陽虛生外寒，陰虛生內熱，蓋產後去血過多，血虛火動，而為煩躁發熱之類，一也。血猶水也，水之就下，性也。然搏而躍之，可使過顙，激而行之。可使在山，非水之性也，勢使之然也。產後虛火上升，敗血一行，而為頭暈腹痛之類，二也。《經》云：少火生氣，壯火蝕氣。東垣云：火為元氣之賊，勢不兩立，一勝則一負。產後元氣大傷，脾胃虛弱，且土位無母，難以蒸腐五穀。若飲食過傷，則為痞滿吐瀉之類，三也。治之之法，血虛大動則補之。敗血妄行則散之，飲食過傷，則助脾胃以消之。丹溪曰：凡產後氣血虧極之際，調治一切諸症，皆以大補氣血為主，雖有雜症，以未治之。</p>
<p><u>產後調理煎方</u></p>
<p>治氣血虛弱，腰背疼痛，虛熱往來，咽乾喉痛，將成蓐勞。</p>
<p>熟地（五錢，炒乾）　麥冬（炒燥）　白朮（乳拌炒，各二錢）　白芍（一錢二分，酒炒）　茯苓（一錢五分）　杜仲（二錢，酒拌炒黃）　續斷（一錢五分）　明牛膝（二錢）　黑姜（六分）　如惡露不行，水煎溫服。</p>
<p><u>生化湯</u></p>
<p>產後生新去瘀，神效。</p>
<p>當歸（三錢）　川芎（一錢）　桃仁（十三粒）　黑姜（一錢）　炙甘草（八分）　水煎服。</p>
<p><u>奪命丹</u></p>
<p>治產後血入衣中，脹滿衝心，久而不下。</p>
<p>附子（炮，去皮。臍）　牡丹皮　乾漆（炒令煙盡，各一兩）　為末，用酸醋一升，入大黃末一兩，熬膏和藥丸，桐子大，溫酒下五十丸。</p>
<p><u>一方</u></p>
<p>治產後生腸不收。用枳殼二兩，煎湯溫浸，良久即入。</p>
<p><u>一方</u></p>
<p>治婦人子宮不收。</p>
<p>荊芥（中）　霍香葉（中）　臭椿皮（上）　煎湯熏洗，子宮即入。</p>
<p><u>一方</u></p>
<p>胎衣不下，子死腹中。用朴硝二錢，熱童便調飲，立下。</p>
<p><u>四味湯</u></p>
<p>療才分娩，一切諸疾。</p>
<p>當歸　玄胡索　血竭　沒藥（各五分）　一方加紅花。為末，用熱童便半鐘調服。</p>
<p><u>當歸血竭丸</u></p>
<p>治產後惡物不下，結聚成塊，心胸痞悶，脅下堅痛。</p>
<p>當歸（炒）　血竭　蓬朮　芍藥（各一錢）</p>
<p>一方有五靈脂。為末，醋糊丸，桐子大，每服五六十丸，溫酒空心食前服。</p>
<p><u>瑞蓮散</u></p>
<p>治產後惡血崩漏，狀如泉水。</p>
<p>瑞蓮（一百枚，燒灰存性）　棕櫚（燒灰存性）　當歸（各一兩）　官桂（五錢）　檳榔（一枚）　鯉魚鱗（炒）　川芎（各七錢五分）　為末，每服三錢，煨生薑酒調，如未血，更進一服，如血崩，此藥澀治，連進三服即止。</p>
<p><u>千金散</u>（即十全大補湯料）</p>
<p>治產後虛勞不能食。</p>
<p>白朮　茯苓　黃耆（各一兩）　人參　川芎　熟地黃　芍藥　當歸（各一兩）　肉桂（一兩五錢）　甘草（炒，五錢）　㕮咀，每服一兩，薑棗水煎，空心溫服。</p>
<p><u>人參湯</u></p>
<p>治產後諸虛不足，發熱盜汗。</p>
<p>歸身　人參（各等分）　為末，用豬腰子一個，去膜，切作片子，以水三升，糯米半合，蔥白二莖，煮末熟，取清汁一鍾，入藥二錢，煎至八分服。</p>
<p><u>茯苓散</u></p>
<p>治產後蓐勞，因生產日淺，運動用力，四肢寒痛，寒熱加瘧。</p>
<p>茯苓（一兩）　當歸　川芎　桂心　白芍　黃耆　人參　熟地黃（各五錢）　水二鍾，入豬腎一雙，去脂膜，細研，姜三片，棗二枚，同煎一鍾，去腎、薑、棗，入沒藥五分，煮取七分，去渣食，作二次溫服。</p>
<p><u>參蘇飲</u></p>
<p>治婦人產後血入於肺，面赤發喘幾死者。</p>
<p>人參（一兩，為末）　蘇木（二兩，捶碎）　水二碗，煎蘇木一碗，去渣，調入參末。隨時加減服。</p>
<p><u>麻仁丸</u></p>
<p>治產後去血津枯，大便閉澀。</p>
<p>麻子仁（另研。上）　枳殼（麩炒、上）　人參（中）　為末，蜜丸，桐子大，每服五十丸，溫酒送下。</p>
<p><u>一方</u></p>
<p>治產後用力太過，陰門突出。用四物湯煎熟。入龍骨末少許，空心連進二服，用麻油和湯熏洗即收。</p>
<p><u>豬蹄湯</u></p>
<p>治奶婦氣力少衰，脈溫不行，乳汁不通。</p>
<p>豬蹄（一隻）　通草（五兩）　上將豬蹄洗淨，用水一斗，煮作羹，食之。</p>
<p>有一乳婦少，家中偶煮紅豆，因吃豆及湯，當夜乳出如湧泉，後屢用皆效。</p>
<p><u>湧泉散</u></p>
<p>因氣乳汁少。</p>
<p>瞿麥穗　麥門冬　王不留行　穿山甲（炮黃）　紫龍骨（等分）　為末，每服一錢，熱酒調下。先食豬蹄羹，後服藥，以木梳梳乳上三十餘下，日三服。諺曰：穿山甲，王不留，婦人吃了乳常流。</p>
<p><u>返魂丹</u></p>
<p>治生產諸證；並死胎惡而胎衣不下，橫生逆產。產前清熱養血，產後推陳致新，並效。</p>
<p>野大麻（一名益母草，四五月開紫花時採花。葉子，陰乾，半斤）　赤芍藥（六錢）　當歸（七錢）　木香（五錢）　為末，蜜丸彈子大，或童便酒，或薄荷湯，或米飲，或桂枝湯，或棗湯，或秦艽湯，隨侯酌湯，化下一丸。</p>
<p><u>當歸羊肉湯</u></p>
<p>治產後發熱自汗，肢體疼痛，名曰蓐勞。</p>
<p>黃耆（一兩）　人參　當歸（七錢）　生薑（五錢）　肥羊肉（一斤）　煮汁去肉，入前藥煎服。如惡露不盡，加桂，辛熱，自能行血也。</p>
<p><u>趁痛散</u></p>
<p>治產後血滯，筋脈拘攣，腰背強直，遍身疼痛。</p>
<p>黃耆　當歸（酒浸）　官桂（不見火）　白朮　獨活　生薑（五錢）　川牛膝（酒浸，五錢）　甘草（炙，三錢）　薤白（三錢五分）</p>
<p>㕮咀，每服四錢，水煎服。加桑寄生半兩，尤佳。川牛膝，須擇粗肥長潤明黃色者佳。北方以黑色者為川牛膝，黃色者為懷牛膝誤也。《綱目》注云：黑者為雌牛膝，堅脆無力，故南方從勿入藥也。</p>
