<header data-type="book">
<h1>嶺南衛生方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="李璆">李璆</data>、<data value="張致遠">張致遠</data></dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1283">公元1283年</data></dd></div>
<div><dt>底本</dt><dd>日本天保十二年平安學古館刻本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=7ae7c1e5e1e340cea6766207d3a3b65dfDQ1MDI1&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>校刻嶺南衛生方序</h1>
<p>秦越人云：傷寒有五：有中風，有傷寒，有濕溫，有熱病，有溫病。伊尹用《神農本草》以為湯液，歷代相傳。以至東漢張仲景論廣湯液，作《傷寒論》，即為眾方之祖。然其言幽微，其旨隱賾，獨素為後人所竄改，且經兵火，殘缺亦不為少。是以論者紛紜，取捨之說起。漁者走淵，樵者入山，竟無歸一之論。本邦醫家百年以來，分古今，相是非。偏於古者，以仲景之方為百病之治法盡於此，專務攻擊，而不取溫補。僻於後世者，專據劉、張、李、朱之說而斥峻猛，狺狺相謗，如冰炭不相容也。嗚呼！奪聖經之封疆，削先哲之區域，使斯道頹敗，全坐於此。古人云：說不乖理，方不違義。雖出後學，亦是良師。讀仲景書，用仲景之法，然未嘗守仲景之方，乃為得仲景之心。譬如拆舊屋構新屋，不再經匠氏之手，不可用也。旨哉言也！何必至拘泥如彼？天保丁酉夏秋之間，札疫氾濫，闔門伏枕。病者大率繫上盈下虛及少陰證，當時，遵用古方者，專為汗下，或主吳氏《疫論》薦投下劑，而不曉正氣之虧也。所被大黃死者，十居其九；被附子死者，百中一二耳。夫正氣不能自病，邪之所客輒病焉，以正氣之爰虧損也。苟使正氣充實，精元內守，病何從來乎？四方有高下之殊；四時有非序之化。百步之內，晴雨不齊；千里之外，寒暄各異。豈可以一定之法而待非常之變耶？余讀《嶺南衛生方》頗得其三昧，不為狺狺之徒所擺動。蓋此書數百年來，時見時隱，清舶齎來有年矣。然未刊布於世，不知何人深藏而固秘之。余謂：古之秘書者，以非其人不可傳也；今之秘書者，以非其人而藏之。胡寧飽蠹魚不借人也？世既乏傳本，遂旁探遠索得數本，校讎訛謬，屬剞劂氏，豈敢云振起斯道，聊欲使彼奪聖經之封疆，削先哲之區域者，息狺狺之訟也。但恐訂字未精，有掃葉遺漏之過，所望海內同志幸賜是正云。</p>
<p><u>天保庚子季秋，南洋梯謙晉造甫書於平安之學古館</u></p>
<p>《宋史藝文志》云：李璆、張致遠《瘴論》二卷。張致遠，字子猷，南劍州沙縣人，宣和三年進士，八年知廣州。李璆字西美，汴人，政和進士，出知房州。共見列傳卷第百三十五。按李燾傳，李燾，字仁甫，眉州丹稜人，雅州推官。據此則未嘗官於嶺南也。《範石湖文集》、《本草綱目》、《正字通》諸書云：濤著《衛生方》。恐謬。《石湖文集》以雅州為雷州，盡傳聞之詐。當以正史為據。</p>
<p>《唐書藝文志》載《嶺南急要方》三卷。鄭景岫《南中四時攝生論》一卷，李暄《嶺南腳氣論》一卷，李繼皋《南行方》三卷，《鄭樵通志》載《治嶺南眾疾經效方》一卷。《廣南攝生方》一卷。以上六種系嶺南方，而無一種傳於本邦。賴有是書耳，可不寶重。</p>
<p><u>謙又識</u></p>

<h1>原序</h1>
<p>神農嘗百草立九候，以救昏札。黃帝緣性命，著《素問》、《靈樞》為《內經》。大要窮血脈、經絡、陰陽、表裡。本虛實而施針石、湯火，調寒溫平熱之所宜。至論病以及國，原診以知政，其《本草》、《內經》之謂歟。周秦以來，演述名家者踵趾相接。經方簡帙充棟，殊途同歸，九州萬國咸尊用之，未有析南北而為書者。然天地之化，四方風氣異宜，時義亦相生勝。今夫溯漠嶺海，相去何唯萬里。塞北肌膚皴瘃，砂磧不毛，入燕冀少和煦，淮泗流澌漸早，嶺南隆冬，林無凋葉，野有蔓草，四時把握葵箑，山海黎蜒老死不識霜雪。寒暑大異如此，則調攝之劑安得而盡同哉！岐伯曰：南方者，陽之盛處，其地下，水土弱，霧露之所聚也。其民嗜酸而食胕。故皆致理而赤色，其病攣痹，其治宜微針，故九針者亦從南方來。是治法之異，古也有言者矣。《嶺南衛生方》，前元海北廉坊所刻。景泰間，重鋟於省署。惟其言為「嶺南」，則一方之書也。抑粵俗重巫輕醫，故傳布弗廣，歲久板不復存。北客入南，首詢孳孳。俗醫既乏師承，應求草率，鮮有尋其緒者。予甚患之，思得是書以嘉惠茲土。訪購實勤，今總鎮篤庵潘公適出所藏抄本，藩臬群僚見者忻忭，遂梓以傳。所謂霧露炎蒸，為瘴為癘，與蟲蛇草木之毒，緩急所需，立俟良愈。吾知生於斯，寓於斯，繼今黽勉以衛生者，舍是書何求哉！</p>
<p><u>正德八年歲次癸酉六月朔旦</u></p>
<p>中奉大夫廣東等處承宜布政使司左布政使古田羅榮書</p>

<h1>原序</h1>
<p>嘗讀《沈括良方》序，謂治病有五難：辨疾難；治疾難；飲藥難；處方難；別藥難。而與治疾尤詳。且謂古之治疾者，先知陰陽運歷之變故，山林川澤之竅發，而又視其老少、肥瘠、貴賤、居養性術之好惡，憂喜勞逸，順其所宜，違其所不宜。其精過於承蜩。其察甚於刻棘，可為至密矣。然恐非醫之淺淺者所能與。比至嶺南，見處方至者，病不虛日，雖居民亦鮮有不病者。因思，嶺以外號炎方，又瀕海，氣常燠而地多濕，與中州異。氣燠故陽常泄，而患不降；地濕故陰常盛，而患不升。業醫者，苟不察粵地山川竅發之異，有以奪陰陽運歷之變，而徒治以中州常法，鮮有不失者。何也？夫以其常泄之陽而重汗之，則元氣不固；以其常盛之陰而輕利之，則真氣愈陷。是醫藥之害與山川之害交為吾人病也。每思有以濟之，而未得其術。一日獲《嶺南衛生方》讀之，曰：此仁人之用心也。雖其處方投劑在臨證審酌之，然其論瘴病始末誠有以握其要領矣。因手校之，告於葉江施公、圖公諸人人，乃遂慨然捐俸，共梓以廣其傳。覆命婁醫安道，附八論及藥性與其後。八論者，慮人惑於病證之似也，使知有所辨。藥性者，慮僻壤之鮮醫，或可因證考藥而增減之，使知有所據。亦昔人辨疾別藥意也。讀是編者，誠知嶺外受病之由，與所以服藥之宜，而又能參以老少、肥瘠、貴賤之別及居養性術好惡，憂喜勞逸之殊，庶幾順其宜，違其所不宜，握陰陽升降之機，而不致為山川風氣所侵。以各全其天年云。</p>
<p><u>萬曆四年端陽日廣東布政司右布政使安成穎泉鄒善書</u></p>

<h1>校刻嶺南衛生方上卷</h1>

<h2>李待制瘴瘧論</h2>
<p>嶺南既號炎方，而又瀕海，地卑而土薄。炎方土薄，故陽燠之氣常泄，瀕海地卑，故陰濕之氣常盛。而二者相薄，此寒熱之疾，所由以作也。陽氣常泄，故四時放花，冬無霜雪，一歲之間，暑熱過半，窮臘久晴，或至搖扇。人居其間，氣多上壅，膚多汗出，腠理不密，蓋陽不返本而然。陰氣盛，故晨夕霧昏，春夏雨淫。一歲之間，蒸濕過半。三伏之內，反不甚熱，盛夏連雨，即復淒寒，或可重裘。飲食、衣服、藥物之類，往往生醭。人居其間，類多中濕，肢體重倦，又多腳氣之疾，蓋陰常偏盛而然。陰陽之氣，既偏而相薄，故一日之內，氣候屢變，晝則多燠，夜則多寒。天晴則燠，陰雨則寒。人之一氣，與天地通，天地之氣既爾，則居其間者，宜其多寒熱疾也。又陽燠既泄，則使人本氣不堅。陽不下降，常浮而上，故病者多上脘鬱悶，胸中虛煩。陰濕既盛，則使人下體多冷，陰不上騰，常沉而下，故病者多腰膝重疼，腿足寒厥。余觀嶺南瘴疾證候，雖或不一，大抵陰陽各不升降，上熱下寒者十蓋八九。況人之一身，上焦屬丙丁火，中焦戊己土，下焦壬癸水。上固常熱，下固常冷。而又感此陽燠陰濕不和之氣，自多上熱下寒之證也。病人既覺虛煩鬱悶，便自以為有熱。而嶺外醫，又多用麻黃金沸草散、青龍湯等藥發表。得病之因，正以陽氣不固，每寒熱發，則身必大汗，又復投以發表藥，則不旋踵受斃。甚者又以胸中痞悶，用轉利藥下之，病人下體既冷，得轉利藥，十無一生。是瘴癘未必遽能害人，皆醫殺之也。紹興庚戌年，蒼梧瘴癘大作，王及之郎中、張鼎郎中、葛彖承議三家病瘴，悉至滅門。次年餘寓居於彼，復見北客與土人感瘴，不幸者，不可勝數。余詢其所服藥，率用麻黃、柴胡、鱉甲及白虎湯等。其年餘染瘴疾特甚，余悉用溫中固下，升降陰陽正氣藥及灸中脘、氣海、三里，治十愈十，（［梯注]治十愈十，一本作「十治十愈」。）不損一人。餘二僕皆病，胸中痞悶煩躁，一則昏不知人；一則云：願得涼藥清利膈脘。余辨其病，皆上熱下寒，皆以生薑附子湯一劑，放冷，（［梯注］「放冷」《景岳全書》作「冷溫」。服之。）即日皆醒，自言胸膈清涼，得涼藥而然，不知實附子也。翌日又各以丹砂丸一粒，令空腹服之，遂能食粥。然後用正氣、平胃等藥，自而遂得平愈。既親獲效後，於知識間用生薑附子湯療十餘人，皆安，更無一失。蓋附子得生薑則能發散，以熱攻熱，又導虛熱向下焦除宿冷，又能固接元氣。若胸中煩悶，且放冷服之，熱服則藥力之發也速，欲導熱氣向下，自當取其發緩也。又病人煩躁，但問其能飲水否，若反畏冷不能飲者，皆上有虛熱，非真熱也。皆宜服生薑附子湯。沈存中《良方》，治瘴七棗湯，用烏頭七浸七炮者，治方正與此同（［梯注]　「同」下《景岳全書》有「亦」字。）一服而愈。又醫者或用朮附湯，而病人寒熱反甚，疾亦不可愈。蓋朮附相濟，能固熱氣，不能發散。惟附子一味，為最要耳。間有脈證實非上熱下寒，面色目睛赤黃，即方可隨證治之，不可用附子湯。余在蒼梧時，數十百人中，惟一鄭防禦病寒熱，身體無汗，脈洪數而浮，皆柴胡湯證遂如證，服小柴胡湯而愈。然小柴胡湯之類，自非其證實可服者，不可遽進也。蓋上熱下寒，陽氣不收者，比比而是，而當用此藥者蓋少也。審其證未辨，或疑其有熱，亦不須服發表等藥。但且取嘉禾散並服之。（［梯注]《景岳全書》作「宜服嘉禾散」，無「但且取並服之」六字。）若果蘊熱，但冷服無害。蓋嘉禾散，治下虛中滿，能升降陰陽，又療四時溫疫傷寒，使無變動。雖傷暑及陽證傷寒，服之亦解。若或寒多，服之亦宜。服二三日，即寒熱之證自判矣。然後隨證調治之，即無不愈者，審是下冷，或因失飢傷冷所致，即灸中脘、氣海、三里尤妙。或別無濕冷，只灸大椎或第五椎，隨年壯。二穴皆能止瘴癘寒熱，屢曾獲效。若寒熱已止，尤每遇當發日，意思昏倦，終不清快，倦怠欲睡，或體生瘡瘍，當是已服附子等，及脾胃已和，下焦濕冷已去，氣漸向平，即須少服常山藥。常山藥惟七寶銼散（［梯注]七寶銼散，《本草綱目》、《正字通》並引此條作「七寶散」。）為妙。蓋常山能去皮膚毛孔中瘴氣，而寒熱所感邪氣，多在榮衛皮肉之間，欲除根本，非常山不可也。但常山服之必吐人，（［梯注]《正字通》無「人」字。）惟七寶銼散，冷服之不吐亦屢驗矣。又柴胡能治邪氣半在表半在裡，柴胡、常山非不可服也，但須其證可服即服，不可遽服。病人陽氣常浮，身多汗出，須先固本正氣，然後服此等藥，即瘴癘悉去矣。又小柴胡湯用黃芩，大涼病人多有不能任者。余得一柴胡散方，治寒熱經驗。病人上熱下冷者，先正氣固本，後宜服之。大抵西北地寒，土厚水深，又人食酥酪之類，病者多宜發散轉利。傷寒瘟疫至有汗不得出而斃者，氣常收斂故也。嶺南陽氣不收，又復卑濕，又人食檳榔之類，氣疏而不實，四時汗出，病者豈宜更服發散等藥。此理明甚。然西北之人，亦有不當發散轉利者。嶺南之人，亦不無發下之疾。但舉其多者言之耳。</p>
<p><u>大梁李璆西美</u></p>

<h2>張給事瘴瘧論</h2>
<p>嶺南，地偏而土薄，無寒暑正氣。陽常泄，故冬多暖。陰常盛，故春多寒。陽外而陰內，陽浮而陰閉，故人得病，多內寒而外熱，下寒而上熱。醫者不察，率用北方傷風傷寒法，或汗或下，兼求效太速，十失五六。余得李舍人《瘴論》，復於滑州醫士王子謹，較量湯劑，用之有驗。凡得病或一二日，或三五日，憎寒壯熱，身體疼倦，頭痛項強，嘔逆煩躁，胸膈不利，病之證不出於此。但只以正氣散、姜附湯調理。發熱煩躁悶亂，心神不寧，與冷湯。發熱煩躁吃水，水入口即吐，與五苓散。引飲多汗，小便赤澀者，不得吃五苓散。汗出更利小便，必亡陽也。如此用藥調理，五日以上，若發熱煩躁，不渴不嘔，大便或一日，或二日，依舊一次，小便赤而通利，亦依前法調理。不可與性寒涼藥。若五日以上，發熱煩躁，狂言引飲，思冷水不欲湯，及不大便三五日，小便赤澀，用樂令黃耆湯解利。吃此藥其熱不去，與小柴胡湯解利。其小柴胡湯性極寒，不可輕用，如有十分內熱證方可與。亦與正氣散兼服。凡才初得病，或三五日，其病人發熱，或惡寒煩躁，手足冷，鼻尖涼，身體重疼，舌上苔生，引飲煩渴，或自利，或嘔吐，或汗出惡風，與姜附湯、乾薑附子湯、理中湯。於中脘穴灸三五十壯，臍下氣海穴灸二三百壯。嶺南瘴病，才初得不可便吃瘴藥，直至十餘日以上，寒熱或只發熱，一日一次，或隔一日一發，或隔二日一發。明見發作有時。老虛之人，寒熱瘴與七棗湯。病人氣稍實，發寒熱瘴已，與黃耆建中湯、大養脾丸、平胃散調養。凡治病，脈與證不可偏廢。用藥須憑脈。且若病人，外證是陽候，脈見陰脈，不可用陰藥。外證見陰候，脈見陽脈，不可用陽藥。若憑外證用藥，十失五六；憑脈用藥，病人信向，萬不失一。《經心錄》曰，傷寒瘴癘時疾，錯療禍如反掌。且古人云，有病不藥，不失為中醫者，此之謂也。</p>
<p><u>延平張致遠</u></p>

<h2>《指迷方》瘴瘧論</h2>
<p>棐讀書之餘，留意醫學，幸得其傳，頗識方脈。就闢入南，研究此證與方書。至桂林，延一老醫與議，則所說無疑於所聞。方書謂：南人凡病皆謂之瘴，率不服藥，惟事祭鬼。自今觀之，豈不信然。且得雜病者，或不須藥，而待其自愈。若夫（［梯注]若夫一句，《景岳全書》作「夫瘴之為病，猶傷寒之病也」。傷寒陰陽二證，豈可坐視而不藥耶。《難》曰：不服藥為中醫。每荏苒以致不救者有之過。桂林以南無醫藥。且居南方之人，往往多汗，上盈下虛，用藥者不可汗，不可吐，亦不可下。其業醫者，既鮮且謬，或妄發汗吐下，是謂實實虛虛，補有餘損不足。不察脈證，其禍可立而待也。橫夭者固多端，豈獨廣之能殺人哉。今觀方書之說，皆謂南方天氣溫暑，地氣鬱蒸，陰多閉固，陽多發泄，草木水泉，皆稟惡氣，人生其間，元氣不固，感而為病，是為之瘴，輕者寒熱往來正類痎瘧，謂之冷瘴。重者蘊熱沉沉，晝夜如臥炭火中，謂之熱瘴。其尤重者，一病則失音，莫知其所以然，謂之啞瘴。冷瘴必不死，熱瘴久而死，啞瘴無不死者。此方書之說也。然以愚意觀之，所謂啞瘴者，非傷寒失音之證乎？又豈非中風失語之證乎？治得其道，間亦可生，安得謂之無不死者耶。若夫熱瘴，乃是盛夏初秋，茅生夾道，人行其間，熱氣蒸郁，無林木以蔽日，無水泉以解渴，伏暑至重，因而感疾。或由飲酒而不節者，或由食煎煿而積熱者，偶成此證。其熱晝夜不止，少遲一二日不治，則血凝而不可救矣。南方謂之中箭，亦謂之中草子。然挑草子法，乃以針刺頭額及上下唇，仍以楮葉擦舌，皆令出血。徐以草藥，解其內熱，應手而愈，安得謂之久而死耶？至於冷瘴，或寒多而熱少，或寒少而熱多，亦有疊日、間日之異，及其愈也，瘡發於唇。驗其證，即是外方之瘧，本非重病，每因誤（［梯注]《景岳全書》「誤」下有「治」字。）而致禍，亦不可以必不死而忽之。且診其脈息極微，見其元氣果虛，與附子、川烏等藥而愈。或誤投以寒藥，所謂承氣入胃，陰盛乃亡。若診其脈息洪盛，審其證候實熱，宜服和解等藥而徐治之，或誤投以熱藥，所謂桂枝下咽，陽盛則斃。且診脈而用藥，萬不失一。然觀其形氣之怯壯，察其本脈之虛實，參以病脈之盛衰，分其證候之陰陽，極工巧以審之，其庶幾乎。嘗觀《嶺南衛生方》，乃李待制、張給事所集，其間固多良法，非後學所可擬議，然其論不及脈息，則病家難於用藥。今以脈而論證，以證而議藥，姑進鄙見於紙尾，庶不為醫者所誤。到於無醫之處，亦可類推而服藥也。蓋冷瘴專與痎瘧相類，秋來則多患此，天涼及寒時少有之。卻與傷寒不同，不傳染，不傳經，無變證。所以易醫。外方之瘧，用藥錯者尚可救；廣中之瘧，用藥錯則為重害。病後將攝則比之外方尤難。面黃須久而後復常，只是異耳。若其受病之因，方書謂：感天地、水泉、草木之毒，是固有之，亦不可泥於此說。蓋身居覆載之間，日食動植之物，則凡往來嶺南之人，無不病且危殆。何也？若所謂：南人生長其間，與水土之氣相諳，外人之入南者必一病，但有輕重之異。若久而與之俱化則可免矣。其說卻甚有理。但備之以將理之法，解之以平易之藥，決可保其無他，縱病亦易愈矣。且此病之作也，土人重而外人輕，蓋土人淫而下元虛，又浴於谷而多感冒，且恣食生冷酒物，全不知節。外人之至此者，飲食有節，皆不病。若因酒食之賤而狼餐，必不免於病矣。其壯實者或不病，病亦易調理。怯弱者易感疾，疾則難支。王棐始至蒼梧，繼宰柳城，後攝宜陽，今守南容，未嘗日日有霧，間一二日亦有之。江東西巳如此。每處吏卒數百人，病者只十分之一，不過數日參暇。其不起者二三人，亦不可全咎於風土，皆不攝不節，有以自致之。間自入廣來。但用修養之法，晨興盥漱後，先服平胃散，間或投以不換金正氣散，洗面後啖少粥，巳時早食，申時晚食，夜間服消食等藥。時一聚會，少飲不妨，不宜大醉及頻數耳。但天氣不常，一日之間，寒暖數變，卻須脫著以時。稍稍失節亦無深害。所甚急者，宜加意焉。省食生冷，則脾胃自壯。省餐油膩，則胸膈自快。無大忿怒以傷天和，重節色欲，以固真氣。如此將攝，決可保其無恙也。細思，仕於廣者，以俸多而皆見強。商於此者，以貨出而有厚息。寓於此者，以物廉無重費。況吾人利祿之念既輕，食少則不患於物貴。久在南中，知非上策，止俟滿考，亟理歸裝。蓋惴惴然，每致謹於飲食，孰若江浙之自在於湖。帥廣右後，常有詞寄人云：須君早出瘴煙來，江南山色青無數。故直述所聞見，以資聰明之萬一云。</p>
<p><u>新安王棐書於南容</u></p>

<h2>《衛生補遺》回頭瘴說</h2>
<p>舊傳：出嶺（［梯注]《景岳全書》「嶺」下有「之後」二字。）有回頭瘴者，大概與在廣而發瘴，方入廣而不伏水土者不異。蓋南方陽氣常泄，陰氣常盛，二氣相搏，四時悉有寒熱之氣。寒則凜冽暴風，熱則炎燥鬱蒸，鬱蒸暴風之候，多由得雨而解，此天地之寒熱也。人之一氣與天地通，居其間者，宜其得寒熱之疾。寒則慘淒戰慄，熱則怫鬱煩躁，戰慄後多由得汗而解，此廣瘴之寒熱也。今所謂回頭瘴，及方入廣而不伏水土者，亦不過陰陽相搏作此寒熱。而又甚焉。蓋此中天氣，夏多陰雨，晝雖熙然，夜則冷甚。居其間者，或至重裘。冬則風多轉南，令人氣昏，竟無霜雪，暄燠可知。居其間者或至搖扇。秋乃熱，春乃寒，所以與外方天氣大不侔也。今回頭（［梯注]《景岳全書》「回頭」下有「瘴」字。）者，乃先染廣中之氣，復感外方之氣，冷熱相忤，寒暄不調，遂作陰陽相搏之疾。天地之氣候深淺，亦自不同。有自深廣而來桂林者，有自桂林而入深廣者，亦多受瘴疾，正由冷熱不調而得之。以秋言之，深廣天氣固常鬱熱，才至桂林便覺淒涼。往來其間者，所以難調攝也，須度時之寒溫，量元氣之厚薄，審燥濕之宜，資藥石之助。乃若回頭瘴並不服水土者，服藥當以四時天氣斟酌之。但如出嶺於孟冬者，時則廣尚多暄而少寒，或轉北風間有暴冷。愚謂：屆途之際，宜服和解散、神朮散之類，和脾胃，逐風邪。及至乎外方，則天寒地凍，露結水凝。愚謂：將及境之際，可早服正氣散、養胃湯之類，絕舊瘴，御新寒。然此四藥特筌蹄耳。其實在保躬調攝，酌序消洋為先，切不可以得出煙嵐自生欣快。向之朝夕兢業惴惴然者，一旦跌宕放恣，此病之所由熾也。今北人，寓居廣之地者，來往廣之途者，均有陰陽相搏之患。居者十病二三，途者十病八九。蓋居者安靜，而途者勞傷。此正《活人·三昧·論瘴瘧》云：若飲食有節，起居有常，邪不能為害者是也。然道路崎嶇，人煙疏闊，水漿不潔，酒炙多腥，飲食起居，率不免乖度，況復有陰陽相搏之證。（［梯注]《景岳全書》「證」字作「氣乎」二字，故下「曰瘴氣惟染勞疫傷飢之人者此也」十四字。）故所謂回頭瘴者，不可謂之無也。敢以一得之愚，質之同志，或可以管見而參訂之是，亦衛生之一助云。</p>
<p><u>寶祐乙卯澹寮繼洪書於柳邊仙弈岩</u></p>

<h2>《指要方》續論</h2>
<p>近世《瘴瘧指要方》，反誚李待制不合專主生薑附子湯，多見其不知量也。蓋《指要方》但學傷寒科者為之，故其言病因數條，可論外方瘧子，而以廣瘴則未必皆然。廣瘴者，李云：陽氣常泄，陰氣常盛，二者相搏而為患，斯得之矣。二氣相搏，則寒暄不常，寒暄不常，即寒熱之證也。人在氣中，如魚在水，氣候乖戾，病何逃焉。《衛生方》云：凡瘴病一二日，其證不出於憎寒壯熱，身倦頭痛，嘔逆煩躁，胸膈不利。今驗之，何嘗不然，非身履目擊，能知其詳盡如此耶。又曰：病者上膈鬱悶，胸膈煩躁，便自以為有熱。殊不知炎方受病者，陽氣不降而然。陽氣不降，故腰膝重疼，腿足寒厥，此時雖身熱，而陰證已具在下也。或者用發汗轉利藥，則不旋踵受斃，十無一生。明此，則《指要》所引青龍、麻黃、柴胡、承氣湯，豈不但是治傷寒法耶？若用之治瘴瘧，豈不誤人？愚以所試，而會諸方書所言，治瘴之法，只當溫中鎮下，正氣和解。其間熱多者，最為難治。能使邪熱漸退，正氣就安，不甚費丹砂、附子，是為得法也。或熱退少遲，或分為間日寒熱，尤是可耐可理之事，又何傷乎？若躁於求效，亟服麻黃、柴胡或利下之劑，則未必虛熱便退，且先損正氣，使邪氣乘虛而內襲，直達精源髓海，激成變證百出，遂致荏苒難安，理之必然也。用藥固無一定之法，要之，多宜正氣散、和解散。夏月則六和湯。有熱重而脈實胃壯者，可與和解散中少加紫蘇、地骨皮之類。若身熱而不寒，頭痛或眼睛痛，大便自堅硬，其脈舉按皆弦緊而不虛，方可服參蘇飲、芎蘇散。及素宜涼劑之人，有熱亦可服之，稍和即止，不可過多。其證陽浮陰閉，而上熱下寒。須要生薑附子湯、附子湯、冷湯、沉附湯、冷香湯、自制養正丹、來復丹，且攻且守者也。若夫《指要》所論，診視可謂詳矣。第亦多是傷寒脈狀，惟後一條云：浮而弱，按之不足，舉之有餘，切不可發汗，乃近之矣。知之，則《指要》之說，方可行也。第炎方氣候，固有淺深，風土有遠近，至於天地陰陽歲運之不同。如醫書載：東坡居黃州，連歲大疫，服聖散子者皆愈。遂作序以傳其方。後永嘉時疫亦然，服者不效。又京師大學生，信而用之，誤人益甚，此豈非運氣不同耶？人之稟賦，猶有厚薄，或素宜涼劑，或專服補藥。古賢云：人心不同，如其面焉。心既不同，臟腑亦異。臟腑既異，以一藥治眾人之疾者，其可得乎？如此甄別，則可否全在醫者，而不在藥方也。雖然近世俗治數法，也不可不諭：或者刺上下唇及兩足腕，謂之挑草子，頗有功效，亦見之《指迷方》。非杜撰法也，猶可用之。又一法；不問證候陰陽，便當其熱發之時，就肘腕及指末等處灼艾。此既方論不載，又非治瘴瘧之穴。非徒無益，蓋身熱方甚，又為非泛之火所逼，通身汗出。當時暫覺清爽，少焉邪氣乘虛而襲表，汗孔復閉，其熱愈甚。或汗出不止，外熱內寒，醫者不知當如《活人書》以解表，表既重虛，又謂，可用仲景法下真武湯，服藥不倫，鮮不敗事。更有病方作時便飲大蒜酒數升，謂可避瘴，殊不知惟感冷氣滯，及夏月閉汗，或可飲之。若正受熱瘴，加以酒發百脈熱，蒜髮虛陽，是乃以火益火耳。又或飲草藥以吐痰，服蔥豉湯以覆汗，皆先擾亂血氣，不得安和。識者自能察之。</p>
<p><u>景定澹寮繼洪書於熙平郡齋</u></p>

<h2>汪南容治冷熱瘴瘧脈證方論</h2>

<h3>冷瘴脈證</h3>
<p>凡覺惡寒身熱頭痛，證候未分之時，試診其脈緊盛，遍身無汗，不畏風，不能食，百節疼痛，發熱不止，此是傷寒。其病重，有陰陽表裡之證，有汗下湧泄之方。自有張仲景專科調理法。此證不是冷瘴。若診其脈浮緩，身體不痛，而覺拘倦，發熱不止，而能飲食，自汗或無汗，不惡寒卻畏風，此是傷風。其病輕。有汗者，以藥斂其汗則熱退。無汗者，以藥微汗之則病愈。此證亦不可為冷瘴。若診其脈帶數，一呼一吸之間五六至，兩手第二指關脈弦，按之如弓弦之狀，原是冷瘴無疑。然亦未可服藥，且看惡寒退後發熱，發熱退後自汗，頭痛或不痛，嘔吐或不嘔。但其熱有退時，次日或間日再發，外方謂之痎瘧。其名不一，各有所因，不暇盡述。南方謂之冷瘴。治法詳於後。</p>

<h3>冷瘴初用藥法</h3>
<p>不問先寒後熱，先熱後寒，多熱少寒，少熱多寒。或因夏月傷於暑，汗出不透；或秋傷於風，則成此病；或飲食生冷過多，先傷脾胃；澡浴感冒，多作此證；或有痰涎停於胸膈，所謂無痰不成瘧。第一發後，宜先下感應丸，以去積滯；又下陳皮半夏湯，以去痰涎；壯實人各三服，虛弱人各二服，只初發第一夜要服之。</p>
<p><u>感應丸</u></p>
<p>新揀丁香（一兩半）　南木香（去蘆頭，二兩半）　川乾薑（炮製，一兩）　肉豆蔻（去粗皮，捶去油，二十個）　巴豆（七十個，去皮、心膜，研細，出盡油如粉）　百草霜（用村莊家鍋底上刮者，細研，二兩）　揀杏仁（肥者，去雙仁，百四十個，去尖，湯浸一宿，去皮，別研極爛如膏）</p>
<p>上七味，除巴豆粉、百草霜、杏仁三味外，搗為細末，同拌研細，用好蠟匱和。先將蠟六兩，熔化作汁，以重綿濾去渣，更以好酒一升，於銀石器內煮臘，熔滾數沸，傾出候酒冷，其蠟自浮於上，取蠟稱用。春、夏修合用清油一兩，於銚內熬令沫散香熟，次下酒煮蠟四兩，同化作汁，就鍋內乘熱拌和前項藥末。秋、冬修和用清油一兩半，同煎煮熟作汁，和匱藥末成劑，分作小鋌子，每用見成鋌子半兩，入巴豆二十枚，去殼不去油，爛研成膏。一處研令極勻，丸如綠豆大。每服十丸。薑湯嚥下，或用陳皮半夏湯送下亦可。空心時服。</p>
<p><u>陳皮半夏湯</u></p>
<p>陳皮（去白）　半夏（湯泡，各七兩）</p>
<p>上為粗散，每服三錢。生薑十片，水二盞，煎至一盞，去渣溫服。不計時候。</p>

<h3>冷瘴次用藥法</h3>
<p>初發瘴後，次日專服和解散，一日五六服。南方人常自汗。不可汗、不可吐、不可瀉，多是脾胃感冷成病，此藥能和脾胃，又逐風邪，神妙不可具述。感病輕者，更不再發。其病深者，亦自輕減。但能信向，至誠煎服，無有不效者。</p>
<p><u>和解散</u></p>
<p>蒼朮（米泔浸一宿，去粗皮，半斤）　藁本（去蘆）　桔梗（去蘆）　甘草（各四兩）　厚朴（去粗皮，薑汁炙）　陳皮（洗，不去白，各二兩）</p>
<p>上並修治畢，焙乾淨，稱為粗散，每服三錢重。水一盞半，生薑三片，棗子二枚。同煎至七分，去渣熱服。一日夜五六服，不拘時候。若用此藥不發，更服此藥一日，卻服別藥。發稍輕，亦是有效。後再發之次日，更服一日，亦五六服。若第三次不發，更服此藥一日，卻服別藥。發稍輕亦是有效。後再發之次日，更服，一日亦五六服。若第三次不發，更服此藥一日，卻服別藥。如第三次再發，卻服後藥。此藥不止治冷瘴神效，便是傷寒、傷風、瘴瘧證候未分之時，並服此藥，一兩日皆有效驗。如服不效，卻自依各證用藥，若無醫藥之處，病初發至末後，皆服不妨。</p>

<h3>冷瘴灸法</h3>
<p>瘴病既久，氣血虛，服藥必不作效。宜灸膏肓並大椎骨下及足三里。更須審訂果是久病，及是虛弱，然後灼灸。若病初發，與未甚虛弱之人，未可便灸。若是熱瘴，尤不可灸也。</p>

<h3>熱瘴治法</h3>
<p>熱瘴病源，前已備言，未可服藥，只用挑草子之法。廣中是處，有人能之。凡有瘴發一二日，卷其上、下唇之裡，以針刺其正中，用手捻去紫血；又以楮葉擦舌出血；又令病人並足而立，於兩足後腕橫縫中青脈刺之，血出如注；乃以青蒿水與服，應手而愈。若冷瘴與雜病，決不可刺。熱瘴之所以刺而速愈者，即太陽傷寒證，邪氣在表，當汗之法也。刺出其血，既是得汗，而其效乃速於得汗。蓋人之上、下唇，足陽明胃脈之所經。足後腕，足太陽膀胱脈所經。太陽受病三日，而陽明受病。而南人之針，可謂暗合。若患熱瘴而不即刺，及其三陽傳變，邪氣入里，雖刺而血已凝住，非惟無益，或至重傷。又南人針法，別有不可曉者。發瘴過經，已入里而將死者，刺病人陰莖而愈。竊意，其內通五臟，刺之或可去其內腑之熱耳。然少壯者，尚可用此法。苟施與怯弱者，豈不危哉。按《黃帝內經》九針從南方來。《刺熱論》曰：病雖未發，見赤色者刺，名曰治未病。然則南方挑草子之法不可廢也。但南人未知辨赤色之道。士大夫不幸而染熱瘴，亦只得求南人之針法以刺之。</p>

<h3>瘴病中將息法</h3>
<p>凡才發瘴時，便須忌口。非惟生冷油膩不可食，尤忌酒肉魚面之類，飯也可住，只可食粥，仍戒葷腥。不得已吃白糝蘿蔔及咸豉，但當發時不可食。候發過稍久卻食。不發日從便吃白粥，切不可大飽。不忌口則病難愈。所食之物，皆助邪氣，致服藥無效。若食素粥數日，依前法服藥即效。所謂服藥十日，不如一日忌口。切須信之，仍每日漱口而已，不可洗面及手足，亦不可梳頭。但安心坐臥，數日無勞動，如此將息，無不即瘥。</p>

<h3>瘴病後將息法</h3>
<p>凡瘴病才住，可記初發幾日，依前日數，十分畏謹。大率瘴不發後，三日方可洗手，七日後可洗面，半月後可略梳頭。一兩月後，戒房室事，能戒百日尤好。瘴不發後，仍吃素粥三日，經五日後，方以豬脾熟煮羹，吃軟飯。十日後，略吃些酒，吃少肉羹。但不可食諸般骨汁，若犯之即再發。所謂羊、肉、雞諸般骨汁，並須忌一月或兩月為佳。萬一不能將息，或致再發，又須依前法服藥及依前法將息可也。</p>

<h2>繼洪治瘴用藥七說</h2>
<p>（景定甲子書於五羊）</p>
<p>夫人身本是四大假合，（四大乃地、水、火、風，地即土，風即木。）陰陽和會。上焦屬火而為陽。下焦屬水而為陰。遇有上熱下寒之疾，不能升降既濟之。而反用藥實實虛虛，則水火解散而人身壞矣。繼洪嘗見，柳教彭亮一日染瘴，身熱而心煩，自以為實熱，乘渴以冷水吞黃芩黃連丸，又取冷水以清胸膈。至日晡，小便漸多，更服黃芩湯，是夜連進十數服，小便愈數，次早熱才退而逝去矣。蓋下元為人身之根本，根本既虛，於身乎何有？且如小柴胡湯，今人但謂可用解熱。曾知其所以用乎？古人惟用之以治足少陽膽經傷寒，膽無出入之道，非柴胡、半夏能和解則不可。佐以黃芩，欲其峻快以宣泄之。復用人參，則不得不存攻守之意也。倘或不當用而用之，鮮有不蹈教彭之轍者。</p>
<p>瘴病多嘔，蓋本由飲食傷脾而得之。亦炎方之疾，氣多上逆。故為嘔，為頭痛，為大便不通。所以治嘔、治痞、治頭痛之法，皆當斟酌以溫利大便也。大約言之，治嘔當以養胃湯、來復丹、治中湯、二陳湯選而用之。嘔而寒熱，藿香正氣散；嘔而膨脹，二陳湯下感應丸；嘔而頭痛，來復丹兼如聖餅子；若只胸膈不快，下虛中滿，嘉禾散主之。李待制云：雖有蘊熱，亦可冷服，是取其有升降之功，與瘴疾相宜也。雖無疾而氣不快，心腹脹而身體倦，遇風寒則一身凜然，是為欲作瘴之兆。亦宜服嘉禾散、正氣散、紅丸子之類，使氣順食消，則外邪無自而入。若夫大便不通，切不宜峻用利藥，或只須嘉禾散入少蜜煎，或宜三和散、感應丸，甚者蜜導法。氣實者可用麻仁丸。小便多而大便秘者，謂之脾約，宜服脾約丸。但病久氣虛，宜服宣利之劑則不免困弱。須是精細飲食，加意將養，毋令之秘可也。</p>
<p>《指迷方》云：冷瘴必不死，熱瘴久而死，瘂瘴無不死。此雖大略之言，然亦可以既此而知受病淺深也。瘂瘴及熱瘴之甚者，蓋常人肺氣入心則為音聲，今瘴毒兜在胸臆，使脾氣不通，涎迷心竅，故不能言也。此當疏氣豁痰，清心解熱。大便秘而脈按之實者，可以薄荷、檳榔、枳殼、沉香、青皮、茯神之類，斟酌為之通利。胸膈緊者，宜用青州白丸子，薑汁爛研嚥下。若手足抽搐及成痰厥，宜服星香散。氣虛者，宜附香飲及養正丹。又有非心肺鬱閉，而惟舌根強木者，乃瘴毒中於心脾經所致。心之別脈系舌本。脾之脈連舌本，散舌下。邪氣入經絡，故舌不轉而不能言。此宜投正舌散及全蠍、麝香、南星、茯苓之類，大概治痰壓熱也。古人治瘂瘴不立方，意在臨時將息之，固不可拘執。</p>
<p>醫書云：人間之火，得木則炎，得水則伏。其疾之小者似之。神龍之火，得木則潛，得水則炎。疾之大者似之。乃謂，疾之大者，非溫涼補瀉常法可以制治。故處方則有熱因寒用，寒因熱用。今人染瘴，重者或瘂而不能言，或熱而精神昏亂，生死一間。不謂之大病可乎？所以冷香湯、沉附湯、附子湯、冷湯等，雖主於溫劑，復以涼藥為佐使，更令冷服，乃熱因寒用也。深有理焉。用者宜審之。</p>
<p>朱肱論傷寒云：重陽必陰，重陰必陽。寒暑之變，物極則反。今瘴疾，或始寒戰而終大熱，或連日極熱而後作寒，正謂此也。但傷寒以不飲水為內寒。瘴疾，內寒者也，亦飲水，甚則欲坐水中，取水以清其心胸。蓋炎方受病，氣專炎上，心肺焦熬，華蓋乾涸，所以多渴。若其脈浮而虛，按之無力，又或病當潮時脈浮洪，病不潮時脈微弱，其證則心煩躁，額上極熱，面色多赤，頭或痛或不痛，小便或多或赤，大便滑泄，腰腿沉重，兩足不熱。甚者寒厥或疼。誤服涼藥則渴轉甚，躁轉急，此乃陰證，以陽治之。當服丹砂、附子，及灸丹田、氣海、足三里等穴，暖其下元，使陰陽交泰，而病自和解也。</p>
<p>方書謂：麻黃生中原，有麻黃之地，冬雪不積。麻黃能泄內陽故也。今深廣無霜雪，皆如麻黃之地，陽氣常泄，既此可知。人居其間，不勞麻黃而自汗，有病則不宜輕用麻黃。此理甚明。前輩詩云：四時常是夏，一雨便成秋。讀此一聯，不惟可見嶺南天氣。亦可觸類以知乎人之病也。病者多熱，才一經汗，便翻然為冷，是豈宜輕汗耶。如五積散、破關散、金沸草散、九寶飲、小續命湯，雖用麻黃，各有主對，尤可服之，亦不宜過。若正麻黃湯、青龍湯，則嶺南不當遽用也。今人例用麻黃為發散之藥，殊不知其力只能驅我之內陽，以劫外寒也。故古今方書，用治肺經咳嗽，以肺之性惡寒，肺為嬌臟，易於感寒，乃宜用之。張仲景治足太陽經傷寒用麻黃，以太陽經屬膀胱，非汗不解。及用治足少陰經傷寒，蓋少陰屬腎，治法當自膀胱經去。皆所當用也。除此二臟腑之病，方書已自少用。況今深廣不寒之地，瘴氣交重。瘴病豈因感寒邪？不因感寒，不必用麻黃，又何不可？《南史》記：範云初為陳武帝屬官，武帝寵之，將有九錫之命在旦夕矣。云忽感傷寒之疾，恐不得預慶事。召徐文伯診視，以實懇之曰：可便得愈乎？文伯曰：便愈甚易，只恐二年後不復起耳。云曰：朝聞道夕死猶可，況二年乎？文伯以火燒地，布桃葉設席，置云與上，頃刻汗解。撲以溫粉，翌日愈。云甚喜。文伯曰：不足喜也。後二年果卒，夫取汗先期，尚促壽限，況不當用而用者乎？愚又嘗親見，有染瘴者，上熱下寒，腰足寒疼，自謂五積散證也，便倍加麻黃，多服覆汗，竟成重虛。雖服真武湯，亦莫能救。並贅於此，使用藥者詳審云。</p>
<p>《攝生方》謂：南方男子多瘠，而婦人多肥。男子多弱，婦人多力。此亦陽泄陰盛之驗也。故本土婦人不甚染瘴。若北人入嶺，又當論其氣血何如。染瘴之治法，大略與男子同。更當兼以豁痰調氣。尋常小小不快，只用四七湯、二陳湯、小烏沉湯、枳殼散之類，或煎四物湯、木香調氣散，或四物湯與參蘇飲合煎。即茯苓補心湯臨病差排別換湯，便自應有功效。又婦人來南方，間受頭風腳氣之疾，此所當先與疏氣也。醫書謂：婦人性情執著，乃多喜怒，且悶悶於閨閣中，莫有散釋。醫者用藥多本此焉。然治瘴瘧，當不出此集中數方也。況胎前產後不幸而染瘴，固當只用平和之劑以和解之。《本事方》抑陽助陰之說，堪為病後調補也。</p>

<h1>校刻嶺南衛生方中卷</h1>

<h2>嶺表十說</h2>
<p>嶺表之俗，多食檳榔，多者日至十數。夫瘴癘之作，率因飲食過度，氣痞痰結。而檳榔最能下氣，消食去痰。故人狃於近利，而暗於遠患也。此頗類北人之食酥酪。塞北地寒，食酥酪胃理縝密。一旦病疫，當汗則塞，塞而汗不得出。嶠南地熱，食檳榔，故臟氣疏泄。一旦病瘴，當下則虛羸而本（［梯注]《景岳全書》無「本」字。）不能堪。所以土人多體瘠色黃，豈盡氣候所致，蓋亦檳榔為患，殆弗思耳。</p>
<p>本草載：三人冒霧行，飲酒者獨不病。故北人度嶺，必相勉以飲酒。且遷客羈士，往往醺酣以自適。而嶺外弛權酤之禁。異時酒價尤廉，販伕役卒亦得肆意杯酌，咸謂可以闢瘴，殊不知乃瘴病之源也。（［梯注]《景岳全書》作「殊不知少則益，多則滋瘴之源也」。何以言之？南土暑濕，嗜酒則多中暑毒。兼瘴瘧之作，率因上膈痰飲，而酒尤能聚痰。嶺外諺曰：莫飲卯時酒，莫食申後飯。此誠攝生之要也。然忌夕食者，人所易曉。戒卯時酒，則多以為疑。蓋嶠南氣候不常，雖盛夏陰雨必寒，雖窮冬日出則燠。一日之間，寒燠或屢變。要之晝多燠，夜多寒。飲酒過度固非所宜，而卯酒尤甚。方其朝寒而飲，遇暴熱則必為病也。</p>
<p>嶺南每以暑毒為患者，蓋一歲之間，暑月過半，使人難避而易犯。起居飲食稍失節度，則為暑毒所中。其冒暑在道途間，故土人暑月則相戒勿出。且遇荒之境，道路崎嶇，傳舍飲食皆不能如欲。自北初至則云：不習水土而病。既還則又謂之回頭瘴。大率得之道途間冒暑氣，於夫飲食居處失度也。</p>
<p>寒暑（［梯注]《景岳全書》「寒暑」上有「嶺南」二字。）之候不常，尤難於調攝。凡居人與在路者，冬夏之服，皆不可缺，隨其氣候，速宜增減，稍緩則能致病。又嶺外海風異常，稍中人則為病。坐臥易衣，當慎之也。</p>
<p>嶺外雖以多暑為患，而四時亦有傷寒瘟疫之疾，其類不一。土人不問何病，悉謂之瘴。治療多誤，夭闕者何可勝數。又間有一歲盛寒近類中州，而土俗素無蠶績，冬不挾纊。居室疏漏，未嘗塞向謹戶。忽遭歲寒，則次年瘟疫必興。醫者之治瘟疫，當以本法治之，而隨其風土氣候，與夫人之強羸，少出入焉可也。長吏父老，當化其民俗，使有禦寒之具，庶不蹈於疾疢。</p>
<p>瘴瘧之作，多因伏暑傷冷所致。縱非飲食冷物，既寒邪感於外，飲食傷於內也。大抵伏暑淺而寒多者易治，伏暑深而熱多者難治。近時北醫至此，用大柴胡湯治熱瘴，須是本氣壯實者乃能堪之，如土人久服檳榔，臟氣既虛，往往不能服寒藥。然土人才見發黃，便為不治之疾，良可哀也。</p>
<p>北人之來嶺南，婢僕多病瘴。蓋勞役之人，飲食乖度，晝多冒暑，夜多寢地，又凡事不能忌慎，故先受其弊。既與之同休慼，宜加意戒之。</p>
<p>俚俗有病，必召巫覡而祭鬼神。士大夫咸笑其信巫不信醫。僕當思之，此殆可憐憫，而不可以為笑也。夫民雖至愚，而孰不能趨利避害，況性命所繫，曉然易見。若醫者能愈人疾，彼何苦不用。蓋嶺外良醫甚鮮。凡號為醫術者，率皆淺陋。又郡縣荒僻，尤乏藥材。會府大邦，間有醫藥，且非高價不售，豈閭閆所能辨。況于山谷海嶼之民，何從得之。彼既親戚有疾，無所控告，則不免投誠於鬼。因此而習以成風者也。近歲北醫漸至，長吏父老，倘能使之轉相傳習，不亦善哉。</p>
<p>瘴類不一，而土人以瘂瘴最為危急。其狀初得之即失音，不過一二日不救。（［梯注]《景岳全書》　「不救」上有「即致」二字。）醫者多言極熱所致，或云：蘊熱而感寒所激。近見北醫有用煎生附子一味愈此疾者，得非以熱治熱而發散寒邪乎。僕觀古方，飲溪澗水中毒，令人失音。則知凡失音者，未必皆瘴也。溪澗水毒灼然有之，道路多無井飲。而瀕江之民，與夫舟行者，皆汲江水，其間豈無邂逅遇毒者。此行路之人所以多疾病也。若經烹煎則非生水，此廝役輩大率飲冷，故尤蹈其患。</p>
<p>傳云：嶺外多毒草。彘食之，而人食其肉者，亦能中毒。所以北人度嶺，多戒食彘，然則嶺外能致疾者非一端。昧者逐皆以為瘴。不可不辨。</p>
<p><u>以上吳興章傑</u></p>

<h2>治瘴續說</h2>
<p>繼洪南遊既久，愈知瘴疾不宜用藥，故再直述之於茲焉。若其證身熱而復寒，謂之冷瘴，不換金正氣散主之。若身熱胸痞，或嘔或噎，大便不利者，嘉禾散。若病輕而覺有積聚，兼進些少感應丸，無積者不可用。若病稍重，便不可妄為轉利，當溫中固下。若冬末春初，因寒而作大熱者，愚魯湯，柴胡可減。夏月因暑氣者，六和湯。若身極熱而頭極疼，脈數者，謂之熱瘴，宜用挑草子法。亦不可不服藥。第此證病深最難治。蓋涼藥多不可用。熱藥須得法用之。如附子湯冷服者是也。非極工巧以處之則不可。若身熱而汗不多，頭痛未解，且與和解散。若腰以上極熱，腰以下稍涼，胸膈煩渴，腰腿重疼，或大便稀滑，其脈多數，按之不實，此陽浮陰閉也，李待制生薑附子湯最妙。凡初病，則生薑附子湯能發散耳；若病經日久，汗愈多，虛煩潮上，則惟恐其不斂不降，宜用熱附乾薑沉香，用乾薑須冷服；若大便利，則不宜用沉香；煩甚少加竹茹；渴甚多加人參、北五味；咳逆加丁香、淡竹葉。（此草惟廣州白雲後洞及惠州羅浮有之。）若煩躁而有異象眩惑，夜不安寢，可略與溫膽湯，大便利者不可服。若煩渴大作，宜蜜砂、丹參、砂丹、破證奪命散、既濟湯或冷湯倍加人參附子。若煩熱而大便自利，小便赤多，不可以赤為熱。膝脛一下稍涼，乃病邪激，（［梯注]《景岳全書》「激」上有「所」字。）其氣血俱虛。表熱無以養中，故外熱而內虛也。可急服姜附湯、養氣丹，及灸氣海並足三里穴。若至與四肢厥冷，或兩足冷甚、頭額虛汗，或時咳逆，脈數而促，其證尤危。惟有黃牙丹、伏火硃砂丹、三建湯，能斂心液，能壯真陽，可以更生也。又有瘂瘴，即熱瘴之甚者。醫書謂：血得寒則凝泣，得熱則淖溢。故熱瘴，面赤心熱，舌破鼻衄，皆瘴熱沸其血，湧上所致。故宜用挑草子法。甚則血上塞其心竅，故昏不能言或但噫噫作聲，即瘂瘴也。治之當散其血。近有明醫，用麥門冬湯下黑神散，立見神效。南遊之士，不可不知，亦不可不備此藥也。愚前所謂涎迷心竅，及舌強者亦有之矣，卻非正瘂瘴，乃挾風證耳。故所取之方，當審而後用也。</p>
<p><u>成淳丁卯繼洪書</u></p>
<p><u>真方不換金正氣散</u></p>
<p>治四時傷寒，五種膈氣，和脾胃，止吐瀉，溫中，下痰飲，止腹痛、脹滿、吞酸、噫、痞、噎塞、乾嘔、噁心。內受寒濕，外感風邪，身體沉重，肢節痠疼，頭昏鼻塞，未分陰陽之間，尤宜服之。則氣自正而病自退。及能止汗，解山嵐瘴氣，八般瘧疾，遍身浮腫，五勞七傷。或風氣所灌，手足腫痛，全不思飲食。妊婦產前後，皆可服餌。又治霍亂吐瀉，心腹疼痛，脾氣虛弱，臟腑時鳴。小兒脾胃不和，時氣諸疾。又治四方不伏水土。凡過嶺南，此藥不可缺。</p>
<p>厚朴（去粗皮，銼如薤頭大，長一寸，以生薑自然汁淹一宿）　半夏（湯洗七次，以生薑四兩，取汁浸旬日，曝，候汁干為度）　橘紅（去白）　草果子（去皮生用）　藿香葉（取葉水洗）　蒼朮（去皮，米泔浸一宿，切作片子）　甘草（銼，各三兩）</p>
<p>上七味，先用沙鍋炒厚朴令香，次入蒼朮炒令紫色，又入半夏炒香熟，又入甘草炒黃，又入橘紅炒破，方始將藿香葉二兩，斡開眾藥，安藿香葉在中心，用藥遍蓋，安定少時。約藿香葉乾，方可取出。卻入草果子，同為粗散。每服二大錢。水一大盞，生薑五片，棗子一枚，煎至七分，去滓，空心服。煎時不得犯銅鐵器。</p>
<p><u>藿香正氣散</u></p>
<p>治傷寒陰證。憎寒惡風。正氣遂冷，胸膈噎塞，脅肋膨脹，心下堅痞，吐利嘔逆，怠惰嗜臥，不思飲食。</p>
<p>厚朴（去粗皮，薑汁炒）　半夏（湯洗，薑汁製）　藿香葉　陳皮（去白，各一兩）　甘草（炙，七錢）</p>
<p>上銼散。每服四錢。水盞半，生薑七片，棗子一枚，煎至七分，去滓，食前溫服。霍亂吐瀉，加白朮三兩。</p>
<p><u>養胃湯</u></p>
<p>治外感風寒，內傷生冷，憎寒壯熱，頭目昏疼，肢體拘急，及能闢山嵐瘴氣，四時瘟疫，脾寒痎瘧。因飲食者，又可佐以紅丸子。</p>
<p>厚朴（姜炒）　蒼朮（米泔浸）　半夏（湯洗，薑汁製，各一兩）　茯苓（去皮）　人參（去蘆）　草果（去皮）　藿香（去梗，各半兩）　橘紅（去白，三分）　甘草（炙，一分梯注按《局方·凡例》云：凡方中雲一分者，即二錢半也。）</p>
<p>上㕮咀。每服四錢，水一盞半，姜七片，烏梅一個，煎至六分，去滓，熱服。或發冷瘴，或感寒疫者，並加附子足為十味。</p>
<p><u>紅丸子</u></p>
<p>治食瘧。食瘧乃痰嘔噁心，腹滿寒熱。右手寸關脈弦實，或沉滑。要之瘴瘧多因食積氣痞痰結。此藥消食下氣化痰。寓廣者正宜服之。但礬紅、阿魏，難得好者，又阿魏雖為下積消脹之妙藥，卻不宜常服。及不宜於妊婦、虛人、老人。所以《易簡方》去礬紅、阿魏，最宜常服用以治瘧，黃丹為衣最妙。若食積癥癖痞脹，得真阿魏卻甚良。然亦在修合之臻志，用好米醋煮陳米粉為丸，自洗米至作糊，不著水，純使醋為妙。</p>
<p>蓬莪朮（煨）　荊三稜（水浸軟，切片）　橘皮（揀淨）　青皮（去白，各五兩）　胡椒（去屑）　乾薑（炮，各三兩）　阿魏　礬紅（各一兩）</p>
<p>上為細末，醋糊為丸梧子大。礬紅為衣，治瘧疾。每服六十丸。不拘時候，生薑橘皮湯下。大病後飲食難化，及中脘停酸，用薑湯下。心腹脹滿，紫蘇湯下。酒疸食疸，遍身皆黃，大麥煎湯下。酒食積，面黃腹脹，或時乾嘔，煨薑湯下。脾氣刺痛，菖蒲湯下。兩脅引乳作痛，沉香湯下。</p>
<p><u>嘉禾散</u>（一名穀神散）</p>
<p>治中滿下虛，五噎五膈，脾胃不和，胸膈痞悶，肋脅脹滿，心腹刺痛，不思飲食，或多痰逆，口苦吞酸，胸滿短氣，肢體怠惰，面色萎黃。如中焦虛痞，不任攻擊。臟氣虛寒，不受峻補。或因病氣衰，食不復常，稟受怯弱，不能多食，及瘴疾陰陽表裡未分之際，尤宜服之。</p>
<p>枇杷葉（去毛，塗薑汁，炙令香熟）　薏苡仁（微炒）　縮砂（去皮）　人參（去蘆）　茯苓（去皮，各一兩）　石斛（細銼，酒拌和，微炒）　大腹子（微炒）　沉香（鎊）　木香　藿香　杜仲（去皮，用薑汁與酒合和塗炙，令香熟焦）　隨風子（如無，揀緊小訶子實者亦得，各三分）　谷糵（微炒）　白豆蔻（微炒，去皮）　五味子（微炒）　桑白皮（微炒）　丁香　檳榔（炒）　青皮（去白，各半兩）　半夏（一分，用湯洗七遍。生薑一分切作片子，與半夏同搗爛，做餅子，炙黃）　神麯（一分，微炒）　陳皮（三分）　白朮（炒，二兩）　甘草（微炒黃，一兩半）</p>
<p>上二十四味搗羅為末。每服二錢重，水一盞，入生薑三片，肥棗二枚，同煎至七分，溫服，不計時候。又療四時傷寒。能調治陰陽，使無變動，刻日得安。如療五噎，入乾柿一枚同煎。十服見效。如膈氣吐逆羸困，入薤白三寸，棗五枚同煎。婦人亦可服。瘴疾發熱，放冷服。老人、虛人、大便秘者，加蜜少許煎，冷服。</p>
<p><u>二陳湯</u></p>
<p>治瘴疾有痰者。</p>
<p>半夏（湯洗七次）　橘皮（去白，各五兩）　茯苓（去黑皮，三兩）　甘草（炙，一兩）</p>
<p>上㕮咀，每服四錢。水一盞半，姜七片，烏梅一個，煎至六分，去滓，熱服。不拘時候。</p>
<p><u>神術湯</u></p>
<p>治傷寒頭疼身熱等證。</p>
<p>蒼朮（去皮，米泔浸三日，麩炒四兩）　藁本（去蘆）　川芎（各一兩）　甘草（炒，半兩）</p>
<p>上㕮咀。每服三錢，水一盞半，生薑三片，同煎七分，去滓熱服。不拘時候。神效不可具述。</p>
<p><u>生薑附子湯</u></p>
<p>治嶺南瘴癘。內弱發熱，或寒熱往來，痰逆嘔吐，頭痛身疼，或汗多煩躁引飲，或自利小便赤，兼主卒中風。</p>
<p>黑附子（一個，生，去皮臍，切片）</p>
<p>上每一個作四服。每一服，水一盞，生薑十片，煎七分，溫服，不拘時候。</p>
<p><u>乾薑附子湯</u></p>
<p>治瘴毒陰候，發熱或煩躁，手足冷，鼻尖涼，身體疼重，舌上生苔，煩渴引飲，或自利嘔逆，汗出惡風。</p>
<p>大附子（一個，生，去皮臍）</p>
<p>上每一個分四服。每一服加炮乾薑二錢。水煎溫服。去滓再煎服之。</p>
<p><u>冷湯</u></p>
<p>治瘴毒內寒外熱，咽嗌間煩躁不解。</p>
<p>人參（半兩）　大棗（五個）　甘草（三寸）　淡竹葉（十四片）　大附子（去皮，五錢）</p>
<p>上銼散。清水煎，放冷服。</p>
<p><u>沉附湯</u></p>
<p>治瘴疾上熱下寒，腿足寒厥。</p>
<p>沉香（磨濃汁）　附子（或生用或炮熟，臨時隨宜用之）</p>
<p>上用附子半兩，生薑七片，煮令八分熟，入磨沉香汁，令十分熟。放冷服。此藥既主上熱下寒，須真個沉水香方可。雖弄沉亦不濟事。況此香自有數種，既用服餌，當以滋味別之。如咀吃而味香甜者乃性平，辛辣者性熱。用者當揀擇以對證。附子率用道地所產及漏藍、側子之類。此固難得道地者。然起死回生之藥，可以苟且耶？若是陰毒及冷瘴，但欲一時壯陽氣可也。若虛熱而藉以降氣斂陽，尚非道地附子，寧不潛燥，非徒無益也，卻非處方者之罪。</p>
<p><u>附子理中湯</u></p>
<p>治瘴毒內寒，自利煩渴，手足發冷，發熱煩躁，嘔逆悶亂。</p>
<p>附子（炮，去皮臍一兩）　人參（去蘆）　乾薑（炮）　白朮（炒）　甘草（炙，各二兩）</p>
<p>上㕮咀。每服四錢，水一盞半，煎至六分，食前熱服。</p>
<p><u>真武湯</u></p>
<p>治傷寒瘴病，數日以後，發熱腹痛，頭目昏沉，四肢疼痛，大便自利，小便或利或澀，或咳或嘔者，皆宜服之。</p>
<p>茯苓（去皮）　芍藥　熟附子（各三分）　白朮（炒，二分）</p>
<p>上㕮咀。每服四錢，姜五片，水一盞半，煎至六分，去滓，食前溫服。小便利者去茯苓。大便利者去芍藥，加乾薑二分。嘔者每服加生薑五片。《續易簡方》云：不下利而嘔者，去附子加生薑。然既去附子，但存三味似於太平易。更當臨時消息之。治病之法本難遙度也。《活人書》云：太陽病，發其汗，汗出不解，其人仍發熱，心下悸，頭眩身瞤動，振振欲擗地者，真武湯主之。意謂：太陽經傷風，醫者借用麻黃，既熱不解，覆成重虛。故宜朮、附、芍藥之類。又《活人》云：少陰病二三日不已，至四五日，腹痛，小便不利，四肢沉重疼痛，自利或嘔或咳或小便利，或不利。此為水氣，真武湯主之。今並贅於此，以廣用藥者之見聞。亦不局於偏詞也。</p>
<p><u>天下受拜平胃散</u></p>
<p>治脾胃不和，膈氣噎塞，嘔吐酸水，氣刺氣悶，脅肋虛脹，腹痛腸鳴，胸膈痞滯，不美飲食。常服溫養脾元，平和胃氣，及闢嵐瘴冷濕。病後進食，悉有神效。</p>
<p>厚朴（去粗皮，銼）　陳皮（湯洗，不去白）　甘草（炙，各三兩）　茅山蒼朮（去皮，米泔浸一宿，五兩）　生薑（和皮薄切，四兩）　南京小棗（去核，二百枚）</p>
<p>上六味，用水五升，慢火煮，千搗作餅子，日乾，再焙，碾為細末。每二錢入鹽少許。如泄瀉，每三錢，生薑五片，烏梅二個，鹽少許，水一盞許，煎至八分服。</p>
<p><u>一方</u></p>
<p>蒼朮五兩半，厚朴、橘皮各三兩半，甘草一兩，㕮咀，為散。加草果、烏梅各一個煎。治脾寒瘧疾。</p>
<p><u>一方</u></p>
<p>加茯苓、丁香各三兩，仍加生薑煎。治胃寒嘔吐。</p>
<p><u>一方</u></p>
<p>加縮砂、香附子各三兩，亦加生薑。治氣不舒快，中脘痞塞，不進飲食。</p>
<p>《指迷方》加減平胃散。以朴硝、巴豆、製厚朴、蒼朮藥味大峻，恐非此地所宜。又淨脾散苦味藥，皆主破積消食，亦宜減去三稜、莪朮。增入茯苓、山藥之類為妙。《陳氏方》有云：多服食藥，正如礱磨，快則快矣，其如薄荷。用者審之。</p>
<p><u>《四時治要》云</u></p>
<p>風瘧，即瘴瘧也。食瘧，多生於東南。蓋謂東南乃魚鹽之鄉，及多暴風。風瘧宜草果飲。注云：此藥用川芎、青皮、白芷，發散風邪故也。又云：良薑、紫蘇、青皮，發散寒氣。今瘴疾脈浮緊，頭疼身痛，惡風寒者。乃感與凜冽暴風之候而得也。正當服此草果飲。又云：因食生冷肥膩，中脘生痰，嘔逆發熱，遂成食瘧。宜服二陳湯。陳無擇治食瘧用紅丸子，亦妙。</p>
<p><u>草果飲</u></p>
<p>治瘴瘧頭疼身痛，脈浮弦，寒熱。</p>
<p>草果（去皮）　川芎　白芷　紫蘇葉　良薑　甘草（炙）　青皮（去白，炒，各等分）</p>
<p>上銼散，每服三錢，水一盞，煎七分，去滓，熱服。當發日連進三服。</p>
<p><u>四獸飲</u></p>
<p>治五臟氣虛，喜怒不節，勞逸兼併致陰陽相勝，結聚涎飲，與氣相搏，發為瘧疾。兼治瘴瘧最有神效。</p>
<p>半夏（湯洗七次）　茯苓（去皮）　人參（去蘆）　白朮（炒）　草果（去皮）　橘紅（去白）　甘草（減半）</p>
<p>上同棗子、烏梅、生薑並等分㕮咀，以鹽少許淹食頃。厚皮紙裹，以水濕之，慢火炮令香熟，焙乾。每服半兩，水二盞，煎六分，去滓。未發前並進數服。</p>
<p>瘴疾，多上熱而下寒。此正張給事所謂陽浮而陰閉是也。愚當謂，寓廣者，平居無疾，亦須服降氣鎮墜藥，乃養正丹、黑錫丹。然養正丹四藥，皆有利性。廣地陽氣常泄，稍失制度，寧免誤人也。常服不若秘傳降氣湯及蘇子降氣湯，二藥均治上盛下虛。然秘傳降氣湯差寒，胃弱氣虛者，亦不宜多服。得病而上熱下寒者，李待制生薑附子湯法最妙。《易簡方》亦類，在降氣湯後更云：若虛氣上壅，當間以生附加生薑煎。臨熟以藥汁濃磨沉香，再煎一兩沸。此法更良。病退而餘熱在上者，正宜用之。</p>
<p><u>秘傳降氣湯</u></p>
<p>治男子婦人上熱下虛之疾。凡飲食過度，致傷脾胃，酒色無節，耗損腎元，脾腎不和，陰陽關隔，遂使氣不升降。上熱則頭目昏眩，痰實嘔逆，胸膈不快，咽喉乾燥，飲食無味。下弱則脾氣怯弱，腸鳴下利。治以溫則上焦壅熱，口舌生瘡。又腳氣上攻，與浮腫虛煩。宜先服此藥，卻以所主藥治之。無不效者。</p>
<p>桑白皮（炒二兩）　五加皮（酒浸半日，炒黃）　骨碎補（燎去毛，銼炒）　桔梗（去蘆，炒黃）　地骨皮（炒黃）　草果（去皮膜，淨洗，炒黃）　訶子（炮，去核）　半夏（為末，生薑自然汁為餅，再碎炒）　枳殼（湯浸，去瓤，麩炒）　柴胡（去蘆）　陳皮（去白，炒黃）　甘草（炒，各一兩）</p>
<p>上為粗散，和勻，再就蒸一伏時，曬乾。每服二錢，紫蘇三葉，生薑三片，水一盞，同煎至七分，食後通口服。痰嗽，加半夏曲煎。上膈熱加黃芩煎。下部大段虛，加少許炮附子煎。如使附子，多加生薑。婦人血虛，加當歸煎。</p>
<p><u>蘇子降氣湯</u></p>
<p>治男子虛陽上攻，氣不升降，上盛下虛，膈壅痰響，咽喉不利，咳嗽虛煩，引飲頭昏，腰痛腳弱，肢體倦怠，腹肚㽲刺，冷熱氣瀉，大便風秘，澀滯不通。</p>
<p>前胡（去苗）　厚朴（去皮，薑汁製）　甘草（炙）　當歸（各二兩）　肉桂（去粗皮）　陳皮（去白，各三兩）　半夏（湯洗，五兩）</p>
<p>上七味㕮咀。並蘇子（但蘇子極難得真正的，細而香者方妙。）五兩，炒，共成八味。每服四錢，水一盞半，姜五片，棗一個，煎六分，去滓服，不拘時候。</p>
<p><u>樂令黃耆湯</u></p>
<p>治嶺南瘴毒。發熱煩躁引飲，大便不通，小便赤澀，或狂言內熱，神昏不省人事。</p>
<p>半夏（湯洗七次，七錢半）　白芍藥（炒）　前胡（去蘆）　桂心（去粗皮）　黃耆（蜜炙）　白茯苓（去皮）　人參（去蘆）　細辛（去葉，洗）　當歸（去蘆）　麥門冬（去心）　陳皮（去白）　甘草（炙，各一兩）</p>
<p>上㕮咀。每服四錢，水一盞，姜四片，棗一個，同煎至七分，去滓，微熱服。不拘時候。</p>
<p><u>李待制柴胡湯</u></p>
<p>治寒熱。</p>
<p>柴胡（去蘆，一兩）　半夏（湯洗，一分）　桂心（去粗皮，二錢）　白芍藥（一錢）　甘草（炙，一錢半）</p>
<p>上為細末。加姜七片，棗一個，水煎溫服。寒熱欲退，便止此藥。</p>
<p><u>參蘇飲</u></p>
<p>治傷寒發熱，頭疼體痛，及瘴瘧壯熱。其脈弦緊，按之不絕，熱而頭痛。</p>
<p>前胡（去蘆）　人參（去蘆）　紫蘇葉　茯苓（去皮）　半夏（湯洗）　乾葛（各三分）　枳殼（煨，去瓤）　陳皮（去白）　桔梗（去蘆）　甘草（各半兩）</p>
<p>上㕮咀。每服四錢，水一盞半，生薑七片，棗子一個，煎至六分去滓，不以時候服。兼治痰氣上壅，咽喉不利，呀呷有聲，氣怠短急，上盛下虛，宜加木香半兩。目睛痛，加川芎煎服。</p>
<p>凡陽氣常泄得疾者，雖身熱而亦多內寒。正得《經》所謂，身熱未已，寒病復始。又王叔和云：有熱不可太攻之，熱去則寒起是也。所以瘴疾熱多者，並單發熱者，《攝生方》、《衛生方》皆以為病深而難治，參蘇飲有不當服者。但如脈虛內弱，煩躁而熱，《衛生方》治以冷湯、生薑附子湯甚效。愚嘗於湟川遇周醫者云：近日二三之證熱甚，大用附子、乾薑、沉香，煎令冷服，皆一服熱去。次日有拉區區治熱瘴者，用生薑附子湯不效，如周之說，用乾薑頓愈。此固未敢許人以為法，明醫當自會用之，不可執著以治寒熱也。</p>
<p><u>芎蘇散</u></p>
<p>治傷寒瘴疾，頭疼身熱，煩渴引飲，其脈洪實。</p>
<p>川芎（去蘆，七錢）　紫蘇（去梗）　茯苓（去皮）　柴胡（去蘆）　乾葛（各半兩）　半夏（湯泡七次，六錢）　陳皮（去白，三錢半）　桔梗（生，二錢半）　枳殼（炒，去瓤）　甘草（炙，各三錢）</p>
<p>上十味㕮咀。每服三錢，生薑三片，棗子一個，煎服。</p>
<p><u>愚魯湯</u></p>
<p>治傷寒瘴疾，頭疼發熱。其脈洪實。</p>
<p>北柴胡（去蘆）　南人參（去蘆）</p>
<p>上等分㕮咀。每服三錢，姜三片，棗一枚，熱服無時。</p>
<p><u>地黃薄荷湯</u></p>
<p>治傷寒熱瘴，頭疼足熱，發渴煩躁，其脈洪實，不嘔不瀉。</p>
<p>生地黃根　生薄荷葉</p>
<p>上二味不以多少，洗淨，砂缽內搗爛，取自然汁。入麝香少許，井華水調下。如覺心間頓涼，不須再服。</p>
<p><u>五積交加散</u></p>
<p>治受瘴之初，便欲分為寒熱者。早服此藥可以截住。</p>
<p>生料五積散　人參敗毒散（二藥等分）</p>
<p>上和勻。每服四錢，水一盞半，生薑五片，棗子一枚，同煎至八分，去滓溫服。不拘時候。</p>
<p><u>截瘴散</u></p>
<p>治瘴疾，或先寒後熱，或先熱後寒，或三日兩日而發，或間日連日而作。</p>
<p>常山（雞骨樣者良）　茯神（去皮、木）　肉桂（去粗皮，各等分）　甘草（減半）</p>
<p>上為銼散。每服稱半兩。用時酒一大半碗，浸一宿。於當發日早晨，空心冷服。服後須吃熱物熱湯。滓再浸，臨發時再服。忌蔥、蒜、韭、羊肉、魚腥、酢面、生冷、果子一切毒物。避風寒，戒房室。</p>
<p><u>一方</u></p>
<p>治證同前。</p>
<p>常山（三寸）　甘草（二寸）　檳榔　烏梅（各二個）</p>
<p>上為散。當發絕早，以酒半碗，於銀磁銚內煎。</p>
<p>俟放冷空心服，臨發時又煎服。忌口如前。以上兩方須是經二三日發後方服。</p>
<p>常山乃瘴瘧要藥。李待制云：欲去根本，非常山不可。此說最當。今人不問當服不當服，悉以傷氣為詞，疑而不用。愚嘗謂：瘴瘧之常山，喉風之巴豆，傷風之麻黃，內積之硇砂，合使而不使，厥疾不愈。毋疑。如上二方並有神效，其功正在常山。但一方用肉桂，一方用檳榔。檳榔消積除痰，肉桂解表通脈，稍知醫者，必能擇用之。皆宜冷服，蓋恐常山能吐人。此亦尤《活人書》云：治瘧之法無以過之也。</p>
<p><u>瘴瘧丹</u></p>
<p>治癖瘧、食瘧。癖瘧者，胸脅間有氣癖一塊，或因喜怒而得，或因積聚而得之。食瘧者，因飲食傷脾而為瘧也。</p>
<p>常山　縮砂仁　三稜　莪朮（各等分）</p>
<p>上四味，同炒為末，薑汁打糊丸，如梧桐子大。當發前一日，冷酒吞三十丸，次早又服瘴瘧方。此為妙。</p>
<p><u>七棗湯</u></p>
<p>治五臟氣虛，陰陽相盛，乍為瘴瘧，寒多熱少，或但寒不熱皆可服。</p>
<p>大附子（一個，炭火中炮，後以鹽水浸。再炮再浸，如此七次，即去皮臍用。）</p>
<p>上銼散。水一盞，姜七片，棗七個，煎至八分。當發早晨，空心溫服，仍吃三五個棗子。忌如常法。陳無擇云：《良方》中用烏頭，兼不用鹽水浸，不特服之僭燥，亦不能分利陰陽。其說有理，用者知之。</p>
<p><u>《攝生方》治瘂瘴方</u></p>
<p>銅青　石綠（各一兩）</p>
<p>上研為末。用水調生面為丸，如雞頭大。每服一丸，新汲水磨下。</p>
<p><u>稀涎飲</u></p>
<p>治風涎迷於心竅，口不能言，形癡如醉。</p>
<p>豬牙皂角（四條，肥實不蛀者，去皮、弦）　晉礬（光明者，一兩）</p>
<p>上細末研勻。輕者半錢，重者三字匕，溫水調灌下。少頃，吐下冷涎便醒。次緩以調治。昏不知人者，灌下藥不可過多。</p>
<p><u>正舌散</u></p>
<p>治風痰為患，舌本強而不言。</p>
<p>蠍梢（去毒一分）　茯神（去心木，一兩）　龍腦薄荷（曬乾，二兩）</p>
<p>上為細末。每服二錢，溫酒調下。更以擦牙頰間。</p>
<p><u>脾約丸</u></p>
<p>治腸胃燥澀，津液耗少，大便堅硬，或秘而不通，臍腹脹滿，腰背拘急，及有風人大便結燥。又治小便利數，大便因硬而不渴者，謂之脾約，此藥主之。</p>
<p>麻仁（別研，五兩）　枳殼（麩炒）　芍藥　厚朴（去粗皮，薑汁炒，各兩半）　大黃（蒸焙，一斤）　杏仁（去皮、尖，炒，研，五兩半）</p>
<p>上為末，煉蜜丸如梧桐子大。每服二十丸，食前溫飯湯下。</p>
<p><u>寬氣湯</u></p>
<p>利三焦，順臟腑，治大便多秘。</p>
<p>香附子（六兩）　砂仁（一兩）　天台烏藥（去心，取肉，二兩）　甘草（炒，一兩一分）</p>
<p>上銼散。每服一錢，橘皮湯下，不拘時候。</p>
<p><u>蜜煎導法</u></p>
<p>治傷寒瘴疾，自汗及發汗後，津液內竭，大便不通，此不可攻之，惟宜此藥。</p>
<p>用上好蜜四兩，於銚內慢火煎煮，攪之勿令焦著，俟稍餳飴狀可以捏丸，卻取水為挺，如拇指大，約長二三寸，令一頭銳。乘稍熱納入穀道中，以手抱住。如未即效，更用一枚火上炙，使溫用之。《嚴氏方》：蜜三合入豬膽汁二枚，在內同煎，倉促無膽只如前方亦可。一方入皂角末半兩。皆可隨病淺深而取用也。</p>
<p><u>烏梅木瓜湯</u></p>
<p>治酒食過度，中焦蘊熱，煩渴枯燥，小便並多，遂成消中，兼治傷寒瘴疾作渴。</p>
<p>木瓜干（去皮、瓤）　烏梅（打破，不去仁）　麥糵（炒）　甘草　草果（去皮，各半兩）</p>
<p>上銼散。每服四大錢，水一盞半，姜五片，煎七分，去滓溫服，不拘時候。</p>
<p><u>破證奪命散</u></p>
<p>治傷寒瘴疾，陰陽證候不明，或誤投藥致病垂困，煩躁發渴，及婦人胎前產後受熱瘴等疾。</p>
<p>好人參（去蘆，一兩）</p>
<p>上水二盞，於銀石器內，煎至一盞。以新水沉之取冷。一服而盡。若鼻上有汗滴尤妙。</p>
<p><u>溫膽湯</u></p>
<p>治大病後虛煩不得睡。兼治心膽虛怯，觸事易驚，或夢寐不祥或異象眩惑，遂致心驚膽懾。氣鬱生涎，涎與氣搏，變生諸證，或短氣悸乏，或復自汗，或四肢浮腫，飲食無味，心虛煩悶，坐臥不安。悉能主之。</p>
<p>半夏（湯泡）　枳實（炒，各一兩）　橘紅（一兩半）　甘草（四錢）　茯苓（去皮，三分）</p>
<p>上㕮咀。每服四錢，水一盞半，姜七片，棗一個，竹茹一塊，煎至六分，去滓，食前熱服。（竹茹即刮竹青也。）</p>
<p><u>異功散</u></p>
<p>瘴瘧後調胃進食，順氣化痰，不冷不燥，功效尤多。</p>
<p>人參（去蘆）　茯苓（去皮）　白朮（麵炒）　陳皮（各等分）　甘草（炒，減半）</p>
<p>上㕮咀。每服二錢，水一盞，生薑五片，棗二個，煎七分，溫服。若胸膈痞悶，不嗜飲食，脾胃虛寒，素有痰飲，去甘草，加枳實、半夏等分，名六君子湯。如前煎服。</p>
<p><u>小烏沉湯</u></p>
<p>調中快氣，治心腹刺痛。</p>
<p>烏藥（去心一兩）　香附子（沙盆內淅去皮毛，焙乾，二兩）　甘草（一分）</p>
<p>上為細末。每服一錢，入鹽少許，沸湯點服，不拘時。</p>
<p><u>大養脾丸</u></p>
<p>補養脾胃，進美飲食。</p>
<p>乾薑（炮）　縮砂（去皮，各二兩）　白茯苓（去皮）　人參（去蘆）　大麥糵（炒，各一兩）　白朮（半兩）　甘草（爁，一兩半）</p>
<p>上為細末，煉蜜和丸，每兩分作八丸。每服一丸細嚼，生薑湯送下。</p>
<p><u>二氣香薷飲</u></p>
<p>治一切暑毒。</p>
<p>香薷（淨葉）　黃連（去須）　厚朴（各二兩）　生薑（四兩）</p>
<p>上先將生薑取汁，同黃連、厚朴，於銀磁器內罨一宿，炒令厚朴紫色為度。每服四錢，於銀磁銚內，以水一碗，煎至八分，入酒少許，再煎二三沸，冷服。暑毒作痢，先以此藥吞下，加巴豆感應丸，盪滌暑毒。如未痊瘥，卻再服痢藥。此理皆妙。</p>
<p><u>縮脾飲</u></p>
<p>解伏熱，除煩渴，消暑毒，止吐利。霍亂之後，服熱藥太多，致煩躁者，並宜服之。</p>
<p>白扁豆（去皮，炒）　乾葛（各二兩）　草果（煨，去皮）　烏梅（去仁不去核）　縮砂仁　甘草（炙，各四兩）</p>
<p>上㕮咀。每服四錢，水一大碗，煎八分去滓，以水沉冷服。以解煩。夏月常服，或欲熱欲溫，任意服。代熟水飲，極妙。若傷暑，發熱頭疼，宜用此藥兼消暑丸服之。</p>
<p><u>龍鬚散</u></p>
<p>治中暑迷悶，不省人事。暑月代一切暑藥，亦可。奴僕出入，此藥尤便。</p>
<p>白礬（一兩，生用）　甘草（炙，一兩半）　五倍子　飛羅面　烏梅（去仁不去核，各二兩）</p>
<p>上五味，為細末。每服三錢，新汲水調下。如泄瀉霍亂作渴，一服即愈。</p>
<p><u>六和湯</u></p>
<p>治夏月冒暑伏熱，心脾不調，霍亂吐瀉，或瘧或痢或咳嗽。廣南夏月瘴疾，冷熱未分，煩躁口渴，正宜服之。</p>
<p>人參（去蘆）　縮砂仁　甘草（炙）　杏仁（去皮尖）　半夏（湯洗七次，各一兩）　白扁豆（薑汁略炒）　赤茯苓（去皮）　藿香葉（拂去塵）　木瓜（各二兩）　香薷（去梗）　厚朴（薑汁製，各四兩）</p>
<p>上十一味銼散。每服四錢，水一盞半，生薑三片，棗子一枚，煎至八分去滓，不拘時候服。熱燥者冷服，肚痛泄瀉者溫服。夏月無疾亦宜服。</p>
<p><u>冷香湯</u></p>
<p>治夏秋暑濕，恣食生冷，遂成霍亂。陰陽相干，臍腹刺痛，脅肋脹滿，煩躁引飲。感瘴虛熱，胸膈不利，或嘔或泄。並宜服之。</p>
<p>良薑　檀香　甘草（炒）　附子（炮，各二兩）　丁香（二錢）　川薑（炮，三分）　草豆蔻（五個，煨）</p>
<p>上七味銼散。每服四錢，水二盅，煎至一盅，去滓，貯瓶內，沉井中，待冷服之。</p>
<p><u>一方</u></p>
<p>有草果無草豆蔻。</p>
<p><u>五苓散</u></p>
<p>治傷寒瘴疾，感暑中濕，小便不利，頭疼身熱，煩躁發渴等證。夏月主治尤多。第能伐腎氣，下虛者不可過服。</p>
<p>木豬苓（去皮）　赤茯苓（去皮）　白朮（去蘆，各一兩半）　肉桂（去粗皮，一兩）</p>
<p>上為細末。每服三錢。夏月背寒頭痛，發熱無汗，小便艱澀。濃煎連須蔥白湯調乘熱服，沖令額上有汗為效。或只用百沸湯調熱服及續啜熱湯，沖令汗出。或冒暑極熱之際，新汲水調亦可。熱瘴痢疾，小便不利者，並用熱水調之。大便水瀉，小便不利，加車前子末煎沸湯服。不宜過多。瘀熱在裡，身發黃疸，濃煎茵陳湯調下。一方加辰砂末，尤治蘊熱心煩。毛崇甫因母病孝誠感於北辰，夢授此藥，亦可謂神方也。但五苓散用桂，正如小柴胡湯用人參，大承氣湯用厚朴，備急丸用乾薑之類，欲其剛柔相濟亦存攻守之意也。故方書謂，五苓散無桂及隔年者，具不可用。近者鋪家有去桂五苓散，不知者為其所誤。如去桂而入人參，卻謂之春澤湯，治煩渴有效。</p>
<p><u>消暑丸</u></p>
<p>大解暑毒。治中暑煩躁悶亂，或欲絕者。</p>
<p>半夏（一斤，銼成兩片，甚小者不必銼，醋五升煮乾）　茯苓（去皮，半斤）　甘草（生，半斤）</p>
<p>上為細末。薑汁作糊，丸如梧子大。每服百丸，熟水嚥下。此藥合時，須用好醋煮半夏，生薑自然汁煮糊，勿雜生水。臻志修治，極有神效。中暑為患，藥下即蘇。傷暑發熱頭疼，用之尤驗。夏月常服止渴利水，雖多飲水，亦不為害。若痰飲停滯，或為飲食所傷，並用薑湯嚥下。入夏之後，不可缺此，應是暑藥皆不及此。</p>
<p><u>黃龍丸</u></p>
<p>治丈夫婦人伏暑發熱作渴，嘔吐噁心，及年深暑毒不瘥者。</p>
<p>黃連（去須，銼，二十四兩）　好酒（五升）</p>
<p>上黃連以酒煮乾為度。研為細末。用面水煮糊搜和為丸，如梧子大，每服三十丸，又療傷酒過多，臟毒下血，大便泄瀉，用米飲吞下，空心食前，日二服。一法。以銀銚盛酒藥，置於鍋內湯中煮，尤佳。近日醫家名酒蒸黃連丸。</p>
<p>霍亂吐瀉者，乃揮霍變亂之候也。倉促難得對證藥，所以多致殺人。尋常須是預製下藥始得。一法只偷解病人頭繒，以百沸湯一大呷泡汁，令病人頓服。卻勿令病人知是物。神效。</p>
<p><u>木瓜湯</u></p>
<p>治霍亂吐下不已，舉體轉筋，入腹悶絕。</p>
<p>木瓜（去瓤，一兩）　吳茱萸（湯洗七次，炒，半兩）　茴香（炒）　甘草（炙，各二錢半）</p>
<p>上銼散。每服四錢，水一盞半，生薑三片，紫蘇十葉，同煎至七分，去滓，溫服，無時。</p>
<p><u>良薑香薷湯</u></p>
<p>治伏暑傷冷，致作霍亂。</p>
<p>陳皮（去白）　藿香葉　香薷葉　甘草（炒）　生薑（和皮）　良薑　棗子（去核）　紫蘇葉　木瓜（去瓤，各等分）</p>
<p>上銼散。每服三錢重，煎服。一方用木瓜、香薷、高良薑等分。煎服。一方用藿香葉、良薑、木瓜各半兩，水二盞煎一盞服。一方用胡椒、綠豆各四十九粒，同研破。水煎服。或為末，木瓜湯調下。如神。一方以平胃散、五苓散等分，和為一處。熱湯調下。若霍亂煩躁發渴，隨意飲浸冷香薷散或縮脾飲，病去藥除，不宜過多。若食冷物，致令霍亂。不渴不煩，理中湯主之。若霍亂手腳轉筋不已，急取大蓼數莖，濃煎湯，如法淋洗。仍取濃煎汁先服，乃效。若心腹築痛，欲吐不吐，欲下不下，謂之乾霍亂。甚能殺人。宜用鹽湯三升頓服。卻以手抉口中令大吐。更服更抉吐之。痰物俱盡，然後服以理中湯。大率霍亂，脈浮洪者生。若脈微氣少，默默不欲言者，恐亦難保。</p>
<p><u>斷下湯</u></p>
<p>治赤白痢、及休息痢，瘴後患痢亦宜此藥。</p>
<p>草果（連皮，一個）　白朮（麵炒）　茯苓（各一錢）　甘草（半錢）</p>
<p>上㕮咀。用大罌粟殼十四枚，去筋膜並萼蒂，剪碎，用醋淹炒燥為粗末，同前作一劑。水二大盞，姜七片，棗子、烏梅各七個，煎至一大盞，分二服服之。赤痢加烏頭二七粒。白痢加乾薑半錢。若伏暑致痢者，先以香薷飲吞下，加巴豆感應丸。小便不通，用五苓散吞下，然後服此藥。若瘴後因食物忤脾胃，壯毒氣，致腹痛而痢，必有積物，須服蘇合香丸，加感應丸少許。氣虛者，卻不宜服。盪滌後服此藥。古方謂：痢乃滯下。又云：無積不成痢。如此乃宜先盪滌，不然則積無由去。瘴後痢疾，又有氣虛臟寒而患者，卻不可更加盪滌，宜服養臟湯，乃吞下震靈丹、玉華白丹等理中之劑。</p>
<p><u>養臟湯</u></p>
<p>治大人小兒，腸胃虛弱，冷熱不調，臟腑受寒，下痢赤白，或大便膿血，有如魚腦，裡急後重，臍腹㽲痛，日夜無度，胸膈痞悶，脅肋脹滿，全不思食。又治脫肛墜下，酒毒便血，諸藥不效者。</p>
<p>罌粟殼（去蒂蓋，蜜炙，三兩六錢）　木香（一兩四錢，不見火）　訶子皮（一兩二錢）　川當歸（去蘆，洗，焙）　人參（去蘆）　白朮（炒，各六錢）　白芍藥（一兩六錢）　肉豆蔻（麵裹煨一兩）　甘草（炙）　肉桂（去粗皮，各八錢）</p>
<p>上為粗末。每服二大錢，水一盞半，煎至八分，去滓，食前溫服。老人孕婦小兒暴瀉，宜急服之。立愈。忌酒、面、生冷、魚腥、油膩等物。如腸腑滑泄，夜起久不瘥者，可加炮附子三四片煎服。此藥神效，不可具述。</p>
<p><u>變通丸</u></p>
<p>治赤白痢。</p>
<p>吳茱萸（揀淨）　黃連（去須並蘆，銼骰子塊）</p>
<p>上等分。一處以好酒浸透。取出各自揀焙。或曬乾為細末。麵糊丸梧桐子大。赤痢用黃連丸三十粒，甘草湯下；白痢用茱萸丸三十粒，乾薑湯下；赤白痢各用十五粒相合並，以甘草乾薑湯下。</p>
<p>痢疾不納飲食，謂之禁口。醫者但知其危篤而畏縮，更不究其所致危篤之由，故多不救。良可愍哉。《易簡方》謂：宜用四柱散、理中湯、參苓散，加肉豆蔻、木香輩，或咽震靈丹等藥。何乃王德膚知其一而未知其二耶。蓋古方有用清心壓毒藥者，有用生胃進食藥者，豈可執一律以治之。如診而知其脾胃脈不弱，問而知其頭疼心煩，手足溫熱未嘗多服涼藥。此乃毒氣上衝心肺，所以嘔而不食，宜用敗毒散。每服四錢重，陳倉米一百粒，姜三片，棗一枚，水一盞半，煎至八分，去滓溫服。又方用石蓮子捶碎去殼，留心並肉，碾為細末。亦用陳米飲調下。若其脈微弱，或心腹虛膨，或手足厥冷，初病則不嘔，嘗服罌粟、烏梅及苦澀涼劑，或飲草藥已多。早晨未食先嘔，或才聞穢氣即嘔，不思飲食。此乃脾胃虛弱，卻可信《易簡方》之言。然別有一方，尤為易簡也。一味山藥銼如小豆大，一半銀瓦銚炒熟，一半生用，同碾為末，米飲調下，自有奇效。又嘗觀前輩癰疽方，治嘔而不食，亦有二說，毒氣攻心者，卻以乳香、綠豆粉作內托散治之；如脾胃虛弱者，用嘉禾散、山藥丸治之。若胸中更有活法，裁其方為禁口痢用，又何患不取功於危篤耶。</p>
<p><u>五皮散</u></p>
<p>治脾虛氣滯，頭面四肢臍腹腫滿，又治瘴瘧，飲水過度，或食毒物，忤脾觸氣乃成腫疾。</p>
<p>大腹皮　桑白皮　茯苓皮　生薑皮　陳橘皮（各等分）</p>
<p>上為銼散。每服四錢，水一盞半，煎八分，去滓熱服，病在上食後，病在下空心。忌生冷糍糕、毒物。</p>
<p><u>實脾散</u></p>
<p>治脾虛浮腫，瘴後腫滿，亦宜用之。</p>
<p>大附子（一個）　草果仁　乾薑（各二兩）　大腹子（六個，連皮）　木瓜（一個，去瓤，切片）</p>
<p>上用水，於銀磁器內同煮乾，一半以手擘開，乾薑心不白為度，不得全令水乾。恐近底焦，取出銼末。每服三錢，空心日午沸湯點服。《百一選方》治膨脹，用嘉禾散、四柱散等分，合和煎服。常用以治頭面四肢腫者亦效。又嘉禾散治腫甚效。</p>
<p><u>三生飲</u></p>
<p>治痰厥、飲厥及氣虛眩暈，或似卒中，口眼喎斜，咽喉作聲。</p>
<p>天南星（一兩）　川烏頭　生附子（各半兩）　木香（一分）</p>
<p>上㕮咀。每服半兩，水二盞，姜十片，煎至六分，去滓溫服。</p>
<p><u>一方</u></p>
<p>氣盛人止用南星八錢，木香一錢，加生薑十四片，煎作兩服，名星香散。</p>
<p><u>一方</u></p>
<p>氣虛人用生附子、木香、生薑，亦如前數煎服，名附香飲，《易簡方》謂用天雄代附子亦妙。痰涎壅甚者，每服加全蠍五個，仍服黑錫丹鎮墜，或口禁用細辛、皂角末少許，或半夏末吹入鼻中，候噴嚏得少蘇，卻急進藥。</p>
<p><u>一方</u></p>
<p>附子、天雄、川烏頭各一兩，木香半兩，薑、棗煎，更入磨沉香水服。六脈俱虛者可用之，若挾熱中風者不宜三生飲。《續易簡方》非之頗當。</p>
<p>以上治痰、治腫、治痢數方，皆為瘴後復證而設。所謂復證，豈非傷寒壞證之勞復、食復，與夫陰陽易之類乎？古方有云：傷寒復證，乃病家不善調攝之過，即此證也。且如外方瘧疾，視它病尤難調攝。況汪南容有言，瘴病後調攝，又倍於外方之難。如此則瘴後豈容不謹，若夫病中不戒酒肉，時渴飲水，寧免忤脾胃壯毒氣得不變為腫滿，泄痢嘔逆乎？又病後脾氣未快，邪氣未絕，恣意飲食，與夫酤酒市脯，色色無忌，豈不積而作痢，聚而作痰，浮而作腫？治其腫則宜實脾快氣，可於嘉禾散、小烏沉湯、五皮散、實脾散中詳酌用之。切不可服章柳、芫花下水之劑，雖降氣湯亦不可輕服。嘉禾散自制至妙，或宜加薑、附等煎之。大概合補脾而使氣快，脾克腎則縱有水亦不能危害。諸腫疾臍凸腫，手足無紋，滿腹青筋，腰腫陰腫，其脈沉細，皆為難起。治痰則宜理氣壯胃，然痰證為喘、為咳、為嘔逆、為麻木、為痞膈，悉當隨證施治。三生飲治卒暴痰厥、眩暈等證。若遺溺手散口開者，難取效。泄痢能飲食而脈微小者猶庶幾哉。若脈洪浮而大鮮有不斃。汪子迪所謂：瘴體先虛，虛不宜利者是也。治瘴後痢本難立方，當求明醫察其脈證以處之。如前數藥皆雖良劑，亦不可過備急而已。臨時加減。通醫者必能反隅。如此等證，皆由病瘴不善將理而得之。豈可更輕生不信戒忌乎？豈可不急求醫脈尚服草藥乎？若猶因循而致困頓，是雖良醫，亦未如之何。</p>
<p><u>玉屏風散</u></p>
<p>治虛弱人腠理不密，易感冒於風寒。</p>
<p>防風（一兩）　黃耆（蜜炙）　白朮（各二兩）</p>
<p>上㕮咀。每服三錢重，水一盞半，棗一枚，煎七分，去滓，食後熱服。</p>
<p><u>實表散</u></p>
<p>治腠理不密，易致感冒，先服此藥，則感冒自然解散。</p>
<p>附子（炮，去皮臍）　蓯蓉（酒浸一宿，焙乾）　細辛（去葉）　五味子（各等分）</p>
<p>上為粗末。每二錢，入黃耆建中湯三錢，如法煎服。</p>
<p><u>香苓湯</u></p>
<p>暑月至要之藥。</p>
<p>香薷（炮，二兩）　茯苓（去皮）　陳皮　乾薑（炮，各二兩）　甘草（五兩）　厚朴（一兩，姜炙）</p>
<p>上為細末。入鹽少許，沸湯調服，不拘時。</p>

<h2>續附蛇虺螫䘌諸方</h2>
<p>五嶺之南，不惟煙霧蒸濕，亦多毒蛇猛獸。故前賢有詩云：霧鎖瓊崖路，煙籠柳象州，巴蛇成隊走，山象著群遊。又編類集，及嶺外代答本草諸書，備言廣郡多蛇虺蜈蚣。愚既表出瘴癘論方，又不得不附治蛇虺螫䘌數方，以濟人之緩急。尤當謹者：夜起不可倉促，及不可無燈，又不可不穿鞋襪。嘗聞有人中夜下榻，而蜈蚣偶棲其鞋上，足一觸之，連咬數口，呻吟苦痛。經旬日後，方得香白芷、雄黃末服之，藍靛汁傅之乃愈。又聞有夜急登廁者，遇蛇傷其肛門，且不曉藥，毒中臟腑，坐受其斃。張季明《醫說》載一村婦忽卒吹火，不知火筒中偶有蜈蚣，驚逃竄入喉，致下胸臆，悲泣求救。傍人云：可討小豬兒一隻，斷喉取血，（一說雞血尤妙。）令婦人頓吃，須臾更灌生油一口，遂噁心，其蜈蚣滾在血中吐出，繼與雄黃，細研水調服遂愈。又載：有人為蝮所齧，致遍身皮脹，口吐黃水，良久悶絕。一道人以新汲水調香白芷末二錢，灌之立蘇，再服及愈。道人云：法當以麥門冬湯調服，今倉促以水代之亦效。《本草衍義》載有被蛇傷而昏困者，一僧以五靈脂一兩，雄黃半兩，為末，酒下二錢，遂蘇。凡遭蛇虺、蜈蚣、蝮、蠍等傷，急取香白芷、雄黃末、靛花生藍汁之類，且服且傅，立有功效。或但得白礬，火上炙溶滴在所傷處，解其毒亦可也。治虎犬咬，亦宜以白礬末摻瘡封裹之，自愈。</p>
<p><u>一方</u></p>
<p>用醋煮白礬，治蠍傷，蓋醋主收斂，不使毒氣散漫也。又蛇傷者，只以蛇蛻皮一片，貼在傷處，就灼艾三五壯，引去毒氣。《朝野僉》載云：凡惡蟲所螫，馬汗入瘡，可取艾灸其傷處，即此法也。非蛇傷卻不必蛇蛻，蜈蚣傷雞冠血及雞屎塗亦可。又法捉大蜘蛛一枚，縱其齧所傷處，候吃其毒。蜘蛛困悶自落，卻滴冷水數點以治之。如覺未愈，更捉一枚齧之，使毒氣淨盡也。</p>
<p><u>一法</u></p>
<p>治蛇入口並七孔中者，割母豬尾瀝血於口中並孔中即出。</p>
<p><u>一法</u></p>
<p>治卒為蛇繞不解。用熱湯淋之。若倉促無湯令人尿之。</p>
<p><u>一方</u></p>
<p>治赤蜈蚣毒，用桑枝汁同鹽擦痛處。或溶蠟於痛處肉赤為度。</p>
<p><u>又方</u></p>
<p>用皂角於咬上炷艾灸，熱則去之。</p>
<p><u>一方</u></p>
<p>治蜘蛛飛絲入口。用紫蘇葉不問舊新，嚼之即愈。</p>
<p><u>癸亥續此於封川</u></p>

<h2>《集驗》治蠱毒諸方</h2>
<p>凡蟲毒有數種，曰蛇毒、蜥蠍毒、蛤蟆、蜣螂、草毒，皆是變亂元氣也，有人固造作之者，即謂之蠱。多因飲食內而行之，與人患禍。患禍於他則蠱主吉利。所以蠹害之徒蓄事之。人中其毒者，心腹絞痛，如有物齧，或吐下血，皆如爛肉。或好臥暗室，不欲光明。或心性反常，乍嗔乍喜。或四肢沉重，百節痠疼。或乍寒乍熱，身體習習而痹，胸中滿悶。或頭目痛。或吐逆不定。或面目青黃，甚至十指暗黑。診其脈緩大而散，皆其候也，然其毒有緩有急，急者倉促，或數日乃死。緩者延引歲月，遊走腸內，蝕五臟盡則死。治蠱方藥甚多，今但取其簡而易，用之已驗者耳。</p>

<h3>驗蠱毒法</h3>
<p>令病人唾於水內，沉者是蠱，浮者即非。或令含黑豆驗之。若豆脹爛皮脫則是蠱，不脫則非。又初虞世方云：嚼黑豆不腥，嚼白礬味甘，皆中毒之候也。</p>
<p><u>歸魂散</u></p>
<p>凡初中蠱在膈上者，當用此藥吐之。</p>
<p>白礬　建茶（各一兩）</p>
<p>上二味為細末。每服五六錢，新汲水調下頓服。一時久當吐毒出。此藥入口其味甘甜，並不覺苦味者是也。</p>
<p><u>雄朱丸</u></p>
<p>解諸中毒。</p>
<p>麝香（一分，別研）　雄黃（別研，水飛過）　硃砂（別研，水飛過）　赤腳蜈蚣（微炙，去足）　續隨子（各一兩）</p>
<p>上為細末。入雄黃、硃砂、麝香研勻，以糯米煮粥，和丸如雞頭。每服一丸，熱酒吞下。毒當與藥俱下。</p>
<p>凡病人服藥吐利之後，猶覺前後心刺痛拘急，咽中茆刺者，此是服吐利藥之候也。更不須再服吐利藥，但服桔梗散自然平愈。</p>
<p><u>桔梗散</u></p>
<p>桔梗（去蘆，味苦者不拘多少，銼細，微炒）</p>
<p>上為細末，每服三錢，米飲調服，不拘時候。此藥不吐不利，加之易為收買，多服者有益。如服吐利藥而後，日二三服，使毒氣日漸消散，不致再發動也。</p>
<p><u>佛說解蠱毒神咒</u>（出《大藏經》。）</p>
<p>凡在旅中飲食，先默唸七遍，其毒不行。咒曰：</p>
<p>姑蘇啄，摩邪啄，吾知蠱毒生四角，父是穹窿男，母是舍邪女，眷屬百萬千，吾今悉知汝，摩訶薩摩訶。</p>
<p><u>一法</u></p>
<p>每日或所到處，念「藥王萬福」四字一七遍，亦驗。</p>
<p><u>灸蠱毒法</u></p>
<p>當足小指尖灸三炷，即有物出，（酒上得者酒出，肉菜上得者肉菜出，飯上得者飯出。）</p>
<p><u>治螞蟥蠱毒</u></p>
<p>覺是此物先念「解蠱毒咒」，次飲生蜜。其毒化為水。凡中一切水族之毒，以蜜或飲或塗傷處，立解。</p>
<p><u>解百藥毒方</u></p>
<p>油煎大甘草（成寸）　油煎柏葉（蒸過方煎，如向上者不用）</p>
<p>上二味，覺中毒急咀嚼。常服亦得。</p>
<p><u>又治蠱毒挑生及蒙汗諸中毒神效諸方</u></p>
<p>蠱毒之害，應人飲食可以中人。其候腹大脹緊如石，面目青黃，小便淋澀，或瀉血，或吐而喉中妨悶，有如刀刺。</p>
<p><u>一方</u></p>
<p>川升麻　桔梗（去蘆）　瓜蔞根（各一兩）</p>
<p>上為細末。每服二錢，水一盞，煎六分，去滓服，不拘時候。</p>
<p><u>一方</u></p>
<p>土瓜根如大拇指大，長三寸，銼碎，以酒一盞，浸一宿，為一服。吐出即愈。</p>
<p><u>一方</u></p>
<p>皂角長一尺者，去黑皮並子，用酒一大盞，浸一宿，方去滓，空心服。</p>
<p><u>一方</u></p>
<p>敗鼓皮燒為末。酒調二錢服之。凡中蠱毒，皆是昏睡不省人，用此方，能言下藥人姓名，極驗。</p>
<p><u>一方</u></p>
<p>桃樹上的寄生三兩，為細末，如點茶，每服一錢，不拘時候。</p>
<p><u>一方</u></p>
<p>蠶蛻紙（是出了蠶子了紙也。此藥宜令常隨行以備急用。）不拘多少，用清油紙燭燒為灰，研極細。稍覺中毒，雖面青脈絕，腹脹吐血口噤。速以新汲水調一錢頻服即活。若彼蒙汗，昏昧如醉，此藥下咽即醒。</p>
<p><u>一方</u></p>
<p>茶芽（焙）　生甘草　生白礬（乳缽研）</p>
<p>上各等分，為細末。每服一錢，以新汲水調下。若中毒一月，其毒自大便下。若中蠱毒，即吐出肉塊，次服補藥，生糯米粉以烏豬膽汁為丸，如梧桐子大。每服三十丸，熟水吞下。</p>
<p>廣南挑生殺人，以魚肉延客。對之行厭勝法。魚肉能反生於人腹中，而人以死。相傳謂：人死陰役於其家。昔雷州推官司戶符昌言：乾道五年親勘一公事挑生，買肉置於盤中，俾囚作法，以驗其術。有頃，肉果生毛。何物淫鬼，乃能爾也。然解之亦甚易。但覺有物在胸膈，則急服升麻以吐之。覺在腹中，急服鬱金以下之。雷州鏤板印行者，蓋得之於囚也。（［梯注]按《範石湖文集》云：李燾為雷州推官，鞠獄得治蠱方。毒在上，用升麻吐之；在腹，用鬱金下之；或合二湯服之，不吐則下。此方活人甚多也。）</p>
<p>挑生之害，於飲食中魚肉果菜，皆可挑生而中人。其候初覺胸腹痛，次日漸攪刺，十日毒在腹中能動。凡胸臆痛為在上膈，腹痛為在下膈。</p>
<p><u>在上膈方</u></p>
<p>丹礬半錢，投在一盞熱茶內，候礬溶化，通口服。以頃以雞羽攪喉中，即吐出毒物。</p>
<p><u>在下膈方</u></p>
<p>鬱金末二錢。飯湯調下，即瀉下惡物。</p>
<p><u>吐瀉後補治方</u></p>
<p>人參　白朮（各半兩）</p>
<p>上銼細。入無灰酒半升，以瓦瓶盛之，於慢火中煨半日許，候酒熟服。每服一小盞。五日乃止。</p>
<p><u>治胡蔓草毒方</u></p>
<p>胡蔓草（［梯注]《本草綱目》「鉤吻」條載此文，云：時珍又訪之南人，云：鉤吻即胡蔓草，今人謂之斷腸草是也。）葉如茶，其花黃而小。一葉入口，百竅潰血，人無復生也。廣西愚民私怨，茹以自斃。家人覺之，即時取雞卵抱未成雞者，研爛和麻油灌之，吐出毒物乃生。稍遲即死也。如入誤服此草者，止以前法解之。</p>
<p>南方盛夏行路遇大熱，飲水只可一二口，多則水氣逼住，氣不得伸。發緊痧立死。慎之。若毒微者，前諸解毒方，須用之即醒。</p>
<p><u>蘇合香丸</u></p>
<p>治氣中，或卒暴氣逆心痛鬼魅惡氣。</p>
<p>沉香　麝香（別研）　訶黎勒（煨，用皮）　丁香　青木香　香附子（炒，去皮）　安息香（別研，為末，用無灰酒一升，煮為膏）　蓽菝　白朮　白檀香　熏陸香（別研）　烏犀角（各五錢）</p>
<p>上為細末，入別研藥極勻。用安息香膏並煉蜜和丸，重八分，蠟為皮。治大人卒中風癇、小兒急慢驚風，牙關緊閉。每服一丸或半丸，去蠟用生薑自然汁化開，擦牙關。再用薑湯調藥灌下。及治感冒風寒，噁心吐瀉，心氣腹痛，白痢，婦人產後中風，泄瀉嘔吐，腹痛，俱用薑湯化下。山嵐瘴氣，清晨溫酒化下。</p>
<p><u>治楊梅瘡方</u>（一名木棉疔，一名天疱瘡）</p>
<p>胡麻　蔓荊子　枸杞子　荊芥　牛蒡子　山梔子　防風　黃連　大黃（各二錢）　黃柏　苦參　山豆根　輕粉　白蒺藜（各一錢）</p>
<p>上精製為末。水煮麵為丸，如梧桐子大。每服重二錢半，用茶五更吞服。午時又一服。自覺口內痛住服。忌葷腥、油醬、炙炒、香焦之物、生果之類。宜食淡粥。切戒房室。更養七情。如此七日見效。</p>
<p>服前方後，口損疼痛者，用此方以解之。</p>
<p>黃柏　防風　荊芥　犀角　桔梗　牛蒡子　連翹　甘草（各等分）</p>
<p>上八味，水一盅半，煎至八分，停冷，逐口噙吐。</p>
<p><u>敷藥方</u></p>
<p>銀硃　輕粉（各一錢）　黃蠟　清油（各一兩）</p>
<p>先將黃蠟同油煎化，後入朱粉二味，和勻成膏。入磁罐收貯。隨瘡大小，敷搽二三次，瘡痂即脫。</p>
<p><u>又方</u></p>
<p>大楓子（三錢）　輕粉（一錢）</p>
<p>上二味為末。塗瘡上即愈。</p>

<h1>校刻嶺南衛生方下卷附錄</h1>
<p>（以此下原本屬第四卷）</p>
<p>安道按：諸證皆有發熱，不可悉歸於瘴也。故敢搜輯八證，標其類之尤者，以便於分析，使可便召名醫之專門者調治。況北人初至百粵，及於遐荒絕域之地。其業醫者，既鮮且繆。一時未諳，概以瘴論。反歸咎於是書也。倘留心於是，則或少逭橫天者之一二。求同志者，以發揚云而。並附東垣藥性賦於後，以便處方觀覽。</p>

<h2>八證標類</h2>

<h3>痰證</h3>
<p>痰者，津液所化。蓋由風傷於肺，肺氣不清而生痰；濕傷於脾，脾氣凝濁而生痰。痰之為病，憎寒壯熱，惡風自汗，胸膈滿悶，氣上衝咽而不得息。但頭不痛，項不強。若涎多者，亦隱隱頭痛。其脈右手關部滑大，或弦滑。痰涎蓄積於中脘，或有寸浮者，亦有寸伏者，又有寸口沉滑者，有沉伏者。必痰垢膩於上膈也。</p>

<h3>食積</h3>
<p>蓋由脾胃伏熱，因食不化，以致身熱惡食。惡寒則亦頭痛而不甚，但身不疼，心腹胞悶，或手按之則痛。可辨其脈，左手人迎平和，右手氣口脈緊盛。若關脈滑而沉，此有宿食也。</p>

<h3>虛煩</h3>
<p>其人素弱，有所勞傷，因而損氣，氣衰則火旺。《經》曰：陰虛生內熱。心中鬱悶不安，發熱困倦。病來潮作之時，氣少懶語，怯弱聲低。或氣虛喘促。但不惡寒，不頭疼，不身痛。濈濈然汗出，腿痠無力，沉困倦怠。脈浮芤無力。</p>

<h3>腳氣</h3>
<p>天之風寒暑濕之氣，蒸於足，頭痛惡寒，肢節疼痛。便秘嘔逆，腳軟屈弱，不能動履，但起於腳膝耳。尤忌補劑及淋洗開冷草藥攤盦。若犯此禁，則毒氣入心，小腹頑痹不仁。或氣喘嘔吐。</p>

<h3>瘡毒</h3>
<p>皆屬心火。發熱而灑淅惡寒，與傷寒相似，但飲食如常。其脈大而浮數。《方脈舉要》云：平人脈大，尤當審詳。若有痛處，恐發瘡瘍，驗其遍身，或有紅腫，或如粟米。此乃疔腫之兆也。</p>

<h3>淤血</h3>
<p>人有惡寒發熱，狀似傷寒。其脈芤澀，其證脅下與小腹㽲痛。手不可近，大便黑，小便利者。此淤血證諦也。蓋脅與小腹乃屬肝部。肝為血海，故有瘀血蓄積於此。須審其日前曾有跌墜挫閃拳踢之情。若服寒涼藥，恐血得寒則凝。倘瘀血上衝，昏迷不省，良久復甦。此皆血證之候也。宜行氣活血之藥可也。</p>

<h3>勞發</h3>
<p>其人元氣寡弱，素有痰火，結核於胯縫或腋下，或臂膊上。略有動作勞傷。則一時硬腫疼痛。煎寒作熱，狀似傷寒，其脈弦數無力。若腿縫有核腫者，俗呼為腿勞發。若腋下有核，及臂膊有核腫者，有無核而作寒熱者，此皆謂勞發證也。蓋因氣血虛弱，勞役所致。斯勞發之名，乃世俗傳襲之言耳，非正病名也。不可汗，不可下。但宜補血養氣，滋陰降火，清痰和解之劑。其病自瘳矣。待候周時，輕者則不服藥，自然微汗而解也。</p>

<h3>痘疹</h3>
<p>凡幼稚之兒，並年少之人，忽發熱憎寒，頭疼身痛，唇紅臉赤，噴嚏喘咳，狀類傷寒。不可遽施汗下。先須論其曾出蛻瘡否。如未出者，當驗尻骨耳尖並足皆冷。又觀耳後有紅脈赤縷為的。此證又有疹子，俗呼為麻子。今此處悉借痘證法治療，鮮有不繆者也。《麻疹骨髓賦》云：疹雖胎毒，多帶時行氣候。暄熱非令，男女傳染而成。其發也，與痘相類。其變也，比痘匪輕。愚夫愚婦嘗視如泛常，若死若生，總歸於天命。不知毒起於脾，熱流於心，始終之變。省則無證。臟腑之傷，肺則尤甚。閉門問途，不如路中尋徑。揚湯止沸，不若灶里抽薪。初則發熱，亦似傷寒，目出淚而不止，鼻流涕而不幹，咳嗽太急，煩躁難安。以火照之，隱隱皮膚之下；以手摸之，磊磊肌肉之間，其形如疥，其色若丹，隨出隨沒，乍隱乍現。根窠若腫兮，疹而兼隱。皮膚如赤兮，疹以夾斑，似景而明兮，十有九效。如煤而黑兮，百無一生。疹毒尤重，治法不同。微汗常出，熱勢越而不留。清便自調，邪氣行而無壅。腠理怫鬱兮，即當發散。腸胃秘結兮，急與疏通。苟視大而若細，恐變吉而為凶。惟衄不必憂，邪從衄解。利不必止，毒隨利松。所喜者身上清涼。可畏者咽喉腫痛。飲水不休，法在生津養血。飲食欲減，方須救胃和中。此疹痘之證，正於瘴氣借傷寒書治之而多訛，故略表於此。已上八證非傷寒，亦非瘴氣，各有專科門類，識者鑑之。</p>

<h2>李杲藥性賦</h2>
<p><u>羌活</u></p>
<p>味苦甘平，性微溫，無毒。升也。陰中之陽也。其用有五：散肌表八風之邪；利周身百節之痛；排巨陽肉腐之疽；除新舊風濕之證；乃手、足太陽表裡引經之藥也。</p>
<p><u>升麻</u></p>
<p>味苦平，性微寒，無毒。升也。陰中之陽也。其用有四：引蔥白散手陽明之風邪；引石膏止足陽明之齒痛；引諸藥遊行四經；升陽氣於至陰之下。因名之曰開麻。</p>
<p><u>柴胡</u></p>
<p>味苦平，性微寒，無毒。升也。陰中之陽也。其用有四：主左右兩旁脅下痛；日晡潮熱往來；主在臟調經內之血；在肌主氣上行經。手足少陽表裡四經之藥也。</p>
<p><u>白芷</u></p>
<p>味辛，性溫，無毒。升也，陽也。其用有四：能去頭面皮膚之風；除皮膚燥癢之痹；止足陽明頭痛之邪；為手太陰引經之劑。</p>
<p><u>防風</u></p>
<p>味甘辛，性溫，無毒。升也。陽也。其用有二：以氣味能瀉肺金；以體用通療諸風。</p>
<p><u>當歸</u></p>
<p>味甘辛，性溫，無毒。可升可降。陽中微陰。（［梯注]胡文煥校本無「中微陰」三字也。）其用有四：頭止血而上行；身養血而守中；稍破血而下流；全活血而不走。</p>
<p><u>獨活</u></p>
<p>味苦甘平，性微溫，無毒。升也。陰中之陽也。其用有三：諸風掉眩，頸項難伸；風寒濕痹，兩足不用；及為足少陰之引經。</p>
<p><u>木香</u></p>
<p>味苦甘辛，性微溫，無毒。降也。陰也。其用有二：調諸氣不可無；泄肺氣不可闕。</p>
<p><u>檳榔</u></p>
<p>味苦辛，性溫，無毒。降也。陰也。其用有二：墜諸藥，性若鐵石；治後重，驗如奔馬。</p>
<p><u>吳茱萸</u></p>
<p>味苦辛，性熱。有小毒。可升可降。陽也。其用有四：咽嗌寒氣噎塞而不通；胸中冷氣閉塞而不利；脾胃停冷腹痛而不住；心氣刺痛成陳而不止。</p>
<p><u>藿香</u></p>
<p>味甘辛，性溫，無毒。可升可降。陽也。其用有二：開胃口能進飲食；止霍亂仍除嘔逆。</p>
<p><u>川芎</u></p>
<p>味辛，性溫，無毒。升也陽也。其用有二：上，行頭角助清陽之氣止痛；下，行血海養新生之血調經。</p>
<p><u>黃連</u></p>
<p>味苦，性寒，無毒。沉也。陰也。其用有四：瀉心火，消心下痞滿之狀；主腸澼，除腸中混雜之紅；治目疾暴發宜用；療瘡瘍首尾俱同。</p>
<p><u>黃芩</u></p>
<p>味苦平，性寒，無毒。可升、可降。陰也。其用有四：中枯而飄者，瀉肺火，消炎利氣；細實而堅者，瀉大腸火，養陰退陽；中枯而飄者，除寒濕留熱於肌表；細實而堅者，滋化源退熱於膀胱。</p>
<p><u>大黃</u></p>
<p>味苦，性寒，無毒。其性沉而不浮。其用走而不守。奪土鬱而通壅滯，定禍亂而致太平，名之曰將軍。</p>
<p><u>黃柏</u></p>
<p>味苦，性寒，無毒。沉也。陰也。其用有五：瀉下焦隱伏之龍火；安上焦虛噦之蛔蟲；臍下痛，單治而能除；腎不足，炒用而能補；痿厥除濕藥中不可闕。</p>
<p><u>玄明粉</u></p>
<p>味辛、甘酸，性微溫，無毒。沉也。陰也。其用有二：去胃中之實熱；蕩腸中之宿垢。其妙不可盡述，大抵用此而代盆硝也。</p>
<p><u>白朮</u></p>
<p>味甘，性溫，無毒。可升可降。陽也。其用有四：利水道有除濕之功；強脾胃有進食之效；佐黃芩有安胎之能；君枳實有消痞之妙。</p>
<p><u>人參</u></p>
<p>味甘，性溫，無毒。升也。陽也。其用有三：止渴生津液；和中益元氣；肺寒則可服，肺熱還傷肺。</p>
<p><u>黃耆</u></p>
<p>味甘，性溫，無毒。升也。陽也。其用有四：溫肉分而實腠理；益元氣而補三焦；內托陰證之瘡瘍；外固表虛之盜汗。</p>
<p><u>甘草</u></p>
<p>味甘平，無毒。生則寒；炙則溫。生則分身梢而瀉火；炙則健脾胃而和中。解百毒而有效，協諸藥而無爭。以其甘能緩急，故有國老之稱。</p>
<p><u>半夏</u></p>
<p>味辛平，生寒，熟溫，有毒。降也。陽也。其用有四：除濕化痰涎；大和脾胃氣；痰厥及頭疼；非此莫能治。</p>
<p><u>陳皮</u></p>
<p>味辛苦，性溫，無毒。可升、可降。陽中之陰也。其用有二：留白補胃和中；白消痰泄氣。</p>
<p><u>青皮</u></p>
<p>味苦，性寒，無毒。沉也。陰也。其用有四：破滯氣愈低而愈效；削堅積愈下而愈良；引諸藥至厥陰之分；下飲食入太陰之倉。</p>
<p><u>枳殼</u></p>
<p>味苦酸；性微寒，無毒。沉也。陰也。其用有四：消心下痞塞之痰；泄腹中滯塞之氣；推胃中隔宿之食；削腹內連年之積。</p>
<p><u>枳實</u></p>
<p>味苦酸，性微寒，無毒。沉也。陰也。其用有四：消胸中之虛痞；逐心下之停水；化日久之稠痰；削年深之堅積。</p>
<p><u>桔梗</u></p>
<p>味苦辛，性微溫，有小毒。升也。陰中之陽也。其用有四：止咽痛，兼除鼻塞；利膈氣，仍治肺癰；一為諸藥之舟楫；一為肺部之引經。</p>
<p><u>知母</u></p>
<p>味苦，性寒，無毒。沉也。陰中之陰也。其用有四：泄無根之腎火；療有汗之骨蒸；止虛勞之陽勝；滋化源之陰生。</p>
<p><u>藁本</u></p>
<p>味苦辛，性微溫，無毒。升也。陰中之陽也。其用有二：大寒氣客於巨陽之經；苦頭痛流於巔頂之上。非此味不除。</p>
<p><u>生地黃</u></p>
<p>味甘苦，性寒，無毒。沉也。陰也，其用有四：涼心火之血熱；瀉脾土之濕熱；止鼻中之衄熱；除五心之煩熱。</p>
<p><u>熟地黃</u></p>
<p>味甘苦，性微溫，無毒。沉也。陰也。其用有四：活血氣封填骨髓；滋腎水補益真陰；傷寒後脛股最痛；新產後臍腹難禁。</p>
<p><u>五味子</u></p>
<p>味酸，性溫，無毒。降也。陰也。其用有四：滋腎經不足之水；收肺氣耗散之金；除煩熱生津止渴；補虛勞益氣強陰。</p>
<p><u>川烏頭</u></p>
<p>味辛，性熱，有毒。浮也。陽中之陽也。其用有二：散諸風之寒邪；破諸積之冷痛。</p>
<p><u>白芍藥</u></p>
<p>味酸平，性寒，有小毒。可升可降。陰也。其用有四：扶陽氣大除腹痛；收陰氣陡健脾經；墜其胎能逐其血；損其肝能緩其中。</p>
<p><u>白茯苓</u></p>
<p>味甘淡，性溫，無毒。降也。陽中之陰也。其用有六：利竅而除濕；益氣而和中；小便多而能止；大便結而能通；心驚悸而能保；津液少而能生。白者入壬癸，赤者入丙丁。</p>
<p><u>澤瀉</u></p>
<p>味甘鹹，性寒，無毒。降也。陽中之陰也。其用有四：去胞垢而生新水；退陰汗而止虛煩；主小便淋澀仙藥；療水病濕腫靈丹。</p>
<p><u>薄荷</u></p>
<p>味辛，性涼，無毒。升也。陰中之陽也。其用有二：清利六陽之會首；祛除諸熱之風邪。</p>
<p><u>麻黃</u></p>
<p>味苦甘，性溫，無毒。升也。陰中之陽也。其用有二：其形中空，散寒邪而發表；其節中閉，止盜汗而固虛。</p>
<p><u>厚朴</u></p>
<p>味苦辛，性溫，無毒。可升可降。陰中之陽也。其用有二：苦能下氣，去實滿而泄腹脹；溫能益氣，除濕滿散結調中。</p>
<p><u>杏仁</u></p>
<p>味苦甘，性溫，有毒。可升可降。陰中之陽也。其用有二：利胸中氣逆而喘促；潤大腸氣秘而便難。</p>
<p><u>巴豆</u></p>
<p>味辛，性熱，有大毒。浮也。陽中之陽也。其用有二：削堅積，蕩臟腑之沉寒；通閉塞，利水穀之道路；斬關奪門之將，不可輕用。</p>
<p><u>附子</u></p>
<p>味辛，性熱，有大毒。浮也。陽中之陽也。其性浮而不沉，其用走而不息。除六腑之沉寒，定三陽之厥逆。</p>
<p><u>蒼朮</u></p>
<p>味甘，性溫。主治與白朮同，補中除濕，力不及白朮。寬中發汗，功過於白朮。</p>
<p><u>秦艽</u></p>
<p>味苦辛平，性微溫，無毒。可升可降。陰中之陽也。其用有二：除四肢風濕若神；療遍體黃疸如金。</p>
<p><u>白殭蠶</u></p>
<p>味辛平，性微濕，無毒。升也。陰中之陽也。其用有二：去皮膚風動如蟲行；主面部䵟生如漆點。</p>
<p><u>白豆蔻</u></p>
<p>味辛，性溫，無毒。升也。陽也。其用有四：破肺中滯氣；退目中雲氣；散胸中冷氣；補上焦元氣。</p>
<p><u>地榆</u></p>
<p>味苦甘酸，性微寒，無毒。沉也。陰也。其用有二：主下部積熱之血痢；止下焦不禁之月經。</p>
<p><u>連翹</u></p>
<p>味苦平，性微寒，無毒。升也。陰也。其用有二：瀉諸經之客熱；散諸腫之瘡瘍。</p>
<p><u>阿膠</u></p>
<p>味甘平，性微溫，無毒。降也。陽也。其用有四：保肺益金之氣；止嗽蠲咳之痰，補虛安妊之胎；治痿強骨之力。</p>
<p><u>桃仁</u></p>
<p>味苦甘平，性寒，無毒。降也。陰也。其用有二：潤大腸血秘之便難；破大腸久蓄之血結。</p>
<p><u>生薑</u></p>
<p>味辛，性溫，無毒。升也。陽也。其用有四：製半夏有解毒之功；佐大棗有厚腸之益；溫經散表邪之風；益氣止翻胃之噦。</p>
<p><u>石膏</u></p>
<p>味辛甘，性大寒，無毒。沉也。陰也。其用有二：制火邪，清肺氣，仲景有白虎之名；除胃熱，奪甘食。易老云大寒之劑。</p>
<p><u>桂</u></p>
<p>味辛，性熱，有毒。浮也。陽中之陽也。氣之薄者桂枝也。氣之厚者肉桂也。氣薄則發泄，桂枝上行而發表。氣厚則發熱，肉桂下行而補腎。此天地親上親下之道也。</p>
<p><u>細辛</u></p>
<p>味辛，性溫，無毒。升也。陽也。其用有二：止少陰合病之首痛；散三陽數變之風邪。</p>
<p><u>梔子</u></p>
<p>味苦，性大寒，無毒。沉也。陰也。其用有三：療心中懊惱顛倒而不得眠；治臍下血滯小便（［梯注]胡本「小便」下有「而」字。）而不得利；易老云：輕飄而象肺，色赤而象火，又能瀉肺中之火。</p>
<p><u>葛根</u></p>
<p>味甘平，性寒，無毒。可升可降。陽中之陰也。其用有四：發傷寒之表邪；止胃虛之消渴；解中酒之苛毒；治往來之溫瘧。</p>
<p><u>瓜蔞根</u></p>
<p>味苦，性寒，無毒。沉也。陰也。其用有二：止渴退寒熱；補虛通月經。</p>
<p><u>豬苓</u></p>
<p>味淡甘平，性溫，無毒。降也。陽中之陰也。其用有二：除濕腫，體用兼備；利小水，氣味俱長。</p>
<p><u>乾薑</u></p>
<p>生則味辛，炮則味苦。可升可降。陽也。其用有二：生則逐寒邪而發表；炮則除胃冷而溫中。</p>
<p><u>草龍膽</u></p>
<p>味苦，性寒，無毒。沉也。陰也。其用有二：退肝經之邪熱；除下焦之濕腫。</p>
<p><u>蘇木</u></p>
<p>味甘鹹平，性寒，無毒。可升可降，陰也。其用有二：破瘡瘍死血非此無功；除產後敗血有此立驗。</p>
<p><u>杜仲</u></p>
<p>味辛甘平，性溫，無毒。降也。陽也。其用有二：強志壯筋骨；滋腎止腰疼。酥炙去其絲，功效如神應。</p>
<p><u>天門冬</u></p>
<p>味苦平，性大寒，無毒。升也。陰也。其用有二：保肺氣不被熱擾；定喘促陡得康寧。</p>
<p><u>麥門冬</u></p>
<p>味甘平，性寒，無毒。降也，陽中之陰也。其用有四：退肺中隱伏之火；生肺中不足之金；止煩渴陰得其養；補虛勞熱不能侵。</p>
<p><u>秦皮</u></p>
<p>味苦，性寒，無毒。沉也。陰也。其用有四：風寒邪合濕成痹；青白（［梯注]胡本「青白』下有「色」字。）色幻翳遮睛；女子崩中帶下；小兒風熱癇驚。</p>
<p><u>地骨皮</u></p>
<p>味苦平，性寒，無毒。升也。陰也。其用有二：療在表無定之風邪；主傳屍有汗之骨蒸。</p>
<p><u>桑白皮</u></p>
<p>味甘，性寒，無毒。可升可降。陽中之陰也。其用有二：益元氣不足而補虛；瀉肺氣有餘而止渴。</p>
<p><u>甘菊</u></p>
<p>味苦甘平，性微寒，無毒。可升可降。陰中之陽也。其用有二：散八風上注之頭眩；止兩目欲脫之淚出。</p>
<p><u>紅花</u></p>
<p>味辛，性溫，無毒。陽也。其用有四：逐腹中惡血；而補血虛之虛；除產後敗血；而止血暈之暈。</p>
<p><u>赤石脂</u></p>
<p>味甘酸，性溫，無毒。降也。陽中之陰也。其用有二：固腸胃有收斂之能；下胎衣無推蕩之峻。</p>
<p><u>通草</u></p>
<p>味甘平，性微溫，無毒。降也。陽中之陰也。其用有二：陰竅澀而不利，水腫閉而不行；澀閉兩俱立驗，因有通草之名。</p>
<p><u>烏梅</u></p>
<p>味酸平，性溫，無毒。可升可降。陰也。其用有二：收肺氣，除煩止渴；主泄痢，調胃和中。</p>
<p><u>川椒</u></p>
<p>味辛，性大熱，有毒。浮也。陽中之陽也。其用有二：用之於上退兩目之翳膜；用之於下除六腑之沉寒。</p>
<p><u>萎蕤</u></p>
<p>味甘平，性溫，無毒。降也。陽中之陰也。其用有四：風淫四末不用；淚出兩目眥爛；男子濕注腰疼；女子面生黑䵟，皆能療治。</p>
<p><u>木通</u></p>
<p>味甘平，性寒，無毒。降也。陽中之陰也。其用有二：瀉小腸火積而不散；利小便熱閉而不通。瀉小腸火，無他藥可比，利小便閉，與琥珀同功。</p>
<p><u>白頭翁</u></p>
<p>味苦，性溫，無毒。可升可降。陰中之陽也。其用有四：傅男子陰疝偏腫；治小兒頭禿膻腥；鼻衄血無此不效；痢赤毒有此獲功。</p>
<p><u>牡蠣</u></p>
<p>味鹹平，性寒，無毒。可升可降，陰也。其用有四：男子夢寐遺精；女子赤白崩中；榮衛往來虛熱；便滑大小腸同。</p>
<p><u>乾漆</u></p>
<p>味辛平，性溫，有毒。降也。陽中之陰也。其用有二：削年深堅結之沉積；破日久秘結之瘀血。</p>
<p><u>天南星</u></p>
<p>味苦辛，性溫，有毒。可升可降。陰中之陽也。其用有二：墜中風不省之痰涎；主破傷如屍之身強。</p>
<p><u>商陸</u></p>
<p>味酸辛平，性寒，有毒。降也。陽中之陰也。其味酸辛，其形類人，其用療水，其效如神。</p>
<p><u>葶藶</u></p>
<p>味苦，性寒，無毒。沉也。陰中之陰也。其用有四：除遍身之浮腫；逐膀胱之留熱；定肺氣之喘促；療積飲之痰厥。</p>
<p><u>海藻</u></p>
<p>味苦鹹，性寒，無毒。沉也。陰中之陰也，其用有二：利水道通閉結之便；泄水氣消遍身之腫。</p>
<p><u>竹葉</u></p>
<p>味苦辛平，性寒，無毒。可升可降。陽中之陰也。其用有二：除新舊風邪之煩熱；止喘促氣勝之上衝。</p>
<p><u>蔥白</u></p>
<p>味辛，性溫，無毒，升也，陽也。其用有二：散傷風陽明頭痛之邪；止傷寒陽明下利之苦。</p>
<p><u>天麻</u></p>
<p>味辛平，（［梯注]胡本「辛平」下有「性溫」二字。）無毒。降也。陽也。其用有四：療大人風熱頭眩；治小兒風癇驚悸；卻諸風麻痹不仁；主癱瘓語言不逐。</p>
<p><u>大棗</u></p>
<p>味甘平，性溫，無毒。降也。陽也。其用有二：助脈強神；和脾健胃。</p>
<p><u>威靈仙</u></p>
<p>味苦，性溫，無毒，可升可降。陰中之陽也。其用有四：推腹中新舊之滯；消胸中痰唾之痞；散苛癢皮膚之風；利冷痛腰膝之氣。</p>
<p><u>惡實</u></p>
<p>味辛，性微寒，無毒。降也。陽也。其用有四：主風濕癮疹盈肌；退風熱咽喉不利；散諸腫瘡瘍之毒；利凝滯腰膝之氣。</p>
<p><u>草豆蔻</u></p>
<p>味辛，性溫，無毒。浮也。陽也。其用有二：去脾胃積滯之寒邪；止心腹新舊之疼痛。</p>
<p><u>玄胡索</u></p>
<p>味甘辛，性溫，無毒。可升可降。陰中之陽也。其用有二：活精血，療產後之疾；調月水，主胎前之證。</p>
<p><u>荊芥</u></p>
<p>味辛苦，性溫。其用有五：利血脈，宣通五臟不足之氣；能發汗，兼除諸勞煩亂之渴；瘡瘍散腫有神；產後血暈無比。（附此以下晉府良醫增。）</p>
<p><u>麻仁</u></p>
<p>味甘平，無毒。其用有四：補中益氣之功；逐水利便之能；大腸燥有潤燥除燥之良；積滯血有破血復血之妙。</p>
<p><u>香附子</u></p>
<p>味甘，性微寒，無毒。陰中之陽也。其用有四：除胸中熱而充皮毛；解胸中忪而益氣血；故近世婦人血氣未有不用之者也。</p>
<p><u>縮砂</u></p>
<p>味辛，性溫，無毒。其用有四：脾胃氣結而不散；善能消食；虛勞冷瀉而不安；還攻腹痛。</p>
<p><u>益智</u></p>
<p>味大辛，性溫，無毒。其用有六：遺精虛漏；小便遺瀝；脾胃虛寒；和中益氣；主君相二火；走脾腎兩經。此其治也。</p>
<p><u>烏藥</u></p>
<p>味辛，性溫，無毒。其用有四：中惡心腹刺痛；蠱毒宿食不消；暖丈夫之膀胱；益婦人之血氣。</p>
<p><u>本瓜</u></p>
<p>味酸，性溫，無毒。其用有四：治腳氣濕痹；收邪氣霍亂；本草云益肺而去濕；和胃而滋脾。此盡其用也。</p>
<p><u>五靈脂</u></p>
<p>味甘，性溫，無毒。其用有四：療心腹冷氣而利於大人；治五疳癖疾而益乎小兒；腸風通利氣脈；經閉能行血道。</p>
<p><u>瓜蒂</u></p>
<p>味苦，性寒，有毒。其用有四：治大小頭面四肢俱浮；吐凝痰胸膈兩脅俱到；去鼻中之瘜肉；療周身之黃疸。</p>
<p><u>車前子</u></p>
<p>味甘鹹，性寒。其用有四：主氣癃而小便不利；治濕痹而眼目不清；不走氣與茯苓同功；益精氣與茯苓異用。</p>
<p><u>郁李仁</u></p>
<p>味苦辛，陰中之陽也。其用有四：仁破血而潤枯燥；根破積而宣結氣；小兒發熱作湯浴；風蚛牙疼煎含漱。</p>
<p><u>茯神</u></p>
<p>味甘，無毒。陽也。其用有四：風眩心虛而不安；驚癇神亂而不定；利虛人之小便；下虛之人滿急。故稱補虛之主。</p>
<p><u>丁香</u></p>
<p>味辛，性溫，無毒。陽也。其用有四：溫脾胃而止霍亂；壯陽氣而暖腰膝；降胸中之氣；補腎經之虛。</p>
<p><u>大腹皮</u></p>
<p>味辛，性微溫，無毒。其用有三；開痰壅而利膈；健脾胃而調中。食吃醋心，須用鹽洗。</p>
<p><u>川楝子</u></p>
<p>味苦平，性寒，有小毒。其用有四：主傷寒大熱；治上下腹痛；瘡疥有殺蟲之能；便溺有清利之妙。</p>
<p><u>沒藥</u></p>
<p>味苦平，無毒。其用有六：主破血；而治下血；療金瘡；而與杖瘡；瘡瘍痛，敷之有神；筋骨痛，服之無比。</p>
<p><u>乳香</u></p>
<p>味苦，陽也。其用有二：解諸經之鬱結；定諸經之疼痛。主治如斯，活法在己。</p>
<p><u>訶黎勒</u></p>
<p>味苦而酸，性溫。陰也。降也。其用有四：腹脹滿不下飲食；膈壅滯積多痰涎；通結氣，利津液，有開導之功；止痢疾，住滑瀉，有收澀之效。</p>
<p><u>瓜蔞實</u></p>
<p>味甘，性潤。降也。其用有六：甘能補肺；潤能降氣；痰膠固而能開；鬱火燥而能制；治虛勞之痰嗽如神；療肺痿之喘促無對。</p>
<p><u>貝母</u></p>
<p>味苦辛，性平，微寒。其用有八：主傷寒寒熱不寧；治小便淋瀝不利；喉痹用之能消；疝瘕施之有效；清痰不燥；止渴有功；保肺定喘嗽；寬中開鬱結。故《詩》云：言採其虻，良在是夫。</p>
<p><u>山藥</u></p>
<p>味甘平，性溫。手太陰經藥也。其用有八：味甘，而能補中益氣：性涼，而能除熱強陰；主頭面之遊風；治風虛之眩暈；充五臟而長肌膚；健四肢而填骨髓；潤皮毛之燥；添氣血之能。</p>
<p><u>前胡</u></p>
<p>味苦，性微寒。其用有四：開結寬胸脅；清痰止頭痛；益精明目無疑；傷寒寒熱必用。</p>
<p><u>三稜</u></p>
<p>味苦，性平。陰中之陽也。其用有四：潰老癖癥瘕；調少婦血脈，安心腹刺痛；消腑臟瘀血。</p>
<p><u>蓬莪朮</u></p>
<p>味苦辛，性溫，無毒。陽中之陰也。其用有六：消心脾之飲食；破痃癖之結氣；治丈夫之奔豚；開婦人之結滯；返正氣而定霍亂；回冷吐而止酸水。</p>
<p><u>款冬花</u></p>
<p>味甘辛，性溫，無毒。陽也。其用有四：療肺氣喘促不寧；止涕唾稠黏不已；吐血心虛；驚悸勞嗽；漸成肺痿之證主之。</p>
<p><u>肉豆蔻</u></p>
<p>味辛，性溫，無毒。其用有四：治積冷，心腹脹痛；止霍亂，能消宿積；大人嘔吐涎沫；小兒惡傷乳食。</p>
<p><u>馬兜鈴</u></p>
<p>味苦寒，無毒。陰中之陽也。其用有四：肺熱能清；肺虛能補；散滯氣刺痛；開凝痰膠固。</p>
<p><u>鬱金</u></p>
<p>味辛苦，陰也。其用有四：治丈夫尿血熱注；開女人宿血結聚；治脹痛，雖破血而補，療血淋，能清利而愈。</p>
<p><u>瞿麥</u></p>
<p>味苦辛，性寒。陽中微陰也。降也。其用有五：主關格諸癃閉而不通；治癰腫諸結熱而不散；明目去翳；破胎損子。宜其為利水之聖藥也。</p>
<p><u>滑石</u></p>
<p>味甘，性寒，無毒。降也。其用有六：滑能利前陰不利；沉能泄上焦元氣；開女子乳難、結核；主周身邪熱泄澼；安吐瀉，乃盛暑良方；利水道，為至燥之劑。</p>
<p><u>蒲黃</u></p>
<p>味甘，性平，無毒。主吐衄唾血崩血；消瘀積敗漏瘡癤；產後兒枕痛，施之如神；產前胎能墮，用不為劣。生用則破血，熟用則補血。</p>
<p><u>牡丹皮</u></p>
<p>味苦辛，性寒。陰中微陽也。其用有六：治腸胃之積血；止吐衄之逆血；清有汗之骨蒸；解堅聚之癥結；瀉丈夫之陰火；涼綿綿之虛熱。</p>
<p><u>竹瀝</u></p>
<p>味甘，性緩，無毒。其用有四：消陰虛太熱之痰；降產後太虛之痰；開風虛太固之痰；潤消渴大燥之痰。功效大略如此，佐使當隨藥用。</p>
<p><u>人尿</u></p>
<p>味鹹，性微寒，無毒。其用有四：新產能下惡露；虛勞能復氣血；精不足，則能補精；髓不足，則能填髓。用則童子者良，試其色必清如水。</p>
<p><u>香薷</u></p>
<p>味辛，微溫，無毒。其用有六：治傷暑，有神；治水腫，下水無比；治筋骨之損傷；療暑毒之血痢。</p>
<p><u>硃砂</u></p>
<p>味甘，微寒，無毒。其用有四：明目能通血脈；震驚能安魂魄；潤心肺而養精神；定怔忡而止煩渴。</p>
<p><u>鱉甲</u></p>
<p>味鹹，性平，無毒。其用有四：主心腹癥瘕；兼治虛勞瘦怯骨蒸；除鼻中瘜肉如取；平陰蝕惡肉成功。用得九肋者良，制當酥炙為能。</p>
<p><u>牛膝</u></p>
<p>味苦酸平，無毒。其用有五：主腰膝疼痛不能屈伸；治月水閉結不得通利；男子陰消神丹；老人失溺無比；墮胎宜慎，知其為破血之劑。</p>
<p><u>旋覆花</u></p>
<p>味鹹甘，性溫，有小毒。其用有四：破胸中結核痰涎；利大腸鬱結血氣；傷寒後心下痞滿；軟堅痞腹中寬利。</p>

<h1>跋</h1>
<p>無用之書可秘，有用之書不可秘。雖秘之，竟為具眼者所賞拔，公行於世，如《衛生方》之遇梯子是也。聞是書世僅有寫本，誤脫複雜，鉤棘刺目不可讀，不知原本為何人所秘而私之也。今梯子使之免秘書之伍而就有用之列，其校訂之力，殆比述作，可謂是書之功臣矣。抑人情貴少不貴多，聞某家有一秘書，則懇祈而寶視之；及其書既行，則草芥視之。是校刻之功不如帳秘之私也，是書遇梯子，為幸耶？不幸耶？具眼者必能辨之。</p>
<p><u>庚子秋日　岡田龜</u></p>

<h1>募原偶記</h1>
<p>憶文政癸未孟春，我南洋梯君奉阿波少將公之命，講醫經及本草於學館。有生徒讀《瘟疫論》者，至「募原」二字，眾論不一，遂舉諸家之說，以質之君。君引據《素問·痿論》「張氏注」解之。簡亦在坐焉，退而錄之，為一小冊。丁亥季冬，君以病而罷。客居京師，不相見十四年矣。頃日，余遊京師訪梯君。以其所校《嶺南衛生方》見示。余受讀卒業。竊謂：此與吳氏《疫論》相為表裡，但彼則主苦寒，此則主辛溫。然非一病有二因，蓋以歲運異其治方耳。而今世醫家，或錯認附子之證用大黃，而未有大黃之證而用附子者，豈非以吳氏之書刊布已久，而李氏之書未行於世耶？今令此二書雙行，則眾庶幾有救生民之夭橫矣。因念吳氏一書專根乎募原，而募原不明，則雖登其堂，不能入其室也。遂請梯君附「募原偶記」於其後，且錄多紀氏《募原考》全文，雜以管見。記中揭諸家姓名。非敢訾先輩。私謂：當仁不讓師之意云而。</p>
<p><u>天保庚子季夏</u>　山田簡志</p>
<p>荻野氏《瘟疫餘論》解：傷寒感而即發，時疫感久而後發者。謂：肌表屬一身藩屏，而衛氣護之。雖毫毛刺皮則痛，此屏護完固而不隱容也。其護內亦如此。而容藏不即發，何也？今有誤吞骨核之類者，入腹不覺痛，經日之後，上吐下泄，不至為害。是知內有遊地，可以容藏。以此觀之，蓋募原表裡之界，必有遊地。邪乘其隙伏匿，陰養屈起之勢，故感而不覺也。久而後發，理或有之。</p>
<p>《陰陽應象論》云：「重陰必陽，重陽必陰。故曰：冬傷於寒，春必病溫。春傷於風，夏生飧泄。夏傷於暑，秋必痎瘧。秋傷於濕，冬生咳嗽。」按：故曰以下，必陰必陽之解也。蓋春夏為陽，秋冬為陰。當陽時為陽所傷，謂之重陽。春傷於風，夏傷於暑是也。當陰時為陰所傷，謂之重陰。秋傷於濕，冬傷於寒是也。溫病咳嗽屬陽，飧泄痎瘧屬陰。重陰重陽二句，陰極生陽，陽極生陰之義。二必字對二生字，非必定不易之謂也。假令昨日天冷，人感其氣，至今日發熱病，是重陰必陽也。今日天熱，人感其氣，至明日發寒疾，是重陽必陰也。陰陽之理，其大無外，其小無內，豈可期時月耶？諸家遺此二句，而以必字起疑，是舉標遺本，宜其不得解也。凡病有感時即發者，有逾時發者，有久而發者，有久而自解者，皆由邪之緩急，正氣虛實也。邪之緩者，未能敵正氣，蘊蓄久之，方成鬱熱。其初熱微，患者不自覺，而醫亦莫之察，因謂逾時而發耳。凡疫邪自內達外，熱則在表，寒不在表，故有發熱無惡寒，異乎傷寒之邪客表位。從外及內，必惡寒者，此宜汗與不宜汗之分界也。或至傳變數證。則治法依仲景方。《五十八難》云：傷寒有五：有中風，有傷寒，有濕溫，有熱病，有溫病。乃知溫病原與傷寒一家。</p>
<p>按：腸胃者，人身之倉廩，傳道之官，主容穀味而消化之。其化與不化，由乎物之硬軟，人之強弱也。若骨核硬物，固不可食，安能容而消之乎？不能容故吐，不能消故泄，此腸胃之常也。肌膚毀傷，衛氣隨損。此肌膚之變也。荻野翁似據變論常，未免牽強。且上吐下泄，未可謂無害於腸胃。究竟募原表裡之間，斷無遊地可伏邪。凡人為六氣之沴所傷，猶物被水浸潤，其所感淺深，系衛氣之盈缺。八尺之軀，九臟百骸，無一長物，豈有設遊地待邪氣之理哉。</p>
<p>荻野氏序《溫疫論》云：又可氏本《素問·瘧論》邪著募原之語。按：《瘧論》有間日發者，邪氣內薄於五臟，橫連募原等語，通篇專論痎瘧，無片語及溫病。但有募原二字耳。余未聞溫病有間日一發者。則吳氏所本，必非《瘧論》，其所據是《針經》。《針經》即《靈樞》，非《素問》也。張仲景《傷寒論》序曰：《九卷》，皇甫謐《甲乙經·序》曰：《針經》九卷。林億等云：仲景、叔和只為之《九卷》，皇甫士安名為《針經》，《隋書·經籍志》謂之《九靈》，王冰名為《靈樞》，則可見其引證亦誤矣。嘗聞荻野翁在東武講《溫疫論》，以募、膜二音，為學徒所嘲。余恨當時無人以「瘧論」質之。</p>
<p>松尾淡臺《溫疫反案》及泰山霧隱《溫疫論解》，並注《針經》為《內經》。按《黃帝內經》十八卷，昉見前《漢書·藝文志》。《甲乙經·序》曰：按《七略》、《藝文志》，《黃帝內經》十八卷。今《針經》九卷，《素問》九卷，二九十八卷，即《內經》也。蓋以《素問》、《針經》二經為《內經》，始見於此。吳氏之論，專主《針經》，今二氏泛稱《內經》，未中竅。豈撿《針經》而不見「募原」二字。近見某先生《溫疫論》筆記，蓋其門人所錄。其說謂：《針經》無「募原」二字，出《素問·瘧論》。吳氏誤認《素問》以為《針經》。余廢書嘆曰：有是哉，醫之為人所賤也。不學面牆，口給御人，妄造私言，玄耀其徒，而不恤賊夫人之子也。至於鑿空臆斷，玩弄古籍，可謂僭妄甚矣。今世所謂專門名家者，率皆爾。則讀《溫疫論》，不曉「募原」為何物，而歸咎於先賢之疏漏。亦不足多怪也。語曰：鬻棺者欲歲之疫，非憎人慾殺之，利在於人死也。今以諂佞賣藥，祈口腹者，亦尤此耶。</p>
<p>醫學院佃氏《辨溫疫論》曰：膜原謂心下膈膜，腸胃膜原，邪之傷表裡間也。古有縱與橫之說。按：滑伯仁云：膈者，隔也，凡人心下有隔膜，與脊脅周迴相著。所以遮隔濁氣，不使上熏於心肺也。蓋謂胸腹限隔之脂膜，故名膈膜，固非指募原也，不知何以混腸胃膜原乎？抑至縱橫之說，無稽尤甚。余疙疙枕籍《素》、《難》有年矣。未聞對稱心下膈膜與腸胃膜原，以分縱橫。合為募原也。佃氏又云：吳氏縱論，戾古規，背聖言，耳食之徒，溺其雄辯，不能由正道以入軒岐之域。其子元禎序云：家嚴尚藥奉御之暇，辨吳氏之非也。出於不獲已之苦心。余謂：吳氏據《針經》立言，即軒岐之道也。佃氏何必苦心而費無用之辨，且令子侄序之，賣弄爵秩，抑亦何心哉？夫不讀聖經而妄稱古規，詆議前賢，猶瞽者辨白黑，聾者聽宮商，余服其膽。</p>
<p>《辨溫疫論》嗣子柳啟序云：《針經·瘧論》有橫連募原之語，未聞有疫邪著募原之說。可謂新法矣。按病名古今有異同。若溫疫二字，在醫書始見於葛洪《肘後方》在古謂之溫病。故《靈》、《素》、《難經》、仲景之書，及《脈經》、《甲乙經》等，無一疫字。（坊本《素問》「刺法」、「本病」二論載疫字，此二篇王冰、林億皆云：亡已久矣。明·熊宗立著《素問》句讀，取《素問遺篇》一書樸之。即此二篇也。不知何人撰述。要是系後人偽作。）猶痰、痢、咳、噯等字，《內經》不載也。佃氏未曉病名有古今之異。故不免飯鍬為矩也。《瘧論》是《素問》中一篇。此序對舉《針經·瘧論》，亦輕重失倫。</p>
<p>吳氏曰：疫者，感天地之厲氣，在歲運有多寡，在方隅有厚薄，在四時有盛衰。此氣之來，無論老少強弱，觸之者即病。</p>
<p>《針經·歲露論》云：黃帝曰：願聞歲之所以皆同病者，何因而然？少師曰：此八正之候也。因歲之和，而少賊風者，少病而少死。歲多賊風邪氣，寒溫不和，則民多病而死。又云：立春，風從西方來，萬民又皆中於虛風。吳氏之言，蓋本於此。厲氣，即賊風邪氣，今之所謂溫疫也。《周禮》云：四時皆有癘疾。蓋厲與癘通。劉熙《逸雅》云：厲，疾氣也，中人如磨礪傷物也。又云：疫，役也。有鬼行役也。</p>
<p>吳氏曰：邪自口鼻而入，則其所客，內不在臟腑，外不在經絡，舍於夾脊之內。去表不遠，附近於胃。乃表裡之分界，是為半表半裡。即《針經》所謂連募原是也。又云：今邪在募原者，正當經胃交關之所。</p>
<p>《百病始生篇》云：虛邪之中人也，始於皮膚；留而不去，則傳舍於絡脈；（本篇，留而上各具患狀，以丈長不載。）留而不去，傳舍於經；留而不去，傳舍於輸；留而不去，傳舍於伏沖之脈；留而不去，傳舍於腸胃；留而不去，傳舍於腸胃之外，募原之間。又云：或著孫脈，或著絡脈，或著經脈，或著輸脈，或著於伏沖之脈，或著於膂筋，或著於腸胃之募原。上連於緩筋，邪氣淫泆。不可勝論。按：留而不去者，謂治之不及也。邪氣中人身，從其深淺，為之汗下。舍於腸胃，邪氣漸深，法當下之。然治已不及，至傳於募原，則邪氣尤深矣。蓋吳氏之書，本《歲露論》。然至論其傳變，則撮大意於《始生篇》。且經胃交關一句，根據腸外募原之文。然而吳氏不曰邪之中人，始於皮膚，而為自口鼻而入，則似與《針經》不合。《陰陽應象論》云：肺在竅為鼻，脾在竅為口。又云：天氣通於肺，地氣通於嗌。《聖濟總錄》云：瘴氣所起，其名有二。孟夏之時，瘴名芳草，而終於秋。孟冬之時，瘴名黃亡，而終於春。四時皆能傷人，而七、八月間，山嵐煙霧、蛇虺郁毒之氣尤甚。當是時，瘴疾大作，不論老少，或因飢飽過傷，或因榮衛虛弱，或沖煙霧，或涉溪澗，但呼吸斯氣，皆成瘴疾。王汝言云：春秋時月，人感山嵐瘴霧毒氣，發寒熱，胸膈飽悶，不思飲食，此毒氣從口鼻入內也。治當解毒行氣，不宜發汗也。其他以口鼻為說者數家，但未直言從口鼻而客募原耳。至吳氏，捏合彼此以立言。其言所客內不在臟腑，外不在經絡者，以邪氣舍於夾脊之內也。《舉痛論》云：寒氣客於夾脊之脈則深。蓋吳氏由此示邪之深耳。凡人苟有疾病，必害於臟腑經絡。豈有不由臟腑經絡而生疾病者哉。乃吳氏所以舉三陽之顯證也。今疫邪舍於肉裡臟腑間之募原。表雖近，未出表，則非表證；胃雖近，未入胃，則非里證。不可汗，亦不可下，所以名半表半裡也。</p>
<p>多紀氏《募原考》曰：募原，未詳其義。檢字書：募，廣求也。無干人身之義。因考《素靈》諸篇，募者，幕之訛也。幕又從肉作膜。劉熙《釋名》云：膜，幕也。幕絡一體也。《痿論》：肝主身之筋膜。全元起注云：膜者，人皮下肉上筋膜也。李時珍《脈學》釋音：募與膜同。蓋募本取義於帷幕（《說文》：帷在上曰幕。）耳。《太陰陽明論》：脾與胃，以膜相連。新校正云：《太素》膜作募。又《邪客篇》地有林木，人有募筋。此募幕易訛之證也。</p>
<p>按：《素》、《靈》諸篇，無一幕字。豈容幕訛作募。其從肉作膜者，即是募字，非幕字也。故《歲露論》、《瘧論》及《百病始生篇》等所謂募原者，《舉痛論》已作膜原，便是確證。若時珍《脈學》，遠出於《舉痛論》之後，乃為白談。乾隆巳己所刊《年希蕘經驗四種》中《溫疫論》悉作膜原。此書翻刻盛行，世人誰不知募之為膜也。繁引數證，全屬贅疣。《周禮·幕人》注云：在旁曰帷，在上曰幕。皆以布為之。四合象宮室。由是觀之，劉熙所謂膜，幕也。幕絡一體者，即指肌表皮肉中間之脂膜。故以帷幕取喻也。但未可以帷幕喻募原。何則？邪之客肌表者，一汗可解，客募原則邪氣已深，非一汗所能解也。故余斷然曰：劉說指肌表皮肉間之脂膜，決不以各臟各腑間，迂曲微細者，取義於帷幕也。況帷幕亦無關人身之義乎。至於《太陰陽明論》及《邪客篇》等，固無募幕易訛之證，恐屬附會。又按：隋·全元起著《素問訓解》而不傳，多紀氏引之，恐亦杜撰。</p>
<p>其已如此。而膜之在軀殼中最為用者，為膈幕。《人鏡經》云：膈膜者，自心肺下，與脊脅腹周迴相著。如幕不漏，以遮蔽濁氣。不使熏清道是也。《甲乙經》：膈俞在第七椎。因推之，蓋膈幕之系，附著脊之第七椎，即是幕原也。</p>
<p>按：《臟腑證治圖說》、《人鏡經》八卷，姓氏未詳，蓋悉明人所著。今引此者，意在幕字，欲以附會募原於膈膜耳。膈膜之用，元·滑伯仁已言矣。非防於《人鏡經》，而膈膜固非募原也。馬玄臺、張介賓並曰膈膜前齊鳩尾，後齊十一椎，若令膈膜著第七椎，則距鳩尾及十一椎遠矣。何以有遮蔽濁氣之說哉。夫五臟之位置乎。人身也，肺、心、脾、肝、腎為之序次。脾臟素位肝臟之上，肝臟素居於脾臟之下。然在腧穴，則脾腧在十一椎，而肝腧卻在九椎。其不可拘泥如此。</p>
<p>《瘧論》：邪氣內薄於五臟，橫連募原也。其用有道遠，其氣深。（《歲露篇》同。）王冰注：募原，謂鬲募之原系。新校正云：全元起本募作膜。《太素》、巢元方並同。今以橫連二字觀之，則為膈幕之原系無疑矣。</p>
<p>此亦引《瘧論》及王冰次注。其以募原為膈募之原系。蓋似解橫字為縱橫之橫，以連字為連列之連也。夫病勢傳變萬狀。非一言之所能盡。而察之之要，惟賴望聞問切。賊邪傷人，病無形體。豈可與五積癥瘕之隱然成形，如杯盤梁架，如蛇鱉獺狐者比視哉。則不知何所見而言橫言連。其義不可解。醫籍汗牛，亦不載此等證候。可見失解之甚。此二字，當以《孟子》洪水橫流，流連荒亡解之。邪之客募原，為人身之患。猶橫流流連，為天下之憂也。</p>
<p>而幕原，又所指不一。《百病始生篇》云：腸胃之外，募原之間。又云：或著於腸胃之募原。《舉痛論》云：寒氣客於腸胃之間，膜原之下。又云：寒氣客於小腸膜原之間。蓋所謂膜原者，言膜之在各臟各腑之間，而遮隔者之原系也。按：前文已言幕原附著於膈俞之分，此言幕原所指不一，蓋亦誤混募原膈膜為一。故於經文無一明證。徒舉《百病始生篇》、《舉痛論》等不符己意者數條。欲以所指不一一句，揜其附會耳。凡病有七情六淫之異，有陰陽表裡之差。先哲論法定方，從其淺深，以作藥餌。據輕重以辨死生，各有標準度之也。吳氏以募原立標準，若募原所指不一，則邪之所在不明。而病不可名狀以至誤治驕病為難治之證，謂之壞病。吳氏之設論，豈欲以壞病耶。不然則募原豈容無所定指哉。</p>
<p>各臟各腑之間，皆有薄膜。而外連於皮肉孔穴，直其次者，謂之幕穴。肝幕期門，膽幕日月之類。豈臟腑位於身中，而其氣，背部則從脊骨間而輸出，故謂之腧穴，腹部則臟腑之幕，直著於皮肉，故謂之幕穴乎？《六十七難》亦誤作募。滑壽遂注云：募尤募結之募，言經氣之聚於此也。亦何不考也。</p>
<p>按：多紀氏言臟腑間薄膜，外連於皮肉孔穴者，蓋以經絡混募原。夫人身之孔穴，三百六十有五，悉繫於十二經絡及任、督二經之所流注。故無一穴不由經絡者，豈須舉募原哉。自古至今，未有就孔穴論募原者，至若直其次者，謂之幕穴。肝募作肝幕，膽募作膽幕，取義於帷幕。殆乎妄誕矣。《甲乙經》三焦募，即任脈石門穴。然而三焦有名無形，《難經》曰：心主與三焦為表裡，俱有名無形。蓋三焦謂腎間原氣之別使，以營周身者。故秦越人呼腎曰三焦之原。詳見《八難》及《六十六難》。然則帷幕三焦者，即周身者皮膚耳。乃知三焦不位石門之分，募穴亦不可以帷幕喻也。《內經》諸篇所載十二經募穴，豈盡幕穴之訛乎。又以為從脊骨間而輸出，故謂之腧穴者，恐非。蓋五臟六腑之腧穴，各在背部。或曰心腧，或曰肺腧，皆謂某穴主治某病。滑伯仁云：在背為陽，則謂之腧。腧，《史記扁鵲傳》作輸。尤委輸之輸，言經氣由此而輸於彼也。而諸腧悉系背部足太陽一經。即是經氣之所輸也，豈有從脊骨間而輸出乎？滑伯仁又云：在腹為陰，則謂之募。尤募結之募，言經氣聚於此。此足以解募穴之義。竊謂：募穴之募，莫故切，音暮。募原之募，未各切，音𠢓。猶胞字包、拋二音。子宮、膀胱所指各異。又《正字通》膜字注云：模韻，音𠢓。蓋與募古通。多紀氏暮糢混同為一音，故致訛如此。而歸罪於先哲之不考，豈不冤乎？</p>
<p>此他後世諸家釋募原者，多牽強迂謬之說。茲舉其一二如左。</p>
<p>所謂諸家釋募原者，馬玄臺、張介賓、張思聰、《百病始生篇》及《舉痛論》注。張思聰、高世栻、《瘧論》注，吳又可《溫疫論》，高鼓峰《四明心法》、王子接《古方選注》，蔣示吉《醫意商》、劉奎《溫疫論類編》是也。然眾說迂怪，難以信據，已見《募原考》，此不復贅。</p>
<p>案：考以上諸說，募原二字。曰：為皮裡膜外。曰：為鬲胸之原。曰：為募穴原穴。曰：為腠理。曰：為膏膜。曰：為衝任脈。曰：為胸中支膜之原野。其不一定如此。然因《瘧論》所言而揆之，其地即在形層之內，臟腑之外，俠脊之界。吳又可謂之半表半裡者似是。但其言未清晰，是可惜耳。其餘數說，未免歧誤，學者勿見眩惑焉。</p>
<p>按。多紀氏亦未免歧誤，徒加繁冗，令後學亡羊。程子注《大學親民》云：親當作新，不敢改本文。此從來傳注之法也。今改肝募作肝幕，膽募作膽幕，殆乎武斷害經。其將求勝於經耶？抑未達耶？</p>
<p>募原二字，聚訟紛然，竟無明解。按：張介賓注《痿論》云：凡肉理臟腑之間，其成片聯絡薄筋，皆謂之膜。所以屏障血氣者也。凡筋膜所在之處，脈絡必分，血氣必聚。故又謂之膜原，亦謂之脂膜。</p>
<p>此說明了，足以破紛紛之惑矣。今解剖禽獸，亦肉間臟理，薄膜聯絡，此即募原也。諸家無悟此義。《募原考》引張說，亦不及此。枉費思索，適足以惑後學耳。或問，原字作何解？曰：張注所謂，所在之處，是原字之解也。《素問》肉之大會為谷，肉之小會為溪。又云：大谷小溪。此皆衛氣之所留止，邪之所客也。按：衛氣所留止，即膜所在之處，所謂原也。尤警蹕所至稱行在所也。此與《難經》腎間動氣為生氣之原一般，但越人以腎氣為言，此則以衛氣言之。曰溪，曰谷，曰原，亦同一義也。張注蓋本此。《針經·歲露論》云：邪氣內搏於五臟，橫連募原。此亦謂痎瘧。然篇中論瘧者惟一章，其他則論賦風邪氣，後世所謂溫疫也。迥異乎《瘧論》之通篇論痎瘧者。乃知吳氏立論，全據《針經》，非據《素問》也。</p>
<p><u>募原偶記畢</u></p>
