<header data-type="book">
<h1>中寒論辯證廣註</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪琥</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1680">公元1680年</data></dd></div>
</dl>
</header>

<h1>凡例</h1>
<p>一此書之述專以中寒另分一門今醫書於雜證中閒言中寒而不詳於傷寒論中則備言中寒而溷雜以致後學見證不明兩者錯治故僕於辯注傷寒論後復集此書以發明仲景奧旨。</p>
<p>一此書分上中下三卷其前二卷皆仲景方論俾學者知所宗主末一卷附後賢方論俾學者得其變通庶幾引今酌古斯辯證制方不致有誤。</p>
<p>一此書於每條證下既經註明復加詳辯以見其證的系中寒又於每方之下將藥性分別詳註以見其方之對證為可用倘證稍有未合或分兩加減稍有可疑亦必詳辯以見古今諸方為不可執如能臨證權變用藥必奏奇功。</p>
<p>一初學之士須先閱僕所注仲景傷寒論使遇熱證已知投藥得入仲景門牆後讀此書復窺仲景堂奧則真寒之證一見了然自能於熱補之方百發百中其於傷寒熱病涼瀉之法特易如耳初學者其循序而觀之。</p>
<p>一世人病傷寒者十居其九病中寒者十居其一所以醫工用涼藥者取效多用熱藥者取效少有等名醫自以傷寒為專科口誦仲景書誤以傷寒變證指為中寒妄投熱藥屢屢致敗此皆酷好仲景而不知變通者也學者但能虛心翻閱此書自得治病活法。</p>
<p>一僕所集諸注如成氏原解傷寒論方氏條辯喻氏尚論篇程氏後條辯武陵陳氏傷寒六經篇注及內臺外臺補亡活人等書。（後另集引用書目）匯合參看乃成此書猶恐後學不悟復以鄙意反覆發明所取諸注不敢隱竊必曰某書曰某姓氏其附鄙意必曰（琥）按曰愚按曰愚謂或愚意及設為或問而余答也。</p>
<p>一僕注此書始於康熙甲子中秋終於丙寅仲春之朔其間遇應酬少暇或盡一日之長注證一二條或注方一二道倘停十日半月無暇得半日之閒注證一條或注方一道至有積二三日之暇僅注證一條或注方一道總計其工止五越月耳然僕於平日構求諸名家醫書潛心抄閱兼視病家疑難險證已二十餘年矣以二十餘年胸中所得悉發而為此書雖五越月亦不速書既成不敢藏之家因為錄出以公之海內同道者。</p>

<h1>辯中寒為真寒論</h1>
<p>內經素問有熱論篇首言熱病者。皆傷寒之類。又有刺熱篇。言五臟熱病。此係雜證。靈樞又有熱病篇。其中言熱病三日。或七八日。或已得汗或未曾汗。或口中乾。胸脅滿或頭痛耳聾。皆傷寒之類也。黃帝岐伯論傷寒。惟以熱為主。至仲景論傷寒。則寒熱並舉。何也。夫人身之中。有陰有陽。有寒有熱。有虛有實。此其常也。有陽極似陰。有陰極似陽。有熱極而寒。有寒極而熱。有大實若虛。有大虛若實。此其變也。余曾辯注傷寒論一十四卷。若陽邪熱實之證。已暢發而無餘蘊矣。茲更集中寒論三卷。於仲景書中。摘其所謂真陰虛寒之證。逐條辯解。每方註明只因仲景當日。不分陰陽虛實寒熱而總謂之傷寒。余因不得已而述是書也。或云。內經中無寒論。及寒病篇。故仲景當日。以寒病雜之傷寒論中。不敢創為一論。更分一門。今吾子知尊仲景矣。又別立中寒方論。得母僭歟。余答云。前聖之製作。專待後人之闡揚。據仲景自論云。撰用素問九卷。八十一難。陰陽大論。胎臚藥錄。並平脈辯證。為傷寒雜病論。合十六卷。雖曰傷寒。而痙濕暍霍亂等雜病。俱在其中。所未分者。豈特一中寒邪。丹溪有云。仲景辯傷寒矣。而未及乎中寒。非曰無中寒也。言未及辯別也。中寒未及辯別。以致俗醫。有以傷寒皆變為熱。並無所謂真陰證者。有以陽證入陰。即陰虛為陰證者。有以熱病服涼藥太過。即變為陰證者。有以頭不痛之雜病。為陰證者。有以曾犯房室為陰證者。殊不知中寒之人。三焦火衰。元氣大虛。又受外來風寒之邪。其為中也。或中於陽。或中於陰。皆寒病也。其中於陽而為寒病者。以始入太陽。太陽與少陰為表裡。少陰者。腎也。邪在太陽。膀胱為寒水之經。腎家無火。不能禦寒。為真陰證。猶之陽邪傳入陰經。亦熱病也。又有胸以前受寒氣。及冷物入胃。胃為陽明之腑。與太陰脾臟相依附。胃中無火。則脾氣大寒。亦為真陰證。猶之傷寒挾食。邪已入腑。為實熱病也。此其義仲景實未嘗及。然於霍亂一病。有寒多不飲水者。用理中湯丸加附子。斯言已得之矣。又有寒中厥陰之經肝臟虛。寒氣上攻而頭痛者。亦為真陰證也。又有小兒未犯房室。而中寒。如慢驚之類。亦為真陰證也。此但舉其大略。而後學可以起悟。愚以中寒之證。仲景立法。中經者。皆主溫散。問有中臟者。亦主熱發。所以諸湯中附子。生用者極多。而炮者甚少。偶有同人參白朮芍藥當歸共劑者。或從氣虛。或從血少也。其有或吐或利。四肢厥逆。胃氣大虛。無熱可發者。法當溫補。更有裡寒雖極。腸胃中實者。又宜溫中消導。若例用補藥。豈不大誤。此皆仲景所未言及者。愚以後賢方論補之而已。</p>

<h1>卷上</h1>

<h2>辯太陽陽明病中寒脈證並治法</h2>
<p>（此係仲景原文）</p>
<p>中寒傷寒。截然兩途。仲景論中溷雜而未及辯。以致後世之醫。陰陽不明。寒熱錯治。其害大矣。愚以中寒者。其證內外皆寒而多虛。傷寒者。其證外寒內熱而多實。又中寒之寒真。傷寒之寒假。傷寒有傳變。其勢稍緩。中寒每直入。其勢最急。丹溪云。治之稍遲。去生甚速。指中寒也。愚因就六經篇原文。摘其中寒論例。悉為解釋。俾學者皆知中寒之證。與傷寒迥別。得此書而自無誤治云爾。</p>
<p>太陽病。發汗。遂漏不止。其人惡風。小便難。四肢微急。難以屈伸者。桂枝加附子湯主之。（此條病。乃太陽真寒證。風寒之邪。由背而入。直中少陰少停於表。即頭項痛。腰脊強。其與熱病有別者。止微痛微強耳。因其人衛外之陽氣本虛。不發熱而但惡寒。此為陽虛人病中風證。粗工不察。誤投麻黃等湯以發其汗。腠理大開。遂漏不止。皮表不固。則其人惡風。又小便難者。汗外泄而亡津液。陽氣內虛。不能施化也。四肢微急。難以屈伸者。四肢為諸陽之本。汗多亡陽而脫液。液脫。則筋骨無以滋養。故微急而屈伸不利也。與桂枝湯以斂津液。加炮附子以復陽氣。）</p>

<h3>桂枝加附子湯方</h3>
<p>（此方自原論中第十卷集入於此）</p>
<p>於桂枝湯方內。加附子一枚。炮去皮。破八片。余依桂枝湯法煎服。</p>
<p>或問上條本太陽病誤發汗。汗出不止。其用桂枝湯無疑矣。何為而加炮附子。余答云。內臺方議云。病人陽氣不足而得太陽病。則知其人陽氣本虛。及得病。又誤發汗。汗多亡陽。陽氣耗竭不作鬱熱。因成真陰證。非附子大辛熱之劑。不能散其餘邪。復其陽氣。</p>
<p>太陽病。下之後。脈促。胸滿者。桂枝去芍藥湯主之。若微惡寒者。去芍藥方中。加附子湯主之。（此條病。亦太陽真寒證。陽氣內虛。故不發熱。況風寒之邪在經。本無可下之法。下後脈促者。此胃腑未實。不應下而下之。胃中陽氣大傷。其脈必促而無力。胸中虛滿。按之必軟而不痛。乃邪客胸中而無實熱也。太陽之經。風寒未解。故用桂枝湯以散客邪。去芍藥者。成注云。芍藥益陰。陽虛者非所宜也。若其人又微惡寒。夫惡寒而日微。非發熱惡寒之比。此陽虛已極。故於去芍藥方中。加炮附子。以溫經助陽氣。）</p>
<p><u>桂枝去芍藥湯方</u></p>
<p>（此方並下方俱從原論中第十卷集入於此）</p>
<p>於桂枝湯方內。去芍藥。余依桂枝湯法。</p>

<h3>桂枝去芍藥加附子湯方</h3>
<p>於桂枝湯方內。去芍藥。加附子一枚。炮去皮。破八片。余依桂枝湯法。</p>
<p>或問太陽病至誤下。則脈促胸滿。雖邪未結實。恐終非虛寒證。又微惡寒。焉知非表邪盛。便與桂枝湯去芍藥。加附子服之。臨期不無所誤。奈何。余答云。陽氣本虛之人。卒中風寒。逗留太陽寒水之經。表氣既虛。里無鬱熱。不可發汗。何由更下。一誤下之。則病人胸中陽氣。欲脫殆盡。純是陰寒之邪所客。故脈見促而胸滿。且微惡寒。方可用桂枝去芍藥。加附子湯。為對證之藥。若病人胸中苟有陽氣。又當用瀉心等湯矣。故余於前法中。曾云。病人脈促。須辯其有力無力。胸中滿。須辯其痛與不痛。惡寒。須辯其可發熱。斯臨證自無誤爾。○尚論篇以胸滿為陽邪仍盛於陽位。且以太陽病桂枝證。醫反下之云云。脈促喘而汗出之條。紐合作解云。脈促胸滿。喘而汗出之內。原伏虛陽欲脫之機。又注微惡寒而云。可見汗不出之惡寒。即非陽虛。牽強穿鑿。殊悖於理。</p>
<p>傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝湯。欲攻其表。此誤也。得之便厥咽中干。煩躁。吐逆者。作甘草乾薑湯與之以復其陽。若厥愈足溫者。更作芍藥甘草湯與之。其腳即伸。若胃氣不和。譫語者。少與調胃承氣湯。若重發汗。復加燒針者四逆湯主之。（此條傷寒。乃中寒證。脈浮自汗出。小便數者。陽虛。氣不收攝也。心煩者。真陽虛脫。其氣浮游而上走也。惡寒曰微。此真寒之形已見也。腳攣急者。寒入陰經。血脈凝泣而縮急也。當其時。急宜溫經散寒。反與桂枝湯。欲攻其表。非誤而何。得湯便厥者。桂枝攻表誤汗。更損其陽。陽愈虛。故手足為之厥冷也。咽中干。煩躁者。誤汗損陽。津液耗竭。陽虛煩躁。作假熱之象也。吐逆者。陰寒氣盛而拒膈也。因作甘草乾薑湯。散寒溫中。以復其陽。則厥自愈。足自溫。夫足溫已有欲伸之機。其尚未伸者。陽氣雖回。陰血未和也。更作芍藥甘草湯。以和其營血。而腳即伸。設若胃氣不和。譫語者。胃中津液。為前桂枝幹姜等。辛熱藥所耗。後條辯云。此非胃中實熱者比。故少與調胃承氣湯和之。乃從治之法也。若不知此證之不可汗。而重發其汗。復加燒針以劫之。則陽氣幾亡。陰血復凝。能不急用四逆湯。以回其陽。兼復其陰邪。以四逆湯中有炙甘草。復能生血故也。證治之難如此。用藥者。可無次序乎哉。）</p>

<h3>甘草乾薑湯方</h3>
<p>甘草（四兩炙）　乾薑（二兩炮）</p>
<p>上㕮咀。以水三升。煮取一升五合。去滓。分溫再服。</p>
<p>成注引內經曰。辛甘發散為陽。甘草乾姜相合。以復陽氣。</p>
<p>琥按上方。實非發散藥。條辯云。甘草益氣。乾薑助陽。復其陽者。充其氣之謂也。愚以氣充。則津液生。而咽中不幹。膈寒解。吐逆自止也。</p>

<h3>芍藥甘草湯方</h3>
<p>白芍藥（四兩）　甘草（四兩炙）</p>
<p>上二味。㕮咀。以水三升。煮取一升五合。去滓。分溫再服。</p>
<p>成注云。芍藥白補而赤瀉白收而赤散也。酸以收之。甘以緩之。酸甘相合。用補陰血。</p>
<p>琥按上方。用於陽氣既復之後。但陰血未和。故用白芍藥為君以補營血。炙甘草為臣以和陰氣。陰血和補而腳自伸矣。</p>

<h3>調胃承氣湯方</h3>
<p>（見傷寒辯注第六卷陽明篇中）</p>
<p>琥按上方。治傷寒胃腑實熱藥也。今取以治中寒者。以前證誤與桂枝湯。復與甘草乾薑湯。薑桂辛熱。耗胃中津液。因而譫語。原方後云。少少溫服。此不過暫假之。以和胃氣而止譫語。故尚論篇云。倘多與之。則為下而非和。豈不大誤。</p>

<h3>四逆湯方</h3>
<p>（正解見中卷少陰病中）</p>
<p>琥按上湯。治上條證。若重發其汗。復加燒針者夫重發汗。則陽亡而氣欲脫。故用乾薑附子。以回陽助氣。加燒針。則陰受傷而血不流。故用炙甘草。以和其血。兼扶其陰。此亦借用之方。非若少陰病。脈沉厥逆。此方為正治之藥也。</p>
<p>或問重發汗為亡陽。陽氣虛而用四逆。固矣。加燒針。不無火逆之患。何以仍用四逆湯。余答云。熱病陽氣有餘。加燒針。則為火逆。寒病陰寒用事。加燒針。徒耗其陽。兼損其陰。氣血受傷。寒氣反入。後條辯所云治之一誤。寒即中於治法中矣。醫者可不慎之。</p>
<p>問曰。證象陽旦。按法治之而增劇厥逆。咽中干。兩脛拘急而譫語。師曰言夜半手足當溫。兩腳當伸。後如師言。何以知此。答曰。寸口脈浮而大。浮則為風。大則為虛。風則生微熱。虛則兩脛攣。病證象桂枝。因加附子參其間。增桂。令汗出。附子溫經。亡陽故也。厥逆。咽中干。煩躁。陽明內結。譫語煩亂。更飲甘草乾薑湯。夜半陽氣還。兩足當熱。脛尚微拘急。重與芍藥甘草湯。爾乃脛伸。以承氣湯。微溏。則止其譫語。故知病可愈。（此條問答。補亡論郭白雲云。此重解釋前段。誤用桂枝湯證。陽旦者。即桂枝湯中加黃芩之別名也。陽旦湯本治陽證。以前條脈浮自汗出之陰證相似。遂按陽旦湯法治之。其增劇者。蓋前此誤用桂枝。此則更加黃芩。誤之誤矣。厥逆。咽中干。兩脛拘急而譫語者。此病增劇之形也。病既劇矣。師能決其向愈之時。卒如其言者。何也。師蓋診其脈。驗其證。而知其為風虛之候微熱是假。虛寒是真。故見兩脛攣也。據師之意。以前證象桂枝矣。還宜加附子。參入乎其間為正治。乃用桂枝加附子湯主之。更增桂。能令汗出。以散其風邪。參用炮附子。為能溫經而補虛。以上證亡陽。無熱可發故也。今者。見證不明。而以陽旦湯治之。以致前厥逆咽乾等證。須改用甘草乾姜等湯一如前條法救之。夜半者。陰極而陽氣當回之時也。故其病可愈。條辯云。末後不復言重發汗已下等文者。以其或然或不然也。○按陽旦湯。見活人書第十八卷雜方中。即桂枝湯加黃芩二兩。治中風傷寒。脈浮發熱。往來汗出惡風者。尚論篇紐合陰旦湯。與門人問答示奇。大失仲景立論之旨。）</p>
<p>上四條證。（見原論中第二卷太陽病治法上第五）</p>
<p>下之後復發汗晝日煩躁不得眠。夜而安靜。不嘔不渴。無表證。脈沉微。身無大熱者。乾薑附子湯主之。（此條系中寒證。汗下顛倒所至。夫陰證可下。原有調胃承氣湯。少與微溏之例。陰證發汗。原有麻黃附子細辛湯。微汗之法。醫者不明其理。竟過與承氣湯下之後。虛陽外走。必有微熱。復與麻黃等湯以發之。成注云。表裡俱虛也。晝日主陽。陽虛欲復。與陰寒之邪交爭。故煩躁不得眠。乃虛煩虛躁也。夜主陰。純陰用事。陽氣太虛。不能與邪相爭。故主安靜。不嘔不渴者。里無熱也。身無大熱者。表無熱也。脈沉為寒邪勝。微為陽氣虛。故與乾薑附子湯。以退陰復陽。）</p>

<h3>乾薑附子湯方</h3>
<p>乾薑（一兩）　附子（一枚生用去皮破八片）</p>
<p>上二味。以水三升。煮取一升。去滓頓服。</p>
<p>成注引內經曰。寒淫所勝。平以辛熱。虛寒太甚。是以辛熱劑勝之也。</p>
<p>琥按上方。用乾薑守中。除裡寒也。附子溫經。散表寒也。陰邪既退。而陽氣自復矣。</p>
<p>發汗。病不解。反惡寒者。虛故也。芍藥甘草附子湯主之。（傷寒發汗。則病解矣。縱不解。亦不惡寒。若中寒證強發其汗。病不解。必反惡寒。蓋汗出則營虛。惡寒則衛虛。成注云。營衛俱虛也。與芍藥甘草附子湯。以補營衛。）</p>

<h3>芍藥甘草附子湯方</h3>
<p>芍藥　甘草（炙各三兩）　附子（一枚炮去皮破八片）</p>
<p>上三味。以水五升。煮取一升五合。去滓。分溫服。</p>
<p>成注云芍藥之酸。收斂津液而益營。附子辛熱固陽氣而補衛。甘草之甘。調和辛酸而安正氣。琥按原方後。有疑非仲景意五字。或叔和王氏於撰次此方之時。認上條為傷寒病。發汗不解而惡寒。乃表邪未盡。仍宜發汗。因疑此方。為非仲景意。似不可用。故內臺方議亦云。若非大汗出。又反惡寒。其脈沉微。及無熱證者。不可服也。明乎此。而上方之用。可無疑矣。</p>
<p>發汗。若下之。病仍不解。煩躁者。茯苓四逆湯主之。（傷寒汗下。則煩躁止而病解矣。若中寒證。強發其汗。則表疏亡陽。復下之。則裡虛亡陰。衛氣失守。營血內空。邪仍不解。因生煩躁。此亦虛煩虛躁。乃假熱之象也。止宜溫補。不當散邪。故以茯苓四逆湯主之也。）</p>

<h3>茯苓四逆湯方</h3>
<p>茯苓（六兩）　人參（一兩）　附子（一枚生用去皮破八片）　甘草（二兩炙）　乾薑（一兩半）</p>
<p>上五味。以水五升。煮取三升。去滓。溫服七合。日三服。</p>
<p>成注云。四逆湯以補陽。加茯苓人參以益陰。</p>
<p>琥按上方。用茯苓人參甘草。補中而生陰血也。附子乾薑除寒而回陽氣也。此可見不汗出之。煩躁。用大青龍湯。與既汗下之煩躁用此湯。不大相徑庭邪。</p>
<p>或問發汗。若下之。病仍不解。煩躁焉知非實熱證。余答云。實熱證至煩躁。邪在表者。必不汗出。邪在裡者。必不大便五六日。繞臍痛矣。傷寒中寒。揆之脈證。兩者判然。可無疑也。</p>
<p>太陽病發汗。汗出不解其人仍發熱。心下悸。頭眩。身瞤動。振振欲擗地者。真武湯主之。（此條病。乃太陽真寒證。與前第一條太陽病同。真陽素虛之人。卒中風寒。先宜補里固表。然後可用溫解之法。今者暫見太陽病。即強發其汗。汗出者。謂汗已大出也。若汗出不徹。仍發熱。為陽邪之氣未解。此則汗已大出而不解。乃病劇而邪不在表矣。汗多亡陽。真氣內虛。陰中之火。離其本根而遊走於外。故仍發熱。心下悸云云者。心陽不安則悸。陽虛於上則頭眩。且也。陽虛則周身經脈。總無主持。故身瞤動。振振欲擗地。擗者。兩手開拓也。身欲倒地。則兩手開拓。諸家注。或云以手拊心。或云思欲闢地而處其內。何穿鑿之甚邪。此不過形容陽亡裡虛。經脈無以主持之狀。方用真武湯者。並非行水導濕。乃補其虛而復其陽也。○方喻二氏議此條證。皆以為誤服大青龍湯而致逆。遂以真武湯為救逆之法。此泥於太陽中風脈浮緊。大青龍湯證云。若脈微弱。汗出畏風者。服之。則厥逆筋惕肉瞤為逆。黃仲理以真武湯救之。遂以此為比例。殊不知古人之汗法甚多。豈得限一大青龍湯。為發汗之藥乎。後之人各執己見以立異。是為大失仲景之旨。）</p>

<h3>真武湯方</h3>
<p>（正解見中卷少陰病中）</p>
<p>琥按上湯。本治少陰病。腎氣虛寒。不能制水之證。其治太陽病。汗出。仍發熱。心下悸云云者。此不過藉以兼主也。夫心下悸。非水氣上逆之比。乃陽虛而心氣不安。方中用苓朮姜附以補裡虛。助真陽。保驚悸。其用芍藥者。謂能挾朮附以斂陽虛之汗。蓋汗斂而熱自衰也。人身之陽主氣。為火。火之源。本於心。下通於腎。腎屬水。水中有火。陽虛。則火離其根。故外發熱。而上見心悸頭眩等證。湯名真武者。正以見上證。不治太陽膀胱之經。當治少陰右腎命門。此實從其根。固其本也。斯其理。豈易言哉。</p>
<p>或問治不在表。何以方中猶用生薑。余答云。病自太陽經誤汗而來。雖無鬱熱可發。其虛寒之邪。終由此經而入。方中用生薑者。乃補中有發之意也。</p>
<p>病人有寒。復發汗。胃中冷。必吐蛔。（此條系中寒證。病人有寒。乃是裡寒。裡寒宜溫。醫反誤發其汗。凡汗藥皆辛散。成注云損陽氣。陽氣損。則胃中冷。蛔不能安。故必由吐而上出也。○按此條論。仲景無治法。補亡論常器之云。可服烏梅丸。郭白雲云。宜理中湯。愚以烏梅丸。乃治吐蛔之藥。若於未發汗以前。還宜服理中湯也。○或問裡寒表寒。截然兩途。何至復發其汗。余答云。裡寒不作鬱熱。表寒必發大熱。夫人而知之也。但太陽一經。有未發熱之證。況里既寒矣。則外豈無寒狀。發汗之誤。或由此歟。○或又問胃中何以有蛔。余答云。胃為水穀之海。海中無物不生。故雖有蛔而不為害。夫人胃氣本溫。溫則蛔得其養而自安。若過寒則冷。過溫則熱。凡人傷冷傷熱。則胃中之氣不得其平。故見吐蛔之證。）</p>
<p>傷寒醫下之。續得下利清穀不止。身疼痛者。急當救里。後身疼痛。清便自調者。急當救表。救里。宜四逆湯。救表。宜桂枝湯。（此條病。乃陰陽兩證並舉。非一證分表裡而用二湯也。寒邪傷表。醫誤下之。續得下利清穀不止。此陽從內脫。中下二焦無火。不能腐熟水穀。故色不變而完出。且不能止也。身疼痛者。為里有真寒。寒氣凝泣。則骨屬不利。故身疼痛。並非表邪骨節疼痛之比。急當救里。宜四逆湯。以扶陽抑陰。則利止而身疼痛自除。此為中寒。乃里虛證也。若下後。身疼痛。清便自調者。邪未入里。故二便清調。必其人胃氣本實。不為誤下所害。但見身疼痛。為在表有邪。此非裡寒身如被杖之比。急當救表。宜桂枝湯。以和營散邪。乃太陽中風正治之法也。諸家皆誤注後身疼痛。清便自調。為用四逆湯以後之見證。大謬之極。夫四逆湯系中寒陰證之藥。桂枝湯。系傷寒熱病之方。況乎既先溫里。隨即發表。又施之於誤下之後。其殺人何異於操刃邪。仲景立方本旨。蓋謂身疼痛。不可盡以為表邪。又有裡寒誤下。利不止而身疼痛者。故與桂枝湯證。相對而並舉也。○桂枝湯方。見傷寒辯注。第三卷太陽篇中。○或問桂枝湯。治太陽有汗之中風。中風之證必發熱。醫既誤下。其便雖調。未必能清。余答云。惟其身疼痛。為邪在表。以故清便自調。且仲景原論中不云乎。傷寒不大便。六七日。頭痛有熱者。與承氣湯。小便清者。知不在裡。仍在表。當發其汗。宜桂枝湯。此言清便自調。彼言小便清。此言身疼痛。彼言頭痛有熱。證雖不同。學者可以意會之而已。）</p>
<p>病發熱頭痛。脈反沉。若不瘥。身體疼痛。當救其里宜四逆湯。（此條系太陽病。內無鬱熱。邪入少陰。遂成虛寒之證。且以見身疼痛之當救里。不止於上條矣。發熱頭痛者。病在太陽也。病在太陽。則脈宜浮緊。或浮緩。或浮數。斯為熱病。今者。脈反沉。沉為陰。與寒。病劇不愈。更加身體疼痛。此與上條利不止。而身疼痛者。同為陰寒之證。亦當救里。宜四逆湯。以溫里而散其寒邪也。○或問發熱頭痛。脈反沉。此陽證見陰脈。乃死候也。成注反云。表病得里脈。則當瘥者。何歟。余答云。成注云。病當瘥誠誤。子以見陰脈為死候。亦非。夫病加身體疼痛。即是不瘥。非發熱頭痛。見沉脈。反為向愈之徵也。蓋此條病。本自太陽經而入。故先見發熱頭痛。其脈反沉者。為寒中少陰之本脈。非陽證見陰脈之比。至病劇身體疼痛之時。其邪盡歸少陰。而發熱頭痛等候。已無有矣。故當直救少陰無疑。○或又問陽證頭痛。陰證不頭痛。今者邪傷太陽。何以又中少陰。余答云。邪從背入。太陽居表。少陰居里。邪傷太陽。不及少陰。邪中少陰。無有不自太陽經入者。邪竟入里。則不頭痛。少有停留。即見頭痛等候矣。世醫但知頭痛為陽證。亦知真陰證。間有自頭痛始者。不可不細察也。）</p>
<p>上六條證（見原論中第三卷太陽病治法中第六）</p>
<p>傷寒八九日。風濕相搏。身體疼煩不能自轉側不嘔不渴。脈浮虛而澀者。桂枝附子湯主之。（此條傷寒乃中寒證。寒氣與風濕相搏擊。至八九日。身體猶然疼煩。不能自轉側。蓋寒凝則痛。風擾則煩。濕著則不能轉側。乃三氣相夾之病。若風氣勝。則風從陽。在裡必見熱渴等候矣。茲則風為寒濕所持。寒濕從陰。在裡不嘔不渴。雖至八九日之久。不作鬱熱。診其脈。又浮虛而澀。成注引經云。風則浮虛。脈來澀者。當病寒濕。且脈浮主表。身又疼煩。里不嘔渴。知風濕但在經也。與桂枝附子湯。以溫經散風濕。）</p>

<h3>桂枝附子湯方</h3>
<p>桂枝（四兩去皮）　附子（三枚炮去皮破八片）　生薑（三兩切）　甘草（二兩炙）　大棗（十二枚擘）</p>
<p>上五味。以水六升。煮取二升。去滓。分溫三服。</p>
<p>成注云。風在表者。散以桂枝甘草之辛甘。濕在經者。逐以附子之辛熱。薑棗辛甘。行營衛。通津液。以和表也。○愚以風散濕逐。寒即隨之而去矣。</p>
<p>內臺方議云。與桂枝湯。去芍藥以治風加附子以散表中之風濕寒邪。○愚以去芍藥者。謂非中寒所宜也。</p>
<p>若其人大便硬。小便自利者。去桂枝。加白朮湯主之。（此承上條而申言之。有如上條證全具矣。若其人大便硬。小便自利者。後條辯云。此濕雖盛而津液自虛也。於上湯中去桂。以其能走津液。加朮。以其能生津液。○或問云。小便利。則濕去矣。何以猶言濕盛。余答云。濕熱鬱於裡。則小便不利。寒濕搏於經。則小便自利。又有昧理者云。大便溏。宜加白朮。殊不知白朮為脾家主藥。後條辯云。燥濕以之。滋液亦以之。條辯以白朮作蒼朮。以其能益土燥濕誤矣。）</p>

<h3>桂枝附子去桂加白朮湯方</h3>
<p>（此方原論中無考。今照上方云云去桂枝。加白朮也）</p>
<p>於上方內去桂枝。加白朮四兩餘依前法煎服風濕相搏。骨節煩疼。掣痛。不得屈伸。近之則痛劇汗出短氣。小便不利。惡風不欲去衣或身微腫者。甘草附子湯主之。（風濕相搏。最前條已明言之矣。風雖陽邪。然與濕相交結。則純是寒氣為病。寒主收引。故煩疼比前條更甚。內入骨節之間。四肢掣痛。不得屈伸也。近之則痛劇者。申言病邪之重。迕之則逆也。風傷衛。故汗出短氣。惡風不欲去衣。濕內著。故小便不利。濕外薄。故或身微腫。或者未定之辭。乃兼及之證。非主病也。與甘草附子湯。以溫經散風濕。○愚按方注風濕相搏。有中風汗出過多。傷寒發汗過多二證。夫中風傷寒。皆熱病也。豈有反變而為寒之理。又其注短氣。為汗多亡陽。注惡風不欲去衣。以重傷故惡甚。大謬之極。）</p>

<h3>甘草附子湯方</h3>
<p>甘草（二兩炙）　附子（二枚炮去皮破八片）　白朮（二兩）　桂枝（四兩去皮）</p>
<p>上四味。以水六升。煮取三升。去滓溫服一升。日三服。初服。得微汗則解能食。汗止。復煩者。服五合。恐一升多者。宜服六七合為妙。</p>
<p>成注云。桂枝甘草之辛甘。發散風邪而和衛。附子白朮之辛甘。解濕氣而溫經。○愚以上方乃熱補兼發散之藥也。</p>
<p>內臺方議云。風則傷衛。濕流關節。風濕相搏。兩邪亂經。故見骨節煩疼等證。上方用附子為君除濕祛風。溫經散寒。桂枝為臣。祛風固衛。白朮去濕為使。甘草為佐而輔諸藥。乃疏風去寒濕之禁方也。○愚按上議。實發明成注之意。</p>
<p>後條辯云。桂枝附子湯。桂枝附子去桂加白朮湯。甘草附子湯。三方俱用附子者。以風傷衛而表陽已虛。加寒濕而里陰更勝。凡所見證。皆陽氣不充。故經絡關節得著濕。而衛陽愈虛耳○愚以此言實發仲景奧義。</p>
<p>上三條證（見原論中第四卷太陽病脈證並治法下第七）</p>
<p>陽明病。不能食。攻其熱。必噦。所以然者。胃中虛冷故也。以其人本虛。故攻其熱。必噦。（噦於月切。○此言陽明中寒也。陽明中寒。有胸已前受寒氣者。有口食冷物而得者。今者。陽明病不能食。是胃中無物。醫人以不能食。為胃家實。而以苦寒之藥。誤攻其熱必作噦。噦者。噦逆。俗云冷呃是也。其所以然者。為胃中虛冷之故。以其人胃氣本虛。不能食。又攻其熱。則胃中寒極而成冷。胃中之氣。既虛且冷。乃真火之氣欲脫。反上逆而作噦也。○按此條論。仲景無治法。補亡論常器之云。可溫中湯。下注云金匱方。及考金匱無此方。愚謂宜用附子理中湯。）</p>
<p>脈浮而遲。表熱裡寒。下利清穀者。四逆湯主之。（陽明胃脈本和緩。若經病熱。脈當洪長。今則但浮。此在表之熱微也。腑病熱。脈當洪數。今則過遲。此在裡之寒甚也。武陵陳氏云。陽明氣血俱盛。邪客之。表裡俱熱。病機之常。然亦有表熱裡寒者。由其人胃氣本弱。寒邪乘虛入里。其留於表者變熱。而驟入於裡者。不及變熱。故見下利清穀一證。清。潔也。其所利之穀食。色不變。氣不臭。即完穀不化也。此為裡寒已極故與四逆湯。以溫里散寒。）</p>
<p>若胃中虛冷。不能食者。飲水則噦。（此承上文裡寒而言。茲則胃中不但寒。而竟成虛冷矣。夫胃中虛。宜能食。今者既虛且冷。故不能食。即經云。食不得入。是無火也。庸工不知。見其表熱。認以為胃中實熱證。且下利之後。亡津液而思水。遂飲之以水。水寒相搏。氣逆而亦為噦也。武陵陳氏云。法當大溫。上節已用四逆。故不更言治法。○愚按補亡論常器之云。宜溫中湯。然不若用茯苓四逆湯。即四逆湯中。加人參以補虛。茯苓以利水也。方已見上太陽治法中。）</p>
<p>食谷欲嘔者。屬陽明也。吳茱萸湯主之。得湯反劇者。屬上焦也。止條亦胃中虛冷之證。食谷欲嘔者。胃既無火。不能消下也。曰屬陽明者。後條辯云。此別其與少陽喜嘔之半表證。又太陽乾嘔不能食之表證不同。宜溫中補虛。降逆氣。方用吳茱萸湯主之無疑矣。其有得湯嘔反劇者。此寒不在中焦。而屬上焦。吳茱萸氣味苦辛重濁。與上焦之清氣。不相和協故也。○愚按成注云。以治上焦法治之。而無其方。準繩云。葛根半夏湯誤矣。尚論篇云。仍屬太陽熱邪。而非胃寒。條辯云。上焦以膈言。戒下之意。此又泥於傷寒嘔多。雖有陽明證不可攻之。皆大謬之極。竊思先賢用藥。豈如今醫之魯莽。誤以胃家虛寒為實熱證。但虛寒在膈以上。不與胃腑之中。溷同一治。上條證。治以吳茱萸湯。寒熱虛實。原無誤也。其有得湯反劇者補亡論常器之云。宜橘皮湯。注云。類要方。用橘皮二兩。甘草一兩。生薑四兩。人參三兩。水煎服。斯言庶得之矣。</p>

<h3>吳茱萸湯方</h3>
<p>（正解見中卷厥陰病中）</p>
<p>或問此條病。與前條同是胃中虛冷之證。何以不用四逆。余答云。胃中虛冷。飲水則噦。食谷欲嘔。見證各異。故不用四逆。投以吳茱萸湯為切當。蓋嘔為氣逆。氣逆者。必散之。吳茱萸辛苦。味重下泄。治嘔為最。兼以生薑。又治嘔聖藥。非若四逆中之乾薑。守而不走也。武陵陳氏云。其所以致嘔之故。因胃中虛。生寒。使溫而不補。嘔終不愈。故用人參補中。合大棗以為和脾之劑焉。上條證。用上湯。愈者固多。間或有得湯反劇者。故成注云。另以治上焦法治之也。</p>
<p>傷寒發汗已。身目為黃所以然者。以寒濕在裡。不解故也。以為不可下也。於寒濕中求之。（此條傷寒。乃中寒之證。若系傷寒。則發汗已。熱氣外越。何由發黃。今者發汗已。身目為黃。所以然者。以其人在裡素有寒濕。在表又中寒邪。發汗已。在表之寒邪雖去。在裡之寒濕未除。故云不解也。且汗為陽液。乃中焦陽氣所化。汗後中氣愈虛。寒濕愈滯。脾胃受寒濕所傷。而色見於外。此與濕熱發黃不同。故云不可下。言不可以苦寒藥下之也。於寒濕中求之者。仲景正恐世醫。與下文瘀熱在裡之證同治。而條辯尚論諸書。反以茵陳梔子柏皮等湯。補其治法。大誤之極。況仲景既云不可下。而茵陳蒿湯中。有大黃二兩。謂非下乎。則知仲景當日。必另有治法。後人宜以意會之而已。補亡論常器之云。宜五苓散。其議庶猶近之。○或問云。濕挾熱。則鬱烝。故發黃。今挾寒。何以發黃。余答云。寒濕發黃。譬之秋冬陰雨。草木不應黃者亦黃。此冷黃也。王海藏云陰黃。其證身冷。汗出。脈沉。乃太陰經中濕。亦有身體發熱者。身如熏黃。言如煙燻色黯也。終不如陽黃之明如橘子色。治法。小便利者。朮附湯。小便不利。大便反快者。五苓散。○愚按此條。當是太陰經錯簡。今入陽明。姑從仲景之舊云爾。）</p>
<p>上五條證（見原論中第五卷陽明病脈證並治法第八）</p>
<p>（琥）總按以上等證。皆自仲景太陽陽明病中集入者。太陽為寒水之經。故凡風寒濕邪外來。直中其經者有之。中之既速。不及發熱。故不頭痛。不作煩熱等證。或其人陽氣本虛。雖病日久。亦不作鬱熱也。又陽明中寒。有胸已前受寒氣者。有因口食冷物而得者。因其人脾胃氣弱。故不作鬱熱。為真陰證也。或問仲景少陽病中。何以無中寒證。余答云。少陽本相火。相火不受寒。故無直中之證。其陽明病有中寒者。以陽明雖屬燥金。金體本寒故也。或又問云。誠如吾子之說則太陰濕土。厥陰風木。是風濕中本有寒氣矣。至於少陰主君火。何以中寒之證反多。余答云。君火之氣。司天之位。乃子午也。午衝子水。焉得無寒。經云。少火之氣壯。壯火之氣衰。午為壯火火氣衰。寒能犯之。故夏至屬午而一陰生。此之謂也。</p>

<h1>卷中</h1>

<h2>辯太陰少陰厥陰病中寒脈證並治法</h2>
<p>（此係仲景原文）</p>
<p>中寒之病。皆陰證也。故雖寒中太陽陽明之經腑。亦謂之陰證。猶之傷寒之邪。傳入三陰。亦謂之陽證也。寒中三陰。為真陰證。然惟太陰中寒。其證不似陽。若少陰中寒。則見心煩而渴。咽痛。乾嘔。面色赤反發熱。欲去衣被等。全似陽證。何也。蓋少陰上本君火。下亦命門相火。少陰之火將絕。故真形畢見也。又厥陰中寒。亦有發熱。無汗而煩。咽中痛。乾嘔喉痹。便膿血。下利腹脹滿。及小腹滿。按之痛。其人躁。無暫安時。亦全似陽證。何也。蓋厥陰上即心包。下又風木。木火之氣燥。故陰極。則真藏之形見也。學者必先於仲景傷寒熱病論。逐條解明。及診視陽證。因人投劑。確有試驗。心目豁然。後讀此書。庶無誤治之陰證云爾。</p>
<p>自利不渴者。屬太陰。以其臟有寒故也。當溫之。宜服四逆輩。此太陰中寒也。自利不渴為濕勝。方注云然也。夫濕挾熱則渴。今者寒邪直透陽明。入於太陰之經而干其臟。太陰主濕土。其臟本寒。又挾外寒。故不渴也。是當急溫其里。宜服四逆輩以救臟寒。臟氣得溫。則經中之寒亦解矣。武陵陳氏云。言四逆輩。則理中亦在其中。○愚按上證。乃太陰經與臟皆有寒。若用理中。不如四逆之附子。為能行經矣。或其人自利臟寒且虛。經中無寒。宜用理中。經中寒而臟虛者。宜理中加附子。下多者。仍加茯苓。此仲景活法也。</p>
<p>上條證（見原論中第六卷太陰病脈證並治法第十）</p>
<p>少陰病。欲吐不吐。心煩。但欲寐。五六日。自利而渴者。屬少陰也。虛故引水自救。若小便色白者。少陰病形悉具。小便白者。以下焦虛。有寒。不能制水。故令色白也。（此少陰中寒也。以全文觀之。大似熱證。惟於小便色白細辯。知其為真寒之證無疑。少陰經脈貫膈。循喉嚨。欲吐不吐者。寒中其經。腎火虛。不能納氣。以故沖逆於咽膈之間。欲作吐也。少陰之支脈。從肺出絡心。注胸中。寒氣凌心。故心煩但欲寐。然此與熱邪之但欲寐不同。其寐必不昏濁。其呼吸必促而細也。如此等證若不急治。延至五六日。寒邪直入下焦。侵少陰之臟。腎家虛冷。失其閉藏之令。故自利。自利則腎水下泄。兼之火。虛其氣不能熏烝以上潤其經。故喉舌間反作渴也。曰屬少陰者。以別其非陽邪鬱熱之作渴也。腎氣大虛。內無津液。甚至飲水自救。愚謂渴是假象。試以冷水飲之。必不能多也。細察其小便。若色白者。此少陰虛寒之形證悉具也。下焦者。兩腎也。惟下焦虛。故不能約束水液。惟下焦既虛且有寒。故令便色白也。○愚按此條論。重在小便色白句。故篇中三言之成注以五六日。為邪傳少陰之時。尚論條辯等書。又以口燥咽乾。注少陰熱病之形證悉具。俱大誤之極。○愚又按此條論。仲景無治法。補亡論常器之云。可四逆湯。又甘草乾薑湯。見金匱方。愚以五六日之前。宜四逆湯。加生薑二兩。五六日後。宜茯苓四逆湯。即仲景四逆湯中加人參茯苓也。）</p>
<p>病人脈陰陽俱緊。反汗出者。亡陽也。此屬少陰。法當咽痛。而復吐利。（此少陰中寒也。病人脈陰陽俱緊。此陰陽以尺寸言。緊為寒。腠理當閉密而無汗。今則反自汗出者。寒邪直透太陽而中少陰之經。經氣虛寒。不能衛護其表。故曰亡陽。尚論篇云。此邪不出而汗先出也。惟少陰中寒之證為然。寒中少陰之經。法當咽痛復吐。以其脈貫膈循咽喉也。寒入少陰之臟。法當複利。以腎家無火。失其閉藏之令。故水無制而下泄也。後條辯云。由其人腎陽素虛。一遇寒中其經。臟氣輒不能自守。故見以上等證。使其人腎臟素溫。當不有此。又無陽。直是亡陽。以陰寒甚而相迸。陽遂出亡也。斯言實得仲景之旨。○愚按此條論。仲景無治法。補亡論常器之云。可豬膚湯。誤以咽痛為少陰傳經燥熱證。悖謬之極。又郭白雲云。少陰有伏氣病。亦如傷寒。法先咽痛。次必下利。與前證相似。古人謂之腎傷寒。其病輕。不傳經。治法不同。咽痛。可半夏桂枝甘草湯。下利。用四逆湯。一二日即愈。愚以半夏桂枝甘草湯。此即仲景治客寒咽痛方也。曰下利。宜四逆湯。此本仲景治汗出復吐利之藥。）</p>
<p>少陰病脈微。不可發汗。亡陽故也。陽已虛。尺脈弱澀者。復不可下之。（此言少陰中寒之禁法也。仲景法。凡言少陰病。皆脈微細。但欲寐。夫微脈輕取而得。細脈重取而得。今但云微而不云細。此表氣已虛。裡氣不守。乃亡陽而欲脫之脈也。汗為陽氣所化。豈有亡陽而可發汗者哉。此可見少陰亡陽。但脈微。雖無汗出之證。亦自不可發汗。至亡陽而陽已虛矣。尺脈又弱。夫尺脈必沉取乃得。沉取脈弱。是裡氣又虛。兼之脈澀。則血亦不足矣。故復有下之之禁。○愚按少陰中寒證。有汗法。麻黃附子細辛湯是也。其無下法者。推仲景之意。謂凡尺脈弱澀。雖傳經熱證。尚不可下。況陰寒之證邪。此以明斷不可下之戒。補亡論云。並宜附子湯。以補陽氣。散陰邪。助營血也。）</p>
<p>少陰病脈緊。至七八日。自下利。脈暴微。手足反溫。脈緊反去者。為欲解也。雖煩下利。必自愈。（此條乃少陰中寒自愈之證。少陰病脈緊者。寒邪盛也。至七八日失治。自下利。宜乎病加而寒將入臟矣。及診其脈乃暴微。則其微非亡陽之微。實陽氣回而脈微也。故其手足不厥而反溫。緊脈反去。此為寒邪欲解之候。雖煩且利。知其煩非寒氣凌心。乃陽復之煩。其利亦非腎氣失於閉藏。成注云。寒氣得泄。自愈可必也。）</p>
<p>少陰病下利。若利自止。惡寒而蜷臥。手足溫者。可治。（此條並下條。乃少陰中寒可治之證。寒邪入少陰之裡。故下利。即前所云腎失閉藏之令也。若利自止者。少陰之裡氣復也。裡氣雖復。經中之寒邪未散。仍見惡寒而蜷臥。蜷曲也。武陵陳氏云。少陰之脈。從然谷至俞府。皆行身之前。脈起足心。足惡冷。則足引起而蜷。身惡冷。則身屈蠖而蜷少陰惡寒之象如此。四肢者。諸陽之本。手足溫。雖經中之寒邪未盡去。而在裡之陽氣有足恃也。故云可治。補亡論常器之云。可當歸四逆湯。愚以溫經散寒。還宜四逆湯主之。但不可過劑。）</p>
<p>少陰病惡寒而蜷。時自煩。欲去衣被者。可治。（少陰病惡寒而蜷。經中之寒邪甚也。時自煩。欲去衣被者。少陰真陽之氣與之相爭。乃陽氣欲復之兆也。故云可治。○愚按此條論。仲景無治法。補亡論常器之云。吳茱萸湯。郭白雲云。凡少陰病煩躁者。不可下。先服吳茱萸湯。以煩躁。非實熱。且手足多逆冷也。愚以手足逆冷。亦有熱深而厥者。只據惡寒而蜷。明系是少陰真寒證。煩躁欲去衣被。是假熱之象。學者如遇以上等證。宜細辯之。）</p>
<p>少陰病。吐利。手足不逆冷。反發熱者。不死。脈不至。灸少陰七壯。（此條乃少陰中寒宜灸之法也。少陰病吐利。為寒邪直中其里。手足逆冷。其常候也。今手足不逆冷。及反發熱者。此與少陰病始得之反發熱不同。乃真藏之陽氣未脫。猶能通於經絡之間。故云不死。醫人不可以其無脈。竟棄而不治。此由吐利而陰陽之氣暴虛。以致卒不相接。非脈絕之比也。宜急灸少陰七壯。以返其陽。斯脈至。而吐利亦將自止矣。○愚按此條論。仲景未言當灸何穴。補亡論常器之云。是少陰太谿穴。龐安時云。發熱。謂其身發熱也。太谿二穴。在內踝後跟骨動脈陷中。經曰。腎之原。出於太谿。藥力尚緩。惟急灸其原。以溫其臟。猶可挽其危也。）</p>
<figure>
<img alt="太谿穴圖">
</figure>
<p>少陰病惡寒。身蜷而利。手足逆冷者。不治。（此條乃少陰中寒不治之證也。成注云。內外寒極。純陰無陽。故云不治。愚以外寒甚。則惡寒身蜷。手足厥冷。寒主收引故也。裡寒甚。則腎失閉藏。不能禁固而利不止乃少陰之氣已絕也。○後條辯云。陽受氣於四肢雖主於脾。實腎中生陽之氣所奉。故手足之溫與逆。關於少陰者最重。尚論篇云。即用四逆等法。恐亦不能回其陽矣。）</p>
<p>少陰病。吐利躁煩。四逆者。死。（自此以下共三條。皆少陰中寒之死證也。成注云。吐利者。寒甚於里。四逆者。寒甚於表。躁煩則陽氣欲絕。是知死矣。愚以陰寒既甚。則水來侮土。故見吐利四逆。加之躁煩者。武陵陳氏云。臟中陽虛。神氣不能固守。故浮越而發為躁煩。躁出於腎。煩出於心。先躁而後至煩者。腎之神亂而又上干於心也。此與陽經煩躁不同。陽經煩躁。因熱邪從表而侵於內。乃形動其神。陰經躁煩。因寒邪從經而迫於臟。乃神動其形。故知必死。）</p>
<p>少陰病。下利止而頭眩。時時自冒者死。（成注云。下利止。則水穀竭。眩冒。則陽氣脫。故死。○愚按下利止。則病當愈。今者反為死候。非陽回而利止。乃陽脫而利盡也。腎開竅於二陰。下利止而眩冒。為腎氣下絕。無根之陽氣泛上。故頭眩。無時而不昏冒。即條辯云。神氣散亂。謂非死候而何。）</p>
<p>少陰病。四逆惡寒。而身蜷。脈不至。不煩而躁者死。（條辯云。四肢溫和為順。故以厥冷為逆。逆不順也。惡寒身蜷。注已見前。此條雖不利。然脈不至。則陽氣已絕。以故不煩而躁。蓋腎藏志。陰寒直入於裡。迫其神志欲脫。故作躁也。成注以燈將滅而暴明為喻。愚以但躁不煩。其燈並不能暴明矣。謂非死證而何。）</p>
<p>少陰病。脈微細沉。但欲臥。汗出不煩。自欲吐。至五六日。自利復煩躁。不得臥寐者死。（此條病。乃少陰中寒。失於溫而致死之證。脈微細但欲寐。此少陰經熱病亦然。今則加沉。則寒中少陰矣。但欲臥者。臥與寐等耳。此與欲吐。皆少陰經真寒證。注已見前第一條中。汗出不煩者。此陽亡於表。不能作煩熱也。此等病皆當急溫。失此不治。延至五六日。經中寒邪。遂爾入臟。甚至自利。煩躁不得臥寐。乃真陽之氣不能關守。頃刻奔散而擾亂不寧。焉得不死。○後條辯云。凡此諸證。語以少陰失溫。醫家必且鬨然曰。病人不手足厥冷。不惡寒蜷臥。而煩躁如是。不得臥如是。又何陰證之有。可見少陰一經病。為最難識。凡我同人。宜細辯之。）</p>
<p>少陰病。始得之。反發熱。脈沉者。麻黃附子細辛湯主之。（此條乃少陰病溫發之一法也。條辯云。少陰位北而居里。故脈沉。當不發熱。今者始得病便在少陰。此係寒邪直中其經。非太陽經逗留而傳來者。故以發熱為反也。要之少陰發熱。與太陽較異。太陽當見頭項強痛。今者太陽證皆不見而脈沉。由其人腎經素寒。真陽之氣。不能辟邪而出。故脈沉。然其發熱處。仍在太陽部分愚以用麻黃附子細辛湯者。內以溫少陰之裡。使邪仍從太陽之表而出也。○愚按仲景法。凡云少陰病。必兼脈微細但欲寐而言。上文云少陰病始得之。必脈微細沉而但欲寐。只多反發熱證。故知其為直中少陰無疑。）</p>

<h3>麻黃附子細辛湯方</h3>
<p>麻黃（二兩去節）　附子（一枚炮去皮破八片）　細辛（二兩）</p>
<p>上三味。以水一斗。先煮麻黃減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。日三服。</p>
<p>成注引內經曰。寒淫於內。治以甘熱。佐以苦辛。以辛潤之。麻黃之甘。以解少陰之寒。附子細辛之辛。以溫少陰之經。</p>
<p>內臺方議云。用附子為君。以溫經散寒。細辛之辛。以散少陰之寒邪為臣。麻黃能取汗。用之為佐使。以此三味之劑發汗。非少陰則不敢用也。</p>
<p>內臺方疑問曰。陰證不得使有汗。今者少陰病反發熱而汗之者。何也。答曰。少陰屬腎為里。當無熱。為有相火之位。亦能發熱。其脈雖沉細。必當取微汗而後已也。</p>
<p>琥按上方議。猶未明暢。愚以炮附子之辛熱。用以溫少陰之裡。細辛之辛熱。專以走少陰之經麻黃之辛甘熱。大能發表。三者相合。使里溫而陽氣不脫。表透而寒邪得散。尚論篇云。此少陰表法之正。良有以夫。</p>
<p>少陰病得之二三日。麻黃附子甘草湯。微發汗。以二三日無里證。故微發汗也。（此條病當承上條而言。上條反發熱脈沉。此亦反發熱脈沉。但上言始得之為急。此言得之二三日為緩病勢稍緩。治法亦緩。故用麻黃附子甘草湯微發其汗。無里證者。為無吐利躁煩乾嘔厥逆等證也。故仍從微汗以溫發之。）</p>

<h3>麻黃附子甘草湯方</h3>
<p>麻黃（二兩去節）　甘草（二兩炙）　附子（一枚炮去皮）</p>
<p>上三味。以水七升。先煮麻黃一兩沸。去上沫。內諸藥。煮取三升。去滓。溫服一升。日三服。</p>
<p>成注云。麻黃甘草之甘。以散表寒。附子之辛。以溫經氣。○愚意云。此即辛甘發散之義。必反發熱。故宜用此湯也。</p>
<p>琥按內臺方議。但云二三日內。脈沉細蜷而臥。為少陰病。不及反發熱三字。殊為脫略。條辯諸注皆云。方中用甘草。以易細辛。曰微發汗者。乃少陰病和解之法。為溫散之緩方也。</p>
<p>少陰病得之一二日。口中和。其背惡寒者。當灸之。附子湯主之。（此條乃少陰中寒。大宜溫補之證。少陰病得之一二日。與前條云始得之義相同。口中和者。為里無熱。成注云。少陰客熱。當口燥舌乾而渴。今則皆無之也。背者。太陽經之部分。少陰之脈。上股內後廉。貫脊屬腎。脊居背之裡。背惡寒者。成注云。陽氣弱。陰氣勝也。灸以艾火。助陽而消陰。與附子湯。溫中而補虛。要之散寒邪之用。亦在其中矣。○按此條論。仲景不言當灸何穴。補亡論常器之云。當灸鬲俞。關元穴。背俞第三行。郭白雲云。此有漏字。當是灸鬲俞關元穴也。鬲俞是背俞第二行穴。愚按鬲俞。果系背俞部。第二行穴。然常氏所云第三行穴者。當是鬲關。非鬲俞也。圖經云。鬲關二穴。在第七椎下。兩旁相去各三寸陷中。正坐取之。足太陽氣脈所發。專治背惡寒。脊強。俯仰難。可灸五壯。蓋少陰中寒。必由太陽而入。故宜灸其穴也。又關元一穴。在腹部中行。臍下三寸。足三陰任脈之會。可灸百壯。圖見後厥陰病第六條證下。常云灸鬲關者。是溫其表以散其外邪灸關元者是溫其里以助其元氣也。）</p>
<figure>
<img alt="鬲關穴圖">
</figure>

<h3>附子湯方</h3>
<p>附子（二枚去皮破八片）　茯苓（三兩）　人參（二兩）　白朮（四兩）　芍藥（三兩）</p>
<p>上五味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>成注云。辛以散之。附子之辛。以散寒。甘以緩之。茯苓人參白朮之甘。以補陽。酸以收之。芍藥之酸。以扶陰。所以然者。偏陰偏陽。則為病。火欲實。水當平之。不欲偏勝也。○上七字甚晦。</p>
<p>內臺方議曰。少陰之氣。上通於舌下。若有病。則口燥舌乾。今口中和者。是無熱也。背為陽。陽虛陰盛。則背惡寒也。經曰。無熱惡寒者。發於陰也。當灸之。宜灸背俞。與附子湯服之。以附子為君溫經散寒。茯苓為臣。而泄水寒之氣。以白朮芍藥為佐而益燥其中。以人參為使。而補其陽。以益其元氣。散其陰邪也。</p>
<p>武陵陳氏曰。四逆諸方。皆有附子。於此獨名附子湯。其義重在附子。他方皆附子一枚。此方兩枚可見也。附子之用不多。則其力豈能兼散表裡之寒哉。二枚生用。生則辛烈善走不獨溫少陰之經。而又走衛氣。以治背惡寒也。邪之所湊其氣必虛。參朮茯苓。皆甘溫益氣。以補衛氣之虛。辛熱與溫補相合。則氣可益而邪可散矣。既用生附之辛烈。而又用芍藥者。以斂陰氣。使衛中之邪。不遽全進於陰耳。</p>
<p>琥按上三注。成氏云芍藥之酸以扶陰雲云。其意甚晦。內臺以芍藥與白朮。同為佐而益燥其中。其義於芍藥未確。惟陳注。實為曉暢。或疑芍藥酸寒。恐非中寒所宜。然方中用附子二枚。則過於溫發。不妨用芍藥以少斂。但不必三兩之多耳。</p>
<p>琥又按最前條。少陰病始得之。反發熱。此裡寒正氣與之相爭。故以發熱為表實。方用熟附子。合麻黃細辛。以溫散之。此條少陰病一二日。亦始得之。口中和。其背惡寒。此裡寒而正氣大虛。不能與邪相爭。故不發熱。及表裡皆虛也。故用生附配參苓白朮。以溫補而發之。方中用芍藥者蓋氣虛。血必隨之而亦虛。故用芍藥以扶陰也。</p>
<p>或問背惡寒。焉知非太陽病。未發熱之證。余答云。太陽病未發熱之時。口中亦和。要其證。當通身惡寒。而寒在皮表。今者。少陰病。但背惡寒。而寒在脊之裡。如遇此候。問病人當自言之。況太陽病頭項強痛。與少陰病但欲寐迥別。無待辯也。</p>
<p>少陰病。身體痛。手足寒。骨節痛。脈沉者。附子湯主之。（此條亦少陰中寒。宜溫補之證。成注云。少陰腎水而主骨節。寒傷營。先著。肢體而後入骨節。今者身體痛。手足寒。骨節痛者。營氣為寒所折而不行也。加之脈沉。沉為在裡。乃少陰臟虛受寒。故其所過之經。皆作痛也。與附子湯。以溫經補虛散寒。○武陵陳氏云。太陽麻黃證中之痛與此相同。但太陽則頭痛發熱。此無頭痛發熱。而手足寒為異也。愚以此身體痛。當是身體以前。連背脊以內骨節痛。故其脈見沉。若渾身骨節痛。全是太陽表實熱證。何敢用附子湯。作裡虛寒證治邪。據上病用附子湯者。以附子散少陰之真寒。參朮得茯苓引用。補下焦元氣。加芍藥者。謂其能和營止痛也。或問和營止痛何以不用當歸。余答云。當歸治中寒。非不勝於芍藥。奈本方中既用生附子為君。其性辛熱。過於走竄。使不用芍藥斂而和之。恐反耗其營氣。而痛無收攝矣。古方配合之妙。難以言傳。學者能神而明之。庶可以加減而無誤矣。）</p>
<p>少陰病。下利。便膿血者。桃花湯主之。（此條乃少陰中寒。即成下利之證。下利便膿血。協熱者多。今言少陰病下利。必脈微細。但欲寐。而復下利也。下利日久。至便膿血。乃里寒而滑脫也。武陵陳氏云。少陰下利。是少陰初病。即下利。並非傳經之利。則是先利為寒。後便膿血。為滑脫明矣。與桃花湯者。固下而散寒也。）</p>

<h3>桃花湯方</h3>
<p>赤石脂（一斤一半全用一半篩末）　乾薑（一兩）　粳米（一升）</p>
<p>上三味。以水七升。煮米令熟。去滓。溫服七合。內赤石脂末方寸匕。日三服。若一服。愈余勿服。</p>
<p>成注云。濕可去脫。赤石脂之澀。以固腸胃。辛以散之。乾薑之辛。以散裡寒。粳米之甘。以補正氣。內臺方議云。陽病下利便膿血者。為協熱也。屬白頭翁湯。少陰病下利便膿血者。為下焦不約而裡寒也。故用赤石脂為君而固腸胃。澀可去脫也。乾薑為臣。散寒溫氣。辛以散之也。粳米為佐使。以補正氣而安其中。甘以緩之也。</p>
<p>或問桃花湯。非入少陰之劑。何以治少陰下利。余答云。邪中少陰。寒在腸胃。仲景用桃花湯以治寒利。亦猶之治少陰病自利清水。色純青。心下必痛。口乾燥者。宜大承湯。其湯未嘗入少陰。止以下腸胃中之實。而經中之熱自平。同一理耳。</p>
<p>少陰病。二三日。至四五日。腹痛。小便不利。下利不止。便膿血者。桃花湯主之。（此條少陰病。下利更加腹痛。其中寒則甚於前矣。少陰之脈行於腹。今病起自二三日至四五日。寒邪入里已深。故腹痛也。小便不利者。下焦為寒邪所阻。闌門受傷。水液併入大腸。遂下利不止。甚至津液滑脫而為膿血。成注云。腸胃虛弱。下焦不固也。與桃花湯。以溫胃。固腸。散寒氣。○或問下利膿血。使不問病於何日起。兼之腹痛。小便不利。焉知非協熱證。余答云。少陰裡寒便膿血。所下之物。其色必黯而不鮮。乃腎受寒濕之邪。水穀之津液。為其凝泣。醞釀於腸胃之中。而為膿血。非若火性急速而色鮮明。蓋水伏已久。其色黯黑。其氣不臭。其人必脈微細。神氣靜而腹不甚痛。喜就溫暖。欲得手按之。腹痛即止。斯為少陰寒利之微。）</p>
<p>少陰病。下利。便膿血者。可刺。（當作灸○少陰病下利。便膿血。最前條已言其治矣。茲又重出其治而云刺者。當是可灸之誤。蓋少陰不下利而便膿血。此是陽經傳來之熱。壅遏於少陰之經。故宜刺以通泄之。今少陰病既下利矣。復見膿血。曾用桃花湯以溫澀之。倘溫澀不止。繼之以灸。此為輔治之法。方氏條辯既認以為裡寒滑脫證。復注云。刺者。所以通其壅瘀也。借問經中壅瘀。寒邪熱邪。知刺法之不可。末又云。可者僅可之詞。措詞牽強。大謬之極。○愚按此條論。仲景不言當刺何穴。補亡論常器之云。可刺幽門交信。郭白雲云。可灸。考幽門二穴。在腹部第二行挾巨闕兩旁各五分。衝脈足少陰之會。治泄利膿血。可灸五壯。交信二穴在足少陰腎經。內踝上二寸。少陰前。太陰後廉前筋骨間。治泄利赤白。女子漏血不止。可灸三壯。）</p>
<figure>
<img alt="幽門交信穴圖">
</figure>
<p>少陰病。吐利。手足厥冷。煩躁欲死者。吳茱萸湯主之。此條乃少陰中寒。胃中虛冷。大宜溫補之證。少陰之脈。其直者。上膈。循喉嚨。其支者。注胸中。少陰之寒邪甚。則胃中陽氣受傷。因作吐利。四肢者稟受於胃。胃中陽氣傷。則手足之氣不接續。故厥逆而冷也。經中之寒邪。與陽氣相爭。陽將耗散。故煩躁欲死。煩出胸中。此以吐利而因致躁。非吐利躁煩四逆之比。宜吳茱萸湯。以溫中補虛散寒。○或問吐利。手足逆冷。煩躁欲死。焉知非熱厥霍亂之證。余答云。熱厥霍亂。若吐利。則邪氣得泄。手足必溫。遂不煩躁欲死矣。今者既吐且利。手足又冷。煩躁欲死。此煩躁必不如霍亂之甚。其欲死者。必精采不與人相當。而氣脫欲死。不若熱證之揚手擲足。而口中大呼欲死。且有少陰病脈微細但欲寐以為證。則知其為虛寒必矣。</p>

<h3>吳茱萸湯方</h3>
<p>（正解見下厥陰病中）</p>
<p>成注內經曰。寒淫於內治以甘熱。佐以苦辛。吳茱萸。生薑之辛。以溫胃。人參大棗之甘。以暖脾內臺方議云。吐利。手足逆冷者。寒氣內甚也。煩躁欲死者。陽氣內爭也。以吳茱萸能下三陰之逆氣為君。生薑能散氣為臣。人參大棗之甘。能緩氣和調者也。故用之為使以安其中。愚以中氣安。則吐利自止。此惟寒中少陰。胃虛吐利者宜之耳。</p>
<p>武陵陳氏云。吳茱萸湯之用有三。陽明食谷欲嘔用之。少陰吐利用之。厥陰乾嘔吐涎沫者。亦用之。故本草稱其入太陰少陰厥陰。以散三經之寒。其性最烈。而其效最捷也。抑有說焉。茱萸雖屬三經。而溫中下氣。治胃冷吐利腹痛為專功。要之吐利之證。未有不關乎胃者。故此湯先定胃氣。且夫吐利至於欲死。此其證之急為何如哉。急證當以急治之。雖桂附之辛。其性猶緩。不如茱萸辛溫大熱。急能泄邪定胃。故用茱萸最多。而以生薑之辛散為輔。吐利既甚。中氣大傷。非用人參。則無以奠安中土。生薑大棗相合可以和脾而安胃。然參棗之用差少。不及一物之半。因其勢以為權衡。豈非欲泄少陰之邪。先以定胃為急乎。至於真武通脈四逆諸方。亦治利治嘔。則以或吐或利。不如是之急。故其法亦異也。</p>
<p>少陰病下利。白通湯主之。（此條病。乃少陰下利。宜溫發之證。病初起。寒邪便中少陰而下利。此寒邪不獨在經而入臟矣。腎虛無火。不能制水。故下利。用白通湯者。成注云。溫里以散寒也。）</p>

<h3>白通湯方</h3>
<p>蔥白（四莖）　乾薑（一兩）　附子（一枚生用去皮破八片）</p>
<p>上三味。以水三升。煮取一升。去滓。分溫再服。</p>
<p>成注引內經曰。腎苦燥。急食辛以潤之。蔥白之辛。以通陽氣。姜附之辛。以散陰寒。</p>
<p>琥按上注云。腎苦燥。急食辛以潤之。蓋少陰下利。非苦燥。方中藥味皆用辛者。乃辛以散之。殊非潤之之義。</p>
<p>內臺方議云。少陰者。腎水也。若脈沉微下利。無熱證者。乃少陰客寒不能制腎水。故自利也。以附子為君。溫經散寒。加乾薑之辛熱。溫中益陽。加蔥白之辛。通陽氣也。以此三味之劑。而治下利。若非內寒陰勝者。不可用也。</p>
<p>琥按上議云。少陰客寒。不能制腎水。此言實本成注之意。然成注云不能制水。乃腸胃中之水也。若云腎水。彼下利之水。豈腎水邪。何悖謬之極也。</p>
<p>武陵陳氏云。白通湯者。謂蔥白能通陽氣。而因名白通也。少陰陽氣原微。又為大寒所中。而獨見下利一證。陰盛陽微。其勢大危。故用姜附二味。使其從中焦。直達下焦。補益真陽之氣而散極寒也。此方與四逆湯相類。獨去甘草。蓋驅寒欲其速。辛烈之性。取其驟發。直達下焦。故不欲甘以緩之也。而尤重在蔥白。少陰為陰。天之寒氣亦為陰。兩陰相合而偏於下利。則與陽氣隔絕不通。姜附之力。雖能益陽。不能使真陽之氣。必入於陰中。惟蔥白味辛。能通陽氣。令陰得陽而利可愈。蓋大辛大熱之藥。原非吾身真陽。不過藉以益吾陽氣。非有以通之。能令真陽和會。而何以有濟也邪。</p>
<p>或問人身真陽之氣何居。余答云。兩腎中有真陽之氣。乃命門相火也。肺中有真陽之氣。乃心與包絡之火也。寒中少陰不獨主腎。心家之火亦隔絕也。故用白通湯。以通上下之陽氣。</p>
<p>少陰病。下利脈微者。與白通湯。利不止。厥逆無脈乾嘔煩者。白通加豬膽汁湯主之。服湯。脈暴出者死。微續者生。（此承上條而言。服白通湯不應。反增無脈等證。少陰病脈原微細。茲但言微者。微為陽虛。即下文無脈之漸也。下利脈微。與白通湯。非不對病。然服之利不止。厥逆無脈。乾嘔煩者。寒邪太甚。熱藥為邪格拒。陽欲通而不得通。陽氣卒不相接而擾亂故也。與白通加豬膽汁湯主之者。內經云。反治之法也。服湯脈暴出者。正氣因發泄而驟脫也。故死。脈微續者。乃真陽之氣漸復也。故生。）</p>

<h3>白通加豬膽汁湯方</h3>
<p>蔥白（四莖）　乾薑（一兩）　附子（一枚生去皮破八片）　人尿（五合）　豬膽汁（一合）</p>
<p>以上三味。以水三升。煮取一升。去滓。內膽汁人尿。和令相得。分溫再服。若無膽。亦可用。</p>
<p>成注引內經曰。若調寒熱之逆。令熱必行。則熱物冷服。下嗌之後。冷體既消。熱性便發。由是病氣隨愈。嘔煩皆除。情且不違。而致大益。此和人尿豬膽汁。鹹苦寒物。於白通湯熱劑中。要其氣相從。則可以去格拒之寒也。</p>
<p>琥按上方後云。若無膽亦可用。則知所重在人尿。方當名白通加人尿湯始妥。人尿鹹寒。內湯中。和令相得飲之。即成注云熱物冷服之意。</p>
<p>內臺方議云。少陰病下利脈微者。與白通湯服之。利當止。若利不止。厥逆無脈。乾嘔煩者。乃寒氣大甚。內為格拒。使陽氣逆亂也。故加豬膽汁童便二物。以和其陰。內經曰。逆而從之。則格拒因解也。</p>
<p>武陵陳氏云。下利。則寒甚於下。乾嘔。則寒甚於上。以反見虛煩。乃火無根失守之象。夫姜附之力。不得達於下焦。而虛陽上浮。其死可立而待非用人尿豬膽汁。以為嚮導。不可蔥白之通陽氣。乃正治之法。二物之通陽氣。乃反治之法。人尿鹹寒。取其降下。水畜惟膽苦寒。取其同氣相求也。</p>
<p>少陰病。二三日不已。至四五日。腹痛。小便不利。四肢沉重。疼痛。自下利者。此為有水氣。其人或咳。或小便利。或下利。或嘔者。真武湯主之。（此條系少陰中寒。寒氣積結。變為水氣之證。少陰二三日。寒邪猶淺。至四五日。寒邪已深。成注云。腎主水。腎病不能制水。水寒之氣內甚。則腹痛。小便不利。及自下利。外甚。則四肢沉重。疼痛。其人或咳者。水寒氣逆也。或小便利者。即下焦虛。有寒。不能制水。小便色白之意。或下利者。謂前自下利。系二三日之證。此必是前未嘗下利。指四五日後。始下利者而言。或嘔者。水寒之氣上壅也。故與真武湯。以益陽氣。散寒水。）</p>

<h3>真武湯方</h3>
<p>茯苓（三兩）　芍藥（三兩）　生薑（三兩切）　白朮（二兩）　附子（一枚炮去皮破八片）</p>
<p>上五味。以水八升。煮取三升。去滓。溫服七合。日三服。</p>
<p>後加減法</p>
<p>若咳者加五味子半升。細辛乾薑各一兩。若小便利者。去茯苓。若下利者。去芍藥。加乾薑二兩。（愚按上正文云。自下利。而方中有芍藥。此又云。下利者。宜去之。原文疑有錯誤。）若嘔者去附子。加生薑。足前成半斤。</p>
<p>成氏明理論云。真武。北方水神也。而屬腎。用以治水焉。水氣在心下。外帶表而屬陽。必應發散。故治以真武湯。青龍湯。主太陽病。真武湯。主少陰病。少陰。腎水也。此湯可以和之。真武之名得矣。茯苓味甘平。白朮味甘溫。脾惡濕。腹有水氣。則脾不治。脾欲緩。急食甘以緩之。滲水緩脾。必以甘為主。故以茯苓為君。白朮為臣。芍藥味酸微寒。生薑味辛溫。內經曰。濕淫所勝。佐以酸辛除濕正氣。是用芍藥生薑。酸辛為佐也。附子味辛熱。內經曰。寒淫所勝。平以辛熱。溫經散濕。是以附子為使也。水氣內漬。至於四散。則所行不一。故有加減之方焉。若咳者。加五味子。細辛。乾薑。咳者。水寒射肺也。肺氣逆者。以酸收之。五味子酸而收也。肺惡寒。以辛潤之。細辛乾薑。辛而潤也。若小便利者去茯苓。茯苓專滲泄者也。若下利者。去芍藥。加乾薑。酸之性泄。去芍藥。以酸泄也。辛之性散。加乾薑。以散寒也。嘔者。去附子。加生薑。氣上逆則嘔。附子補氣。生薑散氣。兩不相損。氣則順矣。增損之功。非大智。孰能貫之。</p>
<p>琥按上成氏云。芍藥味酸。與生薑之辛。能除濕正氣。夫除濕正氣。全是生薑佐苓朮之力。與芍藥似無與。又云。酸之性能泄也。夫芍藥之性。能收而不能泄。成氏所解。殊非制方本意。內臺方議。以芍藥佐苓朮而益脾氣。其言庶近之矣。</p>
<p>琥又按真武湯。專治少陰裡寒停水。君主之藥。當是附子一味。為其能走腎溫經而散寒也。水來侮土。則腹痛下利。故用苓朮芍藥。以滲停水。止腹痛四肢沉重是濕。疼痛是寒。此略帶表邪。故用生薑以散邪。或疑芍藥酸寒。當減之極是。然上證系裡氣虛寒。方中既有姜附之辛。不妨用芍藥之酸。以少斂中氣。若咳者。水寒射肺。肺葉張舉。既加細辛乾薑以散水寒。不妨加五味子以斂肺。但五味子酸味太厚。不須半升之多也。小便利者。不得云無伏水。乃下焦虛寒。不能約束水液。其色必白。去茯苓者。恐其泄腎氣也。若下利者。裡寒甚。故去芍藥。加乾薑。嘔者。水寒之氣。上壅於胸中也。加生薑。足前成半斤。以生薑為嘔家聖藥。若去附子。恐不成真武湯矣。注云附子。補氣。夫虛寒。何妨熱補。若嫌補氣。方中何以不去白朮。反去附子。武陵陳氏云。強解者曰。嘔急而用正治之藥。則其氣格拒不入。俟嘔定。仍用附子。愚以前條白通加豬膽汁湯。亦云治嘔。方中不聞去附子。則是上加減法。恐系後人所附。而非仲景原文明矣。</p>
<p>少陰病。下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人面赤色。或腹痛。或乾嘔。或咽痛。或利止。脈不出者。通脈四逆湯主之。（此條乃少陰病裡寒外熱之證。成注云。下利清穀。手足厥逆。脈微欲絕。乃里寒也。身反不惡寒。面赤色。是外熱也。武陵陳氏云。裡寒外熱者。寒甚於里。有陰無陽。而無根失守之火浮越於外也。與通脈四逆湯。以溫里散寒。兼通陽氣。或腹痛以下等證。注見後各條下。）</p>

<h3>通脈四逆湯方</h3>
<p>甘草（二兩炙）　附子（大者一枚生用去皮破八片）　乾薑（三兩強人可四兩）</p>
<p>上三味。以水三升。煮取一升二合。去滓。分溫再服。其脈即出者愈。</p>
<p>後加減法</p>
<p>面色赤者。加蔥九莖。（不言白者。省文也。）腹中痛。去蔥。加芍藥二兩。嘔者。加生薑二兩。咽痛者。去芍藥加桔梗一兩。利止。脈不出者。去桔梗。加人參二兩。久病。脈與方相應者。乃可服之。</p>
<p>武陵陳氏云。通脈四逆。即四逆湯也。其異於四逆者。附子云大。甘草乾姜之分兩加重。然有何大異。而加通脈以別之。曰四逆湯者。治四肢逆也。論曰。陰陽之氣不相順接。便為厥。厥者。陽氣虛也。故以四逆益真陽。使其氣相順接而厥逆愈矣。至於裡寒之甚者。不獨氣不相順接。並脈亦不相順接。其證更劇。故用四逆湯而制大其劑。如是。則能通脈矣。同一藥耳。加重。則其治不同。命名亦別。方亦靈怪矣哉。</p>
<p>琥按上湯。成氏無正解。其義止見於四逆湯中。據條辯云。通脈者加蔥之謂。其言甚合制方之意。況上證云脈微欲絕云云。其人面赤色。其文一直貫下。則蔥宜加入方中。不當附於方後。雖通脈之力。不全在蔥。實賴蔥為引而效始神。</p>
<p>琥又按蔥味辛。入手太陰經。故能引諸藥料以通脈。蓋兩手之脈。實屬手太陰肺經也。又入足陽明經。故能上行於面。面通陽氣。以足陽明之脈。循鼻外。上耳前。實面部也。原方中無蔥者。乃傳寫之漏。不得名通脈也。</p>
<p>琥又按上方後云。其脈即出者愈。尚論篇云。其辯最細。蓋暴出。則脈已離根。即出。則陽已返舍。由其外反熱。反不惡寒。真陽尚在軀殼。然必通其脈而脈即出。始為休徵。設脈出艱遲。其陽已隨熱勢外散。又主死矣。</p>
<p>琥又按成氏註上加減法原云。腹中痛加芍藥。謂芍藥之性。能通寒利腹中痛。大謬之極。今錄內臺方注於下。</p>
<p>面色赤者。加蔥九莖。（蔥味辛。能通陽也。）腹中痛者。加白芍藥二兩。（芍藥能安中補血。行營止痛。故用之。）嘔者。加生薑二兩。（生薑之辛。能止嘔散氣也。）咽痛者。加桔梗一兩。（桔梗能利嚥下氣。故加之。）利止。脈不出者。加人參二兩。（利止脈不出者亡血也。加人參。益氣生血。）</p>
<p>琥。按前加減法。有云去蔥。去芍藥。去桔梗。此係衍文。故內臺注不言及。又仲景原文。加人參二兩下。有久病脈與方相應者。乃可服之句。正以見先聖用藥。必任重其事。成注移入注中。忽之甚矣。</p>
<p>或問腹中痛。系裡寒甚。何以加芍藥。余答云。芍藥之性平。用入芩連等劑。則和血分之熱。用入姜附等劑。則和血分之寒。在配合之得其宜耳。且上文云。腹中痛。系寒傷營。少陰之邪。侵入中焦。脾氣虛寒。故加白芍藥於四逆湯中。</p>
<p>少陰病。脈沉者。急溫之。宜四逆湯。（此條乃少陰中寒宜急溫之證。少陰病。本脈微細。但欲寐。今者。輕取之。微脈不見。重取之。細脈幾亡。伏匿而至於沉。此寒邪深中於里。殆將入臟。溫之不容以不急也。少遲。則惡寒身蜷。吐利躁煩。不得臥寐。手足逆冷。脈不至等。死證立至矣。四逆湯之用。其可緩乎。）</p>

<h3>四逆湯方</h3>
<p>（此方自仲景原論中第二卷集入於此）</p>
<p>甘草（二兩炙）　乾薑（一兩半）　附子（一枚生用去皮破八片）</p>
<p>上三味。㕮咀。以水三升。煮取一升二合。去滓。分溫再服。強人可大附子一枚。乾薑三兩。</p>
<p>成氏明理論云。四逆者。四肢逆而不溫也。四肢者。諸陽之本。陽氣不足。陰寒加之。陽氣不相順接。是致手足不溫。而成四逆。此湯升發陽氣。卻散陰寒。溫經暖肌。是以四逆名之。甘草味甘平。內經曰。寒淫於內。治以甘熱。卻陰扶陽。必以甘為主。是以甘草為君。乾薑味辛熱。內經曰。寒淫所勝。平以辛熱。逐寒正氣。必先辛熱。是以乾薑為臣。附子味辛大熱。內經曰。辛以潤之。開發腠理。致津液。通氣也。暖肌溫經。必憑大熱。是以附子為使。此奇制之大劑也。四逆屬少陰。少陰者。腎也。腎肝位遠。非大劑則不能達。內經曰。遠而奇偶。制大其服。此之謂也。</p>
<p>內臺方議云。病在於表之陽者。葛根湯。麻黃湯。可汗之。病在於表之陰者。桂枝湯。麻黃附子細辛湯。可汗之。病在於里之陽者。大小承氣湯。大柴胡湯。皆可下之。病在於里之陰者。四逆湯。白通湯。真武湯。皆可溫之。今此四逆湯。乃□病在裡之陰者用也。上條不言少陰病諸證。但是脈息沉。沉為虛脫。不飲水者。屬陰寒也。必以附子為君。以溫經濟陽。以乾薑為臣輔佐之。甘草為使。以調和二藥。而散其寒也。內經曰。寒淫於內治以甘熱。又曰。寒淫所勝。平以辛熱。乃附子之熱。乾薑之辛。甘草之甘是也。</p>
<p>琥按上議君使藥。實得仲景之旨。成氏以甘草分兩特重。指以為君。殊欠斟酌。</p>
<p>少陰病。飲食入口則吐。心中溫溫欲吐。復不能吐。始得之。手足寒。脈弦遲者。此胸中實。不可下也。當吐之。若膈上有寒飲。乾嘔者。不可吐也。急溫之。宜四逆湯。（此條亦少陰中寒。當急溫之證也。少陰病脈不微細。庶幾以但欲寐辯之。少陰之脈上膈。循喉嚨。出絡心。注胸中。寒邪直中其經。故飲食入口即吐。其有至心胸中者。又溫溫欲吐。復不能吐。皆寒邪阻隔於胸咽之間。而氣壅塞不通也。曰始得之。手足寒。正以辯其非傳經熱邪之證診其脈不微細而遲。遲者寒也。又見弦脈。為胸中實。為飲。大抵實熱之證可下。寒實之證不可下也當吐之者。非真用吐法也。謂中寒之證。亦有口食寒物一條。使胸中果有寒物。不妨就其欲吐之勢而吐之。若膈上所停之物止寒飲。寒飲者。似痰而清。得辛熱之藥。即時便能消散。並非有物可以吐出。故但乾嘔。止有急溫一法。宜四逆湯。恐緩則不救耳。○愚按上條證用四逆湯。能溫經散寒。補虛暖胃。○或問胃寒欲吐。何以不用理中湯丸。余答云。理中之寒。寒在中焦。今者少陰病寒自下焦而起。腎虛不能約束水液。故上溢於膈而為寒飲。方用四逆湯者。使直達下焦以治其本也。○或又疑蜜炙甘草。得毋吐家所忌。余答云。實熱之吐。中滿作脹。故忌甘草。今者胸中無物。純是虛寒之氣。方中全賴炙甘草以溫補中氣。至於生附子。但能走腎。而散少陰經之寒。乾薑雖能守中止嘔。而亦不補。得其要領。又何待擬議邪。或又云。既吐且嘔。生薑可以加否。斯言於義。為得之矣。）</p>
<p>少陰病。下利脈微澀。嘔而汗出。必數更衣。反少者。當溫其上。灸之。（此條乃少陰中寒艾灸之法也。少陰之脈本微。為陽虛。因下利。則脈澀。澀為血少。乃下多亡陰也。嘔者。寒氣上逆也。陽虛不能外固。故汗出。陽氣下陷。必數更衣。更衣注。見傷寒辯注第六卷陽明病中。反少者。空坐弩責而所下之物不多。乃血少也。故用灸法。以消其陰寒。提其陽氣。則利自止。而諸證悉平矣。○按此條論。仲景不言當灸何穴。脈經云。灸厥陰俞。補亡論常器之云。灸太衝。皆誤。郭白雲云。灸太谿。雖系少陰經穴。亦誤。愚以仲景云。宜溫其上。條辯云。上謂頂百會是也。圖經云。一名三陽五會。在前頂後。一寸五分。頂中央。旋毛中。可容豆。原治小兒脫肛久不瘥。可灸七壯。上證亦灸之者。升舉其陽。以調夫陰也。）</p>
<figure>
<img alt="百會穴圖">
</figure>
<p>上二十七條證（見原論中第六卷少陰病治法第十一）</p>
<p>傷寒先厥。後發熱。而利者。必自止。見厥。複利。（此條傷寒乃厥陰中寒。厥利相連之證。厥陰者。陰之盡。厥陰之經。陽氣甚微。故不論陰陽二證。寒熱之邪。但至其經。無有不發厥者。蓋厥即為逆。起於手足。而通身皆冷。今日先厥者。此初起便厥。厥即下利。成注所云陰氣勝。則厥逆為利也。後發熱者。陽氣復也。陽氣復。則利者必自止。倘調理失宜。誤服涼藥而仍見厥。亦必複利。以陽氣負而陰氣勝。必加危也。○按此條論。仲景無治法。補亡論常器之云。白頭翁湯。郭白雲云。白頭翁湯治熱利。此更當審證冷熱用之。愚以上證。乃陰寒發厥下利。輕者吳茱萸湯。重者四逆湯輩。○愚又按上證云。先厥後發熱。是初起便發厥且利。以見其非是陽經傳來者。陽經之邪。必先熱。後厥。若得下利。則熱邪亦泄。便不發厥。則是既厥且利者。謂非陰寒之證而何。○或問云。陽證初起。亦有手足厥冷。而後發熱者。余答云。陽證必顯頭痛等證。且手足發厥之時。身必大熱。無有但厥而不發熱。至厥有四日。五日。七八日。及膚冷之異者。至於熱邪傳入厥陰。亦有發厥甚則通身皆冷。直與陰證無別矣。學者臨證。宜細辯之。）</p>
<p>傷寒脈遲。六七日。而反與黃芩湯。徹其熱。脈遲為寒。今與黃芩湯。復除其熱。腹中應冷。當不能食。今反能食。此名除中。必死。（此條傷寒。乃厥陰中寒。誤服涼藥而致死之證。脈遲為寒。不待智者而後知也。六七日反與黃芩湯者必其病初起。便發厥而利。至六七日。陽氣回覆。乃乍發熱而利未止之時。粗工不知。但見其發熱下利。誤認以為太少合病。因與黃芩湯徹其熱。徹即除也。又脈遲云云者。是申明除其熱之誤也。腹中應冷。胃無火也。胃無火。當不能食。今反能食者。此名除中。除中者。胃中無根之陽氣。所餘無幾。將欲盡除而求救於食。故云必死。○愚按厥陰傷寒。有熱除中。即原文前條證也。此厥陰中寒。又有冷除中。可見萬病當分陰陽寒熱。不可溷也。）</p>
<p>傷寒先厥。後發熱。下利必自止。而反汗出。咽中痛者。其喉為痹。發熱無汗。而利必自止。若不止。必便膿血。便膿血者。其喉不痹。（此條乃厥陰中寒。陽回變熱。以至喉痹便膿血之證。先厥後發熱。下利必自止。注已見前第一條證矣。然陽回變熱。熱邪太過而反汗出。咽中痛者。此熱傷上焦氣分也。其喉為痹。痹者。閉也。此以解咽中痛甚。其喉必閉而不通。以厥陰經循喉嚨之後。上入頏顙故也。又熱邪太過。無汗而利不止。便膿血者。此熱傷下焦血分也。熱邪泄於下。則不幹於上。故云其喉不痹。○愚按此條論。仲景無治法。補亡論常器之云。喉痹。可桔梗湯。便膿血。可桃花湯。二方皆從少陰病治法中借用。然桃花湯內有乾薑。過於辛熱。不可用也。上條雖系中寒證。然陽氣回。已變成熱。熱邪醞釀而為膿血。此非少陰中寒下利便膿血之比。傷寒論中。如仲景黃芩湯。可借用之。○或問中寒之邪。緣何變熱。余答云。元氣有餘之人寒邪不能深入。才著肌表。即便發熱。此傷寒也。元氣不足之人。寒邪直中陰經。不能發熱。此中寒也。寒中厥陰。為陰之極。陰極則陽生。故發熱。然亦當視其人之元氣何如。若發熱而自愈者。元氣雖不足。不至大虛。故得愈也。元氣大虛之人。有不能發熱。但厥而至於死者。此真陽脫也。有發熱而仍厥者。此陽氣雖復而不及。全賴熱藥以扶之也。有發熱而至於喉痹便膿血。如上證者。此陽氣雖復而太過。其力不能勝邪熱。全賴涼藥以平之也。余疑此條證。或於發厥之時。過服熱藥而至於此。學者臨證。宜細辯之。）</p>
<p>傷寒病。厥五日。熱亦五日。設六日當復厥不厥者。自愈厥終不過五日。以熱五日。故知自愈。（此條乃厥陰中寒。陽氣回覆而自愈之證。厥熱之日數相當。而厥不復發。乃真陽勝而陰寒散。故知自愈。）</p>
<p>傷寒脈微而厥。至七八日膚冷。其人躁。無暫安時者。此為臟厥。非為蛔厥也。蛔厥者。其人當吐蛔。令病者靜。而復時煩。此為臟寒。蛔上入膈。故煩。須臾復止。得食而嘔。又煩者。蛔聞食臭出。其人當自吐蛔。蛔厥者。烏梅丸主之。又主久利方。（此條傷寒。乃中寒證。特分臟厥。與蛔厥之異。脈微而厥。二證皆然。若臟厥。至七八日膚冷。乃通身之肌肉皆冷。其人躁無暫安時者。腎中之真陽。為寒邪所迫。神志欲脫而不安也。此自是少陰臟厥。為不治之證。非厥陰蛔厥比也。蛔厥者。當吐蛔。病者本靜。此厥陰肝臟為寒所中也。而復時煩者。蛔上入膈。膈中不寧。故心為之煩也。須臾復止。是又靜。與臟厥證無暫安時之躁大別。得食而嘔。又煩者。蛔聞食之臭。則上而求食欲出。蓋蛔居胃中。胃氣本溫。今者胃中虛冷而食氣溫。故聞食臭。當自吐蛔也。與烏梅丸以溫臟安蟲。又主久利方者。以久利蛔從大便中出。亦可以兼治也。○按臟厥證。仲景本無治法。補亡論龐安時云。宜四逆湯輩冷服之。常器之云。可當歸四逆湯。）</p>

<h3>烏梅丸方</h3>
<p>烏梅（三百個）　細辛（六兩）　乾薑（十兩）　黃連（一斤）　當歸（四兩）　附子（六兩炮）　蜀椒（四兩去汗）　桂枝（六兩）　人參（六兩）　黃柏（六兩）</p>
<p>上十味。異搗篩合治之。以苦酒漬烏梅一宿。去核。烝之五升米下。飯熟。搗成泥。和藥。令相得內臼中。與蜜杵二千下。丸如梧桐子大。先食。飲服十丸。日三服。稍加至二十丸。禁生冷滑物臭食等。</p>
<p>成注云肺主氣肺欲收急食酸以收之烏梅之酸以收肺氣脾欲緩急食甘以緩之人參之甘以緩脾氣寒淫於內以辛潤之以苦堅之當歸桂椒細辛之辛以潤內寒寒淫所勝予以辛熱姜附之辛熱以勝寒蛔得甘則動得苦則安黃連黃柏之苦以安蛔。</p>
<p>琥按上成注。殊非緊要語。刪之可也。</p>
<p>內臺方議云。蛔厥者。乃多死也。其人陽氣虛微。正元衰敗。則飲食之物不化精氣。反化而為蛔蟲也。蛔為陰蟲。故知陽微而陰勝。陰勝則四肢多厥也。若病者時煩時靜。得食而嘔。或口常吐苦水。時又吐蛔者。乃蛔證也。又腹痛脈反浮大者。亦蛔證也。有此當急治。不治殺人。故用烏梅為君。其味酸能勝蛔。以川椒細辛為臣。辛以殺蟲。以乾薑桂枝附子為佐。以勝寒而溫其中。以黃連黃柏之苦以安蛔。以人參當歸之甘而補緩其中為使。且此蛔蟲為患。難比寸白等蟲。劇用下殺之劑。故用勝制之方也。</p>
<p>琥按上議於理極是。但其云腹痛脈浮大者。此係胃中熱而吐蛔。戴元禮曾記一人。陽毒發黃口瘡咽痛吐蛔。皆以冷劑取效。此等證。不宜溷入中寒吐蛔之中。</p>
<p>武陵陳氏云。烏梅丸專治蛔厥。方名烏梅。是合方中之藥。而皆以烏梅統之矣。曷故哉。寒氣從一陰直上而衝心胃。蛔有不得不上膈。不得不吐之勢。非用酸溫之藥。則逆氣不可得而斂。逆氣不斂。則蛔不可得而伏也。氣逆由於臟寒。必群隊之辛熱以勝之。附子蜀椒乾薑桂枝細辛皆辛熱。而其用不同。附子退陰回陽。蜀椒殺蟲益火。乾薑不炮。取其熱勝寒。而辛散逆也。細辛取其泄陰經之寒邪。使不由經而入臟。木得桂而枯。故用桂枝。然何不竟用肉桂。蓋厥陰風木。其病發驚駭。其性從九原之下上升。其狀急暴。皆風象也。桂枝能治諸風。臟寒。則元氣極微。方中自當用人參以補配溫。而又用當歸者。當歸入厥陰。養肝血。辛溫能散內寒。乃引經之藥也。連柏苦以伏蛔。用為從治。備溫補反佐之法。而統之以酸斂之烏梅。所謂節制之師也。</p>
<p>病者手足厥冷。言我不結胸。小腹滿。按之痛者。此冷結在膀胱關元也。（此條乃厥陰中寒。冷結少腹之證。厥陰之脈抵少腹。病者手足厥冷。乃陰寒之邪。直中於里也。不結胸者。非陽熱也。小腹滿。按之痛者。成注云。下焦冷結也。膀胱關元。正當小腹之部分。○按此條論。仲景無治法。補亡論龐安時云宜灸關元穴。據圖經云。關元一穴。系腹部中行。在臍下三寸。足三陰任脈之會治臍下㽲痛。灸之良。可百壯。愚以灸關元而膀胱之冷結自解矣。）</p>
<figure>
<img alt="關元穴圖">
</figure>
<p>傷寒厥四日。熱反三日。復厥五日。其病為進。寒多熱少。陽氣退。故為進也。（此條乃厥陰中寒。陽氣欲復。不勝陰邪之證。寒中厥陰。為陰之極。陰極。則陽當復。今者真陽之氣。不能勝陰寒之邪。是以先厥後熱。熱後復厥。厥之日多。其病為進。武陵陳氏云。邪與正不兩立。邪為寒。正為熱。邪為陰。正為陽。陽勝則熱。陰勝則寒。寒多熱少。非陽氣退而何。陽氣退而陰邪進去死不遠。可不畏哉。○按此條論。仲景無治法。補亡論常器之云。可四逆湯。待其熱退寒進。厥不復熱者。始可用之。）</p>
<p>傷寒六七日。脈微。手足厥冷。煩躁。灸厥陰。厥不還者死。（此條乃寒厥之死證。寒中厥陰。所忌者厥。所喜者熱。傷寒脈微。手足厥冷。至四五日。陽回當熱。今者六七日而陽不回。反加煩躁。成注云。陽虛而爭。乃臟中之真陽欲脫。而神氣為之浮越。故作煩躁是皆為厥冷之兼證也。此時藥力不足恃。宜急灸厥陰以回其陽。如灸之而終厥。陽氣不還者死。○此條論。仲景不言當灸何穴。補亡論常器之云。可灸太衝穴。以太衝二穴。為足厥陰脈之所注。凡病診太衝脈。可訣男子死生。穴在足大趾下。後二寸。或一寸半陷中。可灸三壯。武陵陳氏云。灸厥陰如關元氣海之類。關元穴已見前。氣海一穴。在臍下一寸五分。治臍下冷氣上衝。夫氣海者。是男子生氣之海也。治臟氣虛憊。真氣不足。一切氣疾久不瘥。悉皆灸之。）</p>
<figure>
<img alt="太衝氣海穴圖">
</figure>
<p>傷寒六七日。不利。便發熱而利。其人汗出不止者死。有陰無陽故也。（此亦厥陰中寒之死證也。愚以傷寒六七日下。當有脫簡。寒中厥陰。至六七日。當亦厥六七日矣。不言厥者。闕文也。厥則當利。其不利者。武陵陳氏云。陽氣未敗。猶能與邪相枝梧也。若至發熱。即利者。亦當止。今則發熱與利。特然並至。加之汗出不止。則知其熱非陽回而熱。乃陽脫而熱。故兼下利而汗出不止也。陰寒之邪中於里。為有陰。真陽之氣脫於外。為無陽。有陰無陽。焉得不死。）</p>
<p>傷寒脈促。手足厥逆者。可灸之。（此條乃厥陰中寒。陰極脈促。宜灸之證。促脈者。脈來數時。一止復來是也。本陽極之脈。殊不知陰寒之極。迫其陽氣欲脫。脈亦見促。況外證。又手足厥逆。此時即用湯藥。恐亦無濟。可急灸之。以助陽氣。○按此條論。仲景不言當灸何穴補亡論常器之云。灸太衝穴。穴注已見前。○或問陰寒之極。脈當遲代。何以反數而促。余答云。王海藏武陵陳氏曰。四逆之名多矣。此當歸四逆湯。固不如四逆湯。及通脈之熱。亦不若四逆散之涼。蓋四逆之故不同。有因寒而逆。有因熱而逆。此則因風寒中於血脈而逆。當歸四逆所由立也。風寒中於血脈。則已入營氣之中。陰陽雖欲相順接而不可得。邪澀於經。營氣不流。非通其血脈不可。當歸辛溫。血中氣藥。能散內寒而和血。故以為君。然欲通血脈。必先散血中之邪。桂枝散厥陰血分之風者也。細辛泄厥陰血分之寒者也。故以二物為輔。芍藥大棗甘草。調和營衛者也。未有營不與衛和而脈能通者。桂枝湯治衛不與營和諧。此方治營不與衛和諧。而大棗之用。多於桂枝湯一倍有奇以大棗能助經脈和陰陽而調營衛也。且邪並肝經。木盛則侮土。甘草大棗之用。倘兼有厚脾土而禦侮之意邪。通草者。本經稱其通利九竅血脈關節。蓋邪氣阻塞於血分。吾以通草之入血分而破阻塞者治之。即眾藥亦藉通草之力而無不通矣。制方之神奇有如是哉。）</p>
<p>若其人內有久寒者。宜當歸四逆。加吳茱萸生薑湯主之。（此承上條而言。若其人內有久寒者。以其人平日間臟腑之內有寒積也。即用前湯。加吳茱萸之辛熱以散積寒。生薑之辛溫以行陽氣。）</p>
<p>當歸四逆加吳茱萸生薑湯方（此方自仲景論中第十卷集入於此）</p>
<p>於前湯方內加吳茱萸二升生薑半斤</p>
<p>上九味。以水六升。清酒六升。和煮取五升。去滓。溫分五服。（一方。水酒各四升。）</p>
<p>琥按上湯內加清酒和煮者。酒之性大熱。味甘而辛。海藏云其能引諸經。不止與附子相同。其力能潤肝燥。通血脈。散寒邪。病人內有久寒者。湯中大宜用之。</p>
<p>或問內有久寒。何以不用四逆湯。余答云。上條證本系血虛。厥陰經中風寒。在少陰並無兼證有云。陰毒沉困之候。六脈附骨。取之方有。按之即無。一息八至以上。或不可數。非促而何。愚以真陽之氣本動。為寒所迫。則數而促。此理勢之必然。人但知陰證之脈。微遲或絕不至。此其常。今特言脈促者。此其變。合常與變而能通之。始可以言醫矣。</p>
<p>手足厥寒。脈細欲絕者。當歸四逆湯主之。（此條乃寒中厥陰血分之證。手足厥寒。與厥逆厥冷略異。逆冷者。寒深入臟。故手足不順利而如冰。斯為厥逆厥冷。厥寒者。手足厥而自覺畏寒之甚。乃寒中於經。成注所云。陽氣外虛。不溫四末是也。脈細欲絕者。寒傷營。成注所云陰血內弱。脈行不利也。與當歸四逆湯。助陽生陰也。）</p>

<h3>當歸四逆湯方</h3>
<p>當歸（三兩）　桂枝（三兩）　芍藥（三兩）　細辛（三兩）　大棗（二十五個）　甘草（二兩炙）　通草（二兩）</p>
<p>上七味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>成注引內經曰。脈者血之府也。諸血者皆屬心。通脈者。必先補心益血。苦先入心。當歸之苦以助心血。心苦緩。急食酸以收之。芍藥之酸以收心氣。肝苦急。急食甘以緩之。大棗甘草通草之甘。以緩陰血。</p>
<p>琥按足厥陰之臟。本屬肝。肝者藏血之府。成注不言當歸入肝。反言補心。殊非緊要語。</p>
<p>內臺方議曰。陽氣外虛。則不能溫於四末。陰血內虛。則不能營於脈。故手足厥寒。脈細欲絕也。方用當歸為君以補血。芍藥為臣。輔之而養營氣。桂枝細辛之辛。以散寒溫氣為佐。以大棗甘草之甘。為使而益其中。補之不足。復以通草之淡。而通行其脈道與厥也。</p>
<p>若用四逆。則湯中附子乾薑。過於燥烈。大非血虛所宜。故後條辯亦云。少陰所主者氣。厥則為寒。當納氣歸腎。厥陰所主者血。厥則為虛。當溫經復營。此大法也。○愚按厥則為虛。虛字當兼寒燥看。</p>
<p>大汗出。熱不去。內拘急。四肢疼。又下利。厥逆而惡寒者。四逆湯主之。（此條當是寒中少陰。反發熱不去。遂入厥陰而見厥利之證。汗出熱去者。傷寒熱病皆然。今者中寒為真寒病。大汗出。熱不去。此真陽欲脫而熱。非邪鬱於表而發熱也。兼之內拘急。此寒氣深入於裡。寒主收引。當是腹以內拘急。已具惡寒之狀。四肢者。諸陽之本。汗不出而四肢疼。則為邪實。大汗出而四肢疼。則為陽虛。疼者。即拘急而疼。總屬寒邪入里之狀。又下利厥逆者。乃寒邪深入厥陰。前熱已去而但惡寒。此惡寒非表寒。乃里寒而直達於四肢手足之末也。以寒從少陰經來。故與四逆湯以復陽散寒。○或問大汗出熱不去。既系陽氣越出軀殼之外而欲脫。加之下利。即為死證。此與最前條有陰無陽。無以異也。何以又用四逆湯。為可治之證。余答云。大汗出熱不去。乃大汗出後仍熱。非汗出不止也。內拘急四肢疼。又厥利惡寒者。方其厥利惡寒之時。其時之熱。必重斂於內而伏匿矣。此真陽之根猶未脫。但群陰用事而孤陽伏匿。故用四逆湯以復陽散寒也。）</p>
<p>大汗若大下利而厥冷者。四逆湯主之。（此條病。亦系少陰中寒。兼中厥陰者。但比前條之病略輕。然陽亡於表。陰甚於里。非四逆湯。無以回陽而勝陰也。）</p>
<p>下利。手足厥冷。無脈者。灸之不溫。若脈不還。反微喘者死。（此條乃陰勝陽絕之證。下利手足厥冷。此厥陰中寒之常。至無脈。則真陽之氣脫矣。其時湯藥已無及。惟賴灸以補接之。若灸之。手足不溫。脈不還。反加微喘。為上下俱脫。不死何待。武陵陳氏云。陽熱氣絕之證。其喘必大。陰寒氣絕之證。其喘必微。故條辯云息短而聲不續也。又喘非灸所致。陽氣不因灸復。則絕證以次第而至。尚論篇云。孤陽隨火氣上逆而脫。誤矣。○按此條論。仲景不言當灸何穴。補亡論常器之云。當灸關元氣海二穴。穴注已見前。）</p>
<p>下利清穀。不可攻表。汗出必脹滿。（此言下利禁發汗也。厥陰下利為裡寒。清穀者。谷色不變而完出。乃胃中無火。不能傳化水穀也。此際惟以溫胃為治利之本。不可誤攻其表而使汗出。汗本胃中水穀之氣而成。胃氣重傷。則大虛極寒。必生脹滿。○或問厥陰下利。何以反言胃中虛寒而無火。余答云。寒中厥陰之經。厥陰脈本挾胃。胃中受寒氣所侵而無火。所以下利清穀。至誤攻其表而汗出。胃亡津液。因成脹滿。脹滿者。全是太陰病。然此係厥陰風寒甚而木強剋土。乃兼證也。故從厥陰經例。○按此條論。仲景無治法。補亡論郭白雲云。宜通脈四逆湯。又仲景凡言攻表。是用桂枝湯。此言不可攻表。當是禁用桂枝也。）</p>
<p>下利。脈沉而遲。其人面少赤。身有微熱。下利清穀者。必鬱冒。汗出而解。病人必微厥。所以然者。其面戴陽。下虛故也。（此條言下利。又宜汗解之證。下利脈沉而遲。裡寒也。所下者清穀。裡寒甚也。面少赤。身微熱。下焦虛寒。無根失守之火。浮於上。越於表也。以少赤微熱之故。其人陽氣雖虛。猶能與陰寒相爭。必作鬱冒汗出而解。鬱冒者。頭目之際。郁然昏冒。乃真陽之氣。能勝寒邪。里陽回而表和順。故能解也。病人必微厥者。此指未汗出鬱冒之時而言。面戴陽系下虛。此申言面少赤之故。下虛。即下焦元氣虛。雖指厥陰肝臟。而命門相火亦在其中。乃寒邪兼及之證也。○愚按此條論。仲景雖云汗出而解。然於未解之時。當用何藥。補亡論郭白雲云。不解。宜通脈四逆湯少與之。其人下利清穀。裡寒外熱。正通脈四逆證也。○或問少陰病下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人面色赤者。通脈四逆湯。上條系厥陰證。而郭氏議用之。何也。余答云。肝腎之病。本同一治。水溫。則寒木得以發生。理固然也。以其人面少赤。身微熱。手足微厥。故云少與之。又前條證云。不可攻表使汗出。此條證又云。汗出而解。蓋此條證。系陽回。裡寒散而營衛和。故汗出。非攻表而使之汗出也。否則後條證云。汗出而厥。正陰證危極之時。何云解乎。）</p>
<p>下利後。脈絕。手足厥冷。晬時脈還。手足溫者生。脈不還者死。（此言下利後死證。晬時。周時也。脈絕。手足冷。此下利之時已然。今云下利後。則利已止矣。然須待以周時。脈還手足溫。為陽氣復則生。若手足仍冷。脈不還。為陽氣絕。則死。武陵陳氏云。與少陰篇下利止而頭眩。時時自冒者死。意同。皆下利後死證也。○按此條論。仲景云死證。本無治法。補亡論郭白雲云。宜通脈四逆湯。此必是待其脈還時所用之藥也。）</p>
<p>下利清穀。裡寒外熱。汗出而厥者。通脈四逆湯主之。（此條乃下利當急溫之證。下利清穀。為裡寒也。外熱。為身微熱。兼之汗出。此真陽之氣外走而欲脫也。前條汗出為欲解。此條汗出而反厥。成注云。陽氣大虛也。與通脈四逆湯。以溫經固表通內外陽氣。○愚按人之肢體屬陰。內有火。則溫而生。今者下利清穀。是內無火。純是陰邪之氣。為裡寒。肢體之間。反熱而汗出。為外熱。乃陰陽之氣不相順接。故見厥也。於四逆湯內。加蔥。以救表裡而通調陰陽之氣。不然。豈有汗出而反加蔥之理。尚論篇云。通之正所以收之。此之謂也。）</p>
<p>下利腹脹滿身體疼痛者。先溫其里。乃攻其表。溫里宜四逆湯。攻表。宜桂枝湯。（此條系厥陰下利。兼有表邪者。下利不可攻表最前條已垂戒矣。故此條以溫里為急。下利里腹脹滿。必下利久。中氣虛寒而作脹滿。其人既虛。風寒復襲故身體疼痛。此係利後之兼證。非初病起而身疼痛也。與四逆湯先溫其里。使真陽之氣得復而里和利止。後宜桂枝湯以攻表。乃散風邪。和營衛。而止身疼痛也。假使先後倒施。則中氣無固豈堪外行發散邪。）</p>
<p>嘔而脈弱小便複利。身有微熱。見厥者。難治。四逆湯主之。（此條乃虛寒作嘔。為難治之證。厥陰之脈挾胃。經中之寒侵胃。胃虛氣逆。則嘔而脈弱。小便複利者。真氣虛寒。不能攝水也。身微熱而見厥。乃陰寒之邪。迫微陽而欲脫。故為難治。急與四逆湯。以溫里助陽。○愚按諸條厥利證。皆大便利。此條雖以嘔為主病。然止小便利而見厥。即為難治之證。可見中寒證。最畏真陽氣脫。前後不能關鎖。上證用四逆湯者。以附子散寒。下逆氣。補命門之火。上以除嘔。下以止小便。外以回厥逆。乾薑溫中除嘔。斂陽氣。使身不微熱。炙甘草溫中補氣。大治胃虛寒作嘔。總而言之。四逆湯雖治三陰厥逆。其力大能溫腎。使水溫。斯肝木之寒得解。木柔土暖而嘔立止。洵不誣矣。）</p>
<p>乾嘔。吐涎沫。頭痛者。吳茱萸湯主之。（此條乃大虛極寒。故見嘔吐頭痛之證。厥陰之脈。挾胃貫膈。循喉嚨之後。乾嘔為厥陰寒氣上逆。至吐涎沫。則胃中虛寒極矣。武陵陳氏云。涎沫者。清寒之象。若胃熱。則變而為濁痰矣。頭痛為肝臟虛。厥陰大寒之氣上攻。故頭額與巔頂作痛。以厥陰之脈連目系。上出額。與督脈會於巔故也。與吳茱萸湯以溫里散寒。補虛下逆氣。）</p>

<h3>吳茱萸湯方</h3>
<p>（此方自原論中第五卷集入於此）</p>
<p>吳茱萸（一升洗）　人參（三兩）　生薑（六兩切）　大棗（十二枚擘）</p>
<p>上四味。以水七升。煮取二升。去滓。溫服七合。日三服。</p>
<p>琥按吳茱萸湯之義。其略已見於陽明病食谷欲嘔。及少陰病吐利手足厥冷。二條之中矣。然二條之證。系借用。不若此條厥陰病。乾嘔吐涎沫頭痛。為正治之方也。吳茱萸色綠。得震坤之氣。性辛烈而味苦厚。入足厥陰風木之臟。善治痰涎上攻頭痛。兼能溫中。下逆冷氣。止嘔吐。故用之為君。以散泄陰寒之氣。人參甘溫。能補五臟諸虛不足者也。故用之為臣。以補中氣。斂涎沫。生薑辛溫。為嘔家聖藥。故用之為佐使。以大棗大能和茱萸之毒。合人參之甘。配生薑之辛。而能發散寒邪。補益中州。奠安胃氣。蓋頭痛雖由厥陰經陰寒之氣上攻。實系胃中虛寒之極所致。得溫得補。則寒氣散而嘔吐止。頭痛亦除矣。即吳茱萸湯一方。而用之得宜。神效如此。若然。則是仲景所述一百一十三方。治傷寒者。其可不辯乎哉。</p>
<p>上二十二條證（見原論中第六卷厥陰脈證並治法第十二）</p>
<p>（琥）總按以上等證。皆自仲景原論三陰病中集入者。太陰中寒止一條。以陰經皆屬臟。脾附胃居中央。故中寒之證獨少也。少陰為寒水之臟且附居於脊。故中寒之證極多。厥陰為風木之臟。其位居下。與腎相近。風寒之氣本連屬故中寒之證亦不少。寒中三陰。止宜溫散。及艾灸之法。並無可吐及汗下之證。惟少陰病始得之。反發熱而脈沉者。用麻黃附子細辛湯以溫發之。又少陰病得之二三日。麻黃附子甘草湯微發汗。然亦必先溫其里。以固其陽氣。皆用炮附子以助麻黃乃發中有補之意。又厥陰病腹脹滿身體疼痛者。先溫其里。乃攻其表。宜桂枝湯。此不過調和營衛而散風寒。亦非大發其汗。汗且不可。況敢吐與下乎。其所以不可汗吐下者。何也。蓋中寒之人。三焦無火。元氣大虛。故不作鬱熱。汗則元氣外泄。吐則元氣上脫。下則元氣下竭。凡汗也。吐也。下也。皆傷元氣者也。元氣既傷。與死為鄰。彼厥逆無脈。汗出吐利者。中已無主。焉望其陽之復。身之溫邪。所以傷寒誤汗吐下者。在壞病。猶可調治而生。中寒而誤汗吐下。即死不治。又何有於壞病哉。噫。學者可不熟玩而深索之。</p>

<h1>卷下</h1>

<h2>附後賢治中寒方論變法</h2>
<p>變法者。言與仲景之法不同。方論中各有權變也。婁全善著醫學綱目。於傷寒一門獨詳。第中寒一證。亦溷雜而莫辯。就其中。每條之下。以仲景居前。後賢續法附之。變法者。與續法之義本同。古今諸家有如朱奉議。龐安時。崔文行。楊登父。王海藏云岐子。王朝奉。韓祗和。朱丹溪。戴元禮。吳仁齋輩。各有方論。然皆互相祖述。輔翼仲景之書者也。愚因不揣固陋。纂集其說。合為一卷。仍以仲景目之云爾。</p>
<p>活人書問陰證。答曰。太陰少陰厥陰。皆屬陰證也。太陰者。脾也。少陰者。腎也。厥陰者。肝也。何謂太陰證。太陰脾之經。主胸膈䐜脹。甲乙經云。邪生於陽者。得之風雨寒暑。邪中於陰者。得之飲食居處。陰陽喜怒。又曰。賊風虛邪者。陽受之。飲食不節。起居不時者。陰受之。陽受之。則入腑。陰受之。則入臟。入六腑。則身熱不時臥。（一本無臥字。）上為喘呼。入五臟。則䐜滿閉塞。下為飧泄。久為腸澼。何謂少陰證。少陰腎之經。主脈微細。心煩。但欲寐。或自利而渴。又問經云。一二日。少陰病者。何也。答曰。謂初中病時。腠理寒。便入陰經。不經三陽也。蓋寒氣入太陽經即發熱而惡寒。入少陰經。只惡寒而不發熱也。三陰中寒。微則理中湯。稍厥。或中寒下利。即乾薑甘草湯。大段重者。用四逆湯。無脈者。用通脈四逆湯也。何謂厥陰證。厥陰肝之經。主消渴。氣上衝。心中疼熱。飢不欲食。食則吐蛔。下之。利不止也。若陰氣獨盛。陽氣暴絕。則為陰毒。其證四肢逆冷。臍腹築痛。身如被杖。脈沉疾。或吐或利。當急灸臍下。服以辛熱之藥。令陽氣復。而大汗解矣。古人云。辛甘發散為陽。謂桂枝甘草乾姜附子之類。能復其陽也。微用辛甘。甚則用辛熱。若陰極發躁。陰證似陽。學者當以脈別之。</p>
<p>琥按上論云。邪中於陰者。得之飲食居處。陰陽喜怒。又云飲食不節。起居不時。陰受之。陰受之則入臟。入五臟。則腹滿閉塞。下為飧泄。久為腸澼。可見太陰中寒。有飲食勞倦內傷一條。所以東垣起而云內傷極多。外傷間而有之。補中益氣等湯所由立也。至少陰中寒。謂初中病時。腠理寒。便入陰經。不經三陽。止惡寒而不發熱者。全是外傷。然亦由腎虛無火所致。至厥陰中寒。陰氣獨盛。陽氣暴絕。四肢逆冷。臍腹築痛。身如被杖。脈沉疾。或吐或利。此寒邪乘虛深入於裡。命在呼吸。最為危急之證。其用乾薑甘草四逆通脈等湯。及灸臍下法。已見前二卷仲景論中。又理中湯。本仲景治霍亂方也。謹採附後。</p>
<p>琥又按陰證不可發汗。上論云。服以辛熱之藥令陽氣復而大汗解者。非以辛熱之藥大發其汗。乃病者陰陽氣和。自然得汗而解之意。</p>

<h3>（仲景）理中丸方</h3>
<p>（此方自仲景原論中第七卷集入於此）</p>
<p>人參　甘草（炙）　白朮　乾薑（各三兩）</p>
<p>上四味。搗篩為末。蜜和丸。如雞子黃大。以沸湯數合。和一丸。研碎。溫服之。日三四。夜二服。腹中未熱。益至三四丸。然不及湯。湯法。以四物依兩數。切。用水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>成注引內經曰。脾欲緩。急食甘以緩之。用甘補之。人參白朮甘草之甘。以緩脾氣調中。寒淫所勝。平以辛熱。乾薑之辛。以溫胃散寒。</p>
<p>琥按上方。本系仲景治霍亂嘔吐泄利。寒多不飲水者。故活人書復云。四肢拘急。腹滿下利。或轉筋者。皆系真寒之象。而非暑邪實熱比也。倘病人中氣虛而不寒。或寒而不虛者。宜審用之。</p>
<p>加減法</p>
<p>若臍上築者。腎氣動也。去朮。加桂四兩。吐多者去朮。加生薑三兩。下多者還用術。悸者。加茯苓二兩。渴欲得水者。加朮足前成四兩半。腹中痛者。加人參。足前成四兩半。寒者加乾薑。足前成四兩半。腹滿者去朮。加附子一枚。（活人書云。四肢拘急。腹滿下利。或轉筋者。去朮。加附子一枚。生用。）服湯後。如食頃。飲熱粥一升許。微自溫。勿發揭衣被。</p>
<p>琥按上加減法。內臺方議曰。若臍上築者云云。脾虛則腎氣發動。故臍上築也。術能壅氣。故去桂泄奔豚。故加之。吐多者。加生薑止嘔。辛以散之也。嘔家不喜術。故去之。下多者。還用術以去濕。悸者。愚以水停心下。水來犯火則悸。茯苓之甘淡。能利水止泄也。渴欲得水者。非熱渴。乃脾胃虛寒。津液凝滯而作渴也。本草白朮能益津液。故倍加之。腹中痛者。裡虛不足也。故倍加人參以補之。內臺方云。渴痛不止。再加黃芩芍藥誤矣。寒者加乾薑。寒淫所勝。平以辛熱也。腹滿者。愚以寒氣實也。白朮能壅氣。故去之。然胃中虛寒。中空無物而滿。白朮在所不忌。寒甚。若脈微。手足厥逆惡寒者。加附子。</p>
<p>又問胸膈不快。䐜滿閉塞。唇青。手足冷。脈沉細。少情緒。或腹痛。答曰。此名太陰也。近人多不識陰證。才見胸膈不快。便投食藥。非其治也。大抵陰證者。由冷物傷脾胃。陰經受之也。主胸膈䐜滿。面色及唇。皆無色澤。手足冷。脈沉細。少情緒。亦不因嗜欲。但內傷冷物。或損動胃氣。遂成陰證。復投巴豆之類。胸膈愈不快。或吐而利。經一二日。遂致不救。蓋不知寒中太陰也。太陰者。脾之經也。又問萬一飲食不節。胸膈不快。寒中陰經。何法以治之。答曰。急作理中湯。加青橘陳橘。剉如麻豆大。服一二劑。胸膈即快。枳實理中丸。五積散尤良。</p>
<p>琥按上條論。實發仲景未發之旨。其云胸膈不快。䐜滿閉塞。有似傷食證。亦知其人胃氣本虛。中焦無火。以致飲食不化。驗其面色及唇。皆無色澤。手足冷。脈沉細。少情緒。其為虛寒之證無疑。又云。不因嗜欲者。言不必近房室而後謂之陰證也。所以丹溪起而云。中寒主於溫散。有卒中天地之風寒者。有口得寒物者。愚以果系胃氣大虛。理中湯相宜。倘胃氣大寒而不虛。用枳實理中丸。但其中參朮輩。又宜審投也。</p>

<h3>（活人）枳實理中丸方</h3>
<p>治傷寒結胸欲絕心膈高起。手不得近。</p>
<p>茯苓　人參　白朮　乾薑（炮）　甘草（炙各二兩）　枳實（十六片麩炒）</p>
<p>上搗羅為細末。煉蜜為丸。如雞子黃大。每服一丸。熱湯化下。連進二三服。胸中豁然。渴者。加栝蔞根二兩下利者。加牡蠣二兩。煅之。</p>
<p>琥按上方。乃仲景理中丸。加枳實茯苓也。太陰虛寒痞滿者。上湯大宜用之。若傷寒結胸。心膈高起。手不得近。恐系寒實證。參朮又非所宜用。又云。渴者加栝蔞根。或者服藥陽回。口中燥渴。可暫加之。至於下利。則腸胃寒極。反用牡蠣之鹹寒以凝澀之。殊悖於理。</p>

<h3>五積散方</h3>
<p>治陰經傷冷。脾胃不和。及感寒邪。並食積所傷。</p>
<p>官桂（去皮）　人參　川芎（各二兩）　厚朴（去皮淨薑汁拌）　白茯苓　半夏（湯洗五七遍）　芍藥（洗淨）　當歸（洗）　麻黃（去節）　乾薑（各三兩）　甘草（二兩半）　枳殼（五兩麩炒黃色）　桔梗（十二兩緊實白者洗淨焙乾）　陳橘皮（八兩洗淨不去穰）　蒼朮（二十四兩新米泔水浸去皮）　吳白芷（四兩洗淨焙乾）</p>
<p>上件。除枳殼官桂橘皮外。其餘並一處。生搗為粗末。分作六分。於大鑊內。用文武火炒令黃熟不得焦。用紙攤於板上。候冷。入前件枳殼官桂橘皮末。一處和勻。入瓷盒盛。每服二錢。水一盞。生薑三片。同煎至七分。去滓溫服。傷寒入蔥白一莖。豆豉七粒。同煎連服出汗。或脾胃不和。內傷冷食渾身疼痛。頭昏無力。胸膈不快。吃食不下。氣脈不和。四肢覺冷。至晚心躁困倦。即入鹽少許。同煎。或是陰經傷寒。手足逆冷。或睡裡虛驚。及虛汗不止。脈細疾。面青嘔逆。更宜入附子同煎。加減多少。並在臨時。觀看虛實輕重候之。</p>
<p>琥按上方。乃陽明太陽。及三陰經氣血兼走之劑。止無關乎少陽。以寒中三陰。有自太陽經入者。有自陽明腑受者。以故溫中發表。兩者兼施也。全在醫者。臨證細審。加減出入用之。</p>
<p>琥又按上方後云。傷寒加蔥白豆豉者。此發陽明經汗。乃發表不遠熱也。又云。陰經傷寒。虛汗不止。宜入附子同煎。則方中麻黃白芷等陽經發汗之藥。又當減去。若不分經絡。一概溷用。不惟無益。而反有害矣。此方與易老治傷寒九味羌活湯相等。若非加減出入。不可用也。</p>

<h3>海藏五積散論</h3>
<p>麻黃桂枝芍藥甘草。即麻黃桂枝各半湯也。蒼朮甘草陳皮厚朴。即平胃散。枳殼桔梗陳皮茯苓半夏。即枳梗半夏等湯也。又川芎。當歸治血。加乾薑為厚朴散。上此數藥相合。為解表溫中泄熱（二字誤）之劑。去痰消痞調經之方。雖為內寒外感表裡之分所制。實非仲景表裡麻黃桂枝姜附之的方也。至於冷積嘔吐。泄痢癥瘕。時疾疫氣。項背拘急。加蔥白豆豉。厥逆。加吳茱萸。寒熱咳逆。加棗。婦人難產。加醋。始知用之非一途也。惟知活法者其擇之。</p>
<p>琥按易簡王氏生料五積散。兼治婦人。經候不調。產後催生。寒熱惡露為患。及痃癖癥瘕。腳氣瘡疥等疾。故海藏云。始知用之非一途也。然惟知活法者其擇之。則知其方不輕用。且不可溷用矣。</p>

<h3>（新增）減味五積散方</h3>
<p>蒼朮（去皮）　陳橘皮（去白各三兩）　官桂　川芎（各一兩）　厚朴　半夏（各薑汁製一兩五錢）　茯苓（去皮）　乾薑（各一兩）　枳殼（麩炒二兩）　白芷　甘草　桔梗（各一兩）</p>
<p>附加減法　治太陰經中寒。面黃潔。脈沉而緩遲。腹痛厥逆吐利。加白朮土炒一兩半。本方中乾薑再加一倍。虛者。用原方中人參二兩。</p>
<p>又腹痛。古方不論寒熱。皆用芍藥。愚謂非中寒所宜。若痛甚者。本方中官桂再加一倍。嘔不止。加丁香七粒同煎。如吐者。去白朮。加生薑三片。合後共六片同煎。利多及反渴者。還加朮。如悸者。本方中茯苓再加一倍。治少陰經中寒。面紅赤。（乃虛陽泛上。水極似火之色。）身冷。脈沉細微欲脫。加炮附子一枚。虛者。用原方中人參二兩。脈不出者。加至三兩。又面赤者。再加連須蔥白三莖同煎。冷汗不止。本方中去蒼朮。又官桂換桂枝。反發熱者。用原方中麻黃一兩。再加細辛一兩。咽痛。本方中桔梗再加一倍。治厥陰經中寒。面青黑。脈沉而弦弱。頭痛厥冷。囊縮入腹。加吳茱萸。鹽湯泡一兩半。再用原方中當歸一兩半。轉筋。加木瓜一兩。蛔厥者。本方中去甘草。加烏梅三個同煎。又挾風。眩暈不仁。加防風一兩。挾濕。腫滿痠疼。本方中蒼朮再加一半。共成四兩五錢。挾氣。攻刺作痛。加木香五分。水磨。沖和煎藥內服。血脈凝泣。</p>
<p>原方中當歸再加一倍。共成三兩。肢節疼痛。倍加桂。共成三兩。</p>
<p>右為末。每服四錢。水一盞半。生薑三片。煎至七分。去滓溫服。</p>
<p>琥又按五積散。原方。共一十六味。上方減存止一十二味。大抵溫胃之藥居多。蓋內食生冷。外感寒邪。胃氣受傷。故原方中白芷乃陽明經藥。余亦存而不減。但白芍酸寒。恐非中寒所宜。故獨減去不用。其餘如麻黃當歸人參等。於加藥法中。因人虛實。在氣在血。宜表宜補而用之。自無誤也。</p>
<p>龐安時曰。經云。陽虛則外寒。陰虛則內熱。陽盛則外熱。陰盛則內寒。以此別之。若陰獨盛而陽氣暴絕。必四肢逆冷。臍腹築痛。身疼如被杖。面青。或吐或利。脈細欲絕。名曰陰毒也。須急灸臍下。服以辛熱之藥。令陽氣復生。濈然汗出而解。千金陰毒甘草湯方　治傷寒初病一二日。便結成陰毒。或服藥六七日以上。至十日。變成陰毒。身重背強。腹中絞痛。咽喉不利。毒氣攻心。心下堅強。短氣不得息。嘔逆。唇青面黑。四肢厥冷。其脈沉細緊數。仲景云。此陰毒之候。身如被打。五六日可治。至七日。不可治也。</p>
<p>甘草　升麻（各半兩）　當歸　蜀椒（各六銖）　鱉甲（一兩）</p>
<p>上五味。㕮咀。以水五升。煮取二升半。分三服。如人行五里。順更進一服。溫覆發汗。毒當從汗出則愈。若不汗。則不除。重作服。（龐氏方有桂枝雄黃。愚以上方。宜加肉桂半兩。雄黃不必用也。）</p>
<p>琥按上方。實出仲景金匱要略中。金匱云。陽毒之為病。面赤斑斑如錦文。咽喉痛。吐膿血。五日可治。七日不可治。升麻鱉甲湯主之。陰毒之為病。面目青。身痛如被杖。咽喉痛。五日可治。七日不可治。升麻鱉甲湯。去雄黃蜀椒主之。孫真人千金方。分為二湯。其治陽毒者。名升麻湯。即金匱方。六味中去鱉甲。反加桂心是也。又於六味中。止去雄黃。治陰毒。名甘草湯。即上湯方是也。愚以陰毒為陽氣暴絕。不用辛熱之劑。何能以回陽。若然。則是升麻湯中宜去椒。甘草湯中宜加桂。為妥。蘄水龐安時於二湯中。椒桂雄黃皆用之。殊出不解。</p>
<p>琥又按陰毒之病。乃陰寒之毒。深入三陰。三陰之脈。皆行於腹。太陰挾咽連舌本。少陰循喉嚨挾舌本。厥陰循喉嚨之後。上入頏顙。又太陰之支。別上膈。注心中。少陰之脈。出絡心。注胸中。厥陰之脈。別貫膈上注肺。寒邪中於三陰之經。故見腹中絞痛。咽喉不利。毒氣攻心等證也。陰寒之極。並於厥陰。厥陰者。陰之盡。故見嘔逆。唇青。面黑。四肢厥冷也。又身重者。陰主靜也。背強非太陽病。乃心腹痛。堅強。氣不得息。故背亦不舒轉也。方名甘草湯者。取辛甘發散之意。蜀椒甘草。味辛甘也。蜀椒能通三焦。暖脾胃。達命門。入太陰少陰二經氣分。得甘草以和其辛烈之性。斯發中有補之義。當歸入厥陰血分。亦辛甘藥也。三藥得鱉甲引用。能入至陰之分。內搜陰毒而出。若無升麻之辛甘微苦。不能引邪升至肌肉之分。由乎陽。得汗而散也。</p>
<p>或問陰證不得有汗。上湯溫覆取汗出者。何也。余答云。陰證寒邪入臟。臟中陽氣既微。恐誤發其汗。則幾微之陽氣。由汗而脫。故禁發汗也。陰毒證五日以前。寒邪在經。其人真陽之氣。未至大虛。診其脈。沉細中滯緊數。故可發汗。況仲景法。少陰病反發熱者。用麻黃附子細辛湯。又少陰病二三日。無里證者。麻黃附子甘草湯。二湯皆微發汗之藥。大抵陰證禁汗是其常。發汗是其變。合常與變而能通之。斯可以言醫矣。</p>

<h3>始得陰毒候</h3>
<p>陰證略例曰。陰毒本腎氣虛寒。因欲事。或食生冷物。而後傷風。內既伏陰。外又感寒。或先感外寒。而後伏陰。內外皆陰。則陽氣不守。遂發頭痛。腰重。眼睛疼。身體倦怠。不甚熱。四肢厥。逆冷額上及手背。冷汗不止。或多煩渴精神恍惚。如有所失。二三日間。或可起行。不甚覺重。診之。則六脈沉細而疾。尺部短小。寸口或無。若服涼藥。則渴轉甚。燥轉急。有此證者。急服還陽退陰之藥。即安。惟補虛和氣而已。宜服正元散。退陰散。五勝散。陰證不宜發汗。如氣正脈大。身熱而未瘥。用藥發汗無妨。或寸口小而尺脈微大亦同積陰感於下。則微陽消於上。故其候沉重。四肢逆冷。腹痛轉甚。或喉不利。或心下脹滿。結硬躁渴。虛汗不止。或時狂言。爪甲面色青黑。六脈沉細。而一息七至以來。有此證者。速宜於氣海關元二穴。灸三二百壯。以手足和暖為效。仍服金液丹。來復丹。玉女散。還陽散。退陰散之類。隨證用之。沉困之候。六脈附骨。取之方有。按之即無。一息八至以上。或不可數。至此。則藥餌難為功矣。但於臍中灼艾半棗大。三二百壯以來。手足不和暖。則以硫黃及熱藥助之。若陰氣散。陽氣來。漸減熱藥而和治之。</p>
<p>琥按上論云。頭痛眼睛疼。此陽明經有風寒也。且內食生冷物。亦傷陽明之府。陽明之氣上逆。故發頭痛眼睛疼。但其疼不甚。乃內傷重而外感輕也。若治外感。則誤甚矣。至其云或多煩渴躁渴。必不能消水。喜飲熱湯以自救。或喉不利。必口中無熱臭之氣。或腹痛轉甚。心下脹滿結硬。必喜手按。及欲得熱物以熨之。或時狂言。必聲不甚揚。方為內傷生冷。外中寒邪。不作鬱熱。全是陰寒之證。始宜服還陽退陰之藥。及灼艾法。可無疑也。○正元退陰五勝等散。方附後。又玉女散。還陽散。皆不可考。金液丹。出和劑局方。見本草石硫黃下。來復丹。亦出和劑局方。今從元戎中採附於後。</p>

<h3>（略例）正元散方</h3>
<p>治傷寒始覺吹凍著四肢。頭目百節疼痛。急煎此服。如人行五里。再服。或連三服。汗出立瘥。若患陰毒傷寒。入退陰散半錢同煎或寒冷傷食。頭昏氣滿。及心腹諸疾。服之。無有不效。</p>
<p>麻黃　陳皮　大黃　甘草　乾薑　肉桂　白芍藥　附子　半夏　吳茱萸（各等分皆用制）</p>
<p>上麻黃加一半。茱萸減一半。同為末。每服一大錢。水一盞。生薑五片。棗一枚。煎至七分。熱呷出汗。以被蓋覆。汗出愈陰毒。不可用麻黃出汗。</p>
<p>琥按上論傷寒始覺吹凍。著四肢頭目百節疼痛。有似太陽陽明二經。在表之證。又治寒冷傷食。頭昏氣滿。心腹諸疾。是傷寒挾食矣。及用藥又溫里發表。二者兼施。服之稍誤。豈不殺人。縱使內外皆陰。為寒實之證。何不用厚朴枳實。而反投大黃。一何悖邪。此等方。不宜採入。今姑存之。以俟識者較正。</p>

<h3>退陰散方</h3>
<p>治陰毒傷寒。手足逆冷。脈沉細。頭痛腰重。小小傷冷。每服一字。入正元散同煎。入鹽一捻。陰毒證。咳逆。煎一服。細細熱呷之便止。</p>
<p>川烏頭　乾薑（各等分）</p>
<p>上為粗末。炒令轉色。放冷。搗為細末。每服一錢。水一盞。鹽一捻。煎至半盞。去滓溫服。</p>
<p>琥按仲景云陰毒。未嘗頭痛。此獨言頭痛者。或者內食生冷。外傷風寒。為陽明頭痛。宜加白芷倘系厥陰頭痛。宜加吳茱萸。腰重者。風寒傷腎。腎家無火也。宜加肉桂附子。上論云。入正元散同煎。用藥錯雜。內無專味。殊悖於理。其入鹽一捻者。恐川烏等熱藥僭上。用之使潤下也。</p>

<h3>五勝散方</h3>
<p>治傷寒頭痛壯熱。骨節疼痛。昏沉困倦。咳嗽鼻息不思飲食。兼治傷寒夾冷。氣慢陰毒。</p>
<p>甘草　五味子　石膏（各一兩）　乾薑（三兩半）　白朮（一兩半）</p>
<p>上五味為細末。每服二錢。入鹽少許。煎至七分。通口服。如冷氣相夾。入薑棗煎。若治陰毒。入艾葉同煎。脈浮而緊者。陽證也。沉而緊者。陰證也。</p>
<p>琥按上論。頭痛壯熱。骨節疼痛。全是陽證。又且不思飲食。緣何用乾薑白朮。又如五味子。亦收斂不可用也。若傷寒夾冷。氣慢陰毒。則石膏又大相背謬。此等方皆宜刪之。恐誤後之學者。</p>

<h3>（局方）來復丹方</h3>
<p>此藥配類二氣。均調陰陽。奪天地中和之氣乃水火既濟之方。可冷可熱。可緩可急。善治營衛不交。養心腎不升降。上實下虛。氣閉痰厥。心腹冷痛。臟腑虛滑。不問男女老幼危急之證。但有胃氣。無不獲安。助真補虛。救陰助陽。為效殊勝。</p>
<p>舶上硫黃（透明不夾石者。一兩）　太陰玄精石（一兩研水飛）　硝石（半兩同硫黃併為細末。入定瓷罐內。以慢火炒。篦子不住手攪。令陰陽相入。不可火太過。傷藥力。再研極細。名曰二氣末。）　五靈脂（二兩酒浸。用五臺山者。水澄去砂石。曬乾揀淨。稱。）　陳皮（去白）　青皮（去穰各三兩）</p>
<p>上用五靈脂。二皮為細末。次下玄精石末。及前二藥末。拌勻。以酒醋打糊為丸。如豌豆大。每服三十丸。空心粥飲吞下。甚者。五十粒。</p>
<p>琥按上方。用硫黃酸溫大熱為君。療心腹積聚。邪氣冷痛。又主腰腎久冷。補命門不足。陽氣暴絕。硝石辛溫為臣。治伏暑傷冷。霍亂吐利。升散三焦火鬱。調和臟腑虛寒。乃火硝而非朴硝。此與硫黃皆大熱藥也。玄精石鹹寒。能制硝黃而調和陰陽。除風冷邪氣。心腹積聚。四肢逆冷。五靈脂又治心腹冷氣冷積。兼入厥陰血分。皆以為佐。四者相合。而又使以陳皮青皮。通利三焦之氣則陰寒解而陽氣自回。有靈驗也。此丹損益兼行。中病便已。不可過劑。以其效雖緊。而其患亦速。可不慎之。</p>

<h3>度瘴散方</h3>
<p>（外臺崔氏）療傷寒一日至三日。可汗。度瘴散方</p>
<p>麻黃（十分去節）　桔梗　蜀椒（汗）　細辛　白朮　吳茱萸　防風（各四分）　烏頭（炮）　乾薑　桂心（各五分）</p>
<p>上十味。搗篩為散。溫酒服方寸匕。服後。覆取汗。或數服。得汗。即止。若得病一二日而輕者。服此藥。皆得汗解。若得便重者。頗不能解也。然可以三大豆許。著鼻孔中。覺燥涕出。一日可三四著。必愈。兼闢天行病。</p>
<p>琥按上方。治太陰病吐利。少陰病反發熱。厥陰病頭痛厥逆等。真正陰證。用之輒效。</p>

<h3>神丹丸方</h3>
<p>又療傷寒敕（作赤）色。惡寒發熱。體疼。發汗神丹丸方。</p>
<p>人參（五分）　烏頭（四分炮）　半夏（洗五分）　茯苓（五分）　硃砂（一分研）　附子（四分炮）</p>
<p>上六味。搗為末。蜜和丸。如大豆。每服三丸。生薑湯下。發汗。出令體中濈濈然。如汗未出。更以熱粥投之。令汗出。若汗少不解。復如前法。若得汗足不解。當服桂枝湯。此藥多毒。飲水解其熱。愈周護軍子期。自說天行用之甚良。故記之。</p>
<p>琥按上主療云。傷寒敕色。惡寒發熱體痛。全似陽證。及觀方中藥味。皆系辛甘溫熱補劑。乃知面赤色。反發熱。本少陰中寒證。上方專溫少陰。兼補太陰之藥也。方名神丹者。即仲景論例中所云。神丹甘遂。合而飲之之謂。相傳神丹為解表藥。意即此歟。</p>
<p>活人總括云。厥冷蜷默。自利煩躁。而無身熱頭疼。是為陰證可溫。脈沉而微細緩弱者。此陰病也。陰經受邪。是為臟病。而溫陰之藥皆熱。未可遽溫者。且安其中。前所謂陰證傷寒。初病以來。便見脈沉厥冷惡寒。更無頭痛。即是少陰受病之證。醫法以乾薑附子輩溫之。又不可以三陰傳次。先太陰而後少陰也。</p>
<p>愚按上論云。且安其中者。是溫足太陰陽明脾與胃也。</p>
<p>又云。陰證唇青舌黑。或白苔。或卷強者用生薑頻擦唇口。續又易之。姜能回陽。生胃解毒。溫血散氣。擦之後。陰消陽長。黑轉而紅。最為良法。</p>
<p>琥按姜擦法。今醫但用以治陽證舌黑者甚誤。上論云陰證舌黑。用之以擦唇口。使先開胃家之寒。乃正治之法也。</p>
<p>又云。陰盛隔陽。脈細沉疾。身冷。大煩躁。嗜臥泥水之中。欲飲水而不欲入口者。若飲水者非。可服霹靂散。火焰散。丹砂丸亦效。孫用和以半兩黑附子一枚。燒存性。候冷為末。入真臘茶一大錢匕。和為二服。每服水一盞。蜜半匙。煎六分。冷服。躁止。得睡。汗出。皆藥之驗也。</p>
<p>琥按上孫用和法。即活人書霹靂散也。方用附子以回寒極之陰。臘茶以調拒隔之陽。白蜜以止煩潤燥。使陰陽調和。而病自愈矣。</p>

<h3>（活人）火焰散方</h3>
<p>治傷寒惡候</p>
<p>舶上硫黃　附子（去皮生用）　新臘茶（各一兩）</p>
<p>上為細末。先將好酒一斤。調藥。分大新碗五口中。放於火上。攤蕩令乾。合於瓦上。每一碗下。燒熟艾一拳大。以瓦搘起。無令火著。直至煙盡。冷即刮取。卻細研。入瓷合成。每服二錢。酒一盞。煎至七分。有火焰起。勿訝。取起待溫。服下丸藥。傷寒陰毒者。四肢冷。脈沉細。或吐或瀉。五心躁煩。胸中結硬。或轉作伏陽在內。湯水不得下。或無脈。先吃一服。如吐。卻更進一服。服後。心中熱。其病已瘥。下至臟腑中。表未解者。渾身壯熱。脈氣洪大。便宜用發表藥。或表解者。更不發熱。便得眠睡。渾身有汗。若少有痞結。脈實方可用下胸膈。行臟腑藥。漸用調和脾胃。補養元氣湯散。如服此藥二服。不應。不可治也。</p>
<p>琥按上云治傷寒惡候者。乃陰寒已甚。惡極之候也。方用硫黃黑附以回陰盛。臘茶以調隔陽也。方後云。表未解者。宜用發表藥。此即仲景云先溫其里。乃攻其表也。又云若少有痞結脈實方可用行下藥。蓋寒實之證。先消導而後調補也。</p>

<h3>丹砂丸方</h3>
<p>見活人書第十六卷中茲不更錄</p>
<p>琥按丹砂丸。與上來復丹。及後元戎調胃散相類。乃有毒鎮墜之藥。不可服也。</p>

<h3>韓祗和溫中例</h3>
<p>夫傷寒病之說。始自皇帝以開其端。至仲景陳其條目。自後膚淺之學。莫知其數。立言者云。病在表。可發汗。病在裡。可下之。或云。不可汗。不可下。即未嘗有溫中之說。仲景傷寒論例云。尺寸俱沉細。太陰受病也。尺寸俱沉。少陰受病也。尺寸俱微緩。厥陰受病也。又辯太陰證云。太陰病脈浮。可發汗。宜桂枝湯。又手足溫。自利不渴。宜四逆湯。又腹滿時痛。桂枝芍藥湯。辯少陰證云。少陰病始得之。發熱脈沉。麻黃附子細辛湯。又少陰病二三日。麻黃附子甘草湯。又少陰病脈沉。急溫之。宜四逆湯。又少陰病身體疼痛。手足寒。骨節痛。脈沉。附子湯。辯厥陰證云。厥陰病吐利。手足厥。逆冷。煩躁欲死。吳茱萸湯。今舉仲景論中數條。最是治三陰之良法。於今世用之。尚有未盡證者。愚嘗校量。自至和初歲迄於今三十餘年。不以歲之太過不及為則。每夏至以前。有病傷寒人。十中七八。兩手脈俱沉細數。多是胸膈滿悶。或嘔逆。或氣塞。或腸鳴。或腹痛。與仲景三陰病之說。脈理同而證不同。因茲不敢妄投仲景治三陰病藥。醫者才見脈沉。及胸膈滿。便投下藥下之。往往不救。嘗斟酌仲景理中丸。與服之。其病勢輕者。即胸中便快。病勢重者。半日許。滿悶依然。或有病人脈沉細遲。投仲景四逆湯溫之。多藥力大熱。後必發煩躁。因校量此形證。今別立方以治之。多得中病。不可不傳焉。</p>
<p>病人但兩手脈沉細數。或有力。或無力。或關脈短。及力小。胸膈塞悶。氣短不能相接者。便可隨脈證。投溫中藥以治之。病人兩手脈沉遲。或緊或緩。皆為胸中寒也。若寸脈短。及力小於關尺者。此是陰盛陽虛也。或胸膈滿悶。腹中脹痛。身體拘急。手足逆冷。宜急溫之。</p>
<p>若立春以後。至清明以前。宜溫中湯主之。清明以後。芒種以前。宜橘皮湯主之。芒種以後。至立秋以前。宜七物理中丸主之。</p>

<h3>（指微）溫中湯方</h3>
<p>丁香皮　厚朴（制各一兩）　白朮　陳皮　丁香　乾薑（炮各二錢）</p>
<p>上為細末。每服二錢。水一盞。蔥白三寸。荊芥五穗。煎至七分。去滓熱服。如三兩服未快。手足尚逆。嘔吐。更加舶上丁香皮。乾薑各二錢。</p>

<h3>橘皮湯方</h3>
<p>陳皮（一兩）　藿香（三錢）　白朮　葛根（各二錢）　厚朴（一兩制）</p>
<p>上為末。每服二錢。水一盞。生薑一塊如棗大。捶破。同煎至七分。去滓熱服。如三服未快。手足尚逆。嘔吐不定。加半夏半兩。丁香桂枝半兩。每服。加蔥白三寸煎服。</p>

<h3>七物理中丸方</h3>
<p>白朮　藿香葉（各半兩）　人參　葛根（各七錢半）　桔梗（七錢）　乾生薑（二錢半）</p>
<p>上為細末。煉蜜為丸。如彈子大。每服一丸。水一盞。煎至七分。和滓熱服。如三服未快。手足尚逆嘔者。加半夏乾薑各半兩。</p>
<p>琥按上三方。乃太陰陽明溫補兼消之劑。</p>
<p>韓氏又有厚朴丸二方。亦用丁皮。乾薑厚朴。人參。陳皮。白朮。藿香之類。二方中皆增當歸。細辛。其藥兼入少陰厥陰。一方有炙甘草。一方無厚朴。亦名厚朴丸。此係傳寫之誤。○又有橘皮湯。用橘皮。藿香。葛根。半夏。厚朴。生薑。與前橘皮湯。大同小異。又白朮湯。用白朮。半夏。當歸。厚朴。乾薑。丁香。生薑。皆系溫中之藥。茲不盡錄。</p>
<p>病人胸膈滿悶。時時吐逆。肢節疼。兩脅下痛。腹中鳴。此是停飲。宜</p>

<h3>（略例）二苓湯方</h3>
<p>赤茯苓　木豬苓　白朮　桂枝（各半兩）　滑石（一兩）　通草　白豆蔻（各二錢半）　丁皮（七錢半）　陳皮（半兩）</p>
<p>上為末。每服三錢。水一盞。煎至七分。去滓熱服。小便未快。加瞿麥七錢半。嘔未止。加半夏半兩。淅淅惡寒甚。每服加蔥白三寸。</p>
<p>琥按上方。乃治寒飲停積胸膈之劑。愚以滑石太寒。本系仲景五苓散加味。還宜用澤瀉也。</p>

<h3>灰包熨法</h3>
<p>病人服前藥。胸膈不滿悶者。此上焦有陽也。或藥力太過。上焦有熱。腹滿虛鳴。時時疼痛。此是被陽藥消逐得上焦陰氣。併入下焦也。雖是下焦積寒冷。上焦陽盛。更難投溫下焦藥也。當用灰包法。炭灰。或桑柴灰二三升許。入好醋拌和。乾溼得所。銚內炒令灰熱。以帛包裹。臍下熨之。頻換。灰包。令常熱。以腹不滿痛為度。或初熨時。病人不受者。勿聽但令亟熨之。不住灰包可也。如灰包熨後得下利三兩行。或小便二三升。或微似有汗。此是陰氣外出。或下泄也。勿疑之。病輕者乃得愈。後出餘氣而解。</p>
<p>琥按人得溫氣以生。腸胃中過熱則病。必待二便通。則熱邪得以下泄。而病即愈。腸胃中過寒亦病。必待二便通。則寒邪得以下泄。而病亦愈蓋水冰地坼。則江河不流。用灰包熨法者。其東風解凍之義歟。</p>
<p>王海藏云。本草注桃花湯。赤石脂例。當在手陽明條下。愚以仲景有桃花湯。本治傷寒下利不止。便膿血者。海藏有桃花丸。云治久痢便紫血者。蓋水色黑。黑與赤相間則紫。乃黯而不明。大腸寒極而凝泣之色也。</p>

<h3>（元戎）桃花丸方</h3>
<p>赤石脂（二兩）　乾薑（一兩）　或加烏附（炮半個）</p>
<p>上為細末。稀糊為丸。桐子大。每服三五十丸。米飲下。久痢便紫血者。當歸湯下。治丙。赤石脂。乾薑附子。治庚。白石脂。附子乾薑。</p>
<p>琥按仲景桃花湯。雖出少陰病例。實則手陽明大腸寒極冷滑之證。故上方中加附子。其意同也。又云治丙者。丙為火府。乃小腸寒極而不通也。云治庚者。庚為金府。乃大腸寒極而下泄也。</p>

<h3>王朝奉辯陰陽證</h3>
<p>夫病發熱而惡寒者。發於陽也。不發熱而惡寒者。發於陰也。發於陽者。可攻其外。發於陰者。可溫其內。發表以桂枝湯。溫里以四逆湯。凡陰病宜與四逆理中輩。皆自愈。若夏月得陰證。亦慮四逆太熱。宜與理中最佳也。又云。大抵發熱惡寒者。是表證。屬太陽也。只惡寒。是陰證也。然陰證即有發熱者。蓋是表熱裡寒。其脈必沉遲。或手足微厥。或下利清穀。更以別證驗之可知也。又云。本是陰病。醫與熱藥過多。卻見熱證者。亦斟酌以涼藥解之。又云。陰證形靜。無發狂者。惟餌溫藥過多。胸中熱實。或大便硬。有發狂者。亦宜用承氣輩下之。但不可輕用。本是陽病熱證。醫誤吐下過多。遂成陰證者。卻與理中四逆輩溫之。</p>
<p>琥按上論。實發仲景未發之義。仲景云發熱惡寒云云。原論中無治法。王氏以桂枝四逆二湯主之。又云夏月得陰證。亦慮四逆太熱。宜與理中最佳。此即仲景辯霍亂病。寒多不用水者。同一治法。又云。陰證服溫熱藥過多。亦斟酌以涼藥解之。或用承氣下之。此即仲景太陽病例中雲。傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急云云。服甘草乾薑湯。若胃氣不和。譫語者。少與調胃承氣湯。及證象陽旦云云。以承氣湯微溏。則止其譫語。二條論。即陰病過服溫熱藥之意。其用承氣本相仿也。至若陽病熱證。誤吐下過多。遂成陰證者。此即仲景云。太陽病下之後。脈促胸滿云云。若微惡寒者。桂枝去芍藥。加附子湯主之。又下之後。復發汗云云。不嘔不渴。無表證。脈沉微。身無大熱者。乾薑附子湯主之之類是也。後之學者。能於此等證。一一細辯。則知陰證不專用熱藥。亦有時用涼瀉之劑。陽證不專用寒藥。亦有時用熱補之方。大率不可執也。</p>

<h3>王朝奉辯厥陰例</h3>
<p>夫厥者。手足厥逆也。有陰厥。有陽厥。誤投藥則死。可不審乎。張翼云。冷厥者。四肢逆冷。脈沉微而不數。足多攣臥惡寒。或引衣自覆也。其伏熱在內而厥者。脈雖沉伏。按之至骨而來數也。其人或引飲。或揚手擲足。煩躁不得眠。或發狂。或大小便不利。所見皆熱證也。常器之云。凡厥當求得病之因。若初得病。便四肢逆冷。脈沉細而不數。或身上粟起。下利清穀。或清便自調。謂大小便如常者。為寒厥也。若初得病。便身熱頭痛外。別有陽證。至二三日。及至四五日。方發厥。為熱厥也。孫兆云。陽病熱深而厥。畢竟脈緊。外證須狂語。揭衣被也。陰厥。按之脈沉遲而形靜也。若證不明。未辯陰陽者。且與四順丸試之。是陽厥。便見熱證。若陰厥。便見寒證。可漸進理中四逆也。四順丸。即理中丸。加甘草一倍是也。高保義云。寒厥。則證多靜而了了。脈雖伏若實。按之遲而弱也。熱厥外證多昏塞。脈雖伏若實。按之須挾數而有力也。</p>
<p>琥按上張氏云。冷厥者。四肢逆冷。脈沉微而不數。常氏亦云。脈沉細而不數。孫氏云。陰厥脈沉遲。高氏亦云。脈雖伏若實。按之遲而弱。與前海藏陰證略例云。陰毒之候。六脈沉細而疾。或一息七至以來。八至以上。或不可數。其論又不相符。乃知陰證之脈。亦不可執也。孫氏又云。若證不明。未便陰陽者。且與四順丸試之。愚以仲景云。厥深者熱亦深。厥應下之。倘熱厥證。反用理中丸倍甘草。恐亦不可試也。學者能於陽厥熱證辯明。斯陰厥寒證自無誤耳。</p>

<h3>（元戎）調胃散方</h3>
<p>治一切吐逆。傷寒四肢逆冷。粥食不下。</p>
<p>硫黃　水銀（各半兩）</p>
<p>上先碾硫黃極細。次下水銀同碾。至黑色為度。每服一錢。重者二錢。溫米飲調。服無時。</p>
<p>琥按上方。用硫黃性熱屬火。有毒。上助心包。中益脾胃。下補命門。得水銀同碾。結成黑砂。蓋水銀亦辛寒有毒之物。可暫用之。以開胸膈之冷熱不調。寒氣上逆。嘔吐不下食。拯救一切危病。或時取效。倘傷寒四肢逆冷。不用理中四逆等湯丸。反用此純陽純陰大毒之劑。能不執方以夭人命邪。愚因錄出。特發明之。以警後之學者。</p>

<h3>又治傷寒將死者方</h3>
<p>川烏（生）　南星（生）　半夏（生）　天麻（生去蘆各等分）</p>
<p>上為細末。每服一錢。煎豆淋酒下。稍溫服。次用一二盞投之。若牙關噤。斡灌之。但藥得下。無不活者。</p>
<p>琥按上言傷寒。乃中寒也。厥陰陽明之氣上逆。風痰寒飲。壅於胸膈。欲死者。非此藥不能開之。川烏頭祛風而天麻輔之。半夏逐飲而南星輔之。二藥相反而相為用。乃救急之方也。</p>

<h3>（局方）大已寒丸方</h3>
<p>治久寒積冷。臟腑虛弱。心腹疼痛。胸脅脹滿。泄瀉腸鳴。自利自汗。米穀不化。陽氣暴衰。陰氣獨盛。手足厥冷。傷寒陰盛。神昏脈短。四肢怠惰。並宜服之。</p>
<p>乾薑（六斤炮）　高良薑（六斤炮）　桂（四斤）　蓽茇（四斤，此下當有脫字）</p>
<p>每服五十丸。米飲下。此藥熱燥。能治臟腑虛寒。滑而下利。及泄瀉腸鳴。水穀不化。若心腹疼痛中脘停寒。大便溏泄者。尤宜服之。</p>
<p>琥按己者。中央陰土也。土寒則萬物不生。上方藥味皆辛熱。乃溫暖脾胃之劑。</p>
<p>此事難知云。陰證身靜重。語無聲。氣難布息。目睛不了了。鼻中呼不出。吸不入。往來口與鼻中氣冷。水漿不入。大小便不禁。面上惡寒。有如刀刮。又云。身表涼。知在陰經也。名曰陰證。又云。腹痛部分。當分三陰。中脘痛。太陰也。理中。建中。黃耆湯之類主之。臍腹痛。少陰也。四逆。真武。附子湯之類主之。小腹痛。厥陰也。重則正陽散。回陽丹之類。輕則當歸四逆湯。（理中湯以見前。建中湯。即仲景小建中湯方。乃桂枝湯內倍芍藥。加膠飴。黃耆湯。愚以即建中湯內加黃耆。內臺方云。治虛痛宜之也。或云黃耆湯。乃黃耆人參茯苓白朮芍藥甘草。嘔吐者。加藿香生薑陳皮。主治詳陰證略例中。余湯方已見前。正陽散。回陽丹。見活人書十六卷雜方中今採附後。）</p>

<h3>（活人）正陽散方</h3>
<p>治陰毒傷寒。面青。張口出氣。心下硬。身不熱。只額上有汗。煩渴不止。舌黑多睡。四肢俱冷。</p>
<p>甘草（一分炙銼）　附子（一兩炮裂去皮臍）　麝香（一錢細研入）　乾薑（一分炮裂銼）　皂莢（一挺去黑皮塗酥炙令黃色去子）</p>
<p>上件搗羅為細末。每服鈔二錢匕。水一中盞。煮至五分。不計時候。和滓熱服。</p>
<p>琥按上方。海藏雖云治厥陰小腹痛。而活人書本治陰毒傷寒。面青舌黑等證。愚以方中藥味。齊走三陰。善開風寒痰塞。來陽伯云。陰證亦有舌黑。渴及昏憒者。學者非工力深到。差謬多矣。</p>

<h3>回陽丹方</h3>
<p>治陰毒傷寒。面青。手足逆冷。心腹氣脹。脈候沉細。</p>
<p>蓽澄茄（半兩）　木香　乾蠍（各半兩）　吳茱萸（半兩湯浸七遍焙乾微炒）　硫黃（細研入半兩）　附子（炮裂去皮臍半兩）　乾薑（一分炮裂銼）</p>
<p>上件藥。搗羅為細末。酒煮麵糊為丸。如梧桐子大。每服三十丸。不計時候。生薑湯下。頻服三服。復以熱酒一盞投之。以厚衣蓋定。取汗為度。</p>
<p>琥按上方。亦三陰經齊走。而干全蠍吳茱萸。專主厥陰風寒。故海藏云其治小腹痛。為最重之劑也。</p>
<p>劉河間云。寒者。上下所生水液。澄徹清冷。穀不化小便清白不澀。身涼不渴。本末不經有見陽熱證。其脈遲者是也。此因飲食冷物過多。陰勝陽衰而為中寒也。或冷熱相併。而反陽氣怫鬱。不能宣散。怫熱內作。以成熱證者。不可亦言為冷。當以成證辯之。</p>
<p>琥按上論云。本末不經者。言始終不常也。始見本寒證。末後又見陽熱。乃陰極似陽。陰勝陽衰而脈遲。為中寒也。或冷熱相併云云者。推劉氏之意。以熱病多而寒證少。學者不可不細辯也。</p>
<p>丹溪云。中寒主乎溫散。有卒中天地之寒氣者。有口得寒物者。從補中益氣湯。加發散藥。屬內傷者。十居八九。其法。邪之所湊。其氣必虛。只用前湯中。從所見之證。出入加減。必先用參耆托住正氣。氣虛甚者。少加附子以行參耆之劑。如果氣虛者。方可用此法。胃氣大虛。必當溫散。理中湯相宜。甚者加附子。倉卒感受大寒之氣。其病即發。非若傷寒之邪。循經。以漸而深也。以上治法。宜於南。不宜北。</p>
<p>琥按上丹溪論中寒之人。本氣虛。以氣不虛。則不中也。故用補中益氣湯加減。附錄云。西北二方。極寒肅殺之地。故外感甚多。東南二方。溫和之地。外感極少。故當從內傷例治之。</p>

<h3>（醫學發明）補中益氣湯方</h3>
<p>黃耆（五分。病甚。勞役熱甚者。一錢）　當歸身（二錢。酒焙乾。或日乾。以和血脈。）　人參（去蘆三錢有嗽。去之）　白朮（三分以補中氣。○薛氏醫按。用一錢五分。）　柴胡（二分引清氣上升。行少陽之經。）　炙甘草（五分）　升麻（二分引胃氣上騰。而復其本位。便是行春升之令。）　橘皮（三分以導滯氣。又能益元氣。得諸甘藥乃可。若獨用。瀉胃氣。）</p>
<p>上件㕮咀。都作一服。水二盞。煎至一盞。去渣。大溫。服食遠。○薛氏醫按。有薑棗。空心午前服。</p>
<p>琥按上方。本治飲食勞倦。內傷發熱等證。而丹溪以之治中寒。以傷寒多實熱。宜瀉。中寒多虛寒。宜補。故用上湯加發散藥。愚以中寒身受寒氣者。固宜補發。若口食寒物者。尚當溫中消導。上湯之用。未免過於補也。全在醫者。臨證。出入加減用之。</p>
<p>戴院使云。中寒之證。人身體強直。口噤不語。或四肢戰掉。或洒洒惡寒。或翕翕發熱。或卒然眩暈。身無汗者。此為寒毒所中。宜先用酒調蘇合香丸。輕則進五積散。加香附一錢。麝香少許。重則用姜附湯。若人漸蘇。身體回暖。稍能言語。須臾。問其別有何證。挾氣攻刺。姜附湯。加木香半錢。挾風不仁。加防風一錢。挾濕而腫痛者。加白朮一錢。筋脈牽急者。加木瓜一錢。肢節疼痛者。加桂二錢。</p>

<h3>（要訣類方）蘇合丸方</h3>
<p>（本和劑局方）</p>
<p>白朮　青木香　烏犀角　香附　丁香　硃砂　訶黎勒（煨）　白檀香　安息香（一名金銀香另為末無灰酒熬膏）　麝香（研）　蓽茇　龍腦（即冰片）　蘇合香油　沉香（各二兩）　薰陸香（即乳香一兩）</p>
<p>上為末。煉蜜丸。如芡實大。或如龍眼大。外以蠟包。臨時切開取用。以薑湯。熟水酒。任下。</p>
<p>琥按上方。乃辛溫走竄之劑。入陽明氣分之藥居多。方中藥味。惟犀角性涼。兼走陽明血分。愚以中寒卒倒。不能言語者。宜暫用之以開胸膈凝滯之氣。待甦醒。即宜用他藥也。</p>
<p>吳仁齋云。中寒者。寒邪直中三陰也。蓋中寒比傷寒尤甚。若不急治。死在旦夕。如寒中太陰。則中脘疼痛。宜理中湯。或藿香正氣。加對理中湯主之。寒甚。脈沉細。足冷者。必加附子。若寒中少陰。則臍腹疼痛。宜五積散。加吳茱萸主之。寒甚。脈沉。足冷者。宜四逆湯。加吳茱萸主之。若寒中厥陰。則少腹至陰疼痛。宜當歸四逆湯。加吳茱萸。甚者。必用附子倍之。如冷極唇青。厥逆無脈。囊縮者。仍用蔥熨法。或吳茱萸炒熨法。並艾灸臍中。及氣海關元。二三十壯。最佳。取脈漸漸而來。手足溫暖。乃可生也。如一時無藥。急用涼水。搭手足四腕。視其青紫筋處。以三稜針刺其血出。亦愈。或於十指尖出血。亦佳。或一味吳茱萸煎湯與之。亦可救也。</p>
<p>琥按上論云。寒中太陰。或藿香正氣。加對理中湯主之。蓋寒中太陰。脾與胃為表裡。胃有寒食積滯。藿香正氣。宜對用也。又云。寒中少陰。宜五積散。加吳茱萸主之。方中用藥冗雜。與少陰不相關涉。且無專主之味也。至其用涼水搭手足四腕。以三稜針刺其血出。此惟陽證熱厥。脈伏囊縮者宜之。如陰證厥逆。無脈囊縮者。亦用此法。是虛其虛也。何悖謬之極邪。</p>

<h3>（蘊要）藿香正氣散</h3>
<p>治四時之氣。寒疫時氣。山嵐瘴氣。兩濕烝氣。或中寒腹痛吐利。中暑冒風吐瀉。中濕身重泄瀉。或不伏水土。脾胃不和。或飲食停滯。復感外寒。頭痛增寒。或嘔逆噁心。胸膈痞悶或發寒熱無汗者。</p>
<p>藿香（上）　白朮（中。發汗。用蒼朮。）　厚朴　陳皮　半夏（俱中。嘔吐倍用。口渴去之。）　白茯苓　白芷　桔梗　大腹皮（俱中。內虛去之）　紫蘇（發汗為君。自汗少用。）　甘草（下。嘔吐去之。）</p>
<p>水二鍾。姜五片。煎一鍾。通口徐徐服。以衣被溫覆取汗。腹中寒痛。佐官桂。冷甚。加乾薑。名正氣溫中湯。飲食不化。加香附砂仁。名香砂正氣散。心下痞。加枳實青皮。名正氣寬中湯。</p>
<p>琥按上方。乃脾胃停冷。兼感風寒之劑。非中寒正治之要藥也。</p>
<p>又云。陰證似陽者。乃水極似火也。蓋傷寒傳變。或誤服涼藥。攻熱太速。其人素本腎氣虛寒。遂變陰證。冷甚於內。逼其浮陽之火。發於外。其人面赤煩躁。身有微熱。渴欲飲水。復不能飲。大便陰結不通。小水淡黃。或嘔逆。或氣促。或鄭聲。或咽喉痛。所以狀似陽證。或者不識。見面赤煩渴。大便秘結。認作陽證。妄投寒涼之藥。下咽遂斃。可不謹哉。切其脈沉細遲微者。急以通脈四逆湯。倍加人參附子。以接其真陽之氣。為緊要之治也。設或差遲。遂至陰盛陽衰。參附亦不能救之。此與陰盛格陽例同。王太僕所謂身熱脈數。按之不鼓擊者。此名陰盛格陽。非熱也。東垣又謂之面赤目赤。煩渴引飲。脈來七八至。按之則散者。此無根之脈。用姜附湯。加人參治之而愈。此陰陽幽顯之奧。水火徵兆之微。學者當求內經之旨。則造化之理。可得而明矣。</p>
<p>琥按陰證似陽。乃直中三陰者居多。上論但云傷寒傳變或攻熱太速所致其言猶未盡然。</p>
<p>廣筆記云。若從無陽邪表證。從不頭疼發熱。寒邪直中陰經。此必元氣素虛之人。或在極北高寒之地。始有是證。法宜溫補以接其陽。附子人參乾薑官桂。大劑與之。陽回寒退。即以平補之劑調之。勿過用桂附。以防其毒。</p>
<p>琥按上論。乃知極北高寒之地。始有真中寒證。東南之人。病中寒。皆由元氣素虛。內傷生冷。或系過服涼藥所致。此即東垣所云。內傷極多。外傷間而有之。誠確論也。</p>
<p>仲景原論中三陰寒證。但云心煩而渴。咽痛乾嘔。面色赤。反發熱。欲去衣被。無汗而煩。喉痹。便膿血。下利。腹脹滿。及小腹滿。按之痛。其人躁。無暫安時。全似陽熱之證。此為醫人所知。至於發斑發黃。舌黑便閉。恐無所謂陰證者。曾考海藏陰證略例。又證治準繩。及薛氏醫按外傷金鏡圖方。乃知真寒陰證。反見陽熱之形。雖病者百不一遇。要之昔賢所著方論。皆以傳信。必非虛語。後之學者。可不臨證細詳之乎。</p>
<p>陰證略例云。陰證發斑。亦出胸背。又出手足。但稀少而微紅。此人元氣素虛。或先因欲事。內損腎氣。或誤服涼藥大過。遂成陰證。伏寒於下。逼其無根失守之火。聚於胸中。上獨熏肺。傳於皮膚。而為斑點。但如蚊蚋蚤蝨所咬形狀。而非錦文也。與調中湯溫胃。加以茴香炒芍藥主之。寒甚脈微者。以大建中之類。其火自下。斑自退。可謂治本而不治標也。</p>

<h3>（蘊要）大建中湯方</h3>
<p>當歸　白芍藥　白朮（俱中）　麥門冬（上）　黃耆（上）　甘草（炙下）　肉桂（中）　肉蓯蓉（中）　人參（上）　川芎　附子　半夏　熟地黃　茯苓（俱中）　生薑（三片）　大棗（二枚）</p>
<p>上用水二鍾。煎至一鍾去渣溫服。</p>
<p>琥按上方。乃十全大補湯中。加麥冬蓯蓉附子半夏也。大能暖胃。補脾益肺。填腎。溫肝。故名建中之劑。○又調中湯能溫胃。內有蒼朮麻黃桂枝羌活白芷。系太陽陽明風燥之藥。於理不合。用之恐有害也。</p>
<p>海藏治侯輔之病。脈極沉細。內寒外熱。肩背胸脅斑出十數點。語言狂亂。或曰。發斑譫語。非熱乎。余曰。非也。陽為陰逼。上入於肺。傳之皮毛。故斑出。神不守舍。故錯語如狂。非譫語也。肌表雖熱。以手按執。須臾冷透如冰。與姜附等藥。數日。約二十餘兩。作大汗而愈。後因再發。脈又沉遲。三四日不大便。余與理中丸。三日內約半斤。其疾全愈。</p>
<p>吳仁齋曾治一人傷寒。七八日。因服涼藥太過。遂變身涼。手足厥冷。通身黑斑。惟心頭溫暖。乃伏火也。診其六脈沉細。昏沉不知人事。亦不能言語。狀似屍厥。遂用人參三白湯。加熟附子半個。乾薑二錢。水煎與之服下。待一時許。斑色漸紅。手足漸暖而甦醒也。復有餘熱不清。此伏火後作也。以黃連解毒。竹葉石膏湯。調之而愈。</p>

<h3>（蘊要）人參三白湯方</h3>
<p>白朮　白茯苓　白芍藥（俱中）　人參（上）　生薑（三片）　大棗（二枚）</p>
<p>上煎法同前。脈沉足冷。加附子半個。</p>
<p>琥按上方。本系溫補脾胃之劑。加附子。則兼暖下焦虛寒矣。吳氏云云。必其人不但服涼藥太過。兼受攻克已極。中氣虛冷。故暫用熱補以取效。因有伏火。餘熱不清。仍用黃連石膏等藥調之。則知前加姜附。亦為太過。非正治之法也。學者倘遇此等證。還當細審。不可亂投湯藥也。</p>
<p>準繩云。陰黃。身冷汗出。脈沉而黃。乃太陰經中濕亦有體痛發熱者。身如熏黃。終不如陽黃之明如橘子色也。當叩其小便之利與不利。小便自利。朮附湯。小便不利。大便反快者。五苓散。</p>
<p>略例云。傷寒病遇太陽太陰司天若下之太過。往往變成陰黃。一則寒水太過。水來犯土。一則土氣不及。水來侵之。多變此疾。一則茵陳茯苓湯。加當歸桂枝。二則茵陳橘皮湯。加薑朮半夏。三則茵陳附子湯。四則茵陳四逆湯。五則茵陳姜附湯。六則茵陳吳茱萸湯。</p>
<p>趙宗顏因下之太過。生黃。脈沉細遲。無力。次第用藥。至茵陳附子湯大效。</p>
<p>趙秀才因下之早。黃病脈寸微尺弱。身冷。次第用藥。至茵陳四逆湯大效。</p>
<p>準繩按海藏次第用藥者。謂先投茵陳茯苓湯。次投茵陳陳皮湯。又次投茵陳附子湯也。趙秀才次第仿此。</p>

<h3>（蘊要）茵陳橘皮湯方</h3>
<p>治陰證身黃。脈沉細遲。發熱手足冷。喘嘔。煩躁。不渴者。服之。</p>
<p>茵陳（一錢）　橘皮（一錢半）　生薑（五片）　白朮（三錢）　半夏　茯苓（各一錢半）　乾薑（一錢炮）</p>
<p>上用水二鍾。煎至一鍾。通口服。</p>

<h3>茵陳四逆湯方</h3>
<p>治陰黃脈沉遲。肢體逆冷。腰以下自汗。</p>
<p>附子（一個炮切作八片）　茵陳（二錢）　乾薑（炮一錢半）</p>
<p>上煎法同前</p>

<h3>茵陳茱萸湯方</h3>
<p>治陰黃。脈伏不出者。</p>
<p>吳茱萸（一錢）　當歸（一錢半）　附子（制如前一個）　木通　乾薑（炮）　茵陳（各一錢）　人參（二錢）</p>
<p>上煎法如前</p>
<p>琥按上三方。皆自傷寒蘊要中集入者。發黃雖系太陰經中寒濕。然亦侵及少陰厥陰二經。如上橘皮湯走太陰。四逆湯走少陰。吳茱萸湯走厥陰也。外如第一茵陳茯苓湯。已不可考。據準繩云。發黃。小便不利。煩躁而渴。茵陳湯。加茯苓。豬苓。滑石。當歸。官桂主之。韓氏云茵陳茯苓湯是也。又如第三茵陳附子湯。準繩云發黃。四肢遍身冷者。茵陳湯。加附子甘草主之是也。又如第五茵陳姜附湯。準繩云發黃。肢體逆冷。腰上自汗。茵陳湯。加附子乾薑甘草主之是也。觀乎此。而陰黃用藥之義。概可知矣。</p>
<p>薛氏醫按所載敖氏傷寒金鏡錄。相傳為杜碧清學士所著。前後共三十六圖。其十一圖。曰。厥陰舌十二圖。曰死現舌。皆真陰寒證之徵。厥陰舌。純紅色。內有黑豎紋者。乃陰毒厥於肝經。肝主筋。故舌見如絲形也。用理中。合四逆湯溫之。死現舌。滿舌皆見黑色。水剋火明矣。患此者。百無一治。治者審之。立齋云。余在留都時。地官主事。鄭汝東妹婿。患傷寒。得此舌。院內醫士曾禧。謂當用附子理中湯。人咸驚駭。遂止。亦莫能療。困甚。治棺。曾與之鄰。往視之。謂用前藥。猶有生理。其家既待以死。𢬵從之。數劑而愈。大抵舌黑之證。有火極似水者。即杜學士所謂薪為黑炭之意也。宜涼膈散之類。以瀉其陽。有水來剋火者。即曾醫士所療之人是也。宜理中湯。以消陰翳。又須以老生薑切平。擦其舌。色稍退者。可治。堅不退者。不可治。</p>
<p>弘治辛酉。金臺姜夢輝。患傷寒。亦得此舌。手足厥冷。吃逆不止。眾醫猶作火治。幾致危殆。判院吳仁齋用附子理中湯而愈。夫醫之為道。有是病。必用是藥。附子療寒。其效可數。奈何世皆以為必不可用之藥。寧視人之死而不救。不亦哀哉。至於火極似水之證。用藥得宜。效應不異。不可便謂為百無一治而棄之也。</p>
<p>琥按舌苔雖黑。必冷滑無芒刺。斯為陰證無疑。</p>
<p>或問仲景論中。如三承氣湯。及麻仁丸等。皆治腸胃實熱。不大便之藥。至三陰寒證。但云下利。而無不大便之條。豈腸胃虛寒。無便秘之證邪。余答云。腸胃虛。則氣餒而不通。寒則凝滯而隔絕。虛寒便秘。焉得無之。有如霹靂煎。用大鹽與蜜等分。熬可捻。如蜜煎導法。海藏云。蜜導用鹽相合。亦可。如用草烏頭末相合亦可。鹽則軟堅潤燥。草烏末則化寒消結。可隨證陰陽。所宜用之。此可見陰寒秘結。宜用辛溫以開之也。又局方半硫丸。本治年高冷秘虛秘。及痃癖冷氣。愚謂中寒便秘。宜借用之。</p>

<h3>（和劑）半硫丸方</h3>
<p>半夏（湯洗七次。焙乾為細末。）　硫黃（明淨好者。研令極細末用柳木棰子煞過。）</p>
<p>上以生薑自然汁。同熬。入干烝餅末。攪和勻。入臼內。杵數百下。丸如梧子大。每服十五丸。至二十丸。無灰溫酒。或生薑湯任下。婦人醋湯下。俱空心服。</p>
<p>琥按上方。乃辛溫燥熱之劑。病人惟三焦無火。腸胃秘結者。宜服之。否則毋誤用也。</p>

<h3>（外臺崔氏）生薑銳方</h3>
<p>削生薑如小指長二寸。鹽塗之。內下部中。立通。</p>
<p>琥按上方。崔氏本用以去熱結燥糞。然用之以去冷秘。更神。蓋生薑氣熱。能勝寒。味辛。能潤燥。不用鹽尤妙。以鹽本鹹寒。非冷秘所宜也。要用之以從治。亦無妨。</p>
<p>琥總按上古今諸名家方論一卷。皆推廣仲景未發之義。學者誠能讀此書。而臨證。又能悉心體認。則陰陽交錯之證。寒熱勝復之機。得之心而應之手。將世無難療之傷寒。亦無難療之中寒云爾。</p>
