<header data-type="book">
<h1>麻疹闡註</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張霞谿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1840">公元1840年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521058">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>張子霞谿先生諱廉。字通源。為我邑名貢士。天資高邁而性耽經史。旁及藝術。屢不得志於名場。因以素所蘊蓄者筆於書。大抵有關於世道人心。而麻疹闡注。則先生之緒餘而經效於世者也。夫麻疹莫醇於金鑑。趙氏既集為匯補。而謝氏又有七十二症之書。則金鑑之闡注。似可不作顧乃以簡約煩瑣變易之故。而必疏解而融貫之。並先示以讀書之法。先生蓋有深意焉。鄉里鯫生。以醫師自命。凡疾病之臨門者。無論症之平險。每不肯以不知辭。而平日於岐黃家言。或未盡見。即見之而簡約者不能擴充。煩瑣者不能審擇。變易者。不能條貫。則仍即其平生耳食之謬說。鹵莽滅裂而治之。而民命遂等於草芥。闡注之作。所以教人讀醫書。固不第為麻科者言也。而麻科之精且詳。卒非他書所能及。顧是書向無硬板。酈子非葊先生曾為校訂。擬刻不果。往歲春夏。麻症多危。其侄孫蕙坡在越。以霞谿先生族侄輯園語及。遂從家郵致。與其尊甫紫庭叔耶谿從弟重皋分參而登諸梨棗。囑予一言以志其巔末云。</p>
<p><u>道光二十有八年歲次戊申孟夏之月後學煦齋徐漸逵書於蠡城試寓</u></p>

<h1>敘</h1>
<p>張子。諸暨老宿也。博通經史。工舉業。善古文詞。一時經其口授指書者。皆有名於時。掇巍科而去者歲有之。所著書積高至三四尺許。皆明理學。辨是非。論治亂。有關身心性命天下國家之言。旁及藝術小數。無不曲通其旨。浦陽戴太史東珊先生。題其孝感里志。曰非張子之積學有素。精心果力。其孰能是。趙子耀緒題其章氏季漢書評曰。張子惟熟於肅常郝經謝少連之書。故知章氏之書為獨善。然非有才學識三長。雖熟於三子之書。不能知其善。何能言其所以善。朱子得章氏而其義益彰。章氏得張子而其意始顯。趙子思恭題其春秋說曰。六通四辟之論。如萬斛源泉。自天而下。飛沫濺衣。令人不敢逼視。文十年次於厥貉以後。多右楚左晉。是先生獨具手眼處。孝廉蔣子錦川題其文集曰。張子學宗新建。文學老蘇。皆能升堂而入其室。故其所言多可為世用。是數子皆知張子之深者。世人謂張子不幸而窮故著書。不知不窮不足以著書。張子之不幸。後人之幸也。近年吾暨麻疹大劇。諸醫束手。謝不治者。問之張子。應手而愈。人咸神之。請其秘方。張子曰。方無秘。方有秘。方之所以窮也。出其闡注御定醫宗金鑑麻疹。授之曰。讀其書。得其意。忘其言。庶幾有豸乎。人珍為拱璧。恐積久殘毀不傳。即傳。抄錄不廣。為惠有限。以余頗明岐黃。又為張子老友。囑言其本末。付梓以公諸世。余覽之廢卷而嘆曰。此張子之緒餘也，烏足珍。雖然。緒餘驗則其諸書之足為世用也益信。張子謂誰。水霞廉通源霞溪也。</p>
<p><u>道光二年十月同學弟壽椿懷玉書</u></p>

<h1>自敘</h1>
<p>麻疹一科。古無專書。惟於痘症後略見之。痘重而麻輕也。近數十年。麻多劇症。較重於痘。於是有心濟世者。各著書以傳之。然猶少刊本。往往私相傳抄。矜為秘方。其實瑕瑜不掩。醇駁雜出。甚至有以蜈蚣全蟲五虎散治麻疹。誇為神方。筆之於書。而互相傳授者。是可哀也。余所見麻科。自萬氏而後。以謝氏七十二症。趙氏麻瘄匯補。最為平穩。然謝氏未免煩瑣。愈煩瑣則愈掛漏。蓋言其常。風痰食火四者可該。窮其變。則千變萬化。非七十二症所能盡也。趙氏匯補。悉本御定醫宗金鑑。故較謝氏尤醇。但變易其方藥詞句。使若不出於金鑑者以神為心得。又條款倒置。線索不清。未為善本。總不若金鑑之醇而又醇也。但金鑑言簡而賅。非得其言外之意。必疑其略而不詳。余所闡發。未必得其奧旨。然悉本前賢。未敢杜撰。而所採之說。趙氏尤多。不注姓名者。以便文勢耳。非敢掠美也。</p>
<p><u>歲在㫋蒙大淵獻月惟皋諸暨張廉敘。</u></p>

<h1>御定醫宗金鑑麻疹</h1>
<p>讀書之法。當逐字讀。逐句讀。逐節讀，復舉全篇融會貫通而讀。斯能得其言外之意。而為善讀書者矣。醫門之書。如我朝御定醫宗金鑑。言簡而意賅。義近而旨遠。非易讀也。即其麻疹一科。凡言某方主之者。言主之必有輔之者矣。所謂逐字讀也。於見形條云。有不透徹。須察所因。言因則因之者廣。不可枚舉。因之者猝不可預揣。故下第列因風因火因虛可知之三項。以見舉一反三之意。所謂逐句讀也。於收沒條。言當散不散。內有虛熱。不可純用寒涼之劑。以柴胡四物湯治之。於身熱不退條。言麻既出透。身仍大熱。此毒盛壅遏。宜化毒清表湯治之。疹已沒落而身熱者。此餘熱留於肌表。宜柴胡清熱飲治之。何言之相反乃爾。蓋分觀則偏。合觀則全。所謂逐節讀也。詳於正症。略於變症。正症可言。變症不勝言也。詳於麻前。略於麻後。麻前得法。麻後自無患也。只言實症。不言虛症。麻為陽毒。絕少虛症。麻後之虛。不言可知也。所謂統舉全篇。融會貫通而讀也。故於主治條曰。此首尾主治之大法。至於臨時權變。惟神而明之而已。富哉言乎。一篇微旨。已揭於此。讀是書者。當無不領略而會悟之。而余復為之闡發者。為淺學通其旨也。然而高明之家。已竊笑其蛇足矣。乙亥仲夏。</p>
<p><u>霞溪張廉書於白㹁湖旂山之指川書塾。</u></p>

<h1>卷一</h1>

<h2>疹原</h2>
<p>疹非一類。有瘙疹。癮疹。溫疹。蓋痘疹。皆非正疹也。惟麻疹則為正疹。亦胎元之毒。伏於六腑。感天地邪陽火旺之氣。自肺脾而出。故多咳嗽噴嚏。鼻流清涕。眼淚汪汪。兩胞浮腫。身熱二三日。或四五日。始見點於皮膚之上。形如麻粒。色若桃花。間有類於痘大者。此麻疹初發之狀也。形尖疏稀。漸次稠密。有顆粒而無根暈。微起泛而不生漿。此麻疹見形之後。大異於痘也。須留神調治。始終不可一毫疏忽。較之於痘雖稍輕。而變化之速。則在頃刻也。</p>
<p>廉按身熱一二日。疹點一齊湧出者重。三四日出者輕。五日後出者重。至六七日隱隱皮膚之間而不見點者尤重。</p>

<h2>輕重</h2>
<p>麻症出時。有輕重之分。臨時須要詳察。若氣血平和。素無他病者。雖感時氣。而正能制邪。故發熱和緩。微微汗出。神氣清爽。二便調勻。見點則透徹。散沒不疾不徐。為輕而易治者也。若素有風寒食滯。表裡交雜。一觸邪陽火旺之氣。內外合發。而正不能制邪。必大熱無汗。煩躁口渴。神氣不清。便閉尿澀。見點不能透徹。收散或太緊速。則為重而難治者也。</p>
<p>廉按風甚者。宜疏風為主。寒鬱者。宜用麻黃。食滯者。宜用消導。痰甚者。宜化痰。火盛者。宜清火。無汗。風寒閉也。煩躁。毒閉於內。發不出也。口渴。火盛也。便閉。大腸火鬱而兼食滯也。尿澀膀胱與心火相煽也。喘急。毒鬱於肺而兼痰壅也。神氣不清。毒盛也。又疹脈。以浮大滑數有神者為吉。細軟微弱無神者為凶。尤以肺脾脈洪大有神。雖有別症。亦不為害。若細軟無神。則陽症得陰脈矣。脈症不相合。恐有變卦。必先察其虛實。庶乎無誤。至於收完熱退。雖細軟微弱。無害也。形色桃紅潤澤者輕。其毒輕微也。深紅者重。火毒盛也。紫黑灰黯隱伏不明者重極。火毒伏於臟也。陽部多者輕。陰部多者重。頭為諸陽之首。面為陽中之陽。背為太陽。四肢外向為陽。胸為陰中之陰。四肢內向為陰。腰亦為陰。陽部多而陰部少者順。陰部多而陽部少者逆。必有後患。二部俱少。火毒輕。二部俱多。火毒重。頭面胸腹手足不出。惟背上有紅塊者不治。熱極。喘促。胃胸。肩脅。狂言。衄血。搦手。搖頭。尋衣。摸床。噦惡。便閉。口出屍氣者不治。黑暗乾枯如灰煤者不治。鼻煽。口張。眼胞陷。目無神者不治。痰聲在喉內。氣喘。胸高者不治。鼻面俱青。糞色青黑如爛魚腸者不治。瘄後牙疳臭爛。齒落無血者不治。兩頰浮腫。環口青黑。頰漏。齒脫。唇崩。鼻壞者不治。口如魚嘴。氣急作鴉聲者不治。瘄後大便不通。氣喘。皮肉漸烏者不治。瘄後餘熱內攻。譫言妄語。神昏喪志者不治。瘄後陰虛血燥。疳癆肉脫者不治。</p>

<h2>麻疹主治大法</h2>
<p>凡麻疹出貴透徹。宜先用表發。使毒盡達於肌表。若過用寒涼。冰伏毒熱。則必不能出透。多致毒氣內攻。喘悶而斃。至若已出透者。又當用清利之品。使內無餘熱。以免疹後諸證。且麻疹屬陽。熱甚則陰分受傷。血為所耗。故沒後須以養血為主。可保萬全。此首尾治疹之大法。至於臨時權變。惟神而明之而已。</p>
<p>廉按主治大法。以表發清利養血三項該之。此真的確不磨之論。仲景復起。不能易斯言也。誠能依此用藥。何有危症。然此其大法也。表發固忌清利。亦有火閉而宜兼用清涼者。食閉而宜兼用消導者。痰閉而宜兼用化痰者。沒後固宜養血。亦有匿表而宜兼用疏散者。火鬱而宜兼用清涼者。食積而宜兼用消導者。痰壅而宜兼用化痰者。且有元氣本虛。初發而即宜兼補氣血。沒後而即用溫補者。亦有初發而兼補氣血。沒後而反用清涼者。麻疹千變萬化。醫者亦當以千變萬化應之。初非謝氏七十二症所能盡也。故又曰臨時權變。惟神而明之而已。旨哉言乎。此在讀其書者。明其意而推廣之耳。</p>

<h2>麻疹未出證治</h2>
<p>麻疹一證。非熱不出。故欲出時。身先熱也。表裡無邪者。熱必和緩。毒氣鬆動。則易出而易透。若兼風寒食熱諸證。其熱必壯盛。毒氣鬱閉。則難出而難透。治以宣毒發表湯。其間或有交雜之症。亦照本方隨證加減治之。</p>
<p>宣毒發表湯　治麻疹將出未出。</p>
<p>升麻　葛根　前胡　桔梗　枳殼　荊芥　防風　薄荷　木通　連翹　黏子　淡竹葉　甘草</p>
<p>引加芫荽。水煎服。感寒邪者加麻黃。夏月勿用。食滯加南山楂。內熱加黃芩。氣急去升麻。加蘇葉蔥白。甚者並去桔梗。孕婦依前法。再去木通。</p>
<p>廉按風閉者。面色微青。舌胎微白。灑淅惡寒。毛竅豎起。鼻塞氣粗。喘悶不寧。甚至角弓反張。手足拘攣。眼白足冷。大便清利。重用荊芥。防風。薄荷。升麻。粉葛。前胡。桔梗。杏仁。蟬蛻。蔥白。以發之。冬月用麻黃。火閉者。面紅目赤。肌膚焦熱。舌燥唇裂。大便或閉或瀉。甚至氣喘狂叫。神昏錯語。揚手擲足。喜就冷處。宜於表藥中重用石膏。黃芩。知母。或犀角。川連。梔子等藥。重甚者加大黃。食閉者。面色微黃。四肢倦怠。吞酸噯腐。身熱口燥。舌上黃白厚胎。胸膈痞滿。甚至肚腹堅實。昏睡氣急。大便不通。宜於表散藥中用枳殼。厚朴。山楂。麥芽。以消其食。卜子。大黃。以通其閉。若食火動心。時發譫語。四肢厥冷。名為食厥。急用芩。連。石膏。蔞仁。大黃。仍佐以發散之藥。又有痰閉者。滿口痰涎。喉間有聲。氣急發喘。咯痰不出。宜重用桔梗。杏仁。桑皮。膽星。蔞仁。白芥子。竹瀝等藥。仍佐以疏散之劑。以上四症。已甚者俱謂悶瘄。宜審其所重而用藥或四症俱全。宜用三黃石膏湯。再加風藥痰藥消食藥。又悶瘄多痰喘。一法用明亮雄黃。盛以竹筒。於飯中蒸七次為末。酒漿調服。痰喘即止。悶瘄之症。有熱六七日而不出者。有一出而即隱者。有頭面微出而身上俱無者。有身上微影而頭面胸背俱無者。有影跡。在內而外不見形者。有皮膚隱隱紫赤者。有紅紫遍身紫黑成塊者。此皆九死一生之症。然能審其受病之的。而大劑治之。亦可挽救。切勿棄而不治也。凡遇悶瘄。分其頂心細看。有紅筋紅瘰。挑破即出。或頭面手足有瘄疔。用銀針挑破方出。或頂心中有發。比眾發更粗。其色黃赤者。拔去髮根見血即出。又曰有交雜之症。宜隨症加減治之。固不止此四症已也。學者當推廣之。</p>
<p>三黃石膏湯　治風寒毒熱鬱滯悶症。</p>
<p>麻黃　石膏　淡竹葉　黃柏　黃連　梔子　黃芩</p>

<h2>麻疹見形證治</h2>
<p>麻疹見形。貴乎透徹。出後細密紅潤。則為佳美有不透徹者。須察所因。如風寒閉塞。必有身熱無汗。頭痛。嘔惡。疹色淡紅而黯之證。宜用升麻葛根湯。加蘇葉川芎。牛蒡子。因毒熱壅滯者。必面赤身熱。譫語煩渴。疹色赤紫滯黯。宜用三黃石膏湯。又有正氣虛弱，不能送毒外出者。必面色㿠白。身微熱精神倦怠。疹色白而不紅。以人參敗毒散主之。</p>
<p>升麻葛根湯　治風寒閉塞。</p>
<p>升麻　粉葛　甘草</p>
<p>三黃石膏湯　治毒熱壅滯。</p>
<p>麻黃　石膏　淡豆豉　黃柏　黃連　梔子　黃芩</p>
<p>人參敗毒散　治氣虛白麻。</p>
<p>人參　川芎　羌活　獨活　前胡　枳殼　桔梗　柴胡　甘草　赤苓</p>
<p>引用生薑</p>
<p>廉按此亦大略也。云有不透徹者。須察所因。則所因者廣。不可枚舉。下列三項。亦舉一反三之意。如食重則宜消食。痰重則宜化痰之類。觸類而旁通之。斯為善讀書者矣。或因身體手足厥冷而不透。經曰厥深熱亦深。厥微熱亦微。此乃陽氣鬱遏。熱極反寒之象。宜重用升葛。荊防。甘桔。黏子。蟬蛻之類。甚者加麻杏石甘湯。便閉。加卜子。大黃。使上升下泄。鬱熱達外。自然出透。或因咬牙而不透。咬牙者。胃火盛也。宜用石膏。或因呃逆而不透。呃逆者。火毒上攻也。疹未出透。於升陽透發中。重加石膏一二三兩以救之。疹已出透。或白虎湯涼膈散。隨症加減治之。疹後氣虛而呃逆者。用人參。扁豆。柿蒂。姜。棗之類。或因沉睡而不透。沉睡者。火鬱於內。未得發揚於外也。宜用升陽散火之劑。余治一侄孫。年未滿周。一見形而即隱。既隱而沉睡。重用升。葛。荊。防。前胡。桔梗。杏仁。黏子。蟬蛻。胡荽。角針。以表之。麻疹略現而又隱。沉睡如故。次日加黃芩。石膏。知母。枳殼。山楂。服之。亦略現而又隱。隱而變黑。三日服原方如故。至第四日。用三黃石膏湯。一瀉而汗出。神氣清爽。麻終不見而愈。蓋毒從瀉出。不必復現也。疹後沉睡多屬虛。或因吐蛔解蛔而不透。吐蛔解蛔者。熱毒壅迫而出也。胃熱則吐蛔。腸熱則解蛔。此熱極之症。解者稍輕。吐者尤重。疹未出而吐蛔者。宜於升葛。荊防散中。重用石膏。及梔子。使君子。蘆根之類。疹已透而吐蛔者。宜用白虎湯。加連芩等藥。便閉用大黃。又有麻後胃中空虛。聞飲食香氣上行而嘔出者。宜用山藥。扁豆。茯苓。廣皮。使君子。半夏曲。姜炒黃連之類。凡吐蛔不可用甘草及甜物。余見一人年方八九歲。疹未見點。隱隱在皮膚之間。一日吐蛔十一條。一醫治之。用升。葛。荊防。前胡。桔梗。杏仁。黏子。石膏四錢。知母一錢。服之如故。此由方是而分兩太輕。杯水不能救車薪之火也。一醫於表藥中用肉桂三分。其疹一湧而出。數日而死。可不痛哉。或因夾斑而不透。發斑者。胃熱也。疹色稀而紅綻。斑則大而干塌。色赤如錦紋。宜石膏托裡清熱。紫黑者熱極也。宜升麻白虎湯。化斑解毒湯。兼以表發之藥。青藍者胃爛也。十不一生。餘三弟染疫發藍斑。治以十四味延中湯而愈。此亦萬死一生之症。若在麻疹。原由陽毒逼致胃爛。恐難用此。余所見麻疹發青藍斑者。惟馬舒之女。有大如錢者。如圍棋子者。滿身青藍而腫。此亦不救。有疹出已透。而根地顆粒。混成一塊。形色紅紫者。用白虎湯之類。有疹出時遍身凹限而黑者。內有伏毒。外有風邪。內服犀角地黃湯加減。外以羊須豆煎湯。時時洗之。紅豆亦可。須要避風為主。又白麻有血虛而色白者。宜於疏散中加當歸。赤芍。丹皮。紅花等藥。有見點三四日而轉紅者。有不紅而漸次收沒者。有沒後而翻出火症者。隨症治之可也。切勿拘於初為白麻。而作虛熱論。</p>
<p>麻杏石甘湯　治風熱厥冷。</p>
<p>麻黃（蜜炙）　杏仁　石膏　甘草</p>
<p>白虎湯　治咬牙呃逆。</p>
<p>石膏　知母　甘草</p>
<p>加粳米數十粒</p>
<p>涼膈散　治呃逆。</p>
<p>梔子　連翹　黃芩　薄荷　桔梗　甘草　淡竹葉</p>
<p>本方加大黃。名加減涼膈散。加黃連。黃柏。大黃。芒硝。名涼膈散合解毒湯。</p>
<p>三黃石膏湯（見前）</p>
<p>升麻白虎湯　治斑</p>
<p>石膏　知母　甘草　升麻</p>
<p>化斑解毒湯　治斑。</p>
<p>石膏　升麻　知母　黏子　甘草　元參　淡竹葉</p>
<p>大便閉加大黃。</p>

<h2>麻疹收沒證治</h2>
<p>麻疹見形三日之後。當漸次沒落。不疾不徐。始為無病。若一二日疹即收沒。此為太速。因調攝不謹。或為風寒所襲。或為邪穢所觸。以致毒反內攻。輕則煩渴譫狂。重則神昏悶亂。急宜內服荊防解毒湯。外用胡荽酒熏其衣被。使疹透出。方保無虞。當散不散者。內有虛熱留滯於肌表也。其證潮熱。煩渴。口燥。咽乾切不可純用寒涼之劑。以柴胡四物湯治之。使血分和暢。餘熱悉除。疹即沒矣。</p>
<p>荊防解毒湯　治麻毒內攻。</p>
<p>薄荷　連翹　荊芥　防風　黃芩　黃連　黏子　大青葉　犀角　人中黃</p>
<p>引用燈心蘆根水煎服。</p>
<p>柴胡四物湯　治虛熱留滯當沒不沒。</p>
<p>白芍　當歸　川芎　生地　人參　柴胡　淡竹葉　地骨皮　知母　黃芩　麥冬</p>
<p>引加生薑紅棗。</p>
<p>廉按荊防解毒湯。治麻毒內攻。此誠萬金良方。余用之屢試屢效。從此可悟其未言者矣。如冬月風寒甚而內隱者。可再加麻黃。杏仁。或竟用三拗湯。加黏子。蟬蛻。荊防等藥。或因傷食而內伏者。可於荊防解毒湯內。加枳殼。卜子。神麯等藥。或遍身青紫熱腫。腹脹喘促溺澀臍凸者。此毒滯血凝。半匿肌表。急投涼膈散。加麻黃。石膏。葶藶子。大黃。庶或可救。若內夾痰熱。火毒亢極伏匿煩躁。或腹脹喘急不省人事者。白虎湯加元參。淡竹葉。此二說本於醫通。余意後說。夾痰者。宜加杏仁。膽星。腹脹者。宜加枳殼。大黃、並不可離荊芥。前胡。斟酌用之可也。云當散不散。內有虛熱留滯於肌表。不可純用寒涼之劑。此亦經常之大法。言不可純用寒涼。則有宜寒涼者矣。張玉潞曰。西北水土剛勁。稟質亦厚。麻必五七日乃收。東南風氣柔弱。麻出不過二三日即化。邇來地運變遷。未有不綿延數日者。當非難沒之比。此說是也。又麻疹難沒。多屬於熱。亦有表裡未淨而遷延五七日不沒者。風則表之。食則消之。下之。痰則化之。火則涼之。毒則解之。又宜兼用鮮生地。丹皮等藥。涼血養血以顧其本耳。又張玉潞曰。麻見點三四日後。點燥色白。隱隱於肌肉而難沒者。此必衛氣素弱。不能焮發。或衣被單薄。身貪涼快。阻其發越之機以致綿延多日。法當辛散透達。不可遽用寒涼。蔽塞開泄之路也。</p>
<p>三拗湯　治風寒外襲。麻毒內攻。</p>
<p>麻黃　石膏　杏仁</p>
<p>涼膈散（見前）</p>

<h1>卷二</h1>

<h2>身熱不退</h2>
<p>麻疹非熱不出。若既出透。其熱當減。倘仍大熱者。此毒盛壅遏也。宜用化毒清表湯治之。疹已沒落而身熱者。此餘熱留於肌表也。宜柴胡清熱飲治之。</p>
<p>化毒清表湯　治麻既出透而身猶大熱者</p>
<p>粉葛　薄荷　地骨皮　黏子（炒研）　連翹（去心）　防風　黃芩　黃連　元參　知母　木通　甘草　桔梗　加燈心</p>
<p>柴胡清熱飲　治沒後身熱。</p>
<p>柴胡　黃芩　赤芍　生地　麥冬　地骨皮　知母　甘草　加燈心</p>
<p>廉按此亦言其大略也。身熱而兼他症者。宜隨症加減治之。合下並看自見。且益見前收沒條所云當散不散為虛熱之止言常法也。然而此條亦當合前條觀之。倘有虛症。不至過於寒涼矣。</p>

<h2>煩渴</h2>
<p>凡出麻疹煩渴者。乃毒熱壅盛也。蓋心為熱擾則煩。胃為熱鬱則渴。當未出時。宜升麻葛根湯加麥冬花粉。已出者。宜白虎湯。沒後煩渴者。用竹葉石膏湯。</p>
<p>升麻葛根湯（見前）</p>
<p>白虎湯（見前）</p>
<p>竹葉石膏湯</p>
<p>人參　麥冬　石膏　知母　淡竹葉　甘草</p>
<p>廉按煩渴而兼他症。當隨症加減治之。或他症重於煩渴。當以他症為主煩渴為兼。此當統前後而觀也。亦有火毒內蘊而不煩渴者。</p>

<h2>譫妄</h2>
<p>譫妄一證。乃毒火太盛。熱昏心神而然也。疹未出而譫妄者。宜三黃石膏湯主之。疹已出而譫妄者。黃連解毒湯主之。</p>
<p>三黃石膏湯（見前）</p>
<p>黃連解毒湯</p>
<p>黃連　黃芩　黃柏　梔子（炒）　加燈心</p>
<p>廉按云主之者。必有輔之者也。病至譫妄。必不止譫妄一疹矣。如風寒痰食。以及諸變症。各宜隨症用藥輔之。故金鑑下一字宜細細揣摩。不同他書之一條止一事。所謂言簡而該也。</p>

<h2>喘急</h2>
<p>喘為惡候。麻疹。尤忌之。如初出未透。無汗喘急者。此表實拂鬱其毒也。宜用麻杏石甘湯發之。疹已出。胸滿喘急。此毒氣內攻。肺金受克。宜用清氣化毒飲清之。若遲延失治。以致肺葉焦枯。則難救矣。</p>
<p>麻杏石甘湯（見前）</p>
<p>清氣化毒飲</p>
<p>前胡　桔梗　栝蔞仁　連翹（去心）　桑皮　杏仁　黃芩　黃連　元參　甘草　麥冬　重用蘆根</p>
<p>廉按此二方。余屢用之而屢效。誠萬金良方也。然前云臨時權變。神而明之。此語直貫全部。讀是書者。疑其太簡。由不能融會貫通耳。如此二方。誠為治喘之良方。然人各異症。症各異治。風火痰食。自宜隨症加減。余治出未透而喘急者。於麻杏石甘湯內加荊防。桔梗。桑皮。黏子。知母。葶藶子等藥。治已透而喘急。及隱伏而喘急者。於清氣化毒湯內加石膏。枳殼。膽星。大黃等藥。皆應手而效。故麻瘄匯補云。風痰食火四者。皆能氣喘。治宜祛風化痰消食清火是也。但不宜用蘇合香丸。抱龍。牛黃等丸。亦不可純用降氣之藥。初發而喘者。三拗湯加淡竹葉。石膏。已出而喘。鼻乾口燥者。用白虎湯加疏表藥。或羚羊瀉白散。便閉者。加前胡。蔞仁。杏仁。大黃。黏子。西河柳。火喘。羚羊。蔞仁。石膏。最妙花粉。海石。次之。此亦脫胎於金鑑二方。但少為加減耳。故備載之。以供採用。至於麻後喘急。有虛實之分。樓全善曰。喘而有汗。須扶正氣。喘而無汗。須散邪火。虛者氣乏。身涼。冷痰如冰。實者氣壯。胸滿身熱便閉。麻瘄匯補曰。虛者宜用補肺化痰之藥。如人參。阿膠熟地。蛤蚧。核桃肉。納氣歸元。實者宜用白虎湯。減羚羊瀉白散。加減治之。活人書曰。時醫每見喘急。不將麻毒外出。發表清火。而徒用蘇子順氣等藥。不反耗其血氣而致變。曰有瘄毒痰喘甚者。宜用栝蔞仁。桔梗。花粉。海石。金沸草等藥。消痰清火。如痰逆壅盛者。可用牛黃珍珠散。氣虛者加人參立應。樓全善曰。鼻孔掀開。黑如煙煤。或鼻尖連人中生瘡枯焦。或鼻乾胸高者。皆肺絕也。急則三日。緩則十二日。死於丙丁日火剋金也。至於髮直如麻。頭汗如油。鼻煽如爐。腹脹如鼓。面青唇黑者。死更速。</p>
<p>三拗湯（見前）</p>
<p>羚羊瀉白散</p>
<p>生桑皮　地骨皮　甘草　羚羊角</p>
<p>珠黃散</p>
<p>珍珠　牛黃</p>
<p>等分為末。燈心湯沖服。</p>

<h2>咳嗽</h2>
<p>麻疹發自脾肺。故多咳嗽。若咳嗽太甚者。當分初沒治之。初起咳嗽。此為風邪所郁。以升麻葛根湯加前胡桔梗蘇葉杏仁治之。已出咳嗽。乃肺為火灼。以清金寧嗽湯主之。</p>
<p>廉按云治之。不必加減也。云主之。當隨症加減也。</p>
<p>升麻葛根湯（見前）</p>
<p>清金寧嗽湯</p>
<p>橘紅　前胡　甘草　杏仁　桑皮　川連　蔞仁　桔梗　浙貝</p>

<h2>喉痛</h2>
<p>疹毒熱盛。上攻咽喉。輕則腫痛。甚則湯水難下。最為可慮。表邪郁遏。疹毒不能發舒於外。致咽喉作痛者。元參升麻湯主之。裡熱壅盛。或疹已發於外。而咽喉作痛。以涼膈消毒飲主之。</p>
<p>元參升麻湯　治表郁喉痛</p>
<p>荊芥　防風　升麻　黏子　元參　甘草</p>
<p>涼膈消毒飲</p>
<p>荊芥　防風　連翹　薄荷　黃芩　梔子（生）　甘草　黏子　芒硝　大黃（生）</p>
<p>加燈心</p>

<h2>失音</h2>
<p>失音者。乃熱毒閉塞肺竅而然也。疹初失音者。元參升麻湯主之。疹已發而失音者。加減涼膈散主之。疹沒後聲啞者。兒茶散主之。</p>
<p>元參升麻湯　見喉痛</p>
<p>加減涼膈散</p>
<p>薄荷　梔子（生）　元參　連翹　甘草　桔梗　麥冬　黏子　黃芩</p>
<p>兒茶散</p>
<p>硼砂（二錢）　孩兒茶（五錢）</p>
<p>共為細末。涼水一盞。調藥一匙服之。</p>
<p>廉按喉痛。可於元參升麻湯內。再加射干。山豆根。其餘隨症加減。疹後失音而至不能出聲者。名啞瘄。多不治。宜用甘。桔。元參。黏子。蟬蛻。射干。黃芩。花粉。杏仁。卜子。沙參。麥冬。川貝。竹肉。山豆根之類。或以竹瀝八匙。薑汁二匙沖服。再用丹參茯神。石菖蒲。麥冬。花粉。桔梗。陳皮。甘草。訶子肉之類。痰盛。加川連蔞仁。羚羊或牛黃散吹入終不開聲者。不救。若但聲音低微不清。與此不同。養陰潤肺自愈。又有其聲啞嗄。默睡不食上唇有瘡。則蟲蝕其肺。下唇有瘡。則蟲蝕其肛。上下不定。名為狐惑。此由內熱生蟲。水穀久虛。蟲無所食。故內食臟腑及肛。而外見唇口也。此候最惡。治宜黃連化䘌丸主之。便結桃仁承氣湯加減服之。先用苦參煎湯洗之。後用末藥敷治。京山郭某有子患此疹向系金竺天醫治。病既大危。令其生邀余看視。其聲啞嗄，嗆飲。上下唇內。及舌上。舌根。喉間。俱有瘡。其脈軟微。余決為不治。果死。</p>
<p>牛黃散</p>
<p>牛黃　青黛　黃柏　硼砂　雄黃　冰片</p>
<p>共為末。先用薄荷湯。漱咽後次入神效。</p>
<p>黃連化䘌丸　治狐惑瘡。</p>
<p>黃連（二錢）　蘆薈（一錢二分）　干蟬（一錢二分）　蕪荑（一錢五分）　川楝子肉（一錢）　使君子肉（二錢五分）　可加檳榔。雄黃。青黛。黃芩。胡連</p>
<p>共為末。用烏梅洗淨去核。搗膏和丸米湯下。或杏仁湯下。</p>
<p>清熱黃連犀角湯　治狐惑。</p>
<p>犀角（二錢磨沖）　黃連（一錢）　木香（三分研沖）　烏梅（四個）　</p>
<p>桃仁湯　治狐惑䘌唇口生瘡。聲啞不出。</p>
<p>桃仁　槐子　蘄艾（各三錢）</p>
<p>棗十個。水二鍾。煎至一鍾。分二次服。</p>
<p>狐惑瘡末藥</p>
<p>川連　黃柏　青黛　檳榔（各一錢）　雄黃　杏仁　使君子肉（各一錢五分）　石膏（五錢）　蕪荑　松花（各七分）　枯礬（五分）</p>
<p>共研細末。先用香油調成塊次用涼水調薄塗瘡上數次自愈。亦可加蘭香葉燒存性研末。共調。此方再加胡連。蘆薈化蟲丸。可治鼻疳。</p>

<h2>牙疳</h2>
<p>廉按。牙疳為麻後之大症。此編不見者。見於外科牙部也。口臭生瘡。為牙疳之兆。白虎湯。清胃散。主之。戴元禮用甘桔湯。黃連解毒湯。涼膈散。若兼泄瀉。脾虛有濕者。加味連理湯。外以姜柏散抹之。陰虛者。甘露飲主之。經曰。上牙疼陽明受熱。下牙疼腎虛不能制火。大抵胃熱即血熱。治宜涼血清胃。各依經絡加引經藥。上正四牙屬心。加川連。麥冬。下正四牙屬腎。加黃柏。知母。上邊四牙屬胃。加葛根。川芎。下邊四牙屬脾。加升麻。白芍。上左盡牙屬膽。加連翹。膽草。下左盡牙屬肝。加柴胡。梔子。上右盡牙屬大腸。加枳殼。大黃。下右盡牙屬肺。加黃芩。桔梗。上下牙床腫。涼膈散加石膏。知母。升麻。內床曰齒。外板曰牙。牙齒腎之標。若齒縫疏豁。動搖脫落。六味地黃丸主之。口糜者。口中糜爛或時出血。宜清心脾胃。三經之火。兼潤大腸。用金花消毒飲為主。化毒湯。清胃散俱可用。陰虛有火者。犀角地黃湯加麥冬。元參。或甘露飲主之。至若脈弱熱微。唇白形寒。口中不臭。下利。不思飲食。此由脾虛火炎。宜用理中湯。外以上桂末吹之。牙宣者。口臭齦腫。牙縫出血。欲成牙疳也。宜清胃化毒等方加側柏葉。或白虎湯加升麻。青黛。梔子。連翹。元參。丹皮。或用益元散。冷水調服。如陰虛火旺。用甘露飲牙疳者。上下齒腐爛也。此由陽明火毒。其症最危十死七八。必須內外兼治。內服犀角地黃湯。加葛根。川連。石膏。大黃。外以玉阿散。黃龍散調治。至於身體大熱。面目浮腫。環口青黑。今日方見黑點。明日即至穿腮。落齒。鼻崩。唇脫。不能飲食而死。名曰走馬。喻其速也。外面患處用豬肉貼之。吹口丹調治。或灸唇下陷中承漿穴。岐伯曰。口臭可治。鼻臭不醫。鼻梁上發紅點如珠不治。上唇龍門牙落者死。蒂中紅腫。難於飲食者死。總之此症皆當以石膏重劑治之。必胃強能食。堪勝重劑。否則難治也。切忌冰麝。余有女學生金某之女。年二十餘。見疹六七日俱已收沒。惟鼻梁上一點未收。其色如珠。上唇龍門牙微痛。身亦微微潮熱。前醫以參麥六味湯治之。歷五六日漸甚。其弟至余齋中乞方。余曰。此症甚危。非數日可愈余至其家。按脈。右寸關獨強弦。余亦有餘。余飲以白虎承氣湯。兼生地。白芍。丹皮。黃芩。麥冬等藥。連服十六大劑。其初所下者。如泄瀉。或紅或黑。至是始吐紫血數碗。鼻梁紅點隨散。齒痛亦愈。其人困倦已甚。奄奄若無生氣。舉家旁皇。余曰無畏。其病已愈。但補其元氣可也。余飲以六味地黃湯。加人參。麥冬。歸身。白芍數劑。元氣稍復。去人參。麥冬。服歸芍六味湯五十劑而愈。此症若非用如此重劑。則必不救。然非余之學生。及其家之相信。余亦不敢擔抬。甚矣。醫之難也。然而認症不的而誤藥之。則又為殺人之刃矣。馮楚瞻曰。脈微無力脾虛。口不臭者。宜用理中湯之類。陰虛胃熱。宜甘露飲加石膏。羸瘦陰虛者。六味地黃丸加犀角。總宜憑脈用藥。勿執定麻為陽毒。蓋諸病皆有始中終之殊也。牙床腐爛無膿血者不治。口臭涎穢穿腮破唇者不治。通口色白者不治。黑腐不脫牙落無血者不治。吹藥涎從外出者生。涎毒內收者死。</p>
<p>清胃散　治牙痛牙宣。口臭口瘡。</p>
<p>黃連　石膏　升麻　生地　丹皮　連翹　元參　甘草　粳米</p>
<p>出血加側柏葉</p>
<p>白虎湯　統治牙症。見前。</p>
<p>甘桔湯</p>
<p>甘草　桔梗</p>
<p>黃連解毒湯（見前）</p>
<p>涼膈散（見前）</p>
<p>加味連理湯　治麻後口臭。脾虛泄瀉。</p>
<p>黃連　乾薑　人參　茯苓　白朮（炒）</p>
<p>姜柏散</p>
<p>乾薑　黃柏</p>
<p>等分為末。干搽口內。溫水漱口。</p>
<p>甘露飲</p>
<p>生地　熟地　天冬　麥冬　黃芩　甘草　釵斛　茵陳　枳殼　枇杷葉</p>
<p>金花消毒飲　治口糜。</p>
<p>黃連　黃芩　黃柏　大黃</p>
<p>清胃化毒湯　治麻後熱極口疳。</p>
<p>石膏　連翹　元參　銀花　丹皮　芥穗　防風　花粉　廣皮　山楂　甘草　地骨皮</p>
<p>犀角地黃湯</p>
<p>犀角　生地　丹皮　白芍</p>
<p>一方加黃連。黃芩。大黃。</p>
<p>理中湯</p>
<p>人參　白朮（炒）　炮姜　甘草</p>
<p>益元散　即六一散加辰砂五分。</p>
<p>玉阿散　治走馬牙疳。</p>
<p>貓屎</p>
<p>在屋上日曬雨淋風吹白色者。煆存性。不拘多少。配冰片青黛少許。研為細末。敷上神效。如無真青黛。用靛青花水飛淨代之。又一方。用蝸牛連谷煆存性。研末吹患處立愈。</p>
<p>繆氏黃龍散　治走馬牙疳。</p>
<p>黃牛糞尖（雄者佳）。</p>
<p>煆存性。研末。每錢加冰片一分。擂勻。吹入牙根自愈。</p>
<p>豬肉貼法　先用黃連煎濃汁。將生精肉切薄片投入黃連汁內片時。以豬肉貼患上。拔出積毒。豬肉乾黑再易。換過數次即效。</p>
<p>吹口丹　治穿腮落齒。鼻崩唇爛。神效。</p>
<p>醋齊草（搗汁）　青草鵝屙（調汁）</p>
<p>將二汁。同放於麻蜆谷內。於炭火上煆過數次研末。加冰片。棓子。尤妙。</p>
<p>生耆湯　治穿腮落齒唇脫鼻壞。</p>
<p>黃耆（三錢生）　黏子（三錢）　殭蠶（一錢五分）　蟬蛻（一錢）　滑石（三錢）　甘草（五分）</p>
<p>不拘帖數。神效。</p>
<p>六一散</p>
<p>滑石（六錢）　甘草（一錢）</p>
<p>共研細末。冷水調服。不拘數目。</p>
<p>搽牙散　治餘毒攻牙。腐爛欲死者。</p>
<p>木鱉子（煅存性為君）　川貝（為臣）　月石（為佐）　白砒（少許制）</p>
<p>共研細末用米湯拭淨患處搽上。制砒法。用白砒入枳殼內。用線纏住。入好酒一盞煮去砒毒。</p>

<h2>嘔吐</h2>
<p>麻疹嘔吐由於火邪內迫。胃氣衝逆也。須以竹茹石膏湯和中清熱。其吐自止。</p>
<p>竹茹石膏湯</p>
<p>法夏　赤苓　廣皮　竹茹　甘草　石膏（煅）　加姜</p>
<p>廉按劉河澗曰。胃膈熱盛則為嘔。火氣炎上之象。忌用升麻。服之必喘。須以竹茹。葛根。西河柳。陳皮。石膏。甘草。姜炒。黃連之類。若痰吐如絲。或成塊吐清涎而有白沫者。俱宜清肺消痰降火為主。朱丹溪曰。嘔吐藥。忌栝蔞仁。杏仁山梔蘿蔔子。又按初時固宜疏表。但不可過用升提藥。至於麻後嘔吐。有實有虛。經云。胃虛則吐是也。胃實宜消食清火。胃虛用七味白朮散。理中湯。</p>
<p>七味白朮散</p>
<p>人參　白朮（炒）　茯苓　炙甘　木香　藿香　葛根</p>
<p>理中湯</p>
<p>人參　焦術　炮姜　炙草</p>
<p>甚者加附子。</p>

<h2>瀉泄</h2>
<p>麻疹瀉泄。乃毒熱移入腸胃。使傳化失常也。治者切不可用溫熱諸劑。疹初作瀉者。以升麻葛根湯加赤苓豬苓澤瀉主之。疹已出作瀉者。以黃連解毒湯加赤苓木通主之。</p>
<p>升麻葛根湯（見前）</p>
<p>黃連解毒湯（見前）</p>

<h2>痢疾</h2>
<p>麻疹作痢。謂之夾疹痢。因毒熱未解。移於大腸所致也。有腹痛欲解。或赤或白。與赤白相兼者。悉用清熱導滯湯主之。不可輕投澀劑。</p>
<p>清熱導滯湯</p>
<p>山楂　厚朴　甘草　枳殼　檳榔　當歸　酒芍　條芩　（酒炙）　連翹　黏子　青皮　黃連（吳萸炒）　引用生薑。</p>
<p>廉按。泄瀉則云切不用溫熱諸劑。痢疾則云不可輕投澀劑。其丁寧懲戒之意深矣。余看麻疹數十年矣。泄瀉痢疾從不見有虛症。但竊意麻後日久。或有脾虛而作瀉痢者。必其脈弱唇白。舌胎滑白。統舌不見紫紅。不口渴而精神倦怠者。方可作脾虛論。或四苓散。或四君子湯。或補中益氣湯。謹慎審擇用之。張玉潞曰。麻瘄瀉痢。屬熱者多。但不可令其瀉久。瀉久則中氣下陷。或成腫滿。宜枳殼理中之類。以理脾胃為主。又有下痢如直腸者。所食何物。即瀉何物。此火盛也。次性急速。故下如直腸。用山梔二十枚。煎湯頻服自愈。總之痢疾惟宜升散。初起可用大黃。火盛再加芩連。或犀角丸。俱可用。如積毒已除。下多亡陰者。六味亦可。</p>
<p>四苓散</p>
<p>白朮（炒）　茯苓　豬苓　澤瀉</p>
<p>四君子湯</p>
<p>人參　焦術　茯苓　炙草</p>
<p>補中益氣湯</p>
<p>人參　黃耆　焦術　當歸　柴胡　升麻　炙草　廣皮</p>
<p>理中湯（見前）</p>
<p>犀角丸　準繩云。但是痢服之無不瘥者。</p>
<p>犀角屑　黃連　苦參　黃柏　當歸</p>
<p>各搗研細末。等分和勻。空腹煮糯米飯調方寸大服之。日再服。忌油膩。生冷。</p>
<p>黃連丸。</p>
<p>黃連　羚羊角　黃柏　赤苓（各一兩五錢）</p>
<p>共為細末。蜜丸如桐子大。每服二十丸。姜蜜湯下。</p>
<p>六味丸</p>
<p>生地　茯苓　淮藥　萸肉　丹皮　澤瀉</p>

<h2>腹痛</h2>
<p>麻疹腹痛者。由食滯凝結。毒氣不得宣發於外。故不時曲腰啼叫。兩眉頻蹙。須以加味平胃散治之。滯消毒解。而痛自除矣。</p>
<p>加味平胃散</p>
<p>防風　升麻　枳殼　葛根　蒼朮　陳皮　厚朴　山楂　麥芽　甘草</p>
<p>廉按。袁某之女。年十四。出疹即沒。喉痛腹脹。接余看視。面色黧黯。鼻黑。唇裂口渴。舌赤如朱。並無點胎喉痛難嚥。心如火燒。腹脹而冷。手足亦厥。此熱極反寒之象。觀其前方。川連。黃芩。射干。元參。石膏。升麻。大黃。卜子。知母。犀角等藥。已服三四劑矣。且重用石膏。大黃。每藥下咽。則脹滿愈甚。四圍匍匐而走。略下清水。則口渴。喉痛。胸滿。益甚。晝夜不安。眼不合縫。諸醫無策。坐以待斃。余按其脈。脾脈獨宏大堅實。腹中拒按更甚。此由食積於中。胃火上衝。以致喉痛諸症也。時醫拘定枳殼。山楂。厚朴。酸澀。麥芽消疹之論。不敢用以消食。而惟用涼藥以清其火。大黃以硬通之。不知愈涼則愈滯。大黃直走。不能消化。所以腹中冰冷。火毒聚於上焦。每服藥而脹滿欲死也。余用枳殼、厚朴。山楂。麥芽。神麯。粉葛。檳榔。七味。諸醫以為人已乾燥。用此燥烈之藥。當無不死。且枳殼山楂等酸收之性。麻隱何能復發。其父謂女已垂危。死生惟命。排眾議而服之。藥方下咽。即已睡去。酣眠半日而醒。諸症頓減。舌胎極厚而黃。余復以前方飲之。酣睡一夜。次日原方加大黃六錢而愈。又有毒盛作痛者。余用蟬蛻二兩。桔梗三錢。一劑而愈。</p>

<h2>衄血</h2>
<p>肺開竅於鼻毒熱上衝。肺氣載血妄行。則衄作矣。然衄中有發散之義。以毒從衄解。不須止之。但不可太過。過則血脫而陰亡也。如衄甚者。宜外用發灰散吹入鼻中。內服犀角地黃湯。其血可止。</p>
<p>發灰散　以皂角水煮。洗淨油氣。用新陰陽瓦煆成灰。放在地上。去火性。</p>
<p>研末用。</p>
<p>犀角地黃湯（見前）</p>
<p>廉按。麻疹初起衄血。宜用黑荊芥。黑梔子。黃芩。元參。連翹。生地。丹皮。麥冬之類。甚者加犀角。茅草根。如用犀角地黃湯。宜去白芍。如口中出血惟用發散。毒清而血自止。沒後衄血。四物湯加茅草根。麥冬等藥。又無論初中後衄血。用黃酒湯溫以足浸之神效。咳血嗽血出於肺。吐血咯血出於腎。先痰後血是積熱。治宜清肺。先血後痰乃陰虛。法宜滋補。清肺者。二冬。芩連。川貝。紫菀。元參。百合之類。滋補者。沙參。麥冬。六味地黃丸之類。最佳者童便。衄血吐血俱可用。如婦人出疹適遇經行。則毒隨經解。乃吉兆也。宜於治疹藥中。加生地。丹皮。赤芍。紅花之類。如孕婦出疹。竟可照常治法。總以涼表清火解毒為主。切勿用香砂及補胎之藥。用之其胎必墜。余堂弟媳懷孕六七月而出疹。用宣毒發表湯。去升麻木通。加芩連石膏。上身已透。色紫。而下身絕無半點。以胎橫亙於中故也。忽然譫妄。目直視而冥。余用白虎湯。合承氣湯石膏二兩。大黃一兩。再加芩連灌下。片刻而蘇。二劑。而腰腹兩足。俱已出透。故孕婦出疹。以大黃為安胎之聖藥。如因出疹落胎。當以養陰為主。然後隨症用藥。斷斷不可溫補。至於麻黃。川連。羚羊。犀角。大黃等藥。亦不可用。若石膏僅有用之者。仲景治產後。白虎湯亦所不廢也。然有素向陰虛。一經落胎而汗出。心煩。口燥。潮熱。咳嗽。氣促。不眠。四肢麻木。是謂陰脫之候。當重用大劑陰藥。如熟地。生地。丹參。沙參。麥冬。川貝。丹皮。元參。棗仁。阿膠。人參。知母。地骨皮之類。皆當選用。又有孕婦元氣不足。一經分娩。氣血兩脫。手足厥冷。自汗不止。當以溫補為主。又當看其疹色。紅活者吉。如產後出疹。半月之前重產。半月之後重疹。重產。則以當歸。川芎。桃仁。紅花為主。發表用荊防。前胡。桔梗。葛根之類。清涼用黃芩。連翹。花粉。知母之類。活血用生地。元參。丹皮。丹參之類。酌量輕重用之。若黃連。犀角。大黃。麻黃。桂附。乾薑等藥。亦不可用。如真陰已竭。當重用補陰之藥。與小產參看。重疹。則於治疹藥中。加養陰活血之藥可也。又有水蓄之症。孫一奎赤水元珠曰。發熱之時。恣飲冷水。恐生水蓄之症。故水入於肺。為喘。為嗽。宜用桑皮。葶藶子。以泄肺中之水。水入於脾。為腫。為脹。為自利。水入於胃。為嘔。為利。宜用豬苓。澤瀉。茯苓。以瀉脾胃之水。水入於心。為驚。為悸。宜赤白茯苓。燈心湯以泄心胸之水。水入於肝。為脅痛。用芫花以泄之。水入於腎與膀胱。為小便不利。為陰囊腫。宜車前。木通以泄之。皆當隨症而治。又婦人有經水適來適斷。寒熱往來。神昏語亂。此謂熱入血室。宜用小柴胡湯。去人參半夏。加當歸。紅花。赤芍丹皮之類。亦有火盛而宜加犀角地黃湯者。酌量用之。小腹急痛。而小便自利。大便黑色。與蓄血之症。同治。亦有宜用桃仁承氣湯者。又有麻後浮腫者。有身熱不熱之分。身熱者。水氣在表。宜用荊防。蘇葉。桑皮。茯苓。米仁。廣皮。蒺藜。大腹皮。銀花之類。身不熱者。宜用茵陳。梔子。滑石。豬苓。澤瀉。赤苓。杏仁。枳殼之類。如系脾虛發腫。加人參。茯苓。扁豆。山藥等藥。或用金棗兒湯。蔣春圃之弟。麻後腹脹而硬。四肢亦浮腫。其脈沉遲。舌胎滑白。不思飲食。余用附子理中湯。加大腹皮。茯苓。數劑而愈。同時趙聖元之孫。亦患此病。外症皆同。其脈洪數有力。舌胎黃厚。余用承氣湯一劑而愈。旨哉金鑑之言曰。臨事權變。惟神而明之而已。</p>
<p>承氣湯</p>
<p>大黃　枳殼　甘草</p>
<p>金棗兒湯　治腫脹仙方。</p>
<p>紅牙大戟（四兩）　紅棗（十二兩）</p>
<p>水煮一日。去戟。取棗。曬乾食之立消。</p>

<h2>瘙疹</h2>
<p>瘙疹者。兒在胎中。受母血熱之氣。所蒸已久。及生後外遇涼風以致遍身紅點。如慄米之狀。月內見者。名為爛衣瘡。百日內見者。又名百日瘡。未出痘瘡之先見者。即名為瘙疹。調攝謹慎。不治自愈。</p>

<h2>蓋痘疹</h2>
<p>蓋痘疹者。謂痘方愈而疹隨發也。因痘後餘毒未盡。更兼恣意飲食。外感風寒。以致遍身出疹。色赤作癢。始如慄米。漸成云片。宜加味消毒飲疏風清熱疹即愈矣。</p>
<p>加味消毒散</p>
<p>荊芥　防風　黏子　升麻　甘草　赤芍　山楂　連翹</p>

<h2>癮疹</h2>
<p>癮疹者。乃心火灼於肺金。又兼外受風濕而成也。發必多癢。色則紅赤。隱隱於皮膚之中。故名曰癮疹。先用加味羌活散。疏風散濕。繼以加味消毒飲清熱解毒。表裡清而疹愈矣。</p>
<p>加味羌活散</p>
<p>羌活　前胡　薄荷　防風　川芎　枳殼　桔梗　蟬蛻　連翹　甘草　赤苓</p>
<p>加味消毒飲　見前蓋痘疹。</p>

<h1>卷三</h1>
<p>（附採諸家麻後證治）</p>

<h2>麻後龜胸</h2>
<p>龜胸者。麻後餘毒。留於肺經。陽火熏灼而致也。治宜清肺化痰降火。先用清氣化毒飲。或涼膈散。再加蘇子。枳殼。橘紅。麥冬。羚羊。地骨皮。葶藶子。枇杷葉等藥。以開導其氣。繼用九味平胸丸治之。</p>
<p>清氣化毒飲（見前）</p>
<p>涼膈散（見前）</p>
<p>九味平胸丸</p>
<p>百合　天冬　杏仁　桑皮　石膏　大黃　葶藶　木通　枳殼</p>
<p>共為末。蜜丸如綠豆大。清湯送下。</p>

<h2>麻後肺痿肺癰</h2>
<p>麻後久嗽不止。時吐白沫如米糊者。名肺痿。火盛而金消也。宜養血補氣保肺清火。初用加味二冬湯。後用門冬清肺飲。久嗽痛引胸脅。或吐膿血或吐如米粥者。此肺內生毒也。名肺癰。宜瀉熱豁痰。開提升散。解毒排膿。寧肺桔梗湯主之。痿為正虛。癰為外邪。不可誤治。脈訣云。寸數而實。肺癰已成。寸數虛澀肺痿之形。</p>
<p>加味二冬湯</p>
<p>天冬　麥冬　熟地　生地　桔梗　款冬花　貝母　米仁　蔞仁　沙參　紫菀　甘草</p>
<p>門冬清肺飲</p>
<p>麥冬　天冬　知母　貝母　桔梗　黏子　杏仁　冬花　桑皮　地骨皮　馬兜鈴　甘草　加晚米百粒</p>
<p>寧肺桔梗湯</p>
<p>桔梗　貝母　枳殼　杏仁　栝蔞根　生耆　防風　桑皮　米仁　知母　地骨皮　甘草節　葶藶子　五味子　加姜引</p>
<p>初起加防風。去黃耆。五味子。咳甚加百合。身熱加柴胡。黃芩。小水不利。加木通。燈心。大便不利。加制軍。煩躁痰血加茅草根。胸痛甚。加人參。白芷。</p>
<p>白芨末　治肺葉爛去。用白芨淨末一兩。分作三服。白湯送下一服止痛。</p>
<p>二服全長三服完後。用豬肺一個。加花椒一兩在內。煮食之。忌鐵器。如痰火咳嗽。每豬肺一個。加白芨二兩。煮食三個。自愈。</p>
<p>皂莢丸　治肺癰百藥無效者。括去皮弦酥炙為末。蜜丸。以棗膏和湯服三丸。</p>

<h2>麻後疳瘵</h2>
<p>麻後夜熱。有汗即退。發枯膚癢。漸成疳瘵。此症極危。治以柴胡四物湯主之。或清骨散。或五疳保童丸。俱可用。氣虛宜加參耆。若舊有疳病。當參五疳門治之。</p>
<p>柴胡四物湯（見前）　有火加黃芩。知母。胡連。麥冬。陰虛加鱉甲。地骨皮。丹皮。有食加山楂。麥芽。有蟲加五穀蟲。蘆薈。川楝子。使君子。</p>
<p>清骨散</p>
<p>柴胡　秦艽　知母（各一錢五分）　鱉甲（童便炙三錢）　地骨皮（二錢五分）　胡連（一錢）　青蒿子（五分）　炙草（五分）</p>
<p>本方可加丹參。丹皮。麥冬。銀花。</p>
<p>五疳保童丸　治五疳神方。</p>
<p>柴胡　青皮　蘆薈　丹皮　白芍　鱉甲　檳榔　炙草　香附　枳殼　使君子　青蒿子（各五錢）　白朮　丹參　當歸　茯苓　山楂　神麯（各一兩）　胡連　蕪荑　雷丸　鶴蝨　五穀蟲（各三錢）</p>
<p>共為細末。神麯糊為丸。空心米湯送下。</p>

<h2>麻後發搐</h2>
<p>麻後忽然發熱而搐者。血虛生風也。忌天麻。南星。燥血之藥。宜導赤散。加丹參。丹皮。沙參。麥冬。竹葉之類。或安神丸。牛黃鎮驚丸。俱可用。</p>
<p>導赤散</p>
<p>生地　木通　甘草梢　淡竹葉</p>
<p>安神丸　治麻後壯熱搐掣。</p>
<p>黃連　當歸　茯神　石菖蒲（各一錢）　全蠍（七隻酒洗）</p>
<p>共為末。搗豬心血為丸。硃砂為衣。燈心湯下。</p>
<p>牛黃鎮驚丸　治驚神效。</p>
<p>天竺黃（一兩）　膽星（一兩）　雄黃　琥珀　殭蠶（各五錢）　全蠍（三十隻）　牛黃（一錢五分）　珍珠（一錢五分）　麝香（三分）　冰片（三分）</p>
<p>各研細末聽用。再用麻黃。蟬蛻。天花粉。各三錢。防風。麥冬。銀花。甘草。款冬花。鉤藤鉤。各五錢。共煎濃汁。去渣。加蜜再煎。百沸成膏。和前藥末。搗勻為丸。硃砂水飛三錢。金箔三十張為衣。</p>

<h2>麻後急慢驚風</h2>
<p>急驚者。內熱痰壅。腹脹便閉。脈數有力。法當驅風豁痰清火為主。宜用荊芥。防風。薄荷。前胡。桔梗。杏仁。黏子。殭蠶。蠍梢。黃芩。知母。梔子。木通之類。慢驚者。脾胃損傷。中氣不足，其脈沉遲無力。宜用醒脾飲加減。或六君子湯。</p>
<p>加全蠍。姜蚤之類。牛黃鎮驚丸亦可用。虛寒甚者。附子理中湯。</p>
<p>醒脾飲　治慢脾神效。</p>
<p>人參　白朮（炒）　茯苓　廣皮　半夏　木香　天麻　膽星　藿香</p>
<p>加薑棗陳米</p>
<p>六君子湯</p>
<p>人參　焦術　茯苓　廣皮　炙草　法夏</p>
<p>附子理中湯（見前）</p>

<h2>麻後眼病</h2>
<p>麻後眼如紅腫赤脹是風火上攻。宜用防風。荊芥。桔梗。黃芩。桑皮。地骨皮。生地。丹皮。甘菊。梔子。連翹。甘草。蟬蛻。決明等藥。如有星障。加木賊。蒺藜。杏仁。羚羊。青葙子。蔓荊子。穀精草。密蒙花之類。紅腫突出者。用川連。石膏。大黃以瀉之。目生翳障者。宜用清熱退翳湯。或羚羊角散。或通神散。密蒙散。加減治之。如雙目畏明。由水虧也。宜用六味地黃丸。加甘菊。當歸。石決明之類。若小兒兼面青骨瘦者。宜服健脾肥兒丸。如眼皮外翻。以瀉黃散加薟草。服之即愈。</p>
<p>清熱退翳湯</p>
<p>梔子　胡連　木賊　赤芍　生地　羚羊　膽草　柴胡　蟬蛻　甘草　甘菊　蒺藜（生）　燈心</p>
<p>羚羊角散</p>
<p>羚羊　黃芩　草決明　車前子　升麻　防風　黃耆　大黃</p>
<p>通神散</p>
<p>白菊花　綠豆皮　穀精草（各一兩去根梗）</p>
<p>加蒙花甘草亦名菊花散。共為末。每服一二錢。</p>
<p>密蒙散</p>
<p>蒙花　青箱子　決明子　車前子（各一錢）</p>
<p>共為末。羊肝一片。破開。摻藥在內合好。濕紙裹煨熱食之。</p>
<p>瀉黃散</p>
<p>石膏（煨五錢）　梔子仁（生一兩）　生甘草（三兩）　防風（二兩酒微和炒）　枳殼（三錢炒）　豨薟草（四兩酒蒸曬）</p>
<p>共研細末。壯人每服三錢。弱人一錢。小兒七八分。白滾湯下。</p>
<p>肥兒丸</p>
<p>人參（二錢五分）　焦術（五錢）　茯苓（三錢）　黃連（二錢五分）　胡連（五錢）　使君子肉（四錢）　神麯　麥芽　楂肉（各三錢五分）　炙草（一錢五分）　蘆薈（二錢五分煨）</p>
<p>共為末。黃米糊丸。如黍米大。每服二三十粒。米湯下。</p>

<h2>麻後脫肛</h2>
<p>麻後脫肛。有實有虛。一由大腸積熱。下攻脫肛。腫硬疼痛。或時下血。或糞細小。唇赤齒燥。其腹堅實。其脈洪數有力。宜甘桔升麻湯。加枳殼。蔞仁。黃芩。山楂。白芍。滑石。元參。丹皮。黑荊芥之類。一由氣血兩虛。不能內守。遂致脫肛。面青唇淡。指梢或冷。精神倦怠。其脈沉細無力。宜補中益氣湯。加羌活。白芍。煨姜主之。或四君加黃耆升麻。或四物加黃耆升麻。或血熱腸風。加黃柏。荊芥。槐花。斟酌用之。虛甚者。十全大補。加升提藥。</p>
<p>甘桔升麻湯</p>
<p>元明粉（三錢）　杏仁　當歸（各二錢五分）　桔梗（一錢）　甘草（五分）　升麻（七分）</p>
<p>或加蔞仁。</p>
<p>補中益氣湯</p>
<p>人參　黃耆　白朮　當歸　柴胡　升麻　炙草　廣皮　加薑棗</p>
<p>四君子湯</p>
<p>人參　白朮　茯苓　炙草</p>
<p>四物湯（見前）</p>
<p>二靈散</p>
<p>龍骨（煅五錢）　木賊（燒存性二錢五分）</p>
<p>共為細末。敷肛自斂。乾燥者清油調塗。</p>
<p>洗法</p>
<p>五棓子（八個）　川椒（二十粒）　蔥五根　泔水煎洗。</p>

<h2>麻疹達權</h2>
<p>萬密齋曰。凡出瘄自起至收。但看右手寸關脈。洪大有力。雖有別症。亦不為害。此即陽症得陽脈之義。張景岳云。若細軟無力。則陽症得陰脈矣。脈症不相合。當知變通。速救元神。宜用溫補托法。參酌用之。若執麻瘄為陽毒。而概用清涼。則死必不免矣。馮楚瞻曰。病之實者邪氣實。非真實也。病一退而正氣必虛。乃真虛也。今醫徒守古人疹多實熱之論。以有形有餘之藥。攻無形多變之虛。不知陽毒之有餘。實由陰血之不足。舍其實在之虛。攻其無形之毒。勢必愈熱煩躁。而增泄瀉喘促。甚至不起者多矣。</p>
<p>全真益氣湯</p>
<p>人參（一錢）　白朮（三錢炒）　附子（三錢澹）　五味（八分研）　熟地（八錢）　麥冬（三錢）　牛膝（二錢）</p>
<p>馮氏立此方。治麻瘄見點之後。壯熱昏沉。喘嗽煩躁。口渴不食。泄瀉吐蛔。或頭面先沒。額熱身烙足冷等症。無一不效。</p>
<p>更有向患陰虛久嗽。寸強尺弱。麻疹隱伏。但脈宜於地黃湯。而不宜於疏表者。馮氏竟照脈立方。用六味地黃湯。</p>
<p>康熙乙亥年間。斑疹大發。甚危。諸醫或用表托。或用清解。俱莫能療。有身體俱見。而面上隱隱退縮。有身面俱見。面赤壯熱。喘嗽煩躁。不食泄瀉者。要知皆陽外越而陰內竭。中氣弱而肺氣傷。其火之有餘。乃由水之不足。昧者概云麻瘄餘毒。不知實系氣血大傷也。其脈寸強尺弱。或細數無力者。並以全真益氣湯去人參。一二劑而愈。</p>
<p>薛氏發熱作渴。用人參麥冬湯。倦怠發搐。用和肝補脾湯。喻嘉言以人參敗毒散治斑症。吳鶴皋以參耆桂附治斑。皆法之變也。醫不達權。安足語此。惟脈洪大有力。人強氣壯者。方用正治。</p>
<p>張景岳曰。十喘九虛。若本非火症。又非外邪。或以大瀉大汗而致者。必皆氣脫之候。宜補其元氣。使以氣促作氣喘。則大誤也。蓋喘者。邪阻清道也。促者。真氣不足也。故曰促者斷之機。切勿以瘄家之促悉認為實火。而不知虛火之為害也。</p>
<p>徐東皋曰。瘄家有胃氣原弱。因瀉痢而發者。發或未透。隨現隨隱。因之邪氣漸入於胃。泄瀉不已出而覆沒。加之喘促。則必危矣。急宜先補脾胃也。</p>

<h1>卷四</h1>

<h2>謝心陽瘄子家傳</h2>
<p>心陽曰。痘之發也。因天行時氣。由父母胎毒。本乎五臟先天之症也。至於瘄子之發。亦因天行時氣。與傷寒相似。即所謂發斑傷寒也。自人受形而後。肥甘炙爆熏灼於胃腑。胃腑清潔。其發也輕。胃腑垢膩。其發也重。此後天之症也。當發時。身熱面赤。咳嗽。耳後筋紅若青紫者重。眼睛水淋淋。總以表發升散為主。夫瘄本乎胃腑。傳於肺家。與肝腎無涉。亦有用黃連而得效者。諸火皆統於心故也。其起初發散之藥。必用升麻。乾葛。前胡。桔梗。薄荷。防風。荊芥。蟬蛻。黏子。連翹。蘇葉。亦可用。消食用穀芽。出不快。點子模糊。要用麻黃。切不可用羌活。以其性燥。切不可用柴胡。以其為少陽膽經藥。瘄子自肺胃兩經。與肝膽經無涉。若用柴胡。將胃火引入少陽。瘄後不無目疾。所謂引邪入門也。至山楂。枳殼。麥芽三味。瘄中必用之藥。然枳殼。山楂。治小兒乳疳。見點一二日。不驟用者。以其味酸。酸則斂。瘄子以表發出透為主。若出到腳踝。則二味在所必用也。書云。寒涼過盛未免有冰伏之患。故黃芩一味。不用於見點之初。而用於將劑之際。經云。胃火不清。不用石膏之故。則發而為牙疳。口爛目痛。目赤。肺火不清。不用大黃之故。則熱入大腸。流而為泄瀉下痢。此瘄後之症。皆由瘄前治不得法耳。</p>

<h2>辨瘄訣</h2>
<p>凡瘄。五液兼見者順。二三液不見者逆。一液不見者死。汗為心液。泄為腎液。涕為肺液。吐為脾液。淚為肝液。蓋瘄發於陽。火毒炎灼。五液屬水。水能制火。所以輕也。如大便閉結。腎液枯也。遍身乾燥。心液竭也。鼻扇無涕。肺液虧也。目無眵淚。肝液少也。乾嘔無物。脾液燥也。五液不足。瘄後必成餘毒。腎無液者小痢。心無液者發熱。肺無液者咳嗽。肝無液者目翳。脾無液者牙疳。</p>

<h2>致五液法</h2>
<p>心主汗　凡瘄已出未出。鼻扇。面青氣喘。此邪毒犯肺。肺葉張也。急服麻黃取汗。水柳煎湯熏洗最妙。又生蔥一握。芫荽一握。煎湯五七沸。住火。稍溫。洗兒頭額太陽面頰。次洗手足畢。即將渣敷貼。熱者互換。兒熨不可太熱。恐傷兒肌。又胡荽四兩好。酒糟八兩。煎法擦法同前。又綿紗不拘多少。煎湯乘熱。先熏後洗。次則刮之。如刮痧之法。額角。天庭。頭項。腰膊。皆可。刮紅再洗仍頻飲此湯以取汗。</p>
<p>肝主淚　皂角搐鼻取淚。令兒哭。</p>
<p>脾主吐　鮮蝦湯生蔥湯發吐。</p>
<p>肺主涕　皂角末搐鼻取嚏。</p>
<p>腎主泄　蝦湯筍湯發瀉。</p>

<h2>瘄子初發表主方</h2>
<p>防風。荊芥。蘇葉。薄荷。前胡。桔梗。乾葛。蟬蛻。連翹。穀芽。甘草。蔥白七個。燈心一丸。</p>
<p>見點一日方</p>
<p>升麻。葛根。荊芥。防風。前胡。薄荷。桔梗。甘草。蟬蛻。黏子。連翹。穀芽。燈心一丸。見點之日。瘄子隱於皮膚之際。當用麻黃。舌胎白。有口氣。斷用生石膏以清胃火。則瘄子自然透出。切不可因石膏寒胃而不用。若見舌胎白。反以為寒胃而不能放膽用石膏。胃火不能清。不但瘄子出不快。當時就有鼻扇。胸滿。氣粗之患。日後又有牙疳。口爛。目痛。目赤之害。總以胃火不清。上熾於口牙。牙為胃所屬也。又上熾於目。胃脈起於目內眥。故胃火尋到本經來也。夫富貴之家多食肥甘。一見舌胎白。有口氣。須重用石膏。若貧賤之家。不吃甘甜之物。胃火到牙。牙不受。到目。目不受。胃火無從發泄。直上至於頭頂。紅腫高起寸許。或醫月餘不效。仍宜大用石膏。合荊芥。防風。清火敗毒藥。再加鹿角屑。蓋鹿之所運者在角。直至巔頂。故用之而效。</p>
<p>見點一二日方</p>
<p>乾葛。前胡。荊芥。防風。薄荷。桔梗。蟬蛻。黏子。連翹。甘草。穀芽。燈心一丸。點子不透。仍用升麻。隱於皮膚。可用麻黃。點子焦紫乾枯。當用黃連。羚羊角。葶藶子。馬兜鈴。有痰火。用花粉。杏仁。</p>
<p>見點二三日方。</p>
<p>乾葛。荊芥。防風。前胡。桔梗。蟬蛻。黏子。元參。知母。山楂。枳殼。黃芩。麥芽。嗽加枇杷葉。去毛蜜炙。舌白有口氣。用生石膏。加炒糯米。蓋石膏寒胃。糯米溫胃。用以相救。又有用石膏兼用升麻。取其升陽以發散之。舌尖紅。用黃連。梔子。有食。用枳實。蘿蔔子。有痰。用川貝。花粉。杏仁。氣粗用蘇子。</p>
<p>見點三四日方</p>
<p>前胡荊芥。防風。根生。元參。知母。石斛。山楂。枳殼。黃芩。麥冬。桑皮，杏仁。見症加減如前法。</p>
<p>見點五六七日方。</p>
<p>昔人出瘄子。一日子午兩潮。三日已消。不必服藥。近今或五六七日不消。身壯熱竟似發斑傷寒。一火毒未淨。一表里未清。用荊芥。防風。薄荷。黃連。知母。元參。生地。連翹。山楂。枳殼。梔子。見症加減如前法。</p>

<h2>瘄子消後方</h2>
<p>（瘄前以發散出透為主消後以滋陰清胃為主）</p>
<p>生地。骨皮。甘草。麥冬。桑皮。杏仁。荊芥。山楂。枳殼。川貝。知母。石膏。米仁。元參。有痰用北沙參。白芥子。有食。用蘿蔔子。見症加減如前法。瘄前不易瘄後更難。一因瘄前胃火不清。以致牙疳臭爛。一因肺火不清。移熱大腸。變成泄痢。泄痢初起。急用大黃以瀉其毒。若大黃難用。用黃芩黃連以清其火。牙疳者。急用石膏。目紅赤者。須用大黃以瀉之。目痛者。須用石膏。黃連。</p>
<p>瘄後重感風寒者。仍用表散。瘄後陰虛發熱者。仍用滋陰養血藥。當歸。白芍。可用。瘄後食積不清仍用消導藥瘄後小兒乳疳難治。只有五穀蟲一法。可救萬中之一。瘄後餘毒。仍用清涼化毒藥。瘄後痰壅氣喘。仍用化痰清肺藥瘄後忽然心胸絞痛。還是元氣虛弱。曾受疫癘之氣。謂之中惡。宜用蟬蛻四兩檳榔二錢。升麻八分煎服。又瘄無補法。故人參白朮不用。然真虛者用之而效。瘄子以養陰為主。故肉桂不用。然真寒者亦可用之。麻黃一味。服之過多。肺中燥極。渴不可止。惟用梨汁斂之可止。凡眼中有星。以三白草根掩之。或掩後枕司。或縛手臂。其星自落。凡出痘而瘄又出者。最難治也。用青大麥草襯於席下。以陰其瘄子。然後治痘。內經云。漆得蟹而解。麻得麥而消也。若無青大麥草。大麥亦可代。</p>
