<header data-type="book">
<h1>湯液本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王好古</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1298">公元1298年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆癸未（11年，1583）金陵周氏仁壽堂刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=8fbb3aad1aab474c9bc3d076607d843ffDcyNDQ10&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·湯液本草》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0057/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>《湯液本草》序一</h1>
<p>世皆知《素問》為醫之祖，而不知軒岐之書實出於《神農本草》也。殷伊尹用《本草》為湯液，漢仲景廣《湯液》為大法，此醫家之正學，雖後世之明哲有作，皆不越此。予集是書，復以《本草》正條，各從三陰三陽十二經為例，仍以主病者為元首，臣佐使應次之，不必如編類者，先玉石、次草木、次蟲魚，以上中下三品為門也。如太陽經當用桂枝湯、麻黃湯，必以麻黃、桂枝為主，本方中余藥後附之。如陽明經當用白虎湯，必以石膏為主，本方中余藥後附之。如少陽經當用三禁湯，必以柴胡為主，本方中余藥後附之。如太陰、少陰、厥陰之經，所用熱藥，皆仿諸此。至於《金匱》祖方，《湯液》外定為常制，凡可用者皆雜附之。或以傷寒之劑改治雜病，或以權宜之料更療常疾，以湯為散，以散為丸，變易百端。增一二味，別作他名，減一二味，另為殊法。《醫壘元戎》、《陰證略例》、《癍論萃英》、《錢氏補遺》等書，安樂之法，《湯液本草》統之，其源出於潔古老人《珍珠囊》也。</p>
<p>其間議論，出新意於法度之中，注奇辭於理趣之外，見聞一得，久弊全更，不特藥品之咸精，抑亦疾病之不誤。夭橫不至，壽域可期，其《湯液本草》歟。</p>

<h1>《湯液本草》序二</h1>
<p>神農嘗百草，立九候，以正陰陽之變化，以救性命之昏札，以為萬世法，既簡且要。殷之伊尹宗之，倍於神農，得立法之要，則不害為湯液。漢張仲景廣之，又倍於伊尹，得立法之要，則不害為確論。金域潔古老人派之，又倍於仲景，而亦得盡法之要，則不害為奇注。潔古倍於仲景，無以異仲景之倍於伊尹，仲景之倍於伊尹，無以異伊尹之倍於神農也。噫！宗之，廣之，派之，雖多寡之不同，其所以得立法之要，則一也。觀潔古之說，則知仲景之言，觀仲景之言，則知伊尹之意，皆不出於神農矣。所以先《本草》，次《湯液》，次《傷寒論》，次《保命書》，缺一不可矣。成無己《明理方例》云：「自古諸方，歷歲浸遠，難可考憑，仲景方最為眾方之祖。」是仲景本伊尹之法，伊尹本神農之方，醫帙之中，特為縝細，參合古法，不越毫末，實大聖之所作也。文潞公《藥准》云：「惟仲景為群方之祖也。」昔唐宋以來，得醫之名者，如王叔和、葛洪、孫思邈、範汪、胡洽、朱奉議、王朝奉、錢仲陽、成無己、陳無擇輩，其議論方，定增減變易，千狀萬態，無有一毫不出於仲景者。金域百有餘載，有潔古老人張元素，遇至人傳祖方不傳之妙法，嗣是其子云岐子張璧、東垣先生李杲明之，皆祖長沙張仲景《湯液》，惜乎，世莫能有知者。予受業於東垣老人，故敢以題。</p>

<h1>《湯液本草》後序</h1>
<p>劉禹錫云：《神農本經》以朱書，《名醫別錄》以墨書，傳寫既久，朱墨錯亂，遂令後人以為非神農書，以此故也。至於《素問》本經，議者以為戰國時書，加以「補亡」數篇，則顯然非《太素》中語，宜其以為非軒岐書也。陳無擇云：王叔和《脈訣》即高陽生剽竊。是亦後人增益者雜之也。何以知其然？予觀劉元賓注本，雜病生死歌后，比之他本即少八句。觀此八句，不甚滑溜，與上文書意重疊，後人安得不疑？與《本草經》朱書雜亂，《素問》之補亡混淆，何以異哉！宜乎，識者非之，繼而紛紜不已也。吾不知他時誰為是正。如元賓與潔古詳究而明，稱其中凡有所疑而不古者削去之，或不復注而直書本文。吾不知為意易曉不必云耶？為非聖賢之語而辯之耶？二者必居一於此。又啟玄子注《素問》，恐有未盡，以朱書，待明者改刪增益。傳錄者皆以墨書，其中不無差誤。如《刺熱論》注，五十九刺，首云「王注」，豈啟玄子之自謂乎？此一篇又可疑也。兼與《靈樞》不同，以此經比之《素問》八十九刺，何者為的？以此觀之，若是差別，勞而無益，學者安所適從哉？莫若以《金匱》考之，仲景所不言者，皆所不取，則正知真見定矣。盧君論血枯，舉《太素》云：此得之年少時大脫血而成。又舉子死腹中，穢物不消。又舉犯月水入房，精與積血相射，入於任脈，留於胞中，古人謂之精積。元豐中，雄州陳邦濟收一方，治積精及惡血淹留，胞冷絕娠，驗者甚多，其意與《內經》相近。烏賊魚骨本治漏下與經汁不斷，䕡茹去淹留惡血，古人用此，皆《本草》法。予觀方注條云：古人用此，皆本草法一句，何其知本哉。以是知軒岐之學，實出於神農也。又知伊尹湯液不出於軒岐，亦出於神農也。「皆」之一字，至甚深廣也，豈獨烏賊斷汁之一法哉。故知張伯祖之學，皆出於湯液，仲景師而廣之，迄今湯液不絕矣。晉唐宋以來，號明醫者皆出於此，至今大定間，潔古老人張元素及子云岐於張璧、東垣李杲明之三老者出，想千百載之下無復有之也。何以知其然？蓋當時學者雖多，莫若三老之實絕也。</p>

<h1>卷之一</h1>

<h2>五臟苦欲補瀉藥味</h2>
<p>肝苦急，急食甘以緩之，甘草。欲散，急食辛以散之，川芎。以辛補之，細辛。以酸瀉之，芍藥。虛，以生薑、陳皮之類補之。《經》曰：虛則補其母。水能生木，腎乃肝之母，腎，水也，苦以補腎，熟地黃、黃柏是也。如無他證，錢氏地黃丸主之。實，則白芍藥瀉之。如無他證，錢氏瀉青丸主之。實則瀉其子，心乃肝之子，以甘草瀉心。</p>
<p>心苦緩，急食酸以收之，五味子。欲軟，急食鹹以軟之，芒硝。以咸補之，澤瀉。以甘瀉之，人參、黃耆、甘草。虛，以炒鹽補之。虛則補其母，木能生火，肝乃心之母，肝，木也，以生薑補肝。如無他證，錢氏安神丸主之。實，則甘草瀉之。如無他證，錢氏方中重則瀉心湯，輕則導赤散。</p>
<p>脾苦濕，急食苦以燥之，白朮。欲緩，急食甘以緩之，甘草。以甘補之，人參。以苦瀉之，黃連。虛，則以甘草、大棗之類補之。如無他證，錢氏益黃散主之。心乃脾之母，以炒鹽補心。實，則以枳實瀉之。如無他證，以瀉黃散瀉之。肺乃脾之子，以桑白皮瀉肺。</p>
<p>肺苦氣上逆，急食苦以瀉之，訶子皮，一作黃芩。欲收，急食酸以收之，白芍藥。以辛瀉之，桑白皮。以酸補之，五味子。虛，則五味子補之。如無他證，錢氏阿膠散補之。脾乃肺之母，以甘草補脾。實，則桑白皮瀉之。如無他證，以瀉白散瀉之。腎乃肺之子，以澤瀉瀉腎。</p>
<p>腎苦燥，急食辛以潤之，知母、黃柏。欲堅，急食苦以堅之，知母。以苦補之，黃柏。以咸瀉之，澤瀉。虛，則熟地黃、黃柏補之。腎本無實，不可瀉，錢氏只有補腎地黃丸，無瀉腎之藥。肺乃腎之母，以五味子補肺。</p>
<p>以上五臟補瀉，《內經·臟氣法時論》中備言之，欲究其精，詳看本論。</p>

<h2>臟腑瀉火藥</h2>
<p>黃連瀉心火</p>
<p>木通瀉小腸火</p>
<p>黃芩瀉肺火（梔子佐之）</p>
<p>黃芩瀉大腸火</p>
<p>柴胡瀉肝火（黃連佐之）</p>
<p>柴胡瀉膽火（亦以黃連佐之）</p>
<p>白芍藥瀉脾火</p>
<p>石膏瀉胃火</p>
<p>知母瀉腎火</p>
<p>黃柏瀉膀胱火</p>
<p>柴胡瀉三焦火（黃芩佐之）</p>
<p>以上諸藥，各瀉其火，不惟止能如此，更有治病，合為君、合為臣處，詳其所宜而用，勿執一也。</p>

<h2>東垣先生藥類法象</h2>

<h3>用藥法象</h3>
<p>天有陰陽，風寒暑濕燥火，三陰、三陽上奉之。溫涼寒熱，四氣是也，皆象於天。溫、熱者，天之陽也。涼、寒者，天之陰也。此乃天之陰陽也。</p>
<p>地有陰陽，金木水火土，生長化收藏下應之。</p>
<p>辛甘淡酸苦鹹，五味是也，皆象於地。辛甘淡者，地之陽也。酸苦鹹者，地之陰也。此乃地之陰陽也。</p>
<p>味之薄者，為陰中之陽，味薄則通，酸、苦、咸、平是也。味之厚者，為陰中之陰，味厚則泄，酸、苦、咸、寒是也。氣之厚者，為陽中之陽，氣厚則發熱，辛、甘、溫、熱是也。氣之薄者，為陽中之陰，氣薄則發泄，辛、甘、淡、平、涼、寒是也。</p>
<p>輕清成象（味薄，茶之類）本乎天者親上。</p>
<p>重濁成形（味厚，大黃之類）本乎地者親下。</p>
<p>氣味辛甘發散為陽，酸苦湧泄為陰。</p>
<p>清陽發腠理，清之清者也。</p>
<p>清陽實四肢，清之濁者也。</p>
<p>濁陰歸六腑，濁之濁者也。</p>
<p>濁陰走五臟，濁之清者也。</p>

<h3>藥性要旨</h3>
<p>苦藥平升，微寒平亦升。</p>
<p>甘辛藥平降，甘寒瀉火。</p>
<p>苦寒瀉濕熱，苦甘寒瀉血熱。</p>

<h3>氣味厚薄寒熱陰陽升降圖</h3>
<figure>
<img alt="氣味厚薄寒熱陰陽升降圖">
</figure>

<h3>升降者天地之氣交</h3>
<p>茯苓淡，為在天之陽也。陽當上行，何謂利水而泄下？《經》云：氣之薄者，乃陽中之陰，所以茯苓利水而泄下。然而，泄下亦不離乎陽之體，故入手太陽。麻黃苦，為在地之陰也。陰當下行，何謂發汗而升上？《經》云：味之薄者，乃陰中之陽，所以麻黃升上而發汗。然而，升上亦不離乎陰之體，故入手太陰。附子，氣之厚者，乃陽中之陽，故《經》云：發熱。大黃，味之厚者，乃陰中之陰，故《經》云：泄下。粥淡，為陽中之陰，所以利小便。茶苦，為陰中之陽，所以清頭目。</p>

<h3>用藥升降浮沉補瀉法</h3>
<p>肝、膽：味辛，補酸瀉；氣溫補涼瀉（肝膽之經，前後寒熱不同，逆順互換，入求責法）。</p>
<p>心、小腸：味鹹補甘瀉；氣熱補寒瀉（三焦命門補瀉同）。</p>
<p>脾、胃：味甘補苦瀉；氣溫涼寒熱補瀉各從其宜（逆從互換，入求責法）。</p>
<p>肺、大腸：味酸補辛瀉；氣涼補溫瀉。</p>
<p>腎、膀胱：味苦補咸瀉；氣寒補熱瀉。</p>
<p>五臟更相平也，一臟不平，所勝平之，此之謂也。故云：安穀則昌，絕谷則亡。水去則榮散，谷消則衛亡。榮散衛亡，神無所居。又，仲景云：水入於經，其血乃成，谷入於胃，脈道乃行。故血不可不養，衛不可不溫。血溫衛和，榮衛將行，常有天命矣。</p>

<h3>五味所用</h3>
<p>苦泄，甘緩，酸收，咸軟，淡滲泄，辛散。</p>

<h3>藥類法象</h3>
<p>風升生（味之薄者，陰中之陽，味薄則通，酸苦鹹平是也）</p>
<p>防風（純陽，性溫，味甘辛）。</p>
<p>升麻（氣平，味微苦）</p>
<p>柴胡（氣平，味苦辛）</p>
<p>羌活（氣微溫，味苦甘平）</p>
<p>威靈仙（氣溫，味苦）</p>
<p>葛根（氣平，味甘）</p>
<p>獨活（氣微溫，味苦甘平）</p>
<p>細辛（氣溫，味大辛）</p>
<p>桔梗（氣微溫，味甘辛）</p>
<p>白芷（氣溫，味大辛）</p>
<p>藁本（氣溫，味大辛）</p>
<p>鼠黏子（氣平，味辛）</p>
<p>蔓荊子（氣清，味辛）</p>
<p>川芎（氣溫，味辛）</p>
<p>天麻（氣平，味苦）</p>
<p>秦艽（氣微溫，味苦辛平）</p>
<p>荊芥（氣溫，味苦辛）</p>
<p>麻黃（氣溫，味甘苦）</p>
<p>前胡（氣微寒，味苦）</p>
<p>薄荷（氣溫，味苦辛）</p>
<p>熱浮長（氣之厚者，陽中之陽，氣厚則發熱，辛甘溫熱是也）</p>
<p>黑附子（氣熱，味大辛）</p>
<p>烏頭（氣熱，味大辛）</p>
<p>乾薑（氣熱，味大辛）</p>
<p>乾生薑（氣溫，味辛）</p>
<p>良薑（氣熱，味辛，本味甘辛）</p>
<p>肉桂（氣熱，味大辛）</p>
<p>桂枝（氣熱，味甘辛）</p>
<p>草豆蔻（氣熱，味大辛）</p>
<p>丁香（氣溫，味辛）</p>
<p>厚朴（氣溫，味辛）</p>
<p>木香（氣熱，味苦辛）</p>
<p>益智（氣熱，味大辛）</p>
<p>白豆蔻（氣熱，味大辛）</p>
<p>川椒（氣熱，味大辛）</p>
<p>吳茱萸（氣熱，味苦辛）</p>
<p>茴香（氣平，味辛）</p>
<p>延胡索（氣溫，味辛）</p>
<p>縮砂（氣溫，味辛）</p>
<p>紅藍花（氣溫，味辛）</p>
<p>神麯（氣大暖，味甘）</p>
<p>濕化成（戊，濕，其本氣平，其兼氣溫涼寒熱，在人以胃應之。己，土，其本味鹹，其兼味辛甘鹹苦，在人以脾應之）</p>
<p>黃耆（氣溫平，味甘）</p>
<p>人參（氣溫，味甘）</p>
<p>甘草（氣平，味甘）</p>
<p>當歸（氣溫，味辛，一作味甘）</p>
<p>熟地黃（氣寒，味苦）</p>
<p>半夏（氣微寒，味辛平）</p>
<p>白朮（氣溫，味甘）</p>
<p>蒼朮（氣溫，味甘）</p>
<p>陳皮（氣溫，味微苦）</p>
<p>青皮（氣溫，味辛）</p>
<p>藿香（氣微溫，味甘辛）</p>
<p>檳榔（氣溫，味辛）</p>
<p>蓬莪朮（氣平，味苦辛）</p>
<p>京三稜（氣平，味苦）</p>
<p>阿膠（氣微溫，味甘辛）</p>
<p>訶子（氣溫，味苦）</p>
<p>杏仁（氣溫，味甘苦）</p>
<p>大麥糵（氣溫，味鹹）</p>
<p>桃仁（氣溫，味甘苦）</p>
<p>紫草（氣寒，味苦）</p>
<p>蘇木（氣平，味甘鹹。一作味酸）</p>
<p>燥降收（氣之薄者，陽中之陰，氣薄則發泄，辛甘淡平寒涼是也）</p>
<p>茯苓（氣平，味甘）</p>
<p>澤瀉（氣平，味甘）</p>
<p>豬苓（氣寒，味甘）</p>
<p>滑石（氣寒，味甘）</p>
<p>瞿麥（氣寒，味苦辛）</p>
<p>車前子（氣寒，味甘）</p>
<p>燈心草（氣平，味甘）</p>
<p>五味子（氣溫，味酸）</p>
<p>桑白皮（氣寒，味苦酸）</p>
<p>天門冬（氣寒，味微苦）</p>
<p>白芍藥（氣微寒，味酸）</p>
<p>麥門冬（氣寒，味微苦）</p>
<p>犀角（氣寒，味苦酸）</p>
<p>烏梅（氣平，味酸）</p>
<p>牡丹皮（氣寒，味苦）</p>
<p>地骨皮（氣寒，味苦）</p>
<p>枳殼（氣寒，味苦）</p>
<p>琥珀（氣平，味甘）</p>
<p>連翹（氣平，味苦）</p>
<p>枳實（氣寒，味苦酸）</p>
<p>木通（氣平，味甘）</p>
<p>寒沉藏（味之厚者，陰中之陰，味厚則泄，酸苦鹹氣寒是也）</p>
<p>大黃（氣寒，味苦）</p>
<p>黃柏（氣寒，味苦）</p>
<p>黃芩（氣寒，味苦）</p>
<p>黃連（氣寒，味苦）</p>
<p>石膏（氣寒，味辛）</p>
<p>草龍膽（氣寒，味大苦）</p>
<p>生地黃（氣寒，味苦）</p>
<p>知母（氣寒，味大辛）</p>
<p>防己（氣寒，味大苦）</p>
<p>茵陳（氣微寒，味苦平）</p>
<p>朴硝（氣寒，味苦辛）</p>
<p>栝蔞根（氣寒，味苦）</p>
<p>牡蠣（氣微寒，味鹹平）</p>
<p>玄參（氣寒，味微苦）</p>
<p>山梔子（氣寒，味微苦）</p>
<p>川楝子（氣寒，味苦平）</p>
<p>香豉（氣寒，味苦）</p>
<p>地榆（氣微寒，味甘鹹）</p>

<h3>標本陰陽論</h3>
<p>天陽：無，圓，氣，上，外，升，生，浮，晝，動，輕，燥，六腑。</p>
<p>地陰：有，方，血，下，內，降，殺，沉，夜，靜，重，濕，五臟。</p>
<p>夫治病者，當知標本。以身論之，則外為標、內為本，陽為標、陰為本，故六腑屬陽為標，五臟屬陰為本，此臟腑之標本也。又，臟腑在內為本，各臟腑之經絡在外為標，此臟腑經絡之標本也。更，人身之臟腑陰陽，氣血經絡，各有標本也。以病論之，先受病為本，後傳流病為標。凡治病者，必先治其本，後治其標。若先治其標，後治其本，邪氣滋甚，其病益畜。若先治其本，後治其標，雖病有十數證皆去矣。謂如先生輕病，後滋生重病，亦先治輕病，後治重病，如是則邪氣乃伏。蓋先治本故也。若有中滿，無問標本，先治中滿，謂其急也。若中滿後有大小便不利，亦無問標本，先利大小便，次治中滿，謂尤急也。除大小便不利及中滿三者之外，皆治其本，不可不慎也。</p>
<p>從前來者為實邪，從後來者為虛邪，此子能令母實，母能令子虛是也。治法云：虛則補其母，實則瀉其子。假令肝受心火之邪，是從前來者為實邪，當瀉其子，火也。然非真瀉其火，十二經中各有金木水火土，當木之分，瀉其火也。故《標本論》云：本而標之，先治其本，後治其標。既肝受火邪，先於肝經五穴中瀉滎火，行間穴是也。後治其標者，於心經五穴內瀉滎火，少府穴是也。以藥論之，入肝經藥為之引，用瀉心火藥為君，是治實邪之病也。假令肝受腎邪，是從後來者，為虛邪，虛則當補其母。故《標本論》云：標而本之，先治其標，後治其本。既受水邪，當先於腎經湧泉穴，補木，是先治其標。後於肝經曲泉穴中瀉水，是後治其本。此先治其標者，推其至理，亦是先治其本也。以藥論之，入腎經藥為引用，補肝經藥為君是也。</p>

<h3>五方之正氣味</h3>
<p>（制方用藥附）</p>
<p>東方：甲風、乙木，其氣溫，其味甘，在人以肝膽應之。</p>
<p>南方：丙熱、丁火，其氣熱，其味辛，在人以心、小腸、三焦、包絡應之。</p>
<p>中央：戊濕，其本氣平，其兼氣溫涼寒熱，在人以胃應之。</p>
<p>中央：己土，其本味鹹，其兼味辛甘酸苦，在人以脾應之。</p>
<p>西方：庚燥、辛金，其氣涼，其味酸，在人以肺、大腸應之。</p>
<p>北方：壬寒、癸水，其氣寒，其味苦，在人以腎、膀胱應之。</p>
<p>人乃萬物中之一也，獨陽不生，獨陰不長，須稟兩儀之氣而生化也。聖人垂世立教，不能渾說，必當分析，以至理而言，則陰陽相附不相離，其實一也。呼則因陽出，吸則隨陰入。天以陽生陰長，地以陽殺陰藏，此上說止明補瀉用藥君之一也。故曰：主病者為君。用藥之機會，要明輕清成象，重濁成形。本乎天者親上，本乎地者親下，則各從其類也。清中清者，清肺以助其天真；清中濁者，榮華腠理；濁中清者，榮養於神；濁中濁者，堅強骨髓。故《至真要大論》云：五味陰陽之用，辛甘發散為陽，酸苦湧泄為陰，淡味滲泄為陽，鹹味湧泄為陰，六者或收或散，或緩或急，或燥或潤，或軟或堅，各以所利而行之，調其氣使之平也。詳見本論。</p>

<h1>卷之二</h1>

<h2>東垣先生用藥心法</h2>

<h3>隨證治病藥品</h3>
<p>如頭痛，須用川芎。如不愈，各加引經藥：太陽，川芎；陽明，白芷；少陽，柴胡；太陰，蒼朮；少陰，細辛；厥陰，吳茱萸。</p>
<p>如頂巔痛，須用藁本，去川芎。</p>
<p>如肢節痛，須用羌活，去風濕亦宜用之。</p>
<p>如腹痛，須用芍藥，惡寒而痛，加桂；惡熱而痛，加黃柏。</p>
<p>如心下痞，須用枳實、黃連。</p>
<p>如肌熱及去痰者，須用黃芩。肌熱，亦用黃耆。</p>
<p>如腹脹，用薑製厚朴（一本有芍藥）。</p>
<p>如虛熱，須用黃耆，止虛汗，亦用。</p>
<p>如脅下痛，往來潮熱，日晡潮熱，須用柴胡。</p>
<p>如脾胃受濕，沉困無力，怠惰好臥，去痰，用白朮。</p>
<p>如破滯氣，用枳殼，高者用之。夫枳殼者，損胸中至高之氣，二三服而已。</p>
<p>如破滯血，用桃仁、蘇木。</p>
<p>如去痰，須用半夏。熱痰，加黃芩；風痰，加南星；胸中寒痰、痞塞，用陳皮、白朮，多用則瀉脾胃。</p>
<p>如腹中窄狹，須用蒼朮。</p>
<p>如調氣，須用木香。</p>
<p>如補氣，須用人參。</p>
<p>如和血，須用當歸，凡血受病者，皆當用當歸也。</p>
<p>如去下焦濕腫及痛，並膀胱有火邪者，必須酒洗防己、草龍膽、黃柏、知母。</p>
<p>如去上焦濕及熱，須用黃芩，瀉肺火故也。</p>
<p>如去中焦濕與痛熱，用黃連，能瀉心火故也。</p>
<p>如去滯氣用青皮，勿多服，多則瀉人真氣。</p>
<p>如渴者，用乾葛、茯苓，禁半夏。</p>
<p>如嗽者，用五味子。</p>
<p>如喘者，用阿膠。</p>
<p>如宿食不消，須用黃連、枳實。</p>
<p>如胸中煩熱，須用梔子仁。</p>
<p>如水瀉，須用白朮、茯苓、芍藥。</p>
<p>如氣刺痛，用枳殼，看何部分，以引經藥導使之行則可。</p>
<p>如血刺痛，用當歸，詳上下，用根梢。</p>
<p>如瘡痛不可忍者，用寒苦藥，如黃柏、黃芩，詳上下，用根梢，及引經藥則可。</p>
<p>如眼痛不可忍者，用黃連、當歸身，以酒浸煎。</p>
<p>如小便黃者，用黃柏；數者、澀者，或加澤瀉。</p>
<p>如腹中實熱，用大黃、芒硝。</p>
<p>如小腹痛，用青皮。</p>
<p>如莖中痛，用生甘草梢。</p>
<p>如驚悸恍惚，用茯神。</p>
<p>如飲水多，致傷脾，用白朮、茯苓、豬苓。</p>
<p>如胃脘痛，用草豆蔻。</p>
<p>凡用純寒、純熱藥，必用甘草，以緩其力也。</p>
<p>寒熱相雜，亦用甘草，調和其性也。中滿者禁用。經云：中滿者勿食甘。</p>

<h3>用藥凡例</h3>
<p>凡解利傷風，以防風為君，甘草、白朮為佐。經云：辛甘發散為陽。風宜辛散，防風味辛及治風通用，故防風為君，甘草、白朮為佐。</p>
<p>凡解利傷寒，以甘草為君，防風、白朮為佐，是寒宜甘發也。或有別證，於前隨證治病藥內選用，分兩以君臣論。</p>
<p>凡眼暴發赤腫，以防風、黃芩為君，以瀉火；以黃連、當歸身和血，為佐；兼以各經藥用之。</p>
<p>凡眼久病昏暗，以熟地黃、當歸身為君；以羌活、防風為臣；甘草、甘菊之類為佐。</p>
<p>凡痢疾腹痛，以白芍藥、甘草為君；當歸、白朮為佐。下血先後，以三焦熱論。</p>
<p>凡水瀉，以茯苓、白朮為君，芍藥、甘草為佐。</p>
<p>凡諸風，以防風為君，隨治病為佐。</p>
<p>凡嗽，以五味子為君；有痰者，以半夏為佐；喘者，以阿膠為佐；有熱、無熱，以黃芩為佐，但分兩多寡不同耳。</p>
<p>凡小便不利，黃柏、知母為君，茯苓、澤瀉為佐。</p>
<p>凡下焦有濕，草龍膽、防己為君，甘草、黃柏為佐。</p>
<p>凡痔漏，以蒼朮、防風為君，甘草、芍藥為佐。詳別證加減。</p>
<p>凡諸瘡，以黃連、當歸為君，甘草、黃芩為佐。</p>
<p>凡瘧，以柴胡為君，隨所發時所屬經，分用引經藥佐之。</p>
<p>以上，皆用藥之大要。更詳別證，於前隨證治病藥內，逐旋加減用之。</p>

<h3>東垣報使</h3>
<p>太陽：羌活，下黃柏。</p>
<p>陽明：白芷升麻，下石膏。</p>
<p>少陽：上柴胡，下青皮。</p>
<p>太陰：白芍藥。</p>
<p>少陰：知母。</p>
<p>厥陰：青皮，上柴胡。</p>
<p>小腸膀胱屬太陽，藁本羌活是本方。</p>
<p>三焦膽與肝包絡，少陽厥陰柴胡強。</p>
<p>陽明大腸兼足胃，葛根白芷升麻當。</p>
<p>太陰肺脈中焦起，白芷升麻蔥白鄉。</p>
<p>脾經少與肺經異，升麻芍藥白者詳。</p>
<p>少陰心經獨活主，腎經獨活加桂良。</p>
<p>通經用此藥為使，更有何病到膏肓。</p>

<h3>諸經嚮導</h3>
<figure>
<img alt="太陰經嚮導圖">
</figure>
<figure>
<img alt="陽明經嚮導圖">
</figure>
<figure>
<img alt="厥陰經嚮導圖">
</figure>
<figure>
<img alt="少陽經嚮導圖">
</figure>
<figure>
<img alt="太陽經嚮導圖">
</figure>
<figure>
<img alt="少陰經嚮導圖">
</figure>

<h3>制方之法</h3>
<p>夫藥有寒熱溫涼之性，酸苦辛鹹甘淡之味。各有所能，不可不通也。藥之氣味，不比同時之物，味皆咸，其氣皆寒之類是也。凡同氣之物必有諸味，同味之物必有諸氣。互相氣味，各有厚薄，性用不等。制其方者，必且明其為用。經曰：味為陰，味厚為純陰，味薄為陰中之陽；氣為陽，氣厚為純陽，氣薄為陽中之陰。然，味厚則泄，薄則通；氣薄則發泄，厚則發熱。又曰：辛甘發散為陽，酸苦湧泄為陰；鹹味湧泄為陰，淡味滲泄為陽。凡此之味，各有所能。然辛能散結、潤燥；苦能燥濕、堅軟；咸能軟堅；酸能收緩收散；甘能緩急；淡能利竅。故經曰：肝苦急，急食甘以緩之；心苦緩，急食酸以收之；脾苦濕，急食苦以燥之；肺苦氣上逆，急食苦以泄之；腎苦燥，急食辛以潤之，開腠理、致津液、通其氣也。肝欲散，急食辛以散之；心欲軟，急食鹹以軟之；脾欲緩，急食甘以緩之；肺欲收，急食酸以收之；腎欲堅，急食苦以堅之。凡此者，是明其氣味之用也。若用其味，必明其氣之可否；用其氣，必明其味之所宜。識其病之標本、臟腑、寒熱、虛實、微甚、緩急而用其藥之氣味，隨其證而制其方也。是故方有君臣、佐使、輕重、緩急、大小、反正逆從之制也。</p>
<p>主治病者為君，佐君者為臣，應臣者為使。用此隨病之所宜，而又贊成方而用之。</p>
<p>君一臣二，奇之制也，君二臣四，偶之制也；君二臣三，奇之制也；君二臣六，偶之制也。去咽嗌近者奇之，遠者偶之。汗者不奇，下者不偶。補上治上，制之以緩；補下治下，制之以急。急者氣味厚也，緩者氣味薄也；薄者少服而頻食，厚者多服而頓食。</p>
<p>又當明五氣之郁：木鬱達之，謂吐，令條達也；火鬱發之，謂汗，令疏散也；土鬱奪之，謂下，令無壅滯也；金鬱泄之，謂解表，利小便也；水鬱折之，謂制其沖逆也。通此五法，乃治病之大要也。</p>

<h3>用藥各定分兩</h3>
<p>為君者最多，為臣者次之，佐者又次之。藥之於證，所主同者則等分。</p>

<h3>用藥酒洗曝乾</h3>
<p>黃芩、黃連、黃柏、知母，病在頭面及手梢皮膚者，須用酒炒之。借酒力以上騰也。咽之下、臍之上，須酒洗之。在下生用。大凡生升、熟降。大黃鬚煨，恐寒則損胃氣。至於川烏、附子須炮，以製毒也。黃柏、知母，下部藥也，久弱之人，須合用之者，酒浸，曝乾，恐寒傷胃氣也。熟地黃，酒洗亦然。當歸，酒浸，曝，發散之意也。</p>

<h3>用藥根梢身例</h3>
<p>凡根之在土者，中半以上，氣脈之上行也，以生苗者為根；中半以下，氣脈之下行也，入土以為梢。病在中焦與上焦者，用根；在下焦者，用梢。根升而梢降。大凡藥根有上中下：人身半以上，天之陽也，用頭；在中焦用身；在身半以下，地之陰也，用梢。述類象形者也。</p>

<h3>用丸散藥例</h3>
<p>仲景言：銼如麻豆大，與㕮咀同意。夫㕮咀，古之制也。古者無鐵刃，以口咬細，令如麻豆，為粗藥。煎之，使藥水清，飲於腹中則易升易散也，此所謂㕮咀也。今人以刀器銼如麻豆大，此㕮咀之易成也。若一概為細末，不分清濁矣。經云：清陽發腠理，濁陰走五臟，果何謂也？又曰：清陽實四肢，濁陰歸六腑。㕮咀之藥，取汁易行經絡也。若治至高之病，加酒煎。去濕，以生薑；補元氣，以大棗；發散風寒，以蔥白；去膈上痰，以蜜。細末者，不循經絡，止去胃中及臟腑之積。氣味厚者白湯調，氣味薄者煎之，和渣服。去下部之疾，其丸極大而光且圓；治中焦者，次之；治上焦者，極小。稠麵糊，取其遲化，直至下焦。或酒、或醋，取其收其散之意也。犯半夏、南星，欲去濕者，以生薑汁。稀糊為丸，取其易化也；水浸宿，炊餅，又易化；滴水丸，又易化。煉蜜丸者，取其遲化而氣循經絡也。蠟丸者，取其難化，而旋旋取效也。大抵湯者「蕩」也，去大病用之；散者「散」也，去急病用之；丸者「緩」也，不能速去之，其用藥之舒緩而治之意也。</p>

<h3>升合分兩</h3>
<p>古之方劑，錙銖分兩，與今不同。謂如㕮咀者，即今銼如麻豆大是也。云一升者，即今之大白盞也。云銖者，六銖為一分，即二錢半也；二十四銖為一兩也；云三兩者，即今之一兩；云二兩，即今之六錢半也。料例大者，只合三分之一足矣。</p>

<h3>君臣佐使法</h3>
<p>帝曰：方制君臣何謂也？岐伯曰：主病之謂君，佐君之謂臣，應臣之謂使，非上中下三品之謂也。帝曰：三品何謂？曰：所以明善惡之殊貫也。</p>
<p>凡藥之所用者，皆以氣味為主。補瀉在味，隨時換氣。主病者為君，假令治風者，防風為君；治上焦熱，黃芩為君；治中焦熱，黃連為君；治濕，防己為君；治寒，附子之類為君。兼見何證，以佐使藥分治之。此制方之要也。《本草》說，上品藥為君，各從其宜也。</p>

<h3>治法綱要</h3>
<p>《氣交變論》云：夫五運之政，猶權衡也。高者抑之，下者舉之，化者應之，變者復之。此生長化成收藏之理，氣之常也。失常則天地四塞矣。失常之理，則天地四時之氣，無所運行。故動必有靜，勝必有復，乃天地陰陽之道也。假令，高者抑之，非高者固當抑也，以其本下，而失之太高，故抑之而使下。若本高，何抑之有？假令下者舉之，非下者固當舉之也，以其本高，而失之太下，故舉而使之高。若本下，何舉之有？</p>
<p>如仲景治表虛，制桂枝湯方：桂枝，味辛熱，發散，助陽，體輕，本乎天者親上，故桂枝為君，芍藥、甘草為佐。陽脈澀、陰脈弦，法當腹中急痛，制小建中湯方：芍藥，味酸寒，主收，補中，本乎地者親下，故芍藥為君，桂、甘草佐之。一則治表虛，一則治裡虛，各言其主用也。後之用古方者，觸類而長之，不致差誤矣。</p>

<h3>藥味專精</h3>
<p>至元庚辰六月，許伯威年五十四，中氣本弱，病傷寒八九日，醫者見其熱甚，以涼藥下之，又食梨三、四枚，痛傷脾胃，四肢冷，時發昏憒。予診其脈，動而中止，有時自還，乃結脈也。心亦悸動，吃噫不絕，色變青黃，精神減少，目不欲開，倦臥，惡人語笑，以炙甘草湯治之。成無己云：補可去弱。人參、大棗之甘，以補不足之氣；桂枝、生薑之辛，以益正氣。五臟痿弱，榮衛涸流，濕劑所以潤之。麻仁、阿膠、麥門冬、地黃之甘，潤經益血，復脈通心是也。加以人參、桂枝，急扶正氣，生地黃減半，恐傷陽氣。銼一、兩劑，服之不效。予再候之，脈證相對，莫非藥有陳腐者，致不效乎？再市藥之氣味厚者，煎服，其證減半，再服而安。</p>
<p>凡藥之昆蟲草木，產之有地；根葉花實，採之有時。失其地，則性味少異矣；失其時，則性味不全矣。又況新陳之不同，精粗之不等，倘不擇而用之，其不效者，醫之過也。《內經》曰：司歲備物。氣味之精專也，修合之際，宜加謹焉。</p>

<h3>湯液煎造</h3>
<p>病人服藥，必擇人煎藥。能識煎熬製度，須令親信恭誠至意者煎藥，銚器除油垢、腥穢。必用新淨甜水為上，量水大小，斟酌以慢火煎熬分數。用紗濾去渣，取清汁服之，無不效也。</p>

<h3>古人服藥活法</h3>
<p>在上不厭頻而少，在下不厭頓而多，少服則滋榮於上，多服則峻補於下。</p>

<h3>古人服藥有法</h3>
<p>病在心上者，先食而後藥；病在心下者，先藥而後食。病在四肢者，宜飢食而在旦；病在骨髓者，宜飽食而在夜。</p>

<h3>察病輕重</h3>
<p>凡欲療病，先察其源，先候其機。五臟未虛，六腑未竭，血脈未亂，精神未散，服藥必效。若病已成，可得半愈；病勢已過，命將難存。自非明醫聽聲、察色至於診脈，孰能知未病之病乎？</p>

<h3>海藏老人《湯液本草》</h3>

<h3>五宜</h3>
<p>肝色青，宜食甘，粳米、牛肉、棗、葵皆甘。</p>
<p>心色赤，宜食酸，犬肉、麻、李、韭皆酸。</p>
<p>肺色白，宜食苦，小麥、羊肉、杏、薤皆苦。</p>
<p>脾色黃，宜食鹹，大豆、豕肉、慄、藿皆咸。</p>
<p>腎色黑，宜食辛，黃黍、雞肉、桃、蔥皆辛。</p>
<p>毒藥攻邪，五穀為養，五果為助，五畜為益，五菜為充。</p>
<p>氣味合而服之，以補精益氣。此五者，有辛酸甘苦鹹，各有所利：或散、或收、或緩、或急、或堅、或軟，四時五臟，病隨五味所宜也。</p>
<p>大毒治病，十去其六；常毒治病，十去其七；小毒治病，十去其八；無毒治病，十去其九。穀肉果菜，食養盡之，無使過之，傷其正也。蓋陰之所生，本在五味，陰之五宮，傷在五味。是故味過於酸，肝氣以津，脾氣乃絕。味過於咸，大骨氣勞，短肌，心氣抑。味過於甘，心氣喘滿，色黑，腎氣不衡。味過於苦，脾氣不濡，胃氣乃厚。味過於辛，筋脈沮弛，精神乃央。是故謹和五味，骨正筋柔，氣血以流，腠理以密，如是則氣骨以精，謹道如法，長有天命。</p>

<h3>五傷</h3>
<p>多食鹹，則脈凝泣而變色。</p>
<p>多食苦，則皮槁而毛拔。</p>
<p>多食辛，則筋急而爪枯。</p>
<p>多食酸，則肉胝䐢而唇揭。</p>
<p>多食甘，則骨痛而發落。</p>

<h3>五走</h3>
<p>咸走血，血病毋多食鹹。</p>
<p>苦走骨，骨病毋多食苦。</p>
<p>辛走氣，氣病毋多食辛。</p>
<p>酸走筋，筋病毋多食酸。</p>
<p>甘走肉，肉病毋多食甘。</p>
<p>夫五味入胃，各歸所喜攻，酸先入肝，苦先入心，甘先入脾，辛先入肺，咸先入腎。久而增氣，物化之常也；氣增而久，夭之由也。</p>

<h3>服藥可慎</h3>
<p>熱中、消中，不可服膏粱、芳草、石藥。夫芳草之氣美，石藥之氣悍，二者其氣急疾堅勁，故非緩心和人，不可以服此。夫熱氣剽悍，藥氣亦然，二氣相遇，恐內傷脾。脾者，土也，而惡木。服此藥者，至甲乙日更論。</p>

<h3>論藥所主</h3>
<p>海藏云：湯液要藥，最為的當，其餘方論所著雜例，比之湯液稍異，何哉？蓋伊尹、仲景取其治之長也。其所長者，神農之所注也。何以知之？《本草》云：一物主十病，取其偏長為本。又當取潔古《珍珠囊》斷例為準則，其中，藥之所主，不必多言，只一兩句，多則不過三四句。非務簡也，亦取其所主之偏長，故不為多也。</p>

<h3>天地生物有厚薄堪用不堪用</h3>
<figure>
<img alt="表格一">
</figure>
<p>故治病者，必明六化分治，五味五色所生，五臟所宜，乃可以言盈虛病生之緒也。謹候氣宜，無失病機。其主病何如，言採藥之歲也。司歲備物，則無遺主矣。先歲物何也，天地之專精也，專精之氣，藥物肥濃，又於使用，當其正氣味也。五運主歲，不足則物薄，有餘則物精，非專精則散氣，散氣則物不純。是以質同而異等，形質雖同，力用則異也。氣味有厚薄，性用有躁靜，治化有多少，力化有淺深，此之謂也。</p>
<figure>
<img alt="表格二">
</figure>
<figure>
<img alt="表格三">
</figure>
<figure>
<img alt="表格四">
</figure>
<figure>
<img alt="表格五">
</figure>
<figure>
<img alt="表格六">
</figure>
<figure>
<img alt="表格七">
</figure>
<figure>
<img alt="表格八">
</figure>
<figure>
<img alt="表格九">
</figure>

<h3>氣味生成流布</h3>
<p>陽為氣，陰為味；味歸形，形歸氣；氣歸精，精歸化；精食氣，形食味；化生精，氣生形；味傷形，氣傷精；精化為氣，氣傷於味。</p>
<p>陰味出下竅，陽氣出上竅。味厚者為陰，薄為陰中之陽，厚則泄，薄則通；氣厚者為陽，薄為陽中之陰，薄則發泄，厚則發熱。</p>
<p>壯火之氣衰，少火之氣壯；壯火食氣，氣食少火；壯火散氣，少火生氣。天食人以五氣，地食人以五味。五氣入鼻，藏於心肺，上使五色修明，音聲能彰；五味入口，藏於腸胃，味有所藏，以養五氣，神和而生，津液相成，神乃自生。</p>

<h3>七方</h3>
<p>大：君一，臣三，佐九，制之大也。遠而奇偶，制大其服也。大則數少，少則二之。腎肝位遠，服湯散，不厭頓而多。</p>
<p>小：君一，臣二，制之小也。近而奇偶，制小其服也。小則數多，多則九之。心肺位近，服湯散，不厭頻而少。</p>
<p>緩：補上治上制以緩，緩則氣味薄。治主以緩，緩則治其本。</p>
<p>急：補下治下制以急，急則氣味厚。治客以急，急則治其標。</p>
<p>奇：君一臣二，奇之制也；君二臣三，奇之制也。陽數奇。</p>
<p>偶：君二臣四，偶之制也；君二臣六，偶之制也。陰數偶。</p>
<p>復：奇之不去，則偶之。是為重方也。</p>

<h3>十劑</h3>
<p>宣：可以去壅，薑、橘之屬是也。</p>
<p>通：可以去滯，木通、防己之屬是也。</p>
<p>補：可以去弱，人參、羊肉之屬是也。</p>
<p>瀉：可以去閉，葶藶、大黃之屬是也。</p>
<p>輕：可以去實，麻黃、葛根之屬是也。</p>
<p>重：可以去怯，磁石、鐵漿之屬是也。</p>
<p>滑：可以去著，冬葵子、榆白皮之屬是也。</p>
<p>澀：可以去脫，牡蠣、龍骨之屬是也。</p>
<p>燥：可以去濕，桑白皮、赤小豆之屬是也。</p>
<p>濕：可以去枯，白石英、紫石英之屬是也。</p>
<p>只如此體，皆有所屬。凡用藥者，審而詳之，則靡所失矣。陶隱居云：藥有宣、通、補、瀉、輕、重、滑、澀、燥、濕。此十劑，今詳之，惟寒、熱二種，何獨見遺，今補二種，以盡厥旨。</p>
<p>寒：可以去熱，大黃、朴硝之屬是也。</p>
<p>熱：可以去寒，附子、官桂之屬是也。</p>

<h1>卷之三</h1>

<h2>草部</h2>

<h3>防風</h3>
<p>純陽，性溫，味甘、辛。無毒。</p>
<p>足陽明胃經、足太陰脾經，乃二經行經之藥，太陽經本經藥。</p>
<p>《象》云：治風通用，瀉肺實，散頭目中滯氣，除上焦風邪之仙藥也。誤服，瀉人上焦元氣。去蘆並釵股用。</p>
<p>《珍》云：身，去身半以上風邪；梢，去身半以下風邪。</p>
<p>《心》云：又去濕之仙藥也，風能勝濕爾。</p>
<p>《本草》云：主大風頭眩痛，惡風，風邪目盲無所見。風行周身，骨節疼痹。煩滿，脅痛脅風。頭面遊風去來，四肢攣急，字乳，金瘡內痙。</p>
<p>東垣云：防風能制黃耆，黃耆得防風，其功愈大。又云：防風乃卒伍卑賤之職，隨所引而至，乃風藥末潤劑也。雖與黃耆相制，乃相畏而相使者也。</p>
<p>《本草》又云：得澤瀉、藁本，療風；得當歸、芍藥、陽起石、禹餘糧，療婦人子臟風。殺附子毒。惡乾薑、藜蘆、白蘞、芫花。</p>

<h3>升麻</h3>
<p>氣平，味苦、甘。微苦，微寒，味薄氣厚，陽中之陰也。無毒。</p>
<p>陽明經本經藥，亦走手陽明經、太陰經。</p>
<p>《象》云：能解肌肉間熱，此手足陽明經傷風之的藥也。去黑皮及腐爛者用。若補脾胃，非此為引用不能補。若得蔥白、白芷之類，亦能走手足陽明、太陰。</p>
<p>《心》云：發散本經風邪，元氣不足者，用此於陰中升陽氣上行。</p>
<p>《珍》云：脾痹，非此不能除。</p>
<p>《本草》云：主解百毒，殺百精老物殃鬼，闢瘟疫瘴氣，邪氣，蠱毒入口皆吐出，中惡腹痛，時氣毒癘，頭痛寒熱，風腫諸毒，喉痛口瘡。</p>
<p>東垣云：升麻入足陽明，若初病太陽證便服升麻、葛根，發出陽明經汗，或失之過，陽明經燥，太陽經不可解，必傳陽明矣。投湯不當，非徒無益，而又害之也。</p>
<p>朱氏云：瘀血入里，若衄血吐血者，犀角地黃湯，乃陽明經聖藥也。如無犀角，以升麻代之。升麻、犀角，性味相遠，不同，何以代之？蓋以升麻止是引地黃及余藥，同入陽明耳。</p>
<p>仲景云：太陽病，若發汗，若利小便，重亡津液，胃中乾燥，因轉屬陽明。其害不可勝言。又云：太陽几几，無汗者，葛根湯發之。若几几自汗者，表虛也，不宜用此。朱氏用升麻者，以表實無汗也。</p>
<p>《訣》云：主肺痿咳唾膿血，能發浮汗。</p>

<h3>羌活</h3>
<p>氣微溫，味苦、甘，平；苦、辛，氣味俱輕，陽也。無毒。</p>
<p>足太陽經、厥陰經藥，太陽經本經藥也。</p>
<p>《象》云：治肢節痛，利諸節，手足太陽經風藥也。加川芎，治足太陽、少陰頭痛，透關節。去黑皮並腐爛者用。</p>
<p>《心》云：去溫，濕風。</p>
<p>《珍》云：骨節痛，非此不能除。</p>
<p>《液》云：君藥也，非無為之主，乃卻亂反正之主。太陽經頭痛，肢節痛，一身盡痛，非此不治。又云：羌治，足太陽、厥陰、少陰藥也。與獨活不分二種，後人用羌活，多用鞭節者；用獨活，多用鬼眼者。羌活則氣雄，獨活則氣細，故雄者入足太陽，細者入足少陰也。又錢氏瀉青丸用此，壬乙同歸一治也。或問：治頭痛者何？答曰：巨陽從頭走足，惟厥陰與督脈會於巔，逆而上行，諸陽不得下，故令頭痛也。</p>

<h3>獨活</h3>
<p>氣味與羌活同。無毒。氣厚味薄，升也，苦辛。足少陰腎經行經之藥。</p>
<p>《本草》云：主風寒所擊，金瘡止痛，賁豚癇痓，女子疝瘕。療諸賊風，百節痛風，無久新者。</p>
<p>《液》云：獨活細而低，治足少陰伏風，而不治太陽。故兩足寒濕痹，不能動止，非此不能治。</p>
<p>《象》云：若與細辛同用，治少陰經頭痛。一名獨搖草，得風不搖，無風自搖。去皮淨用。</p>
<p>《心》云：治風須用，又能燥濕。經云：風能勝濕。</p>
<p>《珍》云：頭眩目暈，非此不能除。</p>

<h3>柴胡</h3>
<p>氣平，味微苦，微寒。氣味俱輕，陽也，升也，純陽，無毒。少陽經、厥陰經行經之藥</p>
<p>《象》云：除虛勞寒熱，解肌熱，去早晨潮熱，婦人產前後必用之藥。善除本經頭痛，非他藥能止。治心下痞，胸膈痛。去蘆用。</p>
<p>《心》云：少陽經分之藥，引胃氣上升，苦寒以發表熱。</p>
<p>《珍》云：去往來寒熱，膽癉，非此不能除。</p>
<p>《本草》云：主心腹，去腸胃中結氣，飲食積聚，寒熱邪氣，推陳致新，除傷寒心下煩熱，諸痰熱結實，胸中邪氣，五臟間遊氣，大腸停積水脹，及濕痹拘攣。亦可作浴湯。久服輕身、明目、益精。半夏為之使，惡皂莢，畏女菀、藜蘆。入足少陽，主東方分也。在經主氣，在臟主血。證前行則惡熱，卻退則惡寒，雖氣之微寒，味之薄者，故能行經。若佐以三稜、廣朮、巴豆之類，故能消堅積，是主血也。婦人經水適來適斷，傷寒雜病，易老俱用小柴胡湯主之，加以四物之類，並秦艽、牡丹皮輩，同為調經之劑。</p>
<p>《衍義》云：柴胡，《本經》並無一字治勞，今人治勞方中鮮有不用者，凡此誤世甚多。嘗原病勞，有一種真臟虛損，復受邪熱，因虛而致勞，故曰：勞者，牢也，須當斟酌用之。如《經驗方》治勞熱，青蒿煎丸，用柴胡正合宜耳，服之無不效。</p>
<p>《日華子》云：味甘，補五勞七傷，除煩止驚，益氣力。《藥性論》亦謂治勞乏羸瘦。若此等病，苟無實熱，醫者取而用之，不亡何待。註釋本草，一字亦不可忽，蓋後世所誤無窮也。苟有明哲之士，自可處制，中下之士，不肯考究，枉致淪沒，可不謹哉，可不戒哉。如張仲景治寒熱往來如瘧，用柴胡，正合其宜。</p>
<p>《圖經》云：治傷寒有大小柴胡湯、柴胡加龍骨牡蠣、柴胡加芒硝等湯，故後人治傷寒熱，此為最要之藥。</p>
<p>東垣云：能引清氣而行陽道，傷寒外諸藥所加，有熱則加之，無熱則不加。又能引胃氣上行，升騰而行春令是也，欲其如此，又何加之。</p>
<p>海藏云：能去臟腑內外俱乏，既能引清氣上行而順陽道，又入足少陽，蓋以少陽之氣，初出地之皮為嫩陽，故以少陽當之。</p>

<h3>葛根</h3>
<p>氣平，味甘。無毒。</p>
<p>陽明經引經藥，足陽明經行經的藥。</p>
<p>《象》云：治脾虛而渴，除胃熱，解酒毒，通行足陽明經之藥，去皮用。</p>
<p>《心》云：止渴升陽。</p>
<p>《珍》云：益陽生津，勿多用，恐傷胃氣。虛渴者，非此不能除。</p>
<p>《本草》云：主消渴，身大熱，嘔吐，諸痹，起陰氣，解諸毒，療傷寒中風頭痛，解肌發表出汗，開腠理，療金瘡，止痛，脅風痛。生根汁，寒，治消渴，傷寒壯熱。花，主消酒。粉，味甘，大寒，主壓丹石，去煩熱，利大小便，止渴。小兒熱禿，以葛根浸、搗汁飲之，良。</p>
<p>東垣云：葛根甘平，溫，世人初病太陽證，便服葛根升麻湯，非也。</p>
<p>朱奉議云：頭痛如欲破者，連須蔥白湯飲之，又不已者，葛根蔥白湯。</p>
<p>易老云：用此以斷太陽入陽明之路，非即太陽藥也。故仲景治太陽、陽明合病，桂枝湯內加麻黃、葛根也。又有葛根、黃芩、黃連解肌湯，是知葛根非太陽藥，即陽明藥。</p>
<p>《食療》云：葛根蒸食之消毒，其粉亦甚妙。其粉以水調三合，能解鴆毒。</p>
<p>《衍義》云：治中熱酒渴病，多食行小便，亦能使人利。病酒及渴者，得之甚良。</p>
<p>易老又云：太陽初病未入陽明，頭痛者，不可便服葛根發之；若服之，是引賊破家也。若頭顱痛者，可服之。葛根湯，陽明自中風之仙藥也。</p>
<p>《本草》又云：殺野葛、巴豆百藥毒。</p>

<h3>威靈仙</h3>
<p>氣溫，味苦、甘，純陽。</p>
<p>《象》云：主諸風濕冷，通五臟，去腹內瘕滯，腰膝冷痛，及治傷損。鐵腳者佳。去蘆用。</p>
<p>《心》云：去大腸之風。</p>
<p>《本草》云：忌茗。</p>

<h3>細辛</h3>
<p>氣溫，味大辛，純陽。性溫，氣厚於味，陽也。無毒。</p>
<p>少陰經藥，手少陰引經之藥。</p>
<p>《象》云：治少陰頭痛如神，當少用之。獨活為使，為主用。去頭蘆並葉。華州者佳。</p>
<p>《珍》云：主少陰經頭痛。</p>
<p>《心》云：主諸項頭痛，諸風通用之。味辛熱，溫陰經，散水寒以去內寒。</p>
<p>《本草》云：主咳逆頭痛腦動，百節拘攣，風濕痹痛，死肌，溫中下氣，破痰，利水道，開胸中，除喉痹，齆鼻，風癇癲疾，下乳結，汗不出，血不行，安五臟，益肝膽，通精氣。久服明目，利九竅。</p>
<p>東垣云：治邪在裡之表，故仲景少陰證，用麻黃附子細辛湯也。</p>
<p>易老云：治少陰頭痛。太陽則羌活，少陰則細辛，陽明則白芷，厥陰則川芎、吳茱萸，少陽則柴胡。用者隨經不可差。細辛香味俱緩，故入少陰，與獨活頗相類。</p>
<p>《本草》又云：曾青、棗根為之使，得當歸、芍藥、白芷、川芎、牡丹、藁本、甘草，共療婦人。得決明、鯉魚膽汁、青羊肝，共療目痛。惡狼毒、山茱萸、黃耆，畏硝石、滑石，反藜蘆。</p>
<p>《衍義》云：治頭面風痛，不可缺也。</p>

<h3>白芷</h3>
<p>氣溫，味大辛，純陽。無毒。氣味俱輕，陽也。</p>
<p>陽明經引經藥，手陽明經本經藥。行足陽明經，於升麻湯四味內加之。</p>
<p>《象》云：治手陽明頭痛，中風寒熱，解利藥也。以四味升麻湯主之。</p>
<p>《珍》云：長肌肉，散陽明之風。</p>
<p>《心》云：治風通用，去肺經風熱。</p>
<p>《本草》云：主女子漏下赤白，血閉陰腫寒熱，風頭侵目淚出，長肌膚潤澤可作面脂，療風邪，久渴吐嘔，兩脅滿，風痛頭眩目癢。</p>
<p>《日華子》云：補胎漏滑落，破宿血，補新血。乳癰發背，一切瘡疥，排膿止痛生肌，去面皯疵瘢，明目。其氣芳香，治正陽陽明頭痛。與辛夷、細辛同用，治鼻病。內托，用此長肌肉，則陽明可知矣。又云：當歸為之使，惡旋覆花。</p>

<h3>川芎</h3>
<p>氣溫，味辛，純陽。無毒。</p>
<p>入手足厥陰經，少陽經本經藥。</p>
<p>《象》云：補血，治血虛頭痛之聖藥，妊婦胎不動數月，加當歸，二味各二錢，水二盞，煎至一半，服。神效。</p>
<p>《珍》云：散肝經之風，貫芎治少陽經苦頭痛。</p>
<p>《心》云：治少陽頭痛及治風通用。</p>
<p>《本草》云：主中風入腦頭痛，寒痹筋攣緩急，金瘡，婦人血閉無子，除腦中冷痛，面上遊風去來，目淚出，多涕唾，忽忽如醉，諸寒冷氣，心腹堅痛，中惡，卒急腫痛，脅風痛，溫中除內寒。</p>
<p>《日華子》云：能除鼻洪、吐血及溺血，破癥結宿血，養新血。</p>
<p>易老云：上行頭目，下行血海，故清神、四物湯所皆用也。入手足厥陰經。</p>
<p>《衍義》云：頭面風不可缺也，然須以他藥佐之，若單服久服，則走散真氣，即使他藥佐之，亦不可久服，中病即便已。</p>
<p>東垣云：頭痛甚者，加蔓荊子；頂與腦痛，加川芎；若頭痛者，加藁本；諸經若頭痛，加細辛。若有熱者，不能治。別有青空之劑，為緣諸經頭痛，須用四味。</p>
<p>《本草》又云：白芷為之使，畏黃連。</p>

<h3>麻黃</h3>
<p>氣溫，味苦，而甘辛，氣味俱薄，陽也，升也。甘熱，純陽。無毒。手太陰之劑，入足太陽經，走手少陰經，陽明經藥。</p>
<p>《象》云：發太陽、少陰經汗。去節，煮三二沸，去上沫。不則，令人心煩悶。</p>
<p>《心》云：陽明經藥，去表上之寒邪。甘熱，去節，解少陰寒，散表寒、發浮熱也。</p>
<p>《珍》云：去榮中寒。</p>
<p>《本草》云：主中風傷寒頭痛，溫瘧，發表出汗，去邪熱氣。止咳逆上氣，除寒熱，破症堅積聚。</p>
<p>《液》云：入足太陽、手少陰，能泄衛實發汗，及傷寒無汗，咳嗽。根、節能止汗。夫麻黃，治衛實之藥，桂枝，治衛虛之藥，桂枝、麻黃雖為太陽經藥，其實榮衛藥也。以其在太陽地分，故曰太陽也。本病者即榮衛，肺主衛，心主榮為血，乃肺、心所主，故麻黃為手太陰之劑，桂枝為手少陰之劑。故傷風、傷寒而嗽者，用麻黃、桂枝，即湯液之源也。</p>
<p>《藥性論》云：君。味甘平，治瘟疫。</p>
<p>《本草》又云：厚朴為之使，惡辛夷、石葦。</p>

<h3>藁本</h3>
<p>氣溫，味大辛、苦，微溫；氣厚味薄，陽也，升也，純陽。無毒。</p>
<p>太陽經本經藥。</p>
<p>《象》云：太陽經風藥，治寒邪結鬱於本經。治頭痛、腦痛；大寒犯腦，令人腦痛，齒亦痛。</p>
<p>《心》云：專治太陽頭痛，其氣雄壯。</p>
<p>《珍》云：治巔頂痛。</p>
<p>《本草》云：主婦人疝瘕，陰中寒腫痛，腹中急。除風頭痛，長肌膚，悅顏色，闢霧露，潤澤，療風邪嚲曳，金瘡，可作沐藥、面脂。實，主流風四肢。惡䕡茹。此與木香，同治霧露之氣；與白芷，同作面脂藥治療。</p>
<p>仲景云：清明以前，立秋以後，凡中霧露之氣，皆為傷寒。又云清邪中於上焦，皆霧露之氣，神術、白朮湯內加木香、藁本，擇其可而用之。此既治風，又治濕，亦各從其類也。</p>

<h3>桔梗</h3>
<p>氣微溫，味辛、苦，陽中之陽。味厚，氣輕，陽中之陰也。有小毒。</p>
<p>入足少陰經，入手太陰肺經藥。</p>
<p>《象》云：治咽喉痛，利肺氣。去蘆，米泔浸一宿，焙乾用。</p>
<p>《珍》云：陽中之陰，謂之「舟楫」，諸藥有此一味，不能下沉。治鼻塞。</p>
<p>《心》云：利咽嗌胸膈之氣。以其色白，故屬肺。辛、甘，微溫，治寒嘔，若咽中痛，桔梗能散之也。</p>
<p>《本草》云：主胸脅痛如刀刺，腹滿，腸鳴幽幽，驚恐悸氣。利五臟腸胃，補血氣，除寒熱風痹，溫中消穀，療咽喉痛，下蠱毒。</p>
<p>易老云：與國老並行，同為舟楫之劑。如將軍苦泄峻下之藥，欲引至胸中至高之分成功，非此辛甘不居，譬如鐵石入江，非舟楫不載，故用辛甘之劑以升之也。</p>
<p>《衍義》云：治肺熱氣奔促，咳逆，肺癰排膿。</p>
<p>《本草》又云：節皮為之使。得牡蠣、遠志，療恚怒；得硝石、石膏，療傷寒。畏白芨、龍眼、龍膽。</p>

<h3>鼠黏子</h3>
<p>氣平，味辛，辛溫。</p>
<p>《象》云：主風毒腫，利咽膈。吞一枚，可出癰疽瘡頭。</p>
<p>《珍》云：潤肺散氣。</p>

<h3>秦艽</h3>
<p>氣微溫，味苦、辛，陰中微陽。</p>
<p>手陽明經藥。</p>
<p>《象》云：主寒熱邪氣，風濕痹，下水，利小便。治黃病骨蒸。治口禁及腸風瀉血。去蘆用。</p>
<p>《珍》云：去手陽明經下牙痛，口瘡毒，去本經風濕。</p>
<p>《本草》云：菖蒲為之使。</p>

<h3>天麻</h3>
<p>氣平，味苦。無毒。</p>
<p>《象》云：治頭風。</p>
<p>《本草》云：主諸風濕痹，四肢拘攣，小兒風癇驚氣，利腰膝，強筋力。其苗名定風草。</p>

<h3>黑附子</h3>
<p>氣熱，味大辛，純陽。辛、甘，溫，大熱。有大毒。通行諸經引用藥。</p>
<p>入手少陽經三焦、命門之劑。</p>
<p>《象》云：性走而不守。亦能除腎中寒甚，白朮為佐，名朮附湯，除寒濕之聖藥也，濕藥中少加之，通行諸經引用藥也。治經閉。慢火炮。</p>
<p>《珍》云：治脾濕腎寒。</p>
<p>《本草》云：主風寒咳逆邪氣，溫中，金瘡，破症堅積聚，血瘕，寒濕踒躄拘攣，膝痛腳疼，冷弱不能行步，腰脊風寒，心腹冷痛，霍亂轉筋，下利赤白，堅肌骨，強陰，墮胎，為百藥之長。</p>
<p>《液》云：入手少陽三焦、命門之劑，浮中沉無所不至。附子味辛大熱，為陽中之陽，故行而不止，非若乾薑止而不行也。非身表涼而四肢厥者，不可僭用。如用之者，以其治四逆也。</p>
<p>《本草》又云：地膽為之使，惡蜈蚣，畏防風、黑豆、甘草、黃耆、人參。冬月採為附子，春月採為烏頭。</p>

<h3>烏頭</h3>
<p>氣熱，味大辛，辛、甘，大熱。有大毒。行諸經。</p>
<p>《象》云：治風痹血痹，半身不遂，行經藥也。慢火炮拆，去皮用。</p>
<p>《本草》云：主中風惡風，洗洗出汗，除寒濕痹，咳逆上氣，破積聚寒熱，消胸上痰冷，食不下，心腹冷疾，臍間痛，肩胛痛，不可俯仰，目中痛，不可久視，墮胎。其汁煎之，名射罔，殺禽獸。</p>
<p>《液》云：烏、附、天雄、側子之屬，皆水浸炮裂，去皮臍用之。多有外黃里白。劣性尚在，莫若乘熱切作片子，再炒，令表裡皆黃，內外一色，劣性皆去，卻為良也。世人罕如此制之。</p>

<h3>縮砂</h3>
<p>氣溫，味辛。無毒。</p>
<p>入手足太陰經、陽明經、太陽經、足少陰經。</p>
<p>《象》云：治脾胃氣結滯不散，主勞虛冷瀉，心腹痛，下氣，消食。</p>
<p>《本草》云：治虛勞冷瀉，宿食不消，赤白泄利，腹中虛痛，下氣。</p>
<p>《液》云：與白檀、豆蔻為使，則入肺；與人參、益智為使，則入脾；與黃柏、茯苓為使，則入腎；與赤、白石脂為使，則入大小腸。</p>

<h3>蓽澄茄</h3>
<p>氣溫，味辛。無毒。</p>
<p>《本草》云：主下氣消食，皮膚風，心腹間氣脹，令人能食。</p>

<h3>蓽撥</h3>
<p>氣溫，味辛。無毒。</p>
<p>《本草》云：主溫中下氣，補腰腳，殺腥氣，消食，除胃冷、陰疝、痃癖。</p>
<p>《衍義》云：走腸胃中冷氣，嘔吐，心腹滿痛，多服走泄真氣，令人腸虛下重。</p>

<h3>香附子</h3>
<p>氣微寒，味甘，陽中之陰。無毒。</p>
<p>《本草》云：除胸中熱，充皮毛，久服令人益氣、長鬚眉。後世人用治崩漏，本草不言治崩漏。</p>
<p>《圖經》云：膀胱、兩脅氣妨，常日憂愁不樂，飲食不多，皮膚瘙癢癮疹，日漸瘦損，心忪少氣。以是知益氣，血中之氣藥也。方中用治崩漏，是益氣而止血也。又能逐去凝血，是推陳也。與巴豆同治泄瀉不止，又能治大便不通，同意。</p>
<p>《珍》云：快氣。</p>

<h3>草豆蔻</h3>
<p>氣熱，味大辛，陽也。辛溫。無毒。</p>
<p>入足太陰經、陽明經。</p>
<p>《象》云：治風寒客邪在胃口之上，善去脾胃客寒，心與胃痛。麵包煨熟，去面用。</p>
<p>《珍》云：益脾胃，去寒。</p>
<p>《本草》云：主溫中，心腹痛，嘔吐，去口臭氣，下氣，脹滿短氣，消酒進食，止霍亂，治一切冷氣，調中補胃健脾，亦能消食。</p>
<p>《衍義》云：性溫，而調散冷氣力甚速。虛弱不能飲食，宜此與木瓜、烏梅、縮砂、益智、曲、糵、鹽、炒姜也。</p>

<h3>白豆蔻</h3>
<p>氣熱，味大辛，味薄氣厚，陽也。辛，大溫。無毒。</p>
<p>入手太陰經。</p>
<p>《珍》云：主積冷氣，散肺中滯氣，寬膈，止吐逆，治反胃，消穀下氣進食，去皮用。</p>
<p>《心》云：專入肺經，去白睛翳膜。紅者，不宜多用。</p>
<p>《本草》云：主積聚冷氣，止吐逆反胃，消穀下氣。</p>
<p>《液》云：入手太陰，別有清高之氣，上焦元氣不足，以此補之。</p>

<h3>延胡索</h3>
<p>氣溫，味辛。苦、辛，溫。無毒。</p>
<p>入手足太陰經。</p>
<p>《象》云：破血治氣，月水不調，小腹痛，暖腰膝，破癥瘕。碎用。</p>
<p>《液》云：治心氣痛、小腹痛，有神。主破血，產後諸疾，因血為病者。婦人月水不調，腹中結塊，崩漏淋露，暴血上行，因損下血。</p>

<h3>茴香</h3>
<p>氣平，味辛。無毒。</p>
<p>入手足少陰經，太陽經藥。《象》云：破一切臭氣，調中止嘔下食。炒黃色，碎用。</p>
<p>《本草》云：主諸瘻、霍亂及蛇傷。又能治腎勞，㿗疝氣，開胃下食。又治膀胱陰痛，腳氣，少腹痛不可忍。</p>
<p>《液》云：茴香本治膀胱藥，以其先丙，故云小腸也，能潤丙燥。以其先戊，故從丙至壬。又手足少陰二藥，以開上下經之通道，所以壬與丙交也。</p>

<h3>紅藍花</h3>
<p>氣溫，味辛。辛而甘溫苦，陰中之陽。無毒。</p>
<p>《象》云：治產後口噤血暈，腹內惡血不盡，絞痛。破留血，神效。搓碎用。</p>
<p>《心》云：和血，與當歸同用。</p>
<p>《珍》云：入心養血。謂苦為陰中之陽，故入心。</p>
<p>《本草》云：主產後血暈，胎死腹中，並酒煮服。亦主蠱毒下血。其苗，生搗敷遊腫。其子，吞數粒，主天行瘡子不出。其胭脂，主小兒聤耳，滴耳中。仲景治六十二種風，兼腹中血氣刺痛，用紅花一大兩，分為四分，酒一大升，煎強半，頓服之。</p>

<h3>良薑</h3>
<p>氣熱，味辛，純陽。</p>
<p>《本草》云：治胃中冷逆，霍亂腹痛，反胃嘔食，轉筋瀉痢。下氣，消宿食。</p>
<p>《心》云：健脾胃。</p>

<h3>黃耆</h3>
<p>氣溫，味甘，純陽。甘，微溫，性平。無毒。入手少陽經、足太陰經，足少陰、命門之劑。</p>
<p>《象》云：治虛勞自汗，補肺氣，入皮毛，瀉肺中火。如脈弦自汗，脾胃虛弱，瘡瘍血脈不行，內托，陰證瘡瘍必用之。去蘆用。</p>
<p>《珍》云：益胃氣，去肌熱，諸痛必用之。</p>
<p>《心》云：補五臟諸虛不足，而瀉陰火、去虛熱，無汗則發之，有汗則止之。</p>
<p>《本草》云：主癰疽久敗瘡，排膿止痛，大風癩疾，五痔鼠瘻，補虛；小兒百病，婦人子臟風邪氣，逐五臟間惡血，補丈夫虛損，五勞羸瘦，腹痛泄痢。益氣，利陰氣。</p>
<p>有白水耆、赤水耆、木耆，功用皆同。惟木耆莖短而理橫，折之如綿，皮黃褐色，肉中白色，謂之綿黃耆。其堅脆而味苦者，乃苜蓿根也。又云，破症癖，腸風血崩，帶下，赤白痢，及產前、後一切病，月候不調，消渴痰嗽。又治頭風熱毒，目赤，骨蒸。生蜀郡山谷、白水、漢中，今河東陝西州郡多有之。耆與桂同功，特味稍異，比桂但甘平，不辛熱耳。世人以苜蓿根代之，呼為土黃耆，但味苦，能令人瘦，特味甘者能令人肥也。頗能亂真，用者宜審。治氣虛盜汗並自汗，即皮表之藥；又治膚痛，則表藥可知；又治咯血，柔脾胃，是為中州藥也；又治傷寒、尺脈不至，又補腎臟元氣，為里藥。是上、中、下、內、外三焦之藥。</p>
<p>今《本草》、《圖經》只言河東者，沁州綿上是也，故謂之綿耆。味甘如蜜，兼體骨柔軟如綿，世以為如綿，非也。別說云，黃耆本出綿上為良，故《圖經》所繪者，憲水者也，與綿上相鄰，蓋以地產為「綿」。若以柔韌為「綿」，則偽者亦柔。但以乾脆甘苦為別耳。東垣云：黃耆、人參、甘草三味，退熱之聖藥也。《靈樞》曰：衛氣者，所以溫分肉而充皮膚，肥腠理而司開闔。黃耆既補三焦、實衛氣，與桂同，特益氣異耳。亦在佐使。桂則通血也，能破血而實衛氣，通內而實外者歟。桂以血言，一作色求，則耆為實氣也。惡鱉甲。</p>

<h3>蒼朮</h3>
<p>氣溫，味甘。</p>
<p>入足陽明、太陰經。</p>
<p>《象》云：主治同白朮，若除上濕、發汗，功最大；若補中焦、除濕，力小，如白朮也。《衍義》云：其長如大拇指，肥實，皮色褐，氣味辛烈，須米泔浸洗，再換泔浸二日，去上粗皮。</p>
<p>東垣云：入足陽明、太陰，能健胃安脾。</p>
<p>《本草》但言：術，不分蒼、白。其蒼朮別有雄壯之氣，以其經泔浸、火炒，故能出汗，與白朮止汗特異，用者不可以此代彼。</p>
<p>海藏云：蒼、白有止、發之異，其餘主治，並見《圖經》。</p>

<h3>白朮</h3>
<p>氣溫，味甘。苦而甘、溫，味厚氣薄，陰中陽也。無毒。</p>
<p>入手太陽、少陰經，足陽明、太陰、少陰、厥陰四經。</p>
<p>《象》云：除濕益燥，和中益氣，利腰臍間血，除胃中熱，去諸經之濕，理胃。</p>
<p>潔古云：溫中去濕，除熱，降胃氣，蒼朮亦同，但味頗厚耳。下行則用之，甘溫補陽，健脾逐水，寒淫所勝，緩脾生津去濕，渴者用之。</p>
<p>《本草》：在術條下，無蒼、白之名。近多用白朮治皮間風，止汗消痞，補胃和中，利腰臍間血。通水道，上而皮毛，中而心胃，下而腰臍。在氣主氣，在血主血。</p>
<p>潔古又云：非白朮不能去濕，非枳實不能消痞。除濕利水道，如何是益津液。</p>

<h3>當歸</h3>
<p>氣溫，味辛甘而大溫，氣味俱輕，陽也。甘辛，陽中微陰。無毒。</p>
<p>入手少陰經，足太陰經、厥陰經。</p>
<p>《象》云：和血補血，尾破血，身和血。先水洗去土，酒製過，或火干、日乾入藥，血病須用。去蘆用。</p>
<p>《心》云：治血通用。能除血刺痛，以甘故能和血，辛溫以潤內寒，當歸之苦以助心散寒。《珍》云：頭，止血；身，和血；梢，破血。治上，酒浸；治外，酒洗。糖色，嚼之大辛，可能潰堅。與菖蒲、海藻相反。《本草》云：主咳逆上氣，溫瘧，寒熱洗洗在皮膚中，婦人漏下絕子，諸惡瘡瘍金瘡，煮汁飲之。溫中止痛及腰痛，除客血內塞，中風痓，汗不出。濕痹中惡，客氣虛冷。補五臟，生肌肉。氣血昏亂，服之即定。有各歸氣血之功，故名當歸。</p>
<p>雷公云：得酒浸過，良。若要破血，即使頭節硬實處；若要止痛止血，即用尾。若一時用，不如不使。</p>
<p>易老云：用頭，則破血；用尾，則止血；若全用，則一破一止，則和血也。入手少陰，以其心主血也；入足太陰，以其脾裹血也；入足厥陰，以其肝藏血也。頭能破血，身能養血，尾能行血。用者不分，不如不使。若全用，在參、耆皆能補血；在牽牛、大黃皆能破血，佐使定分，用者當知。從桂、附、茱萸則熱；從大黃、芒硝則寒。諸經頭痛，俱在細辛條下。惟酒蒸當歸，又治頭痛，以其諸頭痛皆屬木，故以血藥主之。</p>
<p>《藥性論》云：臣。畏生薑，惡濕面。</p>
<p>《經》云：當歸主咳逆上氣。當歸血藥，如何治胸中氣。</p>
<p>《藥性論》云：補女子諸不足。此說盡當歸之用矣。</p>

<h3>芍藥</h3>
<p>氣微寒，味酸而苦。氣薄味厚，陰也，降也。陰中之陽。有小毒。</p>
<p>入手、足太陰經。</p>
<p>《象》云：補中焦之藥，得炙甘草為佐，治腹中痛。夏月腹痛少加黃芩，如惡寒腹痛，加肉桂一錢，白芍藥三錢，炙甘草一錢半，此仲景神方也。如冬月大寒腹痛，加桂二錢半，水二盞，煎一半。去皮用。</p>
<p>《心》云：脾經之藥，收陰氣，能除腹痛，酸以收之，扶陽而收陰氣，泄邪氣，扶陰。與生薑同用，溫經散濕通塞，利腹中痛，胃氣不通，肺燥氣熱。酸收甘緩，下利必用之藥。</p>
<p>《珍》云：白補、赤散，瀉肝、補脾胃。酒浸，行經，止中部腹痛。</p>
<p>《本草》云：主邪氣腹痛，除血痹，破堅積，寒熱疝瘕；止痛，利小便；益氣，通順血脈；緩中，散惡血，逐賊血；去水氣，利膀胱。</p>
<p>《衍義》云：芍藥，全用根，其品亦多。須用花紅而單葉者，山中者佳，花葉多則根虛。然其根多赤色，其味澀。有色白粗肥者，亦好，余如經。然血虛寒人禁此一物，古人有言：減芍藥以避中寒。誠不可忽。今見花赤者，為赤芍藥；花白者，為白芍藥。俗云白補而赤瀉。</p>
<p>東垣云：但澀者為上。或問：古今方論中多以澀為收，今《本經》有利小便一句者，何也？東垣云：芍藥能停諸濕而益津液，使小便自行，本非通行之藥，所當知之。又問：有緩中一句，何謂緩中？東垣云：損其肝者緩其中。又問當用何藥以治之？東垣云：當用四物湯，以其內有芍藥故也。赤者，利小便、下氣；白者，止痛、散氣血。入手、足太陰經。大抵酸澀者為上，為收斂停濕之劑，故主手、足太陰經。收降之體，故又能至血海而入於九地之下，後至厥陰經也。後人用赤瀉白補者，以其色在西方故補，色在南方故泄也。</p>
<p>《本草》云：能利小便。非能利之也，以其腎主大小二便，既用此以益陰滋濕，故小便得通也。</p>
<p>《難經》云：損其肝者緩其中。即調血也。沒藥、烏藥、雷丸為之使。</p>
<p>《本草》又云：惡石斛、芒硝。畏硝石、鱉甲、小薊。反藜蘆。</p>
<p>《液》云：腹中虛痛，脾經也，非芍藥不除。補津液停濕之劑。</p>

<h3>熟地黃</h3>
<p>氣寒，味苦，陰中之陽。甘，微苦，味厚氣薄，陰中陽也。無毒。</p>
<p>入手足少陰經，厥陰經。</p>
<p>《象》云：酒灑，蒸如烏金，假酒力則微溫，大補，血衰者須用之。善黑鬚發。忌蘿蔔。</p>
<p>《珍》云：若治外、治上，酒製。</p>
<p>《心》云：生則性大寒而涼血，熟則性寒而消腎。</p>
<p>《本草》云：主折跌、絕筋、傷中，逐血痹，填骨髓，長肌肉。作湯，除寒熱積聚，除痹；主男子五勞七傷，女子傷中、胞漏下血；破惡血，溺血。利大小腸，去胃中宿食，飽力斷絕，補五臟內傷不足；通血脈，益氣力，利耳目。生者，尤良。得清酒、麥門冬，尤良。</p>
<p>惡貝母。畏蕪荑。</p>
<p>東垣云：生地黃，治手足心熱，及心熱。入手足少陰、手足厥陰，能益腎水而治血，脈洪實者，宜此；若脈虛，則宜熟地黃。地黃假火力蒸九數，故能補腎中元氣。仲景制八味丸，以熟地黃為諸藥之首，天一所生之源也。湯液四物以治藏血之臟，亦以干熟地黃為君者，癸乙同歸一治也。蒸搗不可犯鐵，若犯鐵，令人消腎。</p>
<p>陳藏器云：蒸乾即溫補，生干即平宣。</p>
<p>《機要》云：熟地黃，臍下發痛者，腎經也，非地黃不能除。補腎益陰之劑，二宜丸加當歸為補髓。</p>

<h3>生地黃</h3>
<p>氣寒，味苦，陰中之陽。甘、苦，大寒。無毒。</p>
<p>入手太陽經、少陰經之劑。</p>
<p>《象》云：涼血補血，補腎水真陰不足。此藥大寒，宜斟酌用之，恐損胃氣。</p>
<p>《珍》云：生血涼血。</p>
<p>《本草》云：主婦人崩中血不止，及產後血上薄心悶絕，傷身胎動下血，胎不落，墮墜踠折，瘀血留血，衄鼻吐血，皆搗飲之。</p>
<p>《液》云：手少陰，又為手太陽之劑，故錢氏瀉丙與木通同用，以導赤也。諸經之血熱與他藥相隨，亦能治之，溺血便血亦治之，入四散例。</p>
<p>《心》云：苦甘，陰中微陽，酒浸上行、外行。生血，涼血去熱。惡貝母，畏蕪荑。</p>

<h3>山藥</h3>
<p>氣溫，味甘平。無毒。</p>
<p>手太陰經藥。</p>
<p>《本草》云：主補中益氣，除熱強陰。主頭面遊風，風頭眼眩。下氣，充五臟，長肌肉，久服耳目聰明，輕身耐老，延年不飢。手太陰藥，潤皮毛燥，涼而能補，與二門冬、紫芝為之使，惡甘遂。</p>
<p>東垣云：仲景八味丸用乾山藥，以其涼而能補也。亦治皮膚乾燥，以此物潤之。</p>

<h3>麻仁</h3>
<p>味甘、平。無毒。</p>
<p>入足太陰經，手陽明經。</p>
<p>《本草》云：主補中益氣，中風汗出，逐水，利小便，破積血，復血脈，乳婦產後余疾。長髮，可為沐藥。久服肥健不老。</p>
<p>《液》云：入足太陰、手陽明。汗多、冒熱、便難，三者皆燥濕而亡津液，故曰脾約。約者，約束之義，《內經》謂：燥者潤之，故仲景以麻仁潤足太陰之燥及通腸也。</p>

<h3>薏苡仁</h3>
<p>氣微寒，味甘。無毒。</p>
<p>《本草》云：主筋急拘攣，不可屈伸，風濕痹，下氣。除筋骨邪氣不仁，利腸胃，消水腫，令人能食，久服，輕身益氣。其根能下三蟲。仲景治風濕燥痛，日晡所劇者，與麻黃杏子薏苡仁湯。</p>

<h3>甘草</h3>
<p>氣平，味甘，陽也。無毒。</p>
<p>入足厥陰經、太陰經、少陰經。</p>
<p>《象》云：生用大瀉熱火，炙之則溫，能補上焦、中焦、下焦元氣，和諸藥，相協而不爭，性緩，善解諸急，故名國老。去皮用。甘草梢子生用為君，去莖中痛，或加苦楝、酒煮玄胡索為主，尤妙。</p>
<p>《心》云：熱藥用之緩其熱，寒藥用之緩其寒。經曰：甘以緩之。陽不足，補之以甘，中滿禁用。寒熱皆用，調和藥性，使不相悖，炙之散表寒，除邪熱，去咽痛，除熱，緩正氣，緩陰血，潤肌。</p>
<p>《珍》云：養血補胃，梢子去腎中之痛。胸中積熱，非梢子不能除。</p>
<p>《本草》云：主五臟六腑寒熱邪氣，堅筋骨，長肌肉，倍力。金瘡尰，解毒，溫中下氣。煩滿短氣，傷臟咳嗽。止渴，通經脈，利血氣，解百藥毒。為九土之精，安和七十二種石，一千二百種草，故名國老。</p>
<p>《藥性論》云：君。忌豬肉。</p>
<p>《內經》曰：脾欲緩，急食甘以緩之。甘以補脾，能緩之也，故湯液用此以建中。又曰：甘者令人中滿。又曰：中滿者勿食甘。即知非中滿藥也。甘入脾，歸其所喜攻也。</p>
<p>或問：附子理中、調胃承氣皆用甘草者，如何是調和之意？答曰：附子理中用甘草，恐其僭上也；調胃承氣用甘草，恐其速下也。二藥用之非和也，皆緩也。小柴胡有柴胡、黃芩之寒，人參、半夏之溫，其中用甘草者，則有調和之意。中不滿而用甘，為之補，中滿者用甘，為之泄，此升降浮沉也。鳳髓丹之甘，緩腎濕而生元氣，亦甘補之意也。經云：以甘補之，以甘瀉之，以甘緩之。《本草》謂：安和七十二種石、一千二百種草，名為國老，雖非君而為君所宗，所以能安和草、石而解諸毒也。於此可見調和之意。夫五味之用，苦直行而泄，辛橫行而散，酸束而收斂，咸止而軟堅，甘上行而發，如何《本草》言下氣？蓋甘之味，有升降浮沉，可上可下，可內可外，有和有緩，有補有瀉，居中之道盡矣。入足厥陰、太陰、少陰，能治肺痿之膿血而作吐劑，能消五發之瘡疽。每用水三碗，慢火熬至半碗，去渣服之。消瘡與黃耆同功，黃耆亦能消諸腫毒瘡疽。修治之法與甘草同。</p>
<p>《本草》又云：朮、乾漆、苦參為之使。惡遠志，反大戟、芫花、甘遂、海藻四物。</p>

<h3>白前</h3>
<p>氣微溫，味甘，微寒。無毒。</p>
<p>《本草》云：主胸脅逆氣，咳嗽上氣。狀似白薇、牛膝輩。</p>
<p>《衍義》云：白前保定肺氣，治嗽多用，白而長於細辛，但粗而脆，不似細辛之柔。若以溫藥相佐使則尤佳。仲景用。</p>

<h3>白薇</h3>
<p>氣大寒，味苦、咸，平。無毒。</p>
<p>《本草》云：主暴中風身熱，肢滿，忽忽不知人，狂惑邪氣，寒熱痠疼，溫瘧洗洗、發作有時。療傷中淋露，下水氣，利陰氣，益精。近道處處有之，狀似牛膝、白前而短小。療驚邪風狂痓病。</p>
<p>《液》云：局方中多有用之治婦人，以《本經》療傷中、下淋露故也。</p>
<p>《本草》又云：惡黃耆、大黃、大戟、乾薑、乾漆、山茱萸、大棗。</p>

<h3>前胡</h3>
<p>氣微寒，味苦。無毒。</p>
<p>《本草》云：主痰滿，胸脅中痞，心腹結氣，風頭痛。去痰實，下氣，治傷寒寒熱，推陳致新，明目益精。半夏為使。惡皂莢，畏藜蘆。</p>

<h1>卷之四</h1>

<h2>草部</h2>

<h3>木香</h3>
<p>氣熱，味辛、苦，純陽。味厚於氣，陰中陽也。無毒。</p>
<p>《象》云：除肺中滯氣，若治中、下焦氣結滯，須用檳榔為使。</p>
<p>《珍》云：治腹中氣不轉運，和胃氣。</p>
<p>《心》云：散滯氣，調諸氣。</p>
<p>《本草》云：治邪風，闢毒疫瘟鬼，強志，主淋露，療氣劣，肌中偏寒，主氣不足，消毒，瘟瘧蠱毒，行藥之精。</p>
<p>《本經》云：主氣劣、氣不足，補也；通壅氣、導一切氣，破也。安胎、健脾胃，補也；除痃癖塊，破也。與本條補破不同，何也？易老以為破氣之劑，不言補也。</p>

<h3>知母</h3>
<p>氣寒，味大辛。苦寒，味厚，陰也，降也。苦，陰中微陽。無毒。</p>
<p>入足陽明經，手太陰、腎經本藥。</p>
<p>《象》云：瀉足陽明經火熱，補益腎水膀胱之寒。去皮用。</p>
<p>《心》云：瀉腎中火，苦寒，涼心去熱。</p>
<p>《珍》云：涼腎，腎經本藥，上頸行經，皆須用酒炒。</p>
<p>《本草》云：主消渴熱中，除邪氣，肢體浮腫，下水，補不足，益氣，療傷寒，久瘧煩熱，脅下邪氣，膈中惡，及風汗內疸。多服，令人泄。</p>
<p>東垣云：入足陽明、手太陰，味苦，寒潤。治有汗骨蒸，腎經氣勞，瀉心。仲景用此為白虎湯，治不得眠者，煩躁也。煩者，肺也；躁者，腎也。以石膏為君主，佐以知母之苦寒，以清腎之源。緩以甘草、粳米之甘，而使不速下也。經云：胸中有寒者，瓜蒂散吐之。又云：表熱裡寒者，白虎湯主之。瓜蒂、知母味皆苦寒，而治胸中寒及裡寒，何也？答曰：成無己注云：即傷寒寒邪之毒為熱病也。讀者要逆識之，如《論語》言：亂臣十人，書言唯以亂民，其能而亂四方。亂，皆治也，乃治亂者也，故云亂民，亂四方也。仲景所言「寒」之一字，舉其初而言之，熱病在其中矣。若以「寒」為寒冷之寒，無復用苦寒之劑。兼言白虎證「脈尺寸俱長」，則熱可知矣。</p>

<h3>貝母</h3>
<p>氣平，微寒，味辛、苦。無毒。</p>
<p>《本草》云：主傷寒煩熱，淋瀝、邪氣，疝瘕、喉痹，乳難，金瘡，風痙。療腹中結實，心下滿，洗洗惡風寒，目眩項直，咳嗽上氣。止煩渴，出汗，安五臟，利骨髓。</p>
<p>仲景：寒實結胸，外無熱證者，三物小陷胸湯主之，白散亦可。以其內有貝母也。別說，貝母能散胸中鬱結之氣，殊有功。</p>
<p>《本草》又云：厚朴、白薇為之使，惡桃花，畏秦艽、礜石、莽草，反烏頭。</p>
<p>海藏祖方，下乳三母散：牡蠣、知母、貝母三物為細末，豬蹄湯調下。</p>

<h3>黃芩</h3>
<p>氣寒，味微苦，苦而甘。微寒，味薄氣厚，陽中陰也。陰中微陽，大寒。無毒。</p>
<p>入手太陰經之劑。</p>
<p>《象》云：治肺中濕熱，療上熱，目中赤腫，瘀肉壅盛，必用之藥。泄肺受火邪上逆於膈上。補膀胱之寒不足，乃滋其化源也。</p>
<p>《心》云：瀉肺中之火。</p>
<p>潔古云：利胸中氣，消膈上痰。性苦寒，下痢膿血稠黏，腹疼後重，身熱，久不可者。與芍藥、甘草同用。</p>
<p>《珍》云：除陽有餘，涼心去熱，通寒格。陰中微陽，酒炒上行，主上部積血，非此不能除。肺苦氣上逆，急食苦以泄之。</p>
<p>《本草》云：主諸熱黃疸，腸澼泄痢，逐水，下血閉，惡瘡疽蝕，火傷，療痰熱，胃中熱，小腹絞痛。消穀，利小腸，女子血閉，淋露下血，小兒腹痛。</p>
<p>東垣云：味苦而薄，中枯而飄，故能瀉肺火而解肌熱，手太陰劑也。細實而中不空者，治下部妙。</p>
<p>陶隱居云：色深堅實者好。又治奔豚、臍下熱痛。飄與實，高下之分，與枳實、枳殼同例。黃芩，其子主腸澼膿血。</p>
<p>《本草》又云：得厚朴、黃連，治腹痛；得五味子、牡蒙、牡蠣，令人有子；得黃耆、白蘞、赤小豆，療鼠瘻。山茱萸、龍骨為之使。惡蔥實。畏丹砂、牡丹、黎蘆。張仲景治傷寒心下痞滿，瀉心湯四方皆用黃芩，以其去諸熱、利小腸故也。又，太陽病下之，利不止，有葛根黃芩黃連湯。亦主妊娠，安胎散內多用黃芩，今醫家常用有效者，因著之。《千金方》：巴郡太守奏加減三黃丸，療男子五勞七傷、消渴、不生肌肉，婦人帶下、手足寒熱者。久服之，得行及奔馬。甚驗。</p>
<p>陶隱居云：黃芩，圓者名子芩，仲景治雜病方多用之。</p>

<h3>黃連</h3>
<p>氣寒，味苦。味厚氣薄，陰中陽也，升也。無毒。</p>
<p>入手少陰經。《象》云：瀉心火，除脾胃中濕熱，治煩躁噁心，鬱熱在中焦，兀兀欲吐，心下痞滿必用藥也。仲景治九種心下痞，五等瀉心湯皆用之。去須用。《心》云：瀉心經之火，眼暴赤腫，及諸瘡，須用之。苦寒者主陽有餘，苦以除之。安蛔，通寒格，療下焦虛，堅腎。</p>
<p>《珍》云：酒炒上行，酒浸行上頭。</p>
<p>《本草》云：主熱氣，目痛眥傷泣出，明目。腸澼腹痛下痢，婦人陰中腫痛。五臟冷熱，久下泄澼膿血，止消渴大驚，除水利骨，調胃厚腸，益膽，療口瘡。久服令人不忘。</p>
<p>《液》云：入手少陰，苦燥，故入心，火就燥也。然瀉心其實瀉脾也，為子能令母實，實則瀉其子。治血，防風為上使，黃連為中使，地榆為下使。</p>
<p>海藏祖方，令終身不發斑瘡，煎黃連一口，兒生未出聲時，灌之，大應。已出聲灌之，斑雖發，亦輕。古方以黃連為治痢之最。</p>
<p>《衍義》云：治痢有微血，不可執以黃連。為苦燥劑，虛者多致危困，實者宜用之。</p>
<p>《本草》又云：龍骨、理石、黃芩為之使，惡菊花、芫花、玄參、白蘚皮。畏款冬花。勝烏頭，解巴豆毒。</p>

<h3>大黃</h3>
<p>氣寒。味苦，大寒。味極厚，陰也，降也。無毒。</p>
<p>入手足陽明經。酒浸，入太陽經；酒洗，入陽明經。余經不用酒。</p>
<p>《象》云：性走而不守，瀉諸實熱不通，下大便，滌盪腸胃間熱，專治不大便。</p>
<p>《心》云：滌盪實熱。</p>
<p>《珍》云：熱淫於內，以苦泄之。酒浸入太陽經，酒洗入陽明經，余經不用酒。</p>
<p>《本草》云：主下瘀血，血閉寒熱，破癥瘕積聚，留飲宿食，盪滌腸胃，推陳致新，通利水穀，調中化食，安和五臟。平胃下氣，除痰實，腸間結熱，心腹脹滿，女子寒血閉，脹，小腹痛，諸老血留結。</p>
<p>《液》云：味苦、寒，陰中之陰藥。泄漏，推陳致新，去陳垢而安五臟，謂如戡定禍亂以致太平無異，所以有將軍之名。入手足陽明，以酒引之，上至高巔；以舟楫載之，胸中可浮；以苦泄之，性峻至於下。以酒將之，可行至高之分，若物在巔，人跡不及，必射以取之也。故太陽陽明、正陽陽明承氣湯中俱用酒浸，惟少陽陽明為下經，故小承氣湯中不用酒浸也。雜方有生用者，有面裹蒸熟者，其制不等。</p>
<p>《衍義》云：損益前書已具。仲景治心氣不足，吐血衄血，瀉心湯用大黃、黃芩、黃連。或曰：心氣既不足矣，而不用補心湯，更用瀉心湯，何也？答曰：若心氣獨不足，則須當不吐衄也，此乃邪熱因心氣不足而客之，故令吐衄。以苦泄其熱，就以苦補其心，蓋一舉而兩得之。有是證者，用之無不效，惟在量其虛實而已。</p>
<p>《本草》又云：惡乾漆。</p>

<h3>連翹</h3>
<p>氣平，味苦。苦，微寒，氣味俱輕，陰中陽也，無毒。</p>
<p>手足少陽經、陽明經藥。</p>
<p>《象》云：治寒熱瘰癧，諸惡瘡腫，除心中客熱，去胃蟲，通五淋。</p>
<p>《心》云：瀉心經客熱，諸家須用，瘡家聖藥也。</p>
<p>《珍》云：諸經客熱，非此不能除。</p>
<p>《本草》云：主寒熱鼠瘻，瘰癧，癰腫癭瘤，結熱蠱毒，去寸白蟲。</p>
<p>《液》云：手、足少陽。治瘡、瘍、瘤、氣癭起、結核，有神。與柴胡同功，但分氣血之異耳。與鼠黏子同用，治瘡瘍別有神功。</p>

<h3>連軺</h3>
<p>氣寒，味苦。</p>
<p>《本經》不見所注，但仲景古方所注云，即連翹之根也。方言熬者，即今之炒也。</p>

<h3>人參</h3>
<p>氣溫，味甘。甘而微苦，微寒，氣味俱輕，陽也。陽中微陰，無毒。</p>
<p>《象》云：治脾肺陽氣不足，及能補肺。氣促，短氣、少氣。補而緩中，瀉脾肺胃中火邪，善治短氣。非升麻為引用，不能補上升之氣，升麻一分、人參三分，為相得也。若補下焦元氣，瀉腎中火邪，茯苓為之使。</p>
<p>《心》云：補氣不足而瀉肺火，甘溫而補陽利氣。脈不足者，是亡血也，人參補之。益脾，與乾薑同用，補氣，裡虛則腹痛，此藥補之，是補不足也。</p>
<p>《珍》云：補胃，喘嗽勿用，短氣用之。</p>
<p>《本草》云：主補五臟，安精神，定魂魄，止驚悸，除邪氣，明目，開心益智。療腸胃中冷，心腹鼓痛，胸脅逆滿，霍亂吐逆，調中，止消渴，通血脈，破堅積，令人不忘。</p>
<p>《液》云：味既甘溫，調中益氣，即補肺之陽、瀉肺之陰也。若便言補肺，而不論陰陽寒熱何氣不足，則誤矣。若肺受寒邪，宜此補之；肺受火邪，不宜用也。肺為天之地，即手太陰也，為清肅之臟，貴涼而不貴熱，其象可知。若傷熱則宜沙參。沙參味苦、甘微寒，無毒，主血積驚氣，除寒熱，補中、益肺氣，療胃痹、心腹痛，結熱邪氣，頭痛，皮間邪熱。安五臟，補中。人參補五臟之陽也，沙參苦，微寒，補五臟之陰也。安得不異。</p>
<p>易老云：用沙參代人參，取其味甘可也。</p>
<p>葛洪云：沙參，主卒得諸疝，小腹及陰中相引，痛如絞，自汗出，欲死。細末。酒調服方寸匕，立瘥。</p>
<p>《日華子》云：治惡瘡疥癬及身癢，排膿，消腫毒。</p>
<p>海藏云：今易老取沙參代人參，取其甘也。若微苦則補陰，甘者則補陽，雖云補五臟，亦須各用本臟藥相佐使，隨所引而相輔一臟也，不可不知。</p>

<h3>沙參</h3>
<p>味苦、甘，微寒。無毒。</p>
<p>治證附前人參條下。</p>

<h3>半夏</h3>
<p>氣微寒，味辛、平。苦而辛，辛厚苦輕，陽中陰也。生微寒，熟溫。有毒。</p>
<p>入足陽明經、太陰經、少陽經。</p>
<p>《象》云：治寒痰，及形寒飲冷傷肺而咳。大和胃氣，除胃寒，進食。治太陰痰厥頭痛，非此不能除。</p>
<p>《心》云：能勝脾胃之濕，所以化痰。渴者禁用。</p>
<p>《珍》云：消胸中痞，去膈上痰。</p>
<p>《本草》云：主傷寒寒熱，心下堅，下氣，咽喉腫痛，頭眩，胸脹，咳逆腸鳴。止汗。消心腹、胸膈痰熱滿結，咳嗽上氣，心下急痛堅痞，時氣嘔逆，消癰腫，墮胎，療痿黃，悅澤面目。生，令人吐；熟，令人下。用之湯洗去滑令盡。用生薑等分制用，能消痰涎，開胃健脾。射干為之使。惡皂莢。畏雄黃、生薑、乾薑、秦皮、龜甲。反烏頭。</p>
<p>《藥性論》云：半夏使。忌羊血、海藻、飴糖。柴胡為之使。俗用為肺藥，非也。止吐，為足陽明；除痰，為足太陰。小柴胡中雖為止嘔，亦助柴胡能止惡寒，是又為足少陽也；又助黃芩能去熱，是又為足陽明也。往來寒熱在表裡之中，故用此有各半之意。本以治傷寒之寒熱，所以名半夏。經云：腎主五液，化為五濕，自入為唾，入肝為泣，入心為汗，入脾為痰，入肺為涕。有涎曰嗽，無涎曰咳，痰者因咳而動脾之濕也。半夏能泄痰之標，不能泄痰之本，泄本者，泄腎也。咳無形，痰有形，無形則潤，有形則燥，所以為流濕潤燥也。</p>

<h3>五味子</h3>
<p>氣溫，味酸，陰中陽。酸而微苦，味厚氣輕，陰中微陽。無毒。</p>
<p>入手太陰經，入足少陰經。</p>
<p>《象》云：大益五臟。</p>
<p>孫真人云：五月常服五味子，以補五臟氣，遇夏月季夏之間，困乏無力，無氣以動，與黃耆、人參、麥門冬，少加黃柏，煎湯服，使人精神頓加，兩足筋力湧出。生用。</p>
<p>《珍》云：治咳嗽。</p>
<p>《心》云：收肺氣，補氣不足，升也。酸以收逆氣，肺寒氣逆，則以此藥與乾薑同用治之。</p>
<p>《本草》云：主咳逆上氣，勞傷羸瘦，補不足，益氣強陰益精，養五臟，除熱。</p>
<p>《日華子》云：明目，暖水臟，治風，下氣消食。霍亂轉筋，痃癖，奔豚冷氣。消水腫，反胃，心腹氣脹。止渴，除煩熱，解酒毒，壯筋骨。五味皮甘肉酸，核中辛苦，都有鹹味，故名五味子。仲景八味丸用此為腎氣丸，述類象形也。</p>
<p>孫真人云：六月常服五味子，以益肺金之氣，在上則滋源，在下則補腎，故入手太陰、足少陰也。</p>

<h3>甘遂</h3>
<p>氣大寒，味苦、甘。甘，純陽。有毒。</p>
<p>《本草》云：主大腹疝瘕，腹滿，面目浮腫，留飲宿食。破堅消積，利水穀道。下五水，散膀胱留熱，皮中痞熱，氣腫滿。瓜蒂為使。惡遠志，反甘草。</p>
<p>《液》云：可以通水，而其氣直透達所結處。</p>
<p>《衍義》云：此藥專於行水，攻決為用，入藥須斟酌用之。</p>
<p>《珍》云：若水結胸中，非此不能除。</p>

<h3>大戟</h3>
<p>氣大寒，味苦、甘，陰中微陽。有小毒。</p>
<p>《本草》云：治蠱毒，十二水，腹滿急痛，積聚，中風，皮膚疼痛，吐逆，頸腋癰腫，頭疼，發汗，利大小腸。此澤漆根也。</p>
<p>《液》云：與甘遂同為泄水之藥，濕勝者苦燥除之。反甘草。與芫花、黃藥子等分，水糊為丸，桐子大，每服十丸，傷風、傷寒，蔥白湯下；傷食，陳皮湯下。或十五丸，微加至止，亦可。芫花別有條，海藏，十棗湯同用。</p>
<p>《珍》云：瀉肺，損真氣。</p>

<h3>蕘花</h3>
<p>氣微寒，味苦、辛。有毒。</p>
<p>《本草》云：主傷寒溫瘧，下十二水，破積聚大堅癥瘕，盪滌腸胃中留癖，飲食寒熱邪氣。利水道，療痰飲咳嗽。</p>
<p>《衍義》云：仲景以蕘花治利者，以其行水也，水去則利止，其意如此。用時斟酌，不可太過與不及也。仍察其須有是證，方可用之。仲景小青龍湯：若微利，去麻黃，加蕘花，如雞子，熬令赤色用之。蓋利水也。</p>

<h3>海藻</h3>
<p>氣寒，味鹹。</p>
<p>《本草》云：主癭瘤氣，頸下核，破散結氣，癰腫癥瘕堅氣，腹中上下鳴，下十二水腫。療皮間積聚，暴㿉，留氣熱結，利小便。</p>
<p>《珍》云：洗，去咸。泄水氣。</p>

<h3>商陸根</h3>
<p>氣平，味辛、酸。有毒。</p>
<p>《本草》云：主水脹，疝、瘕、痹，熨除癰腫，殺鬼精物。治胸中邪氣、水腫、痿痹、腹滿洪，直疏五臟，散水氣。如人形者有神。</p>
<p>《珍》云：辛酸同用，導腫氣。</p>

<h3>旋覆花</h3>
<p>氣溫，味鹹、甘。冷利，有小毒。</p>
<p>《本草》云：主補中下氣，消堅軟痞，消胸中痰結，吐如膠漆。臍下膀胱留飲。利大腸，通血脈。發汗吐下後，心下痞，噫氣不除者，宜此。</p>
<p>仲景治傷寒汗下後，心下痞堅，噫氣不除，旋覆代赭湯。</p>
<p>胡洽治痰飲，兩脅脹滿，旋覆花丸，用之尤佳。</p>

<h3>澤瀉</h3>
<p>氣平，味甘。甘、咸、寒，味厚，陰也，降也，陰中微陽。</p>
<p>入足太陽經、少陰經。</p>
<p>《象》云：除濕之聖藥。治小便淋瀝，去陰間汗。無此疾，服之令人目盲。</p>
<p>《心》云：去舊水，養新水。寒水氣，須用。</p>
<p>《珍》云：滲瀉止渴。</p>
<p>《本草》云：治風寒濕痹，乳難，消水，養五臟，益氣力，肥健。補虛損五勞，除五臟痞滿，起陰氣，止泄精，消渴淋瀝，逐膀胱三焦停水。</p>
<p>扁鵲云：多服病人眼。</p>
<p>《衍義》云：其功尤長於行水。</p>
<p>仲景云：水畜煩渴，小便不利，或吐或瀉，五苓散主之。方用澤瀉，故知其用長於行水。《本經》又引扁鵲云：多服病人眼。誠為行去其水故也。仲景八味丸用之者，亦不過接引桂、附等歸就腎經，別無他意。凡服澤瀉散人，未有不小便多者，小便既多，腎氣焉得復實。今人止泄精，多不敢用。</p>
<p>《本經》云：久服明目；扁鵲謂：多服昏目，何也？易老云：去胞中留垢，以其味鹹能泄伏水，故去留垢，即胞中陳積物也。入足太陽、少陰，仲景治太陽中風入里，渴者，五苓散主之。</p>

<h3>紅豆蔻</h3>
<p>氣溫，味辛。無毒。</p>
<p>《本草》云：主腸虛水瀉，心腹絞痛，霍亂，嘔吐酸水。解酒毒。不宜多服，令人舌粗不能飲食。</p>
<p>《液》云：是高良薑子，用紅豆蔻復用良薑，如用官桂復用桂花同意。</p>

<h3>肉豆蔻</h3>
<p>氣溫，味辛。無毒。</p>
<p>入手陽明經。</p>
<p>《本草》云：主鬼氣，溫中，治積冷心腹脹痛，霍亂，中惡冷疰，嘔沫，冷氣，消食止泄，小兒傷乳霍亂。</p>

<h3>甘松</h3>
<p>氣平，味甘溫。無毒。</p>
<p>《本草》云：主惡氣，卒心腹痛滿。治黑皮䵟𪒟，風疳齒䘌。</p>

<h3>蜀漆</h3>
<p>氣微溫，味辛，純陽。辛平，有毒。</p>
<p>《珍》云：破血。</p>
<p>《心》云：洗去腥，與苦酸同用，導膽。</p>
<p>《本草》云：主瘧及咳逆、寒熱，腹中症堅、痞結、積聚，邪氣、蠱毒、鬼疰，療胸中邪結氣，能吐出之。</p>
<p>成無己注云：火邪錯逆，加蜀漆之辛以散之。</p>

<h3>蒲黃</h3>
<p>氣平，味甘。無毒。</p>
<p>《本草》云：主心腹膀胱寒熱，利小便，止血，消瘀血。又云：治一切吐、衄、唾、溺、崩、瀉、撲、症、帶下等血，並皆治之。並瘡癤，通月候，墮胎，兒枕急痛，風腫鼻洪，下乳，止泄精血利。如破血消腫則生用，補血止血則炒用。</p>

<h3>天門冬</h3>
<p>氣寒，味微苦。苦而辛，氣薄味厚，陰也。甘平，大寒。無毒，陽中之陰。</p>
<p>入手太陰經，足少陰經。</p>
<p>《象》云：保肺氣，治血熱侵肺，上喘氣促。加人參、黃耆為主，用之，神效。</p>
<p>《心》云：苦以泄滯血，甘以助元氣，及治血妄行，此天門冬之功也。</p>
<p>《本草》云：主諸暴風濕偏痹，強骨髓，殺三蟲，去伏屍。保定肺氣，去寒熱，養肌膚，益氣力，利小便，冷而能補。久服延年，多子孫，能行步，益氣。入手太陰、足少陰經，榮衛枯涸，濕劑所以潤之，二門冬、人參、北五味子、枸杞子，同為生脈之劑。此上焦獨取寸口之意。</p>
<p>《日華子》云：貝母為使。鎮心，潤五臟，益皮膚，悅顏色。補五勞七傷，治肺氣、並嗽，消痰，及風痹、熱毒、遊風、煩悶、吐血。去心用。</p>

<h3>麥門冬</h3>
<p>氣寒，味微苦甘。微寒，陽中微陰也。無毒。</p>
<p>入手太陰經。</p>
<p>《象》云：治肺中伏火，脈氣欲絕。加五味子、人參。三味為生脈之劑，補肺中元氣不足。</p>
<p>《珍》云：行經，酒浸、湯浸。去心，治經枯。</p>
<p>《心》云：補心氣不足，及治血妄行，補心不足。</p>
<p>《本草》云：主心腹結氣，傷中傷飽，胃絡脈絕，羸瘦短氣。身重目黃，心下支滿，虛勞客熱，口乾燥渴，止嘔吐，愈痿蹶，強陰益精，消穀調中，保神，定肺氣，安五臟，令人肥健，美顏色，有子。地黃、車前子為之使，惡款冬花、苦瓠。畏苦參、青蘘。入手太陰。</p>
<p>《衍義》云：治肺熱之功為多，其味苦，但專泄而不專收，寒多人禁服。治心肺虛熱及虛勞。麥門冬、地黃、麻仁、阿膠，潤經益血，復脈通心。二門冬、五味子、枸杞子，同為生脈之劑。</p>

<h3>葳蕤</h3>
<p>氣平，味甘。無毒。</p>
<p>《本草》云：主中風暴熱，不能動搖，跌筋結肉，諸不足。心腹結氣，虛熱濕毒，腰痛，莖中寒，及目痛、眥爛、淚出。久服，去面黑䵟。</p>
<p>《心》云：潤肺除熱。</p>

<h3>茵陳蒿</h3>
<p>氣微寒，味苦、平，陰中微陽。無毒。</p>
<p>入足太陽經。</p>
<p>《象》云：除煩熱，主風濕熱邪結於內。去枝、梗，用葉。</p>
<p>《本草》云：主風濕寒熱，邪氣熱結，黃疸，通身發黃，小便不利，除頭熱，去伏瘕。入足太陽。</p>
<p>仲景茵陳梔子大黃湯，治濕熱也。梔子柏皮湯，治燥熱也。如苗澇則濕黃，苗旱則燥黃，濕則瀉之，燥則潤之可也。此二藥治陽黃也。韓祗和、李思訓治陰黃，茵陳附子湯，大抵以茵陳為君主，佐以大黃、附子，各隨其寒熱。</p>
<p>《珍》云：治傷寒發黃。</p>

<h3>艾葉</h3>
<p>氣溫，味苦，陰中之陽。無毒。</p>
<p>《本草》云：止下痢吐血，下部䘌瘡，闢風寒，令人有子。灸百病。重午日，日未出時，不語採。</p>
<p>《心》云：溫胃。</p>

<h3>白頭翁</h3>
<p>氣寒，味辛、苦，無毒。有毒。</p>
<p>《本草》云：主溫瘧狂易（音羊）、寒熱，癥瘕，積聚，癭氣，逐血止痛，療金瘡鼻衄。</p>
<p>《心》云：下焦腎虛，純苦以堅之。一名野丈人，一名胡王使者。</p>

<h3>百合</h3>
<p>氣平，味甘。無毒。</p>
<p>《本草》云：主邪氣腹脹心痛，利大小便，補中益氣，除浮腫臚脹，痞滿寒熱，遍身疼痛，及乳難喉痹，止涕淚。</p>
<p>仲景治百合病，百合知母湯、百合滑石代赭石湯，有百合雞子湯、百合地黃湯。或百合病已經汗者，或未經汗下吐者，或病形如初，或病變寒熱。並見《活人書》，治傷寒腹中疼，百合一兩，炒黃為末。米飲調服。</p>
<p>孫真人云：治百合陰毒，煮百合濃汁，服一升。</p>

<h3>蓯蓉</h3>
<p>氣溫，味甘、咸、酸。無毒。《本草》云：主五勞七傷，補中，除莖中寒熱痛，養五臟，強陰，益精氣，多子，婦人癥瘕，除膀胱邪氣，腰痛，止痢。久服輕身。</p>
<p>《液》云：命門相火不足，以此補之。</p>

<h3>玄參</h3>
<p>氣微寒，味苦、咸。無毒。</p>
<p>《象》云：足少陰腎經之君藥也，治本經須用。</p>
<p>《本草》云：主腹中寒熱積聚，女子產乳余疾，補腎氣，令人目明。主暴中風傷寒，身熱支滿，狂邪，忽忽不知人，溫瘧洒洒，血瘕，下寒血，除胸中氣，下水，止煩渴。</p>
<p>易老云：玄參乃樞機之劑，管領諸氣，上下肅清而不濁，風藥中多用之。故《活人書》治傷寒陽毒，玄參升麻湯，治汗下吐後毒不散，則知為肅清樞機之劑。以此論之，治空中氤氳之氣，無根之火，以玄參為聖藥。</p>

<h3>款冬花</h3>
<p>氣溫，味甘、辛，純陽。無毒。</p>
<p>《珍》云：溫肺止嗽。</p>
<p>《本草》云：主咳逆上氣，善喘，喉痹，諸驚癇寒熱邪氣，消渴，喘息呼吸。杏仁為之使，得紫菀，良。惡皂莢、硝石、玄參。畏貝母、辛夷、麻黃、黃耆、黃芩、黃連、青葙。</p>
<p>《藥性論》云：君。主療肺氣，心促急，熱乏，勞咳，連連不絕，涕唾稠黏，肺痿，肺癰吐膿。</p>
<p>《日華子》云：潤心肺，益五臟，除煩，補勞劣，消痰止嗽。肺痿吐血，心虛驚悸。</p>
<p>《衍義》云：有人病嗽多日，或教以燃款冬花三兩枚，於無風處，以筆管吸其煙，滿口則咽之，數日效。</p>
<p>《時習》云：仲景射干湯用之。</p>

<h3>紫參</h3>
<p>氣微寒，味苦、辛。無毒。</p>
<p>《本草》云：主心腹積聚，寒熱邪氣，通九竅，利大小便。療腸胃大熱，唾血衄血，腸中聚血，癰腫諸瘡，止渴益精。</p>
<p>仲景治痢，紫參湯主之。紫參半斤，甘草三兩，水五升，煎紫參取二升。卻內甘草，煎取半升，分溫三服。</p>

<h3>苦參</h3>
<p>氣寒，味苦，氣沉，純陰。</p>
<p>《心》云：除濕。</p>
<p>《本草》云：主心腹結氣，癥瘕積聚，黃疸，溺有餘瀝，逐水除癰腫，補中，明目止淚。養肝膽氣，安五臟，定志益精，利九竅，除伏熱腸澼，止渴醒酒，小便黃赤，療惡瘡，下部䘌，平胃氣，令人嗜食輕身。</p>
<p>《衍義》云：有人病遍身風熱細疹，癢痛不可任，連胸頸臍腹近陰處皆然，涎痰亦多，夜不得睡。以苦參末一兩，皂角二兩，水一升，揉濾取汁，銀、石器熬成膏，和苦參末為丸，如梧桐子大，食後溫水下二十丸至三十丸。次日便愈。</p>
<p>《時習》云：苦參揩齒，久能病腰。</p>

<h3>蘆根</h3>
<p>氣寒，味甘。</p>
<p>《本草》云：主消渴客熱，止小便。《金匱玉函》治五噎膈氣煩悶，吐逆不下食，蘆根五兩，銼，水三盞，煮一盞，去渣，服無時。</p>

<h3>射干</h3>
<p><u>又名烏扇</u></p>
<p>氣平，味苦，微溫，有毒。</p>
<p>《本草》云：主咳逆上氣，喉閉咽痛，不得消息，散結氣，腹中邪逆，食飲大熱。療老血在心脾間，咳唾，言語氣臭，散胸中熱氣。</p>
<p>《衍義》云：治肺氣喉痹為佳。</p>
<p>仲景治咽中動氣或閉塞，烏扇湯中用。</p>
<p>《時習》云：仲景射干湯用之。</p>
<p>《心》云：去胃癰。</p>

<h3>敗醬</h3>
<p>氣微寒平，味苦、咸。無毒。</p>
<p>入足少陰經，手厥陰經。</p>
<p>《本草》云：主暴熱火瘡，赤氣，疥瘙疽痔，馬鞍熱氣。除癰腫，浮腫，結熱，風痹不足，產後疾痛。</p>
<p>仲景治腸癰有膿者，薏苡仁附子敗醬湯。薏苡仁二十分，附子二分，敗醬五分。三物為末。取方寸匕，以水二升，煎取一升，頓服之，小便當下，愈。</p>

<h3>敗蒲</h3>
<p>氣平。</p>
<p>《本草》云：主筋溢惡瘡。</p>
<p>《藥性論》云：亦可單用，主破血。取蒲黃、赤芍藥、當歸、大黃、朴硝同服，治跌撲瘀血。陳藏器云：《聖惠方》治霍亂。</p>

<h3>葦葉</h3>
<p>《液》云：同蘆，差大耳。</p>

<h3>防己</h3>
<p>氣寒，味大苦、辛。苦，陰也，平。無毒。</p>
<p>通行十二經。</p>
<p>《象》云：治腰以下至足濕熱腫盛腳氣，補膀胱，去留熱，通行十二經。去皮用。</p>
<p>《本草》云：主風寒，溫瘧，熱氣諸癇。除邪，利大小便，療水腫、風腫；去膀胱熱，傷寒寒熱邪氣，中風，手腳攣急，止泄；散癰腫惡結，諸蝸疥癬蟲瘡；通腠理，利九竅。</p>
<p>《藥性論》云：漢防己，君。又云：木防己，使。畏女菀、滷咸。去血中濕熱。</p>

<h3>牽牛</h3>
<p>氣寒，味苦。有小毒。黑白二種。</p>
<p>《本草》云：主下氣，療腳滿水腫，除風毒，利小便。</p>
<p>海藏云：以氣藥引之則入氣；以大黃引之則入血。</p>
<p>張文懿云：不可耽嗜，脫人元氣。余初亦疑此藥不可耽嗜，後見人有酒食、病痞，多服食藥，以導其氣，及服藏用神芎丸，及犯牽牛等丸。如初服，即快；藥過，再食，其病痞依然。依前又服，其痞隨藥而效，藥過後病復至。以至久服，則脫人元氣而猶不知悔，戒之！惟當益脾健胃，使元氣生，而自能消腐水穀，其法無以加矣。</p>
<p>《心》云：瀉元氣，去氣中濕熱。凡飲食勞倦，皆血受病。若以此藥瀉之，是血病瀉氣，使氣血俱虛損。所傷雖去，瀉元氣、損人，不知也。經所謂：毋盛盛，毋虛虛，毋絕人長命。此之謂也。用者戒之。白者亦同。</p>
<p>羅謙甫云：牽牛，乃瀉氣之藥，試取嘗之，便得辛辣之味；久而嚼之，猛烈雄壯，漸漸不絕，非辛而何！續注：味苦寒，果安在哉。又曰：牽牛感南方熱火之化所生者也，血熱瀉氣，差誤已甚。若病濕盛，濕氣不得施化，致大小便不通，則宜用之耳。濕去，其氣周流，所謂五臟有邪，更相平也。經所謂一臟未平，以所勝平之。火能平金，而瀉肺氣者即此也。然仲景治七種濕證，小便不利，無一藥犯牽牛者，仲景豈不知牽牛能瀉濕利小便？為濕病之根在下焦，是血分中氣病，不可用辛辣氣藥，瀉上焦太陰之氣故也。仲景尚不輕用如此，世醫一概而用之可乎？又曰：牽牛辛烈，瀉人元氣，比諸辛藥尤甚，以辛之雄烈故也。</p>

<h3>三稜</h3>
<p>氣平，味苦，陰中之陽。無毒。</p>
<p>《象》云：治老癖癥瘕結塊，婦人血脈不調，心腹刺痛。須炮用。</p>
<p>《珍》云：破積氣，損真氣，虛者勿用。</p>
<p>《液》云：又治氣脹，血脈不調，補五勞，通月經，消瘀血。色白，破血中之氣。</p>

<h3>蓬莪朮</h3>
<p>氣溫，味苦、辛。無毒。</p>
<p>《象》云：治心膈痛，飲食不消，破痃癖氣最良。炮用。</p>
<p>《本草》云：治婦人血氣，丈夫賁豚；治心腹痛，中惡，疰杵，鬼氣，霍亂冷氣，吐酸水；解毒，飲食不消。酒研服。</p>
<p>《液》云：色黑，破氣中之血，入氣藥發諸香。雖為泄劑，亦能益氣，故孫用和治氣短不能接續，所以大小七香丸、集香丸散及湯內，多用此也。</p>

<h3>草龍膽</h3>
<p>氣寒，味大苦，氣味俱厚，陰也。無毒。</p>
<p>《珍》云：純陰，酒浸上行。</p>
<p>《心》云：除下焦之濕，及翳膜之濕。</p>
<p>《象》云：治兩目赤腫，睛脹，瘀肉高起，疼痛不可忍。以柴胡為主，治眼中疾必用之藥也。去蘆。</p>

<h3>栝蔞根</h3>
<p>氣寒，味苦。味厚，陰也，無毒</p>
<p>《本草》云：主消渴，身熱，煩滿大熱，補虛安中，通月水。消腫毒瘀血，及熱狂。</p>
<p>《心》云：止渴，行津液。苦寒，與辛酸同用，導腫氣。</p>
<p>《珍》云：苦，純陰。若心中枯渴者，非此不能除。</p>

<h3>地榆</h3>
<p>氣微寒，味甘、酸。苦而酸，氣味俱厚，陰也。</p>
<p>《本草》云：主婦人乳產，七傷，帶下，月水不止，血崩之疾。除惡血，止疼痛，腸風泄血。</p>
<p>《象》云：治小兒疳痢。性沉寒，入下焦，治熱血痢。去蘆。</p>
<p>《心》云：去下焦之血。腸風下血及瀉痢下血，須用之。</p>
<p>《珍》云：陽中微陰，治下部血。</p>

<h3>紫草</h3>
<p>氣寒，味苦。無毒。</p>
<p>《本草》云：主心腹邪氣，五疸；補中益氣，利九竅，通水道；治腹腫脹滿。去土，用茸。</p>

<h3>茜根</h3>
<p>味苦，陰中微陽。</p>
<p>《珍》云：去諸死血。</p>
<p>《藥性論》云：主治六極傷心肺，吐血、瀉血。</p>
<p>《日華子》云：止鼻洪，月經不止。</p>

<h3>菊花</h3>
<p>苦而甘、寒。無毒。</p>
<p>《心》云：去翳膜，明目。</p>
<p>《珍》云：養目血。</p>
<p>《藥性論》云：使。治身上諸風。</p>
<p>《日華子》云：治四肢遊風，利血脈，心煩，胸膈壅悶。</p>

<h3>葶藶</h3>
<p>氣大寒，味苦、辛。無毒。</p>
<p>《本草》云：主癥瘕積聚結氣，飲食寒熱；破堅逐邪，通利水道，下膀胱水，伏留熱氣，及皮間邪水上出，面目浮腫，身暴中風，熱痱癢，利小便。久服，令人虛。又云：療肺壅上氣咳嗽，定喘促，除胸中痰飲。</p>
<p>《液》云：苦、甜二味，主治同。仲景用苦，余方或有用甜者，或有不言甜、苦者。大抵苦則下泄，甜則少緩。量病虛實用之，不可不審。《本草》雖云治同，甜、苦之味安得不異？榆白皮為之使。惡殭蠶、石龍芮。仲景葶藶大棗瀉肺湯用之。</p>

<h3>王不留行</h3>
<p>味苦，陽中之陰。甘平。無毒。</p>
<p>《珍》云：下乳，引導用之。</p>
<p>《藥性論》云：治風毒，通血脈。</p>
<p>《日華子》云：治遊風，風疹，婦人月經不勻。</p>

<h3>通草</h3>
<p>氣平，味甘、辛，陽也。無毒。燈草同。</p>
<p>《象》云：治陰竅不利，行小水，除水腫閉，治五淋。生用。</p>
<p>《珍》云：瀉肺，利小便。甘平，以緩陰血。</p>
<p>《日華子》云：明目退熱，催生，下胞，下乳。</p>

<h3>木通</h3>
<p>氣平，味甘。甘而淡，性平，味薄，陽也。無毒。</p>
<p>《象》云：主小便不利，導小腸熱。去皮用。</p>
<p>《心》云：通經利竅。</p>
<p>《本草》云：除脾胃寒熱，通利九竅血脈關節，令人不忘；散癰腫諸結不消，墮胎，去蟲。</p>

<h3>瞿麥</h3>
<p>氣寒，味苦、辛，陽中微陰也。</p>
<p>《象》云：主關格諸癃結，小便不通；治癰腫，排膿，明目去翳，破胎下閉血，逐膀胱邪熱。用穗。</p>
<p>《珍》云：利小便，為君主之用。</p>
<p>《本草》云：出刺，決癰腫，明目去翳；破胎墮子，下閉血；養腎氣，逐膀胱邪逆；止霍亂，長毛髮。</p>

<h3>車前子</h3>
<p>氣寒，味甘、咸。無毒。</p>
<p>《象》云：主氣癃閉。利水道，通小便；除濕痹，肝中風熱，沖目赤痛。</p>
<p>《本草》云：主氣癃。止痛，利水道，通小便，除濕痹，男子傷中，女子淋瀝，不欲食，養肺；強陰益精，令人有子；明目，治目熱赤痛；輕身耐老。東垣云：能利小便而不走氣，與茯苓同功。</p>

<h3>石葦</h3>
<p>此一條，與本經無一字同，恐別是一物，有誤，姑存之。名遠墨子、血見愁、鹿經草也。</p>
<p>《時習》云：今一種作青苕帚，名蟻子槐，作血見愁。又隰州鼓角樓上一種，名血見愁，俱能破瘀血。《時習》補：或人言，紫花如旋風草，但花不白。又有一種，花黃，葉似槐，結角如綠豆，俗呼夾竹梅。</p>
<p>《局方本草》：石葦味苦、甘，平，無毒。主勞熱邪氣，五癃閉不通；利小便水道，止煩下氣，通膀胱滿；補五勞，安五臟，去惡風，益精氣。</p>
<p>《藥性論》云：使。治勞及五淋，胞囊結熱不通，膀胱熱滿。</p>
<p>《日華子》云：治淋遺溺。杏仁為之使，得菖蒲，良。生華陰，又有生古瓦屋上者，名瓦韋，用治淋亦佳。</p>

<h3>白附子</h3>
<p>陽，微溫。</p>
<p>《珍》云：主血痹，行藥勢。</p>
<p>《本草》云：主心痛血痹，面上百病。行藥勢。</p>

<h3>葫蘆巴</h3>
<p>苦，純陰。</p>
<p>《珍》云：治元氣虛冷，及腎虛冷。</p>
<p>《本草》云：得蘹香子、桃仁，治膀胱氣甚效。腹脅脹滿，面色青黑，此腎虛證也。</p>

<h3>馬兜鈴</h3>
<p>苦，陰中微陽，味苦、寒。無毒。</p>
<p>《珍》云：去肺熱，安肺氣，補肺。</p>
<p>《本草》云：主咳嗽痰結。</p>
<p>《藥性論》云：平。能主肺氣上急，坐息不得，主咳逆連連不可。</p>
<p>《日華子》云：治痔瘻瘡，以藥於瓶中，燒，熏病處。入藥炙用。是土青木香獨行根子也。</p>
<p>《聖惠方》：治五種蠱毒。</p>
<p>《圖經》云：亦名土青木香。實，主肺病。根，治氣、下膈、止刺痛。</p>

<h3>白芨</h3>
<p>苦、甘，陽中之陰。味辛、苦，平，微寒。無毒。</p>
<p>《珍》云：止肺澀。白蘞治證同。</p>
<p>《本草》云：主癰腫惡瘡、敗疽，傷陰死肌，胃中邪氣，賊風鬼擊，痱緩不收，白癬疥蟲。</p>
<p>《藥性論》云：使。治熱結不消，主陰下痿，治面上䵟疱。</p>

<h3>天南星</h3>
<p>味苦、辛。有毒。</p>
<p>《珍》云：治同半夏。</p>
<p>陳藏器云：主金瘡傷折瘀血。取根，搗敷傷處。</p>
<p>《日華子》云：味辛烈。治撲損瘀血，主蛇蟲咬，敷疥癬毒瘡。</p>

<h3>鬱金</h3>
<p>味辛苦，純陰。</p>
<p>《珍》云：涼心。</p>
<p>《局方本草》：鬱金，味辛、苦，寒，無毒。主血積，下氣，生肌止血，破惡血，血淋，尿血，金瘡。</p>
<p>《藥性論》云：單用亦可。治婦人宿血結聚，溫醋磨服。</p>
<p>《經驗方》云：尿血不定，蔥白相和，煎服，效。</p>
<p>《本草》云：生蜀者，佳。胡人謂之馬蒁，亦啖馬。藥用治脹痛，破血而補。</p>

<h3>佛耳草</h3>
<p>氣熱，味酸。</p>
<p>《象》云：治寒嗽及痰，除肺中寒，大升肺氣，少用。款冬花為使。過食損目。</p>

<h3>蛇床</h3>
<p>味苦、辛、甘，平。無毒。</p>
<p>《本草》云：主婦人陰中腫痛，男子陰痿濕癢；除痹氣，利關節，癲癇惡瘡，溫中下氣；令婦人子臟熱，男子陰強；久服，輕身、好顏色，令人有子。一名蛇粟、蛇米。五月採，陰乾。惡牡丹、巴豆、貝母。</p>

<h1>卷之五</h1>

<h2>木部</h2>

<h3>桂</h3>
<p><u>桂心、肉桂、桂枝附</u></p>
<p>氣溫，味甘、辛。有小毒。</p>
<p>入手少陰經。桂枝，入足太陽經。</p>
<p>《本草》云：主溫中，利肝肺氣，心腹寒熱冷疾，霍亂轉筋，頭痛腰痛，出汗，止煩，止唾，咳嗽鼻齆；能墮胎，堅骨節、通血脈，理疏不足；宣導百藥，無所畏。久服，神仙不老。生桂陽，二月、八月、十月採皮，陰乾。有菌桂、牡桂、木桂、筒桂、肉桂、板桂、桂心、官桂之類。用者罕有分別。《衍義》所言，不知何緣而得官之名。予考《本草》有出觀、賓、宜、韶、欽諸州者，佳。世人以筆畫多而懶書之，故只作官也。如寫黃檗作黃柏，薑作姜同意。菌桂生交趾山谷，牡桂生南海山谷，木桂生桂陽。從嶺至海盡有桂樹，惟柳州、象州最多。《本草》所說菌桂、牡桂、板桂，厚薄不同。大抵細薄者為枝、為嫩，厚脂者為肉、為老，處其身者為中也。不必黃色為桂心，但不用皮與里，止用其身中者為桂心。不經水而味薄者，亦名柳桂。易老用此，以治虛人，使不生熱也。《衍義》謂桂大熱。《素問》謂辛甘發散為陽，故張仲景桂枝湯治傷寒表虛，皆須此藥，是專用辛甘之意也。又云：療寒以熱。故知三種之桂，不取菌桂、牡桂者，蓋此二種性止溫而已，不可以治風寒之病。獨有一字桂，《本經》謂甘辛大熱，正合《素問》辛甘發散為陽之說，尤知菌桂、牡桂不及也。然《本經》止言桂，而仲景又言桂枝者，蓋亦取其枝上皮也，其本身粗厚處亦不中用。諸家之說，但各執一己見，終無證據。今又謂之官桂，不知何緣而立名，慮後世以為別物，故於此書之。又有桂心，此則諸桂之心，不若一字桂也。別說交廣商人所販者，及醫家見用，惟陳藏器之說最是。然筒桂厚實，氣味厚重者，宜入治臟及下焦藥。輕薄者，宜入治眼目發散藥。《本經》以菌桂養精神，以牡桂利關節。仲景傷寒發汗用桂枝。桂枝者，桂條也，非身干也，取其輕薄而能發散。一種柳桂，乃小嫩枝條也，尤宜入上焦藥。仲景湯液用桂枝發表，用肉桂補腎，本乎天者親上，本乎地者親下，理之自然，性分之所不可移也。一有差易，為效彌遠。歲月既久，習以成弊，宜後世之不及古也。桂心通神，不可言之，至於諸桂數等，皆大小老壯之不同。觀，作官也。《本草》所言有小毒，或云久服神仙不老。雖云小毒，亦從類化。與黃芩、黃連為使，小毒何施；與烏、附為使，止是全得熱性；若與有毒者同用，則小毒既去，大毒轉甚；與人參、麥門冬、甘草同用，能調中益氣，則可久服。可知此藥能護榮氣而實衛氣，則在足太陽經也。桂心，入心，則在手少陰也。若指榮字立說，止是血藥，故經言通血脈也。若與巴豆、硇砂、乾漆、穿山甲、水蛭、虻蟲如此有毒之類同用，則小毒化為大毒，其類化可知矣。湯液發汗用桂枝，補腎用肉桂，小柴胡只云加桂何也。《藥象》謂肉桂大辛，補下焦熱火不足，治沉寒痼冷，及治表虛自汗。春夏二時為禁藥。</p>
<p>《珍》云：秋冬治下部腹痛，非桂不能止也。</p>
<p>《心》云：桂枝氣味俱輕，故能上行，發散於表；內寒，則肉桂；補陽，則柳桂。桂，辛熱散經寒，引導陽氣。若正氣虛者，以辛潤之。散寒邪，治奔豚。</p>

<h3>柏子仁</h3>
<p>氣平，味甘、辛。無毒。</p>
<p>《本草》云：主安五臟，除風濕痹，益氣血。能長生，令人潤澤，美顏色，耳目聰明。用之則潤，腎之藥也。</p>
<p>《藥性論》云：柏子仁，君。惡菊花，畏羊蹄草。能治腰腎中冷，膀胱冷膿宿水；興陽道，益壽；去頭風，治百邪鬼魅，主小兒驚癇。柏子仁，古方十精丸用之。</p>

<h3>側柏葉</h3>
<p>氣微溫，味苦。無毒。</p>
<p>《本草》云：主吐血、衄血及痢血，崩中赤白，輕身益氣，令人耐寒暑。</p>
<p>《藥性論》云：側柏葉苦辛，性澀，治冷風歷節疼痛，止尿血，與酒相宜。</p>

<h3>柏皮</h3>
<p>《本草》黑字，柏白皮主火灼爛瘡，長毛髮。</p>

<h3>槐實</h3>
<p>味苦、酸、咸，寒。無毒。</p>
<p>《珍》云：與桃仁治證同。</p>
<p>《藥性論》云：臣。治大熱難產。皮煮汁，淋陰囊墜腫，氣瘤。又，槐白皮，治口齒風疳。《日華子》云：槐子，治丈夫、女人陰瘡濕癢；催生，吞七粒。皮，治中風皮膚不仁，喉痹；洗五痔，產門癢痛，及湯火瘡。煎膏，止痛，長肉，消癰腫。</p>
<p>《別錄》云：八月斷槐大枝使生嫩櫱，煮汁釀酒，療大風痿痹甚妙。槐耳，主五痔心痛，女人陰中瘡痛，景天為之使。槐花，味苦，無毒。治五痔心痛眼赤，殺腹臟蟲及熱。治皮膚風，腸風瀉血，赤白痢。槐膠，主一切風，化痰，治肝臟風，筋脈抽掣，急風口噤，四肢不收，頑痹或毒風，周身如蟲行，或破傷風口眼偏斜，腰膝強硬。槐葉，平，無毒，煎湯，洗小兒驚疳壯熱，疥癬疔瘡，皮莖同用良。</p>

<h3>槐花</h3>
<p>苦薄，陰也。《珍》云：涼大腸熱。</p>

<h3>蔓荊子</h3>
<p>氣清，味辛溫苦、甘，陽中之陰。太陽經藥。</p>
<p>《象》云：治太陽經頭痛，頭昏悶，除目暗，散風邪藥，胃虛人勿服，恐生痰疾。揀淨，杵碎用。</p>
<p>《珍》云：涼諸經血，止頭痛，主目睛內痛。</p>
<p>《本草》云：惡烏頭、石膏。</p>

<h3>大腹子</h3>
<p>氣微溫，味辛。無毒。</p>
<p>《本草》云：主冷熱氣攻心腹，大腸壅毒，痰膈醋心，並以薑、鹽同煎。《時習》謂是氣藥也。</p>
<p>孫真人云：先酒洗，後大豆汁洗。仲景用。</p>
<p>《日華子》云：下一切氣，止霍亂，通大小腸，健脾、開胃、調中。</p>

<h3>酸棗</h3>
<p>氣平，味酸。無毒。</p>
<p>《本草》云：主心腹寒熱，邪結氣聚，四肢痠疼濕痹，煩心不得眠，臍上下痛，血轉久泄，虛汗煩渴；補中、益肝氣，堅筋骨，助陰氣，令人肥健。久服，安五臟、輕身、延年。胡洽治振悸不得眠，人參、白朮、白茯苓、甘草、生薑、酸棗仁六物煮服。</p>
<p>《聖惠方》：膽虛不眠，寒也。酸棗仁炒香，竹葉湯調服。</p>
<p>《濟眾方》：膽實多睡，熱也。酸棗仁生用，末，茶、薑汁調服。</p>

<h3>胡椒</h3>
<p>氣溫，味辛。無毒。</p>
<p>《本草》云：主下氣、溫中、去痰，除臟腑中風冷。向陽者為胡椒，向陰者為蓽澄茄。胡椒多服損肺。味辛辣，力大於漢椒。</p>
<p>《衍義》云：去胃中寒痰，吐水，食已即吐，甚驗。過劑則走氣。大腸寒滑亦用，須各以他藥佐之。</p>

<h3>川椒</h3>
<p>氣熱溫，味大辛。辛溫，大熱。有毒。</p>
<p>《象》云：主邪氣，溫中，除寒痹；堅齒髮，明目，利五臟。須炒去汗。</p>
<p>《心》云：去汗，辛熱，以潤心寒。</p>
<p>《本草》云：主邪氣咳逆，溫中；逐骨節皮膚死肌，寒濕痹痛；下氣，除六腑寒冷，傷寒溫瘧，大風汗不出，心腹留飲，宿食，腸澼下痢，泄精，女子字乳余疾；散風邪瘕結水腫，黃疸，鬼疰蠱毒，耐寒暑，開腠理。閉口者，殺人。惡栝蔞、防、葵。畏雌黃。</p>

<h3>吳茱萸</h3>
<p>氣熱，味辛、苦，氣味俱厚，陽中陰也。辛溫大熱。有小毒。</p>
<p>入足太陰經、少陰經、厥陰經。</p>
<p>《象》云：食則令人口開目瞪，寒邪所隔，氣不得上下。此病不已，令人寒中，腹滿膨脹，下利寒氣，諸藥不可代也。洗去苦味，日乾，杵碎用。</p>
<p>《心》云：去胸中逆氣。不宜多用，辛熱恐損元氣。</p>
<p>《珍》云：溫中下氣，溫胃。</p>
<p>《本草》云：主溫中下氣，止痛，咳逆寒熱，除濕、血痹；逐風邪，開腠理，去痰冷，腹內絞痛，諸冷實不消，中惡，心腹痛，逆氣；利五臟。入足太陰、少陰、厥陰，震坤合見，其色綠。</p>
<p>仲景云：吳茱萸湯，當歸四逆湯，大溫脾湯，及脾胃藥，皆用此也。</p>
<p>《衍義》云：此物下氣最速，腸虛人服之愈甚。蓼實為之使。惡丹參、硝石、白堊。畏紫石英。</p>

<h3>山茱萸</h3>
<p>氣平微溫，味酸。無毒。</p>
<p>入足厥陰經、少陰經。</p>
<p>《本草》云：主溫中，逐寒濕痹，強陰益精，通九竅，止小便。入足少陰、厥陰。</p>
<p>《聖濟經》云：滑則氣脫，澀劑所以收之，山茱萸之澀以收其滑。仲景八味丸用為君主，如何澀劑以通九竅。</p>
<p>《雷公》云：用之去核，一斤取肉四兩，緩火熬用，能壯元氣，秘精。核，能滑精，故去之。</p>
<p>《珍》云：溫肝。</p>
<p>《本經》云：止小便利，以其味酸也。觀八味丸用為君主，其性味可知矣。</p>
<p>《藥性論》亦云：補腎添精。</p>
<p>《日華子》亦云：暖腰膝，助水臟也。</p>

<h3>益智</h3>
<p>氣熱，味大辛。辛溫。無毒。主君相二火。</p>
<p>手足太陰經，足少陰經，本是脾經藥。</p>
<p>《象》云：治脾胃中受寒邪，和中益氣，治多唾，當於補中藥內兼用之，勿多服。去皮用。</p>
<p>《本草》云：主遺精虛漏，小便遺瀝，益氣安神。補不足，安三焦，調諸氣。夜多小便者，取二十四枚，碎之，入鹽同煎服，有神效。</p>
<p>《液》云：主君相二火，手、足太陰，足少陰，本是脾藥。在集香丸，則入肺；在四君子湯，則入脾；在大鳳髓丹，則入腎。脾、肺、腎，互有子母相關。</p>

<h3>厚朴</h3>
<p>氣溫，味辛，陽中之陰。苦而辛，無毒。</p>
<p>《象》云：能治腹脹，若虛弱，雖腹脹宜斟酌用之。寒脹，是大熱藥中兼用。結者散之，神藥。誤用脫人元氣，切禁之。紫色者佳。去皮，薑汁製，微炒。</p>
<p>《珍》云：去腹脹，厚腸胃。</p>
<p>《心》云：味厚，陰也。專去腹脹滿，去邪氣。</p>
<p>《本草》云：主中風，傷寒頭痛寒熱，驚悸，氣血痹，死肌。去三蟲，溫中益氣，消痰下氣，療霍亂及腹痛脹滿，胃中冷逆，胸中嘔不止，泄痢，淋露；除驚，去留熱，心煩滿，厚腸胃。</p>
<p>《本經》云：治中風傷寒頭痛，溫中益氣，消痰下氣，厚腸胃，去腹脹滿。果泄氣乎？果益氣乎？若與枳實、大黃同用則能泄實滿，《本經》謂消痰下氣者是也；若與橘皮、蒼朮同用，則能除濕滿，《本經》謂溫中益氣者是也；與解利藥同用，則治傷寒頭痛；與痢藥同用，則厚腸胃。大抵苦溫，用苦則泄，用溫則補。</p>
<p>《衍義》云：平胃散中用之，最調中，至今盛行。既能溫脾胃，又能走冷氣。</p>
<p>海藏云：加減隨證，如五積散治療同。</p>
<p>《本草》又云：乾薑為使。惡澤瀉、寒水石、硝石。</p>

<h3>丁香</h3>
<p>氣溫，味辛，純陽。無毒。入手太陰經、足陽明經、少陰經</p>
<p>《象》云：溫脾胃，止霍亂，消痃癖，氣脹反胃，腹內冷痛，壯陽，暖腰膝，殺酒毒。</p>
<p>《珍》云：去胃中之寒。</p>
<p>《本草》云：主溫脾胃，止霍亂，壅脹，風毒諸腫，牙齒疳䘌。能發諸香。能療反胃，腎氣奔豚氣，陰痛。壯陽，暖腰膝，消痃癖，除冷勞。</p>
<p>《液》云：與五味子、廣朮同用，亦治奔豚之氣，能泄肺，能補胃，大能療腎。</p>

<h3>沉香</h3>
<p>氣微溫，陽也。</p>
<p>《本草》云：治風水毒腫，去惡氣；能調中壯陽，暖腰膝；破症癖，冷風麻痹，骨節不任，濕風，皮膚癢，心腹痛，氣痢；止轉筋吐瀉。</p>
<p>東垣云：能養諸氣，上而至天，下而至泉。用為使，最相宜。</p>
<p>《珍》云：補右命門。</p>

<h3>乳香</h3>
<p>苦，陽。</p>
<p>《珍》云：定諸經之痛。</p>

<h3>藿香</h3>
<p>氣微溫，味甘、辛，陽也。甘苦，純陽。無毒。</p>
<p>入手足太陰經。</p>
<p>《象》云：治風水，去惡氣，治脾胃，吐逆，霍亂，心痛。去枝、梗，用葉。</p>
<p>《心》云：芳馨之氣，助脾開胃，止嘔。</p>
<p>《珍》云：補衛氣，益胃進食。</p>
<p>《本草》云：主脾胃嘔逆，療風水毒腫，去惡氣，療霍亂心痛，溫中快氣；治口臭，上焦壅，煎湯漱口。入手足太陰。入順氣烏藥湯則補肺；入黃耆四君子湯，則補脾。</p>

<h3>檀香</h3>
<p>氣溫，味辛、熱。無毒。入手太陰經，足少陰經，通行陽明經藥。</p>
<p>《本草》云：主心腹痛，霍亂，中惡，鬼氣，殺蟲。又云：治腎氣諸痛，腹痛，消熱腫。《東垣》云：能調氣而清香，引芳香之物，上行至極高之分，最宜橙橘之屬，佐以薑、棗，將以葛根、豆蔻、縮砂、益智，通行陽明之經。在胸膈之上，處咽嗌之中，同為理氣之藥。</p>
<p>《珍》云：主心腹，霍亂中惡；引胃氣上升，進食。</p>

<h3>蘇合香</h3>
<p>味甘，溫。無毒。</p>
<p>《本草》云：主辟惡，殺鬼精物，溫瘧，蠱毒，癇痓，去三蟲，除邪，令人無夢魘。久服，通神明、輕身、長年。生中臺川穀。</p>
<p>《禹錫》云：按《梁書》云：中天竺國出蘇合香，是諸香汁煎之，非自然一物也。</p>

<h3>檳榔</h3>
<p>氣溫，味辛、苦，味厚氣輕，陰中陽也。純陽，無毒。</p>
<p>《象》云：治後重如神。性如鐵石之沉重，能墜諸藥至於下極。杵細用。</p>
<p>《心》云：苦以破滯，辛以散邪，專破滯氣下行。</p>
<p>《珍》云：破滯氣，泄胸中至高之氣。</p>
<p>《本草》云：主消穀逐水，除痰癖，下三蟲，去伏屍，療寸白蟲。</p>

<h3>梔子</h3>
<p>氣寒，味微苦。味苦，性大寒，味薄，陰中陽也。無毒。入手太陰經。</p>
<p>《象》云：治心煩，懊憹而不得眠，心神顛倒欲絕，血滯，小便不利。杵細用。</p>
<p>《心》云：去心中客熱，除煩躁，與豉同用。</p>
<p>《珍》云：止渴，去心懊憹煩躁。</p>
<p>《本草》云：主五內邪氣，胃中熱氣，面赤，酒疱渣鼻，白癩、赤癩，瘡瘍。療目熱赤痛，胸心大小腸大熱，心中煩悶，胃中熱氣。仲景用梔子治煩，胸為至高之分也。故易老云：輕浮而象肺也，色赤而象火，故能瀉肺中之火。《本草》不言吐，仲景用此為吐藥。梔子本非吐藥，為邪氣在上，拒而不納，故令上吐，邪因得以出。經曰：其高者因而越之，此之謂也。或用梔子利小便，實非利小便，清肺也。肺氣清而化，膀胱為津液之府，小便得此氣化而出也。《本經》謂治大小腸熱，辛與庚合，又與丙合，又能泄戊，其先入中州故也。入手太陰。梔子豉湯治煩躁，煩者，氣也，躁者，血也。氣主肺，血主腎。故用梔子，以治肺煩；用香豉，以治腎躁。躁者，懊憹不得眠也。少氣、虛滿者，加甘草；若噦嘔者，加生薑、橘皮。下後，腹滿而煩，梔子厚朴枳實湯；下後，身熱微煩，梔子甘草乾薑湯。梔子大而長者，染色，不堪入藥。皮薄而圓，七稜至九稜者，名山梔子，所謂越桃者是也。</p>
<p>《衍義》云：仲景治傷寒，發汗吐下後，虛煩不得眠。若劇者，必反復顛倒，心中懊憹，以梔子豉湯治虛煩。故不用大黃，以有寒毒故也。梔子雖寒無毒，治胃中熱氣。既亡血，亡津液，臟腑無潤養，內生虛熱，非此不可除。又，治心經留熱，小便赤澀，去皮山梔子（火煨），大黃、連翹、甘草（炙）等分，末之。水煎三錢匕，服之者無不效。</p>
<p>仲景《傷寒論》及古今諸名醫，治發黃皆用梔子、茵陳、香豉、甘草四物，等分，作湯飲之。又治大病起，勞復，皆用梔子、鼠矢等湯，並利小便而愈。其方極多，不可悉載。用仁，去心胸中熱，用皮，去肌表熱。</p>

<h3>黃柏</h3>
<p>氣寒，味苦。苦厚微辛，陰中之陽，降也。無毒。</p>
<p>足太陽經引經藥，足少陰經之劑。</p>
<p>《象》云：治腎水膀胱不足，諸痿厥，腳膝無力，於黃耆湯中少加用之，使兩膝中氣力湧出，痿即去矣。蜜炒此一味，為細末，治口瘡如神。癱瘓必用之藥。</p>
<p>《珍》云：瀉膀胱之熱，利下竅。</p>
<p>《心》云：太陽經引經藥，瀉膀胱經火，補本經及腎不足。苦寒安蛔，療下焦虛，堅腎。經曰：苦以堅之。</p>
<p>《本草》云：主五臟，腸胃中結熱，黃疸，腸痔；止泄痢，女子漏下赤白，陰傷蝕瘡，療驚氣，在皮間肌膚熱，赤起，目熱赤痛，口瘡。久服，通神。</p>
<p>《液》云：足少陰劑，腎苦燥，故腎停濕也，梔子、黃芩入肺，黃連入心，黃柏入腎，燥濕所歸，各從其類也。《活人書》解毒湯，上下內外通治之。惡乾漆。</p>

<h3>枳實</h3>
<p>氣寒，味苦、酸、咸，純陽。無毒。</p>
<p>《象》云：除寒熱，破結實，消痰癖，治心下痞，逆氣脅痛。麩炒用。</p>
<p>《心》云：潔古用去脾經積血。故能去心下痞，脾無積血，則心下不痞。治心下痞，散氣消宿食。苦寒，炙用，破水積，以泄里除氣。</p>
<p>《珍》云：去胃中濕。</p>
<p>《本草》云：主大風在皮膚中，如麻豆，苦癢。除寒熱結，止痢，長肌肉，利五臟，益氣輕身。除胸脅痰癖，逐停水，破結實，消脹滿，心下急，痞痛，逆氣，脅風痛。安胃氣，止溏泄，明目。生河內川澤，商州者，佳。益氣，則佐之以人參、乾薑、白朮。破氣，則佐之以大黃、牽牛、芒硝。此《本經》所以言益氣，而復言消痞也。非白朮，不能去濕；非枳實，不能除痞。殼主高而實主下。高者主氣；下者主血。主氣者，在胸膈；主血者，在心腹。仲景治心下堅大如盤，水飲所作，枳實白朮湯主之。枳實七枚，術三兩，水一斗，煎取三升，分三服。腹中軟即消。</p>
<p>《衍義》云：枳實、枳殼，一物也。小即性酷而速，大則性詳而緩。故仲景治傷寒倉卒之病，承氣湯中用枳實，此其意也。皆取其疏通決泄，破結實之意。他方但導敗風壅之氣，可常用者，故用枳殼。故胸中痞，有桔梗枳殼湯；心下痞，有枳實白朮湯。高低之分，易老詳定為的也。</p>

<h3>枳殼</h3>
<p>氣寒，味苦。苦而酸，微寒，味薄氣厚，陽也。陰中微陽。無毒。</p>
<p>《象》云：治脾胃痞塞，泄肺氣。麩炒用。</p>
<p>《心》云：利胸中氣，勝濕化痰。勿多用，損胸中至高之氣。</p>
<p>《珍》云：破氣。</p>
<p>《本草》云：主風癢麻痹，通利關節，勞氣咳嗽，背膊悶倦。散留結，胸膈痰滯；逐水，消脹滿，大腸風；安胃，止風痛。</p>
<p>《藥性論》云：枳殼，使。味苦、辛。治遍身風疹，肌中如麻豆，惡癢。殼，高，主皮毛、胸膈之病；實，低，主心胃之病。其主治大同小異。</p>

<h3>牡丹皮</h3>
<p>氣寒，味苦、辛。陰中微陽。辛苦微寒。無毒。手厥陰經，足少陰經。</p>
<p>《象》云：治腸胃積血，及衄血、吐血必用之藥。</p>
<p>《珍》云：涼骨蒸。</p>
<p>《本草》云：主寒熱，中風，瘛瘲，痙，驚癇邪氣。除症堅、瘀血留舍腸胃。安五臟，療癰瘡，除時氣頭痛，客熱，五勞之氣，腰痛，風噤，癲疾。</p>
<p>《易老》云：治神志不足。神不足者，手少陰；志不足者，足少陰。故仲景八味丸用之。牡丹乃天地之精，群花之首。葉為陽，發生；花為陰，成實；丹為赤，即火。故能瀉陰中之火。牡丹皮，手厥陰，足少陰，治無汗骨蒸；地骨皮，足少陰，手少陽，治有汗骨蒸也。</p>

<h3>地骨皮</h3>
<p>氣寒，味苦，陰也。大寒。無毒。足少陰經，手少陽經。</p>
<p>《象》云：解骨蒸、肌熱，主風濕痹，消渴。堅筋骨。去骨，用根皮。</p>
<p>《心》云：去肌熱及骨中之熱。</p>
<p>《珍》云：涼血、涼骨。</p>
<p>《本草》云：主五內邪氣，熱中消渴，周痹風濕，下胸脅氣，客熱頭痛。補內傷大勞噓吸，堅筋骨，強陰，利大小腸。</p>
<p>《藥性論》云：根皮細銼，面拌，熟煮吞之。主腎家風，益精氣。</p>
<p>《衍義》云：枸杞當用梗皮，地骨當用根皮。枸杞子當用其紅實。實，微寒；皮，寒；根，大寒。</p>

<h3>豬苓</h3>
<p>氣平，味甘、苦，甘寒。甘苦而淡，甘重於苦，陽也。無毒。</p>
<p>入足太陽經、少陰經。</p>
<p>《象》云：除濕。比諸淡滲藥大燥，亡津液，無濕證勿服。去皮用。</p>
<p>《心》云：苦以泄滯，甘以助陽，淡以利竅。故能除濕，利小便。</p>
<p>《珍》云：利小便。</p>
<p>《本草》云：主痎瘧，解毒蠱疰不祥。利水道，能療妊娠淋，又治從腳上至腹腫，小便不利。仲景，少陰渴者豬苓湯。入足太陽、少陰。</p>
<p>《衍義》云：行水之功多，久服必損腎氣，昏人目。果欲久服者，更宜詳審。</p>

<h3>茯苓</h3>
<p>氣平，味淡。味甘而淡，陽也。無毒。</p>
<p>白者，入手太陰經、足太陽經，少陽經；赤者，入足太陰經、手太陽經、少陰經。</p>
<p>《象》云：止渴，利小便，除濕益燥，和中益氣，利腰臍間血為主。治小便不通，溺黃而赤或不利。如小便利或數服之，則大損人目。如汗多人服之，損真氣，夭人壽。醫云赤瀉白補，上古無此說。去皮用。</p>
<p>《心》云：淡能利竅，甘以助陽，除濕之聖藥也。味甘平，補陽，益脾逐水。濕淫所勝，小便不利。淡味滲，泄陽也。治水緩脾，生精導氣。</p>
<p>《珍》云：甘，純陽。滲泄止渴。</p>
<p>《本草》云：胸脅逆氣，憂恚驚邪恐悸，心下結痛，寒熱煩滿，咳逆，口焦舌乾。利小便，止消渴，好唾，大腹淋瀝，消膈中痰水，水腫，淋結。開胸腑，調臟氣，伐腎邪，長陰，益氣力，保神守中。</p>
<p>《液》云：入足少陰，手足太陽。色白者，入辛壬癸；赤者，入丙丁。伐腎邪，小便多，能止之；小便澀，能利之。與車前子相似，雖利小便而不走氣。酒浸，與光明硃砂同用，能秘真。味甘、平，如何是利小便。</p>

<h3>茯神</h3>
<p>陽也，味甘。無毒。</p>
<p>《珍》云：治風眩心虛，非此不能安。</p>
<p>《藥性論》云：君，主驚癇，安神定志，補虛乏。主心下急痛堅滿，人虛而小便不利者。</p>

<h3>烏藥</h3>
<p>氣溫，味辛。無毒。</p>
<p>入足陽明經、少陰經。</p>
<p>《本草》云：主中惡心腹痛，蠱毒，疰忤鬼氣，宿食不消，天行疫瘴，膀胱、腎間冷氣，攻衝背膂。婦人血氣，小兒腹中諸蟲。又云：去貓涎極妙。烏藥葉及根，嫩時採，作茶片炙碾煎服，能補中益氣，偏止小便滑數。</p>

<h3>乾漆</h3>
<p>氣溫、平，味辛。無毒。有毒。《本草》云：主絕傷，補中，續筋骨，填髓腦，安五臟。治五緩六急，風寒濕痹。療咳嗽，消瘀血痞結腰痛，女子疝瘕，利小腸，去蛔蟲。生漆，去長蟲，半夏為之使。畏雞子。忌油脂。</p>

<h3>皂莢</h3>
<p>氣溫，味辛、咸。有小毒。</p>
<p>引入厥陰經藥。</p>
<p>《本草》云：主風痹死肌邪氣，風頭淚出，利九竅，療腹脹滿，消穀，除咳嗽。治囊縮，婦人胞不落，明目，益精，可為沐藥，不入湯。</p>
<p>《日華子》云：通關節，除頭風，消痰，殺勞蟲，治骨蒸，開胃，破堅瘕，腹中痛，能墮胎。柏實為之使。惡麥門冬。畏空青、人參、苦參。</p>
<p>仲景治咳逆上氣，唾濁，但坐不得臥，皂莢丸主之。杵末，一物蜜丸桐子大，用棗湯服一丸，日三夜一。</p>
<p>《活人書》云：治陰毒，正陽散內用皂莢，引入厥陰也。用之有蜜炙、酥炙、燒灰之異，等分依方。</p>

<h3>竹葉</h3>
<p>氣平，味辛。又苦大寒，辛平。無毒。</p>
<p>《本草》云：主咳逆上氣，溢筋，急惡瘍，殺小蟲。除煩熱，風痙，喉痹，嘔吐。仲景竹葉湯用淡竹葉。</p>
<p>《心》云：除煩熱，緩皮而益氣。</p>
<p>《珍》云：陰中微陽，涼心經。</p>

<h3>竹茹</h3>
<p>氣微寒，味苦。</p>
<p>《本草》云：主嘔噦、溫氣、寒熱，吐血、崩中。溢筋。</p>

<h3>淡竹葉</h3>
<p>氣寒，味辛、平。</p>
<p>《本草》云：主胸中痰熱，咳逆上氣。</p>
<p>《藥性論》云：淡竹葉主吐血，熱毒風，壓丹石藥毒，止渴。</p>
<p>《日華子》云：淡竹及根，消痰，治熱狂煩悶，中風失音不語，壯熱頭痛，頭風，並懷孕婦人頭旋倒地，止驚悸，溫疫迷悶，小兒驚癇天吊。莖葉同用。見《局方本草》。今錄附於此。</p>

<h3>茗苦茶</h3>
<p>氣微寒，味苦、甘。無毒。</p>
<p>入手足厥陰經。</p>
<p>《液》云：臘茶是也。清頭目，利小便，消熱渴，下氣消食，令人少睡。中風昏憒，多睡不醒宜用此。入手足厥陰。茗苦茶，苦、甘微寒。無毒。主瘻瘡，利小便，去痰熱渴，治陰證湯藥內，用此，去格拒之寒。及治伏陽，大意相似。茶苦，經云：苦以泄之，其體下行，如何是清頭目。</p>

<h3>秦皮</h3>
<p>氣寒，味苦。無毒。</p>
<p>《液》云：主熱利下重，下焦虛。經云：以苦堅之。故用白頭翁、黃柏、秦皮，苦之劑也。治風寒濕痹，目中青翳白膜，男子少精，婦人帶下，小兒驚癇，宜作湯洗目，俗呼為白樳木。取皮漬水，浸出青藍色，與紫草同用，以增光暈尤佳。大戟為之使。惡吳茱萸。</p>

<h3>桑白皮</h3>
<p>氣寒，味苦、酸，甘而辛，甘厚辛薄。無毒。</p>
<p>入手太陰經。</p>
<p>《象》云：主傷中、五勞羸瘦，補虛益氣，除肺氣，止唾血、熱渴，消水腫，利水道。</p>
<p>《心》云：甘以固元氣，辛以瀉肺氣之有餘。</p>
<p>《本草》云：治傷中五勞六極羸瘦，崩中脈絕，補虛益氣。去肺中水氣，唾血熱渴，水腫，腹滿臚脹，利水道，去寸白，可縫金瘡。出土者，殺人。續斷、麻子、桂心為之使。忌鐵鉛。</p>

<h3>梓白皮</h3>
<p>氣寒，味苦。無毒。</p>
<p>《本草》云：主熱，去三蟲，治目中疾。生河內山谷，今近道皆有之。木似梧桐。</p>

<h3>紫葳</h3>
<p><u>即凌霄花</u></p>
<p>氣微寒，味酸。無毒。</p>
<p>《本草》云：主婦人產乳余疾，崩中，癥瘕血閉，寒熱羸瘦，養胎。莖、葉味苦，無毒，主痿蹶，益氣。</p>
<p>《日華子》云：根，治熱風身癢，遊風風疹。治瘀血帶下，花、葉功用同。又云：凌霄花，治酒齄，熱毒風刺，婦人血膈、遊風，崩中帶下。</p>
<p>《衍義》云：木也，紫葳花是也。畏滷咸。</p>

<h3>訶黎勒</h3>
<p>氣溫，味苦。苦而酸，性平，味厚，陰也，降也。苦重酸輕。無毒。</p>
<p>《象》云：主腹脹滿，不下飲食；消痰下氣，通利津液，破胸膈結氣；治久痢赤白，腸風。去核，搗細用。</p>
<p>《心》云：經曰肺苦氣上逆，急食苦以泄之，以酸補之。苦重瀉氣，酸輕不能補肺，故嗽藥中不用。俗名訶子、隨風子。</p>
<p>《本草》云：主冷氣，心腹滿，下食。仲景治氣痢，以訶黎勒十枚，麵裹，煻灰火中煨之。令面黃熟，去核，細研為末，和粥飲頓服。</p>
<p>《衍義》云：氣虛人亦宜緩緩煨熟，少服。此物能澀腸而又泄氣，蓋其味苦澀故爾。其子未熟時，風飄墮者，謂之隨風子。</p>

<h3>杜仲</h3>
<p>味辛、甘，平、溫，無毒。陽也，降也。</p>
<p>《本草》云：主腰脊痛。補中、益精氣，堅筋骨，強志；除陰下濕癢，小便餘瀝，腳中痠疼，不欲踐地。久服，輕身、耐老。惡蛇蛻皮、玄參。</p>
<p>《日華子》云：暖，治腎勞，腰脊攣，入藥炙用。</p>

<h3>琥珀</h3>
<p>氣平，味甘，陽也。</p>
<p>《珍》云：利小便，清肺。</p>
<p>《本草》云：安五臟，定魂魄，消瘀血，通五淋。杵細用。</p>
<p>《藥性論》云：君。治產後血疹痛。</p>
<p>《日華子》云：療蠱毒，壯心，明目磨翳；止心痛。癲邪，破癥結。</p>

<h3>郁李仁</h3>
<p>味苦、辛，陰中之陽。辛、苦，陰也。</p>
<p>《珍》云：破血潤燥。</p>
<p>《本草》云：郁李根主齒齦腫，齲齒；堅齒，去毒蟲。</p>
<p>《藥性論》云：根，治齒痛，宣結氣，破積聚。</p>
<p>《日華子》云：根，涼，無毒，治小兒發熱，作湯浴。風蚛牙，濃煎含之。</p>

<h3>巴豆</h3>
<p>氣溫，味辛，生溫、熟寒。有大毒。</p>
<p>《本草》云：主傷寒，溫瘧寒熱。破癥瘕結聚，堅積，留飲痰癖，大腹水脹。盪滌五臟六腑，開通閉塞。利水穀道，去惡肉，除鬼毒蠱疰邪物，殺蟲魚。療女子月閉，爛胎，金瘡膿血不利，丈夫陰㿗。殺斑蝥毒，健脾開胃。</p>
<p>易老云：斬關奪門之將，大宜詳悉，不可輕用。</p>
<p>《雷公》云：得火則良，若急治為水穀道路之劑，去皮心膜油，生用。若緩治，為消堅磨積之劑，炒煙去，令紫黑，研用。可以通腸，可以止泄，世所不知也。仲景治百病客忤，備急圓主之。巴豆、杏仁例，及加減寒熱佐使，五色並余例，並見《元戎》。</p>
<p>《珍》云：去胃中寒濕。</p>

<h3>芫花</h3>
<p>氣溫，味辛、苦。有小毒。</p>
<p>《本草》云：主咳逆上氣，喉鳴喘急，咽腫短氣，蠱毒鬼瘧，癰腫疝瘕。殺蟲魚。消胸中痰水，喜（聲去）唾，水腫，五水在五臟、皮膚及腰痛。下寒毒、肉毒。久服令人虛。仲景治太陽中風，脅下痛，嘔逆者，可攻，十棗湯主之。</p>
<p>《液》云：胡洽治痰癖飲，加以大黃、甘草，五物同煎。以相反主之，欲其大吐也。治之大略，水者，肺、腎、胃三經所主，有五臟、六腑、十二經之部分，上而頭，中而四肢，下而腰臍，外而皮毛，中而肌肉，內而筋骨。脈有尺寸之殊，浮沉之異，不可輕瀉，當知病在何經何臟，誤用則害深。然大意泄濕，內云五物者，即甘遂、大戟、芫花、大黃、甘草也。</p>

<h3>蘇木</h3>
<p>氣平，味甘、咸。甘而酸、辛，性平。甘勝於酸辛，陽中之陰。無毒。</p>
<p>《本草》云：主破血，產後血脹悶欲死者。排膿止痛，消癰腫瘀血，婦人月水不調及血暈口噤。</p>
<p>《心》云：性平，甘勝於酸辛。去風，與防風同用。</p>
<p>《珍》云：破死血。</p>

<h3>川楝子</h3>
<p>氣寒，味苦、平。有小毒。</p>
<p>《本草》云：治傷寒大熱煩躁，殺三蟲疥瘍，利小便。杵細用。</p>
<p>《珍》云：入心，主上下部腹痛。</p>

<h3>金鈴子</h3>
<p>酸苦，陰中之陽。</p>
<p>《珍》云：心暴痛，非此不能除。即川楝子也。</p>

<h3>沒藥</h3>
<p>味苦、平。無毒。</p>
<p>《本草》云：主破血止痛，療金瘡杖瘡，諸惡瘡，痔漏卒下血，目中翳，暈痛，膚赤。生波斯國，似安息香，其塊大小不定，黑色。</p>

<h3>梧桐淚</h3>
<p>味鹹。</p>
<p>《珍》云：瘰癧，非此不能除。</p>
<p>《本草》云：味鹹、苦、大寒。無毒。主大毒熱，心腹煩滿，水和服之取吐。又主牛馬急黃，黑汗，水研三、二兩，灌之，立瘥。</p>
<p>《日華子》云：治風蚛牙齒痛，殺火毒並面毒。</p>
<p>《海藥》云：主風疳䘌，齒牙疼痛，骨槽風勞。能軟一切物。多服，令人吐也。又為金銀焊藥。</p>

<h3>桑東南根</h3>
<p>《時習》云：根暖，無毒。研汁，治小兒天吊，驚癇客忤，及敷鵝口瘡，大效。</p>

<h2>果部</h2>

<h3>大棗</h3>
<p>氣溫，味甘，氣厚，陽也。無毒。</p>
<p>《珍》云：味甘，補經不足，以緩陰血。</p>
<p>《液》云：主養脾氣，補津液，強志。三年陳者，核中仁，主腹痛，惡氣卒疰忤，治心懸。經云：助十二經脈，治心腹邪氣，和百藥，通九竅，補不足氣。生者多食，令人腹脹注泄。蒸熟食，補腸胃，肥中益氣。中滿者勿食甘，甘者令人中滿，故大建中湯，心下痞者，減飴、棗，與甘草同例。</p>

<h3>生棗</h3>
<p>味甘、辛。</p>
<p>多食，令人多寒熱，羸瘦者不可食。葉，覆麻黃能令出汗。生河東平澤，殺烏頭毒。</p>

<h3>陳皮</h3>
<p>氣溫，味微苦。辛而苦，味厚，陰也。無毒。</p>
<p>《象》云：能益氣，加青皮，減半，去滯氣，推陳致新。若補脾胃，不去白；若調理胸中肺氣，須去白。</p>
<p>《心》云：導胸中滯氣，除客氣。有白朮，則補脾胃；無白朮，則瀉脾胃。然勿多用也。</p>
<p>《珍》云：益氣利肺。有甘草，則補肺；無甘草，則瀉肺。</p>
<p>《本草》云：主胸中痰熱、逆氣，利水穀。下氣，止嘔咳。除膀胱留熱、停水、五淋，利小便。主脾不能消穀，氣衝胸中，吐逆霍亂。止瀉，去寸白蟲。能除痰，解酒毒。海藏治酒毒，葛根陳皮茯苓甘草生薑湯。手太陰氣逆，上而不下，宜以此順之。陳皮、白檀為之使。其芳香之氣，清奇之味，可以奪橙也。</p>

<h3>青皮</h3>
<p>氣溫，味辛。苦而辛，性寒，氣厚，陰也。</p>
<p>足厥陰經引經藥，又入手少陽經。</p>
<p>《象》云：主氣滯，消食，破積結膈氣。去穰。</p>
<p>《心》云：厥陰經引經藥也。有滯氣則破滯氣，無滯氣則損真氣。</p>
<p>《液》云：主氣滯，下食，破積結及膈氣。或云與陳皮一種。青皮小而未成熟，成熟而大者橘也，色紅故名紅皮，日久者佳，故名陳皮。如枳實、枳殼一種，「實」小而青，未穰；「殼」大而黃紫色，已穰。故殼高而治胸膈；實低而治心下。與陳皮治高，青皮治低同意。又云：陳皮、青皮二種，枳實、枳殼亦有二種。</p>

<h3>桃仁</h3>
<p>氣溫，味苦、甘、性平，苦重於甘，陰中陽也。無毒。</p>
<p>入手、足厥陰經。</p>
<p>《象》云：治大便血結、血秘、血燥，通潤大便。七宣丸中，專治血結，破血。以湯浸，去皮尖，研如泥用。</p>
<p>《心》云：苦以泄滯血，甘以生新血，故凝血須用。又去血中之熱。</p>
<p>《本草》云：主瘀血血閉，癥瘕邪氣。殺小蟲，止咳逆上氣，消心下堅。除卒暴擊血，通月水，止痛破血。入手足厥陰。</p>
<p>《衍義》云：老人虛秘，與柏子仁、火麻仁、松子仁，等分同研，熔白蠟，和丸如桐子大。以少黃丹湯下。仲景治中焦畜血用之。</p>

<h3>杏仁</h3>
<p>氣溫，味甘、苦，冷利。有小毒。</p>
<p>入手太陰經。</p>
<p>《象》云：除肺燥，治風燥在胸膈間。麩炒，去皮尖用。</p>
<p>《心》云：散結潤燥，散肺之風及熱，是以風熱嗽者用之。</p>
<p>《本草》云：咳逆上氣雷鳴，喉痹。下氣，產乳金瘡，寒心賁豚。驚癇，心下煩熱，風氣往來，時行頭痛。解肌，消心下急，殺狗毒。破氣，入手太陰。王朝奉治傷寒，氣上喘，沖逆者，麻黃湯內加杏仁、陳皮；若氣不喘，沖逆者，減杏仁、陳皮。知其能瀉肺也。《東垣》云：杏仁下喘，用治氣也。桃仁療狂，用治血也。桃、杏仁俱治大便秘，當以氣血分之。晝則難便，行陽氣也；夜則難便，行陰血也。大腸雖屬庚，為白腸，以晝夜言之，氣血不可不分也。年虛人大便燥秘、不可過泄者，脈浮在氣，杏仁、陳皮；脈沉在血，桃仁、陳皮。所以俱用陳皮者，以其手陽明病，與手太陰俱為表裡也。賁門上主往來，魄門下主收閉，故王氏言肺與大腸為通道也。</p>

<h3>烏梅</h3>
<p>氣平，味酸。酸溫，陽也。無毒。</p>
<p>《象》云：主下氣，除熱煩滿，安心調中，治痢止渴。以鹽為白梅，亦入除痰藥。去核用。</p>
<p>《心》云：收肺氣。</p>
<p>《本草》云：主肢體痛，偏枯不仁，死肌。去青黑痣惡疾，止下痢，好唾口乾，去骨間熱。又方，治一切惡瘡肉出，以烏梅燒為灰，杵末，敷上，惡肉立盡。仲景治吐蛔下利，烏梅丸。</p>

<h3>木瓜</h3>
<p>氣溫，味酸。</p>
<p>入手足太陰經。</p>
<p>《本草》云：治腳氣濕痹，邪氣霍亂，大吐下，轉筋不止。益肺而去濕，和胃而滋脾。</p>
<p>《衍義》云：木瓜得木之正，故入筋。以鉛白霜塗之，則失酸味，受金制也。此物入肝，故益筋與血。病腰腎腳膝無力，此物不可缺也。</p>
<p>《東垣》云：氣脫則能收，氣滯則能和。</p>
<p>《雷公》云：調榮衛，助穀氣是也。</p>

<h3>甘李根白皮</h3>
<p>《時習》云：根皮大寒，主消渴，止心煩，氣逆奔豚。仲景奔豚湯中用之。</p>

<h1>卷之六</h1>

<h2>菜部</h2>

<h3>荊芥穗</h3>
<p>氣溫，味辛、苦。</p>
<p>《本草》云：辟邪毒，利血脈，通宣五臟不足氣。能發汗，除勞渴。杵，和醋，封毒腫。去枝、梗，手搓碎用，治產後血暈如神。動渴疾。多食，薰五臟神。破結氣。</p>

<h3>生薑</h3>
<p>氣溫，味辛。辛而甘，微溫，氣味俱輕，陽也。無毒。</p>
<p>《象》云：傷寒頭痛鼻塞，咳逆上氣。止嘔吐，治痰嗽。生與干同治。與半夏等分，治心下急痛，鎆細用。</p>
<p>《心》云：能製半夏、厚朴之毒。發散風寒，益元氣，大棗同用。辛溫，與芍藥同用，溫經散寒，嘔家之聖藥也。辛以散之，嘔為氣不散也。此藥能行陽而散氣。</p>
<p>《珍》云：益脾胃、散風寒。久服，去臭氣、通神明。</p>
<p>孫真人云：為嘔家之聖藥。</p>
<p>或問東垣曰：生薑辛溫入肺，如何是入胃口？曰：俗皆以心下為胃口者，非也。咽門之下，受有形之物，系胃之繫，便為胃口。與肺同處，故入肺而開胃口也。又問曰：人云：夜間勿食生薑，食則令人閉氣，何也？曰：生薑辛溫，主開發，夜則氣本收斂，反食之開發其氣，則違天道，是以不宜食，此以平人論之可也。若有病則不然。姜屑比之乾薑，不熱；比之生薑，不潤。以乾生薑代乾薑者，以其不僭故也。</p>
<p>《本草》云：秦椒為之使。殺半夏、莨菪毒。惡黃芩、黃連、天鼠糞。</p>

<h3>乾薑</h3>
<p>氣熱，味大辛。辛，大熱，味薄氣厚，陽中之陽也。辛、溫。無毒。</p>
<p>《象》云：治沉寒痼冷，腎中無陽，脈氣欲絕，黑附子為引，用水煎二物，名姜附湯。亦治中焦有寒。水洗，慢火炮。</p>
<p>《心》云：發散寒邪，如多用則耗散元氣，辛以散之，是壯火食氣故也，須以生甘草緩之。辛熱，散裡寒，散陰寒、肺寒，與五味同用，治嗽，以勝寒蛔。正氣虛者，散寒，與人參同補藥，溫胃腹中寒，其平以辛熱。</p>
<p>《珍》云：寒淫所勝，以辛散之。經炮則味苦。</p>
<p>《本草》云：主胸滿咳逆上氣，溫中止血，出汗。逐風濕痹，腸澼下利，寒冷腹痛，中惡霍亂，脹滿，風邪諸毒，皮膚間結氣。止唾血，生者尤良，主胸滿，溫脾燥胃，所以理中，其實主氣而泄脾。</p>
<p>易老云：乾薑能補下焦，去寒，故四逆湯用之。乾薑本味辛，及見火候，稍苦，故止而不移，所以能治裡寒。非若附子行而不止也。理中湯用此者，以其四順也。</p>
<p>或云：乾薑味辛熱，人言補脾，今言泄而不言補者，何也？東垣謂：泄之一字，非泄脾之正氣也，是泄脾中寒濕之邪，故以姜辛熱之劑燥之，故曰泄脾也。</p>

<h3>薄荷</h3>
<p>氣溫，味辛、苦，辛、涼。無毒。</p>
<p>手太陰經、厥陰經藥。</p>
<p>《象》云：能發汗，通骨節，解勞乏。與薤相宜。新病瘥人，勿多食，令虛汗出不止。去枝、梗，搓碎用。</p>
<p>《心》云：上行之藥。</p>
<p>陳士良云：能引諸藥入榮衛，又主風氣壅並。</p>

<h3>蔥白</h3>
<p>氣溫，味辛。無毒。</p>
<p>入手太陰經、足陽明經。</p>
<p>《液》云：以通上下之陽也。《活人書》：傷寒頭痛如破，連須蔥白湯主之。</p>
<p>《心》云：通陽氣，辛而甘，氣厚味薄，陽也。發散風邪。</p>
<p>《本草》云：蔥實，主明目，補中不足。其莖白，平。可作湯，主傷寒寒熱，出汗，中風，面目腫，傷寒骨肉痛，喉痹不通；安胎，歸目，除肝邪氣；安中，利五臟，益目精，殺百藥毒。蔥根，主傷寒頭痛。蔥汁，平溫，主溺血，解藜蘆毒。</p>

<h3>韭白</h3>
<p>氣溫，味辛，微酸。無毒。</p>
<p>《本草》云：歸心，安五臟，除胃中熱，利病人，可久食。子，主夢泄精，溺白。根，養髮。陰物變為陽。</p>

<h3>薤白</h3>
<p>氣溫，味苦、辛。無毒。</p>
<p>入手陽明經。</p>
<p>《本草》云：主金瘡瘡敗。輕身不飢，耐老。除寒熱，去水氣，溫中散結，利病人。諸瘡中風寒水腫，以此塗之。下重者，氣滯也。四逆散加此，以泄氣滯。</p>
<p>《心》云：治泄痢下重，下焦氣滯，泄滯氣。</p>

<h3>瓜蒂</h3>
<p>氣寒，味苦。有毒。</p>
<p>《本草》云：治大水，身面四肢浮腫，下水，殺蠱毒。咳逆上氣，及食諸果，病在胸腹中者，皆吐下之。去鼻中息肉，療黃疸，鼻中出黃水。除偏頭疼，有神，頭目有濕，宜此。瓜蒂苦，以治胸中寒，與白虎同例，俱見知母條下。與麝香、細辛為使。治久不聞香臭。仲景鈐方：瓜蒂一十四個，丁香一個，黍米四十九粒，為末，含水㗜一字，取下。</p>

<h3>冬葵子</h3>
<p>氣寒，味甘。無毒。</p>
<p>《本草》云：主五臟六腑寒熱羸瘦，五癃，利小便。療婦人乳難內閉。久服，堅筋骨，長肌肉，輕身。</p>
<p>《衍義》云：性滑利，不益人。患癰癤，毒熱內攻，未出膿者，水吞三五粒，遂作竅，膿出。</p>

<h3>蜀葵花</h3>
<p>冷，陰中之陽。</p>
<p>《珍》云：赤者，治赤帶；白者，治白帶；赤治血燥，白治氣燥。</p>

<h3>香薷</h3>
<p>味辛，微溫。</p>
<p>《本草》云：主霍亂腹痛吐下，散水腫。</p>

<h3>炊單布</h3>
<p>《液》云：仲景治墜馬，及一切筋骨損方中用。《時習》補入。</p>

<h2>米穀部</h2>

<h3>粳米</h3>
<p>氣微寒，味甘、苦。甘平。無毒。</p>
<p>入手太陰經、少陰經。</p>
<p>《液》云：主益氣，止煩、止渴、止泄。與熟雞頭相合，作粥食之，可以益精強志，耳目聰明。本草諸家共言益脾胃，如何白虎湯用之入肺？以其陽明為胃之經，色為西方之白，故入肺也。然治陽明之經，即在胃也。色白，味甘寒，入手太陰。又少陰證桃花湯用此，甘以補正氣；竹葉石膏湯用此，甘以益不足。</p>
<p>《衍義》云：平和五臟，補益胃氣，其功莫逮。然稍生，則復不益脾；過熟，則佳。</p>

<h3>赤小豆</h3>
<p>氣溫，味辛、甘、酸，陰中之陽。無毒。</p>
<p>《本草》云：主下水，排膿，寒熱熱中消渴。止泄，利小便，吐逆卒澼，下脹滿。又治水腫，通健脾胃。赤小豆，食之行小便，久食則虛人，令人黑瘦枯燥。赤小豆花，治宿酒渴病，即腐婢也。花有腐氣，故以名之。與葛花末，服方寸匕，飲酒不知醉。氣味平辛。大豆黃卷，是以生豆為糵，待其芽出，便曝乾用。方書名黃卷皮，產婦藥中用之。性平。</p>

<h3>黑大豆</h3>
<p>氣平，味甘。</p>
<p>《本草》云：塗癰腫。煮汁飲，殺鬼毒，止痛。解烏頭毒，除胃中熱痹。傷中淋露，逐水脹，下瘀血。久服，令人身重。炒令黑，煙未斷，熱投酒中，治風痹癰瘓，口噤，產後諸風。食罷，生服半掬，去心胸煩熱。明目鎮心，不忘。惡五參、龍膽。得前胡、烏喙、杏仁、牡蠣良。</p>

<h3>大麥糵</h3>
<p>氣溫，味甘、咸。無毒。</p>
<p>《象》云：補脾胃虛，寬腸胃。先杵細，炒黃，取面用。</p>
<p>《本草》云：能消化宿食，破癥結冷氣，去心腹脹滿。開胃，止霍亂，除煩去痰。治產後秘結，鼓脹不通。大麥糵並神麯二藥，氣虛人宜服，以代戊己，腐熟水穀。與豆蔻、縮砂、木瓜、芍藥、五味子、烏梅為之使。</p>

<h3>小麥</h3>
<p>氣微寒，味甘。無毒。</p>
<p>《本草》云：除熱，止燥渴、咽乾，利小便，養肝氣，止漏血、唾血。青蒿散有小麥百粒，治大人、小兒骨蒸肌熱，婦人勞熱。</p>

<h3>神麯</h3>
<p>氣暖，味甘。</p>
<p>入足陽明經。</p>
<p>《象》云：消食，治脾胃食不化，須於脾胃藥中少加之。微炒黃用。</p>
<p>《珍》云：益胃氣。</p>
<p>《本草》云：療臟腑中風氣，調中下氣，開胃消宿食。主霍亂，心膈氣痰逆。除煩，破癥結及補虛，去冷氣，除腸胃中塞，不下食。令人好顏色。落胎，下鬼胎。又能治小兒腹堅大如盤，胸中滿，胎動不安。或腰痛搶心，下血不止。火炒以助天五之氣，入足陽明。</p>

<h3>酒</h3>
<p>氣大熱，味苦、甘、辛。有毒。</p>
<p>《本草》云：主行藥勢，殺百邪惡毒氣。能行諸經不止，與附子相同。味辛者能散，味苦者能下，味甘者居中而緩也。為導引，可以通行一身之表，至極高之分。若味淡者，則利小便而速下。大海或凝，惟酒不冰。三人晨行，遇大寒，一人食粥者病；一人腹空者死；一人飲酒者，安。則知其大熱也。</p>

<h3>苦酒</h3>
<p><u>一名醋，一名醯</u></p>
<p>氣溫，味酸。無毒。</p>
<p>《液》云：斂咽瘡，主消癰腫，散水氣，殺邪毒。余初錄《本草》苦酒條。《本經》一名醯，又一名苦酒，如為一物也。及讀《金匱》，治黃疸，有麻黃醇酒湯：右以美清酒五升，煮二升，苦酒也。前治黃汗，有黃耆芍藥桂枝苦酒湯。</p>

<h3>飴</h3>
<p><u>即膠飴</u></p>
<p>氣溫，味甘。無毒。</p>
<p>入足太陰經藥。</p>
<p>《液》云：補虛乏，止渴，去血。以其色紫凝如深琥珀色，謂之膠飴。色白而枯者，非膠飴，即餳糖也，不入藥用。中滿不宜用，嘔家切忌。為足太陰經藥。仲景謂，嘔家不可用建中湯，以甘故也。</p>

<h3>香豉</h3>
<p>氣寒，味苦，陰也。無毒。</p>
<p>《象》云：治傷寒頭痛，煩躁滿悶。生用。</p>
<p>《珍》云：去心中懊憹。</p>
<p>《本草》云：主傷寒頭痛，寒熱。傷寒初覺頭痛內熱，脈洪，起一二日，便作此加減蔥豉湯：蔥白一虎口，豉一升，綿裹。以水三升，煎取一升，頓服取汗。若不汗，加葛根三兩，水五升，煮二升，分二服。又不汗，加麻黃三兩，去節。</p>

<h2>玉石部</h2>

<h3>石膏</h3>
<p>氣寒，味甘、辛，微寒。大寒。無毒。</p>
<p>入手太陰經、少陽經，足陽明經。</p>
<p>《象》云：治足陽明經中熱，發熱，惡熱，燥熱，日晡潮熱，自汗，小便濁赤，大渴引飲，肌肉壯熱，苦頭痛之藥，白虎湯是也。善治本經頭痛，若無此有餘證，勿用。</p>
<p>《心》云：細理白澤者良，甘寒。胃經大寒藥，潤肺除熱，發散陰邪，緩脾益氣。</p>
<p>《珍》云：辛甘，陰中之陽。止陽明經頭痛。胃弱不可服。下牙痛，須用香白芷為引。</p>
<p>《本草》云：主中風寒熱，心下逆氣，驚喘，口乾舌焦，不能息，腹中堅痛，除邪鬼，產乳金瘡。除時氣頭痛，身熱，三焦大熱，皮膚熱，腸胃中膈氣。解肌發汗，止消渴煩逆，腹脹，暴氣喘息，咽熱。亦可作浴湯。</p>
<p>太上云：石膏發汗。辛寒，入手太陰也。《東垣》云：微寒，足陽明也。又治三焦皮膚大熱，手少陽也。仲景治傷寒陽明證，身熱，目痛鼻乾，不得臥。身已前，胃之經也；胸，胃肺之室。邪在陽明，肺受火制，故用辛寒以清肺，所以號為白虎湯也。雞子為之使。惡莽草、馬目毒公。</p>
<p>《藥性論》云：石膏，使。惡巴豆。《唐本》注：療風去熱，解肌。</p>

<h3>滑石</h3>
<p>氣寒，味甘。大寒。無毒。</p>
<p>入足太陽經。</p>
<p>《象》云：治前陰不利，性沉重，能泄上氣令下行。故曰滑則利竅。不可與淡滲同用。白者佳。杵細、水飛用。</p>
<p>《本草》云：主身熱泄澼，女子乳難，癃閉。利小便，蕩腸胃積聚寒熱，益精氣。通九竅六腑津液，去留結，止渴，令人利中。入足太陽。滑能利竅，以通水道，為至燥之劑。豬苓湯，用滑石與阿膠同為滑利，以利水道。蔥、豉、生薑同煎去渣，澄清以解利。淡味滲泄為陽，解表、利小便也。若小便自利，不宜以此解之。</p>
<p>《衍義》云：暴吐逆，不下食，以生細末二錢匕，溫水調服，後以熱面壓之。</p>

<h3>朴硝</h3>
<p>氣寒，味苦辛。</p>
<p>《象》云：除寒熱邪氣，逐六腑積聚，結痼留癖，胃中食飲熱結。去血閉，停痰痞滿。消毒。揉細，生用。</p>

<h3>盆硝</h3>
<p><u>即芒硝</u></p>
<p>氣寒，味鹹。</p>
<p>《心》云：去實熱。《經》云：熱淫於內，治以鹹寒，此之謂也。</p>
<p>《珍》云：純陰，熱淫於內，治以鹹寒。</p>
<p>《本草》云：主五臟積聚，久熱胃閉。除邪氣，破留血，腹中痰實結搏。通經脈及月水，破五淋。消腫毒，療天行熱病。</p>
<p>《藥性論》云：使。味鹹。有小毒。通月閉癥瘕，下瘰癧，黃疸，主漆瘡，散惡血。</p>
<p>《聖惠方》云：治代指用芒硝煎湯，淋漬之，愈。</p>

<h3>硝石</h3>
<p>氣寒，味甘、辛。一作苦、辛，大寒。無毒。又云：咸。又云：甜，甜微緩於咸。</p>
<p>《液》云：硝石者硝之總名也。但不經火者謂之生硝、朴硝，經火者謂之盆硝、芒硝。古人用辛，今人用鹹。辛能潤燥，咸能軟堅，其意皆是，老弱虛人可下者宜用。若用此者，以玄明粉代之尤佳。《本經》謂利小便而墮胎，傷寒妊娠可下者用此，兼以大黃引之，直入大腸，潤燥、軟堅、瀉熱，子母俱安。《內經》云：有故無殞，亦無殞也。此之謂歟。以在下言之，則便溺俱陰；以前後言之，則前氣後血；以腎言之，總主大小便難。溺澀秘結，俱為水少。《經》云：熱淫於內，治以鹹寒，佐以苦。故以芒硝、大黃，相須為使也。</p>

<h3>玄明粉</h3>
<p>氣冷，味辛、甘。無毒。</p>
<p>《液》云：治心熱煩躁，五臟宿滯，癥瘕。明目，逐膈上虛熱，消腫毒。注中有治陰毒一句，非伏陽不可用。若止用此除陰毒，殺人甚速。牙硝條下，太清煉靈砂補註，謂陰極之精，能化火石之毒。</p>
<p>《仙經》云：陰中有陽之物。</p>

<h3>硫黃</h3>
<p>氣溫，大熱，味酸，有毒。</p>
<p>《本草》云：主婦人陰蝕，疽痔，惡血。堅筋骨，除頭禿。療心腹積聚邪氣，冷癖在脅，咳逆上氣，腳冷疼弱無力，及鼻衄，惡瘡，下部䘌瘡。止血，殺疥蟲。</p>
<p>《液》云：如太白丹佐以硝石，來復丹用硝石之類，至陽佐以至陰，與仲景白通湯佐以人溺、豬膽汁，大意相同，所以去格拒之寒。兼有伏陽，不得不爾；如無伏陽，只是陰證，更不必以陰藥佐之也。硫黃亦號將軍，功能破邪歸正，返滯還清，挺出陽精，消陰、化魄、生魂。</p>

<h3>雄黃</h3>
<p>氣溫，寒，味苦、甘。有毒。《本草》云：主寒熱鼠瘻惡瘡，疽痔死肌。療疥蟲䘌瘡，目痛，鼻中息肉，及絕筋破骨，百節中大風，積聚癖氣，中惡，腹痛，鬼疰。</p>

<h3>赤石脂</h3>
<p>氣大溫，味甘、酸、辛。無毒。</p>
<p>《本草》：主養心氣，明目益精。療腹痛泄澼，下利赤白，小便利，及癰疽瘡痔，女子崩中漏下，產難，胞衣不出。久服，補髓、好顏色、益老不飢、輕身延年。五色石脂，各入五臟補益。</p>
<p>《東垣》云：赤石脂、白石脂並溫無毒。畏黃芩、芫花，惡大黃。</p>
<p>《本經》云：澀可去脫，石脂為收斂之劑。胞衣不出，澀劑可以下之。赤入丙、白入庚。</p>
<p>《珍》云：赤、白石脂俱甘酸，陽中之陰，固脫。</p>
<p>《心》云：甘溫，篩末用。去脫，澀以固腸胃。</p>
<p>《局方本草》云：青石脂，養肝膽氣，明目；黑石脂，養腎氣，強陰，主陰蝕瘡；黃石脂，養脾氣，除黃疸。余與赤、白同功。</p>

<h3>禹餘糧</h3>
<p>氣寒，味甘。無毒。</p>
<p>《本草》云：主咳逆寒熱煩滿，下痢赤白，血閉，癥瘕大熱。</p>
<p>《本經》云：重可去怯。禹餘糧之重，為鎮固之劑。</p>
<p>《本草》注云：仲景治傷寒下痢不止，心下痞硬，利在下焦者，赤石脂禹餘糧湯主之。赤石脂、禹餘糧各一斤。並碎之，以水六升，煎取二升，去渣，分二服。</p>
<p>《雷公》云：看如石，輕敲便碎，可如粉也。兼重重如葉子雌黃，此能益脾，安五臟。</p>

<h3>代赭石</h3>
<p>氣寒，味甘、苦。無毒。一名須丸。出姑幕者，為須丸；出代郡者，名代赭。入手少陰經、足厥陰經。</p>
<p>《本草》云：主鬼疰，賊風蠱毒。殺精物惡鬼，腹中毒邪氣，女子赤沃漏下，帶下百病，產難，胞衣不出，墮胎。養血，除五臟血脈中熱，血痹，血瘀，大人、小兒驚氣入腹，及陰痿不起。</p>
<p>《聖濟經》云：怯則氣浮，重則所以鎮之。怯者亦驚也。</p>

<h3>鉛丹</h3>
<p>氣微寒，味辛。黃丹也。</p>
<p>《本草》云：主吐逆反胃，驚癇癲疾，除熱下氣。止小便利，除毒熱筋攣，金瘡溢血。</p>
<p>又云：鎮心安神，止吐血。</p>
<p>《本經》云：澀可去脫而固氣。</p>
<p>成無己云：鉛丹收斂神氣，以鎮驚也。</p>
<p>《藥性論》云：君。治消渴。煎膏，止痛、生肌。</p>

<h3>白粉</h3>
<p>《本草》云：一名胡粉，一名定粉，一名瓦粉。仲景豬膚湯用白粉，非此白粉，即白米粉也。黃延非治胸中寒，是治胸中塞，誤寫作寒字。</p>
<p>《藥性論》云：胡粉，使。又名定粉，味甘、辛。無毒。能治積聚不消，焦炒，止小兒疳痢。</p>
<p>陳藏器云：主久痢成疳，粉和水及雞子白服，以糞黑為度。為其殺蟲而止痢也。</p>

<h3>紫石英</h3>
<p>氣溫，味甘、辛，無毒。入手少陰經、足厥陰經。</p>
<p>《本草》云：主心腹咳逆邪氣，補不足，女子風寒在子宮，絕孕十年無子。療上氣，心腹痛，寒熱邪氣，結氣。補心氣不足，定驚悸，安魂魄，填下焦，止消渴。除胃中久寒，散癰腫。令人悅澤。久服溫中，輕身延年。得茯苓、人參、芍藥，共療心中結氣；得天雄、菖蒲，共療霍亂。長石為之使。畏扁青、附子，不欲鮀甲、黃連、麥句姜。</p>
<p>《衍義》云：仲景治風熱瘛瘲，風引湯。紫石英、白石英、寒水石、石膏、乾薑、大黃、龍齒、牡蠣、甘草、滑石等分。上㕮咀，以水一升，煎去三分。食後，量多少溫呷之。不用渣，立效。</p>

<h3>伏龍肝</h3>
<p>氣溫，味辛。</p>
<p>《時習》云：主婦人崩中吐血。止咳逆，止血，消癰腫。</p>
<p>《衍義》云：婦人惡露不止，蠶沙一兩（炒），伏龍肝半兩，阿膠一兩。同為末，溫酒調，空心服三二錢。以止為度。</p>
<p>《藥性論》云：單用亦可。咸。無毒。</p>
<p>《日華子》云：熱，微毒。治鼻洪，腸風，帶下，血崩，泄精尿血，催生下胞，及小兒夜啼。一云：治心痛及中風心煩。陶隱居云：此灶中對釜月下黃土也。</p>

<h3>白礬</h3>
<p>氣寒，味酸。無毒。</p>
<p>《本草》云：主寒熱泄瀉下痢，白沃，陰蝕惡瘡。消痰止渴，除痼熱。治咽喉閉，目痛。堅骨齒。</p>
<p>《藥性論》云：使，有小毒，生含咽津，治急喉痹。</p>

<h3>硃砂</h3>
<p>味甘。</p>
<p>《珍》云：心熱者，非此不能除。</p>
<p>《局方本草》云：丹朱味甘，微寒。無毒。養精神，安魂魄，益氣明目，通血脈，止煩渴。</p>
<p>《藥性論》云：君。有大毒。鎮心，主抽風。</p>
<p>《日華子》云：涼，微毒。潤心肺。惡磁石，畏鹹水。</p>

<h3>硇砂</h3>
<p>味鹹。</p>
<p>《本草》云：破堅癖，獨不用，入群隊用之。味鹹、苦、辛，溫。有毒，不宜多服。主積聚，破結血。爛胎，止痛，下氣，療咳嗽宿冷。去惡肉，生好肌。柔金銀，可為焊藥。《藥性論》云：有大毒。畏漿水，忌羊血。味酸鹹。能腐壞人腸胃，生食之化人心為血。能除冷病，大益陽事。</p>
<p>《日華子》云：北庭砂，味辛、酸，暖。無毒。畏一切酸。補水臟，暖子宮，消冷癖瘀血，宿食，氣塊痃癖，及婦人血氣心痛，血崩帶下。凡修制，用黃丹、石灰作匱，煅赤使用。無毒。柔金銀，驢馬藥亦用。</p>

<h3>東流水</h3>
<p>味平。無毒。</p>
<p>《時習》云：千里水及東流水，主病後虛弱。揚之萬過，煮藥，收禁神效。二者皆堪盪滌邪穢。此水潔淨，誠與諸水不同。為雲母所畏，煉雲母粉用之。</p>

<h3>甘瀾水</h3>
<p>《時習》云：揚之水上成珠者是也。治霍亂，及入膀胱。治奔豚藥用之，殊勝。</p>

<h2>禽部</h2>

<h3>雞子黃</h3>
<p>氣溫，味甘。</p>
<p>《本草》云：陰不足，補之以血。若咽有瘡，雞子一枚，去黃，苦酒傾殼中，以半夏入苦酒中，取殼，置刀環上，熬微沸。去渣，旋旋呷之。又主除熱，火瘡癇痙。可作琥珀神物。黃，和恆山末，為丸，竹葉湯服，治久瘧不差；黃，合鬚髮煎，消為水，療小兒驚熱、下痢。</p>

<h2>獸部</h2>

<h3>龍骨</h3>
<p>氣平微寒，味甘。陽也。無毒。</p>
<p>《本草》云：主心腹鬼疰，精物老魅，咳逆，泄利膿血，女子漏下，癥瘕堅結，小兒熱氣驚癇。療心腹煩滿，四肢痿枯，汗出，夜臥自驚。恚怒伏氣在心下，不得喘息。腸癰內疽，陰蝕。止汗，縮小便，溺血。養精神，定魂魄，安五臟。</p>
<p>《本經》云：澀可去脫而固氣。</p>
<p>成無己云：龍骨、牡蠣、鉛丹，皆收斂神氣以鎮驚。凡用，燒通赤為粉。畏石膏。</p>
<p>《珍》云：固大腸脫。</p>

<h3>麝香</h3>
<p>氣溫，味辛。無毒。</p>
<p>《本草》云：主辟惡氣。殺鬼精物，療溫瘧，蠱毒癇痙，去三尸蟲。療諸凶邪鬼氣，中惡心腹暴痛，脹急痞滿，風毒。婦人產難，墮胎。</p>

<h3>牛黃</h3>
<p>氣平，味苦。有小毒。</p>
<p>《本草》云：主驚癇寒熱，熱盛狂痙。逐鬼除邪。療小兒百病，諸癇熱，口噤不開，大人癲狂。又墮胎。久服，令人不忘。又云：磨指甲上黃者，為真。又云：定魂魄。人參為使。得牡丹、菖蒲，利耳目。惡龍骨、龍膽、地黃，畏牛漆。</p>

<h3>犀角</h3>
<p>氣寒，味苦。酸、咸，微寒。無毒。</p>
<p>《象》云：治傷寒溫疫頭痛，安心神，止煩亂，明目鎮驚。治中風失音，小兒麩豆，風熱驚癇。鎊用。</p>
<p>《本草》云：主百毒蠱疰，邪鬼瘴氣。殺鉤吻、鴆羽、蛇毒，除邪，不迷惑，魘寐。療傷寒溫疫頭痛、寒熱，諸毒氣。能治一切瘡腫，破血。</p>
<p>《液》云：升麻代犀角說，並見升麻條下。易老療畜血分三部：上焦畜血，犀角地黃湯；中焦畜血，桃仁承氣湯；下焦畜血，抵當湯、丸，丸但緩於湯耳。三法的當，後之用者，無以復加。</p>

<h3>阿膠</h3>
<p>氣微溫，味甘平。無毒。甘，平。味薄，氣升陽也。</p>
<p>入手太陰經、足少陰經、厥陰經。</p>
<p>《象》云：主心腹痛內崩。補虛安胎，堅筋骨，和血脈，益氣止痢。炮用。</p>
<p>《心》云：補肺金氣不足。除不足，甘溫補血。出東阿，得火良。</p>
<p>《本草》云：主心腹內崩，勞極，洒洒如瘧狀。腰腹痛，四肢痠痛，女子下血，安胎，丈夫小腹痛。虛勞羸瘦。陰氣不足，腳痛，不能久立。養肝氣，益肺氣。肺虛極損。咳嗽，唾膿血，非阿膠不補。仲景豬苓湯，用阿膠，滑以利水道。《活人書》四物湯加減例，妊娠下血者，加阿膠。</p>

<h3>豬膚</h3>
<p>氣寒，味甘。</p>
<p>入足少陰經。</p>
<p>《液》云：豬皮，味甘，寒。豬，水畜也，其氣先入腎。解少陰客熱，是以豬膚解之，加白蜜，以潤燥除煩；白粉，以益氣斷痢。</p>

<h3>豬膽汁</h3>
<p>氣寒，味苦、咸。苦，寒。</p>
<p>《液》云：仲景白通湯，加此汁，與人尿鹹寒，同與熱劑合，去格拒之寒。又，與醋相合，內穀道中，酸苦益陰，以潤燥瀉便。</p>
<p>《本經》云：治傷寒熱渴。又：白豬蹄，可用；雜青色者，不可食，療疾亦不可。</p>
<p>《心》云：與人尿同體，補肝而和陰引置陽，不被格拒，能入心而通脈。</p>

<h3>獺肝</h3>
<p>味甘。有毒。</p>
<p>《本草》云：主鬼疰、蠱毒，卻魚鯁，止久嗽。燒灰服之。</p>

<h3>豭鼠糞</h3>
<p>治傷寒勞復。《經》言：牡鼠糞兩頭尖者是。或在人家，諸物中遺者。</p>

<h3>人尿</h3>
<p>《時習》云：療寒熱頭疼，溫氣。童男子者，尤良。</p>
<p>《衍義》云：人尿，須用童男者，產後溫一杯，壓下敗血惡物。久服，令人反虛。氣血無熱，尤不可多服。此亦性寒，故治熱勞方中亦用也。</p>
<p>《日華子》云：小便，涼。止勞渴嗽，潤心肺，療血悶熱狂，撲損瘀血，運絕，及蛇犬等咬，以熱尿淋患處。難產胞衣不下，即取一升，用薑、蔥煎，乘熱飲，即下。</p>

<h2>虫部</h2>

<h3>牡蠣</h3>
<p>氣微寒，味鹹，平。無毒。</p>
<p>入足少陰經。</p>
<p>《象》云：治傷寒寒熱溫瘧，女子帶下赤白，止汗，止心痛氣結。澀大小腸，治心脅痞。燒，白研，細用。</p>
<p>《珍》云：能軟積氣之痞。《經》曰：咸能軟堅。</p>
<p>《心》云：咸，平。熬，泄水氣。</p>
<p>《本草》云：主傷寒寒熱，溫瘧洒洒，驚恚怒氣。除拘緩，鼠瘻，女子帶下赤白。除留熱在關節，榮衛虛熱，往來不定，煩滿。止汗，心痛氣結。止渴，除老血。澀大小腸，止大小便。療泄精，喉痹咳嗽，心脅下痞熱。能去瘰癧，一切瘡腫。入足少陰。咸為軟堅之劑，以柴胡引之，故能去脅下之硬；以茶引之，能消結核；以大黃引之，能除股間腫；地黃為之使，能益精收澀，止小便，本腎經之藥也。久服，強骨節，殺鬼延年。貝母為之使。得甘草、牛膝、遠志、蛇床子，良。惡麻黃、吳茱萸、辛夷。</p>
<p>《藥性論》云：君主之劑。治女子崩中，止血及盜汗，除風熱，定痛。治溫瘧。又和杜仲服，止盜汗。為末蜜丸，服三十丸，令人面光白，永不值時氣。又治鬼交精出，病人虛而多熱，加用之，並地黃、小草。</p>
<p>陳士良云：牡蠣搗粉粉身，治大人小兒盜汗。和麻黃根、蛇床子、乾薑為粉，粉身，去陰汗。《衍義》意同。</p>

<h3>文蛤</h3>
<p>氣平，味鹹。無毒。</p>
<p>《本草》云：主惡瘡，蝕五痔，咳逆胸痹，腰痛脅急，鼠瘻，大孔出血，崩中漏下。能利水。治急疳蝕口鼻，數日盡，欲死，燒灰，臘豬脂和塗之。墜痰軟堅，止渴，收澀固濟，蛤粉也。咸能走腎，可以勝水。文蛤尖而有紫斑。</p>

<h3>虻蟲</h3>
<p>氣微寒，味苦，平。有毒。</p>
<p>《本草》云：主目中赤痛，眥傷淚出，瘀血血閉，寒熱酸𢠹，無子。炒，去翅、足。</p>

<h3>水蛭</h3>
<p>氣微寒，味鹹、苦，平。有毒。</p>
<p>《本草》云：主逐惡血，瘀血月閉，破血瘕積聚，無子，利水道，墮胎。炒用。畏鹽。苦走血，咸勝血，仲景抵當湯用虻蟲、水蛭，鹹苦以泄畜血。故《經》云：有故無殞也。雖可用之，亦不甚安。莫若四物湯加酒浸大黃各半，下之極妙。</p>

<h3>䗪蟲</h3>
<p>味鹹，寒。有毒。</p>
<p>《本草》云：主心腹寒熱洒洒，血積癥瘕，破堅，下血閉，生子大良。仲景主治久瘕積結，有大黃䗪蟲丸。</p>
<p>《衍義》云：乳汁不行，研一枚，水半合，濾清汁服。勿令服藥人知之。</p>

<h3>鼠婦</h3>
<p>氣溫，微寒，味酸。無毒。</p>
<p>《本草》云：主氣癃不得小便，婦人月水閉，血瘕癇痙，寒熱，利水道。仲景治久瘧，大鱉甲丸中使之。以其主寒熱也。</p>
<p>《衍義》云：鼠婦，濕生蟲也。</p>

<h3>蜘蛛</h3>
<p>微寒。</p>
<p>《本草》云：主大人小兒㿗疝。七月七日取其網，療喜忘。仲景治雜病。狐疝，偏有大小，時時上下者，蜘蛛一十四個，熬焦，桂半兩。研細為散。八分匕，酒調服，日再。蜜丸亦通。</p>

<h3>蠐螬</h3>
<p>微寒，微溫，味鹹。有毒。</p>
<p>《本草》云：主惡血血瘀，痹氣破折，血在脅下，堅滿痛，月閉，目中淫膚，青翳白膜。吐血，在胸中不去，及破骨踒折血結。金瘡血塞。產後中寒，下乳汁。仲景治雜病方，大黃䗪蟲丸中用之，以其主脅下堅滿也。《續傳信方》治喉痹，取蟲汁點在喉中，下即喉開也。《時習》補入。</p>

<h3>蜜</h3>
<p>氣平，微溫，味甘。無毒。</p>
<p>《本草》云：主心腹邪氣，諸驚癇痙。安五臟諸不足，益氣補中，止痛解毒，除眾病，和百藥。養脾氣，除心煩，飲食不下，止腸澼，肌中疼痛，口瘡，明耳目。</p>
<p>《液》云：凡煉蜜，必須用火熬開，以紙覆，經宿，紙上去蠟盡，再熬色變，不可過度，令熟入藥。</p>

<h3>蜣螂</h3>
<p>氣寒，味酸。有毒。</p>
<p>《本草》云：治小兒驚風瘛瘲，腹脹寒熱，大人癲疾狂易。手足端寒，支滿奔豚。</p>
<p>《日華子》云：墮胎，治疰忤。和乾薑，傅惡瘡，出箭頭。</p>
<p>《圖經》云：心，主疔瘡。</p>
<p>《衍義》云：大小二種。一種大者，為胡蜣螂，身黑光，腹翼下有小黃子，附母飛行，晝不出，夜方飛至人家戶庭中，見燈光則來；一種小者，身黑暗，晝方飛出，夜不出。今當用胡蜣螂，以其小者，研三十枚，以水灌牛、馬腸結，佳。</p>

<h3>鱉甲</h3>
<p>氣平，味鹹。無毒。</p>
<p>《本草》云：主心腹癥瘕堅積，寒熱。去鼻中息肉，陰蝕，痔，惡肉。療溫瘧，血瘕，腰痛，小兒脅下堅。</p>
<p>《衍義》云：治勞瘦，除骨中熱，極佳。</p>

<h3>蛇蛻</h3>
<p>《心》云：去翳膜用之，取其意也。</p>
<p>《日華子》云：止嘔逆，小兒驚悸客忤，催生。癧瘍、白癜風，煎汁敷。入藥炙用。</p>

<h3>蟬蛻</h3>
<p>《心》云：治同蛇蛻。</p>
<p>《藥性論》云：使。治小兒渾身壯熱驚癇，兼能止渴。又云：其蛻殼，頭上有一角，如冠狀，謂之蟬花，最佳。味甘，寒。無毒。主小兒天吊，驚癇瘛瘲，夜啼，心悸。</p>

<h3>白殭蠶</h3>
<p>味鹹，辛平。無毒。</p>
<p>《本草》云：主小兒驚癇夜啼，去三蟲。滅黑䵟，令人面色好。男子陰瘍病，女子崩中赤白，產後余痛。滅諸瘡瘢痕。生潁川平澤，四月取自死者，勿令中濕。濕有毒，不可用。</p>

<h3>斑蝥</h3>
<p>味辛，寒。有毒。</p>
<p>《本草》云：主寒熱，鬼疰蠱毒，鼠瘻，疥癬，惡瘡疽蝕，死肌。破石癃血積，傷人肌，墮胎。畏巴豆。</p>

<h3>烏蛇</h3>
<p>《本草》云：主諸風瘙癮疹，疥癬，皮膚不仁，頑痹諸風。用之炙，入丸散，浸酒，合膏。背有三稜，色黑如漆，性善，不噬物。江東有黑稍蛇，能纏物至死，亦是其類。生商洛山。</p>

<h3>五靈脂</h3>
<p>味甘，溫。無毒。</p>
<p>《本草》云：主療心腹冷氣，小兒五疳，闢疫，治腸風，通利氣脈，女子月閉。出北地，此是寒號蟲糞也。</p>

<h3>緋帛</h3>
<p>《液》云：主惡瘡疔腫，毒腫，諸瘡有根者。作膏：用帛如手大，取露蜂房、彎頭棘刺、爛草節二寸許、亂髮。燒末。主疔瘡腫。又主小兒初生臍未落時，腫痛、水出，燒，為末，細研，敷之。又，五色帛主盜汗，拭乾訖，棄五道頭。仲景治墜馬，及一切筋骨損方中用。</p>
