<header data-type="book">
<h1>新訂痘疹濟世真詮</h1>
</header>

<h1>自序</h1>
<p>濟世只在醫乎？古人何以願為良相？醫無濟於世乎？古人何以願為良醫？曉束髮，受書經史外絕不寓目，旋蒙石琢堂師錄補弟子員，屢經當代名公蔣撥益刻厲為舉子業，方期驤首皇路，以經術濟世，刀圭非吾事也。乃乙卯秋，賦薦不售，意思索然，又值吾弟藥誤慘變，於是痛自刻責，向岐黃問津焉。誠念人命秉乎陰陽，斯道動關燮理，亦讀書人所宜講也。遂取先輩名書精心體察，其初若茫無畔岸，迨讀之既久，思之既深，曜曜焉儼有所得，覺古人之所為昭示者，呼吸相通，淵淵乎肺肝之如見，臟腑之如語，生死安危之機，一舉手而可得。數十年來，議脈議病，差堪對人，迄今閱歷漸多，理解漸熟，先儒之或得或失，可參觀而會其微矣。乃暢發前言，訂為《醫門懸鏡》、《春壺醫案》、《痘疹真詮》、《脈法》諸集，以仿嘉言先生之《寓意》。吾鄉諸君子見而賞之，更以痘疹一科嬰兒恆多受害，不可不急梓之以濟世。余曰：「惡是何足言濟世哉？」客曰：「是書辨理精晰，虛實瞭然，亦經術之明效。以是鳴世，非先生志也，以是濟世，古人之志，先生之志也。起萬病以回春，扶斯民於壽寓，所以仰副聖天子好生之大德者，其在斯乎？其在斯乎？」余不敢私，遂聽客之所請。</p>
<p><u>時嘉慶十六年辛未歲湖南長沙陳宏曉暉亭氏自識</u></p>

<h1>初集</h1>

<h2>分別調治論</h2>
<p>痘與諸瘡，相隔天壤。凡瘡未成形，可解毒，可內消；已成形，可攻破；既破，可生肌。如痘，不可解毒也，不可內消也，不可攻破也，況解毒藥每傷胃氣，損氣血。痘必氣血足，胃氣強乃能化毒，神氣困頓，虛而少食，補之尚恐不能送毒，何可解乎？夫痘非借元氣不能發收，宜始終以顧慮元氣為主。自發熱三日後，始見痘苗，放苗三日而出齊，出齊之後，次第長漿，上由面部，次及身上，再則脹及腳下，務期膿漿充足，徐徐回水結痂，大約於十二日，收其成功，配四時也，或多一日，以象閏也。自發熱造端，看熱之輕重，報苗之緩急，便知痘之疏密；看報苗之部位，便知痘之吉凶；看痘粒之形色，便知痘之虛實。至於起脹灌漿，宜計時限日，觀形察色，以分別虛實，為灌漿計，失此不治，不成大漿矣。聶九吾曰：痘之生死，判於漿之有無，有漿則毒從外散，故生；無漿則毒留內攻，故死。蓋痘疹原於胎毒，胎毒藏於命門，命門居脊骨之前，兩腎列於兩旁，脂膜護之，為一身主宰。故出痘疹而腰不痛者，順也；痘疹初發，即云腰痛，命門傷也，未可言吉。值此者，速當救腎，虛者補之，實者瀉之，以為萬一之計。矧陰為痘，而陽為疹。胎毒發出為痘，則胎毒之靜而陰者盡矣；發而為疹，則胎毒之動而陽者盡矣。惟原於胎毒，故五臟自合一焉。如遇痘疹之氣，鼻聞之傳於肺，由此順傳腎水、肝木、心火、脾土，晝夜隨天運一周，次又傳肺金起，五日五夜，五藏傳遍矣。諸家謂屬心火，而以寒涼瀉火、動欲解毒，致用犀角等苦寒之藥，以冰伏其毒，罪之大者也。然則專用溫補乎？又非也。在審其虛實寒熱而善用之耳。又有曰：痘屬心火，惟腎無候，何其謬乎！不知人身之氣血，原於腎水，假令腎中水枯，則心何由而生血，肝何自而藏血，脾何得而統血乎？痘中之一點紅，血也，其次第長漿，血之所化也，其源即腎水也，誰謂腎無候，實以耳冷骩冷之說，且以痘之變黑，始歸腎哉。故凡布種，須先求其脾氣強健，尤當驗其腎氣無虧，腎水素虧者，先補以熟地、枸杞、巴戟、菟絲、杜仲、棗皮之類；虛寒者，重加薑、附、耆、術。脾腎先受其蔭，又為乘時選苗，尚何疏虞之患哉？</p>

<h2>氣血盈虧消長論</h2>
<p>痘瘡全憑氣血以成功，氣體天而親上，血體地而親下，其高起之泡，氣之位也，氣宜充焉；其四圍根腳，血之位也，血宜附焉；泡尖而色白潤，是氣充而居其親上之尊也；四圍有暈而色紅活，是血附而安其親下之分也。氣居其尊，血安其分，氣血和順，最吉；頂陷則氣反親下，此氣虧而不能充也，法當補氣；四圍根腳無紅暈，此雖血虛而不能附，實氣虛而不生血也，法當補氣而兼補血；其有通頂紅色成血泡者，是血反親上也，最險，必不成漿。至八九日後，則癢塌而死，然此非血之勝氣，乃由氣虛而失其居尊之常，故血得以妄行，僭居氣位也，急宜大補其氣，氣充則能統血，血自不得氾濫而轉白泡矣。庸工見其泡紅，謬認為熱，而用涼血行血之劑，令氣愈衰而死愈速，悲夫！所以調治痘疹氣血，其氣獨虛者，固宜專門補氣，而不必補血，以陰愈長而陽益消也。其有血虛者，多由胃氣損傷，元氣不足所致，蓋陰必從陽，陽生則陰長也。凡治病言氣血者皆如此。矧痘以胃氣為主，元氣為先，則補血必先補氣明矣。</p>

<h2>虛實寒熱詳辨論</h2>
<p>凡治病必先辨寒熱虛實，而痘尤為緊要。諸病有虛者，元氣自虛，宜補也。痘瘡有表虛，有裡虛，亦元氣自虛，宜補也。痘瘡有表實，有裡實，此則元氣完固而毒氣不能為害，不可瀉，亦不必瀉也。按表虛者，脈必浮細微弱，或惡寒身不大熱，或寒熱往來，厥冷、面青白、嗜臥，宜耆、術溫補陽分。裡虛者，脈弱無力，虛空不勻，或吐泄不食，汗出冷逆，氣促神昏，多睡腹脹，宜薑、附溫補陰分。所謂虛之甚者，陰有餘陽不足，而寒自虛生，宜用溫熱之劑補之者也。諸病有寒自外入者，外感是也，當其在表，宜發散之，久而入里，則鬱為內熱，宜清解之。痘出而風寒外襲，宜溫而散之；或外寒入內，為吐瀉諸證，亦宜溫中補陽而已，外不可發汗，內不可清解也。諸病有虛熱者，元氣虛，津液竭，火從虛起，假證全現。陰虛則脈豁大無倫，浮空而散；陽虛則脈虛大遲軟，空散無力，或沉細緊弱無神。按脈填補，則熱自除，一用清涼，即死。痘瘡亦有虛熱者，元氣虛而毒氣肆，當以補元氣為主，或備兼解毒，如遇虛之甚者，宜審脈證之陰陽，急加溫補救之。諸病又有實熱者，氣血未虧而邪氣壅盛，寒涼瀉之可也。痘瘡亦有實熱者，稟氣強，血氣盛，而毒火亦盛，亦用寒涼瀉之可也。然表實之脈，必浮洪滑大，舉按有力，證必壯熱，身痛鼻塞皮焦，痘則癰腫斑疔，紫赤焮腫；裡實之脈，沉數洪滑，久按不衰，證必便秘脹滿，口瘡舌黑，大渴喜冷，煩躁驚狂，高聲譫語，此可用清解者也，當細審其脈候焉，且痘之虛實寒熱較之他證，尤顯明易察。自見點以至結痂，其形其色，既昭然而可觀，若又聽其聲音，觀其靜躁，視其飲食之多寡，審其二便之利澀，又復參以脈法，有不朗然無疑哉。茲更進一說焉，出痘而元氣虛弱者，即有熱證，總不可執為實熱，雖形體強盛者，但見虛脈虛證，即不可認作有餘，萬一誤瀉，終無轉機矣。</p>

<h2>詳辨氣血諸證調治論</h2>
<p>《輯要》謂：痘初見點，本紅，後漸起發脹滿，痘頂色轉瑩白，根腳紅活。瑩白者，氣之形；紅活者，血之色。氣領血載，送毒出外，氣親上，故白色見於頂，血親下，故紅色周於腳。若頂不尖，不起脹，是氣不親上，陽失其尊；即起脹而頂通紅，不瑩白，是氣失其統馭之權，血不親下，而僭居氣位，其毒亦參陽位。愚按：當大補元氣，使氣復其職而血自聽命歸附窠囊，不復載毒妄行矣。若涼血攻毒，必致不救。又膿水為血所化，人所通知，不知氣化為水，正氣與毒氣混合為一，正氣外達，毒亦外達，同化為水而轉為膿漿，故氣能統血，正氣盛則血自生，膿漿自足，此補氣是痘科要緊處。然痘暈紫赤黑暗，毒熱熾而血凝，又宜清毒活血，方不致傷正氣，熱極者，芩、連、紫茸、莊黃可急投之。故善補氣者，又不可不知養血滋陰焉，至急攻毒，則殊闇昧。其輕用寒涼者，亦未審冰伏之患，且發表太過，陽氣亦不能內守，寒涼攻毒，獨無慮正氣不勝耶。夫痘暈四圍，不淡不散，至足漿時，血歸根痘，緊束如線，飲食二便如常，神氣清爽，由稠黃而轉蒼蠟色，此毒氣全化，順也；若根血散漫，及有芒角，皆屬氣虛不斂之故，惟單補氣，氣盛則血自有所歸。有周身浮腫脹，痘反不脹者，毒氣散亂之咎，實氣虛不能拘攝毒氣之咎，補氣而毒自有所化。其有灰白淡紅，虛寒已極，安得不極力溫補？又云根腳過於紅豔，連皮肉俱紅，紙燃照之，窠內有渾渾漿水，是欲成膿也，血必歸附。愚謂非也，此即氣之散漫，不能統血也，證類鋪紅，斷難成功，必須補氣，夾熱者或稍清血熱。若殼內無水，陰血已虧，陽不得陰，不能化液，必為癢塌，宜十全大補湯。蓋此證如地氣不能上為云，則天氣不能下降為雨，當重補陰。頂凹為茱萸痘，氣不足也。若遍身起發，惟四肢不起，此脾氣弱，不能宣暢其毒於四肢也，宜黃耆建中湯加防風。其有通身皮肉盡紫赤者，此毒火炎熾，煎灼血分也，證必壯熱氣粗，口渴便秘，種種熱證，又不可誤作鋪紅，宜清毒活血湯、歸宗湯之類選用。又痘多已起脹者，頭面應腫，目應封；已收靨後，腫應消，目應開；當未收靨時，則不應消，不應開。痘稀者不應腫，目不必封。不應腫而腫，與不應消而消，毒氣之盛實，正氣之衰也；且不應消而消，不應開而開，與應腫不腫，應閉不閉，元氣內已不固，毒氣乘之內陷矣，尚可不極力補托乎？又初見紅點，繼而成小顆粒，尚是紅色，亦名血泡，紙燃照之，內里紅色鮮豔，應與血泡同治。又水泡形較大，皮較薄，燃紙照之，內含一包清水，為脾虛濕淫確候，宜耆、朮、參、苓、薑、附溫補之。一起脹時，中有小泡夾痘而出，漸大如黃豆、如白果，或赤或紫，身熱氣粗諸多熱證，此毒熱凝滯血分，不得與血泡同論，外可用銀針挑破，吮去惡血，內服涼血解毒湯之類。</p>

<h2>痘出五藏形證歌</h2>
<p>痘出五藏主證形，呵欠頓悶是肝經，肺證咳嗽痰嚏涕，心證驚煩面赤紅，脾證喜睡肢熱利，耳尻俱冷是腎徵。肝為水泡青而小，肺為膿泡白大評，心經之痘赤而小，黃淺而大脾家分，至於腎經不宜有，水不勝火黑色形。余見世人專泥此語，以為奇決，殺人殊多。不知痘疹原於胎毒，傳遍五藏而出，豈有專主一經一藏之理？況痘疹有形色脈證可觀，寒熱虛實，自可立辨，何必立異說以惑人，反使己搖搖無所定憑乎？</p>

<h2>面部吉凶論</h2>
<p>面為諸陽聚會之所，其部位各有所屬。如額屬心，位自印堂以上，髮際以下，至日月兩角，先見點者凶。左頰屬肝，右頰屬肺，若兩頰先見紅點，磊落分明者吉，如相聚成塊，肉體腫硬者凶。頦下屬腎，自承漿以至兩頤，先見點、先灌、先靨者吉，此雖腎位，而三陰三陽之脈，皆聚於此，先發、先灌、先收，乃陰陽和暢也。鼻屬脾位，準頭先見吉。耳為腎竅，又少陽相火之脈行耳前後，凡耳輪先見者，毒勝，多凶。口唇四圍，陽明脈所循環，先出先灌先收者吉。雖不必盡泥，亦宜知之。</p>

<h2>面部報苗八卦方位圖</h2>
<figure>
<img alt="面部報苗八卦方位圖">
</figure>
<p>乾宮出起痘定輕，坎宮不美艮三分，震上縱凶猶可治，異宮先來知必重，離宮報痘凶十分，坤宮七數兌四分，此決無訛宜聽取。</p>
<p>單粒報苗者稀疏，雙粒出現者稠密。退熱見苗者吉，夾熱放苗者險，痘已透而熱不減者逆。顆粒大而尖圓紅潤者吉；顆粒大小不一，微見尖圓紅潤者半吉；顆粒之中，有一分大，二分小，不見尖圓紅潤，凶。</p>

<h2>十三逆證</h2>
<p>（言此處稠密無地界，他處俱稀疏也）</p>
<p>矇頭、蓋面、化腮、鎖項、雲錦鋪胸、斷橋、雲錦鋪肩、蝦蟆瘟、枯樹掛蛇、玉帶橫腰、無根、形如瓜瓠。</p>
<p>歌曰：虛憑脈證多填補，實者清毒活血自安然，外用胭脂調塗法，逆證多名智貴圓。</p>

<h2>起勢論</h2>
<p>看痘之順逆，非拘拘於稀疏稠密之謂，當看痘粒之逐時起髮長大。早晨看之，如白菜子大，午候看之，如麻子大，夜來看之，則有糕粱米大，此初見苗之起勢也。及至出齊，雖有先後之不同，而起髮長大，生機勃然。至於長漿，必先由暈腳起脹開盤，既已起脹開盤，漿即隨之而長，且稠膿隨之而上，三日灌漿之期，不差時刻，色復尖圓紅潤，不犯諸逆，大順候也。</p>

<h2>初發熱至報苗出齊數日內調治法</h2>
<p>一　發熱之初，若身熱和緩，或熱或退，神清氣爽，飲食二便如常，則不必服藥，但戒葷忌風，調護而已。</p>
<p>一　或偶感風寒，憎寒壯熱，頭痛咳嗽，鼻流清涕，不可不發散也。當視兒體強弱用藥，以微發汗，不可出汗大多，恐發虛其表，後難起脹灌膿。蓋痘有溫平之法，無汗下之理，發散過則元陽散失，正氣不固焉。張翼云：一見紅點，便不可用升麻葛根湯，恐發得表虛也。喻嘉言先生亦云：升麻湯內有葛根，所以示戒。然則泛用麻、細、羌、葛者，非二公罪人耶。</p>
<p>既經發汗，而身熱漸緩，頗見安靜者，痘出必稀，且勿服藥。若發汗之後，身熱不退，煩躁譫語，口渴飲水，宜敗毒宣中散之類清之，切不可過用寒涼，急於峻攻，恐芩、連性寒，冰伏其毒，始焉出之不快，繼焉灌漿又難，用藥者，須臨時權變焉。至熱甚大便久閉，加熟莊黃微利之。愚按：邪不在裡，不可妄用寒涼敗脾，致中寒脾敗，毒反內陷不出，況虛邪虛火、假熱格陽等證，皆因虛發，尤當詳察。如不渴，二便利，或溏瀉，或少食。</p>
<p>一　有發熱稍輕，至四日痘尚隱隱不出，最要詳察，不可認為毒輕痘少，漫不加意，此必氣虛不能送毒也，急宜用參、耆、桂、術之類補托之，宜保元湯為主。</p>
<p>一　有身熱雖輕，至四五日而倦怠嗜臥，不思飲食，所報痘苗，形影淡白，點粒不明，更見氣血虛弱，送痘不出之故，急大溫補以托之，甚者重劑多服，痘始出齊。若因其安靜，不急補托出外，延至五六日後，毒氣內攻，須臾告變不可救矣。昔人謂熱輕則痘輕之說，可盡信乎？六日以前痘未出齊，勿用湯補，有是理乎？</p>
<p>若身熱一二日即出痘，先發於天庭、司空、印堂等處，或一齊湧出，稠密平塌黏連，不分顆粒，不惟毒氣肆行，中氣已餒，當乘其湧出，急為填補，必使氣血相繼，乃或成漿，其或乾枯而帶紫黑，亦見氣血凝滯，毒火逼傷陰血，宜活血養氣以化毒，或十全大補湯、調元化毒湯，臨證選用。若氣血與毒火俱旺，脈又洪數，或去參、耆；秘結者，加熟莊黃微利之。又有全無火脈火證，起發時即見黑暗，定多虛候，急宜大補氣血，如十全、十宣之類，不可概為熱。</p>
<p>一　有痘色紅紫乾枯，或密如蠶種，或一片不分顆粒，身熱便秘而出不快者，此毒火鬱滯，氣血不流行也，宜調元化毒湯去參、耆，或加熟莊黃微利之。</p>
<p>一　有痘色淡白，飲食減少，身涼手足冷，小便清長，大便滑瀉，腹疼嘔逆而出不快者，此氣血怯弱，不能載毒出外，宜溫中益氣以托之。</p>
<p>一　有聲重鼻塞，咳嗽惡寒，而出不快者，此風寒閉之也，宜加減參蘇飲之類發散之。</p>
<p>一　有因邪穢所觸，隱伏而出不快，痘必作癢，宜和平湯解之，外燒紅棗、蒼朮、檀香之類，以闢其邪。仍看痘色暈腳，伏則宣之，陷是補之。</p>
<p>一　痘正出時，忽然傳風，雙目直視，牙關緊咬，此調護不謹，風邪外襲也，勿輕用驅風藥，宜於溫補藥中加羌、防即愈。</p>
<p>痘正出時，身不熱者佳，微熱亦順，惟大熱者可憂。若出齊而壯熱蒸蒸，更可憂，其痘必稠密，暈必紅紫，或帶乾枯，宜調元化毒湯加減。</p>

<h2>陽熱證辨</h2>
<p>陽熱壯熱面唇赤，舌乾飲冷爪尿紅，煩躁昏狂譫失血，紫黑焦枯竅不通。愚按：熱邪盛，去邪而正氣自不受害；正氣衰，扶正而邪熱自清，且正氣盛則痘發，而熱皆為痘用矣。但實熱證為顯，虛寒證隱，假熱證多，人多誤以虛為實，昧於脈者，當審察痘色焉。</p>

<h2>陰寒證辨</h2>
<p>陰寒無熱口鼻冷，面唇尿爪色白青，厥冷難回利不臭，水泡灰白無暈紅。愚按：元氣餒者，邪氣雖微亦危，故形質虛者，開手便當顧本，蓋補中即能托毒，灌根即能發苗，瀉有傷伐元氣之慮，補無補住邪氣之虞。</p>
<p>一　發熱有惡寒身振如瘧者，雖由毒之欲出未出，實陽氣虛也。或不得用升、葛、羌、防、桂枝等類，亦宜重加蜜耆，脈證宜投附、術者，即不得稍緩。</p>
<p>一　見點時，忽胸膈高腫，內不寬者，名結胸痘，兼之便秘壯熱，痘暈紫赤，須下之。</p>

<h2>痘出齊後起發灌漿數日內催漿法</h2>
<p>報苗三日後，痘已出齊，身體溫和，精神清爽，顆粒大而尖圓潤澤，皮囊堅厚，根腳老紅，胸背稀疏，飲食二便如常，此順證也，不必服藥，但避風寒，防穢氣，慎飲食而已。若色不甚紅，頂不甚尖，便是虛象。</p>
<p>一　痘出齊後，最忌泄瀉、汗吐，須預防之。</p>
<p>痘出現後三日內，其時日十分緊要，形色證候最宜詳察，稍見不順，急於此三日內分別虛實寒熱，用藥調治，以為灌漿計，失此不治，緩不及事矣。故漿滿痂厚者上也；漿未滿而痂薄者次也，必有變證生焉；其最下者，遍身俱水泡，然水泡三四分，間有五六分膿漿者，猶可望生，後必有痘毒一二處，毒成而得生矣；更有最下者，密不成顆，串成一片，皮下又有清漿若泡，密而潰爛，膿水淋漓，反為生機，惟乾枯無膿，或薄漿只有二三分者，必癢塌而死。又有痘雖起壯，而皮膚無力，按之水漿便出，即肉色不暗，亦名假壯，決不回漿結靨，內攻而死，可急用保元湯加丁香、白朮、糯米補助衛氣。又灌膿時，面上即有干靨者，亦名倒陷，急宜八珍、十全、保元湯、參歸鹿茸湯選用。是以出齊而調治膿漿，如拯溺救焚，刻不容緩。愚按：痘已出盡，內無不虛。蓋隨痘而托送者，元氣也，此時不知培補化源，何以灌漿痂結收靨？況內虛無主，毒氣必復陷而危。痘之稀者，氣血之耗猶有限，其稠密者，氣血內虧必更甚，不可不早防也。</p>
<p>一　痘形板硬幹黃，為毒氣鬱滯，主清毒活血湯。暈腳紫赤，痘形焦黑，並見火證，為毒火熾盛，血氣錮滯，主歸宗湯。紅色淺淡，頂陷無漿，此氣血虛弱，至皮薄漿清，光亮軟皺，溶溶如濕，根無紅暈，此氣血虛縮，多變在須臾，急投參歸鹿茸湯，或加附、術。又空殼無漿，陰陽氣血皆虧，主十全大補加鹿茸。若根緊而紫，兼見火脈火證，此又毒熱滯鬱血分，宜四物湯加連翹、紫茸。其有斑爛者，先因發表太過，表虛則元氣亦不內守，並見自利，主陳氏木香散。斑爛作膿，痛甚，用滑石、甘草和百花膏塗之。水流不幹，敗草散和百龍散襯之。有破爛成坑者，內陷也，內托散主之。破爛若得復脹復灌，或於其旁另出補空小痘，此餘毒得裡氣充貫，猶能外透也，須顧其脾胃，使中氣不餒為佳，不然，元氣弱，脾胃虛，難勝其再作之毒矣。</p>
<p>一　有起脹時，肉腫而痘不腫，或頭面周身浮腫如瓜瓠之狀，痘則平塌，此氣血不能拘攝毒氣，致毒散漫也，當大補氣。根腳血色散亂，不圓不緊，此氣虛不能束毒，以致毒氣逼血不附也，亦當大補正氣。手足處不透者，仍是脾胃虛弱，但稍遲脹靨亦順。至有長漿時，便見臭者，多由毒火熏蒸之氣，積於中而見於外也，速宜清熱以解毒。</p>

<h2>漿足回水結痂數日內調治法</h2>
<p>痘出八九日，膿漿充足，而顏色蒼蠟，上也，若無他證，勿藥可也。若痘出稠密，漿不甚滿，延至此時，飲食減少，痰液多盛，宜養胃開痰之類。</p>
<p>有漿滿時，或為寒所縛，一時痘俱紫黑，如紫葡萄色，急以上桂磨服愈。亦有本虛寒而復感風寒，宜溫補者，或於溫補中少加羌、防。</p>
<p>有寒戰咬牙者，此真氣發外而內虛寒也，宜溫補之。</p>
<p>一　氣血充暢，則毒化為膿，膿之不成有二：毒氣熾盛，則血燥而凝，故不能運化成膿；元氣虛弱，則血寒而縮，亦不能運化成膿。如痘暈紫赤，乾枯焦黑，此毒火內盛而血燥也，宜清毒活血；痘色淡紅灰白塌陷，此氣虛血縮也，宜參、茸補益。</p>
<p>痘至十日十一日之間，膿漿足而色蒼蠟，或發熱蒸蒸，此回水候也。蓋真陽運化其水，自然消爍收靨。倘元氣不足，不能及時回水，當靨不靨，此虛寒證也，必身涼手足冷，須大補氣血以助之收結，宜溫表調中湯選用。亦有發熱蒸蒸，當靨不靨者，或因過於溫補，以助毒火，退其熱則毒自收，宜清表敗毒湯，或用砂糖半酒杯，滾水調服，毒輕者亦效。</p>
<p>痘靨時，有外潰而膿水淋漓者，謂之水靨，用屋上多年敗草燒灰抹上即結痂，蕎麥粉亦好，松花粉及多年黃牛糞燒灰，皆可施用。</p>
<p>當靨時，忽然腹痛，其痛著在中脘，此熱毒凝滯，瘀血作痛也。其痘必先多赤紫，脈必弦滑，宜消毒散血湯，此證亦少。</p>
<p>十二日之間，結痂後，復身熱煩渴，胸腹、手足、頭面俱熱，大便閉，小便赤，脈洪滑數，餘毒盛也，急用大連翹飲，若遲必生痘癰。</p>
<p>若發熱稍緩，頭熱而面不熱，手足心熱，手足背不熱，諸熱皆不甚壯，有休止時，精神困倦，二便清利，又不大煩渴，此虛熱也，宜補中益氣。</p>
<p>若痘不回水，而精神困倦，身涼，飲食減少，溏泄，乃元氣虛寒之極，當大溫補。</p>
<p>痂落還元后，忽然遍身大熱，有紅腫處，痛處，此餘毒欲發癰也，皆因膿漿不滿，結痂浮薄，速收速落者有之。察得形證俱熱，脈洪滑數，急用大連翹飲解毒退熱，如熱不退，連進二三劑，或可內消。已成形者，亦不外此方，外敷三豆丹。若屬虛癰，熱亦必微，脈亦必弱，臨證者最宜斟酌。</p>
<p>此時有忽然頭頂大痛，脈滑數者，餘毒上攻兩目也，急用清毒保目湯二三劑，以解上攻之毒火。</p>
<p>有落痂後，精神困倦，飲食減少，或手足心發熱，或手足涼，或瀉泄，痘之痘盤不高，且又白色，皆內虛之候，宜補中益氣。</p>
<p>有落痂之後，忽然畏寒，畏寒之後，復又身熱，似瘧而實非瘧，所謂陰虛生內熱、陽虛生外寒也，急宜補益氣血，不可誤作外感表發。</p>
<p>一　有痘後大渴引飲，必有餘毒餘火隱伏於內，當用清涼之劑，以解胃中毒火，但實證則脈必實。余常見大虛寒之證，渴飲不止，唇口俱爛，面赤目赤，投以附、術，而火頃消，非龍雷發動有盛於熱者乎？尚徒以渴為熱，則殺人矣。故凡業醫者，貴神於脈。</p>
<p>痘後忽嘔吐清水，不思飲食，喜飲滾水，此內虛寒也，宜香砂六君子湯，加以畏寒冷逆瀉泄，尤為少陰寒證，若用升消平胃，不可救矣。</p>
<p>痘後身涼，冷汗不止，形氣雖實，而精神稍倦，此陰陽交戰，宜歸、耆、參、術補之。</p>
<p>有不待收靨，而皮若剝去，此名倒靨，不治。即欲救治，亦惟憑形色脈息虛實，大劑救之而已。</p>
<p>一　膿汁黏連，久不脫落，為脾氣虛而濕盛也，當溫補之。若屬實證，則毒火爍干津液，必至焦枯，何得膿汁黏連。</p>
<p>有痂落而乾枯不潤者，多由毒熾血熱，窠色必紫赤，宜清毒活血。又有水虧金燥者，宜滋陰養血，以滋化源。若屬虛寒，應無干枯之象。</p>
<p>有皮薄漿清而收靨遲者，大不足證，主參、耆、苓、術。</p>
<p>一　毒盛難斂，證見焮腫而赤，潰爛而臭，通身大熱，煩渴不寧，主大連翹飲。愚按：潰爛而臭，喜其毒氣得出，外撲以松花粉，而清毒活血，皆可救治。若不熱不渴，手足反冷，神氣衰，飲食減，二便利，又宜大補氣血，助其收結。大抵當靨不靨，屬脾胃弱、中氣虛者為多，蓋中虛則不能營養肌肉，亦致潰爛也。</p>
<p>有謂收時因濕盛不得斂者，輕則漿從孔漏，重則遍體潰爛，肚腹脹，小便短，皆濕飲為患，主除濕湯，如羌、防、二苓、二朮、澤泄、肉桂之類。愚按：漏漿本由脾肺氣虛不固，此漿從孔漏，則氣虛不斂矣，況甚焉者乎？恐羌、防有所難受，而過滲尤傷正氣。</p>
<p>一　不當收而一時收斂，證見周身顆粒乾燥，口渴發熱，煩躁不寧，此毒火壅盛，主清毒散。</p>
<p>愚按：此痘腳必紫赤黑暗，最凶。便久閉者，加熟莊黃微利之。</p>
<p>一　有極虛之痘，雖補以救之，卻只得半分漿，不當收斂，復一時多靨，甫靨而痂旋脫落，其人或寒戰咬牙，聲音不振，必不救。</p>
<p>一　髮際以上，陽中之陽，孤陽也；足膝以下，陰中之陰，孤陰也，後靨不妨。人中上下，先靨吉。又自面部至手足內踝，皆有靨者，其餘花靨不妨。亦有下身，遲數日不靨，而屬熱者，小便短赤，四苓散加條苓、梔仁、滑石、木通；大便閉，當歸解毒湯。</p>

<h2>落痂證治</h2>
<p>痂落而瘢凹不起，色白不紅，以手摸過，不見血色，精神飲食皆不足，此氣虛寒之甚者也。或十全大補湯加附、姜，或但補陽分。</p>
<p>有痂落後，中氣暴虛而不能食，精神困倦者，主保元湯、五味異功散、養中煎選用。</p>
<p>一　痂不落及落後昏昏喜睡者，此邪氣雖退，正氣未復，脾胃虛弱也，人參清神湯。</p>
<p>落後心煩不眠口渴者，或竹葉石膏湯加減，餘熱未清，或選柴胡飲清之。</p>
<p>一　有半月一月不落或發癢者，多由表散太過，傷其津液，腠理虛滯，無力脫卸也，人參固肌湯，外以麻油或百花膏潤之。</p>
<p>一　落痂後，切忌冒風、澡浴、剃髮。</p>
<p>一　有痘後虛熱，發於午後，面赤唇紅，妄言譫語，而脈微細或虛空豁大，切不可作實熱治，或用調元湯、保元、十全、六氣、六物、八珍、回陽飲之類，其中間有用黃連者。若果有實熱，脈亦洪滑，則導赤散、犀角地黃湯、大連翹飲主之。</p>
<p>一　痘之盤痕，浮光紫赤，此毒焰外熾也；其痕乾枯黑暗，此毒錮血死也，皆宜涼血解毒湯。</p>
<p>一　落痂之際，一半掀起，一半咬緊，證見身熱乾燥，肌肉紅赤，此熱在肌表也，皆宜清毒活血。</p>
<p>有瘢凸起不平，色赤而豔，或發熱，或作癢，皆由血有餘熱，復外感風也，宜解毒防風湯。</p>
<p>一　虛證歌曰：落痂凹陷最可虞，色白形羸氣血虛；大補參苓白朮草，歸芎桂附地黃耆。</p>
<p>痘後忽然手足拘攣，不能屈伸轉運，此乃血少不能養筋，又或外被風寒水濕耳，切勿用散表搜風藥以耗其血，須用當歸、人參、川芎、耆、朮、苓、桂、龜膠、秦艽、杜仲、加皮之類，濕盛加玉竹、苡米、蒼朮。</p>
<p>痘後亦有感冒風寒，身熱者，證多頭痛，鼻流清涕，脈浮惡風，宜黃耆建中湯，不可作餘毒未清論。</p>

<h2>七暈詳辨</h2>
<p>痘出而根腳有暈，其名有七，辨之不可不早也。痘粒之尖圓者，氣充也，實也；痘粒之平塌者，氣弱也，虛也。若以暈言之，老紅也，紅紫也，紅紫乾枯也，焦紅也，淡紅也，鋪紅也，淡白也，其中有順、逆、險之別焉。</p>
<p>老紅者，暈色紅而老，不妖嬌也，不閃爍也，不乍紅而乍淡也，亦不帶紫也。此老紅之暈，必發熱三日始報苗，身體必和平，亦不甚熱，必能飲食，二便必調，精神必清爽，此順證也。痘必稀疏，即多有百十顆，亦不足慮。愚按：嬌則氣不足，並血亦不足，若色全不嬌豔，皮自不嫩不薄，將來起脹灌漿亦易。</p>
<p>紅紫者，痘色深紅而帶赤色，必發熱二日即見苗，身必熱，必微煩躁，當用敗毒和中之類。看其出齊，即以清毒活血湯加減，催漿，漿足亦歸於順，但不可肆用寒涼，以致吐瀉腹脹、伏陷癢塌也。</p>
<p>紅紫乾枯者，初見痘苗，即見如此暈腳，其證多逆。必發熱一日即見苗，報苗必稠密，必大熱蒸蒸，煩躁昏沉，不省人事，唇焦口渴。若大便燥結，二三日不解，小便短赤，此毒火內盛，急用敗毒和中散，加熟莊黃微利之。若證仍不減，加之不省人事，不思飲食，痘乃平塌，不見泛漿，且中有黑臍，不可救矣。</p>
<p>淡紅者，痘暈四周淡紅，有妖嬌之色，紙燃照之，若有紅色。若紅色不定，將來必變淡白色，此乃氣血虛寒。若初見痘苗，見其淡紅暈腳，寒涼藥切不可投，即或身不退熱，微有煩躁，亦是虛熱虛煩，有時欲用透托，亦須以耆、木托住中氣，而復佐以芎、歸。要之，調補即是透托也。迨其出齊，即用千金內托散、參歸鹿茸湯催漿。若先前誤用寒涼，暈轉淡白，尤非參、茸、附、桂莫救，然稍緩，即成灰黑陷塌而斃，此一見淡紅即當速補，以杜後患。</p>
<p>焦紅者，初見痘苗，頂乃先焦，腳紅紫有芒角，不見滋潤，急用敗毒和中散以托之。俟其出齊，熱不減，不能食，加之神昏，不醒人事，煩躁，煩悶，水漿不入，不可救矣。若前證少減，急以清毒活血湯，催其長漿。</p>
<p>鋪紅者，痘無紅暈，痘粒淡白，通身皮肉盡紅，良由氣虛不能統血，致血載毒妄行，散漫於皮膚之間也，當大補氣，主保元湯、參歸鹿茸湯之類。有紅而紫赤者，其毒火亦盛，宜稍兼清毒。</p>
<p>淡白者，根腳四圍，無一絲紅色，止有淡白之痘，亦不見其有暈。蓋因氣血虛寒，元氣傷殘也。初見痘苗，即宜大補氣血內托之，出齊即用千金內托散、參歸鹿茸湯連催之。</p>

<h2>伏陷分別論</h2>
<p>隱而不出謂之伏，出而復塌謂之陷。如遇此伏而不出之痘，果其人氣血皆盛，或用敗毒和中散，去芩、連、紫草，加蘇葉、白芷宣托之。倘不明宣托之法，則伏者不得應時出，勢必郁遏於內而告變矣。若其人氣虛不能送痘，又當補以托之，誤用涼散，禍反掌矣。</p>
<p>一　有足下先報苗，名倒裝，亦用敗毒和中散，去芩、連、紫草，加白芷、升麻以宣托之。出齊，若淡紅者，用千金內托散、參歸鹿茸湯催之，此面部不先報苗，亦有伏意，不可輕視。倘元氣弱，脈氣虛者，當重用耆、朮、參、桂等補托之法。</p>
<p>陷乃痘已出齊，頂不高聳，尖圓平塌凹陷，蓋由毒盛氣虛，當細看暈腳，屬何暈主之，則虛實寒熱立辨。實熱者，清毒活血湯；虛寒者，千金內托散，虛寒甚者，倍參、歸、鹿茸、附、朮、薑、桂。</p>
<p>愚按：陷則未有不由氣虛者，首重補氣。</p>
<p>一　有忽感風寒，閉塞其毒，身熱頭痛惡寒而伏陷者，稍用疏解散解之。若毒火內攻，則必紫陷、黑陷、焦枯，氣粗身熱，清毒活血可也。虛寒則淡紅灰白，氣平身涼，峻補托之可也。其中兼清兼散，活法存焉。</p>

<h2>五陷詳辨</h2>
<p>痘出齊後，當治不治，則漿不行，而五陷之證作矣。五者，白陷、灰陷、紫陷、黑陷、血陷也。</p>
<p>痘粒稠密，暈紅紫，而頂陷下者，紫陷也。甚則轉而暈腳乾枯，中有黑臍而成黑陷，乃火毒內盛，欺侮其元氣，燥焦其營血而陷也，宜清毒活血湯倍生耆、芩、連、紫茸以救之。及至黑陷，則毒火亢極，殘陰盡竭矣。又張介賓云：痘黑陷者，必氣不足，血不活，宜托裡散、六物煎，加川芎、肉桂、紅花。甚者或九味異功煎，十全大補。則黑陷亦有屬虛者，但須有虛證虛脈方確，且黑陷屬虛者，大抵由灰陷所轉，非從焦枯紫陷而來，最凶，雖明眼人，實知其虛寒，極力溫中大補，亦恐不救，以其至此，脾腎兩敗也。又云：有因誤涼誤下，毒氣內攻而變黑陷者，宜六氣飲、溫胃飲之類培養胃氣，再投寒涼立斃。公雖知黑陷之不盡屬熱，不知誤治至此，勢必瘙癢異常，皮肉俱脫，萬無生理矣。予嘗示人以詳辨之法，謂紫陷、黑陷之屬熱者，身必壯熱，呼吸必氣粗，便閉，躁妄，口渴，飲冷，脈滑數。庸工不知黑陷之所以為熱，故一見黑機，並不計有虛寒之證，概以為熱焉，殺人多矣。況虛實兩證外，又有因感風寒而變青紫黑陷，證亦身熱，但多一身疼，項強頭痛，惡風，鼻塞，咳嗽，脈浮等證，宜溫肌散表者，安得不加意審察乎？</p>
<p>痘出稠密，其色淡白，根無紅暈而頂陷者，白陷也，甚則遲延一二日，轉成灰陷，皆因氣血虛寒，不能運化毒氣以成漿，故陷也。倘乘白陷之時，大補氣血，或成大漿，失其時而變灰陷，雖參、茸無救矣。</p>
<p>一　有顆粒通紅，有似血泡不成漿者，乃氣虛不能統血，而血上泛，僭居氣位，宜參、耆大補其氣，氣居其上，血自安於下，而成漿矣。</p>
<p>血泡失治，則氣愈虛而成血陷，亦不外大補氣。</p>
<p>血陷與紫陷，相隔天淵，若不細審形證脈法，多致混淆不救。</p>
<p>血陷雖紅，不帶紫赤，血陷屬虛，氣平身涼。</p>
<p>紫陷屬實，氣粗身熱。</p>
<p>一　有紫而帶青，又無火脈火證，此氣虛而血凝毒滯也，當與血泡同治，且青則多寒，夾有風寒，不妨佐以羌、防，尤宜細審。</p>

<h2>倒陷倒靨論</h2>
<p>在內不出為伏，出而復入為陷，倒陷者，從上倒下之謂，從前頂俱尖聳，及行漿時，忽然中臍下陷，謂之倒陷。看其痘色，辨其寒熱虛實，分別五陷，用藥催助，斯陷者復起，而膿漿自成矣。</p>
<p>倒靨者，以長漿之時，不能及時對證用藥，及回水結痂之際，漿既不能充足於中，靨必平塌於外，其候亦危，急宜用藥催漿，雖十二日之久，如無他凶證，猶可望其足漿。</p>
<p>催漿之法，原無新法，在憑脈證陰陽虛實，如法用藥，漿自不期而充足矣，如桑蟲、地龍、狗蚊，皆不可用。主用丹方者，尤為術士愚人，且恐害事。</p>

<h2>鼻血吐血嘔血分別論</h2>
<p>鼻衄之證，乃毒氣上衝於肺，以致鼻衄，而毒亦從衄解，宜清肺飲解之，將來痘必稀疏。</p>
<p>痘初報苗，以致出齊之後，如遇吐血或大小便下血，多致不救。證之實者，不過敗毒和中，清毒活血，猶易為力；證之虛者，恐脾腎兩敗，陽不制陰，急宜大劑溫補，稍投寒涼立斃。誰其知之，吾願醫者勿執俗說，惟審脈察形以善治之，無枉人性命可耳。</p>
<p>痘初嘔血，而神氣清爽，痘粒亦尖圓紅潤，此毒氣因嘔血而去，不必用藥。</p>
<p>血屬陰，諸經賴以養育，痘瘡資以成功，一為毒火熏灼，則血隨火動，逼迫妄行，惟未甚者，以毒從衄解為順。若痘色紫赤，燥渴便赤，而衄多者，為毒火刑金，須於清毒活血中，帶用清肺之品，若因虛而血上溢，則痘色不侔矣。有靨後餘毒乘脾而衄者，為脾虛不能統血歸經，主人參白朮散加歸、芍。若毒火熾盛，流注大腸，大便下血，加味歸芍湯主之。設痘色灰白陷塌便血者，此脾氣虛弱，不能攝血，歸脾湯主之。至大吐血、溺血，及七孔出血，不治。</p>
<p>薛氏案：一小兒出痘，吐血，其痘赤痛如錐，或痘出血，謂為肝火熾盛，用小柴胡湯加生地一劑，隨用濟生地黃湯而安。</p>
<p>一　小兒出痘，正發時而便血，倦怠少食，作渴飲湯，此脾虛不能攝血也。其食少作渴，脾虛津液短少也，用五味異功散，加蜜耆、升麻而愈。</p>
<p>一　小兒出痘，便血，腹脹，困倦，發熱，口乾飲湯，四肢冷厥，此脾氣虛寒，不能攝血，用五味異功加公丁香、炮姜，二劑而安。</p>
<p>小兒出痘，八九日間腹脹，公謂其脾氣虛寒，急宜補脾，更醫投以清毒寒涼之藥，即大便下血而歿。</p>
<p>一　小兒出痘三四日，下紫血，日數滴，至八日不止，而痘不起。錢春林謂其脾氣虛寒，用木香散加人參五錢，公丁香十粒。二劑，痘起有膿，由是血漸止，二十餘日而安。</p>
<p>一　小兒起發紅活，但不時作癢，口乾作渴，便血，面赤，發熱，此腸胃有熱也，用生地、丹皮、甘草、柴胡、酒芍、山藥、白芷。一劑，諸證漸退，形體倦怠，此邪去正虛，用四君子湯加歸、耆、紅花，二劑而安。</p>

<h1>嘔吐瀉泄論</h1>
<p>發熱之際，有嘔吐者，有瀉泄者，有吐瀉交作者，全要辨寒熱虛實治之。</p>
<p>倘吐出有餿酸氣味，見點之後，不甚爽快，且又腹痛，此停食作痛而嘔吐也，其痛綿綿不已，啼叫必多，且多在臍以上痛，面必清自，唇必淡白不甚紅，手足俱冷，宜升消平胃散。愚按：此證虛寒極矣，宜溫補脾胃中加藿香、砂仁、神麯、楂肉。</p>
<p>一　毒氣作腹痛者，痛稍延緩，有作有止，多在臍以下痛，甚者或連腰痛，面紅唇紫，口渴咽痛，手足不冷，敗毒和中散主之。</p>
<p>一　有氣虛不能送痘，以致毒伏於內而腹痛，當大補氣以托之，主真元益命湯。</p>
<p>吐而酸苦有聲，吐訖反爽快，不甚腹痛者，毒火上越也，不必用藥。</p>
<p>吐而有物無聲，不酸不苦，吐訖困倦，不思飲食，亦不甚腹痛，唇舌或淡白者，胃氣弱也，參砂和胃散主之。亦有食下即吐，吐多順快無聲，亦主此方。</p>
<p>有毒氣作瀉者，瀉必黃色臭穢，肚腹多不痛；亦有毒氣作瀉而兼吐者，其瀉必黃而臭，吐必酸刺有聲，神氣不甚困倦，腹亦不甚痛，亦屬毒氣由吐瀉而發越，所謂吐瀉為順候，只此一證耳。</p>
<p>有吐瀉交作，胸腹痛甚者，吐則有餿酸之氣，瀉則有淡白之色，亦有酸餿氣，此感寒停食也，升消平胃散，少加羌活。</p>
<p>有脾氣虛弱，飲食不化而泄瀉者，其瀉滑利，而色帶白，且不變化，如糟粃樣，亦有餿酸氣，瀉後精神困倦，宜大溫補脾胃。</p>
<p>一　有脾腎虛寒者，急宜重用薑、附、耆、朮、砂、椒、肉蔻、故紙等溫補命門之品。</p>
<p>一　嘔吐在上中二焦，用藥不得犯下焦元氣，即或便閉，亦當調補胃氣，從緩利導，且脾胃和，津液回，則自通矣。如久不通，腹脹滿，無實證，可用蜜導法。</p>
<p>一　熱瀉，必暴而甚；寒瀉，多徐而緩。寒則多澄澈清冷鴨綠之色，況熱甚少瀉證，必有火脈火證方是。</p>
<p>瀉而糞黃臭穢，小便短赤，毒火下奔也，痘暈必紫赤，加味四苓散主之。</p>
<p>瀉而糞色淡白青綠，更兼滑利，乳食不化，此虛寒也，痘暈必淡白，七味豆蔻丸主之。</p>
<p>吐瀉不止，手足厥冷，此脾胃之氣欲絕，不惟脾胃衰，則氣血不充。痘自無力灌漿，即病勢已困矣，急用參、耆、附、朮、白蔻、肉蔻救之。</p>
<p>有吐瀉脈沉細微弱者，虛也，手足冷，本病也，若手足壯熱，乃陰極似陽，謂之陰燥，宜回陽固本。</p>
<p>一　有六腑閉結，狂妄煩躁，口渴唇赤，脈洪數沉緊而滑，實也，手足熱，本病也，若手足冷逆，為陽極似陰，熱深厥深之象，下之。</p>

<h2>驚搐論</h2>
<p>驚風之說，先賢已深闢之矣，而方書猶存是號，昧者宗之，終身不悟，逐以天麻、白附、全蠍、姜蟲、荊、防、羌、柴為治驚聖藥，無論虛實寒熱，概而施之，傷人性命，殊堪痛恨。然驚名雖不可妄立，而驚搐則小兒常有，矧痘疹發熱日久，毒氣發越，能保必無此證乎？余因晰而分辨之。</p>
<p>身熱二三日，或痘欲出，或初報苗二三顆，忽然驚搐大作，不可惶惑，惟審寒熱虛實用藥，切勿見驚即治驚，總在立意托苗，苗呈而驚自定。</p>
<p>有毒氣壅盛於內，不能聚發於外，而驚搐狂躁者，宜清解散，去芩、連、紫茸以宣之。</p>
<p>亦間有熱毒壅盛，痘紫赤，脈滑數，二便秘而搐者，多由陽明胃中有熱，清毒活血湯，加熟莊黃微利之。</p>
<p>有內毒本盛，外為寒所束，鬱滯不得出致搐者，宜蘇解散發散之。</p>
<p>有氣血虛弱，不能送痘出外驚搐者，溫中益氣湯、真元益命湯補托之。</p>
<p>有心脾血虛而搐者，歸脾養心湯之類主之。</p>
<p>有木邪盛而搐者，小柴胡湯，或導赤散入辰砂加減主之。</p>
<p>有藜藿之子，皮肉粗厚，不與疏通腠理，致毒郁不伸而搐者，升麻葛根湯主之。</p>
<p>一　痘已收靨，餘熱不退作搐，此氣血大虛之候；至壯熱氣粗，手足亦熱，唇焦口乾，煩躁頓悶者，又為毒火未盡，須詳別之。</p>
<p>驚搐正宜急急分別用藥，不得謂痘未出之前，驚搐為順。朱豫章治一毒氣壅盛，不能發苗，郁遏於內，驚搐抽掣，眼目斜吊，口鼻歪斜，用敗毒和中加羌、蘇、白芷，表裡兼治，而痘出驚止。若用驅痰峻攻藥，則不救矣。世人不明毒郁致搐之由，不極力托苗，專作急驚治，殺人多矣。</p>
<p>今人元氣薄弱，嬰兒常多陽虛，故氣血大虛，不勝痘毒攻衝，又不能送之外出，因而致搐者實多，一誤涼表，為禍至速，宜加察焉。</p>
<p>辨此驚狂諸證，宜細心體察，觀形察色，問證聽聲，又參以脈法，自可分別。若痘暈紅紫，面赤唇紅，聲音亮，口氣粗，手足亦壯熱，脈洪數，此毒氣壅盛也。或形色多同前，但聲重鼻塞，或流清涕，脈浮緊而數，此毒盛而為風寒所束也，宜蘇解之。然此證在寒冷之月，或不謹避風寒，及傷風通行時有之。</p>
<p>若痘影淡白，在皮膚之間，不見紅活，唇淡面青白，脈遲緩，雖煩躁驚搐，有似於熱，其實因氣血虛弱，送痘不出之故，宜補氣以托之。</p>
<p>又有燈火一法，因其無益，列於書末。況元氣虛弱，又兼吐瀉後，脾氣又下陷矣，必溫中益氣，倍參、茸、耆、朮、薑、附、二蔻，以助脾命，自痘出驚定，若用燈火，反傷元氣。蓋火能劫其有餘，不能治其不足，故痘疹收靨還元后，皆不可用燈火。余治痘疹，從未用一燈火，而皆無恙，有明徵矣。惟痘疔，痘賊，痘母，欲拔去其毒，則不過一二焠而已，有何傷損？</p>

<h2>封倉論</h2>
<p>痘出稀疏者，何必以封眼為順？稠密則必須封閉兩目，乃元氣內固，若兩目炯然，決難成漿。如五陷之證，仍照法用藥攻漿，自不期封而封矣。</p>
<p>有兩目因腫而閉，多眵淚，又非封倉之謂。</p>

<h2>寒戰咬牙論</h2>
<p>痘已出齊而咬牙者，但須攻漿，漿足自然不咬牙。蓋善治痘者，必以正痘形色為主，痘順則無不順矣。</p>
<p>若漿已充足，手足微有動意，非寒戰也，乃漿滿作痛，吉兆也。</p>
<p>聶氏云：但凡八九日而漿不足，則寒戰咬牙作矣。蓋肺寒則寒戰，胃寒則咬牙，或建中湯、參歸鹿茸湯加附、術主之。謂至此，則元氣已衰，陽氣將盡，故咬牙寒戰，併發於其時，若先多誤涼誤表者，不治。</p>
<p>此證固為純陰無陽之候，薑、附亦可重投，亦間有陽證，火極似水者，痘暈紫赤焦黑，二便久閉，毒火熏蒸，或誤補者有之。亦有寒邪在表，身體壯熱，頭痛，脈滑數浮緊，無汗，邪正相爭而戰慄者，散其邪而戰自止，宜升葛桂枝湯之屬。</p>
<p>朱豫章治一痘，漿已充足，忽然咬牙，將雪梨五六片令食之，則不咬牙。是七八日間，亦間有熱候也。總之胃熱咬牙，肺熱戰慄者，原為罕見，必身熱氣粗，二便久閉，煩躁，口渴，痘暈紫赤焦黑，始歸熱候，不然皆當從虛寒治。</p>
<p>一　初熱時，咬牙戰慄者，多由毒火留於經絡之中，邪正相爭，欲出不出所致。實者松肌透托可也，不可肆用寒涼，冰伏其毒，虛者補托之。</p>
<p>有痘收靨時，痂皮圓足，但時或戰動，語言誕妄，此為正氣將復未復，不能自持。痘出稠密者，或有此證。</p>
<p>一　咬牙證，與以地黃湯而愈者，名為齒槁，其痘色必焦枯滯暗。</p>

<h2>空倉論</h2>
<p>痘名空倉，緣泡內無漿，只有外面一層空殼，急宜辨寒熱虛實，用藥催漿。如實熱又兼毒火內盛者，急以清毒活血湯攻之。虛寒者，千金內托、參歸鹿茸、回生濟物等湯溫補之。陰虛者，大劑八味丸之類，若不及時救治，變證蜂起矣。業痘科者，當以手次第按其痘頂，則空與不空了然矣。</p>

<h2>漏漿論</h2>
<p>痘已成漿，而漿自漏者，此為元氣虛弱，肺氣不固也，宜保元湯加白朮，漏孔以松花粉之類撲上。</p>
<p>一　名蛀痘，謂表虛腠理不密，元氣不固也。按此必皮嫩薄，漿不稠黃。誤於表散者，每有此患。</p>

<h2>潰爛論</h2>
<p>此因當散而不發散，不當散而發散，及有熱不清，虛而誤攻，後皆潰爛。</p>
<p>有膿漿充滿，而潰爛作臭穢氣，多由痘出稠密，藥力攻其長漿，漿足而潰爛流膿作臭氣，雖見皮薄，猶喜其膿成毒解也。若身熱不結痂，清表敗毒湯主之。若不熱不渴，唇淡食少，手足冷，不能依時結痂，須大補氣血，助其收靨，宜溫表調中湯之類。</p>
<p>一　膿成不收，反致潰爛，或和皮脫去者，此名倒靨，毒氣入內也，急須大補中氣以托其里。</p>

<h2>擦破焦乾論</h2>
<p>痘漿務其充滿，若不滿，面癢燥，擦破出血，隨即焦乾，如鍋焦樣，此陰陽氣血皆虛也，主十全大補湯。又有一種長漿不濃，渾身俱是淡白水泡，形如燈籠，及回水之際，燥癢異常，擦破微有血水，隨即焦乾，此脾命兩敗也，主回生濟物湯。然此二證皆不治。</p>
<p>愚亦遇此痘證，其人年十四五，痘出稠密，頭面胸背，皆如錫皮，潔白無紅暈，身涼，肉與痘皆不腫，目不封，小便清長，大便瀉利，下身間有鋪紅淡處，各處按之，只有一二分清漿，陷而不起，痘密又無可診脈處，余辭不治，跪而求之，奈家貧難用參、茸，一日一夜，猛進蜜耆斤余，幸其人能食，燕窩、老雞蒸煮，亦加蜜耆，外用附片四兩，煮羊肉頻進，方中耆、朮、歸、附、肉蔻，絕不停止。晚間面部猶擦破焦乾，瀉反加甚，漿全不長，死可必矣。彼乃遵余法，猛進不休，後竟安好，不亦異乎？</p>

<h2>痛癢虛實論</h2>
<p>諸痛為實，諸癢為虛，《內經》言之明矣。然所謂痛者，非頭痛、腹痛、腰痛、口舌咽喉疼痛之謂，乃膿漿充滿，痘粒高聳，內實作痛，吉兆也。用生白芍一錢，酒調末服之，立止。</p>
<p>痘當行漿，及膿漿不滿，與回水之際，作癢異常，此屬內虛，急宜大補氣血，助其足漿，暈若紅紫乾枯，即用清毒活血湯；淡紅淡白，即用千金內托散、參歸鹿茸湯、回生濟物湯之類，必使漿足，而癢乃止。外用芥穗末，將棉紙緊捲成筒，火上點燃，按滅火焰，隔一二層竹紙，於癢處焠之。用打馬鞭熏，茵陳熏亦可。</p>
<p>有汙穢觸犯癢者，燒蒼朮、紅棗、黃茶、檀香解之，甚者再服和平湯，使芬芳味達，自愈。</p>
<p>痘瘡始終，氣以載之，血以養之，氣充實則禁固其毒，不得橫行，故緊實作痛，癢為邪氣橫溢，氾濫皮膚，不任約束，此正氣虧極。</p>
<p>有痘初出，風熱作癢，表未解也，荊、防、蟬蛻、白芷、升麻等類主之。</p>
<p>一　痘干作癢，宜養血滋陰，如十全大補之類。</p>
<p>痘濕作癢，宜補氣去濕，如參苓白朮散之類。</p>
<p>一　膿成痂結而癢，邪去而正將復也。</p>
<p>一　謂初終作癢，皆主陽氣虛寒。</p>
<p>一　有衛氣不充，脾氣不健，營失所養而痛者，此虛痛也。如無火證火脈，身不熱，二便清利，即須補氣。</p>

<h2>紫浮萍論</h2>
<p>痘名浮萍，如浮萍之叢聚也，名之以紫，因其色而名也。此時行出痘中，必間有紫浮萍者，或二三十顆，聚成一片，或五六十顆，叢聚一堆，甚至百十顆，湊合一處。其萍之顆粒獨小，周圍之正痘獨大，只見小小顆粒，黏連一片，俱是紫色，根腳亦紫。其證有七八處十餘處者，凡長漿時遇之，如見正痘亦紫赤，即宜內服清毒活血湯，外搽拔毒散，日搽四五次，則毒氣盡行拔出，正痘長漿，彼亦長漿，皆可按期回水。如正痘淡紅屬虛，則但從虛治，不過敷拔毒散而已。慎之，不可以浮萍色紫為熱，懼用峻補害事。朱豫章曾治此證，先醫誤用寒涼解毒之劑，至八日痘皆平塌，全無膿漿，乃猛進參、茸補劑，外敷撥毒散，膿乃充足，各處紫浮萍亦長漿。有謂紫浮萍盡屬熱者，可盡信乎？愚治痘常見元氣虛弱者，亦有紫浮萍數處，小而叢集，正痘色或淡紅淡白，以大補催漿，無不助效，慎不可泛用清毒活血湯等方也。</p>

<h2>痘疔</h2>
<p>疔乃毒氣凝結而成，險逆證有之，貴用燈火、挑撥、拔毒、化毒四者而已。</p>
<p>痘疔外形獨異，根腳獨大，硬而不軟，少則以燈火焠之，又用拔毒散搽之，不消，則以銀針挑撥痘頂，必出紫血，以綿拭淨，隨用四聖膏填孔內，自然化毒去疔，爛去根腳，膿水淋漓。</p>
<p>一法　用獨蒜切一片，放痘疔頂上，用艾絨作丸，燃放蒜上，灸三壯，痘疔自消。</p>
<p>有初見紅點，漸變黑色，其硬如石者，此肌肉已敗，氣血中虛，不能化毒。有中心黑陷，四畔突起戴漿者，此血隨毒走氣不能充也，此與疔異而同危，主人參內托散、六氣煎加川芎、紅花之類，外敷拔毒散。</p>
<p>一　辨痘疔色黑堅硬，其形獨大，針撥不動，摸之則痛，或捻之有核，痘未出，疔必先出，色或先紫赤後黑，先黃後黑，先灰白後黑，一起即黑，亦自不定，俱急宜挑撥，去惡血，塗丹方，形壯脈實者，或服消毒飲子。疔痛如刀剜者不治。</p>

<h2>痘賊</h2>
<p>賊痘較之眾痘，顆粒獨大，先微含水漿，中臍有黑色，後必帶累眾痘，不得依期起發，故名為賊。痘疔根腳微腫，外形獨大，賊痘外形雖大，根腳不腫，以此分別。若見有此，即以燈火焠之，多者恐燈火難受，但日搽撥毒散四五次。</p>
<p>賊痘依期而出，只有二三顆，其形甚大而帶漿，其色極紅而帶潤，易長易灌，膿亦稠滿，色亦佳，倘誤認為稀，至靨後未有不腹脹喘急而死者。蓋賊痘能盜周身氣血而盡附之，故易長易灌。又離眾痘先出，若頭目一般，故又名痘攬頭，急挑撥，搽拔毒散。</p>
<p>又賊痘皮軟，不甚礙手，初出便如菜豆，兩三日便大如棋子，帶漿肥潤。</p>

<h2>水疱</h2>
<p>順證必次第長漿，決無水泡間集，此證皆因元氣內虛，脾虧濕盛，不能送毒成膿，以致毒伏於內，水溢於外，氾濫於脾肺之間，不作漿而作水泡，惟大補氣血，或十全化毒湯，如耆、朮、參、茸、芎、歸、苓、桂、薑、附之類。</p>

<h2>痘母</h2>
<p>三兩成叢，腳根堅梗，或多帶紫赤，或身上紅腫結硬，似癰非癰是也，或主清毒活血湯加減，外塗拔毒散。</p>

<h2>信苗</h2>
<p>初發熱時，面部上忽出有痘，名曰信苗，此痘之將發，而毒氣之標也。色紅而軟，塗以拔毒散；若紅紫堅硬如魚目者，急挑撥拭淨惡血，塗丹方。</p>
<p>一　面部見苗二三顆，依然起發灌漿收結，以紙燃照之，皮膚之間，隱隱有紅點伏藏之意，不急補托，至毒氣羈留日久，不勃然而發，其勢莫禁，即毒反復入，內攻而死。予嘗見有面部已報苗，形復退縮，照脈色補之，神亦清爽。如未嘗出痘狀，急與峻補，或越四五日、七八日，忽又身熱見苗，則知氣虛不能送毒者，雖已報苗，猶不能齊透也。</p>

<h2>婦人出痘論</h2>
<p>婦人天癸至後，氣血常多不足，如發熱之時，正遇經來，此熱從血解，若四五日不止，恐熱入血室，血必妄行內動，反令中虛，或主柴胡四物湯加氣分藥，極力托苗，兼防熱邪乘虛入里。若非經行之期，於發熱而經忽至者，多因毒火內熾，逼血妄行，審有熱證熱脈，或以清毒活血湯加減托苗，痘出經止方愈，若遲則毒氣日熾，正氣日衰，內虛伏陷矣。又有元氣衰弱，不任毒氣攻衝，以致血無所統領，隨其故道而出，其勢有氣陷血脫之凶，若不急為峻補，加以阿、艾止血，則毒即入於血室而為害，正氣亦聽命於毒氣，不能送之出外矣，有不腹脹內喘者乎？又如起發灌漿時，適遇經行，三四日不止，必難起發灌漿，或平塌，或淡紅，或灰白，或黑陷，急用十全大補湯，加炮薑、阿、艾、附片，若更兼寒戰咬牙，喘滿身熱神昏者，為內脫不治。又起發灌漿時，經水適來，或口喑不能語者，以心主血，舌乃心之苗，血去則心虛，心虛則少陰之脈不能上榮於舌，故卒然失音，主保元湯加志肉、棗仁。又經不斷之時出痘，發熱神昏，語言狂妄，循衣撮空，如遇鬼祟狀者，此經行後血室空虛，邪熱乘虛而犯衝脈，宜柴胡四物湯合導赤散，其有陽脫者，脈證自虛，宜審別之。亦或有陽極虛，又誤用寒涼，致令孤陽浮越，全不制陰，血得氾濫，痘乃淡紅伏陷，其人畏怯，如見鬼狀，此名失志，而陰陽已離絕矣，急用回陽救急湯，倍參茸姜附，以圖萬一。又女子一向崩漏不止，氣血已虛，若再感患痘疹，則必不能任其毒，宜十全大補湯去桂，加炮薑、烏賊、阿、艾，以大補氣血為主。若虛而且寒，血色晦暗清淡，宜偏於扶陽，以制陰邪。又有血海乾涸，經水不通，適逢出痘者，宜調其心脾，使裡氣得和，邪無留伏，而痘自外出，不然，毒鬱於衝任之間，非錮閉為害，即迫血妄行不止，且即為喘急，為腹脹，為伏陷矣。</p>
<p>至於孕婦出痘疹更危，先輩謂托痘即貴安胎，主四物湯，參、朮、砂仁，有熱再加條芩。予謂人無二處受藥，治病只有一理，審得陰陽虛實無訛，自使痘疹胎孕皆愈，且有諸內者形諸外，豈有已見之痘疹宜補，隱藏之胎孕宜涼乎？此所以但當詳治痘疹，不必疑有兩等藥也。</p>
<p>有孕婦出痘，正當盛時，忽臨正產者，勢必氣血俱虛，宜十全大補湯，加炮薑、烏藥。虛寒者，加附片；腹中微痛者，惡漏未盡也，加楂肉、木香、炒枯黑豆之屬。若寒戰咬牙，腹脹不渴，肢冷身熱者，脾胃內虛而外假熱也，宜參、茸、耆、朮、歸、附、木香、砂仁之類。有因痘胎落者，元氣重虛，宜倍補益。</p>
<p>有產後半月十日之間出痘，此氣血新虛，以大補氣血為主。大抵男女婚嫁後出痘，元氣已經發泄，宜以培補為主，其痘亦不能如小兒之尖圓紅潤黃蠟，但求其順而已。</p>

<h2>不能言論</h2>
<p>此證痘疹中皆有，一有風寒外襲，壅閉肺竅，咳嗽失音者，參蘇飲散之。</p>
<p>一　有火邪上炎，肺金受制，氣道閉塞而聲不出者，甘桔導赤散主之。</p>
<p>有上焦陽虛，聲位小不出者，此心肺不足。蓋心主血，肺主氣，痘密則氣血俱損，故聲不出，或保元六氣煎、回生化物湯加減主之。</p>
<p>有下焦陰虛，左關、尺脈虛大，而聲不出者，病在肝腎。蓋腎為聲音之本，精血耗竭，水虧肺涸，音乃不出，宜滋陰益水，或大補元煎、十全、八味主之。</p>
<p>有下焦虛寒，元陽不充，脈或虛大遲軟，或緊細微弱而聲不出者，病在腎中無陽，以陽主氣，陽衰則陰邪益盛，真氣反受其欺侮而散失，且有以鬱抑錮蔽之，俾不得升，非重用薑、附、參、茸、耆、術莫救。</p>
<p>有痘暈紫赤焦黑，以致口動，啼泣無聲，身熱便閉，此毒火傷腎也，不治。或以歸宗湯之類救之。</p>
<p>有咽喉有痘，阻塞氣道，肺經受熱，加甘、桔、連翹、牛子，有誤服熱藥，痘瘡焮赤熱甚，咽痛失音者，涼膈散去硝、黃，加減主之。</p>
<p>有聲啞而煩熱焮痛，呻吟作渴，欲飲冷水，大便不通者，此心脾實熱，急與清涼解毒。</p>
<p>潔古云：痘疹未出而聲不出者，形未病而氣先病也；既出而聲音不出，形氣俱病也。其治法從可悟矣。總之痘疹失音，若非有火證火脈，皆宜猛進補劑。</p>

<h2>痛論</h2>
<p>痘初出而痛者，多因毒氣伏郁，不能透達於皮膚之外，或升麻湯加減。</p>
<p>有痘出稠密，毒盛血熱作痛者，加味四物飲。</p>
<p>有一二處痛甚紅腫者，此餘毒欲發癰也，大連翹飲。</p>
<p>有平坡漫腫，亦無紅色，此陰毒發也，或大補陰煎。</p>
<p>一　有遍身如齧，而痘色紫赤者，此瘀毒壅滯，最凶，急宜清毒活血。</p>
<p>一　身後痛，屬太陽，宜羌、防、甘草。</p>
<p>身前痛，屬陽明，宜升、葛。</p>
<p>身側痛，屬少陽，宜柴胡、連翹、防風。</p>
<p>四肢痛，屬脾，宜防風、酒芍、甘草。</p>

<h2>頭痛論</h2>
<p>此有邪氣與真氣相搏，壅遏毒氣，上干清道者，故毒熱上騰，與風熱鬱閉，皆能為患。如頭面痘出稠密，身體壯熱，二便不利，痘暈紫赤，滯暗悶亂，昏痛煩躁，口渴者，毒火上蒸也，大連翹飲加減主之。如風熱鬱閉，清解散。</p>
<p>有痘暈淡紅灰白而痛，此元陽不足，真氣散失之證，以頭為陽之首也，急重投耆、附、參、茸。</p>

<h2>腰痛論</h2>
<p>凡痘疹正發時，腰痛最凶，以腰為腎之腑也。若果毒火亢極，真陰不能勝邪，頻頻作痛，急宜救熱存陰，如敗毒和中、歸宗湯之類。愚謂痛緩者，先與升提達表，大劑地黃丸料，加升麻、白芷。至腎大虛而痛者，尤宜倍加滋陰補腎之品。</p>
<p>一　說太陽之脈，夾脊絡腎，痘毒由膀胱直入少陰，宜泄少陰之邪，以通太陽之經，主人參敗毒散。予謂脈證皆實，痘未見點，毒伏鬱而腰痛者可用。</p>
<p>或腎氣虛陷，不能傳送外達者，必用理陰煎，少加羌活、升麻，或大劑八味丸加升麻。</p>
<p>馮氏治腰痛疲憊，六脈無根，發越不明者，謂其陰陽兩虧，脾元中氣甚弱，重用熟地、白朮、人參、上桂、當歸、炙草、升麻，則知腰痛未有不救脾腎者。</p>
<p>薛氏治一男子，年三十，出痘色紫，作渴飲水，腰痛，足熱耳聾，謂腎虛之證，用加減八味丸，煎與恣飲，熱渴頓止，佐以補中益氣加麥冬、北味而愈。按：此證似可用歸宗湯之類，乃極力補救腎元，則知腰痛未有概用瀉熱者。</p>
<p>又治一人，十三歲，出痘色暗，兩足及腰熱痛，便閉，咽舌乾渴，引飲不絕，亦用加減八味丸料，作大劑煎與恣飲，至三斤俱證悉退，又佐以補中益氣、十全大補，各十餘貼而痊。</p>
<p>又治一男子，年二十餘，發熱煩躁痘暗，足熱腰痛，用加減清毒活血湯一二劑，證減，再用地黃丸料數服，灌漿收靨。</p>
<p>按：此皆真陰不能勝邪之故，乃不專清毒，極力救陰，真所謂識得標先治本也。況有元陽不足，脾腎虛寒者，尤不能送痘毒，每致毒伏腎經而為腰痛。治法早在溫補脾腎，更用不得一毫清毒藥。世人一見腰痛，昧者肆進苦寒，知者反束手無策，曷於此細參之。</p>
<p>腰痛外治方，用熱麻油按痛處揉之。</p>

<h2>痘生蟲論</h2>
<p>此皆濕熱所化，毒流皮膚也，雖冬月亦有之。一方以柳葉鋪下，令兒臥上，則蟲自死，香油調幹柳葉末敷之亦效。</p>

<h2>痢疾論</h2>
<p>痘後泄痢膿血，為五液注下，脾腎虛寒之候，若用苦寒立斃，當從痢證法，審虛實治之。</p>
<p>一　有泄利膿血，為餘毒未盡，熱移大腸，或用四苓加芩、連、山梔、木通、連翹。</p>
<p>痢下晦淡，此水液清冷也，補中、異功，薑、附加之。</p>

<h2>喘咳論</h2>
<p>咳嗽者，有聲有痰也。有因痘而致肺熱者，杏蘇飲；一有氣虛腠理不固，風邪侵肺，而咳吐稀痰者，參蘇飲；頭痛身熱鼻塞，風寒也，芎蘇散；如咳嗽不已，無表證者，此肺虛為痘毒所乘，補肺湯；喘脹便秘者，肺熱也，黃芩瀉肺湯；有湯入口，即咳而吐出者，肺胃熱痰膠固也，先與梔子豉湯探吐；面白手足冷喘促者，虛寒也，白朮散；痘形乾紅，腹脹便秘而喘，毒盛氣壅也，宜清火解毒。一有氣虛不能逐邪外出，毒伏於內而喘脹者，大補以托之。一有泄後喘者，脾氣下陷，虛火上擁，下氣不續也，補中益氣湯。一有吐後喘者，胃虛不能制伏相火，六君子湯。痘出四五日，伏陷喘脹，痘暈淡紅，尤宜急為峻補攻發。若漿半足而倒靨，喘脹脈虛，暈淡紅灰白，更凶，急宜大補以托之。有誤用參、耆而喘，痘暈紫赤，枳殼湯。有痘密以致鼻塞，口氣呼吸不勻，似喘而實非喘，不得誤治。結痂落痂後咳嗽者，乃衛氣虛弱，腠理開張，宜人參清膈散加減，如參、苓、耆、朮、歸、芍、甘、桔、地骨、桑皮、百合、紫菀之類。如咳而大便溏泄，小便清利，精神困倦，身無大熱，而不渴者，虛候也，須補益之。咳久不愈，肺氣不斂也，斂之潤之。一有氣血不足，風寒在肺而喘者，或金水六君子加減。總之，實者聲粗有力而長，虛者聲微無力而短，吐瀉後喘，倒靨時喘，大汗後喘，皆為元陽不足，肺氣將絕之兆，急宜參耆鹿茸合回陽飲。</p>
<p>一　有外感寒邪，鼻塞身熱，頭痛胸滿，惡寒，蘇解不應者，虛則佐補以發之，如屬寒邪深閉，再加麻黃、桂枝。</p>

<h2>咽喉論</h2>
<p>痘出最要咽喉清利，若毒火上熏，咽喉腫塞窄狹，不能呼吸飲食，疼痛啞嗆，宜如聖飲、甘露飲、射干牛子湯選用。血熱咽痛者，紫草飲。</p>
<p>一　有咽痛發熱，手指初捻似熱，捻久則冷，脈遲微者，脾氣虛也，異功散。</p>
<p>有大便溏泄，飲食不進者，慎勿誤用寒涼，致損脾胃，而變吐泄癢塌。</p>
<p>有咽痛足熱，小便赤澀頻數，此三陰虛，無根之火，循經上至咽喉也，主六味丸加揀冬、北味。</p>

<h2>渴論</h2>
<p>痘前渴者，多宜清金；痘後痂落渴者，多宜大補元氣。</p>
<p>一　煩躁、譫語、壯熱，痘紫作渴，竹葉石膏湯加減。</p>
<p>一　大便黑，小便利，少腹脹，喘急而渴，恐有瘀血，犀角地黃湯加桃仁、紅花、歸尾之類，此證痘後餘熱未清，或間有之。</p>
<p>一　瀉泄發渴，手足俱冷，飲沸而不知熱，痘又或伏陷黑暗者，屬極虛寒。</p>
<p>一　煩熱作渴，面赤睛白，為腎經虛熱，六味丸加揀冬、北味恣飲，以救腎家將涸之水。</p>
<p>按：有火脈火證發渴，始終不可溫補，虛證脈虛發渴，始終不可清涼，脈證固所宜，憑痘暈尤其大要。</p>

<h2>面色論</h2>
<p>出痘面微赤者順，赤甚為熱，原不同陰越陽飛、面赤戴陽之謂。</p>
<p>㿠白者多虛寒。</p>
<p>一　肝木剋土，面色青者，逆，急用四君子、理中加升柴，調補脾胃。</p>
<p>有痘毒風寒相搏，凝滯肌肉，遍身皮膚色青，或用奪命丹之類表發之，虛者主溫中散寒之法。</p>

<h2>口噴穢氣論</h2>
<p>此證多有陰邪上逆，逼其胃陽於外，故臭，宜附、術溫中。痘暈淡紅灰白脈弱者，即當以寒論，況寒之甚者，反多唇口俱爛，所謂龍雷之焚燬至速也。</p>
<p>有牙根腫爛成疳者，此陽明熱毒內攻，宜甘露飲加連翹、牛子之類。</p>
<p>一　有誤補，以致毒火熏炙脾胃，臭氣難近，攻於齒頰，上下唇紅赤焮腫，滿口糜爛，身熱，二便不利，急宜清解，如竹葉石膏湯、清毒活血湯、歸宗湯選用，庶免脾胃潰爛及牙疳之患。</p>
<p>一　舒舌為脾熱，弄舌為心熱。</p>

<h2>痘瘡黑色分辨論</h2>
<p>痘至變黑，本為凶證，錢氏謂為不治。陳氏謂白屬氣虛，黑屬血熱，必須涼血，中黑陷而外白，起發遲者，涼補相兼。朱氏丹溪謂黑陷青紫者，百祥丸下之，亦以黑為熱。九吾豫章，雖明於治痘，未嘗以黑為寒，惟薛氏立齋，謂黑陷為寒水所侮，主於寒；張氏介賓，謂黑陷為氣不足，血不活，亦主寒。余謂此難拘執，如身熱氣粗便閉，痘由紫赤變焦黑者，定屬熱證，至中臍黑陷，外白起發遲者，皆正氣弱極不能透達，即主於寒，涼補相兼，治殊未當。朱氏以清涼為事者也，宜其以黑為熱，但青雖為肝證，亦每主風寒所襲，及脾土敗壞之應，概以為熱尤謬；立齋謂寒水侮者，必由吐泄厥逆，寒戰咬牙，痘暈由淡紅灰白所致，雖盛暑亦可重用參、茸、耆、朮、附、桂；介賓謂氣不足者，亦由淡紅灰白，脈微身涼而來，參歸鹿茸湯、回生濟物湯，宜為猛進，絕不可以黑為熱，反生顧慮。從此亦可悟麻疹之黑暗，多屬虛寒矣。至於《準繩》不長於治痘，謂有初出時，隱隱有黑點見於頭面，自三四朝至六七日，黑色如故，不見紅色，形如珠圓，行漿充滿光潤，漸漸稠黃，名曰黑豆，亦有所見而然。今人皆以變黑為腎經之痘，謂腎水乾枯之象，不知血熱毒盛，起初便乾枯紅紫，至六七日倒靨變黑，與初出便黑潤者不同，且與虛證灰黑迥異。其有一熱腰下便見黑點如蚤咬者，毒氣甚重，最凶，又不得疑作黑豆。</p>
<p>有觸犯婦女經氣，及諸厭穢變青黑者，急取紅棗、檀香薰解，用月月紅揉碎，和紫茸水酒泡服。</p>
<p>有觸犯風寒變青黑者，蘇解之。</p>

<h2>夾斑夾丹夾疹論</h2>
<p>痘者夾斑而出者，初見痘苗一二顆，其空處及遍身所出，俱紅赤小點，而無頭粒，不見高聳，多隨出隨沒，此斑也。</p>
<p>夾丹者，初見痘苗一二顆，遍身紅赤成片，如雲頭突起，此丹也。</p>
<p>夾疹者，初見痘苗數十顆，遍身通紅，碎碎紛紛，形如麻疹，其實大痘夾疹而出，疹為脾肺兩家遊火，俱宜黑參升麻湯一二劑，諸證自退，正痘自出，其痘必不稠密（愚按：三證亦有屬虛者，倘脈微，熱緩，形弱，痘暈不紅紫，多是虛證，即斑有假陽之謂也）。予嘗治痘於正痘未出時，遍身紅點，察其形證脈氣皆虛，即重用耆、朮、歸、桂一二劑，斑疹隨退，正痘漸出，遂連進溫補，痘自依期起脹灌漿收結，此可見不當盡作遊火施治。</p>
<p>一　有痘後發赤火丹瘤者，流移紅腫，其痛手不可近，多因蓄火太甚，不能發泄，鬱於肌肉之間，最險，宜元參清肌散，外用磁鋒砭破去紫血，敷拔毒散。</p>

<h2>蓋痘疹論</h2>
<p>有痘漿充滿，初轉褐色，忽通身大熱，當先看臍之四圍，腰間如有小紅顆粒，此出解毒疹也，名「蓋痘疹」，宣毒透疹湯，以盡托之出外，後或用大連翹飲加減，一服自安：按此證多因極力用藥催漿，過於溫補，熱滯脾肺者有之。</p>

<h2>痘後發癰論</h2>
<p>痘當灌漿時，不能及時足漿，及結痂之後，遍身發熱蒸蒸，毒氣凝聚於一二處，紅腫堅硬，此餘毒未盡而發癰也，亦有誤服溫熱補劑，脾肺壯實不受其毒者，以大連翹飲一劑解之。其紅腫高聳之處，宜外敷三豆丹，可消則消之，不消則攻破出膿，膿盡用生肌藥，貼萬應膏自愈。</p>
<p>愚按：痘漿不滿，必定生癰，嘗見一貧女數歲出痘，全未用藥催漿，後遍身生癰，紅腫痛苦，口渴便閉，且多潰爛，壯熱不食，予給以三豆丹滿身搽敷，與大連翹飲加生耆、生地、莊黃一劑，頓愈，後又稍與清毒活血而安。又有一痘稠密，漿未足者，亦生癰，與以三豆丹、大連翹飲亦愈。是痘癰每多實證也。予又治劉蒲庵之家君，及舍侄女，皆因痘多水泡，皮薄漿清，後皆於頸項下發癰，並不見紅，亦不見大熱，不甚痛，脈仍虛弱不滑數，痘之疤痕甚淡，皆極力峻補，稍加炮甲以達病所，一自消，一潰而愈。則知凡證有虛實，宜加詳察也。</p>
<p>一　有痘，先漿不充滿，回水之際，發熱蒸蒸，頸項兩手兩腿，平坡漫腫，不分地界，又不見高聳，毒無頭腳，痛苦十分，亦無紅色，與皮肉一般，此陰毒也，不治。當按脈證極為補救之，如參、茸、附、桂、耆、朮、歸、地、炮甲、皂刺之類。總以癰有形跡，膿成毒解，為可望生。</p>
<p>一　癰毒先前雖實，至日久潰後，而膿血多不出者，宜十全大補湯，扶元解毒。</p>

<h2>凶證辨論</h2>
<p>初出見而涵水，乍起發而戴漿，膿未成而乾黑，囊未滿而萎黃。四語最為包括：如痘出便含清水，此名涵水；有眾痘皆未起發，獨有一二粒，乍起黃漿，為戴漿；如痘形大而軟，又恐賊痘，膿未成而根腳乾枯，頂黑陷，名乾黑；漿未滿而根腳平塌，若有黃漿之意，為萎黃，皆在不治。故治痘者，報苗之後，即當時時審看，早辨虛實救之。</p>

<h2>子來救母論</h2>
<p>痘先平塌，用藥催之，復又出細小痘粒，隨出隨灌，至子漿充滿，毒已化其大半，母漿亦漸次成膿矣。若痘已平塌難起，所出小痘，又隨出隨沒，不見長漿，是正氣已盡，不能長養矣，尚何法救之哉？</p>

<h2>似痢非痢論</h2>
<p>有痘後便膿血，腹中間或作痛，但不裡急後重，以清水試之，覺浮動有痂皮樣，此因腸胃有痘，收結滑下，或見有熱，稍清解之，但此多不腹痛。</p>
<p>一　痘後腸胃發癰，皆由痘毒不能盡托於外，膿漿不滿所致，亦每由痘暈紫赤，不與清解，以致熱毒留伏，其發必先腹痛，脈必滑數，以大連翹飲解之，或可內消，如已成熟內潰，便出膿血兼有，一二日腹痛自止，亦用大連翹飲一二劑，但不可過下，以癰毒既破，元氣又宜培養。</p>

<h2>痘後毒火攻目論</h2>
<p>前人皆云目中有痘，獨聶九吾、朱豫章云此非有形之痘，乃無形之毒也。痘至不能充漿，及回水時，外見身熱頭痛，眼胞紅腫，不能開視，而毒火已攻目矣，此時若用清毒保目湯一二劑，尚可解上攻之毒火。故入目之毒，必作於收靨之時，其為無形之毒益明，且目有陰陽，左陰而右陽也。目有五臟之分，黑珠屬肝，大小眥屬心，白珠屬肺，黑珠中之一點真水屬腎，眼外之上下皮屬脾。痘後壞目，翳膜獨遮瞳人、黑珠，豈心與脾肺不受毒耶？緣痘出稠密，先借五臟之真氣送毒，即借腎中之真陰真陽，灌漿收結，迨不能足漿之後，毒火上攻，急用清毒保目湯一二劑，庶免目患，失此不治。毒火愈炎，攻脾，兩眼胞紅腫；攻心，大小眥皆紅腫大痛；攻肺，白珠紅絲障蔽，日夜啼哭，痛苦異常；內動肝氣，惱怒實深，致肝家相火，與痘之毒火，內外夾攻，安有不焚燎肝木，爍干腎水者乎？且肝乃腎之子，肝既受火，腎必力救，腎中之真水有限，安能制伏毒火，可保肝不受害乎？既莫保肝，腎亦受困，肝部黑珠之翳膜，漸入瞳人而目壞矣。有翳者，服清毒撥翳湯一二劑，切不可概用寒涼，冰凝血脈，亦不可點香竄藥，責效旦夕。按：有過於溫補攻漿，毒火上攻，眼中生翳，如有痘形，服清毒撥翳湯即愈，或吹摘毒丹。左眼有犯，焠右手掌心燈火一炷，右即焠左皆效。於眼中稍見紅絲，即頻點胭脂水亦效。</p>

<h2>甄別是非論</h2>
<p>痘疹雖有專科，立論恆多疵謬，歷觀請書，殊難盡收，惟朱豫章宗《活幼心法》，永為合理，然於麻疹，則猶一於清涼，亦書之無全闢也。惟立齋、介賓、進賢、楚瞻諸公，論說常多精義，惜書繁，難於攻閱，治疹亦未必盡得真詮。是以鄉鄰赤子，每多困於庸工之手，一遇痘疹，竟成沿門闔戶之凶，殊堪太息。其家藏先輩名書者，又復不知取裁，見清涼解毒，則喜而從之，見辛溫補助，則畏而止之，所以必誤，亦皆因前人辨理未明，指示未真故也。他如魏桂岩云：始出之前，宜開和解之門，豈無始出即宜補助正氣者？翁氏則首重解毒，且謂氣虛不能出者，只須微補其氣，不可輕用黃耆，恐腠理密而難出，則是升、葛可以肆進，肌膚無嫌鬆懈矣，害豈淺乎？至立意解毒，抑解之即輕，或可不出耶，其謬已甚。更可議者，五六日起發之期，宜用清涼，八九日後，方用溫補，吾恐虛者縱不投以清涼，延至八九日，亦必補之不應。錢氏恐腎氣太旺一語，示天下輕易泄腎，尤其不法。劉氏河間、王氏海藏，宗其說而一於寒涼，致令冤沉莫白。陳氏文中，矯其偏過於溫補，是以偏濟偏均之誤也。丹溪欲酌乎其中，而仍偏於涼，謂痘密則毒盛，多服寒涼解之，全不顧慮脾腎，並視一齊湧出者，俱作熱治，悖理實甚。王氏謂痘為胎毒，旋覆謂有鬼祟，語言自相矛盾，胸中已全無領悟，首立代天宣化一方，以為奇特，重在人中黃、芩、連、莊黃、川柏之類，昊天顧有是化歟？張氏雖多集前言，而不得其要。痘科因以不明，而前人之於麻疹，更無一言溫補之法，先後次第，拘守成方，不應者謂之不治，絕不歸咎藥誤，可長嘆也。愚遍覽群書，仰體金鑑，別有會心，每證必分別虛實二候，親切指明，而麻疹尤為論辨精審，處處皆徒從陰陽五行會來，語語卻自先聖先賢體出，以公同好，雖極知僭妥，亦未嘗無補於醫學云。</p>

<h2>預先調養身體論</h2>
<p>既欲布痘，必先保體，脾胃固宜堅強，腎陰尤須完固。陰之衰者水不足，不足則血虧乾涸，焦枯之病可虞。陽之弱者火不旺，不旺則虛寒淡白伏陷之災可必，故必先補水火，以為氣血之根，力培中土，以為生髮之道，兩者皆無所虧，斯萬無一失矣。主厚生湯，隨脈氣酌用之。有陰極虧者，非多服八味或六味加揀冬、北味不可，陽極虧者，仍不宜混加陰藥。</p>

<h2>不可布種論</h2>
<p>軀不健旺，脾腎不足，或大病後，多生瘡癤，元氣未復後，皆不可布種。</p>
<p>地方出痘不清潔，多見逆證，是為時令不清，不可布種。</p>
<p>苗不佳，及取自病中，由諸險逆來者，皆不可作種。</p>

<h2>選苗論</h2>
<p>痘犯諸逆，及濁處流清，夾紫浮萍，痘疔、痘賊、痘母者，皆不可用。</p>
<p>痘苗必選蒼蠟、尖圓、紅潤、堅厚者吉，切記不可用薄而不厚，平而不尖，粉白而不蒼蠟，滯黯而不潤澤之苗。蓋好苗得天地陰陽清正之氣，味亦甘淡，即痘之多有數百顆者，亦可作種。醜苗味麻辣苦而臭，色亦烏晦不明亮。</p>

<h2>飲食論</h2>
<p>飲食亦可以養陰陽，藥補恆不如其食補。痘自發熱至報苗，三日之前固宜稍禁油膩，亦豈可如僧道用齋，予每令人暫食蒸蛋烘魚極妙，亦可謂齋之至者也。及至出齊，即令食老雞、羊肉、鵝肉、鹿肉、鳩鴿、鯽魚一切葷物，虛者多用蜜耆蒸雞、鵝，寒者且加附子煮羊肉，必以能食為貴，痘後亦無所禁，豬肉亦可常用，但不宜油厚耳。</p>

<h2>避忌論</h2>
<p>腋下狐臭氣，房中淫液氣，遠行勞汗氣，溝糞濁惡氣，婦人經候氣，諸瘡腥臭氣，柴煙魚骨氣，蔥蒜韭薤氣，煎炒油煙氣，醉酒葷腥氣，麝香燥穢氣，生人往來氣。勿驚駭恐嚇，勿相對哭泣，勿引說不祥，勿對面搔癢，勿家中淫穢，勿對梳洗頭，勿對面掃地，勿令僧道人，勿家中咒罵。</p>

<h2>治驚搐燈火（虛證忌用）</h2>
<p>兩手曲池各一穴，兩手虎口各一穴，兩足三里各一穴，兩腳鞋帶各一穴，兩腳大指與次指相近之椏處俗名腳虎口各一穴。</p>
<p>男從左上焠下，女從右焠下，焠畢抱定睡一時辰。</p>

<h2>逆證廣類</h2>
<p>抱鬢、蒙骩、鎖眼、抱鼻、鎖口、鎖唇、脫髮、托腮、囊腹、鱗坐、囊毬、抱膝、鼠跡、疊錢、環珠、蠶種、燕窩、鶴頂、檮杌、石血。</p>
<p>此證皆宜外塗拔毒散，仍審正痘形色，按虛實治之，自愈。</p>

<h1>二集</h1>

<h2>脈要</h2>
<p>楚瞻曰：脈為臟腑，虛實之據，水火氣血之徵。正痘之出，全賴氣煦血濡，更賴真水真火，以為氣血之根，而後煦濡有力，所以報苗時，即宜預為調治，或自先天而資其水火，或從後天而培其氣血，以為灌漿計。苟氣血一衰，充貫自難，毒火無從消化，重則內攻臟腑，輕則變生諸證。矧有等嬰兒，受質澆漓，有真陰不足之輩，尤多元陽不充之子，極虛之候，每多難出難膿，若徒守古法，始也，惟疏表清裡為事，則表虛者不任約束，任其一湧而出，將氣血充貫不周，定有難漿難靨、癢塌空殼等類；裡虛者中氣愈餒，無力載毒成形，蠶種蛇皮，變百出矣。繼也，以清解為事，則陽虛者冰伏於中，陰虛者枯涸於表，水火不行，無形之化，氣血難成有質之功。且稟薄之人，一經發熱數日，元氣已傷於中，再加疏表攻托，氣血益耗，痘之少者，猶或不傷性命，痘之多者，終恐絕其生機。惟於六脈洪滑有力，氣實形壯者，從古法以解肌；六脈沉微無力，氣弱神衰者，以溫補而托裡，俾中氣不餒，斯逐毒有力，起脹灌漿，不謀而至；六脈弦數無力，或豁大無神者，可於壯水之中，佐以補火之藥，使煦濡有情，則痘亦自出自化矣。</p>
<p>脈總六部，不越表裡陰陽。七歲以上，五至為平，七歲以下，六至為平，過則為數而邪氣實，不及為遲而正氣虛。人迎緊，外感也；氣口數，內傷也。浮而數，表熱也；浮而遲，表氣衰也；沉而緊實而滑大，裡熱也；沉而細弱而空散，元氣脫也。痘疹之脈，浮沉俱宜帶洪數，若弱而無力，則為陽證見陰脈，非峻補不可。至若浮而無根，雀啄、屋漏、魚躍，不治。先師云：阿阿緩若陽春柳，此是脾家居四季。蓋言六部陰陽，皆要有胃氣，胃乃元陽之子，五臟六腑之本耳，故脈靜身涼神寧者生，脈躁身熱心煩者危。況六日以前，毒自內出，陽之候也，其脈宜動；六日以後，毒從外解，陰之候也，其脈宜靜，反是則病，可不加意乎？</p>

<h2>雜論</h2>
<p>脾為水穀之本，固不可以不補；腎為津液之源，尤不可以不充。土雖為水之防，水能制火之亢，毒火灼燔，腎水且涸，榮氣敗壞，脾土亦傷，故補脾不如救腎，養陰所以退陽。</p>
<p>按：治痘大法，大約陽可生陰，氣能統血，惟陰極虛而陽獨亢者，乃以救陰為主。熱甚者，宜清利之，正所以存陰，豈專行滋補之謂而無泄法哉？</p>
<p>一　大熱安靜，為毒隨熱出，無妨。小熱煩躁，為毒與熱留，可慮。小便欲清長，大便欲堅實。</p>
<p>一　痂不著而壅腫，為榮血之淖溢。按：此為氣虛不能攝毒，以致迫血妄行，宜大補氣。</p>
<p>一　瘡盡裂而皺揭，為衛氣傷殘。</p>
<p>一　便多膿血，為倒靨，宜審形脈調養之，勿過清涼。</p>
<p>一　形色者，氣血之呈；氣血者，形色之本。氣盛則痘窠必圓滿而周正，且氣盛則血亦盛，痘暈亦必光明而紅活。故氣虛則頂陷，氣散則窠塌，然間有氣虛而不塌陷者，乃陰虛而血不化漿，氣離血而空浮於上，是以雖見圓滿而實為空泡，治宜十全大補湯，峻補氣血，從真陰真陽源頭上補來，若拘火載之說，豈空殼之痘可以清涼瀉熱為務乎？</p>
<p>一　血虛則暈淡，血憊則暈枯。按：淡則淡紅灰白之謂，乃氣血虛寒之甚，宜進參、茸、耆、朮、附、桂，何得僅謂血虛？暈枯雖由血憊，亦為熱毒梟炎，宜清毒活血湯之類，所以每多脈躁身熱，氣粗便閉，若昧於清解，則熱熾毒深，腎水灼焦矣。</p>
<p>一　痘以養衛氣為主，經曰：衛氣者，所以溫肉分，充皮毛，實腠理，司開合也。故衛氣強則肉分堅，皮膚厚腠理密而開闔得矣。所以收斂禁束，制其毒而不得肆，乃色蒼而蠟，形緊而實，漿濃而濁，痂厚而堅，自易收結。如衛氣弱則肉脆皮薄，腠理疏而開闔失，所以不勝其毒，而毒得恣其猖狂，乃浮腫瀉泄，鋪紅破漏，無所不至，非借參藥以培補之，飲食以滋養之不可。</p>
<p>一　凡痘疹不熱不得透，然太過則真元耗爍，有限之血，難抵無涯之火，血愈損而出愈難，故熱甚脈滑，雖不可過用寒涼冰伏，只宜升發，而芩、連、紫草，有時亦不得不用也。</p>
<p>一　安靜能食，勿謂便實可下，瀉泄煩渴，恐是脾氣下陷，腎中津液不得上潮，勿謂證熱而妄投寒涼。</p>
<p>一　起脹時，熱甚脈躁而無漿者，多宜清火退熱，火熱退而漿自行，若氣血虛而作潮熱不止，宜十全大補湯主之。</p>
<p>一　痘後潮熱者，是猶產後氣血大虛，所謂火從虛發，每於午後面赤發熱也，宜保元、十全加減。</p>
<p>一　熱雖微，而其人口渴煩躁，唇舌焦裂，小便赤，大便閉，是毒深而熱亦深，故表不大熱而裡熱甚也。</p>
<p>一　熱雖甚，而其人口不渴，唇舌俱潤，二便調，神清能食，是毒淺而熱亦淺，表熱里和也。</p>
<p>一　表裡俱熱，晝夜不休，種種火證，無論痘疹前後，皆宜加用芩、連，不嫌冰伏。若內無蘊熱，不特芩、連禁用，即生地、丹皮亦宜慎之。</p>
<p>一　痘初出，色豔者皮自嫩，嫩則易破，須防癢塌。</p>
<p>一　漿清者，雖見成痂，須防後發癰腫。</p>
<p>一　頭面先腫者，宜防易消而倒陷，此虛而毒肆之證。按：此為痘密應腫者言也，必痘先腫，肉乃漸腫，方順；肉先腫，恐痘不腫矣，故必倒陷。</p>
<p>一　論氣血，則以元氣為主帥，氣血為卒徒，元氣一虧，則氣血交會不足，氣在內而外不固，血即載毒以出而為外剝，氣在外而內不續，血即載毒以入而為內攻，惟智者補益真元，調理榮衛焉。然氣血盛，固能逐毒，而火毒盛，亦能傷正，故治標治本，或標本兼治，有衡權焉。要之，補氣血，以益氣為主，補血為助，所謂氣能統血也。</p>
<p>一　足漿時，痘頂有微白疙瘩，此血分有熱，上衝痘頂，不能開化毒氣，其痘暈亦必紫赤，藥不宜辛溫。亦有氣餒，不能充貫巔頂，疙瘩如萎黃，其痘暈亦不老紅，又當補氣，不可誤作血熱治。</p>

<h2>發熱求情合論</h2>
<p>發熱之際，時時惡寒，身振振搖動，如瘧狀者，其人衛氣必虛，榮血亦弱，不能逼毒快出，致毒氣與正相爭，主溫中益氣加減升發。</p>
<p>按：素質陽虛陰盛之人，常多此候，即宜重用溫補。亦有邪火外射，化而為寒，雖本來氣血虛弱，亦不可遽投辛熱，須憑脈證分別之。</p>
<p>一　有身熱自始至末不退者，多由毒火太盛，首尾宜兼清解，若內證不退，當看痘形屬何暈腳，及大小便何如以治之。如雖熱而精神不減，飲食二便如常，痘自依期起脹，無干枯紫赤之象，此火里苗也，只須順其自然，但調理氣血，慎風寒飲食，痘既收功，而熱自退，誤投寒涼表發皆斃。</p>
<p>一　痘非重感風寒，閉塞腠理，毒壅難出者，荊、防、羌、葛之類，不可妄投，恐發虛其表，正氣無力主持，亦任藥力猛銳，毒勢奔潰，一齊湧出。其形如面如㾦者，即不足之氣逼而成之也，其色如疹如丹者，即不足之血竭而華之也。中氣榮衛泄越於表，枯竭於裡，邪在未解之秋，正無續運之勢，定有伏陷乾枯無膿之患，此等奧旨，推之麻疹，亦何不然？故明手於毒邪出表之餘，定以培補氣血為主。如陰虛火盛者，重用滋陰以化陽，加肉桂、參、耆，舞蹈之而弗滯；陽虛火衰者，急為溫補以益氣，少用芎、歸以和陰，庶氣血充足而為釀膿之具。人謂毒盛難於早補，不知毒盛而無氣，血將何以逐毒化膿乎？惟隨毒泄於表時，乘勢急投扶正祛邪之餌，使毒氣受正氣之節制，則何往不宜？若至灌膿之期，始用湯補，氣血已不能接續於中矣，毒氣何從化泄？乘虛伏陷，有必然矣。今人但知以毒為火，清火以解毒，不知毒即為火，毒化而火亦清，毒凝而火愈郁，且毒之化必由膿，膿之來必由氣血，氣血之化必由真火，豈可以寒涼清解之乎？即使火之有餘，亦由水之不足。其有證實脈旺者，固可清涼寒下，否則，滋水便可以化火，更能養血之根，而為膿之本矣。況寒涼解毒，僅可施於腑毒瘡瘍，至痘為臟毒，屬陰最深，必仗氣血送出於皮膚，運化於窠囊，收結成痂，還元而後已。寧有內消者乎？寧有不成膿者乎？蓋痘之成形華色者，皆後天氣血有形之用也，運氣血以成形華色；化膿結痂者，皆先水火無形之德也。惟其無形，故能致其有形，而有形之疾病難除，必求無形水火之真藥以化。矧凡痘瘡，及一切癰疽腫毒，皆因氣血不和，偏陰偏陽，留結所致。偏於陰而氣不足，在癰疽則為陰毒，在痘則謂氣虛；偏於陽而血不足，在癰疽則為陽毒，在痘則謂血熱，本氣血中陰陽偏勝之故，原非氣血外另有惡氣所成，安得作有形之相，寒涼克削，而攻無形之虛乎？</p>
<p>凡放苗三四日，痘當出齊，若陸續不出，或隱於皮膚之內，不起發者，非風寒壅遏，及內熱凝滯之因，必內虛不振之故，當察形氣脈候，分別治之，不可稍緩。</p>

<h2>痘暈不周正有芒角論</h2>
<p>痘暈以圓為美，暈圓則血聚於根下，毒亦拘束收斂而不散漫。蓋陰必從陽，血必護氣，氣盛則血載毒以相從，氣衰毒反迫血而妄動，不為膿漿，而成血泡鋪紅之證矣。其有暈之上下，漸次歸附，而左右尚有芒角，或暈中有一處寬，一處缺者，皆屬氣虛不能攝血；有暈雖周正，但根下血色甚寬，不能如一線收束，尚屬氣虛不斂。夫氣虛者，血固不聚，而氣寒者，血尤退縮，以氣寒則血亦寒，冰凝於中不能蒸發於外，頂則日見平塌，暈則日見淡散，漿則日見清稀，神則日見困倦，如禾苗之被陰雨浸淫而勃興無，自此元陽虧損之咎，非從脾肺氣虛之因，惟使離照當空，掃除陰翳，斯天地位而萬物育，譬諸陽春煦和，草木暢茂，發榮長養，生息自不能已矣。然一線之暈，膿已成熟時，乃有此象。若方起脹之際，亦不嫌其稍寬，必漸漸來歸，乃見氣不過勝於血。如初起即收束太緊，血色又太紅，則不可過於補氣，恐溫補之藥，反為助熱也。所以偏陰偏陽皆傷生化。</p>
<p>聖王之世，天地泰交，雨暘時若而後萬類蕃生，則知調和氣血，亦猶是燮理陰陽之遺意也。</p>

<h2>汗下論</h2>
<p>治痘惟有溫平之法，而無汗下之理，且傷寒表法，有風寒輕重之分，表證未解，有不可下早之戒，況痘必欲起脹灌漿，資借元氣為益焉乎，何世謂初熱即宜利之，誤矣。故其初身熱足冷，頭痛脈數，與傷寒疑似之間，體氣壯實者，或可解肌略表，切忌亂為發散以走失元氣。若誤服麻、細之類以汗之，則陽氣盡出於肌表，遂必斑爛而臟虛，虛則腹痛自利，或作寒戰驚厥，甚或里無陽氣，乃作陰癇而死矣。或誤用硝黃之劑以下之，則毒乘虛陷伏，或為腹脹喘急而亡矣。雖然，亦有不得不汗下者，如未出時，風寒約束，陰陽表裡，不通暢流行，不取微汗，則毒無從外出，然可溫以散，則溫散之，宜表發，則以輕揚之藥略為發之。更如大熱不退，轉增煩渴，譫妄昏沉，便溺阻塞，不省人事，此毒蘊腸胃，與穀氣並結，苟不下之，則髒汙蓄毒煎於中，寧無養虎貽患之虞。然輕者用枳殼、當歸、麻仁、蓯蓉，亦可通利，若首尾尤不可下，痘未出齊下之，則邪氣不得伸越。痘見無里證，大便不秘結者，下之則毒氣逆陷，既靨而津液耗竭，是以大便乾結者，下之則愈竭榮血、傷元陽。無知之輩，始見痘點，即不顧其所蘊輕重，出見自有次第，若惟恐其不透，松肌透表，用藥峻發，禍不旋踵矣。</p>

<h2>吐瀉論</h2>
<p>痘先吐瀉，有不必驟止者，有暴然大吐瀉不已，神氣欲絕，脈微欲脫，面青厥冷，惡證備見，反覺膈快神清者，是正氣已脫，不久頓發喘汗昏悶而死。以吐泄每多脾腎虛寒，如實熱，則便閉不泄利矣，急宜參、耆、附、朮、薑、桂、二蔻救之，當知寒則神清膈快，不可玩視。至發乾嘔發噦，尤為脾敗胃絕，不治。</p>

<h2>秘結及泄瀉論</h2>
<p>二便不可太利，亦不可不通。一或秘焉，則腸胃阻塞，脈絡凝滯，毒氣無由而泄，於是眼合聲啞，肌肉痘色俱黑，頃刻告變矣。治者惟使氣血流行，則大便自無阻滯。苟因熱氣燥結於下，如手足心熱，脅下有汗，口乾腹脹，身熱煩躁，痘色紫赤，甚且變黑者，此熱秘也，可斟酌下之。若因汗多，及多利小便，以致津液乾涸，不得滑潤，亦如老人、產婦，氣血虛弱，不能傳送大腸，致使大便不利，更有不食而嘔清水，面青而腹不脹，不甚裡急後重，皆虛秘也，宜大補氣血為主，佐以麻仁、蓯蓉之類。下結者，又有蜜導法。至痘在四五日間，無他變而不大便者，乃氣血成漿，勿以便秘為治。蓋灌膿時，元氣津液，皆為外用，若得數日不大便，尤助中氣運育之機，倘有泄瀉，即用參、苓、耆、朮、肉蔻，升提而兜塞之，使中氣不餒，痘自起脹，若聽其瀉泄，則變證百出，痘必倒塌矣。或因其身有大熱，瀉泄脹滿，兼發口渴，誤作熱治，禍為更烈。蓋此證或因食寒冷物，或過服寒涼藥，里有寒而脾胃伏冷，榮衛不行，反令毒氣內伏，不外達而下泄，痘必淡紅灰白，不起脹灌漿，脈候必微弱，或遲緊散大無神，急宜溫補透托。倘極力治之，而瀉不住，則火土日虧，脾胃益弱，自見口渴益盛，陰津由此下竭，此時援下多亡陰之例，救陰不可，扶陽又終不應，必發為癢塌，速收速落，寒戰咬牙，脾慢而死，凜之慎之。</p>
<p>夫起脹灌漿之時，無內證者，任其大便數日不行，不可妄加下劑以耗泄其氣血，固也。而世因以便閉為貴，甚至壅熱之證，不特不敢下利，反加補托溫熱之藥，以禁固之，使壅熱愈加，痘毒不得伸越，正氣不得舒暢，熱毒壅極，走注下焦，忽而大瀉，元陽驟脫，遂為不救。是皆助熱，熱為害之過也，急宜憑脈證痘色微下之。至於痘後，自下黃黑，及利下痂皮膿血，而表裡無恙者，此餘毒隨利而下，緣臟腑中有痘故也，不宜收澀，惟解毒調中，補助氣血，毒盡而利自止也。</p>

<h2>不食及能食論</h2>
<p>出痘喜其能食，痘未出齊而不食者，但托其痘，痘出自能食也。有欲食而不能食者，必喉舌有痘作痛，宜以甘桔湯解之，頻與稀粥，以助脾胃之氣。然此中亦有虛實之別，如其人怯弱，精神倦怠，自利不食者，虛也，寒也；身熱中滿而不食者，實也；誤傷生冷，二便泄利，腹脹腸鳴不食者，寒也；肉堅皮厚，毒氣難於發越，煩躁不食者，熱也；初出而胸前稠密不食者，毒盛脾弱也；如大便酸臭，畏食或吐者，此有宿食也。因痘者，治其痘；因雜證者，去其雜證可也。如逆證並見，忽然倍食，恐為除中證，凶。</p>

<h2>煩躁論</h2>
<p>百病宜精神清爽，不宜煩躁，謂陽煩而陰躁也。初發熱便煩者，毒火內郁也；既發見而猶煩者，毒伏於內未盡出也；即出，又已起發，而猶煩者，陰虧也；吐利不食而煩躁者，正氣虛而陰躁也；津干口渴，虛煩不得臥者，陰氣上逆，陽氣飛越也；至六七日不大便而煩躁者，此內實有燥屎也；如大便溏黑，小便清利，面黃發狂，煩躁喘渴，少腹脹滿或痛者，有瘀血在裡也。又按傷寒少陰例，吐利煩躁，謂腎之神亂，使君主之官，亦難自持；吐利煩躁，至不得臥寐，為陽欲絕而擾亂不寧，皆主死。又云：煩躁欲死，為肝腎之陰氣上逆，主吳萸湯；乾嘔而煩，主白通加膽汁、人尿湯。又云：有吐利煩躁等里證，禁不可下，主四逆湯，以經氣抑遏，每多心煩，所謂陰躁也，故皆主溫經之藥。又有下利咽痛，胸滿心煩者，主豬膚湯；下利六七日，咳而嘔渴，心煩不得眠者，主豬苓湯。又心中煩，不得臥，主黃連阿膠湯，所謂陽煩也，故皆主清潤之藥。是煩躁二字，最宜分別，而煩躁二證，每易混淆，然陰躁之脈，必緊細微弱，或虛大遲軟；陽煩之脈，必滑數洪細，或沉堅緊實，況痘疹有形色可觀，各證可參，脈息神氣可辨，又何誤乎。</p>

<h2>汗論</h2>
<p>汗乃心之液，有因熱氣熏蒸，腠里開泄，液隨氣而出者，有因衛氣虧虛，腠理不密而致汗者，陰氣有餘，寒生於中，陰中無陽，而汗隨泄者。經曰：陰勝則身寒。汗出身常清是也。況津脫者，汗自泄，腎病者，寢汗出，究何自汗、盜汗之分乎？然常法宜知，盜汗者恆多熱，有用芩、連、歸、芍、地黃、參、耆之類者；自汗惡寒，固須參、耆、附、朮、薑、桂以急救元陽。又有陽明熱病，身體濈濈汗出宜清火者。例雖不一而痘中多汗，每因氣虛，皆非順候。如未灌時汗者，則不能灌，灌而汗者，則不能靨，靨而汗者，必至於血脫陽虛，變為他證。丹溪云：痘中自汗，為濕熱熏蒸，不妨是持言夫未甚者耳。夫微汗固佳，而甚者，氣血又為之走泄，如多汗身寒，汗出如水而發潤，大喘不止者，汗綴如珠者，汗而昏沉者，汗流煩渴者，汗出如油者，皆肺絕亡陽之兆。</p>
<p>汗也者，血之所化，為陽氣不能外固，陰氣不能內藏也。書別言之，以辨其虛實，謂無因而至者，為自汗；睡中而得者，為盜汗；腰以上煩熱而多汗者，為胃實汗；熱甚汗多，汗出而熱解者，為邪熱汗；汗流不止而熱反劇者，為陽虛汗。惟痘初起而有微似汗，則陰陽氣和，榮衛通暢，邪氣不留，易出而解也。在行漿時，而有滋潤之汗，亦佳。然有過表，腠理表虛而多汗者，有心熱而睡汗者，有陽熱而頭顱或頸多汗不過胸者，有陽極虛而頭汗欲流者，有胃實而四肢多汗，面赤作渴者，脾虛而四肢冷汗不收者，有痂落表裡俱虛而多汗者，隨所因而治之。若榮中伏熱，氣分又虛者，宜於補氣中佐涼血藥。</p>

<h2>渴論</h2>
<p>水潤下，火炎上，理也。三焦者，水穀之道路，津液者，氣之精化，流通三焦，以制火者也。經曰：肝熱則口酸，心熱則口苦，脾熱則口甘，肺熱則口辛，腎熱則口咸，胃熱則口淡。渴為五臟之熱，火之使然，治宜除熱潤躁。此雖不可泥，亦不可不知。夫痘前渴者，托放痘苗，而渴可止；痘後渴者，為津液耗竭，宜補養氣血，主保元湯加揀冬、北味之品；瀉而渴者，尤非火證，溫補脾腎，瀉止而渴自除；陰虛火動而渴者，宜與地黃丸料，加上桂、北味，既補腎陰，且使釜下有火，則鍋蓋自然不燥，誠陰虛渴聖藥也。</p>
<p>凡痘發渴者，切忌飲冷水，然於飲可辨陰陽焉。陽盛陰虛者，則冰雪不知寒；陰盛陽虛者，則沸湯不知熱。故發熱作渴，手足冷逆，大便自利，喜飲熱湯者，陰盛陽虛也，治宜補陽；若發熱作渴，大便秘結，手足並熱，喜飲冷水者，陽盛陰虛也，治宜清熱。若煩熱口渴，面赤睛紅，腎經虛熱也，治宜滋腎；於正靨之時，忽不能靨，頭溫足冷，腹脹泄瀉，氣促煩渴者，虛寒之甚也，急進參、朮、附、桂之類，切忌誤用寒涼及諸蜜水瓜果，否則津液收斂，轉生焦渴，冷氣四攻，逼陽於上，愈加腹脹、喘渴、泄瀉而斃矣。</p>
<p>世皆以渴為熱，不知由臟腑津液燥槁，實非有餘也。至若腹脹渴者，泄瀉渴者，或足指冷渴者，或驚悸渴者，或身濕渴者，或身熱而面色㿠白渴者，或寒戰而渴不止者，或氣急咬牙渴者，或飲水而轉渴不已者，以上九症尤非實熱，宜急溫補救里，滋養津液，以杜癢塌喘渴之患，誤作熱攻必斃。</p>
<p>凡痘際渴者，常有之候，但有應不應之分。在三四朝身熱口渴者，此毒鬱於里，熱邪燎灼，宜透托痘苗；在四朝以後，身熱口渴者，此津液外泄化為膿漿，宜參、耆補氣，是皆應渴候也。惟結痂之後，則毒氣盡化，里無留毒，如反大渴者，是真氣漸耗，邪氣有餘，不應之候也，須與解毒滋陰，或大補腎元。又渴與幹不同，幹不欲飲，此屬水虧，渴喜飲熱，反多中寒，即口欲涼而胸中畏寒者，皆勿妄作火治。</p>
<p>凡能食而渴者，肺熱也。經曰：心移熱於肺，傳為膈消。蓋心火上乘於肺，熏蒸焦膈，轉耗津液也，其治在上焦，痘形必紫赤，必能食而大便閉，小便赤，舌燥咽乾，宜人參白虎湯、清毒活血湯之類主之。如食少而二便調，喜飲熱湯，咽舌不燥者，此脾胃虛而津液不足也，如不能食，身熱作渴，手足微冷，痘暈淡紅，二便清利，是脾胃氣虛，脾元既弱，不能為胃行其津液，治在中焦，須防發瀉，宜參、耆、附、術主之。如腹脹泄瀉，寒戰咬牙而渴者，脾命虛寒已極；有泄瀉氣促，手足並冷而渴者，為脾氣脫陷，十二味異功散之類主之。又謂自利而渴，為邪傳腎經，少陰虛故引水自救。夫腎主五液，其脈絡於肺，繫於舌本，若邪傳腎則開合不司，故乃自利，利則津液下走，腎水乾涸，不能上潤於舌，因大渴也，其治在下焦，宜異功散加減以溫之。</p>

<h2>寒戰咬牙論</h2>
<p>戰名為寒，則主寒為多。六日以前，容有毒郁不得宣暢，而作此證，雖非熱候，亦非盡由寒因，其間有熱者，形氣脈證，亦自迥別。若七日以後寒戰者，乃陰凝於陽，陽分虛則陰入氣道而作寒戰也，宜以虛寒治之，主參、耆、薑、附以溫陽分。七日以後咬牙者，乃陽陷入陰，陰虛則陽入血道而咬牙，宜參、耆、芎、歸、黑姜。若二證並見，其為虛寒無疑。然陽氣虛寒，固有寒戰，風火相煽，亦有戰時；肝腎虛寒，固有咬牙，陽明胃熱，亦有咬牙，不若觀痘色之紅白，二便之秘利，所飲之寒熱，脈息之遲數，起發之難易，則寒熱虛實一目瞭然矣。大抵發於痘初，多因熱毒不得盡出，內與正氣相搏，筋脈因而動搖，托苗自愈；發於痘後，多由肝腎兩虛，雖有熱證，亦多假象，如咬牙面赤作渴。至夜為甚者，真陰虛也，宜地黃丸料恣飲之。至痘色焦黑，不省人事，閉目無魂，譫語狂煩，尋衣摸床，抖牙不已者，氣血將盡，縱毒內攻矣。</p>

<h2>厥逆論</h2>
<p>出痘，頭面宜涼，手足宜溫，逆則陽氣衰，厥則陰氣盛。痘出而頭大熱者，以頭為諸陽之會，痘毒之氣上蒸，故熱也。足冷者，陰陽之氣下絕也，不治。如指頭微寒，則陽氣衰，以陽氣起於十指之端也；足心冷，則陰氣盛，以陰脈集於足下而起於足心也。然痘形焦黑紫赤，煩渴頓悶，喘促而厥逆者，又為熱深、厥深，火極似水，陽毒內陷也。若灰白頂陷，吐瀉兼作而厥逆，則元陽之所存無幾，即手足冷而曾多吐瀉，亦為脾藏虛寒、真火不足之兆。蓋四肢皆稟氣於脾胃，火不生土，脾胃氣弱，故不得至於經耳。若在痘未出時，須溫中而兼升發，毋令復虛胃氣。至若陽氣虛寒，飲沸不熱者，急用回陽溫經之品，以追復元陽。按：陰厥脈遲弱微細，身涼不渴；陽厥脈多滑數，躁渴譫妄，身或時溫。若陽厥而身冷脈沉實，痘色紫黑，為熱深厥深，宜急下之。</p>

<h2>失血論</h2>
<p>經曰：陽絡傷，則血外溢而衄血；陰絡傷，則血內溢而下血。痘疹失血，多由毒火迫血妄行。若作渴飲冷，手足並熱者，毒氣熾盛而上溢也，宜清涼之；作渴飲湯，手足不熱者，此脾肺氣虛不能攝血而妄行也，宜補脾肺以統之。但衄血輕而下血重，下血屬臟，因熱者少，因虛者多。如脈微細虛弱，痘疹之色淡紅灰白，即時值夏熱，下血如注，亦當從陽不制陰之法，力進溫補以救之。如脈洪數滑大有力，痘疹之色紫赤，即偶然衄血，亦當慮其熱傷於中，力進清涼以解之。余嘗於治疹時，見失血之證，屢照脈色填補，無不效驗，此可見不必專泥於熱也。</p>

<h2>痘作癢論</h2>
<p>諸痛為實，諸癢為虛，痘中確論。但灰白與焦紫，其證將危，勢必俱癢，可見氣虛者作癢，血熱者亦作癢。於起發之日，見血熱者，先為清毒活血；氣虛者，先為補中益氣，自無此患。有初見點，遍身癢者，因毒氣欲出，而皮膚錮閉其遊火，故癢也，此與傷寒太陽病身癢汗不出者同治，法當使腠理開通，則邪氣得泄，痘起而癢自除，所謂火鬱則發之也。其有偶感風寒，宜溫散之，主升耆湯。亦有痘未出而先發風疹，其人氣虛者，用真元益命湯加肉桂，而疹退癢止痘出，全不可開表。有膿漿已滿，勢將收斂而微癢者，是正氣欲復，榮衛和暢故也。而癢之甚者，非穢氣觸犯，即由氣虛，詳辨治之。其有膿成時痛楚不止者，氣滯也，主保元湯，加楂肉、木香以行滯氣。又有疤瘢癢者，因榮血耗損，皮膚乾燥，宜益氣養陰。要之，氣血不足，癢屬虛寒者，十常八九，但癢則必陷塌，須早防之。</p>

<h2>痢論</h2>
<p>痢者濕熱鬱於腸胃，有傷氣血而然也。赤屬血分，宜清，白屬氣分，宜溫，此其常也。奈今之陽虛者，亦多患赤痢，常以耆、朮、薑、附、歸、桂溫補而愈，此又陽不制陰之一例，憑脈證不論血色也。況痘未收結之前患痢，外膿內痢，表裡俱虛，元氣易陷，宜以治痘為主，大用參、耆補托，並用升提，毋使元氣下陷，毒氣內攻。若痘暈淡紅灰白，脈微弱遲緊，下痢亦淡紅晦暗，更屬虛寒，宜重加附、朮、薑、桂，倘專以尋常治痢之法，行氣和血，則毒假藥勢內陷於陰，何能充達在表以成功？治痢之法，亦殊闇昧，況有跡之疾病未除，無形之元氣下陷，則痘必壞，不待痢痊而斃矣。夫世之似痢非痢者甚多，以青皮、檳榔殞命者亦眾，曷知痘亦有下膿血，而似痢非痢者乎？</p>

<h2>伏陷論</h2>
<p>伏陷等證，已詳言之矣，今又見有伏陷之證，其點白色，或有黑色者，緣其人內極虛寒，不能乳食，二便自利，或嘔或厥，陽氣不得敷布，以副榮衛，而血亦因寒滯不能出見，乃成黑陷也，宜溫中扶陽補托之劑，使榮衛復行，則當自出。而滯暗潛消，更有因誤下之後，毒氣入里而黑陷者，急宜溫補其里，稍佐透托之藥，或可再出。是黑陷為極熱，而此又極虛寒，然其痘色變黑之因，必由淡紅而黑，非由紫赤枯躁而黑矣，脈息必微弱遲澀緊細，外證必屬寒者多，屬熱者少，與熱證迥別。又有因房室等穢觸犯黑陷者，急投芳香之品，外兼熏解。余嘗論黑陷屬火者，宜壯水以制陽光，兼清熱解毒，不可瀉水，便秘者，加莊黃微下之。虛寒者，宜溫補火土以救元陽。</p>

<h2>灰白癢塌論</h2>
<p>氣之虛者，為麻為癢為陷，血之熱者，為干為燥為痛，白者必至於灰而平伏癢塌，此皆氣虛而不起脹，血虛而不華色，故其治以大補氣血為主，如保元湯，倍加蜜耆，少佐歸、芍，及參歸鹿茸湯加附、術，亦不可單補氣而不補血，致血不滋灌，燥癢難釋矣。介賓云：癢者，氣血固虛而火氣亦不足。故不痛而癢，則治法可知矣。又云：痘乾燥而癢者，宜養血潤燥。痘濕潤而癢者，宜補氣去濕。實癢則壯熱，勢焮紅紫枯燥，虛癢則淡白，勢怯氣弱身涼，已極虛實之別矣。況察之於脈，更有微細遲緊、洪大滑數之異乎。有痘已成熟，忽然瘙癢抓破者，此脾胃氣弱不能榮養肌肉也，主保元、四君子，重加蜜耆。因自利而脾胃虛寒，宜木香異功散加減。若發於正面，皮脫肉乾者凶，急以十全大補湯，去苓、術，加山藥、鹿茸救之，以圖萬一。而惡穢衝犯，其癢亦異常，雖進熏解之法，亦難猝止，宜先慎之。</p>

<h2>漏漿論</h2>
<p>《痘要》曰：才試漿來未滿囊，瘡頭有孔漏膿漿，仍然團聚封瘡孔，泄去真津毒氣藏。是封固痘孔，補斂肺氣，乃能成靨，若膿熟之後，囊皮亦熟，漿水沸出，因而結靨者，頭面間屢有之。所謂堆糞收，非漏漿也，亦宜補以助之，然堆糞收，必膿已過熟，漏漿，則膿未成時也，最宜分別。</p>

<h2>空殼論</h2>
<p>此為氣滯於毒，而血不附氣，實因氣衰血弱不能化毒。蓋毒本無形，假於血也，血既不至，則毒亦伏於中而不出，宜大補氣血，托膿而已，如十全大補湯，重用熟地、蜜耆主之，是無漿之故，氣血本虛也。亦有因三五日之間，身熱太甚，氣血蒸乾，不能流通而成漿者，宜清熱養血，兼升以托之。但世有虛弱之人，痘難起脹，藥既畏其峻補，食不與以甘肥，參、茸、耆、術，不敢相投，雞、魚、鵝、羊，莫之兼進，遂至浮泡空呈，而氣血已竭，不能續其後來，而漿水適斷，勢必有喘脹煩渴之變矣。醫者猶自堅其血熱毒盛之說，肆進苦寒，逼血妄出而死，使得蓋其輕殺之罪，冤從何訴乎？至若感受風寒停漿者，宜溫散而兼托裡，其證必身熱頭痛，鼻寒或流清涕，咳嗽，脈浮。觸犯穢氣停漿者，宜外熏解而內攻托，其證多癢，而色澀暗。因火躁血乾停漿者，宜清熱涼補其血，其證身熱氣粗，痘形紫赤，脈氣滑數，火甚便閉，宜微下之。是故涸漿一證，咸以為金承燥氣，腎水乾枯，即氣亦因熱久而虛竭矣。故一見涸機，宜急用清毒活血湯，繼於火清之後，即以參、耆、歸、地，培助陰陽，杜燥勢於未萌，續真元於未竭，乃克有濟，緩則難治矣。</p>

<h2>浮腫論</h2>
<p>經曰：熱勝則腫。大抵毒之盛者必腫，毒微者不腫。凡痘瘡出盡，應期起發，痘漸長而頭面漸腫者順，以毒氣發越，聚於三陽之會，欲作膿血，以漸腫大，其實痘尖暈圓，因痘腫而乃皮肉焮腫，此為正候。若痘本磊落，毒氣輕淺，根不密比，起發之時不甚壅腫者，此毒輕候也，更順。至痘模糊稠密，起發不腫者，為氣血虛而毒伏於內，又不可以為毒輕也。更有痘未起發，頭面預腫，皮光色豔，形如瓜瓢者，此惡毒之氣上侵清虛之府也。夫五臟精華，皆聚於頭面，而泥丸宮又元神出入之處，惡毒上侵，則五精俱喪，元神亦亡，精喪神亡，癢塌必至，最凶。虛者主保元湯、參歸鹿茸湯、十全大補湯，稍加托毒之藥，實者主羌活救苦湯之類。而腫亦不可預消，必至膿成痂結，毒化腫消，始無毒氣內陷之患。大凡氣血充盛者，自能逐毒出表，直入窠囊，為潰為膿，所以痘腫而肉亦腫；氣血不足者，雖已載毒達表，無力直透窠囊，為隱為伏，散漫皮膚，所以肉腫而痘不腫，一見其機，便宜大補氣血，加山楂、炮甲，使毒有所歸，自無妄腫之患。</p>
<p>腫證宜憑脈之陰陽虛實施治，如脈洪而屬陰虛，則於補陰藥中加鼓舞之藥，脈微而屬陽虛，則於補陽藥中加宣托之品，陰陽既和，痘自順正，安有散漫皮膚之虞？蓋正旺足以制邪，邪無虛可湊則善。</p>
<p>脾土之益，每賴真火以生之，真陰之長，更賴真陽以煦之。古人遇氣虛之痘，必用保元湯、參歸鹿茸湯，治陽虛脾元不足之痘，更用參、附、耆、朮、薑、桂，少加當歸，以防燥槁。雖苓、術非灌漿時所宜，而脾弱濕盛者，反藉此以排膿，並不嫌其滲漿。治陰虛不足，水虧金燥之證，古人未有專方。楚瞻則以熟地為君，山藥為臣佐，佐以人參、肉桂兌服，而行漿成實，歷奏神功。蓋真陰乃腎水，而非心肝之血，真陽乃命火，而非脾肺之氣，是以桂、附、熟地，為先天水火藥，而肉桂又走竄達表，更能上行，鼓舞血分，動而且速。</p>

<h2>譫妄論</h2>
<p>《錦囊》謂此證為毒攻於裡，心志昏惑，神識不清，所謂神志俱喪，徒存空殼耳。如目直視，忿怒不平，恍惚不定，是因肝熱；悶亂喘促，手掐眉目鼻面，是發於肺熱；上竄咬牙，叫哭驚悸，睡中呢呢喃喃，或不能言，此為心熱；如目無精光，身縮下墜，恐怖見鬼，神志俱喪，多因腎熱。又晝多譫妄者為陽虛，夜多譫妄者為陰虛。如眠睡中手足瘛瘲，不思飲食，為脾家證，在初發時恐為熱鬱，必痘出乃已，在行漿時，或因痛極所致，必漿足乃安。若止譫妄而無他證者，則以治痘為主。愚按：痘毒攻裡，必有所因，或虛而不補，熱而不清，表發太過，寒泄過多所致，則所見諸證，安知不因氣虛，不能送毒外出？有再宜補托者，若概以為熱，誠恐將虛作實。至目無精光，神志俱喪，腎虛而敗者，多有此侯，豈皆為熱？惟脾家一證不言熱，亦知脾漫者，固常有此。夫治痘必察痘形，審脈候，詳氣息，辨虛實，治無所誤，則譫妄自除，何可泥熱以膠治法乎？</p>

<h2>喉痛論</h2>
<p>喉之為患，多由火之為害，大約甘草、桔梗、牛子、花粉、揀冬、芥穗、薄荷、元參之類，為火乘於肺治法。蓋脈實洪數者為實熱，宜用清涼之法正治；脈虛細數者為陰虛，宜用假冷之法從治。又有脈微弱遲細，或虛大無神，外證虛寒，反見喉痛，為陰盛格陽於外，此喉癉證也，每用耆、朮、薑、附而效。又附弄舌、吐舌，為脾熱證，輕者導赤散，甚者瀉黃散。</p>

<h2>矢氣腸鳴論</h2>
<p>按：足太陰脾經，主矢氣，足陽明胃經，主腹脹賁響。</p>
<p>矢氣者，脾敗而穀氣下脫也，腸鳴者，胃敗而中氣下陷也，是以出痘之人，不宜有此，蓋腸鳴矢氣，是泄腸胃生養之氣，宜補中佐以升提。</p>

<h2>咳唾膿血痰涎論</h2>
<p>痘至作膿之時，咯唾痰涎，或有膿血夾雜，咽喉不利，飲食亦少者，此肺受火刑，津液不足，故多黏痰，喉舌齒頰之間，且兼瘡潰於內，故膿血相雜，宜清肺化痰，利咽為主。待收靨後，自然和平，不可妄用大涼之劑。</p>

<h2>變黑腰痛論</h2>
<p>變黑腰痛，多由火盛熱極，經所謂亢則害也。外火內熱交灼，遂令真水既亡，津液暴絕，痘中之血亦干而變黑矣。黑者，火燥水涸，血乾之象也，腰痛者，火毒亢害，元水枯竭之徵也，治當抑梟炎，資腎水，清毒活血。然亦有腎極虛而腰痛，極虛寒而變黑，宜重與溫補者，要其脈必微弱緊細，必不壯熱，不煩渴，二便必清利，精神必衰憊，須細別之。</p>

<h2>虛證似實論</h2>
<p>夫氣虛痘疹，不為調補，復為飲食生冷所傷，致損脾胃，而成泄瀉，是以津液下陷，虛火上盛，必發而為渴，兼之元氣下陷，虛陽上壅，下氣不續，必發而為喘。渴與喘，實證也，然起於泄瀉之後者，是津液暴亡而渴，氣虛而喘，所謂十喘九虛也，豈有實熱而渴，氣壅而喘，生於泄瀉之後哉？故治渴者，用參苓白朮木香散，渴泄不止，異功散；治喘者，用人參定喘湯，喘渴而泄不止，用木香異功散。至悶亂腹脹，是毒成內攻，眼合自語，則已名失志，尚認為實，何其愚乎？</p>

<h2>虛證調護論</h2>
<p>是在保元氣於虛弱之前，使不致耗散為貴耳，實腠理而固肌表，則無外陷之患，保脾土而和榮衛，則無下陷之虞。故虛之極者，最忌寒涼盪滌之劑，如莊黃、滑石、車子、豬苓、生地、芩、連、犀角、紫茸、連翹、牛子、枳實之類，恐其盪滌潤下，遂傷脾胃，傷則元氣自此下陷，氣脫內攻而死；忌用滑潤髮散之劑，如牛子、人牙、麻、羌、細、獨之類，恐發散太過，遂至虛其表，氣虛則元陽由此外耗，癢塌外剝而斃矣。故先儒謂痘見點後，忌用升麻湯，首惡方中之粉葛也，由此不可類推乎？</p>
<p>又凡實熱壅遏之證，可用清涼、升提、發散，不可峻用苦寒。清涼則血熱自解，發散則痘點自呈，升提則壅遏自舒，得其平而即止。多用寒涼，則內傷脾胃，外冰肌肉；過加發散，則肌腠空虛，元氣耗失，倘有一誤，難於挽回矣，宜早慎之。</p>

<h2>血熱血盛血虛有異宜涼宜補不同論</h2>
<p>痘疹血熱一證，須分虛實，有血虛之血熱，宜涼之補之，血盛之血熱，宜涼宜治。凡痘疹初見點，而內熱殊甚，脈洪滑數，所見之點，反而不紅，認為氣虛，誤矣，此乃血虛不能華色，以同毒外出，氣已至而血不至，故形起而色白也。然血虛則多熱，故發至血入痘窠，三四朝來，皆變紫黑，或見黑斑，方知血熱，欲治何及，不可不預為地步。惟血旺者，則起勢便紫，瞭然血熱證矣。然治血虛之血熱證，宜涼血而兼補血，此證常多，熱勢雖清，無血貫漿，而成乾枯黑陷，擬用紫草、歸、芍、生、熟地黃、揀冬、丹皮、生耆、楂肉之類。若血旺之血熱，涼血藥中皆宜升托，否則血凝毒滯矣。至於氣虛兼血熱者，則血熱易於乾紫，故涼血法所必宜，氣虛又難鼎峻，故補托亦非可緩。但五六日前，血熱證猶在，其勢似實，治至血熱漸清，則又日漸虛，或且日漸寒，泄瀉寒戰，又所必至。故始雖宜清托，迨至血熱之勢退一分，即須與氣虛之證做一分地步，即當其清涼時，凡傷脾動氣之品不可徒顧目前而用，而宜清宜補，緩急之間，有神妙焉。太早助熱為災，略遲則補虛不及，每有過用清涼，後遂發為寒戰吐泄，補之不應，此權衡無具之罪也。神妙者，當自有不先不後，無過不及之患焉，其用補每取於重，重則力厚，乃得擅其充灌之力，不然，用藥減少，時日易過，不幾當而弗當乎？</p>

<h2>內潰論</h2>
<p>內潰雖因於虛，亦有風寒所中，腠理密固，陰陽二分，壅塞不通，致毒不外出而內攻，毒火炮熾，潰而成膿，故痘初身熱太盛，氣粗便閉，肚腹急疼，而身戰動者，須防此患，宜以升麻湯之類，逐散寒邪，開泄腠理，縱毒外出。</p>

<h2>夾斑論</h2>
<p>斑有陽明胃梟炎之毒，內攻一證，然陽毒發斑，必壯熱煩渴，五心如烙，脈洪有力。色紅赤者，胃熱也，可治，至紫黑純黑色，為胃爛不治。大便閉結者，急下之，否則胃熱不得泄，其斑益熾，但不可下之太早，致中氣餒弱，痘難出而伏陷，且使熱乘虛入胃，斑毒便難療矣，此與傷寒下之太早同禁。其有下身，斑色紫赤，成片成塊，腰以上無斑者，尤為肝腎熱極，元水枯竭之象，急宜滋陰清熱。又有陰證發斑者，身無大熱，或手足指甲皆青，其脈沉弱，其色淡紅，此無根失守之火，聚於胃，熏於肺，傳於皮膚，而為斑也，妄投寒涼立斃。當知吳鶴皋以參、耆、附、桂治斑之理，溫胃調中則火自下，斑自退，痘自出矣。而腰痛之證，亦多發斑，觀腰痛之虛實，便知斑之虛實，蓋腎為胃之關，本相連而及也。如熱毒蘊蓄於腎而不得泄，傳注胃經，治宜元參、升麻、防風、白芷之類，於清涼解毒中，兼以升提出表為主，若驟投清胃寒劑，則血不行，肌肉冰，無由載毒以出矣。然梟炎熾盛，治亦難拘，活法自在人心焉，但目中白睛肉如桃花水紅色者，為脾胃俱敗，不治。</p>

<h2>夾丹論</h2>
<p>夾丹者，血熱也，在痘未出時見者，只宜升提透發，主紅花散之類，痘出而丹自淡，不得過用寒涼。痘出齊見丹者，加生地、揀冬。然須審其顏色以及痘形，紫赤者熱也，白者又為痰濕為虛，妄投寒涼必斃。則知凡證皆有虛實，不可拘見也。</p>

<h2>夾癭論</h2>
<p>癭者，頤毒也，每於未報痘數日之前，發一小塊，色同肌肉，不紅不腫不痛，宜急調治。若痘見始加透托，則勢先潰爛，痘必伏而不起，甚有痘至五六日，連肉跌出此塊，內無膿汁，尤為危候，是由虛火挾痰所致，宜於補托加川貝、牡蠣、甘桔、炮甲，以達病所，外敷拔毒散。按：此證又因毒氣挾痰而成，有結於項頸，或結於耳後，或結於腋下，大者如桃，小者如李，初起則證候如常，次必身烙煩渴，而變凶危。然痘在三四日而癭作，則毒隨痘泄，膿隨痘灌，自可挽全無害。故治之宜察正痘之形色證勢，極力攻痘為主。倘癭在紅腫將膿，而痘隨標，則膿毒一潰，元氣囂漓，痘安能表暴充灌乎？宜培元補托，兼與消痰解毒。若在七八日間，痘已黃蠟而癭發，則潰雖無妨，但氣血重耗之後，大宜保護元氣，少佐以消痰解毒藥耳，外皆敷拔毒散。</p>

<h2>夾凡瘡論</h2>
<p>痘夾凡瘡，則氣血為瘡所奪，痘每不能起發成漿，況毒奔松處，遇隙而聚，其痘自密，兩毒相乘，每致梟炎逼爍，元水不滋，痘易焦紫，且衛氣易泄，風癢自生，此際殊難清解。如瘡起既久，可封者，則用膏藥封固，使氣不外泄，察正痘之形色，熾者和之潤之，伏者補之升之，仍以大補氣血為主，使接續膿漿，而無干枯內攻之患乃善。又有若火灸，無皮無汁者，名「火灼瘡」也，最凶，以清毒活血為主。</p>

<h2>夾癰毒論</h2>
<p>痘癰為陽毒，然癰夾於痘中，不可概以陽毒論。蓋發於六七日之前，痘未收斂時者，凡瘡也，兼看其毒，溫潤者氣血猶盛，痘與毒尚易成漿，若毒枯燥乾紅而血虛者，則宜熟地濟陰煎，毒不起而色白，則補托之。若六七日後，將靨時發者，多因氣弱不能拘收其毒，致血載毒，傳注四肢合處，宜升助其氣。總六七日前後見者，宜縱之發越，則毒亦出，若治其毒，則反隨痘而散，內攻臟腑矣。惟氣血有餘者，則宜解散其毒。然癰之成也，多由氣血不和，留結所致，且病久必虛，解毒湯中，必以調和榮衛，補助氣血為主，即痘始夾癰者，亦須補助氣血，以托解其毒，不然，氣血為毒所耗，必難成功矣。至於痘後發癰，皆因正痘膿漿不滿所致，有毒盛宜用大連翹飲者，有氣血虛寒，宜薑、桂、參、附、耆、術者，宜分別脈證治之。</p>

<h2>夾瘧論</h2>
<p>痘與瘧偕來，有難保全者，何也？瘧名脾寒，則脾土先受傷矣，痘賴土養，土先受伐，安能滋培化育？況似瘧非瘧者原多，以陽虛則惡寒，陰虛則發熱，陰陽虛則寒熱交作。但當察痘形，審脈氣，以調治膿漿，斯痘愈而無不愈，若泛以檳榔、常山、青皮、草果治瘧，則殆矣。</p>

<h2>夾損傷論</h2>
<p>或因跌撲所傷，是以氣血虧損者，不可概用歸尾、桃仁等類，豈痘可破敗其血，而成功收結耶？宜參、耆、芎、歸、楂肉、熟地、附、桂之品，以流行其滯，而宣補於內，再加棗仁、遠志，以寧其心，痛甚加乳香、沒藥，外用文蛤、棕灰炭於傷處。</p>

<h2>收靨論</h2>
<p>痘當收靨，而不能回水結痂，因於虛者，當補助氣血以佐其收結。亦有結痂之時，身發重熱，停漿不收，脈洪數者，則非燒漿，而為陽亢陰虛，或補真陰，或引以清涼，臨證辨之。</p>
<p>一收後遍體發赤斑，是失於解利之咎，渾身色青紫，為風寒襲入之因，餘毒未消，不特為疽為癤，見風太早，尤防復發瘡痍。</p>
<p>一有痘蛆證，外用銀針挑去，用經霜桑葉、野薄荷、野痂樹煎湯洗之，仍塗拔毒散。</p>

<h2>痘疹精理並論</h2>
<p>馮氏曰：天地之氣日薄，人生之稟受日虛，往者痘瘡，虛而難出致害者，十之一二，蓋天稟尚厚，得以耐病，腎元充足，毒不能陷也。至於麻疹難出，及出而餘熱不退，喘促成凶，百之四五。詎今因腎元虧損，不能升發送痘出表者，十之三四。有因疏表毒物太過，正氣虛弱，無力主持，任藥力之猛，毒勢之銳，沖激一湧而出，以致不能周行四肢，形高聳而粗肥，色潤澤而華美者實眾，其頭面獨多，火毒炎上也。形之如面如㾦，乃虛而無氣送透，藥毒猛逐出表之象也。色之如疹如丹，乃熱毒逼爍，榮氣逆行於肌表也。然如面如㾦之形，即身中之氣，如疹如丹之色，即身中之血，既將氣血趕出肌表，復謂火毒熾盈，寒涼解毒，清胃化斑，氣血既不能續運於中，寒涼復傷胃氣於內，欲不乘虛伏陷，其可得乎？是以十傷八九。有因氣血不充，調治未善，以致毒化未完，氣先竭而斃者，十常七八。凡此者，皆因稟賦既虧，而復傷於藥，所謂火與元氣，勢不兩立，元氣虛而所勝之火毒益盛矣。</p>
<p>疹毒雖出於腑，其原實根於臟，全關氣血之厚薄為輕重，更賴調治之宜否為損益。古人所稟既厚，澹泊節養，疹毒原輕，常易透易回，斯人稟受則薄，受毒偏深，稍有傳染，勢便沉疴，治者悉遵古法，盡作有餘之治，且以疹欲清涼痘要溫為定論。以致陽虛不能升發者，頭面不起，陰虛不能退陽者，餘熱不退，陰氣未全之弱質，何堪久熱傷陰？元陽素虧之虛體，安耐病形暴發？所以昏沉不食，喘促煩躁，中氣日虛者有焉。如再以疏表透托風藥，則愈耗其陰，以清肺解毒涼藥，則徒傷其胃，汗泄一來，喘促益盛，復謂疹毒歸脾，肆進苦寒，危亡立至。不知氣血不和，偏陰偏陽之謂毒，惟使氣血和，陰陽平，而毒化矣。楚瞻以全真一氣湯，或去人參以治麻疹，頭面不起，壯熱不食，喘促昏沉，上熱下寒之證，無一不效。蓋以熟地為君，取養陰以化陽也，以白朮、揀冬為佐，一以托住中氣以耐病，一以清肺生水，且牛膝能抑浮陽之上壅，北味可斂濁陰以下歸，附片直達下焦，同熟地則滋陰降火，同北味則納氣藏源，真陰一得，焦燥頓除，氣血一和，陰陽自適，透者透而回者回，喘促昏沉之凶狀，頓為瓦解。更有向患陰虛久嗽之人，而寸強尺弱，麻疹隱伏，照脈主用六味地黃湯，加揀冬、北味、上桂，絕不使一疏風藥，而疹退嗽減，神清思食，其理一也。北方多因麻疹致斃者，楚瞻按脈用藥，悉以救陰救陽為主，夭枉者從無一人，誠為治疹法之遺。故不必以疹多實熱、斑有假陽為定論，更不必以斑疹分，但當以虛實別。疹之虛者，即以治斑之法治疹，斑之實者，即以治疹之法治斑，乃為活法。至痘瘡初起，凡腎元不足者，便宜按尺脈之陰陽虧損，固其天真，以噓腎元，送毒出經，切勿誤用苦寒，以遏熱毒在內，便成內潰莫救。至外無風寒閉塞，及肥白皮嫩肉脆之嬰兒，重幃豢養之子弟，切勿重加疏表，以致正氣無主，乘勢奔潰。倘腠理素虛，毒氣熾盛，不待藥力而一齊湧出者，便宜詳察陰陽偏損，急照脈證填補，蓋此時正氣大虛，其毒邪熱勢姑在少緩之時，臟腑形神猶為苟安之日，乘勢補之，庶治至五六朝，來充灌成漿矣。若到灌膿朝限，始行議補，恐毒邪反熾，溫補之藥，便多礙手。至有明知當補，而投之不應，脾漫泄汗，而無可如何者，惟力與補益真元，調理脾胃，長養氣血，斯元氣盛而毒自消弭，此易見之理也。</p>

<h2>【附】水痘論</h2>
<p>痘疹之外，又有水痘，亦發熱二三日見苗，其苗亦似正痘，但起勢不成紅點，一見便含水氣，易於起發，並不開盤，不見暈腳，一二日即成水泡，內無膿漿，三四日即皆收靨，亦無痂皮。不似痘必十二日成功，輕者數十顆，重者不過百餘顆，即不用藥亦可。從古至今，未聞有因水痘斃命者，此不過小兒脾胃濕熱，因風而發，故其證常多癢，體氣強壯者，荊、防、玉竹、蟬蛻、連翹、白芷、甘草、生耆、歸、芍、建泄、雲苓治之即安，虛者以耆、朮、玉竹、雲苓、芎、歸、北風、蟲蛻、炙草調之必愈。然一發即不復發，亦能以氣相感，童子肌膚鬆懈常見之，有成人不發者，則終不患此證。余因今人每以時行正痘，誤作水痘治，傷人性命，因並示之，俾知水痘與正痘絕不相類，庶無所疑誤也已。</p>

<h2>痘證醫案</h2>
<p>楚瞻氏治蔣總憲孫女，時年八歲，先天最薄，忽發微熱，面青肢冷，腹痛吐水，傾倒神疲，六脈甚微，重按若無。公曰：此中寒元氣內傷之候，雖防出痘，難於疏解，宜照脈溫散，既可以去疾病，復可以任痘瘡。所謂內傷多者，只須補助氣血，正氣得力，始能推出寒邪也。乃用蜜耆、白朮、當歸、上桂、炙草，次日精神稍長，面青退而四肢溫，脈少起而項少強，身壯熱而痘見矣。更進一劑，次日精神強健，脈弱不洪滑，所見痘點瑣屑，知必繁密，不敢迅攻，惟溫補氣血，令其陸續以出。果至三四朝來，勢甚稠密，幸無蛇皮蠶種之狀，此溫補氣血送毒出外之功也，若以解毒藥攻擊，則奔潰而出，如面如㾦，所不免矣。更加人參，痘與精神飲食，日長一日而愈。此脾氣虛寒之候，故不禁白朮滲漿也。其孫甫十歲，半夜發熱，次早太陽額上已見點，連片不紅，腰痛疲憊，六脈無根，公知其先天陰陽兩虧，脾元中氣甚弱，不能約制，其毒得以妄參陽位，而脾腎兩虛必無力送毒出經，勢必沉溺而轉成伏陷，乃用熟地八錢，白朮五錢，當歸、雲苓各二錢，上桂錢半，炙草一錢，升麻六分，薑棗引，次早顴臉之間，一湧而出，如面如㾦，稠密無縫，六脈沉伏微弱，倦怠不食，幸腰痛愈。但中虛若此，復犯如是重痘，若不託住本元，既能一擁而出，豈不可一擁而入乎？蓋正氣極虛，無力主宰，任毒縱橫，若不乘毒邪出外之時，急為填補中氣，調益榮衛，何以充灌成膿，化毒收功哉？加人參三錢，去升麻。次日人參用五錢，次早神氣稍壯，飲食少進，痘少長而紅潤，天庭之痘，已非若從前之純白色矣。公日：前者人參只用三錢，不過佐白朮以固中，實讓血藥以先建功耳。今色雖轉而嬌，誠非蒼固之象，漿清癢塌，勢所必至，不可不急補衛氣以保之，用人參六錢，蜜耆、白朮各五錢，熟地四錢，當歸、上桂錢半，炙草一錢，早晚各進一劑，若大便一次，即服一錢參。然至七朝，猶瘙癢作而頭面抓破其半，幸充灌在前，爬破在後，痘毒化於表，藥力充於裡，不能為害，仍照前方加減。至十日外，痘熟而微臭，少減人參，佐以養陰解毒之品，痂落疤痕紅潤，精神飲食，俱倍於常，此可見形色脈理宜相參也。按：脈之沉伏微弱者，為元陽不充，正氣不足之應，至六脈無根，陰陽元氣皆敗，則腰痛一證，決非腎水銷鑠之例，初劑即宜加人參、蜜耆，以固衛氣，毋令擁出，再加附片以溫補元陽，庶天庭之色可轉，大補元氣，庶無瘙癢爬破之時，方中天丁、炮甲，代為去之，亦可為更進一義也。</p>
<p>馮氏族侄甫七歲，平時嗜酒少食，真陰消耗，元氣空虛，是以一遇痘瘡發熱，神昏不醒者竟日，醒則口不能言，目不能見。醫用疏表攻托，痘不甚起，驚厥益甚，脈則六部洪數豁大無倫，身熱如火，五心如烙，此真陰虧極，不能斂陽，神無所依，浮越散亂，再為疏解，愈耗其陰，再為攻托，愈亂其神。不能言者，心不能用也；不能見者，陰不歸明於目也；五心如烙者，藏腑躁槁甚急也。欲其肌竅滑潤流通，氣成其形，血華其色，排列疊疊於外，其可得乎？況驚厥一次，則神氣散亂一番，愈厥愈散，未傷性命於痘瘡，先失神氣於驚厥，必須求源潤本，以為不治之治，用熟地一兩，本梔六錢，麥冬三錢，上桂錢半，北味六分，或以五味酸斂為疑。不知有上桂君主之藥，一斂而辛散之勢更烈，正欲借其斂納以收浮散之元陽，隨肉桂之辛溫導入坎宮之命穴，真火既歸於中，陰翳之毒自顯於外，神自清而目自明矣。果一一驗而愈。</p>
<p>治王相國侄孫女，痘證亦發熱驚厥數次，目盲神昏，而痘難出，身微發熱，六脈沉微，重按則空，此正氣虛極，不能任其毒火沖激，愈厥愈虛而出愈難，愈難愈厥而氣愈虛。彼之脈洪數豁大者，責之真陰不足，不能斂陽，而陽無所依茲之，六脈沉微無根者，責之真陽正氣空虛，無力載毒出表也。用白朮、雲苓、當歸、炙草、上桂，一劑痘出，二劑神清，三劑目明，痘色光彩，充灌成結而愈。按：此宜人參、蜜耆補助正氣，則送痘毒更為有力，無他變證矣。蓋二者之驚厥目盲同也，脈之洪數沉微有異，則藥之救陰救陽自別，且其外證，痘暈亦自不同。故痘初發熱稍輕，至三四日痘尚不出，不可概以為痘輕毒少，惟神清能食，脈氣和平，見點尖圓紅潤，朝暮勃發，乃為痘少毒輕，若倦怠嗜臥，痘白無光，不易起發者，此氣血虛弱，不能送毒出外也，急宜溫中益氣，鼓舞榮衛以托之，甚者大劑連服，乃使中氣旺而運毒以出。如不知此，輕視忽略，毒氣內攻莫救矣。若見其口乾唇燥，解毒寒涼，益增冰伏內攻之禍，何痘前之不可溫補乎？故實熱者，宣發其壅滯以逐毒，虛寒者，補助氣血以送毒，乃無痘患，且痘之始終，有危險不測者二焉，一曰毒盛，二曰體虛，見其毒盛，能順其勢以導之，勿用寒涼解毒以阻遏之，則毒盛未必斃也。自起勢至痂落，因一藥一食之誤而即斃者，體虛也，能察其虛而補養之，勿誤清解，則虛未必斃也。又外科書云：癰疽破漏，最能走泄真氣。旨哉！破漏二字。小兒陰陽之氣未全，易虛易實，倘一患痘瘡，而逐處破漏，其走泄真氣，不更甚乎，故《心鑑》一書，諄諄以顧元氣為主。矧所見嬰兒，天稟更薄，參、桂難求，一見發熱，輕用荊、防、羌、獨、紫、葛疏解，則表虛衛氣益傷，中氣亦耗，初則無力逐毒達表，繼則不能充灌成實矣。輕用犀角、知、柏、芩、連，則裡虛者榮血凝滯，脾胃虛寒，初則冰伏毒氣，繼則泄瀉喘汗矣。輕用天丁、穿甲、牛蝨以攻毒，則正虛無力擔當，奔潰而出，初則形如蠶種、蛇皮，繼則皮剝空殼，水泡清漿矣。故不惜詳言而申說之。而看痘之決，莫如審七暈，詳五陷，觀形氣，辨脈理。脈之沉微無力者，非毒邪之內伏，乃氣虛不能送毒也，調元固中，即可以逐毒達表，參、耆、桂、術，誠為妙藥。脈洪無力者，非毒火之有餘，乃真水之不足也；火盛者，熟地、丹皮、紫草、連翹之類；火假者，熟地、棗皮、上桂之屬，兼辛溫動盪之味，以助生髮長養之機。務使正氣內充，榮陰外潤，氣血宣行，流動不息，如禾苗之得日暄雨潤，風宣露滋，則勃興有象矣。惟藜藿之兒，中外堅固，及稟氣壯盛，六脈洪大有力，外感有餘者，乃可任疏散焉，非必一於求補之謂。體弱宜表者，亦用參蘇飲，荊、防、芷、葛，有時亦賴疏解，汗秘熱盛，羌、蘇亦可暫施；牛子、連翹，醫所泛用得當，每資清解；枳殼、木通，豈無藉以通利之時；紫草、紅花，大可用為活血之具；莊黃、川連，秘結者安得不微下以救陰；桂枝、麻黃，寒束者何妨少投以解厄。此固有活法在焉，非精於脈，神於痘者，莫克知也。</p>
<p>蔣公孫女，甫半歲，發熱半日，而即見痘，面色向來㿠白，料其出痘，必皮薄漿清，及至見點，不但稠密無倫，其胸背手足間，如蟢窠蛇皮段者不一，面上之痘，方及三朝，乾枯灰白，背項之痘，紫陷不榮。要知元氣既弱而且滯，榮血不能從氣以宣行，故面見氣虛，身如血熱，實因氣血不能周流，所以滯而為紫，根窠平塌散漫，實為氣虛所致，乃力進參、耆、上桂、芎、歸、山藥、楂肉、炙草之類，溫補充托，自四朝以至六七朝，峻補毫不少緩，平塌者漸至高聳，枯陷者漸至潤澤，清淡者漸至濃厚，其為蛇皮蟢窠之處，變成水泡，潰爛而痊。</p>
<p>按：潰爛之故，總因加用天蟲、角刺所致，故去之。</p>
<p>有兒年歲出痘，時至四朝，顆粒不起，天庭一片如雲，糊塗灰白，舌有白苔，此痘毒未經傳出，寒伏丹田，宜升提透托，重用參、耆、上桂，加當歸、炙草之類，一劑而起，再劑紅活，三劑後顴骨身體俱有漿來，成膿收靨而愈。</p>
<p>有兒未及一歲，痘甚稠密，顴骨形若蠶種，色似胭脂，咳嗽便溏，精神甚弱，且向生瘡疥，氣血兩虛。用養血透托之藥，三四朝來，紅紫少減，而顴骨已有乾枯者矣，此痘太多而氣血甚少，無以為充灌之用，勢難成漿，毒從何解。內攻之患，勢所必至，惟力與補助，俾其氣血得繼生於後，痘自不黑靨於表，用參、耆、熟地、山藥、上桂、鹿茸、芎、歸、炙草，極力滋補充托，六七日後，白如錫片者，變黃色而少潤，薄靨貼肉者，漸高聳而成厚痂，顴骨地閣之痘，從未有漿者，至八九日靨如石榴，高厚光彩而愈。</p>
<p>有兒九歲出痘，發熱如烙，口臭，斑紫，腰痛，痘密如蠶種，頂陷而紫，真血熱而兼氣虛也，用熟地、丹皮、生耆、紫茸、連翹、白芷、蟬蛻、川芎、元參、桔梗、甘草，大劑化斑透托，二貼，痘既出齊，更入川連五分，清涼攻托，至四五朝，火勢少減，去川連，用前方加減。六朝血熱稍清，泄瀉又作，純見虛證，乃用保元湯、參歸鹿茸湯，倍人參大補之。九朝漿半足而水泡居多，如湯泡火燒之狀，因痘細密如蛇皮而無空地，兼稟氣又薄，氣虛血少，不能周灌，所以皮囊連串，清水成泡，乃加白朮、附片，溫脾滲水之品，漸得干靨，如同脫殼，此真血熱真氣虛，峻攻峻補以挽回者也。</p>
<p>夫無形之真陰真陽，誠生人之本，且須察人元氣，不可憑形質也。公之六郎，稟受不足，形肥㿠白，肉勝於骨，大便燥結，每甚苦楚，不知者以為脾胃壯實，不明腸中少津，所以大便燥結，腸中少氣，所以大便艱難。且周歲之內，時患氣從臍下，直奔而上，咳嗽不已，或用人參一錢，帶衣胡桃二枚煎服，後用八味丸加枸杞、牛膝、北味。然猶一病，即委頓不堪。凡審其受寒發熱，陽不足也，用辛溫衛氣之藥以散之，加生薑、苓、朮、參、蘇、上桂之類。如受熱發熱，陰不足也，用辛溫榮氣之藥以勝之，如養榮湯、地黃湯之類。如停食發熱，脾不足也，即於扶脾藥中佐推揚穀氣之味以化之。如孤陽浮越，發熱不已，審其因於脾虛者，甘溫以除之，因於水虧者，壯水以制之，因於火衰者，益火以消之，務使壯火仍為少火，而歸藏於中，勿令壯火力窮於外。蓋病發有餘之日，即正氣不足之時，設徒從標攻治，則虛者日虛矣。然先天既薄，出痘必犯腎虛內潰之虞，未二周而五月出痘，身熱汗多，煩躁殊甚，熱一夕即見點於大庭右太陽，色白無光彩，摸之不礙手，攻之恐一齊湧出，任之則汗多身熱，能不慮向來不足之腎陰，益令熬煎枯竭耶？況腎陰一竭，陰火愈旺，煩躁愈甚，壯火蝕氣，正氣益虛，痘將何所假借以呈形華色哉？故斷不可以循常之法治之也。始用大料六味地黃丸加升麻、柴胡、上桂，令乳母亦連服二貼，欲使腎陰不竭，煦濡有力，毒自不能沉溺於腎。二朝，痘漸外達，但色白與肌肉無殊，身與四肢雖粗肥，面上隱隱如㾦，此陰虛不能華色，陽虛不能上達，況身熱汗多，煩躁如故，而神氣更疲，則陰津陽氣並耗於外，可不託住中氣，填補真陰，滋其化源，抑此煩躁，斂其浮越之陽，以逐陰翳之毒，降其淆濁之氣，以令清陽之升耶？用熟地六錢，白朮三錢，淮膝、麥冬各錢半，北味四分，肉桂八分，服後壯熱稍減，潰汗少斂，煩躁少寧，痘乃陸續漸出。三四朝，四肢雖泛起，頭面總不起發，且色白仍與肉同，氣血大虛，不待言矣，用參、耆、朮、桂、芎、歸、炙草，形稍起而無神，色稍紅而甚淡。五六朝來，猶晦滯而顯枯爍，仍用熟地六錢，白朮三錢，上桂一錢，人參三錢。七朝，手足水泡已甚，而面上枯槁不榮，兼之大便溏泄，矢氣頻仍，則中虛更甚，能保其不泄瀉下陷癢塌空殼乎？用人參五錢，白朮三錢，上桂、附片各一錢，鹿茸二錢，炙草八分，加桂枝三分，以宣揚鼓舞，令津液無微不達，一夜頭面身體，盡化膿漿，清水之泡，變為濃濁，但疼痛煩啼，日以生脈飲，接續元氣，兼八味丸加減，乃依部結痂而愈。然痘後手背浮腫，腳腫更甚，此固胃氣甚虛，而氣虛不能升舉也，用參、耆、苓、朮、當歸、炙草，加蜜炒升、柴各三分，虛腫乃退，但爪甲色黃而燥，乃肝榮不足也，足痿不能立，腎元大虛也，用八味加杜仲、地骨皮，日中以八珍糕，調補元氣始安。按：前後用方，變易太多，因時制宜之道固然，而不舉脈立方，心中似全無主，且方中調治未善，略加增減，尤刪去天蟲、角刺，俾無誤於取法云。</p>

<h2>暉亭自訂醫案</h2>
<p>（略舉數端以補於後）</p>
<p>愚治岳叔庠生劉公子明之長孫出痘，發熱三日，滿身遍發紅點，紛紛碎碎，隱於肌肉之間，皮膚微癢，六脈微弱，此夾虛斑而出，所謂斑有假陽也。用蜜耆一兩，補氣升托；白朮八錢，炙草一錢，固中培土；當歸二錢以養血，川芎一錢以動盪血脈，上桂錢半，以鼓舞榮氣，楂肉一錢，蟬蛻七隻，以宣發痘苗。一劑，半夜斑退苗發，前後如此調治，重用蜜耆，去桂、術，加山藥、鹿膠而安。厥後姻兄經廳柳公晴軒之侄，亦年四五歲出痘，證復如是，加人參治之，應手而效。此二證若照常法用連翹、牛子、荊、防治之，必誤；以元參、生地、丹皮、紫草治之，則立斃矣。</p>
<p>堂弟太學雨田之女，四歲出痘，布種一日，即發壯熱，四日往治，遍身斑疹，乾枯皮脫，口渴神昏，二便不利，六脈洪數，按之益堅。余曰：火毒如此梟炎，不急清其熱，將毒因火閉苗，終不能發越成形脹靨矣。用川連一錢，紫茸二錢，連翹、白芷、生地、元參各二錢，生耆三錢，麥冬、淮通、當歸各錢半，牛子、花粉、甘草、蟬蛻、升麻各一錢，二劑，熱減斑退，清爽思食，苗發。後以清毒活血湯加減調治，乃得膿漿充足，依期收結，後痂落疤痕滯晦，不甚紅活，用蜜耆、白朮、芎、歸、炙草之類，數劑而安。門人問曰：先生嘗謂治痘，不可過用寒涼，何此獨用苦寒於痘未出之際乎？余曰：子知其常，未聞其變，彼既火盛毒錮，安得不通權達變，隨脈證救治耶？余幼女七歲出痘，見點後，忽右頰痘暈紅紫一塊，如小錢大，脈皆沉緊滑數，此氣虛血熱也，拈生耆、紫茸、元參、丹皮、赤芍、蟲蛻、白芷、連翹、牛子、當歸，合成一貼，奈不肯服藥，余因事外出，次日歸時，遂覺遍身紅斑最密，皆如錢狀，胸背更多更赤，斑過膝下，人皆驚異，此仍屬氣虛不能束毒，血熱載毒妄行之候，即以前方服二劑，晚間斑紫盡除，痘亦依期脹靨。</p>
<p>乙丑季冬，近地流行痘甚凶。淮氏先以痘斃兩女子，一以驚搐作驚風治，不明升托法而斃，一以不知補托，誤用升、葛、荊、防，大開肌表，一湧而出，後至敗證百出而殤。死喪之氣，充溢彌淪，同室者又發一小兒，未及一周。余曰：開手即不可不慎，若經庸工一藥，不與救治。急求余至，診得六脈，遲弱而澀，嬰兒脈氣，原不如此，更見氣血大虛，用蜜耆八錢，生耆二錢，白朮五錢，當歸錢半，楂肉、炙草各一錢，升麻五分，一劑報苗，次劑去升麻，加蜜耆，漸次出齊，幸無一湧而出之患。然三四朝來，痘只一紅泡，絕不起脹開盤，此即血泡一例，陽氣極虛，血因上居氣位，不急補益，何以灌膿成功，用蜜耆二兩，山藥一兩，附片五錢，公丁三分，炙草、當歸各一錢，每日再用蜜耆四兩蒸雞鵝，取汁頻進，乃得膿成收結。旋又有兩小兒出痘，脈皆遲細澀弱，用蜜耆一兩，生耆四錢，附片五錢，當歸錢半，白朮六錢，及楂肉、升麻、炙草，補托而安。其有色不甚淡，水氣少者，去附、術，加山藥、黨參，無一不愈。並未用連翹、牛子，則憑脈察形，虛實立辨，豈有藥之宜從宜忌，以膠治法哉？</p>
<p>丙寅冬，餘外侄女，年十六，出時行痘，甚密無地界，根腳闊散，暈色淡紅，六脈微弱，前後皆以耆、朮、薑、附大劑，峻補陽氣，未易一方，附片每用至一兩，至十二日期限全愈。其弟發熱即驚，蘇而搐，亦因其脾元腎氣不足，脈息遲弱，重用耆、朮、薑、附，加當歸、法夏而安。柳金泉之孫，時行痘亦密，不能起發，色白無紅暈，脈甚微細，無神，平時常多腹痛溏瀉，重用耆、朮、薑、附、鹿膠、當歸、山藥、炙草，五劑而愈，即從前之腹痛泄瀉亦安。余治痘不下數百人，用荊，防、連翹、牛子者甚少，用芩、連、莊黃者更稀，常用耆、術以建功，屢加薑、附而活命。余雖絕無成見，而今似合為一人，此願為知者告焉。治庠生劉舅兄之子，年一歲出痘，方未見點，而驚厥多痰，六脈浮數而弱，沉部極澀弱無神，有二三至一止之象，重用蜜耆、白朮、芎、歸、法夏、生耆、甘、桔、北薑、防風，一劑而愈，二劑痘出神清，後加山藥、鹿膠、杭黨、炙草，去法夏、北風、桔梗，痘自起脹肥美而愈。其堂弟孝廉雋臣之子，甫一歲出痘，面甚㿠白，肌膚鬆懈，脈亦微弱，余料其必驚，方微熱，即用蜜耆、白朮、法夏、廣皮、雲苓、芎、歸、肉桂、炙草、生薑、大棗二劑，以防其驚發，故至報苗之際，稍驚即蘇，後加山藥、鹿膠，痘亦稠黃收結，痘雖密而無一癢塌爬破處。治孝廉姻世講解異橋之女，未一周出痘，頭面痘色淡白，脈微弱遲澀，無神，忽痰厥驚悸，重用耆、朮、薑、附、法夏、當歸、化皮、肉桂、生耆、炙草，大劑而安。其堂弟一子，初齡出痘，見點而驚厥，痘色淡紅，神色更見慘白，脈極微弱而澀，不滿三至，頭額大汗如雨，身冷氣弱，兼之泄瀉，便清白，重用蜜耆、附、朮、川芎、肉蔻、乾薑、炙草，以固元陽而培元氣，痘得陸續出齊，亦甚起發，暈雖淡紅，而根腳尚不散漫，但驚猶不止，舌色轉青黑，察黑雖屬寒，而青亦因風，緣當初脈弱汗多，陽氣耗散，未敢加用表藥，及服補既多，培養已足，諸逆皆愈，可以開散，既有一醫加羌、防一劑而安。蓋可見驚厥多由氣血大虛，小兒元氣薄弱，每不勝痘毒沖激而驚作焉，補氣而痘自呈，扶正而驚自定，縱兼風寒，一表即散，慎不可用天麻、白附、全蠍、僵蟲剪風化痰藥也。</p>
<p>柳睛軒公之婢女，年十五六，痘未見點時，神氣困頓，面赤，咽喉痛極，頭汗如雨，脈極細澀緊弱，重用耆、朮、薑、附，補救元陽，稍加當歸、生耆、炙草、楂肉、桔梗托苗，二劑，苗見汗止，咽痛痊愈，連進數劑，痘自肥美收結。先是其叔歲貢羽中公問曰：咽痛何為反用附片兩半？余曰：此格陽喉痹，內是純陰不能納陽，故將微陽盡行逼出，而為喉痛戴陽之證。腎臟如此虛寒，非姜附何以散厥陰邪速返元陽乎？公曰：聞之下虛者忌用黃耆上升，今重用蜜耆二兩，能不慮其孤陽飛越乎？余曰：此雖至理，而痘疹則不可拘執，以痘疹之毒沉溺腎臟，中氣不足，不能送之外出，以致元陽益虛而有陰邪凌侮之患，不急補元氣以托苗，則毒終不出，阻塞攻擊，陽從何返乎？惟以附子大力溫補元陽，使之自旺，復以白朮助中氣，黃耆補衛氣，俾邪氣受正氣之節制，不致隱伏於中，斯痘出而陽亦歸，正充而邪自化矣。公於是首肯曰：善哉！善哉！此痘疹之妙旨，即蒼生之所託庇也，不然，見病治病，妄投寒涼，不幾龍雷盡發，痘不出而斃乎？</p>
<p>余於柳睛軒貝加公家治痘，不下十餘人，於其痘暈老紅者，補以蜜耆、山藥、鹿膠，淡紅者加以附術，皆兼透托之藥，莫不湊效。惟一小婢，先是耳下一瘡潰爛，斷其決難出痘，後雖強與救治，痘得收結，終以瘡生不止而歿。蓋耳為腎竅，瘡癤破爛則腎氣已損，何能成功？故多生瘡癤後，元氣未復者，決不可與布種也。治太學劉舅兄選三家痘證，大小十餘人，其於脈氣虛弱，痘暈淡紅者，前後皆用溫補，惟有兩兒報苗深紅，煩躁口渴，乃用生耆、連翹、木通、紫茸、甘、桔、歸、芍、白芷、麥冬、楂肉、蟬蛻以托苗，後以清毒活血湯，去芩、連加減催漿，有熱勢稍清，即溫補正氣，皆得稠黃脹靨。按：此痘深紅，即紅紫之意，與淡紅迥別，不惟薑、附投之即斃，即投以蜜耆、白朮，亦渴漿不行矣。故痘疹虛實觀於色暈而已，得其全焉。</p>
<p>痘以腰痛為險，先儒謂毒火銷爍腎水，須用歸宗湯等類，急下以救陰。介賓、立齋，每用生料六味加麥冬，虛寒者合用八味，要之總以救水為主，少大補元陽之慮。姻兄太學解自如之次子，年十歲，痘色淡紅，腰痛難於俯仰，兼之喉痛甚劇，六脈緊細微弱，左尺稍見虛大，按之仍細弱無神，此真陽虧極，正氣虛損，致毒不能出，沉弱腎經，兼之真陰亦虧，故上見陽越之象，下顯毒伏之凶，乃重用附片二兩，熟地四錢，巴戟六錢，枸杞三錢，杜仲、山藥、白朮各一兩，蜜耆兩半，生耆五錢，楂肉、當歸各二錢，胡桃肉五個，一劑，兼外用熱麻油揉擦，腰痛逐止，咽即不痛，再劑痘乃齊見，後見其脈總緊細，熟地加鹿膠，連服數貼，膿漿稠黃而靨，則此證又不可拘毒火為患之見矣。</p>
<p>解兩外侄女，及自如兄之季子兩女，體素虛寒，發熱三日，不見痘點，脈皆緊細微弱，皆重用耆、朮、附、桂、生耆，兼楂肉、當歸、炙草，一劑即見苗色皆淡紅，連進大劑，加山藥、鹿膠，其中有腹泄者，加肉蔻兜塞之，無不應手而效，何嘗有白朮滲漿之患乎？</p>
<p>余長男體素多火，布種後發熱二日，身上即多淡紅隱疹，脈亦虛澀，用蜜耆兩半，黨參八錢，生耆四錢，當歸錢半，楂肉錢半，蟬蛻十五隻，白芷、炙草各一錢，一劑疹退，再劑見苗，雖痘色不同淡紅，亦非老紅之色，以前單去楂肉、白芷、蟬蛻，加山藥、鹿膠數貼，膿漿充足，忽右眼起紅絲，有翳膜之狀，用連翹、赤芍、歸尾、蟬蛻、木賊、甘、桔、柴胡、密蒙、石決、薄荷，二劑而安。</p>
<p>黃建中之季子，先無服清淡之藥，痘出即伏，急邀余治。六脈如無，痘皆灰白，身半以下間見鋪紅，如水紅色，天庭面部已多黑陷，重用蜜耆三兩，生耆一兩，附片兩半，杭黨、白朮各一兩，當歸、楂肉各二錢，炙草一錢，糯米一撮，連進二劑，乃得復出，再加山藥、鹿膠，盡用蜜耆，兼耆、附蒸煮雞羊，絕不停手，亦得漿足而安。此萬死一生之候，非大劑不應矣。</p>
<p>舅兄太學劉蒲庵一子，年十四五出痘，布種一日即發熱，二日即報苗，從古所稀，苗色淡紅，皮薄而嫩，中含水氣，礙之即破，脈極緊細微弱，余曰：此元陽大虛，脾元中氣不足之證，不急溫補，定有皮薄漿清癢塌空殼之患。重用蜜耆、白朮、附、桂、北薑、當歸、楂肉、炙草數大劑。至灌漿期限，反見退縮，子懼其氣血不繼，難於成功，幸蒲庵自知醫道，深服用藥之神，乃日進峻補二劑，兼進蜜耆蒸雞，附片煮羊肉，計日用蜜耆十餘兩，附片六七兩，山藥、白朮各四兩，兼鹿茸、鹿膠、白蔻，泄瀉加肉蔻，此調治數日，氣雖弱而血不上侵，暈雖淡而無鋪紅，漿雖清而不癢塌，胸背間為衣被開破，手足猶見起脹成形，急力催之，開破之痘，亦有薄漿，同為收靨，幸後來頭項隨發一癰，然不紅不腫，脈仍微弱，即照原方加炮甲而安，由是培養月餘，而身體益加強健矣。</p>
<p>劉佃莊姓，有婦十六七歲，出痘，發熱二日，未報苗時，忽鼻衄如注，氣口脈甚沉滑有力，此熱毒伏郁肺胃熏蒸，迫血妄出之故。進以清肺飲去知母，加柏葉二劑，衄止痘出，後以清毒活血湯，去芩、連催漿而安。岳矅生員旭初公之三子，孝廉雋臣之弟，年十七出痘，報苗之時，頸下即發一賊痘，形大而軟，即開盤戴漿，以燈火焠下，搽拔毒散漸消，診得脈雖微弱，尚見和平，亦無大象、滑象、陰虛、有熱之脈，所見痘苗，亦非老紅色暈，身體滋潤，時見微熱，進以真元益命湯。金曰：其人陰氣素虛，重服黃耆即咽痛，矧今咽已痛，何可投黃耆二兩？余曰：此時脈色只見氣虛，不可以本質拘泥誤事。如法連進二劑，咽痛全愈，苗色華美，加山藥、鹿膠，痘極稠黃收靨。</p>
<p>舅兄劉雋臣之女，年十四五出痘，發熱一日，即困倦多汗咽痛，脈皆微弱無神，與保元湯加附、術二劑，諸證皆退，精神頓長，次第報苗，色近老紅，暈腳亦不闊散，脈稍有神力，去附術加鹿膠、山藥，漿足痂厚而安。門人問曰：有人布種，發熱二三日，面部已報苗影，越一夕，熱退苗散，人事清爽，六七日後，忽腹疼喘汗，頃刻而亡，是誠何故？余曰：此必其人元陽不足，正氣虧損，不能送毒出外，故一報苗而即隱伏，醫者見其清醒，不解極力補托，致毒伏於中，日與正相賊，久之正氣益虛，邪氣日熾，而又不得暴發於外，是以一旦攻擊而亡。余於此等，竭力救蘇，而莫明其攻者多矣。如劉蒲庵兄之兩侄，及李氏孫氏之子，俱發熱三日，抖牙驚惕，儼成發作之象，尋之果得淡紅苗點，診之脈極沉細微弱，進以耆、朮、薑、附，兼芎、歸、楂肉、升麻托苗之品，日一大劑，轉見神清能食，身熱全退，痘影全沒，極力照脈峻補三四日，黃耆用至二三兩，附片皆用一兩，白朮兩半，佐以芎、歸，不稍停止，後皆復得身熱苗呈，即以大補催漿而愈。設當時輕視忽略，不急補托，不終死於腹疼喘汗乎？又問曰：有人布種，發熱數日，全不見苗，極力托之，終無形影，後亦安寧無患，是又何說？余曰：此問亦不可少，余於此證懷疑者久矣。近如分州姻太閻公祖之孫，堂弟太學受陶之子，李海清之侄，皆發熱無苗，脈皆微弱，按脈極補元陽，扶助正氣，至數十餘貼，總不見痘，精神倍長，後俱無恙。人雖有不逢種之說，但何以發熱不逾其時，應主內出一證，令稽糞內，又無痂皮，或痘輕毒少故乎。而閻公又謂其三姻兄原如此，後再與布種不出，則內出之說有明徵矣。然予眾堂兄，初種痘不見，亦不受同室人苗氣而發，年長忽感時行，以致痘密無縫，是不出者越一二年，不可不再與布種，如再不出，則終不出矣。又曰：有同室人種痘，獨有一二人不發，並不曾身熱，及諸人收靨後，彼復發痘多，其俗名掃腳之謂乎？曰：非也。此醫者布種未到，苗氣輕淺，所以不發，迨諸人收靨，感其氣而後發耳。故布種至十二日，不發熱者，不防再與加苗，毋令氣感而稠密可矣。</p>
<p>門人請於余曰：痘未見點時，有頭面預腫者，何故？余曰：此固有虛實二候，余已於腫論明示之矣，且因問而晰言之一則。毒氣深重郁遏不伸，其證壯熱氣粗，口渴頭疼，咽痛聲高，脈洪滑數，宜生耆、芩、連、甘、桔、連翹、木通、荊、防、歸、芍、蟬蛻、白芷之類，清毒活血以升托之，兼之便久脹秘，數日不通，加莊黃微下之，庶熱毒清而正痘出矣。一有正氣虛弱，不能送毒，以致毒不能出，上越清虛之府，其證亦多腹疼、腰痛、聲弱、脈微或虛大無神，宜耆、朮、附、桂、芎、歸，加楂肉、蟬蛻以補托之，庶正氣盛而痘出毒化矣。亦此證誤用升麻葛根湯者有之，以正不勝邪，邪欲出而正不送，徒以表藥松肌之法逼之，毒遂散漫於頭面間，而無拘束耳。客有請者曰：今之痘師，不離連翹、白芷，有用補者，不過生耆，至於蜜耆，或起脹時偶用，附片、乾薑，或痘白無紅暈乃少投之。至於白朮，則首尾禁用，膿熟後或有用者，詢之則謂白朮滲漿，先生亦云劉河間曾有是說，原非無據。公之治痘，則耆、朮、薑、附，肆用如神，略無禁忌，是誠何法？余曰：此固理之平易者也。先輩云老嫩之色，衛氣主之，蜜耆所以溫皮毛，實腠理，保衛氣者也，衛氣不固，則痘毒無所拘攝，必致一湧而出，喘汗立至，惟用蜜耆以固中，使正氣健運送毒出外，則已出者不致伏陷，氣虛者不致沉淪不出，且使皮囊得溫而堅厚，自無癢塌漿清皮薄之虞。今人嫌其收斂，不亦愚乎？予常兼用生耆，不過取其表托出外之意，合楂肉以送苗耳。白朮乃脾胃妙藥，益氣和中，補陽生血，暖胃調脾。今之脾氣虛弱者，中常不固，不能任毒氣攻衝，每致痘出迫速，中氣空虛不能抵擋，隨即擁入，此未扶助脾肺以建中故也。縱不至此，或一出而嘔吐泄瀉，白陷灰陷，已成脾胃敗絕之凶，尚何能成漿充足？故脾弱而濕者，用之更能排膿，兼可以免水泡，以氣血得繼於後，脾土健運，自不傷生髮之機也。當審脈氣虛弱，痘不深紅，皮囊有水氣，手足處更淡，起發更遲，而急用之，若痘深紅，脈躁身焦，則血分有熱，水已不足，反用白朮以燥濕，幾何不滲漿而成空殼乎？附子、乾薑，補救元陽之妙品也，同熟地用之，以救陰中之陽，同耆、術用之，能助脾胃之陽，厥逆泄瀉嘔吐得之，能回垂絕之陽，面赤戴陽喉痹失血得之，能收浮越之陽。亦惟脈弱痘白淡紅者，乃為對證，尺脈弱者更宜，天庭一片㿠白，陽氣不充者，尤不可緩。若於紫赤之暈用之，則燥槁陰血，其害有勝於白朮者矣。餘明於脈兼細察痘形，何用之不神乎？故曰神於法，則芩、連、莊黃，用之皆成補劑矣。</p>
<p>又曰：諸醫治痘，起手不外升葛湯，先生不喜用葛根者，是又何故？曰：痘原以衛氣為主，衛氣虛則腠理不密，勃發之勢將一擁莫遏矣。先儒論痘，以三日出齊者為順，未聞有無故開發腠理使之一齊擁出，莫可支持者。且內已蒸發，外未有不表著之理。其有風寒錮蔽者，荊、防、羌、蘇，可斟酌而發之；熱毒壅遏者，輕用連翹、淡竹，重則用芩、連、紫草，加升提藥以宣之；氣血虛不出者，補中益氣以托之。重幃豢養之子，皮膚脆嫩，肌竅本松，一旦大開陽明肌表，縱不一齊擁出，而胃氣已傷，將何以主持於後充灌成功乎？先輩謂一見痘點，忌用升葛湯，有先得我心者矣。又曰：諸人喜其輕揚升發，每泛用之，致斃者亦少，何也？曰：諸人多治貧民、黎藿之兒，肌膚堅厚，原難發見，略為開之，痘乃徐出，譬如種子既深，不疏其土，萌芽不露也。然多有不能起脹灌漿，癢塌伏陷之敝，安知非表發太過，與妄為清解之咎乎？而麻疹亦從此可推矣。</p>
<p>又曰：先生治痘，大抵喜用溫補，故於補氣之藥，言之津津有理，其於涼法、表法、養陰之法，或不慣於應用乎？余笑曰：何言之迂也。所訂《痘疹》，諸法皆備，隨證自可參詳，原不欲人執一。但予治痘以來，見虛者實多，憑脈色治之，毫無傷損，是今人原多氣虛，痘中之宜溫補者，十常八九，而我何心焉？夫脈證可為比例，知如此為陽虛，則知異此者為陰虛，知如此，宜溫宜固，則知異此者，宜涼宜表。舉一尚可以例其餘，矧不惜千萬言，猶不明虛實寒熱耶？予治痘疹，多未立案，其順正之候，可以不藥，可以清淡藥即愈者，奚必屢伸其說？惟虛者，易於損人，故疊次詳明之耳。於是人皆府首曰：予言之過矣。但不識滲漿之藥，只一白朮否乎？曰：痘賴水火以生養，白朮、雲苓，法夏、蒼朮、澤泄、豬苓、木通、車子，凡為利水之品，皆為忌藥，亦如芩、連、莊黃、生地等藥，忌其泄火損陽也，然用之得當，正賴其通利滲濕與化痰清火之力。故惟知其有所犯，用之乃至於無犯。看痘之法，何必立異，亦何可執一乎？</p>
<p>門人問曰：先生神於治痘，嘗見時行稠密之痘，悉能救之，又每見有人苦邀師至，卒多不起，何也？曰：痘有時日不同。凡病開手用藥一誤以後，斷難挽回。況痘出既多，氣血充貫，更難緩治，猶恐不及，何敢妄投？予每治一痘，起手便想到如何脹法，如何收靨成功，當初若一誤表，則正氣散失，元陽虧虛，誤用清涼，則真陽汩沒，元氣銷殘。未出者，則伏而不出，已出者，或淡白、灰陷、黑陷，終不能起。且真陽一虧，脾胃生髮之氣已傷，無火熏蒸，泄瀉自作，痘自不能化毒成漿，癢塌空殼之患立至。而誤與溫熱者，亦令毒氣熬煎，正反受害，不知開發者，反使表邪內錮，毒郁不升，此中之微權，在識脈與察色而已。而正虛者，尤不可稍誤。如太學姻兄夏最峰之次子，以大生瘡癤後，未受補益，元氣久虛，未經發熱，而兩毒所結，即報賊痘二顆，醫不與挑撥拔毒，乃用升麻粉葛湯，大開肌表，以致一擁而出，即出又肆進粉葛、升麻，致令中氣不繼，衛氣傷殘，痘粒通紅，皆成血泡，不見成漿，腰下肉色鋪紅，且正難送毒時多喊叫，先輩決其不治，不得已進以保元湯，代以黨參，後因咬牙寒戰吐瀉，令加附、朮、二蔻，卒以氣血不周，速收速落，淹淹而斃。非不知當初即宜重用附、術，然知其如法治之，亦終不救，故不與分。尤解十二兄之子，感流行痘，發熱一日，醫誤用羌、獨、荊、防、桂枝、葛根、花粉、黑梔、厚朴、蒼朮、神麯、枳殼、甘草，雜亂無理之方二劑，通身見點，猶誤作熱斑，再如是用藥二劑，急邀余至。詢之果一齊擁出，不分地界，不見紅暈，心訝其險，又見其誤之已甚，正氣大傷，不敢以峻補任過，聊授以保元湯，代以黨參，後見其終無紅暈，肉腫而痘不腫，癢塌泄瀉，辭以不治，更醫治之而歿。有門生與伊族人治痘，遇極虛之人，進以耆、術，尚皆無恙，痘科妄議有熱，改進芩、連，四人各服一杯，乃致諸痘潔白，毫無紅暈，且有灰陷者，有毒反內攻而腹大痛者，後雖溫補不應，連傷二命，殊堪憫惜。痘科欲文其過，反推言前藥之非，予謂皆應有罪，果有卓識，何得聽他人之誤投寒涼？無真本領，何必遽與人看痘？吾願業痘科者，無造次焉。但已經誤治者，即不與主方亦可，蓋雖竭力救之，亦終必斃也。</p>
<p>問曰：有人痘見點未全，身熱逐退，小便清長，面色白，痘不甚紅，而腹時痛不止，何故？曰：此氣虛不能送痘也，主補中益氣湯，加以四肢厥逆，或嘔吐泄瀉，又宜加薑、附、砂仁、肉蔻，以制其陰寒。又有人痘見點未全，壯熱口渴，痘色紫赤，而腹亦時痛不止，又何故？曰：此火毒伏郁，不能發越於外也，主敗毒宣中散，二證虛實顯然，矧參之以脈，更復何疑。</p>
<p>問曰：有人體素虛寒，痘出稠密，以補劑催之，脹滿可愛，而收靨甚遲，後乃發為痘癰，不紅亦不甚腫，以耆、朮、薑、附溫之，潰為清漿，延久乃愈。聞之收靨遲者，補助正氣，以佐其收靨，今脹滿已極，復行湯補，恐至脹破。余曰：爾前方中用附、術否？曰：未用。有水泡否？曰：有。余曰：此元陽不足，脾弱濕盛，雖非空殼，實漿清多水氣耳。設當時溫補火土，脾氣健運，水受土製，不致氾濫，將皮厚膿稠，毒氣盡化，自得依期收靨，無復後患矣。及其不靨，多見水泡，則火土益衰，急宜重用白朮燥濕，附片補火，雲苓利水，兼以歸、耆培養氣血，自得熏蒸回漿，水氣去而稠黃矣，何至有脹破之嫌。書云：漿不足者，必發為癰。此證之脹滿，非漿足之謂，乃濕重漿清之謂，虛寒已極，八九日間，何以不發戰咬牙乎？曰：後亦曾發寒戰，以薑、附投之而愈，則知不至癢塌，以蜜耆補助衛氣之功，首尾未嘗清涼表發，故猶有生機耳。至後發為癰，乃餘毒因虛伏匿，積久而發，幸投以溫補，始得無患。設如常法以大連翹飲治之，恐仍斃矣。是何不補益於前，以免後慮，至證已險逆，乃為挽回乎？於是復設一難。曰：有人元陽極虛，痘暈淡紅，天庭㿠白，以耆、術托之甚安。醫誤投以芩、連涼劑，痘皆白陷，或有腹痛者，後如法以薑、附補之，竟至溺血不救。經云：陰絡傷則血內溢，毒火迫血妄行則便血，是宜養陰清毒，此亦宜用是法乎？余曰：果其如此，痘必紫赤而兼焦黑，壯熱煩躁脈數矣。如君所論全顯虛寒，則溺血乃脾不統血，陽不制陰，血為陰盛，無所統領而走空竅耳。從溺孔出者，更為肝腎虛寒，非重用薑、附莫救，且熱迫者下血多痛，是無所痛苦，其為純陰無陽可知，不然當用芩、連後諸熱皆清矣，何以反轉白陷，腹痛溺血，無所措手？觀立齋治出痘便血，屢用歸脾湯。余治解外侄女出痘，因用鹿膠而錯進龜膠，鼻衄不止，重加薑、附而安，即此可見陰寒亦多失血。余少時科試，因熱誤投洋參，逐溺血痛甚，宗每田夫子，以耆、朮、益智、炮薑、附片進之而愈。使屬有熱，幾何不因之益劇乎？觀此例彼，庶免懸旌之嘆矣。而今之不應者，得毋陽氣盡失，毒已內攻，無能為力之日乎。</p>
<p>問曰：有人出痘之際，狂叫不止，虛實何如？曰：此痘在欲出未出時有之，或為風寒壅遏，毒氣不宣，脈必浮數，略表以宣托之；或為毒火亢害，熱傷陰血，躁擾不寧，脈必滑數，清毒活血以升托之；或為正氣不足，無力逐毒，以致毒反內攻，脈必澀弱，扶助氣血以補托之。不必實者有此，虛者無是也。至於痘已出者，應無是候。曰：萬一有此，又若何？曰：亦不外憑脈察形審證而已，但痘已全見，毒自外出而猶如此，是謂神識俱喪，最凶。曰：楚譫謂譫妄一證，多屬於熱，今且狂矣，其概從熱證治之乎？曰：非也。彼論亦太拘，不觀傷寒例中，有如狂聲鄭，禁之則止，屬三陰病，用四逆、白通、回陽飲、真武湯救之者乎？如痘中之狂屬實，則痘暈必紫赤，脈必躁數，二便必不調，兼有外感，必頭痛、惡寒、身熱、鼻塞，項背殳殳，脈人迎浮數，若猶是淡紅灰白之暈，緊細澀弱之脈，正氣虛損尤為已極，況虛陽外發，氣隨陽走，五內空虛，徒存膚殼，自不能為之主張，不覺竟情發露耳，此時喪失之陽，收之且恐不及，尚可作熱治耶？此證因其人元陽素虛，誤表誤涼，不急溫補者有之。曰：假令其人痘暈雖淡，而脈數疾，又從何治？曰：豈不聞七疾八急為陰寒鼓擊之象乎？但審其有力無力，空與不空，以定虛實耳。曰：陽虛而狂，得聞其說矣。有陰虛而狂者乎？曰：陰虛則水虧火盛，金承燥氣，君主不寧，毒益得肆其焚燎之威，禪之狂亂，夫是以有壯水制陽之法，泄熱存陰之理，六味、七味、承氣、歸宗，所以救梟炎之傷腎水也。有氣血兩虛者乎？曰：肝藏魄，心藏神，心氣虛則眩惑而狂，脈則有虛大遲澀之象，以歸脾養心湯治之而效，非氣血兩虛之謂，而何曰有氣虛血熱而狂者乎？曰：血熱則焦燥，清毒活血湯，用人參、生耆以補氣，紫茸、芩連以清熱，何必不因此證而設也。曰：傷寒有熱入血室，如見鬼狀，或用桃仁承氣湯者，此亦可用乎？曰：可。在婦女出痘，適逢經行，因熱而止，以致血中有熱而狂，脈沉弦滑數而澀，小便清利，大便瘀黑者，亦主小柴胡、桃仁承氣選用。活法在人，原難拘執，萬病惟求淺深虛實可矣。</p>

<h1>三集</h1>

<h2>麻疹備法論</h2>
<p>從來麻疹諸書，皆以清涼為說，絕少溫補之條，視耆、術為畏途，以薑、附為荼毒，守「痘出於臟，麻出於腑」為定論。不知真陽真陰虧損者，當未有麻疹之先元氣已傷，及經發熱既久，氣血復弱，是以氣血虧而不能透者，十常八九，中氣虛而一擁出者，十常五六，既出而不能成形華色，伏陷喘促者，十之三四。醫不知補，反用清涼。或有為淡白灰陷，天庭一片㿠白不明，或為陽氣消耗，黑滯畏寒，泄瀉喘汗，嘔吐不止，如此致斃者，何可勝道？惟楚瞻、介賓、進賢諸公，明於補虛，然亦但言滋補，未及溫補，雖疹發於陽分，常多熱候，理實資乎氣血，寧無虛損，或其時其地，原少虛寒之疹，而議理議法，豈庸膠固之思？故有今時之疹，多有前人未經歷見者，前人之法，亦有今時不能通用者，皆因其理有未明，未為宜古而宜今也。余歷證多年，固多清涼證治，然用耆、術及用附、桂者，不下數百計。且治孕婦危殆之疹，及黑陷喘滿之疹，用附片二三兩，大劑溫補救治，有得生者，外證非無口渴唇焦，煩躁便赤，有類熱候，但察脈審情，毫無所犯，不可為今人廣不傳之秘乎。</p>

<h2>痘疹皆由先天統論</h2>
<p>痘疹原於胎毒，即發於先天，先天之真陰真陽一足，則氣血自和，煦濡有力，易出易收。倘真陰不足則水不濟火，無以製毒，即痘之靜而陰者。亦見梟炎火毒，銷鑠腎水，有重用歸、地養陰，兼用芩、連、紫茸清熱者，有並用硝、黃急下以救陰者，非謂真陰虧、火自內出者乎？而疹可知矣。若真陽不足，則元神困敗，真氣亦衰，不能逐毒，即疹之動而陽者，亦因腎臟虛寒，無氣送外，沉溺不出焉，強與表發，元氣俱竭，迫汗過甚，真陽益衰，縱克見點，亦淡紅淡白，嘔吐泄汗，必難起發肥美，脈自愈見微弱，虛澀無神，再加寒涼，喘汗立至，灰黑可虞。況虛者出疹，目多不赤，身多畏寒，或為吐泄，或為白痢，或二便欲解，而氣不傳送，脈多微弱，或反見緊弱遲澀，或外雖浮數，按之仍虛空無神，肺部脾部，無一毫洪滑象，而兩尺又不見至，不力為培補，定有伏陷喘脹，不能還元之凶。蓋斯人稟賦甚薄，未有疹時，元神早已不振，矧發熱日久，汗泄吐利，真陽尤易喪失，豈一名為疹，雖形色脈氣皆見虛寒，而亦必主屬腑之說，進以寒涼乎？而痘更可知矣。其有疹之起勢，脈即稍帶洪滑，發熱和緩，身體滋潤，乃為肺胃腑證，至躁數滑大，壯熱乾燒，又為真水不足之咎。予故謂痘疹之發，臟本腑標，脈法宜詳審，形證宜細參，雖主陰主陽之微分，其原皆一理也。</p>

<h2>用手推法論</h2>
<p>看疹大法，雖憑眼觀察，尤貴手推摸。燃紙照之，以通紅潤澤為佳，淡紅淡白為虛，紫紅紫赤為熱，此用眼觀法也。繼以大指次第輕重推摸，以隨手轉白，隨白轉紅血色，又不散漫為順，其稠密成塊之處，難概言活動，將及收靨之時，血自闊散，亦難推摸，但須辨其滋潤焦燥何如。陰虛者恆多血熱，血熱則毒肆，多有血凝毒滯，推之不得盡白，是以手推去，雖面上一層可以推過，其痘處總不見動，推時仍有紅紫之象留於疹中也，起指亦見血能還復，卻只得面上一層，其根底終是不轉不動，此為熱極，若全無動處，並見燥槁，真水底烈將盡矣。又有淡紅中見灰黑色，推之亦不活動，總是晦暗之氣凝結於中，脈或緊澀微弱，或虛大空散遲軟，身體或清冷多汗，或不食，嘔吐泄瀉，疹形不高腫肥美，又多畏寒，喜飲熱湯，此陰寒凝澀，血為寒錮，屬極虛寒。然亦必有三四處，可以推動方順，若全是晦暗色，疹形平塌，肉腫而疹不腫，脈微欲絕，陽氣汩沒無餘矣。看痘之法，亦大略相似。</p>

<h2>臟腑論</h2>
<p>痘疹既原於胎毒，自無痘出於臟、疹出於腑之分，蓋臟腑相為表裡者也。麻疹之發，以氣相傳，亦如痘之從肺受氣，以次歸於命門，然後五臟之邪氣內蒸，命門之胎毒外達，惟胎毒之動而陽者為疹，其候多熱，故常有肺燥陰虧有餘之證。凡病以有餘者易治。昔人稟賦甚厚，疹常有餘，遂以為疹出於腑，致使理終不明，後世因之受害。如疹出身有微汗，滋潤清醒，氣不甚粗，熱不甚燥，脈息和平，二便如常，疹粒累落肥美，以常法治之可也。如壯熱氣粗，洪滑數，鼻乾口渴，焦灼煩躁，疹色紫赤，毒火熾盛者，急宜清熱救陰，毋令毒火熬煎，反傷臟氣。惟脈弱神疲，元氣喪失，疹出如面如㾦，真氣盡出於外，或反安靜者，誠為臟傷險候，認為腑毒，害莫大矣。治疹者，必與之審虛實，辨陰陽，究脈候，察形色，乃為合法，不然，痘出於臟，豈無有熱屬腑者乎？先儒治疹，多用補陰，原謂其屬臟也，而獨未見有臟寒之疹，故後世遂有臟腑之別云。</p>

<h2>形色論</h2>
<p>麻疹以細密紅潤為佳，舒氏謂淡紅者虛寒，白色尤屬元陽不足，天庭面部㿠白者虛寒更甚，宜耆、朮、附、桂、芎、歸、薑、蔻，與治痘同。若但知補血而不敢補氣，則氣虛而寒者斃矣。紅紫為熱，通用清涼，黑則毒熱熾，急宜下以救陰，疹中固有是候，然不辨脈息神氣，及審其所因，亦每致誤。蓋黑為水色，有屬大虛寒者，非明眼人莫辨。</p>
<p>一凡出疹之際，切忌風寒生冷，否則皮膚閉塞，毒氣壅滯，遂變渾身青紫，或復隱伏，毒反內攻，煩躁腹疼，氣喘悶亂，而成危殆。如未見惡證，宜再表發升托之，然多有陽虛而復感風寒亦變青紫者，須主溫中散寒之法，不可大表。其有紅焰紫赤之疹，推之不能隨手轉白，隨白轉紅者，尤為毒氣凝滯，宜清血熱。</p>

<h2>麻疹正治論</h2>
<p>楚瞻曰：痘欲盡出而不留，疹欲盡發而無隱，或因邪氣之郁遏，留而不出，或為正氣之損傷，困而不伸。色淡白者為虛，宜溫補氣血；色紫黑者屬熱，宜化毒清涼，此論之精者也。予謂氣血旺而肌膚厚者，宜略為表發，如荊、防、粉葛、白芷之類，以取微汗，亦不可過用寒涼，冰伏熱毒，以致不能透出，毒反內攻。若已透而脈旺，疹赤有餘者，宜用清利之品使內無餘熱，繼用滋陰之味使血無損傷，庶免疹後諸患。惟氣血本虛者，原難送毒出外，不為補托，非特毒氣沉溺於內，亦且先自絕其化源矣。故虛寒之疹，即牛子、連翹，皆為戈戟，荊、防、羌、獨，盡屬虺蛇。余常於氣虛之疹，起手便用耆、術，且有加薑、附者，莫不應手而效，可為引證。</p>

<h2>補助陰陽論</h2>
<p>疹屬陽，陽主氣，故疹有形而無汁，發熱之初，大與血分熬煎，宜以滋陰養血為主。痘屬陰，陰主血，故痘有形而有漿，發熱之後，大與氣分搏擊，宜補氣為主，此大略也。世人謂疹屬心火，其色赤，故多乘肺，而見咳嗽諸證。又謂疹多實熱，非若斑有假陽，此皆因時勢以立言，而未明大道也。蓋斑疹皆有虛實，治法總貴圓通，且實者邪氣實，非真實也，病一退而正氣即虛，乃真虛也。是以治實證者，藥稍過即傷正，治假證者，藥稍誤而命亡，豈可以麻疹獨存實論，以害真虛？其有體氣壯實者，根本原固，故得標證，清解即愈。怯弱者，不耐疾病，久經大熱，氣血益傷，再加疏表解毒寒涼，以有形之藥，攻無形之虛，不益令愈熱煩躁，虛陽外擾，更呈假象，泄瀉喘促，身厥汗溢，以致不救者乎？馮氏以全真一氣湯，治麻疹之困厄，屢有神效，即此亦可見實熱非定論矣。矧今之陽虛者，數月嬰兒，亦可用附、術各一二兩。凡一發病，無論外感內傷，夏月暑日，皆不可用一寒涼，豈一發疹而即變為實熱耶？</p>

<h2>諸熱誤治發斑疹論</h2>
<p>斑疹一證，多因諸證發熱，調治失宜，血分壅熱，不得宣暢，沸騰肌表而為點也。雖麻疹發熱，形氣壯實者，自可表發，乃一遇發熱，不識何病何脈，便加麻疹名目，妄行攻托，以致血熱壅盛，逼迫妄行，沸騰肌肉，如擊水過顙狀，實非麻疹本候，乃因藥峻攻，猶傷寒熱極而為斑也，其點雖見，血分已受熬煎矣。更有血滯血枯，終難見點者，愚人慾踐其言，峻加攻發不已，其誰堪此戕賊乎？故凡發熱，隨所因而調治得宜，則榮衛和，而熱自退，倘妄加攻擊，鬱熱無從宣泄，皆可鼎沸成形，至此陽越於外，陰覆於表，里既空虛，則不食昏悶，身熱氣促，嘔噦噁心等證，勢所必至。復謂疹毒未清，誤加清涼解毒，以治熱毒有餘之藥，攻元氣受傷之病，常多死者。楚瞻治斑疹見點之後，壯熱昏沉，喘促煩躁，口渴不食，泄瀉吐蛔，或頭面先沒，額熱身烙足冷者，俱用峻補真陰真陽一二劑，而熱退神強，諸證皆愈。蓋血為火迫而成形於外，則經絡之陰消耗可知，陽氣浮越於表，則少火之臟納于丹田者，衰敗可知，水火既已兩亡，脾元何能運用？中氣之大傷，不待言矣，若不峻補真陰真陽，何以保精氣而資生身之用耶？吳鶴皋以參、耆、附、桂治斑，法之變也，醫不達權，安足語此？故善治斑與疹者，不必以斑疹分，但當以虛實辨別，只在陰陽虛實、神色脈氣已也。經曰：「陽強不能密，陰氣乃絕。陰平陽秘，精神乃治；陰陽離決，精氣乃絕。誠百病求生之理，知此而麻疹一證，又何拘表散清涼之說乎？</p>

<h2>疹中咳嗽吐利咽痛口渴常法論</h2>
<p>麻疹發熱之初，其點未見，而咳嗽咽痛，上氣喘急，面目浮腫，時臥時起，心煩口乾者，此毒火內蒸，肺葉焦舉也，宜甘桔湯加連翹、牛子，合人參白虎湯加減主之。若初發熱而吐利者，多由毒火內迫，以迫於上焦則吐，下焦則利，中焦則吐利並多，宜解毒清涼表托，不可收澀。若裡急後重而為滯下者，少加熟莊黃微利之。是為純熱之候，脈必滑數有力，而熱極傷陰血熱血虛者，脈沉部反兼見澀象，以血虛而枯不能流通也，使屬太少二陰經，吐利不止，可用附、朮、參、耆、四逆、白通者，脈必緊細遲弱無神，或四肢冷逆，困倦嗜臥，形神慘白，此疹家吐利之多由內熱，不可不加察也。有咽喉腫痛不能飲食者，宜甘桔湯加牛子之類，使屬格陽喉痹，則脈必遲軟澀弱，或虛大空散，或緊細無神，咽常不赤不腫。不同熱象，有渴欲飲水者，多由邪火外入，心火內炎，是以肺焦胃干也，使屬脾虛津液不生，腎虛廉泉穴秘，則脈雖數疾，必緊弱無力，不同滑數洪大沉緊有力之象，即所飲亦有喜冷、喜熱之分。故初發熱而渴者，以清涼表托之品，暴發其邪，疹出而熱毒自解；出後渴者，則用花粉、麥冬或兼黃連解毒湯清之，並飲綠豆燈芯炒米湯，以生津解熱而已，切不可飲冷水，以致變證百出，至於危殆。</p>

<h2>不宜執用寒涼論</h2>
<p>痘喜溫暖，疹喜清涼，人皆知之。但痘當成實，過暖亦爛；疹初欲見，過涼難形，宜隨機處變，溫涼得所，庶陰陽和而疹盡出。如疹有大熱，則用粉葛、荊、防合人參白虎湯、荊防敗毒散以發之。如兼疫癘之氣，以人參敗毒散發之，若疹之形色脈氣屬虛，則審脈察形以補之溫之，固無所畏怯拘執也。蓋赤疹則遇清涼而即發，白疹必得溫暖而後銷。更有明是疹子，至發熱五六日後不出者，人猶執謂皮膚堅厚，腠理秘密，及風寒外襲之咎，不知至此日期，表發清涼已遍，何以尚不能透？緣氣虛不能送毒，表發過則正氣益衰，而疹出愈難，亦猶痘之虛者，非補托不出也。況有曾經吐瀉者，脾元中氣已竭，因虛伏陷，補之猶恐不及，尚敢妄表妄涼乎？惟毒盛於裡，熱氣錮閉，脈或沉滑浮洪，數大有力，久不大便，內郁不出者，則用涼膈散加牛子以解散之。世又謂疹邪既實，非汗散莫除，而表不遠熱，反不避其辛溫，麻、細、桂枝，動手便用，是又不知疹屬陽，首耗陰分，藥忌燥悍者也。其不敢用溫熱者，又一於寒涼，絕無冰伏之慮。所以每有血凝毒滯，郁遏不出以殞命；復有胃氣傷殘，吐瀉喘汗以傷生；且有由淡紅灰白而黑陷，寒戰咬牙陽氣絕滅；或反見虛陽外擾，龍雷發動，唇焦口渴，上下失血，以致斃者。是賴明理之彥，辨脈察形，以彰斯道之蘊可矣。</p>

<h2>形色輕重論</h2>
<p>痘以頭面先見稀少者為佳，疹以頭面多見成粒老紅者為順，但雖細密鮮紅，終不若斑之皮紅成片，如蚊蚤跡也。至色淡紅淡白者的是虛候，色太紅豔紫赤者是為血熱，其有紫黑者，熱毒梟炎、腎水乾枯之象，難治。看法與痘科同理，而疹尤喜通紅也。</p>

<h2>辨疑似論</h2>
<p>世有變蒸發熱，常見紅點者，此腠理開而肌肉嫩，血分稍有風熱，便沸騰肌表也，只宜調和氣血，不宜疏表。一有皮膚癢極，搔之腫厚，塊若雲頭者，風熱挾濕為斑為丹為風也，皆非疹例，又非謂疹可一於疏表清解也。予嘗於疹初發熱見點之際，於脈色之虛者，或泛用耆、術，遽投薑、附，並不使一陰藥，絕不慮其補住毒氣，助其炎威，卒之疹出神清，無一犯手，豈疏表清解之足泥乎？是惟不存一疹多熱候之見於意中，而後治有妙法，亦惟存一疹多熱候之見心下，而後藥無妄補，以精詳出於謹慎也。生人以來，稟元既薄，剝削復多，一遇疹發，勢便沉疴，真虛之子，疹後久熱不退，變成癆痧，急宜與地黃補腎之劑。夫固有童子元陽素虧，終不離於溫補者，亦有陰氣未全，宜補真陰者。予故謂補陰為疹中正法，補陽乃其變法，表發清涼，人所共知之常法也。</p>

<h2>壯熱煩渴口臭腐爛等證論</h2>
<p>斑疹本為肺胃火毒，故常多壯熱煩渴，喜冷浩飲，然縱其飲冷，則冰遏熱毒在內，且津液遇冷則凝，煩渴益甚，況胃喜涼飲，得冷入口，庸或相安，腸喜熱飲，寒流下焦，無不受害，輕則激其虛火上升，寒熱不已，重則迫其熱毒下注，瀉利不休。更有誤以諸熱為火，徒知峻用芩連苦寒者，不知火之有餘，皆由水之不足。渴者，臟腑津液燥槁也，少火變為壯熱，宗氣已亡於中，孤陰外覆肌表，榮道已竭於裡，不求陰陽至理調之，徒以時行外染之客病主治，壯者因循日久而愈，弱者後復變證成凶。故凡有壯熱煩渴，可於此例推矣。奈何西北，凡患熱病喜冷者，謂之咯水病，病家任飲涼水，醫者峻投苦寒，逼其浮越之虛陽盡耗於外，致使招納不入，寧獨不聞甘溫之能除大熱乎？夫身中之火，貴安其位，得其平即安，如外邪不能入，則火即為真陽之正氣，失其常則離其位，外邪得入，即陽氣而變為邪火矣。今之治熱病者，泛云邪熱，日以苦寒為事，豈人身上之熱，另有身外之火乎？是即本人身上之陽氣，發越而為病也。惟實火太過者，暫以清涼折之，中病即止，而又常以冰伏為慮，庶無妄涼之愆，乃賊害不已，盡將陽氣趕出，以致手足厥冷，龍雷無可藏納，上迫而為胃爛口臭，睛紅舌黑，榮氣失運，凝滯成斑，獨見於足。夫斑疹主火，火性上炎，故多見於頭面，今獨見於足者，陽氣已絕，陰血凝注，名死血斑，不治，此皆陰極似陽之假熱，誤用寒涼之過也。至於唇口腐爛，頰穿唇缺，鼻爛目傷，似乎熱毒，不知陰翳之火乘虛而走空竅，流爍為害，猶龍雷之焚燬萬物甚速也，況多餘熱不退而為痧癆者，皆氣血之為病，有何毒乎？治者能明此理，惟使太陽一照，龍雷頓息，真陽一斂，陰翳自消，真陰一生，虛陽自化，斯榮衛得其職，而生機勃發矣。庸人一見紅點，便作有餘實相，以攻有跡之藥，而投無形之虛，追論致死之由，有難逃醫律者矣。楚瞻時，西北斑疹大行，諸醫或用表散，或用清解，俱莫能療。有身體俱見，面上隱隱退縮，壯熱喘嗽，煩躁不食，泄瀉者，有身面俱見，面赤壯熱，喘嗽煩躁，咽痛口渴者，要之皆陽外越而陰內竭，中氣弱而肺氣傷，水火不得其平也。乃察其脈氣，寸強尺弱，或細數無力者，並以全真一氣湯加減救之，無一不愈。惟脈洪滑數實有力，人強氣壯者，始以連翹、貝母、牛子、甘橘、生地、丹皮、芩、連、元參、紫草之類清解之。奈世不明陰竭陽浮之理，徒知托表清涼，即至疹毒內攻，元神脫盡，目竄口噤，尚作變驚調治，不可傷乎？邇來南省以疹致斃者，動輒千餘人，不數年而一遭其難，為問出疹之家，有醫大為補陽者乎？有並救陰陽者乎？率皆表發清涼，以為毒火熾盛，無能挽回，天地間有如是難滅之火耶？為是說者，將見火焚其身矣。更有可為嬰兒憫者，痘科原無表發清涼之理，而人亦不知培養水火，補助氣血，視羌、防、升、葛為起手之妙藥，連翹、牛子為解毒之良方，甚至生地、犀角、芩、連，逢人遍用。不數年遭痘難者，又凡三四，見其斃數之多，尤倍於疹，固醫道之不明，亦病家之全不知醫理也。</p>

<h2>疹發輕重論</h2>
<p>發熱之初，有似傷寒，而肺家見證獨多，咳嗽噴嚏，鼻流清涕，眼胞腫，眼淚汪溢，面赤口乾，中指冷，耳後有紅絲，兩耳根下、頸項面部、腰間脊骨之下，有三五紅點，乃疹之報標。惟身有微汗，氣不甚粗，熱不甚壯，口不甚渴，脈不甚躁，能食便清，無腰痛驚狂之候，則疹出必輕。一出而熱微，色紅而累落，神清而能食，尤為佳兆。若氣喘鼻乾，煩躁不寧，脈來洪數，躁疾無倫，嘔吐便血，驚搐狂妄，大熱無汗者，最重。頭面預腫大者，尤為毒氣梟炎、火鬱難發之意。宜表發者，藥貴辛涼，避其辛熱，且疹亦如痘，宜漸次出沒，如一湧齊見，不分顆粒，紫赤者險，紫黑者逆，以熱極也；淡紅者險，灰白逆，以虛極也。虛實兩證，皆不宜湧出。治虛證者，宜隨脈色培補；治實證者，不可過為攻發，即升麻、桔梗，亦須避其升動陽氣，況過用表劑，表氣亦虛，榮血亦竭，能無虛陽盡越，喘汗立至，莫能收納乎？惟明手為能深體虛實，因時合宜，無所過，亦無所不及，斯輕者自順，重者亦輕矣。</p>

<h2>身熱不退論</h2>
<p>麻疹非熱不出，若既出透，其熱當減，倘仍大熱蒸蒸，乾枯無汗，此熱毒壅盛也，加之人事昏沉，口鼻二便出血，手足心如烙者，毒重，腳冷如冰者尤重，宜化毒清表湯或宣毒發表湯加減選用。亦有真陰大虧，脈來空豁無倫，又宜重用熟地、生地、揀冬、牛膝、甘、桔等類以養陰退陽者。有本屬熱毒壅遏，失於清解，誤投辛熱，毒蘊於內，藏於胃中，口鼻出氣腥臭，牙疳口瘡，疹則速收速落，日夕壯熱，餘毒流注大腸，裡急後重，成為痢證，可用清熱導滯湯。故當疹方沒落身熱，察有餘熱留於肌表，宜用柴胡清熱飲，以治實證。若收後熱微，或時熱寒如瘧者，脈或虛弱遲澀，即宜從虛調治，以十全大補、八味、八珍、歸脾、理中等方酌用。豈治疹有成法，無妙用哉！予嘗見疹已出現三四日，當散不散，內有虛熱，留滯肌表，潮熱煩渴，口燥咽乾，主以柴胡四物湯，使血分和暢，餘熱悉除，疹即收落。此雖未用陽藥，亦何嘗泛投苦寒，獨不思有疹後身熱，飲食如常，卒然心腹絞痛，汗出如雨而斃者，非寒涼剝削，元氣虧損，失於調補之咎乎？朱氏云：疹後身有微熱者，屬虛熱，藥宜滋補。知前人亦非但清熱也。</p>

<h2>煩渴論</h2>
<p>煩渴一證，皆以為熱毒壅盛，心為熱擾則煩，胃為熱鬱則渴，前後不外竹葉石膏湯加減，不知當憑脈氣疹色處治。如疹色不深紅，脈亦虛弱微細，外無熱證，渴喜飲熱，不欲多飲者，此必寒涼太過，脾虛津液不生，宜七味白朮散等溫補藥。</p>

<h2>喘急論</h2>
<p>喘急為麻疹惡候，如初出未透，無汗喘急者，此表實拂鬱其毒也，宜蜜炒麻杏石甘湯。麻疹已出，胸滿喘急，此毒氣內攻，肺金受克，宜清氣化毒飲，或竹葉石膏去半夏，加川貝、瓜蔞霜。然亦有疹色淡紅，脈氣微弱，中氣不足而喘者，宜投耆、術。更有尺脈空虛微弱，疹色滯暗，腎不納氣而喘，宜附、桂者，無分疹之前後，虛損者，皆有此候。至於大汗後而喘急，大吐瀉後而喘急，皆氣脫危證，急須補救，斷不可清涼化毒，所謂十喘九虛也。余嘗治出疹喘急危證，皆以耆、朮、薑、附救治而安。故曰：生人稟氣薄弱，多虛候，少實證也。</p>

<h2>喉痛論</h2>
<p>昔人治疹，咸以喉痛為熱毒上攻咽喉，以湯水難下者為危。謂表邪郁遏疹毒，不能舒發於外，致咽喉作痛者，主元參湯，疹發而咽痛，主涼膈消毒飲。今非無此實證，然疹必紫赤，脈必洪滑，身必壯熱，氣息必粗大，二便必不調，方是確候。又有腎氣虛寒，兼之中氣不足，以致毒匿不出，激引腎氣上衝，使虛陽外越而為咽痛，所謂格陽喉痹者，余於此每用耆、朮、薑、附治之而安，此咽痛非定屬熱之明驗也。但咽喉要害地，虛實大殊，稍一誤治，為害更速，可不慎歟？</p>

<h2>失音論</h2>
<p>昔人謂失音為熱毒閉塞肺竅之故，疹初失音者，主元參湯，已發失音者，主加減涼膈散，沒後失音者，主兒茶散，不外清咽滋肺。然氣口脈必洪滑數實有力，疹色必紫赤，而予謂脈色不如此者，多屬虛寒。蓋聲出於肺氣，根於腎，腎中之元陽不充，真氣早已竭弱，加之肺氣不足，子母二臟皆虛，元氣已餒，其何以為聲音乎？況虛而且寒，陰氣充塞肺腎二竅，皆為寒閉清氣，自不能伸。余嘗治此證，重用參、耆、附、術，十餘日而音乃出，此其明驗。或云此屬心血不足，主歸脾湯，藥甚無誤，但心血不足者，不過舌短不能言耳，何遂無音？則此關肺腎益明，而有熱者，亦須於此二臟，探討消息。</p>

<h2>瀉痢論</h2>
<p>有熱毒移入大腸，傳化失常者，不可用溫熱諸藥。疹初作瀉者，主升葛湯加赤苓、豬苓、建瀉。已出作瀉者，主黃連解毒湯，加赤苓、木通。又初瀉有毒從瀉出，不宜驟止者，此皆常法，但既出亦不宜泄瀉。有脾腎虛寒，急宜溫補者，倘不察脈證，任其瀉利汗吐，反攻以清涼之品，以致元陽虧損，雖不即時暴脫，而欲出不出，喘促並至矣，故溫經回陽，補助脾腎，亦治疹泄瀉大法。至泄變為痢，亦稱毒熱未解，移入大腸，悉用清熱導滯湯，始終未敢兜塞，殊為執見。蓋有脾腎先虛，下元不固，加以治疹寒藥，安得不為下痢？故有變為煤色，或屋漏水，青菜色者，虛寒已極，猛進溫補，尚恐不及，何熱之足慮乎？至肛門如筒，飲食不進，則無及矣。此治疹與治痘，大略相同也。</p>

<h2>腹痛論</h2>
<p>有因食滯，凝結毒氣，不得宣發於外，不時曲腰啼哭，兩眉頻蹙，加味平胃散主之。有疹毒因火鬱閉，不能宣暢而腹痛者，黃連解毒湯主之。有因風寒阻遏，毒不得透而腹痛者，發表以宣托之。然食滯則不能食，必嘔吐有酸臭氣，並乳食亦不化，右關脈或浮滑沉緊，火鬱則脈滑數有力，或沉緊堅急，身必壯熱，唇焦口渴，面目多赤，不喜手按。其有四肢冷逆者，尤為熱深厥深，風寒阻遏，則身熱頭痛，惡寒鼻塞，或流清涕，風脈浮緩，寒脈浮緊。更有脾胃虛寒者，痛則喜熱手揉搽，面色青白，脈亦微細緊弱，或嘔吐蛔蟲，甚則蟲死不紅。有元陽大虛，脾氣不運，腹脹浮腫，時減時重，脈氣遲緊微弱，或右手虛大遲軟無神，不急溫補脾腎，喘汗立至。亦有肝乘脾位，木來侮土，脈則右關弦長而滑，須抑肝散加減。余治疹因虛寒夾食腹痛，用香砂平胃散加附、術；脾腎虛寒之腹脹，用參、耆、附、術；治火鬱腹痛，用黃連解毒等方，無一不愈。</p>

<h2>脈法及出沒日期論</h2>
<p>疹為陽毒，自出至收，以脈稍洪滑者為順，肺脾兩部，尤不宜細小，必有神有力，方為陽證陽脈。若細軟無力，即陰脈例也，當速救元神。其發可見則以三日而始盡，將齊之三日，身熱必有一夕加重，以熱極而毒乃齊透也，每日出現二次，子時出者巳時散，午時出者亥時散，經三日而出六次，深紅潤澤，疹色活動乃佳。亦以發熱三日見標為順，一日二日即見點者毒重，遲至五六日不見者，非熱閉及風寒阻遏之因，即氣血虛弱不能送毒之故，急察脈證治之。其收沒亦宜在三日後，倘一二日即收，恐屬中氣大虛，一擁而入，毒反內攻之候。若因失於清解，熱毒內錮，疹應紫赤焦黑，失於禁忌，復感風寒，毒氣閉密，疹應青紫晦暗，身熱頭痛不止。有所因者，從而治之，仍可復見，若真虛隱伏，難於為力矣。</p>

<h2>藥味宜忌不宜忌論</h2>
<p>昔人以疹為腑毒，宜其用藥多誤。其視未見點時，皆宜表托，亦忌遽投寒涼冰伏，最忌耆、術補助，尤忌附、桂辛溫，於是首以宣毒發表湯、升麻葛根湯為主方。但人有貴賤，體有虛實，體之虛者，發熱數日，汗下不食，神氣更虛，自不能勝疹毒，惟參、耆、歸、術，能補氣血，原無所忌。元陽素虧者，每一發熱，虛陽即欲飛舞，真陰不足者，一經熱久，腎水即欲消殘。熟地、附、桂，與水火最為有情，反無所忌，惟麻、桂、羌、葛、連翹、牛子，毫不可投，不但芩、連、莊黃宜忌，且重幃豢養之子，肌竅本松，原無風寒火鬱，待於涼表也。又有未見點時，毒熱內盛，壅遏不出，反宜先用芩、連，加以便閉脹滿，再用莊黃者，復不忌其寒涼冰伏。疹已發見，不宜重表，通用化毒清表之類。泄痢宜清熱，咳嗽宜清肺，口瘡臭爛宜敗毒，一切辛熱皆忌。然亦有虛火發動者，反忌清涼。脾命虛寒者，尤宜溫補。其發為嘔吐泄痢，喘咳腐爛等證，見證已凶，尤當於真陰真陽源頭處求之，不忌補澀，而飲食一切，亦有宜忌不忌之分。陰虧多熱者，疹後而得，清淡、公豬、精肉，老鴨、龜鱉等味，反能養其真陰。其陽氣虛寒者，疹後而得，老雞鮮物，鳩鴿羊鹿俱品，亦可助其元陽，惟煎炒酸鹹，則不宜用。乃有概用素菜煮豆腐者，有火者雖宜，虛寒者又為切忌。至謂雞、鴨等蛋，亦屬葷物，同為禁忌，不大愚乎！</p>
<p>又麻疹之用升麻，從古迄今，成為定論，張石頑獨云：升麻最能升動陽氣，每至熱邪上浮，而至喘逆咳嗽不止。即桔梗於初起時，亦宜慎用，恐載引濁氣於上，使疹不得通達於下。旨哉言乎！疹之實者，用之果變證百出矣。由此以推，凡疹有熱毒者，總不可用辛熱升提，麻、桂、細辛，皆其切忌。然治氣虛證，升麻亦可佐參、耆之力；寒鬱之證，麻、桂亦有殊功；寒包熱證，麻杏石甘每能奏效。故曰用之得法，雖忌不忌也。</p>

<h2>孕婦出疹論</h2>
<p>孕婦出疹，咸謂當以四物湯加條芩、阿、艾，以安胎清熱為主。不知疹有虛實，涼補不一，即屬實證，苟非大火錮秘，當未出時，亦不可以清熱為事，致有冰伏，疹毒難出，而內熱愈深，益傷陰血。矧人亦有虛實，果其人大虛，胎氣甚寒者，芩、芍又有所忌，不欲保胎而反傷胎乎？惟察其脈氣，有熱鬱難出者，宜輕揚表托，疹出而熱自清，繼以滋陰清解，則氣血調和，而胎自無礙。此而投以辛熱香燥之藥，將肺氣益傷，喘咳不止，金枯水竭，而胎不寧。乃世之婦女，虛寒尤多，常賴附、術以保胎，即疹發亦無熱，慎不可謂疹宜清涼，兩相顧忌，以傷性命。余嘗治孕婦出疹，見其脈微弱遲軟，及虛大無神者，或重用耆、術，或重投附、桂，富者加以人參，莫不安全，並從前之有唇口腐爛者亦愈。不可見虛火發動，非補不斂乎。是又在神於脈理，善察疹色，細意審度，乃得無誤，未可幸中也。</p>

<h2>斑論</h2>
<p>斑多得於天行時氣之病，壯熱不已，大便硬結，是以熱留胃中，胃主肌肉，乃發為斑，不可與疹同論。妄用散表之劑，必增危劇，宜白虎湯加元參、生地，切忌辛熱助胃，便閉者下之。赤者吉，黑者凶，而傷風后發斑，又為將愈之兆，稍與清解即安。然更有陰寒內伏，逼無根浮游之火浮於肌表而為斑點者，此胃氣極虛之證，誤投寒涼立斃。</p>

<h2>痧疹論</h2>
<p>小兒值天氣炎熱，或過於溫暖，而出奶疹、痧疹、風癮等疹，可不必用藥，略用疏風清熱輕揚之味一劑即安。然此證前後多不大熱，不同麻疹，必發熱二三日乃出也。余嘗見小兒因熱見點者，察得脈稍浮緩而滑，以荊、防、蟬蛻、歸、芍、淡竹、連翹，泡六一散即愈，以其病只是風熱客於脾肺二家也。</p>

<h2>失血論</h2>
<p>失血一證，在痘中得之，亦以為熱。矧夫出疹，且血色清稀瘀晦者，猶可辨其非熱，若鮮明稠厚，誰復見其為寒？不知虛寒之疹，亦多失血，蓋陽不制陰，血無所統，毒遂有以動之而領之外出耳。其色鮮明者，以偶逐即出，未嘗有所遲留鬱滯也。見斯證者，當以脈氣之洪滑遲弱，形色之淡紅紫赤，以定虛實，不可以一失血，即泥為熱。故並示之。</p>

<h2>麻疹醫案</h2>
<p>有馮氏子方四歲，夏月出疹，熱至六日，精神疲睏，昏睡露睛，身上隱隱出見，頭面甚微，額熱如烙，腿足溫和，飲食不進，焦躁無汗。曰：面不起者，陽虛不能上托也；額熱倍常者，龍雷之火上乘也；不食神倦者，久熱傷中而中氣不運也；焦躁無汗者，熱久而真陰枯涸也；昏睡露睛者，神疲而眥脈縮急也。若用疏風藥，真陰真陽愈耗，虛火妄熾，風從內起，必有似驚非驚之狀，況陰竭而復行疏解，真陰日槁，必有煩躁狂亂之虞，氣血根本既敗，其變見之斑疹，何自而充托於外哉？乃用熟地八錢，滋水為君；白朮五錢，固中氣為臣；淮膝二錢，使濁陰下降；麥冬二錢，北味五分，收攝肺氣，斂納龍雷下歸，並以為佐；附片錢半，直固丹田為使，則真陽既得，面上之疹，不攻自起矣，額上之火烙，不解自退矣，真陰既得，身上之焦躁，自可得汗而和矣。服之果愈。但久熱狼狽，晚間以人參一錢，麥冬、北味蒸服，次日精神強健，此滋真陰以取微汗，汗出裕如，壯真陽以散假陽，虛熱頓釋也。再調正氣於內，邪氣自散於表。故治有形之百病，皆當於無形氣血中求之，而有形之變幻，盡屬無形之虛張，倘不求本而妄行祛逐，肆用寒涼，鮮不敗矣。</p>
<p>余治外侄解生寶田，年十六而七月出疹，先有醫者連進升麻湯，頭面發見通紅，頸項以下全不見點，診得六脈洪滑有力，面部之疹，已紫暗無活動象，且夾斑而出，此毒火內閉，胃熱已甚，升麻反為升動陽氣，大非所宜，必清熱而疹乃透。重用生地、紫茸、連翹、牛子、木通、淡竹、黃芩、元參、花粉、蟬蛻、小草、荊、防，三劑始齊，重加芩、連，周身盡透。然疹色紅滯，連肉色多紅，推之全不活動，斑色成片，身體乾燒焦燥，煩擾不寧，再加芩、連、生地、犀角、石膏之類，一日三大劑，計日投石膏三兩，川連六錢，條芩九錢，生地四兩，其餘清涼之藥皆重，幸腹泄不脹閉，次日稍減芩、連、石膏分兩，重用地黃以養陰血，次晚始見肉色之紅者皆退，疹之紅滯者，推之始活動，斑形乃銷，小便通紅如醬，暴泄嘔吐漸止，其後以壯水清金之藥，滋養數日而安。計前後不食者已八日矣，而脈終不為減小衰弱，此火證之確驗。先有一醫，見疹不透，商投耆、術，予叱而止之。後又有醫，見其口不甚渴，咽不甚痛，而多幹嘔，恐其胃敗，私議石膏、芩、連之誤，不知前之不透者，非氣虛不能送毒，乃升動陽氣，致梟毒內閉不出，正氣反為邪氣所侵，血因邪湊而熱，及熱愈深而血愈傷，愈傷則愈難出。惟陽氣燥旺，疹乃獨見於諸陽之首，而斑疹紫赤，壯熱不寧，非清熱解毒，則即不透而斃矣，既透而不急為清涼，則真陰爍盡無餘矣，求生得乎？至口不甚渴，咽不甚痛，熱毒內伏未發也，嘔吐泄瀉，毒將發而上越下奔也，若屬胃絕，則必無洪滑沉緊有力之脈矣。</p>
<p>同時唐表外侄女，年十八，體極肥健，出疹，先微發熱，面部已報標，及一夕通身手足皆見，神清氣爽，飲食如常，疹粒肥大，色復通紅，光彩可愛，獨天庭一片淡白，面上之疹淡紅。余曰此凶證也。一夕透齊者，所謂一湧而出也，顆粒大而色通紅者，乃不足之氣竭而榮之，不足之血竭而華之也，矧光彩可愛，真氣盡發於外矣。陰陽氣血，盡越於外，而中已大空，保無一湧而入，毒反內攻，喘汗腹脹而斃乎？及診其脈，果微弱無神，六部皆不應指，急投耆、朮、薑、附、巴戟、當歸、鹿膠、炙草之類二大劑，次日猶即收沒，收後咽喉反痛，目不能開，以手撐起，白珠皆淡紅，脈更微弱緊澀，知咽痛屬格陽喉痹，目不能開為陽衰而氣不伸，乃重加附片、蜜耆二大劑，咽痛止而目開紅退矣。倘斯時誤投寒涼固斃，即因其安靜色佳，不行峻補，亦將頃刻告變矣。</p>
<p>有傭工婦年二十，身體極健壯，亦同出疹，發熱一日，通身手足皆見，天庭㿠白，疹皆淡紅，神清能食，脈亦虛微，見於右三部者尤弱，急投耆、朮、歸、附二大劑，次日猶即漸次收靨，再進四劑而愈，亦可見治疹不可以人之強弱為憑，而形色脈氣毫不可忽矣。</p>
<p>解六姑出疹，脈無滑數象，肺脾兩部亦微，即以耆、術固中，芎、歸養血，生耆、荊、防、蟬蛻托苗，疹乃漸次由上及下，三日出透，身亦不甚大熱，咽喉亦不腫痛，疹色老紅可愛。將收之際，更見紅豔，似乎有熱，脈則六部猶遲緊，脾肺更虛弱，再重用耆、朮、芎、歸、鹿膠，晚間紅退身涼，後因其耳閉面腫，少加薑、附、山藥、百合、茯神、志肉、棗仁，進以雞鮮葷食，調補而安。</p>
<p>解七姑甫四歲出疹，發熱時，脈皆緊細微弱。余曰此又一虛寒之證，非耆、朮、歸、附補托不可，如法治之，疹乃漸次出透。及見齊時，忽身熱氣粗，急促不勻，口渴啼哭，不思飲食，全似火證，舉家惶懼，然天庭一片，終覺㿠白，上部所見之疹淡紅，半刻忽大叫一聲，脈雖稍數而皆緊細，按之無神。余謂彼妄議者曰：脈數而緊，乃陽虛細數之象；氣喘急不勻，乃中氣不足之徵；時忽大叫，氣虛不伸，肺腎虧損之故；天庭面部不深紅，元陽不充之咎；口渴唇焦，津液不生，龍雷發動之象。重投耆、朮、鹿膠、薑、附、當歸、固脂、炙草、北味一大劑，次日更見目不能開，以手撐起眼皮，始能見人，而身熱氣粗如故，疹亦不收沒，但脈之數象已去。余又曰：目不能開的是陽虛氣弱，惟元陽大虧，中氣虛寒，無怪其不思飲食，氣之接續不上，喘急不勻，疹之不得依期收靨。再進蜜耆二兩，附片兩半，白朮一兩，鹿膠等類，作一大劑，諸證皆平，亦藥力已到之功歟，於是人皆服其神。然同時出疹，有宜表發宜清解者，雖其形證怪異，人多驚駭，而察脈審形，按前人之常法，先後治之，元不獲效，余豈偏於溫補，欲病之合我治法，為拘迂不通之士哉？</p>
<p>月兄柳公姻家之女出疹，自發熱以至將收，先後皆腹痛嘔吐，醫家作夾食治不效，作熱毒治亦劇，急邀予治。診得氣口脈滑，脾部下指弦長，尋之亦澀，其餘各部皆澀弱無神，按之止歇，疹色不甚紅活。余曰氣口脈滑，肺胃有餘熱也，脾部見弦，木反侮土也，澀弱止代，真陰虧損也。宜峻補真陰，庶木得所養，而無剋土之虞，速清胃熱，斯中氣肅清，而無嘔吐之患，且疹不深紅，殊無熱毒，主用熟地八錢，龜膠三錢，當歸、酒芍、炙草各二錢，山藥、百合各五錢，桑皮錢半，竹茹八分，一劑豁然。</p>
<p>侄繼綱年十五，尚患陰虛，五月出疹，熱一夕，面部遂發斑，瘙癢浮腫，半晝即見疹形，脈多滑大，即投荊、防、白芷、蟬蛻、酒芍、生地、連翹一大劑，疹及頸項而止，咳嗽壯熱，再用粉葛、牛子、全橘一劑，漸次下達，然皆不甚紅，身上雖摸之礙手，其色多白，以大法論，宜作氣血虛寒治，不知此乃陰血虧虛，不能華色，氣雖能成形於外，血不能充貫於中也，使非火毒梟炎，何以一日即面腫夾斑？夫熱甚則傷血，邪氣協正氣暴發於諸陽之首，血虛復因熱逼，不能隨氣而至，所以先前白色，發至三四朝來，通身紅赤，面部帶紫，推之全不活動，即間有應指者，亦不能隨手轉白，非毒凝血滯，陰分受其熬煎者乎？方中加芩、連、石膏、紫茸，仍壯熱乾燒，神昏煩躁，然時時惡寒，口全不渴，小便清長，人多疑作內真寒而外假熱。不知邪火內迫，與正相爭，協氣外射，化而為寒，其熱深故厥亦深也，口不渴者，熱在中而未上達也，小便長者，熱在內而未下奔也。至四日大吐大泄，所泄皆藥水，偶食一飯，完穀而出，予按六脈，又滑而止代，愈益虞其陰之竭也，加用生地、石膏各一兩，元參四錢，連翹三錢，川連、條芩、木通、紫茸、丹皮、白芍、地骨、牛子、淡竹、小草各二錢，犀角磨兌，連進三貼，嘔泄乃止，脈亦不復止歇，身熱漸退，斑疹漸收。蓋嘔泄之故，以熱迫三焦，上下奔走也，完穀不化，即邪熱不殺穀氣也，倘斯時作虛寒顧慮，畏怯不前，不幾傷於優柔養奸之手乎？如此調治，後猶唇口俱爛，至五六日乃減川連，加熟地滋陰清熱，佐以肉食，滋補而安。</p>
<p>丁已六月，郭姻兄在館出疹，見點二日，求治於余。見其頭面疹色淡紅，天庭一片㿠白，且不礙手，左手脈虛弱，右三部更緊弱遲細無神，嘔吐泄瀉，口渴唇焦，全不思食，身體亦不壯熱，投以耆、朮、當歸、砂仁、北薑、炙草、雲苓一劑，即神清能食，口渴稍止。庸工詢其病狀，謂胃火熾盛，疹毒未清，肆用苦寒，此固全不知脈察形者也，叱而退之，余即主熟地、附片、耆、朮、砂仁、北薑、雲苓、炙草，大劑數服而安。後猶間咳，庸醫又誤投荊、防、枳、桔，遂至通夜不眠，乃於前方加棗皮、北味頓愈。若徒拘疹為陽，只宜養陰，不宜辛溫動氣之說，幾何不舉蒼生而枉死乎？</p>
<p>丁已夏有少婦二十餘出疹，見標以前，醫家不外清涼表托，喘汗昏沉，忽然疹變灰黑而陷，舌色亦黑，四肢冷逆，身體畏寒，脈皆微弱，兩尺更緊弱遲細，口渴唇焦，吐瀉交作，粥米難進，昧者猶以為熱極。余曰此陽氣垂絕時也，恐難為力，急進附片四兩，北姜三錢，耆、術各兩半，當歸二錢，炙草、白蔻各一錢，速投二劑，進以老雞湯汁，疹復轉紅，調補數日而愈。</p>
<p>孫氏子女，同時出疹者無數，其中有年長者，見標之後，壯熱煩躁，口渴咽疼，急求余治。次第診得脈洪滑者，照常法處治，氣虛者用耆、術補益，陰虧者以歸、地滋養，調治十餘人，皆喜無患。獨有一女子，疹收之後，氣喘腹痛，口渴唇焦，不得大便，小便短少，舌苔中黃，目不能開，白珠淡紅，咽喉大痛，頭汗淋漓，脈極緊細，右尺更弱，前醫猶主用芩、連、莊黃、麻、杏、石、甘、大青、知母、梔仁、川柏，余曰此斷根湯也。是女陽氣飛越，龍雷發動，變在須臾，且頭為諸陽之首，陽氣衰則汗泄如雨，元氣弱則目不能開，中氣虛則氣短類喘，脾氣寒則腹痛不食，嘔吐涎沫，氣不化則小便短少，肺氣傷則津從汗泄，不歸大腸，大便因難，且腎司二便，腎臟虛寒，則開闔不司便從何出？其口渴唇焦目赤咽痛，尤為龍雷發動，格陽於外之象，不然脈氣何以如此虛弱，絕無神力乎？主用耆、術各兩半，附片一兩，北薑、當歸各二錢，砂仁錢半，固脂三錢，炙草、北味各一錢，一劑稍安，再加附、術數劑痊愈。其弟疹後兩太陽至已午刻，其痛如破，額汗如雨，未申自愈，脈極虛大遲弱，亦以此等藥治之而愈。</p>
<p>有年少者，疹後喘咳，身熱口渴，氣口脈緊而滑，各部亦微滑數，此餘毒未清，復感寒邪，熱在內而寒在外，所謂寒包熱也，主麻杏石甘湯一劑，諸證頓釋。</p>
<p>岳林邑庠劉公元洞之孫媳，年十五六，身體頗弱，下焦虛寒，時常小便不禁，戊辰三月出疹，先自用升麻湯二劑，遂致疹不下透，色亦淡紅，咳嗽口渴咽痛，六脈皆無滑數象，右尺短弱虛澀，右寸關短澀，按之皆無神力，左三部亦弱，左尺更緊細無神。喻人曰：大凡疹脈不滑數者，皆以虛論，且尺弱者，尤為元陽大虛，疹色淡紅，陽虛更確，甚不可以口渴咽痛作熱病治也，未主方復云。今吐鮮血數口，大便又下血，經水適來，余又示之曰：脈虛失血，乃脾不統血，陽不制陰致血無所統領故耳，咽痛口渴，種種皆少陰虛證，格陽於外，飛舞騰越，何所不至乎？主用附、術各一兩，蜜耆兩半，炮姜二錢，當歸、紫菀各三錢，巴戟、百合各五錢，枸杞、固脂各三錢，炙草一錢一劑，諸證皆平，三劑神清氣爽，能食病安。足知素虛寒者，不患實證焉。</p>
<p>劉公有傭工於其家者，年近二十，疹後咳嗽頭昏，公請與治。左關尺按之稍大而不斂，緊指無神，右三部亦遲大軟弱，尺更短澀，皆無神力，此陰陽兩虧真氣不足之候，主用熟地八錢，棗皮、枸杞、當歸、紫菀各三錢，白朮八錢，耆、附各六錢，北味半錢，炙草一錢，三劑而愈。其地又有一男子，疹後咳嗽時昏，身熱困倦，醫襲余前二方，次第用之轉劇，求救於余，診得六脈沉部皆滑，氣口兼數，主清肺飲加減而愈。</p>
<p>粟氏有一男子，年二十出疹，透齊後，忽一時昏倒，身熱汗溢，疹色頗紅潤，但脈沉滑，右寸雖稍弱，而亦時兼滑象，主用生耆、連翹、淡竹、木通、本梔、酒芍、地骨、桑皮、當歸、甘草、柴胡、麥冬，一劑而安，後仍以滋陰清熱藥，或加玉竹、紫菀、川貝、桔梗，調理痊愈。</p>
<p>粟氏出疹者不下十餘人，疹皆紅活，脈不甚滑，亦不甚弱，但右寸常多虛者，予佳其脈氣和平，且喜其身不甚熱，神清能食，不可過表過涼，亦難大補，起手皆用化毒湯一二劑而即愈。其中有一女子，年十八九出疹，獨咽痛氣促不勻，有似乎喘，實中氣大虛，不相接續也，脈甚沉遲虛弱，疹色淡紅，投調元湯而愈。予嘗謂善治痘疹者，雖千百實證中有一虛證，亦能別白也。</p>
<p>吾女有年十五者，脾胃素寒，常服耆、朮、薑、附，疹發時脈無洪滑象，右三部稍緊弱，此元陽不充，氣不送毒之象，乃補助氣血，佐以開提，主補中宣托湯二劑，疹及半透，去荊、防、白芷，稍齊即盡用蜜耆，並去蟬蛻。忽鼻衄如注，夜加口渴，咳嗽畏寒，脈更遲緊，兩尺更微弱無神，則口渴乃津液不生，腎虛引水自救，鼻衄為氣不統血，咳為中氣不足，肺腎虛寒，畏寒為元陽大虧，重用扶陽益氣湯，一劑豁然，如此調治，然猶日吐冷痰，連服數劑而愈。</p>
<p>幼女六歲，體亦虛弱，發熱時，無浮洪脈象，雖有五至，仍見緊弱無神，又時見澀，知其氣血皆虛，主用酒耆內托散一劑，旋去荊、防、生耆、白芷，重用酒耆一劑，疹已全透，脈較虛弱緊澀，咳而多痰，用益氣化痰湯一劑，脈更緊弱無神，尚有餘熱不盡，連進溫中益氣湯、溫胃化痰湯，數劑而痊。</p>
<p>太學栽之堂弟之女，甫一歲，疹後喘急，嘔吐，乳汁不入，有擬用麻黃湯者，適余偶至求救。診得脈數至一歇，六部皆極遲細微弱無神，余曰此危脈證，敢大膽若此乎？急用蜜耆八錢，白朮兩半，附片一兩，北薑、白蔻、炙草各一錢，固脂、當歸各三錢，次日證仍不減，余於耆、朮、附片各加五錢，留余再宿，證猶不減，再各加重五錢，無能為矣。其後已如數用之，一旦氣息奄奄，兒輩見其口動，將藥頻進，忽然清醒，再劑全愈，以後身體強健。則知醫貴善任，方貴善守，劑貴重大，乃可起死回生矣。</p>
<p>門人問曰：先生嘗謂疹有元陽不充、脾腎虛寒之證，破群書之悖謬，開愚昧之心胸，屢建奇功，既得聞其說矣。其於解令外侄女五姑，起死回生，不止一次，前後用藥何如？予曰：前四月間，診脈有妊，寸關雖滑，而軟弱無神，兩尺虛微，右尺更短，立一補方，未及用藥而退。適偶感風寒，自投紫蘇、生薑，即鼻衄不止，口渴壯熱，舌黑唇枯，氣痛氣墜，全不思食，小便頻數，痛如刀割，再邀余治。六脈浮大虛散，按之二三至一止代，如屋漏狀，緊指全無，此元陽虧損，內真寒而外假熱，格陽於外，中氣大虛矣，一投寒涼發散立斃，即重用耆、朮、薑、附以回陽，白蔻、益智以溫胃，稍加當歸、炙草以和陰。五六劑少安，但氣墜無神，反覺目不能開，臥不能起，投之以參，脈稍歸位，無止代浮散象，然猶吐血吐涎，神倦少食，所謂陽不制陰，血無所統領而氾濫，脾胃無陽，涎沫不攝也，加附、術各至二兩，十餘劑乃愈，以後再加巴戟、杜仲、鹿膠，將至小康。七月中旬，計將分娩，又染麻疹，身微發熱，面部已報疹，形如風子，而無紅暈，脈仍微弱無神，陽虛如此，安可少離薑、附？殊乃父惑於人言，抽去二味君主之藥，便見舌破唇裂，壯熱口渴，咽喉脹痛如滿，胸膈刺痛，吐酸，脈時或細弱遲軟，時或虛大滑數無神，畏寒厥逆。示人曰：唇舌破裂，龍雷之火上騰也；身體壯熱，虛陽外散也；咽痛空脹，格陽喉痹也；胸膈刺痛，寒食傷胃也，況畏寒厥逆，陰證顯然，非重用附子以鎮於下，虛陽何以內斂？急加附片兩半，北姜二錢，服後仍氣墜便數，夜半一咳，聲啞音失，舉家悲痛，即命索參前來，次早又氣墜如將產狀，心痛昏迷不醒，眾口紛紛，以為藥誤。有門人在側曰：危殆已極，先生不力破群迷，以舉奇方，必至不救。乃命配附、術各三兩，蜜耆二兩，當歸、北姜各三錢，白蔻、砂仁、炙草各錢半，人參一錢，半劑而蘇，氣乃不墜，再審其吐酸膈痛之故，察其脾部沉緊，知從前晚食冷粥，無火熏蒸，停蓄不化之故，加藿梗、良薑、神麯、楂肉一劑，吐痛乃止。如此調治，藥不少停，乃得熱退疹收，唇舌漸愈，神清思食，而胎全不動，更越十餘日，音始徐出。將一月旋值雙產，亦照前方加參，毫無所苦，於今十年矣，常不離是藥。今人謂附片枯血墮胎，不顧人笑罵乎？</p>
<p>太學劉公蒲庵之次子，未一周出疹，腰以下先發紫赤斑，成片成塊，此真陰大虧候也，先宜服左歸飲及七味地黃丸，皆加元參、五味、麥冬、紫草之類。遷延數日，不知施治，即妄撰紅水痘名目，用荊、防、升、桔之類，上部已微報疹影，旋重用麻黃、升、桔，無故以辛熱大表，且佐升、桔以升動其梟炎火毒，頃刻唇舌腫脹，口中紅處如朱，黑者如煤，全無津液，舌硬嚥爛，鼻乾，腰下紫赤斑，推之全不活動，診其脈雀啄鳥距，察其神睛呆面白，審其證燥裂乾枯，此元水枯竭，肺葉焦灼，不治之證。強求主方，余以戚誼未忍坐視，用生地、芩、連、元參、紫茸、連翹、牛子、木通、蟬蛻、小草、犀角二劑，強留余宿，晚間舌忽轉動能乳，目亦時開，次日斑見黑靨，余以必不救辭歸，未幾而䐜。藥之殺人，莫此為甚。蓋斑既為陽毒，火性上炎，自發於上，今獨見於下，是肝腎先敗，已名死血斑，如法治之，尚恐不救，矧誤投辛熱升散，使燎原之火，勃發莫遏，陰氣未全之弱質，何堪受此爍燼？譬諸種物者，土全不潤，物何以生？人身真水竭絕，疹可得是出而不萎乎？</p>
<p>堂五弟太學光甫之子，甫二齡出疹，此子先天最薄，元陽大虧，常患腹痛泄瀉，耆、朮、薑、附、肉蔻、固脂，用之無效，而終不痊，脈總無神，早知必夭，況出疹之前，連泄十餘日，元神困憊已極。故始一報苗，即淡紅灰白，脈皆微弱止歇，郭友欲進以參，予謂參貴，恆少真者，商用耆、朮、薑、附、固脂、肉蔻、川芎、炙草，亦期填補中氣，無為一擁而出耳。乃余歸一宿，次即收靨，全無形影，詢之一出即齊，一齊即收，藥則私自減去分兩，且未終劑，此所謂一擁而出，中氣大虧，一擁而入，毒反內攻者也，先輩謂之不治，舉家猶自以為安，而郭公不俟余至，已託詞歸矣。余以手足故，義難相置，然思此時，不極補救，元氣銷滅矣，補之而毒乘勢益熾矣，半補半泄，毒未減而氣已脫矣。脈復空虛代散，正如屋漏雀啄，一言不救，諸兄弟更為堅留，不得已乃與補正攻托，越數日正氣益衰，邪氣益盛，毒以無正氣而內入，即以無正氣而不復出，一旦忽腹痛喘汗而殤。此固元氣極虛難救之證，亦藥力減小遲緩之咎歟。立此以為私自改方，退縮不前者戒。</p>
<p>莊氏有小兒出疹，初發熱時，醫者不知宣托，遽用石膏、大青、梔子、條芩、花粉、麥冬冰伏其毒，以致不得宣透，壯熱喘急，時譫語。余曰毒已伏郁，急宜表發透托，用荊、防、葛根、前胡、甘、桔、連翹、蟬蛻、木通、淡竹，二劑全透，後用清肺飲加犀角，皆熱退疹收，神清能食。</p>
<p>己巳五月周表弟來伊岳劉公元良家，適遇疹發，壯熱之際，皆誤作傷風，投羌、防、桂枝、蔥、姜之類二劑，遂咳嗽咽痛，吐泄神昏，腰痛如裂，疹乃擁出，延余未到，有醫者尚不識為何病，疑作陽斑，主清涼表散之藥，懼不與服。次日余至，一見即決其為疹，然紙照之，形影淡紅，不見高聳，以手推摸，幸猶隨手轉白，隨白轉紅，無滯暗象，然余觀於色，已即知其虛，及診其脈，六部皆浮緊遲大，尋之空虛蹇澀，重按則僅見短細之形，縈繞指下，若有若無，全無神氣，且吐瀉加甚，喘渴漸增，身體多汗，不思飲食，腰痛未愈。余曰此疹中虛寒之凶候也，不急溫補，將何以生？即用蜜耆兩半，附、術各一兩，砂仁、北姜各錢半，川芎、炙草各一錢，巴戟五錢，菟絲四錢，固脂三錢。一劑腰痛遂止，吐泄少安，脈仍空虛，喘汗如故，轉覺目不能開，眼泡多淚，白珠淡紅，時時刺痛，余曰此清陽不升，虛陽浮越故也，仍重用耆、朮、附片，去杜仲、菟絲，加百合、紫菀、當歸，日服一劑，兼以雞鮮葷物調補而安。由是相繼四人出疹，年皆未滿一歲，有一子一女，體極虛弱，發熱之時，皆用萬保湯一二劑，疹陸續透見，色甚淡紅，不見高聳，發見甚遲，平塌淡散，脈仍微弱，或兼遲澀，或兼緊細，或乍疏乍數，嘔吐泄瀉，或唇舌泡爛，或頭面生癤，身熱不退，喘嗽多痰，形容慘淡，皆用溫胃化痰湯，諸證多退，即以是方調補而愈。有一子一女，雖不如此虛寒，亦見氣血虛弱，其脈皆無滑數象，疹形紅活，不似淡紅，頗能起發，不同平塌，先用酒耆內托散，繼用保安湯，調理皆痊。然皆非時下醫藥所能調治也。</p>

<h2>【附】麻疹證治常法</h2>
<p>初發熱欲出未出時，壯熱脈滑數有力者，宜用宣毒發表湯。</p>
<p>粉葛　北風　芥穗　連翹　牛子　淡竹葉　木通　薄荷　甘草　蟬蛻　姜　棗　蔥白引</p>
<p>咳甚者，加全胡、桔梗；渴，加花粉；衄，加條芩、桑皮；乾燒無汗，加生地、當歸。</p>
<p>疹已出而紅腫太甚脈旺者，宜化毒清表湯。</p>
<p>粉葛　知母　淡竹　連翹　木通　元參　地骨皮　犀角　石膏　甘草</p>
<p>咳甚等類照前方加減。疹色紫赤，再加芩、連、紫茸。</p>
<p>疹出四五日尚有餘毒留於肺胃，咳嗽氣喘，外熱不退，脈滑實者，宜清肺飲。</p>
<p>生地　柴胡　元參　麥冬　知母　桑皮　桔梗　甘草　當歸　石膏　淡竹葉　地骨皮　犀角</p>
<p>疹已出透，身熱未全退，毒氣流注成痢，脈滑實者，宜清熱導滯湯。</p>
<p>川連　條芩　白芍　枳殼　青皮　楂肉　厚朴　連翹　牛子　木通　犀角</p>
<p>治疹口訣：疹未透時，開提之藥可用；疹既透露，表散之品宜刪。氣喘常因氣虛，勿謂麻黃可用；便秘多由胃實，有時大黃可商。疹色乾焦，生地元參為上；若還紫黑，芩連紫茸宜安。咳嗽屬實，清肺飲可除肺熱；口瘡是火，敗毒散清熱為良。要之。凡證皆有真假，疹色最宜參詳，況復參之以脈，分辨虛實何難？微細緊弱遲澀，皆作虛損例看。浮大浮空濡散，須從陽虧陰損區別；洪滑數實有力，當知梟炎熱毒為殃。縱有奇形怪證，憑茲脈色無妨。藥不拘乎涼補，要祈脈證對方，我常依此治疹，每遇極險無傷。此語雖難隱括，亦是醫家錦囊。</p>
<p>疹後實證，口臭口瘡唇爛咽痛脈滑數者，宜敗毒散。</p>
<p>大生地　丹皮　柴胡　桔梗　薄荷　連翹　牛子　花粉　黃芩　元參　京參　赤芍　甘草　石膏　淡竹葉</p>
<p>甚者，加川連。</p>
<p>疹後咳嗽喘急，唇焦口渴煩躁，結熱在內，口鼻出血，宜解毒化痰丸。</p>
<p>犀角　歸尾　牛子　丹皮　川連　川貝　生地　花粉　黃芩　知母　銀花　桔梗　甘草　地骨　柴胡　白芍　桑皮　連翹</p>
<p>疹後咳嗽不止，內熱不清，心神不寧，夜臥不安，或生瘡疥，脈數大空澀者，宜天真膏。</p>
<p>熟地　生地　元參　麥冬　茯神　知母　沙參　苡米　當歸　山藥　百合　紫菀　蜜耆　白朮　川貝　橘紅　地骨皮　桑皮　枇杷　枸杞　棗仁　北味　炙草</p>
<p>疹後咽喉實熱作痛，脈滑數者，宜涼膈消毒飲。</p>
<p>荊芥　北風　連翹　薄荷　條芩　梔子　牛子　甘草　射干　莊黃</p>
<p>疹後目赤紅腫，有熱生翳，脈滑實者，宜清毒撥翳湯。</p>
<p>柴胡　赤芍　歸尾　桔梗　生地　蟬蛻　梔仁　七釐　木賊草　條芩　連翹　芥穗　北風　京子　甘草　草決</p>
<p>熱甚，加莊黃。</p>

<h2>痘科方</h2>

<h3>發劑</h3>
<p><u>加味升麻湯</u></p>
<p>生耆　當歸　芥穗　北風　楂肉　蟬蛻　桔梗　甘草　蘇葉　升麻　生薑　大棗　川芎　牛子</p>
<p><u>加味參蘇飲</u></p>
<p>人參　生耆　蘇葉　前胡　川芎　楂肉　桔梗　蟬蛻　甘草　雲苓　廣皮　北風　當歸　生薑　大棗</p>
<p><u>蘇解散</u></p>
<p>荊芥　北風　蘇葉　白芷　桔梗　甘草　紫茸　川芎　楂肉　連翹　牛子　木通　姜（引）</p>
<p><u>加減參蘇飲</u>　治因風寒外束驚搐者。</p>
<p>人參　生耆　肉桂　羌活　蘇葉　白芷　荊芥　北風　川芎　法夏　廣皮　桔梗　甘草　姜　棗（引）</p>
<p>冬月寒甚，少加麻黃。</p>
<p><u>宣毒湯</u></p>
<p>升麻　粉葛　荊芥　北風　桔梗　甘草　連翹　牛子　黃芩　木通　淡竹葉</p>
<p><u>松肌通聖散</u></p>
<p>粉葛　荊芥　北風　當歸　牛子　桔梗　甘草　紫茸　蜂房　木通　楂肉</p>
<p><u>快斑湯</u></p>
<p>人參　當歸　北風　元參　白芷　木通　甘草　紫茸　蟬蛻　木香</p>
<p><u>快斑越婢湯</u></p>
<p>蜜耆　桂枝　酒芍　炙草　北風　姜　棗　飴糖</p>
<p><u>玉屏宣化湯</u>（新方）</p>
<p>蜜耆（八錢）　白朮（六錢）　肉桂（錢半）　當歸（錢半）　川芎（一錢）　炙草（一錢）　楂肉（錢半）　生耆（四錢）　北風（二錢）　蟬蛻（七個）</p>
<p><u>防風宣化湯</u>（新方）</p>
<p>蜜耆（一兩）　當歸（二錢）　北風（三錢）　升麻（八分，炒）</p>
<p><u>參附飲</u>（新方）　治痘後發瘋手足麻木無汗。</p>
<p>人參　附片　北風　羌活　蜜耆　當歸　炙草　麻黃（蜜炒，少用）</p>

<h3>補劑</h3>
<p><u>溫中益氣湯</u>　並治痘疹虛熱。</p>
<p>人參　蜜耆　白朮　當歸　川芎　雲苓　北風　炙草　肉桂　楂肉　蟬蛻　白芷　南木香　姜　棗</p>
<p><u>參歸鹿茸湯</u></p>
<p>人參　鹿茸　蜜耆　當歸　炙草　上桂</p>
<p><u>千金內托散</u></p>
<p>人參　蜜耆　當歸　楂肉　上桂　北風　蟬蛻　白芷　炙草</p>
<p><u>保元湯</u>　並治血泡通紅不作漿者。</p>
<p>人參　蜜耆　上桂　炙草　炒糯米</p>
<p><u>參朮散</u>　並治泄瀉嘔蟲。</p>
<p>人參　白朮　砂仁　木香　肉蔻　訶子　楂肉　六曲　苡米　雲苓　蓮肉　炙草　川椒　煨烏梅</p>
<p><u>歸耆湯</u>　並治多汗不止。</p>
<p>蜜耆　當歸　棗仁　小麥</p>
<p><u>養胃開痰湯</u></p>
<p>人參　白朮　雲苓　陳皮　桔梗　上桂　法夏　山藥　楂肉　炙草　北姜　蓮肉</p>
<p><u>建中湯</u>　並治咬牙寒戰。</p>
<p>人參　蜜耆　上桂　白朮　川芎　當歸　公丁　附片　北姜　炙草</p>
<p><u>溫表調中湯</u>　並治痘虛作癢。</p>
<p>人參　蜜耆　白朮　雲苓　上桂　附片　公丁　北姜　北風　白芷　炙草</p>
<p><u>補中益氣湯</u></p>
<p>人參　蜜耆　白朮　雲苓　當歸　廣皮　升麻　柴胡　炙草　姜　棗</p>
<p><u>參歸大補湯</u></p>
<p>人參　當歸　川芎　生耆　桔梗　甘草　楂肉　紫茸　南木香　白芷　北風　厚朴</p>
<p><u>十宣散</u></p>
<p>人參　蜜耆　當歸　川芎　北風　桔梗　炙草　白芷　厚朴　上桂　楂肉</p>
<p><u>九味異功煎</u></p>
<p>人參　蜜耆　當歸　上桂　熟地　公丁　北姜　附片　炙草</p>
<p><u>托裡散</u></p>
<p>人參　蜜耆　熟地　當歸　白朮　炙草　楂肉</p>
<p><u>金水六君煎</u></p>
<p>熟地　當歸　法夏　雲苓　陳皮　炙草</p>
<p><u>六味回陽飲</u></p>
<p>人參　附片　熟地　當歸　北姜　炙草</p>
<p><u>理陰煎</u></p>
<p>熟地　當歸　北姜　上桂　炙草</p>
<p><u>大補元煎</u></p>
<p>人參　蜜耆　炙草　熟地　山藥　杜仲　當歸　枸杞　巴戟　附片</p>
<p><u>人參清神湯</u></p>
<p>人參　蜜耆　雲苓　陳皮　棗仁　麥冬　當歸　白朮　川連　炙草　糯米</p>
<p><u>六氣煎</u></p>
<p>人參　蜜耆　白朮　當歸　上桂　炙草</p>
<p><u>六物煎</u></p>
<p>人參　熟地　當歸　川芎　酒芍　炙草</p>
<p><u>八味地黃湯</u></p>
<p>熟地　附片　山藥　棗皮　丹皮　建瀉　雲苓　上桂</p>
<p><u>十全大補湯</u></p>
<p>人參　蜜耆　白朮　熟地　當歸　川芎　炙草　上桂　鹿膠　公丁</p>
<p><u>陳氏木香散</u></p>
<p>人參　上桂　法夏　雲苓　木香　腹毛　青皮　訶子　公丁　炙草</p>
<p><u>五味異功散</u></p>
<p>人參　白朮　雲苓　廣皮　炙草</p>
<p><u>大保元湯</u></p>
<p>蜜耆　人參　白朮　炙草　川芎　上桂　姜　棗</p>
<p><u>異功散</u></p>
<p>人參　白朮　蜜耆　法夏　上桂　肉蔻　附片　北姜　川芎　炙草　木香　煨烏梅　炒　糯米</p>
<p><u>白朮調元散</u></p>
<p>人參　白朮　雲苓　扁豆　山藥　蓮肉　芡實　砂仁　蜜耆　桔梗　炙草　肉蔻　上桂</p>
<p><u>加味歸脾湯</u>　並治女人血海乾枯。</p>
<p>人參　白朮　蜜耆　當歸　川芎　茯神　志肉　棗仁　木香　地骨皮　炙草</p>
<p>加柴胡、黑梔，名加味。</p>
<p><u>全真一氣湯</u></p>
<p>人參　熟地　白朮　淮膝　麥冬　北味　附片</p>
<p><u>真元益命湯</u>（新方）　虛人始初托劑。</p>
<p>蜜耆　白朮　黨參　當歸　楂肉　北風　桔梗　炙草　蟬蛻　生耆</p>
<p>體素虛寒者，加附片、北姜。</p>
<p><u>回生濟物湯</u>（新方）　因參、桂難得故不入方。</p>
<p>蜜耆　白朮　附片　北姜　山藥　當歸　炙草　鹿膠　糯米　砂仁</p>

<h3>清劑</h3>
<p><u>敗毒宣中散</u></p>
<p>荊芥　北風　前胡　桔梗　連翹　牛子　枳殼　川芎　紫茸　木通　升麻　蟬退　川連　生耆　甘草</p>
<p><u>升消平胃散</u></p>
<p>藿香　砂仁　蒼朮　川芎　厚朴　楂肉　紫蘇　陳皮　神麯　炙草</p>
<p><u>清解散</u></p>
<p>荊芥　北風　桔梗　甘草　川芎　蟬蛻　前胡　葛根　條芩　川連　升麻　楂肉　連翹　牛子　木通　紫茸</p>
<p><u>清毒活血湯</u></p>
<p>人參　生耆　當歸　酒芍　連翹　牛子　前胡　桔梗　川連　條芩　楂肉　甘草　生地　紫茸</p>
<p><u>參麥清補湯</u></p>
<p>人參　麥冬　當歸　川芎　酒芍　桔梗　炙草　生耆　楂肉　連翹　牛子</p>
<p><u>清毒保目湯</u></p>
<p>荊芥　北風　當歸　川芎　桔梗　甘草　柴胡　升麻　蟬蛻　黑梔　酒芩　赤芍　連翹　牛子　薄荷　玉竹　姜　棗</p>
<p><u>大連翹飲</u></p>
<p>連翹　牛子　黑梔　蟬蛻　荊芥　北風　條芩　赤芍　甘草　當歸　木通　滑石　柴胡　車前子</p>
<p>一方加生耆、生地。</p>
<p><u>清肺飲</u></p>
<p>沙參　花粉　黑梔　麥冬　桑皮　桔梗　甘草　當歸　酒芍　元參　丹皮　發灰</p>
<p><u>利咽解毒湯</u></p>
<p>桔梗　甘草　牛子　豆根　元參　北風</p>
<p><u>清毒撥翳湯</u></p>
<p>桔梗　甘草　花粉　川芎　當歸　生地　麥冬　黑梔　川連　石決　白菊　密蒙花　蒺藜　木賊　羌活　北風　柴胡</p>
<p><u>歸宗湯</u></p>
<p>莊黃　生地　當歸　木通　芥穗　牛子　酒芍　青皮</p>
<p><u>必勝散</u></p>
<p>莊黃　芥穗　葛根　蟬蛻　楂肉　生地　木通　牛子　桃仁　紅花　青皮　地丁</p>
<p><u>竹葉石膏湯</u></p>
<p>竹葉　石膏　知母　甘草　麥冬　糯米</p>
<p><u>真人解毒湯</u></p>
<p>銀花　甘草　北風　連翹　木通</p>
<p>酒、水各半杯煎。</p>
<p><u>四味消毒飲</u></p>
<p>人參　川連　牛子　炙草</p>
<p><u>元參化毒湯</u>　並治痘後赤火丹瘤。</p>
<p>元參　歸尾　紅花　連翹　石膏　地骨　赤芍　芥穗　北風　淡竹　木通　甘草</p>
<p><u>駐車丸</u>　治痘後脈滑實，下痢膿血，並腸垢。</p>
<p>當歸（四兩）　川連（兩半）　炮姜（二兩，為末）　阿膠（三兩）</p>
<p>和丸。每服錢許，食前米飲下。</p>
<p><u>四物快癍湯</u>　治痘疹火盛乾燥。一方加紫茸、地骨皮。</p>
<p>當歸　川芎　生地　酒芍　丹皮　連翹　牛子　升麻　粉葛　條芩</p>
<p><u>清補湯</u></p>
<p>人參　蜜耆　當歸　赤芍　川芎　甘草　牛子　連翹　北風　芥穗　肉桂　麥冬</p>
<p><u>元參化毒</u>　治痘後赤火丹瘤。</p>
<p>元參　歸尾　紅花　連翹　石膏　地骨　赤芍　淡竹　木通　北風</p>

<h2>麻科方</h2>
<p><u>酒耆內托散</u>（新方）</p>
<p>酒耆　生耆　當歸　川芎　芥穗　北風　白芷　蟬蛻　炙草</p>
<p><u>益氣利痰湯</u>（新方）</p>
<p>蜜耆　白朮　川芎　法夏　雲苓　廣皮　炙草　桔梗　當歸</p>
<p><u>保安湯</u>（新方）</p>
<p>蜜耆　白朮　當歸　川芎　炙草　百合　紫菀</p>
<p><u>溫中益氣湯</u>（新方）</p>
<p>蜜耆　白朮　附片　當歸　川芎　北姜　砂仁　雲苓　廣皮　桔梗　炙草　升麻</p>
<p><u>玉真湯</u>（新方）</p>
<p>熟地　棗皮　枸杞　當歸　白朮　蜜耆　附片　北味　炙草　紫菀</p>
<p><u>固元湯</u>（新方）</p>
<p>蜜耆　白朮　附片　北姜　當歸　巴戟　枸杞　杜仲　故脂　北味　紫菀　炙草</p>
<p><u>補中宣托湯</u>（新方）</p>
<p>蜜耆　生耆　白朮　當歸　川耆　蟬蛻　白芷　北風　芥穗　炙草</p>
<p><u>扶陽益氣湯</u>（新方）</p>
<p>蜜耆　白朮　附片　當歸　川芎　北姜　砂仁　巴戟　炙草　百合　山藥　紫菀</p>
<p><u>溫胃化痰湯</u>（新方）</p>
<p>蜜耆　白朮　附片　北姜　法夏　雲苓　廣皮　桔梗　炙草　紫菀　百合　當歸　川芎</p>
<p><u>調元宣化湯</u>（新方）</p>
<p>酒耆　當歸　川芎　炙草　桔梗　雲苓　蟬蛻　北風　白芷</p>
<p><u>宣毒湯</u>（新方）</p>
<p>芥穗　北風　連翹　淡竹　木通　小草　白芷　蟬蛻　當歸　姜　棗</p>
<p><u>清毒益陰湯</u>（新方）</p>
<p>本梔　元參　連翹　牛子　淡竹　木通　桔梗　甘草　知母　酒芍　花粉　石膏　犀角</p>
<p><u>大溫中湯</u>（新方）</p>
<p>蜜耆　白朮　附片　當歸　川芎　北姜　良薑　砂仁　白蔻　炙草</p>
<p><u>大清毒湯</u>（新方）</p>
<p>生地　元參　川連　條芩　石膏　淡竹　連翹　牛子　木通　甘草　酒芍　丹皮　知母　地骨　紫茸　犀角　竹茹</p>
<p><u>萬保湯</u>（新方）</p>
<p>蜜耆　白朮　生耆　當歸　川芎　蟬蛻　炙草</p>
<p><u>靖熱湯</u>（新方）</p>
<p>莊黃　當歸　川芎　酒芍　生地　川連　炙草</p>
<p><u>柴胡四物湯</u></p>
<p>柴胡　酒芍　當歸　生地　人參　知母　揀冬　淡竹　地骨　條芩　甘草</p>
<p><u>黃連解毒湯</u></p>
<p>川連　條芩　梔仁　丹皮　酒芍　生地　銀花　甘草　連翹　牛子</p>
<p><u>清氣化毒飲</u>　治實證之胸滿喘急。</p>
<p>前胡　桔梗　瓜蔞霜　連翹　桑皮　杏仁　條芩　川連　元參　石膏　揀冬　甘草</p>
<p><u>麻杏石甘湯</u>　治寒束熱邪之實喘。</p>
<p>麻黃　石膏　杏仁　甘草</p>
<p><u>竹葉石膏湯</u></p>
<p>人參　揀冬　石膏　知母　淡竹　川貝　甘草</p>
<p><u>清金寧肺湯</u>　治肺受火刑之咳嗽。</p>
<p>前胡　杏仁　沙參　桑皮　紫菀　橘紅　川貝　川連　條芩　瓜蔞　桔梗</p>
<p><u>竹茹石膏湯</u>　治火迫嘔吐。</p>
<p>石膏　竹茹　法夏　廣皮　甘草　赤苓</p>
<p><u>解毒快斑湯</u></p>
<p>元參　生地　連翹　牛子　芥穗　北風　蟬蛻　桔梗　甘草　條芩　當歸　川芎　紫茸　花粉</p>
<p><u>犀角解毒湯</u></p>
<p>犀角　生地　川連　丹皮　赤芍</p>
<p><u>代化湯</u></p>
<p>熟地　蜜耆　當歸　川連　浮麥　棗仁　茯神　百合　炙草　山藥</p>

<h2>痘疹經驗良方</h2>
<p><u>拔毒散</u></p>
<p>明雄研末，胭脂水和調。</p>
<p><u>豬脂膏</u></p>
<p>豬骨脂同白蜜熬一二沸，以雞毛掃上，治痂不落。</p>
<p><u>豆香散</u></p>
<p>豆殼結燒存性，麻油調搽痘毒爛處。</p>
<p><u>三豆漿</u></p>
<p>綠豆　黃豆　赤小豆</p>
<p>研用，好醋調敷痘癰。</p>
<p><u>生肌散</u></p>
<p>龍骨　赤石脂　白芷　貝母　白芨</p>
<p>研末。摻。</p>
<p><u>綿繭散</u></p>
<p>餘毒出水，取出蛾蠶繭，用生明礬填入，燒灰，為末摻之。</p>
<p><u>發灰散</u></p>
<p>取灰二錢，童便七分，水酒兌，止鼻衄。</p>
<p><u>雞冠血</u></p>
<p>滴入眼內，可去痘毒。</p>
<p><u>綠袍散</u></p>
<p>芥穗　薄荷　青黛（各三錢）　元明粉　硼砂　甘草　百藥煎（各二錢）</p>
<p>為散。點舌上令自化。治口瘡腐爛。</p>
<p><u>闢穢香</u></p>
<p>莊黃（一倍）　蒼朮（減半）</p>
<p>燒煙闢屍厭諸穢。</p>
<p><u>熏穢香</u></p>
<p>蒼朮　細辛　甘松　川芎　乳香　降香</p>
<p>燒煙，解血厭及諸穢惡。</p>
<p><u>金華散</u></p>
<p>川連　川柏　黃芩　黃丹（等分）</p>
<p>入輕粉、麝片少許，為末。搽痘後肥瘡。</p>
<p><u>馬鳴散</u></p>
<p>取人中白新瓦盛之，煅如鹽三錢，生五倍一錢，另用一錢，同白礬二錢，煅用，蠶蛻紙二錢燒為末，先以米泔水洗瘡口，以藥敷走馬疳。</p>
<p><u>滅瘢散</u></p>
<p>陀僧　白附　姜蠶　白芷　鷹屎</p>
<p>白水調搽面瘢。</p>
<p>又方</p>
<p>陀僧　滑石（各二兩）　白芷（五錢）</p>
<p><u>白龍散</u></p>
<p>用多年黃牛糞，在雨露中者，燒灰搽爛痘</p>
<p><u>鵝油膏</u></p>
<p>熟鵝油（四兩）　黃蠟（五分）　萊服（研，五分）　川楝（研，三分）　銀珠（四分）</p>
<p>入油內，攪勻，治痘瘡　焮發如癩。</p>
<p><u>紅玉膏</u></p>
<p>紫草　紅花（各一兩）　當歸（二兩）　黃蠟（三兩）　香油（半斤）</p>
<p>熬藥去渣，後下黃蠟。貼患處。</p>
<p><u>落痘方</u></p>
<p>明雄（三分）　輕粉（五釐）　上片（二釐）</p>
<p>如左眼有痘，以未吹右耳中即落。</p>
<p><u>吹口丹</u></p>
<p>川連　青黛　兒茶　上片</p>
<p>為末。吹入治口疳。</p>
<p><u>二聖散</u></p>
<p>苦參（三錢）　白殭蠶（二錢）</p>
<p>為末。治煙喉熱疼。</p>
