<header data-type="book">
<h1>延陵弟子紀要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曹存心</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>序</h1>
<p>先君子門診日以百計手診者二三十人其除分給門徒診畢一五覆之不稍懈蓋恐失之毫釐也此卷吳君所診先君子為之點竄者居多故論病則劈肌分理剖析毫釐而語氣之間時寓諄諄欣訓誨之意引人入勝且見苦心獨慨先君子門下士百數人當日分診之下改易不少而諸公不能如吳君之用心各編一冊匯成大觀惜哉時</p>
<p><u>成豐九年蒲月中旬</u>　文瀾識</p>

<h1>桐涇橋孫</h1>
<p>據述五更泄瀉疊進溫通而罔效病亦奇矣診得左關脈弦弦主乎濕亦主乎肝右一部內主乎脾脾為土肝為木木乘土位木乘土位濕自不消不消則脾為濕所浸淫為重滯為中宮痞為少納多痰脾氣被濕所累既不能散津上歸於肺口舌常干而但運濕下入於腸大便自泄病在肝脾而不在腎明矣擬治中運理輩佐以縮脾法俾得土中瀉木以使兩和</p>
<p>於朮茯苓黨參炙草炮姜川連扁豆草果青皮陳皮葛根砂仁</p>

<h2>常熟姚</h2>
<p>虛則補之陰虛則補陰陽虛則補陽久病者陰陽兩虧寒熱分爭既補其陰又補其陽未有不合者也然補陽則脹補陰亦然是虛不受補乎另有實邪乎診得脈形細澀而數細屬陰虧澀為血少數之一脈外外因傷氣虧者陰火浮於上也然此等脈息在虛者按必無力而按之還覺鼓指不獨虛也久病而見實脈病從何來因思秋燥氣也燥氣先傷上焦華蓋則諸氣膹郁營衛失和寒熱分爭無怪乎補氣補血不一應手夫燥勝則乾燥於上嗌自乾燥於外膚自乾燥於內血自干肺受燥氣則為咳為嗽燥萬物者莫熯乎火潤萬物者莫悅乎澤若不以嘉言之清燥救肺湯棘手無策矣瀉必先補於前實必固虛於後此不過以意逆之冀其弋獲而已</p>
<p>桑葉北沙參石膏麥冬肉炙草羚羊角川旦大生地麻仁枇杷葉杏仁清阿膠</p>

<h2>嘉興沈</h2>
<p>濕邪下注為濁濕流關節為痛濕熱不攘大筋軟短軟短為拘據此三條而論顯系脾經積濕下注旁流不能盡化鬱而為熱傷及於筋夫筋肝所主也宜養宜滋而脾經之濕熱仍未清楚不得不以通化之品兼施之然病日經久恐非旦夕所能取效</p>
<p>大熟地當歸白芍川芎虎脛骨茯苓防已秦艽潞黨參於朮炙草苡仁鮮桑葉木瓜</p>

<h2>常熟李</h2>
<p>舌上之有苔無苔全憑中氣之立與不立然中氣所立之苔白而且潤茲乃黃而帶黑又兼乾象干屬無津黃則為土黑則為火火土合德病而不合德邪熱蒸蒸也邪熱既蒸陽明無怪乎陰不上承以昭乎津液暗傷若不以實則瀉之之法治之吾恐心陽更旺</p>
<p>瀉黃湯</p>

<h2>南濠薛</h2>
<p>久痢未有不傷腎腎虛則氣不歸原呼多吸少喘自作焉納氣歸元最為要著然龍雷之人亦已隨氣上逆口乾鼻燥咽痛脈衝反見有餘之象引火歸元不可少此亦不過因病治病竭力以圖之計鞭長莫及未免致嘆於崇朝水泛金匱腎氣丸一兩炒炭煎服</p>

<h2>江陰吳</h2>
<p>陽結於上陰枯於下而為噎膈者腎家之陽不能蒸騰於上肺經之陰不能沾濡於下古人於膈證一門重補肝腎良有以也</p>
<p>大熟地半夏歸身代赭石旋覆花乾薑茯苓制川附臺烏藥麥冬竹瀝新會皮炙草</p>

<h2>廟堂巷董</h2>
<p>知柏之性本來迅掃傷陽據云服之者多而且久以致濁陰用事真陽上越煩躁眩暈尺脈微細小便不舉幸得大溫大補之劑尚可支持為今之計舍此溫補別無苟安之法病發時少腹作痛際此冬至之時身中之一陽未必即生急以來復法生陽於下佐以真武湯坐鎮北方俾得陰陽不散最為第一要著制川附白芍茯苓生清退潛術煎送來復丹</p>

<h2>龐家巷吳</h2>
<p>脾脈絡舌本又主四肢脾經素有之痰為寒所遏上行舌本則不言下注四肢則痛痹內陰心包則形神呆鈍外陰陽氣則四肢冰冷現在脈象小滑寒痰正甚必得溫通經絡以使痰消寒化則妥</p>
<p>蘇合香丸一丸取竹瀝五錢薑汁一茶匙隔滾水燉溫溶服</p>

<h2>楓橋陳</h2>
<p>病名癲疾得自母胎時所謂其母有所大驚氣上而不下精氣並故令子發為癲疾是也四年前曾經一發現在形呆目定不寐胡言心悸溺熱脈弦且數想是驚則氣亂神出舍空痰熱襲入其間舊病復作也當以化痰調氣俾得包絡漸和為要</p>
<p>竹茹半夏風化硝橘紅茯苓遠志石菖蒲炙草枳殼南星</p>
<p>復診</p>
<p>進前劑得寐得吐並得言語稍清形神活動顯系胞絡之痰邪已有向外之機無如脈象仍弦至數還數數則為火弦則為痰痰即有形之火火即無形之痰痰火交結胞絡正復不少必須調化以使痰火漸清神明漸出則君主之官不補而自安矣</p>
<p>半夏橘紅石菖蒲遠志南星茯神風化硝炙草龍齒竹茹北秫米</p>
<p>另指迷茯苓丸　白金丸　二丸和勻每服三錢</p>

<h2>松江方</h2>
<p>鼻衄上流白濁下注脈象弦數中宮之濕火分頭病也</p>
<p>豬肚丸五兩每服三錢取茅根湯送下</p>

<h2>松江沈</h2>
<p>金空則鳴金實則無聲無聲之症其為金實無疑然金本空也何反言實實者熱也熱在上焦者因咳為肺痿痿則相傳無權清肅失職金受火刑六葉兩耳中之二十四竅痿而不通此音不揚之所由來也肺與大陽相為表裡肺既病於上大腸焉得安於下上下陰陽兩絡見血俱虛火之為害亦云甚矣診得脈象弦數其形頗大弦數屬痰與熱大則又主陽明顯系肺與大腸之病又被陽明痰熱所累也治病必求其本法當固本兼治其標</p>
<p>蘆根生米仁生蛤亮絲瓜絡牛蒡冬瓜子白杏仁忍冬藤粳米馬兜鈴清阿膠地骨皮甘草</p>

<h2>楓橋張</h2>
<p>寒熱之下下痢胸痞脈促氣喘此即太陽之邪不傳陽明之經即入陽明之腑也</p>
<p>葛根芩連湯</p>

<h2>嘉善王</h2>
<p>濕熱不攘大筋軟短小筋弛長軟短為拘弛長為痿此間雖非軟短亦已弛長惟其弛長無怪乎痿而少用然痿因濕熱脾虛不化也往往治在脾經而不知最虛之處便是容邪之處下焦見證實系腎氣內虧欲治其痿必先化濕與熱欲化濕熱必先補肝及腎肝腎一旺濕熱自減不獨下焦欲痿可以漸入佳境即中下兩焦之小恙亦可以向安尚難以痿證已成之例獨取陽明為治也清燥湯加減之</p>
<p>人參生冬朮茯苓炙草麥冬小川連川柏陳皮首烏建澤瀉神麯生薑紅棗五味子</p>

<h2>廣東曾</h2>
<p>水流濕火就燥濕不與燥為鄰燥遍逼濕為火火勢炎上則水之潤下失常無怪乎求救外水渴而能消消則仍渴轉展不已也前進許氏法僅能小效制大其方正在此時</p>
<p>大竹葉石膏黨參炙草大生地半夏當歸白芍綿黃耆麥冬</p>

<h2>平湖諸</h2>
<p>痎瘧皆生於陰陰者太陰少陰厥陰也名之曰陰必得陽以對待不言而喻矣此乃陰風寒濕又來襲入其間出而與陽爭入而與陰爭寒熱往來輕重不一苟非扶助陽氣以逐陰邪則三陰之界何從打退病魔乎</p>
<p>青皮川樸柴胡草果仁茯苓茅朮淡芩鹿角尖炙草半夏</p>

<h2>丹陽符</h2>
<p>北方黑色入通於腎開竅於二陰藏質於腰間欲通大便精竅先開腰間苦痛脈來尺細關弦腎家之虛也不言喻矣</p>
<p>河車大造丸方加青鹽甘草</p>

<h2>太平橋戴</h2>
<p>夢泄遺精勤而又久近更舉念則泄腎失封藏之職心失神明之主矣急秘其元</p>
<p>龍骨`一兩``　大訶子皮`五隻``　砂仁`五錢``　砂朱`五錢``</p>
<p>為未取糯米粥糊丸如桐子大零有硃砂為衣朝服二粒鹽酒送下晚服三粒冷水送下</p>

<h2>關上董</h2>
<p>陰枯於下陽結於上陽明素有之瘀血濁痰亦阻膈間以致飲食之下為噎為噫經年不愈其病更劇所以胸中窒塞尚吐白沫脈象細澀左關帶弦又兼食後作脹大便堅結勢欲成膈膈之用藥最難必須循循漸進以冀戈獲然噎是神思間病尤要內觀靜養俾得懷抱放開庶幾有益</p>
<p>當歸白芍白蜜鮮蘆根乾薑薤白檳榔瓦楞子黨參半夏</p>
<p>復診</p>
<p>進前法胸中之窒塞稍和白沫之上泛略緩顯繫上焦陽氣暫得溫通之品結者能開然雖暫開尚未生生不息加以陰血仍枯是以飲食之下不惟為噎為噫且兼脹逆不舒大便堅結脈象細澀左關帶弦病情正劇時也悅耳目娛心志當在服藥之先</p>
<p>淡乾薑炙草當歸白芍制首烏薤白黨參陳皮瓦楞子茯苓檳榔烏藥制川附沈香蘆根白蜜製半夏</p>

<h2>唯亭顧</h2>
<p>肺氣通於鼻和則能知臭香矣茲乃反是肺之不和也無疑然肺脈固澀而脾胃兩脈何得亦然加以白苔滿布想是中焦濕土先病累及肺金欲清肺金必先崇土化濕以杜病根若在枝葉上求治無益也</p>
<p>藿香砂仁於朮黨參半夏陳皮莘荑桑皮苡仁炙草</p>

<h2>太平橋邵</h2>
<p>病中咳嗽病後浮腫浮腫屬脾咳嗽屬肺肺金風邪脾土水濕互相搏結變而為風水症也氣息喘促於上二便失調於下病勢危篤能不慮其厥塞而脫乎勉擬開鬼門潔淨府兩法以冀表裡皆通為幸</p>
<p>麻黃湯五苓散用肉桂</p>

<h2>山塘畢</h2>
<p>疊進補納自云諸恙向安偶爾動氣又云諸恙復作然所患之恙扔不外乎喘兩字並無節外生枝見症病亦奇怪矣哉而不知所患咳喘下虛氣不歸元之痰也前所補納藏氣未充一以怒則氣上再以思則氣結既結於中又上於肺則健運失其常清肅失其職而痰飲之邪能免咳喘乎補納方中佐以降氣俾得兩全為要</p>
<p>大熟地歸身炙草黨參紫石英陳皮於朮牛膝胡桃肉杏仁蘇子茯苓製半夏桂枝沈香</p>

<h2>徐州劉</h2>
<p>失血後咳嗽不已痰涎不少甚至寒熱分爭左部細輕右寸關部數大不寧飲食小納納則胸脘不利此係伏熱傷胃延及肺金金受熱傷變為肺痿肺既痿矣水絕生源則肝腎兩經即使不虛者而亦虛矣然虛則補之本來一定章程無如肺胃兩經之伏熱尚屬不少暗劫津液若非清養肺胃以去病根而徒補肝腎無益也若論所吐痰涎本從熱化而不知胃家有熱所進食不能化為氣血亦易釀成痰飲上泛於肺肺又失其清肅之常不能通調水道下輸膀胱則肺自旋受而旋吐也吐已多而且久最慮氣喘喘則腎木肺標上下皆損而恐歸虛脫如此看來一清一養之下稍能應手方幸</p>
<p>冬瓜子苡仁白杏仁蘆根炙甘草蛤殼絲瓜絡紫苑海浮石鱉甲淡姜渣秦艽雲茯苓</p>

<h2>寶應梁</h2>
<p>病起下焦後良於背夫背為陽良為山設使背陽充足何至重若艮山惟督脈內空不能統領諸陽敷布於背以致脾經之濕痰下隨腎家之氣夾背而上上而不致於眼突即艮其背有似山之重焉背重於上囊動於下上下各病而實一以貫之古語云生病之處即陽氣不到之處此等症是也下氣通陽最為入手要著</p>
<p>制川附川椒茯苓陳皮製半夏炙草</p>

<h2>上海李</h2>
<p>少陽之脈行身之側痰核結於頸旁延及腋下想是濕生痰痰生熱流落少陽部分而不能化達也痰核所成非朝伊夕諒非湯藥所能速效者惟其不能速效所患濕熱即從少陽膽經襲入厥陰肝部寤不成寐寐則驚惕甚至口燥舌黃溺赤便堅病熱有加憮已良以膽附於腑病還之於藏也肝藏屬木其性最剛非有水以涵之每來橫逆此間陽常有餘陰常不足之體更有易升無降竟可徹夜不眠為現在所苦急段醫治然後再論緩調擬許學士知母法</p>
<p>石決明洋參大生地龍齒當歸身犀角朱茯神棗仁柏子仁沉香</p>

<h2>常熟陳</h2>
<p>濃痰內結須從上齶咯出暴者為風熱外感久者為陰火上衝若陰火既衝風熱復感二者互相為患一時濃痰更結咯出更難夥治其疾必先靜養</p>
<p>大熟地丹皮建澤瀉茯苓北沙參山藥地骨皮桑皮川貝母洋參白芍竹茹石決明陳皮枇杷葉阿膠麥冬肉為末淡蜜水泛丸</p>

<h2>浦東張</h2>
<p>語言艱澀口角流涎肢麻氣短脈息沉弦此係內風習習感召外風以成類中也七日內小心驟變先理風痰隨後大補</p>
<p>雲茯苓蠍梢製半夏南星臺烏藥制蠶廣陳皮甘艸</p>

<h2>松江沈</h2>
<p>四肢屬脾脾主濕濕毒內勝走入脾經右手背腕先痛後腫者氣傷形也名曰手氣</p>
<p>雲茯苓茅朮製半夏枳亮片薑黃當歸風化硝赤芍</p>

<h2>陳右</h2>
<p>三焦浮游之火行走不定</p>
<p>黑山梔煎服</p>
<p>覆診</p>
<p>進奇方火衰大半藥對病矣然舌紅無津左脈弦數水不足火有餘不言而喻瀉南補北法主之</p>
<p>細生地歸身白芍藥川連石決明黑梔胡黃連阿膠</p>

<h2>安徽程</h2>
<p>痢疾古稱滯下滯下者暑邪積滯下走腸間也幸得大黃盪滌未成重候然遷延不已已經一月有餘脈形弦細肢體無力溺色清痢色紅白中脘不舒舌苔濕白想是脾腎兩經之陽氣暗傷所有餘邪不能盡化也理中者理中焦此症已及下焦不獨補脾猶宜補腎蓋久痢未有不傷腎耳</p>
<p>附子理中治中地榆防風</p>

<h2>湖南呂</h2>
<p>脈象浮弦弦則為痰浮則為風風邪因外而感痰飲自內而起內外合邪咳嗽並作安內攘外似屬一定章程然言弦脈固在右關而浮之一字見於左者甚微見於右者獨著想是風之所感本經痰之所上實重其在脈論雲浮弦痰飲之謂夫如是則治痰之品宜重於驅風不言而喻</p>
<p>蘇子降氣湯去桂</p>
<p>瀉白散赤苓枇杷葉</p>

<h2>楓橋徐</h2>
<p>諸風掉眩皆屬於肝諸禁鼓慄如喪神守皆屬於心既讀內經即識此病一怒則掉一笑則鼓之病病在心肝也但肥人多濕濕易生痰調養心肝之外必須兼化濕痰未知是否</p>
<p>生地竹茹製半夏陳皮於朮枳實石決明炙艸</p>
<p>朝服天王補心丹三錢</p>

<h2>太倉陸</h2>
<p>脈見兩弦非痰即敗今所嘔者幸有痰涎尚非敗症然久吐不已究恐成敗斷非不敢以痰涎上泛小恙目之惟治痰飲者多用溫法而此間肝陰不足其火本旺舌紅且縐用藥最難況酒客中虛濕熱又勝剛柔相濟之品難矣擬連理湯合戊已法加減</p>
<p>生於術茯苓乾薑炙草制川附白芍陳皮製半夏潞黨參川連　另生薑食鹽飴糖炙草四味煎湯代茶</p>

<h2>廟前洪</h2>
<p>無陰則陽無以化所以大劑清涼病勢依然不改也</p>
<p>細生地犀角牛膝肥知母鮮石斛石膏麥冬南花粉粉丹皮金斛復診</p>
<p>進少陰不足陽明有餘法身熱漸緩大便亦通豈非寒之不寒責在無水之一驗乎然病雖衰而陰虧留熱尚不能平脈數溺疼苔黃口燥自汁神疲多所反復時也豈容渺視仍宜昨法守之</p>
<p>照前方用中生地加蔗汁</p>

<h2>太倉武</h2>
<p>風寒濕三氣雜至合而為痹本宜溫藥和之無如痹日經久三氣之邪亦己鬱熱正在經熱則疼經熱則痹之時又與風寒濕初起見症甚不同所以脈象弦數口舌乾膩小溲帶黃繼之於後也擬蠲痹法加減</p>
<p>當歸赤芍藥羌活片薑黃黃耆嫩桑枝黑梔鮮竹瀝蘆根白蒺藜</p>

<h2>青浦朱</h2>
<p>陰虛生內熱有所勞倦形氣衰少穀氣不盛上焦不行下脘不通則胃氣熱熱氣薰胸中故內熱就此內純而論未有不補陰者也然胃為市脾為使脾虛易泄之體不能為胃行其津液亦易暗生其熱所以脾胃一論始自東垣以補內經之不逮由此觀之似與清燥湯方為合作</p>
<p>清燥湯</p>

<h2>關上金</h2>
<p>痢之一症未有不在乎暑暑邪先伏腸間外因涼氣一朿其毒下注則為痢疾傷於血者其色必紅傷於氣者其色必白白也紅也總不外乎暑毒之所留也然暑毒之外每有飲食之積附和其中所以痢之為名古稱滯下今痢已十有七日積之下者不少暑之解者已多不然紅何以能轉為白痛何以能得大減所慮內留之邪尚隨脾氣下陷苟非脾氣上升則下痢漫無止期矣擬東垣補中益氣湯加減</p>
<p>補中益氣湯去耆加六一香連淡乾薑神麯</p>

<h2>嘉興張</h2>
<p>上吐下疝肝胃兩經宿疾也去冬腹脹因硬而起延及於中二便失調此即臟寒生滿病也良以一陽未生寒物內傷陽氣更虛病情更劇下焦陽氣既因艾灸而醒何不進而求之俾得一陽來復濁氣漸消庶幾有望</p>
<p>來復丹一錢五分清米飲湯送下</p>
<p>次診</p>
<p>大溫之下復滿不減減不足言陽氣極虧即欲來復尚未得生生不息之機至七日庶得一陽</p>
<p>來復丹二錢</p>
<p>三診</p>
<p>一陽來復滿者已減其半豈非美事然中不足三陽未泰尚覺其痞痞者否也否而不泰之謂也</p>
<p>來復丹三錢十服</p>

<h2>太倉殷</h2>
<p>病分氣血不病於血即病於氣然亦有氣血同病者未必各有所分也即如此病胃脘當心而痛起於受餓之餘得食則緩豈非氣分病乎然獨氣分為病得食痛緩宜乎即刻向安而此痛雖能得食而緩午後則劇黃昏為甚屬在陽中之陰陰中之陰之候其為血病無疑況但頭汁出便下紫色脈形弦澀而數更屬血之見證但此血又非氣虛不能攝血之血乃酒熱所瘀者瘀則宜消氣虛宜補消補兼施庶幾各得其所</p>
<p>治中失笑　另元明紛紅曲為末和勻每服二錢痛時服</p>

<h2>三板橋高</h2>
<p>傷寒有或已發熱或未發熱之條以昭寒傷營也此間之寒深入營分營分雖熱而衛分仍不能熱所以膚寒鼻血苔黑口乾甚至舌強難言其熱已畏加以左關獨弦餘皆小兩足厥冷但欲寐胸前痞悶味甜溺頻手振痰血呃忒連嚏濕邪食滯氣結三者既助為虐又因少陰之陰氣不充自顧不暇不能化托諸邪其病更劇曲運神思聊擬一方以冀應手方妥</p>
<p>蔥白淡豆豉黑梔小川連人參肥玉竹川貝廣橘紅藕汁</p>
<p>復診</p>
<p>足之厥冷已溫膚之寒象轉熱脈息之小者又能轉大且數且弦寒鬱之熱頗有開泄之機然其所開所泄獨在大經小絡而肺之臟胃之腑皆不能通氣分陰分仍屬無力以托其邪無怪乎口乾苔黑舌強難言關不開鼻衄嚏出胸悶氣粗呼吸有聲神清不振且兼無慧昏昏默默而睡勢其尚在險途搜索枯腸以盡醫力</p>
<p>小川連山梔淡豆豉淡芩川黃柏桑葉白杏仁花粉川貝母知母大生地竹瀝枇杷葉炒查</p>

<h2>小邾弄馬</h2>
<p>舌乃心之苗苗本於心心為君火其舌宜溫茲何反是左寸脈沉而緩舌色淡白據云口唇早已先寒然後及之於舌因思陽明胃脈環於唇口唇口之先寒陽明府久被寒痰所阻累及於心良以胃土之生生於心火子病及母勢所必然苓桂術甘二陳益智仁遠志開口川椒</p>

<h2>太倉顧</h2>
<p>舌乃心之苗心血內虧其舌少榮無怪乎舌質覺辣甚於煩勞之下天王補心丹</p>

<h2>南濠鄧</h2>
<p>天之熱氣下地之濕氣上人在氣交之中無隙可避感而受者名曰暑暑之為氣也有濕有熱不問可知其為患也成瘧或病不一而足所謂使天只有三時而無夏則人之病也必稀正為此等證而嘆也枯置勿論此間寒熱往來少陽受暑也少陽見證也爾時所受之暑出入於膽經乘勢提之近似有理而不知其在氣分者已從出時而達在血分者反從入時而陷所以瘧疾止後舌苔之黃色依然不改小泄之渾濁亦未化清甚至嘈煩易飢飲食無昧精神萎頓不能復元如此情形已為累事不意風從外束邪自內蒸變為發熱不休獨在陽明之經反不若少陽成瘧尚有歇時也然瘧已轉病一候不解舌質頗紅幹不多飲頭痮且蒙胸悶不開背後獨疼噁心唇燥其勢不輕加以音爍不揚四肢無力豈非陽明血熱無路可出上薰於肺肺熱葉焦則生痿躄耶病勢有增無減精氣會奪者遇之竊恐不勝其任而有昏喘厥塞之虞此乃余之過慮非有意駭人也經云治痿獨取陽明即宗此旨出一枇杷葉散法加減應無不合</p>
<p>枇杷葉茆根西洋參厚朴羚羊角丹皮地骨皮知母川鬱金橘紅川貝母</p>
<p>次診</p>
<p>進前方音之不揚者已揚肢之無力者亦已有力所稱肺熱葉焦則生痿躄之狀可以免矣得之於心應之於手在醫者本宜第身熱之象夜重日輕首還如里背獨尚疼二便失調於下口苦不和於上噁心痞悶於中三焦正病暑氣正多所以脈形弦細不見緩和用藥最難著手然河間論暑每以三焦為訓觀其三焦之邪孰輕孰重則藥即隨之而進退因思此間上下兩焦見症輕於中焦中焦痞悶噁心一減則上下之見症亦可輕鬆痞悶於內噁心於外最為現在所苦速宜和解當以瀉心湯法參入枇杷葉散方中以作結者開之之計如能取效庶免風波</p>
<p>小川連淡芩西洋參半曲羚羊角厚朴川貝母藿香枇杷葉青蒿鮮苑根乾薑取生穀芽焦穀芽煎湯代水</p>
<p>三診</p>
<p>所言三焦見症首如里背之疼口舌之不和二便之不調以及胃脘之噁心噦逆無一而非隨藥向安豈非美事然美中不足獨有身上之熱胸中之痞依然不改因思痞者否也否而不泰之謂也無形之熱有質之濕結而不開變而為痞苟非陽氣得轉則清濁混淆痞無虛日熱無退時久病如此能不慮起風波乎就豚數芤細而論邪留一半正已大虛虛則補之邪則化之斟酌於二者之間出一半夏瀉心湯專開其痞痞若得開熱亦可退否則徙退其熱而亦不能退也</p>
<p>半夏瀉心湯（去參）加薤白</p>

<h2>西匯王</h2>
<p>營行脈中衛行脈外脈為血脈血脈盛則營衛流行血脈衰則營衛阻塞流行者通也通則不痛阻塞者不通也不通則痛痛之為日已久病必在絡不獨氣之為患可知然則通其絡破且氣以使營衛漸和不至有窒礙之弊豈非快事而不知五臟內虧氣血不充陰陽之道路久已難宣急急補之還恐精神不旺氣滯血凝而痛焉能受得攻方夫營即血衛即氧氣者肺所主也其用在右右脅部痛肺之治節不出相傳無權必得培土生金補火生土則真火上騰肺氣自旺旺則燥金當令金不自病矣</p>
<p>制香附附子理中湯歸鬚白芍良薑取旋覆花青蔥新絳瓦楞子煎湯代水</p>
<p>次診</p>
<p>火土合德肺金自旺右脅部痛所以向安也夫肺為五臟華蓋其用在右隔一隔二以補其體以使其用體用兼全痛固不作但秋刑官也肅殺令行宜旺而不宜衰宜通而不塞肺若獨虛一交秋令痛自除矣何反秋深而更痛耶細察病情起於血後大補肺金右脅便痛顯系肺絡之中必有一點瘀血阻其清肅所以當通而反不通漫無止期不獨壯年時形寒飲冷傷肺而已仍宜培補佐以宣通以使肺金日旺瘀積消磨為要</p>
<p>照原方如九香蟲陳皮延胡索薤白</p>
<p>三診</p>
<p>脅部不疼背脊生痮兩腿作痠無一而非三陰之界也三陰之陰氣內旺陽氣必衰衰則濁陰用事為痮為痠以昭火土不能合德氣息自短脈形軟弱嗽痰少寐濁陰之氣已加陽位無怪乎中下兩焦自病矣若非溫通陽氣竊恐白露橫江宿疾復發</p>
<p>附子理中當歸白芍藥新會皮金毛脊薤白九香蟲五加皮</p>
<p>四診</p>
<p>溫通後痛已不作諸恙大愈藥之力耶魔之退耶姑置勿論且論脈為血豚五至為平六至為數三至為遲診得脈來四至既不為數亦難為遲使以平脈斷之似未熨貼何也蓋以未至太息不見五志者亦屬遲脈則為寒又屬陽虛若不以陽和之品日進一日還恐真火難生濁陰竊發</p>
<p>附子理中湯河車當歸身白芍九香鹿角霜金毛脊陳皮五加皮仍取肝著</p>
<p>湯瓦楞子煎湯代水</p>
<p>五診</p>
<p>脈已五至氣血之平也可知平則營衛調和陰陽和協以免亢則為害之機且有承則乃制之力焉然皆藥力之偏見長也而不和久而久之藥力又增氣火火宜少不宜壯壯火食氣少火生氣耳</p>
<p>干河車當歸白芍藥於朮鹿角霜杜仲九香蟲陳皮潞黨參麋茸大茴香炙草兔絲子取肝著湯瓦楞子湯煎代水</p>
<p>六診</p>
<p>風邪從陽而親上上之為言肺也肺為五臟華蓋燥風往往先傷咳逆不爽所謂秋傷於燥上逆為咳是也然觀其效逆之狀薄痰外出咳則稍安竟有嗽意嗽屬脾咳屬肺咳而兼嗽肺風引動脾濕不言而喻</p>
<p>川桂枝茯苓炙甘草於朮白杏仁前胡杜蘇子桑皮金沸草桔梗</p>
<p>七診</p>
<p>風痰咳嗽已除大半脘脅之舊痛復發加以背脹腿痠背為陽腿為陰陽部尚病何況乎陰前此肝胃兩經未有不同患難也究其由來濁陰用事陽氣不宣溫養一法宜繼於辛散之後</p>
<p>雲茯苓桂枝野於朮炙草金沸草麥冬鹿角霜木瓜金毛脊當歸取肝著湯瓦楞子煎湯代水</p>
<p>十診</p>
<p>營衛者陰陽之道路也營為陰衛為陽衛之為言護衛也全在陽氣以舒之茲乃陽氣久虛護衛失職涼風暴感外從皮毛漸漸入於衛以致形寒脈緊苔白背仍脹腿甚痠脘脅苦痛亦不肯罷急須解表以使涼風外達不使郁久發熱為要</p>
<p>川桂枝白芍炙甘草厚朴白杏仁蔥白縮砂仁當歸瓦楞子橘紅</p>
<p>十一診</p>
<p>營行脈中衛行脈外既得桂枝湯一調營衛則脈之中外自得和諧病有向安之處矣然時病時安還在正氣之盛袞無定所以新感之涼風久積之陰寒未能一時化盡推其原究屬陽氣內虧不能敷布使然也</p>
<p>川桂枝白芍炙甘草防風綿黃者當歸雲茯苓乾薑白杏仁陳皮瓦楞子</p>
<p>十二診</p>
<p>鼻為肺竅肺寒則鼻流清涕肺熱則流濁涕茲乃清涕轉濁肺之所感風寒已經化熱表邪解矣不過尚有餘邪留落於鼻間而已姑置勿論就脅痛復作作於霜降始寒寒則氣凝凝則陽氣鬱鬱則營衛不通不通則痛良有以也因思秋分一節大劑溫通其痛本愈何不復之</p>
<p>鹿角霜當歸白芍藥陳皮炙甘草乾姜雲茯苓</p>
<p>十三診</p>
<p>天降繁霜歸之於燥政金令大行矣行則肝木受戕氣從內鬱血亦內凝凝滯則疼郁開則緩所以痛無定所總不外乎肝之部分隨氣之開闔而盛衰也現在手足心熱不比舊時苦冷想是真陽暫通肝氣下郁經云木鬱達之逍遙一法未始不可權行</p>
<p>逍遙散另取白芥子水紅花子蔥白麩皮四味炒熱熨之</p>
<p>十四診</p>
<p>逍遙之下脅上之疼暫止一夜今又移入下脅且中脘連及背脹顯系肝鬱暫開而其濁陰之氣歸併中宮中官之陽氣前不能通後不能運所以脈反拉也斬關直入開通陽氣驅逐濁陰非雄烈之品不足以有為</p>
<p>制川附於術潞黨參乾薑九香蟲炙草白芍藥當歸新會皮另獺肝五分開水磨服</p>

<h2>太倉王</h2>
<p>人生一小天地大塊噫氣其名為風人身噯氣亦即是風風行於地噫由於胃胃即是地地即是胃胃土之病總不外乎肝木所乘腎氣上逆所謂雷風相搏者其在斯乎法當鎮之</p>
<p>旋覆代赭湯四磨湯去枳實左金丸薑棗</p>

<h2>憩橋巷倪</h2>
<p>濕之見於夏者熱濕也熱濕內蒸邪從大便而泄似為美事而不知身中之元氣即於泄瀉而傷傷則所蒸之邪又從內踞大腹脹滿足附浮腫小水短赤飲食減少神情困倦脈象芤數口舌乾燥病勢有加無已每易喘脫進以桂苓甘露飲</p>

<h2>南翔甘</h2>
<p>望得色萎肉削聞得氣怯言微問得右乳腫痛切得脈轉弦急就此四者而論是脫營之症也且脫營將成之兆也夫脫營之候載在內經有其論實未定其所毓仁先生僅以耳之前後定其結腫幸得張氏駁之以為膺乳等部隨處可生所謂始如痰核久則漸大如石是也初起不腫不疼似屬向安無事惟潰則血水一流則不可問矣然腫痛之象其質已熱其色已紅頗有內潰之情當此飲食減少神情困倦腰脊苦疼口舌乾燥寤寐失常少腹下墜氣人上炎氣血大虧肝脾更病竊恐不勝其任矣本宜益氣養營湯法惟嫌膩滯不靈姑以十味溫膽湯加減</p>
<p>細生地茯神酸棗仁陳皮臺入參黃耆煆龍齒川貝石決明霍斛鮮竹茹</p>
<p>次診</p>
<p>進前法寤言已寐眼亦有神即結腫之處紅色咸熱象頗緩有病隨藥轉之機豈非美事但脈之急者雖除而弦數之象依然不改弦主乎肝亦主乎痰數主乎腫亦主乎火痰火交煽肝鬱內結所以堅硬加石有似扎岩乳癖而實不同者還未能開加以食少腰疼口燥言之微腹之墜種種虛象不一而足正在營既內傷症復外形之候也攻補兩難尚須養化以和之也加能日漸向安然後可以正方庶乎近理</p>
<p>中生地茯神酸棗仁陳皮川貝母霍斛臺人參歸身綿黃耆龍齒石決明竹茹鮮鮮活水蘆根</p>

<h2>唯亭吳</h2>
<p>病經旬日惡寒易熱而起本多頭痛現尚體疼紅疹雖發未能透達少汗多煩牙關緊閉舌強發言苔色灰白唇乾齒燥胸悶脘痞小便長轉矢氣曾經厥逆至今氣塞診得脈象皆數右寸關部弦而且滑此係燥風外感引動伏邪已經化火且兼痰食中結互相為患也結而不開往往津液暗傷變為實在痙厥矣速以涼膈法清其無形之邪火導其有餘之痰食以使三焦通利為要</p>
<p>涼膈湯川鬱金</p>

<h2>西街李</h2>
<p>胃為多血之鄉和則降逆則升有升無降熱氣載血上行吐而不止其色帶紫且有濁痰夾雜其中宜治胃也無疑但虛寒之體過服熱藥而夾者不能純用清法宗吐血不止例治</p>
<p>側柏葉炮姜馬通生地歸身炭阿膠淡苓綿黃耆白綿紙灰黃連炙草降香葉取苡仁一兩煎湯代水</p>
<p>次診</p>
<p>進仲景法紫血已除熱渴自減無如痰中帶血胃必不和究其血色已淡責在乎虛虛則脾失所統肝失所藏血從上脫火逆氣升尚須前法加減</p>
<p>原方加雞子黃淮小麥去淡芩</p>

<h2>湖州鍾</h2>
<p>肺為嬌臟不耐邪侵一傷於悲哀二傷於發散從此相傳無權清肅失職木寡於畏怒則為哮毛竅常開寒則亦發當發之時肺金本貯之痰脾家肋生之痰無不上歸於竅呀呷有聲臥難著枕如是者數數矣現在不發之時脈靜而細弦元陽不足非補不可非溫亦不可</p>
<p>紫苑茸桑皮五味子白朮大熟地炙草潞黨參陳皮編黃耆防風銀杏肉半夏雲茯苓當歸</p>

<h2>憩岩楊</h2>
<p>中虛濕熱生痰生飲為咳為嗽甚至為喘喘出於肺關於腎肺病及腎水失金之母也如此日虛一日而所患之濕熱菀蒸於內化熱傷陰溺黃口乾味苦苔白脘痞頭昏耳閉小有寒熱等證繼之於後更覺無力以消所以右脈雖空其形弦大且數左部雖沉反見弦急不舒從肺腎立方本屬堂堂正正無如濕熱反蒸乎</p>
<p>甘露飲去草水泛資生丸取炒香花生果肉煎湯代水</p>
<p>復診</p>
<p>寒熱一除精神有半日之爽未幾復蹈則轍是濕邪尚盛為熱熱又蒸濕蒙其清竅將前之減其補者重乎清降</p>
<p>大生地麥冬半夏茵陳西洋參川斛枳殼蘇子枇杷葉桑皮通草竹瀝</p>

<h2>楓橋徐</h2>
<p>咳嗽於前風也痛痹於後濕也風濕一病於外伏暑內動於中以致寒熱如瘧八日不退診得右脈弦中帶數左部雖數偏見濡象數之一脈誠屬暑氣所形而弦且濡者又屬風少濕多因思汗出不已而多暑之不能速化者原被暑氣肋遏難以因風而達然則面色黃滯舌苔滿白小溲短赤從未發渴豈非熱處濕中之謂乎若就暑邪透達非先化去其濕則不能也然遲之又久往往暑不外達反從內走增出一番險症不可不防蓋以邪無中立不出則進耳</p>
<p>赤苓茅朮製厚朴滑石炙草丹皮草果仁陳皮杏仁桑葉淡乾薑</p>
<p>次診</p>
<p>面之滯色已開濕邪有暗化之機矣是以右脈弦象稍緩左之濡脈略弦脈之轉移病之化動自然相應惟數象仍然寒熱稍輕舌苔漸薄小溲亦不為短明系暑氣尚留濕還內勝無他暑必夾濕濕去則暑亦自消若非此理古人之消暑在消其濕何以言之宗消暑法參入苓朮湯中以使再減然體質素虧不得不以一甘一寒之法佐之</p>
<p>酷炒半夏赤苓甘草橘紅淡乾薑杏仁藿香滑石草果仁桑葉川樸茅朮</p>
<p>三診</p>
<p>濕從溫燥而減病情已緩然濕為黏膩之邪最難驟愈無怪乎暑氣還郁小有寒熱如瘧而作舌苔雖薄口尚不渴面滯雖開其色未亮加以小溲不利肢體不松脈弦帶滯所謂脾為濕所浸淫而重滯其在斯乎轉以縮脾飲佐以五苓散</p>
<p>草果仁砂仁桂枝赤苓醋炒半夏豬苓茅朮葛根建澤瀉扁豆</p>
<p>四診</p>
<p>濕衰大半是以諸恙輕減所嫌但熱不寒一日兩度有似癉瘧而並不煩嘔發渴脈弦帶滯無他暑濕之邪尚留脾部兼涉少陽所以白苔之外咽乾帶苦每見於清晨也古語云含助陽別無驅濕之法又云治濕不利小便非其治也宗此兩條而出一清脾飲仍佐五苓散以使脾陽漸勝邪從小便而出不再入於少陽恰合現在病機</p>
<p>清脾飲用芎術五苓散</p>
<p>五診</p>
<p>白苔化為黃色濕邪退矣暑猶在也暑之所在布於三焦脈來濡數今口知干小便未利胸次或痞發熱兩度正須透達之時法宜提化但苔有剝處陰被暑傷際此秋氣平分雖難滋補亦不可不顧其陰</p>
<p>青蒿丹皮滑石甘草茯苓澤瀉淡芩橘紅萆薢薏仁穀芽</p>
<p>六診</p>
<p>診得脈數者熱也內由暑邪所化也暑必夾濕起於傷風是以午後發熱夜半而衰尚有如瘧之狀中土之邪究涉少陽近來之口苦咽乾實出於此至於疹塊外發風之餘氣亦屬透達所嫌大便溏熱腹中隱痛腸間不無暑滯舌苔剝落陰分已虧當以虛中留實之時治宜扶正化邪而出一小柴胡湯加減柴胡淡芩製半夏甘草青皮防風天花粉茯苓</p>
<p>七診</p>
<p>大汗之下身熱竟退暑邪解矣則餘邪未盡陰氣必傷自然午後微熱尚加瘧狀舌苔之剝落小便之渾濁飲食之少進未當不為此也脈來濡中帶數正宜清養兼施以冀漸入佳境</p>
<p>鮮荷葉粳米雲茯苓炙草西洋參丹皮白芍藥川斛地骨皮陳皮</p>
<p>八診</p>
<p>病日經久暑必化燥秋分以後天時之燥身中一水不能勝此兩燥陰分更虧</p>
<p>此舌苔剝落身體如熱之所未利也法當養陰佐以泄熱</p>
<p>細生地天冬石斛丹皮西洋參骨皮鮮藕麥仁白芍藥茵陳</p>
<p>九診</p>
<p>燥已化陰亦生病經向愈矣所嫌小水渾濁陰頭髮癢飲食少連酸水會溢想是脾胃內虧下照之濕熱還未盡淨主以和養兼理餘邪</p>
<p>生冬朮茯神廣陳皮半曲川萆薢烏藥西洋參食鹽益智仁</p>
<p>十診</p>
<p>病退轉虛所以營衛分爭之下汗出過多心悸神疲脈左更弱少情加以水液渾濁雖屬膀胱腑病而少陰腎經亦未必不虧也急須封因以免後患</p>
<p>三才封髓五味子麥冬龍骨牡蠣</p>
<p>十一診</p>
<p>左脈有神汗出亦少宜補可知據述小溲已暢其色渾濁或有如膠因思膀胱餘邪每易延及腎經封固元氣之內寓以大補其陰</p>
<p>三才封髓大補陰去豬脊筋龍骨牡蠣雲茯苓</p>
<p>十二診</p>
<p>虛波已定所嫌小溲渾濁飲食過多方脈細右帶數責任腎陰不足其火有餘加以膀胱府熱留濕所化也主以補陰兼清其火</p>
<p>固本三才封髓大補陰</p>
<p>十三診</p>
<p>當聞中氣不足溲便為之變變者變其清白之常化出渾濁之水也濕病後中氣必虛虛則氣陷下焦濕熱隨之滲入膀胱與腎相為表裡之府久而久之竊恐虛及藏里須以守中法砥柱中流</p>
<p>歸脾去龍眼大生地天冬陳皮</p>
<p>十四診</p>
<p>病愈後先便後血名曰遠血良由心生之血內被濕熱之熱氣所迫以致肝失所藏脾失所統下注陰絡而泄也現在腹中隱痛未免瘀熱未清際此霜降始寒可以加味歸脾之外合入以黑止紅之法分頭治之</p>
<p>黑歸脾丹皮黑梔槐花炭</p>
