<header data-type="book">
<h1>貫唯集</h1>
</header>

<h1>序</h1>
<p>蓋以醫學之難言也，尚矣。聖如軒轅，得天獨厚，猶有岐伯、臾區之問答，而成《內經》；賢如仲景，仁術是崇，亦有或問師曰之文，而著《傷寒》、《金匱》。可知璞玉雖美，非雕琢無以成其器，醫學雖勤，非師授無以濟於世也。不佞早廁醫流，耽心《靈》、《素》，而秉資愚魯，不免欺人，自弱冠以迄古稀，夫復何言，所幸師承有自，實獲真傳，五十餘載以來，得有一知半解，藉為餬口，資賴有是耳。然所閱諸證，所定諸方，隨成而隨棄，不留片紙隻字者，惟恐措辭不當，見哂於人也。今也諸生等不以余為不才，降心相從，來遊於門，將日診醫案方藥擇業經見效者，一一筆之於書，漸匯成帙，請序於予。予見之不禁駭然驚，赧然愧，更復色然喜也。曷為驚，余學淺才疏，而蒙世見賞，所謂受寵若驚也。曷為愧，余不學無文，竟欲以此問世，能不撫心自愧耶。然則喜者何為乎，留斯醫案即所以留我微名，不與草木同腐，使後世猶知有是人也，是以私心竊喜也。故不特不令其扯雜摧燒，而且聽其覆瓿焉可耳。爰顏之曰貫唯。夫貫唯者，聖賢心心相印之謂也。余何人斯，而敢竊比之乎，緣聖賢以傳道之心，垂治世之法，憑授受而詔諸百世，余亦以濟世之心，留活人之術，並開後學之法程，道雖不同，而設心則一也。且諸生等性秉謙純，推誠相與，而問道於盲，余何忍枕秘《論衡》，致失無隱之旨乎。噫嘻，人之患在好為人師，今固儼然為師矣，則可患者孰甚，能不朝乾夕惕，以自勵也哉。</p>
<p><u>清光緒己亥小春月，璇璣洞主通意子自序，時年七十有五歲</u></p>

<h1>一、肝風</h1>
<p>（案1）劉，右。肝脾不和，積久化風，上擾則為頭暈嘔逆，下陷則為腹滿膨痛。茲當春回陽動之時，病勢有增無減，春分前後有意外之變，急宜慎調為囑。</p>
<p>香附　半夏　陳皮　茯苓　白朮　首烏　甘菊　青皮　決明　延胡　炙草　砂仁　姜竹茹</p>
<p>（案2）張，右。脈象浮數而濡，舌白帶膩，不時沉沉頭暈，胸痞脅膨。此肝邪乘春令之威，倏動倏靜，無有寧止。據述近復經停二月。法當先理肝邪，俟其小愈，再議調經。</p>
<p>香附　首烏　白朮　茯苓　延胡　青皮　瓜蔞　池菊　陳皮　烏藥　木香　鉤藤　砂仁　生熟　苡仁</p>
<p>（案3）朱，右。脈象左弦數，右弦緊，舌白罩藍少液，不時頭暈如蒙，漾漾欲嘔，胸痞失暢，食谷不多，而易飽難化，此肝陽乘春令之威，犯肺則頻咳，犯胃則欲嘔，胸膺填塞，氣不流行，火風肆擾使然也。兼之酒客中傷，易成痰飲。若不急治，交長夏濕土司令，恐有諸病叢生之累。擬進仲景法。</p>
<p>旋覆花　瓜蔞皮　法半夏　蘇子　沙參　茯苓　枳實　炙草　橘紅　延胡　丹皮　雙鉤　甘菊　竹二青</p>
<p>（案4）江，右。平昔肝胃氣逆，胸脘不時作痛，時發時止有年矣。近復感冒風寒，兼夾溫邪，咳嗽痰黏，胸痞少納，翕翕發熱，淅淅惡寒，其邪蟠踞不徹所致。法當先理標恙，再圖本病。</p>
<p>旋覆花　杏仁　蘇子　赤苓　山梔　橘紅　連翹　半夏　採芸曲　六一散　白蔻　桑葉</p>
<p>（案5）宋，右。脈濡細，舌微白，胸痞氣逆，腹膨脛腫，此肝火化風，擾及太陰脾臟，上冒則為頭暈嘔惡，嘔甚痰中帶血，踞中則為䐜脹，侵下則腿足諸病見矣。症非輕淺，急宜怡情安養，方可冀痊，若徒恃藥餌恐無益耳。</p>
<p>旋覆花　蒺藜　半夏　陳皮　蔻仁　瓜蔞　茯苓　延胡　青皮　木香　鉤鉤　炙草　竹二青</p>
<p>（案6）王，右。五旬以外，經水按月仍至，且致趲前，是血虛生熱，逼其妄行也，脈弦數，舌白，不時頭暈欲嘔，亦肝陽乘春氣上升，掀旋鼓盪使然。若再失治，交長夏濕熱交蒸，恐有腫脹之累。</p>
<p>中生地　白芍　川芎　歸身　綿耆　條芩　甘菊　石決明　牡蠣　炙草　延胡　烏賊骨　木香　蔻仁　蒺藜　元眼肉　棗</p>
<p>又：服前劑略見效驗，因誤食海鮮，以致肝陽振動，上擾則為頭暈，下陷則為便溏淋帶。以仲景法先理其中。</p>
<p>黨參　白朮　香附　半夏　延胡　木香　雙鉤　川斷　杜仲　枳殼　炙草　茯苓　蓮子</p>
<p>（案7）劉，右。脈形濡澀，舌胖而干，先由郁損肝脾，嘔吐酸水，繼由肝陽上逆，頭暈眩冒，四旬以外，經水愆期，腰腎脊膂不時酸楚，是臟病延及八脈也。據症合脈，殊為深固，須防漸成蠱疾耳。</p>
<p>瓜蔞仁　薤白頭　旋覆花　牡蠣　白朮　老蘇梗　半夏　代赭石　枳實　茯苓　生熟苡仁</p>
<p>（案8）劉，左。古稀之年，五液不足，前患血症，雖不復發，而病株實根於此，近患食入不多，入則反出，膈噫之象已見，脈弦數，非易效也。</p>
<p>（方缺）</p>
<p>（案9）張，左。脾虛肝旺，痰氣水液交侵，去秋至今正氣未肯來復，飲食如常，而人則不舒，近見臍腹躍躍跳動如梭，脈形搏數帶弦，舌胖而白。用《金匱》法緩調之。</p>
<p>旋覆花　猩絳　瓜蔞　半夏　白芍　甘草　白芥子　牡蠣　白朮　枳實　陳皮　茯苓　穭豆衣　青蔥管　竹二青</p>
<p>又：前進《金匱》法，臍腹跳躍得止，脈亦略能和緩，寢食如常，是得效之徵。再以補中，兼佐化痰，可冀全功。</p>
<p>太子參　白朮　茯苓　炙草　新會皮　製半夏　茅朮　牡蠣　石決明　歸身　瓜蔞皮　白芍　白芥子　穭豆衣　棗子　青果</p>
<p>又：太少二陰素虛，漸延厥陰，以致肢懶乏力，心中懊憹，驚惕肉瞤，脈形滑數無神，舌白微黃，此濕痰乘虛入絡，漸有痙厥眩冒之變。擬進養陰化痰，以清絡道，酸苦鎮攝，以安神氣，加以慎調，猶可冀痊。</p>
<p>南沙參　白芍桂枝二分炒）　茯苓　菖蒲　玄參　龍骨　丹參豬心血拌炒）　牡蠣　天竹黃　南星　半夏　甘草　柏子仁　歸身　木香　橘紅　薑汁　竹瀝</p>
<p>（案10）張，右。病由春季木旺傷脾，脾絡氣阻，而成單單腹脹，自春及夏有加無已，刻復食入不舒，嘔吐漾漾。六旬以外患此，難許霍然。</p>
<p>半夏　白朮　蔞皮　茯苓　青皮　高良薑　砂仁　川樸　川連　橘絡　採芸曲　烏藥　枳實　香附　佩蘭葉　佛手</p>
<p>（案11）翁，左。寒濕鬱久化熱，眼目肌膚痿黃，肢酸腿軟，行動乏力，耳內不時鳴響，頭眩欲僕，指節麻木。此血虛氣弱，邪氣乘之也。急宜慎真調理。</p>
<p>川芎（一錢）　茅朮（一錢半）　半夏（一錢半）　青陳皮（各一錢）　牛膝鹽水（炒，一錢半）　木瓜（炒，一錢）　秦艽（半生半炒，二錢）　天麻煨，一錢）　首烏（三錢）　羌獨活（各一錢半）　川芎（炒，八分）　歸身（一錢半）　五加皮（炒，二錢）　蔓荊子（炒，打，二錢）　防風己（各一錢半）　干桑葉（一錢）　烏芝麻（三錢，二味同炒）　</p>
<p>（案12）趙，左。厥陰肝木體不足而用有餘，遂致太陰脾土受制，陽明陽土失其升降之司，刻當新涼外束，引動長夏所伏之邪，是以胸痞飽悶，飢不欲食，頻頻作噯，脈來細數帶弦。法當疏肝順氣，以調脾胃。</p>
<p>厚朴　半夏　瓜蔞皮　白蔻仁　蘇梗　橘紅　香附　赤茯苓　佩蘭葉　萊菔子　炙草　枳殼　青皮　沉香曲　鮮佛手</p>

<h1>二、牙痛</h1>
<p>（案1）王，右。營血不足，水虧木旺，陰火上升，牙痛綿綿不止，脈來左手弦而帶搏，右濡弱而數，舌苔光。陰虛陽亢，津液內耗，燥氣上淫，頭筋板掣。法宜柔肝和陽，兼滋陰液，則不治痛而痛自止矣。</p>
<p>白蒺藜（炒，去刺）　杭菊炭　丹皮（炒）　川石斛　制首烏　冬桑葉（炙）　茯神　細生（地炒）　橘絡石決明（煅）　桑白皮　穭豆衣　穀芽</p>

<h1>三、虛損</h1>
<p>（案1）劉，左。病經八旬，反復多端，今復寒熱如瘧，時止時作，汗泄過甚，此陰虛，陽不戀陰，氣隨上泄也。小水赤澀，大便或結或溏，乃氣化不及所致。脈來弦數而緊。據病勢實為險重，蜂起變端在邇矣。姑擬一方，以冀萬一之幸。</p>
<p>制首烏　潞黨參　白朮　茯苓　麥冬　真阿膠（牡蠣粉同炒）　炙黑草　炙耆皮　方通草　東白芍　雞子黃　白糯米（童子手內揉熟）　</p>
<p>又：病患久延不復，二氣造偏，氣血虧損，經治後已曾得效，是千萬之幸也。孰意不善調攝，一傷於早沐，再傷於食滯，遂致大汗復作，淋瀝若雨，猶幸泄而肯收，是所越之陽還知潛復，尚可望其收功，若再蹉跎忽視，恐難措手耳。今擬峻劑補之，以救功虧一簣之失。</p>
<p>潞黨參（元米炒，去米）　冬朮　歸身　白芍　山萸肉　淮山藥　麥冬　棗仁　炙草　炙綿耆　五味子　茯神　紅棗</p>
<p>（案2）須，左。據述病情去秋起症，時止時作，經春復患寒熱，來期似瘧非瘧，現診脈象弦數帶沉，舌根燥厚微青，臟液已被灼傷。據症合脈，外邪已解，不必再進清散，擬用甘涼以養陰液，微苦以疏絡道，調養得宜，可望霍然。務宜靜養，勿勞陽氣，則陰氣自能潛生矣。</p>
<p>大原地（囫圇）　麥冬　玄參　炙草　阿膠　柏子仁　麻仁　金石斛　地骨皮　川貝　女貞子　白茯苓　上白糯米</p>
<p>改方：前方去茯苓、貝、斛，加遠志、棗仁、洋參、冬朮</p>
<p>（案3）何，左。既冠之年，體氣未能充長，不時翕翕發熱，鼻齒盈盈溢血，面色㿠白，慘淡不華，其為先天不足可知。脈來細數，舌白少津。急宜益脾胃，兼清灼熱，俾後天生氣來復，自能雄壯耳。</p>
<p>西黨參　焦白朮　茯苓　炙草　地骨皮　女貞子　淮山藥　丹皮　青蒿　穀麥芽　金石斛　半夏曲　麥冬　紅棗</p>
<p>（案4）顏，左。平素曾患吐血，去冬經治血止，至今不復發作，是深幸也。然陰氣大虛，逼陽於外，以致翕翕發熱，日漸羸瘦，動則氣上而促，脈來數疾，舌乾少津，乃勞損之根萌也，理之非易。</p>
<p>中生地　大麥冬　天冬　花粉　知母　元參　女貞子　金石斛　炙草　青蒿　生鱉甲　生龜板　炙黃柏　阿膠　淡菜　蓮心</p>
<p>（案5）包，右。久病正不肯復，肺胃之陰失其涵養，遂致肺管日窒，胃口日索，是以飢不欲食，納食不下，不時猶有寒熱，脈形細弱無神。當茲春陽鼓盪、百草齊長之際，其病有加無已，求其日漸向愈，恐難應手。姑擬仲景法合東垣方，緩緩投之，以冀萬一之幸。</p>
<p>上洋參　麥冬　旋覆花　五味子　茯苓（人乳拌蒸）　東白芍　歸身　生穀芽　毛燕（去毛，另煎汁沖服　冬蟲夏草　京元參　海蜇</p>
<p>又：二次復診。前進育陰養液之屬，胃納頗適，脈亦漸調。此胃氣來復之機，實為佳兆。再能加意靜調，庶無他變。</p>
<p>大生地　天麥冬（各）　歸身　白芍　炙上耆　黨參　元參　山藥　茯苓　炙草　五味子　穀芽　牡蠣　紅棗</p>
<p>（案6）張，右。及笄之年，失於調養，女紅針黹過勤，肝脾受病，是以頭為之動搖，耳為之苦鳴，經事欲似愆期，不時翕翕發熱，童癆之漸也。若再血海告竭，其患伊于胡底，猶幸脈象未至弦洪，速宜靜調，藥餌尚可措手。</p>
<p>細生地　歸身　白芍　女貞子　烏賊骨　茜草　香青蒿　地骨皮　阿膠（蛤粉炒）　生鱉甲　干首烏　玄參　甘菊炭　炙草</p>

<h1>四、小兒門</h1>
<p>（案1）包，幼。稚年陰氣未全，陽氣獨盛，加以多食香甜，飢飽寒暖失調，致成五心熱熾，夜分寤不肯寐，更屆長夏濕蒸，虛體最易感邪。擬進清暑泄熱，消食化痰，以免成驚疳之累。</p>
<p>青蒿（炒，一錢）　地骨皮（一錢半）　半夏（一錢）　赤茯苓（一錢）　六一散（二錢）　黃芩（炒，五分）　枳殼（五分）　澤瀉（八分）　豬苓（一錢）　苡仁（三錢）　山梔（一錢）　神麯（二錢）　麥冬（二錢）　陳皮（五分）　佛手（二錢）</p>
<p>（案2）陳，左，幼。稚年陰氣未全，陽光易冒，痰濁漬於絡脈，膠黏不化，始由周歲時驟發驚癇，甚則不省人事，迄今八載，屢止屢作。刻診脈滑數帶弦，舌苔薄白。先擬湯飲，俟其漸緩，再議丸劑。</p>
<p>西黨參　粉歸身　製半夏　制天蟲　陳皮　膽星　白芥子　廣鬱金　藿香　延胡　杏仁　翹殼（十四爿，白礬少許，包）　竹瀝　薑汁</p>
<p>（案3）包，幼。稚年猝受驚觸，內停油膩黏滯之食，加以清晨多飲酒醴，膠結於中，亂其神明，氣為之不舒，熱為之上千，以致目睛上視，口開不語，齒嚼流血，舌為中斷，其血從鼻而注，視指紋隱伏不顯，兩脈短促。據此病脈情形，實為棘手，因念敦請之誠，勉擬此方，不識藥能下咽否，書之以候高明酌定。</p>
<p>烏犀尖　羚羊角　川連　生黃　淨鉤　黑梔　膽星　天竹黃　生草　菖蒲　元參　連翹　全蟲　天蟲　廣鬱金　皂莢（敲松去皮弦核，炙竹心）　燈心</p>
<p>（案4）周，幼。驚發驟然而來，厥而醒，醒而蒙，神呆不語，口緊齒蚧，腹膨便泄，甚則陰囊抽縮，筋紋與脈象均屬模糊。稚年患此，頗為凶候。先進牛黃丸一服，俟其神氣甦醒，再用後方。</p>
<p>川樸　杏仁　腹皮　枳實　香附　木瓜　淡芩　赤苓　六一散　香薷　豬苓　鬱金　石菖蒲　絲瓜絡　竹燈心（各）　</p>
<p>（案5）韋，幼。寒熱日輕夜重，微汗不暢，大便時溏，脈濡數弦，舌白少津。稚年陰氣未全，孤陽獨甚，所感暑邪充斥三焦，是以淹淹不已。擬用白虎加人參法，冀其少減，方許無礙。</p>
<p>洋參　熟石膏　知母　淡芩　桂枝　茯苓　白芍　益元散　寒水石　青蒿　苡仁　竹葉　煨姜　白元米</p>

<h1>五、斑痧疹瘰</h1>
<p>（案1）章，幼。痧後八九日，沉伏太早，餘邪乘機下陷，復因過食生冷，以致邪凝氣滯，太陰脾臟濕阻，郁毒上擾則喉腫蒂腐，咳嗽頻頻，痰黏不爽，下注則毒聚腸胃，澼澼下利，上下交病，盤踞中都，飲食不思，而成噤口。閱手指經紋混混不顯，按脈細數帶弦。症勢非輕，從丹溪、東垣法，擬苦降泄其熱，甘涼養其陰，以望輕減為幸。</p>
<p>鮮沙參　細川連（半生半炒）　淡黃芩　生甘草　焦枳殼　地榆　銀花　牛蒡子　大連翹　貝母　青皮　赤苓　蓮子　甘蔗皮　嫩竹葉</p>
<p>又：痧後餘邪留戀未清，四肢腫脹時冷，晨輕暮重，脈象細數，舌白尖紅。此脾虛氣陷，土衰不勝水。恐延重恙，宜補中益氣，兼佐化痰為治。</p>
<p>上洋參　焦白朮　白茯苓　東白芍（桂枝同炒）　粉歸身　軟柴胡　綠升麻　廣陳皮　小青皮　生穀芽（檀香屑同炒）　老薑　大棗</p>
<p>（案2）包，左。氣虛，腠理不密，風邪乘之，留於分肉之間，發為丹疹，脈形浮而濡。當用益氣疏邪，以清表熱。</p>
<p>南沙參　大麥冬　荊芥　甘草　茯苓　山梔　貝母　連翹　橘紅　丹皮　枳殼　玄參　銀花　蔗皮</p>
<p>（案3）錢，左。脈形搏數而弦，舌乾苔厚微黃，病經半月，未得暢汗，刻現便泄腹滿，口渴而不多飲。此邪欲達不達之象，防有斑疹之變。擬進透邪養液，以望轉輕為幸。</p>
<p>鮮沙參　大力子　連翹　薄荷　象貝　桔梗　枳殼　淡芩　羚羊角　皮杏仁　鉤鉤　豆卷　甘草　芫荽</p>
<p>（案4）金，左。遍體發生赤斑，搔癢無度，四竄不已，此陽毒症也。用藥當從血分理之。</p>
<p>細生地　歸身　丹皮　赤芍　蒺藜　地膚子　紫草　白茯苓　澤瀉　鮮首烏　生草</p>
<p>（案5）劉，左。遍體發瘰，搔癢無度。病由毒觸清道，羈留於分肉之間，若失其治，最有成瘋之慮。擬方以候尊裁。</p>
<p>鮮首烏　柏子仁　蘇合油　苡仁　豨薟草　金銀花　茅朮皮　白蘚皮　生草節　萆薢　澤蘭　枳殼</p>
<p>又：前年曾患漆瘋，經治得痊，晨下復發，加以耳衂溢血，脈芤數。數為氣熱，芤為血虛。當以甘涼益其陰，苦降泄其熱，絡道得清，可望寧復。</p>
<p>鮮生地　鮮首烏　歸鬚炭　白芍　黃柏　橘絡　青蒿　荊芥炭　炙草　鉤鉤　銀花　山梔</p>
<p>（案6）某。痧後正氣未復，早於起動，風邪乘虛而入，復因滯物停中，以致復病。病經五六日，其中變態多端，雖經大解，而表裡之邪仍未清泄，將有邪陷痙厥之變。刻診脈象乍疏乍數，時大時小，舌苔尖紅根垢，其色灰黃，神識若明若昧。據症合脈，已入險途，姑擬一方，以冀輕減為幸。</p>
<p>（方缺）</p>

<h1>六、咳嗽</h1>
<p>（案1）周，左。診得脈左弦數，右濡數，所患咳嗽雖減，惟於清晨乍寤時尚未寧止，此木火刑金之徵也。據述下部或有遺泄，亦是龍雷無形之火為病。於茲冬令，加以慎調。</p>
<p>紫菀　牡蠣　貝母　玉竹　沙參　玄參　龍骨　北沙參　山藥　五味子　金櫻子　百藥煎　炙草　蓮鬚</p>
<p>（案2）張，左。久咳不已，氣機失順，臥則其咳愈甚。此積寒化燥之症，須防失音吐血。</p>
<p>旋覆花　甜葶藶　瓜蔞仁　沉香　杜蘇子　桑白皮　甜杏仁　白茯苓　廣橘紅　枳實　生蛤殼　北紫菀　生甘草　枇杷葉</p>
<p>（案3）劉，右。脈來細數，咳嗽止而復作，痰色淡而復黃。近因勞碌傷陽，惱怒傷肝，若不窮治，每多反復。</p>
<p>南北沙參　川貝　石斛　紫菀　桑白皮　瓜蔞仁　旋覆花　橘紅　苡仁　茯苓　炙草</p>
<p>（案4）朱，左。久咳氣虛，腠理不密，遂致藩籬失其司閉，外邪得以乘機而襲，脈弦數，舌苔微垢，身熱，氣逆如喘。茲當春陽鼓盪之際，肝木用事，上逼肺金，最有失血之變，當慎之。</p>
<p>旋覆花　大連翹　白杏仁　沉水香　軟白薇　瓜蔞仁　杜蘇子　大豆卷　香青蒿　焦山梔　粉前胡　炙草　貝母　赤苓　蔗皮</p>
<p>（案5）於，右。據述夏季㗜受痧藥過重，上干腦戶，驟致咳嗽頻頻，於初秋痰中曾帶血液，前醫愈治愈劇。刻脈右細數，左澀數，舌苔滿白而膩。此藥毒與濕邪互結也。擬進泄濕化毒並治。</p>
<p>桑白皮（炙，二錢）　廣藿香（一錢半）　大連翹（一錢半）　正川芎（炒，八分）　杜蘇子（炒，打，三錢）　象貝母（打，三錢）　川厚朴（五分）　杜橘紅（鹽水炒，五分）　赤茯苓（三錢）　旋覆花（一錢半）　霜桑葉（炙，一錢）　滑石塊（三錢）　鮮藕尖（一個）　瓜蔞仁（打，三錢）　炙甘草（四分）</p>
<p>（案6）陳，左。刻診脈象弦緊而澀。弦為風，緊為寒，澀為血不足而氣有餘，是以久咳不已，形神黯慘。急宜慎調，否則有肺痿之變矣。</p>
<p>旋覆花　瓜蔞仁　杏仁　象貝　蘇子　知母　前胡　桑葉　兜鈴　炙草　蛤殼　百部　香梨　枇杷葉</p>
<p>（案7）嚴，右。肺熱葉焦，咳嗆痰腥，偶帶血縷，口中澼澼燥，胸中隱隱痛，是肺痿之徵也。刻診脈芤弱無神，症非易效。</p>
<p>旋覆花　桑葉　貝母　生熟苡仁　鮮沙參　知母　生草　紫菀　蘆根　瓜蔞仁　茯苓　杏仁　枇杷葉</p>
<p>（案8）朱，左。診得脈象數而帶弦，咳嗽發熱自秋及冬，屢減屢劇。症由鬱怒傷肝，木火熾甚，反刑肺金，肺葉受燔，津液欲涸，防有成痿之變。來春諸陽上升，最宜防慎，否則吐紅將至矣。</p>
<p>旋覆花　蔞仁　冬瓜仁　杏仁　梔仁　蘇子　兜鈴　象貝母　知母　桑葉　茯苓　甘草　枇杷葉　紫菀　苡仁</p>
<p>賜方：天一生水，腎屬水，水虛不能剋火，地二生火，心屬火，火盛反能勝水，兼之金有所傷，水因之而益涸，木無所制，火藉之而愈熾，虛陽日盛，真陰所以日衰也。余視此症，宜心腎交治，以取水火既濟之義，庶幾可以挽回一二，得以漸臻於康泰。雖然志涵之病，固當服藥，亦不可僅服也，宜於早晚之間，行人定之功，世務悉屏於度外，家事不切於意中，其病可卻，其心中不知果能若是否。余姑擬方。</p>
<p>金石斛　遠志炭　石蓮肉　抱木茯神　柏子仁　香百合　生苡仁　旱蓮草　女貞子　芡實　藕節</p>
<p>又方：鮮藕汁（一杯）　蘿蔔汁（一杯）　生薑汁（半杯）　甘蔗汁（一杯）　香梨汁（一杯）　人乳汁（二杯）　童便（半碗）　水晶糖（三兩）</p>
<p>共煎三沸，朝朝飲一茶匙，用白滾湯沖服，服後即服前藥，此數汁治其痰嗽也。</p>
<p>（案9）吳，左。脈象較前略和，熱灼亦減，惟咳嗽尚未寧止，每交寅卯時汗泄過多。是陰虧陽冒，氣火易燔所致。再擬前法加減。</p>
<p>南沙參　麥冬　茯苓　紫菀　蔞皮　橘紅　炙草　山梔　貝母　石決明　玄參　兜鈴　冬瓜仁　牡蠣</p>
<p>（案10）夏，左。病後正氣未復，陰陽氣乖，咳嗽痰多，前曾見血，今雖乍止，而病根仍固。擬於補益中略理痰嗽，以望全功。</p>
<p>綿耆　沙參　玉竹　山藥　白芍　茯苓　川石斛　麥冬　五味子　炙草　牡蠣　百合　紫菀　西瓜翠衣</p>
<p>（案11）宋，左。咳嗽經四旬不止，鼻塞頭痛，時解時作。述病情固由感邪而起，表散用藥不為錯誤，茲以秋令漸深，燥氣用事，滋養尚恐不及，可復進溫熱之屬乎。刻診脈沉伏無力，加以耳聾失聽，其邪踞清道顯然，營血因之有損，嗽若不止，恐有吐紅氣逆至矣。</p>
<p>細生地（囫圇）　二泉膠（溶化沖）　大麥冬　黑草麻仁　五味子　玄參　細辛　辛夷　川芎　茯苓　橘絡　枇杷（葉拭去毛，炙）　</p>
<p>（案12）陶，左。痰飲久年，咳喘氣逆，甚則不得臥，近更痰中溢血，脈濡數帶緊，舌乾少津。先用仲景法理之。</p>
<p>麻黃　杏仁　白朮　炙草　葶藶　苡仁　白芍（老桂木一分煎汁炒）　冬瓜仁　甜瓜子仁　白芥子　玄參　麥冬　茯苓　大棗</p>
<p>（案13）金，右。脈象洪數，左部略弦，時覺身熱，咳嗽微作，而痰黏青色。此木火有餘，反刑肺金也。擬用清肅涼潤，以平木火。</p>
<p>鮮沙參　玄參　杏仁　紫菀　百部　冬瓜仁　川貝母　青蒿　地骨皮　丹皮　橘紅　蘇子　白茯苓　炙草　白殘花　甘蔗漿</p>
<p>（案14）劉，左。濕遏熱伏，上逼肺胃，先曾眼腫殊甚，因過服寒涼，遏其生髮之機，以致咳嗽頻頻，痰中帶血，脈左弦右數。病根非淺也。</p>
<p>青蒿　前胡　桑白皮　瓜蔞仁　冬瓜仁　杏仁　蘇子　橘紅　沉香曲　馬兜鈴　紫口蛤殼　炙草</p>
<p>（案15）陸，左。素患咳嗽，去冬經治後咳止體適，際此春陽鼓動，木火用事，刑及肺金，其咳復作，肺絡已被損殘，更見咯血。沖年患此，務宜加意防慎，若仍忽略，損途不遠矣。</p>
<p>北沙參　大麥冬　花粉　玄參　川貝　知母　製半夏　旱蓮草　茯苓　甘草　紫菀　旋覆花　杏仁　竹茹</p>
<p>又：沖年陰氣未全，智識早開，龍雷易動，上刑肺金，咳嗽咯血，今逢春陽勃發之時，其症復作。前案已有損途之戒，今雖暫止，其根未拔，還宜格外防慎。</p>
<p>旋覆花　代赭石　麥冬　旱蓮草　紫菀制　半夏　北沙參　苡仁　茯苓　白芨　炙黑草　竹二青　青果　川百合　橘紅</p>
<p>（案16）劉，右。病由上年產虛不復，熱灼陰傷，肺葉為之焦涸，咳嗽頻作，吐痰濃厚氣穢，近復汗泄過多，乃營虛損及表分，口中澼澼燥，胸中隱隱痛，肺痿之象顯著。擬進甘涼養陰以肅肺金，微苦微辛以潤肺絡，緩緩調之，庶幾漸臻佳境。</p>
<p>白玉沙參　麥冬　冬瓜仁　瓜蔞仁　象貝母　玄參　紫口蛤殼　紫菀　生苡仁　川百合　丹皮　炙草　細辛　連翹　知母　陳絲瓜仁</p>
<p>又：前進養陰之品已獲小效，似屬應手，但肺為嬌臟，全賴胃家津液以涵養，方能滋潤而寧靜，今則肺液久虧，一時未能長養。諸病雖減，其根未拔，仍宗前法理之。</p>
<p>白玉沙參　麥冬　五味子　紫菀　瓜蔞仁　地骨皮　白朮　炙草　蛤殼　玄參　柏子仁　百藥煎　霜桑葉　川百合　茯苓</p>
<p>（案17）陸，左。咳嘔有年，時發時止者屢矣，近復嘔逆食減，其咳更甚，乃脾肺兩虧之症，理之難效。脈數帶弦。擬用仲景法。</p>
<p>老桂木　於術　茯苓　炙草　枳實　檳榔　甜葶藶（大棗一枚同打）　半夏　旋覆花　橘紅　乾薑　瓜蔞仁　五味子　沉香　竹二青　伏龍肝</p>
<p>（案18）包，左。宿傷痰飲，積久致咳，痰出腥穢，氣逆不得安臥，是肺癰之根萌也。一切辛辣鮮肥，在所禁例。</p>
<p>葶藶　茯苓　杏仁　丹皮　冬瓜仁　瓜蔞仁　玄參　桑葉　生草　象貝　馬兜鈴　前胡蘆根</p>
<p>（案19）朱，左。失血之後，咳嗽不止，痰色由稀而濃，內熱熏蒸，肺金受損，脈象細弱帶數，不耐重按。根本受傷，調治不易。</p>
<p>北沙參　麥冬　冬瓜仁　紫菀　生地　川百合　苡仁　蛤殼　橘絡　阿膠（蛤粉三錢拌炒）　杏仁　枇杷葉</p>
<p>（案20）吳。刻診脈象搏數帶弦，舌苔根白。據述先患腹中結塊攻撐，漸見足脛發熱如烙，此肝邪肆擾為病，繼復木火刑金，上凌肺係為咳，咳之不已，周體絡脈皆傷，是以腰膂脅肋俱痛也。此火乃倏來倏去，無一定蹤，始則隨喜怒消長，繼則陰液告乏而陽光愈熾矣。其汗泄過多是陽無所倚使然。據證合脈，大勢尚可調攝，毋使動怒為要。</p>
<p>旋覆花　冬朮　茯苓（青黛拌）　蛤殼　紫菀　桑葉　女貞子　玄參　丹參　杏仁　川貝母　橘絡　鮮藕</p>
<p>（案21）施。去冬失血患咳，交春夏血雖未見，而咳勢不平，其氣升如喘，喘即咳嗽，乃下元根柢不固，氣少攝納之權。症非輕淺，靜養善調，目下三伏炎蒸，勿增為幸。</p>
<p>南北沙參　牛膝炭　元參　白扁豆　馬兜鈴　雲茯苓　石決明　南花粉　杜阿膠（蛤殼粉拌炒）　益元散（包）　冬桑葉　沉香屑</p>

<h1>七、吐血</h1>
<p>（案1）過，左。咯血多年，時作時止，脈弦數，舌苔白，咳嗽氣升，胸腹嘈辣。此陰虛陽冒，擾其龍雷所致。理之非易效也。</p>
<p>瓜蔞皮　杏仁　杜蘇子　貝母　桑白皮　丹皮　粉歸鬚　茯苓　生熟苡仁　沉香　炙甘草　橘絡</p>
<p>（案2）鄒，左。據述病由仲春患咳，略見吐血，迨秋季大咯，所吐之血，濃厚沉著而黑，此離絡之瘀也。刻診脈象芤澀而細。法當降氣通絡，以杜其發病之漸。</p>
<p>生錦紋　川鬱金　粉歸身　粉丹皮　茜草根　旱蓮草　上沉香　桃仁泥　紫丹參　瓜蔞仁　杜蘇子　絲瓜絡</p>
<p>（案3）陳，左。據述病由春季咳痰帶血。農人勞力過度，復為暑熱鬱蒸，肺氣焉得不傷，是咳日甚而血日多，陰氣告竭，陽氣失潛。欲望血止，必先順氣，若猶咳甚，難許霍然。</p>
<p>旋覆花　猩絳　花蕊石　牛膝炭　生軍炭　澤蘭　桃仁泥　粉歸身　白薇　沉香　老蘇梗　川鬱金　參三七　炙黑草　鮮旱蓮草</p>
<p>（案4）姚，左。據述久咳已曾見血。刻診脈左弦洪，右弦數，而關脈獨細。此木火反刑肺金，當茲春令有血冒之慮，急宜慎調為囑。</p>
<p>紫菀　杏仁　蔞仁　冬瓜仁　馬兜鈴　苡仁　半夏曲　橘紅　貝母　山梔　杜蘇子　甘草　茯苓</p>
<p>又：前案論及見脈弦洪而數，須防痰血大吐，今果然矣。茲當春令，肝脈理宜見旺，今則左關反細，是宿傷為病，在法為難治，姑擬方以冀血止嗽減，便是生機。</p>
<p>光桃仁　粉歸鬚　丹皮　延胡　茜草根　京赤芍　牛膝炭　苡仁　生錦紋（韭根汁拌，炒炭）　花蕊石（煅，先煎）　炙乳沒藥（各）　降香汁　藕節</p>
<p>（案5）劉，左。診得脈象左弦洪，右弦數。氣逆上衝，肺金胃陰傷，其咳血正在鴟張之際，藥餌恐一時鮮效也。</p>
<p>熟石膏（冰糖拌炒，先煎，三錢）　肥知母（去毛，炙）　瓜蔞仁（炒，打，三錢）　杜蘇子（炒，打，三錢）　霜桑葉童子手內揉熟，去粗筋，一錢）　蜜百部一錢半）　馬兜鈴蜜炙，一錢）　炙甘草（五分）　旱蓮草（二錢）　茜草根（一錢）　川貝（去心，一錢半）　二泉膠　蛤粉（炒，一錢半）　甜杏仁（打，三錢）　京玄參（一錢半）　大地慄（三枚）　環頭海蜇（漂，三錢）</p>
<p>（案6）郭，左。病由負重受傷，心背脈絡皆痛，咳嗽吐痰，鼻溢血塊，脈數而澀，舌起紅點。此上焦火熾，逼及心肺之陰，陰隨陽冒使然也。若不急治，恐有失血損損之累。</p>
<p>旋覆花（絹包，一錢半）　猩絳（五分）　歸尾酒（炒，一錢）　桑白皮（一錢半）　延胡（酒炒，一錢半）　前胡（一錢半）　瓜蔞仁（炒，打，三錢）　冬瓜仁（炒，打，三錢）　石菖蒲（五分）　桃仁泥（一錢半）　白薇（一錢半）　丹皮（炒，一錢半）　杜蘇子（炒，打，三錢）　參三七（研末，沖，一錢）　酒桑枝（五錢）　側柏葉（酒炒，三錢）</p>
<p>又：服前劑，鼻血胸背痛均止，惟喉窒氣逆，痰黏不爽。是肺陰被熱灼傷，失其清肅之司。症雖小愈，病根未拔，還當加意慎調。</p>
<p>旋覆花（猩絳五分同包）　瓜蔞仁　冬瓜仁　貝母　橘紅　杏仁　沉香曲　川鬱金　黑山梔　連殼砂仁　竹二青</p>
<p>（案7）劉，左。體弱表虛，脈形細軟，平昔多汗，咳嗽痰中帶血。此陰虛陽亢，藩籬疏徹，外邪最易襲入。先用疏邪肅肺理其嗽，順氣化痰清其臟，俟其平靜，再議峻補。</p>
<p>南沙參（三錢）　焦白朮（一錢半）　茯苓（三錢）　杜蘇子（三錢）　冬瓜仁（三錢）　瓜蔞仁（打，三錢）　馬兜鈴（一錢半）　霜桑葉（一錢半）　炙草（五分）　貝母（一錢半）　橘紅（五分）　杏仁（打，三錢）　玄參（一錢半）　白前（一錢半）　鮮藕（一兩）</p>
<p>又：二次復診。脈仍細數，咳痰猶帶血縷，自覺所下之血從巔頂而來，乃陰隨陽冒，滲入絡中也。服前劑汗液頗減，所慮脈形過細，恐多反復，一切起居飲食宜加意慎調。</p>
<p>旋覆花（猩絳五分同包，一錢半）　蜜紫菀（一錢半）　白薇（一錢半）　丹皮（一錢半）　元參（一錢半）　冬瓜仁（一錢半）　上阿膠（蛤粉炒，一錢半）　百藥煎（一錢）　橘紅（五分）　炙草（四分）　貝母（三錢）　茯苓（一錢半）　白扁豆子（三錢）　鮮藕（一兩）　枇杷葉（去毛，蜜炙，三片）</p>
<p>（案8）劉，左。新舊兩傷，均屬要處，雖經醫治，根株未除。茲正初冠之際，陰陽宜協，否則最有他變。近更吐血，勢不甚多，而童年最宜防慎。擬方准服四劑。</p>
<p>全當歸　中生地　紫丹參　長牛膝　桃仁泥　旋覆花　炙乳沒各　杜橘絡　甜瓜子仁　冬瓜皮　參三七　白茯苓　炙甘草　茜草根　紫降香</p>
<p>（案9）劉，左。吐血久延十四五載，屢止屢作，或輕或重，近以過勞傷及陽氣，血隨陽冒，盈盆盈碗，有不可遏制之勢，殊為深慮。診得脈左弦洪，右弦數。陰氣日漸枯索矣，猶幸胃納頗甘，起居尚健，還可措手。一切語言動作、飲食寒暄，自宜加慎。</p>
<p>粉歸鬚（酒炒，一錢）　粉丹皮（炒，一錢）　牛膝炭（二錢）　茜草根（一錢）　生錦紋（五分）　丹參（炒，一錢）　花蕊石（醋煅，一錢半）　真阿膠　蛤粉（炒，四錢）　炙黑草（五分）　蒲黃炭（五分）　參三七（另沖，二錢）　寶珠山茶</p>
<p>又：二次復診。血液大吐之後，陰氣日傷，則胃氣日索，精神頓憊，有不可支持之態。嘗考古法治血輒以溫補，所謂治血先治氣也。刻診脈左部漸平，右部細澀，兩尺如無。急宜峻補兩儀，俾後天生氣復得一分，便能生一分陰氣也。</p>
<p>上洋參（元米、桂圓肉同蒸，二錢）　炙綿耆（一錢半）　天麥冬（各一錢半）　粉歸炭（一錢）　茜草根（炒，七分）　旱蓮草（三錢）　清阿膠（一錢半）　大生地（三錢）　炙甘草（五分）　白茯苓（一錢半）　生穀芽（檀香汁炒）　女貞子（三錢）　參三七（另研，沖，一錢）　寶珠山茶、藕節、紅糯稻根三味煎湯代水。</p>
<p>（案10）劉，左。診脈浮洪而虛，吐血舊恙逢春不發，便是佳兆，但陰氣未肯來復，則陽氣易於上冒，還有復燃之變。仍擬養陰潛陽，以治其本，略加理表之屬，以治其標。倘得脈象漸平，再商峻補。</p>
<p>南沙參　焦白朮　茯苓　炙草　旋覆花　旱蓮草　芡實　白薇　苡仁　紫菀　生穀芽　白芨末　淮山藥　蓮心</p>
<p>（案11）某。腎陰不足，肝陽有餘，平昔吐血傷陰，痰火凝聚，乘虛竄入絡中，而成流痰之症。用藥徒恃寒涼固非所宜，而過用溫補亦非正治，須從清疏帶補，養陰潛陽，順氣化痰，漸漸調理，俾其不至四竄，便是功效耳。</p>
<p>中生地（四錢）　歸鬚（酒炒，一錢）　赤白芍（炒，各一錢）　茯苓（一錢半）　粉丹皮（炒，一錢半）　鉤藤（後下，三錢）　牡蠣（先煎，六錢）　玄參（一錢半）　橘絡（鹽水炒。五分）　甘草節（五分）　夏枯草（薑汁炒，一錢半）　銀花（炒，一錢半）　大貝母（打，三錢）　川芎（八分）　姜（一片）　棗（二片）</p>
<p>（案12）葛，左。咳嗽損及肺系，胃絡亦傷，近見咯血頗甚，肺胃之陰兩傷，燥氣為病也。脈來細數而澀。當先順氣止嗽以平血絡。一切辛溫香燥都屬禁例。</p>
<p>烏犀尖（磨汁，沖，五分）　大黃炭（五分）　桃仁泥（三錢）　牛膝炭（三錢）　旋覆花（絹包，一錢半）　茜草（一錢半）　杜蘇子（炒，打，三錢）　瓜蔞仁（三錢）　白前（一錢）　炙草（四分）　茯苓（一錢半）　沉香（五分）　歸鬚（八分）　丹皮（一錢半）　新絳（五分）　玄參（一錢半）　枇杷葉（去毛，炙，三片）　蛤殼（八錢）</p>
<p>又：前進和營涼血之屬，咯血已止，嗽亦得平，已屬應手，所慮脈猶細澀，防其餘燼復燃耳。</p>
<p>大生地　歸身　白芍　旱蓮草　炙草　白朮　女貞子　山藥　茯苓　橘絡　杜蘇子　玄參　甜瓜子仁　旋覆花　川貝母　枇杷葉　寶珠山茶</p>
<p>（案13）陳，左。前年曾患鼻衄，經治得愈，至今復發，陰虛陽亢，上干清道，刻交春令，諸陽升騰於上，陰液隨而上衝，且平昔積有宿傷，是以胸脅板痛，腰膝酸楚無力等症見也。理之殊非容易。</p>
<p>大生地　歸身　白芍　炙甘草　荊芥　二泉膠（蒲黃五分同炒）　白薇　黑山梔　柏片　牡蠣　刮白龜板（炙酥，先煎）　決明　丹參　淡菜</p>
<p>又：鼻衄止而復發，進養陰熄風之屬，已得小效，脈來洪大，頭暈欲僕。平素肝腎陰虧，氣火無制，更值春陽震動，其勢肆橫不已，立夏在，防有咯血之累。慎調勿懈。</p>
<p>生熟地　石膏　知母　牛膝　首烏　菊炭　決明　苦丁茶　鉤藤　白芍　炙草　茯苓　霜桑葉（去粗筋，烏芝麻同打）　</p>
<p>（案14）蘇，左。脈息兩手皆數，舌苔微白，時欲泛泛作嘔，去冬曾見溢血，今逢春令，血雖未吐，而胸膺滿悶殊甚。壯年患此，未可作小恙視也。</p>
<p>製半夏（冰糖拌炒）　新會皮　瓜蔞仁　苡仁　杜蘇子　旋覆花　白茯苓　白蔻仁　甜瓜子仁　白杏仁　白薇　象貝母　枇杷葉　鮮桑葉</p>
<p>又：痰氣漸疏，肝風未靜，諸恙得減，是藥之效也，惟胃中余濕未化。宜於補陰中略佐熄風泄濕為治。</p>
<p>中生地　半夏　白芍　白朮　石斛　麥冬　川萆薢　茯苓　苡米　陳皮　白蒺藜　鉤藤桑枝　白殘花</p>
<p>（案15）王，左。大凡務農者每受傷損，損及臟絡則血症，《內經》所謂陽絡傷則血上溢是也。茲因過勞以致溢血，始則略吐，繼則頗多，病機已深沉，猶幸不甚咳嗽，用藥還可冀效。</p>
<p>生地炭　歸身　丹皮　赤芍　桃仁　冬瓜仁　甜瓜子仁　牛膝　旱蓮草　茜草　阿膠　蛤殼　丹參</p>
<p>（案16）馮，左。肝脾不和，中脘作痛，是本病也；微寒發熱，胸痞少納，是標病也；至若咳嗽吐血，腰痠作楚，為損根之象，宜慎之。</p>
<p>香蒿　白薇　石斛　杏仁　蓮草　淡芩　知母　象貝　橘紅　炙草　麥冬　茯苓　防己　苡仁　扁豆葉</p>
<p>（案17）辛，右。產虛，營衛失度，寒熱燔灼，咳嗽頻頻，痰中帶血，後天生氣亦傷，故飲食不甘，納食不舒，善噯。理之殊非易。</p>
<p>旋覆花　甜杏仁　歸身　丹皮　紫菀　炙草　冬蟲夏草　象貝母　茯苓　冬瓜仁　焦白朮　淮山藥　鮮藕</p>
<p>又：咯血經治得止，誤服升提太過，引動陽越，復致大吐，現更氣急，胸痞少納，後天生氣亦傷矣。</p>
<p>旋覆花　細生地炭　歸身炭　天花粉　紫菀　生牡蠣　紫蛤殼　冬瓜仁　元參　炙草　旱蓮草　參三七（磨沖）　五味子　淮山藥　藕汁</p>

<h1>八、失音</h1>
<p>（案1）秦，左。咳傷肺葉，風火揚威，痰血並出，音啞聲雌，最有肺痿之累，脈弦數而洪。當先清肅為治。一切高聲叫喚及鮮肥油膩之物宜忌。</p>
<p>旋覆花　桑葉　蔞仁　元參　桔梗　杏仁　冬瓜仁　白薇　兜鈴　蟬衣　炙草　知母　熟石膏（冰糖拌）　貝母　鮮蘿蔔汁</p>
<p>（案2）胡，左。刻診脈象浮洪而弦，久咳音啞，痰中曾帶血縷。據述病由迎風喊叫，煙焰乘機內襲，蓄於肺系，遂致金氣失降，愈咳愈燥，愈燥愈損，此即喉痹重症也。閱喉關內外，嵌空玲瓏，色若棠葉，理之恐非易也。</p>
<p>熟石膏（冰糖拌炒）　知母　貝母　百部　炙草　馬勃　瓜蔞仁　蛤殼　紫菀　蟬衣　沙參　百藥煎　枇杷葉　環頭海蜇（漂）　</p>
<p>又：喉痹失音，咳痰氣逆，陰虛陽亢之徵。前投甘涼清潤之屬，脈象稍和，惟癢咳、身熱、小水赤澀未止。仍宜養陰肅肺，以順氣機，略佐淡滲，以清相火，冀其漸臻佳境。</p>
<p>南北沙參　瓜蔞仁　冬瓜仁　玉竹　炙草　於術　橘紅　蛤殼　貝母　山藥　白前　女貞子　竹二青　淡竹葉　燈草</p>
<p>（案3）某。病由悲鬱傷肺，急怒傷肝，火邪乘機上冒，氣擾肝竅，以致頓見聲啞，咳癢繼作，並無吐血、寒熱等症，其無外邪可知，刻診脈細數帶滑，喉間內外作腫。此喉癬之漸也。法宜清養太陰，兼理少厥二陰，若能慎真調理，可望向安。</p>
<p>沙參　元參　麥冬　川貝母　馬勃　花粉　知母　百合　甘草　蟬衣　玉竹　山梔　橘絡　冬蟲夏草</p>

<h1>九、喘</h1>
<p>（案1）金，右。據述上年孟冬誤落河溪，寒濕侵襲肺系，當時即見咳嗽，遷延至今，幾及百日，加患氣喘上逆，並無汗泄，刻診脈形細澀而濡，若再失治，則面浮肢腫至矣。擬進定喘法。</p>
<p>蜜炙麻黃　連皮杏仁　白朮　茯苓　紫蘇葉　枳實　款冬花　蔞仁　半夏　橘紅　姜白果</p>
<p>（案2）陸。感受冬溫，復挾肝火，以致氣逆喘促。刻診脈左洪數弦散，右細數，舌苔厚滯。此邪食氣交併為患，須防增劇，錄方候正。</p>
<p>牛蒡子　大連翹　薄荷頭　款冬花　旋覆花　代赭石　生枳實　杜蘇子　上沉香　大豆卷　杜橘紅　甜杏仁　雲茯苓　黑山梔</p>
<p>（案3）張，左。冬溫原系秋燥之餘邪深伏化火，斯時必先顧其津液，方無化燥吐紅之累，若不依此法，勢必血從痰溢矣。刻診脈弦數，舌苔黃燥，是其徵耳。</p>
<p>鮮沙參　麥冬　玄參　桃仁　杏仁　肥玉竹　天花粉　甘草　紫菀　黑梔　丹皮　象貝母　枇杷葉　大地慄</p>
<p>（案4）賈，左。氣逆喘促，稍動則甚，已屬下元不攝之象，近復足跗浮腫，脾氣虛陷，升降兩脫，在老年為最重之證。</p>
<p>野於術　連皮茯苓　北五味（蜜炙，乾薑三分同打）　左牡蠣　牛膝炭　青鹽半夏　炙雞內金　生苡仁　西黨參　新會皮　紫衣胡桃肉　蓮肉</p>

<h1>十、痰</h1>
<p>（案1）李，右。痰飲久不愈，咳嗽氣逆不得臥，抬肩擷項，脈細數。用瀉肺溫膽合法。</p>
<p>甜葶藶（焙，五分）　麻黃根（先煎一沸吹去浮沫，五分）　白杏仁（打，一錢半）　茯苓（三錢）　半夏（一錢半）　姜皮（炒，五分）　檳榔（一錢半）　枳實（一錢半）　炙草（五分）　廣皮（五分）　五味子（焙，五分）　浮石（三錢）　竹二青（薑汁炒，一錢半）　大棗（三枚）</p>
<p>（案2）郭，左。病由傷損脈絡，瘀與氣因之交阻，經治後其傷雖痊，而胸膺不時氣逆，甚則氣逆固聚，妨於飲食，雖經服藥未拔病株，以致咽喉結有痰塊，咯之不出，咽之不下，此《內經》所謂炙臠也。用《三因》四七法，兼佐化痰。</p>
<p>川樸　半夏　茯苓　帶葉蘇梗　甜葶藶　姜皮　枳殼　桔梗　沉香　廣鬱金　橘紅　天蟲　訶子肉　淡昆布　薑汁　竹瀝</p>
<p>（案3）吳，左。診得脈息左弦滑，右數滑，舌白中黃而帶焦。據述病由去年起，神蒙囈語，甚則不省人事。此腎水素虧，肝火有餘，遇惱怒則更劇，曾經理治，止而復作者屢矣。今逢春氣鬱勃，陽不潛藏，其病又作，每遇寅卯之交，囈語更甚，其為肝膽之病無疑也。擬從壯水以制陽光，安神化痰佐之，緩緩可效。</p>
<p>大生地　山藥　川貝母　遠志炭　茯苓　萸肉　酸棗仁　鬱金　珍珠母　整塊辰砂（絹包懸煎）　炙草　荊瀝　薑汁　丹皮　石斛　竹瀝</p>
<p>（案4）許，右。情志少暢，以致坎離不相交媾，陽氣化風，挾痰火內熾，上擾神舍，遂致徹夜不寐，言語無度，脈象重按弦滑而硬，肝經氣火鬱閉不達。當以泄肝暢氣為主，肝木平則風自熄，肝氣和則痰自降也。</p>
<p>羚羊角（先煎，一錢半）　天竹黃（一錢）　云茯神（辰砂拌，四錢）　焦山梔（一錢半）　陳膽星（七分）　靈磁石（煅，三錢）　明天麻（一錢）　大連翹（辰砂拌，三錢）　化橘紅（一錢）　九孔石決明（生打，一兩）　大力子（三錢）　鬱金（一錢半）　菊花（一錢半）　白桔梗（一錢）　青龍齒（三錢）　赤金器（懸煎，一具）　竹瀝（沖，一杯）　薑汁（沖，半匙）　九節菖蒲（五分）、白蒺藜（三錢）、淨鉤藤（五錢）、粉前胡（一錢半）　四味煎湯代水。</p>
<p>又：投熄風和陽，參以寧神豁痰，諸恙均退，夜寤亦能安寐，皆屬轉機，但脈象仍見弦滑，滑為痰，弦屬風，可知火風雖熄，風未柔和，所謂爐煙雖熄，灰中有火也。調治不可不慎，務要怡情適志為囑。</p>
<p>抱木茯神（辰砂拌赤，四錢）　白蒺藜（炒，去刺,三錢）　明天麻（七分）　酸棗仁（打，三錢）　九孔石決明（生打，一兩）　靈磁石（三錢）　粉丹皮（炒，一錢半）　池州菊花（一錢半）　化州橘紅（鹽水炒，一錢）　青龍齒（煅，三錢）　炒遠志（五分）　鼠黏子（打，三錢）　淨雙鉤（四錢）　宋半夏（一錢半）　廣鬱金（一錢半）　白桔梗（一錢）　頂沉香（七分）　夜交藤（三錢）　金箔（沖，一張）　南沙參、杜橘紅、池菊花　三味泡湯代茶。</p>
<p>（案5）包，左。前案論及痰火上干心胞，驟然矇昧，擾其神明，語言無序，寤寐不寧，平昔肝用有餘，腎體不足，乘茲春陽鼓盪，身中諸陽隨之而升，是以見症如斯，恐一時未能奏績。刻診脈象弦細帶數，舌滑無苔。擬進養陰以清脈絡，苦降以化痰火，俾得神志安寧，機樞靈敏，庶幾可復其原，所進藥餌毋汲汲也。</p>
<p>中生地（囫圇勿切）　麥冬（勿去心，辰砂拌赤）　抱木　茯神（辰砂染赤）　廣玉金　紫丹參（豬心血拌炒）　川百合　元參　郁李仁（豬膽汁拌炒）　連翹殼（生礬末少許嵌入，用大紅絨紮好）　炙甘草　真川貝　陳膽星玄武板（生打，先煎）　左牡蠣（打，先煎）　陳絲瓜絡　竹瀝　薑汁　石菖蒲（洗打，絞汁沖）　</p>
<p>（案6）陶，右。痰飲多年，止作無定，咳則氣逆上衝，不得安臥，甚則抬肩擷項，頭汗頗多。脈細澀弱。當以仲聖法理之。</p>
<p>桂枝（後下，五分）　白杏仁（打，三錢）　焦白朮（二錢）　茯苓（三錢）　細辛（五分）　五味子　乾薑（二分同打，五分）　白芍（炒）　罌粟殼（炒，一錢）　炙草（五分）　牡蠣（三錢）　川百合（三錢）　瓜蔞仁（打，四錢）　紅棗（三枚）</p>

<h1>十一、調經</h1>
<p>（案1）陳，右。偏右季脅隱隱作痛，按之則否。此任脈素虛，肝木乘之，遂致絡道窒塞，失其通調之度。法當和營通絡，以順氣機，所謂通則不痛是也。</p>
<p>中生地　歸身　旋覆花　木香　香附　杜仲　延胡　白芍　瓜蔞　川芎　炙草　茴香　菟絲子</p>
<p>又：刻診脈象兩寸細滑，據述經水三月未至，近見腹膨。就脈症並參，可作喜論，候法眼覈定。</p>
<p>細生地　歸身　白芍　丹皮　半夏　淡芩　橘紅　木香　茯苓　炙草　延胡</p>
<p>（案2）周，右。經事愆期，行時腹痛，延及腰膂，不時泛泛欲嘔，脈象細數。法當溫養，以和八脈。</p>
<p>生地　歸身　桂心　紅花　香附　木香　沉香　延胡　枳殼　石英　茴香　淡芩　砂仁　炙草</p>
<p>（案3）黃，右。沉寒積冷，下延中上，先患腹痛，經事愆期，繼復咳嗽，痰黏，胸痞，納穀不舒。脈象細數。法當先理其標，後圖其本。</p>
<p>香附　瓜蔞仁　蘇子　沉香　貝母　苡仁　枳殼　旋覆花　陳皮　茯苓　炙草　竹葉</p>
<p>（案4）周，右。經事趲前，行時腹痛，近復納食不甘，噁心漾漾欲嘔，脈來細數，舌白少津。擬用養營調經理其本，微苦滲泄治其標。調理兩月，望其循行按度，自然經水準期。</p>
<p>生地　歸身　白芍　丹參　炙甘草　香附　沉香　鬱金　烏藥　延胡　枳殼　紫石英　半夏　條芩　茯苓　玫瑰花</p>
<p>（案5）吳，右。據述經來趲前漸少，不時身熱，頭暈，脈弦數，右細，舌白少津。此五志之陽過動，燔灼傷陰，則陰水日見枯涸也。大凡坤體法地，宜通宜調，若失其常度，安得有生養之機，急宜慎真調理勿懈。</p>
<p>生地　歸身　柴胡　茯苓　麥冬　花粉　知母　黃柏　丹參　蒺藜　炙草　白芍　女貞子　月季花　姜竹茹</p>
<p>又：脈形漸和，是經治得效之徵，但坤體以經事准期為要，設有偏阻則諸病叢生，奚暇冀懷珠乎。今擬調和奇經，清泄肝膽，以養陰壯水總攝之。每於經前服三劑，經後亦服三劑，另以丸藥常服，一切生冷酸寒概乃忌食。</p>
<p>生地（四錢）　歸身（酒炒，一錢半）　白芍（炒，一錢半）　川芎（八分）　條芩（酒炒，一錢）　黃柏（鹽水炒）　丹皮（炒，一錢半）　川斷（炒，一錢半）　延胡（醋炒，一錢半）　杜仲（鹽水炒，二錢）　金石斛（三錢）　女貞（炒，三錢）　知母（去毛，炙，一錢半）　炙甘草（五分）　月季花（二朵）　又：水泛丸方。</p>
<p>大生地（砂仁末四錢炒）　東白芍（桂枝一錢煎汁炒）　大麥冬（去心）　紫石英（煅，先煎）　紫丹參　茜草根　粉歸身（酒炒）　潞黨參　二泉膠（牡蠣炒）　雲茯苓四制香附　炙草　法半夏　真廣皮（鹽水炒）　淡條芩（酒炒）　延胡索　烏賊骨（另研極細末）　枳殼炭　女貞子（炒）　菟絲子</p>
<p>上藥共磨為末，用鮮玫瑰花十三朵同石英汁泛丸，如梧桐子大。每早晚各進三四錢，淡鹽花湯或溫酒送下。</p>
<p>（案6）夏，右。坤體屬陰而其用屬陽，天癸準則病少而麟易育，反此者病叢至也。刻診脈弦數帶濡，據述經水愆期，行時腹痛腰痠。法當調經順氣，緩緩治之。</p>
<p>洋參　麥冬　香附　茅朮　白芍　烏藥　橘絡　川芎　蒺藜　半夏　首烏　菟絲子　範志曲　條芩　歸身　月季花</p>
<p>（案7）夏，右。寒凝氣滯復挾肝火，積久損及脾臟，衝任帶脈俱傷，以致腹疼痞結成塊，甚則噁心作嘔，而經水按月仍至，不甚愆期，此由寒痰膠固臟絡使然也。先從泄濕化痰，順氣通絡為治。</p>
<p>茅朮　半夏　吳萸　烏藥　青皮　延胡　木香　茯苓　茴香　柴胡　川樸　白蔻　陳皮　瓦楞子　淡乾薑　煨姜</p>
<p>（案8）孫，右。肝邪入於血絡，兼挾痰飲，上擾胃脘作痛，痛甚作嘔，下結血海作痛，痛甚作脹，而且延久有沉痼之慮。刻診脈細數無神，經事現乃淋瀝不已。症勢非旦夕所能效也。</p>
<p>桂木　白朮　半夏　青皮　木香　延胡　烏賊骨　茜草　川楝子　柴胡　白蔻仁</p>
<p>（案9）袁，右。及笄之年，經事至而復止，腹痛沉沉，有時大便溏薄，遏其營衛常度，病由過食酸寒，遂致衝任之脈氣亦不振，近復由下中及上，不時嘔吐濁沫，職是故也。急宜加意慎調為囑。</p>
<p>白朮　歸身　茯苓　延胡　烏藥　青皮　香附　木香　茴香　川樸　沉香　苡仁　炙草　生薑</p>
<p>（案10）趙，右。經事先期，行時腹痛，時有痞塊氣撐，脈數帶弦細。此虛體更受寒邪。法當溫以和之。</p>
<p>肉桂（研，沖）　乾薑　半夏　陳皮　川樸　白芍　延胡　炙草　枳殼　茯苓　鬱金　木香　建曲　淡芩　木蝴蝶　煨姜</p>
<p>（案11）葉。診得脈象細澀，兩尺如無，經事趲前不準，加以腹痛，妊娠三月而墮。此肝火鬱結，損及奇經。據症合脈，實為深痼，擬方緩以調之。</p>
<p>歸身　川芎　白芍　茯苓　白朮　炙草　枳殼　烏藥　延胡　沉香　玉金　青皮　生菟絲子　條芩　佛手</p>
<p>（案12）夏，右。經事素不準期，或前或後，或多或少，今復經行半月不止，腹痛綿綿不已，四肢懶倦，飲食不甘，食入胸膺覺飽。此奇經延及脾胃，若再因循失治，行將腫滿至矣。</p>
<p>黨參　白朮　白芍　歸身　炙草　條芩　川芎　烏藥　肉桂　石英　牡蠣　烏梅炭　香附　煨姜　炮姜　延胡</p>
<p>（案13）李，右。衝任氣弱，陰血不足，經事趲前不準，脈數而澀。理宜和肝益胃主治。</p>
<p>黨參　白朮　赤芍　淡芩　歸身　川芎　茯苓　炙草　香附　半夏　橘紅　紅花　玫瑰花　竹二青</p>
<p>（案14）楊，女。平昔肝脾失暢，氣機不調，漸延衝任兩經，以致經行腹痛，趲前不準。刻診脈濡數而弱。急宜調理八脈，以和肝脾，俾得循行按度，方許懷麟。</p>
<p>生地　歸身　丹皮　香附　延胡　烏藥　條芩　炙草　茯苓　杞子　烏賊骨　茜草　沉香　枳殼</p>
<p>又：大凡坤體地道失疏，每每經來不準，一有愆期，諸恙叢集，或為頭暈嘔惡，或為腹痛結痞，其病不可名狀。今診脈細澀帶數，舌滑無苔。陰虛而寒凝氣滯也，調之非易。</p>
<p>生地　歸身　白芍　麥冬　紫石英　烏賊骨　茜草　半夏　沉香　青陳皮　玉竹　香附　延胡　炙草　竹二青　玫瑰花</p>
<p>（案15）劉，右。經水久不通行，行則上逆，而為衄血，此謂之倒經也。更復血虛火熾，灼筋燔絡，脈道不循常度，是以左手足屈伸不便耳。急宜加意調治，否則難望毓麟也。</p>
<p>大生地　粉丹皮　淡芩　東白芍　炙草　二泉膠（溶化，沖）　麥冬　地骨皮　香青蒿（鱉血拌抄）　生鱉甲　淨紅花　粉歸身　火麻仁　柏子仁茯苓人（乳拌）　茺蔚子</p>

<h1>十二、胎前</h1>
<p>（案1）吳，右。脈象細數微滑，頭暈眩冒，噁心欲嘔，經過五旬，有懷麟之喜。擬進健脾化濕，兼泄木邪。</p>
<p>歸身　白芍　川芎　枳殼　半夏　砂仁　炙草　首烏　青皮　白朮　菊花　橘紅</p>
<p>（案2）周，右。妊娠五六月，脾胃司令，脈來滑數，頭暈嘔惡，食飲不甘。此《內經》所謂惡阻也。</p>
<p>半夏　白朮　帶葉蘇梗　枳殼　陳皮　香附　沉香　淡芩　川芎　茯苓　砂仁　炙草</p>
<p>（案3）張，右。據述娠懷五六月，寒熱乍輕乍重，汗泄頗暢，口渴多飲，病經一旬，未曾搜剔其邪，其勢有進無退。刻診脈象左弦數，右細數，舌苔微黃帶灰。胎元已被熱傷。姑從氣虛邪戀用意，望其邪卻，則胎自安也。</p>
<p>洋參（一錢半）　桂枝（五分）　石膏（先煎，三錢）　知母（一錢半）　淡芩（一錢）　柴胡（五分）　炙草（五分）　白朮（一錢半）　茯苓（一錢半）　枳殼（八分）　青蒿（一錢半）　白薇（炒，一錢半）　粳米　姜　棗</p>
<p>（案4）夏，右。病由伏邪寒熱而起，遷延匝月，或止或作，時輕時重，變端百出，今復腹痛殊甚，妊娠患此，最有墮胎之慮。擬從陰虛血少、胎失所養用意，則肝邪橫逆自平，其伏邪猶未清泄，略行佐治可耳。</p>
<p>洋參　歸身　阿膠　白芍（桂枝同炒）　地骨皮　炙草　白朮　沉香　延胡　麥冬　茯苓　青皮　木蝴蝶</p>
<p>（案5）朱，右。憑脈象陽部洪數，經停百日，是懷麟之徵，現腹痛腰痠殊甚，乃勞碌熱熾，有損胎元，切宜防慎。</p>
<p>白朮（一錢半）　香附（一錢半）　延胡（酒炒，一錢半）　烏藥（炒，一錢）　紫蘇葉（一錢）　枳殼（八分）　山梔（三錢）　蘄艾（鹽水炒，八分）　條芩（酒炒，一錢半）　白芍（一錢半）　炙草（五分）　砂仁（五分）　黃楊樹</p>
<p>（案6）夏，右。診脈象細數而滑，不時頭眩作僕，懶食思酸，據述經水三月未行。憑症合脈，是懷麟之象。擬從脾胃調治，略佐泄木清熱，以固胎元。</p>
<p>半夏（麻油炒，一錢半）　白朮（一錢）　茯苓（一錢半）　炙草（五分）　枳殼（八分）　歸身（一錢）　鉤藤（三錢）　甘菊（一錢半）　條芩（一錢半）　橘絡（七分）　牡蠣（三錢）　山梔（一錢半）　荊芥（一錢半）　砂仁（四分）</p>
<p>（案7）包，右。病由小產，傷及衝任，經事趲前落後，脈細數，舌苔白。當以和營調經，漸漸理之。</p>
<p>生地　歸身　白芍　川芎　香附　鬱金　延胡　女貞子　丹參　半夏　廣皮　枳殼　茯苓　炙草</p>
<p>（案8）畢，右。肝火素盛，肝氣鬱結，三月肝木司胎，為氣火所戕，以致落紅胎墮，茲當炎暑溽蒸，不無嗜食生冷，貪涼冒風，瘀血水凝，腹痛殊甚，脈細澀無力。細為氣弱，澀為血蓄。古人謂小產重於正產，良有以也。急宜溫通逐瘀，兼順氣機，庶可冀痊。若再遲延失治，不特變生險惡，且有內癰外瘍之慮。擬進生化法是為正治。不可畏天時酷熱而服寒涼，慎之，慎之。</p>
<p>歸尾　紅花　桃仁　炮姜　肉桂　延胡　青皮　澤蘭　川芎　砂殼　香附　炙草　佛手　益母草　楂炭</p>
<p>（案9）宋，右。妊娠四五月，脾胃主令，偏左腹痛，甚則氣欲下墜，脈來細數。肝邪乘虛為患也。</p>
<p>金鈴子　延胡　歸身　白芍　柴胡　枳殼　大腹絨　青皮　半夏　炙草　蘇梗　茯苓　新會紅　砂仁　佛手</p>
<p>（案10）宋，右。妊娠五六月，跌傷損胎，昨下血胚，而胎仍未墮，據述時寒時熱。脈來疾數，舌苔白腐，隱現青光。大有墮落之虞，姑擬一方，以候高明酌鑑。</p>
<p>生地炭　歸身炭　條芩　柴胡　川芎　白芍　蘇梗　刮白龜板　阿膠　冬瓜皮　炙草　烏賊骨　茜草　足色紋銀　苧麻　血餘炭　黃楊樹頭</p>
<p>（案11）程，右。刻診脈象搏數促急殊甚，舌苔白尖紅，氣逆作喘。胎元被熱邪燔灼，內不得安。據症脈頗險，姑擬一方，以候高明酌鑑。</p>
<p>烏犀尖　鮮生地　生石膏　寒水石　連翹　玄參　人中黃　生草　白芍　條芩　銀花　知母</p>

<h1>十三、產後</h1>
<p>（案1）包，右。伏邪深郁，瘧不準期，寒熱或增或減，汗泄如澍，飲食倍常，易飢嘈雜，產後固屬陰虛，未便遽用補法。其咳嗽氣逆，是邪逆氣分所致。診脈搏數而洪。擬用白虎加桂枝，兼玉屏風法。</p>
<p>南沙參　熟石膏　知母　白芍　淡芩　黃耆皮　赤苓皮　防風　甘草　白朮　牡蠣　地骨皮　粳糯米</p>
<p>（案2）朱，右。產後三載，天癸未轉，乳汁素所未行，近復兩脛倏冷倏熱，脈弦數而澀。此陰虛生熱，八脈因之有損也。宜加意慎調，多進藥餌，猶可向安。</p>
<p>細生地　歸身　丹參　元參　麥冬　青蒿　秦艽　鱉甲　茯苓　炙草　生熟穀芽　二泉膠　延胡　香附　雞子黃　白元米</p>
<p>又診：前方去穀芽、香附、延胡，加烏賊骨、茜草</p>
<p>（案3）汪，右。據述春季產後著惱，傷及肝脾，寒熱時止時作，綿延至今，漸增畏寒怯冷，胸痞納少，手指痠麻，足跗浮腫，種種皆是產虛不復所致。刻診脈弦數。急急調攝，否則猶恐恙深難效耳。</p>
<p>細生地　歸身　白芍　地骨皮　青蒿　丹參　桃仁　香附　柴胡　女貞子　炙草　茺蔚子</p>
<p>（案4）陳，右。據述產後感寒受濕，暑熱交蒸，郁久化毒，發為口糜現象，齒浮齦腫，舌碎頤腐，妨於飲食，脈象搏數。從景岳法治。</p>
<p>鮮生地　細生地　熟石膏（冰糖拌）　知母　川連　牛膝　銀柴胡　蘆薈　生甘草　銀花　青黛　薄荷　川萆薢　貝母</p>
<p>（案5）吳，右。前五載產後未復，肝邪乘隙肆威，延及奇經，以致經期落後，重陽時曾見吐紅，咳嗽痰黏，不時口乾少津，肺胃之陰亦漸被傷。刻診脈象兩尺如無，餘部細數。急宜慎真調理，方許懷麟之喜耳。</p>
<p>細生地　歸身　白芍　麥冬　知母　元參　真阿膠　丹參　黑草　茯苓　延胡　五加皮　枳殼炭　月季花</p>
<p>（案6）金，右。產後風寒襲於經絡，鬱而為熱，以致寒熱久延，半載不愈。防成損怯重恙。</p>
<p>青蒿　柴胡　丹皮　丹參　白朮　炙草　茯苓　骨皮　歸身　陳皮　生地　半夏</p>
<p>（案7）顧，右。據述病情由產虛未復，後復鬱怒傷及脾家，以致早春陽氣發越之時，頭暈欲僕，噁心作嘔，知飢不能進食，大便久秘，雖通而不爽。刻診脈象左細數，右搏數，舌白苔燥。此係體虛液虧，而積濕未化也。擬從養液熄風，兼清濕濁，緩緩調之。</p>
<p>洋參　麥冬　半夏　秫米　橘紅　苡仁　佩蘭　女貞子　玄參　杏仁　穀芽　藿香　荷葉邊　蓮子</p>
<p>（案8）杜，右。因邪致產，產後經旬余，寒熱往來，不能分清，曾經布白㾦，汗透而熱猶不肯解。刻下營陰內虧，伏邪逗留糾纏之候也。</p>
<p>歸身　丹皮　赤芍　青蒿　白薇　穭豆衣　鬱金　杏仁　連翹</p>
<p>（案9）許，右。病由胎前曾患咳嗽寒熱，分娩後寒熱猶然間作。近復發咳嗽，加以氣逆喘促，甚則不能安臥，寤不肯寐。現下兩脛作腫，日進食飲不多。此脾肺腎三經皆病。當茲產虛血脫之候，氣機不克收攝，已屬重恙，若再遷延，致成腫滿，理之恐難奏效。</p>
<p>洋參（薑汁炒）　白朮　炙草　茯苓　歸身　百藥煎　半夏曲（薑汁炒）　棗仁（炒，研）　遠志　郁李仁（豬膽汁炒）　紅棗（煨香）　茺蔚子</p>
<p>又：服前劑脛腫稍退，體略健旺，似屬應手，所嫌氣機仍然促急，脈象較前略和。仍用養陰增液，以安其神。</p>
<p>中生地（薑汁炒）　歸身炭　山萸肉　淮山藥　五味子　茯苓　丹皮　炙草　川貝　蛤殼　白芍　杏仁　阿膠　麥冬　月胡粉</p>
<p>（案10）周，右。病由產虛襲寒，腹痛便泄。頃診脈細澀無力，舌滑無苔。中都虛寒之象顯著。擬用理中合桃花法，補以舉之，溫以澀之，俾得後天生氣來復，再議丸劑，可望向安。</p>
<p>川樸　冬朮　茯苓　甘草　肉豆蔻　官桂　小茴香　胡蘆巴　乾薑　赤石脂　牡蠣　防風　益智仁　砂仁　巴戟天　骨碎補　煨姜</p>
<p>（案11）陸，右。產後未復，外感風寒襲於經絡之間，積久化熱，致有寒熱之變，其少腹結塊，瘀氣交阻使然也。脈來細澀帶數，舌乾少津。擬以和營順氣，以通固結。</p>
<p>生地　歸身　桃仁　澤蘭　烏藥　旋覆花（新絳五分同包）　柴延胡　荊芥　炙草　山楂肉　小茴香　青皮　香附　煨姜</p>

<h1>十四、血崩</h1>
<p>（案1）李，右。刻診脈象細澀而濡，舌白無華，久病反復多端，血崩如注，奄奄莫能轉側，面浮肢腫，症脈兩凶，莫之為甚。茲當春陽振動，脾胃受肝木之戕，若再食減胃倒，將何御之。急宜扶助後天生氣，兼理奇經之虧，以冀萬幸。</p>
<p>黨參（元米炒，去米，三錢）　冬朮（土炒，一錢半）　熟地炭（三錢）　二泉膠（牡蠣粉炒）　歸身（酒炒，一錢半）　白芍（炒，一錢半）　延胡醋（炒，一錢半）　茯苓（三錢）　海螵蛸（三錢）　湘杞子　木香（一錢）　炙草（五分）　觀音座（炙炭，八分）　南棗（三枚）</p>
<p>又：二次診。脈象如前稍和，血崩得止，飲食漸加，似屬應手，但久虛之體，脾胃陰陽不復，周身脈絡失疏，以致面浮㿠白，四肢腹脛都腫，仍防變重為要。</p>
<p>黨參（元米炒，三錢）　白朮（一錢半）　茯神（三錢）　歸身（酒炒，一錢）　丹參（酒炒，一錢半）　川芎（炒，八分）　白芍（炒，一錢半）　生地（三錢）　車前子（鹽水炒，三錢）　麥冬（去心，二錢）　大腹絨　薤白頭（一錢半）　瓜蔞仁（打，四錢）　穀芽（炒，三錢）　煨姜（一片）</p>
<p>又：三次診。投前劑諸恙悉減，脈象亦漸起色，神氣頗旺，飲食倍加。是後天生氣復振，再能調養，可冀復原。</p>
<p>黨參　白朮　茯神　歸身　白芍　生地　二泉膠（蒲黃五分同炒）　木香　大腹絨　車前子　棗仁　炮姜　遠志　高良薑</p>
<p>（案2）宋，右。病由血崩之後，原氣未復，漸延肝臟，內風振動，故有頭暈欲嘔之擾。脈細澀。法當養陰潛陽，兼熄上冒之風。</p>
<p>歸身　白芍　瓜蔞　半夏　牡蠣　石決明　天麻　甘菊　茯苓　炙草　藿香</p>
<p>（案3）周，右。肝腎不足，脾胃有虧，以致月水過多，坤造年至五旬，經水未已，脈來濡數帶芤。至長夏濕土司令，防有腫脹之累。</p>
<p>細生地（砂仁末拌炒）　歸身炭　白芍　荊芥炭　炙黑草　枳殼炭　石決明　牡蠣　紫丹參　木香　白朮　陳皮　制首烏　甘菊　條芩　雞冠花</p>
<p>（案4）周，右。中年以後，八脈失固，前經血崩不止，今雖暫住，正氣已虧。現下胃弱少納，食入不舒。還當養陰益氣為主，冀其胃醒，方許無虞。</p>
<p>黨參　綿耆　歸身　白芍　半夏　柴胡　枳殼　升麻　茯苓　新會皮　炙草　延胡　川芎　玫瑰花</p>
<p>（案5）宋，右。據述病由五月間起，患血崩時止時作，未有安日，入秋以來，所下血液漸少，而白帶頗多，飲食漸減，面目㿠白虛浮，四肢亦復虛腫。此病深戕及脾胃，所進谷飥精華，不克滋養以變血，所謂虛極不及變赤者是也，土衰不能勝水，水勢氾濫，狂瀾莫制，欲其不成水腫難矣，所幸脈尚細滑。擬進十全大補，佐以理治奇經，倘能脈藥安適，便是佳境。</p>
<p>大熟地　白芍　川芎　歸身　黨參　炙草　肉桂　制川附　白朮　智仁　茜草　烏賊骨　牡蠣　山藥　炮薑炭　煨姜　紅棗　觀音座</p>
<p>（案6）王，右。平昔奇經有虧，八脈不固，延及脾胃失健，肝腎體虛，其用過甚，五十之年，天癸未盡，淋瀝不已。延久有崩注之慮，虛浮亦所不克矣。</p>
<p>生地炭　歸身炭　川斷肉　丹皮　二泉膠（蒲黃同炒）　牡蠣　石決明　炙草　木香　首烏　半夏　新會紅　白芍　小淡菜</p>

<h1>十五、癥瘕</h1>
<p>（案1）蔡，右。刻診脈象細澀帶弦，舌苔微白，噁心，嘔吐濁水，晝夜無休，左腹結瘕，攻撐作痛，病經三旬外，飲食不思。此厥陰之脈為沉寒濁陰固結也。據症合脈，殊為險惡，姑擬一方，以冀輕減為幸。</p>
<p>旋覆花　代赭石　淡乾薑　吳萸　川連　白芍　枳實汁　瓦楞子　木蝴蝶　延胡　川椒（焙）　半夏　茯苓　炙草　陳皮　煨姜</p>
<p>（案2）劉，右。肝邪與伏邪併發，寒熱微作，胸痹，肢腫，不時咳嘔痰濁，腹中結瘕上撐，脈細，舌苔白，勢非輕渺。</p>
<p>桂木　茯苓　白朮　炙草　三稜　大腹絨　厚朴　苡米　木瓜　延胡　莪朮　青陳皮　鬱金　瓦楞子　姜渣</p>
<p>（案3）劉，左。脈來細澀無神，舌白滿布，中脘痞瘕，發時作痛，痛甚則嘔。此脾臟有虧，痰氣濕濁交黏盤踞，病經二載，根株殊深。據云食人稍減，略停欲化，其痛復作，得後與氣則快然如衰。法當扶土逐邪，緩緩磨滌，冀其漸得微效，方是吉徵。</p>
<p>川樸　大腹皮子　瓜蔞皮　延胡　半夏　蓽撥　青陳皮　茅朮炭　苡仁　肉果仁　木香　雞內金　陳香櫞　茯苓　絲瓜絡</p>
<p>又：前進溫通苦降之屬，病勢稍緩，舌苔漸化，脈亦較前稍和，惟納食不甚運健。此肝脾氣弱使然也。法當寓消於補，以冀奏績。</p>
<p>黨參　白朮　茯苓　半夏　姜皮　延胡　旋覆花（猩絳五分同包）　薤白頭　高良薑　金果欖　九香蟲　千張紙　臨服沖白酒一小杯。</p>
<p>（案4）郭，左。沉寒痼冷，積於胃脘，年久結塊，時欲上撐作嘔，隱隱而痛，脈細澀無力，是兼挾宿傷，壅塞脈道，氣血為之失暢也。</p>
<p>西黨參　製半夏　新會皮　枳殼　瓜蔞皮　薤白頭　淡吳萸　制川樸　焦建曲　白茯苓　瓦楞子　沉香曲　制香附　小青皮　延胡</p>
<p>（案5）張，左。寒與氣搏，積於下焦，以致左少腹結有瘕聚，近復氣上衝痛，噁心作嘔，曾服辛熱溫通之屬，未得效驗。刻診脈細澀而數，乃寒邪化熱之徵。擬用平木順氣，擇其芳香流利之品，先乃調治，俟其稍退，再商他法。</p>
<p>瓜蔞仁（炒，打，五錢）　薤白頭（一錢半）　枳殼（一錢）　小青皮（一錢半）　桃仁（三錢）　延胡（醋炒，一錢半）　紫石英（先煎，三錢）　炙甘草（五分）　白茯苓（一錢半）　半夏曲（一錢半）　川鬱金（一錢半）　川楝子（炒，打，二錢）　雞檳榔（一錢半）　瓦楞子（煅，二錢）　歸身（酒，一錢半）　兩頭尖（絹包，二十一粒　竹二青（鹽水炒，一錢半）</p>
<p>又：丸藥方。</p>
<p>高麗參（另研末，五錢）　大熟地（砂仁末拌炒，八錢）　湘杞子（炒，一兩）　沙苑子（羊脂油拌炒，一兩）　鎖陽（炒，五錢）　鹿角膠（陳酒溶化，一兩）　東白芍（桂心二錢煎汁炒，一兩）　漂蓯蓉（炒，五錢）　山萸肉（炒，一兩）　仙靈脾（炒，五錢）　川黃柏（鹽水炒，五錢）　知母（去毛，炙，五錢）　厚杜仲（鹽水炒，一兩）　小茴香（二錢）　煨木香（二錢）　金櫻子（去毛核，一兩）　黃魚鰾（牡蠣粉炒，一兩）　白茯苓（一兩）　車前子（鹽水炒，一兩）</p>
<p>上藥共磨細末，用雄羊腰子一副，另煮極爛，搗和為丸，如無，用豬脊髓二條，蒸熟代之，再以青鹽三錢化水泛丸，如梧桐子大。每日申酉之間，用開水送下五十丸。</p>
<p>（案6）黃，左。脈弦緊數，舌白，氣上逆而短，腹中瘕聚。此肝邪與濕熱相搏，氣為之不疏，痰為之凝聚，乃陽不固攝耳，理之非易。</p>
<p>桂枝　白朮　茯苓　炙草　半夏　延胡　青皮　沉香　乾薑　吳萸　楂炭　杏仁　桃仁　煨姜</p>

<h1>十六、瀉痢</h1>
<p>（案1）張，左。刻診脈象左細數，右弦弱，滯下經治得減，少腹疼痛亦平。仍宗前意加減為法。</p>
<p>香附　歸身　白芍　青皮　木香　延胡　烏藥　沉香　枳殼　川芎　茯苓　炙草</p>
<p>（案2）張，左。寒熱微作，痢下赤凍，澼澼不爽，小水赤澀，少腹膨。此暑伏濕鬱，熱蒸三氣，積於腸胃之間而然。幸脈象弦數，望其轉瘧，方許痊愈。</p>
<p>厚朴　香連丸　青麟丸　赤芍　海南子　延胡　香附　建澤瀉　淡芩　青皮　枳殼　赤苓　車前子　六一散</p>
<p>（案3）包，左。頃診脈細數帶弦，寒熱有汗未解，轉成瘧象。此病由於暑邪內蘊，疫邪觸受，以致先患吐瀉，今雖病減十之六七，而虛象未復。法當清化其邪，再以香芳通靈之品，盪滌餘邪。</p>
<p>鮮石斛　鮮首烏　鮮沙參　白扁豆子　茯苓　貝母　廣鬱金　通草　益元散　玳瑁　珍珠　銀花露　青蒿　檀香　蘆根　佩蘭葉</p>
<p>又：頃接來札，已悉一是所云，入夢如雲遊，是肺肝虛氣乘邪也。不思飲食，是脾家濕邪逗留不化也。論理當進香燥，然津液不足，不便遽進。法當清泄淡滲，略佐芳香解穢理之。</p>
<p>（方缺）</p>
<p>（案4）包，幼。據述先由便澼不爽，遷延匝月，腸胃之濕熱未盡，鬱蒸不已，延入血分，古人所謂遠血出於脾，以致便後下血，症已非輕，近復兩目相繼發腫，羞明怕日，若不早治，必成重恙。一切鮮肥生冷及起居寒暖，宜加以慎之。</p>
<p>荊芥炭　歸身炭　赤芍　防風　川芎　甘菊　生草　地榆炭　山梔　夏枯草　條芩（炒炭）　丹皮炭　青葙子</p>
<p>（案5）劉，右。平昔體虛脾弱，陽氣不振，於前數年前曾患痢疾，經治得愈，相安無事有年。近因暑邪內郁，濕熱乘脾氣之虛下注腸胃，以致舊疾復作，裡急後重，腹痛，澼澼不爽，防成休息重候。脈象細澀而弱，舌白苔膩。先從清暑疏氣，兼清積滯。</p>
<p>厚朴　半夏　香附　枳殼　延胡　木香　陳皮　川芎　六一散　澤瀉　通草　檳榔　赤豬苓　車前子　佛手</p>
<p>（案6）李。寒熱氣滯，積於腸胃，以致便澼不爽，赤白凍下，少腹疼痛，脈來弦細帶數。症勢非輕，急宜調治。</p>
<p>黨參　柴胡　歸身　檳榔　枳殼　香附　桃仁　延胡　青皮　炙草　赤白芍　蘿蔔子　玫瑰花　白殘花</p>
<p>（案7）褚，左。下痢凍穢，赤多白少，數至圊而不爽，便後隱隱腹痛，病延半載，由陰傷及陽分。小水混濁不清，是濕熱久蘊，中氣不足，溲便為之變，正合《內經》之旨也。用駐車合補中法，以冀漸效。</p>
<p>川連　地榆　白芍　木香　延胡　柴胡　歸身　阿膠　萆薢　甘草　豬苓（用黃蠟五分拌炒）　白朮　車前子　荊芥　側柏葉　荷蒂</p>
<p>（案8）鄭，左。脾胃氣弱，飲食不甘，闌門失固，大便不時溏薄，寒熱微作，脈形數弱帶弦，舌苔薄白。擬用補中益氣，猶可冀安。</p>
<p>黨參　綿耆　白朮　炙草　白茯苓　白芍　柴胡　升麻　陳皮　肉果　益智仁　車前子　砂仁　紅棗　煨姜</p>
<p>（案9）何，左。新患澼，出紅凍，解時並不腹痛，乃濕熱阻滯於氣分，非關停積也。擬疏氣和腑法。</p>
<p>制香附　木香　川連　淡芩　赤芍　枳殼　老蘇梗　茯苓　炙草　豬苓　澤瀉　川芎　白蔻仁　橘紅　荷蒂</p>
<p>（案10）徐，右。久痢五色，陰氣將已告匱，肝火乘虛上擾，胸痹作痛，胃納不多，脈來搏數帶弦，舌乾少津。症勢極重，勉擬一方，以候明眼酌定。</p>
<p>中生地（薑汁炒）　小毛連（酒炒）　阿膠（蒲黃末炒）　白頭翁（酒炒）　秦皮　淡芩　赤白芍　煨木香　玉金　制香附　炙草　延胡　姜皮炭　竹二青（薑汁炒）　</p>
<p>（案11）蘇，左。滯下經月，凍尚未淨，當臍作痛，痛攻滿腹，肛門下重，乃肝脾氣血兩虧，濕熱猶未清化也。</p>
<p>歸身　白芍（肉桂四分煎汁拌炒）　炙草　炮薑炭　木香　桔梗　紫菀　小川連　升麻　紅曲炭　菟絲餅　荷蒂</p>
<p>（案12）鄭，左。左脅結痞，腹膨，痛泄，脫肛。此由濕積阻結，肝脾不化所致。雖病久正虛，而舌苔中厚，仍有濁積。擬方先與和中疏滯，以暢邪機。</p>
<p>川厚朴　大腹絨　茯苓皮　焦六曲　小青皮　萊菔子炭　青蒿　炙雞內金　楂肉炭　通草　煨姜　乾荷葉蒂　二稻葉</p>

<h1>十七、郁</h1>
<p>（案1）周，左。郁損奇經，肺脾失和，復為風寒上逼，以致痰從上齶而出，脈形細澀。當以解鬱順氣漸調。</p>
<p>歸身　白芍　川芎　蔞仁　川貝母　鬱金　炙草　蘇子　藿香　橘紅　花粉　山梔　枳殼　茯苓</p>
<p>（案2）劉，左。病由郁損肝脾，氣機窒塞，絡脈阻滯，所進飲食不克化津，是以肢倦乏力，腿痠嗜臥。刻現腹膨䐜臏脹，脈象細澀而沉。先擬順氣扶脾，兼清痰濁，俟其輕減，再當議補。</p>
<p>旋覆花　蔞仁　橘絡　半夏　木香　蘇梗　沉香　延胡　青皮　蒺藜　枳殼　砂仁殼　大腹絨</p>
<p>又：刻診脈象已和，諸恙亦漸平復，再能靜調，可收全績。茲擬補益中略佐疏泄，以平為期。</p>
<p>珠兒參　歸身　沙苑　茅朮　黃精　細生地　炙草　牡蠣　白芍　香附　茯苓　橘紅　湘蓮子</p>
<p>（案3）張，左。病由鬱怒，肝胃氣乖，平昔積有濕熱，氣機失其暢遂，以致中脘痞堅，疼痛殊甚，延久最有伏梁之變，一切鮮肥寒冷之屬，在所宜禁，否則還有內癰之慮。刻診脈左弦長，右澀數，是土被木戕之明徵也。症非輕渺。</p>
<p>厚朴　杏仁　枳實　檳榔　沉香　烏藥　木香　青皮　瓜蔞　半夏　延胡　茯苓　草果仁</p>
<p>（案4）張，右。茲屆暮春，陽氣上越，脾受木戕，臟絡失疏，以致食納作飽，失其運化之司。議以疏肝理氣，醒其脾陽，俟其松減，再圖治本。</p>
<p>大生地　歸身　鬱金　香附　蔞皮　橘絡　半夏　青皮　苡米　陽春砂仁</p>
<p>（案5）王，左。悒鬱傷肺，思慮傷脾，中都氣窒，失其健運之司，以致不甚嗜食，食覺易飽，胸脘結塊如岑。理之非易效也。</p>
<p>製半夏　川樸　茅朮　瓜蔞皮　廣鬱金　制香附　範志曲　穀芽　麥芽　新會皮　白茯苓　砂仁　枳實　蘇梗　陳香櫞</p>

<h1>十八、暑</h1>
<p>（案1）張，左。營衛不調，寒熱屢止屢作，正氣素虧，更為邪擾。法當用補，但近襲暑邪，擬進疏補兼施。</p>
<p>洋參　麥冬　半夏　川貝母　歸身　延胡　青蒿梗　益元散　沉香　鮮佛手　老薑</p>
<p>（案2）張，左。新襲暑邪，積濕化熱，近復寒熱，汗不得暢，小水短澀，脈虛而數細，腹中覺痛。此邪與食滯交阻。法當清熱化邪。</p>
<p>川樸　青皮　枳殼　滑石　川斷　白扁豆子　山梔　青蒿露　赤豬苓</p>
<p>（案3）金，左。傷暑，表邪已罷，裡熱未除，脾胃鬱蒸，濕熱猶未清化，是以不思納食，胸痞溺短，種種見象，其病仍在氣分也。擬進七葉法，以清表裡之邪。</p>
<p>藿香葉　佩蘭葉　蒿葉　桑葉　荷葉　稻葉　竹葉　川貝母　石斛　益元散　芡實　通草　佛手</p>
<p>（案4）包，右。暑濕鬱伏化火，逗留於腸胃之間，以致上嘔下瀉，中脘痞滿，小溲短澀。此古稀之年，營衛兩虧，陰陽暌隔也。症屬霍亂，勿輕視之。</p>
<p>川樸　半夏　新會皮　炒蔞皮　枳實　檳榔　白蔻　杏仁　赤豬苓　澤瀉　六一散　藿香　竹二青　伏龍肝</p>
<p>又：吐瀉雖止，邪仍蟠踞中都，所進湯飲未肯下走，是以欲吐不能，時作煩躁耳。七旬高年，體虛邪戀，殊屬棘手，姑擬一方，以冀輕減為吉。</p>
<p>照前方去樸、蔻、杏，加梔、豉、車前子、左金丸</p>
<p>伏邪六日，寒熱或輕或重，脈弦數，舌黃微灰。邪在陽明，成瘧則輕，入里則重。</p>
<p>蔞皮　枳實　檳榔　豆豉　焦梔　知母　淡黃芩　連翹　香青蒿　赤苓　益元散</p>
<p>（案5）季，左。脈症合參，正氣雖虛，暑濕之邪未化，留戀肺衛，遂致寒熱有類瘧象，日輕日重，得汗則解，咳嗽痰黏。姑舍其虛，先理其實。</p>
<p>南北沙參　霜桑葉　黑芝麻　絹包　甜杏仁　益元散　川貝母　麥冬肉（青黛拌）　黑山梔　杜橘紅　軟白薇　赤茯苓　長牛膝（鹽水炒）　枇杷葉</p>

<h1>十九、瘧</h1>
<p>（案1）蔡，左。暑邪逗留未解，瘧雖暫止，而邪蘊頗重，防其餘燼復燃。脈搏數，舌微白。當以清解理之。</p>
<p>青蒿　柴胡　淡芩　山梔　澤瀉　白朮　知母　白扁豆子　半夏　檳榔　通草　赤苓豆卷　橘紅　六一散　白薇</p>
<p>（案2）黃，左。瘧乃伏氣之發，寒熱少汗，胸脘痞悶，時作惡心欲嘔，邪來徹也。脈弦數，溺赤。治宜清邪泄濕法。</p>
<p>桂枝　青蒿　白薇　豆卷　玉泉散　雞蘇散　通草　廣皮　澤瀉　淡芩　枳殼　赤豬苓　苡仁　半夏　車前子　姜　棗</p>
<p>（案3）劉，左。瘧後餘邪未盡，寒熱雖止，而濕熱仍痼，當用清泄開其太陽，則頭暈、脘痞、小水赤澀，症自可就痊。</p>
<p>赤茯苓（各）　豬苓　澤瀉　白朮　官桂　茵陳　生熟苡仁　青陳皮（各）　山梔　炙草　黃柏　滑石　淡竹葉　燈草</p>
<p>（案4）夏，左。久瘧四五年，營衛失調，氣與邪並，結為瘧母，徒恃湯藥無益也。急宜扶正祛邪，以丸劑消其痞結，以湯飲理其本病，漸調勿懈，庶無他慮。</p>
<p>黨參　白朮　半夏　鱉甲　牡蠣　首烏　柴胡　青皮　淡芩　橘紅　茯苓　炙草　薑棗　另服鱉甲煎丸。</p>
<p>（案5）某。寒輕熱重，三日一作，脈弦數，舌滿白。當從募原達邪。一切生冷鮮肥宜忌。</p>
<p>川樸　半夏　柴胡　青皮　赤苓　貝母　淡芩　新會皮　六一散　白蔻　青蒿　枳殼　知母　佛手　姜　棗</p>
<p>（案6）夏，左。瘧久新止，脈猶弦數，其邪未盡可知。七旬高年，猶幸胃運尚健，然邪伏深邃，還防復熾。擬補益輔其正氣，佐清疏祛其餘邪，以冀向安。</p>
<p>黨參　白朮　炙草　大熟地（麻黃三分同炒鬆）　鹿角霜　好肉桂（去粗皮，後下）　青皮　青蒿　枳殼　茯苓　白芥子　姜　棗</p>
<p>（案7）郁，左。伏邪久延匝月，寒熱間日而作，甚則神識若蒙，小水失禁，體懶指腫，熱解時仍能進食，據云平昔素患痰症，脾陽不克健運，營衛之氣已離，閱所進方藥，似乎相左，以脈象虛中仍見和洽，即此便是生機。爰擬一方，以候尊裁。</p>
<p>洋參（二錢）　麥冬（勿去心，三錢）　五味子（一錢）　生鱉甲（八錢）　生龜甲（八錢）　牡蠣（一兩）　干菖蒲（四分）　玉金（一錢半）　白朮（防風一錢煎汁拌炒）　防己　苡仁（六錢）　芡實（五錢）　炙草（五分）　茯神（辰拌）　橘絡（薑汁炒，五分）　竹荊瀝（各一匙）　薑汁（一小匙）　</p>
<p>又：前進甘涼咸潤之劑，似得小效，但昨午小番，仍現厥逆，刻診脈搏數帶弦，其病竟未退盡，還有增變之虞。愚見少服藥為中醫，此仲景語也。第以飲食緩緩調之，俟其營衛二循行常度，則諸邪可望退舍也。</p>
<p>上洋參　麥冬　五味子　生鱉甲　生龜甲　牡蠣　玉金　茯苓　炙草　川貝母　五加皮　橘絡　鉤藤　青蒿</p>
<p>（案8）鄒。類瘧一候，有汗不解，甚則神昏譫語，大便溏泄，間有咳嗽。症屬陽明太陽，一時未肯驟解，用藥仍從少陽，以泄蘊蓄之邪，略佐苦降，望其陰氣漸振，可臻佳境。</p>
<p>鮮生地（淡西豉三錢同打，六錢）　青麟丸（過下，三錢）　淡芩（酒炒，一錢半）　柴胡（五分）　生枳實（一錢半）　檳榔（一錢半）　黑山梔（一錢半）　知母（一錢半）　赤豬苓（各一錢半）　焦白朮（一錢半）　澤瀉（鹽水炒，八分）　白扁豆子（三錢）　細川連（酒炒，五分）　葛根（一錢半）　益元散（包，三錢）　通草（五分）　二稻葉（五錢）　扁豆葉（二支）　</p>
<p>（案9）閔。三陰大瘧不止者，邪未徹也，未有邪未徹而可以止之者。</p>
<p>川桂枝　淡芩　焦白朮　知母　草果仁　範志曲　枳殼　製半夏　新會皮　姜　棗</p>
<p>（案10）張。久瘧之後，寒痰內伏，咳嗽年餘不止，勢難杜截根株矣。</p>
<p>麻黃　赤芍　炙草　蘇子　前胡　新會皮　金沸草　半夏　澤瀉　川萆薢</p>
<p>（案11）潘。刻診脈象左數滑，右弦數，兩尺弱不勝依，舌滑微黃苔，瘧來微寒壯熱，從無暢汗。此體虛正不勝邪，不能使邪外徹。據云懷麟二月，似覺躍動。推其病源，從郁損而起，漸及太陰脾臟，脾主四肢，遂致遍體浮腫，日雖不多，而正氣一時未肯來復，理之殊非易，幸後天生氣尚壯，猶能納食，據證合脈，還可措手。始擬益氣養營，以治其本，疏邪清瘧，以理其標，俾得營衛循度，自可向安。</p>
<p>上洋參　焦白朮　中生地　軟柴胡（鱉血拌炒）　歸身（酒炒）　淡黃芩　車前子　五爪橘紅　生鱉甲（先煎）　青蒿子　半夏曲（香油拌炒）　茯苓　炙草帶葉蘇梗　生薑　紅棗　黃楊樹頭</p>

<h1>二十、寒熱</h1>
<p>（案1）僧。始由微寒微熱，略不經意，閱六七天未嘗服一劑藥，延挨至今將及一旬，氣喘不得臥，痰黏不得出，視其形神沮喪，色白如鹽，四肢厥冷，兩脈全無，仔細按之覺細如遊絲。此脫症也，危在旦夕矣。余念其平日友情，勉書一方，以盡人事。</p>
<p>人參（另沖）　香附　蛤蚧尾　龍齒　牡蠣　白朮　桂木　白芍　炙草　茯苓　半夏　五味子　竹二青薑汁炒</p>
<p>（案2）程，左。症經四旬，其中反復多端，無庸贅述。刻診脈形細數、無神欲散，神識若明若寐，喚之則醒，聽之則蒙，胸膺刺痛仍熾，中脘更見痞滿。此正虛邪陷，陰陽樞紐欲離之象也。舌乾苔燥，唇揭齒焦，五臟之液皆竭矣。症在不治，姑念其敦請之誠。擬用復脈法，聊盡人事，以冀天心。</p>
<p>炙草　人參　大生地　鮮生地　火麻仁　麥冬（辰拌）　清阿膠　生龍齒　煅牡蠣　茯神（辰砂拌）　大棗</p>
<p>（案3）須，左。病由感邪積食，盤踞肺胃，前經表散得汗，苦降便通，表裡之氣已得疏通，是佳兆也，但濕熱鬱蒸未化，上干肺系，為咳為逆耳。刻診脈左細數，右搏數，舌苔膩滯而灰。擬進芳香泄熱，淡滲化濕，略佐順氣化痰為法。</p>
<p>淡豆豉（二錢）　佩蘭葉（一錢半）　苡仁（三錢）　沉水香（磨，沖，五分）　赤茯苓（二錢）　廣玉金（一錢半）　木豬苓（三錢）　煅蛤殼（先煎，五錢）　通草（八分）　生白朮（用元米泔水浸，煎三沸去朮代水，二錢）　白殘花（八分）</p>
<p>又：病經匝月，其中反復多端，不必贅述。刻診脈左細數帶弦，右搏數而大，舌苔久灰而未盡，飲食少進，咳嗽仍作，今復痰中略帶紅黃之色。此肺熱熏灼，胃汁乾涸，以致氣弱固聚胸中，津液不能下注，漸有肺痿之虞，其大便久秘，小水短澀，亦職此之由也。急宜涵養肺痿之陰，俾陰氣復得一分，便去一分病象，無勞溫補，亦無庸清泄。</p>
<p>中生地　麥冬　阿膠　火麻仁　炙草　川貝母　紫菀　知母　花粉　蔞仁　桑葉　元米　綠豆衣　甘蔗汁</p>
<p>（案4）顧，左。先由寒熱，一二日後，以強勞加病，復挾食積，驟致神識若蒙，狂躁譫語，身熱如烙，衄血如注，大渴引飲，大便秘結，脈象洪數，舌苔紅而起刺。此邪積交併，痰氣並阻，身中諸脈失疏，最為凶候，若非峻治，焉望轉機。</p>
<p>烏犀尖　鮮生地　山梔　淡芩　天竹黃　川連　膽星　熟石膏　寒水石　鬱金　枳實　檳榔　橘紅　連翹　人中黃　鮮石菖蒲　竹心　茅蘆根</p>
<p>（案5）江，左。伏邪留戀不清，時有寒熱，善噯。此氣機失暢所致。</p>
<p>川樸　半夏　杏仁　白薇　陳皮　白蔻仁　青蒿　枳殼　苡仁　赤苓　益元散</p>
<p>（案6）蔡，左。伏邪深蘊，欲達未達，遷延幾及二候，大便欲解不行，漸有內陷之慮。刻診脈搏數而弦，舌苔灰膩。病勢殊屬深險，姑擬一方，冀其大解得汗，透發斑疹，方有生機。</p>
<p>牛蒡子　大連翹　薄荷頭　杏仁　赤苓　瓜蔞皮（元明粉一錢半同炒）　厚朴　膽星　半夏　枳實　玄參　鬱金　橘紅　六一散　捲心竹葉燈草</p>
<p>（案7）包，左。本病陰虛濕重，體質不固，加以春夏之變，寒暄失時，客氣乘虛而入，復因脈絡鬱滯，心境不暢，遂致痰食邪氣交阻於中，先現寒熱，繼變昏沉若蒙，語言錯雜，病勢頗為重候。閱前所服方，與病誠符，不必更章。刻診脈形搏數帶郁，舌苔宿黃已退，白膩未除。姑擬扶正清邪，開鬱導滯，冀其輕減為吉。</p>
<p>洋參（二錢）　沙參（一兩）　檳榔（一錢半）　枳實（一錢半）　蔞皮（五錢）　半夏（一錢半）　通草（八分）　苡仁（三錢）　赤豬苓（各一錢半）　六一散（三錢）　車前子（三錢）　葛花（二錢）　雞距子（三錢）　干菖蒲（三錢）　竹心（十枚）　燈心（五分）</p>
<p>（案8）丁。病延五旬，其症或輕或重，反復多端，至今仍有寒熱，胸痞納少，右足跨隱隱作痛，並無腫脹，經脈失於榮養，猶有外瘍之慮。刻診脈象左細數，右弦數。是陰氣不足，五液皆虧之症，徒治寒熱無益也。擬用仲景法，以冀輕減。</p>
<p>中生地　麥冬　火麻仁　石斛　炙草　蒺藜　二泉膠　延胡　川貝　生穀芽　茯苓　玄參　霜桑葉　冬瓜仁　花粉　二稻葉</p>
<p>改方：去冬瓜仁、花粉、桑葉、稻葉，加沉香、女貞子、冬朮、蓮肉、紅棗、茯神</p>
<p>（案9）包，左。暑熱鬱蒸，灼熱頗重，傷及陽氣，是以百節乏力也，以脈來洪大搏數知之。</p>
<p>熟石膏　知母　淡芩　茯苓　枳殼　花粉　象貝母　焦梔　六一散　橘紅　採芸曲</p>
<p>（案10）顧，右。濕溫夾斑帶疹，裡外熱灼，適逢經至，須防熱入血室，時欲嘔惡，大便溏薄，症勢非輕，切勿泛視。前所服藥，清滋太早，試問所積濕邪，從何退解乎。姑擬一方，以望漸輕為吉。</p>
<p>藿香　佩蘭　杏仁　淡芩　大豆卷　連翹　薄荷　赤苓　豬苓　澤瀉　冬桑葉　菊花　蘆根　六一散　白扁豆花</p>
<p>（案11）印，左。前投辛涼之屬，赤疹隱隱，達而未清，得汗頗暢，而畏寒灼熱未罷，脈左弦數，右洪數。此邪滯交黏所致。擬涼以解之，清以化之。</p>
<p>鮮石斛　鮮沙參　花粉　熟石膏　淡芩　枳實　檳榔　瓜蔞仁　玄明粉　丹皮　蟬衣　薄荷　羚羊角　連翹　六一散</p>
<p>（案12）徐，左。風溫挾濕，寒熱有汗不解，神識時明時昧，語言無序，咳嗽，痰黏不爽，春邪已得透達，但里濕未化，鬱而成熱，熱灼不已，將有化燥發痙之變。刻下大便由瀉轉痢，乃協熱下泄也。診脈弦數而洪，口渴多飲，所可畏者，其邪有內陷之險。肝風一熾，陰氣隨竭矣。閱前方大致不差，其恙正在鴟張，是以未能驟致耳。姑擬甘涼清泄並理，俟其熱退神安，方許無事。錄方以候主裁。</p>
<p>羚羊角　淡黃芩　朱茯神　焦茅朮　綠升麻　煅牡蠣　真川貝　小毛連　甘草　石決明　甘菊花　大連翹　採芸曲　苡仁　鬱金　竹心　燈草（辰染）　</p>
<p>（案13）崔，左。病由傷寒直中太厥二陰，於昨晚驟見腹中大痛，汗泄太多，角弓反張，不省人事，兩脈弦勁，舌苔白黃。據症脈，實為險惡，勉擬一方，以冀萬一之幸。</p>
<p>羚羊角　製半夏　新會皮　連翹　石決明　焦白朮　炙草　白茯苓　玄參　石菖蒲　真川貝　池菊花　竹二青</p>
<p>（案14）朱，左。伏邪積滯蘊結陽明，迄今兩候，漸已化火，劫爍津液，熱甚於里，舌紅苔灰滿布，語言錯亂，中脘按之痞滿，脈形弦數，右大於左。邪火充斥，勢若燎原，慎防風動痙厥變幻。錄方候正。</p>
<p>烏犀尖（五分）　鮮生地（一兩）　粉丹皮（一錢半）　知母（二錢）　生石膏（四錢）　連翹（勿去心，三錢）　赤芍（一錢半）　朱茯神（三錢）　全瓜蔞（四錢）　枳實（生切，一錢半）　益元散（包，三錢）　茅蘆根（各一兩）</p>
<p>（案15）沙，左。伏邪壯熱兩候，轉為寒熱如瘧，但熱來頗重，且熱長退短，大汗而熱不減，如是者又十日矣。刻診脈浮弦數硬，右手欠暢，舌苔白濁兼黃，根中焦灰，尖色紅絳，唇焦乾板。此腑中積熱留戀，蒸蘊燔灼，熱邪由腑涉經，故外見瘧狀，其熱仍蘊於腑，內擾於營，故熱重時神清，不清時而且肢指蠕動，漸有風痙之兆。病將一月，氣液被傷已甚，而邪積膠結不化，深恐邪戀正虛，致生變態。擬方速與疏腑泄熱，兼以清營養胃，冀其積熱下行，庶幾熱勢漸平。錄方候正。</p>
<p>枳實（元明粉六分化水磨沖）　檳榔　廣鬱金　淡芩　知母　蔞皮仁　鮮石斛　洋參　鮮生地　連翹心　生錦紋　竹茹　茅根肉　粉丹皮</p>
<p>（案16）唐，左。伏邪挾積，留戀經旬，灼熱有汗不解，入夜轉甚，間有神昏譫語，口渴引飲，脘痛拒按，大便解而不多，脈象兩手弦洪，尺部較甚，舌苔光絳，中罩灰。症屬邪積內阻，濕熱上蒙，防其邪陷心營生變。茲姑擬宣邪化熱，通腑泄濁，俟其輕減，方可著手。錄方候正。</p>
<p>鮮石斛　玉泉散　連翹　玉金　知母　杏仁　淡芩　茯神　川貝母　青蒿　苡米　枳實　瓜蔞皮　二稻葉</p>
<p>（案17）丁，右。伏邪旬日，寒熱往來，有日重日輕之勢，熱不分清，心胸煩灼，脘悶氣逆，上升欲嘔，脈右大於左，經汐不期適至，甫經四日不斷，乃血室空虛，恐邪熱內陷。擬河間分泄三焦，冀准瘧則輕。</p>
<p>製半夏　生石膏（薄荷五分同打）　知母　桂枝　新會皮　赤豬苓　益元散　枳實　赤芍　藿香　白蔻仁　竹二青　鮮稻漿</p>
<p>（案18）郁，右。伏邪深邃，欲達不宣，繼復受痧穢，交相為病，先見噁心嘔吐，下見洞泄，中宮隔拒，此邪與食滯使然。是症名曰霍亂，乃霍然撩亂之謂，當以正氣撤邪，其病自退。今視前方用白虎與瀉心並進，雖無大錯，未免其邪早被遏抑，蒸騰變幻，無有已時耳。再閱後方，用溫中逐穢之屬，正合其宜，而仍未見效者，以經水乍過，血室已虛，不能使邪外出也。刻診脈左搏數，右濡數，舌白滿布，嘔瀉減而未罷。仍宜溫以降之，苦以泄之，芳香以逐之，冀其微效為吉。錄方候正。</p>
<p>制川樸　淡芩　杏仁　連翹　枳實　大腹皮　蔻殼　香薷　赤茯苓　六一散　焦茅朮　萊菔子　佩蘭葉　竹二青　燈心</p>
<p>（案19）張，右。兩進涼解達邪，甫出汗而欲小解，汗即縮，疹亦未布，是邪欲出不達，肌膚燔灼如前，脈象左大於右，浮部多數，舌紅，微起白苔。兩陽邪火猶熾，仍望表出汗透，疹布為佳。</p>
<p>牛蒡子　黑山梔　淡豆豉　連翹殼　粉丹皮　鮮生地　鮮沙參　赤芍　白薇　荊芥穗　白杏仁　蟬衣　茅蘆根</p>
<p>（案20）汪，右。暑濕熱鬱於三焦，瀰漫不已，寒熱微汗，將及一句，其邪未曾透達，有熱入血室之險，是以晝則明瞭，夜則譫語耳。茲診脈形細數，舌白微黃，而津液全涸。陰氣先已告竭，則陽光隨之獨熾。據症合脈，頗為重候，宜慎之。</p>
<p>鮮石斛（六錢）　鮮生地（六錢）　淡豆豉（一錢半）　軟柴胡（炒，五分）　黑山梔（三錢）　肥知母（一錢半）　淡黃芩（一錢半）　軟白薇（一錢半）　大連翹（三錢）　金銀花露（沖，一兩）　真川貝母（一錢半）　炙甘草（三分）　白茯苓（一錢半）　廣玉金（一錢半）　活水蘆根（一兩）　竹葉（五十片）　燈心（三十寸）　</p>
<p>又：前進養陰增液之屬，熱灼漸退，已得松機，入暮亦能清了，但裡熱仍然熾甚，小腸丙火乘濕熱交蒸，是以小溲短赤，不時煩躁，乃暑症之故態也。診脈較前略和，舌津漸回。再能清以化之，可臻佳境。</p>
<p>鮮生地（六錢）　鮮石斛（六錢）　細川連（五分）　淡黃芩（一錢半）　黑山梔（三錢）　赤茯苓（三錢）　潼木通（一錢）　六一散（三錢）　連翹殼（二錢）　象貝母（三錢）　瓜蔞皮（三錢）　甘菊花（一錢半）　淨鉤鉤（後下，三錢）　活水蘆根（五錢）　竹葉（五十片）　燈心（三十寸）　</p>
<p>又：脈象較前已和，胃液亦能漸蘇，夜臥頗安，皆屬佳兆。再能調理得宜，可望痊愈。</p>
<p>川石斛三錢）　鮮沙參六錢）　大麥冬去心，一錢半）　天花粉三錢）　肥知母一錢半）　生熟穀芽各三錢茯苓（三錢）　炙甘草三分）　大連翹一錢半）　焦白朮（一錢半）　女貞子炒，三錢）　白薇須一錢半）　枇杷葉露沖，一兩）　蘆根去節，一兩）</p>

<h1>二十一、溫熱</h1>
<p>（案1）劉，左，幼。寒熱經旬不解，灼熱少汗，舌乾焦黃，脈來搏數。此溫邪發於秋燥之後，肺胃津液被劫，不能使邪外出，漸有入營之險。五歲幼齡，陰氣本未生全，再受重邪，恐難勝任。姑擬一方，以冀萬幸，倘有斑疹透發，便是佳境。</p>
<p>鮮石斛　花粉　知母　雙鉤　寒水石　連翹　大力子　元參　川貝　丹皮　熟石膏（薄荷五分同研）　青木香　生甘草　茅蘆根（去心節）　竹心</p>
<p>（案2）夏，右。溫邪越二旬，曾得大汗，熱仍不解，閱顴頰項倒斑疹遍布，是邪從外達之象。晝則明瞭，夜則譫語，正合仲景熱入血室條例。脈來數疾帶弦，舌尖根微碎。擬從營分清熱，冀其仍歸少陽，方可措手。</p>
<p>烏犀尖　赤芍　丹皮　生草　鮮石斛　柴胡　廣鬱金　菖蒲　連翹　玄參　桃仁泥　茯苓　竹心　燈草</p>
<p>（案3）溫，左。刻診脈象左數帶弦，弦為肝陰不足也；右數帶洪，洪為胃熱有餘也。當此深秋涼氣外束，所伏之邪有栩栩欲動之勢，用藥未便峻補。先擬清泄，以輔正氣，俟其伏邪少卻，再議補益。</p>
<p>青蒿　杏仁　焦梔　枳殼　茯苓　半夏曲　採芸曲　六一散　麥冬　白朮　蔻仁　制香附　南沙參　二稻葉</p>
<p>（案4）華，左。風溫襲入膻中，痰熱交熾，神識不清，音啞，無汗，脈象模糊，舌灰黑。症勢殊為險惡，勉擬一方，以望萬一之幸。</p>
<p>烏犀尖（磨，沖）　鮮生地（淡豆豉三錢，元寸一釐，同打）　羚羊角　粉丹皮　天竹黃　陳膽星　鬱金　連翹　玄參　真川貝母　石菖蒲　薄荷　人中黃燈心　竹心</p>
<p>另：至寶丹一粒，先服。</p>
<p>（案5）於，左。風溫欲達不宣，熱灼如烙，有汗而熱仍不減，甚則言語如狂，大便略行，而轉矢氣屢作，此病結陽明少陽兩經，將有化燥之變。脈形搏數，舌乾坼，此陰液已被熱劫也。症勢頗為險惡，勉擬一方，以希轉輕為幸。</p>
<p>生錦紋（酒浸後下，三錢）　制川樸（一錢）　檳榔（一錢半）　枳實（一錢半）　炒蔞皮（三錢）　煨葛根（一錢半）　牛蒡子（三錢）　連翹（三錢）　鬱金（一錢半）　黑梔（一錢半）　柴胡（六分）　茯苓（一錢半）　石菖蒲（五分）　淡豆豉（鮮生地五錢同打，三錢）　竹心（三十支）　燈草（五寸）　蘆根（一兩）</p>
<p>（案6）張，左。濕體而吸冬令溫煦之氣，濕與溫合，而為濕溫，濕與熱蒸，經風未撤，症及半月，頭疼惡風雖罷，而咳未全除，熱勢起伏，熱起則心胸煩悶，齒垢苔黴，口膩不渴。溫病舌黑條下明言，邪熱劫奪，真水內虧，物窮則化，以致水來剋火，齒垢之理亦然。果爾，則當大熱神煩，必欲引外水以濟其急，萬無既已劫陰而獨不渴之理。今以經風未盡，在裡之邪不能借道而出，遂使熱蒸於胃，而痰濕抑遏其炎，結為黴垢，與水涸實有不同，高明者必當鑑及也。刻下大便屢行，而猶頻轉矢氣，臍下按之板滯。《金匱》云，陽明病，頻轉矢氣者，為有燥屎，當下之。無如大便屢行之後，氣每下注，便後有黏膩之物隨之而下，濕熱之邪欲趨其地，雖不得不行，續攻似宜暫緩一步。脈象弦滑而數，右寸帶浮，尤為濕溫之熱蒸濕騰，經有餘風，腑有留滯之證。擬從三焦宣化，兼撤經邪，濕化氣宣，蒸騰之炎自解也。管見所及，尚乞主裁，並希指謬。</p>
<p>光杏仁（去皮尖，勿打，三錢）　白蔻仁（後下，五分）　製半夏（二錢）　廣玉金（一錢半）　淡芩（一錢半）　赤豬苓（各三錢）　苦桔梗（一錢）　廣橘紅（一錢）　方通草（一錢）　香豆豉（三錢）　冬瓜子（四錢）　生苡米（四錢）　經霜桑葉（七分）　滑石（三錢）</p>
<p>前方服二劑，熱當漸輕，苔當漸化，即請高明將黃芩一味斟酌去留，再服一二帖。如宿滯已不攻而自下，腹板轉柔，無須攻奪尤妙。若依然腹板，甚至動躍，則用木香檳榔丸一錢半，枳實導滯丸一錢半，以緩下之。下後矢氣已止，而板滯動氣依然未退，則是積去而脾陽已傷，水邪乾土矣，弗再攻之。俟病退之後，以理中等湯調之，然否，臺裁。</p>
<p>（案7）隆，左。晚來熱重，便溏，無汗，七八日矣，惟脈象細弱不數，舌紅少苔，兩足痿弱，想陰分素虛，暑邪陷伏於內，不能外托，病勢頗為深重。擬清暑疏邪，冀得外解乃松。</p>
<p>豆豉卷　藿梗　青蒿　丹皮　淡芩　滑石　連翹　陳皮　桔梗　六曲　蘇梗　茅根</p>
<p>（案8）陳。冬溫，寒熱止而復作，大腹微膨，脈象左弦數，右數弱，舌光無苔。此正氣先虧，復為病後失調，以致反復不已。據證脈頗為重候，猶幸今午身得暢汗，亦是佳兆也。茲擬一方，以望漸愈為吉。</p>
<p>南沙參　麥冬（青黛拌）　五味子　穭豆衣　白芍　白朮　茯苓　穀芽　白蒺藜　半夏曲　新會皮　炙草　燈心　梨皮</p>
<p>又：溫邪將次清泄，諸恙悉減，已屬應手。但平素肝腎兩虧，痰濁不化，乘機竄入絡，以致少腹築築動氣也。診得脈象較前有和融之象，是可喜之徵。所慮調理不宜再致反復為囑。</p>
<p>五味子　旋覆花　白芍（桂枝二分同炒）　紅花　歸身　桃仁　海蛤殼　柴胡　川貝母　茯神　棗仁　牡蠣　竹二青　銀杏肉</p>

<h1>二十二、瘋症</h1>
<p>（案1）陳，左。病由勞碌傷筋，積久化熱，脈絡受燔，以致兩腕先後發腫而痛，此鼓槌風也。刻診脈左弦洪，右搏數。當以和營通絡，以清脈道，緩緩調治，可望向安。</p>
<p>桂枝　羚羊角　歸身　川芎　五加皮　丹參　防風　炙乳沒藥　白蒺藜　秦艽　延胡索　蠶砂　大貝母　赤苓</p>

<h1>二十三、痹</h1>
<p>（案1）郭，左。病後餘熱留於絡中，兩肩麻痹，下連指臂，延久失治，最有痱中之累。刻診脈象弦細而虛。法當養營和絡，以清其熱。</p>
<p>中生地　歸身　綿耆　黨參　黃柏　秦艽　白芍　防風　羚羊角　鉤鉤　池菊　炙草　絲瓜絡　桑枝</p>
<p>又：正氣不足，血液有虧，不能榮養筋絡，以致節骱牽搐刺痛，不便伸屈。法當峻補之議，現因胸痞脅脹，肝胃不和也。擬於補中略佐疏泄，俟其平復，再議滋補。</p>
<p>中生地　麥冬　延胡　秦艽　蠶砂　青皮　丹參　瓜蔞仁　五加皮　歸身　川芎　炙乳沒　木香　炙草</p>
<p>（案2）包，右。寒濕鬱久而成熱，熱極則風生，加以氣血有虧，節骱麻痹，今復左腕脈絡牽強作楚，是名痹症。法當和營通絡以熄風，養陰壯筋以止痛，可望漸效。</p>
<p>細生地　歸身　川芎　丹參　秦艽　延胡　五加皮　羌活　木瓜　炙乳沒　二泉膠　蠶砂　炙草　側柏葉　桑枝</p>
<p>（案3）顧，右。據述背膂筋脈牽強而痛，時緩時劇，脈形弦數。此血虛化風，漸成風痹重症。法當溫養經脈，以滋化源。一切勞碌及動風發物在所宜禁。</p>
<p>中生地　當歸　川芎　五加皮　桂木　二泉膠　木瓜　炙乳沒　羌活　川斷　麥冬　湘杞子　炙草　池菊</p>
<p>（案4）陳，左。脈象細數，左部腰膂酸楚，筋脈牽強，難於俯仰，下連腿脛。刻下年壯體強，猶可冀愈，倘因循失治，最有偏枯之累，近復咳嗽頻頻，未便過用溫熱。姑以和營通絡理之。</p>
<p>萆薢　杜仲　菟絲餅　牛膝　歸身　木瓜　蠶砂　茅朮　五加皮　防風己　炙乳沒　獨活　金毛脊　炙草　桃肉</p>
<p>又：前進和營通絡之屬，咳嗽得止，其為下損無疑，惟腰足酸楚麻木，古人每用針灸冀效，若徒恃湯液，恐難驟效也。</p>
<p>老桂木　五加皮　菟絲餅　牛膝　虎骨膠　粉歸身　金毛脊　厚杜仲　沙苑　川斷肉　紫丹參　川獨活　延胡索　桃肉　老桑枝</p>
<p>（案5）章，左。診脈左搏數，右洪數，舌苔白而少津。此症素受宿傷，經筋骨脈皆不用事，若再失治，有痿廢之變。刻下暑邪內伏，胸痞，不嗜食，右頰車結腫，皆是邪踞之徵。治當先理伏邪，再議祛傷。</p>
<p>歸身　柴胡　赤苓　川芎　豆豉　佩蘭葉　益元散　藿香　枳殼　鬱金　青陳皮　大貝母　延胡索　木香　鮮佛手</p>
<p>（案6）尼。志切清修，身居梵境，中年當此，悒鬱雖堪，居諸久歷，二氣造偏，是以所進穀食，其精華悉化為痰濁，不克灑陳於經脈，驟致兩腿內廉，上至股陰，下及隱白，隱隱作痛，無有已時，此方書所謂痛痹也。據症當用溫通，雖當酷暑，易觸穢邪，而用藥不得不從溫補養。故擬溫通先治其本，俟痛勢稍緩，再行他治。</p>
<p>大生地　歸身　白芍　川芎　五加皮　長牛膝　木瓜　茴香　附子炭　官桂　湘杞子　二蠶砂　炙草　茯苓　桑枝（酒炒）　炙乳沒　鹿角膠</p>
<p>另吃鹿筋（漂淨），臨服加青鹽少許，或如黃豆大。</p>
<p>（案7）包，左。診脈象細數無神，滑而無力，兩尺更弱，此心腎失交，損其太和之氣，諸病最易叢生。據云因勞碌過甚，驟見精泄，有狂瀾既倒之勢，此君火與相火相搏，陰陽失其維續使然也。急宜早為調治，否則中年以後每多痹瘓之虞。擬進王荊公妙香散合金鎖固精法損益用之。</p>
<p>洋參　抱木茯神（辰拌）　茯苓　金櫻子（去毛，炙）　龍骨　牡蠣　山藥　玄參　丹參　山萸肉　木香　朱麥冬　桑螵蛸　炙草　車前子　干石菖蒲　白蓮鬚</p>
<p>（案8）畢，右。坤體當及笄之年，陰氣始全，陽光易冒，設有起居飲食不循常度，則諸病叢生。茲症四肢、胸背、腰腹、遍體皆痛，難於行動，日盛一日，有加無已，此即病痹也。其勢頗重，論理當用溫通，但脈來堅實弦洪，舌紅刺碎，是肝家鬱火，脾經濕熱積於絡脈使然，若徒泥古法，恐不易效。姑擬和絡清火，以望輕減。</p>
<p>鮮生地（八錢）　羚羊角（鎊，先煎，二錢）　五加皮（炒，三錢）　當歸（炒，一錢半）　丹皮（炒，一錢）　赤芍（炒，一錢半）　川芎（炒，八分）　延胡（酒炒）　鉤鉤（三錢）　連翹（三錢）　山梔（三錢）　秦艽（半生半炒，三錢）　蠶砂（炒，三錢）　銀花（炒，三錢）　清寧丸（過下，五分）　竹葉（二十片）</p>
<p>（案9）宋，左。寒濕流骱，鬱而成瘋，兩足跗漫腫而躄。若再延岩失治，廢疾在邇矣。</p>
<p>獨活（一錢半）　防風（一錢半）　羚羊角（先煎，一錢半）　歸身（一錢半）　牛膝（一錢半）　防己（二錢）　蠶砂（二錢）　赤芍（二錢）　丹皮（一錢半）　延胡（一錢半）　瓜蔞（一錢半）　尋骨風（三錢）　細生地（三錢）　五加皮（三錢）　炙乳沒（各五分）　桑枝（四錢）　松節（二個）　桂枝（三分）　秦艽（半生、半炒，三錢）</p>
<p>（案10）某。及笄之年，血熱熾盛，外風乘機而襲，肌膚皮毛受病，濕邪因之下注，與熱相搏，而成風痹之症。現患兩足跗腫，指節腫脹，焮赤作痛，甚則滲流濁水，入暮其腫更甚。若恃湯液，恐難奏效。爰擬水泛丸方，緩緩治之，以圖痊愈。</p>
<p>大生地（二兩）　歸身（一兩）　赤芍（一兩）　丹皮（一兩）　萆薢（二兩）　牛膝（一兩）　茅朮（一兩五錢）　青皮（一兩）　防風己（各一兩）　羌獨活（各一兩）　川草烏（各三錢）　淡芩（一兩）　炙草（五錢）　川芎（五錢）　延胡（六錢）　柴胡（四錢）　首烏（一兩）　大貝（一兩五錢）　蠶砂（一兩）　苡仁（三兩）</p>
<p>上藥共磨細末，用海桐皮一兩，海風藤一兩，松樹皮、楝樹皮各一兩，煎湯水泛為丸。每日早晚各進二錢，開水送下，服時忌食一切海鮮、動風發物、豬首肉、蹄爪、麵筋、火酒等。</p>
<p>（案11）蔣。營血不足，寒澀絡中，更為風邪所襲，以致手指踡縮不舒，《內經》所謂軟短為拘也。凡筋統屬肝，肝苦急，宜辛以緩之，溫以和之。</p>
<p>桂枝　附子　秦艽　五加皮　紅花　木瓜　川芎　茅朮　當歸　防風　炙草　蠶砂　薑黃　延胡　赤苓　鬱金　炙乳沒　桑枝　煨姜</p>
<p>（案12）章。刻脈象弦細帶數，舌青苔厚，腰膂驟作痠疼，難於俯仰，四肢牽搐，時泄冷汗。此陰虛濕勝，郁遏陽氣所致，防發外瘍，急宜慎調。</p>
<p>桂枝　白朮　木瓜　秦艽　歸身　茯苓　防風己（各）　川芎　炙草　延胡　玉金　川斷　五加皮　炙乳沒（各）　</p>
<p>（案13）許，左。診得脈象細數而澀，舌苔滿白，兩足膝脛腫，痛楚如刺，此症雖云鶴膝，實《內經》所謂行痹也。凡骱皆謂之溪，溪發之症雖輕必重，每有偏廢之累。</p>
<p>厚朴　秦艽　木瓜　牛膝　獨活　青皮　防風己　歸身　澤瀉　柴胡　苡米　五加皮　炙乳沒　荷梗</p>
<p>（案14）董。絡脈失和，加以暑風外襲，寒濕乘之，以致四肢酸楚，脛腫殊甚。擬用通絡退腫為治。</p>
<p>羌獨活　前柴胡　防風己　茅白朮　青陳皮　生熟苡仁　桃杏仁　澤瀉　赤苓　枳殼　帶葉蘇梗　六一散　首烏藤　桑皮</p>
<p>（案15）相，右。寒熱乘虛下注，八脈氣痹，尻膂酸楚，屈伸不便。近復陽氣上冒，巔頂作癢若蟲行，甚則其發脫落。擬先溫通奇經，鎮熄陽氣。</p>
<p>中生地　當歸　川芎　首烏　天麻　石決明　五加皮　茴香　丹參　青皮　白朮　川斷肉　制香附　茯苓　延胡　生薑</p>
<p>（案16）錢，右。據述坤體年逾花甲，五臟之陰皆虧，陰虧則孤陽無所附，燔灼不已，化風莫制，是以偏左，湧泉倏有熱氣上騰，循股膝腰膂直干胸膈，甚則煩躁欲蒙，竟有不可支持之勢，此痱中重恙也。近復漸延及右，氣血營衛皆遭蹂躪，欲求寧靖，其可得乎。所幸脾胃尚健，納食頗安，猶可望其應手。爰擬景岳左歸合貞元法，加入養陰益坎之屬，略佐溫養奇經，寧心益腎，不必降火而火自潛，不必治風而風自靖矣。錄方以候裁正。</p>
<p>大熟地（五錢）　白茯苓（一錢半）　炙草（五分）　山萸肉（炒，一錢半）　歸身（酒炒，一錢半）　丹參（酒炒）　玄參（三錢）　石決明（生打，先煎，六錢）　牡蠣（生打，先煎，六錢）　女貞子（炒，三錢）　玄武板（刮白，生打，先煎，五錢）　大麥冬（三錢）　東白芍（桂心三分煎汁拌炒）　淮山藥（三錢）　小淡菜（三錢）　雞子黃（生攪，沖服，一枚）　湘蓮子（十粒）　</p>
<p>（案17）陳，右。前案論及風寒濕三氣為痹，投以苦溫兼辛通法，似有微效，而不甚見功。刻診脈象仍然細澀，四肢厥冷略減一二，乃病根深固，未肯遽拔也。</p>
<p>桂枝　當歸　秦艽　茅朮　苡仁　五加皮　尋骨風　海風藤　羌獨活　茯苓　防風　二蠶砂　炙草　白茯苓　金毛脊　桑枝</p>
<p>（案18）張，左。刻診脈象左部洪數而浮，右部更甚，舌苔微白，尖絳邊碎。偶因失挫，遂致左手足不能牽動。此高年陰虧血弱，不克榮養筋脈，乃偏枯之症也，理之恐難應手，猶幸並無寒熱，飲食如常，尚無深慮。擬進和營通絡，熄風清熱為治。</p>
<p>大生地（囫圇勿切）　白芍（後下桂枝一分半炒）　炙草　歸身　石決明　真川貝母　橘紅　五加皮　鉤鉤　秦艽（半生半酒炒）　白芥子　製半夏（冰糖拌炒）　阿膠（牡蠣粉炒）　制首烏　絲瓜絡　青果汁　竹二青</p>
<p>（案19）張，左。症始畏寒憎熱，兩足脛跗發生隱疹，紫斑累累，近更漸延於上，兩手亦所深慮，脈來浮弦而數，舌根白厚。據症脈，是不正之氣挾寒濕熱三氣錯雜而成。仍宜祛邪取汗，方有松機。</p>
<p>荊芥炭　防風　羌活　獨活　枳殼　桔梗　茯苓　草節　川芎　前柴胡　姜　紅棗</p>
<p>又：前投溫散法已得暢汗，四肢強痛亦減，轉側漸舒，業已得效，惟右手尚屬牽強，是筋脈猶未融和也，納食雖不甚多，尚能安適，此後天脾胃之氣漸能來復，脈虛微覺帶弦，舌微白無苔。當用和營通絡，調衛扶脾，以復其原。</p>
<p>大生地　歸身　白芍　五加皮　薑黃　川斷肉　炙草　二泉膠（酒化沖）　麥冬　山萸肉　茯苓　金石斛　穭豆衣　甘菊花　生熟穀芽　桑枝　松節</p>

<h1>二十四、濕</h1>
<p>（案1）朱，幼。風與濕搏，寒氣凝滯，脈絡為之壅塞，肌腠為之失蔽，郁久不化，而成面浮跗腫，勢將成疸。用開鬼門，潔淨府法。</p>
<p>桂枝　皮杏仁　防風　紫蘇葉　赤豬苓　澤瀉　青陳皮　香芷　茅白朮　漢防己　山梔　生熟苡仁　六一散</p>
<p>（案2）張，左。脾腎兩虧，濕不運化，滲於經絡，鬱而成熱，延久有黃疸之慮。法當苦以燥之，淡以滲之。</p>
<p>牛膝　羌獨活　赤豬苓　五加皮　山梔　黃柏　茅朮炭　青皮　澤瀉　防風己　茵陳　苡米</p>
<p>（案3）某。平昔胃虛寒伏，不時作嘔而痛，今復暑濕傷中，食入則滿，脾陽亦漸消乏，致失健運之職也。脘中結塊成痞，乃虛氣偶聚，不可遽攻。擬用胃苓法，先清其濕濁。</p>
<p>川樸　茅白朮　陳皮　澤瀉　半夏　木香　砂仁　淡乾薑　益智仁　左金丸　竹二青　千張紙</p>
<p>（案4）張，右。長夏濕熱交蒸，鬱於脾胃經絡之間，以致唇舌發泡腐爛，病名口糜。法當清暑泄熱，以宣其毒。</p>
<p>青蒿　萆薢　雞蘇散　赤豬苓　澤瀉　通草　山梔　淡芩　銀花　蘆薈　大貝　知母　花粉　淡竹葉　荷葉　燈草</p>
<p>（案5）張，左。脈來沉細而弦，舌白少津，四肢懶惰，小溲短澀。此濕熱內阻，風邪外束，失其運化之司，是解㑊症也。論理宜補，第感邪之體，還當先以疏解為穩，俟解後，再議進補。</p>
<p>老蘇梗　連翹　赤豬苓　澤瀉　苡仁　冬葵子　白蒺藜　炙草　通草　甘菊　麥冬　蔞仁　竹二青　燈草</p>
<p>（案6）張，右。風濕相搏，遍體脹䐜，脈細澀，防成痼疾。</p>
<p>川樸　茅朮皮　青皮　赤豬苓皮　大腹皮　澤瀉　五加皮　杏仁　桑白皮　半夏　陳皮　紫蘇葉　枳殼　姜衣</p>
<p>（案7）謝，幼。寒鬱成熱，氣滯濕阻，上為咳嗽，下為囊腫。法當開鬼門，潔淨府，以疏其壅塞之邪。</p>
<p>（缺處方）</p>
<p>（案8）余，左。脾土氣衰，肺金氣弱，所進湯飲不克下輸於膀胱，橫行絡脈，以致面目肢體浮腫，延及陰囊，其勢殊為險重，猶幸小水尚通，還可措手。脈來細澀。用開鬼門，潔淨府法，以望輕減。</p>
<p>麻黃　皮杏仁　桂枝　紫蘇葉　赤苓皮　豬苓　冬瓜皮　澤瀉　車前子　茅朮皮　草梢　防風　苡米　焦山梔　姜衣</p>
<p>（案9）周，右。太陰脾臟有虧，失其健運之司，周身脈絡堵塞不舒，所進湯飲漸漬百脈，近見胸痞，不嗜食，面目肢體漸延腫形，乃腫脹之根萌也。脈形細澀，舌乾少津。擬進溫通之品，以冀漸效。</p>
<p>歸身　白芍（桂枝三分同炒）　半夏　沉香　蔞皮　陳皮　枳殼　香附　延胡　茯苓　青皮　鬱金　大腹皮　砂仁　佛手　冬瓜皮</p>
<p>（案10）包，右。大病後正氣不復，津液虧耗，脾陽不能健運，肝陽易致上升，面頰浮腫，延及四肢。急宜兩補陰陽，以復其元，否則中滿重恙，行將立見矣。</p>
<p>大生地（砂仁同炒）　歸身　白芍（桂枝同炒）　川芎　黨參（元米炒，去米）　冬朮　淮山藥　苡仁　炙草　二泉膠　牡蠣　茯苓　半夏曲　新會皮　煨姜大棗</p>
<p>又：正虛不復，損之根也。面浮足腫，蠱之萌也。加以素患目疾，亦能上擾頭額。老境將臨，須防增變。</p>
<p>老桂木　白芍　白朮　茯苓　甘草　首烏　石決明　麥冬　丹參　歸身　沉香　青皮　山藥　苡仁　金橘餅　玫瑰花</p>
<p>（案11）夏，左。肝火與濕濁交蒸，脾陽氣弱，不克運化，以致腹膨作響，須防單腹重症。</p>
<p>香附　玉金　川樸　皮杏仁　茅白朮（各）　赤豬苓（各）　澤瀉　枳殼　桃仁　延胡　青陳皮（各）　山楂炭　建曲　煨姜　陳香櫞</p>
<p>（案12）蕭，左。足少陰腎氣先虧，足太陰脾臟復損，兩脛先見浮腫，漸延及腹，此為逆傳，在法為不治，加以兩脈細弱如絲，理之恐難應手，姑擬方，以卜什一之幸。</p>
<p>熟地　丹皮　澤瀉　萸肉　山藥　茯苓　香附　肉桂　車前子　牛膝　大腹絨　青皮　乾薑　雞內金　陳胡蘆　乾蟾（炙，砂仁一錢同研）　</p>
<p>又：單腹經治，分利濕濁，略有微效。茲診脈濡數帶弦，舌根白。當從中滿分消論治。</p>
<p>川樸　川連　西豉　焦梔　半夏　橘紅　蔞皮　青皮　豬苓　澤瀉　神麯　麥芽　砂仁　茅朮　蘇梗</p>
<p>（案13）鄭。病由上年夏季感受寒邪，損及脾臟，未得外達，積久不化，延及胃府，後感冬季重受濕邪，加以過勞傷陽，漸成濕黃疸證，肢體虛浮，面目白。至今春陽鼓盪，再動肝風，是以頭不著枕，兀兀振動，症勢已覺深邃，猶幸胃納尚未憊殘，後天生氣未壞，還可按法理治。昨患寒熱頗重，並無汗液，此新感溫邪，以正弱不克托邪外達耳。刻診脈象左細弱帶弦，右搏數細弱，舌苔滿㿠白，舌質淡白不紅，乃氣虧血虛，營衛失其常度也。據症合脈，實非輕渺，姑擬一方，以候主翁臺正。</p>
<p>製附子（五分）　細毛（連薑汁炒，五分）　淡乾薑（五分）　川桂木（五分）　焦白朮（一錢半）　粉歸身（酒炒，一錢半）　法半夏（一錢半）　化橘紅（八分）　皮杏仁（打，三錢生苡米五錢）　赤苓皮（三錢）　冬瓜皮（三錢）　姜竹茹（一錢半）　穭豆衣（三錢）　制川樸（五分）</p>
<p>改方：去川樸、穭豆衣，加大腹絨（三錢）、焦建曲（一錢半）</p>
<p>又：上月曾進實脾、導水之屬，弦脈稍和，惟虛象猶未退減，飲食頗適，胃家生氣漸起，是佳境也。但久虛之質，氣固大傷，血亦不旺，所以未肯驟復耳。方書云，氣為血之帥，血為氣之源。欲圖補陰，必顧其陽，其血斯可暗長也。刻診脈與症均屬少瘥。再擬金匱腎氣法，煎湯頻飲，以丸炒焦，日進三錢，緩緩調之，庶幾日臻康泰矣。一切生冷、動風、鮮肥，在所當忌。</p>
<p>大熟地（五錢）　粉丹皮（炒，一錢半）　淮山藥（三錢）　白茯苓（二錢）　建澤瀉（一錢）　山萸肉（炒，一錢半）　車前子（炒，三錢）　頂肉桂（去粗皮，另研沖，五分）　粉歸身（一錢半）　炙黑草（六分）　潞黨（參炒，二錢）　焦冬朮（一錢半）　東白芍（一錢半）　霞天曲（二錢）　姜（二片）　棗（五枚）</p>
<p>又：前投金匱腎氣法，諸恙悉減，納食頗適，已覺應手。因新沐過勞，擾動陽氣，值陰雨連旬，陰霾用事，以致寒熱頓作。中宮積寒復起，噁心嘔吐，不思進谷，所由來也。閱舌白苔滿，質無華色，其平昔血虧，陽光不布顯然。刻診脈浮而帶數，乃新感之邪為患耳。憑茲症脈，仍宜苦溫扶土，俾得脾健濕走，再議峻補。</p>
<p>制川樸（一錢半）　製半夏（一錢半）　茅白朮（各一錢半）　赤白苓（各二錢）　皮杏仁（打，三錢）　連殼砂仁（打，五分）　炒苡米（四錢）　淡乾薑（五分）　瓜蔞皮（三錢）　化橘紅（八分）　焦建曲（一錢）　姜皮（五分）　益元散（三錢）　淡吳萸（三分）　佩蘭葉（一錢半）　鳳凰衣（炙，三分）　煨姜（二大片）</p>
<p>又：屢進溫補兩儀之屬，似有應手之喜，實則並無效驗之徵，脈仍細數，舌質淡白。此陰虛而無陽以生髮之也。據症合脈，頗為深固，再以大補陰、大溫養之品，調理氣血，俾營衛合度，其寒熱自罷耳。</p>
<p>大熟地（三錢）　歸身（一錢半）　白芍（一錢半）　鹿角膠（酒化，沖，一錢半）　川附子（五分）　肉桂（去粗皮研，後下，五分）　炙草（五分）　淡乾薑（五分）　湘杞子（炒，三錢）　益智仁（炒，打，一錢半）　山萸肉（炒，二錢）　木香（煨，五分）　半夏（一錢半）　白蔻仁（研，後下，三分）　鮮白殘花（一錢）</p>
<p>又：前投大溫大補，寒熱未作，脈象漸有轉陽之喜，所嫌舌質仍白，肌膚㿠白猶未肯復。再從苦以燥之，淡以滲之，俾得土健水卻，自到佳境。</p>
<p>香蒿梗（一錢半）　地骨皮（炒，三錢）　赤苓（三錢）　生熟苡仁（各二錢）　赤小豆（炒，打，三錢）　青防風（一錢半）　化橘紅（炒，五分）　焦冬朮（一錢半）　制紫川樸（五分）　焦建曲（一錢半）　老薑渣　冬瓜皮（三錢）　淡黃芩（酒炒，一錢半）　白蔻仁（後下，三分）　佩蘭葉（一錢半）</p>

<h1>二十五、淋濁</h1>
<p>（案1）潘，左。據述前數載曾經受傷，脈絡留瘀，更復肝邪橫擾，以致小水滴瀝不爽，尿時作痛殊甚，脈弦細，舌苔白。理之非易效也。</p>
<p>赤苓　桃仁　丹皮　海金砂　石葦　大小薊　延胡　歸鬚　車前子　澤蘭　金鈴子　兩頭尖　真西珀（燈心同研極細末，沖）　</p>
<p>（案2）吳，左。淋濁日久，不痛而癢。肝腎火邪未熄，濕從下注。擬用通腑，兼清臟陰。</p>
<p>川萆薢　澤蘭　赤豬苓（各）　木通　延胡　澤瀉　瞿麥　萹蓄　黑山梔　草梢　白芍　黃柏　細生地　女貞子　龍鬚草</p>
<p>（案3）據述小水不爽，溺管狹窄難出，病經三載余，愈而復作者屢矣。久延之恙，理應用補，但刻下新受濕熱，火延丙腑，其痛復作，作而加之以痛，當以疏邪清熱，以冀通則不痛。</p>
<p>生地　膽草　梔子　赤苓　海金砂　石葦　瞿麥　草梢　木通　牛膝　桃仁　萹蓄　燈心　蘆根　滑石　竹葉</p>
<p>（案4）李，左。陰虛，肝火煎熬腎水，以致先見尿血，後添白濁，痛不可忍。徒事濕熱，苦降無益，擬用養陰泄熱，所謂通則不痛也。</p>
<p>細生地　赤芍　丹皮　牛膝　焦梔　車前子　草梢　海金砂　石葦　木通　延胡　川連　西珀（燈心同研，沖）　龍鬚草</p>
<p>（案5）龔，左。刻診脈象弦數帶澀，玉莖腫硬，小解點滴不爽，所下之尿纖細如線，解時殊屬艱難，痛經三載不已。八齡幼稚，尚未相火鬱損之擾，而見證竟是腎疳之象，想由損傷瘀積而成，非關腑氣內阻也。至若八正、導赤等法，均屬隔靴搔癢，未能中的，是以延久不愈耳。姑擬一方，不識臻效否。</p>
<p>生地　歸身　肉桂　牛膝　柴胡　黃柏　石葦　赤芍　甘草　海金砂　茯苓　豬苓　大貝母　水楊樹須</p>

<h1>二十六、眼目</h1>
<p>（案1）張，右。風鬱成毒，毒走成瘋始焉，頂發粟瘰，項結累核繼焉，兩目乾澀，弦緊毛落。此平素血液有虧，邪毒易染所致，徒恃湯液無益也。</p>
<p>歸身　生地　川芎　甘菊　穀精草　蕤仁　茯苓　山梔　首烏　荊芥　橘核　延胡　炙草　桑葉　夏枯草</p>
<p>（案2）張，右。目赤，胬肉雲翳攀睛，視物少光，脈澀而弱。斯時未便峻補，先用清泄少陽厥陰之邪，略佐補益少陰，俟其便退，再定膏劑。</p>
<p>細生地（三錢）　穀精珠（二錢）　青葙子（打，三錢）　木賊草（八分）　夏枯草（一錢半）　丹皮（炒，一錢半）　赤芍（一錢半）　蟬衣（去頭足，五分）　池菊花（一錢半）　桑葉（一錢）　茯苓（三錢）　貝母（三錢）　炙草（五分）　蕤仁（炒，打，二錢）　黑山梔（一錢半）</p>
<p>（案3）畢，左。兩目黑珠黃色，白珠虛腫亦黃，視物模糊，上胞遏塞。此風寒濕熱上蒸，名內障也，最有云翳攀睛之累。脈濡數。當先疏散風寒，清利濕熱。一切酒醴辛熱、動風發物，在所宜禁。</p>
<p>防風　荊芥　川芎　赤豬苓　木通　帶葉蘇梗　茅朮　甘菊　蕤仁　草決明　羌活　夏枯草　鐵扇子　鮮枸杞葉</p>
<p>（案4）張，右。據述前患目疾赤腫，至今雖愈，而眼角胬肉未消。延久防其滋大，大則最有攀睛之慮。懸擬一方常服之，自能痊愈也。</p>
<p>細生地（三錢）　雲石蟹（醋煅，先煎，三錢）　石決明（三錢）　丹皮（炒，一錢半）　赤芍（炒，一錢）　蕤仁（炒，打，一錢半）　穀精珠（二錢）　青葙子（三錢）　草決明（二錢）　甘菊（一錢半）　貝母（三錢）　炙草（五分）　鐵扇子（三大片）</p>
<p>（案5）須，左。陰氣不足，陽氣有餘，先由時邪害目，因循失治，以致雲翳攀睛，侵及瞳子，若再遷延，有失明之累。刻診脈形濡數。當用養陰泄木為治，服十劑後，再擬丸方緩治之，可望向安。</p>
<p>玄參　細生地　白芍　麥冬　穀精草　蒺藜　蟬衣　甘草　木賊草　雲石蟹　鐵扇子　青葙子　枸杞子</p>
<p>（案6）章，右。肝火為風熱所乘，上侵眼目，以致上下兩胞起粟，如碎如腐，癢痛殊甚。此症亦系外障，而瞳色暗淡無光，延久最有增重之累。茲先疏風泄熱為治。</p>
<p>蔓荊子　荊芥　防風　蕤仁　杏仁　焦梔　桑葉　薄荷　枳殼　菊花　赤苓　木通　大貝元參</p>

<h1>二十七、雜部</h1>
<p>（案1）劉，左。沖年陰氣未全，相火漸動，營衛失其常度，遂致入暮發熱，微微累冷，脈象搏數帶弦。此似瘧非瘧之症，不可竟作瘧論。法當育陰潛陽為治。</p>
<p>細生地　歸身　白芍（桂枝一分同炒）　小黑豆　牡蠣　女貞子　地骨皮　青蒿　白朮　黃柏　知母　半夏曲　新會皮　山梔　姜　棗</p>
<p>（案2）譚，左。脈象搏數，搏為氣逆，數為血熱，臨事則每覺火升，沖年陰氣未全，防其陽越無制，致多病變。</p>
<p>金石斛　細生地　知母　玄參　炙草　女貞子　煅牡蠣　川貝　雙鉤　赤苓　新會皮　建蓮肉　燈草</p>
<p>（案3）劉，左。刻診脈象細數無神，形神㿠白，須防暗疾糾纏。法當扶土化濕，以助後天生化之機。</p>
<p>白朮　茯苓　白芍　珠兒參　木香　生熟穀芽　半夏　當歸　建曲　煅牡蠣　炙甘草</p>
<p>（案4）孫，左。病虛不復，脾氣日衰，足跗浮腫，是清陽不舉，濁陰下陷之徵。當此長夏濕蒸，病機紊發，宜慎調勿懈。</p>
<p>黨參　白朮　柴胡　升麻　茯苓　川芎　陳皮　炙草　木香　穀芽　苡仁　穭豆衣　砂仁　荷葉</p>
<p>（案5）周，左。溫邪欲達未達，復感風寒，面目虛浮，不時畏寒，脈形搏數而浮，症防變重。</p>
<p>麻黃　桂枝　皮杏仁　枳殼　香附　川芎　羌活　帶葉蘇梗　鬱金　茯苓　防風　半夏　老薑</p>

<h1>二十八、汗</h1>
<p>（案1）畢。刻診脈象細澀無神，肢節腰膂酸楚，汗泄過多，口津乾涸。此肝脾腎三經素虧，八脈因之俱損。茲當春陽鼓盪，人身之陽應之，慮其夏前後其病轉劇，擬方從補益中略佐清絡化痰。</p>
<p>首烏　白芍（桂枝三分同炒）　歸身　天麻　茯苓　石決明　白朮　甘菊　防風　牡蠣　玄參　黃耆皮　川斷肉　木瓜　炙草　桑枝</p>

<h1>二十九、頭痛</h1>
<p>（案1）章，左。刻診脈象轉數帶弦，舌苔白少津，頭額偏左疼痛，鼻塞多淚，偶有赤淚從內眥溢出，午前轉劇，近晚漸鬆。此陰虛挾痰阻於絡中，風熱乘機上擾。法當養陰疏絡，清邪止痛為治。</p>
<p>首烏　羚羊角　天麻　川芎　石決明　甘菊　鉤鉤　薄荷　荊芥　歸身　丹皮　延胡　貝母　元參　山梔　桑芽</p>

<h1>三十、不寐</h1>
<p>（案1）據述病起多年，心悸不寐，或止或發，時輕時重，所進藥餌頗多，未能全好。刻診脈弦數而滑，其為痰火阻絡可知。擬進《三因》溫膽法加味治之。</p>
<p>半夏（梨汁炒）　橘紅　枳實　茯苓　炙草　李仁（豬膽汁拌炒）　元參　丹參　焦梔　秫米　竹二青</p>
<p>又：前進溫膽之屬，未能見效，仍然寤不肯寐。擬用交通心腎，道亦不悖。診脈象搏數而弦，防其內風復動，急宜靜養，冀其真水來復，諸恙自能潛復耳。</p>
<p>細生地　麥冬　丹參　玄參　炙草　遠志　茯神　龜板　牡蠣　石決明　柏子仁　月華粉　貝母　連翹　蓮子須</p>

<h1>三十一、癇厥</h1>
<p>（案1）夏，左。邪襲肺肝，痰氣乘機厥逆，眩暈跌僕而成癇症。將冠之年患此重恙，未易霍然。先擬煎劑以疏絡道，俟其少卻，再議丸劑窮治之。</p>
<p>龍膽草　制膽星　細生地　鬱金　炙草　藿香　製半夏　歸鬚　枳實　茯神（辰拌）　大連翹殼（每粒以生礬末填滿，紅絨紮好）　白芥子　干菖蒲　桑白皮　竹二青（薑汁炒）　</p>
<p>（案2）滕，左。大凡諸癇症，雖有豬羊等名，而治法則一，不越乎豁痰通絡，順氣鎮怯，理之得法，可望向安。此症去冬經治後，已得效驗，今逢春陽勃發之時，陽冒不靖，更加怒惱傷肝，肝火亦因之而俱動，是以止而復作耳。</p>
<p>歸鬚（一錢）　半夏（一錢半）　橘紅（五分）　玄明粉（一錢）　瓜蔞仁（三錢）　青礞石（煅，三錢）　茯神（一錢半）　枳實（一錢半）　延胡（醋炙，一錢半）　藿香葉（一錢半）　草節（五分）　石菖蒲（五分）　鬱金（一錢半）　木香（五分）　竹瀝　薑汁　青果</p>
<p>（案3）鄭，左。神志先傷，脾陽告憊，痰為之凝聚，濕為之不運，漸漬於絡，以致胸膺痞悶，旁走脅絡而痛。刻診脈象滑數，舌苔布白。須防變成癇症，一切補劑當非所宜，今議安神鎮怯，兼清痰濕，俟其退解，再商補益可也。</p>
<p>法半夏（一錢半）　南星（五分）　新會皮（薑汁炒，八分）　瓜蔞皮（炒，三錢）　龍齒（煅打，先煎，六錢）　煅牡蠣（先煎，三錢）　煅磁石（三錢）　青礞石（先煎，一錢半）　炙草（五分）　朱茯神（三錢）　遠志（五分）　枳實汁（沖，一錢）　焦茅朮（一錢半）　廣玉金（一錢半）　蓮肉（十粒）　竹瀝（沖，一大茶匙）　薑汁（沖，一小茶匙）</p>

<h1>三十二、遺精</h1>
<p>（案1）蔣，左。病由去冬腿生瘍毒，開泄後，餘毒未清，遷延至今，已成漏管，氣血因之兩損。有夢遺精，是心氣不交於腎也，腎關失固，龍火易動，更值春陽鼓盪，萬物氣泄之時，病端百出為可慮耳。猶幸谷納頗適，脾胃之氣尚未衰絕，還可措手。始從仲景法理之。</p>
<p>桂枝　龍骨　牡蠣　丹參　玄參　遠志　炙草　白蓮鬚　茯神　棗仁　白芍　蓮心　紅棗</p>
