<header data-type="book">
<h1>史載之方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>史堪</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1068">公元1068年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2760">北京大學圖書館掃描本</a>；多紀元簡手跋本（<a href="https://www.digital.archives.go.jp/file/1079249">国立公文書館掃描本</a>）。</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>四時正脈</h2>

<h3>春</h3>
<p>春脈弦，其氣來柔軟弱虛而滑，端直以長，名之曰弦，反此者病，其氣來實而強，名為太過，病在外，其氣來不實而微，此為不及，病在中，太過則令人善忘忽忽。冒眩巔疾，不及則令人胸痛引背下，兩脅胠滿。</p>

<h3>夏</h3>
<p>夏脈鉤，其氣來盛去衰，反此者病，其氣來盛去亦盛，此為太過。病在外，其氣來不盛，去反盛，此為不及，病在中，太過則令人身熱而膚痛，為浸濕，不及則令人煩心，上見咳唾，下為氣泄。</p>

<h3>秋</h3>
<p>秋脈浮，其氣來輕虛以浮，其氣來急去散，故曰浮。反此者病，帝曰：何如反，其氣來毛而中央堅，而兩旁虛，此謂太過，病在外，其氣來毛而微，此謂不及，病在中，太過則令人逆氣而背痛，慍慍然，不及則令人喘，呼吸少氣而咳，上氣見血，下聞病音。</p>

<h3>冬</h3>
<p>冬脈營，其氣來沉而博，故曰營。反此者病，其氣來如彈石者，此謂太過，病在外，其去如數者，此謂不及，病在中，太過則令人解㑊，脊脈痛而少氣，不欲言，其不及則令人心懸。如病飢，眇中清，脊中痛，少腹滿，小便變。</p>

<h3>中</h3>
<p>脾無善脈，止見惡脈，蓋脾脈以和緩為主。故四時之脈雖不同，春脈弦，夏脈鉤，秋脈毛，冬脈營，皆要有脾脈，若脾脈不見，便是五臟真脈見，真脈見者死，所以脾無善脈者，謂其常脈便是吉脈，其太過不及，皆為病脈，太過則令人四肢不舉，其來如水之流者、太過也，濕勝則然耳，不及則令人九竅不通，名曰重強，其來如鳥之啄者、不及也，土不用事則然耳，濕勝而其脈如流，邪乃傷腎，土不用事而九竅不利，因受木所制，木製則脾受水矣，九竅不利，故多生浮腫脹滿之疾，久而成水。</p>

<h3>真脈</h3>
<p>真肝脈至，中外急如循刀刃，責責然，如按琴瑟弦，色青白不澤，毛折，乃死，真心脈至，堅而博，如循薏苡，累累然，色赤黑不澤，毛折，乃死，真肺脈至，大而虛，如以毛羽中人，膚色白赤不澤，毛折，乃死。</p>
<p>真腎脈至，博而絕，如以指彈石，辟辟然，色黑黃不澤，毛折，乃死。</p>
<p>真脾脈至，弱而乍數乍疏，色黃青不澤，毛折，乃死。</p>

<h2>厥陰所勝生病</h2>

<h3>運氣所勝</h3>
<p>飧泄食減，體重煩冤，腸鳴，腹支滿，甚則忽忽善怒，眩冒巔疾，脅痛而吐甚，衝陽絕者，不治。</p>

<h3>司天所勝</h3>
<p>體重，肌肉萎，食減口爽，目轉耳鳴，胃脘當心而痛，飲食不下，舌本強，食則嘔飧泄，腹脹，溏泄，瘕，水閉。</p>

<h3>在泉所勝</h3>
<p>酒淅寒如瘧，善伸數欠，心痛支滿，兩脅裡急，飲食不下，鬲咽不通，食則嘔，腹脹善噫，得候與氣，則怏然如衰身體皆重。</p>

<h2>少陰所勝生病</h2>

<h3>運勝</h3>
<p>瘧，少氣咳喘，血溢，泄，注下，嗌燥，耳聾，中熱，肩背熱。</p>

<h3>天勝</h3>
<p>喘嘔，寒熱，啑鼽衄，鼻窒，甚則瘡瘍，脅痛，善太息，胸中煩熱，嗌乾，右胠滿，皮膚痛，寒熱，咳喘，唾血，鼽衄，溺色變，瘡瘍，胕腫，肩背臂臑及缺盆痛。</p>

<h3>地勝</h3>
<p>腹中常鳴，氣上衝胸，喘，不能久立，寒熱，皮膚痛，齒痛，頰腫，惡寒發熱如瘧，少腹中痛，腹大。</p>

<h2>太陰所勝生病</h2>

<h3>運勝</h3>
<p>腹痛，清厥，意不樂，體重煩冤，肌肉萎，足萎不收，行善瘛，腳下痛，飲發中滿，食減，四肢不舉，腹滿，溏泄，腹鳴反下，甚而大溪絕者，不治。</p>

<h3>天勝</h3>
<p>胸中不利，陰萎，氣大衰而不起，不用，當其時，反腰脽痛，動轉不便，心下痞滿，少腹痛，時害於食，胕腫，骨痛，陰痹，陰痹者，按之不得，腰脊頭項痛，時眩，大便難，陰氣不用，飢不欲食，咳唾則有血，心如懸。</p>

<h3>地勝</h3>
<p>飲積，心痛，耳聾，渾渾焞焞嗌腫，喉痹，陰病血見，少腹痛腫，不得小便，病沖頭痛，目似脫，項似拔，腰似折，髀不可以回，膕如結，腨如別。</p>

<h2>陽明所勝生病</h2>

<h3>運勝</h3>
<p>兩脅下少腹痛，目眥痛，皆瘍，耳無所聞，體重煩冤，胸痛引背，兩脅滿，且痛引少腹，甚則喘逆氣咳，肩背痛，尻陰股膝髀踹胻足皆病。</p>

<h3>天勝</h3>
<p>脅痛，目赤，掉振鼓慄，筋痿，不能久立，小便變，寒熱如瘧，甚則心痛，左胠脅痛，寒清於中，感而瘧咳，腹中鳴，注泄，鶩溏，心脅暴痛，不可反側，嗌乾，面塵，腰痛，丈夫㿗疝，婦人少腹痛，目昧，眥瘍，瘡痤癰。</p>

<h3>地勝</h3>
<p>昬病喜嘔，嘔有苦，太息，心脅痛，不能反側，甚則嗌乾面塵，身無膏澤，足外反熱。</p>

<h2>太陽所勝生病</h2>

<h3>運勝</h3>
<p>身熱煩心躁悸陰厥，上下中寒譫妄，心痛，甚則腹大，脛腫喘咳，寢汗出，憎風。</p>

<h3>天勝</h3>
<p>心熱煩，嗌乾，善鼽啑，喜悲，數欠，熱氣妄行，善忘，甚則心痛嘔血，血泄，鼽衄，善悲。□□時眩僕，腹滿，手熱，肘攣掖腫，心澹澹大動，胸脅胃脘不安，面赤目黃，善噫嗌乾，甚則色炱渴而飲。</p>

<h3>地勝</h3>
<p>少腹控睪引腰脊，上衝心痛，血見，嗌痛，頷腫。</p>

<h2>少陽所勝生病</h2>

<h3>天勝</h3>
<p>咳啑鼽衄，鼻窒瘍，寒熱，胕腫，心痛，胃脘痛，厥逆，鬲不通，熱上，皮膚痛，色變黃赤，傳而為水，身面胕腫，腹滿，仰息，泄注赤白，瘡瘍，唾血，煩心，胸中熱，甚則鼽衄。</p>

<h3>地勝</h3>
<p>注泄赤白，少腹痛，溺赤，甚則血便，少陰同候。</p>

<h2>六氣復而生病</h2>

<h3>厥陰之復</h3>
<p>少腹堅滿，裡急暴痛，心痛汗發，嘔吐，飲食不入而復出，筋骨掉眩，清厥，甚則入脾食痹而吐。</p>

<h3>少陰之復</h3>
<p>燠熱內作，煩躁鼽啑，少腹絞痛，火見燔焫，嗌燥，分注時止，氣動於左，上行於右，咳，皮膚痛，暴喑，心痛，鬱冒不知人，乃灑浙惡寒振慄，譫妄，寒已而熱，渴而欲飲，少氣，骨痿，膈腸不便，外為浮腫，噦噫，瘡瘍癰痤，甚則入肺，咳而鼻淵。</p>

<h3>太陰之復</h3>
<p>體重中滿，食飲不化，陰氣上厥胸中不便，飲發於中，咳喘有聲，頭頂痛重而掉瘛，尤嘔而密默，唾吐清液，甚則入腎竅泄無度。</p>

<h3>少陽之復</h3>
<p>驚瘛咳衄，心熱煩躁，便數憎風，厥氣上行，面如浮埃，目而瞤瘛，火氣內發，上為口噤嘔逆，血溢血泄，發而為瘧，惡寒鼓熛，寒極反熱，嗌絡焦槁，渴引水漿，色變黃赤，少氣，脈萎，化而為水，傳為浮腫，甚則入肺，咳而血泄。</p>

<h3>陽明之復</h3>
<p>病生胘脅，氣歸於左，善太息，甚則心痛，痞滿，腹脹而泄，嘔苦，咳噦，煩心，病在鬲中，頭痛，甚則入肝，驚駭筋攣。</p>

<h3>太陽之復</h3>
<p>心胃生寒，胸中不利，心痛，痞滿，頭痛，善恐，時眩僕，食減，腰脽反痛，屈伸不便，少腹控睪引腰脊，上衝心，唾出清水，及為噦噫，甚則入心，善忘善悲。</p>

<h2>論六氣所生之病</h2>
<p>五行之為病一也，而所生之氣不同，如木之所至為風化，而病之生不獨止於肝，火之所至為熱化，而病之生不獨止於心。此司天司地統歲紀運之不同，故為病亦從而各異，又有乘年之虛，過月之空，失時之和，或勝而所勝受刑，或復而制於所勝。且以經言之，天火下臨，則肺氣上從，則白起金用，而草乃眚，燥氣下臨，則肝氣上從，則蒼起木用，而土乃眚，以常所勝而論之，則火至而肺病，金至而肝病，今也，天火下臨，則金以從天之氣而白乃用，故病反生於肝，天金下臨，則木從天之氣而蒼乃用，故病反生於脾，類舉而推，則厥陰司天。脾氣上從，而水斯眚，太陽司天，心氣上從，而金斯眚，少陰司天，肺氣上從，而肝斯眚，太陰司天，則腎氣上從，而火斯眚，皆可知矣，此天度之尊，獨異於他，經言，天能制色，以其能制勝己，而使不為害，至於司地，則氣化之正，各隨其證耳，若夫紀運之歲之不同，則又視其司天之氣化，如六甲之歲，陽土當運，有陰凝流衍之布，宜與六己之歲不同也，然己巳、己亥，與六甲之歲同，六庚多肝病，而庚寅、庚申之歲，金不能制肝，六戊多肺病，而戊辰，戊戌之歲。火不能害肺，氣化所至，譬如權衡，可即其氣以求其病，惟勝復之候不同，難以前期，亦隨其氣之多寡，以求其證，勝之為病輕，復之為病重，勝則所不勝者順受其克，復如報怨仇焉，此又不可不知也。今以木之受病，本於肺金之所制，則不過如肺氣有餘凌犯於肝，生眼昏背癢，耳無所聞，胸痛體重之病耳，若乃木化之盛，肝氣妄行，大傷於脾，則金必相救，邪反傷肝，能使人體重煩冤，胸痛引背，兩脅滿，宜痛引少腹，故經言上應太白星者、謂金之復也，雖然，人之氣、猶之天地之氣，五臟之氣，即五運之氣，三陰之氣，即六氣之變，顧一身之氣，多寡之如何，亦不必因天地之氣化所生，己亥之歲，人多肝病，而有病肺者，子午之歲，人多心病，而有病腎者，此一人之身，自有天地之氣化，調治之法，與五運六氣所至之法同，至於病一也，而所生之病，所受之本，所以至病之由不一者，或以本藏有餘而成，或以本藏不足而成，或經絡所過之處同而成，經之所載，二火所生之病，雖輕重不同，而其實則一（太陽，太陰），水土共胞，寒濕同化，所生之病亦類，目會眾筋，而病變多端，心統五臟，而病生奇怪，清濁異源，各有其機，表裡殊狀，各有其應，今詳舉之，以明治病之訣。</p>

<h2>大府泄</h2>
<p>肝熱刑脾而泄，即經言飧泄，餘證當腸鳴，腹支滿，口膠渴，小府赤，宜涼其肝，輕益其胃，診其脈，六脈輕弦，胃上得肝脈，不至大弦，然六脈雖弦，亦不必有骨力，以泄則氣虛不實故也，宜用荊芥散。</p>
<p>荊芥穗（一分）　防風　芍藥　訶子皮　羌活　甘草（各一分）　白蒺藜（半兩）　厚朴（十銖，去皮）　木香（三銖）</p>
<p>上為細末，非時，以水一盞，棗一個，同煎三錢匕，和滓服。</p>
<p>脾濕而泄，經言腹滿溏泄，餘證，腹痛，體重，食減，甚則足痿，行善契，腳下痛，宜用削術豆蔻散。</p>
<p>草豆蔻　削術　訶子皮（各一兩）　大芎　陳橘皮（各半兩）　甘草　藁本（各八銖）　獨活藿香（各一分）</p>
<p>上為細末，空心，水一盞，姜兩片，棗兩個，同煎三錢取八分，和滓服。</p>
<p>腎水之寒，亦生溏泄，以寒濕同化，所生之病一耳，經又言，寒迫下焦，傳為濡泄，陰氣入腎竅泄無度，洞泄皆屬於水土之所生，其證，體重，食減，腹痛，四肢不舉，甚則注下赤白，腰膝痠痛，股膝不便，若脾氣之濕，則六脈渾濁如革，濡散而大，如按泥漿，加之腎寒，則又沉伏遲弱，動而無力，宜並治其水，暖其脾腎，暖脾藥，宜以削術豆蔻散，暖腎藏方，萆薢勝金丸。</p>
<p>萆薢　訶子（各一兩）　石斛　續斷芎藭　附子　巴戟（去心）　官桂藁本（各半兩）　蓬莪朮　山茱萸　細辛當歸　獨活（各一分）</p>
<p>上為末，煉蜜丸如梧桐子大，空心，米湯下五七十丸。</p>
<p>又方，宜服舶上硫黃丸，（方見痢門。）</p>
<p>肺金之勝，亦生腹鳴溏泄，肺主清肅之氣，流入於中，變成寒中鶩溏，又肺主少腹，故生斯病，餘證，少腹痛，中清，胠脅痛，其脈，六脈毛而微，不浮，毛為肺脈，微則泄而氣弱，初泄則本肺脈一指偏，一二日則變而微，但不浮耳，尺澤沉而小擊，宜溫其肺，四味芍藥散。</p>
<p>吳白朮　芍藥　桔梗　香白芷</p>
<p>上等分為末，非時，水一盞，生薑三片，同煎三錢匕，入棗二個，取八分服。</p>

<h2>大府秘</h2>
<p>肝心氣實，風血相搏，大府結澀，口苦舌粗，甚則口乾膠，小府赤，頭痛眼昏，六脈洪大而實，宜用柴胡湯。</p>
<p>柴胡　前胡　防風　杏仁（去皮尖）羌活　茯苓　甘草　芍藥（各一分）麥門冬（去心，一分）　乾地黃（八銖）　半夏（二銖）</p>
<p>上為粗散，食後並非時，水一盞，蔥白一根，同煎三四錢匕，取八分，去滓服。</p>
<p>肺氣上實，其氣上蒸，不能傳送，大府秘熱，其脈浮而疾，尺澤脈短，寸口脈大，宜用柴胡湯，加紫菀，麻黃各一分，良。</p>
<p>寒濕之勝，大府反秘，經言陰氣不用，便堅，以土不用事，脾胃不動，無傳送耳，其陰具水土之證，脈亦如之，宜用大腹皮散。</p>
<p>陳橘皮（一兩）　青橘皮　大芎　五味子芍藥　香白芷　甘草（各一分）　大腹皮草豆蔻（各半兩）　木香　檳榔（各四銖）</p>
<p>上為細末，每服三錢匕，非時，水一盞，煎八分，和滓服。</p>
<p>元氣虛弱，腎水空虛，胃無津液，大府澀遲，六脈微而虛，宜用蓯蓉粥。</p>
<p>肉蓯蓉一分，米一掬，先洗蓯蓉令淨，切令極細，同米，用水兩碗以上，煮作稀粥，既熟，入少許蔥，並薄入鹽醬調和，空心，投三四盞。</p>

<h2>小府秘</h2>
<p>小府之秘，其狀難識，有淋、有癃、有澀、或疼、不疼、肝心之氣，盛實而熱，小腸氣虛，熱氣流入膀胱，遂成小府赤澀之病，其脈數而輕弦，尺澤弦而長，又微緊，或心脈長，皆主此病，宜用此方。</p>
<p>茯苓（半兩）　麥門冬（去心）　芍藥　前胡杏仁（去皮尖）　桔梗　防風（各一分）　荊芥（三銖）甘草（炙）　木通（各四銖）　</p>
<p>上為細末，食後，以水一盞，蔥白一支，同煎三錢匕，和滓服。</p>
<p>又方，宜服此五苓散。</p>
<p>肝經之熱，小府赤痛，六脈弦急而長，又發寒慄，宜用蔓荊湯方。</p>
<p>蔓荊子　羌活　獨活　麻黃荊芥穗　芍藥　木通　甘草</p>
<p>上等分，前法煎，食後服。</p>
<p>濕氣寒氣之勝，同犯於心，心氣上行，不得小便，小府不快，宜服削術草豆蔻散，又服此大芎湯。</p>
<p>大芎（一兩）　蓬莪朮（半兩）　木香（四錢）　茯苓（半兩）甘草　萆薢（各一分）</p>
<p>上為細末，空心，水一盞，入鹽少許，同煎三錢匕，和滓服。</p>
<p>元氣虛弱，腎氣不足，膀胱氣虛，衝任脈虛，丈夫㿗疝。婦人癊閉，宜服此方，其脈，六脈皆動，細數而輕弦，腎脈小擊而沉，膀胱澀而短。</p>
<p>五味子（一兩）　血茸　萆薢　牛膝　芎藭（各半兩）　干熟地黃（一兩）　蓬莪朮　青鹽（各一分）</p>
<p>上青鹽一味，自為細末，餘七味為細末，蒸餅，丸如梧桐子大，空心，清湯下五七十丸。</p>

<h2>身熱</h2>
<p>寒邪所傷身能發熱，寒氣外固，陽氣內拒，鼻塞氣粗，聞氣出如火，此當發其寒，六脈浮而輕疾，散滿指下。</p>
<p>麻黃（去根節）　削術（各半兩）　藁本　芎藭官桂　芍藥　獨活　甘草（以上各一分）細辛（四銖）</p>
<p>上為粗散，空心，並非時，水一盞，生薑一片，煎三錢，去滓服。</p>
<p>心火獨盛，少陰，少陽之勝，身熱，小府赤，大府秘，頭痛，口乾，舌粗，骨疼，六脈洪大而實，有骨力，又數，宜用此方。</p>
<p>茯苓　麥門冬（去心）　芍藥　麻黃前胡　柴胡　甘草　羌活桔梗（各一分）　牡丹皮（四銖）</p>
<p>上如前法，為粗散。</p>
<p>肝氣之熱，身亦發熱，其狀與心火之勝同，以風熱同化，木火相助，其候同也。然肝之發熱，所以不同者。雖熱而往往自聞其寒，多覺背上脊膂洒洒振寒，並兩足多冷，膠涎，甚則嘔逆而吐，六脈弦急而長，其他與心火勝之亦同，然心火之勝，脈必洪，而肝熱即洪大而弦，然亦有上於弦而不洪大者，以風氣之獨勝耳，宜用此方。</p>
<p>荊芥穗　羌活　獨活　芍藥防風　麻黃（去節）　連翹子　秦艽蔓荊子　干蔢苛　甘草（等分）</p>
<p>上為粗散，食後，水一盞，煎三錢，取八分，去滓和滓任意，又看其人氣實，肝藏熱多，至於生涎，則加天南星，半夏、白殭蠶、乾蠍各少許，天南星、白殭蠶、可與眾藥等，半夏、蠍、隨意加減，不必多，涎結而大府秘，則以牽牛和上件藥服，以疏為度。</p>

<h2>身寒</h2>
<p>經言，陰盛生寒，陽盛生熱，元氣虛乏，腎水極寒，發為寒戰，冷汗自出，六脈微細而沉，寒邪犯心，則腎脈必擊而沉，心下大動不安，甚則仆倒，宜先暖其腎，後保其心，暖腎臟方。</p>
<p>牛膝（酒浸一宿）　石斛　巴戟（去心）　萆薢（鹽水煮）　芎（各半兩）　續斷　茯苓　附子（炮）當歸　細辛　五味子　菟絲子（各一分，酒浸兩宿）</p>
<p>上為末，煉蜜為丸如梧子大，空心，米湯下七十丸。</p>
<p>濕氣之勝，汗出憎風，肌體多冷，畏風食減，倦怠無力，六脈渾濁而緩，弱大而散，面目無光，宜服前暖腎丸，並服此方。</p>
<p>白朮　陳橘皮　芎（各半兩）　細辛藁本　獨活　甘草（炙）　藿香官桂（各一分）　草豆蔻　人參（半兩）　乾薑（四銖）</p>
<p>上為末，煉蜜和丸如梧子大，空心，米湯下五十丸。</p>

<h2>頭痛</h2>
<p>頭痛之狀，最為難辨，大風入骨而痛，大熱入骨而痛，痰伏於胸中而痛，元氣虛微而痛，心火之勝頭痛，六脈之應，皆應於心，即用涼心藥，風氣之勝而頭痛，六脈之應，皆屬於肝，即用涼肝藥氣熱而生涎，亦能令人頭痛，即用前取涎藥，腎水之勝，陵犯於心，經言心氣上行，痛留眉頂間，甚則延及胸，頭痛，腦戶間痛，宜暖其腎，獨寒濕之氣初作，未至犯心，寒邪所客，多襲於陰，上貫風池熱府，令人頭目不利，腦後兩大筋迸急，眉目昏眩，此為寒邪未入五藏，六脈皆初傷寒之屬，浮散而數，宜用前發汗藥。</p>

<h2>腹痛</h2>
<p>人有病腹痛者，其狀多端，經之所言亦多變，濕邪之勝，腹滿而痛，食減體重，四肢不舉，腹鳴腸泄，宜用此方，神和散。</p>
<p>草豆蔻　肉豆蔻　陳橘皮　白朮（各半兩）厚朴（去粗皮）　丁香　木香　大芎蓬莪朮（各一分）　吳茱萸（三銖）　訶黎勒（三銖）　芍藥（十銖）</p>
<p>上為細末，每服三錢，空心，水一盞，棗兩個，同煎八分和滓服。</p>
<p>寒冷食物所傷，厥入胃，腹中撮痛，即與前寒濕勝痛之脈不同，若寒濕之氣勝而腹痛，六脈皆微細而沉，時時小擊，經訣所謂陽弦頭痛，陰微腹痛是也，至於為冷寒之物所傷，則六脈又緊而微，緊應腹有形，此為物所傷者，脈必有形，而為濕氣所傷者，脈止於微而已，宜用神和散，加大腹皮半兩主之，覺冷物未化。即加青橘皮少許，每服入半夏少許主之，清厥入胃，兩脅下痛，及小腹痛，此肺之清肅之氣所成，六脈當急而微弦，肺脈獨大而實，左尺微小急，蓋清肅之氣流入於中，寒聚而小腹有形，經言，連小腹而作寒，甚則為婦人癥瘕，丈夫㿗疝之類，肺以毛為主，若浮則為熱，沉大為冷，至於寒之所聚，則大者斂而為小急，又甚則緊，緊為痛，應腹有形，亦各從其類也，宜暖行肺氣以散之。</p>
<p>陳橘皮　蓬莪朮　紫菀　芎京三稜　當歸　延胡索　官桂桔梗　甘草（炙）　木香（各一分）　大腹皮芍藥（各四銖）　白朮（半兩）</p>
<p>上為細末，服時，水一盞，生薑二片，同煎三錢匕，取八分，和滓服。</p>
<p>至於肺氣之勝，已傷於肝，則又能體重煩冤胸痛，引背而痛。宜服前方，又服此暖行肝氣方、人參散。</p>
<p>人參（半兩）　當歸　桑寄生　白蒺藜　蓬莪朮　芎　獨活　京三稜甘草（各一分，炙）　藿香（四銖）　五味子（半兩）　木香（四銖）</p>
<p>上為細末，每服三錢，服時，水一盞，棗二個，同煎八分服。</p>
<p>人有病，胃脘當心而痛，食已而痛，又甚，連腹中而急，六脈弦緊而長，宜用肝藥，人有病，兩脅下非時氣痛不安，如生積聚，一腹中鼓動，搖悶不安，甚則生氣塊，上衝咽喉，頭目俱迸，口舌膠黏，小便赤黃，衝心而痛，夜臥不安，此為肝涎與血相聚，致生此疾，其脈當洪大沉實，而有骨力，以肝脈之熱，生風而痛，則脈弦而長，今反洪大沉實者，此為涎伏之也，宜用荊芥散。</p>
<p>荊芥穗　連翹　羌活　牡丹皮黃芩　杏仁　當歸　芍藥山梔子　大黃（醋煮）　蔓荊子（各一分）</p>
<p>上每服三錢，食後，水一盞，生薑一片，半夏末少許，同煎，取三四沸，和滓服，大府不甚秘，減大黃，若大府秘甚，自作大黃末，每服酌量加減進服，其大黃一味，自修制，臨時末。</p>
<p>素問舉痛論云，寒氣客於脈外，則脈寒，脈寒則縮蜷，縮蜷則脈絀，急則外行小絡，故猝然而痛，得炅則痛止，其脈正與寒濕之氣脈同，宜神和散。</p>
<p>舉痛論云，寒氣客於經脈之中，與炅氣相薄，則脈滿，脈充大而血氣亂，故痛甚，不可按，其脈散滿指下，充大而至數不多，卻不甚有骨力，宜去其寒，而行其血氣。</p>
<p>當歸　大芎　蓬莪朮　茯苓大腹皮　陳橘皮　青橘皮　延胡索官桂（各一分）　木香（四銖）　芍藥（十銖）</p>
<p>上為細末，每服三錢，非時，水一盞，煎八分服。</p>
<p>舉痛論云，寒氣客於腸胃之間，膜原之下，血不得散，小絡急引，故痛，按之則血氣散痛，其脈亦差大，差緩而沉宜用前藥，青橘皮者。</p>
<p>舉痛論云，寒客於夾脊之脈，則按之不能及，故按之無及，夾脊乃膂脈之所行，其脈當尺澤沉而擊，宜行其腎經，以去其寒。</p>
<p>烏藥（一分）　芎　當歸　京三稜蓬莪朮　延胡索（各一分）　木香　鱉甲（各四銖）甘草（炙，三銖）</p>
<p>上為細末，空心，水一盞，煎三錢服。</p>
<p>舉痛論云，寒氣客於衝脈，衝脈起於關元，隨腹直上，客寒所犯，則脈不通，脈因之則氣不通，故喘動應手，其脈當實大有形，不勻輕滑而又緊，來疾去遲，如有物制之，宜通其脈，行其氣。</p>
<p>桔梗（半兩）　大腹皮　芍藥　木香當歸　陳橘皮　枇杷葉（去毛）　半夏（自為末，每服入兩豆許）芫花（好醋於土鍋內煮過，乾炒，令煙出焦黑，以上各一分。）</p>
<p>上為細末，每服三錢生薑三片，同煎八分服，以大腑通疏為度，宜服神和散之餘，如此夕喘，宜調暖其肺。</p>
<p>舉痛論云，寒氣客於背俞之脈，則脈澀，脈澀則血虛，血虛則痛，背俞主於心，故相引而痛，按之則熱至，熱氣至則痛遂止，脈澀，以血虛而不行其脈，六脈細數而肝心尤微，心脈如帶芤重按即缺，往往身有汗，宜足其血，以保其心。</p>
<p>人參（一兩）　當歸（半兩）　木香　延胡索烏藥　官桂　甘草　茯苓防風（各一分）　沉香（三銖）　陳橘皮（十銖）　</p>
<p>闕上語</p>
<p>舉痛論云，寒氣客於厥陰之脈者，絡陰器，繫於肝，寒氣客於脈中，則血泣脈急，引脅與小腹痛矣，其脈皆輕帶弦，肝脈連腎脈，弦長而緊，甚則透過尺澤而弦，宜用此方。</p>
<p>白蒺藜（半兩，炒去尖）　蔓荊子（一分）　芍藥　獨活蓬莪朮　甘草（各一分）　麻黃（十銖，去節）</p>
<p>上為細末，每服三錢，空心，水一盞，棗兩個，同煎八分服。</p>
<p>舉痛論云，寒氣客於小腸膜原之間，絡血之中，血泣不得注於大經，血氣稽留不得行，故猝然成積，其脈沉大而實，膀胱動而有聲，宜通其小腸。</p>
<p>血茸　大芎　蓬莪朮（各半兩）　萆薢木香　當歸　茯苓（各半兩）　青鹽（三銖）</p>
<p>上為細末，蜜丸如梧子大，空心，清湯下五七十丸。</p>
<p>舉痛論云，寒氣客於五臟，厥逆上泄，陰氣竭，陽氣未入。故猝然不知人事，氣復反則生矣，其脈伏而大，極無骨力，三部皆芤，身有冷汗，宜灸氣海，後用暖藥，舉痛論云，寒氣客於腸胃，厥逆上出，故痛而嘔，其脈細而滑，宜用神和散，加茯苓，人參各半兩。</p>

<h2>脹滿</h2>
<p>人有病，腹脹滿，善噫，兩脅滿，咽鬲不通，此肝勝也，其脈弦而長，宜涼其肝，人有病，腹大，小腹中痛，惡寒發熱如瘧，小腑赤，其脈洪大，此心熱也，宜涼其心，人有病，小腹痛，睡，不得小便，頭痛，目似脫，頂似拔腰似折，此土濕之勝，宜暖其脾，其脈當濁而動，人有病，右胘胠滿腑腫心痛，肺䐜，腹大滿膨脹而喘咳，此氣為火所勝，其脈兩手寸口洪大，肺上亦洪，骨力小如心脈此為心肺相持，宜解其金火之熱，以平其心肺。</p>
<p>黃耆（半兩）　麥門冬（去心）　茯苓　紫菀麻黃（去節）　防風（各一分）　羌活　甘草（炙，四銖）杏仁（十四個，去尖）</p>
<p>上為粗散，非時，水一盞，姜一片，棗一個，同煎三錢，去滓服。</p>
<p>人有病，身腑腫腹滿，仰息，泄注赤白，咳血，此少陽之勝，與火勝同候，其脈亦然以前方主之。</p>

<h2>喘</h2>
<p>世人論凡喘者、皆以為肺，然有服肺藥而不愈者，遂以肺不受藥為難治，何以言之繆也，又或以肺熱而喘，誤投涼藥，此又近似之言，止可以知肺喘，而未足以明五臟之喘，且以經言之，所言諸痿喘嘔，皆屬於上，未嘗以喘屬於肺，至於言五臟之多寡，六氣之勝復，則喘之所生，可指其狀而明，藥之所投，亦可以隨其證而效。</p>
<p>今人有病，胸中煩熱，嗌乾，右胠滿，咳喘唾血，肺䐜，腹大膨膨而喘者，此火之刑金，肺傷而喘也，宜用此方。</p>
<p>麥門冬（去心，半兩）　桔梗　麻黃（去節）　紫菀杏仁（去皮尖）　柴胡　前胡　甘草（炙）貝母（以上各一分，去心）　羌活（三銖）　黃耆（十銖）</p>
<p>上為粗散，每服三錢，水一盞，生薑三片，煎至七分，去滓，溫服，人有病，左脅痛，寒清於中，咳而喘，此為肺之清氣所成，宜用此藥，六脈毛而微，腎脈伏而小，比之火之盛刑金，則異矣，蓋火盛刑金而喘，則六脈純得火脈，疾大而有力，若寸口偏大而關脈帶芤，即須唾血。</p>
<p>人有病，腹大脛腫，喘咳，寢汗出，憎風，胸中滿，食不消化，食減，體重，六脈沉重而濁，渾渾革至，如物制之，此為腎寒大過，宜暖其腎。</p>
<p>續斷　牛膝　細辛　五味子巴戟　附子　當歸　菟絲子補骨脂（各一分）　大芎　萆薢（各半兩）　木香（三銖）</p>
<p>上煉蜜丸如梧子大，空心，鹽米湯五七十丸，以神和散並進。</p>
<p>人有病，肝臟風壅，積涎所聚伏膈間，口乾而膠，食即噁心，全惡肉味，心躁不安，夜臥不得開，咽喉隔塞，如物抵築，多喘，診其脈，六脈皆大而沉伏。重手取之，隱隱然骨間乃得再再尋，來疾去遲，宜用治涎藥。</p>
<p>荊芥穗　天南星　防風　羌活　白殭蠶　連翹　獨活　麻黃　乾荷葉　乾蠍　天麻（炮）　半夏</p>
<p>上等分，修治為細末，每服三錢，入半夏末一兩豆許，水一盞，生薑三片，煎七分，和滓，飯後服。</p>
<p>有人得此涎候，卻緣久病而虛，又誤服熱藥，或元氣本虛，六脈大而無骨力，卻浮洪而數，重手按之，則浮指而虛，有表無里，卻不宜用前方，此病難治，當用此方。</p>
<p>人參（半兩）　天南星（炮）　防風　獨活麻黃　天麻（炮）　枇杷葉（去毛）　半夏羌活（以上各一分）　白殭蠶（玄口）　薏苡仁（各十銖）　</p>
<p>上除半夏一味自為末，余為細末，非時，水一盞，姜三片，煎至七分，又宜時時以補藥助其元氣，而徐以此壞涎藥撓之。</p>
<p>人有病，久患咳嗽，虛萎氣乏，胸中氣微，不能報息，六脈虛微而數，此之一候，並帶勞疾證，即為難治，若脈止虛微不浮而數寸尺調勻，即藥到便安，若浮數而虛，亦勞也，若浮大疾數而虛，輕手取之，全無骨力，重手按之，全不應指，此不治之證，肺萎，當用此方。</p>
<p>人參（半兩）　五味子　茯苓（各半兩）　鱉甲（酥炙）山藥　麥門冬（去心）　甘草　枇杷葉（去毛，各一分）　黃耆　紫菀（各十銖）　半夏　阿膠（炙透，各四銖）</p>
<p>上為粗散，生薑三片，每服入半夏一兩豆許，飯前服，或非時服之，又宜服補腎氣藥，以歸其元氣，每服三錢，水一盞，煎至七分。</p>

<h2>腳痛</h2>
<p>腳氣之病，蓋由有寒濕之勝，故經於太陰之勝，言足脛腑腫，於太陽之勝，言至引陰股，筋肉拘苛，又言，歲土太過，甚則肌肉萎，足痿不收，行善瘛，腳下痛，飲發中滿，四肢不舉，此寒濕之氣所成也，然天下之病，固有似是而非，本異而標同，用藥過差，則利害相反，若腳氣之病，本於寒濕之勝，而至於肺熱，而病生於足胃熱而風生於足，與腳氣相似，而寒熱殊狀，試別而明之，熱而足痛者，以肺經之所行也，故經言，歲金太過，則股髀踹䟰足皆病焉，胃熱而足病者，抑以宗筋不行，而傳為痿厥也。</p>
<p>今有人病足痛，得水土寒濕之狀，六脈沉伏而動，上濁下虛，尺澤微而澀，宜暖其下，用此方。</p>
<p>牛膝（半兩）　黃耆（半兩）　獨活　當歸石斛　附子　萆薢　五加皮（各一分）天麻（炮）　大芎　續斷（各十銖）　細辛木香（各三銖）　官桂（四銖）　芍藥（一分）</p>
<p>上為末，薏苡粉煮作稀糊，丸如梧子大，空心服五七十丸，溫酒或鹽湯下。</p>
<p>肺乘熱而足病，則左手一手脈全微而細左尺又小，搏擊而沉，右手脈偏，有骨力，洪大，而肺脈尤甚，再尋。虛弦而長，用修崔氏紫蘇方服之，蓋世人多以崔氏方治腳氣而得效，不知此方只可治肺熱腳痛耳。</p>
<p>紫蘇子　芍藥　官桂　茵芋　茯苓　大腹皮　桔梗　甘草（炙，各一分）羌活（三銖）　麻黃（去節，一兩）　黃耆（半兩）</p>
<p>上為粗散，生薑一片，煎三錢，以為飲服。</p>
<p>胃熱而宗筋不潤，則腳弱無力，兩足痠軟，或帶微腫，診其脈，胃脈一指弦而長，又微帶疾，六脈差大，宜用此方。</p>
<p>大腹皮（半兩）　茵芋（八銖）　杏仁（去尖）　茯苓芍藥　當歸　陳橘皮　甘草（炙）薏苡仁（各一分）　青橘皮（四銖）　芎（十銖）</p>
<p>上為粗散，非時，姜煎，仍以前暖腎藥，壯元氣藥，相兼而進，若服此藥，大府微利，即住此，卻進補藥兩三日，待定帖，仍進此藥。</p>

<h2>脈要精微解</h2>
<p>經曰，春日浮，如魚之遊在波，夏日在膚，泛泛乎萬物有餘，秋日下膚，蟄蟲將去，冬日在骨，蟄蟲周密，君子居室，故曰：知內者按而紀之，知外者終而始之。此六者，持脈之大法，以經意考之，以四時之脈，分表裡之淺深而決之，以內外之辨，且以春日浮如魚之遊在波，則陽氣之萌，脈雖見而未出於膚，夏日在膚泛泛乎萬物有餘，則脈已在膚矣，秋日下膚，蟄蟲將去，則秋陰氣之至，脈雖下膚，而未至於沉，冬日在骨，蟄蟲周密，則脈已沉矣，以是知內者按而紀之，以明脈之在裡也，如秋日之下膚，冬日之在骨是也，知外者終而始之，以明脈之在表也，如春日之浮，夏日之泛是也，然知內者必曰按而紀之者，蓋脈之在內，非深按之，無以得其實，知外必曰終而始之，則初按而病已見矣，故因其病，以推原其本，啟玄子乃以知內為知脈，知外為知色，殊非黃帝所謂持脈之大法也，細舉而明之，心脈搏堅而長，當病舌卷不能言，凡脈之搏，以有所犯，而鬼勝則搏，心脈之搏，以腎邪犯之也，病舌卷而不能言，舌雖應心，而舌本蓋少陰經之所散也，治之之法，不獨涼其心，且暖行其腎，其大而散，當消環自己，若心脈之芤，雖芤而軟，縱失血，亦當溫，加之以胃藥。</p>
<p>紫蘇子　黃耆　芍藥　官桂獨活　茯苓　大腹皮　甘草（炙，各一分。）天麻（炮，十銖）　杏仁（四銖，去皮尖）</p>
<p>上為粗末，姜煎，不計時候，用水一盞，煎七分。</p>
<p>寸口脈沉而弱，曰寒熱及疝瘕及少腹痛，又曰，脈急者疝瘕少腹痛，病同而脈異，啟玄子遂以為經傳之誤，亦不知變矣，寒疝之為病，有寒清連於小腹而為疝，故止言寸口脈沉而弱，不分左右之脈皆沉故也，右沉則肺冷，而寒清之氣流入於中，左沉則心氣不足，血為寒邪所犯而少腹痛，至脈急曰疝少腹痛，則言六脈之皆急也，蓋經嘗言，診得心脈而急為疝，正謂此矣，寸脈弱而疝者，宜溫其中，脈急而疝者，宜緩其中。</p>
<p>寸脈沉而疝者，宜用此方。</p>
<p>當歸　牛膝（各半兩）　烏藥　木香京三稜　蓬莪朮　延胡索　茴香官桂　萆薢（各一分）　芍藥　大芎（各十銖）沉香（四銖）　血茸　細辛（各五銖）　益智子（三銖）</p>
<p>上為細末，蜜丸如梧子大，空心，清湯六七十丸。</p>
<p>脈急而疝，宜用此方。</p>
<p>蔓荊子　麻黃　芎　蓬莪朮甘草（炙）　木香　茯苓（各一分）　芍藥（半兩）獨活（十銖）</p>
<p>上為細末，每服三錢，生薑三片，水一盞，煎至七分，不計時候服。</p>

<h2>明熹脈</h2>
<p>春戌、夏醜、秋辰、冬未，四時之喜神，取五行之養氣為用，皆歷三辰而數，如春以戌為喜神，即正月在戌，二月在亥，三月在子，四時放此而推，若於脈中得之，犯他脈，喜有喜慶之事，四時脈皆於胃中見，以五行皆資土以致用，而周身之脈，亦因胃脈，然後見於氣口，如春脈以弦為主，須六部脈皆循循，不急不絕，不緊不數，而胃脈微弦而緩，弦為春，緩為本，六脈無犯，主一月內喜應，若正月於戌日見，二月於亥日見，三月於子日見，則旬內應如胃脈帶弦而毛，則主災，夏脈洪為主，六脈皆隱隱而大，不散不浮，不滑不數，胃脈微洪而緩，洪為夏，緩為本脈，六脈無犯，一月內喜應，旬內得脈，皆不出旬，秋脈主毛，胃脈上輕，帶毛而緩，又須有根蒂，此一脈難辨，如四時之脈，蓋若毛而輕，如風如氣，則反為災，不為喜脈，惟不浮不輕，緩緩而徐，浮手按之，乍如秋脈，重手取之，則去來如一，壓之不散舉之不輕然後為喜脈，日辰之應，與春夏同法，冬脈最為易辨，但胃脈沉而不擊，即是。</p>

<h2>傷寒論</h2>
<p>病有懸性命於毫髮之端，決死生於頃刻之下，死生之間，系醫者之工拙，醫者之工，則病之痊愈速如轉圜。醫者之拙，則所投之藥過於白刃，此傷寒之病，非獨傷人之急，醫者之難事也，古人有言，一日二日，在於皮膚，四日五日，傳之臟腑，故皮膚之間可汗。傳臟腑之間可下，世之學者，未嘗不宗之以為定論，然不知人之有虛實，則病之有輕重，病之有輕重，則傳之有遲速，忽有經兩日三日，而尚在皮膚，忽有初經兩日三日，而傳臟腑，善為醫者，當審察其脈，審其病之所在而已，嘗以治傷寒之病有四失，一失之愚，蓋傷寒之病，其始在於皮膚，其次傳之臟腑，當皮膚之間可汗，於臟腑之間可下，苟不辨陰陽，不分內外，當汗而下，當下而汗，誤投藥餌，以傾人性命。此一失之愚也。二、失之不精，蓋傷寒之病，傳之臟腑，則證候多端，千變萬化，莫能盡究，其毒氣之在肝者，不可疏脾，在心者，不可疏肺，五臟之治，余皆同此，醫者治之，決以為病之所傳，在於何臟，方之所投，當以何藥，病之所減，當以何時，藥之一投，遂可平復，苟不知病之源流，不識病之傳受，誤投藥餌，以希苟合，不幸而少有差誤，人之傾危，可立而待，此二失不精也。三、失之怯，蓋傷寒熱毒，傳在五臟，攻損正氣，其毒氣之盛，如煙如霧，熏炙三焦，致令病危困，不思飲食，醫者反以為胃氣之虛，不肯通疏，遂見傾損性命，但今患傷寒熱毒之人，飲食不進，大府不通，小便黃赤，病者危困，即先定其病之所傳，在於何臟，急以疏轉之藥，取其毒氣，其病勢輕減，則飲食增加，而平復如故矣，此三失之怯也。四、失之暴，蓋治傷寒之法，既失之愚，又失之怯，則不精不詳者，不可容易言也，愚因言治傷寒之怯，切慮後之學者心術未明，見識未到，但務以不怯為志，妄投轉藥以傷人性命，此余所以言四失之暴也。後之學者，苟能明此四失，亦足以識治傷寒之大略，至於陽毒所次，陰毒所注，其傳在五臟，則臟證各殊，貫於六腑，則腑證各異，其傷人之急者，惟二感尤為極重。余今輒以病證脈候陳其一二，庶幾世人緣此之傳也。</p>
<p>一日，巨陽受之，巨陽之脈，起於目內眥，上額交顛，上入絡腦，下項，循膊內，夾背，抵腰中，在手為小腸，在足為膀胱，故頭項腰背強，其脈當疾數而浮以散，如新沐浴，如風，而左尺脈微緊而數。</p>
<p>二日，陽明受之，陽明主肉，其脈夾鼻絡於目，故身熱目疼而鼻乾，不得臥，其脈又經於腹背，上頭項，在手為大腸，在足為胃，診其脈，當疾數而浮，漸漸按之，如通於里，以陽明為宗筋，而胃脈受之，又漸入於裡，六脈雖浮數，而胃脈一指微洪而數。</p>
<p>三日，少陽受之，問其脈，循脅，絡於耳，故胸脅痛而耳聾，又起於目銳眥，上抵頭角，下耳後，其脈當疾數而利，得六七至以上，而肝脈又差數，此三陽受病，皆屬於表，故其脈疾數而浮，以其未入於臟腑，故言汗而已。</p>
<p>四日，太陰受之，太陰脈布胃中，絡於嗌，入胃，上隔，夾咽，連舌本而散於舌下，其脈當疾數而洪大，有骨力，胃脈差大。</p>
<p>五日，少陰受之，其脈直行者，從腎上肝鬲，入肺中，循喉嚨，夾舌本，故口燥舌乾而渴，其脈最為洪大，六七至以上，心脈隱隱應指，來去如一。</p>
<p>六日，厥陰受之，厥陰之脈，自足上循陰器，抵少腹，又上貫鬲，故煩滿而囊縮，其脈疾數如長，三陰三陽，五臟六腑，榮衛不行，五臟不通，則死，大抵三日以前為三陽受病，其脈在表，宜汗，三日以後三陰受病，其脈在裡，宜泄，若初經三日，其脈疾數大，表裡如一，即不可汗，亦不可下，只以解利藥通其中而已。</p>
<p>一二日，脈氣疾數，以溫辛發散藥汗之而愈，藥中亦須有通表解藥，不可純用熱藥，既汗之後，脈當安和綿軟，不疾不數，如老年衰削人脈，輕手按之，綿綿不絕，重手按之，隱隱不乏，即自然安寧，若既汗之後，疾數不解，即難治，加之以結，則困重，或至於死，蓋結脈疾數而懸絕，累累如珠，而又不流利，與滑不同，但逐部位通流於指，如滴水起頭是也，然初得病，一日二日內，有增寒壯熱，脈輕而浮，乃謂之傷寒，若才得病，並無增寒，頭疼欲碎，身熱如火，頭目赫赤，眼睛迸火，大府秘，小府赤，六脈洪大，有骨力，此名熱病，雖初得亦不汗，蓋治傷寒之法，惟初一二日，與熱病使藥不同。</p>
<p>三四日以後，與熱病同醫，一日二日，脈氣微小，不疾不數，不浮不散，唯沉軟而細，則汗之之藥，宜極以溫辛，如脾胃濡沉，則是感冷之一候，多變成陰證，陽毒傷寒，面赤頭痛，身熱如火，心神煩躁，頭目昏眩，項背強直，脈候當洪大而有骨力。</p>
<p>傷寒煩躁，飲水不休，若脈實而洪，不是疾數，是為涎毒，若洪大而不實，是為心脾受毒。</p>
<p>傷寒後，寒熱已退，腹中餘一塊，疼痛不可忍，忽走在腿面上疼，此為遺氣在肝，脈氣洪而長，肝脈循循而過左足，宜清其血。</p>
<p>四五日，熱毒上衝，心胸噎塞滿悶，渾身壯熱，頭痛不止，大府不通，胸中痰實，脈氣當寸關脈實，而尺澤輕如絕，心脈炎炎而上。</p>
<p>熱毒在肝，善怒，筋脈碎痛，神昏，不欲見人，兩脅脹滿，手足躁，不安臥，右手關脈，當偏大緊急而長，熱毒在心，頭疼煩躁，面赤舌強，口語不快，忽心痛，善嘔，狂言妄語，忽思狂走入水，精神不守，左手脈，一指偏大，若舌強硬急，以妙手針刺其舌兩傍，出惡血，不可刺其舌心，熱毒在脾，渾身肌肉碎疼，聞食即惡，思吐，通身發熱，兩唇乾焦，邊脈動，或環唇青黑色，甚則腰痛腹滿，兩頰痛，右手關上脾脈，一指偏大，如眾脈。</p>
<p>熱毒在肺，上衝咽喉，心胸壅實隔塞不通，渾身大熱，面色或赤，而又帶白，喘咳不得大息，右手寸口，一指偏大，而加之以浮。</p>
<p>熱毒在腎，腰背疼痛，脊膂強急，頭不痛，若渴數飲，甚則項痛而強，胻寒以酸足下，不欲言，其脈當左手尺澤微而輕浮，又輕緊。</p>
<p>傷寒，熱毒攻於肝心兩臟，毒氣煩盛，上衝於肺，血隨氣逆，鼻中衄血，口中吐血，甚則耳中眼中皆有血，診其脈，當洪大而炎上，如流水之長，如乍開乍合，乍斂乍散，此為失血之候。熱毒內傷肝心兩臟，肝心失守，不能主血，毒氣煩盛，上蒸於肺，血隨氣行流入於肌膚，發為赤斑，通身大熱，頭重疼痛，睡時如己身傍畔更有一身精神昏亂不守，其脈雖大而鬱結不解，重手取，隱隱而有骨力，如重夾綾絹裹之，為發斑之候，傷寒。熱病發嗽，坐臥喘急不安，其脈右手寸關脈當洪大，而加之浮數，傷寒，熱毒熾盛，熏炙三焦，攻擊皮膚，通身發如橘色，其脈如發斑候而差沉，與黃疸同法。</p>
<p>熱病結胸，心前閉塞，胸中有一塊不通，堅硬不散，通身發熱，頭疼不安，面色黯赤，喉中涎溢，大府秘熱，昏悶不省人事，病則伏暑相似，其肺當洪大而有骨力，而肺脈實而不浮，伏暑即結而沉。</p>
<p>傷寒熱病，五六日，愈加困重，因吃疏藥，下糞如紫黑色，病勢不減，神思昏昏，小腹膨脹，狂言妄語，不省人事，甚則腹中有塊，堅硬不散，其脈結伏，此毒氣攻血，腹內有淤積惡物，十嘗九死。</p>
<p>陰毒傷寒，渾身手足厥冷，面青，唇皮無色，四肢無力，心中寒慄，重則閉目，不知人事，脈氣當細微而沉，重手取之，又軟而無骨力，若腎脈細微而搏沉者，為重。</p>

<h2>診失血</h2>
<p>脈訣謂芤為失血，芤脈狀如按環子，內面兩頭有，中間曲而缺，非謂絕也，若心脈肝脈帶芤，而肺脈浮以數，又肺脈微弦而緊，則骨蒸咯血。</p>
<p>心脈芤而肺脈軟沉，尺脈沉伏，微微帶緊，腸風下血。</p>
<p>心肺芤而尺脈緊，膀胱滑，小腸溺血。</p>
<p>肝脈芤而肺脈大浮而促，兩手尺澤皆微，喘而咯血。</p>
<p>肝心肺脈俱盛洪大，而不甚有骨力，乍開乍合，如流水之狀，此金火相傳，當吐血，心脈微而緊，促而朝上魚際，急按即來遲去速，此為腸風，下血少，多心戰，憚事，無心力，肝脈長而動，下貫尺澤，心脈大而實，三焦血有餘，亦當下血。</p>
<p>肝脈細微而澀，尺澤微，胃脈濡，大府失血。</p>
<p>心脈與肝脈不盡連接，如滴水起頭，鼻衄出血，肺脈浮大而散，心脈大，鼻暴衄。</p>
<p>訣云：緊為蟲，為痔，須肝脈亦緊並細，方為痔不爾，即蟲也。</p>
<p>六脈浮大，無骨力，來疾去遲，輕手帶洪，重手取之如濡，此久害瘡癤，血少，六脈浮大，有骨力，肝脈弦而長，肺脈大而實沉，與胃相際，胃脈輕弦而濡，此三焦血泛，胃虛下血。</p>
<p>六脈如常，心脈動，腎脈搏而沉，又細而數，血泄，或溺血，便血。</p>
<p>婦人胎孕，在手關寸脈滑數，而肺脈脈虛而毛，尺澤陷而與關脈不際者。孕也，若肝脈長而溢寸，胎漏失血，胎下血有二，有肝氣虛微，腎脈綿軟，胎脈陷下，胎動而失血者，當補之，若肝脈有餘而失血，是胎溢，當涼也。</p>
<p>婦人肝脈洪大而反結澀，訣云：澀脈生，婦人敗血，若脈洪大而又伏，則積塊而血不行，久則陰門腫，以厥陰脈絡門而過。</p>

<h2>診失精</h2>
<p>腎脈虛，綿軟而沉，又微以濡，凡尺脈得八里，脈又搏擊，皆失精，心脈動，多夢交，六脈濡緩而輕浮，又澀，多溺精。</p>
<p>六脈濡，腎脈沉而細，膀胱脈動而緩以大，心脈動而浮，主小便白濁，肝心脈弦而腎脈緊而細，重手按之，卻來遲去疾小府當赤而濁，腎脈細沉而微緊肺脈重而洪大，小便即少腹先痛此寒伏於胞絡中。</p>
<p>赤脈弦而結，陽中有伏陰，胞滿，小便不出，小腹迸脹。</p>
<p>六脈如常人，獨脾脈一指疾大而數，唯腎脈差微，主頭疼。口乾，溺精，此為土邪入腎，當清其脾。</p>
<p>婦人尺澤帶弱，遲八里之脈，膀胱脈動，多下白帶，若腎脈搏而沉，陰中濕癢生瘡，丈夫陰濕，此皆精氣之失。</p>
<p>六脈皆澀，又遲緩，丈夫失精，婦人敗血。</p>
<p>心脈肺脈疾而動，腎脈膀胱動而濡，丈夫溺多口乾，若婦人產，乳多口乾，即多補其腎，不可以口乾為熱。</p>

<h2>診㿗疝</h2>
<p>㿗疝之病，尺脈緊而動，按之即虛。</p>
<p>肺脈輕弦而虛，胃脈沉濡而軟，尺脈綿軟，寒厥入胃肺，主少腹，少腹當如有形，腎虛即成㿗疝疾。</p>
<p>肝脈弦而疾，腎脈綿軟而虛，亦為以厥陰只陰器絡陰而過，乃為㿗疝。</p>
<p>六脈急沉，為疝為瘕，為少腹痛，蓋疝瘕皆寒搏於中，而急則為痛，腎脈大急沉，為腎之疝，當暖其腎，肝脈大急沉，為肝之疝，當暖其肝，心脈搏而沉，又急而沉，肺脈同診，皆為疝，若小急而不鼓，皆為瘕。</p>

<h2>診汗脈</h2>
<p>脈訣曰：陰微盜汗，勞兼有此，特其一端耳，大抵汗為血之餘，若陰微，則血不足，則當主少汗，此言微盜汗，當綿軟而澀，右手膀胱急而沉，心脈搏而動方主盜汗，小府澀，忽失精。</p>
<p>六脈皆滑，主汗，以其陰氣有餘，故多汗。</p>
<p>心脈大滑而腎脈搏沉，以汗為心之液，今心脈大滑，則水犯之而動，故汗。</p>
<p>心脈獨大而洪六脈疾而動，主睡中忽然出汗，以心氣獨主故耳。</p>
<p>六脈濡濕而重濁，脾脈大而濕，主汗出憎風。</p>

<h2>論膈噎</h2>
<p>六脈微而澀，腎脈綿軟而沉，來遲去疾，如代脈相似，心脈沉，主元陽正氣虛弱，陽事不起，小便餘瀝，輕冒風雨，忽吃些子冷物，即胸中噎塞，如有一塊物在喉中，飲食無味。</p>
<p>肝心脈澀而遲，來遲去速，肝脈無骨力，主思慮喜怒，忽憂淤思憶。其狀，心胸滿悶，隔塞不快，飲食難下，兩脅脹滿，忽時氣痛衝心不可忍，面色青黃，肝心脈澀而沉，重手取之，緩而無力，如新沐舉重，來遲去疾，胸中噎塞，飲食減少，行步無力，大府虛冷，非時間心前如有一條冷線，上徹咽喉，此為冷噎，六脈澀而浮汗，肝心脈浮大而無力，胃脈大而散，重手取之，雖無骨力，隱隱而來，唯兩手尺澤差短，其胸前隔塞，飲食減少，大府秘熱，忽時不調，吃咸即心躁，吃暖即喉干，痰實，頭目昏暈，兩足無力，載身不起，舌上生瘡，唇皮焦裂，或非時口中涎流，沖肺散為干嗽，忽時急飢，見食即吐，食不住腹，此熱膈。</p>
<p>六脈微有骨力而來遲卻差小而微急，主寒熱氣膈，其狀，大府熱，忽時卻下黃糞汁，胸中鬲塞不快，滯氣積聚。</p>
<p>六脈浮大輕，有骨力，來遲去速，肺脈偏大而浮，加之泛，如促聚於寸口，主熱噎，胸前噎塞不通，飲食不下，所吃湯水只到喉，仍便吐出，所嚥下津液，只到喉中，亦便吐出，口膠，非時睡，涎溢，大府秘熱，當用通藥，利其大府熱咽，如上所說，用引大府藥，既通其大府，即脈氣洪大如實，但去疾，與尋常洪大之脈不同，即輕以解肺順氣益胃化涎藥餌之。</p>
<p>六脈皆得噎脈，肝脈偏大而澀，肺脈橫格，主因怒而得，大便不通。</p>
<p>六脈皆噎脈，肝心微小而弦，微有骨力而來遲，因悲憂而得，所吃物，聞巡歷胸間，隱隱而下，蓋風不化，血不盛，當益其肝心，順其氣。</p>
<p>六脈濡伏，重手取之，如動而無骨力，主冷噎，飲食不進，身上厥冷，胸中如有冷物填塞。</p>
<p>六脈濡伏，胃脈偏重，濁而重，主胃寒，履濕而得噎，四肢厥冷，胸前噎塞，飲食不下。</p>

<h2>診室女婦人諸脈</h2>
<p>諸婦人之脈，陰陽與男子相反，當要尺澤隱隱，來去如一，和緩，不澀不弦，寸口平，方能孕育，若尺澤弦急，肝脈動，心脈疾，六脈澀而不與勻，無子。</p>
<p>血盛氣衰，為孕，謂心脈洪大流利，替替而滑，肺脈毛而微，卻不浮，為孕，仍須尺澤與肝脈微間，而肝脈微橫，即是孕。</p>
<p>肝脈澀而不絕，尺脈微陷，心脈滑，是孕。</p>
<p>肝脈澀，心脈滑，肺脈衰一如孕脈然，尺脈急而長，為敗血，為積血，非孕。</p>
<p>肺脈急而弦長，右脈浮而短，小腹堅硬如孕。</p>
<p>肺脈急而沉，腎脈濡沉，小腹有形如孕。</p>
<p>肝脈急而沉，腎脈小急緊，陰癢，陰中痛腫。</p>
<p>室女六脈皆弦而長，又洪，尺脈微緊，經候通行，兩足痛腫，行不得，肌肉消瘦，大府幹澀，頭痛眼昏，室女十六七，肝脈弦而長，胃脈輕弦，表裡如一，骨槽蒸熱，風行周身，上焦壅，肌肉消瘦，忽通身黃黑，面色帶黑，小便黃赤，五心煩躁，漸欲成勞。</p>
<p>婦人肺脈盛，肝脈軟而虛，忽微而動，心脈芤，肺氣有餘，相刑剋，肝木受金傷，不能主血，月候多少，遲速不定，多不節，以致無子，偶然懷之，又無故墜下，當減其肺，益其肝。</p>
<p>關尺微細而沉，腎氣虧乏，不能生肝，經候多少遲速不定，不能生子。</p>
<p>肝心脈弦緊而疾，肺脈浮而大，尺澤鬱郁不散，月經不通，大府秘熱，兩足痛，不得行，肌肉消瘦，漸次如馬籃節。</p>
<p>六脈弦緊而長，心脈洪大而實，尺脈結，月經不通，長淤怒不得安處，忽忽似顛狂，夜不得睡，小便赤，大府如常，忽下鴨溏。</p>
<p>肝脈虛弦而長，按之無骨力，心脈動而疾，肝邪傳心，日夜煩躁，忽如顛狂，不得眠睡，六脈大而沉，肝脈橫，肺脈浮，主婦人血熱，經候行少，背上非時有一片發熱，口無津液，忽兩三月一次，忽半年不行，或止些小黑血。</p>
<p>六脈大而沉，重手取之，隱隱乃得，輕手如無，重取卻有骨力，非如尋常沉伏之脈，此因胎藏本熱，忽因產後未經百日，恣吃涼物，寒熱相伏，經及二三（年月）候不通，全如懷孕，惡血所聚，如有身，露下有塊，但堅硬不動往往卻氣氣痛，只以辛溫藥散，自然行下，不必疏通。</p>
<p>婦人脈如孕，尺脈亦絕，與孕無殊，但六脈動而不勻，胃脈輕帶伏，此因經候行次，或產後起早，並誤吃生冷，傷損，氣血俱病，因生積聚久無所療，變成惡物，其狀腹中成塊，如蛇鼠，如鹿如虎之類，以手按之，沖手跳起，但此病到年深，其惡物帶命吃人血盡，忽絕無經候通行，或經候行時只如淡水。如此，即傾危人也，六脈疾大虛急，疾大為風，浮血溢，急為尺澤有寒，忽因經候行時，忽因產後吃生冷不相當之物，忽產後早起傷風，血氣俱病，臨經行時，忽先氣疼，忽小腹急疼。</p>
<p>心脈芤，肝脈虛，尺澤微細，血海虛損，經候過多，忽成片流下，不可禁止，六脈皆沉，肝脈弱而虛，尺澤細細如縷，又帶澀而遲，肝腎多感寒，伏在子宮，血海虛損，經候過多，小便白濁如米泔，少陰腎脈貫脊而行背上，忽有片寒冷，口中即吐清水。</p>
<p>六脈疾大而浮，腎脈急而浮，心脈差洪，血風頭痛，口乾吐痰。</p>
<p>六脈弦大，肝心脈澀而短，尺脈急沉而搏，緣使性多瘀怒，傷損肝心正氣，因而積涎，怒而氣逆，涎隨氣上，其狀，聞得心前昏悶，潰亂不快。遂有一塊之物，上觸到咽喉，即手足俱冷，口噤不開，不省人事。</p>
<p>六脈弦大而疾，尺脈亦弦而動，泛泛不絕，經候過多七八月不止，皆下鮮血，此非虛不可補，止可涼風血，緣風盛血散，然久而不止，即肝氣脫血。</p>
<p>妊娠之脈，若肺雖微，然浮而聚於寸口，當上氣喘促。</p>
<p>妊娠，六脈雖要滑而流利，然肝脈滑而洪大，胃脈亦有骨力，則上喘而口膠，見食多。</p>
<p>妊娠之脈，尺脈不絕，與肝脈相連，而□軟無力，又沉以細，當主少腹疼痛蓋胎氣熱則在上，冷則墜下。</p>
<p>妊娠之脈，尺脈急沉，而搏，胃脈濡而重，六脈又軟，胎氣墜下，陰門腫。</p>
<p>妊娠，六脈疾而動，肝脈如長而散，主胎漏失血，不可補之，此血溢也，當安其胎，涼其血。</p>
<p>妊娠，尺澤沉伏，肺脈實沉而動，腰痛不可舉，兩手沉重，行步無力，睡腸痛。</p>
<p>妊娠，心脈洪大而浮，肺脈浮而散，胃脈浮而大，通身瘙癢，漸次面目渾身俱腫，心躁不安。</p>
<p>妊娠，六脈皆結而伏，胃脈沉而動，主忽然如中風，心前昏悶，即如有一塊物填塞，此緣臟腑本熱而忽感寒，忽吃生冷，寒熱相伏而不散，以辛溫散之。</p>
<p>妊娠，六脈洪大，過關溢寸，主上鬲有熱，唇口乾焦，口舌生瘡，非時頭痛不安，小便黃赤。</p>
<p>妊娠，血有餘，六脈大而疾，又緊而流利，表裡俱有骨力，主渾身碎痛，並腹內疼不可忍者，宜涼其血。</p>
<p>婦人妊娠，有發熱如瘧，雖夏常畏風，此肝盛血熱，風行於表，熱極即生寒，若肝盛胃虛，即更右一壁寒，以妊則血盛而氣衰故也，診其脈，當左長而緊，微帶浮，右關沉而濡，如按泥漿。</p>
<p>婦人之脈，六脈俱沉細而急，左手尺澤微而緊，指指如縷而轉，連及肝脈，按之即結而散，此胞精不足，當久患敗血，赤白帶，若動而數，加之以短，即不久傾危。</p>
<p>婦人之脈，皆沉而洪大，重手取之，其深至骨，隱隱然應指，有骨力，來疾去遲，至數與常人無異，但胃脈亦洪大，上隔有伏涎，此為血澀生積，當經候不快忽不行，腰痹，口乾而渴，背迸，眼睛迸，兩臂重，手缺盆迸，大府秘，心憎，夜不得眠。</p>

<h2>診黃疸</h2>
<p>黃疸有二，有肝熱刑脾而疸，有濕極而疸，若肝脈洪大，胃脈濡弱而濁，肝脈加之浮，腎脈搏而擊，即發黃疸，若胃脈重濁而弦長，按之無骨力，腎脈搏而沉，心脈有動象，即濕極而發疸，然疸之病，多先目黃，以眾脈皆會於目系，所以肝熱亦目黃而疸，胃熱亦目黃而疸，肝熱即口乾引飲，小府赤而澀，胃濕亦目黃，而口不幹，小府赤而不澀，又有下部冒寒履濕，濕氣衝心，發為目黃，不必是疸，素問言太陽之勝，有面赤目黃者是也，只可緩行其小府，濕熱相鬱而疸，即□脈洪而大，不弦，卻帶軟而長，宜利其小府。</p>

<h2>半產正產論</h2>
<p>夫半產、正產，婦人之常事也，然其間多有產後染成大病。忽絕無月水行，忽宮藏虧損不禁，忽積成癥瘕，而歲久月深，傾損性命，此無他，輕之以為半產，而不甚將養之所致也，不知半產之候，其將養當過如正產十倍，正產止血藏空虛，半產即肌骨腐爛，常切譬之，正產有如果中之慄，夫慄之為物，俟其自熟，陰陽氣足，則其殼自開，而栗子自墮，方是之時，子之與殼，兩無所損，如婦人懷孕，十月已滿，陰陽氣足，則其子宮自開，而兒子生下，若月未滿足，因誤服藥餌，忽寒邪熱毒所傷，忽扶輕舉重，忽倒地打傷，其胎藏傷損，胞系腐爛，然後其胎墜下，即有如世人採折新慄，碎其皮殼，就殼中斷其根蒂，然後取得栗子，此其半產之喻也，以其胎藏傷損，胞系斷去，而後胎墜下，則其半產之人，將養調治，得不過如正產十倍者哉，正產之後，補其虛，生其好血，化其惡血，保其藏氣，去其風邪，人人無有不安也，半產之後，補其虛，生其肌肉，益血，窮其所因，解其病，去其風邪，養其藏氣，加之將養過如正產十倍，損傷之胎，無不平復也，籲！世之人多輕之，至於傾危，不可勝數，得不惜哉。</p>
<p>正產、半產出血過多，不可禁止，忽氣悶不識人，其脈洪大而浮以泛，如新沐，如破肚之脈，若微細而澀絕，其候凶。</p>
<p>胎死腹中，其脈洪大而沉，尺澤當溢透下部，不澀不絕，即無畏，謂胎不下，當氣滿實，所以洪大而沉，又溢寸過，若澀而短，即死。</p>
<p>婦人慾產。漿破血下，渾身疼，診其脈，當洪大而有骨力，尺澤透而長，方是正產，謂孕則尺脈不來，欲產而漿下，則尺澤透，若渾身疼甚，而漿未破，血不肯下，即難產，凡渾身痛甚，須是腰痛，連穀道疼迸痛，方是正候，以少陰犯胞絡脈，連腰過脊及肛門，若只是腹痛，不可用作正產候。</p>
<p>產後，脈結而澀，尺脈短而動，肺脈浮而急，即是衣未下，產後血風，虛熱搏之，洪大而數，數與疾不同，數則兼動與短，主血暈，面色深赤，身體如醉，見屋宇如懸倒，忽頭痛重不安。</p>
<p>產後血風，虛熱搏之，洪大而疾，心脈實而有骨力，肺脈洪而浮，主血逆頭痛，面赤如醉，身體如在虛空，大腑秘澀，語聲微細。</p>
<p>產後，六脈得洪大，如血暈脈，胃脈實而弦，肺脈浮而洪，主大腑秘熱，頭痛面赤，噁心嘔逆，產後，如骨蒸脈，六脈弦而微緊，有骨力，主血行少，未經數日，身下乾淨，腹中余血，惡血未下，非時氣痛，攻心刺肋。</p>
<p>產後，六脈輕浮，微有骨力而來遲，肝脈細而虛弦，多因小遺登後早，忽亂吃食物早，宮藏傷風，飲食減可，近以十日，遠經半月，粥食不進，才吃一口湯水，即聞湯水巡歷胸中，方下入胃，既入胃，仍下出，面色並肉色黃，形體困重，此候留風邪在中，血熱而感寒，成寒熱隔氣，風不用事，食不化，此病須是吃得酒一兩盞，方可調理，每日宜服酒一兩盞，如治風咽調理，故予特製此方。</p>
<p>細辛　官桂　芎　當歸（各半兩）羌活　藿香（各一分）　木香（一銖）　桑寄生（□分）吳茱萸　蓬莪朮（各三銖）　甘草（四銖炙）</p>
<p>上為細末，每服三錢，空心，煎防風湯調下，吃了，渾身手足暖，忽頭疼，即連吃酒一兩盞，候通身發熱，忽行下惡物，即便安樂也，若人得此病，須是依上件題目，方可服此方。</p>
<p>產後，六脈皆沉伏而遲，主渾身厥冷，非時噤不識人。</p>
<p>產後，六脈動而疾，胃脈滑而溢於尺澤，腎脈軟而虛弦，此緣產遲，忽衣遲，既產後，早起傷風，吐泄不定之脈，宜溫其胃。</p>
<p>產後，六脈沉細而伏，此寒氣在下，腰痛，起動不得。</p>
<p>產後，六脈沉細，腎脈伏而沉，肺脈虛而大，產後乳汁多，故流出，其乳汁冷而口乾，此腎冷肺虛寒，不可以口乾為上熱，誤服涼藥，此腎少陰之脈，從肺出，絡心注胸中，其直行者，從腎上貫肝鬲，入肺中，循喉嚨，夾舌本，故如此。</p>
<p>產後，六脈洪大而結，肝脈澀，肺脈浮，忽然乳疼，堅硬成塊，將欲成癰腫。</p>
<p>產後，未經百日，腹疼氣疼，轉瀉不止，六脈沉細而虛，此余寒在中。</p>
<p>產後，心脈一指偏小而動，又芤陷，若肺脈重而洪大，卻無骨力，則主乳多，肺脈如常，惟心脈如此，加之腎脈微細，則小便虛憊。</p>
<p>產後，惡血行，少腹中塊刺痛，須六脈大而緊，肺脈緊而虛弦為寒肺，主少腹中有塊，產後血熱，肝臟風搏生涎，發為疼痛，即急心痛，六脈當得二陽一陰，二陽實大，一陰者，沉也。</p>
<p>產後，尺澤虛軟而代，至數不及，白涕不止，血崩下帶。</p>
<p>產後，尺澤虛軟而代，至數不及，加之胃脈濡濕而散，即水土俱寒，多下白涕，產後六脈浮而虛，腎脈微而小，至數遲，來處無力，綿綿若代，中風，肌肉麻痹，肢節牽抽，非時增寒，大府虛冷。</p>
<p>產後，六脈浮而數，來疾而去遲，中風，四肢躁，身體疼，精神昏悶，大府秘澀，產後亂吃物早，傷損脾氣，非時腹脅脹滿，飲食不快，診其脈，胃脈遲而肝脈弱。</p>
<p>產後，亂吃物早，傷損血氣，身體虛弱，飲食減少，眼如貓兒眼，診其脈，肺脈橫格而肝脈芤傷微弱，腎脈泛泛欲動而無力，此血氣俱病，當調其血，益其氣，暖其胃，使進食。</p>
<p>產後，腎脈微而沉，胃脈濡濕而沉，多緣寒氣所損，忽因坐草多時，地之寒氣所損，忽因坐草多時，地之寒氣所沖，腹中成塊，忽衝心背，臍腹疼痛，嘔逆噁心，不思飲食。</p>
<p>產後，血氣微弱，六脈沉細，重手取之，細細乃得脈氣，別無陽脈，唯肺脈差浮而弱，主頭冷重，項頸蕤，非時間頭面上肌肉麻痹，大腸虛冷，頻出後又多虛往，或時泄瀉，兩足沉重，少精神，行步無力，面黃瘦，或未經百日，經候通行，或誤吃涼藥，有此疾候，忽自懷孕時間，通身寒冷，至產後，卻有此疾，但極以補腎補肝藥，補益其血氣，而祛風邪藥助之。</p>
<p>產後，心虛中風，心中戰慄，驚動不安，如人將捕，大府傷冷，六脈微而肝心脈偏細沉，又產後只緣腎氣之虛寒，風邪所中，腎脈細而搏以沉，腎既受病傳其所勝，心感腎邪非時驚悸，如人將捕，初以益心氣去風邪藥治之，次當補其腎，又次當益其肝，足其血，緣心受腎邪，而又肝氣微弱，不能生其心氣，故以三方藥治之。</p>
<p>產後肝腎虛冷受邪，六脈虛微，腎脈搏沉，心脈輕帶滑，主產後肝虛中風，產後血暈之疾有二，風搏血熱而暈，即六脈洪大，有骨力，又有一般大府虛冷，卻因使性激怒，傷損肝心，其氣上逆，因而血暈，其狀，頭覺重痛，昏昏如醉，語聲低小，但多思睡，診其候，六脈輕，有骨力，不至洪大，肺脈輕浮而不毛，心脈促而朝上，此最為用藥之難，故作此一方。</p>
<p>麻黃（去根，一分）　延胡索　芎　防風（各一分）　官桂（去皮，半兩）　甘草（炙）　細辛（各二銖）　羌活木香（各一銖）</p>
<p>上為細末，每服一錢半，水一盞，煎取九分，非時，去滓服，不要多服，病止即住藥，若氣體虛微吃煎藥未效，卻加壯熱頭痛，面赤如醉，宜服此方。</p>
<p>牡丹皮　荊芥穗　羌活　麻黃（去根）　防風（各一分）　甘草（二銖，炙）</p>
<p>上為細末，每服二錢，水八分一盞，煎一兩沸，急瀉出，食後，徐徐去滓，熱服（病已即止。）</p>
<p>產後，余惡血未下，因感風邪，與熱血相搏，壯熱頭痛，面赤如醉人，眼澀𧌴急，昏悶不醒，身如在虛空，見食即吐，食不住腹，脈氣結而不勻，逐位間絕，然各有骨力而微，此用藥亦難，宜此方。</p>
<p>麻黃（去根，三錢）　麥門冬　黃芩　羌活　大黃　荊芥穗　山梔子　芍藥　射干（各半兩）　官桂　當歸（各一分）　甘草（炙，三銖）</p>
<p>上為細末，不要𭵶，只生搗，每服二錢，濃煎，薄荷湯調下，若脈氣極有骨力，應指而動，又當有伏涎，當大府秘熱，出後不通，前藥二錢半，取汁用，調下牽牛末一錢，半夏末一字，和滓服，大府不熱，不用牽牛。</p>
<p>載之治病、用藥，初不求異，炮炙制度，自依本法，以銖計者，蓋其審證精切，不過三四服立愈，逾是而不效，乃察病按方之不審，便當改轍，不可泥也，此皆親試而得之，非敢誇大其說，六銖為分，四分為兩。</p>

<h1>卷下</h1>

<h2>診胃脈</h2>
<p>訣云，阿阿緩若春楊柳，此是脾家居四季，此叔和知之而未詳也。大抵胃脈雖和緩而貴不疾不速，重而取之，不虧乏，浮而取之，阿阿而至，不洪不濁，即為五臟脈全，若弦而急，又洪大而有骨力，即受肝熱邪，能生嘔逆，若弦而緊，即受肝冷邪，能生飧泄。訣又曰：脾數即吐因脾熱，此非脾熱，乃肝熱而侵脾，故作此和神之方，須使去風邪藥，以和胃藥，此方神效，但於使療處方覺其驗。</p>
<p>訶子皮（一兩）　削術（好者二兩）　藿香　藁本陳橘皮　芎　獨活（此止風，各半兩）　根子〔（七銖），此用行肝氣，乃木香中揀圓小氣烈味苦者。〕　細辛　防風　甘草（炙，各一分）</p>
<p>上為末，每服三錢，水一盞，煎取八分，去滓和滓任意服餌，才服逡巡，卻覺胸膈如飢，若是肝熱刑脾而吐，唇焦口膠，面赤，渴引飲，小便赤，背脊寒，洒洒如瘧，聞暖藥臭，只要涼水吃，即加</p>
<p>荊芥穗（二錢）　羌活（半兩）　連翹（一分）　秦膠（三銖）干薄荷（一分）</p>
<p>以上同為末，每服三錢，更入半夏二片，水一盞，生薑三片，同煎至七分服，若是脾濕冷泄，即加</p>
<p>香白芷（一分）　肉豆蔻　草豆蔻（各半兩）</p>
<p>如法修制，大抵用脾藥須要止風邪藥相併，其他加減，乃臨時看風氣多少，即萬不失一，腳膝下邊生瘡，乃肺氣不下降使然，宜服降肺氣湯藥。</p>
<p>有病，吐半月不已，乃心鬲間有涎，宜用天南星去涎藥去之。</p>
<p>水邪攻心氣，素問云，攻所熱者死，用桂與姜，壯心氣勝之，其病，狂言身熱，骨節疼痛，面赤，眼如拔，而腦如脫。</p>
<p>小便白濁而口乾，是土氣余而克腎水，以枳殼散清其脾，則安，痔病用荊芥熏，以釣腸丸服之。（方出靈，苑者是。）</p>

<h2>為醫總論</h2>
<p>道之渾淪，莫知其源，道之既判，變化無窮，莫知其端。推其變化之間，凝而為質，五行名之，化而為氣，五運統之，鍾而為人，五臟應之，自此而後，物之可名，數之可推，理之可窮，而道之跡乃可得而言之也，大而天地，小而一身，理或皆然，統而論之，要其所養，一歸之無失而已。故云霧不精，則上應白露不下，白露不下，則苑藁不榮，乃至賊風數至，暴雨數起，天地四時不能相保，與此天氣不襲，道之相失也，人之起居乖宜，將養失度，一藏有餘，一藏不足，寒溫之不能相交，榮衛之不能相通，風之氣乘隙而入，疾如飛矢，奇病苛疾，應如反掌，此天地之與人，其理未嘗不一矣，古之聖人，和於陰陽，調於四時，春夏養陽，秋冬養陰，與萬物浮沉於生長之門，故生身無奇病而壽敝天地，無有終時，此無他，養無失而生氣不竭者也，賢人則上配天以養頭，下象地以養足，中傍人事以養五臟而無失，亦可益壽而有極時，至於庶人，不能法天之紀用地之理，失於所養，天之邪氣，感而害五臟，水穀之寒熱，感而傷六腑，地之濕氣，感而害皮肉筋脈，百病無端，從斯而至，病之一生，千變萬化，莫能窮究，故世之善醫者，不患治病之難，患識病之難，患使藥之難，何則，受病有淺深，使藥有重輕，度其淺深，分毫之不可差，明其輕重，錙銖之不可偏，淺深輕重之間，醫者之精粗，病者之性命，差之毫釐，失之千里，得失之間，死生性命之所繫，醫之道，不得不為之難也。故善為醫者，一病之生，必先考其根源，定其傳受，審其刑剋，分其冷熱寒溫，辨其上下內外，有真有邪，有虛有實，忽隔絕痞塞不通，忽空虛微弱失守，可針可灸，可下可汗，闕於不精，勇於必驗，制之有先後，取之有輕重，條理具存，各有其常，而不可差之分毫也。夫病之所起，其來有根源，其次有傳受，其傳有刑剋，此非常之證，勞傷之候也，夫勞之為病，始於丹元髓海之虛，則真病之所生，莫不先在於腎，水能勝火，故傳之於心。火能勝金，故傳之於肺，金能勝木，故傳之於肝，木能勝土，故傳之於脾，五臟相傳，五氣相滅，五神耗散，榮泣衛除，而精神榮衛，治之之法，其根在腎，而未傳於心者，投之以腎邪之藥，而其氣自損也，當於腎之未治，而傳之與心，先治於腎，攻其鬼而伐其根也，次治心，逐其邪，而保全其心氣也，當於心之未治，而傳之與肺，涕唾膠黏，喘嗽不安，先治於心，攻其鬼而斷其相傳之勢，火邪撲滅，肺藥未投，而喘嗽之消滅，十亦去八九矣，次治於肺，解其邪，而保安其金氣也，後治於腎，清其臟，而還其真氣也，當此未治，而至於肺傳之肝，筋骨痿痹，隱伏於床，治之亦徒勞功。如此所為，考其根源，定其傳受，而審其刑剋也，夫五臟溫和病安從來，將養乖宜，病生於變，是則百病之起，雖千變萬化之幾，而要其所歸，不出於寒溫熱冷而已。冷者不可治之以溫，名曰不及，涼而治之以熱，名曰太過。不及者，病之不能滅，而太過者，反有所傷於真氣也，冷者熱之，寒者溫之，輕重得宜，疾徐有制，動無毫釐之失，而所療之病，舉獲萬全。此所為分其冷熱寒溫者矣。傳曰：狂風入林，枯枝先折，猛雨破堙，隙者先壞，則八邪之所以感傷於人，莫非乘隙而入，此人之所病，不能無內外上下之辨也，肺氣喘嗽，膠痰堅實，伏在胸中，潮涎並起，傾損性命，如此之類，病在上也，腳膝痿軟，行步無力，腰胯沉重，如此之類，病在下也，生於皮毛，染於筋骨，忽寒所中，飲食不消，忽熱毒所攻，大府秘澀，百端隨人冷熱，如此之類，病在內也，在上者吐之而安，然不可吐者當制之以緩，在下者補之而愈，然不可補者當制之以急，在外者可針可灸可汗，隨其所宜，而在內者可攻可補可下，隨其冷熱而已，其治之有方，其辨之有法，亦何患乎所投之藥，無必勝之驗者哉，此辨其上下內外者也。夫五味爽人之口，五色盲人之目，嗜欲無窮，貪著不已，憂患迭生，精神㢮壞，而真殘根伐，是人之不能無虛實也。實者為有餘，虛者為不足，有餘者瀉之，不足者補之，而補瀉之間，又有內外之辨，故形不足者，溫之以氣，精不足者，補之以味，五臟六腑之內，實者通之以藥餌，四肢八節之外，實者瀉之以針石刺，此其補瀉之有所不同也，乃所為分其虛實者矣，夫古之人，年滿百而動作不衰，今之人，年未滿五十而動作有衰，非天之私於古而禍於今也。古之人知養道之術，嗜欲不能勞其目，淫邪不能惑其心，血氣安和精神內守，故年滿百而動作不衰，蓋真全而邪氣不能勝也，今之人不知養道之術，務快其心，逆於生樂，血氣枯衰，精神耗散，乃有胎胎相傳，病病相孕，受氣虛微，肌體羸弱，呼吸喘息之間，而百病臻湊於五臟六腑者矣，此無他，精虛神乏，而外邪得以干其陰陽之正氣也，善為醫者，保其真，去其邪，無使其過劑之藥，反有以賊其真也，此所謂分其真邪者矣，乃至有隔絕痞塞不通，空虛微弱失守，雖三尺之童，亦耳聞而心識者矣，夫病之在內，藥餌攻之，病之在外，針石取之，其有病勢之急，而藥石之功緩而難制，聖人不能灸之法，類而舉之，若今陰毒傷寒，其四肢八節皆冷，面青唇黑，不知人事，急於氣海灸之，一灸不過十數壯，而人神氣完復矣，又有夏暑之月，任意取涼，頻飲涼水，忽飲冷酒後，恣貪色欲，精氣至虛，陰邪壯盛，陰陽相奪，陰氣偏勝，獨守下元，陽氣虛微，上攻頭項，其病腳冷如雪，四肢八節俱寒，脈氣深伏，但有其熱如火，其痛難忍，方此之際，針石何濟，急於氣海上灸之，一灸不過數十壯，而日前之所飲涼水冷酒皆轉下，須臾四肢八節俱暖，而陰陽之氣仍相交際者，又有冷熱之癰腫，忽鮮赤而疼痛，忽堅硬而不痛，急以濕紙帖其上，尋其紙之先干處，便灸，一灸至百壯余而後止，若以冷腫而紙上不得其先干處，即於腫處當頭著灸，亦以百壯而止，但量肌體厚薄，方可安灸，瘦薄者少灸，肥厚者多灸，忽是冷腫，灸而不痛，則以聞痛而止，因吃硫黃後有此病，更在虛處不請安灸，夫病之可汗可下，可針可灸，其緩急之序，重輕之別，操之不失其宜，施之各有其度，又何患乎人之不安，病之不愈者哉。嗚呼！</p>
<p>天地無全功，聖人無全能，雖黃帝、岐伯之論，尚有不治之病，則今有非常之候，不得其詳，未明其實，闕而勿治，醫者不為之辱也，苟其病之熾盛，人之危篤，醫者既明其理，又識其詳，當此之時，不可有分毫之怯，急以毒藥驗針，回其生於萬死之地，舉必萬全，然非至神，無能與此，愚者行之，無異於操刀殺人也，如此所為，闕於不精，勇於必驗者矣，此皆持之有術，治之有統，不可相逾於規矩權衡者也，至於病之有非五行之所傳化，若寒壅之相交，陰陽之相伏，忽似熱而反寒，忽似寒而反熱，忽兩寒兩熱之相攻，忽有餘不足之相礙，千變萬化而生人之大病苦，今若肺藏本有實熱。反因臨大風，冒大雨，極感於寒邪之氣，寒邪之氣客於肺經，寒熱相交發而成嗽，醫者治之，投以涼藥，順其肺氣，則助其寒邪之勢，而嗽愈增，投以暖藥，則激其本藏之熱，而加喘急，寒溫之藥，俱難以進，則修方使藥之輕重，當見於此，或有以羌活。</p>
<p>黃橘皮　麻黃（去根）　紫菀　杏仁（去雙仁皮尖）　細辛　獨活　防風　桔梗</p>
<p>上為末，每服二錢，沸湯點，（空心服，）不過數服而嗽止，此輕□□解其寒邪，空心賺其寒邪之氣流出於胃也。此所謂治其寒熱相交者矣，忽有人之臟腑根本實熱，卻因履天暑，冒大熱，驟入涼處，頓飲涼水，寒氣勝，畏其熱氣，陰陽相伏，陰氣固而不散，陽氣伏而不動，其病結為一塊，伏在胸中，此病名為伏暑者也。其候忽寒，心中煩躁，狀似傷寒，而脈不甚數，醫者治之，妄投轉藥，雖六腑之精華，悉皆蕩盡，而心前之結塊，愈增堅固，此無他，所下之藥助其寒邪之勢，陰氣轉堅而不散也，治之之法。</p>
<p>芎藭　細辛　藿香　黃橘皮木香（各一分）</p>
<p>上為末，每服二錢，水一盞，煎至七分為湯，空心服之，先解其寒邪之氣，不移時而心前之結塊頓然消散，然後復審其脈氣，察其暑毒之輕重，必投藥以解之，則亦何患乎藥之不驗者哉。如此所謂治其陰陽之相伏者矣，夫病有似熱而反寒者，若今有產後之病，五臟積冷，陰氣偏勝，乳汁倍多，無故流出，口舌常干，非時發渴，頭旋目暈，飲食減少，腸胃虛空，身體羸瘦，每思登後，忽又不通，淺學治之，不過曰口舌常干，非時發渴，上焦之有熱也，頭旋目暈，血熱而生風也，每思登後又忽不通者，大腸之秘澀也，是不知乳汁倍多，無故流出，則口乾而發熱，從可知矣，體氣虛弱，頭旋目暈，腸胃空虛，而傳送之氣不足，則每思登後，又忽不通，從可知矣，一旦誤以為熱，而投之冷藥豈不傾人性命於頃刻哉，病有似寒而反熱者，若今壯歲之男子，志在淫邪，恣貪補藥，以昏求色欲，熱藥所攻，榮衛結澀，上氣有餘，下氣不足，上下之氣不相交際，腳膝痿弱，行步無力，兩足多冷，或時增寒，肌體黑瘦，飲食減少，才吃鹹味，即便噁心，醫者治之不過曰，此五臟六腑之虛弱也，投以暖藥，譬猶抱薪救火，與甚亡益也，才以清涼之藥，解利肺經，散其毒熱上攻之氣，榮衛一通，則其陰陽之氣、仍相交際，手足自暖，腳膝損輕，而平復如故矣，此所謂似寒而反熱也，夫歲陽太過，天地不無旱乾之災，歲陰太過，天地不無水潦之患，以虛生寒，以實生熱，則人之臟腑、不能無兩寒兩熱之相攻也，若今傷寒所謂陽毒之類，皆兩寒兩熱之相攻者矣。哀哉，色欲無厭，喪身之本，世人多以迷心，恣其所欲，反餐毒熱之藥，以希苟活，其丹元髓海，雖已空虛，而臟腑骨槽，虛熱轉盛，此病之所生，不能無有餘不足之相礙也，若今人之患大腸秘澀，忽五六日，忽十日，出後不通，小腸虛憊，日夜五六十次，每次小便，仍有一盞半盞已來，其清如水，忽時黃色，臨小便時，其痛難忍，甚則心神煩躁，此肝心脾肺四臟之毒熱有餘，而腎與小腸主氣不足也。脾肺心積熱，則腸乾澀，腎與小腸虛憊，則水道滑，肝心積熱，則其血沸溢甚則血黯黑，熱毒之氣，如煙如霧，鎮在中焦，因其小腸虛憊，水道乘虛，只行於小腸此所以小便雖清，其痛難忍，其病有似於淋，而非淋疾，天下物理，有似是而非者，正謂此也，醫者治之，投暖藥以固小腸，而則滋其肝心熱毒之氣，而痛愈加，下涼藥通大府，則藥隨水道，只行於小腸，而病愈盛，冷熱之藥，俱難以進，此有餘不足之相礙也，治之之法，當以通氣藥為湯，洗其穀道，先引其五臟之氣，歸入於胃，使其湯水稍隨氣而下入於胃，第二度，使水漸取得一兩個下氣，相次如藥取得些小干糞，氣歸大腸，所餘湯水，亦隨氣行，歸入大腸，則未吃小腸氣藥，而小便自止也，漸次使藥通其肝心，熱毒之氣使出後，稍通便下藥，取其熱毒，所取下物，如半腐爛者，淤血之類，如此，然後得其病根之消減也。所下之藥，具在方中，此謂治其不足有餘之相礙也，籲，醫術如林，余之所得，芽孽而已，醫道如海，余之所得，涓滴而已，因其所得，雖無寸長，稽其用心，實非古人之形於筆舌者，今略舉數條，論之於前，以明醫道之大略而已。</p>

<h2>涎論</h2>
<p>論曰，舟非水不行，然波濤沸溢，則覆舟之患生，人非氣不活，然痰涎並積，則傾人之患至，波濤非自生也，其所以生者，不平之勢作之也，痰涎非自積也，其所以積者，不順之氣留之也。故善行舟者，不懼波濤，而懼舟之不完善攝生者，不懼痰涎，而懼氣之不順，故世人之疾病，其所以殘傷性命之急者，無甚於痰涎，而世之醫者，乃有見之而不能識，忽有識之而不能治。此不幸之人，其殘傷夭橫者，不可勝數，何則、舉天下之人，獨知風氣之有涎，不知臟腑冷亦生涎，熱亦生涎，痰涎一生，千變萬化，而病之所起，非特一端，愚今略舉數端明之，後之學者，於診療之際，類而推之，亦庶幾其疾病之徒無夭橫者矣，夫涎之為名一也，而具數種。一曰風涎，二曰熱涎，三曰冷涎，四曰病涎，五曰虛涎，六曰毒涎，其一曰風涎蓋因人之風氣之盛，上運於涎，不能下入於胃，風氣一蒸痰涎並起，而上填塞胸中，即使人悶倒無知，其風氣久而不順，性命之傾危，速如反掌，若其風氣未盛，逡巡之間，仍復自順，其涎亦隨氣而下，即平復如故，此蓋人之肌肉厚，湊里深，風不得泄於外，風熱內攻大府秘熱，毒氣上攻，遂生斯疾，此名之曰風涎，然風涎之為名一也，而人臟腑虛實之不同，則涎之為病也，變化不一，愚得以命其變而言之，若今人之病，大府實熱，痰涎滿口，吐如清膠，胸中喘息如常，但湯水飲食俱不可進，凡所飲食，只到喉中，即不能下用力嚥下，即喉中隔絕，喘急悶倒，良久方愈，惟進得些小膠粥，此亦風涎之候也，然風涎之候變不同，則當如何而治之。</p>
<p>曰：善除荊棘者，先斷其根，善治風痰者，先順其氣，人身無倒上之涎，天下無逆流之水，今風痰一上，而填塞胸中，傾人性命者，風氣運而上也，今之治風涎者，多使天南星、半夏之類，是不知病之源流，去荊棘而不除其根也，苟能以藥先順其風氣，兼發其湊理，使其風氣得以發泄於外，順行於內，則其胸中之痰涎，自隨氣而下，未吃涎藥，而痰涎自順矣，然病勢之有輕重則取之有緩急，若風氣炎盛，膠涎並起，其氣卒難以順之者，當制之以急，非吐之不可，風氣未極，痰涎未並，為害未深者，當制之以緩，先順其氣而後治其涎也，此亦治涎之大約也，然風涎之候，又有冷熱之不同，或有寒風所中，冷涎所聚，其人必先於半年或數月前，吃食減少，身體沉重，筋脈痿弱，才見肉味，便覺噁心，非時口中一兩點冷涎出，身不自覺，冷涎所並，忽悶倒不知人事，良久復甦，即生麻痹，或生嚲曳，或失音不語，冷涎所積，少有上並，多聚中焦，盈溢胸中，包裹心絡，能使人狂言妄語，神識不定，非特不覺，手臂忽自舉動，如此為冷涎之所中也。</p>
<p>治之法，先以溫暖之藥，散其冷毒之氣，急以熱藥，發其腠理，然後以治涎之藥，取下其涎，雖且暫安，而寒風所中於人，亦甚不久，何則、熱風中人，如天地春夏之風，長含生氣，以養萬物，其人雖病難死，此古人所謂風所以能養人也，寒風所中於人，如天地秋冬之風，長含殺氣，以肅殺萬物，其人所中，非久必死，此古人所謂風所以能害人也，其二曰熱涎，若今有取性之丈夫，多餐葷膩，好食鹹酸，以色為心，恣貪補藥，忽因醉酒房室，勞傷其精，丹元髓海，雖以空虛，而臟腑骨䐬，虛熱轉盛，其涎所積，隔在中焦，因其腎臟之虛寒，邪氣與熱涎相交，發為疼痛，重則不移時而傾人性命，醫者治之，不過曰，此肝腎之氣，是不知熱涎乃病之根本，然京三稜，蓬莪朮，非能治氣，而世人用而不驗者，不識其病之源流也，善為醫者，臨事制宜，隨機應變，審當輕重，涎多者吐之，涎少者下之，所用之藥，偏取肝家之風毒，又何患乎人之不安哉，三曰冷涎者，若今人之肝臟有餘，脾氣不足，忽因使性，長懷淤怒，傷損肝心正氣，此冷涎之所以積也，脾氣不足，復因肝氣所乘，伏而不動，停水滯谷，久而不化，肝心長懷淤怒，則其氣滯澀而不行，此冷涎之所以積也，然肝生風，性之不定，忽時而作，肝主怒，怒則氣逆，此冷涎所以隨氣而上，而生人之大病也，證其候而言之，則其病必先聞心前潰亂不快，相次聞有一物，隨氣而上，觸至咽喉，即悶倒不知人事，手足肌肉，漸次寒冷，逡巡復平愈，治之之法，當以吐藥取之，得其所取之涎，其清如水，其冷如雪，取涎之後，復審其臟氣，隨其所病而調和之，亦無患乎藥之不驗也，四曰病涎，其人必好食堅硬之物，傷損脾氣，忽因淤怒，傷損心肝正氣，忽因寒邪熱毒之傷，忽因大病之後，餘毒客在臟腑，其氣結澀昏滯，不能宣暢，是以痰涎因而聚積，涎與滯氣相交，往往發為疼痛，此名之為病涎者也。</p>
<p>明其病證，在心前痛，輕則連年累月，痛無暫停，重則傾人性命，速如反掌，重輕之殊，涎之多少也，治之之法，當在量其病勢輕重，以利藥取之，輕則其涎如油，重則其凝如白膠，取涎之後，然後使藥清其藏氣，益其正氣，使之平復如故也，五曰虛涎，其人必因受氣之虛，忽因大病之後生冷所傷，忽因疾病之間，淫欲不節，致令臟腑之氣，空虛羸乏，而骨䐬之間，虛熱上蒸，上氣鎮長有餘，下氣但常不足，陰陽之氣，不相交際，不順之氣，隔在中焦，是以虛涎因而積聚，風熱一攻，即其涎並上，初發作時，先覺清涎滿口，漸聞心前有一物，上觸咽喉，即喉中急促，悶倒不覺，兩手相亂把拽，風氣極上，即頭上癢，忽皮臍間痛，逡巡風氣順下，乃遂平復，治之之法，當以臨發時使五分利藥取之，以其胃氣不足，不可十分利吐也，若利吐不出，非時以壞風涎藥攪之，候分數少減，即於氣海上安之一灸，引其涎下入於胃，然後使藥調其臟氣，酌量其臟腑之虛實，有餘者瀉，不足者補，令上下之氣相等，可庶幾其全安也，若脈氣微細，大府虛冷，減其肝氣，益其胃氣斯可矣，若小兒得病者，全是胃氣之虛，氣海上安灸，補暖脾胃，以愈斯痰，仍不輒吃取風涎藥也，六曰毒涎，若今人之患陽毒傷寒，肝心脾肺受其疫毒之氣，因其毒涎相積聚在中，候其證，即使人大府秘熱，小便黃澀，面色黯赤，渾身發熱，昏昏如醉，狂言妄語，不知人事，如此之候，悉皆是涎，診其脈氣，又卻沉伏，重手取之，骨間乃得。</p>
<p>此乃疫毒之涎，盈溢心胸，伏其脈氣，非脈氣之與病相反者也，此所謂毒涎者矣，治之之法，急以疏轉之藥，取其毒氣，蕩下其涎所下之藥，須心肝脾肺四臟俱治，然當以肝臟為主，偏下肝臟之藥為要也，雖然，涎之為病，千變萬化，其狀不一，是今之所舉數端，止其大略而已，後之學者，類而推之，加以識見之明，而診療無差，亦無患乎涎為人之大患者矣！</p>

<h2>治涎諸方</h2>
<p>（凡人得只有此方內一件一句病證，皆可吃此藥。）</p>
<p>治一切丈夫婦人風涎所積，非時急飢，見食即飽，心中嘔逆，一切飲食，都不聞味，口中涎溢，唾如濃膠，急即吐逆，食不住腹，面色青黑，肌肉乾燥唇皮焦赤，忽時黑色，兩脅下氣跳忽沖，脅下跳戰，轉入背脾痛遍身肌肉，忽時跳戰，兩臂沉重，忽如有物壓著，夜間都睡不著，忽如有物上觸咽喉，即昏悶不醒須臾仍卻無事，忽時如有物纏繫腰背，忽時有物橫在背上，腰背疼痛，忽滿口生瘡，忽時下赤糞，忽時泄瀉不定，頂上躁熱，小便赤色，通身發熱，眼色勁急，忽時心躁，熱上攻胸，額髮汗如水，忽時項上皮肉間疼痛不可忍，忽時心前脅下迸重，如懸一片物，忽聞重處非時麻痹，忽身上肌肉結塊連綴，疼痛不安，忽時頭面小腹兩腳都腫，若是婦人，連陰門腫，忽起兩眼迸痛視物不明，若有此候，月水不行，通得月水，方為安校，忽時聞在兩脅下起，衝入胃管，上築咽喉，昏悶不安須是開口仰項吐氣，方得稍快，忽時如有亂蟲咬心肝，不可眠臥，忽時聞氣在手指足指甲起，相次聚入胃管，即便大發熱，昏絕，不醒人事，須吐氣千百聲，良久方蘇，如此是臟腑有積毒風涎之所致也，凡人不安，有此內一件病證，皆可進服此藥，但論輕重，加減服餌，吃此藥後，四肢八節，肌肉毛髮，俱軋軋然有聲，即藥之驗也，此涼藥也，吃後，大府反熱，即取病之證也，此病有根，受之太深，此藥不輟進服，徐徐減病根，若病勢濃者，急灸肝俞減其風氣，若是大府結澀，更添下面藥數味吃安校，若是太歲過六壬，丁卯、己亥之年，常有此候，己巳、己亥年，其病尤甚，若遇己上年辰，雖無病之人，亦可吃此藥免得生病。</p>

<h2>治風氣取涎方</h2>
<p>荊芥穗　麻黃（去根）　薄荷　羌活連翹　防風　獨活　芍藥木香　乾蠍　殭蠶（去絲，各三分）　牽牛（半兩）半夏（三銖）　山梔（一分）</p>
<p>以上細搗為末，每服二錢，食後，煎生薑，薄荷湯調下，和滓服，若是大府秘熱，膠痰滿口，喉中咽藥不快，只請去滓吃，候風氣少利，即和滓吃也。若是大府秘不出後，即用大黃一分，半夏三銖，牽牛一兩半，共三味，搗羅為末，作一處，每服用上面藥末三錢，牽牛等末三錢，共計六錢，滴熟水，丸如梧子大，為一服，巳午時，蔥湯下，大府尚不通，忽穀道中通糞不下，即用皂角、牽牛二味，搗羅為細末，筆管盛，納於穀道中，吹之，剪去指甲，用指頭穀道中撥取干糞下也。</p>

<h2>痢論</h2>
<p>夫痢之為病，世人所患者多，然方冊所載者，未嘗有必驗之方，古人所談者，未嘗有卓然之論，服餌之間，世人夭橫者，莫知其數，此聖人名方為大奇，後之學者，不能思而自得之也。若今有人得一名方，自以為神傳聖惠，應效不測，然有一人服之而減，未可圖其必然之驗也，此愚以方冊所載者，未嘗有必驗之方也，以赤為熱，以白為冷，醫者之辭，萬口一說，此愚以為古人所談，未嘗有卓然之論也，何則，以赤為熱，以白為冷，赤白為冷熱不和，獨知大綱，而痢之有變化重輕之別，得其粗而不得其詳，知其一不知其二者矣，夫痢之為痢，一名而具八種，一曰白痢，二曰赤痢，三曰赤白痢，四曰水穀痢，五曰血痢，六曰疫毒痢，七曰休息痢，八曰小兒疳痢，此皆受之不同，治之不得不異，索其詳而論之，則其痢之為病，雖變化重輕之不同，然一歸之脾氣之虛而已。</p>
<p>萬物非土不生，五行非土不載，五臟非脾不養，脾者，中州之土，能化腐水穀，設滋味於肌膚，行糟粕於大腸，脾臟溫和，而諸臟之有冷熱不調，即自生他病，不為之痢也，是故赤痢雖熱，本因脾腎之虛，赤白相雜，雖為冷熱不和，而又有重輕之別，若今人之下赤痢，先轉數行，而後有赤痢之變，若以赤痢為熱，何乃有先轉之說歟，以赤白為冷熱不和，而復有赤少白多，赤多白少，能無重輕之別乎，此病有變化之不同，予得以命其祖而言之也，一曰白痢者，五臟傷冷，脾胃極虛之所成也，其得之重，出後如雞卵清、如魚腦漿者，腎有所傷也，急以補脾腎藥以暖之，加以舶上硫黃丸，無問多少，空心即服，以止為度，蓋病勢之重，治之不可後時也，二曰赤痢者，三焦之熱血有餘，而脾腎感寒之所成也，夫肝心積熱之人，多食生冷，愛吃涼水，口之所納，都聚於脾腎，寒溫之氣所傷，而肝心氣變，血損於中，此肝心之血，乘脾之虛，滲入大腸而赤痢者也，先服解寒氣藥，次吃暖脾藥，其治之如反掌爾，三曰赤白痢者，心肝血損，而脾之與胃，臟腑皆虛之所成也，脾氣之虛，則肝氣相乘，胃氣之虛，則停水滯谷，凝而為涕，肝氣乘脾氣，則肝心之熱血，乘脾之虛，滲入於大腸，與胃中之涕，相雜而下，此所以為赤白也，忽有赤少而白多，忽有赤多而白少，忽有赤白相等，此受病有淺深，下藥有輕重，當在臨時度宜，隨機應變，不可差之分毫也。愚初以謂赤多而白少者，清利肝氣，而輕暖脾胃也，白多而赤少者，微清肝心之氣，而甚暖脾胃也，赤白相等者，微利肝心，平益脾胃氣而自愈，但發寒熱為最重，方見痢方中，四曰水穀痢，其人多飲涼水，忽餐生冷之所成也。所下之痢，悉皆黃色，忽時下白沫，治之之法，補暖脾胃，而其疾自愈，五曰血痢，其人多淤怒，因更相毆擊忽因焦熱極，驟食生冷，脾胃損虛之成也，所下之痢，多黯赤色，無寒熱者，清其肝心之氣，而疾自去矣，六曰疫毒痢者，毒氣所傳，一坊一境，家家戶戶，更相染易，無有不病，凡下痢之時，忽先發寒熱，忽先轉數行，忽生冷所傷，因而下痢，所下之利渾是赤色，濃如膿涕，忽時半盞下濃血，腹中刺痛，忽心中煩躁，三焦痞隔，全不思食，此名為疫毒痢也。然則疫毒所主五臟，從何而得，經言，春若傷陽，夏必人多瀉痢，此疫毒之根，先受之於肝也。</p>
<p>夫春氣本和，而反傷於熱，此陽氣所勝，肝家受熱，而其氣有餘者也，經言五行受病，必先傳其所勝，則肝之得病，必先傳之與脾，而世人於夏月之間，多食生冷，傷損脾氣，脾氣虛，肝邪得以乘之，而脾受肝邪，伏而不動，莫能消水化谷，此疫毒之痢，必先轉數行，而後有赤痢之變也，先轉數行者，脾受邪而脾已生病也，後有赤痢之變者，肝之血熱乘脾之虛，滲入大腸，而為赤痢也，中間忽有赤白相等者，此肝之毒血，雜胃中之寒涕也，若發寒熱，方見痢方中，有白少而赤多；或有白多而赤少，肝之邪毒，有輕重之不等也，七曰休息痢者，蓋患痢之人，其治痢之時，不能解肝邪，而肝家餘毒之所成也，脾臟久受肝邪，則不能強健消化水穀，是毒痢之所下，纏綿久遠而不較，此所以為休息也，八曰小兒痢者，蓋小兒肝受熱，而相刑于脾之所成也，肝之刑脾，則所下之痢，全是赤色，或赤白相雜，至脾之自受疳氣，則骨肉消瘦，所下之痢，多黃涕白沫，少有赤色相雜也，如此數端，亦治痢之大略而已，至於醫道之淵微，愚不能知其妙。</p>

<h2>治痢諸方</h2>
<p>治脾胃虛冷，停水滯氣，凝而成涕，所下之痢，渾是白涕，宜吃此方，初得痢時，並無壯熱頭痛，方可吃此藥。</p>
<p>舶上硫黃一兩，細研如塵。</p>
<p>上以白麵一分，鍋內炒令熟，放冷，於乳缽內，與舶上硫黃末同研令勻，滴熟湯，丸如梧桐子大，每服五十丸，以止為度，空心，溫米湯下，若初得痢時，即不可吃此藥。</p>
<p>治脾胃氣冷，相刑于腎，土水相攻，寒濕交爭，所下之痢，全是清涎，有如雞卵清之類，宜吃此方，將舶上丸相間服。</p>
<p>石斛（去根）　白朮　吳茱萸　續斷草豆蔻（去皮）　芎　乾薑　蓯蓉（一分）防風（各一分）　訶黎勒（逐個麵裹，火炮熱，去核只使皮，秤半兩）　牡蠣（一分，火煨通赤）</p>
<p>以上細搗羅為末，煉蜜丸如梧子大，早朝空心，溫米湯下五十丸，空心服。有壯熱不請吃，治三焦壅熱，其血流散，乘脾之虛，滲入大腸，而所下之痢，盡皆赤色，別無白痢相雜，並不壯熱，亦無心腹疼痛，診其脈上都洪大，脾脈外鼓而沉大，宜服此方，候上焦氣清，赤痢消減，忽變成白，忽赤痢減後，卻聞得小腹迸脹，即便修合後方吃取平安。</p>
<p>麻黃（去根）　防風　麥門冬（去心）　獨活木香　牡丹皮（去心）　前胡（去毛）　荊芥穗（各一分）　蒲黃（四銖）</p>
<p>上為細末，每服二錢，食後，熟湯調下，去滓服，候赤稍減，忽變成白，忽聞小腹膨脹，即修合後方吃也，治赤痢吃前方了，忽變成白，忽已校可，忽聞小腹膨脹，宜吃此方。</p>
<p>防風　甘草（炙，各一分）　芎　（半兩）　木香（三銖）　訶黎勒（麵裹，火炮熟，去核，只使皮，半兩）</p>
<p>上為細末，每服一錢半，水一盞，煎取九分，空心和滓吃。</p>
<p>治水穀痢，所下痢並無赤色，只下黃涕，忽時下白沫，飲食減少，肌體黃瘦，宜服此方。</p>
<p>訶子（麵裹，火炮熟，去核，只使皮，一兩）　黃橘皮　白朮　芎　（各半兩）　甘草（四錢）　肉豆蔻（一個）　舶上硫黃（一兩，細研）</p>
<p>上搗羅為細末，用舶上硫黃相和令勻，用薏苡仁作粉煮粥，丸如梧桐子大，急火焙乾，每服五十丸，空心，溫米湯下，須是焙乾，莫令損藥氣，治赤痢，所下之痢，渾是鮮血，忽有黯色，據候，多因使性瘀怒，傷損肝心正氣，忽因事爭打，傷損經絡，致有斯疾。</p>
<p>桑寄生（一兩）　獨活　木香　甘草（炙）芎　牡丹皮（去心，各一分）</p>
<p>上為細末，水一盞，煎取八分，非時吃，每服二錢。</p>
<p>治疫毒痢並論（痢藥，鬚子細對證用之，取效如神，大抵此一集方，無不精妙，但要病藥相對。）</p>
<p>凡疫毒痢，一方一境，家家戶戶，更相染易，無不病，緣疫毒之痢，非獨一般，證候多端，根源奇異，雖神農、岐伯，尚以為大奇之病，後之學醫，未識其粗跡，豈知其津涯，但言白痢為冷，赤痢為熱，赤白為冷熱不和，不知有何經證，以白為冷，偏下暖藥，幸亦無差，以赤為熱，不知熱從何藏，愚者妄言，不過曰熱從肝心，因何無涼肝心必驗之一方，定治赤痢以行於世，以赤白為冷熱不和，又不知指稱何藏，愚者妄言，不過曰，冷熱氣不和，復不知因何無和氣藥一方，定可用治赤白痢，以存之方冊，醫家自不知病在五臟，從何而生，只務檢方行藥，幸而偶有所中，入且獲安，不幸而差之毫釐，所投之藥，乃暗中與戰，但病者不見痕跡，所傷無能知覺，觀之得不寒心，籲，神農之後，世世學醫者，未明天地之氣候，不識五臟之應變者，不能知常病之源流，豈足與語奇病之變化，是以痢之一病，方冊所載，古人所談，未嘗有一言一句略明其粗，予嘗探尋五運之氣數，稽諸天地之變化，推步六氣之行度，參考脈氣之纏注，以天驗人，以人應天，痢之一病，億萬分中少知其一二，但以其變化之間，獨可神悟，難以言窮，筆舌之間，不能曲伸其旨，使後學者洞識精微，而無悟人之性命，深以為恨，今但子細陳其粗跡，以為後之醫者筌蹄，在詳審而用之，適足以知我之用心，誠為愛人之切爾，經言，春若傷陽，夏必久多瀉痢，此之一節，無問太歲，但一春之間，早有炎暑暄熱之化，至於夏月，忽生瀉痢之病，通其肝氣，其病即愈，但兩三盞無驗，更不請吃，若少有效驗，吃之以較為期，蓋痢之一病，證候多端，藥中其源，即便安校，故無在於多吃也，切慮世醫誤認證候，妄投藥餌，以傷性命，但患痢之人，所吃之藥，兩三盞不見效驗，更不請進服，今自有方，具其變之候，備別於下，更在詳擇而用之，永無差誤，緣疫痢之狀，變證多端，予請以太歲推之。</p>
<p>子午之年，君火司天，土性生金，火性制金，土火交生，濕蒸相搏，則宜其土有所潤，火有所溽，火氣見郁，心氣內傷，乃生赤白血痢，寅申之年，相火司天，土火併化，氣味交通，與此同候，丑未之年，太陰司天，土化流行，土火交通，濕熱並至，子母同化，性不相侔，溫濕攻心，脾郁，心氣內變，血淤於中，注下赤白，且子午年、丑未年、寅申年、土之司天則異，而氣化之生病則同，何也，答曰，夏秋相交，火金相繼，土之一氣，常遊於其間，土有所潤，暑有所溽，然後金生，是以火土二位，氣位交通，事理相混，其所以司天之歲雖殊，相鬱而生痢則一也，方見下，卯酉之年，陽明司天，金行其令，氣化悽清，人少脾病，六月七月，水火相犯，八月九月，金木相攻，水之與木，一化有餘，赤白下注，從此而生，是歲，君火司地，少陰在泉，火能制金，一旦於歲中火淫所勝，焰明郊野，則化來救寒，更作人病，赤白在下，己亥之年，少陽在泉，相火司地，與此同化，然君火之化善，相火之化惡，善則傷人遲，惡則傷人速，治同法，方並見下。</p>
<p>辰戌之年，太陽司天，水化流行，寒邪犯心，血氣內變，傷損於中，因而下注赤白，此病世之罕有，蓋傷犯人之急也，但辰戌年之痢，發熱如火，當痛，所下之痢，如紫草水，如膠涎，如茶腳，不急治之，其亡也如反掌，方並見下。</p>
<p>己亥之年，厥陰司天木化流行，土木相交，風濕相爭脾土受邪，此肝之熱血，乘脾之困，滲入大腸，而生赤白瀉痢之病，方見下。</p>
<p>以上天地氣候，推之未詳，予請以五運之政推之。</p>
<p>甲子、甲午，濕化有餘丙子、丙午，寒運太過，庚子、庚午，上受天刑，必有水救，以上年辰，天地相過，剛柔始交，月氣是水與天相犯水火相持，以為一年病始，更遇寒濕之運，與水相助，忽受刑之運，有水相救，以上年辰，歲半之前多有清肅之化，至於夏月，氣候反，寒熱交爭，乃生赤白之痢，為此寒濕犯火德之與常例不同，自有方在下，子年為甚，而午年少減，若寒化偏多，陽化少舉，乃生寒瘧傷寒麩瘡之病，痢疾乃加。</p>
<p>戊子年，上為天符，戊午年、天符歲會氣以之詳，人以之寧，一旦寒濕之氣，少犯於心，忽注下赤白，人多患暴死，有此證候，治之亦與丙申年同，議者謂戊子、戊午年，天氣運氣皆是火，今乃言忽有寒濕犯心，何也，答曰，己午之上，有戊己之土，當有寒濕之化，與火相持，然後使金得而生，此戊辰、戊午年，亦疑有寒濕之化相犯於心也，經言，中執法者，其病速而危，中行令者，其病徐而持，中貴人者，其病暴而死，蓋以此也！</p>
<p>壬子、壬午，木運相助，風熱大盛，木能制土，脾乃受邪，若此歲中，忽有大風炎熱之勝，人生瀉痢之病，其鬼在肝，方具於下，然子午之歲，地之初歲，寒邪與天相爭，丙丁之位，與戊己共居，若於歲中反有寒濕之多，所生之痢，治亦與甲子、丙午、甲寅、甲申、丙寅、丙申、戊申、庚寅、庚申、壬寅、壬申年，氣候大約與子午年同，所生之痢亦同，法方並見下。</p>
<p>乙丑、乙未、丁丑、丁未、己丑、己未、辛丑、辛未、癸丑、癸未、以上年辰，每一年之運，各管三氣化，乙丑、乙未，金運本涼，以其氣之不足，反與少徵同化，然火土交味，太陰所寓，熱化並行，濕熱相持，心氣內郁，血損於中，注下赤白，忽火之不常其德，侵傷其不足之金，則水必相救，寒邪犯心，因而生痢，此乙丑、乙未年之痢，忽有以土之鬱火而生，忽有水之犯心而成。其受病臟腑雖不同，然土水共胞，寒濕同化，則其治大同而小異也，方並見下，經言，其運涼熱寒，蓋以此矣，向下准此而推。</p>
<p>丁丑、丁未、木運正，風與天土相犯，然以氣之不足，反與少商同化，若於歲內，金之不常其德，多有清肅之化，則火必相救，炎暑將至，與土相持，而濕熱相交，血氣內損，乃注下赤白，然丑未之年，天能制色，土將犯水，木雖不足，而其怒無時，忽若風化大來，土木相戰，則肝發傷脾，此丁丑、丁未年之痢，忽起於肝，忽生於脾者矣，方見下，經言，丁丑未之年，其運風涼熱，蓋以此也。</p>
<p>己丑、己未年，天符歲會，氣以之詳，物以之寧，人以之安，然太陰之味，先苦後甘，氣化相交，土性生金，火性剋金，忽於歲中火土相攻，心血內變，痢疾所生，人多暴死，此蓋邪之不可侵傷於貴人也，方見下，遇此年辰，常吃調和脾氣藥，以安貴人，是服食之宜也。</p>
<p>辛丑、辛未，水運不足，雖上受天刑，然下加太陽，反歸乎氣，是歲，天土地水，寒濕偏多，火氣見郁，若有痢之疾生，其起在心，其鬼在於脾腎，方並見下。</p>
<p>癸丑、癸未，火當其運，其氣不足，反與少羽同化，是歲，太陽在泉，寒氣不減，寒濕更作，火氣見傷，痢之所生，其病在心，其鬼在脾腎胃，方並見下。</p>
<p>寅申之年，大約與子午年同，但相火之政暴，遇其獨勝，則其害立至，若與水土相犯，其候變證多端，方具於下。</p>
<p>乙卯、乙酉年，金運不足，本與少徵同，然乙在卯上，為天符，反歸平氣，在酉上，為三合。名曰貴人，邪不可犯，然是歲、金位在上，火位在下，名為逆化，金燥交合，切忌火氣之勝，若火有所勝，水必來救，此年忽有痢疾之生，天氣炎熱，病起於心，氣候清寒，病起於腎，方具於下，丁卯之年，木運不足，下加於卯，雖上受天刑，其政不減，是為歲中，忽有風熱之勝，痢疾之生，其鬼在肝，乙酉之年，木受天刑，然是歲火司於地，與木相得，忽於歲中反有風熱之作，方見下。</p>
<p>己卯、己酉年，土運不足，然木受天刑，必難相犯，忽於歲中風濕交爭，痢之所作，其鬼在脾，卯年宜有此候，酉年差減，若有此疾，治之亦同，辛卯、辛酉年，水運不足，反與土同化，而歲水不及，火化妄行，與土相持，勝熱客於胃，多下赤痢，忽作便血，土勝則溽火而注下赤白，是歲若有痢疾之生，一起於心，一起於脾，有方治之，具見於下。</p>
<p>甲辰、甲戌、丙辰、丙戌之年，寒濕過多，火氣見溽，庚運之年，清化亦甚，是歲運氣，與天水相生，與地土相得，以上年辰，痢疾之生，切為大害，不可妄投涼藥，戊辰、戊戌之年，水火相戰，壬辰、壬戌之年，土木相攻，所生之痢，其證自各不同，方具於下。</p>
<p>乙巳、乙亥之年，金運不足，無能與天相犯，乃與少徵同化，丁巳、丁亥之年，上為天符，木化之甚。</p>
<p>己巳、己亥之年，木能制土，脾將受邪，辛巳、辛亥之年，水運不足，與土化同，土木相攻，脾氣偏弱，癸巳、癸亥，不足之火，與天相得，與地相符，火致政不減，是痢疾所生，起在肝心，方並見下，以運言之，猶且未足，予請以六氣推之，子午年、丑未年、寅申年、四月、五月，火土相交，辰戌年，四月、五月，水火相犯，己亥年，四月、五月、木土相攻，卯酉年，四月、五月，金火相持，水若相救，邪乃犯心，子午年，六月、七月，土火相郁，卯酉年，六月、七月，水火相犯，辰戌年，六月、七月，土木相攻，己亥年，六月、七月，火土相持，以上年月，忽生痢疾，皆隨其月氣相攻而成也，善為醫者，先治其鬼，其病自愈，議者謂六氣推遷，於十二月中各紀一步，今獨舉四月、五月、六月、七月，兩氣，以言痢疾，何也。答曰，夏秋相交，火金相繼，土水二化，長遊行於其間，土寄於巳，所以生金，火位於申，所以制金，土生於申，所以傳金，水生於申，所以救金，然後夏秋有相承之理，五行六氣，玄妙從此而著，人之痢疾從此五行玄妙中生，是故聖人名之曰大奇之病，予故陳逐年四月、五月、六月、七月之氣候以言之，其餘他氣生痢，皆仿此而推，切以六氣之政化，見之未詳，予請以脈候明之。</p>
<p>若今人之下痢，服涼藥、暖藥，皆不驗，診其脈，脾一指外鼓而沉，此名腸澼，其候非藥力可治，久當自較，但世人有患不驗，纏綿經久，卻因亂吃一般物，便得安校，此乃正腸澼之候也，今有患痢，診其脈，肝脈一指小而緩，此病輕，治即愈，今有人患痢，診其脈，腎脈一指小而沉，所下之痢，皆是血痢，此之一病，受之非常，治之亦難，血溫身熱者死，方亦見下，今有人患痢，診其脈，肝心脈、脾脈，皆微細，不澀不絕，所下皆是血痢，藥到便安，今有人患痢，其脈微小，再三尋之，又沉而澀此之一候，若下白痢，其勢雖重，庶幾可治，若是下血，切忌發熱，通身發熱者死，熱見七日死，以上所陳，雖未足以達痢之淵源，亦足以明其粗跡議者謂，如子所言，自甲子至於癸亥，每六十年中，未嘗有一年不生痢疾，今世人患痢疾，於數年中間，忽止有一年，其故何也，答曰，六十年中，未嘗有一年無水土相攻，未嘗無土火相郁，未嘗無水火相犯，但五運之政，譬如權衡，一年間五行氣數更相承製，得其平等，則其疾自然不作，忽若一氣大過，一藏有餘，痢疾之生，應不旋踵，予故備陳其粗，以開後學之未悟，庶幾診療之間，無差悟之過者矣，但毒痢傷人不一，惟水邪犯心為重，世人初患痢時，先發寒熱，投藥治之，其勢不退，發熱太甚，食則嘔逆，下痢不止，心熱如火，只要入涼處，只思吃冷水，狂走，渾身肌肉疼痛，著手不得，此候，十難治其三四也，治疫痢方，須是子細首尾讀此方論令分明，識病根源然後吃藥，但毒痢初得時，先發寒熱，忽頭痛，忽壯熱，忽轉數行便下，赤白相雜，忽止下白痢，忽先下白痢，後變成赤痢，忽先下赤痢，後卻變成白痢，宜吃此方，但初下痢時，先發寒熱頭痛，即是寒邪犯心，寒氣犯心，水火相戰，故初得病先發寒熱，水火相犯，血變於中，所以多下赤痢，如紫草水，如莧菜水，無色澤者，寒邪犯心之重也，先發寒熱，而所下之痢止白色者，寒邪犯心之未重也，先下白痢，而後有赤痢之變者，寒邪犯心，其勢漸加也，先下赤痢，而後變成白痢者，寒邪犯心，其勢漸減也。赤白相等者，□水火相犯其氣相等，寒濕之氣相搏而成也，忽有赤少而白少，此寒邪之勢有多少，毒痢之病有輕重，以白多為輕，以赤多為重，治之之法，先奪其寒，則所下之藥一也，以太歲分之，則丙子、丙午、甲子、甲午、庚子、庚午、丙寅、丙申年、甲寅甲申年，庚寅、庚申並辰戌之年，運過丙申及庚運所臨，其害尤甚，及丑未之年，宜有此候，又更無問太歲，蓋天地變化，其候多端，難可窮盡，今立此方，但世人亦不必椿定太歲，但看一年中春夏之內，多有寒肅之化，陽光少見，忽寒熱二氣更相交爭，忽於夏月多寒濕之化，寒邪犯心，所受之痢，先發寒熱，忽頭痛忽先轉數行，後有赤痢，忽赤白相雜，忽止下白痢，並宜吃此通神散，吃後取壯熱減退，若兩三盞後，壯熱不退，更不吃此方，自別有論方在下。</p>
<p>麻黃（去根節）　官桂（去粗皮，各三分）　甘草（各一分，炙）　大芎白朮（各一兩）　細辛（八銖）　獨活　桔梗防風　芍藥　白芷（各半兩）　牡丹皮（去心）牽牛（四銖，炒）</p>
<p>上為細末，每服二錢，非時，熱湯調下，和滓熱吃，若吃三兩盞後，寒熱不退，更勿吃，自別有方論在下，若吃此藥後，寒熱已退，赤痢已消減，便修合第二、第三方藥，吃之取安校，若寒熱已退，赤痢未消減，更服三兩盞，然不可多吃，一日只兩盞，候赤痢消減，忽變成白痢，漸次修合第二方吃，候出後。</p>
<p>度數減少，便修合第三方，吃取平安也，但六甲之年，六庚之歲，春夏之內，時氣多寒，人得痢疾，此藥通神，若是六甲之年，丑未之歲，濕化偏多，人得痢疾，先發寒熱，即於方內添草豆蔻一兩修合也，又，不問太歲，但一年間，春夏之內多寒，人有痢疾，先發寒熱，並宜吃此方，治毒痢初得時，先發寒熱，吃前方，寒熱已退，赤痢已消減，宜進此方，還真散，若吃前方藥，寒熱未退，赤痢未消減，更勿進此藥，但天地變化，其候非常，痢疾證候多端，此不得不盡子細故爾。</p>
<p>訶子（五個，用麵裹，火炮熟，不要生，不要焦，得所去面，不使，就熱，咬訶子破，去核不用，只使皮焙乾。）</p>
<p>上細搗羅為末，每服二錢，以米湯一盞半，同藥煉取一盞吃，若吐出一兩口涎，便住，如此吃經數盞，大府漸安，出後減少，便修合第三方藥吃，以牢固大腸，若吃前方藥，壯熱未退，血痢未減，不請進此藥。</p>
<p>治疫毒痢，吃前兩方藥，病勢已減，所下之痢，止余些小，忽青糞，忽如鴨糞，忽如茶湯，如濁油，忽只餘些小淺深紅色，宜吃此方，以牢固大腸，還復真氣，舶上硫黃丸。</p>
<p>舶上硫黃（一兩，去沙石，細研，如飛塵。）</p>
<p>上以薏苡仁二兩，炒熟，搗為末，與舶上硫黃相和勻，滴水相和，丸如梧子大，空心，以米湯下五十丸。</p>
<p>治毒痢，初得時，先發寒熱，服前面毒痢方通神散三兩盞，一日，忽隔一夜，寒熱不退，下痢不減分數，通身發熱，所下之痢，多是濃涕，如桃花色，如紅米膠，每一次忽下一盞半盞已來。吃此藥二盞三盞，經一日，忽一夜，寒熱不退，下痢不減分數，更不進此藥，若依法進藥兩盞，壯熱便退，下痢少減分數，即請漸漸進此藥，每日只兩盞，候赤痢稍減，忽變成白痢，卻修合上面還真散，吃取平安，且痢之有寒熱，其證一也，前方以暖藥解之，此方以涼藥投之，其說何也。答曰，水邪犯心，身能發熱，土濕鬱火，身亦發熱，肝熱刑脾，身亦發熱，惟至精者，識其秋毫之變，切恐世人未能通其妙旨，予因設此兩方，以救其失，然毒痢之傷人，惟水邪犯心最為極重，但患痢疾之人，有增寒壯熱，先吃上面通神散兩三服，寒熱不退，下痢不止，然後進此藥，以太歲分之，惟六壬、六戊、寅申、巳亥之年，宜有此候，而六戊之年，尚有差變，蓋火盛之年，必有寒濕相犯，故然，以六氣推遷不定，又不可局定年辰，但一年之間，春夏之內，熱氣偏多，濕化不舉，人有痢疾，肝脈弦，心脈洪，然後吃此藥，若吃兩盞後，不見效驗，更勿進服，蓋痢之所起，切忌水之犯心，不可妄投涼藥，故此方兩盞後無驗，更不可服。</p>
<p>荊芥穗　牡丹皮（去心）　木香　白頭翁芍藥　桔梗　防風　獨活地榆（各一分）　黃連（蜜浸一宿，火上炙乾，使三分）　牽牛（炒，一分）</p>
<p>上為細末，每服二錢，水一盞，煎一二沸急瀉出，食後溫和吃之，此藥少見效驗，更可進服，以安為期，然不可多吃，一日只兩盞，痢才住，便得止。</p>
<p>治毒痢，初得時，發寒熱，微有小寒，熱忽止，腹痛，出後時，糞後有少膠涎，與赤痢相雜，卻自誤吃涼藥，漸漸下痢極多，從早至暮，但只思睡，早朝即顏色枯瘁，身體稍涼，近晚至夜即面色赤，顏色光潤，下痢極多，皆是清涎與赤痢相雜，通身發熱，不思飲食，渾身肌肉著床則痛。據此候，宜當吃此藥，但身體大熱如火，與人相近，則熱氣逼人，其脈輕微，輕手取之，散滿指下，不分部位，全無骨力，指下如風如氣，重手取之，指下全無，急用訶子五個炮製如下面法，掏羅為末，為一服先用熱米湯調，和滓熱服，吐出涎，脈氣方生可進下面方</p>
<p>白朮（半兩）　白芷　芍藥　大芎（各一分）　甘草（四銖，炙）　訶子（五個，麵裹炮熟，去面，咬碎，去核用肉，焙乾。）</p>
<p>上細搗羅為末，每服三錢，熱陳米湯調下和滓吃。</p>
<p>治毒痢初得病時，並無寒熱，所下之痢，全是濃血，忽黯血，左右三部脈氣，皆微細，宜吃此方。</p>
<p>桑寄生（一兩）　防風　芎藭（各一分）　甘草（四銖，炙）　</p>
<p>上搗羅為細末，每服二錢，水一盞，煎八分，空心和滓吃。</p>
<p>治赤白痢，初得時，並無寒熱，忽患赤白痢，經久未較，別無增寒壯熱，宜此方。</p>
<p>淡豉（十個）　黃連（四十九枚，每枚長一粒飯許）</p>
<p>上件，用新垍瓶一個，安藥在內，以新片瓦蓋瓶口，大火煅通赤後，煙絕取出，就熱，研如飛塵，每服二錢，熱鹽米湯調下，和滓服，應是赤白痢，無問赤多白少，但身體無增寒壯熱者，皆可吃此方。</p>
<p>治赤痢，或赤白相雜，初得時，並無增寒壯熱，經及數日，身體不熱，只聞小腹內躁熱，下血不止，或止血便暖藥不見驗效，宜服此方，寅申、己亥年，六壬之年，宜有此候，但吃兩盞後不見效，更不請吃此藥，但唇皮赤，忽腫，黯色，小便黃白，身體涼，夜間則發熱，如此，即肝熱刑脾之證也。</p>
<p>荊芥穗　牡丹皮（去心）　白頭翁　地榆芍藥　防風　桔梗（各一分）　黃連（一分）牽牛（炒熟，三銖）　木香（三銖）</p>
<p>上搗羅為細末，每服二錢，水一盞，煎兩沸，食後，和滓溫服。須是一年之間，春夏之內，風熱太甚，分明識其痢疾，定是伏熱，方可進此藥。</p>
<p>治下赤痢，身體並無增寒壯熱，此名肝心變澼。</p>
<p>黃連（一兩，蜜浸一宿，炙令香熟）　木香（三銖）</p>
<p>上為細末，濃煎，陳米湯調下二錢，食後，和滓服。</p>
<p>治赤痢不止，其脈反微小沉而又澀，其身熱者死，熱七日死，此候極危困，但吃上面通神散一兩盞，發熱便退，亦庶幾可治，便修合上面還真散，舶上黃丸，吃取安校，若吃通神散後，發熱不退，難治之也。</p>
<p>治患赤痢赤白，忽因先寒瘧，後變成痢，忽因患痢後，卻變成寒瘧，但疾痢時，無問赤白，若有增寒壯熱，並宜吃上面通神散，吃了，熱壯已退，便修合還真散，舶上黃丸，吃取安校，緣此證候，乃水邪犯心，治之不可輕也。</p>
<p>桑寄生（半兩）　地榆　芎藭　防風（各一兩）人參　黃橘皮（各一兩）　甘草（炙）　木香（各三銖）白蒺藜（半兩，炒去尖）</p>
<p>上為細末，每服二錢，水一盞，煎取八分，和滓熱服，經數日外，仍修合暖益脾藥吃。</p>
<p>治小兒疳痢，所下之痢，多黃沫白涕，但發稀面黃腹大，忽非時泄瀉，不成肌肉，宜吃此方。</p>
<p>使君子（半兩，蒸三度）　訶子（一兩，麵裹炮，去核使肉）　白蕪荑　萆薢芎藭　檳榔　肉豆蔻　木香（各一分）</p>
<p>上為末，每服一錢半，空心，倉米湯調下，量兒大小服之。</p>
<p>治小兒肝受疳氣，相刑于脾，所下之痢，多是鮮血，忽是膿血，忽赤白相雜，宜此方。</p>
<p>防風　地榆　芎藭　白蒺藜（去刺，各一分）使君子（半兩，蒸四五回，焙）　木香　甘草（各三銖，炙）　黃連（四銖，二十四銖為一兩）</p>
<p>上為細末，每服一錢半，非時或食後任意，煎點冷吃。　治痰嗽，益真丸。</p>
<p>人參　黃耆　吳白朮（各半兩）　木香（一分）熟乾地黃（六錢）　鱉甲（四錢）　當歸（去苗）　白芍藥白茯苓　阿膠（炒成珠子）　鹿角霜（各三錢）　桑寄生（二錢）枳實（一錢，炒）</p>
<p>上為細末，煉蜜丸如梧子大，非時，清湯下三十丸，一日兩服。</p>
<p>治氣弱腹結。</p>
<p>白朮（半兩）　人參（一錢）　大芎　甘草（炙）藿香　半夏　陳橘皮（各一分）　茯苓（三分）草豆蔻（各一分）　薏苡仁（半兩）　厚朴（三錢，酥塗炙焦）　天南星（二錢，炮）</p>
<p>上為細末，空心，水一盞，姜三片，棗二個，破之，同煎七分，去滓服。</p>
<p>治心氣動，肝脈虧。</p>
<p>桑寄生（一分）　茯苓　防風　獨活甘草（炙）　槐角　枳實（各一分，炒）　木香（一錢）白蒺藜（炒去刺）　人參（各半兩）　白朮（七錢，以性涼續添）</p>
<p>上為細末，每服三錢，水一盞，磨沉香少許，煎七分。</p>
<p>治精血皆虛，鹿茸丸。</p>
<p>血茸（半兩，用酥微炙）　五味子　山藥（各一兩，以上三件為末）　青鹽（三錢，令研）</p>
<p>上煉蜜和作一塊，收瓷閤中，臨時丸，每服三十丸，食前溫酒下。</p>
<p>治肝腎氣虛，外應目不榮，宜服此足精丸。</p>
<p>好熟乾地黃（須是蒸九遍，用酒製造者）　當歸（去苗）　白芍藥　人參　山藥（各半兩）　茄茸（酥炙，去皮，七錢）　五味子（六錢）川椒（去目，一錢半）　青木香　獨活　甘菊（各三錢）白蒺藜　杜仲（去皮，酥炙）　菟絲子（酒浸一宿）　黃耆（各半兩）大芎　肉蓯蓉（各四銖）</p>
<p>上為細末，煉蜜丸如梧子大，空心，濃煎，糯米湯入鹽少許，下五十丸。</p>
<p>又服洗肝散。</p>
<p>天麻（半兩，酒浸一宿，濕紙裹煨）　白殭蠶（去口，去絲）　天南星（炮，各一分）　芎藭　（二錢）　黃耆　薏苡仁　白芍藥（各半兩）　白蒺藜　（去刺，四分）甘菊　甘草（炙）　人參（各三分）　木香（一錢半）沉香（煎時磨少許）</p>
<p>上為細末，水一盞，薄荷二葉，磨沉香少許，同煎藥之時，取七分，去滓服，日進二三服，每服二錢。</p>
<p>補心氣人參散。</p>
<p>人參（七錢）　伏神　山藥（各半兩）　白芍藥黃耆　熟乾地黃（各一分）　防風（一分半）　甘草（一分，炙）官桂（去皮，一分半）　天南星（炮過，二分）</p>
<p>上為細末，每服二錢，水一盞，生薑棗少許，煎七分。</p>
<p>司業六脈滿而不實，寸口倍於人迎尺脈。</p>
<p>血濁而氣浮，宜清血，抑肺氣，如此，即隔通而氣歸於下，不可服燥烈之藥，第一方。</p>
<p>人參（七錢，好者）　陳橘皮（去白，一分半）　白茯苓　麥門冬（去心，三錢）桔梗　紫菀　防風（各一分）　黃耆前胡　白芍藥（各一分）　木香（一分半）　白蒺藜（去刺）桑白皮（各半兩）　甘草（二錢，炙）　大腹皮（半個）</p>
<p>上為細末，每服三錢，非時或食後少時，水一盞，磨沉香少許，生薑一片，同煎八分，初服三四服，覺膈快，便不須服，卻只常服丸子，候三兩日間，覺似壅，即進一服，此散子不常服。</p>
<p>又方。</p>
<p>天麻（麵裹炮）　肉蓯蓉（酒浸一宿）　熟乾地黃（好者）　菟絲子（酒浸一宿）山藥　柏子仁（各半兩）　萆薢　茯苓白芍藥　（各半兩）　牛膝（去頭，四分）　人參（七錢）　枳實（一分，麵炒過）木香（一錢半）</p>
<p>上為細末，搗薏苡仁為粉，煮作稀糊，丸如梧子大，陰乾，每日空心，濃煎，糯米湯入鹽，下五十丸，治小兒腹中有氣不散，而臟腑微澀，夜有盜汗。</p>
<p>使君子（三錢）　京三稜　萆薢　白茯苓鱉甲　人參（各一分）　黃耆（一錢）　獨活（二分）肉豆蔻（二個）　木香（一錢半）　甘草（二錢）</p>
<p>上為細末，非時，水半盞，煎二錢，煉取三分，去滓服，覺氣散，則已之，不可多服。</p>
<p>治小兒瀉，本因傷水。</p>
<p>訶子　白朮　白芍藥（各一分）　甘草（炙）蒺藜　獨活　厚朴（去皮，各二分）　黃連（半分，炒）肉豆蔻（一枚）</p>
<p>上為粗末，煎一錢許，去滓服，水七分，煎至半盞。</p>
<p>久便血。</p>
<p>黃連（一錢，炒半焦）　白蒺藜（去刺，半兩）　槐花（炒焦）　獨活訶子（炮取肉）　枳實（炒焦）　荊芥穗　蔓荊子（各一分）木香（一錢半）　白芍藥（三分）　甘草（二錢，炙）</p>
<p>上為細末，食後，水一盞，煎三錢匕，取七分，和滓服，或煉蜜丸如梧子大，清湯下三四十丸，無時日，一服或二服。</p>
<p>治小兒急慢驚風。</p>
<p>人參（半兩，好者）　天麻（炮）　天南星（炮）　黃耆　芎藭　（各二錢）　薏苡仁　獨活　伏神　蔓荊子（各一分）　鱉甲（酥炙黑）　木香（各一分半）　甘草（一分）　半夏（薑製，一錢半）　乾蠍（四個，全者，用糯米同炒，米熟為度）　麝香（同硃砂研）　硃砂（令兩臨脈旋入少許。）</p>
<p>上為細末如飛塵，入硃砂麝香少許，每服二錢，同煎三四沸，與三匙頭，如更發數，即添麻黃一味，並煎服，不入麻黃如大府冷，即添白朮末一二豆粒許，同煎，小兒藥、宜服細末，取其氣液之全，唯是止瀉痢，乃作丸耳。</p>
<p>治血滯精虛，肛門癢痛成痔。</p>
<p>白蘞　黃耆（炙各半兩）　槐花（微炒）　茯苓白芍藥　甘草（炙）　當歸（去苗，各一分）　南木香（錢半）枳實（炒焦，錢半）　白蒺藜（三錢）</p>
<p>上為粗末，非時，水一盞，煎三四錢匕，取八分，去滓服，每日空心，先服鹿茸青鹽丸，方在前。卻日進三四服，以去痔根，初服只一二服，俟服青鹽丸及旬日，自然可載此藥，後續進兩三服，二藥相兼而進，久可以去其根本，下血日多，即令人心忪，無情緒，意思不悅，宜戒酒，慎護，病雖已止，宜服此二藥。</p>
<p>服藥若痔根已安，藏血未止，即更服後方。</p>
<p>新活鯽魚一個（重四五兩以上者，去腸，不去鱗。）　白礬（三兩，微敲研）　槐花（半兩）　蒲黃（一分）</p>
<p>上兌合，同納於魚腹中，納藥了，以線系之，入一垍閤中，外以鹽泥固濟干，十斤炭蔟之，火盡取出，細研如塵，蒸餅丸如梧子大，非時，米湯下二三十丸，一日一兩服。</p>
<p>少陽相火之復與水爭戰，耳痛方。</p>
<p>官桂（去皮，三錢）　白芍藥　白茯苓　桔梗防風　甘草（炙）　羌活　麻黃（去節）麥門冬（去心，各一分）　黃耆（半兩）　山茵陳（二錢）</p>
<p>上為粗末，每服三錢，水一盞，生薑兩片，煎至七分，去滓服，日三，如不痛，更不消服，只進補腎藥，小兒藏寒。</p>
<p>泄瀉不止，豆蔻丸。</p>
<p>草豆蔻（一枚，剝開皮，入乳香一塊在內，復用和白麵裹，慢火燒令熟，去面及豆蔻皮，不用。）</p>
<p>上為細末，以粟米飲丸如麻子大，每服五七丸，米飲下，無時。</p>
<p>治婦人骨蒸方</p>
<p>桑白皮　黃耆　薏苡仁（各半兩）　茵芋　紫蘇葉　茯苓　甘草（各一分，炙）　官桂（去皮，二分）大腹皮（一錢半）　陳橘皮（三錢）</p>
<p>上為細末，每服四錢，水一盞，姜三片，煎八分服之，三四日，卻服後方。</p>
<p>微利不妨，如腳未消，即間用豆湯服一服。</p>
<p>又方</p>
<p>牛膝（去頭，酒浸一宿）　當歸（去苗）　茯苓　熟乾地黃薏苡仁　黃耆　巴戟（去心，各半兩）　柏子仁鱉甲（酥炙）　芎藭（各一分）　桑螵蛸（三分）</p>
<p>上細末，煉蜜丸如梧子大，空心，鹽湯下五十丸。</p>
<p>小兒泄，厚腹丸。</p>
<p>地榆　天麻　芎藭　赤石脂（各一分）訶子皮　削術（各三分）　厚朴（去皮，一分，姜炙）　木香（半分）</p>
<p>上為細末，棗肉為丸，非時服三十丸。</p>
<p>治久瀉方</p>
<p>白朮（半兩）　白芍藥（半兩）　桔梗（一分）　白芷（半兩）</p>
<p>上為細末，以豬肝四兩片切，如食法，入少鹽和之，不用油，用藥先和一半於銚內，先爆過，次用木炭火上炙乾，再傳末作兩三次食之，止泄最妙。</p>
<p>又方新制</p>
<p>人參（一兩）　黃耆　薏苡仁　糯米末阿膠（炒）　木香　茯苓　半夏（如法制）甘草（炙）　鱉甲（酥炙，各一分）　白朮（半兩）　肉豆蔻（大者兩個）</p>
<p>上為細末，不羅，非時，以水一盞，生薑一片，棗子一個，破之，同煎三錢，取七分服，去滓服，至十來服，或七八服，覺血淡，或微有些小腹痛，每服加白朮少許，及烏梅肉半個煎，但血旋止，和胃藥，藥未可全去，只桔梗，枳實二味，以白蒺藜代之。</p>
<p>痢稍止未全減臟腑忽下血猶未止，卻服此方。</p>
<p>黃耆（輕炙）　白蒺藜（去刺，各半兩）　白蘞　茯苓槐花（微炒）　獨活（各一分）　訶子皮（四錢）　木香（一分）　黃連（燒焦，二錢）</p>
<p>上為末，煉蜜丸如梧子大，非時，清湯下二十丸至三十丸，米湯亦得。</p>
<p>又方</p>
<p>訶子（炮令大熟）　山藥　人參　白朮（各半兩）熟乾地黃（一兩半，地黃最能補而去肝風，但通腸於利藥中，使非訶子，不能為功。）木香（一分）　桑寄生（一分）</p>
<p>上為末，煉蜜丸如梧子大，空心，米湯下三十丸，常服以去痔疾，又能足血。</p>
<p>進飲食、香術丸。</p>
<p>白朮（一兩，炒）　丁香（一錢半）　半夏　木香（炮）蓬莪朮（各一分）　防風　麥櫱（炒）　神麯（炒，各半兩）茯苓（半兩）　甘草（炙，一分。）</p>
<p>上為末，水麵糊丸如梧子大，每朝米湯下三十丸，食後服。</p>

<h1>附錄一</h1>
<p><u>黃丕烈跋</u></p>
<p>向聞白堤錢聽然云，北宋時有名醫，因治蔡京腸秘之症只用紫菀一味，其病遂愈，醫者由是知名，其人蓋史載之也。後余友顧千里遊杭州過石塚嚴久能於湖上，出各種古書相質，歸為余言，中有史載之方二卷，真北宋精槧，余心嚮往之久矣。客歲錢唐何夢華從嚴氏買得，今夏轉歸於余，余檢其方，果有大府秘一門用紫菀者，始信錢丈之言為不謬，特未知用而見效之說，出何書耳，至於版刻之為北宋，確然可信，字畫斬方，神氣肅穆，在宋槧中不多覯，其避諱若炅字，尤他刻所罕，千里豔稱於前，夢華作合於後，余於此書，可云奇遇，余喜讀未見書，若此書各家書目所未收，惟宋史新編有云史戰之方二卷，戰者以載字形近而譌，無可疑者，余重其書之秘，出白金三十兩易得，重加裝潢，遇上方切去原紙處，悉以宋紙補之，尾葉原填闕字，亦以宋紙易去，命工仍錄其文，想前人必非無知妄作者也，上下卷通計一百單七翻，合裝潢費核之，几几乎白金三星一葉矣。余之惜書而不惜錢，其真佞宋耶，誠不失為書魔云爾。</p>
<p><u>嘉慶丙寅立冬後一日蕘翁黃丕烈識於百宋一胋</u></p>

<h1>附錄二</h1>
<p><u>王振聲跋</u></p>
<p>此書自郡齋讀書志已下，皆未著錄，郡中黃復翁得之石塚嚴氏，此即從之過錄者也，載之名不甚著，其始末無考，惟據復翁跋稱，宋稗類鈔載，眉州朱師古得異疾，趨郡謁史載之，宋時眉州屬成都府，是載之為成都人也。書錄解題指南方二卷，蜀人史載之撰，卷數雖同，書名則異，不知即此書以否，然稱為蜀人，與宋稗類鈔合，其非二人可知，是載之名堪也，而阮文達提要謂，字裡未詳，蓋誤仞載之為名矣，北窗炙輠錄載，載之療蔡元長疾，元長熙寧三年進士，靖康中貶死，是載之為神宗後人也。其大略可見者如此，按載之療元長大腸秘固，市紫菀以進，須臾遂通，此書大府秘門，正有用紫菀一方，而師古異疾，載之名為食掛，謂出素問，製藥服之，三日頓愈，宋稗類鈔不言所用何藥，此書亦無食掛方論，蓋載之所著，當不止此，或在解題所稱指南方中，而此書非即指南方，又可想見也，書中炅戌驚微等皆為字不成，而完丸等不避欽宗嫌名，蓋刻於靖康以前，後翁定為北宋精槧不誣也。</p>
<p><u>咸豐戊午季春既望文邨王振聲書於鐵琴銅劍樓。</u></p>
