<header data-type="book">
<h1>慈幼便覽</h1>
</header>

<h1>小兒簡要辨證</h1>
<p>小兒熱證有七：面腮紅、大便秘、小便黃、渴不止、上氣急、足心熱、眼紅赤，此皆實熱證，忌用溫補。</p>
<p>小兒寒證有七：面㿠白、糞青白、肚虛脹喜按、眼珠青、吐瀉無熱、足脛冷、睡露睛，此皆虛寒，忌用寒涼。</p>

<h1>節錄夏禹鑄望苗竅訣</h1>
<p>舌乃心之苗。紅紫，心熱也；腫黑，心火極也；淡白，虛也。鼻準與牙床，乃脾之竅。鼻紅燥，脾熱也；慘黃，敗也。牙床紅腫，熱也；破爛，胃火也。唇乃脾之竅。紅紫，熱也；淡白，虛也；黑者，脾將絕也。口右扯，肝風也；左扯，脾之痰也。鼻孔肺之竅。乾燥，熱也；流清涕，寒也。耳與齒，乃腎之竅。耳鳴，氣不和也；耳流膿，腎熱也；齒如黃豆，腎氣絕也。目乃肝之竅。斜視而睛轉者，風也；直視而睛不轉者，肝氣將絕也。以目分言之，又屬五臟之竅。黑珠屬肝，純是黃白，凶證也。白珠屬肺，色青，肝風侮肺也；淡黃色，腑有積滯也；老黃色，乃肺受濕熱也。瞳仁屬腎，無光彩又兼發黃，腎氣虛也。大角屬大腸，破爛，肺有風也；小角屬小腸，破爛，心有熱也。上胞屬脾，腫則脾傷也；下胞屬胃，青色胃有風也。睡而露睛者，脾胃虛極也。面有五位，五臟各有所屬。額屬心，離火也；左腮屬肝，震木也；右腮屬肺，兌金也；口下屬腎，坎水也；鼻準屬脾，坤土也。五臟里也，六腑表也。小腸，心之表，小便黃短澀痛，心熱也；清長而利，心虛也。胃乃脾之表，唇紅而吐，胃熱也；唇慘白而吐，胃虛也；唇色平常而吐，作傷胃論。大腸肺之表，閉結，肺有火也；肺無熱而便閉，血枯也，不可攻下；脫肛，肺虛。膽乃肝之表，口苦，膽火也；聞聲作驚，肝虛也。膀胱腎之表，筋腫筋痛，腎之寒氣入膀胱也。面有五色，紅病在心，面紅者熱；青病在肝，面青者痛；黃病在脾，面黃者脾傷；白病在肺，面白者中寒；黑病在腎，面黑而無潤色者，腎氣敗也。望其色，若異於平日，而苗竅之色，與面色不相符，則臟腑虛實，無有不驗者矣。</p>

<h1>驗虎口法</h1>
<p>小兒三歲以下有病，須看男左女右手叉處，名虎口。從第二指節側看，第一節名風關，第二節名氣關，第三節名命關。辨其紋色紫者屬熱，紅者屬寒，淡紅隱隱者屬虛寒，青者驚搐，黑者中惡，白者疳病，黃者脾之困。若現於風關為輕，氣關為重，過於命關則難治矣。</p>

<h2>手指脈紋形</h2>
<figure>
<img alt="魚刺形">
</figure>
<p>魚刺形，主驚搐痰熱。</p>
<figure>
<img alt="懸針形">
</figure>
<p>懸針形，主傷風泄瀉積熱。</p>
<figure>
<img alt="水形">
</figure>
<p>水形，主食積客熱驚疳。</p>
<figure>
<img alt="乙字形">
</figure>
<p>乙字形，主肝病驚搐。</p>
<figure>
<img alt="蟲紋形">
</figure>
<p>蟲紋形，主肝蟲大腸氣積。</p>
<figure>
<img alt="環形">
</figure>
<p>環形，主疳積肚痛。</p>
<figure>
<img alt="亂紋形">
</figure>
<p>亂紋形，主蟲。</p>
<figure>
<img alt="珠形">
</figure>
<p>珠形，主無生理。</p>

<h2>虎口三關</h2>
<p>三歲後，以一指按三部，六七至為平脈，四五至為寒，九十至為熱。脈弦急為氣不和，沉緩為傷食，促結為虛驚，浮為風，沉細為寒，脈亂者不治。</p>

<h1>初生</h1>

<h2>初生聲不出</h2>
<p>小兒初生，或不能出聲，謂之夢生。多不知救，深為可憐。切勿剪斷臍帶，速用明火，將胞衣炙暖，使暖氣入兒腹，更以熱湯蕩洗臍帶。即取貓一隻，以布袋套其頭足，使伶俐婦人，拿住貓頭，向兒耳邊，以口齧貓耳，貓必大叫一聲，兒即醒而開聲，方可燒斷臍帶。又有因難產，或冒風寒，舉之遲緩，兒氣欲絕，不能啼，或已僵死者，切勿剪斷臍帶，急用衣棉裹兒，再用粗紙作捻，蘸菜油點火，將臍帶燒斷，須燒紙捻數十根，令暖氣入腹，無不活者。更令父母之真氣，呵而接之。又悶臍生者，兒糞門有一膜，悶住兒氣，故不能出聲，拍之則膜破而叫矣。又有用輕巧婦人，以銀簪輕輕挑破，為甚便當。或不能挑，急以暖衣包緊，勿令散放，以熱水浸其胞衣，寒天則以火炙之，久則熱氣入腹，而氣內鼓其膜自破，聲自出。</p>

<h2>初生無皮</h2>
<p>初生遍身無皮，俱是紅肉，急以早米粉干撲之，候其皮全生則止。或用東向陳壁土，研細末摻之，亦能生皮。</p>
<p>初生遍身如魚脬，或似水晶，破則水流又生，以密陀僧研細末摻之。又以蘇合丸一個，煎化，與乳母日服自愈。初產婦勿輕服蘇合丸。</p>

<h2>初生腎縮</h2>
<p>初生腎縮，乃受寒所致，用硫黃、吳萸各三錢，研極細末，搗取蔥汁，調藥末，塗臍腹。另以蛇床子燒煙燻之即伸。</p>

<h2>初生無穀道</h2>
<p>無穀道者，乃肺熱閉於肛門，急以金銀簪或五簪，看其端的刺穿之。或以火針刺穿，但不可深入，隨以油紙捻套住，免其再合。</p>

<h2>初生不吮乳</h2>
<p>初生不吮乳，用黑豆十九粒，茅草根七節，每節長寸許，赤金器一件，紋銀器一件，用人乳一杯，煎至五分，服完即能食乳。</p>

<h2>初生不乳</h2>
<p>初生不乳，或如剪刀股裹緊，吃乳不下，用大獨頭蒜切薄片，貼在兩腮，以艾灸之，如哭即好，否則無救。</p>

<h2>初生不尿</h2>
<p>初生不尿，以蔥白一根，切碎，人乳半杯同煎，去蔥白，取乳分作四次服，即尿。不吮乳者，服此即吮乳。</p>

<h2>初生大小便不通</h2>
<p>大小便不通，急令婦人以熱水漱口，吸吮小兒前後心及臍下，數次即通。</p>

<h2>三朝浴兒</h2>
<p>取桑、槐、榆、柳、桃嫩枝，各二三十段，煎湯，候溫浴兒，可免瘡疥，又可辟惡邪。</p>

<h2>小兒目閉</h2>
<p>目閉或出血腫，以甘草蘸豬膽汁炙之，研極細末，乳調服。又方，桑葉、白菊花各一錢，煎湯，以青綢拭洗之。</p>

<h2>小兒夜啼</h2>
<p>有脾寒者，按其腹則啼止，起手又啼，面青手冷，不吮乳，用肉桂、小茴各五分，當歸、炮姜各一錢。夜啼，用燈花五個，研末搽乳頭上，令小兒吮之即愈。若無燈花，以燈草燒灰略加水飛辰砂少許，塗乳令吮亦妙。又方，用牽牛子研極細末，一錢，敷臍上即止。又方，雞糞塗兒臍上，男雌女雄。又方，用五倍子研末，口中津唾調作餅子，貼肚臍以帶系之效。又方，蟬殼十四個，去翅足，用下半截，焙乾，入硃砂八釐，共研細末，蜜調塗母乳頭上，令兒吮之，納兒口中亦可。又方，治口熱而赤夜啼，青黛研篩過，每用二分，燈芯十根煎湯調服。又，用其父母指甲二釐，燒灰，綠蔥頭二錢，煎水服效。</p>
<p><u>導赤散</u>　治心經有熱，面紅口赤，一切煩啼不安，及小便不通，皆效。</p>
<p>生地（二錢）　木通（錢半）　黃芩（一錢）　生粉草（五分）　淡竹葉（十四片）　燈芯（十根）</p>

<h2>吐乳</h2>
<p>用白蔻去殼、砂仁去殼，各十四粒，甘草四錢，生炙各半，共為極細末，常摻入兒口中即止。</p>

<h2>舌瘡飲乳不得</h2>
<p>白礬和雞子置醋中，搽兒足底自愈。</p>

<h2>臍內潰爛出水</h2>
<p>赤石脂三錢，煅研細末，分三次搽之。又方：蠍子燒灰、枯礬各三錢，同研末，每用一錢，搽之。</p>

<h2>月內胎驚</h2>
<p>母豬乳調水飛硃砂末，再用豬乳少許抹兒口。</p>

<h2>小兒瘧疾</h2>
<p>赭石二錢，醋煅，硃砂五分，砒霜二分，共為末，以紙包七重，打濕煨乾，入麝香一分，再研細，麻油調塗鼻尖上及眉心、四肢，神驗。余見後瘧疾。</p>

<h2>治小兒吐瀉</h2>
<p><u>燒針丸</u>　黃丹水飛、硃砂水飛，和丸黃豆大，每用三四丸，插針尖上，燈火燒紅存性，研末，用涼米泔水調服。瀉者食前服，吐者不拘時服。外用雞蛋清調真綠豆粉作膏，吐者貼兩足心，瀉者貼囟門，甚效。余見後泄瀉。</p>

<h1>調護</h1>
<p>初生未啼時，挖去口中汙血，以棉裹指蘸甘草湯拭淨口中涎沫。然後看面色，若身面俱紅、口唇紫赤，知其必有胎毒，俟四五個時後，用熟大黃一錢、金銀花甘草各一錢，蒸湯一杯，用帛裹指，蘸湯洗口，並服數茶匙，如此數次至次日，將對周時，胎糞下盡，方可飲乳。每日用淡鹽茶，以帛蘸洗其口四五次，去其苔涎，可免馬牙、鵝口、重舌、木舌之疾。如初生面唇淡瑩，只用銀花甘草湯洗口，並服數次。每日惟以淡薑湯洗一二次足矣。小兒神氣未定，毋犯暴寒暴風暴熱，毋聽暴響，毋見異物，毋輕服藥。凡有微疾，但合乳母，戒油膩葷酒，能得乳汁清和，一二日間自愈。一歲以內只飲乳，一歲以外，先食米粉，後食粥及爛飯，勿過飽，食後勿輕乳，乳後勿遽食，葷菜宜遲用，生硬之物毋遽投。</p>

<h1>臍風</h1>
<p>剪臍之法，已詳達生編。然或剪臍帶太短，或結束不緊，或浴兒牽動臍帶客風乘虛而入，皆能致此。其症有五，兒喜啼叫者，心病；手足微搐者，肝病；唇青白縮、痰涎壅塞者，脾病；牙關緊急者，腎病；啼哭不止者，肺病。五臟之症，略見一二者，猶可治，全見則不能治矣。</p>

<h2>臍風有內外因</h2>
<p>內因者，稟受父母所致，病發於六七日之間，難治。外因者，病生於六腑，發於二三四五日之間，可治。但看小兒不時噴嚏，更多啼哭，吮乳口松，是臍風將發之候也，急宜治之。其治法及滿身燈火，俱詳《幼幼集成》。</p>

<h2>臍風症候有三</h2>
<p>一曰臍風：由斷臍後，為水濕風寒所乘入於臍，而流於心脾，令胸腹脹滿，吮乳口松，多啼不乳，此初起之時，即看小兒臍上定有隱起青筋一條，自臍至腹，或開兩叉，上指心口，若此筋已至心口，則十難活二三矣。須早看此筋未至心口，時用香油燈草火，在此青筋頭上灸三次。有兩叉，則向兩叉處各灸三次，即時縮下寸許，再從縮下筋頭上灸三次，臍上灸三次，筋消則病愈，灸屢驗。</p>
<p>一曰噤口：其症眼閉口噤，啼聲漸小，舌上聚肉如粟米狀，吮乳不得，口吐白沫，小便不通，遇此先看其上齶有點子，或齒根邊生白點，即用針挑破，或以指甲刮破出膿血，用薄荷煎湯，磨京墨調勻，以指攪過，再以產母亂髮蘸墨，滿口搽之。另用青布蘸溫水展口即效。如未愈，用紫蘇、前胡、殭蠶各八分，水煎，俟溫以帛裹指蘸拭兒口，並用棉蘸藥滴口中，頻滴數次，以開口為度，口開後切勿即合飲乳。並細看臍上如有青筋，照前法急燒之。又方，用完全生蔥二根，搗爛取汁，用直殭蠶三個，去嘴，炒去絲，研極細末，以蔥汁調勻，塗母乳頭上，閤兒吮之，或灌兒口內亦效。又方，治臍風撮口，以艾葉燒灰填臍上，以帛縛之。若臍帶已落，用蒜切薄片貼臍上，以艾灰灸之，候口中有艾氣，立愈。又方，烏梅一個，煎湯灌之。撮口臍風，面黃色，氣喘聲不出，唇青舌強，聚口發噤，用直殭蠶二枚，去嘴略炒，為細末，蜜調納兒口中。小兒十日內，口噤不吮乳，取大蜘蛛一個，去足炙焦，研末，入豬乳一小杯和勻，分作三次，徐徐灌之，神效無比。又方，生甘草一錢，水煎濃，以綿球蘸吮含，出痰涎後，以豬乳點入口中即瘥。</p>
<p>一曰鎖肚：由肚中熱毒壅盛，結於肛門，大便不通，急令婦人吮兒之前後心並臍下及手足心共七處，凡四五次。如再不通，以中樣蔥白約三四寸長，用麻油抹潤，輕透穀道，納入二寸許，約片時取出。另用蔥白蘸麻油納之，以通為度。</p>
<p>以上治法，俱就《集驗簡便方》錄之，余詳《幼幼集成》。</p>

<h2>小兒臍不幹</h2>
<p>棉花籽燒灰，每用一錢，敷之效。又方：龍骨煅二錢、枯白礬一錢、輕粉八分，共研末，搽數次，效。臍腫出汁，用枯礬末或黃柏末敷之，俱效。</p>

<h2>小兒臍瘡</h2>
<p>馬齒莧燒研末敷之效。一方，用大紅洋絨燒灰為敷之效。亦治臍不幹。</p>

<h2>小兒臍瘡出血及膿</h2>
<p>海螵蛸（去甲）、胭脂，共為細末，以油潤瘡，乃搽藥，效。又方：白石脂研末敷之愈，如尚未愈，再以末微炒過，候冷敷之，仍不可揭去前藥，必愈。</p>

<h2>小兒臍口腫突</h2>
<p>紅飯豆、淡豆豉、天南星、鮮白蘞各一錢，共為末，用芭蕉搗自然汁加香油少許，調藥敷臍上四旁，得小便自下即愈。</p>

<h2>小兒臍氣痛啼哭無時</h2>
<p>陳皮、甘草、烏藥（鹽水炒）、生白芍、小茴香（鹽水炒）、鉤藤各三分，青皮（酒炒）一分半，水一盅，煎成半盅，作數次服即愈。</p>
<p>《集成》有全身燈火治臍風、撮口等症甚好，然非平日精熟者不能。茲將夏禹鑄臍風燈火圖開後，按穴灸之亦效。</p>

<h2>臍風燈火灸穴</h2>
<p>臍輪周圍六燋，若臍帶未落，於帶口一燋，既落於落處一燋。</p>
<p>少商，大指甲內側離肉一韭葉許，左右各一燋。</p>
<p>囟門一燋，眉心一燋，人中一燋，承漿一燋。</p>
<p>共十三燋。</p>

<h1>乳子未半歲服藥法</h1>
<p>凡乳子未半歲，服藥須濃煎，每次只能量服四五匙或七八匙。半歲至周歲量，每次以半杯為止。其餘須令乳母忌油，飯後擠去宿乳，服藥一碗，仰臥片時，令兒吮其乳汁為要。</p>

<h1>驚風闢妄</h1>
<p>陳飛霞《幼幼集成》一書論之甚詳，而以「搐」字易「驚」字，標出誤搐、類搐、非搐三條，可使習驚風之說者廢然自返。而又俾從書中所載病因證治，循途守轍，庶幾動無不宜，投無不當。俾天下幼孩無夭札之患，凡業幼科者，所當奉為圭臬也。茲僅節錄數十條，以略備不業醫者隨時採擇焉。凡小兒發搐，只可扶持，不可把捉令其自定，方免拘攣之患。</p>

<h2>一曰誤搐</h2>
<p>即傷寒病痙也，頸項強，背反張，目上視，屬太陽。低頭下視，口噤不語，手足牽引，肘膝相勾，屬陽明。眼目或左而斜，手足或左或右而搐，屬少陽，此是三陽表症。有汗者當解肌，無汗者當發散。不得妄以驚風名之，更不得妄投鎮墜之藥，阻其經絡也。</p>
<p><u>桂枝葛根湯</u>　治傷風項背強，身熱自汗，為柔痙。此邪在太陽，仍兼陽明。</p>
<p>嫩桂枝（一錢）　白芍（錢半）　粉葛（錢半）　老生薑　炙草（各一錢）</p>
<p>水煎熱服，仍欲微似有汗，則風邪自出，汗孔自閉。又，桂枝防風湯，見後乳子傷寒。</p>
<p>治太陽傷寒，頭痛身熱，身體頸項俱強，無汗，為剛痙。原方用栝樓桂枝湯，見上。按此二症，重者，時方用人參敗毒飲代之；輕者《醫學心悟》用加味香蘇飲代之。</p>
<p><u>人參敗毒散</u>　治大人小兒傷寒頭痛，憎寒壯熱，項強晴暗，鼻塞聲重，風痰咳嗽，及時氣疫癘嵐瘴鬼瘧，或聲如蛙鳴，赤眼目瘡，濕毒流注，腳腫腮腫，喉痹。並治諸瘡斑疹及噤口痢。凡病在上部，宜加薄荷三四分。</p>
<p>人參　茯苓　枳殼　桔梗　前胡　柴胡　羌活　獨活　川芎（各一錢）　甘草（五分）　生薑（二片）</p>
<p>煩熱口渴，加黃芩一錢，水煎熱服，微汗即解。治噤口痢，加陳倉米二錢，名倉廩散。腳氣，加大黃、蒼朮漂各一錢。膚癢，加蟬蛻九個。有風熱，加荊芥、防風，亦治腸風下血。本方去人參，加連翹一錢、銀花二錢，治瘡毒。</p>
<p><u>加味香蘇飲</u>　治四時感冒，發熱惡寒，頭痛身痛，鼻塞聲重，惡食嘔逆，咳嗽，或胸膈滿悶噯氣。</p>
<p>紫蘇葉（錢半）　香附　陳皮（各一錢二分）　炙草（七分）　川芎（五分）　荊芥　秦艽　防風　蔓荊子（各一錢）　生薑（三片）　水煎服。</p>
<p>微敷似汗即解。前症若頭腦痛甚者，加羌活八分、蔥白二根。自汗惡風者，加桂枝、白芍各一錢。若在春夏之交，不便用桂枝，即加白朮一錢五分。若兼停食，胸膈痞悶，加山楂、麥芽、蘿蔔子各一錢五分。若太陽本症未罷，更兼口渴溺澀者，此為膀胱腑症，加茯苓錢半、車前一錢。喘嗽，加桔梗、前胡各錢半，杏仁七枚，打碎。咽喉腫痛，去香附、生薑，加桔梗、蒡子各錢半，薄荷五分。若便秘，加枳殼、蘿蔔子各錢半，仍用罨法、蜜導法。</p>
<p><u>蔥豉湯</u>　治傷寒初覺頭痛，身熱無汗，脈洪便溏。用連須蔥白十四根、淡豆豉一兩，水煎服。如無汗，加葛根三錢。邪初在表，宜用此散之，免用麻黃湯之多所顧忌也。本方去豆豉，加生薑五錢，名連須蔥白湯，治同。</p>
<p><u>通關散</u>　凡一切感冒，用皂角，去邊弦及蟲注者，二錢，生半夏三錢，共研細末，每用少許吹鼻孔，得嚏則輕。無藥處，單用皂角末亦可。搐鼻散尤妙，見下客忤。</p>
<p>治汗後不解，乍靜乍躁，目直視，口噤，往來寒熱。此太陽陽明已罷，尚未解，傳入少陽半表半裡。宜和解，用小柴胡湯加防風。人參七分，柴胡、黃芩、製半夏、北防風各一錢，炙草五分，老生薑三片，大棗一枚，水煎服。</p>
<p><u>防風當歸湯</u>　治發汗過多，發熱，頭面搖，口噤，背反張，太陽兼陽明。宜去風養血。</p>
<p>北防風　生地（各錢半）　當歸（二錢）　川芎（一錢）　水煎服。</p>
<p><u>附子散</u>　治陰痙手足厥冷，筋脈拘急，汗出不止，頸項強直，頭搖口噤，此由汗多亡陽也。</p>
<p>青化桂　川附片（各七分）　漂白朮（錢半）　川芎（一錢）　獨活（八分）　大紅棗（五枚）　水煎冷服。</p>
<p><u>當歸四逆湯</u>　治小兒血虛體弱，寒邪傷榮，以致眼目上翻，身體反張，蓋太陽主筋病也。</p>
<p>當歸身　嫩桂枝　炒白芍（以上各三錢）　木通　炙草（各一錢半）　北細辛（一錢）　大紅棗（五枚）水煎熱服。兒小者減半，或乳母同服。</p>

<h2>一曰類搐</h2>
<p>幼科所云驚風餘症也，其實則為暑為瘧為痢為咳嗽為丹毒為瘡痘為霍亂為客忤中惡，各審其症，一藥可愈。若藥不對症，延久熱盛，小兒陰血未充，不時壯熱，則神氣昏悶；血不榮筋，則手足搐掣。正與《內經》之諸熱瞀縱皆屬於火之例相符，故以諸症，皆列類搐條下，各依本門用方，庶與誤搐非搐之寒熱虛實不相混。</p>

<h3>暑證</h3>
<p>陽暑，即中熱暍是也。其症初起面垢，身熱自汗，煩躁不安，唇舌皆赤，氣出如火，大小便赤澀，口中大渴，是為陽暑。此症在夏秋間，貧兒坐烈日中洗浴冷水多有之。用白虎湯、卻暑丹、益元散之類。</p>
<p><u>白虎湯</u>　治陽暑發熱頭痛，大渴大汗，便秘尿赤，煩躁不安。</p>
<p>熟石膏（三錢）　知母（二錢）　炙草（一錢）　晚稻米（一兩）　水煎服。</p>
<p><u>卻暑丹</u>　治小兒傷暑，誤用風藥致心神昏悶，煩躁不安，甚則搐搦。</p>
<p>漂白朮　白茯苓　豬苓　澤瀉　炙草　黃芩（各五錢）　青化桂川黃連（各三錢）　鏡辰砂（二錢）</p>
<p>上為細末，煉蜜為丸，如芡實大，每服二三丸，麥冬湯下，或十中取一。加麥冬煎服亦可。如陽暑脈虛兼吐瀉者，取此方十分之二，去黃連、黃芩，加香薷八分，扁豆一錢，姜一片，水煎，溫涼服。</p>
<p><u>益元散</u>（即六一散）</p>
<p>滑石（三兩，水飛過）　甘草（五錢）</p>
<p>共為末，每服三錢，新汲水調。此為治暑要藥。方內加辰砂，水飛，二錢，尤好。</p>

<h3>陰暑</h3>
<p>膏粱之兒，畏暑貪涼，不避寒風，或居深堂廣廈，乍寒乍熱，不謹衣被，以致寒邪襲於肌表，其症頭痛無汗惡寒，身體拘急，四肢痠痛。此以夏月受寒，雖名陰暑，實傷於寒也。治宜溫散，無汗用五積散。前症兼有汗口渴、惡寒發熱，用清暑益氣湯。</p>
<p><u>五積散</u>　治陰暑受寒，頭痛無汗惡寒，身體拘急，四肢痠痛。</p>
<p>白芷　廣皮　川樸　桔梗（各七分）　枳殼（五分）　川芎　當歸　白芍　雲苓（各一錢）　漂蒼朮製半夏　嫩桂枝（各八分）　炮姜　炙草（各五分）　生薑（三片）　紅棗（三枚）　水煎服。</p>
<p><u>清暑益氣湯</u>　治傷暑煩熱自汗，口渴，惡寒發熱。</p>
<p>人參（六分）　炙黃耆　漂白朮　粉葛（各一錢）　澤瀉　黃柏　青皮　神麯（煨）　炙草（各五分）　五味子（捶扁，三分）　生薑（二片）　大棗（三枚）　水煎熱服。</p>
<p>如兼腹痛泄瀉，去黃柏，加炒白芍、茯苓各錢半。</p>
<p><u>通治千金消暑丸</u>　治中暑昏悶，並伏暑停食嘔吐泄瀉。</p>
<p>半夏（醋炙，四兩）　茯苓　甘草（各二兩）</p>
<p>研細末　薑汁和丸，綠豆大，每五六十丸，開水下。如昏迷不醒，即碾灌之。又方，去茯苓、甘草，加貝母四兩，如前法和丸，治中暑甚效。</p>

<h3>小兒中暑吐瀉或卒然昏倒</h3>
<p>背陰側柏葉搗汁三匙，生蜜三匙，井水一杯，開水一杯，調灌即愈。</p>

<h3>瘧疾</h3>
<p>其症初起，呵欠煩悶，發熱口渴，面帶黃白，額有汗，一哭汗出，其熱稍減，不久復熱如故，喉內痰鳴，一哭即嘔，嘔則痰出，每日如此者，即瘧病也。此症為少陽為主，早能和解表裡，則瘧邪霍然而散。多有誤認驚風，輕施鎮墜，阻遏榮衛，邪不得出，以致神情憒亂，臨瘧而搐。宜用清脾飲解之。余詳後「瘧疾」。</p>
<p><u>清脾飲</u>　治小兒熱瘧作搐，不必治搐，惟治其瘧。</p>
<p>青皮　陳皮　柴胡　漂白朮　雲苓　草果仁　製半夏　川厚朴（各一錢）　炙甘草（五分）　生薑（三片）　大棗（三枚）</p>
<p>水煎，臨發前一時熱服，三次必效。又方，未發前一時，以蛇蛻塞鼻，男左女右，過時取去，效。余詳後簡便方。</p>

<h3>痢疾</h3>
<p>其症初起，兩眉經𦆂而多啼，由腹痛也。煩躁不安，由裡急後重也。數至廁而不能便，或赤白相兼，或單紅單白，是其候也。按此症雖由內傷飲食，莫不由外感而發。但以人參敗毒散加陳倉米三錢散之，其病即減。設有飲食停滯，輕則消導之，重則疏通之，去其積垢，無不愈者。又單方，香菌五錢，紅糖、白糖各二錢五分，煎湯服之立愈。余詳後「痢疾」。</p>

<h3>咳嗽</h3>
<p>其症初起，面赤唇紅，氣粗發熱，咳來痰鳴，或眼胞微浮，額上汗出。此外有感冒，寒熱傷肺，急宜疏解。若寒者應辛散而反涼瀉，熱者應涼瀉而用浮升，以致聲音不轉，眼翻手搐，宜用《集成》金粟丹。惟初起疏解，原未立方，茲擬仍用人參敗毒散加杏仁七枚，煎服二三劑。人參敗毒散見「誤搐」。餘症並詳內科「咳嗽」。</p>

<h3>小兒咳嗽不出聲</h3>
<p>紫菀微炒研末，杏仁去皮尖研如泥，等分，煉蜜為丸芡實大，每服一丸，五味子七粒煎湯化服。初起勿用五味子。</p>

<h3>肺實咳嗽痰喘</h3>
<p>葶藶子，隔紙炒為末，棗肉為丸如龍眼核大，每服一丸，白湯化下。</p>

<h3>小兒痰壅喘咳</h3>
<p>川貝母五錢，用淡薑湯潤濕，飯上蒸過，甘草半生半熟二錢五分，其研細末，砂糖為丸龍眼核大，每一丸，米飲化服。</p>

<h3>小兒百晬嗽不止</h3>
<p>生薑自然汁一杯聽用，蜂蜜四兩煉熟聽用，每用薑汁一匙，蜜二匙，白湯調服，每日五六次。</p>

<h3>丹毒</h3>
<p>其症由心火熾盛，熱與血搏，或起於手足，或發於頭面胸背，遊移上下，赤如丹砂，形如錦紋，其痛非常。凡自胸腹而散於四肢者易治，自四肢入而胸腹者難治。法宜砭，去惡血，內服《集成》沆瀣丹，方見「痢疾」，庶不致內攻作搐。倘醫者不知針砭，僅妄用搽敷，必致作搐而死。或服連翹敗毒散，方見「誤搐」，加牛蒡亦可。</p>
<p>瓷鋒砭法：見後「丹毒」。</p>
<p>總治十種丹毒：俱見後「丹毒」。</p>

<h3>瘡癰</h3>
<p>按瘡癤疥癬，小兒獨多，治宜清熱解毒，宜內托解毒，倘毒未先解，誤用砒硫等毒藥搽之，逼毒內入，以致瘡忽自平，其症腹脹便秘，尿赤，面無血色，目閉不開，手足搐動，此毒氣內致也。與外科之癰疽，偶傷風濕而手足搐搦者不侔，此宜速服雄黃解毒丸微下之，瘡出則吉，不出加喘者死。方見後「中惡」。</p>

<h3>霍亂</h3>
<p>其症先傷於食，後感風寒，邪正相爭，心腹絞痛，有上吐下瀉者，其症稍輕。有上不得吐、下不得泄者，所以煩躁悶亂，俗名乾霍亂，即絞腸痧。其症最急，速宜服鹽湯探吐之，乃用藿香正氣散，分理其陰陽也。</p>
<p><u>藿香正氣散</u>　治內傷脾胃，外感風寒，吐瀉霍亂等症。</p>
<p>藿香枝　紫蘇葉　大腹皮　廣皮　桔梗　雲苓　法半夏　神麯　白芷（各一錢）　川厚朴　炙甘草（各五分）　生薑（三片）　大棗（三枚）　水煎服。</p>
<p>凡霍亂吐瀉腹痛，忌用熱湯，犯之必死，須待其吐瀉後兩時入服藥過後，胃氣稍復，渴止知飢，方可飲粥。</p>
<p>凡霍亂嘔吐不能受納藥食，速以新汲水和百沸湯各一杯，調勻，名陰陽湯，飲數口即定。</p>
<p>凡痰瘧及宿食惡毒之物，阻隔中焦，腹脹欲作霍亂，急以鹽湯頓服探吐盡痰，食即安。</p>
<p>霍亂吐瀉諸藥不效，綠豆、胡椒各二十一粒，研細，水煎一盅，加新汲水一盅，調服即安。又方，以六一散一二錢，濃薑湯調服，夏日更妙。六一散，即益元散，見上「傷暑」。</p>

<h3>乾霍亂</h3>
<p>即絞腸痧。忽然心腹絞痛，上不得吐，下不得泄，痰壅腹脹，手足厥冷。急以食鹽一兩、生薑五錢，同炒黑色，水一碗煎湯溫服，良久以指探喉中令吐之，或不吐即瀉而愈。</p>
<p>絞腸痧亦有陰陽，陰痧，手足冷，看其身上有紅點，以燈火於紅點上淬之。陽痧，腹痛手足暖，以針刺兩大拇指甲內側離肉一韭葉許，出血即安。仍先自兩臂捩下其惡血，令聚指頭，然後刺之，甚者十指俱刺。</p>

<h3>凡發痧手足冷腹痛</h3>
<p>用溫水一碗，令病人伏臥凳上，以手蘸水，拍其兩膝彎，名委中穴，看其有紫黑點現，以針刺出惡血即愈。又法，以香油拍兩手曲池穴，即兩肘內彎處，以苧麻蘸油戛之，颳起紫疹即愈。近時用光錢蘸油刮兩肘彎並背上出痧，甚效。</p>

<h2>一曰非搐</h2>
<p>（即幼科之慢驚慢脾風）</p>
<p>即幼科之慢驚慢脾風，其詞自相矛盾，其方治無一效。故《集成》以非搐辨之，引夏禹鑄之言曰，世人均稱慢驚，予獨曰慢證，蓋此證多成於大病之後，庸工一見病愈，遂不防守去路，或初誤汗、誤下、吐瀉，久而脾胃虛極，故成慢證，慢證何驚之有!彼庸醫見兒眼翻手搐握拳，形狀似驚，故以驚名之。一作驚治，或推拿、或火，是猶兒已落井而又下石也。急以六君子湯加桂附及理中湯加附子等藥，稍可救之。凡四肢厥冷，宜用蔥姜同搗，炒溫熨其胸腹。或以硫黃五分、胡椒一分，薑汁調敷臍上，膏藥蓋之。市上所賣治急慢驚風丸藥，乃抱龍丸、牛黃丸之類，急驚服之有效，若遇慢驚則速其死。</p>
<p><u>六君子湯</u>　治小兒吐瀉之後，脾胃大傷；或大病之後，不思乳食；一切久病中氣虛寒及成慢證者，並皆治之。</p>
<p>官揀參（一錢）　漂白朮（二錢）　白雲苓（錢半）　法半夏　陳皮（各五分）　炙甘草（一錢）　煨姜（三片）大棗（三枚）　早米（一撮）</p>
<p>水煎溫服。四肢厥冷，加炮姜四分，甚者加附子五分。頭搖者，加天麻八分。手足搐搦，加青化桂，去粗，七分，鉤藤一錢，又方：治虛搐，桂圓整個燒存性，研，二錢，炮姜四分，紅棗三個，煎湯調服。</p>
<p><u>理中湯</u>　治脾胃虛寒，面青腹痛，寒嘔寒瀉，及幼科慢驚等症。</p>
<p>人參（二錢）　漂白朮（三錢）　炮姜　炙草（各一錢）</p>
<p>水煎溫涼　徐徐服。若四肢厥冷，加附子一錢；肉桂，去粗，五分。如寒瀉不止，加肉豆蔻，去油，四分；丁香，研，四分。</p>

<h3>急慢驚風症治辨</h3>
<p>誤傳驚風各症，《集成》辨之甚詳。然恐習俗相沿，驟不能辨，故另採數條於後。</p>
<p>莊氏《福幼編》曰：急驚屬實熱，清熱即所以治急驚；慢驚屬虛寒，溫補即所以治慢驚。二症有寒熱之殊，用藥有云泥之別。《景岳全書》曰：急驚之候，壯熱痰壅，搐搦反張，牙關緊急，口中氣熱，頰赤唇紅，飲冷便結，小便赤，脈浮洪數。慢驚之候，多由吐瀉，氣微神緩，昏睡露睛，痰鳴氣促，驚跳搐搦，或乍發乍靜，身涼身熱，或肢體逆冷，或口唇青赤，面色淡白，脈遲緩或見細數。</p>

<h3>急驚風</h3>
<p>此乃痰火閉症，初起用通關散開肺竅，見上頁。再服勾藤三錢，連翹、木通、山梔、黃芩、枳殼、車前、栝蔞霜各一錢。</p>
<p>額赤唇紅，口中氣熱，牙關緊急，痰涎壅塞咽喉，其響如潮，名曰涎潮。用金星礞石，火煅，研細，入生薄荷汁內，加白蜜調和，溫水沖服，其藥自裹痰，從大便出，屢驗。又方，燈芯二十根，每根約五寸，蟬蛻去頭足並蓋，只用肚皮，十四個，明辰砂末三錢，以新白紗紮緊，用綠線系物，墜於沙罐兩邊，懸空放水中，量兒大小，或水盅半，煎至一盅，或水一盅，煎至七分，服下即效。有辰砂須略澄清，不可服渣。又方，用螞蚱，焙為末，每四五分，薑湯送下，立愈。又方，荊芥、柴胡各一錢，竹瀝半盅，入薑汁二匙，水一匙，煎服，治驚搐發熱有痰甚效。又方，大梔子一枚，研末，雞蛋一個，去黃用白，和前藥調勻，搽兒腹四圍。寸金丹，治急驚甚效，方見內科「脾胃」。抱龍丸，治急驚亦效。</p>

<h3>急驚慢驚外治三方</h3>
<p>芙蓉花葉，取嫩的，約五六塊，男雙女單，將其葉碎，煎雞蛋角三隻，敷小兒肚臍中，冷又換之，三四次愈。</p>
<p>又方：殭蠶九條、全蠍九隻、梅冰片三分、麝香分半、三仙丹三分，共為細末，用蜜糖搗成餅，貼臍上，另用隨便膏藥蓋之。每小兒一歲，用藥三分之一；兩歲，用藥三分之二；三歲，照方全用。俟小兒有啼聲，即宜以乳哺之，或以薄粥食之，不可不慎調理也。</p>
<p>又方：將白頸曲鱔刀劖二段，跳急者，急驚用；跳慢者，慢驚用。加麝香一分，搗爛，對臍貼，外用膏藥蓋緊。</p>

<h3>莊在田《福幼編》治慢驚風神效二方</h3>
<p>慢驚之症，系小兒吐瀉得之為最多。或久瘧久痢，或痘後疹後，或風寒飲食積滯過用攻伐傷脾，或秉賦本虛，或誤服寒涼，或因急驚而用藥攻降太甚，或失於調理，皆可致此症也，其症神昏氣喘，或大熱不退、眼開驚搐，或乍寒乍熱，或三陽晦暗，或面色淡白青黃，或大小便青白，或口雖開裂出血而口中氣冷，或瀉利冷汗，或完穀不化，或四肢冰冷並至腹痛氣響，喉內痰鳴，角弓反張，目光昏暗，此虛症也。若再用寒涼，再行消導，或用膽星抱龍以除痰，或用天麻全蠍以驅風，或用知柏芩連以清火，或用巴豆大黃以去積，殺人如反掌，實可畏也。欲治風而無風可治，欲治驚而無驚可治，此實因脾腎虛寒，孤陽外越，無氣無根，陰寒至極，風之所由動也。治宜先用辛熱，再加溫補，蓋補土即所以敵木，治本即可以治標也。凡小兒一經吐瀉交作，即是最危之症，若其屢作不止，無論痘後疹後，不拘何因，皆當先用參朮以救胃氣，薑桂熟地等藥以救腎氣，不惟傷食後當急救之，即傷寒傷暑亦當急救之。蓋其先雖有寒暑實邪，一經吐瀉，業已全除，脾胃空虛，倉廩空乏，若不急救，恐虛痰上湧，命在傾刻矣。庸醫見之，皆誤指為熱為食，投以清火去積涼藥，立時告變，為之奈何。如其失之寒涼斷難生活，不若失之溫補猶可救療，此語發明吐瀉驚風之理，極為透徹，後之君子，願無忽諸。今將慢驚辨症，羅列於後。</p>
<p>慢驚吐瀉，脾胃虛寒也。</p>
<p>身冷，陽氣抑遏不出也。服涼藥之後往往致此。</p>
<p>鼻孔煽動，真陰失守，虛火燥肺也。</p>
<p>面色青黃及白，氣血兩虛也。</p>
<p>口鼻中氣冷，中塞也。</p>
<p>大小便青白，腎與太陽全無火也。</p>
<p>昏睡露睛，神氣不足也。</p>
<p>手足搐掣，血不行於四肢也。</p>
<p>角弓反張，血虛筋急也。</p>
<p>乍熱乍涼，陰血虛少，陰陽雜錯也。</p>
<p>汗出如洗，陽虛而表不固也。</p>
<p>囟門下陷，虛至極也。</p>
<p>身雖發熱口唇焦裂出血，卻不喜冷茶水，（進以寒涼，愈增危篤。）以及所吐之乳、所瀉之物皆不甚消化，脾胃無火可知，唇之焦黑乃真陰之不足也。</p>
<p>以上慢驚各條，須審察有數條相合，即放心照後二方治之，勿疑。</p>
<p><u>逐寒蕩驚湯</u>　藥性溫暖，專治小兒氣體本虛，或久病不愈，或痘後疹後誤藥泄瀉嘔吐，轉為慢驚。若清熱散風，愈治愈危。速宜服此，能開寒痰，寬胸膈，止嘔吐，蕩驚邪，所謂回元氣於無何有之鄉。一二劑後，嘔吐漸止，即其驗也。認明但系虛寒，即宜服之，不必疑慮。</p>
<p>胡椒　炮姜（各一錢）　肉桂（有油便佳，去粗，一錢）　丁香（十粒）</p>
<p>共研為細末，以灶心土三兩煮水，澄清煎藥大半盅，頻頻灌之。接服後方，定獲奇效也。</p>
<p><u>加味理中地黃湯</u>　助氣補血，卻病回陽，專治小兒精神已虧，氣血大壞，形狀狼狽，瘦弱至極，皆可挽回。如法濃煎，頻頻服之。參天救本之功，有難以盡述者。</p>
<p>熟地（五錢）　當歸　枸杞　黨參　棗仁　炙耆　故紙（各二錢）　白朮（三錢）　萸肉　炮姜　肉桂　炙草（各一錢）</p>
<p>加生薑三片、紅棗肉三枚、好胡桃二個打碎，為引，仍用灶心土二兩煎水，澄清煎藥，取濃汁一茶杯，加附子五分，煮水摻入，量兒大小，分數次灌之。如咳嗽不止，加粟殼、金櫻子各一錢。如大熱不退，加白芍一錢。泄瀉不止，加丁香六分。只服一劑，即去附子，只用丁香七粒。隔二三日，又用附子二三分。因附子性大熱，中病即宜去之。如用附子，大多則小便閉塞不出。如不用附子，則沉塞臟腑固結不開。如不用丁香，則泄瀉不止。若小兒虛寒至極，附子亦不妨用至三錢。此方救陰固本，治小兒慢驚稱為神劑。若小兒吐瀉不至已甚，或微見驚搐，胃中尚可受藥，吃乳便利者，亦不必服逐寒蕩驚湯，只服此藥一劑，而風定神清矣。若小兒尚未成驚，不過昏睡，發熱不退，或時熱時止，或日間安靜，夜間發熱，以及午後發熱等症，總屬陰虛，均宜服之。若新病壯實之小兒，眼紅口渴者，乃實火之症，方可暫行清解。但果系實火，必大便閉結，氣壯聲洪，且喜多飲冷茶水。若吐瀉交作，則非實火可知矣。</p>

<h3>附錄慢驚單方</h3>
<p>肢體逆冷，痰滯咽喉，如牽鋸狀，唇緩面青，口鼻氣微，昏睡露睛。速用胡椒七粒、生梔子七個、蔥白七枚、灰面一撮、雞蛋白半個，先將前四味研末，雞蛋白調勻，攤青布上，貼小兒心窩，一日夜除去，有青色即愈矣。如未愈，再貼一個。此方貼後仍當補脾。輕者，四君子湯，薑棗煎；重者，用理中地黃湯，見上頁。</p>

<h3>客忤</h3>
<p>小兒客忤，由真元不足，神氣未充，故外邪客氣得以乘之。或生人遠來，或六畜暴至，或五氣入鼻，藏於心肺，正氣受忤，此外因之客忤也。其症口吐青黃白沫，面色變易，喘急腹疼，反側不安，手足搐搦，第此症神不昏亂為異耳。治宜塗囟法、搐鼻法、內服攝生散。</p>
<p><u>塗囟法</u>　專治客忤等症。</p>
<p>灶心土（一錢）　明雄黃（五分）　真麝香（五釐）</p>
<p>共研細末，棗肉和勻，捏作餅子，照囟門寬窄為樣，以餅貼囟門，取艾絨作豆大一粒，灸三炷即止。又方，灶心黃土，蚯蚓糞，各等分，研細末，水調塗兒囟上及五心良。</p>
<p><u>搐鼻散</u>　治傷風傷寒，頭目不清，並治客忤。</p>
<p>川芎　藿香葉　牙皂（各二錢）　白芷　細卒　辰砂（各錢四分）</p>
<p>共研極細末，以少許大吹，得嚏則邪氣出矣。</p>
<p><u>攝生散</u>　治一切卒中，大小科同。</p>
<p>制南星　南木香　法半夏（各一錢）　北細辛　漂蒼朮　石菖蒲　炙甘草（各一錢）　生薑（三片）水煎熱服。</p>

<h3>中惡</h3>
<p>較客忤更甚。如老柩腐屍、淫祠古樹、冷廟枯井、敗屋陰溝，皆有惡毒之氣，小兒觸之，從鼻孔入肺，閉其清道，窒塞胸中。忽然而倒，四肢厥冷，兩手握卷，上氣喘急者是也。復有中惡毒之物者，如菌蕈、河豚、瘟牛、疫馬自死六畜，並水雞蝦蚌等類，自口而入，則腸胃受之，故心腹刺痛，腹皮青黑。前後二症，俱宜搐鼻散搐鼻，令其噴嚏，毒氣散出，然後用藥。</p>
<p><u>返魂湯</u>　治前症中惡氣死者。</p>
<p>麻黃（去節，二錢）　杏仁（去皮，七個）　炙草（一錢）　蔥白（三寸）　水（一盅）　煎至半盅，分數次服。</p>
<p><u>解毒雄黃丸</u>　治後症中毒物死者。</p>
<p>明雄黃　巴豆霜（各一錢）　川鬱金（二錢）　研末，醋和米汁打糊為丸，綠豆大，每用三五丸，白湯下，以利為度。</p>

<h3>小兒卒然暴死</h3>
<p>不解何病，以搐鼻散吹之。如無藥，以狗糞一丸，紋汁灌之。</p>

<h3>大驚卒恐</h3>
<p>幼科以此為急驚，其實小兒氣血未充，所以一受大驚卒恐，神氣失散，憒亂不堪，又何實邪之有?收復正氣猶恐不及，安可以急驚而用清散耶!即如硃砂、琥珀之類，不過取其鎮墜，亦非救本之法。夫急驚由於風熱，慢驚由於脾腎之虛。而此以大驚受困者，本於心膽受傷、神氣陡離之病，當以收復神氣為主。宜秘旨安神丸、團參散、獨參湯之類加金銀物煎服。</p>
<p><u>秘旨安神丸原治心血虛而睡中驚惕，並治大驚卒恐。又治大病後夜啼。</u></p>
<p>人參　棗仁（炒）　茯神　法半夏（各一錢）　大當歸　白芍　橘紅（各七分）　北五味（七粒，捶扁）　炙甘草（五分）</p>
<p>共為細末，煉蜜為丸，如芡實大，每服一丸，生薑湯下。</p>
<p><u>團參散</u>　治心虛血熱、自汗盜汗之類，並治大驚卒恐。</p>
<p>人參　當歸（等分）</p>
<p>共為細末，用雄豬心一個，切作三片，每以藥末二錢，用豬心一片，煎湯服。加桂圓三個亦佳。</p>

<h3>小兒時疫</h3>
<p>疫癘流行之時，小兒作熱，是即時疫。乍有眼目上竄，角弓反張，手足搐掣，不可誤認驚風，但以時疫治之自愈。</p>
<p><u>太極丸</u>　治時疫。</p>
<p>天竺黃　膽星（各五錢）　酒大黃（二錢）　直殭蠶（三錢）　麝香　冰片（各二分）</p>
<p>共為細末，端節午時修蜜丸，如芡實大。凡遇疫症，薑湯服一丸，神效。或用搐鼻散吹之，方見上頁。內服人參敗毒散亦效，方見「誤搐」。</p>

<h3>癇證</h3>
<p>多由於初病時誤作驚治，輕施鎮墜，蔽固其邪，留連於膈膜之間，所以一遇風寒冷飲，引動其痰，卒然而倒，四肢強直，目閉或眼珠翻上不轉，或口噤，或咬舌，口中涎出，或無涎，其面色或青或白，或作六畜聲，其狀不一，乃小兒之惡症也。昏暈一時，即醒如常，其發或以旬計，或以月計，或以歲計，皆因中氣素弱，脾虛主痰，宜先服消風丸，再用《集成》定癇丸，見下。</p>
<p><u>消風丸</u>　非治癇之藥，用以疏散外感，開通經絡，庶後藥得效耳。</p>
<p>薄荷　羌活　獨活　防風　天麻　荊芥穗　川芎　細辛（各一錢）　膽南星（二錢）</p>
<p>共為細末，煉蜜為丸，一錢一顆，每日一丸，薄荷、蘇葉煎湯化服，服完七丸，再服後藥。</p>
<p><u>《集成》定癇丸</u></p>
<p>人參（一兩，無力者倍用黨參）　漂白朮（土炒，一兩五錢）　雲苓　廣皮（酒炒）　法半夏　當歸（酒洗）　白芍（酒炒）　白蔻仁（酒炒）　漂蒼朮（黑芝麻拌炒，以上各一兩）　真龍齒（一兩，火煅醋淬，研末水飛，曬乾，只取五錢）　赤金箔（三十張）　鏡辰砂（三錢，水飛聽用）</p>
<p>上藥制過焙乾，研極細末，篩過，煉蜜為丸，龍眼核大，以硃砂為衣，貼以金箔，曬乾，用瓷瓶收貯，每日早中晚各服一丸，薑湯化下。癇症未久者服此。若年深月久者，午晚服此丸，早間須服河車八味丸，方見《幼幼集成》。</p>

<h3>傷寒</h3>
<p>幼科謂八歲以前無傷寒，此無稽之談也。但乳子與小兒異治，乳子筋骨柔脆，不耐傷寒，初入太陽，即人事昏沉，渾身壯熱，筋脈牽強，醫者不詳辨誤，認為驚風，其禍立至。初起不宜發表，恐汗多亡陽，急宜解肌，使表邪從外而出，斯無變痙之虞。</p>
<p><u>桂枝防風湯</u>　治半周一歲以至三五歲幼兒傷寒，初起發熱體重，面黃或白，喘急，口中氣熱，呵欠頓悶。速以此方解散肌膚之邪，有汗能止，無汗能發，為幼科解表之第一方。</p>
<p>嫩桂枝　北防風（各錢半）　白芍（二錢）　老生薑　炙草（各一錢）　大紅棗（五枚）</p>
<p>水煎熱服。有痰，加白芥子一錢。有嘔吐，加陳皮、製半夏各一錢。熱重，加柴胡一錢。胸緊氣急，加枳殼一錢。</p>
<p><u>小柴胡湯</u>　治裡熱惡熱，出頭露面，揚手擲足，口氣熱臭，煩渴自汗。</p>
<p>柴胡（錢半）　人參（七分）　黃芩　法夏（各一錢）　炙草（五分）</p>
<p>加石膏、知母。若前裡熱症兼有掀衣氣粗、小便赤短、大便燥結者，用小柴胡湯去半夏，加莊黃一錢，薑棗煎服。若夾食傷寒，壯熱頭痛，噯氣腹脹，大便酸臭，用柴胡錢半，製半夏、赤芍、莊黃各一錢，小枳實八分，姜三片，棗一枚，同煎。</p>
<p>陰症裡虛，頭額冷，手足冷，口中氣冷，面色暗淡，大便瀉，用理中湯。（方見「非搐」。）若泄出青黃，方內加黃耆，炒，錢半，酒芍一錢。寒甚者，再加好肉桂一錢、附子七分，水煎溫服。</p>
<p><u>惺惺散</u>　治小兒真元不足，氣血怯弱，內傷外熱，不能受表。</p>
<p>人參　茯苓　白芍（炒）　桔梗　花粉（酒炒）　川芎　北防風（各一錢）　北細辛（五分）　白朮（錢半）生薑（三片）　紅棗（三枚）　水煎熱服。</p>
<p>小兒傷寒類治，與大方科同，詳見《集成》。</p>
<p>治四時感冒傷風咳嗽，用人參敗毒散。凡咳嗽痰不應者，每日二服，以痰豁為度。</p>
<p><u>人參敗毒散</u>　方見「誤搐」。並治傷寒初起發熱頭痛等症。</p>

<h3>傷暑</h3>
<p>見類搐「暑症」。</p>

<h3>傷濕</h3>
<p>有出於天氣者，雨露是也；出於地氣者，泥水是也；由飲食者，酒漿生冷是也；由人事者，汗衣臥濕，如小兒澡浴便溺衣褓不幹是也。然所因雖異，總由脾氣之虛。治法有二，一曰濕熱、一曰寒濕盡之矣。病而發熱者，為濕熱，宜清宜利；病而多寒者，為寒濕，宜燥宜溫。</p>
<p><u>柴苓湯</u>　治發熱身重，多煩渴，小便赤澀，大便秘結，脈見洪滑，是濕熱。</p>
<p>柴胡（錢半）　人參　黃芩　製半夏　漂白朮　豬苓　澤瀉　茯苓（各一錢）　青化桂　炙草（各五分）　生薑（三片）　大棗（三枚）　水煎熱服。</p>
<p>若大小便秘，兼用外治法，見後「二便不通」。</p>
<p><u>茵陳五苓飲</u>　治中濕發黃作熱，小便赤澀。</p>
<p>茵陳（二錢）　漂白朮（一錢）　赤苓（錢半）　豬苓　澤瀉（各一錢）　青化桂　甘草（各五分）　生薑（三片）　大棗（三枚）　水煎服。</p>
<p>以上皆治濕熱。</p>
<p><u>胃苓湯</u>　治寒濕頭重體重，往來寒熱，脹滿泄瀉。並可和水土，調脾胃。</p>
<p>漂蒼朮　厚朴（姜炒）　廣皮　白朮（土炒）　雲苓　豬苓　澤瀉（各一錢）　青化桂　炙草（各五分）生薑（三片）</p>
<p>水煎食前服。如兼吐嘔，加藿香、砂仁各八分。</p>
<p><u>五皮飲</u>　此方合胃苓湯，專治中濕浮腫，神效。</p>
<p>生薑皮　大腹皮　茯苓皮　桑白皮　五加皮（各二錢）　燈芯（十根）　大棗（三枚）　水煎，空心服。</p>
<p>若合胃苓湯，服數劑不效，必用溫補，如理中湯、八味丸，宜擇用之。</p>
<p><u>八味丸</u></p>
<p>熟地（八兩）　山藥（炒）　雲苓（各四兩）　山茱　丹皮（酒炒）　澤瀉（各二兩）　附子（熟，兩半）　肉桂（去粗，一兩）</p>
<p>煉蜜為丸，如梧子大，每服三錢，開水下。</p>
<p><u>理中湯</u>　見上「非搐」。</p>

<h3>小兒浮腫</h3>
<p>老絲瓜四五兩、蔥白四兩、燈草三兩，煎湯浴之，並飲一二小杯。余見後「腫滿」。</p>

<h3>小兒哮喘簡便方</h3>
<p>（並詳「內科」）</p>
<p>治痰氣壅塞哮喘　好雪梨汁一杯，生薑汁半杯，蜂蜜半杯，薄荷細末一兩，和勻，器盛，用重湯煮一時之久，在意與食痰如奔馬。又方：絲瓜燒存性，研末，棗肉為丸，如彈子大，薑湯化下，化氣最捷，並能止嗽。</p>
<p>治醋食成吼：甘草二兩，去皮，每段切二寸長，兩半劈開，豬膽三枚，取汁浸甘草三日，收起火上炙乾，為末，蜜丸綠豆大，每晚臨臥服二錢，以茶湯送下，神效。</p>
<p>治一切吼疾或痰或食，遇厚味即發者尤效：蘿蔔籽蒸熟，曬乾為末，豬牙皂角燒存性，等分，共研細末，薑汁打糊為丸，綠豆大，每服二十丸，薑湯下。</p>

<h3>諸疳症</h3>
<p>十六歲以前為疳，十六歲以後為癆。皆乳子真元虛弱，飲食太早，或肥甘肆進，飲食過飧，積久成疳。或乳母寒熱不調，及喜怒房勞之後乳哺而成。復有取積太過，耗損胃氣；或大病之後吐瀉瘧痢飲食減少，以致脾胃失養。二者雖所因不同，皆歸於虛也。其症頭皮光急，毛髮焦稀，腮縮鼻乾，口巉唇白，兩眼昏爛，揉眉擦鼻，脊聳體黃，闔牙咬甲，焦渴自汗，溺白瀉酸，肚痛腸鳴，癖結潮熱，酷嗜瓜果咸炭水泥者，皆其候也。初病以集聖丸為主，其有五臟兼證，從權加減。久病用肥兒丸調之，以補為消可也。俱載《幼幼集成》。</p>

<h3>疳症簡便方</h3>
<p>小兒疳積肚大，黃瘦骨立，頭上瘡痂，發如麥穗：乾蟾蜍五隻，去四足，以香油塗之，炙焦為末。蒸黑棗，去核取肉，搗膏和蟾蜍末為丸，如龍眼核大，每用一丸，日三服，積垢自下。多服之，形容自變，其病如失。</p>
<p><u>月蟾丸</u>　治五疳八積腹大，黃瘦骨立，頭生瘡，發拳結等症。大蝦蟆一個，放瓶中，綿紙封口七日，後取糞中蛆洗淨，不拘多少，入瓶中，俟蟆食完，取蟆去頭爪與腸肝，以麻油塗蟆身，瓦上焙枯為末，米湯調服。或用蜜為丸，連服五六個，一月內形容頓改，病除體壯。兼治小兒癬瘡、口耳瘡久不愈者，謂之月蝕，以此藥末調香油塗之。又方，蝦蟆一隻，去頭及皮足腸等，用酒洗淨，紅糖拌砂仁末填入腹中縫定，濕紙包裹，煨熟食之，立效。又方，穀精草，或加小青草為末，每用二錢，雞軟肝一具，用酒漿飯上燉熟，去藥取肝，日日常服，即目盲垂危者可愈。</p>
<p><u>紅燕丹</u>　專治小兒疳積，骨瘦如柴，目閉溺赤，腹中疼痛，或尿如米泔，神效。大石燕二個，一雌一雄，重一兩者更佳，入傾銀鍋內上下用炭火煅紅，焠入好米醋中，如此者九次。加明亮硃砂，另研三錢，水飛淨。紅曲一兩，揀淨。三味共研極細末，周歲者，每服三分，糖拌不拘時服。按此方消疳化積，且無藥氣，並可和於糖果粥飯中服之，其效如神，不可輕視。</p>
<p>小兒冷疳，吐食腹大，面黃腿縮：母丁香七枚，為末，人乳和蒸三次，薑湯調作數次服。</p>
<p>小兒諸疳日久身面生瘡爛成孔，如大人楊梅瘡樣：用蒸米飯時甑蓋四邊滴下氣水，以碗承水掃瘡上，數日即效。百藥不驗者，此方如神。</p>

<h3>疳蝕口鼻</h3>
<p>用糞蛆洗漂極淨，曬乾微炒為末，三錢；毛褐衣燒灰，錢半；共研勻，頻吹於口內，效。又方，治牙疳鼻疳，人中白，煅，錢半；毛褐灰、枯礬各一錢，為細末，濕者乾摻，乾者香油潤濕再搽。</p>
<p>口疳破爛：人中白煅過，厚黃柏，蜜炙焦，等分，少加冰片，共研末，以鹽茶洗口後，以藥末搽之。</p>
<p>走馬牙疳及齒齦腐爛黑臭者：用溺壺內多年積垢，煅紅，一兩，兒茶五錢，黃柏、薄荷、青黛各一錢，冰片三分，共研細末，以溫水先嗽口，然後吹藥於疳上，每日六七次，吹藥時涎從外流者吉。涎收口內者，毒入里不治。</p>
<p>治疳蝕爛口鼻欲死：海中紫貝子，俗名砑螺，炭火煅過，為末，臘豬油調搽。</p>
<p>治牙疳潰爛穿唇破舌：並治口瘡。川黃連五分，膽礬、兒茶各錢半，共為細末搽之。</p>

<h3>治一切疳瘡</h3>
<p>以乾蟾蜍燒灰三錢，黃連二錢，青黛一錢，麝香五釐，共為末，先以甘草湯洗，後塗之，妙。</p>

<h3>疳痢</h3>
<p>眼胞腫，腹脹，痢色無常：新羊屎一升，水一升，浸一夜，次早絞汁，頓服，日午乃食。極危者，三服即愈。</p>

<h1>嘔吐</h1>
<p>有聲有物為嘔，有物無聲為吐。其證有寒有熱有傷食。然寒熱皆因於傷食，總屬胃經。復有溢乳哯乳嘔噦，皆與嘔吐相似，而不可以嘔吐治之。更有寒熱拒隔之證，又有蟲痛而吐者，症治俱詳載《幼幼集成》。凡治小兒嘔吐，宜減少其乳食。凡嘔吐多渴，不可與之茶水，水入復吐，必須忍渴一二時，而後以米湯與之，吐自止矣。</p>

<h2>小兒嘔吐簡便方</h2>
<p>寒吐者，乳片不消，多吐而少出，面白眼慢，不熱不渴，氣緩神昏，額上汗出，脈息沉微。輕者，藿香正氣散。不止，用理中湯加藿香。再不止，用理中湯加公豬膽汁和童便少許自止。單方，生薑一大塊，直切薄片，勿令斷，層層搽鹽，以苧麻紮緊，外用草紙七層包之，水濕，慢火煨令熟，取起去麻紙，將姜搗爛，和早米煎湯服之立止，甚效。</p>
<p>小兒胃熱嘔吐，外症面赤煩躁，身熱作渴，手足心熱：黃連一錢，薑汁炒，熟石膏一錢，共為細末，每服一錢，白湯調下，吐止勿再服。又方，枇杷葉，用蜜塗炙之，刷盡毛，每用葉十片，煎湯熱服，立止。又方滑石（水飛），六錢，甘草一錢，共研細末，每用一二錢，淡薑湯調服。</p>
<p>傷食嘔吐，眼胞浮腫，面色微黃，足冷，其熱日輕夜重，或吐酸，或吐黃水，或吐青痰，此有宿食也：砂仁、法半夏、藿香各錢半，公丁香、枳殼、木香、厚朴，薑汁炒，各一錢，共為細末，用炒神麯，研細，四錢，打糊為丸，如龍眼大，每服一丸，薑棗煎湯化下。如傷肉食者，加楂肉八分，同煎。如傷麵食者，加炒麥芽八分，同煎。</p>
<p>凡小兒服藥不納者，內有蛔蟲在膈間，但於嘔吐藥中：加川椒十四粒，則不吐矣。</p>
<p>小兒乾嘔惡極之證：甘蔗取汁聽用，生薑取汁聽用，臨服用蔗汁六匙、薑汁一匙和勻，隔水略燉溫服之，不用湯調。</p>
<p>傷乳吐，才乳即吐，是為溢乳。宜節其乳，則吐自止。或俟乳消，以煨姜二片、紅棗二枚，煎湯服數匙亦佳。</p>
<p>哯乳吐，時時吐乳而不多，似吐非吐，胃虛故也：六君子湯加藿香、砂仁各六分，煨姜三片，紅棗二枚，煎湯一盅，徐服。或單用煨薑、紅棗煎湯服之亦可。</p>

<h1>泄瀉</h1>
<p><u>神朮散</u>　燥濕理脾，為泄瀉之良藥。兼治嘔吐。</p>
<p>蒼朮（陳土炒，錢半）　陳皮（一錢）　厚朴（薑汁炒）　炙甘草　藿香（各八分）　砂仁（四分）　姜（一片）水煎服。</p>
<p>濕瀉。腸鳴，腹不痛，身體重，瀉如醬色，是濕氣。宜燥滲：用神朮散加連翹、茯苓各一錢。藿亂症瀉水，或兼風水穀混雜，是濕兼寒風，神朮散加木香、炮姜各五分，防風一錢，升麻六分，柴胡六分。</p>
<p>食積瀉。腹痛甚而瀉，瀉後痛減，瀉出酸氣，是食積：神朮散加楂肉、炒麥芽、煨神麯各一錢二分。</p>
<p>痰瀉。時瀉時止，或多或少，是痰積：神朮散加茯苓、製半夏各二錢。</p>
<p>熱瀉。腹痛腸鳴，瀉水，痛一陣，瀉一陣，小便赤，大便老黃色，是實熱。宜清解：神朮散加連翹、梔仁、澤瀉各一錢。</p>
<p>虛熱瀉。前症瀉出淡黃色，是虛熱：神朮散加漂白朮、茯苓、炒白芍各錢半，粉葛一錢。</p>
<p>熱瀉暴注下迫。謂其出物而迅疾也。便黃溺赤，口氣蒸，煩渴少食。宜五苓飲：豬苓錢半，茯苓、澤瀉各一錢，白朮錢半，青化桂去粗六分。加梔仁、藿香各一錢。</p>
<p>虛瀉。脾土虛寒作瀉，所下白色，或穀食不化，或水液澄清，其候神思疲倦，唇口舌俱白色。宜用理中湯或六君子湯，方俱見前「非搐」。</p>
<p>風瀉。色青稠黏。宜用六君子湯，方見前。加柴胡八分，白芍，炒，錢半。</p>
<p>凡大瀉煩躁大渴。其病不論新久，皆用七味白朮散，生其津液。痢疾作瀉亦然。此治小兒泄瀉之聖藥。</p>
<p>人參　漂白朮　雲苓　藿香葉　粉葛（各一錢）　木香（三分）　炙草（五分）</p>
<p>水煎，當茶頻飲，不可別用湯水。</p>

<h2>泄瀉簡便方</h2>
<p>治水泄，或飲食過度，或飲冷水，冒暑而發：生薑，搗爛，三錢，陳細茶三錢，濃煎湯飲，立止。</p>
<p>水瀉不止：蔥姜搗爛，入黃丹為丸，如芡實大，每用一丸，填臍內以膏藥蓋之，即止。</p>
<p>泄瀉因傷濕而起，米穀不化，不思飲食，困弱無力：用土炒白朮、白茯苓各三錢，水煎服。食前飯後腹痛者，加白芍一錢、炙草五分。</p>
<p>泄瀉因於寒者，腹痛，手足冷：胡椒十四粒、生薑三錢、淡豆豉二錢，煎湯熱服。</p>
<p>泄瀉腹痛奇方：用雞蛋一枚，將小頭打一小孔，入胡椒七粒於內，以紙封頂，濕紙包，煨熟，酒送更效。胡椒不吞亦可。</p>
<p>小兒溏泄：柿餅燒熟食之即止。</p>
<p>脾虛久瀉：白朮，土炒；山藥，酒炒；蓮肉，去心，蒸熟；砂仁，酒炒，各一兩。共為細末，以白砂糖二兩和勻，每服一二錢，米飲調下。又方：早米造飯鍋巴，取四兩研末，蓮子去心，蒸曬為末，四兩，白糖四兩，共和勻，每服二三錢，白湯調，日三服。</p>
<p>治泄瀉，並治久瀉如神：車前子，以青鹽水炒，秤過二兩；白茯苓，炒，二兩；山藥，炒，二兩；炙草，六錢。共為細末，每服二三錢，炒米湯調下，烏梅一個煎湯調更好，真神方也。若系久瀉脾虛者，須加白朮，土炒，二兩，方效。</p>
<p>治脾胃虛弱，吐瀉之後，大病之後：用六君子湯去半夏、薑棗，煎服數劑，以調理脾胃。</p>

<h1>傷食</h1>
<p>有寒有熱，有虛有實，有初病有久病。症治俱詳《集成》，茲只錄簡便數條。</p>
<p>治傷冷食及難化之物：用生薑切片四兩、紫蘇四兩，煎濃湯置浴盆，令患者乘熱坐湯，以手揉其胸腹，以熱湯淋之，氣通即化。又方，以生薑搗爛，紫蘇葉搗爛，各四兩，炒熱，分作兩布包，輪流熨胸腹，如冷再炒再熨，神效。</p>
<p>治傷食停積不消：用白酒麴，即釀酒小曲，炒二兩，老麥芽取淨末一兩，共為細末，每服二錢，白湯調下。治果及糯米傷尤效。又方，治脾虛停食，炒白朮二兩，枳實煨一兩，研末，神麯五錢，打糊為丸，每服三錢，米飲下。</p>
<p>治飲食停滯飽悶不消：糯米一升，炒熟，分作二布包，於臍腹輪熨之，助其脾氣轉運，立消。</p>
<p>凡食肉停滯不消：山楂子三十粒，捶碎，煎濃湯飲之，自化。</p>
<p>食犬肉成積：不治則殺人。山楂肉二十四粒，捶碎；杏仁，去皮尖，二十四粒，打碎，濃煎湯飲，數服自化。</p>
<p>食牛肉腹脹不消：干稻草一把，煎濃湯，滾熱飲之，自消。</p>
<p>麵食腹脹：生薑搗汁，沖好酒，熱服即消。生蘿蔔取汁，溫熱服，神效。用蘿蔔子亦可。凡食麵用醋多不作脹。</p>
<p>食菱角腹痛作脹：生薑搗自然汁，以滾湯沖服，立消。</p>
<p>食瓜果生冷太多以致腹脹氣急：青化桂，去粗皮，研細末，以飯搗和丸，綠豆大，每服五丸，稍長者，十丸，水送下，病愈藥停。</p>
<p>凡小兒病，醫症不確，錯用反藥：或煩躁，或嘔瀉，欲解其藥，用黑豆一杯、甘草三錢，濃煎服之效。</p>

<h1>小兒發熱</h1>
<p>醫方論治大緊茲分四大證：一曰表熱，一曰裡熱，一曰虛熱，一曰實熱。證治俱詳《幼幼集成》。</p>
<p>小兒表熱者。發熱時喜人懷抱，畏縮惡風寒，不欲露出頭面，面帶慘色，口不渴，清便自調，吮乳口不熱，或鼻塞流涕，或噴嚏。初起一汗可解用加味香蘇飲，見「誤搐」。元氣怯弱者，加人參、白朮。或用蔥豉湯，熱服取汗亦可。重者用人參敗毒散，方俱見上「誤搐」。風寒發熱兼吐瀉者，系脾胃虛怯，不用發散，用五苓飲煎送理中丸，見「非搐」。</p>
<p>裡熱者。發熱時喜露頭面，仰身臥，揚手擲足揭去衣被，渴欲飲水。吮乳不休者，口渴也。吮乳口熱，小便赤，大便閉，宜解利之：用導赤散，見「初生啼器」，加黑梔仁、當歸、川芎、防風各七分。大便秘者，加莊黃七分。並用罨臍法，或蜜煎導法以通之。若每日巳午時發熱，過夜則退去，此心經血熱也。輕則用導赤散，方見「初生」。重則用四順清涼散，方見下頁，不必加藥。</p>
<p>虛熱者。多從大瀉之後，或溫熱，或潮熱，（如潮汐有期，）或渴，或不渴，神氣困倦，四肢少力，大小便如常，宜補之：四君子湯，方見上「非搐」，加炮姜五分、紅棗肉三枚，以灶心土三兩，化水澄清煎服。有潮熱者，再加酒芍二兩，柴胡、淡竹葉各六分。夜間作熱，旦則退去，是血虛也，六味地黃湯，見下「龜胸」，加炙龜版、當歸、白芍。又，傷寒無汗，發汗熱不退，下之熱仍不退，乃表裡俱虛，宜四君子湯，見「非搐」，加山藥，炒；扁豆，浸去殼，炒，各二錢。</p>
<p>實熱者。面赤腮燥，鼻孔干，喜就冷，或合面臥，或仰面臥，露出手足，揭去衣被，大渴不休，大小便閉。宜微下之：用《集成》沆瀣丹，方見後「痢疾」。或用四順清涼散：杭白芍二錢、當歸、莊黃各一錢，炙甘草五分，加連翹、黃芩、川芎各八分，枳殼、荷葉各四分，檳榔五分，燈草十莖，水煎服。如大便仍秘，再用罨臍、蜜導等法通之。其傷於熱暍、暑濕、疳積等症發熱者，散見各門，並詳《幼幼集成》，可參考焉。</p>

<h1>神授外治法</h1>
<p>疏表法：小兒發熱，喜人懷抱，面帶慘色，口不渴，清便自調，吮乳不熱，或鼻塞流涕，或噴嚏，渾身拘急，此表熱也。以蔥一握，搗爛取汁，少加麻油和勻，於避風處，指蘸蔥油摩運兒之五心頭面頂背諸處，每處摩擦十數下，運完以厚衣裹之，蒙其頭，略疏微汗，使邪氣外出即愈，不可令其大汗。</p>
<p>清裡法：小兒發熱至二三日，邪已入里，或乳食停滯，內成鬱熱，其症五心煩熱，喜露頭面，口渴多啼，胸滿氣急，面赤唇焦，大小便秘，此裡熱也。雞蛋一枚，去黃取清，以碗盛之，入麻油約與雞蛋清等，再加雄黃細末一錢，攪極勻，以婦女亂髮一團，蘸蛋清於小兒胸口拍之，寒天以火烘之，不可冷用。自胸口拍至臍輪，只須拍半個時候，仍以頭髮敷於胸口，以布扎之，一炷香久取下。不拘一切諸熱，皆能退去。此身有熱者用之，若身無熱，惟啼哭焦煩，神志不安，不必蛋清，專以麻油雄黃拍之。乃治危險之症，功難殫述。</p>
<p>解煩法：凡小兒實熱之症及痘疹毒盛熱極，其候面赤口渴，五心煩熱，啼哭焦擾，身熱如火，上氣喘急，揚手擲足，一時藥不能及。水粉一兩，以雞蛋清調勻略稀，塗兒胸口及兩手掌心，復以釀酒小曲十數枚，研爛，熱酒和作二餅，貼兩足心，布扎之，少頃其熱散於四肢，心內清涼，不復啼擾。</p>
<p>開閉法：小兒風痰閉塞，昏沉不醒，藥不能入，甚至用艾火灸之，亦不知痛。生薑一大塊，生菖蒲、生艾葉、生蔥各一把，共入石臼內搗如泥，以麻油、好醋各一杯，同前四味炒熱，布包之，從頭頂背胸四肢乘熱往下熨之，其痰豁然而醒。</p>
<p>引痰法：凡小兒痰嗽，上氣喘急，有升無降，喉中作牽鋸之聲，須引而下行。生白礬研末一兩，麵粉三錢，好醋調和，作二小餅，貼兩足心布包之，一宿其痰自下。</p>
<p>暖痰法：凡小兒胸中有寒痰，不時昏絕，醒即吐出如綠豆粉濃厚而帶青色，此寒極之痰。前法皆不能化，惟用生附子一枚、生薑一兩，同搗爛，炒熱布包，熨背心及胸前，熨完將姜附捻成一餅，炙溫熱，貼於胃口，良久其痰自開。</p>
<p>納氣法：凡小兒虛脫大症，上氣喘急，真氣浮散，不得歸元。吳茱萸五分、胡椒七粒、五倍子一錢，研細末，酒和作餅，封肚臍以帶扎之，氣自順。</p>
<p>通脈法：凡小兒忽爾手足厥冷，用生薑煨熟，搗汁半杯，略入麻油調勻，以指蘸姜油，摩兒手足，往下搓挪揉捩，以通其經絡，俟其熱回，以手拭去之。小兒指紋帶澀，推之不動，急以此法推豁之。不論陰陽虛實，用之皆效。</p>
<p>定痛法：凡小兒胸中飽悶，臍腹疼痛，一時無藥，用食鹽一碗，炒極熱，向胸腹從上熨下，冷則又炒又熨，痛定乃止。</p>
<p>調治法：凡小兒有病，令其本身忌口。乳子即令乳母忌口。嚴戒葷酒油膩酸鹼辛辣之物，及寒暑惱怒房勞，俱宜慎之。若病輕者，得飲清乳一二日，不藥亦愈。凡乳子穀食不宜太早，至於油膩腥膻酒食凝滯難消之物，平日俱宜戒食，病中尤當切忌，慎之慎之。</p>

<h1>痢疾</h1>
<p>症治見前「類搐」，身熱作渴、脈數有力而能食者，為熱；身涼不渴、脈沉無力而不能食者，為寒。初起總不宜用澀藥。</p>
<p>痢疾簡便方：干馬齒莧煮爛，紅痢以蜂蜜拌，白痢以砂糖拌，紅白相兼蜂蜜砂糖各半拌食，一日二次，連湯服之更妙。</p>
<p><u>益元散</u></p>
<p>白滑石（水飛，六兩）　甘草（細末，一兩）</p>
<p>用薑汁打麵粉，糊丸梧桐子大，每服兩錢，白湯下。白痢用益元散二錢、乾薑末二分，煎湯下。紅痢每用二錢，加紅曲末四分，煎湯下。紅白相兼，則每服三錢，加乾薑、紅曲各四分，煎湯下。又方，雞子一個，煮熟去白用黃，擂細，以生薑汁小半盅和勻，與兒服之，不宜吃茶，神效。</p>
<p>久痢不止：紅糖、白糖、飴糖各三錢，甘草一錢，陳茶葉二錢，生薑一片，同煎熟，用紗蓋住，露一宿，次早溫熱服，神效。</p>
<p>治瀉痢：土木鱉一個，母丁香四粒，麝香一分，為末，唾津調為丸如芡實大，納臍中，膏藥蓋貼即愈。</p>
<p>治赤白痢相兼：淨山楂肉，不拘多少，炒研為末，每服一二錢。紅痢蜜拌，白痢紅砂糖拌，紅白相兼蜜糖砂糖各半，拌勻，白湯調服，空心下更效。純白痢屬積寒，宜六君子湯，見上「非搐」，加乾薑一錢、木香五分。</p>
<p>噤口痢不思飲食：以臘豬肉，去肉取骨，鍋內煎濃湯，去油，徐徐服之，極效。又方：細辛五錢，牙皂一錢，蔥白三根，酒藥子半個，大田螺一個，共搗成泥，敷臍上，候乾即去藥，自思食。又方：活蝦蟆一隻，打爛，和好麝香六分同研，貼臍上，用布包緊，半日即能飲食，一二日痊愈。又方：於患者床前烹煮鯽魚，加作料，使聞香味即開，便以此少與食之。</p>
<p>《集成》至聖丹治冷痢久瀉：冷痢有一二年、五七年百藥不效者，一服此即痊。鴉膽子，用小鐵錘輕敲其殼，殼破肉出，其大如米，敲碎者棄去，專取全仁用之。三五歲兒，用二十餘粒。十餘歲者，三十餘粒。大人則四十九粒。取桂圓肉包之，小兒一包三粒，大人一包七粒，緊包訖，空腹溫水吞下，以飯食壓之，俟大便行時有白凍如魚腦者，即冷積也。如白凍未見，過一二日，再進一服，永不發矣。服藥時忌葷酒三日，戒鴨肉一月，從此除根。倘服後次日肚痛，用白芍一根、甘草一根，各重三錢，濕紙包火內煨熟，取起捶爛，煎服立止。愈後宜補脾，六君子湯，見上「非搐」，加砂仁七分。</p>
<p>脫肛，因久痢所致者：水煎蔥頭熏洗，令軟送上。或以五倍子細末，漸漸托入。或用五倍子煎湯洗亦可。或以鮮蚌肉一隻，敷肛門上，即能縮入。或用團魚頭燒灰存性，加冰片二釐，共研，每用二三分，唾津調塗即上。又方，豬脂二兩，煉去渣，入蒲黃末一兩調勻，塗肛即能縮入。外治雖或有效，總宜服補中益氣湯。</p>
<p><u>三仙丹</u>　治痢疾誤投澀藥，閉其濕熱，以此下之，有起死回生之功，勿以常方目之。若非誤投澀藥閉其濕熱者，勿輕用。</p>
<p>五靈脂（一兩）　南木香（五錢）　巴豆仁（四十粒）</p>
<p>將靈脂、木香研為細末聽用。以巴豆剝去殼，取淨肉四十粒，去其肉上嫩皮，紙包水濕，入慢火中，煨極熟，取起，另一棉紙包之，緩緩捶去其油，紙濕另換，以捶至紙上無油，成白粉為度。與前二味和勻，醋打麵糊為丸，綠豆大，以硃砂為衣，曬乾收貯，每服五丸，或七丸、九丸，量兒大小加減。合沆瀣丹二丸同研爛，茶清調服，待下後立愈。</p>
<p><u>沆瀣丹</u>　治胎毒胎熱，面赤目閉，口瘡重舌喉蛾，便閉溺黃，痰食痄腮，火丹風搐諸實症。</p>
<p>川芎（酒洗）　莊黃（酒蒸。各九錢）　黃芩　黃柏（各酒炒、九錢）　黑牽牛（炒，取頭末）　滑石　赤芍　連翹（各六錢）　薄荷　枳殼（麵炒。各四錢半）　檳榔（切，童便洗，七錢半）</p>
<p>共焙乾，研末，蜜丸芡實大，茶湯下。月內之兒，每服一丸，稍大者二丸。</p>

<h2>瘧疾簡便方</h2>
<p>（治瘧九條）</p>
<p>小兒有瘧疾，須常燒檀速香以辟邪，並常熏其衣褓等物，則邪氣易除。</p>
<p>凡瘧疾口渴，不可飲冷水冷茶，並生冷之物。犯之其病益甚，惟以薑湯乘熱飲之最良。</p>
<p>凡瘧疾熱未全退，切不可令其飲食。必須熱已退盡，方可食之，不然終成癖積。</p>
<p>凡服止截之藥，必須餓過發時，不發方可吃粥。食早瘧必再作，下次截藥無靈矣。</p>
<p>小兒邪瘧，其發無時，日期不定，乍早乍晚，或有或無者，以麝香五釐，同好京墨，書「去邪辟魔」四字於額上效。</p>
<p>小兒熱瘧不寒：用穿山甲一兩、大紅棗十個，同燒存性，為細末，每用一錢，發日五更，白湯下。</p>
<p>瘧來寒多熱少，飲食不思：良薑用麻油炒，炮姜，各五錢，共研細末，用豬膽汁和丸，如梧桐子大，臨發之前半時，熱酒送下二錢。</p>
<p><u>止瘧丹</u></p>
<p>生半夏（油炒）　川貝（各二兩）</p>
<p>共研細末，薑汁打糊為丸，五更時，白湯送下二錢。又，臨發時，淡薑湯送下二錢。連服三日效。</p>
<p>小兒久瘧不止：大鱉甲，小者不用，以醋炙枯，研極細末，每一錢，或錢半，隔夜一服，清晨一服，臨時一服，無不斷者。</p>

<h1>消渴</h1>
<p>（三條）</p>
<p>渴而多飲為上消肺熱：天冬、麥冬各三錢，花粉、黃芩、知母各錢半，黃連、黃柏各一錢。</p>
<p>渴而多飲善飢為中消胃熱：生地、麥冬各三錢，山藥、知母、丹皮各錢半，黃連、黃柏各一錢。</p>
<p>渴而小便白濁不禁下消腎熱：六味湯加麥冬、五味子。</p>
<p><u>蠶繭湯</u>　通治三消之症。</p>
<p>用蠶繭，或取絲棉結塊者，每以六錢，水三碗，煎至二碗，時時當茶溫飲，飲至二七，無不愈者。三消雖為火盛水衰，然虛熱者多，實熱者少，勿誤作有餘治之。余見內科。</p>
<p>消渴，日夜飲水無度。豬肚一個，洗極淨，入淡豆豉五錢在內，以綿縫之，煮極爛，取汁飲之，肚亦可食。又方，煮豬血，清湯不入油鹽，多飲極效。豬血能滋陰降火，專走血分，脾氣虛者，間日飲之，恐防作泄故也。</p>

<h2>諸血症簡便方</h2>
<p>凡吐血鼻血以及上下一切血證，用百草霜，掃下研為細末，大人每服三錢，小兒每服一錢，糯米煎湯調下，三服立愈。百草霜，鄉間燒茅草鍋底取之。燒柴炭者勿用。</p>
<p>凡吐血：用藕節七個，水一盅，煎至半盅，加童便一杯對服。又方，每日早，用自己小便，略去頭尾，乘溫飲之。</p>
<p>鼻血不止：用大蒜一枚，去皮，研如泥，作餅子如錢大，左鼻出血，貼左足心；右鼻出血，貼右足心；兩鼻出血，貼兩足心，立時即止，急以溫水洗去，免至足心起泡。又方，亂髮燒灰吹鼻。或以線扎中手指根，左鼻扎左，右鼻扎右，兩鼻出血，扎兩中指。或以梔子燒灰吹鼻內。又方，以韭菜搗汁一杯，童子小便一杯，和勻溫暖服之，血即止。</p>
<p>大便瀉血：用亂油發、雞冠花、側柏葉三味，俱燒灰等分，研極細末，每用一錢，水酒調下。又方，用霜後乾絲瓜壹條，燒灰存性，研末聽用。槐花燒灰存性，研末聽用。每以絲瓜末一錢，槐花末五分，研勻，米飲調，空心服，數次即止。</p>
<p>小兒小便血淋：用雞屎尖白如粉者，炒極焦，研末，每五分，酒調空心服。</p>
<p>周歲小兒尿血：大甘草一兩二錢，水六碗，煎至二碗，服完即愈。</p>
<p>小兒尿血：烏梅燒灰存性，研細末，每次一錢，米飲調下。</p>
<p>小兒大小便血：乃熱傳心肺，不宜涼藥，以生地黃汁五七匙，酒半匙，蜜半匙和服。</p>

<h2>腫滿</h2>
<p>面腫者風，足腫者濕。凡腫自上而起者，皆因於風，其治在肺，宜發散之，香蘇飲合五皮飲。自下而起者，因於腎虛水泛，宜滲利之，五苓飲加防己檳榔。一身盡腫者，或胎稟不足卒冒風寒，或因瘧痢脾虛，皆能作腫。輕者胃苓湯，重者加味胃苓丸。若小兒元氣本虛，大病後渾身浮腫，四肢冷，口不渴，小便清長，大便滑瀉，不思飲食，此陰寒已極，脾胃將絕，一切治腫之藥，俱不可投，惟四君子湯加青化桂、炮薑、白蔻仁，以救其脾胃，庶可望生。</p>

<h2>水腫簡便方</h2>
<p>凡小兒患腫，切須忌鹽，鹽助火邪，服之愈熾，必待腫消之後將一月，以鹽炒過少用之。</p>
<p>治水腫從腳起，入腹則難治：用紅飯豆五升，煮極熟，取湯五升，浸兩膝之下，冷則重暖。若治大腹腫，以紅飯豆湯，日日服之自消。</p>
<p>治腳腫：掘杉木根切斷而內色紅者為油核，方可用，以紅根切碎，煎濃湯，將腫腳先熏後洗即消。又方：以紅糖一大碗，加生薑、生蔥，三味同煎湯，先熏後洗。</p>
<p>頭面手足俱腫：苦葶藶一兩，隔紙炒熟，研細末，以大紅棗蒸過，去核取肉，和前末捶為丸如豆大，每用七粒，白湯下，日三服，五七日則小便多腫自消也。忌鹼酸生冷。</p>
<p>傷寒傷濕腫：羌活切片，萊菔子等分，同炒香，揀去萊菔子，只以羌活為末，每服一錢，初日一服，次日二服，三日三服效。</p>
<p>腫證氣喘：男婦大小，腫因積得，既取積而腫再作，小便不利，切不可再用利藥。蓋中下二焦氣不升降，為陰寒痞隔水遂凝而不通。用熟附子三錢、生薑二錢、沉香三分，同濃煎湯治服。大人則熟附子一兩、生薑六錢，沉香七分，磨濃汁，以姜附對服，不拘劑數，以愈為度。</p>
<p>身面浮腫坐臥不得：取東向桑枝燒灰淋汁，煮紅飯豆數升，每飢即食之，不得別飲湯水。</p>
<p>凡水腫本於脾虛，不能制水：當以參朮補脾為主，脾氣實，則能健運，而水自行，切不可下。</p>

<h1>脹滿</h1>
<p>腹脹氣滿，虛脹，因吐瀉之後，攻下太過，宜厚朴、白朮、陳皮、肉桂、茯苓。寒脹，因中氣素寒，冷滯鬱結，無身熱口渴，面唇青，手足厥冷，氣喘腹脹，先以揭元丸消之，後以異功散調其脾胃。實脹，腹中本有食積，或飲食過飽，固結於中，外證則胃口胸前身熱口渴，倦臥不語，目閉不開，若誤認為慢驚，而用寧神導痰之藥，必死無疑。不知大實有贏狀，急宜下之，用《集成》沆瀣丹、《集成》三仙丹同服。熱脹者，或傷寒熱邪入里，大便閉結，小便短赤，渾身壯熱，面赤煩躁，用《集成》沆瀣丹。又有遍身瘡疥，因淋洗塗搽逼毒歸內而腹脹者，輕則用荊防敗毒散，重則用《集成》沆瀣丹。瘡出脹消者吉，瘡不出者凶，方俱見「痢疾」。</p>

<h2>腹脹簡便方</h2>
<p>治氣脹水脹：用羯雞糞乾者二升，炒焦黃色，出火毒，研細末，以百沸湯三升淋汁，每服一盞，調木香、檳榔末各五分。此中滿盅脹有一無二之方也。</p>
<p>治食脹氣脹：蘿蔔子一兩，研細末，水調濾汁。砂仁一兩，以蘿蔔子汁浸一宿，炒乾，又浸又炒，共七次，為末，每一錢，米飯調服。</p>

<h2>黃疸</h2>
<p>面目指甲俱黃色。其症有二：一曰陽黃，必身熱煩躁，或躁擾不寧，或消穀善飢，或小便熱痛，或大便閉結，脈實而有力，此證不拘外感風濕、內傷飲食，皆能致之。但察兒之元氣尚強、脾胃無損者，宜清火邪，利小便。茵陳五苓飲最穩，或胃苓湯加茵陳。若大便閉結，熱盛者，宜沆瀣丹，見上「痢疾」。一曰陰黃，由氣血敗損所致，喜靜惡動，喜暗畏明，神思困倦，言語輕微，畏寒少食，四肢無力，或大便不利，小水如膏，此乃陽虛之候。宜四君子湯為主，或加炮姜一錢，或加扁豆、當歸各一錢。</p>

<h2>黃疸簡便方</h2>
<p>罨臍取黃法：見「內科黃疸」。</p>
<p>小兒急黃：以絲瓜連皮帶子，火燒存性，研末，每服一錢，米湯調下，連服數次愈。</p>
<p>小兒黃如金色，因積滯凝於脾家：以稻草煎濃湯飲之數次效。又方：取山間薏苡仁根，洗極淨，煎湯服之自愈。</p>
<p>治濕熱發黃：生薑半斤、茵陳半斤，同搗爛，以布包好，時時周身擦之，其黃自退。</p>

<h1>腹痛</h1>
<p>上焦痛者，在膈上，是胃脘痛也。中焦痛，在中脘，脾胃間病。下焦痛，在臍下，肝腎間病也。凡可按者為虛，拒按者為實。久病多虛，暴病多實。得食稍減者，為虛；脹滿畏食者，為實。痛徐而緩，莫得其處，為虛；痛劇而堅，一定不移，為實。</p>
<p>夾冷痛：面色或青或白，冷甚者，面色暗淡，唇口爪甲皆青，喜熱熨，此脾氣虛寒之極。輕者用當歸、青化桂、人參、土炒白朮各一錢，木香、炙草各五分，大棗六枚，生薑三片，水煎溫服。寒甚者，用六君子湯加青化桂一錢，砂仁、白蔻仁、良薑各六分。若生冷果菜停積中焦，腹痛泄瀉嘔惡者，再加煨神麯錢半，公丁香、木香屑各五分。泄瀉不止者，再加肉豆蔻，去油，八分。</p>
<p>夾熱腹痛：面赤壯熱，四肢煩，手足心熱。用四順清涼飲。白芍二錢，當歸、錦莊黃各一錢，炙甘草五分，水煎熱服。若大便調者，只用白芍一根，重三錢，甘草一根，重二錢，用紙七重包之，小濕，慢火煨熟，取起捶爛，煎湯服。若寒加肉桂五分尤妙。後方名芍藥甘草湯，一切腹痛者皆治，惟寒者宜略加肉桂。</p>
<p>食積痛：口中氣溫，面黃或白，目無精光，或白睛多，喜眠惡食，大便酸臭。輕者，用山楂肉二錢，廣皮、半夏姜炒、茯苓各一錢，神麯煨、蘿蔔子各錢半，加厚朴姜炒、檳榔炒各七分，水煎服數劑。重則用三仙丸，見「痢疾」。</p>

<h2>腹痛簡便方</h2>
<p>治一切胃痛胸痛腹痛腰痛疼如錐刺不可忍者：花椒不拘多少，研末，和少麵粉，醋和成餅，貼於痛處，上鋪艾絨，用火灸之，痛立止。又治一切腹痛方，用小麥稈燒灰，置地出火毒，將篩盛之，滾水淋汁服。</p>
<p>一切疼痛或寒或熱或積食或積血，證莫能辨，藥不能施，有起死回生之妙：用生薑一斤，搗爛略擠其汁，入鍋內炒熱，用布分作二包，先以一包熨痛處，冷即換熱，勿令間斷，如姜已干，略加前汁拌之，又炒又熨，痛止乃已。</p>
<p>凡小兒腹痛摸其肚有一塊梗起者蟲痛也，不須服藥，惟令大人以手擦揉其塊處，久久揉之，半日許其蟲將死者，從大便而出，痛立止。</p>
<p>小兒腹痛啼哭不止：用南木香、明乳香、黑沒藥，俱去油，各五分，水煎溫服。又方：用乳香一錢，去油，燈花七粒，同為末，每二分，乳汁調服。</p>
<p>小兒胎寒腹痛，啼哭吐乳，大便青色，身出冷汗：用薑黃一錢，南木香、乳香、沒藥，俱去油，各三錢，其為細末，蜜丸芡實大，每服一丸，薑湯調下。又，理中湯亦佳，見上「非搐」。</p>
<p>小兒盤腸氣痛，月內之兒多有之，其證腹內如蛙聲啼哭不止者是也。蓋寒熱不和，臟氣不行：用梔仁五錢、附子三錢，同炒極枯，取起揀去附子不用，單取梔仁，加入白芷一錢，為末，每五分，小茴湯下。又方：濃煎蔥湯澆洗兒腹，仍搗蔥炒熱，作餅貼臍上，良久屎出即愈。</p>
<p>小兒蟲痛口流涎沫：使君子取肉，微炒為末，五更時，米飲調下。</p>
<p>小兒腹痛一痛即死者，名為蟲痛：用乾薑（燒灰）、白蕪荑二味，等分為末，母五分，米飲調下。證重者，每服用一錢。下蟲方，見下頁。</p>

<h2>小兒癖積簡便方</h2>
<p>治癖積心腹，內結如拳，及臍腹痛不可忍：用莊黃一兩（酒蒸），炮姜五錢，附子五錢，九肋鱉甲八錢，用好醋將鱉甲煮一時久取起，酥炙黃色為度，共為細末，用三年老米醋一升熬至半升，和前末為丸，綠豆大，每服十丸，空心米湯下，取下積如魚腦敗血爛肉青泥即愈。後用補脾調理。按：此方藥廉功大，比消癖丸力勝十倍，允稱神妙。</p>
<p>小兒痞塊肚大，肌瘦面黃：白芙蓉陰乾，研末，入雞肝內扎合，飯上蒸熟食之，七八次愈。</p>
<p>小兒好食茶葉成癖：用鮮榧子一斤，空心、晌午、黃昏，每服十四粒，吃完即愈。榧子，京果鋪有賣。</p>
<p>小兒好食泥土及肚脹：用好黃土，濃煎黃連，取清汁，和餅食，效。又，日與芝麻三錢，加雄黃末二分，食之，白湯送下。</p>
<p>小兒食積結痞塊：用大紅棗一斤，皮硝一兩，同煮，以水乾為度，曬乾，每日食此棗，徐徐服之自消。</p>
<p>小兒積久而成鱉腹內有形，擺頭掉尾，大者如杯，小者如錢，上侵人喉，下蝕人肛，或附脅脊，或隱腸腹：用生硫黃，研極細末，每日老酒調服一錢，空心下，久服自化。硫黃鬚色如初出鴨雛者，方可用。帶青、帶赤、帶黑色者，皆不堪用。此物最平穩，多服無疑。</p>

<h2>下蟲簡便方</h2>
<p>凡小兒肥甘過度，或糖食甜物太多，乃致濕熱久停而成積，積久生蟲，時發腹痛，以手摸之，腹內有塊，或一條梗起。外症唇紅面白，六脈浮洪。其痛時作時止，痛止即能飲食者，蟲痛無疑。又有腹痛，一痛即死者，亦是蟲痛。欲去此蟲，用苦楝根皮，誠天下打蟲第一神方。其法於月初旬，蟲頭向上之時行之。先夜掘苦楝根，須取每年結子者，方是母樹。其根浮於土面者有毒，不可用。專取土中者，洗淨泥土，以刀刮去紅皮，只取白皮，四五錢。兒大者，六七錢。切碎聽用。次早以油煎雞蛋，令兒嗅之，以引其蟲頭向上而求食。另於別室，以水一盅，濃煎苦楝皮湯一小杯，不可使兒聞其藥氣，一聞其氣，蟲即潛伏矣。俟藥熟，以雞蛋與兒食，即服藥，半日不可飲食，俟蟲下後方飲食之。服藥後，兒似困頓，萬萬放心，蟲下後，精神如舊。仍當急為健脾，庶蟲不復生，永無患矣。蟲症，輕者以使君子肉二錢，糖水炒，於初旬飢時服之三次，亦可打下蟲。又方：使君子（炒）、榧子（去殼）各十枚，檳榔、甘草各一錢，為末，和飯搗為丸，如梧子大，於上旬日，每早空心服十丸，五日蟲盡下。凡去蟲後，總宜服六君子湯加川椒八分、烏梅一個，數劑蟲不更生。</p>

<h2>汗證簡便方</h2>
<p>凡男婦小兒及產母，一切虛證，偶然大汗，諸藥莫能止者，蓋由玄府大開，一時難閉，所以服藥不能止。先將五倍子末，醋調作小餅子貼臍上，以布扎之，然後以舊蒲扇燒灰，多加糯米粉和勻，以夏布袋裝之，自頭至足遍身輕撲之，使其粉入毛竅，玄府自閉，虛汗即止，神治也。</p>

<h2>疝氣簡便方</h2>
<p>治小兒疝氣腫痛：用荔枝核，炒焦，五錢，大茴香，酒炒，二錢五分，共研細末，每服一錢，溫酒調下。</p>
<p>又方：不論小兒及男婦一切疝氣以及諸般氣痛，用荔枝核四十九個，炒焦留白，陳皮九錢，生硫黃四錢，共為末，鹽水打麵糊為丸綠豆大，遇痛時，空心服，研送九丸，良久再進一服，不過三服全效。</p>
<p>小兒腎腫硬痛：橄欖核、荔枝核、山楂核，三件等分，俱燒過存性，研末，每服一錢，空心，小茴香湯送下。</p>
<p>小兒疝氣痛：全蠍不拘多少，炒焦為末，每三分，小茴香煎湯送下。</p>
<p>小兒冷疝作痛、陰囊浮腫：川楝子去核，五錢，吳茱萸二錢五分，炒研為末，酒打麵糊為丸小豆大，每服十丸，鹽湯化下。</p>
<p>小兒疝久陰囊堅硬如石，名為木腎：用栝蔞連皮帶子二錢，蓽茇二錢，生薑二錢，蔥白二錢，酒煮熱服，被覆暖臥取汗效。</p>
<p>小兒濕地上坐或有蚯蚓吹其卵腫大而垂者：以鹽湯浸洗之。或以蒼朮煎湯，加鹽少許洗之效。或用鴨一隻，以箸橫擱鴨口，令含其卵，吹氣滴涎即效。陰莖腫痛，燈草煎湯，時時服之，腫消痛止。</p>
<p>小兒陰囊生瘡濕爛者，謂之脫囊：用紫蘇，研極細末敷之，以荷葉包住。或用主荷葉，以火烘軟包之，雖卵丸露出亦可治也。陰囊腫痛，用蟬蛻一兩，煎湯洗，以紫蘇葉搗如泥包之即愈。余詳「外科」。</p>
<p>小兒外腎臊臭，時復濕癢：用柴胡、澤瀉、車前、木通、生地各一錢，歸尾六分，龍膽草五分，水煎服，以飲食壓之。外用荷葉一片、胡椒十粒，打爛煎水洗之自效。</p>

<h1>小兒龜胸龜背</h1>
<p>取龜尿摩其胸背，久即瘥。法取龜置瓦盆中，以鏡照之，即失尿，急以物收之。或以豬鬃刺其鼻即尿。龜胸者，肺熱作脹，胸骨高起，有用桑皮錢半、地骨皮一錢，合白虎湯：生石膏四錢、知母錢半、糯米一撮、甘草五分，服數劑。間用六味丸加龜鹿二仙膏而見效者。氣喘則難治。龜背不可治，因稟賦不足，惟常服六味地黃湯加桂附、及十全大補湯加鹿茸龜版為丸，俟長養氣血，再用外治之法，庶可十全二三耳。</p>
<p><u>六味地黃湯</u></p>
<p>熟地（四錢）　山藥　茯苓（各二錢）　山茱　丹皮　澤瀉</p>
<p>再加肉桂、附片各一錢，名八味地黃湯。</p>
<p><u>十全大補湯</u></p>
<p>人參　白朮（土炒）　熟地　當歸（各二錢）　茯苓　酒芍　川芎　炙草（各一錢）　炙黃耆（三錢）　肉桂（去粗，八分）</p>
<p>加重等分，可用煉蜜為丸。</p>

<h2>二便不通簡便方</h2>
<p>症治並詳「內科」。</p>
<p>罨臍法：治中下二焦熱，大小便秘。連須蔥七根（不洗），生薑一大塊，淡豆豉三錢，同搗爛，作一餅，入銚子烘熱，掩肚臍，以帛扎定，良久氣通，二便自利。</p>
<p>蜜導法：治二便不通。用冬蜜八兩，煉至滴水成珠不散，入皂角細末二錢，和勻，稍冷，捻如小指大一條，外以蔥涎塗上，輕輕插入穀道中，氣通則大便行而小便亦利矣。又方：豬膽一個，以小竹筒套住，蘸蔥涎插入穀道七八分，用手擠膽汁入內，移時即通。</p>
<p>大小便不通經二三日危急者：以皂角燒灰研末，米湯調下二錢，立通。又方：以小竹筒抹以蔥涎，插入穀道，以芒硝五錢，研細，香油半盞，皂角末少許，令人口含灌入穀道中，少時即通。</p>

<h2>小便簡便方</h2>
<p>（三條）</p>
<p>凡小便不通服藥無效：用商陸五錢，研末，入麝香少許，先以舊夏布蓋於臍上，將藥放布上，藥氣入腹即通。</p>
<p>小便數日不通，遍身手足腫滿，諸藥不應者：用蘇葉一斤，煎濃湯，入腳盆內，令患者坐盆上熏之，冷則又添熱湯，外用炒鹽熨臍上及遍身腫處，良久便通腫消而愈。又方：用連須蔥白一斤，搗爛炒熱，分作二處，各以布包，輪轉熱熨臍下即通。又方：用食鹽半兩，調溫水服之，良久以指入喉中探吐，一吐即通。蓋上竅不通，下竅閉也。又方：以皂角末少許，吹入鼻內，得嚏即通。</p>
<p>小兒小便白濁色：生懷山藥為末，和粥食數次即愈。澄之旋變白色者，脾虛有食積，用異功散，見「非搐」，加神麯、山楂肉。</p>

<h1>頭縫不合</h1>
<p>（三條）</p>
<p>封囟法：頭縫不合，名曰解顱。天南星，不拘多少，以薑汁炒熱，研細末，醋調塗於絹帛上，烘熱貼囟門，惟以合為度。</p>
<p>小兒囟陷如坑，由久病真元不足，氣血兩虛，大凶之候：速宜十全大補湯加鹿茸薑棗煎服，外用狗頭骨，炙黃為末，雞蛋清調敷效。</p>
<p>小兒解顱，或因病後，忽然囟門寬大，頭縱四破，此腦髓不充，大虛之候：用鹿茸、防風、白芨、柏子仁四味，各五錢，其為末，乳汁調作餅，貼囟門上，一日一換，以合為度。</p>
<p>小兒語遲：六味丸加五味子、鹿茸。間服炙耆、黨參各錢半，炙草、白朮各一錢，陳皮、歸身各五分，升麻、柴胡各三分。</p>
<p>小兒行遲，四五歲不能行：用六味地黃丸加鹿茸、牛膝、五味子、五加皮，久服自效。又方：五加皮五錢，牛膝酒炒、木瓜各二錢五分，共研末，每用一錢，米飲調下效。</p>
<p>小兒鶴膝：宜六味地黃丸加當歸、牛膝久服。仍以天南星為末，醋調烘熱貼之良。又，萬全膏、大附子膏，均可貼，見「外科」。</p>

<h2>眼目簡便方</h2>
<p>治目生胬肉，赤脈貫瞳，白膜遮睛，諸般雲翳：用白丁香，即麻雀屎也。倒者為雌雀屎不用，取豎立者，雄雀屎也，不拘多少，研末水飛過，如飛硃砂樣，渣滓不用，俟藥澄底，傾去清水，曬乾，每以些微同乳汁研化，點翳上，其翳自去。取麻雀屎，寺院中及城樓上多有之。</p>
<p>赤眼腫痛：用朴硝一撮，以碗盛新豆腐一厚塊，挖一大孔，勿穿，將朴硝放豆腐孔內，飯上蒸之，俟硝已化，去豆腐不用，取汁洗眼數次自愈。宜先服敗毒散，見「誤搐」，加赤芍、木賊各一錢，蟬蛻七個，再用洗藥，勿遽點藥，下同。</p>
<p>火眼及風熱眼：生南星五錢，紅豆飯五錢，共為末，取生薑自然汁，調作一餅，貼兩太陽穴效。</p>
<p>火眼痛極：用大紅棗，取肉，五六枚，蔥三四根，共捶如泥，作二小餅，閉目貼之，令其發散。以小兒自己熱尿洗數次效。</p>
<p>小兒眼生白點：取桑汁，以燈芯點之即愈。</p>
<p>治爛弦風最效方：用鮮色銅綠三錢，研細末，以生蜂蜜濃調，塗粗碗內，要調略干，稀則少時流出矣。用艾燒煙，將碗覆艾上，煙燻之，須熏至銅綠焦黑為度，取起冷定，以乳汁調勻，飯上蒸過，每用少許，搽眼爛弦處，神效。</p>
<p>治眼毛倒睫不起：用五倍子為細末，蜜調敷眼皮上，其睫自起。又方：以無名異為末，紙卷作捻，點火吹滅，閉目熏之，睫自起。</p>
<p>赤眼腫痛不消：以精豬肉，切一片如指甲大，以水洗淨其血，貼於眼皮上，良久易一片，即愈。</p>
<p>小兒眉叢生瘡：用穿山甲前膊二甲，炙焦為末，入輕粉少許，清油調敷即愈。又方，蒜瓣燒灰，清油調搽，亦妙。</p>

<h2>耳病簡便方</h2>
<p>治小兒聤耳，流膿出汁：海螵蛸、白明礬、真鉛丹，炒，以上各三錢，胭脂燒灰一錢，麝香五釐，其為末，以棉搌干耳內濃汁水，用小竹筒吹藥數分入耳，效。</p>
<p>治小兒耳忽暴聾：雄磁石，煅，一錢，真麝香五釐，共為細末，以棗研爛，和為一丸，如棗核大，綿裹塞耳中，即以生鐵一小塊，熱酒泡過，含口內，須臾氣即通矣。</p>
<p>治小兒無故耳聾：取龜尿滴入耳中效。或以生麻油，日滴三五次，數日即愈。</p>
<p>耳內腫痛流膿出水，用虎耳草，又名倒垂蓮，搗取汁，多灌入耳中，常常用之，此治耳聾之妙藥。略加枯礬更妙。又方：用蛇蛻燒黑存性，研末，吹入耳中即愈。又方：用千層石榴花，焙乾為末，以小竹筒吹入耳內效。</p>
<p>耳前後生瘡：黃柏、枯礬、滑石、龍骨、海螵蛸各等分，共為細末。如濕用干搽，如干用清油調敷，神效。</p>
<p>耳外生瘡：用黃丹一錢，松香八分，輕粉一分，共為細末，香油調搽。小兒耳後生瘡，為腎疳，以地骨皮研末，篩出極嫩者，香油調搽，其粗末煎水洗之。</p>
<p>諸蟲入耳：取貓尿滴入耳中，其蟲自出，若用麻油滴之，則蟲死難出。取貓尿法，以生薑擦其鼻，則尿自出。</p>
<p>諸惡蟲入耳：用稻草燒灰淋汁，滴入耳中，其蟲即出而死也。</p>

<h2>鼻病簡便方</h2>
<p>治乳子鼻塞不能吮乳：香附米、正川芎、荊芥穗、直殭蠶、北細辛、豬牙皂各五錢，共為細末，以蔥白搗成膏，每用藥末五錢，與蔥膏和勻，攤軟帛上，臨臥烘熱，貼兒滷門上，早晨取去。</p>
<p>治小兒鼻中出血：黑梔仁、亂油發，燒灰存性，等分，共為細末，以些微吹鼻中。又法：用涼水浸紙搭鼻，並以涼水浸手巾搭頸後，仰臥得效。又，以紙卷蘸香墨塞鼻中，須臾即止血，甚效。</p>
<p>鼻疽破爛：用杏仁，去皮尖，搗碎，以紙包壓去油，以成白粉為度，每杏仁末一分，對真輕粉一分，和勻吹患處。</p>
<p>鼻流清涕不止，名曰鼻淵，乃風熱在腦故也。用蒼耳子（炒）、辛夷、杏仁、白芷、薄荷等分，為末，每用一錢，臨臥蔥湯調服，但不以劑數，擬以愈為度。</p>
<p>鼻流臭黃水，名控腦沙：用紫貝子，俗名南蛇牙齒，粵人呼為狗皮螺，取二三枚，火煅醋淬，為末，紙包放地上去火毒，每服一錢，大人二錢，以絲瓜藤煎湯調藥，空心服，以愈為度。</p>
<p>鼻被擦爛或擦落：急以貓兒頭上毛，剪碎以唾津調敷之自愈。</p>
<p>疽瘡蝕鼻破爛不堪：用五倍子，燒灰存性研末，以臘豬油塗之。</p>

<h2>口舌牙疳咽喉簡便方</h2>
<p>口舌牙疳並見上。</p>
<p>口舌牙疳喉痛並用方：甘草、桔梗各三錢，連翹、山梔、荊芥穗、花粉各一錢，薄荷三分，煎湯徐含服。</p>
<p>治小兒鵝口瘡：箭頭砂、枯白礬、明牙硝各五錢，共為細末，每用三五分吹之。</p>
<p>口疳：甘蔗皮燒灰研末吹之效。</p>
<p>口瘡破爛並治咽喉喉癬喉癰：用鳳凰衣，即伏雞子殼內皮也。微火焙黃，橄欖燒存性，兒茶，三味俱等分，共為末，以一錢為則，加冰片五釐，口疳搽患處，喉病吹入之，便能飲食。</p>
<p>口瘡久不愈虛火也：用生附子一個，切，焙為末，醋和作餅，男左女右，貼腳心，引火下行自愈。</p>
<p>口瘡不能飲乳藥：密陀僧研末，醋調，塗足心，愈即急洗去。又方：桑樹皮中白汁，搽患處。又方：人中白，煅研吹之俱效。</p>
<p>小兒口角生瘡，名燕口瘡：以亂髮燒灰存性，米飲調服，外即以此渣敷之。又方，蒸飯時收甑蓋上流下氣水搽之即愈。</p>
<p>口唇腫黑癢痛不可忍：先以瓷鋒砭去惡血，以古銅錢磨豬油塗之效。</p>
<p>治走馬牙疳及各樣口疳：多年田野中白螺螄殼，研爛，少加兒茶，共為細末，吹患處即效。</p>
<p>走馬牙疳：急用大針縛箸上，露鋒一分半，將牙齦白點挑破出血，要擠出白點如半粒米者，擠盡用青絹絞淨，以薄荷湯磨好京墨，遍塗滿口，勿即令乳，睡片時即效，較諸藥更捷。</p>
<p>小兒螳螂子方：按小兒口內生黃馬牙，口噤煩睡，諸書並無割之一法，今吳俗盛行此風，忍以赤子之頤，就好婦之刃，每至割斃，不知歸怨，茲特錄簡易良方，以告同志。</p>
<p>麝香（一分）　硃砂（五分）　螺螄（七個）</p>
<p>同搗如泥，塗囟門上，陰乾自落，切勿剝去。若症重者，將針微刺患處出血，即用京墨磨搽，立愈。</p>
<p>治牙齦潰爛，諸藥不效者，用鹽欖二三個，連皮帶核，火中煅過，存性研末，加冰片七分，香油調搽，神效。</p>
<p>走馬牙疳臭爛出血：紅棗三枚，去核，以明雄黃研末，填滿棗內，新瓦盛之，火煅存性，研末搽之。又方，鳳凰衣，即伏雛蛋殼內皮，未見水者，焙乾，少加枯礬，共為細末，搽之效。又方，青黛水飛、黃柏、枯白礬、五倍子各一錢，共研細末，先以米泔漱口，搽之自愈。</p>
<p>治口疳瘡及咽喉疼痛：用吳茱萸二兩，研末，少加麵粉，醋調作二餅，貼兩足心，以布扎之，過夜即愈。內服加味甘桔湯，見上。外用百草霜、蒲黃、薄荷、青黛水飛，少加冰片，吹之尤效。</p>
<p>治重舌、木舌、腫滿強痛，或痛不止，不能言語：用粗針，以線扎箸頭上，刺患處，甚者數十次為妙，只刺舌尖及舌兩旁，其舌中心及舌下切不可針，犯之令出血不止。其刺出之血，以紅色者毒輕，紫色者為重，黑色者最危。仍以蒲黃研末，搽舌上即消。又方，刺出血後，以生蒲黃、海螵蛸，共為末，搽之即消。</p>
<p>舌忽脹大腫硬即時氣絕，名為翣舌：用皂礬，不拘多少，新瓦上以火煅變色為度，放地上候冷，研末，搽舌上立消。治重舌木舌皆效。</p>
<p>舌腫滿不能出聲：以梅花冰片，研爛敷之。或以食鹽、百草霜，共為末，並水調敷立效。亦宜刺出血，以蒲黃、海螵蛸搽尤效。</p>
<p>絆舌者，舌根下有筋一條，絆其舌尖，令舌短縮，不能吮乳，宜精細看明，見舌根下有筋如線牽絆其舌者：用針輕輕挑破之，挑時但挑此筋，切不可誤傷舌根，慎之。</p>
<p>舌斷能重生：用活蟹一隻，炙乾為末，敷之。此方至神至驗。</p>
<p>治小兒胸膈積熱，致生風痰，而患喉痹：用粉甘草四錢、牙桔梗四錢，以淨水煎，細細嚥之。加牛蒡子、荊芥穗、川貝母、天花粉各一錢，尤效。外方：用燕子窩泥、雄黃各等分，堆花燒酒調敷咽喉外兩旁即愈。</p>
<p>咽喉內生瘡，鼻孔內亦爛，若作喉風治，立死：用白霜梅一個，燒存性，枯礬一錢，山甲炙枯一錢，共為細末，吹喉中，神效。</p>
<p>小兒鎖喉方：用芙蓉葉搗汁，煎雞蛋兩個，一貼囟門，一貼肚臍即愈。又方，黑鯇魚膽一個，入糯米在內，吊檐前陰乾，遇此病取米七八粒，研末，以小竹管吹入舌上。</p>
<p>喉瘡已破，瘡口疼痛，難進乳食：用豬腦髓蒸熟，姜醋調和服之自愈。</p>
<p>咽喉中結核，不通飲食，危困欲死：用茅柴灶內百草霜，以蜜和為丸，如芡實大，每用一丸，白湯化開灌之，甚者不過二次效。</p>
<p>誤吞針：用磁石研末，以黃蠟溶化，和丸如豆大吞下，針共丸藥同從大便出。又方，蠶豆煮熟食之。又，韭菜略煮食之。</p>
<p>誤吞銀錢金銀釵環之類：只以米糖水灌之，久之自出。</p>
<p>誤吞銅錢：生慈菇搗汁，多飲自然愈。</p>
<p>凡諸骨哽喉：谷樹葉搗爛取汁服，其骨自下。</p>
<p>誤吞鐵物：以木炭一兩，研細，分兩次煮粥食之，效。</p>

<h2>丹毒</h2>
<p>（十四條）</p>
<p>總治十種丹毒：北防風、黑梔仁、麥冬、荊芥穗、粉乾葛、薄荷、木通、苦參、牛蒡子，以上各一錢，升麻七分，甘草五分，燈芯十根，水煎熱服。便秘，加大黃一錢利之，並用外導法亦可。</p>
<p>瓷針砭法：用上清瓷器輕輕敲破，取其鋒銳者一枚，將箸頭劈開，橫夾磁針，露鋒於外，將線紮緊，以瓷鋒正對丹毒之處，另用箸一條，於瓷鋒箸上輕輕敲之，其血自出，多刺更妙，毒血出盡，立時見功。治丹若不砭去惡血，專用搽敷，十不救一。</p>
<p>飛灶丹：從頭頂起腫，然後散開。先用蔥白搗取自然汁塗之效。</p>
<p>走灶丹：從頭頂起紅腫，痛苦異常。用紅飯豆研末，雞蛋清調塗。</p>
<p>鬼火丹：從面部起紅腫。用灶心土研為細末，雞蛋清調塗。</p>
<p>天火丹：從背上起赤點。用桑白皮，切碎焙乾，為細末，羊油調塗。</p>
<p>天灶丹：從兩臂赤腫黃色起。用柳木燒炭研末，淨水調塗。</p>
<p>水丹：先從兩肋起赤腫。用多年鏽鐵磨濃汁，豬油調塗。</p>
<p>葫蘆丹：先從臍下起。用尖檳榔切碎，焙乾研末，米醋調塗。</p>
<p>野火丹：先從兩腳起紅腫。用乳香去油研末，以羊油調塗。</p>
<p>煙火丹：從腳背上起紅腫。用豬槽下土研末，麻油調塗。</p>
<p>胡漏丹：從陰囊下起紅脈。用門檻下千腳土研末，羊油調塗。</p>
<p>更有胎毒重者，遍體皆是：速用芸臺子，即油菜子也。秤過一兩，酒渣一大壺，和餅，濾去渣，取酒復煎數沸，不拘時溫服一盞。又方，取芸臺菜葉搗爛敷之，隨手即消。如無生菜，乾者為末，水調敷。凡丹毒遍身，或連腰周匝，百方不效者，惟此最神。</p>
<p>小兒赤丹：用精豬肉，切薄片貼之，重者貼二次即愈。</p>

<h2>小兒癬疥方</h2>
<p>用藁本一二兩，煎湯洗浴，並浣衣尤妙。</p>

<h1>破傷風</h1>
<p>小兒或因跌撲，或刀斧破傷，風邪暗襲，傷處發腫，謂之破傷風。速宜治之，不然則發痙矣。內服疏風活血散，外以紫金錠一塊磨水塗之。</p>
<p><u>疏風活血散</u>　治小兒出血破傷風，已痙未痙者。</p>
<p>全當歸　懷生地　赤芍藥　北防風（以上各一錢二分）　鮮紅花　正川芎　廣蘇木　炙甘草（以上各六分）　生薑（三片）　大棗（一枚）　水煎熱服。</p>
<p><u>紫金錠</u></p>
<p>山慈菇（三兩）　五倍子（三兩）　紅芽大戟（去蘆，一兩五錢）　明雄黃　鏡辰砂（各五錢）　真麝香（三錢）</p>
<p>共為細末，糕米飲和藥搗干，錘為錠，磨水塗之。</p>

<h1>瘰癧</h1>
<p>（四條）</p>
<p>忌刀針，宜用消瘰丸，並貼萬全膏。俱見內科並外科。</p>
<p>馬刀生耳之前後，有瘡作核如杏核，大小不一，名馬刀瘡，為瘰癧之根：用桃白皮，切三指大一塊，刮去外皮，留內一層，貼瘡上，以艾炷於桃皮上炙之，覺極痛即止，毋令傷皮，明日又炙，不數次而核消矣。</p>
<p>治小兒瘰癧未潰者，令內消；已破者，能收口，服此一月痊愈：用直殭蠶半斤，先用清水洗三次，去石灰淨，曬乾炒枯。另將晚禾米半斤，炒極熱，共研細末，米糊為丸，重一錢一個，每日空心服，以夏枯草煎湯下。兒大者二丸，小者一丸，研爛調服，常須以甘肥葷潤之物滋澤之。</p>
<p><u>紫霞膏</u>　治瘰癧未成者，貼之自消；已成者，貼之自爛；已潰核存者，貼之自失。並治諸色頑瘡破爛不愈疼痛不已者俱效。</p>
<p>明淨松香（一斤，研末）　鮮色銅綠（二兩，研末）</p>
<p>以真麻油四兩，先煎數沸，下松香熬化，次下銅綠，煎至白煙將盡，膏已成，退火傾入瓷罐收貯，用時將熱湯熔開，旋攤旋貼之。</p>
<p>專治瘰癧破爛，多年不愈，連及胸腋：用新出窯礦石灰一塊，滴水化開成粉，用生桐油調勻，乾溼得中，先以花椒蔥煎湯，洗淨其瘡，以此塗之，不數日痊愈，真奇方也。</p>

<h1>小兒痄腮腫痛</h1>
<p>用橄欖核，醋磨濃汁，以鴨毛蘸塗數次即效。</p>
<p>小兒毒氣攻腮，赤腫可畏：皂角二兩、生南星二錢、糯米一合，共為末，薑汁調塗，立效。余詳外科。</p>

<h1>蟮⿰虫匝病頭</h1>
<p>蟮⿰虫匝頭，一名蟮黃頭：在小兒頂心腫起，先白後紅，如不治，愈黃愈多，旁添小者，如百鳥朝王。照其腫之大小，用枳殼半個，去瓤，以生灰面調為糊，塗在枳殼沿上，如道冠一樣戴在毒上，其毒水自能吊出。俟其脫下，其腫處小，再用小枳殼半個，如前法糊面戴之，水亦干矣。俟其自脫，不過六七日，腫平而發茸茸矣。又方，活蝦蟆一個，剝一整皮貼瘡上，奇效。又方，大蛙肉搗爛，加冰片少許，攤患處立效。</p>

<h1>楊梅瘡</h1>
<p>（二條）</p>
<p><u>胡麻丸</u>　小兒梅瘡，最為惡候。倘發於一二月間，或半周之內，最為難處，以其毒稟先天，方藥一時難及也。宜先用胡麻丸。</p>
<p>苦參（五錢）　首烏（蒸）　胡麻（炒）　蔓荊子（炒）　威靈仙（炒）　荊芥（焙）　皂角刺（炒，各三錢）　石菖蒲　白菊花（各二錢）</p>
<p>共為細末，酒打米糊為丸，每三錢，量兒大小，竹葉煎湯下。服至三七之後，方用點藥，不三日而瘡盡愈。惟點藥不可太早，恐內毒未盡也。</p>
<p>梅瘡點藥：必須服胡麻丸二十一日之後，方可用之。北杏仁一兩半，熱湯泡去皮，以綿紙包之，木錘緩緩捶去油，必數十換紙，方得油淨，以成白粉為度，謂之杏霜。每杏霜一錢，加入真輕粉八分、雄黃一分，先以槐花煎濃湯將瘡洗淨，瘡濕則以藥干搽之，瘡干則以豬膽汁調搽，三日痊愈。</p>

<h2>瘡疥雜方</h2>
<p>凡半周一歲乳子，偶患瘡瘍，必須先服解毒之藥一二劑，然後稍用外治，無不愈者。倘不先解毒，而遽爾妄用搽敷，必致逼毒入內，反為大害，以致難治。慎之!</p>
<p><u>解毒湯</u></p>
<p>羌活　防風　赤芍　當歸　生地　黨參　木通　荊芥穗　連翹　黃芩　玄參（各一錢）　升麻　甘草（各五分）　燈草（十根）　水煎服。</p>
<p>大便閉結，加熟大黃一錢方效。</p>
<p><u>治疥瘡效方</u></p>
<p>大楓子肉（三錢）　輕粉　明礬（各五分）</p>
<p>共為末聽用。先以臘豬肉二兩，麻黃五錢，入鍋內同熬，以麻黃黑色為度，濾去渣，冷定調前末藥搽之，甚易取效。</p>
<p>熱毒瘡疥：用生石膏、生硫黃、陳細茶各二錢，共為末，以生豬油和藥，搗勻搽之。</p>
<p>一二三歲遍身生瘡：真麻油浸紫菜錢半搽之，須搽好一處再搽一次，勿使通身搽遍。</p>
<p>治癩痢白禿頭瘡方：雞蛋十個，去殼攪勻，入小鍋香油蕩成一餅，乘熱蓋頭上，一時許蛋冷取下，又將上面用油煎熱再覆頭上，數次痊愈，妙不可言。</p>
<p>小兒白禿癩：用石灰窯內燒紅流結土渣二兩，百草霜、雄黃各五錢，明礬三錢，榆皮錢半，輕粉六分，共為末，於剃頭後，用豬膽汁調塗，神效。又方，鴿糞，新瓦焙存性，研末，麻油調搽。如瘡痂堆起，用米泔水同川椒蔥煎湯洗去再搽。</p>
<p>黃水頭瘡：即肥瘡也，其瘡黃水流下，即沿生，漸至眉耳，不治則殺人。黃連五錢，輕粉三錢，共研細末，麻油調成膏，塗粗碗內，乾溼得中，將碗覆轉下，燒艾葉熏之，緩緩燒煙，熏至黑色為度，放地上出火毒，次加冰片三分，研勻，香油調搽數次即愈。又方，水邊烏桕樹根，曬研末，四五錢，雄黃一錢，生油調搽。又方，雞蛋三個，煮熟去白用黃，炒枯出油，搽上，三五次即愈。</p>
<p>一切無名腫毒，諸般火丹，熱瘭濕瘡：取陰地蚯蚓糞四兩、皮硝二兩，共研末，新汲水濃調稠厚，敷患處，干則易之。</p>
<p>小兒兩大腿近小腹處生瘡：若皮脫開，漸延小腹則不救，此名胎剝。用豬膽抹黃柏上炙研塗之。或加伏龍肝末等分，唾濕搽患處。內服胡麻丸，方見上「梅瘡」。</p>
<p>小兒羊鬚瘡：小紅棗燒灰存性，香油調塗即愈。又，飯甑上氣水塗之效。</p>
<p>小兒熱瘡：雞蛋五枚，煮熟去白用黃，再用亂髮一團，如雞子大，同入鍋內熬之，初甚干，次則發焦，乃有液出，久熬則液漸多而黃，發同化而成液，以黃髮盡為度，取起冷定，塗瘡上，即以苦參末摻之，神效。</p>
<p>小兒頭上軟癤：此癤愈而復發，至難除根。用枳殼一個，剖開磨令口平，用麵糊四圍貼癤上，於一邊安一燈草，以通膿水，愈後枳殼自脫，並無痕跡。又方，或用大芋頭搗爛敷之亦妙。</p>

<h2>湯火簡便方</h2>
<p>（五條）</p>
<p>凡湯火傷，不可用冷物拓、冷水洗並涼藥敷貼，以致火毒內攻，不可救治。余詳急救篇。</p>
<p>凡湯火傷初起：即以食鹽研末，用酒醋調勻，敷患處，頻塗不絕，暫時雖痛，卻能護肉不壞，然後用藥調治。</p>
<p>凡湯火傷悶亂不省人事：急以蜂蜜調湯灌之。若重者，急以煮過好酒數十壺，入浴盆內，以患兒浸酒中，雖至重者不死。若燒系手足，即以酸醋一二升浸之，出醋尚痛，少時痛止，不瘡不膿無疤痕。</p>
<p>凡湯火傷爛皮已脫去，惟有鮮肉，或臭爛不堪，諸藥不效：用豬毛一籃，以破鍋炭火煅紅，入豬毛在內煅之，少時豬毛消化而成黑液，取起冷定，略加大黃數錢，再加冰片一分半，研勻，以香油或茶油或蠟燭油，俱可調搽，此方取效如神。</p>
<p>火藥燒壞：先以好酒洗淨，次用煮熟雞蛋黃數個，熬出油聽用，以大黃研末，雞蛋油調搽即愈。</p>

<h2>斷乳</h2>
<p><u>畫眉膏</u></p>
<p>山梔（炒黑，三個）　雄黃　硃砂　輕粉（各一分）</p>
<p>共為末，清油調勻，候兒睡著，濃畫兒二眉上，睡醒自不吃乳。未效，再畫，仍以墨搽乳頭。</p>

<h2>遍身奇癢叫啼不休</h2>
<p>生薑搗爛稀，布包搽自止。</p>
<p>撲疿子：綠豆粉、滑石各三錢，輕粉三分，共研末，舊綿蘸撲效。</p>

<h2>男女童勞</h2>
<p>（二方）</p>
<p>野茄棵內蟲，取數十條，和入食物內食之，勿使病者知，數次病愈，極效。（茄根上有注孔，內即有蟲，蟲身帶綠色，嘴黑者是也。）又方，露天糞坑內蛆，取入稀布袋內，於流水處漂漾極淨，瓦上焙黃色，每一兩入糯米、粳米各二兩，炒熟，共磨細，以沙糖米湯調服自愈。</p>
