<header data-type="book">
<h1>純懿廬集（瘡瘍）</h1>
</header>

<h1>正文</h1>
<p>疥瘡，肝氣勝脾氣衰，肌肉不榮也。風邪甚則土衰，而少陽之氣侵於肌肉為瘡瘍也。其名有四：一曰濕瘡，水泡也；二曰砂瘡，撓瘡也；三曰膿窠瘡，黃泡瘡也。四曰坐板瘡，膿窠瘡之見於臀部者也。熱客於皮則皮起，故成泡也。皮起則津液注之，故泡中有水也。風甚則津液干，故化蟲也，熱淫肌肉則水泡成膿也。蟲之行深入肌肉，亦成膿窠也。風侵於肌則土氣不行，津液凝堅，故肉粟起腳焮赤，成砂疥也。津凝於肌，風以燥之，亦成蟲疥也。砂疥之變為蟲疥成膿窠者，風熱甚，內淫肌肉也。濕疥宜燥濕祛風。砂疥宜祛風。蟲疥宜除熱祛風殺蟲。膿窠宜祛風平肝，補土益氣。坐板宜祛風平肝，滋陰瀉濕。膿窠坐板之潰者，宜溫肌肉。</p>
<p>問曰：熱何以成水泡，風何以成撓瘡。曰：皮者肺也，熱客於皮，金不勝火，則皮與肌離而成泡也。風則不能傷皮，故肌粟起。肌粟起，邪傷脾也。</p>
<p>疥之生也，始於手足十指，延及遍身，始上於頭頸。手足為諸陽之本，脈之所發也。邪傷脈而後正氣傷，瘡瘍乃生也。</p>
<p>頭者諸陽之會，精明之所聚也。正氣衰，邪氣甚，而後頭面生瘡也。凡瘡即自頭面始者無害，自四肢而及頭面者難治。</p>
<p>風邪客於玄府，則汗液不宣，砂疥於是生。砂疥形如細砂，焮赤，抓之有水，邪氣尚淺，瘰癧未生，肌肉未熱，故不痛而癢。脈浮數，按之微弦，荊羌散主之。</p>
<p>風為木，木畏金，故皮不生泡也。木剋土，故肉粟起如細砂也。風客玄府，玄府之肌受傷，正氣不行，故硬也。邪自外來，為時尚暫，故肌肉不熱也。癢者風加於肌也。不痛者，肌肉未傷也。脈浮者，風也。數者，火也。微弦將傷脾也。芥穗、羌活祛風清肌，人參、甘草益氣補脾也。</p>
<p><u>荊羌散方</u>　芥穗（一兩）　羌活（八錢）　人參（八錢）　甘草（八錢）</p>
<p>熱加於皮膚則玄府突起，成泡。皮起則津液注之而有水。脈浮數，荊羌散加蒼朮八錢、薄荷八錢主之。</p>
<p>浮者風也，數者熱也，泡起皮薄，邪氣輕淺，不必服藥。泡起皮硬，邪重入深，不治必成膿窠，故用荊羌散，加薄荷以祛皮膚之熱，蒼朮燥皮膚之濕。玄府者所以出津液也，風客之則津液團結。風久客則蘊熱、團結之津液，因化蟲也。荊羌散加藜蘆主之。</p>
<p>砂疥無泡，分肉之間津液自凝也。癢甚，抓之不休者，有蟲也，殺其蟲則愈。不殺則傷肌肉成膿窠也。</p>
<p>風熱不去則水泡之濕蘊為蟲也。始近皮膚，繼入肌肉，如蚓之蝕土，旋井而居。旋井者，盤旋蹲踞，蝕肌成井也。荊羌散加蘆薈八錢、蕪荑八錢主之。</p>
<p>旋井者，必成膿窠也，挑之，蟲去，亦愈矣。</p>
<p>脈數躁、孫絡有熱也。瘰癧起，癢甚而痛，荊羌散加生地一兩、枯草八錢主之。邪熱雖盛，肌肉未浸淫也。脈數躁營氣熱，故加生地；肝木己剋土，故加枯草。脈浮大，邪侵肌肉也。見瘰癧熱甚，脹痛焮赤，抓之有水，尚未成膿也，薄荷枯草湯主之。</p>
<p>瘰癧起，肝勝脾傷也。抓之有水，風動水湧也。</p>
<p><u>薄荷枯草湯方</u>　薄荷（一兩）　枯草（八錢）　荊芥（八錢）　炙草（八錢）　脈洪數、熱痛煩躁、見瘰癧，薄荷枯草湯加生地（八錢）、連翹（八錢）主之，此營熱而肝氣勝也。煩躁者心煩也。營氣熱則心亦不寧也。益其血則煩去矣。</p>
<p>脈弦大不浮，膚鞭不作膿，微熱，時脹痛，蒼朮當歸湯主之。</p>
<p>弦者，邪侵肌肉也。大者，邪氣進也。不作膿者，肉氣衰不能作膿也。補其脾，益其氣，斯膿作矣。</p>
<p><u>蒼朮當歸湯方</u>　蒼朮（八分）　當歸（六分）　芥穗（六分）　羌活（五分）　枯草（五分）　炙草（八分）　人參（六分）</p>
<p>膚硬作小粟，紅焮癢甚，水流不止，瘰癧雖見不痛者，荊羌散加生耆八分主之。</p>
<p>脈必弦細，脾氣虛，邪氣盛也。風熱加故癢，脾氣虛故水為風所湧也。</p>
<p>脈弦細，膿不成，膚鞭，水泡時作，蒼朮當歸湯加生耆五錢主之。</p>
<p>弦乾邪深入也，細者正氣衰也。邪者風熱也，正氣者肌肉之氣也。肌肉之氣衰，何以脈細，內有分理，分理之際，津液之所輸也。飲食入胃，其氣傳脾及肺，蒸於肌肉，注於孫絡。今邪淫肌肉，則脈無所養，故細也。脈細者外祛其邪，內補其胃氣也。</p>
<p>脈細，瘰癧瘻水不作，肌肉清者，過服涼劑也。炙草枯草湯主之。</p>
<p>過服涼劑，肝氣乍平猶未除也，胃氣則已傷矣。故水雖不作，瘰癧猶見，而肌肉清也。</p>
<p><u>炙草枯草湯方</u>　炙草（一兩）　焦術（八錢）　生薑（八錢）　枯草（八錢）　人參（八錢）　瘰癧脹痛，肌熱膿黃，破之脹少減，須臾腹脹，薄荷枯草湯加膽草八錢主之。</p>
<p>瘰脹肌熱，斯膿黃而膿窠瘡成矣。膿窠瘡者，《素問》之膿瘡也。病膿窠者正氣勝，不治久亦愈也。過涼胃氣，則脈變弦細而難愈也。破之脹減，須臾復脹者，肝氣勝而肌肉之氣強也。</p>
<p>膿潰脹消，脈減洪數，蒼朮銀花湯主之。膿潰脹消邪氣衰，服此湯則痂脫而愈矣。</p>
<p><u>蒼朮銀花湯方</u>　蒼朮（一兩）　白芷（八錢）　銀花（一兩）　炙草（八錢）　枯草（八錢）</p>
<p>脈弦，膿黃不流，膚硬者，蒼朮當歸湯加生耆六錢主之。</p>
<p>瘡久糜爛，水液湧出，脈細弱者，生耆川芎湯主之（羊肉湯亦可）。</p>
<p>瘡久糜爛，肌氣衰，津液不注脈，而風又動之，故湧出也。</p>
<p><u>生耆川芎湯方</u>　生耆（一兩）　川芎（一兩）　蒼朮（八錢）　炙草（八錢）　枯草（八錢）　白芷（八錢）　酒芍（六錢）　生薑（六錢）</p>
<p>水止痂結，當服蒼朮銀花湯也。其不結痂而水止，膚如紫癜形者，仍當服生耆川芎湯去酒芍也。凡瘡初已，數服蒼朮銀花湯則瘡不復作矣。肌肉糜爛，水液湧出者，浴以銀花、九里光、樗樹皮、山胡椒葉、甘草節湯也。敷以一掃光，塗以黃郎中膏。黃郎中膏者，以黃郎中樹皮，去粗皮搗以豬膏，以布盛之，炙熱塗之也。</p>
<p>大便燥者，木邪侮土，胃燥也。薄荷枯草湯加膽草六錢、枳殼（六錢）、大黃（六錢）主之。</p>
<p>坐板瘡，即膿瘡之生臀部者也。脈沉大，臀肉硬，如豆大，微癢，獨活生地湯主之。</p>
<p>木氣下攻則生板瘡，臀為諸水所聚，水性寒，故臀膿初生不成泡也。邪客肌腠，土氣不行，故硬如豆大也。微癢者，風熱臨水則勢減，故癢不甚而微也。</p>
<p><u>獨活生地湯方</u>　獨活（八錢）　生地（一兩二錢）　地榆（七錢）　炙草（八錢）　荊芥（八錢）</p>
<p>熱脹而癢，抓之有水，見瘰癧，脈沉弦者，膽草生地湯主之。</p>
<p>熱脹者，瘡熱脹也。熱脹則肝勝，肝勝則瘰癧見也。</p>
<p><u>膽草生地湯方</u>　膽草（七錢）　生地（一兩）　獨活（八錢）　地榆（八錢）　枯草（八錢）</p>
<p>瘰癧脹痛，瘡大脹作膿，脈沉滑，膽草生地湯加地骨皮、天丁主之。</p>
<p>排膿潰爛，瘰癧消者，熟地銀花湯主之。</p>
<p>排膿潰爛，毒氣出也。瘰癧消，肝氣衰將結痂也。祛其風，滋其陰、溫其肌肉則愈矣。</p>
<p><u>熟地銀花湯方</u>　熟地（一兩）　銀花（一兩）　炙草（一兩）　枯草（八錢）　獨活（八錢）　蛇床子（八錢）</p>
<p>瘰癧消，痂結，不熱，瘡將愈也。熟地銀花湯主之。</p>
<p>初生脈弦細者，獨活生地人參湯主之，初生脈弦細者，腎氣衰也，肝氣勝也。</p>
<p><u>獨活生地人參湯方</u>　獨活（一兩）　人參（一兩）　生地（一兩）　炙草（八錢）　荊芥（八錢）</p>
<p>水流不止，不成膿，脈沉細者，膽草芥穗湯主之。瘰癧堅者，加天丁六錢。</p>
<p><u>膽草芥穗湯方</u>　膽草（八錢）　芥穗（一兩）　獨活（八錢）　熟地（一兩）　人參（八錢）　蒼朮（八錢）</p>
<p>膚腫而癢，水不止者，乳香芥穗湯主之。</p>
<p><u>乳香芥穗湯方</u>　乳香（一兩）　芥穗（一兩）　膽草（八錢）　天丁（七錢）　枯草（八錢）　熟地（一兩）　蒼朮（八錢）</p>
<p>脈沉細，小便白，瘡腫，熟地肉桂湯主之。小便不利者亦主之。</p>
<p>小便白，下焦寒也，小便不利，真氣不化，病久，關元衰冷也。</p>
<p><u>熟地肉桂湯方</u>　熟地（一兩）　肉桂（三錢）　膽草（七錢）　枯草（八錢）　人參（八錢）　茯苓（八錢）　獨活（八錢）　芥穗（八錢）</p>
<p>熱甚，瘰癧脹，大便不通，脈洪大者，生地膽草湯加地骨皮、天丁、大黃、枳殼主之。</p>
<p>大便不通者，臀部之熱熏直腸，致直腸有熱也。</p>
<p>《金鑑》曰：坐板瘡名風疳，初宜芫花、川椒、黃柏熬湯燙洗即消，或毒盛癢痛仍不止者，宜用油缸青布三指寬一條，香油調雄黃末一錢攤於布上卷之，燃著，吹滅火頭，向瘡烘之，其癢痛即止。</p>
<p>水止痂落，膚尚硬者，服蒼朮銀花湯去白芷，加熟地、獨活、當歸也。</p>
<p>水流不止，強敷以藥，水止必成水病，下部腫，小便不利也。當平其肝利其水，乳香芥穗湯主之。</p>
<p>強敷以藥，謂強以生肌散等敷之，涼藥外錮，水氣內伏，固腫也，水由肝勝而湧，故平肝則水蓄，當瀉也。</p>
<p>若上為喘，飲食減少，頭面皆腫，則難治，芫花乳香湯主之。</p>
<p><u>芫花乳香湯方</u>　芫花（七錢）　乳香（七錢）　膽草（六錢）　枯草（六錢）　蒼朮（六錢）　熟地（六錢）　獨活（六錢）</p>
<p>凡瘡家必嗜飲食，邪助少陽、胃消食也，不嗜飲食者中氣衰，邪風勝也。炙草枯草湯主之。</p>
<p>瘡作，醫不外清其肌熱，而反以寒藥下之，則邪入里，瘡即己，煩躁口渴，小便黃者，小柴胡湯除半夏，加羌活、生地、枳殼主之。瘡復出者，以瘡法治之。不出，不嗜飲食者，難治。壯熱進飲食，大便硬、小便不黃者。大承氣湯主之。</p>
<p>外敷瘡藥，瘡巳，下為疳，蝕陰者，苦參地榆湯主之。</p>
<p><u>苦參地榆湯方</u>　苦參（一兩）　膽草（一兩）　地偷（八錢）　生地（一兩）　枯草（八錢）</p>
