<header data-type="book">
<h1>醫方捷徑指南全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王宗顯</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1619">公元1619年</data></dd></div>
<div><dt>底本</dt><dd>明刊本（<a href="https://www.digital.archives.go.jp/file/1084022">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷之一　醫學入門</h1>

<h2>本草引序</h2>
<p>夫醫者，意也。藥不執方，合宜而用。投機應病，則酌杯可以起沉疴，造妙通玄。雖刀圭足以延壽者，非惟愈疾，亦可頤生，斯術之傳，其來尚矣。自神農嘗百草以濟蒼生，逮黃帝辨四方而興《素問》，歷代之聖君哲輔，靡不留心。自古之孝子仁人，咸知注意。《玉函金匱》，無非濟世之良方。紅杏青囊，莫匪活人之秘典。蓋以人生兩間，身緣四大，感風、寒、暑、濕之侵蒸；或喜、怒、優、思之鬱結；苦、樂、榮、悴，悉損精神；飢炮逸勞，俱傷氣血真元，才觸景以中虧，邪氣即乘虛而外感有生難免，具體皆然。仲尼豈不能避疾保身，康子尤未免問安饋藥。且藥性有寒溫良毒，人稟有虛實盛衰，未達其由，豈可遽嘗。必有恆心斯能永濟。望聞問切，須詳審於臨診之時，補泄宣通，尤謹嚴於投劑之際。先後緩急有其序，澀滑燥濕得其宜，則到口觸疴，應手輒效。假如心胸飽滿，服蘿蔔而寬舒。肚腹脹膨，飲牽牛而快利。麻黃髮散，入腸胃則汗流。瓜蒂宣通，下咽喉而涎湧。藥無不效，用當極靈。試嚼烏梅，遽齒酸而津溢，才吹皂角，立鼻嚏以氣通。咬荊芥則汨垂，齧花椒而氣閉。龜尿解噤，鼠骨生牙。磁石引針，琥珀拾芥。鸞膠續劍，獺膽分杯。血投藕而不凝，漆得蟹而自散。蔥汁可以熬桂作水，蟾膏乃能軟玉如泥。凡物性各有不同，在智者隨宜取用。略舉數端證驗，以明一切殊功。誠能識性知機，用若通神入聖。是以扁鵲、華佗各展驚人之技，稚川、思邈咸垂救世之慈。每用單行，或時兼使，以為一物專攻，則氣純而急速，數般相制，乃味雜而效遲。唯相須佐使者，配合則併力以收功。若相反畏忌者，交參必爭仇而播毒，當療轉劇，貽患匪吵。與其不能研精灼見，孰若但從簡要易知。抑且省其冗繁，況復便於倉卒。然藥之真贗休慼所關，方之否臧安危是系。必合精詳有據，豈宜滅裂無宗。須裒眾善之長庶，獲萬全之效。取其易捷不特，便於旅途，拔其精華，實有利於人己。援諸例以分門，比諸類而列款，舉冊可以對症求方，療疾更宜隨時用藥。雖同一症，詳其新久重輕，必按諸方，慎擇剛柔緊慢，如纏膚腠，但用輕清若固膏育，必施瞑眩，況風土有炎涼之異，氣稟有厚薄之殊。貴人富室，治亦異乎貧窮。處子尼孀，療難同於妻妾。要在知之，審而見之明，尤必制之精而用之當。炮熬煮炙，雷公論之甚祥。表裡陰陽，岐伯言之至備。蓋以四海之廣，兆民之眾，扎瘥時行，非醫莫療。今予擇諸方類為一帙，以便仁人之檢用。益施藥不如施方意也。是大序。</p>

<h2>本草引序</h2>
<p>夫醫者，意也。藥不執方，合宜而用。投機應病，則酌杯可以起沉疴，造妙通玄。雖刀圭足以延壽者，非惟愈疾，亦可頤生，斯術之傳，其來尚矣。自神農嘗百草以濟蒼生，逮黃帝辨四方而興《素問》，歷代之聖君哲輔，靡不留心。自古之孝子仁人，咸知注意。《玉函金匱》，無非濟世之良方。紅杏青囊，莫匪活人之秘典。蓋以人生兩間，身緣四大，感風、寒、暑、濕之侵蒸；或喜、怒、優、思之鬱結；苦、樂、榮、悴，悉損精神；飢炮逸勞，俱傷氣血真元，才觸景以中虧，邪氣即乘虛而外感有生難免，具體皆然。仲尼豈不能避疾保身，康子尤未免問安饋藥。且藥性有寒溫良毒，人稟有虛實盛衰，未達其由，豈可遽嘗。必有恆心斯能永濟。望聞問切，須詳審於臨診之時，補泄宣通，尤謹嚴於投劑之際。先後緩急有其序，澀滑燥濕得其宜，則到口觸疴，應手輒效。假如心胸飽滿，服蘿蔔而寬舒。肚腹脹膨，飲牽牛而快利。麻黃髮散，入腸胃則汗流。瓜蒂宣通，下咽喉而涎湧。藥無不效，用當極靈。試嚼烏梅，遽齒酸而津溢，才吹皂角，立鼻嚏以氣通。咬荊芥則汨垂，齧花椒而氣閉。龜尿解噤，鼠骨生牙。磁石引針，琥珀拾芥。鸞膠續劍，獺膽分杯。血投藕而不凝，漆得蟹而自散。蔥汁可以熬桂作水，蟾膏乃能軟玉如泥。凡物性各有不同，在智者隨宜取用。略舉數端證驗，以明一切殊功。誠能識性知機，用若通神入聖。是以扁鵲、華佗各展驚人之技，稚川、思邈咸垂救世之慈。每用單行，或時兼使，以為一物專攻，則氣純而急速，數般相制，乃味雜而效遲。唯相須佐使者，配合則併力以收功。若相反畏忌者，交參必爭仇而播毒，當療轉劇，貽患匪吵。與其不能研精灼見，孰若但從簡要易知。抑且省其冗繁，況復便於倉卒。然藥之真贗休慼所關，方之否臧安危是系。必合精詳有據，豈宜滅裂無宗。須裒眾善之長庶，獲萬全之效。取其易捷不特，便於旅途，拔其精華，實有利於人己。援諸例以分門，比諸類而列款，舉冊可以對症求方，療疾更宜隨時用藥。雖同一症，詳其新久重輕，必按諸方，慎擇剛柔緊慢，如纏膚腠，但用輕清若固膏育，必施瞑眩，況風土有炎涼之異，氣稟有厚薄之殊。貴人富室，治亦異乎貧窮。處子尼孀，療難同於妻妾。要在知之，審而見之明，尤必制之精而用之當。炮熬煮炙，雷公論之甚祥。表裡陰陽，岐伯言之至備。蓋以四海之廣，兆民之眾，扎瘥時行，非醫莫療。今予擇諸方類為一帙，以便仁人之檢用。益施藥不如施方意也。是大序。</p>

<h1>卷之二　用藥發明</h1>

<h2>藥本五味歌</h2>
<p>酸為木化氣本溫，能收能澀利肝經。</p>
<p>苦為火化氣終熱，能燥能堅心臟丁。</p>
<p>甘始土生氣化溫，能開緩摻從脾行。</p>
<p>辛自金生氣帶燥，能開潤瀉通肺竅。</p>
<p>咸從水化氣生寒，下走軟堅足腎道。</p>
<p>淡味方為五行本，運用須知造化要。</p>

<h2>引經報使藥歌</h2>
<p>小腸膀胱屬太陽，藁本羌活是本鄉。</p>
<p>三焦膽與肝胞絡，少陽厥陰柴胡強。</p>
<p>大腸陽明並足胃，葛根白芷升麻當。</p>
<p>太陰肺脈中焦起，白芷升麻蔥白鄉。</p>
<p>脾經少與肺部異，升麻兼之白芍詳。</p>
<p>少陰心經獨活主，腎經獨活加桂良。</p>
<p>通經用此藥為使，豈能有病到膏肓。</p>

<h2>六陳歌</h2>
<p>枳殼陳皮半夏齊，麻黃狼毒及茱萸。</p>
<p>六般之藥直陳久，入藥方知奏效奇。</p>

<h2>十八反歌</h2>
<p>本草明言十八反，逐一從頭說與聽。</p>
<p>人參沙參與芍藥，玄參紫參及細辛。</p>
<p>苦參丹參共八味，一見黎蘆便殺人。</p>
<p>白及白斂並半夏，瓜蔞貝母五般真。</p>
<p>莫見烏頭與烏喙，逢之一反疾如神。</p>
<p>大戟芫花兼海藻。卻與甘遂四般並。</p>
<p>若遇甘草同煎服，縱有良醫活不成。</p>
<p>外有六般相反物，切須避忌認之真。</p>
<p>蜜蠟莫與蔥相見，藜蘆勿使酒來侵。</p>
<p>石決明休見雲母，犯了之時禍不輕。</p>

<h2>又捷徑歌</h2>
<p>本草明言十八反，半蔞貝斂及攻烏。</p>
<p>藻戟遂芫俱戰草，諸參辛芍叛藜蘆。</p>

<h2>十九畏歌</h2>
<p>硫黃原是火之精，朴硝一見便相爭。</p>
<p>水銀莫與砒霜見，狼毒最怕密陀僧。</p>
<p>巴豆性烈最為上，偏與牽牛不順情。</p>
<p>丁香莫與鬱金見，牙硝難合荊三稜。</p>
<p>川烏草烏不順犀，人參最怕五靈脂。</p>
<p>官桂善能調冷氣，若逢石脂便相欺。</p>
<p>大凡修合看順逆，炮爁炙煿莫相依。</p>

<h2>妊娠服藥禁歌</h2>
<p>蚖斑水蛭及虹蟲，烏頭附子配天雄。</p>
<p>野葛水銀並巴豆，牛膝薏苡與蜈蚣。</p>
<p>三稜芫花代赭麝，大戟蟬蛻黃雌雄。</p>
<p>牙硝芒硝牡丹桂，槐花牽牛皂角同。</p>
<p>半夏南星與通草，瞿麥乾薑桃仁通。</p>
<p>硇砂乾漆蟹爪甲，地膽茅根都失中。</p>

<h2>炮製藥歌</h2>
<p>芫花本利水，非醋不能通。</p>
<p>綠豆本解毒，帶殼不見功。</p>
<p>草果消膨效，連殼反脹胸。</p>
<p>黑醜生利水，遠志苗毒逢。</p>
<p>蒲黃生通血，熟補血運通。</p>
<p>地榆醫血藥，連梢不住紅。</p>
<p>陳皮專理氣，留白補胃中。</p>
<p>附子救陰藥，生用走皮風。</p>
<p>草烏解風痹，生用使人蒙。</p>
<p>人言燒過用，諸石火□紅。</p>
<p>入醋能為末，制度必須工。</p>
<p>川芎炒去油，生用氣痹痛。</p>
<p>炮爁常依法，方能奪化工。</p>
<p>吳文：正公序《醫方大成》曰：以一藥治一病者，本草也；以數藥治一症者，醫方也。醫方祖於本草而其合數藥為一方也，大抵處方要在合宜而用，不可務取品味數多，過制越此，反為不效矣。</p>

<h2>藥象主治五臟法</h2>
<p>春肝苦急，甘以緩之甘草，散以辛者川芎，補以辛者細辛，瀉以酸者白芍藥。</p>
<p>夏心苦緩，酸以收之五味子，心欲耎以咸者芒硝。補以咸者澤瀉，甘者人參、甘草、黃耆。</p>
<p>土脾苦溫，苦以燥之白朮，脾欲緩者甘草、補者人參，瀉者黃連。</p>
<p>秋肺苦氣上逆，苦以瀉之黃芩，肺欲酸以收者白芍藥，補以酸者五味子，瀉以辛者桑白皮。</p>
<p>冬腎苦燥，辛以潤之黃柏、知母，腎欲堅以苦者知母，補以苦者黃柏，瀉以咸者澤瀉。</p>

<h2>用藥身梢論</h2>
<p>凡藥根在土中者，中半已上氣脈上行，以生苗者為根；中半已下氣脈下行，以入土者為梢。病在中焦者用身，上焦用根，下焦用梢。經云：根升梢降也。大凡用藥以頭身梢分為上中下。病在人身半已上者，天之陽也，用頭；在中焦者用身。在人身半已下者，地之陰也，用梢。述類象形者也。</p>

<h2>用藥丸散論</h2>
<p>仲景曰：銼如麻豆大與㕮咀同意。夫㕮咀者，古之制也。古無鐵刃，以口咬細令如麻豆為粗藥，煎之使藥水清，飲於腹中則易升易散也。此所謂㕮咀也。今人以刃器銼如麻豆大，此㕮咀之易成也。若一概為細末，不分清濁矣。經云：清陽發腠理，濁陰走五臟，果何謂也？又曰：清陽實四肢，濁陰歸六腑是也。㕮咀之法，取汁情易循行經絡故也。若治至高之病加酒煎，去濕加生薑煎，補元氣以大棗煎，發散風寒以蔥白煎，去膈上病以蜜煎。散者，細末也。不循經絡，止去膈上病及臟腑之病。氣味厚者，煎服去滓，但服百丸者去下部之疾。其丸極大而光且圓，治中焦者次之，治上焦者則極小。稠糊面丸者，取其遲化直至下焦。或酒或醋丸者，取其收散之意也。用半夏、南星或去濕者，以生薑汁煮糊為丸制其毒也。稀糊丸者，取其易化也。水浸一宿，炊餅為丸及滴水為丸者，皆取易化也。煉蜜為丸者，取其遲化而氣循經絡也。用蠟為九者，取其難化而旋施功也。大抵湯者，蕩也，去久病者用之。散者，散也，去急病者用之。丸者，緩也，不能速去其病，用藥舒緩而治之也。</p>

<h2>類集古方歌訣</h2>
<p>麻黃湯中用桂枝，杏仁甘草四般兒。</p>
<p>發熱惡寒身體痛，須知一服汗淋漓。</p>
<p>桂枝湯內藥三般，芍藥甘草一處攢。</p>
<p>若把二方相合用，方名各半治傷寒。</p>
<p>十神湯內紫蘇多，甘草陳皮香附科。</p>
<p>乾葛升麻並芍藥，川芎白芷麻黃和。</p>
<p>香蘇散內紫蘇最，香附陳皮甘草革。</p>
<p>本方只此四味全，加上麻黃芎芷桂。</p>
<p>大青龍湯桂麻黃，甘草杏仁石膏藏。</p>
<p>棗子生薑煎熱服，惡寒無汗又為良。</p>
<p>升麻葛根湯四味，攢上芍藥甘草是。</p>
<p>傷寒發熱與頭疼，汗出惡寒風熱治。</p>
<p>人參敗毒散桔梗，甘草川芎茯苓等。</p>
<p>枳殼前胡羌獨活，柴胡十味性涼冷。</p>
<p>小柴胡湯只五般，半夏人參一處攢。</p>
<p>更有黃芩與甘草，生薑棗子水同煎。</p>
<p>大柴胡湯用大黃，半夏枳殼此為良。</p>
<p>更有黃芩赤芍藥，薑棗煎來利大腸。</p>
<p>五苓散內用豬苓，白朮茯苓澤瀉停。</p>
<p>肉桂用之多與少，白水煎來止渴行。</p>
<p>四逆湯中姜一兩，生附減半去皮尖。</p>
<p>二兩甘草水煎服，厥而下利用之痊。</p>
<p>理中甘草用於姜，白朮人參是泛常。</p>
<p>若是內中加附子，更名附子理中湯。</p>
<p>小建中湯芍藥三，生薑附子一分參。</p>
<p>更得桂枝加兩半，膠飴大棗治傷寒。</p>
<p>瓜蒂散中赤小豆，二味勻平有傳授。</p>
<p>豆豉一合水同煎，吐去膈痰須此救。</p>
<p>小承氣湯三件藥，枳實大黃並厚朴。</p>
<p>結胸譫語大使堅，每貼五錢煎沸服。</p>
<p>大承氣湯用朴硝，大黃等分不須饒。</p>
<p>厚朴倍加並枳殼，通腸利便有功勞。</p>
<p>桃仁承氣五般奇，甘草硝黃並桂枝。</p>
<p>血症發黃並血竭，熱泄亂語總相宜。</p>
<p>黃連解毒湯四味，黃柏黃芩梔子是。</p>
<p>退黃敗毒又除煩，熱血便紅皆可治。</p>
<p>白虎湯中用石膏，甘草知母本方抄。</p>
<p>人參亦有加之用，熱渴虛煩用米熬。</p>
<p>竹葉石膏湯用參，門冬半夏更加臨。</p>
<p>甘草生薑兼用米，虛煩自利熱家尋。</p>
<p>真武湯中芍藥魁，茯苓白朮甘草隨。</p>
<p>附子炮來加減用，生薑五片總相宜。</p>
<p>茵陳蒿湯只一味，濃煎退疸去身黃。</p>
<p>梔子柏皮兼可用，五苓加上又為良。</p>
<p>防風通聖將軍芍，薄荷歸芎草朴硝。</p>
<p>白朮梔翹芩桔梗，麻黃荊芥滑石膏。</p>
<p>上加菊花、藿香、砂仁，減麻黃、朴硝名仙術芎散。加益元散名雙解散。</p>
<p>烏藥順氣陳皮姜，枳殼姜蠶芎芷詳。</p>
<p>甘草麻黃兼桔梗，中風先服最為良。</p>
<p>小續命湯防己桂，杏仁黃芩芍藥配。</p>
<p>參芎甘草與麻黃，防風附子一處會。</p>
<p>排風白朮桂苓芎，杏芍甘麻與防風。</p>
<p>獨活當歸白蘇佐，稀涎治搐有良功。</p>
<p>星香散內炮南星，更有木香生用靈。</p>
<p>若是加添為附子，方名改換作三生。</p>
<p>五積白芷陳皮樸，桔梗枳殼川芎芍。</p>
<p>甘草茯苓蒼朮歸，半夏桂姜麻黃著。</p>
<p>香薷散內藥三般，厚朴還將扁豆參。</p>
<p>更入黃連為妙絕，和中祛暑最相安。</p>
<p>六和半夏縮砂仁，杏仁參草扁豆停。</p>
<p>木瓜赤茯藿香葉，香茹厚朴治瀉頻。</p>
<p>滲濕湯中白朮先，丁香蒼朮茯苓兼。</p>
<p>甘草陳皮皆等分，乾薑加上濕皆痊。</p>
<p>除濕湯中用霍香，陳皮厚朴術名蒼。</p>
<p>白朮茯苓並半夏，入些甘草在中央。</p>
<p>清脾湯里有柴胡，半夏黃芩草果咀。</p>
<p>白朮茯苓加厚朴，青皮甘草棗姜扶。</p>
<p>平胃散中四般藥，蒼朮陳皮並厚朴。</p>
<p>更加甘草和脾胃，薑棗煎來調治瘧。</p>
<p>真人養臟粟殼參，訶子當歸肉蔻真。</p>
<p>白朮木香並芍藥，乾薑肉桂不須尋。</p>
<p>參蘇飲內有陳皮，桔梗前胡半夏宜。</p>
<p>乾葛茯苓甘草聚，木香枳殼總堪題。</p>
<p>蘇沉九寶薄荷陳，桑桂麻黃蘇杏仁。</p>
<p>大腹皮同甘草入，諸般咳嗽效如神。</p>
<p>金沸草湯用麻黃，甘草芍藥荊芥良。</p>
<p>更有前胡並半夏，七般煎服用生薑。</p>
<p>桔梗湯中用防杞，百合貝母瓜蔞子。</p>
<p>甘節參歸杏苡仁，桑白黃耆桔梗使。</p>
<p>藿香正氣用紫蘇，大腹陳皮桔梗咀。</p>
<p>甘草茯苓半夏曲，厚朴白芷棗姜扶。</p>
<p>八正車前與瞿麥，萹蓄滑石山梔仁。</p>
<p>大黃木通入甘草，熱淋逢之效若神。</p>
<p>木香流氣藿香蓬，參朮甘果檳瓜通。</p>
<p>夏樸青丁陳蘇腹，茯蒲桂芷麥香冬。</p>
<p>十全大補有人參，肉桂川芎地黃蒸。</p>
<p>芍藥茯苓並白朮，黃連甘草當歸停。</p>
<p>黃耆建中湯肉桂，甘草芍藥同此類。</p>
<p>諸虛不足通用之，大生血氣養榮衛。</p>
<p>分心氣飲木通桂，赤芍茯苓半夏配。</p>
<p>甘草大腹青陳皮，桑白羌活紫蘇對。</p>
<p>手拈散用延胡索，沒藥甘草五靈脂。</p>
<p>每服三錢溫酒下，心脾氣痛總能醫。</p>
<p>雞舌香散有良薑，赤芍肉桂香附良。</p>
<p>天台烏藥同甘草，入鹽些小點煎湯。</p>
<p>川芎茶調散薄荷，白芷防風甘草和。</p>
<p>更有細辛羌活等，荊芥同煎用者多。</p>
<p>如聖散中香白芷，川芎防風細辛使。</p>
<p>雄黃草烏兩頭尖，熱酒調之忌油膩。</p>
<p>消風散用荊芥參，甘草陳皮白茯苓。</p>
<p>姜蠶芎與防風藿，蟬退厚朴羌活停。</p>
<p>獨活寄生桑寄生，杜仲牛膝細辛參。</p>
<p>秦艽地黃桂芍草，防風當歸芎茯苓。</p>
<p>對金飲子先厚朴，蒼朮甘草陳皮著。</p>
<p>加上草果又為良，薑棗煎來調治瘧。</p>
<p>七氣湯中半夏多，桂心厚朴紫蘇銼。</p>
<p>芍藥茯苓陳皮入，人參八味棗姜和。</p>
<p>洗肝散內薄荷葉，當歸羌活山梔仁。</p>
<p>大黃防風甘草等，川芎治眼效如神。</p>
<p>人參款花膏紫苑，桑白五味子同選。</p>
<p>煉蜜丸如芡實大，食後薑湯漫漫咽。</p>
<p>消風百解荊芥芷，陳皮麻黃蒼朮比。</p>
<p>甘草攢煎蔥與姜，頭疼發熱咳嗽使。</p>
<p>款冬花散知母先，桑白麻黃阿膠黏。</p>
<p>杏仁貝母並半夏，甘草㕮咀入姜煎。</p>
<p>補中益氣黃耆參，甘草白朮當歸身。</p>
<p>柴胡升麻陳皮當，形勞虛損喘皆靈。</p>
<p>升陽散火用升麻，甘草人參芍藥加。</p>
<p>更得柴胡羌獨活，防風共入總堪誇。</p>
<p>五膈寬中厚朴尋，青陳皮與木香臨。</p>
<p>再將香附砂仁聚，白蔻丁香八味靈。</p>
<p>喉痹拔萃桔梗湯，甘草連翹薄荷涼。</p>
<p>梔子黃芩通六味，更加竹葉又為良。</p>
<p>當歸和血散槐花，青皮荊芥穗升麻。</p>
<p>川芎白朮地黃熟，腸癖溫毒用之佳。</p>
<p>參苓白朮薏苡仁，甘草蓮肉山藥停。</p>
<p>桔梗扁豆砂仁用，棗姜虛熱瀉皆寧。</p>
<p>四物龍膽湯地黃，川芎芍藥當歸良。</p>
<p>防風防己草龍膽，眼疼食後水煎嘗。</p>
<p>局方四七湯理氣，茯苓半夏厚朴多。</p>
<p>紫蘇葉與生薑煮，喘急兼將中脘和。</p>
<p>發明半夏溫肺湯，細辛桂心旋覆花。</p>
<p>甘草陳皮參桔梗，芍藥茯苓赤者良。</p>
<p>蘇子降氣湯半夏，甘草前胡肉桂咀。</p>
<p>當歸厚朴陳皮等，薑棗同煎痰喘舒。</p>
<p>獨活散內川芎尋，羌活荊防薄荷成。</p>
<p>生地黃兼細辛使，煎來漱咽治牙齦。</p>
<p>皂角升麻湯白芷，防風川芎白附子。</p>
<p>甘草羌活與黃芩，風熱牙疼皆可使。</p>
<p>洗心散用麻大黃，白朮當歸芍藥涼。</p>
<p>荊芥穗同甘草等，薄荷加上水煎湯。</p>
<p>涼隔連翹梔子仁，大黃甘草朴硝芩。</p>
<p>竹葉薄荷加蜜煮，諸般積熱效如神。</p>
<p>清心蓮子飲黃芩，甘草車前白茯苓。</p>
<p>麥門地骨參耆使，下虛上盛治諸淋。</p>
<p>茯苓補心前胡參，紫蘇半夏當歸身。</p>
<p>甘草陳皮川芎芍，地黃熟用棗姜親。</p>
<p>延胡索散蓬莪朮，當歸酒浸共三稜。</p>
<p>月水不調紅花使，更兼童便酒煎行。</p>
<p>八珍湯最順陰陽，滋榮養血此為良。</p>
<p>四物湯同四君子，一枚棗子伴生薑。</p>
<p>四物成氣加朴硝，此為玉燭散名標。</p>
<p>涼膈添歸同四物，名為三和散同條。</p>
<p>三分散用小柴胡，四物四非子同咀。</p>
<p>產後傷寒並痢者，依方取效似神扶。</p>
<p>雙和散桂甘草芍，黃耆參歸熟地黃。</p>
<p>薑棗煎來補氣血，虛勞少力也堪嘗。</p>
<p>升陽益胃參朮耆，黃連夏茯草陳皮。</p>
<p>澤瀉防風羌獨活，柴胡白芍也堪題。</p>
<p>調中益氣桔升麻，甘草柴胡蒼朮加。</p>
<p>黃耆木香參八味，從前選用也堪誇。</p>
<p>炙甘草湯參阿膠，麥門生薑大棗饒。</p>
<p>生地黃麻子仁桂，入些酒煮治虛勞。</p>
<p>升陽補氣湯升麻，澤瀉防風白芍誇。</p>
<p>厚朴柴胡羌獨活，甘草地黃生用佳。</p>
<p>紺珠正氣天香湯，天台烏藥與乾薑。</p>
<p>香附陳皮紫蘇葉，婦入得此是奇方。</p>
<p>桂核桃仁生地黃，芍藥甘草半夏良。</p>
<p>經脈不通繞臍痛，煎加薑棗莫商量。</p>
<p>益胃散薑黃澤瀉，乾薑砂仁益智仁。</p>
<p>白蔻黃耆參厚朴，陳皮通用十分靈。</p>
<p>加減惺惺散術湯，荊防芎芷細辛羌。</p>
<p>甘草當歸天花粉，赤芍薄荷桔梗良。</p>
<p>益胃升陽當歸身，參朮芩耆曲炒陳。</p>
<p>甘草升麻柴胡使，秋間服者去黃芩。</p>
<p>上加芍藥，治婦人經候不調，或血脫後脈弱，食少，水泄，一日二三行作痛。</p>

<h2>訂補得效諸方歌</h2>
<p>九味羌活湯防風，黃芩白芷與川芎。</p>
<p>乾葛生地細辛草，煎法還加薑棗蔥。</p>
<p>大羌活湯即九味，已獨知連術相助。</p>
<p>一十四般白水煎，兩感風寒須此治。</p>
<p>小青龍湯治喘嗽，薑桂麻黃細辛湊。</p>
<p>半夏五味芍藥甘，心胸水氣自然透。</p>
<p>資壽解語附子風，天麻酸棗桂羊充。</p>
<p>甘草羌活次第入，竹瀝多湊亦收功。</p>
<p>大秦艽湯羌獨活。芎芷甘辛兩地黃。</p>
<p>歸芍芩苓防白朮，石膏十六味平良。</p>
<p>羌活愈風草參耆，防風蔓細枳艽皮。</p>
<p>麻菊薄荷枸獨芷，芎歸杜仲柴前知。</p>
<p>生熟地黃半樸桂，芩苓芍術杞膏依。</p>
<p>萬寶回春湯甚奇，甘麻芩杞杏仁依。</p>
<p>生地熟地芎歸芍，黑附香附沉半皮。</p>
<p>茯神參朮防風桂，烏藥川烏薑黃耆。</p>
<p>三五七散出茱萸，姜附細辛防茯咀。</p>
<p>每取二錢溫酒下，風寒入腦致陽虛。</p>
<p>山茱萸散甘菊花，人參山藥茯苓遮。</p>
<p>川芎六味各五錢。洽眩暈轉實堪誇。</p>
<p>羌活散麻藁升耆，黃柏芩連與芎歸。</p>
<p>細蔓紅花蒼朮半，尖頂項痛即時移。</p>
<p>升麻胃風葛芷蒼，柴藁蔓歸草蔻羌。</p>
<p>甘柏麻黃薑棗煮，能消面腫與牙眶。</p>
<p>加味羌活菊花散，木賊芩芎荊芥草。</p>
<p>薄荷歸尾連防風，芍藥蔓荊草決好。</p>
<p>川芎石膏散歸術，芩梔大黃寒水石。</p>
<p>滑菊荊參草梗砂，防風薄荷翹煎食。</p>
<p>還睛散用白蒺藜，草決木賊與山梔。</p>
<p>防風蟬退青葙子，為末門冬湯下之。</p>
<p>蟬花散亦還睛散，加上荊芥草花膽。</p>
<p>蔓蜜芎菊各均平，茶清調下昏醫展。</p>
<p>補陽八物除川芎，澤瀉陳柴防桂同。</p>
<p>知母黃耆羌獨活，空心煎服奏奇功。</p>
<p>犀角升麻湯白芷，防風川芎白附子。</p>
<p>甘草羌活與黃芩，用熱牙疼皆可使。</p>
<p>獨活散內用川芎，羌活荊防薄荷同。</p>
<p>生地黃兼細辛使，煎來漱咽牙齦風。</p>
<p>甘露兩地山茵陳，天麥枇杷枳殼芩。</p>
<p>石甘等分煎之用，男婦咽牙客熱靈。</p>
<p>通氣防風羌獨君，寞本荊芎甘五分。</p>
<p>郁加升柴寒蒼柏，太陽脊強痛堪均。</p>
<p>活絡湯用羌獨活，芎歸白朮甘草雜。</p>
<p>姜煎一盞不拘時，風濕臂痛便除脫。</p>
<p>舒經湯中薑黃用，歸草桐術切碎共。</p>
<p>赤芍羌活又少些，沉香磨服治諸痛。</p>
<p>五痹湯中白朮羌，薑黃防己二錢足。</p>
<p>甘草一錢姜同煎，筋緩皮頑堪再續。</p>
<p>三痹湯即寄生湯，黃耆續斷合成方。</p>
<p>一切風痹拘攣疾，煎服為丸任意嘗。</p>
<p>黃耆湯治渾身淋，蔓草桔參芍藥邏。</p>
<p>臨臥水煎還滾服，大熱三分黃柏加。</p>
<p>補氣湯黃耆白芍，甘草澤瀉陳皮搏。</p>
<p>水煎能治皮膚麻，兼醫眼目多昏錯。</p>
<p>正氣散名不換金。蒼陳樸半藿甘真。</p>
<p>汗多去蒼加白朮，份濕須加白茯苓。</p>
<p>神朮散用五兩蒼，芎芷細辛藁本羌。</p>
<p>甘草六件各一兩，風寒泄痢總相當。</p>
<p>人參清肺飲烏梅，知母地骨桑皮培。</p>
<p>阿杏桔梗甘瞿粟，加蜜澄清效若追。</p>
<p>二陳湯內有陳皮，白茯苓兼甘草齊。</p>
<p>半夏還將白水泡，久年痰嗽用皆宜。</p>
<p>洗肺散用天麥門，半夏黃芩與杏仁。</p>
<p>甘草五味姜煎服，咳嗽痰升效最靈。</p>
<p>貝母散中桑白皮，款冬花與杏仁知。</p>
<p>五味甘草姜煎熟，火嗽日久服無時。</p>
<p>款冬花散知母先，桑葉麻黃阿膠黏。</p>
<p>杏仁貝母並半夏，甘草㕮咀入姜煎。</p>
<p>木瓜湯用吳茱萸，茴香甘草蘇鹽扶。</p>
<p>再研生蒜塗腳底，不慮昏危人腹俞。</p>
<p>蟠蔥散用玄胡索，桂姜蒼朮甘砂搏。</p>
<p>梭莪青丁白茯檳，蔥煎熱服見歡樂。</p>
<p>十味香茹有四君，木瓜扁豆樸相均。</p>
<p>加上黃耆連最妙，和脾消暑有功勳。</p>
<p>清暑益氣草參耆，麥冬五味青陳皮。</p>
<p>浮瀉升麻蒼白朮，神麯葛柏與當歸。</p>
<p>人參養胃術苓甘，陳半樸果藿梅堪。</p>
<p>能醫外感停痰食，寒瘧尤當早服安。</p>
<p>芎歸鱉甲散茯苓，芍藥半夏橘紅青。</p>
<p>熱加柴胡寒草果，烏梅薑棗畏勞形。</p>
<p>導滯湯歸芩連桂，大黃檳木甘草萃。</p>
<p>赤加甘草白加姜，胃弱去黃加朮配。</p>
<p>地黃湯中白芍藥，黃柏地偷白朮約。</p>
<p>腹痛還須枳樸佳，滑石加上見安樂。</p>
<p>衛生湯即六君子，加上山藥米仁子。</p>
<p>澤瀉黃連各等分，虛痰火瀉方稱此。</p>
<p>一清飲子赤茯苓，芎草桑皮柴胡並。</p>
<p>生薑棗子煎來服，黃疸發熱效如神。</p>
<p>五皮散方亦甚奇，大腹桑根固用皮。</p>
<p>茯苓姜桔俱等分，能救渾身沒指危。</p>
<p>赤小豆湯用豬苓，桑皮防已連翹仁。</p>
<p>澤汙當歸商陸芍，熱甚再加犀角神。</p>
<p>平肝飲子用防歸，枳梗川芎木桂枝。</p>
<p>楝參橘芍檳甘草，腹脅妨暈嘔脹醫。</p>
<p>萆薢分清飲菖蒲，茯苓甘草天台烏。</p>
<p>益智仁等鹽煎服，通心氣止精濁余。</p>
<p>蒼朮復煎散紅花，黃柏柴胡川升麻。</p>
<p>藁本澤汙羌白朮，腦項背膝腰痛佳。</p>
<p>補腎湯即四君子，加耆附陳羌木瓜。</p>
<p>甘草子蘇川芎少，寒疝泄瀉用之佳。</p>
<p>白蔥散即四物湯，枳樸莪梭茯桂姜。</p>
<p>參楝麴櫱青茴木。蔥鹽煎治冷膀胱。</p>
<p>聚香飲子乳沉丁，木檀藿香葉共成。</p>
<p>胡索薑黃烏梗桂，甘草姜煎疝氣寧。</p>
<p>烏附通氣四苓散，加歸芍橘香楂草。</p>
<p>不問疝氣久與新，風寒暑溫氣皆掃。</p>
<p>檳蘇散內香蘇多，甘陳檳瓜一半和。</p>
<p>薑蔥煎服治腳氣，風濕疏通效莫過。</p>
<p>左經湯麻桂苓殼，柴半甘加羌防樸。</p>
<p>姜芩小草杞麥冬，對症加減旋斟酌。</p>
<p>大腹皮散宣木瓜，蘇葉子同蘿蔔佳。</p>
<p>沉香烏藥檳榔桔，枳殼桑皮荊芥花。</p>
<p>烏藥平氣茯神甘，參朮芎歸木芷含。</p>
<p>五味蘇子皆等分，姜煎腳氣悉皆堪。</p>
<p>當歸拈痛羌茵陳，草芩升葛苦參人。</p>
<p>蒼白朮防豬澤瀉，茯苓知母去查塵。</p>
<p>活燥潤血生津飲，天麥門冬五味井。</p>
<p>瓜仁麻子草當歸，地黃生熱天花引。</p>
<p>錢氏白朮散參苓，甘草葛根五味寧。</p>
<p>藿香木香柴枳殼，中消善谷十分靈。</p>
<p>滋陰降火古方稀，四物湯中加柏知。</p>
<p>甘草陳皮並白朮，天麥門冬遠志依。</p>
<p>人中白散生甘草，青黛黃柏如金寶。</p>
<p>為末童便調二錢，丹溪治火方真巧。</p>
<p>枳殼煮散防風芎，乾葛細辛甘梗充。</p>
<p>姜煎一盞空心服，脅疼氣痛盡能攻。</p>
<p>枇杷葉散香茹君，麥門陳皮厚朴分。</p>
<p>丁瓜甘與茅根和，暑毒攻心吐血欣。</p>
<p>歸脾湯歸龍眼肉，酸棗遠志參耆朮。</p>
<p>茯神木香甘草姜，憂思多度真宜服。</p>
<p>安胎飲內陳皮芩，歸芍人參甘草平。</p>
<p>蘇葉砂仁生地人，川芎白朮任煎吞。</p>
<p>達生散用蘇莖葉，大腹甘草芩術切。</p>
<p>歸芍參陳黃楊腦，蔥煎宜服在九月。</p>
<p>催生五積加烏附，星香膠杏酒調助。</p>
<p>冬月破水後最宜，不問生死胎俱墮。</p>
<p>牛膝湯治胎中死，瞿麥滑石冬葵子。</p>
<p>赤小當歸與木通，水煎一服見歡喜。</p>
<p>三分散用小柴胡，四物四君子同咀。</p>
<p>產後傷寒並痢者，依方取效似神扶。</p>
<p>三之一湯有柴胡，半夏人參一處咀。</p>
<p>四物更加芩炒入，諸般產後效通神。</p>

<h1>卷之三　總論</h1>

<h2>用藥入門要訣</h2>
<p>夫醫者，意也。醫不執方，合宜而用至哉乎言也。蓋天有五運，地彰六氣，人感風寒暑濕以有疾，豈但紙上之陳言而能治哉。請得而鋼論之。夫肝主春，於時自子至卯，為陰中之陽，風藥應之，如防風、羌活、升麻、葛根之類。自地昇天，味之薄者是也。味辛補酸瀉，氣溫補涼瀉。心主夏，於時自卯至午，為陽中之陽，熱藥應之，如附子、烏頭、薑、桂、紅豆之類。正秉火之正氣，火之厚浮散下，氣之厚者是也。味鹹補甘瀉，氣熱補寒瀉。肺主秋，於時自午至酉，為陽中之陰，燥藥應之，如茯苓、豬苓、澤瀉、木通之類。自天收而降，地氣之薄者是也。味酸補辛瀉，氣涼補溫瀉。腎主冬，於時自酉至子，為陰中之陰，寒藥應之，如大黃、芩、連、黃柏、防己之類。正秉水之氣味，水之厚化浮沉，味之厚者是也。味苦補咸泄，氣寒補熱瀉。脾主長夏濕化，味甘補苦泄，氣寒熱溫涼，各從其宜，詳後分類。注，經曰：補瀉在味隨時換氣，凡言補，補以辛溫甘熱之劑，皆助春夏之升，浮在人身乃肝心也。凡言瀉，以酸苦寒涼及淡滲之劑，皆助秋冬之降，沉在人身乃肺腎也。從時春溫宜涼，夏熱宜寒，秋涼宜溫，冬寒宜熱，晝則從升，夜則從降。晴則從熱，陰則從寒，然病與時逆，夏反用熱，冬反用寒，如發表不遠熱，攻裡不遠寒，以其不住於中也。又如傷冷，雖夏月可用辛熱，傷酒及素有熱，雖寒月可用苦寒，然皆暫用也。以人病言之，病在上則宜升，病在下則宜降，病在外則宜浮，病在內則宜沉，病寒則治以熱，病熱則治以寒，變化至不一也。故升降浮沉則順之，所謂毋傷歲氣，勿伐天和也。寒熱溫涼則逆之，所謂調其氣血，使之融會也。故曰：醫者意也。醫不執方，合宜而用也。豈可執一而論哉。</p>

<h2>傷寒</h2>
<p><u>六經傳變歌</u></p>
<p>傷寒一日二日間，發熱頭疼及惡寒。</p>
<p>腰痛脈浮真可見，此脈從頭連腰還。</p>
<p>無仟麻黃湯發散，有汗傷風桂枝攢。</p>
<p>大青龍湯表裡實，此屬太陽膀胱間。</p>
<p>傷寒二日三日內，目痛身熱加一倍。</p>
<p>鼻乾不睡脈來長，此脈往來緩者是。</p>
<p>無汗惡寒用葛根，有汗桂枝湯一劑。</p>
<p>便實惡寒大柴胡，此屬陽明胃經內。</p>
<p>三日四日病轉深，耳聾胸脅痛如針。</p>
<p>寒熱嘔逆口乾苦，此脈循脅絡耳真。</p>
<p>強盛之脈真可見，小柴胡湯宜酌斟。</p>
<p>似瘧婦人血結類，此屬少陽膽經尋。</p>
<p>病轉四日及五日，腹痛咽乾自濕的。</p>
<p>自利而渴脈微沉，脈布脾胃絡咽嗌。</p>
<p>四逆理中治臟寒，腹滿脈浮桂枝入。</p>
<p>胸滿痰多瓜吐之，此屬太陽脾經脈。</p>
<p>傷寒五日六日挨，多眠口燥舌乾哉。</p>
<p>此脈絡肺系舌本，指下脈沉貫腎來。</p>
<p>舌乾須用小承氣，不渴不幹四逆差。</p>
<p>汗出傷陽諸膚屬，此屬少陰腎經排。</p>
<p>仿寒六日七日到，囊縮脈微煩滿貌。</p>
<p>筋急唇青四體疼，脈尋陰氣絡肝道。</p>
<p>脈若不浮小建中，浮緩如瘧各半妙。</p>
<p>囊縮汗毒承氣加，此屬厥陰肝經奧。</p>
<p><u>六經正病歌</u></p>
<p>太陽頭疼身熱脊強，陽明目痛鼻乾不眠。</p>
<p>少陽耳聾脅痛，寒熱嘔而口為之苦。</p>
<p>大陰腹滿自利，尺寸沉而津不到咽。</p>
<p>少陰則舌乾口燥，厥陰則煩滿囊拳。</p>
<p>一日二日可發表而散，三日四日宜和解而痊。</p>
<p>五六日便實方可議下，七八日不愈又復再傳。</p>
<p>日傳二經名為兩感，經傳六日應無一痊。</p>
<p>太陽無汗麻黃為最，太陽有汗桂枝可先。</p>
<p>小柴胡為少陽之要領，大柴胡行陽明之秘堅。</p>
<p>至三陰則難拘定法，或可溫而或可下。</p>
<p>宜數變以曲全生意，或可方而或可圓。</p>
<p><u>傷寒表裡二症用藥歌</u></p>
<p>傷寒表症是如何，無汗惡寒身熱多。</p>
<p>頭項俱疼脈浮取，擇方施劑汗之和。（用十神湯主之）</p>
<p>傷寒里症腹心膨，不惡寒來惡熱蒸。</p>
<p>其脈數沉兼自汗，汗便秘結下之生。（用大柴胡湯主之）</p>
<p><u>陽症陰症</u></p>
<p>陽症身熱頭疼痛，體痛咽乾難自動。</p>
<p>或有譫語及循衣，脈息弦洪宜審用。</p>
<p>陰症身涼二便清，病初自汗少頭疼。</p>
<p>也無煩躁也無渴，脈息沉微自可明。</p>
<p><u>陽症似陰陰症似陽</u></p>
<p>陽症身涼冷四肢，小便赤少大便稀。</p>
<p>心煩口燥脈沉數，白虎湯兼竹葉奇。</p>
<p>陰症如陽面色紅，小便清滑大便通。</p>
<p>渾身微熱沉遲脈，真武湯兼用理中。</p>
<p><u>陽厥陰厥</u></p>
<p>陽厥時時指爪溫，心煩便秘口乾論。</p>
<p>脈來沉細中還疾，承氣柴胡一盞吞。</p>
<p>陰厥身涼熱不回，二便通話不煩時。</p>
<p>脈來沉細知端的，三建湯兼四物宜。</p>
<p><u>血脈黃歌</u></p>
<p>面黃恰似煙燻色，小便自利大便黑。</p>
<p>唇焦漱水血家黃，桃仁承氣湯堪擇。</p>
<p><u>濕症黃歌</u></p>
<p>發黃渾似橘皮明，小便不利大便行。</p>
<p>濕熱相蒸名曰疸，茵陳湯共五苓平。</p>
<p><u>柔痓剛痓歌</u></p>
<p>元來柔痓屬膀胱，口禁如疸身反張。</p>
<p>此是傷風感寒濕，故分兩症有柔剛。</p>
<p>無汗為剛須易識，惟有葛根湯第一。</p>
<p>有汗為柔端的詳，桂枝葛根湯救急。</p>
<p>二痓皆宜續命湯，剛痓去桂用麻黃。</p>
<p>柔痓去麻當用桂，只因此法最為良。</p>
<p><u>傷寒四症相類歌</u></p>
<p>食積寒痰並腳氣，更兼亦有患勞煩。</p>
<p>要識四般相類症，不與傷寒一例看。</p>
<p><u>傷寒至捷法歌</u>（計一十九首）</p>
<p>發熱憎寒體痛時，脈浮無汗怎生醫。</p>
<p>十神五積香蘇散，有汗傷風用桂枝。</p>
<p>汗後依前病不除，三朝四日莫躊躇。</p>
<p>或用參蘇或敗毒，加些良劑病當舒。</p>
<p>病傳入里腹脹滿，口乾熱盛小柴管。</p>
<p>病若仍前熱泄多，只用柴苓湯小碗。</p>
<p>六日七日病轉熱，前後不通好飲啜。</p>
<p>或有亂語及循衣，大柴承氣可通別。</p>
<p>下後仍前病不休，黃連解毒免人憂。</p>
<p>病後虛煩熱已靜，白虎竹葉石膏投。</p>
<p>陽厥還須用大柴，不然承氣也通挨。</p>
<p>陰蕨四逆並真武，三建加之自忖裁。</p>
<p>胸膈停痰氣悶時，可將瓜蒂吐之宜。</p>
<p>怔忡水停微有喘，青龍十棗便能醫。</p>
<p>陽毒發班是如何，梔子大黃黑奴科。</p>
<p>咽喉腫痛還曾治，甘枯湯惟而味和。</p>
<p>膈痰冷氣如何治，理中丸子君須記。</p>
<p>去血還須抵當湯，嚏氣不絕旋覆輩。</p>
<p>小便不通五苓宜，豬苓八正皆曰奇。</p>
<p>大便不通蜜導法，硝黃服後熨其臍。</p>
<p>熱吐五苓半夏加，冷吐四逆茱萸佳。</p>
<p>狐惑嘎聲人不曉，大黃牡蠣眾皆誇。</p>
<p>發黃梔子柏皮同，退疸茵陳極有功。</p>
<p>治蜜桃仁犀角類，大黃甘遂解結胸。</p>
<p>昏沉多睡萎蕤湯，煩躁無眠酸棗方。</p>
<p>少陰自利白通美，腳氣續命越脾當。</p>
<p>柔痓桂枝加乾葛，剛痓麻黃葛根活。</p>
<p>陰症似陽四逆宜，陽症如陰白虎奪。</p>
<p>食復勞份卻怎醫，枳實梔子內中追。</p>
<p>陰易陽易如何治，燒裩鼠糞此湯宜。</p>
<p>吐蛔烏梅與理中，用濕黃芩朮附通。</p>
<p>腹中急痛如何治，桂枝加入大黃中。</p>
<p>吐血解毒與三黃，筋惕肉瞤真武湯。</p>
<p>肺實嗽喘青龍美，衄血不止茅花強。</p>
<p>往來寒熱瘟瘧侵，小柴胡湯還可臨。</p>
<p>咳逆皆因胃寒致，乳下艾灸羌附星。</p>
<p>熱深咳逆成陽逆，大小柴胡自去攀。</p>
<p>此是醫家入門訣，更宜明者用心參。</p>

<h2>對症諸湯散</h2>
<p><u>小承氣湯</u>　治傷寒潮熱，讝語如有所見，大便六七日不通，是有燥糞結滯。服此。</p>
<p>枳實（一個，炒去穰）　大黃（一兩）　厚朴（去皮，薑製，一兩）</p>
<p>上讝咀，每服五錢，水盞半，煎八分，以利為度。</p>
<p><u>瓜蒂散</u>　治傷寒四五日，病在胸膈，痰氣緊滿於上，宜此吐之。</p>
<p>瓜蒂（一兩，炒黃）　赤小豆（一兩）</p>
<p>上讝咀，每服三錢，水盞半，入淡豆豉一合同煎至八分，去滓，溫服。以吐得快為度。亡血體虛者不可服之。</p>
<p><u>小青龍湯</u>　治傷寒表症不解，心下有水氣，乾嘔發熱，咳嗽微喘。又治肺經受寒咳嗽喘急。</p>
<p>半夏（湯洗，二兩半）　乾薑　細辛　五味子　麻黃　肉桂　芍藥　甘草</p>
<p>上㕮咀，每服五錢，水盞半，煎至八分，食前溫服。</p>
<p><u>大青龍湯</u>　治傷寒頭疼，發熱，惡寒，無汗，煩躁，六脈浮緊。</p>
<p>麻黃　桂枝　甘草　杏仁　石膏　大棗（五枚）　生薑（十片）</p>
<p>上用水盞半，煎八分，溫服，取汗為度。若汗多不止，用濕粉撲之。</p>
<p><u>甘桔湯</u>　治少陰咽痛。</p>
<p>桔梗　甘草各不拘多少</p>
<p>上用水盞半，煎八分，通口服。</p>
<p><u>酸棗湯</u>　治傷寒吐下後心煩逆氣，晝夜不眠。</p>
<p>酸棗仁　甘草　知母　茯苓　川芎　麥門冬　乾薑</p>
<p>上用水一盞，煎至七分，溫服。</p>
<p><u>十神湯</u>　治時令不正，瘟疫妄行，感冒及熱，或欲出疹痘，此藥不問陰陽兩感傷寒並宜服之。</p>
<p>紫蘇　甘草　陳皮　香附　乾葛　升麻　芍藥　川芎　白芷　麻黃</p>
<p>上㕮阻，每服三錢，水盞半，姜五片，煎至七分，去滓熱服。不拘時候。如發熱頭疼，加蓮鬚、蔥白。中滿氣實，加枳殼，名和解散。</p>
<p><u>香蘇散</u>　治四時傷寒，頭疼，發熱，惡寒宜服此。</p>
<p>紫蘇　陳皮　香附　甘草</p>
<p>上㕮咀，用水盞半，加生薑三片，蔥白五個，煎至七分，安心熱服。如頭疼加川芎、白芷，名芎芷和解散。</p>
<p><u>人參敗毒散</u>　治傷寒頭疼壯熱惡寒，及風痰咳嗽，鼻塞聲重，心煩蘊熱。</p>
<p>人參　桔梗　甘草　川芎　茯苓　枳殼　前胡　羌活　獨活　柴胡</p>
<p>上㕮咀，用水盞半，生薑三片，薄荷少許，同煎七分，去滓服，不拘時候。咳嗽加半夏。發熱加黃芩、黃櫱、梔子、黃連。赤利咳血，口舌乾燥加黃芩。風熱加荊芥、防風名荊防敗毒散。又與消風散相合，名消風敗毒散。</p>
<p><u>小柴胡湯</u>　治傷寒如瘧，胸膈滿痛，小便不利，大便秘澀。</p>
<p>柴胡　半夏　人參　黃芩　甘草</p>
<p>上㕮咀，用水盞半，生薑五片，棗子一枚，煎至七分，熱服。胸滿及咽痛加枳實、桔梗即名柴胡枳桔湯。脅痛加芍藥、石菖蒲名柴胡芍藥湯。脅腹臍痛加枳殼、大黃名柴胡飲子。無汗加升麻、葛根名柴胡葛根湯，又名柴胡升麻湯。咳嗽加杏仁、五味子名參胡五味湯。汗下之後，病尚不解加黃連、黃柏、黃芩、梔子名黃胡解毒湯。結胸加瓜蔞子。發黃加茵陳、黃柏。發黃有血症加桃仁、當歸。狂亂加大黃、朴硝。衄血下血加黃連、犀角。</p>
<p><u>大柴胡湯</u>　治傷寒十餘日不解，邪氣結在裡，身熱煩躁，語言譫妄，大便不通繞臍刺痛。</p>
<p>柴胡　大黃　枳殼　半夏　赤芍藥　黃芩</p>
<p>上㕮咀，用水盞半，生薑五片，棗子一枚，煎至七分，去滓，溫服。此藥治傷寒內熱裡實，若身體疼痛是表症未解，不可服之。熱極腹脹及結胸加朴硝。發黃，小便自利，大便黑加桃仁、當歸、桂枝。發黃，小便不利加茵陳、梔子、黃柏。</p>
<p><u>五苓散</u>　治傷寒後發渴，小便不利。</p>
<p>豬苓　澤瀉　茯苓　肉桂　白朮</p>
<p>上㕮咀，白水煎服。</p>
<p><u>黃連解毒湯</u>　治傷寒染病燥熱毒，煩悶乾嘔，口燥呻吟，喘滿陽厥及深蓄熱內甚，俗多妄為陰毒者，及汗下吐後，寒涼諸藥不能退熱勢，而感症同法。</p>
<p>黃連　黃柏　黃芩　梔子</p>
<p>上㕮咀，水二盞，煎至一盞，熱服。如腹滿嘔吐，或欲作痢者，每服加生半夏二枚，厚朴二錢，生薑三片，名半夏黃連解毒湯。又名黃連清心湯。</p>
<p><u>麻黃湯</u>　治傷寒頭痛，發熱惡寒，骨節疼痛，喘滿無汗。</p>
<p>麻黃　杏仁　桂枝　甘草</p>
<p>上用水一盞，煎至八分，溫服。</p>
<p><u>桂枝湯</u>　治傷寒太陰經受病，頭疼身痛，或翕翕發熱，或洒洒惡風。</p>
<p>桂枝　芍藥　甘草</p>
<p>上用水一盞，姜三片，棗二枚，煎至七分，溫服。不拘時候，惟春初可依此方，春分以後夏至以前加黃芩五兩，夏至後加石膏二兩，知母五錢，升麻五錢。若病人素虛寒者，不用加減，無汗休服。</p>
<p><u>白虎湯</u>　治傷寒大汗後表症已解，或吐下後，邪氣未除，熱結在裡，心胸煩渴，甚欲飲水。</p>
<p>石膏　甘草　知母</p>
<p>上用水盞半，入粳米三十餘粒，煎至七分，去滓，溫服。煩渴不已者，加人參。發斑加梔子、大黃名化斑湯。</p>
<p><u>竹葉石膏湯</u>　治傷寒已經汗下，表裡俱虛，津液枯竭，心煩發熱，氣逆欲吐，及諸虛煩熱並宜服之。</p>
<p>人參　半夏　甘草　石膏　麥門冬</p>
<p>上入青竹葉、生薑各五六片，水二盞，煎一盞，去滓，入粳米百餘粒，再煎至米熟，去米，溫服。不拘時候。</p>
<p><u>真武湯</u>　治傷寒數日已後發熱腹痛，頭目昏沉，大便自利，小便或利或澀，或嘔或咳，或已經汗不解，仍復發熱，心下動悸，頭目眩暈，皆由渴後飲水，停留中脘所致，此湯並能治之。</p>
<p>芍藥　茯苓　白朮　甘草　附子（炮）</p>
<p>上用水盞半，煎至八分，溫服。不拘時候，咳嗽加五味子七錢五分，細辛、乾薑各二錢五分，下利去芍藥，加乾薑五錢，小便利去茯苓；嘔者去附子，加生薑。</p>
<p><u>調中湯</u>　治秋夏之間暴寒折於盛熱，熱結於四肢，則壯熱頭疼，寒傷於胃，則下痢或血，或水，如脈數者，宜此下之。</p>
<p>大黃　葛根　藁本　黃芩　白朮　芍藥　桔梗　茯苓　甘草</p>
<p>上用水盞半，煎至八分，溫服。不拘時候。</p>
<p><u>三建湯</u>　治厥陰。</p>
<p>天雄　川烏　附子</p>
<p>上用水盞半，生薑十大片，煎服。</p>
<p><u>四逆湯</u>　治傷寒自利，脈微欲絕，手足厥冷。</p>
<p>乾薑　甘草　附子（去皮尖）</p>
<p>上用水一盞，煎至七分，溫服。不拘時候。</p>
<p><u>桃仁承氣湯</u>　治太陽病不解，熱結膀胱如狂如顛，血自下，但小腹結者。</p>
<p>大黃（去皮）　厚朴（去皮薑製）　桃仁　芒硝</p>
<p>上用水二盞，煎至一盛，去滓，入芒硝，再煎一二沸，通口服。</p>
<p><u>茵陳蒿湯</u>　治陽明裡熱極甚，煩渴熱鬱留飲。不散，以致濕熱相搏，身黃髮疸，但頭出汗，身無汗，小便不利，渴飲水漿，身心發黃，宜本方合五苓散，利大小便。</p>
<p>茵陳　大黃　山梔子</p>
<p>上用水二盞半，漫火煎至一盞，絞汁，溫服。以利為度，甚者再服。當下膿血如腐爛魚腸膠鰾等物，及小便焦黃，此一劑分作四服，調五苓散三錢，名茵陳五苓散。</p>
<p><u>升麻湯</u>　治大人小兒時氣瘟疫，頭疼發熱，及瘡疹已發未發疑似之間，並宜服之。</p>
<p>升麻　葛根　芍藥　甘草</p>
<p>上用水一盞，煎至七分，熱服。</p>
<p><u>小續命湯</u>　治語言蹇澀，及一切風痓。</p>
<p>麻黃　人參　黃芩　芍藥　防己　甘草　川芎　肉桂（各一兩）　防風（去蘆，五兩）　附子（炮去皮尖，五錢）　杏仁（去皮夾灰炒，一兩）</p>
<p>上用水一盞，生薑三片，煎至七分，通口服。</p>
<p><u>溫膽湯</u>　治傷寒瘥後氣脈不和，食復勞復，病症如初。</p>
<p>半夏　枳實　橘紅　茯苓　甘草</p>
<p>上㕮咀，每用四錢，水一盞半，姜七片，棗一枚，竹茹一團，煎至七分，去滓，食前熱服。</p>
<p><u>防風通聖散</u>　治男婦傷寒外症，惟有孕三四月，或七八月不用硝，余月分用之無妨。小兒減劑服之，此中有古人治傷寒不傳之妙，後學宜慎寶之。</p>
<p>防風　川芎　當歸　芍藥　薄荷　連翹　黃芩　桔梗　石膏　山梔　白木　滑石　荊芥　甘草　大黃　芒硝　麻黃</p>
<p>上大黃、芒硝、麻黃三味，對症施入，自利去大黃、朴硝，自汗去麻黃。</p>
<p><u>益元散</u>　即天水散又名六一散。治中暑消渴瀉痢等症。</p>
<p>滑石（六錢）　甘草（一錢）</p>
<p>上共為末，每服二錢，水調服。不拘時。（甚能救急）</p>

<h2>傷寒外症加減方次第</h2>
<p>第一雙解散，防風通聖散合益元散，一名通解散。</p>
<p>第二大柴胡涼膈，天水合服。</p>
<p>第三涼膈小柴胡臺服。</p>
<p>第四大柴胡合黃連解毒湯。</p>
<p>第五大柴胡合三一承氣湯。</p>
<p>第六承氣合解毒湯。</p>
<p>第七瓜蒂散。</p>
<p>第八涼膈散。</p>
<p><u>風</u></p>
<p>第九益元散。</p>
<p>第十雙解散。</p>
<p>第十一白虎散。</p>
<p>第十二承氣解毒湯。</p>
<p><u>暑</u></p>
<p>第十三白虎湯。</p>
<p>第十四五苓合天水散。</p>
<p>第十五承氣合散毒湯。</p>
<p>第十六白虎湯加蒼朮。</p>
<p>第十七涼膈散合解毒湯。</p>
<p>第十八解毒合承氣湯。</p>
<p>第十九解毒涼膈天水散合服。</p>
<p><u>結胸</u></p>
<p>第二十大小陷胸湯。</p>
<p>第二十一小柴胡合小陷胸湯。</p>
<p>第二十二大承氣湯。</p>
<p>第二十三解毒湯。</p>
<p><u>發斑</u></p>
<p>第二十四涼膈散加當歸。</p>
<p><u>發黃</u></p>
<p>第二十五茵陳湯調五苓散。</p>
<p>第二十六茵陳合承氣湯。</p>
<p><u>煩心不眠</u></p>
<p>第二十七梔子豆豉湯。</p>
<p>第二十八五苓散空服煎涼膈，加枳殼、桔梗。</p>
<p><u>剛柔二痓</u></p>
<p>第二十九承氣合解毒湯。</p>
<p><u>汗後煩渴</u></p>
<p>第三十涼膈減桂五苓甘露益元湯，甘露飲，亦桂苓白朮散。</p>
<p>上共二十八方，如無大承氣，第五三一承氣代之亦妙。通三十九件藥味，調理傷寒，曲盡其妙，百發百中，後之學者，詳辨脈症，審而用之，起沉疴於反掌，回造化以活人，方知其妙也。</p>
<p><u>傷寒五臟受病歌</u></p>
<p>心病舌強笑面赤，躁煩掌熱口乾讝。</p>
<p>臍上動氣洪緊數，反得沉微命不全。</p>
<p>肝家面青目痛閉，筋急怒容臍左氣。</p>
<p>脈當弦急又兼長，浮稜短兮名不治。</p>
<p>脾家不食麵皮黃，體重肢疼喜臥床。</p>
<p>動氣當臍脈緩大，弦長而緊是凶殃。</p>
<p>肺家面白帶憂愁，吐衄寒溫喘嗽求。</p>
<p>臍右氣兮沉細稜，大而牢者死根由。</p>
<p>腎家面黑爪甲青，耳閉足寒泄腹疼。</p>
<p>臍下氣兮脈沉滑，緩而大者死之形。</p>
<p><u>風</u></p>
<p><u>諸中風對症用藥歐</u></p>
<p>中風之症多般類，偏枯風痱並風懿。</p>
<p>風痹四者本同宗，中人心肝脾腎肺。</p>
<p>半身不遂肉頑麻，不知人事昏沉睡。</p>
<p>手足抽制痰涎壅，榮衛因虛所由致。</p>
<p>治發順氣與疏風，烏藥順氣當先試。</p>
<p>小續命兼排風湯，甚者三生飲為最。</p>
<p><u>烏藥順氣散</u>　疏風順氣。治一切風氣，四肢頑麻，骨節疼痛。</p>
<p>烏藥　陳皮　乾薑　枳殼　姜蠶　川芎　白芷　甘草　麻黃　桔梗</p>
<p>上用水一盞，姜三片，棗一枚，煎至七分，憎寒壯熱，頭疼，肢休倦怠，加蔥白三寸同煎並服，出汗或閃挫身體不能屈伸，溫酒調服，遍身搔癢，抓之成瘡，用荷葉煎服。常服疏風順氣。</p>
<p><u>小續命湯</u>　治中風半身不遂，口眼喎斜，手足顫掉，語言蹇澀及一切風痓之症。</p>
<p>麻黃　人參　黃芩　芍藥　防己　甘草　川芎　肉桂（各兩）　防風（去蘆，五兩）　附子（炮去皮尖，五錢）　杏仁（去皮尖灰炒，一兩）</p>
<p>上用水一盞，生薑三片，煎至七分，通口服。</p>
<p><u>排風湯</u>　治中風五臟，諸風狂言，亦治風毒腳氣腫痛。</p>
<p>白朮　當歸　辣桂　川芎　杏仁　防風　獨活　麻黃　甘草　白芍　白鮮皮　白茯苓</p>
<p>上用水一盞半，姜五片，溫服。不拘時候。</p>
<p><u>三生飲</u>　治卒中風昏迷，痰涎壅並口眼歪斜，脈沉無熱者，可服之。</p>
<p>南星（生，一兩）　川烏（生去皮）　附子（半兩，生去皮）　南木香（錢半）</p>
<p>上用水一盞，生薑七片，煎服。不拘時候。</p>
<p><u>人參順氣散</u>　治感風頭痛，鼻塞，聲重，一切中風宜服此，能疏風順氣。</p>
<p>人參　乾薑（各一兩）　川芎　甘草（炙，四兩）　桔梗　厚朴（制）　白朮　陳皮　白芷　麻黃（各四兩）　乾葛（三錢半）</p>
<p>上㕮咀，每服三錢，水一盞，姜三片，棗一枚，薄荷五七葉，煎熱服，不拘時候。或加姜蠶一兩、乾薑五錢，去白木、人參，又簡易加烏藥、枳殼，去厚朴、乾薑，用之專遍滯氣。如感風頭痛，咳嗽鼻塞，加蔥白煎。</p>
<p><u>順風勻氣散</u>　治氣寬中，中風頭疼，止瀉去濕。</p>
<p>人參　天麻　木瓜　白朮　白芷　烏藥　沉香　紫蘇　甘草　青皮</p>
<p>上㕮咀，薑、棗煎服。</p>
<p><u>洗藥</u></p>
<p><u>荊芥散</u>　煎湯洗諸風癬。</p>
<p>荊芥　苦參　白芷　獨活　羌活　黃柏　防風</p>
<p><u>外應散</u>　去風治五痹濕痛發熱散風。</p>
<p>羌活　獨活　藁本　荊芥　苦參　防風　白芷　紫蘇　藿香　大蓼　杉木　川椒　荊村皮　石楠皮　樟葉各不拘多少，加薑、蔥煎</p>
<p><u>八仙散</u>　白水煎洗諸風。</p>
<p>白芷　防風　荊芥　羌活　川芎　苦參　威靈仙　何首烏</p>
<p><u>御藥院方</u>　煎湯洗諸風症。</p>
<p>椿　槐　榆　柳　桑條</p>

<h2>寒</h2>
<p><u>諸中寒對症用藥歌</u></p>
<p>中寒之病腎為根，腎氣空虛寒易侵。</p>
<p>氣弱體虛調護失，乘涼臥地也傷人。</p>
<p>四肢厥冷俱僵直，腹痛昏迷口失音。</p>
<p>治法只宜溫散藥，無過五積理中尋。</p>
<p><u>理中湯</u>　治五臟中寒，口噤失音，四肢僵直腹冷疼瀉，兼治胃脘寒冷，氣刺作痛。</p>
<p>人參　白朮　乾薑</p>
<p>上用水盞半，煎七分，熱服。加附子即名附子理中湯。</p>
<p><u>生料五積散</u>　治中寒及感冒寒邪，頭疼身痛腹背拘急，惡寒嘔吐，腹痛，不問外感風寒，內傷生冷寒濕，客於經絡，腰腳痠疼，及通婦人經水。</p>
<p>白芷　陳皮　厚朴　甘草　枯梗　枳殼　川芎　芍藥　茯苓　蒼朮　當歸　半夏　肉桂　乾薑　麻黃</p>
<p>上用水盞半，姜三片，蔥白三根，煎至七分，熱服。胃寒用煨姜，挾氣加茱萸，調經催產入艾醋。寒濕腳氣加木瓜、檳榔、青藤、穿山甲。</p>

<h2>暑</h2>
<p><u>治中暑對症用藥歌</u></p>
<p>傷暑做出百般病，入心胞絡與胃應。</p>
<p>胃氣稍虛胃暑行，暑入口牙心則病。</p>
<p>口渴心煩背悶沉，或為吐瀉熱不定。</p>
<p>四肢厥冷脈微虛，身體但無疼痛並。</p>
<p>驅暑和中二事先，香茹五苓堪立應。</p>
<p>常服六和湯最宜，外熱內寒理中正。</p>
<p><u>香薷飲</u>　治伏天中暑，病熱飲水，口燥咽乾。</p>
<p>香薷（一兩）　厚朴　白扁豆（各三錢）</p>
<p>上用水一盞，入酒少許，煎候冷服。加黃連名黃達香薷散。</p>
<p><u>五苓散</u>　治中暑煩渴，身熱頭疼，霍亂吐瀉，小便赤少。</p>
<p>豬苓　澤瀉　茯苓　肉桂　白朮</p>
<p>上㕮咀，白水煎服，合香薷飲名薷苓湯。心神恍惚加神砂，名神砂五苓散。發熱加竹葉、麥門冬。</p>
<p><u>理中湯</u>　治夏月伏陰暑家病者，氣脈俱虛，飲水過度，或服涼劑，傷動其中，嘔吐不食，自利不渴，此則外熱內寒，感乎傷暑，伏熱之熱，當用此藥。</p>
<p>人參　白朮　乾薑</p>
<p>上用水盞半，煎七分，溫服。</p>
<p><u>六和湯</u>　治傷暑霍亂吐瀉，兩腳轉筋，四肢厥冷。</p>
<p>半夏　砂仁　杏仁　人參　甘草　扁豆　木瓜　藿香　香薷　厚朴　赤茯苓</p>
<p>上用水二盞，姜三片，棗一枚，溫服。不拘時候，若熱渴瀉，加黃連。</p>

<h2>濕</h2>
<p><u>治中濕對症用藥歌</u></p>
<p>問君何以知中濕，染於杳冥不自識。</p>
<p>非專雨水是濕根，天氣地氣汗氣窒。</p>
<p>中人身體覺沉重，骨肉痠麻行不疾。</p>
<p>漸加浮腫及身黃，治法利便除身濕。</p>
<p>五苓除濕滲濕先，加減消詳用五積。</p>
<p>又有風濕腰腿疼，獨活寄生湯可食。</p>
<p><u>五苓散</u>　利水除濕，止嘔逆，治浮腫加平胃散，治濕之常藥也。</p>
<p>豬苓　澤瀉　茯苓　肉桂　白朮</p>
<p>上㕮咀，白水煎服。</p>
<p><u>乎胃散</u>　治濕常用。</p>
<p>蒼朮　陳皮　厚朴　甘草</p>
<p>上用水一盞半，姜三片，棗二枚，煎至七分，食前服。</p>
<p><u>除濕湯</u>　治濕通用。</p>
<p>蒼朮　白朮　甘草　茯苓　乾薑　橘紅　丁香</p>
<p>上用水一盞半，姜五片，棗一枚，煎至八分，不拘時服。</p>
<p><u>五積散</u>　治寒濕客於經絡，腰腳痠疼，渾身麻木，兼治損痛。</p>
<p>白芷　陳皮　厚朴　甘草　桔梗　枳殼　川芎　芍藥　茯苓　蒼朮　當歸　半夏　肉桂　乾薑　麻黃</p>
<p>上水盞半，姜三片，蔥白三個，煎七分，熱服。</p>
<p><u>獨活寄生湯</u>　治風濕腰腿痠疼，退寒熱虛弱。</p>
<p>獨活　當歸　芍藥　防風　牛膝　細辛　茯苓　秦艽　人參　桂心　川芎　杜仲　甘草　桑寄生　熟地黃（各等分）</p>
<p>上用白水二盞，煎八分，熱服。</p>

<h1>卷之四</h1>

<h2>瘧</h2>
<p><u>治諸瘧對症用藥歌</u></p>
<p>夏傷於暑秋髮瘧，邪風正氣相交作。</p>
<p>又因飲食不調勻，生冷停痰寒熱搏。</p>
<p>先寒後熱寒瘧侵，先熱後寒溫瘧作。</p>
<p>更有單熱而不寒，此症名之為癉瘧。</p>
<p>一日一發容易治，兩日三日難捉摸。</p>
<p>治法消暑與除痰，先服柴苓湯的確。</p>
<p>次用截瘧鬼哭丹，清脾飲是尋常藥。</p>
<p><u>柴苓湯</u>　治先寒後熱，分陰陽，利小便，諸瘧通用此方為首，小柴胡湯臺五苓散。</p>
<p>柴胡　半夏　人參　黃苓　甘草（以上小柴胡湯）　豬苓　澤瀉　茯苓　肉桂　白朮（以上五苓散）</p>
<p>上用水盞半，姜五片，棗一枚，煎至七分，熱服。</p>
<p><u>鬼哭丹</u>　截諸瘧如神。</p>
<p>人參（二錢）　雄黃（一錢）　綠豆粉（一錢）</p>
<p>上為末，以端午日粽尖七枚，搗為丸，如綠豆大。每服二丸，或三丸。臨發之日用，空心面東，冷水吞服。</p>
<p><u>清脾飲</u>　治諸瘧，不問寒熱後先，通用。</p>
<p>青皮　厚朴　白朮　半夏　柴胡　茯苓　草果仁</p>
<p>上用水盞半，姜五片，煎七分，溫服。不拘時。</p>

<h2>痢</h2>
<p><u>治諸痢對症用藥歌</u></p>
<p>借問何故而成痢，蓋因物積並氣滯。</p>
<p>物欲出時氣不行，脾胃不知飲食致。</p>
<p>夏月過食生冷多，及至秋來有如是。</p>
<p>單白單紅兼赤白，醫者只將三則治。</p>
<p>單紅主熱單白冷，冷熱不和兼赤白。</p>
<p>紅痢解毒並香薷，枳殼稜莪三用得。</p>
<p>參苓白朮加木香。久痢不止還堪啜。</p>
<p>我有神仙換骨丹，一服當先功莫測。</p>
<p><u>黃連解毒湯</u>　治紅痢。</p>
<p>黃連　黃柏　黃芩　梔子　半夏　厚朴</p>
<p>上用水二盞，加生薑三片，煎至一盞，熱服。</p>
<p><u>胃苓湯</u>　平胃散合五苓散，治久痢。</p>
<p>蒼朮　陳皮　厚朴　甘草（平胃散）　豬苓　澤瀉　茯苓　肉桂　白朮（以上五苓散）</p>
<p>上用水二盞，姜三片，棗二枚，煎七分，熱服。</p>
<p><u>真人養臟湯</u>　治大人小兒冷熱不調，下痢赤白，或如膿血，裡急後重，臍腹痛，脫肛墜下，止酒毒便血。</p>
<p>人參　當歸　肉桂　木香　白朮　粟殼（蜜炙）　肉豆蔻　柯子　白芍藥</p>
<p>上用白水煎服，臟寒加附子。</p>
<p><u>敗毒散</u>　治下痢，熱毒衝心，不進飲食。</p>
<p>人參　桔梗　甘草　川芎　茯苓　枳殼　前胡　羌活　獨活　柴胡</p>
<p>上《醫方大成》加石蓮子肉，用生薑三片，薄荷少許同煎，去滓，不拘時候。</p>
<p><u>胃風湯</u>　治赤白痢泄瀉，虛弱腹痛。</p>
<p>人參　白朮　茯苓　官桂　川芎　芍藥　當歸</p>
<p>上用粟米百粒煎服。</p>
<p><u>地榆散</u>　治血痢冷疼泄瀉皆可服。</p>
<p>地榆　粟殼　茯苓　甘草　芍藥　當歸　乾葛　乾薑</p>
<p>上用白水煎服。</p>
<p><u>參苓白朮散</u>　治久痢脾胃虛弱，不進飲食，嘔吐泄瀉，開胃助脾等症。</p>
<p>人參　茯苓　白朮　扁豆　山藥　蓮肉　砂仁　桔梗　甘草　米仁</p>
<p>上用白水煎服。若噤口痢多加石蓮肉，通為細末，老米湯調下。</p>
<p><u>神仙換骨丹</u>　治臟腑一切積滯，及驚熱大便不通。</p>
<p>大戟　葶藶　甘遂　芫花　豆豉　杏仁　三梭　莪朮　大黃　石榴皮　巴豆（去殼）　五靈脂　烏梅肉</p>
<p>上各等分為末，用好米醋調勻，濕透炒焦，醋攪麵糊為丸，圓如綠豆大，每服九丸，或十三四丸，量人之大小，空心冷茶吞下，凡諸痢症水腫，心氣疝氣及肚內一切積滯並皆神效。</p>

<h2>咳嗽</h2>
<p><u>諸咳嗽對症用藥歌</u></p>
<p>肺為華蓋居上膈，只件清虛嫌滯塞。</p>
<p>七情四氣有一觸，因而咳喘一齊發。</p>
<p>肺氣風寒痰咳清，其聲清利無他說。</p>
<p>肺實風熱痰白稠，其聲乾燥多咽噎。</p>
<p>蘇沉九寶治風寒，人參敗毒除風熱。</p>
<p>四季參蘇飲可兼，秋天金沸草奇絕。</p>
<p>肺痿咯血甘桔湯，加上黃連真秘訣。</p>
<p><u>蘇沉九寶湯</u>　治老人小兒素有喘急，遇寒暄不常發則連綿不已，咳嗽哮吼夜不得睡。</p>
<p>紫蘇　麻黃　杏仁　甘草　官桂　薄荷　陳皮　大腹皮　桑白皮</p>
<p>上水盞半，姜二片，烏梅二個，煎，溫服。</p>
<p><u>敗毒散</u>　治傷風咳嗽頭疼。</p>
<p>人參　桔梗　甘草　川芎　茯苓　枳殼　前胡　羌活　獨活　柴胡　半夏</p>
<p>上水盞半，生薑三片，煎七分服。</p>
<p><u>參蘇飲</u>　治上焦有熱，咳嗽聲重。</p>
<p>人參　紫蘇　陳皮　桔梗　前胡　半夏　乾葛　茯苓　甘草　木香　枳殼</p>
<p>上水盞半，姜七片，棗一枚，煎，熱服。</p>
<p><u>金佛草散</u>　治肺經受風，頭目昏痛，咳嗽聲重，涕唾稠黏，時行寒疫，壯熱惡風。</p>
<p>甘草　麻黃　前胡　半夏　金沸草　赤芍藥　荊芥</p>
<p>上用水一盞，姜三片，棗一枚，溫服。</p>
<p><u>甘桔湯</u>　治風痰上壅，咽喉腫痛。</p>
<p>桔梗　甘草各不拘多少</p>
<p>上用水盞半，煎八分，通口服。咳血加黃連，咳者氣動也，陽也。嗽者，兼陰血也。</p>

<h2>霍亂</h2>
<p><u>治霍亂對症用藥歌</u>　夏秋之間，天氣暄熱，腠理正疏，風邪易入。暑濕時侵，多生此症。然有陰陽虛實不同，察脈之浮而洪，氣盛而調者為可治，微而遲，氣少不調者為難治也。</p>
<p>霍亂吐瀉為何因，上吐下瀉腳轉筋。</p>
<p>只緣胃氣承虛弱，飲食不調元是根。</p>
<p>日間受熱夜感冷，邪氣正氣尤不分。</p>
<p>所以發而為吐瀉，治療隨時要酌斟。</p>
<p>藿香正氣春冬用，五積嚴寒可救人。</p>
<p>夏月藿苓為要領，六和秋月有神靈。</p>
<p><u>霍香正氣散</u>　治霍亂吐瀉腹疼，春冬宜服。</p>
<p>藿香　白芷　茯苓　紫蘇　大腹皮　厚朴　陳皮　甘草　桔梗　半夏</p>
<p>上水一盞，姜三片，棗一枚，煎至七分，熱服。合五苓散名藿苓湯，治霍亂吐瀉，小便赤少，心神恍惚，一法再加木瓜，合香薷飲，名藿薷湯，治霍亂髮熱，加麥門冬、竹葉。</p>
<p><u>五積散</u>　治渾身麻木，兼治損疼。</p>
<p>白芷　陳皮　厚朴　甘草　桔梗　枳殼　川芎　芍藥　茯苓　蒼朮　當歸　半夏　肉桂　乾薑　麻黃</p>
<p>上水盞半，姜三片，蔥白三莖，煎七分，熱服。</p>
<p><u>六和湯</u>　治霍亂吐瀉，兩腳轉筋，四肢厥冷。</p>
<p>半夏　砂仁　杏仁　人參　甘草　扁豆　木瓜　藿香　香薷　厚朴　赤茯苓</p>
<p>上水二盞，姜三片，棗一枚，煎至七分，溫服。不拘時候。</p>

<h2>水腫</h2>
<p><u>諸水腫對症用藥歌</u></p>
<p>水腫之病出乎脾，時醫不識亂猜疑。</p>
<p>腎水脾上兩要固，脾上一虧水無圍。</p>
<p>氾濫迸流四肢去，使人浮腫黃光輝。</p>
<p>風腫氣腫並血腫，陽水陰水也須知。</p>
<p>風腫走注皮麻木，氣腫隨氣消長之。</p>
<p>血腫之病如何識，皮間赤縷血痕兒。</p>
<p>陽水身熱陰水冷，利水和脾總治之。</p>
<p>木香流氣除三腫，甚者當先用利宜。</p>
<p>陽水身熱八正散，陰水身涼胃苓奇。</p>
<p>水腫通用牛黃散，香平散子世間稀。</p>
<p><u>木香流氣飲</u>　治陰水不煩，大小便利。</p>
<p>木香　厚朴　青皮　甘草　蘇葉　陳皮　肉桂　檳榔　草果　丁皮　藿葉　木通　人參　白朮　木瓜　菖蒲　白芷　半夏（薑製）　麥門冬　香附子　蓬莪朮　大腹皮　赤茯苓</p>
<p>上用水二盞，姜三片，棗一枚，煎七分，熱服。</p>
<p><u>八正散</u>　利小便，去浮腫</p>
<p>瞿麥　萹蓄　滑石　大黃　梔子　木通　車前子　甘草</p>
<p>上用水盞半，燈心一結，煎七分，食前服。</p>
<p><u>胃苓散</u>　平胃散合五苓散，治水腫。</p>
<p>蒼朮　陳皮　厚朴　甘草（以上平胃）　豬苓　澤瀉　茯苓　肉桂　白朮（以上五苓）</p>
<p>上用水二盞，姜三片，棗二枚，煎七分，熱服。</p>
<p><u>牛黃散</u></p>
<p>黑牽牛　大黃（三兩）　陳米飯鍋焦（一兩）</p>
<p>上為末，曲糊丸如梧桐子大，常服四五十丸，淡薑湯送下，欲通利加至百丸。</p>
<p><u>香平散</u>　治水氣血三腫。</p>
<p>香附子　黑牽牛　京三稜　篷莪朮　乾薑</p>
<p>上為末，各等分，共二斤，入平胃散末一斤合和，每服二錢半，白湯、醋湯、薑湯皆可調服，用老米醋為丸亦好。</p>

<h2>宿食</h2>
<p><u>內消宿食對症用藥歌</u></p>
<p>宿食緣何不克消，只因體弱胃脾嬌。</p>
<p>最怕過餐生冷物，遂成積滯不僥調。</p>
<p>嘔惡吞酸兼噫噎，滿胸氣膈熱隨潮。</p>
<p>頭疼泄痢多般疾，虛實隨人用藥高。</p>
<p>輕者三稜紅丸子，重則麻黃等味調。</p>
<p>虛寒脾積並感順，突熱神芎治上焦。</p>
<p>投劑但能依此訣，何須過慮把心操。</p>
<p><u>三稜丸</u>　順氣寬中，消積滯，除膨脹等症。</p>
<p>三稜（半斤，細銼為末，水三升煮成膏）　杏仁（去心炒）　青皮　蘿蔔子（炒）　乾漆（炒）　神麯</p>
<p>上為末，並三稜膏為丸，如梧桐子大，每服三十丸，米湯送下。</p>
<p><u>紅丸子</u>　消食化氣，兼治食壅，取積下熱。服之神效。</p>
<p>雄黃（研）　川鬱金（各一分）　巴豆（十四粒，去油）</p>
<p>上為末，醋煮麵糊為丸，如麻子大，每服五丸，加至七丸，熱茶送下，喉閉用熱茶清調灌。</p>
<p><u>脾積丸</u>　治臟腑一切寒食積。</p>
<p>丁香　生木香　巴豆肉　良薑（醋煮，各五錢）　莪朮（二兩）　三稜（一兩）　青皮（一兩）　皂角（三大個，燒存性）</p>
<p>上為末，入百草霜三匙，麵糊丸如麻子大，每服十丸，加至二十丸，隨症下。脾積氣，陳皮湯下。口吐酸水，淡薑湯下。嘔吐，藿香甘草湯下。小腸疝氣，茴香酒下。婦人血氣刺痛，淡醋湯下。小兒疳氣，使君子湯下。</p>
<p><u>感應丸</u>　治停積宿食，不能克化，有傷脾胃。</p>
<p>百草霜（一兩）　杏仁（去皮尖，肥者二百四十個）　丁香（兩半）　木香（兩半）　肉豆蔻（去皮，二十個）　川乾薑（炮，三兩）　巴豆（七十個，去皮心膜，搗出油，研如粉）</p>
<p>上除巴豆、百草霜、杏仁外，餘四味為末，與前藥三味同拌研細，先將黃蠟六兩溶化，以重錦濾過，入好酒一升於器內，煮蠟溶滾數沸，傾出，候酒冷，其蠟自浮於上，取蠟稱用，春夏用油一兩，秋冬用油兩半，熬令香熟，次下蠟四兩，同化作汁，就鍋內乘熱拌和前藥成綻，油紙包收旋丸，每服三十丸，姜渴送下。</p>
<p><u>神芎丸</u>　治上焦積熱，風痰壅滯，頭目赤腫，或有瘡癤，咽膈不利，大小便秘澀，一切風熱，酒磨服亦可，諸滯尤宜服。</p>
<p>大黃　黃芩（各三兩）　牽牛　滑石（各四兩）　黃連　川芎　薄荷葉</p>
<p>上為末，滴水丸如梧桐子大，每服五十丸，溫水送下。</p>
<p><u>黑丸子</u>　治中脘有宿食不消，吞酸噁心，口吐清水，或心腹飧泄。</p>
<p>百草霜（三分）　杏仁（去皮尖，三七個）　巴豆（去殼，十個）　半夏（九個）　砂仁（三七粒）</p>
<p>上為末，痢疾加烏梅三個，麵糊丸如黍米大，每服二十丸，或三十丸，薑湯下。</p>
<p><u>木香分氣丸</u>　寬中順氣，消導積滯。</p>
<p>甘草（炙，六兩）　木香（不見火）　甘松（各一兩）　香附子（一斤）　莪朮（八兩）</p>
<p>上為末，水糊丸如梧桐子大，每服三十丸，生薑、陳皮煎湯送下。</p>

<h2>女科</h2>
<p><u>婦人胎產諸病對症用藥歌</u></p>
<p>女科雖曰有專攻，余病皆於男子同。</p>
<p>獨有胎前併產後，血崩經候滯難通。</p>
<p>烏沉和氣常當服，更得逍遙散有功。</p>
<p>四物湯中加減用，懷胎涼燥莫相逢。</p>
<p>孕婦忌用南星、半夏、乾薑、肉桂、滑石、硝黃大寒大熱燥性之藥。</p>
<p><u>烏沉湯</u>　治產後諸疾，尋常亦可服。</p>
<p>烏藥　陳皮　川芎　甘草　當歸　香附子　芍藥</p>
<p>上用白水煎，午前服。</p>
<p><u>和氣飲</u>　治胎前產後諸疾，尋常亦宜。</p>
<p>紫蘇　川芎　陳皮　甘草　厚朴　白茯苓　荊芥</p>
<p>上用白水煎服，發熱加黃芩。</p>
<p><u>逍遙散</u>　治發熱，經候不調，勞熱咳嗽。</p>
<p>當歸　芍藥　赤茯苓　白朮　甘草　柴胡　薄荷</p>
<p>上用白水煎服，不拘時候。</p>
<p><u>四物湯</u>　治虛損，月水不調，常服調益榮衛，滋養血氣。</p>
<p>當歸　川芎　白芍藥　熟地</p>
<p>上用水二盞，慢火煎至七分，空心熱服。妊娠胎前產後血塊不散，或亡血過多，或惡露不下，並宜並具，隨症施治加減於下。</p>
<p>妊娠下血宜加：艾葉六七片，阿膠末一錢。如疾勢甚大，散藥不及，以四味各五錢，用水四盞，煎至二盞，分為四劑，食前熱服，一日令盡，以醒為度。</p>
<p>如產後血虛，臟腑不調，因虛致熱，熱與血搏，口舌乾燥頻欲飲水加：天花粉一兩，麥門冬三錢。</p>
<p>腹中刺痛，惡物不下者加：當歸、芍藥各一錢。</p>
<p>血崩不止者加：川芎一分，柴胡五分。</p>
<p>身熱脈醜，頭暈項強者加：柴胡、黃芩各五錢。</p>
<p>大便秘結不通者加：大黃五錢，桃仁二分（炒）。</p>
<p>大便滑泄者加：桂心、熟附子各一分。</p>
<p>發寒熱加：牡丹皮、乾薑、芍藥各一分。</p>
<p>嘔吐者加：白木、人參各五分。</p>
<p>腹脹者加：厚朴、枳實各一分。</p>
<p>虛煩不眠宜加：竹葉、人參各一分。</p>
<p>虛躁大渴者加：知母、石膏各五錢。</p>
<p>水停心下，感熱逆加：豬苓、防己、茯苓各一分。</p>
<p>虛寒伏熱者加：人參、柴胡各三分，防風四分。</p>
<p>經候過而作痛氣虛也，本方對四君子湯服之。名：八珍湯。</p>
<p>經候將來作痛者，氣血實也，加：桃仁、黃連、香附子。</p>
<p>經候不及期者，血熱也，加：黃連。</p>
<p>經候過期血少也，加：人參、白朮</p>
<p>色帶淡加：半夏、陳皮。</p>
<p>過期紫黑有男者，血熱也，必作痛不可忍宜加：香附子，黃連。</p>
<p>過期而色淡者，體弱血衰也，加：芎歸二味併合二陳湯。</p>
<p>紫色成塊，血熱也，加：黃連、柴胡。</p>
<p>肥人不及日數，且多痰多血有熱加：香附子、南星、半夏、黃連、白木。</p>
<p>瘦人血枯經閉者加：桃仁、紅花，或越鞠湯。</p>
<p>上丹溪加減四物湯。</p>
<p>氣充經脈如故，月事頻並，臍下時作痛加：芍藥。</p>
<p>經欲行，臍腹絞痛加：玄胡索、檳榔、苦楝、木香。</p>
<p>經水過多者加：黃芩、白朮。</p>
<p>經水澀少者加；葵花、紅花。</p>
<p>經水適來適斷，或往來寒熱，宜先服：小柴胡湯。</p>
<p>去寒熱後仍以：四物湯和之。</p>
<p>上元戎加味四物湯。</p>
<p>經候不通，臍脅或痛，本方對調胃承氣湯是名玉燭散。</p>
<p>經候不調，臍腹疼痛，只用芎歸二味名為君臣散。</p>
<p>婦室經事不行，腹中結塊疼痛者加：桂心、蓬朮各等分名之為六合湯。</p>
<p>婦人赤白帶下，脈沉微，腹痛或陰中作痛，用本方四兩，加：肉掛、附子五錢煎服，名為元戎六合湯。</p>
<p><u>二陳湯</u></p>
<p>半夏　陳皮　甘草　白茯苓</p>
<p>上㕮咀，用生薑、烏梅煎服。</p>
<p><u>越鞠丸</u>　治血鬱。</p>
<p>桃仁　紅花　撫芎　香附子　青黛</p>
<p>上各等分為末，稀糊為丸，如梧桐子大，每服四五十丸，食前服。</p>
<p>《寶鑑》曰：宋褚澄療師尼寡婦，別制醫方，蓋有為也。此二種寡居，獨陰無陽，欲心萌而不遂，是以陰陽交爭，乍寒乍熱，全類溫瘧，久則為癆。《史記·倉公傳》載濟北王侍人韓女，病腰背痛寒熱，眾醫皆以為寒熱，倉公曰：病得之欲男子，不可得也。診視其肝脈弦出寸口，是以知之，蓋男子以精為主，婦人以血為主，男子精盛以思有，女人血盛以懷胎也。如厥陰脈弦出寸口，又上魚際，則血盛可知，故知褚氏之言匪虛也。</p>

<h2>幼科</h2>
<p><u>小兒諸病對症用藥歌</u></p>
<p>幼小醫家另設科，一時要用不知何。</p>
<p>驚風發熱兼痰嗽，保命丹投不必多。</p>
<p>未出痘花神異治，驚逢急慢紫金磨。</p>
<p>腹疼吐瀉宜助胃，唇口生瘡化毒和。</p>
<p>發熱變蒸惺惺散，風痰潮熱抱龍扶。</p>
<p>諸疳蘆薈皆通用，嘔吐燒針丸對科。</p>
<p>痢疾木香清膈飲，臍風匝口蠍梢扶。</p>
<p>散名保命攻鵝口（即雪口），夜啼豬乳四君和。</p>
<p><u>診視嬰孩脈理歌</u></p>
<p>三五嬰孩脈未全，只憑虎口指頭間。</p>
<p>原分左右觀男女，寅卯關邊仔細探。</p>
<p>脈現寅關紋細短，輕災易治不為難。</p>
<p>寅關脈起連通卯，病勢根深莫小看。</p>
<p>若透三關辰位上，總逢慮扁也難痊。</p>
<p>（食指下節為寅，中節為卯，上節為辰）</p>
<p><u>育嬰歌</u></p>
<p>養子須調護，看承莫縱馳。</p>
<p>乳多終損胃，食壅即傷脾。</p>
<p>衾厚非為益，衣單正所宜。</p>
<p>無風頻見日，寒暑順天時。</p>
<p>又云若要小兒安，常帶三分肌與寒。</p>
<p><u>保命丹</u>　治小兒一切驚風發熱痰嗽。</p>
<p>天麻（一錢）　防風　粉草　姜蠶（炒去絲）　白附子　硃砂　鬱金（各一錢）　麝香（少許）　全竭（一錢，去尾尖）　薄荷　青黛　南星　半夏（用生薑汁浸三日，銼碎，各二錢）</p>
<p>上為末，煉蜜丸如皂角子大，每服一丸，燈心金銀湯送下。</p>
<p><u>紫金錠</u>　治小兒驚風大有神效。</p>
<p>人參　茯苓　茯神　辰砂　山藥　乳香　赤石脂（醋火爁七次）　白朮（各三錢）　金箔（十五片，另研為衣）</p>
<p>上為末，以糕一兩為丸，薄荷湯磨服。</p>
<p><u>神異丹</u>　治未出痘疹小兒一切驚風發熱痰嗽等症。</p>
<p>全蠍（去尾尖）　天麻　薄荷　防風　乾葛　姜蠶（炒去絲）　半夏（薑汁製）　南星（薑汁製）　荊芥穗　川升麻　芍苑　甘草　川芎</p>
<p>上各等分為末，煉蜜丸如皂角子大，每服一丸，白滾湯送下。</p>
<p><u>助胃丹</u>　洽小兒吐瀉腹痛。</p>
<p>豬苓　澤瀉　茯苓　肉桂　白朮（各三錢，以上即五苓散）　蒼朮　陳皮　厚朴　甘草（各四錢，以上即平胃散）再加肉豆蔻三錢（紙裹煨熟）</p>
<p>上為末，煉蜜丸如芡實大，米湯化下。</p>
<p><u>五福化毒丹</u>　治小兒唇口腫破生瘡。</p>
<p>玄參（焙）　桔梗　茯苓（各二兩）　人參（半兩）　青黛　牙硝（枯研，各一兩）　甘草（焙，七錢）　麝香（錢半）　金銀箔（各四十片，為衣）</p>
<p>上為末，煉蜜丸如皂角子大，用薄荷湯化下，口臭以生地黃汁調下。</p>
<p><u>抱龍丸</u>　治小兒痰嗽驚風，時作寒熱。</p>
<p>牛膽南星（一兩）　天竺黃（五錢）　雄黃　辰砂（各二錢半）　麝香（一錢，另研）</p>
<p>上為末，煉蜜丸如欠實大，薄荷湯化下。</p>
<p><u>惺惺散</u>　治變蒸發熱，咳嗽痰涎，鼻塞聲重。</p>
<p>人參　白朮　甘草　桔梗　白茯苓　天花粉　白芍藥　細辛根</p>
<p>上用水一盅，煎四分，溫服。</p>
<p><u>蘆薈丸</u>　治小兒脾胃積熱漸成疳疾，宜服之。</p>
<p>黃佳（去須）　龍膽草　蕪荑（去皮，先炒黃色，再與上二味同炒）　蘆薈（一錢，另研）</p>
<p>上為末，飯飲丸如黍米大，隨大小加減，空心米湯下。</p>
<p><u>大蘆薈丸</u>　治小兒諸疳積神效。</p>
<p>蘆薈　蕪荑　木香　青黛　川黃連　檳榔（各等分）　蟬退（七個）　麝香（少許）　胡黃連</p>
<p>上為末，以雄豬膽汁浸糕作糊，丸如麻子大，每服二三十丸，米飲送下。</p>
<p><u>燒針丸</u>　治小兒胸膈吐逆，下注瀉不止者。</p>
<p>黃丹　硃砂　枯礬</p>
<p>上為末，以棗肉丸如大豆樣，每三四丸戳針尖上，就清油燈焰上燒過，研爛，涼米泔水調下，瀉者食前服，吐者不拘時，又名硃砂丸。</p>
<p><u>木香清膈飲</u>　治小兒赤白痢。</p>
<p>木香　人參　甘草　厚朴　陳皮　茯苓　杏仁　雞蘇　宿砂　麥門冬</p>
<p>上㕮咀，加姜二片，棗一枚，煎服。</p>
<p><u>啟脾散</u>　小兒百病愈後宜服，此以養脾，凡初生小兒用塗乳頭上服之。</p>
<p>連肉（一兩）　白朮　茯苓　山藥　神麯　山查（各五錢）　人參　豬苓　澤瀉　藿香　木香　當歸　白芍藥　砂仁（各三錢）　肉豆蔻（三個）　陳皮（二錢）　甘草（一錢）</p>
<p>上為末，任意多寡，薑湯調服，驚風后加辰砂、滑石各二錢。</p>
<p><u>保命散</u>　治小兒雪口白屑滿口，如鵝之口者，心脾熱也。用發纏指頭，蘸薄荷自然汁，或臘雪水拭淨，如不脫即用此方。</p>
<p>枯礬　硃砂（各五分）　馬牙硝（二鎮五分）</p>
<p>上為末，每一宇取白鵝糞擂水，調塗舌上及頷頰內立效。</p>
<p><u>蠍梢散</u>　治一切胎風，及百日內匝口臍風。</p>
<p>全蠍梢（四十九十，每小用生薄荷葉卷定，以綿扎之，砂鍋內滾炒，薄荷干酥為度）　姜蠶（四十九個）　片腦　麝香（各少許）</p>
<p>上為末，用火雄雞肝二片，煎湯調服即止。又法於七日內患此者，急看兒齒齦之上，有小泡如粟米狀，急以軟青布裹手指蘸溫水經輕擦破，即開口安妥，不必用藥。</p>
<p><u>豬乳膏</u>　治小兒上半夜驚啼制肝乃胎中受驚所致，急宜用此。</p>
<p>琥珀　防風（各一錢）　硃砂（五分）</p>
<p>上為末，用豬乳汁調一字，抹兒口中極驗。</p>
<p><u>四君子湯</u>　治小兒下半夜驚啼不止，及腰曲內釣，手足抽制，皆虛寒所致也。</p>
<p>人參　白朮　茯苓　甘草　山藥　扁豆</p>
<p>上為末，每挑少許於乳頭上，令兒吮之。如血熱焦啼，用當歸為末，乳汁調一字，抹乳與吮亦效。</p>
<p>凡小兒生下不能啼者，必困難產冒寒所致，急以綿絮裹抱杯中，未可遽斷臍中，且將胞衣置灰火中煨之，仍作大油紙捻點燈於帶上往來遍燎，使火氣由帶而入臍內，更以熱醋湯澆洗臍帶，須臾氣回，啼哭如常，方可浴洗，然後割斷臍帶，則易養無虞也。</p>
<p>又初生小兒穀道無孔者，乃肺熱閉於肛門，急用金銀玉簪，看其端的刺穿，或用火對亦可，然刺不可深，仍以油紙捻條套住，如蜜導法，內服四順清涼飲，免其再合。</p>

<h2>急救良方</h2>
<p><u>救夢中魘死歌</u></p>
<p>夢中魔死如何救，原若無燈勿點燈。</p>
<p>亟以竹筒吹耳竅，鹽湯灌鼻效如神。</p>
<p>或吹鼻內通關散，或滴其中韭汁靈。</p>
<p>兼治卒然來中惡，即時起死便回生。</p>
<p><u>救冷舍鬼迷歌</u></p>
<p>官房冷舍久無人，偶睡其中被鬼侵。</p>
<p>口不能言聲吃吃，若天良藥便沉沉。</p>
<p>牛黃末與雄黃末，再入硃砂各五分。</p>
<p>一半火燒床榻下，酒調一半灌之靈。</p>
<p><u>治瘀血衝心垂絕歌</u></p>
<p>瘀血衝心墜下時，淹淹欲絕氣難支。</p>
<p>豆豉急取濃煎服。續命靈丹怎得知。</p>
<p>或遇咬牙無氣息，急遺小便灌之宜。</p>
<p>人能記得仙方去，到處施仁寨國醫。</p>
<p><u>救絞腸沙急痛歌</u></p>
<p>絞腸沙痛是何如，手足如冰陰症虛。</p>
<p>定有遍身紅點發，燈心燃火燎之除。</p>
<p>若然手足仍溫暖，此是陽沙另法法。</p>
<p>十指甲邊針刺遍，捋將兩臂血漣洳。</p>
<p><u>解砒霜毒歌</u></p>
<p>若人要解砒霜毒，稻杆燒灰淋水服。</p>
<p>麻油人糞效俱靈，雞羊鴨血功並靈。</p>
<p>毒中飯肉皆可醫，若中酒杯命難續。</p>
<p>瓜蒂稀涎散合投，吐得出時才是福。</p>
<p><u>解巴豆毒歌</u></p>
<p>人若中傷巴豆毒，忽然大瀉噁心頻。</p>
<p>熱煩焦渴時兼嘔，黃櫱黃連兩味平。</p>
<p>等分滾煎傾候冷，服時勿使熱湯親。</p>
<p>再將手足寒泉浸，切忌諸般熱物臨。</p>
<p><u>解百草毒歌</u></p>
<p>預防百草毒傷人，四兩藍根不可少。</p>
<p>再需三味各兩方，青黛管仲生甘草。</p>
<p>四般為末作餅蒸，蒸熟為丸赤豆小。</p>
<p>外邊仍用靛為衣，水下甘丸諸毒好。</p>
<p><u>解諸般菌毒歌</u></p>
<p>諸般菌毒每傷人，甚或令人笑不禁。</p>
<p>必是蟲蛇蟠踞處，薰蒸毒氣結成根。</p>
<p>急將淨地開深坎，直見黃泥把水傾。</p>
<p>攪溷少澄吞一碗，應知到口便安寧。</p>
<p>不然更得芫花末，水下錢方效益靈。</p>
<p><u>解金蠶盎毒歌</u></p>
<p>金蠶盅毒中人腸，試把生礬黑豆嘗。</p>
<p>豆不生腥礬不澀，必然犯此不須詳。</p>
<p>石榴根上皮煎汁，飲下之時嘔吐良。</p>
<p>吐出活蟲無不愈，若然不吐中膏肓。</p>
<p><u>解魚骨鯁喉歌</u></p>
<p>喉中骨鯁有方傳，甘草砂仁等分研。</p>
<p>為末裹綿舍咽久，骨隨痰出便安然。</p>
<p>或將金鳳根和子，咀嚼噙之骨似綿。</p>
<p>稍愈急將湯漱口，慮其傷犯齒牙間。</p>
<p>又或南朋砂一味，水噙化鯁效如仙。</p>
<p><u>救獸骨鯁喉歌</u></p>
<p>諸般獸骨鯁喉中，桑樹蟲窠蛀屑攻。</p>
<p>米醋稀調隨口咽，總然凶猛片時通。</p>
<p>或將狗唾時時咽，救急權宜亦可以。</p>
<p>獨有象牙磨水服，登時見效勝他功。</p>
