<header data-type="book">
<h1>食鑑本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>費伯雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1883">公元1883年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521052">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>新暑乍卻。涼風漸至。日長似歲。悶坐無聊。適有友以食鑑本草見投。披閱一通。乃知人生之一飲一食。莫不各有宜忌存焉。若五穀菜蔬。以及瓜果六畜等類。靡不畢具。或食以延年。或食以致疾。或食發寒熱。或食消積滯。或補腰補腎。益脾滋陰。或動氣動風。損精耗血。種種詳明。條條是道。此費氏之一片婆心以濟世者也。吾願攝生者。以有益者就之。無益者違之。庶養生卻病。兩有裨焉。是為序。</p>
<p><u>光緒九年秋七月蘭庭逸史</u></p>

<h1>谷</h1>
<p>（人之養生。全賴穀食為主。若或一日不食。則飢餓難度。因以穀食居首。）</p>
<p><u>【粳米】</u></p>
<p>過熟甚佳。冬春堆過黏熱之性。不獨易於消化。且最能補胃。老弱小兒便宜。陳稻新碾者尤佳。凡新谷初成。老人體弱者不可食。</p>
<p><u>【糯米】</u></p>
<p>脾虛氣弱。食之黏滯。不能消運。新者尤不可多食。妊娠與雞肉同食。令子生寸白蟲。</p>
<p><u>【黍米】</u></p>
<p>發宿疾。秫米似黍。而小發風動氣。不可常食。</p>
<p><u>【稷米】</u></p>
<p>即穄米。發諸風。不宜多食。又與川烏附子大忌。</p>
<p><u>【大麥】</u></p>
<p>久食多方健行。頭髮不白。又治蠱脹。大麥糵消積。健胃。寬中。多食消腎。</p>
<p><u>【小麥】</u></p>
<p>佔四時秋種夏收。北方多霜雪。面無毒益人。南方少霜雪。面有濕熱損人。麵筋性冷難消運。</p>
<p><u>【蕎麥】</u></p>
<p>性沉寒。久食動風。心腹悶痛。頭眩。同豬肉食。落眉發。同白礬食殺人。</p>
<p><u>【芝麻】</u></p>
<p>壓油煉熟。宜食。能解諸毒。乳母食之。令小兒不生熱病。黑芝麻炒食。不生風疾。有風人食遂愈。</p>
<p><u>【黑大豆】</u></p>
<p>同豬肉食。壅氣至危。十歲以內小兒勿食。炒豆煮豆。脾虛人食最瀉肚。</p>
<p><u>【白扁豆】</u></p>
<p>清胃解毒。久食鬚髮不白。又能解酒毒及煎煿熱毒。又和中下氣。惟患寒熱及冷氣人忌食。</p>
<p><u>【綠豆】</u></p>
<p>清熱解毒。不可去皮。去皮壅氣。作枕明目。服藥人不可食。令藥無力。</p>
<p><u>【赤小豆】</u></p>
<p>解毒利小便。能逐津液。久食虛人。和鯉魚煮食。能治腳氣水腫。</p>

<h1>菜</h1>
<p>（菜性屬陰。職司疏泄。是謂之蔬。日用之不可缺。因著於谷次。）</p>
<p><u>【蔓菁菜】</u></p>
<p>菜中之最益人者。常食和中益氣。令人肥健。凡往遠方煮青菜豆腐食。則無不服水土病。</p>
<p><u>【菠菜】</u></p>
<p>多食滑大小腸。久食腳軟腰痛。</p>
<p><u>【芥菜】</u></p>
<p>多食動風發氣。不可同兔肉食。能生惡瘡。同鯽魚食。能發水腫。</p>
<p><u>【莧菜】</u></p>
<p>動風。令人煩悶。冷中損腹。同鱉食。都變為小鱉。急飲馬溺愈。亦不可食蕨。</p>
<p><u>【蔍角菜】</u></p>
<p>久食發病損經絡。少顏色。又令腳冷痹。傷腎。</p>
<p><u>【芹菜】</u></p>
<p>生高田者宜食。和醋食損齒。赤色者害人。</p>
<p><u>【蓴菜】</u></p>
<p>性冷發痔。</p>
<p><u>【紫菜】</u></p>
<p>多食發氣。令人腹痛。吐白沫。飲多醋即消。其中小螺螄損人須揀出。海菜亦然。</p>
<p><u>【茭白】</u></p>
<p>不可合生菜食。合蜜同食發痼疾。損陽氣。</p>
<p><u>【蕨】</u></p>
<p>食之令人腄。弱陽。又令眼昏鼻塞。發落。小兒食之。腳弱不能行。氣冷人食之多腹脹。</p>
<p><u>【茄】</u></p>
<p>性寒滑。動氣發瘡。多食主腹痛下利。婦人傷子宮。</p>
<p><u>【蔥】</u></p>
<p>功能發汗。多食則昏神。與蜜同食。則下痢腹痛。蔥與雞雉犬肉同食。九竅出血害人。</p>
<p><u>【韭】</u></p>
<p>病人少食。多食助陽損神昏目。尤不可與蜜同食。若同牛肉食成瘕病。</p>
<p><u>【薤】</u></p>
<p>似蔥而細。食之生痰涕。動邪火。反牛肉。</p>
<p><u>【蒜】</u></p>
<p>唯辟惡氣。快胃消滯。久食生痰火。傷肝損目。弱陽。食蒜行房傷肝氣。令人面變顏色。</p>
<p><u>【葫荽】</u></p>
<p>久食損神。健忘。根大損陽。滑精。發痼疾。</p>
<p><u>【葵菜】</u></p>
<p>食之發宿疾。服一切藥俱忌食。同鯉食害人。</p>
<p><u>【白蘿蔔】</u></p>
<p>消痰下氣。利膈寬中。多食耗脾氣。生食滲血𩞄心。如服地黃何首烏人參者食之，須鬢髮皆白。</p>
<p><u>【瓠子】</u></p>
<p>滑腸。冷氣人食之反甚。葫蘿匏有小毒。多食令人吐煩悶。苦者不宜食。</p>
<p><u>【筍】</u></p>
<p>性冷難化。多食動氣。不益脾胃。令人嘈雜。</p>
<p><u>【菌】</u></p>
<p>地生為菌。木生為薷。為木耳為蕈。凡新蕈有毛者。下無紋者。夜有光者。肉爛無蟲者。煮熟照人無影者。春夏有蛇蟲經過者。誤食俱殺人。若食楓樹菌者。往往笑不止而死。犯者掘地為坎。投水攪取。清者飲之。即解。木菌唯楮榆柳槐桑棗木六樣耳可食。然大寒滯膈。難消。宜少食。凡煮菌可同銀器燈草煮。如銀器黑者有大毒，不可食。</p>
<p><u>【生薑】</u></p>
<p>專開胃。止嘔吐。行藥滯。製半夏毒。諺云上床蘿蔔下床姜。蓋晚食蘿蔔。則消酒食之滯。清晨食姜。能開胃御風。敵寒解穢。九月食姜。傷人損壽。</p>

<h1>瓜</h1>
<p>（瓜為菜佐。因列菜後。）</p>
<p><u>【一切瓜】</u></p>
<p>一切瓜苦者。雙頂雙蒂者。俱有毒。不可食。</p>
<p><u>【冬瓜】</u></p>
<p>霜降後。方可食。早食傷胃反病。及陰虛人不可食。能利水。多食動胃火。令人牙齦齒痛。又令陰濕癢生瘡。發黃疸。</p>
<p><u>【菜瓜】</u></p>
<p>常食動氣發瘡。令臍下癥瘕。不可同乳酪魚鮓食。令人脘痛。又暗人耳目。不可與小兒食。</p>
<p><u>【黃瓜】</u></p>
<p>多食動寒熱。患瘧疾。發百病。不可與醋同食。小兒尤忌。滑中。生疳蟲。</p>
<p><u>【香瓜】</u></p>
<p>傷胃破腹。多食作瀉。</p>
<p><u>【絲瓜】</u></p>
<p>性冷傷陽。凡小兒痘瘡。方出未出。取近蒂三寸。連反燒灰存性。砂糖調服。多者可少。少者可無。</p>
<p><u>【西瓜】</u></p>
<p>清暑消滯。多食傷脾胃。患瀉痢。</p>

<h1>果</h1>
<p>（果實能滋陰。生果助濕熱。小兒尤忌多食。）</p>
<p><u>【一切果】</u></p>
<p>食凡果實異常者。根下必有蛇。不可食。果實能浮。不浮者殺人。</p>
<p><u>【蓮子】</u></p>
<p>生者動氣。脹人。傷脾胃。熟者佳。宜去心。治泄精補脾。久食輕身耐老。忌地黃大蒜。建蓮甚有力。</p>
<p><u>【藕】</u></p>
<p>生食清熱破血。除煩渴。解酒毒。熟補五臟。實下焦。與蜜同食。令腹臟肥。不生諸蟲。久服輕身耐老。藕節煎濃湯食。最能散血。吐血虛勞人宜多食。</p>
<p><u>【棗】</u></p>
<p>生食損脾作瀉。令人寒熱腹脹。滑腸難化。瘦弱人更不可食。熟食補脾。和諸藥。凡中滿與腹脹牙痛者。俱不可食。小兒多食生疳。忌同蔥食。</p>
<p><u>【梅子】</u></p>
<p>止渴生津。多食壞齒損筋。令人膈上發寒熱。服地黃人更不可食。烏梅安蛔止痢。斂腫。不可多食。</p>
<p><u>【櫻桃】</u></p>
<p>多食發暗風。傷筋骨。小兒多食作熱。</p>
<p><u>【橘】</u></p>
<p>甜者潤肺。酸者聚痰。多食損氣。</p>
<p><u>【柑】</u></p>
<p>多食令人脾冷發痼疾。大腸泄。</p>
<p><u>【橙皮】</u></p>
<p>多食傷肝。與檳榔同食。頭旋惡。</p>
<p><u>【桃】</u></p>
<p>傷胃。多食作熱。桃仁破血。潤大腸。雙仁者殺人。不可與同食。服術人不可食。</p>
<p><u>【李】</u></p>
<p>發瘧。多食令人虛熱。和蜜食傷五臟。不可臨水啖，及同雀肉食。俱損人。李不沉水者大毒。不可食。</p>
<p><u>【杏】</u></p>
<p>多食傷筋骨盲目。杏仁瀉肺火。消痰下氣。止嗽。久服損鬚髮。動宿疾。雙仁者殺人。</p>
<p><u>【枇杷】</u></p>
<p>多食發痰熱。不可與炙肉面同食。發黃病。</p>
<p><u>【梨】</u></p>
<p>益齒而損脾。治上焦熱。醒酒消痰。病人虛人多食。泄瀉浮腫。以心小肉細，嚼之無渣。而味純甘者佳。</p>
<p><u>【石榴】</u></p>
<p>生津解咽喉熱。多食損肺損齒。</p>
<p><u>【慄】</u></p>
<p>生食難消化。熟食滯氣。灰火煨令汗出。殺其水氣。或曝乾炒食。略可多食。氣壅患瘋。及小兒忌多食。</p>
<p><u>【柿】</u></p>
<p>干餅性冷。生者尤冷。惟治肺熱。解煩渴。多食腹痛。久食寒中。同蟹食。即腹痛泄瀉。</p>
<p><u>【白果】</u></p>
<p>引疳解酒。小兒未滿十五歲。食者發驚搐。</p>
<p><u>【核桃仁】</u></p>
<p>即胡桃。補腎利小便。動風動痰。久食脫眉。同酒肉食。令人咯血。若齒豁及酸物傷齒者。食之愈。</p>
<p><u>【松子】</u></p>
<p>潤燥明目生痰。久服輕身不老。</p>
<p><u>【圓眼】</u></p>
<p>安神補血。久服輕身不老。同當歸浸酒飲養血。</p>
<p><u>【荔子】</u></p>
<p>通神健氣。美顏色。多食發虛熱。</p>
<p><u>【榧子】</u></p>
<p>能消穀。助筋骨。殺諸蟲。療諸瘡。潤肺止嗽。</p>
<p><u>【榛子】</u></p>
<p>益氣力。寬腸胃。又能健行。</p>
<p><u>【荸薺】</u></p>
<p>消食除滿。作粉食之。厚腸胃。性毀銅。不可多食。</p>
<p><u>【菱】</u></p>
<p>多食冷臟傷脾。</p>
<p><u>【山藥】</u></p>
<p>涼而補肺。久食強陰。耳目聰明。延年。</p>

<h1>味</h1>
<p>（陰之所生。本於五味。人之五臟。味能傷耗。善養生者。以淡食為主。）</p>
<p><u>【水】</u></p>
<p>井泉平旦晨汲最佳。味淡大益人。資生日用。不齒其功。不可一日缺也。諸泉水。以雨水為最。</p>
<p><u>【鹽】</u></p>
<p>多食傷肺。走血損筋。令人色黑。</p>
<p><u>【醬】</u></p>
<p>純豆釀成。不宜煮鯽魚。食令生瘡。</p>
<p><u>【酒】</u></p>
<p>味辛。多食之體軟神昏。是其有毒也。惟略飲數杯。御風寒。通血脈。壯脾胃而已。若常飲過多。即薰心神。生痰動火。甚則損腸爛胃。傷神損壽。凡中藥毒，及一切毒。從酒得者。難治。蓋酒能引毒入經絡也。夜飲不可過多。蓋睡而就枕。熱壅傷心傷目。夜氣收斂。酒以發之。傷其清明。飲食聚中。停濕生痰。又能助火動欲。因而不謹致病。總之切莫大醉。</p>
<p><u>【醋】</u></p>
<p>多食損脾胃。壞人顏色。敷癰腫能消。壁虎最喜吃醋。要藏緊密。若被沾吸，毒能殺人。</p>
<p><u>【茶】</u></p>
<p>氣清能解山嵐障癘之氣。江洋露霧之毒。及五辛炙煿之熱。宜少飲。多飲去人脂。最忌空心茶。大傷腎氣。清晨茶黃昏飯。俱宜少食。漱口固齒。</p>
<p><u>【白糖】</u></p>
<p>潤五臟。多食生痰。</p>
<p><u>【紅糖】</u></p>
<p>即沙糖。多食損齒髮疳。消肌。心痛生蟲。小兒尤忌。同鯽食患疳。同筍食生痰。同葵菜食生流澼。能去敗血。產後宜滾湯熱服。</p>
<p><u>【飴糖】</u></p>
<p>進食健胃。多食發脾風。損齒。濕熱中滿人忌。</p>

<h1>鳥</h1>
<p>（凡屬羽飛。能養陽。但人身陽常有餘。陽盛而復補陽。陰益消矣。明哲知忌。）</p>
<p><u>【一切禽鳥】</u></p>
<p>凡禽鳥死。不伸足。不閉目。俱有毒。不可食。</p>
<p><u>【雞肉】</u></p>
<p>難消化。有風病人食之。即發。老雞有大毒。抱雞食之生疽。小兒五歲內食之生蟲。不可與蒜薤芥菜李子牛犬鯉同食。生癰疽。</p>
<p><u>【鴨】</u></p>
<p>滑中發冷痢腳氣。不可與蒜李鱉同食。野鴨九月以後宜食。不動氣。熱瘡久不好者。多食即好。</p>
<p><u>【鵝】</u></p>
<p>性冷。食發痼疾瘡癤霍亂。卵亦發痼疾。</p>

<h1>獸</h1>
<p>（諸獸肉能助濕生火。俱宜少食。）</p>
<p><u>【一切走獸肉】</u></p>
<p>凡獸有歧尾者。肉落地不沾塵者。煮熟不斂水者。生而斂者煮不熟者。熱血不斷者。形色異常者。鳥獸自死無傷處者。俱有大毒不可食。</p>
<p><u>【豬】</u></p>
<p>世雖常用。多食發風。生痰動氣。豬腎理腎氣。多食反令腎虛少子。豬腸滑腸。豬腦損陽。豬嘴豬頭。助風尤毒。同蕎麥食患熱風。脫鬚眉。</p>
<p><u>【羊】</u></p>
<p>羊獨角者。黑頭白身者。俱不可食。夏月不可食。</p>
<p><u>【牛】</u></p>
<p>耕田。大功於人。不可食。凡卒死者。瘟死者。極毒殺人。非惟不可食。即吸聞其氣。亦能害人。</p>

<h1>鱗</h1>
<p>（魚在水無息之物。多食動人熱中。）</p>
<p><u>【一切魚】</u></p>
<p>諸魚目能閉合。逆腮無腮。連珠連鱗。白著。腮有丹字。形狀異常者不可食。</p>
<p><u>【鯉魚】</u></p>
<p>發風熱。凡一切風病大癰疽瘡疥瘧痢。俱不可食。</p>
<p><u>【鯽魚】</u></p>
<p>多動火。不可與紅糖蒜芥豬肝同食。</p>
<p><u>【白魚】</u></p>
<p>發膿。有瘡痼癤人不可食。經宿者。令人腹冷。</p>
<p><u>【鰣魚】</u></p>
<p>發痼疾生疳。</p>
<p><u>【鱘魚】</u></p>
<p>動風氣瘡疥。多食心痛，腰痛，小兒食之成瘕。</p>
<p><u>【鱔魚】</u></p>
<p>大冷。多食生霍亂。時行病起。食之再發。</p>
<p><u>【鰻魚】</u></p>
<p>清熱。治勞蟲。孕婦食之胎病。凡重四五斤者。水昂頭者。腹下有黑點者。無腮者。俱不可食。</p>
<p><u>【鯧魚】</u></p>
<p>多食難消。生熱痰。與蕎麥同食。令人失音。</p>
<p><u>【河魨】</u></p>
<p>有大毒。浸血不盡。有紫赤班眼者。或誤破傷子者。或修治不如法。誤染屋塵者。俱脹殺人。洗宜極淨。煮宜極熟。中毒橄欖蘆根汁解。凡服荊芥菊花附子鳥頭之人。食之必死。</p>

<h1>甲</h1>
<p><u>【鱉】</u></p>
<p>凡頭足不縮。獨目赤目。腹下不紅。腹生王字形。或有蛇紋者。俱不可食。孕婦食之。生子項短。不可與莧菜芥子。及豬兔之肉鴨蛋同食。傷害人。</p>
<p><u>【蟹】</u></p>
<p>八月後。方可食。早食有毒。凡腳生不全。獨螯獨目。腹下有毛者。俱不可食。蟹性極冷。易成內傷腹痛。</p>
<p><u>【蛤蜊】</u></p>
<p>性冷。多食令腹痛。蜆能發嗽。消腎生痰。</p>
<p><u>【螺螄】</u></p>
<p>大寒。解熱醒酒。難消化。作瀉。</p>

<h1>蟲</h1>
<p><u>【蝦】</u></p>
<p>動火。髮癬疥。小兒食之。令腳屈不能行。無須及腹下通黑。煮之色白者。俱不可食。</p>
<p><u>【海蟄】</u></p>
<p>去積滯。凡瘧痢水瀉者。及瘡毒。宜切細多食。</p>

<h1>風</h1>
<p><u>【蔥粥】</u></p>
<p>治傷風鼻塞。用糯米煮粥。臨熟入蔥。連須數莖。再略沸食之。此方又治妊娠胎動。產後血暈。</p>
<p><u>【蒼耳粥】</u></p>
<p>治耳目暗不明。及諸風鼻流清涕。兼治下血痔瘡等。用蒼耳子五錢。取汁和米三合。煮食。或作羹。或煎湯代茶。如無新者。即藥鋪乾者亦可。</p>
<p><u>【煮黑魚】</u></p>
<p>治一切顛狂風症。用大黑魚去腸洗淨。將蒼耳子裝滿札緊。用蒼耳葉鋪鍋底。埋魚煮熟。不可用鹽醋。食魚三四次神效。</p>
<p><u>【羊脂粥】</u></p>
<p>治半身不遂。用羊脂入粳米。蔥白姜椒豉煮粥。日食一具。十日愈。</p>
<p><u>【松精粉】</u></p>
<p>治癘風。又名大麻瘋。即癩也。最為惡病。其病手足麻木。毛落眉落。遍身癮疹成瘡。有血無濃。肌肉潰爛。鼻梁折壞。甚則眉落聲啞。身面如蟲行。指節縮落。足底穿通。臭穢不堪。形貌俱變。且能傳染人。雖親屬俱厭惡遠避。嶺南頗多。因設麻瘋院。以另居之。他如卑濕之處。濕熱之人。亦間有之。此皆夙孽積愆所致。宜自懺悔。戒淫欲。忿怒。及一切鮮發豬羊雞鵝魚蟹肉食之類。得此神方。久服自愈。但此病深重。服藥須久。若服藥不耐久無益也。服藥不守戒無益也。不自懺悔。不自知過無益也。俗云。癩子吃肉。不圖人身信不誣也。既不知戒。又不痛自懺悔。一失人身。萬劫難得。可不哀哉。用明淨松香。不拘多少。去渣滓。取溪河淡水。或雨水。用淨鍋。將松香煮化。不住手攪。視水色如米泔。嘗味極苦。即傾冷水內。將松香乘熱扯披。冷定堅硬。另換清水再煮。再披如前製法。不論幾十次。只以松香體質鬆脆。潔白。所煮之水。澄清不苦。為度。陰乾研末。重羅極細。凡服此藥。每料二斤。日將白米作粥。候溫。量投藥末和勻。任意食之。不可多嚼。飢則再食。日進數餐。不可更食。乾飯只以菜乾及筍乾少許過口。一切油鹽醬醋葷腥酒果糖面雜物。概行禁忌。渴時不可吃茶。用白滾水候溫。投藥和勻飲之。每日約服藥數錢。以漸而進。不可太多。服至旬日。或作嘔或胸膈嘈逆或大便內下諸毒物。此藥力盛行。必須強服。不可中止。遠年痼疾。盡料全愈。患病未深。只須半料鬚眉再生。肌膚完好。筋骨展舒。平復如舊。飲食不忌。惟豬首鵝肉。及濕毒之物。終身忌食。此方藥雖平常。效應如神。予得方甚難。今不吝惜。刊刻普傳。仍盼仁人施制。功德最大。</p>
<p><u>【黃牛腦髓酒】</u></p>
<p>治遠年近日。偏正頭風。用牛腦髓一個。片白芷川芎末各三錢。同入磁器內。加酒煮熟。乘熱食之。儘量飲醉。醉後即臥。臥醒其病若失。</p>

<h1>寒</h1>
<p><u>【五合茶】</u></p>
<p>但凡覺受風寒。頭疼鼻塞。身體困痛。即用生薑大塊搗爛，連須蔥白。紅糖胡桃搗碎。霍山茶滾水沖一大碗。熱服。微汗即愈。</p>
<p><u>【乾薑粥】</u></p>
<p>治一切寒冷氣鬱心痛。胸腹脹滿。用粳米四合。入乾薑良薑各一兩。煮熟食之。</p>
<p><u>【吳萸粥】</u></p>
<p>治冷氣心痛不止。腹脅脹滿。坐臥不安。用吳茱萸二分，和米煮粥食之。</p>
<p><u>【川椒茶】</u></p>
<p>治病同上。用細茶川椒各少許同煎。</p>
<p><u>【丁香熟水】</u></p>
<p>治病亦同上。用丁香一二粒捶碎。入壺。傾上滾水。其香芬芳。最能快脾利氣。定痛闢寒。</p>
<p><u>【肉桂酒】</u></p>
<p>治感寒身疼痛。用竦桂末二錢。溫酒調服。腹痛泄瀉。俗以生薑搗酒飲俱好。如打撲傷墜。瘀血疼痛。用桂枝。</p>

<h1>暑</h1>
<p><u>【綠豆粥】</u></p>
<p>綠豆淘淨熟煮入米同煮食。最解暑。</p>
<p><u>【桂漿】</u></p>
<p>官桂末一兩。煉熟。白蜜二碗。先以水二斗。煎至一斗。候冷。入磁鐔中。以桂蜜二物。攪一二百遍。用油紙一層。外加綿紙類層。以繩緊封。每日去紙一重。七日開之。氣香味美。每服一杯。能解暑渴。去熱生涼。益氣消痰。百病不起。</p>
<p><u>【面粥】</u></p>
<p>痢色白。而口不渴者為寒痢。用麵炒過。煮米粥。調下一合。兼能治泄瀉不止之病。</p>

<h1>濕</h1>
<p><u>【薏苡粥】</u></p>
<p>去濕氣腫脹。功勝諸藥。用苡仁淘淨。對配白米煮粥食之。</p>
<p><u>【郁李仁粥】</u></p>
<p>用郁李仁二兩研汁。和薏苡五合。煮粥食之。治水腫腹脹喘急。二便不通。體重疼痛。</p>
<p><u>【赤小豆飲】</u></p>
<p>治水氣脹悶。手足浮腫。氣急煩滿。用赤小豆三升。樟柳枝一升。同煮豆熟為度。空心去枝。取豆食之。渴則飲汁。勿食別物大效。</p>
<p><u>【紫蘇粥】</u></p>
<p>治老人腳氣。用家蘇研末。入水取汁。煮粥將熟。諒加蘇子汁。攪勻食之。</p>
<p><u>【蒼朮酒】</u></p>
<p>治諸般風濕瘡。腳氣下重。用蒼朮三十斤洗淨打碎。以東流水三擔。浸二十日。去莖。以汁浸面。如家醞酒法。酒熟。任意飲之。</p>

<h1>燥</h1>
<p><u>【地黃粥】</u></p>
<p>滋陰潤肺。及妊娠下血。胎下目赤等疾。用生地黃搗汁。每煮粥米二合。臨熟入地黃汁一合。調勻。空心食。食久。心火自降。清涼。大益人。</p>
<p><u>【蘇麻粥】</u></p>
<p>治產後血暈。汗多便閉。老人血虛風秘。腹滿不快。噁心吐逆。用真蘇子麻子各五錢。水淘淨。微炒如泥。水濾取汁。入米煮粥。</p>
<p><u>【人乳粥】</u></p>
<p>潤肺通腸。補虛養血。用肥壯人乳。候煮粥半熟。丟下人乳代湯煮熟。攪勻食之。</p>
<p><u>【甘蔗粥】</u></p>
<p>用甘蔗搗汁。入米煮粥。空心食之。能治咳嗽虛熱。口乾舌燥。涕吐稠黏等症。</p>
<p><u>【小麥湯】</u></p>
<p>治五淋不止。身體壯熱。小便滿悶。用小麥一升。通草二兩。水煎漸飲。須臾即愈。</p>
<p><u>【甘豆湯】</u></p>
<p>用黑豆二合。甘草二錢。生薑七片。水煎服。治諸煩渴大小便澀。及風熱入腎。</p>
<p><u>【藕蜜膏】</u></p>
<p>治虛熱口渴。大便燥結。小便閉痛。用藉汁蜜各五合。生地黃汁一升。和勻微火熬成膏。每服半匙。漸含化下。不時可用。忌食煎汁。</p>
<p><u>【四汁膏】</u></p>
<p>此膏清痰化熱。下氣止血。用雪梨甘蔗泥藕薄荷各等分搗汁。入瓦鍋慢火熬膏頻服。</p>
<p><u>【梨膏】</u></p>
<p>清火滋陰。用好黃香大梨搗汁。入上白洋糖飴糖熬膏。隨時挑服。痰多者加川貝母末。</p>
<p><u>【蒸柿餅】</u></p>
<p>大柿餅放飯鍋內。蒸極爛。空心熱服。最能清火涼血。凡有大便燥結。痔漏便血等症。便宜多食。</p>

<h1>氣</h1>
<p><u>【橘餅】</u></p>
<p>一切氣逆惱怒。鬱結胸膈不開。用好橘餅或沖湯，或切片細嚼。最有神效。</p>
<p><u>【木香酒】</u></p>
<p>治病同上條。用廣木香研細末。熟酒沖服。</p>
<p><u>【杏仁粥】</u></p>
<p>治上氣咳嗽。用扁杏仁去皮尖二兩，研如泥。或用豬肺同米三合煮食。</p>

<h1>血</h1>
<p><u>【阿膠粥】</u></p>
<p>止血補虛。厚腸胃。又治胎動不安。用糯米煮粥。臨熟。入阿膠末一兩。和勻食之。</p>
<p><u>【桑耳粥】</u></p>
<p>治五痔下血。常煩熱羸瘦。用桑耳二兩。取汁。和糯米三合。煮熟空心服。</p>
<p><u>【槐茶】</u></p>
<p>治風熱下血。又可明目益氣。止牙痛。利臟腑。順氣。用嫩槐葉。煮熟曬乾。每日沖茶飲。</p>
<p><u>【馬齒莧羹】</u></p>
<p>治下痢赤白。水穀不化。腹痛等症。用馬齒莧菜煮熟。用鹽豉或姜醋拌勻食之。</p>
<p><u>【柏茶】</u></p>
<p>採側柏葉陰乾。煎湯代茶。止血滋陰。</p>
<p><u>【豬𦚠片】</u></p>
<p>治肺損嗽血咯血。用豬𦚠切片煮熟。蘸苡仁末空心服之。蓋苡仁能補肺。豬𦚠引經絡也。如肺癰用米飲調服。或水煎服。</p>
<p><u>【羊肺羊肝羊腎】</u></p>
<p>治吐血咯血。損傷肺肝腎髓臟引用肺。或肝或腎。煮熟切片。蘸白芨末食之神效。欲試血從何經來。用水一碗吐入水中。浮者肺血也。沉者腎血也。半浮半沉者肝血也。</p>
<p><u>【藕粉】</u></p>
<p>真藕粉空心滾水沖食。最能散血補陰。</p>
<p><u>【藉節湯】</u></p>
<p>治吐血咳血。用藉節打碎。煎湯頻飲。</p>
<p><u>【歸元仙酒】</u></p>
<p>用當歸大圓眼。以好酒浸飲。最養血。</p>

<h1>痰</h1>
<p><u>【茯苓粥】</u></p>
<p>粳米煮粥。半熟。入茯苓末。和勻煮熟。空心食。能治濕痰健脾。</p>
<p><u>【竹瀝粥】</u></p>
<p>如常煮粥。以竹瀝下半盞食之。治痰火。</p>
<p><u>【蒸梨】</u></p>
<p>大雪梨連皮。安飯鍋內蒸。熟食能化痰清火。</p>
<p><u>【蘇子酒】</u></p>
<p>主消痰下氣。潤肺止咳。用家蘇子炒香研末。以絹袋盛。浸好酒中。每日少飲。</p>

<h1>虛</h1>
<p><u>【人乳】</u></p>
<p>用肥壯婦人乳。或二鍾。或一鍾。清晨滾水中頓熱。少入白糖調勻。空心服。補陰滋五臟。悅顏色。退虛熱。久服不老。惟泄瀉人忌服。</p>
<p><u>【牛乳】</u></p>
<p>服法功效俱同人乳。但力應略微。</p>
<p><u>【人參粥】</u></p>
<p>治翻胃吐酸。及病後脾弱。用人參末薑汁各五錢。粟米一合。煮粥。空心食。</p>
<p><u>【門冬粥】</u></p>
<p>治肺經咳嗽。及翻胃。麥冬煎汁。和米煮粥食。</p>
<p><u>【粟米粥】</u></p>
<p>治脾胃虛弱。嘔吐不食。漸加羸瘦。用粟白米麵等分。煮粥空心食之。極和養胃氣。</p>
<p><u>【理脾糕】</u></p>
<p>治老人脾弱水瀉。用百合。蓮肉。山藥。苡仁。芡實。白蒺藜各末一升。粳米粉一斗二升。糯米粉三升。用沙糖一斤調勻蒸糕。火干常食最妙。</p>
<p><u>【山藥粥】</u></p>
<p>甚補下元。治脾瀉。淮山藥末四五兩。配米煮食。</p>
<p><u>【芡實粥】</u></p>
<p>益精氣。強智力。聰耳目。用芡實去殼三合。新者研成膏。陳者作粉。和粳米三合煮食。</p>
<p><u>【蓮子粥】</u></p>
<p>功同芡實。建蓮肉兩餘。入糯米三合煮食。</p>
<p><u>【茯苓粥】</u></p>
<p>治虛泄脾弱。又治欲睡不睡。粳米三合。粥好下白茯苓末一兩。再煮食之。</p>
<p><u>【扁豆粥】</u></p>
<p>益精補脾。又治霍亂吐瀉。用白扁豆半升。人參二錢作片。先煮熟豆去皮。入參下米煮粥。</p>
<p><u>【蘇蜜煎】</u></p>
<p>治噎病吐逆。飲食不通。用真蘇葉莖二兩。白蜜薑汁各五合。和勻。微火煎沸。每服半匙。空心服。</p>
<p><u>【姜橘湯】</u></p>
<p>治胸滿悶結。飲食不下。用生薑二兩。陳皮一兩。空心煎湯服。極開脾胃。</p>
<p><u>【蓮肉膏】</u></p>
<p>治病後胃弱。不消水穀蓮肉粳米各炒四兩。茯苓二兩。為末。砂糖調膏。每服五六匙。白滾湯下。</p>
<p><u>【豆麥粉】</u></p>
<p>治飲食不佳。口仍易飢餓。用綠豆糯米小麥。各一升炒熟為末。每用一鍾。滾水調食。</p>
<p><u>【茯苓膏】</u></p>
<p>白茯苓末。拌米粉蒸糕食。最補脾胃。</p>
<p><u>【清米湯】</u></p>
<p>治泄瀉。用早米半升。以東壁土一兩。吳茱萸三錢。同炒香熟。去土萸。取米煎湯飲。</p>
<p><u>【枸杞粥】</u></p>
<p>治肝家火旺血衰。用甘州枸杞子一合。米三合。煮粥食。一方採葉煮粥食。入鹽少許。空腹食。</p>
<p><u>【胡桃粥】</u></p>
<p>治陽虛腰痛。及石淋五痔。用胡桃肉煮粥食。</p>
<p><u>【參歸腰子】</u></p>
<p>治心腎虛損。自汗。用人參五錢。當歸四錢。豬腰子一對。細切同煮食之。以汁送下。</p>
<p><u>【補腎腰子】</u></p>
<p>一治腎虛腰痛。用豬腰子一付。薄切五七片。以椒鹽淹去腥水。將杜仲末三錢。包在內外。加濕紙置火內煨熟。酒下。如脾虛。加破故紙末二錢。</p>
<p><u>【豬腎酒】</u></p>
<p>童便二盞。好酒一杯。豬腎一付。用瓦瓶泥封。日晚時慢火養熟。至五更初。火溫開瓶。食腰子。飲酒。虛弱病篤。只一月效。腎虛腰痛亦除。</p>
<p><u>【人參豬肚】</u></p>
<p>治虛羸乏氣。人參五錢。乾薑胡桃各二錢。蔥白七莖。糯米七合為末。入豬肚內紮緊。勿泄氣煮爛。空心食完。飲好酒一二杯大效。</p>
<p><u>【鰻魚羹】</u></p>
<p>鰻魚切細。煮羹入鹽豉姜椒。空腹食。能補虛勞殺蟲。治肛門腫痛，痔久不愈。</p>
<p><u>【建蓮肉】</u></p>
<p>入豬肚縛定煮熟。空心食。最補虛。</p>

<h1>實</h1>
<p><u>【開膈魚】</u></p>
<p>凡膈症用大黑魚一尾。去腸臟洗淨。將蒜瓣裝滿紮緊煮熟飽食。莫放鹽醋。雖蠱膈亦愈。</p>
<p><u>【珍珠粉】</u></p>
<p>治痰膈。用小紫⿰虫歪殼燒存性。碾細末。每二兩。炒米末三兩。白糖調食。</p>

<h1>附錄</h1>
<p><u>生產保全母子神方</u></p>
<p>此方乃異人所授。專治婦人難產橫生逆生。以至六七日不下者。或嬰兒死於腹中。命已垂危。服之立刻即下。保全母子兩命。凡難養諸症。切忌收生婆用手法。只以此藥服之。則安然無恙。如臨月三五日。覺行走動履不安。預服一劑。臨產再服一劑。可保萬全無虞。又有血暈陰脫。及小產傷動胎氣。一概並治。此藥屢試屢驗。活人無數。</p>
<p>川貝母（去心一錢）　生黃耆　荊芥穗（各八分）　靳艾　厚朴（薑汁炒各七分）　枳殼（去穰六分）　川羌活　甘草（各五分）　白芍（炒一錢二分冬月止用一錢）水二鍾。姜三片。煎八分。預服者。空心服。臨產者。隨時服。分兩要准。</p>
<p><u>產後必要芎歸方</u></p>
<p>此藥生產後服一劑。去敗血。止腹痛。併除婦人一切雜症。</p>
<p>歸尾（五錢）　川芎　山查　紅花（各四錢）</p>
<p>水煎一盅。產畢。扶上床坐。即與熱服凡孕婦臨月。可預備此藥收貯磁罐內。勿走藥氣。則夜晚臨期。取用甚便。渣再煎停一時服。</p>
<p><u>稀痘奇方</u></p>
<p>立春前一個月。將雞蛋七個。用麻布袋盛上。用線掛好。浸屎桶內（糞要稠的。）一月。取出去袋。蛋勿水洗。埋土內三日。（不可人走踏碎）立春日早用磁罐。煮三枚（須糖心食小兒易食）中午二枚。下午二枚。宜少進。恐太飽不能進。總期一日內吃完。如兒小者。一二枚亦可服。過三年毒重者必稀。毒輕者不出。按痘皆父母遺毒。人所難免。今用屎浸法以消後天之毒。用土埋法以培先天之氣。又當立春百物回春之日。服之毒消痘稀。此必然之理也。勿為穢易忽之。</p>
<p><u>秘傳肥兒丸</u>（大人亦可服）</p>
<p>此方得之異授。復經十數明醫較定。專治小兒肚大青筋。骨瘦毛焦。瀉痢疳熱等症服之。瘦者能肥。弱者能壯。效應如神。予生兩兒病弱。俱賴此藥服愈。豈可自秘。用後廣傳。白朮（土炒）　建蓮　山藥　山查肉（各一兩五錢）　芡實　白茯苓（各一兩以上五味俱飯上蒸曬兩三次）　神麯　白芍（酒炒）　白色大谷蟲（各五錢）　陳皮　澤瀉（各四錢）　甘草（三錢）　如瘦極成疳加蘆薈（三錢）　腹中泄瀉。加肉果（麵煨三錢）內熱口乾結。加川黃連（薑汁炒三錢）　外熱加柴胡（三錢）　骨蒸熱。加地骨皮（五錢）　有蟲積。加君子肉（炒二錢）　肚腹脹大。大便稀水。腸鳴作聲。加檳榔（五分）　木香（一錢）　右為末。煉蜜。丸如彈子大。空心米飲送下三四錢。此藥不甚苦。平時可與常吃。若是腹瀉。不必蜜丸。可作散末。盛磁罐內。勿走氣。用米湯調服，或少加白糖亦可。</p>

<h1>重刻大宗伯董玄宰先生秘傳延壽丹方</h1>
<p>陳遜齋先生曰。延壽丹方。系云間大宗伯董玄宰先生久服方也。家先孟受業於門。余得聆先生教。蒙先生受余書法。深得運腕之秘。侍久乃獲此方。先生年至耄耋。服此丹鬚髮白而復黑。精神衰而復旺。信為卻病延年之仙品。凡人每無恆心。一服輒欲見效。經書明示以久服二字。人不明察。咎藥無功誤矣。余解組二十餘年。家貧年老。專心軒岐之室。請益名流。勤力精進。寢餐俱忘。歷二十餘年。始悉內經之理。陰陽之道。余於壬子年七十五歲時。飢飽勞役。得病幾危。因將丹方覓藥修制。自壬子年八月朔日起。服至次年癸丑重九登雨花臺。先友人而上。非復向年用人扶掖而且氣喘。心甚異之。始敬此丹之神效。余向鬚髮全白。今發全黑。而須黑其半。向之不能步履。今且步行如飛。凡諸親友。俱求此方。遂發自壽壽人之誠。因付梓廣傳。令天下人俱得壽長。雖藥力如是。必藥力與德行並行不悖。乃自獲萬全矣。藥品開後。</p>
<p><u>何首烏</u></p>
<p>大者有效。取赤白二種。黑豆汁浸一宿。竹刀刮皮。切薄片。曬乾。又用黑豆汁浸一宿。次早柳木甑桑柴火蒸三炷香。如是九次。記明不可增減。曬乾聽用後。群藥共若干兩。首烏亦用若干兩。此藥生精益血。黑髮烏須。久服令人有子。卻病延年。</p>
<p><u>兔絲子</u></p>
<p>先淘去浮皮者。再用清水淘擠沙泥五六次。取沉者曬乾。逐粒揀去雜子。取堅實腰樣有絲者。用無灰酒浸七日。方入甑。蒸七炷香。曬乾。再另酒浸一宿。入甑蒸六炷香。曬乾。如是九次記明。曬乾磨細末一斤。此品養肌強陰。補衛氣。助筋脈。更治莖中寒。精自出。溺有餘瀝。腰膝軟痿。益體添精。悅顏色。增飲食。久服益氣力。黑鬚發。</p>
<p><u>稀薟草</u></p>
<p>五六月採葉。長流水洗淨曬乾。蜂蜜同無灰酒和勻。拌潮一宿。次早蒸三炷香。如是九次。記明。曬乾為細末一斤。此品毆肝腎風氣。四肢麻痹。骨痿膝酸。治口眼喎邪。免半身不遂。安五臟。生毛髮。唐張詠進表云。服稀薟百服。眼目清明。筋力輕健。多服鬚髮烏黑。久服長生不老。</p>
<p><u>嫩桑葉</u></p>
<p>四月採。杭州湖州家園摘者入藥。處處野桑俱生。不入藥用。取葉。長流水洗淨。曬乾。照制稀薟法九制。取細末八兩。此品能治五勞六極。羸瘦水腫。虛損。經云。蠶食生絲織經。人食生脂延年。</p>
<p><u>女貞實</u></p>
<p>冬至日鄉村園林中。摘腰子樣黑色者。走腎經。墳墓上圓粒青色者。為冬青子。不入藥。用裝布袋。剝去粗皮。酒浸一宿。蒸三炷香。曬乾為細末。八兩。此藥黑髮烏須。強筋力。安五臟。補中氣。除百病。養精神。多服補血去風。久服返老還童。</p>
<p><u>忍冬花</u></p>
<p>一名金銀花。夜合日開。有陰陽之義。四五月處處生。摘取陰乾。照稀薟草法。九制曬乾。細末四兩。此品壯骨筋。生精血。除脹。逐水健身延年。</p>
<p><u>川杜仲</u></p>
<p>厚者是。去粗皮。青鹽同薑汁拌潮。炒斷絲八兩。此藥益精氣，堅筋骨。腳中痠痛。不能踐地。色欲勞。腰背攣痛強直。久服輕身耐老。</p>
<p><u>雄牛膝</u></p>
<p>懷慶府產者佳。去根蘆淨。肉屈而不斷。粗而肥大為雄。細短硬脆。屈曲易斷為母。不用。酒拌曬乾八兩。此品治寒濕痿痹。四肢拘攣。膝痛不可忍。男子陰消。老人失溺。續絕益精。利陰益體。黑髮烏須。以上杜仲牛膝制就。且莫為末。待何首烏八十四兩。蒸過六次。不用黑豆汁拌。單用仲膝二種。同何首烏拌蒸三次。曬三次。以足九蒸之數。</p>
<p><u>懷慶生地</u></p>
<p>取釘頭鼠尾。或原梗末入水曲成大枝者有效。掐如米粒。曬乾為細末四兩。自兔絲子至生地共七十二兩。何首烏赤白共七十二兩。用四膏子。（旱蓮草熬膏一斤。金櫻子熬膏一斤。黑芝麻熬膏一斤。桑椹子熬膏一斤。）同前藥末一百四十四兩。搗數千捶為率。如膏不足。白蜂蜜增補。搗潤方足。</p>
<p><u>加減法</u></p>
<p>陰虛人加熟地黃一斤。陽虛人加附子四兩。去地黃。下元虛。加虎骨一斤。麻木人加明天麻。當歸八兩。頭暈人加玄參。明天麻各八兩。目昏人加黃甘菊花。枸杞子各四兩。肥人濕痰多者。加半夏陳皮各八兩。群藥共數一半。何首烏一半。此活法也。</p>
<p>神農以前。人皆壽至數千歲。嘗藥之後。漸減至百歲。數十歲以至數歲。竊謂草根樹皮。毒入臟腑。安得借七情六慾之傷。為老農解嘲哉。方吾兒病時。醫人之履滿戶外。咸云必不生。最後遜齋先生至。獨云必不死。隨立方。參附至數兩。視其方無不駭之。余亦不敢信。吾兒信而服之。果有起色。然其間危險呼吸之際。諸醫之搖首屬舌而不顧者。先生笑曰。此生機也。其說甚快。其理甚微。究之十年。枕上之人。竟一日霍然而起。先生之力也。夫醫猶醫也。藥猶藥也。或用以死。或用以生。顧亦用之何如耳。乃先生不急病者。而急病病者。醫之為醫。藥之為藥。遂已怕倉扁之肩矣。每讀列傳。疑太史公好為奇談。今於先生信之。然而先生蓋得道者也。年七十有八。童顏渥丹。白髭再黑。自解組以來。一回相見一回少。豈非易凡胎為仙骨者哉。</p>
<p>頃刻延壽丹方行世。種種炮製。盡非諸家所知。利濟之功。侔於造化。矧吾見以不起之症而能起之於床褥間。舉世之無病者而服之於閒暇之日。何不可以晚𥜥之年而幾乎神農以前之壽乎。年家弟何亮功偶筆。</p>
<p>客有問余曰。藥能殺人乎。余曰。藥何能殺人。殺人者醫也。客曰。有是乎。余曰。客姑聽之。余邀健身。又性不嗜藥。每藏秘方。蓄善藥以應世之多病而嗜藥者。余心快焉。內侄何大椿。次德之元方也。負奇才。抱奇病。醫言不起。眾口同聲。且為定其期日。或云三日。或云五日，或云七日，十日盡謝去。每與次德相對。無以解其愁苦。惟陳子遜齋。診脈一過。笑談甚適。日待將令之起而行也。既而三日不死。五日不死。七日十日又不死。今步履如風。壯健過於未病時。方信遜齋先生。真有見垣之妙矣。遜齋歸隱白門。臨池之餘。留心方藥。其所得董玄宰宗伯延壽丹。自服效驗。輒刊方示人。雖業非岐黃。深究太素之精。逾於岐黃。人每延之。無不死而復生者。因思諸醫以用藥之道相兵。雖起剪頗牧不是過也。遜齋獨為培養元氣。余竊以次德之喜為喜。以次德之感為感。夫危險之症。可以回生。則延壽之丹。可以永年無疑。余願人之急服勿失也。是又余之藏秘方。蓄善藥之婆心。因以答客之問而為之言。年家弟方享咸題。　予另著長壽譜救命針二本。凡年老體虛弱有病者。亟宜熟習。</p>
