<header data-type="book">
<h1>痰火點雪</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龔居中</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1630">公元1630年</data></dd></div>
<div><dt>底本</dt><dd>《新刻痰火點雪》（<a href="https://ctext.org/library.pl?if=gb&res=2726">北京大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>昔黃帝問岐伯曰：余聞上古之人，春秋皆度百歲，而動作不衰。今人年至半百，而動作衰敝，時勢異耶？人將失之耶？對曰：上古之人，法於陰陽，和於術數，飲食有節，起居有常，不妄作勞，故能形與神俱，盡終其天年，度百歲。今人不能也，以酒為漿，以妄為常，醉以入房，以欲竭精，耗散其真，務快其心，逆於生樂，起居無節，故半百而衰。夫妄作則傷於形容，耗真則傷於神氣，疾之所起，二臟先損，心腎不交，未老而羸，未羸而病，病至則重，重則必斃。嗚呼！故上士施醫於未病之先，保養於未敗之日，善服藥，不若善保養，世有不善保養，又不善服藥，病入膏肓，非藥石所能及也。神哉！應圓龔君，業則軒岐，心則天地，囊括文雅，著述成林，於斯道得三昧焉。憫二豎之為祟，嘆庸流之偏執，乃出其纂輯《痰火》一書行世，問序於余。余閱其著論立訣，靡一不精，別門分類，靡一不詳。未病之先，有養生卻疾之術，既病之後，有調護攻治之法，深探隱微，窮盡玄變，一團生氣，浮於紙上，所謂紅爐飛片雪，龍虎自相隨，八卦正位，二豎消滅，將壽世人，皆為井谷中老矣。</p>
<p><u>通家弟鄧志謨拜題</u></p>

<h1>卷一</h1>

<h2>痰火證論</h2>
<p>夫癆者，勞也。以勞傷精氣血液，遂致陽盛陰虧，火炎痰聚，因其有痰有火，病名酷厲可畏者，故令人諱之曰痰火也。然溯所自來，固非一類，有稟賦素怯，復勞傷心腎，耗奪精血而致者；有外感風寒傷肺，致久咳絕其生化之源而致者；有久病久瘧，小愈失調，復克真元而致者；有藜藿勞人，傷力吐血，致陰虛使然者；有膏粱逸士酗酒恣欲，勞傷脾胃而致者；有薰陶漸染者。種種之異，難以枚舉，至於成癆則一也。然將成是症，必有預徵兆始焉。或頸項結核，或腹脅痃癖，或素有夢遺，或幼多鼽衄，漸而有潮汗遺精，咳唾吐衄諸血等候。外症必形容憔悴，肌體尪羸，毛髮焦枯，脈必弦澀芤虛，總之臟氣偏虧，亢害無制，因而致此極也。所治之法，必審其各臟外症，以徵其內亢，乃施驅賊補母之法，庶得肯綮。如肺病傳肝，則面白目枯，口苦自汗，心煩驚怖，法當清金補水以益木。腎病傳心，則面黑鼻乾，口瘡喜忘，大便或秘或瀉，法當折水補木以益火。肝病傳脾，則面青唇黃，舌強喉哽，吐涎體瘦，飲食無味，法當伐木補土以益火；心病傳肺，則面赤鼻白，吐痰咯血，咳嗽毛枯，法當瀉火補土以益水。脾病傳腎，則面黃耳枯，胸滿胻痛，遺精白濁，法當瀉土補金以益水；此五臟亢害承製之證治也。更有骨蒸屍疰，種類亦多，無乃陰虛之極，治法亦必益水清金，滋陰降火，越於是法，豈其然乎？至於傳屍一症，則有伏連殗殜等名，其狀不一，葛氏已立治矣。所制青蒿煎、天庭蓋散，亦皆殺蟲杜後之劑，然預圖早服，庶不貽殃也。倘至顛危沉困之際，則病深蟲老，雖倉扁亦望而畏焉。</p>

<h2>痰火證治</h2>
<p>夫痰火者，癆瘵之晦名，病之最酷者也。然以病之先後言，則火為痰之本，痰為火之標，而其陰虛，則又為致火致痰之本矣。何則？陰虛則火動，火動則痰生，所謂痰火者，寧非言末而忘本耶。人之一身，金水二臟，不可暫傷，蓋金為生化之源，水為生生之本，真陰既虧，則火自偏勝，火既偏勝，則上炎爍金，金母既傷，則生化之源已息，而水子何以借其胎養乎？夫一水既虧，則五火相煽，火迫肺而為咳，痰壅喉而為嗽。所以咳嗽一症，為亡津液之肇耶？以其傷於生化，母子俱病，真水日涸，益為致火之胎，於是陰愈消而陽愈亢，燔爍蒸炎，迫血上行，越出諸竅，而為咳唾吐衄等候。況血為有形，難成易虧，可驟補耶？血失既多，則陰暴脫，而陽亦微，陽微則惡寒，陰虛則發熱，故寒熱似瘧者，乃陰消陽敗之證諦。至於潮熱，則又為陰虛之極也。陰虛至極，則相火擅權，致君不務德矣。精固藏於腎，然聽命於心，心腎之液兩虧，則水火不交，陽主開泄，自致玉關無約，由是一夢即遺，不交而漏，病者即欲固守，其可得乎？真陰既竭，則孤陽無根，《內經》云「潰潰乎若壞都，汨汨乎不可止」者，正此謂也。然是證之由，在於分毫之異，實猶淄澠水合，非易子可能辨哉！如始於嗜欲水虧，致火炎爍金，母子俱虛，咳而多痰遺滑者，脈必弦長緊實，或滑而數，此火鬱內實，不受補者也。法當君以益水，如熟地、玄參、五味、枸杞、山藥之類，佐以清金，二母、二冬、沙參、紫菀等味，使以降火，梔、芩、柏、草、是也。如始於風寒邪郁，久咳傷肺嗽血，漸至水虧，此金絕生化之源，母令子虛，脈必浮而芤濡虛火，遲緩無力，或沉而遲澀弱細結代，皆虛而不足可補者也。法當以益肺，如參、耆、山藥之類，佐以滋腎，熟地、五味、玄參、山茱等品，使以清金斂肺，二母、二冬、片芩、沙參、烏梅、五味、白芍之屬是也。若始於過力傷筋，動極逆氣，肝不納血，因而妄出上竅，遂致陰虛者。法當君以益肝，如當歸、牛膝、芍藥等味，佐以養氣，決明、白朮、柏仁、生薑等品，使以消瘀，丹皮、紅花、鬱金之類，更以熟地、枸杞、杜仲，以補其母，兼以二冬、知、芩、沙參，以杜其賊，庶乃圓神。若水涸肺燥，咯唾咳嗽，法當潤肺清金，如蛤蚧、阿膠、二冬、百合、貝母、花粉是也。其曰五臟相傳者，乃五臟之氣自相戕賊也。如肺賊肝者，必面白目枯，口苦自汗，心煩驚怖，以白為肺之色，目乃肝之竅，口苦自汗，心煩驚怖，皆屬心病，此母令子虛之候也。法當君以益肝，以當歸、白芍、牛膝、續斷，以補肝之血；以決明、白朮、柏仁、菊花，益肝之氣；以枸杞、杜仲、熟地、阿膠、菟絲子，以補肝之母；佐以知母、訶子、麥冬、片芩，以瀉肺之實；使以麥冬、酸棗、茯神，以清心而鎮神也。如腎賊心者，必面黑鼻乾，口瘡喜忘，大便或秘或泄，以黑為腎之色，鼻為肺之竅，大便或秘或泄，亦皆金病；口瘡喜忘，又屬心恙，此水剋火，火剋金之義也。法當君以益心，用茯神、遠志、菖蒲，以益心之氣；當歸、熟地，以補心之血；酸棗、烏梅、生薑、陳皮，以補心之母；澤瀉、車前、茯苓，以制水之淫；使以片芩、知母、二冬、紫菀，以潤金之燥也。若肝賊脾者，必面青唇黃，口強舌哽，吐涎體瘦，飲食無味，以青為肝之色，唇為脾之外候，余皆肝之本病，此木剋土之義也。法當君以補土，以參、耆、升、葛，補脾之氣；白朮、白芍、大棗、膠飴，以補脾之血；桂心、茯苓，以補脾之母；佐以芍藥、烏梅，以瀉木之實；以膽草、芩、連、梔子，以瀉肝之火；以二冬、二母、百合、阿膠，以堅金之肅也。若心賊肺者，必面赤鼻白，吐痰咯血，喘咳毛枯，以赤為心之色，鼻為肺所屬，余皆肺證，此火剋金之候也。法當君以瀉火，用甘草、人參、赤苓、朮、通、黃柏，以瀉氣分之火；玄參、丹參、丹皮、地黃，以徹血分之熱；使以黃連，瀉心子之實；佐以二冬、百合、貝母、阿膠，以保肺潤燥；使以參、耆、芍、朮、大棗、甘草、膠飴，以益肺之母也。如肺賊腎者，必面黃耳枯，骨滿胻痛，遺精白濁，以黃為脾之色，耳為腎之竅，腎主骨，故胻痛，余皆水病，此土剋水之候也。法當君以益水，用知母、玄參、補骨脂，以益腎之氣；熟地黃、枸杞、黃柏、五味、山茱，以補腎之血；佐以梔子、豆豉、萊菔子，以瀉脾之子；訶子、防風、桑白皮，以泄土之實；使以人參、山茱、玄參、熟地，以補腎之母也。此古人之成法，當的從之。惟腎賊心之一證。意必邪水淫濕，上溢心分，以其人真火心血素虧，君不主位，相火司權，乃能令人有面黑鼻乾，口瘡喜忘，便秘便溏等證，此亦心腎不交，水火未濟之候，寧非濕熱相蒸，使之然乎。夫真水一臟，有虛無實者也，不虧足矣，而能有餘賊心，似非至到之理，要之真水無瀉法，實火無補法，惟敦土清金為善，學者思過半矣。</p>

<h2>痰火辨惑</h2>
<p>聖謂人身生生之本，根於金水二臟，一水既虧，則五火隨熾，上炎爍金，傷其化源，則生生之機已息，而癆瘵之證成焉。何也？夫真水既虧，則陽自偏勝，以陽從陽，物從其類，氣得火而行健，故陽急陰緩，氣疾血徐，不相偕隨，所以錯經妄行，越出上竅，而為咳唾等候。然血失既多，則陰虛陽勝，陽既偏勝，則自侵陰分亢害，所謂陰虛生內熱，故其潮汗遺滑證，皆胎於此矣。諸證既見，則日消其陰，火專其令，上而爍金為咳，下涸水為遺，金既絕其生化之源，則水為涸流之紀矣。於是精神日淺，肌肉日消，毛皮日槁，因而致此極也。當此之際，猶魚遊轍水，即沛挽天潢，亦何濟哉？必神於治者，乃可冀其萬一耳。雖然，病固水虧，不察其所虧之由以治，安得投其隙乎？如始於風寒，時未即發，致火鬱久咳，傷其肺金，是謂母令子虛，法當君以清金，佐以滋水，使以降火，所謂補母益子，伐邪制亢之意也。又如久病久瘧，真氣已虧，復以勞欲損其心腎，是謂以虛益虛，法當君以益氣，佐以滋水，使以養血，所謂無伐天和之意也。又如過力傷筋，動而生陽，肝不納血，血驟妄行，致陰虛之極者，法當君以養血，佐以降火調氣，使以消瘀，所謂攻守兼備之法也。至於膏粱逸士，酗酒恣欲，致脾腎兩虧，水涸火炎，金衰木旺，母子俱病，法當君以補水養血，佐以清金益士，使以降火平肝，所謂治病必求其本也。若夫前論，所謂五臟相傳之證，固為亢害承製，所必然者，而其所載之候，未必一一全具，但醫當素蘊胸中，惟以面色主之，以亢，他證但見一二，便作受亢之臟主張，法當君以益己，佐以補母，使以伐邪，則自中其彀矣。倘不察其微，而概以制亢，恣意伐邪，猛浪投劑，虛虛之禍，咎將安歸。</p>

<h2>痰火玄解</h2>
<p>愚謂痰火之證，本於亡血奪精，而其精之與血，皆真水真陰，有形有質，難成易虧者也。夫所謂痰火者，言末而忘本也。蓋真水既虧，則相火隨熾，壅迫津液為痰，故曰痰者火之標。然以癆瘵之證，謂曰陰虛火動者，蓋以一言而括盡病之標本矣。《內經》曰：陰虛生內熱，蓋熱者火之微，火者熱之極，火迫津液而為痰，則陰虛正謂致火致痰之本，而東垣所謂先受病為本，次受病為標者，非此謂乎？今之治者，惟曰清痰降火，則殊昧治病必求其本之論矣。或曰：滋陰降火者，固為所宜，迨考所用之劑，母乃四物增以知、柏、芩、連苦寒之味，殊不知陰得寒愈消，脾得寒愈敗，病者得之，寧不減食而脹泄乎？又寧不陰消而肉削乎？然曰滋陰降火者，謂益水而勝火也。蓋以龍雷之火，不可以水伏，不可以直折，法宜甘溫以補母，人參、山藥、五味之屬，以苦堅之，知母之屬，以苦佐之，黃柏之屬，豈不聞蕭丘之火乎？按古之治癆諸方，鮮有不主參、耆者，蓋古人以血脫者益其氣，所謂陰藉陽以生之義耳。如婦人產後去血過多，上氣喘急，命在須臾者，名曰孤陽絕陰，此陰虛之極者也。法當補陰，然而不主四物等劑，而用參蘇飲，劑中惟人參、蘇木二味其用也，豈古人之愚乎？蓋亦本諸《內經》之旨也。夫苦寒之用，胎於王氏一言之差，遂為萬世之妨，愚考《本草正誤》云：雷曰：夏月使人參，發心痃之患。好古曰：人參甘溫，補肺之陽，泄肺之陰，肺受寒邪，宜此補之，肺受火邪，則反傷肺氣，宜以沙參代之。王綸曰：凡酒色過度，損傷肺腎真陰，陰虛火動，勞嗽、吐血、咳血等證勿用之。蓋人參入手太陰，能補火，故肺受火邪者忌之，若誤服參、耆甘溫之劑，則病日增，服之過多則死，不可治，蓋甘溫補氣，氣屬陽，陽旺則陰消，惟宜苦甘寒之藥，生血降火，世人不識，往往服參、耆為補而死者多矣。言聞曰：孫真人夏月服參脈散、腎瀝湯三劑，則百病不生。李東垣亦謂生脈散，清暑益氣湯，乃瀉火益金之聖藥。而雷氏反謂發心痃之患，非矣。況痃乃臍旁積氣，非心病也。人參能補正氣，破堅積，豈有發心痃之理。觀仲景治腹中寒氣上衝，有頭足，上下痛，不可觸迫，嘔不能食者，用大建中湯可知矣。王好古言人參補陽泄陰，肺寒宜用，肺熱不可服，王綸因而和之，謂參、耆能補肺火，陰虛火動失血諸病，服之必死。二家之說皆偏矣。夫人參能補元陽，生陰血，而瀉陰火，東垣李氏之說明矣。仲景張氏言亡血血虛者，並加人參。又言肺寒者，去人參加乾薑，無令氣壅。丹溪朱氏亦言虛火可補參、耆之屬，實火可瀉芩、連之屬也。二家不察三氏之精微，而曰人參補火，謬哉！夫火與元氣不兩立，元氣勝則火邪退，人參既補元氣，而又補火邪，是反復小人，何以與甘草、苓、術謂之四君子耶？雖然，二家之言，不可盡廢也。惟其語有滯，故守之者泥而執一，遂視人參如蛇蠍，則不可也。凡人面白麵黃面青黧悴者，皆脾肺腎氣不足，可用也。面赤面黑者，氣壯神強，不可用也。脈之浮而芤濡虛大，遲緩無力，沉而遲澀弱細結代無力者，皆虛而不足，可用也。若弦長緊實滑數有力者，皆火鬱內實，不可用也。潔古謂喘嗽勿用者，痰實氣壅之喘也。若腎虛氣短喘促者，必用也。仲景謂氣寒而喘勿用者，寒束熱邪，壅鬱在肺之咳也，若自汗惡寒而嗽者，必用也。東垣謂久病火鬱在肺勿用者，乃火鬱於內，宜發不宜補也。若肺虛火旺，氣短自汗，必用也。丹溪言諸痛不可驟用者，乃邪氣方銳，宜散不宜補也。若裡虛吐利，及久病胃弱，虛痛喜按者，必用也。節齋謂陰虛火旺勿用者，乃血虛火亢能食，脈弦而數，涼之則傷胃，溫之則傷肺，不受補者也。若自氣短肢冷脈虛者，必用也。如此詳審，則人參可用不可用，思過半矣。東垣節齋之說，本於海藏，但論又過於矯激。丹溪言虛火可補，須用參、耆。又云陰虛潮熱，喘嗽吐血盜汗等證，四物加人參、黃柏、知母。又云好色之人，肺腎受傷，咳嗽不愈，瓊玉膏主之，是陰虛癆瘵之證，未嘗不用人參也。節齋私淑丹溪者也，而乃相反如此，斯言一出，印定後人眼目，凡遇前症，不問宜用不宜用，輒舉以藉口，致使良工掣肘，惟求免去病家之怨，病家亦以此說橫之胸中，甘受苦寒，雖至上嘔下泄，去死不遠，亦不悟也。古今治癆，莫過於葛可久，其獨參湯、保真湯，何嘗廢人參而不用耶？節齋之說，誠未之深思也。楊起曰：人參載本草，人所共知，近因病者吝財薄醫，醫復算本惜費，不肯用人參療病，以致輕者至重，重者至危。然有肺寒、肺熱、中滿、血虛、四證，只宜散寒消腫，補營，不用人參，其說近是。殊不知俱加人參在內，護持元氣，力助群藥，其功甚捷。若曰氣無補法，則謬矣。古方治肺寒以溫肺湯，肺熱以清肺湯，中滿以分消湯，血虛以養營湯，皆有人參在焉。所謂邪之所湊，其氣必虛。又曰：養正邪自除，陽旺則生陰血，貴配合得宜耳。庸醫每謂人參不宜輕用，誠哉其為庸也。好生君子，不可輕命薄醫，醫亦不可計利不用，蓋病者薄醫，實所以自輕其生，醫者計利苟且，所以自乖其行也。書此奉勉，幸毋曰迂。</p>

<h2>痰火緒言</h2>
<p>凡痰火之證，始於陰虛，於法當補。但證有虛實，法有宜忌，倘不以脈症互參，孟浪投劑，則觸處成滯，寧無顛覆之患乎！蓋以脈之可補者，浮而芤濡虛大，遲緩無力，沉而遲澀弱細，結代無力，皆虛而不足，可補者也。當君參、耆，佐以歸、芎、芍、地，務使陽生陰長，其病乃愈。若於此不補，或恣用苦寒，則虛虛之禍，豈不旋踵而至耶？其脈之不可補者，弦長緊實，滑數有力，此皆火鬱內實，不受補者也。法當君以四物，佐以二冬、二母、沙參、玄參等味，滋陰抑陽，務使水升火降，陰秘陽平，病或可痊。若妄施補，則實實之災，將焉免之。夫脈既已辨，又當以證互驗，如潔古所謂喘嗽不可補者，以痰實氣壅也。若氣短不相接，證似喘促者，蓋腎虛氣短，當補者也。仲景所謂肺寒而嗽，不宜用補者，以寒束熱邪，壅鬱在肺也。若自汗惡寒而咳者，表裡俱虛，可補者也。東垣所謂久病脈實，鬱熱在肺，宜微發不宜用補。若肺虛火旺，短氣自汗者，陰虛氣衰，可補者也。節齋所謂陰虛火動，不可補者，以陰虛火亢能食，脈弦而數，涼之則傷脾，溫之則傷肺，此不受補者。若自汗短氣，肢冷脈虛者，必補者也。若其人面赤面黑，氣壯神強，不可行補。若面白麵黃，面青黧悴者，皆脾肺腎不足，宜補者也。若此細辨，則猶蒼素並陳，而復誤者，真盲瞽者矣。凡治痰火之法，當以脈驗證，脈證既明，虛實立辨，夫所謂虛者，真陰虛也，法當補之。所謂實者，火邪實也，法當清之。然清補之品，亦猶朱紫相凌，卒未易辨。何也？如知母、玄參、故紙，皆補腎之氣也。黃柏、枸杞、熟地、阿膠、山茱萸、五味、瑣陽、蓯蓉，皆補腎之血也。人參、山茱，補腎之母也。二冬、阿膠、貝母、百合、蛤蚧、天花粉，皆潤肺之燥也。石膏、知母、訶子、粳米，瀉肺之火也。桑皮、地骨皮，皆瀉肺之子也。五味、白芍、倍子，皆斂肺氣之散也。黃柏、知母、丹皮、地骨皮、生地、玄參、茯苓，皆瀉命門相火也。芡實、五味、山茱萸、牡蠣、金櫻子、遠志，皆固精藥也。參、耆、橘、草、扁豆，皆補脾之氣也。芍、朮、大棗，補脾之血也。茯苓、茯神、遠志、菖蒲，皆補心之氣也。當歸、熟地，皆補心之血也。烏梅、酸棗、生薑，皆補心之母也。甘草、人參、赤苓、木通、黃柏皆瀉心經血分熱也。丹參、丹皮、生地、玄參，皆瀉心經血分火也。梔子、生地，皆涼心血之品也。黃芩、竹葉、麥冬，皆清心經之客熱也。當歸、牛膝、白芍、芎藭，皆補肝之血也。柏子、白朮、決明，皆補肝之氣也。枸杞、熟地、阿膠、杜仲、菟絲子，皆補肝之母也。丹皮、紅花，皆行肝之血也。青皮、香附，皆疏肝之逆也。芍藥、烏梅，皆瀉木氣之實也。膽草、黃連，皆瀉肝之火也。五臟消補之品，甯越此乎，學者諳此，則左右逢源，雖不中不遠矣。</p>
<p>凡痰火之證，始於陰虛，法當滋補。葛氏昔擅專門，所遺諸方，未有不主參、耆者。厥後因二王不經之論，致令醫掣肘，遂視人參為蛇蠍，惟以苦寒為要藥，種種殺人，猶不知悟。豈不聞丹溪有曰：虛火可補，須用參、耆。又曰：陰虛潮熱喘嗽，吐血盜汗等證，四物加人參、黃耆、知母。是治陰虛癆瘵之證，未嘗不用人參也。況陰虛之極，不用人參補陽，何以生陰？若不服參、耆得愈者，必真陰尚未甚虧，脾胃尚未衰敗，脈必浮大而緩，故用補血降火之藥，或有可愈者，但亦稀少耳。予自總髻，醫至於今，服參、耆而愈者，十常五七。而不服參、耆得愈者，十無二三。蓋陰藉陽生之理，歷歷可徵。如產後孤陽絕陰之證，喘息目瞪，心慌膽戰，命在逡巡，此陰虛之極，於法急當補陰，而古人不用四物，而用人參、蘇木二味，亦名參蘇飲，一服而驗，效捷桴鼓，生平於此挽回者，奚啻百餘人，古人之制，何其神哉！噫，陰藉陽生之法，當的從之，但不明脈理者，未足語此。</p>

<h2>痰火咳嗽</h2>
<p>王氏曰：咳為有聲，肺氣傷而不清，嗽為有痰，脾濕動而生痰，此咳之所從生也。然必察其所由以治，庶中肯綮，何也？外邪致咳，風則始必鼻塞聲重，自汗惡風，法當解之。寒則始必惡寒無汗，聲清氣壯，法當散之。若表證重者，但或頭痛發熱，又當汗之，此外感咳嗽之證治也。若內傷之咳，痰火則甚於清晨，法當清痰降火。火浮於肺，為咳則甚於黃昏，治在清金。土鬱食積為咳，則甚於長夜，治在消導理脾。若夫陰虛為咳，證則不然，有多種證諦可徵，咳必甚於午後，或兼諸血而有潮汗遺滑等候，其法則異於諸咳天淵矣。貴在清金以益水源，壯水以制火亢，伐木無令脾虛，庶五臟無偏勝之害，乃令生化之源復行而生生之機再續，加之調攝如宜，或可超之寒谷，而登陽和之境。不爾而一概妄治，致人於顛連之鄉，則殺人於無形之刃也，哀哉！</p>
<p>聖謂六淫之邪，近肺為咳，濕積痰涎，壅喉為嗽，二者脾肺病也。若夫癆症咳嗽，由則不然。何也？始於水虧火熾金傷，息其生化之源，源既絕流，則淵注之泉自涸，真陰既竭，則相火日旺，金受火之煅煉，則自燥而烈矣，是以一火而致金水悉傷，母子俱病。故咳血聲嗄咽痛，益水清金之法，可少待耶？當此之際，五臟已病其三，所未亢者，惟肝脾而已，然金既為火賊，則木自寡畏，其不凌脾者鮮矣。劑中必增以制肝健脾之品，益其虧，抑其勝，庶無木賊土敗之禍，於此倘無抑揚之策，而反顛倒以治，則五臟之氣，虧者愈虧，而亢者愈亢，其不食脾泄，肌脫肉消，勢所必至，其能免乎？</p>

<h3>咳嗽加減主方</h3>
<p>治陰虛火盛，咳而咽乾，脈來弦長緊實，滑數有力，皆火鬱內實不受補者，宜此主之。</p>
<p>麥門冬（去心，一錢五分，治肺虛火嗽，或單用亦可）　天門冬（去心皮，一錢五分，清肺熱保肺氣，除痰咳者）　大甘草（生用，八分，治火熱傷肺咳嗽）　沙參（一錢，益肺氣，清肺火，大益脾土）　栝蔞仁（炒，一錢，潤肺降火滌白痰，為咳嗽之要藥）　桔梗（去頭，一錢，清肺氣，利咽喉，為諸藥之舟楫）　枯黃芩（蜜炒，一錢，瀉肺火，消痰，利氣滋化源，養陰退陽）　百部（去苗，一錢，除熱咳，上氣喘急）　鮮知母（去毛，蜜炒，一錢，忌鐵，消痰潤肺，滋陰降火，治肺熱痰嗽）　川貝母（八分，清肺消痰，止嗽開鬱降火）　百合（一錢，治肺熱咳嗽）　天花粉（一錢，治虛熱咳嗽）</p>
<p>上十二味作一劑，用乾柿五片，水煎，食遠趁熱，徐徐緩服。</p>
<p>若熱盛喘咳，及痰多如湧泉者，加石膏火煨一錢。若久咳嗽唾不出，加五倍子五分。若咳嗽聲嘶者，此金為火爍之甚，加訶子肉五分，斂而降之。若久嗽不止，此肺氣散而不收，加北五味子五粒。嗽而有血，此肺竅傷損，加阿膠、犀角、藕汁、童便對服。</p>

<h3>虛癆久嗽加減主方</h3>
<p>治陰虛勞嗽，脈來浮而芤濡虛大，遲緩無力，或沉而遲澀，弱細無力，皆虛而不足，宜於補者，以此主之。</p>
<p>黃耆（蜜炒，一錢，補虛瀉火止痰嗽，自汗及咳膿血）　人參（五分，補肺氣，降肺火及肺虛久嗽）　北五味（十五粒，收肺氣，止咳嗽，乃火熱必用之藥）　紫菀（制過，一錢，止咳膿血，消痰益肺）　款冬花（八分，治肺熱勞嗽連綿不絕，為溫肺治嗽之要藥）　生地黃（薑汁蒸，一錢，止咳嗽吐血）　玄參（忌鐵，一錢，治腎水受傷，真陰失守，孤陽無根，發為火病咳嗽唾血證）　沙參（一錢，益心肺，清肺火，治久嗽肺痿）　天門冬（去心，皮，一錢，保肺氣，定喘促，為地黃之使）　麥門冬（去心，二錢，止勞嗽，定虛喘，除肺熱，主心煩，治陰虛及口渴）　知母（去毛，忌鐵，蜜炒一錢，消痰止嗽，清心肺，療骨熱煩蒸）</p>
<p>上十一味，作一劑，水煎緩服。</p>
<p>若咳嗽痰結咽喉不利，肺燥喘咳，加炒栝蔞仁一錢。若勞嗽上氣，胸脅不利，加貝母八分。若嗽而失聲，由火燥爍金，損傷肺竅，極為難治，加訶子肉八分。若胸脅痞滿少食，此肝木賊脾，加山藥、白芍，醋炒青皮少許。若咳而多汗，加酸棗仁微炒五分，倍黃耆。若咳而有血，加阿膠八分，磨犀角、藕汁、童便對服。若咳而遺滑，加茯神、山茱萸肉各一錢，間服六味丸。若咳而骨蒸，加地骨皮一錢。</p>

<h3>附：簡易方</h3>
<p><u>蘇遊鳳髓湯</u>　治肺燥咳嗽。用松子仁一兩，胡桃仁二兩，研膏和熟蜜收之，每二錢，食後沸湯點服。</p>
<p><u>又方</u>　治虛熱咳嗽，口乾涕唾。用甘蔗汁一升半，青粱米四合，煮粥，日食二次，極潤心肺。</p>
<p><u>又方</u>　治咳嗽吐血。人參、黃耆、飛面各一兩，百合五錢，為末，水丸梧子大，每五十丸，食前茅根湯下。</p>
<p><u>又方</u>　用人參、硃砂等分為末，烏梅肉丸彈大，每白湯下一丸，日一服。</p>
<p><u>又方</u>　治肺熱咳嗽。沙參五錢，水煎服。</p>

<h3>附：拙見治驗</h3>
<p>一童子年十三歲，患咳盜汗，遂請幼科治之，乃曰小兒汗，不必服藥。一月後，兩目頓赤，少食，痰中帶血絲，余診其脈，左手微而無力，右手大而洪數。此火症也。想已有外務，其父母力為分解，再三私詢，乃曰前學中隔壁，窺見一女子，覺慕之不遂，後得此疾。余以當歸、地黃、茯神、遠志、牡丹皮、酸棗仁、白朮、甘草、桔梗，數十劑全愈。</p>
<p>一人咳嗽短氣，余以黃耆為君，當歸、阿膠、陳皮、天冬、桑白皮、知母、黃柏，數服而愈。</p>

<h2>痰火失血</h2>
<p>夫血者，氣之配也。人之一身五臟六腑，四體百骸，靡不藉其營養也。然附氣以行，氣暢則暢，氣逆則逆，有夫婦隨唱之義。一或陰虧陽勝，偏而為火，氣得火而行健。譬則男女偕行，男得附而邁往，女必迷途而暫竚矣。所以火載血上，錯經妄行，越出上竅而為吐衄咳唾等候，第始焉之作，正氣未虛，猶水溢於都，固當潔理其源，亦必溢土以御，不爾而任其流，則涓涓之勢，其可遏乎？非江海之源，寧不竭乎！況失血既久，則真陰已虧，相火自熾，必見潮汗遺滑等證。當此之際，法當君以益陽，佐以滋陰養血，使以清金，潔源，令陽生陰長，源潔流清，庶無後慮矣。然所謂益陽者，參耆獨參湯之類是也。所謂滋陰養血者，四物、知、柏、玄參之屬是也。所謂清金，梔、芩、沙參、二冬等味是也。所謂理氣者，陳皮、香附是也。所謂兜澀者，棕櫚、茜根、大小薊是也。所謂潔源者，丹皮、鬱金、犀角、藕汁，或童便一物是也。要之痰火失血，皆由陰火上炎所致，然謂之陰火者，龍雷之火也，不可以水伏，不可以直折，豈苦寒之可遏耶？倘恣用苦寒以傷其脾，則飲食日減，肌肉日消。節齋云：服寒者，百無一生，服溲溺者，百無一死之論，正此謂也。</p>
<p>聖按：失血之證，其類非一，有陽乘陰者，謂血熱而妄行也。有陰乘陽者，以陽虛而陰無所附，妄溢而不循經也。有血越清道而出於鼻者，有血溢濁道而出於口者，嘔血者，出於肝，吐血者，出於胃，衄血者，出於肺，耳出血曰衈，膚腠出血曰血汗，口鼻並出曰腦衄，九竅俱出曰大衄，由固不一，總之火病俱多，倘不溯其源而以治，寧毋岐路亡羊之失乎！</p>

<h3>導瘀散滯緩急之品</h3>
<p>治諸血暴作，妄行不止，兼止兼消。</p>
<p>藕節（入藥煎，或絞汁同藥服，或生藕單服，亦可治口鼻諸血，此清水潔源之要藥）　棕灰（消瘀血，止吐衄咳唾諸血，或入藥或單服亦可）　茜根（或銼，或絞汁，活血，行血，止吐衄諸血）　韭汁（止吐血，消胃脘積血，和童便燉溫服）　萊菔汁（止吐血，大衄，仍注鼻中）　蔓菁汁（止吐衄）　乾柿（治脾之藥，消宿血吐衄）　鬱金（消瘀血，止吐衄）　發灰（取瘀血，水調服，上下諸血，亦可吹鼻）　京墨（止吐血，磨服）　所吐血（炒黑，研末，麥門冬湯服，三分，以血導血）　所衄血（接取點目角，或炒末，水服一錢）　人指甲（刮末吹鼻，止衄）</p>

<h3>諸血主方</h3>
<p>治陰虛火動，血熱妄行，吐衄嘔咳咯唾等血。</p>
<p>生地黃（忌鐵，二錢，治心肺傷損，吐血衄血）　紫參（一錢，止唾血衄血，或同人參末服，止吐血）　丹參（一錢，消衄血，生新血）　牡丹皮（一錢，和血，生血，涼血）　當歸（一錢，頭止血，身調血，尾破血，衄血不止，末服一錢）　芎藭（一錢，消宿血，養新血，止吐衄）　白芍（一錢，散惡血，逐賊血，平肝助脾，咯血不止，入犀角汁同服）　黃芩（酒炒，一錢，諸失血，積熱，吐衄為末服）　麥門冬（去心，一錢五分，治心肺積熱，吐衄不止，或搗汁和蜜單服，或同生地黃服）　梔子（消胃脘血，止衄，炒黑，一錢）</p>
<p>上十味，乃滋陰抑陽之要品，作一劑，水煎，臨服入童便一盞，藕汁一盞溫服，或磨犀角汁同服。如證增減，無不捷驗。若血壅盛，當與前清止之品倍用。</p>

<h3>諸血後虛怯主方</h3>
<p>治吐衄咳唾等證，失血既多，虛羸昏倦，精神怯弱，血尚未盡。</p>
<p>人參（一錢，補氣生血，吐衄後煎服一兩，若內傷血出如湧泉，同荊芥灰蒸柏葉，白麵水服）　黃耆（蜜炒，一錢，逐五臟惡血，同紫蘇末服，止吐衄不止）　甘草（炙，五分，養血補血，並咳唾膿血之疾）　白芨（一錢，或為末，以羊肺蘸食，止肺損唾衄，水服止衄）　百合（一錢，主肺病吐血，或和蜜蒸食）　熟地黃（二錢，補血填髓）　生地黃（二錢，涼血，生血，止血）　當歸（身頭，一錢五分，止血養血）　牡丹皮（一錢，和血，生血，涼血，退血中伏火）　阿膠（蛤粉炒，成珠，一錢，主虛損吐血，肺虛咯血）　鹿角膠（一錢，治同上）</p>
<p>上十味，乃補血、養血、清血、歸源之品，其間主以參、耆者，取陰藉陽生之義。但脈不實數弦長者，任意服之，無執王氏謬論，以取虛虛之禍也。以上作一劑，用藕節五個，水煎，臨服時入童便一盞，藕汁二杯，俟溫徐徐緩服。</p>
<p>按：《褚澄遺書》云：人喉有竅，咳血殺人。蓋肺體清虛，難容纖物，血既滲入，愈咳愈滲，愈滲愈咳。凡諸藥味厚氣濃者，皆所不利，惟飲童便一物湯，則百無一死。若服寒涼，則百不一生。又吳氏云：諸虛吐衄咯血，須用童子小便，其功甚捷。蓋溲溺滋陰降火，清瘀血止吐衄諸血，但取十二歲以下童子，絕其烹炮鹹酸，多與米飲，以助水道。每用一盞，入薑汁或韭汁三五點，徐徐緩服，日進二三服，寒天則燉溫服，久自有效也。</p>

<h3>附：吐血簡易良方</h3>
<p><u>地黃粥</u>　大能利血生精，吐血者，宜常食之妙。用懷慶生地黃，以銅刀切二合，與粳米二合，同入罐中煮之，候熟以酥二合，白蜜一合，同炒香，入內再煮熟食。</p>
<p>一方　治內熱吐血。用青黛二錢，新汲水調服。</p>
<p>一方　治吐血損肺。煉成鍾乳粉，每三錢，糯米湯調下立止。</p>
<p>一方　治吐血不止，青柏葉一握，乾薑二片，阿膠一挺炙，水二升，煮一升，另絞藕汁，或童便一盞，去渣服。</p>
<p>一方　治恚怒嘔血。煩滿少氣，胸脅疼痛。青柏為散，米飲下二三匕。</p>
<p>一方　治吐血衄血。白膠香、蛤粉，等分為末，薑汁調下。</p>
<p>一方　治暴卒吐血。石灰於刀頭上燒研，每二錢，用井水調下。</p>
<p>一方　治吐血胸膈刺痛。用大黃一兩為散，每一錢，以地黃汁一合，水煎服。</p>
<p>一方　治心熱吐血不止。生葛搗汁半升，燉服。</p>
<p>一方　治內損吐血。飛羅面略炒，以京墨汁，或藕節汁，調服二錢。</p>
<p>一方　治吐血，諸藥不效者。桃奴燒末，米飲下。</p>
<p>一方　治卒暴吐血。雙荷散、藕節、荷蒂各七個，蜜少許，搗爛，水煎溫服，或丸服。</p>
<p>一方　治吐血咯血。乾荷葉焙乾為末，每二錢，米湯下。</p>
<p>一方　治吐血。敗荷葉為末，蒲黃等分，每三錢，麥冬湯下。</p>
<p>一方　治吐血衄血，陽盛於陰，血熱妄行。宜服四生丸，生荷葉、生艾葉、生柏葉、生地黃等分搗爛，丸如梧桐子大，每水煎一丸服。</p>
<p>一方　治吐血如鵝鴨肝。用生犀角、生桔梗，各一兩，末之，水服二錢。</p>
<p>一方　治諸失血。用梞柴葉濃煎水服，或入藥服尤妙。</p>

<h3>附：拙見治驗</h3>
<p>一人患咳吐血，余診脈數而有力，獨脾脈洪實而緊，此煎炒厚味所致，乃脾胃二經火也。余以陳皮、白芷、當歸、生地黃、桔梗、甘草、白芍、黃芩、貝母、天花粉、白茯苓、知母、黃柏，數十劑而愈。</p>
<p>一農家因救旱過勞，忽吐血不止，醫作火病治之，不效，求救於余，余以補中益氣湯數服而愈。《內經》所謂勞者溫之，正此義也。一老人下血不止，服止血藥不效，余以四物加牡丹皮、白朮，理脾而愈。</p>

<h2>自汗盜汗</h2>
<p>夫汗者，心之液，非大熱過勞而出者，則病也。由則非一，或沖冒風雨濕邪，熏蒸郁遏，致營衛之氣不和，是以腠理開張，濈然汗出，此外邪之所為，惟徹其邪，則汗自止。若內傷之汗，非營虛則衛弱也。何則？以陰乘陽分，自然汗出者曰自汗，法當調營以益衛；以陽乘陰分，睡里汗出者曰盜汗，法當滋陰以抑陽。若病久而肌脫肉消者，晝則自汗蒸蒸，夜則盜汗襲襲，又屬陰陽兩虛也，法當氣血兩益之。大都自汗之脈，則必微而弱，盜汗之脈，則必細而澀，微主陽氣衰，細主陰氣弱。王氏之論，豈欺我乎？要之自汗盜汗，乃亡津奪液之肇端，但見是證，則當警惕以治，毋以尋常一例視也。</p>
<p>聖曰：所謂汗為心液者，以其心主是液，如脾主涎，肺主涕，肝主淚之類，非心竅之真液也。蓋以水穀至清之液，脾氣散精，上歸於肺，輸布一身，五臟六腑，四體百骸，靡不藉其營養，人所不可一日無者，猶水濕於土中，淫則浸漬，燥則乾枯，燥濕相得，則滋長萬物矣。而其所以為汗者，必藉陽氣鼓舞乃生。譬則造酒者，然以曲谷濕罨，置之甑中，注水於釜，迫之以火，則液氣升而為酒矣。造酒作汗之理，以此喻之，若符之合節，可異乎？夫汗則一也，而復有自汗盜汗之異，理何致也？所謂陽虛陰必湊之，抑何別耶？以陰乘陽分，是營氣不與衛氣諧也。陽主動，以動中有靜，故覺而汗出，乃曰自汗，法當補陽以養陰。蓋補陽者，參、耆是也。養陰者，歸、地是也。陰虛陽必乘之，以陽侵陰分，是衛氣不與營氣和也。陰主靜，以靜中有動，故寐而汗出，乃曰盜汗。若盜之潛出，覺之即止，法當補陰以抑陽。蓋補陰者，四物是也。抑陽者，三黃是也。若夫晝則自汗，而夜盜汗者，固為陰陽兩虛，然病至於此，則醫亦掣肘矣。何也？衛氣者，晝則行陽，夜則行陰，行陽則寤，行陰則寐。今也寤寐俱汗，是陽動極而陰靜反動，總之陰氣已敗，而微陽亦自浮越矣。時將補其陽，則陰火得補而遂熾，時欲濟其陰，則陽微無以生其陰，於斯時也，惟脈大虛緩不數者，則為陰未甚虛，胃氣尚存，二法用之，或可冀其萬一耳。藉使脈來細數無力者，則為陰敗陽頹，卻倉扁復起，又何施耶？</p>

<h3>自汗主方</h3>
<p>治痰火證具，氣虛自汗，脈微而緩，或大而虛微者宜之，或兼夢遺亦宜之。</p>
<p>黃耆（蜜炒，一錢，瀉肺火，益元氣，實腠理，止自汗）　人參（清河者，五分，止一切自汗，或同當歸豬腎煮食）　白朮（土炒，一錢，止自汗，或同小麥煎服，或同黃耆、石斛、牡蠣、術，主脾自汗）　麻黃根（八分，止諸汗必用，或末之外撲）　知母（蜜炒，去毛，一錢，清金止自汗）　酸棗仁（微炒，一錢，研碎，止自汗，寧心驚，治不眠）　白茯苓（去皮，一錢，止自汗盜汗並宜，或同烏梅湯服，若血虛心頭出汗者，同艾葉調服）　柏子仁（微炒，研碎，一錢，養心液，止汗）　牡蠣（煅，研末，一錢，氣虛自汗，血虛盜汗，同杜仲酒服，虛勞盜汗，同黃耆麻黃根煎服）　龍骨（煅，研末，五分，止心驚盜汗）　熟地黃（一錢，益陰養陽，止汗）　</p>
<p>上十味治自汗之專品，惟脈不細數弦長緊實者，俱可服也。</p>
<p>若覺陰火盛者，加玄參一錢。若兼傷風，衛氣不與營氣而自汗者，加桂枝三分。外以雌雞豬肝羊胃作羹，牛羊脂酒服，皆有益於汗，以尋常作茹食之，亦宜。</p>

<h3>盜汗主方</h3>
<p>治痰火證具，陰虛盜汗，脈細而數，或弦澀虛微者宜之，兼夢遺者亦宜。</p>
<p>當歸身（一錢，益陰生血，止盜汗）　熟地黃（一錢，滋腎水，益真陰，止盜汗）　白芍藥（煨，一錢，補勞退熱，除煩益氣，瀉肝安脾，止盜汗）　白茯神（去木，一錢，治同前）　柏子仁（炒，一錢，研末，止心驚盜汗）　牡蠣粉（一錢，治同前）　黃柏（蜜炒，一錢，益腎止汗）　白朮（土炒，一錢，治同前）　甘草（炙，五分，瀉陰火補脾止汗）　黃連（酒炒，五分，除心熱，止盜汗）　麥門冬（去心，一錢，治心煩，止盜汗）　浮小麥（微炒，一撮，止盜汗）</p>
<p>上十四味，治陰虛盜汗之聖藥，脈細數者尤宜。</p>
<p>若盜汗盛者，亦加麻黃根五分，龍骨五分。若盜汗微而本證甚者，但俱以本證藥為主，如證增減，自捷影響。</p>

<h3>附：諸方</h3>
<p><u>當歸六黃湯</u>　治盜汗之聖藥。</p>
<p>川當歸身（一錢五分，補血養血，生血行血，止陰虛盜汗，故用生地黃，黃芩佐之，不絕生化之源，要之血藥不容舍此）　黃柏（蜜炒，一錢，瀉腎火，救腎水滋陰降火，止盜汗者）　生地黃（砂仁拌蒸，一錢五分，陰微陽勝，相火熾強，來乘陰位，日漸煎熬。凡陰虛火證，及盜汗者宜之，又佐當歸之能）　熟地黃（一錢，補腎水真陰，補血養氣，止盜汗）　黃芩（蜜炒，一錢，除腠理間熱，養陰退陽，盜汗自止，又佐當歸之用）　黃連（蜜炒，八分，潤心肺，止盜汗）　黃耆（蜜炒，一錢，實皮毛，益胃氣，去肌熱，瀉肺火，除虛熱，除肌中燥濕，又治脈弦自汗，脈細自汗。）</p>
<p>上六味，水煎，臨臥服。</p>
<p><u>黃耆湯</u>　治喜怒驚恐，房室虛勞，以致陰陽偏虛，或發厥自汗，或盜汗不止，並宜服之。</p>
<p>黃耆（蜜炒，一錢五分，如上）　白茯苓（去皮，一錢，保心鎮驚，生津止汗）　熟地黃（一錢五分，治如上）　天門冬（去心，一錢，保肺定喘，潤肌，為熟地黃之使）　麻黃根（八分，止汗）　龍骨（煅，八分，安肺收汗）　五味子（二十粒，補腎生津，酸能斂收之義）　浮小麥（一錢，止汗）　防風（一錢，止盜汗自汗）　當歸身（一錢，治如上）　甘草（炙，五分，瀉火補脾，止汗）</p>
<p>上十一味，止盜汗自汗之專劑，水煎，食遠服。</p>
<p><u>牡蠣散</u>　治諸虛體常自汗，驚惕不寧。</p>
<p>牡蠣（左顧者，煅，一兩）　黃耆（蜜炒，一兩）　麻黃根（一兩）　白朮（土炒，五錢）　甘草（炙，二錢五分）　浮小麥（百粒）　體虛加白茯苓一兩。</p>
<p>上為粗末，每五錢，滾白湯，臨臥溫服。</p>

<h3>附：宜食諸物</h3>
<p>豬心（若心虛自汗，同參，耆煮食，甚妙。）　豬腎（止盜汗，產後蓐勞，盜汗，煮粥食之。）　麥面（止盜汗）　豆豉（止盜汗，為末，酒調服之。）　蒸餅（每夜食一枚，止盜汗自汗）。</p>

<h3>附：拙見治驗</h3>
<p>一書生患盜汗，每夜被濕數重，開帳其熱氣如霧上騰。余以當歸六黃湯，加減數十劑，略減二三分，未全愈。診六脈伏沉，乃虛之極也，加人參七分，黃耆加至三倍，復以童便煮附子三分，一服熱退，汗止一半，再服而汗證亦愈。</p>

<h2>夢遺滑精</h2>
<p>夫精者，血之粹者也。經曰：陽平陰秘，精神乃治，陰陽離決，精神乃竭。以腎水虛衰，心火妄動，至水不得寧，由是不約而妄遺矣。迨溯其所自，因則有四，何也？有夢交而遺者，以火動水沸，神馳精泄，此君不務德，亂命所致，法當君以養心寧神，佐以益腎而斂竅也；有下元虛弱，精神蕩溢而遺者，此腎衰不攝，玉關無約，而精乃妄泄，法當君以補腎，佐以澀精也；有年壯氣盛，久節房事，致經絡壅滯而遺者，此久曠精滿而溢，惟得泄而自平也；有情動於中，所願不遂而遺者，惟通其情而自止，即勿藥可也。四者之中，惟夢遺最酷，蓋勞神而復脫其精，痰火之機，多肇於此，可例視乎。</p>
<p>聖謂營氣之粹者，化而為精，聚於命門。命門者。精血之府也。經曰：男子二八而陽精升，約滿一升二合，養而充之，可得三升，損而喪之，不及一升。謂精為峻者，精非血不化也。謂精為寶者，精非氣不養也。故血盛則精長，氣聚則精盈。譬則海水之潮，亦由天地間之陽氣鼓舞。所以氣、血、精三者，同源而異流，殊途而同歸者也。《期嗣真詮》亦曰：精即血成，試以精置盤中，以鹽點之，一宿即化而為血，豈非反本還元之義。與愚謂血之為精，猶硃砂中之取汞也。法置砂入鼎中，以火迫之，其汞乃出。夫婦交媾，必動淫火，而精乃泄。故丹家以汞鉛譬之精血，正此義矣。然精固營之粹者也。而腎中一點真水，則胎於無極，生於太極，有形有質，難成易虧，男女均有此物，所以男女過欲，皆能致水虧而成陰虛火動之症，其義可見矣。所謂二八而精滿者，無乃飲食厚味之液所變之。濁陰澄秘者，復藉肺氣輸歸於腎，若酒之攙水然，必藉本浮之氣味，乃能充盈。故富貴之人，雖縱淫酒色，未嘗一一而成痰火之病，蓋以日食葷濃之味，故輸化之精亦多，雖頻泄亦未即渴。若夫天一之真精，則父母先天所成，為人身之至寶。可頻而妄泄乎？倘無厚味精液之助，猶酒之真浮，可頻費而妄耗乎？若藜藿如膏粱之縱欲，其有不病者亦鮮矣。況夢遺一證，於縱欲勞神，遂致坎離不交，水火未濟，勞神奪精，心不御神，腎不攝精，心神蕩溢，由是一夢而遺，其酷於諸遺者以此。法宜瀉南方，補北方，益真火，壯真水，庶得病情之奧。</p>

<h3>遺精主方</h3>
<p>治心神不足，夜多淫夢，火伏水中，水不得寧，一夢即遺者。此心腎不交，水火未濟，實痰火之肇端也，宜此主之。</p>
<p>人參（取清河的，五分）　白茯神（去木，一錢）　熟地黃（一錢，忌鐵）　山茱萸（取肉，三錢）　肥遠志（去心，一錢）　淮山藥（一錢）　五味子（十五粒）　酸棗仁（微炒，一錢）　肉蓯蓉（酒洗，去甲，一錢）　補骨脂（微炒，八分）　芡實肉（一錢）　蓮化須（五分）　鮮知母（去毛，淡鹽水炒過，一錢）　覆盆子（一錢）　麥門冬（去心，一錢）</p>
<p>上十五味，作一劑，空心服。乃養心血，寧心志，益神氣，補腎精，泄腎火，固玉關之專品。此藥不燥不寒，不妨肺腎，不助陰火，誠痰火之王道也。</p>
<p>若夢遺甚者，必專服之。若更遺甚者，或入金櫻膏同服，或加牡蠣，或加龍骨。若脈實數弦長，或澀數而細，此不受補者，去人參、補骨脂，加當歸、生地黃、黃連、芡實末，每兩入龍骨一錢五分，或用金櫻膏糊丸，間服水陸二仙丹，此標本兼治之藥也。</p>

<h3>附：諸方</h3>
<p><u>龍齒補心湯</u>　治諸不足，血虛潮熱，心神驚怖，睡臥不寧，盜汗夢遺，小便赤濁，煩躁不安等證。</p>
<p>龍齒（煅，研，一錢，本劑化服）　人參（五分）　熟地黃（一錢五分）　川歸身（一錢）　桔梗（一錢）　酸棗仁（微炒，研細）　白茯苓（去皮，一錢）　白茯神（去木，一錢）　麥門冬（去心，一錢）　綿黃耆（蜜炒，一錢）　遠志（取肉，八分）　半夏曲（八分）　白朮（土炒，一錢）　甘草（炙，五分）　原有枳殼、桂心，似不切病情，今摘之。</p>
<p>上十四味作一劑，入粳米一撮，薑汁水煎，空心服。</p>
<p><u>清心蓮子飲</u>　治發熱煩躁，七情抑鬱，小便白濁，或有沙淋，夜夢走泄，遺瀝澀痛，或赤或白，酒色過度，上盛下虛，心火上炎，肺經受克，故口乾燥，漸成消渴，四體倦怠，男子五淋，婦人帶下，五心煩燥。此藥溫中清心，養神秘精。</p>
<p>黃芩（蜜炒，一錢，補膀胱寒及滋化源）　麥門冬（去心，一錢，補心氣不足，退勞傷客熱）　地骨皮（一錢，益精氣，瀉腎火，退肝腎虛熱，又去胞絡中火）　車前子（一錢，養肝肺，強陰，益精血，導小腸熱，久服耐老輕身）　甘草（五分，瀉火熱通九竅，利百脈，益精養氣，補脾胃）　白茯苓（一錢，補五勞及七傷，滲濕，利竅）　黃耆（蜜炒，一錢，治虛勞自汗，補肺氣，瀉肺火，心火，治丈夫虛損，五勞，瘦弱，瀉陰火，除虛熱，補脾氣）　人參（五分，補五勞七傷，虛損瘦弱，瀉心肺脾胃中火邪，安精神，定魂魄，止驚悸，保中守神又御精）　石蓮肉（去心，一錢，安心，澀精，交心腎安靖上下君相火邪）</p>
<p>上九味作一劑，水煎，食前服，有熱加柴胡、薄荷。</p>
<p><u>芡實丸</u>　治思慮傷心，疲勞傷腎，心腎不交，精元不固，面無顏色，驚悸健忘，夜夢不寧，小便赤澀，遺精白濁，足胵痠痛，耳聾目昏，口乾腳弱。</p>
<p>芡實（取生肉，二兩，益腎，固精，補脾）　蓮鬚（一兩，清心，通腎固精）　茯神（去木，一兩，止驚悸，又開心益志，安魂魄，寧亂神，秘精髓，虛而小便不利者，加而用之）　山茱萸（取肉，二兩，補腎氣，添精髓，止小便不禁，養精氣，取其味酸澀以收秘滑也）　龍骨（煅，研，五錢，治心腹鬼忤鬼疰，養精神，逐邪氣，安心神，止夜夢鬼交，虛而多夢，益腎鎮驚）　五味子（黑者，一兩，治腎虛遺精）　韭子（五錢，益腎壯陽，止泄精，止虛勞，夢泄）　肉蓯蓉（一兩，止精泄遺瀝）　熟地黃（二兩，填骨髓，生精血，補五臟滋腎水真陰）　紫石英（火煅，研，五錢，益肝鎮心）　牛膝（酒洗，去蘆，二兩，專治男子消陰，老人失溺，補中續絕，利陰氣，填骨髓，助十二經脈）　枸杞子（一兩，補虛勞益精氣，滋腎潤肺）</p>
<p>上末，酒煮山藥糊丸，梧子大，每七十丸，淡鹽湯下。</p>
<p><u>心腎丸</u>　治水火不既濟，心下怔忡，夜多盜汗，便赤夢遺。</p>
<p>牛膝（去蘆，酒洗，二兩）　熟地黃（二兩，忌鐵）　肉蓯蓉（一兩）　菟絲子（酒蒸，二兩）　鹿茸（去毛，臥炙，二兩）　人參（一兩）　黃耆（蜜炙，一兩）　五味子（一兩）　茯神（去木，二兩）　山藥（焙，二兩）　當歸身（二兩）　龍骨（煅，五錢）　遠志（去心，一兩）</p>
<p>上為末，另以山藥末糊為丸，梧子大，每七十丸，空心淡鹽湯下。</p>

<h3>附：捷方</h3>
<p>男子夜夢鬼交，精泄。巴戟天煎丸並良。</p>
<p>心虛夢泄，或白濁。白茯苓末每服二錢。</p>
<p>虛滑遺精。白茯苓二兩，宿砂五錢，為末。入鹽二錢，精羊肉批開，摻藥炙食，以酒送下。</p>
<p>漏精白濁，小便數多。白茯苓、山藥礬水煮過，等分為末，每飲服二錢。</p>
<p>心虛遺精。豬心一個批開相連，以飛過硃砂末摻入，線縛煮熟食之。</p>
<p>夢遺、減食。白色苦參三兩，白朮五兩，牡蠣四兩，為末，用雄豬肚一具洗淨，砂罐煮爛，石臼搗和藥，干則入汁，丸小豆大，每四十丸，米湯下，日三服，久服身肥，食進而夢遺立止。</p>
<p>腎虛遺精。北五味子一斤，洗淨水浸，挼去核，再以水洗，核取盡，餘味通置砂鍋中，布濾過，入好冬蜜六斤，炭火慢熬成膏，瓶收五日，出火毒，每空心服一二匙。</p>
<p>固精強骨，金毛狗脊、白茯神、遠志、蓮肉、當歸，等分為末，蜜丸梧子大，每五十丸酒下。</p>
<p>遺精品類。有心虛、腎虛、脫精、濕熱。</p>
<p><u>心虛</u>　清河參（補五臟，安精神，定魂魄，又止驚悸，斷淫夢，保中守神）　遠志（利九竅，益智慧，隱耳目，聰明定志，益精氣，安魂魄，又益精補陰氣，止虛夢遺）　菟絲子（添精，益髓，補五勞七傷，鬼交泄精，肝臟風虛）　蓮鬚（補心，通腎，固精）　蓮子心（主遺精，或入硃砂末服）　硃砂（主心虛，遺精，或入豬心煮食）　紫石英（補不足，定驚悸，安魂，填下焦，止消渴，養肺氣，手少陰、足厥陰血分藥也。上能鎮心重可以去怯也。下能益肝，濕可以去枯也。生心血養肝臟血也。其性緩而能補，故心神不安，肝血不足，宜之）　石蓮肉（補五臟不足，傷中。益十二經脈血氣，定心澀精，多食令人生喜，交心腎，厚腸胃，固精氣，強筋骨，補虛損，利耳目。除男子白濁，女人帶下，崩中，諸血病，安靖下上君相火邪）　茯神（心神驚掣，虛而善忘，風眩心虛，茯神治心病，然茯苓亦未嘗不治心病也。赤入血分，白入氣分之不同）</p>
<p><u>腎虛</u>　巴戟天（夜夢鬼交，精泄）　肉蓯蓉（五勞七傷，補中氣，益精髓，悅顏色，延年大補，男子泄精血，遺澀，女子帶下陰痛）　山藥（益腎氣，止泄精，為末，酒服亦可）　補骨脂（主骨髓傷，敗冷精流，或同青鹽末服）　五味子（腎虛，遺精，或熬膏常服）　覆盆子（安和五臟，補虛勞，腎精虛竭，益腎臟，縮小便）　狗脊（固精強骨，益男子，或同遠志，茯神，當歸丸服）　韭子（宜腎壯陽，止泄精，為末，酒服，止虛勞夢泄，或醋煮丸）</p>
<p><u>濕熱</u>　半夏（腎伏濕熱，不能管攝精血，妄遺與下虛不同，宜此，或用豬苓炒過同牡蠣丸服）　蘇子（夢中失精，炒研末服）　澤瀉（滲濕通淋，補陰不足）　黃柏（積熱，心怔夢遺，入片腦丸服）　牡蠣（夢遣，便溏，為末，或入劑，或醋糊丸服）　蛤蜊粉、爛蜆殼、田螺殼、真珠，並主遺精。</p>
<p><u>脫精</u>　芡實（益腎固精，或同茯苓秋石丸服）　金櫻子（固精，熬膏，或入劑，或為糊丸服）　益智仁（治夢泄，或同烏藥，山藥丸服）　山茱萸（益精，安五臟，通九竅，止小便多，補腎氣，添精髓，止老人尿多，固秘精氣，取其味酸以收滑）　龍骨（多寐，泄精，小便泄精，同遠志丸服，亦同蘇子末服）　龍齒（安魂定魄，澀精鎮驚）　桑螵蛸（男子虛損，晝寐泄精，或同龍骨末服）　鹿茸（男子腰腎虛，夜夢鬼交，精溢自泄，或末之酒服，方寸匕或煎酒服）　鹿角（水磨服，或入藥，止脫精夢遺。丸服，主婦人夢鬼交，精自出）　鱉甲（治陰虛夢遺，或燒末酒服）　白膠（虛遺，酒服之）　阿膠（腎虛，失遺，酒服）　狗頭骨灰（夢遺，酒服）</p>

<h3>附：宜食</h3>
<p>雞膍胵　黃雌雞　烏骨雞　豬腎　豬心　獐肉　胡桃　櫻桃</p>

<h3>附：拙見治驗</h3>
<p>一書生夢遺精滑，世人多作腎虛不效。余將清心蓮子飲，加知柏、龍骨、牡蠣、萆薢，或再加菟絲而愈。</p>
<p>一童子夢遺不止，余以二陳加減，除胃中濕痰，後以清心蓮子飲，數服而愈。</p>
<p>一男子遺精白濁，口乾作渴，大便中澀，午後熱甚，用補中益氣加芍藥、玄參，加減六味丸而愈。</p>

<h2>火病脅痛</h2>
<p>夫左脅者，肝之部位也。竊見患痰火者，往往多左脅痛，此蓋由性燥暴而多怒，怒傷肝，故作患也。丹溪云：左脅痛，肝火盛，有氣實，有死血。右脅痛者，有痰流注，蓋右脅者，乃肺之部位也。肝急氣實，須用蒼朮、川芎、青皮、當歸之類。痛甚者，肺火盛，以當歸龍薈丸，薑湯下，是瀉火之要藥。死血用桃仁、紅花、川芎，加之以辛涼之劑以治之。余治吾儒病痰火者，多見此症，由作文寫字，多以左脅伏桌，倦後盡力倚靠，暫不見傷，久則脅痛，乃胸前死血作梗也，於主方中加紅花一錢，其效如神。再於熟藥內，摻入童便、韭汁各少許，搗勻溫服更效。右脅痛微者，即是痰流注，並食積，每用鹽煎散、順氣丸，辛溫之劑以治之也。又嘗論左脅痛，胃脘疼，婦人多有之，蓋以憂思忿怒之氣，不得條達，故作痛也。治婦人諸疾，必以行氣開鬱為主，兼以破結散火，庶得機矣。語云：香附、縮砂，女人之至寶，山藥、蓯蓉，男子之佳珍，此之謂也。</p>

<h3>左脅痛主方</h3>
<p>當歸　龍膽草　大梔子（童便炒）　黃連（炒）　黃芩（各一兩）　大黃（九蒸）　蘆薈（各半兩）　木香（一錢五分）　黃柏（二兩）　麝香（五分）</p>
<p>上為末，麵糊為丸。一方性暴者，加柴胡、川芎、青黛，蜜丸。</p>

<h3>附：諸方</h3>
<p><u>一香散</u>　治右脅痛神效。</p>
<p>小茴香（一兩，炒）　枳殼（五錢，麵炒）</p>
<p>為末，以鹽酒調服二錢。</p>
<p><u>加味二陳湯</u>　治咳嗽脅痛。</p>
<p>陳皮（去白）　半夏（姜泡）　茯苓（去皮）　南星（牛膽制者佳）　香附（去毛，童便炒）　青皮（去白）　青黛　薑汁（各等分）</p>
<p>各等分煎服。</p>
<p><u>抑青丸</u>　治右脅痛神效。</p>
<p>黃連半斤，為末，蒸餅糊為丸服。</p>
<p>大端痰火之症，多患左脅痛，痛甚至臥不可轉側者，乃肝經無葉，其葉已焦，多死不救。</p>

<h3>附：拙見治驗</h3>
<p>一人右脅痛盛，余診其脈，六部帶滑，此痰流注作痛也。遂用</p>
<p>陳皮（一錢）　半夏（制，七分）　香附（童便炒，五分）　大腹皮（洗，五分）　蒼朮（浸，五分）　厚朴（姜炒，五分）　枳殼（三分半）　片子薑黃（四分）　神麯（炒，五分）　麥芽（炒，五分）　服數劑而愈。</p>

<h2>驚悸怔忡健忘</h2>
<p>驚者，心卒動而不寧也。悸者，心跳動而怕驚也。怔忡者，心中躁動不安，惕惕然如人將捕是也。多因富貴而慼慼，貧窮而不遂所願，而成健忘者，陡然而忘其事，盡心竭力，思忖不來，為事有始無終，言談不知首尾，其三症病同而名異，其原皆由心血虛，蓋心無血養，如魚失水，惕然而跳躍也。時作時止者，以痰因火動，瘦人多是血虛，肥人多是痰飲，法宜先養心血，理其脾土，亦當幽閒安樂，制其憂慮，遠其七情六淫則自安矣。《素問》云：東方青色，入通於肝，其病發驚駭。又云：脾移熱於肝，則為驚衄。仲景云：食少飲多，水停不下，甚者則悸，微者短氣。又云：五飲停蓄，閉於中脘，最使人驚悸。又云：因有大事所驚而成者，名曰心驚膽寒。病在心膽經，其脈大動，其動也如豆，動搖無頭尾是也。丹溪云：病自驚而得者，則神出其舍，捨得液則成痰也，血氣入舍，則痰拒其神，不得歸焉。</p>
<p>黃帝問曰：胃足陽明之脈病，惡人與火，聞木音則惕然而驚，若聞鐘鼓而不為動，何也？岐伯曰：陽明者，胃脈也，胃者土也，故聞木音而驚，土畏木也。又曰：痰飲驚悸屬脾土。凡火病吐血盜汗後，多見此症，故並附之。</p>

<h3>驚悸怔忡主方·即補心湯</h3>
<p>當歸（一錢）　白朮（八分，壁土炒）　陳皮（五分，去白）　白芍（五分，炙）　生地（七分）　遠志（五分，去骨）　石菖蒲（六分）　麥冬（七分，去心）　酸棗仁（五分，略炒）　甘草（三分半）　黃柏（三分，童便炒）　知母（五分，童便炒）　茯神（五分，去木）</p>
<p>虛極者，加人參三分。又一方加柏子仁、北五味，水煎服。</p>
<p><u>硃砂安神丸</u></p>
<p>硃砂（三錢，水研末）　黃連（酒洗，六錢）　甘草（炙，二錢五分）　生地黃（一錢五分）　當歸（二錢）</p>
<p>上為細末，蒸餅為丸，如黍米大，每服三五十丸，臨臥津液下。</p>

<h3>附：名醫治驗</h3>
<p>林學院歷官海南地方，有一子甚聰敏，喜食海蛤，每食必設。至十八年，忽面色頓青，形體消瘦，夜多驚悸，皆謂癆瘵，百療不瘳。遂召杜診之，杜曰：非病。何以知之？蓋雖病削麵青，精神不減，問秀才平日好食甚物。曰：多食海南中味。杜曰：但多服生津液藥，病當自愈。如是經兩月，顏色漸紅潤，夜亦無驚。學士延杜問曰：願聞此病所以。杜曰：《素問》云：鹽發渴，乃勝血之證。今既去鹽，用生津液之藥，人且少壯，血液易生，而色漸紅潤，此病去乃安矣。眾醫以癆瘵，非其治也。</p>
<p>衛德新之妻，旅宿樓上，夜值盜劫人燒舍，驚墜床下，自後每聞有響，則驚倒不知，諸醫作心病治之，皆無效。戴人見而斷之曰：驚者，為陽從外入也。恐者，為陰從內出也。驚者，為自不知也。恐者，為自知也。足少陽膽經屬肝木，膽者敢也。驚怕則傷膽矣。乃命侍女執其兩手，按於高椅上坐，當面前下置一小几，戴人云：娘子當視此一木，猛擊之，其婦人大驚。戴曰：我以木擊幾，何必驚乎？伺少停，擊之驚少緩，又須臾，連擊三五次，又杖擊門，又遣人擊背後之窗，徐徐驚定。衛嘆曰：是何治法？戴人曰：驚者平之，平者常也，常見必無驚。是夜使人擊其門窗，自昏暮達曙，熟臥不聞矣。驚者，神上越也。從下擊幾，使之下視，所以收神也。十二日後，雖聞雷亦不驚。</p>

<h1>卷二</h1>

<h2>火病結核</h2>
<p>夫結核者，相火之所為，痰火之徵兆也。凡人病此不知預治，鮮有不致危者，何也？蓋以腎水先虧，相火隨熾，熏迫津液，凝聚於皮膚之下，肌肉之上，似癧非癧，不紅不腫，不甚痛苦，久而乃潰，人多怠忽，其為證也。初或寒熱似瘧，形容漸悴，久則肌肉漸消，咳嗽因而失血，潮汗遺滑等證，蜂集見焉。治之之法，亦必益水清金，滋陰抑陽，兼以開結理氣之品，務使水升火降，津液流通，核消塊散，庶無後慮矣，倘因循失治，致於肌肉脫盡，形體尪羸，塊腐核爛，勢若壞都，可復御乎？慎之慎之。</p>
<p>聖謂結核之由，與瘡瘍癰毒之類大異，倘誤治之，為害非細，何則？經曰：諸痛癢瘍瘡，皆屬心火，以其心火迫血而成，此實證也。治法，未潰者，則宜涼血解毒，或以苦寒驅毒之藥攻下。已潰者，則宜排膿內托，膿散毒解則愈。若夫結核，由治不然，蓋始於真陰先竭，相火燔蒸熏迫，津液拂結凝聚，日積月累乃成，故久而不潰，此虛證也。初無痰火諸證，形體如故，而但見核者，惟在開結降火，消痰理氣，核消結散則已，猶火迫滷而為𨢑，得水浸潤復解之義。若初猶豫怠緩，致諸核遍潰，形體消瘦，則潮汗遺血，自是蜂起矣。此蓋陰虛之極，相火益炎，所以孤陽愈急，而微陰亦自難遂，故氣散血聚，以致諸核遍潰，或無完膚者有之，當此之際，治必本而標之，乃曰圓神。法以清金益水為君，益陽養陰為佐，開結降火為使，必使水升火降，津液流通，潰者斂而結者散，庶亢害承製，五臟氣平，是猶寒谷一枝，而噓陽和之一例也。倘以苦寒峻攻，或以瘡瘍例治，是猶渴飲鴆，寧不促其斃乎！大抵瘰癧痰核馬刀，皆少陽膽氣應逆，相火燔炙，治必開結疏利，令膽氣通暢，結自解矣。</p>

<h3>結核主方</h3>
<p>治相火迫聚，津液凝結成核，或繞頂夾耳，或循脅肋，不紅不腫，不作膿者，謂之痰核。此痰火之機，急宜消散，初無痰火之證，但見核者，宜此主之。</p>
<p>玄參（忌錢，一錢五分，滋陰降火，為消核之要品）　桔梗（一錢，為舟楫之藥）　連翹（帶子，一錢五分，開結降火）　射干（去根，一錢，消癭散結）　黃芩（酒炒，一錢，清金降火）　海藻　海帶　昆布（水洗，各一錢，並咸以軟堅）　蒲公英（一錢，散頸項結核）　白殭蠶（炒，一錢，去風消核）　紫背天葵（乾者，一錢，消癭散核之要藥）　夏枯草（乾者，一錢，消核散塊）　甘草（一錢，瀉火緩急）　薄荷（八分，清上消熱）　川貝（一錢，消核，清痰解毒）　天花粉（一錢，消核，清熱）　牡蠣（火煅，一錢，頸項核用茶引之，脅下核以厚朴引）　壯體實者，加酒炒大黃一分。</p>
<p>上十七味，皆消核之專品，作一劑，水煎，食後入薑汁、竹瀝同服。</p>
<p>若核在頸側脅肋少陽之分，加柴胡八分。在頭項太陽之分，加羌活五分。</p>

<h3>又結核主方</h3>
<p>治結核已潰，而有痰火諸證者，宜此主之。</p>
<p>玄參（忌鐵，一錢）　桔梗（一錢）　沙參（一錢）　連翹（帶子，一錢）　知母（蜜炒，一錢）　貝母（八分）　天門冬（去心皮，一錢）　麥門冬（去心，一錢）　陳皮（去白，一錢）　甘草（八分）　海藻　海帶　昆布（各洗，一錢）　白茯苓（去皮，一錢）　柴胡（八分）　黃耆（蜜炒，一錢）</p>
<p>上十六味作一劑，水煎食後服，仍看核結何分加引。</p>
<p>若氣虛脈微緩者，加人參五分。他證悉如前痰火主方例增減。</p>

<h3>附：諸捷方</h3>
<p>痰瘤結核，大者如拳，小者如慄，用南星研末，醋調作餅貼之，或以艾炷於上，日灸三五壯，惟使溫散，勿使過熱，傷皮後不便灸也，良驗。</p>
<p>消核散結，用大蒜同食茱萸搗塗。</p>
<p>枕後腦痹痰核，用浮石燒研，入輕粉，油調塗，或以百合同蓖麻仁研塗。</p>
<p>消痰核，用夏枯草煎膏貼之，數日立消。</p>
<p>治結核瘰瘍癭瘤神方，用海帶、海藻、昆布、海螵蛸、海石各一兩，紫背天葵曬乾二兩，夏枯草曬乾二兩，連翹帶子二兩，貝母一兩，桔梗一兩，天花粉一兩，皂角刺五錢，俱為細末，煉蜜為丸梧子大，每食後滾白湯下百丸。</p>

<h2>肺痿肺癰</h2>
<p>夫痿之與癰，固皆肺病，然溯所由，則有異矣。何也？痿則火鬱氣虛而肺燥，癰則火迫血熱而肺潰，二者較若蒼素，治寧得無異乎？蓋肺體清虛，本燥主乎氣，金氣清肅，則一呼一吸之間，臟腑經絡，四體百骸，無往不之，而其動靜之為，靡不藉以司用。今也火鬱邪壅，致金體燥烈，肺氣虛微，而敷運停息，亦自衰弱，不能充盈百脈，乃使筋骨痿軃，由是而痿病作焉。故經曰：肺傷善痿，然金體既傷葉亦焦枯，而其息亦不利，息既不利，則火邪無從而泄，郁遏蒸熏，致咯唾咳嗽，血滲妄行，必雲門中府隱痛，咳而喉腥，脈數而虛，以此為驗，乃曰肺痿。症與癆瘵彷彿，治當君以養氣，佐以清金，而兼攻痰之法，則善矣。至於肺癰，由則不然，或始於風寒襲肺，不即消散，致金氣壅遏，而復飲酒，若火添油，火迫血聚，灼而為癰。或素酗酒恣欲，致水虧火熾，金傷熱迫，血聚結而為癰。種種之因，又當晰辨，證必咳而煩滿，心胸甲錯，口啖生豆不腥，脈數而實，以此為諦，故曰：肺癰。始則咳血，漬久則腐化為膿。《脈訣》云：瘡浮酒灌穿，正此謂也。法當君以排膿涼血，佐以保肺清金。吳氏所謂肺癰，當涼其血，肺痿，當養其血，蓋亦得其旨矣。</p>

<h3>肺痿主方</h3>
<p>治肺痿久咳，咯吐膿血，寒熱自汗，脈來弦長緊實有力者。</p>
<p>知母（去毛，蜜炒，一錢，清金益肺，降火滋陰，久咳肺痿）　黃芩（蜜炒，一錢，主肺痿咳嗽，膿血喉腥）　麥門冬（一錢，清肺，治咳唾膿血）　天門冬（去心，一錢，保肺氣不被熱擾，定喘促而令氣清）　沙參（一錢，清熱，治久肺痿）　五味子（二十粒，益水斂肺，清金火嗽必用之藥）　阿膠（蛤粉炒，成珠，一錢，止肺痿唾血）　桔梗（一錢，清氣，利咽喉為肺部引經藥也）　甘草（五分，治肺痿膿血）　防己（一錢，治肺痿膿血）　茯苓（去皮，一錢，消痰）　淡竹茹（一團，清金止煩，消痰解熱）　王瓜子（炒，一錢，清肺熱，消膿血）　栝蔞仁（炒，一錢，潤化痰，止咳）</p>
<p>上十四味作一劑，水煎服，臨服入竹瀝、童便。</p>

<h3>又主方</h3>
<p>治陰虛久咳，肺痿膿血，骨蒸盜汗，夢遺等證，脈來芤而虛大，或濡緩有力者，宜此主之。</p>
<p>人參（高麗者，五分，消痰，治肺痿，久咳咯血）　天門冬（去心，一錢，治肺痿，咳涎不渴）　款冬花（八分，勞嗽痿）　麥門冬（去心，一錢，清肺止咳）　五味子（二十粒，清金益腎，斂肺）　栝蔞仁（炒，一錢，治風痰）　沙參（一錢，清熱，治痿）　蛤蚧（一錢，治勞嗽，肺痿膿血，傳屍骨蒸）　阿膠（炒，一錢，補肺氣，止咳嗽，消膿血）　知母（蜜炒，一錢）　貝母（消痰止咳，治肺痿，一錢）　黃明膠（炒，一錢，補肺氣，止咳嗽，消膿血）　黃芩（蜜炒，一錢，肺痿咳嗽熱）　甘草（五分，治肺痿，吐膿血）</p>
<p>上十四味作一劑，水煎食後服。</p>

<h3>肺癰主方</h3>
<p>治肺癰咳嗽，膿血咽乾，便淋，咳而煩滿，心胸甲錯，食生豆不腥者，宜此主之。</p>
<p>桔梗（二錢，排膿養血，補內漏）　葦莖（即荻梗，二錢，治肺癰，咳嗽煩滿，膿血臭穢）　薏苡仁（二錢，治癰膿血）　橘葉（五片，治肺癰，吐膿血）　柘黃（一錢，治肺癰）　夜合樹皮（一錢，治肺癰，吐濁水）　蛤蚧（炒，一錢，排膿血）　甘草（五分，痿癰，並宜冷）　麥門冬（二錢，清肺熱，止咳嗽，去心）　天門冬（二錢，去皮、心，止咳，清肺熱）　紫菀（茸，一錢，止喘悸，療咳，唾膿血）　升麻（五分，消熱腫，解熱毒，發散瘡痍）　貝母（一錢，止咳嗽，治肺癰，清膿血）　天花粉（一錢，止渴生津，清肺咳）</p>
<p>上十四味，皆治肺癰之專品，作一劑，水煎食後服。</p>
<p>若日久膿血吐多不愈者，屬血虛，加熟地、當歸、阿膠，久咳不愈，加五味子。</p>

<h3>附：諸方</h3>
<p><u>知母茯苓湯</u>　治肺痿咳嗽，氣喘不已，往來寒熱，自汗。</p>
<p>知母（去毛，蜜炒，一錢）　茯苓（去皮，一錢）　五味子（二十粒）　人參（五分）　柴胡（一錢）　甘草（五分）　薄荷（一錢）　阿膠（炒珠，一錢）　桔梗（一錢）　黃芩（蜜炒，一錢）　麥門冬（去心，一錢）　款冬花（八分）</p>
<p>原有白朮、半夏、川芎，今摘之。</p>
<p>上十二味，姜引，水煎服。</p>
<p><u>人參養肺湯</u>　治肺痿咳嗽，多痰有血，午後潮熱聲嘶。</p>
<p>人參（五分）　阿膠（炒，一錢）　貝母（一錢）　杏仁（去皮，八分）　桔梗（一錢）　茯苓（去皮，一錢）　桑白皮（蜜炒，一錢）　枳實（土炒，八分）　甘草（五分）　柴胡（一錢）　五味子（二十粒）</p>
<p>上十一味，作一劑，薑、棗引，水煎食後服。</p>
<p><u>人參平肺散</u>　治心火克肺，傳為肺痿，咳嗽喘嘔，痰涎壅盛，胸膈滿，咽嗌不利。</p>
<p>人參（五分）　青皮（一錢）　茯苓（一錢）　天門冬（去心、皮，一錢）　陳皮（去白，一錢）　地骨皮（一錢）　甘草（五分）　五味子（二十粒）　知母（去毛，蜜炒，一錢）　桑白皮（蜜炒，一錢）</p>
<p>上十味，姜引，水煎，食遠服。</p>
<p><u>桔梗湯</u>　治肺癰，咳嗽膿血，咽乾多渴，大便難，小便赤澀。</p>
<p>桔梗（一錢）　貝母（二錢）　薏苡仁（二錢）　桑白皮（蜜炒，一錢）　當歸（一錢）　枳殼（土炒，一錢）　栝蔞仁（炒，一錢）　防己（一錢）　黃耆（蜜炒，一錢）　甘草（五分）　杏仁（去皮、尖，八分）　百合（一錢）</p>
<p>上十二味，姜引，水煎，食後服。</p>

<h3>附：諸捷方</h3>
<p>肺痿吐血咳嗽。用雞蘇末之，米飲服。</p>
<p>肺痿咯血。防己、葶藶末之，糯米湯服。</p>
<p>久嗽肺痿，寒熱煩悶，多唾。甘草末童便調服。</p>
<p>骨蒸肺痿不能食。蘆根、麥門冬、地骨皮、茯苓、橘皮，姜煎服。</p>
<p>肺痿吐涎沫，頭眩，小便數而不咳，肺中冷也。甘草、乾薑煎服。</p>
<p>肺痿吐血。黃瓜子炒研服。</p>
<p>老少肺痿咳臭膿。竹瀝日服三五次。</p>
<p>肺痿氣急，寒熱面赤。甘草末，童便調服。</p>
<p>肺痿氣虛。人參末，雞子清調服，能消痰益肺。</p>
<p>肺痿咳涎不渴。天門冬搗汁，入⿰酉台酒、紫菀末丸服。</p>
<p>肺痿咳血。栝蔞仁、烏梅、杏仁末之，豬肺煮，蘸食之。</p>
<p>勞嗽肺痿。款冬花、百合末服之。</p>
<p>胸滿振寒，咽乾吐濁唾，久久吐膿血。桔梗、甘草末服，吐盡膿血愈。</p>
<p>肺痿咳嗽煩滿，心中甲錯。葦莖、杏仁、瓜瓣、薏苡煎服，吐膿血愈。</p>
<p>肺癰咳膿血。薏苡仁水煎，入酒醋煮服，當吐血出。</p>
<p>肺癰。用橘葉搗汁一盞服，吐出膿血愈。</p>
<p>肺癰，不問已成未成。以柘黃一兩，百草霜二錢，糊丸，米飲服十丸，甚捷。</p>
<p>肺癰唾濁膿。夜合皮水煎服。</p>

<h3>附：宜食諸物</h3>
<p>羊肺（久咳，肺痿，同杏仁、柿霜、豆粉、真酥、白蜜灸食。）　羊脂髓（肺痿骨蒸，同生地汁、生薑汁、白蜜煉服。）　豬肺（肺痿膿血，煮熟蘸薏苡末食。）　鯽魚（肺痿咳血，同羊肉、萊菔煮食。）　豬𦚠（和棗浸酒服。）　鹿血（酒服。）</p>

<h2>火病寒熱</h2>
<p>夫寒熱者，謂惡寒發熱，或倏寒而倏熱也。有外感內傷，火鬱虛勞，瘧疾瘡瘍，瘰癧諸證。若外感風寒者，以邪氣在表，法當散之。半表者，和解之。火鬱者，則發之。瘧病寒熱者，初則解之，久則截之。瘡瘍瘰癧寒熱者，以外科法治之。惟虛勞內傷，時寒時熱者，非陽虛則陰弱也。陽氣虛，則陰往從之，以陰乘陽分，故惡寒也。陰氣虛，則陽必乘之，以陽乘陰分，故發熱也。此陰陽自相戕賊為病，亦非邪之所為，雖有寒熱，無乃陰虛陽弱所發之標，惟治其本，則標自滅矣。若欲妄治，以溫勝寒，則陰火有妨，以寒攻熱，則脾胃愈弱。虛虛實實，咎將誰歸？</p>
<p>凡內傷寒熱，本屬虛象，難可主方，惟考切於寒熱之品贅之，以俟同志者採用焉。</p>
<p><u>和解之品</u></p>
<p>甘草（炙，主五臟六腑，寒熱邪氣。凡虛而寒熱者，倍之）　知母（蜜炒，腎勞憎寒，煩熱便溏，胃弱者忌之）　丹參（虛勞寒熱）　黃芩（蜜炒，寒熱往來，及骨蒸勞熱）　秦艽　當歸　白芍　川芎（並主虛勞寒熱）　龜甲（骨中寒熱，肌體寒熱欲死，作湯良）</p>
<p><u>補中清熱之品</u></p>
<p>黃耆（蜜炒，虛勞寒熱）　沙參　白朮（土炒，並主寒熱，益氣和中）　桔梗（除寒熱，利肺氣）　麥門冬（去心）　天門冬（去心、皮）　山藥（並治肺虛寒熱）　茯苓（去皮）　酸棗仁（微炒，研）　山茱萸（並治心虛寒熱）</p>

<h2>痰火潮熱</h2>
<p>夫潮熱無時為外感，潮熱有時為內傷。蓋內傷發熱，是陽氣自傷，不能升達，降下陰分而為內熱，乃陽虛也，故其脈大而無力，屬脾肺二經病。陰虛發熱，是陰血自傷，不能制火，以致陽氣升騰，乃陽旺也，故其脈數而無力，屬心腎二經病。總之不過七情色欲，飲食所傷，而陰虛火動故也。治宜養血健脾，以治其本，降火清心，以治其標。若妄用銀柴胡、胡黃連之類，以消其肌肉，而死者必矣。誠可哀哉！</p>
<p>愚謂痰火之熱，作於子午，而不爽其期者。蓋火病至於發熱，則相火四起，天君失令，必有夢遺盜汗骨蒸等症。其心火一動，則移熱於小腸，小腸乃丙火之腑，丙火旺在午，小腸系絡於腎，腎虛則便濁，乃小腸火動，故宜午後作熱也。至子而退者，蓋丙火絕在子，心經之火，至此時而退，令患痰火者，多在二十以內，少年之士，血氣雖虧，而日間飲食，尤易生津液，津液乃注於膀胱者也，膀胱號為水曹，壬水又旺在子，水旺則火自滅，而熱宜至此時而退矣。明醫於此，瀉小腸之火，清心經之熱，補腎之水，兼生膀胱津液，加以患者善於保養，即重病可痊。苟醫家不諳生旺經絡，妄投退熱之劑，患者不愛性命，如前消耗真精，即以日間飲食所生津液，猶以杯水而救車薪之火也。熱將日盛，病將日增，即再世岐黃，亦難救矣，是可哀也。</p>

<h3>潮熱主方</h3>
<p>治陰虛症發於子午後，其脈浮細而數。</p>
<p>大當歸（取身潤者，五分，酒洗，養血滋陰，補腎除熱）　大川芎（取重白者，五分，養新生血，療勞損，調陰虛潮熱）　熟地黃（取懷慶者，六分，治陰虛潮熱，相火熾強）　杭白芍（紙包，煨過，七分，補勞退熱，除煩安脾，調榮衛，生新血，瀉肝火）　鮮知母（去毛，童便炒，七分，止嗽而骨蒸退，清金降火有功）　厚黃柏（去皮，童便炒，七分，瀉腎火，又滋陰降火，清熱有功）　地骨皮（去骨，水洗，七分，地為陰，骨為里，皮為表，清血分之火，退陰分之熱，又治有汗骨蒸，又止渴）　牡丹皮（取香白者，去骨，七分，瀉陰中火，療無汗骨蒸，神心腎，治神志不足，療瘀而在腸胃不散）</p>
<p>上八味一劑，燈心為引，半空心服。</p>
<p>如內傷色欲，陰虛發熱，便硬能食者，去地皮、丹皮，加前胡、貝母、杏仁。</p>
<p>如房勞、思慮、傷腎、陰虛，口中有味，夜熱晝輕，去地皮、丹皮，加黃芩、童便、龜板。</p>

<h3>附：諸方</h3>
<p><u>清陽降火湯</u>　治男婦咳血，子午二潮，脈沉數。</p>
<p>山梔仁（八分，童便炒）　知母（一錢，乳蒸）　黃柏（八分，鹽水蒸）　青皮（去穰，八分）　橘紅（五分）　丹參（九分）　麥門冬（去心，四分）　沙參（一錢，童便炒）　茜根（九分）　姜（一片）　茅根（一撮）</p>
<p>水煎，空心服。</p>
<p><u>滋陰降火湯</u>　治男婦痰中帶血，五心潮熱，午後陰虛火動，脈浮而數。</p>
<p>知母（乳蒸，一錢）　黃柏（童便蒸，九分）　甘草（三分）　黃芩（酒蒸，四分）　麥門冬（去心，四分）　龍膽草（童便蒸，四分）　白馬骨頭（用酥油三分，炙至一錢）　黑玄參（四分）　丹參（一錢）　姜（一片）　茅根（一撮）</p>
<p>水煎對童便，空心服。</p>
<p><u>朱雀丹</u>　治男婦腰背痛，午後發熱，自汗，脈洪浮。</p>
<p>沙參（童便浸，曬乾）　梔子仁（童便蒸）　知母（乳蒸）　天門冬（去心）　黃柏（童便蒸）　何首烏（乳蒸，以上各一錢）　甘草（三分）　姜（一片）</p>
<p>上水煎，空心服。</p>
<p><u>逍遙散</u>　治婦人血虛煩熱，月水不調，痰嗽潮熱有汗俱宜。</p>
<p>當歸（酒洗）　白芍（酒洗）　白朮（土炒）　白茯苓（以上各一錢）　柴胡（七分）　甘草（炙，五分）</p>
<p>上六味，用煨姜一片，薄荷少許，同煎服。</p>
<p>若潮熱兼咳者，加桑皮、知母、貝母、桔梗、麥門冬。</p>
<p>若潮熱兼咳血者，加生地、炒梔子、牡丹皮。</p>
<p>若潮熱兼嘔吐者，加陳皮、半夏。若潮熱兼嘈雜，加姜炒黃連。</p>
<p><u>茯苓補心湯</u>　治婦人虛勞，咳嗽無汗。</p>
<p>當歸（酒洗，七分）　川芎（七分）　白芍（火煨，七分）　熟地黃（忌鐵，七分）　陳皮（去白，七分）　白苓　枳殼（七分）　桔梗（七分）　全胡（七分）　乾葛（七分）　人參（五分）　半夏（滾水泡過）　紫蘇（七分）　木香（五分）　甘草（三分）</p>
<p>上十五味，薑、棗煎服。</p>

<h3>附：捷方</h3>
<p>虛勞客熱，枸杞根為末，白湯調服，有痼疾者勿服。</p>
<p>虛勞發熱，柴胡、人參各三錢，薑、棗同水煎服。</p>
<p>陰虛發熱，麥門冬、竹茹、燈心，時常煎服。</p>
<p>子午潮熱，黃柏、知母、地骨皮、麥門冬、燈心、竹茹、木通、北五味，等分制過，煎服。</p>

<h3>附：拙見治驗</h3>
<p>一人痰火作熱，煩躁不安，此氣隨火升也。余用滋陰降火湯，加酸棗仁炒山梔、黃連、竹茹、童便，同煎數服而愈。</p>

<h2>痰火骨蒸</h2>
<p>夫骨蒸者，病人自覺骨髓中蒸熱，捫之皮膚肌肉則無熱也。以其火伏於水，燔爍真陰，煎熬骨髓，是以有此酷證焉。然病固火之所為，而其治亦不可直折，惟滋陰抑陽，以水勝火，如四物、知、柏、玄參、地骨、丹皮之屬，從治可也。若以苦寒正治，以傷其脾，則肌肉日消，黃泉之境路豈賒乎，哀哉！</p>
<p>聖謂火病骨蒸，真陰虧之極矣。以水伏火中，熱侵骨髓，是根本傷而干及枝葉矣。何長茂而不槁乎？夫水之與火，相背而不相得者也。以水沃其火則滅，火爍其水則枯，然以火置水中反熾者，非龍雷之火乎？所謂龍雷者，謂其不可水伏，不可直折，如龍潛大海，火光竟起，得水益燔，雷震虛空，煙焰並熾，以陰愈顯。法惟參、耆、知、柏、玄參等味之苦甘溫從治，庶幾可遏，以溫能除大熱之義也。若以芩、連之苦寒正治，則陰火愈熾而脾土益虧，所謂穀神既去，何藉以生？噫！病至此而不遇良工，若牽牛已至屠肆，將自就死地，其得生者幾希，人可不知哉。</p>

<h3>骨蒸主方</h3>
<p>治骨蒸勞熱，虛羸瘦悴，自汗盜汗，咳嗽諸血等證，脈來浮而芤濡虛大，弱細無力者，宜此主之。</p>
<p>人參（高麗者，一錢，補陽生陰）　黃耆（蜜炒，一錢，瀉陰火，溫能除大熱之味）　甘草（炙，五分，主骨蒸勞熱自汗）　知母（去毛，蜜炒，一錢，忌鐵，主骨蒸盜汗）　秦艽（去蘆，一錢，主傳屍骨蒸）　玄參（忌鐵，治傳屍邪氣，骨蒸）　地骨皮（一錢，治骨蒸煩熱）　酸棗仁（鹽炒，一錢，治骨蒸勞熱）　鱉甲（醋炒，一錢，治瘦骨間勞熱，實補氣補陰）　烏梅（三個，治虛勞骨蒸）　牡丹皮（去骨，一錢）</p>
<p>上十二味，前證之專品，證若參差，又復如證增損，不可拘泥，作一劑，水煎熟時，入童便一盅和服。</p>
<p>若自汗多者，入浮小麥一撮。</p>
<p>若素有傳屍者，入青蒿煎同服。若脈證不受補者，減參、耆，加歸芍、生地、二冬，咳嗽加貝母、栝蔞、北五味。</p>
<p>若骨蒸熱甚而渴者，加火煨石膏一錢。</p>
<p>牡丹皮，手厥陰、足少陰經藥，故治無汗之骨蒸。地骨皮，足少陰手少陽藥，故治有汗之骨蒸。</p>

<h3>附：諸方</h3>
<p><u>經驗五蒸飲</u>　治骨蒸熱神效。</p>
<p>茯苓（潔白者，去皮，八分）　葛根（五分）　竹葉（五分，水洗）　人參（清河者佳，五分，童便浸過）　生黃（砂仁拌蒸，一錢）　知母（童便炒，八分）　黃芩（酒炒，一錢）　石膏（火煨，七分）</p>
<p>用粳米二合，以水三盅，煎小麥二合，至二盅，去麥以麥湯藥至一盅溫服，隨證加減於後，忌海藻、松菜、蕪荑、米醋。</p>
<p>如實熱，加黃芩、黃連、黃柏、大黃之類。</p>
<p>如虛熱氣虛，加烏梅、秦艽、柴胡。</p>
<p>如血虛，加青蒿、鱉甲、蛤蚧、小麥、牡丹皮。</p>
<p>如髓蒸，（髓枯骨中熱。）加生地黃、當歸、天門冬</p>
<p>如骨蒸，（齒黑，手足逆冷，疳食五臟。）加鱉甲、地骨皮、生地黃、當歸、牡丹皮。</p>
<p>如臀蒸，（肢細趺踵，腑臟皆熱。）加石膏、黃柏。</p>
<p>如胞蒸，（小便赤黃。）加澤瀉、茯苓、生地黃、沉香、滑石。</p>
<p>凡此諸證，皆熱病後食肥甘油膩，房事飲酒，犯之而成，久蒸成疳，死期迫矣。</p>
<p><u>滋陰至寶湯</u>　治婦人骨蒸潮熱，或喘嗽盜汗，或泄瀉腹痛，體疼，或煩渴肢瘦。</p>
<p>當歸（酒洗，八分）　白朮（土炒，八分）　白芍（火煨，八分）　白苓（乳蒸，八分）　陳皮（八分）　知母（蜜水炒，八分）　貝母（去心，七分）　香附（童便炒，七分）　地骨皮（去骨，八分）　薄荷（五分）　麥門冬（去心，八分）　柴胡（酒炒，五分）　甘草（三分）</p>
<p>煨姜三片同煎。</p>

<h3>附：捷方</h3>
<p>急勞發熱，身體痠痛。用秦艽、柴胡各一兩，甘草五錢，為末，每五錢，白湯下。</p>
<p>虛損骨蒸。用天靈蓋如梳大、炙黃，以水五升，煮取二升，分三服，起死回生也。</p>
<p>骨蒸咳嗽，多睡勞乏，嘔逆痰壅，以苦耽即燈籠草搗煮服之。</p>
<p>骨蒸煩熱。及一切虛勞煩熱。並用地仙散，地骨皮二兩，防風一兩，甘草半兩，每用五錢，生薑五片，水煎服。</p>
<p>虛勞苦渴，骨節煩熱，或寒熱。用枸杞根白皮切五升，麥門冬一升水二斗，小麥二升，熬至麥熟去渣，每服一升，口渴即飲。骨蒸發熱，雄黃末一兩，入童便一升，研如乳，乃取黃理石一板方圓一尺者，炭火燒至三食頃，濃淋汁石上，置薄氈於上，患者脫衣坐之，衣被圍住，勿令泄氣，三五度瘥。</p>
<p>骨蒸勞病，外寒內熱，附骨而蒸也。其根在五腑六臟之中，必因患後得之，飲食無味，或皮燥無光，蒸盛之時，四肢漸細，足趺腫起。石膏十斤，研如乳粉，每水服方寸匕，日再，以身涼為度。</p>
<p>小兒骨蒸，體瘦心煩。天靈蓋酥炙，黃連等分研末，每服半錢，米湯下。</p>

<h3>附：拙見治驗</h3>
<p>一太學之子，年十六歲，患骨蒸勞熱。召余診視，六脈微數，乃陰虛火動也。余用滋陰降火湯，加地骨皮、柴胡，水煎童便同服數劑，熱略退後，每劑加炒黑乾薑三分全愈。</p>

<h3>附：虛勞骨蒸宜食諸品</h3>
<p>鰻鱺魚（治傳屍疰氣，勞損骨蒸，勞瘦宜以酒煮食之。）　鱉肉（益氣補不足，若骨蒸潮熱，咳嗽，宜前胡、貝母等藥丸服。）　慈烏（補勞治損，止咳嗽，骨蒸，以五味子醃食之。）　啄木鳥（治骨蒸，取蟲研末，酒服之。）　烏鴉（治痰病咳嗽，骨蒸勞疾，煨研，酒服之，又治五勞七傷，吐血咳嗽，釀栝蔞根，煮酒日服。）　豬肚（治骨蒸熱，熱時宜服。）　豬脊髓（治骨蒸勞傷，或同豬膽、柴胡、童便煎服，）　豬肝（急勞瘦悴，寒熱，或同甘草丸服。）　豬腎（治勞瘵，或同童便煮食。）　豬膽（治骨蒸勞極。）　羊肉（骨蒸久冷，同山藥作粥食，傳屍，同皂角酒煮食，當蟲出。）　獺肝（傳屍伏連燎殜勞瘵，虛汗咳嗽，發熱，殺蟲，陰乾，末服之。）　人尿（滋陰降火，男女勞症，服二次。骨蒸發熱，以五升煎一升，入蜜二匙，每服一碗，日二服。）　人乳（補五臟，治瘦悴虛損勞瘵，或同麝香、木香服，或同胞衣服）</p>

<h2>火病失音</h2>
<p>夫失聲之證非一，有痰壅、邪郁、肺痿、毒風、寒熱、狐惑，舌強不語，腎虛喑痱，治法各從其類也。惟痰火聲嘶，則與諸證大異，何也？以水涸火炎，熏燥肺竅，金為火爍而損，由是而聲嘎聲嘶見焉。治法非苦寒降火，溫燥消痰可復，惟益水清金則善矣。</p>
<p>愚謂言者，心之聲，聲者，肺之韻。肺體清虛，以氣鼓之，迫之則鳴，猶鐘磬之懸架，其內空虛，擊之則鳴，內有汙濁壅窒，擊之則聲啞而不明也。若自邪郁痰壅，肺痿狐惑等因，則其聲啞嘎，惟去其痰邪等病，即猶去鐘磬之泥土濁垢，擊之自鳴，復何啞乎？若夫水虧火炎，金傷聲碎者，則猶鐘磬擊損，欲其如故，須復鑄之，所以痰火聲嘶，其得全愈者鮮矣。即施益水清金之法，尤恐不迨，若更以苦寒妄治，虛虛之禍，豈不旋踵而至哉！</p>

<h3>利聲諸品</h3>
<p>桔梗（除肺熱，利咽喉。）　沙參（補肺氣，瀉肺熱，益肺腎。）　麥門冬（清金益腎，利咽喉，復聲音。）　知母（滋水清金。）　木通（清心，通竅，利聲音。）　人參（除肺熱，利聲音。）　石菖蒲（通心竅，發聲音。）　訶黎勒（治久咳失音，又同木通服，尤驗。）　人乳　竹瀝　薑汁　童便（四味相合，頓溫服，並治久咳失音。）　柿（潤喉聲。）　槐花（炒，嚼，去風熱失音者。）</p>

<h3>附：諸方</h3>
<p><u>清音散</u>　治失音聲啞。</p>
<p>訶子（三錢，半生半熟）　木通（三錢，半生半泡熟）　桔梗（三錢，半生半熟）　甘草（三錢，半生半熟）</p>
<p>用生地黃搗爛，入藥服，熟藥內加童便三五匙更效。</p>
<p><u>鐵笛丸</u>　治失音或不清。</p>
<p>當歸（一兩，酒洗）　生地黃（一兩，砂仁拌蒸）　天門冬（五錢，鹽炒）　黃柏（一兩，炙）　麥門冬（一兩，去心，鹽炒）　知母（五錢，去毛，蜜水炒）　白茯苓（去皮，一兩）　訶子（五錢）　阿膠（五錢，麵炒）　烏梅（十五個）　牛乳（一碗）　梨汁（一碗）　人參（三錢，清河者佳，用童便浸，去參毒）</p>
<p>共為末，煉蜜丸如黃豆大，每服八丸，訶子湯下或蘿白湯下。</p>

<h3>附：名醫治驗</h3>
<p>內侍曹都使，新造一宅，遷入半月，飲酒大醉，臥地失音，不能語。召孫至，診之曰：因新宅故得此病耳，半月當愈。但服補心山藥丸，治濕用細辛、川芎，月餘全安。曹見上，問誰醫。曰：孫兆郎中。乃召孫問曰：曹何病也？對曰：凡新宅壁土皆濕，地亦陰多，人乍來，陰氣未散，心氣素虛，醉後毛竅皆開，陰濕之氣，入而乘心，故不能語。臣以山藥丸使心氣壯盛後，以川芎、細辛去濕，所以能語也。</p>
<p>一人患火病聲啞，醫皆云不治之症。余診右部脈洪而有力，自得咽未痛，詢前所服，皆寒涼劑也。遂以天冬、麥冬、沙參、陳皮、貝母、玄參、天花粉、薄荷、桔梗、甘草、細辛（少許）、海粉、竹茹，數十劑而愈，聲如故。間以蜜拌九曬陳槐花，令每睡時細嚼一片，隨津液嚥下甚妙。</p>

<h2>火病咽痛</h2>
<p>（並附：口舌生瘡）</p>
<p>夫咽之所以咽物，喉之所以候氣，雖居上焦陽分，然有太陰少陰之脈絡焉。人之一身，水升火降，無壅無滯，則咽自利，而喉自潤也。若夫土衰水涸，則相火蒸炎，致津液枯竭，由是而咽喉乾燥疼痛等證作矣。火病至此，實真陰失守，孤陽無根，沖浮於上，而乃至此。痰火諸證，孰酷此耶？所謂龍雷之火，不可水伏，惟滋陰抑陽，使水升火降，津液復回而後可止。若以苦寒正治，則陰火愈熾，而脾土自敗，猶渴飲鴆，立促其斃也。</p>
<p>聖謂咽喉諸症，有虛有實。若上焦風熱，君火令人咽喉腫痛，或喉痹乳蛾，分屬關隘，愴卒即能殺人，然皆失治所致。即至危際，外可施砭焠拔髮，咬指吐痰㗜鼻等捷法，以治其標。內服翹、射、山豆根、牛蒡子根、鼠黏子等味，以拔其本，至絕地挽回者亦多。若夫痰火咽痛，則必諸症悉具，甚乃有此，何也？以臟敗下及脈絡，是根枯而槁及枝葉矣。可復榮乎？此蓋陰火浮游，進退莫測，所以或痛或止，故非苦寒之可遏也。治亦不宜專攻，但以主劑中倍以益陰之品，少增暢利之味，庶幾得法。若以苦寒直折，則陰火愈炎，立見傾危也，慎之慎之。</p>

<h3>利咽良品</h3>
<p>甘草（蜜炙，緩火，去咽痛，若肺熱同桔梗煎啜）　知母（蜜炒，瀉肺火利咽痛）　玄參（去無根之火，滋腎水，利咽痛）　麥門冬（去心，治虛熱上攻咽痛）</p>
<p>以上五味，皆痰火咽痛兩利之品，其山豆根、牛蒡子根、惡實子、射干，皆苦寒專攻之劑，並所不宜，或以貝母、百合、訶子、槐花煎之噙咽，或貝母、硼砂末之吹咽，治標可也。</p>

<h3>附：諸方</h3>
<p><u>甘梗湯</u>　治喉痛，並聲音不出。</p>
<p>桔梗（二兩，去頭）　甘草（一兩，略煨）　荊芥（五錢，去梗取穗）　每服四錢，生薑三片引。</p>
<p><u>海上方</u>　治喉生瘡聲啞。</p>
<p>白硼砂（一錢）　孩兒茶（一錢）　蒲黃（六分）　青黛（一錢）　牙硝（六分）　枯礬（六分）　片腦（二釐）　黃連（五分）　滑石（一錢）　黃柏（五分）　寒水石（一錢）</p>
<p>共為末，以葦筒吹末入喉，立效。</p>
<p><u>大溫丸</u>　治口舌生瘡，服諸涼藥不效者。</p>
<p>大附子（童便煮一炷香）　人參（去蘆，三分）　桔梗（一錢，去頭）　生地黃（一錢）　蛤粉（五分）　玄參（七分）　升麻（四分）</p>
<p>上七味，共為細末，煉蜜為丸，金箔為衣，薄荷湯下，神效。</p>

<h3>附：捷方</h3>
<p>喉痹，語音不出，用李實根皮一片，噙口，更李根皮水搽項一周候。</p>
<p>喉痛，用倒滴刺根淨汁入些好酒，同研滴入喉中，痛立止。</p>
<p>又方　用豬牙皂為末，和霜梅噙之。</p>
<p>又方　用茜草根一兩，作一服，能降血中之火。</p>
<p>中氣咽閉，急用白殭蠶搗篩為末，生薑自然汁調，下喉立愈。（殭蠶屬火，而有土與木老得金氣而僵，治喉，取其火中清化之氣，以從治散結滯之痰。）</p>
<p>喉痹，取蠐螬蟲汁，點在喉中，下咽即開。</p>
<p>咽腫，用土牛膝搗自然汁，和醋服。（《本草》云：土牛膝主血結及血塊。）</p>
<p>急喉痹，其聲如劓，痰在喉響，此為肺絕之候。急煎獨參湯救之，服早者十全七八，次則十全四五，遲則十不全一也。</p>
<p>咽喉痛用諸藥不效者，此非咽痛，乃是鼻中生一條紅線如發，懸一黑泡，大如纓珠，垂掛到咽門而止，口中飲食不入。須用牛膝直根而獨條者，洗淨入好醋三五滴，咽入則絲斷珠破，其病立安。</p>
<p>喉風牙關緊閉，用焰硝（一錢五分）、硼砂（五分）、腦子（二釐半）、白殭蠶（二釐），共為末，以竹管吹五分，入喉立愈。</p>

<h3>附：名醫治驗</h3>
<p>押班都知潘元從，喉閉急。召孫至，於夾袋中取藥末吹喉中，少頃，潘吐出膿血，立愈。潘因贈金一百，願求方，以濟非常之急。孫以其授之，用豬牙皂、白礬、黃連等分，新瓦上焙乾為末，用一錢，因曰神方無價，安用以利易哉？遂不受所贈。文潞公一日喉腫，因三日愈甚，上召孫治之。孫曰：病得相公判筆一管治，用筆尖點藥入喉，孫遂藏針於筆尖，隨手便刺，相公昏僕，左右驚愕。孫曰：非我不能救相公之急，須臾吐出膿血升余，旬日平復，見上，喜曰：孫真良醫也。由是觀之，喉痹以惡血不散故也。凡治此疾暴者，必先發散，發散不愈，次取痰，取痰不愈，次去汙血也。</p>
<p>楊立之知廣州，一日喉痛潰爛，飲食不進，命吏召吉老診之。曰：不必服藥，但食生薑一片，方可救也。其子有難色，以喉痛安能復食辛辣？立之曰：吉老神醫，但食不妨。遂取一片食之，覺香味異常，漸食加至半斤余，喉腫頓消，飲食如故。召吉老而謝之，問病所以。吉老曰：相公平日多食鷓鴣肉，此物喜食半夏苗，蓋中其毒也。惟姜可解，故爾獲效之捷。</p>

<h2>火病泄瀉</h2>
<p>泄瀉之證有五，脾、胃、大腸、小腸、大瘕是也。然溯其源，大概脾病濕漬所致，約其治，無乃健脾滲濕為先。若夫痰火病，此則屬脾腎兩虛，何也？蓋腎衰不能攝，脾弱不能運，脾氣虛，則闌門之氣亦虛，是以不能泌別清濁，致水液渣滓，混入大腸。故或溏而或泄也。法當君以實土，臣以益水，佐以清金，使以兜澀。所謂實土，土者，白朮、白芍、山藥是也。所謂益水者，故紙、五味是也。所謂清金者，五味、二冬、沙參是也。所謂兜澀者，訶子、肉蔻、蓮肉、芡實是也。蓋腎氣實則自能攝，脾氣實則自能運，金氣清肅，自能施化矣。雖有外寒內熱，飲食積滯，但宜解散消導，不可妄攻。蓋攻邪則妨正，恐觸滑滑之熱，即未易遏。</p>
<p>愚謂泄瀉一症，為亡陰脫液之肇端，痰火病此，猶敗葉經霜，鮮不凋墜，何也？以陰虛故動火，而復以亡其陰，則清陽之氣益陷，相火之焰益炎，下而窘迫，上而咽痛，諸證蜂起矣。當此之際，欲實土則妨肺，欲清金則礙脾，醫者能不掣其肘乎？姑以敦土清金之品，末之為丸，徐徐緩服，此無伐天和之意，班固曰：有病不醫得中工，正此謂耳。</p>

<h3>泄瀉主方</h3>
<p>治痰火諸症悉具，倏而大便或溏或泄，此脾腎之氣兩虛，不能統攝運行，或由飲食內傷，風寒外襲，衝動其勢，宜以此方主之。</p>
<p>山藥（微炒，一錢）　人參（高麗者，五分）　黃耆（蜜炒，一錢）　白朮（土炒，一錢）　白茯苓（去皮，一錢）　陳皮（留白，八分）　熟地黃（一錢）　白芍（煨，一錢）　甘草（炙，五分）　五味子（二十粒）　貝母（一錢）　麥門冬（去心，一錢）</p>
<p>上十二味，生薑三片，大棗五枚，濃煎，趁熱徐徐緩服，不宜驟下。</p>
<p>若果傷穀食，但加炒麥芽少許，以消導之，然麥芽亦能軟便，不可過多。</p>
<p>若傷肉食，少加山楂。</p>
<p>若傷麵食，少加神麯。</p>
<p>若因風寒直犯太陰，腹痛泄瀉，本劑減地黃、麥門冬，加炒乾姜一二分熱服，外用炒鹽帛裹熨之，更宜少飲湯水。</p>
<p>凡痰火之證，最宜便實，一見便溏，即當警省，用藥亦須提防。如本劑有知母，味苦性寒，潤下沉降，便軟便溏者，宜去之。不得已而用者，亦須薑汁熟炒。當歸味雖甘溫，然亦潤下利便，用須減半。生熟地黃性寒滯泥，亦須薑汁蒸過。天門冬性味苦寒潤利，便溏者亦須去之。其梔、連、芩、柏，並屬苦寒，脾腎虛者，大所忌也。按：魏氏曰：凡泄瀉宜用丸藥，蓋土惡濕而喜燥，即用湯劑，亦須濃煎少服，蓋湯者蕩也。脾虛者所忌，以服下即行，不能久駐胃中故爾。</p>

<h3>附：諸方</h3>
<p><u>泄瀉丸</u>　治火病，便溏或瀉，或下迫窘痛，或脾泄腎泄，並可主之。</p>
<p>白朮（土炒，四兩）　橘紅（留白，二兩）　白芍（煨，二兩）　白茯苓（去皮，二兩）　蓮肉（去皮、心，二兩）　芡實（取生肉，二兩）　腹痛後重，加木香二錢。久瀉加肉蔻麵裹煨熟去油五錢，訶子麵煨取肉五錢。若每清晨溏瀉一二次，名腎瀉，加破故紙炒五錢。若食不消化，加麥芽炒取末五錢，無上諸症者不用。</p>
<p>上俱為細末，用淮山藥六兩，另末，以荷葉煮水為糊，丸如梧子大，每百丸或五七十丸，食遠或清晨，清米湯、滾白湯俱可下。</p>
<p><u>二神丸</u>　治清晨溏瀉一二次，名腎泄，或久泄脈沉無力。</p>
<p>破故紙（炒）　肉豆蔻（麵煨，去油，各一兩）　末之，棗肉丸如梧子大，每二三十丸，臨臥淡鹽湯下，或空心米飲下。</p>
<p><u>當歸厚朴湯</u>　治肝經受寒，面色青慘，臥而泄利。</p>
<p>當歸（酒洗，二兩）　厚朴（制過，二兩）　官桂（二兩）　良薑（三兩）</p>
<p>上每三錢，水煎，食前服。</p>
<p><u>家蓮散</u>　治泄瀉經久不止。</p>
<p>蓮肉（水泡，去皮、心，微火焙乾，四兩）　川厚朴（去皮，薑汁浸炒，一兩）　乾薑（炒黑色，一兩）</p>
<p>上三味為末，每服米飲調下二三匙，日三服。</p>
<p><u>養元散</u>　治久泄飲食少進。</p>
<p>糯米一升，水浸一宿，濾干，慢火炒令極熟，為細末，入淮山藥、芡實肉、蓮肉各三兩，胡椒末一錢，和勻，每日清晨用半盞，再入砂糖二匙，滾湯調服。</p>
<p><u>訶子散</u>　治久泄腹痛。</p>
<p>訶子（一兩，半生，半面裹煨）　木香（五錢）　甘草（二錢）　黃連（三錢）</p>
<p>上四味為末，每服二錢，以白朮、白芍湯調下，如泄止痛不已，加厚朴一兩，泄其邪氣也。</p>
<p><u>海上奇方</u>　治脾泄，即經年者無不愈。</p>
<p>用半大腳魚數枚，煮半熟，擇出淨肉，炭火上焙乾為末，如腳魚肉末二升，用黏糯米粉各半，共約一升，合勻，用不油白朮一兩，肉豆蔻麵裹煨熟一兩，為末，與米粉三升，二味各用三兩，同為末，醋糊為丸，每空心米湯下七十丸，神效。</p>

<h3>附：捷方</h3>
<p>五更溏泄　用五味子二兩，吳茱萸五錢，二味炒香為末，每陳米湯下三錢。</p>
<p>水泄　用神麯炒香六兩，茴香五錢，生薑三兩為末，米糊丸，每服五七十丸。</p>
<p>痰積泄瀉　用海石、青黛、黃芩薑汁炒、神麯乾炒為丸，每服三五十丸。</p>
<p>暴水泄不止　用肉豆蔻三個，麵裹煨熟，為細末，只作一服，食前陳米湯下。</p>
<p>脾胃中風溫滑瀉　用川芎、神麯、炒白朮、附子泡各等分。</p>
<p>上為末，曲糊丸，米湯下。</p>

<h3>附：名醫治驗</h3>
<p>一人之水穀不化，腹作雷鳴，自五月至六月不愈，諸醫以並聖散子豆蔻丸，雖止一二日，藥力盡復作，戴至而笑曰：經云：春傷於風，夏必飧泄，有水穀直過而不化。又云：水穀不化，熱氣在下，久風入中，中者，脾胃也。風屬甲乙，脾屬戊己，甲乙雖克戊，腸中有風，故鳴。經曰：歲木太過，風氣流行，脾土受邪，民病飧泄，診兩手脈皆浮數，為病在表也。可汗，直斷曰：風隨汗出。以火二盆，暗置床下，不令病人見，詒之入室，更服麻黃湧劑，乃閉其戶，從外鎖之，汗出如洗，待一時開戶減火，須臾而汗止，泄亦止，風非汗不出，故宜汗之而愈。若脾虛泄瀉，又不可以此類而論也。</p>

<h2>傳屍鬼疰</h2>
<p>夫病曰屍疰者，以其身為蟲所蛀，蟲蛀其屍，有蟊賊蝕物之害，是故名焉。然症與癆瘵彷彿，惟遞相傳染，累世不絕，有伏連殗殜等名，總曰傳屍病也。溯所自來，蓋有一種鬼疰屍氣，伏於人身，使人精氣血液日耗，漸致陽盛陰虧，煎熬熏爍，血液結摶，漸而變為怪異之蟲，日蝕月蛀，臟腑消潰，蝕盡氣絕則死，乾坤生意，已消磨盡矣。謂初世之蟲，形若人發馬尾，再世則小者若蛔，大者若蛇，至於九世，則類人類鬼，其狀不一，令人可驚，始於薰陶漸染，旋踵至極，一死即一病，甚至滅門絕戶者有之。自古惟葛氏之法最奇，但以世久湮其證論，獨存數方而已，觀所立諸方，皆主參耆者，蓋有真知實見，以正勝邪，猶良農治畦，滋之以糞，五穀濃盛，則䄺稗自滅矣。今觀者，不知作者之意，遂棄而勿用。何也？彼以參、耆為峻補，以蒿甲為峻攻，殊無定見，三思反惑，或以歸、地補陰，或以芩、連降火，陰藉陽生之法，昧而不求，懵然無悟，若此之劑，陰何以生？蟲何以殺？徒潰其腸腹而已，更何益耶？由此之際，醫與病家，鮮不袖觀鼠首，彷手傍徨，以俟天年者，良可悼哉！愚謂是症之法，但與癆瘵少異，必君以殺蟲，臣以養正，佐以益水清金，使以滋陰抑陽，則善矣。越於是法，豈其然乎。凡素有病此之家，則人人自當驚惕，毋酗酒，毋恣欲，毋偏七情，謹禁六淫，保護元氣，所謂本固則邦寧，邪何以入？其所以染者，皆不知持滿，以酒為漿，以妄為常，以欲喪其真，邪乘虛入，而後乃然。經曰：邪之所湊，其氣必虛，正此謂耳，要之病既著體，則當以死為念，兢兢業業，絕諸欲，薄厚味，諸法亦當早施，庶不貽禍。倘不守其戒，不珍其命，迨至傳遞諸臟，則真敗邪勝，即葛君之神，復何濟耶？</p>

<h3>傳屍疰病主方</h3>
<p>治傳屍骨蒸，伏連殗殜，一切癆瘵疰病。</p>
<p>人參（取高麗上者，五分）　黃耆（蜜炙，一錢，並主傳屍骨蒸，勞熱自汗）　玄參（忌鐵，一錢，主傳屍邪氣，常作香燒亦好）　苦耽（即燈龍草，生，二錢，主傳屍伏連鬼氣）　鬼臼（三錢，主屍疰殗殜傳屍癆瘵）　知母（忌鐵，蜜炒，一錢，主傳屍骨蒸）　秦艽（去蘆，一錢，主骨蒸，潮熱，虛勞寒熱）　胡黃連（五分，主骨蒸潮熱，五心煩熱，婦人胎蒸，小兒童勞潮熱）　烏梅（取肉，五個，治虛勞骨蒸）　地骨皮（一錢，主骨蒸煩熱，防風，甘草煎服）　酸棗仁（微炒，一錢，主骨蒸勞熱，心驚自汗，多眠不眠）　甘草（五分，補五勞七傷，一切虛損，通九竅，益精養血，生用瀉火熱，熱用散表寒）　青蒿（熬膏入藥用，主骨蒸鬼氣，或煎膏入豬膽，甘草末丸服）　天門冬（去心、皮，一錢，保肺氣，去寒熱，養肌膚，和肺氣，定喘促）　麥門冬（去心，一錢，主五勞七傷，安魂定魄，止咳定喘，去肺中伏火，補心氣不足，諸血妄行，虛勞多熱，口乾燥渴）　百部（去苗，一錢，主傳屍骨蒸，勞熱上氣，止咳）　紫菀（茸，一錢，主咳唾膿血，喘悸，五勞體虛，勞氣屍疰，虛熱，百邪鬼魅）　桔梗（去蘆，一錢，清肺，利咽喉）　浮小麥（一撮，主傳屍骨蒸，及勞熱自汗）　蛤蚧（炙，一錢，治肺勞，傳屍，咳嗽咯血）　鱉甲（酥炙，一錢，治冷痛，勞嗽，除骨節間勞熱，結實，補陰補氣）</p>
<p>上二十一味，皆上證之要品，作一劑，水煎，空心服，而其加減之法，亦從前之火病治例。</p>

<h3>附：諸方</h3>
<p><u>天靈蓋</u>　追取勞蟲，天靈二指大，以檀香煎湯洗過，酥炙，一氣咒七遍云：雷公神、電母聖、逢轉屍、便須足、急急如律令，尖檳榔五枚，阿魏二分，麝香三分，辰砂一分，安息香三分，甘遂三分為末，每服三錢，用童便四升，入銀石器內，用蔥白、薤白各二七莖，青蒿二握，桃枝、甘草各二莖，五寸長者，柳枝、桑枝、酸榴枝各二莖，七寸長，同煎至二升，分作二次，五更初調服前藥，一服蟲不下，約人行十里，又進一服，天明再進，取下蟲物，名狀不一，急鉗入油鐺煎之，其蟲嘴青赤黃色可治，黑白難治。然亦可斷傳染之患，凡修合先須齋戒於遠房淨室，勿令病人聞藥氣，及雞犬貓畜孝子婦人，一切觸穢之物見之。蟲下後，以白粥補之，數日之後，夢人哭泣相別，是其驗也。</p>
<p><u>又方</u>　治虛損骨蒸，天靈蓋如梳大炙黃，以水五升，煮取二兩，分三服，起死神方也。</p>
<p>張文仲備急方，用人腦骨炙三兩，麝香十兩，為末，搗干杵丸梧子大，每七丸米湯下，日再服，若骨前有青沫出者，以針刺看血色，未黑者，七日瘥。</p>
<p><u>又方</u>　治小兒骨蒸，體瘦心煩，天靈蓋酥炙，黃連，等分研末，每服半錢，米飲下，日二服。</p>
<p><u>神授丸</u>　治傳屍勞症，最殺癆蟲。用真川椒紅色者，去子及合口者，以黃草裹三重隔之，炒出汗，取放地上，以砂盆蓋定，以火灰密遮四旁，約一時許，為細末，去殼，以老酒浸白糕，和丸梧子大，每四十丸，食前鹽湯下，服至一斤，其疾自愈。昔有一人病此，遇異人授是方，服至二斤，吐出一蟲如蛇而安，遂名神授丸。</p>
<p><u>明目丹</u>　治勞追蟲，用兔屎四十九粒，硇砂如兔屎大四十九粒，為末，生蜜丸如梧子大，月望前水浸甘草一夜，五更搗取送下，即鉗入油鍋中煎殺，三日不下，再服。</p>
<p><u>又方</u>　水獺足為末，酒服殺癆瘵蟲。</p>
<p><u>又方</u>　治癆瘵殺蟲，用貓肝一具，生曬研末，每朔望五更調服之。</p>
<p><u>又方</u>　虎牙，礪末服，殺癆蟲。</p>

<h3>附：本病宜食諸物</h3>
<p>鰻鱺魚（清水煮，可常食之，主傳屍疰氣，勞損骨蒸，勞瘦，或酒煮食）　鱉肉（煮食，益氣補不足，去血熱，骨蒸潮熱咳嗽，同前胡、貝母等藥煮食，或丸服）　啄木鳥（取蟲，炒研，酒服或煮食）　慈烏（補勞治瘦，止咳嗽骨蒸，以五味醃食之）　烏鴉（主勞癭咳嗽，骨蒸勞痰，煨研，酒服之。五勞七傷，吐血咳嗽，釀栝蔞根，日煮食之）　納鱉（主傳屍勞瘵）　鷹矢白（焙，研末，水服，殺癆蟲）　豬脊髓（主骨蒸勞傷，同豬膽、童便、柴胡等藥，煎服）　豬肝（治急勞瘦悴，寒熱，同甘草丸服）　豬腎（主傳屍癆瘵，童便煮，酒食）　豬膽（主骨蒸癆極）　羊肉（骨蒸，久冷，同山藥作粥食，骨蒸傳屍，同皂角酒煮食，當吐出蟲）　豬肚（骨蒸勞熱，四時宜食）　白羊頭蹄（五勞七傷，同胡椒、乾薑、蓽撥煮食）　貓肝（殺癆瘵蟲，生曬，研，每朔望日五更酒服）　豬肺（主傳屍伏連殗殜，勞瘵虛汗，咳嗽發熱，殺蟲，陰乾為末，水服，日三次）　鹿茸膃肭臍（主虛勞）　熊脂（酒服，殺癆蟲，又補虛損）　象牙（主骨蒸）　獺肉貍骨虎牙鼠肉（並殺癆蟲）　蛇吞鼁（主癆嗽，吐臭痰，煅，研末，酒服）</p>

<h3>附：人部宜用物</h3>
<p>童便（滋陰降火，男女癆症，日服二次，骨蒸發熱，以五升煮一升，入蜜三匙，每服一碗，日二服）　人中白（主傳屍熱勞，肺痿，消痰火，消瘀血）　秋石（主虛勞冷痰，有製法）　人乳（補五臟，治勞悴，虛損癆瘵，同麝香脹或同胞衣末服）　人牙（燒用，治勞傷）　天靈蓋（主傳屍屍疰，鬼疰伏連，肺癆骨蒸，盜汗退邪氣，追癆蟲，炙黃，水煎，或同麝香丸服，小兒骨蒸加黃連末服，追蟲有天靈蓋散）　人胞（男女一切虛損勞極，洗煮入茯神丸服，河車大造丸）　人中黃（主骨蒸勞極，名伏連傳屍，同小便各一升，入新粟米飯五升面拌餅，密封七日，每旦服一合，午再服並去惡氣）</p>

<h2>痰火諸方補遺</h2>

<h3>痰火實症主方</h3>
<p>治勞傷心腎，精血虧損，形體羸瘦，陰虛火旺，咳嗽潮熱，失血等證，脈來弦長緊實，滑數有力者，皆火鬱內實，不受補者也，宜此主之。</p>
<p>當歸（身，酒洗，一錢五分）　生地黃（忌鐵，一錢五分，薑汁蒸）　白芍藥（煨，一錢）　玄參（忌鐵，一錢）　知母（去毛，忌鐵，蜜炒，一錢）　黃柏（忌鐵，蜜炒，褐色，一錢）　白茯苓（去皮，一錢）　沙參（一錢五分）　北五味（二十粒）　黃耆（蜜炒綿軟者，一錢）　天門冬（去心、皮，一錢五分）　甘草（炙八分）　麥門冬（去心，一錢）</p>
<p>上十二味，皆考《本草》，於前證所必用者，但如症而增減之，自可捷其驗也。</p>
<p>若潮熱甚者，加柴胡一錢，地骨皮一錢。若肺火盛而咽燥口腥者，加蜜炒枯芩一錢，天花粉一錢。若肺熱咳甚痰多者，加炒栝蔞仁一錢，貝母八分。若肺燥咳血，加炒阿膠珠一錢，牡丹皮八分，藕節三個，童便一杯，生薑汁五匙，對服。若吐血加鬱金三分藕節、棕灰，減黃耆。若肺火鬱甚而嗽血者，倍片芩、生地，加桔梗、丹參、阿膠、藕汁、童便對服，亦減黃耆。若自汗甚，倍黃耆，加麻黃根五分，或加牡蠣粉。若盜汗，倍歸、地，加酸棗仁、茯神、牡蠣。若衄血，加紫參、磨犀角、片芩、炒黑梔子，倍生地黃。若夢遺，加山藥、山茱萸、茯神、蓮鬚，或加牡蠣。若食少便溏，加山藥、土炒白朮，減知母。若咳而聲嘶，此火鬱肺損，加訶子，倍天門冬，倍麥冬。若咳唾膿血喘嗽者，加紫菀茸。肺熱燥咳上氣喘急，加百部。</p>

<h3>痰火虛症主方</h3>
<p>治虛勞瘦損，潮汗遺嗽，失血諸證全具，脈浮而芤濡虛大，緩遲無力，或沉而遲澀，弱細結代無力，皆虛而不足，可補者，當此主之。</p>
<p>人參（取上品高麗者，五分）　黃耆（外白內黃綿軟者，蜜炒，一錢）　大甘草（炙，五分）　生地黃（淡酒蒸，忌鐵，一錢）　熟地黃（薑汁蒸，一錢）　當歸（身，淡酒洗，一錢）　白芍藥（煨，一錢）　玄參（忌鐵，木槌槌碎，一錢）　北五味（十五粒）　沙參（一錢）　天門冬（去心、皮，一錢）　麥門冬（去心，一錢）</p>
<p>上十二味，皆詳考《本草綱目》，及素所經驗，於內傷火病最切者，一味不可遺之。若外有遺證，必如前症之增減，乃可中隙，況前之增減之法，未必一一括盡病情，更當於後之藥性中互參之，則無不中其肯綮矣。</p>
<p>按：古制治癆諸方，鮮有不用參、耆者，蓋亦得其病情之旨，第今者惑於王氏之論，一目而畏之如蛇蠍，遂為廢典矣，愚謂古人之立方也，必神於監製，素所經驗者，乃以示人。今之術庸識淺輩，不能神其神，而反妄議雌黃，致病家亦以其言橫之胸中，至死而不悟也。迨以劑中諸品，考之《本草》，則無一不中病情者，但於中間有一二味，性稍不純，有妨陰火者，姑摘之。如樂氏建中湯之細辛，黃耆鱉甲散、黃耆扶羸湯、人參黃耆散、蛤蚧散等劑之半夏，華蓋散之白礬，太平丸之麝香等味，性稍峻燥，彼則得而妄議之，予故摘之。詳考《本草》云：細辛固有益肝之能，然以氣味辛香，恐熾陰火，半夏固能調和脾胃之氣，亦以辛溫氣燥，恐不利肺。白礬固可劫痰，而氣寒，味且酸澀不平，又屬金石之品。麝香固能通竅，然以氣竄恐走真氣有妨。余固不敏，不能為先哲之忠臣，惟持一得之見，而刪訂之意，後者或可沾澤於萬一耳。謹將諸方附後，以俟後之君子而採擇焉。</p>

<h3>樂氏建中湯</h3>
<p>治臟腑虛損，身體瘦悴，潮熱自汗，將成癆瘵。此藥大能退熱補虛，生血養血。</p>
<p>人參（五分）　黃耆（蜜炒，一錢）　當歸（身，一錢五分）　白芍藥（一錢五分）　白茯苓（一錢）　麥門冬（去心，一錢五分）　甘草（炙，五分）　陳皮（去白，八分）　前胡（八分）</p>
<p>上九味作一劑，水煎，薑、棗引，食遠溫服。</p>
<p>按：上方九品，殊切病情，方意以人參治五勞七傷，虛損瘦弱。以黃耆補虛勞自汗，衛固腠理。以當歸治虛勞寒熱，逐舊生新。以白芍補腎氣，退勞熱，制肝建脾。以茯苓治勞傷滲濕，治痰之本。以麥門冬潤燥清金，滋陰降火。以陳皮行參、耆之滯，以益脾。前胡清肺熱，化痰熱，推陳致新。甘草補五勞七傷，益精養氣，養陰補胃，更治咽痛，是方之用九品，品品精專。猶孫吳之用兵，不過能將十萬爾，原有細辛，予摘之。</p>

<h3>黃耆鱉甲散</h3>
<p>治虛勞客熱，肌肉消瘦，四肢煩熱，心悸盜汗，食少而渴，咳嗽有血。</p>
<p>黃耆（蜜炒，一錢）　鱉甲（醋炒，一錢）　天門冬（去心、皮，一錢）　桑白皮（蜜炒，八分）　人參（五分）　生地黃（淡酒蒸，一錢五分）　白芍藥（煨，一錢）　知母（蜜炒）　桔梗（一錢）　秦艽（一錢）　白茯苓（一錢）　紫菀（取茸，一錢）　柴胡（一錢）　地骨皮（一錢）　甘草（三分）</p>
<p>上十五味，姜三片，水煎服。</p>
<p>按：上方十五味，亦皆精專之品，方意以黃耆治五勞羸瘦，寒熱自汗，補氣實表。以鱉甲治勞瘦，除骨節間勞熱結實，補陰補氣。以地骨皮治骨蒸煩熱。以秦艽、桔梗、人參，並主傳屍骨蒸，勞熱自汗。桑白皮去肺中水氣，及火熱嗽血。以天冬除肺氣，清肺熱，除咳痰。以紫菀止咳膿血，消痰益肺。以生地黃治咳嗽吐血。以知母瀉肺火，滋腎水，除命門相火。以柴胡治勞熱，消痰止咳。以甘草瀉火養陰補脾。以茯苓補五勞七傷，肺痿痰壅等症。以白芍利肝益脾，是方也。備一十五味，藥品固繁，而用之亦精。猶韓信將兵，多多益善，戰有不勝者乎？原有半夏、肉桂，余摘之。</p>

<h3>秦艽扶羸湯</h3>
<p>治肺痿骨蒸，已成勞咳，或寒或熱，聲不出，體虛自汗，四肢倦怠。</p>
<p>秦艽（一錢）　鱉甲（醋炒，一錢）　人參（五分）　當歸（身，一錢）　柴胡（一錢）　紫菀（茸，八分）　甘草（炙，八分）　地骨皮（一錢）</p>
<p>上八味作一劑，用生薑五片，梅、棗各一枚，水煎，食後服。</p>
<p>按：方意以秦艽治虛勞發熱，傳屍骨蒸，日晡潮熱。以鱉甲治勞瘦骨蒸，補陰補氣。以人參去心肺脾胃間火邪，補五勞七傷，虛損痰弱。以當歸治虛勞寒熱，一切血虛。以紫菀療咳血唾膿，屍疰虛勞，百邪鬼疰。以甘草瀉火益脾。以地骨皮退骨蒸煩熱。以柴胡治勞熱，骨節煩痛羸瘦，補五勞七傷。觀是方八味，括上症無遺矣。</p>

<h3>劫勞散</h3>
<p>治心腎俱虛，勞嗽時復三四聲，潮熱過即有盜汗，四肢倦怠，肌體羸瘦，恍惚異夢，喉中有血，名肺痿。</p>
<p>白芍（煨，一錢）　黃耆（蜜炙，一錢）　人參（五分）　當歸（身，一錢）　白茯苓（去皮，一錢）　熟地黃（一錢）　五味子（十五粒）　半夏曲（八分）　阿膠（炒成珠，一錢）　甘草（炙，八分）</p>
<p>上十味作一劑，薑、棗引，水煎服。</p>
<p>按：方曰劫勞者，以其藥力專而效之捷也。方意以白芍補勞退熱，除煩益氣，制肝而益脾胃。以黃耆補虛勞自汗，益肺氣而瀉肺火。以人參瀉心肺脾胃中火邪，止咳唾吐衄諸血，所謂血脫而益其氣也。以白茯苓利竅除濕，治痰之本也。以熟地黃填骨髓，長肌肉，補五勞七傷，虛羸不足也。以當歸補一切血虛，一切血病，去舊生新也。以五味子治勞傷不足，暖水臟，壯筋骨，喘嗽燥咳，壯水以鎮陽光也。以阿膠補虛損，止諸血，補益肺臟。以甘草瀉火補脾，以半夏曲燥濕，冷痰之標也。藥固十味，皆精專之品，奚啻孫吳之十萬耶？</p>

<h3>黃耆益損湯</h3>
<p>治男婦、童子、室女、諸虛百損，五勞七傷，骨蒸潮熱，腰腹俱急，百節痠痛，夜多盜汗，心常驚悸，煩躁唇焦，嗜臥少力，肌膚瘦瘁，咳嗽多痰，咯唾血絲，往來寒熱，頰赤神昏，不思飲食，服藥熱者則燥，沖滿上焦，涼者則胸滿而腹痛，及治火病，營衛不調，婦人產後血氣不復，並宜服之。</p>
<p>黃耆（蜜炒，一錢）　當歸（身，一錢）　人參（五分）　石斛（去梗，一錢）　白朮（土炒，八分）　白茯苓（一錢）　白芍（煨，一錢）　山藥（一錢）　甘草（炙，八分）　牡丹皮（八分）　麥門冬（去心，一錢）　五味子（十五粒）</p>
<p>上十三味作一劑，薑、棗引，水煎服。</p>
<p>按：方曰：益損者以諸藥益人之損多矣。方意以黃耆補虛益損，養氣生精，健脾而潤肺也。以人參補勞傷虛損，益氣而生陰也。以石斛治五臟虛癆羸瘦，長肌肉，壯筋骨，消痰，澀丈夫元陽也。以白朮生津止渴，益胃而補肝也。以當歸補血，去舊生新也。以茯苓利竅，除濕益氣、和中，治濕之本也。以白芍散惡逐瘀，平肝以助脾也。以川芎治吐衄諸血，為血分之氣藥也。以熟地黃補血填精，益腎而補真陰也。以山藥補肝而益腎也。以牡丹皮為和血、生血、涼血之品也。以麥門冬止虛勞客熱，心煩燥渴，滋化源之要藥也。以五味子滋水清金而治諸血也。以甘草瀉火熱而補脾氣也。是方治症固多，而其藥品亦多且銳，是亦攻守並備者也。原有肉桂、半夏，余亦去之。</p>

<h3>柴前梅連散</h3>
<p>治骨蒸癆瘵不痊，三服除根，其效如神。又治五勞七傷，虛弱羸瘦發熱者，宜服之。</p>
<p>柴胡（去蘆，二錢）　前胡（去蘆，二錢）　烏梅（去核，五枚）　胡黃連（二錢）</p>
<p>上作一劑，用豬膽一個，脊髓一條，韭白一錢，童便二盞，煎服。</p>
<p>按：《本草》云：柴胡治癆之羸瘦，補五勞七傷，益氣力，消痰止嗽，潤心肺大腸，退潮熱肌熱之捷品也。前胡清肺熱，化痰熱，推陳致新之藥也。烏梅止虛勞骨蒸也。胡黃連治傳屍骨蒸，勞熱自汗也。劫勞退熱，寧過此乎。</p>

<h3>蛤蚧散</h3>
<p>治虛勞咳嗽咯血，潮熱盜汗，不思飲食。</p>
<p>蛤蚧（一對，洗淨，酥炙）　人參（五錢）　百部（去苗，五錢）　紫菀（取茸，五錢）　貝母（五錢）　款冬花（三錢）　阿膠（蛤粉炒，五錢）　鱉甲（醋炙，五錢）　柴胡（五錢）　甘草（炙，一錢）　杏仁（去皮、尖，三錢）　黃耆（蜜炒，五錢）</p>
<p>上十二味，為粗末，每五錢，水煎服。</p>
<p>按：方意以蛤蚧治虛勞傳屍，咳嗽咯血。以黃耆瀉陰火而退潮熱，治虛勞自汗，補肺虛而瀉肺火也。以人參治虛勞痰弱，吐衄咯唾諸血，益陽而生陰也。以款冬花為溫肺治嗽之要也。以紫菀止上氣咳嗽膿血，消痰而益肺也。以貝母治喘嗽上逆，煩熱消渴，止汗而安五臟也。</p>

<h3>和肺引子</h3>
<p>治諸血後咳嗽多痰。</p>
<p>阿膠（炒珠，一錢）　人參（五分）　麥門冬（去心，一錢）　山藥（一錢）　貝母（八分）　白茯苓（一錢）　百合（一錢）　杏仁（去皮、尖，八分）　甘草（炙，八分）</p>
<p>上九味作一劑，入黃蠟一塊，水煎，食後服。</p>
<p>按：方意謂咯血後，肺氣已傷，用阿膠斂竅以益肺。去血過多，用人參補陽以生陰。脾不統血，故用山藥益脾以補腎。嗽而多痰，故用貝母清肺以消痰。茯苓者，所以滲濕，治痰之本，杏仁者，所以潤燥散肺之邪，而甘草者，所以瀉火益脾以和中也。</p>
<p><u>保和湯</u>　治虛勞久嗽，肺燥成痿。</p>
<p>知母（去毛，蜜炒，一錢）　貝母（八分）　天門冬（去心、皮，一錢）　甘草（炙，五分）　麥門冬（去心，一錢）　款冬花（八分）　薏苡仁（一錢）　百合（一錢）　阿膠珠（一錢）　當歸身（一錢）　紫蘇葉（八分）　薄荷葉（一錢）　紫菀茸（一錢）　桔梗（一錢）　五味子（十五粒）　生地黃（薑汁炒，一錢）</p>
<p>上十六味作一劑，姜引，水煎服。原有兜苓，今摘之。</p>
<p><u>保真湯</u>　治諸虛百損，五勞七傷，骨蒸潮熱，咳嗽諸汗，諸血等症。</p>
<p>當歸身（一錢）　人參（五分）　生地黃（一錢）　熟地黃（一錢）　黃耆（蜜炒，一錢）　白朮（土炒，八分）　白茯苓（一錢）　甘草（炙，八分）　陳皮（去白，五分）　白芍藥（一錢）　天門冬（一錢）　麥門冬（去心，一錢）　黃柏（蜜炒，一錢）　五味子（十五粒）　柴胡（去蘆，一錢）　地骨皮（一錢）　知母（去毛，蜜炒，一錢）</p>
<p>上十七味作一劑，姜五斤，棗一枚，水煎食後服。</p>
<p><u>太平丸</u>　治虛火嗽，肺痿肺癰，並宜服之。</p>
<p>天門冬（去心、皮，一兩）　麥門冬（去心，一兩）　知母（去毛，蜜炒，一兩）　貝母（一兩）　款冬花（五錢）　杏仁（去皮、尖，五錢）　京墨（五錢）　桔梗（一兩）　薄荷（一兩）</p>
<p>上十味，俱為細末，煉蜜為丸如彈子大，每細嚼一丸，薄荷湯下。</p>
<p><u>人參黃耆散</u>　治虛勞客熱，肌肉消瘦，四肢倦怠，五心煩熱，口燥咽乾，頰赤心驚，日晡潮熱，夜多盜汗，胸脅不利，咳嗽膿血稠黏。</p>
<p>人參（五分）　秦艽（一錢）　白芍（一錢）　白茯苓（一錢）　黃耆（蜜炒，一錢）　知母（去毛，蜜炒，一錢）　桔梗（一錢）　桑白皮（蜜炒，八分）　紫菀（取茸，一錢）　柴胡（一錢）　鱉甲（醋炙，一錢）　生地黃（薑汁蒸，一錢）　天門冬（去心、皮，一錢）</p>
<p>上十二味，姜引，水煎服。</p>
<p><u>天門冬丸</u>　治虛勞，吐血咯血，咳嗽喘急，大寧肺氣。</p>
<p>天門冬（去心、皮，一兩）　杏仁（去皮、尖，五錢）　貝母（一兩）　茯苓（一兩）　阿膠珠（一兩）</p>
<p>上五味，俱為細末，煉蜜為丸彈子大，日三丸，噙化。</p>
<p><u>潤華膏</u>　治一切勞嗽，肺痿喘急，並皆治之。</p>
<p>人參（五錢）　麥門冬（去心，一兩）　阿膠珠（一兩）　款冬花（五錢）　紫蘇（五錢）　五味子（一兩）　杏仁（去皮、尖，五錢）　百藥煎（五錢）　貝母（一兩）　粟殼（去筋膜，五錢）　烏梅肉（一兩）　桔梗（一兩）</p>
<p>上十二味，為細末，蜜丸彈大。臨臥噙化。</p>
<p><u>青蒿丸</u>　治骨蒸煩熱鬼氣。</p>
<p>用青蒿一握，豬膽一枚，杏仁十四個，去皮尖炒，以童便一大盞，煎五分，空心溫服。</p>
<p><u>青蒿煎</u>　治虛勞盜汗，煩躁口乾，用青蒿取汁熬膏，入人參末、麥冬末各一兩，熬至可丸，如梧子大，每食後米飲下二十丸。</p>
<p><u>又方</u>　治骨蒸煩熱鬼疰，用青蒿五寸，八九月帶子者，最好細嫩者，和納大釜中，以猛火煎三大斗，去渣，溉釜令淨，再以微火煎至二大斗，入豬膽一枚，同煎一大斗，去火待冷，以瓷器盛之，每欲服時，取甘草二三兩，炙熟為末，以煎和搗，干杵為丸，空腹粥飲下二十丸，漸增三十丸止。</p>
<p><u>又方</u>　治虛勞寒熱，肢體倦痛，不拘男婦，八九月青蒿成實時，採數枝，童便浸三日，曬乾為末，每二錢，烏梅一個，煎湯服。</p>
<p><u>又方</u>　治男婦勞瘦，青蒿細銼三升，童便五升，同煎一升半，去渣，入瓷器中煎成膏，丸如梧子大，每空心及時溫酒下二十丸。</p>
<p><u>又方</u>　治婦人骨蒸，煩熱寢汗，口乾引飲氣喘，天門冬十兩，麥門冬八兩，並去心為末，以生地黃三斤，取汁熬膏，和丸梧子大，每五十丸，以逍遙散湯煎下。</p>
<p><u>又方</u>　治傳屍癆瘵，王瓜（焙）為末，每滾白湯服一錢。</p>
<p><u>一方</u>　治虛勞內熱，下焦虛熱，骨節煩疼，肌肉急，小便不利，大便數，少氣吸吸，口燥熱淋，用大麻子五合，研，水二升，分服四五劑瘥。</p>
<p><u>一方</u>　治虛勞不足，糯米入豬肚內蒸熟，搗做丸子，日日服。</p>
<p><u>河車丸</u>　治婦人癆瘵，勞嗽，虛損，骨蒸等症。</p>
<p>用紫河車，幼生男子者一具，以長流水洗淨熟煮，劈細焙乾研，山藥二兩，人參一兩，白茯苓半兩，為末，酒糊丸梧子大，麝香養七日，每服三十五丸，溫服鹽湯下。</p>
<p><u>集驗方</u>　治五癆七傷，吐血虛瘦。</p>
<p>用初生胞衣，長流水洗去惡血，待汁出乃止，以酒煮搗如泥，入白茯神和丸梧子大，每米湯下百丸，忌鐵器。</p>

<h1>卷三</h1>

<h2>六味丸方論</h2>
<p>六味丸，古人制以統治痰火諸證，又謂已病未病，並宜服之，此蓋深得病之奧者也。何則？痰火之作，始於水虧火熾金傷，絕其生化之源乃爾。觀方中君地黃，佐山藥、山茱，使以茯苓、牡丹皮、澤瀉者，則主益水清金敦土之意可知矣。蓋地黃一味，為補腎之專品，益水之主味，孰勝此乎？夫所謂益水者，即所以清金也，惟水足則火自平而金自清，有子令母實之義也。所謂清金者，即所以敦土也，惟金氣清肅，則木有所畏，而土自實，有子受母蔭之義也。而山藥者，則補脾之要品，以脾氣實則能運化水穀之精微，輸轉腎臟而充精氣，故有補土益水之功也。而其山茱、茯苓、丹皮，皆腎經之藥力，助地黃之能。其澤瀉一味，雖曰接引諸品歸腎，然方意實非此也。蓋茯苓、澤瀉，皆取其瀉膀胱之邪，古人補藥，則必兼瀉邪，邪去則補藥得力，一闢一闔，此乃玄妙。後世不知此理，專一於補，所以久服必致偏勝之害。六味之設，何其神哉！經有亢則害承乃制之論，正此謂也。謹按諸品性能，贅之分兩之下，以備學者之參考焉。</p>
<p><u>六味丸</u>　治男子五勞七傷，精血虧損，夢遺盜汗，咳嗽失血，骨蒸潮熱，虛羸瘦悴等證，又治女人傷中胞漏，下血瘀血諸候。一切痰火，已病未病，並皆治之。</p>
<p>懷乾地黃（制，八兩，即生地黃之乾者，其法取懷慶者一斤，擇肥者半斤，洗淨，曬令微皺，以採下者，洗淨木臼中搗絞汁盡更搗，取汁拌前地黃，日中曬或火烘乾，惡銅鐵器，為末，聽用。其性氣味甘寒，無毒。主治男子五勞七傷，補五臟內傷不足，通血脈，利耳目，益氣力，助心脾氣，強筋骨，長志，安魂定魄，治心肺損，吐血衄血，涼血生血，補腎水真陰，填骨髓，長肌肉，生精。元素曰：生則大寒而涼血，血熱者須用之。熟則微溫而補腎，血衰者須用之。又臍下痛屬腎，非熟地黃不能除，乃通腎經之藥也。又曰：益腎水涼心血，其脈洪實者，宜之，里脈虛者則宜熟地黃，假火力蒸九數故能補腎元氣。仲景六味丸，用之為諸藥之首，天一生水之源也。湯液四物湯，治藏血之臟以之為君者，癸乙同歸一治也。又曰：男子多陰虛，宜用熟地黃，女子多血熱，宜用生地黃。又云：生地黃能生精血，天門冬引入所生之處，熟地黃能補精血，用麥門冬引入所補之處。虞氏云：生地黃生血，而胃氣弱者服，恐妨食熟地黃補血，而痰火多，服之多者恐泥膈也。或云：生地黃酒炒則不妨胃，熟地黃薑汁炒則不泥膈，此皆善用地黃之精微者也。）</p>
<p>山茱萸肉（酒潤，去核，只取肉，四兩，氣味鹹平無毒。補腎氣，壯元氣，秘精氣，助水臟，暖腰膝，興陽道堅陰莖，添精髓，止老人尿多不節，益精安五臟，通九竅，久服明目，強力輕身，延年。王氏曰：滑則氣脫，澀則所以收之，山茱萸止小便利秘精氣，取其味酸澀以收滑也。仲景八味丸用之為君，其性可知矣。）</p>
<p>干淮山藥（四兩，另末，氣味甘溫平無毒。主治傷中，補虛羸，去寒熱邪氣，補中益氣力，長肌肉，強陰，久服耳目聰明，輕身不飢，延年，下氣止腰痛，治虛勞羸瘦，充五臟，除煩熱，補五勞七傷，除冷風，鎮心神，安魂魄，補心氣不足，開達心孔多記事，強筋骨，主泄精健忘，益腎氣，健脾胃，止泄痢，化痰涎，潤皮毛。凡人體虛而羸者，加而用之。又曰：利丈夫助陰力，熟煮和蜜，或為湯煎，或為粉，並佳，干之入藥更妙，惟不宜同麵食。東垣曰：山藥入於太陰，仲景八味丸用乾山藥以其涼血能補也。亦治皮膚乾燥，以此潤之。吳氏曰：山藥入手太陰二經，補其不足，清其虛熱，肚肺為腎之上源，源既有滋流，豈無益？此八味丸所以用其強陰也。又云：食之可以避霧露。）</p>
<p>香牡丹皮（用真者，去骨令淨，三兩，微焙，忌鐵，或曬乾以銅刀切，加酒拌蒸，從已至未日乾聽用，氣味辛寒無毒。忌蒜、椒、姜。治五勞勞氣，神志不足，無汗之骨蒸，衄血、吐血、補血、生血、涼血，治血中伏火除煩熱，女子經脈不通，血瀝腰痛，通關腠血脈。元素曰：牡丹乃天地之精，為群花之首，葉為陽發生也，花為陰成實也。丹者赤也，火也。故能瀉陰胞中之火，四物湯加之，治婦人骨蒸。又曰：牡丹皮入手厥陰、足少陰，治無汗骨蒸，神不足者，手少陰，志不足者，足少陰，故八味丸中用之，治神志不足也。又能治腸胃積血，吐血、衄血，必用之藥，故犀角地黃湯用之。李氏曰：牡丹皮治手足少陰厥陰四經血分伏火，蓋伏火即陰火也，陰火即相火也。古方惟以治相火，故腎氣丸用之。後人乃專以黃柏治相火，不知牡丹皮之功更勝也。此乃千載秘奧，人所不知，今為拈出赤花者利，白花者補，人亦罕悟，宜分別之。）</p>
<p>云白茯苓（去皮，三兩，氣味甘平無毒，調臟氣，伐腎邪，長陰力，保神氣，開胃止嘔逆，安心神，主肺痿痰壅，心腹脹滿，補五勞七傷，開心志，止健忘，止渴利小便，除濕益燥，和中益氣，瀉膀胱益脾骨，治腎積奔豚，丹溪曰：陰虛者，不宜用。）</p>
<p>新澤瀉（去根，一兩五錢，原三兩，今減之。氣味甘寒無毒。主腎虛精自瀉，治五淋，宣通水道，入腎經，去舊水，養新水，利小便，滲濕熱，行痰飲，養五臟，益氣力，肥健消水，久服耳目聰明，不飢，延年輕身，面生光，能行水，上補虛損，五臟痞滿起陰氣，止泄精，消渴，淋澀，逐膀胱三焦，停水。元素曰：澤瀉乃除濕之聖，入腎經治小便淋澀，去陰間汗，無此疾服之，令人目盲。宗氏曰：澤瀉功長於利水。扁鵲曰：多服病人眼誠為行去水也。丸服澤瀉教人未有不小便多者，小便既多，腎氣安得復實？今人止泄精多不敢用之，八味丸用之，不過接引桂附等，歸就腎經別無他意。《本經》曰：久服明目。扁鵲曰：久服昏目，何也？易老曰：去脬中留垢，以其味鹹能瀉伏水，故也。瀉伏水去留垢故明目，小便利腎，經虛，故昏目。王履曰：宗氏之說，王氏韙之，竊謂八味丸以地黃為君，余藥佐之，非止補血兼補氣也。所以陽旺則能生陰血也。又按：《本草正誤》謂弘景曰：仙經服食，斷谷皆用之。亦云：輕身能步行水上。頌曰：仙方只單服澤瀉一味，搗爛篩末水調，日服六兩，百日體堅，而健行。李氏曰：《神農》書列澤瀉於上品，復云：久服輕身，面生光，能行水上，典術云：澤瀉久服能令人輕身，日行五百里，走水上，一名澤芝，陶蘇皆以為是然，愚竊疑之，澤瀉行水瀉腎，久服且不可，又安有此神功耶？其謬可知。孟子曰：盡信書不如無書，大抵六味丸用之，無乃伐腎邪而已，若以之配茯苓、丹皮各三兩，恐走瀉太甚，余故減半俟。後之明哲以為何如？）</p>
<p>上六味，各為法制，另末，用白蜜四兩，煉熟，以前山藥末攪成干糊，為丸如梧子大，每百丸，清晨滾白湯或淡鹽湯下，日二服。若既病痰火，諸證悉具者，余加麥門冬二兩，五味子一兩。若相火熾盛，咽乾口燥，余加黃柏、知母，各蜜炒二兩。</p>

<h2>大造丸方論</h2>
<p>吳球云：紫河車即胞衣也。兒孕胎中，臍繫於胞，胞系於母命門，受母之蔭，父精母血，相應生成，真元所鍾，故曰河車。雖寓後天之形，實得先天之氣，超然非他金石草木類之可比，每每用此得效，用之女人尤妙。蓋本其自出，各從其類也。若無子及多生女，並月水不調，小產難產人服之，必主多子。危疾將絕者，一二服可更活一二日，其補陰之功極重，百發百中，久服耳聰目明，鬚髮烏黑，延年益壽，有奪造化之功，故名大造丸。用紫河車一具，男用女胎，女用男胎，初生者，米泔洗淨，新瓦焙乾研末，或以淡酒蒸熱搗曬研末，氣力尤全，且無火毒。敗龜板年久者，童便浸三日，酥炙黃二兩，或以童便浸過，石上磨淨，蒸熟曬研尤妙。黃柏去皮，鹽酒浸炒一兩半，杜仲去皮酥炙一兩半，牛膝去苗酒浸曬一兩二錢，肥生地黃二兩半，入砂仁六錢，白茯苓二兩，絹袋盛，入瓦罐，酒煮七次，去茯苓、砂仁不用，杵地黃為膏聽用，天門冬去心，麥門冬去心，人參去蘆，各一兩二錢，夏月加五味子七錢，各不犯鐵器為末，同地黃膏入酒米糊丸如小大豆，每服八九十丸，空心鹽湯下，冬月酒下。女人去龜板，加當歸二兩，以乳煮糊為丸。男子遺精，女人帶下，並加牡蠣粉一兩。</p>
<p>世醫用陽藥滋補，非徒無益，為害非小。蓋邪火只能動欲，不能生物。龜板、黃柏補陽補陰，為河車之佐，加以杜仲補腎強腰，牛膝益精壯骨，四味通為足少陰經藥，名補腎丸也。生地黃涼血滋陰，得茯苓、砂仁同黃柏，則入少陰。白飛霞以此四味，為天一生水丸也。天門冬，能保肺氣，不令火炎，使肺氣下行生水，然其性有降無升，得人參則鼓動元氣，有升有降，故同地黃為固本丸也。又麥門冬、人參、五味子三味，名生脈散，皆為肺經藥，此方配合之意，大抵以金水二臟，為生化之源，加河車以成大造之功故也。一人病弱，陽事敗痿，服此二料，身體頓異，連生四子。一婦年六十，已衰憊，服此壽至九十，猶強健。一人病後不能作聲，服此氣壯聲出，一人病痿足不任者半年，服此後能遠行。</p>

<h2>痰火雜症補遺</h2>

<h3>頭痛眩暈</h3>
<p>夫頭為諸陽之首，左腦痛屬風與血虛風，薄荷、荊芥。血虛，川芎、當歸。右腦痛屬痰，蒼朮、半夏。屬熱，酒芩為主。痛甚者屬火，黃芩、玄參。頭痛須用川芎。如不愈，各加引經藥。太陽川芎，陽明白芷，少陽柴胡，太陰蒼朮，少陰細辛，厥陰吳茱萸，如苦頭痛，必加細辛。頂顛痛，須用藁本，減川芎。如血氣兩虛頭痛，調中益氣湯，內加川芎三分，蔓荊子三分，細辛三分，其效如神。大抵痰火，頭痛眩暈，因火與痰者，多宜加玄參、酒芩以清熱，勿輕用川芎、蔓荊子，陳茶為引，更穩。</p>

<h3>肩背及腰節痛</h3>
<p>肩背痛，不可回顧者，此太陽氣鬱而不行也，以風藥散之，脊痛項強，腰似折，項似拔者，此是太陽經不通也。肢節痛，須用羌活。如瘦人肢節痛，是血虛，宜四物湯內加羌活、防風、酒炒黃芩、黃柏，如倦怠無力，肢節痛，加黃耆、人參。</p>

<h3>耳鳴及耳聾</h3>
<p>耳聾皆屬於熱，須用四物湯降火。</p>
<p>耳鳴必用龍薈丸，食後服。大抵此症，因平昔飲酒厚味，上焦素有痰火，只作清痰降火治之為當，余治耳鳴耳聾，每服還少丹一料最效。方見虛損。</p>
<p>方古庵曰：左耳聾，婦人多有之，以其多忿怒故也；右耳聾者，男人多有之，以其多色欲故也；左右俱聾者，膏粱之家多有之，以其多肥甘故也。</p>

<h3>腰痛</h3>
<p>經曰：腰以下皆屬腎，主濕熱腎虛。瘀血，積痰，挫閃，脈大者腎虛。杜仲、龜板（酥炙）、黃柏、知母、枸杞、北五味之類為末，豬脊髓和丸服。脈澀者，瘀血。用補陰丸加桃仁、紅花。脈緩者濕熱，蒼朮、杜仲、黃柏、川芎之類。痰積者，二陳加南星、半夏。凡諸症屬火，不可峻用寒涼藥，腰痛必用鹿角膠。</p>

<h3>痞脹</h3>
<p>如稟受素弱，轉運不調，飲食不化，而心下痞者，宜用白朮、山楂、神麯、陳皮。心下痞，須用枳實、黃連。如肥人心下痞，乃是濕痰，宜蒼朮、半夏、砂仁、茯苓、滑石。如瘦人心下痞，乃是濕熱，宜枳實、黃連、葛根、升麻。挾血成窩囊而痞者，用桃仁、紅花、香附、山梔子、大黃之類。</p>

<h3>吞酸</h3>
<p>乃濕熱積於脾而出，伏於肺胃之間，必以吳茱萸炒黃連為君，用二陳加此二味，冬月倍吳茱萸，夏月倍黃連為丸，薑湯下。</p>

<h3>嘈雜噁心嘔吐</h3>
<p>嘈雜者，火動其痰也，宜二陳加黃芩、青黛。噁心者，無物無聲，心中欲吐不吐者是，實非心經之病，皆在胃口上。宜用生薑佐諸藥，能開豁胃痰也。嘔吐者，胃中有熱，膈上有痰，二陳湯加炒山梔、黃連、生薑。</p>

<h3>喘及短氣</h3>
<p>氣虛短氣而喘甚者，不可用苦寒藥，火氣盛故也。宜導痰湯、千緡湯。（見《局方》。）陰虛自汗，小腹火起，衝於上喘者。宜降心火，補陰。有火痰者，宜降心火，清肺金。諸喘不止者，用椒目研末，生薑湯調下一二錢。劫止之後，因痰治痰，因火治火。又法，以蘿白子蒸熟為君，皂角燒灰等分，共為末，生薑汁煉蜜丸，每五七丸，噙化止之。氣虛氣短者，用人參、（蜜炙）黃柏、麥冬、地骨皮之類，治喘症，必用阿膠。</p>
<p>戴云：痰喘者，喘便有痰聲。氣急喘者，呼吸急促，而無痰聲；有胃氣虛喘者，抬肩擷項，喘而不休；火炎上喘者，乍進乍退，得食則減，食已則喘。大抵有實火，膈上有稠痰。</p>
<p>凡喘症，上喘下必脹，要識標本。先喘而後脹者，主於肺，則喘為本，而腫為標。治當清肺降氣為主，而行水次之。先脹而後喘者，主於脾，蓋脾土既傷，不能制水，則邪反侵肺，氣不得降而生喘，此則腫為本，而喘為標。治當實脾行水為主，而清肺次之。</p>

<h3>煩躁</h3>
<p>起臥不安，睡不穩，謂之煩。法宜清肺去痰，宜梔豉湯、竹葉石膏湯。（二方見傷寒門。）躁者，顛狂恍惚之狀，宜硃砂安神丸。（見《局方》。）</p>

<h3>諸虛百損</h3>
<p>頭目昏花，四肢疲軟無力，羸瘦，不長肌肉，少年氣血兩虛，色欲過度，耳鳴者，宜服補陰丸。甚者，大補陰丸。六味地黃丸更穩，或瓊玉膏。中年氣血兩虛者，宜十全大補湯，天王補心丹。老年血氣虛損者，宜古庵心腎丹，還少丹。</p>
<p>上諸方，俱見古方括內。</p>
<p>諸症補遺，大都痰火症中所必有者，採擇數款，亦須以主治方中，隨所見症，依經絡量加一二味，以治其標可也。其間有闕略者，以俟後之君子參補焉。</p>

<h2>痰火死症</h2>
<p>一痰火嘔血成盆而過多者，不思飲食，肌肉漸削者，此心氣已絕，死不治。</p>
<p>一痰火左脅痛，不能轉身者，此乃肝葉已干，名為乾血痛，肝經已絕，死不治。右脅痛，服清肺化痰藥不止，夜不能臥者，此肺絕之候，不治。</p>
<p>一痰火喉痛，此膽火上炎，用治喉藥不效，至生瘡破皮，乃蟲攻咽，此瘵疾之不可救者，死不治。</p>
<p>一痰火聲啞，乃肺經已絕，死不治。</p>
<p>一痰火臀尖無肉，此脾經已絕，死不治。</p>
<p>一痰火咳逆吐食者，此胃火熾甚，脾氣受傷，多致不救。</p>
<p>一痰火泄瀉，飲食不化，此胃氣已絕，死不治。</p>

<h2>痰火脈</h2>
<p>按：痰火之脈，以浮而芤濡虛緩，遲大無力，沉而遲澀，結代無力，皆虛而不足，外證自汗短氣喘促，或肢厥者，皆屬脾肺腎三臟俱虛，脈合其證，此受補者也。若脈來弦長緊實，外證痰實氣壅喘咳，或煩或熱，或咽痛，或復見諸血，此為陰虛火動，脈不合證，此不受補者也。又按：《脈經》曰：骨蒸發熱，脈數而虛，熱而澀小，必殞其軀。又曰：勞極諸虛，浮濡微弱，土敗雙弦，火炎急數。又曰：諸病失血，脈必見芤，緩小可喜，數大可憂。又曰：病熱有火，洪數可醫，沉微無火，無根難醫，此皆言脈證之宜忌也。凡有干於痰火癆瘵之脈，悉詳附之於後，惟不切於此證者，乃摘之。</p>

<h3>浮</h3>
<p>浮脈法天，有輕清在上之象，在卦為乾，在時為秋，在人為肺。又曰毛，太過則中堅旁虛，如循雞羽，病在外也，不及則氣來毛微，病在中也，《脈訣》言尋之如太過，乃浮兼洪緊之象，非浮脈也。</p>
<p>主病　浮脈為陽主表，有力表實，無力表虛，浮遲中風，浮數風熱，浮緊風寒，浮緩風淫，浮虛傷暑，浮芤失血，浮洪虛熱，浮散勞極，寸浮主頭痛眩暈，或風痰在胃，關主土衰木旺，尺主後便不通。</p>

<h3>沉</h3>
<p>沉脈法地，有淵泉在下之象，在卦為坎，在時為冬，在人為腎。又為石亦曰營，太過則為彈石，按之益堅，病在外也。不及則氣來虛微，去如數者，病在中也。《脈訣》言緩度三關，狀如爛綿者，非也。沉有緩數各部之沉，爛綿乃弱脈，非沉也。</p>
<p>主病　沉脈主裡，有力裡實，無力裡虛，沉則為氣，沉澀氣鬱，沉弱寒熱，沉緩寒濕，沉緊冷痛，沉牢冷積，寸沉痰鬱，水停胸膈，關沉主中寒腹痛，尺沉主遺精白濁泄痢，腎虛腰痛。</p>

<h3>遲</h3>
<p>遲為陽不勝陰，故陰至不及。《脈訣》言重手乃得，是有沉無浮，一息三至，甚為易見，而曰隱隱狀且難，是澀脈矣，其謬可知。然二至為遲，有力為緩，無力為澀，有止為結，遲甚為敗，浮而軟為虛。黎氏曰：遲小而實，緩大而慢，遲為陰盛陽虛，緩為衛盛營弱，宜別之。</p>
<p>主病　遲脈主臟，有力冷痛，無力虛寒，浮遲表寒，沉遲裡寒，且主多痰，沉痼癥瘕，寸遲則上焦有寒，關遲則中寒腹痛，尺遲則後便不禁，腎虛腰痛。</p>

<h3>數</h3>
<p>數為陰不勝陽，故脈太過，一息六至是也。浮沉遲數，脈之綱領也。數而弦為緊，流利為滑，數而有止為促，數甚為極，數見關中為動脈。</p>
<p>主病　數脈主腑，有力為實為熱，宜瀉。無力為虛火，為相火，宜補。浮數表熱，沉數里熱，氣口數實，病肺癰，數虛為肺痿，寸數咽腫，口舌生瘡，吐血咳嗽，或肺生癰，關數胃火肝火，尺數則腎虛，宜滋陰降火。</p>

<h3>滑</h3>
<p>滑為陰氣有餘，故脈來流利如水。脈者，血之腑也，血盛則脈滑，故腎脈宜之。氣盛則脈澀，故肺脈宜之。《脈訣》云：按之即伏，三關如珠，不近不退，是不分浮滑沉滑尺寸之滑也，今正之。</p>
<p>主病　滑脈為陽，主元氣虛衰，痰飲宿食，吐逆蓄血，女子經調有孕。寸滑主膈痰嘔吐，吞酸舌強，或咳嗽。關滑主宿食，肝脾積熱，尺滑則瀉痢㿗淋。又曰：滑主痰飲，浮滑風痰，沉滑食痰，滑數痰火，滑短宿食。《脈訣》言關滑胃寒，尺滑臍冷，與《脈經》言關滑胃熱，尺滑血蓄，婦人經病之旨相反，其謬如此。</p>

<h3>澀</h3>
<p>澀為陽氣有餘，氣盛則血少，故脈蹇滯，而肺脈宜之。《脈訣》言指下尋之似有，舉之全無，《脈經》所云，絕不相干。又曰：細而遲短往來難，短且散，一止復來，參互不調，如輕刀刮竹，如雨沾沙，如病蠶食葉。又曰：細遲短散，時一止曰澀，極細而軟，重按若絕曰微，浮而柔細曰濡，沉而柔細曰弱。</p>
<p>主病　澀主血少傷精，反胃，亡陽多汗，營中寒濕，入營血痹，婦人非孕即無經。寸澀主心傷胸痛，關則胃虛脅脹，尺為精血俱傷，腸結溲淋，或為下血。又曰：澀主血少傷精之病，女人有孕為胎病，無孕為敗血。杜氏曰：澀脈獨見尺中，形同代，為死脈。</p>

<h3>大</h3>
<p>脈形寬大有力為洪，大而無力為虛。</p>
<p>主病　大則病進，為元氣之賊，浮大表病，沉大里病，惟緩而大，則為正脈也。</p>

<h3>緩</h3>
<p>緩脈小駃於遲，一息四至，如絲在經，不卷其軸。應指和緩，往來甚勻，如初春楊柳舞風之象，如風輕沾柳梢，緩脈在卦為坤，在時為四季，在人為脾，陽主陰尺上下同等。浮大而軟，無有偏勝者，平脈也。若非其時，則為有病，緩而和平，不浮不沉，不徐不疾者，即有胃氣。故杜氏云：欲知死期何以取，先賢推定五般土，陽土須知不過陰，陰土過陰當細數。</p>
<p>主病　緩脈主營氣衰，衛氣有餘，或風或濕或脾虛，上主項強，下主痿痹，寸緩主項背拘攣，關主風暈，胃家虛弱，尺主濡泄，或風秘，腳弱無力。又曰：浮緩為風，沉緩為濕，緩大風虛，緩細濕痹，緩澀脾虛，緩弱風氣，《脈訣》言緩主脾熱，口臭，反胃齒痛，夢鬼之病，出自杜撰，與緩無關。</p>

<h3>芤</h3>
<p>浮大而軟，按之中空兩邊實。又曰：中空外實，狀若慈蔥。劉氏云：芤脈何似，絕類慈蔥，指下成窟，有邊無中。戴氏云：營行脈中，脈以血為形，芤脈中空，脫血之象也。又曰：芤形浮大軟如蔥，按之旁有中央空，火犯陽經血上溢，熱侵陰絡下流紅。《脈經》云：三部芤脈，長病得之生，卒病得之死。《脈訣》云：兩頭有，中間無，是脈斷絕矣。又言：主淋澀，氣入小腸，與失血之候相反，誤世不小。</p>
<p>主病　寸主胸中積熱，關主腸內生癰，尺主下血赤淋，紅痢崩中。</p>

<h3>濡</h3>
<p>濡脈極軟而浮細，如帛在水中，輕手相得，按之無力，如水上浮漚，謂如帛浮水中，重手按之，隨手沒之象，《脈訣》按之似有，舉之還無，是微脈，非濡也。又曰：濡形浮細按須輕，水面浮綿力不禁，病後產中猶有藥，平人若見是無根。浮細而如綿曰濡，沉細如綿曰弱，浮而極細曰微，沉而極細不斷曰細。</p>
<p>主病　濡主亡血陰虛，丹田髓已虧，盜汗血崩，濕氣侵脾，寸濡主陽微自汗，關主氣虛，尺主傷精脫血寒甚，法宜溫補，大都濡主血虛之病，又為傷濕。</p>

<h3>弱</h3>
<p>極軟而沉，按之乃得，舉手全無。又曰：弱乃濡之沉者。《脈訣》言黎氏譬如浮漚，皆是濡，非弱也。《素問》曰：脈弱以滑，是有胃氣，脈弱以澀，是為久病，病後老弱見之順，平人少年見之逆。又曰：弱來無力按之柔，柔細而沉不見浮，陽陷入陰精血弱，白頭猶可少年愁。</p>
<p>主病　弱脈主陰氣虛，陽氣衰，惡寒發熱，筋骨痿軟，多驚多汗，精神減少，法當益氣調營。寸主陽虛，關主胃弱脾衰，尺主陽陷陰虛。又曰：弱主氣虛之病，仲景曰：陽陷入陰，故惡寒發熱。又曰：弱主筋，沉主骨，陽浮陰弱，血虛筋急。柳氏曰：氣虛則脈弱，寸弱陽虛，尺弱陰虛，關弱胃氣虛。</p>

<h3>虛</h3>
<p>遲大而軟，按之無力，隱指豁豁然空。崔氏曰：形大力薄，其虛可知。《脈決》言尋之不足，舉之有餘，止言浮脈，不見虛狀。楊氏曰：狀似柳絮，散慢而遲。滑氏言：散大而濡皆散脈，非虛也。又曰：舉之遲大按之松，脈狀無涯類谷空，莫把芤虛為一例，芤遲浮大似慈蔥。又曰：虛脈浮大而遲，按之無力，芤脈浮大，按之中空，芤主脫血，虛主血虛。</p>
<p>主病　脈虛身熱，主傷暑自汗，怔忡驚悸，陰虛發熱，法當養營益衛。寸主血不營心，關主腹脹少食，尺主骨蒸痹痿，傷精脫血。經曰：血虛脈虛，氣來虛微為不及，病在內，曰：久病脈虛者死。</p>

<h3>細</h3>
<p>細脈小人於微，而常有，細直而軟，若絲線之應指，《素問》謂之小，王氏言如莠蓬，狀其柔也。《脈訣》言往來極微，是微反大於細矣，與經相背又曰：細來累累細如絲，應指沉沉無絕期，春夏少年俱不利，秋冬老弱卻相宜。</p>
<p>主病　細主血弱氣衰，諸虛百損，七情六極，非濕侵腰腎，則傷精汗血。寸主嘔吐，關主膨脹，胃虛，尺主丹田冷。泄痢遺精，陰血耗奪。《脈經》言細為血少氣衰，有此證則順，否則逆，故吐衄脈得沉細者生，憂勞過度者，脈亦細。</p>

<h3>結</h3>
<p>結脈往來緩，時一止復來。《脈訣》言：或來或去，聚而卻還，與結無關。仲景有累累如循長竿曰陰結，藹藹如車蓋曰陽結。《脈經》又有如麻子動搖，旋引旋收，聚散不常者曰結，主死。此三脈名同實異也。又曰：結脈緩而時一止，獨陰偏勝欲亡陽，浮為氣滯沉為積，汗下分明在主張。</p>
<p>主病　結脈主血凝氣滯，老痰結滯內積，外癰腫疝。又曰：結主陰盛之病，越人曰：結甚則積甚，結微則積微，浮結外有痛積，伏結內有積聚。</p>

<h3>代</h3>
<p>代脈動而中止，不能自還，困而復動，脈至還入尺，良久方來，脈一息五至，肺心脾肝腎五臟之氣，皆是五十動而一息，合大衍之數，謂之平脈，反此則止，代乃見焉，腎氣不能至，則四十動一止。肝氣不能止，則三十動一止。蓋一臟之氣衰，而他臟之氣代至也。經曰：代則氣衰。滑氏曰：若無他病，羸瘦脈代者，危脈也。有病而氣血乍損，氣不能續者，只為病脈，傷寒心悸脈代者，復脈湯主之，妊娠脈代者，其胎百日，代之生死，不可不辨。李氏括曰：數時一止名為促，緩止須將結脈看，止不能回方是代，結生代死自殊塗。又曰：促結之止無常數，或二動三動一止即來，代脈之止有常數，必依數而止，還入天中，良久方來也。</p>
<p>主病　代脈先因臟氣衰，腹痛泄痢下元虧，或為吐瀉中焦病，女子懷胎三月分。《脈經》曰：代散者死，主泄及膿血。</p>

<h3>促</h3>
<p>促脈定息，數時一止復來，如蹶之趣，徐疾不常。《脈經》但言數而止為促，《脈訣》乃云並居寸口，不言時止者，謬矣。數止為促，緩止為結，何獨寸口哉？李氏曰：促脈數時來一止，此為陽極欲亡陰，三焦鬱火炎炎盛，焦必無生退可生。</p>
<p>主病　促脈惟將火病醫，其因有五細推之，時時喘咳皆痰積，或發狂斑與毒疽。又曰：促主陽盛之病，促結之因，皆有氣血痰食飲，五者之別，一有留滯，則脈見止也。</p>

<h3>弦</h3>
<p>弦脈端直以長，如張弓弦，按之不移，綽綽如按琴瑟弦，狀若箏弦，從中直過，挺然指下。弦脈在卦為震，在時為春，在人為肝，輕虛以滑者平，實滑如尋長竿者病，勁急如新張弓弦者死。池氏曰：弦緊而數勁為太過，弦緊而細為不及。戴氏曰：弦而軟，其病輕，弦而硬，其病重。《脈訣》言：時時帶數，又曰：脈緊狀繩牽，皆非弦象，今削之。又曰：土衰木旺，多怒欲叫，睛翳淚出。李氏曰：弦來端直似絲絃，緊則如繩左右彈，緊言其力弦言象，牢緊弦長沉伏間。</p>
<p>主病　弦為肝膽之脈，主痰飲，寒熱瘧疾，又主血弱勞傷，胃虛停飲，骨脅疼痛，肢體拘急，多驚，單絃病輕，雙弦病急，寸弦頭痛多痰，左關弦主寒熱癥瘕，右弦主胃寒，心腹痛，尺主陰痃。腳疾拘攣。又曰：弦為木盛之病，浮弦痰飲外溢，沉弦懸飲內痛，瘧脈自弦，弦數多熱，弦遲多寒，弦大主虛，弦細拘急，陽弦頭痛，陰弦腹痛，單絃飲癖，雙弦寒痼，若不食者，木來剋土，病必難治。</p>

<h3>緊</h3>
<p>緊脈來往有力，左右彈人指，如轉索無常數，如切繩，如紉單線。又曰：緊乃熱，如為寒束之脈，故急數如此，要有神氣。《素問》謂之急，《脈訣》言寥寥入尺來，崔氏言如線，皆非緊狀，或以浮緊為弦，沉緊為牢，亦近似耳。又曰：舉如轉索如切繩，脈象因之得緊名，總是寒邪來作寇，內為腹痛外身疼。</p>
<p>主病　緊主諸痛，為寒，喘咳，風癇冷痰，浮緊表寒，沉緊裡寒，人迎緊盛傷寒，氣口緊盛傷食，關主心腹疼痛，尺主陰冷奔豚疝病。又曰：浮緊中惡，沉緊咳嗽。</p>

<h3>實</h3>
<p>實脈浮沉皆得脈大而長，微弦，應指愊愊然，愊愊，緊實貌。《脈訣》言：如繩應指來，乃緊脈，非實也。又曰：浮沉皆得大而長，應指無常愊愊強，熱蘊三焦成壯火，通腸發汗始能康。又曰：實脈浮沉有力強，緊如彈索轉無常，須知牢脈掣筋骨，實大微弦更帶長。</p>
<p>主病　實脈為陽火鬱盛，發狂譫語，吐頻頻，為陽毒，或傷食大便不通，或氣痛。寸實主面赤生風，咽痛舌強，骨中氣寒。關主脾熱腹滿，尺主腹腰腸間痛而不通。經曰：血實脈實，曰脈實者，水穀為病。曰氣來實強，是為大過。《脈訣》言尺實，小便不禁，與脈尺實，小腹痛，小便難之證相反。潔古不知其謬，以為虛寒用薑、附，愈誤矣。</p>

<h3>長</h3>
<p>長脈不大不小，迢迢若如循長竿末梢為平，如引繩，如循長竿，曰病。又曰：長有三部之長，一部之長，在時為春，在人為肝，心肝長，神強氣壯，腎脈長，蒂固根深。經曰：長則氣治，皆言平脈也。又曰：過於本位脈名長，弦則非然但滿張，弦脈與長爭較遠，良工尺度自能量，實牢弦緊，皆兼長脈。</p>
<p>主病　長脈迢迢大小勻，反常為病似牽繩，若非陽毒癲癇病，即是陽明熱勢深，大都長主有餘之病。</p>

<h3>洪</h3>
<p>洪脈指下極大，來盛去衰。洪脈在卦為離，在時為夏，在人為心。《素問》謂之大，亦曰鉤。滑氏曰：來盛去衰，如鉤之曲，上覆而下，應血脈來去之象，象萬物敷布下垂之狀。詹氏謂如環珠者非也。《脈訣》云：季夏宜之，秋季冬季發汗通陽，俱非洪脈所宜，蓋謬也。李氏曰：脈來洪盛去還衰，滿指湧湧應夏時，若在春秋冬月分，升陽散火莫狐疑。又曰：洪脈來時拍拍然，去衰來盛似波瀾，欲知實脈參差處，舉按弦長愊愊堅。</p>
<p>主病　脈洪陽盛血應虛，相火炎炎熱病居，脹滿胃翻須早治，陰虛泄痢可愁如，寸洪心火上焦炎，肺脈洪時金不堪，肝火內虛關內察，腎虛陰火尺中看。又曰：洪主陽盛陰虛之病，泄痢失血久嗽者，忌之。經曰：形瘦脈大，多氣者死。又曰：大則病進。</p>

<h3>微</h3>
<p>微脈極細而軟，按之如欲絕，若有若無，細而稍長。《素問》謂之小，氣血微則脈微。又曰：輕診可見，按之欲絕者，微也。往來如線而常有者，細也。仲景曰：脈瞥瞥如羹上肥者，陽氣微，縈縈如蛛絲細者，陰氣衰，長病得之死，卒病得之生。</p>
<p>主病　氣血微兮脈亦微，惡寒發熱汗淋漓，胃為勞極諸虛候，女作崩中帶下醫。寸微氣促或心驚，關脈微時脹滿形，尺部見之精血弱，惡寒消痹痛呻吟。又曰：微主久虛血弱之病，陽微惡寒，陰微發熱。《脈訣》云：崩中日久成白帶，漏下多時骨木枯。</p>

<h3>動</h3>
<p>動乃數脈，見於上下，無頭無尾如豆，厥厥動搖。仲景曰：陰陽相摶，名曰動。陽動則汗出，陰動則發熱形冷惡寒，此三焦傷也。成無己曰：陰陽相摶則虛者動，故陽虛則陽動，陰虛則陰動。龐氏曰：關前三分為陽，關後三分為陰，當關之位，半陰半陽，故動由虛見。又曰：動脈搖搖數在關，無頭無尾豆形圓，其源本是陰陽戰，虛者補之勝者安。《脈訣》言尋之似有，舉之還無，不離其處，不往不來，兩關數見，含糊謬妄，殊非動脈。詹氏言其形數動，如鉤如毛者尤謬。</p>
<p>主病　動脈專司痛與驚，汗因陽動熱因陰，或為泄痢拘攣病，男子亡精女子崩。</p>

<h3>牢</h3>
<p>牢脈似沉似伏，實大而長，微弦。扁鵲曰：牢而長者，肝木也。仲景曰：寒則牢堅，有牢固之象。沈氏曰：似沉似伏，牢之位也，實大弦長，牢之體也。《脈訣》不言形狀，但言尋之則無，按之則有，云脈入皮膚辨息難，又以牢為死脈，皆孟浪謬誤。李氏曰：弦長實大脈牢堅，牢位長居沉伏間，革脈芤弦自牢起，革虛牢實要詳看。</p>
<p>主病　寒則牢堅里有餘，腹心寒痛木乘脾，疝氣癥瘕何愁也，失血陰虛卻忌之。又曰：牢主寒實之病，木實則為痛。扁鵲云：軟為虛，牢為實，失血者，脈宜沉細，反浮大而牢者死。虛病見實脈死。《脈訣》言骨間疼痛，氣居於表。池氏以為腎傳於脾，皆謬妄不經之說。</p>

<h3>散</h3>
<p>散脈大而散，有表無里，渙漫不收，無統紀無拘束，至數不齊，或多來少去，或去多來少，渙漫不收，如楊花散漫之象。又曰：散似楊花散漫飛，去來無定至難齊，產為生兆胎為墮，久病逢之不必醫。戴氏曰：心脈浮大而散，肺脈短澀而散，平脈也。心脈軟散怔忡，肺脈軟散汗出，肝脈軟散溢飲，脾脈軟散胻腫，病脈也。若腎脈軟散，諸病脈代散，死脈也。《難經》曰：散脈獨見則危。柳氏曰：散為氣血俱虛，根本脫離之脈，產婦得之生，孕婦得之墮。李氏曰：散脈無拘散漫然，濡來浮細水中綿，浮而遲大為虛脈，芤脈中空有兩邊。</p>
<p>主病　左寸怔忡右寸汗，溢飲左關應散漫，右關軟散胻胕腫，散居兩尺魂應斷。</p>

<h3>診壽數</h3>
<p>戴氏曰：脈必滿十動，出自《難經》。而《脈訣》五臟歌，皆以四十五動為準，乖於經旨。柳氏曰：古以動數候脈，是吃緊語，須候五十動，乃知至數缺失，今人指到脘臂，即云見了，夫曰五十動，豈彈指間事耶？故學者，當診脈、問證、聽聲、觀色，斯備四診而無失。</p>
<p>五十不止身無病，數內有止皆知定。四十一止一臟絕，四年之後多亡命。三十一止即三年，二十一止二年應。十動一止一年殂，更觀氣色兼形證。</p>
<p>兩動一止三四日，三四動止應六七，五六一止七八朝，次第推之自無失。</p>

<h2>五臟六腑用藥氣味補瀉</h2>
<p>肝膽（溫補涼瀉，辛補酸瀉。）　心小腸（熱補寒瀉，酸補甘瀉。）　肺大腸（涼補溫瀉，酸補辛瀉。）　腎膀胱（寒補熱瀉，苦補咸瀉。）　脾胃（溫熱補寒涼，瀉各從其宜，甘補苦瀉。）　三焦命門同心。</p>
<p>張元素曰：五臟更相平也，一臟不平，所勝平之，故云安穀則昌，絕谷則亡。水去則營散，谷消則衛亡，神無所居，故血不可不養，衛不可不溫，血溫氣和，營衛乃行，常有天命。</p>

<h2>五臟五味補瀉</h2>
<p>肝　苦急，急食甘緩之。（甘草）　以酸瀉之，（赤芍藥）　實則瀉其子。（甘草）　欲散，急食辛以散之，（川芎）　以辛補之，（細辛）　虛則補其母。（地黃、黃柏）</p>
<p>心　苦緩，急食酸以收之，（五味子）　以甘瀉之，（甘草、黃耆）　實則瀉其子。（甘草）　欲軟，急食鹹以軟，（芒硝）　以咸補之，（澤瀉）　虛則補其母。（生薑）</p>
<p>脾　苦濕，急食苦以燥之，（白朮）　以苦瀉之，（黃連）　實則瀉其子。（桑白皮）　欲緩，急食甘以緩之，（炙甘草）　以甘補之，（人參）　虛則補其母。（炒鹽）</p>
<p>肺　苦氣逆，急食苦以泄之，（訶子）　以辛瀉之（桑白皮）　實則瀉其子。（澤瀉）　欲收，急食酸以收之，（白芍藥）　以酸補之，（五味子）　虛則補其母。（五味子）</p>
<p>腎　苦燥，急食辛以潤之，（黃柏、知母）　以咸瀉之，（澤瀉）　實瀉其子。（芍藥）　欲堅，急食苦以堅之，（知母）　以苦補之，（黃柏）　虛則補其母。（五味子）</p>
<p>張元素曰：凡藥之五味，隨五臟所入而為補瀉，亦不過因其性而調之。酸入肝，苦入心，甘入脾，辛入肺，鹹入腎。辛主散，酸主收，甘主緩，苦主堅，咸主軟。辛能散結潤燥，致津液通氣，酸能收緩斂散，甘能緩急調中，苦能燥濕堅軟，咸能軟堅，淡能利竅。李氏曰：甘緩咸收，苦燥辛散，咸軟淡滲，五味之本性，一定而不變者也。其或補或瀉，則因五臟四時而迭相施用者也，溫涼寒熱四時之本性也，其於五臟補瀉亦迭相用也。此特潔古張氏因《素問》飲食補瀉之義，舉數藥以為例耳，學者宜因意而充之。</p>

<h2>臟腑虛實標本用藥式</h2>
<p>肝藏血屬木，膽火寄於中，主血、主目、主筋、主呼、主怒。</p>
<p>本病：諸風眩運僵仆，強直瘋癇，兩脅腫痛，胸脅滿痛，嘔血，小腹疝痛，痃瘕，女人經病。</p>
<p>標病：寒熱瘧，頭痛吐涎，目赤面青，多怒耳閉，頰腫筋攣卵縮，丈夫㿗疝，女人少腹腫痛，陰病。</p>

<h3>有餘瀉之</h3>
<p>瀉子　甘草</p>
<p>行氣　香附　芎藭　瞿麥　牽牛　橘皮</p>
<p>行血　紅花　鱉甲　桃仁　莪朮　京三稜　穿山甲　大黃　水蛭　虻蟲　蘇木　牡丹皮</p>
<p>鎮驚　雄黃　金箔　硃砂　真珠　代赭石　夜明砂　胡粉　銀箔　鉛丹　龍骨　石決明</p>
<p>搜風　羌活　荊芥　薄荷　槐子　蔓荊　白花蛇　蟬蛻　防風　皂角　烏頭　白附子　殭蠶　獨活</p>

<h3>不足補之</h3>
<p>補母　枸杞　杜仲　狗脊　熟地黃　苦參　萆薢　阿膠　菟絲子</p>
<p>補血　當歸　牛膝　續斷　白芍　血竭　沒藥　芎藭</p>
<p>補氣　天麻　柏子仁　白朮　菊花　細辛　蜜蒙花　決明　穀精草　生薑</p>

<h3>本熱寒之</h3>
<p>瀉木　芍藥　烏梅　澤瀉</p>
<p>瀉火　黃連　黃芩　龍膽草　苦茶　豬膽</p>
<p>攻裡　大黃</p>

<h3>標熱發之</h3>
<p>和解　柴胡　半夏</p>
<p>解肌　桂枝　麻黃</p>
<p>心藏神為君火，包絡為相火，代君行令，主血主言，主汗主笑。</p>
<p>本病：諸熱瞀瘈驚，或譫語煩亂，啼笑罵詈，怔忡健忘，自汗，諸痛癢瘡瘍。</p>
<p>標病：肌熱惡寒戰慄，舌不能言，面赤目黃，心煩熱，胸脅滿，痛引腰背肘臂。</p>

<h3>火實瀉之</h3>
<p>瀉子　黃連　大黃</p>
<p>氣　甘草　人參　赤茯苓　木通　黃柏</p>
<p>血　丹參　丹皮　玄參　生地黃</p>
<p>鎮驚　硃砂　牛黃　紫石英</p>

<h3>神虛補之</h3>
<p>補母　細辛　烏梅　酸棗仁　陳皮　生薑</p>
<p>氣　桂心　澤瀉　白茯苓　伏神　遠志　石菖蒲</p>
<p>血　當歸　乳香　沒藥　熟地黃</p>

<h3>本熱寒之</h3>
<p>瀉火　黃芩　竹葉　麥冬　硃砂　炒鹽</p>
<p>涼血　地黃　梔子　天竹黃</p>

<h3>標熱發之</h3>
<p>散火　甘草　獨活　麻黃　柴胡　龍腦</p>
<p>脾藏智屬土，為萬物之母，主營衛，主五味，主肌肉，主四肢。</p>
<p>本病：諸濕腫脹，痞滿噯氣，大小便閉，黃疸痰飲，吐瀉霍亂，心腹痛，飲食不化。</p>
<p>標病：身體胕腫，重困嗜臥，四肢不舉，舌本強痛，九竅不通。</p>

<h3>土實瀉之</h3>
<p>瀉子　訶子　防風　葶藶　桑白皮</p>
<p>吐　豆豉　梔子　蘿蔔子　常山　瓜蒂　鬱金　韭汁　藜蘆　苦參　赤小豆　鹽湯　苦茶</p>
<p>下　大黃　芒硝　青蒙石　大戟　甘遂　續隨子　芫花</p>

<h3>土虛補之</h3>
<p>氣　人參　黃耆　升麻　葛根　甘草　陳皮　藿香　葳蕤　縮砂　木香　扁豆</p>
<p>血　白朮　蒼朮　白芍　膠飴　大棗　乾薑　木瓜　烏梅　蜂蜜</p>

<h3>本濕除之</h3>
<p>燥中宮　白朮　蒼朮　桔皮　半夏　吳茱萸　南星　黃豆蔻　白芥子</p>
<p>燥淨府　木通　赤茯苓　豬苓　藿香</p>

<h3>標濕滲之</h3>
<p>開鬼門　葛根　蒼朮　麻黃　獨活</p>
<p>肺藏魄屬金，總攝一身元氣，主聞、主哭、主皮毛。</p>
<p>本病：諸氣憤郁，諸痿，喘嘔氣促，咳嗽上逆，咳唾膿血，下利清水，便數而久，遺失不禁。</p>
<p>標病：灑淅寒熱，傷風自汗，肩背痛冷，臑前廉痛。</p>

<h3>氣實瀉之</h3>
<p>瀉子　澤瀉　葶藶　桑白皮　地骨皮</p>
<p>除濕　半夏　白礬　白茯苓　薏苡仁　木瓜　橘皮</p>
<p>瀉火　粳米　石膏　寒水石　知母　訶子</p>
<p>通滯　枳殼　薄荷　乾薑　木香　厚朴　杏仁　皂莢　桔梗　蘇梗</p>

<h3>氣虛補之</h3>
<p>補母　甘草　人參　黃耆　升麻　山藥</p>
<p>潤燥　蛤蚧　阿膠　麥門冬　貝母　天門冬　百合　天花粉</p>
<p>斂肺　烏梅　粟殼　五味子　芍藥　五倍子</p>

<h3>本熱清之</h3>
<p>清金　黃芩　知母　麥冬　梔子　紫菀　天冬　沙參</p>

<h3>本寒溫之</h3>
<p>溫肺　丁香　藿香　款冬花　檀香　白豆蔻　益智　縮砂　糯米　百合</p>

<h3>標寒散之</h3>
<p>解表　麻黃　蔥白　紫蘇</p>
<p>腎藏智屬水，為天一之源，主聽、主骨、主二陰。</p>
<p>本病：諸寒厥逆，骨痿腰痛，腰冷如冰，足胻腫寒，小腹滿急，疝瘕，大便閉泄，吐利腥穢，水液澄徹，清冷不禁，消渴引飲。</p>
<p>標病：發熱不惡熱，頭眩頭痛，咽痛舌燥，脊股後廉痛。</p>

<h3>水強瀉之</h3>
<p>瀉子　大戟　牽牛</p>
<p>瀉腑　澤瀉　豬苓　車前子　防己　茯苓</p>

<h3>水弱補之</h3>
<p>補母　人參　山藥</p>
<p>氣　知母　玄參　補骨脂　砂仁　苦參</p>
<p>血　黃柏　枸杞　鎖陽　熟地黃　肉蓯蓉　山茱萸　阿膠　五味子</p>

<h3>本熱攻之</h3>
<p>下　傷寒少陰證，口燥咽乾，大承氣湯。</p>

<h3>本寒溫之</h3>
<p>溫里　附子　乾薑　官桂　蜀椒　白朮</p>
<p>解表　麻黃　細辛　獨活　桂枝</p>

<h3>標熱涼之</h3>
<p>清熱　玄參　連翹　甘草　豬膚</p>
<p>命門為相火之源，天地之始，藏精生血，降則為漏，升則為逆，主三焦元氣。</p>
<p>本病：前後癃閉氣逆，裡急疝痛，奔豚消渴，膏淋精漏，精寒，赤白濁，溺血，崩中，帶漏。</p>

<h3>火強瀉之</h3>
<p>瀉相火　黃柏　知母　牡丹皮　地骨皮　生地黃　茯苓　玄參　寒水石</p>

<h3>火弱補之</h3>
<p>益陽　附子　肉桂　益智　破故紙　沉香　角回香　川烏　硫黃　天雄　烏藥　陽起石　胡桃　巴戟天　丹砂　當歸　蛤蚧　覆盆子</p>

<h3>精脫固之</h3>
<p>澀滑　牡蠣　芡實　金櫻子　五味子　遠志　蛤粉　山茱萸肉</p>
<p>三焦為相火之用，分布命門元氣，主升降出入，遊行天地之間，總馭五臟六腑，營衛經絡，內外上下左右之氣，號中清之府，上主納，中主化，下主出。</p>
<p>本病：諸瞀瘈，暴病、暴死、暴喑、躁擾、狂越、譫妄、驚駭，諸血溢、血泄，諸氣逆衝上，諸瘡、瘍、痘、疹、瘤、核。</p>
<p>上熱則喘滿，諸嘔吐酸，胸痞脅痛，飲食不消，頭上出汗。</p>
<p>中熱則善飢而瘦，解㑊中滿，諸脹腹大，諸病有聲，鼓之如鼓，上下關格不通，霍亂吐利。</p>
<p>下熱則暴注下迫，水液混濁，下部腫滿，小便淋瀝或不通，大便閉結或下利。</p>
<p>上寒則吐飲食痰水，胸痹前後引痛，食已還出。</p>
<p>中寒則飲食不化，寒脹反胃吐水，濕瀉不渴。</p>
<p>下寒則二便不禁，臍腹冷，疝痛。</p>
<p>標病：惡寒戰慄，如喪神守，耳鳴耳聾，嗌腫喉痹諸病，胕腫疼酸，驚駭，手小指次指不用。</p>

<h3>實火瀉之</h3>
<p>汗　麻黃　柴胡　葛根　荊芥　升麻　薄荷　羌活　石膏</p>
<p>上　瓜蒂　滄鹽　韭汁</p>
<p>下　大黃　芒硝</p>

<h3>虛火補之</h3>
<p>上　人參　天雄　桂心</p>
<p>中　人參　黃耆　丁香　木香　草果</p>
<p>下　附子　桂心　硫黃　人參　沉香　烏梅　破故紙</p>

<h3>本熱寒之</h3>
<p>上　黃芩　連翹　梔子　知母　玄參　石膏</p>
<p>中　黃連　連翹　石膏　生地黃</p>

<h3>標熱散之</h3>
<p>解表　柴胡　細辛　荊芥　羌活　葛根　石膏</p>
<p>膽屬木，為少陽相火，發生萬物，為決斷之官，十一臟之主，主同肝。</p>
<p>本病：口苦嘔苦汁，善太息，澹澹如人將捕狀，目昏不眠。</p>
<p>標病：寒熱往來，痁瘧胸脅痛，頭額痛，耳痛鳴聾，瘰癧結核馬刀，足小指次指不用。</p>

<h3>實火瀉之</h3>
<p>瀉膽　龍腦　牛膽　豬膽　生蕤仁　生酸棗仁　黃連　苦茶</p>

<h3>虛火補之</h3>
<p>溫膽　人參　細辛　半夏　炒蕤仁　炒酸棗仁　當歸　地黃</p>

<h3>本熱平之</h3>
<p>降火　黃連　黃芩　芍藥　連翹　甘草</p>
<p>鎮驚　黑鉛　水銀</p>

<h3>標熱和之</h3>
<p>和解　柴胡　芍藥　黃芩　半夏　甘草</p>
<p>胃屬土，主容受，為水穀之海。主同脾</p>
<p>本病：噎膈反胃，中滿腫脹，嘔吐瀉痢，霍亂腹痛，消中善飢，不消食，傷飲食，胃管當心痛，走兩脅。</p>
<p>標病：發熱蒸蒸，身前熱，寒熱發狂譫語，咽痹上齒痛，口眼喎斜，鼻痛鼽衄赤齄。</p>

<h3>胃實瀉之</h3>
<p>濕熱　大黃　芒硝</p>
<p>飲食　巴豆　神麯　山楂　阿魏　硇砂　鬱金　輕粉　三稜</p>

<h3>胃虛補之</h3>
<p>濕熱　蒼朮　白朮　半夏　茯苓　橘皮　生薑</p>
<p>寒濕　乾薑　附子　草果　官桂　丁香　白豆蔻</p>

<h3>本熱寒之</h3>
<p>降火　石膏　地黃　犀角　黃連</p>

<h3>標熱解之</h3>
<p>解肌　升麻　葛根　豆豉</p>
<p>大腸屬金，主變化，為傳送之官。</p>
<p>本病：大便閉結，泄痢下血，裡急後重，疽痔脫肛，腸鳴而痛。</p>
<p>標病：齒痛喉痹，頸腫口乾，咽中如核，鼽衄目黃，手大指次指痛，宿食，發熱寒慄。</p>

<h3>腸實瀉之</h3>
<p>熱　大黃　芒硝　槐花　牽牛　巴豆　郁李仁</p>
<p>氣　枳殼　木香　橘皮　檳榔</p>

<h3>腸虛補之</h3>
<p>氣　皂莢</p>
<p>燥　桃仁　麻仁　杏仁　地黃　乳香　松子　當歸　肉蓯蓉</p>
<p>濕　白朮　蒼朮　半夏　硫黃</p>
<p>陷　升麻　葛根脫　龍骨　白堊　訶子　粟殼　烏梅　白礬　赤石脂　禹餘糧　石榴皮</p>

<h3>本熱寒之</h3>
<p>清熱　秦艽　槐角　地黃　黃芩</p>

<h3>本寒溫之</h3>
<p>溫里　附子　乾薑　肉豆蔻</p>

<h3>標熱散之</h3>
<p>解肌　石膏　白芷　升麻　葛根</p>
<p>小腸，主分泌水穀，為受盛之官。</p>
<p>本病：大便水穀利，小便短，小便閉，小便血，小便自利，大便後血，小腸氣痛，宿食，夜熱旦止。</p>
<p>標病：身熱惡寒，嗌痛頷腫，口糜耳聾。</p>

<h3>實熱瀉之</h3>
<p>氣　木通　豬苓　滑石　瞿麥　澤瀉　燈草</p>
<p>血　地黃　蒲黃　赤茯苓　梔子　牡丹皮</p>

<h3>虛寒補之</h3>
<p>氣　白朮　楝實　茴香　砂仁　神麯　扁豆</p>
<p>血　桂心　玄胡索</p>

<h3>本熱寒之</h3>
<p>降火　黃柏　黃芩　黃連　連翹　梔子</p>

<h3>標熱散之</h3>
<p>解肌　藁本　羌活　防風　蔓荊</p>
<p>膀胱主精液，為胞之府，氣化乃能出，號州都之官，諸病皆干之。</p>
<p>本病：小便淋瀝，或短數，或黃赤，或白，或遺矢，或氣痛。</p>
<p>標病：發熱惡寒，頭痛腰脊強，鼻窒，足小趾不用。</p>

<h3>實熱瀉之</h3>
<p>瀉火　滑石　豬苓　澤瀉　茯苓</p>

<h3>下虛補之</h3>
<p>熱　黃柏　知母</p>
<p>寒　桔梗　升麻　益智　烏藥　山茱萸</p>

<h3>本熱利之</h3>
<p>降火　地黃　梔之　茵陳　黃柏　牡丹皮　地骨皮</p>

<h3>標寒發之</h3>
<p>發表　麻黃　桂枝　羌活　蒼朮　防己　黃耆　木賊</p>

<h3>引經報使</h3>
<p>手少陰心經（黃連、細辛）　手太陽小腸（藁本、黃柏）</p>
<p>足少陰腎（獨活、知母、桂枝、細辛）　足太陽膀胱（羌活）　手太陰肺（桔梗、白芷、升麻、蔥白）</p>
<p>手陽明大腸（白芷、石膏、升麻）　足太陰脾（升麻、葛根、蒼朮、白芍）</p>
<p>足陽明胃（白芷、石膏、升麻、葛根）　手厥陰心胞絡（柴胡、牡丹皮、石膏）</p>
<p>足少陽膽（柴胡、青皮）　足厥陰肝（青皮、川芎、吳茱萸、柴胡）</p>
<p>手少陽三焦（連翹、柴胡、上地骨皮、中青皮、下附子）</p>

<h2>五味宜忌</h2>
<p>岐伯曰：木生酸，火生苦，土生甘，金生辛，水生咸。辛散，酸收，甘緩，苦堅，咸軟，而毒藥攻邪，五穀為養，五果為助，五畜為益，五菜為充，氣味合而服之，以補精益氣，此五味各有所利，四時五臟，病隨所宜也。又曰：陰之所生，本在五味，陰之五宮，傷在五味，骨正筋柔，氣血以流，腠理以密，骨氣以清，長有天命。又曰：聖人春夏養陽，秋冬養陰，以崇其根，二氣常存。春食涼，夏食寒，以養陽；秋食溫，冬食熱，以養陰。</p>
<p>五欲　肝欲酸，心欲苦，脾欲甘，肺欲辛，腎欲咸，此五味合五臟之氣也。青色宜酸，肝病宜食麻、犬、李、韭。赤色宜苦，心病宜食麥、羊、杏、薤。黃色宜甘，脾病宜食粳、牛、棗、葵。白色宜辛，肺病宜食黃、黍、雞、桃、蔥。黑色宜咸，腎病宜食大豆黃卷、豬、慄、藿。</p>
<p>五禁　肝病禁辛，宜食甘、粳、牛、棗、葵。心病禁咸，宜食酸，麻、犬、李、韭。脾病禁酸，宜食苦，大豆、豕、慄、藿。肺病禁苦，宜甘、麥、羊、杏、薤。腎病禁甘，宜食辛、黃黍、雞、桃、蔥。思邈曰：春宜省酸增甘，以養脾，夏宜省苦增辛以養肺，秋宜省辛增酸以養肝，冬宜省咸增苦以養心，四季宜省甘增咸以養腎。時珍曰：五欲者，五味入胃，喜歸本臟，有餘之，病宜本味通之。五禁者，五臟不足之，病畏其所勝而宜其所不勝也。</p>
<p>五走　酸走筋，筋病毋多食酸，多食令人癃，酸氣澀，收胞得酸而縮卷，故水道不通也。苦走骨，骨病毋多食苦，多食令人變嘔，苦入下脘三焦皆閉，故變嘔也。甘走肉，肉病毋多食甘，多食令人悗心，甘氣柔潤胃柔則緩，緩則蟲動，故悗心也。辛走氣，氣病毋多食辛，多食令人恫心，辛動上焦與氣俱行，久留心下故恫心也。咸走血，血病毋多食鹹，多食令人渴，血與咸相得則凝，凝則胃汁注之，故咽路焦而舌本強。</p>
<p>五傷　酸傷筋，辛勝酸；苦傷氣，咸勝苦；甘傷肉，酸勝甘；辛傷皮毛，苦勝辛；咸傷血，甘勝咸。</p>
<p>五過　味過於酸，肝氣以津脾氣乃絕，肉胝傷䐢而唇揭。味過於苦，脾氣不濡胃氣乃厚，皮槁而毛拔。味過於甘，心氣喘滿色黑腎氣不平，骨痛而發落。味過於辛，筋脈沮絕，精神乃失，筋急而爪枯。味過於咸，大骨氣勞短肌心氣抑脈凝澀，而變色。時珍曰：五走五傷者，本臟之味自傷也。即陰之五官傷在五味也。五過者本臟之味，伐其所勝也。即臟氣偏勝也。</p>

<h2>五味偏勝</h2>
<p>岐伯曰：五味入胃，各歸所喜。酸先入肝，苦先入心，甘先入脾，辛先入肺，咸先入腎，久而增氣，物化之常，氣增而久，夭之由也。</p>
<p>王冰曰：入肝為溫，入心為熱，入肺為清，入腎為寒，入脾為至陰，而四氣兼之，皆為增其味，而益其氣。故各從其臟之氣久則從化，故久服黃連、苦參，反熱從苦化也。餘味仿此氣不已，則臟氣偏勝必有偏絕，臟有偏絕必有暴夭，是以藥不具五味不備四氣而久服之。雖暫獲勝，久必致夭，故絕粒服餌者，不暴亡，無五味資助也。《易》曰：一陰一陽之謂道，偏陰偏陽之謂疾，陽劑剛勝積若燎原為消狂癰疽之屬，則天癸竭而營涸，陰劑柔勝積若凝水為洞泄寒中之病，則真火微而衛散，故大寒大熱之藥，當從權用之，氣平而止有所偏助，令臟氣不平，夭之由也。</p>

<h1>卷四</h1>

<h2>痰火灸法</h2>
<p>竊謂人之一身，隱僻奇異等疾，軒岐議究已備，華佗內照無遺矣。然攻病之法，每以針灸劫拔為言，而其藥餌之中，殊未言及，何也？蓋古人立法，病之輕淺者，則以丸散飲湯調治之。病之年久沉痼者，非針灸不解。以其針有劫奪之功，第見效者少。且今之針法，得妙者亦稀。若虛怯之體，倏致夭絕者有之，若灸法去病之功，難以枚舉。而其寒熱虛實，輕重遠近，無往不宜。蓋寒病得火而散者，猶烈日消冰，有寒隨溫解之義也；熱病得火而解者，猶暑極反涼，自火鬱發之之義也；虛病得火而壯者，猶火迫水而氣升，有溫補熱益之義也；實病得火而解者，猶火能消物，以實則瀉之之義也；痰病得火而解者，以熱則氣行，津液流通故也。所以灸法不虛人者，以一灼謂一壯，以壯人為法也。若年深痼疾，非藥力所能除，必借火力以攻拔之。諺云：火有拔山之力，豈虛語哉？若病欲除其根，則一灸勝於藥力多矣。但醫必擇其素熟經絡穴道者乃可，不爾，則差之毫釐，謬之千里，非徒無益，而反害之。豈以人命若草菅耶？然火之功用，固有挽回枯槁之妙，必其人肌肉尚未盡脫，元氣尚未盡虛，飲食能進者，乃能任此痛楚，灸後調理月餘，則病自除，而體自充。況假此一灸，使病者有所禁戒警惕，自是如法調理，是以一舉有兩得之妙。若肌體羸虛，元氣耗極，飲食不能進，則亦不能禁此燔灼，病必日劇，倘灸後病不得起，不惟無益，而反招病家之怨也。至囑至告。</p>

<h2>制艾法</h2>
<p>凡用艾葉須陳久者，治令細軟，謂之熟艾。若生艾灸火，則傷人肌脈。故孟子云：七年之病，求三年之艾，揀取淨葉，搗去塵屑，石臼中木杵搗熟，羅去渣滓，取白者再搗至柔爛如綿為度，用炷燥則灸火有力。</p>

<h2>取火法</h2>
<p>凡灸火者，宜用陽燧火珠，承日取太陽真火，其次鑽槐取火為良。若急卒難備，則真麻油燈或蠟燭火，以艾莖燒點於炷，滋潤灸瘡，至愈而不痛也。其戛金擊石鑽燧八木之火，皆不可用。邵子云：火無體，因物以為體，金石之火，烈於草木之火，是矣。八木者，松火難瘥；柏火傷神，多汗；桑火傷肌肉；柘火傷氣脈；棗火傷內消血；橘火傷營衛經絡；榆火傷骨失志；竹火傷筋損目也。</p>
<p>凡痰火骨蒸，癆瘵夢遺，盜汗傳屍等症，宜灸四花六穴，膏肓二穴，腎腧二穴，肺腧二穴，足三里二穴，手合谷二穴，或膻中穴，但得穴真，無不驗也。</p>

<h2>定四花六穴之法</h2>
<p>崔氏灸骨蒸癆瘵，初得此疾，即如此法灸之，無不效者。但醫多不得真穴，以致有誤。今具真格，使學者一見瞭然無誤。</p>
<p>先用細繩一條，約三四尺，以蠟抽之，勿令展縮，以病人腳底貼肉量，男取左足，女取右足，從足大拇指頭齊起，從腳板底當腳根中心，向後引繩，循腳肚貼肉直上，至膝脘曲又中大橫紋截斷。次令病人解發分開兩邊，全見頭縫，自囟門平分至腦後，乃平身正坐。取前所截繩子一頭，從鳩尾齊引繩向上，正循頭縫至腦後貼肉垂下，循脊骨引繩向下，至繩盡處當脊骨以墨點記，（此墨不是灸穴。）別以稻稈心，令病人合口，將稈心按於口上，兩頭至吻，卻勾起稈心中心至鼻端根下，如人字樣，齊兩吻截斷，將稈展直於先在脊中墨記處，取中橫量點之，此是灸穴，名曰患門二穴。初灸七壯，累灸至一百壯，妙。初只灸此二穴，次令其人平身正坐，稍縮臂膊，取一繩繞項向前，平結喉骨，骨平大杼骨，俱以墨點記，向前雙垂，下與鳩尾齊截斷，灸鳩尾穴，卻翻繩向後，以繩頭齊會處，以墨點記，（此亦不是灸穴。）別取稈心，令其人合口，無得動笑，橫量兩吻，截斷，還於背上墨記處，摺中橫量兩頭點之，此是灸穴。又將其稈心循脊直量，上下點之，此是灸穴，名曰四花穴。初灸七壯，累灸至百壯，迨瘡疾愈。依前法復灸至百壯，但當脊骨上兩穴，切宜少灸。凡一次只灸三五壯，多灸恐人蜷背。凡灸此穴，亦要灸足三里，以瀉火氣為妙。若婦人纏綿裹足，以至中短小，則第一次患門穴難以量准，但取右手肩髃穴貼肉量至中指為盡亦可，不若只取膏肓穴灸之，其穴備於後，次灸四花穴，亦效。予常見人初有此疾，即與依法灸之，無有不效，惟恐病根深痼，亦依此法灸之，亦有齊愈者，況初病者乎！</p>

<h2>《千金方》論取膏肓腧穴法</h2>
<p>膏肓腧穴，無所不治。主羸瘦虛損，夢中失精，上氣咳逆，狂惑失志等症。取穴之法，令人正坐，曲肘，伸兩手，以臂著膝前，令正直，手大指與膝頭齊，以物支肘，勿令臂得搖動，從胛骨上角摸索至胛骨下頭，其間當有二肋兩開，灸中間，依胛骨之裡，肋間深處是穴，骨容側指許，摩筋肉之表，肋骨空處按之，但覺牽引骨節動，須灸胛中各一穴，至六百壯，多至千壯，當覺氣下礱礱然如水狀，亦當有所下出，若無停痰宿飲，則無所下也。若病已困，不能正坐，當令側臥挽一臂，同前灸之也。求穴大較，以右手從左肩住指頭，表所不及者是也。左手亦然，乃以前法灸之。若不能正坐，但伸兩臂亦可，伏衣幞上，伸兩臂令人挽兩胛骨，使相離，不爾，胛骨遮穴不可得也，所伏衣幞，當令大小常定，不爾則失其穴。此灸訖後，令人陽氣康盛，當消息以自補養，身體平復，其穴在五柱之上，四柱之下，橫去六寸許，相准望取之。</p>
<p>論曰：昔秦緩不救晉侯之疾，以在膏之下，肓之上，針藥所不及，即此穴也。孫真人笑其拙，不能求得此穴，所以宿疴難遣，若能用心得而灸之，無疾不愈矣。明載於此，學者仔細詳審，依法取之，無不得其真穴也。一法，醫者先自坐，以目平正，卻於壁上，以墨作一大圈，卻令患者正坐，常使其目視圈，無得斜視別處，此良法也，令灸人正坐，曲脊伸臂依法，醫者以指揣後脊骨一節為一寸，自一柱至五柱，逐一以墨點記，令上下端直分明，且人有頸骨者，亦有無者，當以平肩為一柱是也，以四柱至五柱，用稈心比量兩柱上下遠近，摺為三分，亦以墨點脊上柱間，取第四柱下二分微多，五柱上一分微少，用筆點定，橫過相去六寸之中，左右以為兩穴交下遠近之准，大要兩柱上下，合同身寸，一寸三分七釐微縮，有無大段長短不同以參者。《甲乙經》自大杼至尾骶骨作二十一柱，量三尺之數，分之若柱節分明，縱之尺寸不同，穴以柱數為定。若人肥大背厚，骨節難尋，當以平齊十四柱命門穴為準，上自大杼，下至命門，摺為一十四柱，每柱一寸三分，合其穴無不真也。</p>

<h3>取腎腧穴法</h3>
<p>令患人垂手正立，於平正木石之上，目無斜視，身無偏欹，去身上衣服，用切真杖從地，至臍中央截斷，卻回杖子於背上，當脊骨中杖盡處，即十四柱命門穴也。以墨記，卻用稈心取同身三寸，摺作一寸五分，兩頭即腎腧穴也。</p>

<h3>取肺腧法</h3>
<p>當脊下第三椎骨下凹中，以墨點記，各開一寸五分是穴。</p>

<h3>取膻中法</h3>
<p>胸前平乳當中一穴。</p>

<h3>取足三里穴法</h3>
<p>足三里二穴，在膝下三寸大筋內宛宛中。</p>

<h3>取合谷穴法</h3>
<p>合谷二穴，在虎口岐谷之間陷中。</p>

<h2>論點穴</h2>
<p>《千金》云：人有老少，體有長短，膚有肥瘦，皆須精思斟量，准而折之，又以肌肉文理節解縫會宛陷之中是，以手按之，病者快然，如此仔細安詳用心者，乃能得之爾。又云：或身短而手長，或身長而手短，成胸腹長，指胸腹短，或大或小，又不可以一概而論也。</p>
<p>凡點穴法，皆要平正，四體無使歪斜，灸時恐穴不正，徒壞好肉爾。若坐點則坐灸，臥點則臥灸，立點則立灸，反此，一動則不得真穴矣。凡灸先陽後陰，先上後下，先少後多，皆宜審之。</p>

<h2>論艾炷大小</h2>
<p>黃帝曰：灸不分三。是謂徒炷務大也，小弱也，乃小作之。凡小兒七日以上，周年以還，不過壯炷如雀糞大。經曰：凡灸，欲艾炷根下廣三分，使正氣不能遠達，病未能愈，則是炷欲大，惟頭與四肢欲小耳，但去風邪而已。</p>

<h2>論壯數多少</h2>
<p>《千金》云：凡言壯數者，若丁壯病根深篤，可倍於方數，老少怯弱，可減半。扁鵲灸法，有至百壯千壯。曹氏從治，有百壯大，十壯小，品方亦然。惟《明堂經》多雲：針入六分，灸三壯，更無餘論，故後人不準，惟因病之輕重而增損之。凡灸頭頂，止於七壯，積至七七壯止。如人若治風，則灸上星前頂百會，皆至一百壯，腹皆宜灸五百壯，若鳩尾巨闕亦不宜灸多，多則四肢細而無力，又足三里穴，乃云多至三二百壯，心腧不灸。若中急，灸至百壯，皆視其病輕重而用之，不可泥一說，而又不可不擇一說也。《內經》只云：若是禁灸穴，明堂亦許灸一壯至三壯，恐未盡也。所謂五百壯千壯，豈可一日而盡？必三五七日，以至三年五年，以盡其數，乃可得也。</p>

<h2>論忌避</h2>
<p>《千金》云：欲行針灸，必先知本人行年宜忌，尻神及人神所在，不與禁忌相干則可。故男忌除，女忌破，男忌戊，女忌己，又所謂血支血忌之類。凡醫者，不能知此避忌，若逢病人厄會，男女氣怯，下手至困，達人智士豈拘於此？若夫急難之際，卒暴之疾，命在須臾，宜速治之，況泥於禁忌，已淪於鬼神，豈不誤哉！但一日止忌一時，如子午八法，不拘禁忌。若忌未形之病，雖擇良日，服藥針灸當也。亦宜架天時日，正午以後乃可灸，謂陰氣未至，灸無不著。午前及早，恐人氣虛，有眩暈之咎，急卒亦不可拘。若值大風大雨雷電，宜暫停之，且待晴明灸之可也。</p>

<h2>論治灸瘡</h2>
<p>凡艾灸，須要瘡發，所患即愈，不得瘡發，其疾不愈。《甲乙經》云：灸瘡若不發，用故履底炙令熱，熨之，三日而發。今有用赤皮蔥三五莖，去葉，於微火中煨熱，熨瘡十餘遍，其瘡三日自發。亦有用麻油搽之而發者。亦有用牙皂角煎湯候冷，頻頻點之而發者。恐氣血衰，有宜服四物湯滋養者，不可一概而論。灸後務令瘡發，乃去病也。凡貼瘡，古人春用柳絮，夏用竹膜，秋用竹膜，冬用兔腹上細毛，貓腹毛亦佳。今人每用膏藥貼之，日一二易，則瘡易愈。未若一日兩貼一易，使瘡膿出多而痰除也。若欲用膏，必須用真麻油入治病之藥，或祛風散氣，滋血療損之藥，隨症入之為妙。</p>

<h2>論忌食</h2>
<p>經曰：灸之後，古人忌豬魚熱面，生酒動風冷物，雞肉最毒。而今灸瘡不發，用小雞鰱魚食之而發者，所謂以毒而攻毒，其理亦通，亦宜少用為佳。</p>

<h2>論保養</h2>
<p>凡灸後切宜避風冷，節飲酒，戒房勞，喜、怒、憂、思、悲、恐七情之事，須要除之。可擇幽靜之居，養之為善，但君子志人不必喻也。</p>

<h2>擇吉日</h2>
<p>針灸吉日，丁卯、庚午、甲戌、丙子、丁丑、壬午、甲申、丙戌、丁亥、辛卯、壬辰、丙申、戊戌、已亥、庚子、辛丑、甲辰、乙巳、丙午、戊申、壬子、癸丑、乙卯、丙辰、己未、壬戌、成開執日，忌辛未，扁鵲死日。</p>
<p>吉日　月　橫看正、二、三、四、五、六、七、八、九、十、十一、十二</p>
<p>夭巫　辰巳午未申酉戌亥子醜寅卯</p>
<p>天醫　醜寅卯辰巳午未申酉戌亥子</p>
<p>要安　寅申卯酉辰戌巳亥午子未醜</p>
<p>正、二、三、四、五、六、七、八、九、十、十一、十二</p>
<p>白虎黑道　午申戌子寅辰巳申戌子寅辰</p>
<p>月厭　戌酉申未午巳辰卯寅醜子亥</p>
<p>月殺　醜戌未辰醜戌未辰醜戌未辰</p>
<p>獨火　巳辰卯寅醜子亥戌酉申未午</p>
<p>死別　戌戌戌醜醜醜辰辰辰未未未</p>
<p>血支　醜寅卯辰巳午未申酉戌亥子</p>
<p>血忌　丑未寅申卯酉辰戌巳亥子午</p>
<p>除日　卯辰巳午未申酉戌亥子醜寅</p>
<p>破日　申酉戌亥子醜寅卯辰巳午未</p>
<p>火隔　午辰寅子戌亥午辰寅子戌申</p>
<p>遊禍忌服藥　巳寅亥申巳寅亥申巳寅亥申</p>

<h2>痰火戒忌</h2>
<p>夫痰火之證，有治愈而老且壽者；有纏綿數紀，而終不可療者；有一病即治，竟不愈者。何也？如器物已損，必愛恤護持，乃可恆用而不敝，若不恤而顛擊之，寧有不壞者乎？然痰火固為惡候，治之愈與不愈，亦在人之調攝何如爾。且病之作也，始於水虧，法當絕欲存精，精足則水自復。繼而火熾，則當薄味救水，水充則火自滅。次必戒酒以養金，金氣清肅，則生化之機復行，子受母蔭，則真陰自復，水得其權，則火自平矣，故治而愈者。以此三者之法，可缺一乎！若即病而仍酗酒恣欲，嗜啖膏粱，以火濟火，其得長生者幾希。</p>

<h2>戒忌箴</h2>
<p>絕戒暴怒　最遠房室　更慎起居　尤忌憂鬱　順就寒暄</p>
<p>節調飲食　毋以我言　虛偽無益　一或失調　噬臍何及</p>

<h2>戒酗酒</h2>
<p>夫四氣以酒為先者，蓋以味甘適口，性悍壯志，賓朋無此不可申其敬爾，然聖人以酒為人合歡。又曰：惟酒無量不及亂，若此觀之，古人制酒，惟歡情適況而已，可恣飲而至劇乎！今之貪者，以酒為漿，以劇為常，必至酩酊而後已。凡一醉之間，有事迥異，肆志顛狂，或助欲而色膽如天，或逞威而雄心若虎，或以新搜，故罵詈不避親疏，或認假作真，鬥毆無畏生死，或傷其天性，或敗壞人倫，乖名喪德，無所不為。甚而忘形仆地，促其天年者藉藉，酒之酷厲，奚帝鴆蝮也哉！況人既病水，則火已萌其焰矣，杯酒下咽，即猶貯燼點以硝黃，涸海燎原，其可量乎？蓋酒之為性，慓悍升浮，氣必隨之，痰鬱於上，溺澀於下，渴必恣飲寒涼，其熱內郁，肺氣大傷，輕則咳嗽齁喘，重則肺痿癆瘵。觀其大寒凝海，惟酒不冰，明其性熱，獨冠群物，藥家用之，惟藉以行其勢爾，人飲多則體敝神昏，其毒可知矣。且曲中以諸毒藥助其勢，豈不傷沖和，損營衛耗精神，竭天癸而夭人壽耶？</p>

<h2>絕房勞</h2>
<p>夫四欲之中，惟色最甚，雖聖賢不能無此。故孔氏曰：吾未見好德如好色者也。孟氏亦曰：養心莫善於寡欲。又曰：血氣未定，戒之在色。若此觀之，則色亦人所難制者。今之膏粱逸士，晝夜荒淫，以此為樂，若悅芻豢嗜而無厭，必待精竭髓枯，氣匱力乏而後已，昧而失調，安能免於死哉？悲夫。</p>
<p>覺者，豈如是乎？迨夫真水既虧，則火炎痰聚，而癆瘵之症成矣。當此之際，法宜存精以覆水，奈火伏水沸，心神浮越，虛陽妄動，竟不能制而復泄其精，則猶源將涸而流將息，而復導之，寧不竭乎！噫，病至於此，非醫者之神手，凝神定慮，以治病者之欲心，割情絕愛，病者亦宜割情絕愛，以副醫者之心，庶幾可治耳！</p>

<h2>戒嗜利</h2>
<p>夫諸欲之內，惟財則利益人多，蓋人非財則無以治其生。故諺云：財與命相連，然財固人所必用，但輕重較之，則財又輕於命也。何則？人既病火，則危如累卵，善調則生，失調則死，豈常病之可例視乎？必靜心寡欲，凝神定慮，毋以纖物煩擾心君，庶火息水恬，病或可瘳。於此而孜孜汲汲，終日營營，致天君失泰，而相火擅權，勢必燎原矣，利可趨乎。</p>

<h2>戒暴怒</h2>
<p>夫氣貴順而不貴逆，順則百脈暢利，逆則四體愆和。若以火病而復增一怒，則猶敝艦而橫之波濤，鮮有不覆者也。何則？以虛其虛，則陰陽乖戾，臟腑隔絕，其不危者鮮矣。且今之昧者，但知怒能害人，殊知賊人心氣者有九，曰：怒則氣上，喜則氣緩，悲則氣消，思則氣結，恐則氣下，驚則氣亂，勞則氣耗，寒則氣收，熱則氣泄。若此諸氣，實人所自致者也。況痰火之病，始於真氣勞傷，腎陰虧損，而邪熱乘虛協之。故丹溪曰：氣有餘便是火。然所謂有餘者，非真氣之有餘，謂真氣病而邪火相協，或行而迅速，或住而壅塞，氣火俱陽，以陽從陽，故陽愈亢而陰愈消。所謂陰虛生內熱者以此，即如勞傷神志，心血虧耗，腎水枯竭，君火失令，相火司權，熏爍肺金之意耳！況七情之氣，惟怒最甚。故經曰：怒則血菀於上，以其情動於中，氣逆於上。動極生火，火載血上，錯經妄行，越出上竅，故鑽燧取火，撫掌成聲，沃火生沸，皆自無而有，實動極之所致也。噫！以一星之火，而致燎原之禍，氣豈可逆乎？</p>

<h2>節飲食</h2>
<p>夫飲食所以養生，過則傷脾，若過極則亦所以戕生者也，何則？痰火之病，始於水涸，火炎金傷，金既受傷，則木寡於畏，其不凌脾者鮮矣。以脾受木賊，則運化之機自遲，而復不能節其飲食，以致傷而復傷。輕則噯腐吞酸，重則痞滿疼痛，病體復加，有此則亦難乎其為治也。蓋欲攻積則妨正，欲溫中則動火，過消導則反損脾，三者之法，豈其宜乎？況人藉水穀之氣以為養，土受木賊，則不能運化精微，上歸於肺輸，布五臟，以養百骸，自是形日減，肌肉日消，其人即能飲能食，無乃食㑊而已，更何益耶？此謂調攝之一關也，可不謹哉！</p>

<h2>慎起居</h2>
<p>竊謂火病金傷之體，實由敝室陋巷，倘無趨避之策。風狂雨驟，其何以御之耶？蓋肺主皮毛，司腠理闔閉，金受火賊，則衛護斂固之令失權，六淫之邪易於侵襲。輕則入於皮膚，但為嚏唾涕咳諸候，惟以身表溫暖，腠理疏豁，不幹真氣，或可消散。甚則入於經絡，表有頭痛發熱，身痛脊強，不即發汗，則必入里而為潮汗閉澀滿渴等症，不即下之，邪何以越？然以尪羸之軀，幾微之氣，而復任此猖狂，虛虛之禍，豈不旋踵而至哉！噫，倘不慎起居而或犯此，是亦促命之殺車槌也，慎之。</p>

<h2>簡言語</h2>
<p>氣鼓喉而為聲，情發心而為言。故曰：聲者肺之韻，言者心之聲。且火之病，以水虧火熾，熏爍肺金，傷其生化，母令子虛，致水益虧而火益熾，肺愈傷而金益烈，法當滋陰降火以益金。以言多語急，鼓傷肺竅，則為咳嗽聲嘶，且言則呼多吸少，致息不勻，則五臟之氣，亦自愆期矣。所謂肺欲實，先調息，正此之謂，言可多乎？</p>

<h2>忌憂鬱</h2>
<p>夫氣貴舒而不貴郁，舒則周身暢利，鬱則百脈違和。故曰：喜則氣緩。然緩者，固有徐和暢利之義，但不及太過，皆能致息愆期。而況憂思鬱結，寧不滯其氣乎！氣既壅滯則鬱而為火，是益為爍金涸水之胎，人既病火，則身猶敝器矣。須著意護持，心當渾然無物，庶可登之佳境。倘以世務營心，終日怏怏，是欲蹈萬古之長夜，寧非昧而不覺者乎！哀哉。</p>
<p>愚謂痰火之病，能戒則功過藥之半矣。蓋攻邪去病，固藉藥劑之能，而燮理調元，又非戒忌不可。何也？夫所謂戒者，以其於病有大妨，法所當戒，不戒則死。所謂忌者，以其於病有所不宜，法當忌之，不忌則害。二者實痰火死生之關頭也，可缺一乎？然所當戒者，酒色財氣之四欲也；所當忌者，飲食起居，多言厚味之四失也。病人能守此八者，則勝於藥力多矣。如恣欲則傷精，絕之則所以存精足水以制火也。若暴怒則傷肝，戒之則所以平肝安土以養金也。貪欲則傷肺，戒之則以清金制木無使凌脾也。嗜利勞神，戒之則所以寧火而肅金而充水也。慎起居所以防賊風虛邪之犯正。節飲食毋使菀茁陳莝以留脾。簡言語所以保金以育水。薄厚味所以息火毋傷金。若此八者，利益固非小可，而其害也，則輕可致重，重可致危，顛沉困憊，皆胎於此。病者倘能一一遵依，小心翼翼，則危可至泰，輕可至愈，挽回枯槁於幽冥之谷，其可量乎。</p>

<h2>卻病秘訣</h2>
<p>夫修身之士，不識丹田所在，咸指臍下一寸三分為言，謬乎！有傳此為氣稟之原，若果實受氣於蒂，坎離上下，以此為中宮，氣脈升降，以此為根地，根地否塞，則水火不能升降，心火炎熾，腎水枯竭，百病由此而生。上或頭暈眼花，下至腰疼疝凝痔結，甚或真陽不固，多至夭折，良可悲乎！人誠能以卻病延年之法，敬而行之，或行或坐，或立或臥，念念不忘。旬日之間，血氣循視而不亂，精神內固而不搖，衰者起，萎者愈。疲癃轉康健之軀，枯槁回溫潤之色，頓覺增精補髓，養氣助陽，眼目光明，疝痔消滅，身輕力健，百病咸除，功簡而效速，誠為保身之至道，卻病之秘訣哉！</p>

<h2>卻病延年一十六句之術</h2>
<p>水潮除後患，起火得長安。夢失封金櫃，形衰守玉關。鼓呵消積滯，兜禮治傷寒。叩牙齒無疾，觀升鬢不斑。運睛除眼害，掩耳去頭旋。托踏應無病，搓塗自駐顏。閉摩通滯氣，凝抱固丹田。淡食能多補，無心得大還。</p>

<h2>水潮除後患法</h2>
<p>平時睡醒時，即起端坐，凝神息慮，舌抵上齶，閉口調息，津液自生，分作三次，以意送下，此水潮之功也。津既嚥下，在心化血，在肝明目，在脾養神，在肺助氣，在腎生精，自然百體調暢，諸病不生，此除後患之功也。逍遙子長生訣曰：法水潮在關，逍遙日夜還，於中凝結生諸病，才決通流便駐顏。</p>

<h2>起火得長安法</h2>
<p>子午二時內外視，應閉息升身，則腎中之火生矣。火為水中之金，烹而煉之，立可成丹。且百脈通融，五臟無滯，四肢康健，而三化聚也。孫真人曰：火陽得地，在六爻俱靜之時，真氣通行，必在三陽交會之際，此為文火煉形，外邪不感，壽算無窮。</p>

<h2>夢失封金櫃法</h2>
<p>欲動則火熾，火熾則神疲，神疲則精滑而夢失也。每寤寐之時，必要凝息定氣，以左手搓臍二七，右手亦然，復以兩手搓脅腹五七次，左右搖肩三兩回，次嚥氣納于丹田，握固良久，乃正屈足側臥，永無走泄矣。鄭思遠真人曰：事多忘者神昏，汗多出者神脫，此是夢失神弱，脫漏真精，乃修身之士大忌也。當勵前功。</p>

<h2>形衰守玉關法</h2>
<p>形容枯槁，切須守爐，爐者丹田，丹田者，腎前臍後也。若行住坐臥，一意不散，固守勿怠，而又運用周天之火，自然生精、生氣、生神。豈止變衰顏如童子？體為神仙，若壯健行之，收功甚速。</p>

<h2>鼓呵消積滯法</h2>
<p>有因食而積者，有因氣而積者，久則脾胃受傷，醫藥難治。孰若節飲食，戒嗔怒，不使有積聚為妙。凡有此等，便當升身閉息，往來鼓腹，俟其氣滿緩緩呵出，怡然運五七次，即時通快。王穆真人曰：未得通時，多痞塞隔氣。若胸膈滿塞，常用此法不止，除病散氣，須無病行之，自然真元增益，壽域可躋。</p>

<h2>兜禮治傷寒法</h2>
<p>元氣虧弱，腠理不密則風寒傷感。患者須端坐閉息，兜起外腎，頭如禮拜，屈折至地，運用真氣得勝滌時，可六七次，汗出自愈。劉抱一真人未仙之日，曾感傷寒熱，行此而安。此法非止能治傷寒，即無病行之，頭目清利，容顏潤澤。</p>

<h2>叩齒牙無病法</h2>
<p>齒之有疾，乃脾胃之火熏蒸。每日清晨，或不拘時，叩齒三十六通，則氣自固，蟲蛀不生，風邪消散，設或以病齒難叩，但以舌隱舔於牙根之間，用柔制剛，真氣透骨，其蛀自除。玉真人曰；欲修大道，先去牙症，叩齒不絕，堅牢無病，此雖近易，亦修養中之至要也。</p>

<h2>觀升鬢不斑法</h2>
<p>思慮太過，則神耗氣虛血散而鬢斑。以子午二時，握固端坐，凝神絕念，兩眼含光，中黃內顧，追攝二氣，自尾閭夾脊，升上泥丸，降下重樓，返還元海，憩息少時，自然形神俱妙，與道合真。張真人曰：夫何慮鬢斑，久久行之，可以積黍米而為丹，脫樊籠而遊三島，其功曷可云論！</p>

<h2>運睛除眼害法</h2>
<p>虛靜趺坐，凝息升身，雙目輪轉十二數，緊閉即開，大睜逐氣。每夜行五七次，瘴翳自散，光明倍常。謝翼真人未得仙時，曾犯目疾，絕去房事，得此法而行之即愈，故傳以惠於後人。蓋為虛邪氣熱，損犯肝經，致生瘴翳，運睛之法不止除昏，久則可觀細書畫。極目遠視，時見金花，乃道氣之運也。</p>

<h2>掩耳去頭旋法</h2>
<p>邪風入腦，虛火上攻，則頭目昏旋，偏正作痛。或中風不語半身不遂，亦由此致。治之須靜坐，升身閉息，以兩手掩耳，搖頭五七次，存想元神，逆上泥丸，以逐其邪，自然風散邪去。張元素真人未得道時，頭目昏旋，偏正頭痛，用還丹之法，不十功即痊。此法不止治命，須無病行之，添補髓海，精潔神宮，久視長生之漸也。</p>

<h2>托踏應無病法</h2>
<p>雙手上托，如舉大石，兩腳前踏，如履實地，以意內顧，神氣自生。筋骨康健，飲食消融。葉子元二十二勢，取禽獸行之狀。陶隱君二十八道，引水火曲升之理，知神氣之走五臟，自然傳送於四肢，根本充固，營衛強盛，其功盛大，不止輕身，能令皮膚結實，足耐寒暑。</p>

<h2>搓塗自駐顏法</h2>
<p>顏色憔悴，良由心思過度，勞碌不謹。每清晨靜坐，神氣充溢，自內而外，兩手搓面五七次，須漱津塗面，搓拂數次。行之至半月，則皮膚光潤，容貌悅澤，大過尋常。太虛真人晚年修道，恥於衰弱，得此法而返老還童。若嚥氣通心，搓熱塗面，亦多有益。</p>

<h2>閉摩通滯氣法</h2>
<p>氣滯則痛，血凝則腫。治須閉息，以左右手摩滯處四十九次，復左右多以津塗之，不過五七次，氣自消散。趙乙真人未仙之時，曾患此病，行之而愈。此法不止散氣消腫，無病行之，上下閉息，左右四肢五七次，經絡通暢，氣血流行，肌膚光潤，名曰干沐浴，尤延生之道也。</p>

<h2>凝抱固丹田法</h2>
<p>定息抱臍，子午無間，動徹浮沉，湛然進退，旬日之間，下進五穀之精，真氣自生，百日之功，上盡九重之蠹，暗滌垢膩，飢渴不患，寒暑不侵，駐顏還少。董自然真人道：西華天尊守真，或居天上，或居人間，一炷紫檀，手披雲霧坐禪關。</p>

<h2>淡食能多補法</h2>
<p>五味之於五臟，各有損益，若一味過食，須安一臟，還虧一臟。要在相勻謹節，僅圖爽口，反見傷脾，食淡自然有補耳。玄珠先生得此法而成化。古云斷鹽不是道，孰為補腎？茹增福田，卻非養神之道，淡食中自有真氣，可以保命安神。</p>

<h2>無心得大還法</h2>
<p>對鏡無好惡之心，亦不可落空心，而識執之心盡無也。知識之心，又生分別，執著之心，不可有也。志公和尚無心有心，此心乃合天地，夫無心法，有事無事，常要無心，靜處喧處，其念無二。又曰：莫謂無心即是道，無心即膈一重關，如明鏡照一切物也。元不染著，是謂大還也。</p>

<h2>運識五臟升降法</h2>
<p>上心腎之下，肝西肺在東，非腸非胃腑，一氣自流通。</p>

<h2>動功六字延壽訣</h2>
<p>春噓明目本扶肝，夏至呵心火自間，秋呬定知金肺潤，冬吹腎要坎中安。三焦嘻卻除煩熱，四季長呼脾化餐。切忌出聲聞兩耳，其功尤甚保神丹。</p>

<h2>心呵頂上連叉手</h2>
<p>（舉手則呵反手則妄）</p>
<p>呵則通於心，去心家一切熱氣。或上攻眼目，或面色紅，舌上瘡，或口瘡，故心為一身五官之主，發號施令之時，能使五官不同。故孟子曰：收其放心者，為浩然之主。故心不動，而動謂之妄，妄則神散，而使浩然之氣不清也。秋冬時常暖其湧泉，不傷於心君。素書云：足寒傷心是也。澄其心則神自清，養其心則火下降，故心火降，則心無不正，心通舌，為舌之官，舌乃心之苗，為神之舍，又為血之海，故血少則心神恍惚，夢寐不寧也。冬面紅受克，故鹽多傷心血，冬七十二日省咸增苦，以養其心氣也。</p>

<h2>肝若噓兮自睜睛</h2>
<p>噓則通肝，去肝經一切熱聚之氣，故膽生於肝，而膽氣不清，因肝之積熱，故上攻眼目。大噓三十次，一補一瀉，則眼增光，不生眼屎，故目通肝。肝乃魂之宅，夜睡眼閉，則魂歸宅。肝為目之官，秋面青受克，辛多傷肝，秋七十二日省辛增酸，以養肝氣。</p>

<h2>腎吹抱取膝頭平</h2>
<p>吹則透腎，去腎中一切虛熱之氣。或目昏耳聾，常補瀉，則腎氣自調矣。故腎通耳，為耳之官，耳聽於走精，不可聽於淫聲，或鼓腹者，大吹三十吹，熱擦腎堂立止。四季十八面黑受克，甘多傷腎，故季月各十八日省甘增咸，以養腎氣。</p>

<h2>肺如呬氣手雙擎</h2>
<p>呬則通肺，去肺家一切所積之氣。或感風寒咳嗽，或鼻流涕或鼻熱成瘡，大呬幾呬，一補一瀉，則肺氣自然升降。肺為心之華蓋，最好清，故肺清則不生疾也。肺通鼻，為鼻之官，肺為魄之宅也。夏面白則受克，苦屬火，肺屬金，夏七十二日省苦增辛，以養肺氣。</p>

<h2>脾病生時須撮口</h2>
<p>呼則通脾，去脾家一切濁氣。或口鼻四肢生瘡，或面黃，脾家有積，或食冷物，積聚不能化，故脾為倉稟之官，又為血之用，故飲食不調，則不生血，四肢不動，則脾困。故夜則少食，睡時脾不動，以致宿食，則病生矣。脾四季之官，為意之宅，故意不可以妄動，動則浩氣不能清也。春面黃則受克，春七十二日省酸增甘，以養脾氣。</p>

<h2>三焦客熱臥嘻嘻</h2>
<p>嘻則通膽，去膽中一切客熱之氣。故臥時常嘻，能去一身之客熱，能補瀉者膽氣自清，目不生屎，膽怕熱，四時飲食，熱者少，食於上膈，以使膽氣清爽也。</p>

<h2>靜坐功夫</h2>
<p>清心釋累，絕慮忘情，少思寡欲，見素抱樸，學道之工夫也。心清累釋，足以盡瑕。絕慮忘情，足以靜世。思欲俱泯，足以造道。素樸純一，足以知天下安樂之法。日務少食寬衣，於二六時中，遇閒暇則入室蟠膝靜坐，心無雜想，一念視中。丹書云：人心若與天心合，顛倒陰陽止片時。以心觀道，道即心也。以道觀心，心即道也。若能清心寡慾，久久行之，百病不生。此惟秋及冬至以後，行之尤妙。如春夏行持，春乃發生之時，夏乃陽氣茂盛，儒云歌詠所以養性情，舞蹈所以養血脈，又不必靜坐。宜夜眠早起，廣步於庭，披髮緩行，以使長生。食後宜動作舞蹈，亦宜節欲。古人冬至閉關以養微陽，齋戒掩身，以待陰陽之所定，是故起以待日光，此陽氣閉藏之時，不可擾動筋骨，惟安調靜養身體，則春夏諸病不生。情不動，精固則水朝元；心不動，氣固火朝元；性寂則魂藏水朝元；情忘則魄伏金朝元；四大安和，則意定土朝元。此謂人有五氣朝元。又經云：人能長清淨，天地悉皆歸。</p>
