<header data-type="book">
<h1>保生心鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>鐵峰居士</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd>《新刻保生心鑑》，清經鉏堂藍格鈔本（<a href="https://rbk-doc.npm.edu.tw">國立中央圖書館典藏國立北平圖書館善本</a>：平圖011819）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>嘗聞修養始於太乙氏，而導引則始於陰康氏也。太乙時，醫藥未立，乃調和血氣以保長生，而修養之法顯。陰康時，民患重膇，因制舞法，以疏氣血，而導引之術名。故民皆賴以調攝，無夭傷之患，建法異而致妙同，蓋真上古保民之心法也。夫何太樸一散，歷數千世，其法寥寥未聞，有得傳者邇，惟《活人心書》所刊導引八圖，悉上古遺法，而為好修者寶之。弘治乙丑秋，適見《聖賢保修通鑑》，前序古今學道之失，後書道術療病之功，深嘉契愛而欲傳之，值客歸促留少頃，得私謄其概，一或受疾，輒取試之，多有驗焉。因嘗嘆是術雖非太乙、陰康手書，誠保生至法也。惜乎簡而未詳，微而不著。乃用參諸月令，搜古醫經，反復研究，正訛補略，並採活人心八法，命善圖者繕形摹寫，計總三十二圖，纂為一帙，目之曰《保生心鑑》。俾有生者知所以保養真元，不令輕耗；保生者知所以煉修形體，先須定志，小可卻病，而大可駐年也。所謂煉形蓄氣而養神者，或庶幾矣！豈小小補益云哉。</p>
<p><u>正德丙寅春王正月古南沙鐵峰居士序</u></p>

<h1>修真要訣</h1>
<p>凡欲修養，須擇淨室，順溫涼之宜，明燥濕之異。每夜半後生氣時，或五更睡覺，依法坐立，務先瞑目，握固調息，後乃以次著力行功，勤而不怠，則自然身輕體健，而疾疫可卻，性命可延矣。雖然此其常法，若春得夏疾，秋得春疾，亦但按法行之，豈必待其時，然後可哉？如此則固而不通，滯而不法，非善養真也。</p>

<h1>引用諸書</h1>
<p>《聖賢保修通鑑》</p>
<p>《活人心書》</p>
<p>《禮記月令》</p>
<p>《素問內經》</p>
<p>《靈樞經》</p>
<p>《運氣論奧》</p>
<p>《救命索》</p>
<p>《樂道山居錄》</p>
<p>《心印紺珠》</p>
<p>《十四經發揮》</p>

<h1>五運六氣樞要之圖　六十年紀運圖</h1>
<figure>
<img alt="五運六氣樞要之圖">
</figure>
<figure>
<img alt="六十年紀運圖">
</figure>

<h1>四時氣候之圖</h1>
<figure>
<img alt="四時氣候之圖">
</figure>

<h1>五天氣圖　主氣之圖</h1>
<figure>
<img alt="五天氣圖　主氣之圖">
</figure>

<h1>客氣之圖</h1>
<figure>
<img alt="客氣之圖">
</figure>

<h1>臟腑配經絡圖</h1>
<p>一臟一腑相為表裡之官</p>
<p>肺　手太陰　大腸　手陽明</p>
<p>心　手少陰　小腸　手太陽</p>
<p>包絡　手厥陰　三焦　手少陽</p>
<p>人身　脈運於中　周流氣血不已</p>
<p>脾　足太陰　胃　足陽明</p>
<p>腎　足少陰　膀胱　足太陽</p>
<p>肝　足厥陰　膽　足少陽</p>
<p>一經一絡各應陰陽之象</p>

<h1>經絡配四時圖</h1>
<p>寅手少陽三焦　巳手厥陰心包</p>
<p>春　卯手陽明大腸　生　夏　午手少陰心　長</p>
<p>辰手太陽小腸　未手太陰肺</p>
<p>天時十二月　人身十二經　地支十二位</p>
<p>手經絡應天　足經絡應地</p>
<p>申足少陽膽　亥足厥陰肝</p>
<p>秋　酉足陽明胃　殺　冬　子足少陰腎　藏</p>
<p>戌足太陽膀胱　醜足太陰脾</p>

<h1>太上養生要訣</h1>
<p>老子曰：人，國也；神，君也；血，臣也；氣，民也。志人理身，明君治國也。愛其民，所以安其國。愛其氣，所以全其身。民弊則國亡，氣衰則身謝。是以上士施醫於未病之先，不追修於既敗之後也。審其機以安社稷，節其欲以保性命，六害不可不除：一曰薄名利，二曰禁聲色，三曰廉貨財，四曰損滋味，五曰屏虛妄，六曰除嫉妒。少思、少念、少笑、少言、少喜、少怒、少樂、少愁、少好、少惡、少事、少機。多思則神散，多念則心勞，多笑則臟腑上翻，多言則氣海虛脫，多喜則膀胱納客風，多怒則輳。朝勿虛食，夏暮勿飽食。早起雞鳴後，晚起日出前。心內澄則真人守位，氣內定則外邪去身。行一善則魂神喜，念一惡則魄神歡。魂欲人生，魄欲人死。寬泰以居，恬澹以守，神形安靜，笑災不生。仙錄書名，死籍消咎，養生之要，盡在此矣。至於煉丹而補理奔浮。多樂則心神邪蕩，多愁則頭面焦枯，多好則智意潰溢，多惡則精爽奔騰，多事則筋脈乾急，多機則智慮沉迷，是皆伐人之生甚於斤斧，蝕人之性猛於豺狼。無久行，無久坐，無久立，無久臥，無久視，無久聽。不飢強食則脾勞，不渴強飲則胃脹。冬腦化金液以留形，此上真人之妙道，非食谷啖血之越分也。</p>

<h1>太清二十四氣水火聚散圖序</h1>
<p>太清三箔，章章林林，惟主導引，不言藥石，豈其以謂山澤之癯，形骸土木而云笈，有耶？非然也。藥有真偽，性有反誤，疾縱去而毒尚留，或棄寒暑之變，或因飲食之反而生他疾，至於殺身者有之。是以仙道不取藥石，而貴導引。導引之上，行其無病。導引之中，行其未病。導引之下，行其已病。何謂也？二十四邪方襲膚，方滯經絡，按摩以行之，注閉以攻之。咽納以平之，不至於侵其榮衛，而蝕其臟腑也。修身養命者，於是乎取之。</p>
<p>立春正月節，運主厥陰初氣。月令東風解凍，蟄蟲始振，魚上冰。時配手少陽三焦相火。</p>
<figure>
<img alt="圖一">
</figure>
<p><u>坐功</u></p>
<p>宜每日子丑時，疊手按脛，轉身拗頸，左右聳引，各三五度，叩齒，吐納，漱咽。</p>
<p><u>治病</u></p>
<p>風氣積滯，頸項痛，耳後肩臑痛，背痛，肘臂諸痛。</p>
<p>雨水正月中，運主厥陰初氣。月令獺祭魚，鴻雁北，草木萌動。時配手少陽三焦相火。</p>
<figure>
<img alt="圖二">
</figure>
<p><u>坐功</u></p>
<p>每日子丑時，疊手按脛，拗頸轉身，左右偏引，各三五度，叩齒，吐納，漱咽。</p>
<p><u>治病</u></p>
<p>三焦經絡留滯邪毒，嗌乾及腫噦，喉痹，耳聾，汗出，目銳眥痛諸疾。</p>
<p>驚蟄二月節，運主厥陰初氣，月令桃始華，鶬鶊鳴，鷹化為鳩。時配手陽明大腸燥金。</p>
<figure>
<img alt="圖三">
</figure>
<p><u>坐功</u></p>
<p>每日醜寅時，握固轉頸，及肘後向頓掣，日五六度，叩齒六六，吐納，漱咽三三。</p>
<p><u>治病</u></p>
<p>腰膂脾胃蘊積邪毒，目黃，口乾，鼽衄，喉痹，面腫，暴啞，頭風，牙宣，目暗羞明，鼻不聞臭，疳牙，疙瘡。</p>
<p>春分二月中，運主少陰二氣。月令玄鳥至，雷乃發聲、始電。時配手陽明大腸燥金。</p>
<p><u>行功</u></p>
<p>每日醜寅時，伸手回頭，左右挽引，各六七度，叩齒六六，吐納，漱咽三三。</p>
<p><u>治病</u></p>
<p>胸臆肩背經絡虛勞邪毒，齒痛，頭腫，寒粟，熱腫，耳聾耳鳴，耳後、肩臑、肘臂、外背痛，氣滿，皮膚殼殼然堅而不痛，或痰氣，皮膚瘙癢。</p>
<figure>
<img alt="圖四">
</figure>
<p>清明三月節，運主少陰二氣。月令桐始華，田鼠化為鴽，虹始見。時配手太陽小腸寒水。</p>
<figure>
<img alt="圖五">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，正坐換手左右，如引硬弓，各七八度，叩齒，納清吐濁，咽液各三。</p>
<p><u>治病</u></p>
<p>腰腎腸胃虛邪積滯，耳前熱，苦寒，耳聾，嗌痛，頸痛不可回顧，肩拔臑折，腰軟，肘臂諸痛。</p>
<p>穀雨三月中，運主少陰二氣。月令萍始生，鳴鳩拂其羽，戴勝降於桑。時配手太陽小腸寒水。</p>
<figure>
<img alt="圖六">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，平坐換手，左右舉托，移臂左右掩乳，各五七度，叩齒，吐納，咽漱。</p>
<p><u>治病</u></p>
<p>脾胃結瘕，瘀血目黃，鼻鼽，頰腫，頷腫，肘臂外後臁腫痛，臀外痛，掌中熱。</p>
<p>立夏四月節，運主少陰二氣。月令螻蟈鳴，蚯蚓出，王瓜生。時配手厥陰心包絡風木。</p>
<p><u>坐功</u></p>
<p>每日寅卯時，閉息瞑目，反換兩手，抑挈兩膝，各五七度，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>風濕留滯經絡，腫痛，臂肘攣急，腋腫，手心熱，喜笑不休，雜症。</p>
<figure>
<img alt="圖七">
</figure>
<p>小滿四月中，運主少陽三氣。月令苦菜秀，靡草死，麥秋至。時配手厥陰心包絡風木。</p>
<figure>
<img alt="圖八">
</figure>
<p><u>坐功</u></p>
<p>每日寅卯時，正坐，一手舉托，一手拄按，左右各三五度，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>肺腑蘊滯邪毒，胸脅支滿，心中憺憺大動，面赤鼻赤，目黃煩心，心痛，掌中熱諸病。</p>
<p>芒種五月，運主少陽三氣。月令螳螂生，鵙始鳴，反舌無聲。時配手少陰心君火。</p>
<figure>
<img alt="圖九">
</figure>
<p><u>坐功</u></p>
<p>每日寅卯時，正立仰身，兩手上托，左右力舉，各五六度，定息，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>腰腎蘊積虛勞，嗌乾心痛欲飲，目黃脅痛，消渴，善笑、善驚、善忘，上咳吐，下氣泄，身熱而股痛，心悲，頭頂痛，面赤。</p>
<p>夏至五月中，運主少陽三氣。月令鹿角解，蜩始鳴，半夏生。時配手少陰心君火。</p>
<figure>
<img alt="圖十">
</figure>
<p><u>坐功</u></p>
<p>每日寅卯時，跪坐伸手叉指，屈腳換踏，左右各五七度，叩齒，納清，吐濁，咽液。</p>
<p><u>治病</u></p>
<p>風濕積滯，腕膝痛，臑臂痛，後廉痛，厥，掌中熱痛，兩腎內痛，腰背痛，身體重。</p>
<p>小暑六月節，運主少陽三氣。月令溫風至，蟋蟀居壁，鷹乃學習。時配手太陰肺濕土。</p>
<figure>
<img alt="圖十一">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，兩手踞，屈壓一足，直伸一足，用力掣三五度，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>腿膝腰脾風濕，肺脹滿，嗌乾喘咳，缺盆中痛，善嚏，臍右小腹脹引腹痛，手攣急，身體重，半身不遂，偏風，健忘，哮喘，脫肛，腕無力，喜怒不常。</p>
<p>大暑六月中，運主太陰四氣。月令腐草為螢，土潤褥暑，大雨時行。時配手太陰肺濕土。</p>
<figure>
<img alt="圖十二">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，雙拳踞地。返首肩引作虎視，左右各三五度，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>頭項胸背風毒，咳嗽上氣，喘渴煩心，胸滿臑臂痛，中熱，臍上或肩背痛，風寒，汗出中風，小便數欠，溏泄，皮膚痛及麻，悲愁欲哭，灑淅寒熱。</p>
<p>立秋七月節，運主太陰四氣。月令涼風至，白露降，寒蟬鳴。時配足少陽膽相火。</p>
<figure>
<img alt="圖十三">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，正坐，兩手托，縮體，閉息，聳身上踴，凡七八度，叩齒，吐納，咽漱。</p>
<p><u>治病</u></p>
<p>補虛益損，去腰腎積氣，口苦善太息，心脅痛不能反側，面塵體無澤，足外熱，頭痛、頷痛，目銳眥痛，缺盆腫痛，腋下腫，汗出振寒，馬刀，俠癭，結核。</p>
<p>處暑七月中，運主太陰四氣。月令鷹乃祭鳥，天地始肅，禾乃登。時配足少陽膽相火。</p>
<figure>
<img alt="圖十四">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，正坐，轉頭，左右舉引就返，兩手捶背之上，各五七度，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>風濕留滯，肩背痛，胸痛，脊膂痛，脅肋、髀膝、經絡外至脛、絕骨外踝前及諸節皆痛，少氣咳嗽，喘渴上氣，胸背脊膂積滯之氣。</p>
<p>白露八月節，運主太陰四氣。月令鴻雁來，玄鳥歸，群鳥養羞。時配足陽明胃燥金。</p>
<figure>
<img alt="圖十五">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，正坐，兩手按膝，轉頭左右推引，各三五度，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>風氣留滯腰背經絡，洒洒振寒，善伸數欠，或惡人與火，聞木聲則驚狂，瘧，汗出，鼽衄，口喎，唇胗，頸腫，喉痹，不能言，顏黑，嘔，呵欠，狂，欲上登而歌，棄衣而走。</p>
<p>秋分八月中，運主陽明五氣，月令雷乃收聲，蟄蟲壞戶，水始涸。時配足陽明胃燥金。</p>
<figure>
<img alt="圖十六">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，盤足而坐，兩手掩耳，左右返側，各三五度，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>風濕積滯脅肋腰股，腹大水腫，膝臏腫痛，膺乳氣衝股，伏兔、䯒外臁、足跗諸痛，遺溺、矢氣奔響，腹脹，髀不可轉，膕似結，腨似裂，消穀善飢，胃寒，喘滿，勞傷，厥逆，反胃，瘧癘，水蠱，氣痞。</p>
<figure>
<img alt="圖十七">
</figure>
<p>寒露九月節，運主陽明五氣。月令鴻雁來賓，雀入水為蛤，菊有黃華。時配足太陽膀胱寒水。</p>
<p><u>行功</u></p>
<p>每日醜寅時，正坐舉兩臂，踴身上托，左右各三五度，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>諸風寒濕邪，脅腋經絡動，沖頭苦痛，目似脫，項如拔，脊痛腰折，痔，瘧，狂，癩痛，頭兩邊痛，頭囟頂痛，目黃淚出，鼽衄，霍亂諸疾。</p>
<p>霜降九月中，運主陽明五氣。月令豺祭獸，草木黃落，蟄蟲咸俯。時配足太陽膀胱寒水。</p>
<figure>
<img alt="圖十八">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，平坐，紓兩手攀兩足，用膝間力，縱而復收，五七度，叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>風濕痹入腰，腳髀不可曲，膕結痛，腨裂痛，項背、腰尻、陰股、膝髀痛，臍反出，肌肉痿，下腫，便膿血，小腹脹痛，欲小便不得，臟毒筋寒，腳氣，久痔，脫肛。</p>
<p>立冬十月節，運主陽明五氣。月令水始冰，地始凍，雉入水為蜃，時配足厥陰肝風木。</p>
<figure>
<img alt="圖十九">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，正坐，抝頸左右顧，兩手左右托，各三五度，吐納，叩齒，咽液。</p>
<p><u>治病</u></p>
<p>胸脅積滯，虛勞邪毒，腰痛不可俯仰，嗌乾，面塵脫色，胸滿，嘔逆，飧泄，頭痛，耳無聞，頰腫，肝逆面青，目赤腫痛，兩脅下痛引小腹，四肢滿悶，眩冒，目腫痛。</p>
<p>小雪十月中，運主太陽終氣。月令虹藏不見，天升地降，閉塞成冬。時配足厥陰肝風木。</p>
<figure>
<img alt="圖二十">
</figure>
<p><u>行功</u></p>
<p>每日醜寅時，正坐，一手按膝，一手挽肘，左右爭力，各三五度，吐納，叩齒，咽液。</p>
<p><u>治病</u></p>
<p>腕肘風濕熱毒，婦人小腹腫，丈夫㿉疝、狐疝，遺溺，閉，癃血，幸腫，睪疝，足逆寒，胻善瘛，節時腫，轉筋陰縮，兩筋攣，洞泄，血在脅下，喘，善恐，胸中喘，五淋。</p>
<p>大雪十一月節，運主太陽終氣。月令鵙鳥不鳴，虎始交，荔挺出。時配足少陰腎君火。</p>
<figure>
<img alt="圖二十一">
</figure>
<p><u>行功</u></p>
<p>每日子丑時，起身仰膝，兩手左右托，兩足左右踏，各五七度。叩齒，吐納，咽液。</p>
<p><u>治病</u></p>
<p>腳膝風濕毒氣，口熱舌乾，咽腫，上氣嗌乾及腫，煩心，心痛，黃疸，腸澼，陰下濕，飢不欲食，面如漆，咳唾有血，渴喘，目無所見，心懸如飢，多恐，常若人捕等病。</p>
<p>冬至十一月中，運主太陽終氣。月令蚯蚓結，麋角解，水泉動。時配足少陰腎君火。</p>
<figure>
<img alt="圖二十二">
</figure>
<p><u>行功</u></p>
<p>每日子丑時，平坐，伸兩足，拳兩手，按兩膝，左右極力三五度，吐納，叩齒，咽液。</p>
<p><u>治病</u></p>
<p>手足經絡寒濕，脊、股內後臁痛，足痿厥，嗜臥，足下熱痛，臍、左脅下、背、肩、髀間痛，胸中滿，大小腹痛，大便難，腹大，頸腫咳嗽，腰冷如冰及腫，臍下氣逆，小腹急痛，泄下，腫，足胻寒而逆，凍瘡，下痢，善思，四肢不收。</p>
<p>小寒十二月節，運主太陽終氣。月令雁北向，鵲始巢，雉雊。時配足太陰脾濕土。</p>
<p><u>行功</u></p>
<p>每日子丑時，正坐，一手按足，一手上托，挽手互換，極力三五度，吐納，叩齒，漱咽。</p>
<p><u>治病</u></p>
<p>榮衛積氣蘊，食則嘔，胃脘痛，腹脹，噦，瘧，飲發中滿，食減，善噫，身體皆重，食不下，煩心，心下急痛，溏瘕泄，水閉，黃疸，五泄注下五色，大小便不通，面黃口乾，怠惰嗜臥，搶心，心下痞，苦善飢善味，不嗜食。</p>
<figure>
<img alt="圖二十三">
</figure>
<p>大寒十二月中，運主厥陰初氣。月令雞始乳，鷙鳥厲疾，水澤腹堅。時配足太陰脾濕土。</p>
<figure>
<img alt="圖二十四">
</figure>
<p><u>行功</u></p>
<p>每日子丑時，兩手踞床跪坐，一足直伸，一足用力，左右三五度，叩齒，漱咽，吐納。</p>
<p><u>治病</u></p>
<p>經絡濕積諸氣，舌本強痛，體不能動搖，或不能臥，強立，股膝內腫，尻陰、臑、胻、足背痛，腹脹腸鳴，飧泄不化，足不收行，九竅不通，足胻腫若水。</p>

<h1>附活人心法序</h1>
<p>昔在太昊之先，軒岐未曾有，太乙氏之王天下也。調泰鴻之氣，薄滋味，寡嗜欲，而修長生久視之道，其修養之法已有矣。有巢氏搏生咀華，以和氣血，藥餌之說已有矣。陰康氏時，水瀆陰凝，民疾重墜，乃制舞以疏氣血，導引之術已有矣，故人無夭傷。太樸既散，民多疾厄，厥後軒轅氏作，岐伯氏出，而有醫藥之方行焉。故至人治於未病之先，醫家治於已病之後者，曰藥餌，曰砭焫。雖治之法有二，而病之源則一，未必不由因心而生也。老子曰：心為神主，動靜從心。心為禍本，心為宗道，靜則心君泰然，百脈寧謐；動則血氣昏亂，百病相攻。是以性靜則情逸，心動則神疲；守真則志滿，逐物則意移。意移則神馳，神馳則氣散；氣散則病生，病生則殞矣！雖常俗之語，最合於道妙，今述其二家之說，自成一家新話，編為上下二卷，目之曰《活人心》。謂常存救人之心，欲一人之生，同歸於壽域也，豈小補哉。然世之醫書，各家新編者，何暇千本，紛然聚具，徒多無補。但此書方雖不多，皆能奪命於懸絕，雖司命莫之神也。凡為醫者，而能察其受病之源而用之，止此一書，醫道足矣。人能行其修養之術而用之，止此一書，仙道成矣，何況不壽乎？士之於世不缺焉。</p>
<p><u>前南極沖虛妙道真君臞仙書</u></p>

<h1>附活人心法</h1>
<p>臞仙曰：古之神聖之醫，而能療人之心，預使不致於有疾。今之醫者，惟知療人之疾，而不知療人之心，是由捨本逐末，不窮根源，而攻其流，欲求疾愈，不亦愚乎！雖一時僥倖而安之，此則世俗之庸醫，不足取也。殊不知病由心生，業由人作，蓋陰有鬼神，陽有天理，報復之機，鮮無不驗，故有天刑之疾，有自戕之疾。其天刑之疾也，五體不具，生而隱宮者，生而暗啞、盲、聵者，因跌撲而手足折者，有生人面瘡、贅疣疾者，凡傳染一切瘵疫之證是也。蓋因夙世今生積惡過多，天地譴之，故致斯疾，此亦業原於心也。其自戕之疾者，調養失宜，風寒暑濕之所感，酒色財氣之所傷，七情六慾生於內，陰陽二氣攻於外，是謂病生於心，害攻於體也。今只以人之易知易見者論之。且曰：人心思火，久而體熱；人心思水，久而體寒。悚則發豎，驚則汗瀝，懼則肉戰，愧則面赤，悲則淚出，慌則心跳，氣則麻痹。言酸則垂涎，言臭則吐唾，言喜則笑，言哀則哭，笑則貌妍，哭則貌媸。又若日間有所見，夜則魂夢有所思，疚則訕語，夢交合則精泄。至若驚悸，氣怒而成疾者，則發狂，裸體逾垣上屋，呼神見鬼，歌舞笑哭，此皆因心而生也。太白真人曰：欲治其疾，先治其心，必正其心，然後資於道。使病者盡去一切疑慮思想，一切安念，一切不平，一切人我悔悟。平生所為過惡，便當放下，身心以我之天而合所事之天。久之，遂凝於神。則自然心君泰寧，性地平和，知世間萬事皆是空虛，終日營為皆是妄想。知我身皆是虛幻，禍福皆是無有，生死皆是一夢，慨然領悟，頓然解釋，心地自然清淨，疾病自然安痊。能如是，藥未到口病已忘矣，此真人以道治心，療病之大法也。蓋真人之教也，本於天地立心，為生民立命。惟心與天一，理之所得者獨明而開人心之迷；惟其心與地一，水之所汲者獨靈而能滌人心之陋。故以一杯之水，而能療醫所不治之疾，罔不瘳者，豈由水之靈？實資於道之用也。苟非其人，則以予為妄誕。老子曰：吾言甚易知，甚易行，天下莫能知，莫能行，是以知我者稀，則我者貴。又曰：上士聞道，勤而行之；中士聞道，若存若亡；下士聞道，大笑之，不笑不足以為道。《內觀經》曰：知道易，信道難。信道易，行道難。行道易，得道難。得道易，守道難。難守而不失，乃可長生。</p>

<h2>治心</h2>
<p>臞仙曰：心者，神明之舍，中虛不過經寸，而神明居焉。事物之滑，如理亂棼，如涉驚浸，或怵惕，或懲創，或喜怒，或思慮，一日之間，一時之頃，徑寸之地，炎如火矣。故神弗留則蠹明，弗留則耗休，休焉常與道謀，而自不覺。或曰謹於為善，若嗜欲一萌，即不善也。歸而勿納，是與良心競也，必有忿悁之心起而與我敵。以我矜願之意，接彼忿悁之心，何為不鬥？鬥不止而害生矣。凡七情六慾之生於心，皆然，故曰心靜可以通乎神明，事未至而先知，是不出戶知天下，不窺牖見天道也。蓋心如水之不撓，久而澄清，洞見其底，是謂靈明，宜乎靜，可以固元氣，則萬病不生，故能長久。若一念既萌，神馳於外，氣散於內，血隨氣行，榮衛昏亂，百病相攻，皆因心而生也。大概恰恰養天君，疾病不作，此治心之法也。</p>

<h2>導引法</h2>
<p>閉目冥心坐（冥心盤跗而坐），握固靜思神，叩齒三十六，兩手抱崑崙（叉兩手向項後，數九息勿令耳聞，自此以後，出入息皆不可使耳聞。）左右鳴天鼓，二十四度聞（移兩手心掩兩耳，先以第二指壓中指，彈擊腦後，左右各二十四次。）微擺撼天柱（搖頭左右顧，肩膊隨動二十四，先須握固。）赤龍攪水渾（赤龍者舌也，以舌攪口齒並左右頰，待津液生而咽。）漱津三十六（一云鼓漱，）神水滿口勻，口分三咽（所漱津液，分作三口，作汨汨聲而咽之。）龍行虎自奔（液為龍，氣為虎。）閉氣搓手熱（以鼻引清氣閉之，少頃搓手令極熱，鼻中徐徐乃放氣出。）背摩後精門（精門者，腰後外腎也，合兩手摩畢，收手握固。）盡此一口氣（再閉氣也。）想火燒臍輪（閉口鼻之氣，想用心火下燒丹田，覺熱極，即用後法。）左右轆轆轉（俯首擺撼兩肩三十六，想火自丹田透，透雙關入腦戶，）兩腳放舒伸（放直兩腳，）叉手雙虛托（叉手相交，向上托空三次或九次，）低頭攀足頻（以兩手向前扳腳心十三次，乃收足端坐。）以候逆水上（候口中津液生，如未生再用急攬，取水同前法，）再漱再吞津。如此三度畢，神水九次吞（謂再漱三十六，如前口分三咽，乃為九也。）嚥下汨汨響，百脈自調勻。河車搬運訖（擺肩並身二十四，及再轉轆轆二十四次，）發火遍燒身（想丹田火，自下而上，遍燒身體，想時口及鼻皆閉氣少頃。）邢魔不敢近，夢寐不能昏，寒暑不能入，災病不能迍。子後午前作，造化合乾坤，循環次第轉，八卦是良因。</p>
<p>訣曰：其法於甲子日，夜半子時，起首行時，口中不得出氣，唯鼻中微放清氣。每日子後午前，各行一次，或晝夜共行三次，久而自知蠲除疾疫，漸覺身輕，若能勤苦不怠，則仙道不遠矣。叩齒集神三十六，兩手抱崑崙，雙手擊天鼓二十四。</p>
<p>上法先須閉目、冥心、盤坐、握固、靜思，然後叩齒、集神，次叉兩手向項後，數九息勿令耳聞，乃移手各掩耳，以第二指壓中指，擊彈腦後，左右各二十四次。</p>

<h2>叩齒集神圖法</h2>
<figure>
<img alt="叩齒集神圖法">
</figure>

<h2>搖天柱圖法</h2>
<figure>
<img alt="搖天柱圖法">
</figure>
<p>左右手搖天柱各二十四次。</p>
<p>上法先須握固，乃搖頭左右顧肩膊，隨動二十四。</p>

<h2>舌攪漱咽圖法</h2>
<figure>
<img alt="舌攪漱咽圖法">
</figure>
<p>左右舌攪上齶三十六漱，三十六分作三口，如硬物咽之，然後方得行火。</p>
<p>上法以舌攪口齒，並左右頰，待津液生，方漱之，至滿口，方咽之。</p>

<h2>摩腎堂圖法</h2>
<figure>
<img alt="摩腎堂圖法">
</figure>
<p>兩手摩腎堂三十六，以數多更妙。</p>
<p>上法閉氣，搓手令熱，後摩腎堂，如數畢，仍收手握固，再閉氣，想用心火下燒丹田，覺熱極，即用後法。</p>

<h2>單關轆轤圖</h2>
<figure>
<img alt="單關轆轤圖">
</figure>
<p>左右單關轆轤各三十六。</p>
<p>上法須俯首，擺撼左肩三十六次，右肩亦三十六次。</p>

<h2>雙關轆轤圖法</h2>
<figure>
<img alt="雙關轆轤圖法">
</figure>
<p>雙關轆轤三十六。</p>
<p>上法兩肩並擺撼，至三十六數，想火自丹田透雙關入腦戶，鼻引清氣，後伸兩腳。</p>

<h2>托天按頂圖法</h2>
<figure>
<img alt="托天按頂圖法">
</figure>
<p>兩手相搓，當呵五呵，後叉手托天，按頂各九次。</p>
<p>上法叉手相交，向上托空三次或九次。</p>

<h2>鉤攀圖法</h2>
<figure>
<img alt="鉤攀圖法">
</figure>
<p>以兩手如鉤，向前攀雙腳心十二，再收足端坐。</p>
<p>上法以兩手向前攀腳心十二次，乃收足端坐，候口中津液生，再漱再吞，一如前數，擺肩並身二十四，及再轉轆轤二十四次，想丹田火自下而上，遍燒身體，想時口鼻皆須閉氣少頃。</p>
<p>已上八法，乃修真之次第工程也。每日子前午後，各行一次，或晝夜共行三次。久則自然身輕體健，諸邪無所入矣。</p>
