<header data-type="book">
<h1>此事難知</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王好古</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1308">公元1308年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆癸未年（1583）金陵周氏仁壽堂刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=d653cb12effa41fa99486c52c687f3e7fDcyNDUw0&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·此事難知》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0055/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>子讀醫。書幾十載矣。所仰慕者。仲景一書為尤焉然讀之未易洞達其趣。欲得一師指之遍國中無有能知者。寤而思寐而思。天其勤恤俾我李公明之授予及所不傳之妙。旬儲月積浸就編帙。一語一言美無可狀始而終之終而始之。即無端之園壁也或有人焉。厭聞而惡見者。豈公徒使之然哉。彼未嘗聞未嘗見恥夫後於人之過也。因目之曰此事難知。以其不因師指也人徒見是書為傷寒之法。而不知上合軒岐之經中契越人之典下符叔和之文茲又言外不傳之秘具載斯文矣時至大改元秋七月二十有一日古趙王好古識。</p>

<h1>卷上</h1>

<h2>醫之可法</h2>
<p>自伏羲神農黃帝而下。名醫雖多所可學者有幾人哉。至於華氏之剖腹王氏之灸針術非不神也後人安得而效之。非岐伯之聖經。雷公之炮炙伊贄之湯液。箕子之洪範。越人之問難仲景之傷寒。叔和之脈訣。士安之甲乙。啟玄子之傳注。錢仲陽之論議。皆其活法。所可學者。豈千方萬論印定後人眼目者。所能比哉。其間德高行遠奇才異士。與夫居縉紳隱草莽者。然有一法一節之可觀。非百代可行之活法。皆所不取也。豈予好辯哉。欲使學者觀此數聖賢。而知所可慕而已。或有人焉。徒能廣覽泛涉。自以為多學而用之無益者。豈其知本。</p>

<h2>或問手足太陽、手足陽明、手足少陽、俱會於首、然六陽會於首者、亦有陰乎</h2>
<p>答曰。有。六腑者六陽也。五臟者五陰也。肺開竅於鼻心開竅於舌。脾開竅於口。肝開竅於目。腎開竅於耳。是五陰也。又有厥陰與督脈會於巔。是六陰也。耳者腎也。復能聽聲。聲為金。是耳中有肺也。鼻者肺也。復能聞臭。是鼻中有心也。舌者心也。復能知味。是舌中有脾也。目有五輪。通貫五臟。口為脾脾為坤土。主靜而不動。故無所兼。言耳鼻舌各兼一目兼四。此與督脈。共計十三陰也。腦為諸體之會即海也腎主之。是為十四陰矣。</p>

<h2>經脈終始</h2>
<p>寅手太陰肺。始於中焦終於大指內廉出其端。</p>
<p>卯手陽明大腸。始於大指次指之端。終於上俠鼻孔辰足陽明胃。始於鼻交頞中。終於入大指間出其端。巳足太陰脾。始於大指之端。終於注心中。</p>
<p>午手少陰心。始於心中。終於循小指之內出其端。</p>
<p>未手太陽小腸。始於小指之端。終於抵鼻至目內眥斜絡於顴。</p>
<p>申足太陽膀胱。始於目內眥。終於小指外側出其端酉足少陰腎。始於小指之下。終於注胸中。</p>
<p>戌手厥陰心包。始於胸中。終於循小指次指出其端。亥手少陽三焦。始於小指次指之端。終於至目銳眥子足少陰膽。始於目銳眥。終於小指次指循大指內出其端貫爪甲出三毛。</p>
<p>醜足厥陰肝。始於大指聚毛之上。終於注肺中。</p>
<p>手之三陽。從手走頭。足之三陽。從頭走足。是高能接下也。</p>
<p>足之三陰。從足走腹。手之三陰。從腹走手。是下能趨上也。</p>
<p>故上下升降而為和。易曰。天道下濟而光明。地道卑而上行。易曰。山澤通氣。故氣寄於辛。用於寅平旦始從中焦注循天之紀左旋至醜而終。晝夜通行五十度。周流八百一十丈。夫倡則婦隨。血隨氣而上行。殊不見潤下之意。經云。氣主煦之升也。血主濡之潤也。書云。水日潤下。如何說得。從氣之血。有不行之體如百川右行東至於海請示。</p>

<h2>日用</h2>
<p>復臨泰壯夬乾姤。　遁否觀剝坤二六。</p>
<p>青白正分開與闢。　赤黑往來通道路。</p>
<p>泰即居艮否居坤。　乾作天門巽地戶。</p>
<p>氣終於醜始於寅。　血諦辛陰從下去。</p>
<p>丙潛壬內卻從高。　順至乙穴還上注。</p>
<p>婦隨夫唱幾曾停。　萬派千流無暫住。</p>
<p>血氣包含六子中。　晝夜行流五十度。</p>
<p>食時骸理敬修行。　玄府身周勻閉拒。</p>
<p>排山倒海毒非常。　撩鼻捻髭心不怖。</p>
<p>天長地久太虛持。　不虧八一元來數。</p>
<p>休說乘虛謾履空。　嬴取康寧三六足。</p>
<p>知之非難行之難。　造次顛沛宜常慮。</p>

<h2>人肖天地</h2>
<p>且天地之形如卯。橫臥於東南西北者。自然之勢也血氣運行故始於手太陰。終於足厥陰。帝曰。地之為下否乎。岐伯曰。地為人之下太虛之中也。曰馮乎。曰大氣舉之也。是地如卯黃在其中矣。又曰地者所以載生成之形類也。易曰。坤厚載物德。合無疆。信乎天之包地。形如卯焉。故人首之上。為天之天。足之下為地之天。人之浮於地之上。如地之浮於太虛之中也。地之西始於寅終於醜。血之東根於辛納於乙。相隨往來不息。獨缺於乾巽。為天地之門戶也。啟玄子云。戊土屬乾。巳土屬巽。遁甲曰。六戊為天門。六巳為地戶。此之謂也。經云。天地者萬物之上下。左右者陰陽之道路。氣血者父母也。父母者天地也。血氣周流於十二經。總包六子於其中。六氣五行是也。無形者包有形。而天總包地也。天左行而西氣隨之。百川並進而東血隨之。</p>

<h2>問脾寄於坤如何。是損至第三。若從脾為。第二從腎為第四請言脾數</h2>
<p>答曰。脾雖寄於坤。實用於巳。從上肺心。從下腎肝。脾中得三數也。如氣寄於辛而用於寅。包絡三焦。寄於醜而用。於申也。此人之所以肖天地而生。易曰乾為首。坤為腹。震為足巽為股。坎為耳。離為目。艮為手。兌為口。</p>

<h2>明經絡之數有幾</h2>
<p>答曰。十二大經之別。並任督之別。脾之大絡脈。別名曰大包。是為十五絡。諸經皆言之。予謂胃之大絡。名曰虛思。貫膈絡出於左乳下。其動應晨脈宗氣也。是知絡有十六也。</p>

<h2>問三焦有幾</h2>
<p>答曰。手少陽者。主三焦之氣也。靈樞經云。足三焦者。太陽之別也。並太陽之證。入絡膀胱約下焦。是知三焦有二也。</p>

<h2>問臟腑有幾</h2>
<p>答曰。肝心脾肺腎兼包絡。一名命門。為六臟。膽小腸胃大腸膀胱兼三焦。為六腑。計之十二矣。故包則為一府矣。是為十三矣。經曰。胞移熱於膀胱則癃溺血。又云。胞痹者。少腹膀胱。按之內痛者。若沃以湯注云膀胱胞內居之。內外二境圖云。膀胱者胞之室也以是知為十三臟腑矣。</p>

<h2>傷寒之源</h2>
<p>冬傷於寒。春必溫病。蓋因房室勞傷與辛苦之人腠理開泄。少陰不藏。腎水涸竭而得之無水則春水無以發生故為溫病。至長夏之時。時強木長因絕水之源。無以滋化。故為大熱病也。傷寒之源如此四氣調神論曰。運冬氣則少陰不藏。腎氣獨沉。廣成子云無勞汝形。無搖汝精。金匱真言曰。夫精者身之本也。故藏於精者春不病溫。注云。冬不按蹺。精氣伏藏。陽不妄升。故春不病溫。又經云。不妄作勞。又云不知持滿又云水冰地折。無擾乎陽。又云。無泄皮膚。使氣丞奪。啟玄子云。腎水旺於冬。故行夏令。則腎氣傷。春木旺而水廢。故病於春也。逆冬則傷腎。故少氣以奉春生之令也。是以春為溫病。夏為熱。長夏為大熱病。其變隨乎時而已。邪之所感淺者。其病輕而易治。深者其病重而難治。尤深者其病死而不治。</p>

<h2>冬傷於寒春必溫病</h2>
<p>冬傷於寒者。冬行秋令也。當寒而溫火勝而水虧矣水既已虧則所勝妄行。土有餘也。所生受病。水不足也。所不勝者侮之。火太過也。火土合德。濕熱相助。故為溫病。使民腠理開泄。少陰不藏。惟房室勞傷。辛苦之人得之。若此者皆為溫病。所以不病於冬。而病於春者以其寒水居卯之分方得其權。大寒之令復行於春。腠理開泄。少陰不藏。房室勞傷。辛苦之人。陽氣泄於外。腎水虧於內。當春之月。時強木長無以滋生化之源。故為溫病耳。故君子周密於冬。少陰得藏於內腠理以閉拒之雖有大風苛毒莫之能害矣。何溫病之有哉。人肖天地而生也。冬時陽氣俱伏於九泉之下。人之陽氣俱藏於一腎之中。人能不擾乎腎。則六陽安靜於內。內既得以安。外無自而入矣。此傷寒之源。非天之傷人。乃人自傷也。傷於寒者皆為病熱。為傷寒氣乃熱病之總稱。故曰傷寒。知寒受熱邪明矣。六陰用事於冬。陽氣在內周密閉藏可矣。反勞動之。而泄於外。時熱已傷於水矣。至春之時。木當發生陽已外泄。孰為鼓舞。腎水內竭。孰為滋養。此兩者同為生化之源。源既已絕。水何賴以生乎。身之所存者。獨有熱也時強木長。故為溫病矣。</p>

<h2>春傷於風夏生飧泄</h2>
<p>木在時為春。在人為肝。在天為風。風者無形之清氣也。當春之時發為溫令。反為寒折。是三春之月。行嚴冬之令也。以是知水為大過矣。水既太過。金肅愈□是所勝者乘之而妄行也。所勝者乘之。則木虛明矣故經曰。從後來者為虛邪。木氣既虛。火令不及是所生者受病也。故所不勝者侮之。是以土來木之分喎而為飧泄也。故經曰。清氣在下。則生飧泄以其濕令當權。故飧泄之候發之於夏也。若當春之時。木不發生。溫令未顯。止行冬令。是謂傷衛。以其陽氣不出地之外也。當以麻黃湯發之。麻黃味苦。味之薄者。乃陰中之陽也。故從水中補木而瀉水。發出津液為汗也。若春木已生。溫令已顯。陽氣出於地之上。寒再至而復折之當以輕發之。謂已得少陽之氣。不必用麻黃也。春傷於風。夏生飧泄。所以病發於夏者。以其木絕於夏。而土旺於長夏。濕本有夏行之體。故飧泄於夏也。不病於春者。以其春時風雖有傷。木實當權。故飧泄不病於木之時。而發於濕之分也。經曰至而不至。是為不及。所勝妄行。所不勝者薄之。所生者受病。此之謂也。</p>

<h2>夏傷於暑秋必痎瘧</h2>
<p>暑者。季夏也季夏者。濕土也。君火持權不與之子。暑濕之令不行也。濕令不行。則土虧矣所勝妄行木氣太過。少陽旺也。所生者受病則肺金不足。所不勝者侮之。故水得以乘之土分。</p>
<p>土者坤也。坤土申之分。申為相火。水入於土。則水火相干。而陰陽交爭。故為寒熱。兼木氣終見三焦。是二少陽相合也。少陽在濕土之分。故為寒熱。肺金不足灑淅寒熱此皆往來未定之氣也。故為痎瘧。久而不愈瘧不發於夏而發於秋者。以濕熱在酉之分。方得其權。故發於大暑以後也。</p>

<h2>秋傷於濕冬生咳嗽</h2>
<p>秋者清肅之氣。收斂下行之體也為濕所傷。是長夏之氣。不與秋令也。秋令不及。所勝妄行。故火得以炎上。而剋金。心火既形於肺。故肺氣逆而為咳。所不勝者侮之。木氣上行與火同。得動而不息也。所生者受病。故腎水虧也。長夏已亢。三焦之氣盛也。命門（有三）焦之舍也。故迫腎水上行。與脾土濕熱相合為痰困。痎而動於脾之濕也。是以咳嗽有聲有痰咳嗽不發於秋。而發於冬者。以其六陰之極。肅殺始得其氣。故肺不咳嗽於秋。而咳嗽於冬也。咳嗽者。氣逆行上也氣上行而逆。故面目發微腫。極則身體皆腫。變為水氣。</p>
<p>故曰濁氣在上。則生䐜脹。又曰。諸氣䐜郁。皆屬肺金此之謂也。春傷於風夏傷於暑冬傷於寒辭理皆順時字傷令字也。獨秋傷於濕。作令字傷時字。讀者不疑也。此四者皆無所亢。而害其所乘之子也。邪從後至。言歲之主氣。各差其分而為病。一定之法也。若說秋字傷濕字。其文與上三句相通。其理與法不相通大抵理與法通。不必拘於文也。故說詩者。不以文害辭。不以辭害意。以意逆志為得之矣故曰。春傷於風說作人為風所傷非也。若是則止當頭痛惡風自汗何以言夏為飧泄哉。今言春傷於風。即是時傷令也明矣。經云。東方來者為嬰兒風其傷人也外在於筋。內舍於肝。又曰。春甲乙所傷。謂之肝風。用此二句。以較前文。則辭理自通矣。</p>

<h2>問兩感邪從何道而入</h2>
<p>答曰。經云。兩感者死不治。一日太陽與少陰俱病。頭痛發熱。惡寒口乾。煩滿而渴。太陽者腑也。自背俞。而入。人之所共知。少陰者臟也。自鼻息而入。人所不知也。鼻氣通於天。故寒邪無形之氣。從鼻出入。腎為水也。水流濕。故腎受之。經曰。傷於濕者。下先受之。同氣相求耳。又云天之邪氣感則害人五臟以是知內外兩感。臟腑俱病。欲表之。則有里。欲下之。則有表。表裡既不能一治。故死矣。故云兩感者不治。然所稟有虛實。所感有淺深。虛而感之深者必死。實而感之淺者。猶或可治。治之而不救者有矣。夫未有不治。而獲生者也。予嘗用此。間有生者。十得二三。故立此方。以待好生君子用之。解利兩感神方。</p>

<h2>大羌活湯</h2>
<p>防風　羌活　獨活　防己　黃芩　黃連　蒼朮　白朮　甘草（炙）　細辛（去土各三錢）　知母（生）　川芎　地黃（各一兩）</p>
<p>上㕮咀。每服半兩。水二盞煎至一盞半。去渣得清藥一大盞。熱飲之不解再服。三四盞解之亦可。病愈則止。若有餘證。並依仲景隨經法治之。</p>

<h2>清氣為榮</h2>
<p>清者體之上也。陽也。火也。離中之陰降。午後一陰生。即心之生血。故曰清氣為榮。</p>

<h2>濁氣為衛</h2>
<p>濁者。體之下也。陰也。水也。坎中之陽升。子後一陽生。即腎陽舉而使之。故曰濁氣為衛。地之濁不升。地之清能升。能陽舉而使之上也。天之清不降。天之濁能降。為六陰驅而使之下也。經曰。地氣上為云。天氣下為雨。雨出地氣。云出天氣。此之謂歟。</p>

<h2>其用在下。膽胃膀胱大腸小腸</h2>
<p>天六腑氣表。其體在上。其用在下。</p>

<h2>其用在上。兩目兩耳鼻口舌</h2>
<p>地五臟血里。其體在下。其用在上。</p>

<h2>格則吐逆、九竅、五臟</h2>
<p>陰極自地而升。是行陽道。乃東方之氣。金石之變。上壅是也。極則陽道不行。反閉於上。故令人吐逆。是地之氣不能上行也。逆而下降。反行陰道。故氣填塞而不入則氣口之脈大四倍於人迎此清氣反行濁道也。故曰格。</p>

<h2>關則不便、下竅、六腑</h2>
<p>陽極自天而降。是行陰道。乃西方之氣。膏粱之物。下泄是也。極則陰道不行。反閉於下。故不得小便。是天之氣不得下通也。逆而上行。反行陽道。故血脈凝滯而不通。則人迎之脈大四倍於氣口。此濁氣反行清道也。故曰關。</p>

<h2>三陽氣血多少</h2>
<p>寅為少陽。何以復為太陽。一陽初出地之外即數陽也。故謂之少陽。二陽過卯故謂之陽明三陽至巳。故謂之太陽之氣。升至極之分。便是太陽也。三陽俱為太陽之氣。居其底卻為少陽也。以此推之。三陽所呼之名異。非有二體也。以其從多少而言之耳。</p>
<p>陽氣之極。舉陰於九天之上。故水自天而降。故太陽即為寒水也。所以血多而氣少。陰明居太陽少陽之中。二陽合明。故曰陽明。陰陽等也。所以氣血俱多。少陽者。初出之氣。少。而不能鼓舞。陰氣陽伏地中尚多。故為龍火為震為雷為足。俱屬地之下也。所以氣多血少。少陽極舉陰於九天之上。肺為衛天之極表也。所以上氣故肺受之。至高者肺也故為手太陰陰於此為秋氣而復降。重陽補下焦元氣重陰補上焦元氣。辛為天之味。能補地之分。自上而降於下也。苦為地之味。能補天之分。自下而升於上也。此二者。皆從其源也。六陽俱極舉陰於九天之上。故陰自天而降。是陰降於九天之上。而姤卦之陰復何以從下生。蓋陰之首雖從天而降。其陰之尾巳至地矣。故陰從地而生。所以一陰從五陽之下也。凡所生者。從下皆從乎地也。故地為萬物之母。又云非母不生。從地而生者為春氣。從天而降者為秋氣。九天之上為夏。九天之下為冬。</p>

<h2>氣血之體</h2>
<p>以上下言之有若立輪外焉。天道左旋。而西中焉。地道右旋。而東似不相侔。大抵血隨氣行。夫唱婦隨是也。血雖從氣。其體靜而不動。故氣血如磨之形。上轉而之西。下安而不動。雖云不動。自有東行之意。以其上動而下靜。不得不爾也。天地之道如故。熯守所言。從乎天也。自艮而之巽。晉令所言從乎地也。自乾而之坤。是以乾坤之用備矣。言天道者。從外而之內也。言地道者。從內而之外也。從外之內者。傷寒也。從內之外者雜（病也）</p>

<h2>辯表裡中三證</h2>
<p>假令少陽證。頭痛往來寒熱。脈浮弦。此三證但有一者。是為表也。口失滋味。腹中不和。大小便或閉而不通。或泄而不調。但有一者。是為里也。如無上下表里證。余者皆虛熱也。是在其中矣。</p>

<h2>辯陰陽二證</h2>
<p>陰證身靜。重語無聲氣難布息。目睛不了了。鼻中呼不出吸不入。往來口與鼻中氣冷。水漿不入大小便不禁。面上惡寒有如刀刮。</p>
<p>陰證身動。輕語有聲。目睛了了。鼻中呼吸出入能往而能來。口與鼻中氣皆然。</p>

<h2>辯表傷陰陽二證</h2>
<p>身表涼。知在陰經也。名曰陰證。</p>
<p>身表熱。知在陽經也。名曰陽證。</p>

<h2>辯內外傷</h2>
<p>傷風鼻中氣出粗。合口不開。肺氣通於天也。傷食口無味。涎不納。鼻息氣勻。脾氣通於地也。</p>
<p>外傷一身盡熱。先太陽也。從外而之內者。先無形也。內傷手足不和。兩脅俱熱。知先少陽也。從內之外者。先有形也。</p>
<p>內外俱傷。人迎氣口俱盛。或舉按皆實大。表發熱而惡寒。腹不和而口液。此內外兩傷也。</p>
<p>凡診。則必捫手心手背。手心熱則內傷手背熱則外傷。次以脈別之。</p>
<figure>
<img alt="不言手經圖">
</figure>
<p><u>傷寒言足經　手經皆有餘</u></p>
<p><u>不言手經圖　足經皆不足</u></p>
<p>冬傷於寒者。春必溫病。夏為熱病。長夏為大熱。病蓋因房室勞傷與辛苦之人得之。水虧無以奉春生之令。故春陽氣長而為溫病也。夏為熱病者。是火先動於火未動之時。水預虧於水巳旺之日。故邪但藏而不為病也。夏令炎蒸。其火既旺與前所動者。客邪與主氣二火相接。所以為熱病也。長夏為大熱病者。火之方與秋之分。皆手經居之。木之方與春之分。皆足經居之。所傷者皆足經不足。及夏火旺。客氣助於手經。則不足者愈不足矣。故所用之藥。皆泄有餘而非足經藥。何以然。泄有餘則不足者補矣。此傷寒本足經。只言足經而不言手經也。大意如此。至於傳手經者。亦有之當作別論。與夫奇經之病亦在其中矣。</p>

<h2>六經傳足傳手經則愈</h2>
<p>陽中之陰水。太陽是也。為三陽之首。能巡經傳。亦越經傳。</p>
<p>陽中之陽土。陽明是也。夫陽明為中州之土。主納而不出。如太陽傳至此。名曰巡經傳也。</p>
<p>陽中之陽木。少陽是也。上傳陽明。下傳太陰。如太陽傳至此。為越經傳也。</p>
<p>陰中之陰土。太陰是也。上傳少陽為順。下傳少陰為逆。此為土下傳也。如太陰傳太陽。為誤下傳也。陰中之陽水少陰是也。上傳太陰為順。下傳厥陰為生。如太陽傳至此乃表傳裡也。</p>
<p>陰中之陰木。厥陰也。上傳少陰為實。再傳太陽為自愈也。</p>

<h2>太陽六傳</h2>
<p>太陽者乃巨陽也。為諸陽之首。膀胱經病若渴者。自入於本也。名曰傳本。</p>
<p>太陽傳陽明胃土者。名曰巡經傳。為發汗不徹利小便。餘邪不盡透入於裡也。</p>
<p>太陽傳少陽膽木者。名曰越經傳。為元受病脈浮無汗。當用麻黃而不用之故也。</p>
<p>太陽傳少陰腎水者。名曰表傳裡。為得病急當發汗而反下汗不發所以傳也。</p>
<p>太陽傳太陰脾土者。名曰誤下傳。為元受病脈緩有汗。當用桂枝。而反下之所致也。當時腹痛四肢沉重。</p>
<p>太陽傳厥陰肝木者。為三陰不至於首唯厥陰與督脈上行與太陽相接。名曰巡經得度傳。</p>

<h3>太陽證</h3>
<p>太陽證。頭項痛。腰脊強。發熱惡寒無汗。脈尺寸俱浮而緊。是發於陽陽者衛也（麻黃湯）主之。</p>
<p>麻黃（一兩半去節）　桂枝（一兩去皮）　杏仁（二十粒湯浸去皮尖）　甘草（半兩炙）</p>
<p>上銼每服五錢。水一盞煎溫服。</p>
<p>太陽證。頭項痛。腰脊強。發熱惡寒自汗。脈尺寸俱浮而緩者。榮也。（桂枝湯）主之。</p>
<p>桂枝（去皮）　芍藥　甘草（各等分）</p>
<p>上銼。每服八錢。水一盞半。薑棗同煎溫服。</p>

<h4>桂枝麻黃各半湯</h4>
<p>太陽證。頭痛發熱。自汗惡風。脈當緩而反緊。傷風得傷寒脈也。</p>
<p>太陽證。頭痛發熱無汗惡寒。脈當急而反緩。傷寒得傷風脈也。</p>
<p>二證脈不同本經（大青龍湯）主之。易老（桂枝麻黃各半湯）。此言外之意。楊氏云。非明脈者不可用大青龍湯。以其有厥逆筋惕肉瞤及亡陽之失也。故易老改為九味羌活湯。而不用桂枝麻黃也。羌活湯不論有汗無汗。悉宜服之。但有緩急不同矣。九味羌活湯藥證加減。服餌緩急。具見於後。</p>

<h4>桂枝二麻黃一湯</h4>
<p>太陽證。發熱惡寒自汗脈緩。太陽證。發熱惡風無汗脈緩。此易老元將麻黃一桂枝二治上二證後復改用羌活湯。</p>

<h4>太陽頭痛</h4>
<p>太陽膀胱脈浮緊直至寸口。所以頭痛者。頭與寸口俱高之分也。兼厥陰與督脈會於巔。逆太陽之經上而不得下。故壅滯為頭痛於上也。左手浮弦胸中痛也。沉弦背愈痛右手浮弦者亦然。頭痛者木也最高之分惟風可到風則溫也。治以辛涼。秋克春之意。故頭痛皆以風藥治之者。總其體之常也。然各有三陰三陽之異焉。故太陽則宜川芎。陽明則宜白芷少陽則宜柴胡。太陰則宜蒼朮。少陰則宜細辛。厥陰則宜吳茱萸也。</p>

<h4>治三陽則不可越經</h4>
<p>假令治太陽陽明。不可遺太陽而只用陽明藥余仿此用三陽經解藥後身番覆重者。若煩則是有陽明也。若不煩而番覆輕者。知不傳三陰也。不傳三陰則為解也。大抵三陰之體靜重與濕相同。傷寒五日後無汗。謂谷消水去形亡故下之。三日前謂內有水穀故汗之。</p>

<h4>問桂枝湯發字</h4>
<p>發汗。或云當得汗解。或云當發汗更發汗。併發汗。宜桂枝湯者數方。是用桂枝發汗也。復云。無汗不得服桂枝。又曰汗家不得重發汗。又曰發汗過多者。卻用桂枝甘草湯。是閉汗也。一藥二用。如何說得。仲景發汗與本草之義相通為一。答曰。本草云。桂味辛甘熱無毒。能為百藥長通血脈止煩出汗者。是調血而汗自出也。仲景云。臟無他病。發熱自汗者。此衛氣不和也。又云。自汗者為榮氣和。榮氣和則外不諧。衛氣不與榮氣相和諧也。榮氣和則愈。故皆用桂枝湯調和榮衛。榮衛既和。則汗。自出矣。風邪由此而解非桂枝能開腠理髮出汗也。以其固閉榮血。衛氣自和。邪無容地而出矣。其實則閉汗孔也。昧者不解閉汗之意。凡見病者。便用桂枝湯發汗。若與中風自汗者合其效桴鼓。因見其取效而病愈。則曰。此桂枝發出汗也。遂不問傷寒無汗者。亦與桂枝湯誤之甚矣。故仲景言無汗不得服桂枝。是閉汗孔也。又云。發汗多義（手冒）心。心悸欲得按者。用桂枝甘草湯。是亦閉汗孔也。又曰汗家不得重發汗。若桂枝湯發汗。是重發汗也。凡桂枝條下言發字。當認作出字。是汗自然出也。非若麻黃能開腠理而發出汗也。本草出汗二字。上文有通血脈一句。是非三焦衛氣皮毛中藥。是為榮血中藥也。如是則出汗二字。當認作榮衛和自然汗出。非桂開腠理而發出汗也。故後人用桂治虛汗。讀者當逆察其意則可矣。噫神農之作於其前。仲景之述於其後。前聖後聖其揆一也。</p>

<h4>太陽禁忌不可犯</h4>
<p>小便不利不可更利之。利之是謂犯本犯本則邪氣入里不能解此犯之輕也。以是五苓散不可妄用大便不可易動。動之是謂動血動血是謂犯禁。此犯之重也。表在不可下。下之是為犯禁此犯之尤重也。下之為惡風惡寒頭痛。待表證悉罷。方可下之也。脈浮緊者。犯之必結胸。脈浮緩者。犯之必痞氣。</p>

<h4>太陽證當汗</h4>
<p>不咽乾不衄不淋不渴。小便自利不經發汗。則當發之。</p>

<h4>太陽證不當汗</h4>
<p>咽乾淋渴鼻衄小便不利已經發汗。不得重發如無以上忌證。雖發汗邪氣未盡。亦得重發之</p>

<h4>當汗而不汗生黃</h4>
<p>其證為風寒所傷。陽氣下陷入於內。而排寒水上行於經絡之間。本當發汗。因以徹其邪。醫失汗之故生黃也。脾主肌肉四肢。寒濕與內熱相合。而生黃也。</p>

<h4>當汗而發汗過多成痓</h4>
<p>其證因發汗太過。腠理開泄汗漏不止。故四肢急難以屈伸。</p>

<h4>不當汗而汗成蓄血</h4>
<p>蓄血其證燥火也。當益津液為上。而反汗以亡其津液。其毒擾陽之極。則侵陰也。故燥血而蓄於胸中也。</p>

<h4>血證見血自愈</h4>
<p>太陽病入膀胱小便利而赤。蓄血證也。血自下者愈也。</p>

<h4>知可解</h4>
<p>戰而汗解者太陽也。不戰有汗而解者。陽明也。</p>
<p>不戰無汗而解者少陽也。若先瘥經必不爾矣。</p>
<p>太陽傳陽明。其中或有下證。陽明證反退。而熱兼不渴。卻退顯少陽證。是知可解也。</p>
<p>太陽證知可解者。為頭不痛項不強肢節不痛則知表易解也。</p>
<p>陽明知可解者。為無發熱惡寒。知里易解也。</p>
<p>少陽證知可解者。寒熱日不移時。而作邪未退也。若用柴胡而移其時。早移之於晏。晏移之於早氣移之於血。血移之於氣。是邪無可容之地知可解也。</p>

<h4>知不可解</h4>
<p>服解藥而去沉困。只頭痛目悶。是知濕去而風不去。則欲解也。若風去而濕不去。則不解。何以然。風則高濕則下。而入里也。</p>

<h4>脈知可解不可解</h4>
<p>可解之脈浮而虛。不可解之脈浮而實。浮而虛者只是在表。浮而實者。知已在裡也。汗多不解者。轉屬陽明也。傷寒不頭痛。知邪不在經。若頭痛者。知邪在經也。</p>

<h4>易老解利法</h4>
<p>經云。有汗不得服麻黃。無汗不得服桂枝。若瘥服則其變不可勝數。故立此法。使不犯三陽禁忌。解利神方。</p>

<h4>九味羌活湯</h4>
<p>羌活（治太陽肢節痛君主之藥也。然非無以為主也。乃撥亂反正之主。故大無不通。小無不入關節痛非此不治也）　防風（治一身盡痛乃軍卒中卑下之職。一聽軍令。而行所使引之而至）　蒼朮（別有雄壯上行之氣。能除濕。下安太陰。使邪氣不納傳之於足太陰脾）　細辛（治足少陰腎苦頭痛）　川芎（治厥陰頭痛在腦）　香白芷（治陽明頭痛在額）　生地黃（治少陰心熱在內）　黃芩（治太陰肺熱在胸）　甘草（能緩裡急調和諸藥）</p>
<p>以上九味。雖為一方然亦不可執。執中無權。猶執一也。當視其經絡前後左右之不同。從其多少大小輕重之不一。增損用之。其效如神。（即此是口傳心授）</p>
<p>㕮咀水煎服。若急汗熱服。以羹粥投之。若緩汗溫服而不用湯投之也。</p>
<p>脈浮而不解者。先急而後緩。</p>
<p>脈沉而不解者。先緩而後急。</p>
<p>（九味羌活湯）不獨解利傷寒。治雜病有神。</p>
<p>中風行經者。加附子。中風秘澀者。加大黃。中風並三氣合而成痹等證。各隨十二經上下內外。寒熱溫涼。四時六氣。加減補瀉用之。煉蜜作丸尤妙。</p>

<h4>當汗而下之成協熱利</h4>
<p>當各隨三陽本證。表藥發之。發之表解。下利自愈。若不愈者。方可以利藥治之。</p>

<h4>太陽一下有八變</h4>
<p>太陽病下之其脈促。不結胸者。此為欲解也。</p>
<p>脈浮者必結胸。　脈緊者。必咽痛。</p>
<p>脈弦者。必兩脅拘急。脈細數者。頭痛不止。</p>
<p>脈沉緊。必欲嘔。　脈沉滑者。脅熱利。</p>
<p>脈浮滑者。必下血。</p>

<h4>里傳表</h4>
<p>太陽病反下之。因而腹滿時痛者。屬太陰也。桂枝加芍藥湯主之。至於大實痛者胃也。桂枝加大黃湯主之。巳傳戊婦告夫也。所以為里傳表即名誤下傳也。</p>

<h4>傷寒雜證誤下變有輕重</h4>
<p>或問曰。傷寒雜證一體。若誤下之。甚者變大。答曰。非一體也。傷寒誤下變無定體。雜病誤下變有定體。何以然。傷寒自外而入陽也。陽主動。雜病自內而出陰也。陰主靜。動者犯之。其變無窮。靜者犯之。其變止痞與腹脅痛而已。故變無窮者為重。痞與腹脅痛者為輕也。</p>

<h4>五苓散為下藥</h4>
<p>五苓散為下藥。乃太陽里之下藥也。太陽高則汗發之。下則引而竭之。渴者邪入太陽本也。當下之。使從膀胱出也。</p>
<figure>
<img alt="圖">
</figure>
<p>腎燥膀胱熱。小便不利。此藥主之。小便利者不宜用。然太陽病熱而渴。小便雖利。亦宜（五苓散）下之。</p>

<h4>當服不服則生何證</h4>
<p>答曰。當服不服。則谷消水去形亡。必就陽明燥火。戊胃發黃。故有調胃湯證。此太陽入本失下也。由不曾服（五苓散）。</p>

<h4>不當服服之則生何證</h4>
<p>答曰。不當服而服之。是為犯本小便強利。津液重亡。侵陽之極則侵陰而成血證也。輕則桃仁承氣湯。重則（抵當湯）故（五苓散）調和陰陽者也。乃太陽陽明之間。故為調和之劑。</p>

<h4>酒毒小便赤澀宜五苓散</h4>
<p>若熱在中焦。未入太陽之本。小便自利而清。是津液已行。若與五苓散利之。是重涸腎水也。不惟重涸腎水。酒毒之熱亦不能去。故上下不通。而溺澀則為發黃也。若入血室。則為蓄血也。</p>

<h4>五苓散以瀉濕熱</h4>
<p>火土入水</p>
<p>假令太陽證。傷寒自外入。標本有二說。以主言之。膀胱為本。經絡為標。以邪言之。先得者為本。後得者為標。此標先受之即是本也後入於膀胱。本卻為標也。此乃客邪之標本也。治當從客之標本。</p>
<p>小腸火為本。</p>
<p>膀胱水為本。</p>
<p>寒毒之氣從標入本邪與手經相合。而下至膀胱（五苓散）主之。桂枝陽中之陽。茯苓陽中之陰。相引而下。入於本道出邪氣。</p>
<p>手經　自上之下　足經　丙火　壬水　小腸　自下之上　膀胱</p>
<p>火邪之氣。從下之上。以內為本。水中有火。火為客氣當再責其本。兩腎相通。又在下部。責在下焦。下焦如瀆。相火明也。生地黃黃柏主之。邪從本受。下焦火邪遺於小腸。是熱在下焦。填塞不便自內而之外也。</p>

<h4>表之裡藥</h4>
<p>桂術　澤瀉　豬苓　茯苓　為陽中之陰</p>

<h4>里之表藥</h4>
<p>生地黃　黃柏　黃連　為陰中之陽</p>
<p>治酒病宜發汗。若利小便。炎焰不肯下行。故曰火鬱則發之。辛溫散之。是從其火體也。是知利小便利濕去熱不去。動大便尤為疏遠。大便者。有形質之物。酒者無形水也。從發而汗之最為之近。是濕熱俱去。治以辛溫。發其火也。佐以苦寒。除其濕也。</p>

<h4>加減涼膈退六經熱</h4>
<p>易老法。涼膈散減大黃芒硝。加桔梗同為舟楫之劑浮而上之。治胸膈中與六經熱。以其手足少陽之氣俱下胸膈中。三焦之氣同相火遊行於身之表。膈與六經乃至高之分。此藥浮載亦至高之劑。故能於無形之中。隨高而走。去胸膈中及六經熱也。</p>

<h3>陽明證</h3>
<p>陽明證。身熱目疼鼻乾。不得臥不惡風寒。而自汗。或惡熱脈尺寸俱長。（白虎湯）主之。石膏辛寒入肝。知母苦寒入腎。甘草　粳米之甘（居中。挽二藥上下）</p>

<h4>陽明證禁忌不可犯</h4>
<p>不當發汗。不當利小便。若發汗利小便。竭其津液。則生蓄血證也。唯當益津液為上。以其火就燥也。益津液者。連須蔥白湯是也。汗多亡陽。下多亡陰。小便重利之走氣。三者雖異。為言少津液則一也。</p>

<h4>汗多亡陽</h4>
<p>汗者。本所以助陽也若陽受陰邪。寒結無形須當發去陰邪以復陽氣。所謂益陽而除風寒客氣也。陰邪已去。而復汗之。反傷陽也經曰。重陽必陰故陽氣自亡。汗多亡陽。此之謂也。</p>

<h4>下多亡陰</h4>
<p>下者。本所以助陰也。若陰受陽邪熱結有形。須當除去已敗壞者。以致新陰此所謂益陰而除火熱邪氣也。陽邪已去。而復下之。反亡陰也。經曰。重陰必陽。故陰氣自亡。下多亡陰。此之謂也。</p>

<h4>汗無太早</h4>
<p>非預早之早。乃早晚之早也。謂當日午以前為陽之分。當發其汗。午後陰之分也。不當發汗。故曰汗無太早。汗不厭早。是為善攻。</p>

<h4>下無太晚</h4>
<p>非待久之晚。乃當日以後為陰之分也。下之謂當以前為陽之分也。故曰下無太晚。下不厭晚。是為善守。汗本亡陰。以其汗多陽亦隨陰而走。下本瀉陽以其下多陰亦隨陽而走。故曰汗多亡陽。下多亡陰也。</p>
<p>若犯發汗多　蓄血上焦為衄</p>
<p>若犯利小便多　蓄血下焦為發狂（其人如狂也）</p>

<h4>白虎加桂枝湯</h4>
<p>傷寒脈尺寸俱長。自汗大出。身表如冰石。至脈傳入於裡細而小。其人動作如故。此陽明傳入少陰。戊合癸即夫傳婦也。（白虎加桂枝湯）主之。然脈雖細小。亦當以遲疾別之。此證脈疾而非遲。故用此法。</p>

<h4>白虎加梔子湯</h4>
<p>治老幼及虛人。傷寒五六日。昏冒譫語。或小便淋或澀。起臥無度。或煩而不眠也。並宜此藥。</p>

<h3>傷暑有二</h3>

<h4>白虎加人參湯</h4>
<p>動而傷暑。心火大盛。肺氣全虧。故身脈洪大。動而火勝者。熱傷氣也。（白虎加人參湯）主之。辛苦人多得之。不可不知也。</p>

<h4>白虎加蒼朮湯</h4>
<p>靜而傷暑。火乘金位。肺氣出表。故惡寒脈沉疾靜而濕勝者。身體重也。（白虎加蒼朮湯）主之。安樂之人多受之。不可不知也。</p>
<p>春不服白虎為瀉金也。</p>
<p>秋不服柴胡為瀉木也。</p>
<p>此言體之常。</p>

<h4>梔子豉湯</h4>
<p>煩者氣也。躁者血也。氣主肺。血主腎。故用梔子以治肺煩。用香豉以治腎躁。煩躁者。懊憹不得眠也。</p>
<p>少氣虛滿者加甘草。如若嘔噦者。加生薑橘皮。下後腹滿而煩者。（梔子厚朴枳實湯。）下後身熱微煩者。（梔子甘草乾薑湯。）</p>

<h4>煩躁</h4>
<p>火入於肺煩也。火入於腎躁也。煩躁俱在上者。腎子通於肺母也。發潤如油。喘而不休。總言肺絕。鼻者肺之外候。肺氣通於鼻。鼻中氣出粗大是肺也。發者血之餘。腎氣主之。發潤如油。火迫腎水至高之分。是水將絕也。仲景以發潤喘大為肺絕。兼其腎而言之發在高巔之上雖屬腎。肺為五臟之至高。故言肺絕兼腎也。太抵肺腎相通肺既已絕。則腎不言而知其絕矣。或曰煩者。心為之煩。躁者心為之躁。何煩為肺躁為腎耶。夫心者君火也。與邪熱相接上下通。熱金以之而燥水以之而虧。獨存者火爾。故肺腎與心合而為煩躁焉。此煩雖肺躁雖腎。其實心火為之也。</p>
<p>若有宿食而煩躁者。梔子大黃湯主之。</p>

<h4>問邪入陽明為譫語妄言錯失此果陽明乎</h4>
<p>答曰。足陽明者胃也。豈有其言哉。傷寒始自皮毛入是從肺中來。肺主聲。入於心則為言。胃即戊也。戊為火化。下從腎肝。</p>

<h4>傷寒雜證發熱相似藥不可差</h4>
<p>傷寒表證。發熱惡寒而渴。與下證同。但頭痛身熱目疼鼻乾。不得臥（白虎湯）主之。乃陽明經病也。正陽陽明氣病。脈洪大先無形也。雜病里證。發熱惡熱而渴。但目赤者病藏也。手太陰肺不足不能管領陽氣也。宜以枸杞生地黃熟地黃之類主之脈洪大甚則嘔血先有形也。</p>

<h4>二證相似藥不可差</h4>
<p>氣病在表。誤用血藥。無傷也。為安血而益陰也。血病在裡。誤用氣藥。（白虎湯）者非也。為瀉肺而損陰也。</p>

<h4>狂言譫語鄭聲辯</h4>
<p>狂言者。大開目與人語。語所未嘗見之事。即為狂言也。譫語者。合目自言。言所日用常見常行之事。即為譫語也。鄭聲者。聲戰無力。不相接續。造字出於喉中。即鄭聲也。</p>

<h4>嘔吐噦胃所主各有經乎</h4>
<p>答曰。胃者總司也。內有太陽陽明少陽三經之別以其氣血多少。而與聲物有無之不同。即吐屬太陽。有物無聲。乃血病也。有食入即吐嘔。</p>
<p>食已則吐食久則吐之別。</p>
<p>嘔屬陽明。有物有聲。氣血俱病也。仲景云。嘔多雖有陽明證。不可下。</p>
<p>噦屬少陽。無物有聲。乃氣病也。以此推之。則大便亦各有經耳。但察其有物無聲有物有聲無物有聲。則知何經也。至於脾病。後出餘氣。以五臭分之。則知何藏入中州而病也。</p>

<h4>陽證發癍</h4>
<p>有下之早而發者有失下而發者有胃熱胃爛而發者。然得之雖殊大抵皆戊助手少陽心火入於手太陰肺也。故紅點如癍。生於皮毛之間耳。（白虎湯）（瀉心湯）（調胃承氣湯）從所當而用之。及當以肺脈別也。</p>

<h4>傷寒之經有幾</h4>
<p>答曰有九。太陽。陽明。少陽。太陰。少陰。厥陰。是為六也。有太陽陽明。有少陽陽明。有正陽陽明。是為三也。非九而何。陽明者。太陽少陽俱入於胃。故曰正陽陽明也。前三經者。陽明自病。不入於裡者。謂之在經。不為正陽陽明矣。</p>

<h4>三陽從中治</h4>
<p>太陽陽明。（大承氣湯）。少陽陽明（小承氣湯）。正陽陽明（調胃承氣湯）。以汗證言之。以少陽居其中。謂太陽證為表。當汗。陽明證為里。當下。少陽居其中故不從汗下。和之。以小柴胡湯從少陽也。以下證言之。陽明居其中。謂太陽經血多氣少陽明。經氣血俱多。少陽經氣多血少。若從太陽下則犯少陽。從少陽下則犯太陽。故止從陽明也。此三陽合病。謂之正陽陽明。不從標本從乎中也。緣陽明經居太陽少陽之中。此經氣血俱多故取居其中。是以不從太陽少陽而從陽明也。陽明自病（調胃承氣湯）主之三陽並病（白虎湯）主之。是從乎中也。</p>

<h4>經言胃中有燥屎五六枚何如</h4>
<p>答曰。夫胃為受納之司。大腸為傳道之府燥屎豈有在胃中哉。故經言谷消水去形亡也以是知在大腸而不在胃中明矣。</p>
<p>胃實者非有物也。地道塞而不通也。故使胃實。是以腹如仰瓦。注曰。難經云。胃上口為賁門。胃下口為幽門。幽門接小腸上口。小腸下口。即大腸上口也。大小二腸相會為闌門。水滲泄入於膀胱渣滓入於大腸。結於廣腸。廣腸者地道也。地道不通土壅塞也則火逆上行至胃。名曰胃實。所以言陽明當下者言上下陽明經不退也言胃中有燥屎五六枚者。非在胃中也。通言陽明也。言胃是連及大腸也。以其胃為足經。故從下而言之也。從下而言。是在大腸也。若胃中實有燥屎。則小腸乃傳導之府。非受盛之府也。啟玄子云。小腸承奉。胃司受盛。糟粕受已復化傳入大腸。是知燥屎在大腸之下。即非胃中有也。</p>

<h4>如何是入陰者可下</h4>
<p>答曰。陽入於陰者可下。非入太陰少陰厥陰之三陰也。乃入三陽也。三陽者。非太陽少陽陽明之三陽也。乃胃與大小二腸之三陽也。三陽皆為府以其受盛水穀。傳導有形。故曰入於陰也。仲景云。已入府者可下。此之謂也。</p>

<h4>評熱論藏字</h4>
<p>黃帝問傷寒或愈或死。其死皆以六七日其愈十日以上者何。岐伯對。以熱雖甚不死兩感者死。帝問其狀。岐伯云。一日太陽。二日陽明。三日少陽。繼之三陽經絡皆受病。而未入於藏者。可汗而已。此藏物之藏。非五臟之臟也。若三陽經入於藏物之藏。是可泄也。可泄一句。於此不言便言四日太陰。五日少陰。六日厥陰。於此卻不言可泄。但言三陰三陽五臟六腑皆受病。榮衛不行。五臟不通。則死。此一節。是言兩感也。故下文卻言兩感於寒者。七日巨陽衰。至十二日六經盡衰。大氣皆去。其病已矣。是通說上文。六日所受之病也。以此知前文四日太陰五日少陰。六日厥陰。皆在經絡。故十二日愈也。豈可便以太陰少陰厥陰為可泄乎。帝問治。岐伯對。以治之各通其藏脈日衰已矣。是通說上文。六日所受之病。並十二日衰已之意盡矣。終復言其未滿三日可汗而已。又言其滿三日可泄而已。一句只是重前文三陽受病。未入於藏者可汗。其滿三日已入於藏物之藏者可泄也。後三陰經。岐伯雖不言可汗可泄。止是在經者便可汗在藏物之藏者便可下也。何必穿鑿無已。以前三日為三陽後三日為三陰耶。若認藏字為五臟之臟則前後顛倒不通。若認藏字作藏物之藏。則前後辭理皆順矣。故仲景曰。已入於府者可下。新校正云府字當作藏字。太素亦云作府。何疑之有。</p>
<p>仲景太陽陽明（大承氣）。少陽陽明（小承氣）。正陽陽明（調胃承氣）。是三陽已入於藏者泄之也。太陰（桂枝湯。）少陰（麻黃附子細辛湯）。厥陰（當歸四逆湯）。是三陰未入於藏者。汗之也。大小（調胃三承氣湯）必須脈浮頭痛。惡風惡寒表證悉罷。而反發熱。惡熱譫言妄語不大便者則當用之。凡用下藥。不論大小。若不渴者。知不在有形也。則不當下。若渴者。則知纏有形也。纏有形是為在裡。在裡則當下。（大承氣湯）主之。</p>

<h4>大承氣湯</h4>
<p>大黃（用酒浸治不大便。地道不通行。上引大黃至巔而下）</p>
<p>厚朴（薑汁製。治腸脅䐜脹滿）</p>
<p>芒硝（治腸轉失氣。內有燥屎。本草云。味辛以潤腎燥。今人不用辛字只用咸字咸能耎堅與古人同意）</p>
<p>枳殼（麩炒。治心下痞。按之良久氣散病緩此並主心下滿。乃肝之氣盛也）</p>
<p>六腑受有形主血陰也。</p>
<p>大黃　芒硝　大實　燥屎</p>
<p>浮　手足陽明大腸　胃</p>
<p>沉　手足太陰肺　脾</p>
<p>痞　大滿</p>
<p>枳實　厚朴</p>
<p>五臟主無形。是氣陽也。</p>

<h4>小承氣湯</h4>
<p>治實而微滿。狀若飢人食飽飯腹中無轉失氣。此大承氣。只減芒硝。心下痞。大便或通。熱甚須可下者。宜用此。</p>
<p>大黃（生用）　厚朴（薑製）　枳殼（麩炒）</p>
<p>張仲景曰。雜證用此。名曰（三物厚朴湯）。</p>

<h4>調胃承氣湯</h4>
<p>治實而不滿不滿者。腹狀如仰瓦腹中轉而失氣。有燥屎不大便而譫語者。</p>
<p>大黃（酒浸。邪氣居高。非酒不至。譬如物在高巔。人力之所不及。則射以取之。故以酒炒用大黃生者。苦泄峻必下。則遺高之分邪熱也。是以愈後。或目赤或喉痹。或頭腫或膈食上熱疾生矣）</p>
<p>甘草（灸經云。以甘緩之）　芒硝（以辛潤之。又曰以咸䎡之）</p>
<p>以上三法。不可差也。若有所差。則無形者有遺。假令調胃承氣證用大承氣下之。則愈後元氣不復。以其氣藥犯之也。大承氣證。用調胃承氣下之。則愈後神癡不清以其氣藥無力也。小承氣證。若用芒硝下之。則或下利不止。變而成虛矣。三承氣豈可差乎。</p>

<h4>大柴胡湯</h4>
<p>治有表復有里。有表者。脈浮或惡風。或惡寒頭痛。四證中或有十二尚在者乃是。十三日過經不解是也。有里者。譫言妄語。擲手揚視。此皆里之急者也。欲汗之則里已急。欲下之則表證仍在。故以小柴胡中藥調和三陽。是不犯諸陽之禁。以芍藥下安太陰。使邪氣不納。以大黃去地道不通。以枳實去心下痞悶。或濕熱自利。若里證已急者。通宜大柴胡湯。小柴胡減人參甘草加芍藥枳實大黃是也。欲緩下之。全用小柴胡加枳實大黃亦可。</p>

<h3>少陽證</h3>
<p>少陽證。胸脅痛。往來寒熱而嘔。或咳而耳聾。脈尺寸俱弦。（小柴胡湯）主之。</p>

<h4>小柴胡湯</h4>
<p>柴胡少陽　半夏太陽　黃芩陽明</p>
<p>人參太陰　甘草太陰　薑棗辛甘發散</p>
<p>上各隨仲景本條下加減用之則可矣藥如本法。</p>

<h4>少陽證禁忌不可犯</h4>
<p>忌發汗。忌利小便。忌利大便。故名三禁湯。乃和解之劑。若犯之。則各隨上下前後本變。及中變與諸變不可勝數。醫者宜詳之。</p>

<h4>如何是半表半裡</h4>
<p>答曰。身後為太陽。太陽為陽中之陽。陽分也。身前為陽明。陽明為陽中之陰。陰分也。陽為在表。陰為在裡。即陰陽二分。邪在其中矣。治當不從標本。從乎中治。此乃治少陽之法也。太陽膀胱水寒也陽明大腸金燥也。邪在其中。近後膀胱水則惡寒。近前陽明燥則發熱。故往來寒熱也。此為三陽之表裡。非內外之表裡也。但不可認里作當下之裡。故以此藥作和解之劑非汗非下也。</p>

<h4>半表半裡有幾</h4>
<p>邪在榮衛之間。謂之半表裡也。太陽陽明之間少陽居身之半表裡也。（五苓散）分陰陽。膀胱經之半表裡也。（理中湯）治瀉吐。上下之半表裡也。</p>

<h4>問婦人經病。大人小兒內熱潮作。並瘧疾寒熱。其治同否</h4>
<p>答曰。帝問病之中外者何。岐伯對曰。從內之外者。調其內。若盛於外者。先治內而後治外。從外之內者。治其外。若盛於內者。先治外而後治內。此言表裡所出之異也。又云。中外不相及。則治主病者。中外不相及者。半表半裡也。自外入者有之。自內出者亦有之。外入內出雖異。邪在半表半裡則一也。此中外不相及為少陽也。治主病者。治少陽也。帝問寒熱之病。惡寒發熱如瘧。或發一日。或髮間日。岐伯對。以勝復之氣會遇之時。有多有少。陰多陽少。其發日遠陽。多陰少其發日近。此勝復相搏。盛衰之節瘧亦同法瘧者少陽也。少陽者東方之氣也。逆行則發寒。順行則發熱。故分之氣異往來之不定也。婦人經水適斷。病作少陽治之。傷寒雜病一體經云。身有病而有邪脈經閉也。又云。月事不來者。胞脈閉也。經閉者尺中不至。胞閉者生化絕源。二者皆血病也。厥陰主之。厥陰病則少陽病矣。累及其夫也。小兒外感內傷。若有潮作寒熱等證。並同少陽治之。男女同候以上男子婦人小兒閨女。或實作大熱或變成勞。脈有浮中沉之不同故藥有表裡和之不一。察其在氣在血定其行陰行陽。使大小不失其宜。輕重各得其所逆從緩急舉無不當。則可以萬全矣。此少陽一治不可不知也。</p>

<h4>熱有虛實外何以別</h4>
<p>答曰。五臟陰也。所主皆有形。骨肉筋血皮毛是也。此五臟皆陰足。是為實熱。陰足而熱不能起理也。陰足而熱反勝之。是為實熱。若骨痿肉爍筋緩血枯皮聚毛落。五陰不足。而為熱病。是虛熱。</p>

<h4>少陽雜病</h4>
<p>婦人先病惡寒手足冷。全不發熱。脈八至兩脅微痛治者便作少陽治之。或曰是則然矣論猶未也。至如無寒熱無脅痛當作何經治或者不敢對惡寒為太陽。脈八至且作陽治。當不從標本從乎中也。治此者少陽也。若曰脈八至作相火。亦少陽也。兼又從內而之外也是又當先少陽也。此不必論兩脅痛與不痛脈弦與不弦。便當作少陽治之。</p>

<h4>陽盛陰虛。發寒者何</h4>
<p>答曰。為陽在內侵於骨髓。陰在外致使發寒。治當不從內外從乎中治也。宜（小柴胡湯）調之。倍加薑棗。</p>

<h4>平旦潮熱</h4>
<p>熱在行陽之分肺氣主之。故曰（白虎湯）以瀉氣中之火。</p>

<h4>日晡潮熱</h4>
<p>熱在行陰之分。腎氣主之。故用地骨皮飲。以瀉血中之火。（白虎湯）其脈洪。故抑之。使秋氣得以下降也。（地骨皮）飲其脈弦。故舉之。使春氣得以上升也。</p>
<p>肺氣石膏辛　腎氣　知母　肺　血黃芩苦　腎血　黃柏</p>
<p>地骨皮瀉腎火。總治熱在外。地為陰。骨為里。皮為表。</p>
<p>牡丹皮治胞中火。無汗而骨蒸。牝牡乃天地之稱也。牡為群花之首。葉為陽發生也。花為陰成實也。丹者赤也。火也。能瀉陰中之火。（四物湯）加上二味。治婦人骨蒸知母瀉腎火有汗而骨蒸。</p>

<h3>太陰證</h3>
<p>腹滿咽乾。手足自溫。自利不渴。時腹痛。脈尺寸俱沉細。</p>

<h4>太陰可汗</h4>
<p>太陰病。脈浮者可汗。宜（桂枝湯。）</p>

<h4>太陰可溫</h4>
<p>自利不渴者。屬太陰。以其藏有寒故也。當溫之宜。（四逆輩。）此條雖不言脈。當知沉遲而弱。仲景（理中湯丸）。暨易老（人參黃耆湯）。量其輕重。或溫或熱。人之強弱虛實。所可宜者。選而用之。</p>

<h4>太陰有可下者乎</h4>
<p>答曰有經云。本太陽證。醫反下之。因爾腹滿時痛者太陰也。（桂枝芍藥湯）主之。大實痛者。（桂枝加大黃湯。）易老云。此非本有是證。以其錯下脾傳於胃。故誤下傳。</p>

<h4>知可解</h4>
<p>太陰中風四肢煩疼。陽微陰澀而長者。欲愈。表少里和脈長者。為陽漸生也。此一證。太陰便從外感太陰病欲解時。從亥至醜上也。</p>

<h4>太陰證禁忌不可犯</h4>
<p>太陰之為病。腹滿而吐。食不下。自利益甚。時腹自痛。若下之。則胸下結硬。太陰為病脈弱。其人續自便利。設當行大黃芍藥者。宜減之。以其人胃氣弱易動故也。傷寒而脈浮緩。手足自溫者。系在太陰。小便自利者。則不發黃。日久利益甚必自止者。便硬。乃入府傳陽明也。</p>

<h4>腹痛部分</h4>
<p>中脘痛。太陰也。（理中）（建中）（黃耆湯）類。主之。</p>
<p>臍腹痛。少陰也。（四逆）（真武）（附子湯）類。主之。</p>
<p>少腹痛。小腹痛。厥陰也。重則正陽（回陽丹）之類。輕則（當歸四逆湯）。</p>
<p>太陰傳少陰痛甚者。當變下利不止。</p>
<p>雜證而痛。（四物苦楝湯）（酒煮當歸丸）。增損（當歸丸）之類。</p>
<p>夏肌熱惡熱。脈洪疾。手太陰足陽明主之。（黃芩芍藥湯）。</p>
<p>秋肌熱惡寒。脈沉疾足少陰足太陰主之（桂枝芍藥湯）。</p>
<p>腹痛　腹痛者。（芍藥甘草湯）主之。</p>
<figure>
<img alt="圖">
</figure>
<p>腹不滿者加棗。若滿者不加。脾虛滿者。黃耆湯。芍藥停濕。</p>
<p>中滿者。分食甘二藥。用甘引至滿所脾實。</p>
<p>平胃散。蒼朮泄濕。小便不利者利之。</p>
<p>大便秘　實痞　厚朴　枳實　大便利　虛痞　芍藥　陳皮</p>
<p>傷食滿者。傷厥陰。是以腹脹滿者。皆屬木。</p>

<h3>少陰證</h3>
<p>少陰證。口燥舌乾而渴。脈尺寸俱沉疾。則（大承氣湯）沉遲。則（四逆湯）。</p>
<p>少陰邪入於裡。上接於心。與火俱化而剋金。惡候。或見氣死入胃。脈沉細而疾。疾則大承氣下之。下於本與水俱化。而為寒厥逆或見身冷靜重。脈沉細而遲。遲則（四逆湯）溫之。疾雖可下。若疾而無力者。亦不可下。為陽將盡也。</p>
<p>少陰證。口燥舌乾而渴。身表涼。脈沉細而虛。（瀉心湯）主之。此有形無形之藥也。</p>
<p>傷寒外證全在下證。大熱而脈反細小。不可下。瀉心湯主之。少陰受病。身涼無汗體沉。或體輕脈沉。有頭痛不厥。（麻黃附子瀉心湯）主之。</p>

<h4>走無形證</h4>
<p>其人病身熱而煩躁不寧。大小便自利。其脈浮洪而無力。按之全無者。（附子瀉心湯）主之。</p>

<h4>走有形證</h4>
<p>其人病上吐下瀉不止。當渴而反不渴。其脈微細而弱。（理中湯）主之。渴而脈沉有力而疾者。（五苓散）主之少陰證發熱脈沉者。必當汗。</p>
<p>緩汗之。（麻黃附子細辛湯）</p>
<p>微汗之。（麻黃附子甘草湯）</p>

<h4>少陰證下利辨</h4>
<p>色青者當下　色不青者當溫</p>

<h4>少陰證口中辨</h4>
<p>口中和者當溫。　口乾燥者當下</p>

<h4>少陰證咽喉辨</h4>
<p>熱者（甘草湯）　寒者（半夏湯）　寒熱者。（桔梗湯）　通脈（四逆湯）。</p>
<p>姜附加甘草為脈沉細而遲弦。姜附以治寒甘以緩之。為汗苦急也。其證小便自利。於能令母實自東之北為逆行也。</p>
<p>姜附加蔥白為脈沉細而遲澀姜附以治寒辛以潤之為腎惡燥也其證大便自利冷主氣自北而西此亦以為逆行也</p>

<h4>少陰禁忌不可犯</h4>
<p>脈細沉數病為在裡不可發汗。脈微者。不可發汗。尺脈微弱澀者。便不可下。</p>
<p>麻黃附子細辛湯。</p>
<p>體沉加防己。　蒼朮。　乃勝濕也。</p>
<p>體輕加石膏。　知母。乃勝熱也。</p>

<h1>卷下</h1>

<h2>前後虛實圖</h2>
<figure>
<img alt="前後虛實圖">
</figure>
<p>假令脾肺虛。則補其母。謂肺病而補其脾也。則腎自平矣。假令脾肺實。則瀉其子。謂脾病而瀉其肺也。則心自平矣。難經云。從前來者為實邪。從後來者為虛邪。從所不勝來者為賊邪。從所勝來者為微邪。自病者為正邪。</p>
<p>假令心病中風得之為虛邪。傷暑得之為正邪。飲食勞倦得之為實邪。傷寒得之為微邪。中濕得之為賊邪。</p>
<p>假令心病得脾脈。土在火之分也。剋火之水退而不敢至。火獨旺於南方。是從前來者為實邪也。</p>
<p>假令心病得肝脈。木在火之分也。土退而不敢至土退而不至則剋火之水。隨木而至是從後來者為虛邪也。</p>
<p>假令脾肺虛。脾母能令肺子虛也。用理中湯。非補脾也。脾中補肺也。故曰虛則補其母。以其脾為生肺之本也。則用人參白朮之類。大經曰滋苗者必固其根此之謂也。</p>
<p>假令脾肺實。肺子能令脾母實也用瀉黃散。非瀉脾也。脾中瀉肺也。故曰實則瀉其子。以其脾為生肺之上源。則用梔子石膏之類。大經曰。伐下者必枯其上此之謂也。</p>
<p>天和六脈六甲。旺脈四時。平脈合而用之則天地人三才之道備矣。</p>

<h2>諸經皆言大則病進者何也</h2>
<p>答曰。散而浮大者心也。心主無為。相火用事。是為相應。以五服言之。王畿中也。以王畿言之。九重中也君主無為。當靜以養血。若浮大而出於外。非其所宜也。以王道言之書云。外作禽荒。未或不忘。經云。主不明。則十二官危矣。此散而浮大者。君主兼臣下之權而不知反。故曰大則病進。</p>
<p>南政甲巳所臨之歲。司天在泉。但見君火在上者。上不應。在下者。下不應。</p>
<p>北政但見君火在上。則下不應。在下則上不應。在左則右不應。在右則左不應。當沉而浮。當浮而沉也。南政以前為左。以後為右。　君也</p>
<p>北政以前為右。以後為左。　臣也</p>
<p>啟玄子云天地陰陽視之可見。何必思諸冥昧演法推求。智極心勞。而無所得耶。</p>

<h2>難經仲景合而為一</h2>
<p>仲景先太陽。坎陽明後少陽。自無形傳有形。從外而之內者也。仲景之所言。天令而暴至者也難經先少陽。次陽明。後太陽。自有形傳無形從內而之外者也。故難經之言。言雜病而久疾者也。</p>

<h2>仲景叔和合而為一</h2>
<p>張仲景</p>
<p>王叔和</p>
<figure>
<img alt="論弦澀圖">
</figure>
<p>仲景言弦澀為陰。叔和言弦澀為陽。何意。大抵弦澀東西也。以南北分之。故有陰陽之別。澀本燥火弦本水少。雖有南北之分。總而言之。則不離諸數為熱。諸遲為寒。仲景叔和言本兩途。非相違背。合而論之皆是也。仲景所言。言傷寒自外而入者。叔和所言。言五臟自內而出者。</p>
<p>傷寒從氣而入。故仲景以弦脈為陰。自艮而之內從外入。先太陽也。位在東北。</p>
<p>雜病從血而出。故叔和以弦脈為陽。自巽而之外。從內出。先少陽也。位在東南。</p>
<p>北弦　胸中痛　寒在胃　停水滿丹田　南目赤　叫呼煩躁　大腸。　胃。　三焦</p>
<p>右　寸肺　關脾　尺命門　左　寸心　關肝　尺腎　寒</p>
<p>引飲脈八九至　小腸　膽弦　膀胱　南弦（理中湯）　子能令母實　北固衛之陽（桂枝人參甘草湯）</p>
<p>凡在右者。皆受左克。</p>
<p>里　自右之左　主從客變　右　（大腸庚肺辛）　澀（胃戊脾巳）　緩　命門相火　洪</p>
<p>左　（心丁小腸丙）　洪（肝乙膽甲）　弦（腎　癸　膀胱　壬）沉</p>
<p>表　自左之右　客從主變</p>
<p>凡在左者。皆克諸右</p>
<p>浮克浮　沉克沉</p>

<h2>表裡所當汗下</h2>
<p>手太陰復主表證卻當汗</p>
<p>右（行陰二十五度）　肺（大腸）　脾胃　命門　心包三焦（入里主下）</p>
<p>左（行陽二十五度）　心（小腸）　肝膽　腎　膀胱（七表主汗）</p>
<p>足厥陰復主血證卻當下</p>

<h2>仲景浮汗而沉下</h2>
<p>右手沉實　調胃　承氣</p>
<p>左手沉實　桃仁　抵當</p>

<h2>難經沉汗而浮下</h2>
<p>右手浮實　枳實　牽牛</p>
<p>左手浮實　桃仁　四順</p>
<p>右手　雜病是為之表　傷寒是為之裡</p>
<p>左手　雜病是為之裡　傷寒是為之表</p>

<h2>傷寒入里見標脈則生</h2>
<p>假令胃病下之。脈浮而汗出是也。</p>

<h2>雜病出表見標脈則死</h2>
<p>假令脾病補之。脈弦而面青是也</p>

<h2>察色脈以定吉凶</h2>
<p>脈地也。色天也。地生天則順。天生地則逆。</p>
<p>假令得弦脈而面赤色。地生天也。地生天則順也兒扶母兮瘥速也。</p>
<p>假令得弦脈而面黑色天生地也。天生地則逆也母抑子兮退遲也。</p>
<p>色者。陰中之陽氣也　本乎天</p>
<p>脈者。陽中之陰氣也　本乎地</p>

<h2>弦有浮沉</h2>
<p>浮為甲化　素言天　化　泄土</p>
<p>沉為乙不化　難言地　不化　泄木</p>
<p>泄土者　梔子　黃柏</p>
<p>泄木者　防風　羌活洪浮者為丙便有水化。從其變也。</p>
<p>洪沉者為丁。只是火化。從其常也。</p>

<h2>針經</h2>
<p>甲丙戊庚壬皆變。乙丙巳辛癸不變。（並只言木）雜病元無表證者。不可言左手。有下證。只當言右手。足陽明中求之。</p>
<p>傷寒元有表證者。可言左手。有下證。下證者。血證也。當於足厥陰中求之。</p>

<h2>相合脈經</h2>
<p>脈之相合。各有虛實。不可作一體觀之。假令洪弦相合。洪客也。弦主也。子能令母實也。弦洪相合。弦客也。洪主也。母能令子虛也。余藏可以類推之。至於手足之經亦相合。假令傷寒脈浮緊而帶洪者。即手經丙也。余仿此。假令侮所不勝者。挾其勢也。脈弦而入金之分。非挾火之勢。則不敢侵金之分</p>
<p>弦而帶數甲終於甲也</p>
<p>弦而帶洪壬終於丙也</p>

<h2>四正脈傷圖</h2>
<figure>
<img alt="四正脈傷之圖">
</figure>

<h2>脈當有神</h2>
<p>脈之不病。其神不言。當自有也。脈既病。當求其中神之有與無焉。謂如六數七極熱也脈中有力。即有神也。三遲二敗寒也。脈中有力。即有神也。熱則有神當泄其熱。則神在焉。寒則有神當去其寒。則神在焉寒熱之脈無力無神。將何藥而泄熱去寒乎。苟不知此而遽泄去之。將何依以生。所以十亡八九。故經曰。脈者血氣之先。又云。血氣者人之神。可以不謹養乎。不可不察其有無乎。</p>

<h2>治病必當求責</h2>
<p>假令治病無問傷寒蓄血結胸發黃等病諸證。並一切雜證。各當於六經中求責之謂如發黃證或頭痛腰脊強惡寒。即太陽證也。或身熱。目疼鼻乾不得臥。即有陽明證也。余皆仿此。</p>

<h2>更有手足經。或一經非本家病而自他經流入者。亦當求責</h2>
<p>謂如手陽明流入足陽明是上流下也。本非足經病當於手經中求之。是知治足經者非也。亦有下而流上者。其餘諸經相實通者皆然。更有支別流入者亦有同鄰而病者。合為表裡者鄰也。亦有夫婦各相傳受者。甲傳巳之類。脾傳胃之類亦是。皆當求責之。凡言虛實。皆當於子母中求責之。</p>

<h2>治病必求其本</h2>
<p>假令腹痛。桂枝加芍藥大黃。桂枝加大黃何為。不只用芍藥大黃之屬。卻於（桂枝湯）內加之。大抵治病必求其責。知從太陽中來。故以太陽為本也。又如結胸證。自高而下。脈浮者不可下。故先用麻黃湯解表已。脈沉然後以陷胸湯下之。是亦求其本也。至於蓄血下焦血結膀胱是亦從太陽中來。侵盡無形之氣。乃侵膀胱中有形血也。</p>

<h2>形不足者溫之以氣、精不足者補之以味</h2>
<p>謂寒（傷形）熱傷氣。形氣能自傷也。此云不足者皆太過也。以其太過。則自傷。自傷則不足矣。</p>
<figure>
<img alt="圖">
</figure>
<p>金匱真言云。冬。按蹺四時各有病者何。蓋五臟之陽氣。皆伏於腎中。動有深淺隨行動而病。故於四時而各異也。</p>

<h2>痛隨利減</h2>
<p>諸痛為實。痛隨利減。世皆以利為下之者。非也。假令痛在表者實也。痛在裡者實也。痛在血氣者亦實也。在表者汗之。則痛愈。在裡者下之。則痛愈。在血氣者散之行之。則痛愈。豈可以利字。只作下之乎。但將利字訓作通字。或訓作導字。則可矣。是以諸痛為實。痛隨利減。汗而通導之利也。下而通導之亦利也。散氣行血。皆通導而利之也。故經曰。諸痛為實。痛隨利減。又曰。通則不痛。痛則不通。此之謂也。</p>

<h2>抑本</h2>
<p>假令高者抑之。非高者固當抑也。以其本下。而失之太高。故抑之而使下。若本高何抑之有。</p>
<p>假令下者舉之。非下者固當舉也。以其本高而失之大下。故舉之而使高。若本下何舉之有。</p>

<h2>虛實</h2>
<p>假令水在木之分。是從後來從後來者為虛邪。雖在水為虛邪。則木本虛矣。經曰。母能令子虛。</p>
<p>假令火在水之分。是從前來。從前來者為實邪。雖在火為實邪。則木本實矣。經曰。子能令母實。</p>
<p>假令兩手脈中弦無表證。乃東方實也。是西方肺氣大不足也。緣母虛所致也。當大補其脾。微補其肺。大泄其火。微泄其水。雜證諸論云。先調其氣。次論諸疾況。此乃本經不足之證也。難經云。東方實。是西方虛也。又云欲泄其邪。先補其虛。此之謂也。如是之證。當以溫藥補脾。以氣藥燥劑為用。如正氣已勝。當以泄火泄風之藥。清高涼上。勿令入胃中。此為全治。益黃白朮半夏茯苓甘草。酒病得之。加澤瀉。手足陽明二燥用益黃者。燥濕而補其氣也。實泄黃也。泄火木泄青之類。羌活防風生地黃黃連等分。黃芩倍之。凡用藥補。即用各方之生數。（理中丸）（建中湯）是也。瀉即用各方之成數。（七宣丸）（七聖丸）是也。</p>

<h2>問兩手寸關弦疾。脾弱火勝。木旺。土虧。金爍當作何治</h2>
<p>答曰。不從標本。從乎中治也。木標也。土本也。火中也。爍金虧土旺木者。皆火也。仲陽安神丸主之。山芋門冬益金之氣。金氣勝則木自平。凝水石牙硝火中添水。使變為濕熱也。濕熱者。季夏之令也。非土而何。故用硃砂以墜火下行。是巳將退與子權行濕令也。是以弦得除而土自旺也。秋喘加人參與丹砂等。夏則不加養氣者。加沉香。欲發汗者。臨臥先服白粥一杯後藥之則汗也。寒熱神少振搖。小便淋或多或少。大便走完穀不化。口乾舌縮。唇吻有瘡。心下痞。大渴引飲。惡干喜濕。目花四肢無力。怠惰嗜臥。食不入。皮膚燥澀。面色黧黑。肌肉銷鑠。胸腹中急。額上汗出。此法泄火益濕補氣。脈弦浮沉同治。氣不化小便不利。濕潤肌滑。熱蒸陰少氣不化。氣走小便自利。燥肌燥澀為迫津液不能停。（離朱丹）主之。弦數者。陽陷於內。從外而之內也。弦則帶數。甲終於甲也。緊則帶洪。壬終於丙也。</p>
<p>若弦虛則無火。細則無水。此二脈從內之外也。不宜（離朱丹）。</p>
<figure>
<img alt="圖">
</figure>
<p>泄瀉壬血　土（火令逆行而土虛土虛則長夏不至。難經曰。虛則補其母。經曰資其化源。當瀉火於火中。木（併火之勢。克脾侮金。當金中瀉火）　侮所不勝（弦欺）　金補土是也。</p>
<p>（右寸顯弦數脈是東方　木既乘火勢而來侮金。當金中實乃乘子勢也。既瀉其　瀉火。火退則木無所主而自退　火木自虛矣。以寒藥瀉　也。是實則瀉其子。　火是補北方水也）　水</p>

<h2>六月大熱之氣。反得大寒之病氣難布息身涼脈遲二三至何以治之</h2>
<p>答曰。病有標本。病為本令為標。用寒則順時而失本。用熱則從本而逆時。故不從標本而從乎中治。中治者用溫也。然則溫不能救大寒之病。用姜附則不可。若用姜附。似非溫治之。不然衰其大半乃止。脈反四至余病便天令治之足矣。雖用姜附。是亦中治也。非溫而何。經曰。用熱遠熱。雖用之不當。然勝主可化亦其理也。</p>
<figure>
<img alt="圖">
</figure>
<p><u>東南二方用麻黃。謂開腠理髮汗也。西北二方用桂枝。謂閉腠理止汗也。</u></p>
<figure>
<img alt="圖">
</figure>

<h2>素問咳論一十一證各隨臟腑湯液之圖</h2>
<figure>
<img alt="各隨臟腑湯液之圖">
</figure>
<p><u>久咳不已。三焦受之。其狀咳而腹滿不欲食飲。此皆聚於胃關於肺。使人多涕唾。面浮腫氣逆也。錢氏異功散。</u></p>

<h2>素問五臟瘧證湯液之圖</h2>
<figure>
<img alt="證湯液之圖">
</figure>
<p>瘧之為病以暑舍於榮衛之間得秋之風寒所傷而後發。亦有非暑感冒風寒而得之者。邪並於陽。則發熱來水不能涼邪並於陰則發寒湯火不能溫。並則病作。離則病止。作止故有時。在氣則發早。在血則發晏。淺則日作。深則間日。或在頭項或在背中。或在腰脊。雖上下遠近之不同。在太陽一也。或在四肢者。風淫之所及。隨所傷而作。不必盡當風府也先寒而後熱者。謂之寒瘧。先熱而後寒者。謂之溫瘧二者不當治水。火當從乎中治。中治者少陽也。渴者燥勝也不渴者濕勝也。瘧雖傷暑。遇秋而發。其不應也。秋病寒甚。太陽多也。冬寒不甚。陽不爭也。春病則惡風。夏病則多汗。汗者皆少陽虛也。其病隨四時。而作異形如此。又有得之於冬而發之於暑。邪舍於腎足少陰也。有藏之於心。內熱素於肺。手太陰也至於少氣煩冤手足熱而嘔。但熱而不寒。謂之痹瘧。足陽明也治之奈何。方其盛矣。勿取必毀。因其衰也。事必大昌。治法易老瘧論備矣。</p>

<h2>治當順時</h2>
<p>夏天氣上行。秋天氣下行。治者當順天道謂如先寒後熱。太陽陽明病。白虎加桂也。此天氣上行宜用之若天氣下行。則不宜瀉肺。宜瀉相火命門則可矣。亦有內傷冷物而作者。當先調中。後定瘧形。治隨應見乃得康寧。亦有久而不瘥者。當求虛實。以脈為期虛補實瀉。可使卻疾。此之謂也。</p>

<h2>素問六經瘧候湯液之圖</h2>
<figure>
<img alt="候湯液之圖">
</figure>

<h2>問素問難經銅人經絡所病各異者如用針當從何法</h2>
<p>答曰。素問者。從天之六氣言也難經者。從地之血脈言也。銅人者。從經言人也從天而言先氣而後血從地而言。亦先氣而後血從天而言在天地之間從地之病而言。即地中之氣病。故血從而病也。從天而言。先是動後所生從地而言。亦先是動而所生之病後也。</p>

<h2>問寒病服熱藥</h2>

<h2>疾有自誤</h2>
<p>或始不早治。日數久淹。或困乃求醫。法不及用。病勢已盈。豈為天命。</p>

<h2>病有變怪</h2>
<p>（仲景平脈法第二）</p>
<p>及診得脈形證相應。因與服湯。食頃變大吐下腹痛。是為變怪。或有舊時服藥。今乃作發。是亦謂之災怪耳。</p>

<h2>喘論（此論當以經言邪氣盛則實斷之。）</h2>
<p>華佗云。盛而為喘。減而為枯。故活人亦云。發喘者。氣有餘也。凡看文字。須得會得本意。盛而為喘者。非肺氣盛也。喘為肺氣有餘者。亦非氣有餘也氣盛當認作氣衰有餘當認作不足。肺氣果盛又為有餘則當清肅下行而不喘以其火入於肺衰與不足而為喘焉。故言盛者。非言肺氣盛也言肺中之火盛也。言有餘者。非言肺氣有餘也。言肺中之火有餘也。故瀉肺以苦寒之劑。非瀉肺也。瀉肺中之火實。補肺氣也。用者不可不知。</p>

<h2>桔梗枳殼湯</h2>
<p>活人書。言治痞當知是痞。宜先用（桔梗枳殼湯）非用此以治心下痞也。審知錯下必成痞證。是氣將陷而過於胸中。故先用此。使不致於痞也。若已成痞。而用此。則失之晚矣。不惟不能消痞。胸中之氣反病矣。先之一字。預早之意也。先用（枳殼湯）若不應。後以仲景痞藥治之則可。若執（枳殼湯）以治痞。其害亦深矣。先之一字。不可不知也。</p>

<h2>尋衣撮空何臟所主</h2>
<p>尋衣撮空許學士說作肝熱風淫末疾。故手為之尋衣撮空此論雖然莫若斷之為肺熱。似為愈矣。其人必譫語妄言。經曰肺入火為譫言兼上焦有疾肺必主之手經者上焦也。二者皆當其理果何如哉。天地互為體用。此肺之體肝之用肝主諸血。血者陰物也。此靜體何以自動。蓋肺主諸氣為氣所鼓舞。故靜得動。一者說肝之用。一者說肺之體。此天地互為體用。二者俱為當矣。是知肝臟血自寅至申。行陽二十五度。諸陽用事。氣為肝所使。肺主氣自申至寅。行陰二十五度。諸陰用事血為肺所用。</p>

<h2>三法五治論</h2>
<p>若五治不分邪僻內作。工不能禁。夫治病之道有三法焉初中末也</p>
<p>初治之道法當猛峻者。謂所用藥勢。疾利猛峻也。緣病得之新暴感之輕得之重。皆當以疾利猛峻之藥。急去之。</p>
<p>中治之道。法當寬猛相濟。為病得之。非新非久。當以緩疾得中之養正去邪。相兼濟而治之。養正去邪者。假令如見邪氣多正氣少。宜以去邪藥多。正氣藥少。凡加減藥法。如此之類。更以臨時對證消息。增減用藥。仍依時令行之無忌也。更加針灸。其效甚速。末治之道。法當寬緩。寬者謂藥性平善。廣服無毒。惟能養血氣安中。蓋為病證已久。邪氣潛伏至深。而正氣微治。故以善藥廣服。養正多而邪氣自去。更加以針灸。其效必速。夫療病之道。有五治法焉。和取從折屬也。</p>

<h2>一治各有五。五五二十五。治如大之屬。衰於戌金之屬。衰於辰。是也</h2>
<p>一治曰和。假令小熱之病。當以涼藥和之。和之不已次用取。二冶曰取為熱勢稍大當以寒藥取之。取之不已。次用從。三治曰從。為勢既甚。當以溫藥從之。為藥氣溫也。味隨所為。或以寒因熱用。味通所用。或寒以溫用。或以發汗之。不已又再折。四治曰折。為病勢極甚。當以逆制之。逆制之不已。當以下奪之。下奪之不已又用屬。五治曰屬。為求其屬以衰之。緣熱深陷在骨髓間。無法可出。針藥所不能及。故求其屬以衰之。緣屬之法。是同聲相應。同氣相求。經曰。陷下者衰之。夫衰熱之法同前所云。火衰於戌。金衰於辰之類是也。如或又不已。當廣其法而治之。譬如孫子之用兵。若在山谷則塞淵泉。在水陸則把渡口。在平川廣野。當青野千里。塞淵泉者刺俞穴把渡口者奪病發時。前青野千里者。如肌羸瘦弱。宜廣服大藥以養正夫病有中外。治有緩急。在內者以內治法和之。</p>
<p>氣微不和。以調氣法調之。</p>
<p>在外者。以外治法和之。</p>
<p>其次大者。以平氣法平之。</p>
<p>盛甚不已則奪其氣。令其衰也。故經曰。調氣之方。必別陰陽。定其中外。各守其鄉。</p>
<p>內者內治。　外者外治。微者調治。其次平治。　盛者奪之。　汗者下之。</p>

<h2>面部形色之圖</h2>
<p>察色分位　坤胃（遺散至腎死）　兌肺　乾大腸（遺散至肝死）　額　離心　坎腎頤　精明五色　巽膽（遺散至脾死）　震肝　艮小腸（遺散至肺死）</p>

<h2>天元圖</h2>
<p>七十四難曰。從其首系其數。</p>
<p>間象　在表　五化疊元　以應望聞</p>
<p>肝　青（大敦水井）臊（白泉水合）酸（中封金經）呼（大沖土俞）泣（行間水滎）</p>
<p>心　赤（少府火榮）焦（少衝木井）苦（少海水合）言（靈道金經）汗（神門土俞）</p>
<p>脾　黃（太白土俞）香（大都火榮）甘（隱白水井）歌（陰陵泉水合）涎（商丘金經）</p>
<p>肺　白（經渠金經）腥（大淵土俞）辛（魚際火榮）哭（少商水井）涕（天澤水合）</p>
<p>腎　黑（陰谷水合）腐（復溜金經）咸（太谿土俞）呻（然谷火榮）液（湧泉水井）</p>

<h2>地元圖</h2>
<p>六十八難曰。元證脈合。復生五象。</p>
<p>井（心下滿）膽（元證）　身熱　體重（節痛）喘嗽（寒熱）逆氣（泄）榮（身熱）心下滿（小腸）元證　體重　寒熱　逆氣</p>
<p>俞（體重節痛）心下滿（胃）身熱　元證　寒熱　逆氣</p>
<p>經（喘咳寒熱）心下滿（大腸）身熱　體重　元證　逆氣</p>
<p>合（逆氣而泄）心下滿（膀胱）身熱　體重　寒熱　元證</p>
<p>假令膽病善潔。面青善怒。（元證）得弦脈。（脈合）又病心下滿。（當刺膽井）如見善潔面青善怒。脈又弦又病身熱。（當利膽榮）又病體重節痛。（當刺膽俞）如見善潔面青善怒。脈又弦又病喘咳寒熱。（當刺膽合）余經例仿此。假令肝經淋溲便難轉筋。春刺井。夏刺榮。秋刺經。冬刺合。</p>

<h2>人元例</h2>
<p>六十五難說合　七十三難說榮　在經木火土金水　再分七象以應切脈　獨包七法　有陰陽　配合　父子　兄妹　接經　平經說象　拔源</p>

<h2>陰陽例</h2>
<p>陰陽者子午也。謂滎合水火之稱名曰陰陽也十二經皆有之或感得父氣或感得母氣而病焉子午者乾坤也。乾坤包六子。六子附乾坤也。故七十難云。春夏各致一陰秋冬各致一陽，春夏刺井榮。秋冬刺經合。是各致一陰一陽之義。亦謂井經近乎子午。然當微瀉其井。大瀉其榮。微補其經。大補其合。或補瀉反作。是寒則留之。熱則疾之。故微大補瀉。以應春食涼夏食寒。秋食溫。冬食熱。假令膽病善潔。面青善怒。脈得浮之實大沉之損小。是感得父氣為陽中之陽。當於本經中瀉火補水。卻得浮之損小。沉之實大。是感得母氣為陰中之陽。當於本經中瀉水補火。</p>

<h2>配合例</h2>
<p>七十七難曰。上工治未病者。見肝之病。則知肝當傳於脾。故先實其脾氣。無令受肝之邪氣也。假令見肝病欲實其脾者。先於足太陰經中補土字一針。又補火字一針。後於足厥陰肝經內。瀉木字一針。又瀉火字一針。</p>

<h2>子母例</h2>
<p>假令見肝病滿悶淋溲便難轉筋。又見心病煩心心痛掌中熱而噦。當於足厥陰肝經內。木火二字各一針。</p>

<h2>兄妹例</h2>
<p>（以上子母兄妹名曰四針象）</p>
<p>假令見足厥陰肝之經太過又兼見膽之證太過。是為兄妹。當瀉肝經內木火二字各一針。又瀉膽經內木火二字各一針。此五法乃人元法也。</p>

<h2>接經</h2>
<p>（手足經同）</p>
<p>內經曰。留瘦不移節而刺之。使十二經無過絕。假令十二經中是何經略不通行。當刺不通行凝滯經。俱令接過節。如刺之無問其數。以平為期。如諸經俱虛。補十二經。如諸經俱實。瀉十二經。補當隨而濟之。瀉當迎而奪之。</p>

<h2>平經說象（七十九難）</h2>
<p>為見諸經中。無過與不及之病而有病。</p>
<p>八十難曰。有見如入。謂左手見氣來至乃納針。針入見氣盡乃出針。非用迎隨補瀉之法不虛不實。不虛謂真氣未虛。不實謂邪氣未實。以此故自取其經施其法也。</p>

<h2>拔源例</h2>
<p>假令針本經病了。又於本經原穴亦針一針。如補肝經。亦於肝原穴上補一針如瀉肝經來亦於肝經原穴上瀉一針如余經有補瀉針畢仿此例亦補瀉各經原穴。</p>

<h2>接經補遺</h2>
<p>又補其母。亦名隨而濟之。又瀉其子。亦名迎而奪之又隨呼吸出納亦名迎隨也。</p>
<p>兩脅痛。少陽丘虛。心痛少陰太谿。（並湧泉足厥陰原穴）腰痛。崑崙委中出血。喘滿痰實如膠。太谿嘔噦無度。手厥陰大陵。頭痛。手足太陽原熱無度不可止陷谷出血。小腸疝氣痛。足厥陰太衝。百節痠疼實無所知。三稜刺絕骨出血。</p>
<p>婦人血不止。刺足太陰井。喉閉手足少陽井（並少商手。足太陰井）大煩熱不止。晝夜無力。刺十指間出血謂八陽大節眼發睛欲出亦須大刺。目痛大眥痛。刺太陽井。頭中痛不可忍卒疝痛。婦人陰中痛。皆刺足厥陰井。目痛小眥痛刺少陽井。心痛脈沉腎原穴。脈弦。肝原穴。澀脈肺原穴。緩脈脾原穴身之前。足陽明原穴。身之後。足太陽原穴。身之側。足少陽原穴。灸一身之內分為八方。（臍以上至鳩尾以年為壯。大椎以下。至腰中以年為壯。腰）手足四分。自井為一。榮為二。至合為五之類。自膽中分四向。如井榮數倍之。百會為一分。亦如膽中法。凡欲灸者先診其脈若浮者不可灸。灸之必變。</p>
<p>月晦前後各二日屬坤　為癸乙　月缺　無瀉</p>
<p>月望前後各二日屬乾　為甲壬　月滿　無補</p>
<p>初三日至上弦　屬震仰孟　為庚</p>
<p>上弦日至月望　屬兌上缺　為丁</p>
<p>月望日至下弦　屬巽為風　為辛</p>
<p>下弦日至月晦　屬艮納雨　為丙</p>

<h2>天元圖</h2>
<p>七十四難曰。從其首。系其數。間象在表。五化疊元。並見前圖。（拾遺）夫天元法者。謂之五化疊元。當從其首。系其數。首者寅方春也。在人為肝。是從東方。順天輪數至所主之處。計從幾數卻於所受病一方。倒疊回去數至依前數盡處便於元受病一方穴內瀉所止之方來路穴也。不得於所主之方內經中瀉之勿誤。</p>
<p>假令病者聞香臭二者。心主五臭也。入脾為香臭。從東數至所主之處。所主五臭者心也。東一南二計得二數。卻當於受病之方倒疊回去。脾一心二元數二也。是數至心。心者榮火也。當於受病之方內瀉榮火。是脾經瀉火都是也。或曰何以倒疊數對曰此從地出為天輪所載。右遷於天不當於所顯之虛治之此舟行岸移之意也。</p>

<h2>地元圖</h2>
<p>六十八難曰。元證脈合。復生五象。</p>
<p>在表間象以應望聞。（及肝膽各五法）並見前圖。</p>
<p>人元法例（前圖已載七象七法見前人元例後）並見前圖。</p>

<h2>大接經從陽引陰</h2>
<p>足太陽膀胱經之脈。出於至陰小指外側。去爪角如韭葉。為井金。足小指之端也（十呼）。</p>
<p>足少陰腎之脈湧泉。足心也。起於小指之下斜趣（三呼）</p>
<p>手厥陰心包脈。其直者循中指出其端。去爪甲如韭葉陷中為井。中衝穴也。其支者別掌中循小指次指出其端。</p>
<p>手少陽三焦之脈。起於小指次指之端。去爪甲如韭葉為井。（三呼）</p>
<p>足少陽膽之脈。起於竅陰小指次指之端。去爪甲如韭葉為井。其支者上入大指岐骨內出其端還貫爪甲出三毛。（三呼二十呼）</p>
<p>足厥陰之脈。起於大指之端。入聚毛之際。去爪甲如韭葉為井。大敦穴也。及三毛中。（十呼六呼）</p>
<p>手太陰肺之脈。起於大指之端。出於少商大指內側也。去爪甲角如韭葉為井。其支者出次指內膁出其端。手陽明大腸之脈。起於大指次指之端。入次指之內。去爪甲角如韭葉為井。（一呼）中指內交（三呼）</p>
<p>足陽明胃之脈。起於大指次指之端。去爪甲如韭葉為井。其支者大指間出其端。（一呼）</p>
<p>足太陰脾之脈。起於足大指端。循指內一側。去爪甲角如韭葉為井。隱白也。（十呼）</p>
<p>手少陰心之脈。起於小指內出其端。循指內臁之端。去爪甲角如韭葉為井。（三呼）</p>
<p>手太陽小腸之脈。起於小指之端。循指之端。去爪甲一分陷中為井。（五呼）</p>

<h2>大接經從陰引陽</h2>
<p>手太陰脈之脈。起於大指端。出於少商。大指內側也。去爪甲角如韭葉為井。其支者出次指內臁出其端。</p>
<p>手陽明大腸之脈。起於大指次指之端。入次指內側。去爪甲如韭葉為井。（一呼）</p>
<p>足陽明胃之脈。起於大指次指之端。去爪甲如韭葉為井。（呼）其支者大指出其端。</p>
<p>足太陰脾之脈。起於足大指端。循指內側去爪甲角如韭葉為井。隱白也。</p>
<p>手少陰心之脈。起於小指內出其端。循指內臁之端。去爪甲角如韭葉為井。</p>
<p>手太陽小腸之脈起於小指之端。去爪甲下一分陷中為井。</p>
<p>足太陽膀胱之脈。出於至陰。小指外側。去爪甲角如韭葉為井金。足小指之端也。</p>
<p>足少陰腎之脈。起於小指之下為井。湧泉穴也。手厥陰心包之脈。其直者循中指出其端。去爪甲角如韭葉陷中為井。中衝穴也。其支者。別掌中循小指次指出其端。</p>
<p>手少陽三焦之脈。起於小指次指之端。去爪甲角如韭葉為井。</p>
<p>足少陽膽之脈。出於竅陰。足小指次指之端。如韭葉為井。其支者。上入大指岐骨內出其端。還貫爪甲出三毛。</p>
<p>足厥陰肝之脈。起於大指之端。入聚毛之際。去爪甲如韭葉為井。大敦及三毛中。（六呼）</p>
<p>凡此大接經從陰引陽。從陽引陰。</p>
<p>東垣二十五論後錄</p>

<h2>諸經頭痛</h2>
<p>陽明頭痛。自汗發熱。白芷。　少陽頭痛。脈弦（往來）寒熱。柴胡。太陽頭痛。惡風惡寒。川芎。太陰頭痛。痰實體重腹痛。半夏。少陰頭痛手三陰三陽經不流行。而足寒逆為寒厥頭痛。細辛。厥陰頭痛。項痛脈微浮緩。欲入太陽其疾痊矣。然而亦當用川芎。氣虛頭痛。黃耆。血虛頭痛。當歸。諸氣血俱虛頭痛。黃耆當歸。傷寒頭痛。〔無汗（麻黃湯）。有汗（桂枝湯）〕太陽經所發陽明頭痛。白虎湯。少陽頭痛柴胡湯。太陰頭痛〔脈浮（桂枝湯）。脈沉（理中湯）〕少陰頭痛。（脈沉微熱。麻黃附子細辛湯）厥陰頭痛。外傷本經（桂枝麻黃各半湯）。嘔而微吐水。（吳茱萸湯。內亦病也）</p>
<p>易老曰。非白朮不能去濕。非枳實不能消痞。非天雄不能補上焦之陽虛。非附子不能補下焦之陽虛。治目不能遠視能近視或亦妨近視或脈風成癘。（地芝丸）主之。</p>
<p>生地黃（爆干四兩）　天門冬（湯炮去心）　枳殼（麵炒去穰二兩）　甘菊花（未開者秤二兩）</p>
<p>上為細末。煉蜜丸如梧桐子大。如能飲食茶。清湯下。不能飲食。溫酒下。食後改熟地黃亦可。（此說亦見病喎氣直目門下亦有）</p>
<p>治目不能近視。反能遠視。服（局方定志丸）。</p>
<p>目能遠視。責其有火。不能近視。責其無水。法當補腎。目能近視。責其有水。不能遠視。責其無火。法當補心。補腎補足少陰。補心補手少陰。補腎。（六味地黃丸）加牡蠣。補心。（定志丸）加茯苓。</p>
<p>不能近視。晨服（地黃丸）。</p>
<p>不能遠視。臥服（定志丸）。　治精滑久不愈。（固真丸）。</p>
<p>手足少陰經</p>
<p>不能遠視。臥服（定志丸）。</p>
<p>單牡蠣不以多少。砂鍋子內煆醋淬七遍為末。醋糊為丸。如梧桐子大。每服五十丸。空心鹽湯下。</p>
<p>六脈俱弦。指下又虛。脾胃虛弱痛也。食少而渴不已。心下痞腹中痛。或腹中狹窄如繩束之急。小便不利。大便不調。精神短少。此藥專治大渴不止。腹中窄狹。所食減少。大有神效。</p>
<p>白茯苓（去皮）　陳皮（去白）　人參</p>
<p>生薑（先用滾湯掠過焙乾各秤一兩）秋時減姜一半。如脈弦或腹中急甚。加甘草（三錢）</p>
<p>上同為末。煉蜜為丸。如彈子大。每服一丸。白湯化下。食前空心細嚼。白湯送下亦可。忌生冷硬物。及怒發思慮過節。</p>
<p>六脈沉緊。按之不鼓。膀胱勝小腸也。或瀉利不止而腹脹。或純便血赤血。或雜膿血。便雖多而不渴。精神短少。或面白脫色。此失血之故。或面黃而氣短。此元氣損少之故。且小腸者。手太陽經丙火也。膀胱者。足太陽經壬水也。是壬水來丙小腸之位。小腸為壬所克而外走也。諸手經短。而足經長。兼以五行相剋論之。俱是足經。此火投於水大寒之證。宜溫之則愈。其與難經一證寒熱相反。亦名曰小腸瀉。亦作泄。海藏云。此雜病火投於水。變為寒證。又外傷足太陽膀胱經。左脈俱浮為表陽之候也。忽變為內寒。亦旺火投盛水。而屈丙就壬化。脈反不浮而微沉。此內病與外病俱有此。火投水例。非精於脈診者。孰能知之。（姜附赤石脂硃砂丹）</p>
<p>生附子（半兩）　生乾薑（半兩不泡）　硃砂（一兩另研）　赤石脂（一兩半水飛）</p>
<p>上為細末。酒糊丸如黑豆大。每服十五丸至二三十丸。米飲湯下。茯苓煎湯下尤妙。</p>
<p>東垣云。因看盧氏醫鏡。見此一藥味數分兩同。惟丹砂用伏火者。及治病有瘥。所治者小便數而不禁。怔忡多忘。魘夢不已不同耳。見其不同審而詳之乃得此之治法不瘥且泛舉之。經言腎主大小便。肝主小便淋溲。難經云。小腸為赤腸是面赤色。及便溺赤色者。皆出心與小腸。南方赤色。顯於外也。經言。下焦如瀆者。正謂大小便也。大便為陰為有形。乃下焦之下者也。腎臟病為腎主大便不言大腸者。明子行父之道。小便為氣所化。乃下之高者也。謂肝主小便淋溲。亦是子行父道。為腑病。諸氣化者皆腑。諸有形血化者皆臟病所主。此腑言膀胱病二證俱在下焦則同染有形無形及在腑在臟有殊。俱是丹田衰敗。不言及心火者。以其相火化行君之令故也。細分之。則膀胱壬水勝丙小腸者。是不傳入陰故泄血。泄血利不禁為有形質病。且不傳陰則陰不病。何為有形病。此為陰之體也。為腑之用也。天地陰陽互為體用。以斯可見。是明五臟者。為六腑所用。六腑為五臟所用明矣。是有形皆為傳陰也。夫小便不禁是膀胱不約為遺溺。此不傳陰也。是丹田胞絡受寒。為壬所克。大抵諸腑皆盛有形物。有形病者。在腑責其所來皆在臟也。用伏火丹砂者。去其寒性耳。治法同者。以其俱在下焦。補諸形火同在胞絡耳。以其胞與腎相對有渠相通故也。腎主大便。肝主小便。所治安得不殊。經曰腎肝同歸一治。經又云。少陽主骨所生病。膀胱卻主節所生病。亦可知也。小便不禁茯苓湯下。大便有病米飲湯送下。凡臟腑之秘。不可一例治。有虛秘有實秘。實秘者。能飲食。小便赤。麻仁丸七宣丸之類主之。胃虛而秘者。不能飲食。小便清。（厚朴湯）主之。</p>
<p>厚朴（生薑制）白朮（五兩）　枳實（麥皮炒一兩）　陳皮（三兩）　甘草（炙三兩）　半夏曲（三兩）上為粗末。每服五錢。水一盞半。生薑五片。棗三枚煎至一盞空心服。</p>
<p>實秘者物也。虛秘者氣也。</p>
<p>脈中少有力。浮則似止。胸中元氣不及也。加人參　五味子　麥門冬　益智仁　沉香　丁香　川芎　白豆蔻　氣血弱者。不可服枳殼以損其氣也。</p>
<p>氣血盛者不可服丁香以盛其益氣也。</p>
<p>脈弦而虛。不可損氣。脈大而實。不可益氣。</p>
<p>氣虛則（生脈散）氣實則（三才丸）</p>
<p>地之濕氣。感則害人皮肉筋脈（內托散）主之。以其外受也膏粱之變足生大丁。辛甘之過也。（七聖散）主之。以其內發也（去桂加當歸）瘡腫消者。生薑自然汁。調輕粉塗之。</p>
<p>諸瘡有惡肉者。膏藥內入巴豆雄黃少許。不傷艮肉止去惡肉。不惟惡瘡若癰疽有死肉不能去者。巴豆霜上之。深則紝之淺則乾摻之。以膏藥外護之大效。</p>
<figure>
<img alt="圖">
</figure>
<p>梔子黃經云無陽則陰無以芩黃連生。無陰則陽無以化。芍藥黃又云。膀胱者。津液之柏大黃府。氣化則能出矣。陳皮厚朴藿香白芷　有一身盡熱　乾薑丁香肉　有一身盡寒　桂附子沉香有一身盡寒</p>

<h2>大頭痛論</h2>
<p>夫大頭痛者雖為在身在上熱邪伏於已又感天地四時非節瘟疫之氣所著所以成此疾。至於潰裂膿出。而又染他人。所以謂之疫癘也。大抵足陽明邪熱大甚資實。少陽相火為之熾多。在少陽或在陽明。甚則逆傳太陽視其腫勢在何部分。隨其經而取之濕熱為腫。木盛為痛。此邪發於首。多在兩耳前後所先見出者為主為根。治之宜早。藥不宜速。恐過其病。上熱未除。中寒已作。有傷人命矣。此疾是自內而之外也。是為血病。況頭部受邪。現見於無形之處。至高之分。當先緩而後急。先緩者。謂邪氣在上所著無形之分。既著無形所傳無定。若用重劑大瀉之。則其邪不去。反過其病矣。雖用緩藥。若急服之。或食前或頓服。咸失緩之體。則藥不能騰昇。徐潰無形之邪。或藥性味形狀擬象服餌。皆須不離緩體。及寒藥或炒或酒浸之類皆是也。後急者。謂前緩劑已經高分。瀉邪氣入於中。是到陰部入於中。染於內之有形質之所。若藥不速去。反損陰分。此中治卻為客熱所當急也。治客以急。此之謂也。治主以緩。先緩謂也。謂陽邪在上。陰邪在下。各為本家病。不從先後錯其緩急。不惟不能解其紛。而復致其亂矣。此所以治主當緩治客當急。謂陽分受陽邪。陰分受陰邪者主也。陽分受陰邪陰分受陽邪者客也。凡所謂急者。當急去之。此治客以急也。假令少陽陽明之為病。少陽者。謂邪出於耳前後也。陽明者。首面大腫也。先以黃芩黃連甘草通炒銼煎少少不住服呷之。或一劑畢。再用大黃或酒浸或煨。又以鼠黏子新瓦上炒。㕮咀煎成去渣。納芒硝各等分。亦時時呷之。當食後用。徐得微利。並邪氣已。只服前藥。如不已。再服後藥。依前次第用之。取利已卻止。如陽明渴者加石膏。少陽渴者加栝蔞根湯。陽明行經。加升麻葛根芍藥之類。選而加之。太陽行經。加羌活荊芥防風之類。選而加之。並與上藥相合用之。不可獨用。散者散也。此一節亦見病機氣宜。治洪長伏三脈風癇驚癇發狂。惡人與火者。灸第三顀第九顀。服局方妙香丸。以針投眼子透。令水內浸少時服之。如本方法。治弦細緩三脈。諸癇似狂。李和南五生丸。大凡治雜病先調其氣。次療諸疾無損胃氣。是其要也。若血受病。亦先調氣。謂氣不調。則血不行。又氣為之綱夫也。夫不唱婦不隨也。如婦人病經先柴胡以行經之表。次四物以行經之裡。亦先氣而後血也。不能飲而渴。不能食而小便黃或澀。皆因胃氣虛而生熱。有形之物不入火炎上而渴。戊就癸而化。所以小便黃赤如棗汁。法當補胃以錢仲陽（白朮散）。乾葛木香藿香等藥治之。</p>
<p>上焦渴。小便自利（白虎湯）。</p>
<p>中焦渴。大小便不利。（調胃承氣湯）。</p>
<p>下焦渴。小便赤澀。大便不利。（大承氣湯）。</p>

<h2>有六經發渴。各隨經藥治之</h2>
<p>表熱惡熱而渴者。白虎湯。</p>
<p>皮膚如火燎。而以手重取之。不甚熱者。肺熱也。或目白睛赤煩躁引飲。單黃芩一物。兩脅肌熱脈浮弦者（柴胡飲子）。</p>
<p>一身熱或日晡潮熱。皆血熱也。（四順飲子）。</p>
<p>夜則行陰若發熱者。血熱也。（四順飲）（桃仁湯）選而用之。當視其有表入里。腹痛血刺腹痛中。無轉失氣之類</p>
<p>晝則明瞭夜則譫語。熱入血室。無犯胃氣及上二焦。</p>
<p>不治自愈。若甚則四順飲子。（桃仁承氣湯）證相似當下者用之。</p>
<p>寅申發熱。兩脅不盛。亦為柴胡證。</p>
<p>表裡內外俱熱者。（大柴胡湯。）</p>
<p>晝則行陽氣也。（柴胡）。夜則行陰血也。（四順）治。項後側少陽經中。疙瘩不變肉色不問大小及月日深遠。或有赤硬腫痛。</p>
<p>生山藥（一挺去皮）　蓖麻子（二個去殼）</p>
<p>上二味研勻攤帛上。貼之如聖。</p>
<p>兩手大熱。為骨厥如在火。可灸湧泉三壯或五壯立愈。治臁刃及腳膝生瘡。局方虛損門。（黃耆丸）服之則愈。定癰疽死之地方。</p>
<p>一伏兔　二腓腨　三背　四五藏俞　五項上　六腦　七髭　八鬢　九頤</p>

<h2>問三焦有幾（血海異同）</h2>
<p>手少陽三焦之經。起於小指次指之外側出其端。終於目銳眥。足少陽膽之經。起於目銳眥。終足大指三毛頭。至心為上焦。心至臍為中焦。臍至足為下焦。此又足太陽之別也。又靈樞云。臍下膀胱至足。為足三焦。右手尺脈為命門。包絡同胗。此包絡亦有三焦之稱。為命門之火。遊行於五臟之間。主持於內也手三焦主持上也。足三焦主持下也。上中下三焦。通為一氣。衛於身也。為外護。既已頭至心。心至臍。臍至足為狀也。呼為三焦有名也。以為無狀可呼。經云。三焦者。水穀之道路也。卻是有形狀。何以然。上焦者主內而不出。中焦者主腐熱水穀。下焦者主出而不納。故經曰。上焦如霧。中焦如漚。下焦如瀆也。手經者。主持上也。足經者。主持下也。命門者主持中也。為衛者護持外也。三焦元氣為父之氣散也。包絡相從母也。並行而不相離。母之元氣也。故俱會於胸中。經云。膻中之分。父母居之。氣之海也。如天地之尊。不繫五形。清邪中於上焦。名曰潔也。頭痛項強腰脊痛。濁邪中於下焦。名曰渾也。陰氣為慄。便溺妄出。表虛里急。上焦下焦與中焦相混。上焦怫鬱。臟氣相熏。中焦不治。胃氣上衝。榮衛不通。血凝不流。若衛氣前通者。小便赤黃與熱相搏因熱作使。遊於經絡。出入臟腑。陰氣相通陽氣後微。陰無所使。客氣內入。嚏而出之。聲嗢（音兀）咽塞。寒厥熱壅。必然下血。陰陽俱厥脾弱液下。下焦不闔。清便下重。便數而難。臍腸湫痛。命將難全此命門之脈診在右手尺也。經曰。五臟不和。五液注下。當闔不闔。便溺俱脫。生氣（絕矣）所以腹臍湫痛也。故曰命將難全。前三焦自外而入。後三焦自內而出。（如霧）不散而為喘滿。此出而不內也。漚不利而為留飲。留飲不散久為中滿。上不能內。下不能出也。瀆不利而為腫滿。此因上內。而下不出也。此三焦之所不歸也。三焦有臟而無腑。在內則遊行是在血也。在外則固護。是在氣也。上焦如霧者氣也。下焦如瀆者血也。中焦者氣血分之也。下焦在臍下。膀胱上口。主分別清濁。出而不內。即傳道也。治在臍下。名曰三焦。其腑在氣衝中。又云。有臟無腑。成氏云。血室者血之所居也。榮衛停止之所。經脈流會之處。衝脈是矣。沖者奇經之一也。起於腎下。出於氣衝。並足陽明經。夾臍上行至胸中而散。為諸經之會。啟玄子云。沖為血海諸經朝會。男子則運而行之。女子則停而止之。皆謂之血室。內經曰。任脈通。衝脈盛。男既運行。女既停止。</p>
<p>故運行者。無積而不滿也停止者。有積而能靜也。不滿者陽也氣也。能滿者。陰也血也。故滿者以時而溢。為之信有期也。溢動也乾道成男。坤道成女。故運行者陽之象也。停止者陰之象也。氣血榮衛男女皆有。內外諧和。其脈同胗。脈者血之府也。故為氣血之先。室為藏物之舍亦為府也。三焦之府在氣衝中。為男女血海之府經又曰。有臟而無腑從無形而言之。有臟有腑。從有形而言之也。清邪濁邪所傷。三焦齊病。亦同兩感。經云。心包絡主之。脈出胸中。下膈歷絡三焦。此其所以相與相火併行。與命門之脈同胗於右尺中也。</p>
<p>陳氏五運六氣。後有君火二論。（即陳蓬運氣圖也）</p>

<h2>許先生論關中梁寬甫證</h2>
<p>右脅肺部也。咳而唾血。舉動喘促者。肺胗也。發熱脈數不能食者火來刑金肺與脾俱虛也肺脾虛而火乘之。其病為逆如此者。例不可補瀉。蓋補金則慮金與火持。而喘咳益增。瀉火則慮火不退位而痃癖反盛。正宜補中益氣湯也。先狀元氣少。少以治病藥和之。聞已用藥而不獲效。意必病勢苦逆而藥力未到也。當與寬甫熟論。遠期秋涼。庶就使平復。蓋肺病惡春夏火氣。至秋冬則退也。正宜於益氣湯中。隨四時陰陽升降。浮沉溫涼寒熱。升降浮沉則順之。寒熱溫涼則反之。順其理和其氣。為治之大方也及見有證。增損服之。或覺氣壅。間服加減枳朮丸。或有服間服加減枳朮湯。數月後庶逆氣稍回逆氣回則治法可施但恐已至色青色赤。脈弦脈洪。則無及矣。</p>
<p>近世論醫有主河間劉氏者。有主易州張氏者蓋張氏用藥依准四時陰陽升降。而增損之。正內經四氣調神之義。醫而不知此是妄行也。劉氏用藥務在推陳致新。不使少有怫鬱。正造化新新不停之義醫而不知此是無術也。然而主張氏者。或未盡張氏之妙則瞑。眩之藥。終莫敢投。至失機後時而不救者多矣。主劉氏者。未悉劉氏之蘊則劫效目前。陰損正氣遺禍於後日者多矣。能用二家之長。而無二家之弊則治法其庶幾乎。</p>

<h2>論史副使病證</h2>
<p>史副使病不見色脈。不能解料然以既愈復發言之則亦恐宜取張氏依准四時陰陽升降用藥以扶元氣庶他日既愈。而遂愈也。寬甫病候初感必深。所傷物恐當時消導不盡。停滯淹延變生他證。以至於今恐亦宜仿劉氏推陳致新之意少加消導藥於益氣湯中。庶有漸緩之期也。圓明膏太醫王教授傳</p>
<p>槐英（半斤河水四斤浸二宿熬槐英取汁二升）　黃連（四兩）　川芎　防風（各一兩）　當歸　秦皮（各二兩）</p>
<p>以上五味。銼如綠豆大。用河水六升。浸一宿。熬取汁三升。將槐英渣並此五味渣再用水四升。熬取二升。通前共五升。相合銅鍋內。用木炭文武火熬。入去䗶淨蜜四斤。淨蜜法取蜜四升入鍋內微熬。勿令滾。其䗶沫盡浮在面上。急取下。以紙覆蜜面。候冷取紙䗶自隨紙去。再溫蜜熱以綿慮入藥汁內同煎一時許。入下項飛石一十三兩。</p>
<p>金星石　銀星石　代赭石　菩薩石　寒水石　紫石英　雲母石（並白礬少許同搗細）　滑石　井泉石　玄精石（各一兩另研為細末）　黃丹（三兩研令極細）</p>
<p>以上一十一味相合再研水飛焙乾。共得一十三兩。研開入藥汁內又熬一時入後</p>
<p>淬⿰石盧甘石（二兩）淬去⿰石盧甘石不以多少。用木炭火煆紅。童子小便醮。再煆紅。再淬七次。以碎為度。再研水飛。焙乾。淨秤二兩。入藥汁內。又熬一時。入下項藥。</p>
<p>銅綠（半兩研）　青鹽（半兩研）　雄豬膽（七枚取汁）　白丁香（一合水浸研取清汁）　鷹條（三錢如取上汁用）</p>
<p>以上藥同熬萬轉成膏。凡熬時用槐柳枝不住手攪。</p>
<p>勿令塵入鍋中。須於淨室內熬膏盛入瓷器中。假冷入下項細末藥不可熱。熱則藥力去矣</p>
<p>乳香　沒藥　輕粉　蕤仁（去皮各半兩用）　硃砂　牛黃　腦子　血竭（各一錢）　杏仁（去皮半兩）　南硼砂（一錢）</p>
<p>上件各別研令極細。</p>
<p>珍珠　珊瑚　紫貝　硇砂　石獬　白礬　綠礬　朴硝（各一錢）　盆硝（半錢）</p>
<p>上用預留元熟清藥汁。同研極細爛攪入藥中令勻。如常法點之神效。</p>

<h1>後序</h1>
<p>東垣先生醫書一帙。予府已鋟梓傳於世矣今又得一書。亦東垣治疾之法。名曰此事難知蓋醫之為道。所以續斯人之命。而與天地生生之德不可一朝泯也。秦焚六經。而廢周公孔子之道。幸而醫書存世考諸經者。則知黃帝與岐伯之論辯。反復推明五運七氣之秘以立補泄之法。所以拯斯人之疾。而人之死生系焉。岐黃既遠。求能推諸五運七氣。而察陰陽升降之候。定臟腑虛實之所因。合經絡上下之所屬。而能起死回生者鮮矣。噫。克紹明之者。其惟東垣先生乎。先生是書。乃言外不傳之秘。誠為人所難知。然方劑雖載其妙理。有不可得而明言者。在乎心領而神會耳。唐許胤宗曰醫者意也。思慮精則得之此之謂歟。而孟軻氏曰。梓匠輪輿。能與人規矩。不能與人之巧。亦此謂也。予用壽行而與四方之士共焉。則濟人利物之一端。未必無小補云成化甲辰歲仲夏既望荊南一人識。</p>
