<header data-type="book">
<h1>劉涓子鬼遺方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龔慶宣</dd></div>
<div><dt>朝代</dt><dd>南朝·齊</dd></div>
<div><dt>年份</dt><dd><data value="0495/0499">公元495年至公元499年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=82090">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>序論</h2>
<p>昔劉涓子晉末于丹陽郊外照射，忽見一物，高二丈許，射而中之，如雷電聲若風雨。其夜不敢前追，詰旦率門徒子弟數人，尋縱至山下，見一小兒提罐，問何往為。我主被劉涓子所射，取水洗瘡，而問小兒曰：主人是誰？人云黃父鬼。仍將小兒相隨，還來至門，聞搗藥之聲。比及遙見三人，一人開書，一人搗藥，一人臥爾。乃齊唱叫突，三人並走，遺一卷《癰疽方》並藥一臼。時從宋武北征，有被瘡者，以藥塗之即愈。論者云：聖人所作，天必助之，以此天授武王也。於是用方為治，千無一失。姊適余從叔祖涓子寄姊書，具敘此事，並方一卷，方是丹陽白薄紙本寫，今手跡尚存，從家世能為治方，我而不傳，其孫道慶與余鄰居，情疑異常，臨終見語，家有神方，兒子幼稚，苟非其人，道不虛行。尋卷診候，兼辨藥性，欲以相傳囑余。既好方術，受而不辭。自得此方，於今五載，所治皆愈，可謂天下神驗。劉氏昔寄龔方，故草寫多無次第。今輒定其前後，蔟類相從，為此一部，流布鄉曲，有識之士幸以自防。齊永元元年太歲己卯五月五日撰。道慶曰：王祖母劉氏有此鬼方一部，道慶祖考相承，謹按處治，萬無一失。舅祖涓子兄弟自寫寫稱云無紙而用丹陽錄，永和十九年，資財不薄，豈復無紙，是以此別之耳（案：永和只十二年，且去宋武甚遠，疑元嘉之訛）。</p>
<p>黃父曰：夫言癰疽，何以別之？岐伯答曰：榮衛稽留於經脈之中，久則血澀不行。血澀不行則衛氣從之不通，壅遏不得行，火不止，熱勝，熱勝則肉腐為膿。然不能陷膚於骨髓不為焦枯，五臟不為傷。故曰黃。曰：何為疽？岐伯曰：熱氣浮盛，當其筋骨良肉無餘，故曰疽。疽上皮肉，以堅上如牛領之皮，癰者，薄以澤背其候也。黃父曰：及如所說，未知癰疽之性名，發起處所，診候形狀，治與不治，死活之期。願一一聞之。岐伯曰：癰疽圖曰：</p>
<p>赤疽發額，不寫十餘日死。其五日可㓨也。其膿赤多血死，未有膿可治。人年二十五、三十一、六十九、十五者，在額不可見血，見血者死。</p>
<p>禽疽發如軫者數十數，其四日腫合，牽核痛，其狀若攣，十日可㓨。其肉發身核寒，齒如噤，欲痓，如是者十五日死。</p>
<p>抒疽發頂若兩耳下，不寫十六日死。六日可㓨。其色黑見膿而癰者，死不可治。人年十九、二十三、三十五、三十九、五十一、五十五、六十一、八十七、九十九。百神在耳下，不可見血，見血者死。</p>
<p>丁疽發兩肩，比起有所逐惡結，血流內外，榮衛不通，發為丁疽。三日，身腫痛甚、口噤如痓狀，十日可㓨。不治，二十日死。</p>
<p>蜂疽發髀背，起心腧，若連肩骨，二十日不治死。八日可㓨。其色赤黑，膿見青者死，不可治。人年一十八、二十四、三十五、六十七、七十二、九十八者，百神在肩，不可見血，見血者死。</p>
<p>陰疽發髀，若陰股始發，腰強，內不能自止，數飲不能多，五日堅痛不治，三歲死。</p>
<p>㓨疽發起肺腧，不寫二十日死。其八日可㓨。發麵赤，其上肉如椒子者死，不可治。人年十九、二十五、二十九、三十九、五十七、六十、七十三、八十一、九十七，百神在背，不可見血，見血者死。</p>
<p>脈疽發頸項，如痛身隨而熱，不欲動悄悄，或不能食，此有所大畏恐駭而不精，上氣嗽，其發引耳不可以腫，二十日可㓨，不㓨八十日死。</p>
<p>龍疽發背起，胃俞，若腎俞二十日不寫死。九日可㓨，不㓨其上赤下黑，若青膿黑死，發血膿者，不死。</p>
<p>首疽發熱八十日。一方云：八九日大熱汗頭，引血盡如嗽，身熱同同如沸者，皮頗腫，淺㓨之。不㓨，二十日死。</p>
<p>榮疽發脅起，若兩肘頭二十五日，不寫死。九日可㓨。膿多赤白而可治也。人年一歲十六、二十六、三十二、四十八、五十八、六十四、八十、九十六。百神在脅，不可見血，見血即死。</p>
<p>行疽發如腫，或後合相從，往來不可，要其所在㓨之即愈。</p>
<p>勇疽發股起太陰，若伏鼠，二十五日不寫死。其十日可㓨。勇疽發膿青黑者死，白者尚可治。不可治人年十一、十五、二十、三十一、三十三、四十六、五十九、六十三、七十五、九十一。百神皆在尻尾，不可見血，見血者死。</p>
<p>摽叔疽發背熱，同同耳聾，後六十日腫如聚水，其狀若如此者可㓨之。但出水後及有血出，即除愈也，不可治人年五十七、六十五、七十三、八十一、九十七者，百神在背，不可見血，見血者死。</p>
<p>旁疽發足趺若足下，三十日不寫死。其十二日可㓨，旁疽者，白膿不太多，其瘡上癢赤，黑者死，不可治。人年十三、二十九、三十五、六十一、七十三、九十三，百神在足，不可見血，見血者死。</p>
<p>沖疽發小腸痛而振寒熱，四日五日悄悄，六日而變㓨之，五十日死。</p>
<p>敦疽發兩指頭，若五指頭七八日不寫死。其四日可㓨。其發而黑擁者不堪，未過節可治（一方不呼為敦疽，恐是刺寫明堂引為敗疽）。</p>
<p>疥疽發腋下若兩臂兩掌中，振寒熱而嗌乾者，飲多即嘔，心煩，悄悄六十日而漸合者，如此可有汗，如無汗者死（一方云：床疽《明堂》亦引為床疫）</p>
<p>筋疽皆發脊兩邊大筋，其色蒼，八日可㓨。若有膿在肌腹中，十日死。</p>
<p>陳干疽發兩臂，三四日痛不可動，五十日身熱面赤，六十日可㓨。如刺無血，三四日病愈。</p>
<p>搔疽發手足五指頭起節，其色不變，十日之內可㓨。過時不刺，後為蝕，有癰在脈腋，三歲死。</p>
<p>叔疽發身腫牽核而身熱不可以行，不可以屈申，成膿㓨之以除。</p>
<p>白疽發脾若肘後癢自痛傷，乃身熱多汗，五六處有者死。心主癰疽，在股脛六日死，發膿血六十日死。</p>
<p>黑疽發腫居背大骨上，八日可㓨，過時不㓨為骨疽。</p>
<p>骨疽膿出不可止，壯熱碎骨，六十日死。脅少陽有癰腫在頸，八日死。發膿血者十日死。</p>
<p>瘡疽發身癢後痛，此故傷寒氣入臟，篤發為瘡疽。九日可㓨之，不㓨九十日死。腰太陽脈有腫，交脈屬於陽明在頸，十日死。發腫七十日死。</p>
<p>尻太陽脈有膿腫，癰在足心少陽，八日死。發膿血六十日死或八十日死。</p>
<p>頭陽明脈有腫癰在尻，六日死。發膿血六十日死。</p>
<p>股太陰有腫癰在足太陽，十七日死。發膿血百日死。</p>
<p>肩太陽脈有腫癰在頸，八日死。發膿血百日死。</p>
<p>足少陽脈有腫癰在脅，八日死，發膿血六百日死。</p>
<p>手陽明脈有腫癰在淵腋，一歲死，發膿三歲死。</p>
<p>黑疽發淵腋死。</p>
<p>黑疽發耳中如米大，此疽不治死。</p>
<p>黑疽發肩死，黑疽發缺盆中名曰伏疽，不治死。</p>
<p>赤疽發於脾，半夜可治，出歲死。</p>
<p>黑疽發肘上下，不死可治。</p>
<p>髀解除指本黑頭赤死。</p>
<p>黑疽發掌中，不死可治。</p>
<p>赤疽發陰股，軟可治，堅死。</p>
<p>赤疽發肥腸死。</p>
<p>黑疽發脿臏，軟可治，堅不可治。</p>
<p>赤疽發掌中，不可治。</p>
<p>黑疽發跗上，堅死。</p>
<p>足下發久腫癰，色赤，死。</p>
<p>癰高而光者不大熱，用薄雍其肉平平無異而紫色者，不須治，但以黃耆並淡竹葉湯申其氣耳。癰平而痛，用八物黃耆薄。大癰七日，小癰五日，其自有堅強色診寧生破發背及乳岩，熱手近不得者，令人之熱熟，先服王不留行散，外散外摩發背大黃膏。若背生破無毒在乳者，熟之候，手按之，若隨手起，便是熟，針法要膿看，以意消息之。胸背不可過一寸針。良久不得膿，即以食肉膏散，差甕頭肉癰口中人體熱氣，歇服木瓜散。五日後癰欲瘥者，排膿內寒散。</p>
<p>凡破癰之後，病人便連綿欲死，內寒熱腫，自有似癰而非者，當以手按腫上無所連，是風毒耳。勿針，可服升麻湯，外摩膏破癰口當合流下三分，近一分針，唯今極熱，便不痛。破癰後敗壞不瘥者，作豬蹄湯洗之，日再，下湯二日，故可用。冬六七日，湯半劑亦可用，胸中斷氣。斷氣者，當入暗中以手按左眼，視右眼見光者，胸中結癰，若不見光者，瘭疽內發，針傷脈，血不出住實不寫，留成癰。腎脈來者大漸小陰結，若肌肉痹癰為發寸口，如此來大，如未漸小矣。</p>
<p>有黑色者，是石留黃毒。有赤色者，是丹砂毒。有青色者，是硇砂毒。有似鹽顆者，是鍾乳毒。有黃水者，是杏桃人毒。有白水者，是附子、乾薑毒。有膿者，熱肉面等毒砂發，白雄鴨頂上血一合，已來取黑鉛湯一茶碗，調服之解鍾乳發。雄雞肘上血一合，將針粉湯一茶碗調服之，解附子發。取附子皮三升，豉半升，相和，以水一升，煎約一茶碗，服之解丹砂發。取黑鉛、黃耆、防風、伏龍肝各半兩，水一升，煎半茶碗，去滓服之解。</p>

<h1>卷二</h1>
<p><u>治金瘡止血散方</u></p>
<p>烏草根（三兩）　白芷（一兩）　鹿茸（二分，燒灰）　當歸（一兩）　芎藭（一兩）　乾地黃（一兩，切蒸焙）　續斷（一兩）</p>
<p>上七味搗篩，令調著血出處即止。</p>
<p><u>治金瘡血肉瘻，蝙蝠消血散方</u></p>
<p>蝙蝠（三枚，燒令煙盡，沫下絹篩之）</p>
<p>上以水服方寸匕，一日服令盡，當下如水血消也。</p>
<p><u>治金瘡肉瘻，蒲黃散方</u></p>
<p>七月七日麻勃（一兩）　蒲黃（二兩）</p>
<p>上二物搗篩為散，溫酒調服一錢匕，日五服，夜再兩服。</p>
<p><u>治金瘡箭肉中不出箭，白蘞散方</u></p>
<p>白蘞（二兩）　半夏（三兩，湯洗七遍，生薑浸一宿熬過）</p>
<p>上二味為末，調水服方寸匕，日三服。若輕淺瘡十日出，深二十日出，終不停住肉中。</p>
<p><u>治金瘡中腹，腸出不能內之，小麥飲噴瘡方</u></p>
<p>取小麥（五升）　水（九升）</p>
<p>煮取四升，去滓，復以綿度濾之，使極冷，旁含噴之，瘡腸自上漸入，以冷水噴其背，不中多人見，亦不欲令旁人語，又不可病人知，或晚未入，取病人席四角，令病人舉搖須臾，腸便自入。十日之內，不可飽食頻食而宜少，勿使病人驚，驚則煞人。</p>
<p><u>治金瘡腸出欲入，磁石散方</u></p>
<p>磁石（三兩）　滑石（三兩）</p>
<p>上二物下篩，理令調，日飲方寸匕，日五服，夜再服。</p>
<p><u>治金瘡煩悶，止煩白芷散方</u></p>
<p>白芷（三兩）　芎藭（二兩）　甘草（二兩）</p>
<p>上三味熬令變色，搗為散，水調服方寸匕，日五服，夜再服。</p>
<p><u>治金瘡先有散石煩悶欲死，大小便不通，止煩消血解散，硝石散方</u></p>
<p>硝石　澤瀉　白蘞　芍藥　寒水　石栝蔞（以上各一兩）</p>
<p>上六味搗篩為散，水服方寸匕，日夜各一服，或未通稍增之。</p>
<p><u>治金瘡痛不可忍，煩疼不得住，止痛當歸散方</u></p>
<p>當歸　甘草（炙）　藁本　桂心　木占斯（以上各一兩）</p>
<p>上五味合搗篩令調，水服半方寸匕，日三服，夜一服。</p>
<p><u>治金瘡弓弩所中，悶絕無所識，琥碧散方</u></p>
<p>琥碧隨多少搗篩，以童子小便服之乃熱，不過二服。</p>
<p><u>治金瘡弓弩所中，筋急，屈伸不得，敗弩散方</u></p>
<p>乾地黃　干棗（三枚）　杜仲（二分）　當歸（四分）　附子（四分）　炮故敗弩筋（燒灰，取五分）</p>
<p>上七味合搗篩，理令勻，溫酒服方寸匕，日三服，夜一增一至三。</p>
<p><u>治金瘡內傷，蛇銜散方</u></p>
<p>蛇銜　甘草（炙）　芎藭　白芷　當歸（各一兩）　續斷　黃芩　澤蘭　乾薑　桂心　烏頭（五分，炮）</p>
<p>上十一味搗篩，理令勻，酒服方寸匕，日三服，夜一服。</p>
<p><u>治金瘡中筋骨，續斷散方</u></p>
<p>芎藭（一兩半）　地黃（二兩）　蛇銜（二兩）　當歸（一兩半）　蓯蓉（一兩半）　乾薑（三分，炮）　續斷（三兩）　附子（三分，炮）　漢椒（三分，出汗，去目）　桂心（三分）　人參（一兩）　甘草（一兩，炙）　細辛（二分）　白芷（三分）　一本用芍藥（一兩半）</p>
<p>上十四味搗篩，理令勻，調溫酒服之方寸匕，日三服，夜一服。</p>
<p><u>治金瘡煩疼，麻黃散方</u></p>
<p>麻黃（六分，去節）　甘草（五分，炙）　乾薑（三分）　附子（三分，炮）　當歸（三分）　白芷（三分）　續斷（三分）　黃芩（三分）　芍藥（三分）　桂心（三分）　芎藭（三分）</p>
<p>上十一味搗篩，理令勻，調溫酒服方寸匕，日三服，夜一服。</p>
<p><u>治金瘡煩滿，疼痛不得眠睡，白薇散方</u></p>
<p>白薇　栝蔞　枳實（炒）　辛夷（去毛）　甘草（炙）　石膏（以上各一兩）　厚朴（三分，炙）　酸棗（二分，炙）</p>
<p>上八味為末，調溫酒服方寸匕，日三服，夜一服。</p>
<p><u>治金瘡去血多虛竭，內補當歸散方</u></p>
<p>當歸（三分）　芍藥（五分）　乾薑（三分）　辛夷（去毛，二分）　甘草（三分，炙）</p>
<p>上五味搗篩，理令勻，調溫服方寸匕，日三服，夜一服。</p>
<p><u>治金瘡去血多，虛竭，內補蓯蓉散方</u></p>
<p>蓯蓉　當歸　甘草（炙）　芎藭　黃芩　桂心　人參　芍藥　乾薑　吳茱萸　白芨　厚朴（炙）　黃耆（各一兩）　蜀椒（三分，出汗，去目閉口）</p>
<p>上十四味搗篩，理令勻，調溫酒服方寸匕，日三服，夜一服。</p>
<p><u>治金瘡內塞，澤蘭散方</u></p>
<p>澤蘭　防風　蜀椒（去目、汗、閉口）　石膏　附子　乾薑　細辛　辛夷（去毛，各二兩）　芎藭（三分）　當歸（三分，炒）　甘草（四分，炙）</p>
<p>上十一味搗篩，理令勻，調溫酒服方寸匕，日三夜一。膿多倍甘草，渴加栝蔞二分，煩加黃芩二分，腹滿氣短加厚朴二分，瘡中血瘀加辛夷一倍。</p>
<p><u>治金瘡內塞，黃耆散方</u></p>
<p>黃耆（三兩）　芎藭　白芷　當歸　麻黃（去節）　鹿茸　黃芩　細辛　乾薑　芍藥　續斷　桑蟲屎（以上各一兩）　附子（半兩）　炮山　茱萸（一兩）</p>
<p>上十四味搗篩，理勻，調溫酒服方寸匕，日三服，夜一服，漸可至二日。</p>
<p><u>治金瘡中菵藥，解毒藍子散方</u></p>
<p>藍子（五合）　升麻（八兩）　甘草（四兩，炙）　王不留行（四兩）</p>
<p>上四味搗篩，理令勻，調冷水服二方寸匕，日三夜二。及以方寸匕水和勻塗瘡上，毒即解去矣。</p>
<p><u>治金瘡大渴，內補瞿麥散方</u></p>
<p>瞿麥　芎藭　當歸　甘草（炙）　乾薑　桂心　續斷　厚朴（炙）　白蘞　蜀椒（去目閉口汗）　辛夷（去毛）　牡蠣（末）　芍藥　桔梗　乾地黃　防風（各三分）　細辛（二分）　栝蔞（一分）　人參（三分）</p>
<p>上十九味搗篩，理令勻，調溫酒服方匕，日三夜一。或筋骨斷，更加續斷三分。</p>
<p><u>治被打腹中瘀血，蒲黃散方</u></p>
<p>蒲黃（一升）　當歸（二兩）　桂心（二兩）</p>
<p>上三味搗篩，理勻，調酒服之方寸匕，日三夜一。不飲酒熟水下。</p>
<p><u>治癰疽金瘡，續斷生肌膏方</u></p>
<p>續斷　乾地黃　細辛　當歸　芎藭　黃耆　通草　芍藥　白芷　牛膝　附子（炮）　人參　甘草（炙，各十二兩）　臘月豬脂（四升）</p>
<p>上十四味㕮咀，諸藥納膏中漬半日，微火煎三上，候白芷色黃，膏即成，敷瘡上，日四，正膏中是豬脂煎。</p>
<p><u>治金瘡癰疽，止痛生肌甘菊膏方</u></p>
<p>菵草　芎藭　甘草（炙）　防風　黃芩　大戟（以上各一兩）　生地黃　芍藥（一兩半）　細辛　大黃　蜀椒（去目、閉口，汗）　杜仲　黃耆　白芷（各一兩）</p>
<p>上十四味㕮咀，以臘月豬脂四升微火煎五上下，白芷候黃成膏。一方添甘菊二兩，以敷瘡上，日易兩次。</p>
<p><u>治癰疽金瘡，生肌膏方</u></p>
<p>大黃　芎藭　芍藥　黃耆　獨活　當歸　白芷（以上各一兩）　薤白（二兩，別方一兩）　生地黃（一兩，別方二兩）</p>
<p>上九味合薤㕮咀，以豬脂三升煎三上下，白芷黃膏成，絞去滓，用磨之，多少隨其意。</p>
<p><u>治金瘡腹內有瘀血，烏雞湯方</u></p>
<p>烏雌雞（一隻）　大黃（三兩）　細辛（三兩）　人參（一兩）　甘草（一兩，炙）　地黃（三兩）　杏仁（一兩，去皮）　雙人盲蟲（一兩）　當歸（二兩）　芍藥（一兩）　黃芩（一兩）　桃仁（二兩，去皮，碎）　大棗（二十枚）</p>
<p>上十三味理烏雞如食法，以水二斗，煮雞取一斗，㕮咀諸藥，納雞汁中，更煮之粥，慎食他物。</p>
<p><u>治金瘡內有瘀血，未及得出而反成膿，烏雞湯方</u></p>
<p>烏雞（一隻）　白芷　麥門冬（去心）　甘草（炙）　芍藥　當歸（以上各一兩）　桂心（二兩）　瓜練（二兩）</p>
<p>上八味先理雞如食法，以水二斗，煮取七升，㕮咀諸藥，納汁中，更煮取三升，去滓服七合，日三，夜勿食。</p>
<p><u>治金瘡有瘀血，桃核湯方</u></p>
<p>䗪蟲（三十枚，熬）　虻蟲　水蛭（各三十枚，熬）　桂心（三分）　大黃（五兩）　桃核（五十枚，去皮切）</p>
<p>上六味酒水各五升，㕮咀，合煮，取三升，去滓，服一升，日三服。</p>
<p><u>治金瘡驚悸，心中滿滿如車所驚怛，㹠心湯方</u></p>
<p>㹠心（一具）　人參　桂心　甘草（炙）　乾地黃　桔梗　石膏（末）　芎藭　當歸（二兩）</p>
<p>上九味細切銼，諸藥㕮咀，先以水二斗煮心，取汁八升，納諸藥，煮取一升，一服八合，一日令盡。</p>
<p><u>治金瘡癰疽，生肉膏方</u></p>
<p>黃耆　細辛　生地黃　蜀椒（去目汗閉口）　當歸　芍藥　薤白　芎藭　獨活　蓯蓉　白芷　丹參　黃芩　甘草（以上各一兩）　臘月豬脂（二斤半）</p>
<p>上十五味㕮咀，以苦酒一升合漬諸藥，夏一夜，冬二夜，浸以微火，煎三上，候苦酒氣成膏用之。</p>
<p><u>治被打腹中瘀血，白馬蹄散方</u></p>
<p>白馬蹄燒令煙盡，搗篩，溫酒服方寸匕，日三夜一。亦治婦人血疾消為水。</p>

<h1>卷三</h1>
<p><u>治年四十已還，強壯，常大患熱癰無定處，大小便不通，大黃湯方</u></p>
<p>大黃（三兩）　梔子（五十）　升麻（二兩）　黃芩（三兩）　芒硝（一兩，別方二兩）</p>
<p>上五味切，以水五升，煮取二升四合，去滓，下消絞調，分溫三服，快利為度。</p>
<p><u>治發癰疽兼結實，大小便不通，寒熱，已服五痢湯，吐出不得下，大渴煩悶，淡竹葉湯方</u></p>
<p>淡竹葉（切，四升，去尖）　栝蔞（四兩）　通草　前胡　升麻　茯苓　黃芩　知母　甘草（炙）　石膏（末，以上各二兩）　生地黃（十兩）　芍藥（一兩）　大黃　黃耆（三兩）　當歸（一兩半）　人參（一兩）</p>
<p>上十六味先以水一斗六升，煮竹葉，去葉取九升，納諸藥後煮取三升二合，分四服。三日三夜一快利便止，不必盡湯，湯盡不利，便合取利。</p>
<p><u>治發背髮乳，四體有癰疽，虛熱大渴，生地黃湯方</u></p>
<p>生地黃（十兩）　竹葉（四升）　黃芩　黃耆　甘草（炙）　茯苓　麥門冬（去心，以上各三兩）　升麻　前胡　知母　芍藥（各二兩）　栝蔞（四兩）　大棗（二十枚，去核）　當歸（一兩半）　人參（一兩）</p>
<p>上十五味，先以水一斗五升，煮竹葉取一斗，去葉，納諸藥，煮取三升六合，分為四服，日三夜一。</p>
<p><u>治發背乳癰，已服生地黃湯，取利後服此，淡竹葉湯方</u></p>
<p>淡竹葉（四升）　麥門冬（去心）　黃耆　芍藥　乾地黃　生薑（以上各三兩）　前胡　黃芩　升麻　遠志（去心）　栝蔞　大棗（十四枚）　當歸（一兩）</p>
<p>上十三味先以水一斗八升，煮竹葉、小麥、黃耆、芍藥、乾地黃、生薑，取一斗，去滓內諸藥，再煮，取三升，分溫三分（上語煮竹葉、小麥恐是麥門冬，非是小麥也）</p>
<p><u>治癰疽虛熱，生地黃湯方</u></p>
<p>生地黃（五兩）　人參　甘草（炙）　黃耆　芍藥　茯苓（各三兩）　當歸　芎藭　黃芩　通草（各二兩）　大棗（二十枚）　淡竹葉（切成三升）</p>
<p>上十二味先以水二斗煮了水，取一斗五升，去滓，復諸藥再煮，取四升八合，一服八合，日三夜再，能頓服為佳。</p>
<p><u>治癰疽內虛熱渴甚，黃耆湯方</u></p>
<p>生地黃（八兩）　竹葉（切成三升）　小麥（二升）　黃耆　黃芩　前胡　栝蔞（四兩）　通草　芍藥　升麻　茯苓　甘草　知母（各二錢）　人參　當歸（各一錢）</p>
<p>上十六味先以水二斗，煮竹葉及小麥取一斗二升，去滓，復煮諸藥，取四升，分四服，日三夜一。小便利，除通草、茯苓，加麥門冬，腹滿加石膏三兩，熱盛去人參、當歸。</p>
<p><u>治背生地黃湯方</u></p>
<p>生地黃（八兩）　人參　甘草（炙）　芍藥（各二兩）　通草　茯苓　黃耆　黃芩（各三兩）　淡竹葉（切二升）　大棗（二十枚）　當歸　芎藭（各一兩）</p>
<p>上十二味先以水三斗煮竹葉，取一斗，去滓，內諸藥，再煮四升，一服八合，日三夜再。若能每服一升佳。</p>
<p><u>治癰疽內虛，黃耆湯方</u></p>
<p>黃耆　人參　甘草（炙）　芍藥　當歸　生薑（各三兩）　大棗（二十枚）　乾地黃　茯苓（各二兩）　白朮（一兩）　遠志（一兩半）</p>
<p>上十一味以水一斗三升，煎取四升，去滓，分溫四服。</p>
<p><u>治癰疽，五味竹葉湯方</u></p>
<p>竹葉（切，二升）　五味子　前胡　當歸　乾地黃　人參（各二兩）　小麥（二升）　黃耆　黃芩　麥門冬（去心）　生薑（各三兩）　甘草（一兩半，炙）　升麻（一兩）　大棗（十四枚）　桂心（半兩）</p>
<p>上十五味先以水二斗煮竹葉、小麥，取一斗，去滓納諸藥，煮取三升，分溫四服，日三夜一。</p>
<p><u>治癰疽發背，乳大去膿後虛懾少氣欲死，服此遠志湯方</u></p>
<p>遠志（去心）　當歸　甘草（炙）　桂心　芎藭（各一兩）　黃耆　人參　麥門冬（去心，三兩）　茯苓（二兩）　乾地黃（三兩）　生薑（五兩）　大棗（十四枚）</p>
<p>上件十三味以東流水一斗，煮取三升二合，分溫四服，日三夜一。</p>
<p><u>治發背乳下復往，服此白石脂湯方</u></p>
<p>白石脂（四兩）　龍骨（三兩）　當歸　桔梗　女萎　黃連（去毛）　甘草（以上各二兩）　白頭翁（一兩）　乾薑（二兩）</p>
<p>上九味以水九升，煮取三升二合，分四服，下住便止，不必盡服。當下未即來日止。</p>
<p><u>治發癰疽取利熱小便退，不用食物，竹葉湯方</u></p>
<p>淡竹葉（切三升）　小麥（二升）　乾地黃　人參　黃芩　前胡　升麻（各二兩）　麥門冬（去心）　生薑　黃耆　芍藥（各三兩）　大棗（十四枚）　桂心（半兩）　遠志（半兩，去心）　當歸（一兩）　甘草（炙）</p>
<p>上十六味切，先以水一斗八升，煮竹葉、小麥，取一斗，去滓內諸藥。又煮取三升，分二服，羸者分四服，日三夜一。</p>
<p><u>治癰疽取下後熱少退，小便不利，竹葉湯方</u></p>
<p>淡竹葉（切一升）　小麥（三升）　乾地黃（四兩）　黃耆　人參　甘草（炙）　芍藥　石膏　通草　升麻　黃芩　前胡（各二兩）　大棗（十四枚）　麥門冬（三兩，去心）</p>
<p>上十四味先以水一斗六升，煮竹葉、小麥取九升，去滓內諸藥，煮取三升二合，強即分三服，羸即四服，日三夜一。</p>
<p><u>治癰疽取利後，熱，小便不利，竹葉湯方</u></p>
<p>竹葉（切，三升）　小麥（二升）　人參　黃芩　前胡　芍藥　甘草（炙）　乾地黃　當歸　桂心　黃耆（三兩）　麥門冬（三兩，去心）　龍骨　牡蠣（一兩，末）　赤蛸螩（三十枚，炒）　大棗（十四枚，去核）</p>
<p>上十六味以水二斗煮竹葉、小麥，取一斗，去滓內諸藥，煮取四升，分四服，日三夜一。</p>
<p><u>治發背癰及乳，兼味竹葉湯方</u></p>
<p>淡竹葉（切，三升）　小麥（三升）　黃耆　黃芩　五味子　人參　前胡　乾地黃　當歸（各二兩）　大棗（十四枚）　麥門冬（二兩，去心）　升麻（一兩）　桂心（半兩）　甘草（一兩，炙）　生薑（三兩）</p>
<p>上十五味以水二斗，煮竹葉、小麥，取一斗，去滓內藥，煮取三升，分溫三服，一日服。</p>
<p><u>治發背已潰而下不住，白石脂湯</u></p>
<p>白石脂（四兩）　龍骨（三兩）　當歸（二兩）　桔梗（二兩）　女萎　白頭翁（各四兩）　黃連（二兩）　乾薑（三兩）</p>
<p>上八味以水九升，煮取三升三合，去滓，服八合，日三夜一。</p>
<p><u>治發背已潰，大膿汁，虛懾少氣力，內補黃耆湯方</u></p>
<p>黃耆（三兩）　乾地黃　人參　茯苓（各二兩）　當歸　芍藥　芎藭　桂心　遠志（去心，各一兩）　甘草（一兩半）　麥門冬（去心，三兩）　生薑（五兩）　大棗（十四枚）</p>
<p>上十三味以水一斗，煮取三升二合，去滓，分溫四服，日三夜一。</p>
<p><u>治癰疽內虛熱，生地黃湯方</u></p>
<p>生地黃（五兩）　人參　甘草（炙）　芍藥　茯苓　芎藭　通草　黃芩　當歸（各二兩）　大棗（二十枚）　竹葉（切，三升）</p>
<p>上十二味以水三斗，煮竹、地取半，去滓內諸藥，煮取四升，分五服，日三夜二，能服一升可佳。</p>
<p><u>治發背，黃耆湯方</u></p>
<p>黃耆　黃芩　遠志　麥門冬（去心，二兩）　乾地黃　人參　芎藭　甘草（炙）　芍藥　當歸（各一兩）　大棗（二十枚）　生薑（五兩）　雞肶胵（二具，勿去皮）　桑螵蛸（十四枚，炙）</p>
<p>上十四味㕮咀，以水一斗，先煮取四升五合，一服九合，日三服夜一服。</p>
<p><u>治炎疽，枳實湯方</u>（甘林所秘不得）</p>
<p>枳實（炙）　夜干升麻　乾地黃　黃芩　前胡（各三兩）　犀角（一兩半）　大黃（二兩半）　麝香（半兩）　一方用甘草（二兩）</p>
<p>上九味㕮咀，以水九升，煮取分溫三服，須瘥也。</p>
<p><u>治腸癰，大黃湯</u></p>
<p>腸癰之為病，診小腹腫，痞堅，按之則痛，或在膀胱左右，其色或赤或白色，堅大如掌熱，小便欲調，時色色汗出，時復惡寒。其脈遲堅者未成膿也，可下之，當有血脈數膿成，不可服此方。</p>
<p>大黃（四兩）　牡丹（三兩）　芥子（半升）　硝石（三合）　桃仁（五十枚，去皮炒，切之）</p>
<p>上五味㕮咀，以水六升五合，分為兩服，膿下無者下血大良。</p>
<p><u>治背上初欲作疹便服此，大黃湯方</u></p>
<p>大黃（三兩）　梔子（一百枚，去皮）　升麻　黃芩　甘草（炙，三兩）</p>
<p>上五味以水九升，煮取三升半，分為三服，得快下數行止，不下更服。</p>
<p><u>治婦人妒乳，辛夷湯方</u></p>
<p>辛夷（一升，去毛）　大棗（三十枚）　桂（長一尺）　防風（二分）　白朮　甘草（一尺，炙）　生薑（二分）　澤蘭（一升，切）</p>
<p>上八味切，以水一斗，煮取三升，分溫三服。</p>
<p><u>治婦人客熱乳結腫，或潰或作癰，內補黃耆湯方</u></p>
<p>黃耆　茯苓（各三兩）　芍藥（二兩）　麥門冬（三兩，去心）　甘草（二兩，炙）　厚朴（一兩，炙）　人參（三兩）　生薑（四兩）　乾地黃（三兩）</p>
<p>上九味切，以水一斗二升，煮取三升分五服，日三夜二。</p>
<p><u>治癰腫患熱盛，黃耆湯方</u></p>
<p>黃耆　麥門冬（三兩，去心）　黃芩（六分）　梔子（十四枚）　芍藥（二兩）　栝蔞（二兩）　乾地黃（一兩）　升麻（一兩）</p>
<p>上八味銼，以水一斗，煮取三升，分溫三服。</p>
<p><u>治發癰疽腫潰去膿多，里有虛熱，內補黃耆湯方</u></p>
<p>黃耆　茯苓　桂心　人參　麥門冬（三兩，去心）　甘草（六分，炙）　生薑　遠志（二兩，心）　當歸（二兩）　五味子　大棗（二十枚）</p>
<p>上十一味切，以水一斗煮取四升，分六服，日四夜二。</p>
<p><u>治癰去膿多，虛滿上氣，竹葉湯方</u></p>
<p>竹葉（切，二升）　半夏（二兩，湯洗）　甘草（二兩，炙）　厚朴（三兩，炙）　小麥（四升）　生薑（五兩）　當歸（一兩）　麥門冬（二兩）　茯苓　桂心（各一兩）　黃芩（三兩）</p>
<p>上十一味切，以水一斗半，先煮竹葉、小麥取九升，去滓，又煮諸藥取二升，分溫三服。</p>
<p><u>治癰疽腫煩熱，增損竹葉湯方</u></p>
<p>竹葉（一握，切）　當歸　茯苓　人參　前胡　黃芩　桂心　芍藥（各二兩）　甘草（三兩，炙）　大棗（二十枚）　小麥（一升）　麥門冬（一升，去心）</p>
<p>上十二味切，以水一斗六升，煮竹葉、小麥取一斗一升，去滓內諸藥，煮取三升，分服，日三。夜重加黃耆二兩，胸中惡加生薑六兩，下者減芍藥、黃芩各六分。如體強羸者以意消息之。</p>
<p><u>治癰疽後補塞去客熱，黃耆湯方</u></p>
<p>黃耆　生薑　石膏（末）　甘草　芍藥　升麻　人參（以上二兩）　知母　茯苓（各一兩）　桂心（六分）　麥門冬（二兩，去心）　大棗（十四枚）　乾地黃（一兩）</p>
<p>上十三味切，以水一斗二升，煮取四升，分溫四服，日三夜一。</p>

<h1>卷四</h1>

<h2>黃父一疽論</h2>
<p>九江黃父問於岐伯曰：余聞腸胃受谷，上焦出氣，以溫分㹞而養骨節、通腠理，中焦出氣如露，注溪谷而燥經脈，津液和調而變化赤為血，血和則乘脈先滿，乃注經絡，經絡皆盈，乃注於經絡（句有脫誤）。陰陽已張，因息乃行，行有經紀，周有道理，與天合同，不得休止，切而謂之，從虛去實，瀉則不足，疾則氣留，去虛補實則有餘，血氣已調，形神乃持。余已知血氣平與不平，未知癰疽之所從生，成敗之時、死生之期，期有遠近，何以度之，可知聞乎。</p>
<p>岐伯曰：經脈流行不止，與天同度，與地同紀，故大宿失度，日月薄蝕也。經始紀冰道流溢，草薷不成，五穀不植，經路不通，民不往來，庵聚邑居，別離異處，血氣猶然，則言其故。</p>
<p>夫血脈榮衛周流不休，上應星宿，下應經數，寒客於經絡之中則血泣，泣則不通，不通則歸之不得復，及故癰腫與寒氣化為熱，熱勝則肉腐，肉腐則為膿，膿不瀉則爛筋，筋爛則傷骨，骨傷則水髓消不當骨肉不瀉，筋枯空虛，筋骨肌肉不得相親，經脈敗漏，熏於五臟，五臟傷故死矣。</p>
<p>黃父曰：願聞於癰疽之形與其期日。</p>
<p>岐伯曰：略說癰疽極者一十八種。癰發於嗌，名曰猛疽，猛疽不治則化為膿，膿塞其咽半日死。其為者寫則已，含豕膏無冷，寫三日而已（一方無冷食）。發於頸者名曰夭疽，其狀癰大而赤黑，不急則熱氣不入淵脈腋前，傷任脈，內熏肝脈十餘日死，陽氣大發，消腦，名曰腦漯，其色不樂，項痛如㓨，以藏頭乘心者，不治（本作留字）。發於肩及臑者名曰雌癰，其狀赤黑，急治之，此令大汗出至足，不害五臟。</p>
<p>發於腋下赤堅者名曰米疽，治之𥦖石欲細長疏，或云塗豕六膏，日以勿裹，其癰堅而不潰者，馬刀夾纓乃治之。</p>
<p>發於胸者名曰並疽，其狀如大豆，三四日起，不早治，下入腹不治，十日死。</p>
<p>發於臆者名曰甘疽，其狀如谷實萎瓜，常寒熱，急治之去其寒，十歲（似誤）死，死後膿自出。</p>
<p>發於脅者名曰改訾，改訾者女子之病也。久之其疾大癰膿，治之，其中乃有生肉大如赤小豆，銼陵翹草、陵根各一升，水六升，煮之竭為三升，即強飲厚衣坐釜上，令汗出至足已。</p>
<p>發於股陽明名曰股甕疽，其狀不甚變而癰膿附骨，不急治四十日死。</p>
<p>發於股陰名曰赤施疽，不急治六日死。在兩股之內，不治六日死（一方云十六日死）。發於尻名曰兌疽，其狀赤堅大急，急治之，不速治三十日死。</p>
<p>發於膝名曰雌疽，其狀癰色不寒熱而堅，勿破，破之死。須以手緩柔之，乃破。諸疽發於節而相應之者，不可治之也。</p>
<p>發於陽者百日死。</p>
<p>發於陰者四十日死。</p>
<p>發於腦名曰菟齧，其狀疾赤至胃，急治之，不治煞人。</p>
<p>發於踝名曰走援，其狀癰也，急不變，灸而止其寒熱，不死。</p>
<p>發於足上名曰四淫，其狀如癰，不急治之百日死。</p>
<p>發於足名曰癘疽，其狀初小指發，急治之，去其黑者，不輒益不治，百日死。</p>
<p>發於足指名曰脫疽，其狀赤黑不死，治之不衰，急漸去之，治不去，必死矣。</p>
<p>夫癰疽者，初發始微，多不為急，此實奇患，惟宜速治之，急治不苦速，成病難救，以此致禍能不痛哉！具述所懷，以悟後賢。謹按：黃父癰疽論所著緩急之處，生死之期，如有別癰之形色、難易之治如左僧納私撰是用，非是先賢恐後高雅，故記之名字，令惑之耳。</p>
<p>發皮㹞淺腫，高之赤即消，不治亦愈。</p>
<p>發筋㹞深腫，下之堅其色，或青或黃白黑，或復微熱而赤，宜急治之。成消中半發附骨者，或未覺肉㹞，肉㹞已殃者，癰疽之甚也（肉㹞似誤，按㹞即肉字也）。</p>
<p>凡發背，外皮薄為癰，皮堅為疽，如此者多現先兆，宜急治之。皮堅甚，大多致禍矣。</p>
<p>夫癰壞後有惡㹞當者，以豬蹄湯洗其穢，次敷飲㹞膏散惡㹞盡，乃敷生肌膏散，乃摩四邊令善㹞速生，當須絕房室、慎風冷，勿自勞動，須筋脈復常，乃可自勞耳。不爾，新㹞易傷則重發，便益潰爛，慎之慎之。</p>

<h2>相癰疽知是非可灸法</h2>
<p>癰疽之甚，未發之兆，肥渴為始，始發之始，或發日疽雚似若小癤，或復大痛，皆是微候，宜善察之。欲知是非，重按其處，是便隱復。按四邊比方得失審定之後即灸。第一便灸其上二三百壯，又灸四邊一二百炷，小者灸四邊，中者灸六處，大者灸八處，壯數處所不患多也。亦應即貼即敷令得所即消，內服補暖湯散，不已，服冷藥，外即冷敷。不已，用熱貼貼之法，開其口泄熱氣。</p>

<h2>相癰知有膿可破法</h2>
<p>癰大堅者未有膿，半堅薄半有膿，當上薄者都有膿便可破之。所破之法，應在下逆上破之，令膿得易出，用排針膿深難見，上㹞厚而生㹞火針，若外不別有膿，可當其上數按之，內便隱痛者，㹞殃，堅者未有膿也。按更痛於前者，內膿已熟也。膿泄去，熱氣不爾長速，速即不良。治癰疽腫松脂帖方。</p>
<p>黃柏　芎藭　白芷　白蘞　黃耆　黃芩　防風　芍藥　菵草　白蠟　當歸　大黃（各一兩）　細辛（二分）　膒脂（三兩）　松脂（二斤）</p>
<p>上十六味切，曝乾極燥，微火煎三上下，手不得離，布綿絞去滓貼之。</p>
<p><u>治癰疽腫松脂帖方</u></p>
<p>當歸　黃耆　黃連　芍藥　黃芩　大黃　臘蜜　芎藭（各一兩）　松脂（一斤半）　陳膒脂（各一合半）</p>
<p>上十味細切，合煎，微火三上下，膏成綿絞去滓，向火塗紙上貼之。</p>
<p><u>治癰疽松脂帖腫方</u></p>
<p>松脂（一斤）　大黃（三分）　膒脂（一兩）　細辛（半分）　黃芩（一分半）　防風（半分）　白芷　白蘞　芎藭　當歸　芍藥　菵草　黃連　白蠟　黃柏（各一分）</p>
<p>上一十五味細切，曝令極燥，先煎脂蠟下松脂烊盡，內諸藥三上下，候色足絞以綿布，水中以新竹片上火炙之，施紙上貼之。此藥大秘，實有奇效，不妄傳之。</p>
<p><u>治癰疽，升麻薄極冷方</u></p>
<p>升麻（一兩）　大黃（一兩）　白蘞（六分）　黃耆（一兩）　黃芩（六分）　白芨（一分，乾者）　牡蠣（二分，粉）　龍骨（一兩）　甘草（二分，炙）　芎藭（一兩）</p>
<p>上十味篩，和以豬膽，調塗布敷之癰上，燥易之。</p>
<p><u>治癰，白蘞薄方</u></p>
<p>白蘞　大黃　黃芩（各等分）</p>
<p>上三味搗篩，和雞子白塗布上，敷癰上，一燥輒易之，亦可治。又以三指撮置三升水中，煮三沸，綿注汁拭腫上數十過，以寒水石沫塗腫上，紙覆之，燥復易，一易輒以煮汁拭之，晝夜二十易之。</p>
<p><u>治癰疽始一二日，痛微，內薄令消，豬膽薄方</u></p>
<p>黃耆　龍骨　青木香　梔子仁　羚羊角　乾地黃　升麻　白蘞　大黃　黃柏　黃芩　芎藭　赤小豆　麻黃（去節）　黃連　犀角（一兩）</p>
<p>上十六味各等分搗篩，以豬膽調令如泥，以故布開口如小豆大，以泄熱氣。</p>
<p><u>治癰腫熱盛，口燥患渴，除熱止渴，黃耆湯方</u></p>
<p>黃耆　栝蔞　乾地黃　升麻（各二兩）　麥門冬（三兩，去心）　梔子（二十枚）　芍藥　黃芩（一兩半）</p>
<p>上八味以水一斗，煮取三升，分溫三服。</p>
<p><u>治客熱鬱積在內，或生癤，黃耆湯方</u></p>
<p>黃耆（二兩）　人參（一兩）　芎藭　當歸　甘草（炙，各一兩）　遠志（去心）　乾地黃（各二兩）　大棗（二十枚）　生薑（五兩）　麥門冬（去心，五兩）</p>
<p>上十味切，以水一斗二升，煮取三升，分溫三服。</p>
<p><u>治癰未潰，黃耆湯方</u></p>
<p>黃耆（四兩）　甘草（二兩，炙）　桂心（三兩）　芍藥　半夏　生薑（各八兩）　飴（一斤）</p>
<p>上七味以水七升，煮取三升，飴化分三服。</p>
<p><u>治癰，內補竹葉黃耆湯方</u></p>
<p>竹葉（切，一升）　黃耆（四兩）　甘草（二兩）　芍藥（四兩）　黃芩（一兩）　人參（二兩）　桂心（一兩，如冷用半兩）　大棗（十二枚）　乾地黃（二兩）　升麻（三兩）　茯苓　生薑（各一兩）</p>
<p>上十二味以水二斗，煮竹葉澄清，取九升，內諸藥，更煮取三升，分溫三服。</p>
<p><u>治補度冷下，赤石脂湯方</u></p>
<p>赤石脂　人參　甘草（炙）　乾薑（各二兩）　龍骨（一兩，碎）　附子（大者，一枚，炮）</p>
<p>上六味切，以水八升，煮取二升半，去滓，分溫三服，如人行十里進一服。</p>
<p><u>治取冷過寒，下蝕見出，溫中湯方</u></p>
<p>甘草（六分，炙）　乾薑（六分）　附子（炮，去皮破，六分）　蜀椒（二百四十粒，去口者出汗）</p>
<p>上四味切，以水六升，煮取二升，分溫三服。</p>
<p><u>治斷下補骨，附子湯方</u></p>
<p>附子（二分，炮）　當歸　人參　黃連　甘草（炙，各一兩）　乾薑　桂心　芍藥（各二分）　蜀椒（去汗目閉口，半分）</p>
<p>上九味以水五升，煮取一斗五合，去滓分溫二服。</p>
<p><u>治癰瘡及惡瘡，有惡㹞，豬蹄湯洗方</u></p>
<p>豬蹄（一具，治如食法）　白蘞（二兩）　白芷（二兩）　黃連（一兩）　狼牙（二兩）　芍藥（二兩）　黃芩　獨活　大黃（各一兩）</p>
<p>上九味以水三斗，煮豬蹄一斗五升，去蹄內諸藥煮，煮五升洗瘡，日四次，甚良。</p>
<p><u>治癰疽腫壞多汁，豬蹄湯方</u></p>
<p>豬蹄（一具，治如食法）　芎藭　甘草（炙）　大黃　黃芩（各二兩）　芍藥（三兩）　當歸（二兩）</p>
<p>上七味先以水一斗五升，煮蹄取八升，去蹄，內諸藥，更煮取三升，去滓及溫洗瘡上，日三。亦可布內湯中，敷瘡腫上，燥復之。</p>
<p><u>治肘疽方</u></p>
<p>黃連　皂莢（各等分，炙去皮子）</p>
<p>上二味搗下，和以淳苦酒，調令如泥，塗滿肘，以綿厚敷之，日三易，良。</p>
<p><u>治癰疽最膿，增損散方</u></p>
<p>黃耆（五分，膿多倍之）　小豆（一分，熱口乾倍之）　芎藭（二分，肉未生倍之）　白蘞（三分，有膿瘡不合倍之）　栝蔞（三分，若小便利倍之）</p>
<p>上六味搗篩，令細酒調溫服方寸匕，日三。</p>
<p><u>治癰消膿，木占斯散方</u></p>
<p>木占斯　桂心　人參　細辛　敗醬　乾薑　厚朴　甘草（炙）　防風　桔梗（以上各一兩）</p>
<p>上十味搗篩，酒服方寸匕，入咽覺流入瘡中。若癰及疽之不能發壞者，可服。瘡未壞，去敗醬。已發膿，納入敗醬，此藥時有化癰疽成水者，方正桂為異，故兩存焉（案：正桂句似誤）</p>
<p><u>治發背及婦人發房並腸癰，木占斯散方</u></p>
<p>木占斯　厚朴（炙）　甘草（炙）　細辛　栝蔞　防風　乾薑　人參　桔梗　敗醬（以上各一兩）</p>
<p>上十味搗篩，清酒服方寸匕，日七夜四。以多為善。敗醬，草名也。病在上者當吐，在下者當下膿血，此謂腸癰之屬也。諸病在裡，惟服此藥，即覺有力。及癰疽便即腹痛，長服。治諸瘡及疽痔瘡已潰，便即早愈。凡俗流醫不知用此藥，發背有不善而渴，便勤服之。若藥力行覺渴心，便消散。若雖服壞，終無苦，但晝夜服勿懈也。發此藥消散不覺，腫去時即愈。或長服即去敗醬，偏治婦人乳腫諸產，疵速愈良。又云惟服有異，始覺背有不善之也。</p>
<p><u>治諸癰疽已潰未潰，瘡中疼痛，膿血不絕，瞿麥散方</u></p>
<p>瞿麥　白芷　黃耆　當歸　細辛　芍藥　薏苡仁　芎藭　赤小豆（末，各一兩）</p>
<p>上九味先以清酒小豆出於銅器中，熬令乾後，漬漬後復熬五過止。然後治末，合搗篩，溫酒服方寸匕，晝夜各五。三日後痛癢者，肌肉也。又方：用苦酒漬小豆，多痛倍瞿麥，瘡口未開倍白芷，多膿倍黃耆、薏苡仁、芍藥等。</p>
<p><u>治癰食惡㹞散方</u></p>
<p>藜蘆（一分半）　真珠（一分半）　石硫黃　雌黃　麝香（各三分）　馬齒　礬石（熬）　漆頭　蘆茹（各三分）</p>
<p>上九味篩搗，粉瘡上，亦可為膏和敷瘡上。</p>
<p><u>治癰疽食惡，㹞散方</u></p>
<p>雄黃（一兩）　礬石（一分，熬）　蘆茹（一兩）</p>
<p>上三味搗篩，稍著之，隨用多少，不限一兩。</p>
<p><u>治癰疽，兌膏方</u></p>
<p>當歸　芎藭　白芷　松脂（各二兩）　烏頭（一兩）　豬脂（二升）　巴豆（十枚，去心皮）</p>
<p>上七味㕮咀，納膏中，微火合煎三沸，已納松脂攪合相得，以綿布絞之去滓，以膏著綿絮兌頭丈作兌，兌之瘡雖深淺，兌之膿就，兌盡即善。肉瘡淺者不起，兌著瘡中日三，惡肉盡則止。</p>
<p><u>治食㹞，青龍膏方</u></p>
<p>白礬（二兩，火煉末之）　熟梅（二升，去核）　鹽（三合）　大錢（二十七枚）</p>
<p>上四味於銅器中猛火投之，摩滅成末，乃和豬脂搗一千杵，以塗瘡上，甚痛勿怪。此膏食惡㹞盡復著，可敷蛇銜膏塗之，令善㹞復生。</p>
<p><u>治癰疽金瘡，生肉膏方</u></p>
<p>大黃　芍藥　黃耆　獨活　白芷　芎藭（各一兩）　當歸（一兩）　薤白（二兩）　生地黃（三兩）</p>
<p>上九味㕮咀，以盛煎豬膏三升，煎三上下，以綿布絞去滓，用兌摩，多少隨意，常用之。</p>
<p><u>治丹癰疽始發，焮熱浸淫長成，㩉湯方</u></p>
<p>升麻　黃芩（各三兩）　黃連　大黃（各二兩）　當歸（一兩）　甘草（一兩，炙）　芎藭（二兩）　芒硝（三兩）　羚羊角屑（各一兩）</p>
<p>上九味㕮咀，以水一斗三升，煮取五升，絞去滓，鐺中納芒硝，上火攪令成沸，盡滓，稍分適冷熱貼帛，㩉腫上數過，其熱隨手消散。王練甘林所秘，不傳此方。</p>

<h1>卷五</h1>
<p><u>治癰疽敗壞，生肉地黃膏方</u></p>
<p>生地黃（一斤）　辛夷　獨活　當歸　大黃　芎藭　黃耆　薤白　白芷　芍藥　黃芩　續斷（各二兩）</p>
<p>上十二味切，以臘月豬脂四升，微火煎，白芷色黃膏成，絞去滓敷，日四。</p>
<p><u>治癰疽瘡，生肌黃耆膏方</u></p>
<p>黃耆　細辛　生地黃　蜀椒（去目閉口汗）　當歸　芍藥　薤白　白芷　丹參　甘草（炙）　蓯蓉　獨活　黃芩（以上各一兩）　臘月豬脂（一斤半）</p>
<p>上十四味細切，以苦酒一升二合，夏即漬一日，冬二夜，微火煎三上下，酒氣盡成膏，敷之極良。</p>
<p><u>治發背，乳口已合，皮止急痛，生㹞膏方</u></p>
<p>丹參　防風　白芷　細辛　芎藭　黃芩　芍藥　甘草（炙）　黃耆　牛膝　槐子　獨活　當歸</p>
<p>上十三味切，以臘月脂五升，微火煎三上、下，白芷黃膏成，病上摩，向火，日三四。</p>
<p><u>治癰腫堅強不消，不可用敷貼，處黃芩膏方</u></p>
<p>黃耆　黃芩　芎藭　白蘞　防風　菵草　白芷　芍藥　大黃　細辛　當歸（以上各一兩）</p>
<p>上十一味㕮咀，以豬脂四升，微火上煎一沸一下，白芷黃即成膏，敷之堅硬者，日可十易。</p>
<p><u>治癰疽，止痛生肌，鷗脂膏方</u></p>
<p>松脂（七兩）　芍藥　當歸　芎藭　黃芩（各一兩）　鷗脂（七兩）　白蠟（五兩）</p>
<p>上七味㕮咀，以臘月豬脂二升二合，微火煎一沸一下，三十過成，以摩於瘡上。</p>
<p><u>治癰疽金瘡，續斷生㹞膏方</u></p>
<p>續斷　乾地黃　細辛　當歸　芎藭　黃耆　通草　芍藥　白芷　牛膝　附子（炮製）　人參　甘草（炙，以上各二兩）　臘月豬脂（四升）</p>
<p>上十四味㕮咀，著銅器中，下膏，諸藥漬之半日，微火煎三上下，白芷候黃膏成，敷之瘡上，日四五過良。</p>
<p><u>治癰疽瘡，止痛生肉，甜竹葉膏方</u></p>
<p>甜竹葉（五兩）　生地黃（四兩）　大戟（二兩）　臘月脂（四升）　當歸　續斷　白芷　菵草　芎藭　防風（各二兩）　甘草（一兩半，炙）　芍藥（一兩半）　蜀椒（半兩，去目汗閉口）　細辛　大黃　杜仲（各半兩）　黃耆（半兩）</p>
<p>上十七味㕮咀，以豬脂微火煎五上下，候白芷黃膏成，敷瘡上甚良。</p>
<p><u>治癰疽敗壞，生肉菵草膏方</u></p>
<p>菵草　當歸　薤白　黃芩　甘草（炙，各二兩）　生地黃（五兩）　白芷（三兩）　大黃（四兩）　續斷（一兩）</p>
<p>上九味㕮咀，以豬脂三升，微火煎三上下，白芷黃膏成，敷瘡良。</p>
<p><u>治癰疽膿爛並小兒頭瘡，牛領馬鞍，及腸中諸惡，耳聾痛風腫腳疼，金木水火毒螯所中，眾瘡百疹，無所不治。蛇銜膏方</u>　蛇銜　大戟　大黃　芍藥　附子（炮）　當歸　獨活　菵草　黃芩　細辛　芎藭　蜀椒（去目閉口汗）　薤白（以上各一兩）</p>
<p>上十三味㕮咀，以苦酒漬之淹一夜，以豬脂一升半，微火煎三上下，膏成，綿布絞去滓，病在內，酒下彈元大。</p>
<p><u>治癰疽，食㹞膏方</u></p>
<p>松脂（五兩）　雄黃（別研）　雌黃　野葛皮（各二兩）　豬脂（一斤）　漆頭蘆茹（三兩）　巴豆（一百枚，去皮膜心）</p>
<p>上七味先煎松脂，水氣盡下諸藥，微火煎三上下，膏成，絞去滓，納雄、雌二黃攪調，以膏著兌頭內，瘡內口方六匕及㹞兼新故初用病更腫赤，但用如節度，惡㹞盡止，勿使過也。</p>
<p><u>治癰疽，大黃食㹞膏方</u></p>
<p>大黃　附子　莧草　芎藭　雄黃　真珠末（各一兩）　白蘞　礬石　黃芩　漆頭蘆茹（各二兩）　雄黃（一兩）</p>
<p>上十一味㕮咀，六物以豬脂一升四合，微火煎三上下，末蘆茹下煎成膏中，以塗兌頭，敷瘡中，須惡肉盡，勿使過也。</p>
<p><u>治癰疽茹，食惡肉，蘆茹散方</u></p>
<p>漆頭蘆茹　礬石　硫黃　雄黃（以上各二分）</p>
<p>上四味搗篩，攪令著兌頭內瘡口中惡㹞盡止，勿使過也。</p>
<p><u>治癰疽始作便敗壞，發瘡膏方</u></p>
<p>羊髓（一兩）　甘草（二兩）　胡粉（五分）　大黃（一兩）　豬脂（二升）</p>
<p>上五味切，合脂髓煎二物，令烊、納甘草、大黃三上下，去滓，納胡粉攪令極調，敷瘡，日四五上。</p>
<p><u>治久病疥癬，惡瘡膏方</u></p>
<p>丹砂　雄黃　雌黃　亂髮（洗）　松脂　白蜜（以上各一兩）　蘆茹（漆頭者，三兩）　巴豆（十四個，去皮心）　臘月豬脂（三升）</p>
<p>上九味先煎亂髮，消盡內松脂煎三上下，成膏，絞去滓，末茹內膏中，煎攪極調，敷瘡上，日三易之。</p>
<p><u>治久病疥癬，諸惡瘡毒，五黃膏方</u></p>
<p>雌黃　雄黃　黃連　黃柏　黃芩　青木香　白芷（各二兩）　亂髮（一團）　雞子　大雞　舌香（一兩）　狼跋子（四十枚）</p>
<p>上十味㕮咀，以苦酒半升漬諸藥一夜，以臘月脂三升，先煎發一沸，納諸藥三五沸止，絞去滓，成膏，敷瘡上，日五易之。</p>
<p><u>治病疥癬惡瘡，散熱水銀膏方</u></p>
<p>水銀　礬石　蛇床子　黃連（各一兩）</p>
<p>上四物兩度篩，以臘月豬脂七合和，並水銀攪令調，打數萬過不見銀，膏成敷瘡。若膏少益取並小見瘡良（龔慶宣加蘆茹一兩）。</p>
<p><u>治面黃疱，麝香膏方</u></p>
<p>麝香（二兩）　當歸　附子　芎藭　白芷　芍藥（以上各一兩）　細辛（二合）　杜衡（二分）</p>
<p>上八味㕮咀，以臘月豬脂一升二合，煎諸藥三上下，絞去滓，別末研麝香，安膏中，攪令調，敷疱上三易之。</p>
<p><u>治面查疱，木蘭膏方</u></p>
<p>木蘭　防風　白芷　青木香　牛膝　獨活　藁本　當歸　芍藥　杜衡　辛夷　芎藭　細辛（各一兩）　麝香（一分）　附子（二分，炮）</p>
<p>上十五味㕮咀，諸藥以臘月豬脂一升微火煎三沸三上下，去滓，末下攪令調，膏成敷疱上，日三。</p>
<p><u>治查疱，鸕鷀屎膏方</u></p>
<p>上取鸕鷀屎一升，搗篩，臘月豬脂調和敷之。</p>
<p><u>治頭頹生髮，白芷膏方</u></p>
<p>白芷　蔓荊子　附子　防風　芎藭　菵草　細辛　黃芩　當歸　蜀椒（各一兩，去汗閉口）　大黃（一兩半）　馬鬃膏（五合此所用多無）</p>
<p>上十二味切，以臘月豬脂三升，合諸藥微火煎三上下，白芷色黃膏成，洗頭澤發勿近面。</p>
<p><u>治婦人乳腫痛，丹參膏方</u></p>
<p>丹參　芍藥（各二兩）　白芷（一兩）</p>
<p>上三味以苦酒漬一夜，豬脂六合，微火煎三上下，膏成敷之。</p>
<p><u>治頭白頹瘡，發落生白，經年不瘥，五味子膏方</u></p>
<p>五味子（二分）　菟絲子（五分）　蓯蓉（二分）　雄黃（一分）　松脂（二分）　蛇床子　遠志（去心，各三分）　雌黃　白蜜（各一分）　雞屎（半分）</p>
<p>上十味，以豬膏一升二合煎，先納雌黃，次納雞屎，次納蜜，次納松脂，次納諸藥，並先各自末之，膏成，先以桑灰洗頭，後敷之。</p>
<p><u>治疽瘻瘑疥諸惡瘡，連年不瘥，並小兒頭瘡悉治之，膏方</u></p>
<p>藜蘆　附子　蘆茹　桂心　天雄　蛇床子　野葛皮　雄黃　亂髮（洗）　白芷　半夏（湯洗）　礬石　細辛　杏仁　芎藭　芍藥　白朮　烏頭（各二兩）　黃連　當歸　藁本（以上各二兩）　斑蝥　菵草　巴豆（去皮心）　黃柏　吳茱萸　蜀椒（各一兩，去目閉口汗）</p>
<p>上二十七味㕮咀，以苦酒漬一夜，以臘月豬脂四斤，微火煎令酒氣盡，膏成，日四五敷，用多妙。</p>
<p><u>治久瘑疽，諸瘡，冶葛膏方</u></p>
<p>冶葛皮　黃連　細辛　杏仁　菵草　芍藥　藜蘆　附子　乳發　蘆茹　芎藭　白芷　蛇床子　桂心　藁本　烏頭　白朮　吳茱萸　雄黃　礬石　天雄　當歸（以上各二兩）　斑蝥　巴豆（去皮心）　蜀椒（去目汗閉口）　黃柏（各一兩）</p>
<p>上二十六味㕮咀，各搗篩，以豬脂五升，於銅器內微火煎諸藥七沸上下，絞去滓，更煎攪勻，成膏以敷瘡上，日四五。</p>
<p><u>丹砂膏方三首</u></p>
<p>丹砂（五兩）　芎藭（三兩）　大黃（二兩）　蜀椒（二兩，去目出汗）　白芷（二兩）　麝香（三兩）　升麻（二兩）　冶葛皮（二兩）　麻黃（五兩，去節）　丹參（五兩）　巴豆（二升，去皮心）　桂心（二兩）　附子（十二枚）　皂莢（二兩，去皮子）</p>
<p>上十四味以豬脂六升，春夏共用，調合在後方消停。</p>
<p><u>又方</u></p>
<p>丹砂（三兩）　芎藭（三兩）　大黃（二兩）　蜀椒（去目出汗，二兩）　白芷（二兩）　麝香（六兩）　術（二兩）　附子（十二枚）　乾薑（五分）　冶葛（二兩）　丹參（六兩）　細辛（二兩）　巴豆（三升，去皮心）</p>
<p>上十三味秋冬共用，亦在年中有所宜，以意消息，藥各搗羅之，巴豆細切，以苦酒漬一夜，量足不須覆之，明旦以豬脂成六升，鐺中微火煎三上下，膏成，勿使旁人及雞犬貓見其膏。同治共敘此方，須是細意事持。</p>
<p><u>又方</u></p>
<p>丹砂（二兩，末）　蜀椒（去目閉口汗）　大黃　白芷　甘草（炙，以上各二兩）　巴豆（三升，去皮心）　麝香　芎藭（各二兩）　附子（二枚）　升麻（二兩）　冶葛皮　犀角　當歸　烏頭（各二兩）　丹參（一斤）</p>
<p>上十五味切，以苦酒漬之一夜，以豬脂六升微火煎三上下，膏成，絞去滓用之。此膏是四時常用，日三，此方無比。</p>
<p>丹砂膏敘治百病，傷寒，溫毒，熱疾，服如棗核大一枚，鼻塞取半核大納鼻中，縮氣，令人聰里。若耳聾，取如兩棗核大，烊之如水，納其耳中，三五年聾可瘥。或寒癖腹滿堅脹，及飛屍惡毒楚痛，溫酒服。霍亂當成，未成已吐未痢，白湯服棗核大。若已痢，一兩行而腹煩痛，更服之。眼中風膜，膜或痛，常下淚，取如粟大，注眼中，自當下止，或半自痛，便愈。</p>
<p>又胸背喉頸痛摩足，口中亦稍稍令常聞有膏氣，人體自有不同者，易為藥當服，取利為度。老小增減。服膏之法，得利，若不利，如人行十五里，可與熱飲，發當預作白薄粥，令冷。若過利，要止者，多進冷粥便住。若能忍待藥勢儘自止更佳。</p>
<p><u>赤膏</u></p>
<p>治百病方（治病同丹砂膏用之）。</p>
<p>冶葛皮（一兩）　白芷（一兩）　蜀椒（二升，去目閉口汗）　大黃　芎藭　巴豆（三升，去皮心）　附子（十二枚）　丹參（一斤）　豬脂（六升）</p>
<p>上九味㕮咀，以苦酒漬一宿，合微火煎三上下，白芷黃即膏成，絞去滓，用傷寒鼽鼻，溫酒服如棗核大一枚。</p>
<p>賊風癰疽，腫，身體惡氣，久溫痹，骨節疼痛，向火摩之。瘑疥諸惡瘡，以帛縛之。鼠瘻疽痔，下血，身體隱軫癢搔成瘡，汁出，馬鞍牛領，以藥敷之即愈。腰背手足流腫，拘急，屈伸不快，以膏敷之，日三。婦人產乳中風，及難產，服如棗核大，並以膏如摩腹，立生。如食魚哽，日五服愈。如耳聾，以膏如小豆大著耳中。患息肉，以膏納鼻中愈。眼齒痛，以膏如粢注背中。白蘆醫當童子視，以膏如粟注眥愈。</p>
<p><u>治熛疽，丹妙膏方</u></p>
<p>丹砂（末）　犀角　夜干　大黃　芎藭　麝香（末）　黃芩（各二兩）　生地黃（十兩，切）　升麻　前胡　沉香（各三兩）　青木香（一兩）</p>
<p>上十二味㕮咀，以苦酒漬淹一宿，以豬脂五升，微火煎三上下，絞去滓，納丹參、麝香末攪調，稍稍服之。</p>
<p><u>治疽麝香膏方</u></p>
<p>麝香末　凝水石　黃芩　丹砂末　芎藭　雞舌香　青木香（各二兩）　菵草（三兩）　升麻（三升）　羚羊角　夜干　大黃　羊脂（各三兩）　地黃汁（一升）</p>
<p>上十四味切，以苦酒漬一夜，用豬脂六升微火上煎三上下，絞去滓，納麝香、丹砂末攪令調成，以摩病上甚良。</p>
<p><u>治疔腫，生芎藭膏方</u></p>
<p>生芎藭汁（一升）　丹砂（二兩）　生地黃（二斤）　白芷（三兩）　大黃（三兩）　麝香末（三兩）　甘草（三兩炙）　當歸（二兩）　升麻（二兩）　薤白（八兩）</p>
<p>上十味㕮咀，以苦酒漬一夜，豬脂五升，微火煎三上下，膏成摩於腫上。</p>
<p><u>治熛疽始發未曾治，宜速服丹砂膏方</u></p>
<p>丹砂末　犀角（二兩）　夜干（三兩）　生地黃（十兩）　大黃（三兩）　升麻（三兩）　芎藭（三兩）　麝香（二兩）　前胡（三兩）　沉香（二兩）　黃芩（三兩）　青木香（一兩）</p>
<p>上十二味㕮咀，以豬脂五升，微火煎三上下止，絞去滓，入麝香、丹砂末攪令調，溫酒服如棗核大，日三服。</p>
<p>治風溫瘑疽諸惡瘡，經年不瘥，其著胸臆，背日大不可視之，恐見肺，肺髓者，皆主之，敷當火，須以意用之。</p>
<p><u>丹砂膏方</u></p>
<p>丹砂　雄黃末　附子　天雄　乾地黃　大黃　當歸　秦膠（各二兩）　烏頭　桂心　黃連　松脂　茴芊（各四兩）　蜀椒（一升，去目汗）　乾薑（二兩）　巴豆（一百枚，去皮心）　蜈蚣（四枚，去頭足赤者）　石南草（二兩）</p>
<p>上十八味㕮咀，十六味以苦酒一斗漬一夜，以豬脂六升微火煎三上下，藥色膏成，絞去滓，納二石末，攪令調敷瘡，有口亦可兌瘡口。此脂多治合即隨多少，苦酒不必盡一斗，以意量用之。</p>
<p><u>治瘑疥癬諸惡瘡，丹砂膏方</u></p>
<p>蜀椒（三升，去目汗）　丹砂　細辛　桂心（各二兩）　附子（三十枚）　前胡　白芷（各切一升）　芎藭（切）　白朮　吳茱萸（各一升）　當歸（一兩）</p>
<p>上十一味㕮咀，諸藥唯椒、茱萸不搗，以苦酒漬一夜，合淹，以豬脂不中水者十斤，細切，合諸藥於銅器內，煎三上下，白芷黃成膏，以綿布絞去滓。如患風溫腫不消，服如彈元大一枚。</p>
<p>若鼻塞不通，以膏著鼻中。若青盲風目，爛眥癢痛，茫茫不見細物，以綿絮裹箸頭注膏中，以敷兩眥，至臥時再敷之。齒痛亦如，耳聾亦准之。諸惡痛皆治之。金瘡牛領馬鞍瘡亦敷之。治下赤腹中有癰，並癰疾在外，即摩之，在內即服之，如彈元大一枚，日三服。此膏無所不治。</p>
<p><u>治小兒頭瘡並惡，紫草膏方</u></p>
<p>紫草（三兩）　黃連　女青　白芷（各一兩）　礬石（三兩，燒令汗出）　苦酒（五合）　生地　榆根（一兩）</p>
<p>上七味納三味礬石、紫草、黃連為末，入諸藥煎，白芷黃，膏成敷瘡上。</p>
<p><u>治小兒熱瘡，水銀膏方</u></p>
<p>水銀（二兩）　胡粉（二分）　松脂（二兩）　豬肝（四升）</p>
<p>上四味煎松脂、水銀氣出，下三物攪令不見銀，放冷，以敷瘡上。</p>
<p><u>治火瘡，柏皮膏</u></p>
<p>右皮去黑皮用白肉，以豬脂少多煎去滓，候凝隨實使之。</p>
<p><u>治熛疽浸淫廣大，赤黑爛壞成瘡，羊髓膏方</u></p>
<p>羊髓（二兩）　大黃（二兩）　甘草（一兩）　胡粉（二分）</p>
<p>上四味㕮咀，以豬脂二升半，並胡粉微火煎三上下，絞去滓，候冷敷瘡上，日四五。</p>
<p><u>治熱毒並結及腫成瘡，升麻膏方</u></p>
<p>升麻（三兩）　白朮（一兩）　牡蠣（三分）　白芨（二兩）　白蘞（二兩）　菵草（二分）　夜干（二兩）　大黃（二兩）　黃連（二兩）</p>
<p>上九味㕮咀，以豬脂三升微火煎，膏成絞去滓以敷瘡上，日四五。</p>
<p><u>治熱瘡，生地黃膏方</u></p>
<p>生地黃　白蘞　白芷　黃連　升麻　黃芩　大黃（以上各十兩）</p>
<p>上七味㕮咀，以豬脂一升半，微火煎成膏，絞去滓，敷瘡，日四五。</p>
<p><u>治惡瘡皆爛，雄黃膏方</u></p>
<p>雄黃　礬石（末）　藜蘆　當歸　黃連　附子（各二兩）　菵草　芎藭　白芨（各一兩）　巴豆（六十枚，去皮心）</p>
<p>上十味㕮咀，以豬脂二升，微火煎成，絞去滓，納石末攪調，敷瘡，日四五。</p>
<p><u>治瘑疽瘻，水銀膏方</u></p>
<p>水銀（二兩半）　胡粉（二兩）　松脂（二兩）　豬脂（四升）</p>
<p>上四味先煎松脂，水氣盡下胡粉，攪令水銀盡不見，可敷瘡，日三。亦治小兒疳熱瘡，頭瘡。</p>
<p><u>治痱瘰癧瘡，白蘞膏方</u></p>
<p>白蘞（三兩）　白芷（三兩）　芎藭　大黃　黃連（各二兩）　當歸（二兩）　黃柏（二兩）　豉（八分，炒）　羊脂（三兩）　豬脂（二升）</p>
<p>上十味㕮咀，以二脂合煎，納諸藥，微火煎膏成，去滓，候凝敷之。</p>
<p><u>治皮膚中熱痱瘰癧，白蘞膏方</u></p>
<p>白蘞　黃連（各一兩）　生胡粉（一兩）</p>
<p>上三味搗篩，溶脂調和敷之。</p>
<p><u>治熱瘡，生地黃膏方</u></p>
<p>生地黃（四兩）　黃連（四兩）　大黃（三兩）　黃柏　甘草（炙）　白蘞　升麻（各二兩）</p>
<p>上七味㕮咀，以豬脂二升半，微火合煎膏成，絞去滓，候凝可敷之。</p>
<p><u>治熱瘡生地黃膏方</u></p>
<p>生地黃（四兩）　黃連（五兩）　白蘞　芍藥　白芨（各二兩）　苦參　升麻（各三兩）</p>
<p>上七味㕮咀，以豬脂二升半納諸藥同熬，膏成去滓，候凝敷之。</p>
<p><u>治溫熱諸瘡，黃連膏方</u></p>
<p>黃連　白蘞　白芷（各二兩）　生胡粉（一兩）</p>
<p>上四味細篩，用豬脂調塗之。</p>
<p><u>治熱瘡，蛇床子膏方</u></p>
<p>蛇床子　乾地黃（二兩）　苦參（一兩）　大黃　通草（二分）　白芷　黃連　狼牙（二分）</p>
<p>上八味搗篩為細末，用豬脂以意調和塗之。</p>
<p><u>治熱瘡，木蘭膏方</u></p>
<p>木蘭（一兩）　白芷　黃連（各三兩）　黃柏（二兩）　芍藥（一兩）　梔子（二十一枚）　黃芩（二兩）　狼牙（二兩）　夜干（一兩）　蛇床子（一兩）</p>
<p>上十味㕮咀，以豬脂二升合諸藥微火煎，膏成去滓。</p>
<p><u>治熱瘡，黃連膏方</u></p>
<p>黃連　生胡粉（各三兩）　白蘞（二兩）　大黃（二兩）　黃柏（二兩）</p>
<p>上五味為末，用豬脂以意調和塗之。</p>
<p><u>治灸瘡，甘草膏方</u></p>
<p>甘草（一兩）　當歸（一兩）　胡粉　羊脂（一兩半）　豬脂（三兩）</p>
<p>上五味㕮咀，以豬羊脂並諸藥微火煎，成膏，絞去滓，候凝敷之。</p>
<p><u>治諸癰破後大膿血極虛，黃耆膏方</u></p>
<p>黃耆　附子　白芷　甘草　防風　大黃　當歸　續斷　芍藥（各一兩）　蓯蓉（一分）　生地黃（五分）　細辛（三分）</p>
<p>上十二味切，以豬脂三升，納諸藥微火慢煎，候白芷黃色膏成，絞去滓，候凝塗瘡摩四邊口中，日四過。</p>
<p><u>治癰疽已潰，白芷摩膏方</u></p>
<p>白芷（三分）　甘草（三分）　烏頭（三分）　薤白（十五枚）　青竹皮</p>
<p>上五味以豬脂一升合煎，候白芷黃膏成，絞去滓，塗四邊。</p>
<p><u>治諸疽瘡膏方</u></p>
<p>蠟（一兩）　亂髮　礬石（熬，各一兩）　松脂（一兩，揀）　豬脂（四兩）</p>
<p>上五味先下脂煎，令消，下發，發消下礬石礬消下松脂，松脂消下蠟，蠟消膏成。濾過，候凝塗敷之。</p>
<p><u>治鼻中塞，利鼻白芷膏方</u></p>
<p>白芷　通草　蕤核（各一分）　薰草（二株）　羊髓（八銖）　當歸（一分）</p>
<p>上六味以清酒煉羊髓三過，㕮咀，諸藥煎膏成，絞去滓，用小豆大，納鼻中，日三。</p>
<p><u>治竹木所刺，入手足，壯不出膿，疼痛，羊屎膏方</u></p>
<p>上取干羊屎搗篩，用豬脂和以塗之，瘡口立出。</p>
<p><u>治湯淚入㹞爛壞，術膏方</u></p>
<p>術（二兩）　附子（二枚，大者，炮）　甘草（一兩）　羊脂（五兩）　松脂　雞子（大，一塊）　豬脂（五兩，不入水者）</p>
<p>上六味微火上煎豬脂後，納羊脂並諸藥，又煎膏成，絞去滓，候凝，塗瘡上日三。</p>
<p><u>又方</u></p>
<p>柏樹皮（四兩，去黑處）　甘草（三兩，細切）　淡竹葉（二兩，切）</p>
<p>上三味以不中水豬膽一升二合，入藥煎膏成，絞去滓，塗瘡上，日三。</p>
<p><u>又方</u></p>
<p>麻子（一合，取仁）　柏皮（一兩，取白）　白芷（一兩）　生柳皮（一兩，去白）</p>
<p>上四味㕮咀，以脂一升同煎膏成，濾去滓，候凝敷瘡，日三。</p>
<p><u>治㹞疽疥癬及惡瘡，蘆茹膏方</u></p>
<p>蘆茹（三兩，漆頭者）　雄黃　雌黃末（各一兩）　丹砂（一兩，研）　亂髮（半兩，洗）</p>
<p>上五味搗篩，令調，煎以先用豬脂二升半，煎發，取盡，納諸藥微火更煎，候膏成，不令他人雞貓犬見，日上三四。</p>
<p><u>治婦人妒乳生瘡，雄黃膏方</u></p>
<p>雄黃　白蘞　雄黃　漆頭蘆茹（各一兩）　亂髮（一團，如雞子大）</p>
<p>上五味各研搗篩，以不中水豬脂二升，先煎亂髮令盡，下諸藥，再微火煎，候膏成，放凝，塗瘡上，日三四。</p>
<p><u>治諸惡瘡，麝香膏方</u></p>
<p>麝香　冷石　雄黃　丹砂（各五分）</p>
<p>上四味各細研如粉，以臘月豬脂量其多少調和，如塗敷瘡時，先用大黃湯放溫，洗了淹干，然後塗膏。</p>
<p><u>治頭瘡惡瘡骨疽等，牛屎熏方</u></p>
<p>取苦瓠截除底斷其鼻，取牛屎者地上燒，以無底瓠籠屎上，引煙從瓠空出，以瘡著煙上熏之自然止，過三度即除。</p>
<p><u>六物滅瘢膏方</u></p>
<p>衣中白魚　雞屎　白鷹糞　白芍藥　白蘞　白蜂</p>
<p>上藥研如粉，以乳汁和塗瘢上，日三，良。</p>
<p><u>《小品》滅瘢方</u></p>
<p>雞矢白（一兩）　辛夷仁（四分）　白附子（二分）　細辛（二分）</p>
<p>上四味酒浸一宿，以羊脂六合微火煎三上三下、去滓。傷瘢以甘草湯洗訖塗之。一方又有桂心一分。</p>
<p><u>又方</u></p>
<p>鷹屎白（一兩，研）</p>
<p>白蜜和塗瘢上，日三。</p>
