<header data-type="book">
<h1>傷寒論陽明病釋</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陸懋修</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1884">公元1884年</data></dd></div>
<div><dt>品質</dt><dd>70%</dd></div>
<div><dt>底本</dt><dd>*《陸懋修醫學全書》，中國中醫藥出版社1999年據清光緒十年（1884）《世補齋醫書》校刊，ISBN：7801560124。</dd></div>
</dl>
</header>

<h1>《傷寒論》陽明病釋小引</h1>
<p>余釋傷寒病獨取陽明。或問余曰：傷寒六經並重，而子獨以陽明為言，何也？余曰：正以今日之病家，獨不聞陽明之治法，以致治之有法者直至於無法可治，故不得不獨言陽明，使人知仲景治陽明之法固至今存也。凡傷寒有五，而傳入陽明遂成溫病。其生其死，不過浹辰之間。即日用對病真方，尚恐無及，而可藥不中病，溷此中焦危急之候乎？惟病家不知病在陽明，一日而病不減即是加。有加而無減，即不生。乃僅視同他病，亦可緩緩延之，而病即有不及待者。所願病家之於陽明，知其治獨急於中焦，而生之亦無難也。余之從事於醫者三十年，每出𤻲一病，歸必紀之於冊，以自鏡其所學。而於陽明尤加謹焉，所用皆仲景方。即不盡然，而終不外仲景法。以冊稽之，會無一不治之陽明者。外可問世，內可問心，始敢為此《陽明病釋》而告於人，曰陽明無死證。凡勘病必先能治傷寒，凡勘傷寒病必先能治陽明。苟陽明之能治，豈不可推以治六經哉。</p>
<p class="行尾對齊 行尾縮進2字"><b>江左下工自記</b></p>

<h1>卷一·《傷寒論》陽明病釋一</h1>
<p>陽明經病。經為六經、十二經之總稱。此則與腑對舉之經也，故曰經病。</p>
<p>陽明之為病，胃家實也。按《千金翼》於此句「胃家實」作「胃中寒」。影宋本《傷寒論》自注云：實，一作寒。</p>
<p>此仲景陽明提綱，為傷寒成溫之候也。陽明屬胃，故曰胃家。胃家者，中焦也。實者，邪也。太陽寒水之邪，至此而從陽明燥化。則邪到胃經，是為陽明經病。前人乃謂陽明以腑病提綱，何也？夫既曰六經之綱，自當皆以經言。胡獨於陽明而以腑言？蓋不知邪之所到即謂之實，而必以堅滿燥實之當下者方謂之實。故實字之不解，誤即自此而起。且陽明不見有經病，而經病之清法亦自此廢矣。</p>
<p>問曰：陽明病外證云何？答曰：身熱，汗自出，不惡寒，反惡熱也。</p>
<p>此陽明經病之始也。陽明有經腑之分，外者對里而言，腑為里則經為外。不言經而言外者，所以別於六經之經也。身熱汗出，為太陽陽明公共證。惟惡熱、不惡寒為陽明所獨。寒水之邪當惡寒，今不惡寒而惡熱，故曰反。病既反，則治亦反，應用辛涼者，不得仍用辛溫矣。身熱，表熱也。惡熱，裡熱也。其人到處而表裡皆熱也。</p>
<p>問曰：病有得之一日，不發熱而惡寒者，何也？答曰：雖得之一日，惡寒將自罷，即自汗出而惡熱也。《千金》於「發熱」上無「不」字。</p>
<p>此言惡寒惡熱為太陽陽明分際之的然者。惟其在太陽時惡寒之甚，即可知其時將有大熱而病陽明矣。</p>
<p>問曰：惡寒何故自罷？答曰：陽明居中土也，萬物所歸，無所復傳。始雖惡寒，二日自止。此為陽明病也。</p>
<p>此言惡寒罷而又惡熱，則病不從太陽解也。自罷，謂不曾解肌發表，而始之惡寒者至此自不惡寒。此可見其欲傳陽明矣。土為萬物所歸，無所復傳。治苟如法，病無不愈。此即陽明無死證之理。凡六經病，皆當以《素問·熱病論》參看。</p>
<p>傷寒二三日，陽明少陽證不見者，為不傳也。《千金》作「其二陽證不見為不傳」。</p>
<p>此言病即從太陽解，而不傳陽明，亦不傳少陽也。太陽為三陽，陽明為二陽，少陽為一陽。</p>
<p>傷寒一日，太陽受之。脈若靜者，為不傳。頗欲吐，若躁煩脈數急者，為傳也。</p>
<p>此言病不從太陽解，則必傳陽明也。脈數急，與太陽脈之浮緩、浮緊亦相反。「一日」字，不必泥，猶曰始初云爾。</p>
<p>傷寒三日，陽明脈大。</p>
<p>此言病在太陽，脈雖浮而不大。今一日惡寒，二日不惡寒，三日且惡熱，脈又浮中見大，則太陽之邪不從少陽樞轉，而陽明之病勢已定。三日，少陽經氣也。大，即數急之象。經曰：足陽明，五臟六腑之海也。其脈大血多，氣盛熱壯。</p>
<p>本太陽，初得病時發其汗，汗先出不徹，因轉屬陽明也。</p>
<p>傷寒，發熱無汗，嘔不能食，而反汗出濈濈然者，是轉屬陽明。</p>
<p>此皆中陽溜經之病。凡勘陽明證，首當察其汗。如汗出不通達及始無汗，而繼濈然者，皆非解病之汗，而為加病之汗也。濈濈，汗之微者。汗不通達，所出又微，則陽熱內燔矣。仲景於太陽陽明分際，一再言之如此。</p>
<p>陽明病，脈浮而緊者，必潮熱發作有時。但浮者，必盜汗出。</p>
<p>此言脈不緊而但浮，則邪猶向外。其陽雖盛，而衛氣行陰，則陽便得和，故目合即能有汗。名曰盜汗，非虛汗也。陽明於日晡所必發熱，如潮有信，故曰潮。此條重在末句「脈但浮」，為經病。</p>
<p>陽明病，法多汗。反無汗，其身如蟲行皮中狀，此以久虛故也。</p>
<p>此以其人素有寒飲，汗又不從元府出，而漬於肌膚，則邪不自達。如蟲在皮中行者，不能作汗，身必癢也。</p>
<p>陽明病，脈遲，汗出多，微惡寒者，表未解也。可發汗。宜桂枝湯。</p>
<p>此言病雖及胃，而尚未離太陽也。惡寒為太陽主證，表未解指惡寒一證言。就太陽指陽明為里，就陽明指太陽為表。非謂身有熱為表未解也。陽明之病，身無不熱者也。因其汗出脈遲而仍惡寒，故知為太陽未罷之桂枝證。</p>
<p>陽明病，脈浮無汗而喘，發汗則愈。宜麻黃湯。</p>
<p>太陽與陽明合病，喘而胸滿者，不可下，宜麻黃湯。</p>
<p>此亦病及胃而未離太陽者。無汗為麻黃湯主證，喘即因於無汗。若一有汗，即不喘矣。因其無汗而喘，脈必兼緊，亦必惡寒，故知為太陽未罷之麻黃證。凡病有此二證時，皆不得早用辛涼。</p>
<p>食谷欲嘔，屬陽明也。吳茱萸湯主之。得湯反劇者，屬上焦也。</p>
<p>此言茱萸湯原可治中焦胃寒之嘔。而太陽病之甚於上焦者，即防化熱，則不是胃寒，故得之反劇。</p>
<p>若脈浮遲，表熱裡寒，下利清穀者，四逆湯主之。</p>
<p>此水寒在胃，未成實熱之陽明也。邪到胃家必熱，而亦有不即熱者。未熱仍為寒水，而水之寒惟附子足以制之。陽明病中所謂虛寒虛冷，皆指寒水在胃言。水者，飲也。飲即痰也。凡病有此二證時，皆不得誤用苦寒。</p>
<p>陽明病，若能食名中風，不能食名中寒。</p>
<p>此以能食不能食為風寒之分。初病陽明時，宜有此辨別。</p>
<p>脈浮發熱，口乾鼻燥，能食者則衄。</p>
<p>此言能食為中風。風為陽邪，故口鼻乾燥，必動營而致衄。若胃中虛冷，其人不能食者，飲水則噦。時有以水潠之、灌之等法，皆所謂與水也。</p>
<p>陽明病，不能食，攻其熱必噦。所以然者，胃中虛冷故也。以其人本虛，故攻其熱必噦。《巢氏病源》於條首六字之下，再有「下之不解，其人不能食」九字。《千金》同。</p>
<p>此言不能食為中寒。冷即寒水也。陽明以有燥屎為實熱，故以無燥屎為虛冷。凡病之宜於攻者，必其病之已有實熱者也。若無實熱，即為虛冷。其人本虛者，謂本無燥屎之實，非謂其有當補之虛也，但教人以不可攻耳。此所謂噦皆是冷噦。</p>
<p>陽明病，初欲食，小便反不利，大便自調。其人骨節疼，翕翕如有熱狀，奄然發狂。濈然汗出而解者，此水不勝穀氣，與汗共並，脈緊則愈。《千金》於此條末句作「堅者即愈」。</p>
<p>此有小小戰汗意。奄，忽也。欲食則穀氣尚能與水敵，故水氣不能勝谷，而得忽然化汗。其時轉以便堅為幸，水負則土勝矣。土宜令勝，故戒妄攻。</p>
<p>陽明中風，口苦咽乾，腹滿微喘，發熱惡寒，脈浮而緊。若下之，則腹滿小便難也。</p>
<p>此亦因中風而病及胃者。脾與胃以膜相連，腹滿為太陰主證。誤下則太陰脾失轉運之權，而少陽三焦亦失決瀆之司。</p>
<p>陽明病，若中寒不能食，小便不利，手足濈然汗出，此欲作固瘕。必大便初硬後溏。所以然者，胃中冷，水穀不別故也。《千金》於「硬」字皆作「堅」。「固瘕」亦作「堅瘕」。</p>
<p>此則因中寒而病及胃者。亦以其病尚屬寒水，故水氣與穀氣不能分別，即不定為燥屎，而但作堅瘕。</p>
<p>陽明病，脈遲，食難用飽，飽則微煩頭眩者，必小便難。此欲作谷疸，雖下之，腹滿如故。所以然者，脈遲故也。</p>
<p>此言脈遲而不大不數急，知其有寒水在胃。即太陽證有未罷也。此二條亦戒妄攻。以上皆胃有寒水，或太陽陽明合病，或太陽證有未罷，皆非陽明正病也。故宜溫劑不宜寒藥。此後則皆傷寒成溫之證矣，陽明經病之實者為火，陽明經病之虛者為水，此秘余獨得之。</p>
<p>陽明病，反無汗，而小便利二三日。嘔而咳，手足厥者，必苦頭痛。若不嘔不咳，手足不厥者，頭不痛。</p>
<p>陽明病，但頭眩，不惡寒，故能食而咳，其人必咽痛。若不咳者，咽不痛。此二條《千金》於條首「陽明」上皆特出「冬」字，疑上條之「反無汗」、下條之「不惡寒」既屬陽明，應即謂冬溫病也。</p>
<p>此言頭中之病皆水氣上逆而不降也。水得熱助則上下行，而寒飲即化痰熱。二、三日前水氣向下，則小便利。二、三日後水氣向上，則嘔而咳。其咽之痛即因於咳，故不咳則不痛。其頭之痛即因於熱，故不厥則不痛。厥，謂手足冷厥，則熱不外達。不惡寒而反無汗，則熱不外越。此時裡熱已甚漸，有成溫之勢矣。</p>
<p>太陽病，發熱而渴不惡寒者，為溫病。若發汗已，身灼熱者，名曰風溫。風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，鼻息必鼾，語言難出。若被下者，小便不利，直視失溲。若被火者，微發黃色。劇則如驚駭，時瘈瘲。若火熏之，一逆尚引日，再逆促命期。時有以火劫發汗、燒針令其汗等法，皆所謂「被火」也。今之用滋陰藥，誤者與水同。用辛熱藥，誤者與火同。</p>
<p>此言風溫病為辛溫藥所誤，故特以渴不惡寒另為溫病提綱。病在太陽不渴，病在太陽必惡寒，故「渴不惡寒」四字定是陽明主證。而下文之昏沉譫妄，亦一一皆顯陽明經證也。仲景於溫病一條如是之詳，且盡而謂仲景不知春夏可乎？汗、下、火皆誤，所少者清法耳。仲景所以不出方者，以清法輕重不一，非可泥定一方故也。凡人因風病熱，即是風溫。因濕病熱，即是濕溫。以證言也。冬月病熱，即曰冬溫。春月病熱，即曰春溫。以時言也。春為風，風溫在春為多。而原其始，無不本於傷寒。故《傷寒論》中自有溫熱濕溫病也。</p>
<p>太陽病，桂枝證，醫反下之，利遂不止。脈促者，表未解也。喘而汗出者，葛根黃芩黃連湯主之。</p>
<p>此言本太陽病之宜於辛溫者，一經誤下，則邪陷陽明之裡。而又脈促，喘，汗，則尚有陽明之表。必以此湯兩和其表裡也。邪陷是實不是虛，所謂實者，即邪熱也。故即當以辛涼解之。此湯乃仲景治溫病之辛涼輕劑，可取以作陽明主方。</p>
<p>太陽與陽明合病，必自下利，葛根湯主之。</p>
<p>太陽與陽明合病，不下利但嘔者，葛根加半夏湯主之。《千金》於此二條自注：用葛根湯。一云葛根黃芩黃連湯。</p>
<p>此不言合病為何證，而但以下利言之，則病偏於陽明矣。</p>
<p>陽明病，脈浮而緊，咽燥口苦，腹滿而喘，發熱汗出，不惡寒反惡熱，身重。若發汗則躁，心憒憒，反譫語。加溫針必怵惕，煩躁，不得眠。若下之，則胃中空虛，客氣動膈，心中懊憹。舌上苔者，梔子豉湯主之。時汗法以附子、烏頭，下法以巴豆、小丸子，再有燒針、火劫等法，實皆非法也。故以此救之。</p>
<p>此言其人陽明證具，即當用清以去其熱，而當時治法所少者獨在清耳。仲景出，而有清法，於是陽明無死證。故芩、連、膏、知、梔子、黃柏，皆為經病所不可少。「心中懊憹」者三句，語意當在「汗」、「下」、「溫針」之上。</p>
<p>陽明病，下之，其外有熱，手足溫，不結胸，心中懊憹，飢不能食，但頭汗出者，梔子豉湯主之。</p>
<p>此申說懊憹一證，以見熱之不獨在外也。懊憹，即譫語之漸。飢不能食，即躁煩之徵。</p>
<p>三陽合病，腹滿身重，難以轉側，口不仁而面垢，譫語遺尿。發汗則譫語甚，下之則額上生汗，手足厥冷，白虎湯主之。《巢氏病源》「讝」俱作「諴」。《千金方》「讝語」俱作「譫語」。</p>
<p>此仲景特出「譫語」兩字，舉陽明之重證言也。病至此，陽盛而陰必虛矣。白虎之治，所以防陰之將虛，惟用清法可使液自不減。蓋欲陰之不虛，必撤其陽實。不用白虎，則實之不去，虛即難保，可懼哉！白虎湯主之，語意在「汗」、「下」之上。</p>
<p>三陽合病，脈浮大上關上，但欲眠睡，目合則汗。</p>
<p>此言關上為少陽部分，其脈弦大可知。</p>
<p>若渴欲飲水，口乾舌燥者，白虎湯主之。</p>
<p>此又以「渴欲飲水」為溫病的據，且必於口舌驗之。</p>
<p>傷寒，脈浮滑，此表有熱、里有寒，白虎湯主之。</p>
<p>此言「表有熱」為外熱，「里有寒」即裡熱也。表之寒已化為熱，而里之水仍得云寒，故寒即是熱。於何知之？於浮滑脈之見於氣口者知之也。滑者，痰熱之脈也。就表指胃為里。</p>
<p>傷寒，脈滑而厥者，里有熱也。白虎湯主之。</p>
<p>此為熱厥而非寒厥。陽盛於內，格陰於外也。於何知之？即於既厥而脈仍滑者知之也。「里有熱」、「里有寒」皆主白虎，可知言寒之即言熱矣。此厥陰之危證。里亦指胃言。</p>
<p>傷寒，脈浮，發熱無汗，其表不解者，不可與白虎湯。渴欲飲水，無表證，白虎湯主之。《千金》人參白虎湯即系此條下。</p>
<p>此白虎湯禁也。仲景每用一方，必言一方之禁者，欲得一方之利，必絕一方之弊。六經皆然。「表不解」義見前。</p>
<p>傷寒，無大熱，口燥渴，心煩，背微惡寒者，白虎加人參湯主之。</p>
<p>此言肌表無大熱背且微惡寒，則熱全入里，而外幾不見有熱矣。裡熱之甚者，其表熱必轉微，而口燥心煩則甚。</p>
<p>服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯主之。</p>
<p>服柴胡湯已，渴者屬陽明也。以法治之。</p>
<p>此言發表之後，大煩大渴，脈又洪大，則陰之被劫甚矣，故非用白虎清之不可也。「以法治之」者，亦不外乎清耳。</p>
<p>傷寒若吐若下後，七八日不解，熱結在裡，表裡俱熱。時時惡風，大渴，舌上乾燥，而煩欲飲水數升者，白虎加人參湯主之。</p>
<p>此又因吐、下之誤，而陰之被劫者益甚也。此時舍白虎之清，無救陰之法。使其早用白虎，亦何嘗必見此危證耶？煩渴是白虎證確據，熱極則生風，此之惡風直欲引動內風，而將見痙厥矣。</p>
<p>若脈浮發熱，渴欲飲水，小便不利者，豬苓湯主之。</p>
<p>此與五苓散同法，皆以飲水多而為水逆者用之也。五苓於利水中兼發表，此湯於利水中兼顧陰，然必溲少者乃可用。</p>
<p>陽明病，汗出多而渴者，不可與豬苓湯。以汗多胃中燥，豬苓湯複利其小便故也。</p>
<p>此言陽明主津液，所生病水從汗出，即不可再由溲去，故如豬苓之利水即宜慎之。</p>
<p>陽明中風，不得汗，其人嗜臥，一身及面目悉黃，小便難。</p>
<p>陽明病，無汗，小便不利，心中懊憹者，身必發黃。</p>
<p>陽明病，被火，額上微汗出，小便不利者，身必發黃。</p>
<p>傷寒，瘀熱在裡，身必發黃。麻黃連軺赤小豆湯主之。連軺是連翹根。</p>
<p>傷寒，身黃髮熱者，梔子柏皮湯主之。柏皮，謂黃柏連皮用。</p>
<p>此以上皆言發黃者，必無汗。若有汗，即不能發黃。亦猶有汗之即不喘耳。無汗而喘，必發其汗。無汗而黃，必去其熱，一理也。小便之有無，亦同若黃、汗，則別為一證。</p>
<p>傷寒，發汗已，身目為黃。所以然者，以寒濕在裡故也。以為不可下也，於寒濕中求之。</p>
<p>此言黃有陰陽之別。凡陽黃色鮮明，陰黃色淤晦。若是寒濕，即為陰黃。此仲景教人辨證之法。</p>
<p>陽明病，口燥，但欲嗽水不欲咽者，此必衄。</p>
<p>此言熱甚致衄，而病亦有可解之機也。血之與汗，異名同類，不得汗而得衄。鬱熱一清，病亦可解。仲景所以有「衄乃解」之訓也。凡病之有斑疹者，未始不因不衄之故。</p>
<p>陽明病，欲解時，從申至戌上。</p>
<p>此以申酉即日晡所，是為陽明王時，病氣得經氣之助乃解，然此惟經病能之。若一入腑，則當其王時正狂譫益甚時矣。所以治陽明者，必使在經得解，不至入腑，乃為上手。若果於此，去病不見此後危證，願病家勿但謂其能愈小病而忽之。</p>

<h1>卷二·《傷寒論》陽明病釋二</h1>
<p>陽明腑病。六腑皆稱為腑。三陽各自有腑，而胃為六腑總司，又獨得以腑稱也，故曰腑病。</p>
<p>問曰：病有太陽陽明，有正陽陽明，有少陽陽明，何謂也？答曰：太陽陽明者，脾約是也。正陽陽明者，胃家實是也。少陽陽明者，發汗利小便已，胃中燥煩實，大便難是也。《千金》「少陽」作「微陽」。</p>
<p>此言其人未病時，因津液之素虧而陽王者，為巨陽。因病中發汗、利小便虧其津液而致陽王者，為微陽。若其津液既非素虧，又非誤治所虧，而病邪入胃以致胃燥者，為正陽。故所謂太陽者，巨陽也。所謂少陽者，微陽也。非三陽經之太陽少陽也。</p>
<p>問曰：何緣得陽明病？答曰：太陽病，發汗，若下，若利小便，此亡津液。胃中乾燥，因轉屬陽明。不更衣、內實、大便難者，此名陽明也。</p>
<p>此言病自太陽經傳來，而有此巨陽、正陽、微陽之三種也。其不更衣者，即巨陽陽明之脾約者是。其內實者，即正陽陽明之胃家實者是。其大便難者，即微陽陽明之大便難者是。知三者之皆自太陽來，則知太陽之非曰太陽經。即《千金》之所以不曰少陽經者，亦可明矣。</p>
<p>太陽病，寸緩關浮尺弱，其人發熱汗出，復惡寒，不嘔，但心下痞者，此以醫下之故也。如其不下，病人不惡寒而渴者，此轉屬陽明也。小便數者，大便必硬，不更衣十日無所苦也。</p>
<p>此言本太陽病，脈證皆屬桂枝。一誤下，而惡寒不渴者，即一變而為渴不惡寒矣。不下，謂下之而無所下，即是素來之脾約，雖不更衣，非承氣證。故即至十日亦無所苦。</p>
<p>病人煩熱，汗出則解，又如瘧狀，日晡所發熱者，屬陽明也。</p>
<p>此言汗出後病已解，而又往來寒熱如瘧狀，發於日晡所者，則是陽明王時，故知其已屬陽明矣。如瘧，本太陽病，柴胡亦太陽方。</p>
<p>趺陽脈浮而澀，浮則胃氣強，澀則小便數，浮澀相搏，大便則硬，其脾為約，麻仁丸主之。</p>
<p>此言脾不為胃行津液，故大便堅而脈亦為之澀也。溲數則腸本燥，而為巨陽陽明也，趺陽為胃脈，在足跗上動脈應手處。</p>
<p>陽明病，發潮熱，大便溏，小便自可，胸脅滿不去者，小柴胡湯主之。</p>
<p>陽明病，脅下硬滿，不大便而嘔，舌上白苔者，可與小柴胡湯。上焦得通，津液得下，胃氣因和，身濈然而汗出解也。</p>
<p>此其病亦當有如瘧狀，而為微陽陽明也。苔白則病微，大便或溏或否則病亦微。且不溏而嘔，則其病在上不在下，故但須和解，即得汗愈。</p>
<p>陽明病，本自汗出，醫更重發汗。病已瘥，尚微煩不了了者，此大便必硬故也。以亡津液，胃中乾燥，故令大便硬。當問其小便日幾行，若本小便日三四行，今日再行，故知大便不久出。今為小便數如字少，以津液當還入胃中，故知不久必大便也。</p>
<p>此言欲用下法時，設有一不必下之證，即不必輕言下也。</p>
<p>脈陽微而汗出少者，為自和也。汗出多者為太過。陽脈實，因發其汗出多者，亦為太過。太過為陽絕於里，亡津液，大便因硬也。</p>
<p>脈浮而芤，浮為陽，芤為陰，浮芤相搏，胃氣生熱，其陽則絕。</p>
<p>此皆言陽之盛者，甚而欲絕也。明乎大便之硬總由津液之傷，而津液之傷總由陽盛之故。則欲保津液者，不當使陽不盛乎？脈陽微即陽未盛，為微陽，故得自和，非陽虛之謂。至芤脈之如蔥，所謂中央空兩邊實者，謂浮按其表一邊沉，按其里一邊兩邊俱實，正謂表裡俱實，意亦不重在中空也。不然何以脈芤而陽盛如此耶？</p>
<p>病人不大便五六日，繞臍痛，煩躁發作有時者，此有燥屎，故使不大便也。</p>
<p>此仲景特出「燥屎」二字，令千萬世有治法也。五六日不大便，而痛繞臍，煩且躁，即不是十日無所苦之不大便矣。病家於此，須知燥屎為胃腑主證。凡潮熱譫語一步緊一步，如後逐條云云者，皆此燥屎為患，為病人可生可死之關，即當為病人求出死入生之路。病在陽明之經，雖大不大，一用芩、連、膏，知即能化大為小。病到陽明之腑，不危亦危，非用硝、黃、枳、樸，不能轉危為安。病應下，下之安，乃為穩當。勿轉認不敢下，而致危者為穩當也。</p>
<p>傷寒四五日，脈沉而喘滿。沉為在裡，而反發其汗，津液越出，大便為難，表虛里實，久則譫語。</p>
<p>此言脈沉本以裡實之故，發汗徒虛其表，而其裡實則如故也。實之既久，安得不譫語耶？譫語為燥屎確據。</p>
<p>太陽病三日，發汗不解，蒸蒸發熱者，屬胃也。調胃承氣湯主之。</p>
<p>此言裡熱，不同於表熱也。表熱之熱曰翕翕，裡熱之熱曰蒸蒸。熱蒸於內，已在汗後，非發汗所能解矣。故宜調其胃。</p>
<p>陽明病，不吐不下，心煩者，可與調胃承氣湯。傷寒吐後腹滿者，與調胃承氣湯。</p>
<p>此言心煩腹滿，皆為胃不和，故無論吐不吐，並宜調胃。</p>
<p>太陽病，若吐、若下、若發汗後，微煩，小便數，大便因硬者，與小承氣湯和之則愈。</p>
<p>陽明病，其人多汗，以津液外出胃中燥，大便必硬。硬則譫語，小承氣湯主之。若一服譫語止，更莫復服。</p>
<p>此言汗吐下多致胃燥。胃燥者多作譫語。若譫語止，則胃已得和而大便將行矣，故不必再服。</p>
<p>下利譫語者，有燥屎也。宜小承氣湯。</p>
<p>此可見下利者仍有燥屎，即仍為當下之證勿疑。</p>
<p>陽明病，譫語，有潮熱，反不能食者，胃中必有燥屎五六枚也。若能食者，但硬耳。宜大承氣湯下之。</p>
<p>此又以潮熱為燥屎確據也。五六枚，以大腸回薄間所容之地計之。只此五六枚之燥屎，已足令病即於危。則燥屎之為患豈不大哉！必求若《陽明脈解》所稱「棄衣登高，逾垣上屋，所上之處皆非其素所能也」者，而後下之，則所失已多矣。「宜大承氣」語意當在「能食」句上。</p>
<p>二陽並病，太陽證罷，但發潮熱，手足漐漐汗出，大便難而譫語者，下之則愈，宜大承氣湯。</p>
<p>此言汗在四肢而身無汗也。漐漐，汗小而又不輟之貌。是為裡熱所蒸，故仍潮熱譫語，為承氣證。</p>
<p>汗出譫語者，以有燥屎在胃中，此為風也。須下之，過經乃可下之。下之若早，語言必亂，以表虛里實故也。下之則愈，宜大承氣湯。</p>
<p>此言下必審其遲早也。早則尚在表虛時，至過經則必為裡實矣。仲景曰：若欲作再經者，針足陽明，使經不傳則愈，即謂過經則宜治胃也。病至此，陽盛矣。叔和《序例》曰：陽盛陰虛，汗之則死，下之則愈，蓋謂陽實則陰被劫，不撤其熱，則陰日虛。故此之所謂陰虛者，乃下之則愈之虛，不是不可下之之虛也。苟非苦寒勝熱，將何以瀉亢甚之陽而救垂絕之陰乎？胃風一證，病家亦久無聞矣。</p>
<p>病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥者，有燥屎也。宜大承氣湯。</p>
<p>此言大便雖有易時，而喘冒至臥不安，則胃大不和，故知其仍有燥屎也。然在病家，見有易時即不知其尚有燥屎。雖有明者，其能為病家言仍當用承氣乎？此時一誤，勢將無及。故在溫熱病中，凡協熱而利，與夫熱結旁流，且更有膠閉而不為燥屎者，皆不可不使病家知也。</p>
<p>大下後，六、七日不大便，煩不解，腹滿痛者，有燥屎也。所以然者，本有宿食故也。宜大承氣湯。</p>
<p>此言未病時本有宿食，宜先消導。乃不消導而遽下之，則宿食仍不隨利減。過六、七日，當復結，所以煩滿亦不除也。</p>
<p>陽明少陽合病，必下利。其脈不負者，順也。負者，失也。互相剋賊名為負也。脈滑而數者，有宿食也，當下之，宜大承氣湯。</p>
<p>此亦請以戰喻之意，故以勝負為言。胃氣有權，則勝少陽，負則木不剋土矣。亦猶少陰負趺陽為順，少陰負則土能制水矣。脈得滑數，即陽明不負之象，且可為宿食之徵，故不治木而治土。</p>
<p>腹滿不減，減不足言，當下之，宜大承氣湯。</p>
<p>此言已下而腹尚滿，必其下之不盡故也，當更下之勿疑。</p>
<p>傷寒若吐若下後不解，不大便五、六日，上至十餘日。日晡所發潮熱，不惡寒，獨語如見鬼狀。若劇者，發則不識人，循衣摸床，惕而不安，微喘直視。脈滑者生，澀者死。微者但發熱。譫語者，大承氣湯主之。若一服利，止後服。脈滑之「滑」字遵《醫宗金鑑》改。</p>
<p>此言下證悉具，而有危殆之勢也。不識人，如見鬼，則神明內亂矣。然一服承氣尚可得生，故此時非承氣不為功。「止後服」非僅止之，而已接方之宜用何藥，不賴有定識耶？</p>
<p>陽明病，發熱汗多者，急下之，宜大承氣湯。</p>
<p>發汗不解，腹滿痛者，急下之，宜大承氣湯。</p>
<p>傷寒六、七日，目中不了了，睛不和，無表裡證，大便難，身微熱者，此為實也。急下之，宜大承氣湯。</p>
<p>此總言陽明腑之宜下證也。有此數證，即有急不可待之勢，非於逐條所言外，另有此三條之為急也。「無表裡證」，豈真無表裡證哉？病至目睛不和，則神昏如醉，幾無一證之可以指名矣。經曰：熱病目不明，熱不已者，死危哉。</p>
<p>少陰病，二、三日不大便，口燥咽乾者，急下之。宜大承氣湯。</p>
<p>少陰病，六、七日腹脹不大便者，急下之。宜大承氣湯。</p>
<p>少陰病，自利清水色純青，心下必痛，口乾舌燥者，急下之。宜大承氣湯。</p>
<p>此皆少陰溜腑之宜下者也。燥屎為下證。而自利清水其為色青，青即黑也，亦為下證。如見有少陰病之脈微欲寐，而又口乾舌燥，則腎水有立涸之勢。病至此，下之則愈，不下則危，遲則雖下亦危，不下必危矣。下法之當急如此。</p>
<p>熱利下重者，白頭翁湯主之。下利慾飲水者，以有熱故也。白頭翁湯主之。</p>
<p>此厥陰溜腑之宜下者也。凡後重必苦裡急，亦當下之。而下其實與下其燥，下法又各不同。</p>
<p>傷寒噦而腹滿，視其前後知何部不利。利之則愈。</p>
<p>此太陰溜腑之宜下者也。腹滿不利，則噦為熱噦，而非冷噦。前指小便言，後指大便言。如其不利在後，亦宜下之。</p>
<p>傷寒，脈浮而緩，手足溫，是為系在太陰。太陰者，身當發黃。若小便自利者，不能發黃。至七、八日，大便硬，為陽明病也。傷寒轉系陽明者，其人濈然微汗出也。</p>
<p>此亦太陰溜腑之宜下者也。下之宜茵陳湯之類。經云：脈諸緩者多熱。</p>
<p>陽明病，發熱汗出，此為熱越，不能發黃也。但頭汗出，身無汗，劑頸而還，小便不利，渴引水漿者，此為淤熱在裡，身必發黃。茵陳蒿湯主之。</p>
<p>傷寒七、八日，身黃如橘子色，小便不利，腹微滿者，茵陳蒿湯主之。</p>
<p>此言發黃之為病，無論陽黃陰黃，皆不外乎茵陳。而陽黃宜大黃、山梔，陰黃即宜附子、乾薑。正不可誤。</p>
<p>傷寒六、七日，結胸熱實，脈沉而緊，心下痛，按之如石硬者，大陷胸湯主之。小結胸，正在心下，按之則痛，脈浮滑者，小陷胸湯主之。</p>
<p>此言結胸有大小之別。其大者，亦下證也。陽明之脈，在經多浮，在腑多沉，其緊亦不是寒。太陽下早，熱入而作結胸者即此證。</p>
<p>陽明病，其人喜忘者，必有畜血。所以然者，本有久瘀血，故令喜忘。屎雖硬，大便反易，其色必黑，宜抵當湯下之。</p>
<p>此言畜血者亦為下證也。太陽所云「善忘如狂，血證諦也」者，即此證。諸血，見血。畜血，不見血。畜，止也。猶止水也。</p>
<p>陽明病，下血譫語者，此為熱入血室。但頭汗出者，刺期門，隨其實而瀉之，濈然汗出則愈。</p>
<p>此即協熱而便膿血也。熱入血室，不獨是畜血一證。</p>
<p>婦人中風，發熱惡寒，經水適來，七、八日熱除而脈遲身涼，胸脅下滿如結胸狀，此為熱入血室。當刺期門。</p>
<p>婦人中風，七、八日續得寒熱發作有時，經水適斷，此為熱入血室。其血必結，故使如瘧狀發作有時，小柴胡湯主之。</p>
<p>婦人傷寒，發熱，經水適來，晝日明瞭，暮則譫語，如見鬼狀者，此為熱入血室。無犯胃氣及上二焦，必自愈。</p>
<p>此言譫語之來路有不同也。熱入血室亦能譫語，而病則不在胃家，即非承氣之證，故曰：無犯胃氣。然則《外臺》所引《小品》犀角地黃湯正是對病之方矣。仲景於熱在血室必曰：無犯胃氣，則仲景於熱在胃氣亦必曰：無犯血室可知。此余所以有犀角、膏、黃之辨也。沖為血海，心經為血室主，肝藏血亦名血室。期門穴，肝之募也。男婦皆有此證，而婦人尤易。</p>
<p>夫實則譫語，虛則鄭聲。鄭聲，重語也。直視譫語喘滿者死，下利者亦死。</p>
<p>此條以邪未實之虛，襯出邪氣盛之實，不是謂體虛之虛也。譫語，鄭聲，其為熱證，無甚分別。病至此不可謂不重矣。特未至於直視，則其為譫語也，尚不過呻吟之聲，而不至於死。故此節所重，專在「直視」一證。前人於「實」字，既云堅滿燥實可下之邪，則亦未始不以「實」字作「邪」字解矣。實既非體實之實，則虛即非體虛之虛，而亦非待補之虛可知。仲景於此，特出「鄭聲」二字，而又申之曰：鄭聲，重語也者，以見如夢如囈之鄭聲，僅為合目下垂之狀。不比妄言妄見之譫語，必有張目上竄之形。所以下文兩「死」字不接在「鄭聲」下，仍接在「譫語」下。豈不曰病不必以鄭聲死，且未必以譫語死，而惟直視者之譫語則死，譫語而又喘滿則死，直視喘滿而又為下利之譫語則亦死。此《內經》所以言：虛則可治，實則死也。喘為陽上脫，利為陰下脫。胃居中土，熱結於中，不早清之，任其劫津殆盡，致陰陽交脫於上下，直至無法可治。使能早用清法，何至於此。</p>
<p>發汗多，若重發汗者，亡其陽。譫語脈短者死，脈自和者不死。</p>
<p>此又以脈之短不短，為譫語者決死生也。亡陽，即亡津液之謂。汗而又汗，以致脈短，則津液已涸，不可治矣。若脈不短，雖至譫語尚可生也。安得不於脈未短時早為計乎？</p>
<p>得病二三日，脈弱，無太陽柴胡證，煩躁，心下硬。至四五日，雖能食，以小承氣湯少少與，微和之，令小安。至六日，與承氣湯一升。若不大便六七日，小便少者，雖不能食，但初頭硬後必溏，未定成硬，攻之必溏，須小便利，屎定硬，乃可攻之。宜大承氣湯。</p>
<p>陽明病，脈遲，雖汗出不惡寒者，其身必重。短氣腹滿而喘，有潮熱者，此外欲解，可攻裡也。手足濈然汗出者，此大便已硬也，大承氣湯主之。若汗多，微發熱惡寒者，外未解也，其熱不潮，未可與承氣湯。若腹大滿不通者，可與小承氣湯，微和胃氣，勿令大泄下。</p>
<p>陽明病，潮熱，大便微硬者，可與大承氣湯。不硬者，勿與之。若不大便六七日，恐有燥屎，欲知之句，法少與小承氣湯。湯入句，腹中轉失氣者，此有燥屎，乃可攻之。若不轉失氣者，此但初頭硬，後必溏，不可攻之，攻之必脹滿不能食也。欲飲水者，與水則噦。其後發熱者，必大便復硬而少也。以小承氣湯和之。不轉失氣者，慎不可攻也。（一本「失」皆作「矢」。）</p>
<p>陽明病，譫語發潮熱，脈滑而疾者，小承氣湯主之。因與承氣湯一升，腹中轉失氣者，更服一升。若不轉失氣者，勿更與之。明日不大便，脈微澀者，裡虛也，為難治，不可更與承氣湯。</p>
<p>此數條許多斟酌，總是教人用承氣既必於外之解否為辨，而又必以不可更服為戒。蓋既不得於燥屎之未結而遽用之，又必及其津液之未涸而即用之。若至津液已罄，真氣果虛，則承氣有不可再用者矣。余嘗謂：但有一毫惡寒，即不得施用下法。此即「外未解」之說也。又嘗謂：病到此時，並不得施用下法。此即「不可更與」之說也。</p>
<p>傷寒嘔多，雖有陽明證，不可攻之。</p>
<p>陽明病，面合赤色，不可攻之。攻之必發熱，色黃，小便不利。</p>
<p>陽明病，心下硬滿者，不可攻之。攻之利遂不止者死，利止者愈。</p>
<p>陽明病，下之，心中懊憹而煩，胃中有燥屎者，可攻。腹微滿，初頭硬後必溏，不可攻之。</p>
<p>陽明病，自汗出，若發汗，小便自利，此為津液內竭。大便雖硬，不可攻之。當須自欲大便，宜蜜煎導而通之。若土瓜根及與大豬膽汁，皆可為導。</p>
<p>此數條於可攻之外，又垂不可攻之訓。總是教人於彼一面認得清楚，則於此一面自識得堅決。此數條之所謂「不可攻」者，正謂苟其不然，則攻即不可緩耳。陽明經腑之病苟能用仲景之法，雖瀕於危尚有得生者。況治之干早，不使病大，本不定即於危耶。余故曰：陽明無死證。</p>
<p>仲景《傷寒論》見《隋書·經籍志》。隋時必有定本，惜無可考。今按成無己於原文「堅」字皆作「硬」，且於「欲作堅瘕」句改為「欲作固瘕」，於「堅者即愈」句改為「脈緊則愈」，疑皆避隋文帝諱。如曹憲之避煬帝諱，而改《廣雅》為《博雅》也。已故晉王叔和《脈經》用「堅」，而唐孫思邈《千金翼》仍作「堅」，亦若《博雅》之返為《廣雅》也。可見聊攝所據，尚是隋時原本，是可貴矣。</p>

<h1>卷三·《傷寒論》陽明病釋三</h1>
<p>余釋陽明病既竟，更發架上書，就陽明經腑之說謹匯而著於篇，以見古人有先我言之者。得力之原，不敢忘也。惜徵引不廣，尚恨所見之少爾。</p>
<p>陽明經病集釋</p>
<p>胃者，人之根本。胃氣壯，五臟六腑之氣皆壯也。足陽明是其經也。《中藏經》</p>
<p>右手關上脈陽實者，足陽明經也。《脈經》</p>
<p>胃家者，上脘至中脘兩穴處。王樸莊</p>
<p>燥氣為陽明本氣。燥氣盛於上，則胃氣實於中。故陽明燥氣之為病為胃家實。張令韶</p>
<p>胃家實，見邪到本經，遂入胃而成胃實之證。不然，陽明病其胃不實者多矣，於義安取乎？喻嘉言</p>
<p>胃家，只舉病根在胃，勿得即以為可下之證。柯韻伯</p>
<p>病之初傳陽明者，但歸經而不歸腑，不可謂舍下法無他法。魏荔彤</p>
<p>陽明之為病，由太陽傳於其經，則為陽明外證。《醫宗金鑑》</p>
<p>雖得陽明病，未可便作裡實，必審看脈色，以別內外。成無己</p>
<p>太陽以皮毛為表，陽明以肌肉為表。而陽明之表又有二：有外邪初傳之表，有內熱達外之表。柯韻伯</p>
<p>太陽主表，病情當以表辨。陽明主裡，病情雖仍在表，而即當以里辨。同上</p>
<p>太陽經病，為三陽之表。陽明經病，為三陽之裡。張介賓</p>
<p>太陽發熱，自表而入里之熱也。陽明發熱，自里而出表之熱也。魏荔彤</p>
<p>太陽中風，以汗出惡寒為正病。太陽傷寒，以無汗惡寒為正病。若傳入陽明，則以汗出惡熱為正病矣。同上</p>
<p>太陽有惡風惡寒，傳陽明則變為惡熱，此太陽陽明之大關鍵也。太陽之絡近陽明，故表初變熱即犯陽明之經。同上</p>
<p>陽明病有仍帶太陽者。若去太陽漸遠，則成陽明漸多。同上</p>
<p>身熱，汗自出，不惡寒反惡熱，則病已去太陽入陽明。吳人駒</p>
<p>凡稱陽明病者，皆身熱汗出，不惡寒而惡熱者也。王安道</p>
<p>表邪已解，故不惡寒。裡熱已甚，故反惡熱。陳修園</p>
<p>寒邪何故反為熱？又何以而能熱？蓋即本身中之火為寒所鬱而不得泄，不泄則純熱而無寒矣。趙養葵</p>
<p>余於冬月正傷寒作寒鬱，治其不惡寒者，皆作火鬱治。同上</p>
<p>惡寒自罷，汗出而熱仍不解，即轉屬陽明之候。當此之時，無論風寒暑濕，所感不同而同歸火化。呂𣗪村</p>
<p>陰陽之邪皆歸胃土，無論三陽傳來之邪從而化熱，即自三陰轉屬者亦變為熱。故曰：萬物所歸，無所復傳。程郊倩</p>
<p>中土為萬物所歸。凡表熱裡熱之邪，無所不傳，無所不化。即與燥氣混為一家。陳修園</p>
<p>熱病，煩已而汗，脈當靜。《脈經》</p>
<p>數脈，去來促急。同上</p>
<p>傷寒，一日太陽，二日陽明，三日少陽，乃傳經之次第。其實不以日拘。喻嘉言</p>
<p>傷寒二日陽明，為病陽明者胃之經也。《病源》</p>
<p>經曰：尺寸俱長者，陽明受病也，當二、三日發。陽明氣血俱多，邪並於經，是以脈大。成無己</p>
<p>三日陽明脈大，是為陽明邪實之正脈。沈明宗</p>
<p>經云：陽明之至，短而澀，此指秋金司令之時脈言也。又曰：陽明脈象大浮者，此指兩陽合明之病脈言也。戴原禮</p>
<p>三陰無再傳太陽之理，但轉屬陽明耳。故病七日以上，行其經盡，若欲作再經者，針足陽明，不預針太陽也。閔芝慶</p>
<p>陽明之氣主表面外合，太陽主裡而內生津液。張令韶</p>
<p>汗者，陽明之津液也。汗出不徹，則陽明燥熱之氣不得隨汗而泄，太陽之標熱反內合其燥氣。柯韻伯</p>
<p>陰氣外溢則得汗，陰氣內濡則便通。薜立齋</p>
<p>嘔者，火氣炎上之象也。故胃熱甚則嘔。劉守真</p>
<p>嘔因胃熱，頗欲吐而見於受寒之一日，此時嘔逆之機已伏。龐安常</p>
<p>不能食者，是胃氣實。但邪未入腑，不作鬱熱耳。汪苓友</p>
<p>緊脈，數如切繩狀。《脈經》</p>
<p>盜汗，睡而汗出也。陽明病，表熱者自汗，裡熱者盜汗。成無己</p>
<p>盜汗者，睡中汗出。睡則衛氣行里，表中陽氣不致，故津液得出。覺則氣行於表而汗止。王安道</p>
<p>雜病盜汗，責其陰虛。傷寒盜汗，由邪氣在半表裡使然也。若邪氣在表，則又謂之自汗矣。樓英</p>
<p>陽明主津液所生病。故陽明法多汗者，胃燥之因也。柯韻伯</p>
<p>蟲行皮膚中者，即太陽證言身癢是也。趙嗣真</p>
<p>久虛者，以表氣不足，津液不充於皮膚，使腠理枯澀，汗難出也。若謂虛則當補，畢竟是陽明受邪為病，未可忘也。同上</p>
<p>言久虛者，明所以不能達出肌表之故也。程郊倩</p>
<p>邪熱欲出表作汗，而正氣不能達，所以胃亦不能實。言久虛者，所以明欲其熱之達表，必令其汗之透表也。魏荔彤</p>
<p>遲脈，呼吸三至，去來極遲。《脈經》</p>
<p>陽明病桂、麻二證乃風寒初中陽明之證，而比太陽稍深。故中風之脈不浮而遲，傷寒之脈不緊而浮，以風寒之氣已入肌肉之分，則不僅為固閉而為壅鬱故也。而治法則與太陽無少異。尤在涇</p>
<p>桂、麻二方全為表邪而設。見麻黃證，即用麻黃湯。見桂枝證，即用桂枝湯。不必問其為太陽、陽明也。若惡寒一罷，則二方在所必禁矣。陳修園</p>
<p>外邪初入陽明，用桂枝湯解肌，則風邪仍從衛分出。用麻黃湯發汗，則寒邪仍從營分出。喻嘉言</p>
<p>嘔有太陽，亦有陽明。食谷欲嘔則屬胃寒，與太陽之惡寒嘔逆原為熱證者相遠，正恐誤以寒藥治寒嘔也。服茱萸湯轉劇者，仍屬太陽熱邪，而非胃寒明矣。喻嘉言</p>
<p>下利清穀者，其所利之穀食色不變、氣不臭，即完穀不化也。此為裡寒，故當與四逆湯。汪苓友</p>
<p>少陰癸水不能上合陽明戊土，而下焦生陽之氣不升，故用四逆湯以啟下焦生陽。張令韶</p>
<p>陽明以胃實為病根，當更以胃寒為深慮。柯韻伯</p>
<p>風為陽邪，陽能殺穀，故中風者能食。寒為陰邪，陰不能殺穀，故中寒者不能食。成無己</p>
<p>陽明氣血俱多，中熱甚，迫血妄行，必作衄。成無己</p>
<p>伏熱在胃，令人胸滿。胸滿則氣逆，氣逆則噦。《病源》</p>
<p>通觀經論，並無呃證。論中凡言「噦」者，俱作「呃」解。張隱菴</p>
<p>諸經既有噦而無呃，則凡經論言「噦」，俱作「呃」解無疑。高士宗</p>
<p>雜病，虛為不欲食，實為欲食。傷寒，則胃中實熱者不能食，虛熱者能食。此為異也。《病源》</p>
<p>傷寒熱毒在胃，並於心臟，使神不安、志不定，遂發狂。張兼善</p>
<p>經云：太陰所至為中滿。脾乃陰中之太陰，司濕土之化。脾濕有餘，故腹滿食不化。凡始受熱中，末傳寒中，皆由脾胃之氣不能運化精微，而制水穀聚而不散，遂成脹滿也。李明之</p>
<p>陽明病中風，陽明病若中寒，皆是本經自受風寒之證，非自太陽傳來者。尤在涇</p>
<p>陽明病若中寒之「中」字，當作平聲，言陽明中見太陰之氣化，而為寒濕也。張隱菴</p>
<p>固瘕者，寒氣結積也。胃中寒，津液不通行，大便必硬。成無己</p>
<p>固瘕，即初硬後溏者。肛門雖固結，而腸中不全乾也。柯韻伯</p>
<p>《金匱》云：穀氣不消，胃中苦濁。濁氣下流，小便不通，身體盡黃，名曰谷疸。柯韻伯</p>
<p>疸者，黃也。以其發於穀氣之熱，故名谷疸。成無己</p>
<p>邪熱客於肺，上焦有熱，其人必飲水。水停心下，則肺為之浮。肺主於咳，水氣乘之，故咳嗽。《病源》</p>
<p>須知陽明亦有手足厥者，以胃主四肢故也。然頭必苦痛，而咳自與陰寒但厥者異。林瀾</p>
<p>胃氣上通於肺，咽為胃腑之門。此時咽痛，非少陰證。程郊倩</p>
<p>冬，陽明潮熱，當行黃芩湯。朱肱</p>
<p>發熱而渴不惡寒者，陽明也。成無己</p>
<p>傷寒發汗已則身涼。若發汗已而灼熱者，為風溫。同上</p>
<p>溫風之病，脈陰陽俱浮，汗出體重，其息必鼾，其形狀不仁，嘿嘿但欲眠。《千金方》</p>
<p>凡感溫氣而病者，皆可名為溫病，不必各立名色。只要知其病原之所以不同，而辛溫、辛涼之所以異治，則生矣。龐安常</p>
<p>惟風傷衛，惟溫傷氣，惟辛涼解表為佳。許知可</p>
<p>麻黃、桂枝為即病之傷寒設，無與溫熱。趙養葵</p>
<p>溫病無陰陽之分，故病必有陽而無陰，藥必用寒而遠熱。周禹載</p>
<p>凡病傷寒而成溫者，雖由於冬時之傷寒，而根實種於其人之鬱火。柯韻伯</p>
<p>肝膽為發溫之源，陽明為成溫之藪。同上</p>
<p>溫病雖異傷寒，然熱雖甚不死。以其病即傷寒中傳之病，而溫病以之為初傳。程郊倩</p>
<p>風寒之邪始中太陽者十八九，溫病之邪直行中道而起陽明者十八九。陳素中、楊慄山同</p>
<p>傷寒自表傳裡，里證皆表證侵入於內也。溫病由里達表，表證皆里證浮越於外也。同上</p>
<p>傷寒以發表為先，溫病以清裡為主。同上</p>
<p>溫病之脈，多在肌肉之分而不甚浮，且右手反大於左手者，由怫鬱在內故也。同上</p>
<p>溫病與傷寒雖曰不同，而或清或攻後一節，治法原無大異。惟初病散表前一節，治法則有天淵之別。同上</p>
<p>溫病發在春夏，誤用辛溫解表，是為抱薪救火。惟用辛涼開其裡熱，裡熱除則表熱自解。同上</p>
<p>傷寒一發汗而外邪即解，溫病一發汗而里邪愈熾。麻、桂、青龍，用治傷寒未有不生者，用治溫病未有不死者。同上</p>
<p>仲景兩條治法：於傷寒則用溫散，於溫病則用瀉熱。同上</p>
<p>表間有邪，故身體重，是陽明之帶表者。當從胸部達之，以胸為陽明裡中之表也。王樸莊</p>
<p>太陽、少陽、少陰皆有身重，然非三經主證，故專列於陽明。沈芊綠</p>
<p>自汗出而身重，異於無汗而體痛。多眠睡，則熱勝而神昏。息鼾語言難，則氣壅而湊肺。是當以辛散風，以涼勝溫。尤在涇</p>
<p>太陽病，桂枝證，宜以桂枝解肌。而反下之，利遂不止，是誤下而協表熱陷入於裡也。《醫宗金鑑》</p>
<p>促脈，來去數，時一止復來。《脈經》</p>
<p>促為陽盛之脈，知表未解，此表乃陽明經病也。喘汗為裡熱氣逆，已見腑病。故當解陽明之表邪，清胃腑之裡熱。汪苓友</p>
<p>喘汗脈促屬熱。方中行</p>
<p>下利不止，脈促有力，喘而汗出，表雖未解而不惡寒，是熱已陷陽明，當從葛根黃芩黃連湯主治。《醫宗金鑑》</p>
<p>風邪初中，病為在表。一入於裡，則變為熱。治表必以葛根之辛，治里必以芩、連之苦。蓋其病為表裡並受之病，故其法亦表裡兩解之法。尤在涇</p>
<p>病有汗出而喘者，謂因汗而有喘，是邪熱外盛所致。若喘而汗出，謂因喘而有汗，是裡熱氣逆所致。成無己</p>
<p>誤下虛其陽，胃為熱所乘，遂利不止。此非腸胃虛證，乃胃有邪熱，下通於腸而作瀉也。汪苓友</p>
<p>太陽之邪雖已陷內，亦可乘機而施升發，即經所謂「內者外之，陷者舉之」之妙。使由外而入者，仍可由內而出。陳修園</p>
<p>《金匱》治諸嘔吐谷不下，小半夏湯、小半夏加茯苓湯、小半夏加橘皮湯皆可選用。王樸莊</p>
<p>汗出，不惡寒，反熱，身重，四者皆陽明之見證。喻嘉言</p>
<p>心中懊憹，即是陽氣內陷。成無己</p>
<p>懊憹者，鬱悶不舒之貌。黃仲理</p>
<p>凡邪氣在表，舌則無苔，及其傳裡而舌苔生。邪之未深，其苔不黑不澀。若陽邪傳裡，則其苔不滑而澀。至舌上苔黃且焦黑者，胃腑有邪熱也。甚則黑苔而生芒刺，熱更深矣。張介賓</p>
<p>頭者諸陽之會。邪搏諸陽，津液上湊，則汗見於頭。劉守真</p>
<p>身無汗則熱不得越，而上蒸陽分，故但頭汗出。張介賓</p>
<p>病仍帶表者，既不可下。病已入里者，又不可汗。故梔豉湯為表裡兼治。魏荔彤</p>
<p>陽明梔豉湯，猶太陽桂枝湯，既可驅邪，亦可救誤。吳綬</p>
<p>三陽合病，是陽明熱證在經者。以三陽統於陽明也。徐洄溪</p>
<p>三陽合病，腹滿者，陽明經病於前也。身重者，太陽經病合於後也。難以轉側者，少陽經病合於側也。陳修園</p>
<p>三陽合病，證雖屬於三陽，而熱則聚於胃，故當從陽明證治。白虎湯大清胃熱，急救津液以存其陰也。《醫宗金鑑》</p>
<p>邪氣在表發熱者，外熱里不熱也，宜溫散之。邪氣在裡發熱者，裡熱甚而達於外也，宜清之。張介賓</p>
<p>寒中之藥所以清火，何以亦能解表？蓋陽亢陰衰者，即火盛而水涸，何能作汗？譬之乾鍋赤烈，潤自何來？故必以水濟火，而用寒涼，則始能解表也。同上</p>
<p>大熱之氣，得辛涼而解。猶之暑暍之氣，得金風而爽。故清涼之劑以白虎名之。程知</p>
<p>白虎湯專治陽明內蒸之熱，非治陽明外見之熱。張路玉</p>
<p>經曰：壯火食氣。白虎湯所以瀉火，即所以生氣也。徐洄溪</p>
<p>白虎一法，乃仲景專於滋養肺胃之陰氣，以復津液。同上</p>
<p>承氣苦寒，逐熱蕩實，為熱而且實者設。白虎甘寒，逐熱生津，為熱而未實者設。尤在涇</p>
<p>有裡熱熾盛而外反惡風者，必直撤其熱，使表裡俱和，而惡風乃止。此非解表所能愈。呂𣗪村</p>
<p>白虎所治皆陽明燥證，故當揭為陽明主方。加人參者，瀉胃火而扶元陰，全不涉汗吐下三法。柯韻伯</p>
<p>白虎證，即將來之大承氣證而裡熱未實、從前之大青龍證而表寒已解者也。表寒已解，故不用麻、桂。裡熱未實，故不用硝、黃。黃坤載</p>
<p>譫妄之證，輕者睡中有言重者，不睡亦語言錯亂，且有獨語者，有其言必亂者，有語言不休者。因熱有輕重故也。寇宗奭</p>
<p>凡熱盛煩嘔，呻吟錯語，不得眠，皆當服黃連解毒湯，此直解熱毒，除酷熱。傳語諸人，用之極效。《外臺秘要》</p>
<p>凡得時氣病五、六日，渴欲飲水七、八日，大渴欲飲水，而忽然汗出者，愈也。《千金方》</p>
<p>渴欲飲水者，中焦熱也。成無己</p>
<p>渴欲飲水，邪不在上而在中，故必以白虎清胃熱滋胃陰。經所謂：熱淫於內，治之以寒者是也。尤在涇</p>
<p>胃口津液枯竭，內火如焚，每欲飲水自救。徐洄溪</p>
<p>滑脈，往來前卻流利，展轉替替然。與數相似。《脈經》</p>
<p>經文「寒」字當「邪」字解，亦熱也。故里有寒用白虎湯。王三陽</p>
<p>表有熱里有寒，謂表有標熱，里有本寒。經所謂：傷於寒，則為病熱者是也。陳修園</p>
<p>傷寒之邪本是寒，「因里有寒」，指熱之所以然者言也。周禹載</p>
<p>脈微而厥為寒厥，脈滑而厥為熱厥。柯韻伯</p>
<p>陽熱在裡，陰氣被格，陽反在內，陰反在外，其熱不除，其厥不已。故主白虎湯，以清裡而除熱。尤在涇</p>
<p>邪熱客於上焦，虛煩，與梔子湯。邪熱不客於上焦而容於中焦，乾燥煩渴，與白虎湯。邪熱客於下焦，為三焦俱熱，與豬苓湯。成無己</p>
<p>麻黃連軺一法，雖曰在裡，必因邪在表時有失解散，故雖發黃仍宜兼從汗解。林瀾</p>
<p>身熱發黃，設有無汗之表，宜用麻黃汗之。若有成實之裡，宜用茵陳蒿湯下之。今外無可汗之表，內無可下之裡，宜用梔子黃柏清之。《醫宗金鑑》</p>
<p>胃和則邪當還表而解，不解於衛，則解於營。汗出而解者，從衛解也。衄血而解者，從營解也。同上</p>
<p>六經病解各從六氣王時，可見經傳不是病傳。張隱菴</p>

<h1>卷四·《傷寒論》陽明病釋四</h1>

<h2>陽明腑病集釋</h2>
<p>正陽明腑病者，由表而傳裡，由經而入腑也。張介賓</p>
<p>太陽經病多於腑病，陽明則腑病多於經病。以經邪不能久留，而腑邪常聚而不行也。尤在涇</p>
<p>脾約輕於大便難，大便難輕於胃家實。蓋脾約便難，每因津液素虧或施治失宜所致。若胃實則其人陽氣素盛，胃有宿食，即未經汗下，而亦入胃成實也。《醫宗金鑑》</p>
<p>已經汗下者，為奪血致燥之陽明，以滋燥為主。未經汗下者，為熱盛致燥之陽明，以攻熱為急。同上</p>
<p>古人登廁必更衣。不更衣者，通為不大便。成無己</p>
<p>大便許攻，小便不許利，何也？攻大便則內熱除，利小便則津液傷。王宇泰</p>
<p>十日不更衣而不用攻伐，何也？以此非結熱，雖不大便而無潮熱譫語，當須審慎，勿以日數久而輒為攻下也。張兼善</p>
<p>轉屬陽明者，有內外之不同。太陽發汗不徹而轉屬陽明，其病在外。不因發汗，反自汗出而轉屬陽明，其病在內，則知陽明之轉屬有內外表里之異。張隱菴</p>
<p>如瘧者，發作有時，或日再發，或日二三發，邪氣微也。成無己</p>
<p>澀脈，細而遲，往來難且散，或一止復來。《脈經》</p>
<p>脾主為胃行津液者也。脾不能為胃行其津液，故約其食物如一二彈丸。程知</p>
<p>潮熱屬陽明，必於日晡時發，乃為潮熱。若日三、五發者，則是發熱，非潮熱也。劉守真</p>
<p>申酉戌間獨熱，余時不熱者為潮熱。方中行</p>
<p>舌者，心之苗，本紅而澤。傷寒三、四日，舌上有膜白滑如苔，甚者或燥、或澀、或黃、或黑，是數者熱氣淺深之謂也。成無己</p>
<p>邪在表者，舌尚無苔。熱邪傳裡，津液搏結，則舌生苔矣。同上</p>
<p>舌上白苔者，熱未入胃也。若舌生黃苔，則熱已入胃。甚則苔黑或生芒刺，是腎水克心火，此熱已極矣。張云岐</p>
<p>舌上苔黃，熱氣客於胃中。舌上苔白，熱氣客於胸中，同上</p>
<p>肺為水母而主氣。肺燥則氣之留於胃者，少輸於膀胱者多。肺氣浹於胃，則胃中津液還入於胃，而大便通矣。王樸莊</p>
<p>陽氣絕於里，則津液竭。熱結於內，故大便牢而不通。《病源》</p>
<p>陽絕於里者，胃中陽熱亢甚，脾無陰氣以和之，孤陽無偶，不至燔灼竭絕不止也。趙以德</p>
<p>表陽隔絕於里，不能外出，即太陽陽熱之氣入於地中，故陰津消亡而成便硬。張隱菴</p>
<p>陽絕，即亡津液之互辭。故仲景於亡津液悉名無陽。喻嘉言</p>
<p>芤脈，浮大而軟，按之中央空兩邊實。《脈經》</p>
<p>病人不大便五、六日，則熱邪在裡。繞臍痛者，入於胃，下近於大腸也。張隱菴</p>
<p>臍者，腹之中央，內居大腸。繞臍而痛，乃燥屎結於腸中欲出不出之狀。張令韶</p>
<p>躁者，煩之極，即臥不安之貌。陽明內實，亦令如是。不必泥定躁屬少陰也。同上</p>
<p>陽明病，若發汗則躁，並此煩躁發作有時，皆不宜汗而宜下者。呂𣗪村</p>
<p>煩者懊憹不眠，躁則揚手擲足。煩輕而躁重。黃仲理</p>
<p>燥屎者，胃中宿食。因胃熱而腸結，燥丸之屎也。魏荔彤</p>
<p>燥屎之為害滋大。同上</p>
<p>表虛里實，是外邪盡入於胃。方中行</p>
<p>表虛里實者，即表和里病之意。尤在涇</p>
<p>發汗是胃燥之因，便難是譫語之根。柯韻伯</p>
<p>蒸蒸發熱者，言熱自內騰達於外，猶炊蒸然。方中行</p>
<p>蒸蒸發熱者，熱聚於內而氣蒸於外，與太陽邪鬱於外而熱盛於表者不同。故彼宜解外，而此宜清裡。尤在涇</p>
<p>諸病皆因於氣。穢物之不去，由氣之不順也。故攻堅之劑必用氣分之藥，因以承氣名湯。柯韻伯</p>
<p>葛根芩連湯主陽明之表，三承氣湯主陽明之裡。《醫宗金鑑》</p>
<p>下法皆為救陰而設。程郊倩</p>
<p>大黃盪滌蘊熱，傷寒中要藥也。許知可</p>
<p>大煩者，邪在表也。微煩者，邪在裡也。成無己</p>
<p>胃中糟粕為邪所壅，留滯於內，其未成硬者或時得下，其已成硬者終不得出。所以有下利者，必知其仍有燥屎，而仍當下也。汪苓友</p>
<p>仲景書中有單言潮熱者，有單言譫語者。至潮熱譫語並見，是熱之極重者矣。是當另列一款，不僅與單言一款者同。沈芊綠</p>
<p>胃司納，胃滿則不能容谷。腸司輸，腸滿則不能化谷。若腸雖滿而胃尚虛，則又能食。張令韶</p>
<p>二陽並病者，太陽病氣俱已歸併於陽明，無復有惡寒頭痛之表證也。陳修園</p>
<p>四肢為諸陽之本，津液足而熱蒸之，則周身汗出。津液不足而熱蒸之，則手足濈然。成無己</p>
<p>四肢者，諸陽之本。熱聚於胃，則津液溢於手足。陶節庵</p>
<p>胃實諸證以手足汗出為可據，而觀其潮熱尤為親切，以其為陽明主時也。柯韻伯</p>
<p>表和里病，汗之則死，下之則愈。里和表病，下之則死，汗之則愈。《外臺秘要》引王叔和語。《千金》作「陽虛陰盛」、「陽盛陰虛」，意同。</p>
<p>陽明病，已離太陽八、九，而尚有一、二在，則猶當以下之太早為戒，而防結胸與痞也。沈芊綠</p>
<p>風木之邪干於中土，風燥而非熱燥，故須待風邪盡歸胃中，並於燥糞，乃可下之。張令韶</p>
<p>大便為燥所壅塞，其未堅結者或有時而並出，故乍易。其極堅結者終滯於大腸之中，故乍難。汪苓友</p>
<p>身大熱者，表熱也。身微熱者，裡熱也。成無己</p>
<p>喘冒至不能臥，則有燥屎已的。林瀾</p>
<p>被下後，六、七日不大便，其煩不解，腹滿而痛，此為胃內有干糞挾宿食故也。或先患寒癖，因有宿食，又感於寒熱，氣相搏，故宿食不消。《病源》</p>
<p>太陽少陽合病，下利半表半裡居多，故以黃芩湯和之。太陽陽明合病，下利表證居多，故以葛根湯發之。陽明少陽合病，下利里證居多，故以大承氣攻之。《醫宗金鑑》</p>
<p>凡合病皆有下利，各從外證以為分別。張兼善</p>
<p>大承氣證非惟不大便者宜之，即下利之證，亦有宜從下奪者，此通因通用之法，不可不知。呂𣗪村</p>
<p>其脈不負者，陽明土金之脈不為少陽木火所克。張隱菴</p>
<p>負者，土受木克、金被火刑也。若脈滑而數，內有宿食，則戊土有餘，少陽初生之甲木鬱於土中，不得暢達，故當下之，以平土中之敦阜，而助初生之甲木。張令韶</p>
<p>翕，奄沈名曰滑。陰陽和合，故令脈滑。今脈滑而數，則非陰陽和合之比，必胃腑實熱而有宿食也。張隱菴</p>
<p>陽明脈大，少陽脈弦。脈得大弦，是為本脈，宜黃芩湯。今脈不大不弦而滑且數，則和非木上之為害，而為宿食之熱利也。故不用黃芩湯，而用大承氣。張兼善</p>
<p>承氣治脈滑數有宿食一證，非並治上負、不負兩證也。林瀾</p>
<p>獨語如見鬼狀，便是狂。沈芊綠</p>
<p>獨語如見鬼狀，則心主之神氣虛，而病合於少陰也。少陰之神機樞轉時出時入，發則神氣昏憒而不識人。張隱菴</p>
<p>胃之支脈上絡於心，才有壅閉，即堵其神氣出入之竅，故不識人。趙以德</p>
<p>試將頸間兩人迎脈按住，氣即壅遏不識人。人迎者，胃脈也。故《金匱》云：邪入於腑，即不識人。徐忠可</p>
<p>病人循衣縫，譫言者，不可治。掣衣掇空，妄言者，死。《脈經》</p>
<p>不識人，循衣摸床，心欲絕也。動惕不安，肝欲絕也。微喘，肺欲絕也。直視，腎欲絕也。程知</p>
<p>脈滑者通，澀者塞。凡物理皆以通為生，塞為死。趙嗣真</p>
<p>微者，無以上之劇證，而但發熱譫語，則尚可救，故以大承氣湯主之。止後服者，不必盡劑。蓋用之當，則大承氣可以養陰。用之不當，則大承氣亦可亡陰也。可不慎歟？張令韶</p>
<p>汗多則津液外滲，加以發熱，則津液盡隨熱勢蒸蒸騰達於外。更無他法以止其汗，惟有急下一法，引熱從大腸出，庶津液不至盡越於外耳。喻嘉言</p>
<p>裡熱熾盛，蒸騰胃中津液盡越於外，非急奪其邪，將何以救津液於頃刻間耶？沈明宗</p>
<p>急下者，急引大熱從大腸出，庶津液不致盡劫。王樸莊</p>
<p>發汗不解，知汗已誤。腹仍滿痛，知下已急。同上</p>
<p>凡病至危，必察兩目。經云：視其目色，以知病之存亡也。同上</p>
<p>目中不了了者，乃悍熱之氣循眼系而上走空竅，是空竅不虛而熱邪上實也。張令韶、張隱菴同</p>
<p>睛不和者，腦為髓海，髓之精為瞳子，悍熱之氣入絡於腦故也。張隱菴</p>
<p>無表裡證，何故可下？以外不惡寒、內無譫語，而但七八日發熱，爍其津液，正是陽盛陰虛之時。苟不攻之，其熱不已，而變生焉。張元素</p>
<p>三急下證，乃悍熱之氣，而非僅腸胃之燥實。後人謂痞、滿、燥、實、堅悉具然後可下，嗟嗟，當急下者，病在氣分，譬如救火，緩則焚矣。何可與痞、滿、燥、實、堅之證同類而語耶？高士宗</p>
<p>邪至三陰，二、三日即口燥咽乾者，必其人胃火素盛，腎水素虧。是當急瀉胃火以救腎水。若復遷延時日，一到腎水告竭，雖下無及。《醫宗金鑑》</p>
<p>此時少緩，須臾甕乾杯罄。喻嘉言</p>
<p>少陰邪熱已轉屬於腑，胃腑實熱消灼腎水，故口燥咽乾。用大承氣以瀉腑，而實熱自除。蓋瀉土乃所以救水也。成無己</p>
<p>水乾則土燥，土燥則水愈干，所以急於下也。方中行</p>
<p>腹脹不大便者，陽氣素盛，胃有宿食可知。所以復轉陽明而成胃實。《醫宗金鑑》</p>
<p>陽邪熱結，口必乾燥。設系陰邪，則口中和而不幹燥矣。故宜急下之，以伐陽即以救陰也。程知</p>
<p>自利清水，謂所下無糟粕也。色純青，謂所下皆汙水也。此屬少陰實熱，所以心下必痛，為少陰急下之證無疑。《醫宗金鑑》</p>
<p>少陰急下三證，皆刻不容緩之時。與陽明急下三法同源而異派。張路玉</p>
<p>少陰自利最多。如虛寒則下利清穀，虛熱則下利膿血，溫熱病則自利煩渴，及此傳經熱邪則自利純清水。並宜下奪清熱。蓋其邪熱轉歸陽明，而為胃實之證，乃挾熱而下利，非完穀而不化者比也。同上</p>
<p>傷寒熱邪入里，因而作利者，謂之熱利。蓋熱邪下注，雖利而不得出也。尤在涇</p>
<p>自利不渴者，為臟有寒。太陰自受之寒邪也。下利慾飲水者，為里有熱。傳經之邪厥陰受之也。同上</p>
<p>噦而腹滿者，原有伏熱在胃，復為水寒相搏。陳延之所謂變成壯熱大啘者，毋泥於胃中寒冷四字，專仗丁香柿蒂也。王樸莊</p>
<p>噦之一證，大抵皆因失下而生。便軟惟宜瀉心湯，便硬則宜大承氣。王海藏</p>
<p>經曰：在下者，引而竭之。故當視其前後二陰，知其何部不利而分利之，則病從下出，氣不上逆，而腹滿與噦俱除。尤在涇</p>
<p>胃土，萬物所歸，無所復傳。自太、少傳入者，眾所共知。而於三陰傳入者，鮮或能識。惟能熟視其微，則知三陰急下之證亦多矣。成無己</p>
<p>陽明病，濕熱相黰，最易發黃。張令韶</p>
<p>身無汗則熱不得越，小便不利則熱不得降。韓祗和</p>
<p>頭者，諸陽之會。邪搏諸陽，津液上湊，則汗見於頭。劉守真</p>
<p>茵陳主治熱結黃疸。茵陳蒿湯先煮茵陳，則大黃從小便出，此是秘法。故仲景云：尿如皂角汁，色正赤，一宿腹滿減，病從小便去也。徐洄溪</p>
<p>陽明之熱與太陰之濕相窨成黃，故如橘色之明亮。張隱菴</p>
<p>燥熱乃腸胃之實，故當從大便而出。濕熱成黃，乃陽明中見太陰之濕，故當從小便而出。同上</p>
<p>一腹之中，上下邪氣俱盛，其脈常沉伏，不可生疑畏，惟下之而脈自漸出也。吳人駒</p>
<p>諸緊為痛。得之沉者，熱入心。《中藏經》</p>
<p>結胸為陽邪內陷而里未成實，既不得從汗外泄，亦不得從溺下出，勢必夾痰雜食固結不解，故燥糞在腸，必藉推蕩之力，而須樸、枳。若水食在胃者，又必兼破飲之長，而用甘遂。同一大黃，而用法各異。尤在涇</p>
<p>小結胸按之則痛，不似結胸之痛不可近也。其脈浮滑，不似結胸之脈沉而緊也。是以黃連之下熱輕於大黃，半夏之破飲緩於甘遂，瓜蔞之潤利減於芒硝。同上</p>
<p>湯有大小之別，證有輕重之殊。今人多以小陷胸湯治大結胸證，皆致不救。張令韶</p>
<p>喜忘即善忘，必兼有如狂之狀。此當與太陽經所言參看。尤在涇</p>
<p>大便以褐色為重，深褐色者愈重，黑色者尤重。色之變也，以火燥也。如羊血在日中須臾變褐色，久則漸變黑色。王進之</p>
<p>太陽畜血在膀胱，故驗其小便之利與不利。陽明畜血在腸胃，故驗其大便之黑與不黑。張隱菴</p>
<p>太陽經少血，陽明經多血。所以陽明畜血宜用抵當湯峻攻之。鄭在辛</p>
<p>血菀於上而吐血者，謂之薄厥。血留於下而瘀積者，謂之畜血。成無己</p>
<p>衝脈為血海，即血室也。男女皆有之。王宇泰</p>
<p>血室，肝也。肝之熱者，必移其熱於心，而不能作汗。故但頭汗出而不遍及於身也。朱彥修</p>
<p>血室二字，或主於沖，或主於肝。一就源頭言之，一就藏聚處言之。兩說雖異，其理則同。沈芊綠</p>
<p>熱入血室，或陽明被火，及水結胸，皆但頭汗出。俱是熱鬱於內而不得越者。或吐或下，皆所以除其熱耳。劉守真</p>
<p>婦人經水適來適斷，表邪乘血之虛入於血室。若晝日譫語，為邪客於腑，與陽爭也。此晝日明瞭，暮則譫語，如見鬼狀，是邪不入腑，而入於血室與陰爭也。成無己</p>
<p>血室有熱，遂令譫語，非胃家實也。仲景恐人作胃實攻之，故曰無犯胃氣。朱肱</p>
<p>芍藥地黃湯，療傷寒及溫病應發汗而不發汗之內有畜血者。及鼻衄吐血不盡，內有瘀血，面黃、大便黑者，此主消化淤血。《外臺秘要》引陳延之《小品方》，即犀角、地黃、牡丹、芍藥四味。</p>
<p>鄭聲即譫語之聲，非譫語之外別有一種鄭聲也。張令韶</p>
<p>鄭聲、譫語略同，胃熱不實則神明不至甚亂，而口語亦不甚糊塗。但說了又說，繁言絮語，失其常度耳。魏荔彤</p>
<p>大抵傷寒必先觀兩目。目中不了了，尚為可治之候。直視則為不治之疾。成無己</p>
<p>喘滿為氣上脫，下利為氣下脫。皆主死。成無己</p>
<p>脈來往短者死。《脈經》</p>
<p>三焦之氣和，則內外和。《中藏經》</p>
<p>論中言先硬後溏者四，或言小便不利，或言小便少。知仲景測大便處，皆以小便覘之。許知可</p>
<p>今人但知不大便、大便難、大便硬者為陽明病，亦知小便難、小便不利、小便數少或不尿者皆陽明病乎？柯韻伯</p>
<p>必有潮熱，乃為里證已具。故其熱不潮，便非必下之證。林瀾</p>
<p>轉失氣，則知腸胃燥熱之甚，故氣不外宣，待轉而下。若不轉失氣，則腸胃雖熱，而滲孔未至於燥。汪苓友</p>
<p>胃中乾燥則欲飲水，水入胃中，虛寒相搏，氣逆則噦。其後卻發熱者，則熱氣乘虛還復，聚於胃中也。成無己</p>
<p>大便利後脈微澀者，止為裡虛，猶可治也。此不曾大便脈反微澀，是正氣內衰，為邪所勝，故云難治。同上</p>
<p>嘔者，熱在上焦，未全入腑，故不可下。同上</p>
<p>合，通也。陽明病面色通赤者，熱在經也。不可下之。同上</p>
<p>心下硬滿，則邪氣尚淺，未全入腑，不可便下。同上</p>
<p>下後心中懊憹而煩者，虛煩也。可與梔子豉湯。若胃中有燥屎者，非虛煩也。可用大承氣湯。其腹微滿，初硬後溏，是無燥屎，此熱不在胃而在上，故不可攻。同上</p>
<p>小便不利者，濕熱蒸淤而發黃，以胃中原無燥氣也。小便自利者，胃干便硬而成實，以胃中本有燥氣也。程郊倩</p>
<p>小便自利，津液內竭，不可攻之。當待津液還胃，自欲大便，燥屎已至直腸，難出肛門之時，則於諸引導法擇而用之可也。《醫宗金鑑》</p>
<p>小便自利，津液未還入胃，內竭而硬，亦有自欲大便者，但苦不能出耳。若但有此光景時，方可但從外導法。程郊倩</p>

<h1>附：陽明餘論</h1>
<p>得病二三日，心胸煩悶，此為有痰實者。便宜取吐。《病源》</p>
<p>寒多熱少可吐者，此屬痰多也。同上</p>
<p>仲景所謂胸有寒當吐之者，寒者，痰也。內蘊之痰壅塞膈間也。所謂病人有寒胃中冷者，冷亦痰也，有形之痰結於一處也。所謂邪結在胸中當須吐之者，可見痰之結在胸也。合三條總見痰證，可吐不可汗。宜遵《內經》高者越之之旨。余故於三陽經後特立痰證一門。喻嘉言</p>
<p>傷寒病證在表，或未發汗或經發汗未解，或吐下後熱不除，此毒氣盛故也。毒既未散而表已虛，熱毒乘虛出於皮膚，所以發斑瘡隱軫如錦也。重者喉口身體皆成瘡。《病源》</p>
<p>熱微者，赤斑出。劇者，黑斑出。赤斑出者五死一生，黑斑出者十死一生。病者過日不以時下之，熱不得泄，胃爛斑出。《外臺秘要》</p>
<p>熱毒在外，未入於胃，而先下之，熱乘虛入，即爛胃也。然熱入胃要須除下之，不可留於胃中。胃虛熱入亦爛胃。《千金方》</p>
<p>傷寒發斑，全由胃熱。冬溫夏熱，發斑之類，皆是其形焮腫，如蚊蚤所齧，或成片如錦紋。加味升麻湯、升麻葛根湯、黃連解毒湯、人參白虎湯選用。胃爛，犀角解毒湯。沈芊綠</p>
<p>《金匱》云：背反張，臥不著席，腳攣急，必齘齒，卒口噤，此為燥，即痙也。亦陽明之所有事也。王樸莊</p>
<p>大便閉結，大腸膠閉，協熱下利，熱結旁流四者，總之邪在裡也。其證不同，在乎通塞之間耳。吳又可</p>
<p>大便閉結者，溫邪傳裡，內熱壅鬱，宿垢不行，蒸而為結，漸至堅硬。下之，結糞一行，淤熱自除，諸證悉去。同上</p>
<p>大腸膠閉者，其人平素大便不實，溫邪傳裡，但蒸作極臭如膠黏，至死不結。但愈蒸愈閉，以致胃氣不能下行，溫毒無路可出，不下即死。但得黏膠一去，下證自除，霍然而愈。同上</p>
<p>協熱下利者，其人大便素不調，溫邪忽乘於胃，宜小承氣湯。撤其邪而利自止。二三日仍如前證，此伏邪未盡，復傳到胃也。治法如前。同上</p>
<p>熱結旁流者，溫邪傳裡，將糞結住不下，只能於糞旁流出臭水並所進湯藥，全然無糞。宜大承氣湯。得結糞而利自止，不得結糞邪仍在也，病必不減，宜更下之。吳又可、劉松峰同</p>
<p>愈後大便數日不行，別無他證，乃足三陰不足，大腸虛燥。此不可攻。飲食漸加，津液流通，自能潤下也。同上</p>
<p>大病瘥後，血氣必虛。凡費心費力，過喜過怒，多言多動，皆可因勞而復病也。因勞而動，其既虛之血氣生其未盡之餘熱，熱邪退而病差，熱邪生而病復，凡病皆然。魏荔彤</p>
<p>病後虛羸少氣，仍是為熱，所傷之陰未能遽復，故仲景取用石膏。玉樸莊</p>
<p>病後強食則有遺熱。經曰：食入於陰，長氣於陽，故奪其食則已。仲景亦曰：損谷則愈。同上</p>
<p>凡病新瘥，只宜先進白稀粥，次進濃者，又次進糜粥，亦須少少與之，不得過吃肉食。龐安常</p>

<h1>跋</h1>
<p>昔人有言：十年讀書，天下無不可治之病；十年治病，天下更無可讀之書。此非治病多者不能道，亦非善讀書者不敢道也。軫自通籍後，從事於斯有年所矣。泛覽各家之書，非食古不化即師心自用，迨持以臨證，恆苦齟齬難合，幾疑此事已成絕學。既而從吾師遊，得讀《世補齋書》，知神明變化不越軒岐仲景之言。每見吾師用藥，必先分經辨證，而於陽明病尤應手立效。常謂軫曰：陽明無死證。而不解世人之病何以多死於陽明。既自作《陽明病釋》二卷，又集前人之釋陽明者亦二卷，益以見先路之導重賴前賢，惟善讀者引申觸類，則片義單詞具存妙用，特無人焉匯而輯之，則散見各書者，病家每苦於不知耳。夫醫學自宋元以來荒蕪穢雜，人自為書。其書愈多，其道愈晦。得吾師起而廓清之，庶曉然於微言未絕斯道，大有傳人。蘇子譫稱昌黎文起八代之衰，軫於吾師之所以論醫者亦云。</p>
<p><u>光緒十年歲次甲申仲夏望日，受業年愚侄方連軫謹跋</u></p>
