<header data-type="book">
<h1>醫宗金鑑·刺灸心法要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-997796">香港中文大學圖書館掃描本</a>），卷六十三至卷七十；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷七十九至卷八十六（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>九針原始歌</h2>
<p>九針因何而有名，原於大地大數生，始於一而終於九，天地人時音律星，風野九九八十一，針應其數起黃鐘，皮肉筋脈聲陰陽，齒氣九竅關節通。</p>
<p><u>【注】</u>　《靈樞·九針篇》帝曰：九針焉生，何因有名。岐伯曰：天地之大數也，始於一終於九。一法天，二法地，三法人，四法時，五法音，六法律，七法星，八法風，九法野。九針者，聖人起天地之數，始於一而終於九，九而九之，九九八十一，以起黃鐘之數，針之數應之，而人之身形亦應之。皮應天，肉應地，血脈應人，筋應時，聲應音，陰陽應律，齒面目應星，氣應風，九竅三百六十五絡應九野，此天人相通之道也。故一針皮，二針肉，三針脈，四針筋，五針骨，六針調陰陽，七針益精，八針除風，九針通九竅，除三百六十五節氣，各有所主也。</p>

<h3>九針式圖並九針主治法歌</h3>
<p><u>一曰：鑱針式圖</u></p>
<figure>
<img alt="鑱針式圖">
</figure>
<p><u>【注】</u>　經之一曰：鑱針者，取法於巾針，去末寸半，卒銳之長一寸六分。鑱者，銳也；卒者，尾也。謂此針長一寸六分，上去末寸半，下只留一分之鋒，欲淺刺不令深入也。</p>
<p><u>鑱針主治法歌</u></p>
<p>鑱針即今箭頭針，主刺皮膚邪肉侵，毋令深入瀉陽氣，邪正相安榮衛均。</p>
<p><u>【注】</u>　鑱針即今箭頭針也，主刺邪熱病在頭身皮膚之證。毋令深入，深則有傷陽氣。故必分許淺淺刺之，使邪去而正不傷，榮衛得和，則病除矣。</p>
<p><u>二曰：員針式圖</u></p>
<figure>
<img alt="員針式圖">
</figure>
<p><u>【注】</u>　經之二曰：員針者，取法於絮針，筒其身而卵其鋒，長一寸六分。筒身卵鋒者，謂身直如竹筒，未鋒員如卵銳也。</p>
<p><u>員針主治法歌</u></p>
<p>員針取法於絮針，主治邪氣侵肉分，筒身卵鋒不傷正，利導分肉邪自平。</p>
<p><u>【注】</u>　員針即絮針也，主治邪氣在分肉之間。蓋筒身卵鋒，利導分肉，能使邪氣行而不傷於肌肉之正氣也。</p>
<p><u>三曰：鍉針式圖</u></p>
<figure>
<img alt="鍉針式圖">
</figure>
<p><u>【注】</u>　經之三曰：鍉針者，取法於黍粟之銳，長三寸半。黍粟之銳者，員而微尖，利於用補者也。鍉針主治法歌</p>
<p>鍉針之銳如黍粟，恐其深入傷肌肉，按脈勿陷以致氣，刺之邪氣使獨出。</p>
<p><u>【注】</u>　鍉針之鋒，如黍粟之銳，主治邪在脈中。不欲深入，只按脈以候氣至，刺脈中之邪氣，使獨出也。若深按陷至肌肉，邪氣雖出，而肌肉之正氣必傷矣。</p>
<p><u>四曰：鋒針式圖</u></p>
<figure>
<img alt="鋒針式圖">
</figure>
<p><u>【注】</u>　經之四曰：鋒針者，取法於絮針，刃三隅，長一寸六分，其上去八分，下留八分。刃三隅者，蓋直壯而銳，可以瀉熱出血也。</p>
<p><u>鋒針主治法歌</u></p>
<p>鋒針即今三稜名，主刺瘤邪時氣壅，發於經絡痼不解，瀉熱出血榮衛通。</p>
<p><u>【注】</u>　鋒針即今三稜針，主刺時氣溫熱瘤邪也。凡發於經絡中壅痼不解之病，用三稜針之鋒利，以瀉熱出血，使經絡開通，榮衛調和，而壅痼之疾愈矣。</p>
<p><u>五曰：鈹針式圖</u></p>
<figure>
<img alt="鈹針式圖">
</figure>
<p><u>【注】</u>　經之五曰：鈹針者，取法於劍鋒，廣二分半，長四寸。其必廣二分半長四寸末如劍鋒者，取其能開通也。</p>
<p><u>鈹針主治法歌</u></p>
<p>鈹針之鋒末如劍，主刺寒熱兩相搏，合而為癰膿已成，大膿一瀉即時和。</p>
<p><u>【注】</u>　鈹針之鋒末如劍者，主刺寒熱相搏，或邪氣鬱於榮衛，凝滯不通，發為癰疽。其膿已成，用此開之，以取大膿。大膿瀉則陰陽和，而癰熱愈矣。</p>
<p><u>六曰：員利針式圖</u></p>
<figure>
<img alt="員利針式圖">
</figure>
<p><u>【注】</u>　經之六曰：員利針者，取法於犛針，微大其末，反小其身，長一寸六分。其取法於犛者，以毛之強者曰犛，用其細健可稍深也。</p>
<p><u>員利針主治法歌</u></p>
<p>員利針形尖如犛，主治虛邪客於經，暴痹走注歷節病，刺之經絡即時通。</p>
<p><u>【注】</u>　員利針，尖其形如犛，員而且銳。主治虛邪客於經絡，而為暴痹與走注歷節疼痛等病。以此刺之，則經絡流通，而虛邪自去矣。</p>
<p><u>七曰：毫針式圖</u></p>
<figure>
<img alt="毫針式圖">
</figure>
<p><u>【注】</u>　經之七曰：毫針者，尖如蚊虻喙。取法於毫毛，長二寸六分。其必尖如蚊虻喙者，取其微細徐緩也。毫針主治法歌</p>
<p>毫針主治虛痹纏，養正除邪在徐緩，寒熱痛痹浮淺疾，靜入徐出邪正安。</p>
<p><u>【注】</u>　毫針者，因取法於毫毛，故名之也。主刺邪客經絡，而為痛痹邪氣輕淺者也。凡正氣不足之人，用此針刺之，靜以徐往，漸散其邪，微以久留，緩養正氣，則寒邪痛痹浮淺之在絡者，皆可平也。</p>
<p><u>八曰：長針式圖</u></p>
<figure>
<img alt="長針式圖">
</figure>
<p><u>【注】</u>　經之八曰：長針者，取法於綦針，長七寸，為其可以取深邪遠痹也。長針主治法歌</p>
<p>長針主治虛邪傷，內舍骨解節腠殃，欲取深邪除遠痹，刺法得宜始可康。</p>
<p><u>【注】</u>　長針即今環跳針也。主虛邪深入，內舍於骨，解腰脊節腠之間。凡欲取深遠疼痛之邪，必得身長末鋒之針，如法以刺之，方能使深邪出，遠痹解，而得安康也。</p>
<p><u>九曰：大針式圖</u></p>
<figure>
<img alt="大針式圖">
</figure>
<p><u>【注】</u>　經之九日：大針者，取法於鋒針，其鋒微員，長四寸，尖形如梃，粗而且巨，可以瀉通機關也。大針主治法歌</p>
<p>大針主刺周身病，淫邪溢於肌體中，為風為水關節痹，關節一利大氣通。</p>
<p><u>【注】</u>　大針者，即古人之燔針也。凡周身淫邪，或風或水，溢於肌體，留而不能過於關節，壅滯為病者，以此刺之，使關節利，大氣通，則淫邪壅於經絡，風虛腫毒傷於肌體者，皆可去也。</p>
<p><u>【按】</u>　此九針，皆本於《靈樞經》中大小、長短之法，無有異也。但細玩經中九針之用，凡所取者，皆言有餘之實邪，則針之不宜於治虛也，從可知矣。</p>

<h3>行針次第手法歌</h3>
<p>行針手法口訣多，撮要編為十二歌，取穴持溫進指攝，退搓捻留搖拔合。</p>
<p><u>【注】</u>　十二字分次第手法歌訣，始自三衢楊繼洲。後之諸家，口訣雖多，皆不免於繁雜。今撮其要，仍編為十二歌訣，庶簡明切當，便於後學。</p>
<p><u>一、取穴歌</u></p>
<p>取穴先將爪切深，須教毋外慕其心，令彼榮衛無傷礙，醫者方堪入妙針。</p>
<p><u>【注】</u>　凡下針，用左手大指爪甲，重切所針之穴，令氣血開，教病者心專於內，不要外馳，然後下針，使針不傷榮衛，方堪入妙也。</p>
<p><u>二、持針歌</u></p>
<p>持針之士要心雄，手如握虎莫放鬆，欲識機關三部奧，須將此理再推窮。</p>
<p><u>【注】</u>　凡下針之士，須心小力雄，以右手持針於穴上，勢若握虎，不敢放鬆，著力旋插，直至應止之處，吸氣三口，然後提針，徐徐而用。凡機關三才奧理，欲識於心而行於針者，須將此再三推窮可也。</p>
<p><u>三、溫針歌</u></p>
<p>溫針之理最為良，口內溫和審穴方，毋令冷熱相爭搏，榮衛宣通始安祥。</p>
<p><u>【注】</u>　凡下針，必先將所用之針，入於口中，使之溫熱，審定穴所，方可與刺。勿令冷熱相爭，庶血氣調和，而得安祥也。</p>
<p><u>四、進針歌</u></p>
<p>進針理法取關機，失經失穴最不宜，陽經取陷陰經脈，三思已定針之愈。</p>
<p><u>【注】</u>　凡下針，要病人神氣定，息數勻，醫者亦如之。關機最密，切勿太忙，須細審經絡穴所在何部分，不可輕施其針，失於經絡穴所也。如在陽部，必取筋骨間陷下之處，則不傷於筋骨；如在陰分郄膕之內動脈相應間，則以爪重切經絡，少待片時，方可進針，而不傷於榮衛。又必三思已定，然後下針，病可愈矣。</p>
<p><u>五、指循歌</u></p>
<p>部分經絡要指循，只為針頭不緊沉，推則行之引則止，調和血氣使來臨。</p>
<p><u>【注】</u>　凡下針，若氣不至，用指於所屬部分經絡之路，上下、左右推而行之，引而止之，往來循之，使氣血上下均勻，針下自然氣至沉緊，得氣即瀉之意也。</p>
<p><u>六、攝法歌</u></p>
<p>攝法原因氣滯經，大指爪甲切莫輕，以指攝針待氣至，邪氣流行針自輕。</p>
<p><u>【注】</u>　凡攝針者，因針下邪氣滯澀不行也。隨經絡上下，用大指爪甲重切之，使正氣流行，則邪氣不能滯澀，而針下自覺活動矣。</p>
<p><u>七、退針歌</u></p>
<p>退針手法理要知，三才訣內總玄機，一部六數三吸氣，須臾疾病自然愈。</p>
<p><u>【注】</u>　凡退針，全在手法，三才之內，皆有要訣玄機，不可不知。如欲退針，必須緩緩而出，自地部退至人部，再漸退至天部，俱用少陰之六數瀉之，每一部六數，須要少停，三部共行三六一十八數，令病人吸氣三口，隨吸隨提，徐徐退至天部，其疾病自然除矣。</p>
<p><u>八、搓針歌</u></p>
<p>搓針瀉氣最為奇，氣至針纏莫就移，渾如搓線攸攸轉，急則纏針肉不離。</p>
<p><u>【注】</u>　搓針者，凡進、退、搓、捻，皆催其氣至以瀉邪氣也。如覺針下氣緊，切勿就移，須用瀉法，但微微動轉，如搓線之狀，若摶之太緊，必至肉纏針頭，邪氣滯澀，而不能除矣。</p>
<p><u>九、捻針歌</u></p>
<p>捻針指法不相同，一般在手兩般功，內外轉移行上下，助正伏邪疾自輕。</p>
<p><u>【注】</u>　凡捻針時，雖一般在手，而指法不同，故功有兩般也。如欲治上，則大指向外捻，外捻者令其氣向上也；如欲治下，則大指向內捻，內捻者令其氣至下也。內捻為之補，外捻為之瀉。如經絡向下者，轉針頭逆之則為迎也；經絡向上者，移針頭順之則為隨也。指法得宜，則正氣自復，而邪氣自退矣。</p>
<p><u>十、留針歌</u></p>
<p>留針取氣候沉浮，出入徐徐必逗留，能令榮衛縱橫散，巧妙玄機在指頭。</p>
<p><u>【注】</u>　留針者，凡出針至於天部，入針至於地部，須在皮膚肌肉間徐徐容留，令榮衛宣散方可出針入針。若出針太急，則血隨針出，反傷榮衛，其巧妙玄機，全在指頭也。</p>
<p><u>十一、搖針歌</u></p>
<p>搖針三部皆六搖，依次推排在指梢，孔穴大開無窒礙，邪氣退除病自消。</p>
<p><u>【注】</u>　搖針者，如出針三部欲瀉之際，每一部搖二三搖，多者不過六搖而已。以指捻針，如扶人頭搖之之狀，使孔穴開大，無有窒礙，庶邪氣退除而病愈矣。</p>
<p><u>十二、拔針歌</u></p>
<p>拔針之時切勿忙，閉門存神要精詳，不沉不緊求針尾，此訣須當韞錦囊。</p>
<p><u>【注】</u>　凡針畢拔針，最要精詳，不可輕率忙亂也。如欲出針，須待針下氣緩，不沉不緊，覺輕動滑快，方以右指捻住針尾，以左手大指按其針穴，及穴外之皮，令針穴門戶不開，神氣內存，然後拔針，庶不致於出血。此針家要訣，須當韞於錦囊也。</p>

<h3>行針分寸法歌</h3>
<p>行針分寸中指傳，屈指中節兩紋尖，男左女右童稚一，長短肥瘦審經權。</p>
<p><u>【注】</u>　行針取分寸法，以同身寸法為準，男左手，女右手，以中指第二節，屈指兩紋尖，相去為一寸，童稚亦如之。雖人身有長短，體有肥瘦，入針之分數不一，而身形之長者，其指節亦長，身形短者，其指節亦短，但隨其長短，以取分寸，則自准矣。肥人肌肉肥厚，血氣充滿，宜刺三分半；瘦人肌肉瘦薄，血氣未盛，宜刺二分。然雖如此，猶當有經有權，不可執一而論。如遇不肥不瘦之人，只在二三分之間，酌量取之可也。</p>
<figure>
<img alt="中指定同身寸圖">
</figure>
<p><u>男左女右手中指第二節、屈指兩紋尖相去為一寸。取稻稈心量，或薄篾量，皆易折而不伸縮為準，用繩則伸縮不便，故多不準。</u></p>

<h2>十二經井滎俞經合原刺淺深歌</h2>
<p>出井流滎注為俞，行經入合臟俞原。春宜針滎夏針俞，秋宜針合冬井間。臟病針俞腑病合，臟腑有病皆針原。凡諸井穴肌肉淺，不宜深針自古傳。</p>
<p><u>【注】</u>　井、滎、俞、經、合、原，十二經穴名也。手足陽經有原穴，手足陰經無原穴，陰之俞穴，即陰之原穴也。所出為井，井者如水之出也；所流為滎，滎者如水之流也；所注為俞，俞者如水之注也；所行為經，經者如水之行也；所入為合，合者如水之會也；原者如水之源也。夫春針滎者，取絡脈在分肉間，刺之淺者也；夏針俞者，取孫絡在肌肉皮膚之上也；秋針合者，亦取絡脈在分肉間，故如春時之所刺；冬針井者，取絡脈孫絡之下，比他時所刺，則深而留之，以冬氣入臟故也。經原之原，手足陰陽之經，諸病皆宜刺之，但所刺有深有淺，不能枚舉。此四時針刺之大旨，自古相傳者也。</p>

<h2>五臟井滎俞經合歌</h2>
<p>太陰肺脈井少商，魚際之穴號滎鄉，太淵一穴名為俞，經渠經合尺澤當。</p>
<p>太陰脾井隱白穴，流於大都滎來接，太白為俞經商丘，陰陵泉與合為穴。</p>
<p>少陰心脈井少衝，尋至少府即名滎，神門一穴為俞穴，經合靈道少海真。</p>
<p>少陰腎脈井湧泉，然谷為滎本天然，太谿為俞經復溜，陰谷為合踝前旋。</p>
<p>厥陰心包井中衝，掌中勞宮即為滎，大陵穴取名為俞，間使經合曲澤終。</p>
<p>厥陰肝脈井大敦，行間之穴便為滎，太衝之處為俞穴，經閤中封曲泉名。</p>

<h2>六腑井滎俞原經合歌</h2>
<p>陽明大腸井商陽，二間為滎俞三間，合谷原經陽谿取，曲池為合正相當。</p>
<p>陽明胃脈井厲兌，內庭為滎須要會，陷谷名俞衝陽原，經合解谿三里位。</p>
<p>太陽小腸井少澤，流於前谷為滎穴，後谿為俞原腕谷，經合陽谷小海歇。</p>
<p>太陽膀胱井至陰，通谷為滎亦穴名，束骨為俞原京骨，崑崙為經合委中。</p>
<p>少陽三焦井關衝，尋至液門號為滎，俞原中渚陽池取，經合支溝天井中。</p>
<p>少陽膽脈井竅陰，俠谿為滎是穴名，俞原臨泣丘墟穴，經歸陽輔合陽陵。</p>

<h2>十二經表裡原絡總歌</h2>
<p>臟腑有病均宜刺，原絡表裡相隨看。肺原太淵大偏歷，大肺合谷列缺端；脾原太白胃豐隆，胃脾衝陽公孫間；心原神門小支正，小心腕骨通里邊；腎原太谿膀飛陽，膀腎京骨大鐘班；三焦陽池包內關，包原大陵焦外關；膽原丘墟肝蠡溝，肝膽太衝光明閒。</p>
<p><u>【注】</u>　凡臟腑有病，均可以刺之，即《難經》云：五臟六腑有病，皆取其原者是也。蓋各經有所主之病，必隨其各經表裡，先主後客並刺之。主者原穴也，客者絡穴也。如手太陰肺經病，可刺本經里之原穴，即太淵穴也，復刺大腸表之絡穴，即偏歷穴也；手陽明大腸經病，可刺本經表之原穴，即合谷穴也，復刺肺經里之絡穴，即列缺穴也；足太陰脾經病，可刺本經里之原穴，即太白穴也，復刺胃經表之絡穴，即豐隆穴也；足陽明胃經病，可刺本經表之原穴，即衝陽穴也，復刺脾經里之絡穴，即公孫穴也；手少陰心經病，可刺本經里之原穴，即神門穴也，復刺小腸經表之絡穴，即支正穴也；手太陽小腸經病，可刺本經表之原穴，即腕骨穴也，復刺心經里之絡穴，即通里穴也；足少陰腎經病，可刺本經里之原穴，即太谿穴也，復刺膀胱經表之絡穴，即飛揚穴也；足太陽膀胱經病，可刺本經表之原穴，即京骨穴也，復刺腎經里之絡穴，即大鐘穴也；手少陽三焦經病，可刺本經表之原穴，即陽池穴也，復刺心包絡經表之絡穴，即內關穴也；手厥陰心包絡經病，可刺本經里之原穴，即大陵穴也，復刺三焦經表之絡穴，即外關穴也；足少陽膽經病，可刺本經表之原穴，即丘墟穴也，復刺肝經里之絡穴，即蠡溝穴也；足厥陰肝經病，可刺本經里之原穴，即太衝穴也，復刺膽經表之絡穴，即光明穴也。此十二經主病之原穴為主，絡穴為客，隨表隨里之刺法也。</p>

<h3>肺經表裡原絡穴主治歌</h3>
<p>肺經原絡應刺病，胸脹溏瀉小便頻，灑翕寒熱咳喘短，木痛皮膚肩缺盆。</p>
<p><u>【注】</u>　肺經里之原穴太淵，大腸表之絡穴偏歷，二穴應刺之證即：胸脹，溏瀉，小便頻數，洒洒惡寒，翕翕發熱，咳嗽，喘促，短氣，皮膚，肩背、缺盆麻木疼痛。皆肺、大腸經病也。</p>
<figure>
<img alt="肺經表裡原絡穴圖">
</figure>

<h3>大腸經表裡原絡穴主治歌</h3>
<p>大腸原絡應刺病，大（大指）次（次指）不用肩臂疼，氣滿皮膚木不仁，面頰腮腫耳聾鳴。</p>
<p><u>【注】</u>　大腸表之原穴合谷，肺經里之絡穴列缺，二穴應刺之證即：手之大指次指不用肩臂疼痛，皮膚麻木不仁，面頰腮腫，耳鳴，耳聾。皆大腸、肺經病也。</p>
<figure>
<img alt="大腸經表裡原絡穴圖">
</figure>

<h3>脾經表裡原絡穴主治歌</h3>
<p>脾經原絡應刺病，重倦面黃舌強疼，腹滿時痛吐或瀉，善飢不食脾病明。</p>
<p><u>【注】</u>　脾經里之原穴太白，胃經表之絡穴豐隆，二穴應刺之證即：身重，倦怠，面黃，舌強而疼，腹滿時時作痛。或吐、或瀉，善飢而不欲食。皆脾胃經病也。</p>
<figure>
<img alt="脾經表裡原絡穴圖">
</figure>

<h3>胃經表裡原絡穴主治歌</h3>
<p>胃經原絡應刺病，項膺股胻足跗疼，狂妄高歌棄衣走，惡聞煙火木音驚。</p>
<p><u>【注】</u>　胃經表之原穴衝陽，脾經里之絡穴公孫，二穴應刺之證即：項、頸、胸、膺、胯、股、脛、胻、足跗疼痛，發狂妄言，高歌棄衣而走，惡煙火，聞木音即驚。皆胃、脾經病也。</p>
<figure>
<img alt="胃經表裡原絡穴圖">
</figure>

<h3>心經表裡原絡穴主治歌</h3>
<p>心經原絡應刺病，消渴背腹引腰疼，眩僕咳吐下泄氣，熱煩好笑善忘驚。</p>
<p><u>【注】</u>　心經里之原穴神門，小腸表之絡穴支正，二穴應刺之證：飲水即消，背腹引腰作痛，眩暈仆倒，上咳吐，下泄氣，熱而心煩，好笑善忘，多驚。皆心與小腸經病也。</p>
<figure>
<img alt="心經表裡原絡穴圖">
</figure>

<h3>小腸經表裡原絡穴主治歌</h3>
<p>小腸原絡應刺病，顴頷耳腫苦寒熱，肩臑肘臂內外廉，痛不能轉腰似折。</p>
<p><u>【注】</u>　小腸表之原穴腕骨，心經里之絡穴通里，二穴應刺之證即：顴頷耳腫，苦寒熱，肩、臑、肘、臂內外側痛，不能轉動，腰痛似折。皆小腸、心經病也。</p>
<figure>
<img alt="小腸經表裡原絡穴圖">
</figure>

<h3>腎經表裡原絡穴主治歌</h3>
<p>腎經原絡應刺病，大小腹痛大便難，臍下氣逆脊背痛，唾血渴熱兩足寒。</p>
<p><u>【注】</u>　腎經里之原穴太谿，膀胱表之絡穴飛揚，二穴應刺之證即：大腹、少腹、脊背疼痛，大便結燥，臍下氣逆上衝，口渴吐血，兩足寒冷。皆腎、膀胱經病也。</p>
<figure>
<img alt="腎經表裡原絡穴圖">
</figure>

<h3>膀胱經表裡原絡穴主治歌</h3>
<p>膀胱原絡應刺病，目脫淚出頭項疼，臍突大小腹脹痛，按之尿難溲血膿。</p>
<p><u>【注】</u>　膀胱表之原穴京骨，腎經里之絡穴大鐘，二穴應刺之證即：目胞脫陷淚出，頭項疼痛，臍突、大腹、少腹脹痛，按之其尿難出，而溲血膿。皆膀胱、腎經病也。</p>
<figure>
<img alt="膀胱經表裡原絡穴圖">
</figure>

<h3>三焦經表裡原絡穴主治歌</h3>
<p>三焦原絡應刺病，小指次指如廢同，目眥耳後喉腫痛，自汗肩臑內外疼。</p>
<p><u>【注】</u>　三焦表之原穴陽池，心包里之絡穴內關，二穴應刺之證即：手之小指次指如廢而不能用，目眥、耳後、咽喉腫痛，自汗，肩臑內外側疼。皆三焦、包絡經病也。</p>
<figure>
<img alt="三焦經表裡原絡穴圖">
</figure>

<h3>心包絡經表裡原絡穴主治歌</h3>
<p>心包原絡應刺病，面紅目赤笑不休，心中動熱掌中熱，胸腋臂手痛中求。</p>
<p><u>【注】</u>　心包里之原穴大陵，三焦表之絡穴外關，二穴應刺之證即：面紅目赤，好笑不休，心中動悸，內熱，手心熱，胸腋與臂手疼痛。皆心包絡、三焦經病也。</p>
<figure>
<img alt="心包絡經表裡原絡穴圖">
</figure>

<h3>膽經表裡原絡穴主治歌</h3>
<p>膽經原絡應刺病，口苦胸脅痛不寧，髀膝外踝諸節痛，太息馬刀俠瘤癭。</p>
<p><u>【注】</u>　膽經表之原穴丘墟，肝經里之絡穴蠡溝，二穴應刺之證即：口苦，胸、脅、髀、膝、外踝諸節疼痛，太息，馬刀癭瘤。皆膽、肝經病也。</p>
<figure>
<img alt="膽經表裡原絡穴圖">
</figure>

<h3>肝經表裡原絡穴主治歌</h3>
<p>肝經原絡應刺病，頭痛頰腫脅疝疼，婦人少腹胞中痛，便難溲淋怒色青。</p>
<p><u>【注】</u>　肝經里之原穴太衝，膽經表之絡穴光明，二穴應刺之證即：頭痛，頰腫，脅疝疼痛，婦人少腹胞中疼痛，大便難，小便淋，好怒色青。皆肝、膽經病也。</p>
<figure>
<img alt="肝經表裡原絡穴圖">
</figure>

<h2>八脈交會八穴歌</h2>
<p>公孫衝脈胃心胸，內關陰維下總同，臨泣膽經連帶脈，陽維目銳外關逢，後谿督脈內眥頸，申脈陽蹺絡亦通，列缺任脈行肺系，陰蹺照海膈喉嚨。</p>
<p><u>【注】</u>　公孫二穴，是足太陰脾經穴也，通於衝脈，內關二穴，此二穴是手厥陰心包絡穴也，四穴通於陰維脈。四經會合循行之處，在胃心胸之間，故主治胃與心胸之病也。</p>
<p>臨泣二穴，是足少陽膽經穴也，通於帶脈；外關二穴，此二穴是手少陽三焦經穴也，四穴通於陽維脈。四經會合連絡之處，在於目銳眥、耳後、頰、頸、肩之間，故主治目銳眥、耳後、頰、頸、肩之病也。</p>
<p>後谿二穴，是手太陽小腸經穴也，通於督脈；申脈二穴，此二穴是足太陽膀胱經穴也，四穴通於陽蹺脈。四經會合別絡之處，在於目內眥、頸、項、耳、肩、膊、小腸、膀胱之間，故主治目內眥、頸、項、耳、肩、膊、小腸、膀胱之病也。</p>
<p>列缺二穴，是手太陰肺經穴也，通於任脈；照海二穴，此二穴是足少陰腎經穴也，四穴通於陰蹺脈。四經會合系絡之處，在於肺系、咽喉、胸膈之間，故主治肺系、咽喉、胸膈之病也。</p>

<h3>衝脈公孫穴主治歌</h3>
<p>九種心疼病不寧，結胸翻胃食難停，酒食積聚腸鳴見，水食氣疾膈臍疼，腹痛脅脹胸膈滿，瘧疾腸風大便紅，胎衣不下血迷心，急刺公孫穴自靈。</p>
<p><u>【注】</u>　九種心疼者：曰飲、曰食、曰風、曰冷、曰熱、曰悸、曰蟲、曰注、曰去來痛。結胸者，胸滿硬痛也。翻胃者，朝食暮吐，食難停留也。傷酒，傷食，積滯，腸胃雷鳴，水食，氣疾，膈間臍腹疼痛，兩脅作脹，胸膈滿悶，瘧疾腸風，大便下血，以及婦人胞衣不下，瘀血上攻迷心，皆宜刺此公孫穴，則立應也。</p>
<figure>
<img alt="衝脈公孫穴圖">
</figure>

<h3>陰維內關穴主治歌</h3>
<p>中滿心胸多痞脹，腸鳴泄瀉及脫肛，食難下膈傷於酒，積塊堅硬橫脅旁，婦女脅疼並心痛，裡急腹痛勢難當，傷寒不解結胸病，瘧疾內關可獨當。</p>
<p><u>【注】</u>　中滿心胸痞脹，謂腹滿心胸痞脹不通快也。腸鳴泄瀉，謂暴瀉脫肛也。食難下膈傷於酒者，謂嘔吐食不能下，或因酒傷也。積塊堅硬，橫衝於脅，婦女心脅疼痛，裡急脹痛，傷寒結胸硬痛，瘧疾，裡實等病，皆刺內關，無不愈矣。</p>
<figure>
<img alt="陰維內關穴圖">
</figure>

<h3>帶脈臨泣穴主治歌</h3>
<p>中風手足舉動難，麻痛發熱筋拘攣，頭風腫痛連腮項，眼赤而疼合頭眩，齒痛耳聾咽腫證，遊風搔癢筋牽纏，腿疼脅脹肋肢痛，針入臨泣病可痊。</p>
<p><u>【注】</u>　中風手足舉動難，謂手足不遂也。若疼痛麻木拘攣，兼發熱者，風熱也。頭風旋暈及腫痛連腮、項、目、牙齒、兩耳、咽喉皆赤腫痛，遊風搔癢，筋脈牽引，腰、脅、四肢與肋疼痛等證，皆宜刺此臨泣穴，立時有奇功也。</p>
<figure>
<img alt="帶脈臨泣穴圖">
</figure>

<h3>陽維外關穴主治歌</h3>
<p>肢節腫疼與膝冷，四肢不遂合頭風，背胯內外筋骨痛，頭項眉稜病不寧，手足熱麻夜盜汗，破傷跟腫目睛紅，傷寒自汗烘烘熱，惟有外關針極靈。</p>
<p><u>【注】</u>　四肢骨節腫痛，兩膝痹冷，手足不遂，偏正頭風，脊背、腰胯、筋骨、頭項、眉稜疼痛，手足發熱麻木，夜間盜汗，及破傷遊風，腳跟腫痛，兩眼赤紅，傷寒陽明自汗，蒸熱烘烘，皆宜刺外關穴，其病立已。</p>
<figure>
<img alt="陽維外關穴圖">
</figure>

<h3>督脈後谿穴主治歌</h3>
<p>手足拘攣戰掉眩，中風不語並癲癇，頭疼眼腫漣漣淚，背腰腿膝痛綿綿，項強傷寒病不解，牙齒腮腫喉病難，手足麻木破傷風，盜汗後谿穴先砭。</p>
<p><u>【注】</u>　手足拘攣者，屈伸難也。戰掉者，手足顫搖不能握也。眩者，暈也。中風卒然昏僕，不能語言，癲癇不省人事，瘈瘲抽掣，頭痛及暴發火眼，熱淚常流，行痹，腿、膝、背、腰歷節周身疼痛，項強，傷寒感冒，汗不出，不能解，上下牙齒、腮、齦、咽、喉腫疼，手足麻木不仁，破傷受風，寢汗等證，先砭後谿穴，開通脈道，無不愈矣。</p>
<figure>
<img alt="督脈後谿穴圖">
</figure>

<h3>陽蹺申脈穴主治歌</h3>
<p>腰背脊強足踝風，惡風自汗或頭疼，手足麻攣臂間冷，雷頭赤目眉稜痛，吹乳耳聾鼻衄血，癲癇肢節苦煩疼，遍身腫滿汗淋漓，申脈先針有奇功。</p>
<p><u>【注】</u>　腰背脊強，不能俯仰也。足內踝紅腫，名繞踝風也。足外踝紅腫，名穿踝風也。惡風自汗與雷頭風痛，暴發火眼，眉稜骨痛，手足麻木拘攣，臂冷，及婦人吹乳，乳房紅腫（未產者名內吹，已產者名外吹也），耳聾鼻衄，癲癇抽搐，肢節煩疼，遍身腫滿，頭汗淋漓等證，此皆風熱痰飲，流注攻衝為病。並宜先針申脈，立時有功。</p>
<figure>
<img alt="陽蹺申脈穴圖">
</figure>

<h3>任脈列缺穴主治歌</h3>
<p>痔瘡肛腫泄痢纏，吐紅尿血嗽咳痰，牙痛喉腫小便澀，心胸腹疼噎咽難，產後發強不能語，腰痛血疾臍腹寒，死胎不下上攻膈，列缺一刺病乃痊。</p>
<p><u>【注】</u>　內痔肛腫，泄痢赤白，咳痰唾血、尿血，及牙齦咽喉腫痛，小便赤澀艱難，心胸腹痛，噎咽不快，產後敗血，上干心氣，身發強直，不能語言；或瘀滯腰痛，臍腹間寒，子死腹中，胎衣不下，上攻膈塞，並刺列缺，其證必痊。</p>
<figure>
<img alt="任脈列缺穴圖">
</figure>

<h3>陰蹺照海穴主治歌</h3>
<p>喉閉淋澀與胸腫，膀胱氣痛並腸鳴，食黃酒積臍腹痛，嘔瀉胃翻及乳癰，便燥難產血昏迷，積塊腸風下便紅，膈中不快梅核氣，格主照海針有靈。</p>
<p><u>【注】</u>　上焦火盛，咽喉閉塞不通；下焦熱結，膀胱氣痛，小便淋澀，胸中腫痛；或食積酒積，內蓄傷脾，發黃；或臍腹痛；或嘔瀉，胃翻吐食，乳癰，大便燥結，及婦人生產艱難，瘀血塊痛，昏迷，腸風下血不已；或膈中之氣，怏怏不快，如梅核氣格塞咽喉之間，咯之不出，咽之不下等疾，急刺照海穴，則諸證自散。</p>
<figure>
<img alt="陰蹺照海穴圖">
</figure>

<h2>手足十二經所屬歌</h2>
<p>五臟六腑共包絡，手足所屬三陰陽，太陰足脾手肺臟，陽明足胃手大腸，少陰足腎手心臟，太陽足膀手小腸，厥陰足肝手包絡，少陽足膽手焦當。</p>
<p><u>【注】</u>　五臟：心、肝、脾、肺、腎。六腑：膽、胃、大腸、小腸、膀胱、三焦，共包絡分屬手足三陰三陽，為十二經也。如肺手太陰，心手少陰，心包絡手厥陰，手之三陰也；手太陽小腸，手陽明大腸，手少陽三焦，手之三陽也；足太陽膀胱，足陽明胃，足少陽膽，足之三陽也；足太陰脾，足少陰腎，足厥陰肝，足之三陰也。</p>

<h2>天干十二經表裡歌</h2>
<p>甲膽乙肝丙小腸，丁心戊胃己脾鄉，庚屬大腸辛屬肺，壬屬膀胱癸腎臟，三焦陽府須歸丙，包絡從陰丁火旁，陽干為表陰乾里，臟腑表裡配陰陽。</p>
<p><u>【按】</u>　舊云：三焦亦向壬中寄，包絡同歸入癸方。夫三焦為決瀆之官，猶可言壬，而包絡附於心主，烏可云癸？況二臟表裡，皆相火也，故改正之。</p>
<p><u>【注】</u>　甲、丙、戊、庚、壬陽干也，乙、丁、己、辛、癸陰乾也。陽干為表為腑，陰乾為里為臟，故曰：臟腑表裡配陰陽也。</p>

<h2>地支十二經流注歌</h2>
<p>每日寅時從肺起，卯時流入大腸經，辰胃巳脾午心火，未時應注小腸經，申屬膀胱酉屬腎，戌走包絡亥焦宮，子膽醜肝寅又肺，十二經脈周環行。</p>
<p><u>【注】</u>　人有十二經，晝夜有十二時，每一經主一時。先從寅時入肺起，卯入於大腸，辰入於胃，巳入於脾，午入於心，未入於小腸申入於膀胱，酉入於腎，戌入於包絡，亥入於三焦，子入於膽，醜入於肝，至於寅時，則又從肺起，此十二經與十二時，相循環而行者也。</p>

<h2>十二經相傳次序歌</h2>
<p>肺大胃脾心小腸，膀腎包焦膽肝續，手陰臟手陽手頭，足陰足腹陽頭足。</p>
<p><u>【注】</u>　人身正脈十有二經，每於平旦寅時，營氣始於中焦，上注於手太陰肺經，自胸中而出於中府，至於少商，以次行於手陽明大腸等十二經，終於足厥陰肝經，而復始於太陰肺經也。凡手之三陰，從臟走手；手之三陽，從手走頭；足之三陰，從足走腹；足之三陽，從頭走足。周流不息，循環無端也。</p>

<h2>十二經起止歌</h2>
<p>肺起中府止少商，大腸商陽止迎香，胃起承泣終厲兌，脾起隱白大包鄉，心起極泉少衝止，小腸少澤止聽宮，膀胱睛明止至陰，腎起湧泉俞府終，包絡天池中衝止，三焦關衝止竹空，膽瞳子髎止竅陰，肝起大敦止期門。</p>

<h2>十二經穴周流歌</h2>
<p>中府為初注少商，少商別絡注商陽，商陽復向迎香走，香接頭維至庫房，維下降兮趨厲兌，兌傳隱白至胸鄉，隱白上升達大包，大包仍續極泉場，泉貫少衝心部井，少澤相連即小腸，澤會聽宮睛明分，睛明下造至陰強，至陰斜出湧泉底，泉穴還歸腧府臟，腧府天池橫絡截，池出中衝心主張，中衝並與關衝合，關衝宛轉絲竹傍，絲竹更貫瞳髎穴，瞳髎下入竅陰方，竅陰橫亙大敦井，敦上期門肝脈當，期門歷遍還中府，經絡周流仔細詳。</p>

<h2>十二經氣血多少歌</h2>
<p>多氣多血惟陽明，少氣太陽厥陰同，二少太陰常少血，六經氣血要分明。</p>
<p><u>【注】</u>　手陽明大腸、足陽明胃，此二經多氣多血之經也；三焦、膽、腎、心、脾、肺，此六經多氣少血也；心包絡、膀胱、小腸、肝，此四經乃多血少氣也。</p>

<h1>卷二</h1>

<h2>周身名位骨度</h2>
<p><u>頭【注】</u>　頭者，人之首也。凡物獨出之首，皆名曰頭。</p>
<p><u>腦【注】</u>　腦者，頭骨之髓也，俗名腦子。</p>
<p><u>顛【注】</u>　顛者，頭頂也。顛頂之骨，俗名天靈蓋。</p>
<p><u>囪【注】</u>　囟者，顛前之頭骨也。小兒初生未闔名曰囟門，已闔名曰囟骨，即天靈蓋後合之骨。</p>
<p><u>面【注】</u>　凡前曰面，凡後曰背。居頭之前，故曰面也。</p>
<p><u>顏【注】</u>　顏者，眉目間名也。</p>
<p><u>額顱【注】</u>　額前髮際之下，兩眉之上，名曰額。一曰顙者，亦額之謂也。</p>
<p><u>頭角【注】</u>　額兩旁稜處之骨也。</p>
<p><u>鬢骨【注】</u>　即兩太陽之骨也。</p>
<p><u>目【注】</u>　目者，司視之竅也。</p>
<p><u>目胞【注】</u>　目胞者，一名目窠，一名目裹，即上下兩目外衛之胞也。</p>
<p><u>目綱【注】</u>　目綱者，即上、下目胞之兩瞼邊，又名曰睫，司目之開闔也。</p>
<p><u>目內眥【注】</u>　目內眥者，乃近鼻之內眼角。以其大而圓，故又名大眥也。</p>
<p><u>目外眥【注】</u>　目外眥者，乃近鬢前之眼角也。以其小而尖，故稱目銳眥也。</p>
<p><u>目珠【注】</u>　目珠者，目睛之俗名也。</p>
<p><u>目系【注】</u>　目系者，目睛入腦之系也。</p>
<p><u>目眶骨【注】</u>　目眶者，目窠四圍之骨也。上曰眉稜骨，下即䪼骨，䪼骨之外即顴骨。</p>
<p><u>䪼【注】</u>　目下之眶骨，顴骨內下連上牙床者也。</p>
<p><u>頞【注】</u>　頞者，鼻梁即山根也。</p>
<p><u>鼻【注】</u>　鼻者，司臭之竅也。兩孔之界骨，名曰鼻柱；下至鼻之盡處，名曰準頭。</p>
<p><u>頄【注】</u>　頄，䪼內鼻旁間，近生門牙之骨也。</p>
<p><u>顴【注】</u>　顴者，面兩旁之高起大骨也。</p>
<p><u>顑【注】</u>　顑者，俗呼為腮，口旁頰前肉之空軟處也。</p>
<p><u>耳【注】</u>　耳者，司聽之竅也。</p>
<p><u>蔽【注】</u>　蔽者，耳門也。</p>
<p><u>耳郭【注】</u>　耳郭者，耳輪也。</p>
<p><u>頰【注】</u>　頰，耳前顴側面兩旁之稱也。</p>
<p><u>曲頰【注】</u>　曲頰者，頰之骨也。曲如環形，受頰車骨尾之鉤者也。</p>
<p><u>頰車【注】</u>　頰車者，下牙床骨也。總載諸齒，能咀食物，故名頰車。</p>
<p><u>人中【注】</u>　人中者，鼻柱之下，唇之上，穴名水溝。</p>
<p><u>口【注】</u>　口者，司言食之竅也。</p>
<p><u>唇【注】</u>　唇者，口端也。</p>
<p><u>吻【注】</u>　吻者，口之四周也。</p>
<p><u>頤【注】</u>　頤者，口角後顑之下也。</p>
<p><u>頦【注】</u>　頦者，口之下唇至末之處，俗名下把殼也。</p>
<p><u>頷【注】</u>　頷者，頦下結喉上，兩側肉之空軟處也。</p>
<p><u>齒【注】</u>　齒者，口齗所生之骨也，俗名曰牙。有門牙、虎牙、槽牙、上下盡根牙之別。</p>
<p><u>舌【注】</u>　舌者，司味之竅也。</p>
<p><u>舌本【注】</u>　舌本者，舌之根也。</p>
<p><u>頏顙【注】</u>　頏顙者，口內之上二孔，司分氣之竅也。</p>
<p><u>懸雍垂【注】</u>　懸雍垂者，張口視喉上，似乳頭之小舌，俗名碓嘴。</p>
<p><u>會厭【注】</u>　會厭者，覆喉管之上竅，似皮似膜，發聲則開，咽食則閉，故為聲音之戶也。</p>
<p><u>咽【注】</u>　咽者，飲食之路也，居喉之後。</p>
<p><u>喉【注】</u>　喉者，通聲息之路也，居咽之前。</p>
<p><u>喉嚨【注】</u>　喉嚨者，喉也，肺之系也。</p>
<p><u>嗌【注】</u>　嗌者，咽也，胃之系也。</p>
<p><u>結喉【注】</u>　結喉者，喉之管頭也。其人瘦者多外見頸前，肥人則隱於肉內，多不見也。</p>
<p><u>胸膺【注】</u>　胸者，缺盆下腹之上，有骨之處也；膺者，胸前兩旁高處也，一名曰臆，胸骨肉也，俗名胸膛。</p>
<p><u>𩩲骭【注】</u>　𩩲骭者，胸之眾骨名也。</p>
<p><u>乳【注】</u>　乳者，膺上突起兩肉有頭，婦人以乳兒者也。</p>
<p><u>鳩尾【注】</u>　鳩尾者，即蔽心骨也。其質系脆骨，在胸骨之下歧骨之間。</p>
<p><u>膈【注】</u>　膈者，胸下腹上之界內之膜也，俗名羅膈。</p>
<p><u>腹【注】</u>　腹者，膈之下曰腹，俗名曰肚；臍之下曰少腹，亦名小腹。</p>
<p><u>臍【注】</u>　臍者，人之初生胞蒂之處也。</p>
<p><u>毛際【注】</u>　毛際者，小腹下橫骨間叢毛之際也。下橫骨俗名蓋骨。</p>
<p><u>篡【注】</u>　篡者，橫骨之下，兩股之前，相合共結之凹也。前、後兩陰之間，名下極穴，又名屏翳穴、會陰穴，即男女陰氣之所也。</p>
<p><u>睪丸【注】</u>　睪丸者，男子前陰兩丸也。</p>
<p><u>上橫骨【注】</u>　上橫骨在喉前宛宛中，天突穴之外，小灣橫骨旁，接拄骨之骨也。</p>
<p><u>拄骨【注】</u>　拄骨者，膺上缺盆之外，俗名鎖子骨也。內接橫骨，外接肩解也。</p>
<p><u>肩解【注】</u>　肩解者，肩端之骨節解處也。</p>
<p><u>髃骨【注】</u>　髃骨者，肩端之骨也，即肩胛骨頭臼之上稜骨也。其臼接臑骨上端，俗曰肩頭。其外曲捲翅骨，肩後之稜骨也。其下稜骨，在背肉內。</p>
<p><u>肩胛【注】</u>　肩胛者，即髃骨之末成片骨也，亦名肩髆，俗名鍁板子骨。</p>
<p><u>臂【注】</u>　臂者，上身兩大支之通稱也。一名曰肱，俗名肐膊。肐膊中節上、下骨交接處，名曰肘；肘上之骨曰臑骨；肘下之骨曰臂骨。臂骨有正、輔二骨，輔骨在上，短細偏外；正骨居下，長大偏內，俱下接腕骨也。</p>
<p><u>腕【注】</u>　腕者，臂掌骨接交處，以其宛屈故名也。當外側之骨，名曰高骨，一名銳骨，亦名踝骨。</p>
<p><u>掌骨【注】</u>　掌者，手之眾指之本也。掌之眾骨名壅骨，合湊成掌，非塊然一骨也。</p>
<p><u>魚【注】</u>　魚者，在掌外側之上隴起，其形如魚，故謂之魚也。</p>
<p><u>手【注】</u>　手者，上體所以持物也。</p>
<p><u>手心【注】</u>　手心者，即掌之中也。</p>
<p><u>手背【注】</u>　手背者，手之表也</p>
<p><u>指骨【注】</u>　指者，手指之骨也。第一大指名巨指，在外二節，本節在掌；第二名食指，又名大指之次指，三節在外，本節在掌；第三中指名將指，三節在外，本節在掌；第四指名無名指，又名小指之次指，三節在外，本節在掌；第五指為小指，三節在外，本節在掌。其節節交接處，皆有碎骨筋膜聯絡。</p>
<p><u>爪甲【注】</u>　爪甲者，指之甲也，足趾同。</p>
<p><u>岐骨【注】</u>　岐骨者，凡骨之兩叉者，皆名岐骨，手足同。</p>
<p><u>臑【注】</u>　臑者，肩髆下內側對腋處，高起軟白肉也。</p>
<p><u>腋【注】</u>　腋者，肩之下脅之上際，俗名肐肢窩。</p>
<p><u>脅肋【注】</u>　脅者，腋下至肋骨盡處之統名也。曰肋者，脅之單條骨之謂也，統脅肋之總，又名曰胠。</p>
<p><u>季脅【注】</u>　季脅者，脅之下小肋骨也，俗名軟肋。</p>
<p><u>䏚【注】</u>　䏚者，脅下無肋骨空軟處也。</p>
<p><u>腦後骨【注】</u>　腦後骨者，俗呼腦杓。</p>
<p><u>枕骨【注】</u>　枕骨者，腦後骨之下隴起者是也。其骨或稜、或平、或長、或圓不一。</p>
<p><u>完骨【注】</u>　耳後之稜骨，名曰完骨，在枕骨下兩旁之稜骨也。</p>
<p><u>頸項【注】</u>　頸項者，頸之莖也。又曰頸者，莖之側也；項者，莖之後也，俗名脖項。</p>
<p><u>頸骨【注】</u>　頸者，頭之莖骨，肩骨上際之骨，俗名天柱骨也。</p>
<p><u>項骨【注】</u>　項骨者，頭後莖骨之上三節圓骨也。</p>
<p><u>背【注】</u>　背者，後身大椎以下，腰以上之通稱也。</p>
<p><u>膂【注】</u>　膂者，夾脊骨兩旁肉也。</p>
<p><u>脊骨【注】</u>　脊骨者，脊膂骨也，俗名脊梁骨。</p>
<p><u>腰骨【注】</u>　腰骨者，即脊骨十四椎下，十五、十六椎間，尻上之骨也。其形中凹、上寬、下窄，方圓二三寸許，兩旁四孔，下接尻骨上際也。</p>
<p><u>胂【注】</u>　胂者，腰下兩旁，髁骨上之肉也。</p>
<p><u>臀【注】</u>　臀者，胛下尻旁大肉也。</p>
<p><u>尻骨【注】</u>　尻骨者，腰骨下十七椎、十八椎、十九椎、二十椎、二十一椎五節之骨也。上四節紋之旁，左右各四孔，骨形內凹如瓦，長四五寸許，上寬下窄，末節更小，如人參蘆形，名尾閭，一名骶端，一名橛骨，一名窮骨；在肛門後，其骨上外兩旁形如馬蹄，附著兩髁骨上端，俗名骻骨。</p>
<p><u>肛【注】</u>　肛者，大腸下口也。</p>
<p><u>下橫骨、髁骨、楗骨【注】</u>　下橫骨在少腹下，其形如蓋，故名蓋骨也。其骨左右二大孔，上兩分出向後之骨，首如張扇，下寸許附著於尻骨之上，形如馬蹄之處，名曰髁骨。下兩分出向前之骨，末如楗柱，在於臀內，名曰楗骨。與尻骨成鼎足之勢，為坐之主骨也，婦人俗名交骨；其骨面名曰髖，俠髖之臼名曰機，又名髀樞，外接股之髀骨也，即環跳穴處，此一骨五名也。</p>
<p><u>股【注】</u>　股者，下身兩大支之通稱也，俗名大腿小腿。中節上、下交接處，名曰膝。膝上之骨曰髀骨，股之大骨也；膝下之骨曰胻骨，脛之大骨也。</p>
<p><u>髀骨【注】</u>　髀者，膝上之大骨也。上端如杵，接於髀樞，下端如錘，接於胻骨也。</p>
<p><u>胻骨【注】</u>　胻骨者，俗名臁脛骨也。其骨兩根，在前者名成骨，又名骭骨，形粗，膝外突出之骨也；在後者名輔骨，形細，膝內側之小骨也。</p>
<p><u>伏兔【注】</u>　伏兔者，髀骨前膝之上，起肉似俯兔，故曰伏兔。</p>
<p><u>膝解【注】</u>　膝解者，膝之節解也。</p>
<p><u>臏骨【注】</u>　臏骨者，膝上蓋骨也。</p>
<p><u>連骸【注】</u>　連骸者，膝外側二高骨也。</p>
<p><u>膕【注】</u>　膕者，膝後屈外，俗名腿凹也。</p>
<p><u>腨【注】</u>　腨者，下腿肚也，一名腓腸，俗名小腿肚。</p>
<p><u>踝骨【注】</u>　踝者，胻骨之下，足跗之上，兩旁實出之高骨。在外為外踝，在內為內踝也。</p>
<p><u>足【注】</u>　足者，下體所以趨走也，俗名腳。</p>
<p><u>跗骨【注】</u>　跗者，足背也，一名足趺，俗稱腳面。跗骨者，足趾本節之眾骨也。</p>
<p><u>足心【注】</u>　足心者，即踵之中也。</p>
<p><u>跟骨【注】</u>　跟，足後根之骨也。</p>
<p><u>趾【注】</u>　趾者，足之指也。其數五，名為趾者，別於手也。居內之大者名大趾，第二趾名大趾之次趾，第三趾名中趾，第四名小趾之次趾，第五居外之小者名小趾。足之指節與手指節同，其大趾之本節後內側，圓骨形突者，名核骨。</p>
<p><u>三毛【注】</u>　足大趾爪甲後為三毛。毛後橫紋為聚毛。</p>
<p><u>踵【注】</u>　踵者，足下面著於地之謂也，俗名腳底板。</p>
<figure>
<img alt="正面骨度部位圖">
</figure>
<figure>
<img alt="背面骨度部位圖">
</figure>

<h3>骨度尺寸</h3>
<p><u>頭部</u>　項發以下至背骨，長二寸半（自後髮際以至大椎項骨三節處也）。</p>
<p><u>【按】</u>　頭部折法：以前髮際至後髮際，折為一尺二寸。如髮際不明，則取眉心直上，後至大杼骨，折作一尺八寸，此為直寸。橫寸法，以眼內角至外角，此為一寸。頭部橫直寸法，並依此。</p>
<p>督脈神庭至太陽曲差穴，曲差至少陽本神穴，本神至陽明頭維穴，各開一寸半。自神庭至頭維，各開四寸半。</p>
<p><u>胸腹部</u>　結喉以下至缺盆，中長四寸。（此以巨骨上陷中而言，即天突穴處）缺盆以下𩩲骭之中，長九寸。胸圍四尺五寸。兩乳之間，廣九寸半。（當折八寸為當）𩩲骭中下至天樞，長八寸。（天樞足陽明穴名，在臍旁，此指平臍而言）天樞以下至橫骨，長六寸半。橫骨橫長六寸半。（毛際下骨曰橫骨）</p>
<p><u>【按】</u>　此古數也。以今用上、下穴法參較，多有未合，宜從後胸腹折法為當。</p>
<p>兩髀之間，廣六寸半。（此當兩股之中橫骨兩頭之處，俗名髀縫）</p>
<p><u>【按】</u>　胸腹折法：直寸以中行為之，自缺盆中天突穴起，至岐骨際上中庭穴止，折作八寸四分；自𩩲骭上岐骨際，下至臍心，折作八寸；臍心下至毛際曲骨穴，折作五寸。橫寸以兩乳相去，折作八寸。胸腹橫直寸法，並依此。</p>
<p><u>背部</u>　膂骨以下至尾骶，二十一節，長三尺。（膂骨，脊骨也。脊骨外小而內巨，人之所以能負任者，以是骨之巨也。脊骨二十四節，今云二十一節者，除項骨三節不在內。尾骶骨男子者尖，女人者平）腰圍四尺二寸。</p>
<p><u>【按】</u>　背部折法：自大椎至尾骶，通折三尺。上七節各長一寸四分一釐，共九寸八分七釐。中七節各一寸六分一釐，共一尺一寸二分七釐。第十四節與臍平，下七節各一寸二分六釐，共八寸八分二釐，共二尺九寸九分六釐。不足四釐者，有零未盡也。直寸依此，橫寸用中指同身寸法。</p>
<p>脊骨內闊一寸。凡云第二行俠脊一寸半，三行俠脊三寸者，皆除脊一寸外，淨以寸半三寸論，故在二行當為二寸，在三行當為三寸半也。</p>
<p><u>側部</u>　自拄骨下行腋中不見者，長四寸。（拄骨，頸項根骨也）腋以下至季脅，長一尺二寸。（季脅，小肋也）季脅以下至髀樞，長六寸。（大腿曰股，股上曰髀，楗骨之下，大腿之上，兩骨合縫之所曰髀樞，當足少陽環跳穴處也。）髀樞下至膝中，長一尺九寸。橫骨上廉下至內輔之上廉，長一尺八寸。（骨際曰廉，膝旁之骨突出者曰輔骨，內曰內輔，外曰外輔）內輔之上廉以下至下廉，長三寸半。（上廉、下廉，可摸而得）內輔下廉下至內踝，長一尺二寸。內踝以下至地，長三寸。</p>
<p><u>四肢部</u>　肩至肘，長一尺七寸。肘至腕，長一尺二寸半。（臂之中節曰肘）腕至中指本節，長四寸。（臂掌之交曰腕）本節至末，長四寸半。（指之後節曰本節）膝以下至外踝，長一尺六寸。膝膕以下至跗屬，長一尺六寸。（膕，腿灣也，跗足面也。膝在前，膕在後。跗屬者，凡兩踝前後脛掌所交之處，皆為跗之屬也）跗屬以下至地，長三寸。外踝以下至地，長一寸。足長一尺二寸，廣四寸半。</p>
<p><u>【按】</u>　骨度乃《靈樞經·骨度篇》文所論之長短，皆古數也。然骨之大者太過，小者不及，此亦但言其則耳。至於周身手足折量之法，當用前中指同身寸法為是。</p>
<figure>
<img alt="正面骨度尺寸圖">
</figure>
<figure>
<img alt="背面骨度尺寸圖">
</figure>

<h3>前頭面頸諸穴行列</h3>
<p><u>頭部頂中</u>　中行凡一穴：百會（屬督脈）</p>
<p><u>頭部前</u>　中行凡四穴：神庭　上星　囟會　前頂（俱屬督脈）</p>
<p>兩旁第二行左右凡八穴：曲差　五處　承光　通天（俱足太陽穴）</p>
<p>兩旁第三行左右凡六穴：臨泣　目窗　正營（俱足少陽穴）</p>
<p><u>正面部</u>　中行凡五穴：素髎　水溝　兌端　齦交（俱督脈穴）　承漿（任脈穴）</p>
<p>兩旁第二行左右凡十穴：攢竹　睛明（俱足太陽穴）　迎香　禾髎（俱手陽明穴）　巨髎（足陽明穴）</p>
<p>兩旁第三行左右凡十穴：陽白（足少陽穴）　承泣　四白　地倉　大迎（俱足陽明穴）</p>
<p>兩旁第四行左右凡八穴：本神　童子髎（俱足少陽穴）　絲竹空（手少陽穴）　顴髎（手太陽穴）</p>
<p><u>頸部</u>　中行凡二穴：廉泉　天突（俱屬任脈）</p>
<figure>
<img alt="前頭面頸穴總圖">
</figure>

<h3>胸腹諸穴行列</h3>
<p><u>胸部</u>　中行凡七穴：天突　璇璣　華蓋　紫宮　玉堂　膻中　中庭（俱任脈）</p>
<figure>
<img alt="仰人諸經起止全圖">
</figure>
<figure>
<img alt="俯人諸經起止全圖">
</figure>
<p>兩旁第二行左右凡十二穴（去中行任脈二寸）：俞府　彧中　神藏　靈墟　神封　步廊（俱足少陰）</p>
<p>兩旁第三行左右凡十二穴（自氣戶夾俞府旁二寸，去中行四寸）：氣戶　庫房　屋翳　膺窗　乳中　乳根（俱足陽明）</p>
<p>兩旁第四行左右凡十二穴（自雲門夾氣戶旁二寸，去中行六寸）：雲門　中府（俱手太陰）　周榮　胸鄉　天溪　食竇（俱足太陰）</p>
<p><u>腹部</u>　中行凡十五穴：鳩尾　巨闕　上脘　中脘　建里　下脘　水分　神闕　陰交　氣海　石門　關元　</p>
<p><u>中極</u>　曲骨　會陰（俱任脈）</p>
<p>兩旁第二行左右凡二十二穴（自幽門夾巨闕兩旁各半寸，循衝脈下行至橫骨）：幽門　通谷　陰都　石關　商曲　肓俞　中柱　四滿　氣穴　大赫　橫骨（俱足少陰）</p>
<p>兩旁第三行左右凡二十六穴（自不容夾幽門兩旁各一寸五分，去中行二寸）：不容　承滿　梁門　關門　太乙　滑肉門　天樞　外陵　大巨　水道　歸來　氣衝（俱足陽明）　急脈（足厥陰穴，挾氣衝旁各半寸，去中行二寸半）</p>
<p>兩旁第四行左右凡十四穴（自期門上直兩乳，挾不容旁各一寸五分，去中行三寸半）：期門（足厥陰）　日月（足少陽）　腹哀　大橫　腹結　府舍　衝門（俱足太陰）</p>
<figure>
<img alt="胸腹穴總圖">
</figure>

<h3>後頭項諸穴行列</h3>
<p><u>頭部後</u>　中行凡五穴：後頂　強間　腦戶　風府　啞門（俱屬督脈）</p>
<p>兩旁第二行左右凡六穴：絡卻　玉枕　天柱（俱足太陽穴）</p>
<p>兩旁第三行左右凡六穴：承靈　腦空　風池（俱足少陽穴）</p>
<p>兩旁第四行左右凡四穴：完骨（足少陽穴）</p>
<p>天牖（手少陽穴）</p>
<figure>
<img alt="後頭項穴總圖">
</figure>

<h3>背穴行列</h3>
<p><u>背部</u></p>
<p>中行凡十四穴：大椎　陶道　身柱　神道　靈臺　至陽　筋縮　中樞　脊中　懸樞　命門　陽關　腰俞　長強（俱督脈）</p>
<p>兩旁第二行左右凡十四穴：大杼　風門　肺俞　厥陰俞　心俞　膈俞　肝俞　膽俞　脾俞　胃俞　三焦俞　腎俞　大腸俞　小腸俞　膀胱俞　中膂俞　白環俞（上俱挾脊，去中行二寸）　上髎　次髎　中髎　下髎（上俱挾脊骨兩旁，十七、十八、十九、二十椎空中）　會陽（挾尻骨兩旁上）（俱足太陽穴）</p>
<p>兩旁第三行左右凡二十八穴（去脊中行三寸五分）：附分　魄戶　膏肓俞　神堂　譩譩　膈關　魂門　陽綱　意舍　胃倉　肓門　志室　胞肓　秩邊（俱足太陽）</p>
<figure>
<img alt="背穴總圖">
</figure>

<h3>側頭面頸肩諸穴行列</h3>
<p><u>側頭部</u>　左右凡二十八穴：頭維（足陽明穴）　頷厭　懸顱　懸釐　曲鬢　率谷　天衝　浮白　竅陰（俱足少陽穴）　角孫　顱息　瘈脈　翳風　絲竹（俱手少陽穴）</p>
<p><u>側面部</u>　左右凡十四穴：客主人　聽會（俱足少陽）　和髎　耳門（俱手少陽）　聽宮（手太陽）　下關　頰車（俱足陽明穴）</p>
<p><u>側項部</u>　左右凡十四穴：人迎（嬰筋之前）　水突　氣舍（俱足陽明穴）　扶突（嬰筋之後）　天鼎（俱手陽明）　天窗（扶突後）　天容（俱手太陽穴）</p>
<p><u>肩膊部</u>　左右凡十二穴：巨骨　肩臂臑（俱手陽明）　肩井（足少陽穴）　肩臑會（俱手少陽穴）</p>
<figure>
<img alt="側頭面項肩穴總圖">
</figure>

<h3>側腋脅肋諸穴行列</h3>
<p><u>側腋脅肋部</u></p>
<p>左右凡二十穴：淵液　輒筋（俱足少陽）　天池（手厥陰）　大包（足太陽）　章門（足厥陰）　京門　帶脈　五樞　維道　居（俱足少陽）</p>
<p>（附）兩手奇俞穴</p>
<p>左右凡六穴：拳尖（在中指本節前骨尖上，握拳取之）　五虎（一在手食指背間，一在無名指背間，皆在次節三節相接骨尖上各一穴，握拳取之）</p>
<figure>
<img alt="側腋脅肋穴總圖">
</figure>

<h3>手三陰經總穴名</h3>
<p>手太陰肺經，行臂內凡九穴，左右同（起手大指端行三陰之上）：少商　魚際　太淵　經渠　列缺　孔最　尺澤　俠白　天府</p>
<p>手厥陰心包絡經，行臂內凡八穴，左右同（起手中指端，行三陰之中）：中衝　勞宮　大陵　內關　間使　郄門　曲澤　天泉</p>
<p>手少陰心經，行臂內凡九穴，左右同（起手小指內側端，行三陰之下）：少衝　少府　神門　陰郄　通里　靈道　少海　青靈　極泉</p>
<figure>
<img alt="手三陰經總穴圖">
</figure>

<h3>手三陽經總穴名</h3>
<p>手陽明大腸經，行臂外，凡十四穴，左右同（起手食指端，行三陽之上）：商陽　二間　三間　合谷　陽谿　偏歷　溫溜　下廉　上廉　三里　曲池　肘髎　五里　臂臑</p>
<p>手少陽三焦經，行臂外凡十二穴，左右同（起手無名指端，行三陽之中）：關衝　液門　中渚　陽池　外關　支溝　會宗　三陽絡　四瀆　天井　清冷淵　消濼</p>
<p>手太陽小腸經，行臂外凡八穴，左右同（起手小指外側端，行三陽之下）：少澤　前谷　後谿　腕骨　陽谷　養老　支正　小海</p>
<figure>
<img alt="手三陽經總穴圖">
</figure>

<h3>足三陰經總穴名</h3>
<p>足厥陰肝經，行足股內凡十一穴，左右同（起足大指端，行三陰之前）：大敦　行間　太衝　中封　蠡溝　中都　膝關　曲泉　陰包　五里　陰廉</p>
<p>足太陰脾經，行足股內凡十一穴，左右同（起足大指內側端，行三陰之中）：隱白　大都　太白　公孫　商丘　三陰交　漏谷　地機　陰陵泉　血海　箕門</p>
<p>足少陰腎經，行足股內凡十穴，左右同（起足心，行三陰之後）：湧泉　然谷　太谿　大鐘　照海　水泉　復溜　交信　築賓　陰谷</p>
<figure>
<img alt="足三陰經總穴圖">
</figure>

<h3>足三陽經總穴名</h3>
<p>足陽明胃經，行足股外凡十五穴，左右同（起足三指端，行三陽之前）：厲兌　內庭　陷谷　衝陽　解谿　豐隆　下巨虛　條口　上巨虛　三里　犢鼻　梁丘　陰市　伏兔　髀關</p>
<p>足少陽膽經，行足股外凡十五穴，左右同（起足四指端，行三陽之中）：竅陰　俠谿　地五會　臨泣　丘墟　懸鐘　陽輔　光明　外丘　陽交　陽陵泉　陽關　中瀆　環跳　風市</p>
<p>足太陽膀胱經，行足股後凡十九穴，左右同（起足小指外側端，行三陽之後）：至陰　通谷　束骨　京骨　金門　申脈　僕參　崑崙　跗陽　飛揚　承山　承筋　合陽　委中　委陽　浮郄　殷門　承扶　會陽</p>
<figure>
<img alt="足三陽經總穴圖">
</figure>

<h1>卷三</h1>

<h2>肺臟經文</h2>
<p>經云：肺者，相傅之官，治節出焉。其形四垂，附著於脊之第三椎中。有二十四空，行列分布，以行諸臟之氣，為臟之長，為心之蓋。又云：是經常多氣少血。</p>
<p>《難經》曰：肺重三斤三兩，六葉兩耳，凡八葉，主藏魄。</p>
<p>《中藏經》曰：肺者生氣之原，乃五臟之華蓋。</p>
<p>張介賓曰：肺葉白瑩，謂為華蓋，以覆諸臟。虛如蜂窠，下無透竅，吸之則滿，呼之則虛，一呼一吸，消息自然，司清濁之運化，為人身之橐籥。</p>
<figure>
<img alt="手太陰肺臟圖">
</figure>

<h3>肺經循行經文</h3>
<p>肺手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈屬肺，從肺系橫出腋下，下循臑內，行少陰心主之前，下肘中循臂內上骨下廉，入寸口上魚，循魚際出大指之端；其支者，從腕後直出次指內廉，出其端。</p>
<figure>
<img alt="肺經循行圖">
</figure>

<h3>肺經循行歌</h3>
<p>手太陰肺中焦生，絡腸循胃散流行，上膈屬肺從肺系，橫出腋下臑肘中，循臂寸口上魚際，大指內側爪端通，支絡還從腕後出，接次指屬陽明經。</p>
<p><u>【注】</u>　手太陰肺經之脈，起於中焦者，言起於任脈中脘穴也。下絡大腸，還循胃口者，謂本經之絡，散布流行，下則絡於大腸，還上而循胃口，非上膈屬肺直行之經也。夫經絡流行，循還無端。故手太陰之脈，必自足厥陰經之支者期門穴，循行中脘穴，上膈屬肺，以交於手太陰肺經也。從肺系橫出腋下，至於中府、雲門穴，下循於臑內天府、俠白穴；從俠白行少陰心主經脈之前，下行肘中尺澤穴；從尺澤循臂內上骨下廉孔最穴，從孔最入寸口列缺、經渠、太淵穴；從太淵上魚（句）入魚際穴；從魚際出大指之端少商穴而終焉。其支者從腕後直出，循行次指內廉出其端，以交於手陽明大腸經也。</p>

<h3>肺經穴歌</h3>
<p>手太陰肺十一穴，中府雲門天府列，次則俠白下尺澤，又次孔最與列缺，經渠太淵下魚際，抵指少商如韭葉。</p>

<h3>肺經分寸歌</h3>
<p>太陰中府三肋間，上行雲門寸六許，云在任璣旁六寸，大腸巨骨下二骨，天府腋三動脈求，俠白肘上五寸主，尺澤肘中約紋是，孔最腕上七寸擬，列缺腕上一寸半，經渠寸口陷中取，太淵掌後橫紋頭，魚際節後散脈里，少商大指端內側，鼻衄刺之立時止。</p>
<p><u>【注】</u>　中府在任脈中行華蓋穴旁，直開去六寸，乳上三肋間陷中，動脈應手，仰而取之，是其穴也。上直行一寸六分，在手陽明大腸經巨骨之下陷中，動脈應手，舉臂取之，雲門穴也。從雲門穴下循臑內，腋下三寸動脈陷中，以鼻尖點墨取之，天府穴也。從天府穴下行肘中，約紋上去五寸動脈中，俠白穴也。從俠白穴下行肘中，約紋上屈肘橫紋筋骨罅中，動脈應手，尺澤穴也。從尺澤穴下行腕前，約紋上七寸，上骨、下骨間陷中，孔最穴也。從孔最穴循外側行腕後，側上一寸五分，以兩手交叉，當食指末筋骨罅中，列缺穴也。從列缺穴循行寸口陷中，經渠穴也。從經渠穴內循手掌後陷中，太淵穴也。從太淵穴上魚，手大指本節後，內側陷中散脈中白肉際，魚際穴也。從魚際穴循行手大指內側之端，去爪甲角如韭葉許白肉際，少商穴也。</p>
<figure>
<img alt="肺經穴圖">
</figure>

<h2>大腸經文</h2>
<p>經云：大腸者，傳道之官，變化出焉。又云：迴腸當臍左回十六曲，大四寸，徑一寸寸之少半，長二丈一尺，受谷一斗，水七升半。又云：廣腸附脊以受迴腸，乃出滓穢之路。大八寸，徑二寸，寸之大半，長二尺八寸，受谷九升三合八分合之一。是經多氣少血。</p>
<p>《難經》曰：大腸重二斤十二兩，肛門重十二兩。</p>
<p>張介賓曰：按回腸者，以其回疊也；廣腸者，即迴腸之更大者；直腸者，又廣腸之末節，下連肛門也。</p>
<figure>
<img alt="手陽明大腸腑圖">
</figure>

<h3>大腸經循行經文</h3>
<p>大腸手陽明之脈，起於大指次指之端，循指上廉，出合谷兩骨之間，上入兩筋之中，循臂上廉，入肘外廉，上臑外前廉，上肩出髃骨之前廉，上出於柱骨之上會，下入缺盆，絡肺下膈屬大腸。其支者，從缺盆上頸貫頰，入下齒中，還出挾口，交人中——左之右，右之左——上挾鼻孔。</p>
<figure>
<img alt="大腸經循行圖">
</figure>

<h3>大腸經循行歌</h3>
<p>陽明之脈手大腸，次指內側起商陽，循指上廉出合谷，岐骨兩筋循臂肪，入肘外廉循臑外，肩端前廉柱骨旁，從肩下入缺盆內，絡肺下膈屬大腸。支從缺盆直上頸，斜貫頰前下齒當，環出人中交左右，上俠鼻孔注迎香。</p>
<p><u>【注】</u>　手陽明大腸經之脈，起於大指次指內廉之端。出於大指者，謂出於大指少商穴也，本經之絡。其支者，直出於次指之端，以交於手陽明大腸經之商陽穴，故曰：起於大指次指之端也。從商陽穴循食指上廉，二間、三間穴也。從三間穴循出兩骨之間，合谷穴也。從合谷上兩筋之間，陽谿穴也。從陽谿穴循臂上廉至偏歷、溫溜、下廉、上廉、三里穴也。從三里穴入肘外廉，曲池穴也。從曲池穴上臑外前廉，肘髎、五里、臂臑穴也。從臂臑穴上肩，肩髃穴也。從肩髃穴出髃骨之前廉，巨骨穴也。從巨骨穴上出於柱骨之會上，言會於督脈之大椎穴也；自督脈大椎穴入交足陽明胃經之缺盆穴。絡肺下膈屬大腸者，謂其支從缺盆上頸，復循本經之天鼎穴，貫頰至扶突穴也。從扶突穴入下齒中禾髎穴，從禾髎穴還出挾口交人中——左之右，右之左——上挾鼻孔迎香穴而終，以交於足陽明胃經也。</p>

<h3>大腸經穴歌</h3>
<p>手陽明穴起商陽，二間三間合谷藏，陽谿偏歷歷溫溜，下廉上廉三里長，曲池肘髎迎五里，臂臑肩髎巨骨起，天鼎扶突接禾髎，終以迎香二十止。</p>

<h3>大腸經分寸歌</h3>
<p>商陽食指內側邊，二間來尋本節前，三間節後陷中取，合谷虎口岐骨間，陽谿上側腕中是，偏歷腕後三寸安，溫溜腕後去五寸，池前五寸下廉看，池前三寸上廉中，池前二寸三里逢，曲池曲肘紋頭盡，肘髎上臑外廉近，大筋中央尋五里，肘上三寸行向里，臂臑肘上七寸量，肩髃肩端舉臂取，巨骨肩尖端上行，天鼎喉旁四寸真，扶突天突旁三寸，禾髎水溝旁五分，迎香禾髎上一寸，大腸經穴自分明。</p>
<p><u>【注】</u>　商陽穴在手食指內側端後，去爪甲角如韭葉許，是其穴也。從商陽穴循食指上廉，本節前內側陷中，二間穴也。從二間穴循食指本節後，內側陷中，三間穴也。從三間穴循行手大指次指岐骨間陷中，合谷穴也。從合谷穴循行手腕中上側，兩筋間陷中，張大指次指取之，陽谿穴也。從陽谿穴上行手腕後，上側三寸，偏歷穴也。從偏歷穴上行三寸，溫溜穴也。從溫溜穴上行二寸五分，輔銳肉分，下廉穴也。從下廉穴上行一寸，上廉穴也。從上廉穴上行一寸，銳肉之端，按之肉起，手三里穴也。從手三里穴上二寸，以手拱胸屈肘，橫紋頭陷中取之，曲池穴也。從曲池穴上行大骨外廉陷中，肘髎穴也。從肘髎穴循行肘上三寸，向里大脈中央，五里穴也。從五里穴上行四寸，兩筋兩骨罅宛宛陷中，伸臂平手取之，臂臑穴也。從臂臑穴上行髆骨頭，肩端上兩骨罅陷處宛宛中，舉臂取之有空，肩髃穴也。從肩髃穴上行臂端，兩叉骨間陷中，巨骨穴也。從巨骨穴循頸，缺盆上直行扶突下一寸，天鼎穴也。從天鼎穴上直行曲頰下一寸，人迎後一寸五分，仰而取之，扶突穴也。從扶突穴貫頰直鼻孔下，水溝旁五分，禾髎穴也。從禾髎穴上一寸，鼻孔旁五分，迎香穴也。</p>
<figure>
<img alt="大腸經穴圖">
</figure>

<h2>胃腑經文</h2>
<p>經云：脾胃者，倉廩之官，五味出焉。又云：胃者，水穀氣血之海也。又云：胃大一尺五寸，徑五寸，長二尺六寸，橫屈，受水穀三斗五升，其中之谷，常留二斗，水一斗五升而滿。又云：是經多氣少血。</p>
<p>《難經》曰：胃重二斤一兩。</p>
<p>張介賓曰：胃之上口名曰賁門，飲食之精氣，從此上輸於脾肺，宣布於諸脈。胃之下口，即小腸上口，名曰幽門。</p>
<figure>
<img alt="足陽明胃腑圖">
</figure>

<h3>胃經循行經文</h3>
<p>胃足陽明之脈，起於鼻之交頞中，旁約太陽之脈，下循鼻外，入上齒中，還出俠口環唇，下交承漿，卻循頤後下廉，出大迎循頰車，上耳前，過客主人，循髮際，至額顱。其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈，屬胃，絡脾。其直者，從缺盆下乳內廉，下俠臍，入氣街中。其支者，起於胃下口，循腹裡，下至氣街中而合，以下髀關抵伏兔，下膝臏中，下循脛外廉，下足跗，入中趾內間；其支者，下廉穴三寸而別，入中趾外間；其支者，別跗上，入大趾間，出其端。</p>
<figure>
<img alt="胃經循行圖">
</figure>

<h3>胃經循行歌</h3>
<p>胃足陽明交鼻起，下循鼻外入上齒，還出俠口繞承漿，頤後大迎頰車裡，耳前髮際到額顱，支下人迎缺盆底，下膈入胃絡脾宮，直者缺盆下乳內，一支幽門循腹中，下行直合氣街逢，遂由髀關抵膝臏，胻跗足趾內間同；一支下膝注三里，前出中趾外間通，一支別走足跗趾，大趾之端經盡已。</p>
<p><u>【注】</u>　足陽明胃經之脈，起於鼻者，是謂由迎香穴上交頰中兩旁，約過足太陽脈之睛明穴，分下循鼻外，始交於足陽明之承泣、四白、巨髎穴也；從巨髎入上齒中，還出俠口之地倉穴；還繞唇下，交會任脈之承漿穴，卻循頤後下廉，復交本經之大迎穴，由大迎出循頰車穴，上行耳前，過客主人穴，合少陽經，循髮際至額顱兩旁之懸顱穴、頷厭穴，復交足陽明之頭維穴下關穴。其支者，行大迎穴，從大迎前循人迎、水突穴、氣舍穴，循喉嚨入缺盆穴，下膈屬胃絡脾，散布臟腑。其直者，從缺盆穴，直行氣戶、庫房、屋翳、膺窗、乳中、乳根等穴下乳內廉、不容穴也；從不容循承滿、梁門、關門、太乙、滑肉門等穴下俠臍天樞穴也；從天樞、外陵、大巨、水道、歸來等穴，入氣街中，氣衝穴也。其支者，起於胃口，是謂前之屬胃絡脾之支，下循腹裡，下至氣街中而合氣街穴，會衝脈上行者也；其下行本經者，髀關穴也。抵伏兔至伏兔穴下，從伏兔行陰市穴、梁丘穴，下膝臏中犢鼻穴，循足三里上巨虛、條口、下巨虛等穴，下循脛外廉，豐隆穴也；從豐隆循解谿穴，下足跗，衝陽穴也；從衝陽行陷谷穴、內庭穴，入次趾外間也。其本支別支，一自下巨虛穴下入次趾外間；一別循跗上入大趾次趾間厲兌穴，出其端，交於足太陰脾經也。</p>
<p><u>【按】</u>　足陽明是足大趾之次趾，不是中趾，必傳寫之誤。</p>

<h3>胃經穴歌</h3>
<p>四十五穴足陽明，承泣四白巨髎經，地倉大迎登頰車，下關頭維對人迎，水突氣舍連缺盆，氣戶庫房屋翳尋，膺窗乳中下乳根，不容承滿出梁門，關門太乙滑肉起，天樞外陵大巨里，水道歸來達氣街，髀關伏兔走陰市，梁丘犢鼻足三里，上巨虛連條口底，下巨虛下有豐隆，解谿衝陽陷谷同，內庭厲兌陽明穴，大指次指之端終。</p>

<h3>胃經分寸歌</h3>
<p>胃之經兮足陽明，承泣目下七分尋，再下三分名四白，巨髎鼻孔旁八分。地倉俠吻四分近，大迎頷下寸三中，頰車耳下八分陷，下關耳前動脈行。頭維神庭旁四五，人迎喉旁寸五真，水突筋前人迎下，氣舍喉下一寸乘。缺盆舍下橫骨陷，氣戶下行一寸明，庫房下行一寸六，屋翳膺窗乳中根。不容巨闕旁二寸，一寸承滿與梁門，關門太乙滑肉門，天樞臍旁二寸尋。樞下一寸外陵穴，陵下一寸大巨陳，巨下三寸水道穴，水下二寸歸來存。氣街歸來下一寸，共去中行二寸勻，髀關膝上尺二許，伏兔髀下六寸是。陰市伏兔下三寸，梁丘市下一寸記，犢鼻膝臏陷中取，膝眼三寸下三里。里下三寸上廉穴，廉下二寸條口舉，再下二寸下廉穴，復上外踝上八寸，卻是豐隆穴當記。解谿則從豐隆下，內循足腕上陷中，衝陽解下高骨動，陷谷衝下二寸名，內庭次指外岐骨，厲兌大次指端中。</p>
<p><u>【注】</u>　承泣穴，在目下七分，目下胞陷中，上直瞳子正視取之，是其穴也，從承泣直下三分，顴空骨內，亦直瞳子取之，四白穴也。從四白下行，俠鼻孔旁八分，亦直瞳子取之，巨髎穴也。從巨髎下行，俠口吻旁四分外許，近下微有動脈，地倉穴也。從地倉行腮頷下前一寸三分，骨陷中動脈，大迎穴也。從大迎行耳下曲頰端，近前八分陷中，側臥開口取之，頰車穴也。從頰車上行，耳前動脈，側臥合口有空取之，下關穴也。從下關上行額角，入髮際以督脈中行神庭穴旁開四寸半，頭維穴也。</p>
<p>從頭維下行，頸下俠結喉旁一寸五分，大動脈應手，伸頭取之，人迎穴也。從人迎下直行，頸大筋前內貼氣候，水突穴也。從水突下直行，頸大筋前結喉下一寸許陷中，貼骨尖上有缺處，氣舍穴也。從氣舍下行，肩上橫骨陷中，缺盆穴也。</p>
<p>從缺盆下行，巨骨下一寸，旁開中行四寸陷中，仰而取之，氣戶穴也。從氣戶下行一寸六分，亦旁開中行四寸陷中，仰而取之，庫房穴也。從庫房下行一寸六分，亦旁開中行四寸陷中，仰而取之，屋翳穴也。從屋翳下行一寸六分，亦旁開中行四寸陷中，仰而取之，膺窗穴也。從膺窗下行，當乳頭之中，乳中穴也。</p>
<p>從乳中下行一寸六分，亦旁開中行四寸陷中，仰而取之，乳根穴也。從乳根行在第四肋端，旁開中行二寸，不容穴也。從不容穴下一寸，亦旁開中行二寸，承滿穴也。從承滿下一寸，亦旁開中行二寸，梁門穴也。從梁門下一寸，亦旁開中行二寸，關門穴也。從關門下一寸，旁開中行二寸，太乙穴也。從太乙下一寸，亦旁開中行二寸，滑肉門穴也。從滑肉門下一寸，俠臍旁二寸許陷中，天樞穴也。從天樞下一寸，亦旁開中行二寸，外陵穴也。從外陵下一寸，亦旁開中行二寸，大巨穴也，從大巨下三寸，亦旁開中行二寸，即水道穴也。從水道下二寸，亦旁開中行二寸，即歸來穴也。從歸來下行，在腿班中有肉核，名曰鼠溪，直上一寸，動脈應手，亦旁開中行二寸，氣街穴也。</p>
<p>從氣街下行，膝上一尺二寸許，中行左右各三指按捺，上有肉起如伏兔之狀，故名伏兔。在此肉起後，交紋中，髀關穴也。從髀關下行，膝上六寸起肉間，正跪坐而取之，伏兔穴也。從伏兔下行三寸，在伏兔之下陷中，拜揖而取之，陰市穴也。從陰市下行一寸兩筋間，梁丘穴也。從梁丘下行過膝蓋骨，下胻骨上陷中，谷名膝眼，此處陷中兩旁有空狀如牛鼻在外側者，犢鼻穴也。</p>
<p>從犢鼻下行，䯒骨外側大筋內宛宛中，足三里穴也（犢鼻即膝眼處也）。從足三里下行三寸，兩筋骨陷中，舉足取之，上巨虛穴也。從上巨虛下行二寸，舉足取之，條口穴也。從條口下行一寸，兩筋骨陷中，蹲地舉足取之，下巨虛穴也。從下巨虛復斜向後，上行，在足外踝上八寸，䯒骨外廉陷中，豐隆穴也。從豐隆內循下足腕上，中行陷中，解谿穴也。</p>
<p>從解谿下行足跗上，即腳面也，高骨間動脈，衝陽穴也。從衝陽下行二寸，至足大趾之次趾本節後陷中，陷谷穴也。從陷谷下至足大趾之次趾本節前岐骨外間陷中，內庭穴也。從內庭下行足大趾之次趾之端，去爪角如韭葉許，厲兌穴也。</p>
<figure>
<img alt="胃經穴圖">
</figure>

<h2>脾臟經文</h2>
<p>經云：脾胃者，倉廩之官，五味出焉。又云：諫議之官，知周出焉。又云：形如刀鐮，與胃同膜，而附其上之左俞，當十一椎下。聞聲則動，動則磨胃而主運化。其合肉也，其榮唇也，開竅於口。又云：是經常多氣少血。</p>
<p>《難經》曰：脾重二斤三兩，廣扁三寸，長五寸，有散膏半斤，主裹血，溫五臟，主藏意與智。</p>
<p>《中藏經》曰：脾主消磨五穀，養於四旁。</p>
<figure>
<img alt="足太陰脾臟圖">
</figure>

<h3>脾經循行經文</h3>
<p>脾足太陰之脈，起於大趾之端，循趾內側白肉際，過核骨後。上內踝前廉，上腨內，循脛骨後，交出厥陰之前，上膝股內前廉，入腹屬脾，絡胃上膈，俠咽連舌本，散舌下。其支者，復從胃，別上膈，注心中。</p>
<figure>
<img alt="脾經循行圖">
</figure>

<h3>脾經循行歌</h3>
<p>太陰脾起足大趾，上循內側白肉際，核骨之後內踝前，上腨循胻經膝里，股內前廉入腹中，屬脾絡胃與膈通，俠喉連舌散舌下，支絡從胃注心中。</p>
<p><u>【注】</u>　足太陰脾經之脈，起於足大趾之端隱白穴也。從隱白循指內側白肉際，大都穴也。從大都過核骨後，太白穴也。從太白循公孫穴、商丘穴，上內踝前廉，三陰交穴也。從三陰交上腨內循脛骨後，漏谷穴也。從漏谷交出厥陰之前，地機穴、陰陵泉穴也。從陰陵泉上膝股內前廉，血海穴、箕門穴、衝門穴也。從衝門入腹，屬脾絡胃，循行府舍、腹結、大橫、腹哀、食竇、天溪、胸鄉、周榮、大包等穴而上行咽喉，俠咽、連舌本，散舌下也。其支者，從胃之絡，別行上膈，注心中，以交於手少陰心經也。</p>

<h3>脾經穴歌</h3>
<p>足太陰脾由足𧿹，隱白先從內側起，大都太白繼公孫，商丘直上三陰塢，漏谷地機陰陵泉，血海箕門衝門前，府舍腹結大橫上，腹哀食竇天溪連，胸鄉周榮大包盡，二十一穴太陰全。</p>

<h3>脾經分寸歌</h3>
<p>大趾端內側隱白，節後陷中求大都，太白內側核骨下，節後一寸公孫呼。商丘內踝微前陷，踝上三寸三陰交，再上三寸漏谷是，踝上五寸地機朝。膝下內側陰陵泉，血海膝臏上內廉，箕門穴在魚腹上，動脈應手越筋間。衝門橫骨兩端動，府舍上行七分看，腹結上行三寸入，大橫上行一寸三。腹哀上行三寸半，食竇上行三寸間，天溪上行一寸六，胸鄉周榮亦同然。外斜腋下六寸許，大包九肋季脅端。</p>
<p><u>【注】</u>　隱白穴，在足大趾內側端後，去爪甲角如韭葉許，是其穴也。從隱白行足大趾內側，次節末骨縫，赤白肉際陷中，大都穴也。從大都行足大趾後內側，內踝前核骨下，赤白肉際陷中，太白穴也。從太白上行，足大趾本節後一寸，內踝前陷中，公孫穴也。從公孫上行，內踝下微前陷中，商丘穴也。從商丘上行，內踝踝尖上三寸，夾骨陷中，三陰交穴也。從三陰交上行三寸，夾骨陷中，漏谷穴也。從漏谷上行五寸，在膝下五寸內側，夾骨陷中，伸足取之，地機穴也。從地機上行膝下，內側曲膝橫紋頭陷中，陰陵泉穴也。</p>
<p>從陰陵泉上行，在膝臏上一寸，內廉白肉際陷中，血海穴也。從血海上行，在魚腹上越兩筋間，陰股內廉，動脈應手，不禁重按，箕門穴也。從箕門上行，橫骨兩端約紋中動脈，去腹中行旁開三寸半，衝門穴也。</p>
<p>從衝門上行七分，去腹中行，亦旁開三寸半，府舍穴也。從府舍上行三寸，去腹中行，亦旁開三寸半，腹結穴也。從腹結上行一寸三分，去腹中行，亦旁開三寸半，大橫穴也。從大橫上行三寸半，去腹中行，亦旁開三寸半，腹哀穴也。從腹哀上行三寸，或從乳上三肋間，動脈應手處，往下六寸四分，去胸中行旁開六寸，舉臂取之，食竇穴也。從食竇上行一寸六分，去胸中行旁開六寸，仰而取之，天溪穴也。從天溪上行一寸六分，去胸中行亦旁開六寸，仰而取之，胸鄉穴也。從胸鄉上行一寸六分，去胸中行亦旁開六寸，仰而取之，周榮穴也。從周榮外斜下行，過少陽膽經淵液穴下三寸，至液下六寸許，出九肋間季脅端，大包穴也。</p>
<figure>
<img alt="脾經穴圖">
</figure>

<h1>卷四</h1>

<h2>心臟經文</h2>
<p>經云：心者，君主之官，神明出焉。又云：心居肺管之下，膈膜之上，附著脊之第五椎。其合脈也，其榮色也。開竅於耳，又曰開竅於舌。又云：是經少血多氣。</p>
<p>《難經》曰：心重十二兩，中有七孔三毛，盛精汁三合，主藏神。</p>
<p>張介賓曰：心象尖圓，形如蓮蕊。其中有竅，多寡不同，以導引天真之氣。下無透竅，上通乎舌，共有四系，以通四臟。心外有赤黃脂裹，是為心包絡。心下有膈膜，與脊脅周迴相著，遮蔽濁氣，使不得上熏心肺，所謂膻中也。</p>
<figure>
<img alt="手少陰心臟圖">
</figure>

<h3>心經循行經文</h3>
<p>心手少陰之脈，起於心中，出屬心系，下膈絡小腸。其支者，從心系上俠咽，系目系。其直者，復從心系卻上肺，下出腋下，循臑內後廉，行手太陰肺心主之後，下肘內，循臂內後廉，抵掌後銳骨之端，入掌內後廉，循小指之內出其端。</p>
<figure>
<img alt="心經循行圖">
</figure>

<h3>心經循行歌</h3>
<p>手少陰脈起心中，下膈直與小腸通。支者還從肺系走，直上喉嚨系目瞳。直者上肺出腋下，臑後肘內少海從，臂內後廉抵掌中，銳骨之端注少衝。</p>
<p><u>【注】</u>　手少陰心經之脈，起於心中，出屬心系，由心系下膈，絡小腸。其經之支者，從心系上行俠咽，系目之系。其經之直者，復從心系退上通肺，行手太陰肺心主之後，下出行腋下，極泉穴也。從極泉穴循臑內後廉，青靈穴也。從青靈穴下肘內循臂內後廉，少海穴也。從少海穴抵掌後銳骨之端，靈道、通里、陰郄、神門等穴也。從神門穴入掌內後廉，少府穴也。從少府穴循小指之內，出其端，少衝穴而終，以交於手太陽小腸經也。</p>

<h3>心經穴歌</h3>
<p>手少陰心起極泉，青靈少海靈道全，通里陰郄神門下，少府少衝小指邊。</p>

<h3>心經分寸歌</h3>
<p>少陰心起極泉中，腋下筋間動引胸，青靈肘上三寸取，少海肘後端五分，靈道掌後一寸半，通里腕後一寸同，陰郄腕後內半寸，神門掌後銳骨隆，少府小指本節末，小指內側取少衝。</p>
<p><u>【注】</u>　極泉穴，在腋下臂內筋間動脈引胸中，是其穴也。從極泉下行至時，在肘上三寸，伸肘舉臂取之，青靈穴也。從青靈下行肘內廉，節後大骨外上去肘端五分，肘內橫紋頭，屈肘向頭取之，少海穴也。從少海下行掌後一寸五分，靈道穴也。從靈道下行五分，循腕側外腕後一寸陷中，通里穴也。從通里內行五分，掌後脈中腕後五分，陰郄穴也。從陰郄行掌後銳骨端陷中，神門穴也。從神門行手小指本節末，外側骨縫陷中，少府穴也。從少府行小指內，中行去爪甲角如韭葉，少衝穴也。</p>
<figure>
<img alt="心經穴圖">
</figure>

<h2>小腸經文</h2>
<p>經云：小腸者，受盛之官，化物出焉。又云：小腸後附於脊，前附於臍，上左回疊，積十六曲，大二寸半，徑八分分之少半，長三丈二尺，受谷二斗四升，水六升三合合之大半。又云：小腸上口在臍上二寸近脊，水穀由此而入。復下一寸，外附於臍，為水分穴，當小腸下口，至是而泌別清濁，水液滲入膀胱，滓穢流入大腸。又云：是經多血少氣。</p>
<p>《難經》曰：小腸重二斤十四兩。</p>
<figure>
<img alt="手太陽小腸腑圖">
</figure>

<h3>小腸經循行經文</h3>
<p>小腸手太陽之脈，起於小指之端，循手外側，上腕出踝中，直上循臂骨下廉，出肘內側兩骨之間，上循臑外後廉，出肩解繞肩胛，交肩上入缺盆，絡心循咽，下膈抵胃，屬小腸。其支者，從缺盆循頸上頰，到目銳眥，卻入耳中。其支者，別頰上䪼抵鼻，至目內眥，斜絡於顴。</p>
<figure>
<img alt="小腸經循行圖">
</figure>

<h3>小腸經循行歌</h3>
<p>手太陽經小腸脈，小指之端起少澤，循手外側出踝中，循臂骨出肘內側，上循臑外出後廉，直過肩解繞肩胛，交肩下入缺盆內，向腋絡心循咽嗌，下膈抵胃屬小腸。一支缺盆貫頸頰，至目銳眥卻入耳，復從耳前仍上頰，抵鼻升至目內眥，斜絡於顴別絡接。</p>
<p><u>【注】</u>　手太陽小腸之脈，從小指內側少陰之脈少衝穴循小指之端少澤穴起，循手外側前谷後谿穴，從後谿上腕至腕骨穴，從腕骨出踝中，入陽谷、養老穴也。從養老直上，循臂骨下廉，支正穴也。從支正出肘內側兩筋間，小海穴也。從小海上循臑外後廉，出肩解肩貞穴，繞肩胛臑俞穴上肩，天宗穴也。從天宗循行秉風、曲垣等穴，從肩中俞入缺盆穴，散而內行，絡心循咽下膈，抵胃屬小腸之分。其支者，從缺盆循頸入天窗、天容穴，上頰顴穴，至目銳眥，卻入耳中聚於聽宮穴也，其別支從頰上䪼抵鼻，至目內眥，以交於足太陽經。</p>

<h3>小腸經穴歌</h3>
<p>手太陽經小腸穴，少澤先於小指設，前谷後谿腕骨間，陽谷須同養老列，支正小海上肩貞，臑俞大宗秉風合，曲垣肩外復肩中，天窗循次上天容，此經穴數一十九，還有顴髎入聽宮。</p>

<h3>小腸經分寸歌</h3>
<p>小指端外為少澤，前谷本節前外側，節後橫紋取後谿，腕骨腕前骨陷側。陽谷銳骨下陷肘，腕上一寸名養老，支正外側上四寸，小海肘端五分好，肩貞肩端後陷中，臑俞肩臑骨陷考（肩臑骨陷者，下胛骨上舉臂陷中取之也）。天宗肩骨下陷中，秉風肩上小髃空，（肩上髃骨後，舉肩有空），曲垣肩中曲𩨹陷，外俞上𩨹一寸從（即外肩俞，肩胛上廉，去脊三寸）。中俞大椎二寸旁，天窗曲頰動陷詳，天容耳下曲頰後，顴髎面頄銳骨量（面頄骨下廉銳骨端陷中），聽宮耳中珠子上（耳中珠子大如赤小豆），此為小腸手太陽。</p>
<p><u>【注】</u>　少澤穴，在手小指外側端，去爪甲角一分陷中，是其穴也。從少澤上行，手小指外側本節前陷中，前谷穴也。從前谷上行，手小指本節後，外側橫紋尖上陷中，仰手握拳取之，後谿穴也。從後谿上行，手掌外側，腕前起骨下罅縫陷中，腕骨穴也。從腕骨上行，手掌外側，腕下銳骨下陷中，陽谷穴也。從陽谷上行，手下銳骨上，一空腕後一寸許陷中，陽谷穴也。從陽谷上行，手下銳骨上，一空腕後一寸許陷中，養老穴也。從養老上行外廉四寸，支正穴也。從支正上行，肘外大骨外，去肘端五分陷中，屈手向頭取之，小海穴也。</p>
<p>從小海上行，肩曲𩨹骨下，大骨傍兩骨解間，肩端後陷中，肩貞穴也。從肩貞上行肩端，臑上肩骨下，𩨹骨上廉陷中，舉臂取之，臑俞穴也。從臑俞上行，肩骨下陷中，天宗穴也。從天宗上行，肩上小髃骨，舉臂有空，秉風穴也。從秉風上行肩中央，曲𩨹陷中，按之應手痛，曲垣穴也。從曲垣上行，肩𩨹上廉，去脊傍開三寸陷中，肩外俞穴也。從肩外俞上行，肩𩨹內廉，去脊督脈之大椎穴傍開二寸陷中，肩中俞穴也。從肩中俞上行，頸大筋前曲，頰下動脈應手陷中，天窗穴也。從天窗上行，耳下曲頰後，天容穴也。從天容上行，面頄骨下廉，銳骨端陷中，顴髎穴也。從顴髎上行耳中之珠，聽宮穴也。</p>
<figure>
<img alt="小腸經穴圖">
</figure>

<h2>膀胱經文</h2>
<p>經云：膀胱者，州都之官，津液藏焉，氣化則能出矣。又云：膀胱當十九椎，居腎之下，大腸之前。有下口，無上口。當臍上一寸水分穴處，為小腸下口，乃膀胱上際，水液由此別迴腸隨氣泌滲而入。其出入皆由氣化，入氣不化，則水歸大腸，而為泄瀉。出氣不化，則閉塞下竅，而為癃腫也。是經多血少氣。</p>
<p>《難經》曰：膀胱重九兩二銖，縱廣九寸，盛尿九升九合，口廣二寸半。</p>
<figure>
<img alt="足太陽膀胱腑圖">
</figure>

<h3>膀胱循行經文</h3>
<p>膀胱足太陽之脈，起於目內眥，上額交顛。其支者，從顛入絡腦，還出別下項，循肩髆，內俠脊，抵腰中，入循膂絡腎，屬膀胱。其支者，從腰中下挾脊，貫臀入膕中。其支者，從髆內左右，別下貫胛，挾脊，內過髀樞，循髀外從後廉下合膕中，以下貫腨內，出外踝之後，循京骨到小趾外側。</p>
<figure>
<img alt="膀胱經循行圖">
</figure>

<h3>膀胱經循行歌</h3>
<p>足太陽經膀胱脈，目內眥上起額尖。支者顛上至耳角，直者從顛腦後懸，絡腦還出別下項，仍循肩膊俠脊邊，抵腰膂腎膀胱內，一支下與後陰連。貫臀斜入委中穴，一支膊內左右別，貫胛俠脊過髀樞，臂內後廉膕中合，下貫腨內外踝後，京骨骨下趾外側。</p>
<p><u>【注】</u>　足太陽之脈，起目內眥睛明穴，從睛明循行攢竹、曲差、五處，上額交顛，入承光穴，從承光循行通天穴。其支者，從顛至耳上角，交於足少陽之經。其直者，從通天入絡於大杼穴，從大杼循行肩髆內風門穴，從風門循行肺俞穴，挾脊抵腰中厥陰俞穴，從厥陰俞穴循行心俞、膈俞、肝俞、膽俞、脾俞、胃俞、三焦俞，入循膂絡腎，從腎俞穴循行氣海俞，從腰中下挾脊大腸俞穴，從大腸俞循行關元俞、膀胱俞、中膂俞，白環俞等穴，別行上髎、次髎、中髎、下髎等穴。其支者，又復上肩膊內，從附分穴循行貫胛魄戶穴，從魄戶循行挾脊內膏肓、神堂、譩譆、膈關、魂門、陽綱、意舍、胃倉、肓門、志室、胞肓等穴，過髀樞秩邊穴，從秩邊穴循髀外從後廉、承扶、浮郄、委陽穴，下合膕中委中穴，從委中循行合陽穴，從合陽下貫內承筋穴，從承筋循行承山、飛揚、附陽等穴，從附陽穴循行出外踝之後崑崙穴，從崑崙穴循行僕參、伸脈、金門等穴，循京骨即本經之京骨穴也。從京骨循行束骨、通谷穴，至小趾外側至陰穴而終，以交於足之少陰經也。</p>

<h2>膀胱經穴歌</h2>
<p>足太陽經六十三，睛明攢竹曲差參，五處承光接通天，絡卻玉枕天柱邊。大杼風門引肺俞，厥陰心膈肝膽居，脾胃三焦腎俞次，大腸小腸膀胱如，中膂白環皆二行，去脊中間二寸許，上髎次髎中後下，會陽須下尻旁取。還有附分在三行，二椎三寸半相當，魄戶膏肓與神堂，譩譆膈關魂門旁，陽綱意舍及胃倉，肓門志室連胞肓，秩邊承扶殷門穴，浮郄相鄰是委陽，委中再下合陽去，承筋承山相次長。飛揚附陽達崑崙，僕參申脈過金門，京骨束骨近通谷，小趾外側尋至陰。</p>

<h3>膀胱經分寸歌</h3>
<p>足太陽兮膀胱經，目內眥角始睛明，眉頭陷中攢竹取，曲差神庭傍寸五，五處直行後五分，承通絡卻玉枕穴，後循俱是寸五行。天柱項後髮際內，大筋外廉之陷中，自此脊中開二寸，第一大杼二風門，三椎肺俞厥陰四，心五督六膈七論，肝九膽十脾十一，胃俞十二椎下尋，十三三焦十四腎，氣海俞在十五椎，大腸十六小十八，膀胱俞穴十九椎，中膂內俞二十下，白環俞穴甘一椎，小腸俞至白環內，腰空上次中下髎，會陽陰微尻骨旁，背開二寸二行了，別從脊中三寸半，第二椎下為附分，三椎魄戶四膏肓，第五椎下神堂尊，第六譩譆膈關七，第九魂門陽綱十，十一意舍之穴存，十二會倉穴已分，十三肓門端正在，十四志室不須論，十九胞肓甘秩邊，背部三行下行循。承扶臀下股上約，下行六寸是殷門，從殷外斜上一寸，曲膝得之浮郄尋，委陽承扶下六寸，從郄內斜並殷門。委中膝膕約紋里，此下三寸尋合陽，承筋腳跟上七寸，穴在腨腸之中央，承山腿肚分肉間，外踝七寸上飛揚，附陽外踝上三寸，崑崙外跟陷中央，僕參亦在踝骨下，申脈踝下五分張，金門申脈下一寸，京骨外側大骨當，束骨本節後陷中，通谷節前限中量，至陰小趾外側端，去爪甲之韭葉方。</p>
<p><u>【注】</u>　睛明穴，在目內眥外一分宛宛中，是其穴也。從睛明上行眉頭陷者中，攢竹穴也。從攢竹上行髮際間，俠督脈之神庭穴傍開一寸五分，正頭取之，曲差穴也。從曲差後行五分，俠督脈之上星，傍開一寸五分，五處穴也。從五處後行一寸五分，承光穴也。從承光後行一寸五分，俠督脈之百會穴，傍開一寸五分，通天穴也。從通天後行一寸五分，絡卻穴也。從絡卻穴後行一寸五分，玉枕穴也。從玉枕俠項後大筋外廉，下行髮際陷中，天柱穴也。</p>
<p>從天柱下行，以項後第一椎下，兩旁相去脊中各二寸陷中，正坐取之，大杼穴也。從大杼下行，二椎下兩旁，各去脊中二寸，正坐取之，風門穴也。從風門行三椎下，去脊中各二寸，又以手搭背，左取右，右取左，當中指末是穴之處，正坐取之，肺俞穴也。從肺俞行四椎下，去脊中二寸，正坐取之，厥陰俞穴也。從厥陰俞行五椎下，去脊中二寸，正坐取之，心俞穴也。從心俞行六椎下，去脊中二寸，正坐取之，督俞穴也。從督俞行七椎下，去脊中二寸，正坐以之，膈俞穴也。從膈俞行九椎下，去脊中二寸，正坐取之，膽俞穴也。從膽俞行十一椎下，去脊中二寸，正坐取之，脾俞穴也。從脾俞行十二椎下，去脊中二寸，正坐取之，胃俞穴也。從胃俞行十三椎下，去脊中二寸，正坐取之，三焦俞穴也。從三焦俞行十四椎下，與臍平，去脊中二寸，正坐取之，腎俞穴也。從腎俞行十五椎下，去脊中二寸，正坐取之，氣海俞穴也。從氣海俞行十六椎下，去脊中二寸，伏而取之，大腸俞穴也。從大腸俞行十七椎下，去脊中二寸，伏而取之，關元俞穴也。從關元俞行十八椎下，去脊中二寸，伏而取之，小腸俞穴也。從小腸俞行十九椎下，去脊中二寸，伏而取之，膀胱俞穴也。從膀胱俞行二十椎下，去脊中二寸，俠脊胛起肉間，伏而取之，中膂俞穴也。從中膂俞行二十椎下，去脊中二寸，伏而取之，白環俞穴也。從白環俞行腰髁骨下一寸，俠脊兩旁第一空陷中，上髎穴也。從上髎行俠脊旁第二空陷中，次髎穴也。從次髎行俠脊旁第三空陷中，中髎穴也。從中髎行俠脊旁第四空陷中，下髎穴也。從下髎行陰尾尻骨兩旁五分許，會陽穴也。</p>
<p>自大杼別脈，其支者從肩膊內循行第二椎下，附項內廉兩旁相去脊中各三寸半，正坐取之，附分穴也。從附分下行第三椎下，去脊中各三寸半，正坐取之，魄戶穴也。從魄戶下行第四椎下，五椎上，此穴居中，去脊中各三寸半，正坐曲脊取之，膏肓穴也。如取其穴，先令病人正坐曲脊伸兩手，以臂著膝前令正，直手大指與膝頭齊，以物支肘，勿令臂動，乃從胛骨上角，摸索至胛骨下頭，其間當有四肋三間，依胛骨之際，相去骨際如容側指許，按其中一間空處，自覺牽引肩，是其穴也。從膏肓下行第五椎下，去脊中各三寸半陷中，正坐取之，神堂穴也。從神堂下行第六椎下，去脊中各三寸半，正坐取之，譩譆穴也，以手重按，病人呼：「譩譆」，是其穴處，蓋因其痛也。從譩譆下行第七椎下，去脊中各三寸半陷中，正坐開肩取之，膈關穴也。從膈關下行第九椎下，相去脊中各三寸半陷中，正坐取之，魂門穴也。從魂門下行第十椎下，去脊中三寸半陷中，正坐取之，陽綱穴也。從陽綱下行第十一椎下，去脊中三寸半，正坐取之，意舍穴也。從意舍下行第十椎下，去脊中各三寸半，正坐取之，胃倉穴也。從胃倉下行第十三椎下，去脊中各三寸半，正坐取之，肓門穴也。從肓門下行第十四椎下，去脊中各三寸半陷中，正坐取之，志室穴也。從志室下行第十九椎下，去脊中各三寸半，伏而取之，胞肓穴也。從胞肓下行第二十一椎下，去脊中各三寸半陷中，伏而取之，秩邊穴也。</p>
<p>從秩邊下行在尻臀下，陰股上約紋中，承扶穴也。從殷門外循斜上一寸，屈膝得之，浮郄穴也，故在委陽穴上一寸也。從浮郄下行，仍在承扶穴下六寸，屈伸取之，委陽穴也，而與會陽下合膕中也。從委陽下行，膕中央約紋動脈陷中，令人仰頦至地，伏臥取之，委中穴也。從委中下行，膝膕約紋下三寸，合陽穴也。從合陽下行，腸中央陷中，腳跟上七寸，承筋穴也。從承筋下行，腿肚下尖分肉間陷中，承山穴也。從承山斜行，足外踝後上七寸陷中，飛揚穴也。從飛揚下行，足外踝上三寸筋骨之間，附陽穴也。從附陽下行，足外踝後五分，跟骨上陷中，細動脈應手，崑崙穴也。從崑崙下行，足跟骨下陷中，拱足取之，僕參穴也。從僕參行足外踝下五分陷中，容爪甲許白肉際，申脈穴也。從申脈下行一寸，金門穴也。從金門行足外側大骨下，赤白肉際陷中，京骨穴也。按而得之，小指本節後大骨，名京骨，其穴在骨下。從京骨行足小指外側，本節後陷中赤白肉際，束骨穴也。從束骨行足小指外側，本節前陷中，通谷穴也。從通谷行足小指外側，去爪甲角如韭葉，至陰穴也。</p>
<figure>
<img alt="膀胱經穴圖">
</figure>

<h2>心包絡解</h2>
<p>張介賓曰：心包一臟，《難經》言其無形。滑壽曰：心包一名手心主。以臟象校之，在心下橫膜之上，豎膜之下，其與橫膜相黏，而黃脂裹者心也；脂䐄之外，有細筋膜如絲，與心肺相連者，心包也。此說為是，凡言無形者非。《靈蘭秘典論》有：十二官，獨少心包一官。而有「膻中者，臣使之官，喜樂出焉」二句。今考心包，臟居膈上，經始胸中，正值膻中之所，位居相火，代君行事，實臣使也。此一官即此經之謂歟。</p>
<figure>
<img alt="手厥陰心包絡圖">
</figure>

<h3>心包絡經循行經文</h3>
<p>手厥陰心主包絡之脈，起於胸中，出屬心包絡，下膈歷絡三焦。其支者，循胸中出脅下腋三寸，上抵腋下，循臑內，行太陰少陰之間，入肘中，下臂行兩筋之間，入掌中，循中指出其端；其支者，別掌中循小指次指出其端。</p>
<figure>
<img alt="心包絡經循行圖">
</figure>

<h3>心包絡經循行歌</h3>
<p>手厥陰心主起胸，屬包下膈三焦宮，支者循胸出脅下，脅下連腋三寸同，仍上抵腋循臑內，太陰少陰兩經中，指透中衝支者別，小指次指絡相通。</p>
<p><u>【注】</u>　手厥陰心包絡之脈，起於胸中，出而外行天池穴，屬心包絡之經也。內行下膈，歷絡三焦者，散布於腹之上、中、下也。其支者，循胸中出腋下三寸，即天池穴處也。從天池循臑內至天泉，從天泉穴行手太陰、手少陰兩脈之間，入肘內曲澤穴，下臂行兩筋之間，郄門、間使、內關、大陵四穴，入掌中勞宮穴，從勞宮循中指出其端，中衝穴也。其本支之別支，別行掌中，循小指次指之端，以交於手少陽三焦經也。</p>

<h3>心包絡經穴歌</h3>
<p>心包九穴天池近，天泉曲澤郄門認，間使內關逾大陵，勞宮中衝中指盡。</p>

<h3>心包絡經分寸歌</h3>
<p>心絡起自天池間，乳後傍一腋下三，天泉繞腋下二寸，曲澤屈肘陷中參，郄門去腕後五寸，間使腕後三寸然，內關去腕後二寸，大陵掌後橫紋間，勞宮屈拳名指取，中指之末中衝端。</p>
<p><u>【注】</u>　天池穴，在乳傍一二寸許，直腋下行三寸，脅之撅起肋骨間，是其穴也。從天池穴斜上，繞腋循臂內廉下行二寸，舉臂取之，天泉穴也。從天泉穴下行，肘內廉大筋內側，橫紋頭下陷中動脈，曲澤穴也。從曲澤穴下行，掌後去腕五寸，郄門穴也。從郄門穴下行，掌後去腕三寸，兩筋間陷中，間使穴也。從間使穴下行，掌後去腕二寸兩筋間，內關穴也。從內關穴下行，掌後骨下橫紋中兩筋間陷中，大陵穴也。從大陵穴下行，掌中央動脈，屈無名指取之，勞宮穴也。從勞宮穴下行，手中指之端，去爪甲角如韭葉許陷中，中衝穴也。</p>
<figure>
<img alt="心包絡經穴圖">
</figure>

<h1>卷五</h1>

<h2>腎臟經文</h2>
<p>經云：腎者，作強之官，伎巧出焉。又云：腎附於脊之十四椎下。是經常少血多氣。其合骨也，其榮發也，開竅於二陰。</p>
<p>《難經》曰：腎有兩枚，重一斤二兩，主藏精與志。</p>
<p>《中藏經》曰：腎者精神之舍，性命之根。</p>
<p>張介賓云：腎有兩枚，形如豇豆。相併而曲，附於脊之兩旁，相去各一寸五分；外有黃脂包裹，各有帶二條，上條繫於心，下條趨脊下大骨，在脊骨之端，如半手許；中有兩穴，是腎帶經過處，上行脊髓至腦中，連於髓海。</p>
<figure>
<img alt="足少陰腎臟圖">
</figure>

<h3>腎經循行經文</h3>
<p>腎足少陰之脈，起於小趾之下，斜趨足心之湧泉穴，出於然谷之下，循內踝之後，別入跟中，以上腨內，出膕內廉，上股內後廉，貫脊屬腎，絡膀胱。其直者，從腎上貫肝膈，入肺中，循喉嚨，俠舌本。其支者，從肺出絡心，注胸中。</p>
<figure>
<img alt="腎經循行圖">
</figure>

<h3>腎經循行歌</h3>
<p>足腎經脈屬少陰，小趾斜趨湧泉心，然骨之下內踝後，別入跟中腨內侵，出膕內廉上股內，貫脊屬腎膀胱臨。直者屬腎貫肝膈，入肺循喉舌本尋。支者從肺絡心內，仍至胸中部分深。</p>
<p><u>【注】</u>　足少陰腎經之脈，起自足太陽小趾之下至陰穴，斜趨足心湧泉穴，出然谷穴之下，循內踝後太谿穴，從太谿別入跟中大鐘穴，從大鐘循行水泉、照海、復溜、交信穴，上腓內築賓穴也。從築賓出膕內廉陰谷穴，從陰谷上股內後廉橫骨穴，從橫骨內貫行脊屬腎絡膀胱也。其直者，從腎外行大赫、氣穴、四滿、中注、肓俞、商曲、石關、陰都、通谷等穴，入內貫肝與膈，外循幽門、步廊、神封、靈墟、神藏、彧中、俞府等穴，入肺中循循嚨，挾舌本而終。其支者，從肺出絡心，注胸中，以交於手厥陰經也。</p>

<h3>腎經穴歌</h3>
<p>足少陰腎二十七，湧泉然谷照海出，太谿水泉連大鐘，復溜交信築賓立，陰谷橫骨趨大赫，氣穴四滿中注得，肓俞商曲石關蹲，陰都通谷幽門值，步廊神封出靈墟，神藏彧中俞府畢。</p>

<h3>腎經分寸歌</h3>
<p>足掌心中是湧泉，然谷內踝一寸前，太谿踝後跟骨上，大鐘跟後踵中邊，水泉溪下一寸覓，照海踝下四分真，復溜踝後上二寸，交信後上二寸聯，二穴只隔筋前後，太陰之後少陰前（前傍骨是復溜，後傍骨是交信，二穴只隔一條筋），築賓內踝上腨分，陰谷膝下曲膝間。橫骨大赫並氣穴，四滿中注亦相連，五穴上行皆一寸，中行旁開五分邊，肓俞上行亦一寸，但在臍旁半寸間，商曲石關陰都穴，通谷幽門五穴聯，五穴上下一寸取，各開中行五分前，步廊神封靈墟穴，神藏彧中俞府安，上行寸六旁二寸，俞府璇璣二寸觀。</p>
<p><u>【注】</u>　湧泉穴，在足心陷中，伸腿屈足，卷指宛宛中，是其穴也。從湧泉上行足內踝，前起大骨下陷中，然谷穴也。從然谷行足內踝後五分，跟骨上動脈陷中，太谿穴也。從大溪行足跟後，跟中大骨上兩筋間，大鐘穴也。從大鐘行太谿下一寸，內踝下，水泉穴也。從水泉行足內踝下四分，前後有筋，上有踝骨，下有軟骨之中陷中，照海穴也。從照海行足內踝後，除踝上二寸許，前傍骨陷中，復溜穴也。從復溜斜外，上行復溜穴之後，二寸許後傍筋，交信穴也。從交信斜外，上行過三陰交穴，上腨分中，築賓穴也，腨者俗名腿肚也。從築賓上行，膝下內輔骨後，大筋下小筋上，按之應手，屈膝得之，陰谷穴也。</p>
<p>從陰谷上行，入腹，陰上橫骨中，宛曲如仰月中央，去任脈之中行旁開五分，橫骨穴也。從橫骨上行一寸，大赫穴也，亦去中行旁開五分。從大赫上行一寸，氣穴穴也，亦去中行旁開五分。從氣穴穴上行一寸，四滿穴也。亦去中行旁開五分。從四滿上行一寸，中注穴也，亦去中行旁開五分。從中註上行一寸，肓俞穴也，直臍旁去臍中五分，從肓俞上行二寸，商曲穴也，亦去中行旁開五分。從商曲上行一寸，石關穴也。亦去中行旁開五分。從石關上行一寸，陰都穴也，亦去中行旁開五分。從陰都上行一寸陷中，通谷穴也，亦去中行旁開五分。從通谷上行一寸陷中，幽門穴也，亦去中行旁開五分。從幽門上行一寸六分陷中，去中行旁開二寸，仰而取之，步廊穴也。從步廊上行一寸六分，亦去中行旁開二寸，仰而取之，神封穴也。從神封上行一寸六分，亦去中行旁開二寸陷中，仰而取之，靈墟穴也。從靈墟上行一寸六分，亦去中行旁開二寸陷中，仰而取之，神藏穴也。從神藏上行一寸六分，亦去中行旁開二寸陷中，仰而取之，彧中穴也。從彧中上行巨骨，下俠任脈之璇璣，中行旁開二寸陷中，仰而取之，是其穴也。</p>
<figure>
<img alt="腎經穴圖">
</figure>

<h2>三焦經文</h2>
<p>經云：上焦如霧，中焦如漚，下焦如瀆。又云：三焦者，決瀆之官，水道出焉。又云：是經少血多氣。</p>
<p>《中藏經》云：三焦者，人之三元之氣也，號曰中清之府。總領五臟六腑，營衛經絡，內外、左右、上下之氣也。三焦通則內外、左右、上下皆通也。其於周身灌體，和內調外，榮左養右，導上宣下，莫大於此也。</p>
<figure>
<img alt="手少陽三焦腑圖">
</figure>

<h3>三焦經循行經文</h3>
<p>三焦手少陽之脈，起於小指次指之端，上出次指之間，循手表腕，出臂外兩骨之間，上貫肘，循臑外，上肩而交出足少陽之後，入缺盆，布膻中，散絡心包，下膈循屬三焦。其支者，從膻中上出缺盆，上項俠耳後，直上出耳上角，以屈下頰，至䪼；其支者，從耳後入耳中，出走耳前，過客主人前交頰，至目銳眥。</p>
<figure>
<img alt="三焦經循行圖">
</figure>

<h3>三焦經循行歌</h3>
<p>手經少陽三焦脈，起自小指次指端，兩指岐骨手腕表，上出臂外兩骨間，肘後臑外循肩上，少陽之後交別傳，下入缺盆膻中分，散絡心包膈里穿。支者膻中缺盆上，上項耳後耳角旋，屈下至出䪼仍注頰；一支出耳入耳前，卻從上關交曲頰，至目銳眥乃盡焉。</p>
<p><u>【注】</u>　手少陽三焦之脈，起於手小指次指外側之端關衝穴，從關衝上出兩指之間液門、中渚穴，循手腕表陽池穴也。從陽池出臂外兩骨之間，外關、支溝、會宗、三陽絡、四瀆、天井等穴，上貫肘，清冷淵穴也，從清冷淵穴循臂臑外，上肩循消濼、臑會、肩髎、天髎穴，從天髎穴而交出足少陽經之後，入缺盆，布膻中，散絡心包，下膈內而循行之分，皆屬三焦經也。其支者，從膻中上外出缺盆，上項天牖穴，從天牖穴循系耳後翳風、瘈脈、顱息穴，從顱息直上出耳上角角孫穴、絲竹空穴也。由角孫、絲竹空穴繞耳以屈下至䪼和髎、耳門穴也。其本支之別，支者從耳後出走耳前，過足少陽經客主人穴之前，交頰至目銳之外眥，以交於足少陽膽經也。</p>

<h3>三焦經穴歌</h3>
<p>手少三焦所從經，二十二穴起關衝，液門中渚陽池歷，外關支溝會宗逢，三陽絡入四瀆內，注於天井清冷中，消濼臑會肩髎穴，天天牖經翳風，瘈脈顱息角耳門，和髎上行絲竹空。</p>

<h3>三焦經分寸歌</h3>
<p>無名外側端關衝，液門小次指陷中，中渚液門上一寸，陽池腕前表陷中，外關腕後二寸陷，關上一寸支溝名，外關一寸會宗平，斜上一寸三陽絡，肘前五寸四瀆稱，天井肘外大骨後，肘上一寸骨罅中。井上一寸清冷淵，消濼臂肘分肉端，臑會肩端前二寸，肩臑上陷中看，天肩井後一寸，天牖耳下一寸間，翳風耳後尖角陷，瘈脈耳後青脈看，顱息青絡脈之上，角孫耳上發下間，耳門耳前缺處陷，和橫動脈耳前，欲覓絲竹空何在，眉後陷中仔細觀。</p>
<p><u>【注】</u>　關衝穴，在手四指外側端，去爪甲角如韭葉許，是其穴也。從關衝上行手小指次指岐骨間陷中，握拳取之，液門穴也。從液門上行一寸陷中，中渚穴也。從中渚由四指本節直上，行手表腕上陷中，陽池穴也。從陽池上行手腕後二寸，兩骨間陷中，外關穴也。從外關上行一寸，兩骨間陷中，支溝穴也，從支溝外開一寸，會宗穴也。以支溝會宗二穴相併平直，空中相離一寸也。從會宗內斜上行一寸，臂上大交脈，三陽絡穴也。從三陽絡上行肘前五寸外廉陷中，四瀆穴也。從四瀆斜外一行，肘外大骨尖後，肘上一寸，兩筋叉骨罅中，屈肘拱胸取之，天井穴也。</p>
<p>從天井上行一寸，伸肘舉臂取之，清冷淵穴也。從清冷淵上行，肩下臂外肘上分肉間，消濼穴也。從消濼上行，臑外去肩端三寸宛宛中，臑會穴也。從臑會上行，肩端臑上陷中，斜舉臂取之，肩髎穴也，從肩髎上行肩，缺盆中直，是少陽經之肩井穴；後一寸，天髎穴也。從天髎上行，頸大筋外缺盆上，手太陽經天容穴後，足太陽經天柱穴前，足少陽膽經完骨穴下，髮際中上斜俠耳後一寸，天牖穴也。從天牖上行，耳後尖角陷中，按之引耳中痛，翳風穴也。從翳風上行，耳後中間雞足青絡脈中，瘈脈穴也。從瘈脈行耳後上間青絡脈中，顱息穴也。從顱息上行，耳上上間，髮際下開口有空，角孫穴也。從角孫繞行耳前，起肉當耳缺處陷中，耳門穴也。從耳門行耳前，兌發下橫動脈中，和髎穴也（兌發下即鬢角也）。從和髎上行眉後陷中，絲竹空穴也。</p>
<figure>
<img alt="三焦經穴圖">
</figure>

<h2>膽腑經文</h2>
<p>經云：膽者，中正之官，決斷出焉。又云：是經少血多氣。又曰：凡十一臟皆取決於膽也。</p>
<p>《難經》曰：膽在肝之短葉間，重三兩三銖，長三寸，盛精汁三合。</p>
<p>《中藏經》曰：膽者清淨之府，號曰將軍，主藏而不瀉。</p>
<figure>
<img alt="足少陽膽腑圖">
</figure>

<h3>膽經循行經文</h3>
<p>膽足少陽之脈，起於目銳眥，上抵頭角，下耳後，循頸行手少陽之前，至肩上卻交出手少陽之後，入缺盆。其支者，從耳後入耳中，出走耳前，至目銳眥後；其支者，別銳眥，下大迎，合手少陽抵於䪼，下加頰車，下頸合缺盆以下胸中，貫膈、絡肝、屬膽，循脅裡，出氣街，繞毛際橫入髀厭中；其直者，從缺盆下腋循胸，過季脅，下合髀厭中，以下循髀陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上入小趾次趾之間；其支者，別跗上入大趾之間，循大趾岐骨內，出其端，還貫爪甲，出三毛。</p>
<figure>
<img alt="膽經循行圖">
</figure>

<h3>膽經循行歌</h3>
<p>足脈少陽膽之經，始從兩目銳眥生，抵頭循角下耳後，腦空風池次第行，手少陽前至肩上，交少陽右上缺盆；支者耳後貫耳內，出走耳前銳眥循；一支銳眥大迎下，合手少陽抵項根，下加頰車缺盆合，入胸貫膈絡肝經，屬膽仍從脅裡過，下入氣街毛際縈，橫入髀厭環跳內；直者缺盆下腋膺，過季脅下髀厭內，出膝外廉是陽陵，外輔絕骨踝前過，足跗小指次指分；一支別從大指去，三毛之際接肝經。</p>
<p><u>【注】</u>　足少陽膽經之脈，起於目之銳眥瞳子髎穴，循聽會客主人穴，上抵頭角頷厭穴也。從頷厭循懸顱、懸釐、曲鬢、率谷，折而下行於耳後之天衝、浮白、竅陰、完骨等穴；折外上行至眉頭之本神、陽白、臨泣、目窗、正營、承靈、腦空等穴；循頸至風池穴，過手少陽經天牖穴之前，至肩上本經之肩井穴；從肩井穴卻交出於手少陽之後，入缺盆處也。其支者，從耳後入耳中，出走耳前至目銳眥後，此一小支之脈，行於頭之無穴處也。又其支者，別銳眥下手陽明之大迎穴，合手少陽抵於䪼下，加頰車，下頸合缺盆穴，以下入胸中，貫膈絡肝，屬膽，循脅裡，出氣街，散布臟腑，外繞毛際，橫入髀厭中環跳穴也。其支者，從缺盆下腋淵液穴；從淵液穴循胸輒筋穴也。從輒筋、日月穴過季脅至京門穴；從京門循行帶脈、五樞、維道、居髎，下合髀厭中環跳穴也。從環跳穴以下循髀陽風市穴，從風市循行中瀆、陽關，出膝外廉陽陵泉穴也。從陽陵泉穴循行陽交、外丘、光明等穴，下外輔骨之前陽輔穴也。從陽輔穴直下抵絕骨之端懸鐘穴；從懸鐘下出外踝之前丘墟穴；從丘墟穴循足跗上臨泣穴也。從臨泣入小指次指之間俠谿、竅陰穴也。其支者，別跗上入大指之間，循大指岐骨內，出其端，還貫爪甲出三毛，以交於足厥陰肝經也。</p>

<h3>膽經穴歌</h3>
<p>足少陽經瞳子髎，四十三穴行迢迢，聽會客主頷厭集，懸頗懸釐曲鬢翹。率谷天衝浮白次，竅陰完骨本神至，陽白臨泣開目窗，正營承靈腦空是。風池肩井淵液長，輒筋日月京門鄉，帶脈五樞維道續，居髎環跳市中瀆。陽關陽陵復陽交，外丘光明陽輔高，懸鐘丘墟足臨泣，地五俠谿竅陰畢。</p>

<h3>膽經分寸歌</h3>
<p>足少陽兮四十三，頭上廿穴分三折，起自瞳子至風池，積數陳之依次第。外眥五分瞳子，耳前陷中尋聽會，上行一寸客主人，內斜曲角上頷厭，後行顱中釐下穴，曲鬢耳前上髮際，率谷入發寸半安，天衝耳後斜二寸浮白下行一寸間，竅陰穴在枕骨下，完骨耳後入髮際，量得四分須用記，本神神庭旁三寸，入發四分耳上系，陽白眉上一寸許，上行五分是臨泣。臨後寸半目窗穴，正營承靈及腦空，後行相去一寸五，風池耳後發陷中。肩井肩上陷中取，大骨之前寸半明，淵液腋下行三寸，輒筋復前一寸行，日月乳下二肋縫，下行五分是穴名。臍上五分傍九五，季肋俠脊是京門，季下寸八尋帶脈，帶下三寸穴五樞，維道章下五三定，維下三寸居髎名，環跳髀樞宛中陷，風市垂手中指終。膝上五寸中瀆穴，膝上二寸陽關尋，陽陵膝下一寸住，陽交外踝上七寸，外丘外踝七寸同，此係斜屬三陽分，踝上五寸定光明，踝上四寸陽輔穴，踝上三寸是懸鐘，丘墟踝前陷中取，丘下三寸臨泣存，臨下五分地五會，會下一寸俠谿輪，欲覓竊陰穴何在？小指次指外側尋。</p>
<p><u>【注】</u>　瞳子髎，在目銳眥去眥五分，是其穴也。從瞳子髎下外斜行，耳前起骨上面，下一寸耳珠下動脈宛宛中，開口有空，側臥張口取之，聽會穴也。從聽會上直行一寸，開口有空，側臥張口取之，客主人穴也。從客主人上內斜行，兩太陽曲角上廉，頷厭穴也。從頷厭後行耳前曲角上，兩太陽之中，懸顱穴也。從懸顱後行，耳前曲角上，兩太陽下廉，懸釐穴也。從懸釐後行，耳前入髮際曲隅陷中，鼓頷有空，曲鬢穴也。從曲鬢後行耳上，入髮際寸半陷者宛宛中，嚼牙取之，率谷穴也。從率谷後行耳後三分許，入髮際二寸，天衝穴也。從天衝下行耳後，入髮際一寸，浮白穴也。從浮白下行耳後，高上枕骨下，搖動有空，竅陰穴也。從竅陰行耳後，入髮際四分，完骨穴也。</p>
<p>從完骨折上行，神庭旁三寸，直耳上入髮際四分，本神穴也。從本神行眉上一寸，直瞳子，陽白穴也。從陽白上直行，入髮際五分陷中，正睛取之，臨泣穴也。從臨泣後行一寸，目窗穴也。從目窗後行一寸，正營穴也。從正營後行一寸五分，承靈穴也。從承靈後行一寸五分，腦空穴也。從腦空下行耳後，下發際陷中，大筋外廉，按之引於耳中，風池穴也。</p>
<p>從風池下行肩上，會其支者，合缺盆上大骨前一寸半，以三指按取，當中指下陷中，肩井穴也。從肩井下行腋下三寸宛宛中，舉臂取之，淵液穴也。從淵液下行，復前一寸三肋端，橫直蔽骨旁七寸五分半，直兩乳，側臥屈上足取之，輒筋穴也。從輒筋行乳下二肋端縫下五分，日月穴也。從日月行監骨腰中季肋本，俠脊臍上五分，旁開九寸半，側臥屈上足伸下足舉臂取之，京門穴也。從京門下行季脅下一寸八分陷中，臍上二分，旁開八寸半，帶脈穴也。從帶脈下三寸，五樞穴也。從五樞下行，過肝經之章門穴下五寸三分，維道穴也。從維道下行三寸，監骨上陷中，居髎穴也。從居髎下行髀樞中，側臥伸下足屈上足取之，環跳穴也。</p>
<p>從環跳下行膝上外廉兩筋中，以手著腿中指盡處，風市穴也。從風市下髀骨外，膝上外廉五寸，分肉間陷中，中瀆穴也。從中瀆下行膝上二寸，犢鼻外陷中，陽關穴也。從陽關下行膝下一寸，外廉陷中，尖骨前筋骨間，蹲坐取之，陽陵泉穴也。從陽陵泉下行，足外踝上七寸，內斜三陽分肉間，陽交穴也。從陽交行外踝上七寸外斜，外丘穴也。從外丘下行外踝上五寸；光明穴也。從光明下行一寸，輔骨前絕骨端，內斜三分，陽輔穴也。從陽輔下行三寸，外踝骨尖內動脈中，尋按取之，懸鐘穴也。從懸鐘行外踝下，斜前陷中，丘墟穴也。從丘墟下行三寸，在足小指四指本節後，足跗間陷中，臨泣穴也。從臨泣下行五分，足小指四指本節後間陷中，地五會穴也。從地五會下行一寸，足小指四指本節前，岐骨間陷中，俠谿穴也。從俠谿下行足小指四指外側端，去爪甲角如韭葉，竅陰穴也。</p>
<figure>
<img alt="膽經穴圖">
</figure>

<h2>肝臟經文</h2>
<p>經云：肝者，將軍之官，謀慮出焉。又云：肝居膈下，上著脊之九椎下。是經常多血少氣。其合筋也，其榮爪也。主藏魂，開竅於目。其繫上絡心肺，下亦無竅。</p>
<p>《難經》曰：肝重二斤四兩，左三葉右四葉，凡七葉。肝之為臟，其治在左，其臟在右脅右腎之前，並胃著脊之第九椎。</p>
<figure>
<img alt="足厥陰肝臟圖">
</figure>

<h3>肝經循行經文</h3>
<p>肝足厥陰之脈，起於大指聚毛之上，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上膕內廉，循股陰入毛中，過陰器，抵小腹，俠胃，屬肝，絡膽，上貫膈，布脅，循喉嚨之後，上入頏顙，連目系，上出額與督脈會於顛。其支者，從目系下頰裡，環唇內；其支者，復從肝別貫膈，上注肺。</p>
<figure>
<img alt="肝經循行圖">
</figure>

<h3>肝經循行歌</h3>
<p>厥陰足脈肝所終，大指之端毛際叢，足跗上廉太衝分，踝前一寸入中封，上踝交出太陰後，循膕內廉陰股沖，環繞陰器抵小腹，俠胃屬肝絡膽逢，上貫膈里布脅肋，俠喉頏顙目系同，脈上顛會督脈出。支者還生目系中，下絡頰裡環唇內，支者便從膈肺通。</p>
<p><u>【注】</u>　足厥陰肝經之脈，起於足大指聚毛之際大敦行間穴，從行間上循足跗上廉太衝穴，從太衝穴去內踝一寸，至於中封穴也。從中封穴循行內踝五寸，入於蠡溝穴也。從蠡溝上踝七寸中都穴，上內踝八寸，交出於足太陰陰經之後，上踝內廉，膝關曲泉穴也。從曲泉循股陰陰包五里穴，入於毛中之陰廉穴，過陰器入抵小腹，上行於章門穴，從章門循行期門穴，從期門內行，俠胃，屬肝，絡膽，上貫膈，布脅肋，散布於臟腑，循喉嚨之後，上入頏顙，連目系，上額，與督脈會於顛也。其有一支者，不上會於顛，但從目下頰裡環唇內。又一支復從肝別貫膈，上注於肺，以交於手太陰肺經也。</p>

<h3>肝經穴歌</h3>
<p>足厥陰經一十四，大敦行間太衝是，中封蠡溝伴中都，膝關曲泉陰包次，五里陰廉上急脈，章門才過期門至。</p>

<h3>肝經分寸歌</h3>
<p>大敦足大端外側，行間兩指縫中間，太衝本節後二寸，中封內踝前一寸，蠡溝踝上五寸是，中都上行二寸中，膝關犢鼻下二寸，曲泉曲膝盡橫紋。陰包膝上行四寸，氣衝三寸下五里，陰廉氣衝下二寸，急脈毛際旁二五，厥陰大絡系睪丸，章門臍上二旁六，期門從章斜行乳，直乳二肋端縫已。</p>
<p><u>【注】</u>　大敦穴，在足大指端，去爪甲後如韭葉許，外側聚毛中，是其穴也。從大敦上行足大指次指歧骨縫間，動脈應手陷中，行間穴也。從行間上行二寸許，足跗間動脈應手陷中，太衝穴也。從太衝上行足內踝前一寸，筋里宛宛中，中封穴也。從中封上行內踝上五寸，蠡溝穴也。從蠡溝上行二寸，當胻骨中，中都穴也。從中都上行，犢鼻下二寸旁陷者中，膝關穴也。從膝關上行膝內輔骨下，大筋上小筋下陷中，屈膝橫紋頭取之，曲泉穴也。</p>
<p>從曲泉上行膝上四寸，股內廉兩筋間，蜷足取之，看膝內側有槽中，陰包穴也。從陰包上行，在足陽明胃經之氣衝穴下三寸，陰股中動脈應手，五里穴也。從五里上行羊矢下，斜里三分，直上氣衝下二寸，動脈陷中，陰廉穴也。</p>
<p>從陰廉上行陰上，中行兩旁相去二寸半，按之隱指而堅，甚按則痛引上下，此厥陰之大絡，為睪之系，急脈穴也。從急脈上行足太陰脾經之大橫穴外，季肋直臍軟骨端，臍上二寸，兩旁開六寸，側臥取肘尖盡處，章門穴也。從章門上行，足陽明胃經之不容穴旁一寸五分，上直乳第二肋端，期門穴也。</p>
<figure>
<img alt="肝經穴圖">
</figure>

<h1>卷六</h1>

<h2>奇經八脈總歌</h2>
<p>正經經外是奇經，八脈分司各有名。任脈任前督於後，衝起會陰腎同行，陽蹺跟外膀胱別，陰起跟前隨少陰，陽維維絡諸陽脈，陰維維絡在諸陰，帶脈圍腰如束帶，不由常度號奇經。</p>
<p><u>【注】</u>　脈有奇常。十二經者，常脈也；奇經則不拘於常，故謂之奇也。蓋人之氣血，常行於十二經脈。經脈滿溢，流入他經，別道而行，故名奇經。奇經有八，曰：任、督、沖、帶、陽蹺、陰蹺、陽維、陰維是也。任脈任於前，督脈督於後。衝脈為諸脈之海，帶脈猶身之束帶。陽蹺為足太陽之別，陰蹺為足少陰之別。陽維則維絡諸陽，陰維則維絡諸陰。陰陽相維，諸經乃調。故此八脈，譬猶圖設溝渠，以備水潦，斯無濫溢之患。人有奇經亦若是也。</p>

<h3>任脈循行經文</h3>
<p>《素問·骨空論》曰：任脈者，起於中極之下。以上毛際，循腹裡，上關元，至咽喉，上頤、循面、入目。</p>
<figure>
<img alt="任脈循行圖">
</figure>
<p>《靈樞·五音五味篇》曰：衝脈任脈皆起於胞中，上循背裡為經絡之海。其浮而外者，循腹上行，會於咽喉，別而絡口唇。</p>

<h3>任脈循行歌</h3>
<p>任脈起於中極下，會陰腹裡上關元，循內上行會衝脈，浮外循腹至喉咽，別絡口唇承漿已，過足陽明上頤間，循面入目至睛明，交督陰脈海名傳。</p>
<p><u>【注】</u>　任脈者，起於中極之下。中極者，穴名也。在少腹聚毛處之上毛際也。中極之下，謂曲骨之下會陰穴也。以上毛際，循腹裡上關元者，謂從會陰循內上行，會於衝脈，為經絡之海也。其浮而外者，循腹上行，至於咽喉，別絡口唇，至承漿而終。上頤循面入目至睛明者，謂不直交督脈，由足陽明承泣穴上頤循面，入目內眥之足太陽睛明穴，始交於督脈，總為陰脈之海也。</p>

<h3>任脈穴歌</h3>
<p>任脈中行二十四，會陰潛伏兩陰間，曲骨之前中極在，關元石門氣海邊，陰交神闕水分處，下脘建里中脘前，上脘巨闕連鳩尾，中庭膻中玉堂聯，紫宮華蓋循璇璣，天突廉泉承漿端。</p>

<h3>任脈分寸歌</h3>
<p>任脈會陰兩陰間，曲骨毛際陷中安，中極臍下四寸取，關元臍下三寸連，臍下二寸名石門，臍下寸半氣海全。臍下一寸陰交穴，臍之中央即神闕，臍上一寸為水水，臍上二寸下脘列，臍上三寸名建里，臍上四寸中脘許，臍上五寸上脘在，巨闕臍上六寸五，鳩尾蔽骨下五分，中庭膻下寸六取，膻中卻在兩乳間，膻上寸六玉堂主，膻上紫宮三寸二，膻上華蓋四八舉（四寸八分），膻上璇璣五寸八，璣上一寸天突起，天突喉下約四寸，廉泉頷下骨尖已，承漿頤前唇稜下，任脈中央行腹裡。</p>
<p><u>【注】</u>　會陰穴，在前陰後陰之中間，任、督、沖三脈所起，督由會陰而行背，任由會陰而行腹，沖由會陰而行足也。從會陰上行，橫骨上毛際陷中，動脈應手，臍下五寸，曲骨穴也。從曲骨上行，在臍下四寸，中極穴也。從中極上行，在臍下三寸，即關元穴也。從關元上行，在臍下二寸，石門穴也。從石門上行，在臍下一寸五分宛宛中，氣海穴也。從氣海上行，在臍下一寸，陰交穴也。從陰交上行，當臍之中，神闕穴也。從神闕上行，臍上一寸，水分穴也。從水分上行，臍上二寸，下脘穴也。從下脘上行，臍上三寸，建里穴也。從建里上行，在臍上四寸，中脘穴也。從中脘上行，在臍上五寸，上脘穴也。從上脘上行，在兩歧骨下二寸，巨闕穴也。</p>
<p>從巨闕上行一寸，鳩尾穴也。從鳩尾上行一寸陷中，中庭穴也。從中庭上行一寸六分，膻中穴也。從膻中上行一寸六分陷中，玉堂穴也。從玉堂上行一寸六分陷中，紫宮穴也。從紫宮上行一寸六分陷中，華蓋穴也。從華蓋上行一寸陷中，璇璣穴也。從璇璣上行一寸，天突穴也。從天突上行，在頷下結喉上中央舌本下，仰而取之，廉泉穴也。從廉泉上行，在頤前下唇稜下陷中，承漿穴也。</p>
<figure>
<img alt="任脈穴圖">
</figure>

<h3>督脈循行經文</h3>
<p>《素問·骨空論》曰：督脈者，起於少腹以下骨中央。女子入系廷孔，其孔，尿孔之端也，其絡循陰器，合篡間，繞篡後。別繞臀，至少陰與巨陽中絡者，合少陰上股內後廉，貫脊，屬腎。與太陽起於目內眥，上額，交顛上，入絡腦，還出別下項，循肩髆，內俠脊，抵腰中，入循膂，絡腎。其男子循莖，下至篡，與女子等。其少腹直上者，貫臍中央，上貫心，入喉，上頤、環唇，上系兩目之下中央。</p>
<figure>
<img alt="督脈循行圖">
</figure>

<h3>督脈循行歌</h3>
<p>督脈少腹骨中央，女子入系尿孔疆，男子之絡循陰器，繞篡之後別臀方，至少陰者循腹裡，會任直上關元行，屬腎會沖街腹氣，入喉上頤環唇當，上系兩目中央下，始合內眥絡太陽，上額交顛入絡腦，還出下項肩髆場，俠脊抵腰入循膂，絡腎莖篡等同鄉，此是申明督脈路，總為陽脈之督綱。</p>
<p><u>【注】</u>　督脈者，起於少腹下骨中央，謂男女少腹以下，橫骨內之中央，即女子入系廷孔之端，男子陰器合篡間也。男子陰莖盡處，精室孔、尿孔合併一路，合篡處也，即女子胞孔、尿孔合併之處。廷孔之端，即下文曰：與女子等也。其絡循陰器，合篡間，繞篡後行，是謂本絡外合太陽中絡也。別絡繞臀，是謂別絡內並少陰腹裡也。故經曰：至少陰與巨陽中絡者，合也。至少陰者，循行上股內後廉，循腹裡，與任脈上會於關元，貫脊屬腎，俠腎上行，與衝脈會於腹氣之街。故經曰：自少腹直上，貫臍中央，上貫心入喉，上頤環唇，內行至督脈齦交而終，外行系兩目之下中央，循行目內眥，會於太陽。故經曰：與太陽起於目內眥，上額交顛上，入絡腦，還出別下項，循肩髆內俠脊，抵腰中，入循膂，絡腎，復會於少陰，此督脈之循行也。</p>

<h3>督脈穴歌</h3>
<p>督脈行脈之中行，二十八穴始長強，腰俞陽關入命門，懸樞脊中中樞長。筋縮至陽歸靈臺，神道身柱陶道開，大椎啞門連風府，腦戶強間後頂排。百會前頂通囟會，上星神庭素髎對，水溝兌端在唇上，齦交上齒縫之內。</p>

<h3>督脈分寸歌（附：督脈解）</h3>
<p>尾閭骨端是長強，二十一椎腰俞當，十六陽關十四命，三一懸樞脊中央，十椎中樞筋縮九，七椎之下乃至陽，六靈五身三身柱，陶道一椎之下鄉，一椎之上大椎穴，上至髮際啞門行，風府一寸宛中取，腦戶二五枕之方，再上四寸強間位，五寸五分後頂強，七寸百會頂中取，耳尖前後發中央，前頂前行八寸半，前行一尺囟會量，一尺一寸上星位，前發尺二神庭當，鼻端準頭素髎穴，水溝鼻下人中藏，兌端唇上端上取，齦交唇內齒縫鄉。</p>
<p><u>【注】</u>　督脈之別，起於長強者，即繞篡後，外合太陽，循行尾閭間，長強穴也。俠膂上項，散頭上，下當肩左右，別走太陽，入貫膂，謂督脈循外而上行也。故《難經》曰：起於下極之俞。即長強尾閭間也。並於脊裡，即俠脊也。上至風府，入屬於腦，即上項散頭也。從長強貫脊上行二十一椎下，腰俞穴也。十六椎下，陽關穴也。十四椎下，命門穴也。十三椎下，懸樞穴也。十一椎下，脊中穴也。十椎下，中樞穴也。九椎下，筋縮穴也。七椎下，至陽穴也。六椎下，靈臺穴也。五椎下，神道穴也。三椎下，身柱穴也。一椎下，陶道穴也。一椎之上，大椎穴也。上至上髮際，啞門穴也。從啞門入髮際，風府穴也。從風府上行一寸五分枕骨上，腦戶穴也。從腦戶上行一寸五分，強間穴也。從強間上行一寸五分，後頂穴也。從後頂上行一寸五分，直兩耳尖頂陷中，百會穴也。從百會前行一寸五分，前頂穴也。從前頂前行一寸五分，囟會穴也。從囟會又前行一寸，上星穴也。從上星至前髮際，神庭穴也。前後髮際，合骨度共一尺二寸也。從前髮際下至鼻端準頭，素穴也。鼻柱下溝中央近鼻孔陷中，水溝穴也。唇上端，兌端穴也。唇內齒上齦縫中，齦交穴也。凡二十八穴，循行背之中行者也。</p>
<figure>
<img alt="督脈穴圖">
</figure>
<p><u>【按】</u>　督脈始於長強者，本自《靈樞·經脈篇》曰：督脈之別名長強，俠膂上項，散頭上下，當肩胛左右，別走太陽，入貫膂。《難經》二十八難曰：督脈者，起於下極之俞，並於脊裡之上，至風府入屬於腦，乃指穴而言也。前論督脈起於少腹者，是指循行而言也。</p>

<h3>衝脈循行經文</h3>
<p>《素問·骨空論》曰：衝脈者，起於氣街，並少陰之經，俠臍上行，至胸中而散。</p>
<figure>
<img alt="衝脈循行圖">
</figure>
<p>《靈樞·衛氣篇》曰：請言氣街。胸氣有街，腹氣有街，頭氣有街，脛氣有街。故氣在頭者，止之於腦；氣在胸者，止之膺與背俞；氣在腹者，止之背俞。與衝脈在臍之左右之動脈者，氣在脛者，止之於氣街，與承山踝上。</p>

<h3>衝脈循行歌</h3>
<p>衝脈起於腹氣街，後天宗氣氣衝來，並於先天之真氣，相併俠臍上胸街，大氣至胸中而散，會合督任充身懷，分布臟腑諸經絡，名之曰海不為乖。</p>
<p><u>【注】</u>　衝脈者，起於氣街，是起於腹氣之街也。名曰氣街者，是謂氣所行之街也。一身之大氣，積於胸中者，有先天之真氣，是所受者，即人之腎間動氣也；有後天之宗氣，是水穀所化者，即人之胃氣也。此所謂起於腹氣之街者，是起胃中谷氣也；並於少陰者，是並於腎間動氣也。其真氣與穀氣相併，俠臍上行，至胸中而散，是謂大氣至胸中，分布五臟六腑諸經，而充身者也。《靈樞·逆順肥瘦篇》曰：衝脈者五臟六腑之海也，五臟六腑皆稟氣焉。《靈樞·動俞篇》又曰：衝脈者十二經之海也，與少陰之大絡，起於腎下，出於氣街。《靈樞·五音五味篇》又曰：衝脈任脈皆起於胞中者，即此之起於腎下之謂也。而謂起於腎下者，即並於少陰之經，腎間動氣上行也。《素問·骨空論》曰：衝脈起於氣衝者，即此出於氣街之謂也。不曰起而曰出者，謂穀氣由陽明胃經出，而會於氣街也。</p>

<h3>衝脈穴歌</h3>
<p>衝脈俠臍起橫骨，大氣四注肓俞同，商石陰通幽門穴，至胸散布任流行。</p>

<h3>衝脈分寸歌（附：任督沖三脈合解）</h3>
<p>衝脈分寸同少陰，起於橫骨至幽門，上行每穴皆一寸，穴開中行各五分。</p>
<p><u>【注】</u>　衝脈起於足陽明，並於足少陰腹氣之街，俠臍中行左右五分，而上行自少腹下尖陰上橫骨穴，從橫骨穴上行大赫、氣穴、四滿、中注、肓俞、商曲、石關、陰都、通谷、幽門等共十一穴，每穴上行相去各一寸，中行左右各五分。</p>
<figure>
<img alt="衝脈穴圖">
</figure>
<p><u>【按】</u>　任、督、沖三脈，《素問·骨空論》曰：任脈起於中極之下，毛際以上。是外指少腹之分也。循腹裡，是內指胞中也。督脈起於少腹以下骨中央，女子廷孔，男子陰器，合篡貫脊屬腎，亦是外指少腹，內指胞中也。衝脈起於氣街，並少陰之經，亦是指於胞中也。雖未明言胞中，而實未嘗不起於胞中也。是以知任、督、沖三脈，皆起於胞中。然三脈皆後天水穀所化，胃氣出於氣街，會於胞中，與先天腎間動之真氣，並行而充身者也。由此觀之，三脈同出一源無疑矣。故王冰《內經注》、《甲乙經》、《針灸圖經》以任脈循背者謂之督脈；自少腹上謂之任脈，亦謂之督脈，則是以背腹陰陽，別為名目耳。然衝脈亦起於胞中，並足少陰而上行。是任脈、督脈、衝脈乃一源而三岐者。故人身之有腹背，猶天地之有子午；任督之有前後，猶二陸之分陰陽也。胞中者，謂男女丹田之通稱也。在女子謂之女子胞，在男子即精室也。</p>

<h3>帶脈循行經文</h3>
<p>《靈樞·經脈別篇》曰：足少陰上至臑中，別走太陽而合，上至腎，當十四椎，出屬帶脈。</p>
<figure>
<img alt="帶脈循行圖">
</figure>
<p>《二十八難》曰：帶脈者，起於季脅，回身一周。</p>

<h3>帶脈循行歌</h3>
<p>帶脈足少陰經脈，上膕別走太陽經，合腎十四椎屬帶，起於季脅繞身行。</p>
<p><u>【注】</u>　帶脈本由足少陰經之脈，上至膕中，別走太陽而合腎，當十四椎，出屬帶脈，故起於季脅，繞身一周行也。</p>

<h3>帶脈穴歌</h3>
<p>帶起少陽帶脈穴，繞行五樞維道間，京門之下居髎上，周迴季脅束帶然。</p>
<p><u>【注】</u>　足少陰之正脈，出於然谷，循內踝後。其別者入跟中，上腨內，至膕中，別走而合太陽，上至腎之氣穴穴，當十四椎內，與足少陰衝脈會，外與足少陽帶脈合會，而不與衝脈偕行，出於季脅，屬少陽帶脈穴也。故《難經》曰：帶脈者，起於季脅也。回身一周者。謂起於足少陽帶脈穴，循行五樞穴、維道穴，不行居髎穴，回行如帶，故曰帶脈也。</p>

<h3>帶脈分寸歌</h3>
<p>帶脈部分足少陽，季脅寸八是其鄉，由帶三寸五樞穴，過章五三維道當。</p>
<p><u>【注】</u>　帶脈部分，在足少陽經季脅之下一寸八分，即帶脈穴也。從帶脈穴下三寸，即五樞穴也。從五樞下行，過肝經之章門穴下五寸三分，即維道穴也。</p>
<figure>
<img alt="帶脈穴圖">
</figure>

<h3>陽蹺陰蹺脈循行經文</h3>
<p>《靈樞·脈度篇》曰：蹺脈者，少陰之別，起於然谷之後，上內踝之上，直上循陰股，入陰，上循胸裡，入缺盆，上出人迎之前，入頄，屬目內眥，合於太陽、陽蹺而上行。氣並相還，則為濡目，目氣不榮，則目不合。</p>
<figure>
<img alt="陽蹺脈循行圖">
</figure>
<p>《二十八難》曰：陽蹺脈者，起於跟中，循外踝上行，入風池；陰蹺脈者，亦起於跟中，循內踝上行，至咽喉交貫衝脈。</p>

<h3>陽蹺脈循行歌</h3>
<p>陽蹺脈起於跟中，上合三陽外踝行，從脅循肩入頸頄，屬目內眥太陽經。</p>
<p><u>【注】</u>　陽蹺之脈，起於足跟之中，上合三陽外踝上行，從脅少陽居髎之穴，上循肩，入頸頄陽明之肩髃、承泣等穴，屬目內眥而會太陽也。</p>

<h3>陽蹺脈穴歌</h3>
<p>陽蹺脈起申僕陽，居髎肩髃巨骨鄉，臑俞地倉巨髎泣，終於睛明一穴強。</p>

<h3>陽蹺脈分寸歌</h3>
<p>陽蹺脈起足太陽，申脈外踝五分藏，僕參後繞跟骨下，附陽外踝三寸鄉，居監骨上陷取，肩髃一穴肩尖當，肩上上行名巨骨，肩胛之上臑俞坊，口吻旁四地倉位，鼻旁八分巨髎疆，目下七分是承泣，目內眥出睛明昂。</p>
<p><u>【注】</u>　蹺者足也，奇經涉於足者之名也。曰陽者，以其所行陽經也。陽蹺者，謂足太陽經之別脈也，起於足太陽膀胱經，足外踝下五分陷中申脈穴也。從申脈繞後跟骨下，僕參穴也。從僕參穴又前斜足外踝上三寸，附陽穴也。又與足少陽會於季脅軟骨端下八寸三分，居髎穴也。又與手陽明會於膊骨頭肩端上，肩髃穴也。從肩髃穴上行肩尖上兩叉骨，巨骨穴也。又與手足太陽陽維，會於肩後大骨下胛上廉，臑俞穴也。又與手足陽明會於夾口吻旁四分，地倉穴也。從地倉穴行於鼻孔旁八分，巨髎穴也。又與任脈足陽明會於目下七分，承泣穴也。又與手足太陽足陽明陰蹺會於目內眥外一分，睛明穴也。</p>
<figure>
<img alt="陽蹺脈穴圖">
</figure>

<h3>陰蹺脈循行歌</h3>
<p>陰蹺亦起於跟中，少陰之別內踝行，上循陰股入胸腹，上至咽喉至睛明。</p>
<p><u>【注】</u>　陰蹺之脈，亦起於跟中，由少陰別脈然谷之穴，上行內踝，循陰股，入胸腹，上至咽喉、睛明穴，亦會於太陽也。</p>
<figure>
<img alt="陰蹺脈循行圖">
</figure>

<h3>陰蹺脈穴歌</h3>
<p>陰蹺起於然谷穴，上行照海交信列，三穴原本足少陰，足之太陽睛明接。</p>

<h3>陰蹺脈分寸歌</h3>
<p>陰蹺脈起足少陰，足內踝前然谷尋，踝下一寸照海陷，踝上二寸交信真，目內眥外宛中取，睛明一穴甚分明。</p>
<p><u>【注】</u>　陰蹺者，以其所行陰經，為足少陰之別脈也。起於足少陰腎經，足內踝前大骨下陷中，然谷穴也。從然谷穴循內踝之下一寸，照海穴也。從照海穴不循太谿穴，又郄於足內踝之上二寸直行交信穴。從交信穴上循陰股，入陰而行，上循胸裡入缺盆，上出人迎之前，入頄鼻旁，屬目內眥外宛宛中睛明穴，合於太陽、陽蹺，上行氣並相還，則為濡目之用矣。故知陰蹺脈氣，若不與陽蹺脈氣並榮於目，則目不能合也。此陰蹺循行之經脈也。</p>
<figure>
<img alt="陰蹺脈穴圖">
</figure>

<h3>陽維陰維脈循行經文</h3>
<p>《二十八難》曰：陽維陰維者，維絡於身，溢蓄不能環流，灌溢諸經者也。故陽維起於諸陽之會，陰維起於諸陰交也。</p>

<h3>陽維脈循行歌</h3>
<p>陽維脈起足太陽，外踝之下金門疆，從胻背肩項面頭，維絡諸陽會督場。</p>
<p><u>【注】</u>　陽維之脈，起於足太陽經外踝之下金門穴也。從胻骨、背外、肩胛、項旁、面上、頭後至啞門穴，維絡諸陽會於督脈也。</p>
<figure>
<img alt="陽維脈循行圖">
</figure>

<h3>陽維脈穴歌</h3>
<p>陽維脈起穴金門，臑俞天髎肩井深，本神陽白並臨泣，正營腦空風池巡，風府啞門此二穴，項後入發是其根。</p>

<h3>陽維脈分寸歌</h3>
<p>陽維脈起足太陽，外踝一寸金門藏，踝上七寸陽交位，肩後胛上臑俞當，天髎穴在缺盆上，肩上陷中肩井鄉，本神入發四分許，眉上一寸陽白詳，入發五分臨泣穴，上行一寸正營場，枕骨之下腦空位，風池耳後陷中藏，項後入發啞門穴，入發一寸風府疆。</p>
<p><u>【注】</u>　陽維起於諸陽之會者，謂起於足太陽膀胱經之足外踝下一寸金門穴也。從金門穴行於足少陽膽經之足外踝上七寸，陽交穴也。又與手足太陽及蹺脈，會於肩後大骨下胛上廉，臑俞穴也。又與手足少陽會於缺盆中上毖骨際，天髎穴也。又會於肩上陷中，肩井穴也。從肩井穴上頭，與足少陽會於眉上一寸，陽白穴也。從陽白穴上行於目上，直入髮際，本神、臨泣穴也。從臨泣穴上行二寸，正營穴也。從正營穴循行枕骨下，腦空穴也。從腦空穴下行，至耳後大筋外廉，風池穴也。又與督脈會於項後風府、啞門穴，此陽維脈氣所發也。</p>
<figure>
<img alt="陽維脈穴圖">
</figure>

<h3>陰維脈循行歌</h3>
<p>陰維脈起足少陰，內踝上行穴築賓，循腹至乳上結喉，維絡諸陰會於任。</p>
<p><u>【注】</u>　陰維之脈，起於足少陰經內踝上行築賓之穴，循腹至乳上結喉，至廉泉穴，維絡諸陰，會於任脈也。</p>
<figure>
<img alt="陰維脈循行圖">
</figure>

<h3>陰維脈穴歌</h3>
<p>陰維之穴起築賓，府舍大橫腹哀循，期門天突廉舌本，此是陰維脈維陰。</p>

<h3>陰維脈分寸歌</h3>
<p>陰維脈起足少陰，內踝之後尋築賓，少腹之下稱府舍，大橫平臍是穴名，此穴去中三寸半，行至乳下腹哀明，期門直乳二肋縫，天突結喉下一寸。</p>
<p><u>【注】</u>　陰維起於諸陰之交者，謂起於足少陰腎經之足內踝後，上分中，名曰築賓穴也。與足太陰交於少腹下，去腹中行三寸半，府舍穴也。又平臍雲中行三寸半，大橫穴也。又行至乳下二肋端縫之下二寸，腹哀穴也。又與足厥陰交於乳下二肋端縫，期門穴也。又與任脈交於結喉下一寸宛宛中，天突穴也。從天突穴上行，在頷下結喉上中央舌本下，廉泉穴，此陰維脈氣所發也。</p>
<figure>
<img alt="陰維脈穴圖">
</figure>

<h1>卷七</h1>

<h2>頭部主病針灸要穴歌</h2>
<p>百會主治卒中風，兼治癲癇兒病驚，大腸下氣脫肛病，提補諸陽氣上升。</p>
<p><u>【注】</u>　百會穴，提補陽氣上升。主治大人中風，痰火癲癇，小兒急慢驚風，大腸下氣，脫肛等證。針二分，灸五壯。</p>
<p>神庭主灸羊癇風，目眩頭痛灸腦空，翳風專刺耳聾病，兼刺瘰癧項下生。</p>
<p><u>【注】</u>　神庭穴，主治風癇，羊癲。灸三壯，禁針刺。腦空穴，主治偏正頭疼，目眩。刺四分，灸五壯。翳風穴，主治耳聾及瘰癧。《針經》云：先將銅錢約二十文，令患者咬之，尋取穴中。針三分，禁灸。</p>
<p>上星通天主鼻淵，瘜肉痔塞灸能痊，兼治頭風目諸疾，炷如小麥灼相安。</p>
<p><u>【注】</u>　上星、通天二穴，主治鼻淵，鼻塞，瘜肉，鼻痔。左鼻灸右，右鼻灸左，左右鼻俱病者，左右俱灸。灸後鼻中當去一塊，形如朽骨狀，其病自愈。兼治頭風目疾等證也。上星穴宜刺三分，留六呼，灸五壯。一云宜三稜針出血，以瀉諸陽之熱氣。通天穴宜刺三分，留七呼，灸三壯。其壯如小麥大，始相宜也。</p>
<p>啞門風府只宜刺，中風舌緩不能言，頸項強急及瘈瘲，頭風百病與傷寒。</p>
<p><u>【注】</u>　啞門、風府二穴，主治中風舌緩，暴喑不語，傷風傷寒，頭痛項急不得回顧及抽搐等病。啞門穴針二分，不可深入，禁灸。風府穴針三分，留三呼，禁灸。</p>
<p>頭維主刺頭風疼，目痛如脫淚不明，禁灸隨皮三分刺，兼刺攢竹更有功。</p>
<p><u>【注】</u>　頭維、攢竹二穴，主治頭風疼痛如破，目痛如脫，淚出不明。頭維穴隨皮針三分，禁灸。攢竹穴刺一分，留六呼，禁灸。隨皮者，針入即眠，針隨皮刺去也。</p>
<p>率谷酒傷吐痰眩，風池主治肺中寒，兼治偏正頭疼痛，頰車落頰風自痊。</p>
<p><u>【注】</u>　率谷穴，主治傷酒嘔吐痰眩。刺三分，灸三壯。風池穴，治肺受風寒及偏正頭風。刺四分，灸三壯，七壯。炷宜小。頰車穴，治落頰風，落頰風者，下頦脫落也。刺三分，灸三壯。炷如小麥。</p>
<p>臨泣主治鼻不通，眵䁾冷淚雲翳生，驚癇反視卒暴厥，目晡發瘧脅下疼。</p>
<p><u>【注】</u>　臨泣穴，主治鼻塞目眩，生翳眵䁾眼目諸疾，及驚癇反視，卒暴痰厥，瘧疾晚發等病。刺三分，留七呼，禁灸。</p>
<p>水溝中風口不開，中惡癲癇口眼歪，刺治風水頭面腫，灸治兒風急慢災。</p>
<p><u>【注】</u>　水溝穴，主治中風口噤，牙關不開，卒中惡邪鬼擊，不省人事，癲癇卒倒，口眼歪邪，風水面腫，及小兒急慢驚風等病。刺三分，留六呼，灸三壯至七壯，炷如小麥。然灸不及針。</p>
<p>承漿主治男七疝，女子瘕聚兒緊唇，偏風不遂刺之效，消渴牙疳灸功深。</p>
<p><u>【注】</u>　承漿穴，主治男子諸疝，女子瘕聚，小兒撮口，及偏風半身不遂，口眼喎邪，口噤不開，消渴飲水不休，口齒疳蝕生瘡等證。刺二分，留五呼，灸三壯。</p>
<p>迎香主刺鼻失臭，兼刺面癢若蟲行，先補後瀉三分刺，此穴須知禁火攻。</p>
<p><u>【注】</u>　迎香穴，主治鼻塞不聞香臭，浮腫風動，面癢狀如蟲行等證。針三分，禁灸。</p>
<p>口眼歪邪灸地倉，頰腫唇弛牙噤強，失音不語目不閉，瞤動視物目䀮䀮。</p>
<p><u>【注】</u>　地倉穴，主偏風口眼歪邪，牙關不開，齒痛頰腫，目不能閉，唇緩不收，飲食難進，失音不語，眼目瞤動，視物䀮䀮，昏夜無見等證。刺三分，留五呼，灸七壯，或二七壯，重者七七壯俱可。</p>
<p>聽會主治耳聾鳴，兼刺迎香功最靈，中風瘈瘲喎斜病，牙車脫臼齒根疼。</p>
<p><u>【注】</u>　聽會穴，主治耳聾耳鳴，牙車脫臼，齒痛，中風，瘈瘲，喎邪等證。針四分，灸三壯。兼瀉迎香，功效如神。迎香穴，針三分，禁灸。</p>
<p>聽宮主治耳聾鳴，睛明攢竹目昏蒙，迎風流淚眥癢痛，雀目攀睛白翳生。</p>
<p><u>【注】</u>　聽宮穴，主治耳內蟬鳴，耳聾。刺三分，灸三壯。睛明、攢竹二穴，主治目痛視不明，迎風淚，胬肉攀睛，白翳眥癢，雀目諸證。睛明穴針分半，留六呼，禁灸。攢竹穴治證同前，刺三分，留六呼，禁灸。</p>
<figure>
<img alt="前面要穴圖">
</figure>
<figure>
<img alt="後頭要穴圖">
</figure>

<h2>胸腹部主病針灸要穴歌</h2>
<p>膻中穴主灸肺癰，咳嗽哮喘及氣癭，巨闕九種心疼病，痰飲吐水息賁寧。</p>
<p><u>【注】</u>　膻中穴，主治哮喘，肺癰，咳嗽，氣癭等證。灸七壯，禁針。巨闕穴，主治九種心痛、痰飲吐水、腹痛息賁等證。針三分，留七呼，灸七壯。</p>
<p>上脘奔豚與伏梁，中脘主治脾胃傷，兼治脾痛瘧痰暈，痞滿翻胃盡安康。</p>
<p><u>【注】</u>　上脘穴，主治腎積奔豚，心積伏梁之證。針八分，留七呼，灸五壯。《千金》云：每日灸二七壯至百壯。孕婦不可灸。中脘穴，主治內傷脾胃，心脾痛，瘧疾痰暈，痞滿翻胃等證。針八分，灸七壯。一云：二七壯至百壯。孕子不可灸。</p>
<p>水分脹滿臍突硬，水道不利灸之良，神闕百病老虛瀉，產脹溲難兒脫肛。</p>
<p><u>【注】</u>　水分穴，主治鼓脹堅硬，肚臍突出，小便不利。灸五壯，禁針。孕婦不可灸。神闕穴，主治百病及老人虛人泄瀉，又治產後腹脹，小便不通，小兒脫肛等證。灸三壯，禁針。一法：納炒乾淨鹽填滿臍上，加厚姜一片蓋定，上加艾炷，灸百壯，或以川椒代鹽亦妙。</p>
<p>氣海主治臍下氣，關元諸虛瀉濁遺，中極下元虛寒病，一切痼冷總皆宜。</p>
<p><u>【注】</u>　氣海穴，主治一切氣疾，陰證痼冷及風寒暑溫，水腫，心腹鼓脹，諸虛，癥瘕等證。針八分，灸五壯。關元穴，主治諸虛腎積，及虛老人泄瀉，遺精，白濁等證。針八分，留七呼，灸七壯。《千金》云：婦人針之則無子。中極穴，主治下元寒冷虛損，及婦人月事不調，赤白帶下。針八分，留十呼，灸三壯。孕婦不可灸。</p>
<p>膺腫乳癰灸乳根，小兒龜胸灸亦同，嘔吐吞酸灸日月，大赫專治病遺精。</p>
<p><u>【注】</u>　乳根穴，主治胸前腫，乳癰，小兒龜胸等證，針三分，灸三壯。日月穴，主治嘔吐吞酸。針七分，灸五壯。大赫穴，主治遺精。針三分，灸五壯。</p>
<p>天樞主灸脾胃傷，脾瀉痢疾甚相當，兼灸鼓脹癥瘕病，艾火多加病必康。</p>
<p><u>【注】</u>　天樞穴，主治內傷脾胃，赤白痢疾，脾瀉及臍腹鼓脹，癥瘕等證。針五分，留七呼，灸五壯。《千金》云：魂魄之舍不可針，孕婦不可灸。</p>
<p>章門主治痞塊病，但灸左邊可拔根，若灸腎積臍下氣，兩邊齊灸自然平。</p>
<p><u>【注】</u>　章門穴，主治痞塊，多灸左邊，腎積灸兩邊。針六分，留六呼，灸三壯。一云百壯。</p>
<p>期門主治奔豚病，上氣咳逆胸背疼，兼治傷寒脅硬痛，熱入血室刺有功。</p>
<p><u>【注】</u>　期門穴，主治奔豚上氣，咳逆胸滿，胸背徹痛，胸痛腹硬，及傷寒熱入血室。針四分，灸五壯。</p>
<p>帶脈主灸一切疝，偏墜木腎盡成功，兼灸婦人濁帶下，丹田溫暖自然停。</p>
<p><u>【注】</u>　帶脈穴，主治疝氣偏墜木腎，及婦人赤白帶下等證。針六分，灸五壯。</p>
<figure>
<img alt="胸腹要穴圖">
</figure>

<h2>背部主病針灸要穴歌</h2>
<p>腰俞主治腰脊痛，冷痹強急動作難，腰下至足不仁冷，婦人經病尿赤痊。</p>
<p><u>【注】</u>　腰俞穴，主治腰脊重痛，舉動不得，俯仰艱難，腰以下至足冷痹不仁，及婦人經閉，尿血等證。刺二分，留七呼，灸五壯。</p>
<p>至陽專灸黃疸病，兼灸痞滿喘促聲，命門老虛腰痛證，更治脫肛痔腸風。</p>
<p><u>【注】</u>　至陽穴，主治身面俱黃，胸脅支滿，喘促不寧。針五分，灸三壯。命門穴，主治老人腎虛腰疼。及久痔脫肛，腸風下血等證。針五分，灸三壯。若年二十以上者不宜灸，灸恐絕子。</p>
<p>膏肓一穴灸勞傷，百損諸虛無不良，此穴禁針惟宜艾，千金百壯效非常。</p>
<p><u>【注】</u>　膏肓穴，主治諸虛百損，五勞七傷，身形羸瘦，夢遺失精，上氣咳逆，痰火發狂，健忘，怔忡，胎前、產後勞瘵、傳屍等證。灸七七壯至百壯。</p>
<p>大杼主刺身發熱，兼刺瘧疾咳嗽痰，神道惟灸背上病，怯怯短氣艾火添。</p>
<p><u>【注】</u>　大杼穴，主治遍身發熱，瘧疾，咳嗽多痰。針五分，禁灸。神道穴，主治背上冷痛，怯怯短氣。灸七壯，禁針。</p>
<p>風門主治易感風，風寒痰嗽吐血紅，兼治一切鼻中病，艾火多加嗅自通。</p>
<p><u>【注】</u>　風門穴，主治腠理不密，易感風寒，咳嗽吐痰，咯血鼻衄，及一切鼻中諸病。針三分，灸五壯。</p>
<p>肺俞內傷嗽吐紅，兼灸肺痿與肺癰，小兒龜背亦堪灸，肺氣舒通背自平。</p>
<p><u>【注】</u>　肺俞穴，主治內傷外感，咳嗽吐血，肺痿，肺癰，小兒龜背。針三分，留七呼，灸三壯。</p>
<p>膈俞主治胸脅痛，兼灸痰瘧痃癖攻，更治一切失血證，多加艾灼總收功。</p>
<p><u>【注】</u>　膈俞穴，主治胸脅疼痛，痰瘧痃癖，一切血痰。灸三壯，禁針。</p>
<p>肝俞主灸積聚痛，兼灸氣短語聲輕，更同命門一併灸，能使瞽目復重明。</p>
<p><u>【注】</u>　肝俞穴，主治左脅積聚疼痛，氣短不語。若同命門穴一併灸之，即兩目昏暗者，可使復明。肝俞穴灸七壯，禁針。命門穴針五分，灸三壯。</p>
<p>膽俞主灸脅滿嘔，驚悸臥睡不能安，兼灸酒疸目黃色，面發赤斑灸自痊。</p>
<p><u>【注】</u>　膽俞穴，主治兩脅脹滿，乾嘔，驚悸，睡臥不安及酒疸，目睛發黃，面發赤斑等證。灸三壯，禁針。</p>
<p>脾俞主灸傷脾胃，吐瀉瘧痢疸瘕癥，喘急吐血諸般證，更治嬰兒慢脾風。</p>
<p><u>【注】</u>　脾俞穴，主治內傷脾胃，吐瀉瘧痢，黃疸，食積，癥瘕，吐血，喘急，及小兒慢脾風證。灸五壯，禁針。</p>
<p>三焦俞治脹滿疼，積塊堅硬痛不寧，更治赤白休息痢，刺灸此穴自然輕。</p>
<p><u>【注】</u>　三焦俞穴，主治脹滿積塊，堅硬疼痛，及赤、白痢疾不止等證。針二分，灸五壯。</p>
<p>胃俞主治黃疸病，食畢頭目即暈眩，瘧疾善飢不能食，艾火多加自可痊。</p>
<p><u>【注】</u>　胃俞穴，主治黃疸，食畢頭眩，瘧疾，善飢不能食等證。針三分，灸三壯。</p>
<p>腎俞主灸下元虛，令人有子效多奇，兼灸吐血聾腰痛，女疸婦帶不能遺。</p>
<p><u>【注】</u>　腎俞穴，主治下元諸虛，精冷無子，及耳聾，吐血，腰痛，女勞疸，婦人赤、白帶下等證。灸三壯，禁針。</p>
<p>大腸俞治腰脊疼，大小便難此可通，兼治泄瀉痢疾病，先補後瀉要分明。</p>
<p><u>【注】</u>　大腸俞穴，主治腰脊疼痛，大小便不通，及泄瀉，痢疾等證。針三分，灸三壯。</p>
<p>膀胱俞治小便難，少腹脹痛不能安，更治腰脊強直痛，艾火多添疾自痊。</p>
<p><u>【注】</u>　膀胱俞穴，主治小便不通，少腹脹痛，及腰脊強直疼痛等證。針三分，灸七壯。</p>
<p>譩譆主治久瘧病，五臟瘧灸臟俞平，意舍主治脅滿痛，兼療嘔吐立時寧。</p>
<p><u>【注】</u>　譩譆俞穴，主治久瘧。若五臟瘧，灸五臟俞。五臟俞者，心、肝、脾、肺、腎俞也。俱針六分，灸二七壯。意舍穴，主治兩脅脹滿，疼痛嘔吐。針五分，灸三壯。</p>
<p>身柱主治羊癇風，咳嗽痰喘腰背疼，長強惟治諸般痔，百勞穴灸汗津津。</p>
<p><u>【注】</u>　身柱穴，主治風癇發狂，咳嗽痰喘，腰背疼痛等證。針五分，灸七七壯。長強穴，主治諸般痔漏疼痛。針三分，灸三十壯。百勞穴，主治滿身發熱，虛汗盜汗津津不止。針五分，留三呼，瀉五吸，灸以年為壯。</p>
<figure>
<img alt="背部要穴圖">
</figure>

<h2>手部主病針灸要穴歌</h2>
<p>尺澤主刺肺諸疾，絞腸痧痛鎖喉風，傷寒熱病汗不解，兼刺小兒急慢風。</p>
<p><u>【注】</u>　尺澤穴，主治咳唾膿血，喉痹，肺積息賁，及絞腸痧痛，傷寒汗不出，小兒急慢驚風等證。刺三分，或三稜針出血，禁灸。</p>
<p>列缺主治嗽寒痰，偏正頭疼治自痊，男子五淋陰中痛，尿血精出灸便安。</p>
<p><u>【注】</u>　列缺穴，主治咳嗽寒痰，偏正頭疼，及男子淋漓，陰中疼痛，尿血精出等證。針二分，灸七壯，炷如小麥。</p>
<p>經渠主刺瘧寒熱，胸背拘急脹滿堅，喉痹咳逆氣數欠，嘔吐心疼亦可痊。</p>
<p><u>【注】</u>　經渠穴，主治咳瘧寒熱，胸背拘急膨脹，喉痹，咳逆上氣數欠，嘔吐心疼等證。針二分，禁灸。</p>
<p>太淵主刺牙齒病，腕肘無力或痛疼，兼刺咳嗽風痰疾，偏正頭疼效若神。</p>
<p><u>【注】</u>　太淵穴，主治牙齒疼痛，手腕無力疼痛，及咳嗽風痰，偏正頭疼等證。針二分，灸三壯。</p>
<p>魚際主灸牙齒痛，在左灸左右同然，更刺傷寒汗不出，兼治瘧疾方欲寒。</p>
<p><u>【注】</u>　魚際穴，主治牙齒痛，瘧疾初起先覺發寒，傷寒汗不出等證。針二分。惟牙痛可灸，餘證禁灸。</p>
<p>少衝主治心膽虛，怔忡癲狂不可遺，少商惟針雙鵝痹，血出喉開功最奇。</p>
<p><u>【注】</u>　少衝穴，主治心虛膽寒，怔忡癲狂。針一分，灸三壯。少商穴，主治雙鵝風，喉痹。以三稜針刺微出血，禁灸。</p>
<p>少海主刺腋下瘰，漏臂痹痛羊癇風，靈道主治心疼痛，瘈瘲暴喑不出聲。</p>
<p><u>【注】</u>　少海穴，主治腋下瘰癧，漏臂與風吹肘臂疼痛也，及癲癇羊鳴等證。針五分，禁灸。靈道穴，主治心痛，羊癇，瘈瘲，肘攣，暴喑不能言等證。針三分，灸三壯。</p>
<p>通里主治溫熱病，無汗懊憹心悸驚，喉痹苦嘔暴喑啞，婦人經漏過多崩。</p>
<p><u>【注】</u>　通里穴，主治溫病，面熱無汗，懊憹，心悸，驚恐，喉痹，苦嘔，暴喑，聲啞，及婦人經血過多，崩漏等證。針三分，灸三壯。</p>
<p>神門主治悸怔忡，呆癡中惡恍惚驚，兼治小兒驚癇證，金針補瀉疾安寧。</p>
<p><u>【注】</u>　神門穴，主治驚悸怔忡，呆癡，卒中鬼邪，恍惚振驚，及小兒驚癇等證。針三分，留七呼，灸三壯，炷如小麥。</p>
<p>少府主治久咳瘧，肘腋拘急痛引胸，兼治婦人挺痛癢，男子遺尿偏墜疼。</p>
<p><u>【注】</u>　少府穴，主治咳瘧久不愈，臂酸，肘腋攣急，胸中痛，及婦人陰挺，陰癢，陰痛；男子遺尿，偏墜等證。針二分，灸三壯。</p>
<p>曲澤主治心痛驚，身熱煩渴肘掣疼，兼治傷寒嘔吐逆，針灸同施立刻寧。</p>
<p><u>【注】</u>　曲澤穴，主治心痛，善驚，身熱煩渴，臂肘搖動，掣痛不能伸，傷寒，嘔吐，氣逆等證。針三分，留七呼，灸三壯。</p>
<p>間使主治脾寒證，九種心疼瘧渴生，兼治瘰癧生項下，左右針灸自然平。</p>
<p><u>【注】</u>　間使穴，主治脾寒證，九種心痛，脾疼，瘧疾，口渴，及瘰癧久不愈，患左灸右，患右灸左，針六分，留七呼，灸五壯。</p>
<p>內關主刺氣塊攻，兼灸心胸脅痛疼，勞熱瘧疾審補瀉，金針抽動立時寧。</p>
<p><u>【注】</u>　內關穴，主治氣塊上攻心胸，脅肋疼痛，勞熱，瘧疾等證。針五分，灸五壯。</p>
<p>痰火胸疼刺勞宮，小兒口瘡針自輕，兼刺鵝掌風證候，先補後瀉效分明。</p>
<p><u>【注】</u>　勞宮穴，主治痰火胸痛，小兒口瘡及鵝掌風等證。針二分，禁灸。</p>
<p>商陽主刺卒中風，暴僕昏沉痰塞壅，少商中衝關衝少，少澤三稜立回生。</p>
<p><u>【注】</u>　中衝穴，《乾坤生意》云：此為十井穴，凡初中風跌倒，卒暴昏沉，痰盛不省人事，牙關緊閉，藥水不下，急以三稜針刺中衝、少商、商陽、關衝、少衝、少澤，使血氣流通，實起死回生急救之妙訣也。</p>
<p>三里三間並二間，主治牙疼食物難，兼治偏風眼目疾，針灸三穴莫教偏。</p>
<p><u>【注】</u>　三里、三間、二間三穴，主治牙齒疼痛，食物艱難，及偏風眼目諸疾，三穴並針灸之。三里穴針二分，灸三壯。二間穴針三分，灸三壯。三間穴針三分，灸三壯。</p>
<p>合谷主治破傷風，痹痛筋急針止疼，兼治頭上諸般病，水腫產難小兒驚。</p>
<p><u>【注】</u>　合谷穴，主治破傷風，風痹，筋骨疼痛，諸般頭痛，水腫，產難，及小兒急驚風等證。針三分，留六呼，灸三壯。</p>
<p>陽谿主治諸熱證，癮疹痂疥亦當針，頭痛牙痛咽喉痛，狂妄驚中見鬼神。</p>
<p><u>【注】</u>　陽谿穴，主治熱病煩心，癮疹，痂疥，厥逆，頭痛，牙疼，咽喉腫痛，及狂妄，驚恐見鬼等證。針三分，留七呼，灸三壯。</p>
<p>曲池主治是中風，手攣筋急痛痹風，兼治一切瘧疾病，先寒後熱自然平。</p>
<p><u>【注】</u>　曲池穴，主治中風，手攣，筋急，痹風，瘧疾先寒後熱等證。針五分，灸七壯。</p>
<p>肩井一穴治僕傷，肘臂不舉淺刺良，肩髃主治癱瘓疾，手攣肩腫效非常。</p>
<p><u>【注】</u>　肩井穴，主治僕傷，肘臂疼痛不舉。針五分，灸五壯，孕婦禁針。肩髃穴，主治癱瘓，手攣肩腫。針六分，灸五壯。</p>
<p>少澤主治衄不止，兼治婦人乳腫疼，大陵一穴何專主？嘔血瘧疾有奇功。</p>
<p><u>【注】</u>　少澤穴，主治鼻衄不止，婦人乳腫。針一分，灸三壯。大陵穴，主治嘔血，瘧疾。針六分，灸三壯。</p>
<p>前谷主治癲癇疾，頸項肩臂痛難堪，更能兼治產無乳。小海喉齦腫痛痊。</p>
<p><u>【注】</u>　前谷穴，主治癲癇，頸項頰腫引耳疼痛，及婦人產後無乳等證。針一分，留三呼，灸三壯。小海穴，主治咽喉，牙齦腫痛等證。針二分，灸五壯。</p>
<p>腕骨主治臂腕疼，五指諸疾治可平，後谿能治諸瘧疾，能令癲癇漸漸輕。</p>
<p><u>【注】</u>　腕骨穴，主治臂、腕、五指疼痛。針二分，灸三壯。後谿穴，主治瘧疾，癲癇。針一分，灸一壯。</p>
<p>陽谷主治頭面病，手膊諸疾有多般，兼治痔漏陰痿疾，先針後灸自然痊。</p>
<p><u>【注】</u>　陽谷穴，主治頭面項腫，手膊疼痛不舉，及痔漏，陰痿等證。針二分，灸三壯。</p>
<p>支正穴治七情郁，肘臂十指盡皆攣，兼治消渴飲不止，補瀉分明自可安。</p>
<p><u>【注】</u>　支正穴，主治七情鬱結不舒，肘臂十指筋攣疼痛，及消渴飲水不止等證。針三分，灸三壯。</p>
<p>液門主治喉齦腫，手臂紅腫出血靈，又治耳聾難得睡，刺入三分補自寧。</p>
<p><u>【注】</u>　液門穴，主治咽喉外腫，牙齦痛，手臂紅腫，耳暴聾，不得眠等證。針三分，留二呼，灸三壯。</p>
<p>中渚主治肢木麻，戰振蜷攣力不加，肘臂連肩紅腫痛，手背癰毒治不發。</p>
<p><u>【注】</u>　中渚穴，主治四肢麻木、戰振、蜷攣無力，肘臂連肩紅腫疼痛，手背癰毒等證。針二分，灸三壯。</p>
<p>陽池主治消渴病，口乾煩悶瘧熱寒，兼治折傷手腕痛，持物不得舉臂難。</p>
<p><u>【注】</u>　陽池穴，主治消渴，口乾煩悶，寒熱瘧，或因折傷手腕，持物不得，臂不能舉等證。針二分，禁灸。</p>
<p>外關主治臟腑熱，肘臂脅肋五指疼，瘰癧結核連胸頸，吐衄不止血妄行。</p>
<p><u>【注】</u>　外關穴，主治五臟六腑結熱，鼻衄吐血不止，及肘臂脅肋手指節痛，瘰癧結核，繞頸連胸，腫痛不消等證。針三分，留七呼，灸三壯。</p>
<p>支溝中惡卒心痛，大便不通脅肋疼，能瀉三焦相火盛，兼治血脫暈迷生。</p>
<p><u>【注】</u>　支溝穴，主治鬼擊卒心痛，凡三焦相火熾盛及大便不通，脅肋疼痛，婦人產後血暈，不省人事等證。針二分，留七呼，灸七壯。</p>
<p>天井主瀉瘰癧疹，角孫惟主目翳生，耳門耳聾聤耳病，絲竹空穴治頭風。</p>
<p><u>【注】</u>　天井穴，主治瘰癧，癮疹。針三分，灸五壯。角孫穴，主治目中生翳。針三分，灸三壯。耳門穴，主治耳聾；聤耳膿汁。針三分，留三呼，禁灸。絲竹空穴，主治頭痛，目赤目眩，視物䀮䀮。針三分，留三呼，禁灸。</p>
<figure>
<img alt="仰手要穴圖">
</figure>
<figure>
<img alt="覆手要穴圖">
</figure>

<h2>足部主病針灸要穴歌</h2>
<p>隱白主治心脾痛，築賓能醫氣疝疼，照海穴治夜發痓，兼療消渴便不通。</p>
<p><u>【注】</u>　隱白穴，主治心脾疼痛。針一分，灸三壯。築賓穴，主治氣疝。針三分，灸五壯。照海穴，主治夜發痓證，及消渴大便閉。針三分，灸三壯。</p>
<p>大都主治溫熱病，傷寒厥逆嘔悶煩，胎產百日內禁灸，千金主灸大便難。</p>
<p><u>【注】</u>　大都穴，主治溫熱病汗不出，傷寒手足逆冷，腹滿，嘔吐，悶亂，及大便難等證。針三分，留七呼，灸三壯。凡婦人懷孕，及生產後未滿百日，俱不宜灸。</p>
<p>太白主治痔漏疾，一切腹痛大便難，痞疸寒瘧商邱主，兼治嘔吐瀉痢痊。</p>
<p><u>【注】</u>　太白穴，主治痔漏，腹中疼痛，大便不通等證。針三分，留七呼，灸三壯。商白穴，主治痞氣，黃疸，寒瘧及嘔、吐、瀉、痢等證。針三分，留七呼，灸三壯。</p>
<p>公孫主治痰壅膈，腸風下血積塊疴，兼治婦人氣蠱病，先補後瀉自然瘥。</p>
<p><u>【注】</u>　公孫穴，主治痰壅胸膈，腸風下血積塊，及婦人氣蠱等證。針四分，灸三壯。</p>
<p>三陰交治痞滿堅，痼冷疝氣腳氣纏，兼治不孕及難產，遺精帶下淋瀝痊。</p>
<p><u>【注】</u>　三陰交穴，主治痞滿，痼冷，疝氣，遺精，及婦人腳氣，月信不調，久不成孕，難產，赤白帶下淋瀝等證。針三分，灸三壯。</p>
<p>血海主治諸血疾，兼治諸瘡病自輕，陰陵泉治脅腹滿，刺中下部盡皆松。</p>
<p><u>【注】</u>　血海穴，主治女子崩中漏下，月信不調，帶下，及男子腎臟風，兩腿瘡癢濕痛等證。針五分，灸五壯。陰陵泉穴，主治脅腹脹滿，陰痛，足膝紅腫，小便不通，小便失禁不覺，下部等證。針五分，留七呼，灸三壯。</p>
<p>湧泉主刺足心熱，兼刺奔豚疝氣疼，血淋氣痛疼難忍，金針瀉動自安寧。</p>
<p><u>【注】</u>　湧泉穴，主治足發熱，奔豚，疝氣疼痛，血淋，氣痛等證。針三分，留三呼，灸三壯。</p>
<p>然谷主治喉痹風，咳血足心熱遺精，疝氣溫瘧多渴熱，兼治初生兒臍風。</p>
<p><u>【注】</u>　然谷穴，主治喉痹，唾血，遺精，溫瘧，疝氣，足心熱，及小兒撮口臍風。針三分，留三呼，灸三壯。凡針不宜見血。</p>
<p>太谿主治消渴病，兼治房勞不稱情，婦人水蠱胸脅滿，金針刺後自安寧。</p>
<p><u>【注】</u>　太谿穴，主治消渴，房勞，不稱心意，及婦人水蠱，胸脅脹滿等證。針三分，留七呼，灸三壯。</p>
<p>陰谷舌縱口流涎，腹脹煩滿小便難，疝痛陰痿及痹病，婦人漏下亦能痊。</p>
<p><u>【注】</u>　陰谷穴，主治舌縱涎下，腹脹，煩滿，尿難，小腹疝急引陰、陰股內廉痛為痿痹，及女人漏下不止。針四分，留七呼，灸三壯。復溜血淋宜乎灸，氣滯腰疼貴在針，傷寒無汗急瀉此，六脈沉伏即可伸。</p>
<p><u>【注】</u>　復溜穴主治血淋，氣滯腰痛，傷寒無汗，六脈沉匿者。針三分，留三呼，灸五壯。</p>
<p>大敦治疝陰囊腫，兼治腦衄破傷風，小兒急慢驚風病，炷如小麥灸之靈。</p>
<p><u>【注】</u>　大敦穴，主治諸疝，陰囊腫，腦衄，破傷風，及小兒急慢驚風等證。針二分，留十呼，灸三壯。</p>
<p>行間穴治兒驚風，更刺婦人血蠱癥，渾身腫脹單腹脹，先補後瀉自然平。</p>
<p><u>【注】</u>　行間穴，主治小兒急慢驚風，及婦人血蠱癥瘕，渾身腫，單腹脹等證。針三分，留十呼，灸三壯。</p>
<p>大沖主治腫脹滿，行動艱辛步履難，兼治霍亂吐瀉證，手足轉筋灸可痊。</p>
<p><u>【注】</u>　太衝穴，主治腫滿，行步艱難，及霍亂吐瀉，手足轉筋等證。針三分，留十呼，灸三壯。</p>
<p>中封主治遺精病，陰縮五淋溲便難，鼓脹癭氣隨年灸，三里合灸步履艱。</p>
<p><u>【注】</u>　中封穴，主治夢泄遺精，陰縮，五淋，不得尿，鼓脹，癭氣。此穴合足三里並灸治行步艱辛。中封穴針四分，留七呼，灸三壯。足三里穴針五分，留七呼，灸三壯。</p>
<p>曲泉㿉疝陰股痛，足膝脛冷久失精，兼治女子陰挺癢，少腹冷痛血瘕癥。</p>
<p><u>【注】</u>　曲泉穴，主治㿉疝，陰股痛，男子失精，膝脛冷痛，及女子陰挺出，少腹疼痛，陰癢，血瘕等證。針六分，留七呼，灸三壯。</p>
<p>伏兔主刺腿膝冷，兼刺腳氣痛痹風，若逢穴處生瘡癤，說與醫人莫用功。</p>
<p><u>【注】</u>　伏兔穴，主治腿膝寒冷，腳氣痛痹。針五分，禁灸。凡此穴處生瘡癤者危。</p>
<p>陰市主刺痿不仁，腰膝寒如注水侵，兼刺兩足拘攣痹，寒疝少腹痛難禁。</p>
<p><u>【注】</u>　陰市穴，主治痿痹不仁，不得屈伸，腰膝寒如注水，兩足拘攣痹痛，寒疝，少腹疼痛等證。針三分，留七呼，禁灸。</p>
<p>足三里治風濕中，諸虛耳聾上牙疼，噎膈鼓脹水腫喘，寒濕腳氣及痹風。</p>
<p><u>【注】</u>　足三里穴，治中風，中濕，諸虛，耳聾，上牙疼，水腫，心腹鼓脹，噎膈哮喘，寒濕腳氣，上、中、下三部痹痛等證。針五分，留七呼，灸三壯。此穴三十外方可灸，不爾反生疾。</p>
<p>解谿主治風水氣，面腹足腫喘嗽頻，氣逆發噎頭風眩，悲泣癲狂悸與驚。</p>
<p><u>【注】</u>　解谿穴，主治風氣面浮，腹脹，足腫，喘滿，咳嗽，氣逆發噎，頭痛，目眩，悲泣癲狂，驚悸，怔忡等證。針五分，留五呼，灸三壯。</p>
<p>陷谷主治水氣腫，善噫痛疝腹腸鳴，無汗振寒痰瘧病，胃脈得弦瀉此平。</p>
<p><u>【注】</u>　陷谷穴，主治面目浮腫，及水病善噫，疝氣少腹痛，腸鳴腹痛，瘧疾振寒無汗等證。或胃脈得弦。皆宜針五分，留七呼，灸三壯。</p>
<p>內庭主治痞滿堅，左右繆灸腹響寬，兼刺婦人食蠱脹，行經頭暈腹疼安。</p>
<p><u>【注】</u>　內庭穴，主治痞滿堅硬。針三分，留十呼，灸三壯。患右灸左，患左灸右，但覺腹響是其效驗。兼治婦人食蠱，行經頭暈，少腹痛等證。</p>
<p>厲兌主治屍厥證，驚狂面腫喉痹風，兼治足寒膝臏腫，相偕隱白夢魘靈。</p>
<p><u>【注】</u>　厲兌穴，主治屍厥口噤氣絕，狀如中惡，面腫喉痹驚狂，好臥足寒，膝臏腫痛等證。針一分，留一呼，灸一壯。此穴合隱白穴同針，治夢魘不寧。針一分，灸三壯。</p>
<p>飛陽主治步艱難，金門能療病癲癇，足腿紅腫崑崙主，兼治齒痛亦能安。</p>
<p><u>【注】</u>　飛陽穴，主治步履艱難。針三分，灸三壯。金門穴，主治癲狂羊癇風。針一分，灸三壯。崑崙穴，主治足腿紅腫，牙齒疼痛。針三分，灸三壯。</p>
<p>晝發痓證治若何，金針申脈起沉疴，上牙疼兮下足腫，亦針此穴自平和。</p>
<p><u>【注】</u>　申脈穴，主治晝發痓證，足腫牙疼。針三分，留七呼，灸三壯。灸不及針。</p>
<p>環跳主治中風濕，股膝筋攣腰痛疼，委中刺血醫前證，開通經絡最相應。</p>
<p><u>【注】</u>　環跳穴，主治腰、胯、膝中受風寒濕氣，筋攣疼痛。針一寸，留十呼，灸三壯。委中穴治證同環跳穴，但此穴禁灸，針五分。</p>
<p>陽陵泉治痹偏風，兼治霍亂轉筋疼，承山主針諸痔漏，亦治寒冷轉筋靈。</p>
<p><u>【注】</u>　陽陵泉穴，主治冷痹偏風，霍亂轉筋。針六分，灸三壯。承山穴，主治痔漏疼痛，寒冷轉筋。針七分，灸五壯，灸不及針。</p>
<p>陽輔主治膝痠痛，腰間溶溶似水浸，膚腫筋攣諸痿痹，偏風不遂灸功深。</p>
<p><u>【注】</u>　陽輔穴，主治膝胻痠疼，腰間寒冷，膚腫筋攣，百節痠疼，痿痹，偏風不遂等證。針三分，留七呼，灸三壯。</p>
<p>風市主治腿中風，兩膝無力腳氣衝，兼治渾身麻搔癢，艾火燒針皆就功。</p>
<p><u>【注】</u>　風市穴，主治腿中風濕，疼痛無力，腳氣，渾身搔癢麻痹等證。針五分，灸五壯。</p>
<p>懸鐘主治胃熱病，腹脹肋痛腳氣疼，兼治腳脛濕痹癢，足指疼痛針可停。</p>
<p><u>【注】</u>　懸鐘穴，主治胃熱，腹脹，脅痛，腳氣，腳脛濕痹，渾身搔癢，趾疼等證。針六分，灸五壯。</p>
<p>丘墟主治胸脅痛，牽引腰腿髀樞中，小腹外腎腳腕痛，轉筋足脛不能行。</p>
<p><u>【注】</u>　丘墟穴，主治胸脅滿痛不得息，牽引腰、腿、髀樞中疼痛，少腹外腎痛，腳腕轉筋痛，足脛難行等證。針五分，灸三壯。</p>
<p>頸漏腹下馬刀瘡，連及胸脅乳癰瘍，婦人月經不利病，下臨泣穴主治良。</p>
<p><u>【注】</u>　臨泣穴，主治頸漏，腋下馬刀，連及胸脅，婦人乳癰，月信不調等證。針二分，灸三壯。</p>
<p>俠谿主治胸脅滿，傷寒熱病汗難出，兼治目赤耳聾痛，頷腫口噤疾堪除。</p>
<p><u>【注】</u>　俠谿穴，主治胸脅支滿，傷寒熱病汗不出，目赤，耳聾，胸痛，頷腫，口噤等證。針三分，灸三壯。</p>
<p>竊陰主治脅間痛，咳不得息熱躁煩，癰疽頭痛耳聾病，喉痹舌強不能言。</p>
<p><u>【注】</u>　竅陰穴，主治脅痛，咳逆不得息，發熱躁煩，癰疽口乾，頭痛喉痹，舌強耳聾等證。針一分，灸三壯。</p>
<figure>
<img alt="陰足要穴圖">
</figure>
<figure>
<img alt="陽足要穴圖">
</figure>

<h1>卷八</h1>

<h2>灸難產穴歌</h2>
<p>橫逆難產灸奇穴，婦人右腳小指尖。炷如小麥灸三壯，下火立產效通仙。</p>
<p><u>【注】</u>　婦人橫產，子手先出，諸符藥不效者，灸此。其穴在右腳小趾爪甲外側尖上，即至陰穴也。灸三壯，艾炷如小麥，下火立產。</p>
<figure>
<img alt="灸難產穴圖">
</figure>

<h2>針子戶穴歌</h2>
<p>子戶能刺衣不下，更治子死在腹中，穴在關元右二寸，下針一寸立時生。</p>
<p><u>【注】</u>　胞衣不出，子死腹中，宜刺子戶穴，針入一寸。其穴在任脈經之關元穴傍右二寸。</p>
<figure>
<img alt="針子戶穴圖">
</figure>

<h2>灸遺精穴歌</h2>
<p>精宮十四椎之下，各開三寸是其鄉。左右二穴灸七壯，夜夢遺精效非常。</p>
<p><u>【注】</u>　遺精灸精宮穴，其穴在脊之十四椎下，左右傍開各三寸，灸七壯。</p>
<figure>
<img alt="灸遺精穴圖">
</figure>

<h2>灸癆蟲穴歌</h2>
<p>鬼眼一穴灸癆蟲，墨點病人腰眼中，擇用癸亥亥時灸，勿令人知法最靈。</p>
<p><u>【注】</u>　勞瘵日久不愈，互相傳染，因內有勞蟲，宜灸鬼眼穴。穴在腰間兩旁，正身直立，有微隱處，用墨點記，合面而臥，以小艾炷灸七壯，或九壯十一壯，多寡量人，蟲即吐瀉而也，急取燒燬遠棄，可免復傳。擇癸亥日夜半，六神皆聚，亥時灸之，勿使病人預知，恐屍神有覺也。</p>
<figure>
<img alt="灸癆蟲穴圖">
</figure>

<h2>灸痞根穴歌</h2>
<p>十二椎下痞根穴，各開三寸零五分，二穴左右灸七壯，難消痞塊可除根。</p>
<p><u>【注】</u>　痞塊灸痞根穴，其穴在脊之十二椎下，旁開三寸半。痞塊多在左則灸左，在右則灸右，如左右俱有，左右俱灸之。</p>
<figure>
<img alt="灸痞根穴圖">
</figure>

<h2>灸肘尖穴歌</h2>
<p>肘尖端處是奇穴，男女瘰癧堪灸也，左患灸右右灸左，並灸風池效更捷。</p>
<p><u>【注】</u>　肘尖奇穴灸瘰癧，左患灸右，右患灸左。如初起時，男先灸左，女先灸右，兼灸風池穴尤效。風池穴在腦後顳顬穴後，髮際陷中。</p>
<figure>
<img alt="灸肘尖穴圖">
</figure>

<h2>灸鬼哭穴歌</h2>
<p>中惡振噤鬼魅病，急灸鬼哭神可定，兩手大指相併縛，穴在四處之騎縫。</p>
<p><u>【注】</u>　鬼哭穴，灸鬼魅狐惑，恍惚振噤等證。取穴：將兩手大指相併縛定，用艾炷於兩甲角反甲後肉四處騎縫。著火灸之，則患者哀告我自去為效。</p>
<figure>
<img alt="灸鬼哭穴圖">
</figure>

<h2>灸中惡穴歌</h2>
<p>屍疰客忤中惡病，乳後三寸量准行，男左女右艾火灸，邪祟驅除神自寧。</p>
<p><u>【注】</u>　灸屍疰、客忤、中惡等證。其穴在乳後三寸，男左女右灸之。</p>
<figure>
<img alt="灸中惡穴圖">
</figure>

<h2>灸疝氣穴歌</h2>
<p>疝氣偏墜灸為先，量口兩角折三尖，一尖向上對臍中，兩尖下垂是穴邊。</p>
<p><u>【注】</u>　灸疝痛偏墜奇穴法，用稈心一條，量患人口兩角為則，折為三段如△字樣，以一角安臍中心，兩角安臍下兩傍，尖畫處是穴。左患灸右，右患灸左，左右俱患，左右俱灸。艾炷如粟米大，灸四壯。</p>
<figure>
<img alt="灸疝氣穴圖">
</figure>

<h2>灸翻胃穴歌</h2>
<p>翻胃上下灸奇穴，上在乳下一寸也，下在內踝之下取，三指稍斜向前者。</p>
<p><u>【注】</u>　灸翻胃奇穴，上穴在兩乳下一寸；下穴在內踝下用手三指稍斜向前排之，即是穴也。</p>
<figure>
<img alt="灸翻胃穴圖">
</figure>

<h2>灸腸風穴歌</h2>
<p>腸風諸痔灸最良，十四椎下奇穴鄉，各開一寸宜多灸，年深久痔效非常。</p>
<p><u>【注】</u>　灸腸風諸痔奇穴。其穴在脊十四椎下，傍各開一寸。年深者，灸之最效。</p>
<figure>
<img alt="灸腸風穴圖">
</figure>

<h2>灸暴絕穴歌</h2>
<p>鬼魘暴絕最傷人，急灸鬼眼可回春，穴在兩足大趾內，去甲韭葉鬼難存。</p>
<p><u>【注】</u>　凡一切鬼魘暴絕，當灸奇穴。在足兩大趾內，去爪甲如韭葉許，名鬼眼穴。灸之則鬼邪自去，而病可愈也。</p>
<figure>
<img alt="灸暴絕穴圖">
</figure>

<h2>灸鬼眼穴歌</h2>
<p>腫滿上下灸奇穴，上即鬼哭不用縛，下取兩足第二趾，趾尖向後寸半符。</p>
<p><u>【注】</u>　灸腫滿奇穴，上穴即兩手大指縫，鬼哭穴也；下穴在兩足第二趾趾尖後一寸五分，即是也。</p>
<figure>
<img alt="灸鬼眼穴圖">
</figure>

<h2>灸贅疣穴歌</h2>
<p>贅疣諸痣灸奇穴，更灸紫白二癜風，手之左右中指節，屈節尖上宛宛中。</p>
<p><u>【注】</u>　灸癜風及贅疣諸痣奇穴，其穴在左右手中指節宛宛中，俗名拳尖是也。</p>
<figure>
<img alt="灸贅疣穴圖">
</figure>

<h2>灸瘰癧穴歌</h2>
<p>瘰癧隔蒜灸法宜，先從後發核灸起，灸到初發母核止，多著艾火效無匹。</p>
<p><u>【注】</u>　瘰癧隔蒜灸法，用獨蒜片先從後發核上灸起，到初發母核而止，多灸自效。</p>
<figure>
<img alt="灸瘰癧穴圖">
</figure>

<h2>灸腋氣歌</h2>
<p>腋氣除根剃腋毛，再將定粉水調膏，塗搽患處七日後，視有黑孔用艾燒。</p>
<p><u>【注】</u>　凡腋氣先用快刀剃去腋毛淨，乃用好定粉水調搽患處，六七日後，看腋下有一點黑者，必有孔如針大，或如簪尖，即氣竅也。用艾炷如米大者灸之，三四壯愈，永不再發。</p>
<figure>
<img alt="灸腋氣圖">
</figure>

<h2>灸瘋犬咬傷歌</h2>
<p>瘋犬咬傷先須吮，吮盡惡血不生風，次於咬處灸百壯，常食炙韭不須驚。</p>
<p><u>【注】</u>　瘋犬咬傷之處，急急用大嘴砂酒壺一個，內盛乾燒酒，燙極熱，去酒以酒壺嘴向咬處，如拔火罐樣，吸盡惡血為度，擊破自落。上用艾炷灸之，永不再發。炙韭，炒韭菜也。</p>

<h2>灸蛇蠍蜈蚣蜘蛛咬傷歌</h2>
<p>蛇蠍蜈蚣蜘蛛傷，即時疼痛最難當，急以傷處隔蒜灸，五六十壯效非常。</p>
<p><u>【注】</u>　凡蛇、蠍、蜈蚣、蜘蛛咬傷，痛急勢危者，急用艾火於傷處灸之，拔散毒氣即安；或用獨蒜片隔蒜灸之，二三壯換一片，毒甚者，灸五六十壯。</p>

<h2>足三里穴歌</h2>
<p>三里膝眼下，三寸兩筋間，能除胸脅痛，腹脹胃中寒，腸鳴並泄瀉，眼腫膝脛酸，傷寒羸瘦損，氣蠱證諸般，氣過三旬後，針灸眼光全。</p>
<p><u>【注】</u>　三里，足三里穴也。其穴在膝眼下三寸，胻骨外廉，大筋內宛宛中，針五分，留七呼，灸三壯。主治胸脅疼痛，腹脹，胃寒，腸中雷鳴，脾寒泄瀉，眼目紅腫，膝脛痠痛，傷寒熱不已，瘦弱虛損，小腸氣痛，與水氣，蠱毒，鬼擊諸證，悉宜針灸，但小兒忌灸，恐眼目不明，惟三十以外方可灸之，令眼目光明也。</p>
<figure>
<img alt="足三里穴圖">
</figure>

<h2>內庭穴歌</h2>
<p>內庭次趾外，本屬足陽明，能治四肢厥，喜靜惡聞聲，癮疹咽喉痛，數欠及牙疼，瘧疾不思食，耳鳴針便清。</p>
<p><u>【注】</u>　內庭穴，在足之大趾次趾外間陷中，屬足陽明胃經穴也。主治四肢厥逆，喜靜惡聞人聲，癮疹不快，咽喉腫痛，數欠，牙齦疼，瘧疾，不思飲食，耳內蟬鳴等證。針三分，留十呼，灸三壯。</p>
<figure>
<img alt="內庭穴圖">
</figure>

<h2>曲池穴歌</h2>
<p>曲池拱手取，屈肘骨邊求，善治肘中痛，偏風手不收，挽弓開不得，臂瘓怯梳頭，喉痹促欲死，發熱更無休，遍峰風癬癩，針著即時瘳。</p>
<p><u>【注】</u>　曲池穴，其穴在肘輔骨屈肘屈骨之中，以手拱胸取之。主治肘中疼痛，偏風半身不遂，臂痛拉弓不開，兩臂癱瘓不能舉手向發，喉痹喘促欲死，傷寒振寒，餘熱不盡，皮膚乾燥，痂疥等證。刺七分，留七呼，灸三壯。</p>
<figure>
<img alt="曲池穴圖">
</figure>

<h2>合谷穴歌</h2>
<p>合谷在虎口，兩指歧骨間，頭疼並面腫，瘧病熱還寒，體熱身汗出，目暗視茫然，齒齲鼻衄血，口噤不能言，針入深三分，能令人病安。</p>
<p><u>【注】</u>　合谷穴，其穴在手大指次指歧骨間陷中。主治偏正頭疼，面目浮腫，瘧疾寒熱，身體發熱，汗不收，目翳視物不明，齒蠹朽痛，鼻中流血不止，口噤不開等證。針三分，留六呼，灸三壯。</p>
<figure>
<img alt="合谷穴圖">
</figure>

<h2>委中穴歌</h2>
<p>委中曲䐐里，橫紋脈中央，腰痛不能舉，酸沉引脊梁，風癇及轉筋，冬季難移向，風痹痛無比，熱病久在床，足膝難伸屈，針入即安康。</p>
<p><u>【注】</u>　委中穴，其穴在膕中央，約紋動脈陷中。主治腰脊沉墜疼痛，瘈瘲，及兩腿肚轉筋，疼痛難動，風痹疼痛，流注不定，熱病難愈，兩足膝疼痛難伸屈等證。針五分，溜七呼，禁灸。</p>
<figure>
<img alt="委中穴圖">
</figure>

<h2>承山穴歌</h2>
<p>承山名魚腹，腸分肉間，善治腰疼痛，痔疾大便難，腳氣並膝腫，兩足盡寒酸，展轉成時疫，戰慄瘧熱寒，霍亂及轉筋，刺之立便安。</p>
<p><u>【注】</u>　承山穴，其穴在腿肚下尖分肉間。主治腰背疼痛，痔腫，大便難，腳氣膝腫，脛酸跟痛，傷寒時疫，寒熱瘧疾，戰慄不能行立，霍亂轉筋等證。針五分，灸五壯。</p>
<figure>
<img alt="承山穴圖">
</figure>

<h2>太衝穴歌</h2>
<p>太衝足大趾，節後二寸中，動脈知生死，能醫驚癇風，咽喉並心腋，兩足不能動，七疝偏墜腫，眼目似云朦，亦能療腰痛，針下有神功。</p>
<p><u>【注】</u>　太衝穴，其穴在足大趾本節後二寸陷中。動脈應手，病者有此脈生，無此脈者死。主治急慢驚風，羊癇風證，及咽喉疼痛，心腋脹滿，寒濕腳氣痛，行步難，小腹疝氣，偏墜疼痛，兩目昏暗，腰背疼痛等證。針三分，留十呼，灸三壯。</p>
<figure>
<img alt="太衝穴圖">
</figure>

<h2>崑崙穴歌</h2>
<p>崑崙足外踝，跟骨上邊尋，轉筋腰尻痛，膊重更連陰，頭疼脊背急，暴喘滿衝心，舉步行不得，動足即伸吟，若欲求安樂，須將此穴針。</p>
<p><u>【注】</u>　崑崙穴，在足外踝後五分跟骨上陷中。主治腰尻疼痛，膊重不能舉，及前陰腫痛，偏正頭痛，脊背拘急，暴咳喘仲，足腨腫不得履地等證。針三分，留七呼，灸三壯。</p>
<figure>
<img alt="崑崙穴圖">
</figure>

<h2>環跳穴歌</h2>
<p>環跳在髀樞，側臥屈足取。能針偏廢軀，折腰返顧難，冷風並濕痹，身體似繩牽，腿胯連痛，屈轉重吁嘆，若人能針灸，頃刻病消痊。</p>
<p><u>【注】</u>　環跳穴，其穴在髀樞中，側臥伸下足屈上足取之。主治半身不遂，閃挫腰痛不能回顧，冷風濕痹，周身拘急，腿胯腿肚疼痛不能動轉等證。針一寸，留十呼，灸三壯。</p>
<figure>
<img alt="環跳穴圖">
</figure>

<h2>陽陵泉穴歌</h2>
<p>陽陵居膝下，外廉一寸中。膝腫並麻木，冷痹及偏風，起坐腰背重，面腫滿胸中，舉足不能起，坐臥似衰翁，針入六分止，神功妙不同。</p>
<p><u>【注】</u>　陽陵泉穴，其穴在膝下一尺，外廉陷中，尖骨前筋骨間。主治兩膝腫痛，及冷痹不仁，半身不遂，腰背重痛，起坐艱難，面目浮腫，胸中脹滿，兩足疼痛難移，起坐不能支持等證。針六分，留十呼，灸七壯。</p>
<figure>
<img alt="陽陵泉穴圖">
</figure>

<h2>通里穴歌</h2>
<p>通里腕側後，去腕一寸中。欲言聲不出，懊憹及怔忡，實則四肢重，頭腮面頰紅，聲平仍數欠，喉痹氣難通，虛則不能食，暴喑面無容，毫針微微刺，方信有神功。</p>
<p><u>【注】</u>　通里穴，其穴在腕側後一寸陷中。主治聲啞，心煩極甚，怔忡不寧，四肢重痛，頭腮面頰紅腫，倦言，數欠，喉咽疼痛，氣息不通，虛損不思食，暴喑面無潤澤。針三分，灸三壯。</p>
<figure>
<img alt="通里穴圖">
</figure>

<h2>列缺穴歌</h2>
<p>列缺腕側上，次指手交叉，善療偏頭患，遍身風痹麻，痰涎頻上壅，口噤不開牙，若能明補瀉，應手即能瘥。</p>
<p><u>【注】</u>　列缺穴，其穴在腕後側上一寸五分，兩手交叉，當食指末筋骨罅中。主治偏風頭痛，遍身風痹麻木，痰壅氣堵，口噤不開等證。針二分，留三呼，灸三壯。</p>
<figure>
<img alt="列缺穴圖">
</figure>

<h2>四季針灸坐向歌</h2>
<p>四季針灸坐向理，宜從四季順自然，東南西北四維向，以迎生氣本乎天。</p>
<p><u>【注】</u>　針灸坐向，避忌之理，《醫學入門》：「春坐東向西，夏坐南向北，秋坐西向東，冬坐北向南。」皆背四季生氣之向，不可為法。宜從春向東，夏向南，秋向西，冬向北，四土旺月向四維，以迎生氣，本乎天理，順其自然為是也。</p>

<h2>灸法點穴用火歌</h2>
<p>點穴坐臥立直正，炷用蘄艾火珠良，灸病古忌八木火，令時通行一炷香。</p>
<p><u>【注】</u>　凡灸法，坐點穴則坐灸，臥點穴則臥灸，立點穴則立灸。須四體平直，毋令傾側，若傾側穴即不正。其炷所用之艾，必用蘄艾，艾令乾燥，入臼搗去淨塵屑，作炷堅實，置穴上，用蔥涎黏固。上古用火珠映日取火點之，忌松、柏、枳、橘、榆、棗、桑、竹八木之火；今時惟用香火灼艾，亦通行簡便之法也。</p>

<h2>灸法早晚次序歌</h2>
<p>灸法溫暖宜於午，上下陽陰先後分，脈數新愈不宜灸，欲灸三里過三旬。</p>
<p><u>【注】</u>　凡灸百病，原為溫暖經絡，宜在午時陽盛之時，火氣易行，必發上下先後：上下經皆灸者，先灸上，後灸下；陰陽經皆灸者，先灸陽，後灸陰。若脈數有熱，新愈氣虛，俱不宜灸，恐傷氣血。但人有病，欲灸足三里者，須年三十以上，方許灸之，恐年少火盛傷目。故凡灸頭，必灸足三里者，以足三里能下火氣也。</p>

<h2>灸法大小多少歌</h2>
<p>頭骨手足皮薄瘦，巨闕鳩尾小少宜，背腹臍下皮肉厚，大多方能起痼疾。</p>
<p><u>【注】</u>　凡灸諸病，必火足氣到，始能求愈。然頭與四肢，皮肉淺薄，若並灸之，恐肌骨氣血難堪，必分日灸之，或隔日灸之。其炷宜小，壯數宜少。有病必當灸巨闕、鳩尾二穴者，必不可過三壯，艾炷如小麥，恐火氣傷心也。背腹下皮肉深厚，艾炷宜大，壯數宜多，使火氣到，始能去痼冷之疾也。</p>

<h2>灸法調養歌</h2>
<p>灸後風寒須謹避，七情過極慎起居，生冷醇酒諸厚味，惟茹蔬淡適其宜。</p>
<p><u>【注】</u>　凡灸後，須謹避風寒，慎其起居，養其氣血，其喜、怒、憂、思、悲、恐、驚不可過極，和其情志，及禁食一切生冷醇酒厚味等物，即食蔬淡，亦當適宜，不可過度，以調養脾胃也。</p>

<h2>灸瘡調治歌</h2>
<p>灸瘡不發氣血竭，七日發膿病必除，發後膏貼防外襲，薄連蔥荽淨瘡汙。</p>
<p><u>【注】</u>　凡灸諸病，灸瘡應發不發，是其氣血大虧，不必復灸，即灸亦多不能愈。過七天之後，艾疤發時，膿水稠多，其病易愈，以其氣血充暢，經絡流通也。發後貼膏藥者，防其六淫外襲也。如灸瘡黑痛，膿汁汙穢，乃艾火毒盛，必用薄荷、黃連、蔥皮、芫荽煎湯，洗之自愈也。</p>

<h2>灸瘡膏藥歌</h2>
<p>芩連白芷金星草，乳香淡竹當歸好，薄荷川芎與蔥白，香油煎藥粉成膏。</p>
<p><u>【注】</u>　以上藥味各等分，用香油煎藥去滓，再下鉛粉熬成膏，專貼灸瘡。</p>

<h2>行針避忌歌</h2>
<p>行針避忌雨大風，飢飽醉怒渴勞驚，男內女外猶堅守，更看人神不可逢。行針避忌雖如此，還推病之緩急行，緩病欲針擇吉日，急病行針莫稍停。</p>
<p><u>【注】</u>　按行針避忌，於未刺之先，如風雨晦冥，人之氣血，即凝滯而不調。大飢者氣虛，新飽者氣盛，大醉者氣亂，大怒者氣逆，大渴者液少，大勞者氣乏，大驚者氣散，凡此者脈亂氣散，行針須當避忌，俟其必清必靜，聚精會神，方保無誤也。既刺之後，尤當戒慎。男子忌內，女子忌外，忌外者堅拒勿出，忌內者謹守勿內，則邪氣必去，正氣必復，是謂得氣，理固然矣。猶有達變之法存焉，緩病須擇神吉，急病豈可待時哉。</p>

<h2>四季人神所在禁忌針灸歌</h2>
<p>四季人神所在處，禁忌針灸莫妄施，春在左脅秋在右，冬在於腰夏在臍。</p>
<p><u>【注】</u>　四季人神所在之處，謂人之神氣初動之處，同乎天之流行也，禁針灸者恐傷生氣也。人神常在心，春在左脅者肝主升也，秋在右脅者肺主降也，冬在腰者神主藏也，夏在臍者脾主化也。</p>

<h2>逐日人神所在禁忌針灸歌</h2>
<p>一日足大二外踝，三日股內四在腰，五口六手七內踝，八腕九尻十背腰，十一鼻柱二髮際，三牙四胃五遍身，六胸七氣八股內，九足二十內踝尋，二十一手小二外踝，三日肝足四手明，五足六胸七在膝，八陰九脛晦趺停。</p>
<p><u>【注】</u>　足大，足之大趾也。氣，氣衝也。手小，手之小指也。手明，手陽明也。足，足陽明也。陰，男女前陰中也。晦，月盡也。趺，足十趾岐骨也。</p>

<h2>十二時人神所在禁忌針灸歌</h2>
<p>子踝醜頭寅耳邊，卯面辰項巳乳肩，午脅未腹申心主，酉膝戌腰亥股端。</p>
<p><u>【注】</u>　子踝，左、右內踝、外踝也。寅耳邊，左右兩耳也。辰項，頸項也。巳乳肩，兩乳兩肩也。午脅，左右脅也。未腹，大腹少腹也。申心主，胸膈也。酉膝，左右兩膝也。戌腰，腰背也。亥股，兩股內外也。</p>

<h2>禁針穴歌</h2>
<p>禁針穴道要先明，腦戶囟會及神庭，絡卻玉枕角孫穴，顱息承泣隨承靈，神道靈臺膻中忌，水分神闕並會陰，橫骨氣衝手五里，箕門承筋及青靈，乳中上。三陽絡，二十三穴不可針。孕婦不宜針合谷，三陰交內亦通論，石門針灸應須忌，女子終身無妊娠。外有云門並鳩尾，缺盆客主人莫深，肩井深時人悶倒，三里急補人還平，刺中五臟膽皆死，衝陽血出投幽冥，海泉顴髎乳頭上，脊間中髓傴僂形，手魚腹陷陰股內，膝臏筋會及腎經，腋股之下各三寸，目眶關節皆通評。</p>

<h2>禁灸穴歌</h2>
<p>禁灸之穴四十七，承光啞門風府逆，睛明攢竹下迎香，天柱素髎上臨泣，腦戶耳門瘈脈通，禾髎顴髎絲竹空，頭維下關人迎等，肩貞大牖心俞同，乳中脊中白環俞，鳩尾淵液和周榮，腹哀少商並魚際，經渠天府及中衝，陽池陽關地五會，漏谷陰陵條口逢，殷門申脈承扶忌，伏兔髀關連委中，陰市下行尋犢鼻，諸穴休將艾火攻。</p>

<h2>制針法歌</h2>
<p>制針須用馬銜鐵，惟有金針更可嘉，煅煉塗酥插臘肉，煮針之藥有多法。</p>
<p><u>【注】</u>　制針用馬嚼環鐵者，以馬屬午，午為火，火剋金，取剋制之義也。若以真金制針，用之更佳。其煅煉之法：將鐵絲於火中煅紅，截為二寸或三寸或五寸長短不拘，次以蟾酥塗針上，入火中微煅，取起，復照前塗酥，煅三次，乘熱插入臘肉皮之裡，肉之外，將後藥用水三碗煎沸，次入針肉在內，煮至水乾，傾於水中，待冷將針取出，於黃土中插百餘下，以去火毒，其針要光圓，不可用尖鋒，次以銅絲纏其柄。</p>
<p><u>煮針藥方</u></p>
<p>麝香（五分）　膽礬（一錢）　石斛（一錢）　穿山甲（三錢）　硃砂（三錢）　沒藥（三錢）　川芎（三錢）　細辛（三錢）　甘草節（五錢）　沉香（五錢）　磁石（一兩）</p>
<p>以上諸藥氣味，能引入針內。</p>
