<header data-type="book">
<h1>行軍方便便方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>羅世瑤</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>杭州三三醫社版（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910015373">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>備豫</h2>
<p>諸葛乾糧方用白茯苓（二斤）　白麵（二斤）　乾薑（一兩）　米（二升）　山藥（一斤）　麻油（半斤）　芡實（三斤）各味蒸熟焙乾為末遇軍情緊急每服一匙新汲水下日進一服可免肌渴氣力倍充相傳方出武侯又方取米之無谷者淨淘炊熟下漿水中和水曝乾淘去塵又蒸曝之經十遍如米一石只得二斗每食只取一大合先以熟水浸之待濕透然後煮食之取其易熟而便攜帶也（武備志）</p>
<p>行軍辟穀不飢法用黃蓍　赤石脂　龍骨（各三錢）　防風（五分）　烏頭（一錢）</p>
<p>焙乾於石臼內搗一千杵煉蜜為丸如彈子大遇急行運不暇作食先飽吃飯一頓服藥一丸可行五百里服二丸可行一千里（靜耘齋）　又方用鐵腳鳳尾草同黑豆蒸熟揀去草不用每食黑豆五七粒終日不飢　又方用糯米二三合炒過以黃蠟二兩於銚內化開再入米同炒令蠟透入米內以干為度遇緊急時取米隨便食之可數日不飢俟事平以胡桃肉二個嚼下可照常飲食　又方用黑大豆五斗淘淨蒸三遍去皮大麻子三斗漬一宿亦蒸三遍令口開取仁各搗為末又合搗作團如拳大入甑內蒸從戌至子時止寅時出甑午時曬乾為末用時干食之以飽為度不得食一切物食一頓可七日不飢二頓可四十九日不飢三頓可三百日不飢四頓可二千四百日不飢口渴時研大麻子湯飲之如要仍用飲食以葵子研末煎湯飲服取下藥如金色任吃諸物並無所損此法亦可救荒方見漢陽大別山太平興國寺勒石　又方用黑豆一升淘揀極淨貫眾一斤細銼如豆一般攙和黑豆中量水多少慢火煮豆香熟曬乾翻覆令展盡豆餘汁去貫眾瓦器收貯每日空心啖五七粒則食草木枝葉皆有味可飽　南村輟耕錄）</p>
<p>李衛公行軍辟穀方用大黃豆五升淘三遍極淨去皮為末另用麻子仁三斤綿包用沸湯浸至冷取懸井中勿令著水次日曬乾取粒粒完整者蒸二遍為末白茯苓六兩糯米五升淘淨與茯苓同蒸為末先將麻仁糯米茯苓共搗極爛漸加豆末和勻捏如拳大復入甑蒸之約二個時辰冷定取出曬乾為末用時麻子汁調服以飽為度不得吃一切物初服一頓一日不飢二頓四十九日不飢三頓百日不飢四頓一年不飢五頓千日不飢顏色日增氣力加倍口渴取麻子汁飲之或芝麻汁亦可如仍欲飲食用葵菜子三合為末煎湯冷定服之下其藥吃稀粥一二日再吃稠粥一二日可照常飲食但吃藥後大忌房事慎之　又方用稻米淘汰極淨百蒸百曬搗末日食一餐以水調下服至三十日可一年不飢（肘後方）　又方青梁米以純苦酒浸三日百蒸百曬藏之遠行日一餐可度十日若重餐之可四百九十日不飲（食療本草）　又方用白麵（四斤）　白茯苓去皮（一斤）　黃臘（四兩）化開三味共為細末打糊為餅用時先清齋一日食一頓七日不飢二頓一月不飢要照常飲食服葵菜湯一杯或茯苓湯亦可（王氏農書）　又方八月內採取榆樹生耳以美酒漬曝同青粱米紫芡實蒸熟為末每服少許酒下能令人終日不飢（淮南萬畢術）又方用社仲　茯苓　甘草　荊芥各等分為末糊丸如桐子大每服數九即吃草木可以充飢止有竹葉甘草不可同食若食草木葉有毒以鹽解之（山居四要）</p>
<p>煮石充飢方取溪澗中白石子用胡蔥汁或地榆根等煮之即熟如芋可以充飢謂之石羹（本草綱目）　又方七月七日取地榆根不拘多少陰乾百日燒灰復取生者與灰合搗萬下灰三分生末一分共合一處如石二三斗以水浸過三寸以藥入水攪之煮至石爛可食乃巳（臞仙神隱書）</p>
<p>干鹽方隨用鹽多少以水和入鍋中炭火燒之以水乾為度鹽即堅縮不消夏月更宜（武備志）</p>
<p>乾醋方用烏梅一斤以好酷五斗浸一周時曬乾再浸再曬以酷盡為度搗為末醋浸蒸餅和為丸如芡實大食時投一二丸於湯中即成好酷（齊氏要術）　又方用粗布一尺以釅醋一升浸之以醋盡為度曬乾備用每食以方寸煮之（武備志）　又方取小麥面作蒸餅一枚浸酷一升（或作鬥）以醋盡偽度曬乾備用每食用少許煮之</p>
<p>干醬方如用豆豉三斗搗如膏加鹽五升捻作餅曬乾每食用少許可代醬菜（同上）</p>
<p>干茶方用白糖　薄荷（各四兩）　白茯苓（三兩）　甘草（一兩）　共為細末煉蜜為丸如棗大每含一丸可行千里之程日千里茶（古今秘苑）　又方用白蜜（一兩二錢）　甘草　薄荷　烏梅肉　鹽白梅　乾粉葛（各一錢）　何首烏蒸（二兩五錢）　白茯苓（三兩五錢）共研末煉丸如芡實大服之不渴（海外三珠）　又方每人帶油麻半升如渴取三十粒含之立止或烏梅乾酪亦可</p>
<p>求泉水法凡地生葭葦蒲菰並有蟻壞其下皆有伏泉一說駱駝能知水若行渴以足跑沙其下當有泉（武備志）又法如兵屯山阜被賊圍困無處汲水夜間用磁碗覆地將土壅碗口俟天曉揭碗視之碗底有水珠其下有泉脈也掘地數尺可以得水（奇門大全）</p>
<p>諸葛種菜法行軍所止令軍士皆種蔓菁有六利才出甲可生啖一也舒葉可煮食二也久住則隨以滋長三也棄不足惜四也回易尋採五也冬有根可劚食六也蜀人呼蔓菁為諸葛菜云（劉禹錫嘉話錄）</p>

<h2>杜防</h2>
<p>闢蠱毒煙瘴瘟疫時氣鬼怪狼虎蛇峒五兵刺客等害方用螢火須七夕取者酒浸陰乾　鬼箭羽即衛矛　蒺藜　雄黃　雌黃（各一兩）　礬石火燒（二兩）　羚羊角煆存性　鐵錘柄入鐵處燒焦（各一兩五錢）右藥共研為末以雞子黃丹雄雞冠一具和搗千下丸如杏仁大和藥時須用靜室誠心虔制勿令婦女孝服雞犬見之更擇休詐時日或神遁時日合藥尤驗行軍作三角絳囊盛五丸佩於腰中能闢一切凶害誠仙方也</p>
<p>按方出遺集亦見奇方類編神仙感應篇等書但遺集所載製藥須用奇門時日為小異耳考漢武威太守劉子南從道土尹公受得此方後與虜戰敗績被圍失下如雨未至子南馬數尺失輒墮地虜以為神乃解去一說螢火衛矛蒺藜各一兩雄黃雌黃礬石各二兩餘藥及製法同</p>
<p>闢虎狼妖怪丹用羚羊角六錢牛角（四兩）　明雄（二兩）　麝香（五錢）各為末燒酒打糊成丸彈子大葫蘆收貯凡入山野深林恐有虎狠蛇蠍焚燒一丸諸惡聞之遠走凡出軍夜行先用一丸薰衣百邪不敢近身</p>
<p>闢山嵐瘴氣方用犀角　羚羊角　明雄黃各一錢為細末　麝香三分水調服瘴氣即解一方軍用羚羊角末水調服一錢立效　又方用犀角磨水服之良</p>
<p>按時預闢癘疫法一方用上品硃砂細研白蜜和丸常以太歲日平旦勿食諸物每人面向東方用井華水各吞二十一丸永無疫患吞藥時勿令藥近齒（靜耘齋）　一方正月七日用新布袋盛赤小豆置井中三日取出每人各吞二十一粒竟年無疫一說男吞七粒女吞二七粒一方立春後遇庚子日用溫蔓薔汁不拘多少每人各服少許一年可免時疾（神仙教子法）　一方春分日太陽未出之時用遠志去心水煎飲二盞取吐即不染疫（行廚焦）</p>
<p>一方五月五日午時採蒼耳嫩葉陰乾臨時為末冷水調服二錢或煎水與全軍食之能除疫疾邪惡（靜耘齋）　一方六月六日採馬齒莧洗淨曬乾元旦煮熟同鹽醋食之可解疫氣（庸班經驗方）一方臘月二十四日五更取第一汲並水浸乳香至元旦五更溫熱每人吞乳香一塊飲水三呷則一年無時疫或云此乃宣聖遺方孔氏至今代代用之一方除夕及元旦用麻子仁赤小豆各七粒撒井中飲其水一年不染邪疫（龍魚河圖及五行書）一方除夕以赤小豆川椒各四十九粒投於井中或水缸中勿令人知可免疫病或以大麻子二十一粒於元旦投井中亦良（靜耘齋）</p>
<p>隨時闢瘟疫法遇軍營中疫氣傳染死亡相繼號曰軍氣急用死人骨於上風燒之疫氣即解（奇門大全）　又法用烏蹄屑以絳囊盛之男在女右可免疫邪又法將初病疫氣人貼肉布衫於蒸籠內蒸一炷香久則全軍不染</p>
<p>又法用松毛細切為末酒下二錢日三服能闢五年瘟（靜耘齋）　又法用好管仲二枚浸水缸內加白礬少許逐日飲之不染疫氣（同上）　又法用黑豆一撮於清晨投於水缸或投一大握於井中勿使入見凡飲其水者均可兔疫（便元集）</p>
<p>闢瘟丹用虎頭骨　藜蘆　吳茱萸　南星　皂角　雄黃（各二錢）　木屑（二合）酒浸曬乾共為末煉蜜為丸加小彈子大焚一丸能辟邪已染病之家焚一丸於床下即平安（敬信錄附方）</p>
<p>闢瘴氣癘疫方用桃仁一斤吳茱萸青鹽各匹兩同炒熟以瓶密封一七取出揀去茱鹽將桃仁去皮尖每嚼一二十枚即可不染（便元集）</p>
<p>闢山精邪魅法凡入山至山腳先退數十步然後上山一切精怪無敢犯者一法凡入山念林兵二字可卻百邪凡人夜行用手掠發精邪不敢近（行廚集）闢鬼除邪法加人病鬼魔者用阿魏棗許為末以牛乳或肉汁煎五六沸服之至暮以牛乳服安息香棗許久者不過十日皂效忌一切菜（崔行功纂要）闢蛇法於四壁柱上用倒流水研墨書龍孛蛇即遠避（夷門廣牘）　又法於端午日午時用硃砂端寫茶字倒貼之蛇不敢近（同上）又法取雞糞於上風燒之蛇即遠遁或用荔枝核桂圓核同燒蛇即醉軟不能行動（古今秘苑）　又法用雄黃為丸如桐子大燒姻以薰衣服被褥之類蛇不敢近（仙拈集）　又法取羚羊角及人頭髮燒之蛇自遠避（朝野愈載）</p>
<p>耐服異鄉水土方行軍異鄉每多不服水土致生疾病急用舊鞋底泥土刮下和水服之即可無患</p>
<p>闢蠱毒法凡入蠱鄉見人家門限屋梁潔淨絕無塵埃者其家必蓄蠱毒當用心防之如不得已吃其飲食即潛於初下筋時收藏一片在手盡吃不妨少頃將手藏之物埋於人行十字路下劃蠱反於本家作鬧主必反求或食時讓主人先動節或明向主人云莫有蠱麼以筋築棹而後食蠱皆不能為害凡見飲食上有蛛絲勿食（景岳全書）又方用地慄曬乾為末白湯調服二錢能闢一切蠱毒蠱家知有此即不敢下或用炙甘草一寸嚼汁咽之燃後飲食若中蠱者即時吐出仍以炙甘草三兩姜四兩水六碗煎一碗服之愈（便元集）　又法每遇所到處念藥王萬福七遍亦驗（名醫類案）　又方用大荸薺不拘多少切片曬乾為末每早空心白滾湯下二錢入蠱家無害試蠱毒法令嚼白礬不澀食墨豆不腥即是中毒或令閏人唾於水面沉者是浮者非又病人頭面上有光他人以手近之如火熾者亦是中毒</p>
<p>諸獸之有毒者如獸歧尾鹿有豹文或白臆羊獨角或六角馬無夜眼白羊黑頭黑羊白頭白馬黑頤黑馬白頭白馬青蹄牛獨角馬生角犬懸臨諸獸赤足諸獸並頭諸獸帶龍形之類均不可食（食物本草）</p>
<p>諸鳥之有毒者如鴨目白鸚四趾白鳥元首元鳥白首鳥足不伸卵有八字鳥四距六趾之類皆不可食</p>
<p>諸魚之有毒者如焦目有睫目能開合腦中連珠魚無腮者二目不同腹下丹字鱉目白者領下有骨鰕魚不彎鰕白鬚者蟹腹下有毛之類皆不可食諸肉之有毒者如馬肝猘犬肉楮羊心肝有孔馬鞍下黑肉六畜自死首北向或口不開肝有黑色肉多黑星曝肉不燥六畜五臟著草自動生肉不斂水熟肉不斂水肉不沾塵肉落水浮肉中有米星肉得咸酢不變色肉自動肉煮不熟之類皆不可食</p>
<p>諸果之有毒者如桃杏雙仁果未成核及果落地下惡蟲食過之類皆不可食（同上）</p>
<p>諸菌之有毒者如夜中有光欲斕無蟲者煮不熟者煮汁照人無影者上有毛下無瓣者仰卷赤色之類皆不可食（洗冤錄）</p>
<p>諸水之有毒者水中忽生赤脈不可斷之井中忽然沸溢於三十步內以青石投之立止古井眢井以雞毛投之盤旋而舞者其水均有毒陰地流泉二八月行人飲之成瘴瘧損腳力澤中停水五六月有魚鱉精人飲之成瘕病花池中水及花瓶中水飲之殺人水經宿面上有五色者及古銅器貯水之類皆不可食（食物本草）</p>
<p>戒酒方軍中偏將以次如素有嗜酒者恐其以醉貽誤按方治之神效五月五日取井中倒生草燒灰和酒中飲之勿令其知以機遇酒輒疼痛（千金方一又方用蒼耳子七枚燒灰投酒中飲之即不喜酒（本草拾遺）</p>
<p>戒鴉片煙癮方用黨參（三錢）　白朮（三錢）　茯苓（三錢）　歸身（三錢）　建蓮子（十粒去心）　粟殼（三錢去毛）　金櫻子（三錢去核）　升麻（錢五分）　本香（錢五分）　黃蓍（三錢）引用小紅棗五枚如有一錢煙癮用菸灰一分有二錢煙癮用菸灰二分照此加減將姻灰入藥同煎每日遞減菸灰一釐不過十日癮盡除根服藥後自不想吃身體弱者此方最宜又方用黨參（五錢）　高麗參（五錢）　白朮（三錢）　當歸（二錢）　黃柏（四錢）　川連（四錢）　炙黃蓍（三錢半）　炙甘草（三錢）　陳皮（二錢半）　柴胡（二錢半）　沉香（二錢不見火）　木香（一錢不見火）　天麻（二錢）　升麻（錢半）　龍骨（二錢）　牡蠣（二錢）　杏仁（三錢）　河膠（三錢）　川貝（三錢）　瓜婁霜（三錢）　生附子（七錢）要浸去鹽搗如泥各味共為細末再入鴉片灰（一兩）和勻面糊為丸如桐子大飯前服如有癮一錢每服三十粒每日遞減一粒不過一月癮盡除根不致別生毛病以上二方屢試有效</p>
<p>又方用石蓮子（兩半）　管仲（兩半）　藿香（七錢半）　粉丹皮（七錢半）　黑沙糖（二兩半）共為細末煉蜜為丸如桐子大清晨每服三錢滾水下（良方集要）</p>

<h1>卷中</h1>

<h2>療傷</h2>
<p>治為槍傷鉛子深入肉內危在頃刻服此可出並治箭簇入肉瘡口不收金瘡跌損毒物咬傷及破傷風努力勞傷等症外用香油化此藥敷之忌食生冷動火之物藤黃（四兩）　紅芽大戟　天竹黃如無真者用九制南星代之</p>
<p>劉寄奴　血竭（各三兩）　孩兒茶　雄黃（各二兩）　乳香　宮粉　水銀　麝香（各三錢）　朴硝（一兩）　琥珀（三錢）　歸尾（一兩三錢）右品各研極細末照味稱准分兩方對臺一處惟水銀難以成末同宮粉在鐵鍋內火上熱研自成末入藥再煉淨用黃蠟二十四兩貯磁器內坐滾水中化開將前藥入內攪勻秘封聽用遇諸瘧但有微氣用藥三五分重者一錢熱黃酒調服立刻全生如受傷日久至重者連服數次周身瘀血皆化服藥後再飲酒出汗妙</p>
<p>治中鳥槍子及箭頭入肉內用活蜣螂二三個搗爛入巴豆四五粒共搗如泥敷傷處先定痛後作癢至骨少刻鉛子箭鏃自出一方用土狗腦子敷傷處亦效</p>
<p>治槍子箭鏃深入肉內取象牙刮末水和敷之即出一方用鼠肝搗塗之效治中藥箭毒用松毛搗爛調冷水服之或自溺泥中和泥水食之他人用口銜水吸傷處吐之再吸再吐立愈（武備秘書）　又方以犀角刺瘡中立愈（北戶錄）　又方用貝齒燒研水服三錢日三服效</p>
<p>治金刃傷出血不止用荔枝核或桂圓核亦可降真香血竭各等分共研極細末用磁瓶收貯勿令泄氣用少許敷之槍日立時止血兼能接骨績筋其效如神（某制軍檄行各屬方）　又方用好雞骨灰（擲地鏗然有聲者）明松香各等分為末老韭菜汁拌入陰乾再研再拌四五次研極細敷之神效若猝用以韭菜汁拌藥敷之亦可製藥於端午七夕尤妙　又方用榴花半斤石灰一升搗和陰乾少許敷之良　又方用蝙蝠二枚燒研末服方寸匕止血良</p>
<p>治金鎗傷重久不結口用火腿爪五倍子俱燒灰各等分共為細末搽上結口即愈（良方集要）</p>
<p>治金瘡應急用白棉花絮燒灰塞患處止血定疼神效　又方用金毛狗上之毛貼傷口即止血定疼傷口生肌　又方用生明礬為末摻上止血定痛　又方用生半夏（六錢）　白臘（四錢）為末敷之</p>
<p>金瘡鐵扇散用象皮五錢切薄片小鍋焙黃色以干為度勿令焦能骨五錢用上白者生研末老材香一兩山陝等省民間無漆殯殮俱用松香黃臘塗於棺內數十年後有遷葬者棺朽另易新棺其朽棺內之香臘即謂之老材香東南各省無老材杳即以數百年陳石灰代之其效念與老材香等寸柏香一兩即松香中之黑色者松香一兩與寸柏香同熔化攪勻傾入冷水取出晾乾　飛礬一兩將白礬入鍋內熬透便是以上六味共為細末貯磁罐中遇金刃及木石傷用藥敷傷口以扇向傷處扇之立愈蓋傷處喜涼惡熱夏月宜臥涼處冬月忌臥熱處傷口不必用布包裹以致過暖難於結痂並忌飲酒致血熱妄行如傷處發腫以雞鵝翎毛蘸黃連水塗之敷藥時血流乃用扇如不流血即不必扇倘日久潰爛有膿血亦用黃連煎湯洗之以藥末敷之此方系明大中丞得於山右盧醫刊以傳世者文制軍綬重刊之有沈雨蒼者如其方以行藥於杭越無不應手立效帷藥品有猝難購得者宜平時預備乃可濟用治金刃傷用韭菜同石灰搗成餅貼牆上乾透研末敷止血效　又方用高糧米麵水調塗傷處布包數日即愈　又方用生白附子（六兩）　生南星　天麻子　白芷　羌活（各五錢）　防風（一錢）共為細末過羅敷上傷重者黃酒浸服一錢外用水調敷上不拘一切破爛敷之即愈（敬信錄附方）　又方用陳石灰新石灰絲瓜根葉初開兩葉者韭菜根各等分搗千下作餅陰乾為末擦之止血定痛生肌甚效又方用戴過舊氈帽燒灰研末敷上立愈且易收口　又方用戴過多年白氈帽並頭發一撮燒灰研末敷之（良方集要）　又方用螃蟹搗爛搽傷處立愈又方用獨殼大慄研敷或嚼敷或生薑嚼敷均效　又方州礦子灰末和韭菜搗極爛做餅陰乾研末搽之又方用吃的絲姻末上之即愈又方用乾梅燒存性敷之一宿瘥又方以晚蠶沙為末摻勻絹上包之隨手瘡合血止又方用煆龍骨白芨等分研末刀口小幹上刀口大涼水調敷又方用百藥煎炒真降香等分研末入傷口深處神效（彙集良方）</p>
<p>治金瘡噁心用白檳榔（四兩）　橘皮（一兩）為末空心生蜜湯下二錢治金瘡腸出用小麥五升水九升煮取四升濾汁待極痛時令病人臥席上含汁噀之腸漸入而愈</p>
<p>治金瘡不臺用象皮燒灰敷之立效</p>
<p>治刀傷頸顙割開大口急用嫩雞撏去毛扯下皮貼傷處血止而口自合一方用白臘為末敷傷口即止血數日全愈</p>
<p>治撲打損傷方以十一月採野菊花連枝葉陰乾每野菊一兩加童便無灰酒各一碗同煎服立效又方以未退胎毛雞和骨生搗如泥作餅入五加皮敷傷處效　又方用小蝴蝶花根二三寸嚼爛冷水送下汗出而愈若傷重者可搗汁灌之　又方用黃牛屎炒熱封之裡定即效（食物本草）　又方用胡桃仁搗和溫酒頓服立效　又方用煙店細姻爛麻繩燒研每服二錢黃酒下重者三服愈　又方用鬧羊花燒酒浸七日曬乾為末壯者服五分弱者三分紹酒送下用於更妙　又方用生半夏芙蓉葉等分為末紹酒白蜜調敷三日愈　又方用干冬瓜皮牛皮膠各一兩剉入鍋中內炒存性熱酒一杯調服五錢仍飲酒二三杯暖臥取微汗痛立止極效</p>
<p>治頭面跌撲青紫用生半夏磨汁搽之神效乾者醋磨</p>
<p>治折傷股臂績筋接骨神方但有皮相連者用生地黃研汁黃酒調服一月筋皮連續以渣搗碎炒熱敷患處極效　又方用綠豆粉於新瓦上或銚內炒紫色井水調成稀膏厚敷損處須遍敷到以白布將杉木板縛定自愈又方用隔年陳粉子炒焦五倍子炒黃色等分為末醋調搽再以碎紙貼藥上效（彙集良方）　又方用乳香末摻極痛處以小黃米麵塗上再用五靈脂一兩茴香一錢共為末厚摻之以帛里定用木片夾之少壯人二日效老者五六日效　又方白酒面二兩為末糯米半升煮飯候飯熟以面末勻拌先將傷骨接對好再將曲飯敷患處緊包又用乾荷葉一個燒灰存性為末陳酒熱沖服能多飲更妙三日吃三次後用活象鱉七個搗爛兌黃酒沖服亦三日三服極效所敷之藥慢慢去之（彙集良方）　又方用青白絲頭或絲線燒成末服五分或一錢黃酒調下良又方用小黃米麵皂角末發灰用臘醋熬成膏貼患處止痛效　又方用牛蹄甲一個乳香沒藥各一錢為末入牛蹄甲內燒灰以黃米粉和成膏敷之立愈　又方用狗頭一個燒存性為末熱醋調敷暖臥自愈　又接骨消腫止痛方蘇木（一兩）　好麻（五錢剪碎鍋內炒灰）　乳香（三錢）　沒藥（三錢）　先將蘇木麻灰黃酒煎滾去渣衝入乳香沒藥內溫服出汗效又展子明接骨方用旱公牛角一隻火焙乾一層刮一層　榆樹皮白里黃米麵俱不拘數蕎麵亦可花椒七粒共研末以陳醋熬成稀糊青布攤貼薄木片纏住時聞骨內響聲不絕其骨即接兼治牛馬跌傷</p>
<p>治損傷骨折瘀血攻心昏迷不醒方土鱉烙干　乳香　沒藥　大黃　血蠍　硼砂　骨碎補　自然銅醋煆七次各等分為細末每服八釐熱黃酒送下其骨自接瘀血在下則自下瘀血在上則自吐或加麝香少許同服神效又方用蘇木　紅花　歸尾（各三錢）　大黃（二錢）　董便黃酒煎熱服治折足傷用銅末和酒服之即痊（朝野僉載）　又方用白蒺藜炒黃為末每服五錢黃酒煎服良</p>
<p>治跌損內傷用螃蟹尖團各一隻石臼搗爛滾黃酒衝入連口飲之使其出汗傷處將蟹渣搗爛敷之自愈</p>
<p>治跌損外傷用白麵高醋和成餅冷包傷處一時一換重者包至一斤輕者半斤即愈</p>
<p>治跌打損傷舒筋活血方名邊臣十八味用歸尾酒洗（一錢二分）　烏藥　枳實（炒）　蘇木　丹皮　石斛　秦艽　赤芍　銀花（各一錢）　桃仁（去皮尖十五個）　紅花（酒拌焙六分）　紫草（七分）　猴姜（八分）　大黃（一錢五分）　乳香　沒藥（各去油五分）　甘草（五分）　酒水（各二鍾）煎鍾半熱服頭項加川芎腿腳加牛膝胳膊手指加桂枝脅肋加青皮（史公傳）</p>
<p>治內挫腰痛不能屈伸用牙硝雄黃麝香各半釐共研細末以少許點人中扶病者周圍行數次腰痛如失如未效再點再行痛止為度又方用冬瓜皮燒研酒服一錢愈　又方以橙子核炒乾研末以鹽水調空心服之效治跌傷青腫用鮮羊肉切片貼之愈又傷目青腫用羊肉煮熟熨之亦愈（食物本草）</p>
<p>治損目破睛用牛口涎日點二次宜避風黑晴破者亦可愈治受傷有瘀血在腸用白馬蹄燒煙盡為度研末酒服方寸匕日三次夜一次血盡化水而愈</p>
<p>治跌傷血瘀筋骨痛用鹿角末酒服方寸七日三效一方用鼠屎燒末豬脂和敷急里之不過半日痛止</p>
<p>治損傷危急者用松節一斤入鍋炒起脊煙為度以黃酒二斤入鍋內一滾即濾去渣俟酒溫時灌之嚥下自愈</p>
<p>治墜馬瘀血積在胸腹唾血無數干藕根為末酒服方寸七日二次愈一方用乾荷葉為末每酒服方寸匕其效如神</p>
<p>治損傷頭腦骨破及手腳骨折或指頭破裂血流不止用蔥白搗爛烙熱封裡損處甚效（同上）</p>
<p>治火藥傷方急覓水中大蚌置磁盤中無人處口向上俟開時研冰片二分麝香二分匙挑一二分入蚌口內蚌肉即化為漿再入冰麝少許以雞翎先從四圍層層掃塗痛楚自減俟火氣已退將蚌殼燒研末入冰片少許麻油調搽自愈</p>
<p>治湯火傷飲冷水必死浸冷水中必爛至骨急搗蘿蔔汁或童便服之外用槐花炒研末香油調搽立時止痛感用斕茶葉敷亦可又方預用瓶盛麻油以箸就樹夾取秋葵花入碗勿犯人手密封瓶口用時取油塗患處良或用黃葵花搗爛麻油調搽之又方用糰粉砂鍋炒黃香油調鴨翎掃敷干再掃數次愈（敬信錄方）　又方用蛇退皮瓦上炙乾成末麻油調搽良　又方用雞子清三個好酒一杯入溫湯內隔燉俟冷以鴨翎塗患處半日即效　又方用雞子清磨好京墨塗患處三層濕紙蓋之覺冷如冰妙　又方用鮮山藥搗爛敷之止痛結痂而愈　又方用燒酒浸濕厚紙攤患處止痛不起泡　又方用老棗樹皮燒灰香油調搽效　又方用破鞋底燒灰香油調搽效　又方用豬膽調黃櫱末塗之效或大黃末水調敷亦效　又方用水煎牛皮膠如糊俟冷掃塗之或濕牛屎搗塗之皆效　又方用虎骨炙焦研敷神效或山老鼠泥包燒研菜油調塗之又方用饅頭餅燒存性研末香油調敷之效　又方用酸醋淋洗並以醋泥塗之甚妙愈後亦無瘢痕</p>
<p>治火燒皮肉焦爛出蟲如蛆用杏仁為末敷之即愈</p>
<p>治熱油傷用糞鋼邊青苔焙乾為末麻油調敷數次即愈治火燒昏迷發熱飲小便數碗火毒不至攻心童便更妙外用狗油調水銀敷之神效</p>
<p>治人咬傷方用大板慄嚼碎敷之頻換愈　又方用五穀蟲洗淨搗爛糊傷處即愈　一方用蚌油敷之效　又方用豆腐店架上淋下積成漿腐刮下敷之神效</p>
<p>治人咬與馬咬傷用白煮豬肉一大片同飯自嚼敷之效一方先以艾火灸患處後用人糞及馬糞燒存性豬油調敷愈</p>
<p>治馬咬腫痛用鼠屎同馬鞘燒灰豬脂調敷愈（本草）　又方以鞭馬鞘燒灰塗之即愈（朝野僉載）</p>
<p>治虎爪熊爪傷用栗子嚼爛敷傷處立效又治虎傷方服香油其毒立解（戒菴漫筆）</p>
<p>治瘋狗咬傷方急用水洗傷口使毒血流盡如無血用磁針刺出血隨以核桃谷半個將人糞填滿以紙封之覆傷處用艾灸谷覺內熱即易艾炷約灸百牡換兩三殼乃攜韭菜汁敷土並吃韭菜汁一碗此後日服韭汁生熟皆可一月為度候口合生肌始止禁風一月禁發物三月終身戒食狗肉　又方用斑蝥二十一個糯米一撮先將蝥七個同米入鍋慢火炒勿命焦取出再入七個炒焦又取出入七個炒赤色出赤姻為度去蝥不用將米研末作二服冷水入香油少許空心調服須臾又進一服二便利下惡物為度如腹痛急以青靛調涼水飲之解或以黃連甘草湯冷服不可食熱物　又方以人糞塗咬傷處極效須新糞乃佳（戒菴漫筆）　又方急用蝦蟆作膾食之立愈（宋書）</p>
<p>治惡犬傷洗淨以熱牛屎炒熱封之即時止痛（食物本草）　又方用韭菜地曲鱔泥水調敷效（暖姝由筆）　又方用虎骨刮末水服方寸七日三服或嚼杏仁塗之（本草）　又方用烏梅末酒服二錢愈（同上）</p>
<p>治貓咬傷用薄荷搗汁塗上效</p>
<p>治鼠咬傷用貓頭燒灰油調敷子以瘥為度</p>
<p>治毒蛇咬傷用白芷末一兩水服立愈如爛入骨者白芷末加麝香少許日日摻之　又方用雄黃五錢靈脂一兩為末每服二錢酒下再服效　又方用煙管燒熱滴油搽之屢驗　又方用扃豆葉搗爛敷之或以核桃搗汁飲並塗之（食物本草）</p>
<p>又方用蚯蚓屎和食鹽水研敷神效或用蝦蟆一隻搗敷之</p>
<p>治蛇傷毒攻心用兩刀於水中相摩飲其汁即愈（食物本草）</p>
<p>治蛇咬傷目黑口噤毒入腹中用甘草白礬共研末冷水服二錢使毒不攻心</p>
<p>一方用犀角雄黃飲之毒不內入均效</p>
<p>治土虺蛇咬傷急拔去頭心紅髮一根用河首烏搗汁沖酒服渣敷咬處疼立止（彙集良方）　又方用水牛耳中垢膩塗咬傷處或摘桑葉取汁滴傷處俱效</p>
<p>治蜈蚣咬傷用燈花落在燈盤油內者取敷患處即愈　又方取鍋底墨搽之或蝸牛涎塗之或烏雞糞敷之俱效　又方用雄雞冠滴血塗之立效　又方用鹽湯洗傷處痛止以劉寄奴擦之或吳茱萸搗敷之效</p>
<p>治毒峰螫傷用芋梗研汁嘆之效或用蚯蚓糞亦可（筆談）</p>
<p>治蜴咬傷疼痛難忍用白礬（一兩）　雄黃　人言　黃蠟（各五錢）　巴頭（三錢）　共研末同蠟熔化攪勻為錠用時將錠在燈上炙滴患處　又方用白糖按痛處揉之立止痛或以銀硃雞子清調塗亦效　又方用大蜘蛛令咬出毒痛</p>
<p>即止將蜘蛛放水碗中少時待毒吐盡放去</p>
<p>冶蜘蛛咬傷中其毒者或胸腹腫痛脹遍身有絲惟服鹽汁即愈</p>
<p>治一切惡蟲咬傷用香油浸紫蘇葉或甘草汁塗之效</p>
<p>治破傷風方用蟬退去頭足六錢淨瓦上焙乾為末陳酒調服即臥出汗愈（敬信錄附方）　又方用騾屎炒焦里熨之冷另換熨立效（食物本草）　又方用槐子一合炒黃酒一碗煎八分熱服汗出即愈　又方用黑魚頭陰陽瓦上焙焦研末服二三錢沙糖熱酒調服　又方用蘇木為末每服三錢熱黃酒沖服　又方凡治破傷風症至危者非此不除用蠍子稍七個為末熱黃酒調服或用全蜴一錢為末贊酒調服一日三度愈</p>
<p>治一切破傷風兼治猘狗咬傷方用天南星防風各等分為末敷傷口再以溫酒調服一錢如角弓反張重便調服一錢打傷心頭微溫童便高灌二錢癲狗咬傷先以水洗淨用絹拭乾歡藥患處神效又灸破傷風法用核桃殼半邊填人糞以艾灸之灸至汁出自覺大困即愈（灸法詳見灸瘋狗傷）</p>
<p>冶金瘡中風角弓反張用杏仁去皮尖研碎蒸交汁服並摩瘡上良一方治破傷風發腫用杏仁搗成膏厚塗腫處燃燭遙炙之效</p>

<h2>愈疾</h2>
<p>諸葛行軍散治瘟疫用綠豆粉一兩麻黃八錢共研和勻每服一錢用無根水調下汗出即愈</p>
<p>治瘟疫熱毒煩躁狂言用靛青一茶匙新汲井水下效</p>
<p>治時氣三日外忽覺胸滿堅硬手足心熱面變黃色用苦丁香七枚研末如大豆許吹兩鼻中令出涎沫再調五分服之吐典水痊（彙集良方）</p>
<p>治腫項大頭蝦蟆瘟用姜蠶（二兩）　大黃（四兩）　薑黃　蟬蛻（各二錢五分）研末薑汁打糊為丸重一錢蜜水調服一丸立愈（內府仙方）　又方用靛花三錢雞蛋青一個燒酒一鍾調服神效</p>
<p>治時氣頭痛發熱以連根蔥白二十根和米煮粥入酷少許熱食取汗即解給四時瘟疫用黃沙糖生薑自然汁白滾水各一杯調勻乘熱急服蓋被髮汗即愈</p>
<p>武侯行軍散治傷寒未過三日用麻黃（九兩）　川芎　白芷　蘇葉　石膏　甘草（各一兩）　綠豆粉（二兩）　共為細末每一錢無根水調服</p>
<p>純陽救苦湯治傷寒陰症用大黑豆三合炒熟生薑二三兩切片水一碗煮數沸取汁服汗出即愈　又方用羊糞焙乾為末每服三錢黃酒送下汗出愈</p>
<p>治大頭傷寒用黑豆二合炒熟炙甘草一錢水二鍾煎八分熱服昔京師多患此病有異人書此方於通衢服者神效　又方治傷寒無汗用糯米粽無棗者和滑石末杵成錠焙乾燒灰浸酒又灰熱飲之七日內者即汗七日必次日汗（於總憲秘方）　又方用白糖茶葉入水熬數十沸服下汗出即愈</p>
<p>治傷寒譫語蚯蚓糞涼水調服如腮腫赤小豆末水調敷效</p>
<p>治傷寒膈噎用核桃十五枚入砂鍋水浸一指深燒滾四五次取水飲之嗝噎立效</p>
<p>治傷寒時氣毒攻手足腫痛欲斷用牛肉裡之立愈（食物本草）</p>
<p>治傷寒頭痛壯熱胸中煩痛四五日不解用烏梅十四枚鹽五合水一升煎半升溫服取吐避風良</p>
<p>治傷寒熱病後口乾咽痛喜唾用大棗三十個烏梅十枚各去核搗爛蜜丸杏仁大含咽之甚效（同上）</p>
<p>華陀救苦方活寒中三陰口禁失音四肢強直攣急疼痛及厥逆唇青囊縮無脈卒倒屍厥脫陽等症急用蔥白一握微搗碎炒熱用布包熨臍下冷則更替熨之甚餚灸氣海關元二三十壯脈漸出手漸溫乃可生</p>
<p>治夾陰傷寒卒死用紋銀一塊錘扁燒紅放病人臍上以小雞一隻連毛剖開不去腸肚包於銀上用布縛住一時揭開看如雞青銀黑另換雞銀再包可活如人未絕氣止燒銀令熱放臍上將雞里之即愈（彙集良方）</p>
<p>治風痹四肢攣急用薏苡仁大粳米等分煮粥空心久服自愈</p>
<p>治中風不省人事用側柏葉連須蔥白各一把搗如泥黃酒一大碗煎三十沸去渣候溫灌服立效</p>
<p>治中風口眼歪斜用萆麻子研爛右歪塗左左歪塗右復正即速洗去（彙集良方）　又方以鱔魚血照前方塗之或鱉血調烏頭末塗之正急洗去</p>
<p>治風癱用油核桃搗爛如泥及黃蠟各三錢黃酒沖服出微汗停三日各用四錢沖服又三日再服一次愈（呂道人方）</p>
<p>治中風痰壅忽不能言用香油二兩雞蛋一個調勻灌下即愈　又方用苦丁香一錢溫水調服令吐出積痰自愈</p>
<p>治中風中痰用生石膏一兩辰砂五分研末和勻每服三錢用蜂蜜調下立愈治痰厥氣絕心頭溫者取古塔上陳石灰一合（如無塔灰古牆陳灰亦可）水一蓋煎滾去水再用清水一盞前極滾澄清漕之痰下自醒</p>
<p>治半身不遂用番本鱉不拘多少以香油□待浮起乘熱出皮為末每服三分黃酒下汗出即愈（彙集良方）</p>
<p>治痰迷心竅用膽礬研末以少許吹人鼻中吐涎即蘇　又方以膽南星一錢薑湯灌下即蘇　又方用石菖蒲生薑搗汁灌下即愈</p>
<p>治風痰癲狂譫語如癡以鹽水一大碗灌下吐痰即瘥</p>
<p>治中風中痰中氣中暑乾霍亂等症用老薑自然汁一鍾童便一鍾和勻灌之皆效</p>
<p>治中暑忽然倒地氣欲絕者用大蒜四五個剝淨再取路上熱土一塊共搗爛新汲井水和勻去渣灌之即愈（彙集良方）　又方大蒜搗爛和水灌入左鼻中少頃即蘇</p>
<p>治中濕作疼用白朮一兩水一鍾酒半鍾煎一鍾溫服</p>
<p>治中濕腿腫不能行走用干茄根煎湯洗之愈</p>
<p>治中濕兩腿作疼用艾（二兩）　蔥頭（一握）　生薑（一兩五錢）共搗爛布包蘸極熱燒酒擦患處以痛止為度</p>
<p>治瘧疾用何首烏（五錢）　青皮　陳皮（各三錢）　酒（一碗）　河水（一碗）煎至一碗溫服無論身之強弱時之遠近皆愈　又方用蜜陀僧三錢研末用紅糖熔化拌勻為丸三個於將發時整個嚥下忌食茶　又方用生薑搗取汁白糖和汁開水燉熱未發前服之即愈　又方紅曲研末拌白糖服即止（良方集要）　又方用姜皮　陳皮　山查　麥芽　神麯各一錢研末冰糖沖水調服即愈　又方以向東南桃枝熬水露一宿早起空心服即止</p>
<p>治三陰瘧疾用生薑　細茶葉　山查　柴胡（各一兩）　井水酒（各一碗）煎好露一宿早起溫服愈老弱人減半酌用（同上）</p>
<p>華陀治霍亂方用白礬一錢為末百滾湯調服　又方用大蘿蔔莖葉搗汁飲半碗愈（彙集良方）</p>
<p>治霍亂轉筋用木瓜一兩酒一升煎服不飲酒煮煎湯服仍用湯浸青布里其足立效（食物木草）　又方將涼水淋兩腿筋即不轉（彙集良方）</p>
<p>治霍亂吐瀉及轉筋用鍋底墨灶額墨各五分白滾水沖一盞急攪數十下以碗蓋之稍定大口吞二三口立愈</p>
<p>治霍亂頭旋眼運轉筋逆冷用大蒜頭搗爛和井水服效（同上）</p>
<p>治霍亂吐瀉用廣陳皮去白（五錢）　真霍香（五錢）水二盞煎一盞溫服效　又方用陳橘皮末湯調服不醒者灌之仍燒磚沃酷以布里磚安心下熨之即治（食物本草）　又方用干佛手柑煎湯飲之　又方用淨土以冷水調飲童便尤佳　又方用井花水和百沸滾湯各半碗服之效</p>
<p>治霍亂嘔吐用綠豆粉冷水調服二三次即止不可用熱物</p>
<p>治霍亂下痢用烏梅七個冰糖二兩水一鍾煎半鍾放土坑內候冷取服即愈（彙集良方）</p>
<p>治乾霍亂不吐不利脹痛欲死急掘黃土地作坑深三尺以新汲水沃入攪濁少頃取溥者用之名地漿水飲五盞愈（食物本草）</p>
<p>灸霍亂已死腹中有暖氣者用鹽納臍中灸七壯兼治瘀症</p>
<p>治陰痧霍亂用錫器化成一處以水一大碗淬之將水飲盡蓋被出汗即愈治絞腸痧痛欲死者用馬糞研汁飲之立愈（本草）　又方用食鹽一兩妙熱滾水沖服或吐或下即愈又方用鹽一撮置菜刀上燒紅淬入水中乘熱飲之即愈又方用馬蘭頭根葉細嚼咽汁立效諸般痧症皆治　又方童便連飲數碗效（痧脹源流）　又方用絲瓜葉搗汁飲之兼治霍亂效　又方用晚蠶沙為末白湯冷服　又方用羊糞一握滾火泡蓋一時取而上清湯冷極服之　又方用綠豆湯稍溫服做綠豆湯泔水亦可又方用麻油一盞灌下牙關緊抉口灌之　又方用蘆根湯微溫服　又方用菜油（二兩）　麝香（一錢）昏迷不省者灌下立蘇　又方用蘿蔔菜作湯飲之　又方伏龍肝泡水飲之　又方生豆腐漿服碗許</p>
<p>治氣阻寒痧用細辛為末砂仁湯冷調服</p>
<p>治行路暑痧用泥漿水攪澄清飲之（同上）</p>
<p>治猝然肚痛脹大頃刻即死急用銑藥二錢滾堆花酒調下即消仞不可誤用爆竹藥妄投寒涼</p>
<p>治泄瀉用山查肉炭麥芽炭紅糖各三錢連皮淡薑湯沖服</p>
<p>治暑濕紲用白朮車前子各等分研末每二三錢米湯調下</p>
<p>治水瀉久不愈有用五倍子枯礬各等分研末麵糊為丸如桐子大每服三十丸白湯送下（彙集良方）</p>
<p>治水瀉不止用多年陳米熬湯溫服二三次或加核桃葉亦可</p>
<p>治泄瀉暴痢用大蒜搗貼二足心或貼臍中效並治禁口痢</p>
<p>治諸痢泄瀉用蔥白一握細切和米煮粥日日食所</p>
<p>治赤白痢州馬齒莧一撮煮熟日痢砂糖拌食赤痢峰蜜拌食赤白相兼蜜糖同拌連湯食之效　又方用薺菜煮爛連葉帶汁服若無鮮者乾的熬濃汁飲神效　又方用龍牙草五錢陳茶一撮水煎服神效</p>
<p>治痢疾不拘紅白遠近日夜不能睡者用蘿蔔自然汁二酒杯老生薑汁半酒杯生蜂蜜一酒杯陳細茶葉煎濃汁一鍾和勻服或用蘿蔔子冷水浸透搗取汁亦可一服安三服愈</p>
<p>治紅痢用山查炒黑研末每服二錢砂糖拌滾水沖服白痢加橘紅一錢木香一錢</p>
<p>治噤口痢用五穀蟲於流水處洗淨瓦上干焙為末每服一二匙米湯送下或利砂糖調服便思飲食如湯水不下用蘿蔔切片蘸峰蜜入口噲咽之味淡另換久則思食再進稀粥　又方用大鯽魚一尾和蔥姜酷煎好放鼻下薰之胃口自開再以蓮子去心留皮為末井水調下二錢日二服效　又方用秋王瓜藤燒灰蘿蔔於炒研末等分白糖湯調灌效　又方用陳臘肉煮熟先聞後食之此方兼治休息痢效</p>
<p>治休息痢用豆腐醋煎淡食久則有驗　又方用豬肝一具切片杏仁炒一兩於淨鍋內一層肝一層杏仁入童便二升文火煎乾取食二三次效（本草）</p>
<p>又治休息痢經年不愈用虎骨炙焦搗末服方寸七日三效</p>
<p>治久痢不止用烏梅肉三個水一盞煎六分食前服二次愈　又方用酸石榴一個煆煙盡出火毒一夜研末仍以酸石榴一塊同煎湯服神效無比　又方用楊梅燒研末和米飲服二錢日二效（同上）　又方用臭椿樹皮五錢酒二碗煎服立止又方久痢寒熱已退飲食如常滯氣未化仍帶赤白用白馬糞少許燒灰存性沖水服即愈</p>
<p>治鼓脹用年久皮鼓中間一塊燒灰存性為末好醋調服（經驗良方）　又方用活鯽魚大小七個去腸不用洗以黑料豆填滿魚肚縫好水煮熟連湯服數次即愈（同上）　又方用西瓜（冬瓜亦可）切去頂挖去瓤大半滿入蒜瓣將原頂蓋之置新砂鍋內煤火蒸熟瓜蒜並湯盡食之三日消盡消治氣鼓用馬蹬錢三外剉為經末　南荸薺三個去泥　核桃三個火炙去油共合丸三個每服一丸黃酒白水俱可送下　又方用大麥芽常煎湯服漸漸愈</p>
<p>治水氣腫脹並小便淋閉用田螺車前子等分研爛熬膏貼臍中水從便旋而下一方用商陸根用蔥白搗爛填臍水自消　又方用狗肉一斤切片和米煮粥空腹食之自愈（本草）　又方用干馬糞三錢大蒜半頭入豬肚內煮爛食之二次即愈</p>
<p>治發黃由傷寒後得者目不識人煨生薑去粗皮布包扭汁蘸香油點兩目大小眼角神效</p>
<p>治發黃昏迷死在須臾者用白毛烏骨雞一隻干撏去毛破開去腸屎搗爛敷心上節活</p>
<p>治黃疸用陳臘肉數斤稻草包燒灰雞子清調膏藥貼臍上一日一換六七日即愈（經驗良方）　又方用蚯蚓糞（韭菜地內覓取）焙乾和紅糖開水沖服（同上）　又方用茵陳同紅棗煮熟為度去茵陳食棗與湯效　又方用絲瓜連子燒存性為末因酒病者酒調下因面病者麵湯調下</p>
<p>治遍身黃如金色用甜瓜蒂（六月六日收者好）丁香各四十九個淨砂鍋炒煙盡為度研細末每用一匙吹入鼻內數次痊</p>
<p>治吐血血衝上從鼻湧出用百草霜為末井水調服三錢或米飲調服如鼻衄吹入鼻中（彙集良方）</p>
<p>治吐血成鬥命在須臾用貫眾五錢為末黑頭髮瓦上煆研末五錢側柏葉搗汁一鍾和藥末隔湯熨一炷香久再加童便一茶鍾黃酒一小鍾徐徐飲之神效</p>
<p>治吐血不止用白茅根一握水煎服或用仙茅根搗汁服（千金翼）</p>
<p>治九竅四肢諸處間有血濺出者此暴驚所致也毋令患人知忽以並花水噴其面即止治衄血尤效</p>
<p>治失血取未熟青黃色大柿一枚好酒煎至九沸取柿食奇驗</p>
<p>治虛勞失血口乾用羊脂一塊如雞子大醇酒半升棗七枚渣七日食之立愈（本草）</p>
<p>治吐血咯血勞傷水牛腦髓（一具塗紙上陰乾）杏仁（煮去皮）胡桃仁白蜜（各一斤）香油四兩同熬干為末每空心燒酒服二錢服完愈</p>
<p>治偏正頭痛用白芷川芎各三錢為細末以黃牛腦子搽末其上入磁器內加酒燉熱乘熱食之儘量一醉醒即全愈（本草）　又方用蒼耳炒黑為末一服三錢黃酒調下即止疼　又方用萊菔子五錢酒釀半杯干攤貼患處片刻即止　又方用象牙皂角　白芥子共為末作鼻菸嗅之愈併除根</p>
<p>治偏頭痛用馬齒莧不拘多少煎滾以氣薰鼻在痛薰右右痛薰左即愈</p>
<p>治頭痛不止用楊梅為末以少許嗅鼻取嚏炒（本草）</p>
<p>治頭痛而腫名豬頭風用野苧麻（即小麻子）根搗爛敷之即愈　又方用桑木燒灰淋水乘熱薰洗即愈</p>
<p>治目中赤翳以白羊髓敷之立愈（本草）　又方用指甲刮極細末點眼中翳甚效或用人乳汁或用同人口津液點之尤妙兼治飛絲入目</p>
<p>治眼起雲翳用象牙筋人乳磨濃點翳上日三四次愈（良方集要）　又方用用干桑葉黑芝麻共研細末紅糖為丸每早服之效（同上）　又方用龍膽草於瓦器內熬成膏除火氣點眼神效　又方用黃丹蜂蜜調交貼太陽穴或乾薑末水調貼足心妙</p>
<p>治雀盲眼用黑羚羊肝一副切片入砂鍋乾炒先於氣上薰目然後食之目漸開明</p>
<p>治火眼初起用藍綿綿三寸將手中指根箍二套即退</p>
<p>治耳鳴耳癢用生川烏水泡透削作棗核樣塞耳日夜換二三次效（彙集良方）</p>
<p>治耳內諸膿瘡用柿蒂燒存性研細用葦筒吹入耳內效（同上）　又方用五倍子炒研為末水調塗搽之</p>
<p>治暴聾用鐵片燒赤淬酒飲之再以磁石塞耳（經驗良方）　又方用核桃油以雞翎不時搽耳內最效</p>
<p>治鼻血用大蒜搗貼足心立止即拭去之　又方用生蘿蔔汁半系入酒少許熱服並以汁注鼻中甚驗（同上）</p>
<p>治舌腫硬用百草霜海鹽等分為末井花水調服（彙集良方）</p>
<p>治重舌木舌用緣礬二錢鐵上燒紅研末服之</p>
<p>治舌腫滿口不能出聲用蒲黃乾薑等分為末頻摻即愈（同上）</p>
<p>治舌下腫趁疙瘩潰爛用純白馬糞陰陽瓦上焙焦加冰片少許研末塗之愈（本草）</p>
<p>治牙痛難忍用輕紛少許含疼處流出涎沫外用獨大蒜一頭搗爛敷在手虎口上約一炷香時去蒜隨起一泡立時疼止　又方用小麥一大把炒黃槐枝五七段花椒三錢共煎湯漱口立愈　又方用玉簪花根為末點牙即愈（經念良方）</p>
<p>治風蟲牙痛用燒酒浸花椒片時含漱效</p>
<p>治風火牙痛用花椒艾不拘多少入酷熬漱口即止</p>
<p>治牙日長難食用白朮煎湯頻漱咽效　又方用蒲黃炒擦立時有功</p>
<p>治牙腮腫痛用老鼠燒灰配冰片點上即愈（同上）</p>
<p>治喉閉腫痛用巴豆一個包好塞左鼻孔內　又方用山豆根細嚼含咽涼水潤喉即瘥（彙集良方）</p>
<p>治鎖喉風以甘菊花根洗淨搗汁灌下即愈</p>
<p>治乳蛾最效秘方將兩子大姆指旁縫內剌出血即松　又方用薑黃（一片）紅棗（二枚去核）巴豆（三粒）同搗如泥唾津調為二丸絹包線扎一握左手心一塞在鼻孔臥汗立愈此藥可治三人　又方用人指甲瓦上焙焦黃色研末吹喉內即破兼治骨鯁</p>
<p>凡喉毒喉蛾須看頭上有紅疙瘩或紅點即用針挑破或生紅髮即扯去毒自解</p>
<p>治急心痛用豬心一枚照本人年歲每歲入胡椒一粒同鹽酒煮食效（食物本草）</p>
<p>治心痛不止用敗筆頭三個燒灰無根水服之立效</p>
<p>治淬然心痛用桃仁七個去皮尖研爛水一合服之效　又方用橘皮去白煎湯飲之甚良（同上）　又方用青靛半盞長流水半盞調服　又方用芝麻一合炒黃色好醋一杯煎至三分服之效</p>
<p>治九種心疼用椿樹上椿子炒研末每服三錢薑湯調下立止</p>
<p>治心下鱉瘕痛用黑貓頭一枚燒灰酒服方寸匕日三效（食物本草）</p>
<p>治心胃痛用新棉花核炒黃研末甸服三錢陳酒下三服除根　又方用胡椒煮粥食之</p>
<p>治胃氣痛用胡椒（五錢）　檳榔（三錢）　良薑（三錢）　共研末每服三分水送下　又方用小蒜連葉七根鹽醋煮熟疼時服之愈永戒甲魚</p>
<p>治腹中痞積用牛肉四兩切片以風化石灰一錢擦上蒸熟常食之痞自下（本草）</p>
<p>治積聚脹滿用白馬糞同蒜搗膏敷患處效（同上）</p>
<p>治腹中痞塊用全白鵝之血乘熱服四五次即愈（經驗良方）　又方用青靛一二碗煮白頭老鴉食之並將骨研末麵糊為丸酒送下效</p>
<p>治嘔吐膈氣用半夏生薑各三錢水一鍾煎七分溫服（彙集良方）</p>
<p>治嘔噦用橘皮生薑各三錢水一鍾煎七分溫服</p>
<p>治反胃用半卵狀若白石色如玉者與狗寶絕類研少許沖湯服之神效（蟫史）</p>
<p>治反胃轉盆用大雪梨一個以丁香十五粒刺入梨內濕紙包四五層煨熱食之效（本草）</p>
<p>治膈噎反胃用公豬肺一具以揀淨吳茱萸裝入肺管內砂鍋煮爛吃肺二次全愈　又方用黃牛口內回出草瓦上焙乾為末短服七釐加半夏一分每早滾水沖服不過五十日全愈　又方用真柿霜拌稻米蒸飯食之八日不飲滴水即愈　又方用雞肫內黃皮三個焙乾為末燒酒調服或鴨肫內皮亦可　又方用虎肚燒末存性好酒調服立效（於總憲秘方）</p>
<p>治噎膈不食用醋蛾曬乾為末每服一錢酒調空心服神效</p>
<p>治膈噎不食屬火者用蘆葦根五兩（淨露者不用）剉碎水三盞煎二盞去渣溫服（彙集良方）</p>
<p>治膈食胸前生二小骨漸漸交合則不能食取生鵝血乘熱飲之數次二骨自化永戒食牛鵝</p>
<p>治咳嗽方用甜梨一個將白蜜貝母入梨內蒸熟食之即愈（良方集要）</p>
<p>治久咳嗽痰火用薑汁　蘿蔔汁　梨汁　蜂蜜　白糖（各二兩）　紫蘇　杏仁（各一兩）　熬成膏常服極效</p>
<p>治勞傷咳嗽用真麻油白蜜各四兩入雞蛋五個煎二滾取出空心食之數次愈</p>
<p>治咳嗽痰喘用胡桃肉三個和生薑二片臨臥細嚼飲滾白水三口即睡數次愈（同上）　又方用好甜梨剜空納小黑豆令滿留蓋合住扎定灰火煨熱搗作餅每日食之至效（食物本草）　又方用姜梨蜜三味不拘多少入水熬成汁服即止（彙集良方）</p>
<p>治喘秘方用麻黃三兩不去根節湯浴過訶子三兩去核用肉二味為粗末每服三大匙水二盞煎減一半入臘茶一錢再煎作八分熱服無不立效（宋劉昌詩）</p>
<p>治腰痛用橘核杜仲各二兩炒研末每服二錢鹽酒湯下（本草）</p>
<p>治閃挫腰痛用橙子核炒研酒服三錢即愈</p>
<p>治腎虛腰痛用羊腎去膜陰乾為末酒服三次愈（同上）</p>
<p>治腰痛難忍用絲瓜根燒灰存性黃酒下二錢立止</p>
<p>治腰腿痛用綿麻燒存性每服三錢黃酒下二三次愈</p>
<p>治腹痛用胡椒（三分為末）硫黃　黃臘（各一錢）燉化為丸芡實大納一丸入臍中即愈　又方用胡椒綠豆各四十粒同研滾酒浸服立止寒熱並治</p>
<p>治腹痛有蟲用蔥汁菜油各半鍾共合溫服蟲即化水除根</p>
<p>治臍下絞痛用木瓜（三片）　桑皮（七片）　大棗（三枚）　水三升煮半升頓服即愈（本草）</p>
<p>治自汗用何首烏研末唾津調貼臍上則汗止</p>
<p>治盜汗用母雞一隻磁片殺之取淨內物入浮小麥灌滿煮三炷香久為度不下鹽不與人嘗食完自效（同上）</p>
<p>治風癲不識人或猝口禁手足強直用伏龍肝研末三錢新汲水調服愈（彙集良方）</p>
<p>治狂邪發作無時披頭大叫欲殺人不避水火用苦參為丸桐子大每服二十丸薄荷湯下</p>
<p>又治中大麥毒病狂用蘿蔔汁大碗灌之立愈（洞微志）</p>
<p>治腸風下血用柿霜四兩扁柏葉二兩炒研末每五錢藕節煎湯調服即愈　又方用乾柿餅燒灰研末每服二錢米飲送下效</p>
<p>治大小便下血用獨大蒜煨熱搗如泥和黃連末為丸桐子大每服五十丸空心陳米湯送下　又方用陳敗棕燒灰存性研末每服二錢空心好酒調下</p>
<p>治大便不通用田螺一個搗爛加麝香半分填臍內效</p>
<p>治小便不通安鹽於臍上炙之即通　又方用猩猩草煎水服即通（同上）</p>
<p>治腳氣疼痛用羊角一副煆成末熱酒調敷以帛里之取汗而愈永不再發（本草）</p>
<p>治寒濕腳氣用牛皮膠一塊（切細麵炒成珠）研末每服一錢酒下　又方用花椒（一兩）　蔥（一把）　姜（三兩）　水十碗煎湯薰洗腫消痛止再用木瓜煮酒空心日日服之（同上）</p>
<p>治紅白淋用蔥煎湯洗下半身數次或燈心煎湯洗俱效（經驗良方）</p>
<p>治血淋用雞蛋開孔入生大黃末五次銀簪攪勻蒸熟空心黃酒下（同上U　又方用山梔子炒黑研末每服二錢滾水下（彙集良方）</p>
<p>治熱淋澀痛用萹蓄三錢煎湯飲即愈</p>
<p>治五淋下白用芹菜熬湯溫服二三次全愈</p>
<p>治道精用核桃仁（四兩搗爛）　黃臘（二兩化開）　合丸桐子大每一錢滾水下</p>
<p>治夢遺用韭菜子炒過研末每服三錢黃酒調服十日即愈（同上）　又方用雄雞肫內皮數十張陰陽瓦焙乾為末熱黃酒服（經驗良方）</p>
<p>治疝氣偏墮腫痛難忍用槐子一錢燒黑色為末入鹽三分空心黃酒調服（彙集良方）　又方用荔枝核炒黃為末每三分黃酒送下　又方用絲瓜瓤燒存性為末每服二錢熱黃酒下愈　又方用抱出雞蛋殼燒存牲為末每服三錢老酒送下即消</p>
<p>治陰莖陰囊腫疼大如升用馬鞭草搗爛敷之即消（同上）</p>
<p>治大麻風用蝦蟆一隻泥里燒熱去泥以大碗盛蝦蟆小碗蓋住乘熱沖滾黃酒飲酒汗出為度即愈　又方用浮萍煎湯浴浸半日大效此方可洗一切惡瘡　又方用地膚子半升煎湯頻浴甚效</p>
<p>治鵝掌風用自已小便常洗至好則止（彙集良方）　又方用真蘄艾四五兩水四五腕煮五六滾入大口瓶內以麻布一層縛之將手心放瓶口薰之冷再熱大妙　又方用天麻葉煮濃汁熱洗多擦之如無葉用天麻子亦可此方兼治諸癬</p>
<p>治鶴膝風（兩膝作疼頭漸大腿漸細）用大何首烏煎酒服以醉為度搗渣敷膝頭數次即愈永戒食鰍魚黑魚</p>
<p>治流火諸般腫毒用韭菜地內蚯蚓糞焙末醋調搽患處愈　又方用蔥白一把鹽一撮共搗爛敷患處即愈</p>
<p>治癰疽發背用母豬蹄一雙通草六分綿里煮食之（本草）　又方用蒼朮（去黑皮）地龍（即蚯蚓）鹽梅（即霜梅）等分搗泥豬膽調圍四周空頭潮愈（孫真人方）</p>
<p>用發背左右反搭用桐葉（即打桐油樹）數張濃茶煎取葉俟冷貼患處每日一換至六七張全愈</p>
<p>治背疽初起用黃明牛皮膠四兩和酒一碗隨意飲盡不飲酒者用白湯飲之可保毒不內攻一云內加川山甲四片燒存性用之極妙（本草）　又方用羊脂或豬脂切冷水浸貼熱則易之數日瘥（同上）</p>
<p>治發背發腦及一切惡瘡初起採取獨科蒼耳連根帶子細剉不見鐵器用砂鍋熬水二大碗至一碗如瘡在上飯後徐服吐定再服在下空心服瘡破出膿以膏藥傳之方系京兆張伯玉出榜傳人</p>
<p>治發背發腦及癰疽熱癤惡瘡用臘月兔頭搗爛入磁器內密封愈久愈佳每用塗患處以帛厚封之頻換取瘥（食物本草）</p>
<p>治背瘡滑爛用黃黑牛糞曬乾多年者為末八百草霜和勻摻之即愈（同上）</p>
<p>治背瘡疑似者用人屎燒灰醋和為泥敷患處干即易之自愈治肺癰時吐膿血用薏苡仁米炒研末水酒和調常服（經驗良方）</p>
<p>治腸癰腹痛用馬蹄灰和雞子白調塗即拔毒出而愈（食物本草）</p>
<p>治搭背癰疽大毒用螃蟹殼數十個焙黃黑色研末每三錢黃酒送下如生胸前加橘核煎湯黃酒酒服三五次即愈</p>
<p>治發背爛見腸胃外用楸樹葉熬膏傳之內用雲母四兩作小丸開水服之不累日云毋透出膚外與楸葉相著遂瘥須立秋日太陽未出時採葉為膏更妙（楊慎外集）</p>
<p>治疔瘡惡腫用鼠屎亂髮等分燒灰針破瘡頭納入良（食物本草）　又方用黑牛耳垢敷之即效（同上）　又方刺破疔頭用老蔥生蜜杵貼兩時疔出以醋湯洗神效蔥蜜不可入口切忌　又方用馬齒莧二錢石灰三錢同雞子白和敷之即愈治疔瘡痛不可忍用白菊花連根葉搗爛敷之痛即止再取汁一鍾和陳酒煎滾服死者可活如無葉以根代之（彙集良方）</p>
<p>治紅絲疔毒先將紅絲挑斷用糞坑年久蓋板刮下朽木瓦焙研末赤砂糖調敷之</p>
<p>治疔瘡走黃急用丁香　木香　乳香　沉香（各四分）　麝香（五釐）　雄黃（六分）　共研末合藥須端午午時或天月德吉日用時先挑破瘡頭將醋一滴用藥少許安膏上貼三四日愈</p>
<p>治疔瘡中風腫痛用驢屎炒熱熨瘡上五十遍極效（本草）</p>
<p>立時拔疔方用萆麻子（一粒去油）乳香（一分去油）共研或軟飯或棗肉為小餅放疔上將膏藥貼之一二時即愈能拔根</p>
<p>治封口瘡用貓頭骨燒存性研每三五錢酒下效（本草）　又方用烏半角炙灰糖酒拌服立服又方用鯽魚一尾去鱗腸搗爛入頭垢五六錢再搗加蜜半杯攪勻從瘡外圈圈入裡面留一孔去氣數次愈（彙集良方）　又方用抱雞母出窠時熱屎塗之立效（同上）</p>
<p>治多年頑瘡用黃柏末火紙灰和桐油調搽十日全好　又方取桑葉用醋煮一滾撈起貼瘡上生肌收口（彙集良方）　又方用貓犬頭骨燒灰研末摻患處即收口</p>
<p>治臁瘡方用柿霜柿蒂等分燒研末敷之甚效（食物本草）　又方用熱豆腐片貼瘡以絹縛之日換二次拔出黃水數日愈　又方用羊屎煆紅研末香油調敷如癢加枯礬輕粉少許效</p>
<p>治坐板瘡用絲瓜皮陰乾為末燒酒調搽效　又方用舊皮鞋底炙熱搭癢處癢止即住三次愈</p>
<p>治下疳瘡用蘆甘石（一兩火煆醋淬五次）孩兒茶（三錢）共研末香油調搽效　又方用甘草金眼花苦參花椒蔥頭（各一錢）煎湯入小口瓶內熏洗效　又方用黃花薔薇葉焙研摻之（良方集要）</p>
<p>治膿窩瘡用黃柏（一錢）　硫黃（二錢五分）　雄黃（二錢）　石膏（一錢）　海螵蛸（二錢）　輕粉（一錢）　共為末麻油調搽</p>
<p>治疥瘡癢用熱水一盆入石灰半碗攪渾待溫洗之效（彙集良方）</p>
<p>治水窩瘡用石菖蒲研末擦之</p>
<p>治廣瘡用乾荷葉濃煎當茶吃六七日即愈</p>
<p>治癬瘡用豆腐於以麻油煎取油塗之　又方用皂莢入醋煎三日夜干為末敷之效</p>
<p>治楊梅癬用輕紛（二錢）　杏仁（四十二個去皮）先洗瘡拭乾研爛搽之（同上）</p>
<p>治一切要瘤膏藥用生薑汁蔥汁（各一碗）　牛皮膠（四兩）砂鍋內熬成膏貼之效</p>
<p>治癭氣用大蜘蛛（一個焙焦）播酒頓服或海藻浸酒久服均效</p>
<p>治血瘤用甘草熬濃汁以筆醮塗周圍又以莞花大戟甘遂等分為末醋調另用新筆醮塗於甘草圍內二藥相反不可相近次日瘤當縮小三四次全愈愈後戒食甲魚</p>
<p>治瘰癧內消用黃柏炒黑白鴿屎瓦上炙焦各一兩研末雞子清調搽紙上貼之一日一換自消</p>
<p>治鼠瘡瘰癧用豬懸蹄甲燒行性為末三錢黃酒下（彙集良方）</p>
<p>治多年瘰癧用貓頭蝙蝠各一個俱撒上黑豆燒存性為末摻之干則油調內服五香連翹湯取效（食物本草）</p>
<p>治頭面楊梅用銅綠為末乾燒酒調點之效</p>
<p>治楊梅巳破用杏仁去皮尖二錢輕粉一錢冰片少許共研末和豬骨髓油研膏點之</p>
<p>治楊梅瘡毒用土茯苓研末糯米麵白蜜各一斤和勻蒸餅食之常以土伏苓煎湯飲不可食茶水</p>
<p>治痔瘡腫痛用枇杷葉蜜炙先以烏梅肉焙末煎湯薰洗後貼枇杷葉效（食物本草）　又方用秦椒一二十個炒微黃煎湯薰洗二三次效</p>
<p>治痔漏有蟲用狗肉煮汁空腹服之能引蟲出再用熟狗肉醮藍汁空心食七日全愈（本草）</p>
<p>治久年痔瘡用熊膽塗之甚效一切方不及也</p>
<p>治翻花痔用木瓜為末取鱔魚身上涎貼之以紙護住良（同上）　又方用馬齒莧陰乾燒灰豬油調搽</p>
<p>治雞冠痔用黃連為末敷之甚良</p>
<p>治痔漏有管用白鴿糞一升入罐內以開水灌之即坐罐口上須坐久忍疼其管自落數日全愈</p>
<p>治痔漏脫肛用虎脛骨兩節以蜜一兩炙赤搗末蒸餅為丸梧子大每溫酒下二十丸效（本草）</p>
<p>治肛門腫痛欲成痔瘡急取刀磨水服之甚效（同上）</p>
<p>治脫肛用豬脂油二兩煉去渣入蒲黃末一兩調勻塗之即收　又方用蟬蛻焙黃色為末菜油調搽立收（彙集良方）　又方用五偌子末搽之即收　又方用萆麻子仁四十九粒搗爛貼頂門上即收急洗去其藥</p>
<p>治暴痢脫肛以生鐵二斤水一斗煮五升將汁洗之愈</p>
<p>治魚口便毒用魚膠熬化攤布上貼之愈</p>
<p>治魚口初起用五倍子（炒研末）百草霜（各等分）醋調貼之愈</p>

<h1>卷下</h1>

<h2>救解</h2>
<p>救暴死身冷無痰扶令正坐氣順自安用皂角末吹鼻得嚏蘇</p>
<p>救涎潮暴死急扶入暖處正坐用火炭沃醋薰鼻使醋氣衝入鼻內自蘇或搗韭菜汁灌入鼻中或皂角末吹之得嚏即醒或急於人中穴及兩足拇指離甲一韭菜葉各以艾火炙三五灶可活</p>
<p>救中惡卒死視其上唇內有泡如粟米粒以針挑破出血即活　又法斷豬尾取血灌之並縛豬枕其頭即活（本草）</p>
<p>救中惡中邪卒死及縊死溺死壓死魔死打死驚怖死心頭尚溫者用生半夏五錢生薑汁一杯調灌之即蘇或單用生半夏末如豆大吹入鼻中得嚏即活救熱死急取路上熱土圍繞肚臍留出臍眼令人以熱尿對臍澆之即活或以薑湯童便乘熱灌之或大蒜搗爛和熱水灌之切勿令飲冷水及臥冷地逼火氣入心必死　又方用胡麻一升炒黑攤冷為末新汲水調灌自蘇</p>
<p>救凍死尚有微氣者急用大鍋炒灰令熱袋盛熨心上冷另換或用米亦可俟目開以溫黃酒薑湯徐徐灌之即蘇若誤以火炙浴以熱水必死如落水凍死者急去濕衣隨解活人熱衣暖包然後熨之</p>
<p>救冬月中寒暴死身強口禁手足厥冷當濃煎薑湯灌之</p>
<p>救溺死用皂角搗末以綿里或石灰納下部內須臾水出即活雖經一宿可救救溺水尚有微氣或胸前尚溫速令生人脫貼身裡衣為之更換抱擔身上將溺人微微倒側之令腹中之水流出若水往外流即是生機一面用粗紙燎灼取煙薰其鼻竅稍薰片時取皂角研細末吹於鼻竅但得一嚏即生　又凡水溺垂死倘微笑即掩其口鼻急撻之至於痛哭唯笑不止者不治或少飲溫酒換衣拽令飛走二三里亦妙</p>
<p>救跌壓死急撬開口以熱水灌之免瘀血衝心仍以棉軟物緊塞糞門隨將受傷人堤起如僧人打坐令一人將頭髮提起用半夏末吹鼻醒後以生薑汁和香油灌之再以乾荷葉燒灰存性童便調下三錢日三服愈　又救碾壓跌傷垂死口鼻血出如面色尚有生氣身體尚軟皆可拯救先將穀道緊塞令一人坐地輕輕扶抱坐之懷中拳其兩足束其兩手急覓童便一二杯乘熱灌之（即平人小便去頭尾亦可）得馬溺更佳一面用　當歸　生地　白芍　川芎　桃仁　紅花　大黃（各一兩）　山查（二兩）　童便（一碗）用急流水煎傾入大碗內先薰傷者鼻孔令藥氣透入腹中不致乍服惡逆隨以小鐘陸續灌盡藥性行動人必欲解仍須緊抵穀道必使腹中有聲上下往來數遍方可掖之使解俟下淤紫方可就睡再服前藥必下盡淤紫解如常糞調養自愈不可輕服補劑滯凝為害一方以酒化山羊血灌之立效（洗冤錄方）</p>
<p>救吐利不止卒死用馬冀絞汁灌之乾者水煮汁亦可（扁鵲方）</p>
<p>救猝魔死以青牛蹄或馬蹄臨患人頭上即活（本草）</p>
<p>救驚怖卒死以溫灑一二杯灌之即活</p>
<p>救煙薰致死用蘿蔔搗汁灌之立蘇</p>
<p>救縊死心口尚溫有雖一日以上可救切不可割斷繩索須緩緩抱起解開放臥急以綿軟物緊塞穀道勿令泄氣安放平正仰面朝天揉其項痕捻圓喉嚨並將其手足慢慢屈曲胸腹款款揉按令人坐於頭前以兩腳踏其肩揪住頭髮將縊人之手拉直命喉嚨通順再令二人以兩竹管吹氣入耳不住刺雞冠熱血滴口中再以生人口對縊人之口輕輕呼吸其氣又屈伸其手足摩按之若氣仍不接將腰輕打兩三拳或用皂角末吹鼻或以真山羊血二三分研末紹酒灌下或以活鵝嘴入人口中逼氣入腹頃刻可蘇乃稍與清粥潤其咽喉更用　製半夏　川厚朴（各一錢）　官桂　乾薑（各五分）　生甘草（三分）　廣皮（八分）水煎服為妙</p>
<p>解中鉤吻毒（一名爛腸草岳州謂之黃藤）凡中毒口不可開者取大竹筒通節以頭拄其兩脅及臍灌冷水入筒中數易水須臾口開乃可下藥唯多飲以甘草汁人糞清或斷鴨頭瀝血入口中或取雞卵抱未成雛者研爛和麻油灌之吐出毒物乃生一方嶺南有蕹菜蔓生開白花搗汁灌之即愈（洗冤錄附方）　又解中斷腸草毒宜先以蜜灌之復灌羊血吐出即愈（閩部疏解中莽草毒黑豆汁可解豇豆亦可（洗冤錄方）</p>
<p>解中烏頭毒以飴糖黑豆汁調冷水服之中射罔毒以甘草汁或小豆葉薺苨汁冷水調服亦可（同上）</p>
<p>解食莨菪中毒發狂以甘草汁服之立解（金匱要略）</p>
<p>解中豚魚毒豚魚毒在肝血脂子並眼睛內斑魚亦河豚類其毒更甚三月後則不可食煮忌煤塵落入與荊芥菊花桔梗甘草附子烏頭等藥相反凡服風藥而食之者必死慎之如中其毒急以糞汁解之或飲麻油吐之或以蘆根汁灌救之均效　又方用水調炒槐花及龍腦浸水飲之皆可解（張來明道雜誌）　又方槐花炒微黃同干胭脂各等分搗粉調灌即效（陶九成錄）　又方用橄欖汁及蔗漿飲之立解（五雜組）</p>
<p>解中鴆毒服犀角即解（洗冤錄附方）</p>
<p>解中滷鹽毒殺羊取熱血以口接受取吐立解如無羊鵝鴨血亦可或濃豆腐漿生灌下即活（同上）</p>
<p>解一切毒方用甘草綠豆水煎服之諸毒皆解</p>
<p>解中食馬肝用雄鼠屎三七枚和水研飲之或豬骨灰或狗屎灰或人頭垢或豆豉並水服之效（本草）</p>
<p>解中馬肉毒用蘆根汁或甘草汁或嚼杏仁飲美酒均效</p>
<p>解中牛馬肉毒生疔瘡或澤蘭根擂水或生菖蒲酒或豬牙灰水服或甘菊根擂水服或服人孔均效一云凡中牛馬肉毒口渴不可飲水立死</p>
<p>解中牛肉毒或用豬脂化湯飲之或豬牙燒灰水服或甘草煎湯服之或烏柏樹皮酒煎熱服或早稻草煎湯服均效</p>
<p>解中豬肉毒或用杏仁研汁或豬屎絞汁（燒灰亦可）或韭菜汁或朴硝煎汁或豬骨灰調水服之均效</p>
<p>解中犬肉毒目脹口乾用杏仁去皮尖研水服或以淡熱酒三碗調作三服效</p>
<p>解中羊肉毒用甘草煎水服之（同上）</p>
<p>解中雞肉毒以醇酷或煮秫米飲之如欲吐不出用生犀角末新汲水調服即愈</p>
<p>解中鴨肉毒用糯米泔水一盞溫服</p>
<p>解中六畜肉毒或用六畜干屎末或伏龍肝或黃櫱末或赤小豆炒焦或東壁上土灰末或人乳汁或人頭垢一錢或豆豉汁或白扃豆末並水服均效（本草）解中諸魚毒用橘皮蘆葦根汁或冬瓜仁煎湯或大豆汁或用陳皮水煎濃汁飲之皆可解</p>
<p>解食蟹中寒毒如蠱用靛青汁冬瓜汁或黑豆煎服或薑汁或紫蘇汁煮乾蒜汁解之</p>
<p>解中諸菌毒急用地漿水飲之或糞汁飲之立解或馬藍頭葉搗汁服之亦可解中鱉毒（凡鱉腹下隱隱似蛇反其鈀大紅乃毒蛇化也誤食之必腹痛欲死手足發青而亡）用白茯苓（五錢）　白蜜　雄黃（各三錢）　丹砂　山查　枳實（各一錢）水煎服痛止二劑毒消或靛青水加食鹽飲之亦解</p>
<p>解面毒方多食生蘿蔔即解</p>
<p>解食中蛇蟲毒用草球煮湯頻灌吐十餘次即愈</p>
<p>解食中蜈蚣毒舌脹出口刺雞冠血會之咽喉良如中毒腹痛以雞涎飲之效</p>
<p>解食瓜過多腹脹以鹽湯飲之</p>
<p>解食菱過多腹脹以暖酒和生薑飲之</p>
<p>解中苦杏仁毒生熟食之都無害略用火炒半生熟食數十粒即能殺人急取吐出可解如迷亂將死者以杏樹根煎湯飲之（洗冤錄附方）解中楓耳毒楓上生耳食之令笑不止搗冬瓜蔓汁飲之即解或以苦菜白礬調新水並咽亦可（仝上）</p>
<p>解中黃金毒食鷓鴣肉解之中白銀毒用黃連甘草湯解之又洗金以鹽駱駝馬脂餘甘子皆能柔金羊脂獲子皆能柔銀若金銀入腹中服食前品食柔則能便出又中金石毒以黑鉛一斤熔化投一升酒中如此多次候酒止半升頓服即解</p>
<p>解中輕粉毒用黑鉛五斤打壺一把盛燒酒十五斤納土茯苓半斤乳香三錢封固湯煮一晝夜埋土中出火毒每日早晚飲數杯溺時以瓦盆接之當有粉出服至筋骨不痛乃已</p>
<p>解中水銀毒水銀入耳以金枕耳邊自出若入腹內令人筋攣以金物熨之水銀乃出蝕金其病即瘥</p>
<p>解信石並諸毒用生白礬生甘草綠豆乾粉各一錢研末井水調服</p>
<p>解中砒毒吐瀉並作以生綠豆汁或冷水飲之菠薐萵苣皆能伏砒搗汁灌之亦可或以禾稈燒灰新汲水調濾清冷服一碗毒當下或以防風二兩煎汁飲之立解</p>
<p>解中砒毒心腹絞痛或吐不出面青肢冷用楊梅樹皮煎湯三碗服之即愈或用生綠豆湯飲之或靛花水均效</p>
<p>解中巴豆毒瀉利不止或以黑豆一升煮汁飲之或飲以新汲冷水或用炮乾薑炒黃連等分為末服二錢涼水送下均效又本草云巴豆畏黃連大黃蘆筍菰筍藜蘆各煎冷飲皆可</p>
<p>解中諸物毒用白礬細茶各一錢為末井花水調服得吐即愈不吐再服</p>
<p>解中一切毒物齒黑指甲青老用豬冀方寸沖水灌之立活</p>
<p>解中鱔鱉蝦蟆毒用淡豆豉一臺新汲水浸汁令濃溫服即愈不吐再服解碗絲毒（飲食遇碗邊有絲跡服之頃刻喉嚨脹痛）用麻楷點著以口吸其煙即愈</p>
<p>解中桐油毒乾柿餅食之立解或飲熱酒亦可</p>
<p>解天行熱氣中野菜死馬諸肉穢毒用頭垢丸如棗核大含咽之即解或白滾水送下</p>
<p>解一切草藥毒用甘草煎濃汁飲之或加白蜜更佳或生甘草黑豆淡竹葉等分煎服或出蠶紙燒存性侮二錢冷水調服</p>
<p>解中斑蝥毒黑豆煮濃汁飲之</p>
<p>解草蠱金石毒用石蟹以熱水磨服</p>
<p>解金蠶蠱毒中之皆吮白礬味甘嚼黑豆不腥以石榴根皮煎湯服取吐取兩剌蝟到家必能捕獲</p>
<p>試一切毒方以犀角攪之有毒則生白沫無毒則否（抱朴子）</p>
<p>解一切蠱毒方用升麻鬱金各一兩煎汁服得吐即愈</p>
<p>又方用胡荽搗爛絞汁半升和酒三碗服之能使蠱自下</p>
<p>又方用□荷置席下能知用蠱人姓名研汁服之即愈　荊楚歲時記）</p>
<p>又方用土常山馬兜鈴二味以水煎服自愈（嶺南志）</p>
<p>又方用石榴皮煎濃汁或樟木屑煎汁飲之或熱茶膽礬半分探吐如吐出惡物即愈或食蝟皮更佳或米湯調鬱金末三錢令下亦可</p>
<p>又方用蒜汁五錢和酒服之當吐出恐物如蛇狀即愈</p>

<h2>遺餘</h2>
<p>虎頸下二肘間有骨如乙字長二三寸許者破肉取之可得行軍佩之能令人有威（七修數藁）</p>
<p>正月吞生雞子赤小豆各七枚能避瘟氣（葛仙煉化篇）</p>
<p>凡歲時元日取鵲巢燒灰著於廁可以避五兵撒於門前可以避盜賊（墨子秘要）</p>
<p>凡軍止處埋鵲一枚於溝中可闢剌客奸邪（雜五行書）</p>
<p>凡涉大水者當於水次破雞子一枚以少許粉雜香末合攪器中水以自洗濯不畏風波蛟龍（抱朴子）</p>
<p>入水能浮方取象胸前小橫骨燒灰酒沖服即驗（開寶本草）</p>
<p>闢一切蟲蝨法吸北方之氣噴筆端書欽深源默漆五字置於床帷間蟲蝨盡除（邵氏錄）</p>
<p>蛇入竅割豬尾血治之即出母豬尾血更佳</p>
<p>手足頑麻用陳綿紙燒灰黃酒調一服三線五七日愈</p>
<p>蛇纏人足用人尿淋之即開</p>
<p>治蛇剌傷燒死鼠為末敷之</p>
<p>凡被毒蠍螫傷忍痛向人曰吾為蠍螫奈何答曰尋愈矣便即豁然若叫號則愈痛一晝夜始止（五雜俎）</p>
<p>鱉肉與莧菜同食生鱉疽與雞子同食惡病死（事林廣記）</p>
<p>凡六甲日禁食鱉凡鱉有四目者獨目者白目者赤足者三足者腹下有小字王字天字者頷下有軟骨如龜形者頭足不能縮者目凹縮者腹下有三宇者皆不可食（酉陽雜俎）</p>
<p>凡食菌中毒或痛飲酒亦可解「夷堅志」</p>
<p>凡中菌毒必笑用苦茗雜白礬勺新水咽之立愈（菌譜）</p>
<p>又方煎魚椹汁服之立愈（北夢瑣言）</p>
<p>誤食銅物多食荸薺即化荸薺淹銅過夜即爛可驗也（七修類藁）</p>
<p>凡瓜有兩鼻者殺人（龍魚河圖）</p>
<p>盛蜜瓶作鮮食之殺人（事休廣記）</p>
<p>百蟲入耳用兩刀於耳邊相系築聲其蟲必出（物類相感志）</p>
<p>竹木刺入肉腫痛成瘡用蒲公英搗爛取汁敷之如剌不出用萆麻子搗爛敷之</p>
<p>針入肉用五倍子開一孔放土狗一個入內麵包火煨存性為末涼水調貼用紙蓋上即出或用鼠肝塗之亦出</p>
<p>誤吞螞蝗食蜜即化為水或攪黃泥漿水飲之</p>
<p>誤吞針入腹以蠶豆煮熱同韭菜食之針同豆菜從大便出</p>
<p>治霍亂金瘡方五子實狀如梨里有五核故名內服可已霍亂外敷可愈金瘡（廣州記）</p>
<p>治傷寒狂走用新抱出雞子蛋殼煎湯服之即安睡愈</p>
<p>治瘧疾法南陽宗資墓旁石獸膊上有刻曰天祿辟邪昔軍士有病瘧者摸天祿二字焚而吞之皆愈「研北雜誌」</p>
<p>治中射工毒用豉母蟲一枚於口中含之即痊豉蟲大如豆光黑浮游水面者是（正字通及肘後方）</p>
<p>凡行山慮迷取向蟲一枚握手中則行路不迷「物類相感志」</p>
<p>令人自言其誠法用竹蟲三枚竹黃十枚和勻每用一大豆許燒入酒中飲之勿令大醉叩問其事必言其誠也『准南畢萬術高誘注』</p>
<p>戒酒方用山蛩烏班色長二三寸生林間如百足而大取其一節燒灰服之令</p>
<p>人惡聞酒氣（事物紺珠）</p>
<p>蕃磧之中有鐵名曰聖鐵含之可以闢兵（廣志）</p>
<p>牧靡山有草名牧靡草可解一切草木毒（水經注）</p>
<p>治刃傷出血不止刮紫藤香末傳之立愈（名醫錄）</p>
<p>闢蚊蚋法用柳州所產苴草少許置帳幕間則蚊蠅不敢近（一統志）</p>
<p>治腹內生應聲蟲以藍汁飲之則吐出肉塊長二寸餘人形悉具服雷丸數粒即愈（出山堂肆考）</p>
<p>治患毒蜂螫傷急以井水調蚯蚓糞塗痛處立止（金臺紀聞）</p>
<p>治癰腫及蜈蚣咬傷用地蜈蚣草根葉入鹽少許搗塗效（本草）</p>
<p>治損折肢體用密劑少許食之傷臺無痕番言木乃伊是也（花木考）</p>
<p>治蠱毒在上服升麻肚之在腹服鬱金下之或合升麻鬱金服之不吐則下昔</p>
<p>李岩侍郎燾得此方活人甚眾（範石湖集）</p>
<p>治中鯸鮐肝毒迷悶不堪用橄欖汁飲之立瘥（匯苑）</p>
<p>治大風癩症用長松草汁有殊效生五臺山良（曲洧舊聞）</p>
<p>治瘻症（頸腫）用芡實煮食愈所謂雞頭已瘻是也雞頭別名（淮南子）</p>
<p>治鬼箭風方用紅花白芷防風威靈仙各二錢酒煎服三服全愈切忌針挑火焠</p>
<p>治偏頭痛用生蘿蔔汁一蜆殼注鼻中即愈（東坡雜記）</p>
<p>治兩耳暴聾用全蠍去毒為末酒調滴耳中聞水聲即愈（養痾漫筆）</p>
<p>又方以元龜薰之或以附子蔥涕合納耳中或以蒸鯉魚腦灌之皆效（抱朴子）</p>
<p>治腹有蟲方榧子仁研汁服之可療百蟲（紺珠）</p>
<p>治腹中蟲痛用蔥白鴣汁一鍾飲下隨飲麻汕一杯蟲即化水</p>
<p>治下痎落用烏梅一個口含即止（敬信錄方）</p>
<p>治瞳人反背及目翳不開用新產狗乳以雞翎蘸乳輕拭眼中一日三四次不過七日復明</p>
<p>天絲並兔毛入目用石菖蒲擂碎在目塞右鼻右目塞左鼻神效或桑樹漿點之立效或用大塊白礬以舌餂之絲毛即從舌上出或好京墨清水研磨點之即出</p>
<p>治眼目倒毛入肉用木鱉子一個去地為末綿里塞鼻左目塞右右目塞在三日後其毛自出</p>
<p>冶眼邊癢爛用豬大腸內涎刮下塗眼邊蟲出自愈</p>
<p>治曼中忽生毛長出尺余痛不可忍方用生乳香硇砂各一兩為丸桐子大早晚水下十丸仍剪斷其毛以生薑塗之愈</p>
<p>治口內肉球有根如線五寸餘如釵股吐出乃能食物捻之則痛徹心者用麝香一錢研末日三次服之自消（夏子益奇疾方）</p>
<p>治舌長數寸用番木鱉四兩刮淨毛切片川連四錢水二碗煎主一碗將舌浸良久即收</p>
<p>治交腸症（小便出屎大便出尿）用舊袱頭燒灰酒調服五分即愈</p>
<p>治嗜酒腹中成鱉取白馬溺飲之鱉即化水愈</p>
<p>治麻骨自頭至心窩或從足心麻至膝而死者用人糞燒灰豆腐漿調服即止</p>
<p>治一切惡瘡腫用毒瓜蔞瓤（一枚去皮）生薑（四兩）甘草（二兩橫紋者佳）各搗碎忌銅鐵用白灰酒一碗煎濃服之患在上食後服在下食前服（績夷堅志）</p>
<p>一云張戶部林說卿有加大黃成木香或乳香沒藥者光疏利次用瓜蔞瓤（二兩）日以乳香綠豆粉溫湯下三五錢防毒入腹外以膏塗傅之自愈治痄腮用赤小豆四十九粒研未塗敷立效</p>
<p>治兩腮腫痛用生大黃末和蔥汁調塗四圍數次愈</p>
<p>治風熱腮腫用絲瓜燒灰存性水調塗之立效</p>
<p>治鼻痔用輕粉（二錢）杏仁（七粒去油）白礬（五錢）共為末吹鼻中即化水治鼻瘡用杏仁去皮尖搗爛如膏以人乳調塗甚好</p>
<p>治無名腫毒疼不可忍蓖麻子仁搗爛敷上即愈</p>
<p>水蜮射中人影成瘡不治則死用雞腸草搗塗輕日即愈（博物志）</p>
<p>治鬼面瘡用五倍子（公母各一）每個將火筷子燒紅烙眼取兒茶末填於內</p>
<p>草紙包米泔水泡炭火燒紅如此三次成炭為末淬燈窩汕搽調神效</p>
<p>治汗班用烏梅肉末唾津調搽或薑汁潮腦揉研汗中擦之</p>
<p>又方用雄雞腰子白果（俱用生者）同搗爛搽之</p>
<p>治漆瘡用螃蟹黃塗患處或芒硝泡濃汁塗之二三次效</p>
<p>治禿頭癬癩用大蜂房一個礬末填滿孔內以罐底盛之炭火煆令礬化盡為度研末臘月豬油和塗之即愈</p>
<p>治患背腫方用粗黃色石如鵝鴨卵大猛火燒令赤入涼醋中自有石屑落醋內頻燒至石盡為度取石屑曝乾搗和醋塗腫處無不愈者（北史）</p>
<p>洽腳氣痛方用楊梅仁研末沖水服之效（揮塵錄）</p>
<p>治手足凍瘡用冬瓜皮茄根煎水洗或鴿子屎煞水洗俱效</p>
<p>治腳底紅腫熱痛名為腳隱用大蒜頭量用和鹽搗敷一夜效</p>
<p>治手生蛇頭瘡用元參五錢甘草三分為末雞蛋白調敷立效</p>
<p>又方用人糞黃泥合搗爛敷之或黑豆水泡搗爛敷之或雞子開竅將指入內待蛋化水換三次愈</p>
<p>治誤吞金銀用羊脛骨燒焦研三錢米飲湯下從大便出神效</p>
<p>治誤吞鐵物用粟子樹炭以鐵錘搗細末砂糖和細丸服三錢效</p>
<p>治骨鯁喉用硼砂一塊含化咽汁立消或山奈煎汁徐徐呷咽</p>
<p>又方以橄欖煎湯服下即愈</p>
<p>餵馬易肥方取鉤藤數寸入小麥中蒸熟喂之易肥（本草綱目）</p>
<p>治馬黑汗取干馬糞置瓶中頭髮覆之火燒馬糞及發薰令煙氣入鼻中即瘥（齊民要術）</p>
<p>治馬結熱起臥戰不食水草用黃連二兩研末白蘚皮一兩研末油五合豬脂四兩細切溫水一升半和藥調勻灌下牽之行走即愈（農桑輯要）</p>
<p>治馬生疥瘡用雄黃頭髮臘月豬脂煎令發化熱塗之立效（齊民要術）</p>
<p>治馬傷水用蔥鹽搗爛搓成糰子納鼻中以乎捉馬鼻令不通氣良久淚出即止（農桑輯要）</p>
<p>治馬傷料用生蘿蔔三五個切作片啖之立效</p>
<p>治馬猝熱腹脹起臥欲死用藍汁二升和冷水二升灌之效（仝上）</p>
<p>治馬起臥肚痛用火藥半茶杯燒酒一大杯調和灌之（奇方類編）</p>
<p>治馬脾胃有傷不食水草褰唇似笑鼻中氣短宜速用川厚朴去粗皮為末同薑棗煎灌之（博聞錄）</p>
<p>治馬心肺壅熱口鼻流血跳躑煩燥急用甘草　芒硝　黃櫱　大黃　山梔子　瓜蔞為末水調灌之</p>
<p>治馬肺毒熱極鼻中噴水用天門冬　知母　貝母　紫蘇　芒硝　黃芩　甘草　薄荷葉同為末米湯入少許醋調灌下</p>
<p>治馬邪氣衝肝眼昏似睡忽然眩倒用朴硝黃連為末男子頭髮燒灰存性漿水調灌</p>
<p>治馬腎搐用烏藥　芨藥　當歸　元參　茵陳　白芷　杏仁　秦艽每服一兩酒一大升同煎溫灌隔日再灌（仝上）</p>
<p>治馬氣喘用元參　葶藶　升麻　牛蒡子　兜苓　黃耆　知母　貝母同為末每服二兩漿水調草後灌之喘嗽皆治（晨桑輯要）</p>
<p>治馬尿血用黃耆　烏藥　芍藥　山茵陳　地黃　兜苓　枇杷葉共為末漿水煎沸候冷調灌</p>
<p>治馬結尿用滑石朴硝木通車前子同為末每服一兩溫水調灌隔時</p>
<p>再服結甚則加山梔子赤芍</p>
<p>治馬結糞用皂角燒灰存性同大黃枳殼麻子仁黃連厚朴共為末清水泔調灌（仝上）</p>
<p>治馬中結用蜣螂一個焙乾為末黃酒調灌即愈（集驗良方）</p>
<p>治馬舌硬用款冬花　藿麥　山梔　地仙草　青黛　硼砂　朴硝油煙黑等分為細末每用半兩許塗舌上立瘥（農桑輯要）</p>
<p>治馬傷蹄用大黃五靈脂木鱉去油海桐皮甘草地黃蕓薹子白芥子共為末黃米粥調藥攤帛上里之（今上）</p>
<p>治馬騾打破脊粱用雞蛋十敷個去黃留青將男子頭髮填滿用紙糊之外用黃泥包裹炭灰煨紅取出研末搽上愈（奇方數編）</p>
<p>又方用真銀珠（一錢五分）　枯礬（二錢五分）　五倍子（一個）　焙焦去穢共為細末將瘡銑淨用火酒噴之敷上此藥任背鞍行走</p>
<p>又方用白礬五倍子黃丹各五錢為細末搽患處自痊（仝上）</p>
<p>治馬生反花瘡用地衣草陰濕地被日曬起苔蘚干為末生油調敷（出明本草）</p>
<p>治馬患諸病用白鳳仙花連根葉煞膏抹其眼四角上即汗出而愈（衛生易簡方）</p>
<p>治馬鞍壓瘡用乳香去油沒藥去油血竭孩兒茶龍骨煆象皮炒成珠（各三錢）　黃丹（二兩）　冰片（一分）共為末油搽患處即愈（奇方類編）</p>
<p>人馬兩便方用杜蘅（一名杜若）陰乾帶於身上令人便馬馬亦善走（山海經注）</p>
