<header data-type="book">
<h1>重樓玉鑰</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>鄭梅澗</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1838">公元1838年（清·乾隆年間）</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2924">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>原敘</h1>
<p>古人有言左手據天下之圖右手刎其喉愚夫不為。何則天下雖大未若吾身之可貴也。故天下有心性之書。人心之所以死生存亡者也有醫藥之書人身之所以死生存亡者也故六經四子而下莫貴於醫藥之書。夫神農致辨於上藥中藥下藥。周禮垂訓於五氣五色五聲自古聖賢明哲之士未有不留心於此者。今之所謂喉科特大方中一事耳然其生死決於數日。安危判於頃刻。關係最大而世之業是科者。率學無根柢。不得真傳。株守寒涼膠於偏見有識者不許也吾鄉鄭梅澗先生性好岐黃家言其先世得喉科秘授故於此尤精。遠近無不知之。救危起死。不可勝數。余常見有垂斃者。</p>
<p>先生刺其頸出血如墨豁然大愈。其妙如此。而未嘗受人絲粟之報。惟以利人為急殆亦範文正陸忠宣之意歟。先生秘惜此書又恐人乘危邀利故未嘗授人。余幸得閱一二故喜而敘之夫天下重器尊生者不以身易。而是書之澤利濟無窮則其貴重宜何如也。</p>
<p>嘉慶乙亥春余家居無事日取醫書玩味適友人過訪。出重樓玉鑰示曰此書無刻本。子錄一帙存閱因受而讀之恍然有悟後凡遇喉症惜未解針灸僅按方投藥。無不神驗。鄉黨知有此書時。借抄寫而流傳未廣。其中魯魚亥豕，指不勝屈惟以意更訂一二。余則闕如也。原序不繫姓氏謂作者為鄭梅澗先生亦不知何許人。然辨證施治。各具神妙。非懷濟世之婆心者孰能與於斯。今年夏吾津時疫流行。患喉症者極多。而治不得法往往受害余閉戶養疴。未能遍告鄰里。私衷歉然。因與弟輩謀將此書再錄稿本。寄至吳門。托孫君樸齋校訂。付之剞劂則此後人人得所指南。患者即不延醫而對證檢方諒亦不致夭枉余心庶稍慰矣。</p>
<p><u>道光十八年歲次戊戌仲秋上浣津門馮相棻識</u></p>
<p>人之一身百症皆可致危。獨咽喉之症尤危之危者。不炊黍間斃可立俟。雖居近良醫之門。旋髮旋治。猶若恨晚。而林荒山僻之境。更可知已。余甚憫焉。余不知醫。而遇古方之百試百效。為人人所傳播者。手鈔成帙。或刊附善書。或鋟刷片紙以贈人。咽喉科一門流傳者。當不下數十種。獨喉科經驗秘傳。為程君瘦樵定本。　業是科者大半宗之。僉謂外此罕有其匹者。一日黃君竹亭自津門寓書於余謂馮君石農丹崖昆季秘藏。重樓玉鑰一書為喉科指南。亟欲付梓。以公諸世。而近處鮮良工。君客吳門久。當易物色。且君亦樂為之。常若不及。竊欲以此事浼君可乎。余聞之距躍三百。亟思睹是書冀是書之速成而廣行於世也促其寄余。不兩月而書至。其間或針或藥諸法賅備。足以補經驗秘傳所不及。洵喉科中之見所未見者。爰為之選工開雕慎校讎。以期無負良友之委任。而副良友濟世之婆心也。竹亭向與余同客燕臺。嗣而客吳。閶客由拳里。皆同幾硯。無間臭味。蓋恂恂然為行君子也。丹崖與余亦曾晤於京邸。樂善不倦。見義必為。常隱躍於眉宇間。其兄石農則余所願見未能者。然聞其作令山右也。有能吏聲。有生佛頌。余固久信之。且即於與丹崖之同梓是書。而益信之也。書成索序於余。余不知醫。又何敢論醫之書。然其書則固百試百效而當為人人所傳播者也。余竊願罄竹而印是書。使人人挾是書以防患於未然。微特林荒山僻之境不能入市問藥者不啻家有一醫。即居近醫者之門。而既有此百試百效之書亦較愈於踵其門而求試其萬有一效之技矣。是即石農諸君梓是書之意也夫。</p>
<p><u>道光十有九年歲次己亥花朝後一日桐鄉孫學詩謹序於吳門之石泉古舍。</u></p>

<h1>卷上</h1>

<h2>咽喉說</h2>
<p>呼者因陽出。吸者隨陰入。呼吸之間。肺經主之。喉嚨以下言六臟為手足之陰。咽門以下言六腑為手足之陽。蓋諸臟屬陰。為里。諸腑屬陽。為表。以臟者藏也。藏諸神流通也。腑者府庫。主出納水穀糟粕轉輸之謂也。自喉嚨以下六臟。喉應天氣乃肺之系也。以肺屬金。乾為天。乾金也。故天氣之道。其中空長。可以通氣息但喉嚨與咽並行。其實兩異。而人多惑之。蓋喉嚨為息道。咽中下水穀。其喉下接肺之氣一云喉中三竅者。非果喉中具三竅。則水穀與氣各從一竅而俱下。肺中肺下無竅何由傳送水穀入於下焦。黃帝書云。肺為諸臟之華蓋。藏真高之氣於肺經也。故清陽出上竅濁陰出下竅。若世人不知保元風寒暑濕燥火之六氣喜怒憂思悲恐驚之七情役冒非理。百病生焉病瘍既成須尋所自若喉痹乳蛾纏喉風喉閉喉瘡風毒熱毒等症當刺者則刺不可亂醫。宜吐者則吐不可妄治須識其標本辨其虛實而攻導之不失其法臨症變通功效立見其患自安。至於虛損勞瘦咳傷咽痛者此乃真陰虧竭金木不能相生而龍雷之火奔騰上灼火炎則金傷金傷高源無以蒸吻布漚。而咳血聲啞咽痛干緊之症作矣。籲如症至此不惟非法可治。且百無一生。可勝言哉。</p>

<h2>喉科總論</h2>
<p>夫咽喉者生於肺胃之上。咽者咽也主通利水穀。為胃之系乃胃氣之通道也。長一尺六寸重六兩。喉者空虛。主氣息出入呼吸為肺之系。乃肺氣之通道也。凡九節。長一尺六寸重十二兩。故咽喉雖並行其實異用也然人之一身惟此最為關要，一氣之流行通於六臟六腑呼吸之經若臟腑充實。肺胃和平則體安身泰一有風邪熱毒蘊積於內傳在經絡。結於三焦氣凝血滯。不得舒暢。故令咽喉諸症種種而發苟非見症隨治則風痰愈盛熱毒日深漸至喉間緊閉水泄不通幾何而不殞命耶。大抵風之為患好攻上而致疾者。三十六症內關咽喉為第一。</p>

<h2>諸風秘論</h2>
<p>有人云。喉風無非熱症便亂投涼劑或誤用刀針夭枉人命者眾矣。若識症真先治而後調理百發百中。有可吐者有可下者。有可發散者有可洗可漱者。苟若識症未真切勿孟浪如雙鵝。單鵝。重舌。木舌。重齶。雙纏喉單纏喉。爆骨搜牙諸症乃是惡症。善候則易治。雙松子。單松子。雙燕口。單燕口。魚鱗。鬥底。帝中。落架。魚口。穿頷諸症。此是善候。惡疾則難治。合架。角架。粟房。瘰癧掩頸。雙搭。頰單搭。頰雙單燕口。內外搜牙。乘枕驢嘴。懸𤷍魚腮。咽瘡。牙癰。叉喉。邊頭痛奪食。肥株子。諸風。此是善症善候。但要症候認真。隨輕重治之不可誤投涼藥。若用針刀。俱要逐一對症先用藥降定然後下藥調理。如此等症。務須依方進藥。未可速於求安。則輕者一匕。重者二匕。自能取效。即信心諸藥。仍須仔細詳察。不可輕忽。大凡用藥。自內攻出為上策。取痰攻上為中策。沉為下策。熱重者。令去內熱。用藥取病歸上。攔定風熱。使其攻上不下。誠為善治者。不如是。則病入胃鬲。因傳於心肺中。輒變他症。是醫之罪也。切宜留心詳審。慎毋輕率焉。咽在後主食。喉在前主氣。十二經中。惟足太陽主表別下項。余經皆內循咽喉。盡得以病之。而統在君相二火。喉主天氣屬肺金。其變動為燥。燥則塞而閉。咽主地氣屬脾土。其變動為濕。濕則腫而脹。皆火鬱上焦。致痰涎氣血結聚於咽喉。腫達於外。麻癢且痛而緊。是為纏喉風。紅腫於兩旁兼閉塞。是為喉痹。</p>

<h2>陰陽論</h2>
<p>經云。癰從六腑生。疽從五臟出。皆陰陽相滯而成。氣為陽。血為陰。血行脈中。氣行脈外。相併周流。寒濕搏之則凝滯而行遲。為不及。火熱摶之則沸騰而行速。為太過。氣鬱邪入血中。為陽滯於陰。血鬱邪入氣中。為陰滯於陽。致生諸症惡毒。然百病皆由此也。</p>
<p>凡頭痛不止者。屬外感。宜發散。乍痛乍止者。屬內傷。當補虛。又有偏頭痛者。（非邊頭風當審之　）左屬風與血虛。右屬痰熱與氣虛。</p>

<h2>辨面色論</h2>
<p>色青者。病屬肝。合散血。色黃者。病屬脾滯。宜消食。色赤者。病屬心。合散血清火。色白者。病屬肺。宜順氣。色黑者。病屬腎虛。當滋補。以上所論五色乃就諸風病症愈後而言。以識調理本經也。</p>

<h2>壞症須知</h2>
<p>喉內生風莫待遲。胸中氣急主傾危。更加心脅如刀刺。妻子親朋定別離。大小便中添秘結。病人魂魄去如飛。此是醫家真妙訣。預將生死報君知。</p>
<p>病人眼直口開時。氣出無收手散垂。若見此形宜速退休貪名利自狐疑。</p>
<p>翻唇魚口誤針時。不日黃泉實可悲。此症亦名為惡症。盧醫遇著也難醫。</p>

<h2>論證</h2>
<p>凡屬喉風之症。預先必作寒發熱。甚則大便秘結。小便澀赤頭痛煩渴。時醫不識。妄以羌活藥味投之。不知羌活乃散寒邪達肌發表之品。非喉科所宜用。故是書所定紫正地黃散。專治一切諸風。無不神效。誠妙秘也。</p>

<h2>附纂咽喉不治症</h2>
<p>一凡虛陽上攻者。四肢厥冷上下不升降水火不既濟。腰冷不知痛癢。口中痰多唇黑者不治。</p>
<p>一凡手足冷者聲音不響喉中腫爛干痛無痰涎者。不治。</p>
<p>一凡婦人產前。咽喉腫痛。及心頭疼而脈浮者。不治。</p>
<p>一面赤而目睛上視者不治。</p>
<p>一面色青白。眼目無神。咽痛音啞。唇白鼻扇者。不治。</p>
<p>一面黑頭自汗而鼻塞者。不治。</p>
<p>一心胸緊滿吐痰不出者。勿治。</p>
<p>一氣喘促。四肢厥冷。勿治。</p>
<p>一心中忙忡。胸前紅甚。舌卷。面赤浮腫。目斜視者。不治。</p>
<p>一朝熱往來時節譫語。不治。</p>
<p>一胸滿脹急。不治。</p>
<p>以上皆屬咽喉中險症。凡患喉風。遇有現此等症者。宜詳察早回。以免後咎。醫者慎諸。</p>

<h2>喉風三十六症</h2>

<h3>鬥底風</h3>
<p>欲識人間鬥底風。十分紅腫在心胸。更加痰壅咽喉內。針藥無功命必終。</p>
<p>此症初起吞嚥不下但胸前紅腫漸至結喉。一時難安。初起能咽水者。可治。先用角藥加摩風膏少許。冷井水調噙。取痰次開風路針。（所謂開風路針者蓋喉風都是風邪按穴針刺開其風壅之路使之外出也）三吹冰硼散。四用紫地湯如病勢緊急湯水不能下。遍身作痛。氣喘眠臥不得。循屋下行。胸前赤腫。凡吐痰涎後仍不退者。百無一治。每初起胸前便現青筋須用破皮針。（即鈹針也）針青筋邊。立效。</p>
<p>樞扶氏曰。是症宜用雄黃解毒丸。服之。吹赤麟散。</p>

<h3>叉喉風</h3>
<p>叉喉之症最為殃遲了三時命不長。病者能依方法治。管教依舊進茶湯。</p>
<p>男子婦人喉內生此疾者。極為急症。先咽喉作緊。風痰上湧多有綿涎內緊外浮腫不能飲食漸至咽喉緊閉。如叉叉住。甚則頭面浮大其患最速。宜急治之。若一二日不知治者多致殞命先用冰硼散開竅。次用風路針三用摩風膏少許和角藥調噙。取喉內痰涎並用角藥敷頸外浮腫處。服紫正散加開關散如病勢已極。不能開關者。不治。</p>
<p>按此症既速凡初起當用赤麟散吹之。其效更捷。</p>

<h3>咽瘡風</h3>
<p>咽喉此症不為良黃爛成瘡作禍殃。依法頻施無效處。必然長夢入黃粱。</p>
<p>初起生咽喉間。或紅黃色如粟形者日久滿喉成瘡。及滿口生者。漸變紫黑不能吞嚥。先用角藥次開風路針。服紫地散以冰硼散吹之。即效惟風熱實症可治。若內傷咳嗽吐血後而發此症者。切不可用此等藥致枉人命也。</p>
<p>樞扶氏曰。按咽瘡一症雖曰真陰虧竭相火熏灼上升咽喉發為咽瘡。最為虛損惡症。然其間虛實陰陽。亦當分別治之凡屬實症。由於風熱者。必須發熱惡寒。瘡色紅黃。右脈浮數有力因病人平昔過食煎炙蘊積於胸膈。今又新受風邪。感觸而發。治宜以喉科諸藥投之。自然獲效。若虛症。形色白而乾燥不潤內熱口渴飲食微少疼。惟咽津液其痛更甚。此由真陰已虧。虛損所致。然內傷有二種。一屬氣虧　為陽虛。一屬血虧為陰虛。陽虛者。兩寸浮數遇勞益甚而行。動則氣喘此脾肺氣虛窮及腎水。須培補中土。庶無差誤今時醫不識。以清涼利痰之劑治之。遂致喉間變生咽瘡。頓成不治之症。若陰虛者。兩尺洪數。重按無力現於外者。內熱咳嗽吐痰衄血。或飲食日減。此肝腎陰虛不能蓄養龍雷真火蓋陰虛則火旺。火旺則水竭。水竭則腎元枯涸。腎元枯涸則相火奔騰而浮上斯喉痹咽瘡。痰結煩燥聲啞之症作矣俗曰火燒灶門是也。其時若以六味補水真水不能驟生。以生脈保肺而久炎之肺又非參麥能療。以八味降火。而咽喉之地難受桂附之性。以滋腎丸互治水火。而水火不能既濟。惟急用甘露飲治之。使水火各安其位。得以浚其源而安其流。能導龍歸海使五行自有相生之象然後再按脈察色。分別治之。或八味六味或歸脾養榮諸方佐之。自然獲奏神效稱為靈丹。然患者亦當早治勿待病入膏肓。雖有神丹。亦無濟也。</p>

<h3>魚鱗風</h3>
<p>喉間忽爾患魚鱗。多少醫家不識真。此症若求痊愈易。只須針藥貴於頻。</p>
<p>此症生在帝中之下與松子風相似但微腫處起白點。日久白點變成鱗。其鱗向下者是用冰硼散。赤麟散開風路針服紫地湯以角藥加摩風膏調噙。不可用刀。此症極險難治。治與雙松子同。初起未成鱗易治。若已成鱗。則飲食到喉俱作嘔惡。乃屬不治。或內傷咳嗽而發斯症者。萬無一治。○如大便秘結不通。湯中須加犀角木通元明粉。以角藥冰硼散赤麟散。相間吹噙勿斷。用鵝毛多挑角藥入帝中旁含少頃再絞取痰涎吐出。自然獲效。</p>
<figure>
<img alt="圖">
</figure>

<h3>雙松子風</h3>
<p>松子風生喉靨中。逐時脹大起鱗紅。莫言此症多遭險。隨即療施亦見功。</p>
<p>此症生靠帝中下邊初起兩邊紅紫如粟形大。逐時脹腫。起鱗向上者是。漸長如綠豆大。似松子一樣。甚至黃皮裹住及有蓮子大者。斯難治矣。先開風路針。服紫地湯。加銀鎖匙開關散用角藥加摩風膏調噙吹冰硼散。治與魚鱗風同。二三日若轉紅為黃。就怕起鱗須以角藥頻噙勿離。依法治之。亦不可用刀此症與魚鱗風皆屬險症勿得輕視也。</p>

<h3>單松子風</h3>
<p>單名松子一邊生左屬心兮右肺金針藥交施依法治自然奇效立消平。</p>
<p>此症生在帝中下一邊腫者是或生左或生右。亦不可用刀治法。與雙松子同。惟生左者。湯中倍加丹皮赤芍。右者倍用桔梗連翹。</p>

<h3>帝中風</h3>
<p>時人忽患帝中風角藥頻噙自見功。若遇庸工無識輩。針刀誤用命隨終。</p>
<p>初起紅腫作痛。生痰不能飲食日久漸長大出來。甚有長出寸許。攔腰爛去半截或帝中全行爛去者。雖一時難治。仍為無害只依法治之。亦見奇效。若初起先以角藥取痰開風路針吹冰硼散。服紫地湯不可用刀。如日久帝中黑爛者。回生丹不宜用。當以真功丹去牙硝吹之。或口疳散。聖功丹皆可互用。至於水劑。又當以紫地加減出入投治。不可執拘呆方也。</p>

<h3>雙鵝風</h3>
<p>乳鵝紅腫在喉間。病者求痊亦不難。角藥頻施兼服劑。自然取效莫愁煩。</p>
<p>凡咽間紅腫似癤毒兩枚。而生在兩邊者。是為雙鵝。切勿誤用刀。先以摩風膏少許入角藥井水調噙。又以鵝翎挑入喉間癤毒上令病人閉目噙良久。俟滿口痰來吐出。再吹赤麟散服紫地湯。自然立效。如日久癤毒未平。仍似蓮子樣。須用消蘆散加巴豆七個去殼熏患處。如熏破後只可用呂雪丹。</p>
<p>樞扶氏曰。喉間諸症惟患雙單鵝甚多。症候雖輕易治。卻難速於平消。邇來庸醫不識。欲求速效。每妄用針刀。反致枉人命者。亦復不少。今附參而訂之。俾後世治者。庶不致有誤蒼生耳。蓋此症由肺經積熱。受風邪凝結感時而發。致生咽喉之旁。狀如蠶蛾。亦有形若棗慄者。紅腫疼痛。不能吞嚥。然形有雙有單。雙者輕。單者重。凡初起先用三稜針刺少商少衝留三呼吸入一分。吹赤麟散。以角藥調噙。仍服前藥緩緩取效。凡針法以男左女右。若要速效。以捷妙丹吹入鼻中即消。然初起神效若日久者。不外消蘆散。</p>

<h3>單鵝風</h3>
<p>左畔虛陽熱上攻。乳蛾單重喉旁風。關前易治療須急。關後生兮施不同。</p>
<p>此症生在帝中之旁。如蓮子樣。左屬心。右屬肺。治法與雙蛾同。亦不可用刀。</p>
<p>樞扶氏曰。此症有部位之分。有虛實風熱氣鬱之別。凡生於帝中兩邊者是。雙單蛾屬關前實症。為易治。若起於咽喉內者。名喉瘤。屬關後氣鬱虛症。卻難治。時醫不識。概以鵝症治之。安能獲效。然喉瘤。由肝肺二經鬱熱。更兼多語損氣性躁而成。形如圓眼。紅絲相裹。或雙或單。生於喉內之旁。亦有頂大蒂小者。初起喉間微痛。不惡寒發熱。日久形色帶白而微硬。不犯不痛。或因醇酒炙爆。或因怒氣喊叫。犯之則痛切。忌用針刀。吹以消瘤碧玉散。宜服加味逍遙散。益氣清金湯。或用夏枯草同鬱金煎湯代茶服之。日久自然消退。若體虛。因憂鬱不舒而發是疾者。宜用歸脾湯。加柴胡丹皮山梔。至於出入加減之法。又當神而明之可也。</p>

<h3>雙燕口風</h3>
<p>燕口生在帝中旁欲嘗飲食不能飧。針刀善施無差誤。功效旋收亦不難。</p>
<p>此症生在帝中兩邊靠於上齶左右俱有。皆紅腫不能吞嚥。甚至腫出舌上來連舌亦痛。用刀之法。宜靠腫處將刀輕輕刺破。切不可深。若上齶中間及燕口形上。切勿將刀誤用。先以角藥取痰次開風路針。吹回生丹。服紫地湯。</p>
<p>樞扶氏曰。此症初起只須吹赤麟散。勝用角藥針刀多多矣。內仍服紫地湯加開關散。火甚。量加石膏。此余屢經收效者也。</p>

<h3>單燕口風</h3>
<p>單名燕口一邊生。治法同前不用更。慎使針刀毋誤及。赤麟吹上立奇功。</p>
<p>是症。或生左。或生右。亦有腫上舌來不能飲食者。甚則將帝中擠往一邊了。治法與雙燕口同。</p>

<h3>重齶風</h3>
<p>口內生來上齶浮。心脾有熱積成愁。倘然七竅流膿血。縱遇盧醫未必瘳。</p>
<p>此症生在上齶靠帝中之上位。紅腫不能吞嚥。症雖重卻可治。以角藥調噙。內消為貴。如不得消。直腫到牙床邊者可用破皮刀輕切出血。若上齶中間乃七孔相連之處。萬勿誤用刀。宜吹冰硼散。服紫地湯。開風路針。如口耳鼻中有一處出膿血者。即是病延日久。熱毒蘊蓄。以致腐穿七竅。此誠不治之症。</p>
<p>樞扶氏曰。重齶者。皆由心脾二經積熱而成。倘病日久前藥治之不效宜用紫雪散治之服黃連解毒湯。即效。</p>

<h3>木舌風</h3>
<p>口中舌表腫兼紅熱積心脾發是風。丹散頻投依法治。管教立刻見奇功。</p>
<p>初起舌頭紅腫不能轉動漸至飲食不能迎送。言語不便。可用破皮刀於舌下弦兩邊無筋處刺之。（筋上不可刺　刺傷立死）先用角藥加摩風膏少許。吹冰硼散。服紫地湯。自效。</p>

<h3>重舌風</h3>
<p>重舌風兮亦不祥。或生左右或中央。專家有訣通元妙。善使針刀割不妨。</p>
<p>凡舌下又生一舌。漸比正舌尤長。以致正舌不能轉動。用角藥取痰。吹冰硼散。服紫地湯。可用破皮刀須按舌旁邊下弦先破一邊。如不效。再破一邊。</p>
<p>樞扶氏曰。此症無論大人小兒。皆由心脾蘊熱循經上衝舌本。遂令舌下血脈脹起如小舌狀。故名重舌。用刀之法。先將角藥加摩風膏噙久吐出。再將腫患刺破。即吹回生丹或紫雪散並獲效。</p>

<h3>坐舌蓮花風</h3>
<p>舌坐蓮花六七尖。心家風火摶相炎。莫將斯症尋常看。日久纏綿最可嫌。</p>
<p>舌下浮腫多痰涎初生一二瓣漸至五六瓣形似蓮花。凡兩邊尖瓣者可用刀若中間一瓣尖者。切不可用刀。蓋人舌下中間俱有一筋。直連上下。乃心之苗。所以切不可用刀者。恐誤傷筋。則枉人命匪淺也。先用角藥調敷舌下取痰涎。再將冰硼散挑上。服紫地散。重加連翹。症甚者。外用氣針自然取效。</p>
<p>樞扶氏曰。蓮花證乃蘊熱乘風而發於心。舌本屬心。又為心之苗。心火上炎。或思慮太過或酒後當風受寒。以致風痰相搏。而成是症也。</p>

<h3>合架風</h3>
<p>合架風生齒盡頭。牙關緊閉病難休。若還不識針刀法。患者如何得便瘳。</p>
<p>此症生在上下牙床兩根頭勾合之處。起一紅核腫痛。牙關緊閉不能開口先用角藥調噙。次用破皮刀切紅腫處。吹冰硼散赤麟散可用消蘆散熏之。</p>

<h3>角架風</h3>
<p>風名角架不為嘉腫痛須知藥可加。昧卻箇中真妙訣。任他肘後秘方誇。</p>
<p>是症生上下牙床盡處。根上浮腫。以致閉口不便兩齒難合咀嚼艱難。初起生在一邊或延生兩邊者治法同合架風。可用破皮刀切腫處。即效。</p>

<h3>爆骨搜牙風</h3>
<p>爆骨搜牙疾勢驕聲聲痛楚費推敲。金針已度依方法。功效隨收心莫焦。</p>
<p>牙匡之上逐齒紅腫骨中極痛不可忍者。名為爆骨搜牙。若通牙床上紅腫。或在外牙床腫者。或在內牙床紅腫。口內作燒生痰名搜牙風。若有面紅腫者。恐成粟房風症。部位雖分內外。法宜同治。先用角藥調噙。吹冰硼散。服紫地湯。次以針挑牙縫中有紅紫血管者。即要挑斷出血。若爆骨搜牙。每齒腫處俱要用破皮針。針出血即效。如症在牙床內者必須腫起牙上。方可用刀。</p>

<h3>牙癰風</h3>
<p>牙匡生癤是牙癰上下生兮總共同。但用破皮針出血更加角藥有奇功。</p>
<p>凡牙匡生癤毒或滿匡紅腫或一處紅腫。先用冰硼散以角藥調噙。服紫地湯。凡牙癰搜牙兩症。以牙床高低界為辨。在牙床上高處為搜牙。在牙床下低處為牙癰。此症亦有內外生者。皆可用破皮針。針去膿血自效。</p>
<p>樞扶氏曰。此症由陽明胃熱毒所致。初起身發寒熱。腮頰浮腫紅痛者。當以前法治之。若初起往往有誤認牙疼等症。過服寒涼清火之劑。以致堅腫色淡。自破流黃水日久爛至牙根。及延爛咽喉。名曰骨槽風。又名附骨。一名穿珠。法當用二陳湯加陽和丸煎服。或陽和湯消之。倘遇潰者以陽和湯犀黃丸。每日早晚輪服。倘有多骨。以推車散吹入。隔一夜其骨不痛。自行刺出。須俟骨尖退出。搖則內動。方可漸次取下。再吹。次日無骨退出即以生肌散吹入內服保元湯。加肉桂歸芎耆草宜生自然獲效收功。而愈矣。</p>
<p>凡骨槽風首。初起牙骨及腮內疼痛。不腫不紅。惟腫連臉骨者。是骨槽風也然齒症不一。有齒䘌者。是蟲蝕齒至齦。由胃經瘀濕風火凝聚而成。齒根脹痛腐爛時出膿血臭汁也。有齒齲者亦以陽明入風熱之邪。摶齒齦氣血。腐爛為膿血臭汁。謂之齒齲。（音拒）亦云風齲有齒歷蠹者。由骨髓氣不能榮盛。故令齒黑黯謂之歷齒。皆由陽明之所致而治法各異。俱詳註續集焉。</p>

<h3>懸𤷍風</h3>
<p>牙床浮腫號懸𤷍。外症能療內症危。爛及咽間妨飲食。蓬萊妙藥亦難施。</p>
<p>凡牙匡下浮腫為外懸𤷍。起生牙根內為里懸𤷍。紅腫如蜒蝣樣。漸次而長。先用角藥調噙。吹冰硼散。服紫地湯。初起可用破皮針。日久不宜針。（刺紅腫處　出血效　若白爛者不可用針）凡外懸𤷍屬善症。易治。生於內屬惡症。卻難治。稍醫差遲。即能傷人。若白爛延至咽喉。及落盡面頰肉者。不治。</p>

<h3>奪食風</h3>
<p>（即嗆食風）</p>
<p>嗆食還將奪食名。舌根喉齶陡然成。休驚是疾無方法。善使針刀泡立平。</p>
<p>此症或因飲食火物。觸動肺胃積熱。致陡起斯症。或在喉頭上齶。及舌根左右生一血泡。或數小泡。即變大脹滿不能吞嚥氣息不能出入急以竹針挑破。咯出紫血即吹赤麟散。或回生丹。其泡若起喉內。不能用針刀挑破。只須氣針。針百會前頂後頂三穴。內泡自平。</p>

<h3>魚口風</h3>
<p>魚口生來一片浮。心家有熱夜啁啾上衝痰氣醫當急。莫待深沉始怨尤。</p>
<p>凡上唇生小瘡或一二枚者。初起紅腫漸至下唇。亦腫及面頰俱浮。若初起紅赤發熱作癢。癢後起小黃泡切勿用破皮針。如生在上唇中間者難治。若上唇赤腫直長出者。名龍唇發可針兩鼻角。又一症上唇生小白紅瘡乾燥。常欲以舌舐唇上。亦不可針。又一症唇上直痛入骨連頰俱痛不可忍可針鼻角。又一症不浮腫只口眼喎斜轉過一邊。名轉喎風此症宜針合谷頰車二穴。以上諸症。先以角藥調敷。吹呂雪丹服紫地湯。加犀角。大凡唇皮生瘡。初起者。不可以針妄挑破。若誤針之。身必潮熱。滿身骨節疼痛不治。如用針刀必須依法律。切勿妄任己意施為。至要至要。</p>

<h3>驢嘴風</h3>
<p>驢嘴風生在下唇。逐時腫大不堪論。更加作痛如刀刺。敷藥頻施效自神。初起下唇生一紅瘡。逐時腫大漸至下唇長出。用消蘆散熏。服紫地湯。吹冰硼散。可用破皮針。針破即效。針法須認兩旁腫處針之。</p>

<h3>魚腮風</h3>
<p>魚腮疾染在腮頤。腫痛難當只自知。傳訣與君依法治。免教遲慢勢難支。</p>
<p>是症生在酒腋邊。兩腮浮赤紅腫。為雙魚腮。一邊紅腫者。為單魚腮。治法以角藥調敷。或用消蘆散熏。服紫地湯。噙冰硼散。如逐日紅腫極盛。方可用破皮針。針出血。仍以角藥外敷。倘症日久腮穿出膿者。須內服蠟礬丸。外敷生肌散。</p>

<h3>雙搭頰風</h3>
<p>風名搭頰兩邊浮。赤腫難當筋似抽。若遇此風非易治。值時敷刺莫移遊。</p>
<p>初起面頰兩邊紅腫發熱惡寒。須看口內牙上有腫無腫。如牙匡腫者。不是搭頰。乃是牙風。即以牙風法治之。若屬搭頰先用角藥外敷。服紫地湯重加連翹桔梗牛蒡子。如腫仍不消。宜用破皮針出血。不可針挑深。外仍不離敷藥。加摩風膏少許。</p>

<h3>單搭頰風</h3>
<p>一邊紅赤頰名單證治如雙毋用參。日久腫浮牙赤腫。外敷角藥內噙丹。</p>
<p>面頰一邊浮赤腫痛。或日久致牙匡亦腫痛。須以角藥外敷內噙。吹回生丹。服紫地湯。</p>

<h3>落架風</h3>
<p>落架風兮信不良。總因血氣暗中傷。搭勾合上方無事。不合匡時費酌量。</p>
<p>此症或因酒後。或偶大笑或大呵欠致脫落下胲不得合架。口大開而不能咀嚼。雖屬上熱下虛。實由氣血有虧。以致胲筋弛而不收。若起於一二日者可治。日久則其筋已縱。恐難安合矣。治用上兜之法先將下胲輕輕托上。用綢手巾兜住。然後以手揣其搭勾之處。令其勾合。再用老薑一片。置頰車左右穴上。以艾丸置姜上用香點灸一再。即可斷根。</p>
<p>樞扶氏曰。此症由內傷所致。宜灸不宜針。當服歸脾湯。加熟地。氣血虛者。或當歸補血湯主之。切勿以喉風諸藥妄投。致誤人匪淺也。</p>

<h3>粟房風</h3>
<p>粟米瘡形滿面淫。或成大泡痛難禁。施針用藥依真法。病者舒眉患不侵。</p>
<p>初起發熱滿面紅腫。先如粟米黃瘡。日久合成大泡。先用荊芥蔥白煎角藥頻洗。再以角藥用荊芥煎水調敷泡上。服紫地湯。凡初起不可針破。俟合成大泡以針口向下挑出膿血。自效。</p>

<h3>瘰癧風</h3>
<p>瘰癧風生似核形。又如癤毒一般稱。莫疑此症由冤債。妙藥能除夙孽平。</p>
<p>是症自面生起紅腫如小癤毒。漸至滿頭俱浮腫生核可用破皮針逐個針出微血敷以角藥服紫地湯效。</p>

<h3>穿頷風</h3>
<p>病生穿頷不為祥。幸賴仙傳有秘方角藥頻敷湯紫地。徐徐圖治莫驚惶。</p>
<p>兩腮下紅腫生核。或在一邊初生一二枚者易治日久生多透入口內而自穿者。多至不治以角藥敷。服紫地湯。可針。（俟腫甚用鈹針刺腫頭出血仍敷前藥）</p>

<h3>肥株子風</h3>
<p>肥株斯疾耳弦生。腫痛方知病不情紫正開關兼急進。頻加敷藥立時輕。</p>
<p>兩耳墜上浮腫如核或一邊生者外敷角藥服紫地湯。加開關散可用針。針核上即效。</p>

<h3>掩頸風</h3>
<p>左右俄生掩頸風。分明赤腫似成癰。時人莫作尋常看。紫地辛烏有化工。</p>
<p>頸項上浮腫生癰。或左右。或一邊。或浮腫。上頭敷角藥。服紫地湯。若浮大赤腫甚者。可以針腫處。</p>

<h3>雙纏風</h3>
<p>纏喉之症本非奇日久無聲氣道危若見此形宜速退倉公遇了亦愁眉。</p>
<p>初起外頸紅腫至咽喉。亦皆滿塞不分紅白漸四圍俱腫。先以辛烏散。加摩風膏內噙外敷。吹赤麟散。回生丹。服紫地湯加開關散。若頸項遍腫及頭亦腫者屬極重症卻可治須開風路針。如症日久難治。切勿用破皮針刀。</p>
<p>樞扶氏曰。此症由膏粱厚味太過。致肺胃積熱。復受風邪上壅咽喉。紅腫緊痛聲音難出。湯水不下。而痰涎壅塞之聲。頗以拽鋸初發暴速。宜急針少商穴。以瀉其熱痰盛者。角藥調噙。症重者。宜服雄黃解毒丸。若面青唇黑鼻流冷涕者。皆屬逆症。又有因腎經有熱內枯不能上潤。致令心火盛而發是症者。內緊外腫。潮熱惡寒。乃屬實症法宜前治若體虛因思慮太過。兼過食五辛而生似此症者。其發緩。其色淡。其腫微。咽喉乾燥。舌見白胎。大便自利。六脈微浮。重按無力。吞嚥疼痛。名曰慢喉風。乃屬虛症。法當從治。若午前痛者。宜補中益氣湯加麥冬元參桔梗服之。午後痛者。或作渴身熱足冷。此陰陽兩虛也。忌用苦寒宜少陰甘桔湯。以宣達之。若面赤咽乾不渴。而微塞痛者。其脈必虛大。當以清露飲服之。兼用青雪丹吹之。自然獲驗。</p>

<h3>單纏風</h3>
<p>一邊浮腫證纏單。或起頭心或頸間。治法詳前須辨識。針開風路自綏安。</p>
<p>初起一邊紅腫作痛左屬心。右屬肺。或腫頭項或腫頸上治同雙纏風。</p>

<h3>邊頭風</h3>
<p>半邊頭痛苦無休病者何須兩淚流風藥不靈宜補劑管教腫痛去靡憂。</p>
<p>此症一邊頭痛如破。或左右紅腫如核。須針風池二穴。服紫地散。加開關散。惟下元虛者。多致此疾。宜投補劑。以四物湯。加白芷服之。（虛症不可刺）</p>
<p>樞扶氏曰。兒頭痛如破。前藥罔效者。以當歸五錢木通二錢。酒煎服下。即愈。</p>

<h3>乘枕風</h3>
<p>乘枕風兮本不奇。若成枕發卻難醫。只須急急調敷藥。紫地開關服勿離。</p>
<p>是症腦後生癤毒紅浮腫痛。可用破皮針。服紫地湯。合開關散。取效如神。</p>

<h3>耳防風（附）</h3>
<p>耳內紅浮痛倍常。或膿或血不安康。少年若是沾斯疾。定主他年重患殃。</p>
<p>此症耳內腫痛。或耳外亦紅腫及頭亦痛。或耳內出膿血。若腫痛甚者。至口齒緊閉不能開小便赤短。宜用紫地湯。加龍膽草木通。外敷角藥。吹入五行丹。即效。</p>
<p>樞扶氏曰。以上三十六症妙以一方統治之。無不神驗。故宜其秘也後之學者務須辨症詳審毋致虛實有差。庶不稍誤於萬一耳。</p>

<h2>秘訣</h2>
<p>喉風諸症初起。必作寒發熱頭痛。大便秘結小便赤澀。以紫正散地黃散合服。勿離其藥。乃氣血並治能理氣散血。逐風痰。不使邪熱壅塞。痰涎甚者。用角藥調井水噙口取之。使痰涎外湧。不停蓄於肺胃。兼吹回生丹亦拔熱邪外出也。凡患喉症。而誤服涼藥。致胸膈如墜不安者。以井水調角藥噙之。心煩即止。科內所定方藥總在攔定風熱在上不下。然後隨症治之。自獲效神速。如修合諸藥勿宜見火皆生用之。吹藥務研極細。臨用合愈妙。水劑宜蒸。不宜煎。以上皆口訣之秘。須究心焉。</p>

<h2>喉風諸方</h2>

<h3>紫正散</h3>
<p>紫荊皮（二錢）　荊芥穗（八分）　北防風（八分）　北細辛（四分去茆）　地黃散（一名內消散）　小生地（二錢）　京赤芍（八分）　蘇薄荷（六分）　牡丹皮（八分）　牙桔梗（八分）　生甘草（六分）　淨茜草（一錢　又名地蘇木）　上引加燈心二十節。紅內消一錢。（即茜草藤五月五日採取陰乾）以上紫地二散。每症合用。勿離用開水泡藥蒸服。孕婦。去丹皮加四物湯。熱盛者加連翹犀角。頭痛閉塞。加開關散。煩渴。加銀鎖匙。潮熱者。加柴胡黃芩。咳嗽。加麥冬知母。大便秘結。小便赤澀者加木通。數日不大便者。加元明粉。熱壅肺閉致氣喘促者。加麻黃五分。先滾去沫再入藥內同蒸。</p>
<p>痰稠。加貝母。陰虛者。合四物湯。</p>

<h3>開關散</h3>
<p>能清諸風止頭目痛。</p>
<p>撫川芎（一錢）　杭白芷（八分）</p>

<h3>銀鎖匙</h3>
<p>能止煩渴退口燒。</p>
<p>天花粉（八分）　元參（一錢）</p>

<h3>四物湯</h3>
<p>生地（三錢）　當歸（二錢）　川芎（八分）　白芍（八分　酒炒）</p>

<h3>鎮驚丸</h3>
<p>（一名四神散）　凡喉症已平兼服此丸。</p>
<p>山藥（四兩）　桔梗（二兩）　梔炭（二兩）　甘草（一兩）　上氣者加廣陳皮（一兩）</p>
<p>上為細末。米糊為丸如蓮子大。硃砂為衣每服一丸。</p>
<p>薄荷燈心湯化下。</p>

<h3>辛烏散</h3>
<p>（一名角藥）</p>
<p>赤芍梢（一兩）　草烏（一兩）　桔梗（五錢）　荊芥穗（五錢）　甘草（五錢）　柴胡（三錢）　赤小豆（六錢）　連翹（五錢）　細辛（五錢）　紫荊皮（一兩）　皂角（五錢）　小生地（五錢）</p>
<p>上諸藥味不宜見火置日中曬燥。其為細末。收入瓷瓶。勿令走氣。臨用以令水調噙口內取風痰如神。若痰涎極盛。加摩風膏濃汁四五匙。其力愈速。凡頸項及口外紅腫。即以角藥敷之。亦可用角藥作洗藥。以荊芥同煎水頻頻洗之。洗後仍調角藥敷上。若懸𤷍風。加南星末少許。</p>

<h3>摩風膏</h3>
<p>川烏尖（即大川附子之尖每用尖一個以乳缽底濃磨汁入角藥）　燈心灰（五分）</p>

<h3>回生丹</h3>
<p>（即冰硼散）　治一切喉證。有奇功。</p>
<p>大梅片（六釐）　麝香（四釐）　硼砂（一錢）　提牙硝（三分用蘿蔔同煮透再攄入清水內露一夜沉結成馬牙者佳）</p>
<p>共研極細末以潔淨為妙。入瓷瓶封固。臨用挑少許吹患處。開關後次日並體虛頭暈者。即宜去麝香。（名品雪丹）　毒腫漸平。並用刀破後者再去牙硝。（麝硝雙去者名呂雪丹）　加青黛（名青雪丹）</p>

<h3>真功丹</h3>
<p>凡孕婦患喉症者宜用此。</p>
<p>大冰片（一分）　真熊膽（一錢陰乾臨用乳細末）　蘆甘石（一錢　用羌活煎湯煆七次飛去腳曬乾用）　硼砂（一錢）　牙硝（二分）</p>
<p>共乳極細末吹患處。毒腫漸平。去硝。刀破後須用呂雪丹。</p>

<h3>消蘆散</h3>
<p>此方因患者畏刀以此熏破雖易見效。不能速於收功。</p>
<p>茜草（一兩）　金毛狗脊（五錢）　唐蜜根（一兩　即紫荊皮根）　蘆根（二兩去皮）</p>
<p>上用米醋同藥貯小罐內以厚紙封口極固放水中煮好口上開一小孔如箸頭大。對腫處熏若一時未破。加巴豆七粒去殼同入煮再熏神妙（若破後不能速於收功吹生肌散）</p>

<h3>萬益丹</h3>
<p>凡刀誤用致血流不止。以此吹上血即止。</p>
<p>滴乳香（一兩　去盡油）　沒藥（一兩　去盡油）　真血竭（一兩）　明硼砂（一兩）</p>
<p>研極細末。每用少許。吹入刀患處效。</p>

<h3>生肌散</h3>
<p>赤石脂（一兩水飛數次再用）　乳香（一兩　去盡油）　沒藥（三錢　去盡油）　輕粉（二錢五分）　硼砂（二錢五分）　龍骨（一兩火煆紅淬入米醋久半兩）　孩兒茶（二錢五分）　大梅片（三分）</p>
<p>研極細末。每於患處。略有少許。</p>
<p>凡病愈之後。以六味地黃湯。去山萸加麥冬沙參調之。</p>
<p>樞扶氏曰。以上皆原書秘方也。今廣搜諸名家奇方於後。以補是科之不足焉。</p>

<h3>消瘤碧玉散</h3>
<p>專治喉瘤鬱熱之症。</p>
<p>硼砂（三錢）　冰片（三分）　膽礬（四分）</p>
<p>共研極細末。用時以箸頭蘸藥。點患處。自效。</p>

<h3>紫雪散</h3>
<p>治一切咽喉腫痛及重舌重齶舌疔等症。</p>
<p>犀角尖（一兩）　石膏（一兩）　升麻（八錢）　羚羊角（一兩）　元參（二兩）　甘草（八錢）　寒水石（一兩）　沉香（五錢銼末）　木香（五錢）</p>
<p>用水五碗。煎藥至約剩一碗。將渣用絹濾去。再將湯煎滾。投提淨朴硝三兩六錢。文火漫煎。俟水氣將盡欲凝結之時傾入潔淨碗內。加下硃砂三錢。大梅片一錢。金箔一百張。各預研細和勻。將藥碗安入冷水盆中。候冷。凝如雪。俟干。再研細。收固。凡大人每用一錢。小兒二分。十歲者五分。徐徐咽之。即效。或用燈心湯化服亦可。若咽喉腫痛等症。吹之亦效。</p>

<h3>蠟礬丸</h3>
<p>治喉風穿腮出膿者。</p>
<p>黃蠟（一兩）　枯礬（五錢）　乳香（一錢五分去盡油）　沒藥（一錢五分去盡油）</p>
<p>後三味共為細末。即用黃蠟為丸每服二錢開水送下。</p>

<h3>捷妙丹</h3>
<p>治雙單蛾風神方。</p>
<p>牙皂角（一兩切碎）　絲瓜子（一兩二錢）</p>
<p>二味。用新瓦文火炙乾為細末加冰片少許收固每吹入鼻中打噴一二次即消在左吹右。在右吹左雙蛾者。左右並吹。</p>

<h3>嚴氏赤麟散</h3>
<p>治一切喉痹纏喉雙單蛾叉喉惡證吹之立吐痰涎即時獲效可代針刀真神丹也只喉癬咽瘡虛症勿用。</p>
<p>真血竭（五錢）　巴豆（七粒去殼）　明礬（一兩）</p>
<p>上三味打碎同入新砂鍋。煉至礬枯為度。每兩加大梅片三分。硼砂二錢共研極細收固用時以冷茶漱口。吹患處立效。樞扶氏曰此環山方。岫雲山人家藏秘方也治喉風諸症實有奇功。余經驗屢屢。其效不可勝言。</p>

<h3>雄黃解毒丸</h3>
<p>治一切急喉痹極危症。</p>
<p>明雄黃（一兩）　川鬱金（一兩）　巴豆（十四粒，去殼並去盡油）</p>
<p>共研細醋煮麵糊為丸。如綠豆大。每服七丸清茶送下。吐去痰涎立效如至死者心頭猶熱灌藥不下即以鐵匙挖開口灌之。若得下咽無有不活。如小兒驚熱痰涎壅塞。或二丸三丸。量大小加減服之。亦神效。</p>

<h3>萬應丹</h3>
<p>治一切咽喉口舌腫閉並穿腮腐臭延爛等症。其驗甚速。真神方也。</p>
<p>建青黛（水飛去渣曬乾五錢）　雞肫皮（洗炙乾，一錢）　牛膽硝（三錢）　山梔仁（揀淨仁炒黑碾細末三錢）　黃連末（三錢）　生黃芩（三錢）　真熊膽（一錢）　人中白（取經霜壓多年者火煆三次五錢）　大紅絨灰（一錢）　西牛黃（一錢）　雄黃（一錢）　青梅乾（煆存性五錢臨時加才妙）　硼砂（三錢）　枯礬（二錢）　兒茶（三錢）　銅青（二錢）　珍珠（一分）</p>
<p>以上各研極細末和勻。加真麝香五分。大梅片七分。再研和勻。入瓷罐內以烏金紙塞緊口。每用少許吹患處。日夜徐徐吹之。流出痰涎漸愈。如有腐臭。急用蚌水洗淨。或用豬牙草匾柏子和搗。加水去渣洗淨。再以前藥去青梅乾。加滴乳香去油二錢。吹用。</p>
<p><u>制青梅法</u></p>
<p>大青梅一斤去核。略搗碎入白礬食鹽各五錢。拌和再加蜒蝤。不拘多少。層層間之。一日夜取梅曬乾。收盡汁再曬乾。煆灰存性。臨用加入。</p>
<p><u>制膽硝法</u></p>
<p>冬月約入朴硝在黑牛膽內。掛在風前一百二十日。去皮用硝。此乃第一應驗神方也。</p>

<h3>青冰散</h3>
<p>專治喉閉雙單蛾有奇功。</p>
<p>膽礬（二錢）　硼砂（二錢）</p>
<p>共研末。取青魚膽一個。將藥末入膽內。陰乾去皮。再研極細。加冰片二分。收固。每遇喉閉。雙單蛾等症。以男左女右。吹入鼻中。自效。</p>

<h3>火刺仙方</h3>
<p>治一切喉痹纏喉脹滿氣塞不通。命在頃刻者。須急用之。</p>
<p>法用巴豆油塗紙上。捻作條子。火上點著煙起即吹滅。令病人張口急刺於喉間。俄然吐出紫血。即時氣寬能言及啖粥飲。再用藥隨治之。便立愈矣。夫咽喉諸疾。發於六腑者。如引手可探及刺破或前諸方治之。即效。若發於五臟者。則受毒牢深。而手法藥力難到。惟用油紙捻刺。乃為第一也。蓋熱則宣通故以火治之。火氣熱處。使巴油皆到又以火散結以巴瀉熱邪。以煙吐出痰涎。此一舉三善之捷法也。</p>

<h3>碧雪散</h3>
<p>治咽喉閉塞。痰涎壅盛。</p>
<p>燈心灰（二錢）　硼砂（一錢）</p>
<p>上為細末。每用少許。吹入喉中。即吐出痰涎自效。</p>

<h3>碧玉丹</h3>
<p>治喉風急閉等症。</p>
<p>膽礬（三錢）　白殭蠶（六錢炒去絲嘴揀直者佳）</p>
<p>上為細末。加麝香一分，每用少許。吹喉中立驗。</p>

<h3>絳雪</h3>
<p>治咽喉腫痛。咽物妨礙。及喉癬口舌生瘡等症。</p>
<p>寒水石（二錢）　蓬砂（一錢）　辰砂（三錢）　大梅片（三分）　孩兒茶（二錢）</p>
<p>為極細末。每用一字。摻於舌上。津液咽之。或吹患處。真妙方也。</p>

<h3>金鎖匙</h3>
<p>治喉閉纏喉風。痰涎壅塞口噤不開。湯水難下等症。</p>
<p>焰硝（一兩五錢）　硼砂（五錢）　片腦（三分）　雄黃（二錢）　白殭蠶（一錢）</p>
<p>各另研細末。再和勻收固。每吹少許。入患處痰涎即出。</p>

<h3>推車散</h3>
<p>專治牙癰骨槽風生多骨者吹入神效。</p>
<p>取推車蟲（即羌螂）　炙研極細末每一錢加入乾薑末五分。同乳細收固。每用少許。吹入患處孔內。若孔內有骨。次日不痛。而骨自出。凡吹過周時。而無骨出者。則知內無多骨也。</p>

<h3>刻歡丹</h3>
<p>（又名過街笑）　專治風火蟲牙疼痛無不神效</p>
<p>蟾酥（一錢陳酒化透）　五靈脂（一錢）　麝香（八分）</p>
<p>共研極細末。和搗為丸。以二百粒為則。即用新零綢包以絲線扎固。再藏瓷瓶內。每取一丸。咬噙於痛牙縫中。俟丸化。即痊愈。</p>

<h3>靈丹</h3>
<p>專治一切牙痛。無不立驗。此不易得之方也。</p>
<p>防風　北細辛　黃芩　石膏　元參　羌活　荊芥　小生地　連翹　黃柏　甘草　白芷　白菊花　梔仁　川芎　百部　薄荷（以上各二錢五分）　真黃連（三錢）</p>
<p>上藥。共為粗末。置大銅鍋內。外用甘草五錢。煎水一大碗。將藥拌勻。再取潮腦三兩。研碎分作五七次。用灑藥上。再以大碗蓋住藥上又用石膏和灰面鹽水調勻。密糊碗口不可泄氣。煮長香一炷方可起下。將上升在碗的靈丹。用竹刀刮下。仍將渣用甘草水拌勻。復灑潮腦於上。如此升取五七次。候藥性升盡為度。再以瓷瓶收固。凡牙疼擦上。立止如神。</p>

<h2>症治湯頭備錄</h2>

<h3>秘授甘露飲</h3>
<p>治真陰虧竭火炎灼肺。虛損失血內熱發為咽瘡喉癬等症。</p>
<p>取童便半酒罈。要壇口大者。先用鐵絲做四股絡子懸飯碗一個於壇內。約離童便三寸許。再用鉛打成帽笠式倒置壇口上。四圍用鹽泥封固。外加皮紙數層糊密勿令泄氣再用磚搭成爐式將壇放上用桑柴文武火煉燒一炷香。去火候溫。再將鉛笠輕輕取起。勿令泥灰落下。則壇中所懸碗內。自有清香童便露一碗。取出另傾茶碗內。與病者服下。每日早晚共服二鍾。自有神效。取童便須擇無病無瘡癤者。五六人。每早烹好松蘿茶一大壺。令各童飲下。俟便出時去頭去尾不用。取中間者。以壇盛之。此環山方子岫云秘傳之仙方也。識者珍之。</p>
<figure>
<img alt="鉛笠式">
</figure>
<figure>
<img alt="壇式">
</figure>

<h3>清露飲</h3>
<p>治咽乾塞疼。脈虛大者。</p>
<p>天冬（一錢去心）　麥冬（一錢去心）　生地（一錢）　熟地（二錢）　釵斛（八分）　桔梗（八分）　枳殼（八分麩炒）　甘草（六分）</p>
<p>上加枇杷葉一片。（密炙刷去毛）　水二鍾。煎八分。食後服。</p>

<h3>少陰甘桔湯</h3>
<p>治慢喉風症。</p>
<p>元參（八分）　桔梗（八分）　川芎（四分）　柴胡（五分）　廣皮（六分）　甘草（六分）　黃芩（三分）　升麻（二分）</p>
<p>加蔥白一根。為引。水煎服。</p>

<h3>黃連解毒湯</h3>
<p>治重齶等症。</p>
<p>黃連　黃柏　黃芩　生梔子（各一錢五分）　水煎服。</p>

<h3>益氣清金湯</h3>
<p>專治喉瘤之症。</p>
<p>人參（二錢）　茯苓（一錢）　桔梗（三錢）　黃芩（二錢）　麥冬（錢半）　陳皮（一錢）　梔仁（一錢）　薄荷（一錢）　甘草（一錢）　紫蘇（五分）　牛蒡子（錢半炒）　川貝母（二錢去心）加淡竹葉三十片。水煎溫服。</p>

<h3>逍遙散</h3>
<p>治肝家血虛火旺頭痛目眩。頰赤口苦倦怠煩渴。抑鬱不樂。咽喉干痛無形婦人經水不調。脈弦大而虛。</p>
<p>柴胡（一錢）　當歸（一錢）　白芍（一錢）　甘草（五分）　白朮（一錢）　茯苓（一錢）</p>
<p>上水二鍾。加煨姜一片。薄荷五分。煎八分。食遠。溫服。薛立齋。加丹皮（一錢）　黑山梔（一錢）</p>

<h3>二陳湯</h3>
<p>治濕痰為患及骨槽風等症。</p>
<p>陳半夏（三錢九制者佳）　廣陳皮（三錢去淨白）　白茯苓（二錢）　生甘草（一錢）</p>
<p>上加白芥子二錢。炒研。引用生薑三片。水煎服。</p>

<h3>陽和湯</h3>
<p>專治骨槽風。</p>
<p>大熟地（一兩）　鹿角膠（三錢石膏隔水頓沖服）　上肉桂（一錢）　白芥子（二錢炒研末）　生甘草（一錢）　薑炭（五分，即炮姜）　麻黃（五分）</p>
<p>麻黃得熟地不發表。熟地有麻黃不膩膈神用在斯。水三鍾煎至五分。食遠服。</p>

<h3>陽和丸</h3>
<p>專治骨槽風症。</p>
<p>上交桂（一兩）　黑炮姜（五錢）　麻黃（三錢）共研細末。煉蜜為丸。每服須加前二陳湯同煎。為妙。本方勿增減出入。</p>

<h3>犀黃丸</h3>
<p>治一切骨槽風。並患乳岩瘰癧。痰核橫痃。肺癰小腸癰流注等症。</p>
<p>犀黃（三分）　乳香（一兩燈心炒去油）　沒藥（一兩制同上）　真麝香（錢半）</p>
<p>共研細末。取粟米飯一兩。搗為丸。如綠豆大。曬乾忌烘。每服三錢。熱陳酒送下飲醉蓋被取汗出醒後癰消而痛自息矣。</p>

<h2>附走馬牙疳證</h2>
<p>症以走馬名者。言其疾速。失治即殞故也。蓋齒屬腎。與胃相通。腎主一身之元氣。凡受積熱火毒。疳氣即奔上焦。或乾麻痘之後。及傷寒雜症熱病而成。或因平昔過服助陽熱藥。並飲毒所中。凡初起口氣甚臭。名臭息。次第齒黑。名崩砂。盛則齦爛。名潰槽。熱血迸出。名宣露。極甚者。牙脫落。名腐根。既脫齒不復回生矣。可見此症。貴乎速治也。</p>
<p>凡牙疳初起。黑爛腐臭出血者。宜服蘆薈消疳飲。若脾胃虛者。宜兼服人參茯苓粥。吹以神功丹。若痘疹後餘毒所中者。宜服清疳解毒湯。外勢輕者。俱用人中白散擦之若堅硬青紫漸腐穿腮齒搖動者。宜蘆薈散擦之。凡牙疳見紅血流者。吉。如頑肉不脫。腐肉漸開掀腫。外散臭氣。身熱不退俱屬不治。</p>
<p>又牙疳五不治症。齒落無血者。不治。腮崩唇破者。不治。黑腐不脫者。不治。臭氣異常者。不治。服藥不效者。不治。</p>

<h3>蘆薈消疳飲</h3>
<p>蘆薈（五分生）　牛蒡子（五分炒研）　元參（五分）　桔梗（六分）　川黃連（八分）　薄荷（六分）　梔仁（五分）　生甘草（四分）　升麻（二分）　石膏（三錢）　羚羊角（一錢另磨）　銀柴胡（五分）</p>
<p>加淡竹葉五片為引。水二鍾煎至六分。食遠服症重者分兩加一倍。</p>

<h3>人參茯苓粥</h3>
<p>人參（一錢）　白雲苓（六錢）</p>
<p>共研末同粳米一茶鍾熬成粥先以鹽湯將口漱淨。再食粥。</p>

<h3>清疳解毒湯</h3>
<p>人中黃（五分）　川黃連（六分）　元參（六分）　牛蒡子（一錢）　北柴胡（五分）　防風（五分）　生石膏（二錢）　犀角（一錢另磨並服）　知母（八分）　生甘草（三分）　連翹（八分去心）　荊芥（八分）　淡竹葉（一錢）　加燈心五十寸。水二鍾。煎服。若嘔吐。加蘆根五錢。</p>

<h3>神功丹</h3>
<p>專治一切牙疳。有神效。</p>
<p>人中白（二兩）　黃柏（六錢）　青黛（六錢水飛）　薄荷葉（六錢）　兒茶（一兩）　冰片（六分）</p>
<p>為極細末日用七八次。涎外流不止者。吉。若無涎則毒氣內攻。即屬不治之症。</p>
<p>每以韭菜根煎水。頻漱。</p>
<p><u>煉人中白法</u></p>
<p>取多年溺壺內底上所起者為最其次即婦人溺桶內所起者。亦可。無論多寡。總取大塊。放瓷盆內。置屋上。任其霜壓雨淋風吹日熾。如此一二年。或多年更妙。取下放新瓦上。以炭火煉紅煙盡為度。再研細收貯候用。愈陳愈妙。</p>

<h3>人中白散</h3>
<p>（一名異功散）</p>
<p>白霜梅（二錢）　人中白（五錢火煆）　枯白礬（二錢）　大梅片（二分）　共研細末。先用韭根蘿茶煎濃汁。乘熱以雞翎蘸洗患處。去淨腐肉見鮮血。再敷此藥。若爛至咽喉者。以蘆筒吹之。</p>

<h3>戌骨丹</h3>
<p>治走馬牙疳。並痘後牙疳取白色狗屎。於長流水中淘出白骨。漂極淨。瓦上炙黃。研極細。入麝香少許。擦疳上數次愈。</p>

<h3>蘆薈散</h3>
<p>蘆薈（二錢）　黃柏（五錢）　白人言（五分，用紅棗五枚去核每棗納人人言一分火燒存性）　共研細末。先用米泔水漱淨疳毒。再敷齒患處效。</p>

<h3>獨勝丹</h3>
<p>治一切牙疳穿腮破唇實有奇效。</p>
<p>取白茄蒂。不拘多少。陰乾。瓦上炙燥。為細末。加冰片少許。收固每吹患處。即愈。</p>

<h3>紫花散</h3>
<p>治小兒口疳神驗。</p>
<p>甘蔗皮燒灰研末。加冰片一字。摻之。</p>

<h3>赤霜散</h3>
<p>專治走馬牙疳。延爛穿腮不堪。危險之症。</p>
<p>用紅棗一枚去核。入紅砒如黃豆大一粒。紮好放瓦上炙至棗上起白煙。俟煙盡取下蓋熄候冷。加冰片一字。研極細。吹患處。效速如神。若久爛之孔。亦能生肌捷速也。</p>

<h3>聖功丹</h3>
<p>治一切牙疳。有奇效。</p>
<p>硼砂（五分）　蒲黃（一分）　人中白（二分）　馬勃（一分）　兒茶（一分）　甘草節（八釐）　殭蠶（五釐）　冰片（五釐）　麝香（四釐）上為細末。收固。水漱口淨吹之。數次即愈。此方出於岫雲山人。而其功效過於神功丹。人中白散諸方。若疳重加青黛黃柏等分。</p>

<h3>保元丹</h3>
<p>凡牙疳久不愈者。吹之。無不神驗。</p>
<p>取稻草不拘多少密紮成把。候冬至日放露天糞缸內至春分取起。於長流水中洗淨汙穢。置屋上。任日熾雨淋雪壓。愈陳愈妙。再將草燒成黑灰。研末。每兩加冰片三分和乳極細。吹患處。立效。樞扶氏曰。以上牙疳諸方乃廣搜各名家要義。及友人秘授者。皆經應驗之方也後之治者。認症勿差。用藥勿錯。安有不效。至於臨症變通。又存乎其人耳。</p>

<h2>梅澗醫語</h2>
<p>（論喉間發白症）</p>
<p>喉間發白之症。予經歷十餘俱已收功。此症屬少陰一經。熱邪伏其間。盜其肺金之母氣。故喉間起白。緣少陰之脈循喉嚨系舌本。治法必以紫正地黃湯為主，方除紫荊皮茜草二味。此二藥開結破肝血之燥熱。今喉間之白。因邪伏於少陰腎經蓄久而發。肝失水養。非喉本症。風熱結於血分可比。故此二藥最不相宜用之。復傷其陰。而白反瀰漫不解。只用紫正湯。微加細辛清解少陰之邪。初服一二劑。其白不增不減。略轉微黃色。十有九治。若服藥後。白反蔓延嗆喉。是邪伏腎經。腎陰已傷。元氣無從送邪。即不治矣。此症服藥。大便解出結糞。地道通。而肺氣行。邪從大便出。其白即轉黃色。七日後愈矣。可知邪伏少陰。盜其母氣。非臆度也。</p>

<h2>又論喉間發白治法及所忌諸藥</h2>
<p>喉間起白如腐一症。其害甚速。乾隆四十年前無是症即有亦少。自二十年來患此者甚多。惟小兒尤甚。且多傳染。一經誤治。遂至不救。雖屬疫氣為患。究醫者之過也。按白腐一證。即所謂白纏喉是也。諸書皆未論及。惟醫學心悟言之。至於論治之法。亦未詳備。緣此症發於肺腎。凡本質不足者。或遇燥氣流行。或多食辛熱之物。感觸而發。初起者發熱。或不發熱鼻乾唇燥或咳或不咳。鼻通者輕。鼻塞者重。音聲清亮氣息調勻易治。若音啞氣急即屬不治。近有好奇之輩。一遇此症。即用象牙片動手於喉中。妄刮其白。益傷其喉。更速其死。豈不哀哉。余與既均三弟療治以來。未嘗誤及一人。生者甚眾。經治之法。不外肺腎。總要養陰清肺。兼辛涼而散為主。</p>

<h3>養陰清肺湯</h3>
<p>大生地（二錢）　麥冬（一錢二分）　生甘草（五分）　元參（錢半）　貝母（八分去心）　丹皮（八分）　薄荷（五分）　炒白芍（八分）　不用引質虛。加大熟地。或生熟地並用。熱甚。加連翹。去白芍。燥甚。加天冬茯苓。</p>
<p>如有內熱及發熱。不必投表藥。照方服去。其熱自除。吹藥方。</p>
<p>青果炭（二錢）　黃柏（一錢）　川貝母（一錢）　冰片（五分）　兒茶（一錢）　薄荷葉（一錢）　鳳凰衣（五分）</p>
<p>各研細末。再入乳缽內和勻。加冰片乳細。</p>
<p>喉間起白所切忌藥味。</p>
<p>麻黃（誤用咽啞不可救）　桑白皮（肺已虛不宜瀉）　紫荊皮（破血不可用）　防風（不可用）　杏仁（苦降更不宜）　牛蒡子（能通十二經不可用）　山豆根（不可用）　黃芩（過清涼）　射干（妄用即啞）　花粉（不可用）　羌活（過發表切不可用）　桔梗（肺虛不宜升）　荊芥（不可用）</p>

<h2>咽喉諸症禁忌</h2>
<p>凡咽喉諸症。切不可發表。虛症不宜破血。</p>

<h2>暫受風寒喉痛治法</h2>

<h3>清解湯</h3>
<p>防風（八分）　桔梗（六分）　牛蒡子（八分）　甘草（五分）　秦艽（一錢）　川芎（五分）　薄荷（五分）　枳殼（八分）　當歸（一錢）</p>
<p>引加蔥白二寸宜停葷腥。</p>

<h1>卷下</h1>

<h2>喉風針訣</h2>
<p>喉風諸症。皆由肺胃臟腑深受風邪。鬱熱風火相摶。致氣血閉澀。凝滯不能流行。而風痰得以上攻。結成種種熱毒。故宜以針法開導經絡。使氣血通利。風痰自解。熱邪外出。兼有諸藥奇方。層層調治其症。安有不效。針曰氣針誠為諸藥之先鋒。乃喉風之妙訣。功效可勝言哉。凡臨諸症先從少商。少衝。合谷。以男左女右。各依針法刺之。若病重者。再從囟會。前頂。百會。後頂。風府。頰車。風池。諸穴針之。留肩井。尺澤。曲澤。小海。少海。商陽。中衝。照海足三里。隱白。諸穴。看病勢輕重用之。不可一時針盡。如遇喉風極重之症。方可周身用針。開通周身經絡。使風熱結邪得殺其勢。而氣血遂能流利運行。佐以奇藥內治。自無不神效。若針路無血。乃風熱壅塞。則受郁邪日深。最為險症。多致不救。是科臨症。每於針下便能判定吉凶。有心究此。宜細思詳察焉。</p>

<h2>附纂神應經用針咒法</h2>
<p>咒曰。天靈節榮。願保長生。太玄之一。守其真形。五臟神君。各保安寧。針一下。萬毒潛形。急急如令敕。凡攝針默唸咒一遍。吹氣在針上。想針如火龍。從病人心腹中出。其病速愈。按針用咒法。非出素問意。但使針時專心於內。不致外馳也。</p>

<h2>論針形至微何能補瀉</h2>
<p>譬曰如氣球焉。方其未有氣也則懨塌不堪蹴踢。及從竅吹之。則氣滿起胖。此虛中則補之之義也。去其竅之所塞。則氣從竅出。而球復懨塌矣。此實中則瀉之之義也。</p>

<h2>針法主治歌</h2>
<p>火針主刺周身病。淫邪溢於肌體中。為風為水關節痹。關節一利大氣通。火針者。即古人之燔針也。凡周身之淫邪。或風或水溢於肌體。留而不能過於關節。壅滯為病者。以此刺之。使關節利大氣通。則淫邪壅於經絡風虛腫毒。傷於肌體者。皆可去也。</p>

<h2>行針次第法十二歌</h2>

<h3>一取穴歌</h3>
<p>取穴先將爪切深。須教毋外慕其心。令他榮衛無傷礙。醫者方堪入妙針。</p>
<p>凡下針用左手大指甲重切。所針之穴。令氣血開。教病者心專於內。不要外馳。然後下針。使針不傷榮衛。方堪入妙。</p>

<h3>二持針歌</h3>
<p>持針之士要心雄。手如握虎莫放鬆。欲識機關三部奧。須將此理再推窮。</p>
<p>凡下針之時。須心小力雄。以右手持氣針於穴上。勢若握虎。不敢放鬆。著力漫旋。插直至應止之處。吸氣三口。然後方提針徐徐而出。凡機關三才奧理。欲先識於心。而行於針者。須將此再三推究可也。</p>

<h3>三溫針歌</h3>
<p>溫針之理最為良。口內溫和審穴方。毋令冷熱相爭摶。榮衛宣通始安詳。</p>
<p>凡下針必先將所用之針入於口中。使針尖溫熱。審定穴所。方可刺下。勿令冷熱相爭。庶血氣調和。而得安詳也。</p>

<h3>四進針歌</h3>
<p>進針理法取關機。失經失穴最不宜。陽經取陷陰經脈三思已定針自愈。</p>
<p>凡下針要病人神氣定息數勻。醫者亦如之關機。最切忌太忙。須細審經絡穴所在何部分。不可輕施其針。失於經絡穴所也。如在陽部。必取筋骨間陷下之處。則不傷於筋骨。如在陰分郄膕之內動脈相應間。則以爪重切經少待片時。方可進針。而不傷於榮衛。又必三思已定。然後下針。病可愈矣。</p>

<h3>五指循歌</h3>
<p>部分經絡要指循。只為針頭不緊沉。推則行之引則止。調和血氣使來臨。</p>
<p>凡下針若氣不至。用指於所屬部分經絡之路上下左右推而行之。引而止之往來循之。使血氣上下均勻。針下自然氣至沉緊。得氣即瀉之意也。</p>

<h3>六攝法歌</h3>
<p>攝法原因氣滯經。大指爪中切莫輕以指持針待氣至邪氣流行針自輕。</p>
<p>凡攝針者。因針下邪氣滯澀不行也隨經絡上下。用大指爪甲重切之。使正氣流行。則邪氣不能滯澀。而針下自覺活動矣。</p>

<h3>七退針歌</h3>
<p>退針手法理須知。三才訣內總元機。一部六數三吸氣。須臾病痛自然除。</p>
<p>凡退針全在手法三才之內。皆有要訣元機。不可不識。如欲退針。必須緩緩而出自地部。退至人部。再漸退至天部。俱用少陰之六數瀉之。每一部六數。須要少停。三部共行三六一十八數。令病人吸氣三口。隨吸隨提。徐徐退至天部。疾病自然愈矣。</p>

<h3>八搓針歌</h3>
<p>搓針瀉氣最為奇。氣至針纏莫就移。渾如搓線悠悠轉。急則纏針肉不離。</p>
<p>搓針者凡進退搓捻皆催其氣至。以瀉邪氣也。如覺針下氣緊。切勿就移用須以瀉法。但微微動轉如搓線之狀。若轉之太緊。必至肉纏針頭。邪氣滯澀而不能除矣。</p>

<h3>九捻針歌</h3>
<p>捻針指法不相同。一般在手兩般功。內外轉移行上下。助正驅邪疾自輕。</p>
<p>凡捻針時。雖一般在手。而指法不同。故功有兩般也。如欲治上。則大指向外捻。外捻者。令其氣向上也。如欲治下。則大指向內捻。內捻者。令其氣至下也。內捻為之補。外捻為之瀉。如經絡向下者。轉針頭逆之。則為迎也。經絡向上者。移針頭順之。則為隨也。指法得宜。則正氣自復。而邪氣自退矣。</p>

<h3>十留針歌</h3>
<p>留針取氣候沉浮出入徐徐必逗留能令榮衛縱橫散。巧妙元機在指頭。　</p>
<p>留針者凡出針至於天部入針至於地部。須在皮膚肌肉間。徐徐容留令榮衛宣散方可出針入針。若出針太急。則血隨針出。反傷榮衛其巧妙元機全在指頭之間也。</p>

<h3>十一搖針歌</h3>
<p>搖針三部皆六搖依次推排在指梢孔穴大開無窒礙邪氣退除病自消。</p>
<p>搖針者。如出針三部。欲瀉之際。每一部搖二三搖多者不過六搖而已。以指捻針如扶人頭搖之之狀使孔穴開大無有窒礙。庶邪氣退除而病自愈矣。</p>

<h3>十二拔針歌</h3>
<p>拔針之時切莫忙。閉門存神要精詳。不沉不緊求針尾。此訣須當韞錦囊。</p>
<p>凡針畢。拔針最要精詳。不可輕率忙亂也。如欲出針。須待針下氣緩不沉不緊。覺輕動滑快。方以右指捻住針尾以左手大指按其針穴及穴外之皮令針穴門戶不開神氣內存然後拔針庶不致於出血。此針家要訣。須當韞於錦囊也。</p>

<h2>針略</h2>
<p>夫用針者。先明其孔穴。補虛瀉實。送堅付濡。以急隨緩榮衛常行。勿失其理故為針者。勿離乎心口。如銜索目。欲內視消息氣血不得妄行。凡針入一分。則知天地之氣。針入二分。則知呼吸出入。上下水火之氣。針入三分。則知四時五行。五臟順逆之氣。凡針皮毛腠理者。勿傷肌肉。針肌肉者。勿傷筋脈。針筋脈者。勿傷骨髓。針骨髓者。勿傷諸經絡。若誤傷之。魂魄神志知氣失亂。反誤人也。學者慎之。（千金）</p>

<h2>針禁忌法</h2>
<p>大寒無刺。（素問雲天寒無刺天溫無疑）月生無瀉。月滿無補。新內無刺。已刺無內。大怒無刺。已刺無怒。大勞無刺。已刺無勞。大醉無刺。已刺無醉。大飽無刺。已刺無飽。大飢無刺。已刺無飢。大渴無刺。已刺無渴。月郭空無治。</p>
<p>凡乘車來者。須令臥以休息。如食頃。乃可刺之。步行來者。令坐以休息。如行十里頃。乃刺之。若大驚大恐者必俟定其氣。乃刺之。（千金）</p>

<h2>問針入幾分留幾呼</h2>
<p>答曰。不如是之相拘也。蓋肌肉有淺深。病去有遲速。若肌肉厚實處。則可深若淺薄處。則宜淺。病去則速出針。病滯則久留針。為可耳。（素問針刺）</p>

<h2>論瀉要訣</h2>
<p>神應經云。取穴既正。左手大指掐其穴。右手置針於穴上。令患人咳嗽一聲。隨咳內針至分寸。候數穴針畢停少時。用右手大指及食指持針細細搖動。進退搓捻。其針如手顫之狀。謂之催氣。約行五六次。覺針下氣緊卻用瀉法。如針左邊用右手大指食指持針。以大指向前。食指向後。以針頭輕提往左轉。如有數針。俱依此法。俱轉畢。仍用右手大指食指持針。卻用食指連搓三下。（謂之飛）仍輕輕提往左轉。略退針半許。（謂之三飛）依此法行至五六次。覺針下沉緊。是氣至極矣。再輕輕提往左轉。一二次。欲出針時。令病人咳嗽一聲。隨咳出針。此之謂瀉法也。（大成）</p>

<h2>論補要決</h2>
<p>凡人有疾。皆邪氣所湊。雖病人瘦弱。不可專行補法。經曰。邪之所湊。其氣必虛。如患目赤等疾。明是邪熱所致。可專行瀉法治之。其餘諸疾。只宜平補平瀉。須先瀉後補。謂之先瀉邪氣。後補真氣。此乃先師不傳之秘也。今行補法者。令病人吸氣一口。隨吸轉針。如針左邊捻針頭轉向右邊。以我之右手大指食指持針。以食指向前。大指向後。仍捻針深入一二分。便真氣深入肌肉之分。如有數穴。依此法行之既畢。停少時。卻用手指於針頭上。輕彈三下。如此三次。仍用我左手大指食指持針。以大指連搓三下。（謂之飛）將針深進一二分。以針頭向左邊。（謂之三進三飛）依此法行至五六次。覺針下沉緊。或針下氣熱。是氣至足矣。即令病人吸氣一口。隨吸出針急以手按捫其穴。此謂之補法是也。（大成）</p>
<p>樞扶氏曰。凡補法者。假如此穴合針入五分。須先針入二分。候針下得氣再入二分。是至四分又候得氣更針入一分。總共五分止。然後急出針。即以左手大指急按所針穴孔。勿令出血。是為補也。凡瀉法者。假令此穴合針五分。便即入五分。候約得氣。便將針退出二分。少停又退出二分。是共提出四分。再少停候得氣。又起針漫漫拔出。不用手閉其針孔。令其氣出。或血出。是為瀉法也。</p>

<h2>中指定同身寸圖</h2>
<p>男左女右。手中指第二節。屈指兩紋尖相去為一寸。取稻稈心量。或薄篾量。皆易折而不伸縮為準。用繩則伸縮不便。故不準。</p>
<figure>
<img alt="中指定同身寸圖">
</figure>

<h2>行針分寸歌</h2>
<p>行針分寸中指傳。屈指中節兩紋尖。男左女右童稚一。長短肥瘦審經權。</p>
<p>法以中指第二節。屈指兩紋尖。相去為一寸。童稚亦如之。雖人身有長短肥瘦不同。凡入針之分數。亦有不一。而身形長者。其指節亦長身形短者。其指節亦短。但隨其長短。以取分寸。則自准矣。肥人肌肉肥厚。血氣充滿。宜刺三分半。瘦人肌肉瘦薄。血氣未盛。宜刺二分。然雖如此。猶有經有權。不可執一而論。如遇不肥不瘦之人。只在二三分之間。酌量取之。至於心領神會。又當存乎其人矣。</p>

<h2>四季針灸坐向歌</h2>
<p>針灸原來宜坐向。理從四季順自然。東南西北四維向。迎以生氣本乎天。</p>

<h2>四季人神所在禁忌針灸歌</h2>
<p>四季人神所在處。禁針忌灸莫妄施。春在左脅秋在右。冬在腰間夏在臍。</p>
<p>四季人神所在之處。謂人之神氣初動之處。同乎天地之流行也。禁針灸者。恐傷生氣也。凡人神常在心。至春在左脅者。肝主升也。秋在右者。肺主降也。冬在腰者。腎主藏也。夏在臍者。脾主化也。</p>

<h2>逐日人神所在禁忌針灸歌</h2>
<p>一日足大（足之大指）二外踝。三日股內四在腰。五口六手七內踝。八腕九尻十背腰。十一鼻柱二髮際。三牙四胃五遍身。六胸七氣（氣衝也）八股內。九足二十內踝尋。二十一手小（手之小指）二外踝。三日肝足四手明。（手陽明）五足（足陽明）六胸七在膝。八陰（男女前陰中也）九脛晦趺停。（足之十指岐骨也）</p>

<h2>十干人神所在禁忌針灸歌</h2>
<p>甲不治頭乙喉頭。丙肩丁心戊腹中。己脾庚腰辛膝位壬腎癸足忌灸針。</p>

<h2>十二支人神所在禁忌針灸</h2>
<p>子日（在目）丑日（在耳）寅日（在胸又云面口）卯日（在鼻及脾）辰日（在腰）巳日（在手又云頭口）午日（在心腹）未日（在足）申日（在頭並肩腰）酉日（在背及腰）戌日（在喉咽頭）亥日（在頭並臂脛膝）</p>

<h2>十二時人神所在禁忌針灸</h2>
<p>子時（在踝）丑時（在頭）寅時（在耳一云在目）卯時（在面耳）辰時（在口項）巳時（在乳一云在肩）午時（在胸脅）未時（在腹）申時（在心）酉時（在膝背脾）戌時（在腰）亥時（在股）</p>

<h2>禁針穴歌</h2>
<p>（共三十一穴）</p>
<p>禁針穴道要分明。腦戶囟會及神庭。絡卻玉枕角孫穴。顱囟承泣隨承靈。神道靈臺膻中忌。水分神闕並會陰。橫骨氣衝手五里。箕門承筋及青靈。乳中上臂三陽絡。二十三穴不可針。孕婦不宜針合谷。三陽交內亦通論。石門針灸應久忌。女子終身無妊娠。外有云門並鳩尾。缺盆客主人莫深。肩井深時人悶倒。三里急補人還平。</p>

<h2>禁灸穴歌</h2>
<p>（共四十七穴）</p>
<p>禁灸之穴四十七。承先啞門風府逆。晴明攢竹下迎香。天柱素髎上臨泣。腦戶耳目瘈脈通禾髎顴髎絲竹空。頭維下關人迎等。肩貞天牖心俞同。乳中脊中白環俞。鳩尾淵腋如周榮。腹哀少商並魚際。經渠天府及中衝。陽池陽關地五會。漏谷陰陵條口逢。殷門中脈承扶忌。伏兔髀關連委中。陰市下行尋犢鼻。諸穴休將艾火攻。</p>

<h2>針灸諸則</h2>
<p>一凡諸病之作。皆由血氣壅滯不得宣通。宜用針刺者。以針法開導之。當用灸者。以灸法溫暖之。凡治畢。須好持護。忌生冷醋滑等物。若不知慎。必反生他疾。</p>
<p>一凡針刺大法多宜在午時之後。不宜在午時之前。</p>
<p>一凡灸法。須先發於上後發於下。先發於陽。後發於陰。</p>
<p>一凡微數之脈。及新得汗後者。並忌灸。</p>
<p>一凡用火補者。勿吹其火。必待其從容徹底自滅。灸畢。即可用膏貼之。以養火氣。若欲報者。直待報畢。貼之可也。</p>
<p>一凡用火瀉者。可吹其火。敷其艾宜於速迅。須待灸瘡潰發。然後貼膏。此補瀉之法也。</p>

<h2>諸症針刺要穴</h2>
<p>喉痹又喉纏喉鬥底。</p>
<p>天突　廉泉　後頂　風府　風池　合谷　商陽　中衝　少澤　少商　然谷　照海　三陽交　足三里</p>
<p>雙單乳蛾燕口。</p>
<p>後谿　少衝　少商　合谷　風池</p>
<p>牙關緊閉口眼歪斜搜牙懸𤷍。</p>
<p>頰車　承漿　合谷　魚際　足三里</p>
<p>樞扶氏曰。以上諸穴。皆急治喉風等症之要穴法也。其餘諸穴。切勿妄行針灸。必須謹遵古法。庶不有誤。慎之慎之。</p>

<h2>制針法</h2>
<p>制針須用馬嚼環鐵。以馬屬午午屬火火剋金取剋制。能解鐵毒之義也。故本草用馬銜鐵作醫針為妙。若以真金制針。用之更佳。其煆煉之法。　以馬銜鐵琢作二寸長。或三寸。不拘長短。要光圓尖者數針。三稜式者數針。以便分症從穴按用。不可過於尖鋒恐易折針於肉內也。次以蟾酥塗針尖上入火中微煆。不可令紅。取起復照前塗酥煆三次。乘熱插入臘肉皮之裡肉之外。將後藥用水三碗煎沸次。入針肉在內。煮至水乾。傾於清水中。待冷將針取出。於黃土中插百餘下。以去火毒再用。細石打磨淨及端直。仍用松子油塗之。當常近人氣為妙。</p>

<h2>煮針藥方</h2>
<p>麝香（五分）　膽礬（一錢）　硃砂（三錢）　沒藥（三錢）　鬱金（三錢）　川芎（三錢）　歸尾（三錢）　磁石（一兩）　石斛（二分）　皂角（二錢）　穿山甲（三錢）　甘草節（五錢）　沉香末（五錢）　北細辛（三錢）</p>
<p>以上諸藥。能引氣味入針內。</p>

<h2>正面氣針要穴圖（佚）</h2>

<h2>任脈穴</h2>
<p>任脈起於會陰。循腹上行會於咽喉。至承漿止。凡二十四穴。是科只用璇璣。天突。廉泉承漿。四穴。（後載會陰一穴云凡喉風禁針故不列入總條）</p>
<p>承漿（一名天池，一名懸漿）　在頤前下唇稜下陷中。經云。足陽明任脈之會。刺二分。留五呼。灸三壯。主治口眼喎斜。口噤不開。暴喑不能言。偏風半身不遂。刺三分。徐徐引氣而出。一云療偏風口喎面腫。消渴飲水不休。口齒疳蝕生瘡。灸之亦佳。日可七壯。至七七壯止。即血脈宣通。其風應時立愈。艾炷不必大。但令當脈即能愈疾。千金云。小兒唇緊。灸三壯。百症賦云。瀉牙痛而即移。通元賦云。治頭項強。</p>
<p>廉泉（一名本池　一名舌水）在頷下結喉上中央舌本下。仰面取之。經云陰維任脈之會。按刺瘧論所載云。舌下兩脈者。廉泉也。氣府論曰。足少陰舌下各一。衛氣篇曰。足少陰之標。在背腧與舌下兩脈。然則廉泉非一穴。當是舌根下之左右泉脈而且為足少陰之會也。刺三分。留三呼。灸三壯。主治咳嗽喘息。上氣吐沫。舌縱舌下腫難言。舌根縮急不食涎出口瘡。</p>
<p>百證賦云。兼刺中衝穴。堪攻舌下腫痛。</p>
<p>天突（一名玉戶）　在結喉下三寸宛宛中。陰維任脈之會。刺五分。留三呼。灸二壯。低頭取之。主治上氣哮喘。咳嗽喉痹。五噎肺癰。吐咯膿血。咽腫暴喑。身寒熱咽乾。舌下急。不得下食等症。</p>
<p>璇璣　在天突下一寸陷中。仰頭取之。刺三分，灸五壯。主治胸脅滿。咳逆上氣。喘不能言。喉痹咽腫。水飲不下。實症。</p>
<p>會陰（一名屏翳）　在大便前小便後。兩陰之間。任脈別絡。俠督脈衝脈之會。任督沖三脈所起任由此而行腹。督由此而行背。沖由此而行少陰之分。宜灸不宜針。主治陰寒陰中諸病。凡喉風禁針。</p>

<h2>手太陰肺經穴</h2>
<p>手太陰肺經。起於中府。出腋下循臂內行人寸口。至魚際。出大指之端。止於少商。凡十一穴。今錄六穴。</p>
<p>中府（一名膺中俞）　在雲門下一寸。去任脈中行華蓋穴旁橫開六寸。乳上三肋間陷中。動脈應手。仰而取之。手足太陰之會刺三分。留五呼。灸三壯。主治肺急胸滿。涕濁喉痹。氣逆善噎。食不下。肺風面腫。肺膽寒熱。此穴主瀉胸中之熱。其治與缺盆風府多同。</p>
<p>雲門　在中府上直行一寸六分陷中。動脈應手。舉臂取之。刺三分。灸五壯。甲乙經云。刺太深令人逆息。千金云。灸五十壯。主治咽痛喉閉。癭氣傷寒四肢熱不已。咳逆短氣上衝心胸等症。</p>
<p>天府　在臂臑內廉腋下三寸動脈陷中。用鼻尖點墨到處是穴。刺三分。留三呼。禁灸。灸之令人氣逆。主治暴痹內逆肝肺相摶。血溢口鼻。飛屍鬼注。百證賦云。兼合谷可追鼻中衄血。</p>
<p>尺澤　在肘中約紋上。屈肘橫紋筋骨罅中。動脈是也。</p>
<p>手太陰所入為合。肺實瀉之。刺三分。留三呼。灸三壯。甄權云。臂屈伸橫紋之間。筋骨罅中。不宜灸。主治嘔吐上氣。喉痹腹痛。心煩舌乾。及小兒慢驚風。可灸一壯。千金翼云。邪病四肢重痛。諸雜症候。尺澤主之。一名鬼堂。又云。五般肘痛尋尺澤。</p>
<p>魚際　在手大脂本節後內側陷中。散脈中。白肉際。</p>
<p>手太陰所溜為榮。刺二分。留三呼。灸三壯。主治咽喉乾燥。乳癰舌上黃。身熱惡寒酒病。百證賦云。兼腋門能治喉痛。一傳齒痛不能食飲。左患灸左。右患灸右。男三灸。女四灸。</p>
<p>少商　在手大指內側端。去爪甲角如韭葉。白肉宛宛中。手太陰所出為井。刺一分。留三呼五吸。宜用三稜針刺。微出血泄諸臟之熱。不宜灸。主治項腫喉痹。煩心嘔噦。雀目不明。唇乾唾沫。飲食不下。手彎指痛。小兒乳蛾。乾坤生意云。此為十井穴。凡初中風暴卒。昏沉痰涎壅盛。牙關緊閉。水粒不下。急以三稜針刺此穴。及少衝。中衝。關衝。少澤。商陽。使血氣流行。乃起死回生急救之妙穴也。</p>

<h2>手厥陰心包絡經穴</h2>
<p>心包絡經。起自天池。循胸中出脅下。入肘內曲澤下臂行循中指出其端。終於中衝。凡九穴。今錄四穴。</p>
<p>天池（一名天會）　在乳後一寸。腋下三寸。著脅直腋撅肋間氣府。論注曰。在乳後同身寸之二寸。手厥陰足少陽之會。刺三分。灸三壯。主治胸脅煩滿。頭痛寒熱瘧。千金云。治頸漏瘰癧。灸百壯。</p>
<p>天泉（一名天湜）　在曲腋下。去肩臂二寸。舉臂取之。刺六分。灸三壯。一曰刺二分。主治惡風寒胸脅痛。</p>
<p>曲澤　在肘內廉橫交陷中。筋內側動脈。屈肘得之。</p>
<p>手厥陰所入為合。刺三分。留七呼。　灸三壯。主治咽喉疼痛。身熱煩渴。臂肘搖動掣痛不可伸。</p>
<p>中衝　在手中指端。去爪甲如韭葉陷中。手厥陰所出為井。刺一分。留三呼。灸一壯。主治熱病汗不出。頭痛如破。身熱如火。心痛煩滿。舌強痛。神農經云。治小兒夜啼多哭。灸一壯。炷如小麥。百證賦云。兼廉泉堪攻舌下腫痛。一云主治神氣不足。失志。灸三壯。乾坤生意云。此為十井穴。凡中風痰涎壅盛。牙關緊閉。及喉痛藥水不下。急以三稜針刺少商。少衝。並此穴。使血氣流通。乃起死回生之妙訣。</p>

<h2>手少陰心經穴</h2>
<p>手少陰心經。起於極泉。終於少衝。脈起心中。出屬心系下膈絡小腸。其支者。從心系上俠咽系目系。其直者。復從心系卻上肺。下出腋下循臑內後廉。行手太陰肺。心主之後。下肘內循臂內後廉。抵掌後銳骨之端。入掌內後廉。循小指之內出其端。凡九穴。今取二穴。</p>
<p>少衝（一名經始）　在手小指內側端。去爪角如韭葉。手少陰所出為井。刺一分。留一呼。灸一壯。主治熱病煩滿。心火炎上。眼赤血少。嘔吐血沫。口熱咽酸。乍寒乍熱。臑臂內後廉痛。手彎不伸。乾坤生意云。此為十井穴。凡中風跌倒。卒暴昏沉。雙單蛾痹。喉緊不開。以三稜針刺此穴。及少商諸穴。使血氣流通。乃救急之要法也。</p>
<p>通里　在腕側後一寸陷中。　手少陰絡。別走手太陽經。刺三分。灸三壯。主治熱病頭痛目眩。喉痹苦嘔。肘臂腫痛。神農經云。治目眩頭疼。可灸七壯。馬丹陽云。治欲言聲不出實則四支重。頭腮面頰紅。喉閉氣難通。不能飲食。以三稜針微刺出血。不宜灸。</p>

<h2>足陽明胃經穴</h2>
<p>足陽明胃經之脈。起於鼻之交頞中旁。約太陽之脈。下循鼻外。上入齒中。還出俠口環出唇下交承漿。卻循頤後下廉出大迎。循頰車上耳前循髮際至額顱。其支者。從大迎前下人迎。循喉嚨入缺盆下膈屬胃絡脾。其直者。　從缺盆下乳內廉。下挾臍入氣街中。其支者。起於胃下口。循腹裡。下至氣街中。而合以下髀關。抵伏兔下膝臏中。下循脛外廉。下足跗入中指外間。其支者。下廉三寸。而別入中指外間。其支者。別跗上大指間出其端。凡四十五穴。今取八穴。</p>
<p>頭維　在額角入髮際。神庭旁開四寸五分。足少陽陽明之會。刺三分。沒皮向下。禁灸。主治頭風疼痛如破目疼淚出不明。玉龍賦云。兼攢竹能治目痛頭痛。</p>
<p>頰車（一名曲髃一名曲牙）　在耳下曲頰端。近前陷中。側臥開口取之。刺三分。灸三壯。一曰灸七壯。至七七壯。炷如小麥。主治中風牙關不開。失音不語。口眼歪斜。頰腫齒痛。不能嚼物。頸強不得回顧。凡口眼喎斜者。喎則左瀉右補。斜則左瀉右補。靈光賦云。針齒痛。</p>
<p>地倉（一名會准）　夾口吻旁四分外如近下微有動脈。若久患風。其脈亦有不動者。手陽明足陽明任脈陽蹺之會。刺三分。留五呼。灸七壯。病左治右。病右治左。若過大口反喎。卻灸承漿即愈。主治偏風口眼歪斜。牙關不開。齒痛頰腫。靈光賦云。地倉能止口流涎。</p>
<p>缺盆（一名天蓋）　在肩上橫骨陷中。為五臟六腑之通。刺三分。留七呼。灸三壯。刺太深令人逆息。孕婦禁針。主治喉閉汗出瘰癧寒熱。缺盆中腫外潰。傷寒胸中熱不已。</p>
<p>陰市（一名陰鼎）　在膝上三寸。伏兔下陷中。拜而取之。刺三分。留七呼。禁灸主治腰膝寒如注水。痿痹不仁。不得屈伸。寒疝小腹痛滿少氣。千金云。水腫腹大灸。隨年壯。</p>
<p>犢鼻　在膝臏下胻骨上。骨解大筋陷中。形如牛鼻。故名。一曰在膝頭下。近外窟解中。刺六分。灸三壯。一曰刺三分。主治膝痛不仁。難跪起。腳氣。靈光賦云。善治風邪濕。</p>
<p>足三里（即下陵穴）　在膝眼下三寸。胻骨外廉大筋內宛宛中　。坐而豎膝低跗取之。極重按之。則跗上動脈正矣。足陽明所入為合。刺五分。留七呼。灸三壯。千金云。灸二百壯。至五百壯止。一云。小兒忌灸三里。三十外方可灸。不爾反生疾。秋月不宜出血。恐土虛也。主治胃寒心腹脹痛。逆氣上攻。藏氣虛憊。胃氣不足。惡聞食臭。腹痛腸鳴。食不化。大便不通。小腸氣。華陀云。療五勞七傷。羸瘦虛乏瘀血乳癰外臺明堂云。人年三十已外。若不灸三里。令氣上衝目使眼無光蓋以三里能下氣也。千金云。凡邪病大呼罵走。三里主之。名鬼邪。太乙歌云。兼束骨刺。治項強腫痛。體重腰癱。又云合太衝中封。治行步艱難。百證賦云。兼陰交。治中邪霍亂。天星秘訣云。兼二間。治牙疼頭痛。並喉痹小便不利等症。</p>
<p>厲兌　在足大指次指之端。去爪甲如韭葉。按本輪篇曰。厲兌者。足大指內次指之端也。經脈經筋等篇。俱雲中指繆刺篇曰。邪客於足陽明之絡。刺足中指次指爪甲上。各一痏。據此諸篇之說。可見中指次指之間。皆陽明脈所發也。足陽明所出為井。刺一分。留一呼。灸一壯。主治面腫喉痹。齒齲惡風。百證賦云。與隱白相偕。治夢魘不寧。</p>

<h2>足太陰脾經穴</h2>
<p>足太陰脾經之脈。起於大指之端。循指內側白肉際過核骨後。上內踝前廉。上腨內循脛骨後交出厥陰之前。上膝股內前廉入腹。屬脾絡胃。上膈俠咽連舌本。散舌下。其支者復從胃別上膈注心中。幾二十一穴。今取四穴。</p>
<p>隱白　在足大指內側端。去爪甲如韭葉。足太陰所出為井。刺一分。留三呼。宜灸三壯。主治中痛嘔吐。食不下及足寒不得溫。婦人月事過時不止。刺之立愈。小兒客忤驚風。</p>
<p>三陰交　在內踝上。除踝三寸。骨下陷中。足三陰之交會。刺三分。留七呼。灸三壯。凡妊婦不可刺。主治脾胃虛弱。心腹脹滿。不思飲食。婦人產難。月水不禁。赤白帶下。宜先瀉後補。凡小腸疝氣。外腎偏墜。小便不通。渾身浮腫。宜先補後瀉。千金云。內踝上三寸絕骨宛宛中。灸五十壯。主咳逆虛勞。筋骨攣痛。喉痹項頸滿。腸痔逆氣痔血陰急等症。又云男女夢與人交泄精。三陰交灸五壯。夢泄神良。昔有宋太子善醫術。出逢一妊婦。太子診之曰是一女也。徐文伯亦診曰。此一男一女也。太子性急欲剖視之。文伯曰。臣能針而落之。為瀉三陰交。補手陽明合谷。應針而落。果如文伯之言。故妊娠不可刺此穴。且能落死胎也。</p>
<p>陰陵泉　在膝下內輔骨下陷中。伸足取之。或曲膝取之。與少陽經陽陵泉內外相對。一曰稍高一寸。足太陰所入為合。刺五分。留七呼。灸三壯。主治腹中寒痛。脹滿喘逆。不得臥。小便不通。陰痛。足膝紅腫。通元賦云。能開通水道。喉痹胸滿。</p>
<p>血海（一名百蟲窠）　在膝臏上一寸。內廉白肉際陷中。一云在膝內輔骨上橫入五分。刺五分。灸五壯。主治腎臟風兩腿瘡癢濕不可當。婦人月事不調帶下。先補後瀉。百證賦云。兼地機。治婦人經事之改常又云兼衝門治痃癖有驗。靈光賦云。兼氣海療五淋症。</p>

<h2>側面氣針要穴圖（佚）</h2>

<h2>背面氣針要穴圖（佚）</h2>

<h2>督脈穴</h2>
<p>督脈起於少腹以下骨中央。女子入系廷孔其孔溺孔之端也。其絡循陰器合篡間繞篡後。別繞臀至少陰。與巨陽中絡者。合少陰上股內後廉貫脊。屬腎。與太陽起於目內眥。上額交顛上。入絡腦還出別下項。循肩膊內俠脊抵腰中。入循膂絡腎。其男子循莖下至篡。與女子等。其少腹直上者貫臍中央。上貫心入喉上頤。環唇上系兩目下中央。按督脈始於長強。循行背中。上脊至風府。入屬於腦。終於齦交。凡二十八穴。今取十三穴。</p>
<p>長強（一名氣之陰郄一名橛骨靈樞謂之窮骨亦名骨骶）　在脊骶骨端。伏地取之。督脈之絡。別走任脈足少陰所結。刺二分。留七呼。灸三壯。主治腰脊強急。不可俯仰。腸風下血。五痔五淋。下部疳蝕。小兒囟陷。驚癇瘛瘲。脫肛瀉血。此穴為五痔之本。玉龍賦云。兼承山灸痔最妙。一經驗。治少年注夏嬴瘦灸此最妙。</p>
<p>瘂門（一名喑門一名舌厭　一名舌橫）　在項後入髮際五分宛宛中。仰頭取之。督脈陽維之會入系舌本。刺二分。不可深。禁灸。灸之令人啞。主治頸項強急不語。諸陽熱盛。衄血不止。百證賦云。兼關衝。治舌緩不語為緊要。</p>
<p>風府（一名舌本）　在項上入髮際一寸。大筋內宛宛中。疾言其肉立起休言。其肉立下。督脈陽維之會。熱論曰。巨陽者。諸陽之屬也。其脈連於風府。刺三分。留三呼。禁灸。灸則令人喑。主治中風舌緩。咽喉腫痛。傷風頭痛。項急不得回顧。狂走悲恐。驚悸欲自殺。一云主瀉胸中之熱。與大杼缺盆中府同。席宏賦云。風府風池尋得到。傷寒百病一時消。又云。從來風府最難尋。須用功夫度淺深。倘若膀胱氣未散。更宜三里穴中尋。通元賦云。風傷項急求風府。一傳治感冒風寒嘔吐不止。</p>
<p>腦戶（一名迎風一名會額一名合顱）　在枕骨上強間後一寸五分。一曰在髮際上二寸。督脈足太陽之會。禁刺灸。刺中腦戶令立死。亦不可灸。灸之令人喑。（此不在十三穴之數）</p>
<p>強間（一名大羽）　在後頂後一寸五分。刺二分。灸五壯。一曰禁灸。主治頭痛項強。目眩腦旋。煩心嘔吐涎沫。百證賦云。兼豐隆。治頭痛難禁。</p>
<p>後頂（一名交沖）　在百會後一寸五分。枕骨上刺二分灸五壯。主治頸項強急。咽喉疼痛。惡風目眩。</p>
<p>百會（一名三陽五會一名巔上一名天滿）　在前頂後一寸五分。頭中央旋毛心容豆許。直兩耳間上對是穴。督脈足太陽之會。手足少陽足厥陰俱會於此。刺二分。灸五壯。甲乙經曰。刺三分。灸三壯。一曰灸頭項不得過七七壯。主治頭風頭痛耳聾鼻塞鼻衄。中風口噤不開。或多悲哭。小兒風癇驚風。脫肛久不瘥。一曰百病皆治。宜刺此二分。得氣即瀉。席宏賦云。兼太衝照海陰交。治咽喉疾。</p>
<p>前頂　在囟會後一寸五分骨陷中。一云在百會前一寸。刺二分。灸五壯。主治頭風目眩。面赤腫。小兒驚癇。鼻多清涕。頸項腫痛。咽喉諸症。神農經云。治小兒急慢驚風。可灸三壯。艾炷如小麥。</p>
<p>囟會　在上星後一寸陷中。刺二分。灸五壯。小兒八歲以前禁針。蓋其囟門未合。刺之不幸令人夭。主治腦虛冷痛。頭風腫痛項痛飲酒過多。頭皮腫。風癇清涕。一云治目眩面腫。鼻塞不聞香臭。可灸二七壯。初灸即不痛。病去即痛。痛即罷灸。若是鼻塞。灸至四日漸退。七日頓愈。針入二分。留三呼。得氣即瀉。凡頭風生白屑多睡。針之彌佳。針訖。以末鹽生麻油相和揩髮根下。即頭風永除。</p>
<p>上星（一名神堂）　在鼻直上入髮際一寸陷中。可容豆。刺三分。留六呼。灸五壯。一云宜三稜針出血。以瀉諸陽之熱氣。主治頭風頭痛。鼻血鼻涕鼻塞。目眩不能還視晴痛。以三稜針刺。即宣泄諸陽熱氣。無令上衝頭目。玉龍賦云。治鼻淵頭風。</p>
<p>神庭　直鼻上入髮際五分。發高者髮際是穴。發低者加二三分。督脈足太陽陽明之會。灸三壯。禁刺。刺之令人癲狂面腫目失明。一曰灸七壯。至三七壯。主治頭風目淚諸症。凡喉風切禁針灸。</p>
<p>素髎（一名面王）　在鼻端準頭。刺一分。禁灸。主治鼻中瘜肉不消。多涕。一曰治酒酢風。用三稜針出血效。</p>
<p>水溝（一名人中）　在鼻下人中陷中。督脈手足陽明之會。刺三分。留六呼。得氣即瀉。灸三壯。炷如小麥。然灸不及針。主治中風口噤。牙關不開。卒中邪惡鬼擊。不省人事。神農經云。治小兒急慢驚風。灸三壯。炷如小麥。</p>
<p>齦交（齒根肉）　在唇肉上齒縫中。任督二經之會。刺三分。逆刺之。灸三壯。主治面赤心煩痛。鼻生瘜肉不消。目淚多眵赤痛。牙疳腫痛。小兒面瘡久癬不除點烙亦佳。百證賦云。專治鼻痔。</p>

<h2>手陽明大腸經穴</h2>
<p>手陽明大腸之脈。起於大指次指之端。循指上廉出合谷兩骨間。上入兩筋之中。循臂上廉。入肘外廉上臑外前廉。上肩出髃骨之前廉上。出於拄骨之上會下入缺盆。絡肺下膈屬大腸。其支者。從缺盆上頸貫頰入下齒中。還出俠口交人中。左之右。右之左。上俠鼻孔終於迎香。凡二十穴。今取七穴。</p>
<p>商陽（一名絕陽）　在手食指內側。去爪甲角如韭葉。手陽明所出為井。刺一分。留一呼。灸三壯。主治胸中氣滿喘咳。口乾頤腫。齒痛目盲。乾坤生意云。此為十井穴。凡初中風跌倒卒暴沉昏。牙關緊閉。咽喉腫痛。藥水不下。急以三稜針刺此穴。及少商中衝少衝。使血氣流通。乃急救回生之妙訣。</p>
<p>合谷（一名虎口）　在大指次指岐骨間陷中。　手陽明所過為原。刺三分留六呼。灸三壯。主治頭痛脊強。面腫目翳。發熱惡寒。口噤不開。喉閉乳蛾等症。一云能下死胎。婦人妊娠補合谷即墮胎。千金云產後脈絕不還。刺合谷。入三分急補之。百證賦云。兼天府。治鼻衄。馬丹陽天星十二穴云療頭痛並面腫。齒齲鼻衄血。口噤不開言。針入五分深。能令病自安。</p>
<p>陽谿（一名中魁）　在手腕中上側兩筋間陷中。　手陽明所行為經。刺三分。留七呼。灸三壯。主治狂言喜笑見鬼。熱病煩心喉閉。耳鳴齒痛。　目赤爛翳。　寒熱痰瘧。席宏賦云。兼二間。治牙痛喉痹。</p>
<p>手三里　在曲池下二寸。兌肉之端。按之肉起。刺三分。灸三壯。主治齒痛煩腫。瘰癧手痹不仁。</p>
<p>曲池　在肘外輔骨屈肘曲骨之中。以手拱胸取之。手陽明所入為合。刺七分。留七呼。灸三壯。一云百壯。主治手臂紅腫肘中痛　偏風半身不遂。皮膚乾燥痂疥。婦人經脈不通。馬丹陽天星十二穴云。善治肘中痛。偏風手不收。挽弓開不得。舉臂莫梳頭。喉痹促欲死。發熱更無休。遍身風癬癩。針著即時瘳。席宏賦云。兼合谷。治手不如意。</p>
<p>五里　在肘上三寸行向里大脈中央。一云在天府下五寸。禁刺。灸三壯。一曰十壯。主治肘臂疼痛難動寒熱瘰癧。</p>
<p>巨骨　在肩尖上行兩乂骨間陷中。　手陽明陽蹺之會。刺六分。灸三壯五壯。一曰禁刺。主治驚癇吐血胸中。有瘀血。臂痛不得伸屈。</p>

<h2>手太陽小腸經穴</h2>
<p>手太陽小腸之脈起於小指之端。循手外側上腕出踝中。直上循臂骨下廉出肘內側。兩骨之間。上循臑外後廉。出肩解繞肩胛交肩上入缺盆。絡心。循咽下膈抵胃。屬小腸。其支者。從缺盆循頸上頰至目銳眥。卻入耳中。其支者。別頰上䪼抵鼻至內眥。斜絡於顴。凡十有九穴。今取三穴。</p>
<p>少澤（一名小吉）　在手小指外側端。去爪甲角一分陷中。甲乙經曰。在小指之端去爪甲一分陷中。手太陽所出為井。刺一分。留二呼。灸一壯。主治痎瘧寒熱汗不出喉痹舌強。心煩咳嗽。頸項痛不可顧目生翳。乾坤生意云。此為十井穴。凡初中風痰涎壅盛。咽喉閉塞。急以三稜針刺少商商陽中衝少衝及此穴。使血氣流通。乃起死回生急救之妙穴。</p>
<p>後谿　在手小指本節後外側橫紋尖上陷中。仰手握拳取之。一云在手腕前外側拳尖起骨下陷中。手太陽所注為腧。刺一分。留二呼。灸一壯。主治痎瘧寒熱目翳鼻衄耳聾胸滿。項強等症。捷法云。療頭項強痛。腮頰紅腫。咽喉塞閉。水飲不下。心肺二經熱病。雙蛾喉痛。肺與三焦熱病。單蛾咽腫。上下牙兩頰疼痛。牙關緊急不開。頸項紅腫。腎虛頭痛。肝厥頭暈。並醉後頭風。</p>
<p>少海　在肘內大骨外去肘端五分陷中。屈手向頭取之。手太陽所入為合。刺二分。留七呼。灸五壯。主治肘臂肩臑頸項痛。咽喉牙齦疼痛。</p>

<h2>足少陽膽經穴</h2>
<p>足少陽膽經之脈。起於目銳眥。上抵頭角下耳後循頸行手少陽之前至肩上。卻交出手少陽之後，入缺盆。其支者。從其後入耳中。出走耳前至目銳眥後。其支者。別從銳眥下大迎合手少陽抵於䪼。下加頰車下頸合缺盆。以下胸中貫膈絡肝屬膽。循脅裡出氣街繞毛際橫入髀厭中。其直者。從缺盆下腋。循胸過季脅。下合髀厭中以下。循髀陽出膝外廉。下外輔骨之前直下抵絕骨之端。下出外踝之前循足跗上入小指次指之間其支者。別跗上入大指之間。循大指岐骨內出其端。還貫爪甲出三毛。凡四十三穴。今取九穴。</p>
<p>瞳子髎（一名太陽一名前關）　在目外去眥五分。手太陽手足少陽三脈之會。刺三分。灸三壯。主治頭痛目癢。外眥赤痛。翳膜青盲。遠視𥆨𥆨。淚出多眵。一云兼外澤。能治婦人乳腫。</p>
<p>聽會（一名聽河一名後關）　在耳前陷中。一云耳珠下開口有空。側臥張口取之。刺四分。灸三壯。主治耳聾耳鳴牙車脫臼。齒痛中風瘛瘲喎斜。玉龍賦云治耳聾腮腫。</p>
<p>完骨　在耳後入髮際四分。足太陽少陽之會。刺三分。留七呼。灸三壯。主治頭痛風。耳鳴齒⿰齒舀。牙車急。口眼喎斜喉痹頰腫。癭疾便赤。足痿不收。</p>
<p>陽白　在眉上一寸。直瞳子。甲乙經曰。足少陽陽維之會。氣府論王氏注曰。足陽明陰維之會。刺二分。灸三壯。主治頭痛目昏。背寒慄。重衣不得溫。</p>
<p>臨泣　在目上直入髮際五分陷中。正睛取之。足太陽少陽陽維三脈之會。刺三分。留七呼。灸三壯。一曰禁灸。主治鼻塞目眩生翳。驚癇反視。脅下痛。瘧疾夕發。</p>
<p>正營　在目窗後一寸。足少陽陽維之會。刺三分。</p>
<p>灸三壯。主治頭痛目眩。齒⿰齒舀痛唇吻強急。</p>
<p>承靈　在正營後一寸五分。足少陽陽維之會。刺三分。灸五壯。一曰禁針。主治腦風頭痛。惡風鼻窒不通。</p>
<p>腦空（一名顳顬）在承靈後一寸五分。夾玉枕骨下陷中　。氣府論王氏注曰。夾枕骨後枕骨上。足少陽陽維之會。刺四分。灸五壯。主治勞瘵身熱羸瘦。腦風痛。頸痛不可忍。鼻衄耳聾等症。</p>
<p>風池　在耳後顳顬後腦空下發際陷中。按之引耳。一云耳後陷中。後髮際大筋外廉。足少陽陽維之會。刺四分。灸三壯七壯。艾炷不用大。主治中風偏正頭痛。　目眩赤痛淚出。牙關緊喉嚨疼痛。湯水不能入。</p>
<p>肩井（一名膊肩）　在肩上陷解中缺盆上大骨前一寸半。以三指按取之。當中指下陷者中。手足少陽陽明陽維之會。刺五分。灸三壯。孕婦禁針。一曰此足陽明之會。連五臟氣。若刺深令人悶倒。速補三里。凡針肩井者。皆以三里下其氣。一曰此臟氣所聚之處。不宜補。</p>
<p>主治中風氣塞。涎上不語。頭項頸痛。臂不能舉。或因撲傷腰痛。腳氣上攻。若婦人難產墜胎後，手足厥逆。針之立愈。若灸更勝。</p>
<p>千金云。凡產難針兩肩井一寸瀉之。須臾即生矣。百證賦云。治乳癰極效。</p>
<p>陽陵泉　在膝下一寸外廉陷中。尖骨前筋骨間。蹲坐取之。主治偏風半身不遂。足膝冷痹不仁。無血色。腳氣筋攣。增治法云。治筋軟筋縮疼。寒熱頭痛。口舌咽喉及頭面腫。胸脅脹滿。心中怵惕。此為筋會。故治筋病。</p>
<p>足臨泣　在足小指次指本節後間陷中。去夾溪一寸五分。足少陽所注為腧。刺二分。留五呼。灸三壯。主治胸滿氣喘。目眩心痛。季脅支滿。乳癰。婦人經水不利。千金云。頸漏腋下馬刀。灸百壯。</p>
<p>竅陰　在足小指次指端。去爪甲如韭葉。足少陽所出為井。刺一分。留三呼。灸三壯。主治脅痛咳逆不得息。手足煩熱汗不出。癰疽口乾頭痛。喉痹舌強。耳聾轉筋肘不能舉。</p>

<h2>足少陰腎經穴</h2>
<p>足少陰腎經之脈。起於足小指之下斜趨足心之湧泉穴。出於然谷之下。循內踝之後。別入跟中。以上腨內出膕內廉上股內後廉。貫脊屬腎。絡膀胱。其直者。從腎上貫肝膈。入肺中循喉嚨俠舌本。其支者。從肺出絡心注胸中。凡二十七穴。今取三穴。</p>
<p>湧泉（一名地衝）　在足心陷中。屈足卷指宛宛中。足少陰所出為井。刺三分。留三呼。灸三壯。主治喘咳有血。心中結熱。目眩頸痛。身熱喉痹。足脛寒痛。轉筋熱厥。五指盡痛。足不踐地。</p>
<p>然谷（一名龍澗一名然骨）　在足內踝前。起大骨下陷者中。足少陰所溜為榮。刺二分。留三呼。灸三壯。一曰刺不宜見血。主治喘呼煩滿咳血。喉痹消渴。舌縱心恐少氣涎出。小腹脹。婦人陰挺出。月經不調。初生小兒臍風撮口此穴主瀉腎臟之熱若治傷寒。亦宜出血白證賦云。此穴易醒臍風。</p>
<p>照海　在足踝內下一寸陷中容爪甲。一云在內踝下四分。微前高骨陷中。前後有筋上有踝骨。下有軟骨。其穴居中。神農經云。在內踝直下白肉際是穴。陰蹺所生。刺四分。留六呼。灸三壯。一曰刺三分。灸七壯。主治咽乾嘔吐。腹中氣痛。攔江賦云。治噤口喉風。用三稜針出血即安。席宏賦云。兼百會太衝陰交。治咽喉疾。</p>

<h2>足太陽膀胱經穴</h2>
<p>足太陽膀胱之脈。起於目內眥。上額交顛。其直者。從顛入絡腦還出別下項。循肩膊內俠脊抵腰中。入循膂絡腎屬膀胱其直者。從腰中下俠脊貫臀入膕中。其直者。從膊內左右別下貫胛俠脊內過髀樞循髀外從後廉下合膕中以下貫腨內。出外踝之後。循京骨至小指外側。終於至陰。凡六十三穴。今取五穴。</p>
<p>睛明（一名淚乳）　在目內眥外一分宛宛中。氣府論注曰。手足太陽足陽明陰陽蹺五脈之會。刺一分。留六呼。灸三壯。甲乙經曰。刺六分。一曰禁灸。主治目痛視不明。見風淚出。胬肉攀睛。白翳眥癢疳眼頭痛目眩。凡治雀目者。可久留針。然後速出之。席宏賦云治目若未效。併合谷光明不可缺。靈光賦云。治胬肉。</p>
<p>攢竹（一名始先一名員柱一名夜光一名光明）　在眉頭陷者中刺一分。留六呼不宜灸。甲乙經云。灸三壯。明堂用細三稜針刺之。宣泄熱氣。眼目大明刺三分。出血。主治目視𥆨𥆨淚出。目眩瞳子癢。眼中赤痛。及腮臉瞤動不臥。玉龍賦云。兼頭維。治目疼頭痛。</p>
<p>通天（一名天歸）　在承光後一寸五分。一曰橫直百會旁一寸五分。刺三分。留七呼。灸三壯。主治頭旋項痛不能轉側。鼻塞偏風口喎衄血。頭重耳鳴青盲內障。</p>
<p>大杼　在項後第一椎下兩旁。相去脊中各二寸陷中。正坐取之。海論曰衝脈者。其輸上在於大杼。氣穴論曰。督脈別絡手足太陽三脈之會。刺三分。留七呼灸五壯。一曰禁灸。非有大急不可灸也。主治傷寒汗不出。腰脊項背強痛不得臥。喉痹煩滿。頭痛咳嗽。膝痛不可伸屈。</p>
<p>至陰　在足小指外側。去爪甲角如韭葉。足太陽所出為井。刺一分。留五呼。灸三壯五壯。主治風寒頭重。鼻塞目痛生翳。胸脅痛。轉筋心煩。足下熱。小便不利。失精。席宏賦云。專治腳膝腫。百證賦云。兼屏翳。治遍身癢痛之疾。張仲文。治婦人橫產手先出。諸符藥不效。為灸右腳小指尖三壯。炷如小麥。下火立產。</p>
