<header data-type="book">
<h1>中西匯參銅人圖說</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉鍾衡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1899">公元1899年</data></dd></div>
<div><dt>底本</dt><dd>*《中西匯參銅人圖說》，版本不詳。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫之為道，古今異轍，中西殊途，聚訟紛紜，莫衷一是。衡自束髮受書，課暇輒涉獵醫門方論。適先慈中風，舉家倉皇，爰對症投方，幸保無恙。越年延師就學，拾授門徑。每閱《靈》、《素》，《內經》所論三焦膻中，語多騎牆，如肝居於左，左脅屬肝，以脈之相應，定位之左右，尤屬臆斷。旦夕思之，醫不溯臟腑之原，探陰陽之本，焉能造於精要？漢唐以來，代有傳人，若薛立齋、李士材、張景岳、趙獻可、張石頑諸家著書林立，非不足資博覽廣見聞，而理不本於《內經》，法未熟乎仲景，即等而上之，金元劉、李、朱、張，要亦各守師說，而拘於一偏，於臟腑功用、經絡部位皆語焉弗詳。因取《內經》及世所流傳繪圖銅人，證諸往年從事戎馬見所殺逆賊驗其形狀者，大相徑庭，心竊悵焉。尋遊辰州，得《銅人真像秘冊》，並王清任先生《醫林改錯》一書，以獨見之智，力闢古人之非，驚喜交集，半生疑竇，一旦豁然。然尚恐有不實不盡之處，逮甲申來滬，又購得西書數種，有《全體新論》，詳繪骨肉臟腑，半與前書吻合。西醫所謂腦氣筋與聰明出於腦之說，若合符節。自此益以考校為念。適於臺灣、上海兩充官醫，偕發多互相討論。歷覽泰西醫院圖說，與西國臘人形象，知西醫於骨肉臟腑，逐層剖驗，形真體晰。中華向無此條，奧⿱穴文鮮通，千載而後，闡發余蘊，實王先生《改錯》一書為之嚆矢也。爰照舊冊，參以西法，圖繪臟腑，注其節略，以明其體。宗前賢手足六陰六陽，圖繪經絡部位，綴以歌訣，以標其用，合訂成冊，顏曰《中西匯參銅人圖說》。友人見而題之，慫恿付梓，以公同好。衡竊惟醫之為道，識愈精則用愈神。區區一得，即出而問世，恐見之者之盟噱不一而足，適足使我頳顏也。世有窮源竟委之儒，鈞深索隱之彥，其策衡以所不及，而衡得謬附醫者之後，則快慰益無既極矣。</p>
<p><u>湘鄉劉鍾衡自序於上海江南機器製造總局</u></p>

<h1>例言</h1>
<p>一是書臟腑合圖，取其部位連屬，令人一目瞭然，不拘互相表裡之義也。</p>
<p>一是書臟腑或分圖，或合圖，悉依西醫為體，證諸中醫。不特形體各別，尤且部位相殊，惟氣化功用，則合參中外醫說，間引《內經》以衡是非。蓋人身之知覺運動，有非剖驗所能明者，西人詳於形跡，不免略於功用也。</p>
<p>一中醫五臟外添膻中一條。按：膻中即中醫所謂心包絡，西醫所謂心處胸中，左右有肺，周圍夾膜裹之。夾膜，即膻中心包絡也，毋庸贅圖。</p>
<p>一西醫五臟外添甜肉經一條，但言其形，莫詳所用，疑為膽之將。伯云云：按稼穡作甘，甜肉屬脾，可無疑義。</p>
<p>兩腎繫腰脊左右，為左內腎、右內腎，均屬水。中醫舊說兩立其名，析為陽水、陰水者，非也。兩腎中間有穴，名曰命門，為相火所司，乃人身立命之根本，屬三焦油膜發源之所。故《經》曰：腎與三焦通，腎病宜調和三焦，三焦病宜補腎為主也。由命門髮油膜一條貫於脊骨，蓋腰為腎系所貫，脊為髓筋所通，腎精足則入脊化髓，上循入腦而為腦髓，髓足則精氣能供五臟六腑之驅使，故知覺運動，無不捷應，是髓能為各臟用，非髓能使各臟也。中醫王清任著《醫林改錯》，謂心為出入氣之道路，凡靈機記性，不在心而在腦。西醫謂腦為君，腦筋衣為臣，臣知之即達於君，故腦能識萬象之變動，而心只運血之一物。衡按：李時珍曰：腦為元神之腑。金正希曰：人之記性皆在腦中。汪訒庵曰：今人每記憶往事，必閉目上瞪而思索之。國朝齊次風侍郎召南，天台人，幼稱神童，記問絕倫。夏自圓明園歸，墜馬觸巨石破腦，純皇帝命蒙古醫以牛腦易髓而愈。然自腦裂後，從前學問，即不能省記。記性在腦，誠有如上清任所云者，若謂知覺運動，均在腦而不在心。何以人遇拂逆事，則心忽惄焉如搗，而腦自若也；人遇驚險事，則心即跳動不休，而腦如故也。凡人破一皮拔一毛，只與心關痛養，而腦不關痛養也。《內經》云：腎生髓，髓者腎精所生，髓筋由腦入心，以水濟火，真精內含，斯真光外發。腎與心原互為功用，西人以腎司溺而不司精，詳言髓而不及溯源於腎，故力詆中醫五臟所藏，皆為子虛之論也。</p>
<p>一三焦即指人身脂膜，分上中下而三之，為水道所由出。前賢謂：上焦如霧，中焦如漚，下焦如瀆。又曰：粗理薄皮者三焦薄，密理厚皮者三焦厚；勇士者三焦理橫，怯士者三焦理縱。紛紛立說，終鮮指歸。惟陳無擇以臍下脂膜為三焦，雖一語道破，惜未能條分縷晰，似視三焦為一物，且所謂臍下者，猶僅下焦一處耳。蓋臟之為言，心肝脾肺腎也，皆有形也。腑之為言，膽胃膀胱大小腸三焦也，膽胃膀胱大小腸，皆有形也。皆有實義可指，而三焦則或謂有形，或謂無形。謂有形者不能指其形之何若，雖方書渾論三焦病情，亦未明言三焦何物。王叔和《脈訣歌》云：三焦無狀空有名，寄在胸中膈相應。然則俗所謂板油、網油、雞冠油者，在臟腑竟無一語及之，豈此等物為臟腑之具文歟。西醫剖胸刳腹，考驗較詳，雖無三焦之名，而各經所稱夾膜肥網者，即中醫所謂三焦之物也，義詳脾胃合圖說。</p>
<p>一肝在右脅膈膜之下，前賢以為居左；肺只五葉，誤為六葉；肝只兩葉，誤為七葉。今悉正之。</p>
<p>一舊說膀胱有下口、無上口，飲入之水，全憑氣化以出。又謂水入小腸，至闌門飛渡膀胱，無入溺之路，故曰氣化。王清任深譏其謬。西醫謂腸胃有微絲血管，過肝入心，使之運行周身，由肺升出為汽，由皮膚滲出為汗，余入內腎為溺。膀胱上口斜接左右兩腎溺管。按：溺管，屬形象可見者，西醫剖析較確。微絲血管，即《內經》所謂三焦，為水道所出也。況《內經》明言下焦當膀胱上口，古聖未可厚非，膀胱無上口，特出於唐以下疏漏之見也。</p>

<h1>附錄王清任先生臟腑辨</h1>
<p>古人論脾，謂脾屬土，土主靜而不宜動，脾動則不安。既云脾動不安，又言脾聞聲則動，動則磨胃化食，脾不動，則食不化。此論脾之自相矛盾也。</p>
<p>古人論肺，如蜂窩，下無透竅，吸之則滿，呼之則虛。既云下無透竅，又言肺中有二十四孔，行列分布，以行諸臟之氣。此論肺之自相矛盾也。</p>
<p>古人論腎，有兩枚，即腰子，兩腎為腎，中間動氣為命門。既雲中間動氣動為命門，又言左腎為腎，右腎為命門，兩腎一體，如何兩立其名，若以中間動氣為命門，藏動氣者又何物。此論腎之自相矛盾也。</p>
<p>古人論肝，左右有兩經，即血管，從兩脅肋起，上貫頭目，下由少腹環繞陰器，至足大趾而止。既云肝左右有兩經，又云肝居於左，左脅屬肝。此論肝分左右之自相矛盾也。</p>
<p>古人論胃，主腐熟水穀，又曰脾動磨胃化食，胃之上口名曰賁門，飲食精氣從賁門上輸於脾肺，宣播於諸脈。此段議論，無情無理。胃下口名幽門，即小腸上口。其論小腸，為受盛之官，化物出焉。言飲食入小腸，化糞下至闌門，即小腸下口。分別清濁，糞歸大腸自肛門出，水歸膀胱為尿。是尿從糞中滲出，其氣當臭，嘗用童便，並問及飲便之人，只言味鹹氣臊，不聞氣臭，且食與水合化為糞，糞必稀溏作瀉。小腸化食，水自闌門出一節，尤屬奇談。</p>
<p>古人論心包絡，細筋如絲，與心肺相連者，心包絡也。又云心外黃脂是心包絡。又云心下橫膜之上，豎膜之下，黃脂是心包絡。又云膻中有名無形者，乃心包絡也。既云有名無形，又云手中指之經，乃手厥陰心包絡之經也。究竟心包絡是何物，何能有如許之多耶。</p>
<p>古人論三焦者，如《靈樞》曰：手少陰三焦主乎上，足太陽三焦主乎下，已是兩三焦矣。《難經·三十一難》：上焦在胃之上，主內而不出；中焦在胃中脘，主腐熟水穀；下焦在臍下，主分別清濁。又云：三焦者，水穀之道路。此論三焦為有形之物。又云：兩腎動氣，是三焦之本，此論三焦為無形之氣。在《難經》一有形，一無形，又是兩三焦。王叔和所謂有名無狀之三焦者，蓋由此也。至陳無擇以臍下脂膜為三焦；袁淳甫以人身著內一層，形色最赤者為三焦；虞天民指空控子為三焦；金一龍有前三焦後三焦之論。論三焦者，不可以指屈，有形無形，尚無定論。何得雲手無名指之經，為手少陽三焦之經耶（先生《醫林改錯》一書，雖未盡合，而所辨臟腑各節，足為千載以誤傳誤者當頭一棒，故錄之）。</p>

<h1>心肺合圖說</h1>
<p>《經》曰：心者，君主之官，神明出焉。人身知覺運動，無一不本於心，故百體皆臣，而心其君也。位據胸中，左右有肺。周圍夾膜裹之，名曰心包絡，相心布令，故為臣使之官；居於膻膈之中，故又名膻中。心色赤而鮮，下尖上闊，外體圓滑，內空如囊，當中有直肉隔之，故稱為左房右房；左右半截之間，有橫肉間之，故有上房下房之號；四房大小相若，均有血管與肺相通。《難經》謂心主血，肺主氣，血為榮，氣為衛，相隨上下，榮周於外。蓋心肺相關，肺內受病，氣管壅塞，心血即窒礙不行；若心房受病，肺經即呼吸喘急，如哮喘之症是也。《經》曰：肺者，相傅之官，治節出焉。因其左右夾輔心君，主行榮衛而存過化之神者也。位居諸臟之上，體窩向內，中央有心管（血脈總管，回血總管。）隔之；質輕而鬆，周圍有夾膜裹之；狀若懸磬，系以氣喉，色如縞映紅，錯離相間。葉右三左二，披離下垂，後面豐圓，黏附背骨，前邊利薄，逼近胸堂（並左右兩肋），頂尖而圓，略出首肋之上，底窩而闊，貼承膈膜之皮。右肺大於左，因心尖向左微占其位，左肺長於右，緣肝體居右稍高於脾故也。大概胸堂闊者，其肺必大。凡呼吸之時，胸肋舒張，膈膜鼓動，諸臟相隨以應之，膜沫濡潤以助之。剖割肺體，見有痰沫在內，拭去痰沫，便見管竅甚多，即《難經》所謂二十四孔也。凡入氣喉（徑開五分許）。自吸門以下，脆骨共十五節至二十節不等，前圓如玦，每節有韌膜相連，後平而韌，因與食喉逼近，長四寸許，分歧為二（在背骨第三節之前），名曰氣管。左管約三寸許，斜入左肺里窩之上（肺頂下二寸許），右管略闊而短，約一寸許，橫入右肺之內。由是大管小管，漸分漸多，愈多愈微，密行兩肺之內。形如氣喉，節節有環，以微鏡顯之，見每管之末，皆有一圓薄氣泡。大小氣管，另有兩枝相附而行，一為赤血支，緣其中皆生氣也；一為紫血支，緣其中有炭氣也（即中醫所謂濁氣）。炭氣者，乃身體無用之物，雜化為氣，與養氣相合，其性有毒，與炭同類，故曰炭氣。凡人一呼一吸，合為一息。呼者吐炭氣也，吸者接生氣也。生氣入血則赤，炭氣入血則紫。生氣能養人，炭氣能殺人。故紫血必須入肺，運至氣泡之上泄。炭氣於泡內，氣管即遞而出之，是為一呼；炭氣既出，復遞生氣，以入直抵泡內，血隨攝之，是為一吸。呼吸不疾不徐，氣始舒暢，故屏息少頃，即怫鬱不安，必長噓乃定。蓋赤血運行，必變紫血，紫血必須入肺以吐炭氣，炭氣不出，眾血受病。抑凡有乳者必有肺，有肺者必與水氣不合，如鯨鯢江豚之屬，不能久潛潭淵，片刻之間，須出水面以接生氣，蓋地上眾生有血者，吸養氣而吐炭氣。若草木之類，藉日暄而生者，則攝炭氣而吐養氣。西國博物之士，考較殊詳（合圖見手太陰肺經）。</p>

<h1>脾胃合圖說（附三焦）</h1>
<p>《經》云：脾胃者，倉廩之官，五味出焉。脾形如豎掌，居胃之左，在第九至十一肋骨之內，上半有膈肉蓋之，外邊豐圓向脅，內邊深窩向胃，窩中有稍壯發脈管入之，其內有回血管，由胃後入肝，此管壅滯，即有血水泄於下，發為鼓脹。各臟腑皆以官名，惟脾胃合名一官，蓋胃主納穀，脾主消穀，二者相須成功，故統稱倉廩之官。五味出焉者，五穀備具五味，一入胃中，即化為汁液，從脾之油膜，散走五臟，由脾胃而達諸臟腑營衛也。西醫言脾右胃後，有甜肉一條，長約五寸，形如犬舌，頭大向右，尾小向左，嘗其味甜，故曰甜肉。正中有汁液管斜入小腸上口之傍，與膽管入小腸處同路，所生之汁，如口津水，莫詳其用。予按：脾屬土，稼穡作甘，甜肉即脾所屬，助脾以化食物者也，毋庸另立條目。胃形紓曲如袋，容水三升許，橫居膈下左方，肋骨護其半。頭大向左，賁門上連食管，尾小向右，幽門下屬小腸。其體三層，外層上下，有養血管四支，分布小支密纏於內，因胃接血比他臟尤多；中層之肉，有經緯兩紋斜交，故能舒縮推動以勻轉食物；周圍有小穴以生津液，與百體相關應。胃本無化水之功，亦無出水之路，然茶酒入胃，少選即行攝去者，蓋腸胃有微絲血管甚多。按：微絲血管，即華人三焦之屬也，能吸攝茶水以入回血管，由回血管過肝入心，使之運行周身，由肺升出為汽，由皮膚滲出為汗，余入內腎為溺。按：《內經》言三焦者，決瀆之官，水道出焉。自唐以來，聚訟紛紜，不知三焦為何物。焦字古作膲，即人身之脂膜所以行水也。西醫謂胃之四面，皆有微絲血管，散走膜膈，達於連網油膜之中而下入膀胱，西醫所謂連網，即俗所謂雞冠油並周身之膜皆是也。網油連著膀胱，水因得從網油中滲入膀胱，即古所云三焦者，決瀆之官，水道出焉之義也。三焦之根出於腎，兩腎之間，中有油膜一條，貫於脊骨名曰命門，為相火所司。西醫名為精液總管之處，是為三焦之原。從是處發生板油，連胸前之膈，上循胸中入心包絡，連肺繫上咽，其外出為手背胸前之腠理，是為上焦；從板油連及雞冠油著於小腸，其外出為腰腹之腠理，是為中焦；從板油連及網油，後連大腸，前連膀胱，中為胞室，其外出為臀脛少腹之腠理，是為下焦。人飲之水，由三焦而下膀胱，則決瀆通快；三焦不利，則水道閉，而病為腫脹。《內經》言：上焦不治，水溢高原；中焦不治，水停中脘；下焦不治，水停膀胱，此其明證也。近時唐容川先生於此條辨論甚詳。</p>

<h1>脾胃合圖</h1>
<figure>
<img alt="脾胃合圖">
</figure>

<h1>肝膽合圖說</h1>
<p>《經》曰：肝者，將軍之官，謀慮出焉。肝居膈肉右方（《刺禁》論肝生於左，非也），其色赤，左右兩葉（左小右大，《經》言七葉兩耳，非也），向上圓滿，貼承膈肉，下銳披離，外凸內窩，右靠背而左枕胃，窩內橫隙，透入下部回血合管以生膽汁，另有膽管二枝（左右葉各出一枝，相合為一寸許，復分為二）。一透小腸頭，一透腹囊。切肝一臠，以顯微鏡窺之，有紋如密葉，每葉大如一黍，有回血合管繞之，散布小管於葉內，與本體回血管（此管在葉心。）相通。又有血脈小膽管環之，以養肝體而接膽汁，故肝內分行者有四管焉（生膽汁回血合管、本體回血管、小膽管、血脈管，故曰四管）。凡肝有病，最為要害，或肝體發大，或肝內有熱，以致各管凝滯不通，使下部回血壅脹，即有血水溢滲夾膜之裡，漸漬漸深，終成蠱脹。《經》曰：膽者，中正之官，決斷出焉。系右肝內旁之下，其汁乃下部回血入肝所化，色綠味苦，主榨食物之津液。凡入食後小腸飽滿，腸頭上逼膽囊，使其汁流入小腸之內，以榨化食物而利傳渣滓。西醫謂肝之為用無他，主生膽汁而已，無關謀慮。膽乃肝液之囊，存貯其汁以待用者，無成決斷。近時唐容川先生辨云：人身之陰陽，陰主靜，靜則有守；陽主動，動則有為。肝為厥陰經，乃陰之盡也，故其性堅忍而有守。厥陰中見少陽，陰盡陽生，膽火居於肝中，陰中含陽，陽氣發動，謀慮從此而出，所以心為將軍之官。故肝氣盛者，勇敢有為；肝氣虛者，每存懼怯。以肝膽二者合論，肝之陽從於陰，故主謀；膽之陽出於陰，故主斷。按《內經》云：五臟者，所以存精神血氣魂魄者也；六腑者，所以化水穀而行津液者也。西醫專以腦氣筋論人之質性賢愚，不知五臟皆有靈機，而司知覺運動。《經》言：肝藏魂。魂者陽之精，氣之靈也。氣為陽，血為陰，肝主血而內含陽氣，是之謂魂。究魂之根源，生於坎水之一陽；推魂之功用，發為乾金之元氣，故為將軍之官。肝屬水，主春生之氣，潛發未萌，故曰謀慮出焉。《經》曰：膽氣鬱為怒。諸臟之氣，皆取決於膽，膽汁滿則氣壯，膽汁不足則氣餒，膽秉剛果之氣，故為中正之官，有膽量則有果斷，故曰決斷出焉。</p>

<h1>肝膽合圖</h1>
<figure>
<img alt="肝膽合圖">
</figure>

<h1>腎與膀胱合圖說</h1>
<p>《經》曰：腎者，作強之官，伎巧出焉。有左右兩枚，形與豬腰相彷彿。腎位自背骨十二節至腰骨第三節，大小腸夾膜之後，左右相對。右腎略大，上有肝腸蓋之，左腎略長，上有脾胃蓋之，周圍有肥網包裹。膀胱者，州都之官，津液藏焉。位居兩胯骨盤正中，即前陰交骨之裡。其肉三層，內層牙黃色，軟有皺紋，中層肉理交結，外層即大小腸夾膜。體圓如盤，舒縮自如，無溺則縮，溺至則舒，積溺太多，則漲至臍上。內廣有小孔，斜接溺管，其上口與前陰相連，溺水出焉。西醫謂腎乃溺管、脈管、回管及筋膜豆相疊裹而成。所謂腎系，即溺水、血脈、回血三總管也。溺管直透腎內，成一溺囊，樣如酒漏，囊邊尖角十二，頗類奶頭，每角有小管數十，直展如摺扇之形，每一小管，直長三分許，回曲分行腎邊，其上有微絲血管駕之，其末略闊，與脈管銜接。凡茶水入血，運行遍體，乃由血管導尾液齊入內腎，運行腎里，由管末滲漉以入，滲有未盡，復由微絲管攝入眾溺管，匯流而達溺囊，即出溺水總管，截滴而下，斜入膀胱，故可入而不可返是也。惟以腎為司溺專經，與精經迥不相涉。華人左為正腎，右為命門，男子藏精，女子系胞之所。按《內經》腎開竅於二陰，前陰為膀胱下口，膀胱者，腎之府也，腎主水，化氣化水，化氣上行為液，化水下行為溺，故前陰繫於腎竅。又前陰有精竅與溺竅相附而殊途，溺竅內通於膀胱，精竅內通於胞室，為女子受胎、男子藏精之所，尤為腎之所司。故前陰有病精竅者為癃，有病溺竅者為濁。後陰屬大腸，下口為肛門，亦為腎所統司。腎液充腴，則肛門不結，腎氣能攝，則不脫肛。惟二陰皆屬腎竅，故《經》言腎為胃關，以飲食之質皆從二陰出也。水道由腎，已詳前賢議論，惟西醫以腎司溺而不司精，則徒明其體，未究其用。後世以水由小腸下至闌門，清者為溺入膀胱，濁者為糞入大腸，則兩失之耳。</p>

<h1>腎與膀胱合圖</h1>
<figure>
<img alt="腎與膀胱合圖">
</figure>

<h1>大小腸合圖說</h1>
<p>《經》云：大腸者，傳道之官，化物出焉。分上中下三回（回長尺許），由右胯骨倒行而上，上回與小腸橫接，名曰闌門（其口如唇，渣滓可入而不可出），中回在肝下，橫過胃底，下回至脾下，從左軟脅斜落至肛門為直腸。合較大小兩腸，長於身六倍，上中兩回，猶有精液管及其餘液，遞傳渣滓，至下回則精液竭矣。大腸所以能傳道者，賴肺氣下達，使小腸中物至此精汁盡化，變為糟粕。理大腸者，必須調肺氣也。</p>
<p>《經》曰：小腸者，受盛之官，化物出焉。周迴疊積，長一身有蓰，上口通胃，下口橫接大腸。西醫考小腸百派千支，散布腸後夾膜之間，與膜同色，細微難見。食後少頃，內有精液始見，如白絲然。夾膜有小核甚多，即吸管一旋疊積所成者，一切吸管附近脊處，乃合為一，名曰精液總管（在腰骨第三節）。附脊骨而上，至頸骨第七節，即屈轉而下，左入出手回血會管（會者兩相肉合處），直達於心（所以小腸為心之府）。食物由胃至小腸頭即與膽汁甜肉會合，漸落漸榨（榨者取榨糖、榨油之義），榨出精液，色白如乳，乃凡吸之，初甚稀淡，漸入漸濃，運至會管，即混為血。小兒疳積病，乃吸液管受病，液核凝大，積閉不通，故多食猶瘠。按：小腸上接於胃，凡胃所納之物，皆受盛於小腸。西醫所謂附脊夾膜，即《經》言中焦之下也。小腸通體皆是油膜相連，其油膜中皆有微絲血管，通小腸以化食物，而物所化之精汁，即從膜中出小腸而達各臟，故曰化物出焉。其相通之路，則從油膜中絲管，上膈達包絡以通於心。心移熱於小腸，則化物不出，為痢、為淋。脾陰不足，則中焦不能受盛，病為膈食、便結。三焦相火不足，不能熏化水穀，病為溏瀉。蓋飲主化氣，食主化血。小腸所受盛者，只是食物而已，若水則從胃已散出分走連膜。中國近說以水入小腸，下至闌門，飛渡膀胱，宜為西醫所竊笑，王清任先生嗤為奇談也。</p>

<h1>大小腸合圖</h1>
<figure>
<img alt="大小腸合圖">
</figure>

<h1>脈論</h1>
<p>脈者，醫之關鍵。醫不究脈，則無以辨證。證不明，則無以措指。自《內經》以下，歷周秦漢魏，鮮有知其旨緒者。至晉王叔和，始以醫鳴世，撰有《脈經》，可謂詳切。惜其誤以大小腸候之兩寸，不知經絡雖相表裡，診候目有部位。以至下之臟腑，診至上部位，諄諄辨其妄者，已見古今醫統。惟《內經》以心配膻中，肺配胸中，肝配膽，脾配胃，兩尺外以候腎，內以候腹中大小腸膀胱三腑，理有可據，義亦相通。近代吾湘周夢覺先生，著有《三指禪》一書，二十七脈中，提一緩字為平脈，其餘悉從對待辨出脈象，卓見所及，洵為空前絕後，醫門所奉為津梁者也。西人脈形，計分十種，曰：浮、沉、遲、速、壯、弱、大、小、柔、硬。謂人身血脈發源於心，運行百體而總入於肺。接吸生氣，由肺復返於心，日夜輪流不息，每小時運行四十周，以一日夜二十四小時計之，運行四百八十周。人人皆然。脈至踴動，乃心經發血之力，一發為一至，遍體同時湧應。一脈統驗周身之病則可，某部之脈獨決某經之病，則不可意以五臟六腑。何偏繫於寸許之管。不知中國古人，創立脈法，已先自為問難。《經》曰：十二經中皆有動脈，獨取寸口以決五臟六腑死生之法，何謂也。然寸口者，脈之大會，手太陰之動脈也。人一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸。人一日一夜，凡一萬三千五百息，脈行五十度，周身營衛，行陽二十五度，行陰二十五度，為一周。復會於手太陰寸口者，五臟六腑之所終始，故取法於寸口也。從關至尺，是尺內陰之所至也，從關至魚際，是寸口陽之所治也。上部法天，主胸以上至頭之有疾也；中部法人，主膈以下至臍之有疾也；下部法地，主臍以下至足之有疾也。又曰：上竟上者，胸喉中事；下竟下者，少腹腰股膝脛足中事。蓋兩寸心與肺，既統周身脈管流行貫通，為脈之都會，又分寸為陽，尺為陰。陽外陰內，天地不易之理。凡主表，主上，主氣，屬陽者皆診於寸；主裡，主血，主下，陰者皆診於尺也。</p>

<h1>全體脈管圖</h1>
<figure>
<img alt="全體脈管圖">
</figure>

<h1>周身血脈管圖</h1>
<figure>
<img alt="周身血脈管圖">
</figure>
<p>人身脈管，根生於心，如樹之有枝有干，不論百體內外，一氣流通與回血管並行，眾血由是以相出入。</p>

<h1>周身血脈總管圖</h1>
<figure>
<img alt="周身血脈總管圖">
</figure>
<p>按：血脈管者，運行赤血之管也。其徑常圓，本體三層：內層薄滑；中層略厚，色黃質軟，自能舒張；外層紋理交結。總管及入肺管近心處均有三門，形如半月，門閉之時，微窩向上，門邊正中，有脆骨一粒，品字相對，小如芝麻（以三圈相併，當中必有漏處，故生三粒以補之），門後管體有小坳，貯血少許，使門不黏於管，以助開閉之機心血過此，可出而不可入。其總管由心左下房生出，直插上房而上，約二寸許，即回屈而下，彎作一栱，下至膈膜，分布小枝入左右兩脅，透過膈膜，分布大枝，散行臟腑（指脾胃腎腸而言）之內，再至下腰（第四節），即分歧為二，散布小枝，密纏股足之間。其栱之上，又生三大支，左二右一。右支約寸許，復歧分為二，一由頸右達腦，一由右肩達手。其左二支，一由頸左達腦，一由左肩達手。皆散布小相密纏於內，周身骨肉，無處不到。支上生枝，彷彿如樹（各處較節之旁支，上下互相通連正支，雖塞血脈，可從旁運也）。</p>
<p>回血管者，回導紫血入心之管也。管內有門，門無定位（頭腦臟腑之間皆無門，惟四肢之門深處更密）。其體比脈管稍薄（脈管受力比回管更多，故厚薄不同），其徑稍寬，有血則圓，無血則扁。總管二支，由心右上房而出，一支向下，以接下身臟腑兩足之回血，一支向上，以接上身頭腦兩手之回血。散布小支，一如血脈管之狀，但脈管深居肉內者多，而回血深淺皆有，藍色無脈者是也。另有一種，名曰微絲血管（以管乎徘一寸闊，約有二千條，其細如此），目力不及見，以鏡顯之，見密結如網，骨肉內外遍體皆然（故以針刺血，隨處皆有血出），與血脈管、回血管兩尾相通，故赤紫兩血，通行無礙（血脈回血兩管，其頭在心相通，其尾在微絲管相通）。</p>

<h1>正面人骨圖</h1>
<figure>
<img alt="正面人骨圖">
</figure>

<h1>臟腑合圖</h1>
<figure>
<img alt="臟腑合圖">
</figure>

<h1>仰面尺寸圖</h1>
<p>（中指同身寸圖）</p>
<figure>
<img alt="仰面尺寸圖">
</figure>

<h1>背面尺寸圖</h1>
<figure>
<img alt="背面尺寸圖">
</figure>

<h1>十二經穴法分寸備考</h1>

<h2>肺經</h2>
<p>中府：一名膺俞，雲門下一寸六分，乳上三筋間，動脈應手陷中。雲門：巨骨下，俠氣戶旁二寸。少商：大指內側，去爪甲角如韭葉。天府：腋下三寸，肘腕上五寸，動脈中。俠白：天府下，去肘五寸，動脈中。尺澤：肘上約紋上，動脈中，屈肘橫紋，筋骨罅陷中。孔最：去腕上七寸，側取之。列缺：去腕側上一寸半。魚際：大指本節後，內側白肉陷中。經渠：寸口動脈陷中。太淵：掌後內側橫紋頭，動脈中。</p>

<h2>大腸經</h2>
<p>商陽：手大指次指內側，去爪甲角如韭葉。二間：食指本節前，內側陷中。三間：食指本節後，內側陷中。合谷：手大指次指歧骨間陷中。陽谿：腕中上側兩筋間陷中。偏歷：腕中後三寸。溫溜：腕後五寸。下廉：輔骨下，去上廉一寸。上廉：三里下一寸。三里：曲池下二寸，按之肉起，銳肉之端。曲池：肘外輔骨，屈肘橫紋頭陷中，以手拱胸取之。肘髎：大骨外廉陷中。五里：肘上三寸，行向里大脈中央。臂臑：肘上七寸，膕肉端，肩髃下一寸，兩筋兩骨罅陷宛宛中，舉臂取之。肩髃：膊骨頭肩端上，兩骨罅間陷者宛宛中，舉臂取之。巨骨：肩尖端上行，兩叉骨罅間陷中。天鼎：頸缺盆上，直扶突後一寸。扶突：氣舍上一寸五分，在頸當曲頰下一寸。禾髎：鼻孔下，俠水溝旁五分。迎香：禾髎上一寸，鼻下孔旁五分。</p>

<h2>胃經</h2>
<p>頭維：額角入髮際，本神旁一寸五分，神庭旁四寸五分。足陽明、少陽二脈之會。下關：客主人下，耳前動脈下廉，合口有空，開口則閉，側臥閉口取之。頰車：耳下八分，曲頰端近前陷中，側臥，開口有空取之。承泣：目下七分，直瞳子陷中。足陽明、陽蹺脈、任脈之會。四白：目下一寸，直瞳子，令病人正視取之。巨髎：俠鼻孔旁八分，直瞳子，平水溝。手足陽明、陽蹺脈之會。地倉：俠口吻旁四寸外，如近下有脈微動。手足陽明、陽蹺脈之會。大迎：曲頷前一寸二分，骨陷中動脈。人迎：頸大脈動應手，俠結喉兩旁一寸五分，仰而取之。水突：頸大筋前，直人迎下，氣舍上。氣舍：頸直人迎下，俠天突陷中。缺盆：肩下橫骨陷中。氣戶：巨骨下，俞府兩旁各二寸陷中。庫房：氣戶下一寸六分陷中。屋翳：庫房下一寸六分陷中。膺窗：屋翳下一寸六分陷中。乳中：當乳中。乳根：乳中下一寸六分陷中。不容：幽門旁相去各一寸五分，去中行各三寸。承滿：不容下一寸，去中行各三寸。梁門：承滿下一寸，去中行各三寸。關門：梁門下一寸，去中行各三寸，太乙：關門下一寸，去中行各三寸。滑肉門：太乙下一寸，去中行各三寸。天樞：去肓俞一寸，俠臍中兩旁各二寸陷中。外陵：天樞下一寸，去中行各二寸。大巨：外陵下一寸，去中行各二寸。水道：大巨下三寸，去中行各二寸。歸來：水道下二寸，去中行各二寸。氣衝：歸來下一寸，去中行各二寸。髀關：伏兔後交叉中。伏兔：膝上六寸，起肉，正跪坐而取之。陰市：膝上三寸，伏兔下陷中，拜而取之。梁丘：膝上二寸兩筋間。犢鼻：膝臏下，胻骨上，俠解大筋陷中。形如牛鼻，故名。三里：膝下三寸，胻骨外廉大筋內宛宛中，兩筋肉分間，舉足取之。極重按之，則跗上動脈止矣。上廉：三里下三寸，兩筋骨罅中，舉足取之。條口：下廉上一寸，舉足取之，下廉：上廉下三寸，兩筋骨罅中，蹲地舉足取之。豐隆：外踝上八寸，下胻外廉陷中，解谿：衝陽後一寸五分。腕上陷中。衝陽：足跗上五寸，去陷骨二寸，骨間動脈。陷谷：足大指次指外間，本節後陷中。內庭：足大指次指外間陷中。厲兌：足大指次指之端，去爪甲角如韭葉。</p>

<h2>脾經</h2>
<p>隱白：足大指端內側，去爪甲角如韭葉。大都：足大指本節後，內側陷中。太白：足大指內側，內踝前核骨下陷中。公孫：足大指本節後一寸，內踝前。商丘：足內踝骨下微前陷中，居中封、照海之中。三陰交：內踝上三寸，骨下陷中。漏谷：內踝上六寸，胻骨下陷中。地機：膝下五寸，膝內側輔骨下陷中，伸足取之。陰陵泉：膝下內側輔骨下陷中，伸足取之；或屈膝取之。血海：膝臏上內廉，白肉際二寸半。箕門：漁腹上越筋間，陰股內動脈應手。衝門：府舍下一寸，橫骨兩端約中動脈，去腹中行各四寸半。府舍：腹結下二寸，去腹中行各四寸半。腹結：大橫下一寸三分，去腹中行各四寸半。大橫：腹哀下三寸五分，去腹中行各四寸半。腹哀：日月下一寸一分，去腹中行各四寸半。食竇：天溪下一寸六分，去胸中行各六寸，舉臂取之。天溪：胸鄉下一寸六分陷中，去胸中行各六寸，仰而取之。胸鄉：周榮下一寸六分，去胸中行各六寸，仰而取之。周榮：中府下一寸六分，去胸中行各六寸，仰而取之。大包：淵液下三寸，布胸脅中。</p>

<h2>心經</h2>
<p>極泉：臂內腋下筋間，動脈入胸。青靈：肘上三寸，伸肘舉臂取之。少海：肘內廉節後，大骨外，去肘端五分，屈肘向頭得之。靈道：掌後一寸五分。通里：掌後一寸陷中。陰郄：掌後脈中，去腕五分。神門：掌後銳骨端陷中。少府：手小指本節後，骨縫陷中，直勞宮。少衝：手小指內側，去爪甲角如韭葉。</p>

<h2>小腸經</h2>
<p>少澤：手小指端外側，去爪甲角下一分陷中。前谷：手小指外側，本節前陷中。後谿：手小指外側，本節後陷中，握拳取之。腕骨：手外側，腕前起骨下陷中。陽谷：手外側腕中，銳骨下陷中。養老：手踝骨前上，腕骨後一寸陷中。支正：腕後五寸。小海：肘外大骨外，去肘端五分陷中，屈手向頭取之。肩貞：曲胛下兩骨解間，肩髃後陷中。臑俞：俠肩髎後大骨下，胛上廉陷中，舉臂取之。天宗：秉風后大骨下陷中。秉風：天髎外，肩上小後，舉臂有空。曲垣：肩中央曲胛陷中，按之應手痛。肩外俞：肩胛上廉，去脊三寸陷中。肩中俞：肩胛內廉，去脊二寸陷中。天窗：頸大筋間前曲頰下，扶突後動脈應手陷中。天容：耳下曲頰後。顴髎：面頄骨下廉，銳骨端陷中。聽宮：耳中珠子，大如赤小豆。</p>

<h2>膀胱經</h2>
<p>睛明：目內眥頭外一分，宛宛中。攢竹：兩眉頭陷中。眉沖：直眉頭上神庭、曲差之間。曲差：神庭旁一寸五分，入髮際。五處：俠上星旁一寸五分。承光：五處後一寸五分。通天：承光後一寸五分。絡卻：通天後一寸五分。玉枕：絡卻後一寸五分，俠腦戶旁一寸三分，起肉枕骨上，入髮際二寸。天柱：俠項後髮際，大筋外廉陷中。大杼：項後第一椎下，兩旁相去脊各一寸五分陷中。風門：二椎下，兩旁相去脊各一寸五分，正坐取之。肺俞：第三椎，下兩旁相去脊各一寸五分。厥陰俞：四椎下，兩旁相去脊各一寸五分，正坐取之。心俞：五椎下，兩旁相去脊各一寸五分，正坐取之。督俞：六椎下，兩旁相去脊各一寸五分，正坐取之。鬲俞：七椎下，兩旁相去脊各一寸五分，正坐取之。肝俞：九椎下，兩旁相去脊各一寸五分，正坐取之。膽俞：十椎下，兩旁相去脊各一寸五分，正坐取之。脾俞：十一椎下，兩旁相去脊各一寸五分，正坐取之。胃俞：十二椎下，兩旁相去脊各一寸五分，正坐取之。三焦俞：十三椎下，兩旁相去脊各一寸五分，正坐取之。腎俞：十四椎下，兩旁相去脊各一寸五分，前與臍平，正坐取之。氣海俞：十五椎下，兩旁相去脊各一寸五分。大腸俞：十六椎下，兩旁相去脊各一寸五分，伏而取之。關元俞：十七椎下，兩旁相去脊各一寸五分，伏而取之。小腸俞：十八椎下，兩旁相去脊各一寸五分，伏而取之。膀胱俞：十九椎下，兩旁相去脊各一寸五分，伏而取之。中膂俞：二十椎下，兩旁相去脊各一寸五分，俠脊伸起肉伏而取之。白環俞：二十一椎下，兩旁相去脊各一寸五分，伏而取之。上髎：第一空，腰髁下一寸，俠脊陷中。次髎：第二空，俠脊陷中。中髎：三空，俠脊陷中。下髎：四空，俠脊陷中。會陽：陰尾尻骨兩旁。附分：二椎下，附項內廉，兩旁相去脊各三寸，正坐取之。魄戶：直附分下，三椎下，兩旁相去脊各三寸，正坐取之。膏肓俞：四椎下一分，五椎上二分，兩旁相去脊各三寸。神堂：五椎下，兩旁相去脊各三寸陷中，正坐取之。譩譆：肩膊內廉，俠六椎下，兩旁相去脊各三寸，正坐取之。鬲關：七椎下，兩旁相去脊各三寸陷中，正坐開臂取之。魂門：九椎下，兩旁相去脊各三寸陷中，正坐取之。陽綱：十椎下，兩旁相去脊各三寸，正坐闊肩取之。意舍：十一椎下，兩旁相去脊各三寸，正坐取之。胃倉：十二椎下，兩旁相去脊各三寸，正坐取之。肓門：十三椎下，兩旁相去脊各三寸，正坐取之。志室：十四椎下，兩旁相去脊各三寸陷中，正坐取之。胞肓：十九椎下，兩旁相去脊各三寸陷中，伏而取之。秩邊：二十椎下，兩旁相去脊各三寸陷中，伏而取之。承扶：尻臀下，陰臀上紋中。殷門：浮郄下三寸。浮郄：委陽上一寸，展膝得之。委陽：承扶下六寸。委中：膕中央約紋動脈陷中，人挺伏地臥取之。合陽：約紋下三寸。承筋：腨腸中央陷中，脛後從腳跟上七寸。承山：銳腨腸下分肉間陷中。飛揚：外踝骨上七寸。崑崙：足外踝後五分，跟骨上陷中，細脈動應手。僕參：足跟骨下陷中，拱足取之。申脈：外踝下五分陷中，容爪甲白肉際，前後有筋，上有踝骨，下有軟骨。金門：外踝下少後，丘墟後，申脈前。京骨：足外側大骨下，赤白肉際陷中。束骨：足小指外側本節後，赤白肉際陷中。通谷：足小指外側本節前陷中。至陰：足小指外側，去爪甲角如韭葉。</p>

<h2>腎經</h2>
<p>湧泉：足心陷中，屈足卷指宛宛中，白肉際，跪而取之。然谷：足內踝前起大骨下陷中。太谿：足內踝後五分，跟骨上動脈陷中。大鐘：足跟後踵中，大骨上兩筋間。水泉：太谿下一寸，內踝下。少陰郄。照海：足內踝下四分，前後有筋，上有踝骨，下有軟骨。復溜：足內踝上二寸，筋骨陷中。交信：內足踝骨上二寸，少陰前，太陰後廉筋骨間。陰際脈之郄。築賓：內踝上，腨分中。陰維之郄。陰谷：膝內輔骨後，大筋下，小筋上，按之應手，屈膝乃得之。橫骨：大赫下一寸，陰上橫骨中，宛曲如仰月中央，去腹中行各一寸。大赫：氣穴下一寸，去腹中各一寸。氣穴：四滿下一寸，去腹中行各一寸。四滿：中注下一寸，去腹中行各一寸。中注：肓俞下一寸，去腹中行各一寸。肓俞：商曲下一寸，去腹中行各一寸。商曲：石關下一寸，去腹中行各一寸五分。石關：陰都下一寸，去腹中行各一寸五分。陰都：通谷下一寸，去腹中行各一寸五分。通谷：幽門下一寸，去腹中行各一寸五分。幽門：俠巨闕兩旁各一寸五分陷中。步廊：神封下一寸六分陷中，去腹中行各二寸，仰而取之。神封：靈墟下一寸六分陷中，去胸中行各二寸，仰而取之。靈墟：神藏下一寸六分陷中，去胸中行各二寸，仰而取之。神藏：彧中下一寸六分陷中，去胸中行各二寸，仰而取之。彧中：俞府下一寸六分，去胸中行各二寸，仰而取之。俞府：氣舍下，璇璣旁，各二寸陷中，仰而取之。</p>

<h2>心包絡經</h2>
<p>天池：腋下三寸，乳後一寸。天泉：曲腋下二寸，舉臂取之。曲澤：肘內廉陷中，大筋內側橫紋中動脈。郄門：掌後去腕五寸。間使：掌後三寸，兩筋間陷中。內關：掌後去腕二寸兩筋間，與外關相抵。大陵：掌後骨下，兩筋間陷中。勞宮：掌中央動脈，屈無名指取之。中衝：手中指端，去爪甲角如韭葉陷中。</p>

<h2>三焦經</h2>
<p>關衝：手小指次指外側，去爪甲角如韭葉。液門：手小次指歧骨間陷中，握拳取之。中渚：手小指次指本節後陷中，在液門下一寸。陽池：手表腕上陷中，從指本節直摸下至腕中心。外關：腕後二寸兩骨間，與內關相對。支溝：腕後臂外三寸，兩骨間陷中。會宗：腕後三寸，空中一寸。三陽絡：臂上大交脈，支溝上一寸。四瀆：在肘前五寸，外廉陷中。天井：肘外大骨後，肘上一寸，輔骨上兩筋叉骨罅中，屈肘拱胸取之。清冷淵：肘上二寸，伸肘舉臂取之。消濼：肩下臂外間，腋斜肘分下。臑會：肩前廉，去肩頭三寸宛宛中。肩髎：肩端臑上陷中，斜舉臂取之。天髎：缺盆陷處，上有空起肉上是穴。天牖：頭大筋外，缺盆上，天容後，天柱前，完骨下，髮際上。翳風：耳後尖角陷中，按之引耳中痛。瘛脈：耳本後，雞足青絡脈。顱息：耳後間青絡脈中。角孫：耳廓中間，開口有穴。絲竹空：眉後陷中。和髎：耳前銳發下，骨動脈中是穴。耳門：耳前起肉，當耳缺者陷中。</p>

<h2>膽經</h2>
<p>瞳子髎：目外去眥五分。聽會：耳微前陷中。上關下一寸動脈宛宛中，張口得之。客主人：耳前骨上，井口有空，張口取之。頷厭：曲周下，顳顬上廉。懸顱：曲周上，顳顬中廉。懸釐：曲周上，顳顬下廉。曲鬢：耳上髮際曲隅陷中，鼓頷有空。率谷：耳上入髮際寸半，陷者宛宛中，嚼而取之。天衝：耳後髮際二寸，耳上如前三分。浮白：耳後入髮際一寸。竅陰：完骨上，枕骨下，動搖有空。完骨：耳後入髮際四分。本神：曲差旁一寸五分，直耳上入髮際四分。陽白：眉上一寸，直瞳子。臨泣：目上，直入髮際五分陷中。目窗：臨泣後寸半。正營：目窗後寸半。承靈：正營後一寸五分。腦空：承靈後一寸五分，俠玉枕骨下陷中。風池：耳後顳顬後，腦空下，髮際陷中。肩井：肩上陷中，缺盆上，大骨前一寸半。淵液：腋下三寸宛宛中，舉臂得之。輒筋：腋下三寸，復前一寸三肋端，橫直蔽骨旁七寸五分，平直兩乳，側臥屈上足取之。日月：期門下五分。京門：監骨下，腰中季脅本俠脊。腎之募。帶脈：季脅下一寸八分陷中，臍上二分，兩旁各七寸半。五樞：帶脈下三寸，水道旁五寸五分。維道：章門下五寸三分。居髎：章門下八寸三分，監骨上陷中。環跳：髀樞中，側臥伸下足，屈上足，以右手摸穴取之。風市：膝上外廉兩筋中，以手著腿，中指盡處是。中瀆：髀外膝上五寸分肉間陷中。陽關：陽陵泉上三寸，犢鼻外陷中。陽陵泉：膝下一寸，胻外廉陷中，蹲坐取之。陽交：足外踝上七寸。外丘：外踝上七寸。光明：外踝上五寸。陽輔：足外踝上四寸。懸鐘：足外踝上三寸動脈中，尋摸尖骨者是。丘墟：足外踝下從前陷中骨縫中，去臨泣三寸。臨泣：足小指次指本節後陷中，去俠谿一寸五分。地五會：足小指次指本節後陷中，去俠谿一寸。俠谿：足小指次指歧骨間，本節前陷中。竅陰：足小指次指外側，去爪甲角如韭葉。</p>

<h2>肝經</h2>
<p>大敦：足大趾端，去爪甲如韭葉。行間：足大指縫間，動脈應手陷中。太衝：足大指本節後二寸，內間動脈應手。蠡溝：內踝上五寸。中都：內踝上七寸，胻骨中。膝關：犢鼻下二寸旁陷中。曲泉：膝股上內側，輔骨下，大筋上，小筋下陷中，屈膝橫紋頭取之。陰包：膝上四寸，股內廉兩筋間，卷足取之。五里：氣衝下三寸，陰股中動脈應手。陰廉：羊矢下，去氣衝二寸動脈中。章門：大橫外，直季脅肋端，腨臍上二寸。中封：足內踝前一寸，筋里宛宛中。期門：直乳二肋端，不容旁一寸五分。</p>

<h2>任脈經</h2>
<p>會陰：兩陰間，任、督、沖三脈所起。督由會陰而行背，任由會陰而行腹，沖由會陰而行足。曲骨：橫骨上，中極下一寸，毛際陷中，動脈應手。中極：關元下一寸，臍下四寸。膀胱之募。關元：臍下三寸，小腸之募。石門：臍下二寸。三焦之募。氣海：臍下一寸半宛宛中。男子生氣之海。陰交：臍下一寸，當膀胱上際。神闕：當臍中。《素注》禁針。水分：下脘下一寸，臍上一寸。下脘：建里下一寸，臍上二寸，穴當胃下口，小腸上口。建里：中脘下一寸，臍上三寸。中脘：上脘下一寸，臍上四寸。上脘：巨闕下一寸，臍上五寸。巨闕：鳩尾下一寸。心之募。鳩尾：在兩歧骨下一寸。曰鳩尾者，言其骨垂下如鳩尾形。中庭：膻中下一寸六分陷中。膻中：玉堂下一寸六分。玉堂：紫宮下一寸六分陷中。紫宮：華蓋下一寸六分陷中，仰面取之。華蓋：璇璣下一寸六分陷中，仰面取之。璇璣：天突下一寸六分陷中，仰頭取之。天突：在頸結喉下四寸。承漿：唇稜下陷中，開口取之。</p>

<h2>督脈經</h2>
<p>長強：脊骶骨端計三分，伏地取之。腰俞：二十一椎下宛宛中，以挺身伏地舒身，兩手相重支額，縱四體後，乃取其穴。陽關：十六椎下，坐而取之。命門：十四椎下，伏而取之。懸樞：十三椎下，伏取。脊中：十一椎下，俯而取之。筋縮：九椎下，俯而取之。至陽：七椎下，俯而取之。靈臺：六椎下，俯而取之。神道：五椎下，俯而取之。身柱：三椎下，俯而取之。陶道：一椎下，俯而取之。大椎：一椎上，陷者宛宛中。啞門：項後入髮際五分，項中央宛宛中，仰頭取之。風府：項後入髮際一寸，大筋內宛宛中，疾言其肉立起。腦戶：枕骨上，強間後一寸五分。強間：後頂後一寸半。後頂：百會後一寸五分，枕骨上。百會：在頂中陷中，容豆許，前髮際五寸，後髮際七寸。前頂：囟會後一寸半，骨間陷中，囟會：上星後一寸陷中。上星：神庭後，入髮際一寸陷中，容豆。神庭：直鼻上入髮際五分。素髎：鼻柱上端準頭。此穴諸方闕治。《外臺》：不宜灸。水溝：鼻柱下，溝中央，近鼻孔陷中。兌端：唇上端。齦交：唇內齒上齦縫中。任、督、足陽明之會。</p>

<h1>小兒面部五位圖歌</h1>
<p>面上之症額為心，鼻為脾土是其真，左腮屬肝右屬肺，承漿屬腎居下唇。</p>

<h1>命門部位歌</h1>
<p>中庭與天庭，司空及印堂，額負方廣處，有病定存亡。青黑驚風惡，體和潤澤光，不可陷兼損，唇黑最難當，青甚足為慮，昏暗亦堪傷。此是命門地，醫師妙能事。</p>
<p>面眼青肝病，赤心、黃脾、白肺、黑腎病也。</p>

<h1>小兒面部五位圖</h1>
<figure>
<img alt="小兒面部五位圖">
</figure>

<h1>仰人經圖</h1>
<figure>
<img alt="仰人經圖">
</figure>

<h1>伏人經圖</h1>
<figure>
<img alt="伏人經圖">
</figure>

<h1>伏人會脈圖</h1>
<figure>
<img alt="伏人會脈圖">
</figure>

<h1>仰人會脈圖</h1>
<figure>
<img alt="仰人會脈圖">
</figure>

<h1>八會穴</h1>
<p>骨會大杼。大杼，一名大椎穴，在項後第一椎，兩旁各一寸五分。諸骨自此往下支生，故骨會於大杼。筋會陽陵泉。陽陵泉，足少陽之穴也，在膝下一寸外廉陷中，為眾筋聚會之所。血會膈俞。穴在背第七椎骨下，兩旁各一寸五分，諸筋之血皆從膈膜而上下。髓會絕骨。絕骨亦少陽穴，在足外踝上三寸，以踝上小骨絕處為是。腑會太倉。胃化氣以養六腑，故腑會太倉。脈會太淵。太淵穴在掌後橫陷中，近寸口，《經》曰：寸口者，脈之大會也。氣會三焦。三焦，上中下三焦也。臟會季脅。季脅，章門也。乃足厥陰肝經之穴，帶脈發於此也。</p>

<h1>手太陰肺經穴圖</h1>
<figure>
<img alt="手太陰肺經穴圖">
</figure>

<h1>肺經諸穴歌</h1>
<p>手太陰肺十一穴，中府雲門天府列。俠白下尺澤，孔最見列缺。經渠太淵下魚際，抵指少商如韭葉。</p>

<h1>肺圖</h1>
<figure>
<img alt="肺圖">
</figure>

<h1>足太陰脾經穴圖</h1>
<figure>
<img alt="足太陰脾經穴圖">
</figure>

<h1>脾經諸穴歌</h1>
<p>足太陰脾中州，二十一穴隱白遊。赴大都兮瞻太白，歷公孫兮至商丘。越三陰之交，而漏谷地機可接；步陰陵之泉，而血海箕門是求。入衝門兮府舍軒豁，解腹結兮大橫優遊。腹哀食竇兮，接天溪而同脈；胸鄉周榮兮，綴大包而如鉤。</p>

<h1>脾圖</h1>
<figure>
<img alt="脾圖">
</figure>

<h1>手少陰心經穴圖</h1>
<figure>
<img alt="手少陰心經穴圖">
</figure>

<h1>心經諸穴歌</h1>
<p>手少陰九穴成，極泉青靈少海行，自靈道通里而達，過陰郄神門而迎，抵於少府，少衝可尋。</p>

<h1>心圖</h1>
<figure>
<img alt="心圖">
</figure>

<h1>足少陰腎經穴圖</h1>
<figure>
<img alt="足少陰腎經穴圖">
</figure>

<h1>腎經諸穴歌</h1>
<p>足少陰兮二十七，湧泉流於然谷太谿。大鐘兮水泉緣照海，復溜兮交信續從。築賓兮上陰谷，撩橫骨內大赫麓，氣穴四滿兮中注，肓俞上通於商曲。守石關兮陰都寧，閉通谷兮幽門肅，步廊神封而靈墟存，神藏彧中而俞府足。</p>

<h1>內腎圖</h1>
<figure>
<img alt="內腎圖">
</figure>

<h1>手厥陰心包絡經穴圖</h1>
<figure>
<img alt="手厥陰心包絡經穴圖">
</figure>

<h1>心包絡諸穴歌</h1>
<p>手厥陰心包之脈，計有九穴而終，自而一天泉為始，遂曲澤郄門而通，間使行於內關，大陵近乎勞宮，既由掌握，抵於中衝。</p>

<h1>心包絡圖</h1>
<figure>
<img alt="心包絡圖">
</figure>

<h1>足厥陰肝經穴圖</h1>
<figure>
<img alt="足厥陰肝經穴圖">
</figure>

<h1>肝經諸穴歌</h1>
<p>足厥陰一，十三穴終。起大敦於行間，循太衝於中封。蠡溝中都之會，膝關曲泉之宮。襲陰包於五里，陰廉乃發；尋羊矢於章門，期門可攻。</p>

<h1>肝圖</h1>
<figure>
<img alt="肝圖">
</figure>

<h1>手太陽小腸經穴圖</h1>
<figure>
<img alt="手太陽小腸經穴圖">
</figure>

<h1>小腸諸穴歌</h1>
<p>小腸穴十九中，路從少澤；步前谷後谿之隆，道逢腕骨。觀陽谷養老之崇，得支正於小海；遂肩貞以相從，值臑俞兮遇天宗。乘秉風兮曲垣中，肩外俞兮肩中俞；啟天窗兮見天容，匪由顴髎，曷造聽宮。</p>

<h1>小腸圖</h1>
<figure>
<img alt="小腸圖">
</figure>

<h1>足太陽膀胱經穴圖</h1>
<figure>
<img alt="足太陽膀胱經穴圖">
</figure>

<h1>膀胱諸穴歌</h1>
<p>足太陽，三十六。睛明攢竹，詣曲差五處之鄉；承光通天，見絡卻玉枕之行。天柱高兮大杼低，風門開兮肺俞當。厥陰心膈之俞，肝膽脾胃之臟。三焦腎兮大腸俞光，膀胱俞兮中膂白環。自從大杼至此，去脊中寸半之旁；又有上次中下四髎，在腰四空以相將。會陽居尻尾之側，始了背也一行，仍上肩胛而下，附分二椎之旁。三椎魄戶四椎膏肓，神堂噫嘻兮鬲關。魂門兮陽綱，意舍兮胃倉。肓門志室，秩邊胞肓。承扶浮郄與委陽，殷門委中而合陽。承筋承山到飛揚，輔陽崑崙至僕參。申脈金門探京骨之場，束骨通谷抵至陰小指之旁。</p>

<h1>男女膀胱分圖</h1>
<figure>
<img alt="男女膀胱分圖">
</figure>

<h1>手少陽三焦腑經穴圖</h1>
<figure>
<img alt="手少陽三焦腑經穴圖">
</figure>

<h1>三焦諸穴歌</h1>
<p>手少陽三焦之脈，二十三穴之間。關衝液門，中渚陽池。外關通連支溝，會宗三陽絡四瀆。天井清冷淵，消濼臑會。肩髎相聯天髎，處天牖之下。翳風讓瘛脈居先，顱息定而角孫近耳。絲竹空而和髎接焉，耳門畢經穴已全。</p>

<h1>三焦圖</h1>
<figure>
<img alt="三焦圖">
</figure>

<h1>足少陽膽經穴圖</h1>
<figure>
<img alt="足少陽膽經穴圖">
</figure>

<h1>膽經諸穴歌</h1>
<p>足少陽兮四十二，瞳子髎近聽會間，客主人在頷厭集，懸顱懸釐曲鬢前，率谷天衝見浮白，竊陰完骨本神連，陽白臨泣目窗近，正營承靈腦空焉，風池肩井兮淵液，輒筋日月京門聯，帶脈五樞脅下，維道居髎相沿，環跳風市抵中瀆，陽關之下陽陵泉，陽交外丘光明穴，陽輔懸鐘穴可瞻，丘墟臨泣地五會，俠谿竅陰膽經全。</p>

<h1>膽圖</h1>
<figure>
<img alt="膽圖">
</figure>

<h1>手陽明大腸經穴圖</h1>
<figure>
<img alt="手陽明大腸經穴圖">
</figure>

<h1>大腸諸穴歌</h1>
<p>手陽明廿穴名循，商陽二間三間而行，歷合谷陽谿之俞，過偏歷溫溜之濱，下廉上廉三里而近，曲池肘髎五里之程。臂臑肩髃上於巨骨，天鼎紆乎扶突。禾髎唇連，迎香鼻迫。</p>

<h1>大腸圖</h1>
<figure>
<img alt="大腸圖">
</figure>

<h1>足陽明胃經穴圖</h1>
<figure>
<img alt="足陽明胃經穴圖">
</figure>

<h1>胃經諸穴歌</h1>
<p>足陽明四十五，是承泣四白而數，巨髎有地倉之積，大迎乘頰車之輔。下關頭維及人迎，水突氣舍與缺盆。氣戶兮庫房屋翳，膺窗兮乳中乳根。不容承滿，梁門關門；太乙滑肉，天樞外陵。大巨從水道歸來，氣衝入髀關之境；伏兔陰市梁丘，犢鼻自三里而行。上廉虛兮條口，下廉虛兮豐隆。解谿衝陽入陷谷，下內庭厲兌而終。</p>

<h1>胃圖</h1>
<figure>
<img alt="胃圖">
</figure>

<h1>督脈經穴圖</h1>
<figure>
<img alt="督脈經穴圖">
</figure>

<h1>督脈諸穴歌</h1>
<p>督脈在背之中行，一十七穴始長強，舞腰俞兮歌陽關，入命門兮懸樞當。脊中筋縮造至陽，靈臺神道身柱維。陶道大椎至瘂門，風府腦戶強間分，後頂百會兮前顱，囟會上星兮神庭。素髎至水溝於鼻下，兌端交齦交於內唇。</p>
<p>按：督脈之原，起於少腹，分而兩歧。一循陰莖十至纂而與女子等。一從少腹直上，貫臍入喉，上頤環唇，入齦交上齒縫中，上繫於兩目之下，中央會太陽於睛明穴。《本論》云：督脈為病，脊骨反折。</p>

<h1>任脈經穴圖</h1>
<figure>
<img alt="任脈經穴圖">
</figure>

<h1>任脈諸穴歌</h1>
<p>任脈二十四，穴行腹與胸。會陰始兮曲骨從，中極關元石門通。氣海陰交會，神關水分逢。下脘建里兮，中脘上脘；巨闕鳩尾兮，中庭膻中。玉堂上紫宮華蓋，璇璣上天突之宮。飲彼廉泉，承漿味融。</p>
<p>任脈者，起於中極之下，以上毛際，循腹裡上關元至咽喉，上頤循面入目。任脈為病，男子內結七疝，女子帶下瘕聚。七疝者：一沖疝，二狐疝，三癩疝，四厥疝，五瘕疝，六潰疝，七潰癃疝也。瘕者，假血受而時下汁沫；聚者，下逆滯而為積聚也。</p>

<h1>回陽九針圖</h1>
<figure>
<img alt="回陽九針圖">
</figure>

<h1>奇經八脈交會八穴圖</h1>
<figure>
<img alt="奇經八脈交會八穴圖">
</figure>

<h1>陽精論</h1>
<p>精者，血脈所生，液之精奇者也。以顯微鏡照驗，見精內有活物甚多，狀如蝌蚪而長尾遊行甚疾。一日尚生，禽獸眾類亦然，但形差別耳。男子未成丁之前，血不生精。丁年以後，赤血運行至外腎，即由微絲管攝入眾精管，由精管漸運而出至卵蒂，匯入總管，循行至膀胱之底，藏聚於精囊之內。俟交媾時到，乃由精囊泄出。夫精者，化生甚難，耗失甚易。少年血氣未定，百體未堅，若縱情恣欲，輕則有虛勞之憂，重則有夭孬之患。戒之在色，養身莫善於寡欲也。若手淫自泄，傷身更甚，每有青盲聾懵之症。至於擁妓宿娼花柳之害，尤酷傷殘身體，毒及妻孥。不知自愛者，誰為惜之。</p>

<h1>陰經</h1>
<p>女子尻骨盤內，前為膀胱，中為子宮，後為直腸。膀胱溺管，長約一寸，其下為陰道（人陰道曲，禽獸道直）。陰道之口為戶，內寬外狹。童女有薄膜捫閉，膜有小缺通流月水。初與男子交合，膜破微有血出，故俗曰破身。及生子則名產門也。產門之體，仿如直腸，肉理橫生，可寬可窄，內有摺皮，外有連膜，其底銜接子宮之口，陰水生焉。子宮者，狀若番茄（頗似葫蘆上截）。倒掛骨盆之內，長二寸，底闊一寸三分，厚七分。內空為三角房，一角在口，兩角在底（一在底左，一在底右）。底角有小孔可通豬毛底。之外有兩筋帶懸之，一圓一扁，圓筋繫於交骨，扁筋即大小腸夾膜與胯骨黏連。若筋帶無力，或產後行動，即有子宮下墜之憂。凡未嫁童女，子宮之口，小如目瞳，共重八錢。懷孕之後，積月漸大，妊胎三月，漸長四寸；妊胎五月，底圓如瓢；妊胎七月，脹至臍上，漸長六寸；妊胎九月，直至胸下，長尺有零，重四十兩，圓如西瓜。生子之後，復縮而小，重只二兩而已。子宮之底，左右各出子管一支，與底角之孔通連，長二寸五分，管尾略闊，披展如絲，不即不離，垂於子核之側。子核者，在子宮左右，約離一寸，向內有蒂與子宮相連，向外有筋帶與子管相系，形如雀卵薄膜裹之，內有精珠十五顆至十八顆不等，其質甚薄，剖而看之，內貯清液，是為陰精。女子入月之年，精珠始生，暮年月信止，精珠化為烏有。凡夫婦交媾，男精泄入子宮，透於子管，子管即罩護子核，子核感動，精珠迸裂，陰精與陽精交會，自子管之尾而入，在管內漸結薄衣為胚珠，是為成孕。由是子管漸大，胚珠漸行，數日之內行至子宮，子宮接之，血入漸多，預生新膜，又生膠粒以塞子宮之口，是謂受胎。</p>

<h1>胎論</h1>
<p>凡受孕數日，成一胚珠。珠內有清水，初見無物形，至十二日，胚珠大如白豆，重二三釐。珠胞之外茸生絲毛（如水缸發毛之飯粒），剖而看之，見雙膜包涵清水，有小物兩粒浮其中，一圓一長。長者，漸變形為人，積日彌大，是名為胚。圓者，養胚之物，積日彌小，及生胎盤，則茫然烏有。歷二十日，胚珠漸大，珠內胚形如大蟻，重約一分，長約三分，似有頭身之意。至三十日，珠內胚形長四分，大如牛蠅，身首顯然可見，首上具有眼模。三十五日，臍帶始生萌芽。四十二日，頭上有口。四十五日，胚重一錢，長八分，初見四肢臂股。六十日，足手皆全，骨點始生，上有耳鼻，下有肛門，是為受形之始，長一寸許。六十五日，腹內粗有五臟。九十日，見全形男女，可辨長二寸許，重二兩許，胎盤成。由是月大一月，至四月，周身內外皆偕，重五兩五錢，長四寸。五月，長五寸，孕婦始覺胎動。六月，長六寸，重十三兩，發甲生。七月，長八寸，骨節粗成，壯者生出可活。八月，長尺一寸，重五十五兩，卵子由腹落至腎囊。九月，眼始開，長一尺二寸。十月，胎足，重五六斤。人具百體，心最先生（雌雞伏蛋，才十三時辰，蛋黃內已有跳點，漸成雞心），及終世之時，百體先死，心死最後。嬰兒在胎之日，肺小肝大，不須呼吸地氣，其血兜及運行功用，皆與出世者不同。妊胎二十日，心已成模，初長一管，漸分兩房，足漸而成四房，上兩房有戶相通，出世之後即閉塞，否則紫血混行，兒死而身藍矣。胎兒之血來自胎盤，由臍帶透臍而入，一半入肝（運行肝內即入心房），一半回血總管，上達心右上房，即過左上房而落右下房，由左下房入血脈總管，先上兩手、頭腦之內，由回管返心右下房，即自入肺管透血脈總管之栱（入肺管與總管之栱，出世後即不相通），然後落下身、兩足之間。胎兒上身大、下身小者，因上身好接好血故也。於是血落下身，行至胯骨盆上，即分一半入足，一半入雙管，繞臍帶而達胎盆。以胎盤為肺之用，改換孬血，復由脂帶而回，輪流不息，直待生出呱呱以啼，肺即開張以呼吸（氣即入肺。西國有驗死兒者，投肺於水以驗浮沉，即知兒死腹中，抑產後故殺，以定其罪），血切更改而運行，造化之工妙如此。</p>
<p>凡男子精力壯健，成孕倍易。若精出無勢，精水稀淡，成孕必難。或陽莖受病，楊梅結毒，皆不成孕。女子陰中受病，子宮受病，子管閉塞，子核有恙，核無精珠，概不受孕。子核之內，裂一珠成一孕，裂雙珠即孿生。如婦人中年病死，剖驗子核，可知其生前受胎次數。西國接生之事，皆以醫士主之，取其諸識血脈臟腑部位，下如中國之用穩婆，而固取狡媼愚婦為也。故成孕受胎及胎前產後事宜，醫士無不深明其理者。</p>

<h1>子宮胞胎圖</h1>
<figure>
<img alt="子宮胞胎圖">
</figure>

<h1>解剖子宮圖</h1>
<figure>
<img alt="解剖子宮圖">
</figure>

<h1>橫生圖</h1>
<figure>
<img alt="橫生圖">
</figure>

<h1>附傳小兒初生拔毒奇方（兼治痧症屢試屢效）</h1>
<p>初生小兒，於三朝日，用雞蛋白調水粉，放在手心，摩擦小兒腰俞、陽關、命門等穴，須臾有毛出如發而粗，長分許，不必拔動，照方連擦三日，毛自脫落，黏於裡衣，依此擦過，可除先天胎毒，痘疹輕稀，令兒易於長養。此法方書不載入，所罕聞傳自閩中老嫗，試之屢驗，但毛之疏密稍有不同。初不解其何故，曾經函詢格致報館，據答考證，西書多種亦未道其所以然。予繼思病症之險者，如羊毛痧、羊毛瘟、羊毛疔及七十二種痧症，本不宜有毛之處，而忽焉見毛，或紅，或白，或黑，危在旦夕，或手足直硬麻木，身發寒熱，或不寒熱而心胸脹痛，神昏，或喉痛，腰腹作脹，或腰中如帶捆住，或指甲青黑，上吐下瀉，或不青黑，不吐瀉，不看。頭頂有細紅毛，急拔去，一面用多年旱菸袋，取筒內煙屎油沖水服之，如味甜而不辣，或不甜不辣，即是對症，隨將煙神沖服，可稱仙丹（按：煙油又有一方，如被蛇咬者，用煙油沖服，可免毒氣攻心）。惟忌食飯粥，只宜酌食蕎麥。若飲油味辣者，須另辨別症。又凡遇此等痧症，用雞蛋白擦前心（指中庭穴）、背心（指肺俞穴）、兩腰眼（即左右兩腎部位）、尾脊（指腰俞穴）五處，每處擦三、四次，如雞蛋白三四分，放在手心輕力擦完為一次。如有脹痛，即在脹處擦之，擦後又脹再擦自安，擦出黑白毛，或如雞毛管樣不可拔動，用新棉花鋪毛上，毛落黏棉。擦後量力放生，以免復發。若用刀針挑刮，不能拔除病根，不如此法多擦自住。此統治七十二痧症之妙法也。夏秋之交，脾濕交盛，滯其升降之機，則濁反厥逆於上，清反抑陷於下，厄於此症者多。尚祈□大君子將此法廣為傳布，俾眾周知，尤令窮鄉僻壤不能延醫服藥者，自知急救之方，益人實非淺鮮。</p>
<p>按：此與小兒擦背法，事同一律。特小兒胎毒秉先天，由漸而深，痧毒由於後天感染而成，其發速而其患較劇耳。</p>
