<header data-type="book">
<h1>藥鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>杜文燮</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1598">公元1598年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆二十六年戊戌劉喬山書林刻本</dd></div>
</dl>
</header>

<h1>序</h1>
<p>或謂持鑑以索貌者，不能得其腠理，而按方以索病者，亦不能神其變通，甚矣，方書之不可盡信也。嗟夫！方亦何負於人哉？唯藥不嘗試，方不經驗，漫立局以幸中者之過也。乃是編也者，首察病原，以補東垣之缺，次辨藥力，以佐仲景之偏；論證則由標本以及經絡，審性則由陰陽以及反畏；至運氣方脈，靡不精研，而常用藥味，又次第序之，以便檢閱，誠古今之明鑑也。考古尋方之士，得是書而存之，則療病不必指掌，審藥不必大觀，無素問而達生，無叔和而知脈，他如心法如辨疑，諸家方術，悉註腳耳，當令隨叩隨應隨效，而斯人之不病於夭札者，信有賴也。若目為群書而弁髦焉，是舍鑑而求之妍媸也，有是哉。</p>
<p><u>萬曆戊戌季夏宛陵仙源杜氏序</u></p>

<h1>新刻藥鑑卷之一</h1>

<h2>寒熱溫平四賦，增補東垣未盡之意</h2>

<h3>藥性（寒門）</h3>
<p>黃芩枯者清肺金，堅者涼大腸、降熱痰，佐白朮則能安胎。黃連瀉心火，而津液自生；除濕熱，而腸胃自厚。薑製降痰。此芩連二藥，若用豬膽汁炒，又能降肝膽之火也。黃柏治痿、定蛔，退伏火而瀉勞熱，滋不足之水，大治陰虛。知母益真陰，治骨蒸之有汗，補腎水，瀉無根之火邪。此柏母二藥，酒炒則性溫，鹽制則下降，皆補陰之要藥也。白芍止瀉痢，補陰血，治心腹虛疼，尤健脾經，其性能補能收，酒炒才妙。赤芍利小水，消癰腫，又為火眼要藥。其性能瀉能散，生用正宜。此赤白二芍，產後勿用，以性帶酸寒，能伐發生之氣也。石羔降胃火，而理頭疼。解肌表而止煩渴。山梔降火極速，從小便泄出，性能屈曲下行。又能清肺胃之煩，止血家之吐衄，必須酒炒微黑。熟地滋腎而益真陰，活血而填骨髓。生地生血而涼心腎。此二地酒洗則性溫，薑製則不泥於膈。天冬止渴補虛，治痰嗽而潤肺，能引熟地而至所補之處。麥冬生脈清心，止煩渴而去肺家伏火，能引生地而至所生之位。柴胡治兩脅俱疼，少陽可引。退往來寒熱，外感宜投。能升胃中之清氣，從左而旋。升麻散手陽明寒邪，療足陽明齒痛。能升胃中之清氣，從右而旋。前胡除內外痰實如神，逐胸脅結氣無雙。犀角解火毒，而療鼻血瘡瘍。安心神，而除煩渴風毒。若使引入胃經，升麻亦可代用。牡蠣澀精而止虛汗，崩漏能醫，必須火煅為良。朴硝開熱結，而通臟腑。瀉實軟堅，雖有停痰可化。大黃乃盪滌之將軍，走而不守。奪土鬱而無壅，破瘀血而下流。牡丹皮治無汗之骨蒸，消下焦之積血，止上焦之吐衄，破血亦宜用也。地骨皮治有汗之骨蒸，亦發風邪，退熱尤宜用也。竹葉逐上氣咳逆喘促，退虛熱煩躁不眠。專涼心火，尤卻風痙。竹茹治心煩嘔噦，腫痛兼療。茵陳卻黃膽風濕，小便能利。菊花收淚明目，治頭風止頭痛。同地黃釀酒，解醉漢昏迷易醒。薄荷清六陽之會首，涼心膈而治頭風，總能清熱。荊芥清頭目，肌表立解。下瘀血瘡痍即散。栝蔞仁下氣消痰，潤肺除嗽。療結胸、通鬱熱於胸中，為治嗽之要藥也。天花粉止渴通經，降膈上之熱痰，乃消渴之聖藥也。槐花止臟血，熱熾淋瀝。茅根止吐血，取汁煎藥。地榆療崩漏、止月經，尤治血痢，下部瀉血莫缺。山豆根解熱毒而止喉疼，嚼汁吞之為妙。桔梗療肺癰而利咽膈，通肺氣而止咽痛。化痰順氣，開提諸藥上行，為舟楫之劑也。乾葛發表解肌，止渴生津。能解酒毒，免傷心肺。木通瀉膀胱火，而利小便。通利關節，隨二便之利藥，而皆能通也。澤瀉利水道，而實大便。退陰汗，庶免淋瀝。但補陰則為不足。枳殼寬中下氣，能攻腸中之積，其性緩而長。枳實消痰削積，能瀉胸中之痞，其性急而速。滑石利小便，尤清六腑之熱。瞿麥治血淋最捷，利小便堪誇。香附米理血氣，開鬱道，乃婦人之要藥。醋煮以溫經，童便炒以潤燥。常山治瘧疾，而化結痰，醋煮免吐。芫花散皮膚水腫發浮，消胸膈痰涎氣逆。大戟消水腫腹滿，除皮膚燥痛，甘遂同功，此二藥俱有破鐵石之能。葶藶定喘消痰，而虛浮可逐。瀉肺氣通小便，炒須紙隔。車前子利小水而實大便，尤能明目。水銀殺蟲，又下死胎。療瘡瘍而除疥蝨。甘草生寒瀉火，炙溫以健脾經。和諸藥而弗爭，解百毒而無憂。青皮破凝氣，厥陰之經可通。削堅積，飲食鬱滯可解。連翹療瘡瘍，消腫毒，又能散諸經之血凝氣聚。若久虛之人，不可輕用。桃仁通經破血，潤大腸之難通。龍膽草去肝經之客熱，除下焦之濕腫。蘇木消產後敗血，而療瘡瘍。桑白皮治喘嗽，瀉肺氣有功，蜜水炙用。海藻治項間瘰癧，消頸下癭囊。偏墜疝氣立止，小便艱難能利。海帶昆布同功，俱為破氣之要藥。漢防己瀉濕氣於膀胱，治腳氣於下部。膽礬主痰氣諸癇，更除熱毒。蘆薈治癲狂諸熱，尤殺疳蟲。薏苡仁多服開胃，且治肺癰。消水腫，治艱步之緩風。壯筋骨，主拘攣之濕痹。沙參主疥癬惡瘡，散諸疝之絞痛。排膿消毒，補五臟之陰氣。鬱金涼心臟亢陽，兼驅血氣作痛，仍散積血歸經。皂莢桃仁，並可通秘。血宜桃行，風用皂通。竹瀝、荊瀝、俱為痰用。但少食用竹，能食用荊。兜鈴卻痰結喘促，清肺家火熱。紫草利水通竅，治目黃成疸，涼疽瘡血熱。胡黃連治口疳，療癰疽，兼解骨蒸之熱。地膚子專利水道，去熱於膀胱。浴身卻皮膚瘙癢，洗眼除熱暗澀疼。夏枯草破癰堅癭瘤結氣，散瘰癧鼠瘻頭瘡。苦參掃遍身癢疹，止卒暴心疼。腸風下血能治，熱痢刮痛堪療。</p>
<p>以上共七十四味</p>

<h3>藥性（熱門）</h3>
<p>附子去臟腑之沉寒，浮而不降。治三陰之厥逆，走而無蹤。反本固陽，童便煮用。乾薑暖中，除寒邪腹痛，兼治嘔吐。引血藥而生新血，虛熱者同功。丁香暖胃冷，而定攻衝，兼除嘔逆。麻黃散寒邪而發表，根止汗以固陽。蔥白橫行，治傷寒下痢，及陽明頭疼。白麵之人，不宜發汗散氣。吳萸療心腹之沉寒，止厥陰之疝痛。干生退寒而散表，炒溫脾胃以和中。砂仁治腹痛，而安胎化食，吐瀉兼醫。白蔻仁下氣寬中，大能消食。治胸冷而補膈上元陽，退目云而散肺中滯氣。莪朮磨脾家之積聚，醋炒最佳。麝香辟邪通竅，亦能出汗。紫蘇發表解肌，療傷風寒甚捷。鹿茸益氣生血，補虛澀精。肉蔻理脾胃、消宿食，小兒吐瀉立止。川椒達下，理六腑之沉寒，加烏梅能止蛔蟲。蓯蓉治男子絕陽不興，療女子絕陰不產。雖能峻補精血，驟用反動大便。胡椒卻心腹冷痛，逐脾胃寒邪，多食則又耗血。雄黃、硫黃，掃疥莫缺。乳香、沒藥，止痛為最，多服則又損骨。烏藥順氣寬中，消食積作疼，逐小兒蛔蟲，為氣痛之要藥。沉香抑陰助陽，降氣補腎。厚桂澀精，亦能暖胃止瀉。桂枝斂汗，又能上升發表。五靈脂定血家之疼痛，能止能行。生薑發散行表，止吐開胃。陳皮補胃和中，去白消痰泄氣。巴豆有盪滌攻擊之能，誠斬關奪門之將。雖能通腸，亦堪止瀉，必須去油取霜。厚朴平胃去濕，而消痰下氣寬中。續斷治崩漏，益精強腳，專療跌撲折傷。川烏散寒邪而消寒積，破陰氣而除冷風。良薑暖脾消食，下氣溫中。又翻胃嘔食可止，腹疼積冷堪除。草果消宿食、卻冷痛，同縮砂溫中，佐常山截瘧。</p>
<p>以上共三十三味</p>

<h3>藥性（溫門）</h3>
<p>藿香理霍亂，使嘔吐止。開胃口，令飲食增。防風治一身之痛，除上焦風邪，誤服反泄上焦元氣。白芷治頭痛、止目淚，解利風寒之要藥。細辛止本經頭痛如神，治諸風濕痹立效。丹參生新血、去惡血，落死胎、安生胎。專調經脈不勻，善理骨節疼痛。仙茅益肌膚、明耳目，助陽道、長精神。補丈夫虛損勞傷，主女人失溺無子，脫腎之要藥也。南星治中風不語稠痰，散跌撲即凝瘀血，須用膽製為佳。骨碎補補骨節傷碎，療風血積疼。破血有功，止血亦效。延胡索調月水氣滯血凝，止產後血沖血暈。杜仲補中益腎，腰痛不能屈者神功，足疼不欲踐者立效。檳榔治後重如神，墜諸氣無雙。若服過多，又瀉了至高之氣。杏仁除胸中氣逆喘促，潤大腸氣閉難通。辛夷主五臟身體寒熱，頭風腦痛堪除，鼻塞竅窒立通。石菖蒲明耳目，開心洞達。除濕痹，可使屈伸。山藥理脾傷止咳，逐腰痛強陰。益母草去死胎、安生胎。行瘀血、生新血，總調胎產諸證。款冬花潤肺瀉火，下氣定喘。治肺癰膿血腥臭，止肺咳痰唾稠黏。紫菀主咳逆痰喘，治小兒驚癇。木香理乎滯氣，窒塞者能通，不足者能補。半夏治痰厥頭痛，和脾胃痰飲，須用薑製，妊娠禁服。白朮補中氣，而止吐止瀉，除痰飲而進食利水。君枳實能消痞膨，佐黃芩可安胎氣。北棗和脾助胃，生薑汁製，又有厚腸之益。人參健脈理中，生津止渴。溫脾胃積冷，定霍亂吐瀉。黃耆益元陽，瀉陰火，略亞人參。實腠理、固盜汗，功倍桂枝。治癰疽、排膿止痛，生肌收口。當歸治一身血病，各隨所使。驅熱痢刮痛，令無壅滯。藁本治頭痛於巔頂之上，散寒邪於巨陽之位。五味生津止渴，而療虛煩益腎，止嗽而收肺氣。若夫風寒之嗽，南者為美。姜蠶治風，去一身之麻痹，又解內毒。秦艽療黃疸，驅頭風。除骨蒸疼痛，止腸風下血。赤石脂下胎衣如推蕩，固腸泄若物塞。烏梅收肺氣，主消渴。除煩止痢瘧，又和中養榮。威靈仙卻皮膚疴癢，寒冷腰疼當用。縮砂溫脾胃、消宿食，止腹痛冷瀉，治赤白泄痢。神麯消宿食，而補脾胃。蒲黃治吐衄唾溺之紅，調產後兒枕之痛。和風腫以通經，兼除積血帶下。若補血止血，炒用為宜。破血消腫，生用方可。香薷主中脘霍亂絞痛，治傷暑小便澀難。散水腫，有徹上徹下之功。熱服恐瀉，必須冷飲。益智溫中順氣，能卻寒邪入內。牽牛除風毒，兼平諸氣，消水腫而通大便。同烏藥則入氣分，隨大黃則侵血分。伏龍肝療吐血，並治難產。百合治肺家勞嗽。鍾乳療熱痰陽痿。大小薊養精安孕，血崩吐衄可除。鹿角霜養血安胎，赤白帶下可澀。珍珠寧神定志，而翳膜能開。山萸益腎補精，暖腰膝而壯元陽。女人可勻經候，老者能節小便。蔓荊子消風腫眼花，太陽頭痛可止。麥芽開胃化食，破症消膨。遠志治小兒驚癇客忤，療婦人血噤失音。增益智慧不忘，和悅顏色耐老。</p>
<p>以上共七十八味</p>

<h3>藥性（平門）</h3>
<p>貝母止嗽生津，專治胸膈稠痰，能降心中逆氣。巴戟天補髓填精。忍冬草散腫消癰。牛膝益陰壯陽，填骨髓，除腰膝痠疼。善理一身虛羸，能助十二經脈。黃精除風濕，壯元陽，健脾胃，潤心肺，旋服年久，方獲奇功。羌活散肌表八風之邪，利周身百節之痛。五加皮去女子陰癢難當，扶丈夫陽痿不舉。多年瘀血能逐，小便遺瀝可止。三稜專破血中滯氣，立消癥瘕積聚。虛人慎用，恐損真氣。麻子仁治風秘，潤腸要藥。海金沙利小水，不伐真陰。山慈菇消癰疽無名疔腫，散癮疹諸般惡瘡。茯苓淡能利竅通便，不走精氣。為除濕行水之要藥，乃養神益智之佳品。枇杷葉治熱嗽無休，利肺臟逆氣。淫羊藿治男子絕陽不興，療女子絕陰不產。紫葳花主崩中癥瘕血閉，治寒熱羸瘦養胎，產後一切諸疾，為血氣痛之要藥也。瓜蒂豁痰吐涎，亦能搐鼻。琥珀通淋活血，少加桂以引經。辰砂極能鎮心，研末入藥調服。龍骨澀精，止瀉斂汗，又能長肉生肌。大腹皮消水腫，利腹脹，黑豆煎汁浸洗。全蠍療風疳，最能解毒。山楂消食醒脾，又行滯氣，小兒多用無妨。小麥止汗養心，須配紅棗為良。豬苓利水行濕，多服恐伐腎氣。龜板補陰弱，而退陰火煎熬。堅筋骨，更療婦人血崩。鱉甲補真陰，而虛勞可復。涼骨蒸，而瘧母能痊。破癥瘕消癰腫，須用醋煮。玄參逐熱消斑，散痰核癰腫，療寒熱往來。驅無名之火邪，清喉中之疼痛。蓮肉醒脾，又能清心，滾水泡去皮心。茯神寧神定志，又止驚悸虛勞。天麻治小兒風疳驚悸，療大人風熱頭痛。草豆蔻治胃脘疼痛，止霍亂吐逆。枸杞子能補氣，去風明目。益元陽，補精治虛。酸棗仁寧心志，益肝補中。斂虛汗，除煩止渴。若睡臥不寧者多用，實則生研，虛則炒用。郁李仁安心志，而驚悸能定。舒氣結，而陽臟和調。柏子仁養心脾，又安神明目。何首烏黑髮須，又除風絕瘧。側柏葉治熱通淋，大益脾土，又止血崩。必須搗汁煎藥，隨月建方取用，蜜水蒸過陰乾。大楓子、蒼耳子，風家要藥。蛇床子、木鱉子，掃疥莫缺。輕粉治瘡疥，又能長肉生肌。枯礬燥濕以去蟲，外科用之護心。童便補陰，利膀胱之鬱熱，通血脈以歸陰分。炒壁土止吐瀉，乃借土氣以回胃氣。鐵鏽水開結如神，取其性重易以墮下。韭汁止吐衄，單服有功。皂莢開結閉，亦豁風痰。竹瀝化痰，非薑汁不能行經。蕤仁除眥爛於雙睛，逐風淫在四肢。鼠黏子治喉痛，而散熱邪，消癮疹而主風濕。通草瀉小腸火鬱不散，利膀胱水閉不行。牛黃止口噤癲狂，安魂定魄。主驚癇寒熱，而神志清寧。菟絲子益陰虛，而除精氣之走泄。健肌膚，堅強筋骨之痠疼。破故紙治腰膝痠疼神效，填骨髓精滑無二。虎骨治胎損，又堅筋骨。阿魏主屍注，又消肉積。棕櫚灰治婦人之血崩。人牙救痘瘡之倒靨。</p>
<p>以上共五十九味</p>

<h2>用藥分根梢</h2>
<p>大凡用藥，須要得法。或微水滲，或略用火烘，濕者候乾，堅者待潤，才無碎末好看，仍忌銼多留久，恐走氣味不靈，旋銼應人，方能取效。根梢各治，尤勿混淆，生苗向上者為根，氣脈上行。入土垂下者為梢，氣脈下行。中截為身，氣脈中守。上焦病者用根，中焦病者用身，下焦病者用梢，蓋根升梢降，中守不移故也。</p>

<h2>製藥資水火</h2>
<p>大都製藥要在適中，過與不及，其失則一。火制四：有煅有炮有炙有炒之不同。水制三：有漬有泡有洗之弗等。水火合制者二：有蒸有煮之不同。餘外製法雖多，總不離此二端，匪故巧為異法，然皆各有意在。酒製升提。薑製發散。鹽制走腎，仍仗軟堅。用醋注肝經，且資住痛。童便制、除劣性降下。米泔制、去燥性和中。乳制助生陰血，蜜制增益元陽，土製補益中焦，麩制勿傷上膈。黑豆湯甘草湯漬曝，並能解毒。羊酥油豬脂油塗燒，容易脆研。剜去瓤者免脹，抽去心者除煩。</p>

<h2>用藥丸散例</h2>
<p>治至高之病者，以酒煎。去濕以生薑引，補元氣以大棗引，發散風寒以蔥白引，去膈上痰以蜜引，通秘結以鐵鏽水引，回胃氣以陳壁土引。散者、細末也，不循經絡，止去胃中及臟腑之積氣。去下部之疾者，其丸極大而光。中焦者丸如梧桐子大。上焦者丸如綠豆大。發散用酒糊，收斂用醋糊，調理脾胃用神麯糊，去濕用薑汁糊。滴水丸者，取其易化也。煉蜜丸者，取其緩化，而氣循經絡也。用蠟丸者，取其難化，而旋旋取效也。</p>

<h2>解藥毒法</h2>
<p>服附子後，身目紅者，乃附毒之過，急用蘿蔔搗汁一大碗，入黃連甘草各五錢、犀角二錢，煎至八分飲之，其毒即解。如解之遲，必然血從七孔中出，決死何待。若無生蘿蔔汁，用子亦可。用生黃豆浸透，搗爛取汁一盅飲之，亦可。或用澄清泥漿水飲之，亦可。服大黃後，瀉利不止者，用烏梅二枚、炒粳米一撮、乾薑二錢、土炒白朮一錢、人參五分、附子去皮錢半、甘草七分、升麻二分、燈心七根煎熟，入壁土一匙，調服即止。服麻黃後，汗出不止者，將病人發披入水盆中，足露出外，再炒糯米半升、龍骨牡蠣藁本防風各一兩，研細末，周身撲之。</p>

<h2>用藥生熟法</h2>
<p>芩連知柏，治病者頭面及手梢皮膚，略用酒炒，借酒力以升上也。治咽之下胸之上者，略用酒浸。治臍之下者生用。熟則升、生則降也。凡用上焦藥，須酒浸曬乾，黃柏知母，乃治下部之藥，久弱之人，必須酒浸曬乾，恐寒傷胃也。大黃酒煨，生熟地黃酒洗，皆是此意。用附子去皮臍，先將鹽水薑汁各半碗，入砂鍋內煮六七沸，再入黃連甘草各五錢、童便煮六七沸，良久撈起，以磁器盛之，伏地氣一夜，曬乾聽用。用麻黃，須要去節，用滾醋略浸片時曬乾，恐大發汗，冬月及表實之人生用，用吳萸將鹽水拌炒，以殺小毒。</p>

<h2>藥性陰陽論</h2>
<p>藥有氣味厚薄不同，輕重不等，寒熱相雜，陰陽相混，或氣一而味殊，或味同而氣異。清陽發腠理，實四肢，清之清者也。濁陰走五臟歸六腑，濁之濁者也。清中清者，養榮於神，濁中濁者，堅強骨髓。氣為陽、氣厚為純陽，氣薄為陽中之陰，氣薄則發泄，氣厚則發熱。味為陰、味厚為純陰，味薄為陰中之陽，味薄則通，味厚則泄。辛甘發散為陽，酸苦湧泄為陰，淡味滲泄為陽，酸苦湧泄為陰。辛甘淡之熱者，為陰中之陽，酸苦鹹之寒者，為陽中之陰。如茯苓淡，為在天之陽也，陽當上行，何為利水而泄下？內經云，氣之薄者，乃陽中之陰，所以利水而泄下，然而泄下亦不離乎陰之體，故入乎太陰也。麻黃甘、為在地之陰也，陰當下行，何為發汗而上升？內經云，味之薄者，乃陰中之陽，所以發汗而上升，然而升上亦不離乎陽之體，故入乎太陽也。附子氣味俱厚，其性熱，乃陽中之陽，故經云，發熱。大黃氣味俱厚，其性寒，乃陰中之陰，故經云，泄下。淡竹乃陽中之陰，所以利小便。苦茶乃陰中之陽，所以清頭目。</p>
<p>藥有寒熱溫涼平和之氣，辛甘淡苦酸鹹之味，升降浮沉之性，宣通補瀉之能。內經曰，補瀉在味，隨時換氣，故升以散之，散其在表拂鬱也。甘以緩之，緩其大熱大寒也。淡以滲之，滲其內濕，利小便也。苦以泄之，泄其上升之火也。酸以收之，收其精散之氣也。咸以軟之，軟其燥結之火也。春氣溫而宜用涼藥，夏氣熱而宜用寒藥，秋氣涼而宜用溫藥，冬氣寒而宜用熱藥，此特四時之正耳，若病與時違，又不拘此例也。假如夏月忌發散，苟表實極重之症，雖用麻黃一兩何妨，其餘可以例推。病在上而宜用升藥，病在下而宜用降藥，病在外而宜用浮藥，病在內而宜用沉藥，故經曰，升降浮沉則順之，謂順其升降浮沉藥味之性也。寒熱溫涼則逆之，謂逆其寒熱溫涼之病也。</p>

<h2>病症標本論</h2>
<p>治病當知標本。先受病為本，後傳流之病為標。如先感輕病而後滋生重病，亦先治輕病而後治重病，於是邪氣乃伏，蓋治其本故也。若先治本，雖病有十餘症皆去矣，不先治本，而治其標，邪氣益甚，病勢益重，不可去矣。若有中滿，無問標本，先治中滿，謂其急也。若中滿復有閉結，亦無論標本，當先治閉結，後治中滿，謂尤急也。除閉結中滿之外，皆先治本，不可不慎也。假如肝受心火之邪，是從前來者為實邪，當瀉其子火也。故經曰，本而標之，先治其本。入肝經藥為引，用瀉心火藥為君，是治實邪之病也。假如肝受腎邪，是從後來者為虛邪，當補其母水也。故經曰，標而本之，先治其標。入腎經藥為引，用補肝藥為君，是治虛邪之病也。</p>

<h2>取方之法</h2>
<p>凡用其味，必用其味之可否。若用其氣，必用其氣之所宜。識其病之標本，及臟腑寒熱虛實微甚緩急，而用其藥之氣味，隨其症而取方也。主治病者為君，佐君者為臣，應臣者為使，此隨病之所宜，而贊成方以用之。君一臣二，奇之制也。君二臣四，偶之制也。去咽嗌之病近。近者奇之。去肝腎之病遠，遠者偶之。汗者不可以奇，下者不可以偶。補上治下制以緩，緩則氣味薄。補下治上制以急，急則氣味厚。薄者則頻而小服，厚者則暫而多服。</p>

<h2>論各經補瀉及專主瀉火藥</h2>
<p>（足厥陰肝經　足少陽膽經）　味辛補酸瀉　氣溫補涼瀉</p>
<p>（足太陰脾經　足陽明胃經）　味甘補苦瀉　氣溫熱補寒涼瀉</p>
<p>（足少陰腎經　足太陽膀胱）　味苦補咸瀉　氣寒補熱瀉</p>
<p>（手少陰心經　手太陽小腸）　味鹹補甘瀉　氣熱補寒瀉</p>
<p>（手太陰肺經　手陽明大腸）　味酸補辛瀉　氣涼補溫瀉</p>
<p>五臟更相平也，一臟不平，以所勝平之。故曰，安穀則昌，絕谷則亡，水去則榮散，谷清則衛榮，榮散則亡，神無所居。仲景云，水入於經，其血乃成，谷入於胃，脈道乃行。故血不可不養，衛不可不溫，血溫衛和，榮衛將行，常有天年。又曰，人之一身，外為陽、內為陰。背為陽，腹為陰。腑為陽，臟為陰。陽中之陽，心也。陽中之陰，肺也。陰中之陰，腎也。陰中之陽，肝也。陰中之至陰，脾也。</p>
<p>黃連瀉心火，枯芩瀉肺火，白芍瀉肝火，柴胡黃連瀉肝膽火，木通瀉小腸火，知母瀉腎火，條芩瀉大腸火，黃柏瀉膀胱火，滑石瀉六經火，梔子瀉屈曲火。</p>

<h2>用藥之法</h2>
<p>寒者熱之，熱者寒之。微者逆之，甚者從之。堅者削之，客者除之。勞者溫之，結者散之，留者行之，燥者潤之。損者益之，驚者平之，逸者行之，上者下之。逆者正治，從者反治。</p>
<p>則肝，法春木酸，生之道也，失常則病矣。</p>
<p>風淫於內，治以辛涼，佐以甘辛，以甘緩之，以辛散之。</p>
<p>則心，法夏火苦，長之道也，失常則病矣。</p>
<p>熱淫於內，治以鹹寒，佐以甘苦，以鹹甘收之，以苦發之。</p>
<p>則脾，法中央土甘，化之道也，失常則病矣。</p>
<p>濕淫於內，治以酸熱，佐以鹹寒，以苦燥之，以淡泄之。</p>
<p>則肺，法秋金辛，收之道也，失常則病矣。</p>
<p>燥淫於內，治以苦溫，佐以甘辛，以辛潤之，以苦下之。</p>
<p>則腎，法冬水咸，藏之道也，失常則病矣。</p>
<p>寒淫於內，治以甘熱，佐以苦辛，以辛發之，以苦堅之。</p>
<p>假如風淫於內，即是肝木失常，火隨而熾，治以辛涼，是用辛金克其肝木，涼水沃其炎火也。余治例此。</p>

<h2>引經藥性</h2>
<p>小腸膀胱屬太陽，藁本羌活是本鄉。三焦膽與肝胞絡，少陽厥陰柴胡強。太陽陽明並足胃，葛根白芷升麻當。太陰肺脈中焦起，白芷升麻蔥白鄉。脾經少與肺部異，升麻兼之白芍詳。少陰心經獨活主，腎經獨活加桂良。</p>

<h2>十八反藥性</h2>
<p>人參芍藥與沙參，細辛玄參及紫參，苦參丹參並前藥，一見藜蘆便殺人。白芨白蘞並半夏，栝蔞貝母五般真，莫見烏頭與烏喙，逢之一反疾如神。大戟芫花並海藻，甘遂以上反甘草。蜜蠟莫與蔥根睹，雲母休見石決明。</p>

<h2>十九畏藥性</h2>
<p>硫黃元是火之精，朴硝一見便相爭。水銀莫與砒霜見，狼毒最怕密陀僧。巴豆性烈最為上，卻與牽牛不順情。丁香莫與鬱金見，牙硝難合京三稜。川烏草烏不順犀，人參又忌五靈脂。官桂善能調冷氣，石脂相見便蹺蹊。</p>

<h2>孕婦禁忌藥性</h2>
<p>蚖斑水蛭及虻蟲，烏頭附子與天雄。野葛水銀並巴豆，牛膝薏苡與蜈蚣。三稜代赭芫花麝，大戟蛇脫黃雌雄。牙硝芒硝牡丹桂，槐花牽牛皂莢同。半夏南星並通草，瞿麥乾薑桃仁通。硇砂乾漆蟹甲爪，地膽茅根都不中。</p>

<h2>六陳藥性</h2>
<p>枳殼陳皮並半夏，茱萸狼毒及麻黃，六般之藥宜陳久，人用方知功效良。陳皮須用隔年陳，麻黃三載始堪行。大黃必用錦紋者，不過三年力不全。醫家不用新荊芥，木賊從來不用鮮。芫花本是陰中物，不怕如絲爛似綿。</p>

<h2>五郁主病</h2>
<p>諸掉眩，皆屬肝木。</p>
<p>掉、搖也。眩、昏亂旋運也。風主動故也。木鬱達之，達、謂吐之也。</p>
<p>諸癢瘡瘍，皆屬心火。</p>
<p>微熱則癢，熱甚則痛。火鬱發之，發、謂疏散之也。</p>
<p>諸腫滿、皆屬脾土。</p>
<p>食飲不消則生濕，濕則生熱。土鬱奪之，奪、謂下之令無壅滯也。</p>
<p>諸膹郁病痿，皆屬肺金。</p>
<p>膹、謂滿也。郁、謂奔迫也。痿、謂手足軟弱，無力運動也。金鬱拆之，拆、謂解表利小便也。</p>
<p>諸收引，皆屬腎水收、謂斂也。引、謂急也。皆寒之用也。水鬱泄之，泄、謂制其沖逆也。</p>

<h2>六氣主病</h2>

<h3>風類</h3>
<p>諸暴強直，支痛緛戾，裡急筋縮，皆屬於風。厥陰風木，乃肝膽之氣也。</p>
<p>暴、卒也。強直、筋勁而不柔和也。支痛、堅固支持，筋攣不柔而痛也。緛戾、筋縮也。謂裡急筋縮，乖戾失常而病也。然燥金主於緊斂，短縮筋勁，風木為病，反見燥金之化，由亢則害承乃制也。況風能勝濕而為燥也。風病勢甚，而成筋縮者，燥之甚也。故諸甚者，皆兼乎燥。</p>

<h3>熱類</h3>
<p>諸病喘嘔吐酸，暴注下迫，轉筋，小便渾濁，腹脹如鼓，癰疽瘍疹，瘤氣結核，吐下霍亂，瞀郁腫脹，鼻塞鼽衄，血溢血泄，淋閉身熱，惡寒戰慄，驚惑悲笑，譫語妄答，衄蔑血汙，皆屬於熱。少陰君火之熱，乃真心與小腸之氣也。喘、火氣也。寒水為陰，主遲緩。熱火為陽，主急數。寒則息遲氣微。熱則息數氣粗，而為喘也。</p>
<p>嘔者，胃氣熱甚則為嘔，火氣炎上之象也。寒亦主嘔，不可執一而論。</p>
<p>吐酸、酸者肝木之味也。由火盛制金，不能平木，則肝木自甚，故為酸也。是以肝熱則口酸。心熱則口苦，脾熱則口甘，肺熱則口辛，腎熱則口咸，又或有口淡者、胃熱也。</p>
<p>暴注、卒泄也。腸胃熱甚，而傳化失常，火性疾速，故如是也。</p>
<p>下迫、後重急痛也。火性燥物故也。</p>
<p>轉筋、反戾也。熱氣燥爍於筋，攣瘛而痛也。言寒者誤，寒雖主於收引，然止為厥逆禁固，屈伸不便，安得為轉筋也。</p>
<p>小便渾濁，寒則清潔，熱則渾濁也。</p>
<p>腹脹如鼓，氣為陽，陽為熱，氣甚，則如是也。</p>
<p>癰、淺而大也。經曰、熱勝血則為癰膿也。</p>
<p>疽、深而惡也。瘍、有頭小瘡也。疹、浮小癮疹也。</p>
<p>瘤氣、赤瘤丹熛，熱勝氣也，火之色也。</p>
<p>結核、火氣熱甚、則鬱結堅硬。如果中核也。不必潰發，但令熱氣散，則自消矣。</p>
<p>吐下霍亂，三焦為水穀傳化之道路，熱氣甚，則傳化失常，而吐瀉霍亂，火性燥動故也。或云、熱無吐瀉，止言停寒者，誤也。</p>
<p>大法吐瀉頗渴為熱，不渴為寒，或熱吐瀉，始得之亦有不渴者，若不止，則亡津液而後必渴。寒本不渴，若亡津液過多，則亦燥而渴也。但寒者、脈當沉細而遲，熱者、脈當實大而數。</p>
<p>瞀、昏也。熱氣甚，則濁亂昏昧也。</p>
<p>郁、怫鬱也。結滯壅塞，而氣不通暢，所謂熱甚則腠理閉密而鬱結也。然寒水主於閉藏，今反屬熱者，是火熱亢極，反兼水化制之故也。</p>
<p>腫脹、熱勝於內，則氣鬱而為腫也。陽氣熱甚，則腹脹也。火主彰顯，升明舒榮，皆腫脹之象也。</p>
<p>鼻塞、窒塞不通暢也。火主䐜膹腫脹，故熱客陽明，而鼻中䐜脹窒塞也。</p>
<p>鼽者、鼻流清涕也。夫五行之理，微則當其本化，甚則兼其鬼賊。經曰，亢則害、承乃制也。以火鍊金，熱極而反為水之樣也。故肝熱甚則出泣，心熱甚則出汗，脾熱甚則出涎，肺熱甚則出涕，腎熱甚則出唾也。</p>
<p>衄者、陽極拂鬱於足陽明，火氣上蒸於肺，則血妄行，而為鼻衄也。</p>
<p>血溢者、血上出也。血泄者、熱客下焦，而大小便血泄也。</p>
<p>淋者、小便澀痛也。熱客膀胱，鬱結不能滲泄故也。又有遺尿不禁者，經曰、腎主二陰，水衰而怫鬱客其部分，二陰鬱結，則痿痹而神無所用，故小便遺失而不能禁止，然則熱症明矣。仲景論少陰病熱極，曰，溲便遺失、狂言、目反直視不轉睛者，腎先絕也。</p>
<p>閉者、大便澀滯也。謂之風熱結者，火甚制金，不能平木，則肝木自旺故也。</p>
<p>身熱惡寒者，熱在表也。寒則腠理閉密，陽氣拂鬱而然也。</p>
<p>戰、動搖也。慄、寒冷也。皆火之象也。此由火熱亢極而戰。反兼水化制之，故戰慄也。</p>
<p>驚者、心卒動而不寧也。火主於動，心火熱甚，故驚也。</p>
<p>惑者、惑亂也。火實、則水衰，失志而惑亂也。</p>
<p>志者、腎水之神。</p>
<p>悲者、肺金所主也。笑者、心火所主也。悲笑而五液俱出者，火熱亢極，而反兼水化制之故也。</p>
<p>譫者、多言也。言為心聲，心熱則多言也。</p>
<p>妄者、虛妄也。火為陽，故外清明而內濁昧。心熱甚、則腎衰，而志不精一，見聞虛妄，而自為問答，神智失常也。</p>
<p>衄蔑血汙者，心火熱極，則血有餘，熱氣上甚，則為血溢汙濁，而見紫黑之象也。</p>

<h3>濕類</h3>
<p>諸痙強直，積飲痞膈，中滿，霍亂吐下，體重胕腫，肉如泥，按之不起者，皆屬於濕。太陰濕土。乃脾胃之氣也。</p>
<p>諸痙強直者，筋勁而不柔和也。陰痙曰柔，陽痙曰剛。故濕過極，則反兼風制之，然兼化者虛象，而實非風也。</p>
<p>積飲者、留飲積蓄，而不散也。</p>
<p>痞者、否而不通泰也。土得燥則消散，得濕則不能消，而為病也。</p>
<p>膈者、阻滯也。腸胃隔絕，而傳化失其常也。</p>
<p>中滿者、土為中州，濕為積飲，痞膈而滿也。</p>
<p>霍亂吐下者，濕為留飲痞膈，而傳化失常也。</p>
<p>體重者、土濕為病，則體重也。</p>
<p>胕腫、肉如泥，按之不起者，土過濕則為泥，是以不起也。</p>

<h3>火類</h3>
<p>諸熱瞀瘛，暴喑冒昧，躁擾狂越，罵詈驚駭。胕腫痠疼，氣逆衝上，禁慄如喪神守。嚏、嘔、瘡瘍、喉痹，耳鳴及聾。嘔湧溢，食不下。目昧不明，暴注、瞤瘛，暴病暴死，皆屬於火。少陽相火之熱，乃心胞絡三焦之氣也。</p>
<p>瞀、昏也。心火熱甚，則神濁昧而瞀昏也。</p>
<p>瘛、動也。惕跳動瘛，火之體也。驚屬心、而脈亦心所主也。</p>
<p>暴喑、卒瘂也。肺主聲，其或火旺水衰，熱乘肺金，則喑而無聲也。經曰、內奪而厥，則為喑俳，此腎虛也。俳、廢也。</p>
<p>冒昧者、矇昧而昏暗也。氣熱神濁，火之體也。</p>
<p>躁擾者、躁動煩熱，擾亂而不寧也。熱甚於外，則肢體躁擾。熱甚於內，則神志躁動。反復顛狂，懊憹煩心，而不得眠也。</p>
<p>狂者、亂而不定也。越者、乖失禮法，而反常也。腎水主志，心火旺、則腎水衰，是以失志而狂越也。經曰，多喜為顛，多怒為狂。故喜為心志，心熱甚，則多喜而為顛。怒為肝志，火實制金，不能平木，故肝實則多怒而為狂也。</p>
<p>罵詈者、言之惡也。水性善，火性惡，若陽盛陰虛，則是水弱火強，而為罵詈也。</p>
<p>驚駭者、驚愕也。君火主之。</p>
<p>胕腫者、熱勝肉而陽氣鬱滯故也。此與濕門胕腫有別。</p>
<p>痠疼者、由火盛制金，不能平肝木，木旺而為火所化。氣逆衝上，火氣炎上故也。</p>
<p>禁慄如喪神守者，禁、冷也。慄、戰慄也。</p>
<p>嚏者、鼻中因癢而氣噴作聲也。鼻為肺竅，癢為火化故也。</p>
<p>嘔、瘡瘍者，皆火使然也。此當與熱門同看。</p>
<p>喉痹者、不仁也。火閉塞也。火主腫脹，熱客上焦，而咽喉溢也。</p>
<p>耳鳴者、耳為腎竅，交會於手太陽少陽、足厥陰少陽之經。若水虛火實，熱氣上乘其經絡，衝於耳中，鼓其聽戶，隨其氣之微甚，而為鳴也。</p>
<p>耳聾者、由水衰火實，熱鬱於上，而使聽戶玄府壅塞，神氣不得通泄也。嘔湧溢、食不下者，火氣炎上，胃膈熱甚，傳化失常故也。</p>
<p>目昧不明者，熱氣鬱之甚也。</p>
<p>暴注者、卒瀉也。</p>
<p>瞤瘛者、惕跳動也。火主動、況脈乃心火之所養也。</p>
<p>暴病暴死者，火性急速故也。</p>

<h3>燥類</h3>
<p>諸澀枯涸，乾痙皴揭，皆屬於燥。陽明燥金，乃肺與大腸之氣也。澀者、澀也。如物濕則滑澤，今遍身內外澀滯，皆屬燥金之化，由水液衰少而燥澀，氣為壅滯，不得滑澤通利，而為麻也。然中寒吐瀉，亡液而成燥者，亦由於此。枯涸乾痙者，枯、不榮身也。涸、無水液也。干、不滋潤也。痙、不柔和也。皴揭者、皮膚啟裂也。干為天而為燥金，坤為地而為濕土，天地相反，燥濕異用，濕土旺於長夏，則萬物滑澤榮茂，燥金旺於秋冬，則萬物肅斂，燥澀皴揭之理，皆燥氣之化也。燥金主收斂，不可不知。</p>

<h3>寒類</h3>
<p>諸病上下所出，水液澄澈清冷，癥瘕㿗疝，堅痞腹滿急痛，下痢清白，食已不飢，吐利腥穢，屈伸不便，厥逆禁固，皆屬於寒。足太陽寒水，乃腎與膀胱之氣也。</p>
<p>上下所出，澄澈清冷者，水穀不化，而吐利清冷，為病寒也。</p>
<p>症者、腹中堅硬，按之應手也。然水體柔順，今反堅硬如地者，亢則害承乃制也。如病濕過極則反燥，而筋脈勁急者，反兼金化制之也。病燥過極則煩渴，反兼火化制之也。熱病過極而反出五液，或為戰慄惡寒者，反兼水化制之也。</p>
<p>瘕者、腹中雖硬，而忽聚忽散，無有常准。經曰，小腸移熱於大腸，兩熱相搏，則血溢而為伏瘕也。然則經言瘕病，亦有熱者也。或陽氣鬱結，拂熱壅滯，而為堅硬不消者，又非寒病症瘕也，當以脈症辯之。</p>
<p>㿗疝者、小腹控卵腫急絞痛也。寒主拘縮故也，寒極而土化制之，故腫痛也。經曰，疝脈急。注云，脈急者、寒之象也。然寒脈當短小而遲，今言急者，何也？豈不曰緊脈主痛，急為痛甚。然疝之濕熱者，何以別之，若脈緊急兼洪數，則又為熱痛之類也，不可不知。</p>
<p>堅痞腹滿急痛者，寒主拘縮，故急痛也。又有熱鬱於內，而腹滿堅結痛者，又不可例言為寒也。</p>
<p>下痢清白者，水寒則清淨明白也。</p>
<p>食已不飢者、胃熱則消穀善飢，病寒則雖食已、而難腐化也。亦有邪熱不殺穀，而腹熱脹滿，雖數日不食，亦不飢者，又不可以寒目之。</p>
<p>吐利腥穢者、腸胃寒而傳化失常也。故寒勝則火衰金旺，而吐利腥穢也。腥、金之臭也。</p>
<p>屈伸不便，厥逆禁固者，寒則四肢逆冷，而禁止堅固，舒捲失常，不便利也。</p>

<h2>病機賦</h2>
<p>明藥脈病機之理，識望聞問切之情。藥推寒熱溫涼平和之氣，辛甘淡苦酸鹹之味，升降浮沉之性，宣通補瀉之能。脈究浮沉遲數滑澀之形，表裡寒熱虛實之應。藥用君臣佐使，脈分老幼肥瘦。老人脈濡，小兒脈數。瘦者脈大，肥者脈細。病有內傷外感，風寒暑濕燥火之機。治用宣通補瀉滑澀濕燥重輕之劑。外感異於內傷，外感有餘，內傷不足。寒證不同熱證，直中之邪為寒，傳經之邪為熱。外感宜瀉，內傷宜補。寒證可溫，熱證可清。外感風寒，宜分經而解散。內傷飲食，可調胃以消熔。胃陽主氣，司納受，陽常有餘。脾陰主血，司運化，陰常不足。胃乃六腑之本，能納受水穀，方可化氣液。脾為五臟之本，能運化氣液，方能充榮衛。胃氣弱，則百病生。脾陰足，而諸邪息。調理脾胃，為醫中之王道。節戒飲食，乃卻病之良方。病多寒冷鬱氣，氣鬱發熱。寒為風寒外感，晝夜發熱。冷為生冷內傷，午後發熱。或出七情動火，火動生痰。有因行藏動靜，以傷暑邪。或是出入雨水，而中濕氣。亦有食飲失調，而生濕熱。或有房勞過度，以動相火。制伏相火，要滋養其真陰。祛除濕熱，須燥補其脾胃。外濕宜表散，內濕宜淡滲。陽暑可清熱，陰暑可散寒。尋火尋痰，分多分少而治。究表究里，或汗或下而施。風寒則汗之，謂溫散也。生冷則下之，謂滲利也。痰因火動，治火為先。火因氣生，理氣為本。治火，輕者可降，重者從其性而升消。理氣，微則宜調，甚則究其源而發散。實火可瀉，或瀉表而或瀉里，指外感也。虛火宜補，或補陰而或補陽，指內傷也。暴病之謂火，怪病之謂痰。寒熱燥濕風，五痰有異。溫清燥潤散，五治不同。有因火而生痰，有因痰而生火。或郁久而成病，或病久而成郁。金水木火土，五郁當分。泄拆達發奪，五治宜審。鬱則生火生痰而成病，病則耗氣耗血以致虛。病有微甚，治有逆從。微則逆治，以寒藥治熱，以熱藥治寒。甚則從攻，以寒藥治熱，佐以熱藥。以熱藥治寒，佐以寒藥。病有標本，治有緩急，急則治標，緩則治本。法分攻補，虛用補而實用攻。少壯新邪，專攻是則。老衰久病，兼補為規。久病兼補虛，而兼解鬱，陳症或盪滌，而或消溶。積在腸胃，可下而愈。塊居經絡，宜消而痊。婦人氣滯血瘀，宜開血而行氣。男子陽多乎陰，可補陰以配陽。氣病血病，二症宜分。陽虛陰虛，兩般勿紊。氣病陽虛，晝重夜輕，自子至巳為陽。血病陰虛，晝輕夜重，自午至亥為陰。陽虛生寒，寒生濕，濕生痰，陽為氣，為真火。陰虛生火，火生燥，燥生風，陰為血，為真水。陽盛陰虛則生火，火逼血而錯經妄行。陰盛陽虛則生寒，寒滯氣而周身浮腫。陽虛畏外寒，陽氣虛不能衛外，故畏外寒。陰虛生內熱，陰氣虛不能配血，故生內熱。補陽補氣，用甘溫之品。滋陰滋血，用苦寒之流。調氣貴用辛涼，氣屬陽，無形者也。氣鬱則發熱，宜用辛涼之藥以散之。和血必須辛熱，血屬陰，有形者也，血積則作痛，宜用辛熱之藥以開之。氣陽為血陰之引導，血陰乃氣陽之依歸。陽虛補陽，陰虛滋陰，氣病調氣，血病和血。陰陽兩虛，惟補其陽，陽生而陰自長。氣血俱病，只調其氣，氣行而血自隨。小兒純陽而無陰，老者多氣而少血。肥人氣虛有痰，宜豁痰而補氣。瘦者血虛有火，可瀉火以滋陰。膏粱無厭發癰疽，燥熱所使。淡薄不堪生腫脹，寒濕而然。北地聳高，宜清熱而潤燥。南方卑下，可散濕以溫寒。奇偶復大小緩急，七方須知。初中末三治要察，初則發攻，中則調和，末則收補。寒因熱用，熱因寒用，通因通用，塞因塞用。通因通用者，通其積滯，而下焦自然開密也。塞因塞用者，塞其下流，而上焦自然開豁也。風能勝濕，濕能潤燥，辛能散結，甘能緩中，淡能利竅，苦能泄逆，酸以收耗，咸以軟堅。升降浮沉則順之，寒熱溫涼宜逆也。病有淺深，治有難易。初感風寒，乍傷飲食，一藥可愈。舊存痃癖，久患虛勞，萬方難療。臨病若能三思，用藥終無一失。略舉眾疾之端，俾為後學之式。</p>

<h2>脈病機要</h2>
<p>醫有王佐，法有反正。難辯必辯，難明必明，其明以理，其辯以因。治從其先，機握其神。遲硬兩見，附子兼行薑桂。實數雙形，大黃必佐連芩。調胃承氣，治痢下之遲滑。鹿茸官桂，救浮數之無根。氣虛血衰，別軟弱之相似。有汗無汗，辯疾緊之雷同。緊似疾而硬，其象曰寒。疾似緊而軟，其象曰風。血衰、軟大如綿。氣虛、微弱似空。朮附斂浮數無力之勞倦，知柏救沉數有力之勞蒸。里和表病，汗之則愈。表和里病，下之則痊。沉實不愈，可以再下。浮緊不差，可以再汗。寸緊雖閉勿下，尺遲雖熱勿汗。浮沉遲而且濡，表裡寒濕之生料。上下滑而且數，內外熱燥之通聖。陰盛於內者格陽，陽盛於內者格陰。厥而怔忡者水，怔忡而厥者虛。陽明狂言，有不數之脈。少陰下利，有當通之機。便難便易，喘而不臥者燥屎。腹痛腹脹，小便反易者血禁。欲吐不吐必瀉，欲瀉不瀉必疼。婦人氣滯，先開其血。男子多陽，急配其陰。老人以扶陽為主，小兒以啟脾為聖。難生臍築之愁痛，不治溫熱之脈沉。奇哉偷關之法，壯哉提蓬之能。實母三，虛母二，此是條目。虛先微，實先甚，此是綱領。</p>

<h2>運氣訣要</h2>
<p>百病根源，運氣為先。明經絡、曉真機。浮沉遲數分寒熱，子母后先法自奇。</p>
<p>百病生於氣，生死決於運。六氣、本也。五運、標也。經所以知臟腑。絡所以通經氣。知經則法不亂，知絡則藥可使。子母者、本部之前後也。後先者、後其標而先其本也。甲運克腎，腎虛者病之，忽脾自病，腎之子復至也，肝不能復，則腎死矣。戊運克肺，肺虛者病之，忽心自病，肺之子復至也，腎不能復，則肺死矣。壬運克脾，脾虛者病之，忽肝自病，脾之子復至也，肺不能復，則脾死矣。此三臟者，今傷則重，原傷則輕，寡復也，寡復則死，死不待於會符太乙也。庚運克肝，肝虛者病之，忽肺自病，肝之子復至也，心不能復，則肝死矣。丙運克心，心虛者病之，忽腎自病，心之子復至也，脾不能復，則心死矣。此二臟者，今傷則輕，原傷則重，寡復也，寡復則死，死必待於會符太乙也。凡合死有不死者，何哉？子母之救多也，或復至治其復而愈也。有病腎而非甲，病肺而非戊，病脾而非壬，病肝而非庚，病心而非丙，病腎而非長夏，病肝而非秋冬，病脾而非春木，病肺而非夏火，病心而非冬水，此病不關於運氣，病在中也。或不在中，當查前運前氣，又不相關，此一時病也，病雖重不死，何也？機輕故也。</p>

<h2>論升麻柴胡</h2>
<p>天地四時之令，春夏之氣溫而升浮，則萬物發生。秋冬之氣寒而降沉。則萬物肅殺。人肖天地，常欲使胃氣溫而升浮，而行春夏發生之令，不欲使胃氣寒而降沉，而行秋冬肅殺之令。蓋升麻能令清氣從右而上達，柴胡能令清氣從左而上達。經曰，清氣在下，則生飧泄，濁氣在上，則生䐜脹。是以清氣一升，則濁氣隨降，而無以上等症。</p>

<h2>論升麻柴胡檳榔木香四味同用功效</h2>
<p>病在上膈，法當用木香檳榔以降之。病在下膈，法當用升麻柴胡以提之，此常理也。然或泄瀉脫肛後重，疼不可忍，是乃氣下陷也，法當舉之，以升麻柴胡，和之以木香，攻之以檳榔。或曰，四藥同劑，不無升降混淆，奚有治病歸一之功也。曰，天生藥石治其病，各有其能，如仲景立大柴胡湯，用柴胡大黃同劑，以治傷寒表裡俱見之症，然柴胡升散外邪，大黃降泄內實，使病者熱退氣和而愈。故用升麻柴胡，自能升清氣而上行，檳榔木香，自能逐濁氣而下降，能使脫肛舉而後重除，自可同劑而成功矣。何疑之有。</p>

<h2>論十全大補湯當用不當用之要訣</h2>
<p>虛損之疾，世醫例用十全大補湯以補之，其方實為虛損之關鍵也。方用參耆苓朮甘草以補氣虛，用歸芎地黃芍桂以補血少，此方乃為真氣血兩虛而設，或血虛而氣尚實，或氣虛而血尚充，又不可一例施也。蓋藥性各有能毒，中病者借其能以付安，不中病者，徒惹毒以增病耳。如心脾二經虛，當用茯苓補之，虛而無汗，及小便短少者，服之有功，虛而小便數者，服之令人目盲，虛而多汗者，久服損其元氣，夭人天年，以其味淡而利竅也。如肺氣弱及無陽之虛者，當以參耆補之，然肥白人及氣虛而多汗者，服之有功。若蒼黑人及腎氣虛而未甚虛者，服之必滿悶不安，以其性滯而閉氣也。甘草健脾補中，乃瀉火除燥之良劑，然嘔吐與中滿並嗜酒之人，服之多斂膈不行，而嘔滿增劇，以其氣味之甘緩也。川芎補血行血，清利目首之聖藥，然骨蒸多汗，及氣弱之人服之，則真氣走散，而陰虛愈甚，以其氣味之辛散也。生地黃能生血脈，然胃氣弱者服之，防損胃不食。熟地黃補血養血，然痰火盛者服之，恐泥膈不行。人參為潤肺健脾之藥，元氣虛損者，不可缺也。如久嗽勞喘咯血，鬱火在肺者服之，必加嗽增喘不寧，以其氣味之甘溫滯氣也。白芍為涼血益血之劑，血虛腹疼者，不可缺也。若形瘦氣弱，稟賦素虛寒者服之，反伐發生之氣，以其氣味之酸寒也，用方者當慎之。</p>

<h1>新刻藥鑑卷之二</h1>

<h2>人參</h2>
<p>氣溫味甘，氣味俱輕，陽也。亦有微陰，故溫中微寒，甘中微苦，入手太陰而能瀉心火也。還須配茯神佐棗仁為良。治脾肺，壯元陽，補而緩中，氣短氣促氣少者俱用，更瀉脾肺胃中火邪。氣不足而亡血者，須參補之。裡虛而腹痛者，亦參補之。且通經活血，乃氣中之血藥也，生脈散中用之，正以經通血活，則脈生矣。古人用之於解散藥及發表藥者，取其通經走表也。又曰，肺寒方可服者，何也？蓋肺惟寒則脈濡滯而行遲，假參之力而通經活血，則元氣遂生髮矣。肺熱又傷肺者，何也？蓋肺惟熱則氣血激行，再加通迅，則助激速，而肺氣遂耗散矣。與蜜炙黃耆同用，則助其補表。與土炒白朮同用，則助其補中。用升麻為使，而佐以柴胡，則能引之上升而補上。用熟地為使，而佐以白茯，則能引之補脾胃，及腎中之虛寒。多用麥冬，大能止渴生津。加以山楂，極會去滯消積。手經有疾，桂枝為使。足經有疾，附子為使。大哉參之功乎，其補中益氣之要藥乎，其和中溫元之聖德乎。氣藥用之以補氣固矣，然血藥用之，亦能補血者，何也？蓋血附氣而行，氣行則血行，此其理也，苟不少加參以引導之，則血且滯矣，雖有諸補血之藥，竟何用哉。況血、陰也，氣、陽也，獨陰不成，必借陽氣一噓，而後陰賴之以受成，此陽昌陰和之妙用，顧學者自悟何如耳。經曰，一陰一陽之謂道，旨哉斯言也。痘家灰白虛寒之症，酌宜重用，若紅紫實熱者，乃肺熱痰盛，不可輕犯。反藜蘆，畏靈脂。</p>

<h2>黃耆</h2>
<p>氣薄味甘性溫，無毒，升也，陽也。其用有四：溫分肉而實腠理，益元氣而補三焦；內托陰症之瘡痍，外固表虛之盜汗。如癰疽已潰者多用，從里托毒而出。又能生肌收口，補表故也。大都表邪旺者不可用，用之反助邪氣。就陰氣弱者論之，亦宜少用，若用之以升元氣於表，則內反虛耗矣。又表虛有邪，發汗不出者，服之自汗。此藥大益胃氣，能解肌熱，故人參黃耆甘草三味，退虛熱之聖藥也。入手少陽足太陰少陰腎命門之劑。蜜炙用之，大能止汗，生用又能發汗。人參非此則不能補，故為補中益氣之要藥也。用之於痘家，與前參同，但實熱之症，比參尤加謹焉。惡鱉甲。</p>

<h2>白朮</h2>
<p>氣溫，味甘苦而甘溫，味厚氣薄，無毒，可升可降，陰中陽也。入手太陽少陰兼足陽明太陽少陰厥陰。除濕益燥，和中益氣，利腰臍間瘀血，除胃中邪熱。利水道、有除濕之功，強脾胃，有進食之效。佐黃芩有安胎之能，君枳實有消痞之妙。與二陳同用，則化痰除濕，消食健胃。與白芍當歸枳實生地之類同用，則補脾而清脾家濕熱。與乾薑同用，去脾家寒濕。與黃連同用，去脾家熱濕。大哉白朮之功乎，其去諸經之濕藥乎。痘家毒盛尿多，切宜禁忌。若見水泡之症，須用麻黃根汁浸透炒之，取其達表以利水道也。</p>

<h2>甘草</h2>
<p>氣平味甘，陽也。入足厥陰太陰二經。生用則寒，炙之則溫。生用瀉火，炙則溫中。能補上中下三焦元氣，和諸藥解諸急。熱藥用之緩其熱，寒藥用之緩其寒。補陽不足，中滿禁用。梢子生用，去莖中之痛。胸中積熱，非梢子不能除。節治腫毒，大有奇功。養血補胃，身實良方。除邪熱，利咽痛，理中氣。堅筋骨，長肌肉。通經脈，利血氣。止咳嗽，潤肺道。又炙之能散表寒，故附子理中用之，恐其僭上也。調胃承氣用之，恐其速下也。二藥用之，非和也，皆緩也。小柴胡有柴芩之寒，有參夏之溫，其中用甘草者，則有調和之意。中不滿而用甘為之補，中滿者而用甘為之瀉，此升降浮沉之妙也。經云，以甘補之，以甘瀉之，以甘緩之，此之謂也。痘家用之解毒，以和中健脾，若頭面毒盛者，於解毒湯中多用之，取其緩諸藥，使之上攻頭面故也。反甘遂大戟芫花海藻。</p>

<h2>桂皮</h2>
<p>味辛性熱，有毒，氣味俱薄，浮也，陰中之陽也。大都有四等，其在下最厚者曰肉桂，去其粗皮而留其近木之味厚而最精者云桂心，入二三分於補陰藥中，則能行地黃之滯而補腎，由其味辛屬肺，而能生腎水，性溫行血，而能通凝滯也，能通血脈凝滯，其能補腎必矣。在中次厚者曰官桂，主治中焦有寒，在上薄者，走肩臂而行肢節之凝滯，肩臂引經多用之。其在嫩枝最薄者曰桂枝，傷寒傷風之有汗者宜用之，以解微表也，非固表也。惟有汗者，表虛邪微，故用此氣薄辛甘之劑，以輕散之，則汗自止，豈有辛甘之劑，能固表哉。痘家於活血藥中，少佐薄桂一二分，則血行而痘自通暢矣。又能治冷氣肚疼。若體熱血妄行者，切宜禁忌。畏石脂，妊婦戒用。</p>

<h2>乾薑</h2>
<p>氣熱，味大辛，氣味俱厚，可升可降，陽也。散肺氣，與五味子同用，能治咳嗽。與實陰藥同用，能治血虛發熱。入肺藥中，能利肺氣。入腎藥中，能燥下濕。引氣藥入氣分，引血藥入血分。主治沉寒痼冷，腎中無陽，脈氣欲絕者，黑附子為使。又云，發散寒邪，不可多用，多用則耗散元氣，辛以散之，是壯火食氣故也。見火候、故止而不移，所以能治裡寒。故丹溪曰，生用入發散中，能利肺氣而治嗽。熟用入補中藥，能和脾家虛寒。既曰理中，又曰泄脾，何也？蓋泄之一字，非泄脾之正氣，是泄脾中寒濕之邪，故以辛熱之劑燥之，此以名泄也。痘家灰白之症用之，若實熱紅紫者，切宜禁忌。孕婦勿用。</p>

<h2>生薑</h2>
<p>味辛性溫，無毒，氣味俱厚，升也，陽也。製半夏，有解毒之功。佐大棗，有厚腸之益。溫經散表邪之風，益氣止翻胃之疾。古云通神明去穢惡者，何哉？蓋以本屬肺心之系也，心惟得其所勝，則氣通而宣暢，故能通神明，神明通，是心氣勝，而一身之氣皆為吾所使，而亦勝矣，一身之氣勝，則邪氣不能容，故能去穢惡。抑且辛甘發散，則能散在表在上之邪也，故生薑能治咳嗽痰涎，止嘔吐，開胃口，主傷寒傷風，頭疼發熱，鼻塞咳逆等症。又曰，欲熱即去皮，去皮則守中而熱存也。要冷即留皮，留皮則行表而熱散，非皮之性本冷也。</p>

<h2>附子</h2>
<p>味辛性熱，有大毒，氣味俱厚，浮也，陽中之陰也。其性浮而不沉，其用走而不守。除六腑之沉寒，補三陰之厥逆。仲景八味丸用為少陰之嚮導，正取其健悍走下之性，以行地黃之滯，人以為補，則誤矣。血藥用之，行經而能補血。氣藥用之，行經而能補氣。非大虛寒之症，不可輕用。孕婦勿用。</p>

<h2>細辛</h2>
<p>氣溫味辛，氣厚味薄，無毒，浮而升，陽中陰也。止諸陽頭疼，風痹痛，開胸中滯，益肝膽明目，利九竅，眼淚、齒痛，凡頭面諸風，不可缺也。東垣用之治邪在裡之表，本草主治咳逆，百節拘攣，最能溫中下氣破痰，蓋味本辛也。予嘗用之以利水道，何哉？不知諸辛入肺，肺氣賴辛以通暢，則滲下之官得令，所以能利水道也。大都不可重用，恐成氣閉之患。痘家氣粗，切不可用。</p>

<h2>丁香</h2>
<p>氣溫味辛，純陽無毒，入手太陰足陽明少陰三經。溫脾胃，止霍亂。消痃癖，氣脹翻胃。腹內冷痛，壯陽暖腰。去胃寒，定嘔酸，殺酒毒。與五味子同用，亦治奔豚之氣。能泄肺，能補胃，大能療腎，極能止泄。痘家內熱禁忌。畏鬱金。</p>

<h2>木香</h2>
<p>氣熱，味辛苦，氣味俱厚，降也。蓋苦入心，辛入肺，故入心而調諸氣。胸腹中壅滯、及冷氣，並經絡中氣滯痰結者，皆當用之。補遺以為行肝氣者，何哉？以心乃一身之主，一身氣血之所聽命也。心有主，則能帥氣，肺氣調，則肝家動火自伏，惟人有怒氣，則肝家拂逆，而反忤其氣。況心有縱肝之情，而不能制，則肝氣於是盛矣，或為拂鬱者有之，或為攻衝者有之，於此得木香之苦辛溫散入心，惟苦辛溫散入心，則心氣疏暢，則氣亦從而疏暢矣，氣暢則肝氣之拂逆者無有矣，實心之行乎肝氣也，非肝氣之自行也，此又不可不知。又煨用能入大腸，多用能泄肺氣，東垣以黃連制之，蓋氣行過於通暢，不無走泄之患也。降氣定痛，功為最上。痘家實熱，切宜深忌。</p>

<h2>當歸</h2>
<p>氣溫，味辛甘，氣味俱輕，可升可降，陽也。多用，大益於血家，諸血證皆用之，但流通而無定，由其味帶辛甘而氣暢也，隨所引導而各至焉。入手少陰，以其心主血也。入足太陰，以其脾裹血也。入足厥陰，以其肝藏血也。與白朮白芍生地同用，則能滋陰補腎。與川芎同用，則能上行頭角，治血虛頭疼。再入白芍木香少許，則生肝血以養心血。同諸血藥入以薏苡仁牛膝，則下行足膝，而治血不榮筋。同諸血藥入以人參川烏烏藥薏苡仁之類，則能榮一身之表，以治一身筋寒濕毒。佐黃耆人參，皆能補血。佐牽牛大黃，皆能破血。從桂附則熱，從硝黃則寒。入和血藥則血和，入斂血藥則血斂。入涼血藥則血涼，入行血藥則血行，入敗血藥則血敗，入生血藥則血生，各有所歸也，故名當歸。痘家大便閉結，由熱毒煎熬真陰，以致大腸經血少故耳，玄明粉中重加當歸，則血生而大腸自潤矣。或曰，痘瘡臨收之際用之，恐行血作痛，此又不通之論也，蓋腸胃既燥，則血藥盡能里潤腸胃，將何者外行痘瘡哉。經云，有故無殞，亦無殞也，其斯之謂乎。便泄者勿用。</p>

<h2>芍藥</h2>
<p>氣微寒，味酸苦，氣薄味厚，有小毒，可升可降，陰也。入手足太陰二經。生用則降，酒浸可升。其用有赤白之異，赤者瀉熱，白者補虛，赤者能瀉肝家火，故暴赤眼洗與服同。白者佐炙草，能治腹痛，但夏月少加黃芩，如惡寒者，加肉桂一錢、白芍三錢、炙草錢半，此仲景之神方也。與白朮同用，則能補脾。與川芎同用，則能瀉肝。與人參白朮同用，則補益元氣。又下痢腹痛者宜用，蓋由腸胃濕熱，故用此收斂之劑，則脾胃得正，而邪毒不能作禍矣。腹中有寒而疼，當煨用之。婦人產後，及血虛之人，必須酒炒。古人四物湯用此劑之寒酸，以收當歸之辛散耳。痘家血熱，及血不歸根者，用此酸寒之劑，以斂血歸根極妙，但血寒痘不發者勿用。反藜蘆。</p>

<h2>熟地黃</h2>
<p>氣寒，味甘苦，無毒，氣薄味厚，沉也，陰中陽也。惟其性寒泥滯，故用醇酒洗過，或薑汁炒過，或同附子用，不惟行滯，且能導引入腎，下元血虛者，必須用之。又能填骨髓、長肌肉。尺脈微者，桂附相宜。尺脈旺者，宜用黃柏知母，則滋陰降火補腎。善黑鬚發。佐鹿角膠極能補血。但此劑泥膈，不宜獨用。若犯鐵器，令人消腎。忌萊菔子，恐耗諸血。痘家勻氣藥中用之，便泄則禁。</p>

<h2>生地黃</h2>
<p>氣寒，味甘苦，無毒，氣薄味厚，沉也，陰中陽也。性雖大寒，較熟地則猶宣通而不泥膈，故能涼心火之血熱，瀉脾土之濕熱，止鼻中之衄熱，除五心之煩熱。其或虛而生熱者，不可多用，以性大寒故也。惟勞倦傷脾熱者當用，以脾經大絡之血損也。女人崩中血不止，產後血上攻心，胎動下血，老人津液枯絕，大腸燥結不潤者，皆當用之。又實脾藥中用二三分，以固脾氣，使脾家永不受邪，但不可多用，以大寒恐倒脾氣也。或用薑汁炒，或用醇酒洗，或用砂仁酒浸，皆制其寒性，免泥滯也。忌鐵器。痘家血熱之症，宜用之以涼血解毒，便滑者禁用。</p>

<h2>川芎</h2>
<p>氣溫，味辛，無毒，氣厚味薄，升也，陽也。血藥中用之，能助血流行，奈過於走散，不可久服多服，中病即已，過則令人暴卒死。能止頭疼者，正以有餘，能散不足，而引清血下行也。古人所謂血中之氣藥者，以能辛散，又能引血上行也。癰疽藥中多用之者，以其入心而能散故耳，蓋心帥氣而行血，川芎入心，則助心帥氣而行血，氣血行，則心火散，邪氣不留，而癰疽亦散矣。東垣謂下行血海者，非也。何者？血貴寧靜，不貴疏動，川芎味辛性溫，但能辛散，而不能下守，胡能下行以養新血哉，即四物湯中用之，特取辛溫以行地黃之滯耳。痘家血不活者，用杏仁汁制之，加少許，以行肌表之血，何也？蓋芎之辛，但能行血，單用恐成內燥之患，必須杏仁汁制，外借之以行表，內借之以潤燥。若痘黑陷爛，則勿用。</p>

<h2>鹿角膠</h2>
<p>氣溫，味苦鹹，氣薄味厚。生精血，秘精髓，止血崩，除腰脊之疼，補虛羸勞絕之劑，血家之聖藥也。與川芎同用，上補頭角，及面部之血。與白芍當歸同用，中補脾胃之血，使脾胃永不受邪。與熟地同用，下補腎家之陰。與條芩槐角同用，能補大腸之血而涼之。隨其所至，而各有所補焉。予嘗治一人腸風下血並血痢者，諸藥不效，即用鹿角膠以治之，服一斤愈。或問其故，予曰，大腸雖云多血，亦多氣也，其人患血病數月，則血愈虧，而氣愈盈，邪火灼真陰，即草根樹皮，安能療之哉。故用鹿角膠為主，人乳為輔，大佐以涼血藥，則血生以配氣，而氣不得逼血妄行，故其患乃止。方用鹿角膠一斤。何首烏赤者六兩，分三制，一用旱蓮草汁浸，一用冬青子汁浸，一用桑椹汁浸，當歸六兩制同。白芍三兩，川芎一兩，自己發漆一兩，胎髮漆一兩，曬熟地五兩，茯神四兩，乳浸加倍為良，渾沌皮一付，俱為細末，煉蜜和膠為丸。久服諸病不染，極能黑鬚發，美顏色，壯精神，填骨髓，固腎元。內加家白菊乳制，又能明目清心。此天一生水之要藥也，痘家熱症，用之於涼血解毒藥中立效。蓋熱毒既盛，則真陰為其所灼爍矣，真陰既損，則熱毒用之益熾，世之治者，每每用解毒湯單服，是救一息之危，不知真陰不至，則熱邪雖退，刻即生矣。予嘗用此劑於涼血解毒藥中以養陰，則養陰者，乃所以退陽也，悟者得之。又脾泄之人，服之亦妙。藥後不可食鹿肉，鹿肉忌雉肉。</p>

<h2>阿膠</h2>
<p>氣微溫，味甘平，無毒，降也，陽也。能保肺氣，養肝血，補虛羸，故止血安胎，止嗽止痢，治痰治痿，皆效。惟久嗽久痢久痰，及虛勞失血之症者宜用。若初發邪勝者，不可驟用，恐強閉其邪，致生他證也。倘肺家要用，須用桑白皮同劑，以監製之，立效。何者？蓋阿膠斂肺之藥，桑白皮瀉肺之藥，以此監彼，但取阿膠之能，而瀉阿膠之斂故耳。若痢家要用，即多枳殼檳榔，無有不可，此又通變之妙用也。</p>

<h2>犀角</h2>
<p>氣寒，味苦酸鹹，無毒，升也，陽也。本草主解心熱，止煩亂，安心神，鎮諸驚，何謂哉？蓋寒能制熱，苦能泄火，寒苦入心，則心熱解，而煩亂止矣，熱解煩止，更兼酸以斂神，則神安矣，心定神安，而血以養筋，則驚鎮矣。其曰明目者，蓋火熱下行爍腎，故目昏。其曰清音者，蓋火熱上行逼肺，故音啞，今火熱既去，且又鹹以滋腎，則水又足以勝火，而目之所以明者，此也，音之所以清者，此也。大都傷寒瘟疫，風腫瘡瘍諸症，皆火熱為之也，今火熱既去，則邪不得以奪正，而寒疫之所以除者，此也，腫瘍之所以消者，此也。易老云：上焦蓄血，犀角地黃湯主之。中焦蓄血，桃仁承氣湯主之。下焦蓄血，抵當湯主之。三法宜知，不可忽也。痘家熱症，逼血妄行，及煩悶小便赤澀，並痘色紅紫者，宜用之以解熱，若虛寒症勿用。畏川烏草烏。</p>

<h2>麥冬</h2>
<p>氣微寒，味甘平，無毒，降也，陽中微陰也。陽乃肺藥，微陰去肺中之伏火，火去則肺金生，金生則煩渴止，而心亦清矣，心清而神亦保安矣。惟肺金得令，則金能生水，又能強陰益精，心清神安，則氣血和暢，又能治血妄行。夫曰解煩渴補虛勞者，正以其潤肺清心也，心清而肺潤，則心統氣行，而鬱結之患可釋矣。夫曰能復脈者，何也？蓋心主脈，而百脈之朝宗於肺，若肺潤心清，則脈亦調和，氣血無所阻，必聽命以遂脈之通暢也。能引生地而至所生之處。痘家用之，以止煩渴。諸症便滑者忌之。</p>

<h2>天冬</h2>
<p>氣寒，味苦甘，氣薄味厚，升也，陰也，無毒。入手太陰足少陰之劑也。療風淫濕痹，補虛損勞傷。且強骨髓，潤五臟，悅顏色，養肌膚。解渴除煩，消痰住嗽，保肺氣不被熱擾，通腎氣能除熱淋。止血溢妄行，潤糞燥閉結。同參耆煎服，定虛喘促神方。和姜蜜熬膏，破頑痰癖劫劑。與百合同用，能除肺痿。與片芩同用，能除肺癰。未潰用藕葉枳殼為佐，已破用貝母白芷為輔。大要，苦能泄滯血，甘能助元氣，寒能去肺熱，此三者，天冬之功也。虛熱者用之，虛寒者禁忌，何也？蓋味之苦者，但泄而不收故耳。予嘗用天冬四兩、生地六兩，將醇酒煮汁熬膠，入煉蜜四兩，滾水調服，大補陰虛。入柿霜四兩，大能止嗽。入枸杞四兩，治腎嗽神驗。入阿膠一兩，療血痰妙甚。又能引熟地而至所補之處。</p>

<h2>升麻</h2>
<p>氣平，味苦甘，氣味俱薄，無毒，升也，陰中之陽也。治肺痿吐膿血，古人犀角地黃湯，每用之以代犀角者，止是引地黃等藥同入陽明耳。與蔥白同用，則能引之以散手陽明之風邪。與石膏同用，則能引之以止足陽明之頭疼。補中益氣湯用之，提元氣從右而上。升麻葛根湯用之，驅邪熱從表而散。惟其能解脾胃肌肉間熱，故能散手足陽明經邪。諸方書以為元氣不足者用之，陰中升陽，則謬矣。蓋陽氣下陷者，可升提之，若元氣不足者，升之則下益虛，而元氣益不足矣。鹽水浸炒，則提腎氣。甘草汁制，則提脾胃之氣。若痰壅氣上有汗者，勿用。</p>

<h2>柴胡</h2>
<p>氣平，味微苦，氣味俱薄，無毒，升也，陰中之陽也。主左右脅下刺痛，日晡潮熱往來。在臟主調經生血，在經主氣上行經，此手足少陽表裡之劑也。能提下陷陽氣，以瀉三焦之火，此其能除手足少陽寒熱也。大都中病即已，不可過用，為其氣味俱薄，多散故耳。治勞方中用之者，以其能提清氣從左而旋，以卻邪熱耳。又止偏頭疼，胸脅痛，療肌解表，疏邪清熱。君黃芩，傷寒門實為要劑。主常山，溫瘧症誠作主方。與白芍同用，能抑肝而散火。與黃連同用，能涼心而解熱。經脈不調，入四物秦艽續斷牡丹治之最效。產後血積，用四物三稜莪朮馬鞭草破之極驗。逍遙散用之，散鬱氣而內暢。補中湯用之，提元氣而左旋。</p>

<h2>葛根</h2>
<p>氣平，味甘，氣味俱薄，無毒，升也，陽中之陰也。發傷寒之表邪，止胃虛之消渴。解中酒之苛毒，治往來之溫瘧。能住頭疼，善疏瘡疹。入柴胡療肌表，功為第一。同升麻通毛竅，效實無雙。其汁寒涼，專理天行時疫，且止熱毒吐衄。其粉甘冷，善解酒後煩熱，更利二便燥結。花能醒酒不醉，殼能治痢實腸，誠陽明聖藥也。痘瘡不起者，予用之立起，何哉？蓋因肌肉實，腠理密，不得通暢，故痘出不快耳，今得葛根一療解，一疏通，此肌肉暢而腠理開，其痘立起矣。孕婦所忌。</p>

<h2>杏仁</h2>
<p>氣溫，味甘苦，氣薄味厚，可升可降，陰中之陽也。有小毒。入手太陰之劑也。解肌毒，散結滯。入麻黃，利胸中氣逆而喘促。同烏梅，潤大腸氣閉而便難。單仁開腠理甚捷，雙仁治狗咬極驗。予嘗用杏仁三錢，馬兜鈴三錢，蟬蛻二錢，白礬五錢，白砒五分，乳細，紅棗肉為丸，如梧桐子大，食後冷水送下，男七女六，治哮神效。大都中病即已，不可多服，過則令人傷筋骨。泄痢忌用。戒粟米，畏犬肉。</p>

<h2>麻黃</h2>
<p>氣溫，味苦甘，氣味俱薄，無毒，升也，陽也。手太陰之劑，入足太陽經，走手少陰陽明經藥也。去根節者發汗，留根節者斂汗。惟在表真有寒邪者宜用之。若表無真寒邪，或寒邪在裡，或表虛之人，或陰虛發熱，或傷風有汗，或傷食等症，雖有發熱惡寒，其不頭疼身痛而拘急，六脈不浮緊甚者，皆不可汗。雖有可汗之症，亦不可過。蓋汗乃心之液也，不可汗而汗，與可汗而過之，則心家之液涸，而心血亦為之動矣，或致亡陽，或致衄血不止，而成大患也，戒之。君羌活，能散風邪。佐獨活，能消腳氣。同杏仁，能去寒邪，兼理哮喘。臣甘菊，能清肺熱，更明眼目。身能發汗，根主斂汗。風家用之多驗者，何哉？蓋風至柔也，而善藏，麻黃性至輕也，而善驅，內用氣血藥以托之，外用浮劑以散之，此以善藏始者，不得以善藏終矣。陰虛發汗者，鹿角四物湯加根節斂汗。汗多亡陽者，附子四君飲入根節回陽。癰疽方起者，行涼藥中兼用之，即散無疑。寒邪戰慄者，疏風藥中兼用之，立止不謬。痘家初發熱，及痘紅紫稠密，皮厚不快者，多用於行涼解毒藥中，則內托外散，正所謂開門放賊，而痘亦因之稀少矣。又能散胸膈泥滯之氣，表虛則忌。</p>

<h2>羌活</h2>
<p>氣微溫，味苦甘辛，氣味俱薄，無毒，升也，陽也。足太陽之君藥也。乃撥亂反正之主，大有作為者也。故小無不入，大無不通，能散肌表八風之邪，善理周身百節之痛。排巨陽肉腐之疽，除新舊風濕之症。加川芎、治足太陽少陰頭疼。同秦艽，除足陽明少陽口斜。並蒼朮，理濕風甚捷。佐麻黃，開腠理堪誇。與獨活不分二種，後人用羌活，多用鞭節者。用獨活，多用鬼眼者。然羌活則氣雄，獨活則氣細，雄者入足太陽，細者入足少陰。有問治頭疼者曷故，蓋巨陽從頭走，惟厥陰與督脈會於巔頂，逆而上行，諸陽不得下，故令頭疼也。痘家用之以散肌表風熱，解百節疼痛，此亦發毒追膿之要藥也。氣虛則勿用。</p>

<h2>獨活</h2>
<p>氣微溫，味苦甘辛，氣味俱薄，無毒，升也，陽也。足少陰經藥也。止奔豚癇痓，治女子疝瘕，寒濕足痹，非此不治。頭眩目暈，非此不除。諸風中之要藥也。主蒼朮，治兩足之濕腫。君荊翹，散下身之癰毒。佐黃柏，止血崩如神。臣查根，逐痘毒極驗。體虛氣上則忌。</p>

<h2>防風</h2>
<p>氣溫，味甘辛，無毒，氣味俱薄，升也，陽也。行周身骨節疼痛之要藥也。以氣味能瀉氣，以體用能療風，何者？蓋此劑氣溫而浮，故能去在表風熱，亦能療肢節拘疼。治風通用，散濕亦宜。能驅眩暈頭顱，更開目盲無見。續命湯用之，以除口眼歪斜。通聖散用之，以去周身濕熱。與條芩同用，能解大腸之風熱。與杏仁同用，能散肺經之風邪。佐甘菊，善清頭目之風熱。臣羌活，善解巨陽之風寒。昔王太后風病不言而脈沉，其事甚急，若以有形之湯藥與服，緩不及事，令以防風黃耆煎湯，熏蒸如霧滿室，則口鼻俱受其無形之氣，疾斯愈矣。何也？蓋人之口通乎地，鼻通乎天，口以養陰，鼻以養陽，天主清，故鼻不受有形，而受無形為多，地主濁，故口受有形，而兼乎無形。</p>

<h2>荊芥</h2>
<p>氣溫，味辛苦，氣味俱薄，升也，陽也。能涼血疏風，上清頭目。辟邪毒，宣五臟，除勞渴，通血脈，除濕痹，破結氣，行瘀血，解肌表，諸瘡瘍風熱皆用之。與羌活同用，能除血濕。與蟬蛻同用，能散風邪。與紅花同用，能行惡血。與蘇子同用，能下諸氣。惟其氣溫而輕，故能開腠理。和醋搗爛，敷腫毒立瘥。又治產後血暈如神。大都中病即已，不可過服，過則蒸五臟神。表虛者禁用。</p>

<h2>薄荷</h2>
<p>氣溫，味辛，氣味俱輕，升也，陽也。惟其性辛涼而輕浮，故能散在上之風熱，除氣逆之脹滿，清利六陽之會首，祛除諸經之領頭。與地骨皮同用，能退骨蒸之熱。與桑白皮同用，能瀉肺經之邪。佐甘菊，並能清心明目。臣四物，更兼調經順氣。表虛者禁用。</p>

<h2>紫蘇</h2>
<p>氣溫，味辛甘，氣味俱薄，無毒，升也，陽也。惟其性輕浮，故能散上膈及在表之寒邪。是故發表解肌，療風寒甚捷，開胃下食，治脹滿最良。入獨活蒼朮，兼除腳氣。同石膏白芷，亦治口臭。根下諸氣略緩，體稍虛者為宜。驅痰降氣，定喘，開心，潤肺止咳。消五膈，破症堅。利小大二便，卻霍亂嘔吐。表虛者禁用。</p>

<h2>白芷</h2>
<p>氣溫，味辛，氣味俱輕，無毒，升也，陽也。去頭面皮膚之風，除周身燥癢之痹。惟其性溫而走於肌肉，故能治足陽明頭痛。與辛夷細辛同用，則治鼻病。與蒲公英同用，則能排膿。與內托散同用，則去腐爛而長肌肉。與續命湯同用，則治口眼而去歪斜。外散乳癰背疽，內托腸風痔瘻。誠諸瘡瘍痘疹必要之藥也。又為手太陰引經之劑，意者味辛但入肺耳。當歸為使，惡旋覆花。</p>

<h2>白石膏</h2>
<p>氣大寒，味辛甘，無毒，氣味俱薄，沉也，陰也。足陽明經藥也。陽明主肌肉，惟其甘也，能緩脾益氣，止渴去火。惟其辛也，能解肌出汗，上行止頭疼。故風邪傷陽，寒邪傷陰，總解肌表甚捷。任胃熱多食，胃熱不食，並瀉胃火極靈。不時食積痰火殊效。雖有胃脘痛甚立瘥。東垣曰，制火邪，清肺熱，仲景有白虎之名。除胃熱，奪甘食，易老為大寒之劑。身涼內靜，手足俱冷者禁用，恐耗血也。</p>

<h2>茯苓</h2>
<p>氣平，味甘淡，氣味俱薄，無毒，降也，陽中之陰也。主治膈中痰火，驅水腫，除淋結。開胃腑，調臟氣，伐腎邪。和中益氣，利竅寧心。除濕之聖藥也。經曰，赤者向丙丁，白者向壬癸。又曰，赤者能利水，白者能補脾。是知赤者瀉小腸之火，而利水矣。不知白者潤肺生津，而能分利也。此劑皆主分利，但不如用白為良。大都淡能利竅，甘能助陽，衍義補遺以為陰虛，未為相宜，以其淡滲也。孰知氣重者主氣，味重者助血，茯苓雖曰淡滲，然味尚甘美，於陰虛者，亦無妨也。臣升耆而上行，固能補氣。兼當歸棗仁，又養心血。佐參朮而下行，亦能補血。加枸杞仙茅，又固腎氣。四君湯用之以補氣，地黃丸用之以補血。痘家灌漿之時禁用，恐水利而漿不能灌也。若見有水白泡，即取升麻汁制用，取其散表以利水也。若見有紅紫泡，即取茜草汁制用，取其行血以利水也。</p>

<h2>陳皮</h2>
<p>氣溫，味辛微苦，氣薄味厚，無毒，可升可降，陽中之陰也。必須年久者為美。去白性熱，能除寒發表。存白性溫，能補胃和中。與白朮半夏同用，則滲濕而健胃。與甘草白朮同用，則補脾而益胃。有白朮則補脾胃，無白朮則瀉脾胃，有甘草則補肺，無甘草則瀉肺。故補中湯用之以益氣，平胃散用之以消穀，二陳湯用之以除痰，乾葛湯用之以醒酒。予嘗用陳皮一斤，滾水泡去白令極淨，烏梅大草青鹽各四兩，濃煎取汁浸透，曬半乾，再入白糖六兩拌勻，用紫蘇葉薄荷葉上蓋，蒸一炷香，每用少許，不拘時常服，治久嗽痰火，長服健胃和中，解酒毒。</p>

<h2>半夏</h2>
<p>氣微寒，味辛苦，而辛厚於苦，氣味俱輕，有小毒，陽中之陰也，降也。入足陽明太陰少陽三經之藥也。主治濕痰，不能治熱痰，醫概用之，誤矣。蓋脾胃之所喜者，燥也，所惡者，濕也。半夏性燥而去濕，故脾胃得之而健也。火痰黑、老痰膠，須加芩連栝蔞海粉。寒痰清、濕痰白，要入姜附蒼朮陳皮。風痰卒中昏迷，加皂莢天南星。痰核延生腫突，入竹瀝白芥子。凡諸血證妊婦，及少陽傷寒而渴，並諸渴症，皆不可用，半夏惟其性燥，損血耗氣，而燥津液也。治飲冷傷肺而嗽，除痰厥頭疼而愈。夫曰止嘔，為足陽明藥也。夫曰消痰，為足太陰藥也。小柴胡用之，雖為止嘔，亦助柴胡以去惡寒，是又為足少陽藥也。小柴胡用之，雖能去寒，亦助黃芩以去濕熱，是又為足陽明藥也。往來寒熱，在表裡之中，用此有各半之意，故名半夏。經曰，腎主五液，化為五濕，自入為唾，入肝為泣，入心為汗，入脾為涎，入肺為涕。有痰涎曰嗽，無痰涎曰咳。痰者，因嗽而動脾之濕也。半夏能泄痰之標，不能泄痰之本。本者，腎也。嗽無形、痰有形，無形則潤，有形則燥，所以為流濕就燥也。脾主濕主痰，脾淫於濕，則因而失運化之職，諸液浸淫，統血不榮，凡諸津液懸斂，皆凝滯壅遏，隨氣上升，而成咳唾之痰，日久郁注而成諸病之痰。故半夏性熱味辛，所以燥濕也。射干為使，惡皂莢，畏雄黃生薑乾薑秦皮龜板，反烏頭烏喙。</p>

<h2>蒼朮</h2>
<p>氣溫，味甘辛，氣薄味厚，無毒，可升可降，陽也。入足陽明太陰經藥也。消痰結窠囊，去胸中窄狹。治身面遊風，風眩頭痛甚捷。闢山嵐瘴氣，時氣瘟疫尤靈。暖胃安胎，寬中進食，驅痰癖氣塊，止心腹脹痛，與白朮同功。但補中除濕，力不及白，若寬中發汗，功過於白。以黃柏牛膝石膏下行之藥引之，則除下部濕痰。以甘草陳皮厚朴之藥引之，則除中焦濕證，而平胃中有餘之氣。以蔥白麻黃杏仁之類引之，則除肉分至皮表之邪。大都有邪者宜用，無邪者禁忌。庸醫不分虛實，及七情氣悶，概用白朮誤矣。古人載腹中窄狹，須用蒼朮，醫者徒誦言而不察其所以言也。蓋蒼朮乃辛散之劑，必有濕症實邪者，方才可用，豈謂不分虛實而概用之乎。抑且虛悶者用之，則耗其氣血，燥其津液，其虛火益動而愈悶矣。制用米泔水，入銅器內浸之，置月下浸去黃油淨曬乾，又浸又曬，如此三宿，清水渡過曬乾，約有五斤淨，用紫桑椹一斗，好醋一壺，鹽四兩，與蒼朮拌勻浸，曬令汁干，蒸之，一曬一蒸，如此者三次。又用大草半斤煎汁去渣，入蜜四兩，灑潤蒸曬凡九次，淨蒼朮一斤，加白茯四兩，黃芩三兩，當歸四兩，白朮三兩，神麯四兩，秋石四兩，用大甘草五兩煎汁，入竹瀝薑汁，打神麯糊為丸，酒水米飲任下，名五合丸。能健脾胃，消痰涎，助精神，壯筋骨，神效。</p>

<h2>厚朴</h2>
<p>氣溫，味苦，無毒，氣味俱薄，可升可降，陰中陽也。治霍亂轉筋，止嘔逆吐酸。與枳實大黃同用，則泄實滿。與陳皮蒼朮同用，則除濕滿。同解利藥，兼理頭疼。同泄利藥，能厚腸胃。厚朴之味苦也，惟其苦，故能下氣去實滿，而消腹脹。厚朴之氣溫也，惟其溫，故能益氣除濕滿而散結滯。何者？蓋厚朴屬土，而有火氣之溫，所以能散能瀉胃中之實也。平胃散佐以蒼朮，正謂瀉上焦之濕，平中焦之土，不使太過，而復其平，以至於和而已。非謂溫補脾胃言也，後人執之以為補劑，誤矣。氣實者宜用，氣虛者少用，恐生脹滿。畏硫黃。</p>

<h2>枳殼</h2>
<p>氣寒，味苦酸，無毒，氣厚味薄，沉也，陰也。消心下痞塞之痰，泄腹中滯寒之氣。推胃中隔宿之食，消腹中連年之積。同甘草瘦胎，和黃連減痔。寬大腸結氣，瀉脅下虛脹。然味苦帶辛，又能治遍身風疹。與枳實同一物也，但有大小之分，枳實小，則性酷而速。枳殼大，則性寬而緩。大都實症宜用，虛症忌之。如脾胃濕熱生痰有食者，入白朮四分之一，脾則用實，胃則用殼，仲景治傷寒倉卒之病，承氣湯中用枳實，正取其疏通決泄破結實之義耳。愚按枳殼，氣藥也，惟泄胸中至高之氣，此便是降火妙劑。不制，通治諸疾。若氣虛及年高者，必須醋拌麩炒，醋能斂表，麩能密腠故也。色蒼黑，耐寒怯熱者，則用以為君，白茯為臣，佐半夏、防風為使，治痰壅上急，再以蘇子佐之，治諸衄血妄行最捷。若痰在四肢，成核成癖，並加氣藥以輔翼之。</p>

<h2>枳實</h2>
<p>氣寒，味苦酸，氣厚味薄，無毒，沉也陰也。能消胃中之虛痞，逐心下之停水。化日久之稠痰，削年深之堅積。仲景加承氣湯內，取疏通破結之功。丹溪入瀉痰藥中，有推牆倒壁之能。欲益氣，則佐以參朮。欲破氣，則佐以硝黃。此與枳殼有高下緩急之異，殼主高，實主下，高者主氣，下者主血。主氣者在胸膈，主血者在心腹。故胸中痞，肺氣結也，有桔梗枳殼湯之名。心下痞，脾血積也，有白朮枳實湯之用。氣虛則忌。</p>

<h2>青皮</h2>
<p>氣寒，味苦辛，氣味俱厚，無毒，沉也陰也。足厥陰引藥也。破滯氣，愈低而愈效。削堅積，愈下而愈良。引諸藥至厥陰之分，下飲食入太陰之倉。又少陰經下藥也。陳皮治高氣，青皮治低氣。佐柴胡，能治兩脅刺痛，醋炒為佳。君芍藥，又伏膽家動火，膽製為良。劫疝疏肝，消食寬胃。驚家諸藥，用一二分為妙。</p>

<h2>香附</h2>
<p>氣微熱，味甘辛，氣重味輕，乃血中氣藥，諸血氣方中所必用者也。快氣開鬱，逐瘀調經。除皮膚瘙癢外邪，止霍亂吐逆內證。炒黑色，禁崩漏下血。醋調敷，治乳腫成癰。又能引血藥至氣分而生血。醋炒理氣疼為妙，鹽制治腎痛為良。酒炒則熱，便煮則涼。同氣藥則入氣分，同血藥則入血分，女科之聖藥也。大都甘能理氣和血，辛能散滯消食。此藥能疏氣散郁，氣疏郁散，則新血生而百體和矣。然此劑性熱多燥，必須童便浸炒，烏藥為其佐使也。</p>

<h2>烏藥</h2>
<p>氣溫，味辛，氣厚味輕，入足陽明少陰經藥也。諸冷能除，丹氣堪順。止翻胃，縮小便。闢疫瘴時行，解蠱毒卒中。佐香附，能治婦人諸般氣症，君平胃，能消男婦諸般食積。用於風藥能疏風，用於脹滿能降氣，用於氣阻能發阻，用於腹痛能止痛。又主腎間冷氣攻衝，此又為足少陰藥也。然此劑無滋益人，不可多服，但取其辛散凝滯而已。煎汁同豆腐煮硫黃，治手足風疾。</p>

<h2>山楂</h2>
<p>氣平，味酸澀，帶甘辛，無毒。利痰消食，下積氣，散滯血。療㿗疝，止腹疼。專治肉積，能開脾健胃。又能治婦人兒枕疼痛，濃煎汁入砂糖少許立效。理脾用之，膨脹立消。予嘗用平胃散同山楂煎汁浸曬烏藥，治諸般氣痛腹痛。痘家用之，行氣化痰，起脹解毒。又能破人參之滯氣，痘家不得已用參，多以此監之。</p>

<h2>神麯</h2>
<p>氣平，味甘溫，無毒。助天五真氣，走陽明胃經。下氣調中，止瀉開胃。消宿食，健脾胃，進飲食。下滯氣，破癥結，逐積痰。療婦人胎動不安，治小兒胸腹堅滿。不制，性溫入胃中，能消宿食。微炒，性涼入大腸，能除深積。作糊丸痰藥，治諸痰氣如神。作糊丸嗽藥，理諸咳嗽最妙。何也？蓋痰與嗽，俱因氣動上逆而致也，今用此劑為佐使，則氣順而脾胃之津液為之四布矣，氣順而不上逆逼肺，何嗽之有，脾胃之津液四布而榮筋脈，何痰之有。</p>

<h2>大麥櫱</h2>
<p>氣溫，味甘鹹。此劑代戊己土，以腐熱水穀之要領也。氣虛者，取粉服之，大補元氣。蓋五穀稟天地生髮之氣以養人也，麥而曰櫱，尤含生髮之機於未盡露者也，故取粉服之，所以借五穀生髮之氣，以助育吾人之元氣耳。此劑能行上焦之滯血，除腹中之雷鳴，惟其甘也，能補脾胃中之虛弱。惟其咸也，能軟產後腹中之膨脹。</p>

<h2>縮砂仁</h2>
<p>氣溫，味辛，無毒。佐黃芩、為安胎之妙劑也。治一切霍亂吐瀉，心腹絞痛，正以溫辛能止疼行氣故耳。又於止痢藥中用之，亦取此意。以益智人參為使則入脾，以白檀豆蔻為使則入肺，以黃柏茯苓為使則入膀胱腎，以赤白石脂為使則入大小腸。雖然，其性溫辛，用之者以熱攻熱，乃所以為順治也，經曰，熱因熱用，此之謂也。東垣謂化酒食之劑，何哉？蓋惟溫辛行氣，則氣行而酒食亦為之運化矣。</p>

<h2>益智</h2>
<p>氣熱，味大辛。主君相二火，手足太陰經足少陰經。本是脾經藥也，故治脾胃中受寒邪，和中益氣，又治多唾，當於補藥中兼用之，不可多服。在集香丸則入肺，在四君子湯則入脾，在鳳髓丹則入腎，蓋脾肺腎互有子母相關之義也。惟其溫也，能治虛漏，遺精遺瀝。益氣安神，又安三焦。夜多小便者，取二十四枚碎之，入鹽煎湯，服有神效。兼以女真實川萆薢更妙，乃補不足之劑也。惟其辛也，能調諸氣，能散諸郁，能止諸疼，君烏藥木香甚捷，又為辛散之劑也。</p>

<h2>藿香</h2>
<p>氣溫，味辛甘，無毒，氣厚味薄，可升可降之劑也。專治脾肺二經，入烏藥順氣散中，成功在肺。加黃耆四君子湯，取效在脾。故能開脾胃，進飲食，止霍亂，定嘔逆，乃傷寒方之要領，為正氣散之聖藥也。其曰禁口臭難聞者，得非氣味之芬香故耳。其曰清風消腫者，得非氣味之溫辛故耳。</p>

<h2>吳茱萸</h2>
<p>氣熱，味苦辛，氣味俱厚，可升可降，陽也。主咽喉寒氣呃塞而不通，胸中冷氣閉塞而不利，脾胃停冷腹痛而不住，心氣刺痛苦悶而不仁。開腠理，消疝氣，止嘔逆，除霍亂。又能順折肝木之性，治吞吐酸水如神。厥陰頭疼，引經必用。更殺寸白三蟲，煎服即出。枝療二便關格，銜口立通，必取向陽者方驗。大哉茱萸，乃驅陰之捷方，回陽之妙藥也。</p>

<h2>茴香</h2>
<p>氣溫，味甘辛，無毒。治一切臭氣，調中止嘔，下食溫劑，為諸痿霍亂之捷方，補命門不足之要藥也。男子疝氣，婦人帶白者，用之俱驗。大都甘能補正，辛能散邪，有補以為之先，有散以為之後，此疝氣帶白之症，所以去也。</p>

<h2>三稜</h2>
<p>氣平，味苦辛，陰中之陽。破積氣、消脹滿，通月水，下瘀血。治老癖癥瘕結塊，婦人血脈不調，心腹刺痛。白者屬氣，故其色白者，破血中之氣。醋煮為良。畏牙硝。孕婦勿用。</p>

<h2>莪朮</h2>
<p>氣溫，味苦辛，無毒。主心膈腹痛，飲食不消。除霍亂冷氣，止嘔吐酸水。又破痃癖，及婦人血氣，男子奔豚。黑者屬血，故其色黑者，破氣中之血。大都苦能泄實，辛能散積。此稜術二劑，氣味皆苦辛，用之者，中病即已，不可過服，以損真元。若用於破氣藥中，必須用補氣藥為主。用於破血藥中，必須用補血藥為主。用於消食藥中，必須用補脾藥為主。此其大法也。</p>

<h2>肉蔻</h2>
<p>氣熱，味大辛，屬金與土，入手足太陰經藥也。惟其氣溫，故能溫中補脾。又言下氣者，蓋以脾得補而善運化，其氣自下，非若香附陳皮之快泄也。惟其味辛，故能散肺中滯氣，除膈上吐逆，消穀食，開腹脹。合氣與味，又能止泄。大都溫能補脾，辛能散滯，脾得溫以補之，則運化之令司，而漏下之患除。肺得辛以散之，則清化之源司，而淡滲之令強，何泄之有。</p>

<h2>白蔻</h2>
<p>氣熱味辛，輕清而升，氣味俱薄，無毒，陽也。其用有五。肺經本藥，一也。散胸中滯氣，二也。除感寒腹痛，三也。溫暖脾胃，四也。赤眼暴發，白睛紅，用少許即愈，五也。</p>

<h2>草蔻</h2>
<p>氣熱味辛，浮也，陽也，無毒。入足太陰陽明經藥也。惟其氣熱，故能治風寒客邪，一切冷氣，及嘔吐諸症。惟其味辛，故能散滯氣，除胃脘之刺痛，及兩脅之氣逆。大都熱則能行，辛則能散。故經曰，寒者熱之，滯者散之，此之謂也。</p>

<h2>酸棗仁</h2>
<p>氣平，味甘酸，無毒。能安和五臟，大補心脾。故血不歸脾，而睡臥不寧者，多用之。蓋血不歸脾，則五臟不安和，而睡臥自不寧矣。今既大補心脾，則血歸脾，而五臟和，睡臥豈有不寧者哉。然心家有實熱者，生研為良，心家若虛寒者，炒研才妙。</p>

<h2>黃柏</h2>
<p>氣寒味苦，氣味俱厚，無毒，沉也，陰也。鹽水炒之，走少陰而瀉腎火也，後人以為補腎者，誤矣。蓋腎家火旺，及兩尺脈盛，而為身熱目疼喉痹諸疾者，用之瀉火，則腎亦堅固，而無狂蕩之患也，豈誠有補益之功哉。故腎家無火，及兩尺脈微弱者，皆不宜用。若佐四物湯入鹿角膠用之，一則以生水，一則以瀉火，是補其不足，而去其有餘，此天一生水之妙劑也，乳製為佳。佐黃耆、入牛膝，使足膝氣力湧出，痿蹶即瘥。同蒼朮獨活，又能除腰膝以下至足分之風濕腫痛癰疽也。佐澤瀉茯苓，又能利小便之赤滯。解毒湯用之，取其引熱毒下從膀胱經出也。與破故紙同用，治血崩大有奇功。與生蜂蜜同用，敷口瘡極有神效。又治上焦實熱，多製為良，取其緩也。中焦實熱，單製為良，取其緩在中也。下焦實熱，不製為良，取其速下也。或佐以三焦之藥，亦無不可。</p>

<h2>黃連</h2>
<p>氣寒味苦，氣薄味厚，無毒，沉也，陰也。手少陰藥也。以薑汁炒用，則止嘔吐，清心胃。且治一切時氣，又解諸般熱毒穢毒，及腫毒瘡瘍，目疾之暴發者。蓋黃連得薑汁製，則和其寒而性輕折，且少變其性，以引至熱處，而使之馴化，正經所謂熱因寒用是也。與木香同用，為腹痛下痢要藥。與吳茱萸同用，乃吞吐酸水神方。同枳殼治血痔，同當歸治眼疾。佐桂蜜，使心腎交於頃刻。入姜辛，療心肺妙於須臾。欲上清頭目口瘡之類，酒炒為佳。欲瀉肝膽之火，豬膽蒸之為妙，取其入下部而瀉之也。欲解痘瘡之毒，桔梗麻黃汁炒之，取其達表而解之也。實火同朴硝，虛火用釃醋，痰火用薑汁，伏火用鹽湯。米食積瀉者，壁土炒之。赤眼暴發者，人乳浸之。東垣以為厚腸胃者，何也？蓋腸胃為濕熱所撓，而為痢為痛，得此苦寒之劑，則濕熱去而痛止，則腸胃自厚矣。又曰，與木香同用，治心下痞滿，並伏梁心積，宜矣。若停食受寒，及傷寒下早所使者，則不可用。又曰，除腸中混雜之紅，宜矣。如陰虛下血，及損脾而血不歸脾者，概用之乎。又曰，治五勞七情，定驚悸，止心腹痛，皆未分寒熱而混言之，用者宜斟酌可也。</p>
<p>胡黃連療勞熱骨蒸，治傷寒咳嗽，溫瘧多熱即解，久痢成疳竟除。補肝膽，劫目疼尤靈。理腰腎，斂陰汗最捷。大都苦先入心，入心則熱燥，此劑雖云瀉心，實瀉脾土，蓋子能令母實，實則瀉其子也。中病即已，不可久服，久則反從火化，愈覺發熱。故曰，芩連梔子，久服發熱，此之謂也。反花豬肉。</p>

<h2>黃芩</h2>
<p>氣寒，味苦平，氣厚味薄，無毒，可升可降，陰也。主治諸經實熱。中枯而飄者，瀉肺火，清痰利氣。細實而堅者，瀉大腸火，養陰退陽。又枯者除寒濕，去熱於肌表。堅者滋化源，退熱於膀胱。見柴胡則寒，為少陽之妙劑。君白朮則和，乃安胎之聖藥。若以豬膽炒之，又能瀉肝膽之火也。如以麥冬汁浸之，又能潤肺家之燥也。酒炒則清頭目，鹽制則利腎邪。大都治熱宜寒，泄實宜苦。黃芩氣味寒苦，必真有黃芩症，而後可用。若妄投之，則向為几席，今為碪鑕矣。</p>

<h2>連翹</h2>
<p>氣寒，味苦辛，無毒，氣味俱薄，升也，陽之陽也。主治心熱，破癭瘤。經曰，諸腫瘡瘍，皆屬心火。惟翹性涼而輕辛，故能散諸經之客熱，而消諸經之癰腫也。君節草、同麻油、臣蜂蜜，能治發背諸毒。主麻黃、同山甲、入牛子，善快痘瘡未發。同黃連，則入心解熱。同片芩，則入肺瀉火。從梔子，則引熱內降。從麻黃，則引熱外散。又曰為外科聖藥者，得非以苦泄熱，以辛散火之謂乎。</p>

<h2>梔子</h2>
<p>氣寒，味苦，無毒。氣薄味厚，氣浮味降，沉也，陰之陽也。主心煩懊憹不得眠，心神顛倒欲絕。利五淋，通小便。除胸中之熱甚，止胃脘之熱痛。留皮去熱於肌表，去皮劫熱於心胸。酒炒上行，鹽浸下降。入手太陰一臟，因輕浮象肺，因赤色象火，故治至高之氣，而瀉肺中之火也。本經不能作吐，仲景用為吐藥者，為邪氣在上，拒而不能納食，令其上吐，邪始得出。經曰，在高者因而越之，此之謂也。亦不能利小便，易老用為利小便者，實非利小便，乃清肺也，肺氣清而化，則小便從此氣化而出。經曰，膀胱為津液之府，氣化則能出者，此之謂也。本經又謂治大小腸熱、及胃中熱者，此因辛與庚合，又與丙合，又能泄戊，其先於中州故焉。加生薑陳皮，治嘔噦不止。加厚朴枳實，除腹滿而煩。加茵陳，治濕熱發黃。加甘草，治心氣虛滿。倘除煩躁於心內，須加香豉而建功，蓋煩者，氣也。躁者，血也。氣主肺，血主腎，故用梔子治肺煩，用香豉治腎躁也。若加生薑汁，尤治心腹久疼。上焦客熱善驅，五腫黃病竟解。去目赤作障，止霍亂轉筋。赤白癩瘡，酒疱皶鼻，五內邪氣，悉能除之。又能解熱鬱，行結氣，其性屈曲下行，驅諸火邪從小便中出，解毒湯用此，取其引諸藥從膀胱中出也。研末吸鼻，能止衄血。炒黑入藥，能止吐血。</p>

<h2>大黃</h2>
<p>氣寒味苦，氣味俱厚，無毒，沉也，陰中陰也。屬水與火，入手足陽明經，酒浸入太陽，酒洗入陽明。通閉結靈丹，驅邪實效方。與桃仁同用，則導瘀血。與枳殼同用，則除積氣。入痰火藥，更能滾痰。入消食藥，即能推陳。生用則通腸胃壅結熱，熟用則治諸毒瘡瘍，久不收口。蓋以諸毒瘡瘍，皆屬心火，大黃熟用，則能瀉心火，且宣氣消腫，而除結熱之在上者。其性沉而不浮，其用走而不守，有推陳致新之功，有斬關奪將之能，故名之曰將軍。仲景用之以心氣不足而吐衄者，名瀉心湯，正是因腎經不足，而本經之陽，亢甚無輔，以至血妄行飛越，故用大黃泄去亢甚之火，使之和平，則血歸經，而自安矣。夫心之陰氣不足，非一日矣，肺與肝俱各受火邪而病作，故芩救肺、連救肝，肺者陰之主，肝者心之母，血之舍也，肝肺之火既退，宜其陰血自復矣。衍義不明說，而曰邪熱因不足而客之，何以明仲景之意，開後人之盲也。大都寒能冷腸胃，苦能泄實熱，必須腸胃有實邪者，方可用之。</p>

<h2>玄明粉</h2>
<p>氣微寒，味辛鹹，無毒，沉也，陰也。承氣湯用之，去胃中之實邪，而蕩腸中之宿垢。通聖散用之，除胸膈之稠痰，而潤下部之結燥。痘家實熱便秘者，用之於當歸解毒湯中，甚為得法，取其不損真陰也。婦人胞衣不下，即用童便調二五錢，熱服立下。大都寒能泄實，咸能軟堅，辛能散滯，此三者，玄明粉之功也。予用之以代芒硝，雖老弱之人，亦可服之。</p>

<h2>滑石</h2>
<p>氣寒，味甘，無毒，降也。屬金而有土與水。君甘草，則為益元散，取其甘能助陽也。佐麥冬，則為潤燥湯，取其寒能驅熱也。分水道，行積滯，化食毒，逐瘀血，降妄火之要藥也。與木通同用，則利小便。與大黃同用，則利大便。</p>

<h2>車前子</h2>
<p>氣寒，味甘鹹，無毒。惟其寒也，故能除濕去煩熱。惟其咸也，故能利水通腎氣。惟其甘也，故能利水道，而不走精氣。</p>

<h2>葶藶子</h2>
<p>氣大寒，味苦辛，沉也，陰中陰也。無毒。有甘苦二種。苦者行水迅速，甘者行水遲緩，要在看病症之輕重，而用之也。逐膀胱伏留熱氣殊功，消面目浮腫水氣立效。肺癰喘不得臥，服之即愈。痰飲咳不能休，用之立痊。主癥瘕聚結氣，理風熱瘙癢痱瘡。仲景治傷寒胸內停水作脹者，十棗湯內用之是也。</p>

<h2>地膚子</h2>
<p>氣寒，味苦，無毒。專利水道，去熱膀胱。浴身卻皮膚瘙癢熱疹，洗眼除熱暗雀盲澀疼。葉搗絞汁服之，又解諸惡瘡毒。泄瀉分滲，血痢無驅。四肢浮腫堪消，頭面濕腫可除。其曰益精強陰，明目聰耳，誤矣。蓋此劑寒苦，但主走泄而不能守。既曰走而不守，則精其虧矣，又何益乎？陰其損矣，又何強乎？陰損精虧，則陰精不得以上榮，而陽火反得以上亢矣。耳目聾昏則有之，耳目聰明誠無也。</p>

<h2>瞿麥</h2>
<p>氣寒，味苦辛，降也，陽中微陰也。無毒。利小便可用為君，快癰腫堪為佐使。去目翳逐胎，下閉血出刺。萹蓄功用，與瞿麥同。孕婦所忌。</p>

<h2>木通</h2>
<p>氣寒，味甘淡，無毒，陽中陰也。氣惟寒，故能瀉小腸之火。味惟甘淡，故能利小便之竅。去皮用之。</p>

<h2>通草</h2>
<p>氣平，味甘淡，無毒，陽也。瀉小腸火鬱不散，利膀胱水閉不行。消癰疽作腫，療脾疸嗜眠。解煩噦。開耳聾，出音聲，通鼻塞。行經出乳，催產墮胎。孕婦所忌。</p>

<h2>澤瀉</h2>
<p>氣寒，味甘鹹，無毒，氣味俱厚，降也，陽中陰也。主分利小水之捷藥也。又能除濕，通淋止渴。又治水腫，止瀉痢，佐以豬苓。真有此症者用之，否則令人目病，蓋以眼中真水下通於腎，若過於分利，則腎水涸而火生矣，故下虛之人，宜禁服之。仲景八味丸用之，亦不過接引諸藥歸於腎經耳。其曰止陰汗、生新水，止泄精、補陰不足者，皆非也。又淋渴水腫，因腎虛所致者，皆不可用。</p>

<h2>豬苓</h2>
<p>氣微溫，味甘淡，無毒，氣味俱薄，降也，陽中陰也。一於淡滲利水而已。其曰止遺精者，蓋以脾家有濕熱流入膀胱，因而用制於滲濕藥中，遂能中病，豈可為止遺精之常法哉。其曰消渴利水除腫，固矣，然亦不可用為主劑，宜少用之，以佐澤瀉也。又渴與腫，若腎虛所致者，皆不可用。反烏頭烏喙。</p>

<h2>知母</h2>
<p>氣寒，味苦，氣味俱厚，陽中陰也。主滋陰降火，或腎虛火動，而消渴煩渴者，皆當用之。補腎水，瀉無根火邪。消浮腫，為利水佐使。初痢臍下痛者能卻，久瘧煩熱甚者堪除。又治骨蒸勞熱，及虛火干肺而咳嗽者。或肺中停痰而咳嗽者。此足少陰本藥，而又入足陽明手太陰也。若腎氣虛脫，無火症而尺脈微弱者，不宜用之。引下鹽炒，引上酒浸。忌鐵。</p>

<h2>貝母</h2>
<p>氣寒，味苦辛，辛能散郁，苦能降火，故凡心中不和，而生諸疾者，皆當用之。治喉痹，消癰腫，止咳嗽，療金瘡，消痰潤肺之要藥也。人多用之代半夏，誤矣。蓋貝母本手太陰之劑，而半夏乃足太陰陽明之藥也。但煩渴熱極諸失血，及痰中帶血，陰虛火動而咳嗽者，禁用半夏，為其燥也。此皆以貝母為佐使者宜矣。若脾胃之津液不能運行，因而成痰者，非半夏何以燥之。</p>

<h2>天花粉</h2>
<p>氣寒，味甘潤，無毒，沉也陰也。甘能補肺，潤能降氣導痰，治嗽之要藥也。潤肺生津液，又能解煩渴、除熱毒，治瘡癤癰疽。仲景小柴胡症作渴者，以此劑易半夏，取其苦能潤肺，而去半夏之辛燥耳。瓤和明礬粉，並主痰喘咳哮，薑汁糊丸立應。子入柴胡湯，總能潤肺止渴，消痰降火甚捷。瓤須陰乾、為快意，子必去油、免噁心。</p>

<h2>桔梗</h2>
<p>氣微溫，味辛苦，氣薄味厚，升也，陰中陽也。止喉疼，除鼻塞，利膈氣，療肺癰。同甘草，理喉閉甚捷。入解毒，消癰腫立應。誠諸藥之舟楫，肺經之引藥也。補遺以為開提氣血，何哉？蓋氣血凝滯，則痰涎因之而作，今用之以開提，則氣血流行，而痰壅自是疏通矣。故諸瘡瘍癰疽，及在表實者，皆當用之。且苦能泄毒，辛能散腫，又為諸瘡瘍癰疽之要藥也。經曰苦以泄之，辛以散之，是也。反花豬肉。</p>

<h2>牛蒡子</h2>
<p>氣寒，味苦辛，無毒。苦能解毒退熱，而利咽喉之痛，並甘桔為妙。辛能達表潤肌，而散瘡瘍之腫，同解毒尤良。合氣與味，又治腰膝凝滯之血。若痘出不快者，即用麻黃桔梗汁煮之，則痘不時起發矣。</p>

<h2>玄參</h2>
<p>氣寒，味苦鹹，無毒，足少陰腎經君藥也。強陰益精，補腎明目。療溫瘧寒熱往來，洒洒時常發顫。逐腸內血瘕堅症，散頸下痰核癰腫。管領諸氣上下，肅清而不濁。統治咽喉腫痛，軟利而即消。去結熱，消腫毒。除心中懊憹煩渴不得眠，心神顛倒欲絕，血滯小便不利。及肢滿狂邪，忽不知人。並傷寒汗吐下後，毒不能散。誠為肅清樞機之劑，即此能治空中氤氳之氣，去浮游無根之火。又痰藥用之，即能消痰，何也？氣理，則痰自清也。反藜蘆。</p>

<h2>地骨皮</h2>
<p>氣寒，味苦，無毒，純陰。涼血之妙劑也。去皮膚上風邪，除骨節間勞熱。君四物湯鹿角膠佐以丹皮，治婦人骨蒸最妙。佐解毒湯生地黃臣以茜根，治痘家熱毒為良。又治足少陰手少陽有汗而骨蒸者。表寒忌用。</p>

<h2>側柏葉</h2>
<p>氣微寒，味微苦。主吐血衄血痢血崩血尿血。久服輕身益氣，令人能耐寒暑，更治冷風歷節疼痛，此補陰之要藥也。其性善守。凡採，必須擇月建方向採之，為其得月令之氣也。但性多燥，須用蜜水浸之，飯上蒸熟，陰乾，服之大益脾土，以滋其肺也。</p>

<h2>牡丹皮</h2>
<p>氣寒，味苦辛，陰中微陽也，無毒。涼骨蒸靈丹，止吐衄神方。惟其苦也，故除症堅瘀血留舍於腸胃之中。惟其辛也，故散冷熱血氣收作於生產之後。月水欠勻者，服之即調。風癇時搐者，用之可定。癰疽用之，消腫住痛。痘家用之，行血排膿。清胃湯中止牙疚，快斑飲內散血熱，何也？為其養真血，而攻壞血，固真氣，而行結氣耳。又治手少陰神不足，足少陰志不足，故仲景八味丸用之。孕婦所忌。</p>

<h2>桑白皮</h2>
<p>氣寒，味苦酸，無毒。可升可降，陽中陰也。酸苦能補虛，故主傷中五勞羸瘦，補虛益氣也。氣寒能利水，故主除肺中水氣，止唾血，消水腫，利水道也。蜜炙用之，又主理肺氣，而止咳嗽。與阿膠同用，又能治血嗽，蓋阿膠補血，所忌者在斂肺耳，今得此劑以瀉之，則血得補而不患其為斂也。桑白皮乃監製阿膠之妙劑也，用之者，其可少乎。</p>

<h2>紅花</h2>
<p>氣溫味辛，可升可降，陽也。惟入血分，專治女科。下胎死腹中，為未生聖藥。療口噤血暈，誠已產佳品。多用破血，少用養血。大都辛溫則能和血，故少用養血。若過於辛溫，則血又走散，故多用破血。此通經藥中宜用之，必須酒煮。東垣以為補血虛者，為其兼血藥用之，斯能行血養血，而有補血之功也。苗搗敷遊毒殊功，胭脂滴聤耳立效。</p>

<h2>桃仁</h2>
<p>氣寒，味苦帶甘，氣薄味厚，降也，陰也。入手厥陰胞絡及足厥陰肝經藥也。潤大腸血燥難便，去小腹血凝成塊。多用逐瘀血而止痛，少用生新血而通經。蓋多則苦勝，破滯氣也。少則甘奪，生新血也。然惟實症可用，若遇血枯之症，必須以滋血補血之藥為主，再以此劑佐之，自是其濡潤而無閉結之患矣。孕婦所禁。</p>

<h2>蘇木</h2>
<p>氣寒，味甘鹹，無毒。可升可降，陰也。諸血家之要藥也。與川芎同用，則散頭目之血熱。與紅花同用，則治產後之血瘀。與皂莢刺同用，則逐癰腫之血死。與四物湯同用，則滋骨蒸之血枯。要之熱去則血涼，瘀除則血新，死逐則血活，枯滋則血潤。</p>

<h2>紫草</h2>
<p>氣寒，味苦，無毒。其色紫，故能行血。其味苦，故能通竅利水。其氣寒，故能治腫毒癰疽。與大力子同用，善快痘瘡未發。與淫羊藿同用，能起痘瘡已快。攻血泡，佐以紅花。消水泡，並以茯苓。同川芎赤芍入青葙子，能醫眼目之赤障。用翹連荊防兼皂莢刺，善消癰疽之紅腫。大都血家藥也，無問麻痘症，無論癰疽病，無問男女雜症，但見血紫血熱，及熱毒深者，俱宜用之。但瀉痢則忌。糯米監製無妨。</p>

<h2>茜草</h2>
<p>氣寒，味苦，無毒，陰中微陽也。療中多蠱毒，治跌撲損傷。吐下血如爛肝，凝積血成瘀塊。虛熱崩漏不止，勞傷吐衄時來。室女經滯不行，婦人產後血暈，治之皆愈。大都皆血家藥也，故血滯者能行之，血死者能活之，痘家紅紫乾枯者，用之於活血藥中甚妙，外症瘡癤癰腫者，用之於排膿藥中立效。其曰除乳結為癰者何？蓋乳者，血之所為也，用此劑以行之，則血行而癰自散矣。</p>

<h2>杜仲</h2>
<p>氣平溫，味辛甘，氣味俱薄，降也，陰也，無毒。補中強志，益腎添精。腰痛不能屈者，同芡實棗肉丸之神方，足疼不能踐者，入黃耆蒼朮煎之靈丹。除陰囊濕癢，止失精夢遺，故大造丸補陰丸皆用之也。</p>

<h2>牛膝</h2>
<p>氣平，味苦酸，無毒。調補一身虛羸，能助十二經脈。主手足寒濕痿痹，大筋拘攣。理膀胱氣化遲難，小便短少。補中續絕，益陰壯陽。填髓，除腰膝痠疼，活血，滋鬚髮烏黑。竹木刺入肉，嚼爛厚罨。老瘧久弗痊，單煎連服。卒中不識惡毒，搗生根敷上即瘥。尿管澀痛幾危，煮濃酒飲下立愈。治婦人血症血瘕，月水行遲。療產婦血暈血虛，兒枕痛甚。同麝香墮胎甚捷，引諸藥下走如奔。故凡病在腰腿䟰踝之間，必兼用之而勿缺也。故凡咽喉腫閉，痰涎封結者，用明礬少許，同牛膝搗爛取汁，令病者仰臥，滴入鼻中，須臾痰涎湧出，效莫如之。孕婦深忌。若欲取胎，用雄土牛膝一兩，真麝香一錢搗勻，溶蠟搓成長條插入陰戶，即能墮胎。</p>

<h2>敗龜板</h2>
<p>氣平，味鹹甘，無毒，陰之陰也。此劑稟北方陰氣而生，為陰中至陰之物，大能補陰，而治陰血不足，是以下焦滋補丸藥多用為君。雖曰補陰，又能補心。其陰虛發熱，骨蒸骨痿，皆當用之。東垣以為強陰治崩，補遺以為去瘀血，何哉？蓋由陰強而氣血調和，則瘀血自去也，總是一意。又能理小兒囟門不合，又治女子濕癢陰瘡。</p>

<h2>山茱萸</h2>
<p>氣平，微溫，味酸澀，無毒。入足厥陰少陰經藥也。溫膽補腎，而興陽道。固精暖腰，而助水臟。通九竅，勻經候。仲景八味丸以此劑為君主者，蓋為滑則氣脫，澀則所以收之，故以此劑之澀，以收其滑。其曰止小便者，亦為其補腎添精，味酸能收也。</p>

<h2>五味子</h2>
<p>氣溫，味酸，無毒。氣薄味厚，降也，陰也。肺腎二經藥也。主滋腎水，收肺氣。除煩止渴生津，補虛益氣強陰。霍亂瀉利可止，水腫腹脹能消。冬月咳嗽肺寒，加乾薑肉桂治效。夏季神力困乏，同參耆麥櫱服良。其曰能強筋者，以其酸入筋也。又曰能消酒毒者，何哉？蓋酒毒傷肺而肺熱，得此收斂，則肺氣斂而熱邪釋矣。又曰下氣者，何哉？蓋肺苦氣上，惟肺氣既斂，則氣自下行矣。然多食反生虛熱，為收斂之驟也，即此宜少用之。且酸能吊痰，引其盛也，肺邪盛者，莫如用黃五味子，取其辛甘稍重，而能散也。</p>

<h2>枸杞子</h2>
<p>氣微寒，味甘苦，無毒。補腎明耳目，安神耐寒暑。延壽添精，固髓健骨。滋陰不致陰衰，興陽常使陽舉。並麥冬同生地入葙子，治腎虛目疾如神。佐杜仲同芡實加牛膝，療房勞腰疼甚捷。</p>

<h2>甘菊</h2>
<p>氣寒，味甘，無毒。補陰氣之要藥也。主明目聰耳，除胸中煩熱，又治頭眩頭痛。此數症者，皆由水不足，而風火上盛，得補陰之劑，則水盛而火自息矣。抑且腎竅通耳目，腎氣勝則竅通精明，清氣升則頭目爽快，此煩熱除而眩痛止也。又變老人皓首成黑，同地黃釀酒。解醉漢昏迷易醒，共乾葛煎湯。利一身氣血。逐四肢遊風。然春夏取葉，夏季取枝，秋取花，冬取根，四時頻服，大有奇功。但黃菊不如白菊佳，白屬水，黃屬土也。野菊不可入藥，用之令人目昏。</p>

<h2>山藥</h2>
<p>氣溫，味甘平，無毒。手足太陰經藥也。治諸虛百損，療五勞七傷。益氣力，潤澤皮膚。長肌肉，兼強筋骨。除寒熱邪氣，卻頭面遊風風眩。開心竅聰明，澀精管泄滑。理脾傷止咳、參苓白朮散頻加。逐腰痛強陰，六味地黃丸常用。其曰補虛羸者，以其甘助元陽，溫養肌肉也。其曰消硬滿者，何哉？蓋氣虛邪實，此硬滿之所由結也，今補中益氣，則正氣勝而邪自去，硬滿安能久存乎。二門冬為使。惡甘遂。</p>

<h2>茯神</h2>
<p>氣溫，味甘，無毒。陽也，專理心經，善補心血。止恍惚驚悸，治恚怒健忘。開心益智，安魂定魄。養精神，美顏色，療風眩。乳製為良。</p>

<h2>遠志</h2>
<p>氣溫，味苦，無毒。主和顏悅色，輕身耐老。利九竅而補中傷，除咳逆而驅驚悸，益智慧而善不忘。小兒驚癇客忤，非此莫治。婦人血噤失音，非此莫療。大都溫則能補，故能益精氣，壯陽神，強志倍力。苦則能泄，故能辟邪氣，去邪夢，安心定神。畏珍珠藜蘆。</p>

<h2>石菖蒲</h2>
<p>氣溫，味辛苦，無毒。主消目翳，去頭風。開心志，益智慧。清音聲，通靈竅。腹痛或走者立效，胎動欲產者即安。中惡懵死難醒，急灌生汁。溫瘧積熱不解，即浴濃湯。大都溫則驅手足濕痹，可使屈伸。辛則貼發背癰疽，能消腫毒。苦則除心熱煩悶，能下氣殺蟲。</p>

<h2>漢防己</h2>
<p>氣寒，味苦，陰之陰也。療腰以下至足，濕熱腫盛腳氣，通行十二經。又曰，去下焦濕腫痛，並膀胱火邪，必用防己龍膽草黃柏知母，固矣。若遇飲食勞倦，元氣已虧，陰虛內熱，而以防己泄大便，則重亡其血，此不可用一也。如大渴引飲，此熱在上焦肺經氣分，宜滲泄之，若防己，乃下焦血藥，如之何用之，此不可用二也。如外傷風寒，邪傳肺經，氣分濕熱，而小便黃赤，乃至不通，此不可用三也。如人久病，津液不行，上焦虛渴，用此苦寒之劑，則速危，此不可用四也。觀此，凡上焦有濕熱者，皆不可用，必下焦真有濕熱，流入十二經，以致二陰不通者，可審用之。</p>

<h2>龍膽草</h2>
<p>氣寒，味苦，無毒。氣味俱厚，沉也，陰也。其用有四。除下部風濕，一也。除下焦濕熱，二也。除臍以下至足腫痛，三也。除寒濕腳氣，四也。又曰，益肝膽氣，凡眼腫睛脹，瘀肉高起，痛不可忍者，以柴胡為君，膽草為使，此又眼病必用之藥也。小兒驚病，亦多用之。</p>

<h2>檳榔</h2>
<p>氣溫，味苦辛，無毒，降也，陰也。墜諸藥下行，故治裡急後重如神，取其墜也，必兼木香用之。補遺謂破滯氣，泄胸中至高之氣，由其性沉重，墜氣下行，則拂鬱之氣散，至高之氣下矣。又曰能殺寸白蟲者，非能殺蟲也，以其性下墜，故能逐蟲下行也。</p>

<h2>草果</h2>
<p>氣溫，味辛，升也陽也。闢山嵐瘴氣，止霍亂噁心。辛則散宿食，立除膨脹。溫則去邪氣，且卻冷疼。同縮砂能溫中焦，佐常山能截疫瘧。大都中病即已，不可多服，蓋此劑大耗元氣，而老弱虛羸之人，尤宜戒之。</p>

<h2>常山</h2>
<p>氣寒，味苦辛。性暴悍，善驅逐，能損真氣，痰人稍近虛怯者，不可輕用。瘧症藥中，少用則截。鬼蠱能消，水腫其逐。必須醋炒，方可免吐。忌蔥。</p>

<h2>烏梅</h2>
<p>氣平，味酸，無毒。收斂肺氣，掃除煩熱，安心調中，治痢截瘧，生津止渴，消痰益精。如惡瘡肉出，燒灰敷上，惡肉立盡。仲景治吐蛔下痢，用烏梅丸極驗。同建茶乾薑為丸，治休息痢疾甚效。</p>

<h2>青黛</h2>
<p>氣寒，味苦甘，無毒。驅時疫頭痛，斂傷寒赤斑。能收五臟之鬱火，能消膈上之熱痰。瀉肝火，止驚癇。消食積，殺諸惡蟲盡化為水。又治小兒疳痢羸瘦，毛焦煩熱。歌曰，煩熱毛焦口鼻乾，皮膚枯槁四肢攤。腹中時時更下痢，青白赤黃一般般。眼澀面黃鼻孔赤，穀道開張不欲看。忽然瀉下成疳積，又且濃溶一團團。唇焦嘔吐不乳哺，壯熱增寒臥不安。此方便是青黛散，取效猶如服聖丹。</p>

<h2>南星</h2>
<p>氣溫，味苦辛，有毒。氣薄味厚，可升可降，陰中陽也。墜諸風不省之痰毒，主破傷如屍之身強。削堅積，消癰腫，利胸膈，散血墮胎，乃肺經之本藥也。欲下行，以黃柏引之。欲上行，以桔梗載之。抱龍丸用之以鎮驚，豁痰丸用之以開迷。大都薑製亦可，不若膽浸為上。孕婦禁用。</p>

<h2>姜蠶</h2>
<p>氣平，味酸辛平，無毒。氣味俱薄，升也，陰之陽也。去皮膚風動如蟲行，主麵點生如漆點。又能助肺氣，保清化生水之源。治相火，散濁逆結滯之痰。口噤失音者必用，腫突幾危者急付。主小兒驚癇夜啼，治婦人崩中赤白。除風濕有功，拔疔毒極效。痘家用之於解毒藥中，喉痹用之於甘桔湯里。</p>

<h2>全蠍</h2>
<p>氣溫，味甘辛，有毒。主小兒風癇手足抽掣，驅大人中風口眼喎斜。卻風痰耳聾，解風毒癮疹。痘家初發，密如蠶種者，急用苦參為主，同防風荊芥姜蠶青黛麻黃天麻連翹蟬蛻，一服即散。</p>

<h2>天麻</h2>
<p>氣平，味苦辛，無毒。治小兒風癇驚悸，療大人風熱頭眩。驅濕痹拘攣，主癱瘓蹇滯。通血脈開竅，利腰膝強筋。痘毒可解，癰疽堪愈。何者？蓋痘毒癰疽，俱自臟腑而達之表也，此劑有自內而達外之理，苦以制熱，固矣，然熱從何處出也，又有辛以散毛竅，使風熱之毒悉從毛竅中出也。</p>

<h2>蟾酥</h2>
<p>氣熱，味辛，有毒。破癥結，散癰毒，治惡瘡。疏九竅，發臭汗，驅諸毒俱從毛竅中出也。故痘家用蟾酥五分，大辰砂二錢，梅花桃花各一錢半，苦參五錢，研細末，濃煎麻黃湯為餅。發熱時及放標時，葛根湯磨化一錢服之，遍身臭汗即出，自然熱退身涼，痘自轉危為險，易險為順。好痘出不快者，用大力子桔梗入乾葛湯煎磨服之，則為透痘丹。如痘出稠密，及血不歸根者，用白芍入乾葛湯煎磨，則為斂痘丹。如痘色紫黑血不活者，用紫背天葵入乾葛湯煎磨，則為活血丹。</p>

<h2>辰砂</h2>
<p>氣寒，味甘，無毒。其色赤，赤象心，心主血，故能鎮養心神，通調血脈。除中惡腹痛，掃疥瘻瘡瘍。止渴除煩，安魂定魄。和大楓子研末，則殺瘡蟲。佐條黃芩為丸，則絕胎孕。</p>

<h2>蟬蛻</h2>
<p>氣寒，味甘鹹，無毒。主治小兒驚癇夜啼，大人眼目赤腫。同荊芥能除風熱，入姜蠶又卻風痰。用於發散藥中，能清肌表之熱。用於解毒藥中，能除臟腑之火。癰疽外腫者，同麻黃以散之。痘瘡未實者，同麻黃以疏之。</p>

<h2>苦參</h2>
<p>氣寒，味苦，無毒。沉也，陰之陰也。主治癰腫，殺疥蟲，消熱毒。破癥瘕、散結滯。養肝氣安五臟，定諸志。同菊花明目，止淚益精。同麥冬解渴，生津利竅。赤癩眉脫者，君諸藥驅風甚捷。黃疸遺溺者，主利藥逐水立效。同槐花除腸風下血，及熱痢刮痛難當。同茵陳療濕病狂言，致心燥結胸垂死。少入麻黃，能掃遍身癢疹。佐以山梔，能止卒暴心疼。使玄參，反藜蘆，惡貝母、菟絲。</p>

<h2>前胡</h2>
<p>氣平寒，味苦，無毒。主心腹結氣，治傷寒寒熱。消風止頭疼，保嬰利疳氣。使半夏，去胸膈痰實。君枳實，除胸膈痞滿。痘家解毒用之，取其氣寒，以平胸中無形之熱毒。取其味苦，以泄胸中有形之痰實。蓋熱平則毒消，實泄則痰清，此分氣味而言之也。總則痰固火生，火動痰行，此又不可不知。畏藜蘆，惡皂莢。</p>

<h2>沙參</h2>
<p>氣微寒，味苦甘，無毒。主安五臟，止疝氣，去驚煩。排膿消腫，其功甚捷。益肺補肝，其效若神。童便制，治痰之邪熱無比。玄參佐之，散浮風瘙癢何難。易老用之以代人參，良有以也。但甘則補五臟之陽，苦則補五臟之陰。反藜蘆，惡防己。</p>

<h2>何首烏</h2>
<p>氣微溫，味苦澀。療頭面風，消諸癰腫，長筋骨而悅顏色，益氣力而止心疼。久服添精，令人有子。與血藥同用，能黑鬚發。與利藥同用，能收痘瘡。佐白芷，又止痘瘡作癢。君寄生，又驅風疾作痛。大都多年肥大者為美。忌蘿菔。</p>

<h2>皂莢刺</h2>
<p>氣溫，味辛，有小毒。主治諸般腫毒惡瘡，能引諸品直至潰處，外科之聖藥也。凡癰疽未破者，能引之以開竅，已破者，能引之以排膿。又諸惡瘡癬痘毒，及屬風中之必用也。蓋皂莢氣味辛暢，而有小毒，故能引至毒處而疏散之，且能通氣導痰，又敷腫即除，搐鼻即嚏，皆疏散之力也。孕婦所禁。</p>

<h2>穿山甲</h2>
<p>氣微寒。主五邪驚啼悲傷，消癰疽腫毒瘡癩。同木通夏枯草搗末酒調，治乳奶腫痛。佐蝟皮條黃芩研細湯送。止痔瘻來血。以柴胡為君，又能卻暑結之瘧邪。以大力子為君，又能透癰疽之頭點。何者？蓋此物遇土穿土，遇水穿水，遇山穿山，故入藥用之，取其穿經絡於榮分之意也。如諸毒發不出，及無頭點者，用山甲炙同皂莢刺連翹節草白芷大力子桔梗苦參等分，煎服，須臾汗出，未成者即消，已成者即透。</p>

<h2>竹瀝</h2>
<p>氣寒，味苦辛平，痰家之要藥也。必用薑汁佐之，方行經絡。故痰在四肢者，非竹瀝不能開。痰在皮裡膜外者，非加薑汁不能除。痰在胸間者，當用竹瀝，風痰亦用。能治熱痰，又能養血清熱，有痰厥不省人事幾死者，得竹瀝灌之立醒。</p>

<h2>山豆根</h2>
<p>氣寒味苦。佐連翹能消熱毒。臣甘桔又治咽喉。</p>

<h2>大腹皮</h2>
<p>氣微溫，味辛無毒。疏脾胃有餘之氣，定霍亂吐瀉之疾。脹滿者用之。氣虛則忌。</p>

<h2>薏苡仁</h2>
<p>氣微寒，味甘平，無毒。主筋急拘攣，風濕痹，除筋骨邪氣不仁。肺癰膿血，乾溼肺氣。丹溪曰，寒則筋急，熱則筋縮，急因於堅強，縮因於短促，是熱與寒未嘗不挾濕而成，然外濕非內濕有以啟之，亦不能成。至濕之病，或因酒面為多，而魚肉繼成之。若燒炙香辛堅硬之物，皆致濕之因也。孕婦所禁。</p>

<h2>芡實米</h2>
<p>氣溫，味甘美。屬土而有水。經曰，補中補胃。又曰，益精治濁。同杜仲，理腰膝疼痛。並甘菊，令耳目聰明。更益精氣，又主脾濕。久服不厭，可作餌食。</p>

<h2>秦艽</h2>
<p>氣微溫，味苦辛，無毒。可升可降，陰中微陽。手陽明經藥也。治口眼歪斜不正，主口噤腸風下血。下牙腫痛，口內瘡毒。養血榮筋，除風痹肢節俱疼。通便利水，去遍身黃疸如金。又能去本經風濕，以菖蒲為使。</p>

<h2>地榆</h2>
<p>氣微寒，味苦甘酸，無毒。沉也，陰也。主下部積熱之血痢，止下焦不禁之月水。塞痔瘻來紅，療腸風下血。止婦人帶下崩中，卻小兒疳熱積瘀。</p>

<h2>仙茅</h2>
<p>氣溫，味辛，足少陰劑也。益肌膚，明耳目，強陽事，壯精神，久服大有奇功。惟氣溫，故能除心腹冷氣不能食。惟味辛，故能療腰足攣痹不能行。合氣與味，又能治大人虛損勞傷，老人失溺無子。忌牛肉牛乳。</p>

<h2>續斷</h2>
<p>氣微溫，味辛平，無毒。續筋骨、調血脈，能療跌撲損傷。消腫毒、生肌肉，會理金瘡癰瘍。乳癰瘰癧殊功，腸風痔瘻立效。與女真實同用，縮小便頻數。與淮山藥同用，固精滑夢遺。猶暖子宮，能育妊孕。</p>

<h2>香薷</h2>
<p>氣微溫，味辛，無毒。屬金與水。有徹上徹下之功，治水腫，利小便甚捷，肺得之則化源清，何也？行熱自下也。有撥濁回清之妙，去口臭，解煩熱最佳，脾得之則鬱火散，何也？降氣不上也。惟其溫也，似助火爍金，然辛重於溫，故能益精治水，使火不得以爍金也。</p>

<h2>茵陳</h2>
<p>氣微寒，味苦辛，陰中微陽，入足太陽經藥也。治風濕寒熱黃疸，及遍身發黃，小便不利。仲景茵陳梔子大黃湯治濕黃也，梔子柏皮湯治燥黃也，此二藥治陽黃也。又能治陰黃者，因茵陳附子湯，大都以茵陳為君，兼佐以大黃附子，各隨寒熱用之。</p>

<h2>馬鞭草</h2>
<p>氣寒，味甘苦，有小毒。主下部䘌瘡，並金瘡積血作疼，研末敷妙。通婦人月水，及血氣成癥結瘕，生搗煎良。利小腹卒痛難當，禁久瘧發熱不斷。絞腸沙即效，纏喉痹極靈。殺諸般疳蟲，消五腫痞塊。</p>

<h2>海藻</h2>
<p>氣寒，味鹹苦，無毒。治項間瘰癧，消頸下癭囊。利水道，通癃閉。除脹滿作痛，消堅結作疼。療皮間積聚，止偏墜疝氣。海帶昆布同功。大都寒能劫熱，苦能泄實，咸能軟堅，茲三藥氣寒味鹹苦，故凡榮氣不從，外為癰腫堅硬不潰者，仗此可消。要各隨引經藥治之，則堅無不潰，腫無不消也。反甘草。</p>

<h2>水萍浮芹</h2>
<p>氣溫，味辛，無毒。治時行熱病，浴遍身癢瘡。消水腫而利小便，去暴燥而止消渴。同艾葉發汗驟來，驅風速退。蜜丸彈大為度，面青背紫方真。採萍歌曰，天生靈草無根干，不在山弓不在岸，採伐之時七月半，紫小微風都不算，豆淋酒內下三丸，鐵幞頭上也出汗。</p>

<h2>牽牛</h2>
<p>氣寒，味苦，屬火善走，有治水腫之功，破癥瘕痰癖，除壅滯氣急，通十二水道。有黑白二種，黑者屬水力速，白者屬金力緩，非病形與症俱實者，勿用也。以氣藥引之，則入氣分，以血藥引之，則入血分。氣用枳殼，血用大黃，此其法也。如氣藥用之，必須用白朮茯苓白芍為主，而後用牽牛為良。蓋苓朮本補氣藥也，而有淡滲之功，兼以芍藥之酸，以收真氣，則瀉之者，僅瀉其氣分之邪耳，於真氣竟何損哉。如血家用之，必須當歸川芎白芍為主，而後用牽牛為佳。蓋芎歸本補血藥也，而有榮養之妙，兼以芍藥之斂，以固真血，則瀉之者，僅瀉其血分之邪耳。於真血有何傷哉。畏巴豆。</p>

<h2>蒲黃</h2>
<p>氣平，味甘，無毒。療跌撲抑損，理風腫癰瘡。女人月水不勻，非此莫調。產後兒枕，非此莫去。炒則補血而且止，生則破血而兼消。佐黃柏、君故紙，崩漏殊功。同槐花、使條芩，腸風立效。吐衄唾咯者，血熱妄行也，用之立驗。凝積癥瘕者，血瘀亂聚也，投之即去。</p>

<h2>肉蓯蓉</h2>
<p>氣溫，味甘酸鹹，屬土而有水與火。峻補精血，驟用反致動大便，脾泄者不宜用。酒洗用之。陽事不舉，必須用之，不可缺也。</p>

<h1>張跋</h1>
<p>用藥之難，非順用之難，逆用之難也。非逆用之難，逆用而與病情切合之難也。醫者知以寒治熱，以熱治寒，以通治塞，以塞治通，熱者熱之無遺，寒者寒之無遺而已矣。然內經有塞因塞用，通因通用，寒因熱用，熱因寒用，用熱遠熱，用寒遠寒，則又何以說也？蓋塞因塞用者，若脾虛作脹，治以參朮，脾得補而脹自消也；通因通用者，若時感挾熱下痢，或中有燥屎，用調胃承氣湯下之乃安，通之而愈也；寒因熱用者，藥本寒也，而反佐之以熱；熱因寒用者，藥本熱，而反佐以寒，俾無格拒之患，所謂必先其所主，而伏其所因也；用熱遠熱，用寒遠寒者，如寒病宜投熱藥，熱病宜投寒藥，僅使中病而已，勿過用焉，過用則反為藥傷矣。故曰：病無常形，醫無常方，藥無常品，在人之善學善用耳。</p>
<p>余家藏有明代皖醫杜文燮所編《藥鑑》一書，喜其能纂集昔人用藥要言，參以一己經驗，便誦習，資啟發，遂志數語，以公諸世。</p>
<p><u>張耀卿一九七三年八月上海</u></p>
