<header data-type="book">
<h1>新刊補註釋文黃帝内經素問</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>底本</dt><dd>元後至元五年（1339）古林書堂刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=7acc026c4e824532baa53ce2f9779e9efDcyMDg50&SourceID=">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>
