<header data-type="book">
<h1>侶山堂類辯</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張志聰</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1670">公元1670年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093795.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>余家胥山之陰，峨嵋之麓，有石累焉紛出。余因其屹然立者，植之為峰；塊然枵者，依之為岡；峭然削、洞然谷者，綴之為曲屈、為深窈。就其上築數椽，而南則抅軒臨其山。客有訪余者，望其蓊蔚陰秀，咸低徊留之，擬冷泉風況焉。餘日坐臥軒中，幾三十年，凡所著述，悉於此中得之。去冬《素問》成，漸次問世，偶慨嘆曰：既闡聖緒，仍任習訛，譬比倒瀾，等同鷗泛，爰是錯綜盡蘊，參伍考詳，隨類而辯起焉。雖然，惡乎辯哉！夫天下有理所同者，同無容辯，天下有理所異者，異亦無容辯。即天下有理之同，而勿為理之所異，理之異，而或為理之所同者，同中異，異中同，又無容辯。惟是理之同矣，而同者竟若異；理之異矣，而異者竟勿同。同之不可為異，異之不可為同，又何容無辯？辯之而使後世知其同，即知其所以異矣；知其異，即知其所以同矣；知其同不為異，異不為同，即知其所以同、所以異矣。無事辯矣！若日予好，豈敢云然！</p>
<p><u>康熙歲次庚戌正陽月西泠</u></p>
<p><u>隱菴張志聰書於岩池之花闌</u></p>

<h1>卷上</h1>

<h2>辯血</h2>
<p>經云：營氣之道，內谷為寶。谷入於胃，乃傳之肺，流溢於中，布散於外，精專者行於經隧。是血乃中焦之汁，流溢於中以為精，奉心化赤而為血。衝脈與少陰之大絡，起於腎上，循背裡，為經絡之海。其浮而外者，循腹右上行，至胸中而散，充膚熱肉，滲皮膚，生毫毛，男子上唇口而生髭鬚，女子月事以時下。此流溢於中之血，半隨衝任而行於經絡，半散於脈外而充於膚腠皮毛。臥則歸於肝臟，是以熱入血室，刺肝之期門。臥出而風吹之，則為血痹，此散於皮膚肌腠，故曰布散於外，乃肝臟所主之血也。故婦人之生，有餘於氣，不足於血，以其月事，數脫於血也。（時俗皆謂男子血不足，女子血有餘）。此血或因表邪太盛，迫其妄行，以致吐衄者；有因肝火盛者，有因暴怒，肝氣逆而吐者，吐則必多，雖多不死，蓋有餘之散血也。又心下包絡之血亦多，此從衝任通於心包，為經絡之血者，乃少陰所主之血也。如留積於心下，胸中必脹，所吐亦多，而或有成塊者，此因焦勞所致。治法宜引血歸經。若屢吐不止，或咳嗽而成勞怯，或傷腎臟之原，而後成虛脫，所謂下厥上竭，為難治也。其精專者，行於經隧，心主之血也。中焦蒸水穀之津液，化而為血，獨行於經隧，以奉生身，莫貴於此。榮行脈中，如機緘之環轉，一絲不續，乃回則不轉，而穹壤判矣。是以有吐數口而卒死者，非有傷於血，乃神氣之不續也；有因咳嗽而夾痰帶血者，肺臟之血也；有因腹滿而便血、唾血者，此因脾傷而不能統攝其血也。學者先當審其血氣生始出入之源流，分別表裡受病之因證，或補或清，以各經所主之藥治之，未有不中於竅郤者矣。近時以吐血多者，謂從胃出，以陽明為多血多氣耳！不知陽明之所謂多血多氣者，以血氣之生於陽明也，而太陽、太陰、厥陰，亦主多血，非獨陽明。試觀剖諸獸腹中，心下夾脊包絡中多血，肝內多血，心中有血，脾中有血，肺中有血，腎中有血，胃實未嘗有血，而可謂多乎？</p>

<h2>辯氣</h2>
<p>或曰：人秉陰陽水火而生，總屬一氣血耳！余觀《傷寒論》註疏，子以皮膚肌腠、五臟六腑，各有所主之氣，恐於陰陽之理相背歟！曰：子不明陰陽離合之道，合則為一，離則有三。太陽之氣，生於膀胱，而主於膚表。少陽之氣，生於腎臟，而通於肌腠，故《靈樞經》曰：三焦膀胱者，腠理毫毛其應。蓋太陽之氣主皮毛，三焦之氣充肌腠。此太少之氣，由下焦之所生。若夫陽明之氣，乃水穀之悍氣，別走陽明，即行陽行陰之衛氣，由中焦之所生。此三陽之氣各有別也。三陰者，五臟之氣也。肺氣主皮毛，脾氣主肌肉，心氣通血脈，肝氣主筋，腎氣主骨。此五臟之氣各有所主也。夫氣生於精，陽生於陰。胃腑主化生水穀之精，是以榮、衛二氣，生於陽明。膀胱者，州都之官，精液藏焉，而太陽之氣，生於膀胱。腎為水臟，受五臟之精而藏之，故少陽之氣，發於腎臟。水穀入胃，津液各走其道，五臟主藏精者也。是三陰之氣，生於五臟之精，故欲養神氣者。先當守其精焉。夫一陰一陽者，先天之道也；分而為三陰三陽者，後天之道也。子不明陰陽之離合，血氣之生始，是謂失道。客曰：三陰三陽，敬聞命矣，請言其合也。曰：所謂合者，乃先天之一氣，上通於肺，合宗氣而司呼吸者也。夫有生之後，皆屬後天，故藉中焦水穀之精、以養先天之精氣，復藉先天之元氣，以化水穀之精微，中、下二焦，互相資益。故論先後天之精氣者，養生之道也；分三陰三陽者，治病之法也。如邪在皮膚，則傷太陽之氣，或有傷於肺；邪在肌腠，則傷少陽、陽明，或有傷於脾，邪中少陰，則有急下急溫之標本；邪中厥陰，則有或寒或熱之陰陽。此在天之六氣，傷人之三陰三陽，猶恐其不能分理，而可以一氣論乎？若謂正氣虛者，補中、下二焦之元氣，以御六淫之邪，則可。</p>

<h2>辯兩腎</h2>
<p>門人朱濟公問曰：有云兩腎皆屬水，命門居兩腎之中，在脊之十四椎內，為三焦生氣之原，有如坎中之滿，此說甚為有理。曰：此不經之語耳！夫醫道始於黃岐，臟腑血氣之生始出入，非生知之聖，孰能究其精微？奈何後學不體認聖經，反好為異說。夫人之始結胚胎，猶太極耳！三月而成形，先生兩腎，猶太極而生兩儀。天一之水生木，木生火；地二之火生土，土生金。是先天止有水火，後天始備五行。五行之中有二火，合而為三陰三陽，以配六臟六腑。故《靈樞·本輸篇》曰：少陽屬腎，腎上連肺，故將兩臟。蓋少陽乃三焦之生氣，發於右腎，上合包絡，為相火之原，左腎屬水，上連於肺，故為兩臟也。（腎上連肺，詳《水熱穴淪》。）又《本臟篇》曰：腎合三焦膀胱。蓋右腎之氣上合於心主包絡，而為一臟。又《素問·咳論》曰：腎咳不已，則膀胱受之；久咳不已，則三焦受之。是《內經》止曰腎，而原無命門之名。蓋以一腎合三焦，一腎合膀胱，是為兩臟而配合兩腑者也。夫人秉陰陽水火而生，若以兩腎象坎中之滿，又將何臟以象離中之虛乎？潛心聖經，自不為前人所惑。</p>
<p>濟公復問曰：《難經》謂右腎主男子藏精，女子系胞。師言為相火生氣之原，是左腎主水，右腎主火，精水止生於左，而胞當偏於右矣。曰：非此之謂也，夫天地陰陽之道，在無形之氣，曰陰、曰陽；有形之徵，曰水、曰火；在人之元神，曰氣、曰精。天一生水，地二生火，陰中有陽，陽中有陰，兩腎之氣，交相貫通，左右之皆有精有氣。水即是精，火即是氣。陰陽水火，互相資生，否則孤陽不生，獨陰不長矣。夫藏精系胞之說，亦不過分別男女而言。然在女子未嘗不藏精，在男子亦可以結胎者也。胞之所繫，蓋言天主生物，地主成物，故繫於右，乃氣之所感，非胞之連絡於右腎也。如雲日月星辰系焉，亦大氣之所載，日月運行，星移斗轉，又何嘗有所繫帶乎？</p>

<h2>辯三焦</h2>
<p>己酉之秋，《內經》甫竣，興懷山水，八月既望，偕二三知己，夜泛西泠，時月明云斂，天高氣清，呼盧暢飲，幾忘寤寐。偶論及三焦，有云無形之氣者，有云有形之經者，聚訟不已，質之於余。余曰：有形、無形皆是也，但各偏執一見，而不能通貫耳！《靈樞經》曰：三焦、膀胱者，腠理毫毛其應。《金匱要略》云：腠者，是三焦通會元真之處；理者，皮膚臟腑之文理也。蓋三焦乃少陽相火，即精水中所生之元陽，（壯則為火，和平為元氣。）遊行於上中下之間，通會於腠理之內，實無形之氣也。若遊行之氣，不應屬一腑而有經穴矣。《經脈篇》曰：三焦之脈，入缺盆，布膻中，散絡心包，下膈，循屬三焦。（下膈，乃胃分。循者，循於三部也。）《榮衛生會篇》曰：上焦出於胃上口，中焦亦並胃中，下焦者別迴腸。《平脈篇》曰：三焦不歸其部，上焦不歸者，噫而酢吞；中焦不歸者，不能消穀引食；下焦不歸者，則遺溲。是三焦之氣，發原於腎臟，歸著於中胃上下之間。《靈樞經》所論之出處，即《平脈論》所歸之部署也。有有形之部署，則有經脈氣穴，而為一腑矣。臟腑血氣之生始出入，先聖賢多詳論於諸經之中，奈何後人不能博覽群經，又不能貫通會悟，是以各執一見，而為一偏之辭。嗟嗟！三焦之理，數千年以來，尚議論紛紜，無惑乎諸君之折辯也。</p>

<h2>辯包絡</h2>
<p>越人謂心主包絡，與三焦為表裡，俱有名而無形。後人有以命門為包絡者。皆非通論也。少陽三焦之氣，生於腎臟，即相火也。相火者，先天所生之元陽也。包絡者，包絡於心下，多血而主脈，為君主之相。其脈起於胸中，出屬心包絡，下膈，歷絡三焦。（在三焦曰循，在包絡曰歷，皆分循分歷於中胃上下之間。）是包絡在膈上三焦在膈下，皆屬有形之臟腑也。但包絡、三焦之氣，並出於腎，一遊行於上中下，而各有所歸之部署；一入於心下包絡，而為君主之相。（《靈樞經》云：腎合三焦膀胱。乃腎氣上合於心包，猶膀胱之歸於部署。）猶腎與膀胱，太陽與君火，標本之相合也。腎中之元陽，先天之水火也，君火與包絡，後天之二火也。包絡、三焦，皆以有形無形之間求之，則得矣。</p>

<h2>辯督脈</h2>
<p>《骨空論》曰：督脈者，起於少腹以下，骨中央，女子入系庭孔。其孔，溺孔之端也。（庭孔，陰戶也。溺孔之㙐，戶內之產門也。此言督脈起於少腹之內，故舉女子之產戶以明之，是男於之督脈亦起於少腹內，宗筋之盡處，故下文曰：其男子循莖下至篡，與女子等。蓋此節舉女子，則男子可知，下節舉男子，則與女子等也。）其絡循陰器，合篡間，繞篡後，別繞臀，至少陰與巨陽中絡者，合少陰，上股內後廉，貫脊，屬腎。（篡，初患切。臀，音屯。篡間，前後二陰相交之處。此言督脈循陰器之下，從後臀貫脊，在十四椎之間，從命門而入內屬腎。蓋命門乃督脈所入之門，故越人以右腎名為命門，謂督脈主陽，而右腎屬火也。）與太陽起於目內眥，上額交巔上，入絡腦，還出別下項，循肩髆內，夾脊，抵腰中，下循膂，絡腎。（《根結篇》曰：太陽根起於至陰，結於命門。命門者，目也，督脈之從上而下者，起於太陽之命門，上額，交巔，絡腦，出項，循肩，抵腰，下膂，絡腎。是起於陽者，出於上之命門，而入於下之命門也。蓋太陽與督脈，乃陰中之生陽，本子先天之水火，為性命始生之門，故上下出入之處，皆名命門。上節曰貫脊，屬腎，此節曰循膂，絡腎；猶臟脈之屬臟絡腑，腑脈之屬俯絡臟。督脈之從下而上，從上而下，皆從命門而入屬絡於兩腎者也。出於庭孔者，起於陰，而貫脊，屬於右腎：與太陽起於目內眥者，起於陽，而下膂，絡於左腎。是以陰屬陽，以陽絡陰，陰陽交互之妙用也。夫男左女右，故上節論女子，此下論男子，良有以夫。）其男子循莖，下至篡，與女子等。其少腹直上者，貫齊中央，上貫心，入喉，上頤，環唇，上系兩目之下中央。（齊，同臍。此言督脈之原，起於少腹之內，而分兩岐。一從後而貫脊，屬腎；一從前而循腹，貫齊，直上系兩目之下，而交於太陽之命門．是督脈環繞前後上下一周，猶天道之包乎地外也。世人咸謂背為陽，腹為陰，督脈循於背，總督一身之陽；任脈循於腹，統任一身之陰，又不明越人以右腎為命門之義，故已詳註於《素問》，而復申明之。督脈分兩岐，而內絡兩腎，越人尚不能詳析經義。出分兩岐，而入亦分兩岐。）</p>

<h2>辯臟腑陰陽</h2>
<p>經云：太陰之上，濕氣治之。而有肺金之燥，燥濕之相濟也，是以脾喜燥而肺喜潤。陽明之上，燥氣治之。而胃合太陰之濕，臟腑雌雄之相配也，是以陽明不從標本，從中見太陰之濕化。陰陽和平，燥濕相合，則飲食消化，津液運行，而肌肉豐厚；如陰陽不和，則能食而瘦矣。故脾胃之陰濕太過者，宜燥之溫之；陽明之燥熱已甚者，宜苦寒以泄之。肺與大腸病秋金之燥者，宜清涼以潤之；感太陰之濕者，宜溫熱以燥之。此平治陰陽燥濕之道也。少陰之上，君火主之，而有腎臟之水；太陽之上，寒水主之，而有巨陽之陽：陰陽標本之相合也。是以水上火下，斯成既濟之無咎。若水不上濟，則火盛而心懸如病飢；火不下交，則下焦寒而足膝厥冷。故當調攝其水火之升降焉。厥陰之上，風氣治之，而有包絡之火；少陽之上，火氣治之，而有甲木之風。蓋火生於木，風自火出，風火之相生也。故火熾者，當先平其風木；風烈者，宜先息其火炎。此陰陽五行，雌雄配合，各有平調之法焉。故善養生者，非惟苛疾不生，更可以延年不老。</p>

<h2>辯九竅</h2>
<p>經云：天氣下降，氣流於地；地氣上升，氣騰於天。天地交而生化萬物。人秉天地陰陽之氣而生，是以人之形身，應天地之日月、五星、山川、溪谷，而人之九竅，亦應地天之泰卦也。上三竅皆偶，下三竅皆奇，（肺、心、肝為陰中之陽，而開竅皆偶；脾、腎為陰中之至陰，而開竅皆奇，此天地爐錘之妙用也。）奇偶之間，名曰人中，蓋以此中分人之上下陰陽也。肺開竅於鼻，心開竅於耳，肝開竅於目，脾開竅於口，腎開竅於二陰，（玉師曰：腎將兩臟，故開竅於二陰。）是五臟五陰之氣，通於九竅者也。六腑不和，則九竅為之不利，是六腑六陽之氣，通於九竅者也。九竅為水注之氣，是臟腑之津液，外注於九竅者也。陰中有陽，陽中有陰，陰陽交互，上下和平，水隨氣而運行於外，是天地交而九竅通也。若陰陽不和，則九竅閉塞，水道不行，則形氣消索矣。</p>

<h2>辯七門</h2>
<p>越人《四十四難》曰：唇為飛門，齒為戶門，會厭為吸門，胃為賁門，太倉下口為幽門，大小腸會為闌門，下極為魄門：是謂七衝門。人但知飲食從飛門而入，糟粕從魄門而出。不知所謂門者，有開有闔，有旋轉之樞，神氣之有出有入，皆由此門。如曰吸門，必先呼出而後能吸入，有如轆轤之有升有降也。夫人之所以養生者，莫先乎飲食，如飲食不下，二便閉癃，多有因於氣機不轉，人但知降下而不知升提，有如轆轤之繩，西不能下，因東之礙而不升。故曰：將欲下之，必先舉之。此之謂也。</p>
<p>開之曰：有礙於升者，有礙於降者，宜審別治之，又不可必其升而後降也。</p>

<h2>春傷於風夏生飧泄，秋傷於濕冬生咳嗽</h2>
<p>東方生風，春之氣也；中央生濕，土之氣也，主於夏秋之交，故曰秋傷於濕。（玉師曰：土主四氣之七月八月，故秋傷於濕。）夫身半以上為陽，身半以下為陰；腰以上為天，腰以下為地。故陽者，天氣也，主外；陰者，地氣也，主內。故喉主天氣，嗌主地氣；（嗌乃胃土之門，脾脈貫胃絡嗌。）陽受風氣，陰受濕氣。風乃陽邪，故傷於風者，上先受之。陽病者，上行極而下，故春傷於風，夏生飧泄。濕乃陰邪，故傷於濕者，下先受之。陰病者，下行極而上，故秋傷於濕，冬生咳嗽。此天地陰陽之邪，隨人氣之上下升降者也。（夏生飧泄，是天氣之下降於地也。肺主天，冬生咳嗽，是地氣之上騰於天也。）</p>
<p>張開之曰：因上受之邪，而生在下之病；下受之邪，而生在上之病，故曰生，謂從上而生於下，從下而生於上也。</p>

<h2>冬傷於寒春必病溫，夏傷於暑秋必痎瘧</h2>
<p>溫病、瘧病，皆邪伏於內，而後發者。寒乃陰邪，冬時陽氣內盛，故邪伏於在外皮膚之間。冬至一陽始生，至春陽氣盛長，外伏之陰邪，與陽相遇，邪正相搏，寒已化熱，故春發為溫病也。（陰遇陽則化熱，陽遇陰不隨正氣所化，故與陰氣寒熱交爭。）暑乃陽邪，夏時陽氣在外，裡氣虛寒，故邪伏於裡陰募原之內。夏至一陰始生，至秋陰氣盛長，內伏之陽邪，與陰相遇，邪正相持，故發為往來寒熱之痎瘧。（痎瘧，陰瘧也。陰邪發陽病，陽邪發陰病，皆人氣之所化。）此天地陰陽之邪，隨人氣之外內出入者也。夫《內經》首重天地陰陽之氣，寒暑往來，升降出入，人居天地氣交之中，隨四時之寒暑往來，而四時之風、寒、暑、濕，又隨人氣之升降出入。東垣不明經旨，反穿鑿綴緝，而安道譏之；安道譏之，而亦不能闡發其經義，是使後人而復譏後人也。</p>
<p>開之曰：春時陽氣盛長，秋時陰氣盛長，伏邪必隨氣而外出，故曰「必」。</p>

<h2>亢則害承乃制制則生化</h2>
<p>（古文：「制生則化」今文改為「制則生化」。）</p>
<p>帝曰：願聞地理之應六節氣位何如？岐伯曰：顯明之右，君火之位也；君火之右，退行一步，相火治之；（以臣受君，故曰退行一步。）復行一步，土氣治之；復行一步，金氣治之；復行一步，水氣治之，復行一步，木氣治之，復行一步，君火治之。相火之下，水氣治之；水位之下，土氣承之；土位之下，風氣承之；風位之下，金氣承之；金位之下，火氣承之，君火之下，陰精承之。帝曰：何也？岐伯曰：亢則害，承乃制，制則生化。此論地之六節，以應四時之六氣也。天道左旋，地道右轉，故曰顯明之右。顯明者，寅正之時，日方顯而明，故曰顯明，乃厥陰風木所主之時也；君火之位，乃二之氣，少陰所主之六十日也；相火之位，乃三之氣，少陽所主之六十日也；土氣之位，乃四之氣，太陰所主之六十日也；金氣之位，乃五之氣，陽明所主之六十日也；水氣之位，乃終之氣，太陽所主之六十日也。復行一步，木氣治之者，周而復始也。（復言水氣，以便接前歲之金制水生。）步者，六十日為一步，以主時之氣紀步也。治，主也。承者，下承上也，蓋以主時之氣在上，而行過之氣在下也。如四之氣，太陰濕土主氣，而無承製，則土亢矣；少生氣，則不及矣；有木製火生於下，則土化而和平矣。又如初之氣，乃厥陰風木主氣，如無承製，則木盛矣；少生氣，則不及矣；有金制水生於前，則木化而和平矣。化者，即天地陰陽之造化，若太過不及，則有災眚之變，而不能化生萬物，故曰「制生則化」，謂有制而有生則化矣。元人王安道謂改「制則生化」為是，蓋亦不明經義者也。此總論五行生剋之道，可一言以蔽者，奈何前人偭規矩而改錯，雕鏤深刻，議論紛更，所謂道在邇而求諸遠，事在易而求諸難，非惟求之不得，且使邇者、易者，反可黃可黑矣。</p>

<h2>上部有脈下部無脈，其人當吐不吐者死</h2>
<p>《難經·十三難》曰：上部有脈，下部無脈，其人當吐，不吐者死；上部無脈，下部有脈，雖困無能為害。所以然者，脈之有尺，譬如樹之有根，枝葉雖枯槁，根本將自生。脈有根本，人有元氣，故知不死。此越人論脈之生於中胃，寸生於尺，陽生於陰也。夫臟氣者，不能自至於手太陰，必因於胃氣，乃至於手太陰也。尺者，脈之根也，故善調尺者，不待於寸。是以上部有脈，下部無脈，其人當主吐傷中胃，而見此脈也。若不因吐而見此脈者，生氣已絕於內，即所謂寸口脈平而死者是已。故上部無脈，下部有脈，如樹之有根，雖困無害。上下文義，一氣呵成。張氏圖注云：凡人之脈，上部有而下部無，乃邪實在上，生氣不得通達，故當吐其邪而升其氣，否則源塞，故知必死。是張氏以上節論邪，下節論正，一段氣脈，分為兩截矣。且邪壅於上，而下氣不得疏達者，下部之脈必有力而沉緊，未有氣壅於下，而反無脈者也。若以無根之脈，而再令吐之，是促之速死矣。予嘗診霍亂之脈，寸尺皆無，脈復者生，不復則死。要知始吐之時，先下部無脈，待師至診之，並上部皆無矣。越人注《難經》八十一篇，乃採摘《內經》設為辯難，雖義理明顯，然其中亦有錯誤。若再疏注差訛，又為越人之罪人矣。噫！著述難，而箋釋亦不易易。</p>

<h2>東方實西方虛，瀉南方補北方</h2>
<p>《七十五難》曰：經言東方實，西方虛，瀉南方，補北方。何謂也？然：金木水火土，當更相平。東方，木也，西方，金也。木欲實，金當平之；火欲實，水當平之；土欲實，木當平之；金欲實，火當平之；水欲實，土當平之。東方者，肝也，則知肝實；西方者，肺也，則知肺虛。瀉南方火，補北方水。南方火，火者木之子也；北方水，水者木之母也。水勝火，子能令母實，母能令子虛，故瀉火補水，欲令金不得平木也。經曰：不能治其虛，何問其餘。此之謂也。夫遽曰金欲實，火當平之，水欲實，土當平之。是五行之氣，皆有亢有制也。奚止東方實，而南方當瀉乎？要知上二句乃啟下之文，下二句乃承上之辭也。意若曰：假如東方實西方虛者，當瀉南方而補北方也。瀉南方者，瀉東方之實，實則瀉其子也；補北方者，補西方之虛，子能令母實也。肺主呼吸，而腎為生氣之原，故經言腎為本，肺為末。荀子曰：未有子富而父貧者。即此義也。然首末經義，重在補虛，（首末是經義，中段是越人釋經。）故曰不能治其虛，何問其餘。當知瀉南方，亦所以補西方也。何問其餘者，言五行之氣，皆可推而論之。設使西方實東方虛，又當瀉北方而補南方矣。雖然，東南主生長之令，其氣多實；西北主收藏之氣，其氣多虛。故曰歲半以上，勝之常也。夫金欲實，火當平之；水欲實，土當平之。分論主時之氣，而各有太過也。東實西虛，瀉南補北，統論一歲之氣，而有虛實也。（以歲氣而兼論人身之五行，皆可。）參論經義，可分可合，庶為得之。</p>

<h2>《針經》論</h2>
<p>《靈樞》古名《針經》，《隋書·經籍志》謂之《九靈》，唐·王冰改為《靈樞》，蓋亦有所本也。其中論臟腑陰陽，雌雄配合，精神氣血，生死原流，營衛之經行出入，經脈之終始循環，三陰三陽有血氣之多少，手經足經分尺寸之短長；五臟五行之氣外合皮肉筋骨，四方四時之令內通肺腎心肝；十二經脈合地之十二經水，十一臟腑應天之六律五音；天地日月配形身之上下，人與天地參也；生長收藏隨寒暑之往來，而人亦應之。脈隨呼吸，應周天之二十八宿；營隨衛轉，合晝夜之百刻陰陽，十二經中，分是動所生之病證；五臟脈法，有緩、急、滑、澀之提綱；論五臟神，內舍五情五志；分五形人，外具五色五音；察面王即知臟腑之凶吉，審形氣便知壽命之短長。論氣之陰陽清濁，有順有逆；味之酸、辛、甘、苦，有忌有宜。論內傷之病，分別陰陽喜怒；外感之疾，各有部署形層。百病之起，有寒、熱、虛、實；湯液之法，有補、瀉、溫、涼。其間義理精微，不能盡述。苟非生知睿聖，焉能洞察隔垣？誠三才之原始，實醫學之上乘，後世視為《針經》而忽之！醫者能明正氣之生始出入，而後知邪病之虛實淺深，舍根本之大道，而反循末務，設遇盤根錯節，靡不意亂心迷，若能潛心此經，自然出類拔萃。</p>

<h2>傷寒書論</h2>
<p>世傳《傷寒論》，乃斷簡殘編，藉王叔和編次。聿稽仲景生於東漢，叔和西晉時人，相去止百餘歲，不遭秦火之劫，奚為斷殘乎？第經義淵微，鮮有通其義者，故輒坻《傷寒論》為非全書，聾瞽來學，實仲景罪人也。今世之醫，有終身目不識者，獨執陶氏《六書》，以為枕中鴻寶。夷考陶氏，剽南陽唾餘，分別門類，將經中語氣，皆為斷截。若學者熟讀全書，細心體會，其中義理，如神龍出沒，首尾相顧，一字一句，條分縷析，鱗甲森然，得其蘊奧，自有精華滋味，非比塵垢糠粃。（以上多系王肯堂語。）</p>

<h2>《金匱要略》論</h2>
<p>所謂要者，得其綱領也。知其要者，一以貫十，十以貫百，可千可萬，一言而終；不知其要，流散無窮。此之謂也。內如婦人妊娠章云：懷身七月，太陰當養不養，此心氣實，當瀉勞宮。類而推之，則知八月有手陽明之當養不養矣。十月之中，各分主養之臟腑，而各有當養不養之患，若止以七月論之，是舉一隅而不以三隅反也。學者潛心此書，得其要而引伸之，天下之理，其庶幾乎！</p>

<h2>診法論</h2>
<p>夫診脈察色，昉於《靈》、《素》諸經。西晉王叔和，因《傷寒論》、《金匱要略》，編輯《脈經》十卷，內雖採用經語，其中不無杜撰，且多七表八里之蛇足，圖畫七奇八怪之形狀，疑惑後學，反多岐路之悲。五代高陽生，假叔和名，撰《脈訣》二卷，然亦有所長。在叔和《脈經》，又未可為全璧。是以學者，當宗法《靈樞》、《素問》，及仲景《平脈》、《辨脈》諸法。《靈樞》有緩、急、大、小、滑、澀之提綱，《素問》有左右、前後、上下之診法，蓋以形身之上下四旁，以應天地六合之道。又三部九候之法，有天道焉，有人道焉，有地道焉，謂人居天地氣交之中，人與天地參也。《經脈篇》論六臟脈屬臟絡腑，六腑脈屬腑絡臟。《脈要精微論》以尺脈候腎，左附上以候肝心，右附上以候脾肺，蓋以兩腎為先天始分之水火，而生木火土金之五行也。臟腑之雌雄配合，經脈之屬絡相連，是以高陽生有左心、小腸、肝、膽、腎，右肺、大腸、脾、胃、命之歌，蓋亦有所本也。（本論以右附上候脾胃，則心與小腸、肺與大腸，不言而可知矣，後人妄生別論，皆未曾參究《內經》。）《平脈篇》有三菽、六菽之診法，謂皮、脈、肉、筋、骨，乃肺、心、脾、肝、腎之外合，故以舉按輕重，以候五臟之氣也。此四診之法，咸宜明瞭於心中，隨機應變於指下，兼之審證察色，而診道始備。至如褚澄、儲泳諸君之論，不徇經理，反復陰陽，顛倒臟腑，置之勿問可也。</p>

<h2>識脈論</h2>
<p>或曰：識脈其難乎！余曰：子但知識脈之難，而不知審脈之更難也。所謂識脈者，如滑伯仁之《診家樞要》曰：浮，不沉也；沉，不浮也。遲，不及也；數，太過也。虛，不實也；實，不虛也。滑，不澀也，澀，不滑也。長，不短也；短，不長也。大，不小也，小，不大也。緩，不逮也。弱，不盛也。伏，不見也。軟，無力也。微，不顯也。散，不聚也。洪，洪大也。細，微細也。代，更代也。牢，堅牢也。動者，滑大於關上也。弦者，狀如弓弦，按之不移。緊者，如轉索無常也。芤者，浮大而按之中空。革者，中空而外堅也。結者，緩而有止；促者，數而有止也。以對待之法識之，猶易分別於指下。所謂審脈者，體認所見之脈何因，所主之病何證，以心印之而後得也。《平脈篇》曰：浮為在表，沉為在裡，數為在腑，遲為在臟。又曰：浮則為風，浮則為熱，浮為氣實，浮為氣虛，浮則無血，浮則為虛，是將為外感乎？為內傷乎？為氣乎？為血乎？為實乎？為虛乎？是必審其證之表裡、陰陽、寒熱、虛實，病之久病、新病，脈之有力、無力，而斷之以意也。如扁鵲知桓侯疾之淺深，望而知之也；知虢太子不死，問而知之也。華佗聞呻吟之聲而取蛇毒，聞而知之也。後人惡能及二君之神智，然必四診咸備，而後可保萬全，故曰審脈之更難也。</p>

<h2>音聲言語論</h2>
<p>音聲者，五音之聲嘹亮而有高下者也。語言者，分別清濁字面，發言而有語句者也。土者，其數五。五者，音也。故音主長夏，是音聲之發於脾土，而響於肺金也。在心主言，肝主語。心開竅於舌，舌者音聲之機也。肝脈循喉嚨，入頏顙。喉嚨者，氣之所以上下者也。頏顙者，分氣之所泄也。肝心氣和，而後言語清明也。然又從腎間動氣之所發，故腎氣虛者，音聲短促，上氣不能接下氣矣。是以發言歌詠，出於五臟神之五志，故有音聲而語言不清者，當責之心肝。能語言而無音聲者，當責之脾肺。能言語、音聲而氣不接續者，當責之兩腎。聞乃四診之一，不知音聲之原委，又安能審別其病情乎！（《脈要精微論》曰。聲如從室中言者，是中氣之濕也。）</p>

<h2>望色論</h2>
<p>盧不遠先生曰：嘗讀桓公合諸侯衛人後至，公朝而與管仲謀伐衛，退朝而入，衛姬望見公，下堂再拜，請衛君之罪。公曰：吾於衛無故，子盍為請？曰：妾望君之入也，足高氣強，有伐國之志也，見妾而有動色，伐衛也。明日君朝，揖管仲而進之。管仲曰：君舍衛乎？公曰：仲父安識之？仲曰：君之揖朝也恭，而言也徐，見臣有慚色，臣是以知之。又公與管仲謀伐莒，謀未發而聞於國，桓公怪之。仲曰：國必有聖人也。公曰：嘻，日之役者，有執柘杵而上視者，意者其是耶！乃令復役，少頃，東郭牙至。管子曰：子邪言伐莒者？對曰：然。仲曰：我不言伐莒，子何故言伐莒？對曰：臣聞君子善謀，小人善意，臣其意之也。仲曰：子何以意之？對曰：臣聞君子有三色：顯然善樂者，鐘鼓之色也；愀然清靜者，衰絰之色也；艴然充盈手足矜者，兵革之色也。日者臣望君之在臺上也，艴然充盈手足矜者，此兵革之色也，君呿而不唫，所言者莒也。（呿，邱加切，音祛，張口貌。）君舉臂而指，所當者莒也，臣竊以慮諸侯之不服者，其惟莒乎！此例於醫，為望法之第一義也，何必五色精明象見哉！此三人者，專心事桓，故見其動容貌，而知其用舍。若能專心事病人，則一望所楚，深達其自己欲言而未能者矣。死生吉凶，其末事乎？若季札聞樂所言，是又聞法之第一義也。</p>

<h2>問因論</h2>
<p>《內經》曰：治之極於一，一者因得之。閉戶塞牖，系之病者，數問其情，以從其意。得神者昌，失神者亡。蓋得其因，則能定其名；能定其名，則知所以治矣。夫病又有脈證之相應者，有不相應者，有病久而重感於新病者，有外感風寒，而復內傷五志，病不以次入而乘傳者，故當詳審其受病之因，所病之苦，察其志意得失，神氣存亡，飲食嗜欲，居處房勞，參合脈證，以意逆之，然又不可惑於病家之言而無果斷也。予治一少年，傷寒三四日，頭痛，發熱，胸痛不可按。病家曰：三日前因食麵而致病者。予曰：不然。面飯糧食，何日不食，蓋因外感風寒，以致內停飲食，非因食麵而為頭痛、發熱者。故凡停食感寒，只宜解表，不可推食。如裡氣一鬆，外邪即陷入矣。夫食停於內，在胸下胃脘間接之而痛，今胸上痛不可按，此必誤下而成結胸。病家云：昨延某師，告以食麵之因，醫用消食之藥，以致胸中大痛。予診視外證尚有，仍用桂枝湯加減，一服而愈。又一鄰女，年十三四，始出痘，至七八日，漿尚未化，醫措藥竟。其父云：家中事務，俱是此女料理，平日極辛苦者。醫聞之，復大加黃耆、白朮，服後甚覺不安。次日，醫知誤投耆、術，復用清諒解毒，角刺、甲片攻之，毒不能化，遂成不救。此皆惑於病家之言，不能主持過耳！聊記此二者，以為聽言之鑑。</p>

<h2>傷寒傳經辯</h2>
<p>夫陰陽之道，一陰一陽，分而為三陰三陽。三陰三陽，應臟腑之十二經脈，是無形之氣，合於有形之經，在經脈有手足之分，在六氣止論三陰三陽，而無分手與足也。風、寒、暑、濕、燥、火，天之陰陽也，在人亦有此陰陽之六氣。如太陽之上，寒水主之。寒水者，膀胱之水也。太陽者，巨陽之氣，水中之生陽也。《靈樞經》曰：膀胱者，毫毛其應。是太陽寒水之在下，而巨陽之氣衛於通體皮毛之間。夫邪之中人，必先始於皮毛，故凡傷於寒，則為病熱，是天之寒邪，病太陽之陽氣，得陽氣而寒反化熱也。（天之寒邪，病寒水之氣，同氣相感也。）太陽寒水之經脈，上循於頭項，故見頭項強痛之證，此病氣而及於經，非經氣之兼病也。如邪溜於經，則為桃仁承氣之下證，不復再傳陽明矣。經曰：厥陰之右，少陰治之，少陰之右，太陰治之；太陰之右，少陽治之；少陽之右，陽明治之，陽明之右，太陽治之。是以一日太陽，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰，七日來復於太陽，如不作再經，而病自愈矣。此六氣之相傳也。如邪留於陽明，則見白虎湯之渴證，承氣湯之燥證，不復再傳少陽矣，如邪留於少陽，則見往來寒熱之柴胡湯證，不復再傳太陰矣；如邪留於太陰，則見脾家實腹滿時痛之腹證，不復再傳少陰矣；如邪留於少陰，則見自利而渴之經證，不復再傳厥陰矣；如邪留於厥陰，則見下利膿血之熱證，不來復於太陽矣。此始病太陽之氣，得陽氣已化熱，故雖傳留於三陰而皆為熱證，至於不能化熱，及直中三陰之陰證，又當別論。夫六氣相傳，止見太陽之頭痛，至七日以上自愈者，以行其經盡，而來復於太陽，不見六經之證也。如見少陽證，則為邪留少陽；見少陰證，則為邪留少陰。非病在少陽，而再傳太陰；病在少陰，而再傳厥陰之理也。先賢見太陽病而復見陽明證者，曰此循經傳也，見太陽病而後見少陽證者，曰此越經傳也；見太陽病而後見太陰證，曰此誤下傳也；見太陽證而後見少陰證者，曰此表裡傳也。（越經、誤下之說，皆系杜撰。）夫太陽之邪，傳留於某經，則見某經之病，不復再傳別經，非六氣相傳，而七日來復於太陽之傳經也。皆緣不明陰陽經氣之道，不識仲景之書，而妄為臆說如此。又太陽標陽而本寒，少陰標陰而本熱，陰陽水火之氣，交相感召，故有病太陽而傳於少陰者，此亦氣相感而不涉於經也。有病在太陽而為心下煩悶者，先輩曰此壬水逆傳於丙，丙丁兄妹相傳，此更為不通之說也。（以上論六氣相傳，以下論傳足不傳手。）夫六氣運行，四時代序，總屬寒暑往來，而皆歸於地，故人亦應之。如君、相二火，發原在腎，太陽之氣生於膀胱，風氣本於肝木，濕氣本於脾土，燥氣本於胃金，腰以上為天，腰以下為地。三陰三陽之氣，皆從陰而生，自下而上，故《素問·厥論》曰：陽氣起於足五指之表，陰氣起於足五指之裡。是以陰陽六氣，止合足之六經。《靈樞·本輸篇》曰：五臟六腑之輸，五五二十五輸，六六三十六輸，六腑皆出足之三陽，上合於手者也。是三陰三陽之氣，止合足之六經，足之六經，上合於手者也。是以天之寒邪，始病太陽膀胱之氣，六氣相傳，止見足經之證，而不與手經相涉。（天之六淫，病人之六氣，太陽之上，寒氣治之，與手太陽之小腸火，毫無干涉。）先輩有以手經皆為有餘，足經皆為不足之說者；有以足六經屬水土木，手六經屬金與火之說者；有以上體多受風熱，下體多感寒濕之說者。嗟嗟！傷寒之理甚難，挈其綱領，示以大道，尚不能窺仲景之藩籬，若再多旁岐之說，使後學更無歸著矣。予故設此辯，匪敢政前賢之是非，聊以俟後人之詳審爾！</p>

<h2>陽證陰證辯</h2>
<p>夫《內經》之所謂未滿三日者，可汗而已；其滿三日者，可泄而已。蓋謂熱病而言也，故篇名《熱論》。熱病者，寒邪在於表之三陽，寒已化熱，故可汗而已；在不從汗解，則熱邪已入於裡陰，故可下而已。若寒邪在表而不能化熱，及表陽虛脫者，太陽經有四逆湯之寒證，寒邪直中於里陰，感君、相二火之熱化者，少陰經有急下之火證，厥陰經有便膿血之熱證。此皆從人身中之氣化也。故邪在三陽曰陽證，能化熱曰熱證，不能化熱曰寒證；在三陰曰陰證，病陰寒曰寒證，得火化曰熱證。又不可以病在陽而定為熱病，在陰而必為寒也。</p>

<h2>陽劇似陰陰劇似陽辯</h2>
<p>陽劇似陰者，謂厥深熱亦深也。《厥陰篇》曰：傷寒一二日至四五日，厥者必發熱，前熱者後必厥，厥深者熱亦深，厥微者熱亦微。所謂傷寒一二日者，謂一日病在太陽，二日病在陽明，寒已化熱，至四五日而後傳入於裡陰，故曰必發熱。言傷寒一二日必前發熱，至四五日而後厥也。深重微輕也，蓋熱邪深入，而裡氣不能外達，故熱深而厥亦深也。如此者，當知一二日之間，邪在表陽，曾發熱，而後傳入於裡陰也。（一日必見太陽之頭痛。）所謂陰劇似陽者，乃寒邪直中於里，陰盛而格陽於外，是以喜寒惡熱，揭去衣被，欲臥涼處。如此者，其人必躁，其脈沉細，或虛浮而亂，其舌必滑，其面色必清；或赤浮於外，其膚必涼，或發熱者，必先涼而後熱，以手按之，始覺壯熱，久之反涼。此二者，先詳審其因證，而假象自露矣。若猶恐陽劇似陰，陰劇似陽，先以此搖惑於心中，則反有差誤。</p>

<h2>陰證本於陽虛辯</h2>
<p>陽者，天氣也，主外。陰者，地氣也，主內。故陽在外，陰之使也；陰在內，陽之守也。是以人之三陽，猶外之重門；人之三陰，猶內之堂室。邪中於陰而為陰證者，乃重門不固，本陽虛也，雖然外城已破，內城尚可固守。蓋陽生於陰，裡氣實者，猶能外禦其侮。若表氣微虛，裡氣不守，則使邪中於陰矣。有一方士，華輿盛服，昂昂然至病者之家，審其脈證虛寒，曰：此陰證也。病者曰：不然。予保養數月矣。病者之妻，亦大慍於側，佯哂而譏之。方士赧言語澀，遂不敢用溫熱之藥，貿貿然而出，若有所失。悲夫！不明陰陽之道而為醫，猶未能操戈而使之戰也。</p>
<p>開之曰：陰陽之道，陽密為要。如陽氣不固，則邪不以次入，憂、恐、悲、喜、怒，皆傷五臟，邪即隨所傷之臟而乘之，又非獨腎精之能固守也。</p>

<h2>邪正虛實辯</h2>
<p>岐伯曰：夫百病之始生也，皆生於風雨寒暑，陰陽喜怒，飲食居處。大驚卒恐，則血氣分離，陰陽破散，經絡厥絕，脈道不通，陰陽相逆，衛氣稽留，經脈虛空，血氣不次，乃失其常。《通評虛實論》曰：邪氣盛則實，精氣奪則虛。又曰：邪之所湊，其正必虛。是凡病未有不為邪氣所傷，而即為正氣虛脫者也。是以大骨枯槁，大肉陷下，胸中氣滿，喘息不便，皆因外感風寒，內傷五志之所致。故凡病當先卻其邪，調其血氣，順其所逆，通其所稽，則陰陽和平，而正氣自復。若止知補虛，而不清理其病，邪病一日不去，正氣一日不復，漸積至久而成不救之虛脫矣。又常見少年子女，因感外邪，而為發熱，咳嗽，或為唾血，或為夜熱，不行清理其邪，而致陰陽破散，血氣乾枯，有不數月而死者，有不周歲而死者，而曰此百日怯也，此周年怯也。悲夫！夫少壯之人，精神日盛，血氣日生，若不因邪病而成虛怯，未之有也。有不因邪病而成虛怯者，奇恆之病也。（不因外感內傷，故曰奇恆。）《大奇篇》曰：胃脈沉鼓澀，胃外鼓大，心脈小緊急，皆隔，偏枯，男子發左，女子發右。年不滿二十者，三歲死。（從內而外，故曰發。）夫人之榮衛血氣、皮肉筋骨，皆資生於胃腑水穀之精。胃脈沉鼓澀者，胃虛而生氣衰也。血氣不能榮養於身，故成偏枯之證。年未滿二十者，精神正盛，血氣方殷，而反見此衰敗之證，此因先天所秉之元氣虛薄，而後天不能資培，斯成自損之病，然亦至三年之久，而不致於速死。審辯邪正虛實，臨證要緊關頭，名醫之門多疾，若能分別救治，庶幾其有瘳乎！</p>

<h2>陽脫陰脫辯</h2>
<p>陰陽虛脫，有外因、內因之分，有偏勝、偏絕之別。如邪中於陰，手足厥冷，脈微欲絕，此陰盛而生陽之氣欲絕於內也；如欲冷飲，欲臥涼地，揭去衣被，躁而不安，此陰盛於內而陽欲脫於外也，急宜參、附、薑、桂以救之；如發汗不解，身反大熱，此陽盛而陰絕於內也，如陽明病，發熱汗多者，急下之，宜大承氣湯，此陽盛於內而陰液外脫也。此外因之陰陽偏勝而偏絕也。若夫內因之陰陽，陽生於陰，陰生於陽。陽生於陰者，陽氣生於陰精也；陰生於陽者，陰精之生於陽化也。陽化者，陽氣化水穀之精微，而生此精也。陰陽和合，交相生化，是為平人。如孤陽不生，獨陰不長，此陰陽之生機欲絕於內也。《難經》曰：脫陽者見鬼，脫陰者目盲。蓋陽脫者，從下而脫於上；陰脫者，從上而脫於下，故脫陰而目盲者，尚有餘命之苟延，脫陽而見鬼者，不計日而死矣。夫陽脫之患，多有本於陰虛。如年老之人，足膝寒冷，此元陽之氣漸衰，而欲絕於下，宜用參附、半硫之類，以助生陽。如或因脾胃虛而穀精不生，或入房甚而腎精日損，或憂恐而藏精漸消，或煩勞而精神日耗，以致陰氣日衰，而陽將外脫矣。故治未病者，見陰精有虧，乃陽脫之漸，預培養其陰焉。若待陽氣外脫，用桂、附而欲其引火歸原，不知陰精者，陽氣之生原也，其原已絕，又安所歸乎？故陽脫而用桂、附救之者，外因之脫也；治內因而用桂、附者，助陽氣之衰於下也。（若陰虛而陽脫者，非桂、附可救。）故曰陰陽虛脫，有外因、內因之分，有偏勝、偏絕之別。</p>

<h2>病有新故辯</h2>
<p>夫新病者，多宜於清解；久病者，多宜於補養。《根結篇》曰：形氣不足，病氣有餘，是邪勝也，急瀉之；形氣有餘，病氣不足，急補之，形氣不足，病氣不足，此陰陽俱不足也，不可刺之，刺之則重不足，重不足則陰陽俱竭，血氣皆盡，五臟空虛，筋骨髓枯，老者絕滅，壯者不復矣；形氣有餘，病氣有餘，則陰陽俱有餘也，當瀉其邪，調其虛實。故曰：有餘者瀉之，不足者補之。此之謂也。《脈要精微論》曰：徵其脈小，色不奪者，新病也；徵其脈不奪，其色奪者，此久病也；徵其脈與五色俱奪者，此久病也；徵其脈與五色俱不奪者，新病也。是凡病皆當審其形氣色脈，而分別其新故焉。然又有病久而重感新病者，又當清解其邪，而調其虛實。若見其病氣有餘，則以為病久而變劇，仍用久病之法治之，以致中道夭而不終其天年，乃不審新故之過耳！夫血氣壯盛者，尚為邪所中，況久病之人，血氣虛衰，腠理不密，寧保其不復為邪氣之所傷乎？</p>

<h2>飲酒傷脾辯</h2>
<p>夫飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。是入胃之飲，從在內之脾肺，四布於皮毛，下輸於決瀆，而為津為溺，乃從內而外也。酒入於胃，隨衛氣而先行皮膚，先充絡脈，絡脈先盛，衛氣已平，轉入於經，而經脈大盛，是反從外而內也。蓋酒者。水穀之悍液；衛者，水穀之悍氣。故隨衛氣而先行皮膚，是以飲酒者，面即赤，而小便獨先下，乃先通調於外而下輸也。其充滿於經脈者，復歸於脾肺，是以醉飽入房，多成中滿、噎隔、咳嗽、吞酸之病，蓋留積於內，不復通調於外，致傷脾、肺故爾。</p>

<h2>發汗利水辯</h2>
<p>夫汗之生源有二：一出於充膚、熱肉之血，血之液化而為汗，此表汗也；一出於陽明胃腑，乃水液之汗也。是以表汗止可微取，恐血液傷而陽氣脫；若水液之汗，不妨如水淋漓。麻黃湯發表之劑也，麻黃空細如毛，能開發皮毛間之閉邪。植麻黃之地，冬不積雪，能通陽氣於至陰之下。又肺主皮毛，故配杏子以利肺氣，蓋內竅通而外竅始通也。如配石膏，乃直從陽明而發水液之汗，又非發表之劑矣。（配一味即大相徑庭，立方加減，可輕忽歟！）如小便不利者，用麻黃、杏子配八正散，內加二味，其應如響，蓋外竅通而內竅通，上竅通而下竅即利矣。予在苕溪，治一水腫者，腹大，膚腫，久服八正散、琥珀散、五子、五皮之類，小便仍淋漓，痛苦萬狀。予曰：此雖虛證，然水不行則腫不消，腫不消則正氣焉能平復？時值夏月，予不敢用麻黃，恐陽脫而汗漏不止，以蘇葉、防風、杏子三味，各等分，令煎湯溫服，覆取微汗，而水即利矣。次日至病者之室，床之上下，若傾數桶水者，被褥幃簿，無不濕透。病者云：昨服藥後，不待取汗，而小水如注，不及至溺桶，而坐於床上行之，是以床下如此也。至天明，不意小水復來，不及下床，是以被褥又如是也。今腹滿、腫脹俱消，痛楚盡解，深感神功之救我。予曰：未也。此急則治其標耳！子之病因火土傷敗，以致水泛，乃久虛之證也。火即人之元氣，必待脾氣、元氣復，而後可保其萬全。予即解維，寫一六君子方去甘草，加蒼朮、厚朴、炮薑、熟附子，每日令濃煎溫服；即以此方令合丸藥一料，每日巳未時服之，即止其湯藥。半載後，病者之兄，備土物來謝曰：吾弟已全愈矣。予曰：如此之證，水雖行而正氣不復，後仍腫脹而死者比比，此命不應絕，非予之功也。雖然邪之所湊，其正必虛，若初腫之時，行去其水，正氣易於平復，醫者不知發汗行水之法，惟以疏利之藥利之，腫或減而無尾閭之泄，猶以鄰國為壑耳！如久服疏利之藥，則正氣日消，水留日久，則火土漸滅，然後以此法行之，無濟於事矣！</p>

<h2>癱勞鼓膈為難治之因辯</h2>
<p>夫飲入於胃，猶海之行雲氣於天下；谷入於胃，由脾土之轉輸於四旁。是以水穀之津液，各走其道，五臟六腑皆以受氣，皮肉筋骨，咸以資生，故曰清陽發腠理，濁陰走五臟，清陽實四支，濁陰歸六腑。是止濁中之濁者，歸於大腸、小腸、膀胱，而為糞為溺也。夫勞怯、膈、脹之證，或久嗽而傷肺，或鬱怒以傷肝，或不得志意而心脾之氣不舒，或過於勞傷而腎藏之精漸絕，入胃之藥食，不能輸布於五經，惟走腸胃而為穢濁，故雖久服而毫無效驗也。即誤服其藥餌，亦不覺其有損，用參、苓之神品，亦不能受其精華，此皆郁逆之為故耳！以致精神日減，肌肉日消，而漸無生氣矣。脹滿之病，在於腸胃之外，郛郭之中，如脾不運行，則藥食更不能及。知陰陽升降之理，五行運化之道者，先當理其脾胃焉。土氣化而灌溉四旁，坤德厚而資生萬物，津液生而陰火伏，地天泰而否隔消，脾氣運行則脹滿日減，筋骨濡潤則癱瘓可強。此端本澄源之大道也。若不知治本，惟以涼潤之藥，欲其降火生津，潤下飲食。夫脾喜燥而肺惡寒，脾土濕則不能輸運，肺氣寒則不能通調，以致津液不生，痰涎反甚，陰火炎而咳嗽頻，上下否而隔脹愈劇矣。（陰火不可撲滅，遇水愈熾，得所生之真精而後能制之。）</p>

<h2>能醫傷寒即能醫痘疹，能醫痘疹即能醫癰毒辯</h2>
<p>學士許叔微曰：能醫傷寒，即能醫痘疹；能醫痘疹，即能醫癰毒。蓋能醫傷寒者，知表裡、陰陽、寒熱、氣血、邪正虛實耳！傷寒之邪，從外而內；痘疹之毒，從內而外。若夫癰毒，有因於風寒暑濕之外襲者，有因於喜怒飲食之內傷者，是以傷寒、痘疹、癰毒，皆當審其表裡、虛實而治之。如痘證之表實者，當清解其表；裡實者，即疏利其里，血熱者，涼血；氣逆者，理氣；邪毒盛者，急宜清熱解毒；正氣虛者，又當兼補其正焉。氣虛者，補氣，血虛者，補血，表虛者，固表：裡虛者，實里。是以治痘有寒熱溫涼之方，有功解補瀉之法。蓋瀉者，瀉其熱毒，補者，補其正虛。昔錢氏痘方，多用清涼，謂當清熱毒為要。陳氏專用溫補，謂血氣充足，而後能化毒成漿。此皆偏執一見，而不得中正之道者也。故為兒醫者，當以二氏之方，折中其間，審其邪正虛實而治之，萬無一失矣。至於癰毒之證，與痘證無二，而治法亦同。如陰毒在內而不起發者，即痘毒之內陷也；根盤收斂而高聳者，即痘之界地分明而起脹也；膿稠者，即痘之漿厚也；無膿者，即痘毒之不化也；能食者，即痘毒之盡發於外也，不能食者，毒氣尚壅滯於內也，收口者，即痘之結痂也，臭爛者，即痘之㹀爛不收也。或解，或攻，或補，或瀉，皆當以治痘之法治之。古來瘍醫，咸以為痛癢瘡瘍，皆屬於火，惟以寒涼之藥治之，或毒反冰伏而不起者，或始終用攻利之藥，致正氣虛脫而後成不救者。噫！為兒醫、瘍醫者，能潛心於《靈》《素》仲景諸書，功德無量矣。</p>

<h2>乳癰鼠瘻辯</h2>
<p>一婦人產後，乳上發癰，腫脹將半月，周身如針刺，飲食不進。余診之，六脈沉緊有力，視左乳連胸脅皆腫。予用麻黃、葛根、荊、防、杏子、甘草、石膏，令溫服取汗。次日復視之，曰：昨服藥後，身有大汗，而周身之痛盡解，乳上之腫脹亦疏，飲食亦進，服藥不啻十有餘劑，毫無效驗，奚此劑有如是之功也。予曰：《金匱要略》云：產後婦人喜中風。《生氣通天論》曰：開闔不得，寒氣從之，榮氣不從，逆於肉理，乃生癰腫。此係風寒外壅，火熱內閉，榮衛不調，以致腫痛。諸醫止以涼藥治熱，而不知開闔故也。今毛竅一開，氣機旋轉，榮衛流行，而腫痛解矣。《內經》云：食氣入胃，散精於肝。此腫屬陽明、厥陰二經，是以飲食不進，今經氣疏通，自然能食矣。又一老嫗，兩頰浮腫，每邊有核如梅子大。嫗曰：予一侄女，因生鼠痿而死，又一甥女，亦患鼠瘻而歿，今心甚憂之。余診其脈，兩寸口皆浮大，其證則頭痛、發熱。予曰：不妨，汝證乃風寒陷於脈中而為瘻，用解肌蘇散之劑則愈，與侄女、甥女之瘻不同。二女子之瘻，其本在臟，其末在脈，原系惡疾，有灸刺之法，載在《內經》骨空篇中，能依法治之，亦不至於死，此緣失於救治者也。籲！治癰瘍者，可不知《內經》乎！</p>

<h2>能食而肌肉消瘦辯</h2>
<p>胃乃受納之腑，脾為轉運之官，故水穀入胃，得脾氣之轉輸，而後能充實於四肢，資養於肌肉。胃為陽，脾為陰，脾與胃以膜相連，陰陽相交。如能食而瘦者，陽與陰絕也。夫陽明不從標本，從太陰中見之化。陽明乃燥熱之腑，不得太陰之濕化，則悍熱之氣更盛；脾不得稟水穀之氣，則太陰之氣愈虛。是以胃中熱則消穀善飢，脾氣虛則肌肉日瘦，盛者愈盛而虛者愈虛，漸至五有餘而二不足，則死不治矣。夫人參、甘草、半夏、橘皮、生薑之類，乃助胃之品也；白朮、蒼朮、山藥、黃耆、厚朴、茯苓、乾薑、大棗之類，乃助脾之品也；枳實、黃連、大黃、石膏、麻仁、芍藥之類，乃抑胃之藥也。經言強者抑之，弱者扶之。不知藥性之所主，不分強弱之資抑，是以強者仍強，而弱者仍弱矣。《陽明篇》曰：胃氣生熱，其陽則絕。又曰：浮則胃氣強，其脾為約，麻仁丸主之。此陽與陰絕，而用抑強之法也。</p>
<p>張開之曰：此外因之新病，故止用抑強之法。如病久而肌肉消瘦者，當以助脾之藥為君，宜胃之藥為臣，使胃氣與脾氣相通，瀉胃之藥為佐，斯為正治之法。</p>

<h2>奇恆論</h2>
<p>夫病之生於內傷外感，人所共知，而奇恆之病，知之者鮮矣！所謂奇恆者，異於恆常也。乃陰陽偏勝，五行逆傳，審證辯脈，大有徑庭。《內經》之論疾病者，不及二十餘篇，論奇恆之章有八。學者當用心參究，庶免五過之責。</p>

<h2>利論</h2>
<p>（古文作利，今文作痢。）</p>
<p>夫利有三因：因於外感風寒暑濕，而為下利膿血者，有死有生，有氣有血，宜補宜瀉，宜寒宜熱，具在《傷寒論》、《金匱要略》及《千金》諸方，各宜隨證而分別治之。又有陽中霧露之氣，陰中渾濁之邪，血凝自下，狀如豚肝，陰陽俱厥，脾氣孤弱，五液注下，下焦不闔，清便下重，令便數難，臍築湫痛，命將難全，詳論《辨脈篇》中。此外因之下利也。有因食飲不節，起居不時，陰受之而入五臟，則填滿閉塞，下為飧泄，久為腸澼，此內因之下利也。有因於奇恆之下利者，乃三陽並至，三陰莫當，積並則為驚，病起疾風，至如霹靂，九竅皆塞，陽氣滂溢，干嗌喉塞，並於陰則上下無常，薄為腸澼，其脈緩小沉澀，血溫身熱死，熱見七日死。蓋因陽氣偏劇，陰氣受傷，是以脈小沉澀。此證急宜大承氣湯瀉陽養陰，緩則遂成不救。醫者不知奇恆之因，見脈氣和緩，而用平易之劑，又何異於毒藥乎？予故曰：服平和湯而愈者，原不死之病，勿藥亦可；服平和湯而後成不救者，醫之罪也。</p>

<h2>中風論</h2>
<p>夫邪之中於人也，有皮肉筋骨腑臟之淺深，有陰陽寒熱燥濕之氣化。況風之善行而數變，是以傷於皮毛，則為頭痛、發熱、咳嗽、鼽涕之輕證；入於血脈，則肌膚不仁，或為癘瘍，或為腫瘻；邪在肌肉筋骨，則為痛痹，或為拘攣，或為偏枯，邪入於腹，或為飧泄，或為燥結；邪入於腑，即不識人；邪入於臟，舌即難言，口唾痰涎。此邪入之有淺深，而病之有死生輕重也。夫天有六淫之邪，風有六氣之化。邪襲於陽，則為熱化；中於陰，則為陰寒。濕盛者，則痰涎上壅；燥盛者，則腸胃下結。邪氣盛者，則病氣形氣皆盛；正氣虛者，則病氣形氣皆虛。總屬天之風邪，而人身中有寒、熱、燥、濕、虛、實之化。是以河間謂中風主於火，丹溪謂主於痰，東垣謂主於氣，又曰：中風之病，惟年老者有之。此皆未明陰陽氣化之道也。夫喎僻拘攣，目斜不語，在童稚則為急慢驚風，在少壯則為中風卒暴。予一侄女，年二十餘、體甚豐厚，精神強旺，六月盛暑，恆貪風涼，臨窗露臥。忽一日頭大痛，身熱，無汗，口不渴而躁，手足拘急，口眼喎斜。余診之，六脈沉細。予曰：邪已入臟，此危證也。次日即不能言，口唾涎，藥亦不受，病三日而死。如此之候，年少壯盛者比比，又非獨於老人也。經曰：夏傷於暑，冬傷於寒。是夏月止有風暑，而無寒邪，即見陰寒之證，而宜於薑、附之熱藥者，乃邪中於里陰而不得陽熱之化，非天之寒氣也。（夏月陽氣盡發越於外，而裡氣虛寒。）時下名流，咸以此證為中寒。予微哂之曰：是固知年少之無中風也。若謂少壯之人，血氣充實，而不為風邪所中，是亦不應中寒、中暑矣。此習俗之固弊，牢不可破者也。或曰：然則老年之多中風者，何氣使然？曰：年老之人，天癸已絕，血氣虛衰，腠理不密，故易於受風，且精氣竭而痰火盛，是以有因痰、因火、因氣之說焉。夫客氣邪風，中人多死。若五臟安和，元真通暢，不使形體有衰，病則無由入其腠理。《靈樞經》曰：八風之邪，皆從其虛之鄉來，乃能病人。三虛相搏，則為暴病卒死。兩實一虛，則為淋露寒熱。其有三虛而偏中於邪風，則為擊僕偏枯。故聖人避風，如避矢石。是聖人之教化，又何嘗有年老少壯之分也！</p>

<h2>頭痛論</h2>
<p>夫但知三陽之脈，上循於頭，而為頭痛，不知厥陰與督脈會於巔，而少陰之骨髓通於腦也。止知風寒火熱在頭，而為頭痛，又不知足六經之證，上逆於頭，而為厥頭痛也。足六經之氣，能厥逆於頭，而為頭痛，又當知寒邪入腦，亦能傳於厥陰、少陰，而為陰證也。真頭病者，頭痛甚，腦盡痛，手足寒至節，死不治。</p>

<h2>心痛論</h2>
<p>夫咸謂心痛者，乃胃脘當心而痛，不知有厥心痛也。厥心痛者，四臟之氣，逆客於心下而為痛也。心痛與背相控，善瘈。如從後觸其心，傴僂者，腎心痛也；心痛如以錐針刺其心，心痛甚者，脾心痛也；心痛色蒼蒼如死狀，終日不得太息者，肝心痛也；臥若徒居，心痛間，動作痛益甚，色不變，肺心痛也。胃脘當心而痛者，上支兩脅，膈咽不通，食不下。各審其脈證，而隨經取之，分別寒、熱、虛、實而治之，無有不效者矣。若真心痛者，手足青至節，心痛甚，旦發夕死，夕發旦死。</p>

<h2>腹痛論</h2>
<p>腹者，太陰之宮域，腸胃之郛郭。病滿痛者，有入腑干臟之分，有緩急輕重之別。如卒暴絞痛，面青肢冷，此邪直干陰分，急宜刺泄其邪。如暴吐下利，此邪傷陽明，名曰霍亂。若發熱頭疼，為欲愈也。如厥逆脈脫，急宜理中圓，甚者加附子，晬時脈還，手足溫者生，不復則死，此邪甚而胃氣絕也。如腹痛下利而能食者，乃邪入於腸中，利止則愈。此皆直中於內，而有臟腑輕重之分焉。又有邪傳五臟，而為腹痛者，始發於皮毛腠理，正氣不能御邪，泮衍於血脈中，而傳溜於內，大氣入臟，腹痛下淫。此淫傳敗絕之證，不及二十日而死，雖盧、扁再生，亦不能救。此證多有不究心者，悠悠忽忽，反為病家怨尤。</p>

<h2>消渴論</h2>
<p>病陽明之燥熱而消渴者，白虎湯主之。此外因之渴也。胃氣弱而津液不生者，人參湯主之。此內因之渴也。有脾不能為胃行其津液，肺不能通調水道，而為消渴者，人但知以涼潤之藥治渴，不知脾喜燥而肺惡寒。試觀泄瀉者必渴，此因水津不能上輸，而惟下泄故爾。以燥脾之藥治之，水液上升，即不渴矣。故以涼潤治渴，人皆知之，以燥熱治渴，人所不知也。</p>

<h2>咳嗽論</h2>
<p>咳者，肺證也。有邪在皮毛而為肺咳者，有五臟受邪，各傳與之肺而為咳者。此外因之咳也。有寒飲食入胃，從肺脈上至於肺，則肺寒而咳者；有臟腑之鬱熱，上蒸於肺而為咳者。此內因之咳也。蓋肺者，五臟之長也，輕清而華蓋於上，是以臟腑之病，皆能上傳於肺而為咳。然其標見於肺，而其本在於臟腑之間，故當以標本之法兼而行之，治無不應矣。《咳論》曰：肺咳之狀，咳而喘息有音，甚則唾血。心咳之狀，咳則心痛，喉中介介如梗狀，甚則咽腫喉痹。肝咳之狀，咳則兩脅下痛，甚則不可以轉，轉則兩胠下滿。脾咳之狀，咳則右脅下痛，陰陰引肩背，甚則不可以動，動則咳劇。腎咳之狀，咳則肩背相引而痛，甚則咳涎。胃咳之狀，咳而嘔，嘔甚則長蟲出。膽咳之狀，咳嘔苦汁。大腸咳狀，咳而遺矢。小腸咳狀，咳而失氣，氣與咳俱失。膀胱咳狀，咳而遺溺。三焦咳狀，咳而腹滿，不欲食飲。</p>

<h2>砂證論</h2>
<p>所謂砂者，身上有斑點如砂，或用麻刮之，則累累如硃砂，故名曰砂。此乃風寒濕邪，或山嵐瘴氣，襲於肌皮之間。皮者，肺之合；肌者，脾之合。肺主氣而脾主腹，邪內干於肺，則氣逆而面青肢冷，干於脾，則腹中絞痛。故淺者刮之，深者刺之，使邪氣外泄，而痛可止。若邪甚而失於救刺，則邪干臟而氣機不轉，即不能救矣。近時名曰斑砂，宜刺百會。蓋刺百會出血，名為開瘄門，瘄即斑疹，故以治瘄之法治之。若非熱盛發斑，又不必取百會矣，虞天民《醫學正傳》曰：治砂證，或先用熱水蘸搭臂膊，而以苧麻刮之；甚者針刺十指出血，或以香油燈照視胸背，有紅點處皆烙之。是斑點之說，其來舊矣。淬烙之法，有行之矣。近時以為新有之斑砂，乃失於涉略故耳！夫熱邪在於皮膚，或寒邪化熱而後成斑，若卒中而即入於內者，面青肢冷，有何斑點？若不急刺，則為卒死，又何假於照淬乎！</p>

<h2>痘論</h2>
<p>痘疹之論，自昔及今，不啻百有餘家。然不參究《靈》、《素》諸經，不知臟腑血氣之生始出入，是以止知順、險、逆之證，而不知順、險、逆之因，不知其因，則不能用救治之法矣。夫人秉陰陽水火之氣而成此形，蓋有正氣，必有邪淫，此天地自然之理也。（在天地亦有淫氣。）是痘之毒氣，已萌於有生之初。夫有生之初，猶太極也；三月而成形，先生兩腎，猶太極而分兩儀。是痘之根原在腎。腎為水臟，主藏精而化血，又為生氣之原。少陽之氣，乃水中之生陽，上與心主包絡相合，故痘之起發，隨少陽之正氣而上達於心包。（腎氣之交於心包，必從中焦而上。邪在陽明，則為嘔逆，陽明熱盛，則為發狂。故痘前發驚者，可治。若發於肝、脾、肺外合之皮膚肌肉間，毒邪不解，反內傷於肝則發驚，傷脾則泄瀉，傷肺則喘急，是以痘後發驚者，不治。）心主血，而包絡主脈，故毒從經而脈，脈而絡，絡而孫，從孫絡而出於皮膚者，順也。蓋痘乃精血中之火毒，故走於血分，而後能貫膿結痂，若走於氣分，則為水泡白殼矣。夫經絡為血分，皮膚肌腠為氣分。皮毛者，肺之合；肌肉者，脾之合。皮膚、肌肉之中，有充膚熱肉之血，肝所主也，亦為氣分。故痘之順者，從經絡而出於皮膚，是以陸續出，而參差大小不齊，根窠收斂，界地分明。蓋界地乃皮膚、肌肉，而不為邪毒所傷故也。血華色而潤澤，根紅頂白，氣領成漿，蓋氣行脈外而血隨氣化也。所謂逆證者，走於皮膚之氣分，則一齊湧出如痱，時俗所謂肺經痘者此也。如走於氣分而留於肌腠，則唇腫眼脹，肉先浮而痘反平塌，時俗所謂脾經痘者此也。如走於氣分而留於充膚熱肉之血間，則皮薄而嬌紅可愛，光亮如燈，三者皆無血以成漿，終為不救，此因毒隨氣而走於肺脾肝，外合之皮膚肌肉間，實非肺經、脾經、肝經之痘毒也。又有一種夾疹之痘，此分走於氣分、血分，故尚為可治。若純走於氣分，雖智巧之士，不能為無米之炊矣。夫所謂險證者，乃火毒太盛，或阻滯於腎臟，或留蓄於心包。（毒滯於腎臟，則為腰疼肚痛，寒戰咬牙，甚則紫斑黑陷；毒留於心包，則壯熱煩躁，便血，神昏。）此事在良醫，急施妙用，表實者解表，裡實者疏里，熱毒盛者急宜清解，不起發者攻發為先。此乃可生可死之急證，匪延時日者也。故證有重輕，方有緩急，若服平和湯而愈者，原不死之證，勿藥亦可；服平和湯而後成不救者，醫之罪也。夫救逆之法，方書卻有冰肌散，治痘一齊湧出，服之復能斂入。予謂此方平易淺薄，焉能救其大逆！門人金西銘，在丹陽，得一救逆湯方。予於邱漢沖先生處，得一丸方。以此三方，斟酌增減，合為一方，名曰五類救逆丹，逆證、險證，服之皆有奇驗。至於表裡、血氣、寒熱、虛實，又在臨證之士，兼以湯藥治之可也。</p>

<h3>附：五類救逆丹</h3>
<p>龜板（用大龜底板酒炙，一兩）　鹿茸（大茄茸酥炙，九錢）　犀角（烏魚尖鎊，以人氣制研萬遍，九錢）　地龍（去土焙燥，一兩）　穿山甲（炒三錢）　落花生（如芋者是，切片焙燥，三兩）　血餘（用童男童女者，入新罐內填滿，鹽泥封口，炭火煨其灰成塊，研細，一兩）　天花粉（一兩一錢）　銀柴胡（一兩一錢）　當歸（大歸頭酒洗，切片焙燥，一兩）　芎藭（真川產而大者，五錢）　牡丹皮（酒浸一宿，切片焙燥，一兩一錢）　茜草（酒洗淨，一兩）　玄參（焙燥，一兩）　地骨皮（厚大者，一兩）　菟絲子（煮出絲焙燥，一兩）　連翹（七錢）　附子（臍中者，二錢，生用）　赤桂（二錢，桂附能導命門火毒外出，從治法也）　大生地黃（一斤，洗淨，搗取自然汁，調和前藥為丸）　上為極細末，入犀角、發灰和均，用生地黃汁和杵為丸，如龍眼核大，以上好硃砂飛過為衣。天泉煎湯，空心調服一丸，兒小者半丸，大者可服二三丸。如見其形證不順，預服此丹，若十分中有三分成膿者，即有生氣矣。如險證透發不起者，服之即起。如毒盛而起發不快，日可服二三次。如患逆證，而兒能飲酒者，服藥一服時，飲以甜酒一盞，或少少頻飲幾次亦可。蓋酒隨衛氣先行皮膚，先充絡脈。前方乃通經絡，清熱毒，心腎血分之藥，使在內之餘毒，仍走於經絡而出於皮膚，復飲以酒漿，使在外皮膚之毒，復與絡脈相通，此血氣出入之妙用也。</p>

<h3>附：百祥丸說</h3>
<p>兒醫錢乙，字仲陽，載在宋史，一代之名流也。專用百祥丸，治痘之黑陷甚者，謂能轉禍為福，故有百祥之名。後人置之不用者，不知物性故耳！夫大戟性能泄水，味苦寒而色紫赤，能瀉水中之火毒，浸於水中，其色青翠，蓋從子以泄母也。夫痘毒發原在腎，如初起腰疼肚痛，寒戰咬牙，乃熱毒太盛，不能透發，此危在俄頃，非大戟、大黃、芒硝之類，為釜底抽薪之法，則束手待斃矣。故表而出之。（疏殺其衷，則透發於外矣。）</p>
<p>張開之曰：痘之初發三日，主春生；起脹三日，主夏長；貫膿三日，主秋成；結痂三日，主冬藏。若秋冬之不能收成者，多緣病釀於春，故熱毒雖盛，而能生長透發，內無留蓄，至秋冬無有不收成者，即正氣虛脫，不妨大用溫補。如使邪毒留滯，外內不清，邪之所湊，其正必虛，欲補其正氣，則礙於熱毒，欲清其熱毒，又妨於正虛，是以熱毒盛而不能透發者，死於三五之期，雖透發而裡氣不清者，終成粃稗。善治痘者，當預防其初焉。</p>

<h3>附：玄菟丸</h3>
<p>夫稀痘之方法雖多，未有如玄菟丸之理甚精微，驗若桴鼓。蓋痘乃先天之毒，天一生水，地二生火，水火相濟，陰陽互交，乃水中之火毒也。玄乃水天之色，參者參也，參天地之化育者也。菟絲子一名女蘿，《爾雅》名為玉女。蓋兔乃月魄，純陰之物，故有玉女之稱。《抱朴子》云：菟絲初生之根，其形如兔握，割其血以和丹藥，立能變化神異之品也。夫凡物得清涼水土之氣，而後能發芽。菟絲秉純陰之性，故得火暖而絲長，此物理陰陽之妙用也。《內經》云：腎者，至陰也；至陰者，盛水也。肺者，太陰也。少陰者，冬脈也。故其本在腎，其末在肺，皆積水也。是肺腎天水之相通也。（肺屬天。）玄參具水天之性色，能於水中以清發其天花。菟絲有陰陽之妙用，能於至陰之中而透其陽毒。是以嬰兒在百日內，與此丸服之，或服至三歲，則毒盛者稀，而毒微者不出矣。（即熱毒盛者，亦無險逆之虞。）同邑盧子由先生，五十無子，得一種子奇方，即生二男，皆為痘壞。蓋種子方中，不無多熱藥耳！後復生子，皆以玄菟丸服之，至六十有五，連舉六男六女，俱已長成，皆不為痘疹所壞。玄菟之功效，豈淺淺哉！（盧氏以此為秘方。）</p>

<h2>疹論</h2>
<p>（古名疹，今名瘄。）</p>
<p>痘乃先天之毒，疹屬後天之邪。先天止有水火，後天始備五行。產下發聲吮乳，肇自後天，是以發聲之時，口中有毒即嚥下，而歸於陽明。故瘄之毒氣，發於陽明，上達於肺，出於皮毛。肺主氣而外合皮毛，是以痘毒走於血分，而氣以化之為順，瘄毒走於氣分，而血以和之為順，若走於血分而見雲頭紫赤斑者，逆也。瘄乃氣分之毒，更速於痘，若停留於胃則爛牙齦，阻滯在肺則為鼻扇喘急，發表疏里、清熱解毒，事在良醫之臨證妙用者也。夫氣為陽，血為陰。痘乃精血中毒，故應四時之生長收藏，以合地支之數；瘄乃氣分之毒，是以一日三烹，三而三之，以應陽九之終。痘發於陰，故宜頭面稀疏，不喜獨參陽位；瘄發於陽，故喜大烹頭面，不宜惟在心胸。此人之陰陽血氣，應天地自然之道也。男玉師問曰：相傳痘先出而瘄後出者為順，如瘄在痘先，後要復出，此亦應先天后天之義歟！</p>

<h3>附：治瘄主方</h3>
<p>葛根　桔梗　荊芥　防風　杏仁　甘草　牛蒡子　橘皮　上方用泉水煎服，再隨四時之氣而加減用之。如寒閉者宜麻黃，熱閉者宜石膏，食閉者宜枳、樸、山楂。熱甚者加黃芩、黃連；毒甚者加白花地丁、西河柳；渴者加知母；喘者倍杏仁；裡實者加葶藶、牽牛。蓋痘疹有血氣之分，而用藥亦宜分別。如大黃、大戟，血分之瀉藥也；葶藶、牽牛，氣分之瀉藥也。黃連形壘如連珠，瀉心火之藥也；黃芩外肌皮而內腐空，故名空腸，又名腐腸，乃瀉肺而清肌表之藥也。肺主氣而心主血，故清痘之熱毒，宜以連為君而芩為佐，清瘄之熱毒，宜以芩為君而連佐之。又如金銀花，花開黃白，藤名忍冬，能啟陰氣而解氣分血分之熱毒，蓋黃走血而白走氣也，故解痘毒者宜之，而瘄毒亦可。若夫白花地丁，又專於瘄證者也。此用藥之大關目，學者引伸觸類，微妙無窮。</p>

<h2>胎前論</h2>
<p>《易·系》曰：男女媾精，萬物化生。是五類昆蟲，咸感陰陽精氣而成孕育。腎主藏精，為生氣之原，故胎之根本在腎，假血以成形。衝任之血，肝所主也，故始於肝臟主養，肝氣暴虛，故多思酸作嘔。夫人生於寅，故始於厥陰木，臟腑之精氣，次序資養，至十月而五行之陰陽已周，十干之氣已化，歸於壬癸而生。（戊癸化火，丁壬化木。）此天地生成之道也。一月肝木，二月膽木，三月君火，四月相火，五月脾土，六月胃土，七月肺金，八月大腸金，九月腎水，十月壬水，臟腑陰陽之氣，循序相生，如主養之氣不足，則胎亦不長矣。（胎長如瓜，若不長，則有隕落之虞。）《金匱要略》云：懷身七月，太陽當養不養，此心氣實，當刺瀉勞宮，蓋因火制其金也。故如土氣主養，當培其土而抑其木；金氣主養，當瀉其火而資其金。以逐月主養之臟腑，審其虛實而調之，此養胎之大要也。又火能速物，是以三月、四月，多有半產之虞；火能剋金，故七月亦有不足之慮，如胎氣熱者，當預防之。胎以腎為本，故養胎以地黃、杜仲為君，坤德厚而資生萬物，故白朮、大棗為安胎之聖藥；胎從血長，是以四物湯乃胎產之要方。胎寄而生，故桑上寄生、川續斷，力能系胞；火能速物，故芩、連、益母，皆為要藥；氣化則血行而胎長，故砂仁、橘皮、紫蘇、枳殼，宜兼用以疏氣。夫天地交而萬物生，水火濟而陰陽平，是以阿膠、艾葉、香附、茯苓，得交感之妙用者也。至於胎前百病，以治病、養胎之法，兼而行之，此胎前之大綱領也。（婦人小兒，總是陰陽氣血，止多胎產、痘疹耳！其餘百病皆歸一法，是以《靈》、《素》諸經，不過分別數條，學者當明白此理。）</p>
<p>開之曰：肺屬天，七月而生者，得乾金之氣，故能育而且壽；九月感天癸之氣，十月得化運之全，若八月則不育矣。</p>

<h2>產後論</h2>
<p>產後氣血兩虧，宜於溫補，但初產者，惡血未行，先宜導滯，以防上奔。新產婦人喜中風，產後土虛能停食，產後燥結多血阻，此三者是為實證，宜於清補相兼。如無此三證，氣虛者補氣，血虛者補血，寒者溫之，熱者涼之，隨其所利而行之，此產後之大法也。予嘗用大劑人參、薑、附，救產後虛脫之危證，用芍藥以利熱燥之留停，又何嘗忌人參之補，薑、附之熱？而芍藥亦未嘗酸斂也。</p>

<h2>急下論</h2>
<p>《陽明篇》曰：傷寒六七日，目中不了了，睛不和，無表裡證，大便難，身微熱者，此為實也，急下之，宜大承氣湯。陽明病，發熱汗多者，急下之，宜大承氣湯。發汗不解，腹滿痛者，急下之，宜大承氣湯。《少陰篇》曰：少陰病，得之二三日，口燥咽乾者，急下之，宜大承氣湯。少陰病，自利清水，色純青，心下必痛，口乾燥者，急下之，宜大承氣湯。少陰病，六七日，腹脹，不大便者，急下之，宜大承氣湯。夫寒傷六經，止陽明、少陰之有急下證者，蓋陽明秉悍熱之氣，少陰有君火之化，在陽明而燥熱太甚，緩則陰氣絕矣，在少陰而火氣猛烈，勿戢將自焚矣，非腸胃之實滿也。若實在腸胃者，雖十日不更衣，無所苦也。如此六證，若究省不到，不敢急下，故病此者，鮮有能生之。且予嘗聞之曰：痞、滿、燥、實、堅，五證皆備，然後可下。噫！當急下者，全不在此五字。</p>

<h2>急溫論</h2>
<p>《少陰篇》曰：少陰病，脈沉者，急溫之，宜四逆湯。《太陽篇》曰：病發熱頭疼，脈反沉，身體疼痛，當救其里，宜四逆湯。夫急溫、急救之在少陰、太陽者，有水火寒熱之氣化也。病在少陰，感君火之甚者，急下之；病陰寒之劇者，急溫之。寒傷太陽，欲如連樞，神氣乃浮，脈反沉者，陽反內陷也，故當救其里。二者止見脈沉，若待其厥冷脈絕，則不救矣。故所謂急者，如人墮於水火之中，緩即焚溺矣。</p>

<h2>汗下論</h2>
<p>一熏一蕕，十年遺臭，故去邪莫如速也。曰：汗多亡陽。如表邪盛者，汗之而解，以養陽也。曰：下多亡陰，如里邪實者，下之而解，以養陰也。多者，謂其太過也。太過不可，而況妄行乎！《靈樞經》曰：上焦開發，宣五穀味，熏膚充身澤毛，若霧露之溉，是謂氣。蓋氣化而汗出溱溱也。又曰：奪血者無汗，是血氣不足，邪不得從汗解也。《傷寒論》曰：微則陽氣不足，澀則無血。下之，則心下痞鞭，是血氣不足，又難從下解也。當知邪賊宜攻，而正氣又當培養。夫邪正相持，則為寒熱出入，邪負則愈，正北則危。汗下之法，猶援兵也。善用兵者，寡可以敵眾，弱足以勝強。若不審虛實，不識形勢，而妄攻之，反為賊害矣！</p>

<h2>往來寒熱論</h2>
<p>《辨脈篇》曰：病有灑淅惡寒，而復發熱者何？答曰：陰脈不足，陽往從之；陽脈不足，陰往乘之。曰：何謂陽不足？答曰：假令寸口脈微，名曰陽不足。陰氣上入陽中，則灑淅惡寒也。曰：何謂陰不足？答曰：尺脈弱，名曰陰不足。陽氣下陷入陰中，則發熱也。陽脈浮、陰脈弱者，則血虛，血虛則筋急也。其脈沉者，榮氣微也。其脈浮而汗出如流珠者，衛氣衰也。榮氣微者，加燒針，則血流不行，更發熱而躁煩也。夫臟脈為陰，腑脈為陽；血為陰，氣為陽；榮為陰，衛為陽；內為陰，外為陽。此所言陰陽者，非此之謂也，乃陰陽之氣耳！陰陽之氣者，先天之水火也。在地為水，在天為寒；在地為火，在天為熱。無形之氣，曰陰曰陽；有形之徵，曰水曰火。陰陽氣交，是為平人。乘於脈中，則為往來寒熱矣。故始曰陰脈，曰陽脈，復曰寸口，曰尺脈，曰陰氣，曰陽氣，曰陰中，曰陽中，謂陰陽之氣相乘，入於脈中而見於寸尺也。蓋以寸尺分陰陽，非臟脈為陰脈，腑脈為陽脈也；又非謂內絡於臟腑者為陰脈，外絡於形身者為陽脈也。中脈中也，陰中、陽中者，謂身半以上為陽，身半以下為陰，故曰上入下陷也。此陰陽之氣，乘於脈中，而為寒為熱，非脈中之血虛，故曰陽脈浮、陰脈弱者，則為血虛也。血虛則筋急者，謂血行脈中，滲於脈外，肝臟所主，而血自有陰陽之分也。（脈內為陰，脈外為陽。）榮氣微者，其脈沉，衛氣衰者，其脈浮。謂陰陽相乘者，見寸口脈微，尺中脈弱，非榮衛之為陰陽，而脈之浮沉也。如燒針則血流不行者，謂血隨榮轉，非隨陰陽之氣而往來也。更發熱而躁煩者，謂榮氣之生於陽明，而主於心、腎也。燒針之火氣傷陽明則發熱，傷心、腎則躁煩。此言榮血生於後天水穀之精，陰陽本於先天水火之氣，乃陰陽之氣乘於脈中，而為寒為熱，非榮血之為寒熱也。男玉師曰：何以治之？曰：金匱腎氣丸為主方，配四物以養血。</p>

<h2>潮熱論</h2>
<p>胃為水穀之海，而外合海水，是胃氣晝夜升降，如潮往來。但平人有潮而不為熱也，如有邪病留於脈肉筋骨間，隨潮而出，則為發熱。故當審其先發於何部？何處獨盛？分六經而治之，與夜熱之不同也。夜熱本於陰虛，潮熱因於病氣，潮熱一潮而退，夜熱至旦方涼，因、證不同，治法亦異。（傷寒潮熱，列於《陽明篇》中。）</p>

<h2>《傷寒論》編次辯</h2>
<p>仲祖《傷寒論》，其中條緒井井，原系本文，非叔和所能編次。蓋謂斷簡殘篇者，是因訛傳訛也。如痓、濕、渴三種，非傷寒之病，因病在太陽而與傷寒相似，故先提出於《太陽篇》外。溫病風溫，原因傷寒所致，然非卒病之風寒，故先分別於《太陽篇》中。太陽為諸陽主氣，故首提太陽之為病，次中風，（風即寒中鼓動之氣，故篇名《傷寒論》而反先提中風。）次傷寒，次傳經，次桂枝湯證，次麻黃湯證。如六經篇首，則曰某經之為病，若六經所概論者，總歸於太陽之首篇。其間條分縷析，有斷有續。予於斷續間，首加一圈，如學、庸、孔、孟之分章，便後學之體認。此皆仲祖位置，非叔和編次也。</p>
<p>再按仲祖一百十三方，為形層淺深，陰陽寒熱而設，無分風與寒也。如邪在皮毛者，宜麻黃湯；在肌腠者，宜桂枝湯。故曰桂枝本為解肌，然中風之用桂枝者，始受之風邪，不閉於皮毛，而入於肌腠，故桂枝湯為中風之首方。如寒邪發汗不解，而入於肌腠者，亦屬桂枝湯證。故邪病太陽，而無分風與寒者，則曰太陽病；有風寒之分者，則曰太陽中風，曰中風發熱，曰傷寒。如風寒之邪，皆可為柴胡湯證者，則曰傷寒五六日；中風皆可為陷胸湯證者，則曰浮則為風，曰傷寒五六日結胸熱實。如瓜蒂散證，則曰傷寒中風。蓋始受之時，有風寒之分者，分中風、傷寒。如病在太陽，感太陽之熱化者，則曰太陽病，病在陽明，感陽明之燥化者，則曰陽明病，而無分風與寒矣。至如大、小青龍湯證，乃病太陽寒水之氣者也。太陽之上，寒氣主之，故太陽標陽而本寒。大青龍證，太陽標本之為病也；小青龍證，病太陽之陽而動其水氣也。曰太陽中風，謂風中太陽之氣也。脈浮緊者，浮則為風，緊則為寒，乃天之風邪，與太陽之寒氣相搏，而見於脈也。發熱者，風在太陽而為熱也；惡寒者，病太陽之寒氣也；身疼痛者，風寒之邪，尚及於形身，不汗出者，邪正之氣陷於內也；煩躁者，太陽標本之氣化也。此風中太陽之熱邪，而兼病其本寒，故用麻黃、桂枝之複方，去芍藥之苦平，易石膏之甘辛，直從內而透發於外也。如汗出惡風者，風邪在外，故不可服。蓋汗之生，原有二：一出於表者，血液之汗也；一出於里者，陽明水穀之汗也。麻黃湯，發表汗之劑也；桂枝湯，解肌腠之邪也。如麻黃配石膏，乃直從里而發陽明水液之汗矣。邪不在裡而妄動其陽明，是以筋惕肉瞤，陽明主肌而主宗筋也。又如傷寒脈浮緩者，乃寒傷太陽，而邪正之氣，並陷於內也。夫天之寒邪，與太陽之陽氣，相搏於膚表之間，其脈則緊。（風與寒搏，寒與陽搏，乃陰陽相搏，其脈皆緊。）此寒傷太陽，寒已化熱，邪正相合，而陷於內，故止見虛浮之緩脈也。身不疼者，邪在內也。但重者，陽氣陷也。乍有輕時者，正氣欲出也。太陽與少陰標本相合，如寒傷太陽而見少陰證者，則為一身手足盡熱，以熱在膀胱，必便血也。蓋太陽與少陰，在標本寒熱之合化，寒在太陽，則病反其本而為熱矣；及於里陰，則同氣相感於少陰之火氣矣。故曰無少陰證者，大青龍湯發之。上章乃風動之邪，入於裡而尚涉於形身，故見浮緊之脈，疼痛之證，宜大青龍湯主之。此乃寒凝之氣，入於裡而無形身之痛，故恐轉屬於少陰，藉陽氣之欲出，乍有輕時，而以大青龍湯發之。此風寒之邪，病太陽之標陽，而兼動其本氣者也。又傷寒表不解，心下有水氣者，病太陽之陽，而動膀胱之水氣也。乾嘔者，水氣上逆也。（水火相交者，正氣也；水氣上乘者，邪氣也。）發熱者，寒在太陽而為熱也。咳者，水氣上通於肺也。病表陽之氣而動其水氣，則氣不化而水不行，故有或渴，或利，或噎，或小便不利、少腹滿，或喘之證也，宜小青龍湯主之。用麻黃、桂枝、甘草、芍藥，以清肌表之邪；用乾薑、半夏、細辛，以助火土之氣；用五味子之酸，助春生之木氣，以泄冬令之寒水也。渴者，火鬱於上，水逆於下，故去半夏之燥，加栝蔞根，通水液以上滋。利者，寒水在下，火氣不能下交。蕘花性寒屬水，用花萼之在上者，如雞子大，熬令赤色，皆取其象心，導火氣溫煊於下也。水得寒氣，冷必相搏，其人即噎，故加附子以散寒。小便不利、少腹滿者，土受所勝之侮，而不能制化，故加茯苓補中土以伐水邪。喘者，加杏子以利肺氣。此在表之邪，入於裡而動其水氣，故並去其麻黃。又傷寒心下有水氣，咳而微喘，發汗不渴，服湯已渴者，此寒去欲解也，小青龍湯主之。此表邪已解，而寒水之氣上逆也。咳而微喘者，水氣上乘於肺也。發熱不渴者，得太陽之氣化也。服湯已渴者，水寒之氣外散，而復傷太陽之氣也，故仍以小青龍主之。經曰：太陽之上，寒氣主之，在天呈象，在地成形，在天為寒，在地為水。天有六氣，地有五行，人秉天地之氣而生，兼有此五行六氣，是以大青龍證，病太陽之陽，而動其寒氣者也。故宜大青龍湯以發汗，謂在天之龍，能行雲而施雨也。小青龍證，病太陽之陽，而動其水氣者也，故宜小青龍主之，謂潛藏始蟄之龍，能泄冬令之寒水也。又如少陰病，真武湯主之者，病少陰而動其水氣也；四逆散主之者，病在少陰得君火之熱化而動其水氣也。蓋太陽、少陰，乃水髒水腑，皆有寒熱之氣化者也。若夫外因之水，停飲於中焦者，又屬五苓散證。蓋其因有不同，而治法亦別，是以有發表之方，有解肌之方，有散寒之方，有行水之方，有氣分之方，有血脈之方，有胸脅之方，有腹胃之方，有卻邪之方，有補正之方，有大涼之方，有大熱之方，有大補之方，有大瀉之方，有和解之方，有寒熱補瀉兼用之方，皆從形層外內之淺深，寒熱虛實之氣化，（麻黃、桂枝分形層，大、小青龍論氣化。）不然止屬風、寒二邪，奚有三百八十九證之分耶？明乎形層、氣化之道，傷寒大義，思過半矣。</p>

<h2>風傷衛寒傷榮辯</h2>
<p>風乃天之陽邪，傷人衛氣，寒乃陰邪，傷人榮血；同氣相感耳。《辨脈篇》所謂風傷衛、寒傷榮者，謂風寒兩感，榮衛俱傷，風則傷衛，寒則傷榮，以言其大概。若夫天之風寒，傷人氣血，或中於陰，或中於陽，無有恆常者也。人之皮毛肌腠，氣分為陽，血脈為陰，榮行脈中，衛行脈外。風雨寒暑之中人也，始於皮膚，皮膚緩則腠理開，開則邪從毛髮入，入則抵深，深則毛髮立，毛髮立則淅然，故皮膚痛；留而不去，則傳舍於絡脈。是風寒之邪，皆始傷皮毛之氣分，留而不去，而後傳舍於經榮者也。《靈樞經》曰：傷寒形，乃病形；風傷經脈，經脈乃應。《金匱真言》曰：八風發邪，以為經風。觸五臟邪氣發病，是又寒傷氣而風傷榮矣。蓋陰陽之道，變化不測，故《內經》自有矛盾之文，以意逆志，庶為得之，若膠執文辭，又不可與論陰陽矣。至於《傷寒論》之中風，更為不同，非春傷之風，亦非四時所中之風，即嚴寒鼓動之氣，故中風首節曰：嗇嗇惡寒，淅淅惡風。寒乃陰凝之邪，閉於皮毛之間，故用麻黃湯以發散；風乃鼓動之氣，開發皮毛，入於肌腠，故宜桂枝湯以解肌。是又寒在皮毛而傷氣，風入腠理而將傷於榮矣。太陽之氣，主於皮毛之間，寒傷太陽，是以六氣相傳，七日來復，若入於經榮，則為桃仁承氣、抵當湯之血證，不復再傳陽明矣。寒傷氣，故曰：傷寒一日，太陽受之，脈若靜者為不傳，頗欲吐，若躁煩脈數急者，為傳也。又曰：傷寒二三日，陽明、少陽證不見者，為不傳也。此寒在太陽之表，故有六氣之相傳，風入於肌腠，故不為傳經之邪也。至於春傷之風，四時所中之風，或傷於皮毛，則為嚏淚喘咳；入於肌腠，則為肌膚不仁，傷於筋骨，則為痛痹拘攣，入於脈中，或為鼠瘻，或為厲瘍，久風入中，則為腸風飧泄；或中於腑，即不識人；或中於臟，舌即難言，口吐涎。此在《靈》、《素》、《金匱》諸經中求之，與《傷寒論》之中風不相同也。</p>

<h2>醫學入門</h2>
<p>《金匱要略》曰：千般疢難，不越三條：（疢，醜刃切，音趁。）一者經絡受邪入臟腑，為內所因也；二者四肢九竅，血脈相搏，壅塞不通，為外皮膚所中也；三者房室金刃蟲獸所傷。以此詳之，病由都盡。（《金匱》）二條，皆重外因，以房室、服食為內因。）宋成無己曰：病有三因：一者外因於天，二者內因於人，三者不內外因。外因於天者，風寒暑濕之六淫也；內因於人者，喜怒憂恐之七情，及飲食、房勞也；不內外因者，金刃、跌撲、蟲獸、笞杖之所傷也。人之百病，不外此三者。夫傷寒，外因也，而《傷寒》經旨，風寒暑濕之六氣，咸所具載矣。其間分析表裡、陰陽、寒熱、氣血、邪正虛實，（內外百病，不出此十二字。）靡不備悉。明乎傷寒之道，千般病難，不出於範圍焉。故醫學入門，當從傷寒始，先難其所難，而後易其所易。蓋外因之病暴而危，內因之病徐而持。（中風、瘧、痢、痿、痹、疝、厥、頭腹諸痛，多系外因。）故治外感者，可以活人，可以死人；治內傷者，或少有失誤，未即為害。是以能醫內傷，而不諳治傷寒者，未可醫名也；能醫傷寒，而不諳治內傷者，未之有也。</p>

<h2>醫以力學為先</h2>
<p>月三、六、九晨，集及門，說《內經》及《傷寒論》，講畢，謂諸生曰：時俗相沿云，行醫全憑時運，予以為不然。諸生來學，當苦志讀書，細心參究，庶可免庸醫之責，若憑時運，則何業不可為，而習此苦難之事！設使殺一不辜，而救百人，其功不能贖罪。蓋救人乃醫家分內事，況多有病之輕者，有病之自能愈者，或病雖劇而可救者。越人曰：僕不能生人耳，不起之病，僕能起之，是非必死之病，而醫能活之。若使病者不死於病，而反死於醫，又何異於梃刃，是以救人之功小，誤傷之罪大。試觀栽杏叟，尚誤投藥餌，傷及母子二命，況平人乎？然此亦警世之事也。古今名流，皆生前根氣豐厚，若再加培植，即可名登仙籍，惜乎不能何也？既已名擅當時，焉肯虛心下士，況一人之精神有限，或忙中有錯，即誤用其藥，亦不自知其非，病家延請惟艱，幸而至之，焉敢論其是非，即服藥有誤，反歸於死者之命。是以運之小者其過小，運之大者其過大。諸生能鑑予言，潛心好學，將來運之小者可大，運之大者可無過矣。</p>
<p>開之曰：歷觀古今醫家，有子孫顯達者，有子孫式微者，大有霄壤之分，若不圖名、不貪利，虛衷受益，存心活人，有不永昌厥後者乎！</p>
<p>又曰：古稱醫士為山中宰相，謂能燮理陰陽，調和氣味，操生殺之柄耳！《記》云：醫不三代，不服其藥。許學士曰：謂能讀三代之書。予以為世代相傳，又能讀書好學，猶簪纓世胄，士之子而恆為士也。若僅守遺方，以為世傳，何異按圖索驥。夫天有四時之氣，地有五方之異，人之百病，變幻多端，即如傷寒一證，有三百八十九法，可膠執遺方，能通變時疾乎？趙括徒讀父書，尚至喪師敗績，況無遺書可讀耶！守祖父之業而不好學者，可方草廬諸葛乎？伊川先生曰：醫不讀書，縱成倉、扁，終為技術之流，非士君子也。盧不遠先生曰：當三複斯語。（及門者多系　世醫子弟，故復言此以戒之。）</p>

<h2>中庸之道</h2>
<p>中者不偏，庸者不易。醫者以中庸之道，存乎衷，則虛者補，實者瀉，寒者溫，熱者涼，自有一定之至理。若偏於溫補，偏於涼瀉，是非中非庸矣。夫醫道，上通天之四時六氣，地之五方五行，寒熱溫涼，升降浮沉，信手拈來，頭頭是道，急者急治，緩者緩治，若僅守平和之橘皮湯者，又執中無權也。遡觀古今，多有偏心，偏於溫補者，惟用溫補，偏於清涼者，慣用清涼，使病人之宜於溫補者，遇溫補則生，宜於涼瀉者，遇清涼則愈，是病者之僥倖以就醫，非醫之因證以治病也，豈可語於不偏不易之至道哉！</p>

<h2>雜證論</h2>
<p>雜證者，謂一人之病，見證龐雜。當知始受之因則一，久久不去，漸至蔓延。故治雜病，如理亂繩，得其頭緒，一路理清，不則愈理愈亂矣。所治之藥，亦專取其要，多則雜，雜無功。經曰：一者因得之。又曰：治之在於一。嗟乎！精一之道難矣。人秉天地之氣所生，此身中有上下陰陽之氣交，五運六氣之變化，榮衛血氣之貫通，五臟六腑之生始，知其推數無窮，而後可歸於一，非細參《靈》、《素》諸經，不易得也。</p>

<h2>十干化五行論</h2>
<p>黃帝問曰：五運之數，土主甲己，金主乙庚，水主丙辛，木主丁壬，火主戊癸，願問其所始也。岐伯曰：昭乎哉問也！臣覽《太始天元冊》文，丹天之氣，經於牛女戊分：黅天之氣，經於心尾己分；（黅音金。）蒼天之氣，經於危室柳鬼；素天之氣，經於亢氐昴畢，玄天之氣，經於張翼婁胃。所謂戊已分者，奎壁角軫，則天地之門戶也。夫候之所始，道之所生，不可不通也。此岐伯論五行之化，始於五方之天象：丹赤色，火之氣也，牛女在癸度，經於牛女戊分，戊癸合而化火也；黅黃色，土之氣也，心尾在甲度，經於心尾己分，甲己合而化土也；蒼青色，水之氣也，危室在壬度，柳鬼在丁度，丁壬合而化水也；素白色，金之氣也，亢氐在乙度，昴畢在庚度，乙庚合而化金也；玄黑色，水之氣也，張翼在丙度，婁胃在辛度，丙辛合而化水也。夫丹、黅、蒼、素、玄，天之五氣也。（丹、黅、蒼、素、玄，天之五色也；青、黃、赤、白、黑，地之五色也。在天之五色，化生地之五色。）金木水火土，地之五行也。天之十干，經於五方之分，陰陽配合而化生五氣。天之五氣，化生地之五行，所謂在天成象，在地成形。五行之中，有二火。在地為木，在天為風；在地為火，在天為熱；在地為土，在天為濕，在地為金，在天為燥；在地為水，在天為寒；在地為火，在天為暑。是地之五行，化生天之六氣。此天地之陰陽交相生化者也，故曰：寒、暑、燥、濕、風、火，天之陰陽也，三陰三陽上奉之；木、火、土、金、水、火，地之陰陽也，生、長、化、收、藏下應之。三陰三陽者，子午為少陰君火，丑未為太陰濕土，寅申為少陽相火，卯酉為陽明燥金，辰戌為太陽寒水，巳亥為厥陰風木。是天之十干，化生地之五行，地之十二支，上承天之六氣。後人不參究上古聖經，不明天地陰陽之化運，有以逢辰則化之說者，有以制克則化之說者，此皆技術家之迂論也。</p>

<h1>卷下</h1>

<h2>本草綱領論</h2>
<p>天地所生萬物，皆感五運六氣之化，故不出五氣、五味、五色、五行、寒熱溫涼、升降浮沉之別。經云：五味陰陽之用，辛甘發散為陽，酸苦湧泄為陰，淡味滲泄為陽，鹹味湧泄為陰，六者或收、或散、或緩、或急、或燥、或潤、或軟、或堅，隨所利而行之。此物性之綱領也。五氣、五味，各歸所喜。酸先入肝，苦先入心，甘先入脾，辛先入肺，咸先入腎。肝色青，宜食甘；心色赤，宜食酸；肺色白，宜食苦；脾色黃，宜食鹹；腎色黑，宜食辛。辛散，酸收，甘緩，苦堅，咸軟。毒藥攻邪，五穀為養，五果為助，五畜為益，五菜為充，氣味合而服之，以補益精氣。四時五臟之病，隨五味所宜也。又肝苦急，急食甘以緩之，欲散，急食辛以散之，用辛補之，酸瀉之，心苦緩，急食酸以收之，欲軟，急食鹹以軟之，用鹹補之，甘瀉之，脾苦濕，急食苦以燥之，欲緩，急食甘以緩之，用苦瀉之，甘補之；肺苦氣上逆，急食苦以泄之，欲收，急食酸以收之，用酸補之，辛瀉之；腎苦燥，急食辛以潤之，（辛又能潤，為能開發腠理，致津液通氣也。）欲堅，急食苦以堅之，用苦補之，咸瀉之。又辛走氣，氣病無多食辛；咸走血，血病無多食鹹；苦走骨，骨病無多食苦；（《靈樞》苦走血，咸走骨。）甘走肉，肉病無多食甘；酸走筋，筋病無多食酸。此五味補瀉宜忌之綱領也。夫百病之生也，不出乎表裡、陰陽、寒熱、虛實。虛者補之，實者瀉之，寒者熱之，熱者寒之，堅者削之，客者除之，勞者溫之，（凡甘溫、辛溫，皆從補。）結者散之，留者攻之，燥者濡之，急者緩之，散者收之，損者溫之，逸者行之，盛者折之，驚者平之，高者抑之，下者舉之，微者逆之，甚者從之，上之下之，摩之浴之，薄之劫之，開之發之，適事為故，逆者正治，從者反治。此治病之綱領也。萬物各有自然之性，凡病自有當然之理，即物以窮其性，即病以求其理，得其性理，豁然貫通，則天地所生之萬物，人生所患之百病，皆歸一致矣。用之可十可百，推之可萬可千，豈不綽然有餘裕哉！</p>

<h2>藥性形名論</h2>
<p>按《本草綱目》金石、草木、禽獸、果谷，自神農及今，計一千六百餘種，命名之義，各有思存。如黃連、白芷、青黛、元參之類，以色而命名也；甘草、苦參、酸棗、細辛之類，以味而命名也；寒水石、膃肭臍、火硝、香薷之類，以氣而命名；桑皮、橘核、杏仁、蘇子之類，以體而命名也；夏枯草、款冬花、長春、秋葵之類，因時而命名也；防風、續斷、決明、益智之類，以功能而命名也；鉤藤、兜鈴、狗脊、烏頭之類，以形象而命名也。命名之義，不能枚舉，施於治道，各有功用。如五氣分走五臟，五味逆治五行，皮以治皮，節以治骨，核以治丸，（松節、杉節及草根之多堅節者，皆能治骨。荔核、橘核之類，治睪丸。）子能明目，藤蔓者治筋脈，肉者補血肉，各從其類也。如水草、石草，其性主升；梢杪子實，其性主降；甘香之品，能橫達於四旁；寒熱之氣，性浮沉於上下，在土之根荄，本乎上者親上，本乎下者親下；在外之枝幹，在根者治本，在枝者行於四肢。此物性之自然也。又如夏枯之草，夏收之術，半夏之生，麰麥之成，皆得火土之氣，而能化土，秋英之菊，秋鳴之蟬，感金氣而能制風；凌冬不凋者，得寒水之氣，而能清熱；先春而發者，秉甲木之性，而能生升。此感天地四時之氣，而各有制化也。甘溫者補，苦寒者瀉；色赤者走血，色白者走氣：赤圓者象心，白瓣者象肺，紫尺者益脾，香圓者入胃，徑直青赤者走肝，雙仁圓小者補腎，以形色之相類也。（以象形而治五臟，詳《金匱要略》。）陽者主上，陰者主下，陰中之陽升，陽中之陰降；輕清者主上，重濁者主下，濁中之清升，清中之濁降。凡物感陰陽之氣而生，各有清濁升降之質性者也。又如山桅炒黑而降，黑豆黃卷而升，紅曲生血，神麯化秔。此假造釀而得化功者也。因名而取實，因象以用形，得其性之升降浮沉，氣之溫涼寒熱，色之青黃赤白，味之甘苦酸辛，一千六百餘種，大概不越乎此矣。</p>

<h2>草木不凋論</h2>
<p>草木寒不黃隕，及花發於冬者，得冬令寒水之資也。木生於水，水通於天，水火相濟，水由地行，水氣之通於四臟者也。如麥門冬、款冬花、枇杷葉、側柏葉、山豆根、巴戟天之類，腎之肺藥也；黃連、菖蒲、山桅、南燭、茶花、梅花之類，腎之心藥也，厚朴、豆蔻、丁香、枳橘之類，腎之脾藥也，菌桂、䈽竹、密蒙花、女貞實之類，腎之肝藥也。夫腎為水臟，受藏五臟之精，而復還出於四臟，入肝為淚，入心為血，入脾為涎，入肺為涕，上下交通，而外注於九竅。是以得寒水之草木，能啟陰氣上滋四臟，復能導四臟之氣而下交於陰，又匪獨腎氣之通於四臟。五臟之氣，皆相貫通，而藥性亦然。如棗仁脾之心藥也，石斛脾之腎藥也，芍藥脾之肝藥也，桑皮脾之肺藥也。類而推之，總不出五行之生化。</p>

<h2>四氣逆從論</h2>
<p>經云：升降浮沉則順之，寒熱溫涼則逆之。謂春宜用升，以助生氣；夏宜用浮，以助長氣，秋時宜降，以順收令；冬時宜沉，以順封藏。此藥性之宜順四時者也。春氣溫，宜用涼；夏氣熱，宜用寒；秋氣涼，宜用溫；冬氣寒，宜用熱。此用氣之宜逆四時者也，而病亦如之。然時氣、病氣，又皆有常有變，知其常變，反其逆從，可以把握陰陽，裁成造化矣。</p>

<h2>大棗</h2>
<p>棗色黃、味甘，脾家果也。夫木末之實，而為心家果者，生化之道也；木末之實，而為脾家果者，制化之道也。蓋天地所生之萬物，咸感五運六氣之生化，明乎陰陽、生克之理，則凡物之性，可用之而生化於五臟六腑矣。元如曰：桃為肺之果，核主利肝血；杏為心之果，核主利肺氣。亦制化之理然與！</p>

<h2>梔子</h2>
<p>梔子冬不隕葉，五月感一陰之氣，生花六出，潔白芬香，得金水之氣也。其實結於枝梢，圓小赤色，味苦性寒，乃陰中之陽，腎之心品也，故炒黑而成離中之虛，導心火以下交於腎。元如曰：六者，陰之終也，花多五瓣，如雪花、梔子花、玄精石，皆感陰氣生成。</p>

<h2>枇杷</h2>
<p>枇杷四季長青，葉上多毛。凡草木之生毛者，皆主治肺；多刺者，花開於秋者，皆得堅金之氣，而能制風。枇杷初秋結蕊，深秋放花，夏時果熟，又得冬令之氣，能引寒水以上滋，利肺氣以下降，故主治咳嗽卒啘，並下氣消痰。</p>

<h2>款冬花</h2>
<p>款冬花氣味辛溫，生於關中，及雍州山谷溪水間，冬時發條，結蕊於冰雪中，故名款冬。（西北氣寒，冰雪至夏不消，款冬辛溫，可為大熱者矣。）土人謂之看燈花，又曰敲冰取款冬，謂在正月前半月採之，如過元宵燈節，花即大放矣，此陰中之陽升也。如形寒飲冷，肺氣虛寒作喘者宜之，若陰火上炎，肺葉焦滿，恐益消爍毀傷矣。</p>

<h2>澤瀉</h2>
<p>澤瀉，水草也。凡水草，石草，皆屬腎，其性主升。蓋天氣下降，地水之氣上升，自然之理也。凡物之本乎上者性升，本乎下者性降。澤瀉形圓，無下行之性矣。春時叢生苗於水中，獨莖直上，秋時白花作叢，腎之肺品也。《易》曰：山澤通氣，能行在下之水。隨澤氣而上升，復使在上之水，隨氣通調而下瀉，故名曰澤瀉。元如曰：如何首烏形圓莖蔓，其性惟升；牛膝形細而長，其性惟下，故主治在下。諸品可類推之。</p>

<h2>芍藥</h2>
<p>芍藥氣味苦平，苦走血，故為血分之藥；苦下泄，故本經主邪氣腹痛，除血痹，破堅積寒熱。因其破泄，故《太陰篇》云：太陰為病，脈弱，其人續自便利，設當行大黃、芍藥者，宜減之，以其人胃氣弱，易動故也。今人咸云：芍藥主酸斂，而不知有大黃之功能。元如曰：芍藥乃神農中品之藥。本經曰氣味苦平，後人增曰酸，而實未嘗酸也。（盧子由曰：市肆一種赤芍藥，不知為何物草根，兒醫、瘍醫多用之，此習已而不察，其為害殊甚。）</p>

<h2>牡丹皮</h2>
<p>牡丹皮色赤，氣味辛寒，血分之藥也。不緣子生，故名曰牡。陰中之陽，升也。其味辛，故主發散中風，寒熱邪氣，除症堅瘀血，寒能涼血，故主瘛瘲驚癇。凡骨蒸勞熱，癰腫瘡瘍，丹皮為要藥，若吐血衄血，大非所宜，以其上升故也。元如曰：若因風寒而衄血者宜之，如陰火上炎者大忌。</p>

<h2>栝樓</h2>
<p>凡草木之根，其性上升，梢杪子實，性復下降，物之理也。栝樓蔓延結實，則根粉盡消，實黃赤而子白潤，氣味苦寒，是以天花粉能啟陰液以上滋於心肺，栝樓實復能導心肺之氣以下行，故本經主治胸痹。元如曰：如蘇子、蘿葡子、白芥、云苔之類，性皆下行，所謂「上行極而下」也。</p>

<h2>麥芽</h2>
<p>麥，春長、夏成，得木火之氣，故為肝之谷；透發其芽，能達木氣，以制化脾土，故能消米穀之實。經云：食氣入胃，散精於肝，淫氣於筋。人之食飲不化，而成反胃噎膈者，多因肝氣鬱怒所致。予治此證，於調理脾胃藥中倍加麥芽，多有應手。蓋醫者但知消穀，而不知疏肝。玉師曰：可類推於穀芽、黍芽、大豆黃卷。</p>

<h2>薯蕷</h2>
<p>薯蕷，古名也，避唐宋帝諱，改名山藥。種植之法，切作薄片，隨所杵之竅而長之。（盧子由先生治一血利，久久不愈，曰：此腸內有血管矣。山藥隨所杵之竅而長滿，性能塞管，用山藥為君，配血藥而愈。此乃意度之妙用。）又百合之白花者，摘碎埋於土中，一瓣即生百瓣，而成一蒲。夫凡物切碎，皆成腐穢，二品所生之異，蓋得本體之精，感氣化而生長。山藥肉內多涎，仲景用百合湯，以水浸一宿，出其白沫。涎沫，乃其精也。氣生於精，二品得精氣之盛，故主補中益氣，長肉強陰。元如曰：凡物多精汁者，皆主養精補血，益氣生肌。</p>

<h2>枸杞</h2>
<p>《神農本經》，總名枸杞，無地骨皮、枸杞子之分。蓋枸字諧狗，杞字諧己，狗屬戌，而戌主右腎，腎主骨，而己屬陰土，故有地骨之名，而久服能堅筋骨。氣味苦寒，能清熱中消渴，蓋能助水土之氣，上滋心肺者也。其子色赤性寒，能補兩腎之精氣，骨之精為瞳子，故助瞳子之光明。</p>

<h2>紅花</h2>
<p>紅花色赤多汁，生血行血之品也。陶隱居主治胎產血暈，惡血不盡絞痛，胎死腹中。金匱方紅蘭花酒，治婦人六十二種風，又能主治痎瘧。臨川先生曰：治風先治血，血行風自滅。蓋風乃陽邪，血為陰液，此對待之法也。花梂莖葉，且多毛刺，具堅金之象，故能勝制風木。夫男女血氣相同，仲祖單治婦人六十二種風者，良有以也。蓋婦人有餘於氣，不足於血，所不足者，乃衝任之血，散於皮膚肌腠之間，充膚熱肉，生毫毛，男子上唇口而生髭鬚，女子月事以時下，故多不足也。花性上行，花開散蔓，主生皮膚間散血，能資婦人之不足，故主治婦人之風。蓋血虛則皮毛之腠理不密，而易於受風也。此血主妊娠，故專治胎產惡血。《靈樞經》云：飲酒者，衛氣先行皮膚，故用酒煎以助藥性。瘧邪亦伏於募原之腠理間，故能引其外出。夫血有行於經脈中者，有散於皮膚外者，而所主之藥亦有不同。如當歸、地黃、茜草之類，生養脈內之血者也，紅蘭花主生脈外之血者也；川芎、芍藥、丹皮、紅曲之類，又外內之兼劑也。學者能體認先聖用藥之深心，思過半矣。</p>

<h2>石膏</h2>
<p>石膏氣味辛甘微寒，《神農本經》主中風寒熱，心下逆氣，驚喘，口乾舌焦，不能息，腹中堅痛，除邪鬼，產乳，金瘡。仲景用麻黃配石膏，能發陽明水液之汁，白虎湯解陽明燥熱之渴，又主風熱發斑。是神農、仲景皆用為發散之品。蓋氣味辛甘，而體質疏鬆如肌理，但其性沉重，色白若金，故直從陽明而達於外也。後人咸謂清內熱而主降下，乃不明經義、物性故耳！夫凡物有可升可降者，配發散之藥則升，配破泄之藥則降。如厚朴之氣味苦溫，本經主中風、傷寒，頭痛，寒熱，乃發散之藥也。仲景承氣湯，配枳實、大黃、芒硝，為急下之劑。經云：酸苦湧泄為陰。蓋酸苦之味。能上湧而下泄也。同升藥則升，同降藥則降，立方配合，乃醫家第一義，詎可忽諸！</p>

<h2>女貞實</h2>
<p>女貞子，乃本經上品，氣味苦平，主補中，安五臟，養精神，除百病，久服肥健，輕身不老，強陰，健腰膝，變白髮，明目。即蠟樹也。立夏前後，取蠟蟲種子，裹置枝上，半月後，其蟲化出，延緣枝上，造成白蠟，堅白如凝脂，猶蠶食桑而成絲，連綿溫暖，皆得樹質精華，是以桑根白皮，主傷中，五勞六極，羸瘦，崩中絕脈，補虛益氣。女貞雖與冬青同名，其種實異。冬青名凍青，葉微圓，子赤色，蟲不造蠟為別也。世俗混用凍青，實二物，功用迥別。採擇者，不可不辨！</p>

<h2>蓮實</h2>
<p>蓮子，本經上品，氣味甘平，主補中養神，益氣力，除百疾，久服輕身耐老，不飢，延年。夫蓮莖色青味澀，中通外直，具風木之象，花紅，房白，須黃，子老而黑，有五行相生之義，故能補五臟不足。五臟主藏精者也，腎為水臟，受藏五臟之精。石蓮子色黑味澀，故用之以固精氣。今市肆一種，狀如土石，味極苦澀，不知為何物？盧子由先生曰：食之令人腸結。宜於建蓮子中，揀帶殼而色黑者為是。（有云假石蓮子乃樹上所生，即苦珠子之類。）</p>

<h2>桑上寄生</h2>
<p>桑寄生，生於近海州野，及海外之境，地暖不蠶，桑無剪採之苦，氣厚意濃，兼之鳥食榕實，糞落桑上，乘氣而生。榕乃易生之木，枝葉下垂，即生根作本，故其樹極大，多生於海山中，是以子附於桑，則為桑上寄生。蓋感桑之精氣，故其功力一本於桑，若寄生他木上者，不惟氣性不同，且反生災害矣。今市肆者，乃柴枝也。有一種色黃軟脆，狀如金釵石斛者，庶幾可用。寇宗奭曰：予從官南北，遍搜不可得，故非親採，難以別真偽，要知市賣者皆偽也。予故以依附桑上之藤，葉如三角楓者，取之安胎甚效，蓋亦得桑之精氣者也。</p>

<h2>紫草茸</h2>
<p>按《本草綱目》紫草發明下，李時珍曰：紫草氣味苦寒，如痘疹欲出未出，血熱毒盛，大便閉澀者宜之，已出而紫黑便閉者，亦可用；若已出而紅活，及白陷大便利者，切宜忌之。《直指方》云：紫草治痘，能導大便，使發出亦輕。《活幼新書》云：紫草性寒，小兒脾氣實者猶可用；脾氣虛者，反能作瀉。故古方惟用紫草茸，取其初得陽氣，以類觸類，所以用發痘瘡。今人不達此理，一概用之，非矣。夫所謂茸者，即初生之蒙茸，非紫草之外，另有茸也。又有如麒麟竭者，謂之紫草茸，非也，乃紫鉚耳！《酉陽雜俎》云：紫鉚樹，出真臘、波斯二國，樹高盈丈，枝葉郁茂，經冬不凋，天有霧露及雨沾濡，則枝條出鉚，狀如糖霜，累累紫赤，破則鮮紅，能出痘毒。此物產於異域，殊不易得。近有市利之徒，以偽物假充，索價甚厚，非徒無益，而反害之，不若用草之為當也。</p>

<h2>枳實</h2>
<p>《考工記》云：橘逾淮而北為枳。蓋橘得江南溫熱之氣，故氣味辛溫，能達中土之氣，通灌於四旁：枳乘江北寒涼之氣，性味苦寒，能去寒熱之邪下泄。是一物而性不同，因天地之氣也。本經主大風在皮膚中，如麻豆苦癢者，能啟寒水之發，以對待其陽邪。（枳葉經冬不凋。得寒水之氣。）夫橘至成熟而後採摘，天氣充滿，故能橫遍於四體；枳乃初生之小者，其氣收斂，故專生下泄。若夫枳殼之苦泄，其性又能橫充，所以本經止雲實而無殼，至宋時，始有殼、實之分。如病胸腹實而當下者，應用實，而以殼代之，乃識見淺而無力量處。</p>

<h2>橘皮</h2>
<p>橘皮臭香色黃，味甘而帶辛，甘、香、黃主土，辛主金。夫胃土主脈絡，（胃又屬陽明，秋金其色白。）脾土主肌肉，肺金主皮毛，橘皮在內之白膜，如胃腑所主之絡脈，皮內之白若肌肉，皮外之宗眼如毛孔，是從中達外，由脈而絡，絡而肌，肌而皮也。橘皮能宣發陽明之汗，解胃氣之逆呃，蓋能宣達胃氣，外出於皮毛，若夫皮腠之邪，逆於內而為喘急，膈上之痰，結於上而為咳嗽，欲消痰降氣而從下解者，是又從肌而絡，絡而脈，脈而胃也。是邪正之氣，欲出欲入，而用橘皮為導引者，皆藉皮內之白膜，如去其膜白，則斷截出入之道路，故本經止曰橘皮，而並無留白、去白之分。</p>

<h2>麥門冬</h2>
<p>經云：人之所受氣者，谷也；谷之所注者，胃也；胃者，水穀血氣之海也。海之所行雲氣者，天下也，胃之所出血氣者，經隧也。經隧者，五臟六腑之大絡也。是臟腑受水穀之精氣，由胃腑之大絡，通於臟腑之經。麥門冬主傷中傷飽，胃絡脈絕，以其根鬚從中而貫，如絡脈之貫於募原之中，是通胸絡之氣，藉中心之貫通也。麥冬經冬不凋，能啟陰氣，上滋於心肺，故主心腹結氣，咳嗽虛勞。腎脈上貫肝膈，入肺中，從肺出絡心，是腎氣之上交於心肺。心肺之痰熱，欲從下解者，又鹹藉麥冬之心而導引於脈中也。蓋凡物之寒涼者，其心必熱，熱者，陰中之陽也。人但知去熱，而不知用陽，得其陽，而後能通陰中之氣。</p>

<h2>防己</h2>
<p>經云：水道不行，則形氣消索。是水有隨氣而運行於膚表者，有水火上下之相濟者，如氣滯而水不行，則為水病痰病矣。防己生於漢中者，破之紋作車輻，莖蔓空通，主通氣行水，以防己土之制，故有防已之名，《金匱》方治水病，有防己黃耆湯、防己茯苓湯；治痰飲，有木防己湯、防己加茯苓芒硝湯。孫思邈治小便閉澀，有三物木防己湯。蓋氣運於上，而水能就下也。今相沿為下部之藥，緣前人創論於前，後人隨文附會爾！杲曰：防己如險健之人，幸災樂禍，首為亂階，若善用之，亦可敵凶突險，此瞑眩之藥也，故聖人存而不廢。如上焦氣分之病，皆不可用，乃下焦血分之藥耳！噫，如此議論，不知從何處參出？夫氣化而後水行，防己乃行氣利水之品，反云上焦氣分不可用。《神農本草》分上、中、下三品，以養生補益、延年不老者為上品，治病者次之，毒藥為下。防己能運行去病，是運中有補，故本經列於中品之前，奚為存而不廢？且氣味辛平無毒，奚為瞑眩之藥？如此議論，不能枚舉，無裨治道，反疑惑後學。予觀今世惟盧子田先生，學識淵博，惟宗聖經，獨不為前人所愚。</p>

<h2>附子</h2>
<p>附子如芋，子附母生，故名附子。旁之小子曰側子，土人慾重其斤兩，用木坯將側子敲平於上，然母子之體不相合，故須揀子之少者，又當估去小子，有一兩餘方可用，若連子而重一兩五六錢，更為有力。近時俗人，咸謂一兩外者為天雄。不知天雄長三寸以上，旁不生子，故名曰雄。土人尤忌生此，以為不利，即禳禱之，謂其不能子母之相生也。今人多取重一兩者，若側子多而去其二三錢，則母身止重七八錢之川烏矣。此緣失於考究，故沿襲時俗之訛。又如附子之尖，乃下行之根，其性趨下，有欲治上而用其尖者，顛倒物性，尤為可笑。</p>

<h2>丹雄雞</h2>
<p>羽蟲三百六十，秉火運而生，故飛翔於上下。雞在卦屬巽，冠羽皆丹，感木火之氣者也；在支屬酉，又得金之制化，故鳴於寅酉二時。鳴則先鼓其翼，風之象也；鳴者，金之聲也。（玉師曰：木擊金則鳴。）其性好鬥，秉肅殺之氣也。故主女子崩中，漏下赤白。蓋崩中、漏下，肝主之血也。夫凡物各有自物之性，得其物性，施於治道，若合符節，故舉一以推之。</p>

<h2>黑豕</h2>
<p>豬屬亥，水之畜也，故氣味鹹平。豕性甚躁，（玉師曰，故躁屬陰證。）行不舉足而惟奔，故無病之人食之，補腎生精，如感於風寒者食之，生痰發喘，以其善奔水氣於上也。按毛蟲三百六十，感木氣而生，而牛、羊、犬、馬，又秉火土之化。豕屬水而性寒，羽蟲感火氣之化，而生長於水中者，又居其半。（鵝、鴨，鳧、騖類，生長於水中。）蓋五類之蟲，雖感五行之氣而生，而五行之中有變有化，明乎變化之道，可與參天地之生物矣。</p>

<h2>鱗類</h2>
<p>鱗蟲三百六十，而龍為之長，感水運而生。水者，至陰也。陰極陽生，故戊癸合而化火，火生於水也。（玉師曰：龍身有火。）是以魚屬火，而有水火相濟之功。</p>

<h2>蚌蛤</h2>
<p>介蟲三百六十，皆具堅甲之象，感金氣而生，金生水也，外剛內柔，離之象也。故蚌蛤之肉皆主清涼，在外之殼，又能燥濕，是一物而有水火寒熱之分焉。非惟蚌蛤之為然也。如坎為水，水生木，其於木也，為堅多心，是木皮之清涼者，其心則熱。又非惟木之為然也。凡物之極寒者必有熱，極熱者必有寒，蓋物極則變，變則生化。玉師曰：如麻黃大發汗，而根節又能止汗；西瓜大涼，而子性大熱。</p>

<h2>血餘</h2>
<p>腎藏精，其榮在發；心主血，發乃血之餘也。夫血乃所生之精汁，奉心神而化赤，故曰血者神氣也。本經發髲，主五癃關格不通，療小兒驚，大人痙，仍自還神化，謂血化之餘榮，仍自還於神化也。血脈流通，精神交感，則關格通而驚痙自解。是以痘方用血餘者，取其能導腎精中之毒氣，歸於心神，行於脈絡，而又能敗毒。</p>

<h2>龜板、鹿茸</h2>
<p>李時珍曰：龜、鹿皆靈而有壽。龜首常藏向腹，能通任脈，故取其甲，以補心、補腎、補血，皆以養陰也。鹿鼻常反向尾，能通督脈，故取其角，以補命、補精、補氣，皆以養陽也。乃物理之玄微，神工之能事。按任脈起於中極之下，以上毛際，循腹裡，上關元，至咽喉，上頤循面。督脈環繞一身，循腰脊，歷絡兩腎。龜板治小兒囟不合，鹿茸主生齒不老，蓋二品皆屬於腎，腎主骨也。任、督二脈，為陰陽百脈之宗，又皆出於腎。故痘方用之者，一取其養陰而清熱，一取其透頂以敗毒，導腎中之火毒，從百脈而外出於皮膚。（龜板又能達於四肢，故主治四肢重弱，上古卜蔡烹而用之，若敗龜板者，乃病死枯敗之物，絕無靈氣，又何所取焉？）</p>

<h2>半夏、天花粉</h2>
<p>《月令》五月半夏生，當夏之半也。其形圓，其色白，其味辛，陽明胃腑之藥也。陽明秉秋金之燥氣，半夏啟一陰之氣，上與戊土相合，戊癸合而化火，故陽明為燥熱之腑，能化水穀之精微。天花粉別名瑞雪，根粉潔白，氣味苦寒，莖引藤蔓，能啟陰液，從脈絡而上滋於秋金，（藤蔓者，走經脈。）　故有天花、瑞雪之名。蓋水陰之氣，上凝於天而為雪；天花者，天雨之六花也。一起陰氣於脈外，上與陽明相合，而成火土之燥；一起陰液於脈中，天癸相合，而能滋潤其燥金。是以《傷寒》、《金匱》諸方，用半夏以助陽明之氣，渴者燥熱太過，即去半夏，易花粉以滋之。先聖賢立方加減，豈輕忽歟！</p>

<h2>百合、紫蘇</h2>
<p>庭前植百合、紫蘇各數莖，見百合花晝開夜合，紫蘇葉朝挺暮垂，因悟草木之性，感天地陰陽之氣而為開闔者也。如春生、夏長、秋成、冬殞，四時之開闔也；晝開、夜合、朝出、暮入，一日之開闔也。是以一歲之中有四時，一日之中有四時，而人、物應之。百合色白氣平，其形象肺，能助呼吸之開闔，故主邪氣腹脹心痛，蓋氣行，則邪散而脹痛解矣，主利大小便者，氣化則出也；主補中益氣者，氣之發原於中也。蘇色紫赤，枝莖空通，其氣朝出暮入，有如經脈之氣，晝行於陽，夜行於陰，是以蘇葉能發表汗者，血液之汗也。（白走氣分，亦走血分。）枝莖能通血脈，故易思蘭先生常用蘇莖通十二經之關竅，治咽膈飽悶，通大小便，止下利赤白。予亦常用香蘇細莖，不切斷，治反胃膈食，吐血下血，多奏奇功。蓋食氣入胃，散精於肝。濁氣歸心，肝主血，而心主脈。血脈疏通，則食飲自化。經云：陽絡傷則吐血，陰絡傷則下血。通其絡脈，使血有所歸，則吐下自止。夫茜草、歸、芎之類，皆能引血歸經，然不若紫蘇晝出夜入之行速耳！於戲，陰陽開闔，天地之道也，進乎技矣！</p>

<h2>羌活、防風</h2>
<p>按神農本草三百六十種，以上品一百二十種為君，中品一百二十種為臣，下品一百二十種為使。羌活、防風，皆本經上品。有謂羌活治一身盡痛，乃卻亂反正之君主，防風治一身盡痛，乃卒伍卑賤之職，隨所引而至。噫！神農列於上品之君藥，後人改為卑賤之卒伍，何防風之不幸也！夫君令傳行，亦隨郵使所引，遍及萬方，若以隨所引至為卑賤，則羌活亦可為卒伍矣。如此議論，雖不大有關係，但使後人從而和之，則陋習終不可挽回矣。</p>

<h2>雞子、金銀花、王不留行</h2>
<p>天地之形如鳥卵，仲景即以雞子白補氣，卵黃治血脈。金銀花花開黃白，藤名忍冬，得水陰之氣而蔓延。陶隱君謂能行榮衛陰陽，主治寒熱腹脹，敗毒消腫。蓋榮衛行而寒熱腫脹自消，得陰氣而熱毒自解，故又治熱毒下痢、飛屍鬼疰、喉痹乳蛾。王不留行亦花開黃白，故名金盞銀臺，其性善行，言雖有王命，不能留其行也。陶隱君亦取其能行氣血，主治金瘡，癰腫，痛痹，產難，下乳汁，利小便，出竹木刺。夫血氣留阻，百病皆生，榮衛運行，精神自倍。故二種皆為上品，並主輕身耐老，益壽延年。雞卵用形，二花取色，一因其延蔓，一取其善行。夫醫者，意也。本草大義，亦以意逆之，則得矣。開之曰：人但知金銀花敗毒消腫，不知有行榮衛血氣之功，得冬令寒水之氣。</p>

<h2>沙參、人參、黃耆</h2>
<p>沙參、人參、黃耆，皆《神農本經》上品，咸主補養元氣。沙參色白，氣味甘苦，微寒，主補中，益肺氣。肺氣者，胃腑所生之宗氣，上出於肺，以司呼吸。人一呼則八萬四千毛竅皆闔，一吸則八萬四千毛竅皆開，故肺主皮毛。補中者，宗氣生於胃腑也。人參色白微黃，氣味甘溫，資胃腑之精氣者也，故主補五臟，安精神，定魂魄，止驚悸，除邪氣，明目開心益志。蓋五臟之精氣神志，胃腑之所生也。黃耆色黃，氣味甘溫，補益脾氣者也。脾氣者，元真之氣也。（元真者，先天之真元，生於地水之中。）三焦通會元真於肌腠，故脾主肌肉。黃耆主癰疽久敗，排膿止痛，大風癩疾，五痔鼠瘻，補虛，小兒百病。蓋血氣留滯於肌肉，則為癰腫，肌腠之氣運行，則肌肉生而膿腫消矣。大風癩疾，乃風邪傷榮，而熱出於胕肉，其氣不清，故使其鼻柱壞而色敗，皮膚瘍潰。經云：腸澼為痔。蓋脾氣孤弱，五液注下，則生痔漏。鼠瘻者，邪氣陷放脈中而為瘻，留於肉腠，則為馬刀俠癭。蓋脾土盛而元氣行，則癰瘻諸病皆解矣。補虛者，補肌肉羸瘦也。主小兒百病者，小兒五臟柔脆，中土之氣未足，若過於飲食，則脾氣傷而不能運化矣。脾弱則胃強矣，胃強則消穀善飢，脾弱則肌肉消瘦，胃熱則津液不生，而熱疳、食疳之病生焉。是以黃耆、白朮、黃連、枳實為小兒之要藥。蓋清其胃熱，脾氣運行，則無五疳、五癆之病矣；腠理固密，則無急、慢驚風之證矣。三者皆補中之品，而各有所主之分。</p>
<p>按本草千種有奇，愚所論者，錯綜辯證，百不及一。同志高明，引伸觸類，一可貫十，十可櫽百。至參閱前人議論，是則曰是，非則曰非。闡先聖之奧義，以開來學，是予所深望焉！</p>

<h2>姜附辯</h2>
<p>乾薑、甘草、人參、白朮、黃耆，補中氣之品也，是以吐傷中氣者，用理中圓，乃人參、甘草、乾薑、白朮四味。附子乃助下焦之生氣者也，是以手足厥冷，脈微欲絕者，用四逆湯，乃附子、乾薑、甘草三味。夫啟下焦之生氣者宜生附，補下焦之元氣，或汗漏不止，而陽欲外脫者，宜熟附以固補之。蓋元氣發原於下，從中焦而達於四肢，故生氣欲絕於下者，用下焦之附子，必配中焦之甘草、乾薑，或加人參、白朮。若止傷中氣，而下焦之生原不傷者，止用理中，而不必附子矣。不格物性中下之分，不體先聖立方之意，有以生附配乾薑，補中有發，附子得生薑則能發散之說者；有以附子無干姜不熱，得甘草則性緩之說者。蓋以薑、附為同類，疑惑後人，誤事匪細。如生氣欲絕於下，所當急溫者，若不用附而以姜試之，則不救矣！元如曰：不敢用附，而先以桂代之者，亦誤事不淺。</p>

<h2>炮製辯</h2>
<p>上古以司歲備物，謂得天地之專精。如君、相二火司歲，則收取薑、桂、附子之熱類。如太陽寒水司歲，則收取芩，連、大黃之寒類。如太陰土氣司歲，則收取耆、朮、參，苓、山藥、黃精之土類。如厥陰風木司歲，則收取羌活、防風、天麻、獨活之風類。如陽明燥金司歲，則收取蒼朮、桑皮、半夏之燥類。蓋得主歲之氣以助之，則物之功力倍厚。中古之世，不能司歲備物，故用炮製以代天地之氣。如製附子曰炮，製蒼朮、桑皮曰炒，蓋以火助熱、以炒助燥也。制白朮以土拌，制黃連以水浸，皆所以助之也。近有製附子以水煮曰陰制，用芝麻炒蒼朮、以蜜拌桑皮曰潤燥，以姜酒炒芩、連，（按《傷寒》、《金匱》諸方，芩、連俱生用。）以半夏作曲餅，此皆由狐疑，而無力量故也。昔齊相徐之才論藥，有宣、通、補、泄、輕、重、滑、澀、燥、濕之十劑，元人王安道，補出寒、熱二種。是宜用寒者，專取其寒；用熱者，專取其熱；宜澀者，專取其燥；宜泄者，專取其滑。若反制其性而用之，何異束縛手足而使之戰鬥哉！</p>

<h2>畏惡反辯</h2>
<p>藥之相須、相使、相惡、相反，出北齊徐之才藥對，非上古之論也。聿考《傷寒》、《金匱》、《千金》諸方，相畏、相反者多並用。有云相畏者，如將之畏帥，勇往直前，不敢退卻；相反者，彼此相忌，能各立其功，圓機之士，又何必膠執於時襲之固陋乎！</p>

<h2>奇偶分兩辯</h2>
<p>《至真要論》曰：近者奇之，遠者偶之；汗者不以奇，下者不以偶。夫近奇、遠偶者，謂奇上而偶下，猶天地之定位也；下宜奇而汗宜偶者，以降者謂天，升者謂地，地氣升而後能為云、為雨也。夫天地陰陽之道，天氣下降，氣流於地，地氣上升，氣騰於天，不則天地四塞，而汗從何來？有不明天地氣交之道者，泥於近奇、遠偶之句，反改為汗不以偶、下不以奇，此不通之甚也。《大要》曰：君一臣二，奇之制也；君二臣四，偶之制也；君二臣三，奇之制也；君二臣六，偶之制也。近而奇偶，制小其服，遠而奇偶，制大其服。大則數少，小則數多。多則九之，少則二之。蓋數少而分兩重者為大方，數多而分兩少者為小方。是以上古之方，少者一二三味，其分兩各三兩四兩，多者不過八九味，分兩亦各有兩數，（古之二兩，今之一兩也。）皆有君臣佐使之分焉。有獨贊東垣能用大方，如韓信將兵，多多益善。噫！此但知有東垣，而不知有《內經》者也。夫東垣之大方，不過以數方合用，是為複方。如清暑益氣湯，以補中益氣湯內，加二妙、生脈二方，焉能如先聖之大方乎？（上古大方，間或用之。）試觀鱉甲煎丸，用至二十四味，其間參伍錯綜，如孔明陣圖，人莫能識。</p>

<h2>寒熱補瀉兼用辯</h2>
<p>夫治病有專宜於寒者、熱者、補者，瀉者，又宜寒熱補瀉之兼用者。如《傷寒》有附子瀉心湯，用大黃、芩、連、附子，寒熱之並用者；有柴胡加龍骨牡蠣湯，以人參、大黃、黃芩、薑、桂，補瀉寒熱之並用者。《金匱》有大黃附子細辛湯，有大黃、乾薑、巴豆之備急丸。此皆先聖賢切中肯綮之妙用，當參究其所用之因而取法之。今時有用涼藥而恐其太涼，用熱藥而恐其太熱，是止知藥之寒熱，而不知病之邪正虛實也。然亦有並用寒熱補瀉而切當者，反為不在道者笑之。開之曰：寒熱補瀉兼用，在邪正虛實中求之則得矣。</p>

<h2>官料藥辯</h2>
<p>所謂官料藥者，乃解京納局之高品。近時有謂火癉、黃疽、腫脹諸證，不宜服官料藥者，真齊東野人之語也。夫官料亦多系草根木皮，又何分草藥之非官料，而官料之非草藥乎？夫草藥自神農至今，計六百一十餘種，又雜草九種，有名未用者一百五十三種，內多有名而不識其草者，有草而不知其名者，若按《圖經》以對草之形，以草之主治何病以對經，未嘗不可，若憑荷擔之野人，在彼亦不能識，而胡亂以命名，即欲按經索草，彼亦胡亂付之，在所取之人，亦不知其是與非也，是烏可嘗試哉！</p>

<h2>金匱腎氣丸論</h2>
<p>腎氣丸乃上古之聖方，藏之金匱，故名金匱方。夫人秉先天之陰陽水火，而生木火土金之五行。此方滋補先天之精氣，而交通於五臟，故名腎氣丸。用熟地黃八兩，以滋天乙之精，八者，男子所得之陰數也。用附子一枚重一兩者，以資地二之火，兩為陰數之終，一乃生陽之始，助陰中所生之陽。蓋兩腎之水火互交，陰陽相合，是以用地黃、附子，以助先天之水火精氣者也。用桂通腎氣以生肝，桂色赤，而為百木之長，肝主血而屬木也。（古方原用桂枝。）用牡丹皮通腎氣，上交於心脾，丹屬火而主血，牡乃陰中之陽升也。夫腎與肺，皆積水也。澤瀉能行水上，復能瀉水下行，主通水天之一氣，是以配肉桂、丹皮、澤瀉者，導腎臟之水火，上交於四臟者也。茯苓歸伏心氣以下交，山藥培養脾土以化水，山茱萸乃木末之實，味酸色赤，復能導肝氣交通於腎，是以配茯苓、山藥、山萸、澤瀉者，導四臟之氣而下交於腎也。心肺為陽，故用三兩之奇，肝脾為陰，故用四兩之偶，此培養精神氣血，交通五臟五行之神，方不可缺一者也。宋錢仲陽以為陽常有餘，陰常不足，去桂、附而改為六味地黃丸。夫精血固宜補養，而神氣可不資生乎？後人因而有加知母、黃柏者，有加枸杞、菊花者，有加麥冬、五味者，竟失本來面目矣。夫加減之法，因陰虛火盛之人，以之治病則可，若欲調攝陰陽，存養精氣，和平水火，交通五行，益壽延年，神仙不老，必須恆服此金丹矣。元如曰：精生於五臟，而下藏於腎，腎氣上升，以化生此精，是以五臟交通而後精氣充足。</p>

<h2>枳朮湯論</h2>
<p>《金匱要略》用枳朮湯治水飲所作，心下堅大如盤。蓋胃為陽，脾為陰，陽常有餘而陰常不足，胃強脾弱，則陽與陰絕矣，脾不能為胃行其津液，則水飲作矣，故用術以補脾，用枳以抑胃。後人不知胃強脾弱，用分理之法，咸謂一補一消之方。再按《局方》之四物湯、二陳湯、四君子湯，易老之枳朮丸，皆從《金匱》方套出，能明乎先聖立方大義，後人之方，不足法矣。</p>

<h2>膠艾湯論</h2>
<p>艾名冰臺，削冰令圓，以艾向日取火，是能啟兩腎水火之氣，上交於心肺者也。（故曰：陷下則灸之。）阿膠用阿井水煎驢皮而成，阿水乃濟水伏行地中，千里來源，其性趨下。夫心合濟水，肺主皮毛，阿膠能降心肺之氣，以下交於兩腎者也。水火交而地天泰，則血氣流行，陰陽和合，又何病之有？明乎陰陽升降之道，五行生化之理，立方大意，思過半矣。鐵甕申先生之交感丸，亦從此中化出。</p>

<h2>戊癸合化論</h2>
<p>順治辛卯歲，予年四十有二，八月中，生一胃脘癰，在鳩尾斜下右寸許，微腫不紅，按之不痛，隱隱然如一雞卵在內。姚繼元先生視之曰：此胃脘癰也，一名捧心癰，速宜解散，否則有性命之憂。與一大膏藥，上加末藥二三錢，午間烘貼，至暮手足蘇軟，漸至身不能轉側，仰臥於書齋，心煩意亂，屏其家人。至初更時，癰上起一毒氣，從左乳下，至肋，下脅，入於左腎，入時如燒錐刺入，眼中一陣火光，大如車輪，神氣昏暈，痛楚難言，火光漸搖漾而散，神昏始蘇。過半時許，其氣復起，其行如舊，痛楚如前，如此者三四次。予思之，此戊與癸合也，然腑邪入臟，自分必死，妄想此毒氣不從脅下入腎，得從中而入於腸胃則生矣。如此靜而行之，初次不從，二次即隨想而仍從左乳下入於腸中，腹中大鳴，無從前之痛楚矣。隨起隨想，因悟修養之道，氣隨想而運用者也。（運氣法大能起鼓膈之證，勞怯咳嗽亦妙。）至天明，大泄數次，胸膈寬疏。繼元先生復視之曰：毒已解散，無妨事矣。予因問曰：膏藥乃毒藥耶？曰：非也。上撒之末藥，名曰端午藥，純用砒霜、巴豆，於端午日配製，無此毒藥，焉能透入皮肉之內？予曰：何不早言，昨晚以為必死於毒，今早始悟膏藥中必有毒藥。而得生於毒矣。毒藥攻疾，有如此之妙也。至次年中秋復發，仍用膏藥、末藥，毫無前番之狀，而腫亦不消。予因想運氣之妙，經行坐臥，以手按摩，意想此毒氣仍歸腸胃而出，如此十餘日而散。至次年中秋又發，予對繼元先生曰：去歲膏藥不應，今須另法治之。姚曰：部院劉公之夫人生此毒，曾另置末藥，比前藥更毒，貼之要起大泡，此藥用去，無有不應。貼上數日，並不起泡，腫亦不消，予想此證已頑，不受毒藥之制。（膏藥尚且不應，而況平和湯之治久病乎！）即揭去膏藥，用大艾圓，迎頭灸九壯，其毒隨火氣四散，嗣後永不發矣。予想陽明之毒，准在中秋金旺之時而發，初從毒攻而解，次隨氣運而散，後因勝制而消，因悟氣運制化之道，有如此之妙用，五行合化之理，人與天地相參，即以此理推治百病，奇妙異常。王紹隆先生曰：業醫人須病病經過，始得之矣。</p>

<h2>太陰陽明論</h2>
<p>三陰三陽者，天之六氣也。五臟六腑者，有形之五行也。胃屬土，而陽明主秋令之燥。陽明者，胃之悍氣，別走陽明，猶膀胱乃津液之府，而太陽之氣為巨陽，五行六氣之有別也。夫兩陽合明，故曰陽明，陽盛之氣也，故胃土之氣柔和，（土主柔順。）而陽明之氣燥熱，是以陽明得中見少陰之濕化，則陰陽相和矣。胃土得戊癸之合，則火土之氣盛矣。故陽明之氣宜於和柔，胃土之氣宜於強盛，如火土之氣弱，而又秉太陰之濕，則水穀不消而為虛泄矣。此宜人參、橘皮、甘草、半夏之類以助胃，白朮、蒼朮、厚朴、茯苓、薑、棗之類以益脾，甚者加附子以助癸中之火。若陽明悍熱之氣盛，而不得太陰之化，則陽與陰絕，漸能食而瘦矣。此又宜黃連、枳實之類以抑胃，耆、朮、薑、棗之類以扶脾。易老、東垣以枳朮丸為半補半消之法，皆不得五行六氣之理、先聖立方之意。</p>

<h2>蛔蟲</h2>
<p>余於南軒臨窗注書，十有餘歲矣。自晨至暮，未嘗離此。窗前階砌雖小，而甚清潔，每於夏月大風雨後，即有蜒蚰如拇指大者，蝸牛如田螺者，生長極易，此感天地之風濕而生，所謂四生中之濕生也。人秉天地之五行六氣而生，身中亦具此六氣。如傷寒病在厥陰，感厥陰之風氣，而蛔生於中土。蓋亦因風濕所生，一時即能長大，亦如蚰、蝸之易生易大者也。又常聞人之臟腑，與豬相似。余因見剖豬處，稍住足觀之，偶見一豬小腸內，有蛔蟲長尺許，盤旋於內，與人之蛔蟲無異。要知人病蛔厥作痛，或常吐蛔、便蛔，多因脾胃濕熱而生，無病之人，未常有蛔也。俗人相沿云：胃中有蛔，故能消食。謬矣！</p>

<h1>跋</h1>
<p>聞之耆老，自順治至康熙之初，四十年間，外郡人稱武林為醫藪。蓋其時盧君晉公，以禪理參證醫理，治奇疾輒效，名動一時。張君隱菴繼之而起，名與相埒，構侶山堂，招同學友生及諸門弟子，講論其中，參考經論之同異，而辨其是非，於是談軒岐之學者，咸嚮往於兩君之門，稱極盛焉。兩君所著書皆堪傳世，張氏所輯者，俱已授梓行世，甫及百年，流傳日少。其《針灸秘傳》及《侶山堂類辯》二種，已難得購，余尋之有年，始得《類辯》一種。觀其準古衡今，析疑糾謬，足為後學規矩準繩，亟為重梓，以廣其傳。後之學者，苟以此為指南，庶能得正道，而由之寧有岐路之迷、邪徑之誤哉？隱菴初為糧道書吏，糧道患癃閉，諸醫用藥皆罔效，或薦隱菴。隱菴以補中益氣湯投之，一劑而愈。或問之曰：人治以降利之藥而不效，子易以升提之藥而效，其理安在？隱菴曰：公不見夫水注子乎！閉其上而倒懸之，點滴不能下也；去其上之閉，而水自通流。非其法耶？令閱編中所釋，將欲下之，必先舉之，而引轆轤之繩以喻，正是此理。人能以此法觸類而通之，醫法固無盡藏哉！茲事，余蓋聞之黃君觀石者如是，近又聞張君東扶，言盧晉公事糧道，患內閉溺不得下，勢甚亟，諸醫皆束手，晉公先生以人參、麻黃各一兩定劑，諸醫囁嚅不敢謂是，糧道不疑，而飲其藥，不逾時溺下，糧道喜以千金贈晉公。與予前所聞者異辭，予意盧、張二君所治各一，當事而傳者，均屬之糧道，致有異同之疑耳！黃、張二友，皆非妄言者，故並紀之以為治癃閉之法，並以證此帙中，名言精理，所蘊不少，人當殫思細參，以收其益，慎毋視為淺近而忽之也。</p>
<p><u>乾隆己丑三月五日戊子胥山老人王琦</u></p>
<p>憶甲子歲暮，以事往來橫山大嶺間，道中憩一農家，農家方解豕，析其前蹄，有清水流出，約二升許。異而詢之，農家子曰：此豕自麼時即患足弱不能行立，恆臥而食。此其病之所由來也。予因是悟人之病手足不良，而不任持行者，蓋因水濕之氣留滯其中者，亦如此矣。茲閱隱菴所記，因豬腸之蛔，而知無病之人未嘗有蛔。其事固可類觀也。穀雨後三日庚子，校勘已畢，重閱此條，因泚筆附記於後。</p>
