<header data-type="book">
<h1>丁甘仁先生家傳珍方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>丁甘仁</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>底本</dt><dd><a href="https://zh.scribd.com/document/2593207/%E4%B8%81%E7%94%98%E4%BB%81%E5%85%88%E7%94%9F%E5%AE%B6%E5%82%B3%E7%8F%8D%E6%96%B9">上海中醫藥大學藏民國遠志精舍抄本</a></dd></div>
</dl>
</header>

<h1>一、丸部</h1>
<p><u>琥珀定痛丸</u></p>
<p>專治諸瘡腫痛不止，服之神效。</p>
<p>琥珀（五錢）　黃占（五錢）　乳香（三錢）　沒藥（三錢）　白礬（一錢）　大土灰（五分）</p>
<p>共研細末，將佔烊化為丸，如桐子大，硃砂為衣，每服二三十丸，開水送下。</p>
<p><u>陽和丸</u></p>
<p>專治一切陰痰流注，皮色不變，漫腫不收等症。每服二三錢。</p>
<p>大熟地（六兩）　鹿角膠（三兩）　炮薑炭（五錢）　白芥子（二兩）　安桂（一兩）　生麻黃（五錢）　生甘草（一兩）</p>
<p>研細末，以鹿角膠酒化為丸。</p>
<p><u>拔管丸</u></p>
<p>專治一切遠年瘡毒，起管成漏，膿水時流，久不收口等症。</p>
<p>蛐蟮（一斤，韭菜地上者佳，酒洗淨，泥瓦上炙灰）　蜣螂蟲（八個，瓦上炙灰）　刺蝟皮（五錢）　象牙屑（一兩）　穿山甲（一兩，炙黃）</p>
<p>諸藥共研末，爛蜜為丸，如桐子大。大人服八分，小兒服五分。</p>
<p><u>秘製分清泄濁丸</u></p>
<p>治肝經濕火，淋濁管痛，小溲不利，並治下疳濕爛火盛。</p>
<p>生大黃（一兩）　西琥珀（一錢）</p>
<p>用雞蛋清雄頭七枚搗丸，准作三日服，燒酒送下此丸。屢試屢效。</p>
<p><u>椒梅丸</u></p>
<p>治和營理氣，消散痞瘕。</p>
<p>川花椒（四兩）　烏梅肉（二兩）　茯苓（四錢）　砂仁（四兩）　木香（四兩）　烏藥（八兩）　厚朴（八兩）　茴香（四錢）　廣皮（八兩）　當歸（四兩）</p>
<p>諸藥共研細末，搗和為丸。</p>
<p><u>九香如意丸</u></p>
<p>專治平肝和胃。</p>
<p>檀香（二兩）　降香（二兩）　沉香（六錢）　木香（三兩）　丁香（六錢）　藿香（五錢）　砂仁（二兩）　烏藥（三兩）　厚朴（二兩）　廣皮（二兩）　蒼朮（二兩）</p>
<p>水泛為丸，枟香為衣。</p>
<p><u>定吼丸</u></p>
<p>南沙參（三斤）　豆豉（三斤）　黑蘇子（五斤）　杏仁（五斤）　橘紅（二斤）　製半夏（三斤）　白桑皮（五斤）　象貝母（五斤）　白芥子（一斤）　蔞皮（一斤）　萊菔（二斤）</p>
<p>諸藥研末，水泛為丸。此丸化痰降氣。</p>
<p><u>新制定痛丸</u></p>
<p>的乳香（三錢）　制沒藥（三錢）　朱竭（一錢）　菸灰（二錢五分）</p>
<p>共研細末，以黑棗肉三枚為丸，如綠豆大。大人服三粒，小兒服一粒。硃砂為衣，此丸神效。</p>
<p><u>靈驗白濁丸</u></p>
<p>海金沙　甘草　滑石　生大黃　黃柏（各一兩）　琥珀（一錢）</p>
<p>研末，雞蛋清搗丸，如桐子大。</p>
<p><u>止瀉丸</u></p>
<p>雲茯苓（二兩）　薄荷（四錢）　陳倉米（四兩）　蘇梗（四錢）　藿香（四錢）　防風（四錢）　菸灰（一兩）</p>
<p>諸藥秤准，生曬，研細末，將灰入水研化，再加水，以倉米分煮粥，入藥煉丸，如桐子大，用硃砂為衣。</p>
<p><u>追管丸</u></p>
<p>專治疔漏，不拘遠年近日，有漏通腸，汙從孔出者，先用此方追盡膿毒後，服消管丸，自然見效。</p>
<p>胡黃連（一兩，薑汁炒）　刺蝟皮（一兩）　當門子（二分）</p>
<p>諸藥共研細末，以軟飯搗和為丸，如麻子大。每服一錢，食前酒下。服藥後，如膿水甚多，乃藥力到處，不必懼也。</p>
<p><u>消管丸</u></p>
<p>專治一切腸臟痔毒成管成漏。服前追管丸之後，再服此丸，自然消管，不用刀針掛線，爰不苦楚，誠起痼疾之良法也。</p>
<p>炒胡連（二兩）　穿山甲（一兩）　煅石決明（一兩）　炒槐米（一兩）</p>
<p>諸藥將各淨末和勻，煉蜜搗為丸，如麻子大，早晚兩次服一錢，清米湯送下，重者四十餘日痊愈。再服後完善丸。如四圍瘡口有硬肉突出者，可加蠶繭二十個，炒研和入藥內。</p>
<p><u>完善丸一名閉管丸</u></p>
<p>治凡患痔內漏，曾服前追消管丸，其痛已愈，誠恐久後不守禁忌，或食豬肝番茄，繼忌燒酒炙煿。每致瘡疤後萌，務服此丸，自可斷根，屢試屢驗如神也。</p>
<p>夏枯草花（十兩）　連翹殼（十兩）　甘草節（五兩）　金銀花（四兩）</p>
<p>諸藥共研細末，以金銀花熬濃汁發丸，如綠豆大，每早空心用淡鹽湯送下三錢。若起漏三五年者，服二料痊愈。此方乃康熙間浙江提督陳山凱患痔漏，用之病愈。刻板傳人，予得樂清姚氏所傳，屢試屢效。</p>
<p><u>都梁丸</u></p>
<p>治風痰眩暈。</p>
<p>全當歸　甘菊花　明天麻（各五兩）　紫丹參　霜桑葉（各半斤）　撫川芎（四兩）　石決明　炙白芷（各二兩）</p>
<p>上藥研末，清水泛丸。</p>
<p><u>清金保肺丸</u></p>
<p>治陰虛咳嗽。</p>
<p>南沙參（八兩）　大麥冬　瓜蔞皮　女貞子　生苡仁　淮山藥（各四兩）　雲茯苓（三兩）　肥玉竹　象貝母　杏仁（打，各五兩）　薄橘紅（一兩五錢）</p>
<p>清水泛丸。</p>
<p><u>截瘧丸</u></p>
<p>專治一切瘧疾，或因風寒，或因暑熱，因痰因食，而成瘧疾，日久不愈者，用此丸截之，永不復發，靈驗無比。臨發日五更，用井水化吞下五粒，不宜多服也。</p>
<p>白信石（一錢）　硃砂（三錢）　綠豆粉（一兩二錢）　粉草（二錢）　明雄黃（三錢）</p>
<p>以綠豆粉搗和為丸，如綠豆大。</p>
<p><u>仙傳通痢丸</u></p>
<p>專治中州脾土或濕熱，或寒滯，腸中而成赤白痢疾，或水瀉等症，服之俱有神效。每服四分，小兒減半。藥引詳明方單。</p>
<p>蒼茅朮（一兩五錢）　粉草（一兩五錢）　生熟大黃（各一兩）　制川烏（一兩）　光杏仁（一兩）　炒羌活（一兩）</p>
<p>諸藥共研細末。</p>
<p><u>萬億丸</u></p>
<p>專治大便不通，一切結腸煩躁，燥結之症，通幽潤腸之功，無過此丸者。大人每服三粒，小兒一粒，兩歲以上兩丸。大便通後，諸症皆安，神效無比也。</p>
<p>巴豆　硃砂　白麵（各五錢）</p>
<p>糊為丸，如粟米大。</p>
<p><u>補力丸</u></p>
<p>專治勞傷脫力，腰腳痠軟，四肢無力，倦怠惡食，頭眩眼花，心神恍惚，胸中欠暢，勢成黃病，面無華色等症。每服三錢，燒酒送下。</p>
<p>全當歸　厚杜仲　廣陳皮　六神麯　炒冬朮　餘糧石（煅）　酒煅皂礬（各四兩）　補骨脂　毛尖茶葉（各二兩）</p>
<p>諸藥共研細末，棗肉為丸。</p>
<p><u>楊梅瀉毒丸</u></p>
<p>如染此症，靜心勿急，每晨用白湯下二錢，最屬平正王道，自有神功。切勿自誤，日後生育，並無遺毒。</p>
<p>金銀花（四兩）　元明粉（二兩）　公丁香（五錢）　硃砂（五錢）　川黃連（四兩）　蜈蚣（四十條）　蟬衣（二兩）　甲片（三兩）　巴豆（一百二十粒）</p>
<p>煉蜜為丸。</p>
<p><u>秘製白濁丸</u></p>
<p>專治赤白二濁，久患不愈，或成淋症有五，熱淋、氣淋、白淋、膏淋、石淋者，則五淋也。或有濕毒熱毒，積滯膀胱，以及小便不通，積患而成，及至花柳傳染而成。此丸專治一切五淋白濁，小便短少，尿管紅腫，痛如針刺；膀胱疝氣，白濁久流不止，及花柳傳染，疳疔初發等症。每服三錢，豆腐醬湯送下，立刻止痛，效驗如神。如宿娼後，預服此丸，永無染毒之恙，可作宿娼保寧之寶。倘若有毒，則隨小便去，無毒則利水，化濕熱，調元，無花柳後患之慮也。</p>
<p>海金砂　飛滑石　生甘草　生大黃　黃柏（各一兩）　琥珀（一錢）　雞子清（五枚）</p>
<p>搗為丸。</p>
<p><u>化毒丸</u></p>
<p>專治一切胎毒熱毒風毒，即口疳火煩渴燥等症。</p>
<p>川黃連　犀角　桔梗　玄參　薄荷　粉甘草（各二兩）　青黛　大黃（各二錢）　硃砂（三錢）</p>
<p>諸藥共研細末，白蜜為丸，每服二、三錢，燈心湯送下。</p>
<p><u>內消丸</u></p>
<p>專治一切乳食損傷脾胃，以致嘔吐泄瀉，瘧痢心腹疼痛，大便下血，寒熱不止，並治胸腹脹滿，噯氣作酸，噁心惡食，及不思食，傷食等症。</p>
<p>上沉香　炒白朮　柴胡　粉桔梗（各一兩）　制香附　花檳榔　厚朴　枳殼　陳皮（各四兩）　枳實　神麯　山楂　麥芽　白雷丸（各二兩）</p>
<p>細末清水泛丸。</p>
<p><u>承氣丸</u></p>
<p>專治一切傷食如神。</p>
<p>錦大黃（半斤）　粉甘草（二兩）</p>
<p>共研細末，黑糖丸如肥皂子大，每服一丸，燈心湯送下至四、五次，用陳米湯補正。此藥已服之後，恐脾胃受傷，即服下方。</p>
<p><u>橘餅挾脾丸</u></p>
<p>廣陳皮　焦白朮　淮山藥　芡實（各一兩）　焦山楂（五錢）</p>
<p>共研末，如餅樣，陳米湯送下。</p>
<p><u>女寶調經丸</u></p>
<p>專治調經活血。</p>
<p>全當歸（三兩二錢）　烏藥（二兩）　丹參（八兩）　香附（三兩二錢）　白芍（一兩五錢）　小胡麻（三兩）　廣皮（一兩二錢）　川芎（八錢）　益母膏（四兩）</p>
<p>用紅棗湯泛丸。</p>
<p><u>威喜丸</u></p>
<p>白茯苓（四兩）　用豬苓（二錢五分）</p>
<p>同於瓷器內煮二十餘沸曬乾，不用豬苓用黃蠟四兩，以茯苓為末，煉黃佔為丸，如彈子大，空心細嚼，滿口生津，徐徐嚥下，以小便清為度，忌米醋只吃糖醋。忌動氣，如赤帶加黃連山梔湯送下，青帶加防風山梔湯送下，白帶炙甘草生苡仁煎湯送下，黃帶兼服六君丸，黑帶兼服六味地黃丸，如兼腹中痛，加小茴香木香煎湯送下，如胞中冷痛，加薑桂煎湯送下，如臭腥加知柏湯送下，如年久加升麻龍骨牡蠣赤石脂煎湯送下。</p>
<p><u>保金丸</u></p>
<p>麻黃（去節，五斤）</p>
<p>一次韭菜汁，二次藕汁，三次地慄汁，四次川斛汁，五次梨汁，六次野黑豆汁，七次穀芽汁，八次甘蔗汁，九次柏葉汁，各一斤。每次蒸曬加川貝母八兩，茯苓八兩，冬朮八兩，姜半夏八兩，共研細末，加白蜜二斤化水泛丸。每服五分，重者八分。</p>
<p><u>神驗疔毒瀉丸</u></p>
<p>真雄黃（三錢）　生軍（三錢）　巴豆（三錢，去心皮，生用）</p>
<p>上藥共合一處，用石臼石杵，舂爛如泥，飛羅面陳醋打糊，同藥搗極細爛為丸，如鳳仙子大。病重者七丸，輕者五丸，單數為度，放在舌上，熱水送下，服後打噎則愈，如泄更好。俟瀉三四次，即以新汲井水飲之止。如病重不省人事，將二十三丸，用滾水和開，從口角邊灌入。服後將病人扶起端坐，藥入腹中，片刻即使甦醒。至輕者，可以不服。初服藥時，不吃涼物涼水，恐不泄瀉。忌雞魚蔥蒜牛馬大肉，並炙煿辛熱飲酒行房。至七日方如，不可疏忽，按疔瘡乃外科迅速之病，有朝發夕死，隨發隨死，有三五日而不死，至一月半月而終死者，其瘡最惡，其毒最烈，治之之方，雖多而應手奏效者實少。此藥獨有起死回生之功，真可謂之神授。諸疔皆治。但疔有數種，部位既殊，形色也別，其發甚微，人多疏忽，不能盡述。只以生黃豆，病人嚼之不腥即是，速服此藥，百無一失也。</p>
<p><u>純陽正氣丸</u></p>
<p>土藿香　生茅朮　青木香　生冬朮　官桂　廣陳皮　公丁香　姜半夏　雲茯苓（各五兩）</p>
<p>諸藥生曬為末，加八寶紅靈丹一兩五錢為衣，用花椒煎湯泛丸。</p>
<p><u>定吼丸</u></p>
<p>專治化痰定吼。（與前方略異）</p>
<p>麥冬　蔞皮　桑皮　炒萊菔子（各二兩）　姜皮　炒芥子　黑蘇子（各一兩五錢）　杏仁　象貝　豆豉（各三兩）　陳皮（一兩）　生薑（四兩，打汁和）</p>
<p>煉蜜為丸，諸藥共研末。</p>
<p><u>費氏代參丸</u></p>
<p>專治筋骨疼痛，中風。</p>
<p>全當歸　川膝　白朮　黨參　秦艽　青陳皮（各八兩）　雲苓　白芍　甘參（各一斤）　金毛脊（十兩八錢）　川續斷（一兩六錢）　獨活　香砂仁（各一兩二錢）</p>
<p>諸藥共研細末，清水泛丸。</p>
<p><u>胃氣痛丸煎方也可改分</u></p>
<p>黑沉香　金鈴子　炒於術　九香蟲（各一錢）　制香附　元胡索　法半夏（各一錢五分）　當歸身　炒白芍　炙雞金　吳茱萸　川鬱金（各二錢）　炙甘草　廣木香　陳佛手（各五分）　厚杜仲（三錢）　廣陳皮　春砂仁（各八分）　上安桂（四分）　香櫞皮（三錢）</p>
<p>加三年陳米煎湯代水。</p>
<p><u>清肝保腦丸</u></p>
<p>專治鼻淵腥涕，鼻塞不通，屢試屢效。</p>
<p>藿香葉研末，用豬膽汁泛丸，每服三錢。</p>
<p><u>腸紅丸</u></p>
<p>大紅哈唎坭不拘多少，燒灰存性，用砂糖熬膏，打和做丸。</p>
<p><u>阿膠丸</u></p>
<p>治便血，先便後血，神效。</p>
<p>黨參（二兩）　附子（一兩）　阿膠（二兩）　於術（一兩五錢）　甘草（一兩）　生地炭（二兩五錢）　地榆炭（一兩）　茯苓（二兩）</p>
<p>照方一料，用灶心土四兩，煎湯化膠。</p>
<p><u>臌脹丸</u></p>
<p>用黃牛糞不拘多少煅灰，再加六神麯，並用研末，水泛為丸。</p>
<p><u>經驗截瘧丸</u></p>
<p>專治瘧疾，不論久近輕重，陰瘧陽瘧，隔日三日及非時瘧等症，俱用此丸，奏功如神。凡瘧無論男女老少，於病發先一時，將此丸三十粒，開水送下，薑湯最妙。服後蓋被溫臥。再俟瘧發過後一時，又服三十粒。間日即分為三次服。清早開水送下十丸，午時進十丸，臨臥進十丸。症輕者，二三服即愈，重者，服三日痊愈。切不飲冷水冷茶，並忌食生冷之物。犯之藥餌無靈。瘧之為病，雖不至過傷性命，然不治則發無已時，久則惡邪內陷，正氣日虛，四肢羸瘦，精神疲倦，遂至不可救。但有此截瘧丸，不問多年近日，用之百發百中。瘧愈後體虛者，別服十全大補湯。</p>
<p>姜半夏（二錢）　黨參（三錢）　酒黃芩（一錢五分）　炙甘草（六分）　柴胡（一錢）　生薑　紅棗　金雞納霜過口（五釐）</p>
<p><u>醒消丸</u></p>
<p>乳香　沒藥（各一兩）　雄精（五錢）　麝香（一錢五分）</p>
<p>共研和，取黃米一兩搗爛，入末再搗為丸，如卜子大，曬乾忌烘。</p>
<p><u>臟連丸</u></p>
<p>黃連（半斤，研淨末）　公豬大腸（肥者一段，長一尺二寸，水洗淨）</p>
<p>上二味，將黃連末裝入大腸內，兩頭以線紮好，砂鍋內煮，酒二斤半，慢火熬之，以酒干為度，將藥腸取起，共搗如泥。如藥濃再曬一時許後，搗為丸，如梧桐大。每服七十丸，空心溫酒下。</p>
<p><u>珠珀滋陰淋濁丸</u></p>
<p>黃柏粉（一兩）　抱茯神　山藥粉　龜板膠（各五錢）　琥珀粉（四錢）　珍珠粉（一分）　豬骨髓（六條）</p>
<p>打爛為丸。</p>
<p><u>白金丸</u></p>
<p>專治痰積嘔惡。</p>
<p>白礬（三錢）　鬱金（三錢）</p>
<p>等分為末，皂角針煎湯，加白蜜少許為丸。</p>
<p><u>戒菸丸方</u></p>
<p>當歸　牛膝　白朮　黨參　茯苓　秦艽　青皮　陳皮　狗脊（各一錢）　川斷　獨活　砂仁（各五分）　白芍　甘草（各二錢）</p>
<p>黑棗為丸。</p>
<p><u>調經種子方</u></p>
<p>益母草（二斤）　川芎（一兩）　白芍（半斤）　柴胡（一兩）　當歸（半斤）　木香（五兩）</p>
<p>先用黃酒浸一宿，候乾共研細末，為丸三百三十粒，每粒一錢六分六釐。</p>

<h1>二、散部</h1>
<p><u>如意金黃散</u></p>
<p>專治癰疽發背，諸般疔毒，跌打損傷，濕痰流注，火毒大頭，諸腫膝瘡，火丹風熱，天泡肌膚赤腫，軋濕腳氣，婦女乳癰，小兒丹毒，一切諸般頑惡熱瘡，無不應效，誠瘡科之要藥也。</p>
<p>天南星　廣陳皮　茅蒼朮　生甘草　川枰樸（各二斤）　川黃柏　真薑黃　香白芷　西錦黃（各五斤）　天花粉（十斤）</p>
<p>諸藥共為細末，收瓷罐內，切勿泄氣。凡遇紅赤腫痛，發未成膿者，及夏令之時，俱用清茶同蜜調敷。如成膿者，用蔥汁同蜜調敷。如漫腫無頭，皮色不變者，及濕痰流毒，附骨癰疽，鶴膝風等症，俱用蔥酒調敷。如風熱所生，皮膚火熱色亮，遊走不定，蜜水調敷。天泡火丹，赤遊丹黃，水瘡漆瘡，惡血敗疽等症，俱用板藍根葉，搗汁調敷。以上諸種調法，辨寒熱溫涼之治法也。</p>
<p><u>金箍散</u></p>
<p>五倍子（四兩）　川草烏　天南星　生半夏　川黃柏　甘草　狼毒（各二兩）　香白芷（四兩）　炒黃陳小粉（一斤）</p>
<p>諸藥共研極細末，未破者，醋膏調敷。已破者，麻油調。</p>
<p><u>皮脂散</u></p>
<p>專治濕瘡浸淫，濕水癢痛。</p>
<p>提青黛　川黃柏（各二錢）　熟石膏（二兩）　煙膏（二兩四錢）</p>
<p>諸藥共研細末，用麻油調敷即解，毒丹等與煙膏用分。</p>
<p><u>玉露散</u></p>
<p>專治流火丹毒，瘡癰諸毒，紫赤腐爛，及一切諸毒之症。</p>
<p>美容葉不拘多少，研極細末，菜油調敷也。</p>
<p><u>鵝黃散</u></p>
<p>專治坐板瘡作痛。</p>
<p>綠豆粉（一兩）　掃盆　黃柏（各二兩）　松花粉　滑石（各五錢）</p>
<p>諸藥共研極細末，用麻油搽敷也。</p>
<p><u>黛鵝黃散</u></p>
<p>專治濕瘡作痛。</p>
<p>提青黛　川黃柏（各二錢）　熟石膏（二兩）　六一散（二兩四錢）</p>
<p>加六一散與鵝黃散等分。</p>
<p><u>沖和膏</u></p>
<p>二味敗毒散</p>
<p>專治風濕，諸瘡紅腫，癢痛疿瘰等症。</p>
<p><u>真雄黃生白礬</u></p>
<p>二味等分，細末搽之。</p>
<p><u>五美散</u></p>
<p>專治膿窠，疥瘡作癢者用之。</p>
<p>飛黃丹（二錢）　枯礬（三錢）　黃柏（三錢）　熟石膏（一兩）</p>
<p>諸藥共研極細末，用麻油調敷。</p>
<p><u>青蛤散</u></p>
<p>治風濕浸淫，鼻䘌瘡癢等症。</p>
<p>掃盆（五錢）　熟石膏（一兩）　青黛（三錢）　蛤粉（一兩）</p>
<p>共研極細末。</p>
<p><u>三黃二香散</u></p>
<p>治瘟毒漫腫疼痛，以此敷之。</p>
<p>錦大黃　蒲黃　雄黃　麝香　梅片</p>
<p>諸藥共研細末，以此敷之神效。</p>
<p><u>螵蛸散</u></p>
<p>治濕熱諸瘡，耳內出膿、耳癢等症。</p>
<p>海螵蛸　硃砂　梅片（各等分為末）</p>
<p><u>平安散</u></p>
<p>外用消腫軟堅，內服逐穢除疫。</p>
<p>老月石　硃砂　雄黃（各一兩）　火硝（三錢）　西黃　杜字香（各五分）　梅片（八分）</p>
<p>共研細末。</p>
<p><u>蟾酥散</u></p>
<p>專治癰疽初起，木腫作痛，皮色不紅者。</p>
<p>杜蟾酥（一錢）　蠍尾（四錢）　炙甲片　蜈蚣　藤黃　雄黃　乳沒藥　川草烏　三省銀硃（各二錢）　麝香（三分）</p>
<p>諸藥共研極細末。</p>
<p><u>陽消散</u></p>
<p>專治一切癰疽，紅腫焮痛。</p>
<p>乳沒藥　香白芷　直姜蟲　提青黛（各五分）　方八（一錢）　梅片（二分）　銀硃（二錢）　大黃（一錢）</p>
<p>諸藥共制極細末，用瓷瓶收好，切勿泄氣。</p>
<p><u>流氣散</u></p>
<p>專治氣滯胸腹，經絡中痛。</p>
<p>真老色廣木香，生曬為細末。</p>
<p><u>桂射散</u></p>
<p>專治一切陰症流注等症。</p>
<p>原麻黃（五錢）　生半夏（八錢）　細辛（五錢）　肉桂（一兩）　牙皂（三錢）　公丁香（一兩）　南星（八錢）　元寸（六分）　梅片（四兩）</p>
<p>諸藥共研極細末，用瓷瓶收好。</p>
<p><u>丁桂散</u></p>
<p>專治腹痛泄瀉，陰症流注等症。</p>
<p>公丁香（六錢）　頂瑤桂（四錢）</p>
<p>共研極細末。</p>
<p><u>軍營七釐散</u></p>
<p>專治跌打損傷，瘀血停滯，遍身疼痛，神效。戲班中皆用此藥。</p>
<p>頂血竭（一兩）　明乳香　沒藥　鮮紅花（各一錢五分）　粉兒茶（二錢四分）　硃砂（一錢二分）　麝香（二分）　梅片（三分）</p>
<p>諸藥共研細末，每服一分，陳酒送下，立刻止痛傷行。</p>
<p><u>四虎散</u></p>
<p>專治陰疽皮色不變，硬而不痛，項間痰核等症，神效也。</p>
<p>草烏　狼毒　生半夏　天南星（各二兩）</p>
<p>諸藥共研細末，不經火為佳。</p>
<p><u>腦砂散</u></p>
<p>專治耳挺鼻痔。如遇火勢赤痛症，不可輕用。</p>
<p>腦砂　乳香　沒藥　制甘石　腰黃（各五錢）　硃砂（二錢）　血竭（三錢）　蠍尾（三十條）　元寸（二錢）　梅片（一錢）　蜈蚣（十條）</p>
<p>諸藥共研為極細末，置瓷瓶收好。</p>
<p><u>海浮散</u></p>
<p>祛腐定痛，生肌收口。</p>
<p>制明乳　沒藥（等分）</p>
<p>研末。</p>
<p><u>呼膿散</u></p>
<p>專治祛腐定痛，提毒呼膿。</p>
<p>制明乳（五錢）　沒藥（五錢）　姜蠶（四錢）　雄黃（一錢五分）　西大黃（一兩）</p>
<p>諸藥共研細末為度。</p>
<p><u>桃花散</u></p>
<p>專治毒膿生肌。</p>
<p>煅石膏（二兩）　掃盆（一兩）　桃花（五錢）　梅片（五分）</p>
<p>諸藥共研極細末為度。</p>
<p><u>去腐散</u></p>
<p>專治潰爛紅熱腫痛，即用此散，能化腐定痛，生肌收口。</p>
<p>生石膏（一兩）　月石（五錢）　辰砂（三錢）　梅片（二分）</p>
<p>研細末。</p>
<p><u>珍珠生肌散</u></p>
<p>專治平口收工，疳症也可，神效無比。</p>
<p>珍珠（一錢）　朱竭（五分）　兒茶（五分）　熟石膏（一錢）　梅片（一分二釐）　陳年絲吐頭（燒存性，五分）　制甘石（一錢）</p>
<p>諸藥共研極細末。</p>
<p><u>啄合散</u></p>
<p>專治金瘡血出不止者，用之。</p>
<p>五倍子　紫降香</p>
<p>二味同炒，等分研末。</p>
<p><u>冰硼散</u></p>
<p>專治小兒鵝口白班，腫連咽喉，及一切喉癰乳鵝，喉風腫痛等症。</p>
<p>老月石（五錢）　西瓜霜（五錢）　硃砂（六分）　梅片（五分）</p>
<p>諸藥共研極細末。</p>
<p><u>柳花散</u></p>
<p>專治一切口碎，諸瘡等症。</p>
<p>真黃柏（一兩）　青黛（二錢）　梅片（二分）</p>
<p>諸藥共研極細末。</p>
<p><u>中白散</u></p>
<p>專治小兒口疳，走馬牙疳，及牙齦黑臭等症，其效如神。</p>
<p>煅中白（二兩）　兒茶（一兩）　黃柏（三錢）　青黛（三錢）　薄荷（二錢）　梅片（五分）</p>
<p>研極細末。</p>
<p><u>先天青龍散</u></p>
<p>專治咽喉初期，腫紅焮痛，並不腐爛。</p>
<p>燈草灰　粉兒茶　梅片　紫雪丹　薄荷　蒲黃（各五分）　風化硝（五錢）　硼砂（二錢）　青黛　人中白（各三錢）</p>
<p>研極細末。</p>
<p><u>後天青龍散</u></p>
<p>專治一切腫紅喉症腐爛，口疳糜爛。</p>
<p>即先天青龍方去薄荷、蒲黃，加珍珠、西黃各二分，研末。</p>
<p><u>貼喉異功散</u></p>
<p>專治喉症腫痛，用之可拔去火毒。</p>
<p>斑蝥蟲（去翅頭足，四錢）　真血竭（六分）　乳沒藥（各六分）　全蠍（六分）　元參（六分）　麝香（三分）　梅片（三分）</p>
<p><u>碧雲散</u></p>
<p>專治腦漏，常流濁涕。</p>
<p>撫川芎（五錢）　不食草（一兩）　細辛（二錢）　辛夷（二錢）　青黛（一錢）</p>
<p>諸藥研極細末，口中含涼水，用此藥嗅入鼻內，以涕淚為效，吹後吐去涼水。</p>
<p><u>錫類散</u></p>
<p>專治一切喉痧喉疳，口疳腐爛作痛，痰涎甚多，湯飲難下，此散吹入，能豁痰固肺，去腐生新。</p>
<p>象牙屑（四錢四分）　壁錢（三十個）　西黃（七釐）　梅片（五分）　青黛（七分）　人指甲（七分）　珍珠粉（四分）</p>
<p><u>牛黃散</u></p>
<p>治小兒百病，不能吮乳，咽喉腫痛。</p>
<p>川黃連　黃柏（各八分）　雄黃　青黛　火硝（各一分五釐）　牛黃　硃砂　硼砂　梅片（各二分）</p>
<p>諸藥共研細末，每日時用少許，敷入口內也。</p>
<p><u>加味珠黃散</u></p>
<p>治一切白腐咽喉等症。</p>
<p>珠粉（五分）　犀黃（三分）　琥珀（八分）　西瓜霜（一錢）</p>
<p>共研極細末。</p>
<p><u>疔發散</u></p>
<p>專治一切疔毒漫腫，麻木痛甚。</p>
<p>桑螵蛸（一百個炙成灰）　益母草（炙成性，等分）</p>
<p>每重一兩加麝香五分，按膏貼之。</p>
<p><u>消疔散</u></p>
<p>專治消疔，潰者禁用。</p>
<p>蒼耳蟲（三十條）　人指甲（一撮）　蜘蛛（五隻）　耳內屑（一撮）　姜蠶（一錢）　杜蟾酥（二錢）　倒掛灰塵（一把）</p>
<p>研細末。</p>
<p><u>雄酥散</u></p>
<p>專治療毒，消癰腫。</p>
<p>蟾酥（五分）　雄黃（一錢）　梅片（二分）　掃盆（一錢五分）</p>
<p>研細末。</p>
<p><u>珠峰治疔散</u></p>
<p>牆疔（四錢）　川貝（四錢）　銀硃（一錢五分）　梅片（五分）</p>
<p>先將牆疔烤煉曬乾，將藥各研細末，摻之。</p>
<p><u>珍珠下疳散</u></p>
<p>專治生肌收口，清熱化毒。</p>
<p>珍珠　黃連　黃柏　兒茶　五倍子　象牙屑　定粉　掃盆　沒藥　乳香（各一錢）</p>
<p>諸藥共研極細末為度。</p>
<p><u>月白珍珠散</u></p>
<p>專治清熱生肌。</p>
<p>青黛（五釐）　掃盆（一錢）　珍珠（一分）</p>
<p>研極細末為度。</p>
<p><u>珠珀如意散</u></p>
<p>專治下疳腫痛。</p>
<p>甘石（二錢五分）　赤石脂　西大黃　甘草　掃盆　白蠟（各二錢）　粉龍骨　石膏　沒藥　乳香　香白芷　青黛（各一錢五分）　鱉甲　地丁草炭　姜蠶　琥珀（各三錢）　赤小豆（四錢）</p>
<p>諸藥共研細末，用藥一兩，加西黃六釐，梅片一分，麝香五釐，將瓷瓶貯好，勿令泄氣。</p>
<p><u>銀青散</u></p>
<p>專治男子疽瘡疼癢，女子陰戶濕瘡浸濕，並治小兒痘疹潰爛，及痘後餘毒不清，頭髮泡瘰，及玉莖梅瘡腐爛等症，用此神效也。</p>
<p>白螺絲尖（取牆上者佳，要火煅，一兩）　寒水石（另研細末，二錢）　橄欖核（煅存性，二錢）　梅片（臨時用，每藥兩錢，加片一分）</p>
<p>研勻以瓷瓶收好，勿令泄氣，用麻油調搽。</p>
<p><u>鳳衣散</u></p>
<p>專治下疳之要藥。</p>
<p>飛龍丹　鳳凰衣（各一錢）　輕粉（四分）　梅片（一分）</p>
<p>諸藥和勻，以瓷瓶收好，勿可泄氣。</p>
<p><u>拾寶化毒散</u></p>
<p>專治下疳腐爛，消腫提毒，兼能收功。</p>
<p>蚌殼粉（一錢）　琥珀屑（五分）　雄精（五分）　飛硃砂（三分）　月華丹（五分）　人中黃（一錢）　人中白（一錢）　海浮散（五分）　西黃（二分）　珠粉（一分）　冰片（一分）</p>
<p>各藥研細末，和勻用麻油調或干搽之。</p>
<p><u>茵陳散</u></p>
<p>綿茵陳　連翹　半夏　荊芥　麻黃　嫩射干　丹皮　黃芩　羌活　獨活　姜蠶　薄荷　升麻　大黃（各五錢）　細辛（一兩）　牽牛（二兩）</p>
<p>諸藥共研為粗末，服用三錢。煎湯代水亦可。</p>
<p><u>代針散</u></p>
<p>巴豆（去殼，一錢）　辰砂（五分）　明雄黃（五分）　麝香（三釐）</p>
<p>每有膿不出頭者，一粒放在膏藥上，對毒頂軟處貼之，自破頭出膿也。</p>
<p><u>拔針散</u></p>
<p>吸鐵石（研，三錢）　巴豆霜（去油，一錢）　蓖麻子（去油，五錢）　蜣螂蟲（六個）　麝香（二分）</p>
<p>諸藥各研細末，摻膏上貼之，針即提出。</p>
<p><u>玉容散</u></p>
<p>專治一切面部風濕遊風，粉刺白屑等症。</p>
<p>綠豆粉　飛滑石　香白芷　白附子（各二錢）　梅片（一錢）</p>
<p>洗面後，用蜜水搽之甚效。</p>
<p><u>代刀散</u></p>
<p>治穿一切外症。</p>
<p>皂角刺　炒黃耆（各一兩）　生草　乳香（各五錢）</p>
<p>諸藥研末，陳酒送下，服三錢。</p>
<p><u>螵蛸散</u></p>
<p>專治濕熱諸瘡，耳內出膿耳癢，此散吹入，立見效驗。</p>
<p>海螵蛸（三兩）　飛硃砂　梅片（各等分為末）</p>
<p>或香油調敷耳外，亦可愈也。</p>
<p>麻藥方（一名孫武散）</p>
<p>蓽茇　肉桂　胡椒　生半夏　乳香　沒藥　生南星（各一錢）　三七　生川烏　蟾酥　生草烏　風　茄子（各二錢）　丁香（八分）　花蕊石（二錢五分）　麝香（少許）</p>
<p>諸藥共為細末，入瓷瓶內備用。</p>
<p><u>玉容散</u></p>
<p>白牽牛　糰粉　白蘞　荊芥　白細辛　甘松　白鴿糞　獨活　白芨　白蓮心　白芷　白朮　白殭蠶　白茯苓　白附子　腐條白　白扁豆　白丁香（各一錢）　羌活　防風　熟石膏（各五分）</p>
<p>上藥共研極細末。</p>
<p><u>樟木散</u></p>
<p>用樟木炭研成細末，用粥飲湯調敷。</p>
<p>專治流火，或炎筋火等症，此方屢效。</p>
<p><u>移毒散</u></p>
<p>凡毒發於骨節間，此藥能移之。或上或下，使無殘疾之患。</p>
<p>白及片（一兩六錢）　紫花地丁（八錢）　錦大黃（二錢）　烏雞骨（煅存性，一錢）　牙皂（八分）　硃砂（一錢）　雄黃（一錢）　輕粉（一錢）　五倍子（煅黃，二錢）</p>
<p>諸藥共為細末，以醋調敷，毒之上截即移之下半截，屢試屢驗，仍照虛實人內服。</p>
<p><u>顛倒散</u></p>
<p>專治酒皶肺風刺。</p>
<p>大黃　腐制硫黃</p>
<p>共等分研細末。</p>
<p><u>吹耳散</u></p>
<p>新會皮炭（二兩）　煙脂炭（四錢）　海螵蛸（一兩）　梅片（一錢）　寸香（二分）</p>
<p>共為細末。</p>
<p><u>消腫散</u></p>
<p>用赤豆一味研末。</p>
<p>牙痛立止散</p>
<p>蓽茇（一錢）　川椒（五分）　石膏（五分）　青鹽（四分）</p>
<p>上藥共研為細末，點於痛處，立能止痛。</p>
<p><u>時珍玉容散</u></p>
<p>治面上雀斑，其色或黃或黑，碎點無數，或用好玉時時擦之自退。</p>
<p>豬牙皂角　紫背浮萍　青梅　櫻桃（各四兩）　鷹屎白（三錢，或鴿屎白）</p>
<p>共研末，早晚手心注水調擦效。</p>
<p>又紫背浮萍、漢防己，煎水洗，或研末搽效。</p>
<p><u>加味珠黃散</u></p>
<p>主治喉症。</p>
<p>珠粉（五分）　犀黃（三分）　琥珀（八分）　西瓜霜（一錢）</p>
<p>研極細末。</p>

<h1>三、膏方</h1>
<p><u>陽和膏</u></p>
<p>此膏專治痰毒痰核，瘰癧乳疽，陰毒流注，以及一切瘡瘍之色不紅活高腫者。</p>
<p>鮮紫蘇　鮮牛蒡　鮮蓖麻　鮮薄荷　鮮蒼耳　鮮青蔥（各八兩）　鮮白鳳仙花（四兩）</p>
<p>以上七味，洗淨陰乾，用麻油十斤浸七日，煎枯去渣，待冷再入後藥。</p>
<p>荊芥穗　廣木香　生半夏　香官桂　杭青皮　青防風　連翹殼　生川軍　廣陳皮　明天麻　水紅花子　天南星　臺烏藥　白芥子　生甲片　川附子　蒲公英　川桂枝　青木香　全當歸　炙姜蠶　草烏　生白蘞　撫川芎</p>
<p>以上各藥各一兩，入前油浸三日，煎枯去渣，濾清，無淨油一斤入炒廣丹七兩，文火收膏，後入細料於微溫時，入上肉桂三兩，乳香沒藥各一兩，丁香油四兩，蘇和油四兩，芸香琥珀各二兩，當門子三錢，共研極細末，緩緩攪入和透，置瓷器內，用時開水燉烊攤膏，修合宜於夏令，必須熬老，如太老，再加蘇和油不拘多少攪勻。</p>
<p><u>三妙膏</u></p>
<p>專治一切癰疽大症，未成者即消，已成者即潰，已潰者即斂，故名三妙，真神方也。</p>
<p>紫荊皮　川黃柏　川獨活　川白芷　京赤芍　石菖蒲　桃仁泥　西大黃　淡黃芩　川上黃連　千金子　全當歸　杜紅花　川桂心　荊芥穗　青防風　川羌活　北細辛　生半夏　淨麻黃　臺烏藥　象貝母　天花粉　牛蒡子　上黃耆　金銀花　香牙皂　真姜蠶　生甲片　軟柴胡　刺蝟皮　白附子　生鱉甲　嫩苦參　大全蠍　川草烏　巴豆肉　明天麻　高良薑　蓖麻子　懷牛膝　生甘草　海風藤　白及片　連翹殼　血餘炭　白蘞肉　大龍衣（一條）　大蜈蚣（三條）　紅蘇木</p>
<p>以上藥各五錢，垂柳桑槐樹枝二十一寸，用麻油二百兩，將前藥浸七日，煎枯去渣，入鍋內熬化至滴水成珠，大約淨油一百六十兩為準離內火，入廣丹八十兩，以手持木棍攪之，須要得法，再入後藥。</p>
<p>乳香　沒藥（各八錢）　血竭　雄上黃　木香　沉香　檀香　楓香　降香　丁香　藿香（各五錢）　麝香　珠粉　大梅（各一錢）</p>
<p>再入樟冰五錢，將膏納入清水浸之，拔去火毒為妙。</p>
<p><u>硇砂膏</u></p>
<p>專治一切無名腫毒，有名大毒，未成者消，已成者潰，已潰者斂，拔毒收口，洵良方也。按此膏疔毒不可用，恐其走黃，宜審辨也。</p>
<p>當歸　生地　白芷　銀花　川烏　草烏（各二兩）　防風　荊芥　赤芍　羌活　獨活　姜蠶　蟬蛻　夕利　靈仙　首烏　蘚皮　川夕　山甲　蛇蛻　甘草　黃柏　官桂（各一兩）　乳香　沒藥　童子發（鹽水洗，各四兩）　山枝（六百個）　甲片（六兩）</p>
<p>將麻油十斤，用槐杏桑柳桃嫩枝各三尺，併入前藥內，候微溫入後細料為藥。</p>
<p>硇砂（六錢）　母丁香　藤黃　蟾酥　乳香　沒藥　輕粉　膽礬　姜蠶　方八（各三錢）　冰片（六分）　銀硃（二錢）　五倍子（五錢）　元寸（一錢）　白及　南星　樟冰　銅綠　薑黃　青黛　大黃　甲片（各四錢）</p>
<p>上藥共研極細末和透，候膏微溫不住手攪勻，臨用時開水燉化，忌火烘，因硇砂見火則力薄故也。</p>
<p>硇砂膏方粗料，即高黏除消散，敗毒膏方見後。</p>
<p>如老重加蘇合油，如嫩減之。</p>
<p>硇砂膏歸方細料，沉香二兩，兒茶二兩，血竭三兩，梅片五錢，琥珀一兩，象皮一兩，硇砂三兩，麝香五錢，現不用此方。</p>
<p><u>大紅膏</u></p>
<p>專治一切癰疽瘡癤，未成能消，已成能潰，已潰能拔毒提膿。</p>
<p>蓖麻肉（五兩）　嫩松香（十兩）</p>
<p>先將蓖麻肉打爛，再入後藥。</p>
<p>杏仁霜（二兩）　銀硃（二兩）　廣丹（二兩）　掃盆（即輕粉，二兩）　茶油（夏用一兩五錢，冬用二兩）</p>
<p>各藥搗透，干槌成膏，不可太老。</p>
<p><u>化毒膏</u></p>
<p>專治一切無名腫毒，癰疽大症，及久年瘰癧，楊梅結毒等症，其效如神。</p>
<p>黃柏　紅花　乳香　沒藥　赤芍（各三兩）　當歸　白芷　生地（各二兩四錢）　蓖麻（一兩二錢）　馬前子（四十個）　蛇蛻（四條）　蟬蛻（八錢）　全蠍（九十隻）　蜈蚣（六十二條）　男子發（六團）</p>
<p>用真麻油九斤，將前藥入鍋內浸七日，煎枯去渣，入鉛粉炒黃一百零八兩收膏，用冷水浸三日後，以拔去火毒，用時開水燉烊攤膏。</p>
<p><u>太乙膏</u></p>
<p>專治一切癰疽，不論已潰未潰者，內摻末藥，外用此膏蓋之。</p>
<p>真麻油　青桐油（各一斤）　血餘（一兩）</p>
<p>先將麻油入鍋煎數沸，再入青桐油、血餘烊化，下淨廣丹十二兩。</p>
<p>以柳木棍不住手攪之，文火收膏，須老嫩得中，置冷水內拔去火毒，瓷器內收貯，用時開水燉烊攤之。</p>
<p><u>玉紅膏</u></p>
<p>專治一切癰疽潰爛，腐不去新不生，此藥擦之，新肉即生，瘡口自斂，此外症藥中之神方也。</p>
<p>全當歸（二兩）　白芷（五錢）　甘草（二錢）　紫草（二錢）</p>
<p>用麻油一斤，入前藥浸三日，煎枯去渣，下清水白佔二兩烊化，再入血竭、掃盆、細粉各四錢，攪透置瓷器收貯。</p>
<p><u>黃連膏</u></p>
<p>專治一切疔瘡瘍毒，破潰焮痛，及火燙等症，用之神效也。</p>
<p>川黃連（三錢）　當歸尾（五錢）　細生地（一兩）　黃柏（三錢）　薑黃（三錢）</p>
<p>用香油十二兩，將前藥煎枯去渣濾清，下淨黃佔四兩烊化，收成膏藥，攤用有神效。</p>
<p><u>摩風膏</u></p>
<p>專治一切肌膚燥裂，遊風白屑等症。此膏能驅風潤肌。</p>
<p>麻油　菜油（各五兩）　麻黃（四錢）　羌活（八錢）　防風（三錢）　白及（三錢）　升麻（三錢）　當歸（三錢）</p>
<p>煎枯去渣，下淨黃佔十兩烊化，傾入盆中候冷。用之神效也。</p>
<p><u>烏雲膏</u></p>
<p>專治一切濕瘡浸濕，脂水癢痛，兼治胎臉風。</p>
<p>真硫黃（二兩）　嫩松香（二兩）</p>
<p>上藥研末，用青布一塊，將藥鋪上，卷緊紮好，入香油內浸一宿取起，用火燃著，滴下之油，以置瓷器內收貯，浸冷水拔火氣，待後用之，搽擦神效。</p>
<p><u>消核膏</u></p>
<p>專治皮裡膜外之痰核，此膏代敷，甚有功效。</p>
<p>制甘遂（二兩）　紅大戟（二兩）　白芥子（八錢）　麻黃（四錢）　生南星（一兩六錢）　姜半夏（一兩六錢）　炙姜蠶（一兩六錢）　藤黃（一兩六錢）　朴硝（一兩六錢）</p>
<p>用真油一斤，先投甘遂、南星、半夏，煎枯撈出，次下姜蠶、大戟、白芥子、藤黃，逐次熬枯，前後撈出，再下朴硝，熬至不爆，用細絹將油濾清，再下鍋熬滾，緩緩投入炒黃丹，隨熬隨攪，下丹之多少，以膏紙攤之，老嫩得中為度。夏宜稍老，冬宜稍嫩，膏成趁熱傾入冷水中，抽拔數次，以去火毒，即可攤貼，宜後勿薄。此膏妙在不用毒烈之藥，好肉貼之，也無損害。</p>
<p><u>凍瘡膏</u></p>
<p>治冬令嚴寒，皮膚燥裂，死血凍瘡等症。</p>
<p>真麻油（三兩）　嫩松香（一錢）　入黃占（一兩二錢）</p>
<p>烊化攪勻。</p>
<p><u>醋膏</u></p>
<p>治一切癰疽大症，以此膏調敷，藥收束腳根散漫。</p>
<p>用鎮江醋不拘多少，熬至三分之一為度。</p>
<p><u>消疔斧墨膏</u></p>
<p>能消腫止痛，走黃亦可回生。</p>
<p>松香（一斤）</p>
<p>以桑柴灰煎汁澄清，入松香煮燥取出，納冷水中少待一二時，再入灰汁內煮，以色如白玉為度，再以白蠟二兩，黃蠟十兩，刮粗片，明乳香二兩，沒藥三兩，銅綠五兩，各研極細末，無聲為度。再加蟾酥一兩五錢，百草霜五兩。先將錫底鍋刮淨，專燒芳柴，取煙煤。如有別柴，則不靈矣。亦研極細末，節節無聲為度。先擇吉日，忌婦人雞犬孝服人見聞。須淨室焚香，前後須用桑柴煎真麻油一斤，滾下松香，待少滾下白蠟、黃蠟，二下乳香、沒藥，三下銅綠、百草霜。皆須候後時下，待冷捻成調，做丸如桂元大。入瓷瓶清水浸。要用之時，取出一丸，放熱茶壺上烘軟忌火。看腫處大小捻成膏藥，貼之痛癢即止，腫勢即消，須忌葷腥辛辣，沸湯生冷，發物麵食，豆腐茄子，黃並鹼水，忌水洗，暴怒房事。凡生疔毒，其勢甚凶，動即致命，切勿輕忽。宜服菊花湯，或菊花汁草節等煎湯，時代飲亦可。或有誤服豬肉走黃，急搗芭蕉根汁，或塗或服，宜酌服。誤食羊肉，急煎栗子殼湯。如倉卒外治無藥，可用山藥白糖搗塗。誠濟世之良方也。切勿河漢視之。</p>
<p><u>萬應傷膏</u></p>
<p>生地　茅朮　枳殼　五加皮　莪朮　桃仁　山柰　當歸　川烏　陳廣皮　烏藥　山稜　首烏　草烏　柴胡　防風　劉寄奴　香牙皂　川芎　官桂　羌活　靈仙　京赤芍　南星　香附　海風藤　荊芥　香白芷　藁本　川斷　良薑　獨活　麻黃　甘松　連翹殼　川軍</p>
<p>以上藥各三錢，再用真麻油四斤，入藥煎枯去渣，下淨血餘二兩熔化，再下桃丹三十兩，熬成膏，再下細料藥勻。用細料方錄下。</p>
<p>安南桂（一錢）　麝香（一錢）　附子片（二錢）　梅片（三錢）　洋樟（三錢）　木香（二錢）　大茴香（三錢）　明乳香（三錢）　沒藥（三錢）　阿魏（三錢）　細辛（三錢）</p>
<p>共研極細末，和入膏內挑之，甚效也。</p>
<p><u>高黏除秘受消散敗毒萬應靈膏</u></p>
<p>當歸　生地　白芷　銀花　川烏　草烏（各二兩）　防風　荊芥　赤芍　羌活　獨活　姜蠶　蟬蛻　蒺藜　靈仙　首烏　蘇皮　川膝　山甲　蛇蛻　甘草　黃柏　官桂（各一兩）　乳香　沒藥（各四錢）　陀僧（後入，四兩）</p>
<p>用廣丹一斤八兩，上藥研細末，用真麻油六斤，將藥共入油浸，春五，夏三，秋七，冬十日。數足以藥投入鍋內，慢火熬枯去渣，淨油投入鍋內，熬至滴水成珠，初下陀僧末熬沸，將鍋揣於冷爐上，片時再投。其丹不烘不炒，下為冷丹，或烘炒為熱丹。但下冷丹，極要仔細。熱丹好收，此丹投入，不住手攪，候冷收成膏時，再下明乳香、沒藥攪勻，即成膏矣。</p>
<p><u>止瀉暖臍膏</u></p>
<p>專治一切暑熱暑寒邪，痧疫、腹痛、泄瀉、絞腹吊腳等痧，攤萬應靈膏對臍上貼之，立刻止痛止瀉神效。</p>
<p>公丁香（三錢）　制硫黃（三錢）　清白川（八錢）　綠豆粉（一兩五錢）</p>
<p>共研極細末。</p>
<p><u>菊葉膏</u></p>
<p>此膏專治一切疔瘡熱毒，大小外症等，用之神效。</p>
<p>青防風　杜紅花　羌活　獨活（各五錢）　川黃柏　淡黃芩　全當歸（各一兩）　血餘　木鱉子　金銀花　生川軍　京赤芍（各二兩）　生甘草　皂角針（各三兩）　鮮竹葉（四錢）　姜蠶（二錢）</p>
<p>用真麻油五斤，將藥浸三日，煎枯去渣，用廣丹收膏，再加五靈脂、乳香、沒藥各三錢，諸藥共為細末，成膏時攪勻，攤用神效。</p>
<p><u>回春至寶膏</u></p>
<p>專治一切無名腫毒，有名大毒，忌同硇砂膏。</p>
<p>真麻油四斤，先將桑柳杏桃嫩枝各二尺，煎枯去渣，再入穿山甲六錢，生山梔八十四，淨血餘一兩二錢，煎枯濾清，熬至滴水成珠，然用黃丹收膏。再加血竭二錢，兒茶二錢，硇砂三錢，炙象皮六錢。諸藥共為細末，攪勻。臨用陽水燉化，不宜見火。照方宜加梅片一錢，元寸一錢，更靈。</p>
<p>又方加木鱉子五錢，生川軍二兩，全當歸五錢，青防風五錢，直姜蟲二兩，赤芍五錢同煎。</p>
<p><u>春和膏</u></p>
<p>專治一切陰寒痰毒乳結等症，功同痰塊膏。</p>
<p>白芷　木通　木鱉子　當歸　青防風　廣木香　荊芥穗　附子　山甲　直姜蟲　白芥子　細青皮　廣橘核（各二兩）　川草烏（各一兩）　南星　半夏　生川軍（各三錢）　香青蔥（四兩）</p>
<p>切碎搗汁候潮。用真麻油十二斤浸三日，煎枯去渣，黃丹收膏，熔化入松香三錢，蘇和油六兩攪勻，隔水燉化攤膏。</p>
<p><u>銀油膏</u></p>
<p>專治爛腿見骨神效。</p>
<p>生豬油去筋膜搗極爛，加銀硃少許，以色紅為度。用油紙夾之，戳細眼孔綁腿立愈。</p>
<p><u>馬蘭膏</u></p>
<p>專治小兒新生月內外，兩足紅赤，遊風流火，自足至小腹，手至胸膛，多致不救，用此法救之，百不失一。並治大人兩腿赤腫流火，或濕熱流伏於經絡，而皮上不紅腫，其痛異常，病者只叫腿熱，他人按之極冷。此為伏氣之病，急用此法，搽之立愈。</p>
<p>石馬蘭頭洗去泥搗爛後，即以雞毛蘸汁搽之。燥則再換。頸項肋縫中潰爛，以此汁調六一散，搽之即愈。屢試屢驗。此汁並治口疳，以此過口，熱則吐出再換，神效也。</p>
<p><u>夾紙膏</u></p>
<p>專治一切爛腿臁瘡，腐爛臭穢或癢或痛，久而不愈者，以此膏貼之，即化毒生肌，應效如神。用時將膏以針刺空洞扎之，一日一換。</p>
<p>明乳香（六錢）　沒藥（六錢）　白洋樟（四錢）　制甘石　全當歸（一兩）　淨輕粉（五錢）　老白占（六兩）　黃占（五兩）　板豬油（四斤）</p>
<p>諸藥共為細末，將豬油兩占同烊化後，和入前藥末攪勻，用白皮紙拖之候陰乾，此膏試效如神，良方也。</p>
<p><u>結毒靈膏</u></p>
<p>治楊梅結毒等症。</p>
<p>蔥頭（七個）</p>
<p>用麻油四兩，煎枯去渣，入廣丹一兩攪勻，又入黃白占各五錢，熔化毒，入乳沒藥各二錢，輕粉三錢，犀黃一分，珠粉二分，攪成膏。</p>
<p><u>三香膏</u></p>
<p>此膏專治爛腿。</p>
<p>輕粉　乳香　松香（各三錢）</p>
<p>菜油一斤，用黃白占約油多少，作法與夾紙同。</p>
<p><u>痘毒膏</u></p>
<p>此膏專治小兒痘後結毒，破潰腐爛，及牛痘餘毒，並大人因染痘漿，觸發毒氣，結毒破潰，皆以此膏貼之神效。</p>
<p>紅花（四兩）　紫草（一兩）　豬油（一斤）</p>
<p>煎枯去渣，加入黃白占各一兩。</p>
<p><u>熬頭提毒散</u></p>
<p>冰片（二分）　麝香（一分）　腰黃　雄黃（各一錢）　辰砂　蟾酥（各七分）　紅升（七分）　蓖麻子肉（三錢）　巴豆肉（去油）</p>
<p>先將蓖麻去皮打如魚凍水，入諸藥打成膏，瓷罐收貯，勿令泄氣。</p>
<p><u>凍瘡膏</u>（與前方異）</p>
<p>粉甘草　粉甘遂　全當歸　松香　鹿骨膠（各二兩，或虎骨亦可）</p>
<p>用陳酒烊化，與羊脂油全搗為度，攤油紙上貼之，數日愈。</p>
<p><u>沖和膏</u></p>
<p>專治癰疽發背，陰陽不和，冷熱瘀凝者，用此膏敷之，能行氣疏風，活血定痛，散瘀消腫，祛冷軟堅，誠良藥。屢試屢效如神。</p>
<p>紫荊皮（五兩）　香獨活（三兩）　香白芷（三兩）　赤芍（二兩）　石菖蒲（一兩五錢）</p>
<p><u>鐵桶膏</u></p>
<p>專治一切癰疽大毒，未潰已潰，根腳走散，瘡不收束者用之。</p>
<p>銅綠（五錢）　膽礬（三錢）　明礬（四錢）　白及（五錢）　掃盆（二錢）　玉金（二錢）　五倍子（一兩）　元寸（三分）</p>
<p>諸藥共研極細末，用醋調敷。</p>
<p>萬應膏滋藥補身，神。曾戒菸尤效</p>
<p>蜜炙粟殼（一斤八兩）　潞黨參（二斤）　川杜仲（九兩）　砂仁末（三兩）　炮姜（五兩）　陳皮（四兩）　肉桂（一兩）　焦楂肉（六兩）　炙甘草（一兩）　苦杏仁（五兩）　麥冬（一兩）　茯苓（七兩）　當歸（四兩）　制香附（二兩）　蜂蜜（七兩）</p>
<p><u>神應膏</u></p>
<p>宋褚防禦治理宗久漏瘡諸方不效，獨此膏愈之，如腸毒胃毒，服之神效。</p>
<p>當歸（一兩一錢）　赤芍　大黃（各一兩五錢）　香白芷　官桂（各一兩）　元參（一兩三錢）　川續斷（一兩二錢）　莪朮（一兩）　生地黃（一兩二錢）</p>
<p>上九味細料，用真香油二斤浸，春五日，夏三日，秋七日，冬十日。入鍋內以文武火煎，令黑色濾去渣。如熱天用黃丹二十兩，冷月十五兩，旋旋下丹，不住手攪，試水中況為度，不可令雞犬婦人見，以膏送入孔內，外以膏攤貼之。</p>
<p><u>戒菸驗方</u></p>
<p>花柴梗（二斤四兩）　食鹽（一兩）　冬蟲夏草（四兩）　菸灰（一兩）</p>
<p>水一鉛桶，先煎花梗四小時，濾清再煎蟲草二小時，入鹽半小時，再入灰。</p>

<h1>四、丹方</h1>
<p><u>解毒丹</u></p>
<p>專治濕瘡癢痛紅腫，詢良方也。</p>
<p>提青黛　川黃柏（各二錢）　熟石膏（二兩）</p>
<p>諸藥共研極細末，用麻油調敷。</p>
<p><u>八將丹</u></p>
<p>專治一切癰疽大毒，未潰即潰，初潰未曾得膿者，亦能提毒拔膿。潰者禁用。</p>
<p>五倍子（八錢）　炙甲片（三錢）　腰黃（四錢）　炙蠍尾（十支）　炙蜈蚣（十條）　蟬蛻（二錢）　梅片（四分）　元寸香（三分）</p>
<p><u>拾將丹</u></p>
<p>即八將丹料中加半夏、南星各四錢，製法同上。</p>
<p><u>九黃丹</u></p>
<p>專治提膿拔毒，去瘀化腐。</p>
<p>明乳香（二錢）　明沒藥（二錢）　川貝母（二錢）　明雄黃（二錢）　升丹（三錢）　辰砂（一錢）　月石（二錢）　梅片（三分）　熟石膏（六錢）</p>
<p><u>九寶丹</u></p>
<p>專治呼膿生肌，定痛收口。</p>
<p>煅帶子蜂房（三錢）　大黃（三錢）　煅白螺絲殼（二錢）　梅片（二分）　血竭（二錢）　辰砂（二錢）　乳香（二錢）　沒藥（二錢）　兒茶（一錢）</p>
<p>諸藥研細末備用。</p>
<p><u>九仙丹</u></p>
<p>專治拔毒收濕，生肌收口。</p>
<p>黃升藥（一錢）　熟石膏（九錢）</p>
<p>研細末，用瓷瓶收貯。</p>
<p><u>補天丹</u></p>
<p>功專提毒長肉，惟不要早用。</p>
<p>麥飯石（四兩，醋煅七次）　煅鹿角（存性，四兩）　白蘞（二兩）</p>
<p>諸藥共研細末為度。</p>
<p><u>二寶丹</u></p>
<p>專治提膿生肌，卷黏於患處。</p>
<p>紅升藥　熟石膏（等分）</p>
<p>細末為度。</p>
<p><u>平努丹</u></p>
<p>治瘡癰有胬肉突出者。</p>
<p>烏梅肉（一錢五分，煅存性）　月石（一錢五分）　輕粉（五分）　梅片（三分）</p>
<p>諸藥共研細末。</p>
<p><u>八寶生肌丹</u></p>
<p>專治腐脫肌生，不收斂者。</p>
<p>熟石膏（一兩）　赤石脂（一兩）　輕粉（一兩）　黃丹（三錢）　龍骨（三錢）　血竭（三錢）　乳香（三錢）　沒藥（三錢）</p>
<p>諸藥共研極細末。</p>
<p><u>止血丹</u></p>
<p>專治牙出血不止者，用之神效。</p>
<p>蒲黃炭研極細末。</p>
<p><u>牛黃口疳丹</u></p>
<p>專治口疳、舌疳、喉疳、牙疳岩等症。</p>
<p>牛黃　梅片　硃砂　硼砂（各一錢）　槍硝（一錢五分）　雄黃　青黛　黃連　黃柏（各八錢）</p>
<p>共為細末。</p>
<p><u>金棗丹</u></p>
<p>專治走馬牙疳，穿腮落齒，臭穢不堪者。</p>
<p>紅棗（一枚，去核納白信如黃豆大一粒，煅存性）</p>
<p>研極細末，加梅片少許，搽之甚效也。</p>
<p><u>雄棗丹</u></p>
<p>專治走馬牙疳腐爛，臭穢滲血者，用之。</p>
<p>紅棗（一枚，去核納雄黃豆大一粒，煅存性）</p>
<p>研極細末，加梅片少許。</p>
<p><u>咽喉奪命丹</u></p>
<p>珍珠粉（六分）　金果欖（二錢）　真京墨（六分）　川鬱金（二錢）　琥珀（六分）　甜葶藶（二錢）　真金箔（六分）　血竭（二錢）　硃砂（二錢）　麝香（三分）　煅中白（五分）　天竺黃（二錢）　頂沉香（二錢）　西黃（六分）　苦甘草（三錢）　人指甲（六分）　川貝母（三錢）　真熊膽（六分）　梅片（五分）　玳瑁（七分）</p>
<p>上藥二十味，研細末，用麻油、鉤藤、薄荷、新會皮各一兩，煎膠，用元米飯一撮，打和搗勻為丸，重一錢，硃砂為衣，用蠟殼收置。極重喉症含之立愈。誠喉科之寶也。</p>
<p><u>立馬回疔丹</u></p>
<p>專治疔瘡初期，頂不高突，根腳不收者，用之。</p>
<p>硃砂（二錢）　雄黃（二錢）　蟾酥（一錢）　腦砂（一錢）　白丁香（一錢）　輕粉（一錢）　麝香（五分）　蜈蚣（一條）　乳香（六分）　白信（五分）</p>
<p>諸藥共研細末，糊條如藥線粗，疔瘡用針挑破，以此丹一粒，插入孔中，太乙膏蓋之，拔去膿血疔根也。</p>
<p><u>八寶月華丹</u></p>
<p>專治眼科要藥，亦可治痔瘡濕熱，乳癬亦可敷摻。</p>
<p>浮水甘石（一兩）</p>
<p>羌活、荊芥、防風、細辛、薄荷、麻黃、白芷、赤芍、大黃、黃芩、黃柏、當歸、木賊草、龍膽草、密蒙花、蟬衣、蔓荊子、甘菊花各等分一錢，共煎汁。將甘石煅透，傾入令乾，再用川連五分，煎汁煅於前法，研極細末，加硃砂三錢，每一錢加梅片一分。</p>
<p><u>黑靈丹</u></p>
<p>專治清熱消腫。</p>
<p>橄欖核灰（煅存性，一兩）　加片（二分）</p>
<p>研細末。</p>
<p><u>三仙丹</u></p>
<p>升藥（三分）　橄欖核灰（三分）　梅片（一分）</p>
<p>研細末。</p>
<p><u>八寶化毒丹</u></p>
<p>專治下疳結毒，腐爛等症，並能生肌收口。</p>
<p>西黃（五分）　珍珠（一錢）　甘中黃（三錢）　琥珀（二錢）　硃砂（三錢）　中白（三錢）　滴乳石（五錢）　梅片（五片）</p>
<p>研細末，摻之神效。亦可內服，土茯苓湯送下最佳也。</p>
<p><u>五寶丹</u></p>
<p>專治楊梅結毒，筋骨疼，口臭腐爛等症。可外摻敷，亦可內服，神效。</p>
<p>滴水石（三錢）　琥珀（二錢）　辰砂（二錢）　珍珠（五分）　梅片（二分）</p>
<p>諸藥共研極細末，加炒飛面五分。每服五分，土茯苓湯送下，屢試屢效。</p>
<p><u>保赤丹</u></p>
<p>專治肺風疾喘之症。</p>
<p>甘遂末（三錢）　硃砂（一錢）　熟石膏（三錢）</p>
<p>諸藥共研細末，和透，將開水一碗，用麻油滴在水面，以藥末分許滴麻油上，即成丸流下。成丸服一粒，開水送下。</p>
<p><u>普濟解痠丹</u></p>
<p>專治溫邪，溫熱、暑溫、濕溫、時疫，邪在氣分，發熱倦怠，胸悶腹脹，肢疫咽腫，斑疹身黃，頤腫口渴，溺赤便秘，吐瀉瘧痢，淋濁瘡瘍等症。但看病人舌苔淡白，或厚膩，或干黃，是暑熱，熱疫之邪，當在氣分，悉以此丹治之效。每服三錢，開水化服，日服兩次，或用代茶。</p>
<p>鮮生地（一兩八錢，搗汁）　板藍根（一兩）　天花粉（四錢）　金銀花（一兩六錢）　淡豆豉（八錢）　紅紫草（四錢）　糞清（一兩，即金汁）　京元參（七錢）　連翹（一兩）</p>
<p>諸藥共曬為末，切忌火炒，研細，以犀角、地黃汁、糞清，和搗泛丸，切勿加蜜。</p>
<p><u>保心丹</u></p>
<p>粒珍珠（一兩）　石蟹眼（一兩）　生蟹爪（三兩）　元珊瑚（一兩）　煅鹿角（二兩）　龍涎香（二錢，後入）　老琥珀（一兩）　撫川芎（二兩）</p>
<p>上藥八味，研極細末，用濃汁粥湯，玫瑰花露為丸，再以真金箔為衣，極要仔細為妙。</p>
<p><u>止帶神丹</u></p>
<p>專治赤白帶下，諸治不效者，空心用米飲送下二三錢即愈。永不再發，屢試屢效也。</p>
<p>活貫仲二斤，炮去花萼，醋煮，研末，糊為丸。</p>
<p><u>豬羊頭風神丹</u></p>
<p>專治豬羊癇風，發則跌僕，口吐白沫，聲作六畜音，服此方兩料除根，永不復發，神效無比，每服八分，陳酒送下。</p>
<p>線魚膠（五兩）　膽礬（六錢）　飛硃砂（七錢）　膽星（一兩）</p>
<p>諸藥共研細末。</p>
<p><u>遺精仙丹</u></p>
<p>治遺精夢泄如神。此丹三服，永傳妙寶，萬試萬應。</p>
<p>胡桃肉（十個）　黃雀（六隻）　背北羅漢松毛（一兩）　鴿蛋（十二個）　硃砂（六分）　白蜜（三兩）</p>
<p>共研細末，搗和為丸。</p>
<p><u>傷科紫金丹</u></p>
<p>專治跌打損傷，筋損斷骨，瘀血流注，一切重傷，及腰腳脅肋腿足疼痛，屬血瘀氣阻者，以陳酒化服一丸，神效。</p>
<p>公丁香　乳香　沒藥　枳殼　延胡　青皮　血竭　兒茶（各二錢）　當歸　血餘（各四兩）</p>
<p>諸藥共研細末，用蜜為丸，如彈子大，五分重。</p>
<p><u>接骨神方</u></p>
<p>專治跌打損傷，筋斷骨碎，周身筋骨疼痛難忍，服之功能接骨續筋，活瘀定痛，誠傷科之寶丹也。每服一錢，傷重者，三服定愈。</p>
<p>古銅錢（醋炙，五錢）　骨碎補（三錢）　自然銅（三錢）　制乳沒（各三錢）　土鱉蟲（三錢）　生半夏（酒炒，二錢）　頂朱竭（二錢）　元麝香（一錢）</p>
<p>諸藥共研細末。</p>
<p><u>一粒金丹</u></p>
<p>淮山藥（十兩）　花粉（十兩）　茯苓（十兩）</p>
<p>嗎啡為衣。</p>
<p><u>西洋拾寶丹</u></p>
<p>專治跌損打傷，瘀血停滯，遍身疼痛，服之神效。</p>
<p>血竭（一錢五分）　雄黃（四錢）　歸尾（一兩）　紅花（四錢）　兒茶（三分）　梅片（一分）　辰砂（一錢五分）　乳沒（各一錢）　象皮（一錢五分）</p>
<p>研末，二敷二服。</p>
<p><u>神仁丹</u></p>
<p>專治時行疫癘，寒熱頭痛，瘴氣痧氣，霍亂喉風，小兒急驚，男婦癲狂，及諸中毒，諸般血癰疽，蛇犬蟲傷，內服外敷，功難殫述間，神乎其神之靈藥也，輕則一服，重則二服，至重三服。小兒減半，溫開水送下，無不立效。孕婦忌之。又不可與甘草藥同進也。</p>
<p>時疫　寒熱　痧氣　霍亂　瘴氣　喉風　小兒急驚　男婦癲狂　中毒　癰疽　頭痛　嘔吐　腹痛　轉筋　厥逆　泄瀉　痢疾　胸悶　氣痛　瘧疾　心煩　暈船　腦膜炎（西醫名）　脊骨炎（西醫名）</p>
<p>以上諸症，均可治之，常常吸鼻，可避疫氣，萬勿輕視。</p>
<p>山慈姑（二兩）　川文蛤（去毛，二兩）　千金子（去油，二兩）　紅大戟（一兩）　當門子（一錢）　梅片（三錢）　飛硃砂（五錢）　飛腰黃（五錢）　真薺粉（四兩）　飛白礬（五錢）　薄荷精（三錢）　金剛經（一卷）</p>
<p><u>靈砂黑虎丹</u></p>
<p>此治楊梅瘡愈後，頭如破裂之狀，筋骨拘攣，痛不可忍，或起冷痰泡，膿水淋漓，兼治陰結毒，一切濕瘡，久延陰寒，不收口者，凡結毒頑瘡，先服五寶丹或八寶丹，用此藥收功，永遠不發也。</p>
<p>金鼎白砒（三錢，將砒用綠豆水煮過，入罐內，升五炷香取出，以白蘿蔔同煎過入藥）　煅寒水石（三錢）　百草霜（三錢）　金頭蜈蚣（煨，二條）　大黑豆（一百二十粒）　梅片（一分）　元寸（一分）</p>
<p>上藥共研末和勻，用紅棗四兩，煮熟去皮核，同搗為丸，如豌豆大，每服兩丸。日二次，冷水或茶送下。服是藥口眼胞腫，則藥力到矣。緩一日再服。忌吃熟湯水，宜吃大葷，以免嘈雜。黑豆生用，冷水泡軟去皮搗碎，如紅棗肉丸，得起便罷，不可多用，加犀牛黃三錢，更妙也。</p>
<p><u>八寶紅靈丹</u></p>
<p>杜字香（一錢）　老梅片（二錢）　飛辰砂（一兩二錢）　硼砂（六錢）　金箔（五十張）　馬牙硝（一兩）　飛雄精（六錢）　青礞石（四錢）</p>
<p>白降丹（照醫宗金鑑方）</p>
<p>硃砂（二錢）　雄黃（二錢）　水銀（一兩）　硼砂（五錢）　火硝（一兩五錢）　食鹽（一兩五錢）　白礬（一兩五錢）　皂礬（一兩五錢）</p>
<p>紅升丹照醫宗金鑑方</p>
<p>硃砂（五錢）　雄黃（五錢）　水銀（一兩）　火硝（四兩）　白礬（一兩）　皂礬（六錢）</p>
<p>先將二礬火硝研碎，入大銅勺內，加火硝一小杯燉化，一干即起，研細，另將汞朱雄研細，至不見星為度。</p>
<p><u>白虎八寶丹</u></p>
<p>專治拔管</p>
<p>瓷器碗粉（五錢，煅透存性五次為妙）　白芷（三錢）　白蘞（三錢）　白及（三錢）　沒藥（一錢）　乳香（一錢）　降藥（二錢）　梅片（二分）</p>
<p>研細末，用白及磨汁為藥條，陰乾插入瘡內，其管三日即出，或放膏藥上貼之。</p>
<p>疳毒上攻，鼻梁高腫，鼻撐已損，入暮立啞且痛，顴面陣陣烘熱，肝陽內熾，宜清肝解毒。</p>
<p>羚羊片　丹皮　石膏　黃芩　花粉　元參　寒水石　山梔　大貝　川黃連　生甘草　連翹殼</p>
<p><u>固精丹</u></p>
<p>川文蛤（即五倍子）</p>
<p>研末，專治遺精。用末二分，放於膏藥上，貼在對臍中，立可見效。</p>
<p><u>止瀉丹</u></p>
<p>專治一切暑濕，寒邪痧疫，腫痛泄瀉，將此藥末摻膏藥上，對臍貼之。</p>
<p>公丁香　硫黃（各六錢）　京白川（八錢）　綠豆粉（一兩五錢）</p>
<p>諸藥共研細末。</p>
<p><u>加味五寶丹</u></p>
<p>犀黃（五分）　辰砂（三錢）　人中黃（五錢）　珍珠（二錢）　滴乳石（四錢）　炒飛面（一兩）　冰片（五錢）　琥珀（四錢）</p>
<p>上藥共研為極細末。</p>
<p><u>黑虎丹</u></p>
<p>清水全蠍（七隻）　姜蠶（七隻）　花蜘蛛（七隻）　川甲片（七片）　元寸香（四分）　西黃（四分）　蜈蚣（七條）　磁石（水飛，一錢五分）</p>
<p>上藥共研為細末，不黑加燈草灰一錢五分。</p>
<p><u>又方黑虎丹</u></p>
<p>元寸香（五分）　犀牛黃（五分）　蜈蚣（六條）　蜘蛛（八對）　姜蠶（三錢，炒斷絲）　天龍（四條，即口吐蟲）　穿山甲（三錢）　燈草灰（一錢五分）</p>
<p>均炒黑為細末。</p>
<p><u>吐血丹</u></p>
<p>真阿膠（蛤粉炒，五錢）　天冬（去心，一兩）　川貝（去心，五錢）　茯苓（五錢）　大杏仁（去皮尖，五錢）</p>
<p>上藥共研細末，加煉蜜為丸，如龍眼核大，不時噙化一丸，或加生甘草五錢尤妙。</p>
<p>治哮丸</p>
<p>豆豉（一兩）　白信（一錢）</p>
<p>研細末，用飯三錢，糊為丸，如綠豆大，每服一粒，多者二粒。</p>
<p><u>肺風痰喘方</u></p>
<p>麻黃（三錢）　紫菀（三錢）　鳳凰衣（三錢）</p>

<h1>五、雜方</h1>
<p><u>肥瘡藥</u></p>
<p>專治肥瘡漫濕及癩痢頭等，即五美散料去石膏，加松香一兩，共研極細末，用麻油調敷。</p>
<p><u>七仙條</u></p>
<p>專治一切瘡毒陰疽，日久成漏，膿水淋漓不斷，用此拔除瘻管甚效也。</p>
<p>白降丹　熟石膏　紅升丹（等分）　梅片（少許）</p>
<p>諸藥共研極細末，糊為條，陰乾聽用。或加乳沒藥、血竭，照上等分，可止痛也。</p>
<p><u>制降藥方</u></p>
<p>白馬（即火硝，二兩）　皂礬（二兩）　生礬（二兩）　食鹽（二兩）　活水銀（二兩）</p>
<p>製法自己酌奪。</p>
<p>耳疳藥水（西醫方）</p>
<p>果酸化水素。</p>
<p>下疳藥（西醫方）</p>
<p>海碘方（二錢）　辛養粉（二錢）　輕掃盆（二錢）</p>
<p><u>玉鑰匙</u></p>
<p>專治一切喉證，腫痛白腐。</p>
<p>西瓜霜（五錢）　老硼砂（五錢）　炙姜蠶（五分）　硃砂（六分）　梅片（五分）</p>
<p>諸藥研極細末。</p>
<p><u>金不換</u></p>
<p>此藥功效尤勝，並治疫喉，生肌長肉，屢試屢效。</p>
<p>即前方加人中白（火煅）三錢，青黛三錢，西黃三分，珍珠三分。</p>
<p><u>吹喉結毒靈藥</u></p>
<p>真靈藥（五錢）　人中白（一錢）</p>
<p>研細末。</p>
<p><u>過街笑</u></p>
<p>專治風火牙痛等症。</p>
<p>真月石　老青鹽　火硝（各二錢）　加梅片（二分）</p>
<p>研細末。</p>
<p><u>喉科回春錠</u></p>
<p>專治喉風急閉，痰如潮湧，命在頃刻者。</p>
<p>牙皂（一百四十條，煨，切片）　細末延胡索（三兩）　青黛（一錢二分）　麝香（一錢）</p>
<p>諸藥研極細末和勻，用大麥粉煮成漿，杵拌打成錠，每塊重三分，覓干收入瓷瓶，無令泄氣。每服一塊，重證加服，用冷水磨汁，將冷開水沖服。不論喉痧、爛喉、單雙乳蛾，諸險等症，立即見效。如遇牙關緊閉，即從鼻管入，即開，再服立效。再有斑痧症，不能發出者，服之即效。兼治小兒驚風，雖平常而應驗甚速，幸勿輕視。如用蘿菔汁沖服更妙也。</p>
<p><u>丁氏走馬牙疳方</u></p>
<p>金棗丹　雄棗丹（各一錢）　中白散　冰硼砂（各一錢）　川連（此味可去，七分）　梅片（三分）　加上西黃（二分）</p>
<p>諸藥共研細末。此藥專治齒齦腐爛，穿腮落齒，鼻穢難嗅，疼痛不堪等症，用此藥吹之可愈。</p>
<p><u>神效托藥方</u></p>
<p>專治走馬牙疳，滿口糜爛，以此藥托於足心，神效也。</p>
<p>川黃連　川黃柏　錦大黃（各三分）　木鱉子（三分）　生半夏（三分）　香附（三分）　麝香（五釐）　梅片（二分）</p>
<p>諸藥共研細末，用雞蛋清調塗足心，一周時去之立愈。</p>
<p><u>酥科</u></p>
<p>專治瘡瘍疔毒，頂不高突，根腳不收，焮腫走黃，精神不爽，時或昏悶，兼治癰疽大毒，麻木疼痛，用此內服外敷神效也。</p>
<p>杜蟾酥（四錢）　雄黃（四錢）　乳香（三錢）　沒藥（三錢）　枯礬（三錢）　銅綠（三錢）　寒水石（三錢）　膽礬（三錢）　麝香（三錢）　輕粉（五分）　蠍牛（三十個）　硃砂（三錢）</p>
<p>諸藥共研細末秤准，將蠍牛搗爛，入藥候乾，研細聽用。</p>
<p><u>離宮錠</u></p>
<p>專治疔毒腫痛，一切皮肉不變漫腫無頭。</p>
<p>真血竭（三錢）　杜酥（三錢）　膽礬（三錢）　麝香（一錢五分）　京墨（一兩）　硃砂（二錢）</p>
<p>冷水和成錠，水磨調敷塗效。</p>
<p><u>神效疔藥方</u></p>
<p>專治疔瘡，不論未潰已潰及走黃等症，均皆神效。</p>
<p>用敗黽一隻倒掛在檐前朝風乾，百日後，擇天醫日，陰陽瓦上炙灰，每黽灰一錢，腰黃一錢，西黃五分。</p>
<p>共研極細末，收瓶內，凡遇疔瘡，先當刺去惡血，再上此藥，和梅片末同菜油搽摻於瘡口，外以紙蓋之，神效無比。此方緊要難得，可秘之寶也。</p>
<p><u>結毒靈藥</u></p>
<p>專治結毒腐爛，用之神效。</p>
<p>活水銀（一兩）　硃砂（三錢）　硫黃（三錢）　雄黃（三錢）</p>
<p>諸藥共研細末，入陽成罐內，泥固鐵盞，緊封口，其火候俱按紅升丹之煉法。煉畢，次日取出。盞底有靈藥一兩，大約五六錢為佳。</p>
<p><u>治疳結毒靈藥</u></p>
<p>專治尋常結毒。</p>
<p>靈藥（五錢）　掃盆（一錢）</p>
<p><u>新合犀黃八寶</u></p>
<p>治下疳腐爛等症。</p>
<p>犀牛黃（二分）　琥珀屑（五分）　鳳衣散（一錢）　海浮散（五錢）　下疳珍珠散料（一錢）　月華丹（一錢）　蚌粉（一錢）　梅片（二分）</p>
<p><u>截瘧餅</u></p>
<p>專治一切大小瘧疾，經久不止者，以此餅放於布膏藥上，貼男左女右脅下軟肉處，或眉心正中，一周時起泡即去之。妙在外治，最屬神效無比。</p>
<p>明雄黃（三分）　人言（三分）　辰砂（三分）</p>
<p><u>專治吐血奇方</u></p>
<p>鮮藕（一斤，切片）　秋梨（一隻，去梗）　柿餅（一個，去蒂）　紅棗（一枚，去核）　白茅根（一兩）　荷葉（一角）</p>
<p>上藥六味，每逢逢報二分，二至四日，永不復發。</p>
<p><u>疥瘡藥方</u></p>
<p>蛇床子（五錢）　大風子（一兩）　巴豆肉（一兩）　水銀（五錢）　白川椒（一錢）　洋樟（二錢）　白明礬（七錢）　頂血竭（二錢）　蠟燭油（四錢）　豬油（一兩）　油桃肉（五枚）</p>
<p>諸藥共研細末，用豬油燭油，烊化作餅七塊，作丸擦胸心。</p>
<p><u>牙痛搽藥方</u></p>
<p>細辛（一分）　滑石（四分）　青鹽（二分）　梅片（五分）</p>
<p>研末搽擦痛處。</p>
<p><u>紫金錠</u></p>
<p>山慈姑（二兩）　川文蛤（破，洗淨，即五倍子，槌，二兩）　紅大戟（一兩）　當門子（三錢）　千金子霜（二兩）　明雄黃（五錢）</p>
<p>諸藥共研細末，用糊成錠，磨汁敷患處。</p>
<p><u>消核錠</u></p>
<p>專治瘰癧痰核等症。</p>
<p>山慈姑（二兩）　原寸香（二分）</p>
<p>共研細末，用糯米漿打糊成錠，以醋磨塗。</p>
<p><u>癬藥酒方</u></p>
<p>苦參子（一兩）　木通（一兩）　方八（一兩）　洋樟（一兩）　百部（一兩）　檳榔（一兩）　申姜（一兩）　花椒（一兩）　龍衣（一兩）　土槿皮（一兩）　白及（一兩）　斑蝥（用高粱酒三斤浸之）</p>
<p><u>升藥方</u></p>
<p>活水銀（一兩）　白礬（一兩）　火硝（一兩）</p>
<p>自作主意成藥也。</p>
<p><u>降藥方</u></p>
<p>水銀（一兩五錢）　硃砂（三錢）　皂礬（一兩五錢）　月石（五錢）　火硝（一兩五錢）　雄黃（三錢）　明礬（一兩五錢）　私鹽（一兩五錢）</p>
<p>煉法自作主意。此丹煉胎，切切當心，成胎以後，冷定可升。</p>
<p><u>浸梅子法治喉科要藥</u></p>
<p>薄荷　牛蒡子　銀花　大貝母（各五錢）　姜蠶　元參（各四錢）　生甘草（三錢）　馬勃（二錢）　梅片（四分）</p>
<p>共煎汁去渣，以梅子浸入，蜒蚰蟲若干條，加鹽少許，以汁曬乾為度。</p>
<p><u>療螺痧方</u></p>
<p>此方警備隊司令陳煦亮傳，或服，或吹鼻孔，小兒減半。</p>
<p>牙皂（二錢五分）　硃砂（二錢五分）　桔梗（二錢）　木香（二錢）　管仲（二錢）　明雄黃　藿香（二錢）　廣皮（二錢）　甘草（二錢）　薄荷（二錢）　細辛（二錢）　防風（二錢）　白芷（二錢）　玉金（二錢）　枯礬（二錢）　元寸（一錢）</p>
<p><u>去翳眼藥</u></p>
<p>專治去翳退星。</p>
<p>大濂珠（乳煅，五分）　犀黃（三分）　當門子（三分）　琥珀（一錢）　真雄膽（五分）　金精石（一錢，煅飛）　石燕（一錢，煅飛）　石蠏（一錢，煅飛）　玄精石（一錢，煅飛）　浮水甘石（三錢）　銀精石（一錢，煅飛）　梅片（三分）</p>
<p>研極細末和透。</p>
<p>一筆消（飛此方，此方已入散）</p>
<p>專治濕熱諸瘡，耳內出膿，耳癢，以此散吹之，立見效驗。</p>
<p>海螵蛸（三兩）　飛硃砂　梅片（各等分）</p>
<p>為末，或香油調敷耳外，亦可愈也。</p>
<p><u>一筆消</u></p>
<p>專治癰疽發背，諸疔惡瘡，一切無名腫毒症。用米醋磨敷患處立消。</p>
<p>立川軍（一兩）　蟾酥　明礬（各三錢）　原寸（二分）　乳香　沒藥（各二錢）　藤黃　雄黃（各五錢）</p>
<p>共研末，用蠍牛四十九隻，打爛成錠。</p>
<p><u>神仁丹</u>（見丹方部）</p>
<p>專治時行疫癘，寒熱頭痛，瘴氣痧氣，霍亂風，小兒急驚，男婦癲狂及諸中毒，諸般血癰疽，蛇犬蟲傷，內服外敷，功難殫述間，神乎其神之靈藥也。輕則一服，重則二服，至重三服，小兒減半，溫開水送下，無不立效。孕婦忌之。又不可與甘草同進也。</p>
<p>時疫　寒熱　痧氣　霍亂　瘴氣　喉風　小兒急驚　男婦癲狂　中毒　癰疽　頭痛　嘔吐　腹痛　轉筋　厥逆　泄瀉　痢疾　胸悶　氣痛　瘧疾　心煩　暈船　腦膜炎（西醫名）　脊骨炎（西醫名）</p>
<p>以上等症，均可治之，常常吸鼻，可避疫氣，萬勿輕視之。</p>
<p>山慈姑（二兩）　川文蛤（去毛，二兩）　千金子（去油，二兩）　紅大戟（一兩）　當門子（一錢）　梅片（三錢）　飛硃砂（五錢）　飛腰黃（五錢）　真齏粉（四兩）　飛白礬（五錢）　薄荷精（三錢）　金剛經（一卷）</p>
<p>專治黃病脫力神效靈方</p>
<p>專治勞傷過度，四肢乏力，面黃肌瘦，手足浮腫等症，多系窮苦農人，竭力耕種，乏資調理，日久必成痼疾。此方屢經效驗，制送有年，無不見功。願樂善者，合制送人，功德無量。</p>
<p>綠皂礬（十斤，用鎮江醋十斤，以文武火合煮鍋中，無煙為度，用淨末一百二十兩）　廣陳皮（三斤，炒，研末，用淨末四十兩）　山楂（三斤，炒，研，用淨末，二十兩）　大麥（去殼炒，研，用淨末一斗）　陳粳米（炒，研，用淨末，三升）</p>
<p>上藥五味，加黑棗十斤為丸，如梧桐子大，每日清晨，用溫陳酒送下三錢，白酒開水作引，米湯不可用也，忌腥氣麵食。</p>
<p><u>秘製走馬牙疳方</u></p>
<p>治一切痧發後牙疳，及走馬牙疳，腐爛腫痛，臭穢不堪，甚至穿腮落齒者，將此藥用桐油調搽，極為靈效。</p>
<p>大紅棗（八枚，用石白砒二分納下，煅存性，須退大飛）　真銅綠（一錢）　綠膽礬（一錢）　煅中白（三錢）　梅片（八分）　飛青黛（一錢）　真犀黃（四分）</p>
<p>研細末。</p>
<p><u>吐血方</u></p>
<p>此方無論何種吐血，皆可名驗。</p>
<p>鮮蠶豆葉搗汁，與老陳酒暖暖沖服即止，不可輕視。</p>
<p><u>痧藥方</u></p>
<p>真茅朮（三兩）　公丁香（六錢）　飛辰砂（三兩六錢）　生甘草（二兩四錢）　杜蟾酥（九錢）　飛雄黃（三兩六錢）　杜子香（三錢）　麻黃（三兩六錢）　錦大黃（六兩）　明天麻（三兩六錢）</p>
<p>諸藥生曬為末。</p>
<p><u>馬培之先生秘製吹藥方</u></p>
<p>黃連　黃芩　黃柏　山梔　黃耆　薄荷　防風　荊芥　連翹　細辛　白芷　元參　川芎　羌活　獨活　三奈　檳榔　川樸　苦參　甘草　木通　半夏　川烏　蒼朮　麻黃　赤芍　升麻　草烏　大黃　姜蠶　川膝　桔梗　射干　乾葛　皂刺　車前　桑皮　茄皮　牛蒡　骨皮　麥冬　杏仁　山豆根　生地　歸尾　花粉　生南星　銀花　參山膝　川槿皮（以上藥各一兩）　鮮車前子　紫背天葵草　骨牌草　金星草　五爪龍草　土牛膝草（以上藥各四兩）</p>
<p>用新缸一隻，清水浸之，日曬夜露四十九日，如遇風雨陰晦之日，用蓋蓋之。曬露須補足日期，取起濾去渣，銅鍋煎之，槐柳枝搗之，煎稠如糊，再加後藥。</p>
<p>明雄黃（五錢）　青礞石（童便煅七次）　乳香（去油）　沒藥（炙）　熊膽（焙）　龍骨（煅）　元明粉　血竭　石燕（醋煅七次）　海螵蛸（紙包焙）　蘆甘石（童便煅七次）　青黛（上藥各五分）　枯礬　兒茶（各一錢）　輕粉　廣丹（水飛，各三分）　月石（七分）　桑枝灰（三錢）</p>
<p>上為細末，入前藥膏內和勻，做成小餅如指大，曬露七日夜，放地上以瓦盆蓋之，一日翻一次，七日取起，置透風處陰乾收藏瓦罐內，三個月方可用之。用之時為極細末，每餅二分，加後七味。</p>
<p>梅片　珍珠　珊瑚（研，水飛，各四分）　麝香（二分）　犀牛黃（二分）　輕粉（一釐）　月石（二分）</p>
<p>為細末和勻，寧收小瓶封口，勿泄氣，每以銅吹筒吹藥少許，吹患處，咽喉諸症，無不神效也。</p>
<p><u>馬培之先生喉風秘方</u></p>
<p>蝸牛（八兩）　青梅（四十個，去核）</p>
<p>同搗如泥，入瓷瓶內，松香封埋土中半年，即化為水。凡遇喉風喉閉，用水半酒杯，含於口內，頭仰，令水入喉即開，極效。</p>
<p><u>錢氏損傷秘方</u></p>
<p>當歸　防風　白芷　生南星（各二兩）　紅花（一兩八錢）</p>
<p>用黃酒將各藥在砂鍋炒黃，共研極細末，加麝香二分和勻，瓷瓶收貯，勿使泄氣。凡跌打損傷，有血者干敷，腫而未破者，燒酒調敷。內傷者，黃酒服一錢，立時止痛，雖急危重症，無不藥到病除。</p>
<p><u>提藥方</u></p>
<p>治諸毒不起，敷之立起。</p>
<p>藤黃（三錢）　紅藥（一錢五分）　麝香（三分）　蟾酥（二錢）　冰片（五分）　蓖麻子肉（一兩）　雄黃（三分）</p>
<p>將蓖麻肉去皮，打如魚凍水，入諸藥打成膏，瓷罐收貯，勿令泄氣。</p>
<p><u>麻藥方</u></p>
<p>此係外科動刀針不痛之藥。</p>
<p>香白芷（二兩）　製半夏（二兩）　川芎（二兩）　木鱉（法泡去殼依制，二兩）　烏藥（二兩）　牙皂（二兩）　當歸（二兩）　大茴香（二兩）　紫金皮（二兩）　木香（五錢）　川烏　草烏（各一兩，俱生用）</p>
<p>共為細末，每服一錢，好酒調下，麻木不知疼痛。若人昏沉，用鹽水引之即解。</p>
<p><u>又麻藥方</u>（一名孫武散）</p>
<p>蓽茇（一錢）　肉桂（一錢）　胡椒（一錢）　生半夏（一錢）　乳香（一錢）　沒藥（一錢）　三七（二錢）　生川烏（二錢）　蟾酥（二錢）　丁香（八分）　生草烏（二錢）　花蕊石（二錢五分）　風茄子（三錢）　麝香（少許）　生南星（一錢）</p>
<p>共研細末，入瓷瓶內備用。</p>
<p><u>刀傷藥方</u></p>
<p>赤石脂（八兩）　制乳香（一兩）　飛石膏（八兩）　制沒藥（一兩）　飛紅丹（八錢）</p>
<p>共研細末。</p>
<p><u>八寶水眼藥方</u></p>
<p>飛甘石（一兩）　水飛海螵蛸（四錢）　蕤仁霜（三錢）　地力粉（五錢）　水飛辰砂（一錢）　水飛東丹（三錢）　月石（三錢）　冰片（一錢）　麝香（四分）　八寶丹（一分）</p>
<p><u>保產方</u></p>
<p>蜜炙黃耆（一兩）　西黨參（四錢）　大川芎（一錢）　白茯神（二錢）　大熟地（五錢）　白芍（一錢）　當歸身（四錢）　醋炙龜板（四錢）　甘杞子（四錢）</p>
<p><u>神效水眼藥方</u>（治諸般目疾）</p>
<p>羊腦蘆甘石（用童便浸，春五日，夏三，秋七，冬十，取出略打碎，用破瓦片盛於火盆內，煅二次，漂淨焙乾，十兩）　辰砂（研細，水飛，四兩）　山東黃丹（水飛，焙乾，十兩）　麝香（研細末，三錢）　海螵蛸（去衣，研碎，水浸漂淨，焙乾，十兩）　硼砂（研細末，二兩）　乳香（去油，研細，四兩）　沒藥（熨去油，研末，四兩）</p>
<p>上藥共研細末，直研至無聲為度，秤准不可多少，每藥末九兩，煉上好白蜜一斤，調成膏子，其蜜要絹帕濾三次，其蜜雖要煉三次，可以不必滴水成珠，總是熬化濾過而已，合就用瓷罐收貯。蠟封，過二月方可用。愈久愈佳，經驗方也。</p>
<p><u>癧痰方</u></p>
<p>專治癧痰核症</p>
<p>生鴨蛋一個，以黑醜二十粒，放在鴨蛋內，置飯鍋上蒸之，以黑醜去之，以蛋服之。</p>
<p><u>筆字藥</u></p>
<p>升藥（一錢）　降藥（一錢）　甘石（二錢）　硇砂（二分）</p>
<p><u>神效痛風方</u></p>
<p>生黃耆（二兩）　鮮首烏（一兩）　羌獨活（各二錢）　松節（三兩）　青防風（五錢）　大熟地（二兩）　嫩桑枝（一兩五錢）　生白朮（一兩）　全當歸（一兩五錢）　陳廣皮（五錢）　淮牛膝（一兩）　熟附塊（五錢）　大川芎（五錢）　陳木瓜（六錢）　海風藤（一兩）　延胡索（五錢）　生甘草（四錢）　五加皮（六錢）　虎脛骨（一兩）　威靈仙（六錢）　尋骨風（六錢）　紅棗（四錢）　西秦艽（一兩）　制香附（一兩）　陳福珍酒（五斤）　西藏紅花（四錢）</p>
<p><u>保產催生原方</u></p>
<p>熟地（一兩）　潞黨參（四錢）　枸杞子（四錢）　川芎（一錢）　雲茯苓（三錢）　淨龜板（四錢）　當歸（四錢）　上綿耆（蜜制一兩）　炒白芍（一錢）</p>
<p>照方連服二三劑。</p>
<p><u>傳方</u>（此方不可經陰人之手）</p>
<p>黃梅之時，有濡米上，小青背田雞數只，與元寸香數分，隨身藏干。能治小兒走馬牙疳，屢試屢驗。</p>
<p>青背田雞（五隻）　金棗丹（四分）　人中白（三分）　元寸香（一分）　雄棗丹（三分）　犀黃（三分）　梅片（三分）</p>
<p><u>秘方</u></p>
<p>專治楊梅結毒，或久不痊，或下疳腐爛，或楊梅起始。照此方服之可愈也，屢試屢效。</p>
<p>銜罷魚與鮮遺糧露，同吞，服之即愈。</p>
<p><u>秘方</u>（此方飲楊梅瘋神效）</p>
<p>活𧈣口罷數十隻，熬膏，與高粱酒運准，大約一斤用膏四兩，調透服之。</p>
<p>專治筋骨疼痛，或五勞七傷，或痛風，或骨節麻疼各等症，服之神效。</p>
<p><u>蜒蚰梅子</u></p>
<p>用梅子一斤，大約蜒蚰百個，一層梅子，一層蜒蚰，安好放太陽曬乾。此方專治喉痛，或喉閉，或喉蛾，或喉痧等症，服之神效。</p>
<p>治膨脹草方（此方已錄丸藥類）</p>
<p>黃牛糞　六神麯</p>
<p>將黃牛糞曬乾，瓦上炙灰存性，同六神麯末清水泛丸。每服四錢，開水送下。</p>
<p><u>汗癍藥</u></p>
<p>汗癍一症，氣虛血熱之人最多。如濕熱亦起汗癍，初則一二點，漸漸化大，速將此方藥用米湯調搽即退如神。</p>
<p>密陀僧　制硫黃（各一錢）　梅片（一分）</p>
<p>燒酒調搽為妙。</p>
<p><u>經驗燙傷藥</u></p>
<p>專治不論水火燙傷，皮脫肉爛，疼痛不堪，以此藥用菜油調敷，止痛即好，經驗如神。</p>
<p>炙龜板（三兩）　蟬衣（三兩）　生軍（三兩）　蕎麥（三兩）</p>
<p>共為細末。</p>
<p><u>消橫痃魚口便毒神效丹方</u></p>
<p>用活蟾一隻，破腹去皮，將蟾與蔥同搗爛敷毒上，外以蟾皮蓋之，其毒二三日即消。真妙方也。再加蟾酥散一錢更好。</p>
<p><u>膠紅飲</u></p>
<p>治婦人邁年驟然血海大崩不止，名曰倒經，速投此方一劑立止。其猶發熱，再以六安茶葉三錢煎服一次，身熱即退，後用六君子湯加當歸白芍，調理而安。</p>
<p>陳阿膠（米粉拌炒）　全當歸（一兩）　西紅花（八錢）　冬瓜子（五錢）</p>
<p>上藥以天泉煎之，服更妙。</p>
<p><u>新制眼藥方</u></p>
<p>飛甘石（五錢）　西瓜霜（五分）　飛東丹（一錢二分）　蕤仁霜（一錢二分）　地力粉（二錢五分）　梅片（七分）　月石（一錢五分）　飛辰砂（七分）　麝香（一分二釐）</p>
<p>諸藥共研細末，用瓶收貯。</p>
<p><u>秘製甘製半夏法</u></p>
<p>白礬（五斤）　皮硝（十斤）　提半夏（十斤）　陳石灰（十斤）</p>
<p>先將石灰用滾水泡化，俟溫投半夏，日曬夜露，頻攪之七日取出，換清水浸三日，取出曬乾，再用白礬五斤，皮硝十斤，滾水泡化，候溫投半夏如前法，曬乾，再用利法。生甘草四兩，薄荷四兩，廣木香四兩，青皮三兩，川芎三兩，茯苓四兩，廣皮一兩，枳殼三兩，五味子三兩，鮮生薑十斤。上十味滾水泡化，俟溫投半夏，浸十四天，日曬夜露，頻頻擾之。期滿後，撿出半夏，將余藥煎濃，去渣澄清，以薑汁煮半夏，曬乾磨為細末，再加上猺桂三兩，陽春砂仁三兩，上沉香三兩，連翹二兩，老紫蔻三兩，母丁香三兩。</p>
<p><u>制降藥</u></p>
<p>生礬（二兩）　皂礬（二兩）　食鹽（二兩）　活水銀（二兩）　白馬（二兩）</p>
<p><u>痔瘡漏管</u></p>
<p>白丁香（一隻）</p>
<p>放管內，其管自出。</p>
<p><u>爛腳方</u>（驗過多人）</p>
<p>密陀僧（一錢）　白蠟（一錢）　爐甘石（一錢）　冰片（一錢）　銅綠（一錢）</p>
<p>上藥用雄雞油和藥內，打濃為數餅，貼爛處，以油紙封面，一次痊愈。</p>
<p><u>陳氏膿窠瘡藥</u></p>
<p>蛇床子　大楓子　松香　枯礬（各一兩）　黃丹　大黃（各五錢）　輕粉（三錢）</p>
<p>上藥麻油調搽，爛者干搽之。</p>
<p><u>陳氏一掃光</u></p>
<p>苦參　黃柏（各一斤）　煙羔（一斤）　木鱉肉（三兩）　蛇床子　花椒　明礬　枯礬　硫磺　楓子肉　樟冰　水銀　輕粉（各三兩）　白砒（五錢）</p>
<p>上藥共研末，用熟豬油二斤四兩，化開入藥為丸，如龍眼大。用時搽擦瘡上，二次即愈。</p>
<p><u>眼癬藥</u></p>
<p>真膽礬（一錢）　川鬱金（二錢）　制甘石（一兩）　鉛粉（一錢）</p>
<p>上藥共為細末，用雞子油調，加煅月石一錢。</p>
<p><u>靈驗疥瘡藥餅</u></p>
<p>蛇床子　大楓子　蠟燭油（各四錢）　江子肉（一錢五分）　白川椒（一錢）　洋樟（二錢）　油桃肉（五枚）　明礬（七錢）　血竭（二錢）　豬油（一兩）</p>
<p>上藥除豬油燭油，余皆研細末。再以豬油燭油烊化，乘溫調藥作七餅，每日一餅，貼扎胸前，逐日更換，用完即愈，扎手臂亦可。</p>
<p><u>火傷</u></p>
<p>陳桐油腳塗之立愈。</p>
<p><u>一切眼疾</u></p>
<p>小青皮（一錢）</p>
<p>早晚熏洗，七日見功。</p>
<p><u>龍虎癲狂神方</u>（專治男女龍虎癲狂，無不效，能起廢人為成才，真神方也）</p>
<p>先服紫雪丹五分，用次方煎湯送下。</p>
<p>西角尖（二錢）　龍膽草（三錢）　膽星（三錢）　青礞石（二兩）　天竺黃（五錢）　朱茯神（三錢）　陳皮（二分）　宋半夏（二分）　生石膏（一兩五錢）　全蠍（一對）　活蘆根（一兩五錢）　石菖蒲（一兩五錢）</p>
<p>接服方（服前藥後，再接服此方，愈不復發）</p>
<p>小川連（七分）　新會皮（二分）　竹黃（五分）　宋半夏（二分）　龍膽草（五錢）　朱茯神（三錢）　膽星（三錢）　大川芎（二分）　活蘆根（一兩五錢）　全蠍（一對）　石菖蒲（一兩五錢）　青礞石（二兩）</p>
<p>Petaium　Bremidum　100</p>
<p>Syrnp　Awranti　200</p>
<p>Hquae　Destilla　500</p>
<p>此藥水曾經治愈多人，藥性和平。</p>
<p>專治神經錯亂，痰迷心竅，文武癡癲。</p>
<p>每日服三次，每次一匙，食前服（中西藥房配藥。）</p>
<p><u>五虎神效膏藥方</u></p>
<p>此膏治一切無名腫毒，及搭背對口，大小痛癤，未成即消，已成即斂，尚能收口，均可見效，或頭風痛，亦可立愈。</p>
<p>蜈蚣（六錢）　生軍（六錢）　川烏（六錢）　全蠍（六錢）　苦杏仁（六錢）　白芍（五錢）　羌活（五錢）　蘇合香（五錢）　黃耆（五錢）　元參（五錢）　草節（五錢）　皂角（五錢）　白及（八錢）　赤芍（八錢）　連翹（八錢）　獨活（五錢）　生地（八錢）　烏藥（八錢）　白蘞（八錢）　乳香（八錢）　官桂（八錢）　當歸（八錢）　木鱉（八錢）　苦參（八錢）　沒藥（八錢，去油淨）　蛇蛻（三錢）　血酥（一兩）　蜂房（四兩，有子最好）　活大蟾蜍（兩隻，小者加一隻）</p>
<p>外加桃柳槐果棗五種樹枝各八錢，用真正好淨麻油十一斤，再加紅丹收膏為佳。</p>
<p><u>黃病丸</u></p>
<p>專治脫力勞傷過度，四肢乏力，面黃肌瘦，手足浮腫等症，多系窮苦農人，竭力耕種，乏資調養，久必成痼疾，此方屢見效驗。</p>
<p>綠皂礬（十斤，用鎮江醋十斤，以文武火合煮，鍋中無煙為度，用淨末一百二十兩）　廣陳皮（三斤，炒研用淨末四十兩）　山楂（三斤，炒研用淨末二十兩）　大麥（去殼炒研用淨末一斗）　陳粳米（陳者為妙，炒研用淨末三升）</p>
<p><u>失音驗方</u></p>
<p>百合（一枚）　訶子（三錢）　薏米（三錢）　杏仁（四錢）　百菜煎（三錢）　炙草（五分）</p>
<p>上藥生曬研末，用雞蛋清和百合搗爛為丸，如桐子大。臨臥服十丸。</p>
<p><u>痧氣散</u></p>
<p>降香（四錢）　細辛（四錢）　荊芥（四錢）　廣鬱金（二錢）</p>
<p>共研細末，每服二錢。</p>
<p><u>專治一切跌打損傷末酒方</u></p>
<p>麝香（五錢）　梔子（四錢）　車前子（四錢）　七釐散（四錢）　石蟹（一對）　沒藥（四錢）　八楞子（四錢）　生南星（四錢）　穿山甲（一對）　木瓜（四錢）　白麻子（四錢）　五加皮（四錢）　當歸（四錢）　玄胡索（四錢）　自然銅（四錢）　桃仁（四錢）　紅花（三錢）　生草烏（四錢）　川牛膝（四錢）　青鹽（四錢）　乳香（四錢）　生川烏（四錢）　廣三七（四錢）　劉寄奴（四錢）</p>
<p>以上各味，研極細末，用陳酒醋浸入瓷瓶內，用蓋蓋好，如遇跌打損傷，以此藥擦患處，切勿入口。</p>
<p><u>吐血方</u></p>
<p>馬蘭頭根（四兩）　枸杞頭根（四兩）　白茅根（四兩）　扁柏（四兩）</p>
<p>四味煎湯去滓，用南棗一斤煎乾，每次吃二隻。</p>

<h1>六、外症藥加細料</h1>
<p>月華丹　料五錢，加片五分，硃砂一錢五分。</p>
<p>九黃丹　料八錢，加一分。</p>
<p>八將丹　料五錢，加元寸七釐，片一分。</p>
<p>十將丹　料五錢，加元寸六釐，片一分。</p>
<p>牛黃疳丹　料五錢，加牛黃一分，片一分五釐。</p>
<p>九寶丹　料四錢，加片一分。</p>
<p>補王丹　麥飯石四錢，短鹿角四錢，白蘞粉二分。</p>
<p>平安散　料三錢，加元寸五釐，槍硝三分，片八釐。</p>
<p>玉鑰匙　料一兩，加片四分。</p>
<p>冰硼散　料二兩，加片四分。</p>
<p>中白散　料五錢，加片一分。</p>
<p>金石換　料五錢，加珠粉一分，西黃一分，片一分五釐。</p>
<p>柳花散　料五錢，加片一分。</p>
<p>酥科　料三錢，加元寸二分，乳香六分，沒藥六分。</p>
<p>下疳珍珠散　料九錢，加珠粉一錢。</p>
<p>桂射散　料五錢，加元寸六釐，片四釐。</p>
<p>八寶化毒丹　料一兩七錢，加珠粉五分，片八分。</p>
<p>蟾酥散　料七錢六分，加元寸一分。</p>
<p>鳳衣散　料四錢，加片二分。</p>
<p>銀青散　料二錢，加片一分。</p>
<p>異功散　料二錢四分，加元寸一分，片一分。</p>
<p>去翳眼藥　料三錢，加珍珠粉一分八釐，西黃一分八釐，熊膽一分八釐。麝香一分，梅片一分</p>
<p>先天青龍丹　料四錢，加片一分五釐。</p>
<p>九仙丹　料升藥一錢，熟石膏九錢。</p>
<p>硇砂散　料三錢五分，加元寸二分，片二分。</p>
<p>黑虎丹　料一兩，加麝香五分，西黃五分。</p>
<p>黑靈丹　料橄欖核灰一兩，加片二分。</p>
<p>二味敗毒　料明礬、雄黃等分為末。</p>
<p>黛鵝黃散　料六一散三兩，加解毒丹三兩。</p>
<p>轉五寶丹　料升藥一錢，熟石膏五錢。</p>
<p>三仙丹　料升藥三錢，熟石膏九錢。</p>
