<header data-type="book">
<h1>生生寶錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>袁于江</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1825">公元1825年</data></dd></div>
</dl>
</header>

<h1>序一</h1>
<p>甚哉，醫道之難也！醫莫過於婦人，而婦人之最重者產育，蓋人道所自始，而性命之攸關也。余少曾讀岐黃書，恨未晰其奧。後與歷代名醫遊，聞其談論精妙，心竊悅之。袁子化龍精婦科，從遊者百餘歲矣，而其術未得傳於人間，茲以職為岐黃校書，與岐天師、雷公輩熟探精義，合考之，並自出心裁，成為一帙，命曰《生生寶錄》。其誌胎產，門分類別，詳哉！其言之也，於戲！袁子之術不傳於生初，而傳於後世，且能壽之萬世，而為利益於萬世。吾於其書成之日，不勝欣欣焉，爰綴數言以並卷首。</p>
<p><u>道光五年孟夏呂道人書於溈西捫星樓</u></p>

<h1>序二</h1>
<p>醫有一毫髮之未明，不可以言精。一人也而折肱三，一家也而歷世三，然後精於一科焉。而古今不數數也。袁子以其術通仙，而於婦科尤精。蓋童學之，壯習之，老諳之。仙后又從而神明之，一人之身已歷數百載，較之三十年一世，幾數十世矣。常憫人世胎產，糊亂用藥，至於一命損二，思有以救之，乃集為《生生寶錄》一編，簡而賅，詳而盡。袁子之術，袁子之仁也，青鳥中之慈母也。世之讀其書者，其呼之為眾母也可。</p>
<p><u>道光五年四月二十日孫思邈題</u></p>

<h1>序三</h1>
<p>醫有意亦有時，意則人各能通，時則今古互異。古時人稟氣厚，故體氣不同於今時，而醫者之意，亦隨時變矣。婦人科，尤醫之意度居大半者也。婦人莫重於胎產，而古書所論與今無殊，古書制方與今宜異，何也？人稟氣不同，而藥性亦因其地氣之厚薄殊耳。古方用人參，動至數兩，今雖百金，中人之產，不能購其半，故此書因藥性之近者易之。至於清涼之味，攻伐之品，今人不能受者多矣，故悉從刪改。其純用古方則曰「古」，有所變更則曰「參古」。其出各高賢心見與己見者，各注方下，非好變古而自作古，乃意之所到者，問之古人當亦首肯也。書成，自述己意於首。</p>
<p><u>袁道叟自記</u></p>

<h1>卷上</h1>

<h2>胎前門</h2>

<h3>十字真言</h3>
<p>一曰：節嗜欲。婦人火最易動，火動而命門傷，胞系不固，且有孕犯房事，令胞大難出，生子多病夭。節欲所以固精而養腎。</p>
<p>二曰：節勞逸。富貴之家深居晏處則過逸，貧寒之家朝夕操作則過勞。凡逸緻難產，筋骨不活也。勞易墮胎，血脈多損也。節勞逸所以固筋骸，舒血氣以養肝。</p>
<p>三曰：節起居。古人云：常近詩書，行正事。婦人多不識字，安問詩書，德在順從，有何行事？惟不登高臨深涉險，毋近穢惡，毋多諧謔，節起居所以養心。</p>
<p>四曰：節飲食。飲醇酒散血、耗氣、亂性，食禁物令母子不安，遇醉飽飢渴皆失事。惟淡泊為主，節飲食所以養肺與脾。</p>
<p>五曰：節聞見。聞歌唱戲語令淫心生，聞鬥毆罵詈令怒心生，聞金鼓走馬刀兵令懼心生，惟聞讀書雅樂聲令人心正而生喜。見異物怪氣人，見龜蛇兔令生子不全，見人血跡令人生警，見殺戮令人心暴；惟書籍金玉令人心正而悅節。聞見所以養意。</p>
<p>以上各條皆集古格言，婦人多不知，惟知理父兄丈夫，時講明其未盡者，可以隅反。</p>

<h3>胎前總論</h3>
<p>婦人血氣和乃有子，及孕而有病又曰血氣不和者，何故？此蓋臟不平也。胎之受養有月數，臟之遞傳有乖違，以故生病。凡一切六淫七情之屬，又從而中傷之，是以治之宜按月數及時令，又必詳審其性情起居，而後無不效之。藥略集古方加以群仙高見，並參末議集為一篇，以行於世，慎勿略之可耳。誌胎前。</p>

<h3>論娠妊經脈主治及逐月養胎法</h3>
<p>娠妊一月名懷胎，系足厥陰肝脈養之。飲食精熟，酸羹受御，食宜大麥，毋食腥辛，不為力事，寢必安靜，無令驚恐，是以固其血。</p>
<p>二月名始膏，胎始結，足少陽膽脈養之。毋食辛臊，居必靜處，房事勿犯，是以固其精。</p>
<p>三月名始胎。手心主包絡脈養之，毋悲思驚恐，此時形象始化，因感而成，宜養母體氣，以正子形。養母心志，以正子德。此為胎教。</p>
<p>四月始受水氣以成血脈。手少陽三焦脈養之。食宜稻，羹宜魚，此時見六腑順成，當靜形體和心志，節飲食，是謂盛血氣以通耳目。</p>
<p>五月始受火精以成氣，足太陰脾脈養之。調五味以和陰陽，毋遇飢飽，毋食乾燥，毋自炙熱，毋太勞倦，沐浴沉衣，深居晏起，厚衣服以避寒殃，是謂養氣以足五臟</p>
<p>六月始受金氣以成筋，口目成，足陽明胃脈養之。調五味，進甘美，毋太飽，身欲微勞，毋靜處，是謂變腠理紉筋，養力以堅背臍。</p>
<p>七月始受木精以成骨，皮毛生，手太陰肺脈養之。食宜稻粳以密腠理，勞身搖肢以運血氣，居處必燥，飲食避寒，毋大言號哭，毋薄衣洗浴，是謂養骨以堅齒。</p>
<p>八月始生土氣以成膚革，九竅成，臟腑具，手陽明大腸脈養之。毋食燥物，毋輒失食，和心靜氣，毋忽大起，是謂密腠理以光澤顏色。</p>
<p>九月始受石精以成毛髮，兒續縷皆成，百節畢備，穀氣始入於胃，足少陰腎脈養之。飲醴食甘，毋處冷濕著灸。衣緩帶自持以待時，是謂養毛髮以致才力。</p>
<p>十月受母，諸臟氣脈之養，備五臟得氣，六腑通靈，納天地氣于丹田，關節人神皆具，待時而生矣。</p>
<p>前集巢氏、陳氏、徐氏諸說，手足六脈養胎之法，皆準於天地四時，如肝膽為一臟一腑表裡之經，屬木旺春為四時首，故經養始此，歷夏火秋金冬水而氣備。惟手太陽手少陰心脈為君，尊而無為。至於胎繫於腎，為母子真氣所關，養至腎而胎全矣。凡養胎之脈，不可針灸其經，醫者按圖考明，幸勿造次。</p>
<p>此但載飲食起居所宜，諸忌則詳後章，茲不贅。</p>
<p><u>食忌</u></p>
<p>妨母者：食茨菰消胎氣，食驢騾馬肉遇月難產，豆醬合藿香食墮胎，食蟹橫生，食豬肝血敗血，雞子合桑椹食倒生心寒，食一切辛熱物胎熱，食冰漿絕產，食無鱗魚難產。多食豬肚致胞大難出，多食雞致胎熱。</p>
<p>妨子者：雞子合糯米食令子生寸白蟲，食牛肉缺齒，食兔肉缺唇，食犬肉無聲，鯉同雞子食生疳多瘡，食羊肝多厄。食龜鱉蝦膜縮頭短項，食蚌背曲口噤，雀肉同豆豉食麵生黑子，食姜生岐指，雀肉下酒子淫，食山羊多病，食菌致驚風，食雀腦令兒雀目。</p>
<p><u>藥忌</u></p>
<p>蜈斑　水蛭　虻蟲　烏頭　附子　天雄　野葛　衛矛　巴豆　牛膝　薏苡　桃仁　代赭　芫花　蟹麝　大戟　蛇蛻　蜈蚣　牙硝　芒硝　肉桂　丹皮　槐花　南星　半夏　牽牛　皂角　瞿麥　通草　茅根　雄黃　雌黃　乾漆　蜃砂　莪朮　三稜　凌霄　麥芽　商陸　乾薑　地膽　地膽　水銀</p>
<p><u>起居忌</u></p>
<p>起居不慎，最易傷胎破產，今集諸說而詳之。勿亂服藥，勿過飲酒舉重物，此惜身之道。勿登高臨深涉險，勿入巷廟見獰惡神像，致心大驚，非獨難產，且子多癲癇。勿向非常地便溺，恐觸異氣。勿觀劇及殘疾奇怪之人，與並雞走狗弄猴百戲，令心散感異。勿多睡時常行動。勿過勞力，使腎氣不足，生子解顱。衣食勿太溫飽，令脾胃不和，營衛虛怯，子必羸瘦多病。又凡修造有犯胎氣，皆能墮胎損子。刀犯形殘，泥犯竅塞，打擊者色青黯，縛系者筋拘攣，此等應如影響，切宜避之。</p>
<p>【附】載六甲胎神月日所佔方位，切忌修作，犯之有損胎孕</p>
<p>正月（休房）　二月（忌房）　三月（堂門）　四月（灶廚）　五月（休身）　六月（倉休）　七月（磨碓）　八月（戶廁）　九月（房門）　十月（休房）　十一月（灶爐）　十二月（休房）</p>
<p>天干占：甲乙日佔門，乙庚日佔碓磨，丙辛日佔廚灶，丁壬日佔倉庫，戊癸日佔房休。</p>
<p>地支占：子午日佔碓，丑未日佔廁，寅申日佔爐，卯酉日佔大門，辰戌日佔雞棲，己亥日佔休。</p>
<p>合日辰干支並論，如甲子日佔門與碓是也。餘日仿此。</p>
<p>例言：胎前養血氣而已，古人作佛手散，其理至精而未能盡者，以用者不知按月及審時觀人故也。今此一編，至為詳盡穩洽。凡一切稍犯胎氣之藥不錄，非不謂有故無殞也。王道之治能生民，霸者之民非不強，而生息蕃+庶難矣，用者慎之。</p>

<h3>胎前方</h3>
<p><u>佛手散</u>（即芎歸湯三兩）　治一切胎前產後危急之症，安胎最穩，催生最速。</p>
<p>當歸　川芎（二兩）</p>
<p>四次煎服。</p>
<p><u>川芎探胎法</u>　月經三月不行者，以此探之。</p>
<p>真雀腦　川芎</p>
<p>不拘多少為末，濃煎艾葉湯空心泡服。遇二三時腹內微動是胎，否則經滯。</p>
<p><u>安胎散</u>　治胎動不安。</p>
<p>焦白朮　當歸（酒洗。各一錢）　黃芩（錢半，酒炒）　炙草（三分）</p>
<p>水煎服。腹痛，加炒神麯五分；氣虛泄瀉，加蜜玉竹二錢，陳皮去白五分；潮熱，加酒炒紅胡一錢；氣上逆，加枳殼炒三分；</p>
<p><u>安胎散</u>（景岳）　治卒然腰痛下血。</p>
<p>熟地　艾葉　白芍（酒炒）　黃耆（炒）　阿膠（米粉炒珠）　當歸　炙草　地榆（各一錢）</p>
<p>薑棗引，水煎服。</p>
<p><u>四物湯</u>　統治胎前產後，及胎漏惡阻等證。</p>
<p>當歸（酒洗）　熟地（各三錢）　川芎（一錢）　酒白芍（錢半）</p>
<p>水煎服。本方加阿膠二錢艾葉醋炒錢半，名膠艾四物湯。</p>
<p><u>《千金》保孕丸</u>　治怪墮胎常服可免。</p>
<p>杜仲（四兩，用糯米炒去絲）　川續斷（二兩，酒洗）</p>
<p>共為末，山藥糊為丸梧子大，空心米飲，每下八九十丸，忌酒醋惱怒。</p>
<p><u>運生散</u>　臨月服十餘劑，易產。或加砂仁枳殼，兼別證以意增減。</p>
<p>大腹皮（酒洗曬乾）　陳皮（去白。各八分）　蜜玉竹　當歸（各二錢）　焦白朮　酒白芍　炙草（各一錢）　蘇葉（五分）</p>
<p>水煎服，臨產時加青蔥五根，或蔥白七寸，或黃楊尖七枚。春加川芎，夏加黃芩，秋加福泄，冬加砂仁。氣虛倍玉竹、白朮，氣實加香附、陳皮，血虛加當歸、熟地，形實倍蘇葉，性急多怒加黃連、柴胡，熱甚加黃芩，濕痰加滑石、半夏，食積加山楂，腹痛加枳殼、木香。</p>
<p><u>泰山磐石散</u>　治婦人血氣兩虛，或肥而不實，或瘦而血熱，或肝脾素虛，倦怠少食，慣墮胎者。</p>
<p>蜜黨參　蜜耆　焦術（各一兩）　熟地　當歸（各兩半）　續斷　炙草（各五錢）　川芎　黃芩（酒炒。各八錢）　酒芍（六錢）　砂仁（二錢，炒研泡服）</p>
<p>米三合，共作末，服無時。如有他證，加減如上達生散法。</p>
<p><u>安胎飲</u>　妊娠五七個月，多服可保全產。</p>
<p>條參　焦白朮　當歸　熟地　川芎　酒白芍　陳皮（去白）　炙草　黃芩（酒炒）　蘇葉（各一錢）</p>
<p>姜引水煎服，一方有砂仁，以上皆集古方。</p>

<h3>逐月養胎方</h3>
<p>一月</p>
<p><u>烏雌雞湯</u>（參古）　陰陽新合，寒為痛，熱多驚，腰痛腹滿，胞急卒有。</p>
<p>烏雌雞（一雙，治如食法）　茯苓（二兩）　阿膠珠（一兩）　吳萸（三錢，滾水泡）　麥冬（去心）　焦白朮　酒白芍（各五錢）　生薑　蜜黨參（各一兩）</p>
<p>煮雞取汁，下藥布袋，絞去滓，加無灰酒一斤，入阿膠熬盡，忌鐵，不時服。</p>
<p><u>安基飲</u>（袁）　治飲食不進，神氣不調，睡多夢，口小渴，甚見惡阻。</p>
<p>酒白芍　茯苓　當歸（各二錢）　炙草　川芎　薄荷（各一錢）　焦白朮（錢半）　枳殼（八分，炒）　紅胡（六分，酒炒）</p>
<p>水煎服。此養在肝克脾，若舌乾口苦，加酒黃芩錢半。身有寒熱，羌活一錢，倍用紅胡，此時宜食粥。</p>
<p><u>固胎胚湯</u>（高參古）　治傷胎（如跌僕驚犯腹痛卒有所下。下言傷胎仿此）</p>
<p>酒白芍　白芷（各一錢）　黑枝仁（五分）　甘草（一錢）　元參（錢半）</p>
<p>水煎服。若吐血、衄血，加黑荊芥一錢。</p>
<p>二月</p>
<p><u>艾葉湯</u>（參古）　治陰陽踞經，有寒多壤，有熱萎悴，中風寒有所動搖，或心滿臍下懸急，腰背強痛，卒有所下，乍寒乍熱。</p>
<p>艾葉（醋炒）　當歸（酒洗）　黃耆（酒炒各二錢）　丹參（酒炒八分）　羌活　甘草　阿膠（米粉炒成珠。各一錢）</p>
<p>薑棗引。水煎服，日二劑。</p>
<p><u>扶母益真散</u>（袁）　治口吐清水，飲食少進，愛酸冷者。</p>
<p>焦白朮（五錢）　茯苓（八錢）　蜜耆　生耆　川芎（各二錢）　制首烏（三錢）　當歸（四錢）</p>
<p>共研末，不時泡服。如吐痰，加淮藥六錢（炒）。氣滯痛，加陳皮（去白）錢半，紅胡（酒炒）錢半。</p>
<p><u>金雞出谷湯</u>（雷）　治傷胎，練金而散之，使不傷木，出谷保其土（故名）。</p>
<p>黑姜灰　梔子　秦艽　杏仁（去皮尖，各一錢）　種蘿蔔兜（一個）　白菜子（炒香，錢半）　銀杏仁（五粒）　吳萸（二錢，水泡三次，又用黃連煎水炒三次）</p>
<p>研末作散，或作丸，以芎歸湯吞服。</p>
<p><u>豁達散</u>（袁）　治心悶不樂，若有哭泣之狀，飲食時多時少，白帶不止，顏色若浮。</p>
<p>枯黃芩（酒炒）　當歸（酒洗。各錢半）　陳皮（去白）　蒼朮（制）　山通（各八分）　大腹皮（姜水洗）　枳殼（麥炒。各一錢）　志肉（甘草水泡五分）　茯苓（三錢）</p>
<p>萱草引。水煎服一劑，不愈加酒白芍二錢再服。又或用五倍料米飲和為丸，萱花煎水吞。</p>
<p>三月</p>
<p><u>茯神湯</u>（古）　治傷胎。</p>
<p>茯神（三錢）　龍骨（煅，一錢）　蜜黨參　當歸（酒洗。各三錢）　阿膠珠　丹參（各錢半）　炙草（一錢）　赤小豆（百粒）</p>
<p>大棗三枚引，此時並宜常服千金保孕丸（方見卷首）。腰痛，加桑寄生二錢。</p>
<p><u>胎驚散</u>（參古）　治驚恐憂愁嗔怒，傾僕動經，腹滿繞臍苦痛，或腰背痛卒有所下。</p>
<p>延胡（酒炒，二錢）　熟地　枸杞（鹽水炒）　杜仲（鹽水炒）　甘草（各一錢）　當歸（酒洗，二錢）　酒白芍　川芎（各錢半）　木香（五分，另磨）</p>
<p>蘇葉引。水煎服，一方用紅棗益母草。</p>
<p><u>引火能丹</u>（袁）　治寒證面目青，腹微痛，四肢青而冷，大便青。</p>
<p>吳萸（水泡）　淮藥（炒黃，各二錢）　當歸　茯苓　焦白朮（各三錢）　橘紅（酒炒，一錢）　砂仁（三分，炒研泡服）</p>
<p>陳米引。煎服二劑。腹脹，加大腹皮，或用三料陳米糊丸。</p>
<p><u>水虎丹</u>（袁）　治熱證舌乾口苦，小便黃赤，衄血吐紅，痰塞。</p>
<p>桑白皮（去油，二錢）　生地（酒洗）　當歸（酒洗。各三錢）　連翹（去間）　桂心（酒炒）　白芷（各一錢）　生白芍（錢半）　升麻（酒炒三分）</p>
<p>姜引。水煎服。腹脹，加大腹皮，姜水洗，粗筋一錢。</p>
<p>四月</p>
<p><u>調中湯</u>（參古）　治傷胎。</p>
<p>焦白朮　當歸（酒洗，各二錢）　酒芍　川芎　靳艾（醋炒）　甘草　續斷（各一錢）　厚朴（姜水炒，夏月用一錢，余月五分）</p>
<p>煨姜一錢，為梅三個引。水煎，童便對服。</p>
<p><u>歸原散</u>（高）　治跌足驚胎，噯清水不止。</p>
<p>陳米（炒）　當歸（酒洗。各二錢）　續斷　酒芍（各一錢）　木香（三分）　茯神（錢半）</p>
<p>大棗三個去核引。午後煎童便對服。一方加荊芥穗、香附各二錢，俱用童便炒七次，溫服。</p>
<p><u>菊花湯</u>（古）　治有寒欲嘔，胸滿惡食，有熱，小便如淋，臍下苦急，中風寒，頸項強痛寒熱，或驚動身軀，腰背腹痛，胎上逼胸，卒有所下。</p>
<p>菊花（雞子一大團）　麥冬（去心）　熟地（各二錢）　元參　紅胡（酒炒）　甘草（各一錢）　當歸（酒洗，三錢）</p>
<p>姜一錢，棗四個。泉水煎，日服一劑。</p>
<p><u>如意散</u>（高）　治心慌心恐。</p>
<p>茯神　大腹皮（姜水炒）　福世（鹽水炒）　正芎（各一錢）　續斷（錢半）</p>
<p>靳艾一撮，烏梅三個，泉水煎服，二日一劑。一方遠志代續斷。</p>
<p>五月</p>
<p><u>阿膠湯</u>（古）　治有熱頭暈心亂，嘔吐有寒，腹脹痛，小便數，卒有恐怖，四肢痛，寒熱，胎動無常處，悶頓欲僕，卒有所下。</p>
<p>阿膠珠（四錢）　麥冬（去心）　黃芩（酒炒。各一錢）　當歸（酒洗。錢半）　酒芍　元參（各一錢）　吳萸（泡五分）　旋覆花（二錢）</p>
<p>生薑三片引。水煎服，一方用志肉一錢，化青二錢，去阿膠。</p>
<p><u>厚重湯</u>（孫）　治虛中有熱，胎動欲墮。</p>
<p>生地　熟地　當歸（酒洗。各三錢）　杜仲（鹽水炒）　酒芍　續斷（各錢半）　淮藥（二錢，炒）　紅胡（酒炒，八分）　青皮（六分）　炙草（一錢）　枸杞苗（四錢。切如谷大，米湯蒸，蜜炒乾）　竹茹（一錢）</p>
<p>生薑一錢引。作散，或湯或以米飲和為丸，米飲吞。虛汗，加銀柴胡錢半（酒炒）去紅胡。氣急腹滿，加大腹皮（去白）、陳皮（各一錢）。</p>
<p><u>安中飲</u>（古）　治傷胎氣，三五七月易墮，土火不足，法宜清火逐淫。</p>
<p>黃芩（酒炒）　生地（酒洗，各三錢）　川芎　酒芍（各二錢）　五味（火炙）　草蜜條參（各一錢）　當歸（四錢，酒洗）　麥冬（去心，五錢）　大麻仁（酒蒸，二錢）</p>
<p>生薑、大棗引。此方身體沉重，卒有所下，咳嗽煩渴，體實者宜之。若體虛者，用安胎飲、磐石散（二方載卷首）。</p>
<p><u>因因保生湯</u>（袁）　治婦人素有熱，舌乾，口渴，口苦，身微熱，無津，白帶下，體壯，或染外熱。</p>
<p>吳萸（泡，二錢，又用黃連錢半，煎水，炒後，並將黃連合煎）　青皮　陳皮（去白。各一錢）　甘草　麥麩　元參　石斛（各二錢）　黃芩（二錢略，用酒炒，熱甚生用）</p>
<p>車前草引。</p>
<p><u>麥門冬湯</u>（古）　治驚怖寒熱，手足痛腫，腹脹痛，忽有所下，如欲產然。</p>
<p>麥冬（去心，二兩）　洋參（三錢，姜蒸熟）　炙草（一錢）　生地（五錢）　黃芩（酒炒）　阿膠珠（各一兩）</p>
<p>薑棗引，煎服。本方加益母草兩半，白蜜五錢，白芷三錢，名益母安中飲，治同而效速。氣滯痛脹，加香附八錢，醋、鹽水各炒一次。</p>
<p><u>老壽星湯</u>（古）　治卒如驚恐，歌哭見怪，似痰非痰，面赤舌青，若中風寒狀。</p>
<p>生白芍　麥冬（去心）　當歸（酒洗。各三錢）　淡竹葉　連翹（去間）　防風（各錢半）　五味子（十粒）　麥米（五合）　黃芩　秦艽　黃連（均用酒炒）　胡椒（研。各一錢）</p>
<p>以豬肺四兩煮湯，去肺及油沫，入藥煎去滓服一劑。</p>
<p>七月（七月病多不能備載，但將可以墮胎之證。開明此時有正產者，有試痛者，有轉胞者，凡此皆不常，不可慌急臨盆，但服佛手散、安胎飲，靜待而已。二方載卷首）</p>
<p><u>蔥白湯</u>（古）　治忽驚恐動搖，腹痛卒有所下，手足厥冷，復如傷寒，煩熱腹滿，氣短口苦，項腰背並強。</p>
<p>蔥白（三四寸，長者四根，短者六根，南方不用四季蔥）　黃耆（酒炒，四錢）　當歸（酒洗，四錢）　秦艽（酒炒，一錢）　黃芩（酒炒，錢半）　麥冬（去心，二錢）　旋覆花（酒炒，四錢）　甘草（一錢，四分）</p>
<p>老薑、桑白皮引。少加酒煎，藥搗蔥白泡服。</p>
<p><u>疏尊飲</u>（高參古）　治骨軟如癱，腹如裹急，腰痛胎欲墮。</p>
<p>生地　熟地（各三錢）　骨碎補（酒炒）　福泄（鹽水炒。各一錢）　蘇枝（三錢）　枝仁（炒）　苦參（各五分）　陳皮（去白，二錢）　枸杞苗（三錢，切如谷大，米湯蒸透，用蜜炒乾）　蘇兜（二個）　織布棉紗尾（一兩）</p>
<p>水煎服。欲嘔，加稻草根二錢。</p>
<p><u>七寶生生散</u>（袁）　治傷胎亦可，治正產等證。</p>
<p>銀杏仁（六粒）　杏仁（去皮尖）　龍眼肉（各十粒。去核）　大棗（去核，二十粒）　棗仁（一錢，炒）　胡桃肉（三個）　烏梅肉（五個）</p>
<p>共研作丸（三四十粒），龍眼包之，亦可將紫蘇兜梗枝葉全者一本，另煎水，每次煎川芎一錢，當歸二錢，對以紫蘇水吞丸十粒，天氣燥服七八丸。</p>
<p>八月</p>
<p><u>天成玉液丹</u>（袁參雷）　治目眩頭暈口苦，寒熱身痛四肢脹。</p>
<p>升麻（五分）　紅胡（酒炒）　白芷（各一錢）　黃芩（酒炒）　續斷（各錢半）　桔根　甘草　薄荷（各一錢）　酒芍（二錢）　羌活（一錢）</p>
<p>姜引。水煎服。</p>
<p><u>地平金鎖丹</u>（雷）　安胎止漏，治腰臍足痛，有所下，煩滿不食。</p>
<p>獨活　梔子　淮藥（炒）　黃耆（酒炒。各一錢）　厚朴（姜水炒）　黃芩（酒炒）　杜仲（鹽水炒。各錢半）　當歸（酒洗，二錢）</p>
<p>冬青木根引。水煎服。</p>
<p><u>海龍塞開湯</u>（袁）　治傷胎。</p>
<p>白芥子（炒錢半）　連翹（去間）　麥冬（去心）　福泄（鹽水炒）　甘草　川芎（各一錢）　延胡（八分）　杏仁（去皮尖。五粒）　五味（十粒）　枸杞（酒炒，二十粒）　當歸（酒洗。三錢）</p>
<p>煎水，泡通大海一粒服，此時亦能生，而成人如七月法治之。</p>
<p>九月（九月正生矣，即不生不遠矣，服濟生丸可。預備臨產藥以待）</p>
<p><u>陽升丹</u>（袁）　治腰膝痛，頭暈，目如見鬼，妄言妄行，非痰病。</p>
<p>當歸（酒洗，二兩）　黃耆（酒炒半，蜜炒半）　川芎（各一兩）　防風（二錢）　酒白芍　麥冬（去心，各五錢）　花粉（一錢）　神麯（錢半，炒）　羌活（三錢）　杜仲（鹽水炒）　續斷（各四錢）</p>
<p>水煎。用佛手柑搗爛作三次泡服，如無鮮者即以市中佛手片入藥煎服。</p>
<p><u>濟生丸</u>（於氏新方）</p>
<p>枳殼（炒）　生地　熟地（各三錢）　川芎（一錢）　補固脂（酒炒）　青皮　酒白芍（各二錢）　小茴（一錢炒）</p>
<p>共研末，用東流水浸一宿，又以東流水煮灰面半斤，傾入先浸藥內，攪令稠如糊，再以黃芩酒炒末錢半，當歸搗如泥五錢，合而搗作丸。</p>
<p>十月（十月治法同九月，當歸補腎行氣，方無一定，不可殫述。傷胎服佛手散，載卷首，此時勿妄用藥〕</p>
<p>此為平常無病婦人而設，故凡中風寒及外感之病皆不錄。至於胎前雜病，症數不一，臨時延醫治之，聿有成書，不難推考。此集藥味，務宜平穩，一切有犯胎氣之藥概不收入，為不行醫不知藥性而設。若有故無殞，在善醫者慎用，茲不贅。又世有過月不產者，方證載後。</p>
<p>十一月</p>
<p>胎孕十一二三四月而生，常事也。前人但云氣血養胎，有餘而會，不立一方，何哉？不知胎受氣既足，自然瓜熟蒂落，何能久處腹中而悶坐數月乎。此乃血氣有餘而胎不足，因前十月之養不備也。必轉而乞養於肝，水木相生，生生之妙也。十一月者補其肝，補肝而膽實，膽實而精壯矣。決不可以為怪胎，妄用下藥。</p>
<p><u>安胎飲</u>（古，載前）　治傷胎，倍加蘇葉。</p>
<p><u>生生無已丹</u>（袁）　過時者，一月養傳二經，十一月宜服此。</p>
<p>熟地（四錢）　棗皮（炒）　茯苓　生芍（各二錢）　當歸（酒洗）　淮藥（炒，各參錢）　福泄（鹽水炒）　川芎（各錢半）　紅胡（酒炒，一錢）</p>
<p>水煎服。</p>
<p>十二月</p>
<p><u>天王補心丹</u>（古）　治心悸。</p>
<p>生地　蜜黨參　元參（炒）　丹參（炒）　茯苓（一方用茯神）　桔梗　志肉（炒）　棗仁（炒研）　柏子仁（炒研去油）　天冬（炒）　麥冬（去心炒）　當歸（酒洗）　五味子（炒。各一錢）</p>
<p>蜜丸彈子大，臨臥燈心湯吞一丸，或噙化。一方有石菖蒲四錢無五味，一方有甘草。</p>
<p><u>坤元載定湯</u>（袁）　此時胎養於心脾服此。</p>
<p>茯苓　茯神（各四錢）　志肉（甘草水，泡錢半）　當歸（酒洗，三錢）　酒芍（二錢）　陳皮（去白，錢半）　炙草（一錢）</p>
<p>水煎，將黑芝麻、黑豆各二合，炒熟搗融，乘藥熱泡服。</p>
<p>十三月</p>
<p><u>子母交養丸</u>（袁）　此時動與舉止皆較常胎不同，土金交養故也，非怪也，此方主之。</p>
<p>白芨（另蒸水）　茯苓　焦白朮（各二錢）　蜜黨參　元參　炙草（各一錢）　麥冬（去心，錢半）</p>
<p>共研末，白芨水和丸乘濕服。</p>
<p><u>鋤金飲子</u>（袁）　治傷胎。</p>
<p>鬱金（酒炒，錢半）　陳皮（去白）　枳殼　麥冬（去心）　白芨　黃耆（酒炒。各一錢）　焦白朮　金銀花（各二錢）　桑枝（取近尖者七個，三寸長，蜜炒）</p>
<p>車前草引。水煎服。</p>
<p>十四月</p>
<p><u>六味地黃丸</u>（古）</p>
<p>熟地（砂仁酒拌蒸，四錢）　山茱肉（酒潤，錢半）　山藥（炒三錢）　茯苓（乳蒸二錢）　澤泄（鹽水炒，錢半）　丹皮（酒洗，五分，此味傷胎，故臨月亦輕用）</p>
<p>蜜丸，空心服，或湯劑亦可。</p>
<p><u>六君子湯</u>（參古）　傷胎用此，合保孕丸服（保孕丸載卷首）。</p>
<p>蜜玉竹（四錢）　焦白朮　茯苓（各二錢）　陳皮（去白）　炙甘草（各錢半）　法夏（滾水泡七次，姜水炒，錢半）</p>
<p>水煎服。</p>
<p>此古書不載者，凡孕過月不明，用探胎法。過月不產，有此數方，切勿視為泛常可也。</p>

<h3>【附】子癇子懸（胎孕子病多，而最急最可懼者莫如子癇、子懸二證，故特標出，非掛漏也）</h3>
<p><u>羚羊角散</u>（古）　治子癇，子癇之症有二，曰心脾不足。心不足者，虛中有熱，手足搐掣，眼向上而淡紅，聲鴉而不長，一發或如死是也，此方主之。脾不足者，血不養胎，手足拘攣，眼昏昏如睡，聲如常，一發一刻而止是也，坤載湯主之大。抵在四五月者，責在心，在六七者，責在脾。</p>
<p>羚羊角（鎊）　川獨活　棗仁　五加皮　薏苡仁　防風　當歸　川芎　茯神　杏仁（去皮尖。各五分）　炙甘草　木香（各一分）</p>
<p>姜五片。水煎服，若因肝經風熱，或怒火所致，須用加味逍遙散。</p>
<p><u>坤載湯</u>（高）　治脾不足成癇。</p>
<p>蜜耆（二錢）　當歸（酒洗，二錢）　連翹（去間）　川芎　蜜黨參（各錢半）　棗仁（炒）　淮木通（酒炒，各一錢）</p>
<p>大棗二十個引。水煎服，有寒帶虛者，加麻黃（蜜炒），二錢。</p>
<p><u>降真散</u>（袁）　治子懸證。妊至四五月，相火養胎致胎熱氣逆湊心，心腹脹痛。</p>
<p>黃芩（酒炒，二錢）　黃耆（酒炒，八分）　蘇葉　薄荷　川芎（各一錢）　枳殼（炒）　生地（酒洗。各錢半）</p>
<p>水煎服。若熱盛者，黃芩用三錢。或因事致胎上逼，加阿膠、艾葉。或上逼而痛甚，加當歸一錢蘇葉改蘇子。或因寒在下焦，加羌活一錢，杜仲一錢。或因寒在中焦，加砂仁（炒研）五分泡服，焦白朮一錢。</p>

<h1>卷中</h1>

<h2>臨產門</h2>

<h3>六字真言</h3>
<p>一曰睡：臨產必須睡者，以睡則腹平，子易轉身，且胞血不致太傾，令胎滑而易出，並免臍絆兒肩頸，致兒急出有斷臍之事，又橫生逆產，皆由轉身不及故也。凡橫生逆產者，急令仰臥，托其手足入，用催生藥極驗。若跪坐生法，終是不穩，故睡為第一法。</p>
<p>二曰忍痛：痛者人所難忍，不知痛既痛矣，不忍若何？不忍痛則不能睡，而必急急臨盆，只一不忍痛，而六字皆虛設也。不忍則必大呼號哭，以耗其氣，產後多氣脫。不忍則必循休顛倒，以動其血，產後多血暈，並至於橫逆產難而不知也，可不忍哉，故忍痛為第二法。</p>
<p>三曰慢臨盆：產母臨盆，必待時刻，臨盆急，用力早，至當用力時已無力矣。故忍痛以待時，睡以舒體。若太早則血破胞干，兒不能出者有之。或交骨未開，勉強臨盆，兒頭半出而不能出者有之。又或兒既出矣，而胎未下，產門隨閉，以致數日不出，且用力過度，兒不能轉甚，則變為橫倒。凡此皆以急臨盆故也，切不可聽穩婆言，以為兒頭將出，急令臨盆，性命攸關，何苦草草，故慢臨盆為第三法。</p>

<h3>臨產總論</h3>
<p>人無不由母生，此常事也。足月而生，正理也。草木拆甲而出地，禽鳥破卵而成雛，此皆物之無知孰為，催之孰為藥之夫。草木在肥土而生芽速，燕雀得純陽而雛易成，如產母之血氣足者，然他如瘠土之物難生鵝鷇？彌月不出，皆其常，無足怪者，聽其自然而已。世人無知，而自損其命，豈不痛哉？古人六字真言，可謂法良意美，予不復贅。但取古方，擇其尤精者並參以己見，略纂一卷，簡而最精，明而易用，平日講之，倉卒閱之，危難即解。原世人不以為誕而唾棄之可耳。志臨產。</p>
<p><u>例言</u></p>
<p>凡臨產之家，安置產室，預備藥物，勿用穩婆，須擇生子多之老婦一人。令其探實，看在何時用何藥。芎歸湯最神者也。他如下載各方，以時取用，最穩最精，其應如響。又有臨產諸方，可以治產難者，各於主治詳載，細心體之，萬無一失。</p>
<p><u>正產</u></p>
<p>正產兒，頭將順未順，胞漿已破，下血，腰痛腹痛，目爆花，中指動，是其外候。此時照六字真言最穩，下載方藥可以審用。</p>
<p><u>佛手散</u>　見胎前方內。催生最穩最速。水煎，加入酒盞半，又煎五七沸溫服。如口噤，擀開灌之，少頃又灌，盡此一料立產。</p>
<p><u>加味芎歸湯</u>（古）　治三五七日不下，唾死及交骨不開，神效。</p>
<p>當歸（一兩，酒洗）　川芎（七錢）　龜板（手大一塊約五六錢，醋炙研細）　女發（雞子大一團，瓦上焙，存性）</p>
<p>水煎，溫服。</p>
<p><u>大料四物湯</u>（古）　治瀝漿生者，先來清水數日，致胎干難產，急急用之。</p>
<p>當歸頭（二兩，酒洗）　酒芍　川芎（各一兩）　熟地（三兩）</p>
<p>房內熬煎，使產婦口鼻達其氣，以滋益之。又連服上加味芎歸湯，以生下為度。</p>
<p><u>達生散</u>（古）　臨產服最效。</p>
<p>蜜玉竹　當歸頭（各二錢）　焦術　酒術　酒芍　炙草（各一錢）　陳皮（去白）　大腹皮（酒洗曬乾，各八分）　蘇葉（五分）</p>
<p>水煎服，臨產時加青蔥五根，或蔥白七寸，或黃楊尖七枚。又春加川芎，夏加黃芩，秋加福泄，冬加砂仁。若系氣虛，倍用玉竹、焦術。氣實加香附、陳皮。血虛加當歸、熟地。體實倍蘇葉。性急多怒加黃連、柴胡。熱甚加黃芩。濕痰加滑石、法夏，食積加山楂，腹痛加枳殼、木香。</p>
<p><u>保生無憂散</u>（古）　臨產服，補血順氣，即胞厚蒂牢，皆可易產，無瘀血腹痛。</p>
<p>當歸（酒洗）　川芎　酒芍　乳香（制，另研泡）　枳殼（麩炒）　血餘（燒存性）　南木香（等分）　炙草（一錢）</p>
<p>水煎，作二次服。乳香、血餘、木香泡服無時。</p>
<p><u>開門丹</u>（參古）　治兒頭逼到產門不下。</p>
<p>紅芽柞木尖（七個）　當歸（二兩）　川芎（一兩）　蜜當參（二兩）</p>
<p>水濃煎，服少頃，必生。</p>
<p><u>如聖散</u>（參古）　專治難產。</p>
<p>蘇葉　白芷（不見火為末）　麥冬（去心，各一錢）　當歸（酒洗）　生地（酒洗）　熟地（各二錢）　地榆（五分）</p>
<p>急流水煎，每服三五錢。</p>
<p><u>來蘇散</u>（古）　治用力太過，氣脈衰微，精神困倦，目眩頭暈，口噤面青，髮直，不省人事。</p>
<p>木香（三分）　神麯（炒）　陳皮（去白）　黃柏（酒炒。各一錢）　淮耆（酒炒）　阿膠珠　酒芍（各三錢）　甘草（一錢）　糯米（合半）</p>
<p>生薑三片炒黑引。水煎，擀口灌之，連進為妙。</p>
<p><u>三合濟生湯</u>（參古）　治難產。雖一二日不下者，服此自然轉動下生。</p>
<p>當歸（五錢，酒洗）　川芎　枳殼（麩炒）　香附（去毛，酒炒）　大腹皮（姜水洗，各二錢）　粉草（一錢）　蘇葉（錢半）</p>
<p>不拘痛與否，但似正產，即煎服此，即非正生亦不妨。一方加白芷一錢。若交骨不開，加入龜板酒酥三錢，紅芽柞木尖七個。胎氣脹痛，欲轉不轉，加黃楊尖七個，淮牛膝錢半，柞木黃楊必見之的乃可用，否則只用本方。</p>
<p><u>七黑丸</u>（高）　腰痛方可用。</p>
<p>延胡（酒炒）　荊芥（炒黑，各二錢）　元參　瞿麥（炒黑。各一錢）　川芎皮（錢半）　百草霜（五分）</p>
<p>共為末，米飲和丸。本方加乳香、沒藥（制）各錢半，米飲和丸，名先生丸，治同。</p>
<p><u>滑胎散</u>（古）　催生。</p>
<p>益元散（一兩，節甘草、滑石、六一散）　全蟬蛻（五個）　山甲珠（一片）　男發（一團，香油熬化）</p>
<p>研，急流水煎，二沸入發灰，拌勻，冷定去滓，服之立下。</p>
<p><u>神效乳砂丹</u>（古）　治難產。</p>
<p>明乳香為細末，以豬心血和丸，硃砂為衣，曬乾，每服一丸一錢，重嚼碎，冷酒下。良久未生，再服。或以荷葉蒂七個，煎水化服二丸，良久未生，再服（合丸）。五月五日午時極妙，或七月七，三月三，及月初上吉日，須焚香致敬，設藥王位對東方，每料作五丸，閤中土之數，或七丸，合春數。又法：令產婦兩手各握一石燕，口唸醫巫藥聖，徐行數步。</p>
<p><u>脫瓜煎</u>（袁）　無論試月、正產，古有芎歸湯，百無一失，予立此方，治腰腹急痛，不知正產試月，服之立辨。</p>
<p>當歸（四錢，酒洗）　酒芍　焦術　杜仲（鹽水炒，各三錢）　陳皮（十白，半去白）　黃芩（酒炒）　茯神（各二錢）　炙草（錢半）　木香（三分）</p>
<p>薑棗引。順取急流、不流二水煎，又以羌活二兩，蔥白四十根（大者十根，約四兩重為度），韭菜根一兩，野菱角苗，一本無則以乾荷葉三皮代，斑竹籜二兩，取急流、不流二水各一斛，煎藥乘熱氣之，夏加斑竹葉百皮，冬加生老薑、胡椒各一兩煎氣，如無流水，將竹一籩作梘，令急流取用。</p>
<p><u>催生符</u>　從「速」字左旋到「身」字，接寫「急急」句，然後寫「牛」字塗沒，寫「馬」字亦塗沒不見。</p>
<figure>
<img alt="圖">
</figure>
<p>黃紙朱書於見天處，對三光設香燭，誠敬書之，或夜不見月星，但對天燃燈燭書之，切忌入婦女手。於臨產時焚潔淨，碗內開水泡服，即生。生後當天叩謝代書者，不可索謝，但囑主家當天謝之。或先期書。或臨期書。隔居遠者，或符未服，兒已生下，主家亦必當天焚符，叩謝，不可輕褻。</p>
<p><u>產難</u>（胎死腹中、橫生、倒產）</p>
<p>生產常事，不意而致產難，尤不可不慎呼吸，在爭一刻時耳。古語面赤舌青，母活子死；面青舌赤，子活母亡；面舌俱青，母子俱死。若橫生、逆產，母子亦有生死之別。以下藥方有並載於前者，擇而用之。</p>
<p><u>佛手散</u>　見胎前方內。治子死腹中，立下，及橫生倒產。加熟黑豆、童便。</p>
<p><u>加味芎歸湯</u>　見前正產內。治胎死腹中及橫生倒產。</p>
<p><u>平胃散</u>（古）　治胎死三日不下，指甲舌俱青，脹悶，口中糞臭。</p>
<p>蒼朮（米泔炒）　厚朴（姜水炒）　陳皮（去白。各三錢）　炙草（一錢二分）</p>
<p>酒水各半，煎加朴硝二錢，再煎三五沸溫服，胎化血下。</p>
<p><u>烏金散</u>（古）　治難產或熱病胎死腹中，或顛仆，或下之太早，胎干身冷不出，有面舌唇青等證；又或雙胎一死一活，須臨時觀變。</p>
<p>熟地（洗切焙乾又酒焙）　大當歸（酒洗。各四錢）　蒲黃（炒黑，錢半）　交趾桂（三分研泡）　酒芍（二錢）　良薑（去皮酒炒）　炙草（各一錢）　小黑豆（一合炒）　百草霜（五分，研泡）</p>
<p>先進佛手散，後用此。</p>
<p><u>化生龍鱗湯</u>（參古）　治十月已滿，因多恣情及多吃熱毒物，瘀血相搏，臨產逆，倉忙不謹，胎死腹中。</p>
<p>茺蔚子（三錢，如春夏取生益母草搗汁一杯，不用子）　鳳仙子（約三百粒）　當歸（五錢，酒洗）　陳枳殼　生地（各二錢酒洗）　蘇葉　川芎（各錢半）　陳艾（醋炒）　甘草（各一錢）　活鯉魚（一個，約半斤重，小者三四個約一斤）</p>
<p>分作二服，每用水三碗，先將魚入水內，坐火上略溫，急取魚出，魚死則難效。後下藥，煎至二碗，服時入好醋一茶匙，每一碗和調七黑丸一顆。如胎死不下，急取無根水再煎，連服二次即下。一方加大棗十枚，白芷重一錢者一根，不切搗之。</p>
<p><u>催生立應散</u>（古）　治橫生逆產。</p>
<p>車前子（五分）　當歸（五錢酒洗）　冬葵子　白芷　大腹皮（姜水洗，一錢）　淮牛膝　枳殼　川芎　酒芍（各錢半）</p>
<p>水煎服。</p>
<p><u>益母湯</u>（古）　治胎死腹中，橫生倒產及胞貫血。</p>
<p>益母草（搗取汁七合）</p>
<p>煎半頃，服之立下。無新者用乾者一大把，水煎服。</p>
<p><u>轉頭丹</u>（古）　治橫生倒產。</p>
<p>蜜耆　川芎（各二兩）　當歸（三兩，酒洗）　朵紅花（八分）</p>
<p>胡椒三粒、荷葉三個引。水煎速服。不效再服。倘兒頭在門不出，速服開門丹（方見正產內）。又方取燕子窩大者半個，小者一個，連泥草糞用水本四五碗，煎數滾澄清，令產母飲一碗，即順生。</p>
<p><u>黑神散</u>（古一名催生如神散）　治橫生、逆產，其功甚大。</p>
<p>百草霜　白芷（不見火，共為末等分）</p>
<p>每以童便米醋和如膏，滾水調服二錢。或童便酒煎進二次，血見黑則止。此藥既固血又免血涸，甚妙。一方加滑石煎芎歸湯調下，方見胎前內，婦人素有內傷病者，不可用。</p>
<p><u>柞木引子</u>（古）　治橫生逆產或胎爛，腹中脹悶。</p>
<p>生紅芽柞木（一尺長，洗淨寸銼）　大甘草（五寸長，銼作五假）</p>
<p>以新汲水入新磁器內，紙三層封緊，純火煎，候腰重痛時溫飲一小盞，心下便開豁。如渴，再飲至三四杯，覺下重便生。一方加龜板酒酥一兩，名水陸二仙救苦湯，治同。</p>
<p><u>牛膝湯</u>（古）　治胎死不下，體素虛及有內傷病者忌用。</p>
<p>淮膝（三錢）　瞿麥　歸尾（各二錢）　冬葵子（一錢炒）　通草（五錢）</p>
<p>水煎服。一方有桂心（酒炒）二錢。</p>
<p><u>達生散、滑胎散、保生無憂散、神效乳砂丹</u>　並見本卷之首兼治產難。</p>
<p><u>雷公誦佛法</u>（古）　治橫生倒產。</p>
<p>令本婦口唸「無上至聖化生佛」百遍，並以鹽少許察兒手足，即縮入，或用黃丹擦亦可。又用蜜黨參、當歸酒洗各一兩，蜜耆二兩，熟付一錢，急煎速服。</p>
<p><u>脫胎薰法</u>（高）　治橫生倒產。</p>
<p>慄木　槐木　紅芽　柞木（各大如杯長一尺直者）　稀節竹（不拘何竹擇節稀至七八寸者二筒）　紅莧菜苗（大者三根，小者三十，根無苗則用子，一兩）　生牛膝（三兜連苗生用，無則用乾者，一兩）　千腳泥（一斤）　左草鞋（一隻）</p>
<p>共煎水一大鍋，桶盛提至房中，令產婦通其氣，即順生。</p>
<p><u>治橫生倒產符</u></p>
<p>令天地日月星（江海順流）。大德曰星。咒曰：生生生，何事倒而橫我，今施正法，勿損母命，勿損兒身，急急如天醫使者律令。</p>
<p>此符不拘硃筆、墨筆、黃紙，書後誦咒一遍，其餘一切並與前符同。橫倒者服下即順，令產婦口唸：無上至聖化生佛。</p>

<h1>卷下</h1>

<h2>產後門</h2>

<h3>四字真言</h3>
<p>一曰靜。產婦血氣兩傷，動固不能，而貧寒之家，以無人在側而洗兒取水者有之，自入房中開箱篋取衣服，登高取物者亦有之，此為動形，傷已亡之血。富貴之家婢媼紛集，不必勞形，而主中饋者以家事動心，年少者以不如意動心，心動傷已亡之氣，故宜靜。不惟此也，並旁人亦宜靜，血虛者心易動，心沖而血暈至矣。故不於房中高聲，亦不以男女悲喜，令其心安，此為外靜。</p>
<p>二曰淡。產婦飲食不在肥甘，淡而已矣。吳俗以齏粥，楚俗戒食鹽，雖似過甚，然亦有益。至於炒雞為食，或以煎醬為食，或以海味為食，俗有不一，總非合宜。凡產後食淡，煮雞子、食軟飯，及三日後，與以肉食，亦以淡為主。三日內飲淡酒，三日外與略醇酒，蓋咸則傷腎，後或絕產。酸則傷肝，行步維艱。煎炒厚味傷脾，至於血無所統而萬病作矣。飲酒者傷氣，且傷其乳，故宜淡。</p>
<p>三曰坐。產婦血下，血水也。激之可上，流之可下。故未產宜睡，而已產宜坐，使血不上攻故也。亦須軟褥厚被，冬溫夏涼，此坐之一法。</p>
<p>四曰樂。產後何憂，憂嗣息境遇而已。生兒者，貧寒憂其難養，富貴憂其難成。若生女，則憂益甚，不知境遇自天，嗣息自命，憂亦何益。又有可恨者，生女溺之，身上一塊肉，口雖不言，心其無悔。鬱抑之氣，結於心胸，先欲望子嗣，而或成蓐勞，身之不存，子將安出。宜老成達人預為明說，生男生女不用悲嘆，即旁人亦不用悲嘆，蓋樂則血氣易和，血氣和而後無難成胎也，故宜樂。</p>

<h3>產後總論</h3>
<p>兒既出，胎無他事矣。所慮者，胞不下及血亡過多而血暈，產門不閉，子腸不收，惡露不行不止而已。夫臨產與產後，止瞬息異名耳。症本有難分者，以此出胎之一刻也。然不分之，而使倉卒難於翻閱，亦有不可。今但將試驗各方，並己見數方列於後，其產婦蓐勞、傷寒等症不下數十，難以枚舉，亦無定方，概置不錄。非以卷頁少而忽之也。志產後。</p>

<h3>產後方</h3>
<p><u>緊衣散</u>（古）　防胞衣不下，最好須預備之。</p>
<p>生白礬（研極細末，三五分）</p>
<p>當兒才生下時，隨以開水調服，胞即收緊。縱不下無妨。又法：於兒才生下，已服礬末時，將產母扶半起，令一人從背後來，以兩手操抱產母腹，從臍以上起向下刮之，其胞即出。</p>
<p><u>愈風散</u>（古）　預防產後血暈、血風等症，並治一切血分病。</p>
<p>荊芥穗（童便炒七次令黑存性，不拘多少研細末）</p>
<p>兒才生下時，開水和童便調服三錢。</p>
<p><u>四味合愈風散</u>（參古）　治產後一切疾病，才生下即服之妙。</p>
<p>當歸（酒洗，三錢）　延胡（酒炒一錢）　血竭（酒浸略炒）　沒藥（制。各錢半）</p>
<p>水煎調愈。風散二錢服。</p>
<p><u>治胞衣不下方</u></p>
<p><u>佛手散</u>　見胎前方內，　益母湯　見前產難內，治胞貫血。</p>
<p><u>奪命散</u>（古）　治胞衣不下及胞貫血，才生下即服好。</p>
<p>沒藥（制）　血竭（制同前，各二錢）</p>
<p>共研末。用童便陳酒各半杯，煎一二沸，調服二錢，良久再服。惡血下行，不至上攻。</p>
<p><u>牛膝湯</u>　見產難方內。治胞不出，臍腹堅脹，急痛即殺人，服此爛下。</p>
<p><u>加桂芎歸湯</u>（古）　治胞衣不下，因產母元氣虛薄，以此溫之自下。</p>
<p>川芎　當歸（各二錢）　肉桂（一錢，研末泡服）</p>
<p>水煎服，體虛及有內傷者宜。</p>
<p><u>黑神散</u>（古）　治胞不下，血氣攻衝，心腹痞有寒者。</p>
<p>當歸（酒洗）　酒芍　熟地　乾薑（泡炒）　桂心（一方用肉桂）　蒲黃　炙草（各一錢）　黑豆（炒去皮一杯）</p>
<p>共為末，每煎童便、酒各半杯，調服二錢。</p>
<p><u>加味芎歸湯</u>　見臨產內。下胞。</p>
<p><u>保生無郁散</u>　見臨產內。治胞厚不出。</p>
<p>一方　胞不下，用食鹽炒熨小腹，向下熨。又方用滾湯泡團莧菜子一錢服。</p>
<p><u>褪衣散</u>（古）　治胞衣不下。</p>
<p>於五月五日，六月六，七月七，九月九，或月下旬吉日，五更時出門至水邊，不天明採荷葉，法用快刀一把，長柄，撈箕一隻亦長柄，先將撈箕放貼水荷葉邊，即將刀斷其梗，隨用刀翻其里向上入撈箕內，持歸，不令人見、雞犬見。掛於無人到處，檐下風乾，不見日。臨用，剪蒂三個，燒灰存性，滾水泡服。</p>
<p><u>剪衣散</u>（古）　治胞衣不下。</p>
<p>取芡實葉徑一尺者，採法收法禁忌並與上褪衣散同。臨用剪作數片，燒存性，滾水泡服，胞自片片脫下。</p>
<p><u>竹裂飲</u>（高）　治產後惡血衝心，胞衣不下，腹中血塊。</p>
<p>枳殼　枳實　姜皮（各一錢）　乳香　沒藥（制，各三錢）　槐枝　柳枝（各一寸，拇指大）　脫落竹葉（十皮，不拘何竹，鹽水炒）</p>
<p>急流水煎，罐口上放本婦平素所用剪刀一把。</p>
<p>又古方　用本婦鞋底炙熱，熨小腹上七次，或本夫的亦可。</p>
<p><u>扶母下衣方</u>（袁）　治同上，加桂芎歸湯。</p>
<p>全當歸（四錢，酒洗）　川芎（三錢）　熟地（二錢半）　淮牛膝（二錢）　蒲黃（炒黑）　好墨（煅紅醋淬一次。各錢半）　冬葵子（炒，一錢）　爛蒲扇（取近把處大作一塊手板幾片）</p>
<p>姜引。急流水煎，加酒半杯，急吞下。</p>
<p><u>子腸不收產門不閉例言</u></p>
<p>此病有二，由來一也。一以產母血氣素虧，以致子腸隨出；一有臨盆太早，用力過多，以致子腸不收，產門不閉。病共源同，而治或異也，此宜補血為主，而治標亦宜急，急方列後。</p>
<p><u>萆麻膏</u>（古）　治子腸不收。</p>
<p>萆麻仁（廿一粒，不見鐵，搗爛貼頂心，又用三粒、搗貼足心，腸入須急急去之）</p>
<p><u>黃耆湯</u>（古）　治子腸不收。</p>
<p>蜜耆（一斤）</p>
<p>煎水二斗，令本婦溫服二三碗，約三兩後，以盆盛乘溫熏洗，均不可太熱。</p>
<p><u>攝腸散</u>（參古）　治子腸不收。</p>
<p>蜜耆　棗皮（各二兩）　大腹皮（姜水泡）　茯苓（各三錢）　川芎（一兩）</p>
<p>棗子（百個）煎水濃極，熏洗，又或用四物湯（見胎前門）煎服。</p>
<p><u>八珍湯</u>（古）　治子腸不收。</p>
<p>當歸　茯苓（各一兩）　酒芍　焦術（各五錢）　川芎（八錢）　熟地（二兩）　炙草（三錢）　蜜黨參（兩半，若實系氣不能上升，可用蜜耆四兩）</p>
<p>濃煎服。此方立分最重，然不如此不足以救急。若本婦體素旺者，可減半。本方加蜜耆、肉桂名十全大補湯。治同。</p>
<p>高曰：凡子腸不收，收之無事。又有兒出，腸脫其半，而胞貫血在內，其半不出，不治之症也。我有一方十可救九列後。</p>
<p><u>閻王奪筆丹</u>（高）　治腸脫半胞貫血不出。</p>
<p>陳皮（酒醋炒）　沒藥（制）　茯苓　當歸（各四兩，酒洗）　枳殼（炒）　白芷（各一兩）　百草霜（五錢）　牝馬糞（三餅）</p>
<p>濃煎水，約四五大碗。先令極穩當婦人斷其臍，用微物墜之，即將大批針伴臍帶刺破胞蒂，令出血，不可傷臍帶，然後服藥一小碗，又以藥水熏其腸，胞出腸必盡出，用黃耆湯之類。</p>
<p><u>羽林固宮湯</u>（高）　治產後子腸慣脫出者，多服此，下次可免。</p>
<p>蜜耆　地骨皮（酒煨去心）　香附（去毛，酒醋鹽水各炒一次。各三錢）　棗皮（炒一錢）　生地　熟地　酒芍（各二錢）　五味子（五分）　宣木瓜（酒炒）　陳皮（去白醋炒，各一錢）</p>
<p>肝旺者，棗皮減半芍用三錢。用牝豬後足，生男者左，生女者右，一具水煎，去油入藥煮，服七日。外用十餘劑。</p>
<p><u>閉關湯</u>（古）　治產門不閉。</p>
<p>蜜耆（二錢）　蜜玉竹（三錢）　蜜黨參　防風（各錢半）　陳皮（去白，酒醋炒一次）　宣瓜　黑荊芥　北連翹（去間。各一錢）　五味子（十粒）</p>
<p>龍眼肉十個、核桃殼三個打分二塊引煎服。又用陳皮不去白、陳蘇兜銼碎各一兩，加入醋少許同煎熏洗。</p>
<p><u>膠艾四物湯</u>　見胎前方內。治產門不閉。</p>
<p><u>海龍塞羊湯</u>　見上卷八月內。治同上方。</p>

<h3>論惡露不行</h3>
<p>惡露不行之症，須論本婦體氣性情不行。一由於氣弱不送，一由於肝不行血，一由於性情悶郁、躁怒憂傷，皆有此病，宜分治之。</p>
<p><u>烏龍散</u>（古）　治胞下惡露不行。</p>
<p>好墨（煅紅，醋淬七次，研細，五錢）</p>
<p>用滾新汲水，泡服對酒少許。</p>
<p><u>芎歸加升柴湯</u>（袁）　治氣弱不送，惡露不行。</p>
<p>川芎（二錢）　全當歸（酒洗四錢）　升麻（五分）　紅胡（酒炒，一錢）　酒芍（三錢）</p>
<p>水煎服。若實系氣虛降，不省人事，加乳香、沒藥制過二錢。</p>
<p>惡露不行，而氣脫者，再加蜜耆五錢，若但氣虛不行，而病非氣脫不用耆。</p>
<p><u>泄青二紅湯</u>（孫）　治怒氣惡露不行，面青紫，舌赤。但此方必體氣壯血素熱者方可用。</p>
<p>歸尾（三錢）　酒芍　膽草（酒蒸，各二錢）　黃芩（半用酒炒，半生用。共錢半）　連翹（去間）　薄荷　血竭（各一錢）</p>
<p>茜草根二錢蘆根一尺引，無蘆根用水邊懸起竹根皆一尺為度，銼一節一斷共煎服。又或有熱惡血不行者，用本方加六一散一兩，不拘時月。</p>
<p><u>逍遙八達湯</u>（袁）　治悶郁憂傷，惡露不行，悶郁憂傷，二者同。其人色青黃目淚，好動而不動產，用上四物加鬱金湯。</p>
<p>茯苓　酒芍　當歸（酒洗，各二錢）　炙草　白蓮肉（留心，各錢半）　焦術　薄荷（各八分）　連翹（去間，一錢）　蒲黃（炒黑，五分）</p>
<p>茜草根錢半，敗草帽頂一塊引，煎服。</p>
<p><u>四物加鬱金湯</u>（參古）　治肝不行血，惡露不行，面青氣喘。</p>
<p>生地　熟地　當歸（酒洗，各四錢）　赤芍　白芍（酒煨）　鬱金（酒炒）　川芎（各二錢）　炙草（一錢）</p>
<p>水煎服。</p>
<p>又方　治惡露不行，氣痛腹脹，用乳香沒藥制過等分，拌燈心研細，滾水酒泡服。每用二三錢，行瘀止痛。又虛寒不行者，用黑神散（見上胞不下內）。</p>

<h3>論惡露不止</h3>
<p>惡露不止，不難治也。血虛者用補血湯，氣血雙虛者十全大補湯，熱者有逍遙八達湯，不行不止大同小異，惟亡血過多者，補血不同耳。又有一症，亡血已多而身熱腹痛，以清涼藥則亡多矣。以行血止痛，則無血可行。欲補則有舌燥唇焦，面赤發熱等證，似乎不可不知，此亡血多，不能潤體而成燥症，一方列後。</p>
<p><u>加味四物湯</u>（古）　治產後血崩，如豆汁紫黑過多者。</p>
<p>川芎　酒芍　蘇根（各二錢）　當歸首（三錢，酒洗）　阿膠（米粉炒珠一兩）　生地　白芷（各錢半）　蒲黃（炒黑五分）</p>
<p>水煎服。</p>
<p>又方（古）　治惡露不絕血崩不可，禁腹中絞痛，氣息急。</p>
<p>男乳發（一握燒灰存性）　阿膠（米粉炒珠）　羊角末（酥炙。各一兩）　黑乾薑灰　乾地黃（各二錢）　豬蹄殼（一個全用燒灰存性）</p>
<p>無羊角用女發一把代。為細末，煉蜜丸如梧子大，每空心米飲吞三四十丸，日二服。</p>
<p><u>補血湯</u>（古）　治血虛惡露不止。</p>
<p>蜜耆（一兩）　全當歸（二兩）</p>
<p>水煎服。凡亡血多者，歸倍耆。若氣分虛者，耆倍歸。</p>
<p><u>十全大補湯</u>　見上子腸不收方內。治氣血雙虛，惡露不止。</p>
<p><u>豆淋酒</u>（古）　治產後猶有餘血水氣者。</p>
<p>黑豆五升，熬令煙盡，傾磁器內，以酒淬之飲。</p>
<p><u>牡蠣散</u>（古）　治惡露淋瀝不斷，心悶氣短，四肢痿弱，目眩頭重，五心煩熱，面黃體瘦。</p>
<p>牡蠣（煅成粉，二錢半）　熟地（二錢）　當歸（土炒香，三錢）　蜜耆（五錢）　茯苓　續斷　陳皮（醋炒）　地骨皮（酒蒸）　川芎（各錢半）　炙草　地榆（酒炒。各一錢）　龍骨（煅酒淬一次，五分）</p>
<p>姜三片，棗二枚。引水煎。食前服逍遙八達湯（見上惡露不行方內），治有熱不止。</p>
<p><u>天露養榮湯</u>（袁）　治亡血已多，身熱腹痛，似熱非熱等證。</p>
<p>生地　熟地　天冬　黑荊芥（各二錢）　酒芍　淮藥（炒）　寸冬（去心。各錢半）　當歸（酒洗，二錢半）　元參　甘草（各一錢）</p>
<p>胡桃三個，大棗三枚引。煎服。</p>

<h3>血暈氣脫血風例言</h3>
<p>產後血氣雙虧，暈之所由起也，亦風之所由起也。雖然有辨，世人言血暈不知有氣脫，亦有血風。當識本婦素來體氣，如平日體氣不足者，一旦血出，氣隨血亡，是為氣脫。若體氣素不強不弱，一旦亡血，是為血暈。又有因悲喜鬱積，動於七情者。又產時受熱受寒，得於六淫者。七情者，肝木張；六淫者，肺氣塞，是以有血風症。既明析，治之如神，錄古各方並新方列下。</p>
<p>愈風散　見本卷之首。治中風口噤，手足抽掣，及角弓反張，血暈不省人事，四肢強直，或心頭倒築，吐瀉欲死。</p>
<p><u>補血湯</u>（見前頁）　治體素虛寒，或亡血過多，致血暈悶絕，不省人事。</p>
<p><u>芎歸加升柴湯</u>　見前惡露行內，佛手散見胎前方內，治並同補血湯。</p>
<p><u>保命集方</u>（古）　治血暈危困，血足有熱者宜。</p>
<p>當歸（土炒）　酒芍（各五錢）　生地（二兩）</p>
<p>水煎歸芍搗生地汁對服。</p>
<p><u>奪命散</u>　見前胞不下方內。治血暈因心經，言語顛倒，健忘失志。</p>
<p><u>鬱金散</u>（古）　治血上衝，心已死，病起於七情者宜。氣脫者禁用。</p>
<p>鬱金（燒存性為末）</p>
<p>每用二錢，釅醋一匙共調，灌之即活。又用韭菜一握，搗爛放壺內，以滾醋泡之，將壺就血暈者鼻，令通其氣立蘇。但必血強方可用，虛弱者惟灌以補血湯最效。</p>
<p><u>一丸散</u>（古）　統治虛實血氣痛。</p>
<p>甘草　陳皮（去白）　青皮（各一片）　沉香（一分。共為細末）</p>
<p>飯和為丸。臨用時搗爛，童便參滾水吞，或水酒吞。</p>
<p><u>四象歸原丹</u>（袁）　治外受寒熱，發為血風，手足搐掣，口眼喎斜，甚有哭笑狂歌者，此六淫證也。服此方一劑立愈。</p>
<p>六淫之說自古不言，試想此時表涼下攻熱等藥均不可進，將何作用，此方立效。</p>
<p>當歸（三錢）　甘草（半生半熟，共三錢）　川芎　黑荊芥（各二錢）　黃耆（酒炒）　桔根（各錢半）　白芷　赤小豆（各一錢）　綠升麻（酒炒五分）　白紋銀（一錠約二兩重）　辰砂　明雄（各三分）</p>
<p>不用引，水煎服。受寒重者，加熟附吳萸泡各一錢，黃芩二錢半酒炒。</p>
<p>此方用甘草為君，人或不解，不知心氣已亡，君威不立，於是外寇起矣。得一良相攝主內外而五方從，令患難自平，此丹爐秘訣，亦起死良方。</p>

<h1>【附】生生外錄</h1>

<h2>附方（小兒科）</h2>
<p>治小兒初生，不啼不斷臍，以溫湯將胞口扯開熏之，啼即斷臍。若胞衣不出，不能待者，將臍剪斷，用艾葉三五錢搓絨，不必搓淨，作三五個團彈子，火燒臍，剪口用線紮緊，燒以啼為止。</p>
<p>治小兒初生，白色不轉紅而能啼者，氣不達故也。用艾葉、陳皮、陳米、雞蛋共煮，水洗兒即紅。</p>
<p>治小兒初生，身上或一塊無皮，此生在草中損之也。用灰面略炒，去火氣，摻於細緞上，包之三日不開，即生皮。或炒絕細米粉摻包亦可，或加極細陳壁土末少許於粉內亦可。</p>
<p>治小兒臍風，在三五七日內者是。出七日外者非也。知穴者，用元宵燈火斷之。又方荊芥、羌活各三錢，防風、法夏、陳皮、枳殼各二錢，生白附、生附子各錢半，苡米甘草各一錢，共煎水一大碗如一升米多，將兒放碗上，令聞藥氣，又以鉤藤、鉤陳米、枳殼共蒸水飲之。乳母忌食一切動風物。</p>
<p>治小兒初生家中，或發痘無藥可用，趁兒未發，急以辰砂三分，明雄五分，黃豆二十粒，生黃耆一錢，芝麻殼十個，枳實五個，不見火，共研細末，摻小兒衣，則不染。若三五日內已染痘症，用升麻、生柴胡、防風各二錢，茯苓、陳皮去白各三錢，牛膝、山通各一錢，枳殼十個，黃豆三十粒，老松樹根皮一兩，無則用茯苓皮一兩，一併煎水浴之，不見風。即出麻疹，亦最易染，即用上闢痘方，去黃豆加生火麻仁五錢。洗方同上亦去黃豆加麻仁。</p>
<p>小兒走馬牙，有寒熱二症，而寒者常少，然寒以為熱則損矣。熱者面赤唇焦，鼻孔黑，口熱，啼時腰微向後反是也。即刺破必有紫血，即無血其色必紫。用黃芩、薄荷、銀花、甘草等分研細，取芭蕉心內水和之，棉花塗擦其處，後不再生。又以藥少許服之，勿用蕉水。</p>
<p>寒者目皮下青唇白，寒涎流出，啼時腰曲向內，吐乳，刺破色白無血是也。用胡椒一粒，製附子二分，羌活三分，麻黃一寸共三，研細照上法擦，亦服之。又方，刺破，以好墨醋磨和白砂糖點。又方，刺破，以糖雞糞點，但此二方俱不能斷根。</p>

<h1>【附】生生外錄</h1>

<h2>附方（外科）</h2>
<p>凡孕婦患疔瘡，不可服麝及搽蟾酥大戟破胎又表藥，凡疔不宜並記之。</p>
<p><u>脫疔湯</u>　統治一切疔毒，無論孕產皆可服。</p>
<p>羌活　白芷　甘草　蔓荊子（炒）　牛子（炒）　連翹（去間。各一錢）　當歸（二錢）　茯苓　生白芍（各錢半）　棗仁（炒，八分）　紅胡（酒炒，六分）</p>
<p>野菊根七兜引。水煎。在手足加桂心酒炒一錢，在頭面加升麻五分，在身加川芎一錢。初發服之三日，外加白礬末三分泡服。走黃者，加黃芩一錢，鬱金酒炒八分，去羌活、白芷。</p>
<p><u>敷方</u></p>
<p>硇砂　月石　輕粉　黃丹　明雄　鬱金　野菊根（各一錢）　歸尾（三錢）</p>
<p>共搗爛，用豬膽汁調敷，宿疔毒出矣。若走黃者，則去硇砂，加百草霜三分錢，鏽一錢，共研細遍敷，並於將走處斷其路。</p>
<p><u>千金祛毒丹</u>　治孕產婦內蘊七情，外感六淫，發為發背大毒等症，一劑如神。</p>
<p>白芍（三錢，半生半酒炒）　蒼朮（米泔水浸炒）　梔子　黃芩　白芷　茯苓　川樸（姜水炒）　遠志肉（甘草水泡）　陳皮（留白。各一錢）　香附（去毛，酒醋各炒一次）　連翹（去間。各錢半）　火梗（八分）</p>
<p>姜引。水煎服。</p>
<p><u>祛毒浴方</u></p>
<p>苦參　連翹　薄荷（各二兩）　白芷　白芍（各三兩）　羌活　歸尾（各八錢）</p>
<p>共煎水浴之。</p>
<p>凡孕產患疥瘡勿用水銀，患風瘡勿用葛根，切切。</p>
<p>統治一切瘡毒方：馬渤（擇肥大而未灰者，不可太嫩，研細末），未潰者醋調敷，已潰者將末略炒，蜜調敷，神效。</p>

<h1>跋</h1>
<p>袁君以生生之術，作生生之書。生生者，天地大德也。天地以人為心，而人身自胎產始。生人之道，本無殺機，世之戕其生者，皆誤其生者也。袁君之書出，而生生之機不息矣。余不揣，亦附以方，並附小兒初生數方於末。願世之欲遂生者，善體其保，生之真意焉。</p>
<p><u>高雪清</u></p>

<h1>跋</h1>
<p>從來奇兵制勝，不如王道興師。余謂用藥亦然。症候危險，如劍閣之難也，而或以縋人之症候深固，如逼陽之難也，而或以老夫克之。至於憑城以守，塹壘以營，猶之補中以調理也。古之創方者，非不謂孤注一下也。設一旦軍或輿尸，非主帥之過，與夫作法非差，不善用之咎耳。袁君先得我心哉！所作《生生寶錄》一書，以調養營衛為本，而攻伐之品不入焉。行之而有功，用之而無弊，其王道之師歟？獨惜外科稍缺，餘集而補之，正如偏裨之從師，而營衛之外又有巡哨。書成，聊志簡末。</p>
<p><u>道光五年孟夏月山村胡氏題</u></p>

<h1>【附】保產錄</h1>

<h2>胎元</h2>
<p>《醫訣》云：婦人，血勝氣者多子，氣勝血者少兒。宜以補血為主。然或子宮虛冷，或月經不調，俱不孕。虛冷者，用勝金丸。不調者，有先期為血熱，用四物湯加黃芩香附。過期為血虛，用當歸補血湯。作痛為血滯，用芎歸六君子湯加姜煎。</p>
<p>《醫通》云：醫家，認胎孕為經阻，誤投破血藥；認經阻為胎孕，致成癥瘕，病者不少。凡孕已二三月時，欲驗是胎否，用生川芎二錢為末，濃煎艾葉湯空心調服，腹內微動即胎也。</p>

<h2>保胎</h2>
<p>貞齊云：保胎宜絕欲，恣者以情欲一動，則盜泄母陰，且火擾於中，則血氣沸騰，故胎不寧謐。即幸不犯小產而生子，多白而不壽。試觀牛馬犬豕受胎後，絕不交，故胎胎易，個個存。</p>
<p>《達生編》云：孕婦須常動勞為妙，不可盡日坐臥。勞則氣血流通，胎與相習，豈不安然？故農婦賤婢墮胎常少。但不宜攀高陟遠及見非常之物，恐受大驚，致子顛癇，或舌縮成啞，動勞中又宜謹慎。</p>
<p>薜院使云：孕婦夜臥，須兩邊換睡，以防臨產偏頂。便用記云：孕婦飲食宜清淡。蓋養胎在生血，不在嗜味，如恣嗜厚味，不知節減，徒令胞衣肥厚，臨產見難出身，且令孕婦多痰，致有轉胞之瘡。每見藜藿之家易產，清淡故也，尤忌辛熱之物，致胎不安。尤有宜絕者，如食兔肉，令子缺唇；食雞子，令子多瘡；食鱔魚，令子胎疾；食鱉魚，令子項短；食螃蟹，令兒橫生；食𩶃鯗，令兒胎蛆；食雀肉，令兒心搖意亂。不可不知。</p>
<p>《寶鑑》云：頻慣墮胎者，於孕二三月時用杜仲八兩（糯米煎湯浸透炒去絲），續斷二兩（酒浸焙乾），共為末，山藥作糊丸，梧子大，每服五十丸，空心米飲下。</p>

<h2>調理孕婦諸病</h2>
<p>胎氣瘦怯，嗜臥倦怠，飲食懶進，血虛體弱，宜達生湯。枳殼、砂仁、蔥。</p>
<p>子滿，謂孕婦腹大脹滿，逼迫子戶，宜束胎散。</p>
<p>胎漏，謂已孕而復下血或尿血是也。夫女子之血，上為乳，下為經，既孕則乳經俱聚子宮，今復漏下，是中焦有熱，宜安胎飲加芥葉地榆。胸脹加紫蘇。若漏黃漿或白汁，用炙黃耆一兩、川芎一分、糯米一合，煎服，自愈。</p>
<p>子淋，謂孕婦小便短澀而痛，乃下元不足，用葵子四兩、茯苓二兩研服，日三服，每服一錢，此方可免胞內有水。</p>
<p>孕婦傷風，或至咳嗽，忌用風藥，宜紫蘇飲加淡豆豉數十粒。</p>
<p>孕婦盛暑時發熱口渴，神昏體倦，懶食少氣，是傷暑，用清暑飲。</p>
<p>孕婦冬月傷寒，惡寒發熱，微嗽鼻塞，甚至頭疼作痛，先寒後熱，藥多避忌，不與常婦同治，用蔥白十莖、生薑一兩水煎熱服，取汗即安。</p>
<p>有未產而乳汁先下，名乳泣。生子多不育，宜常服安胎飲。</p>
<p>腹中胎啼者，因孕婦登高舉臂，致胎兒脫血乳，故啼也。令孕婦鞠躬掃地，或撒米撿之，使兒口接乳。倘非登高舉臂，便是胎熱，以黃連煎汁，孕婦時常呷之。</p>
<p>子懸，謂胎氣逼上動心，或忽昏暈不省，或嘔吐欲死，急以熱童便灌之，次用紫蘇飲加鉤藤、茯苓、童便。</p>
<p>子癇，謂孕婦體虛受風，或冷麻，或昏眩，口噤背強，甚至角弓反張，仆地不省，狀如中風，又名風痙。切忌風藥，宜安胎散，薑棗引。</p>
<p>子腫，謂孕婦通身浮腫是也。又足指發腫漸及腿膝，喘悶不安，或足指間出黃水，又名子氣。俱宜紫蘇飲。若小便不利，加車前子。腫退，宜安胎飲調理。</p>
<p>子煩，謂孕婦頭昏目眩，胎氣上衝，煩悶不安。用竹瀝頻飲，或用葡萄擂汁飲亦效。</p>
<p>孕婦諸痛，心痛用川楝子、小茴炒各三分、艾葉鹽炒分半，煎服。如腹痛，用大棗燒研，和童便服。背痛、脅痛、腰痛，紫蘇飲加砂仁、童便。</p>
<p>孕婦泄瀉，以補中安胎為主，用四君子湯加白芍，烏梅一個為引。如發熱而渴者為熱，加黃芩一分。熱而不渴者為寒，加黑姜五分。久泄者，加訶子肉一分、乾薑六分。</p>
<p>孕婦目疾，鼻衄及咽喉唇口諸病，宜涼膈散加薄荷。目赤痛者，加當歸、川芎、羌活、防風。咽喉痛者，加牛蒡子炒研一分。口舌生瘡者，加青黛二分。鼻衄不止，加當歸生地茅花各一分。俱生薑引。</p>
<p>孕婦乳吹乳癰，內用天花粉、白芷、貝母、穿山甲炙研各八分，蒲公英二分，鼠屎二十粒，俱研末，酒服，外用百合、赤小豆、柳根皮搗塗。如乳癰潰爛，用貓皮毛煅入，輕粉油塗。</p>
<p>孕婦諸瘡毒，宜托裡散。瘡在背上下者，本方去青皮加葛根升麻。在胸前，上下者，去白芷加柴胡、膽草、枝仁。在肩膊腋下者，去青皮加陳皮、桔梗、桑皮、天冬。在胯內者，去白芷。皮在手足上下者，去白芷、青皮、花粉，加黃連、黃柏、木通。</p>
<p>孕婦忽然聲啞不言，名喑胎。此少陰之脈不能上榮於舌，或痰歸心竅亦無聲。俟產後自能發聲，藥餌無治，若投以通竅開發之劑則誤矣。</p>

<h2>半產（俗名小產）</h2>
<p>半產調理倍於正產，正產如粟熟自脫，半產如生摘，破其皮殼，斷其根蒂也。忽略成病，因而莫起者恆多。此證精血不足而萎墮，故瘀血甚少。倘有腹痛，成塊有形，多屬血虛氣逆，惟用當歸補血湯，則新血生而瘀血自去。若用消導破滯劑，則逆氣愈攻，多致不救。</p>
<p>小產後，數日忽渾身大熱，面大赤口大渴，思飲涼水，此血虛之症。宜用通治飲加丹參。若認作傷寒，而投以石膏芩連等寒涼之劑，如落井下石矣。如夾傷風，則加柴胡。張隱奄云：治半產與治正產不同，惟以滋補為獲咎恆少。</p>

<h2>臨產</h2>
<p>臨產有八候，脈離經，臍腹連痛，腰間重墜，眼花如火，穀道挺迸，產戶腫滿，手中指節跳動，胞水或與血俱下，方是子出胞時。此八候，孕婦須牢記，方知這時候八候未備，仍宜安眠稔食，臨月初覺腹痛，自家當知，是宇宙自然之理，但看漸痛漸緊，方與人說，以便伺候，若痛得慢，則是胎弄，蓋正育，一陣緊一陣。胎弄則一陣慢一陣或間緊間慢。胎至七八月，肢體已能動彈，或母腹積熱，動勞太過，以此大動而痛，宜照常眠食，如痛不可忍，用大棗（燒研）對童便服，或用縮砂仁（炒研）對酒服。其用藥止，以無憂散、佛手散、達生湯，此三方未產能安，臨產能催，功難殫述。倘魯莽臨盆，錯到底矣。</p>
<p>懷胎六七月或八九個月，偶略曲身，胎忽亂動，二三日間或痛或止，或有水下，惟腰不甚痛，脈不離經，是前所謂弄胎。又有臨產，一月前忽然腰痛，卻又不產，此是轉胞，名曰試月。蓋轉胞之病，或孕婦氣弱者、多憂者、性躁者、食厚味者，致胞壓在一邊，胞系轉戾，故臍下急痛，小便不利是也。朱丹溪曰：曾用清利藥，鮮效。因思胞不自轉，為胎所壓胎若舉……流水道自通矣，予屢用參朮引皆效，不忌半夏者。有傷食、受寒而痛者。傷食者，當臍而痛，手按之或臍旁有一硬痛是也，宜和胎飲加枳實、黃連、陳皮，痛漸緊大，棗引。寒痛當在臍下，綿綿而痛，不增不減，得熱物陣緊一陣也，宜和胎飲加黃耆、柴胡、茯苓、川芎、枳殼、桔梗、葛根、蔥白（三莖），姜引。</p>
<p>正產腹痛，要忍痛為妙，不可用力努掙，或扶人緩行，扶桌站立，痛稍緩，則宜安睡以養神。宜仰臥，胎兒轉動自易，切不可曲腰眠睡，致胎兒偏左偏右。坐宜正，不可將身擺扭，須知此是性命所關，忍固痛，不忍亦痛，何如忍痛？試思私產者，痛到沒奈何時，猶怕人知，忍之至也，故不聞難產。倘不忍痛，疾呼亂倒，恐有橫逆之患。又非全不用力，必備此八候，方可聊助片時耳。</p>
<p>房中宜安靜如常，只用老成歷練一二伺侯。凡族鄰婦女，婉言謝退。忌交頭接耳，說亦說怪。致令孕婦憂疑慌亂臨月。更不宜多人在房，恐熱氣壅盛，令產母煩躁發昏。穩婆者，不過因其慣熟彼接生而已。此輩多不明理，見孕婦腹痛，不辨弄胎與傷寒傷食，便揉擦探侯，大驚小怪，意在邀功，反致貽害。故此事在孕婦亦宜有主見，若聽說頭已臨門，以致用力努掙，遺誤不小。若頭果臨門，必備此八侯（孕婦主見在此）。此時瓜熟蒂落，水放舟流，何可勉強？</p>
<p>胎前用藥，只須佛手散、束胎散、達生湯多服。庶胎前產後無病，臨產用藥只宜無憂散、加味芎歸湯。此數方，安生胎，下死胎，或跌磕傷胎，服之奇效。又或胞漿早破，以致乾澀，惟大用芎、歸，使宿血頓出，新血驟生，雖平淡，何等功效。</p>
<p>從前催生奇方，莫過鼠腎兔腦丸與回生丹，不知鼠兔二丸例用香之物，產時百脈解散，血氣虧虛，服此則胎下而香不消，氣益耗矣。且令毛竅疏鬆，招風惹禍。回生丹以大黃紅花為君，內多消導之品，血已虧而復破之，多致產後發熱，但橫生倒逆，止用兔腦丸，亦神效，產後須多方調理。</p>
<p>有月數過期不產者，屬血氣虛弱，或因胎漏而產遲。有……血，胎雖不墜，其氣血已虧，胚胎難長，多至逾年不產，凡十月後不產者，用當歸補血湯，庶分娩無憂。又過期不產，脈復沉細，臍下時時悸動，當作鬼胎，只用十全大補湯加熟附，緩圖功，不可縱，用巴豆、莞花、莽草、鬼臼等毒藥，急追取咎也。</p>

<h2>產難</h2>
<p>產時子有出戶之勢，必聽其胎兒慢慢轉身，產母有力難助。倘身猶未轉，用氣一逼，或腳先出，俗呼「踏花生」。或轉身稍緩，努力一逼，橫臥腹中，一手先出，俗呼「討鹽生」。又有生路未順，見頭偏拄左右，名曰「偏產」。又或偏拄穀道，名曰「振後」。急扶產母上床，正身仰臥，厚被蓋之，內服補中益氣湯升提之。須臾提上，重新移頭對產門，急扶即下。</p>
<p>產時門戶俱正，兒已露頂而不下，此轉身時臍帶絆其肩也，扶母立身仰臥，輕輕推兒向上，以手指輕按兒肩，去其臍帶，然後用力送下。</p>
<p>胞水已下，兒頭已至產門，三四日仍不下者，蓋因用力太早，及兒欲產而力已乏，令兒停住，因而產戶乾澀，產亦艱難。此際惟八珍湯大劑補其元氣，調其飲食自生。</p>
<p>《濟世錄》云：產難橫逆，急令產母仰臥，內用柞木枝（取嫩者挫碎）兩五分，甘草（取大者挫碎）一兩，用三碗水煎，重封罐口，煎至碗半，每服一小碗，不過三服即正。外用萆麻子十四粒、硃砂、雄黃各一分、蛇皮一隻（燒灰）、真麝香二分（俱研末），將水和作一丸，先用川椒煎湯洗臍，置藥於內，用紙重蓋，以帛系之立效。切勿聽穩婆動手揉擦，亂吃方藥，一誤再誤，悔無及矣。</p>
<p>錢隱菴簡便方　載橫生逆產，或血海乾枯，以致胎死不下，命在須臾。急用皮硝五分、熟附子一錢五分、好酒半杯、童便半杯，同煎三沸，溫服立下，百發百中。</p>
<p>隱菴謂：臨產母氣先餒，飲食減少，最為可慮，此際惟參為專功，予以人參救助者，歷歷有案可驗。若交骨不開，日氣血衰不能連達，宜十全大補湯助之自開，加味芎歸湯亦可。</p>

<h2>死胎</h2>
<p>從來辨死胎，觀產母舌或青或赤，青則胎死（面赤舌青，母活子死；面青舌赤，子活母死；面舌俱青，子母俱死）。然必腹陰冷重墜，至紫黑血塊血縷流出，尤為確症。如雙胎一生一死，必腹中半邊冷半邊熱。其故或因產母氣不完固，或熱毒內攻，欲火傷胎，或顛仆高墜所致。又或驚動太早，血先下而胎路乾涸，僵死腹中，惟令產母穩臥，切勿用力努掙，徒耗神氣，但宜勉進飲食，方用冬蜜一大杯，以百沸湯調服之立下。如無蜜，用灶心土研，對酒服，或用夫尿煮沸服，外用黃牛尿熱塗母臍腹上，俱妙。</p>
<p>死胎，至孕婦爪甲俱青，腹脹氣喘，口出臭氣，最為危候，急用黑豆一升炒熟，入醋一大碗，煎至五六分，去豆取湯，分三次服之，以熱手摩小腹，其胞胎俱下。</p>
<p>隱菴云：下死胎，古方用平胃散加芒硝，功雖捷而暗中有損。予見用此者，不一二年皆夭，大都平胃克伐胃氣。予惟用脫花煎加芒硝五錢，其胎化水而下，保全歷有驗案。至雙胎一生一死，但服黑神散以暖其氣，死胎下，生胎亦安。</p>

<h2>盤腸生（謂腸隨兒下也）</h2>
<p>遇此宜於衣下之後，令母仰臥，將子腸溫水洗淨，輕推送入，令其夾緊穀道，自收，或用半夏末吹鼻，自收。如不得，藥用醋半杯，新汲水半杯調勻，近產婦面，一嗔一縮，三嗔收盡。</p>
<p>腸出久乾燥難收，濃煎黃耆湯浸之，內服補中益氣湯即上。下次有孕，臨月服當歸補血湯加訶子、瞿麥、粟殼，以免慣證。有兒並胞衣下後，膀胱墜出產戶者，用前法送入，仍服補中益氣湯。若穩婆不謹，膀胱扯破者，八珍湯加豬脬為引，服之可復。</p>

<h2>胞衣來遲</h2>
<p>胞衣未下，恐惡露入胞，脹大難出，濃煎荊芥穗對童便服，以消瘀血，或煮夫尿沸服，或以百沸湯對冬蜜服，或用蛇皮一尺、香油燈上燒研，入麝一分為末對童便服，或用紅花蒲黃煎對酒服，或用灶突後黑土對酒服，或用貝母、蒺藜子研末對童便服，或用黃麻根煮服，俱妙。至荷葉、莧菜，俗知用者，不必載。有用萆麻子塗足心，恐用之不慎反遺咎，故不載其法用藥。方則以脫花加芒硝。</p>
<p>產婦元氣弱極，胞衣來遲者，用真青化桂三錢，當歸川芎各一錢五分，酒煎熱服立下。</p>
<p>用綿軟靠坐，以童便對荊芥湯，或對紫蘇日三服，服至三日止。如血車，以米醋啐煅炭熏，或以醋沃韭菜熏，本婦宜生吞雞子一枚。如血脹血噤，氣喘欲死，用蘇木煎服，一切飲食宜淡。</p>
<p>產時胞胎既下，氣血俱去，忽爾眼黑頭眩，神昏口噤，昏不知人，古書云惡露上攻，血暈致。不知此證有二：一曰血暈，一曰氣脫。若以氣脫作血暈，而用香辛逐血化痰之劑，則立刻斃矣，不可不懼。</p>
<p>氣脫證，產時血既大下，則血去氣亦去，故昏暈不省，微虛者片時即蘇，大虛者竭脫便死。但察其面目，如眼閉口開，手撒手冷，六脈微細之甚，或浮而散亂，此即氣脫證也。速用人參三五錢加入炒米、煨薑、紅棗煎湯，徐徐灌之，但得下咽，即可救活，若少遲延，則無及矣。無力備參者，以大劑當歸補血湯，加炒米煨姜紅棗煎湯灌下，亦能救之。</p>
<p>有閉脫二證宜易辨，如產後牙關緊閉，兩手握拳，謂之閉證。有餘之候，但疏風化痰可也。如口張手撒，眼閉遺尿，鼾聲，謂之脫證。蓋口張心絕，手撒脾絕，眼閉肝絕，遺尿腎絕，鼾聲肺絕，惟大進參、附，或可十中救一。此不獨產後宜辨，大凡中風、中痰、中暑、氣厥及卒然倒僕昏暈者，咸依此辨之。</p>
<p>血暈，蓋本由氣虛，一時昏暈。然血壅痰盛亦或有之。如果形氣脈氣俱有餘，胸腹脹痛氣粗，外證兩手握拳，牙關緊閉，此血逆證也，用黑神散。無脹無痛者悉屬氣虛，用通治飲。如小腹痛，加山楂、桃仁。如夾傷風，加柴胡。</p>
<p>產後除脫證，不可用補。蓋產後百節俱開，氣血俱敗，外則腠理不密，易感風寒，內則臟腑空虛，易傷飲食。稍有不慎，諸證叢生。古書以產後大補氣血為主，後世因之，不知表裡未清，滋補一投，反成大害，昧者猶以藥力未到，愈補愈深，死而後己。故陳飛霞遇師指授，熟料五積散刊布，蓋慮藥味辛散而以醋水拌炒，故名熟料。此方專治產後血滯、痰滯、氣滯，頭疼身痛，惡寒發熱，寒熱往來，腹脹懶食，手足搐搦，四肢痠疼，渾身麻痹，凡產後一切無名怪證，並皆治之。自謂此方四十餘年活人甚眾，尤慮世人視為淺近，諄切言之，茲難畢錄。</p>
<p>產後玉門腫痛，用蛇床子煎湯頻洗自愈。又玉門不閉，或陰戶突出，用石硫黃三錢，菟絲子、吳茱萸各二錢，蛇床一錢五分，水一碗，煎至半碗，頻洗自收。</p>
<p>產後乳汁不通，用天花粉炒黃為末，每用二錢，以紅飯豆煎湯調服，其乳流溢。又有氣血虛無乳者，用當歸三錢，川芎二錢，穿山甲（炙）、王不留行各錢半，木通五分，豬蹄一隻，以蹄爛為度，去藥服湯並蹄，立通。</p>

<h2>小兒初誕救護</h2>
<p>夢生不能發聲，切勿斷臍，速用明火將胞衣炙暖，使暖氣入兒腹，更以熱湯燙臍帶，用布袋裹貓頭足，使伶俐婦人拿住貓頭，向兒耳邊，以口齧貓耳，必大叫一聲，兒即醒哭，方可燒斷臍帶。因產難，救護產母，兒在地久冒風寒，氣欲絕，不能啼者，亦以法溫暖之，暖氣入腹，氣回即蘇。</p>
<p>斷臍帶，俗皆以刀剪斷之，最為不妥。但以大紙捻蘸香油於臍帶上往來燒之令斷，蓋所以補接陽氣，不但為回生起死之良法，且後日無傷風泄瀉之患。</p>
<p>沐浴，用益母草、梅葉、桃李葉、黃連、豬膽、虎骨煎湯洗之，令兒永除瘡疥。浴畢，聊以輕粉摩身，令兒不畏風，又解諸氣。又以臍帶燒灰塗乳，服可免⿸疒立患。</p>
<p>小兒初生，隨以軟帛裹指，蘸甘草湯拭去口中涎沫。又看小兒身面紅，唇舌紫，知其必胎毒，每日以帛蘸淡鹽茶洗其口，則毒隨涎去，病從何來。此法至神異，又至易簡，直洗過周歲更為調燮；若小兒唇面淡瑩，惟以薑湯日洗一二次，以其為胎寒也。古方每用黃連、大黃、黃柏等藥，不知稟受或虛，受使苦寒克伐，譬如蟲蟄萌芽，卒遇凜雪嚴霜，未有不為所將折者。每見用此者，在三朝七日必有缺乳肚疼泄瀉夜啼之證，誰識為苦寒傷胃之害。</p>
<p>預防臍風馬牙，用枯礬二錢五分，硼砂五分，硃砂二錢，冰片五釐，麝香五釐，共為細末，見兒下地洗過，即用此末擦臍眼上，每日換尿布時仍擦此末，擦完一料，永杜臍風等症。</p>
<p>小兒初生，惟臍風為惡候。鐵鏡云：看見兩眼角黃，必有臍風。然稟受厚者，滿面紅黃難辨，惟令乳母於一七內，時常摸兒兩乳，乳內有一小核，又看小兒不時噴嚏，更多啼哭，吮乳口松是真侯也。急用薑片或蒜片貼於臍上及左右共三處，隔半指遠，用燈火各炙七壯，共二十一壯。再用冬瓜皮焙研細末，以好墨搗爛蒸汁調和，敷於臍之四圍。又冬瓜皮煎水一匙，服之立效。又有氣息喘急，啼聲不啼，或肚上青筋，吊疝作痛，此胎毒夾風邪入臟，外照前燈火，內服指迷七氣湯，若稍緩則難救矣。</p>
<p>小兒撮口噤風，但看舌上有瘡如粟米是也。用生蔥二根搗汁，直殭蠶三個（炒去絲），研極細末，以蔥汁調勻，每用一匙灌入兒口。</p>
<p>小兒初生，遍身如魚脬，破則流水，細研蜜侘參⿰扌艷之。又有遍身無皮，俱是紅肉，急以米粉干之撲，俟皮生則止。</p>
<p>初生大小便不通，乃是胎熱。急令婦人口含熱水，吮兒胸前、背心、臍下、兩手足心（共七處），每處吮七口，以吮至紅色為度，須臾自通。又以蔥汁人乳調勻，蒸熱抹兒口，使吞即通。</p>
<p>通面皆青如靛染，不吮噓，昏迷不啼，此是胎寒，用人參、白芍（酒炒）、當歸（各一錢）、枳殼（陳壁土炒，七分）。</p>
<p><u>束胎散</u></p>
<p>白朮（土炒，錢半）　黃芩（一錢）　蘇葉（八分）　大腹毛（水洗去筋，錢半）　砂仁（五分）　炙草（三分）</p>
<p><u>安胎飲</u></p>
<p>黃耆（蜜炙）　杜仲（姜水炒）　茯苓（各一錢）　阿膠（炒成珠，一錢）　續斷（八分）</p>
<p>如胸脹加紫蘇飲。</p>
<p>紫蘇（一錢）　當歸（七分）　川芎　白芍　大腹皮（洗去筋。各五分）　甘草（三分）</p>
<p><u>清暑飲</u></p>
<p>白條（一錢）　白朮（土炒，一錢）　黃耆……</p>
