<header data-type="book">
<h1>壽世傳真</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐文弼</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1771">公元1771年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093839.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>纂述家至今日稱極盛矣，緗帙縹囊，鴻纖畢備。凡其美而傳，傳而久，莫不以適於用之為貴。若如養生家言，意主頤性全真，粗之則卻疾延年，使人人各得安其壽命，以返一世於隆古，宜為有用之尤者。顧其書至今實少善本，緒言流傳，若存若昧，論者未涉其涯，輒概屏為外道，以為山林獨善之士或有取焉，而不知為日用飲食間盡人可行。斯豈非纂錄者猶有缺陷，而仁壽之化終當有待而興者歟。不佞自庚寅秋祝釐來京，次年為慈寧大慶，得與匝海臚歡，共依日月之光，時則豫章徐鳴峰先生以補選銓曹同集，敘其始，則與不佞嘗並時典校，有寅僚之誼，過從加密。鳴峰蓋今之有道而文者，平生著作等身，所刻詩法吏治二書行海內，於學無所不通，而雅性淵沖，寓物而不留物，獨於不佞情親，其蘊致已可概見。嘗為題其小照四幅，顏以「齒德同增」四字，且約他年更續佳話。已而出所輯《壽世傳真》一冊見視，囑為敘其首簡。余既喜其成書之意與鄙見適合，又嘉鳴峰真能以壽身者壽世，其言尤信而有徵也。嘗謂著書者意苟近名，往往獵取艱深，示不可測，況如服食煉養家談空說渺，象罔都迷，學者置而不視，河漢其言，誠無足怪。今視此編，於頤性全真之道，卻疾延年之方，莫不擷其菁華，導以窾要，明白簡易，本末具該，不出布帛菽粟之談，盡力日用行習之事。學者誠手一編，知所從來，將人不必仕與隱，地不必喧與寂，隨時隨處儘可用功，進之可觀九仞之成，退亦不失一溉之效，洵乎度世之津梁，衛生之寶筏也。鳴峰在學校為賢師儒，在民社為良父母，今以需次暇晷不忘著述，一本其念切民物、善與人同之願，以助成我國家太和翔洽之休，將人遊化宇，世盡春臺，有不在茲者乎。爰不辭衰朽鈍眊，欣然泚筆而為之序。</p>
<p><u>乾隆三十有六年辛卯歲嘉平月欽賜國子監司業香山老人年家舊寅弟王世芳拜撰時年一百一十三歲</u></p>

<h1>總述</h1>
<p>程伊川曰：世間有三件事可由人力。為國而至於祈天永命，養形而至於卻疾延年，為學而至於希賢希聖。此三事分明人力可以勝造化，只是人不為耳。</p>
<p>《真言》曰：凡人著不得力者，身外之事也，著得力者，身內之事也。著力身外之事都無益，著力身內，可以延年益壽。</p>
<p>又曰：雖少年致損，氣弱體枯，若晚年得悟，防患補益，血氣有增，而神足身泰，可以永年。</p>
<p>又曰：人年紀一老，則百節病生，四體皆患，即此便是苦獄。平日若肯趁早用功，便可免此苦獄，奈何明知而故不為，豈不可憫！</p>
<p>又曰：分明一條好活路，如何不走。</p>
<p>又曰：悠悠肉食之徒，日為五賊所擾，茫不知怪。天下不乏自命大丈夫，逞掀天揭地之才，侈高談闊論之技，事事伊周，言言孔孟，究之大限一到，不免與微塵片影消滅無蹤，可悲可嘆！</p>
<p>愚謂箕疇五福，以壽為先，以考終正命為全。方幸生逢盛世，翔洽太和，海宇承平，室家保聚，既無擾攘憂戚之患，又無凶荒夭扎之傷，宜化日舒長，咸登壽域，而猶或不盡其天年，謂非自戕厥生，罔識衛生之術歟。此修養所宜亟講也。</p>

<h1>修養宜行外功第一</h1>
<p>外功有按摩導引之決，所以行血氣，利關節，辟邪外干，使惡氣不得入吾身中耳。《語》云：戶樞不蠹，流水不腐。人之形體，亦猶是也，故延年卻病，以按摩導引為先。此訣傳自先哲，至平至易，非他奇技異術可比。即大聖所謂血氣有未定、方剛、既衰之時，此則預保其衰，固守身之要道之。是道人人皆能，而人不皆行者，其故有三：一則倚恃壯盛，疾苦未形，雖勸導之，而亦不肯行；一則經營職業，竭蹶不遑，雖欣慕之，而又不遐行；一則體氣衰憊，舉動維艱，雖追悔之，而卒不及行。人果堅其信心，策其懈志，一意念及此身宜保，防患未然，如飢之需食，寒之求衣，未有不得飽且暖者。即謂年壽各有定數，亦當圖正命考終，與其疾痛臨身，呻吟臥榻，寄命於庸瞽之療治，乞靈於冥漠之祈禱，何如平時習片刻之勤，免後日受諸般之苦。今為就五官四體，各有所宜按摩者，列之為分行外功。又取前人所定，循序俾得周到者，統之為合行外功。分合雖殊，按摩無異，任人審擇而從事焉。此固隨人隨地可行，亦即時即刻見效。愚年齒屆衰，而體氣仍旺，耳聽、目視、手持、足行，且有壯盛儕輩所弗及者，誠得之於已，信而有徵。故不憚穎舌焦敝，蘄以壽身者壽世，願無負此婆心焉，則幸矣。</p>

<h2>分行外功訣</h2>
<p><u>心功</u></p>
<p>一凡行功時，先必冥心，息思慮，絕情欲，以固守神氣。</p>
<p><u>身功</u></p>
<p>一盤足坐時，宜以一足跟抵住腎囊根下，令精氣無漏。</p>
<p>一垂足平坐，膝不可低，腎子不可著在所坐處。（凡言平坐、高坐，皆坐於榻與椅上）</p>
<p>一凡行功畢起身，宜緩緩舒放手足，不可急起。</p>
<p>一凡坐，宜平直其身，豎起脊梁，不可東倚西靠。</p>
<p><u>首功</u></p>
<p>一兩手掩兩耳，即以第二指壓中指上，用第二指彈腦後兩骨作響聲，謂之鳴天鼓。（治風池邪氣）</p>
<p>一兩手扭項，左右反顧，肩膊隨轉。</p>
<p>一兩手相叉抱項後，面仰視，使手與項爭力。（去肩痛、目昏。爭力者，手著力要向前，項著力要向後）</p>
<p><u>面功</u></p>
<p>一用兩手掌相摩使熱，隨向面上高低處揩之，皆要周到。再以口中津唾於手掌，擦熱，揩面上多次。（凡用兩手摩熱時，宜閉口鼻氣摩之。能令皺斑不生，容顏光澤）</p>
<p><u>耳功</u></p>
<p>一耳宜按抑左右多數。謂以兩手按兩耳輪，一上一下摩擦之。（所謂營治城郭，使人聽徹）</p>
<p>一平坐，伸一足，屈一足，橫伸兩手，直豎兩掌，向前若推門狀，扭頭項左右顧，各七次。（除耳鳴）</p>
<p><u>目功</u></p>
<p>一每睡醒且勿開目，用兩大指背相合擦熱，揩目十四次，仍閉住，暗輪轉眼珠，左右七次，緊閉少時，忽大睜開。（能保煉神光，永無目疾）</p>
<p>一用兩大指背曲骨重按兩眉旁小穴，三九二十七遍；又以手摩兩目顴上，及旋轉耳，行三十遍；又以手逆乘額，從兩眉中間始，以入腦後髮際中，二十七遍，仍須咽津無數。（治耳目，能清明）</p>
<p>一用手按目之近鼻兩眥（即眼角），閉氣按之，氣通即止。（常行之，能洞觀）</p>
<p>一跪坐，以兩手據地，回頭用力視後面五次，謂之虎視。（除胸臆風邪）</p>
<p><u>口功</u></p>
<p>一凡行功時必閉口。</p>
<p>一口中焦乾，口苦舌澀，嚥下無津，或吞唾喉痛，不能進食，乃熱也，宜大張口，呵氣十數次，鳴天鼓九次，以舌攪口內，咽津，復呵，復咽，候口中清水生，即熱退臟涼。又或口中津液冷淡無味，心中汪汪，乃冷也，宜吹氣溫之，候口有味，即冷退臟暖。</p>
<p>一每早，口中微微呵出濁氣，隨以鼻吸清氣咽之。</p>
<p>一凡睡時，宜閉口，使真元不出，邪氣不入。</p>
<p><u>舌功</u></p>
<p>一舌抵上顎，津液自生，再攪滿口，鼓漱三十六次，作三口吞之，要汩汩有聲在喉。（謂之漱咽，灌溉五臟。可常行之）</p>
<p><u>齒功</u></p>
<p>一叩齒三十六遍，以集身神。</p>
<p>一凡小便時，閉口緊咬牙齒。（除齒痛）</p>
<p><u>鼻功</u>（《內經》曰：陽氣和利，滿於心，出於鼻，故為噴嚏）</p>
<p>一兩手大指背擦熱，揩鼻上三十六次。（能潤肺）</p>
<p>一視鼻端白，數出入息。</p>
<p>一每晚覆身臥，暫去枕，從脖灣反豎，兩足向上，以鼻吸納清氣四回，又以鼻出氣四回，氣出極力，後令微氣再入鼻中收納。（能除身熱、背痛）</p>
<p><u>手功</u></p>
<p>一兩手相叉，虛空托天，按頂二十四次。（除胸膈邪）</p>
<p>一兩手一直伸向前，一屈迴向後，如挽五力弓狀。（除臂腋邪）</p>
<p>一兩手相捉為拳，捶臂膊及腰腿，又反手捶背上，各三十六。</p>
<p>一兩手握固，屈肘向後，頓掣七次。頸隨肘向左右扭。（治身上火丹疙瘩）</p>
<p>一兩手作拳，用力左右各虛築七次。（除心胸風邪）</p>
<p><u>足功</u></p>
<p>一正坐伸足，低頭如禮拜狀，以兩手用力扳足心十二次。</p>
<p>一高坐垂足，將兩足跟相對，扭向外，復將兩足尖相對，扭向內，各二十四遍。（除兩腳風氣）</p>
<p>一盤坐，以一手捉腳指，以一手揩腳心湧泉穴（濕風皆從此入）至熱止，後以腳指略動轉數次。（除濕氣，健步）</p>
<p>一兩手向後據床，跪坐一足，將一足用力伸縮，各七次，左右交換。（治股膝腫）</p>
<p>一徐行，手握固。左足前踏，左手擺向前，右手擺向後；右足前踏，手右前左後。（除兩肩邪）</p>
<p><u>肩功</u></p>
<p>一兩肩連手左右輪轉，為轉轆轤，各二十四次。（先左轉，後右轉，曰單轆轤，左右同轉，曰雙轆轤）</p>
<p>一調息神思，以左手擦臍十四遍，右手亦然，復以兩手如數擦脅、連肩擺搖七次，嚥氣納于丹田，握固兩手，屈足側臥。（能免夢遺）</p>
<p><u>背功</u></p>
<p>一兩手據床，縮身曲背，拱脊向上，十三舉。（除心肝邪）</p>
<p><u>腹功</u></p>
<p>一兩手摩腹，移行百步。（除食滯）</p>
<p>一閉息存想丹田火，自下而上，遍燒其體。（即十二段錦所行）</p>
<p><u>腰功</u></p>
<p>一兩手握固，拄兩脅肋，擺搖兩肩二十四次。（除腰肋痛）</p>
<p>一兩手擦熱，以鼻吸清氣，徐徐從鼻放出，用兩熱手擦精門。（即背下腰軟處）</p>
<p><u>腎功</u></p>
<p>一用一手兜裹外腎兩子，一手擦臍下丹田，左右換手，各八十一遍。訣云：一擦一兜，左右換手，九九之數，真陽不走。</p>
<p>一臨睡時坐於床，垂足，解衣，閉息，舌抵上顎，目視頂門，提縮穀道如忍大便狀，兩手摩擦兩腎腧穴，各一百二十。（能生精、固陽，除腰疼，稀小便）</p>
<p>以上分列各條，隨人何處有患，即擇何條行之，或預防於無患之先者，亦隨人擇取焉。</p>

<h2>合行外功訣歌</h2>

<h3>十二段錦歌</h3>
<p>閉目冥心坐　握固靜思神</p>
<p>叩齒三十六　兩手抱崑崙</p>
<p>左右鳴天鼓　二十四度聞</p>
<p>微擺撼天柱　赤龍攪水津</p>
<p>鼓漱三十六　神水滿口勻</p>
<p>一口分三咽　龍行虎自奔</p>
<p>閉氣搓手熱　背摩後精門</p>
<p>盡此一口氣　想火燒臍輪</p>
<p>左右轆轤轉　兩腳放舒伸</p>
<p>叉手雙虛托　低頭攀足頻</p>
<p>以候神水至　再漱再吞津</p>
<p>如此三度畢　神水九次吞</p>
<p>嚥下汩汩響　百脈自調勻</p>
<p>河車搬運畢　想發火燒身</p>
<p>舊名八段錦　子後午前行</p>
<p>勤行無間斷　萬病化為塵</p>
<p>以上系通身合總行之，要依次序，不可缺，不可亂。先要記熟此歌，再詳看後圖及每圖詳註各訣，自無差錯。</p>

<h3>十二段錦第一圖</h3>
<figure>
<img alt="十二段錦第一圖">
</figure>
<p><u>閉目冥心坐　握固靜思神</u></p>
<p>盤腿而坐，緊閉兩目，冥忘心中雜念。凡坐，要堅起脊梁。腰不可軟弱，身不可倚靠。握固者，握手牢固，所以閉關卻邪也。靜思者，靜息思慮而存神也。</p>

<h3>十二段錦第二圖</h3>
<figure>
<img alt="十二段錦第二圖">
</figure>
<p><u>叩齒三十六　兩手抱崑崙</u></p>
<p>上下牙齒相叩作響，宜三十六聲。叩齒以集身內之神，使不散也。崑崙即頭。以兩手十指相叉，抱住後項，即用兩手掌緊掩耳門，暗記鼻息九次，微微呼吸，不宜耳聞有聲。</p>

<h3>十二段錦第三圖</h3>
<figure>
<img alt="十二段錦第三圖">
</figure>
<p><u>左右鳴天鼓　二十四度聞</u></p>
<p>記筭鼻息出入各九次畢，即放所叉之手，移兩手掌掩耳，以第二指迭在中指上，作力放下第二指，重彈腦後，要如擊鼓之聲。左右各二十四度，兩手同彈，一先一後，共四十八聲。仍收手握固。</p>

<h3>十二段錦第四圖</h3>
<figure>
<img alt="十二段錦第四圖">
</figure>
<p><u>微擺撼天柱</u></p>
<p>天柱即後頸。低頭，扭頸向左右側視，肩亦隨頭左右搖擺，各二十四次。</p>

<h3>十二段錦第五圖</h3>
<figure>
<img alt="十二段錦第五圖">
</figure>
<p><u>赤龍攪水津　鼓漱三十六</u></p>
<p><u>神水滿口勻　一口分三咽</u></p>
<p><u>龍行虎自奔</u></p>
<p>赤龍即舌。以舌頂上顎，又攪滿口內上下兩旁，使水津自生。鼓漱於口中，三十六次。神水即津液。分作三次，要汩汩有聲吞下，心暗想目暗看，所吞津液，直送到臍下丹田。龍即津，虎即氣。津下去，氣自隨之。</p>

<h3>十二段錦第六圖</h3>
<figure>
<img alt="十二段錦第六圖">
</figure>
<p><u>閉氣搓手熱　背摩後精門</u></p>
<p>以鼻吸氣，閉之，用兩掌相搓擦極熱，急分兩手磨後腰上兩邊，一面徐徐放氣從鼻出。精門，即後腰兩邊軟處。以兩熱手磨三十六遍，仍收手握固。</p>

<h3>十二段錦第七圖</h3>
<figure>
<img alt="十二段錦第七圖">
</figure>
<p><u>盡此一口氣　想火燒臍輪</u></p>
<p>閉口鼻之氣，以心暗想，運心頭之火下燒丹田，覺似有熱，仍放氣從鼻出。臍輪，即臍下丹田。</p>

<h3>十二段錦第八圖</h3>
<figure>
<img alt="十二段錦第八圖">
</figure>
<p><u>左右轆轤轉</u></p>
<p>曲彎兩手，先以左手連肩圓轉三十六次，如絞車一般，右手亦如之。此單轉轆轤法。</p>

<h3>十二段錦第九圖</h3>
<figure>
<img alt="十二段錦第九圖">
</figure>
<p><u>兩腳放舒伸　叉手雙虛托</u></p>
<p>放所盤兩腳，平伸向前。兩手指相叉，反掌向上，先安所叉之手於頭頂，作力上托，要如重石在手托上，腰身俱著力上聳。手托上一次，又放下，安手頭頂，又托上。共九次。</p>

<h3>十二段錦第十圖</h3>
<figure>
<img alt="十二段錦第十圖">
</figure>
<p><u>低頭攀足頻</u></p>
<p>以兩手向所伸兩腳底作力扳之，頭低如禮拜狀，十二次。仍收手握固，收足盤坐。</p>

<h3>十二段錦第十一圖</h3>
<figure>
<img alt="十二段錦第十一圖">
</figure>
<p><u>以候神水至　再漱再吞律</u></p>
<p><u>如此三度畢　神水九次吞</u></p>
<p><u>嚥下汩汩響　百脈自調勻</u></p>
<p>再用舌攪口內，以候神水滿口，再鼓漱三十六，連前一度，此再二度，乃共三度畢。前一度作三次吞，此二度作六次吞，乃共九次吞。如前嚥下，要汩汩響聲。咽津三度，百脈自周遍調勻。</p>

<h3>十二段錦第十二圖</h3>
<figure>
<img alt="十二段錦第十二圖">
</figure>
<p><u>河車搬運畢</u>　想發火燒身</p>
<p>心想臍下丹田中似有熱氣如火，閉氣如忍大便狀，將熱氣運至穀道（即大便處）升上腰間、背脊、後頸、腦後、頭頂止，又閉氣，從額上、兩太陽、耳根前、兩面頰，降至喉下、心窩、肚臍下丹田止。想似發火燒，一身皆熱。</p>

<h3>八段雜錦歌</h3>
<p>熱擦塗津美面容　掌推頭擺耳無聾</p>
<p>攀弓兩手全除戰　捶打痠疼總不逢</p>
<p>摩熱腳心能健步　掣抽是免轉筋功</p>
<p>拱背治風名虎視　呵呼五臟病都空</p>

<h3>擦面美顏訣</h3>
<figure>
<img alt="擦面美顏訣">
</figure>
<p>此訣無論每日早起及日間偶睡，凡睡醒之時，且慢開眼，先將兩手大指背相合磨擦極熱，隨左右手各揩左右眼皮上，各九數，仍閉目，暗用眼珠輪轉，向左九遍，又向右九遍，仍緊閉片時，即大睜開，明用眼珠向左右九轉。（大除風熱，永無目疾）</p>
<p>隨後又將大指背磨擦極熱，即以兩指背趁熱一上一下揩鼻上三十六遍。（能潤肺）</p>
<p>隨後又將兩大指背彎骨按兩眼外角邊小穴中，各三十六遍，又按兩眼之近鼻兩角之中如數。（大能明目洞視）</p>
<p>隨後合兩掌，磨擦極熱，即以熱掌自上而下順揩面上九十數，要滿面高低處俱到。再舔舌上津液於掌，仍磨擦稍熱，復擦面上，九十次。（能光澤容顏，不致黑皺）</p>
<p>此訣極簡易，但於睡醒時稍遲下床，便可行之。起來覺神清氣爽，即妙處也。久行，各效俱見。</p>

<h3>六字治臟訣</h3>
<figure>
<img alt="六字治臟訣">
</figure>
<p>每日自子時以後，午時以前，靜坐叩齒咽津，即依法念「呵、噓、呼、呬、吹、嘻」六字，以去五臟之病。宜口中輕念，耳不聞聲。每念一字，要盡一口氣久，不可出字。六字惟噓嘻易混，噓字氣從唇出，嘻字氣從舌出。</p>

<h3>六字行功依式樣歌</h3>
<p>肝用噓時目睜睛（念噓字要大睜兩目）</p>
<p>肺宜呬處手雙擎（呬字要兩手如擎物）</p>
<p>心呵頂上連叉手（念呵字要叉掌按頂）</p>
<p>腎吹抱取膝頭平（吹字要兩手抱膝坐）</p>
<p>脾病呼時須嘬口（念呼字要嘬口）</p>
<p>三焦有熱臥嘻寧（嘻字要仰面身臥）</p>

<h3>六字行功應時候歌</h3>
<p>春噓明目木扶肝</p>
<p>夏日呵心火自閒</p>
<p>秋呬定收金肺潤</p>
<p>冬吹水旺坎宮安</p>
<p>三焦長夏嘻除熱</p>
<p>四季呼脾土化餐</p>
<p>切忌出聲聞兩耳</p>
<p>其功真勝保神丹</p>

<h3>六字行功各效驗歌</h3>
<p>噓屬肝兮外主目　赤翳昏蒙淚如哭</p>
<p>只因肝火上來攻　噓而治之效最速</p>
<p>呵屬心兮外主舌　口中乾苦心煩熱</p>
<p>量疾深淺以呵之　喉舌口瘡並消滅</p>
<p>呬屬肺兮外皮毛　傷風咳嗽痰如膠</p>
<p>鼻中流涕兼寒熱　以呬治之醫不勞</p>
<p>吹屬腎兮外主耳　腰膝痠疼陽道痿</p>
<p>微微吐氣以吹之　不用求方需藥理</p>
<p>呼屬脾兮主中土　胸膛氣脹腹如鼓</p>
<p>四肢滯悶腸瀉多　呼而治之復如故</p>
<p>嘻屬三焦治壅塞　三焦通暢除積熱</p>
<p>但須六次以嘻之　此效常行容易得</p>
<p>以上六字，因疾行之，疾愈即止、某處有病，以某字行之，不必俱行，恐傷無病之臟。</p>
<p>能依法行之，實有奇效，故醫書道經並載之。</p>

<h1>修養宜行內功第二</h1>
<p>按摩導引之功既行之於外矣，血脈俱已流暢，肢體無不堅強，再能調和氣息，運而使之降於氣海，升於泥丸，則氣和而神靜，水火有既濟之功，所謂精根根而運轉，氣默默而徘徊，神混混而往來，心澄澄而不動，方是全修，亦是真養。其他玄門服氣之術，非有真傳口授，毫髮之差，無益有損。今擇其無損有益，隨人隨時隨地皆可行者，惟調息及黃河逆流二訣，功簡而易，效神而奇，止在息心靜氣，自堪卻疾延年。爰以四語訣之曰：氣是延生藥，心為使氣神，能從調息法，便是永年人。</p>

<h2>行內功圖</h2>
<figure>
<img alt="行內功圖">
</figure>

<h2>內功正面圖</h2>
<figure>
<img alt="內功正面圖">
</figure>

<h2>內功背面圖</h2>
<figure>
<img alt="內功背面圖">
</figure>

<h2>內功訣</h2>
<p>此決，每日子午二時，先須心靜神閒，盤足坐定，寬解衣帶，平直其身，兩手握固，閉目合口，精專一念，兩目內視，叩齒三十六聲，以舌抵上齶，待津生時，鼓漱滿口，汩聲嚥下，以目內視，直送臍下一寸二分丹田之中。</p>
<p>再以心想目視丹田之中彷彿如有熱氣，輕輕如忍大便之狀，將熱氣運至尾閭，從尾閭升至腎間，從夾脊、雙關升至天柱，從玉枕升至泥丸，少停，即以舌抵上齶，復從神庭降下鵲橋、重樓、絳宮、臍輪、氣穴、丹田。</p>

<h1>修養宜寶精寶氣寶神第三</h1>
<p>高氏云：吾人一身所恃，精、氣、神具足，足則形生，失則形死，故修養之術保全三者，可以延年，是以謂之三寶。夫人一身一家之事應接無窮，心役形勞，不知稍節，恃年力之壯，任意不以為困，何知衰憊之因，死亡之速，由此而致，令人形槁體枯，專求草根木葉之藥物以活吾命，寧足恃哉。故當於每日起居逐時戒謹，乘間照常行動，則身無過損，而氣可日充，精可日蓄，神可日養，疾可自此卻，年可自此延矣。</p>

<h2>總論精氣神</h2>
<p>精者，滋於身者也；氣者，運於身者也；神者，主宰一身者也。如耳目手足之能運者，氣也，使之因事而運者，神也；運之或健或倦者，精也。</p>
<p>耳乃精竅，目乃神竅，口鼻乃氣竅。故耳之閉塞，精病可知；目之昏蒙，神病可知；口之吼喘，氣病可知。</p>
<p>元精，乃先天真精，非交媾之精。元氣，乃虛無空氣，非呼吸之氣。元神，乃本來靈神，非思慮之神。所謂元精、元氣、元神，由未生出胎以前而具，俱先天也。所謂交媾之精、呼吸之氣、思慮之神，乃既生出胎之後而用，俱後天也。</p>
<p>人身精實則氣充，氣充則神旺，此相因而永其生者也。精虛則氣竭，氣竭則神逝，此相因而速其死者也。</p>
<p>孫思邈云：怒甚偏傷氣，思多太損神，神疲精漸敝，形弱病相縈。</p>
<p>太益曰：存神可以固元氣，令病不生。若終日撓混，則神馳於外，氣散於內，營衛昏亂，眾疾相攻矣。</p>
<p>又曰：神能使耳目手足視聽持行，氣即隨而運之，故寧神即養氣保精也。人之身如國。神如君，君良則國治；氣如民，民聚則國強，精如財，財蓄則國富。</p>

<h3>精</h3>
<p>人身液化為血，血化為精，精化為髓。如飲食水穀入胃，由脾磨化成液，生血以充精。故必借穀氣以培後天之精，人乃得生也。</p>
<p>精者，神倚之如魚倚水，蓋魚借水養，神借精滋也。又，精者，氣托之如霧托淵，蓋淵淺則霧薄，精衰則氣弱也。</p>
<p>後天之精，以至陰之液，本於各臟之生化，不過藏之於腎，原非獨出於腎也。</p>
<p>無搖爾精，乃可長生。無搖者，守之固也。人肝精不固，目眩無光，肺精不固，皮肉消瘦；腎精不固，神氣減散；脾精不固，齒髮衰白。疾病隨生，死亡將至，哀哉。</p>
<p>心牽於事，火動於中；心火既動，真精必搖。</p>
<p>《參贊書》曰：人至中年以後，陽氣漸弱。覺陽事猶盛而常舉，必慎而抑之，不可縱情過度。一度不泄，一度火滅，一度火滅，一度添油。若不強制，則是膏火將殘，更去其油。故《經》語云：急守精室勿妄泄，閉而寶之可長活。</p>
<p>凡房室之事，火隨欲起，煽動精室，雖不泄而精漸離位，若將出而復忍之，則精停蓄，必化膿血成毒。</p>

<h3>氣</h3>
<p>氣有稟於天地者，有受於父母者，稟天地之氣謂之真氣，受父母之氣謂之凡氣。</p>
<p>真氣者，人才成胎，便稟天地之氣，與人身之氣以類感類，合化以成人身。氣有清濁厚薄，人因之有強弱剛柔。</p>
<p>凡氣者，人初受形，因父精母血蘊結而成胎，自有溫暖之氣，至十月氣足，然後降生。一點凡氣，藏於下丹田氣穴，一身之氣，呼吸皆出於此。</p>
<p>先天元氣為陽氣，後天穀氣為陰氣。常使元氣內運，陽氣若壯，則陰氣自消，陽壯陰衰，百病不生。</p>
<p>簡菴曰：人若貪睡，則神離於氣，氣無所主，奔潰四溢。</p>
<p>食氣勝元氣者多肥，故人肥甚者多不壽。人借水穀之氣以養身。水穀之清氣，行於脈中者，為營氣，水穀之濁氣，行於脈外者，為衛氣。營氣利關節，衛氣充皮膚。</p>

<h3>神</h3>
<p>神者，人之未生，父母媾精，其兆始見一點，初凝一念是也。始見一點，即所以成形，初交一念，即所以生神。</p>
<p>神為氣之子，如有氣以成形，乃有神之知覺運動。指始有身而言也。</p>
<p>神為氣之帥，如神行即氣行，神住即氣住。指既有身而言也。</p>
<p>神靜則心和，神躁則心蕩，心蕩則形傷。欲全其形，先在理神，恬和養神以安於內，清虛棲心不誘於外。</p>
<p>《代疑編》云：身如屋，神如主人，主人亡，則屋無與守，曠而將傾矣。身如舟，神如舟子，舟子去，則舟不能行，空而隨敝矣。世人忙忙碌碌，只奉養肉身，而關係至重之神反撇卻不顧，猶之舍舟子而操舟，棄主人而奉屋，豈不危哉。</p>
<p>昔康仲俊年八十六，極強壯，自言少時讀《千字文》即有所解悟，謂「心動神疲」四字也。平生遇事知謹節，不久勞心疲神，故老而不衰。</p>

<h3>全神語</h3>
<p>彌格居士曰：神者，心之運用，宜急治心以全神。</p>
<p>《覺世真言》曰：通天達地，出化入神，只是一個心。動中茫茫，不知此心久不在腔子里。故治心者要先知收心。</p>
<p>又曰：心乃一身之主，主人要時時在家，一不在家，則家人無管束，必散亂矣，故心不內守則氣自散，神自亂，精自耗。</p>
<p>《覓玄語錄》云：所謂思慮者，亂想耳。只是將已往未來之事，終日牽念。故知事未嘗累人心，乃人心自累於事，不肯放耳。</p>
<p>又曰：世人終日營擾，精神困憊，夜間一睡，一點靈明又為後天濁氣所掩，安得復有澄定之時。</p>
<p>龍舒居士曰：世人一生，父母妻子、屋宅田園、牛羊車馬，以至微細等物，無非己之所有，舉眼動步，莫不顧戀。且如紙窗雖微，被人扯破，猶有怒心；一針雖小，被人將去，猶有吝意。一宿在外，已念其家；一僕未歸，已憂其失。種種事物，無不掛懷。一旦大限到來，盡皆拋棄，雖我此身亦棄物也，況身外者乎。靜言思之，恍然可悟，一場幻夢。</p>
<p>《呂涇野語》曰：人生順逆得失，即盈虛消息之理，乃造化所司，非人所得而主之者。然造化能苦我以境，不能苦我之心，是隻厄其半也：若境苦而我心亦緣境俱苦，謂之全厄。明明厄可減半，我自願受其全，豈非癡漢。</p>
<p>《虛齋語錄》曰：仰觀宇宙之廣大，俯察身世之微渺，內視七情貪戀之虛想，外睹六親眷屬之幻緣，如一浮萍泛於巨海，一漚泡消於大江，此何庸著意安排。倘昔自纏綿，徒以困憊終其身，此之謂人繭。</p>
<p>又曰：世宙一大戲場。離合悲歡要看假些，功名富貴要看淡些，顛連困苦要看平常些，時勢熱鬧要看冷落些。若認真，當順境則心蕩氣揚，當逆境則情傷魄喪，到得鑼鼓一歇，酒闌人散，漏盡鐘鳴，眾角色一齊下場，那時誰苦誰樂。</p>
<p>《覓玄語錄》云：學治心者，必須萬慮俱忘，一心清靜。問曰：如何得心清？曰：誰令爾濁。問曰：如何得心靜？曰：誰令爾動。凡人起一切事，本由自心，止一切事，亦由自心。如耳不聞非禮之聲，聲自不擾汝耳；目不視非禮之色，色自不侵汝目。作如是想，自然清靜矣。又問曰：決烈之士，於身心世事兩境界，他能覷破，用慧劍斬群魔，自是入道大器，下士為名利纏縛，為嗜欲纏縛，安能一旦了達解脫？曰：不怕念起，惟怕覺遲，覺來則念止，此妙訣也。每於一念妄生，覺時急止之，自此以一覺止一念，久久純熟，自然無念有覺。心譬如鏡，鏡常磨則塵垢不沾，光彩常現。只此覺止二字，是入清靜境界的道路。</p>
<p>又曰：治心者時時內觀此心，即謂之覺，一切煩邪亂想，隨覺即除。</p>
<p>又曰：觸事之心，未能不動，但須如谷應聲，即應即止，如鏡照物，物來則照，物去不留。</p>
<p>《心傳》曰：將躁而止之以寧，將邪而閒之以正，將求而抑之以舍。於此習久，則物冥於外，神安於內，不求靜而心自靜矣。</p>
<p>又曰：人居塵世，難免營求，雖有營求之事，而無得失之心，故有得無得，心常安泰。</p>
<p>《呂涇野語》曰：人心最苦處，是此心沾滯，縱自知得，不能割斷。故古有詔人歌曰：夜結於夢，晝馳於想，起滅萬端，盡屬虛妄，一劍把持，群魔消喪。</p>
<p>《虛齋語錄》曰：人生只忙迫一場，苦惱至死，豈不可哀。《詩》云：今此不樂，逝者其耋。苦惱者，當自去尋樂一番。蓋人固不可不知虛生之憂，亦不可不知有生之樂；不可不行步步求生之事，尤不可不存時時可死之心。</p>
<p>宋白公曰：煩惱乃伐命之斧斤，人當於難制處用功。古人有除煩惱歌云：百年偶寄，何苦煩惱，天地缺陷，人生皆有，生初墜地，哭聲一吼，身落塵劫，煩惱居首。煩字從火，內焚外燎，臟腑焦燥，形貌枯槁，精因之搖，神因之擾，氣因之喪，壽因之夭。人固明知，煩惱自討，氣性之偏，習而難矯，執迷者多，醒悟者少。古有歌詞，名曰寶誥，當煩惱時，心鏡內照，譬如此身，冥冥杳杳，墜地以前，歸土以後，此身都無，煩惱盡掃。持誦斯言，永年可保。</p>
<p>吾聞多憂者見理之不明也，否則安命之不固也，不然，何不學君子之蕩蕩，反同小人之慼慼。</p>
<p>又聞多憂者其思結，氣將沮也；其氣沮，神將索也。多陰而少陽，將從陰而下沉，不能從陽而上升也。此近死之兆。</p>
<p>有一樂境界，便有一苦境界相對待。有一得意事，便有一失意事相乘除。猶晝夜寒暑之循環，無偏倚也。故知履盛滿者不必喜，知必有困厄之時，履困厄者不必憂，知必有亨通之日。宜遠觀百年之興廢，無近拘一日之榮枯。欲知其實，但當看人家高曾祖父與其子孫，通計較量，則有盛必有衰，有衰必有盛，循環對待之理，顯然在目前矣。</p>
<p>人生世間，自幼至壯至老，如意之事常少，不如意之事常多。雖大富貴人，天下之所仰羨以為神仙，而其不如意事各自有之，與貧賤者無異，特所憂患之事異耳，從無有足心滿意者。故謂之缺陷世界。能達此理而順受之，則雖處患難中，無異於樂境矣。</p>
<p>人謂貧賤不如富貴耶？積貯愈厚，計慮愈深，勞苦愈甚。第宅園田，為子計，又為孫計。致使飲膳失期，夜分莫寢，貧賤者無是苦也。孰謂貧賤不如富貴也。</p>
<p>為卑官，則恨不享大位；及位高，而險禍叵測，回想卑官而受安穩之福，真仙境矣。布衣糲食，舉家安泰，惟恨不富；及至金多，而經營勞困，驚惶憂恐，回想貧窮無事時，一家安泰，真仙境矣。身體強健，則恨欲不稱心；一朝疾病淹纏，臥床寢席，百般痛苦，回想四體康強時，真仙境矣。無奈人只見一層，不見二層也。</p>

<h3>一字安心之要</h3>
<figure>
<img alt="圖">
</figure>

<h1>修養宜知要知忌知傷第四</h1>
<p>子輿氏曰：夫蚓上食稿壤，下飲黃泉。東坡曰：蝸涎不滿殼，聊足以自濡。所謂知要也。又，《野語》曰：蝮蛇有一種小而甚智。巫流操其法術欲取之，必誦咒語於洞穴之口。蝮一聞之，即以尾塞其耳，拒其聲而弗聽。巫術窮，而蝮得安於蜇。所謂知忌也。又曰：夜飛之蛾，赴燈燭光而撲之，始以為快，卒以焚身。蚊睫朗於暗，避火而遠颺焉。所謂知傷也。夫人靈於物，終其身昧昧然，不知所謂有要有忌有傷者，或致枯於貪，或罹患於誘，或焚身於快。予為就日之所習，最要最忌最傷之事，臚列而瑣陳之，使由是推類引伸，以保其生，庶幾不智出微蟲下也。</p>

<h2>十要</h2>
<p>面要常擦　如前擦面之功，能使容顏光澤，故要常擦。道家謂之修神庭。</p>
<p>目要常揩　每靜時能常閉目，用兩大指背，兩相磨擦，揩眼使去火，永無目疾，故要常揩。</p>
<p>耳要常彈　即鳴天鼓。可免耳患，故要常彈。</p>
<p>齒要常叩　齒喜動，故要常叩。</p>
<p>背要常暖　肺系近背，暖則不受風寒，故要常暖。</p>
<p>胸要常護　胸即心窩，故要常護。</p>
<p>腹要常摩　歌云：食後徐行百步多，手摩臍腹食消磨。故要常摩。</p>
<p>足要常搓　如前足功，搓腳底湧泉穴，能去風濕，健步履，故要常搓。</p>
<p>津要常咽　如前舌功，常取津液滿口，汩聲咽之，能宣通百脈，故要常咽。</p>
<p>睡要常曲　仰面伸足睡，恐失精，故宜側曲。又曰：睡則氣滯於百節，養生家睡宜縮，覺宜伸。</p>

<h2>十忌</h2>
<p>忌早起科頭早多風露之氣，科頭則寒邪入腦，故忌之。</p>
<p>忌陰室貪涼　無陽照之室，陰氣重，傷人，故忌之。</p>
<p>忌濕地久坐　潮濕氣主生瘡毒，故忌之。</p>
<p>忌冷著汗衣　汗衣濕後必冷，著之則侵背傷肺，故忌之。</p>
<p>忌熱著曬衣　久曬之衣，有熱毒，未經退熱即著在身，必受毒，故忌之。</p>
<p>忌出汗扇風　汗出時毛竅俱開，扇則風邪侵入，故忌之。</p>
<p>忌燈燭照睡　神不安，故忌之。</p>
<p>忌子時房事　陽初生而頓滅，一度勝十度，故忌之。</p>
<p>忌夏月涼水抹簟，冬月熱火烘衣　冷水受濕，熱火受毒，取快一時，久必生病，故忌之。</p>
<p>忌久觀場演劇　久視久聽，則神與精俱傷，故忌之。</p>

<h2>十八傷</h2>
<p>久視傷精　目得血能視，精由血化，故傷精。</p>
<p>久聽傷神　神滋於腎，腎通竅於耳，故傷神。</p>
<p>久臥傷氣　臥時張口散氣，合口壅氣，故傷氣。《混元經》曰：睡則氣滯於百節（覺與陽合，寐與陰並，覺多則魂強，寐久則魄壯，魂強者生之人，魄壯者死之徒也）。</p>
<p>久坐傷脈　脈宜運動，坐則不舒展，故傷脈。</p>
<p>久立傷骨　立以骨幹為用，故傷骨。</p>
<p>久行傷筋　行以筋力為用，故傷筋。</p>
<p>暴怒傷肝　肝屬木，怒如暴風動搖，故傷肝。又，肝主血，肝傷則血不榮，必筋痿。</p>
<p>思慮傷脾　思慮時，脾必運動，太過則脾倦，故傷脾。</p>
<p>極憂傷心　心屬火，於味主苦，憂則苦甚，故傷心。</p>
<p>過悲傷肺　肺屬金、主聲音，悲苦久則聲啞，故傷肺。</p>
<p>過飽傷胃　飽食運化難消，故傷胃。</p>
<p>多恐傷腎　腎屬水，主北方黑色，人受驚恐則面黑，故傷腎。</p>
<p>多笑傷腰　笑時必腎轉牽腰動，故傷腰。</p>
<p>多言傷液　言多則口焦舌苦，故傷液。</p>
<p>多唾傷津　津生於華池，散為潤澤，灌溉百脈，唾則損失，故傷津。又，《訓典》曰：津不吐，有則含以咽之，使人精氣留而自光。</p>
<p>多汗傷陽　汗多亡陽，陽隨汗出，故傷陽。</p>
<p>多淚傷血　血藏於肝，哭泣多則肝損目枯，故傷血。</p>
<p>多交傷髓　人之陽物，百脈貫通，及欲火動而行事，撮一身血髓至於命門，化精以泄。不知節欲，致骨髓枯竭，真陽無寄，如魚之失水以死。</p>

<h1>修養宜四時調理第五</h1>
<p>延壽之法，惟自護其身而已。冬溫夏涼，不失時序，即所以自護其身也。故前人云：知攝生者，臥起有四時之早晚，興居有至和之常制，調養筋骨有偃仰之方，節宣勞逸有予奪之要，溫涼合度，居處無犯於八邪，則身自安矣。真西山先生四時調理春月歌云：嘗聞避風如避箭，春風多厲須防患，況因陽發毛孔開，風才一入成癱瘓。夏月歌云：四時惟夏難調理，陽神在外陰在裡，心旺腎衰何所防，特忌貪歡泄精氣。秋月歌云：時到秋來多瘧痢，浣漱沐浴宜暖水，瓜茄生菜不宜餐，臥冷枕涼皆勿喜。冬月歌云：伏陽在內三冬月，切忌汗多陽氣泄，陰霧之中勿遠行，凍雪嚴霜宜早歇。春夏秋冬歷一年，稍知調護自無愆，安然無病稱真福，莫恃身當壯盛年。細玩五歌，語雖淺而法實周，欲護其身者，故當書紳三複。</p>

<h2>春三月</h2>
<p>《攝生消息論》曰：春陽初升，萬物發萌，人有宿疾，春氣攻動，又兼去冬以來，擁爐薰衣，積至春月，因而發泄，致體熱頭昏，四肢倦怠，腰腳無力，皆冬所蓄之疾，是務調理。</p>
<p><u>調理法</u></p>
<p>勿多食酸味，減酸以養脾氣。（春，肝木正旺，酸味屬木，脾屬土，恐酸味助木剋土，令脾受病）</p>
<p>宜常食新韭，大益人。過春後勿食，多昏神。</p>
<p>飲屠蘇酒於元旦，免一年疾患。酒方：大黃（一錢）　川椒（一錢五分）　桂心（一錢八分）　烏頭（炮，六分）　白朮（一錢八分）　茱萸（一錢一分）　桔梗（一錢五分）　防風（一兩）。</p>
<p>元旦寅時，酒煎飲之。宜先幼後長。</p>
<p>乍寒乍暖，不可頓去綿衣，漸漸減之。稍寒莫強忍，即仍加服。</p>
<p>春夜臥時，間或用熱水，下鹽一撮，洗膝下至足，方臥。能泄風邪腳氣。</p>
<p>三月三日，上巳節，宜臨水宴飲，修禊事以祓除不祥。</p>

<h2>夏三月</h2>
<p>《保生心鑑》曰：暑氣酷烈，煉石流金於外，心火焚熾於內，古人於是時獨宿、淡味，節嗜欲，定心息氣，兢兢業業，保身養生。諺云：度過七月半，便是鐵石漢。因一歲惟夏，乃生死關也。試看草枯木落，其汁液盡消竭於夏。危乎危乎，其此時乎。</p>
<p><u>調理法</u></p>
<p>勿多食苦味，減苦以養肺氣。（夏，心火正旺，苦味屬火，肺屬金，恐苦味助火剋金，令肺受病）</p>
<p>雖大熱，勿食凍水、冷粉、冷粥等物，雖取快一時，冷熱相搏，多致腹疾。</p>
<p>勿食煎炒炙煿等物，以助熱毒。多發癰疽。</p>
<p>勿枕冷石。損目。</p>
<p>勿睡熟扇風，或露臥取涼。多成風痹癱瘓之病。</p>
<p>陰房破窗，防賊風中人最暴。</p>
<p>勿用冷井水洗面，伏熱在身。</p>
<p>烈日曬熱之衣，不可便穿。</p>
<p>宜每日早起，以受清明之氣。</p>
<p>五月五日，用枸杞煎水沐浴，可卻除災疾。</p>
<p>又，是日午時，可合平安散存用。（凡五月五日午時宜修合藥餌者，因斗柄決。以月月常加戌，戌時天罡指午，亥時指未，自未輪轉，五日午時正指艮宮，為塞鬼戶也，故用此時合藥最效）</p>
<p><u>平安散方</u></p>
<p>雄黃　火硝　明礬　硃砂（各二錢）　冰片　麝香（各三分）　蓽茇（五釐）　真金三十張共研為末。</p>
<p>防疫氣流行，用貫仲一味，置廚房水缸內，閤家食之，不染。</p>
<p>調烏梅湯解暑。方用烏梅，不拘多少，搗爛，加蜜，調滾水，待溫飲之。或用砂糖代蜜亦可。</p>

<h2>秋三月</h2>
<p>《養生論》曰：秋風雖爽，時主肅殺，萬物於此凋傷。順時調攝，使志安寧，以緩秋刑，此秋氣之應，養收之道也。</p>
<p><u>調理法</u></p>
<p>勿多食辛味，減辛以養肝氣。（秋，肺金正旺，辛味屬金，肝屬木，恐辛味助金剋木，令肝受病）</p>
<p>勿食生冷，以防痢疾。</p>
<p>勿食新姜，大熱，損目。</p>
<p>勿貪取新涼。（凡人五臟俞穴，皆會於背。酷熱之後，貪取風涼，此中風之源也。故背宜常暖護之）</p>
<p>八月一日，用絹展取百草頭上露，拭兩目，倍光明。柏樹露尤妙。</p>
<p>九月九日，佩茱萸，飲菊花酒，卻疾益人。</p>

<h2>冬三月</h2>
<p>《律志》曰：北方，陰也，伏也。陽伏於下，於時為冬。當閉精養神，以厚斂藏。如植物培護於冬。至來春方得榮茂。此時若戕賊之，春升之際，下無根本，枯悴必矣。</p>
<p><u>調理法</u></p>
<p>勿多食鹹味，減咸以養心氣。（冬。腎水正旺，咸屬水，心屬火，恐鹹味助水剋火，令心受病）</p>
<p>不宜多出汗，恐泄陽氣。</p>
<p>勿多食蔥，亦恐發散陽氣。</p>
<p>不宜沐浴。陽氣在內，熱水逼而出汗。（汗出而毛孔開，最易感寒。冬傷於寒，春必病瘟）</p>
<p>不宜早出犯霜，或略飲酒以沖寒氣。</p>
<p>不宜犯賊邪之風。（冬月，東南風為賊邪風，宜謹避之）</p>
<p>冬至日，用赤小豆煮粥，合宅啜之，可免瘟疫時症。</p>
<p>宜積貯雪水，烹茶飲之，能解一切熱毒。</p>

<h1>修養宜飲食調理第六</h1>
<p>飲食男女，人之大欲存焉，即人之死生系焉。舉世之人，皆知男女之事縱欲必致傷生，即飲食之中，亦惟知縱酒過度必至戕命，至於嗜味縱口，疾病叢蓄，甘陷溺於其中而不知警。蓋病之生也，其機甚微，由積漸而毒始發，及病之成也，第歸咎於外感六氣、內傷七情，鮮有悔悟於平日口腹之貪饕者。考之《內經》曰：飲食入胃，遊溢精氣，上輸於脾；脾氣散精，上歸於肺；通調水道，下輸膀胱；水精四布，諸經並行。是為無病之人。此言水穀之益人也。今也飲食不節，恣食厚味，惟恐不及，血沸氣騰，濟以燥毒，清化為濁，脈道阻澀，不能自行，疾已潛滋矣，猶恬不知畏。雖曉之以物性，陳說利害，無如美食在前，馨氣當鼻，饞涎莫遏，其可禁乎。或反託詞腸胃堅厚，福氣深壯，何妨奉養。縱口固快一時，積久必為災害。前哲格言，爽口作疾，厚味厝毒，謂之何也。或者疑《內經》曰精不足者補之以味，又曰地食人以五味，則嗜味何傷。不知味有本於天者，有成於人者。谷粟菽麥，自然沖和之味，有益人補陰之功，此《內經》所為本天之味也。若人之所為者，皆烹飪偏厚之味，有致疾傷命之虞，安於沖和之味者，心之斂，火之降也；以偏厚之味為安者，欲之縱，火之勝也。且穀食與肥鮮同進，厚味得谷為助，其積之也久，寧不長陰火而致虐乎。彼安於厚味者，未之思耳。昔人《飲食垂戒箴》曰：山野貧賤，淡薄為常，動作不衰，體健而康，均此同體，我獨苦病，悔悟一萌，塵開鏡淨。可知茹淡者安，啖厚者危。試觀古今來壽登百歲以上者，多出於民間，而身都通顯家享豐厚者，罕有其人，豈天命定數，獨彼壽而此否乎。又或者曰：視養我者均為我賊，食物固可廢歟？曰：厚不如薄，多不如少，慮患而謹節之，畏危而堅忍之，舉匕箸如儆戈矛，不與肉食者同其陷溺，寧負我生之腹，不負生我之天，是亦衛生之一道也。</p>
<p>嗜味縱口，必致傷生，已淳淳戒之矣。即日用蔬菜之屬，各有性寒性熱之不同，或益或損之宜辨，苟非平時留神審擇，亦陰受其患而不知。茲復就家常需用之食物，搜考本草諸書而摘錄之，憚知所去取而慎擇焉。按本草諸書，坊間舊刻不下數十種，究無一可據，或性味彼此柄鑿，或損益自相矛盾，甚或侈陳反忌，竟無一物敢入口者。姑舉其一二言之。如食品諸物，載雞肉同蝦、鯉魚食，成癰：芥菜同鯉魚食，成心瘕。凡餚饌中多以此合食，曾未見有為害者。且又謂鴨肉與鱉同食殺人，尤屬妄誕，駭人耳目。至如一物也，言主治則云能化痰能益氣，言反忌又云食之生痰動氣。將信為化痰益氣而食之乎，抑信為生痰動氣而禁之乎，令人無所適從，何須費辭饒舌。惟延禧堂《集解》頗能闢之，謂諸家食忌不可盡信。然亦以「豬之臨宰，驚氣入心，絕氣入肝，皆不可食」等語，信為有據，敘入篇中。獨不思心之與肝，凡畜同具，屠宰之時，皆不驚不絕乎，何僅一豬為然。且既云心不可食矣，何又云心可入心補心；既云肝不可食矣，何又云肝能入肝明目。荒唐無稽之說，不可殫述。茲則刪其繁蕪，正其悖謬，就常食習見之物，分類而剖之，確而可信，簡而易稽，俾飲之食之者，洞悉其物性，審擇其損益，庶有助於養生者之趨避也。</p>

<h2>穀類</h2>
<p>粳米　性和平，得天地中和之氣。</p>
<p>又稱黏米。（南產米勝於麥，北產麥勝於米，亦地氣使然也）</p>
<p>〔宜〕　陳米性平，扶助脾土，益精強志，滋培胃氣。</p>
<p>〔忌〕　新米性稍熱，凝痰。</p>
<p>早米　（性溫，得土氣，最能健脾）</p>
<p>晚米　（性涼，得金氣，尤能解熱）</p>
<p>紅米　（性溫，力厚）</p>
<p>白米　（性涼，氣清）</p>
<p>糯米　性溫，米之綿軟者。</p>
<p>〔宜〕　補脾肺虛冷，堅大便，實腸。</p>
<p>〔忌〕　多食黏滯難化。（糯米釀酒，和以極克伐之藥曲，糟秕仍難融化，即此可知）</p>
<p>粟米　性微寒。</p>
<p>小米曰粟米。糯者名秫，釀與糯米同。</p>
<p>〔宜〕　養腎益氣，解胃熱，利二便。</p>
<p>〔忌〕　濕熱下痢者少食。</p>
<p>大麥　性溫。</p>
<p>〔宜〕　助胃補脾，下氣除脹。</p>
<p>〔忌〕　久食生熟，亦令腳軟，因其下氣也。</p>
<p>麥芽　（性微熱，味甘。化一切面食積滯）</p>
<p>小麥　性微寒。</p>
<p>北產與陳久者良。</p>
<p>〔宜〕　養心補氣，助五臟，厚腸胃。</p>
<p>面（性熱）</p>
<p>（麥之涼在皮，面去皮即性熱。加鹼水者多口燥發渴）</p>
<p>麩　（性涼。熨腰腳寒濕，散血止痛）</p>
<p>蕎麥　性寒。</p>
<p>〔宜〕　降氣寬腸，解酒積。</p>
<p>〔忌〕　脾胃虛者勿多食。致頭眩。</p>
<p>高粱　即稷。</p>
<p>〔宜〕　作酒。治腹疾良。</p>
<p>芝麻　性平。</p>
<p>即胡麻。又名巨勝子。陶弘景曰：八谷中惟此最良。</p>
<p>〔宜〕　補脾，益肝腎，潤五臟，填精髓，堅筋骨，明耳目，涼血，解毒。黑者入腎；白者入肺；粟色者久蒸久曬，可以耐飢。</p>
<p>薏苡仁　性微寒。</p>
<p>〔宜〕　健脾補肺，除腳氣濕熱，去筋疼拘攣，亦治疝氣熱淋。祛邪輔正，有益無損，最宜常作粥食。</p>
<p>綠豆　性涼。去皮性平。</p>
<p>〔宜〕　清熱解毒，利小便，消腫痛。</p>
<p>〔忌〕　多食動腹中冷氣。</p>
<p>豆粉　（性涼）</p>
<p>（蕩粉皮、索粉條，皆能醒酒解毒）</p>
<p>豆芽　（同粉）</p>
<p>黃豆　性平。炒則熱，煮則寒，作豉則冷，蒸曬則溫。</p>
<p>〔宜〕　清熱，下大腸濁氣。</p>
<p>〔忌〕　發瘡助膿。</p>
<p>豆腐　（性寒。和脾胃，消脹）</p>
<p>豆腐漿　（清火帶補）</p>
<p>豆腐皮　（性寒。解熱、除斑）</p>
<p>豆腐乾　（性同豆腐）</p>
<p>豆腐乳　（性同）</p>
<p>黑豆　性寒。堅小者名馬料豆。</p>
<p>〔宜〕　鎮心活血，明目補腎，利水下氣，散熱，驅風，解毒。</p>
<p>豆豉　（性冷。發汗解肌，調中下氣）</p>
<p>蠶豆　性溫。即胡豆。</p>
<p>〔宜〕　快胃利臟。</p>
<p>〔忌〕　多食發脹。</p>
<p>豌豆　性平。</p>
<p>〔宜〕　益胃，止泄。</p>
<p>〔忌〕　多食發脹。</p>
<p>赤小豆　性平。</p>
<p>〔宜〕　補心。</p>
<p>〔忌〕　多食助熱。</p>

<h2>獸類</h2>
<p>豬肉　性微寒。</p>
<p>雄豬曰豭，騸割者曰豶，母豬曰彘。</p>
<p>〔宜〕　肉補肉，豐肌體，澤皮膚。亦潤腸胃，生精液。</p>
<p>〔忌〕　多食助熱、生痰、動風。（故肉雖多不使勝食氣也。風寒病初起及愈後宜暫禁之。因油膩沾滯，風寒不能解散。又，病後腸胃虛弱，難受肥濃也）</p>
<p>豬頭　（性熱，有毒，發宿疾）</p>
<p>槽頭　（毒比豬頭尤甚。系豬項肉）</p>
<p>腦髓　（性大寒，冷精，損陽）</p>
<p>豬舌　（無毒，可食）</p>
<p>豬蹄　（性平）</p>
<p>（煮湯食，通乳汁。洗敗瘡良）</p>
<p>豬血　（性平）</p>
<p>（解丹石毒。治頭風眩暈。心血治驚癲。尾血和冰片治痘瘡倒黶）</p>
<p>（多食損陽）</p>
<p>豬油　（性寒）</p>
<p>（涼血，潤燥，散風，利腸，解毒，殺蟲。胰子油潤五臟，消干脹）</p>
<p>豬心　（性平）</p>
<p>（治驚邪虛悸，補心血不足）</p>
<p>豬肝　（性溫補肝明目）</p>
<p>豬肺　（性微寒。補肺治咳）</p>
<p>豬肚　（性溫）</p>
<p>（健脾，補羸，助氣，四季宜食）</p>
<p>豬腸　（性寒潤腸治燥，止小便，調血痢）</p>
<p>豬腎　（即腰子。性冷。治腎虛腰疼。耳聾）</p>
<p>豬脾　（即連貼。性平。治脾胃虛熱）</p>
<p>豬脊髓　（性寒。補骨髓，益虛勞）</p>
<p>羊肉　性熱。</p>
<p>〔宜〕　補虛勞，益氣血，壯陽，開胃。</p>
<p>〔忌〕　發瘡癤。</p>
<p>羊肝　（性平。補肝明目）</p>
<p>羊膽　（性苦寒。點風淚眼、赤障、白翳良）</p>
<p>脛骨　（燒灰擦牙良）</p>
<p>羊血　（性涼。解金銀、丹石、砒硫毒）</p>
<p>羊乳　（性甘溫）</p>
<p>（補肺腎虛，潤胃脘、大腸，治反胃、消渴、口瘡、舌腫）</p>
<p>牛肉　性溫。味甘。補脾。</p>
<p>〔宜〕　補脾益氣，壯力強筋。</p>
<p>〔忌〕　患瘡毒者勿食肉，患冷痢者勿食乳。且有功之畜，亦不忍食。</p>
<p>牛乳　（味甘寒）</p>
<p>（作酥油，補臟利腸，和血脈，澤肌膚。作酪，止煩，潤燥，益心肺）</p>
<p>犬肉　性溫。味甘微辛。</p>
<p>〔宜〕　暖胃，益脾，補虛，壯陽。</p>
<p>〔忌〕　食之身帶厭穢。亦有功之畜，戒與牛同。</p>
<p>鹿肉　性溫。味甘微酸。</p>
<p>〔宜〕　補中益氣，助虛補臟。（鹿乃純陽多壽之物，又擇食良草，其肉有益無損）</p>
<p>鹿茸</p>
<p>（補骨血，益精髓，堅陽道，除耳聾，目暗）</p>
<p>鹿角膠</p>
<p>（強骨髓，補陽，悅顏色）</p>
<p>兔肉　性涼。</p>
<p>〔宜〕　益肺健脾。小兒食，稀痘。</p>
<p>〔忌〕　孕婦不宜食。</p>
<p>麂肉　性平。</p>
<p>〔宜〕　治五痔。</p>
<p>熊肉　性平。</p>
<p>〔宜〕　補虛損，除風痹。</p>
<p>熊掌　（性溫）</p>
<p>（益氣力，御風寒，除痹，補虛）</p>
<p>熊膽　（性苦寒）</p>
<p>（涼心，平肝，明目，殺蟲，治驚癇、五痔）</p>
<p>獐肉　性溫。</p>
<p>〔宜〕　祛風，消瘤。</p>
<p>〔忌〕　動風。</p>
<p>果子貍肉　性平。</p>
<p>〔宜〕　去遊風。</p>
<p>虎肉　性平。味微酸。</p>
<p>〔宜〕　益氣力，止驚悸。</p>
<p>虎骨　（治筋骨，追風定痛）</p>
<p>虎脛　（治手足諸風）</p>
<p>豹肉　性平。</p>
<p>〔宜〕　強氣健力。</p>
<p>馬肉　性冷。</p>
<p>〔宜〕　壯筋骨，治痿痹。</p>
<p>〔忌〕　發瘡疥。春食防瘴毒。</p>
<p>驢肉　性涼。</p>
<p>〔宜〕　益勞損。</p>
<p>〔忌〕　動風。</p>
<p>野豬肉　性平。</p>
<p>〔宜〕　治腸風瀉血。</p>

<h2>禽類</h2>
<p>雞肉　性溫。味辛，入肺。</p>
<p>黃雌及烏骨者良。</p>
<p>〔宜〕　補虛，溫中，治勞損，助陽氣。</p>
<p>〔忌〕　發風，助肝火。老雞頭有毒，勿食。</p>
<p>雞蛋　（性平）</p>
<p>（補血，清音，止嗽，散熱，定驚，止痢，安胎）</p>
<p>鴨肉　性冷。味甘鹹。老鴨白鴨良。</p>
<p>〔宜〕　滋陰補虛，除蒸止嗽，利水道，治熱痢。</p>
<p>鴨蛋　（性微寒）</p>
<p>（能除心腹膈熱。鹽藏食更宜）</p>
<p>鵝肉　性寒。味辛甘。</p>
<p>白鵝辛涼無毒，蒼鵝冷有毒。老鵝良，嫩鵝毒。</p>
<p>〔宜〕　解臟熱。汁止消渴。</p>
<p>〔忌〕　發風動瘡。</p>
<p>野鴨　性涼　一名鳧。</p>
<p>〔宜〕補中，益氣，平胃，消食，解熱。</p>
<p>野雞　性微寒。一名雉雞。</p>
<p>〔宜〕　補中，益氣，止泄。</p>
<p>〔忌〕　春夏食之微毒。</p>
<p>鴿　性平。味甘辛。入腎經助陽。</p>
<p>〔宜〕　除諸瘡疾，解百藥毒。</p>
<p>〔忌〕　減藥力。</p>
<p>鴿屎　（治陰症腹痛）</p>
<p>斑鳩　性平。味甘微咸。入肝經明目。</p>
<p>〔宜〕　補氣，助陰，能明眼目。</p>
<p>麻雀　性溫。</p>
<p>〔宜〕　益氣，壯陽。</p>
<p>麻雀蛋</p>
<p>（有斑。五月取之，和天雄、菟絲子為丸，酒下，治陽痿不起）</p>
<p>雁　性平。</p>
<p>〔宜〕　治風攣拘急，長毛髮鬚眉，除結熱，開耳聾。</p>
<p>鸕鷀　性冷。</p>
<p>〔宜〕　治大腹鼓脹，利水道。</p>

<h2>水族類</h2>
<p>燕窩　性平。潔白者良。</p>
<p>〔宜〕　消痰，降火，補氣。</p>
<p>海參　性寒滑。</p>
<p>〔宜〕　解臟熱，補腎，故名參。</p>
<p>〔忌〕　稍滯而難化。</p>
<p>鮑魚　性溫。</p>
<p>〔宜〕　化痰。</p>
<p>魚翅　性平。</p>
<p>鯉魚　性平。</p>
<p>〔宜〕　利小便，治腳氣、水腫、黃疸。</p>
<p>鱘鰉魚　性平。味甘辛。雄曰鱘，雌曰鰉。</p>
<p>〔宜〕　作鮓，可常食。</p>
<p>鰣魚　性平。味甘。</p>
<p>〔宜〕　補虛勞。</p>
<p>〔忌〕　發疳痼。</p>
<p>鱸魚　性溫。</p>
<p>〔宜〕　溫中益氣。</p>
<p>鯖魚　性甘平。</p>
<p>〔宜〕　治腳氣。</p>
<p>〔忌〕　服術人勿服。</p>
<p>膽（治目疾，除喉痹，塗熱瘡）</p>
<p>鯿魚　性平。味甘。即魴魚。</p>
<p>鯽魚　性溫。味甘。</p>
<p>〔宜〕　和胃實腸。（魚皆屬火，惟鯽屬土，故宜腸胃）</p>
<p>〔忌〕　不宜同沙糖食。</p>
<p>鰱魚　性甘溫。味甘。一名鱮魚。</p>
<p>〔宜〕　補中益氣。</p>
<p>〔忌〕　多食，令人熱中發渴，又發瘡疥。</p>
<p>鱖魚　性平。</p>
<p>〔宜〕　補虛，益脾，治勞瘵、腸風便血。</p>
<p>鯇魚　性溫。即草魚。</p>
<p>〔宜〕　暖胃和中。</p>
<p>鮎魚　性平。味甘。大者為蠖魚。</p>
<p>鯗魚　性平。即石首魚乾。</p>
<p>〔宜〕　開胃，消食，治痢。凡病中，忌油膩生冷，惟食鯗相宜。</p>
<p>白魚　性平。味甘。又名魪魚。</p>
<p>〔宜〕　開胃助脾，補肝明目。</p>
<p>〔忌〕　患癤毒人食之，發膿。</p>
<p>鰷魚　性平。即䱗魚。</p>
<p>〔宜〕　暖胃，止冷瀉。</p>
<p>鯊鮈魚　性平。味甘。</p>
<p>〔宜〕　暖中，益氣。</p>
<p>銀魚　性平。味甘淡。</p>
<p>烏魚　性平。味甘微咸。即鱧魚。</p>
<p>〔宜〕　煮湯洗除汗斑。</p>
<p>鮰魚　性平。味甘。</p>
<p>有黃白二色，黃而小者名顙魚。</p>
<p>鱔魚　性溫。味甘。</p>
<p>〔宜〕　補五臟，除風濕。尾血療口眼喎邪。</p>
<p>鰻魚　性平。味甘。</p>
<p>〔宜〕　除勞瘵骨蒸，補虛損。</p>
<p>鰍魚　性平。味甘。即泥鰍，又名鰌魚。</p>
<p>〔宜〕　暖中益氣，解消渴及酒病，收痔，興陽。</p>
<p>鱉　性平。味甘。</p>
<p>〔宜〕　涼血滋陰，愈瘧疾，補腎除熱。</p>
<p>〔忌〕　與莧菜同食。</p>
<p>龜　性溫。味甘微咸。</p>
<p>〔宜〕　補心，益腎，滋陰，資智。</p>
<p>〔忌〕　惡人參。</p>
<p>龜版（熬膏良。治陰血不足，勞熱骨蒸）</p>
<p>蝦　性熱。味甘。</p>
<p>〔宜〕　壯陽道。</p>
<p>〔忌〕　多食發瘡。</p>
<p>蟹　性寒。味甘。</p>
<p>〔宜〕　除熱，解結，散血，通筋，續筋骨。</p>
<p>〔忌〕　寒胃泄瀉。</p>
<p>螺螄　性大寒。味甘微咸。</p>
<p>〔宜〕　清熱安痔，利大小便。</p>
<p>〔忌〕　脾胃虛寒者食之，瀉不止。</p>
<p>蟶虷　性涼。味鹹微甘。入腎經。</p>
<p>〔宜〕　清熱除煩。</p>
<p>石決明　（似蟶而扁者，治目疾）</p>
<p>海蜇　性溫。味鹹。</p>
<p>〔宜〕　清熱軟堅。</p>

<h2>菜類</h2>
<p>韭菜　性溫。味辛鹹。</p>
<p>入肺腎二經。韭汁和京墨能止血。</p>
<p>〔宜〕　益胃，助腎，補陽，充肺氣，逐停痰。（春月多食最宜）</p>
<p>〔忌〕　春後多食昏神。</p>
<p>韭子　（性溫。補命門，暖膝，治陽痿）</p>
<p>薤　性溫滑。味辛，又名藠子（藠音叫）</p>
<p>〔宜〕　助陽，散血，泄大腸滯氣。同蜜搗爛，可塗湯火傷。</p>
<p>蔥　性溫散。味辛。</p>
<p>和蜜可治金瘡毒壅。炒熱熨臍下，治陰症腹疼。</p>
<p>〔宜〕　煮粥治痢。發汗，通陽氣，止頭疼，散寒邪，利二便，治耳鳴，解諸魚肉毒。</p>
<p>〔忌〕　同蜜食，同棗食。</p>
<p>蒜　性溫。味辛。</p>
<p>和豬肚食之，能消鼓脹。</p>
<p>〔宜〕　通五臟，達諸竅，去寒濕，解暑氣，闢瘟疫，消腫毒，破積化食，利大小便，解蛇蟲諸毒。獨頭元瓣者，治瘡尤良。</p>
<p>〔忌〕　傷肝，損目，生痰，助火，散氣，耗血，昏神。</p>
<p>蕓薹菜　性溫。味辛。</p>
<p>道家五葷之一。其四即韭、薤、蒜、芫荽也。</p>
<p>〔宜〕　散遊風丹毒。</p>
<p>芥菜　性溫。味辛。</p>
<p>〔宜〕　利九竅，明耳目，除邪氣，止咳嗽。</p>
<p>油菜　性溫。</p>
<p>〔宜〕　散血消腫。</p>
<p>〔忌〕　動疾發瘡。</p>
<p>莧菜　性冷，味鹹。</p>
<p>〔宜〕　通九竅。</p>
<p>〔忌〕　冷中，損腹，動氣。不宜與鱉同食。</p>
<p>馬齒莧　（性寒。散血，解毒，利腸，祛風）</p>
<p>菠菜　性冷滑。味甘澀。</p>
<p>〔宜〕　通腸胃，利五臟，解熱毒酒毒。</p>
<p>〔忌〕　滑腸，動冷氣。</p>
<p>萵苣菜　性冷。味甘澀。</p>
<p>〔宜〕　開胸膈，利氣。</p>
<p>苦蕒菜　性寒，味苦。</p>
<p>〔宜〕　解毒。</p>
<p>蘿蔔　性溫。即萊菔。</p>
<p>〔宜〕　消食化痰。</p>
<p>〔忌〕　服地黃、何首烏者，不宜食。</p>
<p>蘿蔔葉　（止痢）</p>
<p>蘿蔔子　（治痰，止嗽）</p>
<p>胡蘿蔔　（性平）</p>
<p>（寬中下氣，散腸胃邪滯）</p>
<p>芫荽　性溫。即胡荽。</p>
<p>〔宜〕　內通心脾，外達四肢，能闢一切不正之氣。</p>
<p>〔忌〕　久食令人多忘。</p>
<p>茼蒿菜　性平。</p>
<p>〔宜〕　安心氣，利腸胃，消痰飲。</p>
<p>〔忌〕　動風。</p>
<p>水芹　性平寒。</p>
<p>〔宜〕　消煩渴。</p>
<p>蔞蒿　性溫。</p>
<p>〔宜〕　主發散。</p>
<p>〔忌〕　多食發瘡。</p>
<p>莙薘菜　性平。</p>
<p>〔宜〕　利五臟，去頭風。</p>
<p>〔忌〕　腹冷人食之，破腹。</p>
<p>黃芽菜　性平。</p>
<p>菘菜　性溫。</p>
<p>即白菜。北地無菘，土不宜也。</p>
<p>〔宜〕　利腸胃，除胸中煩渴，消食下氣，止熱嗽。</p>
<p>〔忌〕　夏前不宜多食。發皮膚風癢。</p>
<p>蓴菜　性冷滑。</p>
<p>〔宜〕　消渴，利便，下氣，止嘔。</p>
<p>〔忌〕　多食損胃。</p>
<p>蕹菜　性平。</p>
<p>蕨　性寒。</p>
<p>〔宜〕　去暴熱，利水道。</p>
<p>〔忌〕　多食腹脹，損陽，落髮。</p>
<p>芋　性平。</p>
<p>〔宜〕　寬腸胃，充肌膚，耐飢。</p>
<p>〔忌〕　多食難克化，滯氣困脾。</p>
<p>薯　性平。</p>
<p>大者為薯，小者為山藥，皮紅、小似蘿蔔者為甜薯，又名紅苕。</p>
<p>〔宜〕　補勞瘦，益氣力，充五臟，潤皮毛，除煩熱。</p>
<p>山藥（性平，入脾肺二經，補其不足，清其虛熱）</p>
<p>（固腸胃，化痰涎，止瀉痢，益心，治健忘，久食清耳目。生搗敷瘡毒，消腫硬）</p>
<p>百合　性平。</p>
<p>〔宜〕　潤肺，寧心，清熱，益氣，止嗽，除涕淚，利二便。</p>
<p>香椿　性寒。</p>
<p>香者為椿，臭者為樗。</p>
<p>〔宜〕　寒能勝熱，苦能燥濕，澀能收斂，治濕熱泄瀉、滑遺，止小便。</p>
<p>茭白　性冷。</p>
<p>〔宜〕　治客熱，利小便，解食毒。</p>
<p>蘆筍同。</p>
<p>竹筍</p>
<p>冬生者性溫，其餘俱性冷難化。</p>
<p>〔宜〕　通利九竅，爽胃化熱，消痰。多痰者宜食。</p>
<p>扁豆　性溫。</p>
<p>〔宜〕　調脾暖胃，消暑除濕，止渴止瀉，解酒毒。</p>
<p>豇豆　性平。</p>
<p>即長豆，為豆中上品。又名豆角。</p>
<p>〔宜〕　益氣，補腎，健胃，和臟，生精除渴，止吐逆泄痢。</p>
<p>紫蘇　性溫。</p>
<p>〔宜〕　去寒發表，開胃除脹，闢腥解毒。</p>
<p>茄子　性寒。又名落蘇。</p>
<p>〔宜〕　散血，寬腸。</p>
<p>〔忌〕　動風，發疾。秋後食損目。</p>
<p>枸杞葉　性涼。</p>
<p>〔宜〕　清心肺客熱，去風明目。</p>
<p>姜　性溫。</p>
<p>〔宜〕　生用逐寒邪能散，炮熟除胃冷能守。通神明，去穢惡，宣肺氣而解鬱調中，暢胃口而開痰下食。</p>
<p>〔忌〕　多食損目。</p>
<p>蘑菇　性寒。</p>
<p>〔宜〕　益腸胃，化痰理氣。</p>
<p>〔忌〕　動氣發病，不可多食。</p>
<p>羊肚菜同。</p>
<p>慈菇　性辛。</p>
<p>〔宜〕　清熱治癰，除結核瘰癧。</p>
<p>金針菜　性寒。</p>
<p>〔宜〕　舒脾開胃。</p>
<p>〔忌〕　多食滑腸。</p>
<p>紫菜　性寒。</p>
<p>〔宜〕　解煩熱，消癭結。</p>
<p>菌　性寒。</p>
<p>〔忌〕　因濕氣薰蒸而成，多有毒殺人。</p>
<p>木耳　性涼。</p>
<p>〔宜〕　治牙疼、血痢，除痔。</p>
<p>〔忌〕　多食難化。</p>
<p>石耳　性冷。</p>
<p>〔宜〕　益精，明目，除瀉血，安痔漏。</p>
<p>香蕈　性平。</p>
<p>〔宜〕　益氣不飢，治風破血。</p>
<p>〔忌〕　生山僻處者有毒殺人。</p>

<h2>瓜類</h2>
<p>冬瓜　性寒。</p>
<p>〔宜〕　瀉血益脾，利二便，消水腫，散熱毒。</p>
<p>子　（補肝明目）</p>
<p>瓠瓜　性平。長曰瓠瓜，短曰葫蘆。</p>
<p>〔宜〕　除煩熱，利水道，潤心脾。花、葉俱解毒。</p>
<p>〔忌〕　多食令人吐利。患腳氣、冷氣者，食之永不除也。</p>
<p>西瓜　性寒。</p>
<p>〔宜〕　解暑除煩，醒酒，利便。（謂之天生白虎湯）</p>
<p>〔忌〕　多食傷脾助濕，致成瘧痢。</p>
<p>瓜子　（多食動火助熱）</p>
<p>菜瓜　性寒。即梢瓜，多用作醬菜。</p>
<p>〔宜〕　宣泄熱氣，解酒熱毒。</p>
<p>〔忌〕　苦寒有毒，不可多食。</p>
<p>甜瓜　性寒。</p>
<p>〔宜〕　止渴除煩，利小便，夏不中暑。</p>
<p>〔忌〕　多食破腹。</p>
<p>苦瓜　性寒。</p>
<p>〔宜〕　除邪熱，清心明目。</p>
<p>子　（益氣壯陽）</p>
<p>南瓜　性溫。紅色者名金瓜，南人俗名番瓜，北名倭瓜。</p>
<p>〔宜〕　補中益氣。</p>
<p>〔忌〕　髮腳氣、黃疸並諸瘡。</p>
<p>絲瓜　性冷。</p>
<p>〔宜〕　除風化痰，涼血解毒，消浮腫，治腸風。</p>
<p>〔忌〕　多食落髮。</p>
<p>王瓜　性寒。即番薯，一名地瓜。</p>
<p>〔宜〕　除諸熱邪，益氣，散癰腫，愈黃疸，婦女行乳通經。</p>
<p>黃瓜　性寒。一名胡瓜。</p>
<p>〔宜〕　清熱解渴，利水道。</p>
<p>〔忌〕　多食致瘧疾。</p>
<p>木瓜　性溫。即香瓜。</p>
<p>〔宜〕　和胃，滋脾，益肺，止吐，消食，治轉筋，除濕痹腳氣。</p>

<h2>果類</h2>
<p>棗子　性溫。北產肥潤者良。</p>
<p>〔宜〕　補中益氣，滋脾土，潤心肺，生津液，悅顏色，通九竅，助十二經，和百藥。</p>
<p>〔忌〕　多食生蟲、損齒、作膨脹。不宜同蔥、魚食。</p>
<p>柿子　生柿性寒，柿餅性平。</p>
<p>〔宜〕　腸風痔漏。健脾澀腸，潤肺止嗽，安反胃。</p>
<p>〔忌〕　多食生柿，苦寒敗胃。</p>
<p>柿霜　（性冷。生津化痰，清上焦之熱，治喉舌之瘡）</p>
<p>柿蒂　（性溫。止呃逆。解誤食桐油毒）</p>
<p>栗子　性溫。</p>
<p>〔宜〕　厚腸胃，補腎氣。熟食則耐飢，煨食止內寒暴瀉。</p>
<p>〔忌〕　多食，生則難化，熟則滯氣。</p>
<p>榛子　性平。似慄，甚小，俗名茅慄。</p>
<p>〔宜〕　腸胃。止飢，調中。</p>
<p>桃子　性熱。</p>
<p>〔忌〕　多食生內熱，發脹，長癤，夏秋成痢。</p>
<p>桃仁　（性平。行血消堅，潤大腸，除皮膚燥癢）</p>
<p>李子　性溫。</p>
<p>〔宜〕　生津止渴。</p>
<p>〔忌〕　多食發痰瘧。</p>
<p>杏子　性熱。</p>
<p>〔宜〕　止熱。</p>
<p>〔忌〕　多食昏目，生痰。</p>
<p>巴旦杏　（止咳，下氣，消腹悶）</p>
<p>杏仁　（性溫。潤肺，消食積，散滯氣，發汗解風寒）</p>
<p>梅子　性澀。</p>
<p>〔宜〕　止煩渴，生津。</p>
<p>〔忌〕　冒風寒者不宜食，恐收寒入內。且損齒，泄津液，傷腎。</p>
<p>烏梅　（性平。煙薰黑者，除煩熱，止吐逆，消酒毒，斂肺澀腸）</p>
<p>白梅　（性平。醃曬乾者。除痰，止瀉痢，解煩渴）</p>
<p>橘子　性寒。</p>
<p>〔宜〕　肺經化痰，開胃，除胸膈氣。</p>
<p>〔忌〕　食肉生痰。</p>
<p>橘皮　（其皮陳者曰陳皮，皮青者曰青皮，去皮里白者曰橘紅）</p>
<p>（陳皮調中快膈，導氣消痰；青皮破滯削堅，除痰消痞；橘紅順氣化痰，和中利膈）</p>
<p>柑子　性寒。</p>
<p>〔宜〕　順氣調中，解酒熱。</p>
<p>〔忌〕　多食損齒。</p>
<p>橙子　（性寒。比柑稍大。美在皮。下氣消痰，止噁心。肉不可食）</p>
<p>柚子　（性寒。大如瓜。皮肉遜柑。消食，解酒）</p>
<p>香櫞　（性寒。大小如橙，蒂如金錢。取其氣香，皮肉俱不佳）</p>
<p>金橘　（性微寒。小如繭。皮甘，肉酸。功用同柑）</p>
<p>佛手柑　（性溫。止心下氣痛）</p>
<p>梨於　性微寒。</p>
<p>〔宜〕　潤肺消痰，降火止渴，解酒。生者清六腑之熱，熟者滋五臟之陰。切片貼湯火熱毒。</p>
<p>〔忌〕　脾虛瀉痢及血虛人，不宜食。</p>
<p>梨汁　（治中風失音）</p>
<p>蘋果　性平。</p>
<p>林檎　性溫。</p>
<p>大為林擒，小為奈子。</p>
<p>〔宜〕　下氣消痰。</p>
<p>白果　性溫而澀。</p>
<p>〔宜〕　熟食溫肺益氣，生食降痰解酒。</p>
<p>〔忌〕　多食壅氣。小兒動疳。</p>
<p>核桃　性熱而澀。即胡桃。</p>
<p>〔宜〕　固腎澀精，溫肺潤腸，補氣養血。</p>
<p>〔忌〕　多食動風痰、助腎火，有痰火者不宜。</p>
<p>橄欖　性涼。</p>
<p>〔宜〕　生津除煩，解毒醒酒。</p>
<p>橄欖核　（燒灰敷蛀疳良。磨水化魚骨哽）</p>
<p>荔枝　性溫。</p>
<p>〔宜〕　人肝腎，散滯氣，闢寒邪。</p>
<p>〔忌〕　多食發虛熱，口舌齦腫衄血。仍以殼浸水，飲之即解。</p>
<p>龍眼　性溫。</p>
<p>〔宜〕　益脾長智，養心包，止腸風下血，潤肺，治健忘。</p>
<p>〔忌〕　中滿者不宜食。多食衄血。</p>
<p>榧子　性澀。</p>
<p>〔宜〕　消穀令人能食。滑腸可治五痔。</p>
<p>〔忌〕　與綠豆相反。</p>
<p>葡萄　性平。</p>
<p>〔宜〕　冷而不寒，除煩解渴，逐濕利水。桑椹　性涼。色黑入腎。</p>
<p>〔宜〕　峻補腎水，通利關節，安魂鎮神，聰耳明目，解酒熱，烏鬚髮（取熟透者），濾汁熬膏加蜜，點湯和酒並妙。</p>
<p>枇杷　性平。</p>
<p>〔宜〕　利肺氣，止吐逆，潤臟除熱。</p>
<p>柏子仁　性溫潤。</p>
<p>〔宜〕　養心氣，潤腎燥，助脾滋肝，益志寧神，聰耳明目，除風濕，澤皮膚。常食有益無損。</p>
<p>山楂　性冷。</p>
<p>〔宜〕　消食積，補脾化滯，止痢。</p>
<p>〔忌〕　脾弱者恐太克伐，不宜多食。</p>
<p>石榴　性溫。</p>
<p>〔宜〕　止瀉痢，除咽喉燥渴。</p>
<p>〔忌〕　多食損齒。</p>
<p>櫻桃　性熱。</p>
<p>〔宜〕　益脾氣，止泄精。</p>
<p>〔忌〕　內熱，有喘嗽者不可食。</p>
<p>楊梅　性大熱。</p>
<p>〔宜〕　消食，滌腸胃，止酒吐。</p>
<p>〔忌〕　多食發熱，損齒。</p>
<p>落花生　性平。</p>
<p>〔宜〕　脾肺。香能舒脾，色白入肺。</p>
<p>〔忌〕　油者不宜食，反能致咳。</p>
<p>蓮子　性溫澀。</p>
<p>〔宜〕　補脾。能交水火而媾心腎，安靖君相火邪，益十二經脈血氣，澀精氣，厚腸胃，除脾泄久痢，白濁、夢遺、女人崩帶、諸血病。</p>
<p>藕節　（性溫而澀）</p>
<p>（解熱毒，消瘀血，止吐衄淋瀝、一切血症）</p>
<p>蓮鬚　（性澀。清心通腎，固精烏髮）</p>
<p>藕粉　（安神益胃）</p>
<p>菱　性寒。</p>
<p>〔宜〕　消暑，止渴，解酒。</p>
<p>芡實　性溫而澀。</p>
<p>〔宜〕　固腎益精，補脾去濕，止泄瀉，除夢遺。煮熟研膏同粳米作粥，甚助精氣。</p>
<p>荸薺　性寒滑。味甘。主化堅。即地慄。</p>
<p>〔宜〕　益氣安中，開胃消食；除胸中實熱，止五種噎膈。能消堅削積，和銅錢嚼之，則錢碎。</p>
<p>檳榔　性溫。味辛苦微澀。</p>
<p>〔宜〕　破滯散邪，攻堅去脹，消食行痰，除風下水，醒酒解瘴。</p>
<p>〔忌〕　過食泄臟氣。</p>
<p>甘蔗　性寒。味甘。</p>
<p>〔宜〕　和中助脾，除熱潤燥，止渴消痰，解酒毒，利二便。</p>
<p>〔忌〕　多食出鼻血。</p>
<p>甘蔗汁　（與薑汁同服止嘔噦反胃）</p>
<p>白糖　（性溫熱。和中，消痰止嗽）</p>
<p>紅糖　（性溫熱。同白糖皆蔗汁熬成。補脾潤肺）</p>
<p>蜜糖　生涼熟溫。味甘。痘痂不落以此敷之。</p>
<p>〔宜〕　丸藥，潤燥，止嗽，除痢，明目，悅顏。</p>
<p>〔忌〕　略滑腸，泄者忌用。不宜同蔥食。</p>
<p>飴糖　性熱。味甘。即米糖，糯米熬成。</p>
<p>〔宜〕　和脾潤肺，化痰止嗽。</p>
<p>〔忌〕　多食發濕熱，動火，損齒。</p>

<h2>雜食類</h2>
<p>水　性各不同。味淡。</p>
<p>天雨水　（性平。久下淫雨為潦水）</p>
<p>〔宜〕　治心病狂邪。</p>
<p>露水　（性平）</p>
<p>（露能解暑，瘧疾由於暑，故治瘧之藥宜露一宿服）</p>
<p>〔宜〕　止煩，清心。</p>
<p>雪水　（性冷）</p>
<p>〔宜〕　解疫，去酒熱，消痧扉。洗目退赤。</p>
<p>冰水　（性冷）</p>
<p>〔宜〕　去煩熱，解暑毒酒毒。</p>
<p>〔忌〕　多食，寒熱相激，成脾疾。</p>
<p>海水　（性溫）</p>
<p>〔宜〕　去風瘙，消食脹。</p>
<p>江河水　（性平）</p>
<p>〔宜〕　煎通二便藥。急流者，性速而達下，迴流者，性逆而倒上。</p>
<p>泉水　（性寒）</p>
<p>〔宜〕　解熱悶煩渴。</p>
<p>溫泉水　（性熱。下有硫硤）</p>
<p>〔宜〕　治疥癬。</p>
<p>井水　（性平）</p>
<p>（山泉者上，城市者下。清晨初汲，為井華水）</p>
<p>〔宜〕　治熱解煩。</p>
<p>地漿水　（性寒）</p>
<p>（掘地作坑，用新汲水攪濁　待澄取用）</p>
<p>〔宜〕　治中暑暍。</p>
<p>陰陽水　（性平。生熟各半）</p>
<p>〔宜〕　治上吐下瀉，倉卒霍亂。</p>
<p>揚勞水　（性速。用勺揚起千遍。又名甘瀾水）</p>
<p>〔宜〕　通二便。</p>
<p>百沸水　（性溫。滾水久沸）</p>
<p>〔宜〕　主發散，助陽氣。</p>
<p>屋漏水　（性寒）</p>
<p>〔忌〕　有毒不可用。</p>
<p>花瓶水　（性熱）</p>
<p>〔忌〕　有毒不可飲。</p>
<p>鹽滷水　（性熱。有毒。熬鹽初熱，槽中滴下黑水）</p>
<p>〔忌〕　有大毒。</p>
<p>鹼水　（性溫澀）</p>
<p>（取蒿、蓼等草，用水浸過，曬乾燒灰，以所浸之水淋汁，入白麵凝結成鹼）</p>
<p>〔宜〕　消食磨積，洗衣去垢。</p>
<p>〔忌〕　多用損腸胃。</p>
<p>米泔水　（性甘平）</p>
<p>〔宜〕　常飲調和脾胃。浸洗藥良。</p>
<p>甑氣水　（性涼）</p>
<p>〔宜〕　洗面上口唇爛瘡。</p>
<p>飯湯水　（性溫）</p>
<p>〔宜〕　調中開胃，理臟腑。</p>
<p>茶　性微寒。新茶性熱，陳茶性涼。</p>
<p>〔宜〕　除煩止渴，消食下氣。解食物油膩燒炙之毒。濃煎引吐。和生薑煎，名薑茶飲，茶助陰，姜助陽，使寒熱平，治小傷風寒可常用。</p>
<p>〔忌〕　多食寒胃，消臟腑脂膏。（嗜茶麵黃，寒傷胃也）酒後飲茶，引入腎經、膀胱，多患瘕疝水腫。空心早起亦忌。</p>
<p>《本草拾遺》云：飲茶能消食除痰，止煩去膩，然過飲則傷脾胃。每食後，以濃茶漱口，煩膩既去，脾胃不損，且食物之在齒間者，得茶漱滌之，盡消縮脫去，不煩刺剔，而齒亦因此堅密。</p>
<p>孩兒茶　（性澀）</p>
<p>（出南番。以細茶末入竹筒埋土中，日久取出，搗汁熬成塊）</p>
<p>〔宜〕　清熱，收濕，止血，化痰，生津。塗肌定毒疼。</p>
<p>酒　性熱。</p>
<p>味辣者能散，味苦者能降，味甜者能和，味淡者利小便，味厚者性烈毒。最宜溫服，宜少飲有益。</p>
<p>〔宜〕　和血行氣，壯神禦寒，消愁卻邪，逐穢暖水，能通行一身之表，引藥至極高之分。此少飲之益。</p>
<p>〔忌〕　熱飲傷肺，冷飲傷脾，多飲傷胃，成蠱膈，動火致吐血消渴，積濕生痰氣足病，蓄熱生癰疽及成痔漏，為害無窮，至喪命不可救藥。</p>
<p>燒酒　（性大熱）</p>
<p>（宜浸藥飲，貼湯火傷。不宜多飲熱飲）</p>
<p>高粱酒　（性平。即稷米酒）</p>
<p>（和中止泄，治腹疾良）</p>
<p>粟米酒　（性寒）</p>
<p>（胃熱稍渴者，飲之良。泄瀉者不宜飲）</p>
<p>戒酒語：</p>
<p>陳宗泗曰：斟於杯中者，酒也。吸於口，入於喉，則流毒無窮。傷臟壞腑，亂性昏神，失事廢時，生嫌惹厭。助狂徒之氣，發鈍夫之言，致無形之疾，損有限之年。內受種種暗傷，外現般般醜態。本能者縱而不節，不能者效而強貪。習慣難移，悔而莫及。今為改酒之名，謂之禍水。</p>
<p>麻油　性熱。</p>
<p>〔宜〕　解毒潤腸。調瘡毒藥良。</p>
<p>〔忌〕　生食滑腸胃。</p>
<p>菜油　性熱。生則熱，煎則寒。</p>
<p>茶油　性平。</p>
<p>〔宜〕　醃小菜。</p>
<p>豆油　性熱。氣膻。</p>
<p>〔宜〕　潤腸。</p>
<p>〔忌〕　多食反困脾。</p>
<p>桐油　性冷。</p>
<p>〔宜〕　熬膏藥。解熱毒。</p>
<p>〔忌〕　誤食大作泄瀉。用陳柿餅煎水即解。</p>
<p>鹽　性寒。</p>
<p>人心火盛，笑不止似瘋者，用鹽煅赤，煎水飲之，即止。</p>
<p>〔宜〕　清火，解毒，固齒。善入而軟堅。</p>
<p>〔忌〕　多食，傷肺發咳，傷腎發渴，助水腫，損容顏，泄胃中津液。（過食鹹味必口乾，可知）</p>
<p>醋　性溫能斂。</p>
<p>〔宜〕　消食，解毒，開胃，令人思食。治口舌熱瘡，含漱即愈。</p>
<p>〔忌〕　多食損齒、悴顏、傷筋。（因收縮太過也）</p>
<p>醬　性微寒。以豆造。陳久者良。</p>
<p>〔宜〕　除熱及湯火毒，殺一切魚肉菜毒。</p>
<p>〔忌〕　多食助濕損精。（因鹹入腎也）患瘡癤愈後勿食，防疤黑。</p>
<p>糟　性熱。陳者性平。</p>
<p>〔宜〕　消食化滯。</p>
<p>〔忌〕　有痰火病者勿食。</p>
<p>紅曲　性溫。</p>
<p>〔宜〕　消食活血。</p>
<p>芥辣　性溫。</p>
<p>〔宜〕　入肺，發汗散寒，利氣豁痰。敷癰毒，消腫止痛。</p>
<p>〔忌〕　久嗽肺虛者勿食。</p>
<p>茴香　性熱。</p>
<p>如麥大者為小茴，有稜瓣者為大茴。</p>
<p>〔宜〕　和中益腎，暖丹田。最利下部。</p>
<p>〔忌〕　多食發瘡。因香辛故也。</p>
<p>花椒　性熱純陽。</p>
<p>秦產者名秦椒，蜀產者名川椒。椒之子名椒目。</p>
<p>〔宜〕　入肺發汗散寒，治咳嗽。入脾暖胃燥濕，消食除脹，除心腹冷痛。治陽衰溲數陰汗，補腎，堅齒，明目，通經，殺癆蟲，安蛔蟲。</p>
<p>〔忌〕　肺胃熱者不宜多食。</p>
<p>椒目</p>
<p>〔宜〕　治水蠱、腎虛耳鳴。</p>
<p>胡椒</p>
<p>性熱。久蒸久曬，可用暖胃。</p>
<p>〔宜〕　暖胃快膈，治寒痰冷痢、胃寒吐水。</p>
<p>〔忌〕　多食損肺走氣，痛齒昏目，動火發瘡發痔。（此言生椒）</p>
<p>紅椒　性熱。</p>
<p>色紅如珊瑚。有長而尖者，有短而圓者。又名海椒。</p>
<p>〔宜〕　入大腸。（解毒）切細和醬及豬油炒作菜料，治各痔瘡神效。</p>
<p>〔忌〕　生食多食，致齒痛唇腫。</p>
<p>菸草　性熱。</p>
<p>〔宜〕　散食脹、風寒濕痹，消滯氣停痰，解山嵐瘴氣。</p>
<p>〔忌〕　多食，火氣熏灼，耗精損神。</p>
<p>此菸草自明·萬曆年間始出於閩廣。其相習食煙之始，以徵滇之役，師入瘴地，無不染病，獨有一營無恙，因眾皆食煙故也。</p>
<p>性屬純陽，其氣強猛，故下咽即醉。雖散瘴邪，亦耗正氣，凡火盛氣虛之人，決不可用。</p>
<p>食煙醉悶者，噙冷水可解。或紅白砂糖亦解。</p>
<p>戒菸語：</p>
<p>汪三儂曰：近日尚吃煙。予每語人曰：為何以火燒五臟？請看吃煙之管，其中垢膩積滿，人之腹內亦必如此，其何以堪。有人聞予言，忽猛醒，誓戒不用。初甚決絕，少焉憶及，便開戒矣。予曰：病酒而禁酒之夫，破戒不待終朝；難產而畏產之婦，好合何須滿月。嗜煙之癖，甚於酒色，惑溺殊可怪也。</p>
<p>齋戒語：</p>
<p>人能齋戒，本是好念，何可盡非，然須問其發念果屬何為。若只為畜類惜生，為福利求佑，為媚悅佞佛，此三者皆可不必也。何也？如謂物與己同類，不宜宰食，則六畜原為人用，聖王立政，令畜五雞二彘者為何也。且卿大夫食肉，祠先者血食，奉親者有酒肉，豈皆不仁不慈之事也。如謂福利於己由此可求，世間善食甚多，積善必有餘慶。其他善事可以不為，而獨借持齋，冀必獲福，有是理乎？至謂以慈佞佛，媚而悅之，夫慈本仁德，仁者人也，當以愛人為先。論愛人泛而同類，近而親友，至切而家庭，皆在當愛。今人於一體人類，漠不相關，獨區區惜此畜類，何慈之有。而謂為佛者不論真慈假慈，惟佑持齋之人以為媚己，恐無是佛矣。夫所謂齋者，在明潔其心，內外兼持。一為虔修祀事。當奉祭祖先神明，齋明盛服，飲食必改常。以昭敬也。一為抑制嗜欲。口之於味，為嗜欲之首，人所最難饜足者。而昏志氣，生疾病，皆原於此，所謂禍從口出，病從口入者是也。能齋，則滋味淡泊，氣血不強悍，主宰清明，肉軀皆得其職矣。一為扶助德行。凡人，見善不能決從，見惡不能決去。一念堅持其齋，捐所甚愛，就所不愛，以此潔誠，增長善念，愈積善功。此皆奉齋者之所為，不緣畜類，不緣福利，不緣媚悅，內外兼持，克己正志。人能克己，方許持齋，不然，徒成癡妄之人而已矣。</p>

<h1>修養宜堤防疾病第七</h1>
<p>夫人果能順六氣之和，平七情之戾，使疢疾不作，豈不甚善。然疾者，至聖之所慎，惟明哲之人不治已病治未病，既病而需醫藥，猶臨渴而掘井泉，鮮有能濟者。況良醫難逢，真藥莫辨，嘗見死於病者十之三，死於醫者十之七。蓋醫之一道，須上知天文，下知地理，中知人事，三者俱明，然後可以語人之疾病。不然，則如無目夜遊，無足晝躡，動致顛仆，而欲愈人之疾者，未之有也。至藥之為用，或道地不真，美惡迥別，或市肆多偽，氣味全乖，非惟不能中病，反致病增。用者不察，嘗試漫施，則下咽不返，死生立判，顧不大可懼耶。所以有服藥者之多斃，不藥者之反存。歲庚寅，予補選都門。適同宗前輩某，亦候補郡守，僑寓憫忠寺，抱疴二年，堅忍不服藥，惟調息飲食起居。病無減退，亦未加劇。會密友某至京，詣憫忠寺視疾，力薦良醫一人，極稱其治病如神。前輩某因慫恿難卻，強就診治。密友代為購藥，意倍殷勤，且決其旦夕奏效。前輩佯諾之。藥雖煎，未沾唇也。越日密友亦病，並非沉疴，即所薦之良醫藥之。前輩日使家僕問訊，蓋答其前意之殷勤也。甫數日，僕忽返告曰：密友某死矣。前輩惋嘆不已。未幾已病全愈，得補官出都矣。又，族叔陶村公宰來陽，長子嬰風寒疾，諸醫治莫效。訪求一良醫，進藥數劑，病轉甚，勢危篤。醫來，病者堅拒之。醫大言嚷曰：藥力不勝病，如再服無效，予甘罪罰。族叔且疑且信，強其子下咽。無何痰起，而氣旋絕矣。急索良醫，已逃竄無蹤。噫，可畏哉。舉書籍所傳，庸醫殺人，不可殫述，此則予所耳而目之者。或者曰：然則醫藥固可廢乎？曰：何可廢也，慎之已爾。慎醫藥莫如慎疾病，慎疾病尤宜知疾病。今為就一身五臟受病之因、辨病之誤、免病之訣，分類指示。據病之種類數百，止就所常見而易構者摘錄之。俾於未病之先，知所謹懼，庶幾不借神樓而普登春臺也。</p>
<p>按東垣《格致餘論·序》謂：故方新病，安有能相值者，泥之且殺人。此編中載病不載方，即此意也。</p>

<h2>心臟</h2>
<p>形如未開蓮蕊，中有七孔三毛。位居背脊第五椎。各臟皆有系附於心。</p>
<p>屬火，旺於夏四、五月，色主赤。苦味入心。外通竅於舌。出汁液為汗。在七情主憂樂，在身主血與脈。所藏者神，所惡者熱。</p>
<p>面色赤者，心熱也。好食苦者，心不足也，怔忡善忘者，心虛也。</p>
<p>心有病，舌焦苦、喉干、不知五味，無故煩躁，口生瘡、作臭，手心足心熱。</p>

<h2>肝臟</h2>
<p>形如懸瓠，有七葉，左三右四。位居背脊第九椎，乃背中間脊骨第九節也。</p>
<p>屬木，旺於春正、二月，色主青，酸味入肝。外通竅於目。出汁液為淚。在七情主怒，在身主筋與爪。所統者血，所藏者魂，所惡者風。</p>
<p>肝有病，眼生蒙翳，兩眼角赤癢，流冷淚，眼下青，轉筋，昏睡，善恐，如人將捕之。</p>
<p>面色青者，肝盛也。好食酸者，肝不足也。多怯者，肝虛也。多怒者，肝實也。</p>

<h2>脾臟</h2>
<p>形如鐮刀。附於胃。運動磨消胃內之水穀。</p>
<p>屬土，旺於四季月，色主黃。甘味入脾。外通竅於口。出汁液為涎。在七情主思慮，在身主肌肉。所藏者志，所惡者濕。</p>
<p>面色黃者，脾弱也。好食甜者，脾不足也。</p>
<p>脾有病，口淡，不思食，多涎，肌肉消瘦。</p>

<h2>肺臟</h2>
<p>形如懸磬，六葉兩耳，共八葉。上有氣管通至喉間。位居極上，附背脊第三椎，為五臟之華蓋。</p>
<p>屬金，旺於秋七、八月，色主白。辛味入肺。外通竅於鼻。出汁液為涕。在七情主喜，在身主皮毛。所統者氣，所藏者魄，所惡者寒。</p>
<p>面色淡白無血色者，肺枯也。右頰赤者，肺熱也。氣短者，肺虛也。背心畏寒者，肺有邪也。</p>
<p>肺有病，咳嗽氣逆，鼻塞不知香臭，多流清涕，皮膚燥癢。</p>

<h2>腎臟</h2>
<p>形如刀豆，有兩枚，一左一右。右為命門，乃男子藏精、女子系胞處也。位居下，背脊第十四椎，對臍，附腰。</p>
<p>屬水，旺於冬十、十一月，色主黑。鹹味入腎。外通竅於耳。出汁液為津唾。在七情主欲，在身主骨與齒。所藏者精，所惡者燥。</p>
<p>面色黑悴者，腎竭也，齒動而疼者，腎炎也。耳閉耳鳴者，腎虛也。目睛內瞳子昏者，腎虧也。陽事痿而不舉者，腎弱也。</p>
<p>腎有病，腰中痛，膝冷腳疼或痹，蹲起發昏，體重骨酸，臍下動風牽動，腰低屈難伸。</p>

<h2>養生以保脾胃為主</h2>
<p>人以水穀為生，故脾胃為養生之本。故東垣《脾胃論》曰：歷觀《內經》諸篇而參考之，則元氣之充足，皆由胃氣無所傷，而後能滋養元氣，一有所傷，而元氣亦不能充，此諸病之所由生也。即如臟腑脈候，無不皆有胃氣，胃氣若失，便是凶候。如凡氣短氣奪而聲啞喘急者，此肺臟之胃氣敗也。神魂失守，昏昧日甚，而畏寒異常者，此心臟之胃氣敗也。躁擾煩劇，囊縮莖強，而恐懼無已者，此肝膽之胃氣敗也。脹滿不能運，飲食不能入，肉脫，痰壅，而服藥不應者，此脾臟之胃氣敗也。關門不能禁，水泉不能化，熱蒸不能退，骨痛之極不能解者，此腎臟之胃氣敗也。胃強則皆強，胃弱則皆弱。有胃氣則生，無胃氣則死。所以察病者，必須先察胃氣，凡治病者，必須常顧胃氣，胃氣無損，諸可無慮。</p>
<p>繆仲淳《經疏》曰：脾為土臟，胃為之腑，乃後天元氣之所自出。胃主納，脾主消，脾虧則不能消，胃弱則不能納。飲食少，則後天元氣無自而生，精血坐是不足也。《經》曰：損其脾者，調其飲食，節其起居，適其寒溫。此至論也。然其要，一在戒暴怒，使肝無不平之氣，肝木和，則不賊脾土矣。一在養真火。命門者，火臟也，乃先天元氣之所寄，即道家所謂祖氣，醫家所謂真陽氣、真相火也。此真陽真火，每當子後一陽生。生即上升，過中焦、經脾胃則能腐熟水穀，蒸糟粕而化精微，脾氣散精，上輸於肺，通調水道，由膀胱氣化而出，是謂清升濁降，此無病之常也。常人之壯者有三：一者稟賦原厚；二者保嗇精神，不妄喪失：三者志氣無所拂鬱，則年雖邁而猶壯也。苟不慎攝生之道，多欲以傷腎，子後一陽不以時生，不能上升腐化水穀，是火不生土，而脾胃因之日弱也。</p>
<p>又曰：脾胃由寒濕生痰，或飲啖過度，好食油麵豬脂，濃厚膠固，以致脾氣不利，壅滯為患。或不思食，或腹脹、泄瀉，皆痰所為。</p>
<p>又曰：脾虛漸成脹滿，夜劇晝靜，病屬陰，當補脾陰；夜靜晝劇，病屬陽，當益脾氣。</p>
<p>經脈篇曰：胃中寒則脹滿。</p>
<p>陳無擇曰：脾虛多病濕，內因酒面積多、過飲湯液、停滯膩物、燒炙膏粱過度。</p>

<h1>修養宜護持藥物第八</h1>
<p>「上古天真論」曰：男子年過八八六十四數，先天漸失，元氣寢虛，臟腑皆衰，筋骨弛懈，血脈短促，精神耗散，肌肉無華，日就憔悴。惟借藥餌扶護，以培後天。語云：破屋修容易。此之謂也。古聖先哲嘗草以備藥，治人百病，復遺方書以利後世，誠以醫藥有斡旋造化之功。無如服餌者，守身不慎，致六氣外侵、七情內熾、飲食眾毒暗攻，雖日進參朮，猶之用兵者，銳師臨陣、強寇勢盛，寡不敵眾，無效則謂參朮無功，置而勿論，非自貽伊戚乎。方書所載補益之劑甚多，或真材無處可求，或大藥乏資難購，又或鋪張靈應，名實不符。今惟取平易而素嘗歷驗者，略載數方，以備採擇，既自寶以護身，兼廣傳而壽世。</p>
<p>前云慎醫藥戒漫嘗者，以病時言也，此云備藥物謹護持者，以平時言也。</p>
<p><u>長春至寶丹</u>　（服此丹能健脾開胃，進食止瀉，強筋壯骨，填精補髓，活血助陽，潤澤肌膚，調和五臟，延年益壽，返老還童。凡人六十以後，急需接助，以救殘衰，服此丹，至老無痿弱之症。）</p>
<p>鹿角膠（四兩）　牡蠣粉（炒成珠）　熟地（八兩）　枸杞子（四兩，酒蒸）　當歸（四兩，酒蒸）　破故紙（四兩）　牛膝（四兩，酒洗）　巨勝子（四兩，炒）　巴戟（四兩，酒浸）　肉蓯蓉（酒洗，去鱗甲，六兩）　杜仲（薑汁炒去絲，四兩）　哺退雞蛋殼（七個，炙黃，研）　鱉頭（五兩，蜜酥炙）　黑驢腎（一條，切片，酒煨，杵爛）　瑣陽（四兩，酥炙）　黃狗腎（三條，酒煨，杵爛）　人參　鴿子蛋（三十六個，煮熟入藥）</p>
<p>先將眾藥磨成細末，將二腎、鴿蛋搗爛，入藥拌勻，蜜丸，石臼杵千餘下，做成桐子大。每服三錢。</p>
<p><u>老年常服精力不衰方</u></p>
<p>白蜜（二斤）　公豬膄子油（四兩）　核桃（二斤）　雞蛋（二十個）</p>
<p>先將蜜熬好，豬油切爛放下，又將桃肉用水泡去皮，搗碎放下，復將蛋打開放下，滾好，隨將大碗盛貯。早晚或湯或滾水化開，任服。</p>
<p><u>八仙糕</u>　（治無病，久病，老病脾胃虛弱，精神短少等症）</p>
<p>人參　山藥（六兩）　蓮肉（六兩）　芡實（六兩）　茯苓（六兩）　糯米（七升）　早粳米（七升）　白糖霜（二兩五錢）</p>
<p>上將山藥、參、蓮、芡、苓五味，各為細末，再將粳、糯米為粉，與上藥末和勻，並白糖入蜜湯中燉化，攤鋪籠內，切成條，蒸熟，火上烘乾，收好。飢時用白湯泡數條服。舒脾寬胃，功難筆述。</p>
<p><u>回春烏龍丸</u>　（此秘方。服之體健身輕，耳聰目明，烏須黑髮，齒落更生，陽事強壯，丹田如火，百病消除）</p>
<p>烏龍（一付全用。即烏犬骨，連頭至尾脊骨一條，不用水洗，用黃酒浸一宿，用硼砂五錢，和奶酥油搽骨上，火炙黃色為度，秤骨二十四兩足。犬須一周年者佳，如走去陽者不效。一犬不足，用二犬骨，務秤足分兩）　胡桃仁（五錢，去皮，炒黃）　巴戟（酒浸，去骨，一兩）　石蓮子（去殼，一兩）　棗仁（炒，一兩）　遠志（甘草水浸，酒炒）一兩　肉蓯蓉（酒洗，去鱗甲，三兩）　石斛（要金釵者，二兩）　桑寄生（二兩）　大茴香（一兩，酒炒）　故紙（二兩。酒炒）　石菖蒲（一兩）　芡實（炒，一兩）　蓮鬚（一兩）　鹿茸一對（炙酥）</p>
<p>上藥共末，用黃酒打糊為丸，桐子大。每服空腹，酒下。</p>
<p><u>牛骨髓膏</u>　（此膏專補虛損，活血榮筋，潤澤肌膚，返老轉童）</p>
<p>牛髓一斤，煉過白蜜一斤，和在一處，瓷罐收貯。另用炒熟麥面，每面三匙用髓蜜二匙拌勻，滾水或酒沖服。</p>
<p><u>脂桃膏</u>　（取木火相生）</p>
<p>補骨脂十兩（揀淨，黃酒浸一夕，蒸熟曬乾，為末。又名破故紙）　胡桃肉二十兩（溫水泡去皮，搗如泥）　蜂蜜一斤（白者更佳）</p>
<p>先將蜂蜜入鍋內煎一二滾，即以前二味入蜜內攪勻，收入瓷罐內。每飯前空心，酒調一盞服。如不飲酒，用滾水亦可。（忌蕓薹、油菜）</p>
<p>補骨脂屬火，堅固元陽，暖丹田，入命門補相火。（腎虛則命門火衰，不能熏蒸，致脾胃虛寒，遲於運化，飲食減少，故補命門相火即是補脾胃也）胡桃肉屬木，溫肺化痰，補氣養血，通命門，助腎火，合故紙有木火相生之妙，能使精氣內充。昔鄭相國生平不服他藥，只此一方久服，後容顏如少，鬚髮轉黑。</p>
<p><u>牛乳膏</u></p>
<p>牛乳（二斤）　淮山藥一斤（研成粉）　杏仁一斤（滾水泡，去皮尖）</p>
<p>先將山藥、杏仁細研成粉，拌入牛乳，用新瓷罐封固久煮。每日空心酒調服。</p>
<p>牛乳補虛勞。山藥，白入肺，甘入脾，補其不足，又益腎強陰，益心氣，治健忘，化痰，止遺精瀉痢。杏仁除風散寒，順氣行痰，潤燥消積。</p>
<p><u>蓮薏粥</u></p>
<p>白蓮肉（去皮心，一兩）　薏苡仁（一兩）　白米（一合）</p>
<p>蓮肉澀精厚腸，除脾泄。薏苡仁健脾去濕，補肺清熱，治腳氣，療筋急。白米粥暢胃氣，生精液，除煩清熱。</p>
<p><u>黃耆湯</u></p>
<p>黃耆　烏雞（骨肉毛俱黑者良）</p>
<p>黃耆補氣固表，實腠理，炙用補中，益元氣，生血。烏雞屬水（余皆屬木，故動風）補虛溫中，益肝腎。男用雌。</p>
<p><u>延年益壽膏</u>　（能烏須延年，填精補髓，陰虛陽弱無子者服至半年即有子，神效）</p>
<p>赤白何首烏各一斤（黑豆拌蒸曬）　赤白茯苓各一斤（人乳拌蒸曬）　懷山藥四兩（薑汁拌炒）　川牛膝（酒炒，八兩）　菟絲子八兩（酒炒）　甘枸杞（八兩）　杜仲（去皮，薑汁炒，八兩）　破故紙（四兩，黑芝麻拌炒，去麻不用）</p>
<p>煉蜜丸，梧子大。每服七十丸，鹽湯或酒任下。</p>
<p><u>加味安神丸</u>　（主安神益志，治心虛血少，觸事多驚及健忘、不寐。服之神氣自足）</p>
<p>當歸身（酒炒，二兩）　熟地黃（二兩）　茯神（一兩五錢）　遠志肉（一兩，泡，去心）　炒酸棗仁（一兩）　炙黃耆（二兩）　人參　柏子仁（一兩五錢）　上桂（五錢）　白芍藥（一兩，炒）　北五味（五錢）　小橘紅（一兩）　粉甘草（五錢）</p>
<p>蜜丸。每服三錢，滾水下。</p>
<p><u>加減資生丸</u>　（治脾氣怯弱，食後反飽）</p>
<p>杭白朮（漂）　薏苡仁（炒）　淮山藥（蒸）　白扁豆（炒，各二兩）　北桔梗（一兩）　白茯苓（蒸）　白豆蔻（去殼，煨）　炒吳曲　大麥芽（炒）　香附米　西砂仁（去殼）　淨芡實（炒）　廣橘皮（各一兩）　白蓮肉（去心，四兩）　粉甘草（一兩）</p>
<p>研末，煉蜜丸。每服五錢。</p>
<p><u>闢寒丹</u></p>
<p>雄黃　赤石脂（黏香者佳）　乾薑</p>
<p>上各等分，為末，用蜜同白松香末為丸，如梧子大。酒送下四丸，至服十丸止。可不衣棉，赤身入水。</p>
<p><u>闢暑丹</u></p>
<p>雌黃（研，水飛）　白石脂（水飛）　丹砂（研細，黃泥裹燒如粉）　磁石（水飛去赤）</p>
<p>各等分，人乳同白松香為丸，如小豆。空心白湯送下四丸，服至三兩許。夏月衣裘褐，暑氣亦不侵入。二方乃仙傳，頗有神驗也。</p>
<p><u>黑髮烏須方</u></p>
<p>黑豆五升，揀去扁破。用一大砂鍋，將烏骨老母雞一隻，煮湯二大碗。無灰老酒二大碗。何首烏四兩，鮮者用竹刀削碎，陳者用木槌打碎，陳米四兩，旱蓮草四兩，桑椹三兩，生地黃四兩，歸身四兩，破故紙二兩，俱為㕮咀，拌豆。以酒、湯為水，砂鍋大作一料，砂鍋小作二料，用文火煮豆，以干為度。去藥，存豆，取出晾去熱氣，以瓷罐盛之。空心用淡鹽湯食一小合。以其曾用雞湯煮過，早晚宜慎於蓋藏，以防蜈蚣也。食完再製。但自此永不可食蘿蔔。服至半載，鬚髮從內黑出，目明如少，極妙。</p>
