<header data-type="book">
<h1>傷寒類書活人總括</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>楊士瀛</dd></div>
<div><dt>朝代</dt><dd>南宋</dd></div>
<div><dt>底本</dt><dd>宋末建安環溪書院刊本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀000269–000270）</dd></div>
</dl>
</header>
