<header data-type="book">
<h1>溫疫明辨歌訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王旭高</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>1898年琴川方氏倚云吟館刻本</dd></div>
</dl>
</header>

<h1>辨溫疫初起氣色舌神脈</h1>
<p>溫疫邪從胃達外，臭氣蒸騰如腐敗。（風寒從表入里，初起內無鬱蒸，故無臭氣，必待傳陽明而後有汗屁之臭。溫疫吸自口鼻，初起從中達外，便在陽明，即有臭氣觸人也。）望其面色如煙燻，垢晦油紅非一派。（邪熱蒸淫津液，上溢於面，油紅者陽氣勝，垢晦者濕濁盛也。）更觀其舌必多苔，白如積粉黃如埃。（風寒在表，舌多無苔，即有白苔，亦薄而滑；漸傳入里，方黃而燥，燥而黑。溫疫一見頭痛發熱，舌即有厚白苔，或如積粉，或兼淡黃；又有苔白即燥，或灰黃而燥，此皆溫疫初起之舌，所當詳辨。）神識瞀亂如酣醉，煩躁胸痞悶即來。（風寒初起，神情清楚；及至傳裡，始見神昏，若溫疫初起，即便瞀亂如醉，問其所苦而不自知也。）其脈不浮而但數，或見模糊勿疑猜。（風寒初起，其脈多浮。溫疫初起，其脈必數；亦有模糊不清者。）沉遲莫作陰寒看，數而無力非虛災。（鄭氏曰：溫疫初起脈沉遲，勿作陰寒斷。沉者邪在裡也，遲者邪在陰分也。或數而無力，亦勿作虛視，緣熱蒸氣散，不能鼓指也。但辨其氣色神形舌合溫疫者，即依疫法施治無疑。）氣色舌神明辨的，溫疫入手理無違。（氣色舌神脈五者，辨之既明，知為溫疫，而非傷寒，則凡於頭疼發熱諸表證，不得誤用辛溫發散；於諸里證，當清當下者。則清之下之，而無疑惑矣。）</p>

<h1>辨溫疫與風寒異治</h1>
<p>風寒以溫散為先，（羌活、紫蘇、荊芥、防風之類。）時疫以涼解為要。（薄荷、牛蒡、豆豉、葛根之類。）風寒攻下不厭遲，風寒從表入里，直待裡熱裡實，方可清涼攻下。若下之早，反引表邪內陷，而成結胸痞利等症。）時疫攻下不厭早。（溫疫雖有表症，不得誤用辛溫發散，於諸里證，當清當下者，當即用之。傷寒汗不厭早，下不厭遲，溫疫則反是。古但有溫證禁汗之戒，而無禁下之律可考也。蓋時疫邪氣，自里出表，其氣屬熱，故可早清早下，若必待痞燥實堅全而後下之，必致斑衄狂喘昏沉厥逆之險矣，醫者可不知之乎？）</p>

<h1>辨溫疫兼風</h1>
<p>時疫兼風表證同，噴嚏咳嗽此為風。（初起頭痛發熱惡寒，鼻塞噴嚏咳嗽，是傷風之見證，與時證傷風無異也。）因其脈亦多浮象，（風寒之脈多浮。）前（胡）桔（梗）荊（芥）防（風）蘇（葉）杏（仁）松。（疫證兼寒能令病勢增重，兼風反令病勢輕鬆，因寒主收束，風主疏泄之故。）</p>

<h1>辨溫疫兼寒</h1>
<p>時疫兼寒散表先，頭痛發熱惡寒全。脈浮而數知為表，（時疫之脈但數不浮，若兼風寒必兼浮脈。）蘇（葉）荊（芥）羌（活）防（風）柴（胡）葛（根）拈。寒重只須敗毒散，（寒重疫輕者，無汗而惡寒盛，煩躁輕者可用之。）疫重加入達原（飲）宣。（疫重寒輕者，煩躁口臭證多，無汗惡寒證少，但取蘇、荊、羌、防、柴、葛一二味，加入達原飲中可也。）</p>

<h1>辨溫疫兼暑</h1>
<p>時疫兼暑惟長夏，（時疫兼寒兼風，四時皆有；若兼暑，則惟長夏有之也。）脈細弦濡多吐瀉。（弦細芤濡暑脈也。吐瀉傷於暑濕也。）藿茹（湯）平胃（散）或四苓（散），燥脾利水隨宜寫。吐瀉煩渴舌苔黃，方為兼疫無假借。（長夏吐瀉，傷於暑濕為多，必煩渴苔黃有熱象者，方為兼疫。）</p>

<h1>辨溫疫兼瘧</h1>
<p>時疫兼瘧有三種，說與君家須記誦。似瘧寒熱無定時，達原飲內柴胡供。（邪伏膜原，欲達不達，欲陷不陷，故見半表裡證，寒熱無定時，一日或一次，或二三次。故曰似瘧，宜達原加柴胡治之。）時疫轉瘧屬餘邪，參胡三白湯　為佳。（似瘧在時疫證前屬實，疫後轉瘧，虛中夾痰實也。）時疫兼瘧最難治，吳氏書中頗詳議。見疫當清當下之，疫退治瘧斯無弊。（吳又可《溫疫論》云：「瘧疾二三發或七八發後，忽然晝夜發熱，煩渴不惡寒，舌生苔刺，心腹痞滿，飲食不進，下證漸具，此時疫已著，瘧疾隱也，用疫法治之。時疫晝夜純熱，胸腹痞滿，飲食不進，下後脈靜身涼，或間日或每日，時惡寒而復發熱如期者，此溫疫解而瘧邪未盡也，以瘧法治之。」）</p>

<h1>辨溫疫兼痢</h1>
<p>春夏之交時疫起，下痢紅白為疫痢。發熱頭痛表裡兼，人參敗毒加陳米。不但香連不可加，淡滲分利亦須忌。（發熱頭痛為表，下痢為里；表裡同病，法當先解其表，表解而里自和，多有不治痢而痢自愈者。古人於疫痢初起專主倉廩湯、即敗毒散加陳倉米。疫痢初起不但香、連、芍藥治痢之藥不可用，即二苓、澤瀉淡滲分利之品，亦不可施之表證未解之先也。）若夫疫毒勢如焚，下痢純紅或純紫，煩躁熱渴或昏譫，芩連大黃急煎餌。（又不可拘先表后里之法也。）</p>

<h1>辨溫疫夾痰</h1>
<p>時疫夾痰痰熱燔，痰能生熱熱生痰。竹油栝（蔞）貝（母）牛黃等，清火消痰見一斑。時疫夾痰，其熱愈甚，治法大略相同。但治疫法中加栝蔞、竹瀝、貝母、薑汁，甚則神昏加牛黃。）</p>

<h1>辨溫疫夾水（水即飲也）</h1>
<p>時疫夾水證如何，滿悶心胸常欲摩。以手按之無硬痛，揉之漉漉響聲過。（水在胸膈，心下雖滿，按之不硬，揉之漉漉有聲，不比結胸硬滿手不可按為辨。）脈遲而緩舌苔白，與疫相違治莫訛。（時疫之脈必數，而夾水之脈反見遲緩，治法亦異，不可不辨。）即見昏狂將化燥，舌仍白潤渴無多。（時疫化燥苔必黃黑，若水在胸膈，即見昏狂諸證，而舌仍白膩，口不甚渴。）間有轉黃見黑者，半邊中段白仍鋪。（時疫夾水化燥，間有苔轉黃黑者，然必仍有白苔，或滿舌黃黑，半邊夾一二條，或舌尖舌本俱黃，中夾一段白色，此時疫夾水舌之辨也。）二陳（湯）平胃（散）四苓（散）輩，淡滲辛通兩法和。（時疫夾水，雖有表證脈，不宜純用辛涼散表；純用辛涼，表必不解，轉增沉困。雖有里證，不可遽用苦寒清裡；早用苦寒，里必不除，轉加昏憒，此水氣鬱遏熱邪，宜於散解清裡藥中加辛燥利水理氣之品，以祛水氣。水氣去，鬱熱得發，然後議清議攻，施無不效矣。如蒼朮、厚朴、半夏、茯苓之類，皆必用之藥。余加芫花、大戟、甘遂，乃千中一試耳。）</p>

<h1>辨溫疫夾食</h1>
<p>時疫恆多夾食成，在腸（在）胃（在）膈辨須明。胃宜消導腸宜下，在膈須將吐法行。（溫邪夾食在胃，但須枳樸以消之；在腸則用硝黃以下之。胃腸俱實大承氣，胃多腸少小承氣，胃少腸多調胃承氣。若食填胸膈，未入於胃，則宜吐之為捷也。）食填胸膈最難辨，往往肢寒脈反沉。但察胸痞苔黃白，急將枳（實）桔（梗）菔　萊菔（子）楂（山楂）烹。誤投溫劑邪深入，必致凶危煩躁增。（食填胸膈，陽氣不得越達，往往脈沉肢冷，若誤認三陰，投以溫劑，必致躁煩倍增，然仍無熱渴見象，若一誤再誤，必危。蓋食填胸膈，氣閉熱鬱，故外無大熱，口不甚渴，此時但察其色氣神舌為疫證，急於治疫方中加消食之藥，甚則用吐法以宣之，使之氣通熱達。然後當表則表，當清則清，自無誤治矣。）</p>

<h1>辨溫疫夾郁</h1>
<p>平時氣鬱感時溫，痞嘔肢寒脈亦沉。郁屬無形胸可按，不同夾食滿而疼。（夾郁之證，痞滿嘔逆，手足冷而脈沉，頗類夾食；但夾食胸滿痛不可按，而夾鬱則胸膈痞悶串痛而可按）夾食舌苔厚（厚白微黃，）夾郁舌苔薄（薄白）。舒郁必疏通，郁（金）貝（母）香（附）蘇（梗）屬。（疫邪夾郁，先宜疏通其鬱，如鬱金、貝母、香附、蘇梗之屬，然後解表清裡，自無不效矣。</p>

<h1>辨溫疫夾血及蓄血</h1>
<p>蓄血結於時疫後，（熱邪傳裡，與血相結而後蓄血。）夾血傷於時疫先。（先有內傷，後感時疫謂之夾血。）蓄血消瘀攻下合，夾血消瘀解表聯。（消瘀雖同，但蓄血宜下，而夾血宜兼解表，夾血熱邪初起，尚未入於血分，故於消瘀中當解表實，表法中兼消瘀，恐熱與瘀著，增其勢也。蓄血熱邪並歸於里，與血相結，故消瘀攻下並施，去其附麗者也。）熱邪入里與血結，少腹硬滿蓄血詮。喜忘如狂小便利，大便光滑黑且堅。（此蓄血證的據。）疫邪夾血在初時，脈澀或芤舌暗紫。胸腹脅肋與四肢，按之濡軟痛不止。（此夾血證的據）桃（仁）紅（花）歸尾　芍（赤芍）延胡，解表方中加味使。（治夾血用桃仁、延胡等一二味加入解表方中。）若夫治蓄血，當分上下焦。上焦（喜忘如狂或衄血。）犀角地黃（湯）好，下焦（少腹硬滿，小便自利如血。）桃仁承氣（湯）調。</p>

<h1>辨溫疫夾脾虛</h1>
<p>疫夾脾虛最難治，汗下必兼扶正氣。發表人參敗毒散，攻裡黃龍湯法宜。神情倦怠氣息微，面色痿黃耳鳴（心）悸。（皆脾虛之見象。）要知時疫實熱多，獨於虛處須留意。（如通體皆見實象，而有一二處虛象，則虛象反為吃緊。通體見虛象，而有一二處實證，則實者又為吃緊。到此虛實關頭，必須留意也。）</p>

<h1>辨溫疫夾腎虛</h1>
<p>疫夾腎虛見機早，十中僅許二三好。（見機早治，十許二三。）救陰猶易陽虛難，（熱病救陰猶易，通陽最難。救陰不在補血，而在養津以漬汗；通陽不在溫補，而在化氣以利小便。）脾腎二虛一不保。（腎虛感疫，若更脾虛胃敗，嘔惡，呃忒、下利，湯藥不納者，百難救一。）平日腰痛淋濁遺（精），腎虛感疫莫遲疑。初投表劑加（人）參（白）芍，（平日有腎虛腰疼，遺精淋濁等證，感受疫邪，初時投表散藥中即便加入人參芍藥，照顧腎氣之本。）清裡人參白虎（湯）施。（當清必以人參白虎為主。）攻下黃龍湯合法，（當下必以黃龍湯為主。）救陰六味地黃（湯）宜。屢清屢下熱更甚，生脈（散）六味（地黃湯）二方隨。必須大劑方能救，杯水車薪難解危。（屢清屢下而熱更甚，舌上燥無苔；或有黑苔，愈清而愈長；或有燥苔，愈下而愈燥，此係水虧火旺。察其陽明無實熱可據，當用大劑六味地黃湯，壯水之主，以制陽光。若仍不應，合生脈散以滋水源，必須大劑與之，方克有濟也。）</p>

<h1>辨溫疫夾亡血</h1>
<p>疫夾亡血證有三，病前初病病中間。先亡血而後患疫，清解之中養血參。（散表清裡藥中，步步照顧其陰，如生地、玉竹、人參、白芍之類。）若夫疫病方初起，吐衄崩紅忽然至。庸師但曉用清滋，詎識祛邪血自止。神（煩躁）氣（臭穢）分明現疫邪，舌苔（黃白）脈（數）色（油垢）更無乖。雖然亡血休驚怕，加減達原飲最佳。（有疫象可憑，雖見亡血之證，仍以達原飲為主。衄血加山梔、茅根；吐血加三七、丹皮、銀花；血崩加茜草、丹參、地榆炭。）脫血過多須益氣，人參加入用無差。（脫血過多，氣欲絕者，急用人參。）更有疫邪深入里，傷陰動血血如沸。鮮紅為熱紫為瘀，犀角地黃（湯）加味使。（清熱加黃芩、黃連，逐瘀加桃仁、赤芍。）便血如注身熱除，神昏舌燥為難治。生脈（散）六味（地黃湯）龜（版）阿膠，峻補真陰救一二。（熱邪熾盛傷陰，便血如注，身熱反除，而神昏舌燥者，最為難治。惟有峻補真陰，如生脈散，六味地黃湯加龜版阿膠等，或十中救其一二。）</p>

<h1>辨溫疫夾心胃痛（附疝氣）</h1>
<p>心痛疝氣本宜溫，一感疫邪溫更疼。氣色舌苔皆疫象，疏通仍宜達原（飲）君。（心胃痛與疝氣皆喜溫通，如薑、桂、吳萸之類。若一受疫邪發熱，仍以達原飲開達膜原，若用溫藥，反致危殆。時疫夾疝，但治疫而疝自消，若兼心胃痛，亦當治時疫為主，可於達原飲中加木香、蒼朮，以開通郁疫，邪達而痛即止。）</p>

<h1>辨溫疫夾哮喘</h1>
<p>素患哮喘肺有痰，疫邪觸發便生喘。（一受疫邪其喘便發。）桑皮栝（蔞）貝（母）蘇（子）前（胡）豉（豆豉），解散（疫邪）消痰喘自安。</p>
<p>旭高按：以上兼證五條，夾證十條。兼者疫邪兼他邪，皆自外來者也；夾者疫邪夾內病，內外二病併發也。</p>
