<header data-type="book">
<h1>脈理集要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王宦</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>原序要略</h1>
<p>脈之為候，立有統屬。醫之心法，斯其至矣，統舉其概，症應診，言得統合之盡，大而無餘，屬求其精，病見脈，言得屬析之極，微而不紊，統之為制，一部之脈，上下之至，狀同而兼；前後候之，屬之為度，一脈之間，上下之至，狀異而有，前後浮沉，兩旁覆溢，八候之別，復又闡素問之妙奧。集脈理之精詳，參先哲之至言，啟後學之捷徑。幸輔吾志久遠，相傳云爾。</p>

<h2>統屬診法</h2>
<p>候病所在，逐部求之。平脈軟滑，按部應時；病脈反是，小大獨異，察部前後，上下之至，脈狀同否，總屬之異，統取其概，屬細分位，六部五屬，五臟所主，應乎五行，同異之氣，氣同合一，氣異為二。火同炎上，異分兩丁。（左寸心為丁火，小腸為丙火。）金同光騰，異分明暗，（右寸肺為辛金，大腸為庚金。）木同上達，異分枯榮。（左關肝為乙木，膽為甲木。）土同上聳，異分起伏。（右關脾為己土，胃為戊土。）水同潤下，異分溢覆。（左尺腎為癸水，膀胱為壬水。）前後脈同求之統候，寸關用前兩尺用後，臟腑之病，各脈應之。前後脈異，水之屬候，上至應前，下之應後，同中有異，異者為逆，同有強弱，尤者為劣，有和兼乖，和順乖逆，前病上升，後病下降，前後出部，後覆前溢，溢應上身，覆應下體，有脈偏行，兩旁外內，其診以指，推進推出，推出為外，推進為內，進為內侵，侵內腹脹，侵外身熱。浮通主表，頭面皮毛，經絡筋骨，百節四肢；沉通主裡，臟腑骨髓，口舌咽喉，大便小水；虛為不及，癢淋泄痿；實為有餘，熱湧痛郁。且以統屬，歧之為二，統屬之法，一部兩舉，或以數部兼舉大意，六部象同求所屬，氣洪心火炎，余可隅舉。</p>
<p>浮候諸陽，主病在表，浮實邪盛，浮虛氣少，浮大無力，內傷陽氣，浮盛按衰，裡虛表實，浮有按無，無根之［誚］（梢），兩寸浮盛，風寒外召，關脈浮盛，腹脹溲澀，左尺浮盛，小便赤澀，右尺浮盛，浮促風秘，肝腎並浮，則為風濕。沉候諸陰主病在裡。</p>
<p>沉實為積，沉虛少氣，［甘］（寸）沉氣鬱，尺沉本位，喘嗽肺浮，轉沉則卒，肝腎並沉，則為石水。</p>
<p>遲為陰盛，氣血稽遲，遲實為痛，遲虛寒推，消中遲逆；夏忌沉遲，寸遲氣少，尺遲血虧，左關脅痛，右食傷脾。</p>
<p>數為陽盛，氣血燔灼，數實為熱，數虛為燥，浮數有力，傷寒熱燥，浮數無力，傷寒痰嗽，沉數有力，實［大］（火）內灼，浮數惡寒，或脈時數，且有痛處，皆主癰作，病退數時，未足為樂，數退症危，真元已脫，數按不鼓，虛寒相搏。微數禁灸，疏數難保，細數而虛，虛癆陰弱，兼沉骨蒸，兼浮喘作，加之汗嗽，喉痛俱惡，數宜傷寒，小兒妊瘧。左寸數兮，或緊與數，俱主頭疼，數仍吐惡，數短心痛，數虛口瘡，數止為毒，數健為狂，右寸數兮肺金火燥，兼緊上疼，兼滑喘嗽，洪數弦緊，喘嗽亦作，沉數骨熱，夏來最惡；左關數緊，主疼居脅，數止因怒，數長壯熱，右關數緊，口臭而燥，浮而帶數，易飢易飽；左尺逢數，赤尿淋濁，數止亦淋，數虛瘡作，右尺數臨，大便結燥。</p>
<p>滑為血聚，熱痰孕吐，滑雜大小，吐瀉傷腑，滑數痰盛，最嫌肌瘦，秋病浮滑，為子扶母，秋逢沉滑，冬月必死。左寸浮滑，暈（眩）之候，洪［數］（滑）為孕，左關同究，左尺脈滑，淋痛熱蓄，滑弱陽痛，滑短崩漏，洪浮而滑，精氣不固；右寸脈滑，痰火上升，沉細而滑，臨晚骨蒸，沉緊而滑，咳嗽痰凝，關滑按澀，宿食中停，弦滑有孕，緊滑蟲疼，短滑病酒，尺滑痢興，和滑孕子，止滑凝經。</p>
<p>澀為血少，惡寒敗血，帶下遺精，盜汗痿瀉，浮澀惡寒，沉澀陰逆，緊澀為痹，弦澀少血，澀甚多痰，最難扶濟。寸沉弦澀，痰甚喘急；左關常澀，必患風氣，右關逢澀，飲食少入；尺浮弦洪，兼澀腳氣，尺沉澀虛，左右有異，左帶遺精，右帶瀉痢。</p>
<p>實為氣壅，熱痛吐逆，脈實而滿，四逆頭熱，春秋為順，冬夏為逆。左寸脈實，咽千熱騰，實火面熱，煩躁體痛；左關脈實，腹痛胸膨，浮實而大，赤痛侵睛，沉實長大，壯熱陽乘；左尺脈實，溲實澀腹痛。右寸脈實，氣壅兼痰，關實消食，尺實便難。</p>
<p>虛為虛症，耗散氣血，驚悸恍惚，倦痿汗泄，虛火陽虧，內傷發熱，夏虛傷暑，身熱汗痢。左寸虛暈，右寸下血；左關眼花，右關倦泄；尺虛寸搏，女人崩血，肝腎並虛，夭命將絕，左血右氣，早宜補益。</p>
<p>洪為熱候，虛實宜別。浮洪無力，虛火宜益，沉洪有力，實［大］（火）宜瀉，洪急腹脹，洪滑痰熱，洪數暴吐，必傷於熱，洪為病進，脈宜轉細。秋冬右沉，老人病逆，寸洪弦實，尺小汗泄，浮澀沉細，病分久暫。左寸逢洪，頭疼心熱，左關逢洪，四肢發熱，左尺逢洪，溲澀熱結，右尺逢洪，便燥足熱，肺洪心微，疼居左脅，洪緊腹脹，洪虛晚熱。</p>
<p>細為少氣，脈因而斂，前大後細，頭疼目眩，後大前細，氣短而驗，沉細候積，急小眥瘕，勻細五陰，男平女孕，朝細暮大，氣血因凝，乍大乍小，邪祟相凌，數更細澀，不久歸冥。寸關細虛，尺沉細澀，濡細脛清，兼緩偏墜，緊為寒痛，隨位而別，寸上尺下，浮外內沉，癰疽緊洪，疝瘕緊細，盛緊脹食，浮緊寒熱，頭痛項急，無汗鼻窒。左寸浮緊，傷寒頭痛，沉緊心氣，左關浮緊，筋骨痛凝，沉弦脅議，左尺浮緊，腰足疼急，沉緊腹痛，小便短澀，浮緊沉澀，兼虛耳閉；右寸浮緊，頭痛寒鬱，浮緊而洪，邪傷喘息，沉緊而洪，咽痛糞秘，沉緊而滑，痰盛火熾，右關浮緊，腹脅脹氣，沉緊腹痛，尺緊疝病。</p>
<p>緩為膚頑，風熱濕痹，浮大傷風，頭疼發熱，有汗咳嗽，鼻流清涕，左寸浮緩，傷風表郁，沉緩心虛，神昏失措，左關浮緩，汗連背急，沉緩氣虛，左尺緩痿，小便頻數，女多月水；右寸浮風，沉緩虧肺，關緩胃氣，尺緩足弱。</p>
<p>長為和平，心神腎壽。左關長溢，男痛女欲，右關滑吐，長緊胃湊，浮洪癲狂，沉細內積，傷寒脈長，陽明症候；左寸心悶，右寸痰鬱；左關伏瘕，右關積聚，急痛洪滯，弦果滑酒，兼澀肉食，兼濡為氣；左尺溲難，女為閉經，右尺洪長，大便燥結。</p>
<p>短為氣病，陽不能升，寸短頭痛，尺短脛清。</p>
<p>促為陽盛，狂怒五積。漸退則生，漸進病亟。</p>
<p>結為陰盛，陽無所從。浮結表寒，沉積其中，傷寒結代，悸動心宮，代為氣衰，宜於風痛。</p>
<p>革為虛寒，血崩半產，傷精虛瀉，病判久暫。</p>
<p>牢為裡實，胃氣不足，骨［病］（痛）疲癆，腹脹氣促。</p>
<p>弦為氣斂，寒熱拘急，瘧癆虛寒，積飲冷痹；弦而滑軟，平和之至，十人九弦，斯之謂矣。弦多軟少，為病之候，春弦主吉，秋弦木抑；浮弦有力，風邪外束，寒傳少陽，弦長為積，弦數雜症，弦浮澀瘧。左關弦滑，寒微熱盛，右關虛弱，補劑方施；左弦濡澀，脊痛須知，浮沉弦澀，痰盛榮虧，沉小澀弦，虛汗淋漓，右洪弦急，火旺陰虛，癆症遇此，非藥能除；左寸浮弦，按散失血，弦大按澀，為癇可決，右寸浮弦，按大痰熱，浮洪弦虛，頭痛氣怯；左關逢弦，所兼有別，浮陽沉陰，內寒外熱，浮陰沉陽，寒熱反是，右關弦細，兼急為逆，肝乃刑脾，兼洪可治；尺弦沉澀，陰症寒厥，弦急為痛，隨部而別，右關兼浮，痧發氣逆，雙弦為飲，兼出而細，關尺脅痛，寸為涎溢，動為體痛，勞驚崩瀉，陽動汗出，陰動發熱。</p>
<p>芤為失血，各驗所出。左寸吐紅，右衄溲咳，右血吐逆，左關淤血，左尺女崩，男為尿血，右尺逢芤，大便下血。</p>
<p>濡為汗候，表虛少氣。左寸逢［瀉］（濡），盜汗驚悸，左關逢濡，體虛無力，左尺逢濡，陽痿傷精，小便頻數，女為血崩；右寸逢濡，自汗氣怯，關濡停食，尺濡泄瀉。</p>
<p>弱為弱候，內傷氣血。寸寒尺熱，老順少逆，左寸逢弱，盜汗心悸，右寸逢弱，身寒短氣；左關逢弱，筋軟無力，右關逢弱，不能消食；左尺逢弱，骨疼酸體，小便頻數，腎虛耳閉，右尺弱瀉，兼澀失氣。</p>
<p>散為血虧，表強里怯，浮洪兼散，夏月本脈，傷寒逢散，症忌嗽逆，滑散孕子，散多則逆，散如解索，產後宜益。</p>
<p>微為虛候，脈微絕產，左寸汗悸，左關膨脹，女左關崩，左尺濁帶，男主精泄，兼澀經凝，尺大按微，病者則凶，右尺逢微，惡寒虛怯，關微停食，尺微虛瀉。</p>
<p>伏為積滯，脈藏不出，伏細少氣，伏數熱厥，左寸逢伏，神不守舍，右寸逢伏，肺中痰結，關尺逢伏，皆積於內，統有未盡，參用屬中，寸關候前，尺後相同。</p>
<p>為之為法，一部八候，前後浮沉，兩旁溢覆。</p>
<p>左寸前位，心之所候，專司血脈，舌汗之屬，浮澀弦參，表虛惡寒，痰嗽頭暈，澀短溢弦，急細滑大，八者浮兼，俱主頭痛，滑短相連，弦澀芤濡，兼沉泄汗，沉滑頭昏，痰盛火炎，沉洪而健，頭痛痰涎，沉弦虛短，不寐皆然，浮弦肥澀，熱熾口乾，短滑崩血，尺澀云兼。</p>
<p>左寸後候，膻中宗氣，凡診浮分，弦大而澀，虧經傷衛，臂痛痰鬱，弦澀脊軟，弦大心跳，細澀芤短，皆為驚悸，浮大而滑，手心極熱，沉分細澀，驚悸之類。</p>
<p>右寸前肺，皮毛腠理，應指浮兼，細短滑澀，浮洪溢寸，俱主頭痛，浮弦上溢，肩背［服］（脹）急，浮澀弦洪，惡寒血衄，沉澀弦洪，虛實有異，虛嗽痰紅，實痰凝滯，沉緊洪滑，沉弦短澀，嗽痰侵肺，短仍少氣，芤為衄血，虛大鼻窒。右寸後候，胸中陽氣，按浮弦澀，邪傷本位，胸膺主痛，沉短滑澀，沉滯弦肥，氣短痰鬱，沉弦實大，胸中壅窒，沉弦火虛，上焦痞急，火滑熱痰，實脹虛痞。</p>
<p>左關前候，肝膽同部，肝主藏血，脅筋之內，如診浮澀，虛弦短急，目眩榮虧，疼拘筋骨，浮弦洪澀，紅脹侵目，沉細弦澀，肢麻脅脹，弦洪芤滑，皆為昏眩。</p>
<p>左關後候，中焦膈位，診浮弦澀，病主偏墜，沉弦澀大，膈疼而熱，短芤皆脹，屬膈之類。</p>
<p>右關前胃，專司納受，吐脹氣短，口淡停滯，診浮洪滑，短小弦澀，或浮溢關，惡噦傷食，浮澀弦大，面熱時至，沉痛沉短，沉中弦澀，弱而胃虛，嘔吐少食，沉弦澀細，胸滿噯氣，沉短微澀，氣疼居胃，沉澀弦大，審之虛實，兼虛腹脹，兼實消食，沉短口淡，沉滑宿滯，沉弦溢關，胃脘痛急，洪滑嘈雜，胃氣之病。</p>
<p>右關後脾，專司運化，四肢氣血，濕倦注下，診逢浮澀，或兼弦候，肢體惡寒，倦怠少食，虛弦細澀，不耐寒食，沉小虛弦，肢倦無力，沉弦洪澀，水瀉停滯，弱兼澀小，飢飽斯易，洪健易飢，洪澀食滯，沉逢短細，俱為少食，微芤痰紅，芤甚崩痢，兼澀吐紅，下血痢瀉。</p>
<p>兩尺前腎，水火左右，專司骨髓，腰耳精瞳，診浮弦澀，俱為耳聾，沉而兼澀，弦大渴詳，沉弦細弱，皆主滑精，沉急沉澀，均主腰疼，弱短弱澀，俱主耳鳴，緩細腰痛，芤乃日昏。</p>
<p>左尺後部，以候小腹，膀胱前陰，外臁膝足，如診浮澀，或兼弦胕，膝足冷麻，右浮同候，弦沉長濡，偏墜之屬，妊脈沉澀，必為胎漏，沉洪沉滑，沉大弦滯，均為淋濁，小兒赤澀，沉細兼澀，沉弦兼伏，沉澀或短，男為夢遺，女人白帶，老者多尿，弦澀侵內，小腹塊疼，芤為血尿，長覆凝經，沉微而澀，女為血淋。</p>
<p>右尺後部，後陰與腹，浮弦澀滿，肛門腫毒，浮小短澀，脫肛痔漏，沉澀洪弦，冬兼其健，大便燥堅，沉小而弦，弦洪濡短，溏結之便，沉洪而滑，初興之痢，沉短而澀，久痢不足，沉微與芤，下紅臟毒，沉弦澀滿，瀉因食阻，短滑下紅，足膝麻木，弱與弱澀，虛瀉宜因，沉小虛澀，脾同瀉後，沉短弱澀，損氣宜補，腹中之候，需分左右。</p>

<h2>脈訣總歌</h2>
<p>浮風虛暑滑胎痰，實壅弦勞遲主寒，洪數熱多芤失血，澀微少血緩膚頑，緊痛沉里濡多汗，促結與伏郁痰看，短是氣虛長是積，動驚牢弱骨疼酸，革崩半產細傷濕，散由血耗代將亡。</p>

<h2>脈理詳解辨</h2>
<p>求脈之象，奇偶為候。奇者單求，偶者對舉，單求無配，代牢之類，對偶反正，浮表沉里。</p>
<p>脈之診法，義理幽微，小兒男婦，大同小殊，辭難盡意，觸類可推，庶為蒙引，毋惑他歧。</p>
<p>浮脈體泛，現於皮毛，輕按便得，如水之波。</p>
<p>浮者泛也，如水漂木之狀。</p>
<p>沉輕按無，稍重應指，重按有力，猶石沉水。（浮按全無，中按微有，沉按至筋，骨間方應。）</p>
<p>沉者沒也，重按至筋，骨間方有，力如石匿水之狀。</p>
<p>遲脈來徐，呼吸三至。（一息三至。）</p>
<p>遲者慢也，減於平脈一至。</p>
<p>數脈來急，呼吸六至。（一息六至。）</p>
<p>數者急也，加於平脈一至。</p>
<p>滑體圓淨，往來流利，荷上水珠，旋轉無異。</p>
<p>滑者利也，應指圓淨。</p>
<p>澀形遲短，來急去滯，至而帶止，刮竹相似。</p>
<p>濇同澀，遲短不調，舉要曰如雨沾沙澀難而轉。</p>
<p>實乃充實，舉按有力，浮中沉三候俱有力。</p>
<p>虛乃空虛，舉按無力，浮中沉三候俱無力。</p>
<p>洪者倍常，大而滿部，愊愊應指，肥於平脈一倍。</p>
<p>細者減常，一線之比，應指如線，瘦於平脈一倍。</p>
<p>緊者勁急，大而搏指，如轉索狀，即弦有力。</p>
<p>緩者縱緩，中軟不急，如緯在經，即弦無力。</p>
<p>長為修長，如弦之直，通過本部，兩頭出指。</p>
<p>短為縮短，不及本位，喻之於龜，縮頭曳尾。</p>
<p>短脈或前有後無，或無前有後，或中間有兩頭無，與長脈相反曰短。</p>
<p>結為交結，遲中暫止，一止復來而無常。</p>
<p>促為催促，數中暫止，一止復來而無常。</p>
<p>代為更代，動而中止，不能自還，良久復至，止數有常，非暫之比。（如十動一止，俱十動一止。）來自骨肉之分，升於皮毛之際，微轉而止，悉有常數，由於一臟氣絕，他臟更代而行。</p>
<p>牢本堅牢，沉弦大實，不上不下，牢守其位。</p>
<p>弦為琴絃，初中末直，其來挺然而不搏指。（即端直而長。）</p>
<p>革為皮革，浮大弦虛，應指平潤如按鼓皮。（即外急中空。）</p>
<p>動乃動搖，短滑數備，上下不分，連動中位。</p>
<p>中乃一部之中，非中候關脈也。</p>
<p>芤乃草名，浮大無力，因按而知，中虛旁實。</p>
<p>浮按而軟，重按則四旁皆有，中間空虛如芤草管。</p>
<p>外軟中空之狀，芤脈因按而後知也。</p>
<p>濡者不堅，浮細無力，按隨指下，無頭有尾。</p>
<p>濡［音］（者）軟如帛，漫水之狀。</p>
<p>弱軟沉細，比虛不及，全無起伏，扶持不起。</p>
<p>散者不斂，浮中滿指，按則分散，而不團聚，或類解索，散無統紀。</p>
<p>應指浮大，或二三至而無統紀，如解索之狀。</p>
<p>微為微眇，較細不及，似有似無，蛛絲相類。（即應指極細。）</p>
<p>代為埋伏，骨外筋里，三按俱無，推筋可取。</p>
<p>浮中沉三按俱無，必推開其筋，診方應指，而得其脈者也。</p>

<h2>經絡部位</h2>
<p>脈之所生，根於胃氣，胃為脾腑，司納飲食，飲食化精，上輸心肺，輸心生血，輸肺生氣，血陰氣陽，流行脈至，陽衛精外，陰營脈里，脈從經中，猶水之注。（經者謂氣血流行，經常不息也。）</p>
<p>正經十二，生髮於心，由肺分布，手足頭身，內屬臟腑，腑陽臟陰，陰陽配合，循環無停。</p>
<p>手太陰經，肺臟所繫，起於中焦胃口，下出絡於大腸，（絡繞也。）還循膈出，上屬於肺，（屬會也。）從之肺系，橫從腋下，（肩脅下曰腋。）下循臑內，（膊下前腋處為臑，肩肘之間也。）手厥陰前，（心經，）肘臂之內，（臑盡處為肘臂節也。）上骨下廉，（廉偶也、邊也。）寸口魚際，（寸口穴在寸脈陷中，魚際穴在大指大節後內側。）上大指端，（端秒也。）內側乃竭支者出腕。（經之旁出大者為支臂，盡處為腕。）手陽明接。</p>
<p>臑［者］（音）儒，肱骨也。腕音宛，肘下骨。</p>
<p>手陽明經，內腑大腸，起於食指，內側之端，循指上廉，歧骨之間，（內骨分處為歧骨。）上腕外側，界兩筋間，循臂上廉，肘外紋旁，臑外前廉，上⿰骨禹骨端，（⿰骨禹骨穴在肩兩骨間陷處，腕宛中舉臂有孔處。）肩前巨骨，缺盆下臟，（膺上橫骨為巨骨，巨骨陷中為缺盆。）絡肺下［鬲］（膈），屬之大腸，支從缺盆，上頸貫頰。（頭莖為頸，耳下曲處為頰。）挾口上唇，交人中穴。（人中穴在鼻下。）左從右達，右從左出，上挾鼻孔，足陽（明）接。</p>
<p>⿰骨禹音虞，肩前骨。</p>
<p>足之陽明，胃腑之經，起於內眥，（眥乃目角。）鼻外下行，夾吻屈轉，相依下唇，承漿陷會，（承漿穴在唇下陷中。）卻循順行，頤後下廉，（腮下為頷，領下為頤。）人迎而橫，（人迎穴在曲頰前一寸六分。）曲頰前上，耳前陷內，歷鬢之前，上額顱際，直者人迎，結喉旁垂，缺盆下膈，屬胃絡脾，支者缺盆，行於乳內，挾臍直下，氣街相接，（氣街即氣衝穴，在歸來下鼠奚上一寸動脈應於宛中。）支者胃中，循腹中穿，氣街脾關，（股外為髀，髀前膝上，為伏兔後交絞為髀關是也。）入膝臏中，（挾膝解中為臏。）䯒骨外廉，（脛股為䯒。）足跗上入，中指外邊，支從胕出，足太陰接。</p>
<p>臏音賓，膝蓋骨。髀音俾，股外也。䯒音行。胕音膚，足趾也。</p>
<p>足之太陰，脾臟之經，起大指內，白月之邊，覈骨後上，（覈骨拐骨也。）內踝前廉，（足後跟兩旁骨為踝。）腨內腨外，（踝上五寸為腨。）足厥陰前，行上循膝，股內前廉，（髀內為股。）入腹屬脾，（臍上下為腹。）絡胃上穿，貫膈挾嗌，（嗌與咽同義。）與舌相連，支者從胃，注［意］（心）終焉。</p>
<p>覈音核；踝音胯，足外也；臑音段；嗌音咽。</p>
<p>手少陰心，為心臟起，下落小腸，上屬心系，支者從心，心系上溢，挾之咽喉，系之目系，直者從心，上肺橫遷，出腋下循，臑內後廉，手厥陰後，肘臂內廉，上抵掌後，兌骨之際，（腕外踝為兌骨。）掌內後廉，小指內竭，交手太陽，不假支別。</p>
<p>手之太陽，小腸腑經，起小指端，手外側行，上從腕出，踝中直步，臂內下廉，肘內側月，兩筋之內，臑外之後，上行肩解，肩脾交膂，（脊兩旁為膂上，兩角為肩下，成片骨為肩脾穴。）上入缺盆，絡心循嗌，下抵膈胃，小腸屬焉，支出缺盆，上頸曲頰，外眥入耳，支從頰䪼，抵鼻內眥，足太陽接。</p>
<p>䪼音拙。</p>
<p>足之太陽，膀胱腑經，內眥而起，上額循巔，（巔者頂也。）絡腦下項，（頸上為腦，腦後為項。）肩膊內廉，（肩後之下為膊骨。）挾脊絡腎，（椎骨為脊。）膀胱屬焉，支者貫臀，（股下為臀。）入膕中穿，（膝後曲節處為胭。）一支上至，天柱分肩，（天柱骨在肩脾之上際會處也。）膊內貫胂，（夾脊骨也。）挾脊下焉，過臀髀樞，（即脾厭又名環跳穴。）髀外後廉，膕外臑內，外踝後纏，至小指外，足少陰連。</p>
<p>膕音國，胂音申。</p>
<p>足之少陰，腎臟之經，起小指下，趨足湧泉，（湧泉穴在足心陷中，屈足卷指宛在其中。）內踝前［側］（出），轉踝從邊，跟中臑內，（跟，足跟也。）上膕內廉，股內後隅，脊膂中穿，屬腎出絡，膀胱值焉，直者從腎，貫肝膈出，入於肺中，循喉挾舌，支從肺行，注於胸中。</p>
<p>手之厥陰，心包經通，起於胸內，臟屬膻中，（膻中穴在兩乳之間，正值心前空處，以藏宗氣，又曰天氣，［亦曰］靈樞謂之氣海是也。）歷絡三焦，（焦原也，胸為上焦，氣之原也；膈為中焦，血之原也；腹為下焦，水之原也。靈樞經曰：上焦如霧，中焦如漚，下焦如瀆云。）胸膈腹中，支從胸出，橫行於脅，（腹旁為脅。）上抵腋下，（脅上為腋，）循臑中出，行手太陰，少陰經內，肘中下臂，行兩筋中，入於掌內，中指乃竭，支別掌中，手少陽接。</p>
<p>手之少陽，三焦腑經，無名指端，外側起焉，上行歧骨，腕臂外邊，骨間肘外，臑外上肩，大椎之側，（大椎穴在第一椎陷中。）缺盆一穿，絡之膻中，三焦屬焉，支從膻中，缺盆陷出，上行耳頂，耳上角折，下循耳前，從頰至䪼，支者耳後，入於耳內，出耳外眥，足少陽接。</p>
<p>足之少陽，膽腑之經，起外眥鬢，陽角後懸，耳後腦側，下項循肩，肩頸缺盆，（肩井穴在肩上陷中。）下腋季脅，（脅中之骨為季骨穴。）後起髀厭，髀陽膝外，（髀外太陽、陽明之間。）輔骨之前，（䯒骨外為輔骨。）下抵絕骨，（外踝以上為絕骨）。外踝足跗，小次指兼，支從耳後，出走耳前，外眥人迎，頰車頸穿，缺盆合原，貫膈絡肝，膽腑屬焉，出脅氣街，毛際髀厭，支從跗上，大指間遷，歧骨內出，足厥陰連。</p>
<p>足厥陰經，肝臟所屬，起大指外，聚毛循跗，轉內踝前，中封之所，（中封穴在內踝前一寸許陷中，仰足取之。）上踝八寸，足太陰後，自膕內廉，曲泉循股，（曲泉穴在輔骨下大小筋陷中，曲膝得之，即膝旁橫頭紋處也。）陰中環繞，腎囊左右，入小腹旁，挾之胃腑，屬肝絡膽，脅前喉後，會頑自額，（頑者顙也。）［外］（升）顛交督，（督脈。）支者目系，下頰環口，復貫膈脾，注肺乃伏，奇經督任，陰陽同宗，督起下極，（下極之俞兩陰之間屏翳處也，兩筋為纂內深之處。）上循脊中，（後上而前。）遇腦額鼻，齘交而終，（斷交穴在上齒縫中。）任起中極，（中極下會陰之分也。）循臍腹中，胸喉上達，承漿乃窮。（承漿穴在口唇下中。）</p>
<p>齗音忻。</p>
<p>心居主官，神明出焉。膻中佐命，喜樂出焉。</p>
<p>膻中藏天之靈氣，亦名氣海。</p>
<p>肝將軍官，謀略出焉。膽中正（官），智決出焉。</p>
<p>魂藏於肝，晝棲於目。</p>
<p>脾主轉輸官，運化出焉。胃倉廩官，納受出焉。</p>
<p>思慮勞倦皆傷脾。胃為水穀之海。</p>
<p>肺相傳官，治節出焉。大腸傳道，變物出焉。</p>
<p>魄藏於肺。大腸為火臟。</p>
<p>腎作強官，技巧出焉。小腸受盛，化物出焉。</p>
<p>腰為腎［腑］（府），右水左火，為之命門。</p>
<p>腦。</p>
<p>腦為髓海，屬腎，主膻中，在兩乳之間。</p>
<p>膈膜。</p>
<p>膈膜在肺，下與脅腹周迴相著如幕，以遮濁氣，使不熏蒸上焦。</p>
<p>命門火。</p>
<p>命門火即相火，蒸化穀食，並代心君火行事者。</p>
<p>幽門。</p>
<p>幽門即胃之下腕，在大小腸之間，津液滲入膀胱，渣穢流入大腸矣。</p>
<p>氣海。</p>
<p>氣海一曰關元，在臍下二寸五分。</p>
<p>丹田。</p>
<p>丹田在臍下三寸。</p>
<p>眼。</p>
<p>人之初生，天一生水，先生黑睛，瞳人屬腎，地二生火，兩眥屬心，天三生木，黑珠屬肝，地四生金，白珠屬肺，天五生土，眼胞屬脾。</p>
<p>鼻。</p>
<p>結胎先長，鼻故曰鼻祖。</p>

<h2>妊娠脈</h2>
<p>妊脈右關，緊滑為憑，吐傷不應，他例詳評，左寸洪滑，六脈細勻，尺搏寸別，數無病因。（內因外因，不內外因。）中衝脈盛，（中衝穴在手中指端，去爪甲韭菜葉許處。）現一為真，男女須參，左腎右肺，腎盛生男，肺盛誕女，雙胎陰陽，可以隅舉，胎中有損，右關亦識，脈數洪微，亟宜調理，半產漏下，肺革尺澀，或右逢革，俱為不利，欲產之婦，脈多歇至，乍大乍小，乍疏乍密，或關弱甚，驚動怒急。</p>

<h2>小兒脈紋</h2>
<p>小兒之診，即舉其綱，三歲以下，脈未悠揚，男左女右，虎口須觀，食指三節，分為三關，初風、次氣、末命所安，無病之候，紋不侵關，短少隱約，淡紅淡黃，病者反是。色分數般，赤紫青黑，循次傳關，紅赤與紫，俱為熱傷，青為傷風，紅紫傷寒，深紫煩渴，青紫驚搐，青黑慢驚，純黑惡候，有成其形，三觀消息，魚刺了乙，風驚急嗽，懸｜風驚，傳氣為瀉，三者入命，脾風慢掣，水字風嗽，寒氣為痰，滯阻彎弓。</p>
<p>風氣食呃，嘔吐之症，回曲疳積，紋川蟲候，凡入命關，病多危篤，紅為可醫，黑為難救，流珠不續，透甲掛張，症危無紋，生枝俱亡。</p>
<p>｜音針。</p>

<h2>小兒脈候</h2>
<p>小兒三歲，其脈初至，法以氣口，診取一指，細數平和，七至八至，熱則太過，寒則不及，浮數浮緊，驚風可識，浮弦浮大，風寒外閉，浮遲潮熱，浮實便秘，浮虛盜汗，浮微咳嗽，沉數內熱，沉遲冷滯，沉洪腹痛，嘔逆蟲聚，沉細腹疼，中停乳食，沉滑吐逆，沉實積滯，沉緊腹疼，沉緩傷食，弦長肝氣，濡虛泛氣，促結虛驚，結伏物聚，細脈疳積，弦緊癇症，弦急客忤，微澀血痢，洪大而慢，食傷脾胃，遲細脾虛，滯積所致，弦實為瘧，短小宿食，乳食吐逆，脈亂無忌，大小不勻，脾風弦急，瀉痢浮大，一息二至，十至為亂，俱為不治。</p>
<p>十歲以上，稍排三指，尺寸所候，少壯無異，兒體純陽，猶加詳細，診治雖同，切勿任意。</p>

<h2>脈會</h2>
<p>正奇十四經脈俱同，獨手太陰肺與經通百脈，會肺以候吉凶。</p>

<h2>脈位</h2>
<p>脈之部位，舉按有則，肺應皮毛，心平脈息，脾主肌［月］（肉），肝筋腎骨，應時浮沉，氣形不悖。</p>

<h2>氣形</h2>
<p>氣屬於陽，出於胃海，應指軟滑，沖灌百脈，形乃臟形，真陰應時，如肝屬木（色青，）春弦為宜，心火夏鉤（色赤，）來盛去衰，肺金秋色（色白，）即浮而澀，腎水冬石（色黑，）沉滑之義，脾土主緩（色黃，）旺於四季，尺寸相兼，本脈不失，氣形交媾，氣多為平，形多為病，形殞傷生。</p>

<h2>來去</h2>
<p>來者為陽，氣之出也；去者為陰，氣之入也，來以候外，去以候內，虛小為平，實強為逆，來實去虛，外病可別，來小去大，病屬乎內。</p>

<h2>尺寸</h2>
<p>診取掌前，偏於氣口（即寸口也，）高骨內旁，是為關脈，寸陽據前，尺陰據後，義取尺澤（尺澤穴在肘內曲宛紋中，）一尺為尺，尺上一寸，寸部乃得，關為界限，陰陽交會。</p>

<h2>上下</h2>
<p>寸關與尺，分列左右，每部二分，前後各半，前陽後陰，脈至應手，形如撞鐘，調勻往復，上至為陽，自後前步，陽生於陰，皆陽之候，下至為陰，自前而後，陰生於陽，屬陰之候。</p>

<h2>前後</h2>
<p>一部兩候，前後通融，左寸前心，後候膻中，關前肝膽，後與膈通，右寸前肺，後候胸中，右關前胃，後候脾宮，兩尺前腎，後候腹中，兼候膀胱，大小腸同，小腸列左，大腸列右，三焦分寄，膈腹上胸，左病左察，右病右窮，寸主胸上，關主膈中，尺主腰腹，股膝足終。</p>

<h2>至數</h2>
<p>診取平旦，飲食未進，陽聚陰靜，過目可審，醫自呼吸，氣之往復，一息四至五至，平候一呼一吸謂之一息，急忙之間，腋四五動亦謂平脈。</p>

<h2>歇至（止）</h2>
<p>至者脈應，調勻則吉，止者暫息，是為歇止，止久有常，是謂絕氣，歇至（止）主病，絕氣不治。</p>

<h2>陰陽</h2>
<p>脈之平候，中和之至，陽者太過，陰者不及。不及虛濡，微細短澀，太過緊張，弦洪滑類。</p>

<h2>診例</h2>
<p>舉按疏密，臨診須詳，瘦人脈浮，肥人脈藏，短人脈短，長人脈長，形小細應，形盛洪當，性緩脈軟，性躁脈剛，左大男順，右大女良，男宜寸盛，女宜尺強。</p>

<h2>七情</h2>
<p>七情喜緩，悲短憂澀，思結恐沉，驚動怒急。</p>

<h2>無脈</h2>
<p>無脈之候，有變有常，平人無脈，胃脘宜詳，暴病無脈，氣鬱可治，可治者何，冷痛吐痢，憂食痰厥，折傷，經閉妊瘧，傷寒之類。</p>
<p>久病無脈，氣結則死，將死之候，月內可識，尺後三寸，其脈無矣。</p>

<h2>反脈</h2>
<p>脈之反常，醫之所忌，秋冬洪泛，春夏沉滯，老年太過，少壯不及，形盛脈徵，胸中短氣，身瘦肥大，胸中喘急，汗出躁盛，產後洪實，咳嗽沉伏，頭痛短澀，虛痛弦堅，中氣實急，喘息細微，痿痹緊急，中病脈虛，外病脈澀，心腹疼痛，失血瀉痢，中惡金瘡，浮洪俱忌，傷寒熱症，腹大水氣，中毒發狂，沉細不吉。</p>

<h2>異脈</h2>
<p>脈與症異，吉凶須識，極虛盛候，虛大暫熾，有虛脈細，服寒搏指，極實羸伏，沉細疳摧，傷寒便秘，胃熱脈遲，脈和人病，雖重無妨，人安脈惡，病入膏肓，脈調肉脫，末。（末下原缺）</p>

<h2>怪脈</h2>
<p>真藏變形，湧泉雀啄，魚翔蝦游，彈石解索，轉豆偃刀，逢之弗吉。</p>

<h2>止脈</h2>
<p>平人脈止，須審年支，年支環列，三合分司，三分之義，猶立鼎足，申子辰水，土為之附，寅午戌火，玄卯未木，巳酉醜金，五行四局，次審年支，三合所屬，屬部逢止，是臟不足，年逢三合，不勝制伏，月支五分，五行正屬（如寅卯屬木之類，）合症相形，死期可卜。</p>
<p>真臟脈止，死期則殊，蓋脈流動，五臟應之，五臟者心肝脾肺腎，其氣見脈，有序有屬，合乎五行，先天生數，法以水一，火二木三，金四土五，循環周始，五至小息，臟周乎一，五十大息，臟周乎十，五臟氣全，五十無止，一臟氣絕，則現乎止，止數有常，死期可擬，數止之法，從止數起，凡五為周，不及求止，止應何臟，是臟無氣，自旺日平，不旺而死。</p>

<h2>政脈</h2>
<p>南北之政，先立其年，十分五運，支立司天，土運甲己，金運乙庚，水運丙辛，木運丁壬，火運戊癸，土君余臣，司天分別，六化圖推，陰陽之右，陽明治之，陽明之右，太陽治之，太陽之右，厥陰治之，厥陰之右，少陰治之，少陰之右，太陰治之，子午之上，少陰治之，丑未之上，太陰治之，寅申之上，少陽治之，卯酉之上，陽明治之，辰戌之上，太陽治之，己亥之上，厥陰治之，當歲年支，司天居中，南寸北尺，移位相從，南政面南，甲己土運，運尊濕土，喻君之政，少陰司天，兩寸不應，少陰在泉，兩尺不應，三陰居左，則左不應，三陰居右，則右不應，寸尺高下，少陰為定，北政四運，面北行政，少陰司天，兩尺不應，少陰在泉，兩寸不應，左右同前，天人相應，故脈沉細，或無俱順，諸脈不應，反較診之。（反其診則，應之非覆乎以沉為浮，以小作大。）尺寸反死，（歲當陰脈在寸，反見於尺，尺之陰脈而移於寸，歲當陽脈在尺，反見於寸，寸之陽脈而移於尺，尺寸相反，主死，於子午卯酉四年矣。）陰陽交虛。（歲當陰脈在左，反見於右，右之陰脈而移於左，歲當陽脈在右，反見於左，左之陽脈而移於右，左右交錯，主死，寅申巳亥辰戌丑未八年矣。）</p>

<h2>勝負扶抑</h2>
<p>概論不勝，春弦澀期，弦澀氣等，疾作秋時，無弦春病，無氣死摧，脈兼所勝，氣盛形微，亦為平狀，形緩氣勻，長夏為恙，失弦春病，失氣死斷，脈之子母，有扶有抑，子扶易愈，春弦而鉤，母抑退遲，春弦滑流，勝負扶抑，以類推求。</p>

<h2>各部不勝</h2>
<p>各部不勝，臟屬求之，左關浮澀，左寸沉微，右寸洪數，尺中遲緩，右關弦急，木病非宜。</p>

<h2>不勝期訣</h2>
<p>真臟之形，純形無氣，形陰氣陽，水火有異，肝至勁急，如張弓弦，心至浮洪，彈石搏堅，肺至輕浮，吹毛颺然，腎至沉絕，解索而堅，脾至柔弱，疏數相兼，水流不鼓，屋漏不連，雞距前小，鳥啄脫堅，肝絕庚辛，心絕壬癸，肺絕丙丁，腎絕戊己，脾絕甲乙，不勝為忌，月斷死期，真臟氣微，肝憂申酉，心畏亥子，寅卯刑脾，巳午刑肺，腎之所懼，辰戌五未。</p>

<h2>虛數期訣</h2>
<p>細數無力，虛勞非宜，數而有間，月斷死期，審獨盛衰，三合相期，如心獨盛，甲子辰危，數而無間，日斷死期，旬余之內，如月而推。</p>

<h2>真臟俱搏</h2>
<p>真臟俱搏，兩手相同，勢盛難制，三者齊攻，其一月支，三合結局，其二日支，納音所屬，（如甲子乙丑海中金之類。）俱所不勝，待相時助，其三日時，不應之母，子挾母勢，齊攻則故。</p>
<p>真臟俱搏，所勝兼之，所勝勢盛，生子相期，日乾三合，所勝堪悲。</p>
<p>真臟俱搏，不及兼之，死於三合，自旺日支。</p>

<h2>上古三診</h2>
<p>上古之診，三法俱行，其一寸口（氣口也，）參之人迎，（二穴在結喉旁各去一寸五分。）上下齊等，引繩曰平，偏盛為病，審在何經，人迎一盛，少陽病侵，二盛太陽，三盛陽明，寸口三盛，病分三陰，一厥二少，三太相承，手足經位，躁［前］（靜）可究，兼躁在手，沉靜在足，四盛以上，俱為死候，上曰格陽，下曰關陰，上下四盛，關格穴臨。</p>
<p>其二分診，十二經位，三才九候，（三才天地，人也九候，三三為九。）勻盛為吉，病者遲數，大小獨異，腎瀉虛補，或施針刺，其決死生，衝陽為主，（衝陽穴在足胕上五寸骨間動脈，）胕上五寸，無脈者死。</p>
<p>其三獨取氣口之位，尺寸之候，以判凶吉嗟哉傳遠，三廢其二，惟有尺寸，獨天其藝。</p>
