<header data-type="book">
<h1>神應經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="陳會">陳會</data>撰，<data value="劉瑾">劉瑾</data>補輯</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1425">公元1425年（明·洪熙元年）</data></dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_01100/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>恭惟我主上殿下之六年也，命禮曹申嚴醫教設針灸專門法，擇其精於術者為師，而資性明敏者為弟子，勸勵之法甚悉焉。適有日本釋良心以《神應經》來獻，兼傳其本國神醫和介氏、丹波氏治癰疽八穴法。其八穴雖未試用《神應經》，其傳授遠有所自。而所論折量補瀉法，皆古賢所未發者，其取穴又多有起發古人所未盡處，其所著穴，皆撮其切要而得效多者，文簡而事周，令人披閱昝刻間，證與穴瞭然在目。</p>
<p>聖上嘉嘆，命以八穴法付於《神應經》之末，鋟梓廣布，且以永其傳焉。臣竊惟醫療之方，藥餌針灸不可偏廢。但藥非本國所產者頗多，大概皆求之中國，而又非盡出於中國也，轉轉市易，得之甚難，豈真贗陳新之可擇，而貧窮下賤與遠方之人，亦未易遍及也。唯砭焫之方，無費財遠求之勞，採暴合和之難。一針一艾，備應無方，運於指掌，辦於談笑，貧富貴賤，遠近緩急，無適不宜，況於取效常在藥力所不及攻處，而其功用神妙，難以備述。庸醫不知，以為卑辱，至相詬，病而不肯為。故世之病者，生死壽夭率皆付之巫覡謠祀，豈不哀哉！</p>
<p>聖上憫其然，乃設專門，益嚴勸督，適有遐方之獻，不以珍奇可玩之異物，而以此救民濟世之神方，不期而至，以孚我聖上仁民愛物之盛德，夫豈偶然哉。</p>
<p><u>成化十年十一月二十一日推忠定難翊戴純誠明亮經濟佐理功臣崇祿大夫西平君臣韓繼禧謹序。</u></p>

<h1>序</h1>
<p>唐虞之紀，官非剡子不能，以明其制；羲軒之制，藥非師襄則無，以審其音。是以聖人師之醫道之學，吾未能也，故有吾不如老農之嘆。然人之有身，血氣所醉，嗜欲所汩，寒暑所搏，萬慮所攻，鮮有不至於疾者，非至人何能安之？是以聖人因之而制砭焫之方出焉。昔在太樸之世，未有藥物，獨用砭焫之道，活生民於掌握，此醫道之大者也。予喜其無藥物㕮咀之勞，而能回生於指下，可謂易矣。乃求其術於醫者，久而得之者，十有餘家，獨宏綱乃遇信卿席真人所授之術，故其補瀉折量之法，其口訣指下之妙，與世醫之所不同，出於人者，見於此也。其徒二十四人，獨劉瑾得其指下之秘，故能繼宏綱之術而無墜也。予謂干將，雖神使之補履，莫若一錐之能；良藥雖眾，至於劫病，莫若一針之捷。藥以氣味而達之，故其宣利經絡也遲；針以⿰𤰞刂劘而取之，故其疏通血脈也速。況加以冰臺，灼以神燧，助其真陽，逐其陰邪，而元氣充矣，奚何病之有哉！若人遇夜或在路，倘有微恙，藥不可得也，惟砭焫之術，可以應倉卒之用。士之於世，欲治生者，不可不知。予故愛而學之，乃命醫士劉瑾，重校其師宏綱先生所傳《廣愛書》十卷，予止取其穴之切於用者為一卷，更其名曰《神應經》，內五百四十八證，計二百一十一穴。又擇其劉瑾之經驗者六十四證，計一百四十五穴，纂為一冊目，曰《神應秘要》。而以此心推之於眾庶，不負宏綱廣愛之仁也。此書世所未有，用傳於世，今命刊行，以紀於首。</p>
<p><u>章云時在洪熙乙巳四月二十一日書</u></p>
<p>成化九年癸巳，孟冬，日本國島山殿所使副官人信⿰夕刂隱士良心言，我國二百年前有兩名醫，一為和介氏，一為丹波氏，此二醫專治癰疽疔癤瘰癧等瘡，定八處灸法甚有神效。</p>

<h1>八穴灸法</h1>

<h2>頭部二穴</h2>
<p>諸瘡發於頭部，則耳尖上周回用禾杆量之（自左耳尖上起端右旋，經右耳尖上，還至起端處斷之）。</p>
<p>以其杆當結喉下至項後雙垂之，以患人手橫握其端而切去之（以其杆中央當結喉下，兩端左右會於項後，雙垂之。以患人手橫握其兩端之末而斷之，如《針經》一夫之法），其杆斷當處脊中骨上點之。瘡出左者，去中骨半寸灸左；出右者，灸右；出左右者，並灸左右。</p>

<h2>手部二穴</h2>
<p>瘡發於手部，則自肩上高骨端（即肩髃穴）至第三指頭爪甲端斷之。以其杆當結喉下，至項後雙垂之，如頭部法。</p>

<h2>背腹部二穴</h2>
<p>（自大椎下至鳩尾骨端為背部，自天突穴下至陰毛際為腹部，兩腋亦屬腹背部）瘡發於背部或腹，則乳上周回（自左乳頭上起端，右旋周身，經右乳頭上還至起端處），以其杆當結喉下，至項後雙垂，如頭部法。</p>

<h2>足部二穴</h2>
<p>瘡發於足部，則並立兩足令相著，自左大拇趾端至右大拇趾端周迴（自左足大拇趾頭起端，從足際右旋，經左右足踵，右足趾端還至起端處。）以其杆當結喉下，項後雙垂，如頭部法。</p>
<p>灸八穴，痛則灸到不痛，不痛則灸到痛。或五百壯，或七八百壯，大炷多灸尤妙。癰疽始發而灸，則不潰而自愈；已潰而灸，則生肌止痛，亦無再發。</p>

<h1>梓桑君針道傳宗圖</h1>
<figure>
<img alt="梓桑君針道傳宗圖">
</figure>

<h1>百穴法歌</h1>
<p>手之太陰經屬肺，尺澤肘中約紋是，</p>
<p>列缺側腕寸有半，經渠寸口陷脈記，</p>
<p>太淵掌後橫紋頭，魚際節後散脈里，</p>
<p>少商大指內側尋，爪甲如韭此為美。</p>
<p>手陽明經屬大腸，食指內側號商陽，</p>
<p>本節前取二間定，本節後勿三間忘，</p>
<p>歧骨陷中尋合谷，陽谿腕中上側詳，</p>
<p>三里曲池下三寸，曲池曲肘外輔當，</p>
<p>肩髃肩端兩骨覓，五分挾孔取迎香。</p>
<p>足陽明兮胃之經，頭維本神寸五分。</p>
<p>頰車耳下八分是，地倉挾吻四分臨，</p>
<p>伏兔陰市上三寸，陰市膝上三寸針，</p>
<p>三里膝下三寸取，上廉里下三寸主，</p>
<p>下廉上廉下三寸，解谿腕上系鞋處，</p>
<p>衝陽陷谷上二寸，陷谷庭後二寸舉，</p>
<p>內庭次指外間求，厲兌如韭足次趾。</p>
<p>足之太陰經屬脾，隱白大趾內角宜，</p>
<p>大都節後白肉際，太白後一下一為。</p>
<p>公孫節後一寸得，商丘踝下前取之，</p>
<p>內踝三寸陰交穴，陰陵膝內輔下施。</p>
<p>手少陰兮心之經，少海肘內節後明，</p>
<p>通里腕後才一寸，神門掌後兌骨精。</p>
<p>手太陽兮小腸索，小指之端取少澤，</p>
<p>前谷外側本節前，後谿節後仍外側，</p>
<p>腕骨腕前起骨下，陽谷兌下腕中得，</p>
<p>小海肘端去五分，聽宮耳珠如菽側。</p>
<p>太陽膀胱何處看，睛明目眥內角畔，</p>
<p>攢竹兩眉頭陷中，絡卻後發四寸半，</p>
<p>肺俞三椎膈俞七，肝俞九椎之下按，</p>
<p>腎俞十四椎下旁，膏肓四五三分等，</p>
<p>委中膝膕約紋中，承山腨下分肉斷，</p>
<p>崑崙踝下後五分，金門踝下陷中撰，</p>
<p>申脈踝下筋骨間，可容爪甲慎勿亂。</p>
<p>少陰腎兮安所覓，然谷踝前骨下識，</p>
<p>太谿內踝後五分，照海踝下四分的，</p>
<p>復溜內踝上二寸，向後五分太谿直。</p>
<p>手厥陰兮心包絡，曲澤肘內橫紋作，</p>
<p>間使掌後三寸求，內關二寸始無錯，</p>
<p>大陵掌後兩筋間，中衝中指之端變。</p>
<p>手少陽兮三焦論，小次指間名液門，</p>
<p>中渚次指本節後，陽池表腕有穴存，</p>
<p>腕後二寸外關絡，支溝腕後三寸聞，</p>
<p>天井肘上一寸許，角孫耳廓開口分，</p>
<p>絲竹眉後陷中按，耳門耳闕非虛文。</p>
<p>足少陽膽取聽會，耳前陷中分明揣，</p>
<p>目上入髮際五分，臨泣之穴於斯在，</p>
<p>目窗泣上一寸存，風池後髮際中論，</p>
<p>肩井骨前看寸半，帶脈肋下寸八分，</p>
<p>環跳髀樞尋宛宛，風市髀外兩筋顯，</p>
<p>陽陵膝下一寸求，陽輔踝上四寸遠，</p>
<p>絕骨踝上三寸從，丘墟踝前有陷中，</p>
<p>臨泣俠谿後寸半，俠谿小次歧骨縫。</p>
<p>厥陰肝經果何處，大敦𧿹趾有毛聚，</p>
<p>行間骨尖動脈中，太衝節後有脈據，</p>
<p>中封一寸內踝前，曲泉紋頭兩筋著，</p>
<p>章門臍上二寸量，橫取六寸看兩旁，</p>
<p>期門乳旁一寸半，直下寸半二肋詳。</p>
<p>督脈水溝鼻柱下，上星入發一寸者，</p>
<p>百會正在頂之巔，風府後發一寸把，</p>
<p>啞門後髮際五分，大椎第一骨上存，</p>
<p>腰俞二十一椎下，請君仔細詳經文，</p>
<p>任脈中行正居腹，關元臍下三寸錄，</p>
<p>氣海臍下一寸半，神闕臍中隨所欲，</p>
<p>水分臍上一寸求，中脘臍上四寸取，</p>
<p>膻中兩乳中間索，承漿宛宛唇下搜。</p>

<h1>折量法</h1>
<p>臣瑾曰：夫針灸之術，其旨微矣。穴法之訛，其來遠矣。如背俞、膏肓數穴，皆起死回生之要穴，而折量分寸皆致訛謬。臣獲善同陳先生親授，一穴一法毫釐有據。且如背俞，前賢書中皆云夾脊各寸半是，共折三寸，分二旁取之。殊不知言夾脊，其夾字是除骨而言。若帶脊骨，當以兩旁各二寸，共折四寸分兩旁。又如膏肓二穴，當除第一椎小骨不算。若連第一椎數下，當在五椎下兩旁各三寸半，共折七寸分兩旁，按其痠疼處乃是真穴。臣每依此灸療，多獲痊愈。又折量之法，世俗盜學，妄傳自頭部、背部、手足背，一概用「同身寸」量之，殊不知頭部有頭部之尺寸，腹部有腹部之尺寸，橫直尺寸俱不同，各有其要，惟背部、手足部並用同身寸取之。學者於茲，不可不注意焉，故書此以正之。</p>

<h2>頭部</h2>
<p>前髮際至後髮際折作十二節，為一尺二寸。前髮際不明者，取眉心上行三寸；後髮際不明者，取大椎上行三寸；前後髮際不明者，共折作一尺八寸。</p>
<p>橫寸以眼內眥角比至外眥角，為一寸。頭部橫寸並用此法。</p>
<p>神庭至曲差、曲差至本神、本神至頭維，各一寸半。自神庭至頭維共四寸半。</p>

<h2>背部</h2>
<p>大椎穴下至尾骶，共二十一椎，通折作三尺。</p>
<p>上七椎，每椎一寸四分一釐，共九寸八分七釐。</p>
<p>中七椎，每椎一寸六分一釐。</p>
<p>十四椎與臍平，共二尺一寸一分四釐。</p>
<p>下七椎，每椎一寸二分六釐。</p>
<p>第二行夾脊，各寸半，除脊一寸，共折作四寸，分兩旁。第三行夾脊各三寸，除脊一寸，共折作七寸，分二旁。</p>

<h2>腹部</h2>
<p>橫寸：膺部、腹部並用乳間橫折作八寸。腹部應有橫寸，悉依上法。</p>
<p>直寸：中行心蔽骨下至臍共折作八寸。人若無心蔽骨者，取歧骨下至臍心，共折九寸取之。</p>
<p>臍中至毛際橫骨，折作五寸。</p>
<p>天突至膻中為準，折作六寸八分，下行一寸六分，為中庭。上取天突，下至中庭，共折作八寸四分。</p>

<h2>手足部</h2>
<p>並用同身寸取之。</p>

<h1>補瀉手法</h1>
<p>臣瑾曰：夫針灸有劫病之功者，在於手法而已。倘穴不得其真，功罔奏矣；穴得真矣，補瀉不得其道，亦徒然矣。</p>
<p>宏綱先生有曰：世俗所謂補瀉之法，補者，以大指向外；瀉者，以大指向內，此謬之甚矣。世醫之所謂瀉，針法之所謂補也；其補者，針法之所謂瀉也。孰不知補瀉之法，體之左，有左補瀉之法；右，有右補瀉之法，隨氣血所行而治之。不合其理，孰為其治？又曰：《素問》內言針而不灸，灸而不針。庸醫針而復灸，灸而復針。後之醫者不明軒歧之道，針而復灸，灸而復針者有之。孰不知書中所言某穴在某處，或針幾分，灸幾壯。此言若用針，當用幾分；若用灸，當灸幾壯。謂其穴灸者不可復針，針者不可復灸。今之醫者，凡灸必先灸三壯，乃用針，復灸數壯謂之透，火艾之說是，不識書中之意，不明軒歧之旨，深可慨也。傳曰：愚而好自用，良有以也。昔宏綱先生亦常言，惟腹上用針，隨灸數壯，以固其穴亦可，他處忌之，不可以一例用之。此醫家權變之說也，不可不知。</p>

<h2>瀉訣直說</h2>
<p>臣瑾曰：宏綱先生授曰：取穴即正，左手大指掐其穴，右手置針於穴上，令患人咳嗽一聲，隨咳納針至分寸。候數穴針畢，停少時用右手大指及食指持針，細細動搖進退，搓捻其針如手顫之狀，謂之「催氣」。約行五、六次，覺針下氣緊。卻用瀉法，如針左邊，用右手大指食指持針，以大指向前，食指向後，以針頭輕提往左轉。如有數針，候依此法俱轉畢。仍用右手大指食指持針，卻用食指連搓三下，謂之「飛」。仍輕提往左轉，略退針半分許，謂之「三飛一退」。依此法行至五、六次，覺針下沉緊是氣至極矣，再輕提往左轉一、二次。如針右邊，以左手大指食指持針，以大指向前，食指向後，依前法連搓三下，輕提針頭往右轉，是針右邊瀉法。欲出針時，令病人咳一聲，隨咳出針，此謂之瀉法也。</p>

<h2>補訣直說</h2>
<p>臣瑾曰：昔宏綱先生授曰：凡人有疾，皆邪氣所湊，雖病人瘦弱，不可專行補法。《經》曰：「邪之所湊，其氣必虛」。如患赤目等疾，明見其為邪熱所致，可專行瀉法。其餘諸疾，只宜平補平瀉。須先瀉後補，謂之先瀉其邪，後補真氣。此乃先生不傳之秘訣也。如人有疾，依前法針，用手法催氣、取氣，瀉之既畢，卻行補法。令病人吸氣一口，隨吸轉針，如針左邊，捻針頭轉向右邊，以我之右手大指食指持針，以食指向前，大指向後，仍捻針深入一、二分，使真氣深入肌肉之分。如針右邊，捻針頭轉向左邊，以我之左手大指食指持針，以食指向前，大指向後，仍捻針深入一、二分。如有數穴，依此法行之即畢，停少時，卻用手指於針頭上輕彈三下，如此三次。仍用我之左手大指食指持針，以大指連搓三下（謂之「飛」），將針深進一、二分，以針頭轉向左邊，謂之「一進三飛」。依此法行至五、六次，覺針下沉緊，或針下氣熱，是氣至足矣。令病人吸氣一口，隨吸出針，急以手按其穴，此謂之補法也。</p>

<h1>穴法圖</h1>
<figure>
<img alt="穴法圖">
</figure>
<p>百會　在頂中陷中，容豆許。去前髮際五寸、後髮際七寸。灸七壯至七七。</p>
<p>上星　在鼻上入髮際一寸。針三分，以細三稜針瀉諸陽氣、熱氣。可灸七壯，不宜多，若頻灸拔氣上，目不明。</p>
<p>目窗　在臨泣後一寸。灸五壯，針三分。三度刺，目大明。</p>
<p>臨泣　在目上直入髮際五分陷中。針三分，灸五壯。</p>
<p>風府　在頭後髮際上一寸，大筋內宛宛中。針四分，禁灸。灸之使人失音。或七壯。</p>
<p>啞門　在項後入發五分宛宛中，仰頭取之。針三分，禁灸。灸之令人啞。</p>
<p>風池　在腦空下，髮際陷中。針一寸二分，灸不及針，日七壯至百壯，炷不用大。</p>
<p>絡卻　在腦後髮際上，兩旁起肉上各一寸三分，腦後枕骨，挾腦戶，自發際上四寸半。針三分，灸三壯。</p>
<p>角孫　在耳廓中間上，開口有空。針八分，灸三壯。</p>
<p>肩井　在缺盆上，大骨前寸半，以三指按，當中指下陷中。只可針五分。若深令人悶倒，速三里下氣。</p>
<p>肩髃　在肩端兩骨間有陷宛宛中，舉臂取之。針八分，灸五壯。可日七至二七。</p>
<p>睛明　在目眥內角。針寸半。雀目者可久留針，然後速出。禁灸。</p>
<p>攢竹　在兩眉頭小陷宛宛中。針三分。三度刺，目大明。宜鋒針出血。</p>
<p>絲竹空　在眉後陷中。針三分，宜瀉不宜補。禁灸。灸之使人目小無所見。</p>
<p>頭維　在額角，入髮際，本神旁寸半，去曲鬢一寸。針三分，禁灸。</p>
<p>迎香　在鼻孔旁五分。針三分，不灸。</p>
<p>頰車　在耳下八分，近前曲頰端上陷中。針四分，灸日七壯至七七。</p>
<p>聽會　在耳微前陷中，上關下一寸，動脈宛宛中，開口取之。針七分，不補。日五壯至三七壯。</p>
<p>聽宮　在耳中珠子，大如赤小豆。針三分，灸三壯。</p>
<p>耳門　在耳中起肉，當耳鈬陷中。針三分，禁灸。有病不過三壯。</p>
<p>地倉　在夾口吻四分之處，近下有脈微微動是也。針三分半，灸日七、二七，重者七。</p>
<p>水溝　在鼻柱下，溝中央。針四分，灸不及針。水腫惟得針。此日三壯至二百壯。</p>
<p>承漿　在頤前唇稜下宛宛中。針三分，灸日七壯至七七炷，依小箸頭大。</p>
<p>膻中　在兩乳間折中而取之，有陷是穴，仰而取之。禁針，灸七壯止七七。</p>
<p>期門　在乳旁一寸半，直下又一寸半，第二肋端縫中，其寸用胸前寸折量。針四分，灸五壯。</p>
<p>中脘　去蔽骨尖四寸，下至臍中四寸，針八分，灸二七至百壯，止四百壯。</p>
<p>水分　在臍上一寸，水病灸之大良。禁針，針水盡即死。針八分，灸七壯至四百壯。</p>
<p>章門　在臍上二寸，兩旁各六寸。其寸用胸前兩乳間橫折八寸，內之六寸，側臥屈上足，伸下足取動脈。灸日七壯至二七壯。</p>
<p>帶脈　在季脅下一寸八分，臍上二分，兩旁各七寸半。針六分，灸七壯。</p>
<p>神闕　當臍中。禁刺，刺之使人臍中瘍潰，屎出者死。灸百壯。</p>
<p>氣海　當臍下一寸半宛宛中。針八分，灸百壯。</p>
<p>關元　在臍下三寸。自臍心至橫骨通折五寸。針八分，灸百壯至三百。灸不及針。</p>
<p>大椎　在脊骨第一椎上陷者宛宛中。人發不明者，從此穴上行三寸。針五分，灸以年為壯。</p>
<p>肺俞　在第三椎下，兩旁各二寸。灸百壯。針中之，二日卒。</p>
<p>膈俞　在第七椎下，兩旁各二寸。灸百五壯。</p>
<p>肝俞　在第九椎下，兩旁各二寸。灸七壯，針中之，五日卒。</p>
<p>腎俞　在第十四椎下，與臍平，兩旁各二寸。灸以年為壯。針中之，六日卒。</p>
<p>膏肓　在第五椎下，兩旁各三寸半，四肋三間，去髀骨容側指許。灸百壯止一千。</p>
<p>腰俞　在二十一椎下。自大椎至此折三尺。舒身，以腹挺地，兩手相重支額，縱四體後乃取之。針八分，灸七壯至七七。</p>

<h2>寅手太陰肺經</h2>
<figure>
<img alt="寅手太陰肺經">
</figure>
<p>尺澤　在肘中約紋上，兩筋間動脈。針三分，不可針深，灸五壯。</p>
<p>列缺　在手側腕上寸半，以手交中指頭末，兩筋兩骨鏬中。針三分，灸五壯。</p>
<p>經渠　在寸口陷中，動脈應手。針二分，禁灸。</p>
<p>太淵　在掌後內側橫紋頭動脈。針二分，灸三壯。</p>
<p>魚際　在大指本節後白肉際，針三分。</p>
<p>少商　在手大指內側，去爪甲如韭葉。針一分，禁灸。可鋒針。</p>

<h2>卯手陽明大腸經</h2>
<figure>
<img alt="卯手陽明大腸經">
</figure>
<p>商陽　在手大指次指內側，去爪甲角如韭葉。針一分，灸三壯。</p>
<p>二間　在手大指次指本節前，內側陷中。針三分，灸三壯。</p>
<p>三間　在手太指次指本節後，內側陷中。針三分，灸三壯。</p>
<p>合谷　在手大指次指歧骨間陷中。針三分，灸三壯。孕婦不可針。</p>
<p>陽谿　在手腕中上側，兩筋間陷中。針三分，灸三壯。</p>
<p>手三里　在曲池下三寸，按之肉起，兌肉端。針三分，灸三壯。</p>
<p>曲池　在肘外輔骨，屈肘橫紋頭陷中，拱胸取之。針七分，灸七壯，可日七至二百。</p>

<h2>辰足陽明胃經</h2>
<figure>
<img alt="辰足陽明胃經">
</figure>
<p>伏兔　在陰市上三寸，循起肉，坐而取之。針三分，禁灸。</p>
<p>陰市　在膝蓋上三寸，拜而取之。針三分，不灸。</p>
<p>三里　在膝蓋下三寸，胻骨間，大筋內，坐而取之。針八分，灸止百壯。</p>
<p>上廉　在三里下三寸，兩筋兩骨鏬陷宛宛中，蹲坐取。針三分。</p>
<p>下廉　在上廉下三寸，取穴法與上廉同。針三分，並灸七壯。</p>
<p>解谿　在衝陽後寸半，腕上繫鞋帶處取之。針五分，灸三壯。</p>
<p>衝陽　在足跗上，去陷谷二寸，骨間動脈是穴。針五分，灸三壯。</p>
<p>陷谷　在足大趾次趾外間本節後陷中，去內庭二寸。針三分，灸三壯。</p>
<p>內庭　在足大趾次趾外間陷中，針三分，灸三壯。</p>
<p>厲兌　在足大趾次趾端。去爪甲如韭葉。針一分，灸一壯。</p>

<h2>巳足太陰脾經</h2>
<figure>
<img alt="巳足太陰脾經">
</figure>
<p>隱白　在足大趾端內側，去爪甲如韭葉。月事不止，刺之立愈。針二分，灸三壯。</p>
<p>大都　在足大趾本節後內側，白肉際陷中。針三分，灸三壯。</p>
<p>公孫　在足大趾本節後一寸。針四分，灸三壯。</p>
<p>太白　在足大指內側，大都後一寸、下一寸。針三分，灸三壯。</p>
<p>商丘　在內踝下微前陷中，前有中封，後有照海，其穴居中。針三分，灸三壯。</p>
<p>三陰交在內踝上，除踝，上三寸，骨下陷中，針三分，灸三壯。</p>
<p>陰陵泉　在膝下內側，輔骨下陷中，針三分，灸三壯。對陽陵泉而稍高一寸許，屈膝取之。針五分，灸七壯。</p>

<h2>午手少陰心經</h2>
<figure>
<img alt="午手少陰心經">
</figure>
<p>少海　在肘內節後，去肘端五分，屈肘取之。針三分，灸三壯。</p>
<p>通里　在腕後一寸陷中，針三分，灸七壯。</p>
<p>神門　在掌後兌骨端陷中。針三分，灸七壯，炷如小麥。</p>
<p>靈道　在掌後寸半。</p>

<h2>未手太陽小腸經</h2>
<figure>
<img alt="未手太陽小腸經">
</figure>
<p>少澤　在手小指端，去爪甲一分陷中。針一分，灸一壯。</p>
<p>前谷　在手小指外側本節前陷中。針一分，灸三壯。</p>
<p>後谿　在手小指外側本節後陷中。針一分，灸三壯。</p>
<p>腕骨　在手後側腕前起骨下陷中，有歧骨鏬縫。針二分，灸三壯。</p>
<p>陽谷　在手外側腕中兌骨下陷中。針一分，灸三壯。</p>
<p>小海　在肘內大骨外，去肘端五分陷中，屈肘向頭取之。針三分，灸三壯。</p>

<h2>申足太陽膀胱經</h2>
<figure>
<img alt="申足太陽膀胱經">
</figure>
<p>委中　在足膕中央兩筋間，約紋中動脈應手，針八分。</p>
<p>承山　在腿肚尖下分肉間陷中。針八分，灸不及針，止七七。</p>
<p>崑崙　在足外踝後五分，跟骨陷中。針三分，灸三壯。</p>
<p>申脈　在外踝下陷中，容爪甲白肉際前後有筋，上有踝骨，下有軟骨，其穴居中。針三分。</p>
<p>金門　在外踝下稍後，丘墟後，申脈前。針一分，灸三壯，炷如小麥。</p>

<h2>酉足少陰腎經</h2>
<figure>
<img alt="酉足少陰腎經">
</figure>
<p>然谷　在內踝前起大骨下陷中。針三分，灸三壯。不宜見血。</p>
<p>太谿　在內踝後五分，跟骨上有動脈。針三分，灸三壯。</p>
<p>照海　在內踝下四分，前後有筋，上有踝骨，下有軟骨，其穴居中。針三分，灸七壯。</p>
<p>復溜　在內踝上，除踝二寸，踝後五分，與太谿相直。針三分，灸三壯。</p>
<p>湧泉　在足，屈足蜷趾取之，宛宛中，白肉際。</p>

<h2>戌手厥陰心包經</h2>
<figure>
<img alt="戌手厥陰心包絡">
</figure>
<p>曲澤　在肘內廉陷中，屈肘取之，大筋內側橫紋中動脈。針三分，灸三壯。</p>
<p>間使　在手掌後，橫紋上三寸，兩筋間陷中，去腕後三寸。針三分，灸五壯。</p>
<p>內關　在手掌後橫紋上二寸，兩筋間。針五分，灸三壯。</p>
<p>中衝　在手中指端，去爪甲如韭葉，針一分，灸一壯。</p>
<p>大陵　在掌後橫紋中，兩筋間陷中。針五分，灸五壯。</p>
<p>勞宮　在掌心，屈指取之，在無名指尖盡處是穴。</p>

<h2>亥手少陽三焦經</h2>
<figure>
<img alt="亥手少陽三焦經">
</figure>
<p>液門　在手小指次指間，屈拳取之。針三分，灸三壯。</p>
<p>中渚　在手小指次指本節後陷中。針三分，灸三壯。</p>
<p>陽池　在手表腕上，同骨陷中。針二分，不宜多灸，可三壯。</p>
<p>外關　在腕後二寸，兩骨間陷中。針三分，灸五壯。</p>
<p>支溝　在腕後三寸，兩骨間陷中。針二分，灸二七壯。</p>
<p>天井　在肘外大骨後，肘上一寸，兩筋間陷中。又手按膝頭取之，屈肘取亦可。針一寸，灸三壯。</p>

<h2>子足少陽膽經</h2>
<figure>
<img alt="子足少陽膽經">
</figure>
<p>環跳　在髀樞中，即硯子骨下宛宛中也。側臥伸下足、屈上足取。針二寸，灸五壯，止五十壯。</p>
<p>風市　在膝上外側兩筋間，直舒手著腿，當中指盡頭陷中。</p>
<p>陽陵　在膝下一寸，外廉陷中，膝下外尖骨前六分。灸七壯。</p>
<p>陽輔　在外踝上，除骨四寸，輔骨前，絕骨端如前三分，去丘墟七寸。針五分，灸三壯。</p>
<p>懸鐘　一名絕骨。雖曰外踝上除踝三寸，必以絕隴處為穴。針六分，灸五壯。</p>
<p>丘墟　在外踝如前陷中，去臨泣三寸。針五分，灸三壯。</p>
<p>臨泣　在足小趾次趾本節後陷中，去俠谿寸半。針一分，灸三壯。</p>
<p>俠谿　在足小趾次趾歧骨間本節陷中。針一分，灸三壯。</p>

<h2>醜足厥陰肝經</h2>
<figure>
<img alt="醜足厥陰肝經">
</figure>
<p>大敦　在足大指端去爪甲如一韭葉計。針二分，灸三壯。</p>
<p>行間　在足大趾本節前，上下有筋，前後有小骨尖，其穴居陷中，有動脈應手。針六分，灸三壯。</p>
<p>太衝　在大趾後內間，有絡亙連，橫至地五會二寸，骨縫鏬間，動脈應手陷中。針三分，灸五壯。</p>
<p>中封　在內踝前一寸，貼大筋後，仰足伸足取而得之。針四分，灸三壯。</p>
<p>曲泉　在膝內輔骨下，大筋上，小筋下陷中，屈膝取之，當膝屈䐐，橫紋頭內外兩筋間宛宛中。針六分，灸三壯。</p>

<h1>灸四花穴法</h1>
<figure>
<img alt="灸四花穴法">
</figure>
<p>第一次二穴：</p>
<p>先令患人平身正立。取一細繩，用蠟蠟之，勿令展縮。以繩頭於男左女右腳大𧿹趾端比齊，順腳底下纏定，引繩至腳跟，直上腳肚，至曲⿱秋月中大橫紋截斷。令患人解發分兩邊，要見頭縫，自囟門平分至腦後。乃平身正坐，將先比繩子一頭於鼻端上按定，引繩向上，循頭縫至腦後，貼肉垂下，當脊骨正中繩頭盡處，以墨點記之。婦人纏足者，不遂生成自然之理，若以足量，必定不及也。當於右肩髃穴點定，以繩頭按其穴上，伸手引繩向下至中指盡處截斷是穴。男子亦可。</p>
<p>卻令患人合口，以短蠟繩一頭自左角按定，勾起繩子向上至鼻根，斜下至口右角作△，此樣就，齊口角截斷，將此繩展，令直折取中，以墨點記之。將於先脊骨墨點處，以繩子上中心墨點，正壓脊骨墨點上，兩頭取，手勿令高下，於繩子兩頭，以墨圈記之。此是二穴也。</p>
<p>以上是第一次點二穴。</p>
<p>次二穴：</p>
<p>令患人平身正坐，稍縮臂膊，取一蠟繩繞項，自大椎骨上掛住，向前雙垂與鳩尾尖齊（鳩尾是心蔽骨。人無心蔽骨者，從胸前歧骨下量取一寸，即是鳩尾也），即雙截斷，就轉繩頭向項後，將繩當喉嚨結骨上按住，以其繩夾項雙垂，循脊骨上，正中繩頭盡處，以墨點記之。</p>
<p>卻令患人合口，以短蠟繩於口上橫量如一字樣，齊兩吻截斷，如前折中於脊骨上墨點處，橫量如前法，繩子兩頭盡處，以墨圈記之。此是「四花穴」橫二穴也。</p>
<p>以上是第二次點穴，通前共四穴。同時灸，各七壯至二七壯，至百二十壯或一百五十壯為妙。候火瘡發時，方依後法灸二穴。</p>
<p>又次二穴：</p>
<p>以第二次量口吻短繩子，於第二次雙繩頭盡處脊骨上墨點處，以短繩中墨點壓脊骨上墨點，上下直放，務要中正。相停於上下，繩頭盡處，以墨圈記之。此是「四花穴」上下二穴也。</p>
<p>以上是第三次點穴，謂之「四花穴」。灸兩穴各百壯，三次共六穴。取火日灸之，惟用三月三日艾最佳。百日內慎飲食、房室，安心靜處將息。若一月後仍覺未瘥，復於初穴上再灸。</p>

<h1>諸風部</h1>
<p>偏風半身不遂：肩髃　曲池　列缺　合谷　手三里　環跳　風市　三里　委中　絕骨　丘墟　陽陵泉　崑崙　照海　</p>
<p>足無膏澤：上廉</p>
<p>左癱右瘓：曲池　陽谿　合谷　中渚　三里　陽輔　崑崙</p>
<p>肘不能屈：腕骨</p>
<p>偏腫：列缺　衝陽</p>
<p>身體反折：肝俞</p>
<p>中風肘攣：內關</p>
<p>目戴上：絲竹空</p>
<p>吐涎：絲竹空　百會</p>
<p>不識人：水溝　臨泣　合谷</p>
<p>脊反折：啞門　風府</p>
<p>風痹：天井　尺澤　少海　委中　陽輔</p>
<p>驚癇：尺澤（一壯）　少衝　前頂　束骨</p>
<p>風癇：神庭　百會　前頂　湧泉　絲竹空　神闕（一壯）　鳩尾（三壯）</p>
<p>風勞：曲泉　膀胱俞（七壯）</p>
<p>風疰：百會（三壯）　肝俞（三壯）　脾俞（三壯）　腎俞（年為壯）　膀胱俞</p>
<p>風眩：臨泣　陽谷　腕骨　申脈</p>
<p>中風：臨泣　百會　肩井　肩髃　曲池　天井　間使　內關　合谷　風市　三里　解谿崑崙　照海</p>
<p>口眼喎：列缺　太淵　二間　申脈　內庭　行間　通谷　地倉　水溝　頰車　合谷</p>
<p>瘖啞：支溝　間使　合谷　魚際　靈道　陰谷　復溜　然谷　通谷</p>
<p>口噤不開：頰車　承漿　合谷</p>
<p>凡患風癇疾發則僵仆在地：灸風池　百會</p>
<p>黃帝問岐伯曰：「凡人中風、半身不遂，如何灸之？」</p>
<p>答曰：「人未中風時兩月前或三五個月前，非時足脛上忽發酸疼頰痹，良久方解，此將中風之候也，便須急灸三里與絕骨穴四處各三壯，後用薄荷及桃柳葉煎湯淋洗灸瘡，令驅逐風氣於瘡口中出也。」灸瘡若春好，秋更灸；秋好，春更灸，常令二足上有灸瘡為妙。凡人不信此法，或飲食不節，酒色過度，忽中此風，言語謇澀，半身不遂，宜於七處各灸三壯。如風在左灸右，在右灸左：</p>
<p>一百會　二耳前髮際　三肩井　四風市　五三里　六絕骨　七曲池。</p>
<p>上七穴神效極多，依法灸之，萬無一失也。</p>
<p>黃帝灸法，療中風、眼戴上及不能語者：灸第二椎並五椎上各七壯，同灸，炷如半棗核大。</p>

<h1>傷寒部</h1>
<p>身熱頭疼：攢竹　大陵　神門　合谷　魚際　中渚　液門　少澤　委中　太白</p>
<p>灑淅惡寒、寒慄鼓頜：魚際</p>
<p>身熱：陷谷　呂細（足寒至膝乃出針）　三里　復溜　俠谿　公孫　太白　委中　湧泉</p>
<p>寒熱：風池　少海　魚際　少衝　合谷　復溜　臨泣　太白</p>
<p>傷寒汗不出：風池　魚際　經渠（各瀉）　二間</p>
<p>過期不解：期門</p>
<p>餘熱不盡：曲池　三里　合谷</p>
<p>腹脹：三里　內庭</p>
<p>陰證傷寒：灸神闕（二、三百壯）</p>
<p>大熱：曲池　三里　復溜</p>
<p>嘔噦：百會　曲澤　間使　勞宮　商丘</p>
<p>腹寒熱氣：少衝　陰陵　商丘　太衝　三陰交　行間　隱白</p>
<p>發狂：百勞　間使　合谷　復溜</p>
<p>不省人事：中渚　三里　大敦</p>
<p>秘塞：照海　章門</p>
<p>小便不通：陰谷　陰陵</p>

<h1>痰喘咳嗽部</h1>
<p>咳嗽：列缺　經渠　尺澤　魚際　少澤　前谷　三里　解谿　崑崙　肺俞（百壯）　膻中（七壯）</p>
<p>咳嗽飲水：太淵</p>
<p>引兩脅痛：肝俞</p>
<p>引尻痛：魚際</p>
<p>咳血：列缺　三里　肺俞　百勞　乳根　風門　肝俞</p>
<p>唾血內損：魚際（瀉）　尺澤（補）　間使　神門　太淵　勞宮　曲泉　太谿　然谷　太衝肺俞（百壯）　肝俞（三壯）　脾俞（三壯）</p>
<p>唾血振寒：太谿　三里　列缺　太淵</p>
<p>嘔血：曲澤　神門　魚際</p>
<p>唾膿：膻中</p>
<p>唾濁：尺澤　間使　列缺　少商</p>
<p>嘔吐：曲澤　通里　勞宮　陽陵　太谿　照海　太衝　大都　隱白　通谷　胃俞　肝俞</p>
<p>嘔，食不化：太白</p>
<p>嘔逆：大陵</p>
<p>嘔噦：太淵</p>
<p>喘嘔欠伸：經渠</p>
<p>上喘：曲澤　大陵　神門　魚際　三間　商陽　解谿　崑崙　膻中　肺俞</p>
<p>數欠而喘：太淵</p>
<p>咳喘隔食：膈俞</p>
<p>喘滿：三間　商陽</p>
<p>肺脹膨膨，氣搶脅下熱滿痛：陰都（灸）　太淵　肺俞</p>
<p>喘息不能行：中脘　期門　上廉</p>
<p>諸虛百損，五勞七傷，失情勞證：肩井　大椎　膏肓　脾俞　胃俞　肺俞　下脘　三里</p>
<p>傳屍骨蒸肺痿：膏肓　肺俞　四花穴</p>
<p>乾嘔：間使（三十壯）　膽俞　通谷　隱白　灸乳下一寸半</p>
<p>噫氣：神門　太淵　少商　勞宮　太谿　陷谷　太白　大敦</p>
<p>痰涎：陰谷　然谷　復溜</p>
<p>結積留飲：膈俞　通谷（灸）</p>

<h1>諸般積聚部</h1>
<p>氣塊冷氣、一切氣痰：氣海</p>
<p>心氣痛連脅：百會　上脘　支溝　大陵　三里</p>
<p>心下如杯：中脘　百會</p>
<p>結氣上喘及伏梁氣：中脘</p>
<p>脅下積氣：期門</p>
<p>血結如杯：關元</p>
<p>奔豚氣：章門　期門　中脘　巨闕　氣海（百壯）</p>
<p>氣逆：尺澤　商丘　太白　三陰交</p>
<p>喘逆：神門　陰陵　崑崙　足臨泣</p>
<p>噫氣上逆：太淵　神門</p>
<p>咳逆：支溝　前谷　大陵　曲泉　三里　陷谷　然谷　行間　臨泣　肺俞</p>
<p>咳逆無所出者：先取三里，後取太白。三里　魚際　太谿　竅陰　肝俞</p>
<p>咳逆振寒：少商　天突（灸三壯）</p>
<p>久病咳：少商　天突（灸三壯）</p>
<p>厥氣衝腹：解谿　天突</p>
<p>短氣：大陵　尺澤</p>
<p>少氣：間使　神門　大陵　少衝　三里　下廉　行間　然谷　至陰　肝俞　氣海</p>
<p>欠氣：通里　內庭</p>
<p>諸積：三里　陰谷　解谿　通谷　上脘　肺俞　膈俞　脾俞　三焦俞</p>
<p>腹中氣塊：塊頭上一穴，針二寸半，灸二七壯；塊中一穴，針一、二寸，灸三七壯；塊尾一穴，針三寸半，灸七壯。</p>
<p>胸腹膨脹氣喘：合谷　三里　期門　乳根</p>
<p>灸哮法：天突　尾竅骨尖</p>
<p>又背上一穴，其法以線一條套頸上，垂下，至鳩尾尖上截斷，牽往後脊骨上，線頭盡處是穴。灸七壯，妙。</p>

<h1>腹痛脹滿部</h1>
<p>腹痛：內關　三里　陰谷　陰陵　復溜　太谿　崑崙　陷谷　行間　太白　中脘　氣海膈俞　脾俞　腎俞</p>
<p>食不下：內關　魚際　三里</p>
<p>小腹急痛不可忍及小腸氣、外腎吊、疝氣、諸氣痛、心痛：灸足大指次指下中節，橫紋當中，灸五壯。男左女右極妙，二足皆灸亦可。</p>
<p>小腹脹痛：氣海</p>
<p>繞臍痛：水分　神闕　氣海</p>
<p>小腹痛：陰市　承山　下廉　復溜　中封　大敦　小海　關元　腎俞（隨年壯）</p>
<p>夾臍痛：上廉</p>
<p>臍痛：曲泉　中封　水分</p>
<p>引腰痛：大中　太白</p>
<p>腹滿：少商　陰市　三里　曲泉　崑崙　商丘　通谷　太白　大都　隱白　陷谷　行間</p>
<p>腹脅滿：陽陵　三里　上廉</p>
<p>心腹脹滿：絕骨　內庭</p>
<p>小腹脹滿痛：中封　然谷　內庭　大敦</p>
<p>腹脹：尺澤　陰市　三里　曲泉　陰谷　陰陵　商丘　公孫　內庭　太谿　太白　厲兌隱白　膈俞　腎俞　中脘　大腸俞</p>
<p>脹而胃痛：膈俞</p>
<p>腹堅大：三里　陰陵　丘墟　解谿　衝陽　期門　水分　神闕　膀胱俞</p>
<p>寒熱堅大：衝陽</p>
<p>臌脹：復溜　中封　公孫　太白　水分　三陰交</p>
<p>腹寒不食：陰陵泉</p>
<p>痰癖腹寒：三陰交</p>
<p>腹鳴寒熱：復溜</p>
<p>胸腹膨脹氣鳴：合谷　三里　期門</p>

<h1>心脾胃部</h1>
<p>心痛：曲澤　間使　內關　大陵　神門　太淵　太谿　通谷　心俞（百壯）　巨闕（七壯）</p>
<p>心痛食不化：中脘</p>
<p>胃脘痛：太淵　魚際　三里　兩乳下各一寸（各三十壯）膈俞　胃俞　腎俞（隨年壯）</p>
<p>心煩：神門　陽谿　魚際　腕骨　少商　解谿　公孫　太白　至陰</p>
<p>煩渴心熱：曲澤</p>
<p>心煩怔忡：魚際</p>
<p>卒心疼不可忍，吐冷酸水：灸足大趾次趾內紋中各一壯，炷如小麥大，立愈。</p>
<p>思慮過多，無心力，忘前失後：灸百會</p>
<p>心風：心俞（灸）　中脘</p>
<p>煩悶：腕骨</p>
<p>虛煩口乾：肺俞</p>
<p>煩怨不臥：太淵　公孫　隱白　肺俞　陰陵泉　三陰交</p>
<p>煩心喜噫：少商　太谿　陷谷</p>
<p>心痹悲恐：神門　大陵　魚際</p>
<p>懈惰：照海</p>
<p>心驚恐：曲澤　天井　靈道　神門　大陵　魚際　二間　液門　少衝　百會　厲兌　通谷　巨闕　章門</p>
<p>嗜臥：百會　天井　三間　二間　太谿　照海　厲兌　肝俞</p>
<p>嗜臥不言：膈俞</p>
<p>不得臥：太淵　公孫　隱白　肺俞　陰陵泉　三陰交</p>
<p>支滿不食：肺俞</p>
<p>振寒不食：衝陽</p>
<p>胃熱不食：下廉</p>
<p>胃脹不食：水分</p>
<p>心恍惚：天井　巨闕　心俞</p>
<p>心喜笑：陽谿　陽谷　神門　大陵　列缺　魚際　勞宮　復溜　肺俞</p>
<p>胃痛：太淵　魚際　三里　腎俞　肺俞　胃俞　兩乳下（灸，一寸，各二十壯）</p>
<p>翻胃：先取下脘　後取三里（瀉）　胃俞　膈俞（百壯）　中脘　脾俞</p>
<p>噎食不下：勞宮　少商　太白　公孫　三里　中魁（在中指第二節尖）　膈俞　心俞　胃俞　三焦俞　中脘　大腸俞</p>
<p>不能食：少商　三里　然谷　膈俞　胃俞　大腸俞</p>
<p>不嗜食：中封　然谷　內庭　厲兌　隱白　陰陵泉　肺俞　脾俞　胃俞　小腸俞</p>
<p>食氣飲食間食臭：百會　少商　三里　灸膻中</p>
<p>食多身疲：脾俞　胃俞</p>
<p>脾寒：三間　中渚　液門　合谷　商丘　三陰交　中封　照海　陷谷　太谿　至陰　腰俞</p>
<p>胃熱：懸鐘</p>
<p>胃寒有痰：膈俞</p>
<p>脾虛腹脹谷不消：三里</p>
<p>脾病溏瀉：三陰交</p>
<p>脾虛不便：商丘</p>
<p>膽虛嘔逆熱上氣：三陰交（三十壯）</p>

<h1>心邪癲狂部</h1>
<p>心邪癲狂：攢竹　尺澤　間使　陽谿</p>
<p>癲狂：曲池　小海　少海　間使　陽谿　陽谷　大陵　合谷　魚際　腕骨　神門　液門衝陽　行間　京骨　肺俞（百壯）</p>
<p>癲癇：攢竹　天井　小海　神門　金門　商丘　行間　通谷　心俞（百壯）　後谿　鬼眼（四穴，在手大指、足大趾內側爪甲角，其艾炷半在爪上、半在肉上，三壯極妙）</p>
<p>癲疾：上星　百會　風池　曲池　尺澤　陽谿　腕骨　解谿　申脈　崑崙　商丘　然谷通谷　承山（針三分速出，灸百壯）</p>
<p>狂言：太淵　陽谿　下廉　崑崙</p>
<p>狂言不樂：大陵</p>
<p>多言：百會</p>
<p>癲狂，言語不擇尊卑：灸唇里中央肉弦上一壯，炷如小麥大。又用鋼刀割斷更佳。</p>
<p>狂言數回顧：陽谷　液門</p>
<p>喜笑：水溝　列缺　陽谿　大陵</p>
<p>喜哭：百會　水溝</p>
<p>目妄視：風府</p>
<p>鬼擊：間使　支溝</p>
<p>鬼邪：間使</p>
<p>仍針後十三穴：第一鬼宮（即人中穴），第二鬼信（手大指爪甲下入三分），第三鬼壘（足大趾爪甲下入肉二分），第四鬼心（即太淵穴入半寸）（未必並針，只五、六穴即可知矣。若是邪蠱之精，便自言說論其由來。往驗有實立得精靈，未必須盡其命求去，與之男從左起針，女從右起針。若數處不言，便通穴針之），第五鬼路（即申脈穴，火針七鋥，二三下），第六鬼枕（大椎上入髮際一寸），第七鬼床（耳前髮際穴），第八鬼市（即承漿穴），第九鬼宮（即勞宮穴），第十鬼堂（即上星，火針七鋥），第十一鬼藏（陰下縫，灸三壯），第十二鬼臣（即曲池，火針），第十三鬼封（舌下一寸縫）。依次而行，針灸並備主之。</p>
<p>見鬼：陽谿</p>
<p>厭夢：商丘</p>
<p>中惡不省：水溝　中脘　氣海</p>
<p>不省人事：三里　大敦</p>
<p>發狂：少海　間使　神門　合谷　後谿　復溜　絲竹空</p>
<p>狐魅神邪迷附癲狂：以兩手兩足大拇指（趾），用繩縛定，艾炷著四處，盡灸一處。灸不到，其疾不愈，灸三壯（即鬼眼穴）。小兒胎癇、奶癇、驚癇亦依此法灸一壯，炷如小麥大。</p>
<p>卒狂：間使　後谿　合谷</p>
<p>狂走：風府　陽谷</p>
<p>瘛瘲指掣：啞門　陽谷　腕骨　帶脈</p>
<p>呆癡：神門　少商　湧泉　心俞</p>
<p>久狂登高而歌，棄衣而走：神門　後谿　衝陽</p>
<p>瘛驚：百會　解谿</p>
<p>暴驚：下廉</p>
<p>癲疾：前谷　後谿　水溝　解谿　金門　申脈</p>

<h1>霍亂部</h1>
<p>霍亂：陰陵　承山　解谿　太白</p>
<p>霍亂嘔吐：支溝</p>
<p>霍亂吐瀉：關衝　支溝　尺澤　三里　太白。先取太谿，後取太倉。</p>
<p>霍亂轉筋：支溝　關衝　陰陵　承山　陽輔　中封　解谿　丘墟　公孫　太白　大都</p>

<h1>瘧疾部</h1>
<p>瘧疾：百會　經渠　前谷</p>
<p>溫瘧：中脘　大椎</p>
<p>痎瘧：腰俞</p>
<p>瘧疾發寒熱：合谷　液門　商陽</p>
<p>痰瘧寒熱：後谿　合谷</p>
<p>瘧疾振寒：上星　丘墟　陷谷</p>
<p>頭痛：腕骨</p>
<p>寒瘧：三間</p>
<p>心煩：神門</p>
<p>寒瘧不食：公孫　內庭　厲兌</p>
<p>久瘧：中渚　商陽　丘墟</p>
<p>熱多寒少：間使　三里</p>
<p>脾寒發瘧：大椎　間使　乳根</p>

<h1>腫脹部</h1>
<p>渾身浮腫：曲池　合谷　三里　內庭　行間　三陰交</p>
<p>水腫：列缺　腕骨　合谷　間使　陽陵　陰谷　三里　曲泉　解谿　陷谷　復溜　公孫　厲兌　衝陽　陰陵　胃俞　水分　神闕</p>
<p>四肢浮腫：曲池　通里　合谷　中渚　液門　三里　三陰交</p>
<p>風浮身腫：解谿</p>
<p>腫，水氣脹滿：復溜　神闕</p>
<p>水脹肋滿：陰陵泉</p>
<p>遍身腫滿食不化：腎俞（百壯）</p>
<p>皼脹：復溜　公孫　中封　太白　水分</p>
<p>消癉：太谿</p>
<p>傷飽身黃：章門</p>
<p>紅癉：百會　曲池　合谷　三里　委中</p>
<p>黃疸：百勞　腕骨　三里　湧良　中脘　膏肓　大陵　勞宮　太谿　中封　然谷　太衝復溜　脾俞</p>

<h1>汗部</h1>
<p>無汗：上星　啞門　風府　風池　支溝　經渠　大陵　陽谷　腕骨　前谷　中渚　液門魚際　合谷　中衝　少商　商陽　大都　委中　陷谷　厲兌　俠谿</p>
<p>汗不出：曲澤　魚際　少澤　上星　曲泉　復溜　崑崙　俠谿　竅陰</p>
<p>自汗：曲池　列缺　少商　崑崙　衝陽　然谷　大敦　湧泉</p>
<p>少汗：先補合谷，次瀉復溜。</p>
<p>多汗：先瀉合谷，次補復溜。</p>

<h1>痹厥部</h1>
<p>風痹：尺澤　陽輔</p>
<p>積癖痰痹：膈俞</p>
<p>寒厥：太淵　液門</p>
<p>痿厥：丘墟</p>
<p>屍厥如死及不知人事：灸厲兌（三壯）</p>
<p>身寒痹：曲池　列缺　環跳　風市　委中　商丘　中封　臨泣</p>
<p>厥逆：陽輔　臨泣　章門。如脈厥，灸間使，或針復溜。</p>
<p>屍厥：列缺　中衝　金門　大都　內庭　厲兌　隱白　大敦</p>
<p>四肢厥：尺澤　小海　支溝　前谷　三里　三陰交　曲泉　照海　太谿　內庭　行間　大都</p>

<h1>腸痔大便部</h1>
<p>腸鳴：三里　陷谷　公孫　太白　章門　三陰交　水分　神闕　胃俞　三焦俞</p>
<p>腸鳴而泄：神闕　水分　三間</p>
<p>食泄：上廉　下廉</p>
<p>暴泄：隱白</p>
<p>洞泄：腎俞</p>
<p>溏泄：太衝　神闕　三陰交</p>
<p>泄不止：神闕</p>
<p>出泄不覺：中脘</p>
<p>痢疾：曲泉　太谿　太衝　丹田　脾俞　小腸俞</p>
<p>便血：承山　復溜　太衝　太白</p>
<p>大便不禁：丹田　大腸俞</p>
<p>大便不通：承山　太谿　照海　太衝　小腸俞　太白　章門　膀胱俞</p>
<p>大便下重：承山　解谿　太白　帶脈</p>
<p>閉塞：照海　太白　章門</p>
<p>瀉泄：曲泉　陰陵　然谷　束骨　隱白　三焦俞　中脘　天樞　脾俞　腎俞　大腸俞</p>
<p>五痔：委中　承山　飛揚　陽輔　復溜　太衝　俠谿　氣海　會陰　長強。</p>
<p>腸風：尾竅骨盡處，灸百壯即愈。</p>
<p>大小便不通：胃脘（灸三百壯）</p>
<p>腸癰痛：太白　陷谷　大腸俞</p>
<p>脫肛：百會　尾竅（七壯）　臍中（隨年壯）</p>
<p>血痔，泄，復腫：承山　復溜</p>
<p>痔疾，骨疽蝕：承山　商丘</p>
<p>久痔：三百（疑「二白」）（在掌後四寸）　承山　長強</p>

<h1>陰疝小便部</h1>
<p>寒疝腹痛：陰市　太谿　肝俞</p>
<p>疝瘕：陰蹺（此二穴在足外踝下陷中。主卒疝、小腹疼痛。左取右，右取左，灸三壯。女人月水不調，亦灸）</p>
<p>卒疝：丘墟　大敦　陰市　照海</p>
<p>痃癖：太谿　三里　陰陵　曲泉　脾俞　三陰交</p>
<p>癲疝：曲泉　中封　太衝　商丘</p>
<p>疝瘕：陰陵　太谿　丘墟　照海</p>
<p>腸癖㿉疝水腸痛：通谷（灸百壯）　束骨　大腸俞</p>
<p>偏墜木腎：歸來　大敦　三陰交</p>
<p>痃癖膀胱小腸：燔針刺五樞　氣海　三里　三陰交　氣門（百壯）</p>
<p>陰痛：太衝　大敦</p>
<p>陰腎偏大，小便數或陰入腹：大敦</p>
<p>陰腫：曲泉　太谿　大敦　腎俞　三陰交</p>
<p>陰莖痛：陰陵　曲泉　陰谷　行間　太衝　三陰交　大敦　太谿　腎俞　中極　陰莖痛，陰汗濕：太谿　魚際　中極　三陰交</p>
<p>腎臟虛冷，日漸羸瘦，勞傷陰疼，凜凜少氣，遺精：腎俞</p>
<p>轉胞不尿，淋瀝：關元</p>
<p>遺精白濁：腎俞　關元　三陰交</p>
<p>夢遺失精：曲泉（百壯）　中封　太衝　至陰　膈俞　脾俞　三陰交</p>
<p>寒熱氣淋：陰陵</p>
<p>淋癃：曲泉　然谷　陰陵　行間　大敦　小腸俞　湧泉　氣門（百壯）</p>
<p>小便黃赤：陰谷　太谿　腎俞　氣海　膀胱俞　關元</p>
<p>小便五色：委中　前谷</p>
<p>小便不禁：承漿　陰陵　委中　太衝　膀胱俞　大敦</p>
<p>小便赤如血：大陵　關元</p>
<p>婦人胞轉不利小便：灸關元（二七壯）</p>
<p>遺溺：神門　魚際　太衝　大敦　關元</p>
<p>陰痿丸騫：陰谷　陰交　然谷　中封　太衝</p>
<p>陰挺出：太衝　少府　照海　曲泉</p>
<p>疝氣偏墜：以小繩量患人口兩角為一，分作三，折成三角，如△樣。以一角安臍心，兩角在臍下，兩旁盡處是穴。患左灸右，患右灸左，二七壯，立愈。二穴俱灸亦可。</p>
<p>膀胱氣攻兩脅臍下，陰腎入腹：灸臍下六寸，兩旁各一寸，炷如小麥大。患左灸右，患右灸左。</p>

<h1>頭面部</h1>
<p>頭痛：百會　上星　風府　風池　攢竹　絲竹空　小海　陽谿　大陵　後谿　合谷　腕骨　中衝　中渚　崑崙　陽陵</p>
<p>頭強痛：頰車　風池　肩井　少海　後谿　前谷</p>
<p>頭偏痛：頭維</p>
<p>腦瀉：腮會　通谷</p>
<p>頭風：上星　前頂　百會　陽谷　合谷　關衝　崑崙　俠谿</p>
<p>腦痛：上星　風池　腦空　天柱　少海</p>
<p>頭風面目赤：通里　解谿</p>
<p>頭風牽引腦頂痛：上星　百會　合谷</p>
<p>偏正頭風：百會　前頂　神庭　上星　絲竹空　風池　合谷　攢竹　頭維</p>
<p>醉後頭風：印堂　攢竹　三里</p>
<p>頭風眩暈：合谷　豐隆　解谿　風池　垂手著兩腿，灸虎口內。</p>
<p>面腫：水溝　上星　攢竹　支溝　間使　中渚　液門　解谿　行間　厲兌　譩譆　天牖　風池</p>
<p>面癢腫：迎香　合谷</p>
<p>頭項俱痛：百會　後頂　合谷</p>
<p>頭風冷淚出：攢竹　合谷</p>
<p>頭痛項強重不能舉，脊反折不能反顧：承漿（先瀉後補）　風府</p>
<p>腦昏目赤：攢竹</p>
<p>面腫項強，鼻生息肉：承漿（三分推上覆下）</p>
<p>頭旋：目窗　百會　申脈　至陰　絡卻</p>
<p>頭腫：上星　前頂　大陵（出血）　公孫</p>
<p>頰腫：頰車</p>
<p>頤頷腫：陽谷　腕骨　前谷　商陽　丘墟　俠谿　手三里</p>
<p>風動如蟲行：迎香</p>
<p>頭項強急：風府</p>
<p>頭目浮腫：目窗　陷谷</p>
<p>眼瞼瞤動：頭維　攢竹</p>
<p>腦風而痛：少海</p>
<p>頭重身熱：腎俞</p>
<p>眉後痛：肝俞</p>
<p>毛髮焦脫：下廉</p>
<p>面浮腫：厲兌</p>
<p>面腫：灸水分</p>
<p>頭目眩疼，皮腫生白屑：灸囟會</p>

<h1>咽喉部</h1>
<p>喉痹：頰車　合谷　少商　尺澤　經渠　陽谿　大陵　二間　前谷</p>
<p>鼓頷：少商</p>
<p>咽中如鯁：間使　三間</p>
<p>咽腫：中渚　太谿</p>
<p>咽外腫：液門</p>
<p>咽痛：風府</p>
<p>咽食不下：灸膻中</p>
<p>咽中閉：曲池　合谷</p>
<p>咽喉腫痛閉塞，水粒不下：合谷　少商　兼以三稜針㓨手大指背，頭節上，甲根下，排㓨三針。</p>
<p>雙蛾：玉液　金津　少商</p>
<p>單蛾：少商　合谷　廉泉</p>
<p>咽喉腫閉甚者：以細三稜針，藏於筆管中，戲言以沒藥點腫痹處，乃刺之。否則病人恐懼，不能愈疾。</p>

<h1>耳目部</h1>
<p>耳鳴：百會　聽會　聽宮　耳門　絡卻　陽谿　陽谷　前谷　後谿　腕骨　中渚　液門商陽　腎俞</p>
<p>耵生瘡有膿汁：耳門　翳風　合谷</p>
<p>重聽無所聞：耳門　風池　俠谿　翳風　聽會　聽宮</p>
<p>目赤：目窗　大陵　合谷　液門　上星　攢竹　絲竹空</p>
<p>目風赤爛：陽谷</p>
<p>赤翳：攢竹　後谿　液門</p>
<p>目赤膚翳：太淵　俠谿　攢竹　風池</p>
<p>目翳膜：合谷　臨泣　角孫　液門　後谿　中渚　睛明</p>
<p>白翳：臨泣　肝俞</p>
<p>睛痛：內庭　上星</p>
<p>冷淚：睛明　臨泣　風池　腕骨</p>
<p>迎風有淚：頭維　睛明　臨泣　風池</p>
<p>目淚出：臨泣　百會　液門　後谿　前谷　肝俞</p>
<p>風生卒生翳膜，兩目疼痛不可忍者：睛明　手中指本節間、尖上，三壯。</p>
<p>青盲無所見：肝俞　商陽（左取右，右取左）</p>
<p>眼睫毛倒：絲竹空</p>
<p>目眥急痛：三間</p>
<p>目昏：頭維　攢竹　睛明　目窗　百會　風府　風池　合谷　肝俞　腎俞　絲竹空</p>
<p>目眩：臨泣　風府　風池　陽谷　中渚　液門　魚際　絲竹空</p>
<p>目痛：陽谿　二間　大陵　三間　前谷　上星</p>
<p>風目眶爛風淚出：頭維　顴髎</p>
<p>眼癢眼疼：光明（瀉）　五會</p>
<p>目生翳：肝俞　命門　瞳子髎（在目外眥五分，得氣乃瀉）　合谷　商陽</p>
<p>小兒雀目，夜不見物：灸手大指甲後一寸內廉，橫紋頭，白肉際各一壯。</p>

<h1>鼻口部</h1>
<p>鼻有息肉：迎香</p>
<p>衄血：風府　曲池　合谷　三間　二間　後谿　前谷　委中　申脈　崑崙　厲兌　上星隱白</p>
<p>鼽衄：風府　二間　迎香</p>
<p>鼻塞：上星　臨泣　百會　前谷　厲兌　合谷　迎香</p>
<p>鼻流清涕：人中　上星　風府</p>
<p>腦瀉鼻中臭涕出：曲差　上星</p>
<p>鼻衄：上星（灸二七壯）　絕骨　囟會</p>
<p>又一法：灸項後兩筋間宛宛中。</p>
<p>久病流涕不禁：百會（灸）</p>
<p>口乾：尺澤　曲澤　大陵　二間　少商　商陽</p>
<p>咽乾：太淵　魚際</p>
<p>消渴：水溝　承漿　金津　玉液　曲池　勞宮　太衝　行間　商丘　然谷　隱白（百日以上者，切不可灸）</p>
<p>唇乾有涎：下廉</p>
<p>舌乾涎出：復溜</p>
<p>唇乾飲不下：三間　少商</p>
<p>唇動如蟲行：水溝</p>
<p>唇腫：迎香</p>
<p>口喎眼喎：頰車　水溝　列缺　太淵　合谷　二間　地倉　絲竹空</p>
<p>口噤：頰車　支溝　外關　列缺　內庭　厲兌</p>
<p>失音不語：間使　支溝　靈道　魚際　合谷　陰谷　復溜　然谷</p>
<p>舌緩：太淵　合谷　衝陽　內庭　崑崙　三陰交　風府</p>
<p>舌強：啞門　少商　魚際　二間　中衝　陰谷　然谷</p>
<p>舌黃：魚際</p>
<p>齒寒：少海</p>
<p>齒痛：商陽</p>
<p>齒齲惡風：合谷　厲兌</p>
<p>齒齲：少海　小海　陽谷　合谷　液門　二間　內庭　厲兌</p>
<p>齦痛：角孫　小海</p>
<p>舌齒腐：承漿　勞宮（各□壯）</p>
<p>牙疼：曲池　少海　陽谷　陽谿　二間　液門　頰車　內庭　呂細（在內踝骨尖上，灸二七壯）</p>
<p>上牙疼：人中　太淵　呂細。灸臂上起肉中五壯。</p>
<p>下牙疼：龍玄（左側腕交叉脈）　承漿　合谷。腕上五寸兩筋中間，灸五壯。</p>
<p>不能嚼物：角孫</p>
<p>牙疳蝕爛生瘡：承漿（炷如小箸頭大，灸七壯）</p>

<h1>胸背脅部</h1>
<p>胸滿：經渠　陽谿　後谿　三間　間使　陽陵　三里　曲泉　足臨泣</p>
<p>胸痹：太淵</p>
<p>胸膊悶：肩井</p>
<p>胸脅痛：天井　支溝　間使　大陵　三里　太白　丘墟　陽輔</p>
<p>胸中澹澹：間使</p>
<p>胸滿支腫：內關　膈俞</p>
<p>胸脅滿引腹：下廉　丘墟　俠谿　腎俞</p>
<p>胸煩：期門</p>
<p>胸中寒：膻中</p>
<p>肩背痠疼：風門　肩井　中渚　支溝　後谿　腕骨　委中</p>
<p>心胸痛：曲澤　內關　大陵</p>
<p>胸滿血膨有積塊，霍亂，腸鳴，善噫：三里　期門（向外刺二寸，不補不瀉）</p>
<p>脅滿：章門</p>
<p>脅痛：陽谷　腕骨　支溝　膈俞　申脈</p>
<p>缺盆腫：足臨泣　太淵　商陽</p>
<p>脅與脊引：肝俞</p>
<p>背膊項急：大椎</p>
<p>腰背強直不能轉側：腰俞　肺俞</p>
<p>腰脊痛楚：委中　復溜</p>
<p>腰背傴僂：風池　肺俞</p>
<p>背拘急：經渠</p>
<p>肩背相引：二間　商陽　委中　崑崙</p>
<p>偏脅背痛痹：魚際　委中</p>
<p>背痛：經渠　丘墟　魚際　崑崙　京骨</p>
<p>脊膂強痛：委中</p>
<p>腰背俱疼難轉：天牖　風池　合谷　崑崙</p>
<p>脊內牽疼不能屈伸：合谷　復溜　崑崙</p>
<p>脊強渾身痛不能轉側：啞門</p>
<p>胸連脅痛：期門（先針）　章門　丘墟　行間　湧泉　肩痹痛：肩髃　天井　曲池　陽谷　關衝</p>

<h1>手足腰腋部</h1>
<p>手臂痛不能舉：曲池　尺澤　肩髃　三里　少海　太淵　陽池　陽谿　陽谷　前谷　合谷　液門　外關　腕骨</p>
<p>臂寒：尺澤　神門</p>
<p>臂內廉痛：太淵</p>
<p>臂腕側痛：陽谷</p>
<p>手腕動搖：曲澤</p>
<p>腋痛：少海　間使　少府　陽輔　丘墟　足臨泣　申脈</p>
<p>腕勞：天井　曲池　太淵　腕骨　列缺　液門</p>
<p>手腕無力：列缺</p>
<p>肘臂痛：肩髃　曲池　通里　手三里</p>
<p>肘攣：尺澤　肩髃　小海　間使　大陵　後谿　魚際</p>
<p>肩臂酸重：支溝</p>
<p>肘臂手指不能屈：曲池　三里　外關　中渚</p>
<p>手臂麻木不仁：天井　曲池　外關　經渠　支溝　陽谿　腕骨　上廉　合谷</p>
<p>手臂冷痛：肩井　曲池　下廉</p>
<p>手指拘攣筋緊：曲池　陽谷　合谷</p>
<p>手熱：曲池　曲澤　內關　列缺　經渠　太淵　中衝　少衝　勞宮</p>
<p>手臂紅腫：曲池　通里　中渚　合谷　手三里　液門</p>
<p>兩手拘攣，偏風，隱疹，喉痹，胸脅填滿，筋緩，手臂無力，皮膚枯燥：曲池（先瀉後補）　肩髃　手三里</p>
<p>風痹肘攣不舉：尺澤　曲池　合谷</p>
<p>肩膊煩疼：肩髃　肩井　曲池</p>
<p>五指皆疼：外關</p>
<p>手攣指痛：少商</p>
<p>掌中熱：列缺　經渠　太淵</p>
<p>腋肘腫：尺澤　小海　間使　大陵</p>
<p>腋下腫：陽輔　丘墟　臨泣</p>
<p>腰痛：肩井　環跳　陰市　三里　委中　承山　陽輔　崑崙</p>
<p>腰痛難動；風市　委中　行間</p>
<p>腰腿如水：陰市</p>
<p>挫閃腰疼，脅肋痛：尺澤　曲池　合谷　手三里　陰陵　陰交　行間　足三里</p>
<p>腰脊強痛：腰俞　委中　湧泉　小腸俞　胱膀俞</p>
<p>腰腳痛：環跳　風市　陰市　委中　承山　崑崙　申脈</p>
<p>腿膝痠疼：環跳　陽陵　丘墟</p>
<p>股膝內痛：委中　足三里　三陰交</p>
<p>腳膝痛：委中　三里　曲泉　陽陵　風市　崑崙　解谿</p>
<p>膝胻股腫：委中　三里　陽輔　解谿　承山</p>
<p>腰如坐水：陽輔</p>
<p>足痿不收：復溜</p>
<p>風痹，腳胻麻木：環跳　風市</p>
<p>足麻痹：環跳　陰陵　陽陵　陽輔　太谿　至陰</p>
<p>腳氣：肩井　膝眼　風市　足三里　承山　太衝　丘墟　行間</p>
<p>髀樞痛：環跳　陽陵　丘墟</p>
<p>足寒熱：三里　委中　陽陵　復溜　然谷　行間　中封　大都　隱白</p>
<p>腳腫：承山　崑崙　然谷　委中　下廉　寬骨　風市</p>
<p>足寒如水：腎俞</p>
<p>渾身戰抖，胻酸：承山　金門</p>
<p>足胻寒：復溜　申脈　厲兌</p>
<p>足攣：腎俞　陽陵　陽輔　絕骨</p>
<p>諸節皆痛：陽輔</p>
<p>腨腫：承山　崑崙</p>
<p>足緩：陽陵　衝陽　太衝　丘墟</p>
<p>腳弱：委中　足三里　承山</p>
<p>兩膝紅腫痛：膝關　委中　三里　陰市</p>
<p>足不能行：三里　曲泉　委中　陽輔　三陰交　復溜　衝陽　然谷　申脈　行間　脾俞</p>
<p>穿跟草鞋風：崑崙　丘墟　商丘　照海</p>
<p>腳筋短急，足沉重，鶴膝，歷節風腫，惡風發不能起床：風池</p>
<p>腳腕疼：委中　崑崙</p>
<p>足心疼：崑崙</p>
<p>腰痛不能久立，腿膝脛酸重及四肢不舉：跗陽</p>
<p>腰重痛不可忍，及轉側起臥不便，冷痹腳筋攣急不得屈伸：灸兩腳曲⿱秋月兩紋頭四處，各三壯，一同灸，用兩人兩邊同吹至火滅。若午時灸了至晚或臟腑鳴，或行一、二次，其疾立愈。</p>
<p>腰痛不能舉：僕參（二穴在跟骨下陷中，拱足取之。灸三壯）</p>
<p>膝以上病：灸環跳　風市</p>
<p>膝以下病：灸犢鼻　膝關　三里　陽陵</p>
<p>足踝以上病：灸三陰交　絕骨　崑崙</p>
<p>足踝以下病：灸照海　申脈</p>
<p>腿痛：寬骨</p>
<p>氣腳：一風市（百壯或五十壯）　二伏兔（針三分，禁灸）　三犢鼻（五十壯）　四膝眼　五三里（百壯）　六上廉　七下廉（百壯）　八絕骨</p>
<p>腳轉筋，發時不可忍者：腳踝上（一壯）　內筋急，灸內；外筋急，灸外。</p>
<p>腳轉筋，多年不愈，諸藥不效者：灸承山（二七壯）</p>

<h1>婦人部</h1>
<p>月脈不調：氣海　中極　帶脈（一壯）　三陰交　腎俞</p>
<p>月事不利：足臨泣　三陰交　中極</p>
<p>過時不止：隱白</p>
<p>下經若冷，來無定時：關元</p>
<p>婦人漏下不止：太衝　三陰交</p>
<p>血崩：氣海　大敦　陰谷　太衝　然谷　三陰交　中極</p>
<p>瘕聚：關元</p>
<p>赤白帶下：帶脈　關元　氣海　三陰交　白環俞（壯）　間使（三十壯）</p>
<p>小腹堅：帶脈</p>
<p>絕子：商丘　中極</p>
<p>因產惡露不止：氣海　關元</p>
<p>產後諸病：期門</p>
<p>乳癰：下廉　三里　俠谿　魚際　委中　足臨泣　少澤</p>
<p>乳腫痛：足臨泣</p>
<p>難產：合谷（補）　三陰交（瀉）　太衝</p>
<p>橫生死胎：太衝　合谷　三陰交</p>
<p>橫生手先出：右足小趾尖（三壯）　立產，炷如小麥大。</p>
<p>子上逼心，氣悶欲絕：巨闕　合谷（補）　三陰交（瀉）如子手掬母心，生下男左女右手心有針痕，可驗。不然，在人中或腦後有針痕。</p>
<p>產後血暈不識人：支溝　足三里　三陰交</p>
<p>墜胎後手足如水，厥逆：肩井（針五分）　若又見悶亂，急針三里。</p>
<p>胎衣不下：中極　肩井</p>
<p>陰挺出：曲泉　照海　大敦</p>
<p>無乳：膻中（灸）　少澤（補此二穴神效）</p>
<p>血塊：曲泉　復溜　足三里　氣海　丹田　三陰交</p>
<p>婦人經事正行，與男子交，日漸羸瘦，寒熱往來，經血相競：百勞　腎俞　風門　中極氣海　三陰交。若以前證作虛勞治者，非也。</p>
<p>女子月事不來，面黃，乾嘔　妊娠不成：曲池　支溝　三里　三陰交</p>
<p>經脈過多：通里　行間　三陰交</p>
<p>無時漏下：三陰交</p>
<p>欲斷產：右足內踝上一寸。又一法，灸臍下二寸三分，三壯。</p>
<p>一切冷憊：灸關元</p>
<p>月水不調，因結成塊：針間使</p>

<h1>小兒部</h1>
<p>大小五癇：水溝　百會　神門　金門　崑崙　巨闕</p>
<p>驚風：腕骨</p>
<p>瘛瘲五指掣：陽谷　腕骨　崑崙</p>
<p>搖頭，張口，反折：金門</p>
<p>風癇，目帶上：百會　崑崙　絲竹空</p>
<p>脫肛：百會　長強</p>
<p>卒疝：太衝</p>
<p>角弓反張：百會</p>
<p>瀉痢：神厥</p>
<p>赤遊風：百會　委中</p>
<p>秋深冷痢：灸臍下二寸及三寸動脈中。</p>
<p>吐乳：灸中庭（在膻中下六分）</p>
<p>卒癇及豬癇：巨闕（灸三壯）</p>
<p>口有瘡蝕斷臭穢氣衝人：勞宮（二穴，各一壯）</p>
<p>卒患腹痛，肚皮青黑：灸臍四邊（各半寸，三壯）　鳩尾骨下一寸（三壯）</p>
<p>驚癇：頂上旋毛中（灸二壯）　耳後青絡（三壯，炷如小麥大）</p>
<p>風癇，手指屈如數物者：鼻上髮際宛宛中（灸三壯）</p>
<p>二、三歲兩目眥赤：大指、次指間後一寸五分（灸三壯）</p>
<p>囟門不合：臍上、臍下各五分，二穴各三壯（灸瘡未發，囟門先合）</p>
<p>夜啼：百會（三壯）</p>
<p>腎脹偏墜：關元（灸三七壯）　大敦（七壯）</p>
<p>豬癇如屍闕吐沫：巨闕（三壯）</p>
<p>食癇，先寒熱灑淅乃發：鳩尾上五分（灸三壯）</p>
<p>羊癇：九椎下節間（灸三壯）。又法：大椎上（三壯）</p>
<p>牛癇：鳩尾（三壯）。又法：鳩尾　大椎（各三壯）</p>
<p>馬癇：僕參（二穴各三壯）。又法：風府　臍中（各三壯）</p>
<p>犬癇：兩手心　足太陽　肋戶（各灸一壯）</p>
<p>雞癇：足諸陽（各三壯）</p>
<p>疳蝕爛：承漿（針、灸皆可）</p>

<h1>瘡毒部</h1>
<p>治癰疽瘡毒，騎竹馬灸法：用薄篦量患人手上尺澤穴，橫紋比起，循肉至中指尖止，截斷。外用竹槓一條，以竹槓兩頭置凳上，令患人去衣，騎竹槓以足微點地。以先比篦安槓上，豎篦，循背直上，篦盡處以墨點記。只是取中，非灸穴也。更以薄篦量手中指節兩橫紋為一寸，將篦於所點墨上兩旁各量一寸是穴。各灸五壯或七壯止，不可多灸。此法灸之，無不愈者。蓋此二穴，心脈所過，凡癰疽之疾，皆心氣留滯，故生此毒，灸此則心脈流通，即時安愈，可以起死回生，有非常效。</p>
<p>熱風隱疹：肩髃　曲池　曲澤　環跳　合谷　湧泉</p>
<p>瘰癧：少海（先推針皮上三十六息，推針入內，追核大小，勿出核，三十三下乃出針）天池　章門　臨泣　支溝　陽輔（百壯）　手三里　肩井（隨年壯）</p>
<p>疥癬瘡：曲池　支溝　陽谿　陽谷　大陵　合谷　後谿委中　三里　陽輔　崑崙　行間　三陰交　百蟲窠（即膝眼）</p>
<p>瘍腫振寒：少海</p>
<p>腋腫馬□瘍：陽輔　太衝　足臨泣</p>
<p>癰疽發背：肩井　委中（以蒜片貼瘡上，灸。如不疼，灸至疼；疼，灸至不疼，愈多愈好）</p>
<p>疔瘡：生面上口角，灸合谷；生手上，灸曲池；生背上，灸肩井、三里、委中、行間、通里、小海、太衝、臨泣。</p>
<p>遍身生疥癩：曲池　合谷　三里　絕骨　膝眼（灸二七壯）</p>

<h1>雜病部</h1>
<p>人脈微細不見或時無者：以圓利針刺足少陰經復溜穴，針至骨，順針往下刺之，候回陽脈生，方可出針。</p>
<p>蠍蜇、蛇、犬、蜈蚣傷，痛不可忍者：各詳其經絡部分逆順戚氣刺之。蓋逆順戚氣者，使其毒氣隨經直瀉，不欲呼吸，使毒氣行經也。用針咒曰：天靈朗榮，願保長生，太玄之一，守其真形，五臟神君，各保安寧，神針一下，萬毒潛形，急急如律，令攝九針。默唸咒一遍，吹氣在針上，想針如火龍，便從病人心腹中出其病，速愈。</p>
<p>溺水死，經宿可救：即解死人衣帶，灸臍中。</p>
<p>狂犬傷人：灸咬處瘡上。</p>
<p>蛇傷：灸傷處三壯，仍以蒜片貼咬處，灸蒜上。</p>

<h1>逐日人神所在</h1>
<p>一日在足大趾厥陰分，刺之，跗腫。</p>
<p>二日在足外踝少陽分，刺之，筋經緩。</p>
<p>三日在股內少陰分，刺之，小腹痛。</p>
<p>四日在腰太陽分，刺之，腰僂無力。</p>
<p>五日在口太陰分，刺灸之，舌強。</p>
<p>六日在手陽明分，刺之，咽喉不利。</p>
<p>七日在內踝少陰分，刺灸之，陰經筋急。</p>
<p>八日在手腕太陽分，刺灸之，腕不收。</p>
<p>九日在尻厥陰分，刺灸之，病急。</p>
<p>十日在腰背太陰分，刺灸之，腰背傴僂。</p>
<p>十一日在鼻柱陽明分，刺灸之，齒面腫。</p>
<p>十二日在髮際少陽分，刺灸之，令人重聽。</p>
<p>十三日在牙齒少陰分，刺灸之，氣寒。</p>
<p>十四日在胃脘陽明分，刺之，氣腫。</p>
<p>十五日在遍身，不宜補瀉，針灸大忌。</p>
<p>十六日在胸太陰分，刺之，逆息。</p>
<p>十七日在氣衝陽明分，刺之，難息。</p>
<p>十八日在股內少陰分，刺之，引陰氣痛。</p>
<p>十九日在足跗陽明分，灸之。</p>
<p>二十日在內踝少陰分，刺之，經筋攣。</p>
<p>二十一日在手小指太陽分，刺之，手不仁。</p>
<p>二十二日在足外踝少陽分，刺之，經筋緩。</p>
<p>二十三日在腰及足厥陰分，刺之，發轉筋。</p>
<p>二十四日在手陽明分，刺之，咽喉中不利。</p>
<p>二十五日在足陽明分，刺之，胃氣脹。</p>
<p>二十六日在胸太陰分，刺灸之，喘咳。</p>
<p>二十七日在膝陽明分，刺之，足經厥逆。</p>
<p>二十八日在陰少陰分，刺之，小腹急痛。</p>
<p>二十九日在膝脛厥陰分，刺之，筋痿無力。</p>
<p>三十日在足跗上陽明分，刺之，有傷胃氣。</p>
<p>考之砭足焫一科，雖有《資生經》、《針灸四書》，其間浩翰廣漠，不能窺其要妙，獨宏綱陳先生得梓桑君家傳之秘，乃篡其備要，編為是書，以便後學。今重校正，定其詳略，尤為切要，使天下後世咸躋於仁壽之域也。</p>
