<header data-type="book">
<h1>難經本義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>滑壽</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1361">公元1361年</data></dd></div>
<div><dt>底本</dt><dd>日本寛永10年刊本（<a href="https://rmda.kulib.kyoto-u.ac.jp/item/rb00022829">京都大學掃描本</a>）；《欽定四庫全書·子部五·醫家類·難經本義》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0004/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>《素問》、《靈樞》，醫之大經大法在焉，後世諸方書皆本於此，然其言簡古淵涵，未易通曉，故秦越人發為《八十一難》，所以推明其義也。然越人去古未遠，其言亦深，一文一字，意周旨密，故為之註釋者，亦數十家。但各以臆見，而卒無歸之一論。或得此而失彼，或舉前而遺後，非惟自誤，又以誤人。識者病焉。許昌滑君伯仁，篤實詳敏，博極群書，工於醫者三十四年，起廢愈痼，不可勝紀。遂晝惟夕思，旁推遠索，作《難經本義》二卷，析其精微，探其隱賾，鉤其玄要，疑者辨之，誤者正之，諸家之善者取之。於是《難經》之書，辭達理明，條分縷解，而《素問》、《靈樞》之奧，亦由是而得矣。夫人之生死繫於醫，醫之本原出於經，經之旨不明，其害可勝言哉！然則伯仁之功，豈小補者耶！</p>
<p>至正二十六年二月工部郎中揭汯序</p>

<h1>序</h1>
<p>醫之為道聖矣！自神農氏，凡草木金石，可濟夫夭死札瘥，悉列諸經。而《八十一難》，自秦越人推本軒、岐、鬼臾區之書，發難析疑，論辨精詣，鬼神無遁情，為萬世法，其道與天地並立，功豈小補也哉。且夫人以七尺之軀，五臟百骸受病，六氣之診，乃繫於三指點按之下，一呼一吸之間，無有形影。特切其洪、細、濡、伏若一發，苟或謬誤，則脈生而藥死之矣！而可輕以譚醫，而可易以習醫邪？寓鄞滑伯仁，故家許，許去東垣近，蚤為李氏之學，遂名於醫。予雅聞之，未識也。今年秋來，遺所撰《難經本義》，閱之使人起敬。有是哉，君之精意於醫也。條釋圖陳，脈絡尺寸，部候虛實，簡而通，決而明。予雖未嘗學，而思亦周半矣。嗚呼！醫之道，生道也。道行則生意充宇宙，澤流無窮，人以壽死，是則往聖之心也。世之學者，能各置一通於側，而深求力討之，不為良醫也者幾希。嗚呼！越人我師也，伯仁不為我而刊諸梓，與天下之人共之，是則伯仁之心也，故舉其大指為序。</p>
<p>至正二十五年龍集甲辰十月既望翰林學士承旨榮祿大夫知制誥兼修國史張翥序</p>

<h1>序</h1>
<p>粵自神農咀百藥，而寒溫辛酸甘苦品制之宜，君臣佐使之用，具諸本草，治藥者於焉依據。曰黃帝作《素問》、《內經》，凡受病根源俞府，皆切脈而知。故秦越人因之，設為八十一難問答，究竟精微，盡醫師之道焉。世之醫者，率熟診而察腓，而審證而治藥。若《難經》一書，誠大本領，苟不由《難經》而出，其亦庸醫乎？余觀注本草者，若今東陽朱彥修氏所著，已無餘蘊。而解《難經》者，不知其幾家，求諸精詣，十無一二。許昌滑君伯仁甫，挾岐黃之術，學仿於東垣李先生，精於診而審於劑者也，愈疴起痼，活人居多。余坐足疾，人人治而弗痊。有言伯仁善治法，余致之，聽其議論，皆自《難經》而來，迥異於世之言醫者。豈異哉，究理義之精微，眾人固弗識也。因出示所述《難經本義》二卷，發前人所未發之旨，首列諸圖，後疏本義。蓋其儒者積學二十餘年，凡醫之書，無不參考，而折衷己意，各條問答之下。於戲！其用心亦仁矣。得之者可以趨黃帝、岐伯之庭，而問崆峒壽域也。雖然，吾聞之望而知其病者謂之神，聞而知者謂之聖，又問而知者謂之工，至於診脈淺深，呼吸至數，而後能療治者，得巧之道焉。神聖工詎得見矣，今所求者巧耳。於巧之中，又不可以言語文字傳者，若扁之起虢，緩之視膏肓。於《難經》乎何有？然與否也，吾其審於伯仁甫云。</p>
<p>至正二十有一年重光赤奮若之歲臘月既望奉直大夫溫州路總管管內勸農兼防禦事天台劉仁本敘</p>

<h1>凡例</h1>
<p>《難經》正文，周仲立、李子野輩擅加筆削，今並不從。</p>
<p>紀齊卿於經中，盛字多改作甚字，豈國諱或家諱有所避耶？蓋昧於臨文不諱之義也，今不從。</p>
<p>經中錯簡、衍文，辯見各篇之下，仍為缺誤總類，以見其概。</p>
<p>《八十一難經》，隋、唐書經籍、藝文志俱云二卷。後人或釐而為三，或分而為五。今仍為二卷，以復書志之舊。揚玄操復為十三類以統之，今亦不從。說見後匯考中。</p>
<p>《本義》中引諸書者，具諸書之名。引諸家者，具諸家之名。其無所引，具及愚按、愚謂者，則區區之臆見也。其設為或問，亦同。</p>
<p>《本義》引諸家之說，有以文義相須為先後者，有以論說高下為先後者。無是二者，則以說者之世次為先後云。</p>
<p>《難經》八十一篇，蓋越人取《內經》、《靈樞》之言，設為問答。前此注家，皆不考所出，今並一一考之。其無可考者，於七難內發其例。</p>

<h1>闕誤總類</h1>
<p>七難三陰三陽次第，《脈經》與此不同。《脈經》於三陽則少陽、太陽、陽明，三陰則少陰、大陰、厥陰。</p>
<p>十二難，馮氏謂此篇合入用針補寫之類，當在六十難之後，以類相從也。</p>
<p>十四難「反此者至於收病也」，當作「至脈之病也」，「於收」二字誤。</p>
<p>十六難問三部九候以下共六件，而篇中並不答所問，似有缺誤。</p>
<p>十七難所問者三，所答者一，疑有缺漏。</p>
<p>十八難第三節，謝氏謂當是十六難中答辭。第四節，或謂當是十七難中或連年月不已答辭。</p>
<p>二十難「重陽者狂，重陰者癲，脫陽者見鬼，脫陰者目盲」，當是五十九難結句之文，錯簡在此。</p>
<p>二十一難，謝氏曰：按本經所，答辭意不屬，似有脫誤。</p>
<p>二十三難，經云明知終始云云一節，謝氏謂合在下篇之前，不必然也。只參看。</p>
<p>二十八難「溢畜不能環流灌溉諸經者也」十二字，當在「十二經亦不能拘之」之下。「其受邪氣，畜則腫熱，砭射之也」十二字，謝氏直以為衍文。或云當在三十七難「關格不得盡其命而死矣」之下，因邪在六腑而言也。</p>
<p>二十九難「陽維為病，苦寒熱；陰維為病，苦心痛」諸本皆在「腰溶溶若坐水中」下，謝氏移置「溶溶不能自收持」下，文理順從，必有所考而然，今從之。</p>
<p>三十一難「其府在氣街」一句，疑錯簡，或衍文。三焦自屬諸府，與手心主配各有所，不應又有府也。</p>
<p>四十八難診之虛實下，「濡者為虛，牢者為實」八字，《脈經》無之，謝氏以為衍文，楊氏謂按之皮肉柔濡為虛，牢強者為實，然則有亦無害。</p>
<p>四十九難第五節，「虛為不欲食，實為欲食」二句，於上下文無所關，疑錯簡或衍。</p>
<p>六十難「其真心痛者」，「真」字下當有一「頭」字，蓋總結上兩節也。</p>
<p>六十九難「當先補之，然後寫之」八字，疑衍。</p>
<p>七十四難篇中，文義似有缺誤，今且依此解之，俟後之知者。</p>
<p>七十五難「金不得平木」，「不」字疑衍，詳見本篇。</p>
<p>八十一難「是病」二字，非誤即衍。</p>
<p>閥誤總類畢</p>

<h1>難經匯考</h1>
<p>《史記》越人傳載趙簡子、虢太子、齊桓侯三疾之治，而無著《難經》之說。《隋書·經籍志》、《唐書·藝文志》俱有秦越人《黃帝八十一難經》二卷之目。又唐諸王侍讀張寧節作《史記正義》，於扁鵲倉公傳，則全引《難經》文以釋其義。傳後全載四十二難，與第一難、二十七難全文。由此則知古傳以為秦越人所作者，不誣也。詳其設問之辭稱經言者，出於《素問》、《靈樞》二經之文，在《靈樞》者尤多，亦有二經無所見者，豈越人別有摭於古經，或自設為問答也那。邵庵虞先生嘗曰：《史記》不載越人著《難經》，而隋、唐書經籍、藝文志，定著越人《難經》之目；作《史記正義》者，直載《難經》數章，愚意以為古人因經設難，或與門人弟子問答，偶得此八十一章耳。未必經之當難者止此八十一條。難由經發，不特立言。且古人不求託名於書，故傳之者唯專門名家而已，其後流傳寢廣，官府得以錄而著其目，注家得以引而成文耳。</p>
<p>圭齊歐陽公曰：切脈於手之寸口，其法自秦越人始，蓋為醫者之祖也。《難經》先秦古文，漢以來答客難等作，皆出其後。又文字相質，難之祖也。</p>
<p>楊玄操序謂黃帝有《內經》二帙，其義幽賾，殆難究覽。越人乃採摘二部經內精要，凡八十一章，伸演其道，名《八十一難經》，以其理趣深遠，非卒易了故也。</p>
<p>紀天錫云：秦越人將《黃帝素問》疑難之義八十一篇重而明之，故曰《八十一難經》。</p>
<p>宋治平間，京兆黎泰辰序虞庶《難經注》云：世傳《黃帝八十一難經》，謂之難者，得非以人之五臟六腑隱於內，為邪所幹，不可測知，唯以脈理究其彷彿邪？若脈有重十二菽者，又有如按車蓋，而若循雞羽者，復考內外之症以參校之，不其難乎！按歐、虞說，則難字當為去聲，余皆奴丹切。</p>
<p>丁德用《補註》題云：《難經》歷代傳之一人。至魏華佗，乃燼其文於獄下。於晉宋之間，雖有仲景、叔和之書，然各示其文，而濫觴其說。及吳太醫令呂廣，重編此經，而尚文義差迭。按此則《難經》為燼餘之文，其編次復重經呂廣之手，固不能無缺失也。</p>
<p>謝氏謂：《難經》王宗正《注義》圖解，大概以診脈之法，心肺俱浮，腎肝俱沉，脾在中州為正而已。至於他注家，所引寸關尺而分兩手部位，及五臟六腑之脈，並時分見於尺寸，皆以為王氏《脈經》之非。殊不知脈之所以分兩手者，出於《素問·脈要精微論》。其文甚明，越人復推明之。於十難中言一脈變為十，以五臟六腑相配而言，非始於叔和也。且三部之說有二：一則四難所謂心肺俱浮，腎肝俱沉，脾者中州，與第五難菽法輕重同，而三部之中，又各自分上中下云；一則脈要精微論之五臟部位，即二難之分寸關尺，十難之一脈變為十者也。若止以心肺俱浮，腎肝俱沉，脾為中州一法言之，則亦不必分寸關尺。而十難所謂一脈十變者，何從而推之？</p>
<p>蘄水龐安常有《難經解》數萬言，惜乎無傳。</p>
<p>諸家經解，馮氏、丁氏傷於鑿，虞氏傷於巧，李氏、周氏傷於任，王、呂晦而舛，楊氏、紀氏大醇而小疵。唯近世謝氏說，殊有理致源委。及袁氏者，古益人，著《難經本旨》，佳處甚多。然其因襲處，未免踵前人之非，且失之冗爾。</p>
<p>潔古氏《藥注》，疑其草稿，姑立章指義例，未及成書也。今所見者，往往言論於經不相涉，且無文理。潔古平日著述極醇正，此絕不相似。不知何自遂乃板行，反為先生之累。豈好事者為之，而托為先生之名邪？要之，後來東垣、海藏、羅謙甫輩，皆不及見，若見，必當與足成其說。不然，亦迴護之，不使輕易流傳也。</p>
<p>《難經》八十一篇，辭若甚簡，然而榮衛度數，尺寸位置，陰陽王相，臟腑內外，脈法病能，與夫經絡流注，針刺俞穴，莫不該盡。昔人有以十三類統之者，於乎！此經之義，大無不包，細無不舉，十三類果足以盡之與？八十一篇果不出於十三類與？學者求之篇章之間，則其義自見矣。此書固有類例也。但當如《大學》朱子分章，以見記者之意則可，不當以己之立類，統經之篇章也。今觀一難至二十一難，皆言脈。二十二難至二十九難，言經絡流注始終，長短度數，奇經之行，及病之吉凶也。其間有云脈者，非謂尺寸之脈，乃經絡之脈也。三十難至四十二難，言榮衛、三焦、臟腑、腸胃之詳。四十四、五難，言七衝門，乃人身資生之用，八會為熱病在內之氣穴也。四十六、七難，言老幼寤寐，以明氣血盛衰，言人面耐寒，以見陰陽之走會。四十八難至六十一難，言診候病能，臟腑積聚、泄利，傷寒、雜病之別，而繼之以望聞問切，醫之能事畢矣。六十二難至八十一難，言臟腑滎俞，用針補瀉之法，又全體之學所不可無者。此記者以類相從，始終之意備矣。</p>
<p>十一難云：肝有兩葉。四十一難云：肝左三葉，右葉四，凡七葉。言兩葉者，舉其大。言七葉，盡其詳。左三右四，亦自相陰陽之義。肝屬木，木為少陽，故其數七。肺屬金，金為少陰，故六葉兩耳，其數八。心色赤而中虛，離之象也。脾形象馬蹄而居中，土之義也。腎有兩枚，習坎之謂也。此五臟配合陰陽，皆天地自然之理，非人之所能為者。若馬之無膽，兔之無脾，物固不得其全矣。周子云木陽稚，金陰稚是也。</p>
<p>東坡先生《楞伽經》跋云：如醫之有《難經》，句句皆理，字字皆法。後世達者，神而明之，如盤走珠，如珠走盤，無不可者。若出新意而棄舊學，以為無用，非愚無知，則狂而已。譬如俚俗醫師，不由經論，直授藥方，以之療病，非不或中；至於遇病輒應，懸斷死生，則與知經學古者，不可同日語矣。世人徒見其有一至之功，或捷於古人，因謂《難經》不學而可，豈不誤哉！</p>
<p>晦庵先生跋郭長陽醫書云：予嘗謂古人之於脈，其察之固非一道矣。然今世通行，惟寸關尺之法為最要，且其說具於《難經》之首篇，則亦非不俚俗說也。故郭公此書，備載其語，而並取丁德用密排三指之法以釋之。夫《難經》則至矣！至於德用之法，則予竊意診者之指有肥瘠，病者之臂有長短，以是相求，或未得為定論也。蓋嘗細考經之所以分尺寸者，皆自關而前卻，以距手魚際、尺澤。是則所謂關者，必有一定之處，亦若魚際、尺澤之可以外見而先識也。然今諸書，皆無的然之論。惟《千金》以為寸口之處，其骨自高，而關尺皆由是而卻取焉。則其言之先後，位之進退，若與經文不合，獨俗間所傳《脈訣》五七言韻語者，詞最鄙淺，非叔和本書明甚；乃能直指高骨為關，而分其前後，以為尺寸陰陽之位，似得《難經》本旨。然世之高醫以其贗也，遂委棄而羞言之。予非精於道者，不能有以正也。姑附見其說於此，以俟明者而折中焉。</p>
<p>廬陵謝堅白曰：泰定四年丁卯，愚教授龍興，建言憲司。請刻叔和《脈經》本書十卷。時儒學提舉東陽柳公道傳序其端曰：朱文公云：俗傳《脈訣》，辭最鄙淺，而取其直指高骨為關之說，為合於《難經》。雖文公亦似未知其正出《脈經》，正謂此跋也。然文公雖未見《脈經》，而其言與《脈經》吻合。《脈訣》雖非叔和書，其人亦必知讀《脈經》者。但不當自立七表八里九道之目，遂與《脈經》所載二十四種脈之名義，大有牴牾，致使後人疑焉。</p>
<p>項氏《家說》曰：凡經絡之所出為井，所留為滎，所注為腧，所過為原，所行為經，所入為合。井象水之泉，滎象水之陂，腧象水之竇（竇即窬字也），經象水之流，合象水之歸，皆取水之義也。下同</p>
<p>藏五而府六，藏穴五而府穴六，猶干五而支六，聲五而律六，皆陰陽之數，自然之理。雖增手厥陰一臟，其實心之包絡，不異於心，即一臟而二經也。經之必為十二，猶十二支、十二辰、十二月、十二律，不可使為十一，亦自然之理也。寅卯為木，巳午為火，申酉為金，亥子為水，四行皆二支耳，而土行獨當辰戌丑未四支，以成十二。肺肝脾腎四臟皆二經，而心與包絡共當四經，以成十二。此豈人之所能為哉？</p>
<figure>
<img alt="難經圖">
</figure>
<figure>
<img alt="色脈相勝相生圖">
</figure>
<figure>
<img alt="五行子母相生圖">
</figure>
<figure>
<img alt="臟腑陰陽寒熱圖">
</figure>
<p>右寸手太陰陽明金，生左尺足太陽少陰水。太陽少陰水，生左關足厥陰少陽木。厥陰少陽木，生左寸手太陽少陰火。太陽少陰火，通右尺手心主少陽火。手心主少陽火，生右關足太陰陽明土。足太陰陽明土，復生右寸手太陰陽明金。此皆五行子母更相生養者也。</p>
<figure>
<img alt="男女生於寅申圖">
</figure>
<p>虞氏曰：經言：男子生於寅，女子生於申。謂其父母之年會合於已上，男左行十月，至寅而生；女右行十月，至申而生也。故推命家言，男一歲起丙寅，女一歲起壬申。《難經》不言起而言生，謂生下已為一歲矣。壬丙二干，水火也，水火為萬物之父母。寅申二支，金木也，為生物成實之終始。木飽在申，金飽在寅，二氣自飽相配，故用寅申也。金生於巳，巳與申合，故女子取申。木生於亥，亥與寅合，故男子取寅。所以男年十歲，順行在亥；女年七歲，逆行在亥。男子十六天癸至左行至巳，巳者申之生氣；女年十四天癸至，右行亦在巳，與男年同在本宮，生氣之位。陰陽相配，成夫婦之道，故有男女也。上古天真論曰：男子二八而天癸至，精氣溢瀉，陰陽和，故能有子。女子二七天癸至，任脈通，太衝脈盛，故能有子。此之謂也。</p>
<figure>
<img alt="榮衛清濁升降圖">
</figure>
<p>經云：地氣上為云，天氣下為雨。清者，體之上也，陽也，火也。離中之一陰降，故午後一陰生，即心之生血也。故曰清氣為榮。天之清不降，天之濁能降，為六陰驅而使之下也。云清氣者，總離之體而言之。濁者，體之下也，陰也，水也。坎中之一陽升，故子後一陽生，即腎之生氣也。故曰濁氣為衛。雨出地氣，云出天氣，此之謂也。地之濁不升，地之清能升，為六陽舉使之上也。濁氣者，總坎之體而言之。肺主聲，肝主色，心主臭，脾主味，腎主液，是五臟各有所主也。然而一臟之中，又各有聲、色、臭、味、液，五五二十五，五行錯綜之道也。</p>
<figure>
<img alt="肝肺色象浮沉圖">
</figure>
<figure>
<img alt="五藏聲色臭味液之圖">
</figure>
<figure>
<img alt="五邪舉心為例圖">
</figure>
<figure>
<img alt="七傳間藏之圖一">
</figure>
<figure>
<img alt="七傳間藏之圖二">
</figure>
<p>肝主聲，肝主色，心主臭，脾主味，腎主液，是五臟各有所主也。然而一臟之中，又各有聲、色、臭、味、液，五五二十五，五行錯綜之道也。</p>
<figure>
<img alt="手足陰陽圖">
</figure>
<figure>
<img alt="滎俞剛柔圖">
</figure>

<h1>上卷</h1>
<p>一難曰：十二經皆有動脈，獨取寸口，以決五臟六腑死生吉凶之法，何謂也？</p>
<p>十二經，謂手足三陰三陽，合為十二經也。手經則太陰肺，陽明大腸，少陰心，太陽小腸，厥陰心包，少陽三焦也。足經則太陰脾，陽明胃，少陰腎，太陽膀胱，厥陰肝，少陽膽也。皆有動脈者，如手太陰脈動中府、雲門、天府、俠白，手陽明脈動合谷、陽谿，手少陰脈動極泉，手太陽脈動天窗，手厥陰脈動勞宮，手少陽脈動禾窌，足太陰脈動箕門、衝門，足陽明脈動衝陽、大迎、人迎、氣衝，足少陰脈動太谿、陰谷，足太陽脈動委中，足厥陰脈動太衝、五里、陰廉，足少陽脈動下關、聽會之類也。謂之經者，以榮衛之流行，經常不息者而言。謂之脈者，以血理之分袤行體者而言也。故經者徑也，脈者陌也。越人之意，蓋謂凡此十二經，經皆有動脈，如上文所云者。今置不取，乃獨取寸口，以決臟腑死生吉凶，何耶？</p>
<p>然：寸口者，脈之大會，手太陰之脈動也。然者答辭。諸篇仿此。</p>
<p>此一篇之大旨，下文乃詳言之。寸口，謂氣口也，居手太陰魚際卻行一寸之分。氣口之下曰關曰尺云者，皆手太陰所歷之處。而手太陰又為百脈流注朝會之始也。五臟別論：帝曰：氣口何以獨為五臟主？岐伯曰：胃者，水穀之海，六腑之大源也。五味入口，藏於胃，以養五臟氣，而變見於氣口也。《靈樞》第一篇云：脈會太淵。玉版論云：行奇恆之法，自太陰始注。謂先以氣口太陰之脈，定四時之正氣，然後度量奇恆之氣也。經脈別論云：肺朝百脈。又云：氣口成寸，以決死生。合數論而觀之，信知寸口當手太陰之部，而為脈之大會明矣。此越人立問之意，所以獨取夫寸口，而後世宗之，為不易之法。著之篇首，乃開卷第一義也。學者詳之。</p>
<p>人一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸。人一口一夜，凡一萬三千五百息，脈行五十度，周於身，漏水下百刻，榮衛行陽二十五度，行陰亦二十五度，為一周也。故五十度復會於手太陰寸口者，五臟六腑之所終始，故法取於寸口也。</p>
<p>承上文言，人謂平人，不病而息數勻者也。呼者，氣之出，陽也；吸者，氣之入，陰也。《內經·平人氣象論》云：人一呼脈再動，一吸脈再動，呼吸定息脈五動，閏以太息，命曰平人。故平人一呼脈行三寸，一吸脈行三寸，呼吸定息脈行六寸，以呼吸之數言之，一日一夜凡一萬三千五百息。以脈行之數言之，則五十度周於身，而榮衛之行於陽者二十五度，行於陰者亦二十五度。出入陰陽，參考互注，無少間斷。五十度畢，適當漏下百刻，為一晬時。又明日之平旦矣，乃復會於手太陰。此寸口所以為五臟六腑之所終始，而法有取於是焉。蓋以榮衛始於中焦，注手太陰、陽明，陽明注足陽明、大陰，太陰注手少陰、太陽，太陽注足太陽、少陰，少陰注手心主、少陽，少陽注足少陽、厥陰，計呼吸二百七十息，脈行一十六丈二尺，漏下二刻，為一周身，於是復還注手太陰。積而盈之，人一呼一吸為一息，每刻一百三十五息。每時八刻，計一千八十息。十二時九十六刻，計一萬二千九百六十息。刻之餘分，得五百四十息，合一萬三千五百息也。一息脈行六寸，每二刻二百七十息，脈行一十六丈二尺。每時八刻，脈行六十四丈八尺，榮衛四周於身。十二時，計九十六刻，脈行七百七十七丈六尺，為四十八周身。刻之餘分，行二周身，得二十二丈四尺。總之為五十度周身，脈得八百一十丈也。此呼吸之息，脈行之數。周身之度，合晝夜百刻之詳也。行陽行陰，謂行晝行夜也。</p>
<p>二難曰：脈有尺寸，何謂也？然：尺寸者，脈之大要會也。</p>
<p>尺，《說文》云：尺，度名，十寸也。人手部十分動脈為寸口，十寸為尺，規矩事也。古者寸、尺、只、尋、常、仞諸度量，皆以人之體為法，故從屍從ㄟ象布指之狀。寸，十分也，人手卻一寸動脈，謂之寸口，從又從一。</p>
<p>按如《說文》所紀，尤可見人體中脈之尺寸也。尺陰分，寸陽分也。人之一身，經絡榮衛，五臟六腑，莫不由於陰陽，而或過與不及，於尺寸見焉，故為脈之大要會也。一難言寸口為脈之大會，以肺朝百脈而言也。此言尺寸為脈之大要會，以陰陽對從而言也。大抵手太陰之脈，由中焦出行，一路直至兩手大指之端，其魚際卻行一寸九分，通謂之寸口，於一寸九分之中，曰尺曰寸，而關在其中矣。</p>
<p>從關至尺，是尺內，陰之所治也；從關至魚際，是寸口內，陽之所治也。</p>
<p>關者，掌後高骨之分，寸後尺前，兩境之間，陰陽之界限也。從關至尺澤謂之尺，尺之內，陰所治也；從關至魚際是寸口，寸口之內，陽所治也。故孫思邈云：從肘腕中橫文至掌魚際後文，卻而十分之，而入取九分，是為尺。此九分者，自肘腕入至魚際為一尺，十分之為十寸，取第九分之一寸，中為脈之尺位。從魚際後文，卻還度取十分之一，則是寸。此寸字非寸關尺之寸，乃從肘腕橫文至魚際，卻而取十分中之一，是一寸也。以此一寸之中，取九分為脈之寸口，故下文云，寸十分之而入取九分之中，則寸口也。</p>
<p>故分寸為尺，分尺為寸。</p>
<p>寸為陽，尺為陰。陽上而陰下，寸之下尺也，尺之上寸也，關居其中，以為限也。分寸為尺，分尺為寸，此之謂歟？分猶別也。</p>
<p>故陰得尺內一寸，陽得寸內九分。</p>
<p>老陰之數終於十，故陰得尺內之一寸。此尺字，指魚際至尺澤，通計十寸者而言。老陽之數極於九，故陽得寸內之九分。此寸字，指人手卻寸而言。</p>
<p>尺寸終始一寸九分，故曰尺寸也。</p>
<p>寸為尺之始，尺者寸之終。云尺寸者，以終始對待而言。其實貯寸得九分，尺得一寸，皆陰陽之盈數也。龐安常云：越人取手太陰之行度，魚際後一寸九分，以配陰陽之數，蓋謂此也。</p>
<p>三難曰：脈有大過，有不及，有陰陽相乘，有覆有溢，有關有格，何謂也？有圖</p>
<p>大過不及病脈也。關格覆溢死脈也。關格之說，《素問·六節藏象論》及《靈樞》第九篇、第四十九篇，皆主氣口人迎，以陽經取決於人迎，陰經取決於氣口也。今越人乃以關前關後言者。以寸為陽而尺為陰也。</p>
<p>然：關之前者，陽之動也，脈當見九分而浮，過者法曰大過，減者法曰不及。</p>
<p>關前為陽，寸脈所動之位。脈見九分而浮，九陽數，寸之位浮，陽脈是其常也。過，謂過於本位，過於常脈。不及，謂不及本位，不及常脈。是皆病脈也。</p>
<p>遂上魚為溢，為外關內格，此陰乘之脈也。</p>
<p>遂者，遂也，徑行而直前也。謝氏謂遂者，直上直下，殊無回於之生意，有旨哉。經曰：陰氣太盛，則陽氣不得相營也。以陽氣不得營於陰，陰遂上出而溢於魚際之分，為外關內格也。外關內格，謂陽外閉而不下，陰從而外出以格拒之，此陰乘陽位之脈也。</p>
<p>關以後者，陰之動也，脈當見一寸而沉，過者法曰大過，減者法曰不及。</p>
<p>關後為陰，尺脈所動之位，脈見一寸而沉，一寸陰數，尺之位沉，陰脈是其常也。過，謂過於本位，過於常脈。不及，謂不及本位，不及常脈。皆病脈也。</p>
<p>遂入尺為覆，為內關外格，此陽乘之脈也。</p>
<p>經曰：陽氣太盛，則陰氣不得相營也，以陰不得營於陽，陽遂下陷而覆於尺之分，為內關外格也。內關外格，謂陰內閉而不上，陽從而外入以格拒之，此陽乘陰位之脈也。</p>
<p>故曰覆溢。</p>
<p>覆，如物之覆，由上而傾於下也。溢，如水之溢，由內而出乎外也。</p>
<p>是其真藏之脈，人不病而死也。</p>
<p>覆溢之脈，乃孤陰獨陽，上下相離之診，故曰真藏之脈，謂無胃氣以和之也。凡人得此脈，雖不病猶死也。</p>
<p>此篇言陰陽之太過不及，雖為病脈，猶未至危殆。若遂上魚入尺，而為覆溢，則死脈也。此遂字最為切緊，蓋承上起下之要言。不然，則大過不及，陰陽相乘，關格覆溢，渾為一意，漫無輕重矣。或問：此篇之陰陽相乘，與二十篇之說同異？曰：此篇乃陰陽相乘之極而為覆溢，二十篇則陰陽更相乘而伏匿也。更之一字，與此篇遂字，大有徑庭。更者，更互之更。遂者，直遂之遂。而覆溢與伏匿，又不能無辨。蓋覆溢為死脈，伏匿為病脈，故不可同日語也。</p>
<p>此書首三篇，乃越人開卷第一義也。一難言寸口，統陰陽關尺而言。二難言尺寸，以陰陽始終對待而言，關亦在其中矣。三難之覆溢，以陰陽關格而言，尤見關為津要之所。合而觀之，三部之義備矣。一二難言陰陽之常，三難言陰陽之變。</p>
<p>四難曰：脈有陰陽之法，何謂也？然：呼出心與肺，吸入腎與肝。呼吸之間，脾受穀味也，其脈在中。</p>
<p>呼出為陽，吸入為陰；心肺為陽，腎肝為陰，各以部位之高下而應之也。一呼再動，心肺主之；一吸再動，腎肝主之。呼吸定息，脈五動，閏以太息，脾之候也。故曰：呼吸之間，脾受穀味也。其脈在中，在中者，在陰陽呼吸之中。何則？以脾受穀味，灌溉諸藏，諸藏皆受氣於脾土，主中宮之義也。</p>
<p>浮者陽也，沉者陰也，故曰陰陽也</p>
<p>浮為陽，沉為陰，此承上文而起下文之義。</p>
<p>心肺俱浮，何以別之？然：浮而大散者心也，浮而短澀者肺也。腎肝俱沉，何以別之？然：牢而長者肝也。按之濡，舉指來實者腎也。脾者中州，故其脈在中，是陰陽之法也。</p>
<p>心肺俱浮，而有別也。心為陽中之陽，故其脈浮而大散；肺為陽中之陰，其脈浮而短澀。肝腎俱沉，而有別也。肝為陰中之陽，其脈牢而長；腎為陰中之陰，其脈按之濡，舉指來實。古益袁氏謂腎屬水，脈按之濡，舉指來實，外柔內剛，水之象也。脾說見前。</p>
<p>脈有一陰一陽，一陰二陽，一陰三陽；有一陽一陰，一陽二陰，一陽三陰。如此之言，寸口有六脈俱動邪？然：此言者，非有六脈俱動也，謂浮、沉、長、短、滑、澀也。浮者陽也，滑者陽也，長者陽也；沉者陰也，短者陰也，澀者陰也。所謂一陰一陽者，謂脈來沉而滑也；一陰二陽者，謂脈來沉滑而長也；一陰三陽者，謂脈來浮滑而長，時一沉也。所言一陽一陰者，謂脈來浮而澀也；一陽二陰者，謂脈來長而沉澀也；一陽三陰者，謂脈來沉澀而短，時一浮也。各以其經所在，名病逆順也。</p>
<p>又設問答，以明陰陽。脈見於三部者，不單至也。惟其不單至，故有此六脈相兼而見。浮者輕手得之，長者通度本位，滑者往來流利，皆陽脈也。沉者重手得之，短者不及本位，澀者往來凝滯，皆陰脈也。惟其相兼，故有一陰一陽，又一陽一陰，如是之不一也。夫脈之所至，病之所在也。以脈與病及經絡臟腑參之，某為宜，某為不宜，四時相應不相應，以名病之逆順也。</p>
<p>五難曰：脈有輕重，何謂也？然：初持脈，如三寂之重，與皮毛相得者，肺部也。如六菽之重，與血脈相得者，心部也。如九菽之重，與肌肉相得者，脾部也。如十二菽之重，與筋平者，肝部也。按之至骨，舉指來疾者，腎部也。故曰輕重也。</p>
<p>肺最居上，主候皮毛，故其脈如三菽之重。心在肺下，主血脈，故其脈如六菽之重。脾在心下，主肌肉，故其脈如九菽之重。肝在脾下，主筋，故其脈如十二菽之重。腎在肝下，主骨，故其脈按之至骨，舉指來實，腎不言菽，以類推之，當如十五菽之重，今按此法以輕重言之，即浮中沉之意也。然於《樞》、《素》無所見，將古脈法而有所授受邪？抑越人自得之見邪？廬陵謝氏曰：此寸、關、尺所主臟腑，各有分位。而一部之中，脈又自有輕重。因舉陵陽虞氏說云：假令左手寸口如三菽之重得之，乃知肺氣之至。如六菽之重得之，知本經之至。余以類求之。夫如是乃知五臟之氣，更相灌溉，六脈因茲亦有準繩，可以定吉凶，言疾病矣。關、尺皆然。如十難中十變脈例而消息之也。</p>
<p>六難曰：脈有陰盛陽衰，陽盛陰虛，何謂也？然：浮之損小，沉之實大，故曰陰盛陽虛。沉之損小，浮之實大，故曰陽盛陰虛。是陰陽虛實之意也。</p>
<p>浮沉以下指輕重言，盛虛以陰陽盈虧言。輕手取之而見減小，重手取之而見實大，知其為陰盛陽虛也。重手取之而見損小，輕手取之而見實大，知其為陽盛陰虛也。大抵輕手取之陽之分，重手取之陰之分，不拘何部，率以是推之。</p>
<p>七難曰：經言少陽之至，乍大乍小，乍短乍長。陽明之至，浮大而短。太陽之至，洪大而長。太陰之至，緊大而長。少陰之至，緊細而微。厥陰之至，沉短而敦。此六者，是平脈邪？將病脈耶？然：皆王脈也。</p>
<p>六者之王說見下文。</p>
<p>其氣以何月，各王幾日？然：冬至之後，得甲子少陽王，復得甲子陽明王，復得甲子太陽王，復得甲子太陰王，復得甲子少陰王，復得甲子厥陰王。王各六十日，六六三百六十日，以成一歲。此三陰三陽之旺時日大要也。</p>
<p>上文言三陽三陰之王脈，此言三陽三陰之王時，當其時則見其脈也。歷家之說，以上古十一月甲子，合朔冬至為曆元，蓋取夫氣朔之分齊也。然天度之運，與日月之行，遲速不一。歲各有差，越人所謂冬至之後得甲子，亦以此歟！是故氣朔之不齊，節候之早晚，不能常也。故丁氏注謂冬至之後得甲子，或在小寒之初，或在大寒之後，少陽之至始於此，余經各以次繼之。紀氏亦謂自冬至之日，一陽始生，於冬至之後得甲子，少陽脈王也。若原其本始，以十一月甲子合朔冬至常例推之，則少陽之王，便當從此日始，至正月中，余經各以次繼之。少陽之至，陽氣尚微，故其脈乍大乍小，乍短乍長。陽明之至，猶有陰也，故其脈浮大而短。太陽之至，陽盛而極也，故其脈洪大而長。陽盛極則變而之陰矣，故夏至後為三陰用事之始。而太陰之至，陰氣上微，故其脈緊大而長。少陰之至，陰漸盛也，故其脈緊細而微。厥陰之至，陰盛而極也，故其脈沉短以敦。陰盛極則變而之陽，仍三陽用事之之始也。此則三陽三陰之王脈，所以周六甲而循四時，率皆從微以至乎著，自漸而趨於極，各有其序也。袁氏曰：春溫而夏暑，秋涼而冬寒，故人六經之脈，亦隨四時陰陽消長迭運而至也。</p>
<p>劉溫舒曰：至真要論云：厥陰之至，其脈弦；少陰之至，其脈鉤；太陰之至，其脈沉；少陽之至，大而浮；陽明之至，短而澀；太陽之至，大而長。亦隨天地之氣卷舒也，如春弦、夏洪、秋毛、冬石之類。則五運六氣四時，亦皆應之，而見於脈爾。若平人氣象論：太陽脈至，洪大而長；少陽脈至，乍數乍疏，乍短乍長；陽明脈至，浮大而短。《難經》引之以論三陰三陽之脈者，以陰陽始生之淺深而言之也。</p>
<p>篇首稱經言二字，考之《素》、《樞》無所見，平人氣象論雖略有其說而不詳。豈越人之時，別有所謂上古文字耶？將《內經》有之，而後世脫簡耶？是不可知也。後凡言經言而無所考者，義皆仿此。</p>
<p>八難曰：寸口脈平而死者，何謂也？然：諸十二經脈者，皆繫於生氣之原。所謂生氣之原者，謂十二經之根本也，謂腎間動氣也。此五臟六腑之本，十二經脈之根，呼吸之門，三焦之原。一名守邪之神。故氣者，人之根本也，根絕則莖葉枯矣。寸口脈平而死者，生氣絕於內也</p>
<p>腎間動氣，人所得於天以生之氣也。腎為子水，位乎坎，北方卦也，乃天一之數，而火木金土之先也。所以為生氣之原，諸經之根本，又為守邪之神也。原氣勝則邪不能侵，原氣絕則死，如木根絕而莖葉枯矣。故寸口脈平而死者，以生氣獨絕於內也。</p>
<p>此篇與第一難之說，義若相悖，然各有所指也。一難以寸口決生死者，謂寸口為脈之大會，而穀氣之變見也。此篇以原氣言也，人之原氣盛則生，原氣絕則寸口脈雖平猶死也。原氣言其體，穀氣言其用也。</p>
<p>九難曰：何以別知臟腑之病耶？然：數者府也，遲者藏也。數則為熱，遲則為寒，諸陽為熱，諸陰為寒。故以別知臟腑之病也。有圖</p>
<p>凡人之脈，一呼一吸為一息。一息之間脈四至，閏以太息，脈五至，命曰平人。平人者，不病之脈也。其有增減，則為病焉。故一息三至曰遲，不足之脈也；一息六至曰數，大過之脈也。藏為陰，府為陽。脈數者屬府，為陽為熱；脈遲者屬藏，為陰為寒。不特是也，諸陽脈皆為熱，諸陰脈皆為陰，臟腑之病，由是別之。</p>
<p>十難曰：一脈為十變者，何謂也？然：五邪剛柔相逢之意也。假令心脈急甚者，肝邪干心也。心脈微急者，膽邪干小腸也。心脈大甚者，心邪自干心也，心脈微大者，小腸邪自干小腸也。心脈緩甚者，脾邪干心也。心脈微緩者，胃邪干小腸也。心脈澀甚者，肺邪干心也。心脈微澀者，大腸邪干小腸也。心脈沉甚者，腎邪干心也。心脈微沉者，膀胱邪干小腸也。五臟各有剛柔邪，故令一脈輒變為十也。</p>
<p>五邪者，謂五臟五腑之氣，失其正而為邪者也。剛柔者，陽為剛，陰為柔也。剛柔相逢，謂藏逢藏，府逢府也。五臟五腑，各有五邪。以脈之來甚者屬藏，微者屬府。特以心臟發其例，余可類推。故云一脈輒變為十也。</p>
<p>十一難曰：經言脈不滿五十動而一止，一臟無氣者，何藏也？然：人吸者隨陰入，呼者因陽出。今吸不能至腎，至肝而還，故知一臟無氣者，腎氣先盡也。</p>
<p>《靈樞》第五篇曰：人一日一夜五十營，以營五臟之精。不應數者，名曰狂生。所謂五十營者，五臟皆受氣，持其脈口，數其至也。五十動不一代者，五臟皆受氣。四十動一代者，一臟無氣。三十動一代者，二臟無氣。二十動一代者，三臟無氣。十動一代者，四臟無氣。不滿十動一代者，五臟無氣，予之短期。按五臟腎最在下，吸氣是遠。若五十動不滿而一止者，知腎無所資，氣當先盡。盡，猶衰竭也。衰竭則不能隨諸藏氣而上矣。</p>
<p>十二難曰：經言五臟脈已絕於內，用針者反實其外。五臟脈已絕於外，用針者反實其內。內外之絕，何以別之？然：五臟脈已絕於內者，腎肝氣已絕於內也，而醫反補其心肺；五臟脈已絕於外者，其心肺脈已絕於外也，而醫反補其腎肝，陽絕補陰，陰絕補陽是謂實實虛虛，損不足益有餘。如此死者，醫殺之耳。</p>
<p>《靈樞》第一篇曰：凡將用針，必先診脈，視氣之劇易，乃可以治也。又第三篇曰：所謂五臟之氣已絕於內者，脈口氣內絕不至，反取其外之病處，與陽經之合，有留針以致陽氣，陽氣至則內重竭，重竭則死矣。其死也，無氣以動，故靜。所謂五臟之氣已絕於外者，脈口氣外絕不至，反取其四末之輸，有留針以致其陰氣，陰氣至則陽氣反入，入則逆，逆則死矣。其死也陰氣有餘，故躁。此《靈樞》以脈口內外言陰陽也。越人以心肺腎肝內外別陰陽，其理亦由是也。</p>
<p>紀氏謂此篇言針法，馮氏玠謂此篇合入用針補寫之類，當在六十難之後，以例相從也。</p>
<p>十三難曰：經言見其色而不得其脈，反得相勝之脈者即死，得相生之脈者病即自己。色之與脈，當參相應，為之奈何？</p>
<p>《靈樞》第四篇曰：見其色，知其病，命曰明。按其脈，知其病，命曰神。問其病，知其處，命曰工。色脈形肉不得相失也。色青者其脈弦，赤者其脈鉤，黃者其脈代，白者其脈毛，黑者其脈石。見其色而不得其脈，謂色脈之不相得也，色脈既不相得，看得何脈，得相勝之脈即死，得相生之脈，病即自己。已，愈也。參，合也。</p>
<p>然：五臟有五色，皆見於面，亦當與寸口尺內相應。假令色青，其脈當弦而急；色赤，其脈浮大而散；色黃，其脈中緩而大；色白，其脈浮澀而短；色黑，其脈沉濡而滑；此所謂五色之與脈，當參相應也。</p>
<p>色脈當參相應。夫如是則見其色，得其脈矣。</p>
<p>脈數，尺之皮膚亦數。脈急，尺之皮膚亦急。脈緩，尺之皮膚亦緩。脈澀，尺之皮膚亦澀。脈滑，尺之皮膚亦滑。</p>
<p>《靈樞》第四篇，黃帝曰：色脈已定，別之奈何？岐伯曰：調其脈之緩急、大小、滑澀，肉之堅脆，而病變定矣。黃帝曰：調之奈何？岐伯答曰：脈急，尺之皮膚亦急。脈緩，尺之皮膚亦緩。脈小，尺之皮膚亦減而少氣。脈大，尺之皮膚亦賁而起。脈滑，尺之皮膚亦滑。脈澀，尺之皮膚亦澀。凡此變者，有微有甚。故善調尺者，不待於寸：善調脈者，不待於色。能參合而行之者，可以為上工。上工十全九，行二者為中工。中工十全八，行一者為下工。下工十全六。此通上文所謂色脈形肉不相失也。</p>
<p>五臟各有聲色臭味，當與寸口尺內相應，其不應者病也。假令色青，其脈浮澀而短，若大而緩為相勝，浮大而散，若小而滑為相生也。</p>
<p>若之為言或也。舉色青為例，以明相勝相生也。青者肝之色，浮澀而短，肺脈也，為金剋木；大而緩，脾脈也，為木剋土，此相勝也。浮大而散，心脈也，為木生火；小而滑，腎脈也，為水生木，此相生也。此所謂得相勝之脈即死，得相生之脈病即自己也。</p>
<p>經言知一為下工，知二為中工，知三為上工。上工者十全九，中工者十全八，下工者十全六，此之謂也。</p>
<p>說見前。三，謂色、脈、皮膚三者也，</p>
<p>此篇問答凡五節。第一節為問辭，第二、第三節言色脈形肉不得相失，第四節言五臟各有聲色臭味，當與寸尺相應。然假令以下，但言色脈相參，不言聲臭味，殆闕文歟？抑色之著於外者，將切於參驗歟？第五節則以所知之多寡，為工之上下也。</p>
<p>十四難曰：脈有損至，何謂也？然：至之脈，一呼再至曰平，三至曰離經，四至曰奪精，五至曰死，六至曰命絕，此至之脈也。何謂損？一呼一至曰離經，再呼一至曰奪精。三呼一至曰死，四呼一至曰命絕，此損之脈也。至脈從下上，損脈從上下也。</p>
<p>平人之脈，一呼再至，一吸再至，呼吸定息，脈四至。加之則為過，減之則不及，過與不及，所以為至為損焉。離經者，離其經常之度也。奪精，精氣衰奪也。至脈從下而逆上，由腎而之肺也。損脈從上而行下，由肺而之腎也。謝氏曰：平人一呼再至，脈行三寸。今一呼三至，則脈行四寸半，一息之間訂九寸。二十息之間，一百八十丈，比平人行速過六十丈，此至脈之離經也。平人一呼脈再至，行二寸。今一呼一至，只得一寸半，二十息之間，脈遲行六十丈，此損脈之離經也。若夫至脈之奪精，一呼四至則一息之間行一尺二寸。損脈之奪精，二呼一至，則一息之間行三寸，其病又甚矣。過此者死而命絕也。</p>
<p>損脈之為病奈何？然：一損損於皮毛，皮聚而毛落。二損損於血脈，血脈虛少，不能榮於五臟六腑。三損損於肌肉，肌肉消瘦，飲食不能為肌膚。四損損於筋，筋緩不能自收持。五損損於骨，骨痿不能起於床。反此者，至於收病也。從上下者，骨痿不能起於床者死。從下上者，皮聚而毛落者死。</p>
<p>至於收病也，當作至脈之病也，於收二字誤。肺主皮毛，心主血脈，脾主肌肉，肝主筋，腎主骨，各以所主而見其所損也。反此為至脈之病者，損脈從上下，至脈則從下上也。</p>
<p>治損之法奈何？然：損其肺者，益其氣。損其心者，調其榮衛。損其脾者，調其飲食，適其寒溫。損其肝者，緩其中。損其腎者，益其精。此治損之法也。</p>
<p>肺主氣，心主血脈，腎主精，各以其所損而謂治之。榮衛者，血脈之所資也。脾主受穀味，故損其脾者，調其飲食，適其寒溫。如春夏食涼食冷，秋冬食溫食熱，及衣服起居，各當其時是也。肝主血，血虛則中不足。一云肝主怒，怒能傷肝，故損其肝者緩其中。經曰：肝苦急，急食甘以緩之。緩者，和也。</p>
<p>脈有一呼再，一吸再至；有一呼三至，一吸三至；有一呼四至，一吸四至；有一呼五至，一吸五至；有一呼六至，一吸六至；有一呼一至，一吸一至；有再呼一至，再吸一至；有呼吸再至。脈來如此，何以別知其病也？</p>
<p>此再舉損至之脈為問答也。蓋前之損至，以五臟自病，得之於內者而言；此則以經絡血氣為邪所中之微甚，自外得之者而言也。其日呼吸再至，即一呼一至，一吸一至之謂。疑衍文也。</p>
<p>然：脈來一呼再至，一吸再至，不大不小曰平。一呼三至，一吸三至，為適得病。前大後小，即頭痛目眩。前小後大，即胸滿短氣。一呼四至，一吸四至，病欲甚。脈洪大者，苦煩滿，沉細者，腹中痛。滑者傷熱，澀者中霧露。一呼五至，一吸五至，其人當困。沉細，夜加浮大，晝加不大不小，雖困可治。其有小大者為難治。一呼六至，一吸六至，為死脈也。沉細夜死，浮大晝死。一呼一至，一吸一至，名曰損。人雖能行，猶當著床，所以然者，血氣皆不足故也。再呼一至，再吸一至，呼吸再至（此四字即前衍文），名曰無魂。無魂者，當死也。人雖能行，名曰行屍。</p>
<p>一息四至，是為平脈，一呼三至，一吸三至，是一息之間，脈六至，比之平人多二至，故曰適得病未甚也。然又以前大後小，前小後大而言病能也。前後非言寸尺，猶十五難前曲後居之前後，以始未言也。一呼四至，一吸四至，病欲甚矣。故脈洪大者，苦煩滿，病在高也。沉細者，腹中痛，病在下也。各以其脈言之。滑為傷熱者，熱傷氣而不傷血，血自有餘，故脈滑也。澀為中霧露者，霧露之寒，傷人榮血，血受寒，故脈澀也。一呼五至，一吸五至，其人困矣。若脈更見浮大沉細，則各隨晝夜而加劇。以浮大順晝，陽也；沉細順夜，陰也。若不見二者之脈，人雖困猶可治。小大，即沉細浮大也。一呼六至，一吸六至，增之極也，故為死脈。沉細夜死，浮大晝死，陰遇陰，陽遇陽也。一呼一至，一吸一至，名曰損，以血氣皆不足也。再呼一至，再吸一至，謂兩息之間脈再動，減之極也。經曰：形氣有餘，脈氣不足者死。故曰無魂而當死也。</p>
<p>上部有脈，下部無脈，其人當吐，不吐者死。上部無脈，下部有脈，雖困無能為害。所以然者，譬如人之有尺，樹之有根。枝葉雖枯槁，根本將自生；脈有根本，人有元氣，故知不死。</p>
<p>譬如二字，當在人之有尺下。</p>
<p>此又以脈之有無，明上下部之病也。紀氏曰：上部有脈，下部無脈，是邪實並幹上，即當吐也。若無吐證，為上無邪而下氣竭，故云當死。東垣李氏曰：下部無脈，此木鬱也。飲食過飽，填塞於胸中太陰之分，而春陽之令不得上行故也，是為木鬱。木鬱則達之，謂吐之是也。謝氏曰：上部無脈，下部有脈者，陰氣盛而陽氣微，故雖困無能為害。上部無脈，如樹枝之槁；下部有脈，如樹之有根。惟其有根，可以望其生也。</p>
<p>四明陳氏曰：至，進也，陽獨盛而至數多也。損，減也，陰獨盛而至數少也。至脈從下上，謂無陰而陽獨行至於上，則陽亦絕而死矣。損脈從上下，謂無陽而陰獨行至於下，則陰亦盡而死矣。</p>
<p>一難言寸口以決臟腑死生吉凶，謂氣口為五臟主也。四難言脾受穀味，其脈在中，是五臟皆以胃為主，其脈則主關上也。此難言人之有尺，譬如樹之有根，脈有根本，人有元氣，故知不死，則以尺為主也。此越人所以錯綜其義，散見諸篇，以見寸、關、尺各有所歸重云。</p>
<p>十五難曰：經言春脈弦，夏脈鉤，秋脈毛，冬脈石，是王脈耶？將病脈也？然：弦、鉤、毛、石者，四時之脈也。春脈弦者，肝東方木也，萬物始生，未有枝葉，故其脈之來，濡弱而長，故曰弦。夏脈鉤者，心南方火也，萬物之所茂，垂枝布葉，皆下曲如鉤，故其脈之來疾去遲，故曰鉤。秋脈毛者，肺西方金也，萬物之所終，草木華葉，皆秋而落，其枝獨在，若毫毛也，故其脈之來，輕虛以浮，故曰毛。冬脈石者，腎北方水也，萬物之所藏也，盛冬之時，水凝如石，故其脈之來，沉濡而滑，故曰石。此四時之脈也。</p>
<p>此《內經》平人氣象、玉機真藏論，參錯其文而為篇也。春脈弦者，肝主筋，應筋之象。夏脈鉤者，心主血脈，應血脈來去之象。秋脈毛者，肺主皮毛。冬脈石者，腎主骨。各應其象，兼以時物之象取義也。來疾去遲，劉立之曰：來者，自骨肉之分，而出於皮膚之際，氣之升而上也；去者，自皮膚之際，而出於骨肉之分，氣之降而下也。</p>
<p>如有變奈何？</p>
<p>脈逆四時之謂變。</p>
<p>然：春脈弦，反者為病。何謂反？然：其氣來實強，是為太過，病在外。氣來虛微，是為不及，病在內。氣來厭厭聶聶，如循榆葉，曰平。益實而滑，如循長竿，曰病。急而勁益強，如新張弓弦，曰死。春脈微弦曰平，弦多胃氣少曰病，但弦無胃氣曰死。春以胃氣為本。夏脈鉤，反者為病。何謂反？然其氣來實強，是謂太過，病在外。氣來虛微，是謂不及，病在內。其脈來累累如環，如循琅環，曰平。來而益數，如雞舉足者，曰病。前曲後居，如操帶鉤，曰死。夏脈微鉤曰平，鉤多胃氣少曰病。但鉤無胃氣曰死。夏以胃氣為本。秋脈毛，反者為病。何謂反？然：其氣來實強，是謂太過，病在外。氣來虛微，是謂不及，病在內。其脈來藹藹如車蓋，按之益大，曰平。不上不下，如循雞羽，曰病。按之蕭索，如風吹毛，曰死。秋脈微毛曰平，毛多胃氣少曰病，但毛無胃氣曰死。秋以胃氣為本。冬脈石，反者為病。何謂反？然：其氣來實強，是謂太過，病在外。氣來虛微，是謂不及，病在內。脈來上大下兌，濡滑如雀之啄，日平。啄啄連屬，其中微曲，曰病。來如解索，去如彈石，曰死。冬脈微石曰平，石多胃氣少曰病，但石無胃氣曰死。冬以胃氣為本。</p>
<p>春脈太過，則令人善忘，忽忽眩冒巔疾；不及，則令人胸痛引背，下則兩脅胠滿。夏脈太過，則令人身熱而膚痛，為浸淫；不及，則令人煩心，上見咳唾，下為氣泄。秋脈太過，則令人逆氣而背痛，慍慍然；不及，則令人喘，呼吸少氣而咳，上氣見血，下聞病音。冬脈太過，則令人上解㑊，脊脈痛而少氣，不欲言；不及，則令人心懸如飢，䏚中清，脊中痛，少腹滿，小便變，此岐伯之言。也越人之意，蓋本諸此。變脈，言氣者，脈不自動，氣使之然，且主胃氣而言也。循，撫也，按也。春脈厭厭聶聶，如循榆葉，弦而和也；益實而滑，如循長竿，弦多也；急而勁益強，如新張弓弦，但弦也。夏脈累累如環，如循琅玕，鉤而和也。如雞舉足，鉤多而有力也；前曲後居，謂按之堅而搏，尋之實而據，但鉤也。秋脈藹藹如車蓋，按之益大，微毛也；不上不下，如循雞羽，毛多也；按之蕭索，如風吹毛，但毛也。冬脈上大下兌，大小適均，石而和也（上下與來去同義，見前篇）；啄啄連屬，其中微曲，石多也；來如解索，去如彈石，但石也。大抵四時之脈，皆以胃氣為本，故有胃氣則生，胃氣少則病，無胃氣則死。於弦、鉤、毛、石中，每有和緩之體，為胃氣也。此篇與《內經》中互有異同。馮氏曰：越人慾使脈之易曉，重立其義爾。按《內經》第二卷，平人氣象論篇云：平肝脈來，軟弱招招，如揭長竿未稍。平肺脈來，厭厭聶聶，如落榆葉。平腎脈來，喘喘累累如鉤，按之而堅。病腎脈來，如引葛之益堅。死腎脈如發奪索，辟辟如彈石。此為異也。</p>
<p>胃者，水穀之海，主稟四時。皆以胃氣為本。是謂四時之變病，死生之要會也。</p>
<p>胃屬土，土之數五也，萬物歸之，故云水穀之海。而水、火、金、木無不待是以生，故云主稟四時。稟，供也，給也。</p>
<p>脾者，中州也。其平和不可得見。衰乃見耳。來如雀之啄，如水之下漏，是脾衰見也。</p>
<p>脾者中州，謂呼吸之間，脾受穀味，其脈在中也，其和平不得見，蓋脾寄主於四季，不得獨主於四時，四臟之脈平和，則脾脈在中矣。衰乃見者，雀啄屋漏，異乎常也。雀啄者，脈至堅銳而斷續不定也。屋漏者，脈至緩散而復止也。</p>
<p>十六難曰：脈有三部九候，有陰陽，有輕重，有六十首，一脈變為四時，離聖久遠，各自是其法，何以別之？</p>
<p>謝氏曰：此篇問三部九候以下共六件，而《本經》並不答所問，似有缺文。今詳三部九候，則十八難中第三章言之，當屬此篇，錯簡在彼。陰陽見四難，輕重見五難。一脈變為四時，即十五難春弦、夏鉤、秋毛、冬石也。六十首，按《內經·方盛衰篇》曰：聖人持診之道，先後陰陽而持之，奇恆之勢，乃六十首。王注謂奇恆六十首，今世不存，則失其傳者，由來遠矣。</p>
<p>然：是其病有內外證。</p>
<p>此蓋答辭，然與前問不相蒙，當別有問辭也。</p>
<p>其病為之奈何？</p>
<p>問內外證之詳也。</p>
<p>然：假令得肝脈，其外證善潔，面青，善怒；其內證臍左有動氣，按之牢，若痛，其病四肢滿閉，淋溲，便難，轉筋，有是者肝也，無是者非也。</p>
<p>得肝脈，診得弦脈也。肝與膽合，為清淨之府，故善潔。肝為將軍之官，故善怒。善，猶喜好也。面青，肝之色也。此外證之色，脈情好也，臍左，肝之部也。按之牢者，若謂其動氣，按之堅牢而不移，或痛也。馮氏曰：肝氣䐜郁，則四支滿閉，《傳》曰風淫末疾是也。厥陰脈循陰器，肝病故溲便難。轉筋者，肝主筋也。此內證之部屬及所主病也。</p>
<p>假令得心脈，其外證面赤，口乾，喜笑；其內證齊上有動氣，按之牢，若痛，其病煩心，心痛，掌中熱而髎。有是者心也，無是者非也。</p>
<p>掌中，手心主脈所過之處。蓋真心不受邪，受邪者手心主爾。啘，乾嘔也。心病則火盛，故啘。經曰：諸逆衝上，皆屬於火。諸嘔吐酸，皆屬於熱。</p>
<p>假令得脾脈，其外證面黃，善噫，善思，善味；其內證當齊有動氣，按之牢，若痛，其病腹脹滿，食不消，體重節痛，怠惰嗜臥，四肢不收。有是者脾也，無是者非也。</p>
<p>《靈樞·口問篇》曰：噫者，寒氣客於胃，厥逆從下上散，復出於胃，故為噫。經曰：脾主四肢。</p>
<p>假令得肺脈，其外證面白，善嚏，悲愁不樂，欲哭；其內證齊右有動氣，按之牢，若痛，其病喘咳，灑淅寒熱。有是者肺也，無是者非也。</p>
<p>岐伯曰：陽氣和利，滿於心，出於鼻，故為嚏。灑淅寒熱，肺主皮毛也。</p>
<p>假令得腎脈，其外證面黑，善恐、欠；其內證齊下有動氣，按之牢，若痛，其病逆氣，小腹急痛，泄如下重，足脛寒而逆。有是者腎也，無是者非也。</p>
<p>腎氣不足則為恐，陰陽相引則為欠。泄而下重，少陰泄也。如讀為而。</p>
<p>十七難曰：經言病或有死，或有不治自愈，或連年月不已，其死生存亡，可切脈而知之耶？然：可盡知也。</p>
<p>此篇所問者三，答云：可盡知也。而止答病之死證，余無所見，當有闕漏。</p>
<p>診病若閉目不欲見人者，脈當得肝脈強急而長，而反得肺脈浮短而澀者，死也。</p>
<p>肝開竅於目，閉目不欲見人，肝病也。肝病見肺脈，金剋木也。</p>
<p>病若開目而渴，心下牢者，脈當得緊實而數，反得沉澀而微者，死也</p>
<p>病實而脈虛也。</p>
<p>病若吐血，復鼽衄者，脈當沉細，而反浮大而牢者，死也。</p>
<p>脫血脈實，相反也。</p>
<p>病若譫言妄語，身當有熱，脈當洪大，而反手足厥逆，脈沉細而微者，死也。</p>
<p>陽病見陰脈，相反也。</p>
<p>病若大腹而泄者，脈當微細而澀，反緊大而滑者，死也。</p>
<p>泄而脈大，相反也。大腹，腹脹也。</p>
<p>十八難曰：脈有三部，部有四經。手有太陰、陽明，足有太陽、少陰，為上下部，何謂也？有圖</p>
<p>此篇立問之意，謂人十二經脈凡有三部，每部之中有四經。今手有太陰、陽明，足有太陽、少陰，為上下部。何也？蓋三部者，以寸關尺分上中下也。四經者，寸關尺兩兩相比，則每部各有四經矣。手之太陰、陽明，足之太陽、少陰，為上下部者，肺居右寸，腎居左尺，循環相資，肺高腎下，母子之相望也。經云藏真高於肺，藏真下於腎是也。</p>
<p>然：手太陰、陽明，金也。足少陰、太陽，水也。金生水，水流下行而不能上，故在下部也。足厥陰、少陽，木也，生手太陽、少陰火，火炎上行而不能下，故為上部。手心主、少陽火，生足大陰、陽明土，土主中宮，故在中部也。此皆五行子母更相生養者也。</p>
<p>手太陰、陽明金，下生足太陽、少陰，水性下，故居下部。足少陰、太陽水，生足厥陰、少陽木，木生手少陰、太陽火，及手心主火，火炎上行，是為上部。火生足太陰、陽明土，土居中部，復生肺金。此五行子母更相生養者也。此皆因手太陰、陽明，足太陽、少陰，為上下部，道推廣五行相生之大，越人亦以五臟生成之後，曰其部分之高下而推言之，非謂未生之前，必待如是而後生成也。而又演為三部之說，即四難所謂心肺俱浮，肝腎俱沉，脾者中州之意。但彼直以藏言，此以經言，而臟腑兼之。以上問答明經此下二節，俱不相蒙，疑他經錯簡。</p>
<p>脈有三部九候，各何主之？然：三部者，寸關尺也。九候者，浮中沉也。上部法天，主胸以上至頭之有疾也。中部法人，主膈以下至齊之有疾也。下部法地，主臍以下至足之有疾也。審而刺之者也。</p>
<p>謝氏曰：此一節，當是十六難中答辭錯簡在此，而剩出脈有三部九候，各何主之十字。審而刺之，紀氏云：欲診脈動而中病，不可不審，故曰審而刺之。刺者，言其動而中也。陳萬年傳曰：刺候謂中其候。與此義同。或曰：刺，針刺也。謂審其部而針刺之。</p>
<p>人病有沉滯久積聚，可切脈而知之耶？</p>
<p>此下問答，亦未詳所屬。或曰：當是十七難中或連年月不已答辭。</p>
<p>然：診在右脅有積氣，得肺脈結，脈結甚則積甚，結微則氣微。</p>
<p>結為積聚之脈，肺脈見結，知右脅有積氣。右脅，肺部也。積氣有微甚，脈從而應之。</p>
<p>診不得肺脈，而右脅有積氣者何也？然：肺脈雖不見，右手當沉伏。</p>
<p>肺脈雖不見結，右手脈當見沉伏。沉伏亦積聚脈，右手所以候里也。</p>
<p>其外痼疾同法那？將異也？</p>
<p>此承上文，復問外之痼疾，與內之積聚，法將同異。</p>
<p>然：結者，脈來去時一止，無常數，名曰結也。伏者，脈行筋下也。浮者，脈在肉上行也。左右表裡，法皆如此。</p>
<p>結為積聚，伏脈行筋下主裡，浮脈行骨上主表，所以異也，前舉右脅為例，故此云左右同法。</p>
<p>假令脈結伏者，內無積聚，脈浮結者，外無痼疾。有積聚脈不結伏，有痼疾脈不浮結，為脈不應病。病不應脈，是為死病也。</p>
<p>有是脈，無是病，有是病，無是脈，脈病不相應，故為死病也。</p>
<p>十九難曰：經言脈有逆順，男女有恆，而反者，何謂也？</p>
<p>恆，胡登反，常也。脈有逆順，據男女相比而言也。男脈在關上，女脈在關下；男子尺脈恆弱，女子尺脈恆盛，此男女之別也。逆順云者，男之順，女之逆也；女之順，男不同也。雖然，在男女則各有常矣。反，謂反其常也。</p>
<p>然：男子生於寅，寅為木，陽也。女子生於申，申為金，陰也。故男脈在關上，女脈在關下。是以男子尺脈恆弱，女子尺脈恆盛，是其常也。有圖</p>
<p>此推本生物之初，而言男女陰陽也。紀氏曰：生物之初，其本原皆始於子。子者萬物之所以始也。自子推之，男左旋三十而至於巳，女右旋二十而至於巳，是男女婚姻之數也。自巳而懷娠，男左旋十月而生於寅，寅為木，陽也；女右旋十月而生於申，申為金，陰也。謝氏曰：寅為木，木生火，又火生在寅，而性炎上，故男脈在關上。申為金，金生水，又水生於申，而性流下，故女脈在關下。愚謂陽之體輕清而升，天道也，故男脈在關上；陰之體重濁而降，地道也，故女脈在關下。此男女之常也。</p>
<p>反者，男得女脈，女得男脈也。</p>
<p>男女異常，是謂之反。</p>
<p>其為病何如？</p>
<p>問反之為病也。</p>
<p>然：男得女脈為不足，病在內，左得之病在左，右得之病在右，隨脈言之也。女得男脈為太過，病在四肢，左得之病在左，右得之病在右，隨脈言之，此之謂也。</p>
<p>其反常，故太過不及，在內在外之病見焉。</p>
<p>二十難曰：經言脈有伏匿，伏匿於何藏而言伏匿耶？然：謂陰陽更相乘更相伏也。脈居陰部而反陽脈見者，為陽乘陰也，脈雖時沉澀而短，此謂陽中伏陰也。脈居陽部而反陰脈見者，為陰乘陽也，脈雖時浮滑而長，此謂陰中伏陽也。</p>
<p>居，猶在也，當也。陰部尺，陽部寸也。乘，猶乘車之乘，出於其上也。伏，猶伏兵之伏，隱於其中也。匿，藏也。丁氏曰：此非特言寸為陽尺為陰，以上下言，則肌肉之上為陽部，肌肉之下為陰部，亦通。</p>
<p>重陽者狂，重陰者癲。脫陽者見鬼，脫陰者目盲。</p>
<p>此五十九難之文，錯簡在此。</p>
<p>二十一難曰。經言人形病脈不病曰生。脈病形不病曰死。何謂也？然：人形病脈不病非有不病者也。謂息數不應脈數也。此大法。</p>
<p>周仲立曰：形體之中覺見憔悴，精神昏憒，食不忺美，而脈得四時之從，無過不及之偏，是人病脈不病也。形體安和，而脈息乍大乍小，或至或損，弦緊浮滑沉澀不一，殘賊沖和之氣，是皆脈息不與形相應，乃脈病人不病也。仲景云：人病脈不病，名曰內虛，以無穀氣，神雖困無苦。脈病人不病，名曰行屍，以無王氣，卒眩僕不識人，短命則死。謝氏曰：按《本經》答文，詞意不屬，似有脫誤。</p>
<p>二十二難曰：經言脈有是動，有所生病，一脈變為二病者、何也？然：經言是動者，氣也；所生病者，血也。邪在氣，氣為是動；邪在血，血為所生病。氣主呴之，血主濡之。氣留而不行者，為氣先病也；血壅而不濡者，為血後病也。故先為是動，後所生也。</p>
<p>呴，香句反。濡，平聲。呴，煦也。氣主呴之，謂氣煦噓往來，薰蒸於皮膚分肉也。血主濡之，謂血濡潤筋骨，滑利關節，榮養臟腑也。此脈字，非尺寸之脈，乃十二經隧之脈也。此謂十二經隧之脈，每脈中輒有二病者，蓋以有在氣在血之分也。邪在氣，氣為是而動；邪在血，血為所生病。氣留而不行為氣病，血壅而不濡為血病。故先為是動，後所生病也。先後云者，抑氣在外，血在內，外先受邪，則內亦從之而病歟？然邪亦有隻在氣，亦有徑在血者，又不可以先後拘也。</p>
<p>《經》第十篇。</p>
<p>二十三難曰：手足三陰三陽，脈之度數，可曉以不？然：手三陽之脈，從手至頭，長五尺，五六合三丈。手三陰之脈，從手至胸中，長三尺五寸，三六一丈八尺，五六三尺，合二丈一尺。足三陽之脈，從足至頭，長八尺，六八四丈八尺。足三陰之脈，從足至胸，長六尺五寸，六六三丈六尺，五六三尺，合三丈九尺。人兩足蹻脈，從足至目，長七尺五寸，二七一丈四尺，二五一尺，合一丈五尺。督脈、任脈各長四尺五寸，二四八尺，二五一尺，合九尺。凡脈長一十六丈二尺。此所謂十二經脈長短之數也。</p>
<p>此《靈樞》廿七篇全文。三陰三陽，《靈樞》皆作六陰六陽，義尤明白。按經脈之流注，則手之三陽，從手走至頭；手之三陰，從腹走至手。足之三陽，從頭下走至足；足之三陰，從足上走入腹。此舉經脈之度數，故皆自手足。言人兩足蹻脈，指陰蹻也。陰蹻脈起於跟中，自然骨之後，上內踝之上，直上循陰股入陰器，循腹，上胸裡，行缺盆，出人迎之前，入頄內廉，屬目內眥，合太陽脈，為足少陰之別絡也。足三陽之脈，從足至頭，長八尺。《考工記》亦云：人身長八尺。蓋以同身尺寸言之。</p>
<p>經脈十二，絡脈十五，何始何窮也？然：經脈者，行血氣，通陰陽，以榮於身者也。其始從中焦，注手太陰、陽明，陽明注足陽明、太陰，太陰注手少陰、太陽，太陽注足太陽、少陰，少陰注手心主、少陽，少陽注足少陽、厥陰，厥陰復還注手太陰。別絡十五，皆因其原，如環無端，轉相灌溉，朝於寸口人迎，以處百病而決死生也。有圖</p>
<p>因者，隨也。原者，始也。朝，猶朝會之朝。以，用也。因上文經脈之尺度，而推言經絡之行度也。直行者謂之經，旁出者謂之絡。十二經有十二絡，兼陽絡陰絡，脾之大絡，為十五絡也。謝氏曰：始從中焦者，蓋謂飲食入口，藏於胃，其精微之化注手太陰、陽明，以次相傳，至足厥陰，厥陰復還注手太陰也。絡脈十五：蓋隨十二經脈之所始，轉相灌溉。如環之無端，朝於寸口、人迎，以之處百病而決死生也。寸口、人迎，古法以俠喉兩旁動脈為人迎，至晉王叔和直以左手關前一分為人迎，右手關前一分為氣口，後世宗之。愚謂昔人所以取人迎、氣口者，蓋人迎為足陽明胃經，受穀氣而養五臟者也；氣口為手太陰肺經，朝百脈而平權衡者也。</p>
<p>經云：明知終始，陰陽定矣，何謂也？然：始終者，脈之紀也。寸口、人迎，陰陽之氣通於朝使，如環無端，故曰始也。終者，三陰三陽之脈絕，絕則死，死各有形，故曰終也。</p>
<p>謝氏曰：《靈樞經》第九篇曰：凡刺之道，畢於終始，明知終始，五臟為紀，陰陽定矣。又曰：不病者，脈口人迎應四時也。少氣者，脈口人迎俱少，而不稱尺寸也。此一節，因上文寸口人迎處百病決死生而推言之。謂欲曉知終始，於陰陽為能定之。蓋以陽經取決於人迎，陰經取決於氣口也。朝使者，朝謂氣血如水潮，應時而灌溉；使謂陰陽相為用也。始，如生物之始；終，如生物之窮。欲知生死，脈以候之。陰陽之氣通於朝使，如環無端，則不病。一或不相朝使，則病矣。況三陰三陽之脈絕乎？絕必死矣。其死之形狀，具如下篇，尤宜參看。</p>
<p>二十四難曰：手足三陰三陽氣已絕，何以為候？可知其吉凶不？然：足少陰氣絕即骨枯。少陰者，冬脈也，伏行而溫於骨髓。故骨髓不溫，即肉不著骨；骨肉不相親，即肉濡而卻；肉濡而卻，故齒長而枯，發無潤澤；無潤澤者，骨先死，戊日篤，己日死。</p>
<p>此下六節，與《靈樞》第十篇，文皆大同小異。濡讀為軟。腎其華在發，其充在骨，腎絕則不能充於骨，榮於發。肉濡而卻，謂骨肉不相著而肉濡縮也。戊己，土也。土勝水，故以其所勝之日篤而死矣。</p>
<p>足太陰氣絕，則脈不營其口唇。口唇者，肌肉之本也。脈不營則肌肉不滑澤，肌肉不潤澤則肉滿，肉滿則唇反，唇反則肉先死，甲日篤，乙日死。</p>
<p>脾，其華在唇四白，其充在肌，脾絕則肉滿唇反也。肉滿，謂肌肉不滑澤，而緊急䐜䐜也。</p>
<p>足厥陰氣絕，即筋縮引卵與舌卷。厥陰者，肝脈也。肝者，筋之合也。筋者，聚於陰器而絡於舌本。故脈不營則筋縮急，筋縮急即引卵與舌，故舌卷卵縮，此筋先死，庚日篤，辛日死。</p>
<p>肝者脈之合，其華在爪，其充在筋。筋者，聚於陰器而絡於舌本，肝絕則筋縮引卵與舌也。王充《論衡》云：甲乙病者，生死之期，常之庚辛。</p>
<p>手太陰氣絕，即皮毛焦。太陰者肺也，行氣溫於皮毛者也。氣弗營則皮毛焦，皮毛焦則津液去，津液去即皮節傷，皮節傷則皮枯毛折，毛折者則毛先死，丙日篤，丁日死。</p>
<p>肺者氣之本，其華在毛，其充在皮。肺絕則皮毛焦而津液去、皮節傷，以諸液皆會於節也。</p>
<p>手少陰氣絕則脈不通，脈不通則血不流，血不流則色澤去，故面色黑如黧，此血先死，壬日篤，癸日死。</p>
<p>心之合脈也，其榮色也，其華在面，其充在血脈。心絕則脈不通，血不流，色澤去也。</p>
<p>三陰氣俱絕者，則目眩轉目瞑，目瞑者為失志，失志者則志先死，死即目瞑也。</p>
<p>三陰通手足經而言也。《靈樞》十篇作五陰氣俱絕，則以手厥陰與手少陰同心經也。目眩轉目瞑者，即所謂脫陰者目盲，此又其甚者也。故云目瞑者失志，而志先死也。四明陳氏曰：五臟陰氣俱絕，則其志喪於內，故精氣不注於目，不見人而死。</p>
<p>六陽氣俱絕者，則陰與陽相離。陰陽相離，則腠理泄，絕汗乃出，大如貫珠，轉出不流，即氣先死。旦占夕死，夕占旦死。</p>
<p>汗出而不流者，陽絕故也。陳氏曰：六腑陽氣俱絕，則氣敗於外，故津液脫而死。</p>
<p>二十五難曰：有十二經，五臟六腑十一耳，其一經者，何等經也？然：一經者，手少陰與心主別脈也。心主與三焦為表裡，俱有名而無形，故言經有十二也。</p>
<p>此篇問答，謂五臟六腑配手足之陰陽，但十一經耳。其一經者，則以手少陰與心主各別為一脈，心主與三焦為表裡，俱有名而無形。以此一經並五臟六腑，共十二經也。謝氏曰：《難經》言手少陰心主與三焦者，凡八篇：三十一難分豁三焦經脈，所始所終。三十六難言腎之有兩，左曰腎，右曰命門。初不以左右腎分兩手尺脈。三十八難言三焦者，原氣之別，主持諸氣，復申言其有名無形。三十九難言命門者，精神之所舍，男子藏精，女子系胞，其氣與腎通。又云：六腑止有五臟，三焦亦是一腑。八難、六十二、六十六三篇，言腎間動氣者，人之生命，十二經之根本也，其名曰原，三焦則原氣之別使也。通此篇參互觀之，可見三焦列為六腑之義，唯其有名無形，故得與手心主合。心主為手厥陰，其經始於起胸中，終於循小指次指出其端，若手少陰，則始於心中，終於循小指之內出其端。此手少陰與心主各別為一脈也。</p>
<p>或問：手厥陰經曰心主，又曰心包絡，何也？曰：君火以名，相火以位，手厥陰代君火行事，以用而言，故曰手心主。以經而言，則曰心包絡。一經而二名，實相火也。</p>
<p>虞庶云：諸家言命門為相火，與三焦相表裡。按《難經》止言手心主與三焦為表裡，無命門三焦表裡之說。夫左寸火，右寸金；左關木，右關土；左尺水，右尺火，職之部位，其義灼然。於乎！如虞氏此說，則手心主與三焦相為表裡，而攝行君火明矣。三十六難謂命門其氣與腎通，則亦不離乎腎也，其習坎之謂歟！手心主為火之閏位，命門則水之同氣歟！命門不得為相火，三焦不與命門配，亦明矣。虞氏之說，良有旨哉。諸家所以紛紛不決者。蓋有惑於金匱真言篇王注引正理論，謂三焦者有名無形，上合手心主，下合右腎，遂有命門三焦表裡之說。夫人之臟腑，一陰一陽，自有定耦，豈有一經兩配之理哉？夫所謂上合手心主者，正言其為表裡；下合右腎者，則以三焦為原氣之別使而言之爾。知此則知命門與腎通，三焦無兩配。而諸家之言，可不辨而自明矣。若夫診脈部位，則手厥陰相火居右尺之分，而三焦同之。命門既與腎通，只當居左尺。而謝氏據《脈經》，謂手厥陰即手少陰心脈同部，三焦脈上見寸口，中見於關，下焦與腎同也。前既云初不以左右腎分兩手尺脈矣，今如《脈經》所云，則右尺當何所候耶？</p>
<p>二十六難曰：經有十二，絡有十五，餘三絡者，是何等絡也？然：有陽絡，有陰絡，有脾之大絡。陽絡者，陽蹻之絡也。陰絡者，陰蹻之絡也。故絡有十五焉。</p>
<p>直行者謂之經，傍出者謂之絡。經猶江漢之正流，絡則沱潛之支派。每經皆有絡，十二經有十二絡。如手太陰屬肺，絡大腸；手陽明屬大腸，絡肺之類。今云絡有十五者，以其有陽蹻之絡，陰蹻之絡，及脾之大絡也。陽蹻陰蹻，見二十八難。謂之絡者，蓋奇經既不拘於十二經，直謂之絡，亦可也。脾之大絡，名曰大包，出淵腋三寸，布胸脅，其動應衣，宗氣也。四明陳氏曰：陽蹻之絡，統諸陽絡。陰蹻之絡，統諸陰絡。脾之大絡，又總統陰陽諸絡，由脾之能溉養五臟也。</p>
<p>二十七難曰：脈有奇經八脈者，不拘於十二經何也？然：有陽維，有陰維，有陽蹻，有陰蹻，有沖，有督，有任，有帶之脈。凡此八脈者，皆不拘於經，故曰奇經八脈也。</p>
<p>脈有奇常。十二經者，常脈也。奇經八脈，則不拘於十二經，故曰奇經。奇，對正而言，猶兵家之云奇正也。虞氏曰：奇者，奇零之奇，不偶之義。謂此八脈，不繫正經陰陽，無表裡配合，別道奇行，故曰奇經也。此八脈者，督脈督於後，任脈任於前，衝脈為諸陽之海，陰陽維則維絡於身，帶脈束之如帶，陽蹻得之太陽之別，陰蹻本諸少陰之別云。</p>
<p>經有十二，絡有十五，凡二十七。氣相隨上下，何獨不拘於經也？然：聖人圖設溝渠，通利水道，以備不然。天雨降下，溝渠溢滿，當此之時，滂沛妄作，聖人不能復圖也。此絡脈滿溢，諸經不能復拘也。</p>
<p>經絡之行，有常度矣。奇經八脈，則不能相從也。故以聖人圖設溝渠為譬，以見脈絡滿溢，諸經不能復拘，而為此奇經也。然則奇經，蓋絡脈之滿溢而為之者歟！或曰：此絡脈三字，越人正指奇經而言也。既不拘於經，直謂之絡脈，亦可也。</p>
<p>此篇兩節，舉八脈之名，及所以為奇經之義。</p>
<p>二十八難曰：其奇經八脈者，既不拘於十二經，皆何起何繼也？然：督脈者，起於下極之俞，並於脊裡，上至風府，入屬於腦。任脈者。起於中極之下，以上毛際，循腹裡，上關元，至咽喉。衝脈者，起於氣衝，並足陽明之經，夾臍上行，至胸中而散也。帶脈者，起於季脅，回身一周。陽蹻脈者，起於跟中，循外踝上行，入風池。陰蹻脈者，亦起於跟中，循內踝上行，至咽喉，交貫衝脈。陽維陰維者，維絡於身，溢畜不能環流灌溉諸經者也。故陽維起於諸陽會也，陰維起於諸陰交也。比於聖人圖設溝渠，溝渠滿溢，流於深湖，故聖人不能拘通也。而人脈隆盛，入於八脈而不環周，故十二經亦不能拘之。其受邪氣，畜則腫熱，砭射之也。</p>
<p>繼脈經作系。督之為言都也，為陽脈之海，所以都綱乎陽脈也。其脈起下極之俞，由會陰曆長強，循脊中行，至大椎穴，與手足三陽脈之交會，上至喑門，與陽維會，至百會與太陽交會，下至鼻柱人中，與陽明交會。任脈起於中極之下曲骨穴。任者妊也，為人生養之本。衝脈起於氣衝穴，至胸中而散，為陰脈之海。《內經》作並足少陰之經。按衝脈行乎幽門、通谷而上，皆少陰也，當從《內經》。此督、任、沖三脈，皆起於會陰，蓋一源而分三歧也。帶脈起季脅下一寸八分，回身一周，猶束帶然。陽蹻脈起於足跟中申脈穴，循外踝而行。陰蹻脈亦於跟中照海穴，循內踝而行。蹻者，捷也。以二脈皆起於足，故取蹻捷超越之義。陽維陰維，維絡於身，為陰陽之綱維也。陽維所發，別於金門，以陽交為郄，與手足太陽及蹻脈會於臑俞，與手足少陽會於天窌，及會肩井，與足少陽會於陽白，上本神、臨泣、正營、腦空，下至風池，與督脈會於風府、瘂門。此陽維之起於諸陽之會也。陰維之郄，曰築賓，與足太陰會於腹哀、大橫，又與足太陰、厥陰會於府舍、期門，又與任脈會於天突、廉泉。此陰維起於諸陰之交也。「溢畜不能環流灌溉諸經者也」十二字，當在十二經亦不能拘之之下，則於此無所間，而於彼得相從矣。其受邪氣畜云云十二字，謝氏則以為於本文上下當有缺文。然《脈經》無此，疑衍文也。或云當在三十七難關格不得盡其命而死矣之下，因邪在六腑而言也。</p>
<p>二十九難曰：奇經之為病何如？然：陽維維於陽，陰維維於陰。陰陽不能自相維，則悵然失志，溶溶不能自收持。陽維為病，苦寒熱。陰維為病，苦心痛。陰蹻為病，陽緩而陰急。陽蹻為病，陰緩而陽急。沖之為病，逆氣而裡急。督之為病，脊強而厥。任之為病，其內苦結，男子為七疝，女子為瘕聚。帶之為病，腹滿，腰溶溶若坐水中。此奇經八脈之為病也。（陽維為病云云十四字，說見缺誤總類。）</p>
<p>此言奇經之病也。陰不能維於陰，則悵然失志。陽不能維於陽，則溶溶不能自收持。陽維行諸陽而主衛，衛為氣，氣居表，故苦寒熱。陰維行諸陰而主榮，榮為血，血屬心，故苦心痛。兩蹻脈，病在陽則陽結急，在陰則陰結急。受病者急，不病者自和緩也。衝脈從關元至咽喉，故逆氣裡急。督脈行背，故脊強而厥。任脈起胞門行腹，故病苦內結，男為七疝，女為瘕聚也。帶脈回身一周，故病狀如是溶溶無力貌。此各以其經脈所過而言之。自二十七難至此，義實相因，最宜通玩。</p>
<p>三十難曰：榮氣之行，常與衛氣相隨不？然：經言人受氣於谷，谷入於胃，乃傳於五臟六腑。五臟六腑，皆受於氣，其清者為榮，濁者為衛，榮行脈中，衛行脈外。營周不息，五十而復大會，陰陽相貫，如環之無端。故知榮衛相隨也。有圖</p>
<p>此篇與《靈樞》第十八篇岐伯之言同，但谷入於胃，乃傳於五臟六腑，五臟六腑，皆受於氣，《靈樞》作谷入於胃，以傳與肺，五臟六腑，皆以受氣，為少殊爾。皆受於氣之氣，指水穀之氣而言。五十而復大會，說見一難中。四明陳氏曰：榮，陰也，其行本遲。衛，陽也，其行本速。然而清者滑利，濁者剽悍，皆非澀滯之體。故凡衛行於外，榮即從行於中，是知其行常得相隨，共周其度。滹南王氏曰：清者，體之上也，陽也，火也。離中之一陰降，故午後一陰生，即心之生血也。故曰清氣為榮。（天之清不降，地之濁能降，為六陰驅而使之下也。云清氣者，總離之體言之。）濁者體之下也，陰也，水也。坎中之一陽升，故子後一陽生，即腎之生氣也。故曰濁氣為衛。（地之濁不升，地之清能升，為六陽舉而使之上也。云濁氣者，總坎之體言之。）經云：地氣上為云，天氣下為雨，雨出地氣，云出天氣，此之謂也。愚謂以用而言，則清氣為榮者，濁中之清者也；濁氣為衛者，清中之濁者也。以體而言，則清之用不離乎濁之體，濁之用不離乎清之體。故謂清氣為榮，濁氣為衛，亦可也。謂榮濁衛清，亦可也。紀氏亦云：《素問》曰：榮者水穀之精氣則清，衛者水穀之悍氣則濁。精氣入於脈中則濁，悍氣行於脈外則清。或問：三十二難云：血為榮，氣為衛。此則榮衛皆以氣言者，何也？曰：經云：榮者水穀之精氣，衛者水穀之悍氣。又云：清氣為榮，濁氣為衛。蓋統而言之，則榮衛皆水穀之氣所為，故悉以氣言可也；析而言之，則榮為血，而衛為氣。固自有分矣。是故榮行脈中，衛行脈外，猶水澤之於川澮，風雲之於太虛也。</p>

<h1>下卷</h1>
<p>三十一難曰：三焦者何稟何生？何始何終？其治常在何許？可曉以不？然：三焦者，水穀之道路，氣之所終始也。上焦者，在心下下膈，在胃上口，主內而不出。其治在膻中，玉堂下一寸六分，直兩乳間陷者是。中焦者，在胃中脘，不上不下，主腐熟水穀，其治在臍傍。下焦者，當膀胱上口，主分別清濁，主出而不內，以傳道也，其治在臍下一寸。故名曰三焦，其府在氣街。（一本作沖）</p>
<p>人身之腑臟，有形有狀，有稟有生。如肝稟氣於木，生於水；心稟氣於火，生於木之類，莫不皆然。唯三焦既無形狀，而所稟所生，則元氣與胃氣而已。故云水穀之道路，氣之所終始也。上焦其治在膻中，中焦其治在臍傍天樞穴，下焦其治在臍下一寸陰交穴。治，猶司也，猶郡縣治之治，謂三焦處所也。或云治作平聲。謂讀三焦有病，當各治其處，蓋刺法也。三焦，相火也。火能腐熟萬物，焦從火，亦腐物之氣，命名取義，或有在於此歟？《靈樞》第十八篇曰：上焦出於胃上口，並咽以上，貫膈而布胸中，走腋，循太陰之分而行，還至陽明，上至舌下。足陽明常與營衛俱行於陽二十五度，行於陰亦二十五度，一周也。故五十度而復大會於手太陰矣。中焦亦傍胃口，出上焦之後，此所受氣者，泌糟粕蒸津液，化其精微，上注於肺脈，乃化而為血，以養生身，莫貴於此。故獨得行於經隧，命曰營氣。下焦者，別迴腸，注於膀胱而滲入焉。故水穀者，常並居於胃中，成糟粕而俱下於大小腸，而成下焦。滲而俱下，濟泌別汁，循下焦而滲入膀胱焉。謝氏曰：詳《靈樞》本文，則三焦有名無形，尤可見矣。古益袁氏曰：所謂三焦者，於膈膜脂膏之內，五臟五腑之隙，水穀流化之關，其氣融會於其間，熏蒸膈膜，發達皮膚分肉，運行四旁，曰上中下，各隨所屬部分而名之，實元氣之別使也。是故雖無其形，倚內外之形而得名；雖無其實，合內外之實而為位者也。愚按：其府在氣街一句，疑錯簡，或衍。三焦自屬諸府，其經為手少陽與手心主配，且各有治所，不應又有府也。</p>
<p>三十二難曰：五臟俱等，而心肺獨在鬲上者何也？然：心者血，肺者氣，血為榮，氣為衛，相隨上下，謂之榮衛，通行經絡，營周於外，故令心肺在鬲上也。</p>
<p>心榮肺衛，通行經絡，營周於外，猶天道之運於上也。鬲者隔也，凡人心下有鬲膜，與脊脅周迴相著，所以遮隔濁氣，不使上薰於心肺也。四明陳氏曰：此特言其位之高下耳。若以五臟德化論之，則尤有說焉。心肺既能以血氣生育人身，則此身之父母也。以父母之尊，亦自然居於上矣。《內經》曰：鬲肓之上，中有父母。此之謂也。</p>
<p>三十三難曰：肝青象木，肺白象金。肝得水而沉，木得水而浮；肺得水而浮，金得水而沉，其意何也？然：肝者，非為純木也，乙角也。庚之柔，大言陰與陽，小言夫與婦，釋其微陽而吸其微陰之氣，其意樂金，又行陰道多，故令肝得水而沉也。肺者，非為純金也，辛商也，丙之柔，大言陰與陽，小言夫與婦，釋其微陰，婚而就火，其意樂火，又行陽道多，故令肺得水而浮也。肺熟而復沉，肝熟而復浮者何也？故知辛當歸庚，乙當歸甲也。（有圖）</p>
<p>四明陳氏曰：肝屬甲乙木，應角音而重濁。析而言之，則甲為木之陽，乙為木之陰；合而言之，則皆陽也。以其屬少陽而位於人身之陰分，故為陰中之陽。夫陽者必合陰，甲乙之陰陽，本自為配合，而乙與庚通，剛柔之道，乙乃合甲之微陽，而反樂金，故吸受庚金微陰之，為之夫婦。木之性本浮，以其受金之氣而居陰道，故得水而沉也。及熟之，則所受金之氣去，乙復歸之甲，而木之本體自然還浮也。肺屬庚辛金，應商音而輕清。析而言之，則庚為金之陽，辛為金之陰；合而言之，則皆陰也。以其屬太陰而位於人身之陽分，故為陽中之陰。夫陰者必合陽，庚辛之陰陽，本自為配合，而辛與丙通，剛柔之道，辛乃合庚之微陰，而反樂夫火，故就丙火之陽，為之夫婦。金之性本沉，以其受火之氣，炎上而居陽道，故得水而浮也。及熟之，則所受火之氣乃去，辛復歸之庚，而金之本體自然還沉也。古益袁氏曰：肝為陰木，乙也。肺為陰金，辛也。角商各其音也。乙與庚合，丙與辛合，猶夫婦也。故皆暫舍其本性，而隨夫之氣習，以見陰陽相感之義焉。況肝位鬲下，肺居鬲上，上陽下陰，所行之道，性隨而分，故木浮而反肖金之沈，金沈而反肖火之上行而浮也。凡物極則反，及其經制化變革，則歸根覆命焉。是以肝肺熟而各肖其木金之本性矣。紀氏曰：肝為陰中之陽，陰性尚多，不隨於木，故得水而沉也。肺為陽中之陰，陽性尚多，不隨於金，故得水而浮也。此乃言其大者耳。若言其小，則乙庚丙辛，夫婦之道也。及其熟而沉浮反者，各歸所屬，見其本性故也。周氏曰：肝畜血，血，陰也，多血少氣，體凝中窒，雖有脈絡內經，非玲瓏空虛之比，故得火而沉也。及其熟也，濡而潤者，轉為乾燥，凝而窒者，變為通虛，宜其浮也。肺主氣，氣，陽也，多氣少血，體四垂而輕泛，孔竅玲瓏，脈絡旁達，故得水而浮也。熟則體皆揪斂，孔竅窒實，輕舒者變而緊縮，宜其沉也。斯物理之當然，與五行造化，默相符合耳。謝氏曰：此因物之性而推其理也。愚謂肝為陽，陰中之陽也，陰性尚多，故曰微陽。其居在下，行陰道也。肺為陰，陽中之陰也，陽性尚多，故曰微陰。其居在上，行陽道也。熟則無所樂而反其本矣。何也？物熟而相交之氣散也。</p>
<p>三十四難曰：五臟各有聲色臭味，皆可曉知以不？然：十變言肝色青，其臭臊，其味酸，其聲呼，其液泣。心色赤，其臭焦，其味苦，其聲言，其液汗。脾色黃，其臭香，其味甘，其聲歌，其液涎。肺色白，其臭腥，其味辛，其聲哭，其液涕。腎色黑，其臭腐，其味鹹，其聲呻，其液唾。是五臟聲色臭味也。（有圖）</p>
<p>此五臟之用也。聲色臭味下欠液字。肝色青臭臊，木化也。呼，出木也。味酸，曲直作酸也。液位，通乎目也。心色赤臭焦，火化也。言，揚火也。味苦，炎上作苦也。液汗，心主血，汗為血之屬也。脾色黃臭香，土化也。歌，緩土也。一云脾神好樂，故其聲主歌。味甘，稼穡作甘也。液涎，通乎口也。肺色白臭腥，金化也。哭，慘金也。味辛，從革作辛也。液涕，通乎鼻也。腎色黑臭腐，水化也。呻，吟誦也，象水之聲。味鹹，潤下作咸也。液唾，水之屬也。四明陳氏曰：腎位遠，非呻之則氣不得及於息，故聲之呻者，自腎出也。然肺主聲，肝主色，心主臭，脾主味，腎主液，五臟錯綜互相有之，故云十變也。</p>
<p>五臟有七神，各何所臟耶？然：臟者，人之神氣所舍臟也。故肝藏魂，肺藏魄，心藏神，脾藏意與智，腎藏精與志也。</p>
<p>臟者藏也，人之神氣藏於內焉。魂者，神明之輔弼也，隨神往來謂之魂。魄者，精氣之匡佐也，並精而出入者謂之魄。神者，精氣之化成也，兩精相薄謂之神。脾主思，故藏意與智。腎者作強之官，伎巧出焉，故藏精與志也。此因五臟之用而言五臟之神，是故五用著於外，七神蘊於內也。</p>
<p>三十五難曰：五臟各有所，府皆相近，而心、肺獨去大腸、小腸遠者，何也？然：經言心榮肺衛，通行陽氣，故居在上；大腸小腸傳陰氣而下，故居在下。所以相去而遠也。</p>
<p>心榮肺衛，行陽氣而居上。大腸小腸傳陰氣而居下，不得不相遠也。</p>
<p>又諸府者，皆陽也，清淨之處。今大腸、小腸、胃與膀胱，皆受不淨，其意何也？</p>
<p>又問諸府既皆陽也，則當為清淨之處，何故大腸、小腸、胃與膀胱，皆受不淨耶？</p>
<p>然：諸府者，謂是非也。經言：小腸者，受盛之府也。大腸者，傳瀉行道之府也。膽者，清淨之府也。胃者，水穀之府也。膀胱者，津液之府也。一腑猶無兩名，故知非也。小腸者，心之府。大腸者，肺之府。膽者，肝之府。胃者，脾之府。膀胱者，腎之府。</p>
<p>謂諸府為清淨之處者，其說非也。今大腸、小腸、胃與膀胱，各有受任，則非陽之清淨矣。各為五臟之府，固不得而兩名也。蓋諸府體為陽而用則陰，經所謂濁陰歸六腑是也。云諸府皆陽，清淨之處，唯膽足以當之。</p>
<p>小腸謂赤腸，大腸謂白腸，膽者謂青腸，胃者謂黃腸，膀胱者謂黑腸，下焦之所治也。</p>
<p>此以五臟之色分別五腑，而皆以腸名之也。下焦所治一旬，屬膀胱，謂膀胱當下焦所治，主分別清濁也。</p>
<p>三十六難曰：藏各有一耳，腎獨有兩者，何也？然：腎兩者，非皆腎也，其左者為腎，右者為命門。命門者，諸神精之所舍，原氣之所繫也，男子以藏精，女子以系胞，故知腎有一也。</p>
<p>腎之有兩者，以左者為腎，右者為命門也。男子於此而藏精，受五臟六腑之精而藏之也；女子於此而系胞，是得精而能施化，胞則受胎之所也。原氣，謂齊下腎間動氣，人之生命，十二經之根本也。此篇非皆腎也，三十九難亦言左為腎，右為命門，而又云其氣與腎通，是腎之兩者，其實則一耳。故《項氏家說》引沙隨程可久曰：北方常配二物，故惟坎加習，於物為龜為蛇，於方為朔為北，於大玄為罔為冥。《難經》曰：藏有一而腎獨兩。此之謂也。</p>
<p>此通三十八、三十九難諸篇，前後參考，其義乃盡。</p>
<p>三十七難曰：五臟之氣，於何發起，通於何許，可曉以不？然：五臟者，當上關於九竅也。故肺氣通於鼻，鼻和則知香臭矣；肝氣通於目，目和則知黑白矣；脾氣通於口，口和則知穀味矣；心氣通於舌，舌和則知五味矣；腎氣通於耳，耳和則知五音矣。</p>
<p>謝氏曰：本篇問五臟之氣於何發起，通於何許，答文止言五臟通九竅之義，而不及五臟之發起，恐有缺文。愚按五臟發起，當如二十三難流注之說。上關九竅，《靈樞》作七竅者是。下同。</p>
<p>五臟不和，則九竅不通。六腑不和，則留結為癰。</p>
<p>此二句，結上起下之辭。五臟陰也，陰不和則病於內。六腑陽也，陽不和則病於外。</p>
<p>邪在六腑，則陽脈不和；陽脈不和，則氣留之；氣留之，則陽脈盛矣。邪在五臟。則陰脈不和；陰脈不和，則血留之；血留之，則陰脈盛矣，陰氣太盛，則陽氣不得相營也，故曰格。陽氣大盛，則陰氣不得相營也，故曰關。陰陽俱盛，不得相營也，故曰關格。關格者，不得盡其命而死矣。</p>
<p>此與《靈樞》十七篇文大同小異。或云二十八難「其受邪氣，畜則腫熱，砭射之也」十二字當為此章之結語。蓋陰陽之氣太盛，而至於關格者，必死。若但受邪氣，畜則宜砭射之。其者，指物之辭，因上文六腑不和，及邪在六腑而言之也。</p>
<p>經言氣獨行於五臟，不營於六腑者，何也？然：夫氣之所行也，如水之流，不得息也。故陰脈營於五臟，陽脈營於六腑，如環無端，莫知其紀，終而復始，其不覆溢，人氣內溫於臟腑，外濡於腠理。</p>
<p>此因上章營字之意而推及之也，亦與《靈樞》十七篇文大同小異。所謂氣行於五臟，不營於六腑者，非不營於六腑也，謂在陰經則營於五臟，在陽經則營於六腑。脈氣周流，如環無端，則無關格覆溢之患，而人之氣內得以溫於臟腑，外得以濡於腠理矣。</p>
<p>四明陳氏曰：府有邪則陽脈盛，藏有邪則陰脈盛。陰脈盛者，陰氣關於下；陽脈盛者，陽氣格於上。然而未至於死。陰陽俱盛，則既關且格，格則吐而食不下，關則二陰閉，不得大小便而死矣。臟腑氣和而相營，陰不覆，陽不溢，又何關格之有？</p>
<p>三十八難曰：藏唯有五，府獨有六者，何也？然：所以府有六者，謂三焦也。有原氣之別焉，主持諸氣，有名而無形，其經屬手少陽，此外府也，故言府有六焉。</p>
<p>三焦主持諸氣，謂原氣別使者，以原氣賴其導引，潛行默運於一身之中，無或間斷也。外府，指其經為手少陽而言。蓋三焦外有經而內無形，故云。詳見六十六難。</p>
<p>三十九難曰：經言府有五，藏有六者，何也？然：六腑者，正有五腑也。五臟亦有六臟者，謂腎有兩藏也，其左為腎，右為命門。命門者，精神之所舍也，男子以藏精，女子以系胞，其氣與腎通。故言藏有六也，府有五者何也？然：五臟各一腑，三焦亦是一腑，然不屬於五臟，故言府有五焉。</p>
<p>前篇言藏有五腑有六，此言府有五臟有六者，以腎之有兩也。腎之兩雖有左右命門之分，其氣相通，實皆腎而已。府有五者，以三焦配合手心主也。合諸篇而觀之，謂五臟六腑可也，五臟五腑亦可也，六臟六腑亦可也。</p>
<p>四十難曰：經言肝主色，心主臭，脾主味，肺主聲，腎主液。鼻者肺之候，而反知香臭；耳者腎之候，而反聞聲，其意何也？然：肺者西方金也，金生於巳，巳者南方火，火者心，心主臭，故令鼻知香臭，腎者北方水也，水生申，申者西方金，金者肺，肺主聲，故令耳聞聲。</p>
<p>四明陳氏曰：臭者心所主，鼻者肺之竅，心之脈上肺，故令鼻能知香臭也。耳者腎之竅，聲者肺所主，腎之脈上肺，故令耳能聞聲也。愚按越人此說，蓋以五行相生之理而言，且見其相因而為用也。</p>
<p>四十一難曰：肝獨有兩葉，以何應也？然：肝者，東方木也。木者春也，萬物始生，其尚幼小，意無所親，去太陰陰尚近，離太陽不遠，猶有兩心，故有兩葉，亦應木葉也。</p>
<p>四明陳氏曰：五臟之相生，母子之道也。故腎為肝之母，屬陰中之太陰；心為肝之子，屬陽中之太陽。肝之位，切近乎腎，亦不遠乎心也。愚謂肝有兩葉，應東方之木。木者春也，萬物始生，草木甲折，兩葉之義也。越人偶有見於此而立為論說，不必然，不必不然也。其曰太陰太陽，固不必指藏氣及月令而言。但隆冬為陰之極，首夏為陽之盛，謂之太陰太陽，無不可也。凡讀書須要融活，不可滯泥。先儒所謂以意逆志，是謂得之，信矣！後篇謂肝左三葉，右四葉，此云兩葉，總其大者爾。</p>
<p>四十二難曰：人腸胃長短，受水穀多少，各幾何？然：胃大一尺五寸，徑五寸，長二尺六寸，橫屈受水穀三斗五升。其中常留，谷二斗，水一斗五升。小腸大二寸半，徑八分分之少半，長三丈二尺，受谷二斗四升，水六升三合合之大半。迴腸大四寸，徑一寸半，長二丈一尺，受谷一斗，水七升半。廣腸大八寸，徑二寸半，長二尺八寸，受谷九升三合八分合之一。故腸胃凡長五丈八尺四寸，合受水穀八斗七升六合八分合之一。此腸胃長短，受水穀之數也。</p>
<p>迴腸，即大腸。廣腸、肛門之總稱也。</p>
<p>肝重二斤四兩，左三葉，右四葉，凡七葉，主藏魂。心重十二兩，中有七孔三毛，盛精汁三合，主藏神。脾重二斤三兩，扁廣三寸，長五寸，有散膏半斤，主裹血，溫五臟，主藏意。肺重三斤三兩，六葉兩耳，凡八葉，主藏魄。腎有兩枚，重一斤一兩，主藏志。膽在肝之短葉間，重三兩三銑，盛精汁三合。胃重二斤一兩，紆曲屈伸，長二尺六寸，大一尺五寸，徑五寸，盛谷二斗，水一斗五升。小腸重二斤十四兩，長三丈二尺，廣二寸半，徑八分分之少半，左回疊積十六曲，盛谷二斗四升，水六升三合合之大半。大腸重二斤十二兩，長二丈一尺，廣四寸，徑一寸，當齊右回十六曲，盛谷一斗，水七升半。膀胱重九兩二銖，縱廣九寸，盛溺九升九合。口廣二寸半。唇至齒長九分。齒以後至會厭深三寸半，大容五合。舌重十兩，長七寸，廣二寸半。咽門重十二兩，廣二寸半，至胃長一尺六寸。喉嚨重十二兩，廣二寸，長一尺二寸，九節。肛門重十二兩，大八寸，徑二寸大半，長二尺八寸，受谷九升三合八分合之一。</p>
<p>此篇之義，《靈樞》三十一、三十二篇皆有之。越人併為一篇，而後段增入五臟輕重，所盛所藏，雖覺前後重複，不害其為丁寧也。但其間受盛之數，各不相同，然非大義之所關，姑闕之，以俟知者。</p>
<p>四十三難曰：人不食飲，七日而死者，何也？然：人胃中當有留谷二斗，水一斗五升，故平人日再至圊，一行二升半，日中五升，七日五七三斗五升，而水穀盡矣。故平人不食飲七日而死者，水穀津液俱盡，即死矣。</p>
<p>此篇與《靈樞》三十篇文，大同小異。平人胃滿則腸虛，腸滿則胃虛，更虛更滿，故氣得上下，五臟安定，血脈和則精神乃居。故神者水穀之精氣也，平人不食飲七日而死者，水穀津液皆盡也。故曰水去則榮散，谷消則衛亡，榮散衛亡，神無所依，此之謂也。</p>
<p>四十四難曰：七衝門何在？然：唇為飛門，齒為戶門，會厭為吸門，胃為賁門，太倉下口為幽門，大腸小腸會為闌門，下極為魄門，故曰七衝門也。</p>
<p>沖，衝要之沖。會厭，謂咽嗌會合也。厭，猶掩也，謂當咽物時，合掩喉嚨，不使食物誤入，以阻其氣之噓吸出入也。賁，與奔同，言物之所奔響也。太倉下口，胃之下口也，在臍上二寸，下脫之分。大腸小腸會在臍上一寸水分穴。下極，肛門也，云魄門，亦取幽陰之義。</p>
<p>四十五難曰：經言八會者，何也？然：府會太倉，藏會季脅，筋會陽陵泉，髓會絕骨，血會鬲俞，骨會大抒，脈會太淵，氣會三焦外，一筋直兩乳內也。熱病在內者，取其會之氣穴也。</p>
<p>太倉，一名中脘，在齊上四寸，六腑取稟於胃，故為府會。季脅，章門穴也，在大橫外，直齊季肋端，為脾之募，五臟取稟於脾，故為藏會。足少陽之經結於膝外廉陽陵泉也，在膝下一寸外廉陷中，又膽與肝為配，肝者筋之合，故為筋會。絕骨，一名陽輔，在足外踝上四寸，輔骨前，絕骨端，如前三分，諸髓皆屬於骨，故為髓會。鬲俞，在背第七椎下，去脊兩旁各一寸半，足太陽脈氣所發也，太陽多血，又血乃水之象，故為血會。大杼，在項下第一椎下，去脊兩旁各一寸半。太淵，在掌後陷中動脈即所謂寸口者，脈之大會也。氣會三焦外，一筋直兩乳內，即膻中，為氣海者也，在玉堂下一寸六分。熱病在內者，各視其所屬而取之會也。謝氏曰：三焦當作上焦。四明陳氏曰：髓會絕骨，髓屬於腎，腎主骨，於足少陽無所關。腦為髓海，腦有枕骨穴，則當會枕骨，絕骨誤也。血會鬲俞，血者心所統，肝所藏，鬲俞在七椎下兩旁，上則心俞，下則肝俞，故為血會。骨會大杼，骨者髓所養，髓自腦下注於大杼，大杼滲入脊心，下貫尾骶，滲諸骨節，故骨之氣皆會於此，亦通。古益袁氏曰：人能健步，以髓會絕骨也。肩能任重，以骨會大杼也。</p>
<p>四十六難曰：老人臥而不寐，少壯寐而不寤者，何也？然：經言少壯者，血氣盛，肌肉滑，氣道通，榮衛之行不失於常，故晝日精，夜不寤也。老人血氣衰，肌肉不滑，榮衛之道澀，故晝日不能精，夜不能寐也。故知老人不得寐也。</p>
<p>老人之寤而不寐，少壯之寐而不寤，系乎榮衛血氣之有餘不足也，與《靈樞》十八篇同。</p>
<p>四十七難曰：人面獨能耐寒者，何也？然：人頭者，諸陽之會也，諸陰脈皆至頸胸中而還，獨諸陽脈皆上至頭耳，故令面耐寒也。</p>
<p>《靈樞》第四篇曰：首面與身形也，屬骨連筋，同血合於氣耳。天寒則裂地凌冰，其卒寒或手足懈惰，然而其面不衣，何也？岐伯曰：十二經脈，三百六十五絡，其血氣皆上於面而走空竅，其精陽氣上走於目而為睛，其彆氣走於耳而為聽，其宗氣上出於鼻而為臭，其濁氣出於胃走唇口而為味，其氣之津液皆上熏於面，而皮又厚，其肉堅，故大熱盛寒不能勝之也。愚按手之三陽，從手上走至頭；足之三陽，從頭下走至足；手之三陰，從腹走至手；足之三陰，從足走入腹。此所以諸陰脈皆至頸胸中而還，獨諸陽脈皆上至頭耳也。</p>
<p>四十八難曰：人有三虛三實，何謂也？然：有脈之虛實，有病之虛實，有診之虛實也。脈之虛實者，濡者為虛，緊牢者為實。病之虛實者，出者為虛，入者為實；言者為虛，不言者為實；緩者為虛，急者為實。診之虛實者，濡者為虛，牢者為實：癢者為虛，痛者為實；外痛內快為外實內虛，內痛外快為內實外虛。故曰虛實也。</p>
<p>濡者為虛，緊牢者為實，此脈之虛實也。出者為虛，是五臟自病，由內而之外，東垣家所謂內傷是也。入者為實，是五邪所傷，由外而之內，東垣家所謂外傷是也。言者為虛，以五臟自病，不由外邪，故惺惺而不妨於言也。不言者為實，以人之邪氣內郁，故昏亂而不言也。緩者為虛，緩，不急也，言內之出者，徐徐而遲，非一朝一夕之病也。急者為實，言外邪所中，風寒溫熱等病，死生在五六日之間也。此病之虛實也。診，按也，候也。按其外而知之，非診脈之診也。濡者為虛，牢者為實，《脈經》無此二句，謝氏以為衍文。楊氏謂按之皮肉柔濡者為虛，牢強者為實。然則有亦無害。夫按病者之處所，知痛者為實，則知不痛而癢者非實矣。又知外痛內快，為邪盛之在外；內痛外快，為邪盛之在內矣。大抵邪氣盛則實，精氣奪則虛，此診之虛實也。</p>
<p>四十九難曰：有正經自病，有五邪所傷，何以別之？然：憂愁思慮則傷心，形寒飲冷則傷肺，恚怒氣逆上而不下則傷肝，飲食勞倦則傷脾，久坐濕地，強力入水則傷腎，是正經之自病也。</p>
<p>心主思慮，君主之官也，故憂愁思慮則傷心。肺主皮毛而在上，是為嫩藏，故形寒飲冷則傷肺。肝主怒，怒則傷肝。脾主飲食及四肢，故飲食勞倦則傷脾。腎主骨而屬水，故用力作強，坐濕入水則傷腎。凡此，蓋憂思恚怒，飲食動作之過而致然也。夫憂思恚怒，飲食動作，人之所不能無者，發而中節，烏能無害，過則傷人必矣。故善養生者，去泰去甚，適其中而已。昧者拘焉，乃欲一切拒絕之，豈理也哉。</p>
<p>此與《靈樞》第四篇文大同小異，但傷脾一節，作若醉入房，汗出當風則傷脾不同爾。謝氏曰：飲食勞倦，自是二事。飲食得者，飢飽失時；勞倦者，勞形力而致倦怠也。此本經自病者，病由內作，非外邪之干，所謂內傷者也。或曰坐濕入水，亦從外得之也，何謂正經自病？曰：此非天之六淫也。</p>
<p>何謂五邪？然：有中風，有傷暑，有飲食勞倦，有傷寒，有中濕，此之謂五邪。</p>
<p>風，木也，喜傷肝。暑，火也，喜傷心。土爰稼穡，脾主四肢，故飲食勞倦喜傷脾。寒，金氣也，喜傷肺。《左氏傳》狐突云金寒是也。濕，水也，喜傷腎，霧雨蒸氣之類也。此五者，邪由外至，所謂外傷者也。謝氏曰：脾冒正經之病，得之勞倦；五邪之傷，得之飲食。</p>
<p>假令心病，何以知中風得之？然：其色當赤。何以言之？肝主色，自入為青，入心為赤，入脾為黃，入肺為白，入腎為黑。肝為心邪，故知當赤色。其病身熱，脅下滿痛，其脈浮大而弦。</p>
<p>此以心經一部，設假令而發其例也。肝主色，肝為心邪，故色赤。身熱，脈浮大，心也；脅痛脈弦，肝也。</p>
<p>何以知傷暑得之？然：當惡臭。何以言之？心主臭，自入為焦臭，入脾為香臭，入肝為臊臭，入腎為腐臭，入肺為腥臭。故知心病傷暑得之當惡臭。其病身熱而煩，心痛，其脈浮大而散。</p>
<p>心主臭，心傷暑而自病，故惡臭。而證狀脈診，皆屬乎心也。</p>
<p>何以知飲食勞倦得之？然：當喜苦味也。虛為不欲食，實為欲食。何以言之？脾主味，入肝為酸，入心為苦，入肺為辛，入腎為咸，自入為甘。故知脾邪入心，為喜苦味也。其病身熱，而體重嗜臥，四肢不收，其脈浮大而緩。</p>
<p>脾主味，脾為心邪，故喜苦味。身熱脈浮大，心也。體重嗜臥，四肢不收，脈緩，脾也。虛為不欲食，實為欲食二句，於上下文無所發，疑錯簡衍文也。</p>
<p>何以知傷寒得之？然：當譫言妄語。何以言之？肺主聲，入肝為呼，入心為言，入脾為歌，入腎為呻，自入為哭。故知肺邪入心，為譫言妄語也。其病身熱，洒洒惡寒，甚則喘咳，其脈浮大而澀。</p>
<p>肺主聲，肺為心邪，故譫言妄語。身熱，脈浮大，心也；惡寒喘咳，脈澀，肺也。</p>
<p>何以知中濕得之？然：當喜汗出不可止。何以言之？腎主濕，入肝為泣，入心為汗，入脾為涎，入肺為涕，自入為唾。故知腎邪入心，為汗出不可止也。其病身熱而小腹痛，足脛寒而逆，其脈沉濡而大。此五邪之法也。</p>
<p>腎主濕，濕化五液，腎為心邪，故汗出不可止。身熱脈大，心也；小腹痛，足脛寒，脈沉濡，腎也。</p>
<p>凡陰陽臟腑經絡之氣，虛實相等，正也。偏虛偏實，失其正也。失其正，則為邪矣。此篇越人蓋言陰陽臟腑經絡之偏虛偏實者也。由偏實也，故內邪得而生；由偏虛也，故外邪得而入。</p>
<p>五十難曰：病有虛邪，有實邪，有賊邪，有微邪，有正邪，何以別之？然：從後來者為虛邪，從前來者為實邪，從所不勝來者為賊邪，從所勝來者為微邪，自病者為正邪。有圖。</p>
<p>五行之道，生我者體，其氣虛也，居吾之後而來為邪，故曰虛邪。我生者相，氣方實也，居吾之前而來為邪，故曰實邪。正邪則本經自病者也。</p>
<p>何以言之？假令心病，中風得之為虛邪，傷暑得之為正邪，飲食勞倦得之為實邪，傷寒得之為微邪，中濕得之為賊邪。</p>
<p>假心為例，發明上文之義。中風為虛邪，從後而來，火前水後也。傷暑為正邪，火自病也。飲食勞倦為實邪，從前而來，土前火後也。傷寒為微邪，從所勝而來，火勝金也。中濕為賊邪，從所不勝而來，水剋火也。與上篇互相發，宜通考之。</p>
<p>五十一難曰：病有欲得溫者，有欲得寒者，有欲得見人者，有不欲得見人者，而各不同，病在何臟腑也？然：病欲得寒，而欲見人者，病在府也；病欲得溫，而不欲見人者，病在藏也。何以言之？府者陽也，陽病欲得寒，又欲見人；藏者陰也，陰病欲得溫，又欲閉戶獨處，惡聞人聲。故以別知臟腑之病也。</p>
<p>紀氏曰：府為陽，陽病則熱有餘而寒不足，故飲食衣服居處，皆欲就寒也。陽主動而應乎外，故欲得見人。藏為陰，陰病則寒有餘而熱不足，故飲食衣服居處，皆欲就溫也。陰主靜而應乎內，故欲閉戶獨處而惡聞人聲也。</p>
<p>五十二難曰：府藏發病，根本等不？然：不等也。其不等奈何？然：藏病者，止而不移，其病不離其處；府病者，彷彿賁響，上下行流，居處無常。故以此知臟腑根本不同也。</p>
<p>丁氏曰：藏為陰，陰主靜，故止而不移。府為陽，陽主動，故上下流行，居處無常也。與五十五難文義互發。</p>
<p>五十三難曰：經言七傳者死，間藏者生，何謂也？然：七傳者，傳其所勝也。間藏者，傳其子也。何以言之？假令心病傳肺，肺傳肝，肝傳脾，脾傳腎，腎傳心，一臟不再傷，故言七傳者死也。有圖。</p>
<p>紀氏云：心火傳肺金，肺金傳肝木，肝木傳脾土，脾土傳腎水，腎水傳心火。心火受水之傳一也，肺金復受火之傳再也。自心而始，以次相傳，至肺之再，是七傳也。故七傳死者，一臟不受再傷也。</p>
<p>假令心病傳脾，脾傳肺，肺傳腎，腎傳肝，肝傳心，是子母相傳，竟而復始，如環無端，故曰生也。</p>
<p>呂氏曰：間藏者，間其所勝之藏而相傳也。心勝肺，脾間之；脾勝腎，肺間之；肺勝肝，腎間之；腎勝心，肝間之；肝勝脾，心間之。此謂傳其所生也。</p>
<p>按《素問·標本病傳論》曰：謹察間甚，以意調之。間者並行，甚者獨行。蓋並者並也，相併而傳，傳其所間。如呂氏之說是也。獨者特也，特傳其所勝，如紀氏之說是也。越人之義蓋本諸此。詳見本篇，及《靈樞》四十二篇。但二經之義，則以五臟與胃、膀胱七者相傳發其例，而其篇題皆以病傳為名。今越人則以七傳間藏之目推明二經，假心為例，以見病之相傳。若傳所勝，至一臟再傷則死。若間其所勝，是子母相傳，則生也。尤簡而明。</p>
<p>五十四難曰：藏病難治，府病易治，何謂也？然：藏病所以難治者，傳其所勝也。府病易治者，傳其子也。與七傳間藏同法也。</p>
<p>四明陳氏曰：五臟者，七神內守，則邪之微者不易傳。若大氣之人，則神亦失守而病深，故病難治，亦或至於死矣。六腑為轉輸傳化者，其氣常通，況膽又清淨之處，雖邪入之，終難深留，故府病易治也。愚按：以越人之意推之，則藏病難治者，以傳其所勝也；府病易治者，以傳其所生也。雖然，此特各舉其一偏而言爾。若藏病傳其所生，亦易治；府病傳其所勝，亦難治也。故龐安常云：世之醫書，唯扁鵲之言為深，所謂《難經》者也。越人寓術於其書，而言之有不詳者，使後人自求之歟。今以此篇詳之，龐氏可謂得越人之心者矣。</p>
<p>五十五難曰：疾有積有聚，何以別之？然：積者陰氣也，聚者陽氣也。故陰沉而伏，陽浮而動。氣之所積名曰積，氣之所聚名曰聚。故積者五臟所生，聚者六腑所成也。積者陰氣也，其始發有常處，其痛不離其部，上下有所終始，左右有所窮處。聚者陽氣也，其始發無根本，上下無所留止，其痛無常處，謂之聚。故以是別知積聚也。</p>
<p>積者五臟所生，五臟屬陰，陰主靜，故其病沉伏而不離其處。聚者六腑所成，六腑屬陽，陽主動，故其病浮動而無所留止也。楊氏日：積，蓄也，言血脈不行，蓄積而成病也。周仲立曰：陰沉而伏，初亦未覺，漸以滋長，日積月累是也。聚者病之所在，與血氣偶然邂逅，故無常處也。與五十二難意同。</p>
<p>五十六難曰：五臟之積，各有名乎？以何月何日得之？然：肝之積名曰肥氣，在左脅下，如覆杯，有頭足，久不愈，令人發咳逆，膕瘧，連歲不已，以季夏戊己日得之。何以言之？肺病傳於肝，肝當傳脾，脾季夏適王，王者不受邪，肝復欲還肺，肺不肯受，故留結為積，故知肥氣以季夏戊已日得之。</p>
<p>肥之言盛也。有頭足者，有大小本末也。咳逆者，足厥陰之別，貫膈，上注肺，肝病故胸中咳而逆也。二日一發為㾬瘧，《內經》五臟皆有瘧，此在肝，為風瘧也，抑以瘧為寒熱。病多屬少陽，肝與之為表裡，故云左脅，肝之部也。</p>
<p>心之積名曰伏梁，起齊上，大如脅。上至心下，久不愈，令人病煩心，以秋庚辛日得之。何以言之？腎病傳心，心當傳肺，肺以秋適王，王者不受邪，心欲復還腎，腎不肯受，故留結為積，故知伏梁以秋庚辛日得之。</p>
<p>伏梁，伏而不動，如梁木然。</p>
<p>脾之積名曰痞氣，在胃脘，覆大如盤，久不愈，令人四肢不收，發黃疸，飲食不為肌膚，以冬壬癸日得之。何以言之？肝病傳脾，脾當傳腎，腎以冬適王，王者不受邪，脾復欲還肝，肝不肯受，故留結為積，故知痞氣以冬壬癸日得之。</p>
<p>痞氣，痞塞而不通也。疸病，發黃也。濕熱為疸。</p>
<p>肺之積，名曰息賁，在右脅下，覆大如杯，久不愈，令人灑淅寒熱，喘咳，發肺壅，以春甲乙日得之。何以言之？心病傳肺，肺當傳肝，肝以春適王，王者不受邪，肺復欲還心，心不肯受，故留結為積，故知息賁以春之甲乙日得之。</p>
<p>息賁，或息或賁也。右脅，肺之部。肺主皮毛，故灑淅寒熱。或謂藏病止而不移，今肺積或息或賁，何也？然或息或賁，非居處無常，如府病也，特以肺主氣，故其病有時而動息爾。腎亦主氣，故賁豚亦然。</p>
<p>腎之積名曰賁豚，發於少腹，上至心下，若豚狀，或上或下無時，久不已，令人喘逆，骨痿少氣，以夏丙丁日得之。何以言之？脾病傳腎，腎當傳心，心以夏適王，王者不受邪，腎復欲還脾，脾不肯受，故留結為積，故知賁豚以夏丙丁日得之。此五積之要法也。</p>
<p>賁豚，言若豚之賁突，不常定也。豚性躁，故以名之。令人喘逆者，足少陰之支，從肺出絡心，注胸中故也。</p>
<p>此難但言藏病而不言府病者，紀氏謂以其發無常處也。楊氏謂六腑亦相傳，行如五臟之傳也。</p>
<p>或問：天下之物理，有感有傳。感者情也，傳者氣也。有情斯有感，有氣斯有傳。今夫五臟之積，特以氣之所勝，傳所不勝云爾。至於王者不受邪，是固然也。若不勝者，反欲還所勝，所勝不納，而留結為積，則是有情而為感矣。且五臟在人身中，各為一物，猶耳司聽，目司視，各有所職，而不能思。非若人之感物，則心為之主，而乘氣機者也。然則五臟果各能有情而感乎？曰：越人之意，蓋以五行之道，推其理勢之所有者，演而成文耳。初不必論其情感，亦不必論其還不還，與其必然否也。讀者但以所勝傳不勝，及王者不受邪，遂留結為積觀之，則不以辭害志，而思過半矣。</p>
<p>或又問：子言情感氣傳，先儒之言則日形交氣感，是又氣能感矣，於吾子之言何如？曰：先儒之說，雖曰氣感，由形交也。形指人身而言，所以感之主也。</p>
<p>五十七難曰：泄凡有幾，皆有名不？然：泄凡有五，其名不同，有胃泄，有脾泄，有大腸泄，有小腸泄，有大瘕泄，名曰後重。</p>
<p>此五泄之目，下文詳之。</p>
<p>胃泄者，飲食不化，色黃。</p>
<p>胃受病，故食不化。胃屬土，故色黃。</p>
<p>脾泄者，腹脹滿，泄注，食即嘔吐逆。</p>
<p>有聲無物為嘔，有聲有物為吐。脾受病，故腹脹泄注，食即嘔吐而上逆也。</p>
<p>大腸泄者，食已窘迫，大便色白，腸鳴切痛。</p>
<p>食方已即窘迫，欲利也。白者，金之色。謝氏曰：此腸寒之證也。</p>
<p>小腸泄者，溲而便膿血，少腹痛。</p>
<p>溲，小利也。便，指大便而言。溲而便膿血，謂小便不悶，大便不裡急後重也。</p>
<p>大瘕泄者，裡急後重，數至圊而不能便，莖中痛。此五泄之要法也。</p>
<p>瘕，結也，謂因有凝結而成者。裡急，謂腹內急迫。後重，謂肛門下墜。惟其裡急後重，故數至圊而不能便。莖中痛者，小便亦不利也。</p>
<p>謝氏謂小腸、大瘕二泄，今所謂痢疾也。《內經》曰腸澼故下利赤白者，灸小腸俞是也。穴在第十六椎下兩傍各一寸五分，累驗。</p>
<p>四明陳氏曰：胃泄，即飧泄也。脾泄，即濡泄也。大腸泄，即涸泄也。小腸泄，謂凡泄則小便先下而便血，即血泄也。大瘕泄，即腸癖也。</p>
<p>五十八難曰：傷寒有幾？其脈有變否？然：傷寒有五，有中風，有傷寒，有濕溫，有熱病，有溫病，其所苦各不同。</p>
<p>變當作辨，謂分別其脈也。</p>
<p>紀氏曰：汗出惡風者，謂之傷風。無汗惡寒者，謂之傷寒。一身盡疼，不可轉測者，謂之濕溫。冬傷於寒，至夏而發者，謂之熱病。非其時而有其氣，一歲之中，病多相似者，謂之溫病。</p>
<p>中風之脈，陽浮而滑，陰濡而弱。濕溫之脈，陽浮而弱，陰小而急。傷寒之脈，陰陽俱盛而緊澀。熱病之脈，陰陽俱浮，浮之而滑，沉之散澀。溫病之脈，行在諸經，不知何經之動也，各隨其經所在而取之。</p>
<p>上文言傷寒之目，此言其脈之辨也。陰陽字，皆指尺寸而言。楊氏曰：溫病乃是疫癘之氣，非冬感於寒，至春變為溫病者。散行諸經，故不可預知，臨病人而診之，知在何經之動，乃隨而治之。</p>
<p>謝氏曰：仲景傷寒例云：冬時嚴寒，萬類收藏，君子周密，則不傷於寒。觸冒者乃名傷寒耳。其傷於四時之氣，皆能為病。以傷寒為毒者，以其最成殺厲之氣也。中而即病者，名曰傷寒。不即病者，寒毒藏於肌膚，至春變為溫病，至夏變為暑病。暑病者，熱極而重於溫也。又曰陽脈浮滑，陰脈濡弱，更遇於風，變為風溫。今按仲景例，風溫與《難經》中風脈同，而無濕溫之說。又曰：《難經》言溫病，即仲景傷寒例中所言溫瘧、風溫、溫毒、溫疫四溫病也。越人言其概而未詳，仲景則發其秘而條其脈，可謂詳矣。龐安常《傷寒總論》云：難經載五種傷寒，言溫病之脈在諸經，不知何經之動，隨其經所在而取之。據《難經》，溫病又是四種傷寒感異氣而變成者也。所以王叔和云：陽脈浮滑，陰脈濡弱，更遇於風，變成風溫。陽脈洪數，陰脈實大，更遇濕熱，變為溫毒。溫毒為病，最重也。陽脈濡弱，陰脈弦緊，更遇濕氣，變為濕溫。脈陰陽俱盛，重感於寒，變為溫瘧。斯乃同病異名，同脈異經者也。所謂隨其經所在而取之者，此也。龐氏此說，雖不與《難經》同，然亦自一義例。但傷寒例言溫疫而無濕溫，叔和言濕溫而無溫疫此亦異耳。</p>
<p>傷寒有汗出而愈，下之而死者；有汗出而死，下之而愈者，何也？然：陽虛陰盛，汗出而愈，下之即死；陽盛陰虛，汗出而死，下之而愈。</p>
<p>受病為虛，不受病者為盛。唯其虛也，是以邪湊之；唯其盛也，是以邪不入。即《外臺》所謂表病里和，里病表和之謂，指傷寒傳變者而言之也。表病里和，汗之可也。而反下之，表邪不除，裡氣復奪矣；里病表和，下之可也，而反汗之，里邪不退，表氣復奪矣，故云死。所以然者，汗能亡陽，下能損陰也。此陰陽字，指表裡言之。經曰：誅伐無過，命曰大惑。此之謂歟？</p>
<p>寒熱之病，候之如何也？然：皮寒熱者，皮不可近席，毛髮焦，鼻槁，不得汗。肌寒熱者，皮膚痛，唇舌藁，無汗。骨寒熱者，病無所安，汗注不休，齒本藁痛。</p>
<p>《靈樞》二十一篇曰：皮寒熱者，不可附席，毛髮焦，鼻槁臘，不得汗。取三陽之絡，以補手太陰。肌寒熱者，肌痛，毛髮焦而唇槁臘，不得汗。取三陽於下，以去其血者，補足太陰以出其汗。骨寒熱者，病無所安（謂一身百脈無有是處也），汗注不休。齒未槁，取其少陰股之絡；齒已槁，死不治。愚按：此蓋內傷之病，因以類附之。東垣內外傷辨，其兆於此乎。</p>
<p>五十九難曰：狂癲之病，何以別之？然：狂疾之始發，少臥而不飢，自高腎也，自辨智也，自倨貴也，妄笑好歌樂，妄行不休是也。癲疾始發，意不樂，僵仆直視，其脈三部陰陽俱盛是也。</p>
<p>狂疾發於陽，故其狀皆自有餘而主動；癲疾發於陰，故其狀皆自不足而主靜。其三部陰陽俱盛者，謂發於陽為狂，則陽脈俱盛；發於陰為癲，則陰脈俱盛也。接二十難中，重陽者狂，重陰者癲，脫陽者見鬼，脫陰者目盲四句，當屬之此下。重，讀如再重之重（去聲）。重陽重陰，於以再明上文陰陽俱盛之意。又推其極，至脫陰脫陽，則不止於重陽重陰矣。蓋陰盛而極，陽之脫也，鬼為幽陰之物，故見之。陽盛而極，陰之脫也，一水不能勝五火，故目盲。四明陳氏曰：氣並於陽，則為重陽；血並於陰，則為重陰。脫陽見鬼，氣不守也；脫陰目盲，血不榮也。</p>
<p>狂癲之病，《靈樞》二十一篇其論詳矣。越人特舉其概，正龐氏所謂引而不發，使後人自求之歟。</p>
<p>六十難曰：頭心之病，有厥痛，有真痛，何謂也？然：手三陽之脈，受風寒，伏留而不去者，則名厥頭痛。</p>
<p>詳見《靈樞》二十四篇厥逆也。</p>
<p>入連在腦者，名真頭痛。</p>
<p>真頭痛，其痛甚，腦盡痛，手足青至節，死不治。蓋腦為髓海，真氣之所聚，卒不受邪，受邪則死。</p>
<p>其五臟氣相干，名厥心痛。</p>
<p>《靈樞》載厥心痛凡五，胃心痛，腎心痛，脾心痛，肝心痛，肺心痛，皆五臟邪氣相干也。</p>
<p>其痛甚，但在心，手足青者，即名真心痛。其真心痛者，旦發夕死，夕發旦死。</p>
<p>《靈樞》曰：真心痛，手足青至節，心痛甚，為真心痛。又七十一篇曰：少陰者，心脈也。心者，五臟六腑之大主也。心為帝王，精神之所舍，其藏堅固，邪不能客，客之則傷心，心傷則神去，神去則死矣。其真心痛者，真字下當欠一頭字，蓋閥文也。手足青之青，當作清，冷也。</p>
<p>六十一難曰：經言望而知之謂之神，聞而知之謂之聖，問而知之謂之工，切脈而知之謂之巧，何謂也？然：望而知之者，望見其五色，以知其病。</p>
<p>《素問·五臟生成篇》曰：色見青如草茲者死，黃如積實者死，黑如炲者死，赤如衃血者死，白如枯骨者死。此五色之見死者也。青如翠羽者生，赤如雞冠者生，黃如蟹腹者生，白如豕膏者生，黑如鳥羽者生。此五色之見生也。生於心，欲如以鎬裹朱。生於肺，欲如以縞裹紅。生於肝，欲如以縞裹鉗。生於脾，欲如以縞裹栝樓實。生於腎，欲如以縞裹紫。此五臟生色之外榮也。《靈樞》四十九篇曰：青黑為痛，黃赤為熱，白為寒。又曰：赤色出於兩顴，大如拇指者，病雖小愈，必卒死。黑色出於庭（庭者顏也），大如拇指，必不病而卒。又七十四篇曰：診血脈者，多赤多熱，多青多痛，多黑為久痹，多黑、多赤、多青皆見者，為寒熱身痛。面色微黃，齒垢黃，爪甲上黃，黃疽也。又如驗產婦，面赤舌青，母活子死；面青舌青，沫出，母死子活；唇口俱青，子母俱死之類也。袁氏曰：五臟之色見於面者，各有部分，以應相生相剋之候，察之以知其病也。</p>
<p>聞而知之者，聞其五音以別其病。</p>
<p>四明陳氏曰：五臟有聲，而聲有音。肝聲呼，音應角，調而直。音聲相應則無病，角亂則病在肝。心聲笑，音應徵，和而長。音聲相應則無病，徵亂則病在心。脾聲歌，音應宮，大而和。音聲相應則無病，宮亂則病在脾。肺聲哭，音應商，輕而勁。音聲相應則無病，商亂則病在肺。腎聲呻，音應羽，沉而深。音聲相應則無病，羽亂則病在腎。袁氏曰：聞五臟五聲，以應五音之清濁，或互相勝負，或其音嘶嘎之類；別其病也。</p>
<p>此一節，當於《素問》陰陽應象論、金匱真言諸篇言五臟聲音，及三十四難云云求之，則聞其聲足以別其病也。</p>
<p>問而知之者，問其所欲五味，以知其病所起所在也。</p>
<p>《靈樞》六十三篇日：五味入口，各有所走，各有所病。酸走筋，多食之，令人癃。咸走血，多食之，令人渴。辛走氣多食之，令人洞心。辛與氣俱行，故辛入心而與汗俱出。苦走骨，多食之，令人變嘔。甘走肉，多食之，令人惋心（悗音悶）。推此則知問其所欲五味，以知其病之所起所在也。袁氏日：問其所欲五味中，偏嗜偏多食之物，則知藏氣有偏勝偏絕之候也。</p>
<p>切脈而知之者，診其寸口，視其虛實，以知其病，病在何臟腑也。</p>
<p>診寸口，即第一難之義。視虛實，見六難並四十八難。王氏脈法贊日：脈有三部，尺寸及關。榮衛流行，不失衡銓。腎沉心洪，肺浮肝弦。此自常經，不失銖分。出入升降，漏刻周旋，水下二刻，脈一周身，旋覆寸口，虛實見焉。此之謂也。</p>
<p>經言以外知之曰聖，以內知之曰神，此之謂也。</p>
<p>以外知之望聞，以內知之問切也。神，微妙。聖，通明也。又總結之，言神聖則功巧在內矣。</p>
<p>六十二難曰：藏井滎有五，府獨有六者，何謂也？然：府者陽也，三焦行於諸陽，故置一俞，名曰原。府有六者，亦與三焦共一氣也。</p>
<p>藏之井滎有五，謂井、滎、俞、經、合也。府之井滎有六，以三焦行於諸陽，故又置一俞而名曰原。所以府有六者，與三焦共一氣也。虞氏日：此篇疑有缺誤，當與六十六難參考。</p>
<p>六十三難曰：《十變》言五臟六腑滎合，皆以井為始者，何也？然：井者，東方春也，萬物之始生，諸汯行喘息，蜎飛蠕動，當生之物，莫不以春生，故歲數始於春，日數始於甲，故以井為始也。</p>
<p>十二經所出之穴，皆謂之井，而以為滎俞之始者，以井主東方木。木者①春也，萬物發生之始。諸蚑者行，喘者息。息謂噓吸氣也。公孫洪傳作蚑行喙息，義尤明白。蜎者飛，蠕者動，皆蟲豸之屬。凡當生之物，皆以春而生。是以歲之數則始於春，日之數則始於甲，人之滎合則始於井也。馮氏日：井，谷井之井，泉源之所出也。四明陳氏日：經穴之氣所生，則自井始。而溜滎注俞，過經入合，故以萬物及歲數日數之始為譬也。</p>
<p>六十四難曰：《十變》又言陰井木，陽井金；陰滎火，陽滎水；陰俞土，陽俞土；陰經金，陽經火；陰合水，陽合土。有圖。</p>
<p>十二經起於井穴，陰井為木，故陰井木生陰滎火。陰滎火生陰俞土，陰俞土生陰經金，陰經金生陰合水。陽井為金，故陽井金生陽滎水，陽滎水生陽俞木，陽俞木生陽經火，陽經火生陽合土。</p>
<p>陰陽皆不同，其意何也？然：是剛柔之事也。陰井乙木，陽井庚金。陽井庚，庚者乙之剛也；陰井乙，乙者庚之柔也。乙為木，故言陰井木也；庚為金，故言陽井金也。余皆仿此。</p>
<p>剛柔者，即乙庚之相配也。十干所以自乙庚而言者，蓋諸臟腑穴皆始於井，而陰脈之井始於乙木，陽脈之井始於庚金，故自乙庚而言剛柔之配。而其餘五行之配，皆仿此也。丁氏日：剛柔者謂陰井木，陽井金，庚金為剛，乙木為柔。陰滎火，陽滎水，壬水為剛，丁火為柔。陰俞土，陽俞木，甲木為剛，己土為柔。陰經金，陽經火，丙火為剛，辛金為柔。陰合水，陽合土，戊土為剛，癸水為柔。蓋五行之道，相生者母子之義，相剋相制者夫婦之類。故夫道皆剛，婦道皆柔，自然之理也。《易》曰：分陰分陽，迭用柔剛。其是之謂歟。</p>
<p>六十五難曰：經言所出為井，所入為合，其法奈何？然：所出為井，井者東方春也，萬物之始生，故言所出為井也。所入為合，合者北方冬也，陽氣入藏，故言所入為合也。</p>
<p>此以經穴流注之始終言也。</p>
<p>六十六難曰：經言肺之原出於太淵，心之原出於大陵，肝之原出於太衝，脾之原出於太白，腎之原出於太谿，少陰之原出於兌骨（神門穴也），膽之原出於丘墟，胃之原出於衝陽，三焦之原出於陽池，膀胱之原出於京骨，大腸之原出於合谷，小腸之原出於腕骨。</p>
<p>肺之原太淵，至腎之原太谿，見《靈樞》第一篇。其第二篇曰：肺之俞太淵，心之俞大陵，肝之俞太衝，脾之俞太白，腎之俞太谿。膀胱之俞束骨，過於京骨為原。膽之俞臨泣，過於丘墟為原。胃之俞陷谷，過於衝陽為原。三焦之俞中渚，過於陽池為原。小腸之俞後谿，過於腕骨為原。大腸之俞三間，過於合谷為原。蓋五臟陰經止以俞為原。六腑為陽，既有俞，仍別有原。或曰：《靈樞》以大陵為心之原，《難經》亦然，而又別以兌骨為少陰之原。諸家針灸書，並以大陵為手厥陰心主之俞，以神門在掌後兌骨之端者，為心經所注之俞。似此不同者，何也？按《靈樞》七十一篇曰：少陰無輸，心不病乎？岐伯曰：其外經病而藏不病，故獨取其經於掌後，兌骨之端也。其餘脈出入屈折，其行之疾徐，皆如手少陰，心主之脈行也。又第二篇曰：心出於中衝，溜於勞宮，注於大陵，行於間使，入於曲澤，手少陰也。（按：中衝以下，並手心主經俞，《靈樞》直指為手少陰，而手少陰經俞不別載也）。又《素問·繆刺篇》曰：刺手心主，少陰兌骨之端，各一痏，立已。又氣穴篇曰：藏俞五十穴。王氏注：五臟俞，惟有心包經井俞之穴，而亦無心經井俞穴。又七十九難曰：假令心病，寫手心主俞，補手心主井。詳此前後各經文義則知手少陰與心主同治也。</p>
<p>十二經皆以俞為原者，何也？然：五臟俞者，三焦之所行，氣之所留止也。三焦所行之俞為原者，何也？然：臍下腎間動氣者，人之生命也，十二經之根本也，故名曰原。三焦者，原氣之別使也，主通行三氣，經歷於五臟六腑。原者，三焦之尊號也，故所止輒為原。五臟六腑之有病者，皆取其原也。</p>
<p>十二經皆以俞為原者，以十二經之俞，皆系三焦所行，氣所留止之處也。三焦所行之俞為原者，以臍下腎間動氣，乃人之生命，十二經之根本。三焦則為原氣之別使，主通行上中下之三氣，經歷於五臟六腑也。通行三氣，即紀氏所謂下焦稟真元之氣（即原氣也），上達至於中焦；中焦受水穀精悍之氣，化為榮衛，榮衛之氣，與真元之氣，通行達於上焦也。所以原為三焦之尊號。而所止輒為原，猶警蹕所至，稱行在所也。五臟六腑之有病者，皆於是而取之，宜哉。</p>
<p>六十七難曰：五臟募皆在陰，而俞在陽者，何謂也？然：陰病行陽，陽病行陰，故令募在陰，俞在陽。</p>
<p>募與俞，五臟空穴之總名也。在腹為陰，則謂之募；在背為陽，則謂之俞。募，猶募結之募，言經氣之聚於此也。俞，史扁鵲傳作輸，猶委輸之輸，言經氣由此而輸於彼也。五臟募在腹，肺之募中府，二穴，在胸部雲門下一寸，乳上二肋間，動脈陷中。心之募巨闕，一穴，在鳩尾下一寸。脾之募章門，二穴，在季脅下直臍。肝之募期門，二穴，在不容兩旁各一寸五分。腎之募京門，二穴，在腰中季脅本。五臟俞在背，行足太陽之經。肺俞在第三椎下，心俞在五椎下，肝俞在九椎下，脾俞在十一椎下，腎俞在十四椎下，皆俠脊兩旁各一寸五分。陰病行陽，陽病行陰者，陰陽經絡，氣相交貫，臟腑腹背，氣相通應，所以陰病有時而行陽，陽病有時而行陰也。針法曰：從陽引陰，從陰引陽。</p>
<p>六十八難曰：五臟六腑皆有井、滎、俞、經、合，皆何所主？然：經言所出為井，所流為滎，所注為俞，所行為經，所入為合。井主心下滿，滎主身熱，俞主體重節痛，經主喘咳寒熱，合主逆氣而泄。此五臟六腑井滎俞經合所主病也。</p>
<p>主，主治也。井，谷井之井，水源之所出也。滎，絕小水也，井之源本微，故所流尚小而為滎。俞，輸也，注也，自滎而注，乃為俞也。由俞而經過於此，乃謂之經。由經而入於所合，合者會也。《靈樞》第一篇曰：五臟五俞，五五二十五俞；六腑六俞，六六三十六俞。（此俞字，空穴之總名。凡諸空穴，皆可以言俞。）經絡十二，脈絡十五，凡二十七氣所行，皆井滎俞經合之所繫。而所主病各不同，井主心下滿，肝木病也。足厥陰之支，從肝別貫鬲，上注肺，故井主心下滿。滎主身熱，心火病也。俞主體重節痛。脾土病也。經主喘咳寒熱，肺金病也。合主逆氣而泄，腎水病也。謝氏曰：此舉五臟之病各一端為例，余病可以類推而互取也。不言六腑者，舉藏足以該之。</p>
<p>六十九難曰：經言虛者補，實者瀉之，不虛不實，以經取之，何謂也？然：虛者補其母，實者瀉其子。當先補之，然後瀉之。不虛不實，以經取之者，是正經自生病，不中他邪也，當自取其經，故言以經取之。</p>
<p>《靈樞》第十篇載：十二經皆有盛則瀉之，虛則補之，不盛不虛，以經取之。虛者補其母，實者瀉其子，子能令母實，母能令子虛也。假令肝病虛，即補厥陰之合曲泉是也；實則瀉厥陰之滎行間是也。先補後瀉，即後篇陽氣不足，陰氣有餘，當先補其陽而後瀉其陰之意。然於此義不屬，非缺誤即羨文也。不實不虛，以經取之者，即四十九難憂愁思慮則傷心，形寒飲冷則傷肺云云者，蓋正經之自病者也。楊氏曰：不實不虛，是謂藏不相乘也，故云自取其經。</p>
<p>七十難曰：春夏刺淺，秋冬刺深者，何謂也？然：春夏者陽氣在上，人氣亦在上，故當淺取之；秋冬者陽氣在下，人氣亦在下，故當深取之。</p>
<p>春夏之時，陽氣浮而上，人之氣亦然，故刺之當淺，欲其無大過也。秋冬之時，陽氣沉而下，人氣亦然，故刺之當深，欲其無不及也。經曰：必先歲氣，無伐天和。此之謂也。四明陳氏曰：春氣在毛，夏氣在皮，秋氣在分肉，冬氣在骨髓，是淺深之應也。</p>
<p>春夏各致一陰，秋冬各致一陽者，何謂也？然：春夏溫，必致一陰者，初下針，沉之至腎肝之部，得氣引持之陰也；秋冬寒，必致一陽者，初內針，淺而浮之至心肺之部，得氣推內之陽也。是謂春夏必致一陰，秋冬必致一陽。</p>
<p>致，取也。春夏氣溫，必致一陰者，春夏養陽之義也。初下針，即沉之，至腎肝之部，俟其得氣，乃引針而提之，以至於心肺之分，所謂致一陰也。秋冬氣寒，必致一陽者，秋冬養陰之義也。初內針，淺而浮之當心肺之部，俟其得氣推針而內之，以達於肝腎之分，所謂致一陽也。</p>
<p>此篇致陰致陽之說，越人特推其理，有如是者爾。凡用針補瀉，自有所宜，初不必以是相拘也。</p>
<p>七十一難曰：經言刺榮無傷衛，刺衛無傷榮，何謂也？然：針陽者，臥針而刺之；刺陰者，先以左手攝按所針滎俞之處，氣散乃內針，是謂刺榮無傷衛，刺衛無傷榮也。</p>
<p>榮為陰，衛為陽。榮行脈中，衛行脈外。各有所淺深也。用針之道亦然。針陽必臥針而刺之者，以陽氣輕浮，過之恐傷於榮也。刺陰者，先以左手按所刺之穴，良久，令氣散乃內針，不然則傷衛氣也。無，毋通，禁止辭。</p>
<p>七十二難曰：經言能知迎隨之氣，可令調之。調氣之方，必在陰陽。何謂也？然：所謂迎隨者，知榮衛之流行，經脈之往來也，隨其逆順而取之，故曰迎隨。</p>
<p>迎隨之法，補瀉之道也。迎者迎而奪之，隨者隨而濟之。然必知榮衛之流行，經脈之往來。榮衛流行，經脈往來，其義一也。知之而後，可以視夫病之逆順，隨其所當而為外瀉也。四明陳氏曰：逆者，逆其氣之方來而未盛也，以瀉之；隨者隨其氣之方往而未虛也，以補之。愚按：迎隨有二，有虛實迎隨，有子母迎隨。陳氏之說虛實迎隨也，若七十九難所載子母迎隨也。</p>
<p>調氣之方，必在陰陽者，知其內外表里，隨其陰陽而調之。故曰調氣之方，必在陰陽。</p>
<p>在，察也。內為陰，外為陽。表為陽，里為陰。察其病之在陰在陽而調之也。楊氏曰：調氣之方，必在陰陽者，陰虛陽實，則補陰瀉陽；陽虛陰實，則補陽瀉陰。或陽並於陰，陰並於陽，或陰陽俱虛俱實，皆隨其所見而調之。謝氏曰：男外女內，表陽里陰。調陰陽之氣者，如從陽引陰，從陰引陽，陽病治陰，陰病治陽之類。</p>
<p>七十三難曰：諸井者，肌肉淺薄，氣少不足使也，刺之奈何？然：諸井者木也，滎者火也，火者木之子，當刺井者，以滎瀉之，故經言補者不可以為瀉，瀉者不可以為補，此之謂也。</p>
<p>諸經之井，皆在手足指梢肌肉淺薄之處，氣少不足使為補瀉也。故設當刺井者，只瀉其滎，以井為木，滎為火，火者木之子也。詳越人此說，專為瀉井者言也。若當補井，則必補其合。故引經言補者不可以為瀉，瀉者不可以為補，各有攸當也，補瀉反則病益篤，而有實實虛虛之患，可不謹歟。</p>
<p>七十四難曰：經言春刺井，夏刺滎，季夏刺俞，秋刺經，冬刺合者，何謂也？然：春刺井者，邪在肝。夏刺榮者，邪有心。季夏刺俞者，邪在脾。秋刺經者，邪在肺。冬刺合者，邪在腎。</p>
<p>滎俞之系四時者，以其邪各有所在也。</p>
<p>其肝心脾肺腎，而繫於春夏秋冬者。何也？然：五臟一病，輒有五也。假令肝病，色青者肝也，臊臭者肝也，喜酸者肝也，喜呼者肝也，喜泣者肝也，其病眾多，不可盡言也。四時有數，而並繫於春夏秋冬者也。針之要妙，在於秋毫者也。</p>
<p>五臟一病，不止於五，其病尤眾多也。雖其眾多，而四時有數，而並繫於春夏秋冬，及井滎俞經合之屬也，用針者必精察之。</p>
<p>詳此篇文義，似有缺誤。今且依此解之，以俟知者。</p>
<p>七十五難曰：經言東方實，西方虛，瀉南方，補北方，何謂也？然：金木水火土，當更相平。東方木也，西方金也。木欲實，金當平之；火欲實，水當平之；土欲實，木當平之；金欲實，火當平之；水欲實，土當平之。東方肝也，則知肝實。西方肺也，則知肺虛。瀉南方火，補北方水，南方火，火者木之子也，北方水，水者木之母也，水勝火，子能令母實，母能令子虛，故瀉火補水，欲令金不得平木也。經曰：不能治其虛，何問其餘？此之謂也。（有圖。）</p>
<p>金不得平木，「不」字疑衍。</p>
<p>東方實，西方虛，瀉南方，補北方者，木金火水欲更相平也。木火土金水之欲實，五行之貪勝而務權也。金木水火土之相平，以五行所勝而制其貪也。經曰：一臟不平，所勝平之。東方肝也，西方肺也，東方實則知西方虛矣。若西方不虛，則東方安得而過於實耶？或瀉或補，要亦抑其甚而濟其不足，損過就中之道也。水能勝火，子能令母實，母能令子虛。瀉南方火者，奪子之氣，使母實之有餘；補北方水者，益子之氣，使不食於母也。如此則過者退而抑者進，金得平其木，而東西二方，無復偏勝偏虧之患矣。越人之意，大抵謂東方過於實，而西方之氣不足，故瀉火以抑其木，補水以濟其金，是乃使金得與水相停，故曰欲令金得平木也。若曰欲令金不得平木，則前後文義窒礙，竟說不通。使肝木不過，肺不虛，復瀉火補水，不幾於實實虛虛耶？八十一難文義，正與此互相發明。九峰蔡氏謂，水火金木土谷，惟修取相勝，以泄其過，其意亦同。故結句云，不能治其虛，何問其餘？蓋為知常而不知變者之戒也。此篇大意，在肝實肺虛，瀉火補水上。</p>
<p>或問：子能令母實，母能令子虛，當瀉火補土為是。蓋子有餘則不食母之氣，母不足則不能蔭其子。瀉南方火，乃奪子之氣，使食母之有餘；補中央土，則益母之氣，使得以蔭其子也。今乃瀉火補水，何歟？曰：此越人之妙，一舉而兩得之者也。且瀉火，一則以奪木之氣，一則以去金之克。補水，一則以益金之氣，一則以制火之光。若補土，則一於助金而已，不可施於兩用。此所以不補土而補水也。或又問：母能令子實，子能令母虛，五行之道也。今越人乃謂子能令母實，母能令子虛，何哉？曰：是各有其說也。母能令子實，子能令母虛者，五行之生化；子能令母實，母能令子虛者，針家之予奪，固不相侔也。</p>
<p>四明陳氏曰：仲景云：木行乘金，名曰橫。《內經》曰：氣有餘則制己所勝，而侮所不勝。木實金虛，是木橫而凌金，侮所不勝也。木實本以金平之，然以其氣正強而橫，金平之則兩不相伏而戰。戰則實者亦傷，虛者亦敗。金虛，本資氣於土，然其時土亦受制，未足以資之，故取水為金之子，又為木之母，於是瀉火補水，使水勝火，則火餒而取氣於木，木乃減而不復實，水為木母，此母能令子虛也。木既不實，其氣乃平，平則金免木凌，而不復虛，水為金子，此子能令母實也。所謂金不得平木，不得徑以金平其木，必瀉火補水，而旁治之，使木金之氣，自然兩平耳。今按陳氏此說，亦自有理。但為「不」之一字所纏，未免牽強費辭。不若直以「不」字為衍文爾。觀八十一篇中，當知金平木一語可見矣。</p>
<p>七十六難曰：何謂補瀉？當補之時，何所取氣？當瀉之時，何所置氣？然：當補之時，從衛取氣；當瀉之時，從榮置氣。其陽氣不足，陰氣有餘，當先補其陽，而後瀉其陰；陰氣不足，陽氣有餘，當先補其陰，而後瀉其陽，榮衛通行。此其要也。</p>
<p>《靈樞》五十二篇曰：浮氣之不循經者為衛氣，其精氣之行於經者為榮氣。蓋補則取浮氣之不循經者，以補虛處，瀉則從榮置其氣而不用也。置，猶棄置之置。然人之病，虛實不一；補瀉之道，亦非一也。是以陽氣不足而陰氣有餘，則先補陽而後瀉陰以和之；陰氣不足而陽氣有餘，則先補陰而後瀉陽以和之。如此則榮衛自然通行矣。補瀉法見下篇。</p>
<p>七十七難曰：經言上工治未病，中工治已病者，何謂也？然：所謂治未病者，見肝之病，則知肝當傳之於脾，故先實其脾氣，無令得受肝之邪，故曰治未病焉。中工者，見肝之病，不曉相傳，但一心治肝，故曰治已病也。</p>
<p>見肝之病，先實其脾，使邪無所入，治未病也，是為上工。見肝之病，一心治肝，治已病也，是為中工。《靈樞》五十五篇曰：上工刺其未生也，其次刺其未盛者也，其次刺其已衰者也。下工刺其方襲者也，與其形之盛者也，與其病之與脈相逆者也。故曰：方其盛也，勿敢毀傷，刺其已衰，事必大昌。故曰：上工治未病，不治已病。此之謂也。</p>
<p>七十八難曰：針有補瀉，何謂也？然：補瀉之法，非必呼吸出內針也。知為針者信其左，不知為針者信其右。當刺之時，先以左手厭按所針滎俞之處，彈而努之，爪而下之，其氣之來，如動脈之狀，順針而刺之，得氣因推而內之是謂補，動而伸之是謂瀉。不得氣，乃與男外女內。不得氣，是謂十死不治也。</p>
<p>彈而努之，鼓勇之也。努，讀若怒。爪而下之，掐之稍重。皆欲致其氣之至也。氣至指下，如動脈之狀，乃乘其至而刺之。順，猶循也，乘也。停針待氣，氣至針動，是得氣也。因推針而內之，是謂補。動針而伸之，是謂瀉。此越人心法，非呼吸出內者也，是固然也。若停針候氣，久而不至，乃與男子則淺其針而候之衛氣之分，女子則深其針而候之榮氣之分。如此而又不得氣，是謂其病終不可治也。篇中前後二「氣」字不同，不可不辨。前言氣之來如動脈狀，未刺之前，左手所候之氣也。後言得氣不得氣，針下所候之氣也。此自兩節。周仲立乃云：凡候氣，左手宜略重之。候之不得，乃與男則少輕其手，於衛氣之分以候之；女則重其手，於榮氣之分以候之。如此則既無前後之分，又昧停針待氣之道，尚何所據為補瀉耶？</p>
<p>七十九難曰：經言迎而奪之，安得無虛？隨而濟之，安得無實？虛之與實，若得若失；實之與虛，若有若無。何謂也？</p>
<p>出《靈樞》第一篇。得，求而獲也。失，縱也，遺也。其第二篇曰：言實與虛，若有若無者，謂實者有氣，虛者無氣也。言虛與實若得若失者，謂補者必然若有得也，瀉者恍然若有失也。即第一篇之義。</p>
<p>然：迎而奪之者，瀉其子也。隨而濟之者，補其母也。假令心病，瀉手心主俞，是謂迎而奪之者也；補手心主井，是謂隨而濟之者也。</p>
<p>迎而奪之者，瀉也。隨而濟之者，補也。假令心病，心，火也。土為火之子。手心主之俞，大陵也。實則瀉之，是迎而奪之也。木者，火之母。手心主之井，中衝也。虛則補之，是隨而濟之也。迎者迎於前，隨者隨其後。此假心為例，而補瀉則雲手心主，即《靈樞》所謂少陰無俞者也。當與六十六難並觀。</p>
<p>所謂實之與虛者，牢濡之意也。氣來實牢者為得，濡虛者為失。故曰若得若失也。</p>
<p>氣來實牢濡虛，以隨濟迎奪而為得失也。前云虛之與實，若得若失；實之與虛，若有若無。此言實之與虛，若得若失。蓋得失有無，義實相同，互舉之省文爾。</p>
<p>八十難曰：經言有見如入，有見如出者，何謂也？然，所謂有見如入者，謂左手見氣來至乃內針，針入見氣盡乃出針，是謂有見如入，有見如出也。</p>
<p>所謂有見如入下，當欠「有見如出」四字。如，讀若而。《孟子》書：望道而未之見。而，讀若如。蓋通用也。</p>
<p>有見而入出者，謂左手按穴，待氣來至乃下針，針入候其氣應盡而出針也。</p>
<p>八十一難曰：經言無實實虛虛，損不足而益有餘，是寸口脈耶？將病自有虛實耶？其損益奈何？然：是病非謂寸口脈也，謂病自有虛實也。假令肝實而肺虛，肝者木也，肺者金也，金木當更相平，當知金平木。假令肺實而肝虛，微少氣，用針不補其肝，而反重實其肺，故曰實實虛虛，損不足而益有餘。此者中工之所害也。</p>
<p>是病二字，非誤即衍。肝實肺虛，金當平木，如七十五難之說。若肺實肝虛，則當抑金而扶木也。用針者乃不補其肝，而反重實其肺，此所謂實其實而虛其虛，損不足而益有餘，殺人必矣。中工，中常之工，猶云粗工也。</p>
<p>按《難經》八十一篇，篇辭甚簡，然而榮衛度數，尺寸位置，陰陽王相，臟腑內外。脈法病能，經絡流注，針刺穴俞，莫不該盡。而此篇尤創艾切切，蓋不獨為用針者之戒，凡為治者皆所當戒，又絕筆之微意也。於乎！越人當先秦戰國時，與《內經·靈樞》之出不遠，必有得以口授面命，傳聞曄曄者，故其見之明而言之詳，不但如史家所載長桑君之遇也。邵氏乃謂經之當難者，未必止此八十一條。噫！猶有望於後人歟！</p>
