<header data-type="book">
<h1>葉氏醫案存真</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="葉桂">葉桂</data>撰，<data value="葉萬青">葉萬青</data>校正</dd></div>
<div><dt>年份</dt><dd><data value="1836">公元1836年</data></dd></div>
</dl>
</header>

<h1>葉序</h1>
<p>先高祖《臨症指南》一書，為錫山華君岫云所刻，書成於乾隆丙戌，風行海內。余成童時，涉獵及之，不能識也，後檢故紙，得家藏方案一冊，魯魚亥豕，所在多有謬誤，此必《指南》選刊所遺者，亦整置未暇究。近年留心斯道，因發篋讀之，然後知先哲之所以享重名者，久而彌光。蓋自有在嘉慶丙子，獲見天元醫案於研六齋周謝庵姨丈家，精光騰躍，嘆為希世之寶。道光辛卯，於城東陳順庵家復見方案摘錄百十條，簡潔高妙，洵為門診之精華，又不勝遺珠之嘆。因思華君非同里，又素不業醫，能以數年採輯之勤，沾丐後人，厥功甚偉。余為裔孫，獨珍手澤而不公諸當世，華君有知，其謂我何？但《指南》類症分編，余則一無去取，亦不分門別類，自愧識淺，不敢妄為選擇，姑還舊觀，且自來醫家臨證雖多，豈能盡備，而茲又篇帙無多乎？其天元醫案中，載馬元儀先生案頗多，皆神妙，與先祖方案如驂之靳，另附於後，自為一卷，而祁正明、王晉三兩先生之案亦附焉。世有好學深思者，或再搜來選刻，則其功當不在華君下矣，其拭目以俟之。</p>
<p><u>道光十二年歲在壬辰四月元孫萬青謹序</u></p>

<h1>石敘</h1>
<p>昔者竊聞之，孫真人以神針療龍神之疾，神龍感之，贈以禁方三十，孫因著《千金方》三十卷，每卷中雜一龍宮方，今人亦不能一一指出，何方為龍宮所授。惟相傳六味丸，即禁方之一。試以此方論之，山藥之甘，地黃之苦，丹皮之辛，萸肉之酸，澤瀉之咸，五味具備，又以茯苓之淡，調和之，俾五臟六腑均受其益，此其運用之妙，誠不可思議哉。由是知醫者之有方，猶匠者之有斧斤、繩墨，非是無以成其事也。吾鄉葉天士先生，生在康熙初，沒於乾隆十年，工長桑之術，身歷三朝，名聞九域，夫人而知之矣。其謝世已九十餘年，至今談方術者，必舉其姓字，以為仲景、元化一流人也。其生平所制方，有萃錄成編者，其元孫納人等，校而授梓，問敘於予。夫人祖宗，一言一行，無非彝訓所存，凡為子孫者，必多方表章之，以寄其數典不忘之志，況方書為活人要術，可以調元贊化，而消斯民夭札、厲疾之災者乎！即如龍宮禁方，非孫氏傳之，世人又烏從而知之？諺云：施藥不如施方。訥人晜弟斯刻，不特表揚先澤，亦有合乎昔賢善與人同之義，又可緩乎哉？是為敘。</p>
<p><u>道光丙申七月舊史氏石韞玉撰</u></p>

<h1>胡敘</h1>
<p>精氣神為人身之至寶，醫能保人所寶，則醫書真寶書也。軒岐而下，惟仲景稱聖，為制方之祖。嗣後英賢輩出，各抒心得，立法以啟後人，方書充棟。後之用法者，能得古人法中之意，而不泥於法，則因病定方，不執方以治病可也。所難者在認症耳！昔嘉言喻氏謂，醫不難於用藥，而難於認症，故先議病後議藥。丹溪朱氏著《脈因證治》一書，亦以認症為先，施治為後。若但執某方治某病，而至於何脈何因何症，辨之不真，焉能用之無誤？寒熱虛實，疑似甚多，見病治病，十無一效，曷足怪哉？吳中精於醫者，代不乏人，自葉香岩先生，治稱神術，百餘年來，無有繼其傳者。惜其生平濟人，事殷無暇，著述如《臨證指南》一書，為門人所採輯，久已風行海內。今復見《醫案存真》三卷，系其哲嗣訥人先生彙集家藏方案成編。觀其施治之妙，實由辨症之的。其不惑於症之疑似，治不違於法，而又不泥於法者，苟非根柢《內經》，博涉諸家，其烏能洞徹陰陽標本，隨症立方，神明於規矩若是哉？至馬、祁、王三家醫案，各抒精義，制方附刊於後，亦足資後人採擇。此書誠可寶也！書既成，先生濟世之業，與其哲嗣濟世之心並傳不朽，而流澤孔長矣，是為序。</p>
<p><u>道光丙申秋九月吳郡胡國英識</u></p>

<h1>卷一</h1>
<p>通下下通，脘中仍結，上下格拒者，乃上熱下寒。古人用麻沸湯煮涼藥以解上，濃煎溫補以治下，使陽氣不脫，鬱熱自罷，今仿之。</p>
<p>黃芩　小川連　枳實</p>
<p>上三味入滾水中煮五十沸即濾。</p>
<p>人參　淡附子　乾薑</p>
<p>上三味煎濃汁一杯和入前藥服。</p>
<p>疝攻上觸，必傾囊嘔物，此胃中得食氣壅，肝邪無以泄越，得吐而解，蓋木鬱達之也。此番病發，原自怒起，其為肝厥何疑。</p>
<p>炒黑川椒　炒小茴香　川楝子　橘核　青皮汁　青木香</p>
<p>虛損心熱，齶干，咳嗽，失血。此天氣令降，身中龍相反升，下焦真氣不得收納故也。惟寧神靜坐，斯天君不動，自得陰上承，陽下降，地天交而成泰矣。</p>
<p>紫胡桃肉　坎氣　糯稻根鬚　北五味子　白蜜</p>
<p>今年七月，秋暑未除，初病頭痛身熱，是暑由上竅傷及清陽，醫藥當辛涼取氣，同氣相求。中上之輕邪自散，無如辛溫、苦寒、清滋之類雜然並投。水穀內蒸，氤氳不解，見症仍在身半以上，軀殼之間，非關臟腑大病，第能蔬食十日，可解上焦之郁。</p>
<p>川芎　薄荷　荊芥炭　炒白芷　蔓荊子</p>
<p>菊花蒂　元茶（三錢）</p>
<p>煎湯代水。</p>
<p>精傷痿躄，尻髀跗脛，皆如槁木，不知冷熱，糞黑腸枯。用潤劑通陰中之陽，病人自覺熱從內起，略有活動，但系沉痼之病，未許其能卻疾也。</p>
<p>鹿茸　當歸　枸杞子　熟地　虎骨膠　舶茴香　沙蒺藜　牛膝</p>
<p>脈澀小數，質弱，平昔喜飲。酒性先入肝膽，故易生嗔怒，且塗次侍親，煩勞鬱熱，自情懷而升。病屬郁勞，惟怡悅為上，用藥不易奏功。</p>
<p>桑葉　川貝母　粉丹皮　山梔殼　天花粉　蜜炒廣皮</p>
<p>胃主納，脾主運。能食不化，泄瀉，治在太陰脾臟。此臟為柔臟，陽動則能運，凡陰藥取味皆靜，歸、地之屬，反助病矣。</p>
<p>淡附子　淡乾薑　生益智　生砂仁　人參　茯苓</p>
<p>脈弦，舌白，吐涎，食入膈上即湧出。自述由動怒得之，春病至霜降不愈，心中反痛。以肝病犯胃治法。</p>
<p>金鈴子　延胡索　良薑　茯苓　炒半夏　砂仁殼</p>
<p>形壯色白，氣虛有痰，痰阻經絡，氣血不通，經事三年不來。古人治此，必以調氣為先，蓋氣為血帥也。見病治病，終亦無裨。</p>
<p>生臺術　茯苓塊　香附　砂仁　蒺藜　製半夏</p>
<p>淡水熬膏，臨好以文火燉收，清晨開水調服。</p>
<p>孕育已十一胎，未到七七，天癸已絕，八脈不司約束，脊腰痠痛，足跗骨中麻痹，間有帶淋畏熱。此屬陰虛。虎潛法治之。</p>
<p>熟地　龜板　虎骨膠　知母　當歸　白芍　黃柏　牛膝</p>
<p>虛損，真陰內涸。當戊己君火主令，立夏小滿，陽氣交併於上，喉舌腫腐，是陰不上承，熏蒸膩涎。吐咯不清，皆五液之變，由司氣感及軀質而然。檢古方，以仲景少陰咽痛例，用豬膚湯。</p>
<p>用白虎法，渴煩少減，略飢，必形神軟倦，津液既遭熱迫，陽明脈絡自怯。當以清燥法，清氣熱以涵液。</p>
<p>人參　麥冬　知母　石膏　生地　阿膠　甘草</p>
<p>三日瘧，是邪干陰經，表散和解，不能去病，詢知不慎口腹。食物之氣，亦能助邪，宜先理脾胃而廓清之。</p>
<p>桂枝木　生鱉甲　烏梅肉　常山　廣皮　知母　草果　淡黃芩</p>
<p>心悸如飢，頭暈肢麻，此乃內起肝風。汗多淋漓，氣弱陽泄。近日肌浮腹大，木傳土也。仿丹溪養金制木，使脾少賊邪之害。</p>
<p>阿膠　天冬　生白芍　細生地　麥冬　明天麻　菊花炭</p>
<p>痘後四肢瘍毒，延綿日久，聚集環跳膝跗，以至不能行走，乃沉疴難愈之疾。據述筋粗強硬，不司舒展。《內經·病能篇》筋縱筋弛，分寒濕、濕熱之異。但痘漿未化之毒，混處血脈絡間兩年之久，攻之決不應病。夫四肢血少氣多，初患當取陽明，今已流入陰分，遇風冷輒痛，溫通逐邪，理亦可通。然男子未通精之歲，必以生陰為要務。調理方法，宗錢仲陽麋茸六味，壯陰通陽，可以常進。</p>
<p>麋茸　大熟地　紅花　當歸　枸杞子　杜仲粉　虎脛骨　牛膝</p>
<p>二十日來，以甘溫、益氣、養陰，治脾營胃衛後天，漸得知飢納食。思瘧、痢致傷下焦，奇經八脈皆損，是以倏起寒熱，背部畏冷，遇風必嗽痰。陽維脈無以維持護衛，衛疏則汗泄矣。從虛損門治。</p>
<p>人參　鹿角霜　沙蒺藜　補骨脂　茯神　枸杞炭　鹿茸　當歸身</p>
<p>少腹瘕聚，從左上升，每月事將至，經絡腹脅先痛。自述嗔怒病加，病在肝俞血海。由氣逆血滯，故年逾三旬，未得孕育，下焦時冷。治當理氣血以調經，若縷治病樣，未免太拙。</p>
<p>當歸　川芎　木香　麝香　香附　桃仁　楂肉　蔥白　延胡索　吳茱萸　川楝子　小茴香　韭白</p>
<p>水泛為丸，益母草湯送。</p>
<p>悲憂哭泣致病，不飢欲嘔，病屬鬱症。治當條達肝胃，第胃為陽土，肝寄相火，雖結瘕氣，燥熱未宜。</p>
<p>製半夏　白茯苓　炒丹皮　炒神麯　吳茱萸　夏枯草　黑山梔　川連</p>
<p>因嗔怒心胸痞脹三年，左脅下堅凝有形，偶觸勞忿，則寒熱無汗。此屬郁痹氣血，延成肥氣。治當宣通營衛，流行脈絡，佐入攻堅，俾寒熱得止再議。</p>
<p>炒柴胡　生香附　半夏曲　丹皮　桃仁　青皮　薑汁炒梔仁　生牡蠣</p>
<p>臨服入鱉血五匙。</p>
<p>行走多動陽，酒濕多變熱，熱氣上升，犯冒清竅，頭蒙HF聤脹，衄血成流，上齶腐瘍，久必漏卮。世俗通套，每用犀角地黃，然酒性先入膽，次及胃。酒客性惡甜膩，從苦降定議，以苦能卻濕也。</p>
<p>桑葉　苦丁茶　連翹心　荷葉邊　丹皮　射干</p>
<p>瘧傷真陰，七八年來每交春季，即脊背肩胛脹痛，入夏更甚，冬寒乃瘥。凡春夏之時，天地大氣發泄，至秋冬方始斂藏。臟真既少，升泄病來。督脈行身之背，自陰而及於陽，但內傷不復，未易見功，惟養靜斷欲，用藥可希漸效。</p>
<p>鹿角霜　鹿角膠　熟地炭　菟絲餅　青鹽　柏子仁</p>
<p>暑濕乃夏秋時令之病，其邪先著氣分，氤氳矇昧，有形無質，醫投攻奪，乃有形治法。氣傷陽損，至今肢冷溏泄，何一非陽微腫脹之徵？此宜溫補下中，莫治眼前。</p>
<p>人參　白朮　木瓜　淡附子　益智仁　炒廣皮　厚朴</p>
<p>高年少腹氣衝脘下，心肋時痛，舌底流涎，得甜味或靜臥少瘥，知飢不食，大小便日窒，此皆陰液內枯，陽氣結閉。喻西昌有滋液救焚之議，然衰老關格病，苟延歲月而已，醫藥僅堪圖幸。</p>
<p>大麻仁　柏子仁　枸杞子　肉蓯蓉　紫石英　炒牛膝</p>
<p>三陰瘧，是陰分伏邪。汗之、清之不解，但與膩滯補藥，邪無出路，遂致吐衄，寒自背起，督脈應乎太陽。</p>
<p>川桂枝　熟半夏　炒白芍　炒黑蜀漆　生牡蠣</p>
<p>淮海水鹹土潮，水土異氣，自口鼻受入，必聚募原，濕邪久郁化熱，陽明絡損血溢，咳嗽，視目黃面亮，顯然濕熱變痰。況病已數年，若是陰虛，必不能延久至今也。從濕熱例治。</p>
<p>杏仁　厚朴　米仁　赤茯苓　塊滑石　綿茵陳</p>
<p>淋屬肝膽，而酒性濕熱之氣，肝膽先受，滓汁次及腸胃。濕甚熱鬱，溺竅氣阻，莖管窄隘。久病積熱愈深，不受溫補，當忌酒肉厚味。分利雖投，不能卻病。從經義苦味法濕，參以解毒。</p>
<p>料豆皮　牡丹皮　黑山梔　蘆薈　龍膽草　真青黛　金銀花　胡黃連</p>
<p>陰虛汗泄精遺，理應固攝。但先哲澀固之藥，必佐通滑以引導澀味，醫知斯理者鮮矣。</p>
<p>熟地　萸肉　杜芡實　五味子　龍骨　遠志　茯神</p>
<p>用豬脊髓、金櫻子膏搗和為丸。</p>
<p>幼稚驚癇，至十三歲患發，每發必於子夜陽動之時。想陰未充溢，肝風乘陽，冒亂神識，痰涎上湧，治痰清火無效。蓋肝為腎子，木中陰火燔灼腎液，皆為上泛矣。女子天癸得來，斯病當有愈期。</p>
<p>大熟地　懷山藥　當歸身　茯苓塊　山萸肉　紫石英　丹皮　澤瀉　河車膠</p>
<p>便濁、精濁兩者迥殊。據述素有夢遺，濁發遺止，則知精濁矣。分清飲、八正散治濁套藥，與此無涉，當固補下焦，不必分利。</p>
<p>熟地　遠志　沙蒺藜　線魚膠　山萸肉　覆盆子　菟絲餅　生龍骨　茯苓塊</p>
<p>臭穢觸入，遊行中道，募原先受，分布三焦上下。頭脹，脘悶，洞泄。以芳香逐穢法。</p>
<p>藿香梗　生香附　茯苓皮　白豆蔻　飛滑石　炒厚朴　新會皮</p>
<p>食下脘中噎阻，背脅氣逆而痛，脈右寸獨大。據述由嗔怒致病，當與清金制木，形瘦津少，勿用破氣燥血。</p>
<p>枇杷葉　桔梗　紫降香汁　川貝　蘇子　生香附汁</p>
<p>凡憂愁思慮之內傷不足，必先上損心肺。心主營，肺主衛，二氣既虧，不耐煩勞，易於受邪。惟養正則邪自除，無麻、桂大劫散之理，故內傷必取法乎東垣。今血止脈軟，形倦不食，仍嗆咳不已，痰若黏涎，皆土敗金枯之象，急與甘緩補法。</p>
<p>生黃耆　炒白芍　炙草　飴糖　南棗</p>
<p>著左臥即咳甚，是臟陰血液傷極。用益氣甘藥者，緣有形生於無形耳。</p>
<p>人參　黃耆　當歸　白芍　南棗　炙草</p>
<p>寒熱因經水不來而甚，此《內經》謂二陽之病發心脾。女子不月，肌肉日瘦，腹有動氣，即風消息賁矣。內損成勞，非通經逐瘀所能愈也。</p>
<p>柏子仁　歸身　白芍　桂枝　桂圓肉　生黃耆</p>
<p>今年二三月，久雨陰晦，入山行走，必有瘴氣濕邪著於脾胃，腹中脹閉，溏瀉夾積，溺赤不爽，目毗肌肉悉黃。夫濕為陰邪，郁久必熱，熱自濕中而出，當以濕為本治。</p>
<p>生茅朮　炒厚朴　豬苓　草豆蔻　新會皮　綿茵陳　澤瀉　茯苓皮</p>
<p>木香汁磨入。</p>
<p>精血五液衰奪，陽化內風，上巔則眩暈欲厥，乘絡則四末瘀痹。老年有此，斷非攻邪可卻。古方侯氏黑散，取乎培實孔竅者緣此。</p>
<p>熟地　杞子　藕汁　河車膠　紫石英　甘菊炭　茯苓　人乳粉</p>
<p>熬膏不用蜜。</p>
<p>色蒼肉瘦，形象尖長，木火之質，陰液最難充旺，春間咳嗽，雖系風溫外邪，但既屬陰虧，冬藏先已不固，因咳逆震動，浮陽上冒，清空自阻。用藥宜取沉靜質重，填陰鎮陽方是，閱方辛氣居半，與磁石相阻，蓯蓉陰中之陽，亦非收攝，不效宜矣。</p>
<p>大熟地　靈磁石　萸肉　五味子　牡丹皮　雲茯苓　阿膠　懷山藥　澤瀉　龜板</p>
<p>東垣謂：瘧痢皆令脾傷，以為寒為熱之邪，由四末蒸犯中焦也。蓋頭形象天，清陽不曠，故面目諸竅不和，形寒汗泄，將來浮腫腹大，已瞭然在目矣。</p>
<p>人參　茯苓　熟附子　淡乾薑　厚朴　澤瀉</p>
<p>脈弦緩，面目肌膚皆黃，舌白滑膩，胸脘膈間脹閉，病名濕溫。由瀕海潮濕，氣入口鼻至募原，分布三焦，此為外因。仍食水穀腥物，與外入穢濁之邪，兩相交混，濕甚熱鬱，三焦隧道氣血不通，遂變黃色。發汗不愈者，濕家本有汗也。清熱消導不愈者，熱從濕中而起，濕不去則熱不除也。夫濕邪無形質，攻滯乃有形治法，其不效宜矣。昔河間治濕熱，必取乎苦辛氣寒。蓋苦降以逐濕，辛香以祛穢，寒取乎氣，借氣行不閉寒於內也。當世醫者，混以傷寒表裡為治，殊不知穢濕氣入口鼻，遊走三焦，不與傷寒同治。</p>
<p>綿茵陳　白豆蔻　厚朴　川通草　廣皮白（炒）　茯苓皮　半夏曲　塊滑石</p>
<p>濕濁內蒸，瘀熱發黃，三焦壅遏，濁氣迷漫，又非有形質滯。此辛香逐穢，宣通是一定法。日期既多，恐濁閉神昏，另以銀花湯，化至寶丹二粒。</p>
<p>綿茵陳　白豆蔻　茯苓皮　厚朴　草果　滑石　杏仁　木通　鮮菖蒲根汁</p>
<p>復診</p>
<p>綿茵陳　厚朴　江枳實　草果仁　細木通　黑山梔　雲茯苓　黃柏</p>
<p>痰滯得穢濁膠結，濕中熱起，蒸變發黃，脘中痞悶，病在氣分。兩進消導理氣，面目黃色略減，而痞結如故，議與治疸疏滯，兼以蘇合香丸逐穢為法。</p>
<p>茵陳　草果仁　枳實　厚朴　廣皮　木通</p>
<p>暮服蘇合香丸，一丸三服。</p>
<p>復診</p>
<p>生白朮　茯苓塊　茵陳　豬苓　厚朴　滑石　澤瀉</p>
<p>稚年瀉血，是飲食不調，熱蒸於絡，為腸胃之病。肛痔亦由濕熱內蒸而致，熱甚則陰液不充，風熱上升，故干嗆。法當與甘寒之劑，俾金水同出一源，況肺熱必移大腸，腎開竅於二陰也。</p>
<p>鮮生地　地骨皮　麥門冬　金銀花　穭豆皮　肥知母</p>
<p>下利皆令傷陰，值沖年，情念正萌，遂患夢遺，勞煩飢餒更甚，以精血有形，必從水穀入胃，資其生長也。診脈數，面亮，莖舉則精出，溺後亦淋瀝，是陰虛精竅不固，因陽氣下墜所致，議固下陰以和陽。</p>
<p>熟地　旱蓮草　生龍骨　懷山藥　杜芡實　萸肉　雲茯苓　蓮蕊須　金櫻子膏</p>
<p>煉蜜為丸。</p>
<p>瘧後耳竅流膿，是竅閉失聰，留邪與氣血混為扭結，七八年之久。清散不能速效，當忌葷酒濁味，臥時服茶調散一錢，患耳中以甘遂削尖，插入，口內銜甘草半寸許。兩年前晨泄，食入嘔吐，此非有年體質之脾腎虛瀉，可以二神、四神治也。蓋幼衝陽虛，百中僅一耳。今泄瀉仍然寒熱，咳嗽失血，天癸不來，脈得弦數，形色消奪，全是沖年陰不生長，勞怯大著。無見病治病之理，保其胃口，以冀經通，務以情懷開爽為要，勿恃醫藥卻病。</p>
<p>熟地炭　炒當歸　炙甘草　炒白芍　淡黃芩　烏梅肉　黑楂肉</p>
<p>脈細，右濡左數。少年形瘦肌槁，遺泄，是知識太早，致精血難充，臍左動氣，食減易飢，陰傷於下，漸延中宮。沉陰恐妨胃，剛補慮劫陰。男子精傷補陰，參入柔劑溫藥，取坎中寓陽之意。</p>
<p>鹿角霜　龜腹版　白茯苓　構杞子　柏子仁　炙甘草　沙蒺藜　炒黑遠志</p>
<p>脅痛，咳則更甚，漸次腹大堅滿，倚左，不能臥右，此閃氣致閉。便溏溺利，已非腑實，乃絡病也。</p>
<p>桂枝木　炒厚朴　新絳屑　生牡蠣　旋覆花　青蔥管　生香附　雞內金</p>
<p>三瘧留熱，伏於厥陰絡中，左脅瘕聚有形，是為瘧母。寐則驚惕，若見鬼神。夫肝為藏魂、藏血之鄉，熱邪內灼，藏聚失司，非攻補可療，議清解血中之結以祛熱。</p>
<p>大生地　柏子仁　炒丹皮　生鱉甲　生牡蠣　郁李仁　炒桃仁</p>
<p>脈數，左促右小，咳嗽已一年，喉癢火升食減，經水仍來，從未生育。凡女人以肝為先天，肝陰不充，相火上燔莫制，嗽久痰帶紅絲，皆勞怯勢成，日見消爍，清肺涼藥不效，根本先虧也。急養肝腎之陰，不失延久之計。</p>
<p>烏骨雞　大熟地　麥門冬　炒白芍　清阿膠　當歸身　川貝母　炙甘草　地骨皮　北沙參　白茯苓　焦黃柏</p>
<p>雞去毛、腸、頭、足、翅，入藥在肚內，酒煮爛，去骨，用其藥肉，搗曬重磨，余汁打糊丸。</p>
<p>遺泄有夢屬心，無夢屬腎。據述氣火下溜，即如溺出之狀，莖管中痛，熱氣上衝咽喉，巔頂掀脹，語言皆怯。此任脈不攝，衝脈氣逆。</p>
<p>治法：引之導之，攝以固之，現在便溏食少，勿投沉陰膩滯之藥。</p>
<p>砂仁炒熟地　炒黑遠志肉　炒蓮鬚　元武版　白龍骨　鎖陽　茯苓　杜芡實</p>
<p>以金櫻子熬膏為丸。</p>
<p>形勞悒鬱之傷，脈得左部弦勁，肝血膽汁已少，目翳紅赤。治以涼肝滋液。</p>
<p>穭豆皮　菊花炭　穀精草　淡天冬　枸杞子　生地</p>
<p>牙宣春發，繼以喘促，乃腎虛不能納氣歸元。戌亥陰火，寅卯陽動，其患更劇。閱古人書，急則用黑錫丹、養正丹之屬，平時以溫暖下元方法。</p>
<p>人參　熟地　五味子　胡桃肉　熟附子　舶茴香</p>
<p>獨糞後血未已，是為遠血，宗仲景《金匱》例，用黃土湯。</p>
<p>黃土　生地　奎白芍　人參　清阿膠　川黃柏　歸身　泡淡附子</p>
<p>病始足脛，乃自下焦肝腎起病，其形不腫，則非六氣濕邪，當從內損門痿躄推求。萸、地滋滯，久服胃傷，食減嘔逆，皆因濁味滯氣而然。經年不復，損者愈損，臟真不能充沛，奇經八脈不司其用。經云：衝脈為病，男子內結七疝，女子帶下瘕聚。夫衝脈即血海，男子藏精，女子系胞。今精瀝內結有形，是精空氣結，亦猶女子之瘕聚也。凡七疝治法，後人每宗張子和，但彼悉用辛熱，與今之精空氣結迥殊。久病形消肉脫，議以精血有情，涵養生氣。</p>
<p>鮮河車一具，水煮搗爛，入山藥、建蓮末拌勻，丸如桐子大，清晨人參湯送下。</p>
<p>據述左脅痛引背部，虛里穴中按之有形。納食不得順下，頻怒勞煩，氣逆血鬱。五旬以外，精力向衰，延久最慮噎膈。議宣通氣血，藥取辛潤，勿投香燥，即有瘀濁凝留，亦可下趨。</p>
<p>當歸尾　京墨汁　桃仁泥　延胡索　五靈脂　老韭白</p>
<p>足跟筋骨痛，不能履地，漸至延及腰脊，向患遺精此肝腎精血內耗，將成痿躄也。</p>
<p>生精羊肉　炒當歸身　舶茴香　老生薑</p>
<p>《靈樞經》云：人身陽氣不納入陽蹻穴，則寤不得寐。飲以半夏湯，今宗之。</p>
<p>半夏　秫米</p>
<p>腸血腹脹便溏，當臍微痛，脾胃陽氣已弱。能食，氣不運，濕鬱腸胃，血注不已。考古人如羅謙甫、王損庵輩，用劫胃水法可效。</p>
<p>真茅朮　紫厚朴　升麻炭　炙甘草　附子炭　炮薑炭　炒當歸　炒白芍　煨葛根　新會皮</p>
<p>以黃土法丸。</p>
<p>口齒骨骱不開，咽喉痰壅，溺阻肌浮，是皆氣分閉塞。經言：諸氣膹郁，皆屬於肺。肺象空懸，凡重劑竟走腸胃，故久治不效。</p>
<p>麻黃　杏仁　滑石　牛蒡子　馬兜鈴　生甘草　射干　馬勃</p>
<p>瘀濁久留，脾胃絡中，黑糞自下，肌色變黃，納食漸減，脘中時痛，不易運化，中宮陽氣日傷，新血復為瘀阻。夫脾臟主統血，而喜溫暖，逐瘀鮮效。讀仲聖太陰九條，僅僅溫下一法，但溫後必以溫補醒陽，否則防變中滿。</p>
<p>潯桂心　煨木香　生桃仁　製大黃</p>
<p>初以心動精泄，久則關鍵滑溜，食減至半，業已損及中焦。萸、地滋膩滯胃，下焦之陰，未得其益，中宮之陽，先受其累。至於黃柏味苦，苦更傷陰。當以妙香散加金箔治之為穩。</p>
<p>人參　龍骨　遠志　茯神　金箔　益智　茯苓　硃砂　甘草</p>
<p>墮胎十八次，衝任奇脈血液無存。厥氣入絡，為脹為痛，或時沖逆犯膈，八脈皆不為用，淹淹漸成損怯，徒欲止痛寬脹，乃不明之論，俗醫皆然。</p>
<p>真鹿胎　枸杞　牛膝　淡蓯蓉　當歸身　沙蒺藜　舶茴香　潯桂心</p>
<p>臍旁有塊，仍流動，按之軟，或時攻脅刺痛，外腎寒冷拘束，病屬肝血腎精之損。凡腎當溫，肝宜涼。腎主藏納，肝喜疏泄，收納佐以流通，溫腎涼肝，是此病制方之大法。</p>
<p>當歸身　枸杞子　生牡蠣　炙鱉甲　小茴香　沙蒺藜</p>
<p>產後腹堅有形，氣聚不通，漸成脹滿，乃衝脈為病。其大便秘阻，血藥潤滑不應，柔膩氣愈凝滯。考徐之才云：腎惡燥，以辛潤之。</p>
<p>當歸身　精羊肉　舶茴香　老生薑</p>
<p>久嗽形寒，行走喘急，是下焦先損。入冬陽不潛伏，喘甚失音，胃納頗安。溫養元海，佐其攝納。若以清肺散邪，食減胃傷，必致敗壞。</p>
<p>炒熟地　雲茯苓　胡桃肉　牛膝　鹿鞭　淡蓯蓉　炒黃枸杞</p>
<p>厥陰犯胃，則陽明空虛。仲景云：入谷則噦，與吳茱萸湯。泄肝救胃，即史書圍韓救趙同旨。</p>
<p>吳茱萸　淡乾薑　炒白芍　雲茯苓　人參</p>
<p>勞煩繼以悲哀，經阻三月，是二陽之病，發心脾。</p>
<p>當歸　澤蘭　白芍　川芎　香附　楂肉</p>
<p>接服柏子仁丸。</p>
<p>精腐瘀血，阻閉溺竅為痛。似淋非淋，久則陽維脈傷，寒熱起，五液枯耗為便難，乃虛症也。</p>
<p>鹿茸　淡蓯蓉　柏子仁　枸杞子　沙蒺藜　茯神　當歸</p>
<p>接服：</p>
<p>鹽水炒骨脂　淡蓯蓉　沙蒺藜　枸杞子　厚杜仲　茯神　鹿茸　龜板</p>
<p>丸方：</p>
<p>河車膠　沙蒺藜　龜板　水煮熟地　麋茸　茯神　蓯蓉</p>
<p>味過於酸，肝木乘胃，嘔逆心痛，用大建中法。</p>
<p>人參　淡乾薑　茯苓　桂木　炒黑川椒　生白蜜</p>
<p>邪與氣血交凝，則成瘧母。病在絡，自左脅漸歸於中焦，木乘土位。東垣謂：瘧母必傷脾胃。既成形象，宣通佐芳香乃能入絡。凡食物肥膩呆滯，尤在禁例，所慮延成中滿。</p>
<p>人參　茯苓　木香　草果　陳皮　香附汁　厚朴　青皮</p>
<p>肢冷湧涎，臍上痛墜，泄瀉而脈緩，此為脾厥。以辛香醒中，兼解少陽之郁。</p>
<p>生益智　香附汁　厚朴　柴胡　煨木香　陳皮</p>
<p>邪灼膻中，神迷，譫語，嘔痰。</p>
<p>牛黃丸，竹葉燈心湯化服。</p>
<p>瘧發三日，三月不止。邪留在陰，熱解無汗，氣衝胸悶，痰涎甚多。問寒起腰髀及背部，議從督脈升陽。</p>
<p>人參　炒黑川椒　鹿茸　茯苓　炒黑　小茴　炒當歸</p>
<p>妊娠八九月，胎吸母氣，陽擾煩蒸，心痛引入少腹，謂之子懸。失治有三沖三激之累。</p>
<p>柏子仁　天冬肉　女貞實　茯神　生地　真陳阿膠</p>
<p>秋深曾診，擬議此病為里濕，更傷瓜果。辛甘寒分利，脾陽又受辛寒之累，致濁氣聚形，頻遭食復，陽屢被戕。凡身中脾陽宜動，動則運。腎陰宜藏，藏則固。斯為病根，局方大健脾丸，仲淳資生丸，多以補虛、通滯、芳香合用者，取其氣通濁泄，人參補正之力得矣。</p>
<p>人參　茯苓　益智仁　煨木香　厚朴　新會皮</p>
<p>秋季寒熱滯下，總是長夏為暑濕病。蓋夏令脾胃司氣，治失其宜，致腹滿泄瀉，跗浮囊腫，皆濕邪無以走泄，阻遏流行氣機使然。腫脹勢減，仍不飢少食，兼吐瘀濁痰血，要知濕是陰濁，久鬱於中，必從熱化，初傷氣分，久而入絡。「病能篇」中，以濕腫屬脾。以脾為陰土，得陽乃運。今氣困無以運行諸經，腑為窒痹。消則愈困，補則壅滯，當疏腑養臟為宜。凡腑以宣通為補，非徒偏熱偏寒治矣。</p>
<p>茯苓　厚朴　生穀芽　新會皮　生益智　澤瀉</p>
<p>兼用仲淳資生丸去黃連，每早粥後嚼一丸，約二錢。</p>
<p>食物滯於腸胃，太陰陽氣不旋，陶節庵用五積散。因汗冷厥逆，禁用攻表。昨主溫通開滯氣頗應，謂陽氣宜通也。</p>
<p>草果　香附　厚朴　陳皮　廣木香　茯苓</p>
<p>化服蘇合香丸。</p>
<p>血傷驟加驚恐，氣鬱熱升風旋，清神受蒙為厥。凡厥皆隸厥陰，今左股麻痹，忽爽忽迷，皆肝膽中相火、內風未得寧靜。病延數日，左脈小濡。熱勝津液暗傷，不宜純與攻滌苦寒，經旨以肝為剛臟，與胃腑對待。柔緩濡潤，陽和液復，可免癇症。</p>
<p>鮮生地　石菖蒲　柏子仁　阿膠　天冬　茯神</p>
<p>幼年久有遺精，目疾，不耐勞煩。先後天未曾充旺，秋季瘧邪再傷真陰，冬月夜熱，嗽痰失血，不飢不食，盜汗傷陽，陽浮不藏，漸干胃口，皆久虛勞怯之象。此恙屏絕酒色怒煩，須安閒坐臥百日，必胃口漸旺，病可漸除，古稱精生於穀食也。</p>
<p>北沙參　女貞實　茯苓　炒麥冬　米仁　川斛　芡實</p>
<p>脈左細數而勁，右數大而虛，此腎精肝血內虧，水不涵木，陽夾內風，暴起莫制，指臂拘攣，口目喎斜在左。蓋肝風陽氣從左而升，沖氣撞心，消渴暈厥，仲景列於「厥陰篇」中。凡肝屬陰木，必犯胃之陽土，飲食熱氣入胃，引動肝陽，即病發矣。此恙已六七年，陰損已極，必屏絕俗擾，怡悅情懷，然後滋養，堪固其陰，必有小效，無驟期速功。</p>
<p>炒鬆熟地　陳阿膠　大淡菜　萸肉　五味　芡實　金櫻子粉</p>
<p>客邸懷抱不舒，肝膽郁遏，升降失度，氣墜精開為遺泄，地、萸、龍、牡鈍澀，氣鬱者更郁，理氣和肝獲效，未經調理全功。當今冬令，溫舒收藏之氣未堅，失血之後，胸中隱隱不暢，未可凝陰，只宜降氣和血。</p>
<p>鉤藤鉤　降香　米仁　鬱金　茯苓　杜蘇子　丹皮　炒桃仁</p>
<p>形充脈弦，飲食如常。述左脅久脹，上年腫突肌潰，收結已來，脅中痛脹仍發，入夜更甚，僅僅仰臥，不可轉側，此支脈結飲，阻其周行氣機，病根非外非內，宜通其脈絡為是。</p>
<p>熟半夏　青黛　土貝母　白芥子　昆布　海藻　海浮石　土瓜蔞仁　蛤蜊殼粉</p>
<p>竹瀝一小杯，薑汁三十匙，泛丸。</p>
<p>凡經脈直行，絡脈橫行，經氣注絡，絡氣還經，是其常度。今絡脈窒塞，閃爍為痛，但在雲門上焦，猶是清氣流行之所，務取輕揚宣氣，亦可無礙，濕痰便血。《靈樞》所謂：上焦如霧。</p>
<p>桑葉　蘆根　冬瓜子　米仁　桃仁（炒）</p>
<p>隨時服，臥服威喜丸三錢。</p>
<p>中年飽食，虛里穴痛脹，引之吐出，痛脹勢減，必起寒熱，旬日乃已。夫脾主營，胃主衛。因吐動中，營衛造偏周行，脈中脈外參差，遂致寒熱。且納物主胃，運化在脾，皆因陽健失司，法當暖中，用火生土意，再以脈沉弦細參論，都系陰象，有年反胃格脹，清陽漸弱，濁陰僭竊為多。症脈屬虛，溫補宜佐宣通，守中非法。</p>
<p>生淡乾薑　茯苓　人參　熟半夏　白粳米</p>
<p>勞怯形肌日瘁，食減自利，腹痛寒熱，由陰虛已及脾胃。無治嗽清滋之理，姑以戊己湯加五味，攝陰為議，是難愈之症。</p>
<p>炒白芍　炙甘草　北五味</p>
<p>久痢肛墜，診脈左堅沉，溫劑不受，陰傷不司收納，前用桃花湯少減，當與甘酸柔緩。</p>
<p>人參　炙甘草　熟地炭　柿餅炭　五味子</p>
<p>肩背肢末，皆陽氣遊行之所，牽制不和是絡脈中病。首用東垣舒經，接用參、耆、朮、附，兩法不應，必客氣襲入脈中。灸刺無功，議用酒醴通和血脈。</p>
<p>鑽地風（五兩）　千年健（五兩）　大黑豆（六兩）</p>
<p>三味投入無灰酒十斤，隔水煮。一日早晚暖服三四杯。</p>
<p>伏邪留於少陰、厥陰之間，為三日瘧，百日不愈，邪傷真陰，夢遺盜汗，津液日枯，腸燥便難。養陰雖似有理，但深沉瘧邪，何以追拔掃除？議以早服仲景鱉甲煎丸三十粒，開水送，午後服養陰通陽藥，用復脈湯加減。</p>
<p>生牡蠣　鹿角霜　酸棗仁　阿膠　麥冬　炙草　生地　桂枝　大棗</p>
<p>脈沉而遲，向有寒疝瘕泄，繼而腸血不已，漸漸跗臁麻木無力，此因膏粱酒醴，釀濕內著。中年腎陽日衰，肝風肆橫，陽明胃絡空乏，無以束筋，流利機關，日加委頓，乃陽虛也。仿古劫胃水法。</p>
<p>生茅朮　人參　厚朴　生炮附子　陳皮</p>
<p>狂癇陡發莫制，病去諸事皆清，發時面青食少，議泄肝膽。</p>
<p>龍薈丸（二錢半）　十服</p>
<p>有夢遺精，治在心腎，乃二氣不交所致。冬令牙宣，亦主藏納淺鮮，用鎮固寧神方。</p>
<p>熟地　棗仁　茯神　金箔　人中白　女貞子　湘蓮子　旱蓮草　遠志　龍骨</p>
<p>蜜丸。</p>
<p>脈虛澀，咽中時痹，不妨食物，大便乾燥，此肺中氣不下降，不主運行。消渴心熱，皆氣鬱為熱，非實火也。</p>
<p>枇杷葉　蘇子　蜜炙橘紅　馬兜鈴　茯苓　川貝母</p>
<p>病因食物不節，其受病在脾胃，既成形象，在左脅之旁，是五積六聚。喜暖惡寒，陽氣久傷，溫劑必佐宣通，食物宜慎。</p>
<p>草果　蓽撥　雞內金　砂仁殼　厚朴　廣皮</p>
<p>阿魏搗丸。</p>
<p>瘧發六七十候，寒熱邪聚，必交會於中宮。脾胃陽氣消乏，致痞脹不能納食運化，三年不愈，正氣未復。診脈沉微，陽傷必濁陰盤踞，但以泄氣寬脹，中州愈困愈劇。必溫通，濁走陽回，是久病治法。</p>
<p>生淡乾薑　生益智　厚朴　茯苓　人參　泡淡附子</p>
<p>脈大弦緩，目黃，納食後中脘滯痛，腹鳴泄瀉。夏病至深冬未安，緣瀕海潮濕久蒸，兼以懷抱少暢，脾胃之陽日困，所受水穀之氣少運，清濁升降失度，外因六氣未去，留連脾胃內傷。法當辛香調氣醒中，陽氣流行，濕鬱可去，腥膻重味宜忌。</p>
<p>煎方：杜藿香　煨木香　生茅朮　草果　陳皮　生香附汁　茯苓　厚朴</p>
<p>服十劑。</p>
<p>丸方：生於術　人參　益智仁　生茅朮　砂仁　茯苓　小青皮　厚朴　新會皮</p>
<p>瘕結在左，腹形長大，必大便得通，脹滿可減。年前詢病，因嗔怒，且久寡多郁，以泄木調氣得效，今冬又發。用大針砂丸十日，白晝頗減，入夜大脹，議通陽泄濁方法。</p>
<p>肉桂　麝香　阿魏　青皮　當歸鬚　郁李仁　川楝子</p>
<p>蜜丸。</p>
<p>腎精下損乏陰，氣上乘，浮陽上灼，咽喉痛痹，有喉宣發現，咳嗽喘促，是下焦元海不司收納，衝脈之氣上衝所致。故日進潤劑，望其咳減，為庸醫之良法，實釀病之禍階，現在胃弱便溏，則非治嗽可療矣。勞怯不復，當以固真納氣，培扶胃口，希冀加谷則吉。</p>
<p>人參　茯苓　芡實　坎氣　湘蓮子　秋石　五味子　胡桃</p>
<p>冬溫咳嗽，忽值暴冷，外寒內熱，引動宿痰伏飲，夜臥氣衝欲坐，喉咽氣息有聲。宜暖護安居，從痰飲門越婢法。</p>
<p>麻黃　甘草　石膏　生薑　大棗</p>
<p>當風受涼，遂致左偏麻木，已經三載，今年勢緩，痛聚於腰，寒冷煩勞痛甚，此氣血凝遏，壯年不為大害。議以酒醒之，是治風先治血之意。</p>
<p>當歸　沉香　川芎　松節　生於術　海桐皮　片薑黃　黃耆　桂枝　羌活　沒藥　虎脛骨</p>
<p>奔馳氣火，乘絡失血，用繆氏氣降使血歸經。</p>
<p>蘇子　茯苓　丹皮　降香　米仁　茺蔚子　桃仁　藕節汁</p>
<p>向來經水不調，衝任脈病，醫未明奇經脈絡，久治無功。後患陰瘧延虛，經來色淡淋漓，少腹攻觸㽲痛，晨必瘕泄。當通陽攝陰，非破泄真氣，偏寒偏熱之治。</p>
<p>鹿角霜　補骨脂　炒當歸　小茴香（炒黑）　白茯苓　炒川椒　紫石英　淡肉蓯蓉</p>
<p>便後純血，食減力疲，脈左堅，是中年陰虧。</p>
<p>熟地　炒白芍　當歸　柿餅炭　炙草</p>
<p>黴雨滂沱，咽喉暴痛，必因濕邪干肺，痛止納食無礙，咽水則嗆，兼吐涎沫，此痹阻在喉不在咽，仍以輕劑理肺。</p>
<p>枇杷葉　馬兜鈴　通草　米仁　射干　茯苓</p>
<p>陽微陰聚，致濁氣矇蔽清神。苓、桂不應，議用大半夏湯合附子粳米湯法。</p>
<p>半夏　人參　白蜜　附子　白粳米</p>
<p>據述瀉血五日，血止即患咳嗆，左脅下有形如梗，身動行走，必眩暈欲僕。春夏減食，秋冬稍加。交冬，人迎脈絡結癭，診脈虛，左關尺數。此肝腎精血因驚恐憂勞所傷，陽失陰戀，絡中空隙，陽化內風，鼓動不息，日就消爍不肯復，為郁勞之症。四旬以外，生氣已淺，非治病可卻。春夏，身中真氣不耐發泄可知，屏絕家務，開懷頤養，望其病緩。</p>
<p>石決明　女貞實　杞子　黑芝麻　桑葉　阿膠　寄生　柏子仁　茯苓　炒當歸</p>
<p>冬溫為病，乃正氣不能藏固，熱氣自里而發，齒板舌乾唇燥，目微紅，面油亮，語言不爽，呼吸似喘。邪伏少陰，病發三焦皆受。仲景謂：發熱而渴者，為溫病。明示後人，寒外郁，則不渴飲。熱內發，斯必渴耳。治法清熱存陰，勿令邪熱焚劫津液，致瘛瘲，痙厥，神昏，譫狂諸症，故仲景復申治療法云：一逆尚引日，再逆促命期。且忌汗、忌下、忌辛溫。九日不解，議清膈熱。</p>
<p>飛滑石　連翹　淡黃芩　鬱金汁　竹葉心　天花粉　橘紅　苦杏仁</p>
<p>耳聤，環口浮腫，是少陽陽明風熱，久而失解，邪漫經絡，倏然疹現隨沒，當與羅謙甫既濟解毒湯。</p>
<p>枯芩　大黃　防風　銀花　葛根　升麻　川連　荊芥　甘草</p>
<p>陳酒浸半日陰乾煎。</p>
<p>陽明之脈，主束筋骨而利機關。今行走皆艱，納穀甚少，腹中氣攻，頭痛，自悲憂五年，日加衰憊。如《靈樞經》論痿云：意傷憂悲愁則肢廢也。</p>
<p>枸杞　當歸　防風根　黃耆　沙蒺藜　元參　牡蠣　羚羊角</p>
<p>陽不交陰，寤不成寐，內風乘巔，髓出鼻竅腥濁，必絕欲經年，可以卻病。乃下焦病根，歸脾湯永無效期，仿丹溪法。</p>
<p>淡菜　阿膠　熟地　龜板　茯神　天冬</p>
<p>蓐勞下損，損及八脈，醫投清內熱滋陰，致胃傷食減，寒熱，下焦沖氣上逆，而咳嗽藥惟治肺，與下虛內損，並無干涉。帶淋骨熱，髓竭液枯，蓐損較平常損怯更難。寒暑更遷不復，草木焉能奏功？勉與血肉有情，望其加谷，望其悠久。</p>
<p>鮮河車（一具）　人乳（八兩）　生紫石英（二兩）　血餘灰（二兩）　秋石（一兩）</p>
<p>人參煎湯送（二錢）</p>
<p>怒傷肝，恐傷腎，二志交併，真臟內損。煩勞則陽氣擾動，值春木之令，絡血隨氣上溢，失血過多，陰氣下空，陽無所附，上觸清府，致木反乘金，咳嗆氣促，肺俞惡寒，脈弦數，乃下損之疾。</p>
<p>山萸肉　五味子　咸秋石　青鹽　熟地</p>
<p>瘧起四肢，擾及中宮，脾胃獨受邪攻，清氣已傷，不飢不食，胃中不和，夜寤不寐，小溲赤濁，即經言：中氣不足，溲溺為變。須瘧止之期，干支一周，經腑乃和。明理用藥，疏痰氣，補脾胃，清氣轉旋，望其納穀。</p>
<p>熟半夏　生益智　人參　厚朴　茯苓　廣皮</p>
<p>臨服入薑汁三分。</p>
<p>飲入脘膈鳴響，唇乾，漱不喜飲，臍腹微痛，晝欲寐，夜不寐。是脾胃未和，陽氣不得下交於陰。宣通氣分，宗仲景腹痛必加芍藥以和陰。</p>
<p>人參　白芍　穀芽　半夏曲　黑芝麻　霜桑葉　茯苓　陳皮</p>
<p>今年浮腫腹脹，泄瀉，皆雨濕太過，脾陽郁遏，久則氣窒，小溲不利。凡分消健中，調治其氣，水濕自去，脾陽漸復。酒肉閉氣，食物宜忌。</p>
<p>生白朮　茯苓皮　生益智　椒目　厚朴　廣皮　澤瀉　豬苓</p>
<p>服威喜丸稍安，用涼潤劑不適。想過進辛寒，辛則傷肺，寒則傷胃，食入不化，暖氣甚多，咯痰氣閃欲痛，大便澀少不暢，流行既鈍，必清陽轉旋，得向愈之理。</p>
<p>蜜炙生薑　茯苓　炙甘草　南棗　桂枝　米仁</p>
<p>傷寒蓄血，都是邪入於裡。《內經》謂：陰絡傷，血乃下溢。陰為臟病，陰氣從下走泄，陽氣失戀上冒，遂令神識昏狂，乃脫症也。況在立冬大節之交關，閱醫藥，今朝所服，猶是羌、防、葛根。前此柴、防服之屢屢，身中陰陽遭此魔障劫盡，焉有安逸之理？雖急急收拾散越，恐未穩追返耳。</p>
<p>人參　茯神　禹餘糧　木瓜　五味　小麥</p>
<p>八旬又四，下元虛憊，膀胱不開，溺淋窒痛。腎藏之陽，通納皆少，惟峻補元海，可冀小效。至於全好，恐難深許。</p>
<p>當歸　鹿茸　茯苓　柏子仁　蓯蓉　杞子　熟地　牛膝</p>
<p>厥逆初平，胃口下脘，觸著便痛，小便自利，大便黑黏不爽。前者經來暴止，血海恐有凝瘀。議以輕緩通血方法。</p>
<p>丹皮　澤蘭　桃仁　料豆皮　小生地　薑汁</p>
<p>昨日用交加散法，黑血略下，痛緩下移，此瘀濁停留，皆為痙厥，以致紊亂氣血，奇經失和矣。但心悸，舌赤，陰分自虧。宣瘀之藥，多辛善走，擇其辛潤者，進商回生丹，量進半丸，亦對證穩藥。</p>
<p>細生地　薑汁　當歸鬚　丹皮　小茴　桃仁　料豆皮　茺蔚子</p>
<p>陽虛陰亦傷損，瘧轉間日，虛邪漸入陰分，最多延入三日陰瘧。從前頻厥，專治厥陰肝臟而效。自遺泄至今，陰不自復，鄙見早服金匱腎氣丸四五錢，淡鹽湯送，午前進鎮陽提邪方法，兩路收拾，陰陽仍有泄邪功能，使托邪養正，兩無妨礙。</p>
<p>人參　生龍骨　生牡蠣　炒黑蜀漆　川桂枝　淡熟附子　炙草　南棗　生薑</p>
<p>此仲景救逆湯法也，龍屬陽入肝，蠣屬陰入腎。收澀重鎮，臟真自固，然二者頑鈍呆滯，藉桂枝以入表，附子以入里，蜀漆飛入經絡，引其固澀之性，趨走護陽，使人參、甘草以補中陽，薑、棗以和營衛也。</p>
<p>舌喑強縮，乾涸無津，邪氣已入膻中，神識昏蒙，積勞心血及虛，致熱竟入矣。診脈虛小無力。俱補則熱閉，今晚以至寶丹三分，涼開水調化，勻五六次銚服，明日再議。</p>
<p><u>又</u>　心氣久耗，營液暗傷，漸枯涸窒塞，小腸火腑失其變化傳導，溲溺欲痛，舌刺欲縮，色仍白晦，豈是血滯實火？當滋液以救燔燥，仍佐苦味，以通火液。</p>
<p>鮮浙江生地　元參　竹捲心　人參　川連　菖蒲　百部　桔梗</p>
<p><u>又</u>　神氣消索，五液枯寂，此昏躁妄言，乃陰陽不肯交合，欲作脫象。不忍坐視，議三才湯以滋水源，參入磁、朱以寧神志。</p>
<p>三才加磁、朱、金箔。</p>
<p><u>又</u>　吸短欲躁，午後至更深為甚，熱入陰中，子後清陽用事稍和。自云心中不舒，熱熏腳楚。仿邪少虛多例，用仲景復脈湯。</p>
<p>炙草　生芍　人參　生地　麥冬　麻仁　阿膠　雞子黃</p>
<p>脈微弱而細，鼻準獨明，晝日形冷汗泄，不飢少納，脘腹常痞，泄氣自舒。此陽氣失護衛，而寒慄汗出，陽失鼓運，而脾胃氣鈍。前進養營，亦主中宮，想因血藥柔軟，陽不驟蘇，初進甚投，接用則力疲矣。詢其不喜飲湯，舌頗明潤，非邪結客熱之比。議用理中湯法，專以脾胃陽氣是理。不獨冶病，兼可轉運日前之藥。昔賢以瘧稱謂脾寒，重培生陽，使中州默運，實治法之要旨。</p>
<p>人參　生芍　熟術　附子　茯苓　乾薑</p>
<p>產後六日，惡露仍下，每呵欠寒粟，凡進湯必嘔逆，舌粉白有苔，面目四肢浮腫，兼之消渴，喜得涼飲，胸脘痞悶不飢。此臨產外邪乘虛竟入厥陰，邪犯陽明，狀如瘧證，但產後虛弱，值冬暖不藏之候，得汗方解，顯然客邪。然柴胡動竭肝陰，決不可用，議和胃清邪一法。</p>
<p>製半夏　鬱金　新會皮　天花粉　杏仁　竹茹</p>
<p>努力絡傷，身痛，痰嗽失血，最宜降氣通瘀，最忌沉寒呆補。</p>
<p>紫降香末　鬱金　茯苓　米仁　蘇子　桃仁</p>
<p>入韭白汁十五匙。</p>
<p>產後下焦先虧，腰膂如痿，肛墜不爽，此乃腎虛不攝。痢血與脾病迥異，攝固其陰，略兼通腑。</p>
<p>熟地炭　五味子　茯神　炒白芍　炙　甘草　炒楂肉</p>
<p>勞倦伏邪，初起即用柴胡、紫蘇，三陽混散，津液被劫。熱邪上結，胸中懊憹，神煩譫語，渴欲冷飲，診得脈無神，舌色白，病在上焦氣分。閱醫藥不分上下氣血，況冬溫聘泄，老人積勞，七日未見病退機關，此屬重症。豈可藐視輕談。</p>
<p>瓜蔞皮　黑梔子　白杏仁　鬱金　香豉　枳殼汁</p>
<p>入冬天暖，陽不潛伏，質瘦脂虧，稟乎木火，血液既少，內風暗動，遂致眩暈麻痹，陡然仆倒。水不生木，肝陽橫逆，絡血流行右阻，謂之偏枯，忌用攻風逐痰。清邪涼血，漸致其和，交節不反，原可扶病延年。</p>
<p>犀角　羚羊角　鬱金　元參　連翹心　鮮菖蒲　川貝母　橘紅</p>
<p>冬溫失藏，稚年陰虧陽亢。三陰之陽，當夜分升騰煩躁，上熱不寧，晝則安康人健，宜用六味磁石方法。</p>
<p>生六味加磁石、辰砂。</p>
<p>寒熱雖減，脘中猶然不爽，非是食滯，乃氣結所致，尚宜開上中之痹。</p>
<p>川連　乾薑　淡芩　炒半夏　杏仁　白蔻　枳殼　桔梗</p>
<p>此厥症也，緣情懷失曠，肝膽鬱勃，陽氣直上無制。夫肝脈貫膈入胃，循繞咽喉。今病發由脘至咽，四肢逆冷。所云上升之氣，自肝而出，中夾相火，其病為甚。法以苦降、辛宣、酸泄之治，使陽和氣平之後，接續峻補陽明，此病必發稀。以胃土久受木戕，土虛則木易乘克也。</p>
<p>川連　生芍　吳萸　烏梅　橘紅　杏仁</p>
<p>肝風不熄，都因天熱氣泄，高年五液皆少，不主涵木，身中衛陽亦少擁護，遂致麻木不仁。丹溪所云：麻屬氣虛，血少便艱也。苟非培養元氣，徒以痰、火、風為事，根本先怯，適令召風矣。議用三才湯合桑、麻，滋肝養血熄風治法。</p>
<p>天冬　地黃　人參　胡麻　桑葉　首烏（生用）</p>
<p>瞳神散大無光，乃動怒陽盛，致血耗水涸，精采散越之象，治宜養血斂液。</p>
<p>熟地　五味　萸肉　茯苓　女貞子　白芍　炙草</p>
<p>丸方：</p>
<p>熟地　五味　茯苓　磁石　萸肉　枸杞　白芍　青鹽　龜膠丸。</p>
<p>此肝風夾陽，上逆為厥，得之惱怒驚憂，屬七情之病。厥陰肝脈，貫膈乘胃，是以脘中不飢，不思納穀，木犯土位也。其頭暈目眩，亦肝風獨行至高之地，而精華之血不得營矣。前用苦降、酸泄、辛宣，病有半月不愈，議兼重鎮主之。</p>
<p>川連　吳萸（炒）　白芍　烏梅　淡乾薑　生牡蠣</p>
<p>脾胃久虛不復，泄瀉嘔逆，不欲食，喘促，腹膨，煩渴，無寐，是虛中夾暑，最慮慢驚。宜和補中土，兼清暑熱，必得嘔止瀉緩，寢食得宜，庶不致變。</p>
<p>人參　廣皮　木瓜　大腹皮　川連　泡姜　烏梅　茯神</p>
<p>形弱脈小，腰痹痠軟，足跟痛，是下元精血暗虧，未老先衰，防致痿痹。溫養宜柔，勿以桂、附剛愎。</p>
<p>蝗魚膠　沙苑蒺藜　甘枸杞子　首烏　茯神　虎骨膠　牛膝　柏子仁</p>
<p>溶膠為丸。</p>
<p>壯年形體充壯，時見眩暈，目淚暗出。前議脈濡大，便久溏，用白朮益土，桑葉泄木。入冬尻骨跟痛，耳鳴。皆下少攝納，當固其下虛，不致內風自動。</p>
<p>九蒸首烏　補骨脂　炒黃甘菊　菟絲子　蝗魚膠　蒺藜（炒）　枸杞子</p>
<p>膠汁搗丸。</p>
<p>久勞郁悖，夏季尿血，延及白露，溺出痛澀，血凝成塊，阻著尿管。夫淋症，方書列於肝膽部，為有濕熱阻其宣化氣機，故治法苦辛泄肝，淡滲通竅，施於壯實頗效。今望八老翁，下焦必憊，況加精血自敗，化為瘀濁，真氣日衰，機竅日閉。診候之際，病人自述，夢寐若有交接，未嘗遺泄。心陽自動，相火隨之，然清心安腎等法，未能速效，暫以清營通瘀，宣竅之劑。</p>
<p>天冬　生蒲黃　龍膽草　龜板　生地　阿膠　丹皮　焦黃柏</p>
<p>頭中清竅痹窒，風火夾陽上升，味變酸濁，明是火化。火鬱發之，治從經旨，以茶調散一錢，臥時用真苦丁茶一錢五分，煎汁調服，俾上竅內膜無阻，冀有小效。</p>
<p>藁本　辛夷　蒼耳子　蔓荊子　川芎　菊花</p>
<p>苦丁茶為末。</p>
<p>凡熱甚而厥，其邪必在陰分，古稱熱深厥深。病中遺泄，陰傷邪陷，發表攻裡，斷難施用，和正托邪，是為穩法。</p>
<p>草果　黃芩　知母　人參　炒半夏</p>
<p>五更時服。</p>
<p>高年氣血皆虛，新涼上受，經絡不和，腦後筋掣牽痛，陰氣安靜，乃陽風之邪，議用清散輕劑。</p>
<p>新荷葉　青菊葉　連翹殼　藁本　苦丁茶</p>
<p>太陽開，小水自利。陽明傷，則失其闔，濁上逆。四肢冷汗，氣喘，胸腹脹悶，都是陽微欲脫，脈絕厥逆，勉與通脈四逆湯，回陽驅陰以挽之。</p>
<p>淡乾薑　泡附子　人參　豬膽汁</p>
<p>服藥後，脈微繼者生，暴出者死。</p>
<p>初病伏暑，傷於氣分，潮熱渴飲，邪犯肺也。失治邪張，逆走膻中，遂至舌縮，小便忽閉，鼻煤裂血，耳聾，神呆昏亂。邪熱蔓延血分，已經入絡，津液被劫，必漸昏寐，所謂內閉外脫。</p>
<p>連翹　銀花　石菖蒲　犀角　鮮生地　元參</p>
<p>至寶丹一粒。</p>
<p>遺泄陰虧，瘧熱再傷陰分，聲嘶，火升易怒，神躁。水不潤木之徵，何人飲佐降陰火。</p>
<p>制首烏　知母　天冬　人參　茯苓　麥冬</p>
<p>勞復，虛寒泄下，加以絕谷胃損，絡血洞下，昏亂無神。脈診三五參差，陰陽已屬脫根，恐壞於子醜二時，真氣不相維續。勉用大封固一法。</p>
<p>人參　熟附子　生耆　五味子　於朮</p>
<p>此吸受穢濁，募原先病，嘔逆。邪氣分布營衛，熱蒸，頭脹身痛。經旬至神識昏迷，小溲不通，上中下三焦交病，舌白，渴不多飲。仍是氣分窒塞。當以芳香通神，淡滲宣竅。俾穢濁氣由此分消耳。</p>
<p>通草　豬苓　茯苓皮　米仁　淡竹葉　腹皮　至寶丹</p>
<p>熱久傷陰，津液不承。嗆咳，舌紅罩黑，不飢不食，肌膚甲錯，渴飲不休。法當滋救胃液以供肺，惟甘寒為宜。</p>
<p>麥冬　南花粉　白沙參　冬桑葉　蔗漿</p>
<p>望色萎瘁晦黯，聞聲呼吸不利，語音若在甕中，診脈右緩左急。問初病，忽熱忽溫，頭中如裹，腰痛欲拊捫，神識呆鈍，昏昏欲寐，肢節瘛痙，咳痰映紅，溺溲短縮，便溏帶血，不飢不渴，環口微腫。唇乾不紅，舌白糜腐。此水穀酒腥，濕熱相併鬱蒸，阻撓清氣之遊行，致周身氣機皆令痹塞。夫熱邪、濕邪，皆氣也。由募原分布三焦，營衛不主循環，升降清濁失司。邪屬無形，先著氣分。時師橫議表邪宜汗，里滯宜消，見熱投涼，殊不知熱由濕鬱，氣行熱走。仲景痙暍從濕化，忌汗、忌下，明示後人，勿傷陰陽耳！但無形之邪，久延必致有形，由氣入血，一定理也。據色脈症參之，未見或可採用。</p>
<p>羚羊角　茵陳　銀花　連翹　通草　大腹皮　茯苓皮　豬苓　澤瀉　至寶丹</p>
<p>產後下虛，血病為多，今脘中痞脹，減食不適，全是氣分之病，但調氣寬中，勿犯下焦為穩。</p>
<p>生香附汁　蘇梗　神麯　豆蔻　桔梗　茯苓</p>
<p>濁氣上逆，噁心不食，冷汗煩躁，最防暴脫。不可但執惡露滯滿，而專泄氣攻血。</p>
<p>人參　淡乾薑　淡附子　澤瀉</p>
<p>衝入童便。</p>
<p>瘧有十二經，然不離少陽、厥陰。此論客邪之傷，若夾怫鬱嗔怒，致厥陰肝氣橫逆，其勢必銳。經言：肝脈貫膈入胃，上循喉嚨，而瘧邪亦由四末擾中，故不飢不食，胃受困也。夫治病先分氣血，久發頻發之恙，必傷及絡，絡乃聚血之所，久病血必瘀閉，香燥破血，凝滯滋血，皆是症之禁忌也，切宜凜之。</p>
<p>青蒿　生鱉甲　炒桃仁　當歸尾　鬱金　橘紅　茯苓</p>
<p>又方：</p>
<p>桃仁　柏子仁　新絳屑　青蔥管　歸鬚</p>
<p>膈間腫，橫如臂，堅硬痛楚，體髀䯒股皆腫，經謂之伏梁，又曰風根。此下焦陽虛，氣不能運化也。此屬危症，勉擬一方，恐未能效。</p>
<p>淡川附　蓽澄茄　人參　鹿茸　茯苓</p>
<p>脈左數，上熱下冷，淋帶不止，此內熱濕鬱，久則元虛。</p>
<p>花波羅滑為末，漿丸。即珍珠粉丸三錢</p>
<p>孕婦忌服。</p>
<p>凡有痔疾，最多下血，今因嗔怒，先腹滿，隨瀉血，向來糞結，近日便溏，是風木鬱於土位。氣滯為膨，氣走則泄，議以理中湯，泄木佐之。</p>
<p>人參　附子　茅朮　醋炒柴胡　炮姜　地榆炭　厚朴　醋炒升麻</p>
<p>瘀積於肝，邪正錯亂，臟腑之氣交傷而成膨疾，腹脹氣壅。擬禹餘糧丸，破血泄肝，通利二便治之。</p>
<p>禹餘糧丸十粒。</p>
<p>中虛陽郁，胸膈不舒，飲食不快，擬逍遙散，疏肝和脾，使甲膽清陽上達，生化氣行，病可痊愈。</p>
<p>人參　柴胡　茯苓　歸身　炙黑甘草　焦術　廣皮　丹皮　炒白芍</p>
<p>偏枯症，「風論」云：邪中五臟六腑之俞穴，各入門戶為病，則四肢不舉，然陽主左，而陰主右也。又云：汗出偏沮，使人偏枯。此外感之邪，或營衛皆虛，邪乘虛入，或虛風內動，皆有之。醫者治之，當補正以逐邪，未可逐邪而不顧本元。然治之之法，以陽明為主。</p>
<p>生耆　白芍　當歸　防風　續斷　萆薢　蠶砂　橘紅　虎骨　秦艽</p>
<p>病熱，汗出復熱而不少為身涼，此非痎瘧，狂言失志。經所謂：陰陽交即是病也。交者，液交於外，陽陷於內耳，此屬棘手症。</p>
<p>人參　生地　天冬</p>
<p>關格者，經言脈數俱盛四倍，陰陽結邪相離，而不復相管，羸不及於天地之精氣則危矣，極言關格之不可治。前賢擬方，亦皆未盡善。愚意離愁鬱結，病屬七情，果難措手。今此症由甘肥積熱，酒性慓悍，致傷臟腑津液，治以清通清滋，或尚可希冀。</p>
<p>川連　生草　栝蔞皮　元參　枳殼　膽星　苦丁茶　柏子仁　元明粉</p>
<p>等分蜜丸。</p>
<p>自失血半年以來，心悸怔忡，脅左時動。絡脈空隙，營液暗傷，議甘緩平補。</p>
<p>酸棗仁　柏子仁　桂圓肉　生地　茯神　杞子　炙甘草</p>
<p>飢時服。</p>
<p>古人治脅痛法有五，或犯寒血滯，或血虛絡痛，或血著不通，或肝火抑鬱，或暴怒氣逆，皆可致痛。今是症脈細弦數不舒，此由肝火抑鬱。火鬱者絡自燥，治法必當清潤通絡。</p>
<p>潮栝蔞　炒香桃仁　歸身　新絳　炒白芍　炙甘草</p>
<p>脈轉勁，舌乾赤，噯氣不展，狀如呃忒。緣頻吐胃傷，諸經之氣上逆，填胸聚脘，出入機逆。周行脈痹，肌肉著席而痛，轉加平昔辛香燥藥不受，先議治肺經，以肺主一身之氣化耳。</p>
<p>炒香枇杷葉　苦杏仁（去皮，炒）</p>
<p>二味水煎一杯許，衝入桔梗、枳殼汁。</p>
<p>天氣下降則清明，地氣上蒸則晦塞，上焦不行，下脘不通，周身氣機皆阻，肺藥頗投者，肺主一身之氣化也。氣舒則胃醒食進，不必見病治病，印定醫人眼目。</p>
<p>炒香枇杷葉（一兩）　桔梗（一錢）　紫菀茸（三錢）　炒杏仁（三錢）　米仁（三錢）　白通草（一錢）</p>
<p>上藥煎清湯一杯。</p>
<p>渴飲不解，經謂之膈消，即上消症也，言心移熱於肺，火刑金象。致病之由，操心太過，刻不寧靜。當卻盡思慮，遣懷於栽花種竹之間，庶幾用藥有效。</p>
<p>生地　天冬　棗仁　人參　柏子仁　知母　金石斛　生草　元參</p>
<p>腹中如有水狀，行則腹鳴濯濯。經言：肺移寒於腎，水氣客於大腸，如囊裹漿，按之不堅，屬火衰陽虛，不得轉輸於膀胱，謂之湧水。</p>
<p>人參　附子　茯苓　白朮　乾薑　炙草</p>
<p>手足軟，不能坐立，是屬痿也。痿症《內經》歷言：五臟之熱，髓枯骨軟。治應苦堅滋營，今之醫者多作陽虛治之，痿症不愈，皆由是也。</p>
<p>虎潛丸。</p>
<p>厥者，脈動而身靜謂之屍厥。此氣閉於外，氣血未亂，通其陽則生。今厥而脈亂，氣血並走於上，如天地之郁，則沙飛水湧，莫之可當，為之大厥。此人身之根蒂空虛，三陽並羸，俟其氣返則生，不返則危矣。</p>
<p>大熟地　磁石　代赭石　五味子　白芍　人參　河車</p>

<h1>卷二</h1>
<p><u>汪天植</u>　脈數如浮，重按無力，發熱自利，神識煩倦，咳嗆痰聲如嘶，渴喜熱飲，此非足三陽實熱之症，乃體屬陰虛，冬月失藏，久伏寒邪，已經蘊遏化熱。春令陽升，伏邪隨氣發泄，而病未及一旬，即現虛靡不振之象，因津液先暗耗於未病時也。今宗春溫下利治。</p>
<p>淡黃芩　杏仁　枳殼　白芍　鬱金汁　橘紅</p>
<p>女科有胎氣，以立基為要。惡阻嘔吐酸味，宜安胃調氣。產後下虛，血病為多。今脘中痞脹，減食不適，全是氣分之病，但調氣寬中，勿動下焦為穩。</p>
<p>生香附汁　蘇木　神麯　豆蔻　桔梗　茯苓</p>

<h2>春溫症（附暑濕熱）</h2>
<p>朱先生勞倦嗔怒，是七情內傷，而溫邪感觸，氣從口鼻直自膜原中道。蓋傷寒陽症，邪自太陽，次第傳及，至於春溫夏熱，則鼻受氣，肺受病，口入之氣，竟由脘中，所以原有手經見症，不比傷寒足六經之病也。其原不同，治法亦異。仲景論溫邪不可發汗，汗則劫津傷陽，身必灼熱，一逆尚引日，再逆促命期。又云：鼻息鼾，語言難出，劇則驚癇瘛瘲，無非重劫津液所致。今病發熱，原不是太陽客邪見症，所投羌、防辛溫表汗，此誤即為逆矣。上竅不納，下竅不便，亦屬常事。必以攻下，希圖泄熱。殊不知強汗劫津而傷陽，妄下劫液更亡陰。頃診脈，兩手如搐而戰，舌乾燥而無苔，前板齒乾，目欲瞑，口欲開，周身燈照，而淡晦斑紋隱隱約約，幾日來時有呃逆。因胃乏穀氣而中空，肝陽衝突上冒肆虐耳。為今返正，先與糜粥，使胃中得濡，厥陽不致上冒，而神昏之累可已。進藥之理，甘溫可以生津除熱，即斑疹亦不足慮。觀仲景論中，邪少虛多，陰液陽津並涸者，復脈湯主之，謹仿此義。</p>
<p>炙甘草　人參　生地　白芍　阿膠　麥冬</p>
<p>溫邪有升無降，經腑氣機交逆，營衛失其常度為寒熱。津液日耗，渴飲不飢。陽氣獨行，則頭痛面赤，是皆冬春驟暖，天地失藏，人身應之，患此者最多。考古人治溫病，忌表散，誤投即謂劫津。逆傳心包，最怕神昏，譫語，妄狂，治病以辛甘涼潤為主。蓋傷寒入足經，溫邪入手經也。上潤則肺降，不致膹郁。胃熱下移，知飢，渴解矣。</p>
<p>嫩竹葉　桑葉　杏仁　蔗汁　麥冬　生甘草　石膏（冰糖淨炒）</p>
<p>起自熱病，熱傷陰絡，血大瀉，自當宗血脫益氣之旨。今脈左大急疾，右小微弱，臍旁動氣，肌膚枯燥，陰分大耗。正當暑月，何以堪此？擬進九龍法，通補兼施。若得動氣稍減，病可平和矣。</p>
<p>熟地炭　山楂（糖油炒）　琥珀屑　新絳</p>
<p>衝入藕汁</p>
<p>素有濁陰上干之症，近因濕氣淫蒸，新舊合而為一，壯熱吐苦水，噦，上逆，舌色微白，脈小弦。木氣欲升，而復為濕遏之象也。當用苦辛以劫濕邪為主，即仲景先治新，後治痼之意也。</p>
<p>川連　泡姜　炒厚朴　半夏　塊苓</p>
<p>即進一劑，噦少緩，可用黃連溫膽湯一二盞。</p>
<p>邪熱盤踞陽明，體虛不耐重劑，宜輕用苦辛通泄為主。</p>
<p>連翹　杏仁　生香附　橘紅　滑石　鮮荷葉　通草　銀花</p>
<p><u>又方</u>　：米仁　連翹　銀花　橘紅　通草　青荷梗</p>
<p>中氣素虛，形寒飲冷，遏伏暑濕之火，蘊於膻中，劫津耗液，盡從燥化，肺氣不能下輸，腸胃燥滿不行。下之遂逼血下行，血既下奪，亦云竭矣。陰不配陽，汗從外泄，即為上厥。上厥下竭，肺經獨受燥累，急進清燥救肺湯以回陰液。</p>
<p>枇杷葉　人參　麥冬　桑葉　阿膠　杏仁　生石膏　竹葉</p>
<p>繼進方：羚羊角　棗仁　茯神　山梔皮　黑豆皮　枇杷葉　麥冬　蔗汁　鮮菖蒲</p>
<p>再進方：小生地　人參　阿膠　茯苓　黑豆皮　枇杷葉　青蒿　麻仁　麥冬</p>
<p>脈來和靜，舌苔已退，但時或煩熱，胸中未適，此皆燥邪未盡之徵，是以神識尚未全復，究竟必以滋燥為先。</p>
<p>阿膠　枇杷葉　麥冬　川斛　山梔　北沙參　茯神　菖蒲</p>
<p>邪脈悉退，微遲和緩，用平調營衛，胃氣自復，復脈湯主之。</p>
<p>人參　麥冬　炙草　阿膠　茯神　白芍　麻仁　五味　炒生地</p>
<p>舌白肢厥，語錯，丹疹背多胸少，汗大出，此濕邪著於氣分。邪鬱氣痹，故現外寒，非虛脫也。生地、阿膠滋清涼血，則氣濕愈阻。此屬邪郁，不但分三焦，更須明在氣在血。</p>
<p>羚羊角　天竺黃　射干　川貝　米仁　茯苓　石菖蒲</p>
<p>目赤唇焦，齒燥舌黑，嬉笑錯語，發噦發斑，溫毒遏伏之象。</p>
<p>綠豆殼　銀花露　方諸水　犀角　川貝母　人中黃　蘆根汁</p>
<p>徐徐溫服。</p>
<p><u>又方</u>　：金汁拌浸人參　銀花露　鮮菖蒲　元參　鮮生地　羚羊角　真金箔</p>
<p>五十七歲，豐腴體質，適值過勞，陽氣受傷，嘔吐食物，無頭痛身熱，已非外感風寒，而間日煩躁渴飲，唇焦舌黑，是內伏熱氣，由募原以流布三焦，亦如瘧邪分爭營衛者然。然有年積勞既久，伏邪客病本輕，脈小緩，按之不為鼓擊，可為徵驗，且二便頗通，略能納穀，焉有停滯積聚？仲景於癉熱無寒之條，不出藥方，但曰以飲食消息。後賢參聖意，甘寒以養胃陰，其熱自解。要知表散之辛溫，消滯之苦溫，以及苦寒沉降，多犯聖訓戒律矣。</p>
<p>鮮生地　甜杏仁　麥冬　花粉　竹葉心　青蔗汁　連翹</p>
<p>舌心黃邊白，渴飲水漿，停胃脘欲吐，微微冷呃，自利稀水，小便不利，診脈堅勁不和。八旬又二，暑熱濕邪內著。必脾胃氣蘇，始可磨耐，以尊年不敢過用清消矣。議用清暑益氣方。</p>
<p>人參　茯苓　廣皮　豬苓　石蓮子　川連　黃芩　厚朴　澤瀉　煨葛根</p>
<p>脈弦嘔吐，心中懊憹，不納水穀，倏冷忽熱，雖因嗔怒七情，兼有客邪伏氣，汗多不宜表散，清暑和中為正治。</p>
<p>杏仁　半夏　鬱金　茯苓　廣皮　枳實　金斛</p>
<p>診脈左虛大，右澀小弱。症見：目瞑短氣，遺尿肢掉，神識漸迷，渴不欲飲，侵早稍安，晡時煩躁，此乃積勞元傷，熱氣內迫，劫爍臟液，致內風欲擾，有痙厥之慮。仲景謂：元氣受傷致病，當與甘藥。就暑熱傷氣，亦屬發泄所致，東垣發明內傷暑病益氣諸法，足為炳據。若動攻表裡，是速其散越耳。</p>
<p>麥冬　生甘草　鮮蓮子　知母　竹葉心</p>
<p>不飢不欲納食，仍能步趨，長夏濕蒸，著於氣分，陽逆則頭中脹悶，肌色萎黃。與宣氣方法。</p>
<p>西瓜翠衣　飛滑石　米仁　蘆根　通草　鬱金</p>
<p>脈轉數，舌紅。面腫消，膚痛，汗減，耳鳴，咽嗆，肛痔。濕中化熱乘竅，仍清氣邪，佐通營衛，桂枝白虎湯主之。</p>
<p>酒家濕勝於內，暑邪穢氣亦由口鼻而入，內外相因，延蔓三焦，汗多寒熱不解，非風寒從表而散，頭脹脘悶，嘔惡而渴不多飲，兩足反冷，是熱在濕中而來。古稱濕上甚為熱，不與傷寒同論。</p>
<p>杏仁　半夏　茵陳　白蔻　厚朴　廣皮　茯苓皮　六一散　鮮菖蒲</p>
<p><u>三益號</u>　勞倦吸入冷氣，營衛不行，則形寒戰慄。今中焦未醒，宜和脾胃。</p>
<p>當歸　白芍　桂枝　炙草　大棗　煨姜</p>
<p><u>章</u>　暴冷外加熱氣內郁，肺窒不降，脘悶如飢，水飲欲嘔，頭痛寒熱，當治上焦。</p>
<p>桔梗　象貝　橘紅　兜鈴　北沙參　杏仁</p>
<p>熱緩神昏，咳痰嘔逆，舌不能言。餘邪漸入心包絡，恐著瘛瘲，進芳香入絡法。</p>
<p>萬氏牛黃丸。</p>
<p>穢濁不正之氣擾中，痞悶，噁心，頭疼，煩渴，形寒內熱，邪不在表，未可發散。</p>
<p>杏仁　蔞皮　滑石　通草　白蔻　鬱金　花粉　連翹</p>
<p>脈細數舌絳，煩渴時熱，病九日，邪氣稍衰，正氣已虧，不宜再作有餘治。</p>
<p>鮮生地　阿膠　元參　麥冬　知母　麻仁</p>
<p>時疫發熱，脘悶噁心，斑發不爽，神煩無寐，舌色轉紅。邪熱將入營分。雖胃滯未清，亦宜先清營熱，勿得滋膩為穩。</p>
<p>鮮竹心　元參　連翹心　鮮菖蒲　銀花　川貝</p>
<p>陰液損傷，陽氣上冒，衄血咳痰。理宜和陽存陰，冀津液稍復，望其轉機。至於疏滯解表，和表諸法，自然另有高見，非敢參末議也。</p>
<p>秋石拌人參　阿膠　鮮生地　麥冬</p>
<p>脈軟咳痰欲嘔，飢時甚。雖是時邪未清，高年正虛，理宜養胃陰，金匱麥冬湯。</p>
<p>麥冬　人參　半夏　甘草　粳米　大棗</p>
<p>胃津既傷，肝風上擾，神迷肢震，面浮欲喘，病勢危險，勉擬救胃陰方。</p>
<p>人參　麥冬　生甘草　白粳米　炒半夏　南棗</p>
<p>時疫六日不解，頭疼發熱，舌絳煩渴，少腹痛劇，已經心包，慮其厥痙。</p>
<p>犀角　連翹心　銀花　元參　通草　鮮生地</p>
<p><u>又方：</u></p>
<p>犀角　鮮生地　元參　麥冬　川貝</p>
<p>先厥後熱，邪氣蘊伏亦久，從傳染而得。今脈數舌紅，頭疼乾嘔，脘悶多痰，皆是熱蒸營衛，慮其再厥。</p>
<p>羚角　犀角　連翹心　川貝　元參　銀花　通草　鬱金</p>
<p><u>又方：</u></p>
<p>犀角　連翹心　川貝　元參　銀花　通草　鬱金</p>
<p><u>又方：</u></p>
<p>犀角　連翹心　川貝　通草　銀花　石菖蒲　金汁</p>
<p><u>又</u>　前方去通草加麥冬</p>
<p><u>又方：</u></p>
<p>捲心竹葉　知母　生甘草　麥冬　花粉　川貝</p>
<p><u>又方：</u></p>
<p>鮮佩蘭汁　麥冬　南花粉　棗仁　米仁　川貝</p>
<p>溫熱後肝陽乘胃，涎沫自出，胸滿如悶咽中間，或氣促，潮熱時作，四肢微冷。慮其厥逆，進熄風和陽法。</p>
<p>淮小麥　炒半夏　甜杏仁　炒麥冬　南棗</p>
<p><u>又方：</u></p>
<p>人參　麥冬　淮小麥　茯苓　南棗　炙甘草</p>
<p>時熱食復，胸痞，噁心欲嘔，進半夏瀉心法。</p>
<p>炒半夏　川連　枳實　杏仁　薑汁　厚朴　草蔻</p>
<p><u>又方：</u></p>
<p>人參　山楂　枳實　乾薑　薑汁　炒半夏</p>
<p>脈緩舌色灰黃，頭疼，周身掣痛，發熱不止，乃時疫濕溫之症。最忌辛溫重藥，擬進滲濕之法。</p>
<p>竹心　連翹心　厚朴　木通　杏仁　飛滑石　茵陳　豬苓</p>
<p>脈左數右緩，舌白髮熱，自汗，小溲溺痛，身半以上皮膚骨節掣痛。皆是濕邪有痹，慮其清竅矇蔽，有神昏厥逆變幻，擬用輕清滲濕方。</p>
<p>連翹　豆卷　米仁　絲瓜葉　花粉　茵陳　通草　杏仁　飛滑石</p>
<p>脈細舌灰白，渴不能多飲，膨悶不知飢。濕溫半月有餘，病邪雖解，余濕未盡，良由中宮陽氣鬱遏，失宣暢機關，故舌喜得香味。理宜護持胃陽，佐以宣濁驅濕，未可再作有餘攻伐，雖取快一時，貽禍非輕小也。</p>
<p>半夏　人參　厚朴　橘紅　枳實　茯苓</p>
<p>脈促神倦，目上視，咳痰欲喘，唇燥舌紅，溫邪發熱，半月外不解，所擬發散消導之藥，病不少減，正氣反傷。內風乘虛上擾，慮有痙厥變幻，非輕小之恙，姑與甘緩法。</p>
<p>炒麥冬　北沙參　淮小麥　生甘草　南棗肉</p>
<p>脈虛細無力，熱止後汗多，心悸頭暈，寐多驚恐，舌紅營陰受傷，理宜和陽存陰。</p>
<p>生地　麥冬　淮小麥　阿膠　人參　炒麻仁</p>
<p><u>陳</u>　診脈左帶微數，右關微弦，胸脘痞悶，右眼角赤，皆是肝木乘坤土。經旨有腎藏志，脾藏意。今夢寐驚惕，是見不藏之象。倘調養失宜，內有七情之擾，外有六淫之侮，再經反復藥餌，無過樹根草皮，焉能有濟。故重言以申其說。</p>
<p>人參　半夏　枳實　茯苓　乾薑　小川連</p>
<p>第二案　六脈略和，舌胎已退，胸脘稍寬，渴飲至胃，微覺呆滯，大便乾燥。勢見陰枯陽結，通陽之中，佐以潤燥，亦屬至理。至於調養靜攝工夫，不必再贅。</p>
<p>柏子仁　蓯蓉　歸鬚　炒桃仁　塊苓　桂心</p>
<p>第三案　立夏日診脈，氣和病情減。清晨微覺氣悶，陽氣尚未全振。再論人身中，陰陽二氣每相眷顧，陽病久必傷陰，陰病久必傷陽，故病久之體，調養失慎，必至反復。諄諄至囑，進苓桂朮甘湯以宣上鬲之陽。</p>
<p>第四案　年過五旬，腎氣本弱，病纏日久，脾土亦餒。腎惡燥，脾惡濕，經旨昭昭。若欲平穩，宜乎分治為妥，是將來調補丸藥章旨。今上鬲已寬，且進下焦調補為法。</p>
<p>蓯蓉　歸身　杞子　茯神　小茴　柏子仁　天冬　巴戟　牛膝</p>
<p>第五案　病減六七，惟納食不易運化，飲湯不易下趨，口中味淡，時或作酸，大便燥艱，乃脾陽不振，腎陰未復，故潤劑之中，佐以辛香，有合經旨辛甘化風之意。</p>
<p>柏仁　小茴　蓯蓉　車前　茯苓　牛膝　歸身　桂心</p>
<p>第六案　脈神俱安，大便艱澀不爽，臍間隱隱作痛。高年腎陰暗虧，血液不能灌溉四旁，腸中枯燥，更衣頗覺費力。擬進通幽湯方法以潤之。</p>
<p>歸鬚　紅花　郁李仁　柏仁　麻仁　生地　升麻</p>
<p>第七案　兩日連次更衣，臍間疼痛已止，胸鬲之間，略覺不和，則知病纏日久，不獨血液受虧，氣分亦為之不振。擬溫填藥餌，佐以通陽，庶幾中下兩顧。</p>
<p>蓯蓉　茯苓　杞子　小茴　柏仁　牛膝　人參　巴戟</p>
<p><u>範升九</u>　四肢乍冷，自利未已，目黃稍退，而神倦不語。濕邪內伏，足太陰之氣不運。經言：脾竅在舌。邪滯竅必少靈，以致語言欲謇。法當分利佐辛香，以默運坤陽，是太陰里症之法。</p>
<p>生於術　草果仁　厚朴　木瓜　茯苓　澤瀉</p>
<p>第二案　身體稍稍轉動，語謇神呆，猶氣機未為靈轉，色脈非是有餘，而濕為陰邪，不徒偏寒熱已也。</p>
<p>生於術　石菖蒲汁　鬱金　茯苓　遠志　米仁</p>
<p>第三案　濕滯於中，氣蒸於上，失降，不得寐，口起白疳，仍不渴飲。開上郁，佐中運，利腸間，亦是宣通三焦也。</p>
<p>生於術　寒水石　米仁　桔梗　廣皮　豬苓　澤瀉</p>
<p>第四案　濕勝中宮不運，易生痰飲，不欲食，須使神機靈泛，少佐疏滯。</p>
<p>外臺茯苓飲去廣皮，加天竺黃、石菖蒲。</p>
<p>第五案　人參　金斛　枳實　於朮　茯苓　廣皮</p>
<p>第六案　脾胃不醒，皆從前濕蒸之累。氣升痰咳，參藥緩進。</p>
<p>炒川貝　茯苓　地骨皮　米仁　鬱金　淡芩</p>
<p><u>吳子純</u>　連朝驟熱，必有暑氣內侵，頭熱目瞑，吸短神迷。此正虛邪痹，清補兩難，先與益元散三四錢，用嫩竹葉心二錢煎湯，涼用二三小杯，常用綠豆清湯服。</p>
<p>第二案　溫邪中傷之後，脾胃不醒，不飢，口渴，議清養胃津為穩。</p>
<p>鮮佩蘭葉　川斛　知母　大麥仁　炒麥冬</p>
<p><u>王廷佑</u>　寒包鬱熱，亦屬溫邪。</p>
<p>桔梗　大力　連翹　蘇子　滑石　枳殼　赤芍　木通</p>
<p>寒熱漸除，間一日復來，即暑邪入里之徵，因正氣不振故也，但煩渴不減。舌苔黃厚，胃中滯濁猶然不清。河間方法，正直此症，非是抄竊舊方，乃去邪務盡之意。</p>
<p>暑風入肺，咳痰發熱，四肢無力，微冷，氣喘，神倦。恐邪犯心包，有慢脾驚搐之慮。擬進局方至寶丹，芳香逐暑，使喘緩神安，再商進和脾胃藥。</p>
<p>又案：有汗出熱緩，神識昏憒，邪熱內閉，未得外越，易變痙厥。進芳香開閉，以逐穢邪。牛黃丸。</p>
<p><u>又方：</u></p>
<p>生地　甘草　知母　淡竹葉　滑石　銀花</p>
<p><u>又方</u>　：人參　生草　知母　南棗肉　麥冬　茯神　廣皮</p>
<p><u>徐方鶴</u>　脈緩舌白帶灰黑色，心中煩熱，汗多渴飲，嘈雜如飢，肛中氣墜，如欲大便。平昔苦於脫肛，病雖夾濕熱，寒涼清濕熱之藥味難投，擬進和中法。</p>
<p>炒麥冬　粳米　川斛　半夏　南棗</p>
<p><u>徐</u>　左脈數，舌白目黃，遍身發黃，左腰脅間痹痛。臥則氣逆，或噯氣，或咳嗆則痛不可忍。濕熱著於絡中，氣機阻遏不宣。況時邪一、九日，正邪勢方張之候，故攻病藥餌，往往難投，輕藥為穩。</p>
<p>豆卷　白蔻　通草　茵陳　米仁　杏仁　豬苓　澤瀉</p>
<p>雨濕地蒸，潮穢經旬，人在氣交之中，口鼻吸受，從上內侵，頭脹脘悶，肉刺骨痛。蓋肺位最高，其氣主周身貫穿，既被濕阻，氣不運通。濕甚生熱，汗出熱緩，少間再熱。凡風寒得汗解，濕邪不從汗解耳。仲景云：濕家不可發汗，汗之則痙。謂濕本陰晦之邪，其傷必先及陽，故汗、下、清熱、消導與濕邪不相干涉也。濕也，熱也，皆氣也，能矇蔽周身之氣，原無有形質可攻，由上不為清理，漫延中下二焦，非比傷寒六經，自表傳裡相同。河間暢發此義，專以三焦宣通為法。明張司農亦以苦辛寒主治，總以氣分流利為主，氣通則濕解矣。今兩旬不愈，入暮昏厥。厥者，逆亂之稱。以邪深入至陰之中，熱蒸上冒，致神明為邪所矇蔽矣。初濕邪下注，而大便為溏，今則氣窒結閉，而大便不通，古稱熱深厥深。又云：厥少熱多則病退，厥多熱少則病進。凡厥多隸厥陰也。</p>
<p>掘地坎三五尺，全無瓦礫，方是真土，入新汲井水，用木棍淘二三百下，取泥漿水，澄清二盞，另以綠豆皮、野赤豆皮、馬料豆皮各五錢，入地漿水中，煎湯一茶杯許，候溫，入生珍珠細粉約七八分、冰片半釐，勻三次服。</p>
<p>再論暑濕客氣，由上受以行中道，未按經法，致三焦否塞。逆亂為厥，厥屬邪深在陰，故取地漿重陰之氣。珠潛水底鹹寒，少佐冰片辛熱，能開熱痹，直走至陰，以冀厥止。究竟暑濕熱氣，乃無質之邪，瀰漫胸臆，如煙霧繚繞，諸宗氣營氣，無以展舒，焉有知味知飢？彼攻消峻克，能滌有質之邪滯，非濕結氣分之治也。昔軒岐云：從上病者，治其上。且上焦如霧，藉輕揚可以去實。半月不更衣，斷勿攻下，皆氣窒使然。</p>
<p>川貝　米仁　兜鈴　白蔻　連翹　射干　通草</p>
<p>舌紅微渴，齒痛味甘，中宮不運，氣鬱之熱，未得全去也。</p>
<p>連翹　米仁　茯苓皮　赤豆皮　川貝　白蔻</p>
<p><u>潘毓翁</u>　中年沖氣痰升，喘急隨發隨止，從肝腎本病治，固是地黃飲子，用意在濁藥輕投，勿以味厚凝滯痰氣，但以質能引導至下，變飲為丸，純是濁藥柔溫。若歸脾湯甘溫守中，養脾之營，更與痰飲沖逆相背。自七月間，反復必有暑濕客氣，從呼吸而受。據述肌膚間發丹疹，浮腫甚速，腠膜映紅，若但內症，未必有此。思夏秋口鼻受氣，上焦先傷，與肝腎本病兩途。上焦失解，理必延漫中下，而三焦皆為病藪矣。此脹在乎脈絡，不在腑腸，水穀無礙者緣此。況久病大虛，溫補不受，必當推其至理。伏邪引動宿病，仲景論必先理其邪，且口渴便實，豈溫熱相宜？自言懷抱鬱結，相火內寄肝膽，如莖腫囊縱，濕壅水漬。勉以三焦氣分宣通方，仿古二虛一實，偏治其實，開其一面也。</p>
<p>飛滑石　杏仁　茯苓皮　厚朴　豬苓　通草　白蔻仁</p>
<p>積勞伏熱，值初冬溫暖，天地氣不收降，伏邪因之而發，是為冬溫。實非暴感，表散無謂。其痰喘氣促，左脅刺痛，系身中左升不已，右降失職。高年五液已衰，炎上之威莫制，脈現左細右搏，尤屬陰氣先傷。煩勞兼以嗔怒，亦主七情動陽。從來內傷兼症，不與外感同法。苦辛劫爍胃津，陰液日就枯槁。故仲景凡於老人虛體，必以甘藥調之。夫喘咳之來，固是肺熱，以診脈、面色論之，為下虛正氣不主攝納，腎病何疑？即初起熱利，亦是陰不固。擬用復脈湯。</p>
<p>炙甘草　炙生地　炒麥冬　生白芍　麻仁　蔗漿</p>
<p>溫邪兼勞倦，從內傷治，已獲小效。獨左脅痛難轉側，咳嗽氣觸必加閃痛。想因平素操持，肝陽易熾，營陰暗耗。《內經》以肝為將軍之官，謀慮出焉。故身中左升之氣屬肝主之，右降之氣屬肺主之。今面微赤而咳頻，前此上焦畏熱煩躁，其左升之令不已，右降之氣失司，已經洞悉。經以左右為陰陽之道路，升降周行，一日夜行五十度，平旦交會於氣口。既為拂逆情志，而裡氣郁遏，冷熱外加，營衛因之窒阻。此陰陽道路流行或遲或速，無平旦清明之氣，是以發散消導、清火利痰之品，昧於身中，轉旋有若天地也。再論平昔精力頗健，今已大年，下焦先虛。夫下虛者上必實，眩暈，神昏，自利可見矣。以冬令藏聚，返根之候，見症若是為忽然中厥，亦屬常有。此授藥之難，自宜瞻前顧後，議用錢氏地黃湯意，栽培三陰臟陰，疏其三陽腑陽，俾臟主藏，腑主通，佐以咸降理逆，穀味有加，再為進商可也。</p>
<p>熟地　白芍　山藥　澤瀉　丹皮　茯苓　牡蠣　阿膠</p>
<p>暑邪成瘧，熱結三焦，脘痞有形，煩渴喜冷飲，從河間法主治。</p>
<p>暑熱未盡，清竅不利，自言神識如迷，夜不成寐。</p>
<p>竹葉　元參　連翹心　菖蒲　鬱金　川貝</p>
<p>高年正氣已衰，熱邪陷伏，故間瘧延為三日，此屬厥象。舌涸脘痹，噫氣欲嘔，胃虛客逆，恐有嘔吐呃忒之變。議用旋覆代赭，鎮其逆亂之氣，合瀉心法以開熱邪壅結為主。</p>
<p>人參　川連　乾薑　白芍　旋覆花　代赭石　烏梅　牡蠣　半夏</p>
<p>服一劑，減去半夏、乾薑服。</p>
<p>經云：夏傷於暑，秋為痎瘧。今時已孟冬，瘧始發動。蓋以邪氣內藏於臟，為厥、少兩陰經瘧也，擬以溫臟法。</p>
<p>厚朴　製附子　生牡蠣　炙甘草　大棗</p>
<p>食菜下痢腹痛，是初因寒濕傷脾，久變濕熱，蒸於腸胃，況利後痛不減，腹中硬起不和，不得流通明甚。當以苦泄小腸，兼分利而治。</p>
<p>川連　黃柏　苦楝皮　澤瀉　木通　楂肉</p>
<p>口中乾燥，小水全無，泉源已竭，陰液無以上承，利症噤口，都是濕熱壅於胃口。下元衰憊，衝脈氣震高突，此攻病保真，理難捉摸。</p>
<p>川連　草決明　石蓮　黃芩　烏梅　白芍</p>
<p>少腹痛，下痢帶血。</p>
<p>黃芩　炙草　炒銀花　炒丹皮</p>
<p>痢止咳頻，脈虛形寒，多悸。進甘緩法，小建中去姜，加玉竹。</p>
<p>陰絡受傷，下午黃昏為甚。非自治痢通套可效，大旨以守陰為法。</p>
<p>熟地炭　建蓮　茯苓　五味子　赤石脂　澤瀉　阿膠</p>
<p>稚年頻頻傷風咳嗽，汗出痰多，不嗜谷菜，乃衛外不固，肺易偏傷冷熱。當春升氣泄，忽然指握無力，走動足疲，語言或謇，常有嘔惡。蓋衛應乎胃，胃屬陽明，其脈主司束筋骨，以流利九竅，而四肢原屬脾胃，舌為心苗，脾竅通焉。此皆久傷氣分，乘氣泄而病，乃虛症也。治法以充脾胃脈絡，疏竅諸藥皆當屏絕，百日可期其效。</p>
<p>人參　蜜炙耆　歸身　炙草　廣皮　白芍　防風根　煨姜　棗子</p>
<p>脈虛數，喉乾舌燥欲咳，乃陰虧於下，燥爍於上，非客病也。</p>
<p>生地　熟地　天冬　麥冬　扁豆</p>
<p>咳嗽肉消，老弱腎病，食入腹脹，大便稍利，勢減兼之，晝甚夜輕。據是氣分陽府失宣，徒執虛治不效。經云：二虛一實者，偏治其實。開一面文也，據經以疏方。</p>
<p>米仁　茯苓　澤瀉　杏仁　寒水石</p>
<p>脈細咳逆，不得側眠，肌消色奪，經水已閉，食減便溏。久病損及三陰，漸至胃氣欲敗，藥餌難挽。擬進建中法，冀得胃旺納穀，庶幾帶疾延年。</p>
<p>建中湯去姜。</p>
<p><u>王公美</u>　脈沉而咳，不能著枕而臥，此老年下元虛，氣不攝納。濁氣痰飲，皆為陰象，乘暮夜陰時寐發。發散清潤皆非，當以小青龍法，開太陽經，撤飲下趨。</p>
<p>小青龍去麻、辛、草。</p>
<p><u>徐</u>（十四歲）　幼沖多六氣之擾，少七情之傷，痛在下焦肢末，初痛必系寒濕痹阻於經絡之中，方書謂為寒為痛，為濕為腫。砭刺疏通，引動脈中之氣血，原得小效。寒濕邪氣屬陰，久蓄不得解散，蒸腐血液，變熱成膿，附骨癰瘍，久而精神日憊，理必延為漏卮矣。三年宿疴，寒暑迭更，邪必渙解，此為損症。凡女子二七而天癸至，謂體陰用陽也。昔因客氣而致病，再因痛傷，已損及真氣，諸症所稱難狀痼疾矣。今倐熱蒸蒸，喉燥嗆咳，納食日減，乃損至精髓，草木攻邪，日加剝斫。參苓養氣，難充形質。投藥必不見長，無治病成法可遵。蓋以有情之虛，養非氣味之乘，強望胃納扶持，至春回寒谷，再議丸方。身體熱蒸多嗆火升，用糯稻根鬚，漂、洗潔，陰乾，兩許煎湯。服此能退陰分燔灼之熱。種植以來，不見天日，得水土之養，清而不克之藥。人參非助熱之藥，《本草》云：陰中之陽，其氣主升，故不宜單用。食少易熱，咳嗆，耆朮歸地，皆為壅滯。以人乳旋成粉，和參末捏作錢許小丸，俾濡養血中之氣。藉人身之生氣，胃氣略好，當與景岳一氣丹，制膏與服，中有紅鉛一味，世間無有真者，以真坎氣二十四枚代之，合乎二十四氣以默運耳。</p>
<p><u>吳</u>　風溫上受，飲邪上泛，臥枕則咳甚。飲，陰類也。先以輕揚肅上，再議理飲。</p>
<p>桔梗　兜鈴　米仁　茯苓　通草　象貝</p>
<p>急火煎服一次。</p>
<p><u>又案</u>　輕可去實，恰當上受風溫，但左脅引動而咳甚。經言：左升太過，右降不及。然非肝木之有餘，雨水春木萌動，氣升上沖，皆血液之少，不主配偶之義。</p>
<p>甜杏仁　玉竹　甘草　桃仁　炒麻仁</p>
<p><u>汪裕當</u>　喉癢嗆甚，形寒忽熱，今早便溏，臥醒咽乾，不為口渴。議養胃陰以供肺。</p>
<p>扁豆　北沙參　南棗</p>
<p>元米湯煎。</p>
<p>酒客伏濕，脈數，汗多，咳嗽，食不易運，病在手足太陰。</p>
<p>茅朮　扁豆　米仁　桑皮　杏仁　半夏　茯苓</p>
<p>老年冬季喘嗽，是元海不主收攝，衝陽升舉，飲邪上泛，阻遏流行，喘嗽愈甚。閱古，都主八味腎氣，溫養坎中之陽，收納散失之真，不主消痰清肺，意謂非因六氣所致。奈體質不受桂、附，年前議進柔陽通攝，若以建立上中之陽，乃心脾甘溫之劑，與下焦不納無謂。</p>
<p>紫衣胡桃肉　茯苓　補骨脂（另用胡銚肉拌蒸曬炒）　鹿茸（切薄片，鹽水浸一日烘燥）　肉蓯蓉　五味子　遠志肉　青鹽　柏子霜</p>
<p>蜜丸。</p>
<p>脈細軟澀，氣衝失血，寐欲遺精，今納穀不運，神思日倦，緣操持太過，上下失交，當治中焦，心脾之營自旺，諸症可冀漸復。偏熱偏寒，都是斫喪真元。</p>
<p>人參　歸身　於朮　廣皮　棗仁　茯神　白芍　炙草</p>
<p>當夏四月，陽氣大升，體中陰弱失守，每有吐衄神煩。已交夏至，陰欲來復，進甘藥緩補，所謂下損不得犯胃也。</p>
<p>熟地　蓮肉　炙草　山藥　茯神　芡實　阿膠　柏子仁</p>
<p>稚年吐衄，熱傷為多。今脈小肌松，食少胃虛，陽升已露一斑。進甘涼益胃方。</p>
<p>炒麥冬　生扁豆　北沙參　茯神　木瓜　炙草</p>
<p>秋暑失血，初春再發，脈右大，頗能納食。《金匱》云：男子脈大為勞，極虛亦為勞。要知脈大為勞，是煩勞傷氣。脈虛為勞，是情欲致損。大旨病根驅盡，安靜一年可愈。</p>
<p>炙綿耆　北沙參　炙草　白芨　苡仁　南棗</p>
<p>據述病原朝寒暮熱已止，血逆已平，稍見喘咳，近日復有惡寒發熱，此因內虛成瘧，尚宜小心。</p>
<p>制首烏　川貝　茯苓　白芍　甘草　丹皮　柴胡　廣皮</p>
<p>右寸浮數，餘脈虛澀，失血，寒熱已止，但喉中作癢咳嗽，大便又不堅固。此脾肺俱虧，正在潤肺礙脾，補脾礙肺之時，清心靜氣，病可漸卻，至囑。</p>
<p>川貝　丹皮　玉竹　生地　茯苓　甘草　牛膝　橘紅　北沙參</p>
<p><u>李云生</u>　咳甚嘔血，吐食。肝病犯胃，陽氣升逆所致。</p>
<p>代赭石　新絳　茯苓　丹皮　旋覆　黑山梔</p>
<p>血症發後，體虛氣弱。暑氣外侵，而寒熱腰痛，飢不欲食。雖咳嗽未減，當治其本，即急則治標之義也。</p>
<p>香薷　扁豆　木瓜　厚朴</p>
<p>痰飲咳嗽，終夕不寐，面浮如盤。昔徽宗寵妃病此，治用真蚌粉，新瓦上炒紅，入青黛少許，用淡齏水，滴麻油數滴，調服二錢。</p>
<p>肝主筋，腎主骨，陰器者，宗筋之所聚。男子天癸未至，強通其精，異時必有難名之病。今患腰膝痠疼，宗筋短縮，大便結澀，小便淋瀝，足腿消爍，筋肉拘攣，無非肝虧腎損所致。按脈沉細而兼微數，乃精不營筋，又有伏火。《內經》所謂：發為筋痿，及為白淫者是也。治宜滋腎舒肝，使精血漸充，則筋骨亦漸和柔，但幻症日久，非一朝一夕之功，幸弗期速效。</p>
<p>熟地　歸身　牛膝　肉桂　黃柏　線魚膠　續斷　鉤鉤</p>
<p>水煎空心服。</p>
<p>交四之氣，熱勝元虛，乃氣泄之候，營衛本乎脾胃，不耐夜坐，舌心腐碎，吸吸短氣，似不接續，中焦喜按，始得暢達。目胞欲垂難舒，四肢微冷失和，從前調理見長，每以溫養足三陰臟，兼進血氣充形，病減七八。今當長夏，脾胃主氣，氣泄中虛，最防客氣之侵，是質重之補宜緩，而養胃，生津、寧神、斂液仍不可少。俟秋深天氣下降，仍用前法為穩，擬逐日調理方法。</p>
<p>人參　茯神　天冬　棗仁　知母　建蓮肉　炙草　川石斛</p>
<p>熬膏。早上進丸藥一次。</p>
<p>遇天氣鬱悖泛潮，常以鮮佩蘭葉泡湯一二次，取芳香不燥，不為穢濁所犯，可免夏秋時令之病。鮮蓮子湯亦好，若汗出口渴，夜坐火升舌碎，必用酸甘化陰，以制浮陽上亢，宜著飯蒸熟。</p>
<p>烏梅肉　冰糖</p>
<p>略煎一沸，微溫和服一次。</p>
<p>飯後飲茶，只宜炒大麥湯，岕片，或香梗茶，其松蘿、六安味苦氣降，中氣虛者不宜用。瓜果宜少，桃李宜忌。玉蜀黍堅澀難化，中虛禁用。香薷飲泄越滲利，頗不相宜，或有人參者，可以涼服。暫用煎藥，當和中清暑，以雨濕已久，中焦易困耳。</p>
<p>人參　木瓜　扁豆　麥冬　茯苓　甘草　佩蘭葉</p>
<p>臨晚進膏滋藥：</p>
<p>人參　熟地　遠志　甘草　綿耆　茯苓　桂圓肉　歸身　五味　枸杞</p>
<p>照常法熬膏，不用蜜收，白水調服。</p>
<p>當夏季反復變幻，因天地氣機大泄，身氣久虛，無以主持，故見病治病無功，而安中納下，每每獲效，入秋常進附子七味丸頗合。今秋分節，天氣降，地氣收，緣久熱氣傷，虛體未能收肅，是以肢節時寒，頭巔欲冷。無非病久諸氣交餒，斯外衛之陽少護，液髓暗耗，則血脈不營，而陰乏內守。凡此皆生氣之淺鮮也，急當溫養益氣，填補充形，使秋冬助其收藏，預為來春生髮之用。《內經》有四季調神之訓，今投藥亦當宗此旨。</p>
<p>鹿胎（一具）　羊內腎（生，十對）　黃狗腎（二十副）　肉蓯蓉（一兩五錢）　大熟地（四兩，砂仁制）　茯神（一兩五錢）　五味（一兩五錢）　湖蓮肉（二兩）　人乳粉（一兩五錢）　柏子霜（一兩五錢）　紫河車（一具，漂）　青鹽（八錢）</p>
<p>上用諸膏並搗地黃為丸，早服五錢，人參湯送。</p>
<p>有年勞傷神瘁，膚無膏澤，時欲腹鳴啾痛，營血不得流行之故。開懷安逸，僅可帶病延年。</p>
<p>人參　當歸　肉桂　白芍　炙草　茯苓　遠志　熟地炭</p>
<p>產後腫脹不愈，顯然下焦先虛，肝腎氣散，不主收納，形寒痞悶，食少痰多，形消肉削，治從溫納，分利，攻消法。</p>
<p>濟生腎氣丸三錢，磨沉香汁三分，衝開水送。</p>
<p>身熱解墮，惡風汗出如雨，喘渴，不任勞事，《內經》謂漏風症。此飲酒汗出當風，邪留腠理也。</p>
<p>白朮　澤瀉　麋銜草　新會皮</p>
<p>音啞者，陽邪搏於三陰。少陰之脈循喉嚨，太陰之脈連舌本，厥陰之脈出咽喉故也。然陽邪搏陰之候，正未易治。</p>
<p>甘草　桔梗　蔞皮　麥冬　川連　杏仁　丹皮　生蒲黃　生地</p>
<p>上燥治氣，下燥治血，此為定論。今陽明胃汁之虛，因久痛嘔逆，投以香燥破氣，津液劫傷，胃氣不主下行，腸中傳送開合，皆失其職司。經云：六腑以通為補。豈徒理燥而已，仍議清補胃陰為法。</p>
<p>鮮生地　甜梨肉　天冬肉　人參　生白蜜</p>
<p>未交四九，天癸先絕，今年五十有二，初冬脊骨痛連腰胯，膝跗無力，動則氣喘，立則傴僂，耳鳴頭暈，上熱下冷，呼吸必經脈閃痛，時有寒熱，穀食日減少味，溺短便艱枯澀。此奇經脈病，漸成痿痹廢棄之疴。夫督脈行於身後；帶脈橫束於腰；維、蹻主一身之綱維。今氣血索然，八脈失養。經謂：陽維為病，苦寒熱，而諸脈隸肝腎，陽明之間，故所患不專一所。交冬大地氣藏，天氣主降，為失藏失固，反現泄越之象。治病當法古人。如雲：痛則不通，痛無補法。此論邪壅氣血之謂，今以絡脈失養，是用補方中宣通八脈為正。冬至小寒，陽當生復，病勢反加，調之得宜，天暖溫煦，可冀痛止。然陽藥若桂、附剛猛，風藥若靈仙、狗脊之走竄，總皆劫奪耗散，用柔陽辛潤通補方妥。</p>
<p>鹿茸　鹿角膠　淡蓯蓉　當歸　枸杞　生杜仲　牛膝　蒺藜　炒鹿角霜</p>
<p>腸澼下白沫者，肺氣下移。經言：氣並於陰，猶雲陽下陷也。又云：脈沉則生，浮則危者，恐虛陽欲撒之象，而真氣欲離耳。</p>
<p>人參　炮姜　桂枝木　黑於朮　炮附子　大棗　炙甘草</p>
<p>勉強搖精，致陽縮囊縱，不但形弱傴僂，肛門臍竅皆為收引，咽喉牽絆，自此食物漸漸減少，由精血之傷有形，最難自復。少厥兩陰脈，循喉嚨，開竅於二陰，既遭損傷，其氣不及充注於八脈，見症皆拘束之狀。上年進柔劑陽藥，服後頭巔經脈皆脹，耳竅愈鳴，想是藏陰宜靜，試以乘輿身怖，必加侷促不安，宜乎升陽之動，藥不靈矣。夫少陰內藏，原有溫蒸諸法，厥陰相火內寄，惡寒喜涼。仿丹溪潛陽法，仍候高明定義。</p>
<p>元武版　知母　茯苓　秋石　生地　阿膠　遠志炭　柏子仁</p>
<p><u>又</u>　交四之氣熱勝，元虛則氣候不耐久坐，舌心腐碎，吸短氣似不接續，中焦喜按，始得暢安，目胞欲垂難舒，四肢微冷失和。從前調理見長，每以溫養足三陰，兼進血氣充形之品，病減。今當長夏，脾胃主氣，氣泄中虛，最防客氣之侵，是質重之補宜緩，而養胃生津、寧神斂液，仍不可少。俟秋深天氣下降，仍用前法為穩，擬逐日調理方法。</p>
<p>人參　麥冬　知母　天冬　茯神　甘草　川斛　建蓮</p>
<p>遇天氣鬱悖泛潮，常以枇杷葉拭去毛，淨鍋炒香，泡湯飲之四次，取芳香不燥，不為穢濁所侵，可免夏秋時令之病，若汗出口渴，夜坐火升舌碎，必用酸甘化陰以制浮陽上亢。</p>
<p>蒸熟烏梅肉一錢，冰糖三錢，煎湯飲。</p>
<p>瓜果桃李御麥，中虛禁食，香薷飲泄越滲泄，頗不相宜。暫用煎藥，當和中清暑。雨濕已久，中焦易困。</p>
<p>人參　茯苓　麥冬　木瓜　甘草　炒香　枇杷葉</p>
<p>臨晚服膏方：人參　麥冬　熟地　遠志炭　五味子　茯苓　枸杞</p>
<p><u>又</u>　常夏季反復變幻，因天地氣機大泄，體氣久虛，無以主持，故見病治病，則無功，而安中納下每每獲效，人秋常服附子七味丸頗安。秋分節天氣降，地氣收，緣火熱氣傷，虛體未能收肅，是以肢節時寒，頭巔欲冷，無非病久諸氣皆餒，斯外衛之陽少護，液髓暗枯，則血脈不營，而陰乏內守，凡此皆生氣之漸鮮也。急當溫養益氣，填補充形，使秋令助其收藏，預為來春生髮之用。按《內經》有四氣調神法，即今投藥亦當宗此旨。</p>
<p>鹿胎　熟地　五味子　麥冬　人乳粉　蓯蓉　黃狗腎　柏子仁　青鹽</p>
<p>參湯下。</p>
<p>濁膩膏淋日下，最易損人津液，絡脈遂槁。況八脈隧道紆遠，泛然補劑，藥力罔效。《難經》謂十二經屬通渠，旋轉循環無端，惟奇經如溝渠，滿溢流入深河，不與十二經並行者也，樹根草皮，此症亦難奏效，須用血肉填補固澀，庶可希其獲效。</p>
<p>麋茸　河車　人參　蒸黑於朮　茯苓　湘蓮　縮砂　雀卵　䕡茹　烏賊骨</p>
<p>雀卵、河車膏為丸。</p>
<p>瘧病，《內經》謂小邪之中，雖云十二經之瘧，總不離乎少陽。少陽肝臟相附，瘧久盤踞，未免凝痰積血，即成病根矣。虛者補正為先，補正不應，法當破血。</p>
<p>柴胡　草果　炒桃仁　青蒿　半夏　歸尾　桂枝　炒黑蜀漆</p>
<p>瓜果水寒，暴涼迅風，內外兩因，舌白，渴不能飲，脘中脹滿，煩不肯寐，身無熱，頭不疼，微嘔，此足太陰中寒。已經冷汗肢厥，脈弱濡伏，醫猶以疲敝方藥，正如隔靴搔癢矣。</p>
<p>生草果　生於術　藿梗　淡乾薑　厚朴　丁香柄</p>
<p>長夏外受暑濕，與水穀之氣相併，氣阻蒸迫，上焦不行，下脘不通，不嗜飲食，目黃，舌白，邪結氣分。</p>
<p>杏仁　厚朴　茯苓　蔻仁　炒半夏　薑汁</p>
<p>脈緩，身痛汗出，熱解復熱。此水穀之氣，與濕並阻於氣分，鬱而成熱。治宜利濕宣通，氣分濕去，熱自解矣，徒進清熱不應。</p>
<p>飛滑石　腹皮　茯苓皮　白蔻仁　豬苓　通草　淡黃芩</p>
<p>舌白，渴不欲飲，嘔有痰，口味皆變，頭中空痛，兩頰赤，此水穀濕熱，氣並鬱蒸腸胃，致清濁變混，忽然煩躁，難鳴苦況。法當苦寒泄熱，辛香流氣，滲泄利濕，無形之濕熱去，有形之積滯自通。</p>
<p>淡黃芩　野鬱金　川連　秦皮　白蔻　通草　豬苓　厚朴</p>
<p>脈右虛左弦，身麻肢冷，胎中脹悶，不飢吞酸，由中虛肝氣內動之因，五六月當脾胃司胎，又體質不受苦寒，非清火酸泄氣分之法所宜。</p>
<p>人參　炒半夏　枳殼　桔梗　薑汁</p>
<p>陽明脈衰，厥陰風動，經絡交虧，麻木痛痹，肢節重著，久而成痿，當以護陽之劑。</p>
<p>黃耆　杞子　制川附　續斷　防風　白芍　遠志　首烏</p>
<p>稚年，秋月時病，愈後食蟹，自必辛酸內茹遂致傷營吐血，先理清營解毒。</p>
<p>蘇子　麥冬　生蒲黃　細生地　丹皮　雞距子</p>
<p>裡急後重，腹痛便膿，秘塞不爽，久延交冬，仍是腸滯不通，法當宣通氣血。</p>
<p>紫菀　厚朴　炒黑地榆　制軍　桔梗　木香　炒黑楂肉　炒青皮</p>
<p>喑啞而痿者，《內經》謂之喑痱，此陽盛已衰，入於陰也。由勞傷其腎，耗奪真陰，當以內養為主，非草木之藥所能挽回也。</p>
<p>河車大造丸。</p>
<p>狐疝者，厥陰之痹也。發則睪丸痛引少腹，得嘔氣泄則止。此屬寒濕之阻，議以利濕溫經祛風丸方，服久自愈。</p>
<p>川楝子　小茴香　淫羊藿　胡蘆巴　茯苓　半夏　杜仲　韭子　砂仁　防風　當歸　漂淡蓯蓉　泡淡吳茱萸</p>
<p>雙合水泛丸，日服二次，每服二錢五分。</p>
<p>產後兩三日，惡露即止，下白甚多，明系濕阻，體虛感邪，更瘧半月，食減氣壅，延久必致虛脫，且擬補虛鎮墜以治氣逆，氣降進食，庶有生機。</p>
<p>代赭石（煅）　旋覆花　製半夏　人參　茯苓　新會皮　炒白芍</p>
<p><u>又</u>　服煎湯逆氣已降，飲食漸進，有向愈之機，然產後肝腎自虛，若不填納，恐沖氣覆逆。</p>
<p>大熟地（砂仁炒鬆）　人參　枸杞子（炒）　炒白芍　茯苓　生杜仲</p>
<p><u>又</u>　進填納，神氣雖振，寒熱未已，白帶仍下，濕鬱所致，宜用開濕破瘀引邪，以冀瘧止。</p>
<p>青蒿　生鱉甲　茯苓　當歸　炒桃仁　新會皮　生香附</p>
<p>舌微黃，口微酸苦，脘中微悶，議用溫膽法，合四逆散。</p>
<p>竹茹　生白芍　炒半夏　川連　淡芩　枳實汁　桔梗</p>
<p>目黃，舌刺，色赤，伏邪餘熱未盡。</p>
<p>鮮生地　麥冬　川斛　蔗汁　竹葉心　花粉　鮮地骨皮　梨汁</p>
<p>陽明濕熱，痞結心下，擬苦降辛泄，則邪自解耳。</p>
<p>泡乾薑　半夏　桔梗　杏仁　川連　厚朴　枳實　豆豉　至寶丹</p>
<p>風溫化熱，上郁肺氣，咽喉阻塞，胸脘不通，故呻吟呼吸不爽。上下交阻，逆而為厥，乃閉塞之甚，病在上焦。幼科消食，發散，表裡混治，久延必致慢驚莫救。</p>
<p>蘆根　飛滑石　川通草　甜水梨皮　桑葉</p>
<p>脈濡數，中暑。暑為陽邪，晝屬陽分，故張其勢而煩渴。夜靜屬陰，邪逼於內，則多言囈語，皆由體虛邪甚致此。經謂：暑傷氣。原屬虛症，未敢以凝寒苦清，侵伐元氣。</p>
<p>絲瓜葉（三片）　金石斛（三錢）　白知母（四錢）　飛滑石（一錢）</p>
<p>水煎濾清，候冷，衝入西瓜汁一大茶杯。</p>
<p>凡三陽症，邪未入里歸腑，尚在散漫之時，用承氣湯誤下之，則熱不解而下利，神虛妄言見矣。擬苦清以通腑氣，仍用葛根解肌開表，斯成表裡兩解之法耳。</p>
<p>葛根　黃芩　黃連　甘草</p>
<p>脈浮緩，身熱不止，汗出不為汗衰。此風濕鬱表，瘀熱為黃。擬麻黃連翹赤小豆湯。</p>
<p>麻黃　杏仁　生梓白皮　生薑　連翹　細赤豆　甘草　大棗</p>
<p>天雨水煎。</p>
<p>熱邪入里，脘痞，按之痛，脈浮滑者，此邪結陽分，擬仲景小陷胸湯。</p>
<p>川黃連　栝蔞實　半夏　杏仁　枳實</p>
<p>脈濡澀數，至暮昏亂，身熱未盡，腹痛便黑。陽明蓄血，擬仲景桃仁承氣以逐其邪。</p>
<p>桂枝木　大黃　甘草　芒硝　丹皮　桃仁</p>
<p>身重，汗出，疼痛，脈浮緩。此風濕相搏於太陽之表，陽虛邪客。當通營衛以固表，擬桂枝附子湯。</p>
<p>制川附　桂枝　甘草　生薑　大棗</p>
<p>口苦，惡熱，腹滿，虛煩，汗出。此陽明症也。《內經》云：邪中於面則入於膺。而未全歸腑，故有是症。擬仲景梔子厚朴湯。</p>
<p>香豉　梔子　厚朴　連翹　枳殼</p>
<p>脈沉微，下利，嘔逆，身痛，四肢厥冷，少陰中寒。應四逆湯，急救其里。</p>
<p>生炮附子　乾薑　炙甘草</p>
<p>脈微，下利厥逆，煩躁，面赤戴陽，顯然少陰症，格陽於上也。用白通去豬膽汁，以膽汁亦損真陽也。</p>
<p>泡生附子　乾薑　蔥白</p>
<p>煎好衝入人尿一杯。</p>
<p>病體已虛，風溫再侵，喘嗽身熱，脘悶，小便不利，全是肺病，此症反復太多，深慮病傷成勞。凡藥之苦味辛泄者慎用。</p>
<p>青蔗汁　鮮枸杞根皮　玉竹　桑葉　北沙參　蜜炒知母　炒川貝</p>
<p>夏月感冒，頭重，壯熱無汗，煩渴。伏暑新涼外束，治以辛香開表。</p>
<p>陳香薷　新會皮　厚朴　藿香　甘草　知母</p>
<p>舌縮，語音不出，呼吸似喘，二便不通，神迷如寐。此少陰腎液先虧，溫邪深陷陰中。瘛痙已見，厥陽內風上冒，本質素怯，邪伏殊甚，實為棘手。議護下焦之陰，清解溫熱之深藏，以冀萬一。</p>
<p>阿膠　鮮生地　元參　鮮石菖蒲　川黃連　童子小便</p>
<p>脈濡，懶倦，多汗，口渴，體氣素薄，炎暑爍金。當益氣，保水之源。</p>
<p>麥冬　人參　知母　五味子</p>
<p>經月瘧邪。仲景謂：結為癥瘕者，氣血交病。病已入絡，久必成滿脹，瘧母膠固黏著，又非峻攻可拔。當遵仲景鱉甲煎丸之例，日餌不費，以搜絡邪。</p>
<p>鱉甲煎丸（三百粒）　每服十粒，日服二，夜服一。</p>
<p>溫邪已入心營，神煩欲昏，質系陰虧，怕其液涸，不必以斑疹為慮，清神斯邪不結蔽矣。</p>
<p>連翹心　石菖蒲　鮮生地　元參心　金銀花　天竺黃　至寶丹（一粒）</p>
<p>病脅痛吐食，《內經》謂：肝痹。又云：少陽不足病肝痹，得之寒濕。</p>
<p>柴胡　防風　當歸　白芍　萆薢　米仁　甘草　茯苓</p>
<p>寒熱而嘔，罷則汗出，四日一發，牝瘧也。「瘧論」云：邪氣客於六腑而有時，與衛氣相失，不能相得，故休四、五日，或數日乃作也。今脈沉弦遲，發必大吐、大汗。陽氣與中氣乏竭，應扶陽補中，以固元氣。</p>
<p>制川附　人參　炮姜　炒白芍　草果仁　牡蠣　炙甘草</p>
<p>加大棗一枚。</p>
<p>善食而飢，經謂癉成消中，膏粱蘊熱過也。禁芳草藥石，藥石發癲，芳草發狂耳。自應清胃，淡薄蔬食，庶可獲愈。</p>
<p>蔞皮　枳殼　川連　鬱金　金石斛　連翹　焦神麯</p>
<p>悲驚不樂，神志傷也，心火之衰，陰氣乘之則多慘慼。擬大建中揚。</p>
<p>桂枝　人參　蜀椒　附子　飴糖</p>
<p>脈洪大，煩渴，汗出，陽明中暍，的系白虎湯候也。</p>
<p>石膏　甘草　麥冬　知母　粳米</p>
<p>脈沉微，腹痛，吐利，汗出，太陰寒傷，擬冷香飲子。</p>
<p>泡淡附子　草果仁　新會皮　甘草</p>
<p>煎好候冷服。</p>
<p>瘧母竊踞少陽，氣血凝阻。</p>
<p>蜣螂　金鈴子　桃仁　三稜　䗪蟲　歸身　元胡索　蓬朮</p>
<p>韭汁丸。</p>
<p>肝虛內熱。</p>
<p>制首烏　茯苓　女貞實　酒炙鱉甲　歸身　酒炒白芍　香附（酒炒）</p>
<p>青蒿子熬膏略加蜜搗丸。</p>
<p>述胸脘脹痞，不飢不食，大便溏滑，已有五年。夫胸中乃清氣轉旋。清陽失運，濁氣凝聚為患，水穀氣蒸之濕，濕勝遂成五泄，陽氣日微，宣脾陽，可使氣機之運，氣行濕自去耳。</p>
<p>生白朮　益智仁　真茅朮　厚朴　茯苓　蓽撥　廣木香　新會皮</p>
<p>寒熱咳嗽，初起必有外邪，邪陷入里，則陽氣傷，陰濁擾亂，延為腫脹。述腹脹大，上實下堅，濁自下起，逆氣挾痰上衝，暮則陰邪用事，著枕咳嗆更甚。本草云：諸藥皮皆涼，子皆降。降肺氣，疏胃滯，暫時通泄，昧於陰邪盛，為腫為脹，大旨形寒吐沫，陽氣已寂，湯藥以通太陽，續進攝納少陰，考諸前哲，不越此範。</p>
<p>早服濟生腎氣丸，晚進桂苓甘味姜附湯。</p>
<p>小產後，肌肉似乎豐溢，是陽氣發泄，即外有餘內不足。病樣甚多，何堪縷治？在女科莫重於調經，氣血逆亂，擾動肝脾，心胸痛發而嘔，述遇怒著冷痛甚，胃陽已衰，厥濁易逆，先理胃陽，用《金匱》法。</p>
<p>人參　吳茱萸　茯苓　半夏　良薑</p>
<p>從未生育，乃是氣血不和，形軀豐溢，是外盛內虧，肌肉疹癢，搔摸成塊，風在表，濕熱在裡，乃是氣分之病。病非大恙，而取效最難，明理之醫謂：肥人不可多投攻表泄陽。當於夏月，施砭刺法可效。</p>
<p>生茅朮須　生香附　白殭蠶　白蘚皮　白芥子　老蘇梗</p>
<p>男子七旬，下元脂液已少，陽氣升騰，陰少承供，目恙先從左起，肝主左升也。血無內藏，陽上蒸迫，為障失明，顯然水虧無以生木。不足之症，焉得用龍膽、黃柏瀉火之理，倘苦寒傷胃，噬臍莫及。</p>
<p>羯羊肝　穀精草　浙菊花　制首烏　夜明砂　濂珠粉　枸杞子</p>
<p>邪深入陰，三日乃發，間瘧至，必腰腹中痛，氣升即嘔，所伏之邪，必在肝絡，動則犯胃，故嘔逆煩渴。肝乃木火內寄之臟，胃屬陽土宜涼，久聚變熱，與初起溫散不同，邪久不祛，必結瘕形瘧母。</p>
<p>生鱉甲　生桃仁　知母　滑石　醋炒　半夏　草果仁</p>
<p>高年疝症，是下元虛，氣冷凝沍，結聚攻墜，乃沉痼之疾，藥難取效。暖氣助陽鼓動，俾陰邪濁氣稍解，不過暫時小安耳。病在肝腎，道路紆遠，藥必從咽入胃，由胃入腸，始達病所，而上中無病之處，必受疝藥攻克之累，倘胃減妨食，何以救療？夫陰濁盤踞成形，例取純陽氣雄之藥。昔胡大封翁，高年宿疝，用十全大補不效，喻氏駁其半陰半陽非法，議以薑、附為丸、參、苓為衣，喉間知有參、苓，過胃始露猛烈之威靈。恪攻病所，此議甚正。</p>
<p>生炮附子　淡乾薑　大茴香（炒）</p>
<p>研為細末，真水安息香三錢，搗為小丸，以人參末不拘多少為衣，早服二錢，少少進湯送下。</p>
<p>年方二七，長者呵責受驚，即起癇厥，驚氣內應足厥陰肝。述前先見頭搖，病發仰極反弓，是厥逆內風，由前上胸，起必喟然嘆者，氣冒膻中，神識自矇蔽也。小溲通利得蘇者，小腸赤府泄濁，心包蒙神下降也。是症當理手足厥陰，諒施針刺，以宣其絡，服藥未易有功。</p>
<p>至寶丹半丸化服。</p>
<p>精氣不旺，邪留腎絡不解。大凡邪在陽可散，入陰之邪，必溫經可托出，留邪為解之、化之不同法也。</p>
<p>人參　鹿茸　鹿角霜　舶茴香　當歸　細辛</p>
<p>凡久病必入絡脈，醫但寫藥湊方，不明入絡之理，藥由咽入，過胃至腸而已。此症由肝絡而來，過膈入胃，胃翻嘔吐。致吐致脹之由，從肝而出也。偏勝病起，務以急攻。用藥如用兵，直搗中堅，使病潰散，然非入絡之方，弗能效矣。議於病發之時，疏理肝木。病緩再安胃土。</p>
<p>人參　厚朴　茯苓　熟半夏</p>
<p>磨入蓬莪朮五分。</p>
<p>正當生旺之年，須蒼色變，按：人身發屬心火而炎上，眉主肝木而曲直，側生須應腎水。內不足而色不向榮，且脈象弱芤，男子精氣衰薄，不為生育之徵。法當寧心神以處靜，寡欲養精，妙選無病瘦弱女質，經調怡悅，無拘慮愁煩，遵三十時辰兩日半之旨，庶幾望其毓麟耳。</p>
<p>肉蓯蓉　蛇床子　覆盆子　線魚膠　補骨脂　舶茴香　五味子　菟絲子　家韭子　沙蒺藜</p>
<p>滯痰阻經脈之氣，瘀濁阻絡脈之血，病甚難治。每每經水將至之候，必腹痛堅脹，上年用烏骨雞丸，堅脹勢緩痛減，不時舉發。今議治法：經水來時，用回生丹三四日。經過用後方，但主宣通絡血中氣，可免脹滿之累。</p>
<p>鹿角霜　敗龜板　生香附　熟地炭　南楂肉　小茴香　茅朮炭　茯苓塊</p>
<p>用鮑魚汁為丸。</p>
<p>咳嗆頻多，必嘔吐涎沫。明理者，當知咳嗆自衝脈氣衝，不司收攝，為肝腎陰氣不足。咽喉久痛者，緣少陰、厥陰脈循喉，陽氣刻刻擾動無制，多屬陰虧。脈形細動，不受溫補肺藥，久進必傷胃口。</p>
<p>熟地炭　女貞子　湘蓮肉　茯苓　芡實　川石斛　炒山藥</p>
<p>肺家留熱，頻年嗆發，據說痘後有此。長夏諸陽升騰，而黴天反燥。當清肺之急迫，潤肺之燥烈。</p>
<p>清阿膠　枯黃芩　南花粉　地骨皮　綠豆皮</p>
<p>久熱五液全耗，陰傷非謬，頻渴安受梨蔗。晡起寒熱，倏然而至，驗及舌色絳赤，顯然由臟絡之空隙，致陰反交戀其陽。按經義從下交合，難易速功，肝腎病必累及蹻、維所致。</p>
<p>人參　知母　麋角膠　元武板</p>
<p>問生產頻多，經水失期，此衝脈厥氣直攻心下，引脅環及少腹，嘔吐黑水。黑為胃底之水，便出稀黑，乃腸中之水。經年累月，病傷胃憊，何暇見病治病，務在安眠進食為議，仿仲景胃虛上逆例。</p>
<p>人參　炒半夏　代赭石　茯苓塊　降香　蘇木</p>
<p>據述布痘，調理少和，四五年來，不分冬夏，兩膝骨痛，暮夜甚，必越日乃解，更述暖熨少安。知寒濕陰，氣從下而受。但痘後幾更寒暑不愈，經脈必有留邪之氣，因新邪舉發，論病名曰痹。痹者氣血凝滯之義。古方活絡逐邪，每施於新感則效，久則邪興氣血混處，取效頗遲，當此長夏，發泄司令，按圖針刺，每五日、七日一舉，經絡氣血流行，邪氣難以容留，徒藥無益，遵古方服活絡丹，即再造丸，國朝喻氏謂：酒熱先入肝膽，謹慎者飲之，可以壯膽。好飲多以致發瘡。其酒毒頗得外泄，以分其勢。瘡愈，癇搐厥逆，全歸肝膽矣。用藥以大苦大寒，直清其下。</p>
<p>蘆薈　青黛　龍膽草　郁李仁　胡黃連　黑山梔</p>
<p>調入豬膽汁。</p>
<p>瘰癧從情志易怒而來，久鬱氣火燔灼，值產育頻經，奇經八脈不固，陽乘脈動，經來如崩，《內經》謂：陰絡傷則內溢。脈來虛數，肌肉易熱，陰乏不主內守，浮陽擾越外翔，形症及脈，難用溫暖之藥，平昔飲酒，不喜甘味滋膩，徒然參、苓，僅到中宮。凡經水於由血海而下，血海即衝脈。自述腰髀痠楚，其損已入奇經。考宋元明諸賢人，凡不受熱藥體質，必用震靈丹以固下，更佐能入諸經之品，通攝兼進。</p>
<p>人參　茯神　女貞子　天冬肉　炙草　旱蓮草　炒枸杞　炒當歸</p>
<p>送眼震靈丹六十粒。</p>
<p>上年起病，食物不甘美，頭暈耳鳴，足力痿軟，年周甲子，向老日衰，下元二氣漸漓，水乏生木之司，液少則肝木內風鼓動，木乘胃土，必食無味。風陽上巔攻竅，上實下虛，醫為腎虛，萸地填陰，原不為過，但腎水內寓真火，宜溫肝木。相火宜涼，凡益腎取乎溫養，必佐諒肝以監製，方無偏黨。是症倘加暴怒煩勞，必有卒中之累，戒酒肉濁味上氣，肅清填下，無痰火阻礙，清閒怡悅，五志氣火不燃。內起之病，關係臟真，不徒求治於藥也。</p>
<p>熟地　石斛　天　冬　菊炭　巴戟肉　肉蓯蓉　沙蒺藜　沙白芍　懷牛膝　線魚膠</p>
<p>蜜丸打入青鹽四兩。</p>
<p>積勞陽動，氣蒸上咳，已三四年，仍然經營辦事。夏四月，地中陽升，途失血，咽痛，音低。男子五旬以外，下元先虧，此顯然五液不充，為久延不愈之沉疴，見血見嗽，與寒降清肺，是夯極者。</p>
<p>生地黃　清阿膠　雞子黃　雲茯苓　麥冬桔梗</p>
<p>問病，起於功名未遂，情志郁悖，人身之氣左升右降，怒必木火暴升，肝膽橫逆，肺反為木火乘侮，金無制木之權。呼吸病加，絡血被氣火擾動，亦令溢出上竅。更加勤讀苦工，身靜心動，君相何由以寧？春夏頻發，地中氣升，陽氣應之。內起之病，關係臟真，情志安和，庶病可卻。</p>
<p>丹皮　鉤藤　金斛　白芍　米仁　蘇子　藕汁　真降香</p>
<p>渴熱向愈，自更衣用力，陰囊忽大，此宿疝舉發。明明陰虛氣墜，非子和七疝同法。身前陷墜，任脈失其擔任。小便通調，酸甘定議。</p>
<p>人參　天冬　熟地　萸肉　川石斛　炙草</p>
<p>酒毒內燔，吐血甚多，六七日後，瘀血又從大便出。酒性先入肝膽，次及胃絡，照一臟一腑對治，勿驟用膩滯陰藥。</p>
<p>金石斛　丹參　穭豆皮　銀花　地骨皮　丹皮　黑山梔　雲茯苓</p>
<p>向來下部赤疥，濕熱下注，本乎質薄腎虛，秋冬微感外邪，肺氣失降，氣隧為壅。水穀氣蒸，變濕氣阻，橫漬經脈，膀胱氣痹，小溲不爽，不司分別清濁，濕墜大腸便稀，痹塞自下，壅逆及上，喘息氣衝，坐不得臥，俯不喜仰，甚於夜者。濕與水皆陰邪，暮夜陰用事也。夫膀胱為腎腑宜開，則水通濁泄。初因外感，太陽先受。治不得其要領。孟子謂：水搏激過顙，在人身逆而犯上射肺，則肺痹喘息矣。仲聖凡治外邪致動水寒上逆，必用小青龍湯為主。方與《內經》腫脹開鬼門取汗，潔淨腑利水相符。宗是議治。</p>
<p>麻黃（八分）　桂枝（一錢，去皮）　白芍（一錢）　杏仁（十五粒，去皮）　茯苓（三錢）　甘草（三分，炙）　淡乾薑（一錢，同五味子一錢，搗，罨一夜）</p>
<p>上午服。</p>

<h1>卷三</h1>
<p>夏至陰氣不生，乃損不能復矣。今當大熱，氣泄愈甚，百脈諸氣皆空，脂液盡耗，難望再醒，為寒為熱，無非身中陰陽互乘，陽由陰上越，則頂巔痛。風木之火入中。則嘔逆嗆咳，總之液涸神竭。進兩儀煎、瓊玉膏，扶至稍涼，再為斟酌。</p>
<p>麥冬　竹葉　人參　烏梅肉　大麥　鮮荷葉汁</p>
<p>水煎，澄冷服。</p>
<p>初春脈動而不鼓，亦收藏之司淺矣。壯年未育，晨吐黑痰，皆水虧火炎，精氣不充之象，胃旺能納穀，當專理下焦，不必以痰為慮。</p>
<p>牛骨髓　羊骨髓　海參膠　線魚膠　龜鹿膠　芡實　菟絲粉　金櫻子粉　五味子　家韭子　大熟地　遠志肉　建蓮肉　淡菜膠　熟首烏　覆盆子</p>
<p>下寒便難不寐，液涸陽不潛伏，用辛甘化風。</p>
<p>熟地　歸身　肉桂　枸杞　懷牛膝　白芍　茯苓　甘菊　蓯蓉　柏子仁</p>
<p><u>程舜文令郎</u>　男子思念未遂，陰火內燔，五液日奪，但孤陽升騰，熏蒸上竅，已失交泰之義，此非外來之症。凡陰精殘備，務在胃旺，納穀生陰。今咽喉耳鼻諸竅，久遭陰火之逼，寒涼清解，僅調六氣中之火，而臟真陰火，乃閃電迅速莫遏，清涼必不卻病。良由精血內空，草木藥餌，不能生精充液耳。</p>
<p>豬脊髓　阿膠　川斛　天冬　生地</p>
<p><u>胡樸庵</u>　脈動於右，氣熱易升，陰不上承，能食不能充津液，入春嗽血不止，養少陰之陰，勿苦降礙胃。</p>
<p>雞子黃　阿膠　生地（炒）　柏葉（炒黑）　麥冬　茜草</p>
<p>轉方加天冬、抱木茯神。</p>
<p>上假熱，下真寒，肝腎大虛，用加減八味丸。</p>
<p>熟地　茯苓　丹皮　山藥　五味　當歸</p>
<p>脈澀無神，便溏食少，肛有瘡瘍，兩月未合，已成漏症，延綿竟有痼疾之虞。近日嗔怒氣擾，中焦隱痛。至於耗氣劫奪，萬難再餌，議進東垣益氣湯減黃耆，加木瓜、白芍，用薑、南棗以制肝木。</p>
<p>脈數多遺，脊痠腰墜，此督任失固，非通不能入脈，非澀無以填精，色蒼形瘦，不宜溫補。</p>
<p>熟地　牡蠣　遠志　五花龍骨　五味　茯苓　芡實　山藥　羊腎　脊髓</p>
<p>肝腎兩虧，虛火爍金，用納氣法。</p>
<p>熟地　牛膝　白芍　青鉛　童便　山藥</p>
<p>脈數小，不飢，痰多，陰虛伏熱。</p>
<p>滑石　麥冬　竹葉　連翹　杏仁　鮮生地</p>
<p>陰液枯槁，陽氣獨升，心熱驚惕，倏熱汗泄，議用復脈湯，甘以緩熱，充養五液。</p>
<p>人參　阿膠　炙草　麥冬　牡蠣　麻仁　細生地</p>
<p>脈大不斂，神迷囈語，陰陽不相交合，為欲脫之象。救陰無速功，急宜鎮固陰陽，冀其蘇息。</p>
<p>生龍骨　生牡蠣　人參　阿膠　茯神　淮小麥</p>
<p>留熱未清，營液已耗，但論清邪，恐神索氣奪，膩滯陰藥，防餘熱癰瘍，議理心之用，亦清補之意。</p>
<p>人參　麥冬　竹心　淮小麥</p>
<p>心中空洞，下焦寒冷，兼有遺精，便溏，議用三陰補方。</p>
<p>人參　山藥（炒）　茯神　五味　杞子（炒）　建蓮　線魚膠　熟地（炒）</p>
<p>脾胃陽微，不運寒痰，噫氣，腎虛陰走，遺精無夢。</p>
<p>人參　山藥（炒）　熟地（炒）　建蓮　生牡蠣　龍骨　枸子　麋角膠</p>
<p>男子脈大為勞。暑月陽不伏藏，初夏陽升血溢，皆內損少固。填精固氣，是為藥餌，靜攝絕欲，經年可復。</p>
<p>線魚膠　真沙苑　五味　龜板　茯神　淡萊膠　金櫻膏　石蓮　芡實</p>
<p><u>陳</u>　才交春三月，每夜寒熱，渴飲，汗出，是皆陰損於下，孤陽獨自上冒也。虛勞兼有漏瘍，加以情懷悒鬱，損傷不在一處，少腹及腰肋痛，議治在肝胃之間。</p>
<p>桃仁　旋覆花　丹皮　新絳　青蔥　柏子仁</p>
<p><u>許友官</u>　幼年瘍潰成漏，後天不能充長，其吐血後，嗽不止，夜熱，晨汗熱止，日見色奪肉消，減食噁心，便溏。乃勞怯陰陽，中下並傷，草木藥餌，何能挽回生生真氣？難效之症。</p>
<p>人參　山藥　芡實　炙草　五味　熟地炭</p>
<p>寒熱半年，少時色黃，氣短咳嘔，是內損營衛迭偏，勞怯重病。</p>
<p>人參　茯苓　黃耆　炙草　煨姜　南棗</p>
<p><u>汪正中</u>　填固包舉，遺精已緩，新正勞煩氣泄，病後神耗精奪，當此升泄氣候，以安神固攝法。</p>
<p>桑螵蛸　金櫻子粉　茯神　人參　生龍骨　當歸身　金箔　龜板</p>
<p><u>陳昇葵弟</u>　勞病先傷陰氣，繼而陽傷，夏季脾胃不和，䐜脹腹鳴，晨泄。凡陽虛外寒，陰虛熱蒸，皆虛不肯復元之象，非草木可為。病人述腹中氣通小愈，用藥當宗此旨。</p>
<p>人參　穀芽　茯苓　白芍　炙草　新會皮</p>
<p>右瘓，舌喑，足痱，頭岑，面戴陽，呵欠，微呃，診脈小濡而緩，此腎納失司，肝風震突。但病起耳後暴腫，必兼溫熱客氣。清上輕揚，腫勢頗減，七日以來，當陰陽經氣一小周天，不必以時邪引病為惑。昔河間《宣明方論》中謂：舌強難言，其咎在乎舌下。筋脈不主流動，以腎脈縈及舌本耳。其主地黃飲子，取意濁藥清投，機關漸靈，並無礙乎上氣痰熱，仿此為法。</p>
<p>熟地　肉蓯蓉（漂淡）　遠志（炒黑）　川石斛　茯神　枸杞子　牛膝　石菖蒲</p>
<p>脈象左部稍振，水虧木中風動，左牙痛，蓋風從內旋，乃陽之化風，只以春深地氣上升之候，多升少降，無非下元不司收納，虛證何疑？況因目恙，頻用韭子煙燻，查本草藥性，辛辣升騰助陽，孫真人於遺濁用之，藉其升陽以涵陰，更無漏泄耳。今痱中八日，聲音漸振者，乃精氣略有寧靜，里竅略有靈機，是順境也。乃不明此理，仍用辛以泄氣，加人參亦是清散上焦之藥，以肝腎臟虛，在於至陰，若再投辛以傷其陰，必致虛症蜂起焉。望其向安，倘必以上有火熱，古稱實火宜清，虛火宜補，溫養柔和，與溫熱剛燥迥異，幸勿疑訝。</p>
<p>生地　川斛　麥冬　茯神　阿膠　女貞子</p>
<p>十二日來，干支一輪，右肢痿木，右跗足略有痛象，舌竅未靈，味少甘美，虛象顯然。三日前，主家以齒痛為熱，醫迎主見，即投辛涼解散，此症虛在肝腎下焦，若不固納維本，漫無著落，仍以前法，加入涼肝可也。</p>
<p>熟地　枸杞　牛膝　遠志肉　茯神　川斛　天冬　甘菊炭</p>
<p>張石頑治春榜趙明遠，平時六脈微弱，己酉九月，患類中風，經歲不痊。邀石頑診之，其左手三部弦大而堅，知為腎臟陰傷，壯火食氣之候，且人迎斜內向寸，又為三陽經滿溢，入陽維之脈，是不能無顛仆不仁之虞。右手三部浮緩，而氣口以上微滑，乃痰沫壅塞於膈之象。以清陽之位，而為痰氣佔據，未免侵漬心主，是以神識不清，語言錯誤也。或者以其神識不清，語言錯誤，口角常有微涎，目睛恆不易轉，以為邪滯經絡，而用祛風導痰之藥，殊不知此本腎氣不能上通於心，心臟虛熱生風之症，良非燥藥所宜，或者以其小便清利倍常，以為腎虛，而用八味壯水之劑，殊不知此症雖虛，而虛陽伏於肝臟，所以陽事易舉，飲食易飢，又非益火銷陰藥所宜。或者以其向患休息久痢，大便後常有淡紅漬沫，而用補中益氣，殊不知脾氣陷於下焦者可用升舉之法，此陰血久利之餘疾，有何清氣在下可升發乎？若用升柴，升動肝腎虛陽，鼓激膈上痰飲，能保其不為喘脹逆滿之患乎？是升舉藥，不宜輕服也。今舉河間地黃飲子助其腎，通其心，一舉而兩得之，但不能薄滋味，遠房室，則藥雖應病，終無益於治療也。惟智者善為調攝為第一義。</p>
<p>熟地　巴戟天　蓯蓉　山萸肉　茯苓　薄荷　淡熟川附　肉桂　五味子　麥冬　川石斛　遠志　鮮石菖蒲</p>
<p>脈左大右濡，肝風震動，陽明脈空，舌強肢軟。是屬中絡，議用緩肝熄風。</p>
<p>連翹　丹參　元參　茯神　細生地　羚羊角</p>
<p>頭痛累月，陽脈大，陰脈澀，此陰衰於下，陽亢於上，盛下虛之候也。陽氣居上，體本虛也，而濁氣干之則實。陰氣居下，體本實也，而氣反上逆則虛。頭為清陽之位，而受濁陰之邪，陰陽混亂，天地否塞，而成病矣。法用六味地黃湯，加青鉛五錢。</p>
<p>頭痛經年不愈，早則人事明瞭，自午至亥，神氣昏憒不寧，風火之劑，雜治無功，兩脈俱沉且滑，此太陰陽明痰厥頭痛也。當用礞石滾痰丸，間服導痰湯，以盪滌其痰。次以六君子湯，少加秦艽、全蠍，調理而安。</p>
<p>五旬外不得安閒，凡惱怒煩動，多主五志之陽上舉，而肝膽相火為甚。幾年前，制壯水之劑加磁石、龜甲之沉潛，乃乙癸同治之義。今年暴暖多風，風熱上搏，清竅為蒙，濕熱蒸為膿水，此為客邪乘本體之虛。治標宜輕揚以清上，靜坐宅中，可以向安。</p>
<p>連翹　赤芍藥　草決明　羚羊角　薄荷梗　黃芩　山梔皮　荷葉梗</p>
<p>飯後服。</p>
<p>里真氣衰，不能貫通外膜，致聲若甕中，而蛙鳴、蚊震之聲不絕。前之流膿水，時令濕熱氣加也。今議補下、鎮納，收斂方法。</p>
<p>龜膠　磁石　牛膝　牡蠣　遠志　菖蒲　淡菜膠</p>
<p>同蜜丸。</p>
<p><u>曹漢臣</u>　厥陰頭痛，舌乾消渴，心下煩疼，無寐多躁，小腹脹滿，小便滴瀝，時時痙搐，最怕厥竭。</p>
<p>阿膠　鮮生地　雞子黃　小黑豆皮</p>
<p>煎半盞，即以湯藥送滋腎丸三錢。</p>
<p>稚年陽有餘陰不足，驟加驚恐，厥陽直升為頭痛，身不發熱，二便自通，豈是風寒停滯？羌、防、葛、姜辛溫，混發陽經，愈升其陽，必致損目，宜養陰藥。</p>
<p>周身掣痛，頭不可轉，手不能握，足不能運，兩脈浮虛。浮雖風象，而內虛者，脈亦浮而無力。以脈參症，當是勞倦傷中，陽明不治之候。陽明者，五臟六腑之海，主束筋骨，而利機關。陽明不治，則氣血不榮，十二經絡無所稟受，而不用矣。衛中空虛，營行不利，相搏而痛，有由然也。法當大補陽明氣血，不與風寒濕所致成痹者同治。</p>
<p>人參　黃耆　歸身　甘草　桂枝　秦艽　白朮</p>
<p>患痛風，發熱神昏，妄言見鬼，手足瘛瘲，大便不行，此少陰腎氣受傷也。腎既受傷，病累及肝，肝旺火熾，神明內亂，木合火邪，內入則便閉，外攻則身痛，法當滋其內，則火自熄，風自除，痛自止。</p>
<p>生首烏　蔞仁　桂枝　秦艽　桔梗　黃連　知母　枳殼</p>
<p>服一劑，症漸減，但心神不安，身體如在舟車，此腎氣虛，而肝肺為之不治。正《內經》子虛母亦虛也，母病子亦病也。夫肝藏魂，肺藏魄。二臟不治，故魂魄為之失守耳。</p>
<p>人參　甘草　生地　麥冬　遠志　棗仁　羚羊角　川貝　橘紅　茯神</p>
<p>患風三月，周身流走作腫，手不能握，足不能履，診其脈，浮大而數，發熱口乾。此陰虛生內熱，熱勝則風生，況風性善行，火熱得之，愈增其勢，傷於筋脈，則縱緩不收，逆於肉理，則攻腫為楚也。</p>
<p>生地　黃芩　黃連（酒炒）　紅花　羌活</p>
<p>左脈如刃，右脈緩澀。蓋陰虧本質，暑熱為虐，水穀氣蒸，濕流肢末，遂成攣痹。已經泄瀉食減，陽明脈中氣衰極矣，緩治可以冀功。</p>
<p>生於術　茯苓　狗脊　茅朮　仙靈脾　獨活　防己　靈仙</p>
<p>濕痹，絡脈不通，用滲濕苦溫藥小效，但汗出形寒，泄瀉食減，陽氣大衰，可知難以濕甚生熱例治。通陽宣行，以冀脈絡流通。</p>
<p>生於術　茯苓　附子　米仁　金毛狗脊　萆薢</p>
<p>高年液涸風動，酒濕氣蒸，足趾曾經腐瘍，經年來或麻痹，或牽制，不能轉側，已成筋骨之痿，兼之火升眩暈，頭面清竅常似不爽，大便艱澀，四五日始一更衣。陽氣不能潛伏，陰液日就枯槁。老來痿躄，原無復元之法，診得脈數動疾，溫燥之補，無益反害，仿丹溪虎潛之制，稍為加減，冀得津液少存，亦安閒永年之算，非攻病也。</p>
<p>大生地（一斤）　淡天冬（三兩）　肉蓯蓉（一兩五錢）　懷牛膝（二兩）　生白芍（三兩）　虎骨膠（二兩）　柏子仁（二兩）　肥知母（一兩）　川黃柏（一兩）</p>
<p>長夏濕痹，經脈流行氣鈍，兼以下元脈絡已虛，痿弱不能步趨，脊膂常似痠楚，大便或結或溏，都屬肝腎、奇經為病。蓋必佐宣通脈絡為正治法，倘徒呆補，夏季後必滋濕擾，須為預理。</p>
<p>肉蓯蓉　小茴香　巴戟天　歸身　遠志　鹿角霜　桑椹子　生茅朮　茯苓　熟地（薑汁製）</p>
<p>另用金毛狗脊三斤，煎膏和丸。</p>
<p><u>俞天音</u>　脈左大，舌乾白苔，腫痛流走四肢，此行痹。喘急不食二十日外矣。</p>
<p>羚羊角　木防己　白芍　桂枝　杏仁　薑黃</p>
<p>脈微而澀，微為陽氣虛，澀為陰血傷。去冬已下肢獨冷，步趨無力，高年內乏藏納之司，入夏身動加喘，肉腠麻痹若蟲行。此真陽失蟄，胃陽失護，生生意少，豈攻病藥石所宜？喻嘉言先生所謂大封大固，莫令真陽泄盡而暴脫，皆為此也，錄嚴氏《三因方》。</p>
<p>人參　白朮　附子</p>
<p><u>俞文調先生</u>　《靈樞》云：神傷思慮則內脫，意傷憂愁則肢廢，皆痿症也。脈形大虛無力，常餌補陽，而今操持縈思，猶未能免，病必遷延。</p>
<p>枸杞　歸身　甘菊　桂枝　虎骨</p>
<p>交冬宜藏，老年下虛，二氣少續，忽然右瘓，舌喑，面亮戴陽，呵欠，吸氣短欲嗆。此非外來客邪，皆根本先怯。平昔眩暈，肝臟虛風，顯然水不生木。坎中真陽內寓，必溫理其下。凡陽主乎通，陰主乎攝。扶過七日，少陽生氣再振，望其偏廢延永。倘攻風劫痰之治，非本氣自病法則。</p>
<p>人參　熟附　遠志　茯神　鮮菖蒲（搗汁沖）</p>
<p>四十二歲，右脈澀，左脈微，飲食不能健運，噯嘔，間或溏泄，此中宮陽氣欲寂，當用辛溫以補之。</p>
<p>人參　乾薑　茯苓　淡吳萸　胡蘆巴</p>
<p>左脈弦大空虛，右脈虛軟澀滯，能食不能運，便溏跗腫，此係積勞傷陽。壯歲經年不復，當作虛症，宜補脾腎治。</p>
<p>人參　於朮　茯苓　煨益智　淡附子　白芍　甘草　乾薑　胡蘆巴</p>
<p>正氣已虛，熱邪陷伏，故間瘧延為三日，其象為厥，舌涸，胸痹，噦嘔，恐成翻胃呃逆之症，先以旋覆代赭，鎮其上逆之氣，以瀉心散其胸中之熱。</p>
<p>人參　川連　白芍　旋覆　代赭　牡蠣</p>
<p>陽氣結閉，已成關格，病屬不治，姑用進退黃連湯，上下合法。</p>
<p>黃連　白芍　桂枝　人參</p>
<p>頻頻勞怒，肝氣攻觸胃脘，胃陽日衰，納食欲吐，胃不主降，腸枯不便。仿仲景食谷則噦，用吳茱萸湯。</p>
<p>人參　黃連　茯苓　乾薑　吳茱萸</p>
<p>陽微，嘔吐，不飢。</p>
<p>人參　半夏　茯苓　白芍　淡附子</p>
<p>春夏陽升，肝木乘胃，嘔吐，吐不已，寢食減廢，氣失下降，腸中不通，病乃懷抱抑鬱。兩月之久，不敢再以疏泄為治。</p>
<p>人參　川連　烏梅　川楝肉　生白芍</p>
<p>十九歲，翻胃三月，粒米不存，左脈大空虛，右脈細小虛澀，納食少停，即湧出口，面白神瘁，大便燥結。此陰血枯槁，陽氣鬱結，已成膈症。勉擬補中納下法。</p>
<p>人參　於朮　麥冬　葦莖　牛涎　半夏　益智　茯苓</p>
<p>發熱痰喘，胸滿身痛，左邊睪丸不時逆上，痛不可忍。肝脈弦急，肺脈獨大。此肺肝受邪之故也。肝為木臟，其化風，其生火，風火合邪，旺於本位，則為熱為痛。乘於肺金，則為痰為喘。法宜滋達肺金，兼疏肝木。</p>
<p>蔞仁　紫菀　半曲　川貝　桔梗　枳殼　杏仁　蘇子　柴胡　秦艽</p>
<p>狐疝：</p>
<p>淡蓯蓉　枸杞　巴戟　茯苓　沙蒺藜　當歸　茴香　真肉桂</p>
<p>陰莖作痛，痛甚而憒。診兩脈，浮虛而澀，浮為氣虛，澀乃精傷。陰陽兩虛，得之憂思勞郁，而傷中也。經云：陽明為氣血之海，主潤宗筋。又陽氣者，精則養神，柔則養筋，今多悒鬱，則氣必傷。又任勞倦，則血必耗。氣血兩傷，宗筋失潤，故令作痛。治以當歸補血湯，加人參、甘草、秦艽、桂心、紅花，繼用歸脾湯調理。</p>
<p>患溺血症，已三月矣。前用升補法不應，右脈虛澀無神，左關獨弦，莖中作痛，下多血塊，形色憔悴，又多噯氣。據脈論症，乃肝脾積熱也。肝熱則陰火不寧，而陰血自動，以血為肝臟所藏，而三焦之火，又寄養於肝也，故溺血莖中作痛。脾熱則濕氣內壅，而生氣不伸，以脾為濕土之化，而三焦之氣又運行於脾也，故時時噯氣，形色憔悴。法當益肝之陰，則火自平，利脾之濕，則氣自和。</p>
<p>生地　白芍　萆薢　丹皮　甘草　車前</p>
<p>繼用逍遙散，加車前、萆薢。</p>
<p>下血不已，汗出躁煩，心悸恍惚，頭不安枕，轉側不能。兩脈虛澀，虛為氣虛，澀為陰傷。人身陽根於陰，陰附於陽，兩相維繫者也。今陰血暴亡，虛陽無偶，勢必外越矣。虛陽外越，而陰愈無主，其能內固乎？陰陽相離，氣血兩虧，法宜兼補。然血有形，難以驟致，氣無形，可以急固。固其氣，則氣自充。氣充則不必治血，而血自守矣。先用歸脾湯，繼以大造丸。</p>
<p>人參　白朮　茯神　棗仁　黃耆　龍眼肉　當歸　遠志　木香　甘草　生薑　大棗</p>
<p>寒熱如瘧，便血不已，左脅有塊，攻逆不已而作痛。脈弦數兼澀，弦則為風，數則為熱，澀則氣結。此肝脾之氣，悒鬱不宣，胸中陽和，抑而成火，故神明不精。肝之應為風，肝氣動則風從之，故表見寒熱也。人身左半，肝腎主之。肝風自逆，故左脅攻楚有塊也。肝為藏血之地，肝傷則血不守。且以風淫熱勝，益為亡血之由也。</p>
<p>生首烏　黃連　柴胡　黃芩　知母　枳實　厚朴</p>
<p>下血既久，真陰大損，臨晚熾熱而咳，乃陽失潛伏，宜甘酸益陰為治。</p>
<p>熟地炭　甘草　萸肉　山藥　五味　茯苓　芡實　木瓜</p>
<p>屢進潤血燥、熄虛風藥，諸症向安。入夏四月，苦於便難，寒熱。此夏令陽氣大泄，陰液更耗，虛風動灼為秘。古人每以辛甘化風主治，因體瘦不受溫補，復以鹹苦味入陰之意。</p>
<p>鮮生地　胡麻　制首烏　天冬　柏子仁　杞子　茯神　肥知母　川斛膏</p>
<p>面目悉黃，微見黑滯，煩渴腹滿，左脈弦數，右脈空大，此內傷發黃，為厥陰肝木，太陰脾土，二臟交傷之候也。夫肝為風臟，其性喜伸而惡屈，鬱則木不得伸而屈矣。鬱極則其氣盛，而風乃發，風發必挾其勢以賊脾。脾為濕土之司，土受克，而氣不行，則濕勝矣。風性雖善行，遇濕以留之，反壅滯經絡而不解，由是濕停熱瘀，而煩渴有加，其發黃也必矣。雖曰風濕所致，實由木亢而不寧，土困而不舒，非外來風濕之比，況黑色見於面，則知並傷其腎，以脾病不行胃中谷氣，入腎反將脾中濁氣下流，故於黃中見黑滯耳，即其腹滿，亦是中氣不行，虛熱內壅，非結熱，當下之比，若誤下之，則臟氣空虛，風從內生矣。若誤汗之，則陽氣外解，濕愈不能行矣。為商治法，平肝之亢，扶土之虛，兼解鬱熱，以清氣道，除濕蒸而和中氣。</p>
<p>人參　白朮　白芍　黃連　山梔　歸身　丹皮　茵陳　秦艽　柴胡　甘草　半曲</p>
<p>產後下損，八脈交虛，形寒內熱，骨痛耳鳴，血液日耗，生氣不充，冬季不得復元，春深發泄司令，延為勞瘵矣。</p>
<p>杞子　歸身　紫石英　沙蒺藜　茯神　蓮肉</p>
<p>產後陰傷，寒熱瘧，幾兩月病發，白帶淋漓，八脈空隙，大著腹有動瘕，下元虛憊已極，議固下真通脈方。</p>
<p>人參　鹿角霜　茯苓　歸身　蓯蓉　粗桂枝木</p>
<p>產後十二日，診脈數疾，上湧下垂，此血去陰傷，孤陽上冒，內風燔燎，肝魂不寧。面赤頭痛，晝輕夜重，陰弱陽亢，上實下虛。若不按法施治，必增瘛痙厥逆。議咸潤益下和陽方。</p>
<p>小生地　生牡蠣　淮小麥　阿膠　麥冬　元參</p>
<p>產後脈虛，舌白，背寒凜，身痛，乾咳，不飢，是血氣兩損，不肯復元，有蓐勞之慮。急當培養足三陰臟，莫以肺經咳嗽治，再伐胃氣，用貞元飲方。</p>
<p>熟地　歸身　炙草　茯神　杞子　桂圓肉</p>
<p>飢時服。</p>
<p>產後五十餘日，腹滿不減，膨脹愈甚，二便不爽，此因下焦空虛，腑陽失氣化之司，先宜通陽，得脹勢稍緩再議，方用五苓加椒目。</p>
<p><u>方</u>　此血痹之症，產蓐百脈皆動，春寒凜冽，客氣乘隙襲入經絡，始而熱勝，繼則寒多。邪漸陷於陰絡，致夜分偏劇汗多，神昏譫語，由邪逼神明，豈是小病？正如仲景劫汗亡陽、驚譫同例。議救逆湯減芍藥方治。</p>
<p>產後絡脈傷，腹痛頻發，嗔怒，食物不宜則甚。當調和脈絡，庶不延成痼疾，宜蔥白丸。</p>
<p>胎殞陰損於下，厥陽上泛，久有夙病癇症，心營肺衛，最易矇蔽，是神志或昏或清，皆夾雜夙疾。惡露自行，豈是瘀痹？姑用輕法，以開上膈。</p>
<p>枇杷葉　薏苡仁　杏仁　通草　雲苓</p>
<p>下焦陰虧不攝，裡熱泄瀉，厥陽上泛頭痛，又產後兼病損。</p>
<p>甘草　熟地　茯神　芡實　山藥　建蓮　川斛</p>
<p>蓐勞，下虛溏泄，近有風溫，咳嗽發熱。暫用手太陰上焦藥四五日。</p>
<p>桑葉　沙參　麥冬　玉竹　甘草　扁豆</p>
<p>久瀉無不傷腎，況兼產後起因，補中必當理下，是為脾腎兩補。</p>
<p>五味子　生杜仲　雲茯苓　杜芡實　菟絲粉　臺人參　補骨脂　焦白朮</p>
<p>肝陽化風為厥，腎液下衰，水不生木，而藏納失職，此壯盛年歲，已有下虛上實之象。大意養腎主以溫潤，治肝須得清涼，乃仿複方之法。</p>
<p>大熟地　茯苓　遠志　蓯蓉　鹿茸　柏子仁　補骨脂　懷牛膝　黃柏　天冬</p>
<p>精羊肉煮爛搗為丸。</p>
<p>怒勞陽升暴厥。苦降和陽，使清神不為濁蒙，便可清爽。此論平時調理，養肝腎之陰，宜至靜之劑，從經旨下虛上盛主治。</p>
<p>生地　熟地　龜板　菖蒲　遠志　茯苓</p>
<p>脈右澀左微，色悴不華，食減不能健運，噯嘔溏泄，此中宮陽氣欲寂。法宜辛溫通補，失治釀成中滿難調。</p>
<p>人參　泡茱萸　茯苓　泡淡姜　胡蘆巴</p>
<p>驟然驚駭，經府氣亂，有失常度之流行，是以腫脹無定所，飲食如常，病不在裡，何得紛紛雜治？調其氣血，以俟營衛宣通。</p>
<p>桑枝　遠志　歸身　桂枝　鉤鉤　白蒺藜</p>
<p>病傷久不肯復，食入不運，脾胃之陽日困，與治中法。</p>
<p>煨益智　茯苓　於朮　廣皮　白芍　煨姜　南棗</p>
<p>脈沉右小，左虛大，臍上有動氣，䐜脹不嗜食，艱於大便。此中氣大虛，肝氣內變，忌用攻伐消導，宜泄肝和胃。</p>
<p>茯苓　益智仁　鬱金　穀芽　烏梅</p>
<p>寒濕損傷脾陽，遂成中滿之症，乃淡泊不堪所致。</p>
<p>附子　乾薑　茯苓　白芍　胡蘆巴</p>
<p>脈沉屬水，初因食物之滯，繼為下奪太速，脾陽頓傷，氣窒濕聚，為腫脹矣。</p>
<p>大腹皮　茯苓皮　厚朴　豬苓　澤瀉　老薑皮　新會皮　甜葶藶　杏仁</p>
<p>懷抱抑鬱，營血受傷，入暮脘痛喜按，乃傷陰絡，非實痛也。</p>
<p>柏仁　桂圓　茯神　遠志　廣皮</p>
<p>精氣不足體質，再加思慮鬱結心脾，營血受傷，口味甜，血隨溢，稍過飢，脘中痛。營主中焦，宜以歸脾養營之屬。</p>
<p>人參　大棗　遠志　茯神　甘草　歸身　白芍　桂圓</p>
<p>脈左大堅弦，肝風震動，脾胃絡脈不和，不知飢，不安寐，口流涎，右肢腫。當兼理中焦之絡，議用茯苓飲法。</p>
<p>茯苓　枳實　人參　炙草　半夏　廣皮　遠志炭</p>
<p><u>金式兼</u>　按：太陽經之膀胱俞，在脊骨間十九椎之旁，小便後從茲出汗，是太陽之氣不固也。凡天將雨，則頭眩目花。經云：頭眩，其過在巨陽，是清氣之不升也。勞則夢寐不安而遺，飲食不適意即作瀉，是逆其志而運化失常。此瀉在下焦，統屬太陽病，諸陽不能保舉，而生種種之疾。議茸珠丸、大安腎丸理膀胱氣，自必獲效。</p>
<p>鹿茸　茯神　人參　蓯蓉　萆薢　菟絲餅　秋石　柏仁　川斛　補骨脂　白蒺藜　桑螵蛸</p>
<p><u>吳文生</u>　胃中不和，痛瀉。</p>
<p>茅朮　厚朴　廣皮　木香　炮姜　茯苓　豬苓　澤瀉　砂仁</p>
<p><u>汪介臣</u>　鼻冷涕淚，腹脹仍空，形色衰奪，脈微而澀。陽氣已憊，濁陰日聚，為脹滿不食，危期至速，勉議通陽方法。</p>
<p>人參　茯苓　淡附子　淡乾薑</p>
<p>胃弱，肝氣不和，口中吞酸作苦，食物無味。擬進加味溫膽湯法。</p>
<p>溫膽湯加人參、川斛。</p>
<p>脾胃不和，腹膨痛，夜自汗，先疏利氣滯，保和丸、焦鍋巴、陳茶，薑湯下。</p>
<p>脈沉遲，腫脹腹滿，莖縮溺不利，起於上年冬底，痰飲咳嗽，氣逆不得臥，誤認腎虛水泛之恙療治，遂致增劇難調，勉擬進浚川丸以通水道，得小便頻利，冀其勢緩。久瀉傷腎，下午黃昏為甚，非通套藥所宜，擬溫腎法。</p>
<p><u>永隆號</u>　屢通大便，脹勢不減，是陽氣愈傷，陰濁益壅矣，進通陽法，真武湯去白芍，加澤瀉、椒目。</p>
<p>腎陽虛則乏納氣之權，濁陰凝痞，少腹漸覺有形為脹。脾陽虛則健運失司，食少易滯。受病既屬內傷，固以理臟真為最要。益火暖土，使中下之陽得安，迄今圖治。至冬至一陽來復，必獲全效。</p>
<p>川椒　附子　白芍　茯苓　甘草</p>
<p>因時病而不慎口腹，以致咳痰嗆逆，肌肉消爍，食下䐜脹，甚則吐食，而成虛損矣。病在土不生金，金衰則不制木，互相戕克，有不能起之象，議以養金制木，使中焦無賊邪之患，壯火培土，使上焦得清化之權亦是一法，未知何如。</p>
<p>甜沙參　淮小麥　鮮蓮肉　南棗　懷山藥　雲茯苓　燕窩</p>
<p>繼進方：</p>
<p>人參　山藥　白芍　茯苓　炙草　南棗　鮮蓮肉</p>
<p>茹素胃弱，向系肝陽熱熾，今微眩，耳鳴，心怔。議甘以養胃緩熱，少佐酸味。</p>
<p>酸棗仁　柏子仁　炙甘草　鮮白藕汁　大生地　甜細真北沙參　大麥冬　雲茯苓　萸肉炭</p>
<p>肝風上巔，頭旋耳鳴，麻痹足寒，微嘔便澀，經阻三年，久病治從血絡中法。</p>
<p>茺蔚子　柏子仁　枸杞子　料豆皮　制首烏　甘菊</p>
<p>詢左脅下，每日必有小痛，逾時其痛勢布散胸臆背部，從來不延及於腹中下焦，是腑絡為病。凡久病從血治為多，今既偏患於上，仍氣分之阻，而致水飲瘀濁之凝，此非守中補劑明甚，但攻法必用丸以緩之，非比驟攻暴邪之治，當用穩法。議以陽明少陽方法，俾樞機開闔舒展，諒必有裨益矣。</p>
<p>生鉤藤（另研粉）　生香附（水磨澄粉）　風化硝　炒半夏　茯苓　生白蒺藜（去刺）</p>
<p>竹瀝、薑汁泛丸。</p>
<p>厥陰腹痛引胸脅，便難，睪丸腫。</p>
<p>當歸鬚　延胡索　小茴香　桃仁泥　川楝子　官桂</p>
<p><u>李隆吉</u>　客寒入於腸絡，欲大便必先腹痛，便解痛已，旬日無溺氣下泄，此屬腸痹。</p>
<p>公丁香柄　柴胡　木香　白芍　烏藥　川楝子</p>
<p>化入更衣丸五粒。</p>
<p><u>朱客</u>　肋稍隱隱痛，臥起咳甚，冷汗，背有微寒，兩足帶冷，身體仰臥稍安。左右不堪轉側，此皆脈絡中病。良由客寒閉其流行，兩脈逆亂，上犯過也。治在血分，通絡補虛。</p>
<p>枸杞子（炒）　咸蓉干　當歸（小茴同炒黑）　桃仁（炒）　炙山甲</p>
<p>脈數重按無力，左腰脅痛不能轉側，舌苔白，邊紅，心中熱悶，不欲飲，是濕邪滯著，經絡阻痹，宜進氣分輕清之藥，庶幾不傷正氣。</p>
<p>苡仁　杏仁　川貝　佩蘭葉　西瓜翠衣</p>
<p><u>又</u>　脈數，左腰脅疼未止，舌苔黃，昨進芳香輕劑略安，仍不宜重藥。</p>
<p>佩蘭葉　浙茯苓　南沙參　薏苡仁　川貝</p>
<p><u>又</u>　脈數無力，左腰脅疼未止，舌色轉紅，是病邪雖稍緩，卻陰氣已經不振，進清餘熱略兼養陰方。</p>
<p>川貝　淡芩　麥冬　阿膠　川斛　知母</p>
<p><u>又案</u>　：脈數無力，左腰脅疼未止，舌苔已退。雖病邪稍緩，但陰氣仍然不振，議用清餘熱略兼養陰方。</p>
<p>川貝　淡芩　麥冬　阿膠　川斛　元參</p>
<p>胸中不爽，是痰氣之阻，仿小青龍法，開太陽為主。蓋少陰逆，太陽氣化不至也。</p>
<p>五味　炙草　茯苓　杏仁　泡淡姜　生白芍</p>
<p>腑氣鬱滯為熱，中宮少谷為虛。腹滿溺濁，口中味淡，乃幼科五疳之病。</p>
<p>使君子（一兩）　雞肫皮（一兩）　肉果（五錢）　川連（五錢）　乾蟾（一隻）　枳實（五錢）　蕪荑（五錢）　新會陳皮（一兩）　山楂肉（一兩）　白芍（一兩）　人參（三錢）　飯灰（一兩）</p>
<p>水泛為丸，米飲送下二錢，每早空心服一服。</p>
<p><u>尖田人案</u>　腹痛三年，夜分乃發。發必腹滿，嘔不出物，繼而泄瀉，此為脾厥。脾為太陰之臟，在臟體屬陰，其運用則陽。厥陰肝病必有前陰見症，用治中法。</p>
<p>人參　木瓜　炮姜　廣皮　青皮　生益智　茯苓</p>
<p>淋症愈後半年，交五六月復發。雖系肝膽鬱熱，亦必是暑邪內蘊，六腑皆為之不利，胸腹如悶，溺色赤混如血。宜先清熱宣腑陽，然後再調本病。</p>
<p>捲心竹葉　寒水石　車前子　牛膝根　廣橘紅　黑山梔　川鬱金　滑石</p>
<p>忍精而溺，尿管閉塞，此淋症也。古云：痛則不通，用《千金》方法。</p>
<p>杜牛膝　麝香（三分研細調入）</p>
<p>久瀉欲嘔，腹中有形，升起痛楚，小便不利，喜食麥面，皆肝厥，內風襲胃之症。緣稚年驚恐，多煩多哭，氣逆風旋，蛔不自安而動。久調必痊，必當苦降辛宣酸泄，風木得和，脾胃可安。東垣老人治脾胃，必先遠肝木矣！</p>
<p>川黃連　白芍　烏梅　乾薑　桂木　人參　川楝子　川紅椒（炒黑）</p>
<p>為末，烏梅肉為丸，每服二錢，米飲下忌食甘。</p>
<p>老人久嗽，古人但以溫養脾腎，未必以肺藥，見病治病貽害。但身小質薄，絡脈單弱，桂附雄猛，液枯必犯肺瘍。此溫劑通納為無弊耳。</p>
<p>薑汁製熟地（四兩）　補骨脂（一兩五錢）　枸杞子（二兩）　懷牛膝（一兩五錢）　茯苓（四兩）　五味子（一兩五錢）　胡桃肉霜（三兩）　淡蓯蓉（一兩）　車前子（一兩五錢）　角沉（五錢）</p>
<p>蜜丸，淡鹽湯送下。</p>
<p>脈細有遺症，是陰虛不主收納。因沖氣上激為咳嗽，肺藥無益。今胃納頗好，急宜填下絕欲，安養尚可圖愈。</p>
<p>熟地　枸杞　建連　茯苓　山藥　芡實</p>
<p>胃病治法：</p>
<p>小川連（三錢，鹽水炒）　鹿角霜（一兩）　炒當歸（一兩）　淡姜（五錢）　生香附（二兩）　生曬茯苓（二兩）　炒黑小茴（一兩）　山楂肉（二兩，炒）　生川楝子肉（一兩）</p>
<p>水泛為丸。</p>
<p>右足痛方</p>
<p>此痿症也！因肝腎兩虛，陽明脈絡失用，筋縮牽強，足痛不堪動作，當溫散下焦，莫進疏解。</p>
<p>川烏　北細辛　萆薢　乳香　沒藥　韭菜地上白頸地龍</p>
<p>晚蠶沙煎湯泛丸，每日服二錢，陳酒下。</p>
<p>形瘦身長，稟乎木火。肝風內動，夾火上巔，忽然眩厥跌僕。況陽舉遺濁，陰分久虛，擬壯水之主，以治陽光法。</p>
<p>大生地　大熟地　天冬　麥冬　鹽水　炒川柏</p>
<p>痛脹甚於暮夜，病根已在陰經。從前溫補相安，今則服之不應。因以寒凝痰滯為患，進神保丸即上吐下瀉。此非有形之滯矣！斯臟液日耗為虛，腑經陽氣窒塞為實。行痹日久，時愈時發，脈來六至，濕熱居多。今關節腫痛，遊走不定，是濕熱中又夾風火矣！總宜養血清熱，兼用風劑，庶幾有中病情耳。方失</p>
<p>陽邪入厥陰之陰，嘔逆二三日不止，腹痛便秘，發熱口乾，手足冷。</p>
<p>麥冬　蔗汁　枳實　沉香　川連　阿膠　赭石　人參　韭白　豭鼠糞</p>
<p>痧是肺胃氣分邪火，內迫津液，上焦受損，元未全復，更為夏熱內蒸其血。不必為陰虛治，秋末入冬，用清燥意。</p>
<p>天冬　麥冬　知母　貝母　水梨肉</p>
<p>久嗽失音，脈小，痰冷，沖氣，入暮為重。此肺虛氣餒，不易驟愈，酒家有飲邪。</p>
<p>桂苓甘味湯。</p>
<p>奔走煩勞，暴熱上蒸，致身中陽氣不交於陰，四肢麻木，內風屬陽之化。左屬肝，肝性剛，柔劑為宜。若用酒藥，益助其動陽，是矛盾矣。</p>
<p>生地　天冬　白藕汁　沙蒺藜　桑寄生　女貞子　炒枸杞　川石斛</p>
<p>夏月足跗肌浮，是地氣著人之濕。傷在太陰、陽明，初病失血，繼而嘔涎拒食。此脾胃濕傷漫延乃爾！</p>
<p>五苓散去澤瀉加益智、厚朴、滑石、陳皮。</p>
<p><u>吳江陳</u>（三十八）　酒客脾胃自來不旺，大便不實，奔走勞動，失血乃形色之傷。止血理嗽，無非清滋，聲音日啞。肺痿氣餒，難治之症。</p>
<p>人參　茯苓　米仁　灸草　白芨　黃精</p>
<p><u>楓橋汪</u>（四十）　脅膈左右，懊憹不舒，嘔逆帶血。凡人臟腑之外，必有脈絡拘拌，絡中乃聚血之地。中年操持，皆令耗血，血不和氣，氣攻入絡，病狀難以自明。宣通血分以和絡，俾不致瘀著，可免噎膈反胃。</p>
<p>新絳　青蔥管　橘葉　桃仁　瓜蔞仁　鉤勾</p>
<p><u>盪口</u>（四十六）　面黃白削瘦無神，腹大臍突，足冷腫重，自言如著囊沙。曾經用藥攻下，下必傷陰，而脹滿不減，乃濁陰錮閉，陽傷見症。病在不治之條，但用藥究宜溫熱，以冀通陽泄濁。</p>
<p>生川附　椒目　炒乾姜　炒小茴　車前子</p>
<p><u>長善濱</u>　歐詈大聲用力，氣迸失音，雖陰虛腦泄，亦必用輕陽肅上。</p>
<p>桑葉　枇杷葉　生甘草　象貝　米仁　沙參</p>
<p>勞傷胃痛。</p>
<p>熟桃仁　延胡索　柏子仁　當歸尾　炒丹皮　漏蘆</p>
<p><u>楊</u>（十九）　沖年陰火未寧，情志不和，易於動怒，氣火迸逆，絡血隨之上溢。問納食不旺，氣衝血上，必撫摩氣降，血不出口，但絡中離位之血，恐致凝遏，越日必氣升湧逆矣。</p>
<p>蘇子　丹皮　降香末　炒桃仁　米仁　炒楂炭　韭白汁</p>
<p><u>紹興眷，</u>（三十一）　少腹痛堅，攻及當臍。每午後必氣脹滯痛，貫串腰尻，環跳肉腠之間，肌膚亦漸浮腫。再問經事愆期，僅得些微黃水，是陰寒已入血絡。病蓋起於產蓐，累及奇經八脈，身傴不直，俯不能仰，此肝腎入奇經之見症。</p>
<p>炒枯腎氣湯。</p>
<p><u>徽州</u>（四十六）　此痰飲宿病，勞怒遇冷即發。十年之久，焉能除根？</p>
<p>桂苓五味甘草湯。</p>
<p><u>楓橋</u>（四十三）　此肝病也。肝屬木主筋，木臟內寄風火。情志不適，熱自內起，爍筋襲脈，肢體為之牽強不舒。惟怡悅靜養，可希漸愈，藥無除根之理。</p>
<p>何首烏　枸杞子　桑寄生　當歸身　杜仲　沙苑蒺藜</p>
<p><u>師婆橋</u>（六十三）　寒入厥陰之絡，結為氣疝。痛則氣脹上升，氣消絕無形跡。老年下元已乏，與破氣攻疝，宜溫養下元為主。尿管脹是阻溺，當佐以通陽，仿香茸丸法。</p>
<p>鹿茸　麝香　當歸　青鹽　韭子　蛇床子　覆盆子　大茴香</p>
<p><u>泰興</u>（二十八）　色脈是陰虛，其喉妨食納，乃陰乏上承，熱氣從左上升，內應肝腎陰火。前議復脈法，大便滑泄，知胃氣久為藥傷，不受滋陰，必當安閒靜室以調之，豈偏寒偏熱藥能愈？</p>
<p>人參　茯苓　扁豆　木瓜　石斛　北沙參</p>
<p><u>來安縣</u>（四十六）　病起痰飲，漸為嗽喘。外寒遇勞倦即發，發必胸膈氣脹，吐出稀涎濁沫，病退則痰濃，氣降乃已。凡飲邪皆陰濁凝聚。兩年之久，漸漸腹中痞悶妨食，肛門尻骨坐則無恙。行動站立，時時氣墜，若欲大便，顯系腎虛不能收攝。惑於在前見痰治嗽，苟非辛解，即屬寒降，乃致釀成錮疾。</p>
<p>腎氣湯加紫衣胡桃、沉香汁。</p>
<p><u>吳趨坊</u>（四十五）　清竅在上焦氣分。搐鼻宣通，固是好法，但久恙氣錮，濕痰必生，茶調散臥時服五分。</p>
<p>薄荷（八錢）　川芎（四錢）　荊芥（四錢）　羌活（二錢）　白芷（二錢）　防風（一錢五分）　細辛（一錢）　炙草（二錢）</p>
<p>茶調勻服。</p>
<p><u>海寧</u>（廿六）　勞怯是腎精內損，真陰枯槁，龍雷之火，閃爍無制。腎脈循喉，屢受陰火燔灼，必糜腐而痛。冬無藏精，春生亦無生髮，胃氣已索，草木何能挽回？</p>
<p>豬膚湯。</p>
<p><u>葑門</u>（三十九）　過勞熬夜，陽升痰血。在土旺之令中，夜熱非外感。脈尺中動，左數。肝腎內虛，失收肅之令。</p>
<p>北沙參　玉竹　麥冬　扁豆　生草　青甘蔗</p>
<p><u>嘉善</u>（三十二）　肺痿失音，形枯氣損，用甘藥調和，不宜辛散、滋寒矣。</p>
<p>黃耆　白芨　米仁　茯苓</p>
<p><u>葑門</u>（六十九）　望七精力不及壯盛，凡男子必下焦先虛。跌僕致損，乃系外傷，筋縱骨短，屈不能伸，是足外踝留著瘀凝。須俟夏月，令瘍醫磁針砭刺可愈。還少丹。</p>
<p>熟地　山藥　枸杞　萸肉　茯苓　杜仲　遠志　五味　楮實　小茴　巴戟　蓯蓉　石菖蒲</p>
<p>加棗肉為丸。</p>
<p><u>唯亭</u>（十八）　讀書身靜，心勞兼以夜坐，浮陽易升。年少雖未完姻，然情欲一萌，多致不自保惜。陰中龍雷，夾木中相火沸動，失血咳嗽，是臟陰不為寧謐。暫緩書卷，早眠晏起，百日中勿加雜念擾亂，可以全愈。若以草木希愈，非要領也。</p>
<p>知柏八味丸加五味子。</p>
<p><u>江寧</u>（廿一）　食已夕頃，酸水湧嘔，飢時不食，又不安適。此久病胃虛，而陽乏運行，濁陰凝聚使然。春季以辛溫開導氣分不效，思虛中挾滯，泄濁溫通必佐養正。苟不知避忌食物，焉能取效？</p>
<p>吳茱萸　淡乾薑　茯苓　熟川附　小川連　熟半夏</p>
<p><u>陝西</u>（四十七）　痰飲乃陰濁所化，以漸有形，阻礙陽氣，不得入於陰。陽蹻穴空，夜不熟寐。《靈樞》用半夏秫米湯，謂通陰交陽，痰飲不聚也。天王補心丹一派寒涼陰藥，轉為濁陰樹幟矣，護陽為要著。仲景云：凡痰飲當以溫藥和之。</p>
<p>小半夏湯加秫米。</p>
<p><u>同里</u>（五十三）　瘦人多燥，癉瘧熱氣由四末乘至中焦，胃中津液為邪熱劫燥，不飢不食，五味不美，是胃陰傷也。人身不過陰陽二氣，偏則病，離則不治矣！</p>
<p>人參　麥冬汁　知母　生甘草</p>
<p><u>糧船</u>（四十）　氣塞填胸阻喉，不知不食。問病起嗔怒，寅卯病來，臨晚病減。凡氣與火，必由少陽之木而升，故上午為劇。</p>
<p>瓜蔞皮　黑梔皮　薄荷梗　神麯　新會皮　青蒿梗</p>
<p><u>淮安</u>（二十九）　性情古執，氣鈍少靈慧。凡心藏神，腎藏精。少年先病，精神不易充旺，宜用六味加遠志、菖蒲，開通心竅腎精，俾得兩相交合。</p>
<p><u>流貞巷</u>（三十七眷）　上年五個月，小產二次，再加冬季服事病人。產虛在陰，勞傷在陽。此咳嗽吐黏濁，氣逆嘔食之由來也。凡食入胃傳陽，此咳是下虛不納，氣衝湧水上泛，胃乏運行，食亦繼出。奈庸工不明傷損陰中之陽，僅僅消痰清肺，一派寒涼，必致胃倒敗壞。</p>
<p>桂苓甘味湯。</p>
<p><u>泰興</u>（三十七眷）　十年前因夜食，凝滯閉氣，食物遂胃脘痛，嘔吐。病發腹大如懷妊，得氣後泄而脹消。經准不孕，來必腹痛，病根全在氣分。用藥必兼祛血分寒凝，乃合病機。</p>
<p>吳茱萸　秦椒　川楝子　高良薑　延胡索　蓬莪朮　生香附　南山楂</p>
<p>生薑搗汁泛丸。</p>
<p><u>舟里</u>（五十）　肺痿聲啞，胃減食入不安，難治之虛損。</p>
<p>戊己丸。</p>
<p><u>東山</u>（六十）　血痹氣滯，腹中不和，而大便燥，夏季以柔和辛潤，交霜降土旺之運，連次腹痛，目眥變黃。此非黃疸，是濕熱瘀留阻壅乃爾。</p>
<p>炒桃仁　郁李仁　茺蔚子　冬葵子　菠菜葉</p>
<p><u>淮安</u>（四十六）　食物有形之滯，從胃入腸。若心胸之下，皆陽氣遊行之所。因初起停食，幾年疑惑，其實陽不轉旋，而致結痹。</p>
<p>栝蔞薤白白酒湯。</p>
<p><u>揚州</u>（四十四）　痰飲哮喘，遇寒勞怒即發，小青龍湯去麻黃。</p>
<p><u>木瀆</u>（三十二眷）　經水不來是絡脈無血。古云：氣旺血自生，大忌通經。</p>
<p>人參　歸身　茯苓　桂心　鹿茸</p>
<p>精羊肉膠和丸。</p>
<p><u>黎里</u>（四十四）　形色脈象，確是陽虛。酒食聚濕，濕注入腸，腸痔下血。濕為陰濁，先傷脾陽，陽微氣衰，麻木起於夜半氣血交代之時，中年痱中，大有可虞。</p>
<p>人參　生於術　炮姜　炒黑附子　炙甘草</p>
<p><u>嘉興</u>（十八）　陰火必從晡暮而升，寐中呻吟，是浮陽不易歸窟。形瘦，食少，盜汗，攝固其下為是。</p>
<p>六味加阿膠、人中白。</p>
<p><u>嘉興</u>（十一）　腎肝內損，必致奇經失職，俗醫混稱「陰虛」，僅以錢仲陽小兒所用六味。曰「補陰和陽，益臟泄腑」，要知此時仲陽非為虛損設立。</p>
<p>人參　紫河車　坎氣　人乳粉　秋石　茯苓　五味子　紫衣胡桃</p>
<p><u>婁門</u>（六十七）　左右為陽陰之道路，向衰年歲，操持經營且不獲利，心境失暢，氣血不和，久則拘束為痛。甚於夜者，陽氣衰微，入夜陰用事而病加也。十二味養營法。</p>
<p>人參　白朮　茯苓　炙草　當歸　白芍　地黃　黃耆　陳皮　桂心　遠志</p>
<p><u>海鹽</u>（四十二）　據述緣季秋，外邪變瘧，延及百日始愈。凡秋瘧，是夏月暑濕熱內伏，新涼外觸，引動伏邪而發。俗醫但知柴葛肌，暑濕傷在氣分，因藥動血，血傷攣痹，筋熱則弛，筋寒則縱，遂致釀成痿痹難效症。</p>
<p>當歸身　桑寄生　生虎骨　枸杞子　撫芎沙苑蒺藜</p>
<p><u>東山</u>（三十四）　精損於下，陰中龍雷之火燃爍莫制。失血後肛瘍膿漏，即陰火下墜所致。行走喘促，涎沫上湧，是腎不攝納，真氣五液變沫湧逆，無治痰治嗽之理。扶胃口，攝腎真，乃為對病之藥。</p>
<p>人參　茯苓　坎氣　五味子　紫石英　芡實　胡蓮　山藥</p>
<p><u>閭門</u>（三十四）　舌粉白，心中寒，嘔酸不止，理胃陽必佐泄肝逆。</p>
<p>吳茱萸　川楝子　生炒黑附子　高良薑　延胡索　雲茯苓</p>
<p><u>萬年橋</u>（廿八眷）　半產重於小產，左脅下瘕形，是氣乘肝絡，攻之則變為中滿。從前有震動，胎墜嘔逆，寒熱之傷。今當培養氣血，正旺則瘕自消，不可怠忽，致延勞怯。</p>
<p>當歸　白芍　鱉血制柴胡　茯苓　蒸於朮　南棗　炙甘草</p>
<p><u>中由吉巷</u>（廿八眷）</p>
<p>案佚。</p>
<p>人參　北沙參　茯神　青苧　真紋銀</p>
<p><u>關上</u>（十九）　氣泄，用陽藥固氣。若治嗽滋陰，引入勞病一途。</p>
<p>黃耆建中湯加人參。</p>
<p><u>同里</u>（廿七）　幼年成婚太早，精氣未充先泄，上年泄瀉，繼加痰嗽，納食較少，形肌日瘦。今秋深喉痛，是腎精內乏，陰中龍雷閃爍無制。當此秋令肅降，藏職失司，明歲穀雨，萬化開遍，此病危矣。</p>
<p>秋石拌人參　生紫石英　紫衣胡桃肉　茯神　女貞實　五味子</p>
<p><u>楓橋</u>（十八）　春正月，寒威未去，吸受寒氣，先傷胸膈胃脘之陽。食已，噯噫陳腐酸濁之氣，是清陽不為轉旋。忌進黏腥厚味，暫用蔬食數日。</p>
<p>蓽撥　益智仁　砂仁殼　土蔞皮　生薑</p>
<p><u>江寧</u>（廿九）　病人述上年五月住直隸白溝河，北方不比南地，濕蒸則熱，夜坐仍涼。想是時寒熱，亦是輕邪，醫用滾痰丸下奪，表邪閉結不出，肺痿，音啞喉癟，咽物艱難，仿徐之才輕可去實，用有氣無味之藥。</p>
<p>射干　生甘草　大力子　麻黃苗　蟬衣　囫圇滑石　連皮杏仁</p>
<p><u>無錫</u>（廿二）　嗽血秋季再發，夜熱汗出，全是陰虧見症，大忌肺藥理嗽。絕欲百日，助其收藏，胃口尚好，腎肝陰藥中，必佐攝納。</p>
<p>熟地　五味子　山藥　芡實　湖蓮　茯神</p>
<p><u>無錫</u>（三十）　脅痛失血，以柔劑緩肝之急。</p>
<p>炒熟桃仁　柏子仁　當歸尾　炒黑丹皮　鉤藤鉤</p>
<p><u>鳳陽</u>（三十八）　瘧後脾弱，肝乃乘之，中氣不舒，所以易生嗔怒。</p>
<p>焦白朮　生益智　茯苓　廣皮　枳實皮　檀香末</p>
<p>水泛為丸。</p>
<p><u>徽州</u>（三十五）　仲景云：厥陰病氣上撞心，明示木中風火上行，多氣少血，陰虛之象，治以癇症痰火有餘，大謬。</p>
<p>女貞子　天冬肉　茯苓　小生地　山萸肉　建蓮肉　赤金箔</p>
<p><u>淮安</u>（廿二）　露姜飲止瘧，是益中氣以祛邪，虛人治法皆然。脾胃未醒，宜忌腥酒濁味。</p>
<p>大半夏加益智、橘紅，薑汁泛丸</p>
<p><u>崑山</u>（六十一）　老年形寒，足痿嗆痰，男子下元肝腎先衰，真陰少承，五液變痰。倘情懷暴怒，內風突來，有痱中之憂。戒酒節勞，務自怡悅。壯其下，以清其上，是根本治法。</p>
<p>熟地　萸肉　淡蓯蓉　川石斛　青鹽　枸杞　淮牛漆　鹿角膠</p>
<p><u>山西</u>（三十九）　夏季吐血，秋深入冬頻發。診脈右弦空左濡，是形神兩傷，絡血不得寧靜，氣血因經營而耗，不比方壯矣。</p>
<p>黃耆建中湯。</p>
<p><u>開門橋</u>（廿九）　織梭肢體皆動，過勞則氣血不流，偏倚為病，在左脅痛，失血，肝絡傷，瘀發久必重。</p>
<p>炒桃仁　延胡索　降香末　炒丹皮　鉤藤勾</p>
<p><u>湖州</u>（廿四）　少壯病不復元，失於保養，延為勞嗽，胃氣尚好，可與填精固下。</p>
<p>都氣丸去丹、澤，加胡桃肉、二仙膠。</p>
<p><u>吳江</u>（廿七）　肌肉日削，竟夜內熱，是內損陰虛，漸延勞祛，安逸可久。天噯氣泄，病必漸加。</p>
<p>早服牛乳一杯　另服補陰丸。</p>
<p><u>寧波</u>（四十八）　七疝肝病為多，病發有聲響為氣疝。寒入募絡，積疝堅硬下墜，宜八味加大茴香、胡蘆巴。</p>
<p><u>楓橋</u>（廿七）　眩暈嘔水，心中熱，神迷若癇，皆操持運機，君相升舉，蒙冒清神。生薑辛可通神，但氣溫先升，佐入涼降劑中乃可。</p>
<p>溫膽湯。</p>
<p><u>南潯</u>（廿三）　凡外熱入肺而咳嗽者，可用表散藥。若內傷累及於肺而致咳者，必從內傷治。汗之則泄陽氣，肺痿音低，顯然藥誤。</p>
<p>黃耆　黃精　棗仁　白芨</p>
<p><u>運漕</u>（四十四）　冬藏失司，咳吐涎沫，是腎病也。醫見嗽，咸以肺藥治嗽，宜其年餘無效。</p>
<p>桂苓甘味湯。</p>
<p><u>黃家巷</u>（廿七）　色奪脈促，寒露霜降嗽甚，風冷形肌凜凜，衛陽疏，氣易泄也。</p>
<p>小建中湯。</p>
<p><u>徽州</u>（四十三）　操持太過，肝腎浮陽上升乘胃，寤不成寐。</p>
<p>金匱酸棗仁湯。</p>
<p><u>興化</u>（廿四）　肛瘍成漏年餘，真陰五液皆傷，納食在胃，傳入小腸而始變化。因咳痰不出，必嘔盡所食乃已。喉痛失音，涎沫吐出，喉中仍似存留。明明少陰脈中陰火內爍，上燔陰液，蒸變涎沫，內損精血，醫見咳嗽音低，咸進清金潤肺，不明此咳嗆之原，是速其篤已。</p>
<p>豬膚湯。</p>
<p><u>宣興</u>（十九）　瘧痢後脾胃兩傷，用繆氏法。</p>
<p>雙補丸方。</p>
<p><u>齊門外</u>（三十眷）　上年產蓐無乳，已見血虛之象。延半年後經水不來，少腹瘕氣有形。病人自述背脊常冷，心腹中熱。視面黃色奪，問食少不美。夫督脈為陽脈之海，由腰而起，劑頸而還。下元無力，陽虛背寒。任脈為陰海之沖，虛攻入絡為瘕。考《內經圖翼》，病機宛然在目。此產損蓐勞，非是小恙。無如醫不讀書，見寒熱經閉而妄治，淹纏日久，速其篤已。</p>
<p>人參　鹿角膠霜　粗桂枝　當歸（小茴香炒）　枸杞子　沙蒺藜　白薇</p>
<p><u>金匱</u>（十七）　夏伏暑濕，秋季如瘧，邪不盡解。能食不化，腹中氣滯有形，脾胃不和，用東垣清暑益氣法。</p>
<p>人參　黃耆　白朮　青皮　陳皮　神麯　炙草　麥冬　五味　黃柏　澤瀉　當歸　升麻　葛根　蒼朮</p>
<p>薑棗煎。</p>
<p><u>太平</u>（四十九）　左脅有形，漸次腹大，每投攻下泄奪，大便得瀉，脹必少減，繼則仍然不通。頻頻攻下，希圖暫緩。病中脹浮，下部加針刺以決水之出，腫消，病仍不去。病患六年，久已斷想此病之愈。要知此病初由肝氣不和，氣聚成瘕，屢發攻瀉，脾胃反傷。古云：臍突傷脾。今之所苦，二便欲出，痛如刀刺。蓋氣脹久下，再奪其血，血液枯，氣愈結矣。宣通宜以利竅潤劑。</p>
<p>琥珀屑（一錢）　麝香（一分）　大黑豆皮（四錢）　杜牛膝（一兩）</p>
<p>二便通後接服：</p>
<p>茺蔚子　郁李仁　杜牛膝　當歸身　冬葵子</p>
<p><u>南京</u>（廿八）　環跳筋骨痠痛，少年精傷，陽維脈少護衛。</p>
<p>當歸　巴戟　生虎脛骨　枸杞　沙苑　蒺藜　川牛膝　羊內腎（搗）</p>
<p><u>橫涇</u>（三十）　勞傷虛體，脹病初愈，因動怒氣鬱不食，二便皆阻，從腸痹定議。仿丹溪開肺法，以肺主一身之氣化。</p>
<p>杏仁　蘇子　桑葉　紫苑　姜皮　桃仁</p>
<p><u>嘉興</u>（五十三）　情志內郁，心痛如絞，形瘦液枯，不可氣燥熱藥。</p>
<p>炒桃仁　柏子仁　小胡麻　炒丹皮　延胡索　鉤藤鉤</p>
<p><u>中由吉巷</u>（四十七眷）　病人述自腰以下頹然痿躄，肌肉麻木枯寂，二便不爽，上下氣不接續。顯然崩漏亡血，陽不下交於陰。中年日就衰奪，惟辛補潤燥，冀絡虛氣攻痛勢漸緩。</p>
<p>郁李仁　枸杞子　肉蓯蓉　冬葵子　柏子仁　桑寄生　松子仁　黑芝麻</p>
<p><u>流貞巷</u>（四十九）　漏經繼下如卵，形已見，血損氣結。按：任脈為病，女子帶下瘕聚，少腹形象是也。血傷忌投氣燥溫熱，但血藥不取沉滯，血中宣氣為是。</p>
<p>南山楂　茺蔚子　青蔥　新絳　生香　附</p>
<p><u>泰興</u>（三十七）　精未生成，強泄最難充旺，至今未有生育。視形瘦，問食少，精薄易泄。形脈不受剛猛陽藥，議藉血肉有情溫養氣血。</p>
<p>鹿鞭　羊內腎　淡蓯蓉　瑣陽　生菟絲子　枸杞子　舶茴香　牛膝　青鹽</p>
<p><u>楓橋</u>（五十三）　咽管似乎狹窄。一身氣化全在於肺，因胃熱薰肺，肺職失司，年紀日多，氣結痹阻，以薄味肅清上焦，藥宜氣輕理燥。</p>
<p>鮮枇杷葉　杜蘇子　米仁　桑葉　降香末　茯苓</p>
<p><u>陳家橋</u>（三十六）　濁止足腫，膝首腫痛，病起夏秋，必接地氣之濕，濕自下受。酒客內濕互蒸，內外合邪，湯藥決不取效。</p>
<p>蠲痛丹（一錢）六服。</p>
<p><u>閭門</u>　中焦痛起，四末逆冷，汗出嘔涎及食物，此屬脾厥。</p>
<p>炒黑附子　粗桂枝　草果仁　延胡索　片薑黃</p>
<p><u>太倉</u>（十八眷）　每交夏五六月，喉間宿病俄發。既愈後仍然鼻塞火升，上熱下冷。經水或前或後，形瘦脈小數，是陰弱不旺，肝陽左升太速，右降不及。夏令陰伏於裡，陽泄上浮，乃發病根由。</p>
<p>阿膠　石決明　生地　天冬肉　丹皮　黑豆皮　銀花　白芍藥　丹參</p>
<p>十四歲室女，無溫熱藥之例，視色奪脈弱，下焦未寒先冷，經事淋漓，是衝任虛冷，二氣不交，冬宜藏陽，用溫攝升陽。</p>
<p>麋茸　人參　沙蒺藜　鹿角霜　歸身　杞子　紫石英　小茴香　蛇床子</p>
<p><u>同里</u>（廿）　夏令熱氣傷陰失血，冬藏氣降，血症必然不來。肉瘦精虧，嗽不肯已，但宜滋培臟陰，預防春深升泄。不可以藥理嗽，固本法加五味子。</p>
<p>人參　熟地　生地　麥冬　天冬　五味子</p>
<p><u>沭陽</u>（五十四）　住居臨海，風瘴癘氣，不似平原人眾稠密處。瘴癘侵入腦髓骨骱，氣血不和，漸次壅遏，上蒸頭面，清陽痹阻。經年累月，邪正混處其間，草木不能驅逐。憑理而論，當以蟲蟻向陽分疏通逐邪。</p>
<p>蜣螂（一兩）　仙靈脾（五錢）　蜂房（五錢）　川芎（一錢）</p>
<p>火酒飛面泛丸。</p>
<p><u>同里</u>（四十五）　心痛得食而緩，是積勞營虛，大忌辛通破氣。</p>
<p>桃仁　歸身　柏子仁　桂圓肉　炒黑　芝麻</p>
<p>（廿三）　病人遇春季失血，煩勞必有衄血。凡冬月大氣藏伏，壯年自能聚精匯神。不加保養，春半陽生升發，反為發病根機，是皆身中精氣之薄。胃旺安納，自節欲靜養，則神乃藏。</p>
<p>熟地　萸肉　山藥　芡實　湘蓮　茯苓　金櫻子　五味子　青龍骨</p>
<p><u>湖州</u>（三十八）　太陰腹脹，是久勞陽不飢，不能食，二便不通暢，溫以通陽，苦溫疏滯。</p>
<p>熟附子　熟大黃　草果仁　生厚朴　生薑　廣陳皮</p>
<p><u>山塘</u>（七十五）　立冬未冷，溫熱之氣外入，引動宿飲。始而狀如傷風，稀痰數日，繼則痰濃咽乾，是少陰脈中乏津上承，五液盡化痰涎。皆因下虛易受冷熱，是以飲邪上泛。老年咳嗽，大要宜調脾腎，最忌發散泄肺理嗽，暫用越婢法。</p>
<p>麻黃　石膏　甘草　芍藥　生薑　大棗</p>
<p><u>槐樹巷</u>（廿三）　自乳能令陰傷，秋初巔脹失血，是肝火上衝使然。今妊身三月，法當養陰固胎。</p>
<p>人參　子芩　阿膠　桑寄生　白芍　黑殼建蓮</p>
<p><u>常熟</u>（三十二眷）　寡居無歡悅之念，肝膽中氣火鬱勃，直上直下，莫能制伏，失其疏泄之用，小溲成淋。謂肝脈環繞陰竅，用龍膽瀉肝法。</p>
<p>龍膽草　黃芩　梔子　當歸　生地　柴胡　澤瀉　木通　甘草　車前子</p>
<p><u>常熟</u>（廿七眷）　瘧母瘕聚有形，治有宣通氣血。第所述病狀，已是產虛。八脈交損，不敢攻瘕。</p>
<p>當歸生薑羊肉湯。</p>
<p><u>徽州</u>（三十九）　仲景論痰飲分二要：外飲治脾，內飲治腎。又云：凡飲邪必以溫藥和之。閱方從腎臟主治，不為背謬。陽氣微弱，濁陰固聚，自下上逆，喘不著枕。附子走而通陽，深為合理。第其餘一派滋陰，束縛附子之剽疾。</p>
<p>真武湯。</p>
<p>（四十九）　積勞傷陽，腹膨仍軟，脈弦無胃氣，形肉衰削，理中宮陽氣之轉旋，望其進食，無能卻病矣。</p>
<p>人參　淡附子　穀芽　茯苓　益智仁　廣皮　炙草</p>
<p><u>北城下</u>（三十六）　溫疹是一股乖戾不正無形之氣，從口鼻吸受，上竅阻塞，嗆物，不得下咽。醫不辨有形無形，但曰清火寒降，至藥直入腸胃，與咽中不相干涉。</p>
<p>連翹心　馬勃　牛蒡子　銀花　鮮蘆根</p>
<p><u>武進</u>（四十六）　陽傷胃反。</p>
<p>熟附子　淡乾薑　桂枝　黃連　厚朴　茯苓</p>
<p><u>宿遷</u>（四十七）　冬月涉水，水寒深入筋骨，積數年而脛膝骨冷筋縱。病在下為陰，水寒亦是陰邪。久則氣血與邪混亂，草木不能驅逐。古人取蟲蟻佐芳香直攻筋骨，用許學士法。</p>
<p>炒烏頭　全蠍　麝香</p>
<p>飛面火酒泛丸。</p>
<p><u>同里</u>（五十六）　酒熱深入血分，瘀嘔盈盆，越六七年，病變反胃妨食，嘔吐涎沫。問大便仍通，結閉止在中脘，先通瘀開閉。</p>
<p>韭白汁　金墨汁　生桃仁　生蒲黃　延胡索　片薑黃</p>
<p><u>吳江</u>（十六）　天癸尚未至，肉瘦形悴，嗆嗽，著枕更劇，暮夜內外皆熱，天明微汗熱減，痰出或稠或稀，咽中總不爽利。此先天稟賦之薄，稍長真陰不旺，陰虛則生內熱。怡悅勿事針黹，必俟經來可得熱除。不然，即世俗所稱乾血勞怯。</p>
<p>復脈法去麻仁。</p>
<p><u>無錫</u>（三十九）　任脈為病，男子內結七疝，女子帶下瘕聚。問經水仍至，知是氣攻入絡，漸次有形，況產後又十六年不育，衝任之病顯然。</p>
<p>小茴　川楝子　橘核　甜桂枝　蓬莪朮　生附子　南山楂　雲茯苓</p>
<p><u>南京</u>（三十二）　通中焦氣血，痛緩嘔食，是胃氣虛逆。</p>
<p>旋覆代赭湯。</p>
<p><u>南京</u>（三十五）　頻年發失血症，嗽甚痰出，繼以嘔噯，日晡寒熱，夜深汗泄。據述醫見血，投以鬱金、薑黃、韭汁、製大黃，逐瘀下走，希圖血止，此是有餘治法。夫人稟陰陽，偏則致病。自內損傷，即是不足。脈左動數，尺不附骨，明明腎精肝血內奪，弱陰無能交戀其陽，衝陽上逆，吸氣不入，是以咳嗽氣並，旋必嘔噯濁涎黏沫。《內經》謂：五臟六腑皆令人咳。奈何今人以咳治肺，見痰降濁清熱，損者更損，殆不復臟陰腑陽消長之機，雜藥徒伐胃氣。經年累月，已非暴病，填實下隙，須藉有情之屬。</p>
<p>人參　紫衣胡桃　紫石英　茯神　五味子　山萸肉　河車膠　秋石</p>
<p><u>官宰弄</u>（三十一）　酒客多濕，腸胃中如淖泥，陽氣陷，血下注。昔王損庵以剛藥劫胃水濕。</p>
<p>理中湯加木瓜。</p>
<p><u>無錫</u>（三十一）　夏月帶病經營，暑濕乘虛內伏，寒露霜降，天涼收肅，暴冷引動宿邪，寒熱數發，形軟食減，汗出。醫工治嗽，恐其胃倒，漸致勞怯變凶。</p>
<p>歸耆建中湯。</p>
<p><u>雙林巷</u>（廿六）　早食嘔吐酸水濁涎，心口痛引腰胯。此陽微濁陰犯絡，例以辛熱。</p>
<p>川烏頭　高良薑　延胡索　川楝子　白豆蔻　茯苓</p>
<p><u>杭州</u>（廿一）　據述遺精頻致哮喘，病發必甚。此腎虛失納，真氣散越之疾，少年形瘦，難用溫藥，治當導入任脈陰海以固之。</p>
<p>人參　龜腹甲　坎氣　五味子　紫衣　胡桃　黃柏　芡實　金櫻子膏</p>
<p><u>雙林</u>（廿七）　痛而喜按屬虛，痰多肢冷，是脾厥病。大便三四日一通，乃津液約束。</p>
<p>炒熟桃仁　火麻仁　片薑黃　當歸鬚　炒延胡索</p>
<p><u>無錫</u>（三十九眷）　秋七月經停幾兩月，繼下血塊，疑是小產，遂經漏不止。入冬血淨，加五心脊椎骨熱，天明微汗熱緩。凡經漏胎走，下元真陰先損，任脈陰海少液，督脈陽海氣升，所謂陰虛生熱矣。以肝腎臟陰，精血損傷，醫投耆朮呆守中上，是不究陰陽氣血，不亦左乎。</p>
<p>人參　阿膠　建蓮肉　茯神　女貞子　萸肉　生白芍　炙草　糯稻根</p>
<p><u>包衙前</u>（四十五）　自胃痛起，咽食又噎，近加湧泛黏涎。中年經營，勞瘁陽傷，清氣不司轉旋，上不知飢，大便不爽，九竅不和，都屬胃病。</p>
<p>人參　熟半夏　胡蘆巴　蓽撥　茯苓　老薑汁</p>
<p><u>陸家濱</u>（三十）　陰邪盛為腫，便溏溺短，議通腑陽。</p>
<p>生炒黑附子　炒黑遠志　生於術　生厚朴　椒目　茯苓　豬苓　青皮</p>
<p><u>南京</u>（三十七）　外邪窒閉肺竅，用輕劑治上，食可下咽。水入必嗆者，此喉氣有阻也，仍以辛潤。</p>
<p>杏仁　紫苑　桑葉　茯苓　米仁　通草</p>
<p><u>錢塘</u>（五十四）　閱原案開列，皆肺腎病。男子中年以後，下元精血先虧，有形既去，自難充復。五液耗奪，內風陽氣易越。治宜從陰引陽，勿以桂附之剛愎。</p>
<p>鹿茸　鹿角霜　天冬　天麻　茯苓　淡蓯蓉　枸杞子　黃菊花</p>
<p><u>常山</u>（四十三）　食入脘悶，噯氣嘔吐覺爽，少焉仍然痞悶。視形軀充偉，按脈形小濡。中年陽微不運，即為不足，泄降氣分，攻痰是為有餘治法，非脈症所宜。</p>
<p>治中法。</p>
<p><u>淮安</u>（三十二）　武略用力迸氣，與酒色精傷不同。失血在長夏熱泄之令，胸脅跗骨皆痛，是肝胃絡傷。</p>
<p>桃仁　米仁　降香末　茯苓　蘇子　韭汁　炒山楂　丹皮</p>
