<header data-type="book">
<h1>跌打損傷回生集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡青崑</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1859">公元1859年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>蓋聞天地以好生為心，仁者以救人為念。施藥以治病救人之術也。然一己之能救人曷？若人人之能救人之為功廣也。當時之能救人曷？若傳世之能救人之為澤長也。自古醫書叢出，內外丹方，善於岐黃者，皆足以通之。惟打藥一書，號專門者少、以其方多秘訣，為諸醫書所未備載。即偶得其傳者，亦遂私而藏之，何也？欲以乘人之急而取利耳。每見鄉邑之中，或因鬥毆，或因顛蹶致有傷，重而命懸旦夕者，延師未可猝有，而涉獵半得之技，或貪利冒醫，以致遲延誤事。後雖薦有名醫，而傷已內陷，不可復救矣。況名師高其聲價，先議謝儀，方與視病。私配藥材，復索重價，力綿之家，病雖起而瓶罄已堪蹉矣。此皆由未見傳書之貽害也。余先君子位卿公，自遊黌宮以來，屢困場屋，撫卷嘆曰：古人云，不作良相，便作良醫，亦可有濟於世。因稍荒舉子業，而習於盧扁之術，當時鄉里咸利賴之。於嘉慶年間，館於叔租啟萬公家，一日主賓閒敘，顧謂先君子曰：「子善醫，亦知跌打損傷為醫中之急救而不可緩者乎，然其書多秘而不可得耳。」先君子素知叔祖技藝精通，必有異授，再三固請，叔祖乃出其抄本以示曰：「此吾數十年採訪之功，得諸異授，本欲公之於世，子勿私，子若能傳，猶吾傳也。」先君子唯唯，悉心披閱，見其論說詳明，按圖用藥，計日成功，真有起死回生之妙。因照抄分為上、中、下三集，名曰《回生》。屢試立驗，真秘書也。願公諸世。奈家貧不能付梓，而時常以此事顧余而言之。自先君子下世，余又累年舌耕為業，囊羞阮澀，每啟書閱視而嘆，是書何長為櫝中之寶也。惜哉！痛哉！丙辰歲，館於灌城養翎書屋，得與諸君子往來，輒出此書呈覽，比蒙諸君子歎賞，願付剞劂，聯同志解囊相助，刊定施行。俾後有受傷者，開卷瞭然，不致受欺子醫，亦可成功於己，何德如之？籲！餘三世未酬之志，而一旦此書得傳，令先君子釋恨於九原，而叔祖亦得以傳於世也。謂非諸君子之力也歟，是為序。</p>
<p><u>咸豐丙辰仲秋，上浣南邑，閬風胡青昆書於灌城養翎書屋</u></p>

<h1>卷一</h1>

<h2>跌打損傷小引</h2>
<p>蓋聞傷（見血為傷）、損（骨疼為損）緩急，治宜權變（醫者不可執一），跌（從高墜下，或倒壓閃銼為跌，此乃先受患而後驚）、打（與人爭鬥及杖夾為打，此乃先驚而後患）輕重，各有主張（跌打俱有傷損，須看輕重而治。治跌先宜治患，而後鎮驚。治打先鎮驚，而後治患，此乃大概，臨時又宜活法也）。且如肌膚傷破，止血祛風為上（傷破肌膚，不論何處，外用止血生肌藥，內服祛風藥。若內傷吐血及涕血者，又當和氣活血為主）。筋骨損斷，活血止痛最良</p>
<p>（凡損筋骨，外宜整接敷夾，內服活血住痛藥。若損臟腑昏悶氣絕不省人事者，又當和氣行血為主）。潮熱者（表邪），發散可用。便閉者，疏利何妨。皮肉焮腫，破氣治血為要略</p>
<p>（患處焮腫或紅紫黑青者，皆由氣血鬱逆不散。外宜熨法並敷藥，內服破氣破血藥，若患久用藥太過，腫不退，又當和解。若破傷肉腫者，又當祛風為主）。肚腹膨脹，和榮理衛乃宜詳（胸脅腹背受患，致令肚腹膨脹，而疼痛不止者，外宜敷貼藥並熨法，內服破氣去瘀藥。若大便通，又當和血行氣）。老弱患疾，克發切忌太過（年老虛弱者，克伐藥忌用，太過恐生別病）。少壯受患，滋補務宜莫忙（少壯人不可早補，恐患不能盡除，記之）。既表不必重汗，恐賊邪乘虛而入（凡醫傷先宜發表，然後治患，表後不可再表，慎之）。自利無容再行，怕元神因之而傷（大小便自利、不可又用攻下藥，恐泄元氣）。須知血未出，脈喜洪大為要（高跌，內有瘀血，肚腹脹滿，脈堅強生，脈小弱者死也）。血已出，脈宜微細無殃（斫殺跌打俱有血出者，若不能止，脈大七日死，滑細者生。斫瘡出血三日，脈大二十日死。金槍出血太多，脈虛細者生，數實大者死。金槍出血，脈沉小生，浮大者死）。命門和緩，關脈實，患重不死（凡命門脈和緩，關脈實大，患重不死）。命門虛促脫而離，患輕必傷（凡折傷治之訣曰，魚際脈不絕者死）。是故止血者，桃花三寶（桃花散、三寶散治皮膚傷破，血出不止）。活血者，桂蕊一陽（筋折斷者，整接後，以桂蕊散煮酒，調一陽丹同服，以上四方俱列於後）。祛風熱，消風散，稱為盡美（消風散治破傷血出或破爛肉腫）。止疼痛，住痛散，號為君王（活血住痛散專能活血住痛，不論內外傷皆效）。傷破肉腫，將帥散罨，有奇效（傷破受風肉腫，外用將帥定風散罨，內服消風散）。損斷骨疼，神聖散敷之無雙（折斷骨者，整接後用神聖散敷斷骨處，外用杉皮薄片夾，以絹縛之，勿露風）。骨肉瘀血生涎，先需闢穢（骨斷日久，不曾治，以致生涎，整接不上，先服闢穢丸，次日再接自效）。瘡口腐爛，肉臭，宜用辛香（傷破不治，或治之失宜，腐臭膿血淋淋，宜用辛香散煎洗，後用生肌散罨數次，即愈也）。發散表邪五積散（外感潮熱者宜）。疏通里實萬靈湯（損傷重大，身青腫，不論處處皆效也）。紅花末，能理肚腹膨脹（紅花破血散，治脹滿氣促）。蘇木散，可療遍體腫傷（治遍身傷損有腫之極）。昏悶氣絕，通關、七寶任選（跌打悶絕者，外宜吹通關散，內服七寶丹即醒，後又當看傷調治）。不省人事，和氣六神堪嘗（患重，氣血攻心不能言，急用和氣散灌入口，即醒，外用熨藥於患外熨之，醒後仍服原藥，加沉香、三貴末同服，或用六神木香湯更妙）。吐血不止，蚌霜散服之即應，鬱氣不散，艾灰膏熨之便昌（傷處疼痛不止者，將艾灰玉龍膏熨之，自愈）。白玉散，手足為之要領（手足疼痛，白玉靈驗散主之也）。紫金丹，周身可作棟梁，勞力身疼，太保散為的要（十三太保散，治平常輕傷。用力太過，並遠行勞碌，遍身痠痛，四肢無力，皆可服。方俱附後）。閃銼腰疼，將軍末最相當（將軍勻氣散，治閃銼腰疼，此藥常服神效）。佛手妙散。輕患不宜擅用（神妙佛散，治筋骨斷或金槍重傷將死者，才用此藥，有神效，宜珍貴之也）。換骨靈丹，收效必賴安康（神仙換骨丹，治跌打將好，以此藥收效）。粒金丸，跌打比勢皆效（粒金丸，即鐵布衫，治跌打併與人比勢皆效）。真寶膏，損傷癤毒甚強（此膏能貼傷損並癤毒者）。夫藥豈無妙道，杖患自有奇方（杖夾謂官打板夾棍），用之合宜，治如反掌，理之失法，變起蒼茫。嗟夫，治此症候，勢非尋常。外纏皮膚，內連腑臟。改換形容，如蛇脫皮、龍換骨。淋漓膿血，若蚓在灰、蟮在湯。醫貴識症，不可指鹿為馬。藥宜合病，休要視虎為狼。徒自謬而不變，恐遇病以彷徨，泄骨髓之真詮。非君子而不教授肺腑之秘訣，牢記誦而莫忘。是為引。</p>

<h2>看傷有治無治之論</h2>
<p>氣喉管斷即死不治（故左手割頸者，不治）；食管斷者可治，項門既破骨未入肉可治：食飽受傷及跌三日不死，可治，心胸緊痛，青色未裹心，乃偏心受傷，可治；項門既破骨陷入即死，不治；耳後受傷則醫，耳珠下受傷不治；心胸緊痛，紅色既裹心頭，乃心口受傷，不治，男子兩乳受傷，可治；婦人兩乳受傷不治；正腰受傷自笑者立死，不治；小肚受傷重者，又吐糞者，不治；氣出不收，兩眼睜開，不治；小腹受傷，未傷膜，可治；孕婦小腹受傷犯胎，不治；孕婦尾結骨受傷，雖糞可治；受傷口出氣、眼不閉者，難治；腎子受傷入小腹者立死，不治：腎子受傷未入小腹者，可治；口如魚口纏風，不治；囟門出髓者即死，不治；心口俱是青色，七日內死，不治，兩乳受傷，宜當急救，可治；兩脅受傷，怕血入五臟，難治；小腸有傷，不分陰陽，難治；頂門有傷難醫，急救可治；兩腿受傷雖然無礙，後必有損，宜當細心調治無損，兩手有傷；可治。兩腳受傷，用心調治，免後來成損。以上各條傷之輕重生死，亦在人活變看驗。</p>

<h2>秘傳下手口訣</h2>
<p>一、煎藥水；二、相度損處，三、拔伸，四、用力取大骨（即老鼠子）；五、察症，六、用神聖散：七、瞑口白金散；八、夾縛；九、服乳香尋痛散，十、用水洗辛香散，十一、再用神聖散，十二、再用白金散；十三、再夾縛。</p>

<h2>治周身口訣</h2>
<p>凡打破頭腦不省人事，即用燈火刺眉心、囟門、太陽、耳門、夾風門（池）、肩井、曲池、合谷、行間、三里。如不醒，可向傷處剪開頭髮，尋認出血處，刮薄槐皮，如銅錢大，放出血處，灸三五壯，及灸百會穴三五壯。如無槐皮，三貴末童便煎服。血不止，用寶鈔灰同生姜搗爛，貼出血處，次日去之，用生肌散，清油調搽患處，即用金槍藥亦可。凡用生肌散、結口藥，一日兩次，先用清油洗，然後用藥敷。</p>
<p>凡跌打傷，四肢傷重，血氣攻心，不能言語者，急將和氣散灌入便醒。用熨藥熨患處，仍服原藥，加沉香、三貴同服。如不醒，用蜂蜜和薑汁蒸過，仍服。</p>
<p>凡四肢有傷，傷在身上，消風散內加川芎、白芷、細辛；在下身，加木瓜、牛膝、檳榔。</p>
<p>凡牛角、樹枝掛出腎子在外不得入，急將神聖散或雞蛋清，井花水調敷在肚臍上，並兩腿上，除瘡口與下陰上。一二時辰，腎子自入，後用生肌散敷之，自愈。</p>
<p>凡傷前部，小便不通者，用長嘴江螺，四五十個，韭菜兜、蔥頭四五十枚，大蒜三四十枚，皮硝二錢，好京墨濃磨，塗臍上，後將各味搗爛敷墨上，以絹巾縛之，立通。又有一方，用通關散同蔥搗爛炒熱，敷小肚下即通。</p>
<p>凡打傷後部，大便不通者，多用五通散。又名千金子，去油，氣力大似牛，殊不知人體虛弱者，有傷元氣，故要用消風散內加將軍勻氣散三錢，溫服即通。</p>
<p>凡震動腦漿，不能言者，傷重剪開頭髮，用槐皮於百會處及傷處灸醒，後用消風散，加白芷、川芎、細辛、童便煎服。</p>
<p>凡打傷咳噎不止者，先用柿葉、枇杷葉（不去毛）、木香同服之（要煎服）。此是咳呃逆噎（湯頭），咳噎多因胃有寒，此名惡候，古今傳陳皮、半夏、香附子，不差。依方灸乳旁（男左女右，乳下以指為則，墨點之紅豆大，艾灸三壯）。</p>
<p>凡打傷吐血者，先用百草霜，童便調服。如不止，用犀角地黃湯。如無犀角，以升麻代之，牡丹皮各一兩，赤芍一錢，上四味，水煎服。</p>
<p>又男婦或於伏天暑月，打傷吐血者，不是因打傷而吐，此是因伏天吐血，宜服香薷飲。若不止，兼服犀角地黃湯。香薷飲：黃連、香薷、厚朴、扁豆（用薑汁炒）。</p>
<p>凡打傷殺傷，出血過多，不省人事，是血暈。本是風症，宜服川芎、當歸各等分，水煎服。名為芎歸湯。</p>
<p>凡夏月打傷，不論輕重，先服五苓散，然後服傷損藥。五苓散：豬苓、白朮、赤苓、澤瀉、官桂少許，水煎服。</p>
<p>凡打傷，小便淋漓出血者，先服五苓散，加瞿麥、車前、木通、滑石，去肉桂，即四苓散。水煎服。</p>
<p>凡打傷鼻梁，七孔出血，先將艾茸灸，後推頸大椎骨第五節。灸後服消風散，加米茅花或根亦可（灸就在人中穴）。</p>
<p>凡打斷手足之筋，先將神聖散貼腋下，連手背貼，以斷其血源，然後用止血結口之藥，後服消風散，加三貴、走馬之類，則愈容易。</p>
<p>凡打傷一閃，血氣攻心，用六神木香湯，加三貴在內調服。傷重不可行，酒磨消風散亦可，更以熨藥熨胸，即愈。</p>
<p>凡打破殺傷，一身四肢傷在死肉處，即用金槍藥和止血末藥罨瘡口上，其血即止，瘡口自斂，不必攙藥，不必避風。日久以乳汁洗淨口，將生肌散罨滿，一日一洗。換藥宜避風雨。又用黑傘紙貼肉，將滿用黑膏藥貼之，去傘紙，即愈。</p>
<p>凡打跌四肢未破者，用玉龍膏熨損處，以布巾縛，加杉皮夾住。並服消風散，好酒半杯，並用乳香尋痛散，加走馬，好酒、薑汁調服。停二三日，再熨再夾住，自然安愈。其熨藥末煎藥，毋得亂傳。</p>
<p>凡跌打四肢，見血者，已泄氣，不必熨藥。傷口用金槍藥罨。如前夾縛，服消風散，加三貴、走馬在內。其傷口用真麻油，二三日洗一次，換藥再夾。</p>
<p>凡傷口作臭，可將天疾螺制過罨之，奧即去矣（天疾螺。是草上螺有角者，取來瓦炕為末，罨之其臭自去）。</p>
<p>凡傷與損並重，則當治傷為先，損則後治亦無妨，或傷損並治。急於瘡口以止血，就用消風散，加三貴住痛。有氣加沉香、木香，磨同服。後用玉龍膏熨損處，此巧術也。</p>
<p>凡傷破皮肉臭爛生蛆者，用桃仁五六錢，炒過研爛作餅。貼肉上空瘡口，蛆即出。如無桃仁，用嫩葉瓦上炕干為末，清油調搽。</p>
<p>凡傷損驚風入水，牽弓反張者，急用燈火灸囟門、合谷、湧泉、百會等處。如不應，宜仔細。唇齒咬者，用通關散吹之，有噴可治，服消風散即效。無噴不治。其牽弓反張者，將槐皮刮薄，放傷口上，以艾灸之，取得水即好，仍服消風散。</p>
<p>凡打破眼睛者，以手挨進，轉者以手撥正，用貼藥神聖散，以雞子清調搽四圍，膽水出者，目必壞，不治。</p>
<p>凡患跌倒，亂肺肝者，氣血作攻，不能言語，令患人仰臥一時，用熨藥貼胸熨之，服乳香尋痛散即愈。</p>
<p>凡傷損作嘔難進藥者，乃是感寒，所以水殺不入，人事昏迷，先將生薑一兩，多取自然汁，用蜜三匙和勻，蒸過服，其逆即止。凡飲食之類，亦用鹽姜為妙。</p>
<p>凡打傷跌傷及刀劍殺傷，不省人事，先以木香湯灌服，聽其自然，卻尋看傷處，用藥調理。用斷血藥或用油調藥，或用住痛消風等藥，醫者須要活法。</p>
<p>凡被打剁，傷損四肢，腫痛不已，腹內氣促不安，筋骨斷折，急用止痛藥調服。然後將骨節端正歸原，以藥敷痛處。用杉皮夾之。亦要法，寬則骨動，緊則血氣不通。如藥干，以薑汁潤之。仍宜去舊生新，消腫住痛，接骨活血，莫如活血住痛散，每服二錢，早午晚臨睡時，以生薑汁、好酒調服，一、二七即愈。</p>
<p>凡打剁傷損，瘀血入胸膈，腹內膨滿，氣促難臥，飲食少思，精神昏晦，四肢強直，疼痛不止，不省人事，漸至傾危，急服五通丸宣利，後用活血住痛散，連進幾服，水煎姜引。</p>
<p>凡年高少壯，失跌腰痛，腹內脹滿，刺痛不止，大小便不通，急服五通丸宣通，後可服乳香尋痛散有功。</p>
<p>凡打破刀傷，被水濕瘡口，致令浮腫，潮熱往來，不省人事，將致傾危，奏效莫如消風散，附方每服酒一杯，姜三片煎服。瘡口以清油調生肌散搽之，四圍腫處，以神聖散加海螵蛸、朴硝，蜜調貼腫處，後可服活血住痛散。</p>
<p>凡刀槍傷破，出血過多，瘡口腫痛，不省人事，潮熱往來，飲食不進，四肢難舉，嘔惡氣逆，朝輕夜重，無藥可效。急用活血住痛散，每服水一杯，炆二三沸，入酒半杯。去渣溫服。若瘡口腫痛，不時熱煩躁者，可除厚、桂，只以水煎空心服之。</p>
<p>凡肌膚傷破，止血以桃花散，敷之以神聖散，服之以活血住痛散，洗之以辛香散，生肌以白金散。醫者用此，百無一失。</p>
<p>凡瘡口生膿，肉腐肉臭，以辛香散，加鹽一捻煎水洗。</p>
<p>凡手足骨斷，久不得力，難所行舉，尚有疼痛，可服乳香尋痛散，加走馬在內。</p>
<p>凡打剁傷損，血灌肉紫色者，可用半夏為末，冷水調敷患處，即除藥。又以生南星為末，同前調敷，即還本肉色。用神聖散敷之。</p>
<p>凡打剝傷損，或斷折背脊，三日大便不通，生寒。急須以五通丸宣通，後用活血住痛散，安後又變症，發熱、惡嘔、氣逆即服附方消風散，後服乳香尋痛散加走馬，逐日安愈。又用神聖散、萬應膏貼患處，管取無誤。</p>
<p>凡傷損初起，更看眼上暈。若破頭面、囟門、腦蓋骨等處，急宜治之。先去其風，緊疆牙關，服消風散，即任風寒潮熱不礙。若疼痛加三貴；如風重，加殭蠶、天麻、全蠍。但有傷破，總以桃花散斷血，用絹巾縛之，不可當風。後急用白金散，清油調搽布上窨過，看瘡口涼不涼，即功醫者親臨。又服消風散，須令解開驗傷用藥。一日一換，寒天三日換亦可。合口生肌，切莫當風落水，否則潮熱往來難治。疼痛服乳香尋痛散，不拘時，姜酒調服。</p>
<p>凡腦蓋骨，或打或跌傷，急用生薑自然汁，同好酒調白金散，加淮三散貼在傷處，一時即起，服安髓散，清茶送下。如患者失聲，急用搐鼻藥取其聲，又用豬牙皂角燒煙燻鼻，打噴能出聲。若有風，加殭蠶、全蠍。不然，則緊疆牙關，即傷性命，慎之。</p>
<p>凡跌打殺傷，腸出血隔，及腹脹滿，只服五通丸；若泄不止，煮粥食止之。如不止，煨過大附子，生薑十片，煎服即愈。又方，只用石菖蒲磨水，汲井水洗面及手足，亦住。但看傷損，方仔細開，活法治之，不可執一。此症即難治。</p>
<p>凡杖瘡須以白金散，及杖法若緊疆牙關，急用搐鼻藥吹鼻，打嚏易治。凡療杖瘡，在家慎勿與婦見，若見難結口。又忌與婦人睡，戒之而愈。</p>
<p>凡男女銼氣腰痛，可服將軍勻氣散。</p>
<p>（以上用藥之法，大概如此。凡醫者放例，臨時在乎活法，不可執一，日當詳玩）</p>

<h2>損傷秘傳口訣</h2>
<p>患人面寒服青，頭腫者，此乃頭破受風，宜服消風散。如不應，即服木甘湯和其風氣，自然見效。木甘湯：木香、甘草、枳殼、沉香、桔梗、檳榔各等分為主，入消風散同服。</p>
<p>打傷或時死者，是血凝心也，宜服活血住痛散，此藥能活血養神。如不應，又服木甘湯，加入活血住痛散內，姜酒溫服，自然見效。如又不應，再服陳皮湯，加入前藥內。陳皮散：陳皮、元胡、烏藥、歸尾、硃砂、藿香各二錢。</p>
<p>打傷言語讝曲無時死者，此傷心也，宜服活血住痛散。如不應，服遠志散：遠志、石菖蒲、木香、青皮，為末，入前藥內服。</p>
<p>打傷嘔不止者，此傷胃也，宜服萬靈通導湯。如不應，又服半夏湯：旋覆花、半夏、南星、丁香、辰砂、附子、砂仁，此藥能止嘔，入前藥內服，即止。</p>
<p>打傷舞手舞足，此受風五神失主也，即心也，宜服消風散，加遠志、木香、辰砂立止。如不應，加細辛、大黃、薄荷、芒硝、赤芍入前藥內服，即止。</p>
<p>打傷自笑者，此傷腰也，宜服活血住痛散。如不應，服歸尾散以止其笑。歸尾、梔子、白芷、蒲黃、虎骨、然銅、牛膝，入前藥內即活血住痛散，同服即有功。</p>
<p>打傷咳嗽者，此傷血入肺也。宜服地骨皮湯：地骨皮、桑皮、五味、熟地、生地、人參、甘草、杏仁、木瓜、知母、貝母、阿膠、生薑為引。</p>
<p>打傷，血從鼻中、口中、眼中出者，此氣上衝二腸，宜服紅花破血散以破其血。如不應，再服蘇木散加入前藥內，以助其力。蘇木散：蘇木、歸尾、木鱉、紫金皮、童便為引。（引有蘇木散，不同在後）</p>
<p>打傷吐糞者，此傷腸也，與嘔吐不服藥者同治。如不應，可服四味湯：南星、半夏、丁香、砂仁，入萬靈通導湯服。</p>
<p>打傷尿出，如水流不住者，此傷小腸也。宜服乳香尋痛散，加瞿麥、丁香、香附服之。如不止，則不治。</p>
<p>（以上十條口訣其效立見，若遇此症，依方調治，神妙！神妙！）</p>
<p>打傷患人眼面黑者，是滿身傷重，宜服活血住痛散。如不應，可服將軍勻氣散，面容即轉，而痛減矣。</p>
<p>患人牙關閉者，此傷重受風也。將消風散灌入喉中，其閉自開。如不應，以艾火灸百會穴。</p>
<p>患人不能轉身者，此傷腰也。宜服活腰散，以藥火熨之。如不應，則用勻氣散加紅花、碎補、牛膝、蒲黃、桑皮、忍冬藤，百發百中，</p>
<p>凡損須用此藥熨之，不必用神聖散，此名捷疾神效散。用淮烏、烏藥、草烏各二兩，共為末，以生薑二兩，共研爛和勻，又用艾二兩，以火熨之。其法先以藥敷患處，以艾放藥上，用紙一張放在艾上，以熨斗徐徐熨之，以藥干為度。</p>
<p>傷破肌肉出血者，止血不必用桃花散，可用三寶散，即效。此藥能止血、生肌、住痛、合口。</p>
<p>血出不止，用藥不效，須外法治之。其法以銀挖耳燒紅於患處一撻，隨用藥敷上，立效。</p>
<p>傷斷各處骨節及背腰，揣令相接歸原。用杉皮削去粗皮，七片一般長，用綿紙裹之。卻用紙繩兩頭挑開，以自然薑汁調神聖散，或淮淮散、白金散於紙單上，同夾托患處縛之，及中間二部共四部。或只用枇杷葉、芙蓉葉末敷之亦可。服藥以活血住痛散，姜酒調服。第二次換藥，將夾縛解開，可尋樟葉、松毛、柑子葉、陳瓦上茅、左纏藤，共煎水一盆，以米篩蓋上面，以被席遮圍，令患者將患處於盆上乘熱熏，得汗出，將藥水洗。用銀針針患處，仍用前藥敷，然後夾縛，不要解開，直至好，待骨老解開。如骨嫩搖動，後必有損，夾縛，吃乳香尋痛散、勻氣散。其重義之人，可下走馬。</p>
<p>傷損重患，牙關緊閉，不省人事者，將通關散吹鼻。男左女右，有噴可治，否則勿治。隨用七寶丹灌下，醒後，將神妙佛手散開水調服，或煎服此藥，能鎮驚養神。又須看傷調治。</p>
<p>凡折斷下手整接之時，先服神妙佛手散，然後整接，夾縛如法。日服桂蕊散，煮酒調一陽丹。患在上，食後服；在下，則食前服。若傷破骨斷者，又當用活血住痛散。收功必賴桂蕊散，同一陽丹為妙。</p>
<p>凡手足疼痛，不論新舊，將白玉靈驗散服，立效。</p>
<p>凡新舊傷損，不拘何處，用紫金丹，將各部引經之藥，炆酒調服，惟損更驗。</p>
<p>凡咬斷舌者，用五倍子五錢（燒存性），真降香（一錢）（炒），訶子一錢，共為末，搽斷舌處神效。可加三貴、硃砂、白芷梢、麝更妙。先用蔥蘇汁、麥芽根、寄生汁噙了，然後用藥。</p>
<p>凡刀斧傷箭槍傷，以致生風生水，急用槐皮、北艾灸之、熨之。趕出風來，後下藥治之。</p>
<p>洗諸瘡，因感風寒發熱，不能言語者，用人參、枳殼、白苓、木香，共為末，用木瓜人參湯調服，即好。</p>
<p>桃花散。一時無有，以陳杉皮燒灰存性為末，亦可。凡破皮肉，用此藥止血住痛。或不愈，又以清油調藥搽在布上，透入患處，即好。</p>
<p>神聖散。凡傷患處有腫，加螵蛸、朴硝。如又不退，或致用藥過多，陰腫不消，用和解散。若夾縛處兩頭起泡，用清油調思聖散，塗之即消。若潮熱，急用消風散服。</p>
<p>乳香尋痛散。如傷頭上，減厚、桂，加生天麻五錢、肉蓯蓉五錢，酒浸，清茶調服。體虛弱，加川烏五錢。如傷手足腰背，加穿山甲七錢、川烏五錢（煨），姜酒調服。</p>
<p>活血住痛散加減，與乳香尋痛散同。但老人虛弱者加川烏、附子。</p>
<p>消風散。凡傷損潮熱，言語恍惚，宜服此藥。若被人牙傷，加雄黃退其毒。</p>
<p>生肌散、乳香尋痛散。血竭、白芷梢，生肉；陀僧退血乾水，雄黃去毒；赤石脂、龍骨能合口。</p>
<p>遇便接骨散。凡打撲傷損，折斷肌骨，此方妙。火麻一兩（燒存性）、赤小豆三合（研），為末，好酒一碗，不過三服即好。若患處接以蠟糟鹽泥，或酒或醋調貼患處，立效。藥干再換，七日即好。</p>
<p>接骨秘法。用當歸、白芷各三錢半、草烏三錢（炮），各生為末，溫酒調服一錢。覺身麻揣正，隨用糯米粥調牡蠣米塗傷處。或用生雄雞一隻，捶爛貼。外用杉木夾定，繩縛，毋令移動。即服乳香、白芍、當歸、沒藥、川芎、川椒各五錢。然銅（煅）三錢共為末，又用硫黃二兩，熔開入前末攪勻，作彈子大，用好酒化開熱服。隨痛處側臥少時。不愈時連進一二次，大效。如若破傷風腫，宜用南星、防風為末，酒調入薑汁一匙服，仍用酒調藥敷患處，甚妙。</p>

<h2>秘傳接骨口訣</h2>
<p>腦骨者，諸陽所聚，太陽、囟門、腦蓋骨等處，若傷破即性命所繫。醫須分開患人之發，尋看傷處，剪去近瘡之發，然後用藥。傷破重，則用桃花散和燈心塞之，小則不必多用。每日尋看傷處，如若爛臭，以辛香散洗之，將生肌散調搽。治傷之時切忌當風，誠恐破血生風，則發熱頭面皆腫，以熨藥貼之。不退，以乳香尋痛散調搽，加川烏貼之，仍服消風散。又用白金散，清油調搽患處。可服安髓散，清油調服。</p>
<p>面者有七孔，眼居其一，傷最難治。若被打傷，眼出於胞外者，決難復入。但以蜜調神聖散貼之，聽其自然。若破黑晴，膽水已出，其瞳人必壞。若在胞內，卻可輕輕撥轉居原，以神聖散蜜調貼，仍用活血住痛散，以清茶調服可愈。</p>
<p>牙齦骨被打傷折斷，先用兩手揣正，令骨相接居原。用神聖散貼於外面，然後用布袋兜著下頦，直上縛在發上。或牙齦已落，懸空搖動，以筋撥正安之。出血不止，用桃花散斷血，以白金散飲湯調，口噙之，遂可奏效。</p>
<p>從高墜下，頓頸骨者，令患人仰臥，用絹兜其頰下，又解伸患人頭髮，作一把手捉定，行伸兩足，踏其兩肩，用力徐徐拔而伸之，以歸原為則。如過，則頭伸太多，則又軟了。用神聖散，以自然薑汁和酒調貼，常服乳香尋痛散，痊愈。</p>
<p>井欄骨斷，以手揣正，斷骨相接歸原。用棉絮二個，如果子大，於斷骨兩旁輕輕托起相接。以神聖散薑汁調貼患處。若爛了傷破皮，不可用薑汁，以蜜調貼，然後用竹筒一節，長短寬狹，隨人為則裁斷破碎。用一片大者，嵌入骨，在竹內用紙實腋下，用絹袋兜縛，日服乳香尋痛散。</p>
<p>飯匙骨斷，被打傷跌出於外者，須帶伸其手。醫者以手揣其患處，相接歸原。用神聖散貼之。用絹袋從患處腋下，兜縛至那邊肩上。日服活血住痛散。如骨出在上，醫者以左手入患人右手，以膝撐其兩脅，其骨自入。</p>
<p>兩肩骨出者，如患左手，醫者以右手入患人左手按之；右手，醫者以左手按之。如骨向下者，醫者以手托骨向上，令其歸原。如摺轉其手，上腦為度。用神聖散貼之。用絹袋一條，從肩上縛至那邊腋下，又縛至那邊肩上。服活血住痛散。</p>
<p>腕骨出，治法與肩骨同。相接歸原，以神聖散貼之。用杉木皮一大片，中間刳開一孔，中間對面共四塊，亦如前法，使腕骨伸屈，用絹袋兜其頭上。日服乳香尋痛散，無誤。</p>
<p>臂骨斷，揣定斷骨歸原，用神聖散貼之。然後用杉皮三片，削去粗皮，密密掐令微破，長短有法。如斷向內，以三片短者向內，一片長者向外，作夾托，用綿四部縛之。向身處遂轉放寬，令血氣貫通。第二部差緊，要血脈流通，一二間相接太緊，則血不通，骨亦難接。日服活血住痛散。三日後換夾，則削薄其夾，比在前更薄，此扎縛亦宜寬些。如有腫，神聖散內加螵蛸、朴硝。四圍有泡，用百草霜炒令無煙，紙攤於地上，存性為末，清油調搽泡上。</p>
<p>接手骨，與接臂骨同法治之。</p>
<p>接掌腕骨，與接腕骨同法治之。</p>

<h2>效方開後</h2>
<p><u>桃花散</u>　黃連（一兩）　大黃（一兩）　黃柏（一兩）　風化石灰（四兩）</p>
<p>共炒桃花色為度，去大黃並攤去火毒，篩極細用。古方只有大黃兩半，石灰半斤，無連、柏二味。（後有歌）</p>
<p><u>三寶散</u>　（專治破傷血出不止，用此不必用桃花散，其能止血住痛，生肌合口）</p>
<p>當墨（即百草霜）　白芷梢　經霜草</p>
<p>共為末，或干罨，或清油調搽，一七即愈（後有歌）</p>
<p><u>桂蕊散</u>（治不論遍身筋骨斷損，四肢不能舉動者，接骨神效）</p>
<p>薑黃　白芨（各五錢）　紫草（三分）　碎補　然銅　靈仙（各一錢）　肉桂（三分）　半夏（一分）　歸身（一錢）　赤芍（一錢）　蘇梗（五分）　羌活（五分）　紅花（一分）　青皮（錢五）　廣皮（三分）　三稜　莪朮（各五錢）　枳實（五分）　木通　丹皮　川芎（各一錢）　桂枝（二錢）　白芍（一錢）　加皮（五分）　牛膝（二錢）　枸杞（二錢）　甘草（一錢）　土茯苓（一錢）　野苧根引</p>
<p>好酒炆一枝香，空心服。本方外用狗腳骨燒灰存性，用棉花包定，火燒研末，敷用狗腳骨灰，吃不可用。</p>
<p><u>一陽丹</u>　（又名一粒金丹，有救死回生之功，不論傷損皆妙）</p>
<p>乳香　沒藥　肉桂　川烏（各一兩）　然銅（制，一兩，三錢）　碎補（二兩）　白蟲（即白蠟，四兩，酒）　血力（三錢）　鹿茸（五錢）　全歸（酒浸，一兩）　龍骨（醋炒，二錢）　虎骨（炙，一兩）　寸身（即麝香，一分）　硃砂（四錢）　灰面（炒，五錢）　故紙（八錢）　首烏（打碎，瓦炒，一兩）　人中白（二兩）　小陰麻（即芝麻，炒，八錢）　山羊血　紫石英（各四錢，煅）　旱蓮草（一兩，草藥）　菟絲子（八錢）</p>
<p>共為末，酒調一錢服。</p>
<p><u>消風散</u>（治破爛血出腫痛）</p>
<p>防風　防己　南星（各一兩）　姜全（薑汁炒，去絲嘴，乾用）　全蠍（水洗，去頭足，炒乾）</p>
<p>二味另作（一分）　傷重與前藥全下。上將各味銼碎，生薑五片，童便煎所。傷在頭上，加川芎、白芷、細辛。傷在下身加檳榔、牛膝、木瓜。棒瘡不必加，恐有潮熱，乃是風熱。如去風，熱即退，不必用柴胡、黃芩。若被風雨所涫，加麻黃、蔥白、松節、清油，酒煎熱服。被蓋出汗到足，緩緩揭去即好。</p>
<p><u>活血住痛散</u>（專能活血住痛，傷損皆效）</p>
<p>川芎　當歸（各一錢）　羌活（五錢）　獨活（一兩）　山甲（土炒，七錢）　淮烏（七錢）　小茴　白芷（各一兩）　上桂（七錢）　木瓜（一兩）　草烏（七錢）　赤芍（七錢）　角茴（一兩）　甘草（五錢）</p>
<p>一方有杜仲五錢　當門（即麝香）一錢，如傷重加三貴，有氣加三貴、沉香、木香，須磨。斷骨加走馬。</p>
<p>以上各切片，碎，曬乾為末，密收。用時要自然薑汁一小杯，好酒一大杯，末藥三匙。其三貴、走馬臨時加減。此乃巧術也。要快，倍能住痛。附：走馬、然銅、虎骨俱製為末，專能接骨斷根。（後有歌）</p>
<p><u>將帥定風散</u>（治破傷風及金槍刀斧，打撲傷損，並癲犬咬傷，能住痛生肌）</p>
<p>南星（為防風所制，服之不麻）　防風為末</p>
<p>破傷風以藥敷瘡口，然後以酒調一餅服。如牙關緊急，角弓反張，用童便調服二錢。打傷欲死，但心頭微溫，亦以童便調灌二錢，並進二服。癲犬咬傷或破，先噙將水洗淨、拭乾、貼藥，更不再發，無膿有大效。</p>
<p><u>神聖散</u>（治接骨，貼損、住痛，敷夾）</p>
<p>豨薟草　赤芍　白芨　枇杷葉　芙蓉葉　韭菜（連根不洗）　白芷　淮烏（不拘多少）</p>
<p>以自然薑汁酒調，敷貼患處。有腫加海螵蛸、朴硝，同搗爛調貼。如骨出傷口者，以蜜調生肌散，搽其瘡口，以神聖散敷之。凡刀斧傷破者，用蜜調，未傷皮以薑汁調。凡用此藥，必須先以傘單紙一片，測患闊狹，卻以藥塗之，為妙。</p>
<p><u>闢穢丸</u>（治肉爛生涎，並一切貼骨流痰，無名腫毒）</p>
<p>斑蝥（一錢，去頭、尾、翅、足，用糯米一合炒，以米黃色為度，去斑蝥不用，用米）　大硃砂（四錢）</p>
<p>共為末，用飯做成丸。如胡椒大。大人每服四丸，小兒二丸。臨晚溫茶送下，如小便急脹不妨。</p>
<p><u>辛香散</u>（治傷損生膿，以致肉爛臭，因余血在肉，用此煎洗）</p>
<p>荊芥　赤芍　劉寄奴　羌活　澤蘭　防風　獨活　明礬　苦參　五倍子　白芷</p>
<p>以上為末，當歸、銀花、柏葉、蒼耳、細茶、藿香葉，每用水一杯，加蔥白、桃、柳、尋風藤、飛鹽一匙，煎水洗去毒，然後用油調住血散貼。（後有歌）</p>
<p><u>五積散</u>（治熱外感）</p>
<p>白芷　陳皮　厚朴　當歸　川芎　細辛　枳殼　桔梗　半夏　羌活　桂枝　蒼朮　南星　前胡　甘草</p>
<p>有氣加青皮、烏藥；潮盛加柴胡；兩脅加膽草、青皮、肉桂、紅花，手加桂枝；腳加淮山、牛膝。</p>
<p><u>萬靈丹</u>（一名捷助散。治傷損大便不通及楊梅等瘡）</p>
<p>五靈脂　使君子肉　巴豆仁（去油，各一分）</p>
<p>共為末，冷茶送下。服後泄不止，或綠豆粥解亦可。但治楊梅，即用三仙丹搽，立效。</p>
<p><u>蘇木散</u>（治遍身傷損，有腫之極，服之即愈）</p>
<p>丹皮　石菖蒲　枸杞　歸尾　紅花　生地　歸身　赤芍　碎補　然銅　上桂　靈仙　羌活　蘇木　玄胡索　陳皮　五加皮　牛膝　川芎　小茴　香附　虎骨　土茯苓　甘草</p>
<p>野苧根引，炆生酒服。</p>
<p><u>紅花破血散</u>（治傷損，血落，肚脹滿，氣促）</p>
<p>紅花（五錢）　蘇木（五錢）　黑醜（二兩，炒）　故紙（二兩，炒）　白芷梢（五錢）　木瓜（五錢）　川芎（五錢）　小茴（一錢）　五靈脂（二兩）　川膝（二兩）　白芍（兩，炒）　羌活（二兩）　乳香（去油，五錢）　獨活（二兩）　當門（一錢）　淮烏（制，一隻）　蒲黃（制，五錢）　生地（二兩）　當歸（二兩）　甘草（五錢）　當墨（五錢）</p>
<p>共為末。木瓜煎湯，入麻油於湯內潤下。或姜酒和童便調下。若作散，以姜五片，半酒半水，入童便麻油調服。此藥專能破血。被打浸血傷損，及棒槍皆可服。尋常損不可服，只以後六神木香湯服之。</p>
<p><u>通關散</u>（治不省人事，暈死者）</p>
<p>牙皂　北辛　蘇葉　薄荷</p>
<p>皆生用，共為末，吹男左女右鼻。或用紙或青布片展藥，以竹筒應鼻熏之。或用制過巴豆油紙展亦可。（古方只牙皂、細辛二味）</p>
<p><u>七寶丹</u>（能起死回生，傷損疼痛皆效）：</p>
<p>番木鱉（半斤）用童便浸待口開，瓦鋒刮去毛皮，切片，再用藥浸，方以陳黃土（炒至綠豆色，換土炒七次，研為末，另一處）　陳枳殼（四兩，浸半日，切片，麵粉炒乾，為細末，另一處）用木鱉末（一兩）　枳殼末（八錢）　配合均勻，再加北辛（二錢）　牙皂（二錢）　真熊膽（五分）　麝（五分）</p>
<p>共入內和勻，每服五六分，好酒送下。倘有急用，有引，並投接氣散，用酒滴入口中即醒。如住痛合全身丹。一方有加三七三錢。</p>
<p>附開制木鱉藥於後：歸尾　紅花　碎補　生地　烏藥　鬱金　羌活　獨活　桔梗　防風　澤瀉　赤芍　白苓　桂枝　秦艽　砂仁　加皮　吳萸　故紙　石菖蒲　白芷　石斛　甘草</p>
<p><u>七寶丹引</u></p>
<p>頭上（藁本　川芎　羌活　歸尾　乳香　沒藥）；兩手（桂枝　羌活　乳末），背心（薄桂　羌活　歸尾　乳末　沒藥）；肚（桔梗　鬱金　木香　烏藥　乳香　沒藥）；腰（杜仲　故紙　續斷　羌活　歸尾　乳香　沒藥）；兩脅（青皮　白芥子　羌活　乳末）；左脅（柴胡　西香）；右脅（沒藥　歸尾），兩足（川膝　木瓜　黃柏　獨活　歸尾　乳香　沒藥）：陰囊（橘核　故紙　小茴　羌活　乳末），遍身痛（羌活　獨活　歸尾　續斷　苡仁　山藥　乳香　沒藥）；大便不通（大黃　芒硝），小便不通（車前　木通）；吐血（藕節　白茅根　柏葉　痛甚加老人霜）</p>
<p><u>和氣散</u>（治四肢痛、氣痛，並男腎氣痛、冷氣痛，皆效）</p>
<p>小茴　桔梗　香附　青皮　陳皮　良薑　蒼朮　肉桂　甘草</p>
<p>以上研末，或酒下，或一日沸湯下，用鹽一捻入內服。下部醒，用熨藥於患處，熨之。仍服原藥，加沉香、三貴同服。如不醒，用蜜和薑汁蒸過，仍服。若產後惡瘀未盡者，加桃仁，炒為末調服。</p>
<p><u>六神木香湯</u>（治跌打不省人事，用此順氣）</p>
<p>木香（二錢）　沉香（二錢）　檳榔（一錢，三味俱磨，忌煎）　枳殼（一錢）　桔梗（一錢）　甘草（二錢）</p>
<p>上三味磨，水一大杯，姜三片，煎下三味，令溫吃之。聽其自然，如不醒，再磨煎服，即醒，卻換別藥治之。凡人被損傷極重，不省人事，先以此湯灌之，後以通關散，用竹筒吹鼻即醒。</p>
<p><u>蚌霜散</u>（治傷損之吐血或因酒食飽，低頭掬損吐血過多，並血妄行，口鼻俱出，但聲未出者，皆效）</p>
<p>蚌粉（即海大蛤蜊殼，火煅過，為細末）　當墨（即百草霜）　等分為末，每服三錢，黏米飲調服，或側柏葉研汁尤妙。如鼻衄及灸瘡出血者，衄並乾摻立止。</p>
<p><u>艾灰玉龍膏</u>（凡傷損以此藥熨之）</p>
<p>肉桂　乾薑　吳萸　白芷　南星　附子　赤芍　獨活　草烏　白芨</p>
<p>以上各切碎，曬乾為末，用時要自然薑汁調成膏，以紙夾皮，艾攘損處，大小為一幅，將膏放於損上，又以艾夾貼於膏上，以熨斗盛木炭熨之即愈。</p>
<p><u>白玉靈驗散</u>（治手足疼痛神妙）</p>
<p>川烏　草烏　山甲　乳香　沒藥（以上俱制）　上桂　白芷　甘草</p>
<p>共為末，每服：手加桂枝、淮膝；腳加川膝、鑽地風，炆生酒調服。</p>
<p><u>紫金丹</u></p>
<p>大土鱉（三錢，酒製）　然銅（制，三錢）　乳香（制，三錢）　沒藥（制，三錢）　北辛（二錢）　硃砂（一錢）　血竭（一錢）　靈脂（三錢）　白蟲（酒、豆腐同煮一枝香，三錢）　金箔（二十張）　銀箔（二十張）　沉香（三錢）　歸尾（酒炒，三錢）　硼砂（三錢）　人參（七錢）　琥珀（豆腐煮一枝香，錢半）　珍珠（同上制）　片腦（三錢）　麝香（錢，去毛）</p>
<p>共為末，每服分半，不論上下新舊損傷，用後各部引經藥調服。如婦人信水不通，加麝五釐，酒調服。氣痛，加麝三釐，酒調服。孕婦忌服。內加七雄丹更妙。</p>
<p><u>紫金丹引</u></p>
<p>頭上（川芎、白芷、藁本）；眼上（白菊、白芷、蒺藜）；喉嚨（射干、桔梗、紫荊皮）：兩手（桂枝），兩脅（北芥子、赤芍、青皮、柴胡）；心胸（丁皮、香附、云皮、枳殼、石菖蒲、紅花）；腰（杜仲、故紙、小茴、橘核）；小肚（小茴、肉桂、橘核、益智仁）；腿腳（川膝、防己、木瓜）；腳板（檳榔、獨活、鑽地風）；背脊骨（金毛狗），滿身（肉桂、全歸、羌活），尾結骨（碎補、虎骨、六汗、秦艽）；小便不通（海金砂、赤芍）；大便不通（大黃、枳殼、桃仁）；作嘔（丁香、白蔻、砂仁、藿香）；汗不止（酸棗仁、白朮、黃耆、附片、人參）</p>
<p><u>各部炆酒藥方開後</u></p>
<p>頭上（防風、白芷、柴胡、羌活、威靈仙、青木香、乳香、沒藥、陳皮、白菊、蔓荊子）；胸前（枳殼、柴胡、川芎、赤芍、靈仙、檳榔、歸尾、茜草、鬱金、青皮、乳沒、桔梗）；心頭（紅花、石菖蒲、砂仁、青木皮、桔梗、鬱金、柴胡、茜草、靈仙、乳沒），兩脅（茜草、歸尾、柴胡、青皮、靈仙、檳榔、鬱金、厚朴、羌活、虎骨、血竭、龍膽草、乳香、沒藥），兩手（風藤、南藤、首烏、六汗、金毛狗、桂枝、柴胡、羌活、虎骨、淮膝、乳香、靈仙），腰上（杜仲、故紙、六汗、青皮、肉蓯蓉、鬱金、香附、柴胡、虎骨、牛膝、靈仙、乳香、沒藥），兩腳（風藤、南藤、牛膝、加皮、金毛狗、獨活、烏藥、六汗、蒼朮、防己、虎骨、靈仙、苡仁、秦艽、乳香、沒藥、甘草）</p>
<p><u>太保散</u>（治平常輕易用力太過，並遠行勞碌，遍身痠痛，四肢倦怠皆可服）</p>
<p>全歸（三錢）　杜仲（四兩）　菖蒲（三錢）　碎補（四錢）　牛膝（三錢）　秦艽（三錢）　故紙（三錢）　赤芍（三錢）　鬱金（一錢）　制香附（三錢）　嫩桂枝（四錢）　續斷（三錢）</p>
<p>共為末，每服二三錢，好酒送下。</p>
<p><u>將軍散</u>（氣散治男婦銼氣、腰痛）</p>
<p>小茴　大茴　延胡索　烏藥　香附　砂仁　木瓜　赤芍　陳皮　枳殼　白芷　當歸　羌活　川芎　良薑（各一兩）　國主　沉香　丁香　乳香（制）　沒藥（制）　桔梗　甘草（各五錢）　淮烏（一隻）</p>
<p>以上共為末，姜酒調，空心服。但凡傷損，必須先調氣養神，然後用藥，甚妙。此藥常服神效。</p>
<p><u>神妙佛手散</u>（治筋骨折傷，或斷或金槍重傷將死者，才用此藥，大有神效，後學者宜珍重之）</p>
<p>餘糧石（火煅、醋淬）　肉蓯蓉（酒洗）　鹿茸（酒炙）　當歸（酒洗）　菟絲子　熟地（各四錢半）　白芍　川芎　北艾　茯苓　棗仁（各六錢）　乾薑　覆盆子　紫石英（煅）　牡蠣（煅，各三錢）　五味（錢）　桑螵蛸（泡，五錢二分）　琥珀（錢）</p>
<p>共為末，滾水調服，慎勿輕用。如作散，姜三片，棗一枚，水煎服。</p>
<p><u>神仙換骨丹</u>（專治傷損斷根，重義之人方下，不然則否，此藥服之，永無後患）</p>
<p>三貴（五錢）　虎骨（制，一兩）　然銅二兩（制）　當歸（四兩）　白芷（二兩）　麝錢　小茴（一兩，炒）　淮烏（三隻，生）　羌活（一兩）　厚朴（二兩）　甘草（三錢）</p>
<p>共為末，姜酒調服立效。</p>
<p><u>粒金丸</u>（即鐵布衫）</p>
<p>土鱉（五錢）　硃砂（三錢）　金箔（三十張）　廣木香（三錢）　肉桂（三錢）　母丁香（二錢）　無名異（即無名子，五錢）　三七（二錢）　乳香（五錢）　沒藥（五錢）　麝（五分）　血竭（三錢）　然銅（五錢）　木鱉子（清油浸去殼，五錢）　白蟲（一兩）　土狗（一錢，酒製）　血餘（即頭髮，三錢，用水洗，再酒洗淨，燒紅罐，放在中，黑即倒出）　地龍（即蚯蚓，五錢，酒炒）　山甲（土炒，二錢）　虎骨（醋製，一兩）　地虎（即老蛤雄，煮燒酒製，一兩）　過江龍（即蜘蛛，酒焙乾為末，五隻）　丹皮（三錢）　全歸（五錢）　碎補（五錢，去毛）　續斷（五錢）　枳殼（一兩）　鱔魚骨（一兩，酒製）　白木耳（一兩，酒製）　番木鱉（一兩，布袋張，良薑包著，七蒸七露，三七之內，將乳沒灌在其中）　沉香（三錢）　生地（五錢）</p>
<p>法制為丸，金箔、硃砂為衣（沙糖）。</p>
<p><u>周身水藥</u></p>
<p>川活　大活　歸尾　生地　丹皮　北辛　秦艽　木香　六汗　青皮　小茴　陳皮　延胡　防己　內紅消（即野芥菜）　威靈仙　碎補　菴䕡子　仙茅</p>
<p><u>周身引藥</u></p>
<p>頭（藁本、蟬蛻、白芷、川芎）；手（桂枝、桔梗、靈仙）；背（卑大、山甲）；心胸（硃砂、上桂）；腰（沉香、桔梗、菖蒲、白芷、桃仁）：足（木瓜、牛膝、烏藥、加皮、防己）；腰（即腎也，巴戟、桔子、菴䕡、石蓮子）；風損（桑寄、加皮、麝一分），後開（山楂、麥芽、神麯、阿魏）；先閉（木通、牽牛、豬苓）：胃脘（藿香、砂仁、貝母，若嘔加丁香、白蔻）；腎子（川楝子、荔枝核），腸內有血塊（漆渣炒乾、米芽、黃芩、桔梗、良薑）</p>
<p><u>真寶膏</u>（治一切傷損、諸般癤毒）</p>
<p>大黃　黃連　黃芩　黃柏　梔子　白芷　當歸　蓖麻子　升麻　元參　山甲　白芨　赤芍　蘇木　紅花　木鱉子　松節　柴胡　前胡　甘草（各錢半）　羌活　獨活　桐皮　南星　桑皮（各一錢）　地榆　血餘兩　蜂巢一個　阿魏（五錢）　蒼朮　蟾酥　千金子</p>
<p><u>煎油單</u>　桃、柳、槐枝，熬成膏，後用乳香　沒藥　血竭　龍骨　硼砂　硃砂　輕粉　雄黃　淮烏　白芷　麝　赤石脂　五倍子　明礬　朴硝　共為末，待膏將冷，放內攪勻。</p>
<p><u>金旺散</u>（預服以防受傷，後二方同此）</p>
<p>白蠟（二錢）　木耳（三錢）　血竭（三錢）　川烏（一錢）　半夏（一錢）　紅花（一錢）　土鱉（四對）　苧麻兜（三錢）　白頭地龍（不拘多少）</p>
<p>擂酒吃，後用丸藥。</p>
<p><u>丸藥方</u>（臨時方用應驗）</p>
<p>辰砂（一錢）　人參（一錢）　白蠟（一錢）　木耳（一錢）　川烏（八分）　麝（一分）　半夏（八分，制）　苧麻灰（一錢）</p>
<p>共為末，麵糊為丸，一錢重，食之有驗。</p>
<p><u>戰青散</u>（臨時服）</p>
<p>白蠟　木耳　川烏　乳末　川膝　胡椒</p>
<p>酒擂吃有驗。如欲解，用冷水於受患處淋之，徐擊便散。後有紅腫，可將水藥吃好，附方開後。</p>
<p><u>全身丹</u></p>
<p>三七（二錢）　沉香（一錢）　官桂（一錢）　辰砂（八分）　血竭（一錢）　母丁香（二錢）　珊瑚（一錢，胡椒煮一枝香）　番木鱉（二錢，同七寶製法）　枳殼（二錢，同七寶製法）　乳香（一錢，制）　麝（四分）</p>
<p>共為末，每服二分，生酒調服，疼痛不止，可合七寶丹同服。</p>
<p><u>七雄丹</u></p>
<p>石黃（一兩）　赤信（一分）</p>
<p>用新銀鍋一個，將二味放鍋內，炭火煅盡煙為度，取為末，加入紫金丹，或太保散，內服妙。單將此末酒調服亦可。</p>
<p><u>生肌散</u></p>
<p>白芷梢（五錢）　赤石脂（一兩，火煅存性）　三貴（三錢，制）</p>
<p>凡用生肌散，以真麻油先洗，將三貴先下，後將芷梢、石脂罨滿口上；</p>
<p><u>又方</u>　治傷破不合口，用黃連、甘草二味，為末，蜜調塗，瘡口即合。</p>
<p><u>生肌結口方</u>（治傷破皮肉及板瘡神妙）</p>
<p>三貴　螵蛸（一錢，去殼，火煅存性）　輕粉（五錢）　白芨（三錢）　白蘞（三錢）　兒茶（一錢）　芒梢（五錢）　雄黃（一錢）　石脂（一兩，火煅存性）　硃砂（三錢）　粉草（三錢）</p>
<p>為末。但凡敷藥，貼生肌等藥，總比傷口闊塗半寸，洗換避風，易為生肉。</p>
<p><u>黑神散</u>（治夾接兩頭，有泡不可挑破，此藥搽之，自然陰消）</p>
<p>桃仁一兩（去皮尖，炒，或嫩葉搗爛）　柑葉（一兩）</p>
<p>共為末，清油調貼患處，蛆立死。</p>
<p><u>又方</u>　百草霜炒令無煙，紙攤地上，存性為末，清油調搽，泡即消。</p>
<p><u>和解散</u>（治傷損用藥太過，浮腫不退，此因熱血，遇藥則退，用此貼之）</p>
<p>肉桂（二兩）　淮烏（二兩）　生星（二兩）　赤芍（二兩）　乳香（五錢）　白芷（二兩）　白芨（二兩）　枇杷葉（二兩）</p>
<p>上為末，薑汁或酒調服，立效。</p>
<p><u>拔簇散</u>（治竹木等物刺入皮肉不出者）</p>
<p>象牙屑　磁石（打破，研）　山水銀（即硝缸上膏）　剪刀草（系草藥，以酒糊擂爛，一兩）　野園濱（即鵝不食草，同上制，一兩）　樹蛀（不拘多少，打爛敷之）　</p>
<p>上為末，以冷水調貼患處，即出。又用酒糊糟敷之，空口。</p>
<p><u>又方</u>　用蚯蚓捶鹽泥塗之，即出。</p>
<p><u>又方</u>　用老鴉蒜同酒糊糟捶爛敷。</p>
<p><u>又方</u>　治打、毒槍，斷在骨上者，用此藥貼。象牙為末，放在傷口，其槍即出。又用野芙蓉葉順口嚼用。</p>
<p><u>拔箭方</u>（無論竹木，敷之即出）</p>
<p>蜣螂（去殼，三個）　土狗（三個，同焙）　發灰</p>
<p>共為末，用麻油調敷患處，微痛即出。</p>
<p><u>又方</u>　單用糯米糖滴入傷，即出。</p>
<p><u>一片雪</u>（治刀劍傷極熱，惡血所作，面不退，甚效）</p>
<p>大黃（二兩）　黃連　黃柏　黃芩　鬱金　白芨（各二兩）　枇杷葉　貴妃面（四兩）</p>
<p>上為末，蜜調貼，留瘡口，或清茶、冷水調貼。</p>
<p><u>止血住痛生肌散</u>（治跌打及牙咬，刀傷出血、腫痛、出膿、肌肉不生、疼痛不止，並治）</p>
<p>真龍膏（煅，三錢）　黃丹（五錢，飛）　軟石膏（煅、去毒，一兩）　血竭（二錢）　乳沒（各三錢，制）　潮腦（即章老，少許）</p>
<p>共為末，瓷罐收貯，摻患處，血止住痛生肌，屢有效。</p>
<p><u>敷藥立效方</u>（治血鬱、氣鬱、死血在身及四肢，一敷即愈）</p>
<p>歸尾　紅花　白芷　生薑　胡椒　梔子　黃柏　龍骨　防風　羌活　肥皂　蔥白　細辛</p>
<p>麵粉燒酒調，搗爛共為餅，敷上即愈。不可解遲，神效。</p>
<p><u>又方</u>　生薑（五錢）　肥皂（一兩）　胡椒（一錢半共炒，熱敷）。</p>
<p><u>傷損奇方</u></p>
<p>損娘身（二兩，即向西烏柏樹根）　千里馬（一兩，即破草鞋去中，童便浸六日，燒存性）</p>
<p>共為末，每服一錢，酒送下。不拘腹痛、水脹作飽、飲食不進、打傷重血、大便不通，其血即下。</p>
<p><u>新傷骨痛，皮下紅腫不退方</u>　莊黃　黃柏　梔子　老薑　蔥白　澤蘭　砂糖</p>
<p>研爛麵粉作餅，敷患處，紅腫即退，疼痛即止，無不應效。</p>
<p><u>金槍逆力散</u></p>
<p>螵蛸（三錢）　降香（四錢）　龍骨（三錢）　芷梢（五錢）　神金（五十張）　冰片（一分）　硃砂（三錢）　川連（一錢）　珍珠（二錢）　白蠟（三錢）　兒茶（五錢）　乳沒（四錢）　血竭（一錢）　人中白（三錢）　雞內金（六錢）　浮水石（一兩，消風散、童便各淬數次）</p>
<p><u>附消風散</u></p>
<p>防風　荊芥　甘草　羌活　薄荷　銀花　白芷　藁本　蟬蛻　花粉　煎水淬。</p>
<p><u>杖瘡方</u>（久不愈者，神效）</p>
<p>圓魚骨（一兩，燒灰）　乳沒（五錢，制）</p>
<p>共為末，豬油調搽即生肌。</p>
<p><u>又方</u>　桐子樹葉不拘多少，米醋煮至爛熟，陰乾，臨時隨瘡大小剪貼，即生肌。</p>
<p><u>乳香尋痛散</u></p>
<p>乳香　沒藥　沉香　木香　血竭　羌活　獨活　厚桂　甘草（各五錢）　白芷　川芎　當歸　木瓜　角茴（各一兩）　小茴（七錢）　淮烏（二個）　川烏（一隻）　麝（五分）</p>
<p>以上共研末，酒調服一錢，服後不可飲食。如傷頭上，去厚桂加明天麻，以茶調，食後服。如傷遍身，加川烏、山甲，以姜酒調服，即愈。（有歌）</p>
<p><u>安髓散</u>（治打頭腦）</p>
<p>白附子（泡）　川芎（各一兩）　香附　白芷（各一兩）　甘草（五錢）</p>
<p>共為末，清茶調，食後服。凡髓出不效者，以生肌散貼之，如神。（後有歌）</p>
<p><u>白金散</u>（治刀劍所傷及破皮爛肉等症）</p>
<p>白芷梢，燈心大的不拘多少，無蛀者佳，為末，清油調搽，或敷，卻以傘單貼佳，用絹縛。</p>
<p><u>附方消風散</u>（治刀劍所傷，或破皮水濕，以致潮熱，牙關口噤，四肢強直及感風狂等）</p>
<p>人參　南星　白芷　防風　羌活　川芎　當歸　桔梗　柴胡　甘草　為散，每服四錢，姜五片，童便杯半，溫服。風重加殭蠶　全蠍，疼痛加三貴。</p>
<p><u>活腰散</u>（治腰痛不可忍者，及諸傷皆服之）</p>
<p>桑白皮（嫩者曬乾）　忍冬藤（嫩者）　尋風藤以上不拘多少　當歸　白芷（各一兩）　羌活　白芍（各一兩）　草烏（二隻）　小茴（炒，一兩）　甘草（五錢）</p>
<p>共為末，姜酒調服二錢，即愈。</p>
<p><u>萬靈通導散</u>（治跌打傷損極重，二便不通及瘀血不散，肚腹膨脹上攻心，悶亂至死者，先服此藥打下瘀血，後服補損藥，不可用酒煎，愈不通矣，量虛實）</p>
<p>大黃　芒硝　枳殼（各二錢）　厚朴　當歸　陳皮　木通　紅花　蘇木（各一錢）　甘草（五分）</p>
<p>作一劑，水煎服，以利為度，但孕婦小兒勿服，慎之無誤。</p>
<p><u>莪稜散</u>（治跌打損傷，遍身疼痛，不能舉動，神效）</p>
<p>三稜　莪朮　赤芍　黃柏　千里馬（各一兩，頭不用）　檳榔　元胡索　陳皮　紫蘇　西香（各八錢）　芒硝　黃連（各二錢）</p>
<p>上依製法，如等分，姜五片，蔥白只用一根，如要利，用大黃、芒硝：有痰用半夏。如孕婦受傷，去稜、莪。又血出症亦去之，及蔥白，加當歸、蒲黃。遍身受傷加紅花二分；囟門受傷，除三稜、莪朮、蔥白。如血出多，就用止血金余丹。如手足傷斷，用手推正，內罨燈心灰，用紙卷定，要原實停當，外用杉皮押定，進接骨回生丹，再用小裹腳布，如法扎定杉皮，無有不愈。但攻下之藥，多下乳沒。痛極加西香（即木香）一錢，赤芍、元胡、沒藥、乳香。或有咳，乃肺氣旺，加乾葛、赤芍、甘草、桔梗、北辛、荊芥、連翹。每用原湯，隨病加減，帶熱服。</p>
<p><u>通經活血止痛散</u>（治跌打，敗血攻心，心胸緊痛，神效）</p>
<p>三稜　莪朮　赤芍　黃柏　黃連　青皮　紫蘇　香附　柴胡　乳末　千里馬　內加紅花　蘇木　菖蒲</p>
<p><u>仙傳火龍行氣法</u></p>
<p>生薑　食鹽　麻油（各四兩）　瑞香葉（三兩）　大黃　生地　荊芥　宅南　牙硝（各二兩）　酒糟（四兩）</p>
<p>共研爛，以麻油炒，帶熱頻熨，頻炒，安愈後服千金不奪散及佛手散。</p>
<p><u>千金不奪散</u></p>
<p>防風　荊芥　生地　五加皮　角茴　木瓜　川芎　紫荊皮　鉤藤　臺烏　白芷　檳榔　木香　羌活　歸尾　南藤　然銅　五靈脂　杜仲　故紙　芍藥　牛膝　乳沒　威靈仙</p>
<p>如熱加黃芩、赤芍為散，各等分，每用頭酒一瓶，絹袋袋藥浸三五七日取出，隨量不拘時服。忌紅酒、堅咸、油膩等物。如孕婦去牛膝、赤芍，加歸身、艾，服七日見效，不問諸損遍身疼痛，無不應驗，珍之。</p>
<p><u>回春再造丸</u>（治手足筋骨折斷者，神效）</p>
<p>古錢（五個，煅醋淬）　然銅（同上制）　木香（各一錢）　麝（一分）</p>
<p>為末，每服二錢，無灰酒下。令患人口嚼丁香一枚，方進藥。看傷上下，食前食後服，如未妥再進。未斷骨者，慎勿輕用。接骨如神。</p>
<p><u>回生續命丹</u>（治筋骨斷，損傷疼痛不止者，神效）</p>
<p>草烏　川烏　（俱泡）　地龍　靈脂　烏藥　木鱉　青皮　陳皮　碎補　靈仙　茴香（各二兩半）　乳沒　紅娘子　麝（一分）　牽牛（五錢）　金毛狗　然銅（各二兩）　禹餘糧（四錢，煅醋淬）</p>
<p>共為末，酒調服一錢，後服再生活血止痛散。</p>
<p><u>再生活血止痛散</u>（治症如前）</p>
<p>大黃（五錢）　柴胡（二錢）　當歸（二錢）　桃仁（五個）　花粉（一錢）　山甲（一錢）　甘草（一錢）　紅花（五分）</p>
<p>半水半酒煎，空心帶熱服。</p>
<p><u>千金破血散</u>（治重傷，敗血衝心，或時昏悶者，神效）</p>
<p>羌活（二兩）　肉桂（一兩）　水蛭（炒盡煙，另研，五分）　柴胡　歸尾　連翹（各二錢）　麝（一分，另研）</p>
<p>為末，酒水各半煎去渣，入水蛭、麝在內，不拘時服，疼痛昏悶暫息後，進調經活血湯。</p>
<p><u>調經活血湯</u></p>
<p>當歸　川芎　赤芍　黃耆　陳皮　烏藥　熟地　乳香　茴香（各一錢）　姜三片、蘇葉煎服。如不止，再進四仙喝住散。</p>
<p><u>四仙喝住散</u></p>
<p>粟殼四兩（去筋幕，炒）　白芷（二兩）　炙草（兩半）　乳香（一錢，另研）</p>
<p>煎熟前三味，方入乳香，每服四錢，水酒各半煎，不拘時服。</p>
<p><u>滋榮雙解湯</u>（治打傷之後，營衛虛弱，外受風寒，內傷經絡）</p>
<p>沒藥　當歸　白芷　元胡　川烏　石蓮肉　然銅（制，水飛，各一兩）　生地　川芎（各兩半）</p>
<p>為末，每服二錢，空心老酒下，其效如神。</p>
<p><u>鐵布衫</u></p>
<p>芝麻花　苡仁　然銅　地龍　白蠟（各一兩）</p>
<p>用燒酒一大碗制過，藥曬乾為末，蘇合油調丸，彈子大，先服一丸，熱酒送下。要請人遍身打之，才出藥力。</p>
<p><u>接骨紫金丹</u>（治跌打骨折，瘀血攻心，發燒及昏不省人事）</p>
<p>月石（即硼砂）　乳沒　血竭　大黃　歸尾　碎補　然銅　土鱉（焙乾，去足，各錢半）</p>
<p>瓷器收之，每服八釐，好酒送下，其骨自接上，有惡血自下，吐血經事不調等症，俱用酒下。</p>
<p><u>補損接骨仙丹</u></p>
<p>當歸　川芎　白芍　生地　故紙　靈脂　木香　地骨皮　防風（各五錢）　乳沒　血竭（各一錢）</p>
<p>上銼一處，用夜合花樹根皮五錢，同入火酒壺內，入燒酒，重傷炆煮一枝香為度，取出服之。</p>
<p><u>將軍膏</u>（治傷損腫疼不消，瘀血流注紫黑，或傷眼上青黑）</p>
<p>大黃為末，生薑汁調敷患處。</p>
<p><u>守田膏</u>（治跌打有傷，敗血流注）</p>
<p>半夏為末，調敷患處，一宿不見痕跡。</p>
<p><u>大料七釐散</u>（治一切跌打之症，先備等急時用）</p>
<p>秦艽　羌活（各二錢）　桂枝（四錢）　靈仙　靈脂　五加皮（各，二錢）　碎補（五錢）　杜仲（四錢）　故紙（三錢）　續斷（三錢）　赤芍　紅花　牛膝　云皮　枳殼　鬱金（各四錢）　茜草　歸尾　三七　延胡索　千年健（各三錢）　土鱉（十個，制，矮腳樟，四錢）　香附（五錢）</p>
<p>以上二十四味共七兩，同研為末，每服二錢酒下。</p>
<p><u>家傳千金訣</u>（行動運氣法，先須閉口凝神，一切外務都放下）</p>
<p>肉桂（三錢）　甘草（三錢）　川烏（二錢）　乳沒（一錢）　麝（二分）　短草（即頭髮，黃泥包，火煅紅存性，不拘多少）</p>
<p>共為末，每服一錢，酒送下，不論新舊遠近跌打傷損效。至於引經藥，皆如紫金丹引經藥同。</p>
<p><u>回生內補散</u>（能止痛，壯元，治跌打）</p>
<p>白蟲（四兩，用豆腐煮一枝香）　硃砂（二錢）　川烏（六錢）　當歸（六錢）　肉桂（六錢）　人中白（一兩，瓦炒）　乳香（六錢）　磁（五錢，煅醋淬七次）　紫荊花皮（二錢）　沒藥（六錢）</p>
<p>要路上或牆腳下人便溺之處，久年碎瓦片一二塊，要二兩，洗淨火煅數次，轉糞色為度，刀刮細末二兩。廣木香一錢、山羊血五分、土鱉十九個、紅寧字錢五個（制）、雄雞膽一個、血竭三個，共為末，酒調下二錢，十次，痊愈。</p>
<p><u>家傳遍身練力方</u>（其藥各依製法，其效如神）</p>
<p>地虎（即老蛤，火酒製，一對）　松節（二兩，醋製）　當門（一錢）　川膝（二兩，醋製）　苡仁（二兩）　丹皮（二兩，醋）　當歸（二兩，酒）　南藤（一兩，醋）　川芎（二錢，酒）　甘草（二兩）　車前（兩半）　花粉（四兩，醋）　月石（一兩，醋）　五色砂（醋，一兩）　香附（一兩）　白木耳（一兩）　翠蛇（一兩）　龍骨（二兩，醋）　白蟲（四兩，酒煮）　乳沒（制，各二兩）　虎骨（二兩，醋）　土鱉（三兩，瓦焙）　珍珠（五對，酒製）　龜板（二兩，火酒製）　沉香（一兩，銼末）　水牛角（一條，火酒製、瓦炕）　白芨（二兩半）　棗仁（二錢）　枸杞（四兩）　川活（一兩）　獨活（一兩）　北辛（一兩）　小茴（一兩）　三七（一兩，薑汁炒）　前胡（一兩）　厚桂（一兩）　大茴（一兩）　人參（五錢）　陳皮（二兩）　血丹（二兩）　千下捶（即金箔，一兩）　秦艽（一兩）　廣木香（一兩）　天雄（二兩）</p>
<p>共為末，每服二錢，酒化下。要吃四十九日。</p>
<p><u>家傳跌打末藥方</u>（治一切諸症）</p>
<p>乳末（一兩，制）　上桂（一兩）　川烏（一兩）　然銅（一兩半，制）　碎補（二兩）　白蟲（四兩，酒煮）　血竭（三錢）　鹿茸（五錢）　胡麻（八錢）　全歸（一兩，酒）　山羊血（四錢）　紫石英（四錢）　龍骨（三錢，醋）虎骨（一兩，醋）　麝（三分）　硃砂（四錢）　土鱉（四十九個，瓦焙）　烏藥（一兩，炒）　童頭骨（不可用）　細辛（五錢）　故紙（八錢，炒）　首烏（一兩，忌鐵瓦炒）　三七（一兩）　鬱金（八錢）　蓯蓉（三錢）　酒芍（五錢）　菟絲子（八錢）　棗（連皮，一兩）　川芎（五錢，酒）　灰面（五錢，炒）　五味（五錢）　北艾（五錢）　牡蠣（五錢，煅醋）　白芩（五錢）　棗仁（五錢）　甘草（一錢）　禹餘糧（五錢）　桑螵蛸（五錢）</p>
<p>共為末，酒調下，但先服水藥一包。（方附後）</p>
<p><u>水藥方</u></p>
<p>紅花　歸尾　杏仁　青皮　豬苓　澤瀉　木通　車前　羌活　檳榔　生地　香附　枯芩　川柏　木香　鬱金　乳末　白芷　甘草</p>
<p>生薑引，水煎，酒後服，頭加藁本；身上加枳殼、桔梗；手加桂枝、細辛，腰加鉤藤根；眼痛加知母；大小腸及有腫加元胡、三稜、莪朮；大便閉加大黃；小便閉加牽牛子；腳加牛膝、木瓜、苡仁、加皮。</p>
<p><u>救跌死打傷無氣立地即活方</u></p>
<p>大樹虎三個（田園中）　小土狗二十一隻</p>
<p>又用新瓦二片，放在廁缸內，浸四十九日，取出洗淨。將二味放在瓦上，炕干為末，用時童便一杯，灌患人口內即轉。</p>
<p><u>家傳損傷方</u></p>
<p>硫黃（四兩，豆腐煮，九蒸九曬）　香附（四兩，童便、酒、乳、乳水各制）　然銅（二兩，制）　乳末（制，一兩）　烏藥（一兩，炒）　全歸（八錢，酒洗）　鬱金（二錢）　芥菜子（不拘多少）</p>
<p>共為末，砂糖麵糊丸，或蜜為丸，大人每服三錢，小兒一錢，酒送下。各部引經照前用。</p>
<p><u>庚金散</u></p>
<p>川烏（一個）　草烏（一個）　白木耳（二錢）　羌活（一錢）　大活（一錢）　銀箔（二十張）　南藤（五錢）　生地（一錢）　熟地（一錢）　牛膝（一錢）　半夏（二錢，薑製）　雲苓（一錢）　丁香（二錢半）　茯神（二錢）　歸尾（一錢）　紅花（一錢）　木瓜（一錢）　然銅（六錢）　血竭（一錢）　乳末（一錢）　寸香（五分）　上桂（一錢）　山甲（二錢）　硃砂（二錢）　辰砂（二錢）　人參（一錢）　白蟲（二錢）　貝母（二錢）　川山龍（三隻）　地龍（六隻）　地蝨（三隻，酒養）　土鱉（五對）　土狗（十隻，燒酒）小嘴蝦蟆（七個）　無名異（五錢）</p>
<p>共為末，每服三錢三分，用狗後腳骨火煅製為末引。</p>
<p><u>金槍藥</u></p>
<p>嫩鼠一個（存性）　兒茶（二錢）　乳沒（一錢）　雞內金（二錢）　破絲網巾（存性，一錢）　冰片（五錢）　共為末罨。</p>
<p><u>又方</u>　生半夏（一錢）　神金（五張）　白蟲（一錢）　冰片（一錢）　降香（一錢）　碎補（不拘多小）</p>
<p>共為末罨。</p>
<p><u>又方</u>　雞內金（六錢）　龍骨（二錢）　神金（五十張）　冰片（一分）　硃砂（二錢）　猴肉（二錢）　珍珠（一錢）　白蟲（一錢）　人中白（二錢）　兒茶（五錢）　乳沒（各四錢）　上力（一錢）　川連（二錢）　芷梢（五錢）　浮水石（可制四次，消風散、童便各淬）</p>
<p><u>附消風敗毒散</u></p>
<p>北辛　荊芥　羌活　薄荷　白芷　藁本　蟬蛻　銀花　粉草</p>
<p>水煎。</p>
<p><u>又方</u>　黃牛膽（一個）　白芨（二兩）　滑石（三兩）　白蟲（二兩）　共研末，灌入牛膽內，近風吹乾，取出加冰片　麝（各一分）　乳末（三錢）　干罨或調搽妙。</p>
<p><u>生肌散</u></p>
<p>石脂（五錢）　龍骨（五錢）　雄黃（五錢）　乳沒（各五錢）　上力（五錢）　陀僧一兩（便淬）　月石（五錢）　芷梢（五錢）　硃砂（五錢）　寸香（二錢）</p>
<p>共為末，罨或清油調搽，傘紙貼，日換三次。</p>
<p><u>跌打方通用</u></p>
<p>生地　靈仙　羌活　木通　乳末　加皮久加川烏、草烏，入手散寒當歸、川芎、枳殼、川樸、桔梗、云皮、南星、桂枝、陳皮、烏藥、羌活、甘草；有燒加柴胡；兩脅加膽草、青皮、肉桂、紅花，腹後加大黃；腳加牛膝；手加桂枝，破血加桃仁、歸尾、然銅、虎骨、紅花、牛膝、三七、松節、接骨草、竹節、胎髮（燒灰）同服；上部用紅花、靈仙、歸身、碎補、陳皮、蘇木、柴胡、生地、大小茴、宅南、桔梗、乳末、虎骨、元胡、檳榔、煨姜引，如久，加鬱金酒引，食後服；接脅骨加三七、血竭、膽草、青皮，本方去蘇木、檳榔、桔梗；腰後加大黃；如婦加益母草、香附；壯年去紅花、蘇木；中部用杜仲、萆薢、阿膠、續斷、石斛、寄生、菟絲、故紙、首烏、山藥，酒引；下部用歸尾、白芍、白芷、川芎、杜仲、首烏、木通、甘草、然銅、加皮、靈仙、木瓜，活血，乳末、川膝、酒引，空心服。</p>
<p><u>損傷止痛用七釐散</u></p>
<p>土鱉（二個）　肉桂（一錢）　赤芍（一兩）　細辛（一兩）　雄黃（二錢）　硃砂（二錢）　乳沒（二錢）　南星（四錢）　枳殼（四錢）　鬱金（四錢）　三七（一錢）　血竭（七錢）　麝（三分）</p>
<p>麵糊為丸，硃砂為衣。腰痛加杜仲、故紙，風寒加羌活，酒服補中益氣湯。</p>
<p><u>附補中益氣湯</u></p>
<p>黃耆　人參　甘草　白朮　陳皮　當歸　升麻　柴胡　</p>
<p>姜三片，棗二枚引。</p>
<p><u>各部引經藥</u></p>
<p>頭：防風、白芷、蔓荊子、蟬蛻、乳末、靈仙；</p>
<p>如身上、手上、足上用羌活、桂枝；眼青加青箱子、白菊、蜜蒙花、蒺藜；如有濕加蒼朮：兩手加風藤、南藤、淮膝、桂枝、六汗、靈仙、首烏、年健、鬱金、防風、松節、甘草節、菟絲子，若小兒不用此一味；兩脅：茜草、歸尾、青皮、鬱金、檳榔、枳殼、乳沒、蘇葉、防風、膽草；右脅：桑皮、血竭、杏仁（去皮尖）；胸乳旁加蒲公英；腰加故紙、杜仲、六汗、靈仙、乳末、元胡、川膝、菟絲、虎骨、香附、鬱金，兩腳加風藤、南藤、川膝、加皮、獨活、六汗、靈仙、乳沒、秦艽、烏藥、虎骨、防己、松節、菟絲子（小兒不用），腳底：鑽地風，腳背：金毛狗；腹加腹毛、天冬。</p>
<p><u>四仙喝住散</u></p>
<p>搜山虎（即鬧羊花根）　人參　三七　川烏　草烏</p>
<p><u>八仙止痛膏</u></p>
<p>川烏（五錢）　草烏（五錢）　附子（一兩）　肉桂（一錢）　生乾薑（一兩）　搜山虎（二兩）　蛇退（一條）　醉仙桃（三個）</p>

<h2>秘傳要旨</h2>
<p>夫跌打損傷者，皆氣血在身不能流行，因此成血片、血塊，或死血阻隔不能榮行，作痛難當，或昏悶不省人事，或寒熱往來，或日輕夜重，或混身浮腫，或咳血吐血，四肢倦怠，難以調理，變作多端。皆由氣血不調，故作勞傷內損，甚是可憐。總言醫者所害，夫醫不審原因，妄投藥劑，枉死者多，予甚惜之。必須要秘傳，才敢醫此，切莫視人性命如草芥，罪莫大焉！或當日下藥，貴得其宜，或受傷半月兩日才醫者，死血已固，當疏通水道，既表過不可再表，但看輕重傷損，不可執幾方亂行。看傷在何處，藥行何處，加減吃藥為妙。醫者務要看傷，先令患人解開衣服，遍身照看形色如何。受傷處原有青腫，吃藥轉行紅色者，此活其血也。傷之將愈，再用秘傳末藥幾服，庶得痊愈。有初起重傷，牙關緊閉，急將患人擊開牙關，將急救回陽丹或吹鼻，或開水薑汁一匙調灌，後用水藥，各樣末藥，無不效驗。</p>
<p><u>急救回陽丹</u>（或吹鼻，或調灌，或後服）</p>
<p>麝（五錢）　硃砂（飛）　沉香　上蠍　丁香（各一錢）　膽星　牙皂（去皮弦）　天麻　防風　乳沒（各二錢，制）　全蠍（酒洗、瓦焙）　北辛　炒甲（各五錢）　白芷（二錢）　辰砂（一錢，飛）</p>
<p>以上十六味研末，酒便同調，服八分。</p>
<p><u>通閉總方</u>（凡跌打有傷，初服後，看傷何處，加減用之，開後）</p>
<p>生地　歸尾（各一錢，俱酒洗）　紅花（一錢）　青木香（一錢）　三七（八分）　北辛（六分）　碎補（二錢，去毛）　內紅硝（一錢）　當墨（一錢）　茜草（一錢）　白芷（一錢）　防風（一錢五）　二活（如體虛及暑月則去之）</p>
<p>童便，酒為引。</p>
<p><u>各部引經開下：</u></p>
<p>頭頂及天庭太陽穴：藁本、升麻、橘紅、川芎、麝、白菊、蔓荊子、龍腦骨；面額：白芷、殭蠶、天麻、蒼耳、細辛、白附；鼻傷：黃芩、辛夷、麥冬、天冬、雄黃、天竹黃；眼目青用荊子；淚出不止用草明；紅用秦皮；紅翳用蒙花，常用木宅；翳障用石明，常用京荊，赤腫用穀精，常用七釐；瘀血赤腫用膽草；眼屎紅腫用梔仁；手：桂枝，靈仙、薑黃、草烏、菖蒲、元胡、杉節、松節、茵芋、尋骨風，耳：天葵子、慈姑、板藍子、蒲公英、貝母、石菖蒲；左脅：北柴胡、白芍、蘇子、青皮、白芥子、烏藥、膽草、桃仁（去油）、陳皮：右脅：葶藶子、杏仁、薄荷、白紫菀、款冬花、桑皮、百合、栝蔞仁：上將臺、下胃脘、胸前總用：乾漆（炒去煙）、枳實，心傷用硃砂；心胃用蕪夷、良薑；久傷用元胡、草豆蔻，常用青木香；初起傷心、胃脘用川連；肚腸：山楂、三稜、烏藥、枳殼、元胡、香附、赤芍、莪朮、青皮、檳榔、莊黃、木香；小腹：大小茴、烏藥、靈脂、豬苓、車前、元胡、山甲、通草、木通、乳沒；外腎：橘核、沉木、大小茴、川楝、吳萸、故紙、金剛鞭、荔枝核（燒灰用）；腰：杜仲、秦艽、首烏（去皮，竹刀切片，米泔浸一日，曬乾用）、六汗、故紙、石斛（心實者用，心虛者不用）、菟絲子、金櫻兜，背：紅花、天雄、內紅硝、栝蔞仁、菖蒲、三稜、金毛狗（燒去毛）；腳上及腿上：木瓜、防己、蒼朮、獨活、苡仁、海樹皮、加皮、尋骨風、山甲、寄生（折有煙起者真）；傷久者用淮膝，咽喉：元參、豆根、桔梗、梔子、甘草、木通、牛蒡子、連翹、赤芍、蒼耳子，射干吊（即萹蓄根，洗去泥土）；後閉：枳實、大黃、歸尾、檳榔、桃仁、蜣螂，再不通：芒硝、赤芍、牽牛：先閉：牽牛、茜草、木通、通草；吃，大便不通；若通則用分理：赤苓、澤瀉、豬苓、黃連；新傷重有汗，前加桂枝，有熱黃芩、柴胡；舊傷有汗倍加黃耆，熱加鱉甲、柴胡、地骨皮；新傷咳嗽加前胡、紫蘇、廣皮、法半、香附；舊傷久，咳嗽氣急，加百合、桑皮、蘇子、杏仁、貝母、橘皮、紫菀（酒炒，有血用紅，有氣用白的）、款冬花。以上各症引經，在人輕重摘用。</p>
<p><u>秘傳賽仙丹</u>（常藥）</p>
<p>當歸（酒洗，八錢）　虎脛（一個，酥）　土鱉（十個，酒焙）　龍骨（五錢，煅）　乳香（八錢）　沒藥（六錢，制）　丁香（三錢）　沉香（二錢）　上蠍（八錢，蒸去油）　辰砂（二錢，飛）　硃砂（二錢，飛）　羌活（二錢）　上桂（二錢，去皮）　小茴（二錢，炒）　大茴（二錢，炒）　碎補（五錢，去毛）　生地（八錢）　白芍（生熟，各五錢）　熟地（八錢）　川膝（五錢）　三七（二錢）　伸金藤（五錢）　防風（五錢）　丹皮（四錢）　蘇木（四錢）　秦艽（五錢）　黨參（五錢）　莪朮（四錢）　當門（五分）　紅花（四錢）</p>
<p>共為末，新舊損傷，百發百中，接骨亦可，大用妙方，切不可輕視。</p>
<p><u>按骨敷貼方</u></p>
<p>當歸（一兩，五分）　川芎（一兩）　乳沒（制，各七錢）　川烏（制，八錢）　降香（二兩）　木香（二錢）　碎補（一兩）　古錢（五錢，若無古錢，即錢上銅綠代之，用六錢，醋淬七次）</p>
<p>共為細末，用香油二兩六錢，調成膏，貼敷患處，骨筋雖斷，亦能接續，可服賽仙丹。</p>
<p><u>又方</u>（或熨，或敷，通用）：白芷　白芨　南星　木鱉　淮烏　五味研末。宅南　芙蓉葉　楓樹葉　韭菜葉　用酒釀搗爛，以舊棉絮少些放鍋內，炒熱作餅敷患處即愈。</p>
<p><u>接骨大驗方</u></p>
<p>加皮（四兩）　雄雞（一個，半斤至十二兩）</p>
<p>將雄雞殺死，去毛全身，同加皮末捶爛作餅，微炒熱，敷患處，冷了炒熱，再敷。用老酒同捶千餘下為妙。</p>
<p><u>又方</u>（專治腰痛閃銼跌，氣悶疼痛難忍者用）：乳沒（制，各二錢）　白芷（一錢）　大小茴（各二錢）　元胡（二錢）　上桂（去皮，二錢）　當歸（八錢）　枳殼（一錢）　木香（一錢）　廣皮（一錢）　赤芍（一錢）　續斷（四錢）　砂仁（一錢，五分）　香附（一錢，制）　秦艽（二錢）　烏藥（一錢）</p>
<p>共為細末，用薑湯調服，效驗如神，不可輕傳。</p>
<p><u>秘傳洗血丹</u>（陳氏傳）</p>
<p>桑寄生（一錢）　金毛狗（去毛，二錢）　生地（二錢）　赤芍（一錢）　廣木香（二錢）　牛膝（二錢）　香附（二錢，制）　青木香（二錢）　白茜草（一錢）　獨活（二錢）　木瓜（一錢）　南藤（一錢）　沉香（錢半）　三稜（一錢五）　莪朮（一錢五）　歸尾（二錢）　檳榔（二錢）　黃丹（五錢，飛）　加皮（五錢）　小茴（一錢）　白苓（二錢）　白芷（二錢）　厚朴（一錢）　木通（一錢）　陳皮（一錢）　紅花（一錢）　杏仁（去皮、尖，二錢）　故紙（一錢）　茜草（五錢）　白蟲（二錢）　虎骨（制，五錢）　碎補（二錢）　硃砂（二錢）　乳沒（各二錢）　麝（一錢）　秦艽（二錢）　六汗（二錢）　苡仁（二錢）　浙貝母（去仁，二錢）　甘草（一錢）</p>
<p>共為末，童便半杯，好酒調服一錢五分，不論新舊損傷，神效。</p>
<p><u>敷藥初方</u></p>
<p>防風　梔子　胡椒　紅曲　川烏　白芷　赤芍　鬱金　宅南</p>
<p>麵粉共為末，姜一塊，蔥五根，或韭菜根，酒糟和前藥同鍋內炒熱敷，熱天二支香久，寒天三支香久。</p>
<p><u>敷藥方</u>（不論新舊損傷皆治，或乳腫亦治）</p>
<p>白芷（二錢）　白芨（一錢）　草烏（一錢）　川烏（一錢）　肉桂（一錢）　枇杷葉　芙蓉葉（各三錢）</p>
<p>酒糟、薑汁三匙調敷，或炒熱敷，亦可。</p>
<p><u>接骨至寶七釐散</u></p>
<p>大土鱉（去頭、足，焙，三錢）　沉香（三錢）　沒藥（制，二錢）　韭菜子（炒，二錢）　黃瓜子（炒，二錢）　甜瓜子（炒，二錢）　雀爪（一付）　人參（五分，無亦可）</p>
<p>為細末，瓷器收貯，跌打損傷，每服七釐。</p>
<p><u>破傷風奇方</u></p>
<p>制川烏　南星　制草烏　首烏　半夏</p>
<p>各等分為末，姜酒調服一分半。</p>
<p><u>又方</u>（並可接骨）：三烏（各二錢）　乳沒（各四錢）　然銅（六錢）　地龍（二十一條）　麝（二錢）　虎骨（五錢）</p>
<p>共為末，每服三分，方可接骨。後解老薑汁對酒吃，吃後便止痛。</p>
<p><u>又附止痛方</u></p>
<p>乳沒（各五錢）　血竭（二錢）　歸身（一兩）　生地（五錢）　獨活（五錢）　木香（二錢）　兒茶（一錢）　鱉甲（五塊）　臺烏（一兩）</p>
<p>共為末，每服三錢，水酒送下。</p>
<p><u>接骨丹</u></p>
<p>大土鱉（四個）　地龍（紅嘴的，酒炒，十條）　黑貓骨（一付）　臺烏（八錢）　紅花（一錢）　當歸（四錢）</p>
<p>共為末，看輕重所用，若或痛甚，加乳末為主。冬季用桃樹根、苧麻根、菊花根，酒糟、老薑頭燒酒炒熱，搽揉患處數次，效如神。</p>
<p><u>水藥歌</u>　水藥歸尾檳榔青，木通紅花同鬱金，朱宅生地川羌芷，柏芩乳沒香附心，手上桂枝細辛用，足下木膝苡米仁，上傷胸膛枳殼梗，頭加川芎藁本身，大小二腸延胡索，小便木通加牽牛，此是秘傳加減法，熟讀仙方救世人。</p>
<p><u>新舊損傷方</u></p>
<p>血竭（蒸去油淨，二兩四錢）　廣木香（八錢）　川鬱金（八錢）　龍骨（羊油酥，一兩四錢）　乳沒（制，各一兩四錢）　石脂（炙，一兩二錢）　然銅（二兩二錢）　碎補（八錢）　兒茶　白蠟（各四錢）　大土鱉（八錢）　沉香（三錢）　虎骨（羊油炙，二兩四錢）</p>
<p>共為細末，川三七三錢，不拘新舊損傷，用好酒服，常用神妙，每服八分，水酒化下。</p>
<p><u>七星丹</u></p>
<p>草烏（二兩，甘草水後醋製）　白芷（七錢，甘草水後醋製）　川烏（二兩，麵包煨薑汁，黑豆炒）　鬧羊花（二兩，酒）　銀硃（一錢）　上桂（二錢）　熊膽（二錢）　童便酒服，每服三分。</p>
<p><u>碎骨丹</u></p>
<p>桂上虎（三錢，酒製）　桂枝（八錢）　醉仙桃（二兩，甘草水後燒酒過）</p>

<h2>總論</h2>
<p>醫者意也，醫之深趣，不可言傳，無所不治。求醫者，</p>
<p>四方雲集。士大夫賞饋千金，而學此道。祖父言，偈利有利。而術無窮，實足養生，豈云小補，堅是不傳，實子孫之計。師已遠矣，恐後有不肖者出，見利忘義，輕以授人。則口傳某症用某藥，其雲精通，如運之掌上。以諸方名患，皆詳載於後。</p>

<h2>秘傳損方藥名十二詠</h2>
<p><u>紅霞丹</u>（歌曰）紅霞血竭並木香，鬱金龍骨乳沒當，石脂然銅骨碎補，兒茶白蠟土鱉良，沉香硃砂各等分。師傳口授要精詳。</p>
<p><u>五通丸</u>（即千金子）患人須服五通丸，腸內疏時病易痊，血毒盡如流水去，庶令五臟得安全。</p>
<p><u>桃花散</u>（止血）：將軍黃柏石灰和，兼把黃連共一鍋，炒似桃花紅紫色，斷血傷除病自痊。</p>
<p><u>神聖散</u>（接骨）海鴉白芷赤翻階（即赤芍），白芨枇杷韭菜諧，兼有葉如貴妃臉，此藥神聖好安排。</p>
<p><u>安髓散</u>　凡人髓出必須安，好把川芎白附看，白芷去蘆和國老，製成香附兩三般。</p>
<p><u>乳香尋痛散</u>　乳香沒藥木香過，血竭沉香獨活多，白芷川芎羌活後，麝香國老不嫌和，木瓜厚桂回香重，巴蜀歸來藥幾何，淮草兩烏尋痛散，患人服此即安瘥。</p>
<p><u>活血住痛散</u>　不嫌白芷及川芎，羌活茴香獨活同，近向草淮烏可得，遠回巴蜀路能通，木瓜國老堪為伴，杜仲草烏信可攻，活血更看兼住痛，若然潮熱好消風。</p>
<p><u>消風散</u>　大凡潮熱好消風，消了風時症可攻，國主南星兼白芷，防風羌活及川芎，當歸桔梗名雖異，國老柴胡味不同，借問如何蘇息易，為因靈藥奏神功。</p>
<p><u>生肌散</u>　生肌止痛治諸傷，沒藥陀參及乳香，血竭石脂同白芷，硼砂龍骨與雄黃，硃砂明淨如諸味，香麝氤氳共一方，若或杖瘡刀刃損，用之擦治即安康。</p>
<p><u>辛香散</u>　防風荊芥苦參連，蒼朮明礬倍子賢，國老藿香羌活厚，寄奴赤芍宅南先，銀花獨活蔥根煮，白芷當歸柏葉煮，蒼耳飛鹽同入水，洗除餘毒即安痊。</p>
<p><u>通導散</u>　通導散內大黃硝，枳殼厚朴當歸頭，陳皮木通甘草入，紅花蘇木解人愁。</p>
<p><u>治跌打方</u></p>
<p>三七（一錢）　巴戟（一錢）　十大功勞（一錢，草藥）　宅南（一錢五分）　當歸（一錢）　土鱉（一錢）　東桂（一錢五分）　白蔻（一錢）　白芍（一錢五分）　生地（五錢）　乳香（二錢）　沒藥（二錢）　甘草（一錢）　小茴（一錢，五分）　砂仁（一錢）　血竭（一錢）　故紙（一錢五分）　杜仲（二錢）　桂尖（一錢五分）</p>
<p><u>全身散</u></p>
<p>紅花（三錢）　烏藥（三錢）　靈仙（三錢）　然銅（三錢）　秦艽（三錢）　六汗（三錢）　三稜（五錢）　莪朮（五錢）　乳末（五錢）　沒藥（五錢）　杜仲（三錢）　故紙（三錢）　加皮（五錢）　青皮（三錢）　枳殼（三錢）　小茴（三錢）　菖蒲（三錢）　宅南（三錢）　檳榔（三錢）　官桂（五錢）　土鱉（三錢）　木通（三錢）　木瓜（五錢）　牛膝（五錢）　赤芍（三錢）　川芎（五錢）　當歸（五錢）　血竭（五錢）　木香（三錢）　桂枝（五錢）　硃砂（三錢）　甘草（三錢）</p>
<p>共為末，水酒調服。</p>
<p><u>筋骨痛方</u></p>
<p>生地黃（一錢，五分）　杜仲（一錢五分）　川芎（一錢）　熟地（二錢）　故紙（六分）　歸身（三錢）　虎骨（炙，三錢）　秦艽（八分）　制香附（一錢五分）　洋參（一錢）　加皮（一錢）　砂仁（八分）　橘紅（一錢）　雲苓（一錢）　甘草（八分）</p>
<p>水炆酒引。</p>
<p>此本是啟萬叔傳授徒弟所抄的，至於下第二本未曾付徒抄過，似有秘旨，不肯輕授也。究竟啟叔間所用者，多在第三本上方子，總而言之，未嘗不參用之也，要訣要訣。</p>
<p><u>位卿胡樹槐謹識</u></p>

<h1>卷二</h1>

<h2>總論</h2>
<figure>
<img alt="背相全穴圖">
</figure>
<figure>
<img alt="正相通身穴道圖">
</figure>
<figure>
<img alt="右側圖">
</figure>
<figure>
<img alt="左側圖">
</figure>
<p>打撲金刃損傷，原因氣血不行，痛而生病。非如六淫七情為病，有在氣在血之分也。所以損傷一症，專從血論。但須分其有瘀血停積與亡血過多兩症。蓋打撲墜墮，皮不破而內損者，必有瘀血。有瘀血者，必須內攻。若金刃傷皮出血，或亡血過多，非兼補而行之不可也。治法原有不同，又當察其上下輕重淺深之異，經絡氣血多少之殊。先逐瘀血通經絡，和血止痛，然後養血調氣，補益胃氣，無不效也。大凡跌打損傷，觀傷用藥貴乎應手。藥有兩數，方有添除。五臟六腑，內症也，是為大穴，最難分辨下藥。手足四肢，外症也，此乃小穴，不過調敷而已。七孔俱系大穴，看傷用藥務必仔細。上焦之症，飲食不甘，中焦之症，飲食不納；下焦之症，大小便通行不止。此乃一定之症，大抵用藥以溫熱為主，而寒涼切不可妄用，恐傷血氣。謹將奇方開後。</p>
<p>人有十八大穴，三十六小穴，共五十四穴。哪為大穴，哪為小穴，看他受傷或棍打，或石，或刀，或拳傷。如棍打天庭，此乃為死穴。口中吐血，血出於七孔，嘆他二家之緣。如要醫者，先用𠜎雞湯洗淨血水，即將馬蹄子擂末敷之，後用八寶丹敷上。</p>
<p><u>八寶丹</u></p>
<p>珍珠（三分）　瑪瑙（一分）　龍骨（五分）　象皮（五分）　土鱉（十個）　鹿角膠（一錢）　乳香（五分）　沒藥（五分）　白蠟（一錢）</p>
<p>共為末，摻上。如干，用人參乳調敷，又服還魂丹（附後）。</p>
<p><u>還魂丹</u></p>
<p>當歸（一錢五分）　白芷（一錢五分）　紅花（八分）　白蠟（五分）　乳香（五分）　沒藥（五分）　虎骨（一錢）　龍骨（六分）　活血丹（一錢五分）　甘草（四分）</p>
<p>灶心土引。好酒炆服，服藥後，看他輕重。如吃藥不納，飲食不進，頭腫如瓜，血水不止，心如刀割，此症難治，不必服藥。如服藥稍減，仍服前藥。</p>
<p><u>石傷天庭敷藥</u></p>
<p>馬蹄子　南星　半夏　烏藥　金毛狗</p>
<p>各等分為末敷，吃後方：</p>
<p>當歸（一錢五分）　川芎（一錢）　青皮（一錢）　白朮（一錢五分）　乳香（五分）　沒藥（四分）　陳皮（一錢）　桔梗（一錢）　砂仁（八分）　紅花（八分）　骨碎補（三分）　金毛狗（一錢五分）　白芷（一錢）　甘草（四分）</p>
<p>用童便引，好酒炆。避風，如吃不納，再吃後藥。</p>
<p>當歸（一錢）　麥冬（一錢）　赤芍（一錢）　烏藥（一錢）　丹皮（一錢）　紅花（八分）　棗皮（一錢）　砂仁（八分）　黃蠟（五分）</p>
<p>用紅棗引，酒炆。</p>
<p><u>刀傷天庭敷藥</u></p>
<p>石灰　韭菜根　生半夏　生南星　龍骨　馬蹄子</p>
<p>各等分為末敷。</p>
<p>太陽穴受傷，血竄損目，暈倒在地，目中流血，用：</p>
<p><u>七釐散</u>　紫金錠（一錢）　神砂（三分）　三七（一錢）　山羊血（八分）　琥珀（八分）　然銅（一錢）　血竭（四分）　人中白（八分）　陳皮（一錢）　紅花（一錢）</p>
<p>共為末，每服二分，看虛實輕重用之，酒炆。</p>
<p><u>點眼八寶丹</u></p>
<p>珍珠（五分）　瑪瑙（五分）　甘石（三分）　麝（一分）　硼砂（二錢）　乳香（五分）</p>
<p>共為末，用火升過，點眼。</p>
<p>跌打嬌空穴，此乃架梁穴。如傷上穴，吃後藥：</p>
<p>當歸（一錢）　白芍（一錢二分）　茯神（錢五）　黃耆（一錢）　香附（一錢）　貫仲（一錢）　紅花（六分）　青木香（一錢）　甘草（四分）</p>
<p>燈心十根引，酒炆服。</p>
<p>如傷中穴，此為死穴。吃後藥：</p>
<p>桂枝（一錢五分）　蘇梗（一錢五分）　澤蘭（一錢）　半夏（一錢）　升麻（八分）　紅花（八分）　白芷（一錢）　陳皮（一錢）　香附（一錢）　甘草（五分）</p>
<p>用蔥一根為引，酒炆。</p>
<p>如傷下穴，為咽宮穴，血不住者，用吃後藥：</p>
<p>血竭（八分）　茜草（一錢）　桔梗（一錢五分）　獨活（一錢）　杜仲（一錢）　白朮（一錢五分）　紅花（六分）　柏葉（一錢）　連翹（八分）</p>
<p>用蔥為引，酒炆。</p>
<p>跌打耳穴傷重，此名閒空穴，通肺經之管。暈在地，先要用拿動，後用藥：</p>
<p>靈脂（一錢五分）　虎次（一錢）　當歸（一錢）　木通（一錢）　山藥（一錢）　木香（五分）　茯皮（八分）　矮腳樟（一錢）　甘草（四分）</p>
<p>童便引，酒炆。</p>
<p>跌打對口穴受傷，如傷重者，舌尖吐出在外，飲食還進，言語不清，抬頭不起，傷於筋骨，再用拿動，服後藥：</p>
<p>肉桂（四分）　茯苓（一錢五分）　白芷（一錢）　紅花（一錢）　熟地（一錢）　枳實（一錢五分）　廣木香（五分）　甘草（四分）</p>
<p>跌打牙腮，此乃小穴。看傷右傷左，傷左，右邊移掇；傷右，左邊移掇。掇上用後藥：</p>
<p>鐵馬鞭（系草藥，一錢）　碎補（一錢）　加皮（一錢）　寄奴（一錢）　金不換（系草藥，一錢）　麻骨（五分）　血見愁（系草藥，八分）　活血丹（即茜草，八分）　白牙丹（五分）　矮腳樟（一錢）牛膝（一錢）　澤南（一錢）</p>
<p>不用引，生酒炆。</p>
<p>跌打咽喉正穴，飲食不進，血氣不得行，緊閉關節，暈死在地，食管受傷，要用拿動，後服：</p>
<p><u>五虎下西川</u></p>
<p>麝（三分）　玄參（一錢五分）　母竹根（一錢）　木通（一錢）　山楂（一錢）　木香（一錢）　半夏（一錢）</p>
<p>為末，酒沖服二錢。服後，看他輕重何如？倘吃藥不納，再服：</p>
<p><u>千金分氣散</u></p>
<p>木通（一錢）　半夏（一錢）　桂枝（一錢）　赤芍（一錢）　茯苓（一錢）　羌活（六分）　青皮（一錢五分）　陳皮（一錢）　桑皮（一錢）　茯皮（一錢）　甘草（三分）　紫蘇（八分）　紅花（六分）　乳香（五分）　沒藥（四分）</p>
<p>酒炆服後，如氣血不行，再服後方：</p>
<p>麝（一分）　木香（五分）　羌活（一錢）　獨活（一錢）　桃仁（八分）　云皮（一錢）　木通（一錢五分）　生地（一錢）　三七（五分）　活血丹（五分）　甘草（三分）</p>
<p>藕節引，酒炆。</p>
<p>跌打舌醃受傷，此為小穴。服後：</p>
<p><u>香砂平胃散</u></p>
<p>蒼朮（一錢）　陳皮（一錢五分）　厚朴（一錢）　甘草（四分）　加皮（一錢五分）　香附（一錢五分）　砂仁（六分）</p>
<p>不用引，酒炆服。</p>
<p>跌打項圈，此為小穴，連於鳳膊受傷者，項與鳳膊要移掇，外用敷藥：</p>
<p>地鱉　紅曲　梔子　花椒　加皮　韭菜根</p>
<p>各等分為末，同灰面一匙打巴敷，再服後藥：</p>
<p>土鱉（十個）　紅曲（五分）　紅花（五分）　乳香（六分）　沒藥（五分）　木香（五分）　虎骨（一錢）　龍骨（一錢，煅）　鹿筋（二錢）　山甲（一錢，炙）</p>
<p>紅棗引，酒炆。</p>
<p>跌打將臺，此乃血倉穴。三年必定吐血、忍血者，陽明胃脘受傷，二氣不相接，飲食必減，漸漸瘦弱，宜服後藥：</p>
<p>官桂（五分）　桔梗（一錢）　云皮（一錢）　鬱金（八分）　陳皮（一錢）　青皮（一錢）　沉香（五分）　砂仁（六分）　硃砂（三分）　紅花（五分）　木香（三分）　香附（一錢）　甘草（三分）</p>
<p>童便引，酒炆，再服後藥：</p>
<p>硃砂（三分）　紅花（五分）　神麯（一錢）　七釐（一錢）　烏藥（一錢，五分）　枳殼（一錢五分）　三七（四分）　川樸（一錢）　菟絲餅（一錢）　川芎（八分）</p>
<p>煨姜引，酒炆，再服後藥，名為：</p>
<p><u>沉香順氣丸</u>（除根）</p>
<p>沉香（二錢）　茯苓（二兩）　赤芍（一兩）　烏藥（二兩）　血竭（二錢）　木香（五錢）　紅花（五分）　三七（二錢）　熟地（二兩）　紫草（五錢）　神砂（一錢）　白芍（二兩）　木通（一兩）　乳香（一錢）　沒藥（二錢）　白芷（一兩）　甘草（二錢）</p>
<p>早糯米半升為末，煉蜜為丸，如桐子大，每服一錢酒下。</p>
<p>跌打奶旁穴，此為二仙傳道。受傷重者，四肢麻酥，服後藥：</p>
<p>當歸（一錢）　桂枝（一錢五分）　羌活（一錢）　紅花（六分）　細辛（六分）　木香（五分）　猴骨（八分）　乳香（五分）　沒藥（五分）　牛蒡子（八分）</p>
<p>灶心土五錢引，酒炆。再服後藥：</p>
<p>川芎（一錢）　三七（三分）　沉香（三分）　云皮（一錢）　紅花（五分）　杏仁（五分）　當歸（一錢）　茱萸肉（一錢）　菟絲子（一錢）　半夏（一錢）　甘草（四分）</p>
<p>童便引，酒炆。</p>
<p>跌打乳旁之下，左邊氣門血倉，右邊血門。氣門血倉受傷，三朝一七死，乃是養命之源，四肢不舉，上下不接，用後藥服：</p>
<p>蒼朮（一錢）　陳皮（一錢）　川樸（一錢）　甘草（四分）　枳殼（一錢）　香附（八分）　砂仁（六分）　木香（三分）　神麯（八分）　加皮（一錢）　菟絲子（八分）</p>
<p>燈心十根引，酒炆。又用童便，銀花炆肉吃，再服通行打血湯，附後：</p>
<p>大黃（一錢）　朴硝（八分）　蘇木（一錢）　紅花（六分）　桃仁（六分）　小茴（一錢）　牛膝（一錢）　甘草（四分）　寄生（一錢）　巡骨風（一錢）</p>
<p>不用引，酒炆服後，看他血有紫黑，如紫者再服後方：</p>
<p>硃砂（三分）　三七（五分）　故紙（一錢）　桔梗（一錢）　赤芍（一錢）　茯苓（一錢）　烏藥（一錢）　獨活（一錢）　歸身（一錢）　甘草（四分）</p>
<p>紅棗二枚引，酒炆服後，如有虛腫不消，再服後方：</p>
<p>人參（一錢）　黃耆（錢五）　熟地（一錢）　山藥（一錢）　當歸（一錢）　白芍（一錢）　赤芍（一錢）　官桂（五分）　烏藥（一錢）　甘草（四分）　福元肉三個引，水炆。</p>
<p>跌打右邊乳旁之下，氣門血倉受傷，閉死在地，要用擒拿，服後方：</p>
<p>木通（一錢）　桂枝（一錢）　赤芍（一錢）　茯苓（一錢）　半夏（一錢）　羌活（八分）　紫蘇（八分）　桑皮（一錢）　大腹皮（一錢）</p>
<p>蔥白引，酒炆，再服後方：</p>
<p>桃仁（八分）　紅花（六分）　乳香（五分）　沒藥（五分）　當歸（一錢）　麻骨（六分）　半夏（一錢）　苡仁（一錢）　木通（一錢）　甘草（四分）</p>
<p>姜引，酒炆。</p>
<p>跌打七坎心頭，此乃天平針，實為大穴。人心為主，口中吐血，心中刀割。不食，冷汗不止，夜中煩躁，此傷命在旦夕。看他緣法。服後藥：</p>
<p>金砂（一錢）　銀砂（一錢）　血竭（一錢）　虎骨（一錢）　然銅（八分）　山羊血（五分）　人中白（一錢）　三七（四分）　甘草（四分）</p>
<p>灶心土一錢引，酒炆服。不效不必治，有效再服後方：</p>
<p>甘草（四分）　硃砂（五分）　沉香（五分）　當歸（一錢）　紅花（六分）　三稜（八分）　莪朮（八分）　官桂（六分）　麥冬（一錢）　龍骨（六分）　枳實（一錢）　神麯（一錢）　橘紅（一錢）</p>
<p>生薑引，酒炆。再服後方：</p>
<p>生地（一錢）　杜仲（一錢）　半夏（八分）　良薑（六分）　當歸（一錢）　茯苓（一錢）　丹皮（一錢）　木香（五分）　甘草（四分）</p>
<p>不用引，酒炆。</p>
<p>跌打心頭中脘，此乃大穴。番與腸肚，飲食不納，氣往上逼，兩接不通，服後藥：</p>
<p>硃砂（五分）　石耳（五分）　枳殼（一錢五分）　川樸（八分）　砂仁（六分）　白芷（八分）　茯苓（一錢）　云皮（一錢）　故紙（八分）　黃耆（一錢）　甘草（四分）</p>
<p>紅棗引，酒炆。服後看嘔不嘔，如效，再服後方：</p>
<p>黃耆（一錢五分）　桔梗（一錢）　木香（五分）　粟殼（六分）　附子（一錢）　甘草（四分）</p>
<p>姜引，酒炆。不嘔再服後方：</p>
<p>香附（一錢）　木香（五分）　連翹（八分）　加皮（一錢）　紅花（六分）　乳香（五分）　沒藥（五分）　陳皮（一錢）　故紙（八分）　甘草（四分）</p>
<p>童便引，酒炆。</p>
<p>跌打背漏受傷，此乃人宮之穴。半年一載，咳嗽，黃腫，四肢無力，子午潮熱，宜早治之。服後藥：</p>
<p>當歸（一錢）　宅南（一錢）　碎補（一錢）　寄奴（一錢）　川芎（八分）　地榆（一錢）　金毛狗（一錢）　檳榔（八分）　紅花（五分）　乳沒（各五分）　蒼朮（八分）　甘草（四分）　蓽澄茄（八分）　菟絲子（一錢）</p>
<p>圓肉引，酒炆。服後看他輕重，重者再服後方：</p>
<p>當歸（一錢）　桃仁（六分）　紅花（六分）　乳香（五分）　沒藥（五分）　秦艽（一錢）　續斷（一錢）　枸杞（八分）　木香（五分）　雙寄（一錢）　劉寄奴（一錢）　甘草（四分）　靈仙（一錢）　黑豆一撮引，酒炆，再服加味平胃丸：蒼朮（二兩）　陳皮（一兩）　川樸（一兩）　甘草（五錢）　黃耆（八錢）　砂仁（八錢）　枸杞（五錢）　香附（一兩）　菟絲子（六錢）　加皮（二兩）</p>
<p>為末，蜜丸桐子大，每服三錢，酒下。</p>
<p>跌打背脊受傷，名頓梁穴。身體無力，頭暈不起，疼痛難當，速服後藥：</p>
<p>土鱉（一錢）　桃仁（六分）　紅花（六分）　乳香（五分）　沒藥（五分）　猴骨（一錢）　虎骨（一錢）　寄奴（一錢）　粟殼（八分）　牡蠣（煉，八分）　木香（五分）　碎補（一錢）　甘草（四分）　龍骨（一錢）</p>
<p>紅棗童便引，酒炆。服後，用敷藥：</p>
<p>金毛狗（一錢五分）　土鱉（十個）　韭菜根（三錢）　乳香（一錢）　沒藥（一錢）　紅花（一錢）</p>
<p>共搗敷，再吃後藥：</p>
<p>熟地（一錢）　茯苓（一錢）　白芷（一錢）　秦艽（六分）　沉香（六分）　桔梗（一錢）　羌活（八分）　杜仲（一錢）　續斷（一錢）　龍骨（煅，一錢）　甘草（四分）</p>
<p>黑魚骨一錢引，酒炆。</p>
<p>跌打血脘之下者，乃是淨瓶穴。受傷者作寒作熱，半年一載，咳嗽出血，血雖不多，潮熱不住，宜服後藥：</p>
<p>三七（八分）　桃仁（八分）　紅花（六分）　乳香（六分）　沒藥（五分）　生地（一錢）　血竭（五分）　木香（五分）　蒼朮（一錢）　升麻（八分）　苡仁（一錢）　矮腳樟　紫草茸（七分）　甘草（四分）</p>
<p>藕節引，酒炆。外用敷藥：</p>
<p>水銀（一錢）　梔子（一兩）　紅花（五錢）　加皮（五錢）</p>
<p>用黃毛雞子一隻，同搗敷上，又吃後藥：</p>
<p>木香（五分）　雲苓（一錢）　白朮（一錢）　官桂（五分）　地榆（八分）　七釐（一錢）　乾葛（八分）　生地（一錢）　桑皮（一錢）　莪朮（八分）　甘草（五分）</p>
<p>藕節引，酒炆。</p>
<p>跌打淨瓶之下，此乃血路大穴。傷重者咳嗽不止，不過三年，氣血兩虧，漸成弱症，宜服後藥：</p>
<p>靈脂（一錢）　肉桂（五分）　雲苓（一錢）　苡仁（一錢）　紅花（五分）　乳香（五分）　沒藥（五分）　丹皮（一錢）　木香（五分）　大黃（八分）　甘草（四分）</p>
<p>用蓮子十粒為引，酒炆。再服後藥：</p>
<p>靈脂（一錢）　硃砂（五分）　乳香（五分）　沒藥（五分）　青皮（一錢，五分）　赤芍（一錢）　陳皮（一錢五分）　生地（八分）　雲苓（一錢）　大腹皮（一錢）　碎補（一錢）　加皮（一錢）　甘草（四分）</p>
<p>用童便一盞引，酒炆服。後看他輕重，再服後藥：</p>
<p>生地（一錢）　茜草（一錢）　山藥（一錢）　血蠍（八個）　木香（五分）　烏藥（一錢）　白芷（一錢）　赤芍（一錢）　三七（四分）　熟附（一錢）　紅花（六分）　甘草（四分）</p>
<p>藕節引，酒炆。</p>
<p>跌打鳳翅，此乃盆弦之大穴也。受傷重者，三朝一七，氣往上逼，口中無味，軟如麻糖，心中煩躁，食不納，宜取後藥：</p>
<p><u>羌活活血湯</u></p>
<p>羌、活（一錢）　烏藥（一錢）　半夏（一錢）　木通（八分）　石耳（六分）　紅花（八分）　血竭（八分）　丹皮（一錢）　檳榔（八分）　木香（五分）　升麻（六分）　故紙（一錢）　小茴（一錢）　紅曲（一錢）</p>
<p>薑、童便引，酒炆服。再服後方：</p>
<p>肉桂（五分）　三七（八分）　紅花（六分）　青皮（一錢）　陳皮（一錢）　枳殼（一錢）　川樸（一錢）　加皮（一錢）　杏仁（六分）　牛蒡子（八分）　使君子（一錢）　甘草（四分）</p>
<p>紅棗引，酒炆服。後看他輕重，再服後方：</p>
<p>黃耆（一錢）　茯苓（一錢）　歸身（一錢）　故紙（一錢）　砂仁（六分）　乳香（五分）　沒藥（五分）　紅花（五分）　桂枝（八分）　桔梗（一錢）　黃柏（六分）　木通（八分）　連翹（八分）　甘草（四分）</p>
<p>童便引，酒炆。</p>
<p>跌打傷子宮門，此乃命宮穴。受傷者服後藥：</p>
<p>枳殼（一錢）　川樸（八分）　細辛（八分）　紅花（六分）　麥冬（一錢）　菟絲（一錢）　血竭（八分）　沙參（一錢）　當歸（一錢）　然銅（一錢）　七釐（八分）　靈脂（一錢）</p>
<p>薑、童便引，酒炆。再服後方：</p>
<p>川芎（一錢）　七釐（八分）　獨活（一錢）　白芷（一錢）　栝蔞（八分）　梔仁（六分）　桔梗（一錢）　升麻（八分）　附子（一錢）　白蠟（一錢）　紅花（六分）　甘草（三分）</p>
<p>姜引，酒炆。</p>
<p>跌打肚角，此乃大穴。受傷飲食不納，氣往上攻，腹中疼痛，冷汗不止，傷大腸宜服後藥：</p>
<p>小茴（一錢）　附子（一錢五分）　石耳（八分）　肉桂（八分）　木香（六分）　良薑（八分）　白芍（一錢五分）　故紙（一錢）　紫草節（五分）　青皮（一錢）　杏仁（六分）　枳實（一錢）　紅花（六分）　甘草（四分）</p>
<p>柿花蒂引，酒炆服。再服後方：</p>
<p>肉桂（六分）　雲苓（一錢）　柴胡（八分）　腹皮（一錢）　枳殼（一錢）　川樸（一錢）　熟地（一錢）　丹皮（八分）　木香（五分）</p>
<p>姜為引，酒炆。服後看他輕重，重者加後幾味：</p>
<p>黃芩（八分）　赤芍（一錢）　乳香（五分）　沒藥（五分）　烏藥（一錢）　山藥（一錢）　紅花（六分）　白朮（一錢）　甘草（三分）</p>
<p>藕節引，酒炆。</p>
<p>跌打傷肚臍者，此為六宮穴。受傷重者，汗出如雨，四肢麻閉，腹中疼痛。傷於五臟六腑，上嘔下泄，兩氣不接，不可亂醫，宜服後方：</p>
<p>人參（一錢）　生地（八分）　紅花（六分）　薄荷（六分）　桔梗（一錢）　烏藥（八分）　乳香（六分）　沒藥（六分）　故紙（一錢）　白蠟（一錢）　龍骨（一錢）　甘草（五分）</p>
<p>姜引，酒炆。重者服後方：</p>
<p>槐角（一錢）　元胡（一錢）　當歸（一錢）　地榆（八分）　小茴（一錢）　云皮（一錢）　大腹皮（八分）　蒼朮（一錢）　紅花（八分）　茯苓（一錢）　甘草（四分）</p>
<p>藕節引，酒炆。服後，此傷若重，肚腫不食。再服後方：</p>
<p>靈砂（一錢）　白蠟（一錢）　小茴（二錢）　血竭（一錢）　紫荊皮（二錢）　川樸（一錢）　然銅（一錢）　人中白（三錢）　木香（一錢）　紅花（一錢）　雲苓（一錢）　甘草（一錢）　乳香（一錢）　沒藥（一錢）　龍骨（二錢）　三七（一錢）　麝（一分）　丁香（一錢）</p>
<p>為末，酒沖服一錢。又用敷藥：</p>
<p>當歸（二錢）　麝（一分）　白蠟（二錢）　銀硃（一錢）　蒼朮（三錢）</p>
<p>為末，用小雞同搗，敷臍。</p>
<p>跌打傷鳳尾穴，此大穴。重者氣血行，腰眼痛，人又黃又腫，必定打斷鳳翅，若斷者即積血有餘，大便不通，身體不和。服後藥：</p>
<p>桑寄（一錢）　合夕風（一錢）　甘草（五分）　乾葛（八分）　故紙（一錢）　半夏（一錢）　加皮（一錢）　紅花（六分）　木香（五分）　肉桂（五分）　虎骨（一錢）　升麻（八分）　木通（八分）　土鱉（一錢）　山甲（一錢）　乳沒（各五分）</p>
<p>藕節引，酒炆。再用敷藥：</p>
<p>乳香（一錢）　碎補（二錢）　沒藥（一錢）　紅曲（三錢）　土鱉（十個）</p>
<p>為末，糯米飯搗敷，再服後方：</p>
<p>秦艽（一錢）　土鱉（一錢）　紅花（八分）　麻骨（八分）　木香（六分）　六汗（一錢）　肉桂（四分）　熟地（一錢）　加皮（一錢）　甘草（四分）</p>
<p>童便引，酒炆。</p>
<p>跌打脅下，此為雙燕入洞。受傷看他左右：左傷者四肢無力，黃瘦吐血；右傷者半身不遂，血氣走於七孔。嘆他二家緣法。服後方：</p>
<p>桂枝（一錢）　羌活（一錢）　紫蘇（八分）　青皮（一錢）　陳皮（一錢）　雙皮（一錢）　腹皮（一錢）　雲苓（一錢）　半夏（一錢）　木通（一錢）　赤芍（八分）　甘草（四分）</p>
<p>姜引，酒炆。再服後方：</p>
<p>官桂（五分）　橘紅（八分）　丹皮（八分）　木香（五分）　紅花（六分）　桃仁（六分）　云皮（一錢）　乳香（五分）　沒藥（五分）</p>
<p>蓮子引，酒炆。再服後藥：</p>
<p>人參（一錢）　茯苓（一錢）　金銀花（一錢五分）　香附（一錢）　三七（一錢）　紅花（八分）　蒼朮（一錢）</p>
<p>藕節引，酒炆。</p>
<p>跌打脅下左邊者，服後藥：</p>
<p>當歸（一錢）　白芷（一錢）　梔仁（八分）　赤芍（一錢）　川芎（一錢）　桃仁（六分）　沉香（六分）　紅曲（一錢）　秦艽（一錢）　木香（五分）　血竭（八分）　硃砂（三分）　甘草（五分）</p>
<p>童便引，酒炆。</p>
<p>跌打傷掛榜，此乃大穴。傷者身上麻閉，或寒或熱。傷於腹，內血積塊，四肢無力。服後藥：</p>
<p>大黃（一錢）　紅花（八分）　蘇木（一錢）　木香（一錢）　宅南（一錢）　陳皮（一錢）　桃仁（六分）　當歸（一錢）　土鱉（一錢）　寄生（一錢）　巡骨風（一錢）　木通（八分）　苡仁（一錢）　甘草（四分）</p>
<p>姜引，酒炆。再服後方：</p>
<p>熟地（一錢）　砂仁（六分）　黃耆（一錢）　赤芍（一錢）　紅花（六分）　肉桂（三分）　白芍（一錢）　雲苓（一錢）　山藥（一錢）　乳沒（各五分）　甘草（四分）</p>
<p>圓肉引，酒炆。</p>
<p>跌打腰中，此乃大穴。或棍打拳打，棍打者不必服藥，拳打方可醫治。腰上欠於背筋，不能起。服後藥：</p>
<p>肉桂（八分）　龍骨（一錢）　鹿筋（一錢）　栝蔞仁（八分）　加皮（一錢）　紅花（八分）　虎骨（一錢）　土鱉（一錢）　香附（一錢）　八能麻（一錢）　木香（六分）　甘草（四分）</p>
<p>藕節引，酒炆。外用敷藥：</p>
<p>肉桂（三錢）　芥菜子（三錢）　乳沒（各一錢五分）</p>
<p>為末，雞蛋清調敷，再服後方：</p>
<p>茜草（一錢）　桂枝（一錢）　雲苓（一錢）　丹皮（一錢）　碎補（一錢）　寄奴（二錢）　故紙（二錢）　加皮（一錢）　甘草（四分）</p>
<p>童便引，酒炆。</p>
<p>跌打傷尾結者，此為銅壺滴漏大穴。受傷者，大便不收，小便長流，腹中痛。服後方：</p>
<p>熟附（五分）　黃耆（一錢）　當歸（一錢）　雲苓（一錢）　茯神（一錢）　白芍（一錢）　血竭（八分）　陳皮（八分）　乳香（六分）　沒藥（六分）　升麻（一錢）　甘草（五分）　元胡（八分）　小茴（一錢）</p>
<p>紅棗引，酒炆。服後看他何如，重者血入小便不必治，如大便已收，小便已回，再服後方：</p>
<p>故紙（一錢）　豬苓（一錢）　車前（八分）　桂枝（八分）　丹皮（一錢）　然銅（一錢）　小茴（一錢）　宅南（一錢）　滑石（六分）　沉香（五分）　木香（五分）　烏藥（一錢）　白蠟（一錢）　甘草（四分）</p>
<p>紅棗引，酒炆。</p>
<p>跌打傷下竅，名為膀胱。受傷驚於兩子，此乃大穴。受傷重者，要用擒拿，後服後方：</p>
<p>故紙（一錢）　桔梗（一錢）　丹皮（八分）　紅花（六分）　木通（一錢）　肉桂（八分）　雲苓（一錢）　木瓜（一錢）　三七（五分）　大茴（八分）　乳香（五分）　沒藥（五分）　獨活（八分）　甘草（四分）　七葉一枝花（草藥名，一錢）</p>
<p>灶心土一錢為引，酒炆服後，後又服下方：</p>
<p>滑石（一錢）　龍骨（一錢）　烏藥（一錢）　棗皮（一錢）　硃砂（四分）　茯神（一錢）　人中白（一錢）　故紙（一錢五分）　蓮鬚（一錢）　秦艽（一錢）　六汗（一錢）　川樸（八分）　紫荊皮（八分）　茯苓（一錢）　甘草（四分）</p>
<p>蓮肉引，酒炆。</p>
<p>跌打傷兩膊者，此乃童子骨。看兩膊斷未斷，斷者腫，連骨節疼痛難當，脅下如刀割。或傷在上，或在中，或在下。上者失於腕膊，中者失於骨節，下者失於手腕。若打斷者，先用移掇，後用敷藥：</p>
<p>土鱉（十個）　紅花（二錢）　梔子（二錢）　加皮（二錢）　肥皂（一個）　龍骨（二錢）　肉桂（二錢）　乳香（五分）</p>
<p>共為末，用小雞同搗敷上，用杉木皮夾住，內服接骨丹。其丹方在後：</p>
<p>土鱉（一錢）　猴骨（一錢）　鹿筋（一錢）　白芷（一錢）　龍骨（一錢）　肉桂（五分）　乳沒（各五分）　甘草（四分）</p>
<p>藕節引，酒炆。再服後方：</p>
<p>茜草（一錢）　木通（一錢）　丹皮（一錢）　木香（五分）　金毛狗（一錢）　陳皮（一錢）　龍骨（一錢）</p>
<p>童便引，酒炆。若跌脫骨節，氣血兩不接，要移掇之。看他腫不腫，要疼腫者，血聚鎖骨節，要用打針，再服後方：</p>
<p>當歸（一錢）　金毛狗（一錢）　矮腳樟（一錢）　寄奴（一錢）　甘草（四分）</p>
<p>童便引，酒炆。</p>
<p>跌打傷大腿骨節，服後方：</p>
<p>當歸（一錢）　熟地（一錢）　矮腳樟（一錢）　靈仙（一錢）　地南蛇（一錢）　加皮（一錢）　合夕風（一錢）　碎補（一錢）　紅花（六分）　寄奴（一錢）　木通（一錢）　甘草（四分）</p>
<p>不用引，酒炆。</p>
<p>跌打傷䙀膝，或跌或打，先用移掇，後敷藥：</p>
<p>加皮（五錢）　紅曲（一兩）　梔子（五錢）</p>
<p>為末，小雞同搗敷，再服後方：</p>
<p>獨腳蓮（草藥，一錢）　過江龍（草藥，一錢）　五加皮（一錢）　牛膝（一錢）　木通（八分）　紅花（六分）　蒼朮（一錢）　升麻（八分）　砂仁（六分）　甘草（四分）　八楞麻（一錢）</p>
<p>為末，加茄根一錢引，酒炆。</p>
<p>如棍打於膝醃，疼痛難當者，用後敷藥：</p>
<p>人參（一錢）　地鱉（五錢）　龍骨（二錢）　肥皂（五錢）</p>
<p>一同搗敷，杉皮夾攏後，服後藥：</p>
<p>當歸（一錢）　熟地（一錢）　沒藥（五分）　虎骨（一錢）　矮腳樟（一錢）　地南蛇（一錢）　五加皮（一錢）　牛膝（一錢）　木瓜（一錢）　獨活（八分）　茄根（一錢）</p>
<p>酒炆。</p>
<p><u>接骨丹</u></p>
<p>當歸（二錢，生為末）　川烏（一兩，薑汁泡浸，炒）　草烏（七錢，薑汁泡浸，炒）　續斷（一兩，生為末）　首烏（一兩五錢，豆水炆，曬乾為末，去豆）　故紙（五錢）　小茴（五錢）</p>
<p>煎水浸水一夜，取出故紙，曬乾為末。去小茴、鬧羊花，用甘草炆水洗浸，陰乾為末二錢，甘草渣不用，七味為末。每遇跌打有傷處，將骨移掇如初，然後每服三分。體厚傷重者，只可五分，切不可多，黃酒送下，只服一次為度。如足傷者，加牛膝末，入接骨丹內，好酒調服，服後忌風，見風不效。包裹損處；萬不可動。若稍動，骨節不接。吃藥後覺手足昏暈頹頓，來日解黃糞；切莫害怕，自愈。藥內如無鬧羊花全料，藥內當以麝香一錢代之、但麝不宜預合在藥內，合日久，麝力則過無效。不比鬧羊花久合無害。稱過接骨一錢三分五釐，臨用加麝二釐，如有鬧羊花一料之中，依數三錢預合尤便，用麝則不用鬧羊花，此二者不得並用。此丹予目睹愈人多甚，當預合救世。孕婦忌用。遠年久損者，好酒每日下三分，吃酒以量為度：近日損者，既服後務要忌：動，一歲一日。傷手者，不得舉動，傷足者不得行走，日滿後不忌，須慎之也。</p>

<h1>卷三</h1>

<h2>跌打水藥歌</h2>
<p>歸尾與生地，檳榔赤苓居，四位堪為主，加減任遷移。頭傷加羌活，防風白芷隨。胸傷加枳殼，木香桔梗奇。傷若在中脘，速加石菖蒲。兩脅柴胡進，膽草繼青皮。腰間加杜仲，故紙並大茴。上焦加烏藥，靈仙效不虛。糞門如有犯，木香不可離。肚角如有傷，青皮白芍宜。傷手桂枝進，又有五加皮。若還傷了腿，牛膝木瓜皮。不通其大便，大黃正及時。不通其小便，車前草佐之。如潮紅實腫，宅南效更奇。若是得傷久，桃仁七粒宜。苧麻一錢足，燒灰存性隨。一根蔥作引，童便用一杯。生酒一瓶煮，吃藥不宜遲。依方無差錯，焉有不效之。</p>

<h2>觀音針（一點一針）</h2>
<p>乳香（二錢）　沒藥（二錢）　明雄（二錢）　蟾酥（四分）　川烏（二分）　冰片（一分）　麝（一分）　硃砂（二錢）　硫黃（五錢）</p>
<p>前八味為末，將硫黃入鍋化開，再入前末和勻，放青石上以平物壓如錢厚，剪如米大，遇患處燒一二粒即愈。但燒先切附子一片，浸濕，上放一錢，錢眼放藥，是以附子隔住。</p>

<h2>雷火針</h2>
<p>川烏　草烏　乳香　沒藥（各一錢）　硫黃（一錢五分）　蒼朮（七分）　山甲（炒焦）　鬧羊花（各一錢五分）　麝（三分）　艾茸（不拘多少）</p>
<p>共為末，以棉紙一張，上用油潤草紙二、三層。將前藥均勻鋪上，如卷爆竹樣要緊。每遇患處，用草紙七層隔之，將藥以竹筒同之，點紅對患處按定灸之，即刻揭起，其藥性已攻入內，無不神效。</p>

<h2>九龍針</h2>
<p>冰片　麝各（二分）　丁香　安息香　乳香　沒藥　沉香　斑蝥　艾茸（各一錢）</p>
<p>為末照前樣卷，打患處。</p>

<h2>太乙救苦針</h2>
<p>（治一切骨節痛）</p>
<p>麝（一分）　蟾酥（一分）　硫黃（二分）　沉香（二分）　生草烏（二分）　乳香（二分）　山甲（一分）　川烏（二分）　沒藥（二分）</p>
<p>用艾茸五分，紙卷如爆竹樣，對患針之，即愈。</p>
<p><u>麻藥敷法</u></p>
<p>胡椒　蟾酥　生半夏　烏頭尖　蓽茇　細辛　生南星　生草烏</p>
<p>為末，火酒調敷患處，則麻痹不知痛癢，任刀割。</p>

<h2>又麻藥方</h2>
<p>生南星　生半夏　生川烏　生草烏　姜花　鬧羊花　乳香　沒藥（各等分）</p>
<p>共為末罨之。</p>
<p><u>千金一笑散</u>（治跌打）</p>
<p>五倍子（五錢）　蟬蛻（五錢）　松香（新瓦焙乾去油，五錢）　黃狗天靈蓋（火煅存性）　淨骨（三兩）</p>
<p>共為末，敷患處即好。</p>
<p><u>七釐散</u>（治跌打）</p>
<p>土鱉（一錢四分，炒乾）　乳香（一錢二分，去油）　沒藥（一錢二分，去油）　辰砂（三分）</p>
<p>為末，每服七釐，酒沖服。</p>
<p><u>又七釐散</u>（治傷重接骨，並治婦人經水不通。每服三分，水酒送下共為末者）：</p>
<p>土鱉（一錢，焙）　硼砂（一錢，炒）　血竭（三錢）　靈脂（一錢，炒）　硃砂（一錢，飛）　沒藥（去油，一錢）　沉香（一錢）　然銅（一錢，制）　碎補（一錢）　白蠟（一錢）　歸尾（一錢）　珍珠（一錢）　琥珀（一錢）　片腦（五分）　金箔（二十張）</p>
<p><u>定痛接骨紫金丹：</u></p>
<p>川烏（炮）　草烏（炮，各一兩）　靈脂（去土）　木鱉（去殼）　黑牽牛（生）　碎補　威靈仙　狗脊　防風　然銅（火煅醋炙七次）　地龍（去土）　烏藥　青皮　陳皮　茴香（各五錢）　乳香　沒藥　麝　紅藥子（各一錢五分）　禹餘糧（火煅醋炙，四兩）</p>
<p>為末，醋糊丸，如桐子大，每服十丸至二十丸，溫酒送下。病在上，食前服；在下，食後服。</p>
<p><u>紫金丹</u>（單名紫金丹，方內加肉桂、丁香，又名八寶丹）：</p>
<p>鬧羊花（四錢）　馬前子（一兩）　肉桂（四錢）　枳殼（一兩，六錢）　三七（一兩）　丁香　血竭（各一兩）　土鱉（八錢）</p>
<p>為末，每服四分。（馬前子用童便浸數日取用，更妙）</p>
<p><u>紫金丹</u>（又名全身散）：</p>
<p>三稜（三錢）　宅南（二錢）　桂尖（三錢）　故紙（二錢）　莪朮（三錢）　六汗（三錢）　檳榔（三錢）　烏藥（三錢）　靈仙（三錢）　小茴（三錢）　枳殼（三錢）　乳末（六錢）　土鱉（三錢）　當歸（三錢）　川樸（三錢）　血竭（三錢）　然銅（一錢）　石菖蒲（一錢）　赤芍（二錢）　巴霜（去油，一錢）　川芎（三錢）　青皮（二錢）　山甲（一錢）　紅花（三錢）　木香（三錢）　官桂（三錢）　牛膝（三錢）</p>
<p>以上各等分為末，每服八分，酒化。</p>
<p><u>接骨丹</u></p>
<p>治折傷筋骨，骨碎筋斷，痛不可忍，此方秘傳屢效。</p>
<p>用路上牆腳下，往來人便溺處，年久碎瓦片幾塊，洗淨火煅，紅米醋淬五次，黃色為度，刀刮為細末，每服三錢，好酒送下。（歌云）神仙留下接骨丹，指頭落地不為難，若將此藥來敷上，不到紅日落西山。</p>
<p><u>接骨靈驗丹</u>（治打撲骨損。服此藥，自頂心尋至受傷處，則颯颯有聲，覺藥力習習往來，則愈矣）</p>
<p>沒藥　蘇木　川烏（去皮尖）　松明節　乳香　降香（各一兩）　龍骨　地龍（去土，炒）　水蛭（炒，各五錢）　血竭（三錢）　土狗（十個，油浸焙乾）　然銅（煅醋浸七次，一兩）</p>
<p>共為末，每服五錢，無衣酒調下。病在上食前服，在下食後服。</p>
<p><u>金瓶導氣散</u>（治跌打不拘遠近年傷）</p>
<p>木耳（一兩，分五錢童便炒，分五錢入古銅錢二三個，和醋炒，去銅錢不用，只用二味木耳，共為末）　白蠟（五錢，為末）　乳香（一錢，去油）　沒藥（一錢，去油）</p>
<p>共為末，合勻，每服用紅花五分，老人三分，煨姜酒調藥。前藥用二錢，空心服，次服不用紅花，只用酒服，止痛如神。</p>
<p><u>應手丹</u>（又名金槍散，治刀斧傷破）</p>
<p>陳石灰（三兩）　松香（五錢）　白蠟（三錢）　生大黃（一兩，切片，先炒石灰、大黃，後將松香、白蠟入罐溶化，投石灰入內攪勻，用罐裝好，埋土內一七，後用）</p>
<p>又有去大黃，只石灰二兩、松香二兩，白蠟二錢，先將石灰為細末聽用，其松香、白蠟用鍋煎溶化，再入石灰攪勻，傾於地下，鋪開成塊，臨用研碎敷搽，止痛止血。</p>
<p><u>金槍藥</u>（又名刀斧藥，並治騾馬踏破，一七即愈）</p>
<p>水龍骨（即船上麻骨，煅，一兩）　血餘（三錢，燒灰）　黃丹（五錢）　鉛粉（炒，五錢）　血竭（三錢）　乳香　沒藥（各三錢，去油）　珍珠粉（一錢）　輕粉（一錢）　三七（三錢）</p>
<p>共為末罨。</p>
<p><u>又金槍藥</u>（脈虛細生，急痰者死）</p>
<p>銀箔　血竭　發灰　人指甲灰（焙存性）　虎骨（燒存性，換指甲亦可）　珍珠（燒存性）</p>
<p>共為末。</p>
<p><u>又刀斧藥</u></p>
<p>白芨　礦石灰（一兩，炒）　乳香（二錢）　血竭（二錢）　花蕊石（三錢）</p>
<p>為末，入牛膽內陰乾，取出再研，罨。</p>
<p><u>又刀斧藥</u></p>
<p>生半夏　白蠟　白芨　白芷　無名異　國丹　龍骨　冰片</p>
<p>共為末，聽用。</p>
<p><u>又金槍藥</u>（止痛、止血、生肌）</p>
<p>白銀花　血竭　發灰　人指甲　珍珠（俱燒存性）</p>
<p>各等分，為末，罨。</p>
<p><u>八仙丹</u>（治筋骨痛，小兒、孕婦忌服）</p>
<p>丹皮（五錢）　紫荊皮（五錢）　草烏（二兩五錢）　紅花（五錢）　小茴（五錢）　烏藥（五錢）　青皮（五錢）　加皮（五錢）</p>
<p>不見火，曬乾研末。每服三分，酒下。忌房事。亦有加樸、桂各五錢。</p>
<p><u>二仙丹</u>（治跌打，孕婦忌服）</p>
<p>馬前子（童便浸一七，去皮切片，七錢）　枳殼（切片，三錢）　用紅花　乳沒　檳榔　桂枝　川樸（各二錢）</p>
<p>炆水酒一大碗，浸前二味，浸曬三四次，然後炒灼，研細末。每服三分，水酒化。此方加熊膽一錢更妙。</p>
<p><u>生肌散</u></p>
<p>珍珠（一錢）　琥珀（一錢）　龍骨（三錢）　白石脂（一錢）　象皮（一錢）　花蕊石（三錢）　天庭蓋（二錢）</p>
<p>共為末，罨即生肌。</p>
<p><u>又金槍藥</u></p>
<p>真降香　花蕊石（煅，三錢）　加龜板（一錢，燒灰更妙）</p>
<p>共為末罨，並治菸袋傷咽，更妙。</p>
<p><u>生肌末</u></p>
<p>乳香　沒藥　兒茶　血竭　白蠟　紅花　麝　四六　龍骨　象皮　海螵硝</p>
<p>共為末。</p>
<p><u>一厘金</u>（治跌打，五月五日合，要靜處）：</p>
<p>土鱉（一兩）　然銅（一兩）　乳沒（各一兩）　巴豆霜（瓦焙去油，五錢）</p>
<p><u>又一厘金</u>（治跌打，五月五日合，忌壓，每服一分，水酒下。宜走動不宜坐臥，異傳）</p>
<p>土鱉　丁香　然銅（一兩）　官桂　乳沒（各一兩）　木香　硃砂（一錢五分，瓦焙去油）</p>
<p>有一方加半夏（些須的），巴豆霜一錢五分。</p>
<p><u>治新吐血方</u></p>
<p>用薄荷根炆肉吃，三次立心（亦要失力勞動吐血者有效）。</p>
<p><u>鐵布衫</u>（為末，每服一錢，酒下，任打不痛。退用綠豆湯或冷茶亦可）</p>
<p>白蠟（一兩，去油）　硃砂（一兩）　乳沒（各一兩）　土鱉（一兩）　然銅（一兩）　紅地龍（用酒漂去泥，四兩）　無名異（一兩）　白茜耳（四兩）</p>
<p><u>英雄丸</u>（每服一錢，酒下。臨刑，血不攻心）</p>
<p>乳沒　陀生　然銅　地龍　木鱉　花椒</p>
<p>共為末，和蜜為丸。</p>
<p><u>打沙包洗手方</u>（用米醋五斤，炆洗後打，頻打頻洗）</p>
<p>龍骨（二兩）　虎骨（二兩）　地骨（二兩）　皂釐（二兩）　木宅草（二兩）　青鹽（二兩）　胡鹽（二兩）　石榴皮（五兩）　核桃皮（二兩）　生川烏（二兩）　生草烏（二兩）　鳳眼草（二兩）　鶯爪（二對）　皮硝（二兩）　陳石灰（四兩）　節草（二兩）　剪草（二兩）　白透骨草（二兩）　鐵馬鞭（一兩）</p>
<p><u>又洗手膀方</u>（用好醋不拘多少，熬濃汁，每日洗三四次，再三操練，其手自堅如鐵）</p>
<p>乳香　沒藥　白芨　紅花　半夏　荊芥　南星　川烏　蛇床子　地骨皮　核桃皮　醉茄子（草藥）　皮硝　白蠟　剪草　白芷　青鹽　白礬　防風　靈脂　羌活　獨活　生大黃　青木香　石榴皮　紅內硝　章老　韭菜　醉草（草藥）　透骨草　活血丹　冰片　麝　草烏</p>
<p>外加銅綠（四兩）　松香（八兩）　陀生（二兩）　白醋（四兩）　透草（一斤）　無名異（二兩）</p>
<p>另煎一罐，洗之七七，內加牛膏二兩，即驗如神。</p>
<p><u>八仙酒</u>（用火酒五斤，重陽日煮二枝香，空心服飲，三日不效，加參更妙）</p>
<p>荔枝肉　核桃肉　紅棗肉　白果肉（各四十枚）　杜仲（一兩五錢）　附子（五錢）　枸杞（一兩）　福元肉（一兩）</p>
<p><u>二仙大力方</u>　黃耆（六錢）　當歸（六錢）　用子雞打碎蒸服，久服力大。</p>
<p><u>防風通聖散</u>（治跌打不拘上下，用水酒炆服，神效）</p>
<p>大黃（一錢）　白芍（一錢）　薄荷（一錢）　川芎（一錢）　當歸（一錢）　芒硝（一錢）　梔子（八分）　連翹（八分）　黃芩（八分）　桔梗（一錢）　白朮（一錢）　麻黃（四分）　荊芥（一錢）　滑石（一錢）　乳沒（各五錢）　甘草（一錢）</p>
<p><u>治跌打方</u>（又同前）</p>
<p>歸尾（一錢）　紅花（五分）　六汗（一錢）　土鱉（三個）　地黃（一錢）　青皮（八分）　乳沒（各一錢）　甘草（五分）　京芍（各八分）　枳殼（六分）　宅南（八分）　檳榔（八分）　碎補（一錢）　木香（八分）</p>
<p>頭加川芎八分、白芷八分；手加桂枝八分、鉤藤八分、菖蒲八分、白芨八分、羌活六分、靈仙六分，胸加桔梗八分、烏藥八分、蘇梗八分、菖蒲八分；腰加杜仲一錢、故紙一錢、苡仁、小茴各八分；背加靈仙八分、石斛八分，脅加柴胡八分、膽草八分；腳加牛膝一錢二分、木瓜一錢、秦艽一錢、加皮一錢、靈仙八分。</p>
<p><u>和傷丸</u>（蜜為丸，硃砂為衣，如福元大，每服一丸，酒化下）</p>
<p>香附（三錢）　桃仁（三錢）　元胡（二錢）　蒲黃（二錢）　紅花（二錢）　靈脂（二錢）　楂肉（五錢）　靈仙（二錢）　六汗（二錢）　丹皮（二錢）　乳沒（各五錢）　菖蒲（一錢）　碎補（二錢）　三稜（五錢）　莪朮（五錢）　白芍（二錢）　小茴（二錢）　山甲（五錢）　官桂（二錢）　宅南（二錢）　荊芥（二錢）　然銅（二錢）　丹參（二錢）　砂仁（二錢）　金錢蟹（二對，用雄黃，黃泥包煨存性）。</p>
<p><u>腰痛方</u>（童便為引，酒對服）</p>
<p>木香（二分）　小茴（五分）　然銅（一錢）　碎補（一錢）　肉桂（五分）　鹿鞭（一錢）　龍骨（一錢）　砂七釐（一錢）　虎骨（三錢）　土鱉（一錢）　紅花（五分）　八能麻（一錢）　血竭（五分）　杜仲（一錢）　故紙（一錢）　乳末（一錢）　甘草（一錢）</p>
<p><u>又腰痛方</u></p>
<p>木香（一錢）　黑附子（一錢）　母丁香（一錢）　沉香（一錢）　乾薑（一錢）　官桂（一錢）　硃砂（一錢）　明雄（一錢）　陳皮（一錢）　吳萸（一錢）　杏仁（一錢）　白礬（一錢）　硫黃（五分）　輕粉（二分）　麝（二分）</p>
<p>為末，蜜丸如彈，陰乾。臨用時，用生薑汁，調一丸，用手蘸藥，擦兩腰眼，不但止痛，久用百病不生。</p>
<p><u>又方</u>　柏子仁去油，沖酒吃。</p>
<p><u>又方</u>　杜仲（三錢）　故紙（八分）　小茴（一錢）　巴戟（一錢）　熟地（二錢）　木香（三分）　菟絲（五錢）</p>
<p><u>又方</u>　杜仲（二錢）　熟地（二錢）　枸杞（二錢）　故紙（八分）　生地（一錢五分）　菟絲餅（二錢）　小茴（八分）　當歸（一錢五分）　桂枝（八分）　陳皮（一錢）　甘草（八分）</p>
<p>福元五枚為引。</p>
<p><u>割斷食管方</u>（先上金槍藥，後用雞膜貼）</p>
<p>靈仙（二錢）　石蒲（一錢）　茯神（二錢）　棗仁（二錢）　白蠟（二錢）　乳沒（各錢）　地榆（一錢）</p>
<p>酒炆，童便引。</p>
<p><u>治割頸氣未絕身未冷者</u></p>
<p>其氣管、食管或未斷，切勿移動，用繩縛住其手，急用活雞皮貼住，捶燈心、老薑敷，然後罨桃花散，以棉紙四五層蓋藥，把女人舊腳帶扎住，切要使頭頸不動，刀口不開。三日後，急去舊桃花散，換新桃花散，仍如前扎勿動。又過四日去藥，內用玉紅膏敷，外用太乙膏貼，仍以帶扎，待其長肉收功。</p>
<p>摳出腎子者，效此治法。</p>
<p><u>玉紅膏</u></p>
<p>用白芷（二錢五分）　歸身（五錢）　紫草（三分）　粉草（三分）　真麻油（四兩）</p>
<p>浸前藥三日，入銅杓，慢火煎藥枯黑，以棕濾去渣，又入鍋煎滾，下血竭一錢化盡，又下白佔五分亦化盡，掇起一刻，下輕粉五分，攪勻用。</p>
<p><u>太乙膏</u></p>
<p>用麻油（四兩）　歸身（五錢）　生甘草（二錢五分）</p>
<p>共煎枯去渣，再入淨鍋，熬至滴水內不散。入炒過黃丹二兩，又慢火熬至滴水成珠，掇起一刻。入白占、黃蠟各二錢半，細火再熬，又掇起一刻。入去油乳香、沒藥各一錢二分半，攪勻，過三日用。</p>
<p><u>加味五積散</u>（治遍身筋骨疼痛）</p>
<p>白芷　陳皮　厚朴　桔梗　枳殼　川芎　白芍　茯苓　蒼朮　當歸　半夏　桂枝　麻黃　羌活　獨活　山甲　麝　甘草</p>
<p><u>升降橫氣丹</u>（治兩氣不接，飲食不進，皆因氣鬱中停）</p>
<p>枳殼（一錢）　縮砂（一粒，敲碎）　青皮（六分）　陳皮（八分）　茯苓（一錢）　貝母（一錢）　栝蔞仁（一錢）　蘇子（一錢，炒研）　川芎（八分）　川樸（一錢）　木香（切片，三分）　沉香（三分，水磨，沖服）　香附（一錢二分）　丁香（二分，沖服）　甘草（三分）</p>
<p>水炆。</p>
<p><u>萬安丹</u>　治跌打損傷，不拘上中下，並皆可治。</p>
<p>用二三十年尿壺一個，將紅曲入尿壺內填滿，外將黃泥包固，火煅紅，取出打碎，連壺並曲研為細末，加入麝香二分，每服二錢，生酒調服。</p>
<p><u>石頭傷</u>（名為七姊妹尋夫敷的）</p>
<p>歸尾（五錢）　蔥白（七根）　老薑（七錢）　碎補（七錢）　番椒（傷重者三斤，輕者斤半）</p>
<p>如傷手加桂枝七錢；腰加杜仲七錢；腳加牛膝七錢，再加乳沒各五分，六十天早禾草燒灰，共為末，好酒糟一盞，敷紅處、腫處。</p>
<p><u>通瘀丸</u>（治跌打，瘀血閉結，肚脹，大小便不通。為丸，綠豆大，每服十丸，茶下）</p>
<p>江子（十個，去油）　乳沒（各一錢）　雄黃（一錢）　膩粉（一錢）　生蒲黃（一錢）</p>
<p><u>通導散</u>（治跌打，人事不省，二便不通。）</p>
<p>大黃（二錢）　芒硝（一錢）　枳殼（一錢）　川樸（一錢）　當歸（二錢）　陳皮（二錢）　木通（一錢）　紅花（一錢）　蘇木（一錢）　甘草（一錢，前有歌）</p>
<p><u>疏肝飲</u>（治跌閃）</p>
<p>川芎　當歸　柴胡　白芍　青皮　桃仁（分兩要輕）　紅花　甘草　枳殼　黃連　吳萸（炒）　血竭</p>
<p><u>通關散</u>（吹鼻）</p>
<p>硃砂（一錢）　明雄（三分）　麝（一分）　生半夏（三分）　牙皂（一錢）　細辛（一錢）　冰片（一分）</p>
<p>為末。</p>
<p><u>又通關散</u></p>
<p>川芎（一錢二分）　鬧羊花（一錢二分）　燈草灰（一錢二分）　牙皂（三分）　冰片（三分）　麝（三分）</p>
<p><u>平安散</u>（亦吹鼻的）</p>
<p>明雄（一錢）　硃砂（一錢）　牙皂（一錢）　乳沒（各一錢，去油）　乳茶（一錢）　硼砂（一錢）　麝（七釐）　冰片（七釐）　膽礬（一錢）</p>
<p><u>雀兒散</u>（治外腎被傷，偏墜腫）</p>
<p>用雄麻雀三五個去腸肚，每個用白礬一錢入肚內，以新瓦焙乾，將雀放在瓦中，兩頭鹽泥封固，以火煅紅，取出存性為末。每服一錢，空心酒調下，一隻盡，痊愈。此乃家傳，神妙。</p>
<p><u>左右脅痛方</u>（治跌打，水酒服二三劑）</p>
<p>柴胡（一錢）　川芎（一錢）　當歸（一錢）　白芍（一錢五分）　香附（一錢）　木香（八分）　枳殼（一錢）　青皮（一錢）　砂仁（八分）　膽草（八分）　靈仙（一錢）　薑黃（八分）　三稜（一錢）　莪朮（一錢）　丁香（一錢）　甘草（五分）</p>
<p><u>氣痛方</u>（此方治心腹氣痛，似一塊上下走注，手不敢握。跌打所用）</p>
<p>元胡　大黃　白芷　烏藥　三稜　莪朮　青皮　陳皮　香附　五靈　檳榔　甘草</p>
<p><u>心痛方</u>（痛甚脈必伏）</p>
<p>元胡　草果　乳沒　靈脂　藿香　茴香　香附　縮砂　枳殼　木香　靈仙　鬱金</p>
<p>水炆，姜引。</p>
<p><u>補腎浸酒方</u>（常服）</p>
<p>肉蓯蓉（八錢）　菟絲子（一兩）　覆盆子（八分）　何首烏（一兩，制）　杜仲（一兩）　韭菜子（六錢）　枸杞子（二錢）　五味子（二錢）　熟地（一兩）　五加皮（一兩）　地骨皮（一兩）　麥冬（一兩）　白芡實（一兩）　補骨脂（六錢）　當歸（二兩）　肉桂（一錢）　福元肉（二兩）　茯苓（六錢）　化紅（三錢）　豆蔻（二錢）　條參（二錢）　遠志肉（二錢）　棗仁（五錢）　白芍（八分）</p>
<p><u>治腳骨痛方</u>（共研末。水酒、白糖化，每服錢五）</p>
<p>土鱉（一錢）　當歸（一錢）　靈仙（一錢五分）　桂枝（二錢）　牛膝（二錢）　馬前子（一錢五分）　木瓜（二錢）　上桂（一錢）　川烏（一錢）　甲珠（二個）　生草烏（一錢）　紅花（一錢）　升麻（一錢）　川芎（一錢）　乳香（一錢五分）　沒藥（一錢）</p>
<p><u>治跌打不論新舊良方</u>（屢驗）</p>
<p>紫蘇（八分）　薄荷（八分）　歸尾（八分）　蘇木（一錢）　五加皮（一錢）　沒藥（一錢，制）　赤芍（八分）　紅曲（一錢）　乳香（一錢，制）　然銅（醋炙，一錢）　寄奴（一錢）　桃仁（去皮尖，一錢）　紅花（一錢）　生甘草節（八分）　木瓜（一錢）</p>
<p>上身加桔梗一錢、陳皮一錢、川樸一錢；下身加淮牛膝一錢、羌活一錢；手加桂枝一錢；小肚加小茴一錢、：木通一錢、車前一錢，腰加杜仲一錢、故紙一錢：頭加藁本一錢、白芷一錢；傷重加上桂一錢，研末沖服山羊血一錢，如昏迷加人參一錢；嘔吐不能服藥，則用紋銀一錢、硃砂三分、藿香一錢，煎水送下，孕婦忌服。</p>
<p><u>浸藥酒驗方</u>（治腳筋骨痛）</p>
<p>牛膝（五錢）　秦艽（五錢）　木瓜（五錢）　川芎（三錢）　歸身（五錢）　伸筋藤（三錢）　羌活（四錢）　碎補（三錢）　甘草（二錢）　製蒼朮（二錢）　六汗（二錢）　白芍（二錢）　萆薢（四錢）　茯苓（四錢）</p>
<p>用坐壺裝酒，並藥在內，水坐炆，炆過一枝香，隨量飲。</p>
<p><u>接骨方</u>（骨斷未破皮者易治）</p>
<p>土鱉（三錢）　乳末（五錢）　然銅（一錢）　綿耆（五錢）　白朮（五錢）　赤芍（三錢）　秦艽（一錢）　桂枝（一錢）　全歸（三錢）　血竭（一錢）</p>
<p>為末，每服一錢，水酒下。</p>
<p><u>重傷方</u>（不拘上下）</p>
<p>番木鱉（七錢）　白草烏（五錢）　川烏（五錢）　麝（三分）　上桂（五錢）　廣木香（五錢）　象鱉（一兩）　三七（五錢）　然銅（五錢）</p>
<p>為末，每服三分，壯者四分。</p>
<p><u>中部方</u>（不拘新舊）</p>
<p>枳殼　羌活　六汗　碎補　秦艽　上桂　土鱉　乳香　香附　虎骨　杜仲　赤芍　木香　然銅　石菖蒲　角茴　鬱金</p>
<p>姜引，水炆服。</p>
<p><u>下部方</u>（不拘跌打）</p>
<p>花通　歸尾　羌活　防風　木通　木瓜　防己　赤芍　牛膝　檳榔　肉桂　紅花　獨活　乳沒　知母　旋覆根　小茴</p>
<p>姜引，水酒炆。</p>
<p><u>接骨敷藥</u>（先掇正，後敷，要共搗，三日一換，七日好）</p>
<p>活土鱉　砂蟲　金錢蟹　牡蠣　滑石</p>
<p>此藥六月不可敷，敷必蛆。</p>
<p><u>接骨丹</u></p>
<p>兒茶　乳香　沒藥　蠶殼（燒存性）</p>
<p>等分，每服二錢，下血燒酒調，接骨黃酒化。</p>
<p><u>止痛續筋接骨方</u></p>
<p>麥鬥　土鱉（一個，焙）　巴豆（一粒，去油殼）　生半夏　乳香　沒藥（各半分）　然銅（一釐）</p>
<p>醋調搽。</p>
<p>瘀血流注黑紫，或傷眼目</p>
<p>用大黃　薑汁調和，一夜一次塗。</p>
<p><u>瘀血流注紫黑方</u></p>
<p>大黃　薑汁　紫荊皮　五靈脂　白芨</p>
<p>搗敷患處，一日一換，黑轉紫，紫轉紅即愈。</p>
<p><u>跌打筋骨方</u></p>
<p>用嫩雞搗爛敷，外用杉木夾之，次日再換。</p>
<p><u>活血止痛方</u></p>
<p>乳香　沒藥　川芎　白芷　生地　當歸　赤芍　丹皮　甘草</p>
<p>各三錢研末，酒、童便送下。</p>
<p><u>治跌脫大腿根下之骨調治方</u>（萬不可掇）</p>
<p>牛膝（三錢）　桂枝（二錢）　桑寄（二錢）　木瓜（五錢）　秦艽（三錢）　三七（二錢）　當歸（三錢）　六汗（三錢）　香附（二錢）　川芎（三錢）　生地（五錢）　赤芍（三錢）　杜仲（三錢）　靈仙（三錢）　防黨（五錢）　虎骨（炙碎，五錢）　土鱉（三錢）　乳香（三錢）　沒藥（三錢）　木香（二錢）　加皮（五錢）　砂仁（二錢）　枳殼（二錢）　甘草（二錢）</p>
<p>研末，水酒送下，一錢五分。</p>
<p><u>兩足不傷</u></p>
<p>小足魚一個四兩重，用舊布包，再用厚草紙包三四層，糠火煨存性。</p>
<p><u>又兩足不傷方</u></p>
<p>為末，白水成丸，每服五錢，用生白果幾個，口內嚼碎，同酒下藥。若未夾，用淡姜水即解。</p>
<p>木鱉（一兩，制）　白硃砂（煅）　然銅（一兩，制）　白蠟（一兩，去油）　兒茶（五錢）　當歸（一兩）　硃砂（一錢，飛）　血竭（五錢）　官桂（一兩）　川椒（炒，一兩）　沒藥（五錢）　地龍（一兩，制）　三七（五錢）　草烏（一兩）　苧麻根（一兩）　無名異（一兩）　龍骨（一兩，煅）　蘇木（一兩）　乳香（五錢）　烏頭（一兩，制）</p>
<p><u>外敷藥</u></p>
<p>搗成餅敷腳上，三日立效。要解，用生半夏、生薑各二兩，搗碎貼之，即解。</p>
<p>狗油（四兩）　肥皂（十個）　川烏（五錢）　皂夾（三十個）　火麻仁（一兩）　灰面（四兩）　麝香（一錢）</p>
<p><u>杖瘡方</u></p>
<p>內飲童便酒，外熱豆腐敷，或雞子清炒豆粉敷，或用鳳仙花葉同大黃搗敷。</p>
<p>退血止痛當歸芍，連芩梔柏防荊穗，薄翹枳桔知石膏，羌芷大黃車草地。（童便對酒炆）</p>
<p><u>水火丹</u>（每服二三分，水酒調下，山□引）</p>
<p>黑鉛（二兩）　西硫黃（二兩）　金蒙石（一錢）　然銅（三錢）　南木香（六錢）　乳沒（各四錢）　血竭（六錢）　官沙（二錢）　土鱉（八錢）　歸尾（六錢）　半夏（三錢）　三七（八錢）</p>
<p><u>跌打未破皮止痛方</u></p>
<p>用南星敷之即好。</p>
<p><u>治骨頭打碎</u></p>
<p>破草鞋燒灰，油調敷，又酒吃三錢。</p>
<p><u>治跌打筋骨有瘀血在內</u></p>
<p>鼠糞燒過為末，臘豬油調，縛包之，其痛即愈。</p>
<p><u>治跌撲骨節損脫者</u></p>
<p>尋死蟹搗爛，滾酒傾入，連飲數碗，即以蟹渣敷患處半日間，骨內振振有聲自合，不能飲者，以數杯為率。</p>
<p><u>治跌方</u></p>
<p>用無名子（即老土中硬塊便是，不拘多少，童便制九次，或醋亦可，研為末，每服二錢酒送下，或開水。此方是孔明先生所傳，治跌打做工傷力，服之即效）</p>
<p><u>風損膏</u></p>
<p>獨頭蒜一百零八個，去皮略打碎，老薑半斤、番椒十五個，先將麻油一斤，入鍋內煎滾，陸續下蒜，煎至將枯，即刻撈起。再下生薑，煎枯撈起去渣，又下番椒，煎去渣，將油熬至滴水成珠，入黃丹，收油成膏，取起冷定，入麝三錢，攪勻煉此膏。</p>
<p><u>九轉紫氣膏</u>（治遠年老損，手足麻症）</p>
<p>松香（三斤）　南星（生，二兩）　半夏（二兩）　蒼朮（三兩）　川烏（一兩）　草烏（一兩）　防風（一兩）　羌活（一兩）　鬧羊花（三兩）　麝（一錢）　礬紅（四兩）　菜油（一斤）</p>
<p>除礬紅、松香，余藥入油。將火熬枯去渣，油取出聽用。先將松香入鍋煮溶，將棕濾去渣，入水扯。再將松香入鍋，用蔥汁一碗煮乾，入水扯。再將松香入鍋，用綠豆汁一碗煮乾，入水扯。再將松香用鳳仙花汁一碗煮乾，入水扯。再將松香用燒酒一宮碗煮乾，入水扯。再將松香入鍋，用鎮江醋一碗煮乾，入水扯。再將松香入鍋熬溶，入前藥同熬，不住手攪，方下礬紅末油，用缽盛入水面，退火毒，二三日後，方可貼。貼藥後，對周必發癢，將膏揭開內有濕水，將絹試干，候一時再貼。如癢再揭如前，不揭恐起泡。</p>

<h2>附錄　經驗雜方</h2>
<p><u>治人一時昏迷不省人事，服之立效</u></p>
<p>豬心（一個，不可下水，用竹破四片）　黃蠟（三錢）　入心內，硃砂三分放蠟上，以碗盛，飯上蒸熟服。</p>
<p><u>蓮棗丸</u>（治人面黃唇白，四肌無力，小兒多有之）</p>
<p>紅蓮肉（六兩，去心為末）　紅棗（六兩，為泥）　久年陳米（三四升，炒為末）</p>
<p>好米醋調和為丸，每服三錢，開水送下，屢驗。</p>
<p><u>湯火藥</u></p>
<p>大黃為末，蜜和塗立愈。</p>
<p><u>火傷藥</u></p>
<p>大黃　黃柏　黃芩　寒水石　桑皮</p>
<p>各等分為末，用泉水調搽，此是醫有泡的；如爛，可用麻油調；如半好者，滴水乾淨，糯米飯為丸，火上燒灰存性，研末罨。</p>
<p><u>又湯火傷二方</u></p>
<p>黃柏　大黃　寒水石</p>
<p>各等分為末，油調搽。</p>
<p><u>又方</u></p>
<p>雞蛋清調磨京墨，塗上用濕紙蓋，即止痛。</p>
<p><u>治膀胱氣方</u></p>
<p>先將橘核炒枯，再將鴿屎同炒，共為末，羅去渣，上用麻油拌炒，和木香末，每服一錢，水酒下。</p>
<p>橘核（一兩）　木香（末，一錢）　鴿屎（一兩，要吃搖搖子的）</p>
<p><u>冷氣痛方</u></p>
<p>共研末，用溫水沖。又用紙拖去浮油，一口吃下，屢驗之方。</p>
<p>吳萸（四兩）　良薑（二兩）　胡椒（一兩）</p>
<p><u>治瘡毒方</u>（流清水，又癢）</p>
<p>大楓子　蛇床子　花椒　黃丹　青黛　枯礬　章老　冰片　白芷梢　甘草節　水銀</p>
<p>共研末，棉油調搽。</p>
<p><u>洗瘡方</u></p>
<p>獨活（一錢）　白芷（一錢）　北風（一錢）　黃柏（一錢）　荊芥（一錢）　銀花（一錢）　甘草（八分）</p>
<p>另加艾葉共煎（搽藥附後）。</p>
<p><u>搽瘡方</u></p>
<p>黃柏（一錢）　花粉（一錢）　胡連（一錢）　苦參（一錢）　蘆薈（一錢）　膽礬（一錢）　青黛（一錢）　輕粉（一錢）　枯礬（二錢）　大黃（一錢）　明雄（一錢）</p>
<p>共研末，麻油調搽。</p>
<p><u>治小兒爛頭方</u></p>
<p>胡連（五分）　青黛（一錢）　蘆薈（一錢）　苦參（一錢）　輕粉（一錢）　黃柏（一錢）　杏仁（一錢）　兒茶（一錢）　白斂（一錢）　冰片</p>
<p>共研末，麻油調，或雞蛋黃炒出油調。</p>
<p><u>治楊梅熏藥方</u></p>
<p>共為末，外用火紙二張，將藥鋪如卷爆竹樣卷定，口含冷肉湯，將藥點對鼻熏，肉湯頻換。凡熏此藥，要飽食肉飯。熏畢，來日服救苦下毒湯。</p>
<p>水銀（一錢）　銀硃（一錢）　冰片（三分）　黑鉛（一錢）　木炭（二錢）　</p>
<p><u>救苦下毒湯</u>（水酒炆二三貼，先服後洗）</p>
<p>山甲（一錢）　蟬蛻（一錢五分）　土苓（一兩）　大黃（一錢）　芒硝（一錢五分）　連翹（一錢）　黃柏（一錢）　歸尾（一錢）　花粉（一錢）　茯苓（一錢）　姜蟲（一錢五分）　赤芍（一錢五分）　蜈蚣（二條）　桃仁（十二個）　全蠍（一錢）　牛膝（一錢）　黃連（五分）　兒茶（一錢）</p>
<p><u>洗藥方</u></p>
<p>甘草　銀花　土苓　連翹</p>
<p>共煎水洗。</p>
<p><u>膿胞瘡方</u></p>
<p>國丹（一錢）　輕粉（二錢）　章老（二錢）　冰片（一分）　枯礬（二錢）　銀硃（二錢）　兒茶（二錢）　麝（一分）　硫黃（一錢）　花椒（一錢）</p>
<p>共為末，豬油搗，用夏布包搽。</p>
<p><u>五虎丹</u>（治楊梅枕）</p>
<p>明礬　水銀　淮鹽　牙硝　膽礬</p>
<p>以上各三錢，降三枝香為度。</p>
<p><u>各毒罨上收水生肌藥</u></p>
<p>宮粉（三錢，煅）　輕粉（六分）　冰片（一分）　枯礬（五分）</p>
<p>共為末。</p>
<p><u>癬瘡方</u></p>
<p>五倍子（一兩）　明礬（一錢）</p>
<p>為末，醋調搽。</p>
<p><u>白癬瘡方</u>（此瘡在人頭髮中，白滿頭，又癢，瘡亦可治）</p>
<p>木鱉子　水銀　核桃肉</p>
<p>生豬油搗，用布包擦。</p>
<p><u>治楊梅瘡方</u></p>
<p>石膏　輕粉　黃柏（各二錢）</p>
<p>為末干罨，等四圍全結殼，再加銅綠、膽礬，前三味各二錢，加銅綠一錢，膽礬六分，共五味為末，擦瘡上及旁邊，六七日後，又用油核桃並豬油搗勻如泥，又擦瘡上以潤其皮，則殼落去。又用前五味末乾擦皮膚即白。若有一瘡不愈，名為結毒。又用烏梅幾個，用瓦焙炕去核，將烏梅肉研末罨之，即收功。擦藥之時，兼服後敗毒散十餘劑，以清小便為主。（敗毒散附後）</p>
<p><u>敗毒散</u></p>
<p>防風（二錢）　荊芥（二錢）　車前（二錢）　木通（一錢五分）　連翹（二錢）　梔子（一錢五分）　當歸（二錢）　生地（二錢）　麥冬（二錢）　銀花（三錢）　土苓（三錢）　蟬蛻（一錢）　生大黃（三錢）　生甘草（一錢）</p>
<p>燈心引。</p>
<p><u>疳藥方</u></p>
<p>輕粉　銅綠　膽礬　杏仁</p>
<p><u>白玉膏</u>（治臁瘡及腿上一切瘡）</p>
<p>鉛粉　輕粉　白蠟　黃蠟　朝老（豬油調與油紙上貼之，如神。加紅粉霜更易收口。一方加佗僧、乳沒、象皮）</p>
<p><u>臁瘡血風瘡</u></p>
<p>上片（一分）　章老（二分）　花椒（一分）　青礬（一分）　國丹（二分）　輕粉（三分）　白蠟（三分）　銅綠（二分）</p>
<p>用豬油和蔥搗如泥，敷扎三四次，同生肌散敷。</p>
<p><u>坐板瘡</u></p>
<p>銅綠　水銀　銀硃　冰片</p>
<p>共為末，麻油調搽。</p>
<p><u>碎米瘡</u></p>
<p>油核桃仁　信　水銀　大楓子</p>
<p>共為末，干撮在掌心，兩手擦發熱後，鼻聞之，再遍處擦。</p>
<p><u>汗板瘡</u></p>
<p>松　柏　桃　柳　樟　楓　槐　艾　菖</p>
<p>炒枯，煎水洗。</p>
<p><u>小兒疳藥方</u></p>
<p>兒茶（一錢五分）　輕粉（一錢）　冰片（一分）　丁香（半分）</p>
<p><u>治大麻瘋神方</u></p>
<p>用癩蝦蟆一個，搗熟鹽泥做一盒，入蝦蟆於內，炭火燒熟存性，去泥。將蝦蟆研末，每服三錢，黃酒熱服，發汗即愈。</p>
<p><u>流精方</u></p>
<p>用鴨蛋（一個，去黃）　生大黃（八錢，研末），用蛋清為丸，如桐子大，每服一錢，早晨滾水下。</p>
<p><u>冰硼散</u>（治喉嚨腫，痰閉，吹入吐出痰涎）</p>
<p>冰片（三分）　硼砂（三錢）　青黛（三錢）　麝（一分，不用麝亦可）</p>
<p><u>小兒鵝子方</u>（不論雙單，此方第一奇妙）</p>
<p>蜘蛛窠五七個，燒灰存性，吹患處即好。</p>
<p><u>又方</u>　用柴灰開水沖服。</p>
<p><u>又方</u>　用吊的揚塵，沖艾汁服。</p>
<p><u>吹豬閉舌方</u></p>
<p>雄黃（一錢）　青黛（一錢）　北辛（一錢）　牙皂（一錢）　硼砂（一錢）</p>
<p>共為末吹。</p>
<p><u>白鯽魚膏藥方</u></p>
<p>江子（四兩）　蓖麻子（四兩）　馬前子（四兩）　乳香（二兩）　沒藥（二兩）　血餘（二兩）　活鯽魚（一斤）　水粉（二十四兩）　麻油（二斤）</p>
<p>先將油酥炙枯魚，取起魚，又將前六味藥入油內酥，俟血餘不見，取去渣，滴水成珠後，入水粉，不停攪自粉花謝，收起聽攤。</p>
<p><u>點眼癔癉方</u></p>
<p>用蜘蛛一個刺漿，和人乳蒸三次，其色如雞蛋黃（點些須入眼角）。</p>
<p><u>痘後翳障驗方</u></p>
<p>決明（一錢）　白菊（一錢）　七釐（一錢）　穀精（一錢五分）　木宅（一錢）　青葙（一錢）　京子（八分）　赤芍（八分）　望月砂（一錢）　甘草（五分）</p>
<p>不用引。</p>
<p><u>害眼方</u></p>
<p>羌活（一錢）　赤芍（八分）　白菊（八分）　桔梗（八分）　北風（一錢）　蔓荊子（一錢）　薄荷（八分）　歸尾（八分）　甘草（六分）</p>
<p>燈心一丸為引。</p>
<p><u>點赤熱眼方</u></p>
<p>用大田螺一個，川黃連（末）一分，入田螺內，久之田螺化為水，點之目中即愈。</p>
<p><u>咽喉痛驗方</u></p>
<p>兒茶　硼砂　冰片　麝　硃砂　琥珀　熊膽</p>
<p>共為末吹。</p>
<p><u>立止牙痛方</u>（並治閉沙，點些須入眼角）</p>
<p>雄黃（一錢）　硼砂（一錢）　火硝（一錢）　冰片（一分）</p>
<p>共為末，擦牙吐去涎，即好。</p>
<p><u>狗咬方</u></p>
<p>用老鼠糞為末，砂糖調敷。</p>
<p><u>又方</u>　用煤炭敷。</p>
<p><u>耳內出膿方</u></p>
<p>明礬（一錢，煅）　黃丹（五分）　丁香（一分）</p>
<p>先用虎耳草搗水，滴入二三次，用新棉花撓干，吹入此藥。</p>
<p><u>又方治</u>（同前）用蛇蛻（瓦上焙）二錢、青黛五錢，研末吹入。</p>
<p><u>疴紅下血</u></p>
<p>臭椿根皮　白豆蔻　黃連</p>
<p>共研末，蜜為丸。</p>
<p><u>如玉膏</u>（治面上一切酒刺黑斑）</p>
<p>白芷（一錢）　牙皂（去皮，一錢）　茯苓（一錢五分）　花粉（一錢五分）　藿香（一錢）　甘松（一錢）　三柰（一錢）　白丁香（另研）　木宅（一錢）　杏仁（一錢）　佗僧（一錢）　細辛（一錢）　章老（五分）　白芨（少許）</p>
<p>為末。臨臥時，用津唾調，或乳調敷面上，明早溫水洗去，其面如玉。</p>
<p><u>補唇舌方</u>（太醫院傳）</p>
<p>塗之即生肉，如多去唇舌，用川烏、草烏為末，攤條以涼水調合，貼之即不覺痛。可用刀取，如流血，以陳石灰塗之即止。愈後血硬，用雞冠血點之，即軟。鮮蟹（燒灰）二錢、乳沒各二分五釐。</p>
<p><u>治痄腮腫痛方</u></p>
<p>防風　荊芥　羌活　牛蒡子　甘草　連翹（不用亦可）各等分</p>
<p>水煎，食後服。外亦敷此藥。</p>
<p><u>諸骨鯁喉</u></p>
<p>用金鳳花子為末，醋調咽，莫犯齒。</p>
<p><u>又方</u>　用玉簪花根搗汁嚥下，勿犯齒牙齦。</p>
<p><u>截瘧方</u></p>
<p>用郁李仁（以福元肉包吞，兼用通關散吹鼻）</p>
<p><u>蛇咬痛腫方</u></p>
<p>用白芨為末，麥冬湯調服。</p>
<p><u>又方</u>　用雄黃（五錢）　靈脂（一兩）</p>
<p>為末，每服二錢，好酒調。</p>
<p><u>喉嚨腫閉</u></p>
<p>用老絲瓜煎水，洗兼吃，即消。（頭面腫亦可治）</p>
<p><u>乳瘡驗方</u>（吃散之藥）</p>
<p>小當歸（二錢）　蒲公英（一錢）　川芎（一錢）　木通（一錢）　焦術（一錢）　防風（一錢）　白芍　乳香（一錢）　歸身（一錢）　蟬蛻（一錢）　炙耆（一錢）　丹皮（一錢）　知母（一錢）　連翹（一錢）　甘草（一錢）</p>
<p>用水酒。蔥根炆。</p>
<p><u>又敷已經出頭之藥</u></p>
<p>生南星　生草烏　生川烏　生乳草　生乳香　生白斂　生灰面</p>
<p>以上用鴨蛋青、蔥頭根搗碎調敷。</p>
<p><u>又乳瘡驗方</u></p>
<p>蒲公英　栝蔞（一個）</p>
<p>梅鳳根為引，水炆吃。</p>
<p><u>生肌藥</u></p>
<p>甘石　白蠟　冰片</p>
<p>共為末。</p>
<p><u>搽髻頭方</u></p>
<p>搽瘡屢驗大楓子，花椒青黛與枯礬，青粉黃丹黃柏和，蛇床甘草白芷梢，冰片章老一分足，余皆一錢研碎摻。用麻油調搽。</p>
<p><u>預防臍風方</u>（小兒生下剪臍帶後，用此藥罨之臍口，以免臍風）</p>
<p>枯礬（一錢五分）　硼砂（五分）　冰片（五釐）　麝香（五釐）</p>
<p>共研極細末，吃防風、荊芥各一錢。</p>
