<header data-type="book">
<h1>正體類要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1529">公元1529年</data></dd></div>
<div><dt>底本</dt><dd>日本承應3年（1654年）刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=f78b81aab896435a8554e0b2bb3fff9afDcyNDc10&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>世恆言：醫有十三科。科自專門，各守師說，少能相通者，其大較然也。然諸科方論，作者相繼，纂輯不遺，而正體科獨無其書。豈非接復之功，妙在手法；而按揣之勞，率鄙為粗工，而莫之講歟？昔我毅皇帝因馬逸傷，諸尚藥以非世業莫能治，獨吾蘇徐通政鎮侍藥奏效，聖體如初，而徐亦由此遭際，擢官至九列，子孫世以其術仕醫垣。此其所繫，豈小小者而可以弗講也！且肢體損於外，則氣血傷於內，榮衛有所不貫，臟腑由之不和，豈可純任手法，而不求之脈理，審其虛實，以施補瀉哉？太史公有言：人之所病病疾多，醫之所病病道少。吾以為患在不能貫而通之耳。秦越人過琅琊即為帶下醫，過洛陽即為耳目痹醫，入咸陽即為小兒醫。此雖隨俗為變，豈非其道固無所不貫哉！立齋薛先生，以癰疽承家，而諸科無所不治。嘗病正體家言獨有未備，間取諸身所治驗，總而集之，為《正體類要》若干卷，極變析微，可謂詳且盡矣。而處方立論，決生定死，固不出諸科之外也。然則學者，又豈病道之少乎？先生嘗著《外科樞要》，余既為之序以刻矣。將復刻是書，備一家言。余仰其用心之勤，乃復為綴數語卷首，使後世知先生之術，固無所不通，而未嘗不出於一也，學者其勿以專門自諉哉。先生名己，字新甫，官位出處，詳《外科樞要序》中，茲不更列。</p>
<p><u>前進士禮部主事陸師道著</u></p>

<h1>上卷</h1>

<h2>正體主治大法</h2>
<p>一脅肋脹痛，若大便通和，喘咳吐痰者，肝火侮肺也，用小柴胡湯加青皮、山梔清之。若胸腹脹痛，大便不通，喘咳吐血者，瘀血停滯也，用當歸導滯散通之。《內經》云：肝藏血，脾統血。蓋肝屬木，生火侮土，肝火既熾，肝血必傷，脾氣必虛。宜先清肝養血，則瘀血不致凝滯，肌肉不致遍潰；次壯脾健胃，則瘀血易潰，新肉易生；若行克伐，則虛者益虛，滯者益滯，禍不旋踵矣。</p>
<p>一肚腹作痛，或大便不通，按之痛甚，此瘀血在內也，用加味承氣湯下之。既下而痛不止，按之仍痛，瘀血未盡也，用加味四物湯補而行之。若腹痛按之不痛，血氣傷也，用四物湯加參、耆、白朮，補而和之。若下而胸脅反痛，肝血傷也，用四君、芎、歸補之。既下而發熱，陰血傷也，用四物、參、術補之。既下而惡寒，陽氣傷也，用十全大補湯補之。既下而惡寒發熱，氣血俱傷也，用八珍湯補之。既下而欲嘔，胃氣傷也，用六君、當歸補之。既下而泄瀉，脾腎傷也，用六君、肉果、破故紙補之。若下後，手足俱冷，昏憒出汗，陽氣虛寒也，急用參附湯。吐瀉手足俱冷，指甲青者，脾腎虛寒之甚也，急用大劑參附湯。口噤手撒，遺尿痰盛，唇青體冷者，虛極之壞症也，急投大劑參附湯，多有得生者。</p>
<p>一肌肉間作痛，營衛之氣滯也，用復元通氣散。筋骨作痛，肝腎之氣傷也，用六味地黃丸。內傷下血作痛，脾胃之氣虛也，用補中益氣湯。外傷出血作痛，脾肺之氣虛也，用八珍湯。大凡下血不止，脾胃之氣脫也，吐瀉不食，脾胃之氣敗也，苟預為調補脾胃，則無此患矣。</p>
<p>一作痛，若痛至四五日不減，或至一二日方痛，欲作膿也，用托裡散。若以指按下復起，膿已成也，刺去其膿，痛自止。若頭痛時作時止，氣血虛也，痛而兼眩屬痰也，當生肝血補脾氣。</p>
<p>一青腫不潰，用補中益氣湯以補氣。腫黯不消，用加味逍遙散以散血。若焮腫脹痛，瘀血作膿也，以八珍湯加白芷托之。若膿潰而反痛，氣血虛也，以十全大補湯補之。若骨⿰骨界接而復脫，肝腎虛也，用地黃丸。腫不消，青不退，氣血虛也，內用八珍湯，外用蔥熨法，則瘀血自散，腫痛自消。若行血破血，則脾胃愈虛，運氣愈滯。若敷貼涼藥，則瘀血益凝，內腐益深，致難收拾。</p>
<p>一發熱，若出血過多；或膿潰之後脈洪大而虛，重按全無，此陰虛發熱也，用當歸補血湯。脈沉微，按之軟弱，此陰盛發躁也，用四君、薑、附。若發熱煩躁，肉瞤筋惕，亡血也，用聖愈湯。如汗不止，血脫也，用獨參湯。其血脫脈實，汗後脈躁者難治，細小者易治。《外臺秘要》云：陰盛發躁，欲坐井中，用附子四逆湯加蔥白。王太僕先生云：凡熱來復去，晝見夜伏，夜見晝伏，不時而動者，名曰無火，此無根之虛火也。</p>
<p>一作嘔，若因痛甚，或因克伐而傷胃者，用四君、當歸、半夏、生薑。或因忿怒而肝傷者，用小柴胡湯加山梔、茯苓。若因痰火盛，用二陳、姜炒黃連、山梔。若因胃氣虛，用補中益氣湯、生薑、半夏。若出血過多，或因潰後，用六君子湯加當歸。</p>
<p>一喘咳，若出血過多，面黑胸脹；或胸膈痛而發喘者，乃氣虛血乘於肺也，急用二味參蘇飲。若咳血衄血者，乃氣逆血蘊於肺也，急用十味參蘇飲加山梔、芩、連、蘇木。</p>
<p>一作渴，若因出血過多，用四物參朮湯；不應，用人參、黃耆以補氣，當歸、熟地以養血。若因潰後，用八珍湯。若因胃熱傷津液，用竹葉黃耆湯。胃虛津液不足，用補中益氣湯。胃火熾盛，用竹葉石膏湯。若煩熱作渴，小便淋澀，乃腎經虛熱，非地黃丸不能救。</p>
<p>一出血，若患處或諸竅出者，肝火熾盛，血熱錯經而妄行也，用加味逍遙散，清熱養血。若中氣虛弱，血無所附而妄行，用加味四君子湯，補益中氣。或元氣內脫，不能攝血，用獨參湯加炮姜以回陽；如不應，急加附子。或血蘊於內而嘔血，用四物加柴胡、黃芩。凡傷損勞碌怒氣，肚腹脹悶，誤服大黃等藥傷經絡，則為吐血、衄血、便血、尿血；傷陰絡，則為血積、血塊、肌肉青黯。此臟腑虧損，經隧失職，急補脾肺，亦有生者，但患者不悟此理，不用此法，惜哉！</p>
<p>一手足損傷，若元氣虛弱，或不戒房勞，或妄行攻伐，致死肉上延；或腐而不痛，黑而不脫者，當大補元氣，庶可保生。若手足節⿰骨界斷去者，無妨，骨斷筋連，不急剪去。若侵及好肉則不治。若預為調補脾氣，則無此患。大凡膿瘀肉焮者，即針之而投托里散。或口噤遺尿而似破傷風者，急用十全大補湯加附子，多有生者。</p>
<p>一腐肉不潰，或惡寒而不潰，用補中益氣湯。發熱而不潰，用八珍湯。若因克伐而不潰者，用六君子湯加當歸。其外皮黑堅硬不潰者，內火蒸炙也，內服八珍湯，外塗當歸膏。其死肉不能潰，或新肉不能生而致死者，皆失於不預補脾胃也。</p>
<p>一新肉不生，若患處夭白，脾氣虛也，用六君、芎、歸。患處緋紅，陰血虛也，用四物、參、術。若惡寒發熱，氣血虛也，用十全大補湯。膿稀白而不生者，脾肺氣虛也，用補中益氣湯。膿稀赤而不生者，心脾血虛也，用東垣聖愈湯。寒熱而不生者，肝火動也，用加味逍遙散。晡熱而不生，肝血虛也，用八珍、牡丹皮。食少體倦而不生，脾胃氣虛也，用六君子湯。膿穢而不生者，元氣內傷也，用補中益氣湯。如夏月，用調中益氣湯。作瀉用清暑益氣湯。秋令作瀉，用清燥湯。</p>
<p>一重傷昏憒者，急灌以獨參湯。雖內瘀血切不可下，急用花蕊石散，內化之，恐因瀉而亡陰也。若元氣虛甚者，尤不可下，亦用以前散化之。凡瘀血在內，大小便不通，用大黃、朴硝。血凝而不下者，急用木香、肉桂末二三錢，以熟酒調灌服，血下乃生。如怯弱之人，用硝、黃，須加肉桂、木香同煎，假其熱，以行其寒也。</p>
<p>一大便秘結，若大腸血虛火熾者，用四物湯送潤腸丸，或以豬膽汁導之。若腎虛火燥者，用六味地黃丸。腸胃氣虛，用補中益氣湯。</p>
<p>一傷損症用黑羊皮者，蓋羊性熱，能補氣也。若杖瘡傷甚，內肉已壞，欲其潰者貼之，成膿固速；苟內非補劑壯其根本，毒氣不無內侵。外非砭刺，泄其瘀穢，良肉不無傷壞者；受刑輕，外皮破傷者，但宜當歸膏敷貼，更服四物、芩、連、柴胡、山梔、白朮、茯苓。又疔痂不結，傷肉不潰，死血自散，腫痛自消，若概行罨貼，則醞釀瘀毒矣。</p>
<p>一跳躍捶胸閃挫，舉重勞役恚怒，而胸腹痛悶，喜手摸者，肝火傷脾也，用四君、柴胡、山梔。畏手摸者，肝經血滯也，用四物、柴胡、山梔、桃仁、紅花。若胸脅作痛，飲食少思，肝脾氣傷也，用四君、芎、歸。若胸腹不利，食少無寐，脾氣鬱結也，用加味歸脾湯。若痰氣不利，脾肺氣滯也，用二陳、白朮、芎、歸、梔子、青皮。若咬牙發搐，肝旺脾虛也，用小柴胡湯、川芎、山梔、天麻、鉤藤鉤。或用風藥，則肝血益傷，肝火益甚。或飲糖酒，則腎水益虛，肝火愈熾。若用大黃等藥，內傷陰絡，反致下血。少壯者必為痼疾，老弱者多致不起。（以上若胸脅作痛，發熱晡熱，肝經血傷也，用加味逍遙散。）</p>
<p>一破傷風，河間云：風症善行數變，入臟甚速，死生在反掌之間，宜急分表裡虛實而治之。邪在表者，則筋脈拘急，時或寒熱，筋惕搐搦，脈浮弦，用羌活防風湯散之。在半表半裡者，則頭微汗，身無汗，用羌活湯和之。傳入里者，舌強口噤，項背反張，筋惕搐搦，痰涎壅盛，胸腹滿悶，便溺閉赤，時或汗出，脈洪數而弦，以大芎黃湯導之。既下而汗仍出，表虛也，以白朮防風湯補之，不時灌以粥飲為善。前云乃氣虛未損之法也，若膿血太泄，陽隨陰散，氣血俱虛，而類前症者，悉宜大補脾胃，切忌祛風之藥。</p>
<p>一發痙，仲景云：諸痙項強，皆屬於溫。又云：太陽病，發汗太多，致痙風病。下之則痙復發，汗則拘急。瘡家發汗則痙，是汗下重亡津液所致。有汗而不惡寒曰柔痙，以風能散氣也，宜白朮湯加桂心、黃耆。無汗而惡寒曰剛痙，以寒能澀血也，宜葛根湯。皆氣血內傷，筋無所營，而變非風也。杖瘡及勞傷氣血而變者，當補氣血；未應，用獨參湯；手足冷加桂、附，緩則不救。</p>

<h2>撲傷之症治驗</h2>

<h3>血脫煩躁</h3>
<p>有一患者，兩脅脹悶，欲咳不咳，口覺血腥，遍身臀腿脹痛，倦怠不食，煩渴脈大，此血脫煩躁也，與童便酒及砭患處，出死血糜肉甚多。忽發熱煩躁汗出，投以獨參湯三劑少止，又用補氣血、清肝火之藥數劑，飲食稍進。後用獨參湯間服，諸症悉退，飲食頓加，但不能多寐，以歸脾湯加山梔、竹茹，四劑而熟睡。因勞心遂煩渴自汗，脈大無力，以當歸補血湯二劑而安；又以十全大補去川芎加麥門、五味、牡丹、地骨、麻黃根、炒浮麥，數劑而汗止，死肉且潰；又二十餘劑而新肉生。</p>

<h3>血虛發躁</h3>
<p>有一患者，煩躁面赤，口乾作渴，脈洪大，按之如無。余曰：此血虛發躁也，遂以當歸補血湯二劑即止。後日晡發熱，更以四物加柴胡、牡丹、地骨、黃柏、知母治之，熱退而瘡斂。東垣云：發熱惡寒，大渴不止，其脈大而無力者，非白虎湯症，此血虛發躁也，宜用當歸補血湯治之。裴先生云：肌熱躁熱，目赤面紅，其脈洪大而虛，此血虛也，若誤用白虎湯，輕則危，重則斃。</p>

<h3>氣虛血熱</h3>
<p>有一患者，頭額出汗，熱渴氣短，煩躁骨痛，瘀肉不潰，遂割去之，出鮮血，服芩、連之藥益甚，其脈洪大而微，此氣血俱虛，邪火熾盛所致，以四物加參、耆、朮、炙草，少用柴胡、炒芩，二劑頭汗頓止；又加麥門、五味、肉桂，二劑諸症悉退。後用參、耆、歸、朮、炒芍、熟地、麥門、五味，十餘劑瘀血潰而膿水稠矣。但新肉不生，以前藥倍用白朮而斂。</p>

<h3>瘀血泛注</h3>
<p>有一患者，瘀血流注，腰膂兩足俱黑。隨飲童便酒，砭出瘀血糜肉，投以小柴胡湯，去半夏加山梔、芩、連、骨碎補，以清肝火；用八珍、茯苓，以壯脾胃，死肉潰而新肉生。後瘡復潰，得靜調治，年餘而痊。</p>
<p>有一患者，瘀血攻注，陰囊潰而成漏，膿水清稀。所服皆寒涼之劑，診其肝脈短澀，餘脈浮而無力，此肝木受肺金剋制，又元氣虛，不能收斂，遂用壯脾胃生氣血之方，元氣少復。後終歿於金旺之日。</p>

<h3>瘀血作痛</h3>
<p>有一患者，腫痛發熱，作渴汗出。余曰：此陰血受傷也。先砭去惡穢，以通壅塞。後用四物、柴胡、黃芩、山梔、丹皮、骨碎補，以清肝火而愈。</p>
<p>有一患者，傷處揉散，惟腫痛不消。余曰：此瘀血在內，宜急砭之。不從。余以蘿蔔自然汁調山梔末敷之，破處以當歸膏貼之，更服活血之劑而瘥。數年之後，但遇天陰，仍作癢痛，始知不砭之失。</p>
<p>有一患者，臀腿黑腫，而反不破，但脹痛重墜，皆以為內無瘀血，惟敷涼藥，可以止痛。余診其尺脈澀而結，此因體肥肉厚，瘀血蓄深，刺去即愈，否則內潰，有爛筋傷骨之患。余入針四寸，漂黑血數升，腫痛遂止；是日發熱惡寒，煩渴頭痛，此氣血俱虛而然也，以十全大補之劑遂瘥。</p>

<h3>肝火作痛</h3>
<p>有一患者，瘀血內脹，焮痛發熱，口乾作渴，飲食不甘，四肢倦怠。余曰：此肝火熾盛，脾土受制，故患前症。喜其稟實年壯，第用降火清肝活血之劑而愈。</p>

<h3>肝火忿怒</h3>
<p>有一患者，患處脹痛，悲哀忿怒，此厥陽之火，為七情激之而然耳，遂砭去瘀血，以小柴胡湯加山梔、黃連、桔梗而安。後用生肝血、養脾氣之藥，瘡潰而斂。</p>

<h3>肝火脅脹</h3>
<p>有一患者，患處脹痛，發熱欲嘔，兩脅熱脹，肝脈洪大。余曰：肝火之症也。但令飲童便，並小柴胡湯加黃連、山梔、歸梢、紅花，諸症果退。此症若左關脈浮而無力，以手按其腹，反不脹者，此血虛而肝脹也，當以四物、參、苓、青皮、甘草之類治之。若左關脈洪而有力，胸脅脹痛者，按之亦痛，此怒氣傷肝之症也，以小柴胡、芎、歸、青皮、芍藥、桔梗、枳殼主之。蓋此症不必論其受責之輕重，問其患處去血之曾否，但被人扭按甚重努力恚怒，以傷其氣血，瘀血歸肝，多致前症。甚則胸脅脹滿，氣逆不通，或血溢口鼻，卒至不救。</p>

<h3>肝膽虛症</h3>
<p>有一患者，愈後口苦，腰脅脹痛。服補腎行氣等藥不愈。余按其肝脈浮而無力，此屬肝膽氣血虛而然耳，用參、耆、歸身、地黃、白朮、麥門、五味，治之而愈。</p>

<h3>血虛腹痛</h3>
<p>有一患者，杖後服四物、紅花、桃仁、大黃等劑，以逐瘀血，腹反痛，更服一劑痛益甚，按其腹不痛。余曰：此血虛也，故喜按而不痛，宜溫補之劑。遂以歸身、白朮、參、耆、炙草二劑，痛即止。</p>

<h3>氣虛不潰</h3>
<p>有一患者，瘀血已去，飲食少思，死肉不潰，用托裡之藥，膿稍潰而清，此血氣虛也，非大補不可。彼不從。余強用大補之劑，飲食進而死肉潰，但少寐，以歸脾湯加山梔二劑而寐，因勞心煩躁作渴，脈浮洪大，以當歸補血湯二劑而安。</p>

<h3>寒凝不潰</h3>
<p>有一患者，受刑太重，外皮傷破，瘀血如注，內肉糜爛黯腫，上胤胸背，下至足指，昏憒不食。隨以黑羊皮熱貼患處，灌以童便酒薄粥，更以清肝活血、調氣健脾之劑，神思稍蘇，始言遍身強痛。又用大劑養血補氣之藥，腫消食進。時仲冬瘀血凝結，不能潰膿，又用大補之劑，壯其陽氣，其膿方熟，遂砭去，洞見其骨，塗以當歸膏，及服前藥百餘劑，肌肉漸生。</p>

<h3>脾虛不斂</h3>
<p>有一患者，潰而不斂，以內有熱毒，欲用寒涼之藥。余曰：此血氣俱虛，而不能斂耳，非歸、茯、參、耆之類，培養脾土，則肌肉何由而生？豈可復用寒涼克伐之藥，重損氣血哉！遂用前藥治之而愈。</p>

<h3>血虛筋攣</h3>
<p>有一患者，腹脹嘔吐眩暈，用柴胡、黃芩、山梔、紫蘇、杏仁、枳殼、桔梗、川芎、當歸、赤芍、紅花、桃仁，四劑而定。後又出血過多，昏憒目黑，用十全大補等藥而蘇。時肌肉潰爛，膿水淋漓，筋攣骨痛，餘切其脈浮而澀，沉而弱。此因氣血耗損，不能養筋，筋虛不能束骨，遂用養氣血之藥，治之而愈。</p>

<h3>腎虛氣逆</h3>
<p>有一患者，杖瘡愈後，失於調理，頭目不清，服祛風化痰等藥，反眩暈；服牛黃清心丸，又肚腹疼痛，杖痕腫癢，發熱作渴，飲食不思，痰氣上升，以為杖瘡餘毒復作，診左尺脈洪大，按之如無。余曰：此腎經不足，不能攝氣歸源。遂用人參、黃耆、茯苓、陳皮、當歸、川芎、熟地、山藥、山茱萸、五味、麥門、炙草，服之而尋愈。後因勞，熱渴頭痛，倦怠少食，用補中益氣湯加麥門、五味而痊。</p>

<h3>濕熱乘肝</h3>
<p>有一患者，愈後腿作痛。余意膿血過多，瘡雖愈，肝經血氣尚未充實，而濕熱乘虛也。遂以八珍加牛膝、木瓜、蒼朮、黃柏、防己、炙草以祛濕熱，養陰血，痛漸止；乃去防己、黃柏，服之遂瘳。</p>

<h3>肝經鬱火</h3>
<p>有一患者，瘀血失砭，脹痛煩渴。縱飲涼童便，渴脹頓止，以蘿蔔細搗塗之，瘀血漸散。已而患處作癢，仍塗之癢止。後口乾作渴，小腹引陰莖作痛，小便如淋，時出白津，此肝經鬱火也，遂以小柴胡湯加大黃、黃連、山梔飲之，諸症悉退；再用養血等藥而安。夫小腹引陰莖作痛等症，往往誤認為寒症，投以熱劑，則諸竅出血，或二便不通，以及危殆，輕亦損其目矣。</p>

<h3>痛傷胃嘔</h3>
<p>有一患者，痛甚發熱，嘔吐少食，胸膈痞滿。用行氣破血之劑益甚，口乾作渴，大便不調，患處色黯。余曰：此痛傷胃氣所致。遂以四君、當歸、炒芩、軟柴、藿香，二劑諸症漸愈；又用大補之劑，潰之而瘳。</p>

<h3>藥傷胃嘔</h3>
<p>有一患者，發熱焮痛。服寒涼藥，更加口乾作渴，肚腹亦痛，自以為瘀血欲下之。余按其肚腹不痛，脈細微而遲，飲食惡寒。此涼藥傷胃而然也，急用六君加芍藥、當歸、炮附子各一錢，服之前症益甚，反加譫語面赤。余意其藥力未至耳。前藥再加附子五分，服之即睡，覺來諸病頓退而安。</p>

<h3>氣血不損</h3>
<p>有一患者，瘀血雖去，飲食形氣如故，但熱渴焮痛，膈痞有痰，以小柴胡湯加天花粉、貝母、桔梗、山梔，二劑少愈；又加生地、歸尾、黃芩、柴胡、山梔、花粉而愈。余治百餘人，其杖後血氣不虛者，惟此一人耳，治者審之。</p>

<h3>行氣之非</h3>
<p>有一患者，服行氣之劑，胸痞氣促，食少體倦，色黯膿清，此形氣俱虛之症也。先用六君、桔梗二劑，胸膈氣和；後用補中益氣去升麻，加茯苓、半夏、五味、麥門治之，元氣漸復而愈。若用前劑，戕賊元氣，多致不救。</p>

<h3>下血之非</h3>
<p>有一患者，去其患處瘀血，用四物、柴胡、紅花治之，焮痛頓止。但寒熱口乾，飲食少思，用四物、白朮、茯苓、柴胡、黃芩、花粉，四劑寒熱即退；用六君、芎、歸、藿香，而飲食進。腐肉雖潰，膿水清稀，以前藥倍用參、耆、歸、朮、茯苓，二十餘劑腐肉俱潰，膿水漸稠。誤服下藥一鍾，連瀉四次，患處色黯。喜其脈不洪數，乃以十全大補倍加肉桂、麥門、五味數劑，肉色紅活，新肉漸生。喜在壯年，易於調理，又月餘而愈，否則不救。凡杖瘡跌撲之症，患處如有瘀血，止宜砭去，服壯元氣之劑。蓋其氣已損，切不可再用行氣下血之藥，復損脾胃，則運氣愈難行達於下，而反為敗症，怯弱者多致夭枉。</p>

<h3>寒藥之非</h3>
<p>有一患者腫痛，敷寒涼之藥，欲內消瘀血，反致臀腿俱冷瘀血，並胸腹痞悶。余急去所敷之藥，以熱童便酒洗患處，服六君、木香、當歸，敷回陽膏，臀腿漸溫；又以前藥去木香，加川芎、藿香、肉桂，四劑瘀血解；乃刺之，更以壯脾胃、養氣血得痊。蓋氣血得溫則行，得寒則凝，寒極生熱，變化為膿。腐潰深大，血氣既敗，肌肉無由而生，欲望其生難矣。</p>

<h3>不砭之非</h3>
<p>有一患者，發熱煩躁，用四物、黃芩、紅花、軟柴、山梔、花粉，煩熱已清，瘀血深蓄，欲針出之，不從。忽牙關緊急，患處刺痛，始針去膿血即安；用托裡養血，新肉漸長，忽患處瘙癢，此風熱也，用祛風消毒之劑而痊。</p>

<h3>不補之非</h3>
<p>有一患者，臀腿脹痛，發熱煩躁，刺去死血，脹痛少寬，熱躁愈甚，此血脫邪火旺而然也。急用獨參湯補之，少愈；又以健脾胃養氣血藥治之，腐肉漸潰遂愈。大抵此症宜預調補，以顧收斂，切不可伐其氣血，不行補益，以至不能收斂矣。</p>

<h3>破傷風表症</h3>
<p>有一患者，仲夏誤傷手，腰背反張，牙關緊急，脈浮而散，此表症也，遂用羌活防風湯一劑即解。此症若在秋冬腠理致密之時，須用麻黃之類以發汗。此乃暴傷，氣血不損之治法也。</p>

<h3>破傷風裡症</h3>
<p>有一患者，杖處略破而患此，脈洪大而實，此里症也。用大芎黃湯一劑，大便微行一次，悉退。若投表藥必死，宜急分表裡虛實而治之，庶無誤矣。</p>

<h3>膿內焮類破傷風</h3>
<p>有一患者，寒熱口乾，用四物、參、耆、白朮、軟柴、炒芩、麥門、五味，四劑少退，余欲砭去瘀血。不從。後怔忡不寐，飲食少思，牙關牽緊，頭目疼痛，惡寒發熱，此膿內焮也，遂砭去之即安；以八珍，棗仁、麥門、五味，二十劑前症漸愈；又用前藥及獨參湯，瘀肉漸潰。後因勞又少寐盜汗，以歸脾湯、麥門、五味、遠志而痊，後牙關脹悶，面目焮赤，又似破傷風，仍以為虛，用八珍等藥亦安。</p>

<h3>膿潰類破傷風</h3>
<p>有一患者，腹脹喘促，作渴寒熱，臀腿糜爛，與死肉相和，如皮囊盛糊。用童便煎四物、桃仁、紅花、柴胡、黃芩、麥門、花粉，服之頓退。彼用黑羊皮貼之益甚。後砭去膿血甚多，氣息奄奄，唇口微動，牙關緊急，患處色黯。或欲用破傷風藥。余曰：此氣血虛而變症也。用參、耆、芎、歸、白朮，並獨參湯入乳汁，元氣復而諸症愈，及用十全大補湯調理而安。此症若膿瘀內焮者，宜針之。若潰後口噤遺尿，而類破傷風等症者，乃氣血虛極也，急用大補之劑。若素多痰患風症者，宜清痰降火。若因怒而見風症者，宜清肝降火。若人不慎房勞，而忽患前症，此由腎水不足，心火熾甚，宜滋陰補氣血為主，若誤作風症，治之即死。</p>

<h3>內虛變痓</h3>
<p>（痓當作痙）</p>
<p>有一患者，內潰針出膿三五碗。遂用大補之劑，翌日熱甚汗出，足冷口噤，腰背反張，眾欲投發散之劑。余曰：此氣血虛極而變痙也，若認作風治則誤矣。用十全大補等藥而愈。此症多因傷寒汗下過度，與產婦潰瘍氣血虧損所致，但當調補氣血為善。若服克伐之劑，多致不救。</p>
<p>有一患者，兩月餘矣，瘡口未完，因怒發痙，瘡口出血。此怒動肝火而為患耳，用柴胡、芩、連、山梔、防風、桔梗、天麻、鉤藤鉤、甘草，治之頓愈。劉宗厚先生云：痓有屬風火之熱內作者，有因七情怒氣而作者，亦有濕熱內盛、痰涎壅遏經絡而作者。惟宜補虛降火、敦土平木、清痰去濕。</p>

<h2>墜跌金傷治驗</h2>

<h3>瘀血腹痛</h3>
<p>有一患者仲秋夜歸墜馬，腹內作痛，飲酒數杯，翌早大便，自下瘀血即安，此元氣充實，挾酒勢而行散也。</p>
<p>一男子跌傷腹痛作渴，食梨子二枚益甚，大便不通，血欲逆上。用當歸承氣湯加桃仁，瘀血下而瘥。此因元氣不足，瘀血得寒而聚凝也。故產婦金瘡者，不宜食此。</p>
<p>一男子孟秋墜梯，腹停瘀血。用大黃等藥，其血不下，反加胸膈脹痛，喘促短氣。余用肉桂、木香末各三錢，熱酒調服，即下黑血，及前所服之藥而蘇。此因寒藥凝滯而不行，故用辛溫之劑散之。</p>

<h3>脾傷腹痛</h3>
<p>陳侍御墜馬，腿痛作嘔，服下藥一劑，胸腹脹痛，按之即止，惟倦怠少氣，診其脈，微細而澀。余曰：非瘀血也，乃痛傷氣血，復因藥損脾氣而然耳。投養脾胃、生氣血之藥而愈。</p>

<h3>血虛脅脹</h3>
<p>李進士季夏傷手，出血不止，發熱作渴，兩脅作脹，按之即止，此血虛也。用八珍加軟柴胡、天花粉，治之頓愈；更用養氣血之藥，調理而痊。</p>

<h3>血虛煩躁</h3>
<p>吳給事墜馬傷首，出血過多，發熱煩躁，肉瞤筋惕。或欲投破傷風藥。余曰：此血虛火動所致，當峻補其血為善。遂用聖愈湯二劑即安，又養氣血而瘡痊。</p>

<h3>亡血出汗</h3>
<p>張進士季秋墜馬，亡血過多，出汗煩躁，翌日其汗自止，熱躁益甚，口噤手顫。此陰血虛，陽火乘之，而汗出為寒氣收斂腠理，故汗不得出，火不得泄，怫鬱內甚，而益增他症也。余用四物加柴胡、黃芩、山梔，四劑少止，又用四物、參、耆、軟柴胡、五味、麥門，治之而痊。</p>

<h3>亡血昏憒</h3>
<p>（二條）</p>
<p>一婦人孟冬傷足，亡血頭汗，內熱作渴，短氣煩躁，不時昏憒，其脈洪大，按之微弱。此陰血虛於下，孤陽炎於上，故發厥而頭出汗也。以四物合小柴胡湯一劑汗即止；以四物去川芎，加參、耆、麥門、五味、炙草，少用肉桂，四劑諸症悉去；又三十餘劑，血氣復而愈。</p>
<p>一男子孟夏折腿，出血過多，其初眩暈眼花，後則昏憒，此陰血傷損，陽火熾甚，制金不能平木，木旺生風所致。急灌童便，更用人參、當歸各五錢，荊芥、川芎、柴胡、芍藥、白朮各二錢，山梔、黃芩、桔梗各一錢，甘草五分，服之隨爽。又用四物、參、耆各三錢，生地、柴胡各一錢，四劑煩躁悉去。</p>

<h3>濕痰作痛</h3>
<p>（三條）</p>
<p>大宗伯沈立齋孟冬閃腰作痛，胸間痰氣不利。以枳殼、青皮、柴胡、升麻、木香、茴香、當歸、川芎、赤芍、神麯、紅花，四劑而瘥。但飲食不甘，微有潮熱。以參、耆、白朮、陳皮、白芍各一錢，歸身二錢，川芎八分，軟柴胡、地骨、炙草各五分，十餘劑而康。</p>
<p>劉尚寶體肥臀閃作痛，服透骨丹，反致肢節俱痛，下體益甚。以二陳、南星、羌活、防風、牛膝、木瓜、蒼朮、黃芩、黃柏治之，身痛遂安。以前藥加歸尾、赤芍、桔梗，治之而痊。</p>
<p>鄭吏部素有濕痰，孟冬墜馬，服辛熱破血之藥，遍身作痛，發熱口乾，脈大而滑，此熱劑激動痰火為患耳。治以清燥湯去人參、當歸、黃耆，加黃芩、山梔、半夏、黃柏，熱痛頓去，患處少愈；用二陳、羌活、桔梗、蒼朮、黃柏、薑製生地、當歸遂痊。</p>

<h3>肝火作痛</h3>
<p>楊司天，骨已入𩨽（一作臼），患處仍痛，服藥不應，肝脈洪大而急。余曰：此肝火盛而作痛也。用小柴胡湯加山梔、黃連，二劑痛止，用四物、山梔、黃柏、知母，調理而康。</p>

<h3>血虛作痛</h3>
<p>一婦人磕臂出血，骨痛熱渴，煩悶頭暈，日晡益甚。此陰虛內熱之症，用八珍加丹皮、麥門、五味、骨碎補、肉桂，及地黃丸，治之悉愈，卻去桂，加牛膝、續斷，二十餘劑而瘡愈。</p>

<h3>骨傷作痛</h3>
<p>（二條）</p>
<p>一小兒足傷作痛，肉色不變，傷在骨也。頻用炒蔥熨之，五更用和血定痛丸；日間用健脾胃、生氣血之劑；數日後服地黃丸，三月餘而痊。</p>
<p>一小兒臂骨出𩨽接入，腫痛發熱，服流氣等藥益甚，飲食少思。余以蔥熨之，其痛即止；以六君、黃耆、柴胡、桔梗、續斷、骨碎補治之，飲食進而腫痛消。又用補中益氣加麥門、五味治之，氣血和而熱退，愈矣。</p>

<h3>氣虛血滯</h3>
<p>戴給事墜馬，腿腫痛而色黯，食少倦怠。此元氣虛弱，不能運散瘀血而然耳，遂用補中益氣去升麻、柴胡，加木瓜、茯苓、芍藥、白朮，治之而痊。</p>

<h3>氣虛不潰</h3>
<p>少宗伯劉五清，膁傷一塊，微痛少食。用六君子湯，倍加當歸、黃耆，其痛漸止，月餘瘀血內涸而不潰，公以為痊。余曰：此陽氣虛極，須調補。不從。至來春，頭暈，痰涎壅塞，服清氣化痰，病勢愈盛，脈洪大而微細。欲以參、耆、歸、朮、附子之類補之。不信。至秋初，因怒昏憒而厥。</p>

<h3>氣虛壅腫</h3>
<p>（三條）</p>
<p>一婦人閃臂腕，腫大已三月，手臂日細，肌瘦惡寒，食少短氣，脈息微細。屬形病俱虛也，遂投補中益氣加肉桂，引諸藥以行至臂；再加貝母、香附，以解久病之郁；間服和血定痛丸，以蔥熨之，腫消二三。因怒，患處仍脹，胸膈兩脅微痛，以前湯更加木香、山梔、半夏、桔梗服之少可。復因驚，不寐少食，盜汗，以歸脾湯加五味、麥門，二十餘劑而安，腫消三四，手臂漸肥。但經水過期而少，此心脾之血尚未充足而然也。乃用八珍加五味、麥門、丹皮、遠志、香附、貝母、桔梗，四十餘劑，諸症悉愈。後因怒發熱譫語，經水如湧，此怒動肝火，以小柴胡湯，加生地黃三錢，一劑遂止；以四物加柴胡，調理而康。</p>
<p>州守陳克明子，閃右臂腕，腫痛肉色不變，久服流氣等藥，加寒熱少食，舌乾作渴。余曰：傷損等症，腫不消，色不變，此運氣虛而不能愈，當助脾胃、壯氣血為主。遂從余法治之，不二月形氣漸充，腫熱漸消，半載諸症悉退，體如常。</p>
<p>一小兒閃腿腕壅腫，形氣怯弱。余欲治以補氣血為主，佐以行散之劑。不信。乃內服流氣飲，外敷寒涼藥，加寒熱體倦。余曰：惡寒發熱，脈息洪大，氣血虛極也，治之無功。後內潰，瀝盡氣血而亡。</p>

<h3>瘀血腫痛</h3>
<p>一男子閃傷右腿，壅腫作痛。余謂：急砭去滯血，以補元氣，庶無後患。不信。乃外敷大黃等藥，內服流氣飲。後湧出穢膿數碗許，其膿不止。乃復請治，視其腿細而脈大，作渴發熱，辭不治，後果歿。</p>
<p>窗友黃汝道，環跳穴處閃傷，瘀血腫痛，發熱作渴。遂砭去瘀血，知其下焦素有虛火，用八珍加黃柏、知母、牛膝、骨碎補，四劑頓止。用十全大補湯少加黃柏、知母、麥門、五味，三十餘劑而斂。</p>

<h3>筋傷壅腫</h3>
<p>李考功子十四歲，腳腕閃傷，腫而色夭，日出清膿少許，肝脈微澀，此肝經受傷，氣血虛而不能潰，難治之症也，急止克伐之劑。不信。乃雜用流氣等藥，後果出爛筋而死。</p>

<h3>肺火衄血</h3>
<p>張地官墜馬傷腿，服草烏等藥，致衄血咳嗽，臂痛目黃，口渴齒痛，小便短少。此因燥劑傷肺與大腸而致。余用生地、芩、連、黃柏、知母、山梔、山藥、甘草，以潤肺之燥而生腎水，小便頓長，諸症並止。以山藥、五味、麥門、參、耆、芎、歸、黃柏、黃芩、知母、炙草，以滋陰血、養元氣，而瘡斂。</p>

<h3>肝火出血</h3>
<p>（三條）</p>
<p>俞進士折腿，骨已接，三月尚發熱，出汗不止。正體醫治不應，左關脈洪數，此肝火熾甚，血得熱而妄行也。遂投小柴胡湯加山梔、芍藥、生地、防風，血止熱退。又用八珍、五味、麥門治之，瘡口即愈。</p>
<p>田宗伯侄仲秋因怒跌僕，遍身作痛，發熱衄血，肝脈洪弦。余曰：久衄脈弦洪，乃肝火盛而制金也。至春則肝木茂盛而自焚，或戕賊脾土，非易治之症，當滋腎水，以生肝木益脾土，以生肺金。乃雜用瀉肝火等藥，歿於仲春之月。</p>
<p>一婦人因怒仆地，傷面出血，痰盛昏憒，牙關緊急。余曰：此怒動肝火，氣逆怫鬱，神明昏冒，而卒倒也。兩手脈洪大而無倫次，以小柴胡湯加黃連、山梔、芎、歸、橘紅、茯苓、薑汁，治之而蘇。</p>

<h3>胃火作嘔</h3>
<p>一膏粱之人跌腿，青腫作痛，服辛熱之藥，反發熱作喘，患處益痛，口乾唇揭。余曰：膏粱之人，內多積熱，夏服辛熱之劑，益其胃火而使然也。頻飲童便，以清胃散加山梔、黃芩治之頓止，患處以蔥熨之，腫即消散。</p>

<h3>陰虛作喘</h3>
<p>舉人杜克弘墜馬，服下血藥，反作喘，日晡益甚。此血虛所致耳，非瘀血為患，遂以四物加參、耆、五味、麥門治之，其喘頓止。又用補中益氣加五味、麥門而愈。此症果系瘀血蒸熏於肺而喘，只宜活血行血，亦不可下。若面黑胸脹，或膈痛作喘，當用人參一兩、蘇木二兩，作一劑水煎急服，緩則不治。產婦多有此疾。</p>

<h3>陰虛發熱</h3>
<p>楊進士傷手指，焮痛發熱，服寒涼之藥，致飲食頓減，患處不潰。余用托裡養血之藥，食進瘡潰，後因勞每日晡發熱，此陰虛而內熱也。以四物、軟柴胡、地骨皮乃退、更用養血氣之藥而瘡斂。</p>

<h3>氣血虛熱</h3>
<p>一男子墜馬，腹有瘀血。服藥下之，致發熱盜汗、自汗，脈浮澀。余以為重劑過傷氣血所致，投以十全大補湯益甚，時或譫語，此藥力未及而然也。以前藥加炮附子五分，服之即睡，覺來頓安，再劑而痊。</p>

<h3>血不歸經</h3>
<p>（二條）</p>
<p>大尹劉國信金瘡出血，發熱煩躁，屬陰虛為患。用聖愈湯治之，虛火息而血歸經矣。</p>
<p>梁閣老侄金瘡腫痛，出血不止，寒熱口乾。此氣虛血無所附，而血不歸經也。用補中益氣、五味、麥門主之，陽氣復而愈。</p>

<h3>氣無所附</h3>
<p>舉人余時正金瘡焮痛，出血不止，惡寒發熱。用敗毒等藥愈甚，亡血過多，氣無所附而然耳。遂以黃柏、知母、軟柴胡、玄參、五味、麥門，治之即愈。</p>

<h3>氣血俱虛</h3>
<p>余北仕時，有留都賈學士子，年十六，患流注已二載，公升北宗伯邀余治。診其脈洪大而數，膿清作渴，食少盜汗，朝寒暮熱。余曰：此氣血俱虛也，先以固氣血為主。午前以四君、芎、歸、炙草；午後以四物、參、耆、麥門、五味，兩月諸症遂可一二。有一醫，用滲和之藥保其必生，治之三月氣血極虛，而形體骨立。復懇治，余被命南下，後果歿。</p>

<h3>陽氣脫陷</h3>
<p>梁閣老侄跌傷腿，外敷大黃等藥，內服破血之劑，遂致內潰，余針出穢膿三碗許，虛證悉具，用大補之劑兩月餘，少能步履。因勞心，手撒眼閉，汗出如水。或欲用祛風之劑。余曰：此氣血尚未充足而然也。急以艾炒熱頻熨肚臍並氣海穴處，以人參四兩、炮附子五錢煎灌，良久臂少動，又灌一劑，眼開能言，但氣不能接續。乃以參、耆、歸、術四味共一斤，附子五錢水煎，徐徐服之而瘡愈。</p>

<h3>膽經血少</h3>
<p>一女子年十七，閃右臂，微腫作痛，寅申時發熱。余決其膽經血虛火盛，經水果先期而至。先以四物合小柴胡湯四劑熱退；更以加味四物湯，加香附、地骨皮、山梔各五分，芩、連、炙草各三分，二十餘劑其腫亦消；乃去黃連、山梔，又五十餘劑，經水調而元氣充矣。</p>

<h3>腎經虛怯</h3>
<p>（二條）</p>
<p>儒者王清之跌腰作痛，用定痛等藥不愈，氣血日衰，面目黧色。余曰：腰為腎之府，雖曰閃傷，實腎經虛弱所致。遂用杜仲、補骨脂、五味、山茱、蓯蓉、山藥，空心服；又以六君、當歸、白朮、神麯各二錢，食遠服。不月而瘥。</p>
<p>一二三歲兒閃腰作痛，服流氣等藥半載不愈。余曰：此稟腎氣不足，不治之症也。後果歿。</p>

<h3>痛傷胃嘔</h3>
<p>一婦人傷指，手臂俱腫，微嘔少食。彼以為毒氣內攻，診其脈沉細，此痛傷胃氣所致也，遂刺出膿碗許。先以六君、藿香、當歸而食進，繼以八珍、黃耆、白芷、桔梗，月餘而瘡愈。</p>

<h3>氣遏肉死</h3>
<p>（二條）</p>
<p>一男子修傷足指，色黑不痛而欲脫。余曰：此因陽氣虛，不能運達於患處也，急去之，速服補劑以壯元氣，否則死肉延足，必不救矣。不信。果黑爛上脛而死。大抵手足氣血罕到之地，或生瘡、或傷損，若戕其元氣，邪氣愈盛，潰爛延上必死，不潰而色黯者亦死。若骨斷筋皮尚連者，急剪去之。</p>
<p>一女年數歲，嚴寒上京，兩足受凍不仁，用湯泡漬，至春十指俱爛，牽連末落。余用托裡之劑，助其陽氣，自潰脫，得保其生。此因寒邪遏絕，運氣不至，又加熱湯泡漬，故死而不痛也。余嘗見人之嚴寒而出，凍傷其耳目不知痛，若以手觸之，其耳即落，當以暖暖處良久，或熱手熨之無恙，若以火烘湯泡，其耳即死，至春必潰脫落矣。北方寒氣損人若此，可不察之！</p>

<h3>涼藥遏經</h3>
<p>云間曹於容，為室人中風灌藥，誤咬去指半節，焮痛寒熱。外敷大黃等藥，內服清熱敗毒，患處不痛不潰，膿清寒熱愈甚。余曰：此因涼藥遏絕隧道而然也。遂敷玉龍膏以散寒氣，更服六君子湯以壯脾胃。數日後患處微痛，腫處漸消，此陽氣運達患處也，果出稠膿，不數日半指潰脫，更服托裡藥而斂。</p>
<p>上舍王天爵，傷足焮腫，內熱作渴，內服外敷，皆寒涼敗毒，患處益腫而不潰，且惡寒少食，欲作嘔吐。余曰：此氣血俱虛，又因寒藥凝結隧道，損傷胃氣，以致前症耳。遂用香砂六君子、芎、歸、炮姜，外症悉退。惟體倦晡熱，飲食不甘，以補中益氣湯，加地骨皮、五味、麥門，治之而愈。</p>
<p>州守王廷用傷指，即用帛裹之，瘀血內潰，焮腫至手。余謂：宜解患處，以出瘀血，更用推陳致新之劑。不信。乃敷涼藥，痛雖少止，次日復作，又敷之，數日後手心背俱潰出瘀穢膿水，尚服敗毒之劑，氣血益虛，色黯膿清，飲食少思。仍請余治，投以壯脾胃、生氣血之劑，由是膿水漸稠而愈。</p>

<h2>湯火所傷治驗</h2>

<h3>火毒刑肺金</h3>
<p>一男子孟冬火傷臂作痛，喘嗽發熱，此火毒刑肺金之症。用人參平肺散治之，喘嗽乃止。因勞又惡寒發熱，此氣血虛也，以八珍湯加桔梗、白芷，治之而退。再加薄桂三分以助藥熱、溫氣血，壞肉潰之而愈。若初起焮赤作痛，用神效當歸膏敷之，輕者自愈，重者自腐，生肌神效。或用側柏葉末，蠟油調敷亦效。若發熱作渴，小便赤色，其脈洪數而實者，用四物、茯苓、木通、生甘草、炒黃連。脈雖洪數而虛者，用八珍。若患處不潰而色黯者，四君、芎、歸、黃耆之類。若肉死已潰而不生肌者，用四君、黃耆、當歸、炮姜。若愈後而惡寒，陽氣未復也，急用十全大補，切不可用寒涼，反傷脾胃。</p>

<h3>火毒焮作</h3>
<p>一男子因醉被湯傷腿，潰爛發熱，作渴飲水，脈洪數而有力，此火毒為患。用生地、當歸、芩、連、木通、葛根、甘草，十餘劑諸症漸退。卻用參、耆、白朮、芎、歸、炙草、芍藥、白芷、木瓜，新肉將完。因勞忽寒熱，此氣血虛而然也，仍用參、耆之藥加五味子、酸棗仁而安；又月餘而瘡痊。</p>

<h3>火毒行於下焦</h3>
<p>一男子火傷兩臂焮痛，大小便不利。此火毒傳於下焦，用生地黃、當歸、芍藥、黃連、木通、山梔、赤茯苓、甘草，一劑二便清利，其痛亦止。乃以四物、參、耆、白芷、甘草，而壞肉去，又數劑而新肉生。</p>

<h3>火毒乘血分</h3>
<p>一婦人湯傷胸大潰，兩月不斂，脈洪大而無力，口乾發熱，日晡益甚，此陰血虛火，毒乘之而為患耳。用四物湯加柴胡、丹皮，熱退身涼。更用逍遙散加陳皮以養陰血、壯脾胃，腐肉去而新肉生。</p>

<h1>下卷</h1>

<h2>方藥</h2>

<h3>四君子湯</h3>
<p>治脾胃虛弱，或因克伐，腫痛不散，或潰而不斂，或飲食少思，或欲作嘔，大便不實等症。</p>
<p>人參　白朮　茯苓（各二錢）　甘草（炙，一錢）</p>
<p>上作一劑，薑棗水煎服。</p>

<h3>小柴胡湯</h3>
<p>治一切撲傷等症，因肝膽經火盛作痛，出血自汗，寒熱往來，日晡發熱，或潮熱身熱，咳嗽發熱，脅下作痛，兩胠痞滿。</p>
<p>柴胡（二錢）　黃芩（一錢五分）　半夏（一錢）　人參（一錢）　甘草（炙，三分）</p>
<p>上姜水煎服。</p>

<h3>神效蔥熨法</h3>
<p>治跌撲傷損，用蔥白細切杵爛，炒熱敷患處，如冷易之，腫痛即止，其效如神。</p>

<h3>八珍湯</h3>
<p>治傷損等症，失血過多，或因克伐，血氣耗損，惡寒發熱，煩躁作渴等症。</p>
<p>人參　白朮　白茯苓　當歸　川芎　白芍藥　熟地黃（各一錢）　甘草（炙，五分）</p>
<p>上薑棗水煎服。</p>

<h3>犀角地黃湯</h3>
<p>治火盛，血熱妄行，或吐衄不止，大便下血。如因怒而致，加山梔、柴胡。</p>
<p>犀角（鎊末）　生地黃　白芍藥　黃芩　牡丹皮　黃連（各一錢五分）</p>
<p>用水煎熟，傾於盅內，入犀末服之。</p>

<h3>十味參蘇散</h3>
<p>治氣逆，血蘊上焦，發熱氣促，或咳血衄血，或痰嗽不止，加黃芩、山梔，即加味參蘇飲。</p>
<p>人參　紫蘇　半夏　茯苓　陳皮　桔梗　前胡　葛根　枳殼（各一錢）　甘草（炙，五分）</p>
<p>上用姜水煎服。</p>

<h3>二味蘇參飲</h3>
<p>治出血過多，瘀血入肺，面黑喘促。</p>
<p>人參（一兩）　蘇木（二兩）</p>
<p>用水煎服。</p>

<h3>四物湯</h3>
<p>治一切血虛，日晡發熱，煩躁不安者，皆宜服之。</p>
<p>當歸　熟地黃（各三錢）　芍藥（二錢）　川芎（一錢五分）</p>
<p>上水煎服。加白朮、茯苓、柴胡、丹皮，即加味四物湯。</p>

<h3>桃仁承氣湯</h3>
<p>（加當歸即歸承湯）　治傷損血滯於內作痛，或發熱發狂等症。</p>
<p>桃仁　芒硝　甘草（各一錢）　大黃（二錢）</p>
<p>用水煎服。大黃更量虛實。</p>

<h3>加味承氣湯</h3>
<p>治瘀血內停，胸腹脹痛，或大便不通等症。</p>
<p>大黃　朴硝（各二錢）　枳實（一錢）　厚朴（一錢）　甘草（五分）　當歸　紅花（各一錢）</p>
<p>用酒水各一鍾，煎一鍾服，仍量虛實加減，病急不用甘草。</p>

<h3>獨參湯</h3>
<p>治一切失血，與瘡瘍潰後，氣血俱虛，惡寒發熱，作渴煩躁者，宜用此藥補氣。蓋血生於氣，陽生陰長之理也，用人參二兩，棗十枚，水煎服。</p>

<h3>歸脾湯</h3>
<p>治跌撲等症，氣血損傷，或思慮傷脾，血虛火動，寤而不寐，或心脾作痛，怠惰嗜臥，怔忡驚悸，自汗盜汗，大便不調，或血上下妄行，其功甚捷。</p>
<p>白朮　當歸　白茯苓　黃耆（炒）　龍眼肉　遠志　酸棗仁（炒，各一錢）　木香（五分）　甘草（炙，三分）　人參（一錢）</p>
<p>上薑棗水煎服。加柴胡、山梔，即加味歸脾湯。</p>

<h3>潤腸丸</h3>
<p>治跌撲等症，或脾胃伏火，大腸乾燥，或風熱血結等症。</p>
<p>麻子仁（一兩）　桃仁（一兩，去皮尖）　羌活　當歸尾　大黃（煨）　皂角刺　秦艽（各五錢）</p>
<p>上為末，煉蜜丸，桐子大，豬膽汁丸尤妙，每服三五十丸，食前白滾湯送下。凡怯弱人，先用豬膽導之，不通，宜補氣血。</p>

<h3>當歸補血湯</h3>
<p>治杖瘡金瘡等症，血氣損傷，肌熱大渴引飲，目赤面紅，晝夜不息，其脈洪大而虛，重按全無，此病多得於飢渴勞役者，若誤用白虎湯，必死。</p>
<p>黃耆（炙，一兩）　當歸（二錢，酒製）</p>
<p>用水煎服。</p>

<h3>聖愈湯</h3>
<p>治杖瘡、金瘡、癰疽，膿血出多，熱躁不安，或晡熱作渴等症。</p>
<p>熟地黃（酒洗）　生地黃（酒洗）　人參（各一錢）　川芎（一錢）　當歸（酒洗）　黃芩（各五分）</p>
<p>用水煎服。</p>

<h3>十全大補湯</h3>
<p>治杖瘡，氣血俱虛，腫痛不消，腐而不潰，潰而不斂，或惡寒發熱，自汗盜汗，飲食少思，肢體倦怠。若怯弱之人，患處青腫而肉不壞者，服之自愈。若有瘀血，砭刺早者，服之自消。或潰而膿水清稀，肌肉不生，或口乾作渴而飲湯者，尤宜服之。</p>
<p>白茯苓　人參　當歸　白朮　黃耆　川芎　白芍藥（炒）　熟地黃（生者自制）　肉桂（五分）　甘草（炙，各一錢）</p>
<p>用薑棗水煎服。</p>

<h3>參附湯</h3>
<p>治金瘡、杖瘡，失血過多，或膿瘀大泄，陽隨陰走，上氣喘急，自汗盜汗，氣短頭暈等症。</p>
<p>人參（四錢）　附子（炮去皮臍，三錢）</p>
<p>用水煎服，陽氣脫陷者，倍用之。</p>

<h3>清胃散</h3>
<p>治血傷火盛，或胃經濕熱，唇口腫痛，牙齦潰爛，或發熱惡寒等症。</p>
<p>生地黃（五分）　升麻（一錢）　牡丹皮（五分）　當歸（酒洗，五分）　黃連（五分）</p>
<p>用水煎服。如痛未止，黃芩、石膏、大黃之類，皆可量加。</p>

<h3>清燥湯</h3>
<p>治跌撲瘡瘍，血氣損傷，或潰後氣血虛怯，濕熱乘之，遍身痠軟；或秋夏濕熱太甚，肺金受傷，絕寒水生化之源，腎無所養，小便赤澀，大便不調；或腰腿痿軟，口乾作渴，體重麻木；或頭目暈眩，飲食少思；或自汗體倦，胸滿氣促；或氣高而喘，身熱而煩。</p>
<p>黃耆（一錢五分）　蒼朮（一錢）　白朮　陳皮　澤瀉（各五分）　五味子（九粒）　白茯苓　人參　升麻（各五分）　麥門冬　當歸身　生地黃　神麯（炒）　豬苓　酒柏（各五分）　柴胡　黃連　甘草（炙，各三分）</p>
<p>上姜水煎服。濕痰壅盛，參、耆、歸、地之類，可暫減之。</p>

<h3>生脈散</h3>
<p>治金瘡、杖瘡等症，發熱體倦，氣短。或汗多作渴，或潰後睡臥不寧，陽氣下陷，發熱煩躁。若六七月間，濕熱大行，火土合病，令人脾胃虛弱，身重氣短。或金為火制，絕寒水化源，肢體痿軟，腳欹眼黑。並宜服。</p>
<p>人參（五錢）　五味子（一錢）　麥門冬（一錢）</p>
<p>用水煎服。</p>

<h3>二妙丸</h3>
<p>治下焦濕熱腫痛，或流注遊走，遍身疼痛。</p>
<p>蒼朮　黃柏（各等分）</p>
<p>用為末，每服二三錢，酒調服，作丸亦可。</p>

<h3>四斤丸</h3>
<p>治肝腎精血不足，筋無所養，攣縮不能步履，或邪淫於內，筋骨痿軟。</p>
<p>肉蓯蓉（酒浸）　牛膝（酒洗）　天麻　乾木瓜　鹿茸（炙）　熟地黃（生者自制）　菟絲子（酒浸煮杵）　五味子（各等分）</p>
<p>上為末，用地黃膏丸，桐子大，每服五七十丸，空心溫酒送下。</p>

<h3>補中益氣湯</h3>
<p>治跌撲等症，損傷元氣，或過服克伐，惡寒發熱，肢體倦怠，血氣虛弱，不能生肌收斂；或兼飲食勞倦，頭痛身熱，煩躁作渴，脈洪大弦虛；或微細軟弱，自汗倦怠，飲食少思。</p>
<p>黃耆（炙）　人參　白朮　甘草（炙，各一錢五分）　當歸（一錢）　陳皮（五分）　柴胡　升麻（各三分）</p>
<p>用薑棗水煎服。</p>

<h3>四生散</h3>
<p>治腎臟風毒，遍身瘙癢，或膿水淋漓，耳鳴目癢，或鼻赤齒浮，口舌生瘡，婦人血風瘡更效。</p>
<p>白附子　獨活　黃耆　蒺藜（各等分）</p>
<p>上為末，各等分，每服二錢，用腰子一枚，劈開入藥，濕紙包裹，煨熟細嚼，鹽湯下，酒服亦可。</p>

<h3>竹葉黃耆湯</h3>
<p>治氣血虛，胃火盛，而作渴者。</p>
<p>淡竹葉（二錢）　黃耆　生地黃　當歸　麥門冬　川芎　甘草　黃芩（炒）　芍藥　人參　石膏（煅，各一錢）</p>
<p>用水煎服。</p>

<h3>竹葉石膏湯</h3>
<p>治胃火盛，而作渴者。</p>
<p>淡竹葉　石膏（煅）　桔梗　木通　薄荷　甘草（各一錢）</p>
<p>用姜水煎服。</p>

<h3>人參平肺飲</h3>
<p>治心火克肺，咳嗽喘嘔，痰涎壅盛，咽喉不利等症。</p>
<p>人參　陳皮　甘草（各一錢）　地骨皮　茯苓　知母（各八分）　五味子　青皮　天門冬　桑白皮（各五分）</p>
<p>上水煎服。</p>

<h3>滋腎丸</h3>
<p>治腎經陰虛，發熱作渴，足熱腿膝無力等症。凡不渴而小便閉者，最宜用之。</p>
<p>肉桂（三錢）　知母（酒炒）　黃柏（酒炒，各二兩）</p>
<p>上為末，水丸，桐子大，每服七八十丸，空心白滾湯下。</p>

<h3>六味地黃丸</h3>
<p>（加肉桂、五味各一兩，名加減八味丸）　治傷損之症，因腎肺二經虛弱，發熱作渴，頭暈眼花，咽燥唇裂，齒不堅固，腰腿痿軟，小便頻赤，自汗盜汗，便血諸血，失喑水泛為痰之聖藥。血虛發熱之神劑。若損重傷骨，不能言如喑者，用此水煎服之，亦效。</p>
<p>熟地黃（八兩，杵膏自制）　山茱萸肉　乾山藥（各四兩）　牡丹皮　白茯苓　澤瀉（各三兩）</p>
<p>上為末，和地黃丸桐子大。每服七八十丸，空心食前滾湯下。</p>

<h3>清心蓮子飲</h3>
<p>治發熱口渴白濁，夜安靜而晝發熱等症。</p>
<p>黃芩（一錢）　麥門冬　地骨皮　車前子（炒）　甘草（各一錢五分）　石蓮肉　茯苓　黃耆（炒）　柴胡　人參（各一錢）</p>
<p>上水煎服。</p>

<h3>七味白朮散</h3>
<p>治脾胃虛弱，津液短少，口渴作渴，或中風虛熱，口舌生瘡，不喜飲冷。最宜服之。</p>
<p>人參　白朮　木香　白茯苓　甘草（炙）　藿香（各五分）　乾葛（一錢）</p>
<p>用水煎服。</p>

<h3>黑丸子</h3>
<p>（一名和血定痛丸）　治跌撲墜墮，筋骨疼痛，或瘀血壅腫，或風寒肢體作痛。若流注膝風，初結服之自消。若潰而膿清發熱，與補氣血藥，兼服自斂。</p>
<p>百草霜　白芍藥（各一兩）　赤小豆（一兩六錢）　川烏（炮，三錢）　白蘞（一兩六錢）　白芨　當歸（各八錢）　南星（泡，三錢）　牛膝（焙，六錢）　骨碎補（焙，六錢）</p>
<p>上各另為末，酒糊丸，桐子大，每服三十丸，鹽湯溫酒送下。孕婦勿服。</p>

<h3>白丸子</h3>
<p>治一切風痰壅盛，手足頑麻。或牙關緊急，口眼歪斜，半身不遂等症。</p>
<p>半夏（七兩，生用）　南星（二兩，生用）　川烏（去皮臍生用，五錢）</p>
<p>上為末，用生薑汁調糊丸，桐子大，每服一二十丸，薑湯送下。</p>

<h3>六君子湯</h3>
<p>治金瘡、杖瘡等症。因元氣虛弱，腫痛不消，或不潰斂，或服克伐傷脾，或不思飲食，宜服之以壯營氣。此方即四君子湯，加陳皮、白朮。更加香附、藿香、砂仁，香砂六君子。</p>

<h3>回陽玉龍膏</h3>
<p>治跌撲所傷，為敷涼藥，或人元氣虛寒，腫不消散，或不潰斂，及癰腫堅硬，肉色不變，久而不潰，潰而不斂，或筋攣骨痛，一切冷症並效。</p>
<p>草烏（二錢）　南星（一兩，煅）　軍姜（炒，一兩）　白芷（一兩）　赤芍藥（一兩，炒）　肉桂（五錢）</p>
<p>用為末，蔥湯調塗，熱酒亦可。</p>

<h3>復原活血湯</h3>
<p>治跌撲等症，瘀血停凝，脅腹作痛，甚者大便不通。</p>
<p>柴胡　當歸　紅花（各二錢）　穿山甲（炮，五分）　大黃（酒炒，一錢）　桃仁（二十枚）　甘草（五分）　栝蔞根（一錢）</p>
<p>用酒水各半煎服。</p>

<h3>復原通氣散</h3>
<p>治打撲傷損作痛，及乳癰便毒初起，或氣滯作痛。</p>
<p>木香　茴香（炒）　青皮（去白）　穿山甲（酥炙）　陳皮　白芷　甘草　漏蘆　貝母（各等分）</p>
<p>上為末，每服一二錢，溫酒調下。</p>
<p>愚按：前方治打撲閃錯或惱怒，氣滯血凝作痛之良劑。經云：形傷作痛，氣傷作腫。又云：先腫而後痛者，形傷氣也，先痛而後腫者，氣傷形也。若人元氣素弱，或因叫號，血氣損傷，或過服克伐之劑，或外敷寒涼之藥，血氣凝結者。當審前大法，用溫補氣血為善。</p>

<h3>神效太乙膏</h3>
<p>治癰疽發背杖瘡，及一切瘡疽潰爛。</p>
<p>玄參　白芷　當歸　肉桂　赤芍藥　大黃　生地黃（各一兩）</p>
<p>用麻油二斤，入銅鍋內煎至藥黑，濾去渣，徐入淨黃丹十二兩，再煎，滴水中捻，軟硬得中，即成膏矣。</p>

<h3>乳香定痛散</h3>
<p>治杖瘡、金瘡，及一切瘡瘍，潰爛疼痛。</p>
<p>乳香　沒藥（各五錢）　滑石（一兩）　寒水石（一兩，煅）　冰片（一錢）</p>
<p>上為末，搽患處，痛即止，甚效。</p>

<h3>豬蹄湯</h3>
<p>治一切癰疽杖瘡潰爛，消腫毒，去惡肉。</p>
<p>白芷　當歸　羌活　赤芍藥　露蜂房（蜂兒多者佳）　生甘草（各五錢）</p>
<p>用豬蹄一隻，水五碗，煮熟取清湯，入前藥，煎數沸去渣，溫洗，隨用膏藥貼之。</p>

<h3>神效當歸膏</h3>
<p>治杖撲湯火瘡毒，不問已潰未潰，肉雖傷而未壞者，用之自愈。肉已死而用之自潰，新肉易生，搽至肉色漸白，其毒始盡，生肌最速。如棍杖者，外皮不破，肉內糜爛，其外皮因內焮干縮，堅硬不潰，爬連好肉作痛。故俗云丁痂皮，致膿瘀無從而泄，內愈脹痛，腐潰益深，往往不待其潰，就行割去，而瘡口開張，難以潰斂，怯弱之人，多成破傷風症，每致不救。若杖瘡內有瘀血者，即用有鋒芒瓷片，於患處砭去，塗以此藥，則丁痂自結，死肉自潰，膿穢自出，所潰亦淺，生肌之際，亦不結痂，又免皴揭之痛，殊有神效。蓋當歸、地黃、麻油、二蠟，主生肌止痛、補血續筋，與新肉相宜。此方余以刊行，治者亦多用之。</p>
<p>當歸（一兩）　麻油（六兩）　黃蠟（一兩）　生地黃（一兩）</p>
<p>上先將當歸、地黃入油煎黑去粗，入蠟溶化，候冷攪勻，即成膏矣。白蠟尤效。</p>

<h3>托裡散</h3>
<p>治金瘡、杖瘡，及一切瘡毒。因氣血虛不能成膿，或膿成不能潰斂，膿水清稀，久而不瘥。</p>
<p>人參（一錢，氣虛多用之）　黃耆（鹽水拌炒，一兩）　白朮（炒）　陳皮（各七分）　當歸身（酒拌，一錢）　芍藥（酒炒）　熟地黃（生者自制）　白茯苓（各一錢）</p>
<p>用水煎服。</p>

<h3>加味芎歸湯</h3>
<p>治跌撲墜墮，皮膚不破，瘀血入胃作嘔。</p>
<p>芎藭　當歸　百合（水浸半日）　白芍藥　荊芥穗（各二錢）</p>
<p>用酒水煎服。</p>

<h3>當歸導滯散</h3>
<p>治跌撲，瘀血在內，胸腹脹滿，或大便不通，或喘咳吐血。</p>
<p>大黃　當歸（各等分）</p>
<p>用為末，每服三錢，溫酒下，氣虛須加桂。</p>

<h3>花蕊石散</h3>
<p>治打撲傷損，腹中瘀血，脹痛欲死，服之血化為水，其功不能盡述。</p>
<p>硫黃（明色者，四兩）　花蕊石（一兩）</p>
<p>上為末和勻。先用紙筋和鹽泥固濟瓦罐一個，候乾入藥，再用泥封口，安在磚上，虛書八卦五行，用炭三十斤煅之，罐冷取出。每服一錢，童便調下。</p>
<p>愚按：前方若被傷熾盛，元氣虧損，內有瘀血，不勝疏導者，用前藥一服，其血內化，又不動臟腑，甚妙、甚妙！</p>

<h3>經驗方</h3>
<p>治跌撲瘀血作痛，或筋骨疼痛。</p>
<p>黃柏（一兩）　半夏（五錢）</p>
<p>上為末，用薑汁調塗患處，以紙貼之，如乾薑汁潤之，周日易之。</p>

<h3>消毒定痛散</h3>
<p>治跌撲腫痛。</p>
<p>無名異（炒）　木耳（炒）　大黃（炒，各五分）</p>
<p>上為末，蜜水調塗。如內有瘀血，砭去敷之。若腐處，更用當歸膏敷之尤妙。</p>

<h3>藥蛆方</h3>
<p>治杖瘡潰爛生蛆，用皂礬煅過為末乾摻，其內蛆即死。如未應，佐以柴胡梔子散，以清肝火。</p>

<h3>洗藥</h3>
<p>凡傷重者，用此淋洗，然後敷藥。</p>
<p>荊芥　土當歸　生蔥（切斷，一方用生薑）</p>
<p>上煎湯溫洗，或止用蔥一味，煎洗亦可。</p>

<h3>黑龍散</h3>
<p>治跌撲傷損，筋骨碎斷。先用前湯淋洗，以紙攤貼。若骨折，更以薄木片夾貼，以小繩束三日，再如前法勿去夾板，恐搖動患處，至骨堅牢，方宜去。若被刀剪蟲傷成瘡，並用薑汁和水調貼，口以風流散填塗。</p>
<p>土當歸（二兩）　丁香皮（六兩）　百草霜（散血入六兩）　穿山甲（六兩，炒黃或煉存性）枇杷葉（去毛入半兩，一雲山枇杷根）</p>
<p>上焙為細末，薑汁水調，或研地黃汁調，亦好。</p>

<h3>洪寶丹</h3>
<p>（一名濟陰丹）　治傷損焮痛，並接斷。</p>
<p>天花粉（三兩）　薑黃　白芷　赤芍藥（各一兩）</p>
<p>上為末，茶湯調搽患處。</p>
<p>治金傷出血不止。用牛膽、石灰，摻之即止。以臘月牛膽入風化石灰，懸當風，候乾用。</p>
<p>又方：金瘡出血不止，以五倍子生為末，干貼。如不止，屬血熱，宜用犀角地黃湯之類。大凡金瘡出血不止，若素怯弱者，當補氣。若素有熱，當補血。若因怒氣，當平肝。若煩熱作渴昏憒，當補脾氣。若筋攣搐搦，當養肝血。不應，用地黃丸，以滋腎水。</p>
<p>又方：皮破筋斷者，以百膠香塗之，或以金沸草汁頻塗，自然相續。</p>

<h3>沒藥降聖丹</h3>
<p>治傷損筋骨疼痛，或不能屈伸，肩背拘急，身體倦怠，四肢無力。</p>
<p>沒藥（別研）　當歸（酒洗炒）　白芍藥　骨碎補（撏去毛）　川烏（去毛臍泡）　川芎（各一兩半）　自然銅（火煅醋淬十二次，研為末水飛過，焙，一兩）</p>
<p>上為細末，每一兩作四丸，以生薑自然汁與煉蜜為丸，每服一丸，捶碎，用水酒各半鍾，入蘇木少許，煎至八分，去蘇木，空心服。</p>
<p>愚按：脾主肉，肝主筋。若因肝脾二經氣血虛弱，或血虛有熱而不愈者，當求其本而治之。</p>

<h3>萬金膏</h3>
<p>治癰疽及墜撲傷損，或筋骨疼痛。</p>
<p>龍骨　鱉甲　苦參　烏賊魚骨　黃柏　黃芩　黃連　白芨　白蘞　豬牙皂角　厚朴　草烏　川芎　當歸　木鱉子仁　白芷（各一兩）　沒藥（另研）　乳香（另研，各半兩）　槐枝　柳枝（各四寸長，二十一條）　黃丹（一斤半，炒過淨）　清油（四斤）</p>
<p>上除乳、沒、黃丹外，諸藥入油內，煎至黑色去之，稱淨油，每斤入丹半斤，不住手攪令黑色，滴水中不黏手，下乳、沒再攪，如硬，入油些少，以不黏手為度。</p>

<h3>接骨散</h3>
<p>治骨折碎，或骨出𩨽，先整端正，卻服此藥，如飛禽六畜所傷，亦能治。</p>
<p>硼砂（一錢五分）　水粉　當歸（各一錢）</p>
<p>上為末，每服二錢，煎蘇木湯調服，後但飲蘇木湯，立效。</p>

<h3>本事接骨方</h3>
<p>治打折傷損。</p>
<p>接骨木（半兩，即蒴藋也）　乳香（半兩）　赤芍藥　當歸　川芎　自然銅（各一兩）</p>
<p>上為末，用黃蠟四兩溶入前末攪勻，眾手丸龍眼大。如打傷筋骨及閃痛不堪忍者，用一丸，熱酒浸開熱呷，痛便止。若大段傷損，先整骨，用川烏、草烏等分為末，生薑汁調貼之。挾定服藥，無不效者。</p>
<p>愚按：前三方俱效者備錄之，以便修用。</p>

<h3>沒藥丸</h3>
<p>治打撲筋骨疼痛，或血逆血暈，或瘀血內停，肚腹作痛，或胸膈脹悶。</p>
<p>沒藥　乳香　川芎　川椒　芍藥　當歸　桃仁　血竭（各一兩）　自然銅（四錢，火煅七次）</p>
<p>上為末，用黃蠟四兩，溶化入前末，速攪勻，丸彈子大，每服一丸，酒化服。</p>
<p>愚按：接骨散、沒藥丸，元氣無虧者，宜用。若腎氣素怯，或高年腎氣虛弱者，必用地黃丸、補中益氣湯，以固其本為善。</p>

<h3>羌活防風湯</h3>
<p>治破傷風邪初在表者，急服此藥以解之，稍遲則邪入於裡，與藥不相合矣。</p>
<p>羌活　防風　甘草　川芎　藁本　當歸　芍藥（各四兩）　地榆　細辛（各二兩）</p>
<p>上每服五錢，水煎。</p>

<h3>防風湯</h3>
<p>治破傷風，表症未傳入里，急宜服之。</p>
<p>防風　羌活　獨活　川芎（各等分）</p>
<p>上每服五錢，水煎，調蜈蚣散服，大效。</p>

<h3>蜈蚣散</h3>
<p>蜈蚣（一對）　鰾（三錢）</p>
<p>上為細末，用防風湯調下。</p>

<h3>羌活湯</h3>
<p>治破傷風，在半表半裡。急用此湯稍緩，邪入於裡不宜用。</p>
<p>羌活　菊花　麻黃　川芎　石膏　防風　前胡　黃芩　細辛　甘草　白茯苓　枳殼　蔓荊子（各一兩）　薄荷　白芷（各五錢）</p>
<p>上每服五錢，水煎。</p>

<h3>地榆防風散</h3>
<p>治風在半表半裡，頭微汗，身無汗，不可發汗，兼治表裡。</p>
<p>地榆　防風　地丁草　馬齒莧（各等分）</p>
<p>上為細末，每服三錢，米湯調服。</p>

<h3>大芎黃湯</h3>
<p>治風在裡，宜疏導，急服此湯。</p>
<p>川芎　羌活　黃芩　大黃（各一兩）</p>
<p>上五七錢，水煎溫服，臟腑通利為度。</p>

<h3>白朮防風湯</h3>
<p>治服表藥過多自汗者。</p>
<p>白朮　黃耆（各一兩）　防風（二兩）</p>
<p>上每服五七錢，水煎服。臟腑和而自汗者可服。若臟腑秘，小便赤者，宜用大芎黃湯下之。</p>

<h3>白朮湯</h3>
<p>治破傷風汗不止，筋攣搐搦。</p>
<p>白朮　葛根　升麻　黃芩　芍藥（各二兩）　甘草（二錢五分）</p>
<p>上每服五錢，水煎，無時服。</p>

<h3>謙甫硃砂丸</h3>
<p>治破傷風，目瞪口噤不語，手足搐搦，項筋強直，不能轉側，目不識人。</p>
<p>硃砂（研）　半夏（洗）　川烏（各一兩）　雄黃（五錢）　鳳凰臺（三錢）　麝香（一字）</p>
<p>上為末，棗肉丸，桐子大，每服一丸或二丸，冷水下，以吐為度；如不吐，加一丸。或吐不住，煎蔥白湯止之，汗出為效。</p>

<h3>左龍丸</h3>
<p>治直視在裡者。</p>
<p>左盤龍（野鴿糞）　白殭蠶　鰾（炒，各五錢）　雄黃（一錢）</p>
<p>上為末，燒飯丸，桐子大。每服十五丸，溫酒下。如里症不已，當用前藥末一半，加巴豆霜半錢，燒飯丸，桐子大。每服加入一丸，如此漸加，以利為度。利後服和解藥。</p>

<h3>江鰾丸</h3>
<p>治破傷風，傳入里症，驚而發搐，臟腑秘澀。</p>
<p>江鰾（銼炒，半兩）　野鴿糞（炒，半兩）　雄黃（一錢）　白殭蠶（半兩）　蜈蚣（一對）　天麻（一兩）</p>
<p>上為末，作三分二分，燒飯丸，桐子大，硃砂為衣，一分，入巴豆霜一錢，亦用燒飯丸。每服硃砂者二十丸，入巴豆者一丸，漸加至利為度，後止服前丸。</p>

<h3>養血當歸地黃湯</h3>
<p>當歸　地黃　芍藥　川芎　藁本　防風　白芷（各一兩）　細辛（五錢）</p>
<p>上依前煎服。</p>

<h3>廣利方</h3>
<p>治破傷風發熱。</p>
<p>栝蔞子（九錢）　滑石（三錢半）　南星　蒼朮　赤芍藥　陳皮　炒柏　黃連　黃芩　白芷甘草（各五分）</p>
<p>用姜水煎服。</p>
<p>上二方，用竹瀝、栝蔞實輩。治破傷風熱痰脈洪者。前方用南星、半夏、草烏、川烏輩，則治破傷風寒痰脈無力者。</p>

<h3>白丸子</h3>
<p>治一切風痰壅盛，手足頑麻，或牙關緊急，口眼歪斜，半身不遂等症。</p>
<p>半夏（七兩，生用）　南星（二兩，生用）　川烏（去皮臍生用，五錢）</p>
<p>上為末，用生薑汁調糊丸，桐子大。每服一二十丸，薑湯下。</p>

<h3>本事玉真散</h3>
<p>治破傷風，及打撲損傷，項強口噤欲死。（南星有防風制其毒，不麻人）</p>
<p>天南星（湯泡七次）　防風（等分）</p>
<p>上為末，先以熱童子小便洗淨瘡口，拭乾摻之，良久渾身作癢，瘡口出赤水是效。又以溫酒調下一錢，如牙關緊急，腰背反張，用藥二錢，童子小便調服。至死心頭微溫者，急灌之，亦可救，累效累驗。</p>
<p>治打撲傷損，腫痛傷風者。</p>
<p>天南星　半夏　地龍（各等分）</p>
<p>上為末，用生薑、薄荷汁，調搽患處。</p>
