<header data-type="book">
<h1>治痢捷要新書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>丁國瑞</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1898">公元1898年</data></dd></div>
</dl>
</header>

<h1>張氏醫案跋</h1>
<p>憶昔髫齡就傅城南編吉巷施師補華墊中課讀閒嘗聞之太夫子許雷門汪謝城兩先生言吾浙名醫以桐鄉張千里學博為最著惜詠生也晚不及瞻仰丰儀為憾事旋從曉五胞伯侍診十年耳提而命時亦曾以張先生勖勵後進爾時先嘉六府君就貴陽張公秀水縣刑席公餘之暇散步城中向有書癖在舊書攤上購得此稿閱之珍為拱璧藏諸行篚有年矣內有許陳錫山孫文成公病腫議請停止草藥緣山將身體作提防洞徹病因分明璧解名言精義頗具至理不愧斷輪老手治病治河何莫不然令人企敬前型百讀不懨詠曾筮仕山左隨督河主任豫懷張愚箴都轉上達於上中下三遊堵合張村大寨四紙坊韓家垣陶城埠格提高家套諸險工合龍案內薦保二千石虛榮隨帶加一級於河工堤防堵合宜泄引河掛柳護掃譴要略有心得躬履其境似與醫</p>

<h2>治痢捷要新書</h2>

<h3>治痢宜伸陽氣之權論</h3>
<p>經曰陽氣者若天與日失其所則夭折而不張又曰陽氣衰不能滲營其經終故經言飲食入胄遊溢精氣上輸於脾脾氣散精上歸於肺通調水道下輸膀胱水精四布五經並行陰陽揆度以為常也曰遊溢曰上輸日散精日上歸日通調日下輸日四布日並行皆陽氣之用也可知陽氣者內則運化飲食外則分溫四體揆度如常百病不生者也痢疾者陽氣抑鬱於脾胃之間而為病者也然當陽氣得位之時伏而不發至於陽氣斂降之時而其患漸萌因是而水道不通因是而腹痛食減因是而下痢赤白因是而裡急後重矣故治痢而有宜表藥者外感風寒陽氣不得舒越必發之散之使風寒去而陽氣始得舒越也有宜攻藥者內傷積滯陽氣不得宣通必刮之逐之使積滯去而陽氣始得宣通也有宜溫補者臟腑虛寒陰邪凝結陽氣無權不能舒越宣通必溫之熱之升之補之所以助其舒越宣通之用也自古言痢諸家從未有專論陽氣者然觀大苦大寒之味尚必佐以辛熱今人治痢一見後重輒行攻克一見下血惟事清涼詎知攻克過度陽氣受傷因之下陷而後重益甚清涼過度陽氣虛冷血不歸經而下血愈多甚至絕谷不食通身逆冷以死者皆陽氣撕滅之明驗也故凡治痢投藥之後脈有疏暢條達之意者即便知為可愈之兆也何也蓋邪郁開而陽氣通行故也</p>

<h3>治痢宜辨寒熱虛實論</h3>
<p>李土材曰痢之為症多本脾腎腳司倉凜土為萬物之母腎主蟄藏水為萬物之原二臟皆根本之地投治少差冤沉幽冥究其疵誤皆寒熱未明虛實不辨也晚近不足論即在前賢頗有偏僻如局方與復庵例行辛熱河間與丹溪專用苦寒何其執而不圓相去天壞耶夫痢起於豆秋濕蒸熱鬱本乎天也因熱求涼過吞生冷由於人也氣壯而傷於天者鬱熱居多氣弱而傷於人者陰寒為甚濕土寄旺於四時或從火化則陽土有餘而濕熱為病經所謂墩阜是也或從於水則陰土不足而寒濕為病經所謂插監是也言熱者遣寒言寒者廢熱豈非立言之過乎至於赤為熱白為寒亦非確論果爾則赤白相兼者豈真寒熱同病乎必以見證與色脈辨之而後寒熱不淆也須知寒者多虛熱者多實更以虛實細詳之而寒熱愈明矣脹滿惡食急痛拒接者實也煩渴引飲喜冷畏熱者熱也脈強而實者實也脈敝而滑者熱也外此者靡非虛寒矣而相似之際尤常審察如以口渴為實熱似矣不知凡瀉痢必亡津液液亡於下則津涸於上安得不渴更當以喜熱喜冷分虛實他以腹痛為實熱似矣不知痢也晚近不足論即在前賢頗有偏僻如局方與復庵例行辛熱河間與丹溪專用苦寒何其執而不圓相去天壞耶夫痢起於豆秋濕蒸熱鬱本乎天也因熱求涼過吞生冷由於人也氣壯而傷於天者鬱熱居多氣弱而傷於人者陰寒為甚濕土寄旺於四時或從火化則陽土有餘而濕熱為病經所謂墩阜是也或從於水則陰土不足而寒濕為病經所謂插監是也言熱者遣寒言寒者廢熱豈非立言之過乎至於赤為熱白為寒亦非確論果爾則赤白相兼者豈真寒熱同病乎必以見證與色脈辨之而後寒熱不淆也須知寒者多虛熱者多實更以虛實細詳之而寒熱愈明矣脹滿惡食急痛拒接者實也煩渴引飲喜冷畏熱者熱也脈強而實者實也脈敝而滑者熱也外此者靡非虛寒矣而相似之際尤常審察如以口渴為實熱似矣不知凡瀉痢必亡津液液亡於下則津涸於上安得不渴更當以喜熱喜冷分虛實他以腹痛為實熱似矣不知痢出於臟腸胄必傷膿血剝膚安得不痛更當以痛之緩急按之可否臟之陰陽腹之脹奧不脹脈之有力無力分虛實也以小便之黃赤短少為實熱似矣不知水從痢去溲必不長液以陰亡溺因色變更當以便之熱與不熱液之涸與不涸色之澤與不澤分虛實也以裡急後重為實熱似矣不知氣陷則倉凜不藏陰亡則門戶不閉更當以病之新久質之強弱脈之盛衰分虛實也</p>

<h3>治痢要訣</h3>
<p>凡治痢疾最當察虛實辨寒熱此瀉痢中最大關係若四者不明則殺入甚易須知寒症近乎虛然寒中亦有實熱症近乎實熱中亦有虛能將虛實寒熱表裡陰陽八個字細心體察認得清清楚楚病雖千變萬化亦難出此範圍在諸病皆然又不獨治痢而已也</p>
<p>痢之一證總由夏秋之交陽氣斂降之際或感風寒暑濕或觸時行疫氣或恣食腥冷或飢飽失宜以致裡氣壅滯表氣鬱遏而為痢矣傷於氣分則白傷於血分則赤赤白同見則氣血並傷其治法大要在宣通陽氣舒通滯氣消宿食清濕熱而已間有下元素虛或脾濕胃弱驟為寒邪所乘與傷寒少陰證直中寒邪相似者此係純虛無實純寒無熱之症也即當以大溫大補之法治之總之寒熱虛實其色脈情形不難立辨最緊要處只在初得之一二日認定是寒是熱是虛是實立施汗下利溫消導升補之法病雖險惡亦不難立見奇功或遇年邁氣虛患積滯實熱之症法應消導清裡者亦即照法清之導之勿疑慮勿畏葸但其輕重緩急之間與年強力壯者略有區別耳蓋積滯去則胄氣升邪氣除則正氣復飲食一進表裡自利若狃於氣虛年邁不可攻伐專進以補氣養血之藥殊不知愈補愈壅愈痢邪氣未除正氣消盡飲食不進病勢日增補之不得瀉之不可雖有善者亦無加之何矣我故曰治痢疾與治瘟疫同只在初得之一二日全在瞻力壯識見定認明寒熱虛實以施治之否則鮮有不輕病轉重重病致死者承斯任者可不慎之於初</p>

<h3>虛實寒熱辨</h3>
<p>形氣厚實脾胃強健者多實形體單薄脾胃素弱者多虛腹痛拒按脹滿堅硬者多實腹痛喜按痞悶短氣者多虛新痢多實久痢多虛初病裡急後重者多實久病裡急後重者多虛肛門奪痛得便稍減者多實下墜脫肛便後痛甚者多虛痢色濃厚氣味極臭者多實痢色清淡頻下汙衣者多虛舌胎黃厚干刺者多實舌胎滑白或無者多虛脈息滑數鼓指蔌堅大緊實浮沈皆有力者多實脈息弦細濡澀按之無力者多虛大寒大熱頭痛骨酸面赤無汗者此又表邪之實無熱惡寒自汗踡臥者此又表裡皆虛脈息滑數鼓指外見目赤舌刺頭疼壯熱煩躁譫妄者此又時疫之實脈息細微無力面色刮白氣倦神呆自汗不食者莫非正氣之虛喜冷畏熱者多熱喜熱畏冷者多寒口渴思涼者多熱日不渴或渴不思涼者多寒小便赤短熱澀而痛者多熱小便清白不熱不澀者多寒舌胎芒刺唇口焦裂者多熱舌上滑胎唇口刮白者多寒下痢膿血或純血色鮮紅者多熱下不純血血不純紅者多寒痢色濃厚腥臭肛門火燎者多熱痢色淺淡或如膠凍魚腦鼻涕或大孔洞瀉者多寒脈息滑實有力或滑而疾數者多熱脈息弦緊或遲細無力者多寒神煩躁急者多熱神煩不躁急者爹寒身輕氣高壯熱者多熱身重氣短四肢微厥者多寒</p>

<h3>痢疾初起治例</h3>
<p>痢疾初發實症居多但實中須分表實裡實表實者外感風寒暑濕及時行疫氣是也其症多見頭疼身痛憎寒壯熱鼻塞聲重胸膈痞悶等症裡實者內傷飲食積滯及濕熱食痰留滯腸胃是也其症多見胸膈脹滿惡食腹痛拒按飽噯呃逆裡急後重頻欲登圊及去而所下無多才起則腹急後墜此皆濕食氣滯凝結之故也表實者宜發表裡實者宜疏里痢疾初發表裡同病者居多放治法以發散表邪疏通里滯為主今擬一湯各曰加減奇效舊香湯實為痢疾初起之通劑寒熱虛實隨證加減皆可施用對症則一服霍燃而愈不對證亦為害其有調理失宜愈而復發或因兜澀太早積熱未清或因表邪壅閉纏綿不解者雖屬久痢亦可用此湯量為加減以利之</p>
<p>加減奇效霍香湯此湯治暑熱濕食兼疫之痢又治形寒飲冷霍亂吐瀉嘔噦噁心吞酸膈脹腹痛以及小兒嘔瀉痰食積熱等症</p>
<p>霍香梗（二錢）　雲苓（二錢）　厚朴（錢半）　萸連（一錢）　木香（一錢）　炒檳榔（錢半）　焦山梔（四錢）　葛根（一錢）　橘皮（二錢）　蒼朮（二錢）　枳殼（錢半）　宣木瓜（錢半）　炙甘草（一錢）澤瀉（錢半）　薑棗煎頭痛項強脊痛周身骨節痠痛加姜活（錢半）　若冒暑而成痢其證必自汗發熱面垢嘔渴腹痛小便不利加香薷（錢半）　白扁豆（二錢）　赤痢加酒芩（錢半）　酒芍（錢半）　色加黑漆者再加歸尾（錢半）　赤芍（一錢）　桃仁（錢半）　酒軍（二錢）　以行之（肛門臊辣治同）白痢加滑石錢半如痢加鼻涕膠凍此屬冷痢加肉豆蔻（一錢）　砂仁（一錢）　少腹硬痛後重裡急墜痛或腹中大痛按之稍減加官桂（六分）　焦芍（二錢）　以利之嘔吐加半夏（錢半）　氣虛年邁加入參</p>

<h3>實症治例</h3>
<p>表裡兩實之症前已詳言之矣若內無濕食積滯純見上項表症者宜服人參販毒散五積散十神湯之類若外無上項表症純見胸滿腹脹飽噯惡食裡急後重等症應溫下者宜服香砂平胃飲霍香正氣湯六和定中湯之類以利解之應清下者宜服香連化滯湯枳實導滯湯之類以滌盪之證偏於寒宜溫下偏於熱宜清下（寒熱辨詳見前）</p>

<h3>熱症治例</h3>
<p>有驟受暑熱之毒致成熟痢大渴飲冷一晝夜數十行肛門如火燎面赤壯熱舌上生胎者此乃腸胃為熱毒所攻傾刻腐爛宜遵內經通因通用之法重而急者宜服大黃湯大小承氣調胃承氣等湯或大黃黃連瀉心湯之類輕而緩者宜服黃速解毒湯芩芍湯戊己丸六一散五物香薷飲之類</p>
<p>若赤白熱痢日久不止或陰虛發熱膿血稠黏或下痢五色至夜發熱或氣虛挾熱膿血不止等症勢在攻之不可補之不可者宜服千金黃連湯連黃阿膠湯歸連丸駐車丸白頭贊湯芍藥湯阿膠梅連丸之類（虛而挾熱者皆宜此）</p>

<h3>虛症治例</h3>
<p>虛痢須分為二日陰虛日陽虛陰虛者肝腎不足真陰素弱之人感受濕熱而成痢者其證多見下痢五色膿血或下鮮血滑瀉無度臍下急痛發熱顴赤午後夜間加重治宜瀉熱養陰固下滋腎切忌攻下克伐以及辛香燥辣之藥懶服駐車丸黃連阿膠湯阿膠梅連丸之類虛甚者宜服六味地黃湯知柏地黃湯金匱十味腎氣丸之類久痢者多見此證大病後瘧疾後亦有之宜與上條熱痢參看　陽虛者真陽不足或脾虛胃弱之人偶為邪所乘或傷飲食生冷寒濕凝滯陽氣不伸其症多見懶言惡食腹痛裡急下痢清白小便白身懶嗜臥短氣不足以息身冷自汗治宜溫中補中建中升陽切忌苦寒降下之藥有積滯宿食者加以消導藥如大健脾湯之類積滯累者宜服香砂六君子渴人預純虛無積滯者宜服補中益氣湯四君子湯保元湯小建中湯之類</p>

<h3>寒症治例</h3>
<p>暴得之寒痢與傷寒症中少陰陰邪相似蓋緣素秉陽衰寒邪直得而中之其症多見腹中㽲（音絞）痛身自汗四冷肢厥逆周身痛而惡塞面青小便白懶言嗜臥脈沉遲細欲絕治宜大補宜服附子理中湯四逆湯桂枝湯真武湯建中補中之類若未病之前過食生冷黏膩之物須於此數湯中稍加溫脾消導之藥此證應輿上條陽虛證參看陽氣素虛之人或年力強壯貪涼過度或冒雨或露宿者多有此證若初得之時不過內傷生冷外感風寒本不甚重之症未明發表疏里通陽利中之理浪用苦寒攻下克伐之藥以致清陽下陷痢無止期者亦能見上項陽虛之證治宜健脾升陽宜服補中益氣湯升陽除濕防風湯人參胃風湯之類</p>
<p>如下元真火素微之人過服苦寒降下之劑以致元氣脫陷腎關不固大腸滑瀉者治宜溫脾暖腎固脫宜服桂附地黃丸真人養臟湯固腸丸之類患痢日久投藥不當者或瘧後或病後或病間犯房勞者多有此症以上所列寒熱虛實以及虛實中之寒熱寒熱中之虛實不過略舉大概俾閱者一目了燃曉然於寒熱虛實之確情以施溫和攻補之定法後雖變症百出莫不在此範圍之內尤其要者全在初起治法一條閱者須加意留心莫杷初起一開放過蓋痢疾初發之時正氣未傷邪氣尚淺藥與病一投機則後此之法皆同虛設</p>

<h3>腹痛</h3>
<p>張景岳曰腹痛有寒有熱有虛有實凡生冷凝滯及外受感邪者皆能致痛因食積者必多脹滿堅硬拒按因火者必內外多見熱症因寒者必內外多見寒症因虛者中氣不暖亦寒症也若瀉痢日久不止胃氣既傷膏血切膚安能不痛但察其不實不堅喜接喜熱飢不能食渴不能飲不見實熱等症悉屬虛寒李士材曰脹痛因肺金之氣鬱在大腸之間宜桔梗開之白芍甘草陳皮木香當歸和之惡寒加炮姜吳萸惡熱加酒芩酒連仍當導滯燥濕行氣溫脾證治準繩曰建中湯治痢不分新久赤白但復中大痛者神效其脈或澀或浮大按之空虛或舉按無力者皆是也</p>
<p>張石頑曰下痢腹痛脈沉緊無熱症者先以桂姜溫之後理積滯（此屬於寒者）膿血稠黏腹痛後煎身熱不除脈洪疾者芩芍湯（此屬於熱者）</p>
<p>熊聖臣曰下痢腹中痛者以白芍甘草為主熱加苓連寒加姜柱少腹痛者加莫萸有積滯者加厚朴檳榔青皮曲之屬胃虛挾滯老人健脾丸氣不調者加木香香附青陳之屬血瘀者加桃仁元胡歸尾之屬久痢血枯而痛者加芎歸養之辨症審治是在好學深忍者</p>

<h3>腸痛</h3>
<p>李土材曰腸痛者必以白芍甘草為君當歸白朮為佐惡寒加薑桂惡熱加黃柏愚按初痢腸痛者照腹痛法辨虛實以治之若久痢腸育者或服利氣藥其痛愈甚者必系切近脂膏須和氣補血暖腸胄</p>

<h3>肛門痛</h3>
<p>喻嘉言日肛門腫痛身熱脈洪大下痢稠黏者宜清之黃苓芍藥湯身冷自汗宜溫之理中湯</p>
<p>李土村曰痢疾肛門痛者熱留於下也宜槐花少加木香挾寒者理中湯</p>

<h3>大孔腫痛　大孔開</h3>
<p>張仲景曰大孔腫痛急溫之黃耆建中湯張頭石加木香當歸虛寒宜之戴元禮曰大孔因熱流於下而痛木香檳榔酒芩酒連少加薑炭實熱者家之又曰滯下大便不禁致大孔開如空洞不閉者用蔥和花椒搗爛寒穀道中並服酸滴固腸之劑</p>

<h3>脫肛</h3>
<p>張仲景曰下痢便膿血者桃花湯主之丹溪注曰桃花湯主法下焦血虛且寒故非乾薑之溫石脂之澀且重不能止血用粳米之甘引入腸胃戴元禮曰脫肛一症最難為藥熱則肛門閉塞則肛門脫宜用磁石細末每空心米湯飲下二錢外用鐵鏽磨湯溫洗</p>
<p>熊立品曰痢下膿血有誤服補藥湯有誤服涼藥而致臟寒脫肛者宜四君子湯加升麻木香或真人養臟湯或用五味子枯礬煎湯溫浴其肛自上內服補中益氣湯升提之有熱加黃連愚按痢久脫肛內服升提之藥外用朴硝白礬水溫洗拭淨再將舊鞋底烤熱噴醋托之自上</p>

<h3>裡急後重</h3>
<p>朱丹溪曰裡急後重及大便燥辣是名挾熱症口不渴身不熱喜熱手熨蕩是名挾寒症力倦氣少惡食久痢裡急後重者是名挾虛症</p>
<p>李土材曰裡急而不得便者火也重則承氣湯輕則芍藥湯裡急頻見汙衣看虛也補中益氣湯去當歸加肉果邪迫而後重者至圊稍減未幾復甚芍藥湯虛滑而後重者圊後不減以得解愈虛故也宜真人養臟湯下後仍後重者宜用當歸甘草緩之升麻柴胡舉之又有虛生弩責者此血虛也宜歸身地黃芍藥陳皮之屬調之</p>
<p>徐東皋曰氣虛久痢裡急後重膿血交錯者專以補中益氣湯為主使升降之道行其痢不治而自消矣予法東垣凡有熱者加姜炒黃連有寒者薑桂寒兼少腹痛者建中湯加莫萸有風濕者加防風姜活肝乘脾者倍加柴胡再加白芍木香瀉痢久不止者加慄殼訶子</p>
<p>熊聖臣曰痢初發時裡急後重頻欲登圊及去而所下無多才超則腹中又急此皆濕熱凝滯之故也宜霍香正氣散加木香枳殼黃連砂仁又曰裡急而至圊反不能即出者氣滯也疏通為主（木香檳榔丸之類）裡急而頻見汙衣者氣脫也補澀為主（真人養臟湯固腸丸之類）後重而至圊稍減者火迫也黃連為主後重至圃而轉增者下陷也升麻為主</p>
<p>劉河間日治裡急後重芍藥湯在所必用蓋血行則便紅自愈氣調則後重自除愚按調氣之法亦須熱者清之寒者溫之虛者補之實者瀉之陷者舉之也故仲景曰熱痢下重者白頭翁湯主參此治熱痢之裡急使重也）丹溪曰下痢赤白裡急後重者香連丸矽氧湯主之（此治實熱之裡急後重也）張石頑曰久痢後重用三奇散稍減用補中益氣湯（此治虛寒之裡急後重坐）戴元禮曰後重積氣鬱聚宜升之消之（此治不虛不實不寒不熱之裡急後重也）</p>

<h3>呃逆</h3>
<p>證治準繩曰呃逆乃胃氣虛寒之候宜橘皮乾薑湯主之有因患渴誤食冷物水果者理中湯加丁香柿蒂主之寒熱往來者小柴胡湯加丁香主之血痢嘔噦口渴心煩不眠不小便者朱苓湯主之白痢嘔噦五苓散主之以中有肉桂可通逆氣也愚按胃氣逆則為呃逆閩浙稱為冷逆以冷為名遂指為胄寒不知寒熱皆令呃逆不以本症相參專執俗語為寒遂投丁香茱萸薑桂之類誤人不少吾願執辭害義者臨症猛省再接此症有因肝火逆上者（宜用萸連木香青皮芍藥之類）有因膈間痰閉者（宜用二陳湯合旋覆代赭湯以開之）有真陰索虛腎氣不能歸根左尺脈微弱者（宜六味地黃加沉香砂仁）有下焦真陽大虛火不歸元而呃逆者右尺脈必微細而弱（宜桂附地黃加沈香砂仁）有因火症誤用補藥熱藥而致呃逆者（宜橘皮竹茹湯輕則加芩連枳樸重則加大黃通之）如果胃寒丁香柿蒂湯宜之然不若理中湯四逆湯功效殊捷若用（旋覆代赭橘皮竹茹）二湯審其寒熱虛實加減出入而消息之尤為妥當</p>
<p>再接呃在中焦穀氣不連其聲短小得食即發呃在下焦真氣不足其聲長大不食亦然</p>

<h3>積垢</h3>
<p>飲食之滯留積於中或濕熱之毒黏毀腸膩皆能結聚成積故謂之積垢也今人不察虛實一遇痢有膿垢者統名以積不知腸臟之間無論人之肥痙皆有脂膏以為遮護故膿垢稀淡者並患痢日久者為精化之屬非積滯之屬也若積以飲食積以濕熱凝郁既久由漸而傷者則必肚腹脹滿腸臟鞭痛法應消導積滯推陳致新若腹不堅實鼓脹痛不鞭急攪亂則是五內虛弱之傷致令脂膏不固耳其藏氣稍強者或隨去隨生猶為可治若藏氣弱者日削日敗以至盡而後已或但見血紅及加屋漏之水則敗竭極危之候而與實症之積滯大相懸絕者也醫者可不審辨哉</p>
<p>李士材曰舊積者濕熱食痰也法當下之新積者下後又生者也或調或補未可輕攻若因於虛者積垢與腸膩同下雖有舊積亦不可攻但用異功散虛回而痢自止丹溪有先用參朮補完胃氣而後下者亦一妙法也熊聖臣曰痢疾因食積而成者最多察其傷於米食（須用神麯）傷於麵食肉食（須用山查麥芽）積盛者（保實厚朴檳榔消之蘇梗陳皮甘草疏之）兼感風寒者（防風姜活散之）素傷濕熱或白或紅或紅白相雜者（扁豆厚朴歸芍芩連解之）未可專恃攻下一法也愚按痢疾初起由於痰熱濕食積滯者雖氣虛年邁亦可於消導藥中少加升補之藥以疏利消導之蓋此時胄氣未傷推陳致新最易為力若惑於年邁氣虛宜補養不宜消導之說坐使里滯日壅元氣日敗至此方悟積不去則痢不除則已無從下手矣此皆患病之初不明輕重緩急之理有以誤之也</p>

<h3>痢疾五色</h3>
<p>熊聖臣曰白色其來淺浮近之脂膏也赤者其來深由脂膏而切膚絡也純血者陰絡受傷或寒成熱以迫之故隨溢隨下此最深者也紅白相兼者是則深淺皆及也大部諸血鮮紅者多熱症蓋火性最急迫速而下也紫紅紫白色黯不鮮明者少熱症以陰凝血敗漸損而致然也純白清淡或如膠凍鼻涕者無熱症以臟寒氣薄滑而致然也</p>
<p>王節齋曰痢是濕濕食積厥傷治者須別赤白青黃黑五色以屬五臟白者濕熱傷氣分赤者傷血分赤白相雜氣血俱傷黃者傷食黑青屬熱華元化曰脾氣虛則五液注下為五色</p>
<p>張石頑曰凡治痢者多以膿血為熱不知血色鮮紫膿厚者始為熱症若瘀晦稀淡或如瑪瑙色者為陽虛不能制陰也非溫其氣則血不清理氣如爐冶分金最為捷法若不知此概行蔬利使五液盡從寒降而下安望其有生理乎戴元禮日便白膿少而滑頻見汙衣者氣脫也宜調氣利血藥中加附子粟谷如氣澀者只以甘藥補之若久痢膿血色如死羊肝或五色雜下此臟腑俱虛腸胄下脫元氣欲絕之兆百不救一</p>
<p>李士材曰色黑有二焦黑者熱極（宜芍藥湯）黑如漆之光者（宜桃仁承氣湯）</p>

<h3>噤口痢</h3>
<p>李士材曰噤口痢有邪在上膈火氣衝逆者宜服（黃連木香桔梗橘皮竹茹茯苓菖蒲保樸之屬）有胃虛嘔逆者（宜治中湯）有陽氣不足宿食未消者宜理中湯加砂仁陳成木香豆蔻有肝氣乘脾而嘔逆者宜戊已丸加一木香肉桂青皮白芍）有水飲停聚心下必悸動不安宜（五苓散加薑汁）有積穢在下惡氣薰蒸者宜承氣湯</p>
<p>朱丹溪曰噤口痢用人參石蓮子酒炒黃連煎湯再加生薑汁少許細細呷之神效如吐再作服之但得一呷下咽便開但石蓮子真者絕少余當以藕汁煮熟稍加糖霜頻頻服之兼進多年陳米稀粥調其胃氣神效喻嘉言曰治噤口痢多有用黃連者此正治濕熱之藥但苦而且降不能開提非胃虛者所宜大抵初痢噤口為濕熱瘀於胃口故宜苦燥治之若久痢噤口則胃氣虛敗即大劑獨參理中恐難為力也</p>
<p>熊聖臣曰噤口痢日久不愈諸藥不效貧人無力服參者（烏梅大棗各數枚煎服屢效）</p>
<p>楊士瀛曰噤口痢雖屬胃虛亦熱閉胸膈所致用木香失之溫用山藥失之關惟參苓白朮散加菖蒲米飲下胸次一開自然思食濕熱盛加萸連喻嘉言又曰噤口痢乃腸胃濕熱之毒薰蒸清道以致胄之上口閉塞亦有誤服澀熱之藥致邪氣停於胃口者用人參石蓮子等分煎服強呷</p>

<h3>休息痢</h3>
<p>李士材曰屢止屢發久不愈者名曰休息或因調理失宜外邪復感或因兜澀太早積熱未清宜香速丸合四君子湯加枳實有表邪者加表藥若脾胃衰弱腸臟空滑時重時輕休息而不愈者宜訶黎勒散</p>
<p>劉河間曰久下血痢則脾胄虛損血不流於四肢藏留陽胄之中故痢復或息愈後復發也治宜滋養脾胃</p>
<p>證治準繩曰休息痢日久者四君子湯加陳陳木香吞駐車丸虛滑者用椿根皮人參木香各等分粳米煎湯調服大斷下九張石頑曰休息久痢下鮮紫血塊者風通於肝肝傷不能藏血也三奇散倍防風加姜葛升柴至一切利水破氣之藥皆為切禁</p>
<p>熊聖臣曰休息久痢者當審其有邪無邪若初病時當下失下當清不清當散未散逗遛腸胄之間纏綿不已是有邪也年少稟強者仍當用從前未用之藥若身虛稟弱元氣下陷無邪可攻則用四君子湯異功散補中益氣之類加肉果烏梅薏苡山藥續斷故紙阿膠之屬以升舉其陷下之氣若趙養葵以臘糊巴豆為丸謂通因通用之法者未可輕試也</p>

<h3>冷痢</h3>
<p>張石頑曰痢如膠凍鼻涕魚腦者冷痢也照虛寒痢治之（理中湯加木香沈香豆護砂仁）</p>
<p>戴元禮曰血色紫黯屢服涼藥而所下愈多者作冷痢治（同上再加歸身酒芍）</p>

<h3>血痢</h3>
<p>薛立齊曰純下血而色鮮紅者此心家伏熱也宜用犀角屑（一錢）　硃砂牛黃各（八分）　共研細再用人參（一錢）　加龍眼燈心煎湯調下</p>
<p>戴元禮曰純下血而色鮮紅血濃厚者心脾伏熱也大黃黃連瀉心湯主之張石頑曰久痢下血色鮮紫成塊者風通於肝肝傷不能藏血也宜三奇散倍防風加姜葛升柴至一切利水行氣之藥皆為禁忌</p>
<p>劉河間曰久痢下血色淺淡面黃少食此脾胄虛損血不流於四肢也宜服歸脾湯補中益氣之類滋養脾胃如新起實熱症血色鮮紅濃厚者亦不可純用涼藥宜桃仁承氣湯加酒炒黃芩連之類（愚按）血痢實熱症有瘀血積滯者宜芍藥湯虛熱無滯者宜白頭翁湯加四物湯若血痢屬虛寒者宜大桃花桃花湯之類若脾濕痢疾下血宜蒼朮地榆湯</p>

<h3>蟯蟲痢</h3>
<p>寒濕之氣苑郁不發積化為蟯乘人胃弱腸虛或大孔癢或從穀道溢出痢出之蟲形細如線此亦九蟲之一也治法以逐濕藥察箕寒熱虛實加減出入以消息之史君子雷丸蕪萸檳榔烏梅之類在所必用或雄黃銳散烏梅丸黃連犀角散之類止後當用六君子湯加治蟲藥（以補脾胃兼清濕熱）</p>

<h3>痢疾吐蛔（蛔蟲亦九蟲之一）</h3>
<p>濕熱薰蒸胃口蛔動不安下既不通必反之於上蛔因嘔出此常事也但治其胄蛔蟲自安若妄引經論以為胃虛臟寒便用烏梅理中桂附姜椒辛熱之品甚於火上添油不思現前事理徒記紙上文辭以為依經傍注坦然用之不疑因此誤人甚眾（熱症十常八九寒症百或一二）</p>

<h3>似痢非痢</h3>
<p>李東垣曰大便或裡急後重數至圊而不能便或少有白膿血此勞倦虛有大腸也復勿利之利之則必至重病反郁緒而不通矣宜用升陽除濕防風湯升舉其陽則陰自降矣</p>
<p>醫貫曰似痢非痢為腎虛最危之候宜服桂附地黃加故紙豆蔻阿膠及理中湯加升麻桂附相繼間服慎勿以痢藥治之按真痢似痢之分脈既不同症亦可辨真痢有裡急後重似痢無裡急後重真痢之裡急後重則並迫無度似痢或有裡急後重不過拘急難解耳真痢受暑熱濕三氣每發於夏秋之間他痢因虛損過勞或因病後失調或兼疫瘧轉症雖亦有感受暑濕寒熱而發者但春夏秋冬四時皆有也總之脈實症實雖似痢而亦當清脈虛症雖真痢而亦當補此至要之訣也</p>

<h3>瘧痢兼症</h3>
<p>趙養葵曰有瘧後痢者亦有痢後瘧者夫既為瘧後發泄已盡必無暑熱之毒復為痢疾此特元氣下陷脾氣不能升舉似痢而實非痢也夫既為痢後下多則亡血且氣隨痢散此蓋陰陽兩虛陽虛必惡寒陰虛必發熱故寒熱交戰似瘧而實非瘧也默二者悉從虛治</p>
<p>按瘧疾兼症或瘧後轉痢或痢後轉瘧或痢瘧並作此因外感風寒或觸四時不正之氣邪由經絡而傷於腑者則為瘧疾邪由經絡而傷入臟者則為痢疾今則臟腑俱傷是以瘧痢並作也宜胃苓湯加柴胡一二錢或柴苓湯六和湯清脾飲等加減以分利之服藥後倘瘧減而痢甚宜服檳芍順氣湯三解湯加酒連木香當歸砂仁之屬若痢減而瘧甚宜服二術柴葛湯四獸飲不二散何人飲虛者補中益氣湯</p>

<h3>疫痢兼症</h3>
<p>吳又可曰下痢膿血更加發熱而渴心腹痞滿嘔而不食此疫痢兼症最為危急夫疫者胃家事也疫邪傳胃下常八九既傳入胃必從下解蓋疫邪不能自出必藉大腸之氣傳送而下疫方得愈至痢者太腸內事也大腸既病失其傳送之職故正糞不行純乎下痢膿血而已所以向來穀食停積在胃直須大腸邪氣將退胃氣通行正糞自此而下今大腸失職正糞尚自不行又何能為胄載毒而出毒既羈留在胃最能敗壞真氣在胄一日有一日之害一時有一時之害耗氣搏血神脫氣盡而死凡遇疫痢兼症者在痢尤為吃緊疫痢俱急者宜檳芍順氣湯誠為一舉兩得（愚按一瘟疫當下失下其禍已不可勝言若疫痢兼症應下不下其禍更有甚於疫症者吳氏此論專以急去其邪以存其正為囑高見卓識可稱千古雙眼繆仲淳曰時行疫痢沿門闔境患此者宜先清熱解毒表散為急加十神湯人參敗毒散五積散不換金正氣散之類</p>

<h3>婦人胎前產後痢</h3>
<p>婦人患痢本與男子治法同只以胎前產後故諸多礙手胎前治法按照寒熱虛實治例須加養血利氣藥如歸芎芍地蘇梗酒芩腹皮砂仁木香白朮陳皮之屬產後治法按照寒熱虛實治例須加逐瘀生新之藥如歸芎延胡薑炭紅花澤蘭香附之類氧虛者量加參耆或專以生化湯加肋脾養胃並痢門應用諸藥（再產後熱症最多但察其虛實以治之而已不可因產後惡寒一語妄用熱藥以火濟火）</p>
<p>張石頑曰予嘗以甘草厚朴茯苓木香乾姜治妊娠白痢以千金三物膠艾湯治妊娠血痢以連理湯加膠艾治赤白相兼之痢以千金黃連湯白頭翁湯加甘草阿膠治胎前產後五色諸痢俱應手奏效證治準繩日胎則下痢產後不止勢莫挽回者用伏龍肝湯丸隨證加減</p>

<h3>煙後痢</h3>
<p>素吸洋菸之人偶患痢疾俗皆謂之煙後痢方書從無治法醫家視為畏途致使素有煙癮之上患痢疾即成死症此皆不明比例變通斟酌緩急之弊也愚謹謬創一說略申治法以質高明夫洋菸一物其燥烈之毒甚於砒霜有肌肉消瘦者大便十數日一行者有咽乾如火燎者有口渴思冷者此皆洋菸耗陰鑠精之明證至於大腸之血液脂膏早已煎熬殆盡所存者盡煙滯毒黝耳大腸既嫵脂膏遮護滋一旦染患痢疾求其載毒以出勢不可得也於是裡急後重奔迫下墜其苦甚於正痢十倍此時若以檳榔木香枳殼之類蔬氣通滯則腸愈薄而痢愈急若以粟殼白礬烏梅之屬兜澀酸收則愈壅而後愈墜然則將若之何曰治法大要當其初得之時察其屬寒屬熱屬虛屬實若屬虛寒則即照虛寒例以治之須多加暖腸胃養血固脫之藥加（肉果粟殼歸身石脂阿膠之屬）若屬表邪即以人參販毒散十神湯霍香正氣之類但諸方中須一切寬腸利氣之藥減去蓋因腸質既薄不宜克削也若屬熱症實症即以芍藥加大黃酒炒郁李仁桃仁麻仁白蜜阿膠之屬合入白頭翁湯內即有積滯亦不可用檳榔枳殼木香一切香燥破氣之藥只以神麯麥芽之類消導宣發足矣蓋積熱不去則痢無止期今藉酒軍潤而不燥之力滌盪其邪又有芍藥阿膠之屬以養其陰邪不羈留腸胃廓清則痢不治而自愈矣或謂陰液既耗質既薄豈可復用大黃曰大黃潤而不燥走而不守此等處用之正顯其救陰之功況有白蜜甘草阿膠之屬以輔之於胃氣毫無傷損若羈遲不用三五日後即成壞症設遇煙後痢症初超之時治未得法或表邪內陷或裡熱未清或誤服利氣寬腸之藥或兜澀太早以致纏綿日久下痢不休腹痛裡急純見黑水或如屋漏加魚腦此則藏氣已傷陰陽兩敗朝不保夕之候與其坐以待斃莫若含藥而亡今擬一湯名曰奪命湯丸或可挽救萬一（方見後卷）</p>

<h3>疫痢應下失下壤病</h3>
<p>疫邪失下其禍已不可勝言若疫痢失下其禍更可知矣究其失下之由必曰病人年邁也病人氣虛也或有煙癮也或在胎前也或值產後也故其下症已具終不敢下惟以緩藥徐圖自謂老成持重而又有一等不明事理自命知醫之病家橫攔豎遮言火道寒恐大黃下斷中氣多方掣肘殊不知疫痢兼症下症已具越怕下者越得急下蓋邪熱多留一日有一月之禍早下一日有一日之福彼年富力強者失下尚且難治則年邁氣虛煙癮胎前產後疫痢失下者又何從措手哉然下之之法亦有緩急輕重之殊非謂以承氣湯一概而論也愚每見患痢之人其初起之日即見面赤拂鬱舌胎壯熱口渴脈息滑實而數下痢裡急沿門闔境率皆如此此即疫痢相兼之症愚即以人參販毒三消飲檳芍順氣湯之類治之罔不應手奏效疫痢相兼之症最多人皆習而不察即或遇有年邁氣虛胎前後諸人患此者當其和得未久亦以此法治之但察其陰分虛者加以養陰之藥陽分虛者加以補氣之藥其餘攻下之品略為變通加減亦莫不應手奏效其耍只在先將寒熱虛實標本緩急分清然後可以言治設遇有應下失下日久痢不止外見煩熱口渴自汗舌胎滿布黃厚芒刺腹痛拒按胸滿嘔吐不食痢見敗色一日夜數十行後重裡急面垢神慘脈息或沉微欲無乍見乍隱或疾數鼓指或堅大若革按之反空此皆疫痢兼症應下失下之壞症他邪熱一亳未除元神將脫補之則邪毒愈甚攻之則幾微之氣不勝其攻攻不可補不可攻補不及兩無生理不得已變陶氏黃龍湯之法名之曰進退黃龍湯或有同生於萬一（方見後卷）</p>

<h3>各種壞症</h3>
<p>下純血如屋漏水者不可治大孔如竹筒者不可治唇若塗朱者不可治色如魚腦或如羊肝者半生半死下如塵腐色者死發熱不休四肢冰冷者死脈細皮寒氣少瀉痢不休飲食不入者是謂五虛必死（或用參附十可救一）　厥逆冷汗者死身熱脈大不能除者死發斑躁擾者死呃逆不能止者死吐蛔蟲腹脹如鼓痛不止者死變成腫脹者死噤口不食藥不能開者死驟然能食為除中者死脈疾數如雀啄者死麵色慘淡下痢不止腹脹瘻形如鼓者死痢下五色者死麵色枯聲音敗脈息無神大熱不止者死環口黧黑柔汗不止者死神昏直視搖頭溲便遺失不自知者死舌卷囊縮厥冷身重者死</p>

<h3>喻嘉言治痢醫律三條</h3>
<p>凡治痢不分標本先後概用苦寒者醫之罪也以腸胄論大陽為標胄為本以經脈論手足陽明為標少陽相火為本故胃受濕熱水穀從少陽之火化變為惡濁而傳入於大陽不治少陽但治陽明無益也少陽發生之氣傳人士中因而下陷不先以辛涼舉之徑以苦寒奪之痢無止期矣</p>
<p>凡治痢不審病情虛實徒執常法自恃顓門者醫之罪也</p>
<p>實者邪氣之實也虛者正氣之虛也七實三虛攻邪為先七虛三實扶正為本十分實邪即為壯火食氣無正可扶急去其邪以留其正十分虛邪即為淹淹一息無實可攻急補其正聽邪自去故醫而不知變通徒守家傳最為誤事</p>
<p>凡治痢不分所受濕熱多寡輒投合成丸藥誤人者醫之罪也痢由濕熱內蘊不得已用苦寒盪滌宜煎不宜丸丸藥不能盪滌且多夾帶巴豆輕紛定粉硫黃滷砂甘遂芫花大戰牽牛烏梅粟殼之類即使病去藥存為害且大況病不能去毒烈轉深難以復救可不慎耶</p>

<h2>痢疾匯方</h2>

<h3>表裡和解類方</h3>
<p>人參敗毒散治時氣疫痢人參（一錢）　秧苓（錢半）　柴胡（一錢）　前胡（八分）　姜活（錢半）　獨活（一錢）　桔梗（錢半）　枳殼（一錢）　川芎（一錢）　甘草（七分）　生薑（三片）　煎服（體壯去人參加荊芥防風名荊防販毒散加陳米一撮名倉廈湯）</p>
<p>五積散治同上白芷（一錢）　陳皮（錢半）　川樸（錢半）　桔梗（錢半）　枳殼川芎白芍藥各（錢半）　茯苓蒼朮各（二錢）　甘草（一錢）　當歸法夏桂枝各（一錢）　麻黃（五分）　生薑煎（合人參敗毒名五積交加散）</p>
<p>十神湯治同前麻黃五分葛根蘇葉各（錢半）　升麻（四分）　甘草陳皮各（一錢）　赤芍藥白芷香附各（一錢）　川芎（一錢）生薑煎</p>
<p>桔梗湯表裡兩解感冒時疫挾熱者宜之黃苓連翹梔子薄荷桔梗竹葉甘草大黃各等分燈心煎</p>
<p>三消飲表裡兩解同上檳榔（錢半）　草果（五分）　厚朴白芍各（一錢）　甘草知母黃芩各（一錢）　大黃（二錢）　葛根姜活各（一錢）　柴胡引同</p>
<p>大柴胡湯表裡兩解柴胡法半夏黃莘根實芒稍大黃薑棗前</p>
<p>六一順氣湯表裡兩解柴胡黃芩白芍枳實芒硝大黃甘草薑棗煎</p>
<p>防風通聖散表裡兩解防風川芎當歸白芍連翹薄荷麻黃石膏桔梗黃芩白朮梔子荊芥滑石大黃芒稍甘草生薑蔥白煎</p>
<p>四逆散治痢疾腹脹身熱裡急後重</p>
<p>北柴胡白芍枳實炙甘草</p>
<p>玄白散治痢疾和起裡急後重膿血稠黏二便窘迫壯盛人一劑愈虛者慎用牽牛子生地赤芍歸尾檳榔枳殼莪朮黃連大黃暑月加香需</p>
<p>六神丸治一切瀉痢</p>
<p>黃連木香枳殼茯苓麥芽神麯黃連解暑熱毒厚腸胃清臟腑赤痢倍之木香溫脾胃逐邪氣止下痛白痢倍之餘俱等分為末以神麯打糊為丸梧子大每服五十丸赤痢甘草湯下白痢乾薑湯下赤白相雜甘草乾薑湯下</p>
<p>以上諸方須奧熱痢參看（以上為表裡以下為和解）</p>
<p>加減奇效霍香湯自擬治暑熱濕食兼疫之痢又治形寒飲冷霍亂吐瀉嘔噦噁心吞酸膈脹腹痛以及小兒嘔瀉痰食積熱等症霍梗（二錢）　厚朴（錢半）　雲苓（二錢）　萸連木香各（一錢）　檳榔（錢半）　焦山梔（四錢）　葛根（一錢）　橘皮蒼朮各（二錢）　木瓜枳殼澤瀉各（錢半）　炙草（一錢）生薑煎頭痛脊痛加姜活（錢半）　冒暑成痢加香薷扁豆各（錢半）　赤痢加酒芩酒芍各（錢半）　色加黑漆者再加桃仁歸尾赤芍酒軍（肛門燥辣治同）白痢加滑石（一錢）半冷痢加肉蔻砂仁各（一錢）　少腹痛加官桂六分酒芍（二錢）　嘔吐加半夏（錢半）　氣虛年邁皆加入參（一錢）</p>
<p>霍香正氣湯治外感風寒傷冷傷濕瘧疾痢疾余與上略同</p>
<p>霍香（二錢）　蘇葉白芷腹皮茯苓白朮各（錢半）　陳皮半夏厚朴桔梗甘草各（一錢）　一方有木瓜薑棗煎</p>
<p>不換金正氣散即前方去（蘇梗白芷腹皮茯苓桔梗）白朮易蒼朮身熱加柴胡</p>
<p>六和定中湯治與前略同</p>
<p>砂仁霍香厚朴杏仁半夏扁豆木瓜人參白朮赤茯苓甘草（暑加香薷冷加紫蘇）</p>

<h3>清皮飲治瘧痢</h3>
<p>青皮厚朴柴胡黃芩半夏茯苓白朮草果炙草一方加檳榔大渴加麥冬知母生薑煎</p>

<h3>小柴胡湯治瘧痢</h3>
<p>柴胡半夏人參甘草黃芩薑棗煎</p>

<h3>三解湯治瘧痢</h3>
<p>柴胡麻黃澤瀉薑棗煎</p>

<h3>二術柴葛湯治瘧痢</h3>
<p>白朮蒼朮柴胡葛根陳皮甘草</p>

<h3>不二散治瘧痢</h3>
<p>常山檳榔貝母露一宿五更溫服（二方皆薑棗煎）</p>

<h3>何人飲治瘧痢</h3>
<p>人參何首鳥陳皮煨姜煎（寒加肉桂熱加酒芩）</p>

<h3>四獸飲治瘧痢</h3>
<p>人參白朮茯苓橘紅草果半夏烏梅甘草薑棗煎</p>
<p>治痢神異方治赤白痢凡因濕熱食積而成者皆宜之</p>
<p>黃連黃耆白芍甘草枳殼青皮當歸山查木香地榆檳榔桃仁紅花不加引水煎服</p>
<p>三物散解毒火助睥胃止瀉痢</p>
<p>胡黃連烏梅肉灶心土各等分為末茶清食前調服</p>
<p>薑茶飲分理陰陽散寒除濕清火寧神治赤白痢及寒熱瘧</p>
<p>生薑陳細茶各（三錢）微炒煎煬服</p>

<h3>千金黃連湯治赤白痢</h3>
<p>阿膠（二錢）　黃連（二錢）　炮姜（五分）　當歸（錢半）　黃柏炭炙甘草石榴皮各（一錢）先煎各藥後納阿膠溫服</p>
<p>黃連阿膠湯治冷熱不調下痢赤白裡急後重臍腹瘀痛口燥煩渴小便不利</p>
<p>黃連（錢半）　阿膠（錢半）　茯苓（一錢）水煎服</p>
<p>駐車丸治同前</p>
<p>即黃連阿膠湯去茯苓加乾薑當歸阿膠駐車丸</p>
<p>即駐車丸加木香黃芩石脂龍骨厚朴糊丸米湯下</p>
<p>歸連丸治陰虛下痢五色及孕婦噤口赤白</p>
<p>阿膠二兩黃連當歸黃芩艾葉各一兩黃柏五錢醋糊丸錄豆大每服七十丸米湯下照十分之一煎湯服亦可</p>
<p>阿膠梅連丸治陰虛五色痢至夜發熱</p>
<p>阿膠黃連各（三兩）　炮姜乾薑各（一兩）　當歸黃柏炒赤苓赤芍烏梅肉各（一兩五錢）　醋煮阿膠為丸梧子大每服四十丸晝夜三服米湯下照十分之一煎湯亦可</p>
<p>仲景黃連阿膠湯治心煩不臥泄熱養營</p>
<p>黃連（二錢）　黃芩白芍各（一錢）　雞子（半枚）　先煎前三藥去渣納膠少冷納雞子攪勻服此方宜與四君子湯間服（加桂心酒芍薑炭各一錢）</p>
<p>白頭翁湯治挾熱下痢膿血白頭翁（三錢）　炒酒連（二錢）　黃柏炒黑秦皮各（一錢五分）　水煎服</p>
<p>芍藥湯和血調氣清熱虛弱者宜之（和血則便紅自愈調氣則後重自除）</p>
<p>白芍（五錢）　炒當歸黃連黃芩各（二錢五分）　俱酒炒酒軍（二錢）　肉桂七分甘草檳榔各（一錢）　木香（五分）煨姜煎</p>
<p>黃芩芍藥湯（又名芩芍湯）治熱痢</p>
<p>黃芩（二錢）　炒酒芍（二錢）　甘草（一錢）水煎服</p>
<p>黃芩湯即前方加大棗五枚仲景用以治太陽少陽合病自下利者千金三物膠艾湯治妊娠血痢</p>
<p>阿膠（三錢）　艾葉石榴皮各（一錢）　先煎榴艾去渣納膠溫服心痛腹滿日夜五六十行者加黃柏（一錢）　酒炒酒連（錢半）　防已（錢半）　神麯　（二錢）　附子乾薑各（五）分</p>
<p>香連丸治赤白相雜裡急後重</p>
<p>黃連（二十兩茣萸十兩同炒去茣萸）木香五兩醋糊丸米湯下（每服四五十丸）以百分之一煎湯服亦可</p>
<p>首烏湯治痢不應攻下而後重秘迫難支月此湯亦能滑利赤烏首（五錢）　郁李仁當歸各（錢半）　麻仁（二錢）　枳實（八分）　水煎服</p>
<p>加減平胄散脾胃虛損血不流於四肢卻入於胄而為血痢宜此藥滋養脾胃人參茯苓白朮炙草陳皮厚朴各（一錢）　阿膠（二錢）　桃仁酒軍木香各（五分）薑棗煎</p>
<p>白朮黃芩湯痢疾愈後宜用此湯調利</p>
<p>白朮（二錢）　酒芩甘草各（一錢）煎服</p>
<p>茯苓湯治痢後遍身微腫</p>
<p>赤茯苓三錢白朮二錢防己射於各一錢桑白皮黃芩澤瀉各錢半薑棗煎</p>
<p>白朮利中湯虛人白痢宜此和之</p>
<p>當歸白芍白朮各二錢茯苓陳皮各錢半酒芩酒連各一錢木香甘草各六</p>

<h3>分薑棗煎</h3>
<p>當歸調血湯虛人紅痢宜此和之</p>
<p>酒芍（二錢）　當歸（一錢）　半川芎黃連酒芩各（一錢）　桃仁八分升麻（五分）薑棗煎</p>

<h3>消導攻裡類方</h3>
<p>平胃散治一切食積結滯肚脹腹痛等痢</p>
<p>蒼朮（二錢）　厚朴（錢半）　陳皮（一錢）　甘草八分煨姜引或加（山查神麯麥芽）</p>
<p>香砂平胃散即平胃散加木香砂仁或香附</p>
<p>香連化滯湯治初起赤白痢裡急後重頻欲登圃少腹疼痛等症</p>
<p>歸尾白芍姜連各（二錢）　酒苓黃柏炒枳殼各（錢半）　檳榔木香各（一錢）　酒軍（二錢）　滑石（錢半）　薑棗煎空心熱服</p>
<p>枳實導滯湯治腹內硬痛積滯瀉痢傷濕熱者</p>
<p>酒軍（二錢）　酒連酒芩枳實茯苓各（二錢）　神麯炒白朮各（三錢）　澤瀉（二錢）　氣滯後重加木香檳榔</p>
<p>大健脾湯治健脾胄滋穀氣除濕熱寬胸膈去膨脹</p>
<p>人參茯苓白朮各二錢枳實當歸山查穀芽各錢半陳皮豆蔻各（一錢）　青皮木香姜連各（七分）　薑棗煎（加十倍荷葉粥為丸亦可是名大健脾丸）</p>
<p>枳實丸（又名枳朮丸）治一切積滯胄虛脾弱之痢</p>
<p>枳實一兩炒白朮二兩荷葉飯糊為丸錄豆大白水下東垣加陳皮一兩以和胃古庵加酒連一兩以清熱更加木香砂仁補脾和胃瀉火消痰保利丸治一切食積痰凝氣滯之痢</p>
<p>山查神麯蘿蔔子半夏茯苓各（二兩）　陳皮連翹各（一兩）　糊丸綠豆大加白朮（三兩）　名大安丸</p>
<p>厚朴丸治寒中紲痢實滯脈滿等症</p>
<p>厚朴乾薑各（一兩五錢）　糊丸綠豆大每服五十丸米湯下（以上二方按十分之一亦可作湯服）</p>
<p>治中湯治痢疾脾胄不和嘔吐不食虛痞中滿</p>
<p>人參（一錢）　白朮（錢半）　乾薑甘草（五分）　法夏（錢半）　青皮八分陳皮（一錢）　薑棗煎</p>
<p>木香檳榔丸治痢疾胸脹脈滿裡急後重食積氣滯（虛者慎用）</p>
<p>木香檳榔大黃各（一兩）　陳皮積殼黃柏黃連香附各（五錢）　三稜莪朮牽牛各（三錢）糊丸綠豆大（每服二錢薑棗湯下）按（此湯應加四君方為無弊）大黃湯治下痢膿血稠黏裡急後重肛門火烙小便閉塞年壯脈實者好大黃（一兩）燒酒（一大盅）　水（一盅）　煎至一盅去渣溫服大承氣湯治胸膈飽脹熱渴煩臊譫妄膿血稠黏痞塊堅實俱全者用之輕者</p>
<p>則參用後方</p>
<p>枳實（二錢）　厚朴（二錢）　酒軍（四錢）　芒硝（錢半）水煎服</p>
<p>小承氣湯即大承氣湯去芒硝臍下無硬塊者宜之調胃承氣湯即大承氣去枳樸加甘草二錢上焦不甚痞滿者宜之檳芍順氣湯專治下痢頻數里急後重舌胎黃厚兼得疫之裡症者</p>
<p>檳榔（錢半）　芍藥（三錢）　枳實厚朴各（二錢）　酒軍（四錢）　薑棗煎</p>
<p>桃仁承氣湯治痢疾下焦有蓄血應下者即小承氣加桂枝桃仁</p>
<p>百順丸（又名二聖救苦丸）治一切陽邪積滯實熱秘等症</p>
<p>川大黃（一斤）　牙皂（一兩六錢）　共研蜜丸綠豆大每服（二三錢）隨症調引</p>

<h3>補養祛寒類方</h3>
<p>六味地黃湯丸治真陰不足水虧火旺</p>
<p>地黃（四錢）　砂仁拌山藥山萸肉苓茯各（二錢）　丹皮澤瀉各（錢半）水煎空心服</p>
<p>桂附地黃湯治下焦真陽不足即六味加桂（一錢）　熟附子（一錢）　又名（八味地黃）</p>
<p>知柏地黃湯治陰虛火旺即六味加知母黃柏各錢半金匱十味腎氣丸即桂附地黃加車前子牛膝（取其下行直達至陰所謂脾虛補母者也）</p>
<p>補中益氣湯治一切清陽下陷中氣不足及大孔如竹筒下痢無度直出不禁者用此升提炙耆（三錢）　白朮人參炙草各（二錢）　歸身（錢半）　陳皮（一錢）升麻柴胡各（六分）薑棗煎（或加山藥扁豆薏苡蓮肉）</p>
<p>歸脾湯治心腎脾三經虛弱</p>
<p>人參黃耆白朮茯苓棗仁各（二錢）　遠志歸身炙草各（一錢）　木香（五分）　龍眼肉（七枚）薑棗煎</p>
<p>參苓白朮散治脾虛胃弱人參茯苓白朮扁豆山藥各（二錢）　蓮肉薏苡仁各（三錢）　桔梗砂仁各（一錢）　炙草（錢半）薑棗煎</p>
<p>四物湯凡血虛血熱血少者皆宜之</p>
<p>當歸川芎地黃白芍薑棗煎四君子湯凡氣虛心虛脾虛胄虛者皆宜之</p>
<p>人參（二錢）　焦術茯苓各（錢半）　炙草（一錢）薑棗煎</p>
<p>異功散調理脾胃即四君子湯加陳皮八分引同香砂六君子湯治氣虛寒腹痛泄痢即四君子湯加木香砂仁（二錢）　八珍湯治心肺虛損氣血兩虛郎四君子湯加四物湯十全大補湯固表助陽大補血氣即八珍湯加蜜耆（二錢）　肉桂（一錢）　人參養榮湯養心血補肺氣即十全大補湯加五味遠志陳皮去川芎六神散補脾利胃即四君子湯加扁豆山藥引同保元湯補氣虛之祖方也</p>
<p>炙耆（四錢）　人參（二錢）　炙草（二錢）引同生脈散治虛痢脈細加絲者人參（三錢）　麥冬去心（五錢）　五味子（十五粒）水煎服</p>
<p>參連湯治噤口痢</p>
<p>人參（三錢）　姜連（錢半）　石蓮肉（二錢）　粳米煎徐徐呷之</p>
<p>參附湯治誤服寒藥至真陽大虛厥逆自汗呃逆頭暈等痢</p>
<p>人參（一兩）　熟附子（五錢）水煎服</p>
<p>理中湯溫中治腹痛寒痢</p>
<p>白朮（三錢）　人參乾薑炙草各（二錢）水煎服</p>
<p>附子理中湯溫中助陽暖脾胃治寒痢即理中湯加熟附二錢四逆湯治寒中三陰腹痛厥逆脈微欲絕即附子理中去白朮人參通脈四逆散治上症面赤格陽於外者即四逆湯加蔥白苦膽汁桂枝湯治發熱惡寒自汗腹痛之痢</p>
<p>酒芍（四錢）　桂枝（三錢）　炙草（二錢）　姜煎去渣入飴糖（三五錢）微火解服黃耆建中湯即小建中湯加蜜耆多汗宜之大建中湯治心胸中大寒痛腹中寒氣上衝蜀椒（二錢）　人參（三錢）　乾薑（四錢）　水煎去渣入飴糖（三四錢）　溫服</p>
<p>真武湯治感寒腹痛四肢沉重發熱汗出筋惕肉瞤腦心悸頭眩氣虛惡寒之痢熟附子白朮各（二錢）　茯苓各（三錢）生薑煎服</p>
<p>四神丸治脾腎虛寒瀉痢腹痛</p>
<p>故紙鹽水炒（四兩）　肉豆蔻（二兩）　五味子（二兩）　吳茱萸薑汁炒（一兩）　共研細生薑（四兩）　搗爛打糊丸綠豆大空心服（四錢）　古方用木香（一兩）　小茴（五錢）　若腎瀉及清晨溏瀉經年不止者加紅棗（二百枚）</p>
<p>木香散治虛寒瀉痢不止</p>
<p>炙草（三錢）　乾薑（二錢）　熟附（一錢）　紅棗煎若加十倍再加（丁香木香霍香豆蔻訶子肉石脂各二兩）共為散亦可每服（三錢）陳米湯下</p>
<p>回陽返木湯治陰盛陽微四肢厥冷脈沉遲無力者熟附子人參麥冬各（二錢）　炙草乾姜各（二錢）　陳皮（一錢）　姜連（四錢）五味子三分蔥一莖水煎服</p>
<p>橘皮乾薑湯治噁心嘔噦呃逆因於虛寒者</p>
<p>人參炮姜各（二錢）　肉桂炙草各（一錢）　陳皮通各（一錢）　半水煎服</p>
<p>治中湯治痢疾脾胃不和嘔逆不食虛痞中滿即理中湯加（青皮陳皮法夏）千金溫脾丸治赤白久痢</p>
<p>酒大黃（四錢）　人參甘草炮姜各（二錢）　肉桂熟附各（一錢）　水煎服</p>
<p>丁香柿蒂湯治呃逆因於寒者</p>
<p>丁香柿蒂人參各等分參減半姜煎服</p>
<p>乾薑甘草湯治肺冷</p>
<p>乾薑三錢炙甘草四錢水煎服</p>
<p>實湯飲治久痢不分赤白</p>
<p>山藥蓮肉陳倉米（各一兩俱炒研細開水化砂糖調服）</p>

<h3>暑熱風濕類方</h3>
<p>五物香薷飲治一切感冒暑痢</p>
<p>香薷姜樸雲苓甘草各二錢姜連一錢水煎冷服又一方有扁豆無茯苓</p>
<p>戊己丸洽濕熱瀉痢腹痛</p>
<p>黃連六兩莫萸一兩同用酒炒乾再加酒芍六兩共研糊丸米湯下每服三錢以十分之一煎湯服亦可</p>
<p>清暑益氣湯治暑熱氣喘痞脹身熱心煩口渴自汗脈虛體重等熱痢人參黃耆蒼朮白朮神麯黃柏麥冬各二錢升麻陳皮富歸葛根澤瀉各一錢五味子青皮各五分水煎溫服　六一散（又名天水散）治中暑煩熱小便不利河間云治痢之聖藥加硃砂名蔥豉益元散治暑熱挾感之痢</p>
<p>蔥白三寸豆豉三十枚煎湯調益元散二三小服</p>
<p>辰砂益元散（加紅曲五錢名青六丸治赤痢血痢）　滑石六兩甘草一兩新汲水調澄清服</p>
<p>五苓散清濕熱治水逆飲</p>
<p>豬苓茯苓白朮各二錢澤瀉錢半桂五分</p>
<p>春澤湯即五苓散加入參甘草此合四君五苓為一方也</p>
<p>朱苓湯即五苓散去澤瀉桂胃苓湯即五苓散合平胄散柴苓湯即五苓散臺小柴胡湯治瀉痢瘧疾發熱口渴心煩二陳湯治痢疾兼有濕痰者</p>
<p>法夏陳皮各二錢茯苓一錢甘草一錢姜煎</p>
<p>升陽除濕防風湯</p>
<p>防風二錢白朮茯苓白芍各一錢蒼朮四錢水煎服</p>
<p>人參胃風湯治客感乘虛水穀不化暴注下迫及腸胃濕熱之毒如豆汁或下瘀血日夜無度即八珍湯去甘草地黃加桂枝一錢水煎</p>
<p>三奇散治痢疾下重或如風吹肛門此風入腸胄他</p>
<p>黃耆二兩枳殼防風吳萸各一兩共為末米湯調下二三錢十分之一煎湯亦可</p>

<h3>瀉火理血類方</h3>
<p>大黃黃連瀉心湯治心脾伏熱痢血鮮紅濃厚</p>
<p>酒軍（五錢）　酒連（二錢）五溫</p>
<p>生地黃湯治熱痢不止</p>
<p>生地五錢地榆（七錢）　炙草（二錢）五水煎</p>
<p>黃連解毒湯治嘔逆熱痢</p>
<p>黃連黃芩梔子各等分水煎服（應於本方去梔子加枳殼木香）</p>
<p>鬱金散治一切熱毒痢下血不止</p>
<p>川鬱金（五錢）　槐花（五錢）　炒炙草（二錢）五水煎服</p>
<p>茜根湯治血痢心神煩熱腹中痛不納飲食</p>
<p>茜根地榆黃芩生地黃連各（三錢）　當歸犀角梔子各（一錢）水煎服</p>
<p>地榆散（又名潑火散）治暑熱痢致昏迷不省人事者白痢赤痢血痢皆宜</p>
<p>地榆（五錢）　赤芍川連各（三錢）　青皮（一錢）　水煎共為末涼水調服更妙</p>
<p>地榆芍藥湯治瀉痢膿血脫肛</p>
<p>蒼朮地榆芍藥卷柏各等分水煎服</p>
<p>地榆散治下痢純血及遠年不瘥者</p>
<p>地榆卷柏水煎或加百草霜膠艾薑炭</p>
<p>聶氏治痢主方治熱滯成痢虛寒禁服</p>
<p>酒連酒芩酒芍枳殼當歸地榆甘草厚朴檳榔青皮紅花桃仁山查各等分水煎服單白無紅去桃仁地榆紅花加陳皮木香滯澀者加酒軍</p>
<p>蒼朮地榆湯治脾濕痢疾下血</p>
<p>蒼朮三錢地榆炭一錢水煎服</p>
<p>清臟解毒治素有積熱下痢白膿腹痛脹滿盡夜無度漸至大便閉結小便不通此三焦有實熱也或下痢純血或赤白相雜皆效酒芩酒連黃柏酒軍梔子連翹滑石木香枳實車前子海金砂莪朮各等分水煎服</p>
<p>四物湯見補養門芍藥湯見和解門桃仁承氣湯見攻裡門</p>
<p>收澀固脫雜補遺類方</p>
<p>真人養臟湯治虛寒痢疾久而不愈及脫肛並治酒毒便血等症人參白朮當歸白芍木香各二錢炙草肉桂果各七分粟殼蜜炙四錢訶子肉錢半水煎食前溫服</p>
<p>固腸丸治脾虛臟滑赤白五色痢日久不止肉豆蔻赤石臘乾薑砂仁厚朴木香各（三錢）　糊丸綠豆大每服（七十丸）　米汁湯送下</p>
<p>訶子皮散治休息痢</p>
<p>訶子皮七分粟殼六分陳皮六分炮姜六分研細米湯調下</p>
<p>大斷下丸治久痢滑脫高良薑炮姜石榴皮（醋浸炒黃各一兩五）熟附細辛赤石臘枯礬肉蔻訶肉各（一兩）　龍骨煆牡蠣煆各（二兩）　醋糊丸梧子大每服（三十丸）　米湯下一方加吳萸（一兩）</p>
<p>桃花湯治少陰腹痛便膿血</p>
<p>赤石脂（一兩六錢）乾薑（一錢）　粳米一合水煎服</p>
<p>大桃花湯治同前赤石脂乾薑當歸龍骨煆各（六錢）　熟附酒芍各（一錢）　白朮人參炙草各（二錢）　水煎服膿厚者加厚朴（一錢）　嘔加陳皮半夏（一錢）</p>
<p>豆蔻固腸丸治臟腑並滑下痢赤白厚朴木香肉豆蔻赤石脂乾薑砂仁各等分糊丸梧子大每服三十丸空心米湯送下</p>
<p>訶黎勒丸治休息久痢</p>
<p>樗白皮（一兩）　訶肉（五錢）　丁香卅粒糊丸每（三錢）　米飲日下三服</p>
<p>伏龍肝湯丸治胎前下痢產後不止及元氣大虛瘀積小腹攻痛難忍者</p>
<p>山查炒黑（一兩）　砂糖熬枯（二兩）　共研細糊丸用伏龍肝（一兩）　煎湯送下丸（二錢）　日三服夜二服（氣虛加入參虛熱加炮姜肉桂茯苓甘草兼風寒加蔥白豆豉膈氣不舒加廣木香）</p>
<p>烏梅丸治痢疾寒厥吐蛔胄熱有火者禁服烏嗨三百個細辛桂枝人參熟附黃柏各六兩黃連川椒當歸乾薑各四兩酒浸烏梅一宿去核蒸熟和藥蜜丸</p>
<p>吳茱萸湯治同上禁同下</p>
<p>莫萸五錢炮人參（一錢）　大棗（五枚）　生薑（一兩）煎服</p>
<p>黃連犀角散治狐惑症肛門生蟲　犀角（一錢）　黃連（五分）　木香（二分）　烏梅（一個）　共為散水煎和滓服日二服</p>
<p>雄黃脫散治蟯蟲並狐惑唇瘡聲啞等症雄黃桃仁苦參青箱於黃連各等分為末艾汁為丸如小指尖大（里綿納下部中內服桃仁槐子蕪荑）</p>
<p>連理湯治外感暑熱內傷生冷之痢即埋中湯加茯芩姜連生化湯生新血去舊血扶元氣補脾胃產後通劑也</p>
<p>當歸（三錢）　桃仁（錢半）　川芍（錢半）　炮姜（一錢）　甘草（一錢）　大棗（五枚）　酒水煎或入炒糖</p>
<p>奪命湯丸自擬治煙後痢疾初起治未得法以致日久不愈一日夜百十行復痛下墜純見黑膿或如魚腦屋漏此陰陽兩敗臟氣已傷朝不保夕之候與其坐以待斃莫若含藥而亡服此湯丸或救萬一</p>
<p>先用白蜜（一兩五錢）　慢火熬入阿膠（一兩）　待膠化開再入川白蠟（五錢）　赤石脂（一兩）　淨羊脂（一兩）　搗爛如泥肉豆蔻（一錢）　石脂豆蔻俱研細連羊脂共兌入蜜膠蠟內絞勻候冷挫條捻丸如小綠豆大用頭瀝菸灰（五錢）掛衣聽用人參（二錢）　熟地何首烏粟殼各（四錢）　杜仲當歸訶子肉炙草各（三錢）姜連一錢酒芍（二錢）　麻仁（三錢）　郁李（三錢）　枳實（一錢）　大棗煎去滓送前丸（三錢）　加上焦有實火去人參嘔加法夏茯苓（二錢）　陳皮八分熱嘔去人參加竹茹（二錢）姜連加偌口火渴思涼去人參加干麥冬（四錢）　五味子卅粒咽痛加桔梗</p>

<h3>匯選痢疾奇驗單方</h3>
<p>一治久痢不愈者用蘿蔔生汁一盅白蜜一盅煎溫服</p>
<p>一方治用白砂糖（一兩）　雞蛋清（一個）　燒酒一盅煎至（八分）　溫服立止（治痢不拘赤白）</p>
<p>一方治噤口痢用谷蟲一一二個瓦上焙）研細米湯飲下即能思食</p>
<p>一方治噤口痢用獨子肥皂（一枚去核實鹽其中火燒存性研細）入白粥內少許食之</p>
<p>一方用干蘿蔔花煎湯服一方加陳馬齒莧同煎服治痢不拘赤白</p>
<p>一方治久痢暴瀉不止用石榴皮燒存性斫末米湯飲下二錢</p>
<p>一方治熱痢不止用車前葉搗爛取水一盅入蜜一盅煎服自愈</p>
<p>一方治赤白痢用韭菜取汁一盅酒一盅煎溫服（並治婦人心氣痛亦散氣行血故也）</p>
<p>一方治噤口痢用大梨一枚挖去心入蜜一匙薑汁少許煨過食之</p>
<p>一方治下血熱痢用苦參炭為末每服（二三錢）米湯下</p>
<p>一方治腸氣血痢用大鯽魚一個破腹去腸膽納白礬（二兩）　燒存性服（二錢）米湯調</p>
<p>一方治痢用陳細茶（三錢）　同鹽炒去鹽檳榔（二錢）　紅糖生薑煎服</p>
<p>一方用豆腐二斤香油煎焦夾紅糖吃不拘赤白皆愈</p>
<p>一方名香參丸用木香（四兩）　苦參六兩同酒炒甘草（一筋）　糊丸梧子大每服三錢白紅痢姜白湯下噤口痢砂仁蓮肉湯下水瀉朱苓澤瀉湯下　一方治噤口熱痢田螺數枚連殼搗爛入麝香少許填臍中引熱下降服藥再不吐矣　一方治噤口痢用初生小兒屎炙乾一錢雄黃五分黃連四分冰片少許為末水調塗兩眼角　一方治食積痢日久不愈腹脹痛有硬塊攻補兩難者秘製化痞膏一貼臍上自愈</p>
<p>一方治產後痢不止用柿餅二枚焙焦存性烏梅炭十枚紅棗廿個粟殼五錢紅糖一兩生薑三錢煎湯服</p>
<p>一方治血痢不止用生刺兒菜即大小薊搗汁一碗入白糖一兩生服</p>
<p>一方治痢不分赤白用無花果一個蘸白砂糖隨便吃自愈一方治泄痢下重用薤白一二錢水煎服（金匱加入四逆散內治同四逆散柴胡炒白芍枳實炙甘草）</p>
<p>一方治小兒熱痢用嫩黃瓜一條切片入白糖蜜五錢水煎一方治血痢及腸風下血用木耳五錢炒研細或用水酒煎或用新汲水沖一方治夏秋感胃初起之痢不分赤白用四時正氣散錢半滑石薑湯調下屢試屢驗</p>
<p>一方治煙後痢疾良方白朮三錢醋炒薤白錢半當歸三錢地榆二錢炒黑鮮樁白皮二錢炒炭紅花錢半槐花錢半酒芩炭二錢木香八分白糖一兩此方百發百中經驗多年病重二劑輕一劑即愈椿樹白皮必須新鮮的誠治痢之良方也治痢捷要新書終</p>
