<header data-type="book">
<h1>攝養枕中方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>孫思邈</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
</dl>
</header>
<p><u>夫養生繕性其方存於卷者甚眾其或幽微秘密疑未悟之心至於澄神內觀遊玄採真故非小智所及常思所尋設能及之而志不能守之事不從心術即不驗誠由前之誤交切而難遺攝衛之道賒遠而易遠是以混然同域絕而不思者也嵇叔夜悟之大得論之未備所以將來志士覽而懼焉今所撰錄並在要典事雖隱秘皆易知易為以補斯闕其學者不違情欲之性而俯仰可從不棄耳目之□而顧盼可法旨約而用廣業少而功多餘研核方書蓋亦久矣搜求秘道略無遺余自非至妙至神不入茲錄誠信誠效始冠於篇取其弘益以胎後代苟非其道慎勿虛傳傳非其人殃及三世凡著五章為一卷與我同志者寶而行之云</u></p>

<h1>自慎</h1>
<p>夫天道盈缺人事多屯居處屯危不能自慎而能克濟者天下無之故養性之士不知自慎之方未足與論養生之道也故以自慎為首焉夫聖人安不忘危恆以憂畏為本營無所畏忌則庶事□壞經曰人不畏威則大威至矣故以治身者不以憂畏朋友遠之治家者不以憂畏奴僕侮之治國者不以憂畏磷境侵之治天下者不以憂畏道德去之故憂威者生死之門禮教之主存亡之由禍福之本吉凶之元也是故士無憂畏則身名不立農無憂畏則稼穡不滋工無憂畏則規矩不設商無憂畏則貨殖不廣子無憂畏則孝敬不篤父無憂畏則慈愛不著臣無憂畏則動庸不建君無憂畏則社稷不安養性者失其憂畏則心亂而不治形躁而不寧神散而氣越志蕩而意昏應生者死應死者亡應成者敗應吉者凶其憂畏者甚猶水火不可暫忘也人無憂長子弟為勁敵妻妾為寇仇是以太上畏道其次畏物其次畏人其次憂身故憂於身者不拘於人畏於己者不制於彼慎於小者不懼於大戒於近者不侮於遠能知此者水行蛟能不得害陸行虎兕不能傷處世謗讟不能加善知此者萬事畢矣夫萬病橫生年命橫天多由飲食之患飲食之患過於聲色聲色可絕之踰年飲食不可廢於一日為益既廣為患亦深且滋味百品或氣勢相伐觸其禁忌更成沉毒緩者積年而成病急者災患而卒至也</p>
<p>凡夏至後迄秋分勿食肥膩餅臛之屬此與酒漿果瓜相妨或當時不覺節病人秋節變生多諸暴下皆由涉夏取冷太過飲食不節故也而或者以病至之日便為得病之初不知其所由來者漸矣欲知此慎者當去之於微也夫養性者當少思少念少欲少事少語少笑少愁少樂少喜少怒少好少惡行此十二少者養生之都契也多思則神殆多念則志散多欲則損智多事則形勞多語則氣爭多笑則傷藏多愁則心懾多藥則意溢多喜則忘錯昏亂多怒則百脈不定多好則專迷不日多惡則憔悴無歡此十二多不除喪身之本也唯無多無少幾乎道也故處士少疾遊子多患繁簡之殊也是故田夫壽膏粱夭嗜欲多少之驗也故俗人競利道士罕營夫常人不可無欲又復不可無事怛約私心約狂念靖躬損思則漸漸自息耳封君達曰體欲常勞食欲常少勞勿過極少勿過虛恆去肥濃節鹽酸減思慮損喜怒除馳逐慎房室春夏施瀉秋冬閉藏又魚膾生肉諸腥冷之物此多損人速宜斷之彌大善也心常念善不欲謀欺詐惡事此大辱神損壽也</p>
<p>彭祖曰重衣厚褥體不堪苦以致風寒之疾甘昧脯臘醉飽饜飫以致疝結之病美色妖麗以致虛損之禍淫聲哀音怡心悅耳以致荒耽之感馳騁遊觀弋獵原野以致發狂之迷謀得戰勝取亂兼弱以致驕逸之敗斯蓋聖人戒其失理可不思以自助也</p>
<p>夫養性之道勿久行久坐久視久聽不強食不強飲亦不可憂思愁哀飢乃食渴乃飲食止行數百步大益人夜勿食若食即行約五里無病損日夕有所營為不住為佳不可至疲極不得大安無所為也故曰流水不腐戶樞不蠹以其勞動不息也</p>
<p>想爾曰勿與人爭曲直當滅人壽算若身不寧反舌塞喉嗽滿咽液無數須臾即愈道人有疾閉目內視使心生火以火燒身燒身令盡存之使精神如彷彿疾即愈若有痛處皆存其火燒之秘驗</p>
<p>仙經禁忌凡甲寅日是屍鬼競亂精神躁穢之日不得與夫妻同席言語而會必當清靜沐浴不寢警備也凡服藥物不欲食蒜石榴豬肝犬肉凡服藥勿向北方大忌凡亥子日不可唾減損年壽凡入山之日未至百步先卻百步足反登山山精不敢犯人凡求仙必不用見屍又忌三月一日不得與女人同處仙道忌十敗一勿好淫面為陰賊凶惡二勿酒醉四勿穢慢不淨五勿食父命本命肉六勿食已本命肉七勿食一切肉八勿食生五辛九勿殺一切昆蟲眾生十勿向北大小便仰視三光</p>
<p>仙道十戒勿以八節日行威刑勿以晦朔日怒勿以六甲日食鱗甲之物勿以三月三日食五藏肉百草心勿以四月八日殺伐樹木勿以五月五日見血勿以六月六日起土勿以八月四日市附足之物勿以九月九日起床蓆勿以八節日雜處</p>
<p>仙家雜忌日夫習真者都無情欲之感男女之想也若丹白存於胸中則真感不應靈女上尊不降陰氣所接永不可以修至道吾常恨此賴改之速耳所以真道不可以對求要言不可以偶聽慎之哉</p>
<p>又曰若有祟奉六夭及事山川魔神者勿居其室勿饗其饌右已上忌法天人大戒或令三魂相族七魄流競或胎神所憎三官受惡之時也若能奉修則為仙林不奉修失禁則為傷敗</p>
<p>又曰夫陰丹內御房中之術七九朝精吐納之要六一回丹雄雌之法雖獲仙名而上清不以比德雖均至化而太上不以為高未弘至道豈睹立闥勿親經孕發女時醑華池酣鬯自樂全真獨臥古之養生尤須適意不知秘術詎可怡乎勿抱嬰兒仙家大忌凡建志內學養神求仙者常沐浴以致靈氣如學道者每事須令密泄一言一事輒減一算一算三日也凡咽液者常閉目內視別處一室勿與人雜居著淨衣焚香凡書符當北向勿雜用筆硯凡耳中忽聞啼呼及雷聲鼓嗚若鼻中聞臭氣血腥者並凶兆也即焚香沐浴齋戒守三元帝君求乞救獲行陰德為人所不能為行人所不能行則自安矣</p>
<p>又曰夫喜怒損誌哀樂害性榮華惑德陰陽竭精皆學道之人大忌仙法之所疾也</p>

<h1>導引</h1>
<p>常以兩手摩拭面上令有光澤斑皺不生行之五年色加少女摩之令二七而止臥起平氣正坐先叉手掩項目向南視上使項與手爭為之三四使人精和血脈流通風氣不入行之不病又屈動身體四極反張側掣宣搖百關為之各三又臥起先以內著厚帛拭項中四面及耳後周匝熱溫溫如也順發摩頂良久摩兩手以治面目久久令人目自明邪氣不平都畢咽液三十過導內液咽之又欲數按耳左右令無數令耳不聾鼻不塞</p>
<p>常以生氣時咽液二七過按體所痛處每坐常閉目內視存見五臟六俯久久自得分明瞭了</p>
<p>常以手中指接目近鼻兩皆（兩皆目睛明也）閉氣為之氣通乃止周而復始行之周視萬里</p>
<p>常以手按兩眉後小穴中（此處目之通氣者也）三九過又以手心及指摩兩目及顯上又以手旋耳各三十過皆無數時節也畢以手逆乘額上三九過從有中始乃上行人髮際中常行之勿語其狀久而上仙修之時皆勿犯華蓋（華差眉也）</p>

<h1>行氣</h1>
<p>凡欲求仙大法有三保精引氣服餌此三事亦階淺至深不遇至人不涉勤苦亦不可卒知之也然保精之術列敘百數服餌之方略有千種皆以動勞不強為務故行氣可以治百病可以去瘟疫可以禁蛇獸可以止瘡血可以居水中可以闢飢渴可以延年命其大要者胎息而已胎息者不復以口鼻噓吸如在胞胎之中則道成矣</p>
<p>夫善用氣者噓水水為逆流噓火火為滅炎噓虎豹虎豹為之伏匿噓瘡血瘡血則止聞有毒蟲所中雖不見人便遙為噓咒我手男左女右彼雖百里之外皆愈矣又中毒卒病但吞三九之氣亦登時善也但人性多躁少能安靜所以修道難矣</p>
<p>凡行氣之道其法當在密室閉戶安床暖席枕高二寸半正身偃臥瞑目閉氣生止於胸膈以鴻毛著鼻上毛不動經三百息耳無所聞目無所見心無沖思當以漸除之耳若食生冷五辛魚肉及喜怒憂患而引氣者非止無益更增氣病上氣放逆也不能閉之即稍學之初起三息五息七息九息而一舒氣更嗡之能十二息氣是小通也百二十息不舒氣是大通也此治身之大要也常以夜半之後生氣時閉氣以心中數數令耳不聞恐有誤亂以手下籌能至於千節去仙不遠矣</p>
<p>凡吐氣令人多出少入恆以鼻入口吐若天大霧惡風猛寒勿行氣但閉之為要妙也</p>
<p>彭祖曰至道不煩但不思念一切剛心藏不勞又復導引行氣胎息真爾可得千歲更服金丹大藥可以畢天不朽清齋休繼存日月在口中畫存日夜存月令大如環日赤色有紫光九芒月黃色有白光十芒存咽服光芒之液常密行之無數若修存之時恆令日月還面明堂中日在左月在右令二景與目瞳合氣相通也所以倚運生精理利魂神六丁奉侍天兵衛獲此真道也兒夜行及眠臥心有恐者存日月還入明堂中須臾百邪自滅山居恆爾凡月五日夜半存日象在心中日從口入使照一身之內與日共光相合會常覺心腹霞光映照畢咽液九遍到十五日二十五日亦如是自得而關遍暢面有玉光又男服日象女服月象一日勿廢使人聰明朗徹五藏生華</p>

<h1>守一</h1>
<p>夫守一之道眉中卻行一寸為明堂二寸為洞房三寸為上丹田中丹田者心也下丹田者臍下一寸二分是也（出黃庭經一一有服飾姓名）男子長九分女子長六分昔黃帝到峨眉山見皇人於玉堂中帝請問真一之道皇人日長生飛仙剛唯金丹守形卻老則獨真一故仙重焉凡諾思存乃有千數以自衛率多煩雜勞人若守守一之道則一切不須也仙師曰凡服金丹大藥雖未去世百邪不敢近人若服草木小藥餌八石適可除病延年不足以釀外禍或為百鬼所枉或為太山橫召或為山神所輕或為精魅所侵唯有真一可以一切不畏也（守一法具在皇人守一經中）</p>

<h1>太清存神煉氣五時七候</h1>
<p>夫身為神氣為窟宅神氣若存身康力健神氣若散身乃謝焉若欲存身先安神氣即氣為神母神為氣神氣若具長生不死若欲安神須煉元氣氣在身內神安氣海氣海充盈心安神定若神氣不散身心凝靜靜至定俱身存年永常住道元自然成聖氣通神境神通性慧命注身存臺於真性日月齊齡道成究竟依銘煉氣欲學此術先須絕粒安心氣海存神丹田攝心靜慮氣海若俱自然飽矣專心修者百日小成三年大成初入五時後通七候神靈變化出沒自存峭壁千里去住無礙氣若不散即氣海充盈神靜丹田身心永固自然回顏駐色變體成仙隱顯自由通靈不變名曰度世號曰真人天地齊年日月同壽此法不服氣不咽津不辛苦耍吃但吃須休即休自在自由無礙五時七候入胎定觀耳五時者第一時心動多靜少思緣萬境取捨無常念慮度量猶如野馬常人心也第二時心靜少動多攝動人心而心散逸難可制伏攝之動策進道之始第三時心動靜相半心靜似攝未能常靜靜散相半用心動策漸見調熟第四時心靜多動少攝心漸熟動即攝之專注一境失而遽得第五時心一向純靜有事觸亦不動由攝心熟堅固準定也從此以後處顯而入七候任運自得不關於作矣</p>
<p>七候者第一候宿疾並消身輕心暢停心在內神靜氣安四大適然六情沉寂心安立境抱一守中喜悅日新名為得道第二候超過常限色返童顏形悅心安通靈徹視移居別郡揀地而安磷里之人勿令舊識第三候延年千載名曰仙人遊諸名山飛行自在青童侍衛玉女歌揚騰躡煙霞綏云捧足第四候煉身成氣氣達身光名曰真人存亡自在光明自照晝夜常明遊諸洞官諸仙侍立第五候煉氣為神名曰神人變通自在作用無窮力動乾坤移山竭海第六候煉神合色名曰至人神既通靈色形不定對機施行應物現形第七候高超物外迥出席倫大道玉皇共居靈境賢聖集會弘演至真造化通靈物無不達修行至此方到道源萬行休停名曰究竟今時之人學道日淺曾無一候何得靈通但守愚情保持穢質四時遷運形委色衰體謝歸空稱為得道謬矣此胎息定觀乃是留神駐形真元祖師相傳至此最初真人傳此術術在口訣凡書在文有德志人方遇此法細詳留意必獲無疑賢智之人逢斯聖文矣攝</p>
