<header data-type="book">
<h1>修真秘要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王蔡</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd>明刻本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=b0fa1e8d59064d76b7f5f478c6a801f3fDYyMQ2&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>予觀《修真秘要》一書，言簡而旨深，功廉而效大，誠修身延命之術也。且夫人稟陰陽之氣以生，其本始未嘗少欠，一與物接，乾元之祖，漸為七情所耗，是以氣滯血凝，而病生焉。故古之君子，見道分明，知言養氣，欲行集義之功，必先熊頸鳥伸，收視返聽，以導引其關節，關節通則一氣流行於上下矣。《易》曰：天行健，君子以自強不息。此之謂也。蓋天地之道，晝夜運行而不息，吾身之氣，亦晝夜周流而無間，知天地之道，然後可以言吾身之造化矣。孔子曰：變通莫大乎四時。孟子曰：我善養吾浩然之氣。即此而觀，則知仲尼誠體是易，孟子真有此氣。大哉！孔孟神妙，萬物至極，而不尚者乎？奈何道喪千載，聖遠言湮，仰東山者，動輒以功名富貴為心談。聖學者，但見以工麗詞章為重，曾無一言以及吾身之造化者，可勝嘆哉！予得此集，豈容自私，遂付諸梓，以廣前人修己治人之意，有志於是者，覽而行之，雖未必能壽考，若籛鏗登玄如松子，然於性命之秘，亦可少裨其萬一也。上達之士，幸勿以是為迂哉。</p>
<p><u>正德八年乙亥孟春元旦閩中王蔡識</u></p>

<h1>跋</h1>
<p>嘗聞庖犧氏之王天下也，畫八卦以斷吉凶。神農氏之王天下也，嘗百草以療疾病。至於軒黃咨於岐伯、雷公，用著醫術傳之後世，無非所以全世命而厚民生也。但人之疾病，起於不常，地之相去，亦有遠近，且如都邑城市，以疾求醫固云而矣。則夫山林澤藪，遐陬僻壤之地，素無攻醫之方，又乏針砭之具，一旦疾生，莫知所措，其不至於凶夭短折者幾稀。此《修真秘要》之書，所以為可鋟也。是書一行，則凡具眼目者，採而行之，不必求之盧、扁𪀧方劑，而吾身之沉疴可瘳矣。嗚呼宜哉！</p>
<p><u>云崖道人跋</u></p>

<h1>仙人撫琴</h1>
<figure>
<img alt="圖一">
</figure>
<p>治久病黃腫，以兩手按膝施功，存想閉息，周流運氣四十九口。如此則氣通血融而病自除矣。</p>

<h1>絞丹田</h1>
<figure>
<img alt="圖二">
</figure>
<p>治肚腹疼痛，亦能養精。以身端坐，兩手抱臍下，行功運氣四十九口。</p>

<h1>仙人存氣開關</h1>
<figure>
<img alt="圖三">
</figure>
<p>治肚腹虛飽。用兩手抱肩，以目左視，運氣一十二口。</p>

<h1>仙人指路</h1>
<figure>
<img alt="圖四">
</figure>
<p>治左癱右瘓，以手左指右視，運氣二十四口；以手右指左視，運氣二十四口。</p>

<h1>九九登天</h1>
<figure>
<img alt="圖五">
</figure>
<p>治絞腹痧，痛不可堪。以身端坐，用兩手攀膝躋胸。左右登扳九數，運氣二十四口。</p>

<h1>周天火候</h1>
<figure>
<img alt="圖六">
</figure>
<p>治血氣衰敗。先以兩手搽目，用手主定兩腋，其氣上升，運氣一十二口。</p>

<h1>呂祖散精法</h1>
<figure>
<img alt="圖七">
</figure>
<p>治精脈不存。坐舒兩腿，手扳左腳心，施功運氣，左三口，右三口，故為散而不走。</p>

<h1>呂祖散運息氣</h1>
<figure>
<img alt="圖八">
</figure>
<p>專主止夜夢遺精。坐舒兩腳，用兩手扳腳心，行功運氣九口。</p>

<h1>龍扳爪</h1>
<figure>
<img alt="圖九">
</figure>
<p>治遍身疼痛。以身坐直，舒兩腳，兩手握拳，連身向前，運氣一十二口。</p>

<h1>神仙斗柄開關</h1>
<figure>
<img alt="圖十">
</figure>
<p>治一切雜病。以身端坐，兩手按膝，左右扭身，運氣一十四口。</p>

<h1>治頭暈</h1>
<figure>
<img alt="圖十一">
</figure>
<p>兩手抱頭端坐，行功運氣一十七口。</p>

<h1>鳴天鼓</h1>
<figure>
<img alt="圖十二">
</figure>
<p>治頭暈，咬牙，閉氣，用兩手按耳後，彈天鼓三十六指，叩齒三十六通。</p>

<h1>治後心虛疼</h1>
<figure>
<img alt="圖十三">
</figure>
<p>坐按兩膝，用意在心，左視右提，運氣一十二口；右視左提，亦運氣一十二口。</p>

<h1>霸王舉鼎</h1>
<figure>
<img alt="圖十四">
</figure>
<p>治肚內一切雜病。以身端坐，用左手按膝，右手舉起，運氣一十二口。右手亦然。</p>

<h1>虎施威</h1>
<figure>
<img alt="圖十五">
</figure>
<p>治赤白痢疾。用托布勢，行功向左，運氣九口，轉身向右，運氣九口。</p>

<h1>專治久癤</h1>
<figure>
<img alt="圖十六">
</figure>
<p>以身端坐，用兩手摩兩脅並患處，行功運氣三十二口。</p>

<h1>托天塔</h1>
<figure>
<img alt="圖十七">
</figure>
<p>治肚腹虛腫。以身端坐，兩手托天，運氣上九口，下九口。</p>

<h1>烏龍探爪</h1>
<figure>
<img alt="圖十八">
</figure>
<p>治腰腿疼痛。坐舒兩腳，兩手向前與足齊，來往行功運氣。</p>

<h1>神仙進禮</h1>
<figure>
<img alt="圖十九">
</figure>
<p>治癱患。以身高坐，左腳彎圈，右腳斜舒，兩手左舉，右視，運氣二十四口。右亦如之。</p>

<h1>仙人攪轆轤</h1>
<figure>
<img alt="圖二十">
</figure>
<p>治背膊疼痛，以身高坐，左腿彎，右腿舒，左手舉，右手摩腹。行功運氣一十二口。</p>

<h1>治胸膈膨悶</h1>
<figure>
<img alt="圖二十一">
</figure>
<p>以左手向左，右亦隨之，頭向右扭；以右手向右，左亦隨之，頭向左扭，運氣左九口，右九口。</p>

<h1>呂祖破氣法</h1>
<figure>
<img alt="圖二十二">
</figure>
<p>治疲症。用兩拳主兩脅與心齊，用力存想，行功運氣，左二十四口，右亦如之。</p>

<h1>抽添火候</h1>
<figure>
<img alt="圖二十三">
</figure>
<p>調理血脈，上治三焦不和，眼目昏花，虛弱。以身端坐，先用手擦熱，抹腳心，手按兩膝，端坐開口，呵氣九口。</p>

<h1>呂祖破氣法</h1>
<figure>
<img alt="圖二十四">
</figure>
<p>專治久癤。以身端坐，左拳主左脅，右手按右膝。專心存想，運氣於病處，左六口，右六口。</p>

<h1>仙人拔劍</h1>
<figure>
<img alt="圖二十五">
</figure>
<p>治一切心疼。丁字步立，右手揚起，扭身左視，左手於後，運氣九口，轉身轉手同前。</p>

<h1>童子拜觀音</h1>
<figure>
<img alt="圖二十六">
</figure>
<p>治前後心疼。八字立定，低頭於胸前，兩手抄腹下，用功行氣一十七口。</p>

<h1>暖丹田</h1>
<figure>
<img alt="圖二十七">
</figure>
<p>治小腸虛冷疼。端坐搽丹田，行功運氣四十九口。</p>

<h1>陳摶睡功</h1>
<figure>
<img alt="圖二十八">
</figure>
<p>治四時傷寒。側臥屈膝，以手擦熱抱陰及囊，運氣二十四口。</p>

<h1>呂祖行氣訣</h1>
<figure>
<img alt="圖二十九">
</figure>
<p>治背膊疼痛。立住，左手舒，右手捏膊肚，運氣二十二口。右手亦然。</p>

<h1>立站活人心</h1>
<figure>
<img alt="圖三十">
</figure>
<p>治腰疼。立住，鞠躬低頭，手與腳尖齊，運氣二十四口，一名烏龍擺尾。</p>

<h1>降牛捉月</h1>
<figure>
<img alt="圖三十一">
</figure>
<p>收精法。其法當精欲走之時，以左手指掩右鼻孔，右手於尾閭穴，截住精道，運氣六口，而精自回矣。</p>

<h1>呂祖養精法</h1>
<figure>
<img alt="圖三十二">
</figure>
<p>以身端坐，用手擦腳心，運氣□十四口。右腳亦然。</p>

<h1>搖天柱</h1>
<figure>
<img alt="圖三十三">
</figure>
<p>治頭疼及諸風與血脈不通。兩手按膝，向左扭項扭背，運氣一十二口。右亦然。</p>

<h1>呂祖救疾法</h1>
<figure>
<img alt="圖三十四">
</figure>
<p>治氣脈不通。立用功，如左邊氣脈不通，左手行功，意在左邊，舉左手運氣。右邊亦然。</p>

<h1>神仙靠拐</h1>
<figure>
<img alt="圖三十五">
</figure>
<p>治腰背疼。端立，以手主拐，項、腰左右轉，運氣一十八口，一氣運三遍，用膝拂地擺。</p>

<h1>金剛搗磑</h1>
<figure>
<img alt="圖三十六">
</figure>
<p>治肚腹膨脹，遍身疼痛。以身立住，用兩手托天，腳根向地，緊撮穀道，運氣九口。</p>

<h1>陳摶睡功</h1>
<figure>
<img alt="圖三十七">
</figure>
<p>治色勞。側臥，頭枕右手，左拳在腹上下往來擦摩，右腿在下微卷，左腿壓右腿在下，有想，調息習睡，收氣三十二口在腹，如此運氣一十二口，久而行之，病自痊矣。</p>

<h1>仙人脫靴</h1>
<figure>
<img alt="圖三十八">
</figure>
<p>治腰疼。立柱，用右手扶牆，左手下垂，右腳登舒，運氣一十八口。左右亦同。</p>

<h1>童子拜觀音</h1>
<figure>
<img alt="圖三十九">
</figure>
<p>坐定，舒兩腳，兩手按兩大腿根，用意存想，運氣一十二口。</p>

<h1>陳摶睡功</h1>
<figure>
<img alt="圖四十">
</figure>
<p>治夢泄精。仰臥，右手枕頭，左手用功，左腿直舒，右腿拳，存想運氣二十四口。</p>

<h1>陳摶睡功</h1>
<figure>
<img alt="圖四十一">
</figure>
<p>治五穀不消。仰面直臥，兩手在胸並肚腹上往來行功，翻江攪海，運氣六口。</p>

<h1>治腰腿疼</h1>
<figure>
<img alt="圖四十二">
</figure>
<p>立柱，兩手握拳，如鞠躬勢到地，沉沉起身，雙手舉起過頂，閉口，鼻內微微放氣三四口。</p>

<h1>李白玩月</h1>
<figure>
<img alt="圖四十三">
</figure>
<p>治血脈不通。用打蛇勢，手腳俱要交叉，左右行功，左行氣一十二口，右亦如之。</p>

<h1>治腎堂虛冷</h1>
<figure>
<img alt="圖四十四">
</figure>
<p>治腰腿疼。端坐，兩手擦熱，向背後摩精門，運氣二十四口。</p>

<h1>霸王散法</h1>
<figure>
<img alt="圖四十五">
</figure>
<p>治遍身拘束，疼痛，時氣傷寒。立住，左腳向前，握兩拳，運氣一十二口。右腳亦然。</p>

<h1>餓虎撲食</h1>
<figure>
<img alt="圖四十六">
</figure>
<p>以肚腹著地，兩手向後往上舉，兩腳亦往上舉，運氣十口。亦治絞腸痧。</p>

<h1>百氣衝頂</h1>
<figure>
<img alt="圖四十七">
</figure>
<p>治遍身疼痛。高坐腿舒立，行搭弓勢，運氣一十二口。</p>

<h1>任脈</h1>
<figure>
<img alt="圖四十八">
</figure>
<p>此脈通，百病消除。以身端坐，兩手拿胸傍二穴，如此九次，運氣九口。</p>

<h1>雙手拿風雷</h1>
<figure>
<img alt="圖四十九">
</figure>
<p>專治混腦痧及頭風疼不止者。以兩手抱耳連後腦，運氣一十二口，行十二次。</p>
