<header data-type="book">
<h1>琉球問答奇病論</h1>
</header>

<h1>正文</h1>
<p>敝國僻居東南海隅方位在下故人多有脾濕之病此病多在富貴高粱之家而不在貧賤藜藿之家其症初起心下留飲漉漉有聲心腹稍冷或作疼痛有時痞滿飲食少思或吐濁水不愛茶羹或嫌穀食好飲湯水或噯氣吞酸或面腫氣喘身重如負百鈞或腳脛浮腫筋緩難步或小便短澀或大便秘結或怔忡驚悸或睡不熟或日裡貪眠其後竟成積聚之症從肝經部位上連頭脊或為脹滿或為勞瘵如此形狀固不一律或謂因多飧豬肉（敝土豬肉與中國不同味甚肥胖）或謂因多飲燒酒（敝土燒酒與中國不同味辛厚）或謂因多佚房勞醫論紛紛均不可定治方屢用六君子湯苓桂朮甘湯養胃湯大健脾湯五苓散分消湯導水茯苓湯分心氣飲三和散寬中滲濕行氣利水等方未兒其驗不知何經何病且何方治之乎（問）</p>
<p>據說貴國多忠脾濕之症富貴者多貧賤者少其初則心下留飲瀝瀝有聲繼則疼痛痞滿腳腫終則竟成積聚脹滿以及勞瘵等症所用之方多未見效殆未知病源故歟夫胃為水穀之海五臟六腑之大源內經曰飲食入胃遊溢精氣上輸於脾脾氣散精上歸於肺通調水道下輸膀胱水精四布五經並行此其常也仲景為醫中之聖深知其然也故分別淺深以著見金匱之篇其淺者在於軀殼之內臟腑之外而出入為患曰飲曰懸飲曰溢飲曰飲立為四飲之名矣其深者由胃上入陽分則為心肺上病由胃下入陰分則為脾肝腎之病故曰在心水在肺水在脾水在肝水在腎一一剖明以立後人之準則且又有留飲伏飲之症其理甚深其法至密皆所以體內經之意以為萬世不易之經也後人不知其本而求其末東沫西塗遂至病淺者轉深深者致壞良足嘆也水飲濕氣之始起也必由於胃胃為水穀之海如濕飲始起而兼寒熱則治濕藥中則當加發表之藥始起而即有滿痛而無寒熱時濕藥中加入攻下之藥至於痞滿日甚身重腳腫是土氣受傷當於扶士之中兼用化導之藥苟至積聚已成勞瘵已見乃難治之候也尤當辨症辨脈以人而回天豈可以峻猛之藥求其速效亦未必大補之劑所能成功大抵善於為醫者明天地陰陽不測之幾此最上而難能也其次亦當求內經仲景之書而深求其理參以諸大家之論說而得其精臨症切脈皆有理會自能頭頭是道子思所謂心誠求之雖不中不遠矣若影響模糊心無主見無論不用古方即用古方亦無當也臨機應變古人之成方而參以已意活法幾可奏功非一方所能統治也（答）</p>
<p>據云脾濕之症富貴者多貧賤者少亦自有故貧賤之人身勞而心佚富貴之人身佚而心勞心勞則思慮太過傷其心脾而且醇酒厚昧傷其腸胃色欲過度睡眠失時又足以傷其肝肺與腎內傷則虛虛則外患皆得以中之經所謂風雨襲虛病起於上清濕襲虛病起於下是也內經云濕上甚為熱是言濕熱入於陽分也況濕土寄旺於四時春曰風涇夏曰熱濕秋曰燥濕冬曰寒濕三時主熱一時主寒宜斟酌用方雖不可獨用寒涼亦不可概用溫補也（答）</p>
<p>男子三十多歲肌肉肥胖精神壯健一旦忽然小腹浮腫其大如拳皮色不變其痛走遍體手足恍如錐刺諸醫不知其症束手不治偶有走方先生來云是蟲走為痛也若不殺蟲決不見痊眾人不信病者閒曰生有命疼痛難耐遂使他治之疼痛在股以針刺股血尚不出坐見其斃不知其症治方何如乎此症系時邪風毒所結小腹浮腫者時邪也遍身走痛蓄風毒也有挾熱挾塞之別宜參診其脈挾熱者用承氣湯以下之挾寒者用大黃附子湯溫下並行腫痛稍減燃後兼理其風（答）</p>
<p>男子歲已二旬有五半生少言不喜與人談笑獨自愁郁思慮過度心神慌亂怔忡不寐如見鬼神妄言妄笑或歌或怒言誤無序不辨新疏不知穢潔多動少靜自認高賢飲食或多或少不食或一日或二日六脈浮數肌肉肥胖常用溫膽湯硃砂安神丸天王補心丹降龍丹等劑無效是何方治之乎（問）</p>
<p>此症系肝氣內郁所致木鬱則火動火動則痰結痰火既盛而陽明之實火亦相併而焚之讀內經陽明經脈篇自能認得此病宜化痰降火開鬱為要補藥不可用也（答）</p>
<p>男子歲已四十餘心下素有留飲或痞滿或疼痛欲食少進雖服養胃湯大健脾湯寬中滲濕等劑而不見效小便短澀身體手足漸浮六脈亦大改用分消湯導水茯苓湯三和散等方或小便雖不多其腫自減小便難有增其腫不減又用加味補中益氣湯腎氣丸料實脾丹大半夏湯參附湯理陰煎等方尚不見驗更兼唇麻舌強痰飲阻咽飲食難下即認痰飲迷心之所玟改用滌痰導痰之藥五六劑其症方退詎意石手曲澤下二寸計腫痛八九日按之形如包膿即用針法見膿僅少出血卻多其後手足身體逐漸腫消只有患處愈腫又進十全大補湯到第二天大熱譫語六脈洪大瘡口流血二碗計其手處處有血泡恍加火燒之痕用針破之血出泡消只有血痕遂到第三日而死矣按手瘡唇麻舌強等症不是腫症兼病不知河經何病且藥治之哉（問）</p>
<p>此症系水飲挾熱者也濕熱盛於內未能辨認故或服滲濕之劑或服健脾之劑總未見效是燥藥太多故也至於補中益氣湯以及參附等劑皆溫補以助其濕熱濕熱無路可出走入右手尺澤之間現出腫痛此時猶未知邪照入於血分雖用針見血其毒熱總不除況又用十全大補以助之故譫語流血血將盡人亦亡矣向後若遇水飲之症須分別其為寒為熱開手即不可誤若開手認症不真將來傳變不可測也（答）</p>
<p>男子歲才二旬余酒色過度午熱夜汗咳血不止四肢倦怠肌肉消瘦六脈洪大無力會服滋陰降火之藥而不見效又朝服補中益氣湯晚服八仙長壽丸間服之並不見效（問）</p>
<p>咳血之症變幻不測初起必須明辨其從何道而出蓋中焦受氣取汁變化而成赤謂之血一由腹右下行於血海一由虛里穴從人下入於經脈血海之血衝任主之其血則熱肉充膚澹滲皮毛男子絡唇口而生髭鬚女子月事以時下或因表邪迫其妄行或因肝火熾盛或因暴怒傷肝以致胞中之血不充於腠腠皮毛反隨沖氣而上湧於胃脘吐此血者其吐必多雖多而不死蓋以有餘之血也經脈之血則手厥陰心包主之乃中焦取汁以奉生身之血也行於經隧內養其筋外榮其脈此血為最重不可吐吐必死也內經雲陽絡傷則吐血陰絡傷則便血此血海之血也一息不運則機針窮一絲不積則霄壤判此經脈之血也據說酒色過度以致咳血不止恐是經脈之血吐此血者十無一生惟藥不妄投大補心腎重服人參可於十中存其一二為醫者實無如之何（答）</p>
<p>男子中年之後思慮過度右脅下作痛似塊非塊嘔逆吐痰飲食不下或朝食晚吐或隨食隨吐六脈弦緊顏色黑瘦肌體日削歷用逍遙散六君子湯等類而不見效又用半夏瀉心湯歸脾湯及大健脾湯六味丸亦不效（問）</p>
<p>此症系思慮傷脾脾上不運故有嘔逆吐痰葬症諸病俱見所用扶土平肝之藥似中款窮但右脅作疼似塊非塊恐是氣與血凝滯不化相結而成宜於補氣補血之藥兼用行氣行血之品始則破多於補後乃補多於破方得法最宜叮囑病人寬心調養不可動怒動欲為要（答）</p>
<p>男子歲二旬有三四麻疹回謝之後患淋症醫者數月之間用清火疏利之藥尚不見效因此不服醫藥自服黑魚海蛇雞肉羊肉豚腸等類亦不見效其後小便頻數欲行不行欲止不止書百數十行夜十餘行數起不涵水道澀痛或牽穀道或引氣衝愈痛則愈欲便愈便則愈發痛食則痛稍減飢痛愈盛真便色或清白或赤濁或見盤條或見膿血即用導赤散五淋散龍膽瀉肝湯清心心蓮子飲滋腎丸六味丸加昧八昧九等劑毫無見效現今調治己久病勢不減此屬何經而何法以治之乎（問）</p>
<p>凡人皆有痘疹痘瘡伏於腎毒疹伏於肺皆感大地邪陽火旺之氣而發出來麻疹之後即有淋症其肺毒未解明矣夫物類有肺者有尿無肺者無尿膀胱之氣與肺氣相關也據說所治之法似是似非故反覆纏綿愈醫而愈重也向後若遇此症須從病源著想為要（答）</p>
<p>男子二旬余患泄痢症日久不愈似泄非泄似痢非痢日三五行糞色黃赤小便紅澀右脅下結塊飲食少進而色黑瘦肌肉日削舌色帶紅六脈沉細帶數即用六君子湯錢氏白朮散加山藥扁豆黃連木香白芍青皮內金等類而不見效又朝則參苓朮散補中益氣晚則六味合四神丸兼服之而無驗（問）</p>
<p>痢症古今未有定論靈樞素問謂之腸癖亦曰滯下仲景以嘔吐噦下利列為一門其所論下利皆是傷寒論中厥陰之症厥與利並言厥而且利為虛寒之極所以反能食者死反熱者不死而論痢症則能食者不死發熱者死內經有症無方故後人議論紛紜竟無法可守自喻昌創立三法一曰逆流挽舟一曰通因通用一曰急開支河理極通徹法亦詳明獨開千古未傳之秘可謂有功於醫者大而遠矣今人於痢疾初起未能求其病源病雖稍瘥而似泄非泄似痢非痢遷延日久正氣不至日虛肌肉不至日削者鮮矣夫痢疾日久其內未有不虛者虛而補之誠為耍也但亦宜參以活法或十分之中七分用破三分用補積漸加滅至於七八分用補一二分用破耍使餘邪悉去元氣全復則永無後患矣（答）</p>
<p>男子歲已三旬偶作惡塞發熱之症頭項強痛骨節疼痛醫者即進發汗之劑前症稍愈只有骨節疼痛仍然不愈三四日後發寒熱遍身麻木頭面胸背小腫發班紅紫不疼不癢醫者認為癲風用荊防販毒散加連翹而不效其寒熱或一二日一發或三四日一發其骨節仍痛屈伸艱難又服防風通聖散消風清燥湯黃連消毒飲等劑外用擦洗等方並無見效後腹脹面目浮腫飲食不進精神不支而斃此不知何方治之乎（問）</p>
<p>按惡寒發熱初在太陽之經有風傷衛寒傷營之別開手用藥或富用桂枝湯或富用麻黃湯最宜詳慎若用不當則轉變憮窮至於寒熱再發以及發斑紅紫等症明是邪氣流於血分此時若用犀角地黃湯清其血熱審其表症重者則加解散之藥里症重者則加攻下之藥亦有可愈者乃認為癲風雖用敗毒通聖等劑總不中竅以致正氣日虛脾胃日虛精神不支而斃矣（答）</p>
<p>男於四十多歲十年以前偶染楊梅瘡厥後結毒屢起當即延醫調治其法用四脈靈丹調搽且或服湯藥或服五虎丹或貼膏藥又屢以輕粉雜會豚肉烹食忽左腳浮腫腳指邊破開膿血流出皮肉腐爛其臭不可聞雖經用解毒生肌之藥而不瘥夫所以致腫者屢食輕粉豚肉而使然乎抑餘毒滯結而不解之所致乎何方治之乎（問）</p>
<p>接楊梅之瘡其毒多在於腎腎主骨所伏甚深經用諸藥未愈者餘毒未去故也其後屢用輕粉豚肉而食以致左腳指邊腐爛臭不可聞是亦有故查輕粉本水銀所作其性輕揚燥烈走而不守若以治楊梅瘡毒能劫去風痰濕熱然毒氣竄入經絡血液耗亡筋失所養其害有不可勝言也（答）</p>
<p>男子歲已二十元氣素弱兩耳作聾遍身癢瘡髀股之間生瘡流膿溯其病源據說生下之時其母臨盆難產莫非此時損傷兒體及到周歲頭臉始生小瘡兼以耳里生瘡流出濃水到八九歲頭臉雖已痊身體尚生疥瘡現今有時稍好不能全痊是系胎元灼毒乎抑有生之後所致乎請質高明且何方以治之（問）</p>
<p>凡男子結胎之時先生兩腎後漸生心肝脾肺胎元之毒所伏最深故有生之後遍身癢瘡積年累月不能遽愈者有之亦有小小孩童質薄肌弱一經風毒入內流遍骨節遂至不能遽愈者總宜清火解毒為耍（答）</p>
<p>敝國俗醫見有傷寒發熱譫語妄言即不論日數概用羊肉湯或有熱退而愈者或有熱熾而煩躁狂言竟至不救者不知此方可用乎且何經何候何方可以服之哉（問）</p>
<p>傷寒發熱譫語妄言用羊肉湯而不可救者此其常也同是一病亦有用羊肉湯而愈者是其體虛邪淺助其正氣而邪氣自出此法不可為訓（答）</p>
<p>婦人年四十餘生產已四五次稟賦素弱病疝多年時時發起妊娠已七八個月胎氣不弱腹疼腰痛時起時痊屢服安胎支飲持之一日疝氣發起腰腹俱疼胎動不安稍瘥行步未快喉痹亦發即用涼膈清熱之劑及吹通關散水硼散等劑未見其驗逐日漸劇咽喉腫痛痰涎盛壅舉動不安動則汗出其脈虛中挾實舌上通白小便如常大便不通六七日遂至咽塞食不下當此之時危在旦夕而非緩劑所及又要認為實症用白虎承氣等峻劇則恐素稟虛弱以致妨於胞胎進退兩難未知何方治人哉（問）</p>
<p>經曰任脈為病男於內結七疝婦人帶下瘕聚懷胎已長腹痛腰疼是癥瘕傷胎之時即疝氣發動之時治法當厥陰為主經又曰一陰一陽結謂之喉痹一陰厥陰也一陽少陽也喉痹之病與疝氣亦屬相通惟妊娠之際至於痰涎壅塞咽喉大便不能通達上下交急將如之何宜以大黃瀉心湯與四物湯兼用四物以保胎芩運大黃以降火亦急救之一法也然終須斟酌而行（答）</p>
<p>偏枯之症讀書皆云男子發右女子發左為順反此為逆予業師數年多療此症男子發左女於發右輕者半年重者一二年皆得全愈男子發右女子發左者雖有漸瘥或一年或兩三年之後必有再發終不可救茲參看驚風之症又云男子發左女子發右為順反此為逆夫遍枯驚風病症雖異而於營衛氣血則無二理其順逆相反何也乃遍枯之說不足憑乎抑別有他說乎（問）</p>
<p>凡人身有氣有血猶天地有陰陽也陽氣名為衛氣剛雜群動為受命養生之主其氣最剽悍內經所天氣無形而至剛者也然氣非血以維之則氣浮蕩而無歸陰氣名為營氣充經走絡為水穀之精液其氣最精專內經所謂地氣有形而至柔者也然血非氣以行之則血必凝滯而不運且衛氣日行二十五度夜行二十五度當其行陽以為寤也則兩邊齊出兩目齊開當其行陰而為寐也亦兩邊齊人故兩目齊合其出也一時分馳故手足五官之動並無先後其人也一時並收其手足五官之靜亦無光後可見衛氣是左右分布矣營氣出於中焦中焦生血化為兩種其從腹右注於衛此為血海其血靜而不動即天癸也其從左乳下從宗氣走於二十八脈者為營血此則動而不靜者也一呼行三寸一吸行三寸行度必左右交通是營血亦左右分布矣自東垣分左為血右為氣群醫宗之故男子發右女子發左為順反此為逆之說而不知中風之症是中於衛氣也仲師曰則傷衛此其明徵矣病左則不及於右病右則不及於左此偏枯之症所由成也（答）</p>
<p>傷寒論云傷寒脈浮滑此表有熱里有寒白虎湯主之按浮為熱在表滑為熱在裡見此脈者便知表裡俱有熱本論何以曰表有熱里有寒乎已謂有寒則必宜用四逆湯附子湯等劑以溫裡寒裡氣得溫則表熱不待治而自伏也必矣何用白虎湯主之乎（問）</p>
<p>傷寒一書所言之熱症極多藥之極涼者亦多而其論注以傷寒名者謂其中有熱症皆由寒化熱也此條傷寒脈浮滑表有熱里有寒白虎湯主之謂其表有風邪而壯熱里有寒邪而化熱亦當兩解表裡之熱故以白虎湯主之此各家之註解也王三陽云經文寒字當邪字解亦熱也其說甚是若是真寒非白虎湯症矣（答）</p>
<p>男子十五六歲染患痙病頸項強急頭搖口噤背間反張且攣而疼不能回顧身熱無汗六脈緊數即用葛根湯如聖飲前症稍緩只其背疼漸甚累及腰間臥不安席反惻不易身熱微汁小便短少大便不通又用逍遙散加澤瀉檳榔子桂枝延胡索小茴香等婁而不見效第二大小腹連腰疼痛不禁用手按之有形如臂其疼起自小腹上衝心下甚則無心形跡又用金匱腎氣丸加延胡索吳茱萸參附理陰煎加茯苓及羊肉湯而無甚效（問）</p>
<p>此症是由痙病而起變為奔豚者也太陽病發熱無汗反惡寒者名為剛痙病身熱足寒頸項強急惡寒時頭熱面赤目吮赤獨頭面搖卒口噤背反張者痙病也據傷寒論所言皆屬傷陽之病也故用葛根等方亦能稍緩但稍解而未盡解故背疼腰痛諸病俱在按靈樞云足太陽之脈起於目內皆上額交巔其支者從巔至耳上角其直者從巔入絡腦還出別下項循肩膊內挾脊抵腰中入循膂絡腎屬膀胱此時若仍太陽著想斟酌用方則痙病可以全愈矣茲因太陽之邪未解鬱結於內遂至小腹連腰疼痛難禁而有形如臂成為奔豚之象按仲師云奔豚病從少腹起上衝咽喉發作欲死復還止恰與汝所言之症相符症既相符自非腎氣丸等藥所能治也宜從痙病為始奔豚病為終兩條合想而又細玩其脈用方始有緒也（答）</p>
<p>妊娠二三個月小腹結塊逆不止惡食不止惡食擇食與經閉症尤難辨別內經金匱千金等書雖有妊娠之脈症猶未易候別有易辨之症乎（問）</p>
<p>金匱云婦人得平脈陰脈弱小無寒熱嘔不能食名妊娠於法六十日當有此症又阻經之條云審脈陰陽虛實弦緊脈之所辨在此也至嘔吐不止妊娠與阻經皆有而小腹結塊妊娠二三月尚未有此形而阻經或有之（答）</p>
<p>婦人稟受盛壯氣血充足皮膚肥嫩只有心下常患留飲每遇受胎必為水氣所害先以腳脛腫趺陽脹嗣又腰腹浮腫小水或短澀或少通飲食少舊舉動如常如此已五六次節經將安胎飲紫蘇和氣散或導水茯苓湯分心氣飲五苓散腎氣丸束胎丸千金鯉魚湯等劑隨宜加減用之無效驗半月之後胎氣少動及到滿月雖已平產然因其胎生長於水濕之中生子渾身灰白而不可救不知何方預驅水氣受孕後又保胎元全得平產乎（問）</p>
<p>凡婦人得胎之後下實上必虛脾胃虛必至水飲不化況其人素患留飲乎以金匱枳朮丸緩緩吞之可也（答）</p>
<p>孕婦九個月一日失腳跌僕日後發熱惡寒右腿疼痛累及腰背反側艱難胎動不安心煩口渴小便短少擬用安胎飲小水漸通至三天後腹痛下血胎未下墜漿水時行苦急難耐自己催云速宜墜胎保身媼婆欲以手去撐下予診面色白而不赤舌色常而不青脈虛弱精神倦想是死胎卻非死胎想是正胎亦非正胎均未可定竊思年已四旬元氣不壯產歷六七次血氣不充俱宜補元氣助氣血隨其生產之自然方為最好即著家人禁戒暄鬧靜其心神既而安胎飲加倍人參地黃頻服數服方得精神稍定自然生產其子不能保全書曰何以知死胎曰面赤舌青母活子死麵青舌赤子活母死予據此法觀之死胎正胎難以分別此何症為的宗哉（問）</p>
<p>面赤舌青母活子死是謂胎已死死久濁氣薰蒸於上也據說所治之症是其胎將死而未死及至生產又經一番勞動其胎遂不能保全矣（答）</p>
<p>妊娠八九個月一日睡熟聞雷驚醒手足搐搦牙關緊閉言語不通飲食不下予照子癇之例施治無效竟至第二天而死如此者三四人豈可束手坐視其斃哉不知河法以治之（問）</p>
<p>雷者天地之剛德所以發動萬物使未生者即生已生即長也故建卯之月雷始發聲建酉之月雷即收聲予揣聞雷變症之人必有風寒暑濕燥火六氣之奇毒早潛代於藏府之中初緣胎氣所壓不見其病聞雷驚醒則氣機一動不能勒製得往故其勢至猛其凶至暴也（答）</p>
<p>婦人年四十餘歲脅下有塊心下有留飲胃脘連背疼痛或吐痰沫痛則飲食不入止則飲食能進六脈沉而細尋其所因十餘年前食餅物飲冷茶而腹痛嘔吐二三年間時作時止會施食積之方得平愈近年從二三個月前舊病又作酌用大健脾湯養胃湯潰堅湯平胃散等方亦得稍愈然或五六日或有十日其病又作如此數月竟致身體面目發黃只有瓜甲不黃至於脅下之塊未解然胃脘之痛全已止息改用茵陳散茯苓滲濕湯茵陳五苓散加減胃苓湯加味益氣湯等方尚無效驗如此五六人調治無驗書云身體面目共黃只指甲不黃名為黃病不知黃疸黃病有何分別而治法奈何哉（問）</p>
<p>黃癉之病載在金匱甚詳仲師曰心下懊憹不熱不能食時欲吐名曰酒勞癉額上黑微汗出手足中熱薄暮即發膀胱急小便自利名曰女勞癉腹如水狀不治陽明病脈遲食難用飽飽則發煩頭眩小便必難欲作谷癉雖下之腹滿如故所以然者脈遲故也金匱持出三條為癉病之綱而又反復辨論條條發明可謂精且詳矣後人不知其中之奧義未能理會殊可慨也凡人之身脾胃居於中脾之土體陰而用則陽胃之土體陽而用則陰兩者同和則不剛不柔胄納穀食通調水逍大注百脈相得益彰其用大矣惟七情飢飽房勞以致內傷則脾胃之陰陽不利脾偏於陰無胃之陽以濟之如造化有冬無夏獨聚其寒而腹滿胃偏於陽無脾之陰以濟之如造化有夏無冬獨聚其熱而消穀脾胃不利則水穀之精華悉變為穢濁矣濁氣山胃熱而流於膀胱膀胱受其熱氣化不行反外蒸而發黃色由脾寒而下流於腎腎受其寒水藏不固協土色而為黃色蓋飲食過度傷脾醇酒厚味傷胃房勞傷腎至腹滿而有水聲土已敗矣故難治此黃癉之病所由來也據說脅下有塊心下有留飲等等以食積之治治之已見平愈其後舊病復作或補或攻稍減而又發竟至身體面目發黃只有指甲不黃又用茵陳等湯亦不見效遂疑黃癉與黃病有別其實則一也惟深求金匱所言者條條體認則辨症能明而治法自能得矣（答）</p>
<p>小兒初生丹毒已發者皆殺未過二十日之小狗水煎而飲之以解其毒更以其患處針刺血將其狗皮擦之雖丹毒未發者亦飲其湯世俗以為良方然丹毒已發者飲之或有將愈者或有速死者且毒未發者飲之或有無恙者或有吐瀉腹脹發搐而死者蓋丹毒是起於胎熱狗性亦溫胃壯陽此似不宜乃世俗以為良方且或有待愈者不能考究其所以不知此方可用乎（問）</p>
<p>治丹毒而用小狗原不相宜間有體虛者飲之激幸而安若毒盛其火必盛飲之安得不壞乎（答）</p>
<p>小兒二歲發熱兩脈數大呼吸急速如馬鼻之開合即認馬鼻風用五虎湯無效不知其症將何以治之（問）</p>
<p>小兒發熱而喘痰嗚如馬鼻風之狀風寒暑濕燥火六氣所感皆能為此須小心細認非一方所能總治也（答）</p>
<p>女子現年五歲兩脛痿弱有時自腫有時自消行步不便言語遲緩身體肥厚飲食能進別無病症想是稟賦不足氣血不充之所致也予宗五軟之例與補氣血強筋骨之藥服之尚未見效（問）</p>
<p>凡小兒仞長有長肉長骨之別長骨者肉瘦而骨強故行步日捷長肉者骨弱而肉肥故行步不便此女年五歲飲食能進身體肥厚而兩脛痿弱是遍於長肉而不長骨也兩脛時腫時消是濕氣盛而關節不利也宜漸去其濕濕去而腫永消關節能流利在於補而不專在於補（答）</p>
<p>小兒染患疳積發熱惡寒有時瀉利是時以消疳飲四君子湯肥兒丸六神散等劑無效遂致脾胃日虛身體黃瘦而不得愈此症何法以治之乎（問）</p>
<p>凡人十五歲以內謂之疳十五歲以外謂之勞疳與勞固相似也怛小兒無七情之病耳其治法用藥須隨症隨時辨認非一言所能盡也（答）</p>
<p>小兒七歲發痘壯熱不退六脈洪大五六天忽然吐血即用犀角地黃湯等劑服之尚無其驗痘不起頂妄言譫語又改用保元湯羊肉湯並不見痊痘色灰白陷凹不知何方以治之（問）</p>
<p>痘毒伏於腎此不易之定論也其發必有所感感天地邪陽火旺之氣而發其症尚易治感天地瘟疫之氣而發最為難治全總部痘書有形有色有圖最宜細玩據說吐血譫語等症是屬瘟痘無疑十中難存一二（答）</p>
<p>男兒生下四個月傳染瘟疫驚風發搐其症危緊卻用抱龍丸稍瘥嗣後手腳不遂至三西歲漸習行步十二歲春又患麻疹日久始愈手足比前十分不好其父母著人提攜戲遊中庭自己慢慢行步一遇他兒擠擾他即跌倒不起雖系小階亦不能越現今歲已十四五身體不長百般藥治尚無其效不知何經何病且何藥治之乎（問）</p>
<p>據說男兒才生四個月傳染瘟疫驚風發搐用抱龍丸瘥後手腳不遂至四歲才習行步十二出疹後手腳十分不遂小階亦不能越現今十五歲身體不長醫藥無效等因予揣此症其失治必在傳染瘟疫之時危症已愈只餘邪伏於筋骨之間若出疹時能盡伸其邪氣悉發其餘毒亦可以變換身體今身體不能長大是生髮之機不旺也蓋肝主筋腎主骨筋骨不長身體何由而長耶今欲大補筋骨恐餘邪未清欲力去其餘邪又恐氣血虛弱宜細察脈症病形一半去邪一半扶正為妥至於驚風二字小兒科本有此名喻嘉言張隱奄二先生深斥其非後當與爾細說小兒之科最屬難稱好手何也凡為醫者總不外望聞問切四字小兒不能言症即稍長能言症亦不能清楚是論症不足恃也大人以四至為平脈小兒以七八至為平脈是脈不足憑也惟發熱不發熱可捫而知有惡寒無惡寒則不可知也惟細觀食指之紋色面部之形容並細問從旁撫養之人非此則無從下手矣小兒陽常有餘陰常不足最易生熱熱邪留而不去則生痰生風生驚是熱痰風驚四字則常有也後人以驚風立論以其頭搖手動也而曰抽掣似其率口噤腳攣急目斜心亂也而曰搐搦以其背強脊反也曰角弓反張每用金石重墜之藥以致外邪深入無路可出真為可恨孰知小兒最易感寒初入太陽之經早已身強多汗筋脈舉動人事昏沈時醫不知用解散之藥而以驚風名之夫驚風之症即剛痙柔痙之症也宜從仲師之法斟酌而用其方則得矣（答）</p>
<p>小兒十二三風咯血四五日精神仍壯飲食能進遊行如常並無他患百藥無效俗醫用烏雞一隻綠毛海帶菜一把紫蘇一把水草莖一把生薑一把煎服全愈不知何病哉俗醫云吐血咯血咳血唾血等症概用此方多得效驗愚想血症多熱難性溫補生薑莖草紫蘇皆辛溫之品海菜亦非止血之物乃如此得效者其故何哉（問）</p>
<p>內經雲氣血喜溫而惡寒寒則停而不流溫則消而去之故血症之方用溫藥者十有其七況小兒無七情之傷其咯血多因外感故紫蘇生薑亦可得愈經又云不遠熱則熱至血溢血溫之症即是咯血屬熱者也故論症不可執一定法（答）</p>
<p>小兒七八歲先患蛔蟲之症愈後背間第五六椎骨腫起作疼內服松蕊丹枳殼丸外用熨藥方更服海蛇靳蛇肉等方其腫雖未減其疼得稍愈起居行步逐漸不難誰知一旦其骨愈大愈疼起居艱難行步不便即服八味丸加鹿茸龜板外用熨法龜尿等類無效現今治已經年尚覺往往而劇不知何法治之耶（問）</p>
<p>蛔蟲本風木厥陰所化其症屬於厥陰背間脊骨屬於太陽宜以厥陰為本太陽為標兩經合想而用藥用方自有頭緒（答）</p>
<p>小兒三四歲胸間忽腫到第二天通身背腹連結數塊皮色不變其腫小不大按之如包膿漉漉有聲更兼處處紫黑恰如灸跡不可指數六脈微弱面色痿黃形體削瘦四肢微冷微汗元氣幾絕予見間其故其母曰半月以前偶有蛔蟲之患會服土木佳煎湯不意忽然變作此症是時予因有別事不暇細診只據其脈想是過服土木佳煎湯所致不如先補救其將消之元氣而後施治即用補中益氣湯加附子肉桂炮姜而無效不知何症何方以治之也（問）</p>
<p>據云脹滿腫結包膿之症必有風痰濕熱之氣流入血分故發無定處其外現出紫黑之色三四歲小兒形質尚未結實水能當此時毒故四肢微冷微汗元陽將絕即用補中益氣加姜附肉桂先救其將絕之元氣固屬有見但時毒未去其病總不能愈也（答）</p>
