<header data-type="book">
<h1>錢氏小兒直訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>錢乙</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd>日本承應三年（1654）刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=980ee5f8c838454b92b6a3a1f916f341fDcyNDcw0&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>脈法</h2>
<p>脈弦急氣不和，脈沉緩傷食，脈促結驚虛，脈浮為風，脈沉細為寒，脈亂不治。</p>
<p>薛按：脈者，人身之造化。病機之先見，用藥之準繩，不可不先明諸心者也。《全幼心鑑》云：小兒一歲以前，看虎口食指寅卯辰三關，以驗其病。脈紋從寅關起不至卯關者易治；若連卯關者難治；若寅侵卯卯侵過辰者，十不救一。其脈紋見有五色。如因驚必青，瀉痢色紫，當以類而推之。一歲後則可用一指轉側，辨其三部。脈弦急浮沉，四五歲後脈七八至而細數者為平。九至者傷，十至者困，六至五至者為虛為寒。弦緊者為風癇，弦急為客忤。其變蒸者脈必散亂。骨間有熱，脈則沉數。若浮而不調，為鬼祟浮大。而數為風熱，伏結為物聚，微細為疳積，為腹痛，浮而洪為有蠱，浮而遲為胃寒。此論脈之大要耳。然小兒血氣未實，驚則氣散，氣散則脈亂矣。又當參以三部五脈。三部者，乃看面上氣色，虎口脈紋，寸口一指脈。五脈者，上按額前，下診太衝，並前三部，謂之五脈也。治法雖分虛實，然實者病氣實而形氣虛也，虛者形氣病氣俱虛也。經云：真氣奪則虛，邪氣勝則實。又云：虛則補其母，實則瀉其子。東垣先生云：形病俱實，當瀉之。形病俱虛，當補之。（詳見後圖下）</p>

<h2>面部症</h2>
<p>左腮為肝，右腮為肺，額上為心，鼻為脾，頦為腎。若色赤者熱也，宜隨證治之。</p>
<p>薛按：左腮屬肝，其色青者為順，白者為逆。若色赤主肝經風熱，發熱拘急。青黑主驚風，腹痛。淡赤主潮熱，痰嗽。右腮屬肺，其色白者為順，赤者為逆。若赤色甚者，主咳嗽喘急，悶亂飲水。傳於腎，則小便赤澀，或淋閉不通。額上屬心，其色赤者為順，黑者為逆。若青黑主驚風，腹痛瘛瘲，啼哭。微黃主盜汗，頭髮乾燥，驚疳，骨熱。鼻屬脾，其色黃者為順，青者為逆。若色赤，主脾經虛熱，飲食少思。深黃主小便秘，而鼻燥衄血。頦屬腎，其色黑者為順，黃者為逆。若色赤，主腎與膀胱有熱，而小便不通。</p>

<h2>目部症</h2>
<p>目內色赤者心實熱，導赤散。淡紅者心虛熱，生犀散。青者肝實熱，瀉青丸。淡青者肝虛熱，地黃丸。黃者脾實熱，瀉黃散。微黃者脾虛熱，益黃散。白而混者肺實熱，瀉白散。目無睛光者腎虛也，地黃丸主之。</p>
<p>薛按：目者五臟之精華。各有所主：白睛屬肺，黑睛屬肝，上下眼胞屬脾，紅脈屬心，瞳人屬腎。此五臟之正色也。然白睛本屬肺，而見紅色，此心克肺之賊邪也。見青色，此肝乘侮之微邪也。見黑色，此腎乘肺之虛邪也。見黃色，此脾乘肺之虛邪也。余仿此。</p>

<h2>五臟虛實寒熱</h2>
<p>心主驚，實則叫哭發熱，飲水而搐，虛則困臥而悸。○心熱則介而睡，或上竄咬牙者，導赤散主之。○心氣實而喜仰臥者，瀉心湯主之。</p>
<p>薛按：前症，若心小腸實熱，宜治以前藥。若心脾血虛，用五味異功散加當歸。若因心血不足，用秘旨安神丸。若肝心血燥，用柴胡梔子散。若因肝心血虛，用六味地黃丸。若因脾虛食鬱生痰，而驚悸不安者，宜用四君子以健脾，神麯、麥芽以消導，山梔、柴胡以清熱。如用前方，病氣雖去，前症仍作。急調補元氣，或反甚，急溫補元氣。凡此多因妊娠厚味，七情，或小兒乳哺失宜，或乳母飲食鬱怒所致。病氣既見，形氣已虛，必當推其所因，而以助胃壯氣為主，佐以治病之劑為善。余仿此。</p>
<p>肝主風，實則面青，目直叫哭，壯熱，項急，頓悶；虛則咬牙呵欠。○肝熱則手尋衣領，及亂捻物，瀉青丸主之。壯熱飲水，喘悶，瀉白散主之。</p>
<p>薛按：前症若肝木實熱生風而自病。肺金實熱而剋木者，宜用前二藥，以瀉其邪氣之實。若肝經風熱而木直等症者，用柴胡梔子散以清肝火。加味四物湯以養肝血。若腎虛而咬牙諸症者，用六君子湯以健脾土。六味地黃丸以滋腎水。苟不審其症之虛實，而妄用前藥，則虛虛之禍不能免矣。</p>
<p>肝有風則目連札，得心熱則發搐，或筋脈牽掣而直視。用瀉青丸以治肝，導赤散以清心。○肝熱則目赤，或兼青發搐者，亦用前二藥。風甚則身反張強直，用地黃丸以補腎，瀉青丸以治肝。</p>
<p>薛按：前症若肝經實熱而自病，宜瀉青丸。若肝經血燥而自病，用抑肝散。腎水虛，不能生肝者，宜用地黃丸。若脾土虛，不能培木者，宜用六君子湯。凡肝經既病，風火相搏，則肝木虧損。若不固根本，必變他症百出也。</p>
<p>脾主困，實則身熱引飲，用瀉黃散；虛則吐瀉生風，用異功散，可以解腹痛。口中氣冷，不思飲食，或吐清水，以益黃散溫補。脾虛下利，用調中丸。○呵欠多睡者，脾氣虛而欲發驚也。</p>
<p>薛按：前症若發熱作渴，喜冷飲食，或泄瀉色黃，睡不露睛，屬形病俱實，宜用瀉黃散疏導之。若發熱口乾，惡冷飲食，或泄瀉色白，睡而露睛，屬形病俱虛，宜用異功散調補之。若脾氣下陷者，補中益氣湯升補之。寒水侮土者，益黃散溫補之。肝木剋土者，六君柴胡平補之。若目睛微動，潮熱抽搐，吐瀉不食，宜用秘旨保脾湯。凡小兒諸病，先當調補脾胃，使根本堅固，則諸病自退。</p>
<p>愚治沈氏子吐瀉腹痛，手足並冷。余謂此脾土虛弱，寒水所侮，先用益黃散一劑，諸症頓愈。此寒水退而脾土虛弱也，用異功散少加木香，一劑；卻去木香，再劑而痊。</p>
<p>一小兒傷食發熱，吐瀉腹痛，欲服益黃散。余曰：內有丁香、良薑，非其所宜。前症乃脾胃受傷而無寒症。不信，仍服前藥，其痛益甚，二便不通，口舌糜爛而歿。</p>
<p>肺主喘，實則悶亂，氣急喘促，飲水；虛則哽氣出氣。○肺熱則手掐眉目鼻面，用甘桔湯主之。○肺盛復感冒風寒，則胸滿氣急，喘嗽上氣，先用瀉白散以清肺氣，後用大青膏以散風寒。○肺臟怯則唇白，用阿膠散補之。悶亂氣粗，喘促哽氣者難治，肺虛甚也。</p>
<p>薛按：前症若腠理不密，外邪所感而肺病者，用清肺丸。若脾胃氣虛，不能相生而肺病者，用六君子湯。若脾胃氣實，大腸不利而肺病者，用瀉黃散。若心火炎灼肺金而肺病者，用地黃丸。</p>
<p>腎主虛者，胎稟虛怯，神氣不足，目無睛光，面白顱解，此皆難育，雖育不壽。或更加色，欲變症百出，愈難救療。或目畏明。下竄者，蓋骨重而身縮也。咬牙者，腎水虛而不能制心火也。皆用地黃丸。</p>
<p>薛按：潔古先生云：下竄者，腎氣不足。兩足發熱，故不喜衣覆也。蓋臍以下，皆腎之所主，緣心氣下行於腎部也。所以宜用地黃丸，壯水制火而補腎。故凡此必待精血完固，而後嫁娶，庶可以免前患。精血篇云：男子精未滿而御女，以通其精，則五體有不滿之處，異日有難狀之疾。今小兒稟賦不足，豈有不本於此哉。（詳見精血篇）</p>

<h2>變蒸</h2>
<p>小兒在母腹中，乃生骨氣，五臟六腑成而未全。自生之後，即長骨脈，五臟六腑之神智也。變者，易也。自內而長，自下而上，又身熱。故以生之日後，三十二日一變蒸，即智意有異於前。何也？長生臟腑智意故也。何謂三十二日長骨添精神？人有三百六十五骨，除手足中四十五碎骨外，有三百二十數。自生下，骨一日十段而上之十日百段；而三十二日，計三百二十段為一遍，亦曰一蒸。骨之餘氣，一自腦分入齦中，作三十二齒。而齒牙不及三十二數者，由變不足其常也。或二十八日，即長二十八齒。已下仿此，但不過三十二之數也。凡一周遍，乃生虛熱諸病。如是十周，則小蒸畢也。計三百二十日生骨，氣乃全而未壯也。故云三十二日一變，生腎生志，六十四日再變，生膀胱，其發耳與骫冷。腎與膀胱俱主於水，水數一，故先變。生之九十六日三變，生心喜，一百二十八日四變，生小腸，其發汗出而微驚。心為火，火數二。一百六十日五變，生肝哭，一百九十二日六變，生膽，其發目閉而赤。肝主木，木數三。二百二十四日七變，生肺聲，二百五十六日八變，生大腸，其髮膚熱而汗，或不汗。肺者金，金數四。二百八十八日九變，生脾智，三百二十日十變，生胃，其發不食，腹痛而吐乳。此後乃齒生，能言知喜怒，故云始全也。太倉云：氣入四肢，長碎骨，於十變後六十四日，長其經脈，手受血故能持物，足受血故能行立也。經云：變且蒸謂蒸畢而足一歲之日也。師曰：不汗而熱者發其汗，大吐者微止，不可余治。是以小兒須變蒸。蛻齒者，如花之易苗。所謂不及三十二齒者，由變之不及，齒當與變日相合也，年壯而視齒方明。</p>
<p>薛按：小兒變者，變其情態；蒸者，蒸其血脈，故三十二日一變。每變畢則情態異常，《全嬰方論》云：變蒸者，以長氣血也。變者上氣，蒸者發熱也。輕則體熱虛驚，耳冷微汗，唇生白泡，三日可愈。重者寒熱脈亂，腹疼啼叫，不能乳食，食即吐哯，五日方愈。古方以黑散子、紫丸子主之。竊謂此症，小兒所不免者，雖勿藥可也。況前藥乃屬峻厲，非惟臟腑不能勝，抑且反傷氣血，慎之慎之。余嘗見一小兒，至二變發熱有痰，投以抱龍丸一粒，卒至不救。觀此可驗矣。若不熱不驚，略無症候而暗變者，蓋受胎氣壯實故也。</p>

<h2>五臟相勝症治</h2>
<p>肝臟病，秋見肝強勝肺而肺怯也，宜阿膠散以補肺，益黃散以補脾，瀉青丸以治肝。</p>
<p>薛按：潔古張先生云：肝勝肺則身熱發搐，喘促氣短，病見於申酉戌時。此受所制而不能勝，謂之真強。若心乘肝為實邪，壯熱而搐有力，利驚、涼驚二丸主之。肺乘肝為賊邪，呵欠而搐無力，以地黃丸補肝，以瀉白散治肺。肝乘脾為賊邪，多睡體重發搐，瀉青丸主之。腎乘肝為虛邪，憎寒呵欠而搐，羌活膏主之。大凡肝之得病，必先察其肺腎。然腎者肝之母，金者木之賊，非腎水不能相生，必肺金鬼邪來克。故其源在肺，先治其肺，攻其鬼也；其源在腎，先補其腎，滋其本也。然後，察其本臟之虛實而寒溫之。徐用誠、滑伯仁先生亦云然。</p>
<p>心臟病，冬見心強勝腎，甚則下竄不語，當以地黃丸補腎，以導赤散治心。</p>
<p>薛按：潔古云：若喘而壯熱，此肺乘心也，為微邪，用瀉白散。若風熱相搏，此肝乘心也，為虛，用大羌活湯下大青丸。吐瀉身熱，此脾乘心也，為實邪，用瀉黃散。若恐怖畏寒，腎乘心也，為賊邪，用安神丸。大凡心臟得病，必先調其肝腎，腎為心之鬼也，肝氣通則心氣和，肝氣衰則心氣乏。此心病先求其肝，清其源也。五臟既病，必傳其所勝。則腎之受邪，必傳於心，故先治其腎，逐其邪也。若肝腎平和，而心自病，然後察其虛實而治之。</p>
<p>肺病春見肺勝肝也，以瀉白散治肺。若目淡青，或目赤者，當發搐，為肝怯也，以地黃丸補肝。</p>
<p>薛按：潔古云：肺病喘嗽氣盛，見於寅卯辰時，當補肝瀉肺。若肺病久嗽，宜補脾清心。若心乘肺，為賊邪，熱而喘嗽，用地黃丸、導赤散、阿膠散。若肝乘肺，為微邪，惡風眩冒，昏憒，用羌活散。若腎乘肺，為實熱，憎寒咳嗽，清利，用百部丸。若脾乘肺，為虛邪，體重吐痰，泄瀉咳嗽，用人參白朮散。大凡肺之得病，必先察心脾二臟治之。若心火亢盛，上炎灼肺，而肺為病，宜先抑心氣。若肺氣不足，腠理不密，風邪所感，宜先補脾氣。若中焦痞實，大腸壅滯，熱氣上蒸，宜先理脾氣。若心脾平和，則治其本經。</p>
<p>腎病夏見，水勝火，腎乘心也，甚則悸動發搐，宣風散主之。</p>
<p>薛按：潔古云：心乘腎者，為微邪，發熱，不惡風寒，用桂枝丸。肺乘腎者，為虛邪，喘嗽，皮膚寒澀，用百部丸。肝乘肺者，為實邪，拘急發搐，身寒，用理中丸。脾乘腎者，為賊邪，體重泄瀉，惡寒，用理中丸。大抵五行之間，惟腎一臟，母盛而子反受邪。然物之性，有不可以一概論者，肺腎是也。何則？肺主氣，肺有熱，則熱得氣而上蒸，不能下生於腎，而腎受邪矣，此腎之病源於肺也。又有脾經之濕，相刑于腎者，法當解肺熱，去脾濕。若本經自病者，宜滋補之。</p>
<p>脾病見四傍，皆仿此治之。順者易治，逆者難治。脾怯當面目見黃。五臟相乘，隨症治之。</p>
<p>薛按：潔古云：凡脾之得疾，必先察其肝心二臟之虛實而治之。蓋肝者脾之賊，心者脾之母也。肝氣盛則賊邪勝，心氣虧則脾氣虛。故肝乘脾則風瀉而嘔，茯苓半夏湯主之。若心氣實而壯熱，體重泄瀉，羌活黃芩蒼朮甘草湯主之。若肺乘脾而咳嗽便秘，飲食如常者，檳榔大黃湯煎下葶藶丸。若腎乘脾而惡寒泄瀉，理中丸之類主之。竊謂五臟之症相乘，伏匿隱顯莫測，然病機不離五行生剋制化之理。況小兒未有七情，多因形體怯弱，血氣未全，故有五臟勝乘之病，更當調治其母。若專治其子，多致誤矣。</p>

<h2>急驚風症治</h2>
<p>小兒急驚，因聞大聲，或驚而發搐，搐止如故。此熱生於心，身熱面赤，引飲，口中氣熱，二便黃赤，甚則發搐。蓋熱盛生風，陽盛而陰虛也。宜以利驚丸，除其痰熱，不可用巴豆之藥。</p>
<p>薛按：《秘藏保嬰集》云：急驚之候，牙關緊急，壯熱涎湧，竄視反張，搐搦顫動，口中氣熱，頰赤唇紅，脈浮洪數者，此肝經血虛，火動生風。蓋風生則陰血愈散，陰火愈熾：火動則肺金愈虧，肝木愈盛，宜滋肝血養脾氣。若屢服祛風化痰，瀉火辛散之劑，便宜認作脾虛血損，急補脾土。若風火相搏，發熱抽搐，口瞤筋攣，痰盛者，用四物釣藤鉤，以生肝血清肝火，用四君子加當歸，以補脾土生肺金。若肝經血燥發熱。驚搐，目瞤筋攣，痰盛者，用六味丸以滋腎水，四君子以補脾土。若肺金克肝木，用六君子湯以實脾土，加芍藥、木香，以平肺金。若屢服驚藥，而脾胃虛寒者，須用六君子湯以補脾胃，丁香、木香以培元氣，否則必變慢驚。</p>
<p>愚治一小兒，因驚發熱，抽搐頓悶，咬牙作渴，飲冷，大便秘結，面色青赤，然印堂左腮赤甚。此心肝二經風熱相搏，乃形病俱實之症。先用瀉青丸料加炒黃連，煎服一劑，大便隨利，熱搐頓減。用抑青丸一服，諸症悉退，但面色痿黃，形氣倦怠，飲食少思。此病氣去而形氣虛也，用補中益氣湯，及地黃丸而安。</p>
<p>一小兒發熱，抽搐口禁，痰湧，此急驚風也。先用瀉青丸一服，六味丸二服，諸症頓退。又用小柴胡湯加芎、歸、山梔、釣藤鉤而安，繼以補中益氣湯而愈。</p>
<p>一小兒六歲，忽然發搐，目動咬牙，或睡中驚搐，痰涎湧盛。或用化痰祛風，面色青黃。此肝木剋制脾土，不能攝涎而上湧也。當滋腎水生肝血，則風自息而痰自消，用六味丸而愈。</p>
<p>一女子十二歲，善怒，睡中驚搐，遍身作癢，飲食少思，此肝火風熱，脾土受侮。用參朮柴苓湯，以清肝火、涼肝血、健脾胃而愈。</p>
<p>一個兒三歲，患急驚，面赤發熱，作渴飲冷。先君已用瀉青丸一服，熱去大半。翌早又自用前丸一服，即吐瀉發搐，面色赤白，手足指冷。余以為脾胃受傷，用六君子湯加羌、桂、升麻、柴胡，一劑頓安。前哲謂小兒易為虛實，攻伐之藥，中病即止，不可過劑。我先君蓋守此法</p>
<p>一小兒三歲，因驚抽搐，發熱痰盛，久用抱龍丸等藥，面色或赤或青。　此肝心二經血虛風熱，用六味丸滋養肝腎，佐以六君，加柴胡、升麻，調補脾胃而愈。</p>
<p>嘉興王舉人女七歲，因跌傷腿膝，兩臁腫潰，左腮色青，左關脈無。余意驚則氣散，而風熱鬱滯。先用四君子加升麻、柴胡、防風、釣藤，生血補肝而愈。</p>

<h2>慢驚風症治</h2>
<p>小兒慢驚，因病後或吐瀉，或藥餌，傷損脾胃，而肢體逆冷，口鼻氣微，手足瘛瘲，昏睡露睛。此脾虛生風，無陽之症也，溫白丸主之。</p>
<p>薛按：《保嬰集》云：急驚屢發，用直瀉則脾損陰消，而變為慢驚者，當補脾養血，佐以安心清肺制木之藥，最為切當。竊謂前症多因脾胃虧損，肝木所勝，但用五味異功散加當歸，佐以釣藤飲子，以補脾土平肝木，亦多得效。如不應，用六君加炮薑、木香，溫補脾土。更不應，急加附子以回陽。若用逐風驅痰之藥，反促其危也。每見小兒脾胃弱者，一病即成慢驚，不可泥為久病誤藥而後成也。《內經》云為慢脾風，言脾虛受病也，其意可見矣。</p>
<p>王氏子患吐瀉，或用藥下之，睡而露睛，瘛瘲身冷，此慢驚也。即用瓜蔞湯治之，而目開身溫，但二便不利。或用八正散，身復冷不食。即用益黃散、使君子丸，溫補脾胃。諸症悉愈。後又不語，用地黃丸以補腎，半月而愈。</p>
<p>愚治一小兒停食吐瀉，先用克滯之劑，更加咬牙發搐，面色青白，手足指冷，眉唇抽動。余以為脾胃虛弱，因藥復傷肝木所乘而成慢驚矣。遂用六君子加木香、柴胡、升麻二劑頓安。大凡傷食停滯，雖見發搐等症，且勿用藥。待宿食化盡，胃氣漸健而自愈。設若強與飲食，或誤用藥餌，不惟甚其所有，而且生其所無矣。</p>
<p>舉人余時正子，傷食發丹，服發表之劑，手足抽搐，服抱龍丸，口瞤痰盛。余謂脾胃虧損而變慢驚矣，用六君加附子，一劑而安，再劑而愈。</p>
<p>一小兒患抽搐，痰涎自流，或用驚風之藥益甚。視其面色黃白，余用六君子、補中益氣二湯而愈。</p>
<p>小兒初生壯熱吐哯，身體強直，手足抽掣，目反直視，是胎驚風症也。</p>
<p>薛按：前症多因娠婦忿怒驚恐，調攝乖常，或挾外邪，內傷於胎。蓋母有所觸，胎必感之。當用豬乳膏拭兒口中，或用惺惺散加漏蘆，令母煎服，使藥通乳中，兒病自愈矣。</p>

<h2>發搐症治</h2>
<p>驚癇發搐，男則目左視無聲，右視有聲，女則右視無聲，左視有聲。相勝故也，故有發時之症。</p>
<p>薛按：前症多因胎中受患，或乳母鬱怒傳兒，或小兒乳傷自病。其症吐乳面青。若痰實壅積，則壯熱面紅。當兼調治其母，切不可損其元氣。若欲驗逆順，男則握拳，拇指叉入食指中為順，於外為逆；女則叉入食指為逆，於外為順。仍參吮乳不能頰，以治其母。後仿此。</p>
<p>陳附馬子五歲，目直視而不欲食，或以為鬼祟，用符水噴之，反加發搐，此肝經實火之症也，用瀉青丸而愈。</p>
<p>愚治少參王陽湖孫，跌傷股骨，正體科接之，余視其面青而兼黃，口角微掣動。此肝木侮脾症也，且氣血精骨，皆資脾土而生，但壯脾氣，則所傷自愈。遂用六君子加釣藤鉤、當歸，服十餘劑，諸症悉愈。</p>
<p>李寺烝子三歲，病搐發而目右視，大叫哭。師曰：逆也，凡男目右視有聲，金木相戰故也，當瀉其強而補其弱。遂用瀉肺湯，肺病退。又用地黃丸補腎，用涼驚丸、瀉青丸瀉心肝而愈。此症男反女，故男易治於女也。假令女發搐目左視，肺之勝肝，又病在秋，即肺旺肝不能任，故哭叫，當大瀉其肺，然後治心續肝。所以言男目右視者，木反侮金，肝旺勝肺，當瀉其肝。若更病在春夏，金氣極盛，又當補其腎，慎勿瀉也。</p>
<p>愚治一小兒，兩目連札，手足發搐，頻服天麻防風丸之類，益甚，得飲食則稍愈。視其鼻準及左頰色青黃，此肝木製脾土，用六君子加升麻、柴胡、釣藤鉤，二劑而愈，又用補中益氣湯而安。</p>
<p>若寅卯辰時身體壯熱，目上視，手足動搖，口出熱涎，頸項勁強，此肝旺也，當補腎治肝，用地黃丸、瀉青丸主之。</p>
<p>薛按：前症若煩熱作渴，飲冷便結者，宜用瀉青丸。若發熱飲溫，大便不結者，宜用柴芍參苓散。若自汗盜汗，腎虛液不歸源也，用地黃丸。若服峻劑，或久病流涎，脾虛涎不歸源也，用六君子湯。所云肝旺者，乃肝虛而邪氣旺也，故先補其母，後瀉其子。一小兒寅卯時發熱，或兼搐有痰，服抱龍、瀉青二丸而愈。後復患，仍用前藥，以致咳嗽氣喘，不時發搐，面兼赤色，或青黃，或乳腫，或流涎。余謂咳嗽氣喘，脾肺氣虛也；不時發搐，木乘土也；面青赤黃，肝入心脾也；浮腫流涎，脾氣虛也。用益智丸以補心氣，補中益氣湯以養脾肺而愈。</p>
<p>若巳午未時發搐，心神驚悸，竄視睛赤，牙關緊急，口中流涎，手足動搖，此心旺也，以地黃丸補肝，導赤散、涼驚丸治心。</p>
<p>薛按：前症屬邪氣實而真氣虛，故用地黃丸。其流涎不止，為心火虛而脾土弱也，佐以六君子湯。</p>
<p>廣親七太尉病潮熱。師曰：七使將安，八使預防，明午驚搐。既而果然。遂用藥瀉心肝補腎水而愈。蓋見其坐石枕，目直視而腮赤，乃心肝俱熱，午時者心肝用事也。</p>
<p>愚治一小兒巳午時發熱，驚悸等症。發時形氣倦怠，面黃懶食，流涎飲湯。余以為心氣不足所致。不信，反服涼心藥，更加吐瀉，睡而露睛，幾至慢脾風。先用六君子加薑桂，佐以地黃丸而愈。</p>
<p>一小兒七歲，因驚久患搐熱，後午未時益甚，形氣倦怠，熱定飲湯。余謂心脾氣虛，朝用補中益氣湯加益智仁，夕用六君子加當歸、釣藤鉤而尋愈。後因飲食過多吐瀉，或用保和丸治之，加寒熱發搐。此脾土復傷，而肝木所侮。余用六君子、柴胡治之，寒熱止而飲食進。但巳午未時去後，用補中益氣湯加茯苓、半夏、釣藤鉤而愈。</p>
<p>若申酉戌時微搐而喘，目微斜，身似熱，睡而露睛，手足逆冷，大便淡黃，肺旺也，當用益黃散以補脾，導赤散以治心，瀉青丸以治肝。</p>
<p>薛按：前症屬脾土真寒，不能生肺氣而假熱，故宜益黃散以補肺金之母，如用六君、炮姜尤效驗。若手足不冷，屬虛弱，用五味異功散。木香具導赤散、瀉青丸。初病元氣未虛者，酌量用之。若人病元氣已虛者，必用六君子湯，秘吉安神、六味地黃二丸主之。</p>
<p>徐氏子三歲，肝肺發搐，身微熱，目微斜，露睛作喘，四肢逆冷，大便微黃。師曰：此肝實發搐也；肺熱金旺也：身溫肺虛也；目斜露睛，肝木相勝也；四肢逆冷，脾氣虛寒也。若脾肺虛而木乘土之症，當先用益黃散、阿膠散以補脾肺，後用瀉青丸、導赤散、涼驚丸以治心肝。如法而愈。</p>
<p>一小兒潮熱，自申酉時熱至子丑時方止，遍身似疥，大便秘結，小便赤澀，熱渴飲冷。此脾胃實熱，而傳肺大腸也。先用清涼飲四劑，結熱始通。又用四物加柴胡、黃連數劑，其瘡漸愈。彼欲速效，另用槐角丸之類，諸症益甚。遂請施院長治之，亦同余藥，惟加桃仁、赤芍二味，至百劑而愈。</p>
<p>一小兒先停滯飲食，服克伐之藥，致面色痿黃，體倦少食，申酉時潮熱。余欲用調補之藥，不信。更用清熱消導，益加泄瀉。余用六君子數劑，又用補中益氣湯而愈。</p>
<p>一小兒酉戌時熱，面赤腹中作痛，按之益甚。服峻厲之劑，下五七次，發搐，吐痰，作渴，腹痛，按之卻不痛。此脾胃復傷而變症也，用七味白朮散、補中益氣湯，頓安。</p>
<p>一小兒飲食停滯，服消導丸藥。余曰：此因脾胃虛而食停滯也，當調補為善。已而申酉戌時潮熱，食少，作渴，大便不實。用四君子湯而飲食進，又用補中益氣湯而諸症愈。</p>
<p>若亥子丑時微搐，身體發熱，目睛緊斜，喉中有痰，大便白色，多睡不省，當用益黃散以補脾，導赤散、涼驚九以治心。</p>
<p>薛按：前症屬形病虛寒，宜用六君子加炮姜溫補脾土，用清心安神丸、六味丸調補心血。潔古張先生云：此症皆因大病後，脾胃虧損所致。其旨明矣。若非六君子湯以固本，必變慢脾風也。</p>
<p>朱監簿子五歲，夜半發熱，曉則如故。用涼藥解之，反多涎喜睡，大便青白，作渴引飲。師曰：此當健脾胃，則諸症退。遂用白朮散一兩，水煎恣飲。二劑稍愈，三劑渴止。涎消又投阿膠散，二服而安。</p>
<p>愚治一小兒，亥子丑時發熱，泄瀉，用益黃散而愈。後復發，服前藥，嗜臥露睛，作渴少食，大便頻黃。余謂肝勝脾虛，元氣下陷，用補中益氣湯佐以地黃丸而尋愈。</p>
<p>若傷風發搐，口中氣熱，呵欠頓悶，手足動搖，當以大青膏發散之。</p>
<p>薛按：潔古先生云：傷風發搐，當辨有汗無汗，用大青膏、小續命湯。竊謂前症，若口中氣熱，搐而有力，屬形病俱實，宜用大青膏以散風邪。若口氣不熱，搐而無力，屬形病俱虛，宜用異功散以補脾土，六味丸以滋肝木，釣藤飲以清肝火。若因風邪鬱熱，而變見諸症，當理肺經清風邪。若外邪既解而諸症不愈，當實脾土補肺金。若徑治其肺，恐脾氣復傷，諸症蜂起矣。</p>
<p>一小兒傷風，鼻塞流涕，服藥過重，發搐呵欠，頓悶汗出，氣喘，久不愈。其母因勞役發熱，余用補中益氣湯時，以五七滴與兒飲之，母子並愈。</p>
<p>一小兒傷風發搐，痰盛喘急。余謂此脾肺氣虛，腠理不密，而外邪所乘。用六君加柴胡、升麻、桑皮、杏仁，一劑痰喘悉退，又一劑去桑杏加釣藤鉤而安。乃用異功散，數劑後，不復發。此症若不補脾胃實腠理，專治痰邪。鮮有不誤。</p>
<p>若傷食後發搐，身溫多睡，或吐不思食者，宜先定搐。搐止用白餅子下之後，用安神丸主之。</p>
<p>薛按：前症若飲食停滯，嘔吐不食，腹脹便秘者，屬實熱，宜用白餅子下之。若下後搐熱益甚，吐嘔不食者，屬虛熱，用異功散補之。若脾胃既傷，肝木所勝，用六君加釣藤鉤以健脾氣平肝木。大凡飲食而不愈，但調補脾肺，則諸邪自退矣。</p>
<p>一小兒七歲，發熱驚悸，服祛風化痰藥，更惡寒，吐痰喘嗽，腹痛少食。又服抱龍丸，大便似痢，寒熱往來，殊類風症。先兄以為脾氣本傷，藥復損之，諸經無所資養而然也。用四君子湯，少用升麻、柴胡，以升補陽氣而愈。</p>
<p>一小兒傷食，發熱抽搐，嘔吐，氣喘痰嗽。屬脾肺氣虛，以六君子加炒黑黃連、山梔各二分，一劑而頓安。</p>
<p>一個兒三歲，停食吐瀉，或用克滯之劑，更咬牙發搐，面色青白，鼻準青而兼黑，手足指冷，眉唇抽動。此脾胃虛弱而肝木乘之，用六君子加木香、柴胡、升麻，二劑而頓安。</p>
<p>百日內發搐，真者不過兩三次，必死；假者頻發不死。真者內生驚癇。假者外傷風冷，血氣未實，不能勝任，故發搐，口中氣熱，用大青膏塗腮、浴體二法。</p>
<p>薛按：前症多因胎中受患，或乳母鬱怒傳兒，或兒脾傷自病，當固元氣為主，而兼調治。其母仍參吮乳不能類治之，復仿此。</p>
<p>李司戶孫，百日發搐，日三五次。或作胎驚治之，不應。即用大青膏、豆豉，並塗腮、浴體二法，三日而愈。蓋嬰兒血氣未實，不能勝外邪而發搐，故用浴體法。凡搐頻者，風在表，易治，宜發散；搐稀者，風在臟，難治，宜補脾。</p>
<p>愚治一小兒，百日內患抽搐，痰涎自流，用驚風藥益甚。視其面色黃白，仍用六君子、補中益氣二湯而愈。</p>
<p>一小兒面色青黑，或痿黃。審其母素有鬱怒所致，用加味逍遙散、加味歸脾湯治其母，其子亦愈。</p>
<p>一小兒月內發搐，鼻塞。余以為風邪所傷，以六君子加桔梗、細辛，子母俱服。更以蔥頭七莖，生薑一片細擂，攤帛上，兩掌護溫，貼子囟間，半晌鼻利搐止。</p>
<p>一小兒未兩月，發搐嘔乳，腹膨作瀉。余以為乳多傷脾胃，用五味異功散加漏蘆，母服之，子服數滴而尋愈。</p>

<h2>癲癇症治</h2>
<p>凡治五癇，皆隨臟治之。每臟各有一獸之形，並用五色丸治小病也。發而重者死，病甚者亦死。若反折上竄，其聲如犬，症屬肝也。若目瞪吐舌，其聲如羊，症屬心也。若目直腹痛，其聲如牛，症屬脾也。若驚跳反折手縱，其聲如雞，症屬肺也。若肢體如屍，口吐涎沫，其聲如豬，症屬腎也。</p>
<p>薛按：妊娠若遇驚恐，則必內應於胎。故一月足厥陰脈養，驚則肝受病。二月足少陽脈養，驚則膽受病。三月手少陰脈養，驚則心受病。四月名為離經。五月足太陰脈養，驚則脾受病。六月足陽明脈養，驚則胃受病。七月手太陰脈養，驚則肺受病。八月手陽明脈養，驚則大腸受病。九月足少陰脈養，驚則腎受病。是臟腑納氣于丹田，自肝至腎，十精滋養而生，此則胎中所致也。若既生之後，或驚怪所觸，或乳哺失節，或乳母飲食起居，六淫七情，臟氣不平，亦致是證。須察見症屬於何經，更別陰陽虛實，以調補脾胃為主。否則不時舉發，甚至不救。</p>
<p>愚治一老生子周歲，秋初暴冷，忽發搐似癇，搐過則氣息淹淹。此元氣虛弱所致，用補中益氣湯而安。</p>
<p>一小兒十歲，一小兒七歲，各有癇症，歲發二次。後因出痘，及飲食停滯，舉發頻數。並用六君子、補中益氣二湯而愈。</p>
<p>一小兒六歲，忽然發癇，目動咬牙，或睡中驚搐，口流痰沫，服化痰祛風之藥益甚。而面色兼青，乃屬肝木剋制脾土，而不能攝涎，故上湧也。當滋腎水生肝血，則風自息，痰自消矣。用六味丸而愈。</p>
<p>一小兒十三歲，因驚患癇，服硃砂丸之類而愈。後每發徹服前丸，不應。或謂風涎內積，服藥下之，發作日頻。恪服鎮驚等劑，益甚。余以為心脾二經，氣血虧損，而痰涎留滯。朝用補中益氣，夕用斷癇丹，漸愈。出痘瘡後，其癇復作，仍用補中益氣湯為主，佐以八珍湯，及蟬脫鉤藤飲而愈。</p>

<h2>附面部三指診候圖</h2>
<figure>
<img alt="附面部三指診候圖">
</figure>
<p>小兒半歲之間，有病以名中食三指。曲按額前眉上髮際之下，若三指俱熱，感受風邪，鼻塞氣粗；三指俱冷，感受風寒，臟冷吐瀉。若食中二指熱，上熱下冷，名中二指熱。夾驚之候，食指熱，胸隔氣滿，乳食不消。附</p>
<p>《小鏡訣》云：陰陽運合，男女成形，已分九竅四肢，乃生五臟六腑，部位各分，逆順難明。若憑寸口之浮沉，必乃橫亡。於孩子須明虎口，辨別三關，詳細用藥，必無差誤。未至三歲，看虎口三關。若脈見風關尚易治，交氣關則難治，交命關為死證。又當辨其色，如獸驚三關必，水驚三關必赤，人驚三關必黑。若紫色主瀉痢，黃色是雷驚。三關脈通度，乃極驚之症，必死。有紋或青或紅，如線直者，是母食傷脾。左右一樣者，是驚積齊發。紋有三條，主肺傷風痰，或齁䶎聲。青主傷寒及嗽。紅主泄瀉。有黑相兼，主下痢。紅多白痢。黑多赤痢。有紫，有兼。虎口脈亂，乃氣不和也。蓋脈紋見有五色，由其病甚。色能加變，至於純黑者，不可得而治矣。（附）</p>

<h2>五臟瘡疹證治</h2>
<p>小兒在胎，食五臟血穢，伏於命門。若遇天行時熱，或乳食所傷，或驚恐所觸，則其毒當出初起之候，面燥腮赤，目胞亦赤。呵欠頓悶，乍涼乍熱，咳嗽嚏噴，手足梢冷，驚悸多睡。宜究其何臟所發，察其何因所起，令乳母亦須節飲食，慎風寒。○五臟各有一症：肝臟水疱，色青而小。肺臟膿疱，色白而大。心臟癍色赤而小。脾臟疹小次癍，故色赤黃淺也。先發膿疱，後發疹子者順。先疹子，後癍子者順。反此為逆。惟腎無候，但見骫冷耳冷是也。若寒水來侮，故黑陷而耳骫反熱，為逆也。急用百祥丸、牛李膏各三服，不愈者死。○如發潮熱三日以上，出不甚多而熱不止者，未盡也。潮熱隨出，如早食潮熱不已，為水疱之類也。一發便出盡者，重瘡夾疹者，半輕半重也。出稀者輕，裡外微紅者輕。外黑裡赤者微重。外白里黑者大重也。瘡端里黑點如針者，勢最劇也。青乾紫陷，昏睡汗出，煩躁熱渴，腹脹啼喘，二便不通者，困也。有大熱，利小便，解熱毒。若紫黑干陷，或寒戰咬牙，或身黃腫紫者，急以百祥丸下之。復惡寒不已，身冷出汗，耳骫反熱者，死症也。此腎氣大旺，脾虛不能制故耳。下後身熱氣溫，飲水者，可治。以脾土勝腎，寒去而溫熱也。不黑者不可下，下則內虛歸腎。太抵瘡疹屬陽，在春夏為順，秋冬為逆。冬月腎旺盛寒，病多歸腎變黑。又當辨春膿疽，夏黑陷，秋癍子，冬疹子者，十活四五。黑者十難救一。○身熱煩渴，腹滿而喘，便澀面赤，悶亂大吐，此當利小便。不瘥者，宣風散下之。若能食，而痂頭焦起，或未焦而喘實，亦可下之。若五七日痂不焦，是內熱也，宣風散導之，生犀汁解之。○癍疹作搐為脾虛，而肝則乘，心火妄動。風熱相搏也，當用瓜蔞湯，瀉心肝補脾土。○瘡黑而忽便膿血，並痂皮者，乃脾氣實，腎邪退而病安也，及瀉而乳食不化者，脾虛不能制腎，故難治。</p>
<p>薛按：痘疹大要，與癰疽治法無異，宜辨表裡虛實寒熱。蓋表虛而用發表之劑，輕則癍爛，重則不能起發而死。裡實而用托裡之劑，輕則患痘毒，重則喘急，腹脹而死。裡虛而用疏導之劑，輕則難以貫膿結痂，重則能結靨落靨而死。治者可不慎哉！若臖赤發熱疼痛，作渴飲冷，便秘，此形氣病氣俱實也。雖在嚴冬，必用四順清涼飲，以救其陰。若黑陷不食，嘔吐泄瀉，寒戰咬牙，手足逆冷，此脾土虛敗，寒水所侮也。雖在盛暑，必用六君羌附，或十二味異功散，以回其陽。此《內經》舍時從症之法也。若起發遲，不紅活，不作膿，不結痂，或發熱作渴，飲食少思，此脾胃虛弱也，用參耆四聖散以補之。若雖起而色白，雖貫膿而不滿，雖結痂而不落，或癢塌作渴飲湯，腹脹不食，嘔吐泄瀉，此脾胃虛寒也，用十一味木香散以溫之。其在四五日之間死者，毒氣盛，真氣虛而不能起發也。六七日之間死者，元氣虛而不能貫膿也。旬日之外死者，邪氣去，脾胃敗，而元氣內脫也。治者但能決其死，而不知其死，必本於血氣虧損。苟能逆推其因，而豫為調補，豈斷無生理哉？蓋起發、貫膿、結痂三者，皆由脾胃榮養，不可妄投克伐之劑，以致其夭柱也。至於大人患此，治法迥異。昔丹溪嘗治一老人，初患痘，昏憒不知，亟用大補四十餘劑，遂出逗而愈。觀此可見。</p>
<p>陸親王大王病瘡疹，先用抱龍丸解之，彼另用藥下之，其疹稠密。余曰：瘡疹始出，未有他疹，但用平和之藥解之。如三日不出，或出而不快，宜微發之。更不出，當再發之。出而不多，脈平和，無他症者，瘡本稀少，不可更發。若瘡起發，能食者，大黃丸，下一二行。若初起就用下劑，則裡虛，瘡不能盡出，而稠密難治。至三日，其瘡黑陷，喜不寒戰，遂用百祥丸、牛李膏各一服，瘡復紅活而愈。蓋黑者歸腎也，腎旺勝脾，故脾虛寒戰，則難治。所用百祥丸瀉膀胱之邪，自不盛也。</p>
<p>五太尉因墜鞦韆，患急驚發搐，或用表散之藥不愈。此急驚，當先退其熱，以大黃丸、玉露散、惺惺丸，加牛黃龍麝解之，至三日肌膚尚熱。余曰：再二日不愈，必發斑瘡。已而果然。用必勝散，七日而愈。此乃初因誤散其表，內熱不止，而癍自生也。</p>
<p>十太尉瘡疹未出，呵欠頓悶，驚悸，乍涼乍熱，手足冷，面腮赤，咳嗽時嚏。此五臟症具也，以其別無他候，故未發出。若已出，則歸一臟也。用抱龍丸數服，瘡症出而諸症愈。（治見《校注痘疹》方）</p>

<h2>丹瘤</h2>
<p>丹瘤之症，因熱毒客於腠理，搏於氣血，發於皮膚，當以白玉散塗之。</p>
<p>薛按：前症或命門所稟，或風熱相搏，或頻浴熱湯，或頻著烘衣，或傷食發熱，或乳母膏粱厚味，七情鬱火，皆能致者。其赤暈遊走者，乃血隨風熱也。若稟胎毒，用化毒丹。風熱者，敗毒散。頻浴烘衣者，四物、連翹、山梔。飲食發熱者，四君、柴胡、神麯。母食厚味者，加味清胃散。母有鬱火者，加味逍遙散。俱加漏蘆，母子俱服。白玉散，其性大寒，能解熱毒。若毒發於四肢而輕淺者，宜用。若延及胸背脅腹者為重，須用活命飲。令人用力於各患處遍吮毒血，各聚於一處，急砭出之。若肚腹膨脹，二便不通，毒入內也，用大連翹飲，亦有生者。</p>
<p>愚治史少參孫，丙申正月，陰囊赤腫，余作胎毒治之而瘥。後患發熱、痰熱等症，診其母有鬱火血熱，用解鬱涼血之藥，子母俱服而愈。至六月初患吐瀉，小便赤澀，兩眼瞤動，投參朮之類不應。或以為慢驚。余視其寅卯關脈赤，此屬風熱，用柴胡清肝散加釣藤鉤、木賊草，一劑即愈。至丁酉正月，頸患熱毒，潰而膿出，感風發熱，翌日頭面黯腫如斗。急砭出黑血二盞許，隨用清熱花毒湯，腫退七八。翌日又砭各處，血不甚黑。仍用前藥，去牛蒡子，加熟地黃而愈。此症若砭緩，則血凝滯，或為破傷風而死。</p>
<p>一小兒患之，外勢雖輕，內苦便閉。此患在臟也，服大連翹飲，敷神功散而瘥。</p>
<p>一小兒臀患之，赤暈走徹，令人頻吮，便其毒各聚一處，乃砭出黑血，塗以加味神功散，時以金銀花、甘草節為末，人乳汁調服而愈。月餘後，兩足赤腫，仍治以前法而痊。數日後，兩足復赤，或用犀角解毒之類，乳食不進，肚腹膨脹。此復傷脾胃也，仍敷前藥，服補中益氣湯加茯苓而瘥。神功散甚效。但砭處微痛，用太乙丹亦效。</p>
<p>一小兒腿患之，神思如故，乳食如常。此毒發於肌表。余謂：宜砭泄其毒，不必服藥。不信，外敷寒涼，內服峻厲，致腹膨脹，乳食不進而歿。夫寒涼外傷脾氣，峻劑內傷生氣，不死何俟！</p>
<p>一小兒兩足常患，似丹毒而不臖發，飲水痰盛，兩頦赤色。先兄以為稟腎經虛火，用地黃一料，令母與子俱服而愈。</p>
<p>一小兒兩足生瘡疥，赤暈如丹，久而不愈，亦用地黃丸而痊。</p>
<p>一小兒腿如霞，遊走不定，先以麻油塗患處，砭出惡血，其毒即散，更用九味解毒散。一劑而安。</p>
<p>一小兒，因母酒後飲其乳，困睡不醒，遍身如丹瘤狀。余以為酒毒傳兒為患，令母子俱服葛根解酲湯而愈。</p>
<p>一女子，赤暈如霞，作癢發熱。此肝經血熱，用小柴胡加生地、連翹、丹皮而愈。凡女子天癸將至，婦人月經不調，被驚著惱，多有此症，亦治以前藥。</p>

<h2>傷風兼變症治</h2>
<p>傷風貪睡，口中氣熱，呵欠頓悶，用大青膏發散之。若飲冷不止，而善食者，用大黃丸微下之。余不可下也。○傷風手足冷者，脾臟怯也，當以益黃散溫脾胃，以大青膏散風邪。○傷風自利，脾臟虛怯也，亦用益黃散、大青膏。未瘥，用調中丸。有下症用大黃丸，後服溫驚丸。○傷風腹脹，或作喘，脾臟虛也，當先發散，仍補脾。○傷風兼肝則發搐，頓悶。兼心，則驚不安。兼肺，則咳嗽哽氣。兼脾，則困睡。兼腎，則目畏明。各隨補其母。○傷風多睡，能食引飲，吐瀉，大便色黃，此胃虛熱也，當先用白朮散以生津，後用大青膏以發散。○傷風吐味，瀉色青白，悶亂不渴，哽氣出氣，睡而露睛，先用益黃散，後用大青膏。○傷風或涼或熱，多睡氣粗，大便黃白，嘔乳不消，不時咳嗽，先用大青膏，後服益黃散。慎不可下。○傷風誤用下藥，而作渴飲水者，此胃亡津液而虛熱也，多用白朮散，熱渴自止。</p>
<p>薛按：大青膏乃表散之劑，必外邪蘊結於肺，而肺氣未虧損者，方可用之。大黃丸乃疏利之劑，其食痰積滯於胃，而胃氣尚充實者，乃可施之。況前症屬脾，肺氣虛腠理不密，外邪所乘，又當臨症制宜，必以固脾胃為主。若兼肢冷自利，腹脹喘嗽者，脾肺虛寒也，六君子加木香、升麻、桔梗。若兼驚悸痰甚，飲食少思，屬心脾臟虛也，四君加芎、歸、酸棗仁。若無肢體倦怠，喘嗽哽氣，脾肺氣虛也，六君、當歸、桔梗。若兼目畏明，白睛多，腎氣虛也，六味丸加五味、鹿茸。如未應，更用補中益氣湯加五味子、乾山藥以補腎。母若多睡，能乳，飲水吐瀉，大便色黃，脾氣虛而下陷也，補中益氣湯升補元氣。若吐沫瀉青而露睛，脾虛木所乘也，六君子加升麻、柴胡，調補脾氣。若乍涼乍熱，喘嗽氣粗，大便黃白，嘔乳不消，脾肺氣虛而有邪也，先用惺惺散，後用四君子湯。若誤用下藥而作渴者，脾胃之氣傷也，用白朮散，或六君子、補中益氣二湯補之。大凡前症，若病邪急而元氣無虧者，先用原方，或用輕清表散之劑。若元氣不足者，當如前法，固其元氣，則外邪自退。若因病久，或因服克伐之藥而未愈，或更加變證者，但調補脾胃，諸症自愈。其小兒傷風發熱，鼻塞，或痰壅發搐，多因乳母鼻吹囟門，但服惺惺膏，或用蔥頭三莖，細切擂爛，以紙寸余，攤蔥在上兩掌合蔥，待溫，貼於囟門，其邪即解。乃去其蔥，卻用緞絹寸余，塗以麵糊，仍貼囟門，永無傷風之患。</p>
<p>吳江史安卿子傷風，用表散化痰之藥，反痰盛咳嗽，肚腹膨脹，面色㿠白。此脾肺俱虛，用六君子加桔梗，一劑頓愈。至三日，前症又作，鼻流清涕，此復傷風寒也，仍用前藥，加桑皮、杏仁而愈。</p>
<p>史玄年子喘嗽，胸腹膨脹，泄瀉不食。此飲食傷脾土，而不能生肺金也，用六君子湯一劑，諸症頓愈。</p>
<p>史孔修子六歲，感冒咳嗽，發散過度，喘促不食，痰中有血。余曰：此成肺癰也。次日吐痰而兼膿。用桔梗湯而愈。後元氣未復，大便似痢，或以為痢，用五苓、黃連、枳實之類，痰喘目札，四肢抽搐。余曰：此脾敗而變慢脾風也。果歿。</p>

<h2>諸經發熱症治</h2>
<p>潮熱者，時間發熱，過時即退，來日依時而發。此欲發驚也。○壯熱者，常熱不已，甚則發驚癇也。○風熱者，身熱而口中氣熱，乃風邪外感也。○溫壯者，肢體微熱也。○發熱而不欲飲水者，胃氣虛熱也，用白朮散。發熱而飲水作渴，喜冷飲食者，胃氣實熱也，用瀉黃散。</p>
<p>薛按：《秘藏保嬰集》云：小兒潮熱，或壯熱不退，多是變蒸，乃五臟相勝，不必用藥。又多食積，鬱熱由中發外，見於肌表，只瀉其中，清陽明之熱，而表熱自除。不可認作外感，用小柴胡輕利等藥，重傷其內。又潮熱不退，恐是出痘，亦當審察，勿便用藥。竊謂發熱飲水者，熱在外也，又當以此辨之。其諸熱症，說見各類。</p>
<p>朱監簿子五歲，忽發熱，腮唇色赤，煩躁飲熱。或用牛黃丸，及一物瀉心湯，加倦怠不食，便利黃沫，師謂心經虛熱而誤下之也，先用白朮散以生胃中津液，後用生犀散以治心經虛熱，再與胡黃連而愈。</p>
<p>鄭人齊姓者子，忽臟熱症，自用青金膏三服，連瀉五行，加困睡發驚。再一服，又瀉二行，益加口乾，身熱虛羸。師先煎白朮散，與時時服之，後用香瓜丸而愈。</p>
<p>曹宣德子三歲，面黃，時發寒熱，不食飲水。或用牛黃、麝香二丸不愈，用止渴乾葛散反吐。師謂食伏於胃脘，先以白餅子下之，又以消積丸磨之而愈。</p>
<p>愚治一小兒，先壯熱便秘，服清涼飲之類愈。而復作，服地骨皮散，而潮熱不已，服四物、芩、連之類，不時而熱甚。余曰：不時而熱，或晝見夜伏，夜見晝伏，是虛火也，當滋化源。不信，仍服寒藥，愈甚。余夕用六味丸加五味子，朝用補中益氣加山藥、山茱萸而瘥。</p>
<p>一小兒五歲，發熱作渴，右腮鼻準微赤，或與冷水涼藥，即時嘔吐。余曰：右腮微赤，肺經虛熱也。鼻準微赤，胃經虛熱也。此胃虛不能生肺耳。先用四君子加升麻三分，一劑而不吐。又用白朮散，二劑而不渴。再用四君子，四劑而頓安。</p>
<p>一小兒發熱作渴，用瀉黃散，大便重墜，口角流涎，仍欲瀉火。余曰：鼻準青白，脾虛肝木所侮也。口角流涎，胃氣不能攝涎也。大便重墜，脾氣不能升也。不信，另服涼藥，果眉唇微動，四肢微抽。余曰，此元氣虛極而變慢脾風也。用六君加炮薑、當歸、木香、釣藤鉤，二劑益甚。彼欲更劑。余曰：此藥力不及也，設藥不對其症，禍在反掌。仍以前藥加炮附子一片，服之即安。乃去附子，又二劑而愈。</p>

<h1>卷二</h1>

<h2>吐瀉兼變症治</h2>
<p>五月二十五日已後，吐瀉壯熱，此臟腑中九分熱也。傷熱乳食，吐而不消，瀉色深黃，玉露散主之。○六月十五日已後，吐瀉身溫，臟腑六分冷也。嘔吐，乳食不消，瀉色黃白，口乾作渴者，食前少服益黃散，食後多服玉露散。○七月七日已後，吐瀉身涼，三分熱七分冷也。不乳多睡，悶亂，哽氣出氣，睡臥露睛，唇白多噦，亦用益黃、玉露二散主之。○八月十五日已後，吐瀉身冷，不乳乾噦，瀉青褐水，無陽也，當用益黃散。吐瀉，乳食不化，時時下痢，肌肉消瘦，此脾胃虛寒也，用木香丸，夏月不可服。如有冷症，則少服之。其身溫壯熱，或瀉痢紅黃赤黑，此脾胃實熱也，用黃連丸，冬月不可服。如有熱症，則少服之。</p>
<p>薛按：前法即《內經》用寒遠寒，用熱遠熱之本旨。又云有假者反之，雖違其時，以從其症。蓋胃傷則嘔吐，脾傷則泄瀉，脾胃俱傷則吐瀉並作。前症若傷辛熱，停滯嘔吐，或大便下痢者，用六君子加黃連、吳茱萸、木香。若停滯已去，泄瀉不已，用四君子加肉蔻、骨脂。若傷生冷，腹痛，下痢青白，用六君子加砂仁、木香、炮姜。若傷魚肉等物，用六君子加山楂、砂仁。若瀉紅黃赤黑，諸臟皆熱也，先用香連丸，後用補中益氣湯送香連丸。瀉痢青白，乳食不化者，用人參理中丸。若吐瀉昏睡而露睛者，用五味異功散。睡而不露睛者，用玉露散。若吐而手足俱熱，或喜冷飲食，或睡不露睛者，用瀉黃散。或手足冷，或惡冷飲食，或睡而露睛者，用六君子加木香。然木香、黃連二丸，雖能攻克病邪，不無傷損脾胃，治者審之。</p>
<p>五太尉，患吐瀉米穀不化。時六月，或用溫補之藥，更加嘔吐。此熱傷胃也，當用石膏湯解之。不信，又服丁香散。師曰：三日外必腹滿身熱，飲水吐逆。果如所言。遂用白虎湯三服，後以白餅子下之，又與白虎、石膏二湯，各一服而愈。</p>
<p>七太尉，七月病吐瀉不食，昏睡覺而悶亂哽氣，乾嘔不渴，眾作驚治。師以為脾虛。先用使君子丸以補脾，後用石膏湯以退熱，次日以水銀、硫黃末一匙，姜水調下，間用溫補脾胃而愈。</p>
<p>馮承務子五歲，吐瀉壯熱，不思飲食，目睛多白色，面無神。師曰：此腎經虛弱，下之則愈虛。遂以消積丸磨之漸愈。大凡傷食不下則成癖，下後即與補脾，無不效者。</p>
<p>愚治一小兒，白睛多，唇色白。七月間，停食吐瀉，困睡，脾虛弱也，乃因稟賦不足所致耳。用補中益氣湯，及六味丸加鹿茸治之而愈。（按：困睡驚悸，心血虛怯也。）</p>
<p>一小兒盛暑吐瀉，米穀不化，用黃連香薷飲之類，腹脹作痛，手足並冷。此脾氣虛而伏陰在內也，用五味異功散加木香治之而愈。先君嘗云：凡暑令吐瀉，手足發熱，作渴飲冷者，屬陽症，宜清涼之劑。若手足並冷，作渴飲湯者，屬陰症，宜虛補之劑。故大人屬陰者，誤用寒涼之藥，死後手足青黯，甚則遍身皆然，於此可驗。</p>
<p>若吐乳瀉黃，傷熱乳也；吐乳瀉青，傷冷乳也，皆當下之。吐瀉昏倦，睡不露睛者，胃實熱也。吐痰涎及綠水者，腎虛冷也。</p>
<p>薛按：前症若兒自受驚，或乳母恚怒，致兒吐瀉青色者，宜用異功散加柴胡。若母食厚味而乳熱者，用東垣清胃散。母飲酒而乳熱者，用葛花解酲湯，子服一二匙。若飲燒酒而乳熱，或子母身赤，或昏憒服冷，米醋三五杯，多亦兼妨，兒服一二匙。若母停滯生冷而乳冷者，母服養胃湯，子服調中丸。若母停滯而變熱乳者，母服大安丸，子服五味異功散。若母鬱怒傷肝脾而乳熱者，用歸脾湯、逍遙散。若母脾虛血弱而乳熱者，用六君子加芎、歸。若母氣血虛而乳熱者，子母俱服八珍散，若母勞後發熱而乳熱者，子母俱服補中益氣湯。若因怒動肝火而乳熱者，用五味異功散加柴胡、山枝。其吐痰涎及白綠水者，肝木乘脾上之虛寒症也，用六君子加柴胡、木香。大凡吐乳瀉青色者屬驚，法當平肝補脾。吐瀉青白色者屬寒，法當溫補脾土。前諸症，若手足指熱者屬實，手足指冷者屬虛。此亦驗法也。</p>
<p>愚治一小兒，每飲食失節，或外驚所忤，即吐瀉發搐，服鎮驚化痰等藥而愈。後發搐益甚，飲食不進，雖參朮之劑，到口即嘔。余用白朮和土炒黃，用米泔煎數沸，不時灌半匙，仍嘔。次日灌之，微嘔。再日灌之，欲嘔。此後每服二三匙，漸加至半杯，不嘔。乃濃煎服而愈。</p>
<p>一小兒停食吐瀉後，身熱作渴，瀉下紅白，或青黑，服黃連丸之類將愈，而復熱，手足指卻冷。余謂始為實熱，終為虛寒，用補中益氣湯加木香、肉果治之而愈。</p>
<p>一小兒傷食吐瀉不已，瀉色青綠，或溏白，睡而露睛，手足指冷，額黑唇青。余謂瀉痢青綠，肝勝脾土也。或時溏白，脾土虛寒也。額黑唇青，寒水侮土也。悉屬中氣虛寒，用五味異功散加升麻、柴胡、木香、附子，一劑而愈。</p>
<p>一小兒傷食嘔吐，發熱面赤，服消導之劑，飲食已消，熱赤未退。余以為胃經虛熱，用六君子加升麻、柴胡各二分，四劑而愈。</p>
<p>一小兒目睛緩視，大便臭穢。乃飲交感時乳所致，用四君子加木香、薷香而安。</p>
<p>一小兒吐酸乳食，用四君、吳茱、黃連、木香，補脾平肝而愈。後口中有酸水，仍用前藥。隨愈，後吐苦水，口中味苦，用龍膽湯清肝火，佐以四君子以補脾土乃瘥。</p>
<p>一小兒唾黃水，或口甘，所食之物，悉皆甘味，用瀉黃散。愈後停乳食，服克伐之藥，口甘不食，形氣殊弱，用補中益氣湯而愈。</p>
<p>初生十日內吐瀉，壯熱，不乳，或乳不消，或白色，先用白餅子下之，後用益黃散和之。</p>
<p>初生下吐，因穢惡下咽故也，用木瓜散主之。凡初生，急須拭淨口中，否則啼聲一發，穢物嚥下，致生諸病。</p>
<p>薛按：芽兒初生之患，多因乳母不慎七情，不節厚味，傳兒為病。當審其因，以調治其母。前所用之藥，恐臟腑脆嫩，不能勝受。治者審之。</p>

<h2>咳嗽兼變症治（附喘嗽治驗）</h2>
<p>夫嗽者，肺感微寒之症也。八九月間，肺氣大旺，咳嗽面赤，痰盛身熱，當以葶藶丸下之。若久病，不可下也。○十一月、十二月嗽者，乃傷風嗽也。風從背脊第三椎肺俞穴而入，當以麻黃湯汗之。有熱症，面赤飲水，而咽喉不利者，兼用甘桔湯下之。○若五七月間，身熱甚，唾黏者，以褊銀丸下之。若兼熱症而但嗽者，以葶藶丸主之，後用化痰藥。○咳而後喘，面腫者，肺火盛也，用瀉白散瀉之。○咳而哽氣，喉中有聲，或嗽久肺亡津液者，皆肺虛也，並用阿膠散補之。痰盛者先實脾土，後用褊銀丸微下，涎退即補肺。○嗽而吐青綠水者，百祥丸下之。嗽而吐痰涎、乳食者，白餅子下之。嗽而咯膿血者，甘桔湯主之。嗽而痰實，面赤飲水者，褊銀丸下之。治初嗽下之，久則補之。更量虛實，以意增損。</p>
<p>薛按：前症或兒自因腠理不密，外邪內蘊，或因乳母七情，厚味鬱熱。若風邪外傷者，用麻黃湯，表散鬱熱。內蘊者，用葶藶丸疏導。鼻流清涕，或頭痛聲重者，用參蘇飲散之，更用四君子以固肺氣。若心火刑肺，用人參平肺散以清肺金，用六味地黃丸以滋腎水。若嗽而吐青綠水者，用六君子加柴胡、桔梗，平肝補脾。若嗽而吐痰乳者，用六君子加桔梗，補土生金。若嗽而吐膿血者，用桔梗湯，排膿理肺。潔古先生云：嗽而兩脅痛，肝火侮肺也，用小柴胡湯。嗽而嘔苦水，膽汁溢上也，用黃芩半夏生薑湯。嗽而喉中作梗，心火刑金也，用甘桔湯。嗽而下氣，小腸失約也，用芍藥甘草湯。嗽而喘急，風邪傷肺也，用麻黃湯。嗽而嘔長蟲，胃氣虛也，用烏梅丸。嗽而痰涎壅盛，風傷脾也，用升麻湯。嗽而遺屎，大腸氣虛也，用赤石脂禹餘糧湯。不止，豬苓湯。嗽而腰背痛，痛甚則咳涎，風邪傷腎也，用麻黃附子細辛湯。嗽而遺尿，膀胱氣虛也，用茯苓甘草湯。嗽而腹滿，面腫不食，脾虛氣逆也，用五味異功散。丹溪先生云：上半日嗽者，胃中有火也。黃昏嗽者，脾肺氣虛也。午後嗽者，腎中陰火也。大抵咳嗽之症，多因肺氣虛，腠理不密，外邪所乘。若風中於衛，則呼氣不出；熱至於榮，則吸氣不入。風熱相搏，血氣積留於肺。若寸口脈數而虛，為肺痿。脈數而實，為肺疽。此因汗下過度，重亡津液所致。其麻黃湯，乃發汗解表之劑；葶藶丸，乃內疏通利之劑；白餅子，亦疏利之劑。審有是症，方可暫用之。苟泛投於治，重亡津液，必至敗症。</p>
<p>杜氏子五歲，仲冬咳嗽吐痰。此風寒傷肺也，用麻黃丸以瀉肺，後用阿膠散以實肺。如此者三，其病愈虛。師曰：瀉肝而肝病不退，補肺而肺病猶存，無能為矣。果大喘而歿。</p>
<p>李運使孫八歲，咳嗽胸滿，短氣。或謂肺經有熱，用竹葉湯、牛黃膏各二服。三日加喘。師曰：此肺氣虛，而寒邪所乘。用補脾肺之藥而愈。蓋竹葉、牛黃，治心藥也。用以治肺，誤矣。</p>
<p>張氏孫九歲，咳嗽悶亂，飲水不止，食不能下。或用涼藥，月許無效。師曰：此涼藥寒胃也。以益胃散補脾土，以瀉白散瀉肺金而愈。</p>
<p>段齋郎子四歲，病嗽身熱，吐痰數日，咯血。或用甘桔湯、防己丸，其涎上攻，喘吐不止。用褊銀丸一服下之，復以補肺散治之。或曰：症屬肺虛，何以下？師曰：肺經咯血而有熱故也。況痰實上攻，亦使發痛，故宜先下其痰，隨補脾肺而愈。</p>
<p>愚治一小兒停食，服克伐之藥，唾痰腥氣，面赤氣喘。此復傷肺氣，內亡津液而變肺癰也。不信，已而果唾膿。用桔梗湯，痰膿頓止，其喘益甚。余謂因脾虛不能生肺而然也，用五味異功散加杏仁、薏苡仁、百合治之而愈。後小便澀滯，誤服八正散二劑，小便愈澀，咳嗽吐痰，面赤盜汗。此前藥復損腎氣，虛火爍肺而為患耳。余用五味異功散調補脾土，用地黃丸滋養腎水而痊。</p>
<p>愚治一小兒感冒咳嗽，發散過度，喘促不食，痰中有血。用桔梗湯愈後，因元氣未復，大便似痢。或用五苓散、黃連、枳實之類，痰喘目札，四肢抽搐，變慢脾風而歿。</p>
<p>一小兒傷風咳嗽，發熱，服解表之劑，加喘促出汗。余以為脾肺氣虛，欲用補中益氣湯加五味子補之。不信，乃服二陳、桑、杏、枳殼、桔梗，前症益甚，又加發搐痰湧。余仍用前藥，更加釣藤鉤而痊。</p>
<p>一小兒，母有哮病，因勞即發，兒飲其乳亦嗽。用六君子加桔梗、桑、杏，治其母子，常服數滴而愈。大凡乳下嬰兒有疾，必調治其母為善。</p>
<p>一小兒傷食，發熱抽搐，嘔吐，氣喘痰嗽。屬脾肺氣虛而有熱，以六君子加炒黑黃連、山梔各二分，一劑而安。</p>
<p>一小兒咳嗽，因其母素食膏梁炙煿所致，用東垣清胃散而愈。後其母因怒咳嗽脅痛，其子亦然，母服小柴胡湯，其子亦愈。</p>
<p>一小兒傷風咳嗽，或行表散化痰，反加痰甚，肚腹膨脹，面色㿠白。余謂此因脾肺氣虛而復傷，用六君子加桔梗，一劑頓安。三日後仍嗽，鼻流清涕，此復傷風寒而作，仍用前藥加桑皮、杏仁而愈。</p>
<p>一小兒咳嗽，痰涎上湧，服清氣化痰藥，反五更痰嗽。余以為脾虛，食積為痰也，用六君子加神麯、山楂、桔梗而愈。若因痰積而咳嗽者，但健脾消食，其痰化。若用克滯之劑，中氣愈虛，其痰愈盛。</p>
<p>一小兒喘嗽，胸腹膨脹，泄瀉不食。此因飲食傷脾，而不能生肺也，用六君子湯，一劑而愈。</p>
<p>一小兒，痰涎上壅則咳嗽，面色黃白，服清肺之藥不應，服下痰之藥益甚。余曰：面色痿黃，乃脾虛不能化食而為痰也。令節飲食，用六君子湯而痊。大抵因嗽而生痰者，當治其肺；因痰而致嗽者，當理其脾。</p>

<h1>卷三</h1>

<h2>五臟內外疳症主治</h2>
<p>凡小兒疳在內，目腫腹脹，瀉痢青白，體漸瘦弱；疳在外，鼻下赤爛，頻揉鼻耳，或肢體生瘡。鼻瘡用蘭香散。諸瘡用白粉散。肝疳，一名筋疳，白膜遮睛，或瀉血而瘦，用地黃丸。心疳，面黃頰赤，身體壯熱，用安神丸。脾疳，一名肥疳，體黃削瘦，皮膚於澀而有瘡，腹大嗜土，用益黃散。腎疳，一名骨疳，肢體削瘦，遍生瘡疥，喜臥濕地，用地黃丸。肺疳，一名氣疳，喘嗽氣促，口鼻生瘡，用益黃散。若患潮熱，當先補肝，後瀉心，若妄以硝黃諸藥利之；若患癖當消磨，若誤以巴豆、硼砂下之；又傷寒誤下，皆能成疳。其初病者為熱疳，用黃連丸；久病者為冷疳，用木香丸；冷熱相兼者，如聖丸。用之津液短少者，用白朮散。凡此，因大病脾胃虧損，內亡津液所致。當固脾胃為主，而早為施治，則不變敗症也。</p>
<p>薛按：疳症，或哺食大早，或嗜食甘肥，或服峻厲之藥，重亡津液，虛火熾盛，或因稟賦，或乳母厚味、七情致之，各當調治其內。○若口舌蝕爛，身體壯熱，腮唇赤色，或作腫痛，腹膈煩悶，或掌熱咽乾，作渴飲水，便赤盜汗，齧齒虛驚，此心經內外疳也，用安神丸之類主之。○若鼻外生瘡，眼目赤爛，肢體似癬，兩耳前後、項側、缺盆、兩腋結核，或小腹內股、玉莖、陰囊、睪丸腫潰，小便不調，或出白津，或咬指甲，搖頭側目，白膜遮睛，羞明畏日，肚大青筋，口乾下血，此肝經內外疳也，用地黃、蘆薈二丸主之。○若頭不生髮，或生瘡痂，或發成穗，或人中口吻赤爛，腹痛吐逆，乳食不化，口乾嗜土，瀉下酸臭，小便白濁，或合目昏睡，惡聞木音，此脾經內外症也，用肥兒丸主之。○若鼻外生瘡，咽喉不利，頸腫齒痛，咳嗽寒熱，皮膚皺錯，欠伸少氣，鼻癢出涕，衄血目黃，小便頻數，此肝經內外疳也，用地黃清肺飲主之。○若腦熱吐痰，手足逆冷，寒熱往來，滑泄肚痛，口臭作渴，齒齦潰爛，爪黑麵黧，身耳生瘡，或耳出水，或食自發，此腎經內外疳也，用地黃丸主之。凡疳熱上攻，或痘毒上升，為患甚速，名為走馬疳，急敷雄黃散，服蟾蜍丸。輕則牙齦腐爛，唇吻腫痛，可治。重則牙齦蝕落，腮頰透爛，不治。（《世傳方》又云有無辜等疳一十二症，補註蟾蜍丸下。）</p>
<p>愚治陳職方孫，面頰患瘡，將蝕兩目，或用清熱之藥，久而不愈。余用大蕪荑湯二劑，清其肝火而愈。</p>
<p>陳司廳子，遍身生瘡，面色痿黃，腹脹內熱，大便不調，飲食少思，倦怠口乾。用大蘆薈丸，治其肝脾，不月而愈。</p>
<p>俞廷評子，目札面青，食少體倦，大便滑泄。此木乘脾土，用芍藥參苓飲而痊。</p>
<p>陳工部孫，腹內一塊，小便不調。或以血痞，久服行氣破血等藥，發熱口乾，體瘦懶食，幾成瘵症。余謂面黃兼青，乃肝脾疳症。用補中益氣湯，煎送大蘆薈丸，四服；又用前湯加車前子，煎送六味丸，四服；又用清肝生血之藥而愈。</p>
<p>一女子十二歲，目生白翳，面黃浮腫，口乾便澀，此肝脾之症，用四味肥兒丸而痊。</p>
<p>一小兒九歲，目札畏明，年深不愈。或以為實火，服瀉青丸之類，益甚。求治於余，仍用瀉肝。余謂肝經虛火，用地黃丸補之而愈。夫肝氣為陽為火，肝血為陰為水。肝經之症，若非肝火血燥而生風，必因肝血虛而火動。其初患而病氣形氣俱虛者，當與地黃丸補其腎肝。蓋此症原因肝經血少而生風耳，不可輒用瀉青峻劑。經云：凡病虛則補其母，實則瀉其子。前症果肝經實熱，宜用柴胡、黃連之類，以治心火者審焉。</p>
<p>一小兒鼻外生瘡，不時揉擦，延及兩耳；又一小兒，視物不明，鼻內或癢，或生瘡，用四味肥兒丸漸愈。</p>
<p>一小兒耳內出水，耳外生瘡，膿水淋漓，經歲不愈。余用九味蘆薈丸以治肝，用地黃丸以生腎水乃瘥。</p>
<p>一小兒遍身如瘡，或癢或痛，肌體消瘦，日夜發熱，口乾作渴，大便不調，年餘不愈。用蘆薈丸以治肝，兼五味異功散以補脾而愈。</p>
<p>一小兒數歲，腦後並結二核，肉色如故，而不覺腫，正屬膀胱。經觀其形狀，審其糞色，兼屬肝脾腎三經。用九味蘆薈丸以清肝脾，佐用地黃丸以補腎水，形體漸健，不兩月而消。</p>
<p>一小兒腹內結塊，小便不調。余以為肝經內疳症，用蘆薈丸為主，佐以龍膽瀉肝湯而消。</p>
<p>一小兒自脫胎即兩目赤腫，或作癢，或作翳。此胎稟肝火耳，用六味、蘆薈二丸而愈。</p>
<p>一小兒患瘰癧，小便頻數，兩目連札，或作嘔少食，泄瀉後重。此肝經熱盛而脾土受邪也，用補中益氣湯、六味地黃丸而痊。</p>
<p>一小兒面色痿黃，眼胞微腫，作渴腹脹，飲食少思，腹中一塊，或移動，小便澄白，大便不實。此脾疳之患，用四君子加山梔、蕪荑，兼四味肥兒丸而愈。</p>
<p>一小兒嗜食泥，困睡泄瀉，通身如疥。此脾經內外疳也，用六君子湯，及四味肥兒丸而痊。</p>
<p>一小兒面黃頰赤，發熱作渴，睡中驚悸。此心經內疳症，用四君加炒黑黃連、芎、歸為主，佐以秘旨安神丸而痊。</p>
<p>一小兒所患同前，兼掌心發熱，遍身如疥，此心經內外疳症，用肥兒丸為主，佐以秘旨安神丸而愈。</p>
<p>一小兒咳嗽寒熱，咽喉不利，鼻上有瘡，久不生痂。此脾經疳症，用地黃清肺飲、四味肥兒丸而愈。</p>
<p>一小兒下疳潰爛，爪黑麵黧，遍身生疥。此腎經內外疳症，用地黃丸為主，佐以四味肥兒丸而瘥。</p>
<p>史少參幼子二歲，項下結核，不時仰首。或以為熱瘡內潰，用針決之，服消毒之藥後，曲腰啼哭。余謂此無辜外吊症也。曲腰而啼，內吊症也。果歿。</p>

<h2>腹痛腫脹諸症</h2>
<p>小兒腹痛體瘦，面色㿠白，目無睛光，口中氣冷，不思飲食，或嘔利撮口，此脾土虛而寒水所侮也，用益黃散、調中丸主之。若口中氣溫，面色黃白，目無睛光，或多睡惡食，或大便酸臭，此積痛也，用消積丸，甚者白餅子下之，後以白朮散調補胃氣。若腹脹而悶亂喘滿者，實也，用紫霜丸。若不悶亂喘滿者，脾虛也。誤下之，以致目胞、腮面、四肢浮腫，肚腹愈脹，以塌氣丸主之。因下而喘，脾氣益虛也。脾虛不能勝腎水，隨肺氣行於四肢，如水狀。若侵浮於肺，即大喘也。</p>
<p>薛按：痛腹不食，口中氣冷，下利撮口等症，屬形病虛寒也，用六君子加炮姜溫補之。食積多睡，口中氣溫，惡食，面黃白等症，屬病氣實而元氣虛也，用六君子加神麯、山楂消導之劑。若腹脹喘滿，脾肺虛而氣不歸源者，用補中益氣湯。若因下脾肺氣虛，而面目四肢浮腫等症者，用金匱加減腎氣丸。況此症有因乳母脾胃宿積，飲食傷脾所致，其白餅子、紫霜丸，必形病俱實，方可用也。塌氣丸亦非調補之劑，宜審用之。</p>
<p>愚治一小兒，每停食腹痛，發赤暈，用清中解鬱湯而愈。後患搖頭咬牙，痰盛發搐，吐酸腐。待其吐盡，翌日少以七味白朮散，次日又以參苓白朮散，調理脾胃，遂不復患。大抵吐後兒安，不必更服他藥，恐復傷元氣也。</p>
<p>一小兒傷食腹脹，嘔吐發熱，面赤。服消導清熱之劑，飲食已消，熱赤未退。用六君子加升麻、柴胡各二分，升補胃氣，四劑而愈。</p>
<p>一小兒五歲，停食腹痛，發熱面赤。或用養胃湯、枳實、黃連，更加腹脹，午後熱甚，按其腹不痛。余以為脾虛而藥傷，用六君子數劑而痊。</p>
<p>一小兒數歲，每停食輒服峻厲之藥，後肚腹膨脹，嘔吐泄瀉。先用六君子湯，諸症漸愈，又用補中益氣湯而安。</p>
<p>一小兒肚腹脹，飲食即瀉，手足逆冷。此脾氣虛寒也，先用人參理中丸，後用六君子湯而愈。</p>
<p>一小兒傷食腹脹，胸滿有痰，用異功散而痊。後復傷食，腹脹兼痛，或用下劑，痛雖止而脹益甚，更加氣喘。此脾益傷而肺益虛也，用六君子湯加桔梗，調補而愈。</p>
<p>一小兒腹脹惡食，發熱噁心，殊類外感。余曰：此飲食所傷，脾肺虛熱也。用保和丸一服，諸症頓退。但腹仍脹，用異功散而痊。</p>
<p>一小兒傷食腹脹，服克伐之劑，小便澀滯。又服五苓散之類，飲食漸減，小便不通，四肢頓腫。余朝用金匱加減腎氣丸，夕用異功散而愈。</p>
<p>若腎熱傳於膀胱，熱甚逆干脾肺，脾胃虛而不能制腎水，流走四肢，而身面皆腫。若上勝則刑于肺，故令喘也。</p>
<p>薛按：肺主氣，腎主水。前症因稟賦不足，或因大病後，或誤行汗下，致脾虛不能制水，而溢皮膚，肺虛不能攝氣，而氣上逆，宜用六味丸、補中益氣湯治之。如小便不利，用金匱加減腎氣丸。腎經虛火上炎，肺熱作喘者，用六味地黃丸。心火熾盛，肺熱作喘者，用人參平肺散。凡此皆屬腎經陰虛熱症，用六味丸壯水為主。若用清熱分利之藥，則誤矣。</p>
<p>一小兒，稟父腎熱，小便赤澀，服五苓散之類。後患停食，服克伐之藥，四肢面目浮腫，小便不利，漸至氣喘。此誤行滲利，脾肺氣虛，不能攝水而患腫；脾腎虛寒，不能制水而氣喘。用六味丸加牛膝、車前，及補中益氣湯而愈。</p>
<p>若口吐痰沫，或吐清水，面㿠白，心腹痛而有時者，蟲痛也，與癇相似，但目不斜手不搐也，用安蟲散主之。</p>
<p>薛按：蟲乃濕熱所生，或木氣而化。有因臟腑虛弱，有因胃冷胃熱，為人身之固有者。其為患往來攻痛，或吐涎水，肌體消瘦，面無正色。但當調補脾胃為主。若蟲食上部，則上唇有白點；蟲食下部，則下唇有白點。腹中之蟲，朔日之後，其頭向上；望日之後，其頭向下。如或用藥，先以肉物近幾烹炙，使聞香味，蟲頭皆向上，則藥易於奏效。丹溪先生云：冬月吐蟲多，是胃氣虛寒。用錢氏白朮散，加丁香二粒補之。可見小兒之蟲，皆飲食傷脾所致。患瘡疥內生蟲蝨者，皆肝木所主也。</p>
<p>辛氏子，年五歲，病蟲痛。或用巴豆、硼砂之類，哭而俯仰，按腹大叫，面青黃而時白，目仍青。師曰：此病大困，更加瀉，則不救。次夜大瀉，並下前藥。師曰：今面青作瀉，此肝木乘脾，形病相反，當五日篤，七日死。已而果然。</p>
<p>愚治一小兒，蟲動心腹痛，先服蕪荑散下之，更加作嘔，食少口渴，飲湯右腮鼻準白中兼黃。此脾肺氣虛也，余用異功散二服少愈，仍加炮姜一服而安。</p>
<p>一女子，年十二歲，面色青黃，頭左生癤，頸項結核，寒熱往來，大便不利。余謂此肝木侮脾，元氣虧損所致，寒熱非客邪，便秘非內實。不信，仍服雜藥。後作泄瀉，癤內出蝨。余用六君子加升麻、柴胡、蕪荑為主，佐以九味蘆薈丸，諸症悉退，頸核頓消。</p>
<p>一小兒，面色青黃，心腹作痛，時欲嘔吐，或小便淋漓，或陰莖濕癢。余以為肝經風熱侮脾。不信。後遍身生疥，出蟲蝨。余用四味肥兒丸、六君子湯之類尋愈。</p>
<p>若腹中有癖不食，但飲乳是也，當漸用白餅子下之。蓋小兒病此，良由乳食不消，伏於腹中，乍冷乍熱。飲水過多，即盪滌腸胃，亡失津液。脾胃虛弱，不能傳化水穀，以致四肢羸瘦，肚腹漸大而成疳矣。</p>
<p>薛按：前症或因小兒乳食過多，致傷脾胃；或乳食起居，七情六淫失宜所致。必先調補元氣為主，佐以消散之劑。若除之不以漸，則必有顛覆之患。當治食積既去，而熱不退，或作嘔吐少，用五味異功散。脅脹少食，善怒瀉青，用六君子湯加升麻、柴胡。少食體倦，瀉黃，用補中益氣湯。手足冷，加炮薑、木香。如不應，佐用四神丸。體瘦，潮熱，口乾，大便不調，用肥兒丸。若兼頸項結核，口齒腐爛，當參前疳條主之。</p>
<p>愚治一小兒，腹中痞塞，恪服二陳、枳實、黃連，其痞益甚。余謂屬脾經血虛，用六君子加當歸數劑，胃氣漸次復。乃朝用異功散加升麻，夕用異功散加當歸而愈。</p>
<p>一小兒，素嗜肉食，腹中作痛，大便不調。半載之後，肚腹膨脹，右脅內結一塊，不時轉移。又三月，左脅內亦結一塊，胸腹亦脹，齦潰作渴，小便赤澀或澄白，大便色穢不一。又半載，頷下結核三五枚，服消塊行滯等藥，元氣益虛，其塊益甚。余用四味肥兒丸、五味異功散之類，隨症進退治之，熱渴漸止。又月餘，腹脹漸消，更佐以九味蘆薈丸，齒齦漸愈。乃用四君子為主，佐以蕪荑丸之類而痊。</p>
<p>一小兒，飲食不節，或作瀉，或腹痛，或腹脹，腹中一塊，大便不調，作渴發熱，齦爛口臭。專服消導克滯，前症益甚，形體益瘦。余曰：面色黃中隱青，脾土虧損而肝木所侮也。法當調補中氣，平肝木，則脾氣自旺，虛火自退，諸症自愈。遂用沖和湯，及大蕪荑湯之類，果愈。</p>
<p>一小兒，患痞，服克滯之藥。余謂形氣有餘，病氣有餘者，當瀉不當補；形氣不足，病氣不足者，當補不當瀉。前症屬形病俱虛，非調補中氣不愈。不信，仍行克伐，元氣虧損，虛火上炎，齒齦蝕爛，頷下結核。余用大蕪荑湯，及異功散之類，尋愈。</p>

<h2>五臟雜症主治</h2>
<p>喜汗者，厚衣臥而額汗出也；盜汗者，肌肉虛而睡中汗出也，用止汗散。遍身汗，用香瓜丸。○胃虛汗者，上至項下至臍也，用益黃散。六陽虛汗者，上至頭，下至項，難治。</p>
<p>薛按：前症因小兒元氣未充，腠理不密；或因飲食停滯鬱熱；或厚衣溫暖，臟腑生熱，而津液妄泄也。其喜汗屬心經血熱，用導赤散；血虛，用團參湯。其盜汗屬腎經虛熱，用五味異功散；氣血虛弱，用人參養榮湯。若寒水侮土，用益黃散。設泛行施治，誤損脾胃，多成疳瘵。其六陽虛汗，乃稟賦不足，若用參附、耆二湯，亦有生者。大凡汗多亡陽，必至角弓反張，頸項勁強。若用十全大補之劑，大有生者。</p>
<p>張生三子，大者汗出遍身，與香瓜丸；次者上至項，下至胸，與益脾散；小者但額有汗，與石膏湯。各五日而愈。若概用麥煎散治之，誤矣。</p>
<p>愚治一小兒，其面色或白或青，或惡寒，或發熱，鼻間微黃兼白，盜汗白汗，胸膈不利，飲食少思，常懷畏懼。余以為脾肺氣虛。不信，又用硃砂安神之類，前症益甚，更往來寒熱，泄瀉不食。余用六君子湯加黃耆當歸為主，佐以八珍湯之類而痊。</p>
<p>一小兒，五歲，腹脹泄瀉，盜汗，鼻間左腮皆白。此屬脾肺氣虛而食積所致，用六君子加山楂、神麯四劑，腹痛頓止。去二味，又四劑而大便調。用四君、歸耆二劑，而盜汗止。</p>
<p>一小兒，十二歲，形氣瘦弱，右腮白，兩頦赤，鼻間隱青，盜汗，久不愈。此稟足三陰虛而然也，朝用補中益氣湯，夕用六味丸而愈。</p>
<p>一個兒，三歲，盜汗，少食，聞藥即嘔。此胃傷也。用浮麥炒為末；每服少許，以乳調服。旬余，嘔止乳進。佐以六君子湯而愈。</p>
<p>一小兒，停食腹痛，夜間盜汗。此脾虛食積所致，用六君子湯數劑，腹痛漸愈，盜汗亦止。後復停食，服消積丸，作瀉不止，自汗盜汗，飲食甚少，睡而露睛，四肢發搐。此脾土虛而肝木所侮，用六君子少加柴胡治之，飲食漸進，諸症漸愈。但盜汗不止，屬腎虛，佐以地黃丸愈。</p>
<p>一小兒，發熱，呵欠頓悶，咬牙盜汗。屬肝膽火症，用小柴胡湯加山梔二劑，又用地黃丸料煎服而愈。</p>
<p>夜啼者，小兒筋骨血脈未成而多哭，脾臟冷而痛也。當與溫中藥，或花火膏主之。若虛怯為冷所乘，則唇青。</p>
<p>薛按：前症多因小兒稟賦不足，或乳母飲食，七情虧損所致。若面赤白，及白睛多者，屬腎氣不足，至夜則陰盛而腹痛也，用六味丸。若臉青唇白，或小便黃短，屬脾氣不足，至夜則陰盛而腹痛也，用釣藤散。若臉紅舌白，或小便赤澀，小腸熱也，用導赤散加辰砂。如不應，屬腎火，用地黃丸。唇色青白，口中氣冷，或肢體冷，或泄瀉曲腰，或泄瀉不乳，此脾腎虛弱，用六神散。兼嘔吐，用六君子湯。大便不化，乳少腹脹，用五味異功散加漏蘆，令母服之，兒病自愈。兒亦服四五滴，尤妙。兒大數滴。</p>
<p>愚治一小兒，停食腹痛，夜啼，用大安丸而愈。後乳食雖入，其腹仍痛，用六君子加山楂、神麯，痛少止，乃去二味。又四劑，全痛止。</p>
<p>一周歲兒，痰嗽啼哭，或用抱龍丸，未止。余視其右腮白，左腮青，此肺肝二經相勝。先用瀉白散以祛肺邪，次用柴胡梔子散以平肝火。又用地黃丸以滋腎水而痊。</p>
<p>一個兒，三歲，夜啼，面色白，黑睛少，小便清。此脾腎氣虛，朝用補中益氣湯加山藥、五味子，夕用地黃丸，頓愈。</p>
<p>驚啼者，邪氣乘心也，當以安神主之。</p>
<p>愚按：哭而不啼多淚，是驚悸也。啼而無淚，是痛也。若因心血不足，用秘旨安神丸。心火熾盛，用導赤散。木火相搏，用柴胡梔子散。肝血不足，用六味丸。所云十啼者，蓋亦大同小異耳。愚治一小兒，白睛多，面色赤，時作啼。此稟腎不足，用地黃丸。半載後，忤其意雖哭，面色不赤。丹溪先生云：小兒忽大叫，必死。即此義也。</p>
<p>若浴後拭臍不幹，風入作瘡，令兒撮口甚者，是脾虛也。若頻撮口，是氣不和也。益黃散主之。</p>
<p>愚按：前症果因浴後拭挹不幹，用枯礬為末，搽之即愈。若兼乳母肝脾有熱，助兒為患，當用加味逍遙散，以治其母。若風入作瘡，邪傳於脾撮口者，其害匪輕。七日內患者，其危尤速。</p>
<p>弄熱舌者，脾臟微熱，令舌絡牽緊，時時舒熱，當少用瀉黃散。或飲水者，脾胃虛而津液少也。兼面黃肌瘦，五心煩熱者，疳瘦也，用胡黃連丸。大病未已，而弄舌者凶。</p>
<p>愚按：小兒舌微露而即收，名弄舌，屬心脾虧損，用溫脾散補之。舌舒長而收緩，名吐舌，乃心脾積熱，少用瀉黃散主之。兼口舌生瘡，作渴飲冷，屬腎經實熱，用瀉黃散。作渴畏冷，屬胃經虛熱，用四君子湯。食少作渴，或大便不實，脾胃虛弱也，用七味白朮散。口角流涎，或腮頰患腫，虛風熱也，先用人參安胃散，後用七味白朮散。若午後甚者，脾血虛也，四物湯，多加參、朮、茯苓。未應，用補中益氣湯，及審相勝。其疳瘦症，當參諸症門。（七味白朮散，即人參白朮散。）</p>
<p>解顱者，生下囟門不合也，長必多愁少笑。目白睛多，面色㿠白，肢體消瘦者，腎虛也。</p>
<p>愚按：腎主髓，腦為髓之海。前症因父母精血不足，不能榮養，宜用地黃丸補之。有至七八歲，或十四五歲，血氣既盛而自合。若縱恣食色欲，戕賊真陰，亦不能盡其壽矣。此症若在乳下，當兼補其母。更以軟帛緊束兒首，使其易合。亦有囟陷、囟填，俱屬稟不足。或五疳，久病元氣虧損者，仍參後小便不通類主之。</p>
<p>愚治一小兒顱解，足軟膝大，不能行履，用六味丸加鹿茸治之，三月而能步履。</p>
<p>一個兒，年十四歲而近女色，發熱吐痰。至有室，兩目羞明，頭角脹大，仍不斷欲，頭漸大，囟門忽開。用地黃丸、益氣湯之類，斷色欲，年餘而愈。</p>
<p>一小兒，十三歲，患前症，內熱肺熱，形體倦怠，食少作渴。余以為所稟怯，用六味丸加鹿茸補之，不越月而痊。</p>
<p>一小兒，十四歲，解顱，自覺頭大，視物皆大，畏日羞明。先兄以為腎稟怯弱，用六味丸加五味、鹿茸，及補中益氣加山藥、山茱萸，半載漸愈，二載而囟合。後婚姻，覺囟門開解，足心如炙。喜其斷色欲，戒厚味，日服前藥二劑，三載而愈。</p>
<p>胎肥者，生下豐厚，目睛粉紅，大便乾難，時出涎水。○胎熱者，生下有血色，時叫哭，身熱淡黃，目睛多赤，大便色黃，急欲食乳，並用浴體法主之。○胎怯者，生下面白，肌肉瘦弱，大便白水，身無血色，哽氣多噦。亦用浴體法。</p>
<p>薛按：浴體之法，乃開發腠理，疏泄陽氣者也。其胎氣果熱，在暑月，庶幾可用。其或胎怯，而用前法，恐復傷真氣也。然此症屬有餘者，胎肥胎熱也。因母食膏粱厚味，或怒火鬱熱。胎怯弱者，因父精不足，或母氣虛弱，用八珍湯。父精不足，用地黃丸。俱加漏蘆。令母服之，子亦服之。</p>
<p>急欲乳不能食者，此風邪由臍而蘊熱心脾，致舌厚唇燥，不能吮乳也。</p>
<p>薛按：前症果因外邪而唇口撮緊者，名為臍風，多不能救。若心脾有熱，舌尖痛不能吮乳，舌本痛不能送乳者，以柳華散敷之。若舌下腫如小舌者，或舌絡牽痛，或齒齦患白星，俱用線針刺出毒血，亦敷前散。若唇腫痛，或裂紋作痛，以當歸膏調前散敷之。若暴病發熱，作渴飲冷，大便秘結，用瀉黃散，疏導其熱。若病後發熱，口渴飲湯，大便不實，用異功散，調補胃氣。若服攻伐之劑，兼嘔吐，或腹痛，脾胃復傷也，用四君子湯。或口角流涎，或痰氣壅盛，脾不能攝也，用六君子湯。若兒自食甘肥，或母食酒面，致兒曰舌生瘡，用清胃散以清熱。若作嘔少食，泄瀉，用白朮散以補脾。若手足並冷，或腹痛惡寒，用六君、炮姜以溫中。若因乳母飲食，勞役失宜，發熱致兒，用補中益氣湯。因乳母肝脾二經血虛，內熱傳兒，用加味逍遙散、八珍湯。因乳母肝脾鬱怒，血虛內熱，致兒為患，用加味逍遙散、加味歸脾湯，俱加漏蘆。子亦服數滴。仍參前弄舌類。（凡針重舌，以針直刺，不可橫桃，恐傷舌絡，則言語不清）</p>
<p>龜胸龜背者，由兒生下風客於脊，入於骨髓，致成龜背。若肺熱脹滿於胸膈，膈即成龜背。並用龜尿，點其骨節自愈。（取尿法：用青蓮葉安龜在上，用鏡照之，其尿自出。）</p>
<p>薛按：小兒元氣未充，腠理不密，風邪乘之；或痰飲蘊熱於肺，風熱交攻而致；或坐早風入骨髓。治當調補脾肺為主。若因乳母厚味辛辣而致者，當兼治其母。若因稟父肝腎虛熱者，用六味地黃丸。若稟腎氣不足者，用八味地黃丸。</p>
<p>若患吐瀉，或大便後雖有聲而不能言，又能咽物者，非失音，此腎怯不能上接於陽也，當以地黃丸主之。凡口噤不止，則失音語遲。</p>
<p>薛按：前症多因稟腎不足。蓋腎脈繫於舌本，非地黃丸不能治。故患此症者，若仰首呵欠則嗽。如未應，須兼以補中益氣湯，滋其化源。若陰火上炎，肺金受傷而失音者，亦治以前法。《保嬰集》云：小兒五六歲，腎氣不足而不能言者，用菖蒲丸。口噤不能言者，用地黃丸。</p>
<p>愚治一小兒，言遲，患泄瀉，聲音不亮，雜用清熱等劑，聲音如瘂，飲食少思，去後多在侵晨，朝用地黃丸加五味子，夕用補中益氣湯，其泄頓止。卻專服前丸，不兩月，其言漸亮而愈。</p>
<p>一小兒白睛多而黑睛少，吐瀉後，喉喑，口渴，大便不實，朝夕悉服地黃丸而痊。後思瀉，（其喉復暗，仍服前丸，遂愈。）</p>
<p>若大病後身目皆黃者，黃病也。○身痛背強，大小便澀，一身盡黃，小便黃赤，此黃疽也，瀉者難治。○若百日，或半年，不因病而身黃者，胃熱胎疸也。若淡黃兼白者，胃怯也。</p>
<p>薛按：大病後身目皆黃，或肢體黃胖者，脾氣虧損而真臟為病，宜用六君子湯、參苓白朮散，調補元氣。病後發渴者，脾氣虛而津液少也，用七味白朮散。若脾經濕熱壅滯，二便秘，腠理不得疏泄而為患者，名為黃疸，用茵陳湯。初生身黃壯熱，不乳便秘，此為胎熱，用地黃湯。若二便赤澀，腹脹面赤，飲水，用茵陳湯調五苓散。若清便自調，四肢便冷，用益黃散。淡黃白，用調中丸。</p>
<p>愚治一小兒，旬日內先兩目發黃，漸及遍身，用瀉黃散，服之瘥。</p>
<p>一小兒，因母食鬱，飽脹咽酸，而患遍身皆黃。余以越鞠丸治其母，以瀉黃散治其子並愈。</p>
<p>長大不行，行則腳軟。○齒久不生，生則不固。○發久不生，生則不黑。皆胎弱也。</p>
<p>愚按：前症即五遲之症也。若腎主骨，齒者骨之餘，發者腎之榮也。良由父母精血不足，腎氣虛弱，不能榮養而然耳。有肝腎虛，長而不能行者；有肝氣虛，而手足拳攣者；有肝腎虛，而腳不能舒展者，並用地黃丸滋補之。有心氣虛而不能言語，用玄參湯、補中益氣湯培養之。若久病，或五疳所致者，但調補脾胃為主。《全嬰方》云：頭、項、手、足、身軟，謂之五軟症，皆胎稟腎氣怯弱也。</p>
<p>愚治一小兒，體瘦腿細，不能行步，齒不堅固，發稀短少，屬足三陰虛，用六味地黃丸、補中益氣年餘，諸症悉愈，形體充實。</p>
<p>一小兒，三歲，言步未能，牙發稀少，體瘦骨立，發熱作渴，目黑晴少，服肥兒丸不應。此腎虛疳症也。前丸乃脾胃經之藥，久服則腎益虛，而疳益甚。不信，果牙發漸落。用六味丸加鹿茸、五味子，半載而愈。</p>
<p>一小兒，七歲，左腿細，短寸許，不良於行，目睛白多，或有盜汗，發黃成穗。用地黃丸加鹿茸、五味子為主，佐以補中益氣湯，半載行履如故。</p>
<p>一小兒，脫肛，半載恪服升補元氣之藥而愈。</p>

<h1>卷四</h1>
<p><u>瀉青丸</u>　治肝經實熱，急驚搐搦。</p>
<p>羌活（按用羌活者，壬乙同歸一治也）　大黃（瀉諸實熱）　川芎（入手足厥陰，辛以緩肝）　山梔仁（瀉心火，實則瀉其子也）　龍膽草（炒，益肝膽氣，止驚）　當歸（入足厥陰，以其用藏血也）　防風（各等分）</p>
<p>上為末。煉蜜丸，芡實大。每服半丸，煎竹葉湯入砂糖化下。</p>
<p>薛按：前方足厥陰肝經解散肌邪，疏通內臟之苦寒藥也。若大便秘結，煩渴飲冷，飲食如常，屬形病俱實，宜用此瀉之。若大病調和，煩渴飲冷，屬病氣實而形氣虛，宜用抑青丸平之。若大便不實，作渴飲湯，飲食少思，肢體倦怠，屬形病俱虛，宜用地黃丸補之。若肝經血虛生風，先用四物湯加釣藤鉤以生肝血，繼用四君子湯以補脾土。若因肝經血燥生痰，用地黃丸生腎水益肝血。若土不能培木，用四君子湯加當歸以補中，用地黃丸以滋腎。若因肺金克肝木，用六君湯加芍藥、木香，實脾土以平肺金。若因心虛奪母之氣，或腎水虛不能生肝木者，並用地黃丸主之。若屢服峻劑而脾胃虛寒者，必用六君子湯加丁香、木香，補脾胃以培元氣。若因乳母恚怒，肝火妄動，致兒為患者，母服加味小柴胡湯。若因乳母肝脾血虛發熱，致兒為患者，母服加味逍遙散，子亦服數滴。</p>
<p><u>抑青丸</u>　即前方去山梔、大黃。</p>
<p><u>抑肝散</u>　治肝經虛熱發搐，或發熱咬牙，或驚悸寒熱，或木乘土而嘔吐痰涎，腹膨少食，睡臥不安者。</p>
<p>軟柴胡（五分，入手足少陽厥陰，行經藥也。東垣云：瀉肝火，須用黃連佐之）　川芎（八分）　當歸　白朮（炒）　茯苓（保心驚悸）　釣藤鉤（各一錢，主寒熱，十二驚癇，客忤胎風，惟療小兒）　甘草（五分）</p>
<p>上水煎，子母同服</p>
<p><u>瀉心湯</u>　治心驚實熱。</p>
<p>黃連</p>
<p>上為末。每服五分，臨臥溫水化下。</p>
<p>薛按：前症若叫哭發熱作渴，飲水抽搐有力，仰面而睡者，屬心經實熱，宜用瀉心湯，或導赤散。若發熱飲湯，抽搐乏力，驚竄咬牙，合面而睡者，屬心經虛熱，用補心散。若喘嗽面赤，壯熱飲水，肺乘心也，用瀉白散。若頭搖目札，身熱抽搐，肝乘心也，用柴胡清肝散。若合目昏睡，泄瀉身熱，脾乘心也，用瀉黃散。若竄視驚悸，咬牙足熱，腎乘心也，用安神丸。若因乳母致症，亦用前藥，以治其母。</p>
<p><u>導赤散</u>　治小腸實熱，小便秘赤。</p>
<p>生地黃（心與小腸之藥）　木通（利小腸之熱，故錢氏用以導赤也）　甘草（炙，各等分，生用瀉心火）</p>
<p>上為末，每服一錢，入淡竹葉（涼心經），水煎。</p>
<p>薛按：瀉心湯、導赤散，瀉心、小腸實火之劑。蓋心為脾母，脾為心子。然心既病，則脾土益虛矣。用者審之。（味此說，當補脾土）</p>
<p><u>生犀散</u>　治心經虛熱。</p>
<p>地骨皮　赤芍藥　柴胡　乾葛（各一兩）　甘草（五錢）　犀角（二錢，鎊，主風熱驚癇，鎮肝，除心熱。丹溪云：犀角，痘後用以散餘毒。若無毒而血虛者，或已躁熱發散者，而誤用之，禍立至）</p>
<p>上為末，每服一二錢，水煎。</p>
<p>薛按：前方云治心經虛熱，然其所用多屬瀉心瀉肝脾之劑。蓋虛熱二字，恐傳寫之誤。假如心經自病而血虛熱者，用秘旨安神丸。牌虛奪心之氣而熱者，用秘旨補脾湯。肝木不能生心火而虛熱者。（用地黃丸。）</p>
<p><u>秘旨安神丸</u>　一治心血虛而睡中驚悸，或受驚嚇而作。</p>
<p>人參（補五臟，止驚悸）　半夏（湯泡，燥脾土，健胃）　酸棗仁（炒，寧心志）　茯神（各一錢，開心益志）　當歸（酒洗）　橘紅　赤芍藥（炒，各七分）　五味子（五粒，杵）　甘草（炙，三分）</p>
<p>上為末，薑汁糊丸，芡實大。每服一丸，生薑湯下。</p>
<p><u>瀉黃散</u>　治脾胃實熱。</p>
<p>藿香葉（入手足太陰經，助脾開胃止嘔）　甘草（各七錢五分）　石膏（五錢，瀉胃火）　山梔仁（一兩，治胃中熱氣）　防風（二兩）</p>
<p>上用蜜酒微炒為末。每服一二錢，水煎。</p>
<p>薛按：前症若作渴飲冷，臥不露睛，手足熱甚，或遍身發黃，屬胃經實熱，宜用瀉黃散。若作渴飲湯，臥而露睛，手足並冷，屬胃經虛熱，宜用異功散。若面青搐搦，乳食少思，肝乘脾也，用秘旨補脾湯。若面赤驚悸，身熱昏睡，心乘脾也，用秘旨安神丸。若面白喘嗽，肢體倦怠，肺乘脾也，用補中益氣湯。若唇黑泄瀉，手足指冷，腎乘脾也，用益黃散。病後津液不足，口乾作渴，宜用七味白朮散。若乳母膏粱厚味，七情鬱火所致，當審其因，而治其母。</p>
<p><u>五味異功散</u>　治脾胃虛弱，吐瀉不食。</p>
<p>人參　茯苓　白朮　甘草（炒）　陳皮（各等分）</p>
<p>上為末。每服三錢。薑棗水煎。</p>
<p>薛按：前方補脾胃之聖藥也。況人之一身，以脾胃為主，若小兒乳食失節，寒涼失宜，或乳母六淫七情失調，兒飲其乳，諸病頓起，當專以此藥治之，其應如響。</p>
<p><u>益黃散</u>　治脾土虛寒，嘔吐泄瀉。</p>
<p>陳皮　青皮（下食，入太陰之倉）　丁香（二錢，去脾胃中寒）　訶子肉（各五錢，能開胃消食止痢）　甘草（炙，二錢）</p>
<p>上為末。每服一二錢，水煎。</p>
<p>薛按：前症若因脾土虛弱而吐瀉者，用五味異功散。若因肝木侮脾土而吐瀉者，用六君子加柴胡。如不應，或手足指冷，屬脾胃虛寒也，更加木香、炮姜。若因乳母脾土虛而肝木侮，亦治以前藥。若乳母鬱怒，致兒患前症，母服加味歸脾湯。</p>
<p><u>人參安胃散</u>　治因服峻劑，脾胃虧虛；或成慢驚，泄瀉嘔吐；或脾胃有熱，以致前症。</p>
<p>人參（一錢）　黃耆（二錢）　生甘草　炙甘草（各五分）　白芍藥（七分）　白茯苓（四分）　黃連（二分）</p>
<p>上為末，每服二三錢，水煎。</p>
<p><u>七味白朮散</u>　治吐瀉，或病後津液不足，口乾作渴。</p>
<p>人參　白朮　木香　白茯苓　甘草（炙）　霍香葉（各一錢）　乾葛（二錢，能鼓胃氣上行，生津液，陽明經藥也。）</p>
<p>上為末。每服二三錢，水煎。</p>
<p>薛按：胃傷則嘔，脾傷則瀉，故用前藥調補胃氣，以化生津液不足者。用四君子湯尤效。</p>
<p><u>秘旨補脾湯</u>　治久病面黃肌瘦，咬牙目札，頭髮稀少。誤服所致。</p>
<p>人參　白朮（各一錢）　白芍藥（酒炒）　白茯苓（各八分）　陳皮　川芎（各六分）　甘草（炙）　黃耆（蜜炙）　當歸（酒洗，各四分）</p>
<p>上每服二三錢，姜水煎。</p>
<p><u>瀉白散</u>　治肺經實熱，咳嗽痰喘。</p>
<p>桑根白皮（炒，瀉肺氣之有餘。有餘者，邪有餘也）　地骨皮（各一兩）　炙甘草（五錢）</p>
<p>上為末，每服一二錢，入粳米（百粒，水煎。）</p>
<p>薛按：《活人方》云：喘者，肺氣有餘也。氣盛當認作氣衰，有餘當認作不足。肺氣盛者，乃肺中之火盛也；有餘者，肺中之邪有餘也。故用前藥以瀉之。若土虛不能生肺，用補中益氣湯。火來剋金，用人參平肺散。腎水奪母之氣，或陰火上炎，用地黃丸。若肺虛肝木乘侮，先用阿膠散，後用瀉青丸，若因乳母肺經受症，致兒為患，母服前散。若因乳母感冒風寒，肺經鬱熱，致兒為患，用十味參蘇飲。若因乳母膏粱醇酒積熱，致兒為患，用加味清胃散。</p>
<p><u>阿膠散</u>　治肺虛咳嗽，口乾作渴。</p>
<p>明阿膠（一兩，麵炒，能補氣不足）　甘草（炙，一錢）　馬兜鈴（五錢，主肺熱咳嗽，清肺補肺）　糯米（一兩）　杏仁（七個，去皮尖，下喘，用治氣也）　鼠黏子（二錢五分）</p>
<p>上為末。每服二錢，水煎。</p>
<p>薛按：前症若因脾胃弱而肺氣虛者，宜用補中益氣湯。若肺金自虛者，宜用四君子湯。</p>
<p><u>地黃丸</u>　治腎虛解顱，或行遲、語遲等症。</p>
<p>熱地黃（八錢，酒洗，益腎水真陰，補血虛）　山茱萸肉（補腎益精）　乾山藥（各四錢，涼而能補）　澤瀉（補陰，入腎經）　牡丹皮（涼腎，瀉陰中之火，治足少陰無汗之骨蒸）　白茯苓（各三錢，入壬癸）</p>
<p>上地黃杵膏，余為末，加煉蜜，丸桐子大。每服二三十丸，空心白湯下。</p>
<p>薛按：前丸治腎經虛熱作渴，小便淋秘，痰氣上壅；或肝經血虛，燥熱風客，淫氣面熊，瘰癧結核，或四肢發搐，眼目瞤動；或肺經虛火，咳嗽吐血，頭目眩暈，或咽喉燥痛，口舌瘡裂；或心經血虛有火，自汗盜汗，便血諸血；或脾虛濕熱，下刑于腎，腰膝不利，或疥癬瘡毒等症，並用前藥為主，而佐以各臟之藥。大抵此藥為天一生水之劑，若稟賦不足，肢體瘦弱，解顱失音；或畏明下竄，五遲五軟，腎疳肝疳；或早近女色，精氣虧損，五臟齊損，凡諸虛不足之症，皆用此以滋化源，其功不能盡述。</p>
<p><u>四君子湯</u>　治脾氣虛弱，飲食不化，腸鳴泄瀉，或嘔穢吐逆。</p>
<p>人參　白茯苓　白朮　甘草（炙，各五分）</p>
<p>上水煎服。</p>
<p><u>四物湯</u>　治肝經血虛發熱，日哺益甚，或煩躁不寐。</p>
<p>當歸　熟地黃（各二錢）　白芍藥（一錢）　川芎（五分）</p>
<p>上作二劑，水煎服。</p>
<p><u>八珍湯</u>　治氣血俱虛，或因失血過多，或因克伐元氣，以致內熱發熱，肢體瘦瘁。即四物四君子二湯合服。</p>
<p><u>十全大補湯</u>　治氣血虛熱，或因病後惡寒發熱，或自汗盜汗，食少體倦，或發熱作渴，頭痛眩運等症。即八珍湯加黃耆、肉桂。</p>
<p><u>六君子湯</u>　治脾胃虛弱，體瘦面黃；或久患瘧痢，不思乳食；或嘔吐泄瀉，飲食不化；或時患飲食停滯；或母有前症，致兒為患。</p>
<p>人參　白朮　茯苓（各二錢）　陳皮　半夏　甘草（炙，各一錢）</p>
<p>上每服二三錢，薑棗水煎。</p>
<p><u>補中益氣湯</u>　治中氣不足，困倦發熱；或元氣虛弱，感冒風寒諸症；或乳母勞役發熱，致兒為患。</p>
<p>黃耆（炙）　人參　白朮（炒）　甘草（炙）　當歸　陳皮（各五分）　升麻　柴胡（各二分）</p>
<p>上薑棗水煎。</p>
<p><u>香砂助胃膏</u>　治胃寒吐瀉，乳食不化。</p>
<p>人參　白朮（炒）　白茯苓（各五錢）　甘草（炙）　丁香（各一錢，去胃中寒）　砂仁（四十個，下氣消食）　白豆蔻（十四個，寬胃，暖脾胃，進食）　肉豆蔻（四個，煨。溫中補脾，下氣運化，非比香附、陳皮之快泄也）　乾山藥（一兩）</p>
<p>上為末，煉蜜丸，芡實大。每服二三丸。米飲磨化。</p>
<p><u>人參養胃湯</u>　治外感風寒，內傷生冷，寒熱如瘧，或嘔逆噁心。（平胃散中用厚朴，佐以蒼朮，正為泄上焦之濕，平胃土，不使太過，而致其和耳，非溫補脾胃也。）</p>
<p>人參　厚朴（薑製）　蒼朮（制，發汗）　半夏（湯泡）　草果仁（虛弱不能者宜此）　藿香　茯苓（各五錢，調胃）</p>
<p>上每服二三錢，姜三片，烏梅一個，水煎。</p>
<p><u>大蕪荑湯</u>　治小兒脾疳，少食發熱，作渴，大便不調，發黃脫落，面黑便清，鼻下生瘡，能乳嗜土等症。</p>
<p>蕪荑　山梔（各五分）　黃柏　甘草（炙）　黃連　防風（各二分）　麻黃　羌活　柴胡（各三分）　白朮　茯苓　當歸（各四分）</p>
<p>上作二劑，水煎。</p>
<p><u>肥兒丸</u>　治食積五疳，頸項結核，發稀成穗，發熱作渴等症。</p>
<p>黃連（炒）　神麯（炒）　木香（各一兩五錢）　檳榔（二十個，破滯氣）　肉豆蔻（二兩，炮）　使君子（酒浸）　麥芽（炒，各四兩）</p>
<p>上為末，麵糊丸，麻子大。每服三五十九，米飲下。良久用五味異功散一服，以助胃氣。</p>
<p><u>九味蘆薈丸</u>　治小兒肝脾疳積，體瘦熱渴，大便不調，或瘰癧結核，耳內生瘡等症。</p>
<p>蘆薈　胡黃連　黃連　木香　蕪荑（炒）　青皮　白雷丸　鶴蝨草（各一兩）　麝香（三錢）</p>
<p>上為末，蒸餅糊丸，麻子大。每服一二錢，空心白湯下。</p>
<p><u>黃連丸</u>　治疳勞。</p>
<p>黃連（五錢，膽汁浸，曬）　瓜蔞根　烏梅肉　杏仁（浸去皮，培）　石蓮（各二錢）</p>
<p>上為末，牛膽汁糊丸，麻子大。每服一二十丸，煎烏梅、薑、蜜湯下。</p>
<p><u>木香丸</u>　治冷疳。</p>
<p>木香　青黛　檳榔　肉豆蔻　麝香（各一錢五分）　續隨子（一兩，去油）　蝦蟆（三個，燒存性）</p>
<p>上為末，蜜丸，綠豆大。每服三五丸，煎薄荷湯下。</p>
<p>愚按：前方消疳清熱，逐水破氣之劑。然云冷疳者，乃陽氣虛而脾胃冷也。其檳榔續隨子，恐導損真陰，克伐陽氣，治者審之。</p>
<p><u>胡黃連丸</u>　治熱疳。</p>
<p>胡黃連　黃連（各五錢）　硃砂（二錢，另研）</p>
<p>上為末，填入豬膽內，以線扎，懸掛銚中，淡漿水煮數沸取出，研入蘆薈、麝香各二錢，飯和丸，麻子大。每服一二十丸，米飲下。</p>
<p>愚按：前症當以本方為主，佐以四君子加蕪荑。脾胃虛甚者，以四君子加蕪荑為主，以前丸為佐。</p>
<p><u>如聖丸</u>　治冷熱疳瀉。</p>
<p>使君子（取肉，一兩）　胡黃連　川黃連　白蕪荑（炒，各二兩五錢）　麝香（五分，另研）　干蝦蟆（五個，酒煮作膏）</p>
<p>上為末，以蝦蟆膏杵丸，麻子大。每服一二十丸，煎人參湯下。</p>
<p>薛按：疳之為患，乃肝脾虛熱，津液乾涸之症。前方乃專於治肝清熱之劑，若脾胃虛弱者，當佐以六君子湯，調補脾胃，使邪氣退，庶可取全功也。</p>
<p><u>蘭香散</u>　治鼻疳赤爛。</p>
<p>蘭香葉（二錢，燒灰）　銅青　輕粉（各五錢）</p>
<p>上為末，干貼。</p>
<p><u>白粉散</u>　治諸疳瘡。</p>
<p>海螵蛸（三分）　白及（二分）　輕粉（一分）</p>
<p>上為末。先用漿水洗，拭乾貼。</p>
<p>薛按：前二方治表之藥。如未愈，用四味肥兒丸，以治其內。</p>
<p><u>四味肥兒丸</u>　治食積脾疳，目生雲翳，口舌生瘡，牙根腐爛，發熱瘦怯，遍身生瘡。又治小便澄白，腹火青筋，一切疳症。</p>
<p>黃連（炒）　蕪荑（炒）　神麯　麥芽（炒，各等分）</p>
<p>上為末，水糊丸，桐子大。每服一二十丸，空心白滾湯下。</p>
<p><u>蟾蜍丸</u>　治無辜疳症。一服虛熱退，二服煩渴止，三服瀉痢愈。</p>
<p>蟾蜍（一枚，夏日溝邊中，取腹大不跳不鳴身自痼者）</p>
<p>上取糞蛆一杓，置桶中，以尿浸之，卻將蟾蜍跌死，投與蛆食一晝夜，用布袋盛蛆，置急流中一宿，取出瓦上焙乾為末，入麝香一匙，粳米飯丸，麻子大。每服二三十丸，米飲下，其效如神。</p>
<p><u>蕪荑散</u>　治蟲動口內流涎。</p>
<p>白蕪荑　乾漆（炒，各等分）</p>
<p>上為末。每服五六分，米飲下。</p>
<p><u>安蟲散</u>　治蟲動心痛。</p>
<p>胡粉（炒黃）　檳榔　川楝子　鶴蝨（各三錢）　枯白礬（二錢五分）</p>
<p>上為末，每服五六分，痛時米飲調下。</p>
<p>薛按：蟲動之因，多屬胃氣虛弱，或聞飲食氣味而動。前二方乃化蟲之劑，若因脾胃虛弱者，須當調補中氣。</p>
<p><u>使君子丸</u>　治臟腑虛滑，及疳瘦下利，腹脅脹滿，不思乳食。</p>
<p>使君子（肉，一兩，麵煨）　甘草（炙）　訶子肉（半生半煨）　厚朴（薑汁炙）　青黛（各五錢）　陳皮（二錢五分）</p>
<p>上為末，煉蜜丸，芡實大。每服三五丸，米飲化下。</p>
<p><u>白玉散</u>　治丹瘤。</p>
<p>白土（三錢五分）　寒水石（五錢）</p>
<p>上為末，用米醋或新水調塗。</p>
<p>薛按：前方性味寒涼，六腑受患，毒發於表，二便調和，乳食如常，固為可用。若胃氣虛弱者，反凝滯瘀血，益增其患重者須吮毒血，各聚於一處，砭出以泄之。遍身者當隨其患處，各吮聚砭之，更服仙方活命飲。大便不通者，更加大黃。如不應，用大連翹飲。治法雖多，無如砭之法為良。百日內患者難治。</p>
<p><u>神功散</u>　治瘡瘍腫臖作痛。未成者敷之即散。已潰者敷之即愈。丹瘤用之尤妙。</p>
<p>黃柏（炒）　草烏（炒）　血竭（各等分）</p>
<p>上為末，調敷患處。</p>
<p><u>柳葉散</u>　治熱毒口瘡。</p>
<p>黃柏（炒）　蒲黃　青黛（真正者）　人中白（煅，各等分）</p>
<p>上為末敷之。</p>
<p><u>仙方活命飲</u>　治一切瘡毒，未成內消，已成即潰。此消毒排膿止痛之聖藥也。（若膿出而腫痛不止者，元氣虛也，當補之。）</p>
<p>穿山甲　白芷　防風　沒藥　甘草　赤芍藥　當歸尾　乳香　天花粉　貝母（各一錢）　金銀花　陳皮（各三錢）　皂角刺（一錢）</p>
<p>上每服二三錢，酒水各半煎。</p>
<p><u>塌氣丸</u>　治肚腹虛脹。</p>
<p>胡椒（一兩）　蠍尾（五錢，去毒）</p>
<p>上為末，麵糊丸，粟米大。每服一二十丸，陳米飲下。</p>
<p>薛按：前症屬脾肺虛，水氣泛而喘急浮腫，必兼溫補脾土，以生肺金，而氣自運行矣。但前藥性屬辛熱，雖能祛散寒邪，而恐真氣反傷，不可過劑。</p>
<p><u>消積丸</u>　治食積，大便酸臭發熱。</p>
<p>丁香（九個）　縮砂（十二個）　巴豆（二粒，去皮、心、膜）　烏梅肉（三個）</p>
<p>上為末，麵糊丸，黍米大。每服五七丸，溫水下。</p>
<p>薛按：前症若食積既去而熱不退，或作嘔少食，宜用五味導功散，以補胃氣。或用四君子加半夏、藿香，以安中氣。若兼泄瀉，用六君子湯。如不應，加升麻、柴胡，以升補脾氣。若久瀉不已，宜用補中益氣湯，以升補陽氣。若虛寒，加炮薑、木香。如不應，兼以四神丸，以補脾腎。若體瘦潮熱，口渴，大便不調，宜用肥兒丸，以消疳積。</p>
<p><u>保和丸</u>　治食積。</p>
<p>山楂（二兩）　神麯（二兩）　半夏　茯苓（各一兩）　陳皮　連翹　蘿蔔子（各五錢）</p>
<p>上為末，粥糊丸桐子大。每服一二十丸，白湯下。</p>
<p><u>清中解鬱湯</u>　治脾氣虛弱，飲食停滯，鬱熱生痰，或身發赤暈。</p>
<p>白朮（炒）　茯苓　陳皮　山梔（炒）　山楂　神麯（炒）　麥芽（炒）　川芎　桔梗　甘草（炙，各五分）</p>
<p>上每服二三錢，水煎。</p>
<p><u>四神丸</u>　治脾腎稟虛，泄瀉不食，或不食去後不實，或乳母患此，致兒為患。</p>
<p>肉豆蔻（二兩）　補骨脂（四兩）　五味子（二兩）　吳茱萸（一兩）</p>
<p>上為末。用水二碗，生薑八兩，紅棗一百枚，煮熟，取棗肉，和未丸，麻子大。每服二三十丸，空心食前，白湯下。子母並服。</p>
<p><u>香連丸</u>　治赤白痢疾，並水瀉暑瀉。</p>
<p>黃連（淨，二十兩）　吳茱萸（去梗，十兩）</p>
<p>上先將二味用熱水拌和，入磁器內，置熱湯中，頓一日，同炒，至黃連紫黃色，去茉，用連，為末。每末四兩入木香末一兩，淡醋米飲為丸，如麻子大。每服四五十丸，白滾湯下。</p>
<p><u>五苓散</u>　治霍亂吐瀉，躁渴飲水，小便不利。</p>
<p>澤瀉（五錢）　豬苓　官桂　赤茯苓　白朮（各二錢）</p>
<p>上為末。每服一二錢，白湯調下。</p>
<p>薛按：前症若津液偏滲於大腸，大便瀉而小便少者，宜用此藥分利。若陰陽已分而小便短少者，此脾肺氣虛而不能生水也，宜用補中益氣湯加麥門、五味。虛火上炎，而小便赤少者，此肺氣受傷而不能生水也，用地黃丸加麥門、五味。</p>
<p><u>大黃丸</u>　治風熱便閉，飲水。</p>
<p>川芎（五錢）　甘草（炙，二錢五分）　黑牽牛（五錢，半生半炙）　大黃（一兩，酒洗，蒸曬）</p>
<p>上為末，糊丸，麻子大。每服數丸，溫蜜水下。</p>
<p>薛按：前方乃內疏之峻劑，審其因果，屬臟內實熱方可用。</p>
<p><u>白虎湯</u>　治傷暑煩躁，身熱痰盛，頭痛，口燥大渴。</p>
<p>知母（一兩五錢）　石膏（四兩）　白粳米（八錢）　甘草（炙，五錢）</p>
<p>上為末，每服一二錢，水煎。</p>
<p><u>羌活散</u>　治風邪所傷，頭目昏眩，痰涎壅滯，肢節煩疼。</p>
<p>羌活　前胡　麻黃　白茯苓　川芎　黃芩　甘草（炙）　蔓荊子　枳殼（麩炒）　細辛　石膏（另研）　菊花　防風（各兩）</p>
<p>上為末。每服一二錢，水煎。</p>
<p><u>地骨皮散</u>　治壯熱作渴</p>
<p>地骨皮　茯苓　甘草　柴胡　半夏　人參　知母（各等分）</p>
<p>上為末。每服一二錢，水煎。</p>
<p><u>大羌活湯</u></p>
<p>羌活　獨活　防己　防風　黃芩　黃連　蒼朮　白朮　甘草（炙）　川芎　細辛（各二錢）　知母　生地黃（各一錢）</p>
<p>上為末，每服一二錢，水煎，熱服。</p>
<p><u>人參羌活散</u>　治傷寒時氣，頭疼發熱。</p>
<p>人參　羌活　獨活　柴胡　前胡　桔梗　茯苓　枳殼（麩炒）　川芎　天麻　地骨皮　甘草（炒，二分）</p>
<p>上入薄荷三葉，水煎</p>
<p>薛按：前方乃解肌發表，化痰利氣之劑。然元氣虛者，宜用清肺散。</p>
<p><u>秘旨清肺散</u>　治感冒發熱，鼻流清涕，或咳嗽吐痰。輕者勿藥自愈，重者用此輕和之劑。</p>
<p>橘紅　半夏（炮）　桔梗（炒）　川芎（各五分）　白茯苓　桑白皮（蜜炙，各七分）　甘草（炙）　防風（各四兩）　薄荷　枯黃芩（炒，各三分）　白朮（一錢）</p>
<p>上每服二三錢，姜水煎。</p>
<p>薛按：前症若風邪退而痰熱不止，但健中氣，則痰自化，而病自愈。若專用化痰利氣，則中氣愈虛，痰熱愈盛矣。</p>
<p><u>敗毒散</u>　治傷寒時氣，寒熱咳嗽。</p>
<p>人參　茯苓　甘草（炒）　前胡　川芎　羌活　獨活　桔梗　柴胡　枳殼（麩炒，各等分）</p>
<p>上為末。每服一二錢，生薑、薄荷水煎。</p>
<p>薛按：《秘旨》云：小兒雖有感冒傷風，鼻塞流涕，發熱咳嗽，以降痰為主，略加微解。凡散利敗毒，非幼稚所宜。或冒輕者，不必用藥，候一二日自愈。竊謂前症，若手足冷，或腹脹脾虛也，用六君子湯加柴胡、升麻。若腹脹，或氣喘，肺虛也，用四君子湯加柴胡、升麻。蓋肺虛則腠理不密，外邪易感，發表之後，其邪既去，即補脾肺，以實其表，庶無變症矣。</p>
<p><u>百部丸</u>　治肺寒壅嗽微喘。</p>
<p>百部（炒）　麻黃（各三分）　杏仁（四十個，微炒，水煮）</p>
<p>上為末，蜜丸，皂子大。每服一二丸，薑湯下。</p>
<p><u>麻黃湯</u>　治傷風發熱，無汗，咳嗽喘急。</p>
<p>麻黃（去節，三錢，水煮去沫，漉出，曬乾）　肉桂（二錢）　甘草（炙，一錢）　杏仁（七個，去皮尖，麩炒黃，研膏）</p>
<p>每服一錢，水煎服。以汗出為度，自汗者不宜服。</p>
<p>薛按：前方乃發表出汗之劑，審其寒邪在表宜用。若邪既去，宜補脾肺，以實其表，庶風邪不能再入，往往表散之後，熱嗽不退。復行發表，多變壞症。</p>
<p><u>地黃清肺飲</u>　治肺疳咳嗽，痰唾稠黏。</p>
<p>阿膠（一錢，麩炒）　鼠黏子（二分，炒）　馬兜鈴　甘草（炙，各五分）　杏仁（七枚，去皮尖）　糯米（十粒，炒）</p>
<p>上每服一錢，水煎。</p>
<p><u>葶藶丸</u>　治傷風咳嗽，面赤身熱，痰盛喘促。</p>
<p>刮葶藶（隔紙略炒）　黑牽牛（炒）　杏仁（炒黃，研膏）　漢防己（各一兩）</p>
<p>上為末，入杏膏、蒸棗肉搗丸，麻子大。每服十丸，薑湯下。</p>
<p>薛按：前方行氣導濕之峻劑，若脾胃虛熱而致諸症者，當調補中氣為主。若果系前症，宜用惺惺散、參蘇飲、清肺丸、茯苓半夏湯，選用之。</p>
<p><u>惺惺散</u>　治傷寒時氣，風熱痰壅咳嗽。</p>
<p>桔梗　細辛　人參　甘草（炙）　白茯苓　白朮（炒）　瓜蔞根（各等分）</p>
<p>上為末。每服二錢，入薄菏五葉，水煎。</p>
<p><u>參蘇飲</u>　治感冒風寒，或腹脹少食，泄瀉嘔吐，或手足並冷，喘促痰涎。</p>
<p>人參　紫蘇　陳皮　半夏　茯苓　枳殼（炒）　桔梗（炒）　前胡　乾葛　甘草（炒，各五分）　木香（三分）</p>
<p>上為末。每服一二錢，水煎。</p>
<p><u>茯苓半夏湯</u>　治胃氣虛弱，痰涎噁心；或飲食不化，嘔吐發搐；或睡臥不寧，口流痰涎；或乳母脾胃虛弱，飲食不節，以致兒患前症，亦宜用此藥主之。</p>
<p>白朮（炒）　茯苓　半夏　神麯（炒各一錢）　大麥（炒，五錢）　陳皮　天麻（各三錢）</p>
<p>上每服一二錢，水煎。</p>
<p><u>甘桔散</u>　治咳吐熱涎，咽喉不利。</p>
<p>甘草（炒，二兩）　桔梗（一兩，米泔浸，焙）</p>
<p>上為末，每服二錢，入泡阿膠半片，水煎服。</p>
<p>薛按：前症若風熱蘊於肺而咳膿血，用桔梗湯。若心克於肺而吐痰涎，用人參平肺散。</p>
<p><u>桔梗湯</u>　治咳嗽吐膿，痰中有血，已成肺癰症。</p>
<p>桔梗（炒）　貝母　當歸（酒浸）　瓜蔞仁　枳殼（麩炒）　薏苡仁　桑白皮（炒）　百合（蒸，各一錢五分）　五味子（炒）　甜葶藶（炒）　地骨皮　知母　甘草節　防己　黃耆（炒）　杏仁（各五錢）</p>
<p>上每服一二錢，水煎。</p>
<p><u>人參平肺散</u>　治心火克肺，咳嗽喘嘔，痰涎壅盛，胸膈痞滿。</p>
<p>人參　橘紅　甘草（炙）　地骨皮（各五分）　茯苓　知母（炒，各七分）　五味子（炒）　青皮　天門冬（各四分）　桑白皮（炒，一錢）</p>
<p>上每服一二錢，水煎。</p>
<p><u>小柴胡湯</u>　治傷寒溫熱，患身熱惡風，頭痛項強，四肢煩疼，寒熱往來，嘔噦痰實，及治中暑病瘧。</p>
<p>柴胡（八錢）　半夏（湯泡）　黃芩　人參（各三錢）　甘草（炙，二錢）</p>
<p>上每服一二錢，薑棗水煎。</p>
<p><u>加味小柴胡湯</u>　治乳母肝火發熱等症，致兒為患。即小柴胡加山梔、牡丹皮。水煎，子母並服。以下仿此。</p>
<p><u>加味逍遙散</u>　治乳母肝脾氣血虛弱發熱，致兒為患。</p>
<p>當歸　白朮　茯苓　芍藥（炒黃，各一錢）　柴胡　牡丹皮　山梔（炒）　甘草（炒，各五分）</p>
<p>上水煎服。</p>
<p><u>柴術參苓湯</u>　治肝火血熱，遍身瘙癢，或起赤暈，或筋攣結核。</p>
<p>白朮（炒）　人參　茯苓（各一錢）　柴胡　川芎　山梔　芍藥（炒）　甘草（炒，五分）　熟地黃（制）　當歸（各八分）</p>
<p>上水煎服。</p>
<p><u>芍藥參苓散</u>　治肝木克脾土，目札面青，食少體倦。</p>
<p>芍藥（炒）　人參　茯苓　白朮　陳皮（各七分）　柴胡　山梔　甘草（炒，各五分）</p>
<p>上水煎服。</p>
<p><u>梔子清肝散</u>　治三焦或足少陽經風熱，耳內作癢生瘡，或出水疼痛。</p>
<p>柴胡　梔子（炒）　牡丹皮（各一錢）　茯苓　川芎　芍藥　當歸　牛蒡子（炒，各七分）　甘草</p>
<p>上水煎服。</p>
<p><u>龍膽瀉肝湯</u>　治肝經濕熱，或囊癰便毒，小便澀滯。</p>
<p>龍膽草（酒炒，五分）　車前子（炒）　木通　當歸尾　澤瀉（各三分）　甘草　黃芩　生地黃　山梔（各三分）</p>
<p>上水煎服。</p>
<p><u>茵陳湯</u>　治身熱鼻乾汗出，二便赤澀，濕熱發黃。</p>
<p>茵陳（六錢）　梔子（二個）　大黃（二錢）</p>
<p>上每服一錢，水煎。</p>
<p><u>大連翹飲</u>　治積熱大小便不利，或痘後餘毒，肢體患瘡，或丹瘤遊走不止。</p>
<p>連翹　瞿麥　荊芥　木通　赤芍藥　當歸　防風　柴胡　滑石　蟬退　甘草（各一錢）　山梔（炒）　黃芩（炒，各五分）</p>
<p>上每服一二錢，水煎。</p>
<p><u>清涼飲</u>　治消中能食而瘦，口乾自汗，大便結燥，小便頻數。</p>
<p>羌活　柴胡　炙甘草　知母（酒製）　黃耆　黃芩（酒製，各二錢）　生甘草　防己　生地黃（酒製）　防風（各五分）　當歸（六分）　紅花（少許）　桃仁（五個）　杏仁　升麻（四分）　石膏　黃柏　龍膽草（各一錢五分）</p>
<p>上每服一二錢，水煎，入酒少許服。</p>
<p><u>四順清涼飲</u>　治臟腑有熱，煩赤作渴，四肢驚掣，大便秘澀；或風熱結核，頭面生瘡。目赤咽痛，一切有餘之症。</p>
<p>赤芍藥　當歸　甘草　大黃（各等分）</p>
<p>上每服一錢，水煎。</p>
<p><u>黃連香薷飲</u></p>
<p>香薷（四兩）　厚朴（二兩）　黃連（一兩）</p>
<p>上每服一二錢。將樸、連同生薑炒，令紫色，入香薷，水酒各一盞，煎，冷服。</p>
<p><u>金匱加減腎氣丸</u>　治脾腎虛，腰重腳腫，小便不利；或肚腹腫脹，四肢浮腫；或喘急痰盛，已成蠱者。此症多因脾胃虛弱，治失其宜，元氣復傷而變者，非此藥不救。</p>
<p>白茯苓（三兩）　附子（炮，五錢）　川牛膝　肉桂　澤瀉　車前子　山茱萸　山藥　牡丹皮（各一兩）　熟地黃（四兩，搗碎，酒拌杵膏）</p>
<p>上為末，和地黃膏，加煉蜜，杵丸，桐子大。每服一二十丸，空心米湯下。</p>
<p><u>五色丸</u>　治五癇。</p>
<p>硃砂　真珠（各五錢）　水銀　雄黃（各一錢）　黑鉛（三兩，同水銀結成砂）</p>
<p>上為末，煉蜜丸，麻子大。每服三四丸，煎金、銀、薄荷湯下。</p>
<p>愚按：前症有因驚、因風、因食之不同，雖痰迷心竅，然當補脾氣為主。</p>
<p><u>斷癇丹</u>　治癇差後變症不止。</p>
<p>黃耆（蜜炙）　釣藤鉤　細辛　甘草（炙，各五錢）　蟬退（三寸，酒炙）　蟬蛻（去土，四個）　牛黃（一匙，另研）</p>
<p>上為末，煮棗肉為丸，麻子大。每服五七丸，人參煎湯下。</p>
<p><u>宣風散</u>　治驚風。</p>
<p>檳榔（二個）　陳皮　甘草（各五錢）　牽牛（四兩，半生半炒）</p>
<p>上為末。每服三五分，蜜湯調下。</p>
<p>愚按：肝氣為陽為火，肝血為陰為水。故肝氣熱則生風，風熱博則驚搐，而肝血必損也。然有餘當認為不足，若屢服利驚宣風之劑，未免虧損脾胃，以成慢驚矣。慎之。</p>
<p><u>褊銀丸</u>　治風涎膈熱，及乳食不消，腹脹喘促。</p>
<p>巴豆　水銀（各五錢）　京墨（八錢，火燒，醋淬研）　黑鉛（二錢半，水銀煎）　麝香（五分，另研）</p>
<p>上為末，陳米粥丸，綠豆大。每服二三丸，煎薄荷湯下。</p>
<p>愚按：前方治癲癇驚搐，消積下痰之藥也。其用牽牛、巴豆等，蓋以痰飲癖積，結聚堅固，非此不能除故。潔古先生云：為斬關奪旗之將，形病俱實者用之，誠有回生起死之功。必須詳審，不可輕率。</p>
<p><u>牛黃丸</u>　治驚熱消疳積。</p>
<p>雄黃（研，水飛）　牽牛（各一錢）　天竺黃（二錢）</p>
<p>上為末，麵糊丸，粟米大。每服五七丸，薄荷水下。</p>
<p><u>紫霜丸</u>　治驚積。</p>
<p>代赭石（二錢，水飛）　杏仁（二十一個，去皮尖）　巴豆（二十一粒，去皮、心、膜）</p>
<p>上為末，飯丸，粟米大。每服五七丸，煎皂角仁湯下。</p>
<p><u>利驚丸</u>　治急驚。</p>
<p>天竺黃（二錢）　輕粉　青黛（各一錢）　黑牽牛（炒，五錢）</p>
<p>上為末，煉蜜丸，豌豆大。每歲一丸，薄荷水下。</p>
<p><u>白餅子</u>　治腹中有癖，但飲乳，嗽而吐痰涎。</p>
<p>滑石　輕粉　半夏（湯浸，焙）　南星（各一錢）　巴豆（二十四粒，去皮煎，水煮，另研）</p>
<p>上為末，糯米飯丸，綠豆大，捻作餅。每服二三餅，煎蔥白湯下。</p>
<p>薛按：前四方乃斬關奪門，起死回生之重劑也，必審形病俱實，方可施之。恐至失手，命在反掌。經云：邪之所湊，其氣必虛。留而不去，其病乃實。實者，病氣實而形氣則虛也。東垣先生云：形病俱實者，當瀉不當補；形病俱虛者，當補不當瀉。治者審焉。</p>
<p><u>涼驚丸</u>　治驚疳。</p>
<p>龍膽草（炒焦）　防風　青黛（各三錢）　釣藤鉤（二錢）　黃連（炒，一錢二分）　龍腦（一錢）　牛黃　麝香（各二分）</p>
<p>上為末，麵糊丸，粟米大。每服十丸，煎金銀花湯下。</p>
<p>薛按：前丸心肝二經清熱祛風，化痰散氣之寒劑。蓋疳者津液乾涸之症，不宜多服，恐傷胃氣，無以滋腎水生肝血也。</p>
<p><u>羌活膏</u>　治脾虛肝熱，熱盛生風，或吐瀉，或誤藥，變為慢驚症。</p>
<p>羌活　川芎　人參　白附子（炮）　赤茯苓（各五錢）　天麻（一兩）　白殭蠶（酒炒）　乾蠍（炒，去毒）　白花蛇（肉，酒浸，焙乾）　雄黃　辰砂（各另研，一分）　附子（炮）　防風　麻黃（去節）　肉豆蔻　雞舌香　藿香葉　沉香　木香（各二錢）　輕粉　真珠　牛黃（各一錢五分）　龍腦（二分）　麝香（一錢，各另研）</p>
<p>上為末，煉蜜丸，豆大。每服一二丸，薄荷湯下。</p>
<p>薛按：前方藥味雜亂，果脾氣虛而成慢驚者，當審用之。恐發散真氣，重損陰血故也。</p>
<p><u>抱龍丸</u>　治傷風溫疫，身熱昏睡，風熱痰實壅嗽。又治驚風潮搐，及蠱毒中暑。</p>
<p>雄黃（二錢五分）　辰砂（五分，另研）　天竺黃（一兩）　牛膽南星（四兩）　鹿香（五分，另研）</p>
<p>上為末，甘草湯丸，皂子大。每服一丸，白湯化下。</p>
<p>薛按：前丸化痰祛邪，清熱之功居多；屬肝心實熱而致者用之。殊效。若脾肺虛弱，而見昏睡痰嗽，當用寶鑑天麻散，以調補元氣。</p>
<p><u>小續命湯</u>　治中風不省人事，涎鳴失音，肢體反張，或時厥冷。</p>
<p>麻黃（去節）　人參　黃芩　川芎　芍藥　甘草（炒）　杏仁（去皮尖，研）　漢防己　官桂（各五錢）　防風（七錢五分）　附子（炮，去皮臍，二錢）</p>
<p>上各另為末，和勻。每服一錢，薑、棗、水煎。有熱減桂、附。</p>
<p><u>寶鑑天麻散</u>　治急驚脾胃虛弱，或變慢驚者。</p>
<p>半夏（七錢）　天麻（二錢五分）　甘草（炙）　白茯苓　白朮（各二錢）</p>
<p>上入生薑三錢，磁器內水煮，候乾為末。每服一錢五分，姜煎湯調下。</p>
<p><u>釣藤鉤飲</u>　治吐利，脾胃虧損，虛風慢驚。</p>
<p>釣藤鉤（三分）　蟬殼　防風（炒）　人參　麻黃　白殭蠶（炒）　天麻　蠍尾（去毒，炒，各五錢）　甘草（炙）　川芎（各二錢五分）　麝香（一錢，另研）</p>
<p>上為末。每服一二錢，水煎。</p>
<p>薛按：慢驚之症，屬脾胃虧損所致。前方乃辛溫散表之藥，而無調補之功，須審用之。</p>
<p><u>大青膏</u>　治傷風吐瀉，身溫涼熱。</p>
<p>天麻　青黛（各一錢）　白附子　乾蠍（去毒）　烏稍蛇（肉，酒浸，焙）　硃砂（五分）　天竺黃（二錢）　麝香（二分）</p>
<p>上為末，生蜜和青。每服一豆粒許，月中兒用半粒，薄荷湯化服。</p>
<p>愚按：大青膏乃表散之劑也。必外邪蘊結於肺，而肺氣之未損者，乃可施之。況前症屬脾肺氣虛，而邪之所湊，必以固脾胃為主。否則虛虛之禍，恐不能免矣。</p>
<p><u>溫白丸</u>　治泄瀉瘦弱，冷疳洞利，及久病而成慢驚。</p>
<p>天麻（五分）　白殭蠶（炮）　白附子　乾蠍（去毒）　天南星（湯炮焙，各二錢五分）</p>
<p>上為末，麵糊丸，綠豆大，每服十丸，米飲下。</p>
<p>愚按：前症屬脾氣虛寒，無陽之症，無風可散，兼痰可逐，當兼用六君子湯、十二味異功散、木香散。</p>
<p><u>參耆四聖散</u>　治痘瘡已出，至六七日，不起發，不成膿。</p>
<p>人參　黃耆（炒）　白朮（炒）　茯苓　當歸　芍藥（炒）　川芎（各五分）　柴草　木通　防風（各三分）　糯米（二二百粒）</p>
<p>上作二劑，水煎服。</p>
<p><u>陳氏木香散</u></p>
<p>木香　大腹皮　人參　桂心　赤茯苓　青皮　前胡　訶黎勒　半夏（薑製）　丁香　甘草（炙，各五分）</p>
<p>上每服二三錢，姜水煎。</p>
<p>薛按：前方若痘瘡已出未愈之間，其瘡不光澤，不起發，不紅活。五七日內，泄瀉作渴，或肚腹作脹，氣促作喘；或身雖熱而腹脹，足指冷；或身熱作渴；或驚悸腹脹；或汗出不止；或寒戰咬牙，瘡不結痂。此皆脾胃虛寒，津液衰少，急用此藥治之。若誤認為實熱，用寒涼之藥，及飲蜜水、生冷瓜果之類，必不治。</p>
<p><u>十二味異功散</u></p>
<p>木香（二錢五分）　官桂（二錢）　當歸（三錢半）　茯苓　白朮（各一錢）　人參　陳皮　厚朴（薑製）　半夏（薑製）　丁香　肉豆蔻（各二錢半）　附子（炮，一錢五分）</p>
<p>上每服二三錢，薑棗水煎。</p>
<p>薛按：前方若痘瘡不光澤，不紅活，不結靨，謂之表裡俱虛，宜用此藥治之。若悶亂煩渴，吐瀉不食，腹痛腹脹，痰喘氣急，謂之表裡虛寒，急用此藥送豆蔻丸。或十日至十一日，當靨不靨，煩渴咬牙，手足並冷，飲沸湯而不知熱，此陽虛脫陷，急用此湯救之，亦有復生者。</p>
<p><u>百祥丸</u></p>
<p>紅牙大戟（陰乾，漿水煮軟去骨，復入元汁中煮）</p>
<p>上焙乾，為末，水丸，粟米大。每服十丸，赤脂麻湯下。</p>
<p>薛按：前方治痘瘡黑陷，耳⿰鼻丸冷，咬牙吐瀉者，乃脾土虛敗，寒水反侮歸腎之惡候也。用百祥丸瀉之，急以四君子加丁香、陳皮、木香、厚朴、炮姜，以溫補脾土，身熱飲水，黑陷復起，十救一二。蓋此症因脾土虛敗，寒水乘侮。陳文秀先生云：若治寒水於既侮之後，何不保脾土於未敗之先。此發前人之未發。況前藥必藉脾胃之氣運及於腎，而才瀉之。吾恐胃氣先傷，而莫能及。然非錢公之明見不敢投，非古昔之元氣不敢用。治者審焉。</p>
<p><u>牛李膏</u>　治痘瘡黑陷</p>
<p>牛李子</p>
<p>上杵汁，石器內熬膏。每服皂子大，煎杏膠湯化下。</p>
<p><u>雄黃散</u>　治痘後牙齦生疳蝕瘡。</p>
<p>雄黃（一錢）　銅綠（二錢）</p>
<p>上同研細，量瘡大小，於糝其上。</p>
<p><u>化毒丹</u>　治胎毒，及痘後頭面生瘡，眼目腫痛。</p>
<p>生地黃　熟地黃　天門冬　麥門冬　玄參（各二兩）　甘草　甜硝（各二兩）　青黛（一兩五錢）</p>
<p>上為末，煉蜜丸，芡實大。每服一丸，白湯化下。</p>
<p>薛按：前方生血涼血，解毒寒中之劑。用之得宜，殊有良驗。</p>
<p><u>栝樓湯</u>　治慢驚。</p>
<p>栝樓根（二錢）　白甘遂（一錢）</p>
<p>上慢火炒黃為末。每服二三分，煎薄荷、麝香湯下。</p>
<p>薛按：徐用誠云：錢氏治慢驚用栝蔞湯，恐傳寫誤耳。蓋驚主風木，甲木屬陽，病急易治；乙木屬陰，病緩難治。況小兒五臟之氣未實，神氣未充，而自病慢驚之症，非病後及吐瀉脾胃虛損而得者，慎匆用此峻厲之劑。</p>
<p><u>溫驚丸</u>　治慢驚風症。</p>
<p>牛膽　南星（四兩）　硃砂（一錢五分）　天竺黃（五錢）　龍腦（一錢）　紫胭脂（一錢）</p>
<p>上各另為末，用黃牛膽汁丸，芡實大。每服半丸，砂糖湯化下。</p>
<p>薛按：慢驚屬脾胃無陽，肝木所勝之寒症，故用溫驚丸以溫之。但所用之藥，乃辛散陽氣祛逐痰涎，治者審之。</p>
<p><u>人參理中丸</u>　治中氣虛熱。</p>
<p>人參　白朮（炒）　甘草（炙，各等分）</p>
<p>上為末，薑汁糊丸，綠豆大。每服二三十丸，白湯下。</p>
<p><u>調中丸</u>　治脾胃虛寒。</p>
<p>白朮　人參　甘草（炒，各五錢）　乾薑（炮，四錢）</p>
<p>上為末，用蜜丸，綠豆大。每服二三十丸，白湯下。</p>
<p>薛按：前二方，本經自病之藥，即人參理中丸也。若腎水侮土而虛寒者，當加半夏、茯苓、陳皮。或嘔吐，更加藿香。泄瀉加木香。</p>
<p><u>張氏溫脾散</u>　治脾胃虧損，腹脅虛脹，乳食不進，困倦無力。</p>
<p>訶子肉　人參（各七錢）　白朮　木香　桔梗　茯苓　藿香　陳皮　黃耆（各五錢）　甘草（炙，二錢半）</p>
<p>上每服二三錢，薑棗水煎。</p>
<p>薛按：前症治脾肺虛弱之症。若肺病已去，前症未已，但用六君子湯以調補脾胃。</p>
<p><u>歸脾湯</u>　治乳母脾經氣鬱，致兒為患。</p>
<p>人參　白朮　茯神　黃耆　龍眼肉（各二錢）　遠志（一錢）　酸棗仁　木香　甘草（炙，三分）</p>
<p>上薑棗水煎服。加柴胡、山梔，名加味歸脾湯。</p>
<p><u>越鞠丸</u>　治乳母六郁，傳兒為患。或胸滿吐酸，齒痛瘡疥等症。</p>
<p>蒼朮　神麯（炒）　香附子　山楂　山梔（炒）　撫芎　麥芽（炒，各等分）</p>
<p>上為末，水調神麯糊丸，桐子大。每服二三十丸，白滾湯下。子母並服。</p>
<p><u>清心丸</u>　治驚熱煩躁。</p>
<p>人參　茯神　防風　硃砂　柴胡（各二錢）　金箔（三十片）</p>
<p>上為末，煉蜜丸，桐子大。每服一二丸，竹瀝調下。</p>
<p><u>安神丸</u>　治邪熱驚啼，心肝壯熱，面黃頰赤。</p>
<p>麥門冬（去心，焙）　牙硝　白茯苓　乾山藥　寒水石　甘草（各五錢）　硃砂（一兩）　龍腦（二分半）</p>
<p>上為末，煉蜜丸，芡實大。每服半丸，砂糖水化下。</p>
<p>薛按：前方降火化痰，辛散寒涼之劑，不宜過服，恐反傷脾胃也。若睡中驚悸不安，宜用秘旨安神丸。若因乳母脾氣鬱熱，致兒為患者，宜用加味逍遙散。若因乳母怒氣，肝經發熱，致兒為患者，宜用加味小柴胡湯。若因乳母飲酒，胃經發熱，致兒為患者，宜用葛花解酲湯。</p>
<p><u>葛花解酲湯</u>　治乳母酒後，乳兒遺熱為患。</p>
<p>白豆蔻　砂仁　葛花（各五錢）　乾生薑　白朮　澤瀉　神麯（炒黃，各二錢）　白茯苓　陳皮　人參　豬苓（各一錢半）　木香（五分）　青皮（三錢）</p>
<p>上為末，每服二錢，白湯調服。</p>
<p>薛按：前方氣味辛散，不得已而用之耳。蓋酒病服之雖效，頻服則陰損元氣，折人長命，可不慎哉。</p>
<p><u>花大膏</u>　治夜啼。</p>
<p>燈花一夥</p>
<p>上塗乳上，令兒吮之。</p>
<p>薛按：前症有因停乳腹痛者，有因陰盛發躁者，有因寒盛腹痛者，有因乳母鬱悶，怒氣傳兒者，有因乳母停滯傳兒者，治法說見本論。</p>
<p><u>釣藤散</u>　治夜啼。</p>
<p>釣藤鉤　茯神　茯苓　川芎　木香　當歸（各一錢）　甘草（五分）</p>
<p>上為末，每服二錢，薑棗水煎。</p>
<p><u>六神散</u>　治面青啼哭，口出氣冷，或泄瀉不乳。</p>
<p>人參　山藥　白朮（各五錢）　甘草（二錢）　白茯苓　扁豆（炒，各一兩）</p>
<p>上為末，每服一錢，薑棗水煎。</p>
<p><u>當歸散</u>　治夜啼不乳。</p>
<p>當歸　白芍藥　人參（各二錢五分）　甘草（炙，一錢二分）　桔梗　陳皮（各一錢）</p>
<p>上為末，每服一二錢，水煎灌之。</p>
<p><u>蟬蛻釣藤散</u>　治肚痛驚啼。</p>
<p>釣藤　天麻　茯苓　川芎　白芍藥（各二錢）　甘草　蟬蛻（各一錢）</p>
<p>上每服一錢，燈心水煎。</p>
<p><u>羚羊角丸</u>　治行遲。</p>
<p>羚羊角　虎脛骨（醋炙黃）　生地黃（焙）　酸棗仁　白茯苓（各五錢）　肉桂　防風　當歸　黃耆（各二錢五分）</p>
<p>上為末，煉蜜成劑。每服一皂子大，白湯化下。</p>
<p><u>菖蒲丸</u>　治心氣不足，不能言語。</p>
<p>石菖蒲　赤石脂（各三錢）　人參（五錢）　丹參（二錢）　天麥門冬（各去心，一兩，焙）</p>
<p>上為末，蜜丸綠豆大。每服十丸。若病後腎虛不語，服地黃丸。</p>
<p><u>止汗散</u>　治睡而自汗。</p>
<p>故蒲扇（燒）</p>
<p>上為末，每服三錢，溫酒調下。</p>
<p><u>香瓜丸</u>　治遍身出汗。</p>
<p>胡黃連　川大黃（煨）　柴胡　鱉甲（黃醋炙）　黃柏　黃連　蘆薈　青皮（各等分）</p>
<p>上為末，將黃瓜一個，去穰納藥，煨熟，杵，和麵糊丸，綠豆大。每服三五丸，新水下。</p>
<p>薛按：自汗屬陽虛，盜汗屬陰虛。若心經血虛，用團參湯。腎經虛熱，用地黃丸。血氣虛，用人參養榮湯之類。胃氣虛，用六君子湯之類，或用一味白朮炒為末，以浮麥炒，濃煎湯，調服。</p>
<p><u>當歸六黃湯</u>　治血氣不足，虛火內動，盜汗不止。</p>
<p>當歸　熟地黃　黃耆（炒）　黃柏（已下俱炒黑）　黃芩　黃連　生地黃（各等分）</p>
<p>上每服二錢，水煎。</p>
<p><u>團參湯</u>　治心血虛熱。自汗盜汗。</p>
<p>人參　當歸（各等分）</p>
<p>上用豬心一片，每服三錢，水煎服。</p>
<p><u>耆附湯</u>　治稟賦氣虛陽弱，自汗不止，肢體倦怠，或大病後陽氣虧損，並急服之，多有生者。</p>
<p>黃耆（蜜炙）　附子（炮，等分）</p>
<p>上每服一錢，姜水煎。</p>
<p><u>參附湯</u>　治稟賦不足，上氣喘急，自汗盜汗，或病久陽氣脫陷，急宜服之。</p>
<p>人參（五錢）　附子（泡，一兩）</p>
<p>上每服一錢，　姜水煎。</p>
<p><u>人參養榮湯</u>　治脾肺俱虛，發熱惡寒，肢體瘦倦，食少作瀉；或久病虛損，口乾食少。咳而下痢，驚熱自汗。</p>
<p>白芍藥（一錢五分）　人參　陳皮　黃耆（蜜炙）　桂心　當歸　白朮（炒）　甘草（炙，各一錢）　熟地黃　五葉子（杵，炒，各七分）　遠志（五分）</p>
<p>每服二三錢，薑棗水煎。</p>
<p><u>玉露散</u>　治傷熱吐瀉黃色。</p>
<p>石膏（煅）　寒水石（各五錢）　甘草（二錢五分）</p>
<p>上為末，每服五分，白湯調下。</p>
<p>薛按：前症若飲食如常，作渴飲冷，屬胃經實熱，宜用此藥。若食少體倦，或善噫瀉黃，此脾虛色陷也，宜用六君子加柴胡、升麻。若瀉而變青，更兼腹脹，或善怒，此脾虛肝所乘也，宜用前湯，更加木香。</p>
<p><u>塗囟法</u></p>
<p>麝香　牛黃　青黛　蠍尾（去毒，分半）　薄荷（二分）　蜈蚣（一半分）</p>
<p>上為末，生棗肉杵膏，塗帛上，貼囟中，以手烘之。</p>
<p>薛按：前法辛涼發散，開竅祛風之劑，當審用之。余每以蔥頭三五莖，細切擂爛，攤紙上，以兩掌護熱，貼囟門良久，其邪即解，諸病自退。乃去其蔥，卻以緞帛寸余塗糊，仍貼囟門護之。春夏常用絹帛，秋冬用紵絲，以護貼之，永無傷風之患。亦因有母病致兒發搐者，治驗見前。</p>
<p><u>浴體法</u>　治胎肥、胎熱、胎怯。</p>
<p>烏蛇肉（酒浸，焙）　白礬　青黛（各二錢）　天麻（二錢）　蠍尾（去毒）　硃砂（各五錢）　麝香（二分半）</p>
<p>上為末，桃枝一握，水煎浴之。勿浴背。</p>
<p>薛按：前法乃開發腠理，疏泄陽氣。若小兒所稟虛怯，或妊母所致，各說見本論。</p>
<p><u>神效當歸膏</u>　治跌撲湯火等瘡，不問已潰未潰。</p>
<p>當歸　黃蠟　生地黃　麻油</p>
<p>上先將當歸、地黃入油煎黑，去渣入蠟，熔化候冷，攪勻，即成膏矣。</p>
<p><u>砭法</u>　治丹毒赤色遊走，以口吮毒，聚在一處，用細磁器擊碎，取有鋒芒者一塊，以筋劈開，頭尖夾之，用線縛定，兩指輕撲筋梢，令磁芒正封聚處，懸寸許，再用筋一根，頻擊筋頭，令毒血遇刺皆出。毒入腹者，不救。病輕者止用口吮出毒，用藥敷之。如患在頭額，不用砭法，止宜用細針倒挑患處，以出毒，其赤自退。</p>
<p><u>製附子法</u>　取附子重一兩三四錢，有蓮花瓣頭，圓底平者。先備童便五六碗，將附子放在灶上煙櫃中，良久終熱，投入童便浸五七日。候潤透，搗去皮，切四塊，仍浸二三日。用粗紙數層包之，浸濕，埋灰火半日。取出切片，檢視有白星者，仍用瓦上炙熱，至無白星為度。如急用，切作大片。用童便煮二三沸，熱瓦焙黃，熟即可用。</p>
<p><u>木瓜丸</u>　治生下吐。</p>
<p>木瓜　麝香　膩粉　木香　檳榔（各等分）</p>
<p>上為末，麵糊丸，黍米大。每服一二丸，甘草湯化下。</p>
<p>薛按：前症多因妊娘胃經有熱，或郁痰所致，當審其母而兼治之。</p>
