<header data-type="book">
<h1>集驗方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>洪遵</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1170">公元1170年</data></dd></div>
<div><dt>底本</dt><dd>《士禮居黃氏叢書》（<a href="https://ctext.org/library.pl?if=gb&res=77367">掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷第一</h1>

<h2>治傷寒時氣、溫疫初起方</h2>
<p>治傷寒時氣、溫疫，頭痛、壯熱、脈盛，始得一、二日者方。</p>
<p>真丹砂（一兩末）</p>
<p>上一味，以水一斗煮之，取一升頓服之，覆取汗，忌生冷物。（《外臺》卷一）</p>

<h2>治疫氣傷寒，三日以後不解者方</h2>
<p>好豉（一升綿裹）　蔥白（切一升）</p>
<p>上二味，童子小便五升，煮取二升，分再服，覆取汗，神效。（《外臺》卷一）</p>

<h2>治傷寒中風方</h2>
<p>治太陽中風，陽浮陰弱，陽浮者熱自發，陰弱者汗自出，嗇嗇惡寒，淅淅惡風，翕翕發熱，鼻鳴乾嘔方。</p>
<p>桂枝　芍藥　生薑（各三兩）　甘草（二兩）　大棗（十二枚擘）</p>
<p>上五味，切姜擘棗，次切余藥，以水七升，煮棗令爛，去滓，乃內諸藥，水少者益之，煮令微微沸，得三升，去滓，服一升，日三，小兒以意減之。初一服便得汗出者，後服小小闊其間，如不得汗者，小小促之，今其藥勢相及，汗出自獲，如服六物青散法。若病重者晝夜服，特須避風。若服一劑晬時不解，病證不變者，當更服之，至有不肯汗出者，服二、三劑乃愈，服此藥食頃，亦當飲熱粥以助藥力。若初得病甚，便以火發汗，火氣太過，汗出不解，煩躁不得寐，因此湯加龍骨牡蠣各三兩，減桂心、生薑各一兩，不用芍藥。若虛勞裡急，腹中痛者，取前桂枝湯二升，加膠飴一升，適寒溫分再服。若得大汗出者，只用桂枝二兩。發汗後重發汗，亡陽譫語，其脈反和者不死。發汗已解，半日許重發煩，其脈浮數，可復發汗，宜桂枝湯方。忌海藻、生蔥、菘菜等。（《外臺》卷二）</p>
<p>桂枝湯方</p>
<p>上五味，切，以水七升，煮取三升，去滓，溫服一升，須臾吃稀粥一升助藥力，覆取微汗，忌生蔥、海藻、菘菜。（《外臺》卷一）</p>
<p>神朮散，治傷寒、傷風，頭痛、體疼、惡寒、無汗方。</p>
<p>蒼朮（二錢）　荊芥　藁本　乾葛　麻黃　甘草（炙各一錢）</p>
<p>上銼作一貼，入姜三片、蔥白二莖，水煎服。（《東醫寶鑑．雜病篇》卷二）</p>

<h2>治傷寒汗出不解如瘧方</h2>
<p>服桂枝湯，大汗出後，脈洪大者，與桂枝湯如前法。若形如瘧，一日再發者，汗出便解，屬桂枝二麻黃一湯主之方。</p>
<p>桂心（一兩十七銖）　杏仁（十六枚去尖皮）　芍藥（一兩六銖）　麻黃（一十六銖去節）　生薑（一兩六銖切）　甘草（炙一兩二銖）　大棗（五枚擘）</p>
<p>上七味，切、以水五升，先煮麻黃一兩沸，掠去沫，乃內諸藥，煮得二升，去滓，溫服一升，日再。本云：桂枝湯二分、麻黃湯一分，合為二升，分再服，今合為一方，忌海藻、菘菜、生蔥。（《外臺》卷一）</p>

<h2>治傷寒胸悶、腹滿方</h2>
<p>治傷寒、溫病等三日以上，胸中滿，陶氏云：若傷寒、溫病已三、四日，胸中惡，欲令吐者，服酒膽方。</p>
<p>苦酒（半升）　豬膽（一枚）</p>
<p>上二味，和，盡服之，吐則愈，神驗。支云：去毒氣妙。（《外臺》卷一）</p>
<p>治傷寒七、八日不解，默默煩悶，腹中有糞，譫語，大柴胡湯方。</p>
<p>柴胡　半夏（湯洗各八兩）　生薑（四兩）　知母　芍藥　大黃　葳蕤　黃芩（各二兩）甘草（一兩炙）　一方加枳實（四兩）</p>
<p>上十味，切，以水一斗，煮取三升，去滓，溫服一升，日三服。忌海藻、菘菜、羊肉、餳。（《外臺》卷一）</p>
<p>生地黃湯：治傷寒有熱，虛羸少氣，心下滿，胃中有宿食，大便不利方。</p>
<p>生地黃（三斤）　大黃（四兩）　大棗（二十枚擘）　甘草（一兩炙）　芒硝（二合）上五味，合搗令相得，蒸五升米下，熟絞取汁，分再服，忌海藻、菘菜。（《外臺》卷二）</p>

<h2>治傷寒後嘔惡不食虛羸方</h2>
<p>治傷寒虛羸少氣，氣逆苦嘔吐方。</p>
<p>石膏（一斤碎，綿裹）　竹葉（一把）　麥門冬（一升去心）　人參（二兩）　半夏（一升洗）　生薑（四兩）　甘草（二兩炙）</p>
<p>上七味，切，以水一斗二升，煮取六升，去滓。內粳米一升，米熟去米，飲一升，日三服。忌海藻、菘菜、羊肉、餳。（《外臺》卷二）</p>
<p>治傷寒後，乾嘔不食，蘆根飲方。</p>
<p>生蘆根（切一升）　青竹茹（一升）　粳米（三合）　生薑（二兩切）</p>
<p>上四味，以水七升，煮取二升，隨便飲，不瘥重作。（《醫心方》卷十四）</p>
<p>梔子豉湯，治吐下後，虛羸欲死方。</p>
<p>梔子（十四枚）　豉（四合綿裹）</p>
<p>上二味，以水五升，先煮梔子，取二升，內豉又煮三、四沸，去滓，分再服。（《外臺》卷二）</p>
<p>治傷寒吐，虛羸欲死方。</p>
<p>雞子十四枚，以水五升，煮取二升，乃內豉四合，復煮兩、三沸，去豉，分再服。（《醫心方》卷十四）</p>

<h2>治傷寒後煩渴及口乾方</h2>
<p>治傷寒後，結熱在內，煩渴，青葙子丸方。</p>
<p>青葙子（五兩）　龍膽（三兩）　黃芩（一兩）　梔子仁（一兩）　苦參（一兩）　黃柏（二兩）　栝蔞（一兩）　黃連（二兩）</p>
<p>上八味，搗篩為末，蜜丸，先食服如梧子七丸，飲下日三，不知稍增，忌豬肉、冷水。（《外臺》卷二）</p>
<p>治傷寒熱病，口乾喜唾方。</p>
<p>干棗（二十枚擘）　烏梅（十枚碎）</p>
<p>二物合搗，蜜和，含如杏核大，咽其汁。（《醫心方》卷十四）</p>

<h2>治傷寒後下利膿血及發斑方</h2>
<p>治傷寒後，下利膿血，柏皮湯方。</p>
<p>黃柏（二兩）　黃連（四兩）　梔子仁（十四枚擘）　阿膠（一兩炙）</p>
<p>上四味，切，以水六升，煮三味取二升，去滓，內膠令烊，溫分再服。忌豬肉、冷水。（《外臺》卷二）</p>
<p>治傷寒熱病十日以上，發汗不解，及吐下後諸熱不除，及下利不止斑出方。</p>
<p>大青（四兩）　甘草（炙二兩）　阿膠（炙珠二兩）　豉（一升綿裹）</p>
<p>上四味，切，以水八升，煮二味，取三升半，去滓，乃內膠令溶，分溫三服，欲盡更作，當使有餘，渴者當飲，但除熱，止吐下，無毒，忌海藻、菘菜。（《外臺》卷一）</p>
<p>治傷寒五、六日，斑出以後湯方。</p>
<p>豬膽（三合）　雞子（一枚）　苦酒（三合）</p>
<p>上三物，合和，煎令三沸，強人盡服之，羸人煎六、七沸，分為兩服，取汁出為效。（《外臺》卷一）</p>

<h2>治傷寒鼻衄、喉痛、䘌瘡方</h2>
<p>傷寒鼻衄，肺間有餘熱故也，熱因衄自止，不止者方。</p>
<p>牡蠣（十分左顧者）　石膏（五分）</p>
<p>上二味，酒服方寸匕，先食，日三、四，凡衄亦可用。一方以漿服之。（《外臺》卷二）</p>
<p>治傷寒熱病，喉中痛，閉塞不通，烏扇膏方。</p>
<p>生烏扇（一斤切）　豬脂（一斤）</p>
<p>上二味，合煎，藥成去滓，取如半雞子，薄綿裹之，內口中，稍稍咽之，取瘥，忌酒，蒜等物。（《外臺》卷二）</p>
<p>又升麻湯方</p>
<p>升麻（三兩）　通草（四兩）　射干（二兩）　羚羊角（三兩屑）　芍藥（二兩）　生蘆根（切一升）</p>
<p>上六味，切，以水七升，煮取二升半，去滓，分為三服，徐徐服。（《外臺》卷二）</p>
<p>治傷寒兼䘌瘡，王叔和云：其候口唇皆生瘡，唾血，上唇內有瘡如粟者，則心中懊憹痛，如此則此蟲在上，乃食五臟，若下唇內生瘡，其人喜眠者，此蟲在下，食下部方。</p>
<p>取雞子一枚，扣頭出白，與漆一合熟和，令調如漆，還內殼中，仰吞之。食頃或半日，或下蟲，或吐蟲，劇者再服乃盡，熱除病愈。凡得熱病，腹內熱，食少，三蟲行作求食，食入五臟及下部，人不能知，可服此藥，不爾䘌蟲殺人。（《外臺》卷二）</p>

<h2>治傷寒陰陽毒方</h2>
<p>陰毒者，或傷寒初病一、二日便成陰毒，或服湯藥六、七日以上至十日變成陰毒，身重背強，腹中絞痛，喉咽不利，毒氣攻心，心下強，短氣不得息，嘔逆，唇青面黑，四肢厥冷，其脈沉細緊數，此陰毒候，身如被打，五日可治，七日不治，宜服甘草湯方。</p>
<p>甘草（二分炙）　升麻（二分）　當歸（一分）　蜀椒（一分）　鱉甲（四分）</p>
<p>凡五物，㕮咀，以水五升，煮取二升半，分三服，行五里復服，溫覆，中毒當汗，汗則愈。若不汗，病不除，重服。（《醫心方》卷十四）</p>
<p>陽毒者，或傷寒一、二日便成陽毒，或服藥吐下之後變成陽毒，身重腰背痛，煩悶不安，面赤狂言，或走、或見鬼、或吐血下利，其脈浮大數，面斑斑如錦，喉咽痛，下膿血，五日可治，七日不治，宜服升麻湯方。</p>
<p>升麻（二分）　甘草（二分炙）　當歸（一分）　蜀椒（一分去目）　雄黃（二分）　桂心（一分）</p>
<p>凡六物，㕮咀，以水五升，煮取二升半，分三服，行五里頃復服，溫覆手足，中毒則汗，汗則解，不解重作。今世有此病，此二方實未經用。（《醫心方》卷十四）</p>

<h2>治傷寒手足疼痛欲脫方</h2>
<p>治毒熱攻手足，腫疼欲脫方。</p>
<p>濃煮虎杖根，適寒溫以漬手足，入至踝上一尺。（《外臺》卷二）</p>
<p>又方</p>
<p>酒煮苦參以漬之。（《外臺》卷二）</p>
<p>又方</p>
<p>取常思草絞取汁，以漬之，一名蒼耳。（《外臺》卷二）</p>
<p>治熱病手足腫欲脫者方。兼治天行。</p>
<p>以稻穰灰汁漬之佳。（《外臺》卷二）</p>
<p>治毒熱病攻手足腫，疼痛欲脫方。</p>
<p>煮馬糞若羊糞汁漬之。（《外臺》卷二）</p>
<p>又方</p>
<p>豬膏和羊糞塗之，亦佳。（《外臺》卷二）</p>

<h2>治傷寒手足熱疼欲脫方</h2>
<p>取羊屎煮汁以淋之，瘥止，亦治時疾陰囊及莖腫，亦可煮黃柏洗之。（《外臺》卷二）</p>

<h2>治天行諸病方</h2>
<p>治天行病，上氣咳嗽，多唾黏涎，日夜不定，生薑煎方。</p>
<p>生薑（三兩，去皮切如豆粒大）</p>
<p>上一味，以餳半斤和，微煎令爛，每日無問早晚，少少含，仍嚼姜滓一時咽之。（《外臺》卷三）</p>
<p>治天行後，氣膈，嘔逆不下食，生蘆根湯方。</p>
<p>燈心（一分）　生麥門冬（十二分去心）　人參（四分切）　生蘆根（一大握切）</p>
<p>上四味，以水一大升，煎取八合，去滓，分溫三服。（《外臺》卷三）</p>
<p>治天行熱病口瘡，升麻湯方。</p>
<p>升麻（二兩）　通草（四兩）　射干（二兩）　羚羊角（三兩屑）　芍藥（三兩）　生蘆根（切一升）</p>
<p>上六味，切，以水七升，煮取三升，分為三服，如人行五里更服。（《外臺》卷三）</p>
<p>治天行熱病，口苦，下氣除熱，喉中鳴，石膏蜜煎方。</p>
<p>石膏（半斤碎）　蜜（一升）</p>
<p>上二味，以水三升，煮石膏取二升，乃內蜜復煎取一升，去滓，含如棗核許，盡更含（《外臺》卷三）</p>
<p>治天行病，腹脹滿，大小便不通，滑石湯方。</p>
<p>滑石（十四分研）　葶藶子（一合，紙上熬令紫色搗）　大黃（二分切）</p>
<p>上三味，以水一大升，煎取四合，頓服，兼搗蔥敷小腹，干即易之，效。（《外臺》卷三）</p>
<p>治天行病䘌，下部生瘡方</p>
<p>濃煮桃皮，煎如糖，以綿導下部中。若口中生瘡含之。（《外臺》卷三）</p>
<p>治天行䘌瘡方。</p>
<p>燒（馬）蹄灰，以豬脂和敷，日五、六用。（《證類本草》卷十七）</p>

<h2>治傷寒、溫病勞復食複方</h2>
<p>治大病已瘥，勞復者，枳實梔子湯方。</p>
<p>枳實（三枚，炙）　梔子（十四枚　擘）</p>
<p>上二味，以酢漿一斗，先煎取六升，煮藥取三升，內豉一升，煎五、六沸，去滓，分再服，覆取汗。如有宿食者，內大黃如棋子一枚。（《外臺》卷二）</p>
<p>治勞復大青湯方。</p>
<p>大青（四兩）　甘草（二兩，炙）　阿膠（二兩，炙）　香豉（二兩）</p>
<p>上四味，切，以水一斗，煮取三升，去滓，溫服一升，日五、六，欲盡復作，常使有湯，渴便飲，無毒，除熱止吐下。傷寒一、二日，上至十數日困篤，發汗熱不解，吐下後熱不除，止下痢甚良。先煮大青、甘草，取四升，去滓，內膠豉，膠消盡便漉去，勿令豉壞，當預漬膠令釋也，忌菘菜、海藻。（《外臺》卷二）</p>
<p>治傷寒大病瘥後，小勞便鼻衄，牡蠣散及丸方。</p>
<p>左顧牡蠣（十分，熬）　石膏（五分）</p>
<p>上二味，搗末，酒服方寸匕，日二、四，亦可蜜丸如梧子大，酒服十五丸。（《外臺》卷二）</p>
<p>治重病新瘥早起勞，及飲食多，致復欲死方。</p>
<p>燒鱉甲末，服方寸匕，忌莧菜。（《外臺》卷四）</p>
<p>治傷寒瘥後，更頭痛、壯熱、煩悶方。</p>
<p>服黃龍湯五合，日三。（《醫心方》卷十四）</p>

<h2>傷寒、溫病瘥後禁忌</h2>
<p>凡熱病新瘥，及大病之後，食豬肉及腸血肥魚油膩等，必大下痢，醫不能治也，必至於死。若食餅餌粢黍飴脯鱠炙棗慄諸果，及堅實難消之物，胃氣尚虛弱，不能消化，必更結熱，適以藥下之，則胃中虛冷，大利難禁，不下必死，下之復危，皆難救也。熱病之後，多坐此死，不可不慎也。</p>
<p>病新瘥，但得食糜粥，寧可少食令飢，慎勿飽，不得他有所食，雖思之勿與，引日轉久可漸食羊肉糜若兔雉鹿肉，慎不可食豬犬肉也。</p>
<p>新瘥後，當靜臥，慎勿令人梳頭洗面，非但體勞，亦不可多言語用心使意勞，凡此皆令勞復。故督郵顧子獻得病已瘥未健，詣華旉視脈，旉曰：雖瘥尚虛未復，陽氣不足，勿為勞事，余勞尚可，御內即死，臨死當吐舌數寸。其妻聞其夫病除，從百餘里來省之，止宿交接，中間三日發病，舌出數寸而死。病新瘥未經百日，氣未平復，而以房室者，略無不死也。蓋正疾愈後六十日，己能行射獵，以房事則吐涎而死。及熱病房室，名為陰陽易之病，皆難治，多死。近者有一士大夫，小得傷寒，發汗已十餘日，能乘馬行來，自謂平復，故以房室，則小腹急痛，手足拘攣而死。（《外臺》卷三）</p>

<h2>傷寒、溫病用藥大體及闢溫方</h2>
<p>凡除熱解毒，無過苦醋之物，故多用苦參、青葙、艾、葶藶、苦酒、烏梅之屬，此其要也。夫熱盛非苦醋之物則不能愈。熱在身中，既不時治，治之又不用苦酢之藥，如救火不以水，必不可得脫免也。</p>
<p>又曰：今諸治多用辛甜、薑、桂、人參之屬，此皆貴价難得常有，比行求之，轉以失時。而苦參、青葙、葶藶子、艾之屬，所在盡有，除熱解毒最良，勝於向貴价藥也。前後數參並用之，得病內熱者，不必按常藥次也。便以青葙、苦參、艾、苦酒治之，但稍與促其間耳，無不解。（《外臺》卷三）</p>
<p>斷溫方。</p>
<p>二月旦取東行桑根，大如指，懸門戶上。又人人帶之。（《醫心方》卷十四）</p>
<p>斷溫病，令不相染著法。</p>
<p>斷汲水綆，長七寸，盜著病人臥席下。（《醫心方》卷十四）</p>
<p>闢溫病粉身方。</p>
<p>芎藭、白芷、藁本，三物等分，下篩，內粉中，以塗粉於身，大良。（《肘後方》卷八）</p>
<p>疾疫流行預備之，名為柏枝散方：</p>
<p>南向社中柏，東向枝，取曝乾，末，服方寸匕，神驗（《肘後方》卷八）</p>

<h1>卷第二</h1>

<h2>治卒死方</h2>
<p>黃帝問於岐伯：有卒死者，何邪使然？答曰：得三虛者，暴疾而死。得三實者，邪不能傷也。黃帝曰：願聞三虛。答曰：乘年之衰，逢月之空，失時之和，因賊風所傷也。願聞三實。答曰：逢年之盛，遇月之滿，得時之和，雖有賊風邪氣，不能傷也。有卒死不知人，有復生，何氣使然？陰氣先竭，陽氣未入，故卒死而不知人，氣復則生。（《外臺》卷二十八）</p>
<p>治卒死，或先有病痛，或居常倒撲，奄忽而絕，皆是中惡之類治方。</p>
<p>取蔥刺鼻，令入數寸，須使目中血出乃佳。一云耳中血出佳。此扁鵲法同，後云吹耳中，葛氏吹鼻，別為一法。（《外臺》卷二十八）</p>
<p>又方</p>
<p>以蔥刺耳，耳中、鼻中血出者勿怪，無血難治之，有血者，是活候也，其欲蘇時，當捧兩手莫放之，須臾死人自當舉手撈人，言痛乃止。男刺左鼻，女刺右鼻孔，令入七寸余，無苦，立效。亦治自縊死，此扁鵲法。（《外臺》卷二十八）</p>
<p>又方</p>
<p>以小便灌其面，數過即能活。扁鵲法也。（《外臺》卷二十八）</p>
<p>治卒死方</p>
<p>濕牛、馬糞絞取汁，以灌其口中，令入喉，若口已噤者，以物強發，若不可強發者，扣折齒下之。若無新者，以水若人尿和乾者，絞取汁。扁鵲法。（《外臺》卷二十八）</p>
<p>又方</p>
<p>揭薤若韭取汁，以灌口、鼻中。（《外臺》卷二十八）</p>
<p>又方</p>
<p>豬膏如雞子大，苦酒一升，煮沸灌喉中。（《外臺》卷二十八）</p>
<p>治卒死而目閉者方。</p>
<p>騎牛臨其面，搗薤汁灌耳中，末皂莢，吹鼻中。（《外臺》卷二十八）</p>
<p>治卒死無脈，無他形候，陰陽俱竭故也方。</p>
<p>牽牛臨鼻上二百息。又炙熨斗以熨兩脅下。針兩間使各百餘息。灸人中。（《外傳》卷二十八）</p>
<p>治卒死而有脈形候，陰氣先盡，陽氣後竭故也方。</p>
<p>嚼薤哺灌之。（《外臺》卷二十八）</p>
<p>治卒死方。</p>
<p>取灶中墨如彈丸，漿水和飲之，須臾三、四服之。（《醫心方》卷十四）</p>
<p>又方</p>
<p>取梁上塵如大豆粒著竹筒中，吹鼻中，與俱一時吹之。（《醫心方》卷十四）</p>
<p>又方</p>
<p>灸膻中穴。（《醫心方》卷十四）</p>
<p>又方</p>
<p>取竹筒吹兩耳，不過三。（《醫心方》卷十四）</p>

<h2>治屍厥方</h2>
<p>治厥死如屍，不知人，心下餘氣。扁鵲灸法。</p>
<p>以繩圍病人臂腕，男左女右，申繩從大椎上度下之，灸繩下頭脊上五十壯。（《醫心方》卷十四）</p>
<p>又方</p>
<p>灸陰囊下去大孔一寸百壯。若婦人者，灸兩乳之中間。（《醫心方》卷十四）</p>
<p>又方</p>
<p>以昌蒲屑著鼻孔中吹之令入以桂屑著舌下。云：扁鵲治楚王法也。（《醫心方》卷十四）</p>

<h2>治卒魘方</h2>
<p>治卒魘寐不寤方。</p>
<p>以筆毛刺兩鼻孔，男左女右，展轉進之，取起也。（《外臺》卷二十八）</p>
<p>又方</p>
<p>搗薤取汁，吹兩鼻孔。冬日取韭，絞汁灌口。（《外臺》卷二十八）</p>
<p>治卒魘方。</p>
<p>以鹽湯飲之，多少在意。並齧其足大趾爪際，痛齧之即起也。（《外臺》卷二十八）</p>
<p>又方</p>
<p>以其人置地，取利刀畫從肩起，男左女右，畫地令周遍訖，以刀鋒刺病人鼻下人中，令入一分，急持勿動，其人當鬼語求去，乃具問阿誰，以何故來，自當乞去，乃以指滅向所畫地當肩頭數寸，令得去。（《外臺》卷二十八）</p>
<p>又方</p>
<p>取雄黃如棗核，系左腋下，令人終身不願也。（《外臺》卷二十八）</p>
<p>又方</p>
<p>雄黃細篩，管吹兩鼻孔中佳。（《外臺》卷二十八）</p>
<p>治卒魘欲死方。</p>
<p>搗生韭汁灌鼻孔中，劇者並灌兩耳。（《醫心方》卷十四）</p>

<h2>治中屍方</h2>
<p>治飛屍，瓜蒂散方。</p>
<p>瓜蒂　赤小豆（各一分）　雄黃（二分研）</p>
<p>上三味，搗下細篩，一服五分匕，稍增至半錢匕，以酪服藥。（《外臺》卷十三）</p>
<p>治遁屍，心腹刺痛不可忍方。</p>
<p>桂心（一尺准一兩）　乾薑（三分）　巴豆（二枚去皮心熬）</p>
<p>上三味，合搗下篩，以好苦酒和之如泥，以塗痛處，燥即易之。忌野豬肉、蘆、筍。（《外臺》卷十三）</p>
<p>治屍疰方</p>
<p>燒發灰　杏仁（熬令紫色等分）</p>
<p>上二味，搗如脂，以豬膏和，酒服如梧子三丸，日三，神良。（《外臺》卷十三）</p>

<h2>治中屍方</h2>
<p>治飛屍，瓜蒂散方。</p>
<p>瓜蒂　赤小豆（各一分）　雄黃（二分研）</p>
<p>上三味，搗下細篩，一服五分匕，稍增至半錢匕，以酪服藥。（《外臺》卷十三）</p>
<p>治遁屍，心腹刺痛不可忍方。</p>
<p>桂心（一尺准一兩）　乾薑（三分）　巴豆（二枚去皮心熬）</p>
<p>上三味，合搗下篩，以好苦酒和之如泥，以塗痛處，燥即易之。忌野豬肉、蘆、筍。（《外臺》卷十三）</p>
<p>治屍疰方</p>
<p>燒發灰　杏仁（熬令紫色等分）</p>
<p>上二味，搗如脂，以豬膏和，酒服如梧子三丸，日三，神良。（《外臺》卷十三）</p>

<h2>治中屍方</h2>
<p>治飛屍，瓜蒂散方。</p>
<p>瓜蒂　赤小豆（各一分）　雄黃（二分研）</p>
<p>上三味，搗下細篩，一服五分匕，稍增至半錢匕，以酪服藥。（《外臺》卷十三）</p>
<p>治遁屍，心腹刺痛不可忍方。</p>
<p>桂心（一尺准一兩）　乾薑（三分）　巴豆（二枚去皮心熬）</p>
<p>上三味，合搗下篩，以好苦酒和之如泥，以塗痛處，燥即易之。忌野豬肉、蘆、筍。（《外臺》卷十三）</p>
<p>治屍疰方</p>
<p>燒發灰　杏仁（熬令紫色等分）</p>
<p>上二味，搗如脂，以豬膏和，酒服如梧子三丸，日三，神良。（《外臺》卷十三）</p>

<h2>治中屍方</h2>
<p>治飛屍，瓜蒂散方。</p>
<p>瓜蒂　赤小豆（各一分）　雄黃（二分研）</p>
<p>上三味，搗下細篩，一服五分匕，稍增至半錢匕，以酪服藥。（《外臺》卷十三）</p>
<p>治遁屍，心腹刺痛不可忍方。</p>
<p>桂心（一尺准一兩）　乾薑（三分）　巴豆（二枚去皮心熬）</p>
<p>上三味，合搗下篩，以好苦酒和之如泥，以塗痛處，燥即易之。忌野豬肉、蘆、筍。（《外臺》卷十三）</p>
<p>治屍疰方</p>
<p>燒發灰　杏仁（熬令紫色等分）</p>
<p>上二味，搗如脂，以豬膏和，酒服如梧子三丸，日三，神良。（《外臺》卷十三）</p>

<h2>治中屍方</h2>
<p>治飛屍，瓜蒂散方。</p>
<p>瓜蒂　赤小豆（各一分）　雄黃（二分研）</p>
<p>上三味，搗下細篩，一服五分匕，稍增至半錢匕，以酪服藥。（《外臺》卷十三）</p>
<p>治遁屍，心腹刺痛不可忍方。</p>
<p>桂心（一尺准一兩）　乾薑（三分）　巴豆（二枚去皮心熬）</p>
<p>上三味，合搗下篩，以好苦酒和之如泥，以塗痛處，燥即易之。忌野豬肉、蘆、筍。（《外臺》卷十三）</p>
<p>治屍疰方</p>
<p>燒發灰　杏仁（熬令紫色等分）</p>
<p>上二味，搗如脂，以豬膏和，酒服如梧子三丸，日三，神良。（《外臺》卷十三）</p>

<h2>治屍疰鬼疰方</h2>
<p>屍疰鬼疰者，葛氏云：即是五屍之中，屍疰又挾諸鬼邪為害也。其病變動，乃有三十六種至九十九種，大略使人寒熱，沉沉默默，不的知其所苦，而無處不惡，累年積月，漸沉頓滯，以至於此，後復注易旁人，乃至滅門，覺如此候者，宜急療之方。</p>
<p>獺肝（一具）</p>
<p>上一味，陰乾搗末，水服一方寸匕，日三。如一具不瘥，更作。神良。（《外臺》卷十三）</p>
<p>治江南疰病，凡有九十九種，寒熱屍疰，此病隨月盛衰，人有三百六十脈，走入皮中，或左或右，或里或表，如刀錐所刺，乍寒乍熱，喉咽如鯁，食如噎，胸中痛，繞臍苦痛，食不知味，腰中難以俯仰，兩膝屈伸，面或黃、或青、或白、或黑，至死更相注易方。</p>
<p>取桑根白皮切三升，曝燥燒作灰，湯淋取汁，浸小豆二升，如此取汁盡，蒸豆熟，作羊鹿肉羹，啖此豆。（《外臺》卷十三）</p>
<p>金牙散，主邪魅，心腹刺痛，病狀與前方同。</p>
<p>金牙（別研）　雄黃（研）　丹砂（研）　礬石（泥裹燒半日）　寒水石　蕪青（熬）　巴豆（去心皮熬）　朴硝　桔梗　茯苓　人參　貫眾　附子（炮）　蜀椒（去汗目）　露蜂房（炙）　龍骨　乾薑　牡桂　烏頭（炮）　石膏（研）　莽草（炙）　蓯蓉　大戟　芫花（熬）　防風　貍骨（炙）　商陸根　大黃　細辛　蛇蛻（炙）　玉支（一作玉泉）　貝母（一作牙子，即狼牙也）</p>
<p>上三十二味，等分，下篩，酒服五分匕，日三。忌豬肉、冷水、生菜、生血肉、大醋、蘆筍。（《外臺》卷十三）</p>

<h2>治鬼魅邪魅方</h2>
<p>治男子得鬼魅欲死，所見驚怖欲走，時有休止，皆邪氣所為，不能自飽，九物牛黃丸方。</p>
<p>荊實（人精也）　曾青（蒼龍精也，研）　玉屑（白虎精也，研）　牛黃（土精也，研）　雄黃（地精也，研）　空青（天精也，研）　赤石脂（朱雀精也）　玄參（真武精也）　龍骨（水精也，各一兩）</p>
<p>凡九物，名曰九精，上通九天，下通九地。</p>
<p>上搗下篩，蜜和丸如小豆，先食吞一丸，日三。稍加，以知為度。忌羊血。（《外臺》卷十三）</p>
<p>治卒中邪魅，恍惚振噤之方。</p>
<p>灸鼻下人中，及兩手足大指爪甲本，令艾丸半在爪上，半在肉上，各七壯，不止至十四壯便愈。（《外臺》卷十三）</p>
<p>治卒中邪魔方</p>
<p>雄黃末吹鼻中。（《本草綱目》卷九）</p>

<h2>治中惡方</h2>
<p>華佗治中惡，短氣欲絕方。</p>
<p>灸兩足大拇趾上甲後聚毛中，各灸二七壯，即愈。又法三七壯。（《外臺》卷二十八）</p>
<p>取艾葉按碎著痛上厚寸余，鐺中煮湯和灰作泥，令熱薄艾上，冷輒易之，不過再著則愈。（《外臺》卷二十八）</p>
<p>治中惡，心痛胸肋㽲痛，喘急湯方。</p>
<p>桃東行枝白皮（一握）　真珠（一兩）　梔子仁（十四枚）　生薑（二兩）　當歸　桂心（各三兩）　附子（一兩　炮）　香豉（五合）　吳茱萸（五合）</p>
<p>上九味，切，以水八升，煮取二升，去滓，內真珠，分二服。忌如常法。（《外臺》卷二十八）</p>
<p>又方</p>
<p>仰臥以物塞兩耳，以兩個竹筒內死人鼻中，使兩人痛吹之，塞口傍無令氣得出，半日所死人即噫噫，勿復吹也。（《外臺》卷二十八）</p>
<p>又方</p>
<p>搗皂莢，細辛屑，吹兩鼻孔中。單用皂莢末亦佳。（《外臺》卷二十八）</p>
<p>治中惡方。</p>
<p>大豆（二七枚）　以雞子中黃，白酒半升合和，頓服之。（《醫心方》卷十四）</p>
<p>又方</p>
<p>用釜底墨、鹽三指撮和，水服之。（《醫心方》卷十四）</p>
<p>又方</p>
<p>以度度其兩乳中央屈之，從乳頭向後肋間灸度頭，隨年壯。（《醫心方》卷十四）</p>
<p>又方</p>
<p>灸胃管五十壯。（《醫心方》卷十四）</p>

<h2>治心痛方</h2>
<p>治心痛方。</p>
<p>桂心，末，溫酒服方寸匕，須臾六、七服，乾薑依上法服之亦佳，忌生蔥。（《外臺》卷七）</p>
<p>卒心痛，桂心湯方。</p>
<p>桂心（八兩）</p>
<p>上一味，以水四升，煮取一升半，分二服。忌生蔥。（《外臺》卷七）</p>
<p>冶卒暴心痛，或中惡氣毒痛，不可忍方。</p>
<p>大黃（四兩）　芍藥（四兩）　升麻（三兩）　黃芩（三兩）　鬼箭（三兩）　鬼臼（二兩）　桂心（二兩）　桔梗（三兩）　柴胡（四兩）　硃砂（二兩別研）　朴硝（二兩）</p>
<p>上十一味，切，以水九升，煮取二升七合，分三服。先分硃砂作三分，一服內一分，攪硃砂調服之，此湯快利，若痛不止，宜服後方。忌豬肉、生蔥、生血物。（《外臺》卷七）</p>
<p>治卒暴心痛，或中惡氣毒痛方。</p>
<p>大黃湯亦用鬼箭，皆大方也。（《證類本草》卷十三）</p>
<p>又方</p>
<p>赤芍藥（六兩）　桔梗（五兩）　杏仁（五兩去皮尖）</p>
<p>上三味，切，以水六升，煮取二升半，分三服，日三。忌豬肉。（《外臺》卷七）</p>
<p>治心痛，唾多似蟲者方。</p>
<p>取六畜心，隨得生切作四臠，刀縱橫各割破之，內少真硃砂著中，平旦吞之，蟲死愈矣。無真硃砂，可用雄黃、麝香也。（《外臺》卷七）</p>

<h2>治胸腹脹滿方</h2>
<p>治胸滿有氣，心腹脹，中冷，半夏湯方。</p>
<p>半夏（一升）　桂心（四兩）　生薑（八兩切）</p>
<p>上三味，切，以水七升，煮取二升，絞去滓，適寒溫，飲七合。忌羊肉、餳，生蔥等。（《外臺》卷七）</p>
<p>治久寒胸脅逆滿不能食，吳茱萸湯方。</p>
<p>吳茱萸（一升）　人參（一兩）　生薑（八兩）　小麥（一升）　甘草（一兩）　桂心（一兩）　半夏（一升）　大棗（二十枚）</p>
<p>凡八物，㕮咀，以清酒五升，水三升，煮取三升，絞去滓，適寒溫飲一升，日三。（《醫心方》卷九）</p>
<p>治腹中寒氣脹，雷鳴切痛，胸脅逆滿，附子粳米湯方。</p>
<p>附子（一枚炮）　半夏（半升洗）　甘草（一兩炙）　大棗（十枚）　粳米（半升）　乾薑（二兩）</p>
<p>上六味，切，以水八升，煮米取熟，去米內藥，煮取三升，絞去滓，適寒溫，飲一升，日三。忌海藻、菘菜、豬、羊肉、餳。（《外臺》卷七）</p>
<p>半夏茯苓湯，治胸膈心腹中痰水冷氣，心下汪洋，嘈煩，或水鳴多唾，口清水自出，脅肋急脹，痛不欲食，此皆胃氣弱，受冷故也。其脈喜沉弦細遲，悉主之方。</p>
<p>半夏（五兩洗）　生薑（五兩）　茯苓（三兩）　旋覆花（一兩）　陳橘皮　人參　桔梗　芍藥　甘草（炙各二兩）　桂心（一兩）</p>
<p>上十味，切，以水九升，煮取三升，分三服，欲得利者加大黃；須微調者用乾地黃；病有先時喜水下者加白朮三兩，除旋覆花；若大便不調，宜加大黃及乾地黃，並用三兩。忌羊肉、餳、酢物、生蔥、豬肉、海藻、菘菜。（《外臺》卷七）</p>

<h2>治腹疼、寒疝諸方</h2>
<p>治卒腹痛，葛氏方。</p>
<p>桂末三匕，酒服，人參上好，乾薑亦佳。忌生蔥。（《外臺》卷七）</p>
<p>又方</p>
<p>食鹽一大把，多飲水送，取吐。（《外臺》卷七）</p>
<p>治寒疝，氣來往沖，心腹痛，桂心湯方。</p>
<p>桂心（四兩）　生薑（三兩）　吳茱萸（二兩）</p>
<p>上三味，切，以酒一大升，煎至三合，去滓，分溫三服。如人行六、七里一服。忌生蔥。（《外臺》卷七）</p>
<p>治寒疝，下牽少腹痛，附子丸方。</p>
<p>附子（二兩炮）　桃仁（三兩去皮尖）　蒺藜子（一升去角尖熬）</p>
<p>上三味，搗篩末，蜜和丸梧子大，空腹酒下十丸，漸加至十五丸，及二十丸，日再服。忌生菜、熱面、炙肉、筍、蒜、豬、魚。（《外臺》卷七）</p>
<p>治積年腹內宿結疝冷氣，及諸癖症等，香豉丸方。</p>
<p>香美爛豉（曝乾微令香即止）　小芥子（去土石微熬令赤即止各一升）</p>
<p>上二味，搗篩，蜜和丸梧子大，空腹酒服二十丸，漸加至三十丸，日二服，被服半劑以來，腹中微絞痛，勿怪之。是此藥攻痛之候。（《外臺》卷七）</p>
<p>治疝瘕冷氣方。</p>
<p>採鼠李子日乾，九蒸九曝，酒浸服三合，日兩服，漸加至三服，能下血及碎肉積滯物。（《外臺》卷七）</p>
<p>治疝氣，桃仁湯方。</p>
<p>桃仁（去皮尖）　吳茱萸　橘皮　海藻（各三兩）　生薑　茯苓　羌活　蒺藜子（去角各三兩）</p>
<p>上八味，切，以水三大升，煮取九合，分為三服，空心服。忌酢物。（《外臺》卷七）</p>
<p>治寒疝不能食方。</p>
<p>取馬藺子一升，每日取胡桃許，以面拌，熟煮吞之，然後依常飯，日再服，服盡必愈。亦除腹內一切諸疾，消食肥肌。仍時燒磚熱，以羖羊毛作氈裹，卻氈上熨之，日一度尤佳。（《外臺》卷七）</p>
<p>治腎冷及疼疝氣滯後灌方。</p>
<p>鹽花（一大合）　漿水（半大升）</p>
<p>上二味，和暖灌下部，少間即下膿，日一度，再灌之，即止。（《外臺》卷七）</p>
<p>治卒疝暴痛方。</p>
<p>灸大敦，男左女右，三壯立已。穴在灸經圖上。（《外臺》卷七）</p>

<h2>治中風諸急及風熱方</h2>
<p>治中風口喎噼不正方。</p>
<p>取空青如棗者，著口中含咽之，即愈。（《醫心方》卷三）</p>
<p>治卒不得語方。</p>
<p>煮大豆取汁，稍含咽之。（《醫心方》卷三）</p>
<p>又方</p>
<p>取桂一尺，水三升，煮取一升，頓服之。（《醫心方》卷三）</p>
<p>治卒暴風，口面僻，半身不隨不轉，竹瀝湯方。</p>
<p>竹瀝（三升）　防風　防己　升麻　桂心　芎藭　羚羊角（屑　各二兩）　麻黃（四兩去節）</p>
<p>上八味，切，以水四升，合竹瀝，煮取二升半，分為三服，三日服一劑，常用。忌生蔥。（《外臺》卷十四）</p>
<p>西州續命湯，治中風痱，身體不自收，口不能語，冒昧不識人，不知痛處，但拘急，中外皆痛，不得轉側，悉主之方。</p>
<p>麻黃（六兩，去節）　石膏（四兩，碎，綿裹）　桂心　當歸　甘草（炙　各二兩）　芎藭　乾薑　黃芩（各一兩）　杏仁（四十枚去皮尖兩仁）</p>
<p>上九味，切，以水一斗九升，先煮麻黃再沸，吹去沫，後下諸藥，煮取四升，初服一升，稍能自覺者，勿熟眠也，可臥厚覆，小小汗出已，漸漸減衣，勿復大覆，不可復服，瘥。前服不汗者，更服一升，汗出即愈。汗後稍稍五合一服，飲食如常，唯忌生蔥、海藻、菘菜。（《外臺》卷十四）</p>
<p>治與前大續命湯同，兼治產婦大去血者，及老人小兒方。</p>
<p>甘草（炙）　桂心　當歸　人參　石膏（碎，綿裹）　乾薑（各二兩）　麻黃（三兩，去節）　芎藭（一兩）　杏仁（四十枚，去皮尖兩仁）</p>
<p>上九味，㕮咀，以水一斗，煮取四升，服一升。當小汗，薄覆脊，憑几坐，汗出則愈。不更服，無所禁，勿當風。並治但伏不得臥，咳逆上氣，面目洪腫。忌海藻、菘菜、生蔥。範汪方主病及用水升數煮取多少並同。汪云：是仲景方，本欠兩味。（《外臺》卷十四）</p>
<p>小黃耆灑，大治風虛痰澼，四肢偏枯，兩腳弱，手不能上頭，或小腹縮痛，脅下攣急，心下有伏水，脅下有積飲，夜喜夢，悲愁不樂，恍惚善忘，此由風虛，五臟受邪所致。或久坐腰痛，耳聾卒起，眼眩頭重，或舉體流腫疼痹，飲食惡冷，澀澀惡寒，胸中痰滿，心下寒疝，藥皆主之。及婦人產後余疾，風虛積冷不除者方。</p>
<p>黃耆　附子　蜀椒　防風　牛膝　細辛　桂心　獨活　白朮　芎藭　甘草　薯蕷（各三兩）秦艽　大黃　葛根　乾薑　山茱萸（各二兩）　當歸（二兩半）</p>
<p>上十八味，㕮咀，少壯人無所熬煉，虛老人微熬之，以絹袋中盛，清酒二斗漬之，春夏五日，秋冬七日，可先食服一合，不知可至四、五合，日三服，此藥攻痹甚佳，亦不令人吐悶，小熱宜冷飲食也。大虛加蓯蓉二兩；下痢加女葳三兩；多志加石斛、菖蒲、紫石各二兩；心下多水者，加茯苓、人參各二兩，薯蕷三兩。酒儘可更以酒二斗重漬滓，服之不爾，可曝滓搗，下酒服方寸匕，不知稍增之，服一劑得力，令人耐寒冷，補虛，治諸風冷神良。（《千金方》卷七）</p>
<p>風癲論曰：風癲病發則仆地，吐涎沫無知，若強掠如狂及遺糞者難治，無方。（《外臺》卷十五）</p>
<p>治風熱心躁，口乾狂言，渾身壯熱，及中諸毒，龍腦甘露丸。</p>
<p>寒水石半斤，燒半日，淨地坑內盆合，四面濕土擁起，候經宿取出，入甘草末，天竺黃各二兩、龍腦二分，糯米膏丸彈子大，蜜水磨下。（《證類本草》卷四）</p>

<h2>治頭風、頭痛及風癢諸方</h2>
<p>治風，頭眩欲倒，眼旋屋轉，頭腦痛，防風枳實湯方。</p>
<p>防風（三兩）　枳實（三兩，炙）　茯神（四兩）　麻黃（四兩，去節）　細辛（二兩）　芎藭（三兩）　前胡（四兩）　生薑（四兩）　半夏（四兩　洗）　杏仁（三兩）　竹瀝（三升）</p>
<p>上十一物，切，以水六升，合竹瀝，煮取二升七合，分三服，頻服兩三劑尤良。（《醫心方》卷三）</p>
<p>治頭風頭痛方。</p>
<p>取荊瀝不限多少。（《證類本草》卷十二）</p>
<p>治偏正頭痛，穀精草一兩，為末，用白麵調攤紙花子上，貼痛處，干又換。（《證類本草》卷十一）</p>
<p>治頭風方。</p>
<p>甘菊花　獨活　茵芋　防風　細辛　蜀椒　皂夾　桂心　杜蘅　莽草</p>
<p>上十味，分等，水煮以沐頭，必效。（《外臺》卷三十二）</p>
<p>主風頭沐湯方。</p>
<p>豬椒根（三兩）　麻黃根　茵芋　防風（各一兩）　細辛（一兩）</p>
<p>上五味，切，以水二斗，煮取一斗，以沐頭，甚妙。（《外臺》卷三十二）</p>
<p>主頭風，搔之白屑起，雞子沐湯方。</p>
<p>新生烏雞子（三枚）</p>
<p>上一味，以五升沸湯揚之，使溫溫，破雞子內中，攪令勻。分為三度沐，令發生去白屑，風癢瘥。（《外臺》卷三十二）</p>
<p>治頭風癢，多白屑方。</p>
<p>大麻子仁（三升，研）　秦艽（二升）</p>
<p>上並置於泔汁中一宿，明旦溫之，去滓，用已沐發。（《醫心方》卷四）</p>
<p>冶頭風癢白屑，風頭長髮膏方。</p>
<p>蔓荊子　附子（炮）　細辛　石南草　續斷　皂莢　澤蘭　防風　杏仁（去皮）　白芷　零陵香藿香　馬鬐　膏　熊脂　豬脂（各二兩）　松葉（切半升）　莽草（一兩）</p>
<p>上十七味，㕮咀，以苦酒漬一宿，明旦以豬膏等煎，微微火，三上三下，以白芷色黃膏成，用以塗頭中，甚妙。（《外臺》卷三十二）</p>
<p>治頭風癢，白屑，生髮膏方。</p>
<p>鳥喙　莽草　石南草　細辛　皂莢　續斷　澤蘭　白朮　辛夷　白芷　防風（各二兩）　柏葉（切，二升）　松葉（切，二升）　豬脂（四升）</p>
<p>上十四味，以苦酒浸一宿，以脂煎三上三下，膏成去滓，濾收，沐發了以塗之，妙。（《外臺》卷三十二）</p>
<p>治風氣客於皮膚，瘙癢不已。</p>
<p>蜂房炙過，蟬蛻等分為末，酒調一錢匕，日二、三服。（《證類本草》卷二十一）</p>
<p>又方</p>
<p>蟬蛻、薄荷葉等分為末，酒調一錢匕，日三服。（《證類本草》卷二十一）</p>

<h1>卷第三</h1>

<h2>治膈噎諸方</h2>
<p>凡憂膈、氣隔、食膈、寒膈、飲膈，五病同藥，常以憂愁思慮食飲而得之。若寒食、食生菜便發。其病苦心滿不得氣息，引脊痛如刺之狀，食則心下堅，大如粉絮，大痛欲吐，吐則瘥。飲食不得下，甚者乃手足冷，上氣咳逆，喘息氣短，治以九物五膈丸方。</p>
<p>麥門冬（志心）　蜀椒（汗各三兩）　遠志（三兩去心）　甘草（五兩炙）　附子（一兩炮）　乾薑（三兩）　人參（四兩）　桂心（三兩）　細辛（三兩）</p>
<p>上藥搗篩，蜜和，微使淖，置有蓋器中，先食服大如彈子丸一丸，置喉中稍咽之，喉中、胸中當熱，藥力稍盡，復含一丸，日三、四，夜一、二服，服藥七日愈，二十日平復。若不能含者，可一大丸作二小丸盡服之。唯夏月合乃益麥門冬、甘草、人參耳，其餘不異，神良。椒當以銅器熬於火上，使極熱，下置地，內椒器中熟攪之，須臾汗出，便搗合同處，椒力有熱，亦去其毒，非令有熱也。忌海藻、菘菜、豬肉、冷水、生蔥、生菜。（《外臺》卷八）</p>
<p>治噎塞不通方。</p>
<p>營實根（十二分）</p>
<p>上一味，搗為散，酒下方寸匕，日三服。（《外臺》卷八）</p>
<p>治諸噎方。</p>
<p>炭末細羅，蜜丸如彈子大，含少細細嚥津即下。（《外臺》卷八）</p>
<p>治噎方</p>
<p>取頭垢如棗大，以粥若漿水和服之。（《外臺》卷八）</p>
<p>治氣噎煎方。</p>
<p>蜜　酥　薑汁（各一升）</p>
<p>上三味，合和，微火煎五、六大沸，取如大棗二枚，內酒中飲之，直炒服之亦好。（《外臺》卷八）</p>
<p>通氣噎湯方。</p>
<p>半夏（三兩洗）　桂心（三兩）　生薑（八兩）　羚羊角（三兩）</p>
<p>上四味，切，以水八升，煮取三升，分服半升，日再服，忌羊肉、生蔥、餳。（《外臺》卷八）</p>
<p>治氣噎不下食，兼嘔吐方。</p>
<p>半夏（四兩洗）　生薑（三兩切）</p>
<p>上二味，以東流水二大升，煎取一升，去滓，溫服三合，日三服。忌羊肉、餳。（《外臺》卷八）</p>
<p>治卒食噎方。</p>
<p>舂杵頭糠置手巾角以拭齒，立下。（《外臺》卷八）</p>
<p>治卒食噎不下方。</p>
<p>取蜜含之則下。（《外臺》卷八）</p>
<p>半夏湯，主飲食輒噎方。</p>
<p>乾薑　石膏（各四兩）　桔梗　人參　桂心（各二兩）　半夏（一升）　吳茱萸（二升）　小麥（一升）　甘草（一兩）　赤小豆（三十粒）　</p>
<p>上十味，㕮咀，以酒五升，水一斗，煮棗二十枚，去滓，合煮取三升，分三服。（《千金方》卷十六）</p>
<p>治醋噎方。</p>
<p>羌活五兩，搗，用水一升，浸三宿，每日溫服五合，瘥。（《外臺》卷八）</p>

<h2>治胃反方</h2>
<p>治胃反不受食，食已嘔吐，大半夏湯方。</p>
<p>半夏（三升）　人參（二兩）　白蜜（一升）　白朮（一升）　生薑（三兩）</p>
<p>上五味，㕮咀，以水五升和蜜，揚之二、三百下，煎取一升半，分三服。（《外臺》卷八）</p>
<p>治胃虛反，食下喉便吐方。</p>
<p>人參（一兩）　茯苓（四兩）　青竹茹（五兩）　大黃（六兩）　橘皮　乾薑（各三兩）　澤瀉　甘草（炙）　桂心（各二兩）</p>
<p>上九味，切，以水八升，煮取三升，服七合，日三夜一。已利去大黃。用泉水、東流水尤佳。忌海藻、菘菜、生蔥、大酢。（《外臺》卷八）</p>
<p>治胃反，吐而渴者，茯苓小澤瀉湯方。</p>
<p>茯苓　澤瀉　半夏（各四兩）　桂心　甘草（炙各二兩）</p>
<p>上五味，以水一斗，煮取二升半，去滓，服八合，日三。忌海藻、菘菜、羊肉、餳、生蔥、酢物等。（《外臺》卷八）</p>
<p>橘皮（一兩）　白朮　人參（各二兩）　蜀椒（一百二十粒汗）　桂心（一兩）　薤白（一握去青）</p>
<p>上六味，切，以水二升漬一宿，內豬肚中縫合，三升水煮，水令出之，決破去滓，分三服。忌桃李、雀肉、蔥。（《外臺》卷八）</p>
<p>治胃反大驗方。</p>
<p>前胡　生薑（各四兩）　阿膠（一兩）　大麻子仁（熬）　吳茱萸（各五合）　桂心（三寸）　甘草（五寸炙）　大棗（十枚）</p>
<p>上八物，切，以酒二升，水三升，煮取一升七合，分再服。忌生蔥、海藻、菘菜等物。（《外臺》卷八）</p>
<p>治胃反吐食者方。</p>
<p>搗粟米作粉，水和作丸，如楮子大七枚，爛煮內酢中，細細吞之，得下便已，面亦得用之（《外臺》卷八）</p>
<p>又方</p>
<p>好曲十斤，粗地黃二斤，二味搗，日乾，酒服，若飲三方寸匕，日三服。（《外臺》卷八）</p>
<p>治胃反，食則吐出，上氣者方。</p>
<p>灸兩乳下各一寸，以瘥為度。（《外臺》卷八）</p>
<p>又方</p>
<p>灸臍上一寸二十壯。（《外臺》卷八）</p>
<p>又方</p>
<p>灸內踝下三指稍斜向前有穴三壯，即瘥。（《外臺》卷八）</p>
<p>又方</p>
<p>蘆根　茅根（各二兩）</p>
<p>上二味，切，以水四升，煮取二升，頓服得下食。（《外臺》卷八）</p>
<p>華佗治胃反。胃反為病，朝食夜吐，心下堅如杯，往來寒熱，吐逆不下食，此為寒癖所作，治之神效方。</p>
<p>真珠　雄黃　丹砂（以上研各一兩）　朴硝（二兩）　乾薑（十累）</p>
<p>上五味，搗篩蜜丸，先食服如梧子二丸，小煩者飲水則解之。忌生血物。（《外臺》卷八）</p>

<h2>治嘔噦吐逆及噫醋方</h2>
<p>治病人乾嘔方。</p>
<p>取羊乳汁飲一杯。（《外臺》卷六）</p>
<p>治乾嘔，或噦，手足逆冷方。</p>
<p>橘皮（四兩）　生薑（六兩切）</p>
<p>上二味，㕮咀，以水六升，煮取三升，服一升。（《醫心方》卷九）</p>
<p>治吐逆乾嘔，生薑湯方。</p>
<p>生薑（四兩）　澤瀉（三兩）　桂心（二兩）　橘皮（三兩）　甘草（二兩）　茯苓（四兩）　人參（一兩）　大黃（四兩）</p>
<p>上八味，切，以水七升，煮取三升，服五合，日三。忌海藻，菘菜、醋物、生蔥。（《外臺》卷六）</p>
<p>治食後喜嘔吐者方。</p>
<p>燒鹿角灰二兩，人參一兩，搗末，服方寸匕，日三服。（《肘後方》卷四）</p>
<p>治卒噦方。</p>
<p>枳實三枚炙，去核，㕮咀之，以三家乳一升，以羊脂五兩，煎枳實令沸，復內乳令沸，去滓，含咽之。（《外臺》卷六）</p>
<p>治吐逆不止，碧霞丹方。</p>
<p>用北黃丹四兩，米醋半升，煎乾，炭火三秤，就銚內煅紅，冷定為末，粟米飯丸梧子大，每服七丸，醋湯下。（《本草綱目》卷八）</p>
<p>治食訖醋咽多噫，吳茱萸湯方。</p>
<p>吳茱萸（五合）　生薑（三兩）　人參（二兩）　大棗（十二枚）</p>
<p>上四味，切，以水六升，取二升，絞去滓，分為三服，每服相去十里久。（《外臺》卷六）</p>

<h2>治赤白膿血痢及冷痢方</h2>
<p>治下赤痢方。</p>
<p>秫米（一把）　鯽魚鮓（二臠細切）　薤白（一虎口細切）</p>
<p>上三味，合煮，如作粥法，啖之。（《外臺》卷二十五）</p>
<p>治暴下赤白方。</p>
<p>香豉（一升）　薤白（一把）</p>
<p>凡二物，以水三升，煮取二升，頓服之。（《醫心方》卷十一）</p>
<p>治下赤白痢，五、六年者方。</p>
<p>燒大荊如臂，取瀝服五、六合，即得瘥。（《證類本草》卷十二）</p>
<p>治赤白痢方。</p>
<p>鼠尾草濃煮汁如薄飴，飲五合，日三。赤下用赤花，白下用白花，瘥。（《證類本草》卷十一）</p>
<p>治血痢神妙方。</p>
<p>乾薑急於火內燒黑，令成灰，瓷碗合放冷為末，每服一錢，米飲調下。（《證類本草》卷八）</p>
<p>治若挾熱者，多下赤膿雜血方。</p>
<p>黃連　灶突中塵（各半兩）</p>
<p>上二味，末之，酒服方寸匕，日三服。（《外臺》卷二十五）</p>
<p>凡病下，應先下白後下赤，若先下赤後下白，為腸蠱方。</p>
<p>牛膝三兩，搗碎，以酒一升漬經宿，每服一兩杯，日二、三服（《外臺》卷二十五）</p>
<p>治卒注下，並痢血，一日夕數十行方。</p>
<p>黃連（末）　蠟　阿膠（各一兩）</p>
<p>上三味，先以酒半升令沸，下膠、蠟合烊，乃內黃連末，頓服之。（《外臺》卷二十五）</p>
<p>烏梅（三百六十枚去核熟令可搗）　附子（四兩炮）　黃連（十二兩）　乾薑（四兩）</p>
<p>凡四物，搗下篩，蜜丸，飲服如梧子十丸，日再。（《醫心方》卷十一）</p>

<h2>治水穀痢及雜痢方</h2>
<p>黃帝問曰：人若溏泄下利者何也？對曰：春傷於風，夏生溏泄，腸澼久風，亦為溏泄也。（《外臺》卷二十五）</p>
<p>治熱水穀下痢，黃連阿膠湯方。</p>
<p>黃連　阿膠（炙各二兩）　梔子（三十枚）　烏梅（二十枚）　黃柏（一兩）</p>
<p>上五味，切，以水七升，煮取二升半，分為再服，神良。（《外臺》卷二十五）</p>
<p>又方</p>
<p>黃連（一升金色者）　陳米（五合）</p>
<p>上二味，以水七升，煮取二升，分再服。（《外臺》卷二十五）</p>
<p>蜀沙門傳水痢方。</p>
<p>以訶黎勒三顆，麵裹炮赤去面，取訶黎勒皮搗末，飯和為丸，米飯空腹下三七丸、已百人見效。（《證類本草》卷十四）</p>
<p>治雜下，烏梅丸方。第一下赤，二下白，三下黃，四下青，五下黑，六固病下，下如瘀赤血，七久下，八下不可止，九連年下，十卒下，十一下少血數，十二霍亂而下，十三如舍水，十四下已則煩，十五息下，一作一止，十六下而不欲食，十七食無數，但下去，十八下但欲飲水，十九重下，二十下雜，錯不可銘字。合二十種下，江夏下太守以此法治是下盡愈方。</p>
<p>黃連（一兩）　黃柏（一兩）　熟艾（一兩）　附子（一兩炮）　甘草（一兩）　乾薑（二兩）　烏梅（二十枚去核取肉熬之）</p>
<p>凡七物，合搗，下篩蜜和丸，如大豆飲服十丸，漸至二十丸，日三。（《醫心方》卷十一）</p>

<h2>治泄痢不禁及痢後穀道疼方</h2>
<p>結腸丸，治熱毒下不斷，不問久新，悉治之方。</p>
<p>苦參　橘皮　獨活　阿膠（炙）　芍藥　乾薑　黃柏　甘草（炙）　鬼臼（各四分）</p>
<p>上九味，搗篩，蜜與膠共烊以和丸，並手捻作丸如梧子，曝燥，以飲服十丸，日三，不知稍加。此方亦治諸疰下，及卒下悉效。（《外臺》卷二十五）</p>
<p>裨脾丸，治脾滑胃虛弱，泄下不禁，飲食不消，雷鳴絞痛方。</p>
<p>附子（炮一兩）　蜀椒（汗一兩）　桂心（二兩）　赤石脂　黃連　人參　乾薑　茯苓　大麥櫱　陳面（炒）　石斛　當歸（各二兩）　鍾乳（三兩研）</p>
<p>上十三味，搗篩蜜和，以酒服十丸如梧子，日三。稍稍加之。（《外臺》卷二十五）</p>
<p>治下痢腸滑，飲食及服藥皆完出，豬肝丸方。</p>
<p>豬肝（一斤煮焙乾）　黃連　阿膠（炙）　烏梅肉（各二兩）　胡粉（七棋子）</p>
<p>上五味，搗下篩，蜜和，酒服十五丸如梧子，日三，稍加。亦可散服。（《外臺》卷二十五）</p>
<p>治赤白帶下久不斷，穀道疼痛不可忍，宜服溫藥，熬鹽熨之。（《醫心方》卷十一）</p>

<h2>治霍亂吐利上築腹疼諸方</h2>
<p>嘔而吐利，此為霍亂也。（《醫心方》卷十一）</p>
<p>治霍亂而渴者，理中湯主之。（《醫心方》卷十一）</p>
<p>理中湯，治霍亂吐下，脹滿食不消，心腹痛方</p>
<p>人參（三兩）　白朮（三兩）　甘草（三兩炙）　乾薑（三兩）</p>
<p>上四味，以水六升，煮取三升，絞去滓，溫分三服，不瘥頻進兩、三劑。遠行防霍亂，作丸如梧子服二十丸，散服方寸匕，酒亦得，若轉筋者加石膏三兩。忌海藻、菘菜、桃李、雀肉等。（《外臺》卷六）</p>
<p>霍亂臍上築者，腎氣動也，先治氣，理中湯去朮加桂。凡方加朮者，以內虛也，加桂者，恐作奔豚也，理中湯方。</p>
<p>人參（二兩）　甘草（三兩炙）　白朮（三兩）　乾薑（三兩　炮）</p>
<p>上四味，切，以水八升，煮取三升，去滓，溫服一升，日三夜一。若臍上築者，腎氣動也，去朮加桂心四兩；吐多者，去朮，加生薑三兩；若下多者，復用術；悸者，加茯苓二兩；若先時渴，喜得水者，加朮，合前成四兩半；若腹中痛者，加人參，合前成四兩半；若惡寒者，加乾薑，合前成四兩半；若腹滿者，去朮加附子一枚，炮去皮，破六片，服湯後一食頃，飲熱粥一升許，汗微出自溫，勿發揭衣被也。忌海藻、菘菜、桃李、雀肉等。（《外臺》卷六）</p>
<p>治霍亂蠱毒，宿食，心腹痛，冷氣鬼氣方。</p>
<p>極鹹鹽湯三升，一味，霍亂心腹暴痛。宿食不消，積冷煩滿者，熱飲一升，以指刺口，令吐宿食使盡，不盡更刺，吐訖復飲，三吐住靜止。此法大勝諸藥，俗人以為田舍淺近法，鄙而不用，守死而已。凡有此疾，即先用之。（《外臺》卷六）</p>

<h2>治霍亂轉筋及雜治方</h2>
<p>治兩臂，腳及胸脅轉筋者方。</p>
<p>煮苦酒三沸，浸氈裹轉筋上，合少粉尤佳。又以綿纏膝下至足。（《外臺》卷六）</p>
<p>若轉筋入腹中轉者方。</p>
<p>取雞屎白一方寸匕，水六合，煮三沸，溫頓服，勿令病者知。（《外臺》卷六）</p>
<p>霍亂轉筋入腹，不可奈何方。</p>
<p>極咸作鹽湯，於槽中暖漬之，則瘥。（《外臺》卷六）</p>
<p>又方</p>
<p>以醋煮青布㩉腳膝，冷復易之。（《外臺》卷六）</p>
<p>治卒道中得霍亂，無有方藥，氣息危急，醫視捨去，皆云必死，治之方。</p>
<p>蘆蓬蕽一大把，煮令味濃，頓服二升則瘥，已用有效。食中魚蟹毒者，服之尤良。（《外臺》卷六）</p>

<h2>治黃疸、黑疸、谷疸諸方</h2>
<p>治天行毒熱，通貫臟腑，沉鼓骨髓之間，或為黃疸、黑疸、赤疸、白疸、谷疸、馬黃等疾，喘息須臾而絕，瓜蒂散方。</p>
<p>瓜蒂（二七枚）　赤小豆（三七枚）　秫米（二七粒）</p>
<p>上三味，搗篩為散，取如大豆粒，吹於兩鼻之中，甚良，不瘥間日復服之。（《外臺》卷四）</p>
<p>治黃疸百藥不瘥者方。</p>
<p>驢頭一枚煮熟，以姜齏啖之，並隨多少飲汁。（《外臺》卷四）</p>
<p>治黃疸方。</p>
<p>取生小麥苗搗，絞取汁，飲六、七合，晝夜三、四飲，三、四日便愈。無小麥苗，穬麥苗亦得。範汪云：用小麥勝也。（《外臺》卷四）</p>
<p>治黃疸，身體面目皆黃，大黃散方。</p>
<p>大黃（四兩）　黃連（四兩）　黃芩（四兩）</p>
<p>上三味，搗篩為散，先食服方寸匕，日三服。亦可為丸服。（《外臺》卷四）</p>
<p>治黃疸變成黑疸者多死，急治之方。</p>
<p>取土瓜根汁服一小升，平旦服，至食時，病從小便去則愈，不忌。先須量病人氣力，不得多服，力衰則起不得。（《外臺》卷四）</p>
<p>治勞疸、谷疸丸方。</p>
<p>苦參（三兩）　龍膽草（一兩）</p>
<p>上二味，下篩，牛膽汁和丸，先食以麥粥飲服如梧子大五丸，日三，不知稍增。（《外臺》卷四）</p>

<h1>卷第四</h1>

<h2>治痰飲久癖方</h2>
<p>治卒頭痛如破，非中冷又非中風，其病是胸膈中痰，厥氣上衝所致，名為厥頭痛，吐之則瘥方。</p>
<p>但單煮茗作飲二、三升許，適冷暖飲三升，須臾適吐，適吐畢又飲，能如此數過，劇者須吐膽汁乃止，不損人，渴而則瘥。（《外臺》卷八）</p>
<p>治胸中淡飲，腹中鳴，食不消，嘔吐水湯方。</p>
<p>大檳榔（三十口全子碎）　半夏（八兩洗）　生薑（四兩）　杏仁（四兩）　白朮（四兩）　茯苓（五兩）　橘皮（三兩）</p>
<p>上七味，切，水一斗，煮取三升，分三服。（《醫心方》卷九）</p>
<p>茱萸湯，治胸中積冷，心下淡水煩滿汪汪，不下飲食，心胸應背痛方。</p>
<p>生薑（五兩）　半夏（三兩洗）　桂心（三兩）　吳茱萸（三兩）　人參（一兩）　大棗（三十枚）　甘草（一兩炙）</p>
<p>凡七物，以水九升，煮取三升，內白蜜五合，分三服。（《醫心方》卷九）</p>
<p>治痰澼心腹痛兼冷方。</p>
<p>鱉甲（炙）　柴胡　赤芍藥（各八分）　甘草（炙）　枳實（炙）　生薑　白朮（各六分）　檳榔（七個）</p>
<p>上八味，切，以水六升，煮七味，取二升半，去滓，內檳榔末，分服八合，當利。忌海藻、菘菜、莧菜、桃李、雀肉等。（《外臺》卷八）</p>
<p>治痰飲積聚，嘔逆，兼風、虛勞、陰疝方。</p>
<p>霜後蒺藜苗子，搗汁一石，先以武火煎減半，即以文火煎，攪勿停手，候可丸止，空腹酒下梧子大三十丸，煎服亦得。（《外臺》卷八）</p>
<p>治宿食結實，及痰澼癖實，瓜蒂散方。</p>
<p>瓜蒂（一兩）　赤小豆（四兩）</p>
<p>上二味，搗篩，溫湯三合，以散一錢匕投湯中，和服之。須臾當吐，不吐更服半錢，湯三合，令吐，如吐不止，飲冷水。（《外臺》卷八）</p>
<p>治心下堅，大如盤，邊如旋盤，水飲所作，枳實白朮湯方。</p>
<p>枳實（七枚炙）　白朮（三兩）</p>
<p>上二味，切，以水一斗，煮取三升，分三服，腹中軟即散。忌桃李、雀肉等物。（《外臺》卷八）</p>
<p>治冷熱久癖，實不能下，虛滿如水狀方。</p>
<p>前胡（四兩）　生薑（四兩）　枳實（三兩炙）　半夏（四兩洗）　白朮（三兩）　茯苓（四兩）　甘草（二兩炙）　桂心（二兩）</p>
<p>上八味，切，以水八升，煮取三升，分三服。（《外臺》卷十二）</p>

<h2>治咳喘上氣方</h2>
<p>治久患氣嗽，發時奔喘，坐臥不得，並喉里呀聲，氣欲絕方。</p>
<p>麻黃（去節三兩）　杏仁（去尖皮兩仁者碎三兩）　紫菀（三兩）　柴胡（四兩）　橘皮（四兩）</p>
<p>上五味，切，以水六升，煮取二升半，去滓，分三服，一劑不瘥，頻兩、三劑，從來用甚驗。（《外臺》卷九）</p>
<p>治寒冷咳嗽，上氣胸滿，唾腥膿血，四味石鐘乳散方。</p>
<p>鍾乳（碎研）　白礜石（煉）　款冬花　桂心（各一分）</p>
<p>上四味，搗合下篩，以筒吸之，如大豆許，一匕聚，先食，日三，不知稍增之，數試有驗。當作七聚遂吸之。忌生蔥。（《外臺》卷九）</p>
<p>補肺湯，治肺氣不足，咳逆短氣，寒從背起，口中如含霜雪，語無音聲而渴，舌本乾燥方。</p>
<p>五味子　白石英（研綿裹）　鍾乳（同上）　桂心　橘皮　桑根白皮（各三兩）　粳米（二合）　茯苓　竹葉　款冬花　紫菀（各二兩）　大棗（五十枚）　杏仁（五十枚去兩仁尖皮）　蘇子（一升）生薑（五兩）　麥門冬（四兩去心）</p>
<p>上十六味，切，以水一斗三升，先煮桑白皮、棗、粳米熟，去滓，內諸藥，煮取四升，分三服，日再夜一。忌大酢、生蔥。（《外臺》卷十）</p>
<p>治肺脹，咳嗽上氣，咽燥，脈浮，心下有水，麻黃湯方。</p>
<p>麻黃　芍藥　生薑（五兩）　細辛　桂心（各三兩）　半夏（半升洗）　石膏（四兩）　五味子（半升）</p>
<p>上八味，切，以水一斗，煮取三升，分三服。忌生蔥、羊肉、餳、生菜。（《外臺》卷十）沃雪湯，治上氣不得息臥，喉中如水雞聲，氣欲絕方。</p>
<p>麻黃（四兩去節）　細辛（二兩）　五味子（半升）　桂心　乾薑（各一兩）　半夏（八枚洗去滑一方四兩）</p>
<p>上六味，切，以水一斗，煮取三升，絞去滓，適寒溫服一升，投杯則臥，一名投杯麻黃湯。令人汗出不得臥，勿怪。亦可從五合，不知稍增，日再，凡煮麻黃先煎二沸，去上沫，又內余藥。忌生蔥、生菜、羊肉、餳。（《外臺》卷十）</p>
<p>治大走馬奔走喘乏，便飲冷水冷飲，因得上氣發熱方。</p>
<p>竹葉（三兩）　橘皮（三兩切）</p>
<p>上二味，以水一斗半，煮取三升，去滓，分為三服，三日服一劑，良。（《外臺》卷十）</p>
<p>治咳嗽冷氣，結脹方。</p>
<p>乾薑為末，熱酒調半錢服。兼治頭旋眼眩，立效。（《證類本草》卷八）</p>
<p>肺熱悶不止，胸中喘急，悸，客熱往來，欲死，不堪服藥，泄胸中喘氣方。</p>
<p>用桃皮、芫花各一升，二物，以水四升，煮取一升五合，去滓，以故布手巾內汁中，薄胸，溫四肢，不盈數刻即歇。（《證類本草》卷二十三）</p>

<h2>治肺痿、肺癰及腸癰方</h2>
<p>治肺痿、咳唾涎沫不止，咽燥而渴方。</p>
<p>生薑（五兩）　人參（三兩）　甘草（二兩炙）　大棗（十二枚）</p>
<p>上四味，切，以水五升，煮取一升半，分再服。忌海藻、菘菜。（《外臺》卷十）</p>
<p>治肺痿，咳嗽涎沫，心中溫溫，咽燥而渴方。</p>
<p>生薑（五兩）　甘草（二兩炙）　大棗（十二枚擘）</p>
<p>上三味，切，以水五升，煮取一升半，分再服。一方乾薑三兩代生薑。忌海藻、菘菜。（《外臺》卷十）</p>
<p>治肺痿，時時寒熱，兩頰赤氣急方。</p>
<p>童子小便，每日晚取之。去初末少許，小便可有五合，取上好甘草，量病人中指節，男左女右，長短截之，炙令熟，破作四片，內小便中，置於閒淨處露一宿，器上橫一小刀，明日平旦去甘草，頓服之，每日一劑。其童子勿令吃五辛。忌海藻、菘菜、熱面。（《外臺》卷十）</p>
<p>治肺痿咳嗽，鬼氣疰病方。</p>
<p>停久臭溺，日日溫服之。（《本草綱目》卷五十二）</p>
<p>桔梗（二兩）　甘草（二兩炙）</p>
<p>上二味，切，以水三升，煮取一升，分再服，朝暮吐膿血則瘥。（《外臺》卷十）</p>
<p>治腸癰湯方。</p>
<p>薏苡仁（一升）　牡丹皮（三兩）　桃仁（三兩）　冬瓜仁（一升）</p>
<p>凡四物，以水六升，煮取二升，分再服。（《醫心方》卷十五）</p>

<h2>治賁豚氣方</h2>
<p>賁豚茯苓湯，治短氣，五臟不足，寒氣厥逆，腹脹滿，氣賁走沖胸膈，發作氣欲絕，不識人，氣力羸瘦，少腹起騰踴如豚子，走上走下，馳往馳來，寒熱，拘引陰器，手足逆冷，或煩熱者方。</p>
<p>茯苓（四兩）　生葛（八兩）　甘草（二兩炙）　生薑（五兩）　半夏（一升湯洗）　人參（三兩）　當歸（二兩）　芎藭（二兩）　李根白皮（切一升）</p>
<p>上九味，切，以水一斗二升，煮取五升，服一升，日三夜二服。忌羊肉、餳、海藻、菘菜、酢物等。（《外臺》卷十二）</p>
<p>治賁豚氣，上衝胸腹痛，往來寒熱，賁豚湯方。</p>
<p>甘草（二兩炙）　芎藭（二兩）　當歸（二兩）　半夏（四兩湯洗）　黃芩（三兩）　生葛（五兩）　芍藥（三兩）　生薑（四兩）　甘李根白皮（切一升）</p>
<p>上九味，切，以水二斗，煮取五升，去滓，溫服一升，日三夜二服。忌海藻、菘菜、羊肉、餳等。（《外臺》卷十二）</p>
<p>治賁豚氣從下上者湯方。</p>
<p>生葛（五兩）　半夏（五兩洗）　黃芩（二兩）　桂心（二兩）　芍藥（三兩）　人參（二兩）　生薑（五兩）　甘李根白皮（五兩切）</p>
<p>上八味，切，以水一斗五升，煮取五升，去滓，溫分為五服，日三夜二服。忌羊肉、餳、生蔥。（《外臺》卷十二）</p>

<h2>治癥瘕積聚方</h2>
<p>治凡所食不消方。</p>
<p>取其餘類燒作末，酒服方寸匕，便吐去宿食，即瘥。（《外臺》卷十二）</p>
<p>治宿食不消，大便難，練中丸方。</p>
<p>大黃（八兩）　葶藶　杏仁（去皮尖）　芒硝（各四兩）</p>
<p>上四味，搗篩，蜜和丸如梧子，服七丸，日三。不知稍加至十丸。（《外臺》卷十二）</p>
<p>治症堅，心下大如杯，食則腹滿，心腹絞痛方。</p>
<p>葶藶（二兩）　大黃（二兩）　澤漆（四兩洗）</p>
<p>上三味，搗篩，蜜和，搗千杵，服如梧子二丸，日三。不知稍加。（《外臺》卷十二）</p>
<p>治心腹宿症，及卒得症方。</p>
<p>取雄雞一頭，飼之令肥，肥後餓二日，以好赤朱泄飯，極令朱多以飼雞，安雞著板上取糞燥末，溫清酒服五分匕，可至方寸匕，日三，若病困急者，晝夜可五、六服。一雞少，更飼余雞取足。（《外臺》卷十二）</p>
<p>治卒暴症，腹中有物堅如石，痛如刺，晝夜啼呼，不治之百日死方。</p>
<p>取牛膝根（二斤㕮咀曝令極干）</p>
<p>上一味，酒一斗浸之，密器中封口，舉著熱灰中溫之，令味出，先食服五、六合至一升，以意量多少。（《外臺》卷十二）</p>
<p>又方</p>
<p>用蒴藋根，亦准此大良。（《外臺》卷十二）</p>
<p>又方</p>
<p>商陸根搗蒸之，以新布籍腹上，以藥鋪布上，以衣覆，冷即易，取瘥止，數日之中，晨夕勿息。（《外臺》卷十二）</p>
<p>又方</p>
<p>牛膝酒神驗也。（《肘後方》卷四）</p>
<p>治鱉症，伏在心下，手揣見頭足，時時轉者，並心腹宿症及卒得症方。</p>
<p>白雌雞一雙，絕食一宿，明旦以膏熬飯飼之，取其屎，無問多少，以小便和之，於銅器中火上熬令燥，搗篩服方寸匕，日四、五服，消盡乃止。常飼雞取屎，瘥畢，殺雞單食之。（《外臺》卷十二）</p>
<p>熨症法。</p>
<p>茱萸三升碎之，以酒和煮熟，布裹熨症上，冷更炒，更番用之，症移走逐熨之，候消乃止也。（《證類本草》卷十三）</p>

<h2>治諸水腫方</h2>
<p>黃帝問於岐伯曰：水與膚脹、鼓脹、腸覃、石瘕、石水，何以別之？岐伯曰：水之起也，目窠上微腫，如新臥起之狀，頸脈動，時咳，陰股間寒，足脛腫，腹乃大，其水已成也，以手按其腹，隨手而起，如裹水之狀；膚脹者，寒氣客於皮膚之間，彭彭然不堅，腹大，身盡腫，皮厚，按其腹，腹陷而不起，腹色不變；鼓脹者，腹身皆腫大，大與膚脹擬也，其色蒼黃，腹脈起；腸覃者，寒氣客於少腹，外與衛氣相搏，氣不得營，因有所繫，瘦而內著，惡氣乃起，息肉乃生，始也大如雞卵，稍以益大，至其成也，若懷子之狀，久者離歲月，按之則堅，推之則移，月事時下；石瘕者，生於胞中，寒氣客於子門，子門閉塞，氣不得通，惡血當瀉不瀉，血不留止，日以益大，狀如懷子，月事不以時下，皆生於女子，可導而下。（《醫心方》卷十）</p>
<p>治水腫方。</p>
<p>黃犍牛尿一飲三升，若不覺，更加服之，以得下為度，治老小者寧從少起，飲半，亦可用後方。（《外臺》卷二十）</p>
<p>又方</p>
<p>豬腎一枚，分為七臠，甘遂一分，末篩為散，以粉腎，微火炙令熟，食之，至三、四臠，乃可止，當覺腹中鳴，轉攻兩脅下，小便利，去水即愈。若三、四臠不覺，可食七臠令盡。（《外臺》卷二十）</p>
<p>治大水腫，腹如鼓，堅如石方。</p>
<p>葶藶（一升，熬）　椒目（一升）　芒硝（六兩）　水銀（十二兩）</p>
<p>上四味，以水煮練水銀三日三夜，數益水，要當令黃白以合，搗藥六萬杵，自令相合如梧子，先食服一丸，日三。日增一丸至十丸，不知，更從一丸始，病當從小便利，當飲好牛、羊肉羹，晝夜五飲，當令補養，禁豬肉、生魚、菜，勿忘飲漿水，渴飲羹汁。（《外臺》卷二十）</p>
<p>周大候正大將軍平公於禮患氣兼水，身面腫，垂死，長壽公姚僧垣處二方，應手即瘥，先服湯方。</p>
<p>桑根白皮（四兩）　橘皮（二兩）　海藻（三兩，洗去咸）　茯苓　郁李仁（碎，各四兩）　赤小豆（一升）</p>
<p>上六味，切，以水八升，煮取二升半，分三服，甚效。《古今錄驗》治氣水身腫脹滿。姚大夫治燕公雍州錄事於志光送云：從來知不能服湯，事較急，勿不努力服之。服此湯若微覺為益，頻服三、兩劑，勿不服。此藥甚易，必無逆忤，如不能服，可服後丸，丸遲不應急耳。（《外臺》卷二十）</p>
<p>又方</p>
<p>橘皮（五分）　郁李仁（十分）　茯苓（八分）　葶藶（六分，熬）　防己　桑根白皮（各五分）甘遂（四分，熬）　蘇子（四合）</p>
<p>上八味，搗下篩，蜜和丸，取榖白皮火炙焦黃煮飲，服十丸如梧子，日再服，若不得宣通，稍稍加，常以宣為度。渴者飲此方。老蔣公處與張大夫家效。忌酢物。（《外臺》卷二十）</p>
<p>治但兩足腫者方。</p>
<p>銼蔥葉煮令爛以漬之，日三、四度，良也。（《外臺》卷二十）</p>
<p>治膀胱石水，四肢瘦，腹腫方。</p>
<p>大豆（五升）　防己（四兩）　桑根白皮（切，三升）　白朮（四兩）　澤漆葉（切，三升）　射干（四兩）　榖白皮（四兩，一云切三升）</p>
<p>上七味，切，以水一斗半，煮取六升，去滓，內好酒三升，更煎取五升，分五服，日再夜一。余煎明日服之。（《外臺》卷二十）</p>
<p>治石水，痛引脅下脹，頭眩痛，身盡熱，灸法。</p>
<p>灸關元。（《外臺》卷二十）</p>
<p>又灸石水法。</p>
<p>灸章門、然谷。（《外臺》卷二十）</p>
<p>治暴患遍身腫滿方。</p>
<p>大豆</p>
<p>上一味，搗篩為散，粥清服三方寸匕，日再，甚良驗。（《外臺》卷二十）</p>
<p>治身體暴腫如吹方。</p>
<p>巴豆（三十枚，合皮㕮咀）</p>
<p>上一味，以水五升，煮取三升，綿內汁中以拭腫上，隨手減矣，日五、六拭，勿近目及陰。（《外臺》卷二十）</p>
<p>治男女心上脹滿，胸背痛，食進少，面微似腫，小便如澀方。</p>
<p>杏仁（八分，熬）　橘皮（五分）　蘇子（三合）　防己（五分）　葶藶（六分熬）　茯苓（八分）</p>
<p>上六味，搗篩，蜜和為丸，如小豆，細切桑根白皮煮為飲，用服此丸，初服十丸，日再，漸加至三十丸。（《外臺》卷二十）</p>
<p>治水腹大臍平者法。</p>
<p>灸臍中，腹無文理者不可治。（《外臺》卷二十）</p>
<p>治水腹脹皮腫法。</p>
<p>灸三里，風水灸解谿。（《外臺》卷二十）</p>

<h2>治諸淋方</h2>
<p>五淋者，石淋、氣淋、膏淋、勞淋、熱淋也。石淋之為病，小便莖中痛，尿不得卒出，時自出，痛引少腹，膀胱裡急。氣淋之為病，小便難，常有餘瀝。膏淋之為病，尿似膏白出，少腹膀胱裡急。勞淋之為病，倦即發，痛引氣衝，小便不利。熱淋之為病，熱即發，其尿血後如豆汁狀，蓄作有時。五淋各異，治方用雜，故不載也。（《外臺》卷二十七）</p>
<p>治淋方。</p>
<p>以比輪錢三百文，以水一斗，煮取三升，飲之神效。（《外臺》卷二十七）</p>
<p>又方</p>
<p>取牛耳中毛燒灰，服半錢匕，立愈。（《外臺》卷二十七）</p>
<p>又方</p>
<p>取牛尾燒灰，水服半錢匕，瘥。（《證類本草》卷十七）</p>
<p>又方</p>
<p>燒頭髮灰服之良。（《外臺》卷二十七）</p>
<p>治五淋方。</p>
<p>苦杖不計多少，為末，每服二錢，用飯飲下，不拘時候。（《證類本草》卷十三）</p>
<p>治石淋方</p>
<p>鯉魚齒一升　貝齒一升，搗篩，以三歲苦酒和，分為三服，宿不食，旦服一分，日中服一分，暮服一分。（《外臺》卷二十七）</p>

<h2>治腰痛方</h2>
<p>腎主腰腳，腎經虛損，風冷乘之。故腰痛也。又邪客於足少陰之絡，令人腰痛引少腹，不可以仰息。診其尺脈沉，主腰背痛。寸口脈弱，腰背痛。尺寸俱浮直下，此為督脈腰疆痛。凡腰痛有五，一曰少陰，少陰腎也，十月萬物陽氣皆衰，是以腰痛。二曰風痹，風寒著腰，是以腰痛。三曰腎虛，役用傷腎，是以腰痛。四曰䐴腰，墜墮傷損腰，是以腰痛。五曰寢臥濕地，是以腰痛。</p>
<p>其湯熨針石，別有正方，補養宣導，今附於後。《養生方》云：飲食了勿即臥，久作氣病，令人腰疼痛。又曰：大便勿疆努，令人腰疼日澀。又云：笑過多，即腎轉動，令人腰痛。又云：人汗出次，勿企床懸腳，久成血痹，兩足重，腰痛。《導引法》云：凡學將息人，先須正坐，並膝頭足，初坐先足趾相對，足跟外扒，坐上少欲安穩，須兩足跟向內相對，坐上足趾外扒覺悶痛，漸漸舉身似款便坐足上，待共內坐相似不痛，始雙豎足跟向上，坐上足趾並反向外，每坐常學，去膀胱內冷風，膝冷足疼，上氣腰疼，儘自消適。（《外臺》卷十七）</p>
<p>治風濕客於腰，令人腰痛，獨活湯方。</p>
<p>獨活（三兩）　生薑（六兩）　乾地黃（五兩）　芍藥（四兩）　防風（三兩）　桂心（三兩）　栝蔞（三兩）　甘草（二兩炙）　麻黃（二兩去節）　乾葛（三兩）</p>
<p>上十味，切，以水八升，酒二升，煎取三升，分三服，不瘥重作。忌海藻、生蔥、菘菜、蕪荑。（《外臺》卷十七）</p>
<p>治腰痛熨法。</p>
<p>菊花（二升）　芫花（二升）　羊躑躅（二升）</p>
<p>上三味，以醋拌令濕潤，分為兩劑，內二布囊中蒸之，如炊一斗米許頃，適寒溫，隔衣熨之，冷即易熨，痛處定即瘥。（《外臺》卷十七）</p>
<p>治腰卒然痛，杜仲酒方。</p>
<p>杜仲（半斤）　丹參（半斤）　芎藭（五兩）　桂心（四兩）　細辛（二兩）</p>
<p>上五味，切，以酒一斗，浸五宿，隨多少飲之，延年。忌生蔥、生菜。（《外臺》卷十七）</p>
<p>秦艽散，治風冷虛勞，腰腳疼痛諸病，悉主之方。</p>
<p>秦艽（四分）　白朮（十四分）　桔梗（四分）　乾薑（五分）　附子（三分炮）　牡蠣（熬）　防風（六分）　人參（四分）　茯苓（四分）　椒子（二分汗）　黃芩（三分）　桂心（五分）　細辛（三分）　甘草（三分炙）　杜仲（三分）</p>
<p>上十五味，搗篩為散，以酒服方寸匕，日再服，一方加鍾乳粉一兩，亦好。忌桃李、雀肉、生蔥、豬肉、冷水。（《外臺》卷十七）</p>
<p>腎著之為病，其人身體重，腰中冷，所以如水洗狀，又不渴，小便自利，食飲如故，是其證也，作勞汗出，衣里冷濕，久之故得也。腰以下冷痛，腹重如帶五千錢，腎著湯主之。</p>
<p>甘草（一兩）　乾薑（二兩）　茯苓（四兩）</p>
<p>上三味，以水五升，煮取三升，分三服，腰中即溫。（《醫心方》卷六）</p>
<p>治腰痛不可忍方。</p>
<p>橘子仁炒研為末，每服一錢，酒一盞，煎至七分，和滓空心服。（《證類本草》卷二十三）</p>
<p>治腎臟風壅積，腰膝沉重方。</p>
<p>威靈仙末，蜜和丸桐子大，初服溫酒下八十丸，平明微利惡物，如青濃膠，即是風毒積滯也。如未利，夜再服一百丸，取下後吃粥藥補之，一月仍常服溫補藥。（《證類本草》卷十一）</p>
<p>治老人風濕久痹，筋攣骨痛，服此壯腎，潤皮，益氣力方。</p>
<p>牛蒡子一升切，生地黃一升切，大豆二升炒，以絹袋盛，浸一斗酒中五、六日，任性空心服二、三盞，日二服。（《本草綱目》卷十五）</p>

<h1>卷第五</h1>

<h2>治諸瘧疾方</h2>
<p>黃帝曰：夫痎瘧皆生於風，夏傷於暑，秋為痎瘧。問曰：瘧先寒而後熱何也？對曰：夫寒者，陰氣也。風者，陽氣也。先傷於寒，而後傷於風，故先寒而後熱也。問曰：先熱而後寒者何？對曰：先傷於風，而後傷於寒，故先熱而後寒也，名曰溫瘧。其但熱而不寒者，陰氣先絕，陽氣獨發，名曰癉瘧。（《醫心方》卷十四）</p>
<p>治諸瘧方。</p>
<p>牛膝莖葉一把，切，以酒三升，漬一宿，分三服，令微有酒氣，不即斷，更作，不過三服止。（《外臺》卷五）</p>
<p>麻黃湯，治瘧鬚髮汗方。</p>
<p>麻黃（四兩去節）　大黃（四兩）　栝蔞（四兩）　甘草（一兩炙）</p>
<p>上四味，切，以水七升，煮取二升半，分三服，未發前食頃服，臨發更服，服後皆覆取汗，忌海藻、菘菜。（《外臺》卷五）</p>
<p>治瘧或間日發，或夜發者方。</p>
<p>秫米（百粒）　石膏（八兩碎）　恆山（三兩）　竹葉（三兩）</p>
<p>凡四物，切，以水六升，漬藥，覆一宿，明旦煮取二升，分三服，取未發前一食頃第一服，取臨欲發第二服，當一日勿洗手足及漱口，勿進食飲。取過時不發乃洗澡進食也。並用余藥汁塗五心及胸前頭面，藥滓置頭邊。此方從來舊用神驗。（《醫心方》卷十四）</p>
<p>夫瘧必從四肢始，治方。</p>
<p>先其時一食頃，用細左索繩緊束其手足十指，過發時乃解之。（《外臺》卷五）</p>
<p>又方</p>
<p>取大蜘蛛一枚，內蘆管中，密塞管口，繩系以綰頸，過發時乃解去。（《醫心方》卷十四）</p>
<p>又方</p>
<p>桃葉二七枚，安心上，艾灸葉上十四壯。（《醫心方》卷十四）</p>
<p>又方</p>
<p>先作羊肉臛餅，飽食之，其進少酒隨所能，令其欣欣有酒氣，入一密室，里燃炭火，厚覆，取大汗則瘥。燕國公說，此方常用有驗。（《外臺》卷五）</p>
<p>治一切瘧，勞瘧，無問年月深遠，阿魏散及丸方。</p>
<p>阿魏　安息香　蘿蔔子（各二兩）　蕪荑（一合）</p>
<p>上四味，搗篩為散，以暖水服半錢，如不能散服，蜜丸熟水下三十丸，須臾吐，忌冷水。如吐不止，吃蒜齏餺飥，仍以貼子盛散一錢，男左女右係臂上，立瘥。（《外臺》卷五）</p>
<p>治溫瘧、勞瘧、烏梅飲子方。</p>
<p>烏梅（七顆）　桃、柳心（各七莖）　蔥白（七莖）　豆豉（一合）　甘草（四分）　柴胡（四分）　知母（四分）　大黃（三分）</p>
<p>上八味，各細銼，以童子小便兩茶碗宿浸，明旦早煎三兩沸，去滓，頓服瘥，未瘥更作，服三服，永瘥。忌海藻、菘菜。（《外臺》卷五）</p>
<p>治溫瘧、痰瘧，久不瘥，黃連散方。</p>
<p>宣州黃連（二兩）</p>
<p>上一味，搗篩未，以濃酒一盞，調三錢，空心頓服，相次更服三錢，更飲三、兩盞酒，任意醉，卻睡，候過時方得食，如渴枳實煎湯，並三日服瘥。忌豬肉、冷水。（《外臺》卷五）治勞瘧，積時不斷，眾治無效，此方治之。</p>
<p>生長大牛膝一大虎口，切，以水六升，煮取二升，分再服，第一服取未發前一食頃，第二服取臨發。（《醫心方》卷十四）</p>
<p>蜀漆丸，主嶺南瘴氣發，乍熱乍寒，積勞似瘧，皆主之。</p>
<p>蜀漆　知母　升麻　白薇　地骨皮　麥門冬（各五分）　烏梅肉　鱉甲（炙）　葳蕤（各四分）　石膏（八分）　甘草（三分炙）　常山（六分）　豆豉（一合熬）</p>
<p>上十三味，搗篩為末，蜜和丸如梧子大，飲下十丸，日再服，加至二十丸。此方用無不瘥。加光明砂一兩，神良。忌海藻、菘菜、人莧、生蔥、生菜。（《外臺》卷五）</p>

<h2>治消渴方</h2>
<p>治腎消渴，小便數，宣補丸方。</p>
<p>黃耆（三兩）　栝蔞（三兩）　麥門冬（三兩去心）　茯神（三兩）　人參（三兩）　甘草（三兩炙）　黃連（三兩）　知母（三兩）　乾地黃（六兩）　石膏（六兩研）　菟絲（三兩）　肉蓯蓉（四兩）</p>
<p>上十二味，末之，以牛膽汁三合，共蜜和丸梧子大，以茅根汁服三十丸，日漸加至五十丸，一名茯神丸。（《外臺》卷十一）</p>
<p>治腎氣不足，虛損消渴，小便數，腰痛，宜服腎瀝湯方。</p>
<p>羊腎一具（去脂膜切）　遠志（二兩去心）　人參（二兩）　澤瀉（二兩）　乾地黃（二兩）　桂心（二兩）　當歸（二兩）　龍骨（二兩）　甘草（二兩炙）　麥門冬（一升去心）　五味子（五合）　茯苓（一兩）　芎藭（二兩）　黃芩（一兩）　生薑（六兩）　大棗（二十枚）</p>
<p>上十六味，切，以水一斗五升，煮羊腎取一斗二升，內藥取三升，分三服。忌海藻、菘菜、生蔥、酢物，蕪荑。（《外臺》卷十一）</p>
<p>黃連（一斤去毛）　生地黃（十斤）</p>
<p>上二味，搗絞地黃取汁漬黃連，出曝之燥，復內之，令汁盡，干搗之下篩，蜜和丸如梧子，服二十丸，日三服。亦可散，以酒服方寸匕，日三服，盡更令作，即瘥止。忌豬肉蕪荑。（《外臺》卷十一）</p>
<p>治渴日飲一斛者方。</p>
<p>入地三尺取桑根白皮，炙令黃黑，細切，以水令相淹煮之，以味濃為度，熱飲之，勿與鹽，與米非嫌，大驗。（《醫心方》卷十二）</p>
<p>治消渴引飲方。</p>
<p>用人參、栝蔞根等分，生研為末，煉蜜丸梧子大。每服百丸，食前麥門冬湯下，日二服，以愈為度，名玉壺丸。忌酒面炙爆。（《本草綱目》卷十二）</p>

<h2>治諸出血方</h2>
<p>治卒下血不止方。</p>
<p>龍膽草（一握）</p>
<p>上一味，切，以水五升煮，取二升半，分為五服，如不瘥，更服。（《外臺》卷十五）治卒下血方。</p>
<p>小豆（二升）</p>
<p>上一味，搗碎，水三升和，絞取汁飲之，立止。（《外臺》卷二十五）</p>
<p>治下血如刺諸方。</p>
<p>灶中黃土（半升綿裹）　甘草（三兩炙）　乾薑（二兩）　阿膠（三兩炙）　芎藭（三兩）　熟艾（三兩）</p>
<p>凡六物，以水一斗，煮取三升，分三服。（《醫心方》卷十二）</p>
<p>治吐血、下血、並婦人漏下方。</p>
<p>取雞蘇絞取汁，多少任意服之，愈。（《醫心方》卷十二）</p>
<p>治小便出血方。</p>
<p>末龍骨二方寸匕，水調溫服之，日二服，瘥。（《證類本草》卷十六）</p>
<p>人有九竅四肢指歧間出血，乃暴驚所為，治之方。</p>
<p>取新生犢子未食草者臍屎，日乾燒末，水服方寸匕，日四、五頓，瘥。人云，口鼻出血亦良。（《證類本草》卷十七）</p>
<p>治舌上忽出血如簪孔者方。</p>
<p>燒亂髮灰：水服方寸匕，日三。亦治小便出血。（《千金方》卷十二）</p>
<p>治吐血不止方。</p>
<p>蠶蛻紙燒存性，蜜和丸如芡實大，含化咽津。（《本草綱目》卷三十九）</p>
<p>治卒嘔血，腹內絞急，胸中隱然而痛，面色紫黑，或從溺出方。</p>
<p>灸臍左右各五分四壯。（《醫心方》卷五）</p>

<h2>治大便難及大小便並不通方</h2>
<p>治脾胃不和，常患大便堅強難方。</p>
<p>大黃　芍藥　厚朴（炙各二兩）　枳實（六枚）　麻子（別研五合）</p>
<p>上五味，搗篩，入麻子，蜜和為丸，如梧桐子大，每服十丸，日三服，稍稍增之，以通利為度，可常將之。（《外臺》卷二十七）</p>
<p>治不得大便十日，或一月，煩滿欲死方。</p>
<p>葵子二升，以水四升，煮取一升，去滓，頓服之。（《醫心方》卷十二）</p>
<p>治大便牢難，腹熱連日，欲死方。</p>
<p>白蜜三升，於微火上煎之，使如強餔，以投冷水中，須臾當凝出丸，丸如手指大，長六寸、七寸，內穀道中，即得通。（《醫心方》卷十二）</p>
<p>治七、八日奔氣傷心欲死者，須臾便通方。</p>
<p>豬膽一枚，內下部中，良。（《外臺》卷二十七）</p>
<p>治大、小便不通，三陽實，大便不通方。</p>
<p>榆白皮（三兩）　桂心（二兩）　滑石（六兩）　甘草（三兩炙）</p>
<p>上四味，以水一斗，煮取三升，分三服。（《外臺》卷二十七）</p>
<p>治關格之病，腸中轉痛，不得大、小便，一日一夜不瘥欲死方。</p>
<p>芒硝三兩，紙三重裹，於炭火內燒令沸，安一升水中盡服之，當先飲溫湯一、二升以來，吐出，乃飲芒硝汁也。（《外臺》卷二十七）</p>
<p>風寒冷氣入腸，忽痛堅急如吹狀，大、小便不通，或小腸有氣結，如升大脹起，名為關格病。又治大、小便不利病。</p>
<p>苦參　滑石　貝齒（各等分）</p>
<p>上三味，搗篩為散，每服飲下一匕。（《外臺》卷二十七）</p>
<p>又方</p>
<p>煮葵根汁服之，彌佳。（《外臺》卷二十七）</p>
<p>治久不得大、小便方。</p>
<p>豬脂如雞子，著一杯酒中，煮之令沸，頓服。（《醫心方》卷十二）</p>
<p>治大、小便卒關格不通方。</p>
<p>吳茱萸南行枝，取之斷度如手第二指中節，含之立下。（《證類本草》卷十三）</p>
<p>治大小便閉方。</p>
<p>亂髮末三指撮，投半升水中，一服。（《證類本草》卷十五）</p>

<h2>治小便難及遺尿、尿頻方</h2>
<p>治小便不通方。</p>
<p>豬膽大如雞子者，內熱酒中服。亦治大便不通。（《證類本草》卷十八）</p>
<p>治小便難，淋瀝湯方。</p>
<p>滑石（八兩）　石葦（三兩去毛）　榆皮（一升）　葵子（一升）　通草（四兩）</p>
<p>上五味，切，以水一斗，煮取三升，分三服。一方加黃芩三兩（《外臺》卷二十七）</p>
<p>治淋，小便不利，陰痛，石葦散方。</p>
<p>石葦（二兩去毛）　瞿麥（一兩）　滑石（五兩）　車前子（三兩）　葵子（二兩）</p>
<p>上五味，搗篩為散，服方寸匕，日三。（《外臺》卷二十七）</p>
<p>治遺尿方。</p>
<p>取雄雞腸，燒灰為末，用三指一撮服之，朝暮服當愈。（《外臺》卷二十七）</p>
<p>治尿床方。</p>
<p>用雞膍胵一具，並腸燒存性，服之，男雌女雄。（《證類本草》卷十九）</p>
<p>治小便數而多方。</p>
<p>羊肺羹內少許羊肉合作之，調和鹽，如常食之法，多少任意，不過三具效。（《外臺》卷二十七）</p>

<h2>治虛勞裡急骨熱羸瘦諸不足方</h2>
<p>治虛勞裡急諸不足，黃耆健中湯方。</p>
<p>黃耆（三兩）　桂心（三兩）　甘草（三兩炙）　芍藥（二兩）　生薑（四兩）　大棗（十二枚擘）　飴糖（一斤）</p>
<p>上七味，切，以水一斗二升，煮取六升，去滓，內飴糖，令消，適寒溫服一升，間日可作。嘔者倍生薑；腹滿者去棗，加茯苓四兩。忌生蔥、海藻、菘菜。（《外臺》卷十七）</p>
<p>枸杞湯，治虛勞，口中苦渴，骨節煩熱或寒方。</p>
<p>枸杞根白皮（切五升）　麥門冬（一升去心）　小麥（二升洗）</p>
<p>上三味，以水二斗，煮麥熟藥成，去滓，分服一升，瘥止。（《外臺》卷十七）</p>
<p>淮南五柔丸，治虛勞不足，飲食不生肌膚，三焦不調，大便秘澀，此藥和腸臟並治癖飲百病方。</p>
<p>大黃（一斤）　前胡（二兩）　茯苓（一兩）　細辛（一兩）　蓯蓉（一兩）　半夏（一兩湯洗）　當歸（一兩）　葶藶子（一兩熬）　芍藥（一兩）</p>
<p>上九味，搗篩蜜和，搗萬杵，丸如梧子，食前以湯飲下五丸，日再服，加至十丸。忌生菜、酢物、羊肉、餳等。（《外臺》卷十七）</p>
<p>凡男女因積勞虛損，或大病後不復常，若四體沉滯，骨肉疼酸，呼吸少氣，行動喘惙，或小腹拘急，腰背強痛，心中虛悸，咽乾唇燥，面體少色，或飲食無味，陰陽廢弱，悲憂慘慼，多臥少氣，久者積年，輕者才百日，漸至瘦削，五臟氣竭，則難可復振，治之湯方。</p>
<p>甘草（二兩）　桂（三兩）　芍藥（四兩）　生薑（五兩，無者亦可用乾薑）　大棗（二七枚）　飴（八兩）</p>
<p>上六味，以水九升，煮取三升，去滓，內飴，分三服。間日復作一劑。復可將諸丸散耳。</p>
<p>黃耆加二兩、人參二兩為佳。若患痰滿及溏泄，可除飴耳。（《肘後方》卷四）</p>
<p>又方</p>
<p>烏雌雞一頭，治如食法，以生地黃一斤，切，飴糖二升，內腹內，急縛，銅器貯甑中蒸五升米久，須臾，取出食肉，飲汁，勿啖鹽。三月三度作之。神良。並止盜汗。（《肘後方》卷四）</p>
<p>治心虛驚悸不定，羸瘦方。</p>
<p>荊瀝二升，以火煎至一升六合，分服四合，日三夜一。（《證類本草》卷十二）</p>
<p>腎氣丸，治虛勞不足，大渴欲飲水，腰痛小腹拘急，小便不利方。</p>
<p>乾地黃（八兩）　山茱萸　薯蕷（各四兩）　澤瀉　牡丹皮　茯苓（各三兩）　桂心　附子（各二兩）　五味子（三兩）　肉蓯蓉（四兩）</p>
<p>上末之，蜜丸如梧子，酒下十五丸，日三，加至二十五丸。（《千金方》卷十九）</p>

<h2>治虛煩不眠及汗出不止方</h2>
<p>治虛煩悶不得眠，千里流水湯方。</p>
<p>半夏（三兩洗）　生薑（四兩）　麥門冬（三兩去心）　酸棗仁（二兩）　甘草（二兩炙）　桂心（三兩）　黃芩（二兩）　萆薢（二兩）　人參（二兩）　茯苓（四兩）　秫米（一升）</p>
<p>上十一味，切，以千里流水一斛，煮米令蟹目沸，揚之萬遍，澄清一斗，煮諸藥取三升，分三服。忌海藻、菘菜、羊肉、餳酢、生蔥。（《外臺》卷十七）</p>
<p>治煩悶不得眠方。</p>
<p>生地黃（五兩）　香豉（五合綿裹）　人參（二兩）　粟米（三合）　茯苓（四兩）　知母（四兩）　麥門冬（三兩去心）　前胡（三兩）　甘草（二兩　炙）　枸杞根皮（五兩）</p>
<p>上十味，切，以水八升，煮取二升七合，去滓，分四服忌海藻、菘菜、蕪荑、酢物。（《外臺》卷十七）</p>
<p>溫膽湯，治大病後，虛煩不得眠，此膽寒故也，宜服此湯法。生薑（四兩）　半夏（二兩洗）　橘皮（三兩）　竹茹（二兩）　枳實（二枚炙）　甘草（一兩炙）</p>
<p>上六味，切，以水八升，煮取二升，去滓，分三服。忌羊肉、海藻、菘菜、餳。（《外臺》卷十七）</p>
<p>治止汗粉藥方。</p>
<p>牡蠣（二兩熬）　附子（半兩炮）　麻黃根（二兩）</p>
<p>上三味，搗篩，以白粉一升和合粉汗，汗止。忌豬肉。（《外臺》卷二十三）</p>
<p>汗後遂漏不止，其人惡風，小便難，四肢微急，難以屈伸，桂枝加附子湯方。</p>
<p>大棗（十三枚）　附子（一枚炮）　桂心（三兩）　芍藥（三兩）　生薑（三兩）　甘草（二兩炙）</p>
<p>上六味，切，以水七升，煮取三升，溫服一升。（《外臺》卷二十三）</p>

<h2>治虛勞遺精及益智方</h2>
<p>治夢失精方。</p>
<p>韭子（一升熬）</p>
<p>上一物，搗篩，酒服方寸匕，日再。神效。（《醫心方》卷十三）</p>
<p>灸丈夫夢泄法。</p>
<p>灸足內踝上一寸，一名三陰交，二七壯，兩腳皆灸，內踝踝上大脈並四指是。（《外臺》卷十六）</p>
<p>治人心孔惛塞，多忘，喜誤方。</p>
<p>七月七日取蜘蛛網著領中，勿令人知，則永不忘也。（《肘後方》卷六</p>
<p>又方</p>
<p>丁酉日自至市買遠志，著巾角中還，末服之，勿令人知。（《肘後方》卷六）</p>
<p>孔子枕中神效方。</p>
<p>龜甲、龍骨、遠志、石上菖蒲分等，末，食後酒服方寸匕，日三。令人大聖。（《醫心方》卷二十六）</p>
<p>開心散，令人不忘方。</p>
<p>菖蒲　茯苓（各三兩）　人參（二兩）　遠志（四兩）</p>
<p>上四味，搗篩為散，食後水服方寸匕，日一服。恆服之佳。（《醫心方》卷二十六）</p>
<p>治人嗜眠喜睡方。</p>
<p>麻黃、術各五分、甘草三分，日中向南搗末，服一方寸匕，日三，令人不忘。（《肘後方》卷六）</p>

<h2>治服石虛熱水腫方</h2>
<p>蔥豆洗湯，治虛熱及服石熱，當風露臥，冷濕傷肌，熱阻在裡，變成熱風水病，心腹腫滿，氣急不得下頭，小便不利，大便難，四肢腫如皮囊盛水，晃晃如老蠶色，陰卵堅腫如升，莖腫生瘡，臭如死鼠，此皆虛損，腎中有熱，強取風冷，濕痹故也。內宜依方服諸利水藥，外宜以此湯洗四肢，訖，以蔥豆膏敷之。別以豬蹄湯洗瘡爛處及卵腫也方。</p>
<p>赤小豆（一升）　蔥（合青切一升）　蒺藜子（一升碎）　菘菜子（一升舂碎）　蒴藋（切五升）　巴豆（一百枚合心皮打破）</p>
<p>上六味，以水一石二斗，煮取四斗，以淋洗身腫處。（《外臺》卷二十）</p>
<p>豬蹄洗湯，治丈夫服石有虛，因勞損熱盛當風臥，傷於風濕，身變成熱，風水腫病，腹滿氣急，四肢欲腫，小便不利，陰卵堅腫，莖腫生瘡，赤爛臭如死鼠，名水疽，以湯洗之方。豬蹄（一雙）　黃柏（五兩銼）　蒴藋根（切三升）　葶藶子（五合）　蒺藜子（一升）</p>
<p>上五味，以水三斗，煮取二斗，冷以洗之，日三。（《外臺》卷二十）</p>
<p>蔥白膏方，治與前蔥豆湯同。</p>
<p>蔥青白（切半升）　菘菜子（半升）　葶藶子（半升破）　蒴藋（切半升）　青木香（二兩切）　莽草（一兩切）　丹參（切半升）　生蛇銜（半升）　蒺藜子（一升破）</p>
<p>上九味，以豬肪五升煎之三沸，令水氣竭，去滓，敷痛處。（《外臺》卷二十）</p>

<h1>卷第六</h1>

<h2>治諸蟲方</h2>
<p>夫九蟲者，一曰伏蟲，長四寸；二曰蛔蟲，長一尺；三曰白蟲，長一寸；四曰肉蟲，狀如爛杏；五曰肺蟲，狀如蠶形；六曰胃蟲，狀如蝦蟆；七曰弱蟲，狀如瓜瓣；八曰赤蟲，狀如生肉；九曰蟯蟲，至細微，形如菜蟲。伏蟲，群蟲之主也。蛔蟲貫心則殺人。白蟲相生，子孫轉大，長至四、五尺，亦能殺人。肉蟲令人煩滿。肺蟲令人咳嗽。胃蟲令人嘔吐，胃逆喜噦。弱蟲又名隔蟲，令人多唾。赤蟲令人腸鳴。蟯蟲居胴腸，多則為痔，劇則為癩，因人瘡處，以生諸癰疽、癬瘻、瘑疥。齲蟲無所不為，人亦不必盡有，有亦不必盡多，或偏有，或偏無者。此諸蟲依腸胃之間，若腑臟氣實，則不為害。若虛則能侵蝕，隨其蟲之動而變成諸患也。（《外臺》卷二十六）</p>
<p>貫眾丸，主治九蟲動作諸病方。</p>
<p>貫眾（熬）　石蠶（熬五分）　狼牙（四分）　雚蘆（二分）　蜀漆（六分炙）　殭蠶（三分熬）　雷丸（六分）　蕪荑（四分）　厚朴（三分）　檳榔（六分）</p>
<p>上十味，搗篩，蜜丸，空心暖漿水服三十丸，日三。不知稍加之。白蟲用榧子湯服。（《外臺》卷二十六）</p>
<p>治長蟲，雞子丸方。</p>
<p>雞子白（三枚）　乾漆（四兩熬一本無）　臘（三兩）　粳米粉（半斤）</p>
<p>上四味，內銅器中，於微火上煎，攪令調，內粉，令凝可丸，置土上溫，乃內雞子，攪令相得，又煎令可丸，宿勿食，以飲下小豆許大一百二十丸，小兒五十丸。效驗。（《外臺》卷二十六）</p>
<p>又方</p>
<p>取楝實，以淳苦酒中漬再宿，以綿裹，內下部中，令入三寸許，一日易之。（《外臺》卷二十六）</p>
<p>治蛔蟲攻心腹痛方。</p>
<p>取薏苡根二斤銼，以水七升，煮取三升，先食盡取之，蟲死盡出。（《外臺》卷二十六）</p>
<p>治蛔蟲，或攻心痛如刺，口中吐清水方。</p>
<p>以雞子一枚，開頭去黃，以好漆少許，內中相和，仰頭吞之，蟲悉出矣。（《外臺》卷二十六）</p>
<p>治蟯蟲在胃中，漸漸羸人方。</p>
<p>淳酒　白蜜　好漆（各一升）</p>
<p>上三味，合銅器中，微火上煎之，令可丸，丸如桃核大一枚，宿勿食，空腹溫酒下，蟲不下，再服之（《外臺》卷二十六）</p>
<p>治三蟲方。</p>
<p>真珠（一兩研）　亂髮（如雞子大燒末）</p>
<p>上二味，內苦酒中，旦空腹頓服之，令盡。（《外臺》卷二十六）</p>
<p>又方</p>
<p>搗桃葉，絞取汁，飲一升。（《外臺》卷二十六）</p>
<p>治寸白蟲方。</p>
<p>取茱萸根洗去土，切一升，漬一宿，平旦分再服。取樹北陰地根。（《醫心方》卷七）</p>
<p>又方</p>
<p>桑根白皮，切三升，以水七升，煮取二升，宿無食，一頓服之。（《醫心方》卷七）</p>

<h2>治中蠱毒方</h2>
<p>人有養畜，蠱毒以病人，凡診法：中蠱狀，令人心腹切痛，如有物齒，或吐下血，不即治之，食人五臟，盡即死矣。欲知是蠱與非，當令病人唾水，沉者是，浮者非也。（《外臺》卷二十八）</p>
<p>治中蠱方。</p>
<p>以豬膽導下部至良。（《外臺》卷二十八）</p>
<p>治中蠱毒，吐血或下血，皆如爛肝方。</p>
<p>茜草根　蘘荷根（各三兩）</p>
<p>上二味，㕮咀，以水四升，煮取二升，去滓，適寒溫頓服，即愈。又自當呼蠱主姓名。茜草即染絳草也。（《肘後方》卷七）</p>
<p>又方</p>
<p>巴豆（一枚去心皮熬）　豉（三粒）　釜底墨（方寸匕）</p>
<p>上三味，搗，分作三丸，飲下一丸，須臾當下蠱毒，不下，更服一丸。（《外臺》卷二十八）</p>
<p>治中蠱吐血方。</p>
<p>羖羊皮（方三寸敗鼓皮亦佳）　苦參（二兩）　蘘荷根（三兩）　黃連（二兩）　當歸（二兩）</p>
<p>上五味，切，以水七升，煎取二升，分三服。（《外臺》卷二十八）</p>
<p>又方</p>
<p>羚羊皮（方寸匕）　蘘荷根（四兩）　苦參　黃連（各二兩）　當歸　犀角　升麻（各三兩）</p>
<p>上七物，以水九升，煮取三升，分三服。蠱即出。（《肘後方》卷七）</p>
<p>又方</p>
<p>取桑木心銼一斛，於釜中以水淹之，令上有三寸，煮取二斗，澄取清，又微火煎得五升，宿勿食，旦服五合，則吐蠱毒。（《外臺》卷二十八）</p>
<p>治飲食中蠱毒，令人腹內堅痛，面目青黃，淋露骨立，色變無常方。</p>
<p>雄黃　丹砂　藜蘆（各一分）</p>
<p>上三味，搗篩，旦以井華水服一刀圭，有蠱當吐，不吐非蠱。（《醫心方》卷十八）</p>
<p>治下部若蠱食入，從後孔見腸方。</p>
<p>蝦蟆青背長身者，烏雞骨各燒作屑，分等，令之以吹下部孔中，大良。（《醫心方》卷十八）</p>
<p>治卒中蠱，下血如雞肝者，晝夜去石余血，四臟悉壞，唯心未毀，或乃鼻破待死者方。</p>
<p>桔梗搗下篩，以酒服方寸匕，日三。（《醫心方》卷十八）</p>
<p>又方。</p>
<p>隱忍根搗汁二升，分三服。桔梗苗也。（《醫心方》卷十八）</p>
<p>治鬼泣、蠱泣、毒氣變化無常，鮫魚皮散方。</p>
<p>鮫魚皮（鵲魚斑皮是）　犀角　麝香（研）　龍骨　丹砂（研）　雄黃（研）　蘘荷葉　鹿角（炙各一分）　蜈蚣（一枚炙）　椒（一分汗）　乾薑（一分）　貝子（十枚）　雞舌香（一分）</p>
<p>上十三味，搗篩為散，空心酒服一錢匕，日三服。（《外臺》卷二十八）</p>
<p>治蠱似蛔方。</p>
<p>雄黃（研）　麝香（研）</p>
<p>上二味，各如大豆許，取生羊肺如指大，以刀開，取雄黃等末，以肺裹吞之。（《外臺》卷二十八）</p>

<h2>治中射工毒方</h2>
<p>治射工中人，瘡有三種。一種瘡正黑如黶子，皮周遍悉赤，或衣犯之如有刺痛；一種作瘡，瘡久則穿，或晡間寒熱；一種如火灼熛起，此者最急，數日殺人，此病令人寒熱方。</p>
<p>烏翣根（二兩）　升麻（二兩）</p>
<p>上二味，切，以水三升，煮取一升，適寒溫頓服之，滓薄瘡上。（《外臺》卷四十）</p>
<p>治射工毒中人，寒熱發瘡，偏在一處，有異於常方。</p>
<p>犀角　升麻　烏翣根（各二兩）</p>
<p>上三味，以水四升，煮取一升半，去滓，分再服。相去一炊久，盡更作。（《外臺》卷四十）</p>
<p>又方</p>
<p>取赤莧合莖葉搗，絞取汁，服一升，日再、三服。（《外臺》卷四十）</p>
<p>又方</p>
<p>取生茱萸莖葉一虎口，斷去前後，取握中者，熟搗，以水二升，煎取八合，頓服之。（《外臺》卷四十）</p>

<h2>治中水毒方</h2>
<p>中水病，手足指冷即是，若暖非也。其冷或一寸，極或竟指。未過肘膝一寸淺，至於肘膝為劇。（《肘後方》卷七）</p>
<p>治中水毒秘方。</p>
<p>取水萍曝乾，以酒服方寸匕，瘥止。（《肘後方》卷七）</p>
<p>又方</p>
<p>取梅若桃葉搗，絞取汁三升許，為二服，或干以水絞取汁極佳。小兒不能飲，以汁敷乳頭與之。（《外臺》卷四十）</p>

<h2>治諸物哽咽喉方</h2>
<p>治哽方。</p>
<p>凡書曰：天有門，地有根，諸家入口者，皆當得吞。（《外臺》卷八）</p>
<p>又方</p>
<p>取鹿筋漬之濡，索之大如彈丸，持筋端吞之，候至哽處，徐徐引之，哽著筋出。（《外臺》卷八）</p>
<p>又方</p>
<p>末虎骨若貍骨，服方寸匕。（《外臺》卷八）</p>
<p>又方</p>
<p>服瞿麥末方寸匕。（《外臺》卷八）</p>
<p>治諸哽方。</p>
<p>鸕鷀屎末，服方寸匕。（《外臺》卷八）</p>
<p>又方</p>
<p>傳呼：鸕鸕、鷀鷀即下。（《醫心方》卷二十九）</p>
<p>治食諸魚骨哽方。</p>
<p>小嚼薤白令柔，以繩系中央，持繩一端，吞薤到哽處引，哽當隨出。（《外臺》卷八）</p>
<p>治魚骨哽在喉中，眾法不能去者方。</p>
<p>取飴糖丸如雞子黃大吞之。不去又吞。此用得效也。（《外臺》卷八）</p>
<p>治食中吞發，哽不去，繞喉者方。</p>
<p>取梳頭髮燒灰，飲服一錢匕。（《外臺》卷八）</p>
<p>治誤吞錢方。</p>
<p>搗火炭末，服方寸匕，則出。（《外臺》卷八）</p>
<p>治誤吞銀環及釵者方。</p>
<p>取飴糖一斤，一頓漸漸食盡，多食之，環及釵更出。（《外臺》卷八）</p>
<p>治誤咽針方。</p>
<p>取真吸針磁石末，酒白飲服一方寸匕。解曰：磁石特能吸針。難云：今吞針哽在喉中，而服磁石未入腹耶，若含磁石口中者，或吸針出耳。二理詳取其義焉。（《外臺》卷八）</p>

<h2>治縊死、溺死、中暍、凍死方</h2>
<p>治自縊死方。</p>
<p>以罽衣若氍毹厚氈物，覆其口鼻抑之，令兩人極力吹其兩耳，一炊傾可活也。（《外臺》卷二十八）</p>
<p>治自經死方。</p>
<p>搗皂莢、細辛屑，取如胡豆，吹兩鼻孔中。單用皂莢亦好。（《醫心方》卷十四）</p>
<p>治溺死方。</p>
<p>屈死人兩腳著人肩上，以死人背向生人，揹負持走，吐出水便活。（《外臺》卷二十八）</p>
<p>又方</p>
<p>熬沙以覆死人，使上下有沙，但出鼻口，沙中溫，溫須易之。（《醫心方》卷十四）</p>
<p>治溺死一宿者尚可活方。</p>
<p>倒懸解衣，挑去臍中垢，極吹兩耳，即活。（《外臺》卷二十八）</p>
<p>夏月中熱暍死，凡中暍死，不可使得冷，得冷便死。治之方。</p>
<p>以屈革帶繞暍人臍，使三、四人尿其中，令溫，亦可用泥土屈草；亦可扣瓦碗底若脫車釭，以著暍人臍上，取令尿不得流去而已。此謂道路窮急無湯，當令人尿其中。仲景云：欲使多人尿，取令溫。若有湯便可與之。仲景又云：不用泥及車釭，恐此物冷。暍即在夏月，得熱土泥暖車釭，亦可用也。（《外臺》卷二十八）</p>
<p>治冬天墮水凍，四肢直，口噤，裁有微氣出方。</p>
<p>以大器中多熬灰，使暖，囊盛，以薄其心上，冷即易。心暖氣通，目則得轉，口乃開，可溫尿粥清，稍稍含之，即活。若不先溫其心，便持火炙其身，冷氣與火相搏則死。（《外臺》卷二十八）</p>

<h2>解中諸毒方</h2>
<p>治中諸毒藥及葛未死，但聞腹中煩冤剝裂作聲，如腸胃破斷狀，目視一人成兩人，或五色光起，須臾不救方。</p>
<p>取新小便和清邊久屎一升，絞取汁一升頓服，氣已絕，但絞口與之，入腹便活也。已死萬一冀活，但數與屎汁也。（《外臺》卷三十一）</p>
<p>治中藥毒方。</p>
<p>取灶中當釜月下土末，服方寸匕。（《外臺》卷三十一）</p>
<p>治服藥過劑煩悶方。</p>
<p>研粳米取汁，五升服之。（《醫心方》卷一）</p>
<p>治食漏脯毒方。</p>
<p>搗生韭汁，服之多少以意，冬月無韭，搗根取汁。（《醫心方》卷二十九）</p>
<p>治食鬱肉漏脯，此並有毒方。</p>
<p>燒屎灰，酒服方寸匕。（《證類本草》卷十五）</p>
<p>治食諸餅臛百味毒，若急者方。</p>
<p>單飲土漿。（《醫心方》卷二十九）</p>
<p>又方</p>
<p>單服犀角末方寸匕。（《醫心方》卷二十九）</p>
<p>治食魚中毒方。</p>
<p>煮蘆根取汁飲之。（《醫心方》卷二十九）</p>
<p>治食蟹中毒方。</p>
<p>干蒜煮汁飲之。（《本草綱目》卷二十六）</p>
<p>治人大醉，欲死，恐爛腸胃方。</p>
<p>作溫湯著大器中漬之，冷則易。（《醫心方》卷二十九）</p>
<p>治服金屑，死未絕者，知是金毒方。</p>
<p>以水銀一兩，寫口中，搖動令下咽喉入腹，金則消滅成泥，即出，可三與服則活。（《外臺》卷三十一）</p>

<h1>卷第七</h1>

<h2>治癰疽方</h2>
<p>癰疽論：黃帝曰：夫子言癰疽，何以別之？岐伯答曰：營衛稽留於經脈之中，則血泣而不行，不行則衛氣從之，從之而不通，壅遏不得行，故熱。大熱不止，熱勝則肉腐，肉腐則為膿。然不能陷肌膚於骨髓，骨髓不為焦枯，五臟不為傷，故命曰癰。黃帝曰：何謂疽？岐伯答曰：熱氣絕盛，下陷肌膚筋髓骨肉，內連五臟，血氣竭盡，當其癰下，筋骨良肉皆無餘，故命曰疽。疽者其上皮夭瘀以堅，亦如牛領之皮。癰者其上皮簿以澤。此其候。帝曰：善。（《外臺》卷二十四）</p>
<p>治癰腫，大按乃痛者病深，小按便痛者病淺，按之處陷不復者無膿，按之即復者有膿，若當上破者，膿出不盡，不盡稍深蝕骨，骨碎出，當以魚導側際，從下頭破令膿出盡，出盡則骨生愈矣。若惡肉不盡者，食惡肉藥去之，膏塗之即愈。食肉藥方。</p>
<p>取白荻灰水淋之，煎令如膏，此不宜預作，作之十日則歇。並可以去黑子，黑子藥注便即拭去，不時拭則傷膚。又一方以桑白灰亦妙。（《外臺》卷二十四）</p>
<p>凡破諸病肉厚處，當先廣封四面，不爾，瘡破裂氣泄便死，不可救也。有久癰余瘡為敗癰深疽，有脛間喜生瘡，中外惡瘡，霜寒凍不瘥經年，或骨疽亦名脛瘡，深爛青黑，四邊堅強，中央膿血惡汁出，百藥治不瘥，汁漬好肉處皆腫，亦有碎骨從中出者，可溫赤龍皮湯洗之，夏月日日洗之，冬月三日、四日一洗。潰肉多者，可時敷白䕡茹散食去之，可一日之中，三、四敷之，止後長敷家豬屎散得瘥也。</p>
<p>取豬矢燒作灰，下絹篩，以粉疽敗瘡中令滿，汁出脫去便敷之，長敷須瘥也。若更生青肉，復著白䕡茹微如前法也。（《外臺》卷十四）</p>
<p>治癰、一切腫，未成腫，拔毒方。</p>
<p>牡蠣白者為細末，水調塗，干更塗。（《證類本草》卷二十）</p>
<p>治癰疽不潰方。</p>
<p>薏苡仁一枚，吞之。（《本草綱目》卷二十二）</p>
<p>治癰已有膿，當使壞方。</p>
<p>取白雞兩翅羽肢各一枚，燒服之，即穿。（《肘後方》卷五）</p>
<p>治癰瘡，膿血不止，瘡中空虛，疼痛，排膿內補散方。</p>
<p>防風（一兩）　遠志（一兩）　當歸（二兩）　黃耆（一兩）　白芷（一兩）　甘草（一兩）　桔梗（一兩）通草（一兩）　厚朴（二兩）　人參（一兩）　桂心（一兩）　附子（一兩）　赤小豆（五合熬）　芎藭（一兩）</p>
<p>凡十五物，冶，合篩，未食溫酒服方寸匕，日三夜一。（《醫心方》卷十五）</p>
<p>治癰及癤如結實赤熱者方。</p>
<p>以水磨半夏塗之，燥復更塗，得流便消也。山草中，可自掘生半夏乃佳。此治神驗，勿不信也。（《外臺》卷二十四）</p>

<h2>治瘭疽、緩疽及發背方</h2>
<p>胸中痛，少氣，急入暗中，以手掩左眼，竟視右眼見光者，胸中結癰也。若不見光，瘭疽內發。若吐膿血，此不治之疾，宜以灰掩膿血上，不爾，著傍人也。又齒間臭，熱血出，是瘭疽也，七日死，治所不瘥，宜以灰掩地血。瘭疽喜著指，與代指相似，人不別者，亦呼作代指，不急治，其毒逐脈上，入臟殺人也。南方人得此疾，皆斬去指，恐其毒上攻臟。故瘭疽著指頭者；其先作黯疱，然後腫赤黑黯，瘮痛入心是也。（《外臺》卷二十四）</p>
<p>瘭疽者，肉中忽生一黤子，如豆粟，劇者如梅李大，或赤或黑或白或青，其黶有核，核有深根應心，少久四面悉腫，疱黯黕紫黑色，能爛壞筋骨，毒入臟腑殺人，南方人名㩉著毒。著厚肉處皆割之，亦燒鐵令赤烙疱上，令焦如炭，亦灸黯疱上百壯為佳，早春酸摹葉薄其四面，防其長也。飲葵根汁，犀角汁、升麻汁折其熱，內外治依丹毒法也。（《肘後方》卷五）</p>
<p>有緩疽者，初結腫形似癰，回回無頭尾，其色不異，但痛，深有根核，又與皮肉相親著外耳，一名內癰。其有大者如拳，小者如桃李狀，積日不消，喜變紫色黯黑，久即皮肉具爛，如牛領瘡狀，便通體遍青黯色，而不作頭穿潰出膿。</p>
<p>初作服五香連翹湯，鑱去血，以小豆薄塗之，其間數針鑱去血，又薄之，取消也；若不消，色未變青黯者，以煉石薄之；若失時不得治，已爛者，猶服五香連翹湯及漏蘆湯下之，隨熱多少投方也，外以升麻湯搨洗之，薄升麻膏；若生臭惡肉者，可單行一物白䕡茹散敷之，青肉去盡便停也，好肉即生，但敷升麻膏良，不生，單敷一物黃耆散也；若敷白䕡茹散，積日青惡肉不盡者，可以漆頭赤皮䕡茹取半錢匕，和三大錢匕白䕡茹散中，合和敷之，惡肉去盡，還以淳用白䕡茹散也，視好肉欲生，可敷黃耆散也。黃耆散方、白䕡茹散方、漆頭䕡茹散方，並一味單行，隨多少搗篩為散。（《外臺》卷二十四）</p>
<p>治發背方。</p>
<p>以蝸牛一百個活者，以一升淨瓶入蝸牛，用新汲水一盞浸瓶中封系，自晚至明取出蝸牛放之，其水如涎，將真蛤粉不以多少旋調敷，以雛翎掃之瘡上，日可十餘度，其熱痛止，瘡便愈。（《證類本草》卷二十一）</p>

<h2>治石癰及疔瘡雜治方</h2>
<p>治癰堅如石，覈覆大，色不變，或作石癰，治之煉石散方。</p>
<p>鹿角（八兩一作白灰）　白蘞（三兩）　粗理黃石（一斤，酢五升先燒石令赤內酢中復燒內之酢盡半止）</p>
<p>上三味，搗篩作細末，以余醋拌和如泥，厚塗之，干即塗，取消止，盡更合。諸漏瘰癘，其藥悉主之，並須火針瘡上，塗膏（《外臺》卷二十四）</p>
<p>又方</p>
<p>單磨鹿角、半夏塗，不如上方佳也（《外臺》卷二十四）</p>
<p>治若發腫至堅，而有根者，名曰石癰也方。</p>
<p>灸腫三百壯，當石子破碎出，如不出，益壯，乃出。其癰疽、石癰、結筋、瘰癘，皆不可針角，針角殺人。（《外臺》卷二十四）</p>
<p>又癰未潰方</p>
<p>𦬣草末和雞子白，塗紙令厚，貼上，燥復易，得痛自瘥。（《肘後方》卷五）</p>
<p>疔毒為瘡，肉中突起如魚眼狀，赤黑瘮痛，是寒毒之結，變作此疾，始作服湯，及如治丹法便瘥。（《外臺》卷三十）</p>
<p>治毒氣攻疰足脛，久瘡不瘥方。</p>
<p>白朮為細末，鹽漿水洗瘡干貼，二日一換，可以負重涉險，凶年與老小休糧人不能別之，謂之米脯。（《證類本草》卷六）</p>
<p>治腳痛方。</p>
<p>以水蓼煮湯，令溫熱得所，頻頻淋洗瘡，干自安。（《證類本草》卷十一）</p>

<h2>治惡氣腫痛諸方</h2>
<p>有氣腫病，其狀如癰，無頭虛腫，色不變，皮上急痛，手才著便覺痛，此由體熱當風，覆被暴冷涼折之，結成氣腫也。宜服五香連翹湯，白針氣瀉之，敷蒺藜薄，亦用小豆薄，並得消也。</p>
<p>蒺藜薄方：蒺藜子二升，下篩，以麻油和如泥，熬令焦黑，以塗細故熟布上，剪如腫大，勿開頭，潝之，</p>
<p>小豆薄方：無蒺藜可舂小豆下篩，雞子白和，塗腫上，干復塗之，並得消也。（《醫心方》卷十六）</p>
<p>有氣痛病，身中忽有一處，痛如打棵之狀，不可堪耐，亦左右走身中，發作有時，痛發時則小熱，痛靜時便覺其處如冷水霜雪所加，此皆由冬時受溫風，至春夏暴寒涼來折之，不成溫病，乃變作氣痛也。</p>
<p>宜先服五香連翹湯數劑及竹瀝湯，摩丹參膏，又以白酒煮楊柳樹皮暖熨之，有赤氣點點見處，宜鑱去血也，其間將白薇散。（《醫心方》卷十六）</p>
<p>小竹瀝湯，治氣痛方。</p>
<p>淡竹瀝（二升）　夜干（二兩）　杏仁（二兩）　茵芋（半兩）　黃芩（半兩）　白朮（二兩）　木防己（二兩）　防風（二兩）　秦艽（二兩）　茯苓（三兩）　麻黃（一兩）　獨活（二兩）　枳實（二兩）　芍藥（二兩）　甘草（二兩）</p>
<p>凡十五物，㕮咀，以水九升，煮藥折半，乃可內竹瀝，煮取三升，分四服，少嫩人分作五服。（《醫心方》卷十六）</p>
<p>白薇散，治風熱相搏結氣痛，左右走身中，或有惡核起者，積服湯，餘熱未平復，宜此白薇散，以消餘熱方。</p>
<p>白薇（六分）　葳蕤（四分）　當歸（四分）　麻黃（三分）　秦艽（五分）　天門冬（四分）　蜀椒（二分）　木防己（四分）　紫胡（三分）　𦬣草（二分）　獨活（四分）　枳實（四分）　烏頭（二分）　術（六分）　人參（四分）　夜干（六分）　山茱萸（四分）　青木香（四分）　防風（六分）　白芷（三分）</p>
<p>凡二十物，搗下絹篩，以酢漿服方寸匕，漸至二匕，日三。少嫩人隨長少減服之，毒微者可用酒也。（《醫心方》卷十六）</p>
<p>治風熱毒腫結赤，夜干膏方。</p>
<p>夜干（二兩）　常陸（切一升）　防己（四兩）　升麻（三兩）　</p>
<p>上四物，切，以豬膏三升。微火煎常陸小焦黃，絞去滓，以摩病上。（《醫心方》卷十六）</p>
<p>五香湯，主惡氣毒腫方。</p>
<p>沉香　青木香　薰陸香　雞舌香（各一兩）　麝香（半兩）</p>
<p>上五味，切，以水五升，煮取一升半，分三服。（《外臺》卷二十四）</p>
<p>大潝漬腫毒，升麻湯方。</p>
<p>升麻（一兩）　黃芩（三兩）　梔子（二十枚）　漏蘆（二兩）　蒴藋根（五兩）　芒硝（二兩）</p>
<p>上六味，切，以水一斗，煮取七升，候冷。分用漬潝腫，常令濕潤即消。（《外臺》卷三十）</p>
<p>治腫方。</p>
<p>柳枝如腳趾大，長三尺，二十枚，水煮令極熱，以故布裹腫處，取湯熱洗之，即瘥。（《證類本草》卷十四）</p>

<h2>治惡脈、惡核、惡肉諸病方</h2>
<p>惡脈病，身中忽有赤絡脈起如蚓狀，此由春冬惡風入絡脈之中，其血瘀所作。</p>
<p>宜服五香連翹湯，鑱去血，敷丹參膏，積日乃瘥。余度山嶺即患，常服五香湯，敷小豆得消。（《肘後方》卷五）</p>
<p>惡核病者，肉中忽有核如梅李，小者如豆粒，皮中慘痛，左右走身中，壯熱𤻎惡寒是也。此病卒然而起，有毒入腹殺人。南方多有此患。</p>
<p>宜服五香連翹湯，以小豆敷之，立消。若余核，亦得服丹參膏。（《肘後方》卷五）</p>
<p>惡肉病者，身中忽有肉如赤小豆粒，突出便長，如牛馬乳，亦如雞冠狀。</p>
<p>宜服漏蘆湯，外可以燒鐵烙之，日三烙，令稍焦，以升麻膏敷之。（《肘後方》卷五）</p>
<p>五香連翹湯，治惡肉、惡脈、惡核、瘰癧、風結腫氣痛方。</p>
<p>木香　沉香　雞舌香（各二兩）　麝香（半兩）　薰陸香（一兩）　夜干　紫葛　升麻　獨活　寄生　甘草（炙）　連翹（各二兩）　大黃（三兩）　淡竹瀝（三升）</p>
<p>上十四物，以水九升，煮減半，內竹瀝，取三升，分三服，大良。（《肘後方》卷五）</p>
<p>漏蘆湯，治癰疽、丹疹、毒腫、惡肉方。</p>
<p>漏蘆　白蘞　黃芩　白薇　枳實（炙）　升麻　甘草（炙）　芍藥　麻黃（去節各二兩）　大黃（三兩）</p>
<p>上十物，以水一斗，煮取三升，若無藥用大黃下之佳。其丹毒須針鑱去血。（《肘後方》卷五）</p>
<p>丹參膏，治惡肉、惡核、瘰癧、風結、諸脈腫方。</p>
<p>丹參　蒴藋（各二兩）　秦艽　獨活　烏頭　白芨　牛膝　菊花　防風（各一兩）　莽草葉　躑躅花　蜀椒（各半兩）</p>
<p>上十二物，切，以苦酒二升漬之一宿，豬膏四斤俱煎之，令酒竭，勿過焦，去滓，以塗諸疾上，日五度，塗故布上貼之，此膏亦可服，得大行即須少少服。（《肘後方》卷五）</p>

<h2>治丹毒及赤白疹方</h2>
<p>丹毒，一名天火。肉中忽有赤如丹塗，大者如手掌，甚者竟身癢，微腫。</p>
<p>有白丹者，肉中起癢痛，微虛腫如吹癮疹起者，治之亦如赤丹法；有雞冠丹者，赤色丹起，大者如連錢，小者如麻麥豆粒，肉上粟粟如雞冠肌理也，方說一名為茱萸火丹，治之如天火法；有水丹，由體熱過水濕搏之結丹，晃晃黃赤色，如有水在其中，喜著腹及陰處，治之亦如火丹法。其水丹著人足趺及踹脛間者，作黃色如火丹狀，經久變紫色，不治皆成骨瘡也，無毒，非殺人疾，若成骨瘡，即難瘥也。經言：風邪客於肌中，則肌虛，真氣發散，又被寒氣搏皮膚，外發腠理，開毫毛，淫淫氣妄行之，則為癢也。所以有風疹風瘙疾，皆由於此。</p>
<p>有赤疹者，忽起如蚊蚤吮，煩癢，劇者連連重沓壟腫起，搔之逐手起。有白疹者亦如此證也，治之皆如治丹法也。（《外臺》卷三十）</p>
<p>升麻膏，治丹毒腫熱瘡方。</p>
<p>升麻　白蘞　漏蘆　芒硝（各二兩）　黃芩　枳實　連翹　蛇銜（各三兩）　梔子（二十枚）　蒴藋根（四兩）</p>
<p>上十物，切，舂令細，納器中，以水三升漬半日，以豬脂五升，煎令水竭，去滓敷之，日五度。若急合即水煎，極驗方。（《肘後方》卷五）</p>
<p>夫丹者，惡毒之氣，五色無常，無即治之，痛不可堪，又待壞則去膿血數升，或發於節解，多斷人四肢，蓋疽之類，治之方。</p>
<p>煮粟脥有刺者洗之。（《外臺》卷三十）</p>
<p>治丹發足踝方。</p>
<p>搗蒜如泥，以厚塗，干即易之。（《外臺》卷三十一）</p>
<p>治人面目身體卒赤黑丹起如疥狀，不治日劇，遍身即殺人也。</p>
<p>煎羊脂以摩之，青羊脂最良（《外臺》卷三十）</p>
<p>又方</p>
<p>以豬槽下土泥塗之。（《外臺》卷三十）</p>
<p>治丹若走皮中，侵廣者名為火丹，入腹殺人，治之方。</p>
<p>取蠐螬末以塗之。（《醫心方》卷十七）</p>
<p>治若通身赤者方。</p>
<p>取婦人月布薄之，又取汁以浴小兒。（《醫心方》卷十七）</p>
<p>又方</p>
<p>搗大黃水和塗之。（《醫心方》卷十七）</p>
<p>又方</p>
<p>搗梔子水解塗之。（《醫心方》卷十七）</p>
<p>又方</p>
<p>水和芒硝塗之。（《醫心方》卷十七）</p>
<p>治丹毒，單用一物舂以薄之方。</p>
<p>生蛇銜　生地黃　生蒴藋葉　生慎火葉　生菘菜葉　生五葉藤　豆豉　浮萍</p>
<p>上八物，一一別搗，別塗之。</p>
<p>大黃　黃芩　梔子　芒硝</p>
<p>上四物，各舂水和，各塗之。（《醫心方》卷十七）</p>
<p>治白丹方。</p>
<p>搗白瓷器屑，豬膏和塗之。（《外臺》卷三十）</p>
<p>又方</p>
<p>燒豬矢灰，和雞子白塗之。（《外臺》卷三十）</p>
<p>凡赤疹，熱時發，冷即止，白疹天陰冷即發方。</p>
<p>白疹以水煮白礬汁拭之；又煮蒴藋著少酒以浴；又以酒煮石南拭之；又以水煮雞屎汁拭之；又枳實汁拭之。所治一如治丹法。（《外臺》卷三十）</p>
<p>赤疹者，由令濕折於肌中，甚即為熱，熱成赤疹也。得天熱則劇，取冷則減，治之方。</p>
<p>取生蛇銜草搗極爛，以塗之，最驗。（《外臺》卷三十）</p>
<p>白疹者，由風氣折於肌中之熱，熱與風搏，遂為白疹也。得天陰雨冷則劇出，風中亦劇，得暖晴則減，著衣身暖亦瘥，治之方。</p>
<p>水煮枳實拭之佳，又搗末熬之，青布裹熨之。（《外臺》卷三十）</p>
<p>治一切疹方。</p>
<p>用煮蒴藋湯和少酒塗，無不瘥。（《證類本草》卷十一）</p>

<h2>治瘑疥及癘瘍風方</h2>
<p>治瘑瘡方</p>
<p>苦酒一升，溫令沸，以生韭一把內中，以薄瘡上，即瘥。（《外臺》卷三十）</p>
<p>又方</p>
<p>雄黃（一兩）　黃芩（二兩）　松脂（二兩）　發灰（如彈丸大）</p>
<p>上四味，以白膏與松脂合搗，以敷瘡上。（《外臺》卷三十）</p>
<p>又方</p>
<p>亂髮、頭垢等分，螺殼二十枚，燒，以臘月豬脂和如泥，以敷之。（《外臺》卷三十）</p>
<p>又方</p>
<p>單躑蠍花三升，以水漬之半月，去滓，汁洗瘡。一方炙鮓以瘡敷上，蟲當出也。（《外臺》卷三十）</p>
<p>又方</p>
<p>桃花、鹽等分，熟搗，以醋和敷之。（《外臺》卷三十）</p>
<p>又方</p>
<p>皂莢十枚，苦酒四升煮之，去滓，煎如飴，以敷瘡上。（《外臺》卷三十）</p>
<p>又方</p>
<p>新瓦罐一口，安雞屎一合，酒煎成膏塗之。（《外臺》卷三十）</p>
<p>又方</p>
<p>榖木白汁（一合）　苦酒（二合）　小蒜（半合）　釜月下土（一合）</p>
<p>上四味，和如泥塗之，干復塗。（《外臺》卷三十）</p>
<p>治諸瘑瘡經年，依手拂疽，癢引日生不瘥，瘡久則有疽蟲，藜蘆膏方。</p>
<p>藜蘆（六分）　黃連（八分）　礬石（熬汁盡）　松脂　雄黃（研各八分）　苦參（六分）</p>
<p>上六味，搗，以厚絹篩之，用豬脂二升煎之，候膏成去滓，入雄黃、礬石末，攪令和調，待凝以敷之。諸瘡經年，或搔之汁出不生痂，百藥治不瘥，悉主之。瘑疥癢頭瘡亦效。熱瘡者，起瘡便生白膿是也。黃爛瘡者，起瘡淺，但出黃汁若肥瘡是也。侵淫瘡者，淺瘡黃汁出，兼搔之，漫延長不止是也。瘑瘡者，喜著手足相對，痛癢折裂，春夏隨瘥。（《外臺》卷三十）</p>
<p>治疥方。</p>
<p>搗羊蹄根，和豬脂塗上，或著少鹽佳。（《外臺》卷三十）</p>
<p>治疥及風瘙瘡，苦癢方。</p>
<p>丹參（四兩）　苦參（四兩）　蛇床子（一升）</p>
<p>上三味，切，以水六升煎之，以洗疥瘡，以粉粉身，日再為之，即瘥。（《外臺》卷三十）</p>
<p>治疥湯方。</p>
<p>蜀椒四合，以水一斗，煮三沸，去滓，令溫冼疥。（《醫心方》卷十七）</p>
<p>又方</p>
<p>大麻子一升，搗令破，煮如粥，以曲一斤著中，塗之。治馬疥最良。（《醫心方》卷十七）</p>
<p>治癘瘍方。</p>
<p>苦酒於瓦甌底磨硫黃，令如泥，又取附子截一頭，又磨硫黃上使熱，將臥先以布拭瘍上數過，乃以藥敷之，即愈。（《外臺》卷十五）</p>
<p>又方</p>
<p>硫黃（研）　礬石（研）　水銀（別研入）　灶墨</p>
<p>上四味，等分，搗下篩，內碗子中以蔥葉中涕和研之，臨臥以敷病上。（《外臺》卷十五）</p>

<h2>治諸癩、惡瘡及侵淫瘡方</h2>
<p>治癩方。</p>
<p>取葎草一擔，以水二石，煮取一石，以漬洗瘡，不過三、五度瘥。（《外臺》卷三十）</p>
<p>治烏癩、白癩方。</p>
<p>蝟皮（炙）　魁蛤　蝮蛇頭（炙）　木虻（四枚去翅足熬）　虻蟲（去翅足熬）　蠐螬（各一枚炙）　陵鯉甲（去頭足炙）　葛上亭長（七枚炙）　斑貓（去翅足七枚炙）　蜈蚣（去頭足炙）　附子（各三枚炮去皮）　蜘蛛（五枚炙）　水蛭（一枚）　雷丸（三十枚）　巴豆（十五枚去皮心熬）　水銀（研）　大黃　真丹　桂心　射罔（各一兩）　黃連（一分）　石膏（研二兩）　蜀椒（汗三分）　芒硝（一分研）　龍骨（三分）　甘遂（熬）　礜石（燒）　滑石（各一分）</p>
<p>上二十八味，搗篩，蜜和丸如胡豆，服二丸，日三，加之，以知為度。忌豬肉、冷水、生蔥。此方分量多不同，為是古方傳寫瘥錯，若臨用時，即以意量之，（《外臺》卷三十）</p>
<p>治白癩釀酒方。</p>
<p>苦參（二斤）　露蜂房（五兩炙）</p>
<p>上二味，切，以水三斗，法曲二斤，和藥漬，經三宿，絞去滓，炊黍米二斗，釀准常法作酒，候酒熟壓取，先食一飲一雞子，日三，稍稍增之，以瘥為度。（《外臺》卷三十）</p>
<p>治白癩方。</p>
<p>干艾葉濃煮，以漬曲作酒如常法，飲之令醺醺。（《外臺》卷三十）</p>
<p>又方</p>
<p>大蝮蛇一枚，勿令傷，以酒漬之，大者一斗，小者五升，以煻火溫令酒盡，取蛇一寸許，以臘月豬膏和，敷瘡，瘥。亦治鼠瘻諸惡瘡。（《肘後方》卷五）</p>
<p>治惡瘡身體面目皆爛有汁方。</p>
<p>取生魚三寸者，並少豉合搗，令熟，以塗之，燥復塗之。（《醫心方》卷十七）</p>
<p>治惡瘡方。</p>
<p>楝子（一升）　地榆（五兩）　桃仁（五兩）　苦參（五兩）</p>
<p>上四味，水一斗，煮取四升，溫洗之。（《醫心方》卷十七）</p>
<p>治惡瘡人不能名者方。</p>
<p>取頭垢、豬脂和塗瘡中。（《醫心方》卷十七）</p>
<p>治惡瘡粉方。</p>
<p>水銀　黃連　胡粉（熬令黃，各二兩）</p>
<p>上三味，下篩，粉瘡。瘡無汁者，唾和之。（《肘後方》卷五）</p>
<p>治卒毒氣攻身，或腫、或赤痛、或癢，並分散上下同匝，煩毒欲死方。</p>
<p>取生鯽魚切之如鱠，以鹽和搗，遍塗瘡上，干復易之，此為侵淫瘡也。（《外臺》卷二十九）</p>

<h2>治諸瘡中風寒水露方</h2>
<p>治因瘡腫，劇者數日死，或中風寒，或中水，或中狐尿棘刺方。</p>
<p>燒穰草及牛馬屎、生桑條，取得多煙者熏之，令汁出則愈。（《醫心方》卷十七）</p>
<p>又方</p>
<p>以桑灰汁溫之，以漬瘡大良、神驗。（《外臺》卷二十九）</p>

<h1>卷第八</h1>

<h2>治癭病方</h2>
<p>癭病者，始作與癭核相似，其癭病喜當頸下，當中央不偏兩邊也，乃不急膇然，則是癭也。中國人息氣結癭者，但垂膇膇無核也。長安及襄陽蠻人其飲沙水喜癭，有核瘰瘰耳，無根，浮動在皮中，其地婦人患之，腎氣實，沙石性合於腎，則令腎實，故病癭也。北方婦人飲沙水者，產乳其於難，非針不出，是以比家有不救者，良由此也。</p>
<p>小麥一升醇苦酒一升，漬小麥令釋，漉出曝燥，復漬，使苦酒盡，曝麥燥搗篩，以海藻三兩別搗，以和麥末令調，酒服方寸匕，日三。禁鹽、生魚、生菜、豬肉。（《外臺》卷二十三）</p>
<p>又方</p>
<p>小麥（三升）</p>
<p>上以三年米酢三升，漬麥曝乾，干更浸，使酢盡，又曝乾，搗篩為散，別搗昆布為散，每服取麥散二匕，昆布散一匕，旦飽食訖，清酒和服之，若不能飲酒者，以水和服亦得，服盡即瘥，多服彌善，無所禁，但不用舉重及悲啼、煩惱等事。（《外臺》卷二十三）</p>
<p>治癭酒方。</p>
<p>是水雨經露出柳根（三十斤）</p>
<p>上以水一斛，煮得五斗，同米三斗釀之，酒成，先食服一升，日三。（《外臺》卷二十三）</p>
<p>楊樹酒，治瘤癭方。</p>
<p>河邊水所注楊樹根三十斤，熟洗細銼，以水一石，煮取五斗，用米三斗，面三斤，釀之，酒成服一升。（《醫心方》卷十六）</p>

<h2>治瘰癧方</h2>
<p>治寒熱瘰癧散方。</p>
<p>白曾青（半兩）　當歸　防風　栝蔞根　芎藭　黃耆　貍骨（炙）　甘草（炙，各二兩）　細辛　乾薑　露蜂房（各一兩，炙）　礜石（燒半日）　大附子（炮）　荏子（各半兩）　斑蝥（去首足羽，熬）　芫青（去首足羽，各五枚，熬）</p>
<p>上十六味，搗下篩為散，以酒服一錢匕，日再，忌豬肉、冷水、海藻、菘菜。（《外臺》卷二十三）</p>
<p>又方</p>
<p>連翹　土瓜根　龍膽草　苦參　黃連　栝蔞　芍藥　常山皮（各一兩）　貍頭骨（一枚，炙）　</p>
<p>上九味，搗下篩，酒服五分匕，日三。忌豬肉、冷水。（《外臺》卷二十三）</p>
<p>又方</p>
<p>連翹（六分）　土瓜根（四分）　龍膽草（五分）　黃連（四分）　苦參（六分）　栝蔞（四分）　芍藥（五分）</p>
<p>上七味，為散，食後溫酒下五分匕，日三。（《外臺》卷二十三）</p>
<p>又方</p>
<p>鯪鯉甲二十一枚，燒搗末，敷瘡上，效。（《外臺》卷二十三）</p>

<h2>治諸瘻方</h2>
<p>凡有九種瘻，一曰狼瘻，始發於頸，頭腫有根，起於缺盆，上轉連耳本腫大，此得之因憂恚氣上不得下，其根在肺，空青主之，商陸為佐；二曰鼠瘻，始發於頸，無頭尾，如鼷鼠瘻核，時上時下，使人寒熱脫肉，此得之由食大鼠餘毒不去，其根在胃，貍骨主之，知母為佐；三曰螻蛄瘻，始發於頸項，狀如螻蛄，腫潰連生瘡，其汁赤黃，得之食瓜螻蛄餘毒及果實不去核，其根在大腸，荏子主之，桔梗為佐；四曰蜂瘻，始發於頸，瘰癧三、四處，俱腫起，相連潰潰移，此得之多飲流水，水有蜂餘毒不去，其根在脾，雄黃主之，黃芩為佐；五曰蚍蜉瘻，始發於頸，初得之如傷寒，此得之因飲食中有蚍蜉毒不去，其根在腎，礜石主之，防風為佐；六曰蠐螬瘻，始發於頸，上下無頭尾，如棗核塊塊，多在皮中，使人寒熱心痛滿，此因喜怒哭泣得之，其根在心，礜石主之，白朮為佐；七曰浮疽癭，始發於頸，如兩指，使人寒熱欲臥，此得之因思慮憂憶，其根在膽，地膽主之，甘草為佐；八曰瘰癧瘻，始發於頸，有根，初苦痛，瘰癧覺之使人寒熱，得之新沐頭濕結髮，汗流入於頸所致，其根在腎，雌黃主之，芍藥為佐；九曰轉脈瘻，始發於頸，如大豆浮在脈中，濯濯脈轉，苦驚惕，身如振寒熱，始得之時，驚臥失枕，其根在小腸，斑蝥主之，白芷為佐。</p>
<p>治瘻九種方：</p>
<p>空青（研，煉之）　商陸根　貍骨（炙）　知母　荏子　桔梗　雄黃　黃芩　礜石（燒）　防風　礬石（燒汁盡）　地膽（熬）　白朮　甘草（炙）　雌黃　芍藥　斑蝥（去足羽，熬）　白芷（各二分）</p>
<p>上十八味，搗，其論病者特加其分，餘種令分等，細篩末，空青最在後內之，苦酒服一刀圭，日三服，三十日知，五十日愈，七十日平復，病者百日禁食魚、肉。忌生菜、桃、李、雀肉、海藻、菘菜、犬肉、生血物。餘二大豆為一刀圭，小兒服之半，大人全服，八歲以下，寧從少起，過度令人淋，淋即減之。（《外臺》卷二十三）</p>
<p>治鼠瘻及瘰癧膏方。</p>
<p>白馬、牛、羊、豬、雞等矢屑（各一斤）　漏蘆　藁本（各一斤）</p>
<p>上七味，並於石上燒作灰研，絹篩之，以豬脂一升三合，煎亂髮一兩半，令沸，發盡乃內諸藥屑，微火上煎五、六沸，藥成，先去瘡上痂，以鹽湯洗，新綿拭瘡令燥，然後敷膏，若無痂猶須湯洗，日再，若著膏，當以帛覆，無令風冷，神驗。瘰癧以膏敷上，亦日再。（《外臺》卷二十三）</p>
<p>治鼠瘻方。</p>
<p>死鼠（一枚中形者）　亂髮（如雞子一枚）</p>
<p>上二物，以臘月豬膏令淹鼠、發煎之，令其鼠、發都盡消，膏成分作二分，一分稍稍塗瘡，一分以酒服之，即愈矣。鼠子當從瘡出，神良，秘不傳。（《外臺》卷二十三）</p>
<p>又方</p>
<p>蛇腹中鼠、蝦蟆燒末，酒服方寸匕，甚效。（《外臺》卷二十三）</p>
<p>又方</p>
<p>以槲葉搗末，敷腫上，熱炒鹽熨之，即消，良效。（《外臺》卷二十三）</p>
<p>凡有腫，皆有相主，患者宜檢本方，多發頭兩邊，累累有核。</p>
<p>鼠瘻腫核痛未成膿方。</p>
<p>以柏葉敷著腫上，熬鹽著葉上，熨令熱氣下即消。（《肘後方》卷五）</p>
<p>治螻蛄瘻方。</p>
<p>取螻蛄脂二七枚，酒和敷瘡上。（《醫心方》卷十六）</p>
<p>治蟻瘻方。</p>
<p>半夏一果，搗作屑，以鴨膏和，敷瘡上。（《醫心方》卷十六）</p>
<p>治瘻有頭出，膿水不止方。</p>
<p>以啄木一隻燒灰，酒下二錢匕。（《證類本草》卷十九）</p>

<h2>治痔瘡及穀道癢痛方</h2>
<p>凡治病有五，若肛邊生肉如鼠乳出孔外，時時膿血出者，名牡痔也；若肛邊腫痛生瘡者，名酒痔也；若肛邊有核痛及寒熱者，名腸痔也；若大便輒清血出者，名血痔也；若大便難，肛良久不肯入者，名氣痔也。此皆坐中寒濕，或房室失節，或醉飽過度所得，當時不為患，久久不瘥，終能困人，別有大方，今單行亦要便宜，依按用之。（《外臺》卷二十六）</p>
<p>治五痔，有氣痔，溫寒濕勞即發，蛇蛻皮主之；牡痔，生肉如鼠乳在孔中頗見外，妨於更衣，鱉甲主之；牝痔，從孔中起外腫，五、六日自潰出膿血，蝟皮主之；腸痔，更衣挺出，久乃縮，牡豬左懸蹄主之；脈痔，更衣出清血，蜂房主之方。</p>
<p>上所主藥，皆下篩，等分，隨病倍其所主藥為三分，旦早以井華水服方寸匕，病甚者旦暮服之，亦可至四、五服。唯得食乾白肉，病瘥之後，百日乃近房室。又用藥內下部，有瘡內中，無瘡內孔中。（《外臺》卷二十六）</p>
<p>又方</p>
<p>野葛（末）</p>
<p>上一味，以刀圭內藥中服，五日知，二十日若三十日愈。（《外臺》卷二十六）</p>
<p>又方</p>
<p>煮槐根洗之。（《外臺》卷二十六）</p>
<p>又方</p>
<p>煮桃根洗之。（《外臺》卷二十六）</p>
<p>治五痔不以年月日久新方。</p>
<p>枳實為末，煉蜜丸如桐子大，空心飲下二十丸。（《證類本草》卷十三）</p>
<p>五痔散，主酒客勞及損傷，治下部中傍孔，起居血縱橫出方。</p>
<p>赤小豆（四分熬）　黃耆（三分）　附子（包）　白蘞　桂心（各一分）　芍藥　黃芩（各二分）</p>
<p>上七味，搗分散，以酒服方寸匕，日三。止血大驗。（《外臺》卷二十六）</p>
<p>治五痔，大便肛邊清血出，紫參丸，治不瘥，服之無不瘥方。</p>
<p>紫參　秦艽　亂髮灰　紫菀　厚朴（炙以上各一兩）　藁本（二兩）　雷丸（半升）　白芷（一兩）　䗪蟲（半兩熬）　貫眾（三兩去毛）　豬後懸蹄甲（十四枚炙）　虻蟲（半兩去翅足熬）　石南（半兩炙）</p>
<p>上十三味搗篩，以羊脊骨中髓合豬脂各半升煎，和丸如梧子，未食酒服十五丸，日再，亦可飲下，劇者夜一服。四日肛邊癢止，八日膿血盡，鼠乳悉愈，滿六十日，終身不復發，久服益善。有痔病十八年，肛出長三寸，服此方即愈，亦治脫肛。有人熱可除羊髓，以赤蜜代。（《外臺》卷二十六）</p>
<p>治痔，蝟皮丸方。</p>
<p>槐子（三兩）　附子（炮二兩）　當歸（二兩）　連翹（二兩）　乾地黃（五兩）　乾薑（二兩）　礬石（二兩燒令汁盡）　續斷　黃耆（各一兩）　蝟皮（一具，細切，熬令焦）</p>
<p>上十味，搗篩，蜜丸，飲服十五丸如梧子，日再，加至三十丸，亦可主痔。常用大驗。　（《外臺》卷二十六）</p>
<p>又方</p>
<p>以生槐皮十兩削去黑皮，熟搗，丸如彈子，綿裹內下部中，大效。（《外臺》卷二十六）</p>
<p>又方</p>
<p>以槐赤雞一斤為散，飲服方寸匕。（《外臺》卷二十六）</p>
<p>治痔疾下血，疼痛不止方。</p>
<p>以玩月砂不限多少，慢火熬，令黃色為末，每二錢入乳香半錢，空心溫酒調下，日三、四服瘥。砂即兔子糞是也。（《證類本草》卷十七）</p>
<p>洗痔方</p>
<p>以連翹煎湯洗，訖，刀上飛綠礬入麝香貼之。（《證類本草》卷十一）</p>
<p>治穀道中癢痛、痔瘡，槐皮膏方。</p>
<p>槐皮（五兩）　甘草　當歸　白芷（各二兩）　陳豉　桃仁（各五十粒去皮）　赤小豆（二合）</p>
<p>上七味，銼，以豬脂二升煎，候白芷黃膏成，去滓，以塗之，日三度。（《外臺》卷二十六）</p>
<p>治穀道赤痛方。</p>
<p>菟絲子熬令黃黑，和以雞子黃，以塗之，日三。（《醫心方》卷七）</p>
<p>又方</p>
<p>取杏仁熬令黃，搗作脂塗之。（《醫心方》卷七）</p>
<p>治蟲食下部方。</p>
<p>胡粉、雄黃分等，末，著穀道中。（《醫心方》卷七）</p>
<p>治䘌蟲杏仁湯方。</p>
<p>杏仁五十枚，苦酒三升，鹽一合，煮取五合，頓服之。（《醫心方》卷七）</p>

<h2>治脫肛方</h2>
<p>治脫肛熏方。</p>
<p>以女萎一升，以器中燒，坐上熏肛門即愈。（《外臺》卷二十六）</p>
<p>治卒大便脫肛方。</p>
<p>灸鳩尾骨上七壯。（《外臺》卷二十六）</p>
<p>治脫肛歷年不愈方。</p>
<p>以生鐵三斤，以水一斗，煮取五升以洗之，日再。（《外臺》卷二十六）</p>

<h2>治陰腫痛、陰瘡、陰癢方</h2>
<p>治男子陰腫大如斗，核痛，人所不能治者方。</p>
<p>以雄黃一兩研碎綿裹，甘草一尺，生用切，水一斗，煮取二升以洗之。忌海藻、菘菜。（《外臺》卷二十六）</p>
<p>又方</p>
<p>取莧菜根搗薄之。（《外臺》卷二十六）</p>
<p>又方</p>
<p>取蔓荊根搗薄之。（《外臺》卷二十六）</p>
<p>又方</p>
<p>搗馬鞭草薄之。（《外臺》卷二十六）</p>
<p>治男子陰卒腫痛方。</p>
<p>灸足大趾本三炷。（《外臺》卷二十六）</p>
<p>又方</p>
<p>雞翮（六枚燒）　蛇床子（等分）</p>
<p>上二味，為末，以飲服少許，隨卵左右取雞羽。（《外臺》卷二十六）</p>
<p>又方</p>
<p>桃核中仁熬，末，酒服如彈丸，不過三。（《肘後方》卷五）</p>
<p>治卒陰痛如刺，汗如雨出方。</p>
<p>小蒜（一斤）　韭根（一斤一方無）　楊柳根（一斤）</p>
<p>上三味，合燒，以酒灌之，及熱氣熏之，即愈。（《外臺》卷二十六）</p>
<p>治陰惡瘡方。</p>
<p>以蜜煎甘草末塗之，良。（《醫心方》卷七）</p>
<p>治陰頭生瘡如安石榴花，大者如卷方。</p>
<p>虎牙、犀角，刀刮末，以豬膏煎令變色，去滓，日三塗。（《醫心方》卷七）</p>
<p>又方</p>
<p>以烏賊魚骨末粉之，良。（《醫心方》卷七）</p>
<p>又方</p>
<p>鱉甲燒末，以雞子白和敷之。（《醫心方》卷七）</p>
<p>治陰癢生瘡方。</p>
<p>嚼胡麻塗之。（《肘後方》卷五）</p>
<p>治大人小兒陰莖癢汁出方。</p>
<p>取生大豆刮去皮，熟嚼塗之。（《醫心方》卷七）</p>

<h2>治㿗病方</h2>
<p>治㿗方。</p>
<p>取楊柳如腳大趾，長三尺，二十枚，以水煮令極熟，以故布干掩腫處，取柳枝更互拄之，如此取瘥止。（《外臺》卷二十六）</p>
<p>又方</p>
<p>以桃仁搗敷之，亦治婦人陰腫，干即易。（《外臺》卷二十六）</p>
<p>灸卒㿗方。</p>
<p>以蒲橫度口折之一倍增之，以布著小腹大橫理，令度中央上當臍，勿使偏僻，灸度頭及中央合二處，隨年壯，好自養，勿舉重、大語怒言、大笑呼喚。（《外臺》卷二十六）</p>
<p>又方</p>
<p>牽陰頭正上向，灸莖頭所極；又牽下向穀道，又灸所極；又牽向左右髀直下行，灸所極。皆使正直勿偏，四處炷，隨年壯佳。（《外臺》卷二十六）</p>
<p>又法</p>
<p>灸足厥陰，左右各三壯，穴在足大趾間是也。（《外臺》卷二十六）</p>

<h2>治月蝕瘡方</h2>
<p>治大人小兒，卒得月蝕瘡方。</p>
<p>五月五日蝦蟆灰，以豬膏和塗之，瘥止。（《外臺》卷二十九）</p>
<p>又方</p>
<p>於月望夕取兔矢，仍內蝦蟆腹中，合燒為灰末，以敷瘡上，瘥止。（《外臺》卷二十九）</p>
<p>治月飴瘡方。</p>
<p>救月蝕鼓皮如手許大一片，以苦酒三升漬一宿，以塗瘡上。或云燒作灰，脂和敷之。（《外臺》卷二十九）</p>
<p>又方</p>
<p>虎頭骨（二兩碎）　浮萍（屑一兩）</p>
<p>上二味，以豬脂一斤煎，取骨黃成膏，以塗瘡上。（《外臺》卷二十九）</p>
<p>又方</p>
<p>茱萸根　地榆根　薔薇根</p>
<p>上三味，各等分，為散，作湯洗瘡，取藥塗瘡上，日三。（《外臺》卷二十九）</p>
<p>又方</p>
<p>燃燭照瘡，使燭熱氣相及瘡，即愈。（《外臺》卷二十九）</p>
<p>又方</p>
<p>煮枯鮑魚以灑之。（《醫心方》卷十七）</p>

<h2>治手足皸裂及代指方</h2>
<p>治手足皸裂血出痛，若涉冰霜凍面及手足皸裂瘃壞方。</p>
<p>取麥窠濃煮汁，及熱以浸洗之，即瘥。（《外臺》卷二十九）</p>
<p>又方</p>
<p>取蔥葉萎黃及籜煮，以漬洗之。（《外臺》卷二十九）</p>
<p>治人腳無冬夏常拆裂，名曰屍腳，此因履踏洗屍水及惡物故也，方。</p>
<p>取雞屎一升，以水二升，煮數沸，待小冷，以漬腳半日，不過三、四度瘥。（《外臺》卷二十九）</p>
<p>治手足皴裂，血出疼痛方。</p>
<p>豬𦚟著熱酒中，以洗之，即瘥。無酒用湯亦佳。（《外臺》卷二十九）</p>
<p>治手足瘃壞方。</p>
<p>蜀椒四合，以水一斗，煮三沸，去滓，以洗漬之。（《醫心方》卷八）</p>
<p>治凍瘡方。</p>
<p>以蠟洋灌之。（《醫心方》卷八）</p>
<p>治代指方。</p>
<p>單煮甘草漬之。（《醫心方》卷八）</p>
<p>又方</p>
<p>以指刺炊上熱飯中七遍。（《外臺》卷二十九）</p>
<p>又方</p>
<p>用芒硝汗漬之。（《醫心方》卷八）</p>

<h1>卷第九</h1>

<h2>治跌打損傷方</h2>
<p>治忽落馬墮車，及墜屋坑崖腕傷，身體頭面四肢內外切痛，煩躁叫喚不得臥方。</p>
<p>急覓鼠矢，無問多少，燒搗末，以豬膏和，塗封痛處，急裹之。仍取好大黃如雞子大，以亂髮裹上，如鴨子大，以人所裁白越布衫領巾間余布以裹發外，乃令火燒，煙斷搗末，屑薄，以酒服，日再三。無越布，余布可強用，常當預備此物為要。（《外臺》卷二十九）</p>
<p>治從高墮下，若為重物所頓笮得瘀血方。</p>
<p>豆豉三升，沸湯二升漬之，食頃，絞去滓，內蒲黃三合，攪調，頓服之，不過三、四服，神良。（《外臺》卷二十九）</p>
<p>打傷腫痛，無名異為末，酒服，趕下四肢之末，血皆散矣。（《本草綱目》卷九）</p>

<h2>治刀箭金瘡方</h2>
<p>毒箭有三種，交、廣夷州用焦銅作箭鏃，嶺北諸處以蛇毒螫物汁著筒中漬箭鏃，此二種才傷皮便洪膿沸爛而死。</p>
<p>若中之，便飲屎汁並以敷之亦可治，惟此最妙。又一種用射罔以塗箭鏃，人中之亦困，若著實處不死，近腹亦宜急治之。今葛氏方是射罔者耳。（《證類本草》卷十五）</p>
<p>治卒被毒箭方。</p>
<p>但多食生葛根自愈，或搗生葛絞取汁飲之，乾者，煮飲之。（《外臺》卷二十九）</p>
<p>治被毒箭傷方。</p>
<p>雄黃末敷之愈。（《外臺》卷二十九）</p>
<p>治毒箭方。</p>
<p>以鹽滿瘡中，灸鹽上三十壯。（《外臺》卷二十九）</p>
<p>又方</p>
<p>煮蘆根汁，飲一、二升。（《外臺》卷二十九）</p>
<p>治刀箭瘡，有血不止方。</p>
<p>以小兒矢塗封之，三日即瘥，並不傷人。（《外臺》卷二十九）</p>
<p>治兵創，醫不能治方。</p>
<p>剝桑白皮，去上黑者，以裹之，桑白汁入創，冬月用桑根皮汁。（《醫心方》卷十八）</p>
<p>治箭金在喉咽胸背膈中，及在諸處不出方。</p>
<p>取婦人月經衣已汙者，燒末，酒服方寸匕，日三、立出。（《醫心方》卷十八）</p>
<p>金創腸胃脫出，欲令入法。</p>
<p>取人糞乾末，以粉腸上即入。（《醫心方》卷十八）</p>

<h2>治湯煎火燒及灸瘡方</h2>
<p>凡被火燒者，初慎勿以冷水冷物並井下泥，火瘡得冷，即熱氣更深轉入至骨，爛壞人筋攣縮者，良由此也。（《外臺》卷二十九）</p>
<p>治卒被火燒，苦劇悶絕不識人方。</p>
<p>取新熱小便飲一升，及冷水和蜜飲之，口噤不開者，可拗開灌之，其悶瘥，然後治外乃善。（《外臺》卷二十九）</p>
<p>治火爛瘡膏方。</p>
<p>柏白皮　生地黃（研各四兩）　苦竹葉　甘草（各四兩）</p>
<p>上四味，切，以豬脂一斤煎，三上三下藥成濾去滓，以摩瘡上，日再摩。</p>
<p>被湯火熱膏所燒，不問大小、梔子膏方。</p>
<p>梔子（三十枚）　白蘞　黃芩（各五兩）</p>
<p>上三味，切，以水五升，麻油一升煎，令水氣竭，去滓冷之，以淋瘡令溜去火熱毒，肌乃得完也。作二日，任用膏塗湯散治之。（《外臺》卷二十九）</p>
<p>治為沸湯煎膏所燒，火爛瘡方。</p>
<p>丹參細切，以羊脂煎成膏，敷瘡上。（《外臺》卷二十九）</p>
<p>治湯火燒瘡方。</p>
<p>熟雞子一十個，取黃炒取油，入十文膩粉，攪勻，用雞翎掃瘡上，永除瘢痕。（《證類本草》卷十九）</p>
<p>治湯火燒灼瘡方。</p>
<p>單敷濕屎，立痛止，常日用良。（《證類本草》卷十七）</p>
<p>治湯火傷神妙方。</p>
<p>蛤蜊殼灰，火燒，研為末，油調塗之。（《證類本草》卷二十二）</p>
<p>治灸瘡、痛腫急方。</p>
<p>搗灶中黃土末之，以水和煮令熱，以漬之。（《外臺》卷二十九）</p>
<p>治灸瘡薤白膏，生肌肉止痛方。</p>
<p>薤白　當歸（各二兩）　白芷（一兩）　羊髓（一斤）</p>
<p>上四味，㕮咀，以羊髓煎，白芷色黃藥成，去滓，以敷瘡上，日二。（《外臺》卷二十九）</p>

<h2>治漆瘡方</h2>
<p>治卒得漆瘡方。</p>
<p>煮柳葉湯，適寒溫洗之，柳皮尤妙。（《外臺》卷二十九）</p>
<p>又方</p>
<p>濃煮鼠查莖葉洗之，亦可搗取汁以塗之。（《外臺》卷二十九）</p>
<p>又方</p>
<p>貫眾搗末以塗之良，干以油和塗之。（《外臺》卷二十九）</p>
<p>又方</p>
<p>宜啖肥肉。（《外臺》卷二十九）</p>
<p>治漆瘡洗湯方。</p>
<p>蓮葉燥者一斤，以水一斗，煮得五升，洗漆上，日二。（《醫心方》卷十七）</p>
<p>又方</p>
<p>取豬膏塗之。（《醫心方》卷十七）</p>

<h2>治竹木刺不出方</h2>
<p>治竹木刺不出方。</p>
<p>鹿角燒灰末，以水和塗之，立出。久者不過一夕。（《外臺》卷二十九）</p>
<p>治竹木刺不出方。</p>
<p>取羊糞燥者燒灰，和脂塗之。刺若未出，重敷之。（《外臺》卷二十九）</p>
<p>治諸竹木刺在肉中不出方。</p>
<p>搗白梅水和塗上，立出。（《醫心方》卷十八</p>
<p>又方</p>
<p>王不留行末服之，並敷上，即出。（《外臺》卷二十九）</p>
<p>治刺藏在肉中不出方。</p>
<p>用牛膝根莖合搗以敷之，即出。縱瘡合，其刺猶自出。（《外臺》卷二十九）</p>
<p>治狐刺方。</p>
<p>熱魚汁灌瘡中。（《外臺》卷二十九）</p>

<h2>治熊虎傷人瘡方</h2>
<p>治熊虎爪牙所傷毒痛方。</p>
<p>燒青布以熏瘡口，毒即出。仍煮葛根汁令濃，以洗瘡，日十度。並搗葛根為散，煮葛汁以服方寸匕，日五，甚者夜二。（《外臺》卷四十）</p>
<p>又方</p>
<p>嚼粟塗之。（《外臺》卷四十）</p>
<p>又方</p>
<p>煮生鐵令有味，以洗瘡。（《外臺》卷四十）</p>
<p>治熊虎傷人瘡方。</p>
<p>取蒴藋一大把，銼碎，以水一升漬，須臾，取汁飲之，余濘以敷瘡上。（《外臺》卷四十）</p>
<p>入山闢虎法。</p>
<p>燒牛角、羊角，虎不敢近人。（《外臺》卷四十）</p>

<h2>治眾蛇螫人方</h2>
<p>蛇螫人，瘡已合，而餘毒在肉中，淫淫痛癢方。</p>
<p>取大、小蒜各一升，合搗，以熱湯淋取汁，灌瘡中。（《外臺》卷四十）</p>
<p>治眾蛇螫人方。</p>
<p>取紫莧菜搗，飲汁一升，滓以少水和塗瘡上。又搗冬瓜根以敷之。（《外臺》卷四十）</p>
<p>又方</p>
<p>取常思葉搗取汁，飲一升，以滓敷瘡上。又以鬼目葉薄之，止痛。（《外臺》卷四十）</p>
<p>治眾蛇螫方。</p>
<p>嚼乾薑薄瘡上，不過三、四瘥。（《外臺》卷四十）</p>
<p>又方</p>
<p>煮吳茱萸湯以漬瘡上，立瘥。（《外臺》卷四十）</p>
<p>又方</p>
<p>搗大蒜塗之，以少鹽、豉合搗尤佳。（《外臺》卷四十）</p>
<p>治毒蛇螫人方。</p>
<p>牛耳垢敷之佳。（《證類本草》卷十七）</p>
<p>治蝮蛇螫人方。</p>
<p>令婦人溺所螫上。（《醫心方》卷十八）</p>
<p>又方</p>
<p>令婦人坐上。（《醫心方》卷十八）</p>
<p>治蛇虺諸毒螫方。</p>
<p>火消蠟以著瘡中。（《醫心方》卷十八）</p>
<p>治蛇骨刺人毒痛方。</p>
<p>以鐵精如大豆者，以管吹瘡內。（《肘後方》卷七）</p>
<p>治蛇繞人不解方。</p>
<p>以熱湯淋之，即解。若無湯者，令人就溺之亦解。（《醫心方》卷十八）</p>
<p>入山草闢眾蛇方。</p>
<p>乾薑　生麝香　雄黃</p>
<p>上三味，等分，搗，以小絳囊盛，男左女右帶佩，則蛇逆者闢。人為蛇所中，便以治之，如無麝香，以射罔和帶之，治諸毒良。（《外臺》卷四十）</p>
<p>仙人入山草法。</p>
<p>闢蛇之藥雖多，唯以武都雄黃為上，帶一塊，古稱五兩於肘間，則諸蛇毒物莫之敢犯，他人中者，便摩以治之。又帶五蛄黃丸良，以丸有蜈蚣故也。人入山伐船，有大赤足蜈蚣置管中繫腰。又有𪚻龜啖蛇，帶其尾亦好。䲰日喙彌佳。禁法中亦有單行輕易者，今疏其數條，然皆須受而後行。不爾，到山東口住立，存五蛇，一頭乃閉氣以物屈刺之，因左回兩步，思作蜈蚣數千以衣身，便行無所畏也。（《外臺》卷四十）</p>

<h2>治蠍螫人方</h2>
<p>治蠍蟲螫人方。</p>
<p>余身經遭此毒，手指痛苦不可忍，諸法治皆無效，有人見令以冷水漬指，亦漬手，即不痛。水微暖便痛，即以冷水漬，小暖即易之。余處冷水浸故布以拓之，此實大驗。（《外臺》卷四十）</p>
<p>又方</p>
<p>蠍有雄雌，雄者止痛在一處，雌者痛牽諸處。若是雄者，用井底泥敷之，溫則易。雌者用當屋及溝下泥塗之。若不值天雨，可用新汲水從屋上淋下，於下取泥敷之。（《外臺》卷四十）</p>
<p>又方</p>
<p>畫地作十字，取上土，水服五分匕。（《外臺》卷四十）</p>

<h2>治蠼螋尿瘡方</h2>
<p>治蠼螋尿瘡方。</p>
<p>燒鹿角搗末，以苦酒和敷之。已有汁者，燒道邊弊蒲席灰以敷之。（《外臺》卷四十）</p>
<p>又方</p>
<p>槐白皮（半斤，切）　苦酒（二升）</p>
<p>上二味，漬半日，刮去瘡處以洗，日五、六遍，末赤小豆和苦酒敷之，燥即易之。小兒以水和敷之，甚良。（《外臺》卷四十）</p>
<p>又方</p>
<p>嚼大麥以敷之，日三。（《外臺》卷四十）</p>
<p>又方</p>
<p>以豬脂、燕巢中土，苦酒和以敷之。（《醫心方》卷十七）</p>

<h2>治狂犬咬人方</h2>
<p>治凡犬咬人方。</p>
<p>以苦酒和灰塗之，良。（《外臺》卷四十）</p>
<p>又方</p>
<p>以火炙臘灌創中。（《醫心方》卷十八）</p>
<p>又方</p>
<p>取灶中熱灰粉創中，裹敷立愈。（《醫心方》卷十八）</p>
<p>以頭垢少少內瘡中，以熱牛屎塗之佳。（《肘後方》卷七）</p>
<p>治猘犬咬人方。</p>
<p>先嗍卻惡血，灸瘡中十壯，明日以去，日灸一壯，滿百乃止。忌酒。（《肘後方》卷七）</p>
<p>又方</p>
<p>刮虎牙若虎骨，服一匕。已發如猘犬者，服此藥即瘥。（《肘後方》卷七）</p>
<p>又方</p>
<p>頭髮、蝟皮。</p>
<p>上二物，燒末，等分，水和飲一杯。若或已目赤口噤者，折齒下之。（《肘後方》卷七）</p>
<p>眾治不瘥，毒攻人煩亂，㖦已作犬聲者方。</p>
<p>髑髏骨燒灰末，以東流水和服方寸匕，以活止。</p>
<p>凡狂犬咋人，七日輒應一發，過三七日不發則免也。要過百日，乃為大免。每至七日，輒當搗薤汁飲二、三升。又當終身禁食犬肉蠶蛹，若食此，發則不可救之。瘡未瘥之間，亦忌食生魚，諸肥膩肉及諸冷食，但於飯下蒸生魚，及就膩器中食便發，不宜飲酒，能過一年乃佳。若重發者治之方。</p>
<p>生食蟾蜍膾絕良。亦可燒炙食之。不必令其人知，初得齧便為此，則不發。（《外臺》卷四十</p>

<h2>治馬咋踏及諸馬物傷人方</h2>
<p>治馬咋及踏人，作瘡有毒，腫熱疼痛方。</p>
<p>割雞冠血點所齧瘡中，日三。若父馬用雌雞，母馬用雄雞。（《外臺》卷四十）</p>
<p>又方</p>
<p>取婦人月經敷之，最良。（《外臺》卷四十）</p>
<p>又方</p>
<p>取馬鞭稍三尺，鼠屎二七枚，燒末，以豬膏和塗之，立愈。（《外臺》卷四十）</p>
<p>治剝死馬，馬骨傷人手，毒攻欲死方。</p>
<p>取死馬腹中屎以塗之，即瘥。（《外臺》卷四十）</p>
<p>又方</p>
<p>絞飲其矢汁，燒末服方寸匕。（《外臺》卷四十）</p>
<p>治馬骨所刺，及馬血入舊瘡中，毒痛欲死方。</p>
<p>以熱桑灰汁，更番漬之，常日為之。冷即易，數日乃愈。若痛止而腫不消，煮炙石令熱，以熨之。炙瘡上亦佳。（《外臺》卷四十）</p>
<p>治馬血入人瘡中方。</p>
<p>以人糞敷瘡中。（《醫心方》卷十八）</p>
<p>治馬汗、馬毛入人瘡中，腫痛欲死方。</p>
<p>以水漬瘡，數易水便愈。（《醫心方》卷十八）</p>
<p>治人先有瘡而乘馬，馬汗若馬毛入瘡，及拂略著致令腫痛方。</p>
<p>大飲醇酒，取醉即愈。（《外臺》卷四十）</p>
<p>治馬汗入人瘡方。</p>
<p>燒雞毛末，以酒服方寸匕。（《外臺》卷四十）</p>
<p>治人體上先有瘡而乘馬、馬汗及馬毛入瘡中，或但為馬氣所蒸，皆致腫痛煩熱，入腹則殺人方。</p>
<p>燒馬鞭皮，以豬膏和敷之。（《外臺》卷四十）</p>
<p>治馬齧人陰卵脫出方。</p>
<p>推內之，以桑皮細作線縫之，取烏雞肝細銼塗之，且忍勿即小便，便愈。（《醫心方》卷十八）</p>

<h1>卷第十</h1>

<h2>妊娠隨月養胎及服藥方</h2>
<p>妊娠一月，名始胚，飲食精熟，酸美受御，宜食大麥，無食腥辛，是謂才正。</p>
<p>妊娠一月，足厥陰脈養，不可針灸其經。足厥陰內屬於肝，肝主筋及血，一月之時，血行痞澀，不為力事，寢必安靜，無令恐畏。</p>
<p>妊娠一月，陰陽新合為胎，寒多為痛，熱多卒驚，舉重腰痛腹滿胞急，卒有所下，當預安之，宜服烏雌雞湯方。</p>
<p>烏雌雞一隻（治如食法）　茯苓（一兩）　吳茱萸（一升）　芍藥　白朮（各三兩）　麥門冬（五合去心）　人參（三兩）　阿膠（二兩）　甘草（一兩炙）　生薑（一兩切）</p>
<p>上十味，切，以水一斗二升，煮雞，取汁六升，去雞下藥，煮取三升，內酒三升，並膠烊盡，取三升，去滓，溫服一升，日三服。</p>
<p>若曾傷一月胎者，當預服補胎湯方。</p>
<p>細辛（一兩）　防風（二兩）　烏梅（一升）　吳茱萸（五合）　乾地黃　白朮（各一兩）　大麥（五合）　生薑（四兩）</p>
<p>上八味，切，以水七升，煮取二升半，去滓，分溫三服。若寒多者，倍細辛、茱萸；若熱多渴者，去細辛、茱萸，加栝蔞根二兩；若有所思，去大麥加柏子仁三合。忌生菜、蕪荑、桃李、雀肉等物。一方有人參一兩。（《外臺》卷三十三）</p>
<p>妊娠二月，名始膏，無食辛臊，居必靜處，男子勿勞，百節皆痛，是謂胎始結。</p>
<p>妊娠二月，足少陽脈養，不可針灸其經，足少陽內屬於膽，膽主精，二月之時，兒精成於胞里，當慎獲驚動。</p>
<p>妊娠二月，始陰陽踞經，有寒多壞不成，有熱即萎，辛中風寒，有所動搖，心滿臍下懸急，腰背強痛，卒有所下，乍寒乍熱，艾湯主之方。</p>
<p>丹參（三兩）　當歸　人參　麻黃（去節）　艾葉　阿膠（炙各二兩）　甘草（一兩炙）　大棗（十二枚擘）　生薑（一兩）</p>
<p>上九味，切，以酒三升，水一斗，內藥煮減半，去滓內膠，煎取三升，分溫三服。忌海藻、菘菜。</p>
<p>若傷二月胎者，當預服黃連湯方。</p>
<p>黃連　人參（各一兩）　吳茱萸（五合）　生地黃（五兩）　生薑（三兩）</p>
<p>上五味，切，以醋漿七升，煮取三升，分四服，日三夜一，每十日一作。若頗覺不安，加烏梅一升，加烏梅者不用漿，直用水耳。忌豬肉、冷水、蕪荑。一方用當歸半兩。（《外臺》卷三十三）</p>
<p>妊娠三月，名始胎，當此之時，未有定儀，見物而化，欲生男者操弓矢，欲生女者弄珠璣，欲子美好，數視璧玉，欲子賢良，端坐清虛，是謂外象而內感者也。</p>
<p>妊娠三月，手心主脈養，不可針灸其經，手心主內屬於心，無悲哀無思慮驚動。</p>
<p>妊娠三月，為定形，有寒大便青，有熱小便難，不赤即黃，卒驚恐憂愁嗔恚喜頓僕，動於經脈，腹滿繞臍苦痛，腰背痛，卒有所下，雄雞湯方。</p>
<p>雄雞（一隻治如法食）　甘草（炙）　人參　茯苓　阿膠　（各二兩）　黃芩　白朮（各一兩）　麥門冬（去心五合）　芍藥（四兩）　大棗（十二枚擘）　生薑（一兩切）</p>
<p>上十一味，切，以水一斗五升煮雞減半，內藥煮取半，內清酒三升並膠再煎，取三升分三服。一日盡之，當溫臥。忌海藻、菘菜、酢物、桃李、雀肉等。一方用當歸、芎藭二兩，不用黃芩、生薑。</p>
<p>若曾傷三月胎者，當預服茯神湯方。</p>
<p>茯神　丹參　龍骨（各一兩）　阿膠　當歸　甘草（炙）　人參（各二兩）　赤小豆（二十一粒）　大棗（十三枚擘）</p>
<p>上九味，切，酢漿一斗，煮取三升，分四服，七日後服一劑，腰痛者加桑寄生二兩。忌海藻、菘菜。（《外臺》卷三十三）</p>
<p>妊娠四月，始受水精，以成血脈，宜食稻粳，羹宜魚雁，是謂成血氣，以通耳目，而行經絡。</p>
<p>妊娠四月，手少陽脈養，不可針灸其經，手少陽內輸三焦，四月之時，兒六腑順成，當靜形體，和心志，節飲食。</p>
<p>妊娠四月，為離經。有寒心下溫溫欲嘔，胸膈滿，不欲食。有熱小便難數，數如淋狀，臍下苦急。卒風寒，頸項強痛，寒熱。或驚動身軀，腰背腹痛，往來有時，胎上迫胸，心煩不得安，卒有所下，菊花湯方。</p>
<p>菊花（如雞子大一枚）　麥門冬（去心一升）　麻黃（三兩去節）　阿膠（三兩炙）　甘草（二兩炙）　當歸（二兩）　人參（一兩半）　生薑（五兩）　半夏（二兩洗）　大棗（十二枚擘）</p>
<p>上十味，切，以水八升煮，減半，內清酒三升，並阿膠煎，取三升，分三服，溫臥，當汗以粉粉之，獲風寒四、五日。忌羊肉、海藻、菘菜、餳等。</p>
<p>若曾傷四月胎者，當預服調中湯方。</p>
<p>芍藥（四兩）　甘草（炙）　芎藭　續斷（各一兩）　生李根白皮　柴胡　白朮（各三兩）　烏梅（一升）　當歸（一兩半）　生薑（四兩）　厚朴（炙）　枳實（炙各二兩）</p>
<p>上十二味，切，以水一斗，煮取三升，分四服，日三夜一，八日復服一劑。一方用半夏二兩。忌海藻、菘菜、桃李、雀肉等物。（《外臺》卷三十三）</p>
<p>妊娠五月，始受火精，以成其氣，臥必晏起，沐浴浣衣，深其居處，厚其衣裳，朝吸天光，以避寒殃，其食稻麥，其羹牛羊，和以茱萸，調以五味，是謂養氣，以定五臟。</p>
<p>妊娠五月，足太陰脈養，不可針灸其經，足太陰內輸於脾，五月之時，兒四肢成，無大飢，無甚飽，無食乾燥，無自炙熱，無大勞倦。</p>
<p>妊娠五月，毛髮初生，有熱苦頭眩，心亂嘔吐，有寒苦腹滿痛，小便數，卒有恐怖，四肢疼痛，寒熱，胎動無常處，腹痛悶頓欲僕，卒有所下，阿膠湯方。</p>
<p>阿膠（四兩炙）　人參（一兩）　麥門冬（一升去心）　生薑（六兩）　吳茱萸　旋覆花　當歸　芍藥　甘草（炙）　黃芩（各一兩）</p>
<p>上十味，切，以水九升，煮減半，內清酒三升並膠，微火煎，取三升半，分四服，日三服夜一，先食。再服便愈，不瘥更服，忌海藻、菘菜。</p>
<p>若曾傷五月胎者，當預服安中湯方。</p>
<p>甘草（炙）　芍藥（各二兩）　當歸　人參　乾地黃　芎藭（各二兩）　五味子（五合）　麥門冬（去心一升）　大麻仁（五合）　生薑（六兩）　大棗（三十五枚擘）　黃芩（一兩）</p>
<p>上十二味，切，以水七升，清酒五升，煮取三升半，分四服，日三夜一。七日復服一劑。忌菘菜、海藻、蕪荑。（《外臺》卷三十三）</p>
<p>妊娠六月，始受金精，以成其筋，身欲微勞，無得靜處，出遊於野，數觀走犬、馬，食宜鷙鳥、猛獸之肉，是謂變腠理紉筋，以養其力，以堅背膂。</p>
<p>妊娠六月，足陽明脈養，不可針灸其經，足陽明內屬於胃，主其口目，六月之時，兒口目皆成，調五味，食甘美，無大飽。</p>
<p>妊娠六月，卒有所動不安，寒熱往來，腹內脹滿，身體腫，驚怖，忽有所下，腹痛如欲產，手足煩疼，麥門冬湯方。</p>
<p>麥門冬（去心一升）　甘草（炙）　人參（各一兩）　乾地黃（三兩）　黃芩（二兩）　阿膠（四兩）　生薑（六兩）　大棗（十五枚擘）</p>
<p>上八味，切，以水七升，煮減半，內清酒二升並膠，煎取三升，分三服，每服如人行三、四里，中間進糜粥。忌海藻、菘菜、蕪荑。</p>
<p>若曾傷六月胎，當預服柴胡湯方。</p>
<p>柴胡（四兩）　芍藥（一方作紫葳）　白朮　甘草（炙各二兩）　麥門冬（三兩去心）　蓯蓉（一兩）　芎藭（二兩）　乾地黃（五兩）　生薑（六兩）　大棗（三十枚擘）</p>
<p>上十味，切，以水一斗，煮取三升，分四服，日三夜一，中間進糜粥，勿食生冷及堅強之物，七日更服一劑。忌海藻、菘菜、蕪荑、桃李，雀肉等。一方有黃芩二兩。</p>
<p>妊娠七月，始受木精，以成骨，勞身搖肢，無使定止，動作屈伸，以運血氣，自此後居處必燥，飲食避寒，常食粳稻，以密腠理，是謂養骨而堅齒。</p>
<p>妊娠七月，手太陰脈養，不可針灸其經，手太陰內屬於肺，肺主皮毛，七月之時，兒皮毛已成，無大言，無號哭，無薄衣，無洗浴，無寒飲。</p>
<p>妊娠七月，忽驚恐，搖動，腹痛，卒有所下，手足厥冷，脈若傷寒，煩熱腹滿，短氣，常苦頸項腰背強，蔥白湯方。</p>
<p>蔥白（長三四寸十四枚）　半夏（洗）　麥門冬（去心各一升）　生薑（八兩）　甘草（炙）　當歸　黃耆（各三兩）　阿膠（四兩）　人參（一兩半）　黃芩（一兩）　旋覆花（一把）</p>
<p>上十一味，切，以水八升，煮減半，內清酒三升並膠，煎取四升，溫服一升，日三夜一，溫臥當汗出，若不出者加麻黃二兩煮，服如前法，若秋後勿強責汗。忌羊肉、餳、海藻、菘菜等。</p>
<p>若曾傷七月胎者，當預服杏仁湯方。杏仁（去雙仁皮尖）　甘草（炙）　鍾乳（研各二兩）　麥門冬（去心）　吳茱萸（各一兩）　乾薑（二兩）　五味子　粳米（各五合）　紫菀（一兩）</p>
<p>上九味，切，以水八升，煮取三升半，分四服，日三夜一，中間進食，七日服一劑，忌海藻、菘菜。（《外臺》卷三十三）</p>
<p>妊娠八月，始常土精，以成膚革，和心靜息，無使氣極，是謂密腠理，光澤顏色。</p>
<p>妊娠八月，手陽明脈養，不可針灸其經，手陽明內屬於大腸，大腸主九竅，八月之時，兒九竅皆成，無食燥物，無輒失食，無忍大起。</p>
<p>妊娠八月，中風寒有所犯觸，身體盡痛，乍寒乍熱，胎動不安，常苦頭眩痛，繞臍下寒，時時小便，白如米汁，或青或黃，或使寒慄，腰背苦冷痛，而目視茫茫，芍藥湯方。</p>
<p>芍藥（四分）　人參　當歸　甘草（炙各三兩）　白朮（一兩）　厚朴（二兩炙）　薤白（切一升）　生薑（四兩切）</p>
<p>上八味，切，以水五升，酒四升合煮，取三升，分三服，日再夜一，忌海藻、菘菜、桃李、雀肉等。</p>
<p>若曾傷八月胎者，當預服葵子湯方。（《外臺》卷三十三）</p>
<p>甘草（炙三兩）　芍藥（二兩一方四兩）　柴胡（三兩）　葵子（一升）　白朮（三兩）　生薑（六兩）　大棗（二十枚擘）　厚朴（二兩）</p>
<p>上八味，切，以水九升，煮取三升，分三服，日三。十日服一劑。忌海藻、菘菜、桃李、雀肉等。</p>
<p>妊娠九月，始受石精，以成皮毛，六腑百節，莫不畢備，飲醲食甘，緩帶自持而待之，是謂養毛髮，多才力。</p>
<p>妊娠九月，足少陰脈養，不可針灸其經，足少陰內屬於腎，腎主續縷，九月之時，兒脈續縷皆成，無處濕冷，無著炙衣。</p>
<p>妊娠九月，若卒下痢，腹滿懸急，胎上衝心，腰背痛，不可轉側，短氣，半夏湯方。</p>
<p>半夏（洗）　麥門冬（去心各五合）　乾薑（一兩）　當歸　吳茱萸　阿膠（炙各三兩）　大棗（十二枚擘）</p>
<p>上七味，切，以水九升，煮取三升，去滓，內白蜜八合，微火上溫，分四服，痢即止。忌血物、餳等。</p>
<p>若曾傷九月胎者，當預服豬腎湯方。</p>
<p>豬腎（一具）　茯苓　桑寄生　乾薑　乾地黃　芎藭（各三兩）　白朮（四兩）　麥門冬（一升去心）　附子（中者一枚炮）　大豆（三合）</p>
<p>上十味，切，以水一斗，煮腎令熟，去腎內諸藥，煎取三升半，分四服，日三夜一，十日更一劑。忌豬肉、冷冰、蕪荑、桃李、雀肉、酢物等。（《外臺》卷三十三）</p>
<p>妊娠十月，五臟俱備，六腑齊通，納天地氣于丹田，故使關節人神皆備，但俟時而生.（《外臺》卷三十三）</p>
<p>變女為男法。</p>
<p>取弓弦一枚，絳囊盛，帶婦左臂。（《醫心方》卷二十四）</p>

<h2>治妊娠胎動及胎不長方</h2>
<p>治妊娠胎動不安，腹痛，蔥白湯方。</p>
<p>蔥白（切一升）　阿膠（炙）　當歸　續斷　芎藭（各三兩）　銀（隨多少）</p>
<p>上六味，切，以水一斗，先煮銀，取七升去銀，內余藥煎，取二升半，內膠令烊，分三服，不瘥更作。（《外臺》卷三十三）</p>
<p>治任身胎動，晝夜叫呼，口噤唇寒，及下利不息方。</p>
<p>已治艾葉一筥，以好酒五升，煮取四升，去滓，更煎取一升一服，口閉者開口灌之，藥下即安。（《醫心方》卷二十二）</p>
<p>治妊娠二、三月，上至八、九月，胎動不安，腹痛已有所見方。</p>
<p>艾葉　阿膠（炙）　芎藭　當歸（各三兩）　甘草（一兩炙）</p>
<p>上五味，切，以水八升，煮取三升，去滓，內膠令烊，分三服，日三。（《外臺》卷三十三）</p>
<p>妊娠六、七月，胎不安常處，旋覆花湯方。</p>
<p>旋覆花（一兩）　厚朴（炙）　白朮　枳實（炙）　黃芩　茯苓（各三兩）　半夏（洗十遍）　芍藥　生薑（各二兩）</p>
<p>上九味，切，以水一斗，煮取二升半，先食，分五服，日三夜二。忌羊肉、餳、醋、桃李、雀肉等。（《外臺》卷三十三）</p>
<p>治妊娠動胎去血，腰腹痛方。</p>
<p>芎藭　阿膠　當歸　青竹茹（各三兩）　</p>
<p>上四味，切，以水一斗半，煮銀二斤，取六升，去銀內藥煎，取二升半，分三服，日再夜一，不瘥更作一劑。（《卷三十三》）</p>
<p>治妊娠二、三月，上至七、八月，頓僕失踞，胎動不安，傷損腰腹，痛欲死，若有所見，及胎奔上搶心，短氣，膠艾湯方。</p>
<p>當歸　芎藭　甘草（炙）　阿膠（炙）　芍藥（各二兩）　艾葉（三兩）　乾地黃（四兩）</p>
<p>上七味，切，以水五升，好酒三升，合煮，取三升，去滓內膠，更上火令膠烊，分三服，日三，不瘥更作，忌海藻、菘菜、蕪荑。（《外臺》卷三十三）</p>
<p>治婦人懷孕，數傷胎方。</p>
<p>鯉魚（二斤）　粳米（一升）</p>
<p>上二味，如法作臛，少著鹽，勿著蔥、豉、醋，食之甚良。一月中頓三過作效，安穩無忌。（《外臺》卷三十三）</p>
<p>治卒腹疼安胎方。</p>
<p>烏雞肝（一具）　切過，酒五合，服令盡，肝勿令入水中（《證類本草》卷十九）</p>
<p>治婦人懷胎不長方。</p>
<p>鯉魚長一尺者，水漬沒，內鹽如棗，煮令熟，取汁稍稍飲之，當胎所腹上當汗如鼻狀。雖有所見，胎雖不安者，十餘日輒一作此，令胎長大，甚平安。（《外臺》卷三十三）</p>

<h2>治妊娠惡阻及子煩方</h2>
<p>治婦人妊娠，惡阻嘔吐，不下食湯方。</p>
<p>青竹茹　橘皮（各五兩）　生薑　茯苓（各四兩）　半夏（五兩湯洗）</p>
<p>上五味，切，以水六升，煮取二升半，分三服，不瘥頻作。忌羊肉、餳、酢物等。（《外臺》卷三十三）</p>
<p>治妊娠嘔吐，不下食，橘皮湯方。</p>
<p>橘皮　竹茹　人參　白朮（各三兩）　生薑（四兩）　厚朴（炙二兩）</p>
<p>上六味，切，以水七升，煮取二升半，分三服，不瘥重作。忌桃李、雀肉等。（《外臺》卷三十三）</p>
<p>任身恆苦煩悶者，此子煩也，治之方。</p>
<p>時時服竹瀝，隨多少良。（《醫心方》卷二十二）</p>

<h2>治妊娠水腫、腹痛、下痢方</h2>
<p>治婦人妊娠，手腳皆水腫攣急方。</p>
<p>赤豆（五升）　商陸根（一斤切）　一方加澤漆一斤。</p>
<p>上三味，以水三斗，煮取一斗，常稍稍飲之，盡更作。（《外臺》卷三十三）</p>
<p>又方</p>
<p>小豆五升，好豉三升，以水一斗，煮取三升，分二服。（《醫心方》卷二十二）</p>
<p>治妊娠體腫，有水氣，心腹急滿湯方。</p>
<p>茯苓　白朮（各四兩）　旋覆花（二兩）　杏仁（去皮尖）　黃芩（各三兩）</p>
<p>上五味，切，以水七升，煮取二升半，分二服飲之。忌桃李、雀肉、酢物等。（《外臺》卷三十三）</p>
<p>治妊娠腹大，胎間有水氣，生魚湯方。</p>
<p>生鯉魚（二斤）　生薑（五兩）　白朮（三兩）　芍藥　當歸（各三兩）　茯苓（四兩）</p>
<p>上六味，切，以水一斗二升，煮魚熟，澄清，取八升，內藥取三升，分三服。忌桃李、雀肉、酢物等。（《外臺》卷三十三）</p>
<p>治孕婦腹疼方。</p>
<p>赤小豆，東向戶中，吞二七枚良。（《醫心方》卷二十二）</p>
<p>治妊娠注下，利不止，或水，或膿血方。</p>
<p>熟艾（二兩）　石榴皮　阿膠（炙各三兩）</p>
<p>以水四升，煮取一升半，分三服。（《醫心方》卷二十二）</p>

<h2>治妊娠傷寒及瘧疾方</h2>
<p>治妊娠傷寒，頭痛壯熱，肢節煩疼方。</p>
<p>前胡　知母（各三兩）　石膏（五兩）　大青　黃芩　梔子（各一兩）　蔥白（切一升）</p>
<p>上七味，切，以水七升，煮取二升三合，絞去滓，分三服，服別相去如人行七、八里，再服不利，忌熱面、羊肉。（《外臺》卷三十三）</p>
<p>治妊娠患瘧湯方。</p>
<p>常山（二兩）　甘草（一兩炙）　黃芩（三兩）　烏梅（十四枚擘）　石膏（八兩）</p>
<p>上五味，切，以水一升半，合漬藥一宿，煮三、四沸，去滓，初服六合，次服四合，後服兩合，凡三服。忌海藻、菘菜、生蔥。（《外臺》卷三十三）</p>
<p>又方</p>
<p>常山　竹葉（各三兩）　石膏（八兩碎）　糯米（一百粒）</p>
<p>上四味，切，以水六升，煮取二升半，去滓分三服。第一服未發前一食久服之，第二服取臨欲發，餘一服用塗頭額及胸前五心，藥滓置頭邊，當日勿進水及進食，發過後乃進飲粥。忌生蔥菜。（《外臺》卷三十三）</p>

<h2>治妊娠漏胞及胎墮下血方</h2>
<p>妊娠血下不止，名曰漏胞，血儘子死方。</p>
<p>雞子十四枚取黃，以好酒二升煮，使如餳，一服之。（《外臺》卷三十三）</p>
<p>又方</p>
<p>生地黃汁一升，酒四合，合煮三、四沸，頓服之，不止頻服。（《外臺》卷三十三）</p>
<p>又方</p>
<p>乾地黃搗末，以三指撮，酒服，不過再三服。（《醫心方》卷二十二）</p>
<p>又方</p>
<p>生地黃半斤，㕮咀，以清酒二升煮三沸，絞去滓，服之無時，能多服佳。又加黃雌雞一頭，治如食法。</p>
<p>治妊娠漏胞方。</p>
<p>乾地黃（四兩）　乾薑（二兩）</p>
<p>上二味，搗篩，酒服方寸匕，日再服。（《外臺》卷三十三）</p>
<p>治妊娠胎墮下血不止方。</p>
<p>丹參（十二兩）</p>
<p>上一味，切，以酒五升，煮取三升，分三服。（《外臺》卷三十三）</p>

<h2>產難死生候及治產難方</h2>
<p>產難死生候：若母面赤舌青者，兒死母活。唇口青，口兩邊沫出者，子母俱死。面赤舌青沫出者，母死兒活。（《醫心方》卷二十三）</p>
<p>治產難方。</p>
<p>令夫從外含水，著婦口中二七過，立出。（《醫心方》卷二十三）</p>
<p>治難產，二、三日不出方。</p>
<p>槐子十四枚，蒲黃一合，內酒中溫服，須臾不生，更服之。（《外臺》卷三十三）</p>
<p>又方</p>
<p>吞生雞子黃三枚，並少苦酒。（《外臺》卷三十三）</p>
<p>治產難日久氣乏方。</p>
<p>用赤小豆一升，以水九升，煮取汁，入炙過黃明膠一兩，同煎少時，一服五合，不過三、四服，即產。（《本草綱目》卷二十四）</p>
<p>若日月未至而欲產者方。</p>
<p>末知母，蜜和兔屎大，服一丸，痛不止，更一丸。（《外臺》卷三十三）</p>
<p>又方</p>
<p>取夫衣帶五寸燒作灰，酒服立下。（《外臺》卷三十三）</p>
<p>治產難，或半生，或胎不下，或子死腹中，或著脊及在草數日不產，血氣上蕩心，女面無色，氣欲絕方。</p>
<p>煎成豬膏（一升）　白蜜（一升）　淳酒（二升）</p>
<p>上三味，合煎，取三升，分五服，極驗。（《醫心方》卷二十三）</p>

<h2>治橫產方</h2>
<p>治橫生方。</p>
<p>取梁上塵三指撮，酒服之。（《外臺》卷三十三）</p>
<p>又方</p>
<p>菟絲子，酒若米汁服方寸匕，即出。（《醫心方》卷二十三）</p>
<p>又方</p>
<p>車前子服之如上法。（《醫心方》卷二十三）</p>
<p>治橫產及側或手足先出方。</p>
<p>可持粗針刺兒手足，入二分許，兒得痛，驚轉即縮，自當回順。（《外臺》卷三十三）</p>

<h2>治逆產方</h2>
<p>治逆產方。</p>
<p>燒錢令赤，內酒中飲之。（《外臺》卷三十三）</p>
<p>又方</p>
<p>夫陰毛二七枚燒，以豬膏和丸如大豆，吞，兒手持丸出，神驗。（《外臺》卷三十三）</p>
<p>又方</p>
<p>生不出，手足先見，燒蛇脫皮末，服刀圭，亦云三指撮，面向東酒服，即順。（《外臺》卷三十三）</p>
<p>又方</p>
<p>彈丸二枚，搗末三指撮，溫酒服。（《外臺》卷三十三）</p>
<p>又方</p>
<p>以手中指取釜底黑煤，交畫兒足下，順出。（《外臺》卷三十三）</p>
<p>又方</p>
<p>取車肚中膏，畫腋下及掌心。（《外臺卷三十三》）</p>
<p>又方</p>
<p>朱書左足下作千字，右足下作黑字。（《外臺》卷三十三）</p>
<p>又方</p>
<p>真丹刀圭塗兒腋下。（《外臺》卷三十三）</p>
<p>逆生、橫生不出，手足先見方。</p>
<p>其父名書兒足下，即順。（《醫心方》卷二十三）</p>
<p>又方</p>
<p>以鹽塗兒足底，又可急搔爪之。（《醫心方》卷二十三）</p>

<h2>治胎死欲令出方</h2>
<p>治子死腹中方。</p>
<p>真珠二兩，酒服盡，立出。（《外臺》卷三十三）</p>
<p>又方</p>
<p>取灶下黃土三指撮，酒服之立出。當著兒頭上。（《外臺》卷三十三）</p>
<p>治胎死在腹方。</p>
<p>取三家雞卵各一枚，三家鹽各一撮，三家水各一升，合煮，令產婦面東飲之，立出。（《外臺》卷三十三）</p>
<p>又方</p>
<p>取瞿麥一斤，以水八升，煮取二升，分再服，不出更服。（《外臺》卷三十三）</p>
<p>又方</p>
<p>葵子一升，阿膠五兩，水五升，煮取二升，頓服出。間日又服。（《外臺》卷三十三）</p>
<p>又方</p>
<p>服水銀三兩，立出。（《外臺》卷三十三）</p>
<p>又方</p>
<p>取夫尿二升，煮令沸，飲之。（《外臺》卷三十三）</p>
<p>治子死母中不出方。</p>
<p>榆皮（切一兩）　珍珠（一兩）</p>
<p>上二味，以苦酒三升，煮取一升頓服，死兒立出。（《外臺》卷三十三）</p>
<p>治子胎在腹內已死方。</p>
<p>甘草（一尺炙）　蒲黃（一合）　筒桂（四寸）　香豉（二升）　雞子（一枚）</p>
<p>上五味，切，以水六升，煮取一升頓服，胎胞穢惡盡去，大良。（《外臺》卷三十三）</p>
<p>治子死腹中，又妊兩兒，一兒活，一兒死，令腹中死者出，生者安。此方神驗，萬不失一。</p>
<p>蟹爪（一升）　甘草（二尺炙切）　阿膠（三兩炙）</p>
<p>上三味，以東流水一斗，先煮二味，取三升，去滓，內膠令烊，頓服。不能頓服，分再服。若人困，挍口下藥，入即活。煎藥宜東向灶，以茅葦薪煮之。（《外臺》卷三十三）</p>

<h2>治胞衣不下方</h2>
<p>治胞衣不出方。</p>
<p>取苦酒服赤米一兩。（《外臺》卷三十三）</p>
<p>又方</p>
<p>雞子一枚，苦酒一合，和飲之，即出。（《外臺》卷三十三）</p>
<p>又方</p>
<p>男吞小豆七枚，女吞十四枚。（《醫心方》卷十四）</p>
<p>又方</p>
<p>末灶突中土三指撮，以水服之。（《外臺》卷三十三）</p>
<p>又方</p>
<p>取炊簞當戶前燒服之。（《外臺》卷三十三）</p>
<p>又方</p>
<p>取夫單衣蓋井上，立出。（《外臺》卷三十三）</p>
<p>又方</p>
<p>牛膝半斤、葵子三升，切，以水七升，煮取三升，分三服。（《醫心方》卷二十三）</p>
<p>治胞衣不出，令胞爛牛膝湯方。</p>
<p>牛膝（四兩）　滑石（八兩）　當歸（三兩）　通草（六兩）　葵子（一升）　瞿麥（四兩）</p>
<p>上六味，切，以水九升，煮取三升，分三服。忌牛、狗肉。（《外臺》卷三十三）</p>
<p>又方</p>
<p>服蒲黃如棗大，良。（《外臺》卷三十三）</p>
<p>又方</p>
<p>澤蘭葉（三兩）　滑石（五兩屑）　生麻油（二合）</p>
<p>上三味，以水一升半煮澤蘭，取七合，去滓，內滑石，生麻油，頓服之。（《外臺》卷三十三）</p>
<p>又方</p>
<p>生地黃汁一升，苦酒三合，暖服之，不能頓服，再服之。（《外臺》卷三十三）</p>
<p>治胞衣不出，並兒橫倒死腹中，母氣欲絕方。</p>
<p>半夏（二兩洗）　白蘞（二兩）</p>
<p>上二味，搗篩，服方寸匕。小難一服，橫生二服，倒生三服，兒死四服。亦可加代赭、瞿麥各二兩。（《外臺》卷三十三）</p>

<h1>卷第十一</h1>

<h2>治產後煩悶及渴方</h2>
<p>治產後血氣煩悶方。</p>
<p>取生地黃汁一升，酒三合相和，微溫頓服之。（《外臺》卷三十四）</p>
<p>治產後心悶，眼不得開方。</p>
<p>即當頭頂上取發如兩指大，強人牽之，眼即開。（《醫心方》卷二十三）</p>
<p>治產後渴，栝蔞湯方。</p>
<p>栝蔞（四兩）　麥門冬（去心）　人參（各三兩）　乾地黃（三兩）　甘草（二兩炙）　干棗（二十枚）土瓜根（五兩）</p>
<p>上七味，切，以水八升，煮取二升半，分三服，良。（《外臺》卷三十四）</p>

<h2>治產後咳嗽、中風及心腹痛方</h2>
<p>治產後風，傷寒咳嗽，多疾唾黏。</p>
<p>甘草　桔梗（各六分）　款冬花（四分）　生麥門冬　生地黃（各十二分）　蔥白（一握）　豉（二合舊方不與蔥白與豉）</p>
<p>上水二升，煎取八合，食後良久，兩服。（《產寶》卷下）</p>
<p>治產後中風，眼反折，四肢搐搦，下藥可立待，應效如聖散。</p>
<p>荊芥穗子為末，酒服二錢，必效。（《證類本草》卷二十八）</p>
<p>大岩蜜湯，治產後心痛方。</p>
<p>乾地黃　當歸　獨活　甘草　芍藥　桂心　小草　細辛（各一兩）　吳茱萸（一升）　乾薑（三兩）</p>
<p>上十味，切，以水九升，煮取三升，分三服，良。（《外臺》卷三十四）</p>
<p>治產後腹痛方。</p>
<p>當歸一斤切，酒一斗，煮取七升，以大豆四升熬，酒洗熱豆，去滓，隨多少服，日二。（《醫心方》卷二十三）</p>

<h2>治產後二便不通及失禁方</h2>
<p>治產後津液竭燥，大小便不通方。</p>
<p>芍藥　大黃　枳殼　麻仁（研各二兩）</p>
<p>上為末，煉蜜和丸，梧桐子大，空心熟水下二十丸，漸加之，以利為度。（《產寶》卷下）</p>
<p>治產後秘塞，大小便不通方。</p>
<p>用桃花、葵子　滑石　檳榔等分，為末，每空心蔥白湯服二錢，即利。（《本草綱目》卷二十九）</p>
<p>治產後遺糞，不知出時方。</p>
<p>白蘞　芍藥（各二分）</p>
<p>上二味，搗為散，以酒服方寸匕。（《外臺》卷三十四）</p>
<p>治產後遺糞方。</p>
<p>取礬石燒，牡蠣熬，各等下篩，酒服方寸，日三。亦治男子。（《外臺》卷三十四）</p>
<p>治婦人遺尿方。</p>
<p>礬石二兩燒令沸汗盡，牡蠣肉二兩，下篩為散，酒服方寸匕，日三。（《醫心方》卷二十一）</p>

<h2>治產後患淋及小便數方</h2>
<p>治產後卒患淋，石葦湯方。</p>
<p>榆白皮（五兩）　石葦（去毛）　黃芩　通草（各三兩）　大棗（三十枚）　葵子（一升）　白朮（一兩）</p>
<p>上七味，切，以水八升，煮取二升半，分為三、四服。（《外臺》卷三十四）</p>
<p>治產後患淋，小便痛方。</p>
<p>石葦（炙去毛）　黃芩（各二兩）　通草　芍藥　甘草　冬葵子（各三兩）　榆白皮（五合）</p>
<p>上水二升，煎取一升，空心溫溫服。（《產寶》卷中）</p>
<p>治產後淋瀝不通方。</p>
<p>用葵子一合，朴硝八分，水二升，煎八合，下硝服之。（《本草綱目》卷十六）</p>
<p>治產後小便數兼渴，栝蔞湯方。</p>
<p>桑螵蛸（炙二兩）　甘草（炙二兩）　黃連（二兩）　生薑（二兩）　栝蔞（三兩）　人參（三兩）　干棗（五十枚）</p>
<p>上七味，切，以水七升，煮取二升半，分三服。（《外臺》卷三十四）</p>

<h2>治產後無乳及陰道不閉方</h2>
<p>治乳無汁方。</p>
<p>取栝蔞根切一升，酒四升，煮三沸，去滓，服半升，日三。（《醫心方》卷二十三）</p>
<p>下乳汁方。</p>
<p>栝蔞子淘洗控干，炒令香熟，瓦上㩉令白色，為末，酒調下一匕，合面臥少時。（《證類本草》卷八）</p>
<p>治婦人產後冷，玉門開不閉，硫黃洗方。</p>
<p>石硫黃（研）　蛇床子（各四分）　菟絲子（五分）　吳茱萸（六分）</p>
<p>上四味，搗散，以湯一升，投方寸匕，以洗玉門，瘥止。（《外臺》卷三十四）</p>

<h2>治婦人帶下、漏下及癥瘕方</h2>
<p>治婦人帶下赤白色方。</p>
<p>益母草花開時採，搗為末，每服二錢，食前溫湯調下。（《證類本草》卷六）</p>
<p>治婦人女子忽暴崩中，血不斷，或如鵝鴨肝者方。</p>
<p>小薊根（六兩）　阿膠（炙）　當歸　芎藭　續斷　青竹茹（各三兩）　灶中黃土　地榆根（各四兩）　生地黃（八兩）　赤馬通（汁一升）</p>
<p>上十味，切，以水八升，合馬通汁，煮取二升半，分為三服。未全止，服三、四劑後，服此丸方。</p>
<p>續斷　甘草（炙）　鹿茸（炙）　小薊根　丹參（各五分）　乾地黃（十分）　芎藭　阿膠（炙）　赤石脂　當歸（各六分）　地榆（六分）　柏葉（四分熬）　秦牛角䚡（炙黃）　龜甲（各十二分炙令黑）</p>
<p>上十四味，搗篩，蜜丸如桐子，以酒服十丸，日再，加至三十丸。（《外臺》卷三十四）</p>
<p>治婦人漏下不止散方。</p>
<p>鹿茸（三兩）　當歸（二兩）　蒲黃（一兩）　阿膠（三兩）　烏賊骨（二兩去甲）</p>
<p>上五味，下篩為散，酒服方寸匕，日三夜再。（《醫心方》卷二十一）</p>
<p>治婦人漏下病不斷，積年困篤方。</p>
<p>取鵲重巢柴合燒末，服方寸匕，日三。鵲重巢者，去年在巢中產，今歲更在其上覆作巢是也。（《醫心方》卷二十一）</p>
<p>治婦人臍下結堅，大如杯升，月經還通，寒熱往來，下痢羸瘦，此為症氣，不可治。未生症者可治方。</p>
<p>生地黃（三十斤取汁）　乾漆（一斤熬）</p>
<p>上二味，搗漆為散，內生地黃汁中微火煎，令可丸，酒服桐子大三丸，至七、八丸，即止。（《外臺》卷三十四）</p>

<h2>治婦人陰脫及陰瘡、陰癢方</h2>
<p>治婦人陰下脫散方。</p>
<p>當歸　黃芩　牡蠣（熬各二兩）　芍藥（一兩半）　蝟皮（一兩切熬）</p>
<p>上五味，搗散，酒服方寸匕，日三服，禁舉重，良。（《外臺》卷三十四）</p>
<p>治婦人產後陰下脫方。</p>
<p>取蛇床子一升，布裹炙熨之。亦治陰中痛。（《外臺》卷三十四）</p>
<p>治婦人陰下挺出方。</p>
<p>蜀椒　烏頭　白芨（各二分）</p>
<p>上三味，搗篩，以方寸匕綿裹內陰中，入三寸，腹中熱，明旦更著，瘥止。（《外臺》卷三十四）</p>
<p>治婦人陰中癢，脫下方。</p>
<p>取車釭膏敷之，即瘥。（《醫心方》卷二十一）</p>
<p>治婦人陰中痛生瘡方。</p>
<p>羊脂（一斤）　當歸　杏仁（去皮尖）　白芷　芎藭（各一兩）</p>
<p>上五味，細切，羊脂和，置甑中蒸之，藥成，取如大豆一枚，綿裹藥內陰中，日一度。（《外臺》卷三十四）</p>
<p>治女子陰瘡方。</p>
<p>末硫黃敷上。（《肘後方》卷五）</p>
<p>又方</p>
<p>末雄黃、礬石各二分，麝香半分，搗敷。（《肘後方》卷五）</p>
<p>治男女陰蝕略盡方。</p>
<p>蝦蟆　兔矢</p>
<p>上二味，分等，搗篩，以敷瘡上。（《醫心方》卷二十一）</p>
<p>治婦人陰中癢，如蟲行狀方。</p>
<p>礬石（三分熬）　芎藭（四分）　真丹砂（少許）</p>
<p>上三物，下篩，以綿裹，內陰中，蟲自死。（《醫心方》卷二十一）</p>

<h2>治婦人妒乳瘡痛方</h2>
<p>治婦人妒乳、乳癰。諸產生後，宜勤擠乳，不宜令汁蓄積，不去便不復出，惡汁於內引熱，溫壯結堅掣痛，大渴引飲，乳急痛，手不得近，成妒乳，非癰也方。</p>
<p>始妒乳，急灸兩手魚際各二七壯，斷癰脈也。便可令小兒手助捋之，則乳汁大出，皆如膿狀，內服連翹湯，汁自下，外以小豆散薄塗之癰處，當瘥。（《外臺》卷三十四）</p>
<p>治產後不自飲兒，及失兒無兒飲乳，乳蓄喜結癰。不飲兒令乳上腫者方。</p>
<p>以雞子白和小豆散敷乳房令消結也，若飲兒不泄者，數捻去之，亦可令大者子含水，使漱口中冷，為嗍取乳汁吐去之，不含水漱，令乳頭作瘡，乳孔寒也。（《外臺》卷三十四）</p>
<p>治妒乳、乳癰，連翹湯方。</p>
<p>連翹　升麻　杏仁　射干　防己　黃芩　大黃　芒硝　柴胡（各三兩）　芍藥　甘草（炙各四兩）</p>
<p>上十一味，切，以水九升，煮取三升，分服。忌海藻、菘菜。（《外臺》卷三十四）</p>
<p>又方</p>
<p>取葵莖燒灰搗散，服方寸匕，日三即愈。（《外臺》卷三十四）</p>
<p>治妒乳生瘡方。</p>
<p>蜂房　豬甲中土　車轍中土等分</p>
<p>上三味，末，苦酒和塗之，良。（《外臺》卷三十四）</p>
<p>治婦人女子乳頭生小熱瘡，搔之黃汁出，侵淫為長，百治不瘥者，動經年月，名為妒乳病。婦人飲兒者，乳皆欲斷，世論苟抄乳是也。宜以赤龍皮湯及天麻湯洗之，敷二物飛鳥膏及飛鳥散佳，始作者可敷以黃芩漏蘆散及黃連胡粉散並佳，方如下：</p>
<p>赤龍皮湯方</p>
<p>槲皮切三升，以水一斗，煮取五升，夏冷用之，秋冬溫之，分以洗乳，亦洗諸深敗爛久瘡，洗畢敷膏散。（《外臺》卷三十四）</p>
<p>天麻草湯方</p>
<p>天麻草切五升，以水一斗半，煎取一斗，隨寒溫分洗乳，以殺癢也。此草葉如麻葉，冬生夏著花，赤如鼠尾花，亦以洗侵淫黃爛熱瘡、癢疽濕陰蝕瘡，小兒頭瘡，洗畢敷膏散。（《外臺》卷三十四）</p>
<p>飛鳥膏散方</p>
<p>用燒硃砂作水銀上黑煙（一名細粉者三兩）　礬石（三兩燒粉）</p>
<p>上二味，以絹篩了，以甲煎和之令如脂，以敷乳瘡，日三。作散者不須和，有汁自著可用散，亦敷諸熱瘡、黃爛侵淫瘡、蜜瘡、丈夫陰蝕癢濕、諸小兒頭瘡疳蝕、口邊肥瘡、蝸瘡等，並以此敷之。（《外臺》卷三十四）</p>
<p>黃連胡粉膏散方</p>
<p>黃連（二兩）　胡粉（十分）　水銀（一兩同研令消散）</p>
<p>上三味，搗黃連為末，三物相和，合皮裹熟挼之自和合也。縱不成一家，且得水銀細散入粉中也。以敷乳瘡，諸濕癢黃爛肥瘡，若著甲煎為膏。（《外臺》卷三十四）</p>
<p>治妒乳方。</p>
<p>黃芩　白蘞　夕藥</p>
<p>上三物，分等，下篩，以漿服一錢五匕日五服。（《醫心方》卷二十一）</p>
<p>又方</p>
<p>左乳結者去右乳汁，右乳結者可去左乳汁。（《醫心方》卷二十一）</p>
<p>又方</p>
<p>搗生地黃薄之，熱則易。（《醫心方》卷二十一）</p>

<h2>治婦人乳癰方</h2>
<p>治乳癰方。</p>
<p>大黃（二兩）　莽草（二分）　伏龍肝（十二分）　乾薑（二分）　</p>
<p>上四味，搗末，以酢和塗乳上，即效止。一方生薑極驗，可用也。（《外臺》卷三十四）</p>
<p>又方</p>
<p>取鹿角下篩散，以豬頷下清汁服方寸匕，不過再服，亦以醋漿服之良。（《外臺》卷三十四）</p>
<p>治乳癰，四物膠薄貼方。</p>
<p>膠（炙）　大黃　莽草　細辛</p>
<p>上各等分，搗末，以雞子白和塗紙上，貼腫，頻易，晝夜貼之，割紙穿如錢大，出腫頭。（《外臺》卷三十四）</p>
<p>治乳癰，三物桂心貼方。</p>
<p>桂心（三分）　烏頭（二分）　甘草（二分）</p>
<p>上搗散，以苦酒和，塗腫上，以小紙覆濡其上，將乳居其中，以乾布置乳下，須臾布當濡，有膿水也佳。（《外臺》卷三十四）</p>
<p>乳癰二、三百日，眾治不瘥，但堅紫色方。</p>
<p>柳根削上皮，搗熬令溫，盛囊熨乳上，一宿則愈。（《醫心方》卷二十一）</p>
<p>治乳癰方。</p>
<p>大黃　鼠糞（濕者）　黃連（各一分）</p>
<p>上二物，為末，鼠矢更搗，以黍米粥清和，敷乳四邊，痛即止愈。無黍米用粳米並得。（《肘後方》卷五）</p>
<p>又方</p>
<p>牛、馬矢敷，並佳，此並消去。（《肘後方》卷五）</p>
<p>治婦女乳癰妒腫方。</p>
<p>取研米槌煮令沸，絮中覆乳，以熨上，當用二枚，牙熨之，數十回止。（《肘後方》卷五）</p>

<h2>治婦人傷於丈夫及交接出血方</h2>
<p>治女人傷於丈夫，四體沉重，噓吸頭痛方。</p>
<p>生地黃（八兩）　芍藥（五兩）　香豉（一升）　蔥白（切一升）　生薑（四兩）　甘草（二兩炙）</p>
<p>上六味，切，以水七升，煮取二升半，分三服，不得重作，慎房事。（《外臺》卷三十四）</p>
<p>治童女始交接陽道違理，及他物所傷犯，血出流離不止方。</p>
<p>取釜底墨，斷葫蘆以塗之。（《外臺》卷三十四）</p>
<p>又方</p>
<p>燒發並青布，末為粉，塗之。（《外臺》卷三十四）</p>
<p>又方</p>
<p>以麻油塗之。（《醫心方》卷二十八）</p>
<p>又方</p>
<p>割雞冠取血塗之。（《外臺》卷三十四）</p>

<h2>治小兒夜啼、盜汗方</h2>
<p>治小兒夜啼方。</p>
<p>取空井中草懸戶上，勿令母知。（《醫心方》卷二十五）</p>
<p>治小兒盜汗方。</p>
<p>麻黃根三分，故扇燒作屑一分，治，合乳汁飲三分匕，大人方寸匕，日三。（《醫心方》卷二十五）</p>

<h2>治小兒驚風、疳氣及瘧疾方</h2>
<p>治急驚風，靈神膏方。</p>
<p>赤茯神　硃砂（各一兩）　麥門冬（五錢）　麝香（二錢半）</p>
<p>上為末，蜜和作小餅子，每一餅臨睡以薄荷湯下，神效。一老醫乃三世小兒科家傳，只有四、五藥愈病無數。如小兒驚搐多是熱證，不宜便用驚風藥，只以導赤散加防風、竹葉同煎，用二、三帖，導去心驚邪熱，其搐便止，次服靈神膏。（《東醫寶鑑·雜病篇》卷十一）</p>
<p>治小兒疳氣不可治，神效丹。</p>
<p>綠礬用煅，通赤取出，用釅醋淬過，復煅，如此三度，細研，用棗肉和丸，如綠豆大，溫水下，日進兩三服。（《證類本草》卷三）</p>
<p>治小兒瘧病方。</p>
<p>桃葉二七枚，按心上，艾灸葉上十四壯。（《醫心方》卷二十五）</p>

<h2>治小兒癬及惡瘡方</h2>
<p>治小兒癬方。</p>
<p>以蛇床子末，以白膏和敷之。（《外臺》卷三十六）</p>
<p>又方</p>
<p>以水銀合胡粉敷之。（《醫心方》卷二十五）</p>

<h2>治小兒惡瘡久不瘥方</h2>
<p>浣其父褌取汁，以浴兒，勿令兒及父知，大良。（《醫心方》卷二十五）</p>

<h2>治小兒頭面瘡及耳瘡方</h2>
<p>治小兒頭瘡、月蝕、口邊肥瘡、蝸瘡悉瘥，黃連胡粉膏散方。</p>
<p>黃連（二兩）　胡粉　水銀（研入各一兩）</p>
<p>上三味，搗為散，相和水銀研令相得，以敷瘡上，縱黃汁引成瘡，亦以粉之，即瘥。一方有白礬一兩燒，蛇床子一兩末，入用亦甚妙，至耳邊到項上並用。（《外臺》卷三十六）</p>
<p>治小兒面瘡方。</p>
<p>丹茱萸葉，以東流水煮，以浴良。（《醫心方》卷二十五）</p>
<p>治小兒耳瘡方。</p>
<p>燒馬骨灰粉敷之。（《外臺》卷三十六）</p>
<p>又方</p>
<p>敷雞屎白佳。（《外臺》卷三十六）</p>
<p>治小兒聤耳方。</p>
<p>桃核中仁，熟治末，熱或以裹塞耳，常用良。（《醫心方》卷二十五）</p>

<h1>卷第十二</h1>

<h2>治眼病方</h2>
<p>治目赤痛方。</p>
<p>甘竹葉（二七片）　烏梅（四兩碎）　大錢（三文）</p>
<p>上三味，以水二升，洗漬藥半日，早向東灶煮之三沸，三上三下，取二合，臥以注目眥。（《外臺》卷二十一）</p>
<p>治目赤痛，洗眼方。</p>
<p>蕤核仁（二十枚，碎）　苦竹葉（一把）　細辛（半兩）</p>
<p>上三味，以水三升，煮取半升，以洗眼，日三、五度，甚妙。（《外臺》卷二十一）</p>
<p>治目痛三十年方。</p>
<p>取蟲螺一枚，以水洗之，內燥杯中，使螺口開，以黃連一枚，內螺口中，螺飲黃連，黃連苦，螺吐汁，以綿注眥中。（《醫心方》卷五）</p>
<p>治目卒癢且痛方。</p>
<p>削乾薑令圓滑，內眥中，有汁，拭姜復內之，味盡易之。（《外臺》卷二十一）</p>
<p>治目中腫痛方。</p>
<p>搗枸杞汁洗之，日六、七度。（《外臺》卷二十一）</p>
<p>治目中風腫，弄眼方。</p>
<p>礬石（二錢，熬末）</p>
<p>上一味，以棗膏和如彈丸，以磨目上下，食頃止，日三。（《外臺》卷二十一）</p>
<p>補肝蕪菁子散，常服明目方。</p>
<p>蕪菁子一升，水三升，煮令熟，曝乾末，下篩，以井花水和服方寸匕，日三。稍加至三匕。（《醫心方》卷五）</p>
<p>治目不明若淚出方。</p>
<p>用烏雞膽，臨眠敷之良。（《醫心方》卷五）</p>
<p>又方</p>
<p>摘小酸模莖，汁注四眥，數為之。（《醫心方》卷五）</p>
<p>明目，令發不落方。</p>
<p>十月上巳日，取槐子內新罌中，封口三十日，洗去皮。初服一枚，再服二枚，至十日服十枚，滿十日卻從一起。（《外臺》卷二十一）</p>
<p>治目中風寒，淚出，眥赤癢，乳汁煎方。</p>
<p>黃連（三分）　蕤仁（二分）　乾薑（四分）</p>
<p>上三味，搗篩，以乳汁一升，漬藥一宿，明旦於微火上煎得三合，綿絞去滓，取如米，內眥中。（《外臺》卷二十一）</p>
<p>治毒病後，目赤痛有翳方。</p>
<p>冷水漬青布，以掩目。（《醫心方》卷十四）</p>
<p>又若生翳者。</p>
<p>燒豉二七枚，末，內管中以吹之。（《醫心方》卷十四）</p>
<p>治白翳覆瞳子黑精，龍骨散方。</p>
<p>龍骨（一分）　貝齒（三枚燒）　礬石（一分燒）</p>
<p>凡三物，治下篩，著眥頭，日二。（《醫心方》卷五）</p>
<p>治眼暗，熱病後失明方。</p>
<p>以羊膽敷，旦暮各一。（《外臺》卷二十一）</p>
<p>治熱病後，百日食五辛者，必目暗方。</p>
<p>鯽魚作臛熏之。（《證類本草》卷二十）</p>
<p>治雀目如神，黃蠟不以多少，器內熔成汁，取出入蛤粉相和，得所成球，每用以刀子切下二錢，以豬肝二兩批開，摻藥在內，麻繩扎定，水一碗，同入銚子內煮熟，取出乘熱熏眼，至溫冷並肝食之，日二，以平安為度。（《證類本草》卷二十）</p>
<p>治風眼爛眥者方。</p>
<p>竹葉（四分）　柏白皮（六分）　黃連（四分）</p>
<p>上三味，切，以水二升，煎取五合，稍稍滴兩眥，日三度，忌豬肉。（《外臺》卷二十一）治目中眯方。</p>
<p>旦起封戶門，再拜已言：戶門狹小，不足宿客，便愈。（《醫心方》卷五）</p>

<h2>治耳病方</h2>
<p>治耳聾方。</p>
<p>杏仁（去皮尖熬）　葶藶子（熬）　鹽末（各等分）</p>
<p>上三味，搗研，以少許豬脂和合煎，以綿裹塞耳。（《外臺》卷二十二）</p>
<p>又方</p>
<p>附子（炮）　瓜子　杏仁（去皮熬各等分）</p>
<p>上三味，搗，以綿裹，塞耳中。（《外臺》卷二十二）</p>
<p>又方</p>
<p>巴豆十四枚，搗。鵝脂半兩，火熔，內巴豆和，取如小豆，綿裹內耳中，瘥，日一易。瘥三十年聾。（《肘後方》卷六）</p>
<p>治聤耳出膿水散方。</p>
<p>礬石（三兩）　烏賊魚骨（一兩）　黃連（一兩）　龍骨（一兩）</p>
<p>上四味，搗末，以棗核許綿裹，塞耳中，日再。（《外臺》卷二十二）</p>
<p>治耳痛有汁出方。</p>
<p>熬杏仁令赤黑，搗如膏，以綿裹塞耳，日三易，三日即愈。（《肘後方》卷六）</p>
<p>治蜈蚣入耳方。</p>
<p>炙豬肉掩耳，即出。（《外臺》卷二十二）</p>

<h2>治鼻病方</h2>
<p>治鼻中息肉，通草散方。</p>
<p>通草（半兩）　礬石（一兩熬）　真朱（一銖）　細辛（三分）</p>
<p>凡四物，合冶下篩，展綿如棗核，取藥如小豆，著綿頭，內鼻中，日再。（《醫心方》卷五）</p>

<h2>治口舌病方</h2>
<p>治口中臭散方。</p>
<p>甘草（五兩）　芎藭（四兩）　白芷（三兩）</p>
<p>凡三物，治下篩，酒服方寸匕，日三。（《醫心方》卷五）</p>
<p>治口瘡方。</p>
<p>升麻　黃柏　大青</p>
<p>上三味，以水煮含之，冷吐，瘥止。（《外臺》卷二十二）</p>
<p>又方</p>
<p>蘆根（四兩）　黃柏　升麻（各三兩）　生地黃（五兩）</p>
<p>上四味，切，以水四升，煮取二升，去滓含，取瘥。含極冷吐，卻更含之。（《外臺》卷二十二）</p>
<p>治口中生瘡方。</p>
<p>取黃柏削去皮，作如鴨舌含之，咽汁彌好，蜜漬含亦佳。（《醫心方》卷五）</p>
<p>治重舌方。</p>
<p>以鈹針刺舌下腫者，令血出愈，勿刺大脈也。（《醫心方》卷五）</p>

<h2>治唇病方</h2>
<p>治沈唇緊唇方。</p>
<p>以青布卷燒炷著斧上，取汁塗之良。（《外臺》卷二十二）</p>
<p>又方</p>
<p>取亂髮、蜂房、六畜毛燒作灰，以豬脂和如膏，敷。（《外臺》卷二十二）</p>
<p>又方</p>
<p>鱉甲及頭垢，燒灰敷之。（《外臺》卷二十二）</p>
<p>又方</p>
<p>礬石燒末，和胡粉敷之，瘥。（《外臺》卷二十二）</p>

<h2>治牙齒病方</h2>
<p>治齒痛方。</p>
<p>雞屎白燒灰末，以綿裹，置齒痛上咬咋之，瘥。（《外臺》卷二十二）</p>
<p>又方</p>
<p>芎藭　細辛　防風　礬石（燒令汁盡）　附子（炮）　藜蘆　莽草</p>
<p>上七味，等分，搗篩為末，以綿裹彈丸大，酒漬燙所患處，含之勿咽汁。（《外臺》卷二十二）</p>
<p>又方</p>
<p>獨活（三分）　黃芩　芎藭　當歸　蓽茇（各二兩）　丁香（一兩）</p>
<p>上六味，切，以水五升，煮取三升去滓，微微含漱良久，吐卻更含。（《外臺》卷二十二）</p>
<p>又方</p>
<p>含白馬尿，隨左右含之，不三、五口瘥。（《外臺》卷二十二）</p>
<p>又方</p>
<p>胡麻五升，水一斗，煮取五升，含漱吐之。莖葉皆可用之，神良，不過二劑，腫痛即愈。（《證類本草》卷二十四）</p>
<p>治牙齒疼痛方。</p>
<p>取枯竹，燒竹一頭，以注錢上，得汁，多著齒上，即瘥。（《外臺》卷二十二）</p>
<p>治齲齒方。</p>
<p>取松脂銳如錐，注齲孔內，須臾齲蟲緣松脂出。（《外臺》卷二十二）</p>
<p>又方</p>
<p>煮雞舌香汁含之，瘥。（《外臺》卷二十二）</p>
<p>治風齒疼腫悶方。</p>
<p>莽草（二兩）</p>
<p>上一味，以水五升，煎取三升，含漱之，勿咽汁。（《外臺》卷二十二）</p>
<p>又方</p>
<p>椒（二十粒）　枳根皮　莽草　細辛　菖蒲　牛膝（各二兩）</p>
<p>上六味，切，以水四升，煮取二升，去滓，細細含之，以瘥為度，未瘥，更作取瘥。（《外臺》卷二十二）</p>
<p>治齒楚痛方。</p>
<p>生地黃　桂心</p>
<p>上二味合，以含嚼，咽汁無妨。（《外臺》卷二十二）</p>
<p>消齒壅法。</p>
<p>朴硝為末，敷之，消。（《東醫寶鑑·外形篇》卷二）</p>

<h2>治喉病方</h2>
<p>治喉痹方。</p>
<p>咬咀常陸根，苦酒熬令熱，以薄喉上，冷復易。（《醫心方》卷五）</p>
<p>治纏喉風及喉痹、牙宣、牙痛、口瘡，並小兒走馬疳方。</p>
<p>蠶蛻紙不計多少，燒成灰存性。</p>
<p>上煉蜜和丸如雞頭大，含化咽津。牙宣、牙痛，揩齦上。口瘡干敷患處。小兒走馬疳入麝香少許。貼患處佳。（《證類本草》卷二十一）</p>

<h2>治面䵟、粉刺、面皰諸方</h2>
<p>治面上暴生䵟方。</p>
<p>生杏仁去皮搗，以雞子白和，如煎餅面，入夜洗面，干塗之，經宿拭去，立愈。（《肘後方》卷六）</p>
<p>治䵟方。</p>
<p>茯芩末、白蜜，和塗上，滿七日即愈。（《肘後方》卷六）</p>
<p>治黑麵方。</p>
<p>牯羊膽、牛膽、淳酒三升，合煮三沸，以塗面，良。（《肘後方》卷六）</p>
<p>治人面體黎黑，膚色粗陋，皮厚狀醜方。</p>
<p>豬胰五具，淳酒和，夜敷之，寒月以為手面膏，神驗。（《肘後方》卷六）</p>
<p>服藥取白方。</p>
<p>取三樹桃花，陰乾末之，食前服方寸，日三。並細腰身。（《肘後方》卷六）</p>
<p>治卒病餘，面如米粉，敷者方。</p>
<p>熬礬石，酒和塗之，不過三度。（《肘後方》卷六）</p>
<p>治面胡粉刺方。</p>
<p>搗生菟絲，絞取汁，塗之。不過三、五上。（《肘後方》卷六）</p>
<p>治面上皻皰皯䵴方</p>
<p>蒺藜子　梔子仁　豉（各一升）</p>
<p>上三味，搗合如泥，以醶漿和如泥，臨臥以塗面上，日未出便洗，瘥。（《外臺》卷三十二）</p>
<p>木蘭散方</p>
<p>木蘭皮（一斤）</p>
<p>上一味，以三年酢漿漬之，百日出，於日中曝之，搗末，服方寸匕，日三。（《外臺》卷三十二）</p>
<p>治年少氣充面生疱瘡方。</p>
<p>胡粉半兩、水銀一兩、臘月豬脂和，熟研，令水銀消散，向暝以粉面，曉拭去，勿水洗，至暝又塗之，三度即瘥。（《肘後方》卷六）</p>

<h2>治頸項頭面白駁及白禿方</h2>
<p>治頸項及頭面上白駁，侵淫漸長似有癬，但無瘡，可治之方。</p>
<p>干鰻鱺魚脂以塗之，先洗拭駁上，外把刮之，使磣痛拭燥，然後以魚脂塗之，一塗便愈，難者不過三塗之。（《外臺》卷十五）</p>
<p>又方</p>
<p>取蛇脫皮熟摩之數百過，棄皮置草中。（《外臺》卷十五）</p>
<p>治身體白駁方。</p>
<p>取木空中水洗之，搗桂屑唾和敷駁上，日三。（《外臺》卷十五）</p>
<p>治白禿方。</p>
<p>以羊肉如作脯，炙令香，及熱以拓上，不過三、五度即瘥。（《外臺》卷三十二）</p>
<p>又方</p>
<p>先以皂莢湯熱洗，拭乾，以少油麻塗，再三，即瘥。（《肘後方》卷五）</p>
<p>又方</p>
<p>以大豆、髑髏骨二味，各燒末等分，以臘月豬脂和如泥塗之，立瘥。（《外臺》卷三十二）</p>

<h2>治疣目及黑子方</h2>
<p>治去疣目方。</p>
<p>七月七日以大豆一合，拭疣目上三過迄，使病疣目人種豆，著南向屋東頭第二霤中，豆生四葉，以熱湯沃殺，疣目便去矣。（《外臺》卷二十九）</p>
<p>又方</p>
<p>取松柏合和塗其上，一宿即不知處。（《外臺》卷二十九）</p>
<p>又方</p>
<p>作艾炷著疣目上灸之，三炷即除。（《外臺》卷二十九）</p>
<p>又方</p>
<p>以石硫黃突疣目六、七過，除。（《外臺》卷二十九）</p>
<p>去黑子及贅方。</p>
<p>生藜蘆灰（五升）　生薑灰（五升）　石灰（二升半）</p>
<p>上三味，合和令調，蒸令氣溜，取甑下湯一斗從上淋之，盡湯取汁，於鐵器中煎減半，更鬧火煎以雞羽搖中即然斷藥成，欲去黑子疣贅，先小傷其上皮令才破，以藥點之，此名三灰煎，秘方。（《外臺》卷二十九）</p>

<h2>治漏液胡臭方</h2>
<p>治人體及腋下狀如狐𤜦氣，世謂之胡臭方。</p>
<p>燒好礬石末，絹囊盛之，常以粉腋下，不過十度。（《外臺》卷二十三）治胡臭漏腋。有天生胡臭，有為人所染臭者，天生者難治，為人所染者易瘥，然須三年敷白礬散勿止，並服五香丸，乃可得瘥，勿言一度敷藥即瘥，止可敷藥時，暫得一度瘥耳。凡胡臭人，通忌食蕓薹、五辛，治之終身不瘥，胡臭方。</p>
<p>辛夷　芎藭　細辛　杜蘅　藁本（各三分）</p>
<p>上五味，㕮咀，以苦酒漬之一宿，煎三日，取汁敷之，以瘥為度。（《外臺》卷二十三）</p>
<p>治胡臭方。</p>
<p>牛脂和胡粉三合，煎令可丸，塗腋下，一宿即愈。（《外臺》卷二十三）</p>
<p>治漏腋，腋下及足心手掌陰下股里，常如汗濕致臭，六物胡粉敷方。</p>
<p>干枸杞根（半兩）　胡粉（一兩）　干商陸根（一兩）　滑石（一兩）　干薔薇根（半兩）　甘草（半兩炙）</p>
<p>上藥搗下篩，以苦酒和塗腋下，當微汗出，易衣復塗，著藥不過三敷便愈，或更發覆塗之，不可多敷，傷人腋，余處亦塗之。（《外臺》卷二十三）</p>
<p>治身體及腋下狐臭方。</p>
<p>正旦以小便洗腋下，即不臭，大神驗。（《肘後方》卷六）</p>
<p>又方</p>
<p>青木香（二兩）　附子（一兩）　石灰（一兩）　礬石（半兩燒）</p>
<p>上四味，細末，著粉腋中，汁出即粉之。（《肘後方》卷六）</p>
<p>治胡臭方。</p>
<p>辛夷　細辛　芎藭　青木香</p>
<p>上四物分等，搗篩為散粉之。（《醫心方》卷四）</p>
<p>又方</p>
<p>甘草　松樹根及皮　大棗　甜瓜子</p>
<p>上四物，分等，末，服方寸匕，日三。二十日覺，五十日身體並香，百日衣服床幃皆香。（《肘後方》卷六）</p>

<h1>附：姚僧垣傳</h1>
<p>姚僧垣字法衛，吳興武康人，吳太常信之八世孫也。曾祖郢，宋員外散騎常侍，五城侯。父菩提，梁高平令。嘗嬰疾歷年，乃留心醫藥。梁武帝性又好之，每召菩提討論方術，言多會意，由是頗禮之。</p>
<p>僧垣幼通洽，居喪盡禮。年二十四，即傳家業。梁武帝召入禁中，面加討試。僧垣酬對無滯。梁武帝甚奇之。大通六年，解褐臨川嗣王國左常侍。大同五年，除驃騎廬陵王府田曹參軍。九年，還領殿中醫師。時武陵王所生葛修華，宿患積時，方術莫效。梁武帝乃令僧垣視之。還，具說其狀，並記增損時候。梁武帝嘆曰：「卿用意綿密，乃至於此，以此候疾，何疾可逃。朕常以前代名人，多好此術，是以每恆留情，頗識治體。今聞卿說，益開人意。」十一年，轉領太醫正，加文德主帥、直閤將軍。梁武帝嘗因發熱，欲服大黃。僧垣曰：「大黃乃是快藥。然至尊年高，不宜輕用。」帝弗從，遂至危篤。梁簡文帝在東宮，甚禮之。四時伏臘，每有賞賜。太清元年，轉鎮西湘東王府中記室參軍。僧垣少好文史，不留意於章句。時商略今古，則為學者所稱。</p>
<p>及侯景圍建業，僧垣乃棄妻子赴難。梁武帝嘉之，授戎昭將軍、湘東王府記室參軍。及宮城陷，百官逃散。僧垣假道歸，至呈興，謁郡守張（嶸）〔嵊〕。嵊見僧垣流涕曰：「吾過荷朝恩，今報之以死。君是此邦大族，又朝廷舊臣。今日得君，吾事辨矣。」俄而景兵大至，攻戰累日，郡城遂陷。僧垣竄避久之，乃被拘執。景將候子鑑素聞其名，深相器遇，因此獲免。及梁簡文嗣位，僧垣還建業，以本官兼中書舍人。子鑑尋鎮廣陵，僧垣又隨至江北。</p>
<p>梁元帝平侯景，召僧垣赴荊州，改授晉安王府諮議。其時雖克平大亂，而任用非才，朝政混淆，無復綱紀。僧垣每深憂之。謂故人曰：「吾觀此形勢，禍敗不久。今時上策，莫若近關。」聞者皆掩口竊笑。梁元帝嘗有心腹疾，乃召諸醫議治療之方。咸謂至尊至貴，不可輕脫，宜用平藥，可漸宣通。僧垣曰：「脈洪而實，此有宿食。非用大黃，必無瘥理。」梁元帝從之，進湯訖，果下宿食，因而疾愈。梁元帝大喜。時初鑄錢，一當十，乃賜錢十萬，實百萬也。</p>
<p>及大軍克荊州，僧垣猶侍梁元帝，不離左右。為軍人所止。方泣涕而去。尋而中山公獲使人求僧垣。僧垣至其營。復為燕公於謹所召，大相禮接。太祖又遣使馳驛徵僧垣，謹（故）〔固〕留不遣。謂使人曰：「吾年時衰暮，疹疾嬰沉。今得此人，望與之偕老。」太祖以謹勳德隆重，乃止焉。明年，隨謹至長安。武成元年，授小畿伯下大夫。</p>
<p>金州刺史伊婁穆以疾還京，請僧垣省疾。乃云：「自腰至臍，似有三縛，兩腳緩縱，不復自持。」僧垣為診脈，處湯三劑。穆初服一劑，上縛即解；次服一劑，中縛復解；又服一劑，三縛悉除。而兩腳疼痹，猶自攣弱。更為合散一劑，稍得屈伸。僧垣曰：「終待霜降，此患當愈。」及至九月，遂能起行。</p>
<p>大將軍、襄樂公賀蘭隆先有氣疾，加以水腫，喘息奔急，坐臥不安。或有勸其服決命大散者，其家疑未能決，乃問僧垣。僧垣，曰：「意謂此患不與大散相當。若欲自服，不煩賜問。」因而委去。其子殷勤拜請曰：「多時抑屈，今日始來。竟不可治。意實未盡。」僧垣知其可瘥，即為處方，勸使急服。便即氣通，更服一劑，諸患悉愈。</p>
<p>天和元年，加授車騎大將軍、議同三司。大將軍、樂平公竇集暴感風疾，精神瞀亂，無所覺知。諸醫先視者，皆云已不可救。僧垣後至，曰：「困則困矣，終當不死。若專以見付，相為治之。」其家忻然，請受方術。僧垣為合湯散，所患即瘳。大將軍、永世公叱伏列椿苦利積時，而不廢朝謁。燕公謹嘗問僧垣曰：「樂平、永世俱有痼疾，若如僕意，永世瘥輕。」對曰：「夫患有深淺，時有克殺。樂平雖困，終當保全。永世雖輕，必不免死。」謹曰：「君言必死，當在何時？」對曰：「不出四月。」果如其言。謹嘆異之。六年。遷遂伯中大夫。</p>
<p>建德三年，文宣太后寢疾，醫巫雜說，各有異同。高祖御內殿，引僧垣同坐，曰：「太后患勢不輕，諸醫並云無慮。朕人子之情，可以意得。君臣之義，言在無隱。公為何如？」對曰：「臣無聽聲視色之妙，特以經事已多，准之常人，竊以憂懼。」帝泣曰「公既決之矣，知復何言！」尋而太后崩。其後復因召見。帝問僧垣曰：「姚公為儀同幾年？」對曰：「臣忝荷朝恩，於茲九載。」帝曰：「勤勞有日，朝命宜隆。」乃授騎驃大將軍、開府儀同三司，又敕曰：「公年過縣軍，可停朝謁。若非別敕，不勞入見。」</p>
<p>四年，高祖親戎東討，至河陰遇疾。口不能言；（臉）〔瞼〕垂覆目，不復瞻視；一足短縮，又不得行。僧垣以為諸臟俱病，不可並治。軍中之要，莫先於語。乃處方進藥，帝遂得言。次又治目，目疾便愈。末乃治足，足疾亦瘳。比至華州，帝已痊復。即除華州刺史，仍詔隨入京，不令在鎮。宣政元年，表情致仕，優詔許之。是歲，高祖行幸雲陽，遂寢疾。乃詔僧垣赴行在所。內史柳（昇）〔昂〕私問曰：「至尊貶膳日久，脈候如何？」對曰：「天子上應天心，或當非愚所及。若凡庶如此，萬無一全。」尋而帝崩。</p>
<p>宣帝初在東宮，常苦心痛。乃令僧垣治之，其疾即愈。帝甚悅。及即位，恩禮彌隆。常從容謂僧垣曰：「常聞先帝呼公為姚公，有之乎？」對曰：「臣曲荷殊私，實如聖旨。」帝曰：「此是尚齒之辭，非為貴爵之號。朕當為公建國開家，為子孫永業。」乃封長壽縣公，邑一千戶。冊命之日，又賜以金帶及衣服等。</p>
<p>大象二年，除太醫下大夫。帝尋有疾，至於大漸。僧垣宿直侍。帝謂隨公曰：「今日性命，唯委此人。」僧垣知帝診候危殆，必不全濟。乃對曰：「臣荷恩既重，思在效力。但恐庸短不逮，敢不盡心。」帝頷之。及靜帝嗣位，遷上開府儀同大將軍。隋開皇初，進爵北絳郡公。三年卒。時年八十五。遺誡衣白帢入棺，朝服勿斂。靈上唯置香奩，每日設清水而已。贈本官，加荊、湖二州刺史。</p>
<p>僧垣醫術高妙，為當世所推。前後效驗，不可勝記。聲譽既盛，遠聞邊服。至於諸藩外域，咸請託之。僧垣乃搜採奇異，參校徵效者，為《集驗方》十二卷，又撰《行記》三卷，行於世。</p>
<p>長子察在江南。（按：姚察《南史》有傳）</p>
<p>次子最，字士會，幼而聰敏，及長，博通經史，尤好著述。年十九，隨僧垣入關。世宗盛聚學徒，校書於麟趾殿，最亦預為學士。俄授齊王憲府水曹參軍，掌記室事。特為憲所禮接，賞賜隆厚。宣帝嗣位，憲以嫌疑被誅。隋文帝作相，追復官爵。最以陪遊積歲，恩顧過隆，乃錄憲功績為傳，送上史局。</p>
<p>最幼在江左，迄於入關，未習醫術。天和中，齊王憲奏高祖，遣最習之。憲又謂最曰：「爾博學高才，何如王褒、庾信。王、庾名重兩國，吾視之蔑如。接待資給，非爾家比也。爾宜深識此意，勿不存心。且天子有敕。彌須勉勵。」最於是始受家業。十許年中，略盡其妙。每有人造請，效驗甚多。隋文帝踐極，除太子門大夫。以父憂去官，哀毀骨立，既免喪，襲爵北絳郡公，復為太子門大夫。</p>
<p>俄轉蜀王秀友。秀鎮益州，遷秀府司馬。及平陳，察至。最自以非嫡，讓封於察，隋文帝許之。秀後陰有異謀，隋文帝令公卿窮治其事。開府慶整、郝偉等並推過於秀。最獨曰：「凡有不法，皆最所為，王實不知也。」榜訊數百，卒無異辭。最竟坐誅。時年六十七。論者義之。撰《梁後略》十卷，行於世。</p>
