<header data-type="book">
<h1>銀海指南</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>顧錫</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1809">公元1809年</data></dd></div>
</dl>
</header>

<h1>朱序</h1>
<p>天下之目瞽於病者半，瞽於醫者亦半。醫者自瞽其心，而欲不瞽天下人之目，勢必不能。餘二十年中，走南北數千里，見醫者千百輩，醫目者亦百十輩，其能起沉疴，療痼疾，曾不得數人焉。而因噎廢食者，遂創目不醫不瞎之說。嗚呼，是說起而天下之目胥受其禍矣。然亦由不善治目者之有以禍之也。桐鄉顧養吾先生，憫天下之且受其禍，而不能遍為之救，乃出生平所學，參以古大家之論，著為《銀海指南》四卷。辨輪廓，所以明經絡也。戒鉤割，所以養精血也。至於七情六淫，分致疾之原，五臟六腑，表主病之象。辨脈辨舌，不厭其詳，用藥用方，貴充其類。可兼症患病情之變，存醫案准治法之宜，可謂大無不包，細無不入已。前年冬，余以先大夫憂旋里，獲讀先生書，知先生之學，固不僅以治目名也。憶乾隆庚戌間，伯兄遘目疾逾半載，手足復腫痛不能運動，諸醫以溫涼補瀉之藥，輕投之，兩目幾瞽，而余疾不少衰。迨後先生至，笑謂先大夫曰：是濕熱壅滯所致，療之至易。如其法而患痊。蓋先生之於醫無不通，而治目其緒餘耳。先生與先大夫為莫逆交，余少時習聞先生教，略通素問靈樞之義。今海內莫不宗仰先生，得是書以廣其傳，庶幾言醫者不致瞽其心，而天下之人亦不致瞽其目也。是為序。</p>
<p><u>嘉慶己巳冬世愚侄海鹽朱方增拜撰</u></p>

<h1>張序</h1>
<p>《靈樞》大惑論曰：五臟六腑之精氣，皆上注於目而為之精，目貴乎湛然常清也。自外有六淫，內有七情，病之及於目者多矣。倘治之不善，或至貽害終身者有之。僕嘗見業是科者，或竊取數方，或合成點藥，便懸輪廓圖，詡詡然自矜為專科。至問其病之所以然，則茫乎不知其所自來。噫，是盲醫也，尚可以治目乎哉？桐鄉養吾顧先生，以眼科名於時，人之患目者，遠近爭趨之。僕習聞病目者曰：吾之目，賴先生而存。或又曰：吾之目微先生幾廢。竊疑先生醫目如是之神，必有不傳之秘，獨得之奇，故能超絕恆流，取譽當世。今觀先生之論，與所著之案，始知先生之學，於凡六淫之感，七情之傷，必先有以澈乎其源，而後施以補瀉溫涼之劑，以故投無不利，病無不起。然則先生之於醫，不尚異，不矜奇，只於受病之源看得透耳。醫師之良，孰逾於是。是即以先生之學治他病，亦何所往而不宜耶。今乃以眼科名，是亦未以足儘先生也。然以眼科名，亦見先生之全力，盡在於眼科矣。茲本其救世之心，出此《指南》示人，俾治目者，不至誤於他歧。或補或瀉，或補瀉兼行，各得其道。於以復其光明之體，豈非斯世之人一大快乎哉。是為序。</p>
<p><u>嘉慶十有四年歲次己巳孟夏之月海昌張起鱗拜撰</u></p>

<h1>前跋</h1>
<p>九竅之病，惟目為最重，苟有誤治，其失明者無論矣。即神膏未損，遇善手極力挽救，已不免微云點綴，滓穢太清，良可恨也。古人所以另立專科，俾得精通一藝，不至於多歧亡羊。奈今世之業是科者，每以發散攻伐為用，其貽禍可勝言哉！吾師顧養吾夫子，獨窺靈蘭之秘旨，辨症酌方，投無不效，是以名震南北，遠近爭赴無虛日。僑寓松郡以來，積案盈千累萬，今年春，先生懼其多而散失，集其已驗者若干症，編為二卷。更著六淫外感七情內傷雜病兼症等論，併發明五臟六腑主病，無微不抉，無義不搜，誠眼科之指南，抑醫林之圭臬也。其立法詳見於治目總論中，至於用方，則宗景岳，用藥則守之才，足見與古為徒，心源印合。然巧運神思，獨抒己見，豈末學所能測識乎。昔倪微德《原機啟微》一書，立齋薛氏奉為至寶，刻入二十四種內，其治法亦以補益為主，與東垣之脾胃，丹溪之滋陰，後先一轍，故附案甚多。外此諸大家，於眼目一症，皆有條論，莫不寒熱虛實並陳，補瀉溫涼互用，惟張子和自患目疾，有人以針刺出血而愈。遂宗血實破之之法，創為謬論，一變而為鉤割，再變而為炮烙，受其害者，殆不可勝數。近時張飛疇能以金針撥障，頃刻奏功，詳見於張氏醫通，洵為神妙。世有傳其術者，爭羨慕之。然撥愈者固多，撥傷者亦復不少，總非善治。先生綜覈前賢之要旨，先究本原，次詳臟腑，後及經絡，按脈論症，宜其能使昏然者昭然，而眊焉者亦得了焉也。憶乙丑秋季，偶罹目患，歷醫數人，過服散風清火之劑，幾至歸於長夜，賴先生力，得留一隙之明，仍硯耕筆織。然棘圍久困，無志功名，間嘗窺探醫籍，以圖濟人自濟，計亦兩得，來從先生遊，授以此編，口講指畫，不啻當頭棒喝。因請付梓，以公同志，俾天下之誤於所治者，日置案頭，按症索方，庶不至一誤再誤，而貽誤無窮矣，寧非斯民之大幸事哉。</p>
<p><u>嘉慶十有二年歲次丁卯仲冬朔後二日平湖受業門人殳芬鬱芳氏百拜跋</u></p>

<h1>卷一</h1>

<h2>守正辟邪論</h2>
<p>聖人立法以治天下，皆取乎正。人生天地間，六氣感於外，七情傷於內，加以飢飽勞役，其病固難枚舉，余惟以目病言之。夫目為肝竅，輪分五臟，腎水涵之，膽汁統之。凡有所感，皆能為患。惟審其虛者補之，實者瀉之，或邪盛正虛，補中兼瀉，瀉中兼補，此正法也。不謂正法失傳，而邪法紛起，受其害者，可勝道哉。不得不嚴為辯之。如有以針挑其上下胞者，先出其血，後以金器擦其內瞼，久之必生翳障，蓋血傷邪不散也。有以舌舔其目珠者，博古人孝感之名，而非出於誠心，往往傷破其珠。蓋舌乃心之苗，瞳神為腎之精，以心火克其腎水故也。有食辛辣，飲燒酒，烘火向日，謬云以熱攻熱，是齎敵以糧授賊以刃也。有刮指甲金玉等屑點眼者，以脆嫩之質，而受堅剛之克豈有不傷之理乎。有以黃連湯、薄荷湯、泥漿、井水、雞子清、水晶、金銀等物，取其涼氣以熨洗，必致血凝變症，誠可慮也。更有一種醫人，不察形色部位，臟腑經絡，輒用菊花洗心散、龍膽四物湯、三黃湯、羊肝丸之類，隨症亂治，此真徐靈胎所謂劣醫矣。大抵目病以肝腎為本，捨本而從標，皆非正法。邪正之辯，彰明較著，儒家有正宗，醫家亦有正宗，學者慎毋惑於旁門也。</p>

<h2>面部定位圖解</h2>
<p>《靈樞經》曰：鼻者肺之官，目者肝之官，口唇者脾之官，舌者心之官，耳者腎之官。經絡氣血，皆上於面而走空竅。其精陽氣上走於目而為睛，其彆氣走於耳而為聽，其宗氣上出於鼻而為臭，其濁氣出於胃，走唇口而為味。</p>
<figure>
<img alt="面部五經所屬之圖">
</figure>
<figure>
<img alt="左目五輪圖">
</figure>
<p>上下胞瞼屬脾土，為肉輪。大眥屬心君火，小眥屬心包絡相火，為血輪。白睛屬肺金，為氣輪。青睛屬肝木，為風輪。瞳神屬腎水，為水輪。</p>

<h2>五輪八廓大略</h2>
<p>五輪者，五臟精華之發現也。八廓者，臟腑部位之所在也。病發定在五輪，而病之淺深進退，必於八廓驗之。</p>
<figure>
<img alt="右目五輪圖">
</figure>
<figure>
<img alt="左目八廓圖">
</figure>
<p>左目為陽，陽道順行，故廓之經位法象，亦以順行。</p>
<p>右目為陰，陰道逆行，故廓之經位法象，亦以逆行。</p>
<p>《靈樞》大惑論曰：五臟六腑之精氣，皆上注於目而為之精。精之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，其窠氣之精為白眼。肌肉之精為約束，裹擷筋肉血氣之精，而與目併為系。上屬於腦，後出於項中。</p>
<figure>
<img alt="右目八廓圖">
</figure>
<p>目之五輪八廓，《內經》未著其名，故其言曰：骨之精為瞳子。腎主骨，在色為黑，是即所謂黑睛之水輪也。筋之精為黑眼，肝主筋，在色為蒼，是即青睛之風輪也。血之精為絡，心主血，在色為赤，是即大小眥之血輪也。其窠氣之精為白眼。肺主氣，在色為白，是即白睛之氣輪也。肌肉之精為約束，脾主肌肉，在色為黃，是即上下胞之肉輪也。然則五輪本於五經，《內經》已言之，後人特命之名耳。又曰：裹擷筋骨血氣之精，而與脈併為系，是即八廓之先路也。五輪在外，有形可見，八廓在內，無跡可尋。故或言八廓，有名無位也。茲余俱錄其文而分注之，知輪廓之說為有根柢云。（養吾氏識）</p>

<h2>五輪解</h2>
<p>目有五輪，稟於五行，原於五臟，輪取圓轉層護，猶之周廬環衛，以奠皇居也。蓋金之精，騰結而為氣輪。木之精，騰結而為風輪。火之精，騰結而為血輪。土之精，騰結而為肉輪。水之精，騰結而為水輪。氣輪者，目之白睛是也，內應乎肺，西方庚辛申酉之金，肺主氣，故曰氣輪。金為五行之至堅，故氣輪亦堅於四輪，居外而為固也。風輪者，白睛內青睛是也，內應乎肝，東方甲乙寅卯之木，肝木生風，故曰風輪。此輪青翠，內包膏汁，有涵養瞳神之功，其色青，故目青瑩者為順也。血輪者，目大小眥是也，內應乎心，南方丙丁巳午之火，心主血，故曰血輪。有兩心而無正輪，心君火也，通於大眥，命門為小心，小心相火也，通於小眥。火尚赤，故取紅活者為順也。肉輪者，目兩胞是也。中央戊己辰戌丑未之土，內應乎脾，故曰肉輪。夫土為五行之主，故四輪亦為脾所包涵。土主靜，故目閉則靜而不用，此藏納歸靜之用也。脾有兩葉，摩化水穀，目有兩胞，動靜相應。其色尚黃，得血為潤，故目之兩胞以黃澤為順也。然四輪者，皆不能鑑物，惟逐層兜裹以保水輪。水輪者，內應乎腎，北方壬癸亥子水也。腎屬水，故曰水輪。中有黑瑩一點，為能鑑萬類，察秋毫，所謂瞳神者也。五輪具而後為全目，目全而後為完人。治目者，可弗明辨之乎。</p>

<h2>八廓解</h2>
<p>夫五輪為捍禦之司，周防於外。八廓為轉運之使，應接於內。廓取恢廓之意，經言使道墜以長，蓋人身面部，自齒以後至會厭深三寸半，咽門至胃長一尺六寸，則臟腑之於目，相去甚遠。廓其輸將精液之道路，猶之經塗九軌，以通往來也。乾居西北，絡通大腸之腑，臟屬於肺，肺與大腸為表裡，上運清純，下輸糟粕，為傳送之官，故曰傳道廓。坎居正北，絡通膀胱之腑，臟屬於腎，腎與膀胱為表裡，乃真水之源，以輸精液，故曰精液廓。艮位東北，絡通上焦與命門，上焦與命門會合諸陰，分輸百脈，故曰會陰廓。震位正東，絡通膽之府，臟屬於肝，肝與膽為表裡，主運清純，不受汙濁，故曰清淨廓。巽位東南，絡通中焦與肝之絡，肝絡通血，以滋養中焦，分氣血以為化生，故曰養化廓。離居正南，絡通小腸之府，臟屬於心，心與小腸為表裡，為諸陽受氣之胞，故曰抱陽廓。坤位西南，絡通胃之府，臟屬於脾，脾與胃為表裡，主納水穀以養生，故曰水穀廓。兌位正西，絡通下焦與腎之絡，腎絡與下焦主持陰精，養化生之源，故曰關泉廓。夫臟腑之相配，內經已有定法，至三焦之分配肝腎者，此目之脈絡配法也。蓋目竅於肝，主於腎，故有二絡之分配。察乎二目經絡之間，昭然可見矣。</p>

<h2>輪廓</h2>
<p>古云：經絡不明，盲子夜行，驗廓之病，與輪不同。輪以通部形色為斷，而廓以輪上之經絡為形症。或粗細連斷，或虯直赤紫，其脈起於何部，侵及何部，以辨病在於何臟，及受病之淺深輕重，血氣之虛實盛衰，邪氣之自病傳病，經絡之生克順逆而施治之耳。有以八廓如三焦，有名而無實，不知以八廓比三焦，則八廓尤為易辨。三焦在內而不見，但有膈上膈下之分。八廓見症分明，顯有絲脈之可辨，焉得謂有名無實哉。</p>

<h2>運氣總論</h2>
<p>《素問》天元紀大論曰：天有五行以御五位，當其位則正，過則淫。五行者，金木水火土也。五位者，甲乙位東，丙丁位南，庚辛位西，壬癸位北，戊己位中宮。蓋天數五，而五陰五陽為十干，地數六，而六陰六陽為十二支。然天干之五，必得地支之六以為節。地支之六，必得天干之五以為制。如子午之上，為少陰君火。丑未之上，為太陰濕土。寅申之上，為少陽相火。卯酉之上，為陽明燥金。辰戌之上，為太陽寒水。巳亥之上，為厥陰風木。是六氣之在天，而以地支之六為節也。甲己為土運，乙庚為金運，丙辛為水運，丁壬為木運，戊癸為火運。是五行之在地，而以天干之五為制也。以地支而應天之六氣，以天干而合地之五行，而後六甲成，歲氣備。又曰：在天為風，在地為木。在天為熱，在地為火。在天為濕，在地為土。在天為燥，在地為金。在天為寒，在地為水。蓋無形者，即於有形測之，天地雖大，瞭如指掌矣。</p>
<p>五運行大論曰：風為肝，肝生筋，筋生心，火為心，心生血，血生脾，濕為脾，脾生肉，肉生肺，燥為肺，肺生皮毛，皮毛生腎，寒為腎，腎生骨髓，骨髓生肝，此運氣相生之序也。又曰：風傷筋，燥勝風，熱傷氣，寒勝熱，濕傷肉，風勝濕，燥傷皮毛，濕勝燥，寒傷血，燥勝寒，此運氣相勝之道也。</p>
<p>六微旨大論曰：相火之下，水氣承之。水位之下，土氣承之。土位之下，風氣承之。風位之下，金氣承之。金位之下，火氣承之。君火之下，陰精承之。此運氣承製之理也。醫學綱目曰：風木盛則病化風，燥金盛則肝為邪攻，而病亦化風。寒水盛則病化寒，濕土盛則腎為邪攻，而病亦化寒。燥金盛則病化膹郁，火熱盛則肺為邪攻，而病亦化膹郁。濕土盛則病化濕，風木盛則脾為邪攻，而病亦化濕。火熱盛則病化火熱，寒水盛則心為邪攻，而病亦化火熱。此運氣移化之過也。</p>
<figure>
<img alt="逐年運氣司天在泉之圖">
</figure>
<p>張子正蒙曰：陰陽之精，互藏其宅，則各得其所安。若陰陽之氣，則循環迭至，聚散相蕩，蓋相兼相制，欲一之而不能。</p>
<p>朱子曰：五行各一其性，然一物又各具五行之理，故氣有餘，則制己所勝而侮所不勝。其不及，則己所不勝侮而乘之。己所勝，輕而侮之。人在氣交之中，天氣通於鼻，地氣通於口，感而受之，為病萬端。而目疾特九竅之一耳，治之如法，應手可愈。惟在辨明運氣之勝復，則藥與症合，不至孟浪投劑矣。</p>
<p>《素問》五運論曰：天地者，萬物之上下；左右者，陰陽之道路。上謂司天，位在南方，則面北立，左右乃左西右東也。下謂在泉，位在北方，則面南立，左右乃左東右西也。故上下異而左右殊，天氣右旋而降於下，地氣左旋而升於上。左右周天，余而復會也。如寅申歲，司天少陽火氣，左間陽明燥氣，右間太陰濕氣，在泉厥陰風氣。左間少陰熱氣，右間太陽寒氣。卯酉歲，司天陽明燥氣，左間太陽寒氣，右間少陽火氣，在泉少陰熱氣，左間太陰濕氣，右間厥陰風氣。辰戌歲，司天太陽寒氣，左間厥陰風氣，右間陽明燥氣，在泉太陰濕氣，左間少陽火氣，右間少陰熱氣。巳亥歲，司天厥陰風氣，左間少陰熱氣，右間太陽寒氣，在泉少陽火氣，左間陽明燥氣，右間太陰濕氣。子午歲，司天少陰熱氣，左間太陰濕氣，右間厥陰風氣，在泉陽明燥氣。左間太陽寒氣，右間少陽火氣。丑未歲，司天太陰濕氣，左間少陽火氣，右間少陰熱氣，在泉太陽寒氣，左間厥陰風氣，右間陽明燥氣，司天主上半年，自大寒日後，通主上半年也。在泉主下半年，自大暑日後，主下半年也。</p>
<figure>
<img alt="交六氣時日圖">
</figure>
<p>《運氣全書》云：陰陽相遘，分六位而寒暑弛張。日月推移，運四時而氣令更變，自十二月中氣大寒日，交木之初氣，次至二月中氣春分日，交君火之二氣，次至四月中氣小滿日，交相火之三氣，次至六月中氣大暑日，交土之四氣，次至八月中氣秋分日，交金之五氣，次至十月中氣小雪日，交水之六氣，每氣各主六十日八十七刻半，總之乃三百六十五日二十五刻，共周一歲也。若歲外之餘，及小月之日則不及也。厥陰木為初氣者，方春氣之始也。木生火，故少陰君火，少陽相火次之，火生土，故太陰土次之，土生金，故陽明金次之。金生水，故太陽水次之。</p>

<h2>六氣總論</h2>
<p>《素問》天元紀大論曰：天有五行，以御五位，以生寒暑燥濕風火，是為六氣。當其位則正，過則淫。人有犯其邪者，皆能為目患。風則流淚赤腫，寒則血凝紫脹，暑則紅赤昏花，濕則沿爛成癬，燥則緊澀眵結，火則紅腫壅痛。風宜散而寒宜溫，暑宜清而濕宜利，燥宜潤而火宜涼。辨之既明，治亦易也。然其中有相挾而來者，蓋風為百病之長，如挾寒挾暑挾濕挾燥挾火之類，有相從而化者，如風邪化火，寒邪化火，濕邪化火，燥邪化火之類，風邪發於前，火邪繼於後，故凡人之病目者，皆以為風火也。然風火之症，最宜詳辨，苟一見火症，無論有風無風，多從散治，鮮不為害。風本陽邪，必有外感，方是真風。因風生熱，風去火自息，此宜散之風也。若無外感，只因內火上炎，熱極生風，熱去風自息，此不宜散之風也。又有相雜而至者，以四時言之，冬月致病只三字，風寒火是也。春兼四字，風寒濕火是也。夏兼五字，風寒暑濕火是也。秋只四字，風寒燥火是也。然其中有伏藏，有變化，亦不得執一而治。奈何醫者治目，初起紅腫眵淚，不問何邪，概行表散散之不效，隨用和解。解之不去，隨用清涼。涼之不效，繼以補益。幸則引為己功，不幸則委之天命，恬不為怪，良可嘆也。余著此論，一一剖悉，使紛紜錯雜之症，不至混淆。更以臟腑經絡形色脈象參之，無遁情矣。</p>

<h3>風</h3>
<p>《素問》金匱真言論曰：天有八風，經有五風。靈樞九宮八風篇曰：大弱風、謀風、剛風、折風、大剛風、凶風、嬰兒風、弱風，是為八風。五風者，肝為木，木旺生風。肺為金，火旺金刑則生風，水冷金寒則又生風。脾為土，土濕生風，燥亦生風。心為火，火炎風自出。腎為水，水衰相火生風。是為五風。八風由外，五風由內，目為外風所傷，其症眵淚腫痛，星翳漸侵，且風或挾熱，則先頭痛，眵黏眊臊，赤腫羞明。風或挾濕，則多淚作癢，沿爛惡明。風或挾燥，則眵硬多淚，眼皮緊急。風或挾寒，則時流冷淚，微赤羞明。若神光泛白，視物昏朦，漸成內障，其痛時作時止，此由血虛火旺，內風所傷。治法在表者散之汗之，挾熱涼散之，挾寒溫散之，濕則汗之，燥則潤之，但宜兼用和血之品。所謂治風先治血，血行風自滅也。至諸內風所傷，切不可升提發散。蓋氣血大虧之人，邪中於里，不能發泄，宜大補氣血，使邪外越。又有平素陰虧者，厥陽內動，微感傷陰，即宜養陰平肝，使邪自散。若過用風藥，益動熱而耗陰矣。至半表半裡之症，當以和解為先。然外風易治，內風難除。吳鶴皋曰：艽防之屬，可以治外風，而內風非其治也。旨哉斯言，學者能體會之，思過半矣。</p>

<h3>寒</h3>
<p>《素問》陰陽應象大論曰：北方生寒，寒生水。至真要大論曰：諸寒收引，皆屬於腎。天元紀大論曰：太陽之上，寒氣主之。蓋運氣自霜降以後，春分以前，正屬太陽寒水用事，設觸冒嚴寒，即傷膀胱寒水之經。頭疼腰強，發熱惡寒，因循不治，傳變多端。上乘空竅發為目病，冷淚翳障，視物昏花。若復兼濕，則邪滯太陰，胬肉壅腫，兼火則刑剋肝陰，遂生白障。兼風則迎風流淚，雲翳滿遮。兼痰則睥生櫻核，目睛赤澀。兼鬱則眼倦慵開，氣滯光暗，辨症分治，庶無遺誤。即有一二寒盛熱生，外多火象，亦宜養陰清熱。若過用寒涼，遏抑陽氣，不免星障凝滯矣。然此屬外寒所致。若內寒則人身臟腑自有之病，《素問》陰陽應象大論曰：陰勝則身寒，人生真陽之氣，寄於右腎，寒則無以作強，而技巧不出矣。膀胱寒則三焦之氣不化，而水道不行矣。脾胃寒則不能蒸腐水穀，而五味不出矣。肝膽寒則將軍無決斷，而謀慮不出矣。大小腸寒則變化不行，而二便閉矣。心包寒則神明衰，而萬事不能應矣。目為五臟之精華，稟天陽之真氣，若為陰寒所制，必至失光昏眊，內障遮睛，宜溫補氣血以助真陽。至真要大論曰：治寒以熱。又曰：熱因寒用。又曰：諸寒之而熱者，取之陰。王海藏曰：熱之不熱，責其無火，益火之源，以消陰翳。參耆桂附，即夏月何妨選用。不待水冰地坼，然後為真寒症也。此外又有中寒伏寒挾寒諸症，種種不同，大抵治法務在調和營衛，祛寒散邪而已。</p>

<h3>暑</h3>
<p>《素問》刺志論曰：脈虛身熱，得之傷暑。又曰：暑為陽邪，而東垣治暑，則有陰陽動靜之分，或廣廈招涼，以傷其外。或恣食生冷，以傷其內。此靜而得之為陰暑，農人耕耨于田中，征夫奔走於道路，此動而得之為陽暑。陰暑宜溫，陽暑宜清。趙養葵謂暑病與熱病相似，但熱病脈盛，暑病脈虛耳。蓋傷暑者，脈必濡弱，或弦細芤遲，身體發熱，與四時感冒無異。惟舌紅口渴，小便短赤為辨。其分見於五臟者，心為火，故暑先入心，暑傷氣，肺主氣，故火旺金刑。又長夏濕土司令，脾惡濕，得暑則脾土之施化不行，肝腎同位下焦，俱有相火。肝得暑而龍火以起，腎得暑而雷火以升，五火併熾，勢等燎原，上延於目，則赤障腫痛，眵淚如膿。治法或辛涼表散以發其汗，或清熱養陰以通利小便，務使暑邪外達，不致陷伏傷陰。若盛暑之時，猝然暴中，則當以涼解為主。惟怯弱之人，內無所御，外受暑邪，則涼解之中，必兼輔正，如清暑益氣湯之類是也。又或暑邪內伏，待深秋收藏之際，猝然驟發，傾刻之間，遂至不救，甚或刑剋腎陰，瞳神傷損。凡見此症，即宜涼補真陰。倘伏藏雖久，其發甚緩，秋冬之間，目赤腫痛，亦宜仍用清暑之劑。臨症細辨，不患治絲之棼也。</p>

<h3>濕</h3>
<p>《素問》生氣通天論曰：因於濕，首如裹。至真要大論曰：諸濕腫滿，皆屬於脾。水熱穴論曰：腎何以主水。腎者至陰也，至陰者，盛水也，肺者太陰也，太陰者冬脈也。故其本在腎，其末在肺。王好古曰：水者脾肺腎三經所主，有五臟六腑十二經之部分，上頭面，中四肢，下腰腳，外皮膚，中肌肉，內筋骨。蓋脾胃者土也。飲入於胃，遊溢精氣，下輸於脾，脾氣散精，上歸於肺，肺者土之子也。肺氣盛則清肅令行，通調水道，下輸膀胱，而腎者肺之子，胃之關也。腎氣化則二陰通。而三焦者決瀆之官，水道出焉。肝腎二經之相火，遊行於五者之間，上承天道之施化，下佐地道之生髮，與手厥陰心包為表裡，以行諸水，豈有泛溢停滯之患。若脾胃虛弱，肺無稟受，而氣道不通，由是四海閉塞，三焦不瀉，日久熏蒸，郁為濕病。然此為內傷之濕。若外感之症，在天有雨露霜霧之濕，在地有沮洳潮瘴之濕，飲食有酒漿之濕，衣被有汗液之濕，陽盛則火旺，濕且化熱，陰盛則水旺，濕又化寒，風可祛濕，濕更挾風，燥可除濕，濕還勝燥，內因外因，隨經觸發，上攻頭目，症現各殊。脾濕則多眼癬眼菌，肺濕則多黃膜，心經濕則多胬肉如脂，肝經濕則多星障，黑珠如霧渾濁，腎經濕則瞳神呆鈍，色淡昏眊無光。治法風藥可以勝濕，燥藥可以除濕，淡藥可以滲濕，泄小便可以引濕，利大便可以逐濕，吐痰涎可以即濕。濕而有熱，苦寒之劑燥之，濕而有寒，辛熱之劑燥之。至於脾腎俱虛，水溢為病，則須培土填精，標本兼治，此東垣脾胃論，所以諄諄於後天補救也。</p>

<h3>燥</h3>
<p>《內經》論四時主病之原，獨遺燥症。喻嘉言以秋傷於濕一語，正其誤為秋傷於燥，而千古疑義晰矣。蓋燥為金氣，秋時為陽明燥金司令，其氣肅殺，故草木黃落。《素問》天元紀大論曰：陽明之上，燥氣主之。氣交變大論曰：歲金太過，燥氣流行。又曰：諸澀枯涸，幹勁皴揭，皆屬於燥。至真要大論曰：諸氣膹郁，皆屬於肺。喻嘉言謂屬於肺之燥也。又曰：諸痿喘嘔，皆屬於上。亦屬於肺之燥也。或因蓄熱勝濕而燥，金衰津耗而燥，或猝感寒邪，陽氣鬱於外而燥，或恣食生冷，陽氣鬱於內而燥，或因於濕，濕化熱而燥，或因於風，風勝濕而燥。王好古有減氣而枯，有減血而枯。李時珍曰：枯者燥也。上燥則渴，下燥則結，筋燥則強，皮燥則揭，肉燥則裂，骨燥則枯，肺燥則痿，腎燥則消。目之白珠肺也，燥則眵干作癢。目之黑珠肝也，燥則翳障模糊。目之瞳子腎也，燥則睛光昏眊。心為火，燥則心陽上浮，紅絲系絆。脾為土，燥則脾陰澀縮，黃膜牽遮。治法宜養營潤燥，補肺清金。至於陰分素虧，膽汁不充，或膽經焦耗，則一點神膏，涸可立待，亟宜滋補真陰，使水液自生，則光華漸復矣。</p>

<h3>火</h3>
<p>朱丹溪曰：太極動而生陽，靜而生陰，陽動而變，陰動而合，生水火木金土，各一其性，惟火有二：曰君火屬心，相火屬肝腎。《素問》陰陽應象大論曰：壯火散氣，少火生氣。又病機十九條，屬火者五。火內陰而外陽，主乎動者也。故凡動皆屬火，人身肺為生水之源，腎為盛水之府。火性妄行，元氣受傷，水源易涸。逆調論所謂一水不能勝二火者此也。又有厥陽臟腑之火，根於五志之內，六慾七情激之，其火隨起，故忿怒則火起於肝，醉飽則火起於胃，房勞則火起於腎，悲哀則火起於肺。心為君主，自焚則死矣。解精微論所謂一水不能勝五火者此也。有臟腑相移者，肝移熱於膽，心移熱於小腸之類也。有盛衰剋制者，心火盛克肺金，肝火盛克脾土之類也。張子和曰：目不因火則不病，白輪變赤，火乘肺也。肉輪赤腫，火乘脾也。黑水神光被翳，火乘肝與腎也。赤脈貫目，火自盛也。此即五志之火，由內而生。若天行時熱，乃外來之邪火，有感其令氣者，其目紅腫癢痛，淚如膿水，畏熱羞明，舌紅口渴。五志之火，宜降其虛陽，滋其肺腎，水旺則火自平。外來之火，宜升陽以散之，苦寒以瀉之，火鬱發之之義也。其有陽虛陰勝，火不歸源，目雖赤腫，而脈轉軟弱者，治宜溫補扶陽。王太僕所謂益火之源，以消陰翳是也。又有水衰火盛，心腎不交，目光昏眊，脈象浮洪者，治宜養陰滋水。王太僕所謂壯水之主，以鎮陽光是也。</p>

<h2>七情總論</h2>
<p>喜怒憂思悲恐驚，是為七情。然七情不越五志，心在志為喜，肝在志為怒，脾在志為思，肺在志為憂，腎在志為恐。悲屬心包，附於心，驚屬膽，附於肝，此七情之生於五志也。心怵惕思慮則傷神，脾憂愁不解則傷意，肝悲哀慟中則傷魂，肺喜樂無極則傷魄，腎盛怒不止則傷志，恐懼而不解則傷精。此五志之傷於七情也。怒則氣上，喜則氣緩，悲則氣消，恐則氣下，驚則氣亂，思則氣結。此七情本經之形證也。怒傷肝，悲勝怒，喜傷心，恐勝喜，思傷脾，怒勝思，憂傷肺，喜勝憂，恐傷腎，思勝恐。此七情相勝之次第也。喜與悲憂相反，怒與驚恐相反，思則無有所反，乃土位建極於中州也。喜與怒相因，悲憂與驚恐相因，思則各有所因，乃土德寄旺於四時也。東垣云：治目不理脾胃，非其治也。其亦有鑑於此歟。但目之為病，由於六淫者易治，由於七情者難治。蓋喜太過，則腎氣乘矣，怒則肝氣乘矣，悲則肺氣乘矣，恐則脾氣乘矣，憂則心氣乘矣。一經自具一氣，一經又各兼五氣，五五二十五氣，變化難窮，苟不得其要，終難獲效。然七情中悲傷心胞，驚傷膽者，間或有之。喜傷心，憂傷肺者，絕少也。惟思傷脾，恐傷腎，怒傷肝者，最多。誠能存養此心，使志意和平，精神澹定，悲怒不起，驚憂不擾，則天君泰然，百體從令，自然勿藥有喜，何必乞靈於草根樹皮哉。</p>

<h3>喜</h3>
<p>《素問》宣明五氣篇曰：精氣並於心則喜。陰陽應象大論曰：在藏為心，在聲為笑，在志為喜。調經論曰：心藏神，神有餘則笑不休。然樂不可極，極則終凶。《靈樞》本神篇曰：喜樂者，神憚散而不藏。又曰：肺喜樂無極則傷魄。《素問》天元正紀大論曰：少陰所至為語笑。五常政大論曰：火太過為赫曦，赫曦之紀，其病笑狂妄。河間云：笑者，猶燔爍太甚而鳴，笑之象也。蓋喜則氣散，心陽大動，百脈沸騰，所謂暴喜傷陽，其病為笑不休，為毛革焦，為內病，為陽氣不收，甚則為狂。且心火過熾，上先刑肺，下反克腎，金水受傷，病必及目。經曰：心合諸脈。五臟生成篇曰：諸脈者，皆屬於目。凡人五臟六腑之精液，盡上注於目，陽亢陰微，炎蒸空竅，遂有胬肉攀睛等症。其起於大眥者，屬心為實火。其起於小眥者，屬心胞為虛火。甚則胬肉雙鬥，蝕及神水，乃心火克腎所致，治以清補為主。清則心火不升，心陽得靜，補則心氣得寧，心血不耗。或通利小腸，使火氣由水道而泄，以心與小腸為表裡也。或涼解心胞，以心胞為心之外廓也。至於變端不一，又當活治，不可執一也。</p>

<h3>怒</h3>
<p>《素問》五運行大論曰：東方生木，木生酸，酸生肝，肝在志為怒。調經論曰：肝藏血，血有餘則怒。宣明五氣篇曰：膽為怒，以肝膽相為表裡，肝氣雖強，取決於膽也。調經論曰：血並於上，氣並於下，心煩惋善怒，以陽為陰勝，病及於心也。《靈樞》本神篇曰：腎盛怒而不止則傷志。繆刺論曰：邪客於足少陰之絡，令人無過大怒，以怒發於陰而侵乎腎也。是肝膽心腎四臟，皆能病怒，所為多陰者多怒，亦曰陰出之陽則怒也。五常政大論曰：木太過曰發生，其病怒。氣交變大論曰：歲木太過，風氣流行，甚則善怒。又曰：歲土不及，風反大行，民病善怒，其證餐泄，薄厥嘔血，胸脅痛，氣逆不下，喘渴煩心，消癉肥氣，以及外發癰疽等症。況目為肝竅，尤易受傷。初但昏如霧露中行，漸漸空中有黑花，久則神光不收，膽汁不應，則內急外乾，睹物成歧。種種皆怒之貽戚也。蓋怒必因內動而起，但動由於內，邪每乘之，當各從其所動之因而治之。因熱而動者治其熱，因風而動者治其風，因厥逆逼上者，則治所厥之邪。因陰虛而動者，補其陰，抑其陽，按而收之。因陽虛而氣浮上者，則補其陽，斂其浮游之氣。因五志而動者，各安其臟氣以平之。因鬱而發者，治其所郁之邪，開之達之。因精血不足者補之，不已則求其屬以衰之。因勝克而動者，從盛衰之氣而補瀉之。中氣虛衰而動者，補土以安之。上焦清明之氣，不能主持而動者，亦當補中焦之穀氣，推而揚之。因五臟六腑上注之精氣不足而動者，察其何者之虛而補之。總以疏肝解鬱為先，兼養精液，使精盈則氣盛。氣盛則神全，自然視物明朗，但木能剋土，胃當其衝，肝病則胃病，切不可再加勞倦，以傷其脾。醫者不察，以為目病皆熱所致，竟以涼藥投之，又傷其胃，肝胃俱傷，真元難復，終不免有失明之嘆矣。</p>

<h3>憂</h3>
<p>《素問》六節臟象論曰：肺者氣之本，魄之處也。陰陽應象大論曰：心之變動為憂。《靈樞》口問篇曰：思憂則心系急，心系急則氣道約，約則不利，故太息。本臟篇曰：心小則易傷以憂。蓋憂則傷神，故傷心也。宣明五氣篇曰：精氣並於肝則憂，肝勝而侮脾也。《靈樞》本神篇曰：脾憂愁而不解，則傷意。脾主中氣，中氣受抑，則生意不伸，故鬱而為憂。是心肺脾肝四臟，皆能病憂也。戴復庵云：七氣致病，雖本一氣，而所以為氣者，隨症而變。如憂傷肝，肝屬木，憂則氣並於肝，而脾土受邪。憂傷心，心屬火，憂則氣並於心，而肺金受邪。憂傷肺，肺屬金，憂則氣並於肺，而肝木受邪。凡人憂多則氣機不利，胸脅痛。憂多則水濕凝滯，周身走痛，或關節痛，遇陰寒則發。憂多則熱蓄不散，目瞀，小便赤。憂多則氣虛不能攝涎，動則喘。憂多則血脈蹇滯，四肢無力，能食便紅。憂多則食物不化，噯酸腹滿不能食。目之白睛屬於肺，肺憂鬱太過，則肺氣不舒，結成翳障，視物模糊。復有憂極而悲者，傷及心胞之相火。有憂極而恐者，傷及腎中之真水，火不足則光華不能發越於外，水不足則膏液不能充滿於中，輕則昏眊羞澀，重則魚胞鶻眼，補肺安神，最為要法，再令素所親信之人，好言慰勸，使心陽轉動，即喜勝憂之意也。</p>

<h3>思</h3>
<p>《靈樞》本神篇曰：心有所憶謂之意，意之所存謂之志，因志而存變謂之思。陰陽應象大論曰：中央生濕，在志為思。舉痛論曰：思則氣結。又曰：思則心有所存，神有所歸，正氣留而不行，故氣結矣。本神篇曰：怵惕思慮則傷神。本病篇曰：憂愁思慮則傷心。蓋心為脾之母，母氣不行，則病及其子，所以心脾皆病于思也。張會卿曰：思郁者，氣結於心而傷於脾也。及其既甚，則上連肺胃，而為咳喘，為失血，為噎膈，為嘔血。下連肝腎，則為帶濁，為崩淋，為不月，為勞損。李東垣曰：五臟六腑之精氣，皆稟受於脾，上貫於目。脾者，諸陰之首也。目者，血脈之宗也。思慮傷脾，則五臟之精氣皆失所司，不能歸明於目，而有視物羞明，眼皮寬縱，倒睫拳毛等症。或生偷針，或生眼癉，治宜扶脾補土兼清心陽。若初病而氣結凝滯者，宜順宜開，久病而損及中氣者，宜修宜補。然以情病者，必得願遂而後可釋，或以怒勝思，亦可暫解。如朱丹溪治一思想氣結之女，先激之使怒，然後與藥，復念病雖愈，必得喜方已。乃紿以夫回，病遂不舉。予嘗用此治太湖李姓之婦，目竟獲痊，即此法也。</p>

<h3>悲</h3>
<p>痿論曰：悲哀太甚，則胞絡絕。胞絡絕，則陽氣內動，發則心下崩。宣明五氣篇曰：精氣並於肺則悲。本神篇曰：悲哀動中者，竭絕而失生。又曰：肝悲哀動中則傷魂。又曰：心氣虛則悲。調經論曰：神不足則悲，是肺肝心三臟亦病於悲也。又運氣：悲皆屬寒水攻心。五常政大論曰：火不及曰伏明，伏明之紀，其病昏惑悲忘，從水化也。又曰：太陽司天，寒氣下臨，心氣上從，喜悲數欠。至真要大論曰：太陽司天，寒淫所勝，民病善悲，時眩僕。又曰：太陽之復，甚則入心，善忘善悲。夫悲之為情，與憂思大異，憂思則默然不語，如呆如癡，悲則哀慟迫切，號呼痛哭，漸至淚枯眼腫，視物無形。且悲則心系急，肺布葉舉，而上焦不通，營衛不散，熱氣在中，熏蒸清道，傷及五輪，遂有黑花蠅翅魚鱗白陷諸症。治宜補其肝脾。蓋木為火之母，子虛則補母之義也。土為火之子，補子令母實之義也。然必釋其悲，則治得其效。若婦女性執，終歲慼慼，雖日用蕪芎香附以升提，參朮歸苓以培本，是亦揚湯止沸之計而已。</p>

<h3>恐</h3>
<p>《素問》陰陽應象大論曰：在臟為腎，在志為恐。宣明五氣篇曰：精氣並於腎則恐。邪氣臟腑病形篇曰：恐懼則傷心，神傷則恐也。調經論曰：血不足則恐。本神篇曰：肝氣虛則恐，以肝為將軍之官，肝氣不足，則怯而恐也。戴人曰：肝者敢也，驚恐則肝傷矣。肝膽實則怒而勇敢，虛則怒而不敢也。玉機真臟論曰：恐則脾氣乘矣，以腎虛而脾勝之也。宣明五氣篇曰：胃為氣逆，為噦為恐者，以陽明土勝，亦傷腎也。又運氣善恐皆屬肝木虛。五常政大論曰：木不及曰委和，委和之紀，其病淫動。注：恐是心腎肝脾胃皆主於恐也，甚則精卻。恐則氣下，人目中一點黑瑩，乃先天真一之水所化，全賴精氣神包裹，而能鑑察萬物。精卻則不能化氣，而瞳神有昏眊之患矣。氣下則不能攝精，而瞳神有散大之患。急宜補養肝腎，固其精氣，以復神光。蓋心以神為主，陽為用。腎以志為主，陰為用。陽則氣也，火也。陰則精也，水也。水火交為既濟，全在陰精上奉以安其神，陽氣下臟以定其志，不然，則神不安於內，陽氣散於外，志不戢於中，陰精走於下，水火不交，而目未有不病者也。</p>

<h3>驚</h3>
<p>《素問》金匱真言論曰：東方青色，入通於肝，其病發為驚駭，以肝應東方風木，風主震動而連乎膽也。氣厥論曰：脾移熱於肝，則為驚衄。陽明脈解篇曰：足陽明之脈病，惡人與火，聞木音則惕然而驚。陽明胃脈也，胃者土也，聞木音而驚者，土惡木也。又曰：陽氣與陰氣相搏，水火相惡，故惕然而驚也。舉痛論曰：驚則心無所倚，神無所歸，心神散失也。此肝膽胃心四臟皆病於驚，而氣為之亂也。又運氣驚有三：一肝木不及，金來乘之。五常政大論曰：木不及曰委和，委和之紀，其發驚駭。至真要大論曰：陽明之復，甚則入肝，驚駭筋攣。二火邪助心。六元紀大論曰：少陽所至為驚躁。至真要大論曰：少陽之勝善驚。三寒邪傷心。氣交變大論曰：歲水太過，寒氣流行，民病煩心躁悸，膽為中正之官，五臟六腑，皆取決於膽。膽主清淨，不受濁穢，故膽汁上溢，則為口苦，膽精不足，則為目昏，眼中一點神膏，乃膽中精汁，滲潤而成者也，能涵養瞳神，清瑩澄澈。凡人驚者，起於猝然，心主震動，遂傷及膽，其症為目睛不轉，為瞳神散大，為青膜遮掩。治宜安神定志，使氣之散者得以復聚。張子和曰：驚者平之。平，常也。使病者聞之習熟，見之慣常，自然不驚。且肝膽相為表裡，其色為青，故人之受驚者，其面色必青也。臨症審辨，何難施治哉！</p>

<h1>卷二</h1>

<h2>瞳神論</h2>
<p>五輪八廓，既詳哉言之矣，是為目之體，未及目之用也。若夫靈明默運，鑑萬物，察秋毫，則有瞳神在焉。華元化曰：目形類丸，瞳神居中而向前，猶日月之麗東南而晦西北也。目有神膏神水神光，真血真氣真精，皆滋目之源液也。神膏者，目內包涵膏液，此膏由膽中滲潤精汁，積而成者，故能涵養瞳神，衰則有損。神水者，由三焦發源，先天真一之氣所化，目中潤澤之水是也。水衰則有火勝燥爆之患。水竭則有目輪大小之疾，耗澀則有昏眊之患，虧者多而盈者少，故世無全精之目也。神光者，源於命門，通於膽，發於心，火之用事也。火衰則有昏暝之患，火炎則有焚燎之殃，故衰宜補，炎宜降。心君，主也，通於大眥，故大眥赤者，實火也。命門為小心，小心相火也，代君行令，通於小眥。小眥赤者，虛火也。若君主拱默，則相火自然清寧矣。真血者，即肝中升運滋目注絡之血也，此血非比肌肉間流行之血也，即天一所生之水，故謂之真也。真氣者，目之經絡中往來生用之氣，乃先天真一發生之元陽也。真精者，乃先天元氣所化之精汁，起於腎，施於膽，而後及瞳神也。凡此數者，一有所損，目難治矣。大概目圓而長，外有堅殼數重，中則青胞，內包黑稠神膏一函，膏外則白稠神水，水以滋膏，水外則皆血，血以滋水。膏中一點黑瑩，是腎膽所聚之精華。惟此一點，燭照鑑觀，空闊無窮，是為人身之至寶，天地之靈光。或曰，瞳神，水也、氣也、血也、膏也。曰，非也。非水、非氣、非血、非膏，乃先天之氣所生，後天之氣所成，陰陽之蘊妙，水火之精華。血養水，水養膏，膏養瞳神，氣運用，神維持，喻以日月，理固有然。而午前則小，午後則大，亦隨陰陽之運用也。大抵目竅於肝，源於腎，用於心，運於肺，藏於脾，有大有小，有圓有長，亦由稟受之異也。夫男子右目不如左目精華，女子左目不如右目光彩，此各得陰陽氣分之正也。</p>
<p>云間謝東田先生，精通醫理，嘗謂余曰：治目以瞳神為本。瞳神不損，雖翳障滿布，不難逐時消退。瞳神若損，縱極挽救，亦屬徒勞無益。故著此論，以明其關係甚重，不可視為泛常。爾時互相參究，深受其益。今東田已入仙鄉，余亦桑榆日暮，捉筆追思，曷勝寒鳥戀群之概。</p>

<h2>心經主病</h2>
<p>心為君主，總統臟腑，故憂思勞怒，皆動心神。心應南方火色，目之大眥屬心，心受火刑，則眥肉壅突而痛。若不痛而癢屬虛，或因操勞過度，或因水虧不能制火所致。小眥屬心胞，又屬少陽經，多氣少血，故小眥胬肉屬血虛，火爍之故也。若心經火邪盛而刑肺，為大眥胬肉攀睛，屬實火，不痛而癢，屬虛火。小眥胬肉攀睛，乃虛火刑金為虧症。胬肉雙鬥，屬水虧血少，火邪刑肺，甚則蝕及神水，乃心火克腎水也。大眥流血，腫痛，為實火。心統諸經之血，火盛則血熱妄行，故流血。不腫痛而癢，為虛火，乃心腎不交，君火炎甚也。左目為陰，右目為陽，陰屬血，陽屬氣，男多患左，女多患右，雖有是分，不可執一，惟在圓機通變也。</p>

<h2>肺經主病</h2>
<p>肺為華蓋，百脈之宗。白睛紅絲滿布，乃肺熱也。白珠胬肉紫脹，甚則眼眶青黯，乃血為邪乘，凝而不行也。玉粒侵睛，肺氣凝滯所致。白睛起膜，狀如魚泡，寒鬱太陰也。白翳侵睛，屬金來剋木，目珠壅腫紅痛，辨是何邪，分別施治。目珠突出，鼻塞咳嗽，乃風寒乘肺，肺氣逆也。珠大脫眶，肺腎氣衝，乃金水兩虧症也。能仰視不能俯視，氣有餘而血不足也。能俯視不能仰視，陰有餘而陽不足也。雞盲者，陰氣未升則昏，至人定後，仍能見物。雀盲者，通夜不見，乃肝血少，肺陰虧也。鶻眼凝睛者，陰陽不和，火剋金也。總之其位至高，統一身之氣，其見症多在於氣輪。隨症審察，用藥自能奏效。</p>

<h2>肝經主病</h2>
<p>肝屬風木，木能生火，惟血涵養，否則火盛血傷，目病生焉。其臟主疏泄，凡人憤悶不平，或受六淫之邪，則氣不宣流，遂生星翳障霧，如點如鑿，或圓或方，形色不一，莫可枚舉。凡自上而下屬太陽經，名垂簾。紅色而痛屬肝熱，腫痛屬風邪，不痛為血虛內熱，白色而腫痛，屬氣虛挾風，痛而不腫，為寒邪，不腫不痛，乃氣虛下陷也。自下而上，屬足陽明胃經，名堆云，又名黃膜上衝。在黑珠內者，名內堆云，屬肝腎不足，木挾相火上升。在黑珠外者，名外堆云。腫痛涕淚，為風克肝胃。障色帶黃，為濕熱。腫痛畏寒，淚如膿水，屬寒邪。胬肉壅結，障色微紅，屬胃火。此皆氣血失充，虛中挾邪症也。紅白相間，名瑪瑙障，屬熱鬱肝經，氣血相混也。純白而厚，名水晶障，屬寒乘肝陰也。白星團聚，名聚星障，屬肝腎鬱結，精血受傷也。一線垂下，名線障。橫住瞳神，名橫關。初起紅痛，屬風寒。邪郁肝陰，不能發越，不紅痛，屬肝腎陰虛，相火上炎也。一線盤旋於風輪之上，名旋螺障。一為陰寒上乘，一為邪鬱於肝陰也。黑珠內、瞳神外，初起如霧，漸漸厚大，名內障。左關脈細澀，屬肝鬱不舒。左尺脈洪數，屬腎氣不納也。色白而長，形如半月，名半月障，屬肝經鬱怒所致。色白而厚，名白障，稍薄名白翳，最薄名白霧，白點名星。紅腫癢痛屬風，紅腫不癢痛屬郁邪。舌白涕淚屬寒，眼眵乾硬，羞明惡熱，屬火。乾澀昏朦屬燥。此皆實症。若不腫而紅痛，屬血虛肝熱生風。不紅腫而痛，屬憂思鬱怒，肝氣不舒。不紅不痛，屬陰虛火熾。皆虛症也。目珠疼痛，肝陽上浮也。白障滿布，赤脈貫睛，屬肝經鬱熱。若無白障，但見赤脈貫睛者，心火刑肺肝也。黑珠上一顆突出，名蟹珠，發於瞳神巔頂，屬肝腎兩經。發於瞳神下面，屬陽明。發於大眥旁者，屬太陽。發於小眥旁者，屬少陽。凡胬肉壅腫涕淚，脈弦細為風，舌白脈遲為寒，舌紅脈數為火，脈細弱或數而無力屬陰虛。此症由邪襲肝陰，氣血不能流行，或精血不足，過服寒涼升散而發。黑珠低陷，名陷障。障凝如冰，名冰障。屬邪乘肝陰，氣血受傷。紅腫脈浮弦為風。不紅腫脈遲細為寒，乃實中挾虛症也。腫痛胬肉，黑珠泛白，名內泛，乃精血大虧，風寒邪郁也。此皆舉其大略，須脈象舌色兼參，庶幾無誤。</p>

<h2>脾經主病</h2>
<p>脾為諸陰之首，統攝一身之血。在氣為中氣，在臟為心子。目之上睥屬脾，下睥屬胃。上睥內生紅粒，名魚子石榴，生紅塊，名雞冠蜆肉。皆屬風熱，邪滯太陰，氣血凝結所致。睥生痰核，在皮裡膜外，如櫻如梅，由於氣滯燥結，防有成疣之患。睛明穴有瘡，名眼癰，日久成管，名漏睛，屬太陽鬱熱不宣。睥翻黏瞼，屬陽明胃火。上睥生肉粒，名偷針，下睥生肉粒，名眼癉。腫痛屬風鬱化火，不腫痛而時發時止，屬勞傷心脾，肝木剋土，是虛症也。上睥寬縱，拳毛倒睫，紅腫，屬脾肺氣虛挾風，不紅痛，屬中氣下陷。下睥緊急，拳毛倒入，屬肝風克胃。下睥內生菌，屬陽明濕火。兩睥生癬，濕爛為風，焦枯為火，乾澀屬燥，膿窠屬濕。然有風中兼燥，火中兼風，濕中兼熱，諸症宜細辨之。</p>

<h2>腎經主病</h2>
<p>腎為作強之官，伎巧出焉。應北方癸水，涵木製火，榮養血脈。瞳神內起星，邪郁腎陰也。五星繚亂，視物𥉂𥉂，水為火反克，虛實皆有也。瞳神細小，火搏水陰也。瞳神散大，氣不裹精也。瞳神發白，水源乾涸所致。黑珠滿紅，名胭脂內障，屬相火上浮，水不能制。若瞳神亦紅，名血灌瞳神，不治。瞳神泛白動躍，已成內障，亦不治。瞳神黃色如金，火亢水竭，亦不治。有見火星飛揚者，心腎不交也。有見螢星滿目者，肝腎不和也。有見白星繞亂者，肺腎氣虛也。有見黑花茫茫者，腎陽不藏也。視白為黃，視紅為紫，視正為橫，視定反動，睜目頭暈，此陰極陽飛症也。瞳神不大不小，其色不白不紅，三光俱滅，真青盲也。法在不治。以上諸條，皆精血失充之症，誠以水為天一所生，務宜滋養，水足精充，目疾自痊愈矣。</p>

<h2>三焦主病</h2>
<p>三焦分上中下，目疾是上焦病，無有論及中下者。然細按之，則三焦各有見症，不可混治。頭痛鼻塞，耳聤面瘡，目紅腫痛，唇瘡口糜，此皆上焦病也，治宜清火發散，疏肝養目。肚腹膨脹，胸膈不舒，兩目乾澀或沿爛，此乃中焦病也，治宜消積行氣。腳氣壅腫，步履艱難，水道不通，濕熱上浮，以致目患，此乃下焦病也，治宜利濕清熱舒筋。腑病以通為補，故但敘實症，其有虛症，另見各門，學者細心參之可也。</p>

<h2>小腸主病</h2>
<p>小腸為火府，與心經配合表裡。凡心經之火上延於目者，兼責諸小腸，故古人治心火，必用導赤，以心為君火，無直折之理，但當通理小腸，則心火自降。此治臟先治腑之法也。</p>

<h2>膽經主病</h2>
<p>膽屬少陽，經曰：十二經皆取決於膽。為半表半裡，兩邊頭痛，法用小柴胡及逍遙散，乃和解之劑。目中神光，惟賴膽中清純之氣所養，倘膽精不足，膽汁不充，兩目必昏，古方俱以諸膽為治。所以清其邪熱，乃同氣相求之理也。然味太苦寒，防其礙胃，總宜以條達為主。余詳肝經。</p>

<h2>胃經主病</h2>
<p>胃為水穀之海，轉輸旋運，生化不窮，故治病先講胃氣。胃氣一弱，飲食不納，何以能勝藥力乎？然胃病有虛有實，有熱有寒，實宜硝黃之屬，虛宜術草之屬，寒宜香砂之類，熱宜芩斛之類配合。脾經為後天生養之基，故東垣專主脾胃立論，非虛說也，其見症詳載脾經，但須知陽土不耐溫燥，方不誤治。</p>

<h2>大腸主病</h2>
<p>大腸傳導糟粕，通調為順，溏泄則有陰傷之患，秘結則有陽亢之虞。昔人治便頻無度，多以補脾為主，亦扶土生金之義也。有火則閉塞不通，須用攻下之品，釜底抽薪，誠妙法也。稍涉虛者，如景岳濟川煎，亦可採用。凡目病在肺經者，治其大腸，以其表裡相應，所謂上病治下也。</p>

<h2>膀胱主病</h2>
<p>膀胱為巨陽，其經脈最長，統束一身。凡外感症皆太陽受之，羌防發汗，治其經，五苓利水，治其腑。更有濕熱下注，二便不調，專治膀胱，其病自愈。與腎為表裡，腎無瀉法，瀉膀胱即所以瀉腎。溝瀆既清，水泉不竭，腎精自然充足。目珠上屬太陽，見症甚多，如頭風損目，垂簾成障皆是。故凡治目，不可不細究膀胱也。</p>

<h2>雜病總論</h2>
<p>病之發也，有因外感內傷，前已詳論之矣。至於雜症，不過氣血痰食鬱五者而已。然五者之中，惟氣血為甚。蓋人有陰陽，即為氣血，陽主氣，故氣全則神旺。陰主血，故血盛則形強。然而身形之中，有營氣，有衛氣，凡人受氣於谷，谷入於胃，以傳於肺，五臟六腑，皆得受氣。清者為營，濁者為衛。營行脈中，衛行脈外。其所以統攝一身，環流不息者，全賴元氣為之主持。元氣者，先天之氣，命門之主也。衛氣者，後天之氣，生命之原也。元氣為衛氣之母，母能益子，子賴穀氣之津以養生。故元氣衰，則營衛之氣皆有不充矣。夫血生於心，統於脾，藏於肝，布於肺，泄於腎，灌溉一身，為七竅之靈，四肢之用。潤顏色，充營衛，津液得以通行，二便得以調暢。然血為氣化，亦能助氣，故一氣一血，相為表裡也。痰飲一症，內經止有積飲之說，本無痰症之名。蓋痰涎之化，本由中氣衰弱，水穀入胃，不能盡化，留而為痰，使脾強胃健則隨食隨化，皆成津液，焉能成痰。故肥人多痰者，因中氣不能健運所致。經云：形盛氣虛，此之謂也。若實痰者，或因風因熱因濕因寒，鬱結於臟腑經絡之間，血氣不能通達，凝而為痰。祛其外感，而痰自消也。內經之不言痰者，正以痰必因病而生，非病之因痰而致也。經云：人以水穀為本，人絕水穀則死，脈無胃氣亦死。又曰：谷盛氣盛，谷虛氣虛，此其常也。反此者病。蓋五味入口，臟受於胃，遊溢精氣，散布於五臟，酸入肝，苦入心，甘入脾，辛入肺，鹹入腎，此五臟各歸所喜也。凡人偶食生冷油濁之物，積滯於腸胃之間，此邪氣之實也。若食入即脹，或胸脅作痛者，乃中氣不旺之故也。蓋脾胃為倉廩之官，職司化食，脾胃強壯者，即滯亦易化。如其不能化者，皆由脾胃之虛也。郁病者，滯而不通之義也。經言五郁者，乃五行之化，氣運有乖，則五郁之病生焉。滑氏曰：木性本條達，火性本發揚，土性本沖和，金性本肅清，水性本流通。五者一有所郁，斯失其性矣。至於情志之郁，不過憂思怒三者而已。蓋憂則氣聚，思則氣結，怒則氣逆也。初病宜順宜開，若郁久則傷及中宮，神志日消，心脾日耗，非補不可也。余謂痰食鬱三者，總由氣血不調之故。若氣血和平，則神魂安靜，膚腠固密，外來之邪無隙可乘，內生之郁無由而起。即使寒溫不測，世事無常，或外犯客邪，或內為郁病，只宜祛其外感，調其鬱氣則安矣，寧有大病之足慮哉！</p>

<h2>氣病論</h2>
<p>經云：氣脫者目不明。氣者清陽之氣也，清陽不升，則濁陰不降，而目安能燭照無遺乎。人在天地間，莫非氣化之流行，臟腑經絡，氣得其正，何用不臧。氣失其正，何往弗害？故曰：百病生於氣也。又近見應震王氏曰：行醫不識氣，治病從何拒，堪笑道中人，未到知音處。旨哉斯言，是實治身治病第一大綱。蓋氣之為用，無所不至，一有不調，無所不病。為虛為實，為寒為熱，變態莫可名狀。氣有不調之處，即病根所在之處也。明者撮而調之，猶如解結，一舉手而即脫然矣。故本乎天者，天之氣也；本乎地者，地之氣也。人身之氣亦應之。陽氣有餘，為目赤壅腫。陰氣有餘，為隱澀羞明，中氣不足為眼皮寬縱，凝而不行為脾生癭核，實者破之，虛者補之，滯者行之，郁者達之，寒者溫之，熱者涼之，不和者調之疏之。凡五行五志，五臟六腑，皆賴氣以為之用。常則安，變則病，是以聖人謂諸病皆因於氣，而況目病乎？故醫者當參觀互證，酌宜而治之，庶於斯道無愧矣。</p>

<h2>血病論</h2>
<p>經曰：目得血而能視，血者氣之所化也。故血盛則形強，人生所賴，惟斯而已。潤經絡，澤臟腑，養筋骨，充滿一身，而目受其蔭，固宜流通，而不宜瘀滯者也。然人之初生，必從精始，精之與血似乎非類，而丹家曰：涕唾汗津精液血，七般靈物盡為陰。則凡屬水類，皆天一地六所化，而血即精之類也。但精藏於腎，所蘊不多，苟房勞太過，精虧則血亦虧，而七竅不靈矣。夫血本陰類，其動者皆由於火，或外邪不解，而火鬱於經，或縱飲不節，而火動於胃，遂使血熱妄行，致成目赤眥瘍。治法以涼血清火為主，或壅瘀於經絡，則睛珠脹悶，或鬱結於睥眥，則胬肉堆突，或乘風熱，則發椒瘡粟瘡之類。總以行血散血為治。若痛傷痕陷，白障滿泛等症，皆屬血虛邪乘所致，治宜行血補血為先。蓋太陽經起於目內眥，血多氣少。少陽經起於目銳眥，血少氣多。陽明經起於目之兩旁交額之中，氣血俱多。惟厥陰連於目系而已。故血太過者，太陽陽明之實也。血不及者，厥陰少陽之虛也。能辨過與不及，庶攻補皆得宜矣。以是知血化於氣，而又為精類。陽虛不能生血，所以血宜溫而不宜寒。陽亢最能傷陰，所以血宜靜而不宜動。察於此而得其養營之道，則目光如炬，又何血病之足虞哉？</p>

<h2>痰病論</h2>
<p>經曰：濕氣變物，水飲內蓄，中滿不食，是言飲也，非言痰也。痰之與飲，雖曰同類，而實有不同也。蓋飲為水液之屬。凡嘔吐清水，及胸腹膨脹，吞酸噯腐等症，此皆水穀之餘，停積不行，是即所謂飲也。若痰之不同乎飲者，飲清澈而痰稠濁，飲惟水穀停積而化，痰則五臟之傷皆能致之。然究其原，痰即人之津液，無非水穀所化，但化得其正，則形體強，營衛充。若化失其正，則臟腑病，津液敗，而血氣即化為痰矣。後人治痰，開口便言痰火。有云怪症為痰者，有云痰為百病之母者，痰之為害，不綦重乎？然則虛實之間，尤不可不辨。惟驗其年力猶盛，血氣未傷，或以肥甘過度，或以濕熱盛行，或風寒外閉皮毛，或逆氣內連肝膈，皆能生痰動火，害及於目。惟察其病氣形氣，俱屬有餘者，即實痰也，實痰則宜消伐。若年及中衰，形氣羸弱，或以多病，或以勞倦，或以憂思酒色，致成勞損，非風卒厥者，或脈見細數，臟無陽邪，時為嘔惡泄瀉，氣短聲喑者，皆有目暗不明之患。但察其形氣病氣，本無有餘者，即虛痰也。虛痰則宜扶助元氣，使精血充旺，則痰自消矣。然痰之所生，無不由乎脾腎。脾惡濕，濕勝則為痰，腎屬水，水泛亦為痰。脾家之痰，有虛有實，腎家之痰，則無非虛耳。痰病延及於目，治最棘手，惟調其寒熱虛實，氣血陰陽，則無有不愈。昔王隱君謂內外百病，皆生於痰，悉以滾痰丸攻之，其亦但顧目前，而不知後患者也。</p>

<h2>食病論</h2>
<p>經曰：飲食勞倦即傷脾。飲食自倍，腸胃乃傷。脾胃為倉廩之官，大腸為傳導之官，食傷則氣滯，氣滯則上不能散布精華，下不能轉輸糟粕。然有傷於寒物者，有傷於熱物者，其在內傷，不過為瀉為痢而已。若在眼目，則傷於寒者，兩胞腫脹，治宜溫消。傷於熱者，目赤癢痛，治宜清利。若過食煎炒炙煿，必至火氣上攻，則為雞冠蜆肉，或魚子石榴，變症不一。治宜清利腸胃，去其積熱，而諸病悉除。此症之易治者。凡在少年童稚，最多此症，惟年老久病之人，脾虛不能運化，或不能食，或知飢少食，或食入即脹。明是中虛之象，當以補法行之，諒明哲者，不至於膠柱而鼓瑟也。</p>

<h2>郁病論</h2>
<p>經曰：木鬱達之，火鬱發之，土鬱奪之，金鬱泄之，水鬱折之。言乎五氣之郁也。人之臟腑應之，木應肝膽，木主風邪，畏其鬱結，故宜達之。火應心與小腸，火主熱邪，畏其陷伏，故宜發之。土應脾胃，土主濕邪，畏其壅滯，故宜奪之。金應肺與大腸，金主燥邪，畏其躁急，故宜泄之。水應腎與膀胱，水主寒邪，畏其凝溢，故宜折之。然五者之中，皆可通融圓活，不必拘泥。夫人氣血不順，脈不和平，即是鬱症，乃因病而鬱也。至若情志之郁，則有三焉：一曰怒郁。方其盛氣凌人，面赤聲厲，多見腹脹。及其怒後，逆氣已平，中氣受傷，多見脹滿疼痛，倦怠少食之症。一曰思郁。凡芸窗秀士，茅店羈人，以及室女尼姑，心有所憶而生意，意有所屬而生思，思有未遂而成郁，結於心者，必傷於脾，及其既甚，上連肺胃，為咳喘失血，隔噎嘔吐，下連肝腎，為帶濁崩淋，不月勞損。一曰憂鬱。或因衣食之累，或因利害之牽，終日攢眉而致郁者，志意乖違，神情蕭索，心脾漸至耗傷，氣血日消，飲食日少，肌肉日削，遂至發為目症，前七情論中已詳之矣，故不贅述。然五氣之郁，因病而鬱者也，情志之郁，因鬱而病者也。凡患是症者，宜自為節制，皆非草木所能奏效，所謂妙藥難醫心上病也。可不慎之？</p>

<h2>兼症總論</h2>
<p>醫雖有專科，而病則無專病也。有專科則其術精，無專病則其症雜，吾故論目病而及於兼症焉。夫病之重者，莫如傷寒。仲景論太陽篇中，頭熱目赤。陽明篇中，目中不了了，睛不和。少陽篇中，少陽中風，兩耳無所聞，目赤，是傷寒兼目疾也。若夫中風頭風，虛勞臌脹，噎隔咳嗽，黃疸遺濁，疝瘕痎瘧瀉痢，以及外科瘡瘍，女科胎產經帶，兒科痘疹疳積，皆有兼目疾者，不得不一一著明。仿《傷寒析義》之例，以垂諸簡編，庶有成法可遵，而不至於顧此失彼也。至於頭風之害目，疳積之害目，患者極多，為本科之本病，故論之尤詳切焉。夫醫有十三科，傷寒為第一，余科次之，眼科又次之。今以眼科而括諸科之全者，因慮業是科者，守一家之說，而不能廣搜醫籍，倘遇兼症，則曰此某科也，望望然去之，寧不貽識者之笑乎？然欲概為療治，使患目之人，併入於光明之域，必須博考諸家，臨症乃能措手也。古人立法，互有不同，有偏於寒者，有偏於熱者，有偏於攻者，有偏於補者，熟究深思，化其偏而得其全，則法皆盡善矣。故專者，專心之謂也，又專力之謂也，專其心，專其力，斯得專其藝矣。且能專者，未有不能兼者也。因專而後能兼，因兼而後愈專，成德之士，豈一端一節所能盡其長哉。</p>

<h2>傷寒兼目疾論</h2>
<p>傷寒有傳經直中。傳經者，由太陽傳陽明，由陽明傳少陽，由少陽傳太陰，由太陰傳少陰，由少陰傳厥陰，此循經傳也。有太陽不傳陽明而經傳少陽者，有陽明不傳少陽而徑入本府者，有少陽不傳太陰，而徑歸胃府者，謂之越經傳。有傳一二經而止者，有始終只在一經者，在表為寒，在裡則為熱矣。直中者，不由三陽傳入，而徑中三陰，有寒無熱者也。若兼目疾，惟三陽有之，太陽宜汗，陽明宜清，少陽宜和，無異法也。羌活主太陽，葛根主陽明，柴胡主少陽，為報使之藥，人所共知，而溫經散寒之法，間亦參用。至於分症立法，無關於本科者，不必贅述也。</p>

<h2>瘟疫兼目疾論</h2>
<p>溫疫之邪，伏於膜原，蒸變不測，吳又可製為達原飲以治之。立論超出千古，舉世皆宗之。然其症發熱頭疼，便閉神昏，與外感風寒相似，不可不細辨也。夫風寒從外入內，病無臭氣觸人，間有作臭氣者，必待傳陽明胃府始見。若瘟疫從中達外，病即有臭氣觸人，輕則透於床帳，重則盈於房帷，此氣之易辨也。風寒主收斂，面色多繃急而光潔。瘟疫主蒸散，散則緩，面色多鬆緩而垢晦，此色之易辨也。風寒初起，舌多無胎，即有白胎，亦薄而滑。瘟疫一見頭痛發熱，舌上即有白胎，且厚而不滑，或粗如積粉，或色兼微黃，此舌之易辨也。瘟疫之脈，傳變後與風寒頗同，初起時與風寒迥別，風寒在表，一二日，脈多浮，或兼緊兼緩兼洪而皆浮。迨傳入里，始不見浮脈。瘟疫從中道而變，一二日，脈多沉，迨自里出表，脈始不沉，乃不浮不沉而數，或兼弦兼大而皆不浮。此脈之易辨也。且其見症，必初起忽覺凜凜，以後但熱而不惡寒，以其從內蒸發，非必有感觸之因也。設有脅痛耳聾，則邪溢少陽，腰背項痛，則邪溢太陽，眉稜骨痛，眼眶痛，鼻乾不眠，則邪溢陽明，當以柴胡羌活葛根等，分經加用。若舌根先黃，漸至中央，邪漸入胃，此三消飲症。若脈長洪而數，大汗多渴，此邪適離膜原，欲表未表，此白虎湯症。若舌上純黃色，或變黑色，或生芒刺，或鼻如煙煤，或大便不行，或大便雖無結糞，而脈象沉實，此皆承氣湯症。倘耽延失下，以致循衣摸床，撮空理線，攻不可，補不可，惟有用陶氏黃龍湯，間有得生者。至於養營清燥，總宜在驅邪之後也。若邪火上攻於目，赤腫疼痛，畏熱羞明，宜專逐疫邪，則目自愈。亦有晝夜壯熱，目中如火燃，如針刺，怕見日光燈光，必須四面遮圍，始稍寧靜，亦宜注意逐邪，使胃中無熱邪留郁，自然清光大來。又有疫邪傳裡，遺熱下焦，小便不利，邪無輸泄，經氣鬱滯，目黃如金者，即以茵陳湯治之。或邪火久焰，腎水枯涸，瞳神昏渺，眵淚失光，逐邪之中，兼用滋陰，不得徒以甘菊蒺藜療之。總之瘟疫乃時氣傳染，治宜清火散邪，東垣普濟消毒飲，本為瘟疫而設，以治瘟疫之目疾，其奏效不更速乎？</p>

<h2>中風兼目疾論</h2>
<p>中風分中臟中腑中血脈。中府者，中在表也，即傷寒論太陽中風，桂枝湯之類是也。外見六經形症，無異傷寒，治法亦同。中臟者，中在裡也。中心不語，中脾唇緩，中肺鼻塞，中肝目瞀，中腎耳聾，而有閉與脫之分。閉者兩手握固，牙關緊急，藥宜疏通開竅，熱閉牛黃丸，冷閉橘半薑汁湯。脫者，口張心絕，眼合肝絕，手撒脾絕，聲如鼾肺絕，遺尿腎絕。更有髮直搖頭，面赤如妝，汗出如珠，此際須用理中湯加參兩餘，以溫補元氣。或寒痰阻塞，用三生飲加參灌之，庶救十中之一。中血脈者，中在半表半裡也。如口眼歪斜，半身不遂之屬是也。藥宜和解，以大秦艽湯加竹瀝薑汁鉤藤主之。氣虛者，偏於右，佐以四君。血虛者，偏於左，佐以四物。氣血俱虛者，左右俱病，佐以八珍。若兼目疾，治法亦不外此。惟宜養血除風，所謂治風先治血，血行風自滅也。他如中肝之目瞀，脾絕之眼合，皆垂絕之候，並非目病，不可救也。</p>

<h2>頭風兼目疾論</h2>
<p>頭為諸陽之首，目為七竅之宗，一身之經脈，皆上接於首。而少陰厥陰少陽太陽之脈，皆出於目系。若風邪乘之，則為頭痛，故曰頭風。然有大小雷頭風，左右偏頭風，以及陽邪風陰邪風之殊。然究其原，不過六經頭痛而已，自有表症可察。蓋身必寒熱，脈必緊數，或涕淚鼻塞，或咳嗽項強，或背脊痠疼，按定何經用藥，各有所主。若太陽頭痛，羌活藁本主之，陽明頭痛，升麻葛根主之。若陽明胃火上衝，直達頭維而痛者，宜白虎湯主之。少陽頭痛，柴胡川芎主之。太陰頭痛，防風白芷主之。少陰頭痛，獨活細辛主之。厥陰頭痛，蔓荊子吳茱萸主之。此六經報使之藥。若雷頭風者，乃滿頭作痛，麵皮疙瘩，宜清震湯主之。右偏頭痛者，宜補氣散風。左偏頭痛者，宜養血除風。此治外風之大略也。若內風發動，有陰陽氣血之辨。陰虛者，乃水虧於下，而虛火乘之則痛。陽虛者，乃陽衰陰勝，遇寒則痛。氣虛者，微遇外邪，或勞頓則痛。血虛者，以肝藏血，脾統血，血虛則熱自生風，眩運耳鳴，此所謂肝風內動也。故氣虛者，人參黃耆為主。血虛者，當歸川芎為主。陰虛火浮者，壯水為主。陽虛陰勝者，扶陽為主。若三陽之火上熾，夜間作痛者，宜補肝散主之。更有痰厥頭痛者，有風痰濕痰寒痰，腎虛水泛為痰諸症。風痰者，宜散風祛痰。濕痰者，宜燥濕消痰。寒痰者，宜溫胃補氣，氣不逆則痰自平矣。水泛為痰者，宜養陰補腎，使腎中水火和平，無有偏勝，則痰自愈也。凡頭風之症，最易損目者。蓋風邪上受，必犯空竅，肝開竅於目，為風木之臟，木動則生風，以風招風，內外合邪，故頭風必害目也。或為旋螺泛起，或為蟹睛高凸，或為內外堆云，或為紅白垂簾，或為瞳神散大，或為內障青盲，此等症候，皆宜各隨其經，考之脈象，臨證應變，不可執法而治也。</p>

<h2>虛勞兼目疾論</h2>
<p>虛勞之受病，惟房勞傷、思郁傷、醫藥傷三者而已。其見症也，骨蒸咳嗽吐血泄瀉，男子失精，女子不月，五者皆本病之常。房勞傷者，斷喪太過，而精氣受傷也。其症從下而上，由腎肝而至於脾，或先失血，或見遺精，次見咳嗽骨蒸等症。真陽虧者，乏氣少食，後見泄瀉而危。真陰虧者，火旺血瘀，必發癰腫而斃。思郁傷者，情志不遂，而神氣受傷也。此病起於腎，關於心而迫肺，傷肝及脾，再交水火，謂之七傳。初起骨蒸乾咳，繼則亡血失精，女子不月，至死而面色不衰，以陰火蒸騰津液於上，所以肢體日削，而神采愈鮮也。最為難治。醫藥傷者，表邪未清，留於肺絡，誤服寒涼清降，邪必從皮毛陷入。亦有因寒涼傷胃，胃輸寒氣於肺，皆能令人咳嗽不休。或風熱誤投辛散，而傷少陰之經，必先吐膿血，而後泄瀉，或汗下失於調養，而傷其營衛，必先微寒數熱，而後咳嗽。若兼目疾房勞傷者，治以六味八味為主。思郁傷者，治以逍遙歸脾為主。醫藥傷者，治以調補元氣為主。然在初起之時，尚可圖救，延至末傳，終難取效，慎之慎之。</p>

<h2>鼓脹兼目疾論</h2>
<p>鼓脹當辨明虛實寒熱，然後施治，方不錯誤。假如溺赤便閉，脈數有力，色紫暗，氣粗厲，口渴飲冷，唇焦舌燥，所謂諸腹腫大，皆屬於熱是也。溺清便溏，脈遲無力，色㿠白，氣短促，喜飲熱湯，舌潤口和，所謂諸病水液，澄澈清冷，皆屬於寒是也。按之不痛，時脹時減者，為虛。按之愈痛，腹脹不減者，為實。東垣治法，枳朮補中二方，出入加減，隨症取效。此症痰濕素盛，中氣先傷，或為血蠱，或為水腫，見症不一，或宜開鬼門，或宜潔淨府，或宜除陳莝，前人論之甚詳，所謂上下分消其勢也。如有兼目疾者，未有不兩胞腫脹，眵淚赤澀，須察其本病之由，而以照顧脾胃為主。蓋土敗則木賊，木能生火，火又生風，眉睫之間，變端不測矣。若新感時邪，天行赤熱，只以常法治之，不必過慮也。</p>

<h2>咳嗽兼目疾論</h2>
<p>咳嗽者，一由於胃氣不清，一由於陰火上乘。五臟六腑，雖皆有咳，而大要不越聚於胃關於肺六字而已。何者，胃為臟腑之總司，肺為諸咳之門戶也。外感咳嗽，有風從皮毛而入於肺者，有從背俞而入於肺者，有素患咳嗽，復加風寒，及形寒飲冷所致者，一表即清，故為輕症。不比雜病積久而發，急難取效也。然風熱風燥，最當辨明。如冬時先傷其節之暖，復加風寒外遏，而致咳嗽痰結咽腫，身重自汗，脈浮者，風熱也，宜用萎蕤湯，慎不可用辛熱發汗。燥為秋氣，令不獨行，長夏濕土之餘氣，既伏藏於肺胃之間，至深秋燥令大行，與濕不能相容。至於挾風寒之威，而成咳嗽者，風燥也。惟千金麥門冬湯，五味子湯為宜。蓋肺燥胃濕，兩難分解，故斂散互用，燥潤雜出也。若兼目疾，風熱則赤痛，風燥則澀癢，氣逆則睛脹，痰凝則視昏，治如上法。至於火炎乾咳，悉是陰虛。大抵腎水枯竭，肝臟多火，故及於目，只宜壯水制陽，如六味加麥冬五味子之類，堪稱善治。若導火之法，斷斷不可用也。更有形寒飲冷，傷於肺胃，連及脾臟，咳嗽多痰，目胞浮腫，氣輪紅赤，宜桂枝人參湯，枳實理中湯，四逆加人參湯等治之。不明乎此而誤用寒涼之藥，鮮不為害矣。</p>

<h2>黃疸兼目疾論</h2>
<p>黃疸病，以濕得之，故口渴難治，不渴易治。其症有陰有陽，由於濕之有寒有熱。陽黃者，濕從火化，瘀熱在裡，膽熱液泄，與胃之濁氣共並，上不得越，下不得泄，熏蒸郁遏，面部先黃，次及身體指甲，汗溺俱黃，黃如橘子色，陽主明，治在胃。陰黃者，濕從寒水，脾陽不能化熱，膽液為濕所阻，浸淫肌肉，溢於皮膚，色如熏黃，陰主晦，治在脾。傷寒發黃，《金匱》黃疸立名雖異，治法則同。再瘀熱入胃，有因食谷者，有因酣酒者，有因色欲者，上盛則一身盡熱，下鬱則小便為難。食滯宜消之，酒熱宜清之。女勞穢濁，始宜解毒，繼則滑竅。濕在上，以辛散。以風勝濕，在下，以苦泄，以淡滲。各有方法，可按症以求之也。若寒濕在裡，惟羅謙甫茵陳四逆湯，最有卓識，誠足補仲景之未備者也。然無論寒濕濕熱，其目皆黃，甚至瞳神亦黃，勢必雲霧翳障，瞻視昏花，治亦無他法，以茵陳為主，五苓四逆，隨症選用。黃雖分陰陽，實陽多陰少也，故葉天士曰：夏秋疸病，濕熱氣蒸而成。堪為明徵。而徐靈胎疸囊之說，濫誇其方，不肯示人，苟有濟世之心，何忍珍而不露哉？</p>

<h2>遺濁兼目疾論</h2>
<p>遺濁本二症，遺是遺精，濁是濁帶。遺分有夢無夢，濁分赤色白色。有夢而遺者，相火之強也；無夢而遺者，心腎之衰也。濁而赤色者，血虛熱甚也；濁而白色者，氣虛濕熱也。然遺精症狀，各有不同。大抵小便後流出不可禁者，為濕熱下注，不小便而自出者，為精關滑脫。或莖中痛癢，常欲如小便者，為敗精阻滯。凡人酒色過度，思慮無窮，致真元衰憊，虛火流行，每多患此。又濁帶症狀各有不同，大約以干掩竅端者為火，不幹掩者為濕。小水赤澀而痛，或濁有赤色者，為小腸濕熱。小水不赤不痛，而所下色白，或滲利轉甚者，為脾氣下陷。莖中癢痛而發寒熱，或有結痛者，為毒邪所侵。丹溪謂胃中濁痰滲入膀胱，未足以盡之也。設有是症而兼目疾，遺是精病，腎之虛也，宜貞元五子飲之類。濁是氣病，膀胱不化也，宜通關五苓散之類，其目眵淚赤腫，濕熱相火也，宜萆薢分清飲。或翳霧羞明者，脾腎兩虧也，宜脾腎雙補丸。或瞳神淡白者，乃真精走盡，元氣大虧，不可為矣。惟宜大劑填補，希冀百中之一也。</p>

<h2>痎瘧兼目疾論</h2>
<p>痎者，瘧之總名也。瘧者，病之暴瘧也。經曰：夏傷於暑，秋必痎瘧。蓋暑熱傷陰，暑必挾濕。濕與熱並，不瀉則痢，不痢則瘧也。又曰：陰陽相搏而瘧作，陰搏陽而為寒，陽搏陰而為熱。如二人相爭，此勝則彼負，彼勝則此負。陰陽互相勝負，故寒熱並作也。大抵無痰不成瘧，外感四氣，內傷七情，飲食飢飽，房室勞倦，皆能致之。而其中氣凝滯，鼓動痰涎，則一也。三陽為淺，三陰為深。太陽之瘧，腰背頭項俱疼，先寒後熱，熱止汗出。陽明之瘧，鼻乾舌燥，寒甚乃熱，熱甚汗出，喜見日光。少陽之瘧，口苦脅痛而嘔，寒熱往來，身體解㑊。少陰之瘧，寒少熱多，嘔吐獨甚，舌乾口燥，欲閉戶牖而處。太陰之瘧，慘然太息，腹滿惡食，病至善嘔，嘔已乃衰。厥陰之瘧，腰痛，少腹滿，小便數而不利，恐懼不足，腹中悒悒。若有兼目疾者，當分經專治，暑者清之，濕者燥之，風者散之，虛者補之，調其寒熱，治以溫涼。其治本病之方，仲景小柴胡湯，出入加減，洵為至當不易，毋忽視也。</p>

<h2>瀉痢兼目疾論</h2>
<p>瀉痢乃脾胃之疾，六氣中除燥氣外，皆能為瀉。然傷於寒濕者為多，其邪從經絡而入，犯及中土，所以治瀉以補脾為君，除邪為輔。若中氣下陷，泄瀉無常者，宜補中歸脾主之，乃正治也。五更腎瀉，古人皆用四神丸，未必皆驗，蓋因濕傷水臟故也，當用金匱澤瀉湯，加薑桂五味萆薢之類，往往獲效。又有肝腎大虛，命門火衰，不能蒸化糟粕而時見泄瀉者，宜附子理中湯，或右歸丸加紫石英粟殼之類，以固斂之。痢疾多患於夏秋之間，當初起正值暑濕全盛時，用通利之劑即愈。蓋積滯亦是腸中津液，氣不統運，變為敗垢，調其氣則失統之敗垢自下，未傷之津液亦安。近世執痛隨利減之說，概用通利，久痢虛痢則危矣。郭友三治一人，陰虛發熱，下痢不食，用豬苓湯、阿膠黃連湯而痊，可謂善悟。瀉症若兼目疾，卻不可過用祛風利濕，惟宜健脾，如異功散之類，隨症加減。痢症若兼目疾，宜行血調氣，如香蘇平胃四物，或佐香連丸、清寧丸皆可。若瀉痢久而目生翳障者，乃陰分受傷也，法宜滋陰，甘草阿膠，可隨症加入。總之津液下泄，不能上承於目，延久必有翳膜之患，當去其宿積，固其腸胃，標本兼施，瀉痢得止，則目患自除矣。</p>

<h2>瘡瘍兼目疾論</h2>
<p>瘡瘍者，六陽火燥有餘，水不能制，以致妄亂無拘，燔灼於經絡之間，蒸逼於肌膚之內，氣血為之壅滯，日積月累，而毒成矣。陽毒必高凸紅赤焮腫，治之易愈。陰毒必低凹青黑平塌，治最難痊。或發於頭面，或發於手足，或發於身體，其名不一，其狀各殊。治之之法，諸家皆有條論，選粹諸書可考也。其妙在用藥升降得宜，及藥貼之道地，內服湯劑，不過排膿消腫而已。外科諸症，大約熱者多，寒者少，火性上炎，目竅至高，最易衝犯。目為肝竅，肝屬於木，又為火之從生，同類相應，自然之理。而肝與膽，又為表裡，膽腑清淨，瘡毒為濁邪挾其火勢，擾害少陽，苟其平素肝腎有虧，陰虛血少，膽汁不充，安能滋其目絡。故熱邪乘虛而入，發出目患。若發於病毒之時，須用三黃四物，專治其毒，毒愈而目亦愈。若發於病毒之後，治用解毒涼血之類，熱退而目亦得愈。至於椒瘡粟瘡眼癉眼癬之症，為本科自有之病，不可與瘡瘍同語也。</p>

<h2>胎產兼目疾論</h2>
<p>胎前產後，症亦繁多。大法胎前以安胎為第一義，產後以行血為第一義。然安胎之藥，不專恃芩術也。形盛氣實，胎常不運者，非香砂耗之不安，血虛火旺，腹常急痛者，非芎歸養之不安。體肥痰盛，嘔逆眩運者，非芩半豁之不安。或因風寒外傷，而胎不安者，桂枝湯香蘇飲皆宜。此安胎之要訣。若兼目疾，治法亦不外此，惟氣虛不運者，發在右目，翳障羞明，宜補氣和中，如四君子加香砂之類是也。血虛不能滋養肝木，化火生風者，發在左目，星翳胬肉，宜補血清熱，如四物湯加黃芩之類是也。若風寒外感，發為目病，而兼妊娠，宜解散之中兼和血調氣，如蘇梗枳殼芎歸之類，皆可參用也。產後有三沖三急三禁。三沖者，瘀血之沖肺衝心沖胃也。三急者，新產之嘔吐泄瀉多汗也。三禁者，禁佛手散，以川芎能發汗也；禁四物湯，以地黃能作瀉也；禁小柴胡湯，以黃芩能阻惡露也。若兼目疾，因氣血大虧，不能裹精而為瞳神散大，宜急補氣血，固斂精膏。或因去血過多，木失所養，而為翳霧羞明，宜養血平肝。有哭泣悲傷，而為拳毛倒睫者。有邪乘空竅而為沿爛流淚者，皆氣血不足所致，治宜護肝養血。蓋產後肝膽發生之氣甚弱，而血液衰少，必須調護培養，務在早治，莫待病根深入，為終身之患也。</p>

<h2>經帶兼目疾論</h2>
<p>經者，經脈也。血隨氣行，周身旋轉，應月而下，不失其常，故即謂之經水。帶者，帶脈也，環束如帶，管攝諸經，失其所司，時流穢濁，故即謂之帶下。女科首重調經，其人心脾充旺，則經候如常。蓋脾輸五穀之津液，歸於心，入於脈，變赤而為血，血有餘則注於衝任而為經水。苟心脾衰弱，便有參差不月之虞。血虛者，後期而至，血熱者，先期而來。陰氣勝陽，則血不運行，故令乍少。陽氣勝陰，則血流散溢，故令乍多。憂思過度則氣結，氣結則血亦結。鬱怒過度則氣逆，氣逆則血亦逆。氣血結逆於臟腑經絡之間，而經閉不通矣。又有經前誤食冷物，遏抑陽明之路，阻其血脈，每次經來，必先腹中作痛，或筋骨痠疼，經後風寒乘虛客於胞門，傷其衝任，所生之血不能宣流而下，斷續淋漓，或成塊作片，此皆當察其虛實而治之也。經閉不調，皆有目患。蓋目為血脈之宗，血不足，則脾臟失職，不能歸明於目，而且肝木無制，必然化火生風，為星翳霧障，甚則挾相火上行，刑剋水源，為瞳神淡白。經水逆行而上，目中清純之膏，為濁陰擾亂，或為瘀血灌睛，或為胭脂內障。先賢治法，氣虛陰勝者，四君子主之。氣滯者，四君加香附延胡索調之。血虛陽勝兼熱者，四物加芩連丹皮清之。血實有瘀者，四物加桃仁紅花破之。憂思者，歸脾湯補之。鬱怒者，加味逍遙散，佐以越鞠丸達之。經來脹痛者，當歸抑氣散行之。風寒內客者，當歸養榮湯加薤白以溫之散之。帶之為病，五臟六腑皆有之。《產寶》云：帶下三十六疾，分十二症九痛七害五傷。然總而論之，不過虛實二字，故後人只以赤白言之。凡風寒濕熱客於胞門，傳至臟腑，結於帶脈，津液因之湧溢而出，必辨其色赤者為熱，白者為寒，青者為風，黃者為濕。內經言白蠱白液白淫，皆主任脈為病，治宜專固任脈。若因脾虛，中氣下陷，不能統固，宜補中升陽。或因心腎不交，相火蒸爍膏液，宜交通心腎。若兼目疾，因於風寒濕熱者，必翳障羞明。因於脾虛心腎不交者，必午後乾澀，甚則瞳神昏暗，皆由津液暗耗，無以滋榮。總宜閉其精竅，開其水道，庶清濁得分，更兼用補其氣血，和其陰陽。氣血旺，則客邪無隙可乘，陰陽和，則水火得以既濟矣。</p>

<h2>痘疹兼目疾論</h2>
<p>小兒痘瘡，皆由父母交媾之時，淫火熾甚而得。所謂先天之毒，稟於有生之初者也。蓋痘本先天淫毒，伏藏於肝腎之內，觸四時不正之氣，浡然發泄，氣領血載，達於肌膚之外，良由衛氣運於脈外，營血行於脈中，氣能祛毒外出，血能載毒上行。凡原氣之強盛者，不滿旬日，成痂而愈矣。若元氣羸弱，氣血偏虛，寒熱偏勝，毒不能盡達肌表，遺留而上逆，則目中生痘，損壞瞳神。又或成漿之後，毒出肌膚，內臟之元氣已虛，藥餌之補益不濟，有餘之毒，不能出外，反深入於內，因而目中星遮翳蔽，變症不一。惟驗其靨之白色者，屬於氣虛，淡紅者，屬於血虛，紫色者，屬於餘毒未清。若過期而靨不脫者，乃氣血大虧之象，調其寒熱溫涼，益其偏虛血氣，則目明翳消而得愈矣。疹者痘之末疾，發於脾肺二經，內應手足太陰，感天地間沴戾之氣，故名疹也。然名各有異，蘇松謂之痧子，浙江謂之瘄子，湖廣呼為麻子，北直謂之疹子，山陝謂之膚瘡，曰糠瘡，曰赤瘡，名雖不同，其症則一。總由君相二火燔灼，太陰脾肺受之。故其為症，必噴嚏咳嗽，面腫頰紅，目胞腫脹，眼淚汪汪，惟氣旺邪淺者易治。邪盛正虛，不勝其毒，則危機立至。更有愈後餘熱未清，上乘空竅，肝木受克，則黑珠星障昏花，羞明涕淚。切忌酸寒伐胃，宜清養肺陰，補其氣血。若誤認為風，設以表散，猶之抱薪救火矣。</p>

<h2>五疳兼目疾論</h2>
<p>小兒五疳者，肝疳心疳脾疳肺疳腎疳也。其說創於錢氏，皆因臟腑柔弱，氣血未充，或病後失調，或飲食飢飽，致傷脾胃而成疳症。津液內亡，虛火妄動，傷於何臟，發為何病，形症各殊。肝疳者，一名風疳，白膜遮睛，瀉血而瘦。心疳者，兩眥紅障，面黃頰赤。脾疳者，一名肥疳，上胞腫脹，腹大嗜甘。肺疳者，一名氣疳，白珠縐翳，喘嗽氣促。腎疳者，一名骨疳，瞳神凹凸，喜臥濕地。五臟治法繁多，不能概述，大要不離乎補脾健運，則清濁自分，中土有權，生機日盛，以異功散為君，隨症加減。如枸杞白芍以補肝，山藥阿膠以補肺，歸身棗仁以補心，黃耆紅棗以補脾，熟地菟絲以補腎，使脾胃稍旺，陰血漸充，繼進地黃湯，以養陰收功，豈非善治？夫疳者，干也，皆由內熱熏蒸，消爍津液。然不可因其熱而用苦寒之藥，再困脾陽，重傷胃氣。世俗呼為疳積，謂疳必兼積，概用消導，不知疳乃虛症，補之尚恐不及，而妄行攻伐，安有愈期乎。又有蟲疳者，其蟲如絲，出於頭項腹背之間，黃白赤者易治，青黑者難治。蛔疳者，眉縐多啼，嘔吐清沫。脊疳者，拍背有聲，脊骨如龜。腦疳者，頭皮光急，腦熱如火。其症雖多，不出於五臟，宜以前法治之。然五疳之中，心腎二疳甚少，肝脾肺三疳常常有之。蟲疳者，余亦屢見也。姑舉其要，以備後學者留意焉。</p>

<h2>辨脈法</h2>
<p>脈要精微論曰：微妙在脈，不可不察。邪氣臟腑病形篇曰：按其脈，知其病，命曰神。秦越人六十一難曰：切脈而知之謂之巧。許叔微曰：脈之理幽而難明。吾意所解，口莫能宣也。凡可以筆墨載，可以口舌言者，皆跡象也。至於神理，非心領神會，烏能盡其元微。方盛衰論曰：受師不卒，使術不明，不察從逆，是為妄行。推雌失雄，棄陰附陽，不知併合，診故不明。甚矣。脈之不可不辨也。其大要當合《素問》、《靈樞》，及各家論說，熟讀而玩繹之，自能領悟。惟常變之理，不可不知。凡人之脈，有素大素小，偏陰偏陽者，此其賦自先天，各成一局也。邪變之脈，有倏緩倏疾，乍進乍退，此其病之驟至，脈隨氣見也。故診脈者，必須先識臟脈，而後可以察病脈。先識常脈，而後可以察變脈。然有脈病相符者，有脈病相左者，有病亢極而脈忽反變者，如陽證見陽脈，陰症見陰脈，此脈病相符也。證似陽而脈不鼓指，證似陰而脈鼓盛者，此脈病相左也。陽盛者，脈必洪大，至陽盛之極，而脈反伏匿，陽極似陰也。陰盛者脈必微細，至陰盛而脈反躁疾，陰極似陽也。此病亢極，而脈忽反變也。又有從合之辨，如脈浮為表，治宜汗之，此其常也。而亦有宜下者，仲景云：若脈浮大，心下梗，有熱，屬臟者攻之，不令發汗是也。脈沉為里，治宜下之，此其常也。而亦有宜汗者，少陰病，始得之，反發熱，脈沉者，麻黃附子細辛湯微汗之是也。脈促為陽，當用葛根黃芩清之矣。若脈促厥冷為虛脫矣，非溫不可，此又非促為陽盛之脈也。脈遲為寒，當用附子乾薑溫之矣。若陽明脈遲，不惡寒，身體濈濈汗出，則用大承氣湯，此又非遲為陰寒之脈也。是皆從證不從脈也。至於表症汗之，此其常也。仲景曰：病發熱頭痛，脈反沉，身體疼痛，當救其里，用四逆湯，此從脈之沉也。里症下之，此其常也。日晡發熱者，屬陽明，脈浮虛者，宜發汗，用桂枝湯，此從脈之浮也。結胸症，當以大小陷胸下之矣。脈浮大者，不可下，下之則死，是宜從脈而治其表也。身疼痛者，當以桂枝麻黃解之矣。然尺中遲者，不可汗，以營血不足故也，是宜從脈而調其營矣，此皆從脈不從症也。世有切脈而不問症，問症而忽脈者，得非仲景之罪人乎。陶節庵曰：問病以知其外，察脈以知其內，全在治法二字，乃臨症切脈之要訣也。余歷來治目，無不詳參脈證，以定治法。如陸某朱某，同一胬肉壅腫，黑珠內泛，一則脈沉遲，知其陰虛不足，復感寒邪，故余用六物湯加炮姜，以養陰溫胃。一則脈浮遲而細，知其氣血兩虧，寒而兼風，故余用四物逍遙，加蘇木紅花，以祛風理血。張某艾某，同一珠大脫眶也，一則兩尺浮洪無根，右寸濡弱無力，此肺金不能生水，腎火浮越所致，故余用金匱腎氣丸，以降其浮陽。一則兩尺細數，右寸浮洪，此腎水枯涸，肺氣上衝所致，故余用人參固本煎加牛膝，以清其亢熱，此證同脈異，而治亦異也。又如錢某瞳神散大，李某兩目眥肉突出發癢，判然兩症，然二人尺脈均細數，寸脈均洪大，皆由於心腎不交，故余同以滋陰六味丸，去萸肉，加女貞子以治之。此證異脈同，故治亦同也。至如孔某視白為黃，視紅為紫，視正為橫，乃陰極陽飛之症，脈宜浮洪，今反細澀，所謂過極者，反兼勝已之化也。余以七味二地溫補之，此憑症而不憑脈也。大抵陰陽虛實，最宜詳審。張介賓曰：凡值疑似難明處，必須用四診之法，詳問其由，兼辨其聲色。但於本末先後中，徵之以理，斯得其真。若不察此，而但謂一診可憑，信手亂治，亦豈知脈症最多真假，見有不確安能無誤。且常診者，知之猶易，初診者，決之甚難，此四診之所以不可忽也。</p>

<h2>辨舌法</h2>
<p>經曰：能合色脈，可以萬全。舌尤色之易見者。昔張仲景著《傷寒論》及《金匱要略》，皆詳舌胎，後人《傷寒舌鑑》，《脈理正義》，皆本此而推廣之。惟杜清碧《驗證舌法》，尤為簡明。蓋舌為心竅，臟腑有病，必見之於舌。目病本於臟腑，故宜合舌胎以辨之。惟外感有之，而內傷絕少。凡症初起，舌有白胎薄而淡者，是寒邪初入太陽也。白屑滿舌，邪將傳入陽明也。白胎乾厚者，此太陽熱病也。白胎兼滑者，此太陽陽明並病也。白胎而中有微黃者，此太陽之邪漸入陽明也。如表未罷，雙解之，表已罷，下之。如作瀉，清之導之。白胎而尖微有刺者，此少陽陽明也。白胎而中有黑點者，亦少陽陽明也。如表未罷者，和解之。表已罷，微下之。白胎而滿黑刺者，此三陽合病也。白胎在左，陽明虛熱也。白胎在右，少陽受邪也。白胎而膩滑者，痰也。舌無白胎，外症厥冷者，寒中少陰也。白胎或左或右，而余見黃黑，外證下利，痛引小腹者，臟結也，熱甚者下之，無熱者溫之。白胎在尖紅者，少陽也。舌胎根白而尖者，太陽少陽並病也。舌白無胎而明淡，外症熱者，胃虛也。凡舌無胎垢而色變者，皆屬虛也。白胎厚如積粉者，此瘟疫初犯膜原也。白胎而尖根俱黑，乃金水太過，火土氣絕於內，雖無凶證，亦必死也。白胎中見黑色兩條，乃太陽少陽之邪入於胃，因土氣衰絕，故胸中結痛也。白胎中見灰色兩條，乃夾冷食舌也。舌見微黃胎者，邪入陽明，裡熱症也。次見深黃者，熱漸甚也。再見干黃焦黃者，熱愈亢也，宜下之。舌胎根黃而尖白者，表少里多也。黃胎而滑者，陽明濕熱也。黃胎而上有隔瓣者，邪毒甚深，急下之。黃胎雙垂夾見者，正陽陽明也。黃胎而中有斑者，將發斑也。無斑者，專下之。黃胎而中有刺者，胃熱甚也。黃胎而中有小黑點者，邪將入臟也，急下之。黃胎久而變黑，乾燥生刺者，實熱亢極之候，不治者多。若遇此症，必須掘開舌胎，視瓣底紅者，可急下之，瓣底黑者，不治。舌胎中心黑厚而乾者，為熱盛津枯之候，舌中黑無胎而燥，津液受傷，虛火用事也。舌黑有津邊紅，證見譫語者，虛人攻補兼用之，壯實者，急下之。夏月中暍，多有此舌，以辛涼解之，間有大虛之候，須合脈症參之。中黑邊白而滑者，表裡俱虛寒也。凡舌胎純黑者有兩症，一為火極似水，一為水來剋火，其辨法火亢盛者，胎厚而多刺，水來克者，胎薄而無刺。若舌黑中爛者，不治。舌至乾黑而短者，不治。產後舌紫黑者，不治。凡見黑色，須問曾食酸物，及甜咸物否，以其能染成黑色，非因病而生，故潤而不燥，刮之即退也。若舌胎見灰色，即黑色之輕者，與黑同治，亦有陰陽之分。如直中陰經者，即時舌變灰黑，而無積胎，如傳經熱症，則灰黑干胎。大抵舌上黃白黑俱有胎，紅紫則有色而無胎也。舌見純紅者，乃火亢之極，瘟疫將深之象也。舌中心見紅者，此太陽症也。舌紅而尖起紫泡者，此心經熱毒也。舌紅而中見紫斑者，將發斑也。舌淡紅而中見紅赤點者，將發黃也。舌紅而碎裂如人字紋者，此陽明傳熱於少陰心也。舌淡紅而碎裂如川字紋者，此心經積熱也。舌紅而有刺者，此胃有熱積也。舌紅而內有黑紋數條者，乃陰毒結於肝經，肝主筋，故舌見筋絲也。舌紅而有重舌者，此熱毒入心胞，舌紅而脹大滿口，此熱毒入於少陽陽明，均宜刺出惡血。舌紅而出血如衄，此熱傷心胞也，宜涼血止血。舌紅而硬強失音者，死候也，有痰者導之，內實者下之，間有生者。舌紅而碎爛如蟲蝕者，此少陰瘟毒也，下之。舌紅而吐弄者，此熱在心脾也。舌紅而戰動難言，舌紅而痿軟不能言者，皆心脾虛極也，多用人參可救。舌紅而乾癟者死，不治。舌見純紫色者，此酒毒也。舌紫而中心帶白者，酒毒在少陽也。舌紫而中心帶赤者，酒毒在陽明也。舌淡紅而中見紫黑筋數道者，此厥陰真寒症也。據此論治，可以辨虛實，別死生矣。</p>

<h2>用方法</h2>
<p>漢·張仲景治傷寒，立一百十三方，此用方之祖也。其中增減分合，立法最善。如桂枝湯加葛根，則為桂枝加葛根湯，此增法也。桂枝湯去芍藥，則為桂枝去芍藥湯，此減法也。桂枝湯去芍藥加附子，此增減並用法也。桂枝二麻黃一湯，桂枝二越婢一湯，此合法也。桂枝麻黃各半湯，此合而兼分之法也。蓋病情百變，方難膠一。故有一方之中，寒熱並用，仲景附子瀉心湯是也。攻補並用，陶氏黃龍湯是也。若藥性相反而兼用者，胡洽治痰癖，十棗湯加甘草，丹溪治勞瘵，蓮心飲與芫花同行是也。又如丹溪治一婦，用四物湯去川芎倍地黃加白朮黃耆黃柏甘草人參一帖，腹大泄，目無視，口無言，知其病勢深而藥無反佐之功也，仍用前藥炒熟與之而愈。此同一方，而一生一熟，相懸天壤也。至於君臣佐使，尤不可不知。如六君子專補氣，故以人參為君，四物湯專補血，故以當歸為君，切不可凌亂雜用，致昧要領。欲為醫者，能先明制方之法，無難奏效。余治汪婦兩目赤腫，左關脈沉數而微澀，此鬱火傷肝症，宜用逍遙散。然時值暑令，恐柴胡復升動其火，因去之，加青蒿而病除。又治謝某，火旺水虧，宜用六味丸，但目有星障，不宜酸斂，因去萸肉加女貞而病除。又治謝某兩目𥉂𥉂，紅絲下墜，此由操勞過度，思慮傷脾，以致脾火刑金，宜用歸脾湯。但脾中尚有鬱火，恐木香太燥，且能破氣，因去之，加麥冬以潤肺而病除。又治吳某厥陰頭痛，氣血素虧，脾腎兩經復感受寒邪，致左目凝翳赤障，下起傷痕，宜用溫補之劑。但僅祛脾臟之寒，則水不得溫，僅祛腎臟之寒，則土不得暖。余以理中湯理陰煎，合治之而病除。凡茲各法，未可概述，但能隨證應變，自免刻舟求劍之弊。若症有相似，方無參用，如陰症似陽者，其人目腫面赤，煩躁咽痛，身有微熱，大便秘結，有似陽症，但渴欲飲水，復不能飲，切其脈沉細遲微或輕按洪數，重按沉弱無力，此乃水極似火。王太僕所謂身熱脈數，按之不鼓擊者，名陰盛格陽，非熱也，宜用通脈四逆湯，倍加附子人參，以接其真陽之氣。設投寒涼，下咽即斃。陽證似陰者，其人目微赤，身寒逆冷，神氣昏昏，狀若陰證，然渴能飲水，大便硬秘，小便赤澀，設有稀糞利出者，乃旁流之物，非冷利也。其脈雖沉，切之必滑數有力，王太僕所謂病人身寒厥冷，其脈滑數，按之鼓擊者，名陽盛格陰，非寒也。輕者白虎湯，重者承氣湯。倘投溫熱，醫殺之也。又有隔治一法，如六節臟象論曰：未至而至，此為太過，則薄所不勝而乘所勝也。張介賓謂凡五行之氣，克我者為所不勝，我克者為所勝，假如木氣有餘，金不能制，而木反侮金，薄所不勝也。余嘗治一目痛脾泄嘔吐之證，專用四君子而愈。蓋此症由脾土衰弱，不能生金制木，時值春令，少陽用事，金氣休囚，木挾相火，反刑肺金，故致目痛嘔吐，復克脾土，故致泄瀉。若從伐肝木，木必不能受制，惟用隔治一法，補土以生金，生金以制木，則金有生扶，木不能薄所不勝也。此即東垣補土平肝之意也。但天下之病無窮，古人之方，不能盡其變態，則因證立方，當抒獨見。曾有干某，某目為石灰所傷，黑珠已損，視物不明，兩眶腫痛。又有瘳婦，左目為火烙傷，黑珠已壞，疼痛難忍，此兩症，如《飛鴻集》、《龍木論》、《銀海精微》、《原機啟微》、《審視瑤函》等書，及各大家集中，均所未載。余思石本屬陽，又因火化灰，其性更烈，目為所傷，則血凝水涸，遂處一方，以韭菜地上蚯蚓泥煎湯令服，其腫痛立消，繼以涼血之劑，目遂還光。蓋蚓本土德，而星應軫，水味性鹹寒，最能清熱，其泥尤甘寒，瀉熱解毒，必用韭菜地上者。韭入血分而行氣，氣血行則腫消，熱毒清則痛止也。至火性燥烈，烙目尤酷，遂用陳菜子油令其灌洗，其腫痛亦立消。蓋菜子辛溫無毒，陳則辛溫之氣稍泄，目方苦燥，得此潤之，痛可少減。且味帶辛溫，則能散其凝滯，而腫亦消矣。學者能細認病源，熟諳本草，何患症之難治哉。</p>

<h2>用藥法</h2>
<p>夫病有虛實寒熱之殊，故藥有補瀉溫涼之別。若虛中挾實，實中挾虛，寒因熱化，熱因寒化，上寒下熱，上熱下寒。其症種種不同，則臨證用藥之法，不可不知。昔韓懋之嫂口舌唇皆瘡，或至封喉，下部虛脫，白帶如注，醫或投涼劑解其上，則下部疾愈甚。或投熱劑，及以湯藥熏蒸其下，則熱暈欲絕。懋曰：此亡陽症也，以鹽煮附子為君，制以薄荷防風，佐以薑桂芎歸，水煎後，入井冰冷與之，未盡劑即少瘥。或問其故曰：真對真，假對假。上乃假熱，故以假冷之藥從之。下乃真寒，故以真熱之藥反之。斯上下和而病解矣。此治假熱真寒之法也。張銳治蔡魯公孫婦產後次日大泄，而喉閉不入食，眾醫曰：二疾若冰炭，雖司命無如之何。張曰：無憂也，取藥數十粒使吞之，咽喉即通，下泄亦止。魯公奇之，張曰：此於經無所載特以意處之。曏者所用藥，乃附子理中丸，裹以紫雪耳。方喉閉不通，非至寒之藥不為用。既下咽，則消釋無餘。其得至腹中者，附子力也，故一服而兩疾愈，此寒熱並治之法也。羅謙甫治一婦肝脾鬱結，午前用補中益氣湯下六味丸，午後用逍遙散下歸脾湯，此氣血並治之法也。謙甫又治一婦，肝脾氣滯，與歸脾湯下蘆薈丸，此補瀉兼施之法也。薛新甫治一婦怒氣傷肝，氣血俱虛，朝用逍遙散，夕用歸脾湯。又治一婦鬱怒傷肝脾，朝用歸脾湯，夕用逍遙散。蓋一則肝陰大損，故先用逍遙以達木性，次用歸脾以補其土，使木不能剋制。一則脾土既為肝木所克，故先用歸脾以扶衰敵強，次用逍遙以疏其氣，使木性得暢，土不復克，此治標治本先後次序之法也。李東垣治息賁伏梁諸丸，初令服二丸，一日加一丸，二日加二丸，加至大便微溏為度。再從二丸加服，周而復始，俟積消大半而止。蓋恐病淺藥深，轉傷正氣，故必逐漸增添，此由少加多之法也。李士材制陰陽二積之劑，補中數日，然後攻伐，不問積去多少，再與補中，待其神旺，則復攻之，屢攻屢補，以平為期。此攻補迭用之法也。餘本各法以治目疾，應手輒效。嘗治沈某目紅壅腫，眵淚如膿，口乾唇燥，小便赤澀，此一水不能勝五火也。第降其火，則水不即生，第滋其水，則火不遽息。乃以六味作湯下青寧丸，火清而水亦壯。又姚某右目為苗葉刺傷，白障滿泛，疼痛不止，當以活血為本，治氣為標，乃朝用四物湯，加蘇木、紅花、乳香、沒藥、䗪蟲，以行其血，夕用沉香越鞠丸，以通其氣。又幹某痘後，兩睥生癬，此因虛鬱熱停滯脾胃，當以扶脾為本，清熱為標，乃朝用六君子去甘草，加升麻望月砂杏仁，以健脾潤肺，夕用清目散，以瀉火。又李某兩目赤障，晝則時痛時止，此陽不和也，乃朝用香砂六君子，以和其陽。然上焦鬱氣未通，再用搐鼻碧雲散，以達其氣。又馬某兩目赤翳，夜則時痛時止，此陰不和也。余用補肝散合四物湯，以和其陰。然浮火上升，不可不降，再用熟地附子搗爛，塗湧泉穴，以降其浮游之火。又劉某兩目昏眊，胸膈鬱悶，無事生怒，此腎水不能生肝木也，余用左歸飲下越鞠丸，則壯水之中兼解其鬱。丹此陰陽互濟，氣血並調，虛實兼治，諸法不能遍舉，略述數條，以待學者隅反。或曰何不合一湯以治之？余曰不然。用藥之法，同於用兵，譬如兩枝兵合路而來，則合師以剿，自可奏功。若東一支兵，西一支兵，分路來犯，若合師以剿，東馳西走，力不能專，何如分師進取各奏成功。然而奇正相生，各存乎人，總期變通盡利。故兵法曰：多算勝者，少算不勝也。</p>

<h1>卷三</h1>

<h2>湯丸備要</h2>
<p><u>六味地黃丸</u>（仲陽）　治肝腎不足，真陰虧損，精血枯竭，憔悴羸弱，腰痛足酸，自汗盜汗，水泛為痰，發熱咳嗽，頭運目眩，耳鳴耳聾，遺精便血，消渴淋瀝，失血失音，舌燥喉痛，虛火牙痛，足跟作痛，下部瘡瘍等症。</p>
<p>熟地（八兩）　山萸肉（酒潤）　山藥（各四兩）　茯苓（乳拌）　丹皮　澤瀉（各三兩）</p>
<p>上蜜丸梧子大，空心鹽湯下。如用作湯，分兩酌定。</p>
<p><u>崔氏八味丸</u>（金匱）　治命門火衰，不能生土，以致脾胃虛寒，飲食少思，泄瀉腹脹，或元陽虛憊，陽痿精寒，臍腹疼痛，夜多漩溺，膝酸腰軟目昏等症。</p>
<p>即前六味加肉桂附子各一兩。</p>
<p><u>七味丸</u>　治肝經氣虛，筋無所養，變為寒症，以致筋骨疼痛，腳軟懶行，及傷寒服涼藥過多，水中無火，手足牽引，肝經血虛，以致火燥筋攣，變為結核瘰癧等症。</p>
<p>即前六味加肉桂一兩。</p>
<p><u>都氣丸</u>　治勞嗽，益肺之源，以生腎水也。</p>
<p>即前六味加五味子。</p>
<p><u>八仙長壽丸</u>　治虛損勞熱。</p>
<p>即前六味加五味子二兩，麥冬三兩。</p>
<p><u>明目地黃丸</u>（東垣）　治腎虛目昏。</p>
<p>即前六味加柴胡五味歸身，硃砂為衣。</p>
<p><u>滋腎生肝飲</u>（養葵）　治血虛氣滯，或肩背絆痛，或胃脘當心而痛，或肝火鬱於胃中，以致倦怠嗜臥，飲食不思，口渴咽燥，及婦人小便自遺，頻數無度。</p>
<p>即前六味加柴胡五味白朮當歸甘草</p>
<p><u>滋陰腎氣丸</u>　治目神水寬大漸散，或如霧露中行，漸睹空中有黑花，視物二體。久則光不收，及內障瞳神淡白。</p>
<p>即前六味去萸肉，加柴胡五味歸身生地，硃砂為衣。</p>
<p><u>知柏八味丸</u>　治陰虛火動，骨痿髓枯。</p>
<p>即前六味加知母黃柏各二兩。</p>
<p><u>加味地黃丸</u>　治肝腎陰虛，耳內癢痛出水，或眼昏痰喘，或熱渴便澀等症。</p>
<p>即前六味加生地柴胡五味。</p>
<p><u>左歸飲</u>（景岳）　治腎水乾枯，虛火上蒸脾胃，陰土受虧，以致飲食不進，大便燥結，甚至三陽癃閉，將成噎膈。治之於早，無不愈也。當以此方加歸芍，治傷寒舌黑唇焦，大渴引飲，此必服攻伐寒涼之藥過多也，此方救之。治瘧疾而兼燥症，熱重寒輕者，此方更宜。</p>
<p>熟地（三四錢或加至一二兩）　山萸肉（一二錢，畏酸者少用之）　山藥（二錢）　茯苓（錢半）　甘枸杞（二錢）　甘草（一錢）</p>
<p>水二盞，煎七分，食遠服。</p>
<p>如肺熱而煩者，加麥冬二錢。血滯者，加丹皮二錢。心熱而躁者，加元參二錢。血熱妄動者，加生地三四錢。陰虛不寧者，加女貞子二錢。上實下虛者，加牛膝二錢以導之。血虛而燥滯者，加當歸二錢。脾熱易飢者，加白芍二錢。腎虛骨蒸多汗者，加地骨皮二錢。</p>
<p><u>左歸丸</u>（景岳）　治真陰腎水不足，不能滋養營衛，漸至衰弱，或虛熱往來，自汗盜汗，或神不守舍，血不歸原，或遺淋不禁，或口燥舌乾，或腰痠腿軟，或昏運眼花耳聾。凡精髓內虧，津液枯竭等症，俱宜速壯水之主，以培左腎之元陰，而精血自充矣。此方主之。</p>
<p>大熟地（八兩）　山藥　萸肉　枸杞　菟絲子（制）　鹿角膠（切碎炒珠）　龜膠（切碎炒珠，各四兩）　牛膝（酒洗蒸熟，三兩，精滑者不用）</p>
<p>蜜丸，每食前滾清湯或淡鹽湯送下百餘丸。如純陰失守，虛火上炎者，宜用純陰至靜之劑，於本方去鹿膠枸杞，加女貞麥冬三兩。如火爍肺金，乾咳多嗽者，加百合三兩。如氣虛者，加人參三四兩。如大便燥結，去菟絲，加肉蓯蓉三兩。如血虛微滯，加當歸四兩。如腰膝痠痛，加杜仲三兩，鹽水炒用。如臟平無火，而腎氣不充者，加破故紙、蓮肉、去心胡桃肉各四兩，龜膠不必用。</p>
<p>上丸，五液皆主於腎，故凡屬陰分之藥，無不皆走腎。有謂必須導引者，皆見之不廣爾。</p>
<p><u>右歸飲</u>（景岳）　此益火之劑也。凡命門之陽衰陰勝者，宜此方加減主之。如治陰盛格陽，真寒假熱等症，宜加澤瀉二錢，煎成，用涼水浸冷服之，尤妙。</p>
<p>熟地（三四錢或加至一二兩）　萸肉（一錢）　山藥（二錢）　杜仲（薑製，二錢）　枸杞（二錢）　炙甘草（一二錢）　肉桂（一二錢）　製附子（一二三錢）</p>
<p>水二盞，煎七分，食遠服。如氣虛血脫，或厥或昏，或汗或運，或虛狂，或短氣者，必大加人參白朮，隨宜用之。如小腹多痛，加吳茱萸六七分。如火衰不能生土，為嘔噦吞酸者，加炮姜二三錢。如陽衰中寒，泄瀉腹痛，加人參、肉豆蔻，隨宜用之。如淋帶不止，加破故紙一錢。如血少血滯，腰膝軟痛者，加當歸二三錢。</p>
<p><u>右歸丸</u>（景岳）　治元陽不足，或先天稟衰，或勞傷過度，以致命門火衰，不能生土，而為脾胃虛寒，飲食少進，或嘔惡膨脹，或反胃噎膈，或怯寒畏冷，或臍腹疼痛，或大便不實，瀉利頻作，或小水自遺，虛淋寒疝，或寒侵溪谷，而肢節痛痹，或寒在下焦，而水邪浮腫，總之真陽不足者，必神疲氣怯，或心跳不寧，或四肢不收，或眼見邪祟，或陽衰無子等症，速宜益火之源，以培右腎之元陽，而神氣自強矣。八味丸治之不愈者，宜服此，或用右歸飲。</p>
<p>大熟地（八兩）　山萸肉　山藥　枸杞　菟絲（制）　杜仲（姜炒）　鹿角膠（炒珠，各四兩）當歸（三兩，便溏勿用）　附子（制）　肉桂（各二兩）</p>
<p>蜜丸，服如前法。或丸如彈子大，每嚼服二三丸，白湯下，其效尤速。如陽衰氣虛，必加人參以為之主，蓋人參之功，隨陽藥則入陽分，隨陰藥則入陰分。欲補命門之陽，非加人參不能捷效。如陽虛精滑，或帶濁便溏，加補骨脂酒炒三兩。如飧泄腎泄不止，加五味子三兩，肉豆蔻三兩，麵炒去油用。如飲食減少，或不易化，或嘔惡吞酸，皆脾胃虛寒之症，加乾薑三四兩炒黃用。如腹痛不止，加吳茱萸二兩，湯炮半日炒用。如腰膝痠痛，加胡桃肉連皮四兩。如陰虛陽痿，加巴戟肉四兩，肉蓯蓉三兩，或加黃狗外腎一二副，以酒煮爛搗入之。</p>
<p><u>人參固本丸</u>（千金）　治肺勞虛極，脾虛煩熱，或小便短赤，大便閉結，此陰虛有火之聖藥也。</p>
<p>人參（二兩）　天冬　麥冬　生地　熟地（各四兩）</p>
<p>蜜丸。</p>
<p><u>天王補心丹</u>（道藏）　治思慮過度，陰血不足，怔忡健忘，心口多汗，大便或秘或結，口舌生瘡等症。</p>
<p>生地（四兩）　柏子仁　當歸（酒洗）　酸棗仁（各五錢）　天冬（一兩）　麥冬（一兩）　人參（五錢）　元參（五錢）　丹參（五錢）　五味（一兩）　桔梗（五錢）　茯苓（五錢，一用茯神）　遠志肉（五錢）</p>
<p>蜜丸彈子大，硃砂為衣，臨臥燈心湯下一丸，或噙含化。一方有石菖蒲四錢，無五味子。一方有甘草。</p>
<p><u>龜鹿二仙膏</u>　治瘦弱少氣，夢遺泄精，目視不明，精竭之症。</p>
<p>鹿角（十斤）　龜板（五斤）　枸杞（一斤）　人參（一斤）</p>
<p>先將鹿角龜板鋸截刮淨，水浸桑火熬成膏，再將人參枸杞熬膏和入，每晨酒服三錢。</p>
<p><u>扶桑丸</u>（胡僧）　除風濕，起羸尪，駐容顏，烏鬚髮，卻病延年。</p>
<p>嫩桑葉（去蒂洗淨，曝乾為末，一斤）　黑芝麻（名巨勝子，淘淨，四兩）</p>
<p>用白蜜一斤，將芝麻擂碎，熬濃汁，蜜和煉至滴水成珠，入桑葉末為丸。一方桑葉為末，芝麻蒸搗等分，蜜丸，早鹽湯下，晚酒下。</p>
<p><u>益氣聰明湯</u>（東垣）　治內障目昏，耳鳴耳聾。</p>
<p>黃耆　人參（各五錢）　葛根　蔓荊子（各三錢）　白芍　黃柏（各二錢）　升麻（錢半）　炙甘草（一錢）</p>
<p>每四錢，臨臥服，五更再服。</p>
<p><u>玉屏風散</u>（得效）　治自汗不止，氣虛表弱，易感風寒。</p>
<p>黃耆（炙）　防風（各一兩）　白朮（炒，二兩）</p>
<p>為末，每服三錢。</p>
<p><u>苓朮菟絲丸</u>　治脾腎虛損，不能收攝，以致夢遺精滑，困倦等症。</p>
<p>茯苓　白朮（各四兩）　菟絲子（倍用）　蓮肉（去心，四兩）　杜仲（酒炒，三兩）　山藥（二兩）　五味子（酒蒸，一兩）　炙草（五錢）</p>
<p>上用山藥末，以陳酒煮糊為丸，桐子大，空心白滾湯或酒下百餘丸。</p>
<p><u>桑螵蛸散</u>（寇氏）　治小便數而欠，能安神魂，補心氣，療健忘。</p>
<p>人參　茯苓（一用茯神）　石菖蒲（鹽炒）　遠志　桑螵蛸（鹽炒）　龍骨（煅）　龜板（酥炙，一用鱉甲）　當歸</p>
<p>等分為末，臨臥服二錢，人參湯下。</p>
<p><u>四君子湯</u>　治一切陽虛氣弱，脈來虛軟，脾衰肺損，飲食少思，體瘦而黃，皮聚毛落，言語輕微，四肢無力，及脾胃不和，泄痢虛飽。</p>
<p>人參　白朮（土炒）　茯苓（各二錢）　甘草（一錢）</p>
<p>加薑棗煎服。</p>
<p><u>異功散</u>　調理脾胃。</p>
<p>即前四君子加陳皮。</p>
<p><u>六君子湯</u>　治脾胃氣虛，飲食不進，致成痰癖，不時咳唾，或胃氣虛寒，動成嘔惡。凡虛瘧及諸病後宜之。</p>
<p>即前四君子加陳皮半夏。</p>
<p><u>香砂六君子湯</u>　治虛寒胃痛，或腹痛泄瀉。</p>
<p>即前六君子加香附砂仁。</p>
<p><u>六神散</u>（無擇）　治小兒表熱去後，又發熱者。</p>
<p>即前六君子加山藥扁豆。</p>
<p><u>八珍湯</u>　治氣血兩虛，及胃損，飲食不為肌膚。</p>
<p>即前四君子合後四物湯。</p>
<p><u>十全大補湯</u>　治真陰內竭，虛陽外鼓。</p>
<p>即前八珍湯加黃耆肉桂。</p>
<p><u>補中益氣湯</u>　治煩勞內傷，身熱心煩，頭痛惡寒，懶言惡食，脈洪大而虛，氣短而渴，或陽虛自汗，或氣短不能舉元，致瘧痢脾虛，久不能愈，一切清陽下陷。中氣不足之症。</p>
<p>黃耆（蜜炙）　人參　甘草（炙）　白朮（土炒）　陳皮　當歸（各五分）　升麻　柴胡（各三分）</p>
<p>姜三片，棗二枚煎服。如血不足，加當歸。精神短少，加人參五味。肺熱咳嗽，去人參。嗌乾，加葛根。頭痛，加蔓荊子。痛甚，加川芎。腦痛，加藁本、細辛。風濕相搏，一身盡痛，加羌活防風。有痰，加半夏生薑。胃寒氣滯，加青皮蔻仁木香益智。腹脹，加枳實厚朴木香砂仁。腹痛，加白芍甘草。熱痛，加黃芩。能食而心下痞，加黃連。咽痛，加桔梗。有寒，加肉桂。濕勝，加蒼朮。陰火，加黃柏知母。陰虛，去升麻、柴胡，加熟地、山萸、山藥。大便秘，加酒煨大黃。咳嗽，春加旋覆、款冬，夏加麥冬、五味，秋加麻黃、黃芩，冬加麻黃不去根節。天寒加乾薑。泄瀉，去當歸，加茯苓、蒼朮、益智。如冬月惡寒發熱無汗，脈浮而緊，加麻黃。若脈浮而緩有汗，加桂枝、白芍。</p>
<p><u>調中益氣湯</u>　治脾胃不調，胸滿肢倦，食少短氣，口不知味，及食入反出。</p>
<p>即前補中益氣湯去當歸白朮，加木香蒼朮。</p>
<p><u>四物湯</u>　治一切血虛，及婦人經病。</p>
<p>當歸（酒洗）　生地（各三錢）　白芍（二錢）　川芎（錢半）</p>
<p>如涼血，心加黃連，肝條芩，肺枯芩，大腸實芩，膽黃連，腎膀胱黃柏，脾生地，胃大黃，三焦地骨，心胞丹皮，小腸梔子木通。如清氣心與胞絡加麥冬，肺枳殼，肝柴胡青皮，脾白芍，胃乾葛石膏，大腸三焦連翹，小腸赤茯，膀胱滑石琥珀。血虛，加龜板。血燥，加人乳。血瘀，加桃仁紅花韭汁童便行之。暴血，加薄荷元參散之。血不止，加炒蒲黃京墨。久不止，加升麻引血歸經。婦人經血紫黑，脈數為熱，加芩連。血淡脈遲為寒，加桂附。人肥有痰，加半夏南星橘紅。人瘦有火，加黑梔知母黃柏。郁者，加木香砂仁蒼朮神麯。瘀滯，加桃仁紅花延胡肉桂。氣虛，加參耆。氣實，加枳樸。王海藏加芩術，名溫六合湯。治經水過多，加梔連，名熱六合湯。治血熱妄行，加姜附，名寒六合湯。治血海虛寒，加艽羌，名風六合湯。治血虛風癢，加陳樸，名氣六合湯，治氣鬱經阻。</p>
<p><u>知柏四物湯</u>　治陰虛有火。</p>
<p>即前四物加知母黃柏。</p>
<p><u>羌防四物湯</u>　治風虛眩暈，風秘便難。</p>
<p>即前四物加羌活防風。</p>
<p><u>元戎四物湯</u>　治血結便秘，撲損瘀血。</p>
<p>即前四物加桃仁紅花。</p>
<p><u>加味四物湯</u>（薛氏）　治血虛有熱。</p>
<p>即前四物加丹皮山梔。</p>
<p><u>當歸補血湯</u>（東垣）　治傷於勞役，肌熱面赤，煩渴引飲，脈大而虛。</p>
<p>黃耆（炙，一兩）　當歸（酒洗，二錢）</p>
<p>空心服。</p>
<p><u>歸脾湯</u>（濟生）　治思慮過度，勞傷心脾，怔忡健忘，驚悸盜汗，發熱體倦，食少不眠，或脾虛不能攝血，致血妄行，及婦人經帶，或心脾傷痛嗜臥，肢體作痛，大便不調，或瘰癧流注，不能消散潰斂。</p>
<p>黃耆（蜜炙）　當歸（酒洗）　龍眼肉（各二錢）　棗仁（炒研）　白朮（土炒，各錢半）　人參茯神（各一錢）　遠志（去心，八分）　木香（磨沖）　甘草（各五分）</p>
<p>薑棗煎。如肺腎受傷，加麥冬五味。肝腎受傷，加白芍，更為有益。如從怫鬱而起，則加柴胡丹皮山梔。如非二陽之病至怔忡，去木香加枸杞。如夢遺，加熟地五味白芍牡蠣。如挾心包有餘之火，加黃連生地。有痰，加貝母。如挾相火者，加黃柏知母麥冬。</p>
<p><u>加味歸脾湯</u>（薛氏）　治血熱。</p>
<p>即前歸脾湯加丹皮山梔。</p>
<p><u>黑歸脾湯</u>　治陰虛血少。</p>
<p>即前歸脾湯加大熟地，亦有將全料炒黑用者。</p>
<p><u>人參養營湯</u>　治脾虛食少無味，身倦肌瘦，肺虛色枯氣短，毛髮脫落，小便赤澀，營血不足，驚悸健忘，寢汗發熱，諸種虛症。</p>
<p>人參　白朮　白芍（各錢半）　黃耆（蜜炙）　當歸（二錢）　茯苓（一錢）　熟地（三錢）　甘草（炙）　陳皮　桂心　遠志（各五分）　五味（十粒）</p>
<p>加薑棗煎。</p>
<p><u>二至丸</u>　補腰膝，壯筋骨，強腎陰，烏鬚髮。</p>
<p>冬青子（即女貞實，冬至日採，不拘多少，陰乾，蜜酒拌蒸，曬乾為末，瓷瓶收貯）　旱蓮草（夏至日採，不拘多少，搗汁熬膏，和入）</p>
<p>臨臥酒服。一方加桑椹干為丸，或桑椹熬膏和入。</p>
<p><u>休瘧飲</u>（景岳）　此止瘧最妙之方也。若汗散既多，元氣不復，或以衰老，或以弱質，而瘧有不能止者，俱宜用此。化暴善後之第一方也。</p>
<p>人參　白朮（炒）　當歸（各三四錢）　何首烏（五錢制）　炙草（八分）</p>
<p>用陰陽水各一盞，煎七分，露一宿，次早溫服。如陽虛多寒，宜溫中散寒者，加乾薑肉桂之類，甚者，或加製附子。如陰虛多熱，煩渴喜冷，宜滋陰清火者，加麥冬生地芍藥，甚者，加知母，或加黃芩。如腎陰不足，水不制火，虛煩虛餒，腰痠腳軟者，加熟地山藥杜仲之類。如邪有未盡，而留連難愈者，於此方加柴胡麻黃細辛紫蘇之屬，自無不可。如氣血多滯者，或加酒水各一盞煎，服藥後，飲酒數杯亦可。</p>
<p><u>桂枝湯</u>（仲景）　治太陽中風，陽浮而陰弱，發熱頭痛，自汗惡寒，鼻鳴乾嘔，及陽明病脈遲，汗出多，微惡寒者，表未解也，可發汗。</p>
<p>桂枝（三兩）　芍藥（三兩）　甘草（炙，二兩）　大棗（十二枚）　生薑（三兩）</p>
<p>熱服，須臾啜稀熱粥以助藥力，宜溫覆取微汗，不可令如水淋漓，汗出病瘥停後服，服一劑盡，病症猶在者，更作服。</p>
<p><u>神朮散</u>（海藏）　治內傷冷飲，外感寒邪而無汗者。</p>
<p>蒼朮（制）　防風（各二兩）　甘草（炙，一兩）</p>
<p>加生薑蔥白煎。如太陽症發熱惡寒，脈浮緊者，加羌活。浮緊帶洪者，是兼陽明，加黃芩。浮緊帶弦數者，是兼少陽，加柴胡。</p>
<p><u>香蘇飲</u>（局方）　治四時感冒，頭痛發熱，或兼內傷，胸膈滿悶，噯氣惡食。</p>
<p>香附（炒）　紫蘇（各二錢）　陳皮（去白，一錢）　甘草（七分）</p>
<p>加薑蔥煎。傷食，加消導藥。咳嗽，加杏仁桑皮。有痰，加半夏。頭痛，加川芎白芷。傷風鼻塞頭昏，加羌活荊芥。心中卒痛，加延胡索酒一杯。</p>
<p><u>清震湯</u>　治雷頭風，頭面疙瘩腫痛，憎寒壯熱，狀如傷寒。</p>
<p>升麻　蒼朮（各五錢）　荷葉（一枚）</p>
<p><u>小柴胡湯</u>（仲景）　治傷寒中風，少陽症，往來寒熱，胸脅痞滿，心煩喜嘔，默默不欲食，或脅下痛。或腹中痛，或渴或利，或咳或悸，小便不利，耳聾口苦脈弦。</p>
<p>柴胡（半斤）　黃芩（三兩）　人參（三兩）　甘草（一兩）　生薑（四兩）　半夏（半升）　大棗（十二枚）</p>
<p>水一斗二升，煮六升，去渣再煎，取三升，溫服一升，日三服。嘔逆，加生薑以散逆，陳皮以理氣。煩而不嘔，去半夏人參，加栝蔞以蕩鬱熱。渴者去半夏，加花粉以生津。若渴外有微熱，去參加桂枝以解肌，覆取微汗。咳嗽，去參棗生薑，加五味以斂肺，乾薑以散寒。齒燥無津，加石膏以清胃止渴。虛煩，加竹葉以涼心，糯米以和胃。痰熱，加栝蔞貝母。腹痛，去黃芩加芍藥。脅下痞硬，去大棗加牡蠣。脅下痛，加青皮白芍。心下悸，小便不利，去黃芩加茯苓。本經頭痛，加川芎。發黃，加茵陳以利濕。</p>
<p><u>越鞠丸</u>（丹溪）　統治六郁胸膈痞悶，吞酸嘔吐，飲食不消。</p>
<p>香附（醋炒）　蒼朮（泔制）　撫芎　神麯　梔子（炒黑）</p>
<p>等分麵糊丸。</p>
<p>如濕鬱，加茯苓白芷。火鬱，加青黛。痰鬱，加半夏南星栝蔞海石。血鬱，加桃仁紅花。氣鬱，加木香檳榔。食鬱，加山楂麥芽砂仁。挾寒，少加吳茱萸。</p>
<p><u>逍遙散</u>（《局方》）　治血虛肝燥，骨蒸勞熱，潮熱咳嗽，往來寒熱，口乾便澀，月經不調。凡肝膽兩經鬱火，以致脅痛頭眩，或胃脘當心而痛，或肩胛絆痛，或時眼赤痛，連及太陽，婦人鬱怒傷肝，致血妄行，赤白淫閉，沙淋崩濁等症，俱宜此方加減治之。易曰：風以散之是也。</p>
<p>當歸（酒拌）　白芍（酒炒，各錢半）　白朮（土炒）　柴胡　茯苓（各一錢）　甘草（炙，五分）</p>
<p>加煨姜薄荷煎。</p>
<p><u>加味逍遙散</u>（薛氏）　治怒氣傷肝，血少目暗。</p>
<p>即前逍遙散加丹皮山梔。</p>
<p><u>黑逍遙散</u>　治肝腎陰虛。</p>
<p>即前逍遙散加大熟地。</p>
<p><u>藿香正氣散</u>（《局方》）　治外感風寒，內傷飲食，憎寒壯熱，頭痛嘔逆，胸膈滿悶，咳嗽氣喘，及傷冷傷濕瘧疾，中暑霍亂吐瀉。凡感嵐瘴不正之氣者，並宜增減用之。</p>
<p>藿香　紫蘇　白芷　大腹皮　茯苓（各三兩）　白朮　陳皮　半夏曲　厚朴　桔梗（各二兩）　甘草（一兩）</p>
<p>每服五錢，加薑棗煎。一方加木瓜。</p>
<p><u>枳朮丸</u>（潔古）　消痞除痰，健脾進食。</p>
<p>白朮（二兩，土蒸）　枳實（一兩，麩炒）</p>
<p>為末　荷葉包陳米飯，煨乾為丸。痞悶加陳皮，氣滯加木香，傷食加麥芽神麯。</p>
<p><u>平胃散</u>（《局方》）　治脾有停濕，痰飲痞膈，宿食不消，滿悶嘔瀉。</p>
<p>蒼朮（泔制，二錢）　厚朴（薑製）　陳皮（去白）　甘草（炙，各一錢）</p>
<p>加薑棗煎。傷食，加神麯麥芽或枳實。濕勝，加五苓。痰多，加半夏。脾倦不思食，加參耆。痞悶，加枳殼木香。大便秘，加大黃芒硝。小便赤澀，加苓澤。傷寒頭痛，加蔥頭取微汗。</p>
<p><u>不換金正氣散</u>（《局方》）　治胃寒腹痛嘔吐。</p>
<p>即前平胃散加藿香半夏。</p>
<p><u>胃苓湯</u>　治中暑傷濕，停飲夾食，腹痛泄瀉，及口渴便秘。</p>
<p>即前平胃散，合後五苓散。</p>
<p><u>五苓散</u>（仲景）　治諸濕腹滿，水飲水腫，嘔逆泄瀉，水寒射肺，或喘或咳，中暑煩渴，身熱頭痛，膀胱積熱，便秘而渴，霍亂吐瀉，痰飲濕瘧，身痛身重。</p>
<p>豬苓　茯苓　白朮（炒，共十八銖）　澤瀉（一兩六銖半）　肉桂（半兩或用桂枝）</p>
<p>為末，每服三錢，服後多飲熱水，汗出而愈。傷暑者，加硃砂燈心煎。</p>
<p><u>蒼朮五苓散</u>　治寒濕。</p>
<p>即前五苓散加蒼朮。</p>
<p><u>茵陳五苓散</u>　治濕熱發黃，便秘煩渴。</p>
<p>即前五苓散加茵陳。</p>
<p><u>豬苓湯</u>（仲景）　治濕熱黃疸，口渴溺赤。</p>
<p>即前五苓散去朮桂加阿膠滑石。</p>
<p><u>澤瀉湯</u>（《金匱》）　治心下支飲，常苦眩冒。</p>
<p>即前五苓散但用澤瀉五兩。白朮二兩。</p>
<p><u>春澤湯</u>　治無病而渴，與病瘥後渴者。</p>
<p>即前五苓散合四君子湯。</p>
<p><u>金匱腎氣丸</u>　治脾腎大虛，肚腹脹大，四肢浮腫，喘急痰盛，小便不利，大便溏黃，已成蠱症。亦治消渴，飲一溲二。</p>
<p>熟地（四兩）　茯苓（三兩）　山藥（微炒）　丹皮（酒洗）　山萸（酒潤）　澤瀉（酒浸）　牛膝（酒浸）　車前（微炒）　肉桂（各一兩）　附子（制，五錢）</p>
<p>蜜丸。</p>
<p><u>貞元飲</u>（景岳）　治氣短似喘，呼吸促急，提不能升，咽不能降，氣道噎塞，勢極垂危者。常人但知為氣急，其病在上，而不知元海無根，肝腎虧損，此子午不交，氣脫病也。嘗見婦人血海常虧者最多此症，宜以此飲濟之緩之，敢云神劑。凡診此脈，必微細無神，若微而兼緊，尤為可畏。倘庸眾不知，妄云痰逆氣滯，用牛黃蘇合及青陳枳殼破氣等劑，則速其危。</p>
<p>熟地（七八錢或一兩）　當歸（二三錢）　炙草（一二三錢）</p>
<p>如兼嘔惡或惡寒者，加煨姜三五片。如氣虛脈至極者，急加人參隨宜。如肝腎陰虛，手足厥逆者，加肉桂一錢。</p>
<p><u>佛手散</u>　治產後血虛頭痛。</p>
<p>川芎　當歸</p>
<p>為末服。</p>
<p><u>五皮飲</u>（《澹寮》）　治水病腫滿，上氣喘急，或腰以下腫。</p>
<p>五加皮　地骨皮　茯苓皮　大腹皮　生薑皮</p>
<p>一方五加易陳皮，羅氏五加易桑白皮，治病後脾肺氣虛，而致腫滿。</p>
<p><u>萆薢分清飲</u>　治陽虛白濁，小便頻數，漩白如油，名曰膏淋。</p>
<p>川萆薢　石菖蒲　烏藥　益智仁　甘草梢（減半）</p>
<p>入鹽服。一方加茯苓。</p>
<p><u>理中湯</u>（仲景）　治傷寒太陰病，自利不渴，寒多而嘔，腹痛便溏，脈沉無力，或厥逆拘急，或結胸吐蛔，及感寒霍亂。凡中宮虛寒，氣不能理諸症，俱宜用此，分理陰陽，調和胃氣。</p>
<p>人參（一兩）　白朮（土炒，二兩）　乾薑（炮）　甘草（炙，各一兩）</p>
<p>自利腹痛者，加木香。不痛利多者，倍白朮。渴者倍白朮。蜷臥沉重利不止，加附子。腹滿去甘草。嘔吐去白朮，加半夏薑汁。臍下動氣，去朮加桂。悸加茯苓。發黃加茵陳。寒實結胸，加枳實。</p>
<p><u>附子理中湯</u>　治中寒腹痛身痛，四肢拘急。</p>
<p>即前理中湯加附子一枚。</p>
<p><u>枳實理中湯</u>　治寒實結胸欲絕，胸膈高起，手不可近者。</p>
<p>即前理中湯加枳實。</p>
<p><u>桂枝人參湯</u>（仲景）　治太陽表症不除，而數下之，協熱而利，心下痞硬，表裡不解者。</p>
<p>即前理中湯加桂枝倍甘草。</p>
<p><u>理陰煎</u>（景岳）　治真陰虛弱，脹滿嘔逆，痰飲噁心，吐瀉腹痛，婦人經遲血滯等症。</p>
<p>熟地（三五七錢或三兩）　當歸（二三錢或五七錢）　乾薑（炒黃色，二三錢）　甘草（炙，一二錢）</p>
<p>或加肉桂一二錢，加附子，名附子理陰煎。若風寒外感，邪未深入，但見發熱，脈數不洪。凡內無火症，素稟不足者，但用此湯，加柴胡錢半或二錢，連進一二服。其效如神。若寒凝陰盛，而邪有難解者，必加麻黃一二錢，放心用之。或不用柴胡亦可，恐其清利也。若陰勝之時，外感寒邪，脈細惡寒，或背惡寒者，乃太陽少陰症也，加細辛一二錢，甚者再加附子一二錢。若陰虛火盛，其有內熱，不宜用溫，而氣血俱虛，邪不能解者，宜去薑桂，單以三味與之加減，或止加人參亦可。若脾胃兩虛，水泛為痰，或嘔或脹者，加茯苓錢半，或加白芥子五分以行之。若泄瀉不止，及腎瀉者，宜少用當歸，或並去之，加山藥、扁豆、吳茱萸、破故紙、肉豆蔻、附子。若腰腹有痛，加杜仲、牛膝。若腹有脹滯疼痛，加陳皮、木香、砂仁。</p>
<p><u>四逆湯</u>（仲景）　治三陰傷寒，身痛腹痛，下利清穀，惡寒不渴，四肢厥冷，或反不惡寒，面赤煩躁，裡寒外熱，或乾嘔，或咽痛，脈沉微細欲絕。</p>
<p>附子（一枚，生用）　乾薑（一兩）　甘草（二兩，炙）</p>
<p>冷服。面赤者，格陽於上也，加蔥九根以通陽。腹痛，真陰不足也，加芍藥二兩以斂陰。咽痛，陰氣上結也，加桔梗一兩以利咽。利止脈不出，加人參二兩，以助陽補氣血。嘔吐，加生薑二兩以散逆氣。</p>
<p><u>當歸四逆湯</u>　治感寒手足逆冷，脈細欲絕，及寒疝臍下冷，引腰胯痛。</p>
<p>即前四逆湯加當歸木通。又桂枝湯加當歸木通細辛，亦名當歸四逆湯。</p>
<p><u>茵陳四逆湯</u>　治陰黃。</p>
<p>即前四逆湯加茵陳。</p>
<p><u>四逆加人參湯</u>　治惡寒脈微複利，利止亡血。</p>
<p>即前四逆湯加人參。</p>
<p><u>四神丸</u>　治腎瀉脾瀉。</p>
<p>破故紙（酒浸，四兩）　五味子（三兩，炒）　肉豆蔻（二兩，麵煨）　吳茱萸（一兩，鹽水泡）</p>
<p>用大棗百枚，生薑八兩切片，同煮棗爛，去姜取棗肉搗丸，每服二錢，臨臥鹽湯下。</p>
<p><u>香薷飲</u>　治感冒暑氣，皮膚蒸熱，頭痛重，或煩渴，或吐瀉。</p>
<p>香薷（一兩）　厚朴（薑汁炒）　扁豆（炒，各五錢）</p>
<p>冷服。或加黃連。</p>
<p><u>二香散</u>　治外感內傷，身熱腹脹。</p>
<p>即前香薷飲合香蘇飲加蒼朮木瓜。</p>
<p><u>大順散</u>　治冒暑伏熱，引飲過多，脾胃受濕，水穀不分，清濁相干，陰陽氣逆，霍亂吐瀉，臟腑不調。</p>
<p>乾薑　肉桂　杏仁（去皮尖）　甘草</p>
<p>等分，先將甘草用白砂炒，次入姜杏炒過，篩去砂淨，合桂為末，每服二三錢，湯點服。</p>
<p><u>二妙散</u>　治諸般濕熱。</p>
<p>蒼朮　黃柏</p>
<p>為末服。</p>
<p><u>清燥湯</u>（東垣）　治肺金受濕熱之邪，痿躄喘促，胸滿少食，色白毛敗，頭眩體重，身痛肢倦，口渴便秘。</p>
<p>即前二妙散加參、耆、歸、地、朮、草、陳、連、麥、味、升、柴、豬、茯、澤、曲。</p>
<p><u>六一散</u>（河間）　治傷寒中暑，表裡俱熱，煩躁口渴，小便不通，瀉痢熱瘧，霍亂吐瀉，下乳滑胎，解酒熱毒，偏主石淋。</p>
<p>滑石（六兩）　甘草（一兩）</p>
<p>為末，冷水或燈心湯下。</p>
<p><u>生脈散</u>（《千金》）　治熱傷元氣，氣短倦怠，口渴多汗，肺虛而咳。</p>
<p>人參　麥冬（各五分）　五味子（七粒）</p>
<p><u>五味子湯</u>（《千金》）　治傷燥咳，唾中有血，牽引胸脅痛，皮膚乾枯。</p>
<p>五味子（五分）　桔梗　甘草　紫菀茸　續斷　竹茹　桑白皮（一錢，蜜炙）　生地（二錢）赤小豆（一撮）</p>
<p>上九味，水煎空心服。秘旨加白蜜一匙。</p>
<p><u>麥門冬湯</u>（千金）　治大病後，火熱乘肺，咳唾有血，胸膈脹滿，上氣羸瘦，五心煩熱，渴而便秘。</p>
<p>麥冬（二錢）　桔梗　桑皮　半夏　生地　紫菀　竹茹（各一錢）　麻黃（七分）　甘草（五分炙）　五味子（十粒）　生薑（一片）</p>
<p>水煎空心服。</p>
<p><u>茵陳蒿湯</u>（仲景）　治傷寒陽明病，但頭汗出，腹滿口渴，二便不利，濕熱發黃，脈沉實者。</p>
<p>茵陳（六兩）　大黃（二兩）　梔子（十四枚，炒）</p>
<p>上三味，以水一斗，先煮茵陳減六升，內二味，煎至三升，去渣，分溫三服。小便當利。尿如皂角汁狀，色正赤，一宿腹減，黃從小便去也。</p>
<p><u>八正散</u>（《局方》）　治濕熱下注，咽乾口渴，少腹急滿，小便不通，或淋痛尿血，或因熱為腫。</p>
<p>車前子　木通　瞿麥　萹蓄　滑石　山梔（炒黑）　甘草梢　大黃</p>
<p>加燈心煎。一方加木香。</p>
<p><u>小承氣湯</u>（仲景）　治傷寒陽明症譫語，便硬潮熱而喘，及雜病上焦痞滿不通。</p>
<p>大黃（四兩）　厚朴（二兩，姜炒）　枳實（三枚，麩炒）</p>
<p>水四升，煮一升二合，去渣，分溫二服。初服當更衣，不爾者，盡飲之。若更衣勿服。</p>
<p><u>陶氏黃龍湯</u>　治正虛邪實。</p>
<p>即前小承氣湯，加人參、當歸、生地、薑棗煎服。強實者，可加芒硝。</p>
<p><u>大陷胸丸</u>（仲景）　治傷寒結胸，項強如柔痙狀。</p>
<p>大黃（八兩）　杏仁（去皮尖）　葶藶（炒）　芒硝（各半升）</p>
<p>合研取如彈丸大一枚，別搗甘遂末一錢，白蜜丸，合煮服。</p>
<p><u>濟川煎</u>（景岳）　凡病涉虛損，而大便閉結不通，則硝黃攻擊等劑，必不可用。若勢有不得不通者，宜此主之。此用通於補之劑也。</p>
<p>當歸（三五錢）　牛膝（二錢）　肉蓯蓉（酒洗，二三錢）　澤瀉（錢半）　升麻（五七分或一錢）　枳殼（一錢，虛甚者不可用）</p>
<p>如氣虛，加人參無妨礙。如有火，加黃芩。腎虛，加熟地。</p>
<p><u>清燥救肺湯</u>（喻氏）　治諸氣膹郁，諸痿喘嘔。</p>
<p>二桑葉（三錢）　石膏（二錢半，煅）　甘草（一錢）　人參（七分）　麻仁（炒研，一錢）　阿膠（八分）　麥冬（去心，一錢二分）　杏仁（去皮尖，炒七分）　枇杷葉（一片，刷去毛，蜜炙）</p>
<p>水一碗，煎六分，頻頻滾熱服。痰多加貝母栝蔞，血枯加生地，熱甚增石膏。</p>
<p><u>甘露飲</u>（潔古）　治胸中客熱，牙宣口氣，齒齦腫爛，時出膿血，吐血衄血，目瞼垂重，常欲合閉，或即飢煩，不欲食飲，及目赤腫痛，不任涼藥，口舌生瘡，咽喉腫痛，瘡疹已發，皆可服之。又治脾胃受濕，瘀熱在裡，或醉飽房勞，濕熱相搏，致生疸病，身目皆黃，肢體微腫，胸滿氣短，大便不調，小便黃澀，或時身熱。</p>
<p>生地　熟地　天冬　麥冬　石斛　茵陳　黃芩　枳殼　枇杷葉　甘草</p>
<p>如胃中有火，而又挾肝木之勢者，加丹皮山梔。渴甚者，加知母。火盛者，加石膏黃連。</p>
<p><u>半夏瀉心湯</u>（仲景）　治傷寒下之早，胸滿而不痛者為痞，身寒而嘔，飲食不下，非柴胡症。</p>
<p>半夏（半升）　黃芩（三兩）　黃連（一兩）　甘草（三兩，炙）　人參（三兩）　乾薑（三兩）　大棗（十二枚）</p>
<p><u>白虎湯</u>（仲景）　治傷寒脈浮滑，表有寒，里有熱，及三陽合病，脈浮大，腹滿身重，難以轉側，口不仁而面垢，譫語遺尿，強汗則譫語，下之則頭上生汗，手足逆冷，自汗出者，通治陽明病，脈洪大而長，不惡寒，反惡熱，頭痛自汗口渴，舌燥目痛鼻乾，不得臥，心煩躁亂，日晡潮熱，或陽毒發斑，胃熱諸病。</p>
<p>石膏（一斤）　知母（六兩）　甘草（二兩）　粳米（六合）</p>
<p>先煮石膏數十沸，再投藥米，米熟湯成，溫服。</p>
<p><u>竹葉石膏湯</u>（仲景）　治傷寒解後，虛羸少氣，氣逆欲吐，亦治傷暑發渴脈虛。</p>
<p>竹葉（二把）　石膏（一斤）　人參（三兩）　甘草（二兩，炙）　半夏（半升）　麥冬（一升）　粳米（半升）</p>
<p>加姜煎。</p>
<p><u>滋腎丸</u>（東垣又名通關丸）　治下焦邪熱，口不渴而小便秘，及腎虛蒸熱，腳膝無力，陰痿陰汗，衝脈上衝而喘。</p>
<p>黃柏（二兩，酒炒）　知母（一兩，酒炒）　桂（一錢）</p>
<p>蜜丸。</p>
<p><u>抽薪飲</u>（景岳）　治諸凡火盛而不宜補者。</p>
<p>黃芩　石斛　木通　梔子（炒）　黃柏（各五錢）　枳殼（錢半）　甘草（三分）</p>
<p>煎成，食遠溫服。如熱在經絡肌膚者，加連翹花粉以解之。熱在陽明頭面，或躁煩便熱者，加生石膏以降之。熱在下焦，小水痛澀者，加草龍膽車前以利之。熱在陰分，津液不至者，加麥冬生地白芍之類以滋之。熱在腸胃實結者，加大黃芒硝以通之。</p>
<p><u>徙薪飲</u>（景岳）　治三焦氣火，一切內熱，漸覺而未甚者，先宜清以此劑。其甚者，宜抽薪飲。</p>
<p>黃芩（二錢）　麥冬　白芍　黃柏　茯苓　丹皮（各錢半）　陳皮（八分）</p>
<p>如多鬱氣逆傷肝，脅肋疼痛，或致動血者，加青皮梔子。</p>
<p><u>龍膽瀉肝湯</u>（《局方》）　治肝膽經實火濕熱，脅痛耳聾，膽溢口苦，筋痿陰汗，陰腫陰痛，白濁溲血。</p>
<p>龍膽草（酒炒）　黃芩（炒）　梔子（酒炒）　澤瀉　木通　車前子　當歸（酒洗）　生地（酒炒）　柴胡　生甘草</p>
<p><u>瀉青丸</u>（錢乙）　治肝火鬱熱，不能安臥，多驚多怒，筋痿不起，目赤腫痛。</p>
<p>當歸　川芎　羌活　防風　大黃　龍膽草　梔子</p>
<p>等分蜜丸，彈子大，每服一丸，竹葉湯化下。</p>
<p><u>瀉白散</u>（錢乙）　治肺火皮膚蒸熱，灑淅寒熱，日晡尤甚，喘嗽氣急。</p>
<p>桑白皮　地骨皮（各一錢）　甘草（五分）　粳米（百粒）</p>
<p><u>瀉黃散</u>（錢乙）　治脾胃伏火，口燥唇乾，口瘡口臭，煩渴易飢，熱在肌肉。</p>
<p>升麻　白芷　防風　枳殼　黃芩（各錢半）　石斛（錢二分）　半夏（一錢）　甘草（七分）</p>
<p><u>導赤散</u>（錢乙）　治小腸有火，便赤淋痛，面赤狂躁，口糜舌瘡，咬牙口渴。</p>
<p>生地　木通　甘草梢　淡竹葉</p>
<p><u>玉女煎</u>（景岳）　治水虧火勝，六脈浮洪滑大，少陰不足，陽明有餘，煩熱乾渴，頭痛牙疼失血等症，其效如神。若大便溏泄者，大非所宜。</p>
<p>生石膏（三五錢）　熟地（三五錢或一兩）　麥冬（二錢）　知母（二錢）　牛膝（錢半）</p>
<p>如火之極盛者，再加梔子地骨皮之屬亦可。如多汗多渴者，加五味子十四粒。如小水不利，或火不能降者，加澤瀉錢半，或茯苓亦可。如金水俱虧，因精損氣者，加人參二三錢尤妙。</p>
<p><u>左金丸</u>　治肝膽鬱火，左脅作痛，或胸脅痛不可忍，吞酸吐酸，筋疝痞結，酒濕發黃。亦治噤口痢，湯藥入口即吐。</p>
<p>黃連（六兩，薑汁炒）　吳茱萸（一兩，鹽水泡）</p>
<p>水丸。</p>
<p><u>三黃丸</u>（又名三補丸）　治三焦有火，嗌燥喉干，二便閉結，及濕痰夜熱。</p>
<p>黃連　黃芩　黃柏</p>
<p>粥丸。</p>
<p>亦有去黃柏用大黃者。</p>
<p><u>普濟消毒飲</u>（東垣）　治大頭天行，初覺憎寒體重，次傳頭面腫盛，口不能開，上喘，咽喉不利，口渴舌燥。</p>
<p>黃芩（酒炒）　黃連（酒炒，各五錢）　陳皮（去白）　甘草　元參　柴胡　桔梗（各二錢）　連翹　板藍根　馬勃　鼠黏子　薄荷（各一錢）　殭蠶　升麻（各七分）</p>
<p>為末湯調，時時服之。或蜜拌為丸噙化。一方無薄荷有人參三錢，亦有加大黃治便秘者，或酒浸或煨用。</p>
<p><u>香連丸</u>（《直指》）　治脾胃兩經中濕火傳變，大腸下痢赤白，膿血相雜，裡急後重。</p>
<p>黃連（二十兩，吳茱萸十兩同炒，去茱萸用）　木香（四兩八錢，不見火）</p>
<p>醋和丸，米飲下。一方等分蜜丸。一方加甘草八兩，黃連用蜜水拌，蒸曬九次，入木香為丸。</p>
<p><u>大補元煎</u>（景岳）　治男婦氣血大虧，精神失守，急劇等症。此迴天贊化、救本培元第一要方。</p>
<p>人參（一二錢）　熟地（三四錢或三兩）　山藥（炒）　杜仲（各二錢）　當歸（二三錢）　萸肉（一錢）　枸杞（二三錢）　甘草（一二錢，炙）</p>
<p>如元陽不足多寒者，加附子肉桂炮姜之屬，隨宜用之。如氣分偏虛者，加黃耆白朮。胸口多滯者，不必用。如血澀者，加川芎，去萸肉。如滑泄者，去當歸，加五味故紙。</p>
<p><u>五福飲</u>（景岳）　凡五臟氣血虧損者，此能兼治之。足稱王道之最。</p>
<p>人參　熟地（隨宜）　當歸（二三錢）　白朮（炒，錢半）　甘草（炙，一錢）</p>
<p>加薑棗。凡氣血俱虛等症，以此為主。或宜溫者，加姜附。宜散者，加柴麻升葛，左右逢源，無不可也。宜涼者，亦當隨宜加之。</p>
<p><u>五君子煎</u>（景岳）　治脾胃虛寒，嘔吐泄瀉而兼濕者。</p>
<p>人參（二三錢）　白朮　茯苓（各二錢）　炙草（一錢）　乾薑（炒黃，一二錢）</p>
<p>水一盅半煎服。</p>
<p><u>六味異功煎</u>（景岳）　治症同前而兼微滯者。</p>
<p>即前方加陳皮一錢。此即五味異功散加乾薑也。</p>
<p><u>五物煎</u>（景岳）　治婦人血虛凝滯，蓄積不行，小腹痛急，產難經滯，及痘瘡血虛寒滯等症，神效。</p>
<p>當歸（三五七錢）　熟地（三四錢）　白芍（二錢，酒炒）　川芎（一錢）　肉桂（一二三錢）</p>
<p>兼胃寒及嘔惡者，加乾薑炮用。水道不利，加澤瀉或豬苓。氣滯者，加香附，或丁香木香砂仁烏藥。陰虛疝痛者，加小茴香。血滯不行，臍下若覆杯漸成積塊者，加桃仁紅花。</p>
<p><u>六物煎</u>（景岳）　治氣血俱虛等症。</p>
<p>熟地（或用生地）　當歸　川芎（三四分，不宜多）　白芍（俱隨宜加減）　人參　炙草</p>
<p><u>加減一陰煎</u>（景岳）　治水虧火勝之甚者。</p>
<p>生地（二錢）　熟地（三五錢）　白芍（二錢）　甘草（五七分，炙）　麥冬（二錢）　知母　地骨皮（各一錢）</p>
<p>如躁煩熱甚便結者，加石膏二三錢。如小水熱澀者，加梔子一二錢。如火浮於上者，加澤瀉一二錢，或黃芩一錢，如血燥血少者，加當歸一二錢。</p>
<p><u>二陳湯</u>（《局方》）　治一切痰飲為病，咳嗽脹滿，嘔吐噁心，頭眩心悸。</p>
<p>半夏（薑製，二錢）　陳皮（去白）　茯苓（各一錢）　甘草（五分）</p>
<p>加生薑煎。風痰，加南星白附皂角竹瀝。寒痰，加薑汁。火痰，加石膏青黛。濕痰，加二術。燥痰，加蔞杏。食痰，加楂麥神麯。老痰，加枳實海石芒硝。氣痰，加香附枳殼。脅痰及在皮裡膜外，加白芥子。四肢痰，加竹瀝。</p>
<p><u>六安煎</u>（景岳）　治風寒咳嗽，痰滯氣逆。</p>
<p>陳皮（錢半）　半夏（二三錢）　茯苓（二錢）　甘草（一錢）　杏仁（一錢）　白芥子（五七分，年老氣弱者不用）</p>
<p>加生薑三五七片。凡外感風邪咳嗽，而寒氣盛者，多不易散，宜加細辛七分。若冬月寒邪盛者，加麻黃桂枝亦可。若風勝而邪不甚者，加防風一錢，或蘇葉亦可。若頭痛鼻塞者，加川芎白芷蔓荊子皆可。若兼寒熱，加柴胡蘇葉。若風邪咳嗽不止，而兼肺胃之火者，加黃芩一二錢，甚者再加知母石膏，所用生薑止宜一片。凡寒邪咳嗽痰不利者，加當歸二三錢，老年者尤宜。凡時行初感痰勝而氣不順者，加藿香一錢，兼脹滿者，加厚朴一錢，暫開痰氣，然後察其寒熱虛實而調補之。若氣虛猝倒，氣平無痰者，皆不可用此。</p>
<p><u>金水六君煎</u>（景岳）　治肺腎虛寒，水泛為痰，或年邁陰虛，血氣不足，外受風寒，咳嗽、嘔惡、多痰、喘急等症，神效妙劑。</p>
<p>當歸（二三錢）　熟地（三五錢）　陳皮（錢半）　半夏（二錢）　茯苓（二錢）　炙草（一錢）</p>
<p>加生薑三五七片。如大便不實而多濕者，去當歸加山藥。如痰盛氣滯胸膈不快者，加白芥子七分。如陰寒盛而嗽不愈者，加細辛五七分。如兼表邪寒熱者，加柴胡一二錢。</p>
<p><u>滾痰丸</u>（王隱君）　治實熱老痰怪症百病。</p>
<p>青礞石（一兩）　沉香（五錢）　大黃（酒蒸）　黃芩（各半斤）</p>
<p>將礞石打碎，同焰硝一兩，同入瓦罐鹽泥固濟，曬乾火煅，石色如金為度，研末，和諸藥水丸，量人虛實服之，薑湯送下。服後仰臥，令藥在胸膈之間，除逐上焦痰滯，不宜飲水行動。</p>
<p><u>牛黃丸</u>　治中風痰火閉結，或瘛瘲癱瘓，語言蹇澀，恍惚眩運，精神昏憒，不省人事，或喘嗽痰壅煩心等症。</p>
<p>牛黃　麝香　龍腦（三味另研）　羚羊角　當歸　防風　黃芩　柴胡　白朮　麥冬（去心）白芍（各七錢半）　桔梗　茯苓　杏仁（去皮尖）　川芎　大豆黃卷　阿膠（各八錢半）　蒲黃　人參　神麯（各一兩二錢半）　雄黃（四錢，另研）　甘草（二兩半）　白蘞　肉桂（去皮）　乾薑（各三錢七分）　犀角（一錢鎊）　山藥（三兩半）　大棗（五十枚，皮去核）　金箔（六百五十片，內存二百片為衣）</p>
<p>為細末，煉蜜同棗膏丸，每兩作十丸，金箔為衣，每服一丸，溫水化下。</p>
<p><u>三生飲</u>　治寒氣中臟，六脈沉細，痰壅喉響，不省人事，乃寒痰厥逆之症。</p>
<p>生烏頭　生南星　生附子（各錢半）　生薑（五片）　生木香（五分）</p>
<p>水煎服。薛立齋曰：每服必用人參駕馭而行，方為有益。</p>
<p><u>大秦艽湯</u>　治風中經絡，口眼歪斜，半身不遂，或語言蹇澀，乃血弱不能養筋，宜用養血疏風之劑。經曰：治風先治血，血行風自滅是也。</p>
<p>秦艽（錢半）　生地　熟地　白芍　當歸　川芎　羌活　獨活　防風　白朮　甘草　黃芩（酒炒）　白芷（各八分）　細辛（三分）</p>
<p>水煎服。如或煩躁口渴，加石膏錢半。陰雨加生薑三片，春夏加知母八分。</p>
<p><u>橘紅半夏湯</u>　治痰氣上逆。</p>
<p>橘紅　半夏（各一兩）</p>
<p>濃煎，加生薑汁服。</p>
<p><u>橘皮竹茹湯</u>（《金匱》）　噦逆者，此湯主之。</p>
<p>橘皮（二升）　竹茹（二升）　大棗（三十枚）　生薑（半斤）　甘草（五兩）　人參（一兩）</p>
<p>上六味，以水一斗，煮取三升，溫服一升，日三服。後人加半夏麥冬赤茯苓枇杷葉，亦以此名。</p>
<p><u>半夏生薑加大黃湯</u>（金匱）　病人胸中似喘不喘，似嘔不嘔，似噦不噦，心中憒憒然無奈者，此湯主之。</p>
<p>半夏（半升）　生薑汁（一斤）　大黃（量加）</p>
<p>水七升，煮半夏取二升，內薑汁煮取一升，分四服，日三夜一服，止停後服。</p>
<p><u>黃連阿膠湯</u>（仲景）　少陰病，得之二三日以上，心中煩不得臥，此湯主之。</p>
<p>黃連（四兩）　黃芩（一兩）　芍藥（二兩）　阿膠（三兩）　雞子黃（二枚）</p>
<p>上五味，以水六升，煮三物去渣，內膠烊盡，小冷，內雞子黃擾令相得，溫服七合，日三服。</p>
<p><u>萎蕤湯</u>（《活人書》）　治風溫兼療冬溫，及春月中風，傷寒發熱，頭眩喉痛，咽乾舌強，胸內疼痞滿，腰背強。</p>
<p>萎蕤（三錢）　石膏（一兩，杵碎）　白薇　麻黃（湯泡焙）　葛根（一兩）　羌活　川芎　甘草　杏仁（去皮尖，各半兩）　青木香（一分，冬一兩，春半兩，炒）</p>
<p>上銼劑如麻豆大，每服五錢，水一盞半，煎一盞，日三服。</p>
<p><u>脾腎雙補丸</u>（仲淳）</p>
<p>人參　蓮肉（炒）　山萸（烘）　山藥（各一斤，炒）　五味子（蜜蒸）　菟絲子（各半斤）　橘紅　砂仁（各六兩，炒）　車前子（米泔浸）　巴戟肉（各十二兩，甘草汁煮）　肉豆蔻（十兩）　補骨脂（一斤，鹽水浸炒）</p>
<p>上為末，煉蜜丸。如虛而有火，或火盛肺熱者，去人參肉豆蔻巴戟肉補骨脂。</p>
<p><u>當歸抑氣散</u>（嚴氏）　治婦人氣盛於血，變生諸症，頭暈膈滿。</p>
<p>當歸（三兩）　香附（四兩）　陳皮（二兩）　茯神（一兩）　甘草（一兩，炙）</p>
<p>每服二錢。</p>
<p><u>達原飲</u>（吳氏）</p>
<p>檳榔（二錢）　厚朴（一錢）　草果（五分）　知母（一錢）　芍藥（一錢）　黃芩（一錢）　甘草（五分）</p>
<p>水二盅，煎八分，午後溫服。</p>
<p><u>三消飲</u>（吳氏）　邪漸入胃，此方乃表裡分消法也。</p>
<p>即前達原飲加羌活葛根柴胡大黃薑棗煎服。</p>
<p><u>涼膈散</u>（《局方》）　治心火上盛，膈熱有餘，目赤頭眩，口瘡唇裂，吐衄涎嗽稠黏，二便淋閉，胃熱發斑，瘡疹黑陷，諸風痓瘲，手足掣搦，筋攣疼痛。</p>
<p>連翹　梔子　薄荷　黃芩　甘草　芒硝　大黃</p>
<p>加棗二枚，蔥一根水煎。</p>
<p><u>清心涼膈散</u>　治症同上。</p>
<p>即前涼膈散加黃連竹葉。煎成去渣，入蜜少許溫服。如頭痛加防風川芎石膏。</p>
<p><u>田氏五子飲</u>　治精氣不固，夢遺滑脫。</p>
<p>枸杞子　菟絲子　五味子　車前子　覆盆子</p>
<p>水煎服。</p>
<p><u>滋燥養榮湯</u>　治爪枯膚燥兼風秘，火爍金傷血液亡。</p>
<p>生地　熟地　黃芩　甘草　當歸　白芍　秦艽　防風</p>
<p><u>三化湯</u>（潔古）　治中風外有六經之形症，內有便溺之阻。</p>
<p>即小承氣湯加羌活。</p>
<p><u>犀角地黃湯</u>（《局方》）　治勞動心火，熱入血室，吐血衄血，發黃發狂，及小兒瘡痘血熱等症。</p>
<p>犀角尖　生地　白芍　丹皮</p>
<p>水煎服，或地漿水煎。</p>
<p><u>治氣六合湯</u>（海藏）　治氣鬱經阻。</p>
<p>四物湯加厚朴陳皮。</p>
<p>水煎服。</p>
<p><u>戊己丸</u>（《局方》）治脾經受濕，瀉痢不止，水穀不化，臍腹刺痛。</p>
<p>黃連　吳茱萸　白芍（各五兩）</p>
<p>一方黃連四兩，吳茱萸二兩，白芍三兩。</p>
<p>上為細末，麵糊丸，桐子大，每服七十丸，空心食前米飲下。</p>
<p><u>導赤各半湯</u>（節庵）　治勞動心神，伏邪抑發。</p>
<p>人參　麥冬　茯神　甘草　犀角尖　黃連　知母　黃芩　梔子　滑石</p>
<p>水煎服。</p>
<p><u>吳萸四逆湯</u>　治厥陰中寒，小腹痛甚。</p>
<p>附子　乾薑　甘草　吳茱萸</p>
<p>加生薑水煎服。</p>
<p><u>三妙散</u>　治濕熱上行。</p>
<p>即二妙散，加牛膝。</p>
<p>為末服。</p>
<p><u>補肝散</u>（《簡易》）　治肝虛目睛疼，冷淚不止，筋脈痛，及羞明怕日。</p>
<p>夏枯草（五錢）　香附（一兩）</p>
<p>為末，每服一錢，臘茶調下，服無時。</p>
<p><u>當歸養榮湯</u>（《原機》）　治睛珠痛甚不可忍。</p>
<p>熟地　白芍　歸身　川芎（各一錢）　羌活　防風　白芷（各七分半）</p>
<p>上方以七情五賊勞役飢飽重傷脾胃。脾胃者，多血多氣之所。脾胃受傷，則血亦病，血養睛，睛珠屬腎，今生意已不升發，又復血虛不能養睛，故睛痛甚不可忍，以防風升發生意，白芷解利引入胃經為君，白芍止痛益血通血，承接上下為臣，熟地補腎水真陰為佐，當歸川芎行血補血，羌活除風引入少陰為使。血為邪勝睛珠痛者，及亡血過多之病，俱宜服也。服此藥後，睛痛雖除，眼睫無力，常欲垂閉不減者，助陽活血湯主之。</p>
<p><u>助陽活血湯</u>（原機）　治眼睫無力，常欲垂閉。</p>
<p>黃耆　甘草　當歸　防風（各五分）　白芷　蔓荊子（各四分）　升麻　柴胡（各七分）</p>
<p>上方以黃耆治虛勞，甘草補元氣為君，當歸和血補血為臣，白芷蔓荊子防風，主療風升陽氣為佐，升麻導入足陽明足太陰脾胃，柴胡引至足厥陰肝經為使，心火乘金，水衰反制者，亦宜服也。</p>
<p><u>當歸補血湯</u>（原機）　治男子衄血便血，婦人產後崩漏，亡血過多，致睛珠疼痛，不能視物，羞明酸澀，眼睫無力，眉骨太陽俱各痠痛。</p>
<p>生地（四分）　熟地　當歸（各六分）　白芍　川芎　牛膝　白朮　甘草　防風（各五分）　天門冬（四分）</p>
<p>上方專補血，故以當歸熟地為君，川芎白芍牛膝為臣，以其祛風續絕，定痛而通補血也，甘草白朮，大和胃氣，用以為佐，防風升發，生地補腎，天門冬治血熱，謂亡血生風燥，故以為使。</p>
<p><u>五退散</u>　治眼中翳障。</p>
<p>蛇蛻　蟬蛻　蠶蛻　豬蹄爪　穿山甲　防風　菊花　草決明　石決明　甘草</p>
<p>上為細末，每服二錢，食後薄荷湯下。</p>
<p><u>千金磁朱丸</u>（原機）　治神水寬大漸散，昏如霧露中行，漸睹空中有黑花，漸睹物成二體，久則光不收，及內障神水淡綠色、淡白色者。</p>
<p>磁石（吸針者）　辰砂　神麯</p>
<p>先以磁石置巨火中煅，醋淬七次，曬乾，另研極細二兩，辰砂另研極細一兩，生神麯末三兩，與前藥和勻，以神麯末一兩，水和作餅，煮浮為度，搜入前藥，煉蜜為丸，如梧子大，每服十丸，加至三十丸，空心飯湯下。上方以磁石辛鹹寒，鎮墜腎經為君，令神水不外移也。辰砂微甘寒，鎮墜心經為臣，肝其母，此子能令母實也，肝實則目明。神麯辛溫甘，化脾胃中宿食為佐，生用者，發其生氣，熟用者，斂其暴氣也。服藥後，俯視不見，仰視漸睹星月者，此其效也。亦治心火乘金，水衰反制之病，久病累發者服之，則永不更作，空心服此，午前更以石斛夜光丸主之。</p>
<p>王肯堂按此方磁石法水入腎，辰砂法火入心，而神麯專入脾胃，乃道家黃婆媒合嬰奼之理，倪生釋之為費詞矣，或加沉香半兩，升降水火之義。</p>
<p><u>石斛夜光丸</u>　治症同上。</p>
<p>人參　天冬（焙）　茯苓（各二兩）　麥冬　生地　熟地（各一兩）　菟絲子　甘菊　草決明杏仁　山藥　枸杞子　牛膝（酒浸，各七錢半）　五味子　蒺藜　石斛　蓯蓉　川芎　甘草（炙）枳殼（麩炒）　青葙子　防風　黃連　犀角　羚羊角（鎊，各五錢）</p>
<p>為細末，煉蜜丸如桐子大，每服三五十丸，溫酒鹽湯送下，又名固本還睛丸。</p>
<p>上方羨補藥也。補上治下利以緩，利以久不利以速也，故君以天冬人參菟絲之通腎安神，強陰填精也。臣以麥冬五味杏仁茯苓枸杞牛膝二地之斂氣除濕，涼血補血也。佐以甘菊蒺藜石斛蓯蓉川芎甘草枳殼山藥青葙之治風療虛，益氣祛毒也。使以防風黃連草決羚羊犀角之散滯泄熱，解結明目也。陰弱不能配陽之病，並宜服之，此從則順之治法也。</p>
<p><u>濟陰地黃丸</u>　治足三陰虧損，虛火上炎，致目瞳散大，視物不的，或昏花澀緊，作痛羞明，或卒見非常等症。</p>
<p>熟地　萸肉　山藥　麥冬　五味子　當歸　枸杞子　菊花　巴戟肉　肉蓯蓉</p>
<p>上為末，煉蜜丸桐子大，每服七八十丸，空心白湯下。</p>
<p><u>加減駐景丸</u>　治肝腎氣虛，視物𥉂𥉂，血少氣多。</p>
<p>熟地　當歸（各五兩）　枸杞子　五味子　車前子（各二兩，略炒）　楮實子（無翳不用）　菟絲子（酒煮焙，半斤）　川椒</p>
<p>上為細末，蜜水煮和丸，如桐子大，每服三十丸，空心溫酒送下，鹽湯亦可。</p>
<p><u>三仁五子丸</u>　治肝腎不足，體弱眼昏，內障生花，不計遠近，即前駐景丸加柏仁棗仁米仁蓯蓉茯苓沉香，等分為末，蜜丸桐子大，每服五十丸，空心鹽湯下。</p>
<p><u>四物五子丸</u>　治腎虧血虧。</p>
<p>即前駐景丸合四物。</p>
<p><u>六味五子丸</u>　治左尺無力，或脈數有熱，真陰虛者。</p>
<p>即前駐景丸去歸地合六味。</p>
<p><u>地芝丸</u>　治目能遠視不能近視。</p>
<p>生地（焙）　天冬（各四兩）　枳殼（炒）　菊花（各二兩）</p>
<p>上為細末，煉蜜丸桐子大，每服一百丸，茶清送下。</p>
<p><u>定志丸</u>　治目能近視不能遠視。</p>
<p>遠志（去苗心）　菖蒲（各二兩）　人參　茯苓（各一兩）</p>
<p>為細末蜜丸，硃砂為衣，每服十丸，加至二十丸，食後米飲下。</p>
<p><u>除風益損湯</u>（《原機》）　治目為物傷。</p>
<p>四物湯（各一錢）　防風　前胡　藁本（各七分）</p>
<p>水煎服。</p>
<p>上方以熟地補腎水為君，黑睛為腎之子，此虛則補其母也，以當歸補血，目為血所養，今傷則血病，白芍補血又補氣，為血病氣亦病也，為臣，川芎治血虛頭痛，藁本通血去頭風為佐，前胡防風，通療風邪，俾不凝留為使，兼治亡血過多之病。</p>
<p><u>加味四物湯</u>　治打傷眼目。</p>
<p>即四物湯加防風荊芥等分。</p>
<p>為散，每服三錢，水一盞半，煎至一盞，再入生地汁少許，去渣溫服，再以生地一兩，杏仁二十粒，去皮尖研爛，用綿紙裹藥敷在眼上令乾。</p>
<p><u>人參補陽湯</u>（原機）　治傷寒餘邪不散，上走空竅，其病隱澀赤腫，生翳羞明，頭腦骨痛。</p>
<p>羌活　獨活（各六分）　白芍　生地　澤瀉（各三分）　人參　白朮　茯苓　黃耆　甘草　當歸　熟地（酒洗，焙，各四分）　柴胡　防風（各五分）</p>
<p>水煎服。</p>
<p>上方分利陰陽，升降上下之藥也。羌活獨活為君，導陽之升也。茯苓澤瀉為臣，導陰之降也。參朮大補脾胃，內盛則邪自不容，耆防大實皮毛，外密則邪自不入，為之佐也。當歸熟地，俱生血，謂目得血而能視也。生地補腎水，謂神水屬腎，白芍理氣，柴胡行經，甘草和百藥，為之使也。</p>
<p><u>神效黃耆湯</u>（東垣）　治目緊縮小，羞明畏日，視物不明。</p>
<p>黃耆（二錢）　人參（八分）　蔓荊子　甘草（炙）　陳皮（各一錢）　白芍</p>
<p>水煎，臨臥熱服。</p>
<p><u>五味瀉白散</u>　治風熱翳膜血筋，一切肺熱外障。</p>
<p>當歸　生地　白芍　梔子　黃芩</p>
<p>各等分為末，每服三五錢，為散為湯任服。</p>
<p><u>清寧丸</u>　治一切熱病。</p>
<p>大黃（十斤，須錦紋者，切作小塊如棋子大）</p>
<p>用好酒十斤，先將泔水浸大黃，浸透，以側柏葉鋪甑，入大黃蒸過曬乾，以酒浸之，再蒸曬收干，另用</p>
<p>桑葉　桃葉　槐葉　大麥　黑豆　綠豆（各一斤）</p>
<p>每味煎汁蒸收，每蒸一次，仍用側柏葉鋪甑蒸過曬乾，再蒸再曬，制後再用。</p>
<p>半夏　厚朴　陳皮　白朮　香附　車前（各一斤）</p>
<p>每味煎汁蒸收如上法，蒸過曬乾，再用好酒十斤制透，煉為梧子大丸，每服一二錢，或為散亦可。</p>
<p><u>珠參散</u>（新方）　治真陰不足，陰涸內熱，內障青盲。</p>
<p>真珠　人參</p>
<p>等分為末，人參湯送，或蓮肉湯亦可。</p>
<p><u>行血散</u>（新方）　治血為邪乘，凝住經絡，或因過服寒涼，遏抑陽氣，阻塞不通，致目生翳膜，視物少形，及婦人經水不至，睛赤珠疼，起星起障，胬肉羞明等症。</p>
<p>紅花　蘇木</p>
<p>或合四物六物，或合逍遙八珍，隨時酌用。</p>
<p><u>清暑湯</u>（新方）　治夏月貪涼飲冷，遏抑陽氣，以致頭痛惡寒，相火上炎，兩目紅腫，眵淚如膿，甚者色帶黃滯，睛珠翳障，及深秋伏暑內發，赤澀羞明。</p>
<p>藿香　青蒿　滑石</p>
<p>以三味作湯，暑必傷氣，藿香辛溫通氣，暑必兼熱，青蒿苦寒清熱，暑必挾濕，滑石甘淡除濕，或合四君，或合六味，或合生脈異功逍遙散，均可隨症酌用。</p>
<p><u>清火湯</u>（新方）　治天行熱毒，人有受之即發，頭疼目赤，癢痛異常，或淚如血水，舌紅口渴，小便短赤。</p>
<p>連翹　山梔　歸尾　赤芍　石斛</p>
<p>水煎服。連翹除其上熱，山梔導其下熱，歸芍破其血，為血實宜破之也。石斛清其中，為中熱宜清之也。合導赤散同用，以治兩皆紅腫之症，應手取效。</p>
<p><u>柏香丸</u>（新方）　專治胬肉板睛，或眼生血疣，神效異常。數服之後，胬肉即退。若血疣則不摘而自落，屢試屢驗，用者珍之。</p>
<p>側柏葉（同在黃拌蒸數次）　香附（制）</p>
<p>水法丸，每服二錢。</p>
<p><u>和肝散</u>（新方）　治肝氣不和，目赤腫痛，或因含怒未發，郁傷肝陰，以致肝陽上僭，兩目昏花，羞明翳霧，眵淚俱多，甚則瞳神散大，視物無形。</p>
<p>香附（一斤，分作四分，一分以酒浸，一分以鹽水浸，一分以蜜浸，一分以乳浸，每浸三日夜後，曬乾，各為細末）</p>
<p>每服二錢，隨所用湯劑均可加用，或單服亦可，白滾湯調下。</p>
<p><u>明目散</u>（新方）　治五志之火上攻於目，生翳起障，赤腫疼痛，眵淚羞明，視物昏花，此方神效。</p>
<p>當歸　草決明　冬朮　蟬蛻　川芎　大黃　紅花　桑白皮　山梔　薄荷　白蒺藜　蒼朮木通　連翹　石膏　池菊　荊芥　赤芍　枳殼　生地　黃芩　羌活　獨活（各一兩）</p>
<p>上為末，每服二錢，隨所用湯劑加入亦可，單服酒調，或蜜湯調下俱可。</p>
<p><u>明目丸</u>（新方）　治火之甚者。</p>
<p>即前明目散加黃連五錢為丸。</p>
<p><u>撥雲丸</u>　治一切翳膜外障。</p>
<p>當歸（一兩二錢）　川芎　地骨皮　白蒺藜　密蒙花　池菊　羌活　荊芥（各一兩）　紅花（五錢）　木賊（一兩）　蔓荊子　薄荷　枳殼　甘草（各五錢）　蟬蛻　蛇蛻　川連（各二錢）　川椒（七錢半）</p>
<p>上藥各為細末，煉蜜丸桐子大，每服二錢。</p>
<p><u>復睛丸</u>　治一切目疾。</p>
<p>當歸　蟬蛻　檳榔　夏枯草　胡黃連　黃耆　白蒺藜（各一兩）　羌活　獨活　防風　細辛　枳殼　白芍　赤芍　川芎　柴胡　青皮　陳皮　甘草（各四錢）　茯苓（三錢）　白芷（二錢）　木賊（七錢）　蛇蛻　藁本（各二錢）</p>
<p>上為細末，煉蜜為丸，桐子大，每服二錢。</p>
<p><u>八制保瞳丸</u>　治肝腎兩虧，瞳神失守，視物不明。</p>
<p>枸杞（一斤，分作八分，先用酒潤透，一用蜜拌，一用乳拌，一用青鹽拌，一用黑芝麻拌，一用川椒拌，一用小茴拌，一用獨活拌，一用菖蒲拌，俱用三錢，各炒，須不變紅色為佳，若變黑色，便不效矣）</p>
<p>各磨細末，稍加煉蜜為丸，桐子大，每服二錢。</p>
<p><u>㗜鼻碧雲散</u>　治腫脹紅赤，昏暗羞明，隱澀疼痛，風癢鼻塞，頭腦痠痛，外翳扳睛，眵淚稠黏。</p>
<p>鵝不食草（二錢）　青黛　川芎（各一錢）</p>
<p>為細末，先噙水滿口，每服如米許㗜入鼻內，以淚出為度，無時。此乃開鍋蓋法，欲使邪毒不閉，令有出路也。</p>
<p><u>觀音灸</u>　治六淫所侵，頭腦痛不可忍。</p>
<p>麝香　西丁</p>
<p>等分烊化，嵌銅錢孔內，逢痛處灸之。</p>

<h2>點藥諸方</h2>
<p><u>珍珠散</u>　古歌曰：不用刀針割，全憑此藥方。</p>
<p>珍珠　瑪瑙　琥珀　珊瑚（各錢半，以上四味俱用豆腐煮過，研）　月石　熊膽（各五分，筍殼盛，烘脆為末）　冰片（四分）　麝香（二分半）　血竭（七分半）　硃砂（細研水飛，七分半）黃連（五分）　乳香（箬上炙乾，五分）　沒藥（箬上炙乾，五分）　爐甘石（制，一兩半）</p>
<p>各為細末篩過，再照分數稱定，合為一處，研萬匝，復以綿紙篩下，瓷罐收貯聽用，其效如神。</p>
<p><u>撥雲退翳丹</u>　點一切星障胬肉頑翳老膜，諸般實症，立開瞽目。神效。</p>
<p>水銀（一兩二錢）　青鉛（二兩）　硼砂（一兩六錢）　火硝（一兩二錢）　明礬（一兩二錢）　皂礬（一兩）　防風　草決明　木賊　威靈仙　龍膽草　荊芥（各二錢半）　歸尾（五錢）</p>
<p>前六味中先將水銀溶化，入鉛攪勻，傾出，研細，然後每味各研和勻，次將後七味，水五盞，煎至三盞，去渣再煎至將干，下前六味末結胎，鹽泥固濟，以三炷香為度，先文後武，取掇至地上出火氣，於上刮取，其色要淡黃色為佳，每升藥五分，配上好煅過爐甘石一錢，冰片硃砂雄黃珍珠各二分，白丁香飛過，硇砂各一分，元明粉五釐，共研極細，瓷瓶收貯待用。</p>
<p><u>秘製眼藥方</u>　治一切目疾。</p>
<p>爐甘石不拘多少，用童便浸透，煎滾，去童便以清水漂出臭氣，裝在泥罐內，上用銀罐蓋好，桑柴火燒至硫黃色為度。取出擂細，用清水飛盡砂，曬乾，每淨甘石一斤，配蔥一斤，姜二兩，敲汁，收在甘石內拌勻，再裝入罐內，仍燒至硫黃色，取出，名五烹法，點一切天行赤眼，入後藥再製，名虎液法。</p>
<p>荊芥　赤芍　薄荷　蘇木　紫蘇　藁本　防風　牛蒡子　羌活　茺蔚子　連翹　蘄艾　蒼耳子　槐角</p>
<p>每甘石一斤，配每藥一兩，煎湯，將甘石拌勻，燒至硫黃色，取出，點一切翳膜，入後藥再製，名龍砂法。</p>
<p>青葙子　蕤仁　車前子　密蒙花　白芍　枸杞子　天麻　山梔　白芷　蔓荊子　連翹　蟬衣穀精草　乾葛　桑白皮　當歸　檳榔　夏枯草　黃柏　旋覆花　草決明　白豆蔻　黃芩　天花粉　荊芥　柴胡　龍膽草　薄荷　升麻　池菊　元參　生地　石決明　防風　木賊草　白蒺藜　白朮　細辛　香附　黃連</p>
<p>每甘石一斤，配藥每一兩煎湯，將甘石拌勻，燒至硫黃色，取出，點一切星障，入後藥再製，名鳳屑法。</p>
<p>千里光　鵝不食草　經霜桑葉</p>
<p>三味煎湯，用原蠶砂桑柴灰，攤在綿紙上，以湯淋水，拌在甘石內，燒至硫黃色為度，取出，放露天出火氣候用，點一切年深老障凝翳。諸藥分兩，悉以甘石一斤為準，若甘石多少，藥料亦須增減。</p>
<p><u>制三黃法</u></p>
<p>每制甘石一兩，配黃芩黃柏各二錢，黃連五錢，煎濃湯拌在甘石內，曬乾，名三黃散。</p>
<p><u>配眼藥法</u></p>
<p>三黃散（四分）　珍珠粉（一分）　制甘石（二錢半）　月石（一分）</p>
<p>共擂極細，加冰片八釐研勻，瓷瓶收貯聽用。</p>
<p>眼癬方</p>
<p><u>鳳凰油</u>　治一切火毒。</p>
<p>雞子黃不拘多少，陳菜油熬枯，去雞黃，收貯聽用。</p>
<p><u>水眼藥</u>　治沿爛。</p>
<p>硼砂　枯礬</p>
<p>等分研細，白蜂蜜為君，拌勻燉透，不時搽抹。</p>
<p><u>紅淨藥</u>　治燥熱眼癬。</p>
<p>紅棗　綠礬　杏仁　膽礬（少減）　白果肉</p>
<p>紅棗去核，將綠礬嵌滿，濕粗紙包裹，火內燒紅透為度，勿令焦枯，取出，以杏仁等共打和研勻，陰乾，臨用時須加黃柏白芷菊葉，泡水同燉，取水洗淨。</p>
<p><u>清淨藥</u>　治風熱眼癬。</p>
<p>青蔥（為君）　杏仁（為臣）　銅青（為佐）　膽礬（為使）</p>
<p>先將青蔥取汁，杏仁研霜，熬，入銅青膽礬，收干，臨用時滾水開之洗淨。</p>
<p><u>黑癬藥</u>　治濕毒眼癬，滿面膿窠。</p>
<p>青蔥　杏仁　松香</p>
<p>松香杏仁等分研，大管青蔥，將二味裝滿，入陳菜油內浸透燒研細，臨用麻油調，或鳳凰油調。</p>
<p><u>滾眼皮法</u>　治心脾火浮，招風沿爛。</p>
<p>胡桃肉（去衣）　棗子肉（去皮）　杏仁（去衣）　膽礬　冰片（少許）</p>
<p>共研細勻為丸，隨時滾眼皮。</p>

<h1>卷四</h1>

<h2>治驗存參</h2>
<p><u>高</u>（幼）　先天不足，肺腎陰虧，肝陽獨盛，或時氣上厥逆，右目珠大神呆，銳眥微赤，宜補肺腎，攝納肝陽。</p>
<p>熟地　山藥　茯苓　萸肉　丹皮　澤瀉　黨參　麥冬　牛膝　丹參　鉤藤　石決明　砂仁</p>
<p><u>又</u>　照前方去澤瀉，加沙苑蒺藜。</p>
<p><u>又</u>（丸方）　六味丸合生脈散，加丹參石決明牛膝枸杞菟絲。</p>
<p><u>陸</u>（幼）　風鬱化火，刑于脾肺，兩目雲翳，迎風流淚，復生眼癬。</p>
<p>玉竹　苡仁　茯苓　甘草　陳皮　豨薟草　防風　當歸　杏仁　冬桑葉　荷葉蒂</p>
<p><u>又</u>　異功合逍遙散，加防風桑葉。</p>
<p><u>陳</u>（左）　火鬱心脾，右目胬肉扳睛，兩目翳膜羞明。</p>
<p>桑白皮　地骨皮　米仁　甘草梢　生地　木通　歸尾　赤芍　連翹　黑山梔　竹葉　荷葉蒂</p>
<p><u>又</u>　黑逍遙散合杞菊，加蟬衣。</p>
<p><u>吳</u>（左）　風寒之邪鬱於太陽少陽，以致右目紅白翳障。</p>
<p>玉竹　生臺術　雲苓　柴胡　陳皮　甘草　當歸　赤芍　防風　桂枝　杏仁</p>
<p><u>吳</u>（左）　邪郁少陽，兩目雲翳，右目星障。</p>
<p>當歸　焦白朮　赤芍　茯苓　甘草　柴胡　薄荷　蟬衣　白蒺藜　荷葉　燈心</p>
<p><u>汪</u>（左）　因虛寒鬱，右目已廢，右目雲翳赤障。</p>
<p>黨參　於朮　茯苓　甘草　廣皮　炮姜　制香附　當歸　枸杞子　蟬衣　白豆蔻</p>
<p><u>陳</u>（右）　風邪化火，刑剋肝脾，兩目沿眶赤爛，怕日羞明。</p>
<p>羌活　防風　玉竹　焦於朮　茯苓　甘草　陳皮　當歸　黃柏　桑葉　燈心</p>
<p><u>江</u>（右）　肝腎陰虛，兼有鬱熱，兩目瑪瑙翳障。</p>
<p>歸身　柴胡　生地　山藥　丹皮　茯苓　澤瀉　菟絲子　石決明　蟬衣</p>
<p><u>胡</u>（左）　風寒化火，刑剋肝脾，以致太陽頭痛，兩目痛傷，星陷，胬肉紅腫。</p>
<p>當歸　生臺術　赤芍　茯苓　甘草　柴胡　桑白皮　杏仁　桂枝　防風　蔥頭</p>
<p><u>又</u>　四物湯合逍遙散，加杏仁桑白皮防風。</p>
<p><u>又</u>　生六物合杞菊，加黑山梔白芷。</p>
<p><u>俞</u>（左）　寒邪化火，刑剋肝肺，右目胬肉赤障，雲翳起星。</p>
<p>玉竹　白朮　白芍　茯苓　甘草　陳皮　炮姜　歸身　杏仁　白豆蔻</p>
<p><u>又</u>　行血，熟六物加香附枸杞蟬衣。</p>
<p><u>又</u>　生六味去萸肉，加玉竹麥冬香附枸杞歸身龍衣。</p>
<p><u>又</u>　熟六物加決明子菟絲子枸杞子。</p>
<p><u>楊</u>（左）　陰虛兼挾寒邪，刑剋肝陰，兩目水晶翳障，左目起星。</p>
<p>熟地　歸身　臺術　白芍　柴胡　茯苓　甘草　炮姜　枸杞子　蟬衣</p>
<p><u>張</u>（右）　火邪刑于心肺，兩目胬肉雙鬥。</p>
<p>蘇木　紅花　當歸　川芎　生地　赤芍　桑白皮　地骨皮　米仁　甘草　黑山梔　丹參</p>
<p><u>王</u>（左）　陰虛火旺，兩目雲翳。</p>
<p>旱蓮草　女貞子　生地　丹皮　茯苓　澤瀉　知母　黃柏　丹參　石斛</p>
<p><u>吳</u>（左）　肝藏血，脾統血，血虛則熱自生風，血少則不能榮筋，以致右目眼皮緊急，拳毛倒睫，又兼氣虛，易致外邪，不時赤澀。</p>
<p>玉竹　於朮　雲苓　甘草　廣皮　枸杞子　池菊　當歸　萆薢　鉤藤</p>
<p><u>沈</u>（左）　邪克肝陰，左目白翳垂下，右目線障羞明。</p>
<p>熟地　歸身　川芎炭　白芍　玉竹　甘草　蘇木　紅花　香附　蟬衣　枸杞子</p>
<p><u>又</u>　照前方去蘇木紅花，加麥冬。</p>
<p><u>戎</u>（左）　精血兩虧，又為寒鬱，左目不痛而赤，翳障遮瞳，視物不明。</p>
<p>熟地　歸身　川芎炭　白芍　枸杞子　甘菊　制香附　白蒺藜</p>
<p><u>又</u>　歸柴熟六味去萸肉山藥，合枸杞，加石決明白蒺藜。</p>
<p><u>又</u>　熟六物加香附枸杞子蟬衣麥冬。</p>
<p><u>張</u>（左）　濕熱化火，刑于肝腺肺三經，致生黃疸，兩目雞盲，兼有星障，後防失明。</p>
<p>黨參　米仁　茯苓　甘草　新會白　歸身　石決明　旱蓮草　女貞子</p>
<p><u>又</u>　清火導赤散合二至，加茵陳車前子。</p>
<p><u>又</u>　二陳湯加山梔滑石茵陳萆薢車前子澤瀉女貞子野馬料豆乾姜。</p>
<p><u>陳</u>（左）　燥火刑金剋木，熱傳三焦，左目胬肉，兩目云膜昏花。</p>
<p>生地　木通　甘草　竹葉　冬桑葉　黑芝麻　黑山梔　甘菊　杏仁　枸杞葉</p>
<p><u>陳</u>（左）　風寒之邪，鬱於太陽少陽，以致左目垂簾白障，下起三星，眼梢傷痕。</p>
<p>當歸　柴胡　桂枝　白芍　甘草（炙）　蒼朮　防風　山梔　杏仁　荷葉</p>
<p><u>張</u>（左）　酒濕化火，刑于脾肺，以致兩目翳膜羞明。</p>
<p>黨參　茯苓　甘草　米仁　新會白　杏仁　萆薢　歸身　益智仁　雞距子</p>
<p><u>屠</u>（左）　氣血不足，邪郁肝脾，兩目拳毛倒睫，瑪瑙翳障。</p>
<p>黨參　生黃耆　生於術　陳皮　升麻　柴胡　歸身　甘草　防風　蟬衣</p>
<p><u>沈</u>（左）　濕熱刑于脾胃，致生眼癉眼癬。</p>
<p>生地　木通　甘草　連翹　歸尾　山梔　赤芍　黃柏　蒼朮　蘆根</p>
<p><u>陸</u>（左）　寒濕邪滯太陰，兩目胬肉壅腫。</p>
<p>玉竹　焦茅朮　茯苓　甘草　製半夏　陳皮　蘇葉　杏仁　桑白皮　蔥頭　生薑</p>
<p><u>陸</u>（右）　肺腎陰虧，水源乾涸，右瞳發白，左亦淡色，此乃失光之症。</p>
<p>熟地　歸身（米炒）　炙草　枸杞子（鹽水炒）　菟絲子　楮實子　桑椹子　五味子　黨參麥冬　野馬料豆</p>
<p><u>又</u>　左歸飲合生脈散，加菟絲子歸身。</p>
<p><u>錢</u>（左）　稟質素弱，中年氣血已衰，兼之鬱怒傷肝，脾肺積有濕熱，以致兩目白睛黃膜赤脈，瞳光昏暗，清濁不分。</p>
<p>熟地　丹皮　茯苓　澤瀉　柴胡　枸杞子　米仁　菟絲子　丹參　野馬料豆</p>
<p><u>張</u>（左）　風濕合邪，鬱於上焦，致生赤爛眼癬。</p>
<p>半夏（制）　陳皮　茯苓　甘草　蒼朮　黃柏　秦艽　連翹　米仁　枳殼　桑葉　燈心</p>
<p><u>金</u>（右）　風寒濕三邪鬱於陽明，致生眼癬，沿眶壅腫。</p>
<p>蒼朮　厚朴　陳皮　甘草　黃芩　枳殼　半夏　杏仁　滑石　白芷　晚蠶沙</p>
<p><u>又</u>　異功散合白虎湯，加黃芩秦艽石決明晚蠶沙。</p>
<p><u>朱</u>（左）　濕熱上壅空竅，兩目翳霧，視物模糊，須防失光。</p>
<p>生地　丹皮　茯苓　澤瀉　萆薢　益智仁　丹參　女貞子　黃柏</p>
<p><u>楊</u>（右）　肝腎精血兩虧，復因寒邪郁久化火，以致右目堆云內障，極險之症。</p>
<p>熟地　山藥　丹皮　茯苓　澤瀉　肉桂　黨參　歸身　石決明（煅）　枸杞子　野馬料豆</p>
<p><u>又</u>　左歸飲加肉桂黨參歸身石決明。</p>
<p><u>姚</u>（左）　陰虛不足，又兼寒濕鬱於脾陰，致生黃疸，延久失治化火，傷於肝腎，兩目蟹珠高突，視物無形，勉力擬方救治。</p>
<p>豬苓　茯苓　澤瀉　肉桂　白朮　野馬料豆　紅棗</p>
<p><u>又</u>　甘露飲加石決明車前子野料豆。</p>
<p><u>周</u>（左）　風寒之邪，傷於肝腎，右目冰障羞明。</p>
<p>熟地　歸身　乾薑　炙草　桂枝　白芍　柴胡　細辛　白豆蔻</p>
<p><u>又</u>　照前方去細辛加羌活甘草杏仁。</p>
<p><u>又</u>　熟四物合逍遙散去柴胡薄荷，加香附紅花蟬衣。</p>
<p><u>沈</u>（左）　肝腎陰虧，痰哮氣逆，左目雲翳，右目星障。</p>
<p>熟地　歸身　半夏　廣皮　雲苓　炙草　枸杞子　丹參　白蒺藜</p>
<p><u>席</u>（左）　水虧火旺，腎陽不藏，兩目黑花朦朦。</p>
<p>生地　山藥　丹皮　茯苓　澤瀉　黃柏　龜板　旱蓮草　女貞子　丹參　蓮肉</p>
<p><u>陸</u>（右）　肝腎精血兩虧，少陽少陰兩經，復有風邪鬱伏，以致頭痛不止，恐致失光。</p>
<p>熟地　山藥　萸肉　丹皮　澤瀉　歸身　柴胡　茯苓　枸杞子　細辛</p>
<p><u>又</u>　七味合生脈散，加歸身白芍細辛。</p>
<p><u>蔣</u>（右）　血崩之後，氣血大虧，目失滋養，以致瞳神散大失光，法宜補斂。</p>
<p>熟地　黨參　制於術　黃氏　歸身　炙草　棗仁　茯神　桂圓肉　五味子　麥冬　杜仲烏賊骨</p>
<p><u>又</u>　左歸飲合生脈散，加丹參。</p>
<p><u>沈</u>（左）　寒邪化火，刑剋肺腎，右目平塌已廢，左目蟹睛翳障，視物不明。</p>
<p>歸身　茯苓　焦白朮　甘草　桂枝　白芍　制香附　石決明　菟絲子</p>
<p><u>又</u>　熟黑逍遙去柴胡薄荷，加石決明菟絲子。</p>
<p><u>又</u>　行血熟六物加枸杞子蟬衣。</p>
<p><u>又</u>　香歸熟六味去萸肉，加枸杞子菟絲子白蒺藜。</p>
<p><u>錢</u>（左）　氣虛體弱，兼感風寒，痰滯不宣，兩目胬肉，赤障羞明。</p>
<p>黃耆　防風　生臺術　玉竹　茯苓　廣皮　甘草　半夏　炮姜　杏仁</p>
<p><u>吳</u>（右）　氣血兩虧，厥陰頭痛，兼之胃腑受寒，又傷肝腎，以致左目赤障凝翳，下起傷痕，慮發蟹睛。</p>
<p>熟地　歸身　黨參　制於術　乾薑　炙草　制香附　石決明　砂仁</p>
<p><u>又</u>　杞菊熟四物，加石決明紅花蟬衣香附。</p>
<p><u>汪</u>（左）　外感暑邪，內傷冷飲，以致兩目白睛胬肉，赤障白翳，雖勞役道途，然舌白脈遲，謂之陰暑，不可作陽邪治。</p>
<p>乾薑　半夏　甘草　香薷　杏仁　廣藿香　白蔻殼</p>
<p><u>又</u>　行血熟四物合逍遙散去薄荷，加蒺藜荊芥。</p>
<p><u>沈</u>（左）　病由遺濁傷陰，又感暑邪濕熱，以致兩目白障滿泛，蟹睛高突，視物無形，姑念遠來，勉力擬方救治。</p>
<p>生地　山藥　丹皮　茯苓　澤瀉　廣藿　青蒿　歸身　萆薢　石決明　沙苑蒺藜　野料豆</p>
<p><u>又</u>　服藥後，雖得微光，但右目黑珠泛突已廢，惟左目瞳光未損，尚可保全。</p>
<p>熟地　白芍　川芎炭　歸身　蘇木　紅花　甲片　桃仁　菟絲子　石決明　六一散　降香末</p>
<p><u>又</u>　照前方去桃仁六一散降香末，加香附蟬衣。</p>
<p><u>又</u>　熟六物加香附紅花蟬衣。</p>
<p><u>張</u>（左）　夏季納涼飲冷，風寒傷於太陽少陽，以致午後如瘧，兩目痛傷，蟹睛高凸，白障滿泛，視物少形，症已重極，勉擬救治。</p>
<p>柴胡　黃芩　半夏（制）　甘草　桂枝　歸身　石決明（煅）</p>
<p><u>又</u>　照前方去黃芩，加玉竹炮姜。</p>
<p><u>又</u>　黑逍遙散加桂枝、炒白芍、石決明、青蒿、藿香。</p>
<p><u>又</u>　熟六味合四物去萸肉、山藥，加香附、石決明、紅花、女貞子。</p>
<p><u>又</u>　左歸飲去萸肉，加玉竹、麥冬、香附、石決明。</p>
<p><u>任</u>（左）　暑邪鬱於肝肺，兩目赤障羞明，往來寒熱。</p>
<p>當歸　赤芍　柴胡　茯苓　薄荷　甘草　米仁　連翹　山梔　石斛　西瓜翠皮</p>
<p><u>沈</u>（左）　風熱爍於肝胃，以致兩目眼皮緊急，拳毛倒入，內生翳霧，目角濕爛。</p>
<p>白芷　升麻　防風　半夏　枳殼　黃芩　石斛　甘草　鉤藤　當歸</p>
<p><u>又</u>　杞菊異功散去白朮，加米仁、當歸、石決明。</p>
<p><u>宣</u>（右）　陰不和陽，心肺鬱熱，左目大眥胬肉。</p>
<p>生地　丹皮　茯苓　澤瀉　當歸　川芎炭　丹參　女貞子　麥冬　黑山梔　省頭草</p>
<p><u>又</u>　生六味去萸肉山藥，加天冬、麥冬、丹參、西洋參、黑山梔、女貞子。</p>
<p><u>姚</u>（左）　陰虛不足，肝腎兩虧，兼之寒邪包暑，刑剋肝陰。兩目旋螺翳障，視物不明。勉擬救治。</p>
<p>香附（制）　夏枯草　熟地　歸身　白芍（肉桂煎湯拌炒）　玉竹　甘草　川芎炭　紅花　廣藿香　煨姜　燈心</p>
<p><u>又</u>　寒暑漸覺分消，疼痛略止，但旋螺轉甚，不能睜視，姑再擬方。補肝散合左歸飲去萸肉，加牛膝、歸身。</p>
<p><u>又</u>　疼痛已息，寒邪未散，旋螺更盛，竭力擬救。八珍湯去川芎，加枸杞、菟絲子、炮薑、燕窩、淡菜。</p>
<p><u>又</u>　旋螺略散，視物稍明。金水六君煎加枸杞、菟絲、燕窩、煨姜。</p>
<p><u>又</u>　行血八珍湯加枸杞子、菟絲子、桂枝、炒白芍。</p>
<p><u>又</u>　補血湯合熟六物加香附、枸杞子、蟬衣。</p>
<p><u>沈</u>（幼）　幼年氣血未充，又兼暑熱傷陰，右目內泛已廢，左目白珠縐翳，雞盲之症。</p>
<p>生地　山藥　丹皮　茯苓　澤瀉　歸身　青蒿　廣藿　女貞子　石決明（煅）　雞耎肝</p>
<p><u>又</u>　杞菊生六味去萸肉，加青蒿、歸身、石決明、雞耎肝。</p>
<p><u>又</u>　杞菊異功散去白朮，用山藥，加青蒿、當歸、蘆根、雞耎肝。</p>
<p><u>胡</u>（右）　陰虛兼燥，木挾相火上衝，以致厥陰頭痛，左目起星，左目蟹睛翳障。</p>
<p>香附（制）　夏枯草　生地　丹皮　茯苓　澤瀉　女貞子　旱蓮草　石決明（鹽水煮）　丹參</p>
<p><u>又</u>　二至合人參固本，加丹參、烏賊骨、茺蔚子。</p>
<p><u>錢</u>（左）　肝腎精血兩虧，厥陰頭痛，左目失光已廢，右目白星繚亂，此青盲之症。</p>
<p>熟地　山藥　萸肉　丹皮　茯苓　澤瀉　五味子　歸身　菟絲子　活磁石（醋煅）</p>
<p><u>王</u>（右）　氣血不足，肺腎陰虧，厥陽上熾，以致無風流淚，目珠疼痛，不時心悸耳鳴。</p>
<p>人參　生地　熟地　天冬　麥冬　山藥　萸肉　丹皮　茯苓　澤瀉　丹參　燕窩</p>
<p><u>許</u>（左）　形旺氣衰，燥邪克於脾肺，以致兩目赤障滿睛。</p>
<p>人參　石膏　知母　麥冬　粳米　甘草　旱蓮草　女貞子</p>
<p><u>又</u>　二至合異功散去白朮，加米仁、川貝、丹參、麥冬。</p>
<p><u>又</u>　行血生六物合二至，加丹參、車前子。</p>
<p><u>紀</u>（左）　肝腎不足，思慮傷脾，中氣下陷，視物昏花。</p>
<p>熟地　黨參　制於術　黃耆（蜜炙）　柴胡（蜜炙）　升麻（蜜炙）　陳皮　甘草　歸身　枸杞子</p>
<p><u>徐</u>（右）　三瘧雖止，鬱熱未清，以致瞳神生翳，視物不清。</p>
<p>制首烏　黨參　歸身　制於術　炙草　麥冬　青蒿　女貞子　丹參　白蒺藜</p>
<p><u>徐</u>（左）　太陽陽明感受風濕，左目上下胞壅腫，白睛胬肉。</p>
<p>蒼朮　厚朴　陳皮　甘草　豬苓　茯苓　澤瀉　白朮　滑石　蘇葉</p>
<p><u>錢</u>（右）　太陰風濕，以致左目胬肉壅結，上下眼胞腫脹，水泡鼻瘡。</p>
<p>蒼朮　厚朴　陳皮　甘草　半夏（薑製）　廣藿　滑石　蘇葉　黃芩　大腹皮</p>
<p><u>又</u>　異功散去白朮用米仁，加豨薟草、防風、當歸、山梔、滑石。</p>
<p><u>又</u>　異功散合三妙加枳殼、滑石。</p>
<p><u>又</u>　六君子湯合左金丸加當歸。</p>
<p><u>沈</u>（左）　精血不足，肝鬱不舒，脾肺兩經復積濕痰，以致兩目昏花，肢體壅腫，氣喘等症。</p>
<p>制香附　砂仁　黨參　白朮　茯苓　甘草　陳皮　製半夏　熟地　歸身　桑螵蛸</p>
<p><u>徐</u>（左）　氣血不足，操持過勞，中宮不運，左目上睥結生梅核，後防瘤患。</p>
<p>黨參　焦於朮　雲苓　甘草　歸身　川芎炭　白芍（酒炒）　熟地　穿山甲　煨木香</p>
<p><u>顧</u>（左）　氣滯痰凝，鬱熱化燥，左目上睥結生櫻核，兩目午後赤澀。</p>
<p>半夏（制）　陳皮　茯苓　杏仁　白芥子　貝母　枳殼　冬桑葉　黑芝麻　柏子仁　菊花葉</p>
<p><u>錢</u>（左）　精血不足，肝熱上浮，以致無風流淚。</p>
<p>旱蓮草　女貞子　玉竹　天冬　麥冬　生地　熟地　冬桑葉　黑芝麻　丹參</p>
<p><u>汪</u>（左）　脾虛脫力，陰虧陽浮，以致頭疼目暗，視物不明。</p>
<p>熟地　黨參　黃耆（蜜炙）　制遠志　歸身　炙草　制於術　桂圓肉　煨木香　茯神　棗仁　野馬料豆</p>
<p><u>俞</u>（左）　火邪刑于脾胃，以致皮翻黏瞼，遍身瘡瘍。</p>
<p>西洋參　米仁　茯苓　甘草　石膏　知母　丹參　山梔　石斛</p>
<p><u>吳</u>（左）　風濕熱合邪，刑于肝胃，右目堆云外障，面鼻濕瘡。</p>
<p>石膏　知母　甘草　米仁　蒼朮　歸尾　羚羊角　鮮石斛</p>
<p><u>又</u>　白虎湯加山梔、豨薟草。</p>
<p><u>又</u>　生玉女煎加西洋參、歸尾、穀精草。</p>
<p><u>陳</u>（右）　三瘧失調，肝腎陰虧，兩瞳色淡，漸至失光。</p>
<p>制首烏　淡鱉甲　黨參　麥冬　枸杞子　菟絲子　女貞子　五味子</p>
<p><u>黃</u>（左）　肝陰不足，厥陽上浮，又兼暑熱刑于肝胃，致生紅白堆云，外障，視物模糊。</p>
<p>旱蓮草　女貞子　石膏　熟地　牛膝（鹽水炒）　知母　麥冬　西洋參　丹參</p>
<p><u>又</u>　二地六味去萸肉，加牛膝、女貞子、西洋參、麥冬。</p>
<p><u>趙</u>（右）　風淫化火，刑剋肝脾，左目胬肉翳障，兩目眼皮紅腫，疼痛羞明。</p>
<p>羌活　防風　柴胡　桑白皮　歸身　赤芍　焦於朮　茯苓　甘草</p>
<p><u>又</u>　加味逍遙散。</p>
<p><u>陳</u>（左）　陰虛火旺，心腎不交，火搏水陰，以致瞳神細小，視物模糊。</p>
<p>生地　山藥　丹皮　茯苓　澤瀉　黃柏　龜板　女貞子</p>
<p><u>陸</u>（左）　暑熱刑于脾肺，兩目胬肉壅腫。</p>
<p>生地　木通　赤芍　歸尾　黑山梔　石斛　六一散　廣藿香　青蒿　扁豆葉</p>
<p><u>葉</u>（左）　陰虛兼暑，刑剋肝脾，兩目胬肉紅腫，畏熱羞明。</p>
<p>旱蓮草　女貞子　新會白　西洋參　扁豆肉　六一散　廣藿香　青蒿　麥冬　丹參</p>
<p><u>張</u>（右）　內蘊暑熱，外束寒涼，左目聚星，右目白障，壅腫疼痛。</p>
<p>香薷　扁豆　厚朴　廣藿香　蘇葉　陳皮　當歸　赤芍　茯苓　柴胡　薄荷　荷梗</p>
<p><u>又</u>　逍遙散合清暑湯。</p>
<p><u>沈</u>（右）　肝腎不足，陽明胃熱兼之，少陽相火浮動，不時齒痛，兩目翳膜赤澀。</p>
<p>熟地　石膏　牛膝　知母　麥冬　石決明　丹參　女貞子　蘆根</p>
<p><u>戴</u>（左）　表虛脾胃不足，又兼風邪克肺，兩目胬肉壅腫，眼皮寬縱。</p>
<p>黨參　生黃耆　白芍　葛根　升麻　蔓荊子　甘草　黃柏　歸身　石決明　蟬衣</p>
<p><u>又</u>　歸柴熟六味去萸肉，加枸杞子、蔓荊子。</p>
<p><u>高</u>（右）　肝經鬱熱不達，兩目白障滿布，視物不明。</p>
<p>當歸　生地　梔子　黃芩　木通　澤瀉　車前子　甘草梢　柴胡　龍膽草　蘇木　紅花</p>
<p><u>楊</u>（左）　暑風化火，刑剋肝胃，右目堆云白障，沿眶濕爛。</p>
<p>竹葉　石膏　粳米　麥冬　甘草　玉竹　廣藿香　青蒿　當歸　滑石　稻葉</p>
<p><u>張</u>（左）　肺陰大虧，腎氣不納，以致少陰頭痛，左目珠大脫眶。</p>
<p>熟地　萸肉　山藥　丹皮　茯苓　澤瀉　牛膝　車前子　製附子　肉桂　人參　菟絲子青鉛</p>
<p><u>汪</u>（左）　心腎不交，相火上浮，水不能制，左目胭脂內障，謹防血灌瞳神，已成危症，勉力擬方。</p>
<p>生地　山藥　丹皮　茯苓　澤瀉　黃柏　龜板　丹參　牛膝　女貞子　車前子</p>
<p><u>又</u>　滋陰生六味去萸肉，合人參固本，加丹參、牛膝、女貞子、車前子。</p>
<p><u>又</u>　明目地黃湯去柴胡，加丹參、菟絲子、麥冬。</p>
<p><u>姚</u>（左）　右目為苗葉刺傷，白障滿泛已廢，血絡受傷，疼痛不止，擬補血活血法。</p>
<p>熟地　白芍　當歸　川芎　蘇木　紅花　乳香　沒藥　䗪蟲</p>
<p><u>又</u>　行血熟六物加枸杞子、防風、酒炒白蒺藜。</p>
<p><u>張</u>（右）　血為邪乘，凝而不行，以致白睛胬肉，色紫，眼皮青黯。</p>
<p>生地　當歸　川芎　赤芍　蘇木　紅花　半夏　茯苓　陳皮　甘草　杏仁　桔梗　桑白皮</p>
<p><u>干</u>（左）　兩目為石灰所傷，黑珠已白，視物不明，眼皮壅腫，晝夜疼痛。</p>
<p>生地　木通　甘草梢　竹葉　連翹　黑山梔　歸尾　赤芍　蘇木　紅花</p>
<p>用韭菜地上蚯蚓泥煎湯代水，不時以蟹沫洗眼。</p>
<p><u>廖</u>（右）　左目因火烙傷，黑睛已壞，疼痛難忍，眼淚羞明，宜先以陳菜油灌洗止痛。</p>
<p>當歸　生地　赤芍　川芎炭　連翹　黑山梔　黃柏　杏仁　乳香　沒藥</p>
<p><u>徐</u>（幼）　稚年飲食不調，積成脾疳，兩目於黃昏時不能見物，此雞盲之症。</p>
<p>黨參　茯苓　焦於朮　廣皮　炙草　山楂炭　神麯　五穀蟲　穀精草　雞內金</p>
<p><u>柏</u>（幼）　稚年失乳，氣血未足，致成肝疳，雀盲失光。</p>
<p>黨參　茯苓　山藥　炙草　新會白　歸身　白芍　菟絲子　石決明（煅）　雞軟肝　人乳（沖服）</p>
<p><u>鍾</u>（右）　濕熱停滯脾肺，左目胬肉壅腫。</p>
<p>蒼朮　厚朴　陳皮　甘草　豬苓　茯苓　澤瀉　白朮　丹參　通草</p>
<p><u>李</u>（左）　心腎不交，水火不濟，少陰虛熱上浮，眥肉壅突。</p>
<p>生地　山藥　丹皮　茯苓　澤瀉　黃柏　龜板　丹參　女貞子　柏子仁</p>
<p><u>又</u>　薛氏歸脾湯加丹參蓮肉。</p>
<p><u>周</u>（右）　寒傷肝陽，風傷肺陰，右目星障，疼痛羞明。</p>
<p>玉竹　陳皮　茯苓　甘草　焦於朮　當歸　柴胡　赤芍　防風　杏仁　荷葉</p>
<p><u>又</u>　黑逍遙合杞菊加蟬衣。</p>
<p><u>陸</u>（左）　陰分素虧，又兼寒鬱化火，刑剋肝肺，兩目胬肉壅腫，黑珠內泛，視物少形。</p>
<p>熟地　黨參　歸身　川芎炭　白芍　炙草　炮姜　杏仁　白蔻仁</p>
<p><u>又</u>　熟黑逍遙合杞菊加杏仁、陳皮。</p>
<p><u>又</u>　行血熟六物加菟絲子、石決明。</p>
<p><u>馮</u>（左）　邪郁肝陰，左目花翳白障，右目星翳昏朦。</p>
<p>生地　川芎　歸身　白芍　柴胡　茯苓　焦白朮　甘草　蘇木　紅花　枸杞子　蟬衣</p>
<p><u>又</u>　黑逍遙散加枸杞子、蟬衣。</p>
<p><u>又</u>　八珍湯加枸杞子、蒺藜。</p>
<p><u>又</u>　左歸飲去萸肉，加香附、歸身、蟬衣、白蒺藜。</p>
<p><u>干</u>（幼）　痘後陰虛鬱熱，停滯脾胃，兩目致生眼癬。</p>
<p>玉竹　米仁　茯苓　新會白　升麻　石斛　望月砂　杏仁　丹參</p>
<p><u>又</u>　生六味去萸肉山藥，加丹參、石決明、望月砂、豨薟草。</p>
<p><u>胡</u>（右）　陰虛不足，相火上浮，右目黃膜上衝，視物不明。</p>
<p>生地　山藥　丹皮　澤瀉　熟地　雲苓　石決明　菟絲子　野馬料豆</p>
<p><u>又</u>　滋陰二地六味去萸肉，加玉竹、麥冬、丹參、女貞子、石決明、淡菜。</p>
<p><u>又</u>　貞元飲合人參固本，加石決明、丹參。</p>
<p><u>又</u>（丸方）　人參固本合六味去萸肉，加歸身、石決明、菟絲子。</p>
<p><u>朱</u>（左）　陰分有虧，肝肺燥熱，兩目赤障，云膜羞澀，宜滋陰潤燥。</p>
<p>生地　丹皮　茯苓　澤瀉　玉竹　麥冬　石斛　女貞子　菊花　甜杏仁　桑白皮　冬桑葉</p>
<p><u>陳</u>（幼）　痧後感受風濕，化為燥熱，鬱於足太陰陽明，兩目濕爛眼癬。</p>
<p>黃芩　白芷　丹皮　石膏　當歸　生地　赤苓　石決明　米仁　秦艽　麥冬　蘆根</p>
<p><u>沈</u>（右）　風傷太陰，血凝氣滯，左目白睛胬肉，紅腫羞明。</p>
<p>川芎　當歸　赤芍　生地　丹參　桔梗　杏仁　前胡　蘇木　紅花</p>
<p><u>張</u>（右）　肝腎陰虧，虛陽上炎，以致眼梢赤脈，乾澀昏花。</p>
<p>生地　山藥　茯苓　澤瀉　丹皮　丹參　麥冬　石決明　鉤藤　柏子仁　料豆皮　石蓮子</p>
<p><u>又</u>　照前方去山藥料豆皮，加西洋參、女貞子。</p>
<p><u>王</u>（左）　肺腎陰虧，兼有濕熱，以致兩目紅白翳障，瞳神淡色，視物模糊。</p>
<p>生地　茯苓　丹皮　澤瀉　旱蓮草　女貞子　西洋參　麥冬　丹參　石斛　萆薢</p>
<p><u>方</u>（左）　精神不足，心腎不交，心致下焦遺泄，左目瞳神淡色，後防失光。</p>
<p>熟地　山藥　丹皮　茯神　澤瀉　歸身　石決明　玉竹　麥冬　菟絲子　桑螵蛸</p>
<p><u>徐</u>（左）　體弱陰虛，精血不足，兼之寒邪化火，刑剋肝胃，以致左目堆云內障，右目白障下垂，視物不明，勉力擬方。</p>
<p>玉竹　生臺術　茯苓　廣皮　甘草　炮姜　熟地　歸身　龍衣　燈心</p>
<p><u>又</u>　八珍湯去川芎，加香附、陳皮、枸杞子、升麻、牛膝。</p>
<p><u>又</u>　行血八珍湯加枸杞子、石決明、龍衣、料豆皮。</p>
<p><u>又</u>　歸柴熟六味去萸肉，加菟絲子、石決明、牛膝、蟬衣、野馬料豆。</p>
<p><u>朱</u>（右）　肝虛血燥，少陽鬱熱，右目銳眥雲翳起星。</p>
<p>歸身　柴胡　生地　山藥　丹皮　茯苓　澤瀉　白蒺藜　蕤仁　枸杞子　甘菊　野馬料豆　冬桑葉</p>
<p><u>又</u>　二地六味去萸肉，加西洋參、麥冬、石決明、菟絲子。</p>
<p><u>王</u>（右）　風熱鬱於陽明，右目下睥眼癉壅腫。</p>
<p>蒼朮　厚朴　茯苓　甘草　當歸　連翹　荊芥　防風　天蟲　枳殼　金銀花　薄荷　蔥白頭</p>
<p><u>朱</u>（左）　暑邪內受，寒邪外束，結聚不散，以致右目雲翳赤障，壅腫濕爛。</p>
<p>玉竹　米仁　陳皮　茯苓　六一散　當歸　香附　香薷　厚朴　防風　杏仁</p>
<p><u>金</u>（右）　火鬱脾肺，以致偷針變癬。</p>
<p>連翹　黑山梔　歸尾　赤芍　生地　木通　甘草梢　石斛　石決明　杏仁　枇杷葉（蜜炙）</p>
<p><u>趙</u>（左）　陰虛邪郁，三瘧未已，目珠紅赤昏花。</p>
<p>歸身　焦白朮　白芍　茯苓　柴胡　薄荷　甘草　鱉甲　青蒿　石決明（煅）</p>
<p><u>程</u>（左）　精血不足，肺腎陰虧，水源乾涸，以致左目瞳神發白，視物模糊，防有頭風失明之患。</p>
<p>人參　生地　熟地　天冬　麥冬　枸杞子　菟絲子　五味子　覆盆子　桑椹子</p>
<p><u>又</u>　貞元飲合生脈散，加枸杞子、菟絲子、五味子、女貞子、桑椹子、真珠子、覆盆子。</p>
<p><u>又</u>　生脈散合七子，加阿膠、野馬料豆。</p>
<p><u>又</u>　左歸飲合七子。</p>
<p><u>徐</u>（左）　中氣下陷，虛熱上浮，迎風流淚，眼皮寬縱。</p>
<p>黨參　綿黃耆　制於術　新會白　升麻（蜜炙）　柴胡（蜜炙）　歸身　炙草　杏仁　麥冬冬桑葉</p>
<p><u>陳</u>（幼）　厥陰陽明濕火，以致滿額肥瘡，兩目赤障，啟睫無力。</p>
<p>龍膽草　黑山梔　生地　木通　當歸　黃芩　澤瀉　石膏　知母　米仁　甘草　石斛　白芷炭</p>
<p><u>黃</u>（左）　風寒濕三氣鬱於陽明，右目壅腫偷針。</p>
<p>白芷　蒼朮　厚朴　陳皮　甘草　天蟲　萆薢　赤苓　米仁　蔥頭</p>
<p><u>莊</u>（左）　瘧後元虛，濕鬱肺腎，兩目白睛黃膜，右目黑花矇矇。</p>
<p>生地　丹皮　茯苓　澤瀉　山藥　黨參　麥冬　女貞子　丹參　萆薢　野料豆</p>
<p><u>又</u>　人參固本加米仁、何首烏、茯苓、桑椹子、野料豆。</p>
<p><u>陶</u>（右）　風濕熱三邪鬱於陽明太陰，兩目致生濕爛眼癬。</p>
<p>蒼朮　厚朴　陳皮　甘草　豬苓　茯苓　澤瀉　米仁　防風　豨薟草　黃柏　晚蠶沙</p>
<p><u>又</u>　平胃散合三化湯，加萆薢、赤苓、龍衣。</p>
<p><u>又</u>　清火導赤散合白虎湯，加白芷、天花粉、忍冬花。</p>
<p><u>又</u>　清火導赤散加天花粉、金銀花、米仁。</p>
<p><u>沈</u>（左）　肝腎素虧，兼之風鬱化火，令目凝脂白翳，垂簾赤障，右目凝翳。</p>
<p>羌活　獨活　制香附　夏枯草　當歸　白芍　柴胡　茯苓　甘草　枸杞子　焦於朮　蔥頭　燈心</p>
<p><u>黃</u>（左）　心腎水火不交，虛陽上炎，兩目不時舉發偷針眼癉之患。</p>
<p>生地　柏子仁　當歸　棗仁　天冬　麥冬　人參　玄參　丹參　桔梗　茯神　遠志　石菖蒲</p>
<p><u>郢</u>（左）　肝腎不足，虛熱生風，左目赤障，瞳神細星，右目云膜。</p>
<p>生地　熟地　玉竹　甘草　川芎炭　歸身　白芍　枸杞子　甘菊　白蒺藜　冬桑葉　荷葉蒂</p>
<p><u>又</u>　杞菊熟六味去萸肉，加黨參、麥冬、歸身、桑葉、馬料豆。</p>
<p><u>史</u>（右）　太陰鬱邪凝結，左目赤障，狀如魚胞。</p>
<p>半夏　茯苓　廣皮　甘草　桔梗　杏仁　前胡　當歸　紅花　蔥須</p>
<p><u>蔡</u>（右）　肝脾不足，風濕眼癬。</p>
<p>玉竹　陳皮　茯苓　甘草　米仁　秦艽　防風　當歸　白芍　冬桑葉</p>
<p><u>褚</u>（左）　風寒濕邪乘於脾胃，兩目致生眼癬。</p>
<p>半夏　茯苓　陳皮　甘草　蒼朮　厚朴　桑白皮　薄荷　黑山梔　連翹　燈心</p>
<p><u>曹</u>（左）　先天不足，後天亦虧，肝風犯胃，以致右目眼皮緊急，拳毛倒刺，赤障雲翳。</p>
<p>玉竹　米仁　陳皮　茯苓　甘草　鉤藤　當歸　秦艽　萆薢　穀精草　冬桑葉</p>
<p><u>張</u>（右）　風濕邪毒，鬱於足太陰陽明，以致唇瘡面疹，兩目赤障玉粒。</p>
<p>甘草　桔梗　桑白皮　地骨皮　杏仁　薄荷　葛根　白芷　連翹　茯苓皮　蔥頭</p>
<p><u>朱</u>（右）　心腎水火不交，燥邪復克肝脾，兩目乾澀，久視無光，宜養陰潤燥。</p>
<p>生地　丹皮　茯苓　澤瀉　冬桑葉　黑芝麻　丹參　棗仁　蕤仁　湘蓮</p>
<p><u>張</u>（左）　酒濕兼風鬱於陽明，兩目沿眶赤爛。</p>
<p>生地　當歸　米仁　葛花　萆薢　茯苓　陳皮　荊芥　槐米　料豆皮　冬桑葉</p>
<p><u>吳</u>（左）　操勞過度，傷及心脾，兩目眥肉腫突，視物不清。</p>
<p>熟地　黨參　制於術　黃耆（蜜炙）　歸身　炙草　棗仁　制遠志　茯神　菟絲子　湘蓮肉</p>
<p><u>金</u>（右）　風熱鬱於肝脾，兩目赤脈貫睛，凝翳滿目，沿眶赤爛。</p>
<p>連翹　山梔　歸尾　赤芍　生地　木通　甘草梢　羌活　薄荷　枳殼　菊花　桑葉　車前草</p>
<p><u>沈</u>（左）　濕邪化火，目胞浮腫。</p>
<p>豬苓　茯苓　澤瀉　白朮　桂枝　黃柏　桑葉　燈心</p>
<p><u>戚</u>（左）　暑風濕邪鬱於肝脾，目胞浮腫，白翳赤障，頭痛不止。</p>
<p>當歸　赤芍　薄荷　茯苓　米仁　藿香　青蒿　滑石　石斛　荷梗</p>
<p><u>又</u>　二至合黑逍遙去白朮甘草，加米仁、穀精草、石決明、六一散。</p>
<p><u>又</u>　二地六味去萸肉，加西洋參、麥冬、菟絲子、丹參、六一散。</p>
<p><u>孫</u>（幼）　濕食傷脾，又兼肝木剋土，遂致腹大膨脹，兩目雞盲。</p>
<p>蒼朮　厚朴　陳皮　甘草　黨參　雲苓　山楂　麥芽　神麯　萆薢炭</p>
<p><u>艾</u>（左）　肺腎陰虧，氣逆上衝，以致珠大脫眶。</p>
<p>人參　生地　熟地　天冬　麥冬　五味子　丹參　菟絲子　枸杞子　牛膝</p>
<p><u>又</u>　人參固本合五子飲加丹參。</p>
<p><u>董</u>（幼）　稚年氣血未足，內熱傷陰，以致兩目雞盲，咳嗆多痰，此肺疳之症。</p>
<p>黨參　山藥　茯苓　炙草　新會白　歸身　石決明　甜杏仁　川貝　雞肝</p>
<p><u>又</u>　異功散去白朮用山藥，加歸身、石決明、菟絲子、鉤藤、野料豆、紅棗。</p>
<p><u>李</u>（左）　勞心過度，思慮傷脾，陰精不能上注，以致右目銀翳白障，瞳神淡色，防有失光之患。</p>
<p>熟地　歸身　黨參　制於術　茯神　白芍　炙草　丹參　棗仁　枸杞子　野馬料豆</p>
<p><u>又</u>　左歸飲合生脈散加丹參。</p>
<p><u>張</u>（左）　肝胃陰寒，兼之太陽少陽兩經風邪頭痛，右目堆云白障，胬肉壅腫。</p>
<p>吳茱萸（泡淡）　淡乾薑　甘草（炙）　歸身　柴胡　羌活　枸杞子　白蔻仁　蔥白</p>
<p><u>又</u>　歸芍六君子加香附、白蒺藜、枸杞子、豆蔻仁、煨薑、紅棗。</p>
<p><u>葉</u>（左）　肝腎陰虧，虛陽上炎，以致兩目小眥胬肉壅結，右目橫關內障，勉力擬方。</p>
<p>西洋參　天冬　麥冬　生地　熟地　旱蓮草　女貞子　丹參　蘇木　紅花</p>
<p><u>又</u>　人參固本加歸身、石決明、丹參、牛膝、菟絲子。</p>
<p><u>又</u>　胬肉已退其半，橫關內障微現，視尚模糊，宜養陰和中退障為主。行血熟六物加菟絲子、白蒺藜、甲片。</p>
<p><u>又</u>　橫關內障稍為縮短，紅障未消，手足寒冷，乃內素有熱，外束寒邪所致，其障必須全現，在外方可消去，難以速效，姑再擬方。理中湯合理陰煎，又合補肝散加菟絲子、新絳屑。</p>
<p><u>又</u>　照前方加肉桂炒白芍。</p>
<p><u>又</u>　橫關內障喜得全現，在外已短其半，兩目紅障十去其八，視仍未清。行血八珍湯加枸杞子、蟬衣、野料豆、龍衣。</p>
<p><u>又</u>　橫關內障已短大半，紅障亦散，視猶不清。補血八珍湯加菟絲子、香附、白蒺藜、龍衣。</p>
<p><u>又</u>　補血異功散加丹參、菟絲子、牛膝、鳳凰蛻。</p>
<p><u>又</u>　橫關內障浮薄，視物昏花。異功散加香附、歸身、馬料豆、龍衣。</p>
<p><u>又</u>　補肝四君子加蟬蛻、丹參、龍衣。</p>
<p><u>又</u>　二至合異功加香附、歸身、龍衣、白蒺藜。</p>
<p><u>又</u>　二至合異功散加丹參、蟬蛻、青葙子、新絳屑。</p>
<p><u>又</u>　四君子加當歸、鹿角屑、煨木香、白蒺藜。</p>
<p><u>又</u>　右目橫翳未盡，視尚不清。行血熟四物合五脫散。</p>
<p><u>馬</u>（右）　痘後迎風流淚，又兼火鬱睛明，左目已成漏睛。</p>
<p>生地　木通　甘草梢　竹葉　連翹　黑山梔　歸尾　石決明　赤芍</p>
<p><u>沈</u>（左）　氣血大虧，兼之風寒鬱伏厥陰陽明，以致寒熱骨疼，氣逆嘔吐，兩目堆云內障，視物無形，勉力擬方。</p>
<p>人參　制於術　乾薑　炙草　熟地　歸身　肉桂　吳茱萸　白芍　獨活　生薑　大棗</p>
<p><u>又</u>　兩瞳痛傷，最為危重。前進溫中解寒之劑，骨痛頭疼少止，然兩目難以奏效，再須質之高明。</p>
<p>歸身　熟地　製半夏　陳皮　茯苓　炙草　黨參　制於術　枸杞子　白蒺藜　焦枳殼　馬料豆</p>
<p><u>顧</u>（右）　陰虛內熱，燥邪傷脾，左目櫻核，右目瘤子。</p>
<p>生地　丹皮　茯苓　澤瀉　歸身　石決明　丹參　黑山梔　女貞子　石斛</p>
<p><u>葉</u>（幼）　暑濕化火，刑剋肝脾，致生眼癬，右目起星，滿面瘡瘍。</p>
<p>生地　當歸　赤芍　柴胡　茯苓　米仁　甘草梢　薄荷　黃柏　滑石</p>
<p><u>張</u>（右）　體素陰虧，兼之懷娠中滿，肝胃蘊熱，化火生風，以致左偏頭痛，左目堆云內障，險極之症。</p>
<p>黃連　吳茱萸　生地　歸身　白芍　甘草　制香附　夏枯草　黃芩　焦枳殼</p>
<p><u>又</u>　補肝二至左金白虎湯，加黃芩枳殼蘆根。</p>
<p><u>錢</u>（左）　心腎不交，下焦遺泄，瞳神散大，失光之症。</p>
<p>生地　山藥　萸肉　丹皮　茯神　澤瀉　黃柏　龜板　丹參　麥冬　湘蓮</p>
<p><u>盧</u>（左）　燥熱刑于心肺，右目小眥胬肉玉粒。</p>
<p>生地　丹皮　茯苓　澤瀉　玉竹　麥冬　丹參　車前子　女貞子　石斛　冬桑葉</p>
<p><u>趙</u>（右）　瘀血凝滯右目睛明穴中，以致內生血瘤，顏色青紫，大如銀杏，疼痛羞明。</p>
<p>桃仁　紅花　川芎　當歸　生地　赤芍　制香附　夏枯草　丹參　側柏葉</p>
<p><u>又</u>　血瘤已落，紅翳未盡，視物不清。生六物合杞菊加丹參、石決明、茺蔚子。</p>
<p><u>沈</u>（左）　濕熱鬱於脾肺，致生黃水唇瘡，兩目微腫赤爛，畏日羞明。</p>
<p>蒼朮　厚朴　陳皮　甘草　生地　木通　黃柏　綠豆皮　竹葉　燈心</p>
<p><u>張</u>（左）　風克陽明，血凝氣滯，以致睥翻黏瞼。</p>
<p>生地　當歸　赤芍　川芎　蘇木　紅花　焦枳殼　煨木香　荊芥</p>
<p><u>施</u>（左）　寒燥合邪，刑于脾肺，兩目赤澀云膜，眼梢濕爛。</p>
<p>玉竹　廣皮　茯苓　杏仁　甘草　歸身　麥冬　蕤仁　白蒺藜　冬桑葉　料豆皮</p>
<p><u>蔡</u>（左）　精血不足，肝鬱不舒，兼之寒鬱少陰，以致右目瞳神內障，視物模糊，竭力擬方。</p>
<p>黨參　制於術　茯苓　陳皮　炮姜　甘草（炙）　遠志　枸杞子　白蔻仁　花椒目</p>
<p><u>又</u>　內障已散，舌色微白，視物不清，宜溫中養陰保光為主。六味異功散加香附歸身枸杞子桂枝炒白芍佛手。</p>
<p><u>程</u>（右）　肝腎精血兩虧，陽氣不藏，以致螢星滿目，謹防青盲。</p>
<p>熟地　山藥　萸肉　丹皮　茯苓　澤瀉　人參　麥冬　五味子　青鉛</p>
<p><u>曹</u>（左）　熱鬱三焦，黃膜胬肉。</p>
<p>生地　木通　甘草梢　竹葉　連翹　山梔　歸尾　赤芍　黃芩　甘菊　焦枳殼　料豆皮冬桑葉</p>
<p><u>又</u>　知柏四物加石決明、黑山梔、車前草。</p>
<p><u>錢</u>（幼）　目腫如桃，眵淚如膿，皮膚蒸熱畏風，兩目常閉難開，未卜黑珠損否，症擬暑濕，宜用清利。</p>
<p>香薷　厚朴　扁豆　茯苓　蒼朮　黃柏　銀花　六一散</p>
<p><u>張</u>（左）　風寒鬱伏肝肺，以致左目凝脂翳障，有變旋螺之勢。</p>
<p>桂枝　白芍　炙草　香附　蘇葉　陳皮　當歸　杏仁　枸杞子</p>
<p><u>沈</u>（左）　寒邪挾風，乘虛傷於肝胃，右目小眥痕陷，堆云白障，疼痛羞明。</p>
<p>黨參　生臺術　乾薑　甘草　川芎　歸身　枸杞子　白豆蔻</p>
<p><u>又</u>　八珍湯去川芎，加紅花、陳皮、石決明。</p>
<p><u>胡</u>（左）　熱鬱三焦，大小眥赤障，防變胬肉攀睛。</p>
<p>生地　當歸　川芎炭　赤芍　丹皮　山梔　旱蓮草　女貞子　桑白皮　竹葉　燈心</p>
<p><u>李</u>（左）　燥火刑金剋木，兩目云膜赤障。</p>
<p>生地　木通　赤芍　歸尾　連翹　山梔　桑白皮　地骨皮　米仁　甘草梢　燈心</p>
<p><u>又</u>　清火導赤散加黃芩、石斛、竹葉。</p>
<p><u>桂</u>（右）　精血素虧，又兼暴傷陰，以致瞳神散大，視物不明。</p>
<p>柴胡　五味子　歸身　熟地　山藥　萸肉　丹皮　茯苓　澤瀉　遠志</p>
<p><u>又</u>　照前方合生脈散。</p>
<p><u>瞿</u>（右）　陰精不能上承於目，以致乾澀昏花，宜滋陰充液。</p>
<p>旱蓮草　女貞子　生地　山藥　丹皮　茯苓　澤瀉　天冬　麥冬　棗仁　蓮肉</p>
<p><u>馬</u>（右）　肝經鬱熱，兩目已成赤脈貫睛。</p>
<p>川芎　當歸　生地　赤芍　茯苓　柴胡　鬱金　甘草　蟬衣　荷葉邊</p>
<p><u>施</u>（右）　燥熱鬱於肺胃，右目拳毛倒入，眼皮緊急。</p>
<p>知母　黃柏　生地　丹皮　澤瀉　歸身　蕤仁　麥冬　冬桑葉</p>
<p><u>馬</u>（右）　產後氣血兩虧，陽明虛熱生風，以致頭痛目疼。</p>
<p>熟地　歸身　川芎炭　白芍　黨參　茯苓　制於術　炙草　升麻　杜仲　省頭草</p>
<p><u>又</u>　照前方去升麻加枸杞子。</p>
<p><u>範</u>（左）　酒濕傷於肺腎，兩目銀翳赤障。</p>
<p>生地　丹皮　茯苓　澤瀉　遠志　萆薢　丹參　雞距子　野馬料豆</p>
<p><u>又</u>　生六味去萸肉合杞菊，加萆薢、益智仁、菟絲子。</p>
<p><u>尤</u>（左）　肝腎精血兩虧，又兼寒邪傷陰，以致左目瞳神蟹珠，視物少形，勉擬溫中救陰法，以圖得效。</p>
<p>製附子　乾薑　生白朮　炙草　歸身　熟地　肉桂　枸杞子　制香附　石決明（煅）</p>
<p><u>馬</u>（右）　精血素虧，兼之懷妊中滿，氣鬱肝膽，兩目視物昏花，防變青盲，宜滋陰疏利。</p>
<p>生地　熟地　山藥　雲苓　澤瀉　制香附　歸身　黃芩　蘇梗　焦枳殼　荷葉</p>
<p><u>又</u>　治氣六合湯加黃芩、枸杞子。</p>
<p><u>陸</u>（幼）　風濕鬱於脾肺，兩目眼癬，滿身風疹。</p>
<p>玉竹　苡仁　茯苓　廣皮　甘草　豨薟草　秦艽　當歸　杏仁</p>
<p><u>顧</u>（左）　陰不攝陽，肝風內動，兩目時痛時癢，赤澀昏花。</p>
<p>枸杞子　甘菊　玉竹　新會白　雲苓　山藥　甘草　石決明　料豆皮　黑芝麻　冬桑葉</p>
<p><u>又</u>　二地六味去萸肉，加西洋參、麥冬、鉤藤、石決明、丹參、料豆皮。</p>
<p><u>又</u>　左歸飲合扶桑加丹參、石決明。</p>
<p><u>範</u>（左）　暑濕兩邪刑于肝肺，兩目黃白雲膜，黑珠白陷。</p>
<p>豬苓　白朮　澤瀉　茯苓皮　五加皮　地骨皮　生薑皮　廣藿香　當歸　六一散　花椒目</p>
<p><u>張</u>（右）　陽明血少，胃熱生風，兩目黑珠雲翳，眶腫赤爛。</p>
<p>防風　山梔　藿香　石膏　甘草　當歸　鉤藤　桑葉　蘆根</p>
<p><u>葉</u>（左）　血虛內熱，風邪化燥，刑于脾肺，兩目沿眶赤爛，右目翳霧昏花。</p>
<p>當歸　生地　赤芍　黃芩　秦艽　防風　甘草　杏仁　山梔　蕤仁　竹葉</p>
<p><u>張</u>（左）　少陰邪熱，左目眥肉壅突疼痛。</p>
<p>黃連　黃芩　犀角　知母　山梔　滑石　麥冬　茯神　西洋參</p>
<p><u>王</u>（右）　風邪鬱伏肝肺，兩目星障滿布，紅腫羞明。</p>
<p>羌活　防風　生地　川芎　當歸　赤芍　薄荷　白蒺藜　荷葉</p>
<p><u>周</u>（左）　誤傷左目，瞳神驚散，膽腎精液為瘀血灌渾，下視略有微光，右目近視光呆。宜保全右目，兼理左目，行氣活血為要。</p>
<p>熟地　川芎炭　歸身　白芍　桃仁　紅花　枸杞子　菟絲子　楮實子　紫槿皮　肉桂　制香附　䗪蟲</p>
<p><u>又</u>　照前方去肉桂，加黨參、丹參。</p>
<p><u>沈</u>（左）　邪火上攻，大眥腫痛出血。</p>
<p>鮮生地　白芍　丹皮　犀角　藕汁</p>
<p><u>徐</u>（左）　體素陰虧，又兼寒鬱肝胃，右目小眥痛傷痕陷，左目星翳胬肉，視物不明。</p>
<p>熟地　歸身　柴胡　白芍　茯苓　焦於朮　甘草　炮姜　白蒺藜　砂仁　荷葉</p>
<p><u>又</u>　熟六物加枸杞子、白蒺藜。</p>
<p><u>朱</u>（左）　心腎不交，氣血不和，虛陽上浮，中氣下陷，以致左目瑪瑙垂簾，右目蜆肉垂簾，視物不清。</p>
<p>蘇木　紅花　熟地　川芎炭　歸身　白芍　黨參　炙草　龜板　黃柏</p>
<p><u>又</u>　滋腎生肝飲去萸肉五味子，用菟絲子、白芍，加丹參、蟬蛻。</p>
<p><u>又</u>　行血生補中益氣湯加丹參、蟬衣。</p>
<p><u>王</u>（右）　氣血素虧，兼之風寒鬱伏太陽少陽，以致左目蟹睛高突，右目雲翳赤障，壅腫疼痛。</p>
<p>玉竹　陳皮　生臺術　茯苓　甘草　當歸　柴胡　防風　白芍　石決明　車前子</p>
<p><u>又</u>　黑逍遙去薄荷，加蔓荊子、蟬蛻、石決明、杏仁、車前草。</p>
<p><u>又</u>　補肝散合生六物加石決明、茺蔚子。</p>
<p><u>朱</u>（左）　氣血兩虧，風寒邪克肝陰，以致兩目壅腫胬肉，黑珠內泛，視物無形，勉力擬方救治。</p>
<p>熟地　川芎　當歸　白芍　柴胡　茯苓　焦於朮　甘草　防風　蘇木　紅花　煨姜　燈心</p>
<p><u>又</u>　行血熟六物加炮薑、菟絲子、香附。</p>
<p><u>何</u>（左）　年未弱冠，氣血不能充足，左目為物所傷，青珠已破，泛壅高突，疼痛不止，勉擬救治。</p>
<p>蘇木　紅花　熟地　川芎炭　當歸　白芍　香附　牛膝　紫槿皮　炮薑炭　防風炭　䗪蟲</p>
<p><u>又</u>　左目黑珠泛突已平十分之九，傷痕未退，白障未消，未識瞳神損否，姑再擬方。行血熟六物加防風炭、香附炭、菟絲子、牛膝、䗪蟲。</p>
<p><u>又</u>　凝瘀已散，珠圓平復，白障未退，瞳神已損，光影全無，惟念尚在童年，再擬一方，望其僥倖。行血八珍湯加枸杞子、菟絲子。</p>
<p><u>徐</u>（幼）　稚年氣血未足，又兼風濕鬱於脾肺，以致咳嗽氣逆，左目紅腫珠突，眼淚如膿。</p>
<p>羌活　防風　當歸　赤芍　柴胡　茯苓　米仁　甘草　杏仁　蔥頭</p>
<p><u>又</u>　珠突已平，紅腫少退，不能睜視。異功散去白朮用米仁，加豨薟草、防風、當歸、石決明、杏仁。</p>
<p><u>黃</u>（左）　精血兩虧，酒濕傷於肺腎，以致瞳神渾濁，視物昏花，須防失光。</p>
<p>旱蓮草　女貞子　生地　山藥　丹皮　茯苓　澤瀉　萆薢　益智仁　丹參　雞距子</p>
<p><u>陸</u>（左）　精血兩虧，心腎不交，相火上炎，以致大眥發癢出血，宜引火歸源法。</p>
<p>熟地　山藥　丹皮　茯苓　澤瀉　萸肉　製附子　肉桂　人參</p>
<p><u>韓</u>（左）　中氣不足，眼皮寬縱，拳毛倒睫。</p>
<p>黨參　生黃耆　生於術　歸身　陳皮　升麻（蜜炙）　柴胡（蜜炙）　甘草　蔓荊子</p>
<p><u>錢</u>（左）　濕熱停於脾肺，兩目睥內魚子石榴，視物羞明。</p>
<p>當歸　石決明　玉竹　茯苓　蒼朮　甘草　黃柏</p>
<p><u>又</u>　魚子石榴已散，紅翳未盡。補血六君子去參用玉竹，加石斛。</p>
<p><u>唐</u>（右）　暮年肝腎陰虧，水火不能既濟，以致瞳神淡色，時見火星飛揚，視物模糊，宜壯水固精，交通心腎。</p>
<p>熟地　歸身　炙草　枸杞子　菟絲子　五味子　桑椹子　女貞子　丹參　龜膠　蓮肉</p>
<p><u>羅</u>（左）　體素陰虧，精血不足，左目為物所傷，氣血復虧，以致瞳神散大，眼皮垂下，啟睫無力，視物不明，竭力擬治，少或有效，再可商也。</p>
<p>熟地　歸身　炙草　枸杞子　菟絲子　五味子　楮實子　覆盆子　人參　麥冬　黃耆（酒炒）　䗪蟲　洋蟲</p>
<p><u>又</u>　眼皮稍能睜視，瞳神略小，惟視物尚覺不明。貞元飲合五子加人參、黃耆、紅花、䗪蟲。</p>
<p><u>又</u>　生脈散合五子加熟地、歸身、阿膠。</p>
<p><u>孔</u>（左）　視白為黃，視紅為紫，視正為橫，睜目頭暈，此陰極陽飛之症。</p>
<p>生地　熟地　山藥　萸肉　丹皮　茯苓　澤瀉　肉桂　菟絲子　丹參</p>
<p><u>又</u>　《金匱》腎氣丸（以丸作湯）合生脈散加丹參。</p>
<p><u>又</u>　十全大補湯。</p>
<p><u>姚</u>（左）　精血素虧，濕邪復傳肺腎，以致兩目白睛黃膜，瞳神昏暗，夜視不明，雀盲之症。</p>
<p>生地　熟地　天冬　麥冬　茵陳　黃芩　枳殼　石斛　甘草　枇杷葉　旱蓮草　女貞子丹參</p>
<p><u>又</u>　人參固本合二至，加丹參、茵陳、黃芩。</p>
<p><u>又</u>　夜視得明，濕熱已退大半，惟內熱尚未盡除。二地六味去萸肉合二至，加牛膝、車前子、丹參、野馬料豆。</p>
<p><u>徐</u>（左）　暮年肝腎陰虧，三陰三陽脈息歇止。又兼脾胃衰弱，不能健運，以致兩目眼皮紅赤翻出，視物不清。</p>
<p>熟地　人參　黃耆（蜜炙）　制於術　茯神　制遠志　棗仁　歸身　煨木香　龍眼肉　炙草　龜膠　鹿角膠　枸杞子　炮姜</p>
<p><u>楊</u>（幼）　脾胃濕火，左目下睥生菌。</p>
<p>蘇木　紅花　生地　當歸　川芎炭　赤芍　蒼朮　厚朴　陳皮　甘草　蘆根</p>
<p><u>又</u>　眼菌已消，紅翳未盡。照前方去蘇木、紅花，石斛、黑山梔。</p>
