<header data-type="book">
<h1>心印紺珠經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李湯卿</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1368">公元1368年</data></dd></div>
<div><dt>底本</dt><dd>明嘉靖26年刊本（<a href="https://www.digital.archives.go.jp/file/1084295">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>原道統第一</h2>
<p>大哉醫乎！其來遠矣！粵自混飩既判，洪荒始分，陽之輕清者，以氣而上浮為天；陰之重濁者，以形而下凝為地。天隆然而位乎上，地隤然而位乎下，於是陽之精者為日，東昇而西墜；陰之精者為月，夜見而晝隱，兩儀立矣，二曜行焉。於是玄氣凝空，水始生也；赤氣炫空，火始生也；蒼氣浮空，木始生也；素氣橫空，金始生也；黃氣際空，土始生也。五行備，萬物生，三才之道著矣。是以惟人之生，得天地之正氣也。頭圓象天。足方象地。天有陰陽，人有氣血，天有五行，人有五臟。蓋葛天氏之民，巢居穴處，茹毛飲血，動作以避其寒，陰居以避其暑，大樸未開，何病之有。迨夫伏羲氏，占天望氣而畫卦。後世有天元玉冊，目為伏羲之書者，不知上古之時，文字不立，斯書何以而作也。神農氏嘗百草，一日而七十毒，厥後本草興焉。黃帝垂衣裳而天下治，與岐伯天師更相問難，上推天文，下窮地理，中極民瘼，《內經》自此而作矣。前乎此經之未作也，民之有疾，惟祝由而已；後乎此經之既作也，民之有疾，必假砭針以治其外，湯液以療其內。厥後大樸散而風化開，民務繁而欲心縱，災沴多端，非大毒、小毒、常毒、無毒之藥，弗能蠲矣。醫之太原，《素問》一書而已，二十四卷，八十一篇，其間推原運氣之加臨，闡明經絡之標本，論病必歸其要，處治各得其宜，井然而有條，粲然而不紊。若天元紀大論、六元正紀大論、五常政大論、氣交變大論、至真要大論數篇，乃至精至微之妙道，誠萬世釋縛脫艱、全真導氣、拯黎元於仁壽、濟羸劣以獲安者之大典也。軒岐以下，代不乏人，扁鵲得其一二，演而述《難經》；皇甫士安次而為《甲乙》；楊上善纂而為《太素》。如全元起之解啟玄子之注所謂：源潔則流清，表端則形正。歷代之明醫也，獨有漢長沙太守張仲景者，揣本求源，探微賾隱，取其大、小、奇、偶之制定，以君、臣、佐、使之法，而作醫方焉，如桂枝湯、麻黃湯、大青龍湯、小青龍湯。論傷寒無汗為表實，傷寒自汗為表虛，表實者當發汗，不可服桂枝；表虛者當解肌，不可服麻黃。至於傷寒見風、傷風見寒等證，無汗者用以大青龍湯；有汗者投以桂枝麻黃各半湯，真千載不傳之秘，乃大聖亞聖之資，有繼往聖開來學之功也。漢唐以下學者，豈不欲涉其淵微之旨，矧《內經》之理深幽無徑可入也。如巢元方之作《病源》書，孫思邈之作《千金方》，蓋辭益繁而理愈昧，方彌廣而法失真，《內經》之書施用者鮮矣。及朱奉議宗長沙太守之論，編南陽活人之書，仲景訓陰陽為表裡，奉議解陰陽為寒熱，差之毫釐如燼火之至微，謬以千里如燎原之至惡。其活人也固多，其死人也不寡矣。大哉守真之劉子乎！要旨論、原病式二書既作，則《內經》之理，昭如日月之明；直格書、宣明論二書既作，則長沙之法，約如樞機之要。如改桂枝麻黃各半湯為雙解散，變十棗湯為三花神祐丸，其有功於聖門也，不淺矣！同時有張子和者出，明《內經》之大道，續河間之正源，與麻知幾講學，而作《儒門事親》之書，乃曰吐中有汗、瀉中有補，聖人止有三法，無第四者，乃不易之確論，至精之格言，於是有劉、張之派矣。若東垣老人，亦明《素問》之理，亦宗仲景之法，作《濟生拔粹》十書以傳於世，是以有王道霸道譬焉。明脈取權衡規矩，用藥體升降浮沉，知此則可入醫道矣。經曰：知其要者，一言而終，不知其要，流散無窮。又曰：知一為下工，知二為中工，知三為上工。上工者十全九，中工者十全八，下工者十全六，此之謂也。</p>
<p><u>伏羲氏</u></p>
<p>上古三皇中第一人也，後世所傳有天元玉冊。</p>
<p><u>神農氏</u></p>
<p>上古三皇中第二人也，後世所傳有本草一書。</p>
<p><u>黃帝氏</u></p>
<p>上古三皇中第三人也，有熊國君，小典之子，姓公孫，都涿鹿之丘，以土德王天下，造指南之車，殄滅蚩尤，號曰軒轅黃帝。與天師岐伯問答，而作《內經靈樞》《素問》二書。</p>
<p><u>扁鵲</u></p>
<p>盧國之醫，姓秦，名越人，號扁鵲。演《八十一難經》。</p>
<p><u>仲景</u></p>
<p>漢長沙太守張機，字仲景，號曰長川公。有《傷寒論》。</p>
<p><u>守真</u></p>
<p>金河間人氏劉完素，字守真，號曰宗真子。章宗皇帝三聘不起，御賜高尚先生。有《內經運氣要旨論》十萬余言，《素問玄機原病式》一帙，《習醫要用直格書》三卷，《醫方精要宣明論》二帙。</p>
<p><u>子和</u></p>
<p>金宛丘人氏張戴人是也。有《儒門事親》書三十篇，《十形三療》一帙，《治病百法》一帙，《三複指迷》一帙，《治法心要》一帙，《三法六門世傳方》一帙。</p>
<p><u>東垣</u></p>
<p>元初人也。李杲，字明之，號曰東垣老人。乃易水張潔古老人之門生也。有《濟生拔粹》十書。</p>
<p><u>標本運氣歌</u>　以下皆子和先生所作也。</p>
<p>少陽從本為相火，太陰從中濕土坐；厥陰從中火是家，陽明從中濕是我。太陽少陰標本從，陰陽二氣相包裹；風從火斷汗之宜，燥與濕兼下之可。萬病能將火濕分，掣開軒岐無縫鎖。</p>
<p><u>尋十二經水火分冶</u></p>
<p>肝膽由來從火治，三焦包絡都無異；脾胃常將濕處求，肺與大腸同濕類。腎與膀胱心小腸，寒熱臨時旋商議；惡寒表熱小膀溫，惡熱表寒心腎熾。十二經最端的，四經屬火四經濕，四經有熱有寒時。攻裡解表細消息，裡熱裡寒宜越竭，表熱表寒宜汁釋。濕同寒，火同熱，寒熱到頭無兩說，六分熱來壹分寒。寒熱中停真浪舌，熱寒格拒病機深，亢則害承乃制則，緊寒數熱脈正邪，標本求之真妙訣。休治風，休治燥，治得火時風燥了。當解表時莫攻裡；當攻裡時莫解表，表裡如或兩可攻，後先內外分多少。治濕無過似決川，此個筌蹄最分曉。感謝軒岐萬世恩，爭奈醯雞笑天小。</p>
<p><u>處治</u></p>
<p>病如不是當年氣，看與何年運氣同；只向某年求活法，方知都在至真中。</p>
<p><u>用藥</u></p>
<p>不讀本草，焉知藥性；專殢藥性，決不識病；假饒識病，未必得法；識病得法，工中之甲。能窮《素問》病受何氣，便知用藥當擇何味。不誦十二經絡，開口動手便錯；不通五運六氣，檢遍方書何濟。經絡明認得標，運氣明認得本。求得標，只取本，治千人，無一損。</p>
<p>道本一源，派分三歧。</p>
<figure>
<img alt="圖一">
</figure>
<p>學明三法，醫歸一理。</p>

<h2>推運氣第二</h2>
<p>夫五運者，金、木、水、火、土也；六氣者，風、火、暑、濕、燥、寒也。天干取運，地支取氣。天干有十，配合則為五運；地支十二，對待則為六氣。天氣始於甲，地氣始於子，天地相合則為甲子。故甲子者，干支之首也。天氣終於癸，地氣終於亥，天地相合則為癸亥。故癸亥者，干支之末也。陰陽相間，剛柔相須，是以甲子之後乙丑繼之，壬戌之後癸亥繼之，三十年為一紀，六十年為一周，太過不及，斯皆見矣。然以天干兄弟次序言之，甲乙，東方木也；丙丁，南方火也；戊己，中央土也；庚辛，西方金也；壬癸，北方水也。以其夫婦配合言之，甲與己合而化土；乙與庚合而化金；丙與辛合而化水；丁與壬合而化木；戊與癸合而化火。故甲己之歲，土運統之；乙庚之歲，金運統之；丙辛之歲，水運統之；丁壬之歲，木運統之；戊癸之歲，火運統之。詩曰：甲乙化土乙庚金，丁壬木位盡成林，丙辛便是長流水，戊癸離宮號曰心。然以地支循環之序言之，寅卯，屬春木也；己午，屬夏火也；申酉，屬秋金也；亥子，屬冬水也；辰戌丑未，屬四季土也。以其對衝之位言之，子對午，而為少陰君；火醜對未，而為太陰濕土；寅對申，而為少陽相火；卯對酉，而為陽明燥金；辰對戌，而為太陽寒水；己對亥，而為厥陰風木。故子午之歲，君火主之；丑未之歲，濕土主之；寅申之歲，相火主之；卯酉之歲，燥金主之；辰戌之歲，寒水主之；己亥之歲，風木主之。詩曰：子午少陰君火暑，丑未太陰濕土雨，寅申少陽相火炎，卯酉陽明燥金主，辰戌太陽司水寒，己亥厥陰風木舉。然五運有主運，有客運；六氣有主氣，有客氣。主運、主氣萬載而不易，客運、客氣每歲而迭遷。然則客運也，有太過焉，有不及焉。太過之年，甲、丙、戊、庚、壬，五陽干也；不及之年，謂乙、丁、己、辛、癸，五陰乾也。太過者其至先，不及者其至後。客氣也，有正化焉，有對化焉。正化之歲，謂午未寅酉辰亥之年也；對化之歲，謂子醜申卯戌己之年也。正化者令之實，對化者令之虛。假令甲子年，甲為土運，統主一年；子為君火，專司一歲。一期三百六十五日零二十五刻，正合乎周天三百六十五度四分度之一也。一期之中主運以位，而相次於下；客運以氣，而周流於上。主運者，木為初之運，火為第二運，土為第三運，金為第四運，水為第五運。客運者，假如甲己年，甲為土運，初之運即土也；土生金，二之運即金也；金生水，三之運即水也；水生木，四之運即木也；木生火，五之運即火也，每一運各主七十二日零五刻。太過之年，大寒前十三日交，名曰先天不及之年；大寒後十三日交，名曰後天平氣之年；正大寒日交，名曰齊天。一歲之內，主氣定守於六位，客氣循行於四時。主氣者，風為初之氣，火為二之氣，暑為三之氣，濕為四之氣，燥為五之氣，寒為終之氣。客氣者，假令子午年，少陰君火司天，陽明燥金司地，太陰濕土為天之左間，厥陰風木為天之右間，所以面南而命其位也；太陽寒水為地之左間，少陽相火為地之右間，所謂面北而命其位也；一氣在上，一氣在下，二氣在左，二氣在右。經曰：天地者，萬物之上下也；左右者，陰陽之道路也。地之左間為初之氣，天之右間為二之氣，司天為三之氣，天之左間為四之氣，地之右間為五之氣，司地為終之氣，每一氣各王六十日八十七刻半有奇。申子辰之年大寒日，寅初一刻交初之氣，至春分日子時之末交二之氣，至小滿日亥時之末交三之氣，至大暑日戌時之未交四之氣，至秋分日酉時之末交五之氣，至小雪日申時之末交終之氣，所謂一六天也。已酉醜之年大寒日，已初一刻交初之氣，至春分日卯時之末交二之氣，至小滿日寅時之末交三之氣，至大暑日丑時之末交四之氣，至秋分日子時之末交五之氣，至小雪日亥時之末交終之氣，所謂二六天也。寅午戌之年大寒日，申初一刻交初之氣，至春分日午時之末交二之氣，至小滿日已時之末交三之氣，至大暑日辰時之末交四之氣，至秋分日卯時之末交五之氣，至小雪日寅時之末交終之氣，所謂三六天也。亥卯未之年大寒日，亥初一刻交初之氣，至春分日酉時之末交二之氣，至小滿日申時之末交三之氣，至大暑日未時之末交四之氣，至秋分日午時之末交五之氣，至小雪日已時之未交終之氣，所謂四六天也。蓋因客運加於主運之上，主氣臨於客氣之下，天時所以不齊，民病所由生也。</p>
<figure>
<img alt="五運配五音圖">
</figure>
<p>角，音屬木，丁壬化之。丁，陰木也；壬，陽木也。丁為少角，壬為太角。木旺於春，觸物而生，有角之義也。角者，觸也。徵音屬火，戊癸化之。戊，陽火也，癸，陰火也。戊為太徵，癸為少徵。火旺於夏，物長已極，有止之義也。徵者，止也。宮音屬土，甲己化之。甲，陽土也；己，陰土也。甲為太宮，己為少宮。土旺於長夏，位在中央，有宮之義也。宮者，中也。商音屬金，乙庚化之。乙，陰金也；庚，陽金也。乙為少商，庚為太商。金旺於秋，萬物剛強，有商之義也。商者，強也。羽音屬水，丙辛化之。丙，陽水也；辛，陰水也。丙為太羽，辛為少羽。水旺於冬，陽氣屈而陰氣伸，有舒之義也。羽者，舒也。</p>
<figure>
<img alt="五運五星圖">
</figure>
<p>假令子午年六氣如此，余者以類推之。</p>
<p>在天之氣，三年一降，五年遷正司泉，降極復升。</p>
<p>在地之氣，三年一升，五年遷正司天，升極復降。</p>
<p>此圖言其六氣之定位也。經有南政、北政之說，其六氣之布令也。南政者，面南布政，以象君位，嚮明而治；北政者，面北布政，以象臣位，聽君之令。蓋六十年中，十年南政，余者皆北政也。何以言之？甲己之歲，土也。土為物之尊，五行之主，萬物非土無以生，五行非土無以備，貫統四時，寄王四季。故土運居中司天司泉之氣，皆面南而處尊也；余運居中司天司泉之氣，皆面北而處卑也。詩曰：到者司天進四地，陰陽上下定災危，後學醫流如曉得，逐年病體見根機，此之謂也。</p>
<figure>
<img alt="六氣正對化圖">
</figure>
<figure>
<img alt="六十年紀運圖">
</figure>
<figure>
<img alt="六氣配七十二候圖">
</figure>
<p>周天三百六十五度四分度之一，以為期歲之數也。故五日為一候，三候為一氣，二氣為一用，六十日為一氣，三月為一時，四時為一歲。經曰：不知年之所加，氣之盛衰，虛實之所起，不可以為工矣。</p>
<p><u>天符</u>　運氣相同，曰天符。</p>
<p>戊子、戊午、戊寅年，運氣皆火；丙辰、丙戌年，運氣皆水；己丑、己未年，運氣皆土；乙卯、乙酉年，運氣皆金；丁巳、丁亥年，運氣皆木。六十年中，有此十二年天符也。</p>
<p><u>順化</u>　天氣生運，曰順化。</p>
<p>甲子、甲午、甲寅、甲申年，火下生土也；壬辰、壬戌年，水下生木也；乙丑、乙未年，土下生金也；辛卯、辛酉年，金下生水也；癸巳，癸亥年，木下生火也。六十年中有此十二順化也。</p>
<p><u>天刑</u>　天氣克運，曰天刑。</p>
<p>庚子、庚午、庚寅、庚申年，火下剋金也；戊辰、戊戌年，水下剋火也；辛丑、辛未年，土下剋水也；丁卯、丁酉年，金下剋木也；己巳、己亥年，木下剋土也。六十年中，有此十二年天刑也。</p>
<p><u>小逆</u>　運生天氣，曰小逆。</p>
<p>壬子、壬午、壬寅、壬申年，木上生火也；庚辰、庚戌年，金上生水也；癸丑、癸未年，火上生土也；己卯、己酉年，土上生金也；辛巳、辛亥年，水上生木也。子臨父位，於理未當，六十年中，有此十二年小逆也。</p>
<p><u>不和</u>　運克天氣，曰不和。</p>
<p>丙子、丙午、丙寅、丙申年，水上剋火也；甲辰、甲戌年，土上剋水也；辛丑、辛未年，水上剋土也；癸卯、癸酉年，火上剋金也；己巳、己亥年，金上剋木也。六十年中，有此十二年不和也。</p>
<p><u>歲會</u>　運臨木氣之位，曰歲會。</p>
<p>子，水位也；丙子年水運臨之。午，火位也；戊午年火運臨之。卯，木位也；丁卯年木運臨之。酉，金位也；乙酉年金運臨之。辰戌丑未，土位也；甲辰、甲戌、己丑、己未年，土運臨之。六十年中，有此八年歲會也。</p>
<p><u>太乙天符</u>　（天符歲會相合，曰太乙天符。）</p>
<p>戊午、乙酉、己未、己丑，六十年中，有此四年太乙天符也。</p>
<p><u>支德符</u>　（運與四孟月同，曰支德符。）</p>
<p>寅屬木，春孟月也，壬寅年木運臨之；已屬火，夏孟月也，癸已年火運臨之；申屬金，秋孟月也，庚申年金運臨之；亥屬水，冬孟月也，辛亥年水運臨之。六十年中，有此四年支德符也。</p>
<p><u>干德符</u>　（運與文同日相合，曰干德符。）</p>
<p>甲與己合，乙與庚合，丙與辛合，丁與壬合，戊與癸合，一年遇此二干天地德合，亦為平氣之歲也。</p>
<p><u>同天符</u>　（太過之運加地氣，曰同天符。）</p>
<p>庚子、庚午年，運同司地燥金；壬寅、壬申年，運同司地風木；甲辰、甲戌年，運同司地濕土。六十年中，有此六年天符也。</p>
<p><u>同歲會</u>　（不及之運加地氣，曰同歲會。）</p>
<p>辛丑、辛未年，運臨司地寒水；癸卯、癸酉年，運臨司地君火；癸巳、癸亥年，運臨司地相火。六十年中，有此六年同歲會也。</p>
<p><u>甲己土運加臨圖</u></p>
<p>初之運　甲太宮　己少宮　濕土　加風木　二之運　乙少商　庚太商　燥金　加熱火客</p>
<p>三之運　丙太羽　辛少羽　寒水　加濕土運</p>
<p>四之運　丁少角　壬太角　風木　加燥金　五之運　戊太徵　癸少徵　熱火　加寒水</p>
<p><u>乙庚金運加臨圖</u></p>
<p>初之運　乙少商　庚太角　燥金　加風木　二之運　丙大羽　辛少羽　寒水　加熱火客</p>
<p>三之運　丁少角　壬太角　風木　加濕土運</p>
<p>四之運　戊太徵　癸少徵　熱火　加燥金　五之運　甲太宮　己少官　濕土　加寒水</p>
<p><u>丙辛水運加臨圖</u></p>
<p>初之運　丙太羽　辛少羽　寒水　加風木　二之運　丁少角　壬太角　風木　加熱火客　主</p>
<p>三之運　戊太徵　癸少徵　熱火　加濕土運</p>
<p>四之運　己少宮　甲太宮　濕土　加燥金　五之運　庚太商　乙少商　燥金　加寒水</p>
<p><u>丁壬水運加臨圖</u></p>
<p>初之運　丁少角　壬太角　風木　加風木　二之運　戊太徵　癸少徵　熱火　加熱火客</p>
<p>三之運　己少宮　甲太宮　濕土　加濕土運</p>
<p>四之運　庚太商　乙少商　燥金　加燥金　五之運　辛少羽　丙太羽　寒水　加寒水</p>
<p><u>戊癸火運加臨圖</u></p>
<p>初之運　戊太徵　癸少徵　熱火　加風木　二之運　己少宮　甲太宮　濕土　加熱火客　主</p>
<p>三之運　庚太商　乙少商　燥金　加濕土運　地</p>
<p>四之運　辛少羽　丙太羽　寒水　加燥金　五之運　壬少角　丁太角　風木　加寒水</p>
<p><u>子午之紀圖</u></p>
<p>主氣萬載而不易　主氣應地者靜</p>
<p>初之氣（太陽寒水）　天時（流水復冰　雪霜時降）　民病（腹痛清厥）　風</p>
<p>二之氣（厥陰風木）　天時（地起飄風）　民病（眩冒火）</p>
<p>三之氣（少陰君火）　天時（炎熾大作）　民病（疫癘盛行）　暑</p>
<p>上下加臨　主客勝負</p>
<p>四之氣（太陰濕土）　天時（雨水淋淫）　民病（濡瀉腫滿）　濕</p>
<p>五之氣（少陽相火）　天時（涼風愆期）　民病（瘧）　燥</p>
<p>終之氣（陽明燥金）　天時（寒氣肅殺）　民病（癥瘕）　火</p>
<p>客氣一歲而一遷　客氣應天者動</p>
<p><u>丑未之紀圖</u></p>
<p>主氣萬載而不易　主氣應地者靜</p>
<p>初之氣（厥陰風木）　天時（大風數舉云偃沙飛）　民病（強直支痛夏戾筋縮）　風</p>
<p>二之氣（少陰君火）　天時（暄熱）　民病（血溢血泄）　火</p>
<p>三之氣（太陰濕土）　天時（暑雨蒸溽）　民病（黃疸）　暑</p>
<p>上下加臨　主客勝負</p>
<p>四之氣（少陽相火）　天時（熱鬱淫雨）　民病（瘧痢濕）</p>
<p>五之氣（陽明燥金）　天時（大涼）　民病（咳逆）　燥</p>
<p>終之氣（太陽寒水）　天時（大寒凜冽）　民病（厥逆禁固）　寒</p>
<p>客氣一歲而一遷　客氣應天者動</p>
<p><u>甲申之紀圖</u></p>
<p>主氣萬載而不易　主氣應地者靜</p>
<p>初之氣（少陰君火）　天時（溫和風舉）　民病（掉眩）　風</p>
<p>二之氣（太陰濕土）　天時（雨降後暖）　民病（溫熱之喘）　火</p>
<p>三之氣（少陽相火）　天時（赤地炎蒸）　民病（暴病暴死）　暑</p>
<p>上下加臨　主客勝負</p>
<p>四之氣（陽明燥金）　天時（涼雨時降）　民病（瘧腫）　濕</p>
<p>五之氣（太陽寒水）　天時（霜降太涼）　民病（鬱熱之疾）　燥</p>
<p>終之氣（厥陰風木）　天時（雪霜風大起）　民病（目疾赤腫）　寒</p>
<p>客氣一歲而一遷　客氣應天者動</p>
<p><u>卯酉之紀圖</u></p>
<p>主氣萬載而不易　主氣應地者靜</p>
<p>初之氣（太陰濕土）　天時（雨作風舉）　民病（瀉腫眩暈）　風</p>
<p>二之氣（少陽相火）　天時（溫熱）　民病（疫癘大行）　火</p>
<p>三之氣（陽明燥金）　天時（雨水愆期天氣燥熱　民病（癰腫）　暑</p>
<p>上下加臨　主客勝負</p>
<p>四之氣（太陽寒水）　天時（雨雹不時）　民病（泄瀉）　濕</p>
<p>五之氣（厥陰風木）　天時（雲物不寧）　民病（強直）　燥</p>
<p>終之氣（少陰君火）　天時（雨雪愆期）　民病（中熱）　寒</p>
<p>客氣一歲而一遷　客氣應天者動</p>
<p><u>己亥之紀圖</u></p>
<p>主氣萬載而不易　主氣應地者靜</p>
<p>初之氣（少陽相火）　天時（暄暖）　民病（濕病）　風</p>
<p>二之氣（陽明燥金）　天時（萬物乾燥）　民病（諸熱之疾）　火</p>
<p>三之氣（太陽寒水）　天時（熱鬱）　民病（內熱）　暑</p>
<p>上下加臨　主客勝負</p>
<p>四之氣（厥陰風木）　天時（風雨交作）　民病（痹）　濕</p>
<p>五之氣（少陰君火）　天時（涼風衍期草木晚凋）　民病（瘡癢）　燥</p>
<p>終之氣（太陰濕土）　天時（雨雪交作寒風凜冽）　民病（痹厥）　寒</p>
<p>客氣一歲而一遷　客氣應天者動</p>
<p><u>己亥之紀圖</u></p>
<p>主氣萬載而不易　主氣應地者靜</p>
<p>初之氣（陽明燥金）　天時（草木晚發天氣反涼）　民病（兩肋痛）　風</p>
<p>二之氣（太陽寒水）　天時（天氣反寒）　民病（鬱熱）　火</p>
<p>三之氣（厥陰風木）　天時（風火交作）　民病（眩暈嘔逆）　暑</p>
<p>上下加臨　主客勝負</p>
<p>四之氣（少陰君火）　天時（蒸溽霖雨）　民病（瀉痢）　濕</p>
<p>五之氣（太陰濕土）　天時（淫潰）　民病（瀉腫）　燥</p>
<p>終之氣（少陽相火）　天時（蟄蟲將見流水不冰）　民病（暴熱之疾）　寒</p>
<p>客氣一歲而一遷　客氣應天者動</p>
<p>天五運六氣相摩相蕩，上加下臨，六十年之紀不能齊矣。太過之紀有五，木曰發生，火曰赫曦，土曰敦阜，金曰堅成，水曰流衍。不及之紀有五，木曰委和，火曰伏明，土曰卑監，金曰從革，水曰涸流。平氣之紀有五，木曰敷和，火曰升明，土曰備化，金曰審平，水曰靜順。太過，則乘己所勝，而侮所不勝。侮反受邪，寡於畏也。不及則勝己者來欺之，子必為母復仇也。</p>
<p>發生之紀謂壬子、壬午、壬寅、壬申、壬辰、壬戌六年也。歲木太過，風氣流行，脾土受邪，偃木飛沙，草木早生，歲星明見，民病腹痛濡瀉，飲食上支兩脅，鬲咽不通，胃脘當心而痛，甚則忽忽眩冒巔疾。</p>
<p>赫曦之紀，謂戊子、戊午、戊寅、戊申四年也。歲火太過，熱氣流行，肺金受邪，陽炎沸騰，山川赤地，災惑星明見，民病咳嗽喘逆，肺痿寒熱，血溢血泄，甚則身熱膚痛。</p>
<p>敦阜之紀，謂甲子、甲午、甲寅、甲申、甲辰、甲戌六年也。歲土太過，濕氣流行，腎水受邪，淫雨水潦，田牧土駒，鎮星明見，民病七疝鶩溏，甚則腹大腫滿。</p>
<p>堅成之紀，謂庚辰、庚戌二年也。歲金太過，燥氣流行，肝木受邪，草木晚生，不時霜降，太白星明見，民病脅痛，善恐如人將捕之，甚則皮膚皴揭。</p>
<p>流衍之紀，謂丙子、丙午、丙寅、丙申、丙辰、丙戌六年也。歲水太過，寒邪流行，心火受邪，雪霜凜冽，水澤冰堅，辰星明見，民病心懸如病飢，堅痞甚痛，甚則厥逆禁固。</p>
<p>委和之紀，謂丁丑、丁未、丁卯、丁酉四年也。歲木不及，燥氣妄行，肝反受邪，草木晚生，黃落調隕，太白星光芒，民病肋痛支滿；復則火令大舉，肺金受制，民病喘逆唾血。</p>
<p>伏明之紀，謂癸丑、癸未、癸卯、癸酉四年也。歲火不及，寒氣妄行，心反受邪，雪霜時降，寒氣凜冽，辰星光芒，民病吐利腥穢，食已不飢；復則濕令大舉，腎水受制，民病膝痛脛腫。</p>
<p>卑監之紀，謂己卯、己酉、己巳、己亥四年也。歲土不及，風氣妄行，脾反受邪，雨水愆期，大風數舉，歲星光芒，民病胃脘當心而痛；復則燥令大舉，肝木受制，民病脅痛。</p>
<p>從革之紀，謂乙巳、己亥二年也。歲金不及，熱氣妄行，肺反受邪，草木焦黃，天暑地熱，災惑星光芝，民病肺痿寒熱，咳血；復則寒令大舉，心火受制，民病厥心痛。</p>
<p>涸流之紀，謂辛丑、辛未、辛已、辛亥四年也。歲水不及，濕氣妄行，腎反受邪，陰雨淋潰，雪霜晚降，鎮星光芒，民病膝痛脛腫：復則風令大舉，脾土受制，民病腹痛濡瀉。</p>
<p>敷和之紀，謂丁巳、丁亥二年也。木本不及，上逢天符助之，得其平也，氣化均，民病少。</p>
<p>升明之紀，謂戊辰、戊戌二年也。火本太過，上逢天形克之，減而得其平也；癸巳、癸亥二年，火本不及，上逢順化，天氣生之，助而得其平也，氣化均，民病少。</p>
<p>備化之紀，謂己丑、己未二年，上逢太乙天符助之，得其平也，氣化均，民病少。</p>
<p>審平之紀，謂庚子、庚午二年上逢君火，庚寅、庚申二年上逢相火，天刑剋之，減而得其平也。乙丑、己未二年上逢順化生之；乙卯年逢天符，乙酉年逢太乙天符助之，得其平也，氣化均，民病少。</p>
<p>靜順之紀，辛卯、辛酉二年，上逢順化生之，得其平也，氣化均，民病少。</p>

<h2>明形氣第三</h2>
<p>天人之有生也，稟天地之陰陽，假父母之精血，交感凝結以為胞胎也。乾道成男，坤道成女。始自襁褓，以至髫齔，迨其成童，與夫壯年，豈易然哉！故一月之孕，有白露之稱；二月之胚，有桃花之譬；及其三月，先生右腎則為男，陰包陽也；先生左腎則為女，陽包陰也。其次腎生脾，脾生肝，肝生肺，肺生心，以生其勝己者，腎屬水，故五臟由是為陰。其次心生小腸，小腸生大腸，大腸生膽，膽生胃，胃生膀胱，膀胱生三焦，以生其己勝者，小腸屬火，六腑由是為陽。其次三焦生八脈，八脈生十二經，十二經生十二絡，十二絡生一百八十系絡，系絡生一百八十纏絡，纏絡生三萬四千孫絡，孫絡生三百六十五骨節，骨節生三百六十五大穴，大穴生八萬四千毛竅，則耳目、口鼻、四肢、百骸之身皆備矣。所謂四月形像具，五月筋骨成，六月毛髮生，正謂此也。至七月，則遊其魂而能動左手，八月遊其魄而能動右手，九月三轉身，十月滿足，母子分解。其中有延月生者，必生貴子；不足月日生者，必主貧薄之人。誕生之後，有變蒸之熱，長其精神，壯其骨髓，生其意智。三十二日一變蒸，生腎氣焉；六十四日二變蒸，生膀胱之氣焉，腎與膀胱屬水，其數一也。九十六日三變蒸，生心氣焉；一百二十八日四變蒸，生小腸之氣焉，心與小腸屬火，其數二也。一百六十日五變蒸，生肝氣焉；一百九十二日六變蒸，生膽氣焉，肝與膽屬木，其數三也。二百二十四日七變蒸，生肺氣焉；二百五十六日八變蒸，生大腸之氣焉，肺與大腸屬金，其數四也。二百八十八日九變蒸，生脾氣焉；三百二十日十變蒸，生胃氣焉，脾與胃屬土，其數五也。變蒸已畢，一期歲焉。齒生髮長，神智有異於前也。故曰：齒者骨之餘也，發者血之餘也，爪者筋之餘也，神者氣之餘也。籲！人身之難得者如此哉。方其幼也，有如水面之泡，草頭之露，氣血未定，易寒易熱，腸胃綿脆，易飢易飽；為母者調攝不得其宜，必不能免乎吐、瀉、驚、疳之病矣。及其長也，嗜欲既開，不能修養是以六氣迭侵於其外，七情交戰於其中，百憂累其心，萬事勞其形，一蝸之氣安能無病焉。小兒之瘡疹，大人之傷寒，尤其甚也。所以黃帝問於岐伯曰：余聞上古之人，春秋皆度百歲，而動作不衰；今時之人，年至半百而動作衰矣，時世異耶？人將失之耶？岐伯對曰：上古之人，其知道者，和於陰陽，法於術數，飲食有節，起居有常，不妄作勞，故能形與神俱，而盡終其天年，度百歲乃去。今時之人不然也，以酒為漿，以妄為常，以欲竭其精，以耗散其真，不知持滿，不時御神，務快其心，逆於生樂，起居無節，故半百而衰矣。是故聖人不治已病治未病，不治已亂治未亂。夫病已成而後藥之，亂已成而後治之，譬猶渴而穿井，鬥而鑄兵，不亦晚乎。</p>

<h2>五臟六腑之位</h2>
<p>五臟者，心、肝、脾、肺、腎也。六腑者，小腸、大腸、膽、胃、膀胱、三焦也。肺最居上，為諸臟之華蓋，六葉兩耳，主藏魄。心在肺下，其體半垂，如未開蓮花，上有七孔三毛，主藏神。心下為鬲，鬲下有胃，主藏水穀。胃左有肝，左三葉、右四葉，主藏魂。膽在肝之短葉間，有精汁三合。胃右有脾，主藏意。胃下為腹，大腸當臍，右回十六曲；小腸左回疊積十六曲，主傳溲便。二腸之下為臍，臍下為膀胱，主藏溺。背脊骨節第七椎之下有二腎，左者為腎，主藏志；右為命門，主藏精。故曰：臟者，藏也；腑者，聚也。</p>

<h2>五臟六腑之官</h2>
<p>心者，君主之官，神明出焉。肺者，相傅之官，治節出焉。肝者，將軍之官，謀慮出焉。腎者，作強之官，技巧出焉。脾胃者，倉廩之官，五味出焉。膽者，中正之官，決斷出焉。膽中者，臣使之官，喜樂出焉。小腸者，受盛之官，化物出焉。大腸者，傳道之官，變化出焉。膀胱者，州都之官，津液藏焉，氣化則能出矣。三焦者，決瀆之官，水道出焉。凡此十二官者，不得相失也。主明則下安，以此養生則壽，沒世不殆，以為天下則昌。主不明則十二官危，使道閉塞而不通，以此養生則殃，以為天下者，其宗大危，戒之戒之。故曰：心者，一身之主宰，萬事之根本也。</p>

<h2>五臟之候</h2>
<p>目者，肝之外候，肝氣通於目，目和則辨白黑矣。鼻者，肺之外候，肺氣通於鼻，鼻和則知香臭矣。舌者，心之外候，心氣通於舌，舌和則知五味矣。口者，脾之外候，脾氣通於口，口和則知穀味矣。耳者，腎之外候，腎氣通於耳，耳和則知五音矣。</p>

<h2>五臟之竅</h2>
<p>東方青色，入通於肝，開竅於目。南方赤色，入通於心，開竅於舌。中央黃色，入通於脾，開竅於口。西方白色，入通於肺，開竅於鼻。北方黑色，入通於腎，開竅於耳及二陰。故清陽出上竅，及氣道呼吸之間；濁陰出下竅，乃便溺傳瀉之所。</p>

<h2>五臟所生</h2>
<p>肺主聲，入心為言，入肺為呼，入脾為歌，入腎為呻吟，自入為哭。肝主色，入肺為白，入心為赤，入脾為黃，入腎為黑，自入為青。心主臭，入肝為臊臭，入肺為腥臭，入脾為香臭，入腎為腐臭，自入為焦臭。脾主味，入心為苦，入肝為酸，入肺為辛，入腎為咸，自入為甘。腎主液，入心為汗，入肝為淚，入肺為涕，入脾為涎，自入為唾。</p>

<h2>五臟所養</h2>
<p>肺養皮毛，心養血脈，脾養肌肉；肝養筋膜，腎養骨髓。</p>

<h2>四海</h2>
<p>腦者，髓之海也。胸者，氣之海也。衝脈，血之海也。脾胃，水穀之海也。</p>

<h2>八溪</h2>
<p>肉之小會曰溪，謂二肘、二膝、四腕也。</p>

<h2>一谷</h2>
<p>肉之大會曰谷，臀是也。</p>

<h2>藏府配經絡圖</h2>
<figure>
<img alt="藏府配經絡圖">
</figure>
<p>周流氣血不已</p>
<p>一經一絡各應陰陽之象</p>

<h2>水穀化精神圖</h2>
<figure>
<img alt="水穀化精神圖">
</figure>

<h2>十二經絡</h2>
<p>（徑而直者為經支而橫者為絡）</p>
<p>手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈屬肺，從肺系橫出腋下，下循臑內，行少陰心主之前，下肘中，循臂內上骨下廉，入寸口，上循魚際，出大指之端；其支者，從腕後直出次指內廉，出其端，次注手陽明。</p>
<p>手陽明之脈，起於大指次指之端，循指上廉，出合谷兩骨之間，上入兩筋之中，循臂上廉，入肘外廉，上臑外前廉，上肩，出髃骨之前廉，上出於柱骨之會上，下入缺盆，絡肺，下膈，屬大腸；其支者，從缺盆上頸，貫頰，下入下齒中，還出俠口，交人中，左之右，右之左，上俠鼻孔，次注足陽明。</p>
<p>足陽明之脈，起於鼻交頞中，傍約太陽之脈，下循鼻外，入上齒中，還出俠口環唇，下交承漿，卻循頤後下廉，出大迎，循頰車，上耳前，過客主人，循髮際，至額顱；其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈，屬胃，絡脾；其直者，從缺盆下乳內廉，下俠臍，入氣街中；其支者，起於胃口，下循腹裡，下至氣街中而合，以下髀關，抵伏兔，下膝臏中，下循脛外廉，下足跗，入中指內間；其支者，下廉三寸而別，下入中指外間；其支者，別跗上，入大指間，出其端，次注足太陰。</p>
<p>足太陰之脈，起於大指之端，循指內側白肉際，過核骨後，上內踝前廉，上腨內，循脛骨後，交出厥陰之前，上膝股內前廉，入腹屬脾絡胃，上膈，俠咽，連舌本，散舌下；其支者，復從胃，別上膈，注心中，次注手少陰。</p>
<p>手少陰之脈，起於心中，出屬心系，下膈絡小腸；其支者，從心系上俠咽，系目系；其直者，後從心系卻上肺，下出腋下，下循臑內後廉，行太陰心主之後，下肘內，循臂內後廉，抵掌後銳骨之端，入掌內後廉，循小指之內，出其端，次注手太陽。</p>
<p>手太陽之脈，起於小指之端，循手外側上腕，出踝中，直上循臂骨下廉，出肘內側兩筋之間，上循臑外後廉，出肩解，繞肩胛，交肩上，入缺盆，絡心，循咽下膈，抵胃屬小腸；其支者，從缺盆循頸上頰，至目銳眥，卻入耳中；其支者，別頰上䪼抵鼻，至目內眥，斜絡於顴，次注足太陽。</p>
<p>足太陽之脈，起於目內眥，上額，交巔；其支者，從巔至耳上角；其直者，從巔入絡腦，還出別下項，循肩髆內，俠脊，抵腰中，入循膂，絡腎，屬膀胱；其支者，從腰中下俠脊，貫臀，入膕中；其支者，從髆內左右，別下，貫胛，俠脊內，過髀樞，循髀外，從後廉，下合膕中，以下貫踹內，出外踝之後，循京骨，至小指外側，次注足少陰。</p>
<p>足少陰之脈，起於小指之下，斜越足心，出於然谷之下，循內踝之後，別入跟中，以上踹內，出膕內廉，上股內後廉，貫脊，屬腎，絡膀胱；其直者，從腎上貫肝膈，入肺中，循喉嚨，俠舌本；其支者，從肺出絡心，注胸中，次注手厥陰。</p>
<p>手厥陰之脈，起於胸中，出屬心包，下膈，歷絡三焦；其支者，循胸出脅，下腋三寸，上抵腋，下循臑內，行太陰少陰之間，入肘中，循臂內，入掌中，循中指出其端；其支者，從掌中，循小指次指出其端，次注手少陽。</p>
<p>手少陽之脈，起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘，循臑外，上肩，交出足少陽之後，入缺盆，布膻中，散絡心包，下膈，循屬三焦；其支者，從膻中上出缺盆，上項，系耳後直上，出耳上角，以屈下頰抵䪼；其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳眥，次注足少陽。</p>
<p>足少陽之脈，起於目銳眥，上抵頭角，下耳後，循頸，行手少陽之前，至肩上，卻交出手少陽之後，入缺盆；其支者，從耳後入耳中，出走耳前，至目銳眥之後；其支者，別銳眥，下大迎，合於手少陽，抵於䪼，下加頰車，下頸，合缺盆，以下胸中，貫膈，絡肝，屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中；其直者，從缺盆下腋，循胸，過季脅，下合髀厭中以下，循髀少陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入小指次指之間；其支者，別跗上，入大指之間，循大指岐骨內，出其端，還貫爪甲，出三毛，次注足厥陰。</p>
<p>足厥陰之脈，起於大指叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上膕內廉，循股陰，入毛中，過陰器，抵小腹，俠胃，屬肝，絡膽，上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔；其支者，從目系下頰裡，環唇內；其支者，後從肝別貫膈，上注肺，次注手太陰。</p>

<h2>奇經八脈</h2>
<p>督脈者，起於下極之腧，並於脊裡，上至風府，入屬於腦。</p>
<p>任脈者，起於中極之下，以上毛際，循腹裡，上關元，至咽喉，上頤，循面，入目，絡舌。</p>
<p>衝脈者，起於氣衝，並足陽明之經，俠臍上行，至胸中而散。</p>
<p>帶脈者，起於季脅，回身一周。</p>
<p>陽蹻脈者，起於跟中，循外踝，上行入風池。</p>
<p>陰蹻脈者，亦起於跟中，循內踝，上行至咽喉，交貫衝脈。</p>
<p>陽維，起於諸陽之會。</p>
<p>陰維，起於諸陰之交。</p>

<h2>臟腑配五行圖</h2>
<p>五臟屬陰——陽干為兄</p>
<p>甲——膽——乙肝——東方木</p>
<p>丙——小腸——丁心——南方火</p>
<p>戊——胃——己脾——中央土</p>
<p>庚——大腸——辛肺——西方金</p>
<p>壬——膀胱——癸腎——北方水</p>
<p>六腑屬陽</p>
<p>陰乾為弟</p>
<p>相合而為表裡</p>

<h2>經絡配四時圖</h2>
<p>天非純陽，亦有三陰，天以陽生陰長，而為春夏。</p>
<p>寅（手少陽三焦經）　巳（手厥陰心包絡經）</p>
<p>春（卯手陽明大腸經）　生—夏　（午手少陰心之經長絡應天手之經）</p>
<p>辰（手太陽小腸經）　未（手太陰肺之經）</p>
<p>天時十二月　人身十二經　地支十二位</p>
<p>申（足少陽膽之經）　亥（足厥陰肝之經）</p>
<p>秋酉（足陽明胃之經）　殺—冬　子（足少陰腎之經）　藏（絡應地足之經）</p>
<p>戌（足太陽膀胱經）　醜（足太陰脾之經）</p>
<p>地非純陰，亦有三陽，地以陽殺陰藏，而為秋冬。</p>

<h2>評脈法第四</h2>
<p>脈者，何也？莫非氣乎？氣為衛，衛行脈外；莫非血乎？血為榮，榮行脈中。然則脈之一字，果何物乎？嘗試原之，必有說矣。蓋人之妙軀渾然中處，吾身之氣血即天地之陰陽也。天地之陰陽，所以一升一降者，必有主宰者；人身之氣血，所以一周一轉者，必有統銜者焉，知此則知脈矣。古之𮕟字，從血從瓜，所以使氣血各依分派而行經絡也。今之脈字，從月從永，所以使肌肉以之長久而保天年也。脈者有三，一曰命之本，二曰氣之神，三曰形之道，經所謂天和是矣。至於折一肢、瞽一目，亦不能害生，而脈不可須臾失矣，失則絕命害生也。春之生也，吾之脈與天地之氣而同升。夏之長也，吾之脈與天地之氣而同浮。秋之殺也，吾之脈與天地之氣而同降。冬之藏也，吾之脈與天地之氣而同沉。分而言之，曰氣、曰血、曰脈；總而言之，唯脈運行氣血而已矣。是以氣血盛則脈盛，氣血衰則脈衰，氣血和則脈平，氣血亂則脈病，氣血壯則脈大，氣血微則脈小，氣血熱則脈數，氣血寒則脈遲，長人則脈長，短人則脈短，性緊則脈緊，性緩則脈緩，室女尼冠則脈濡，嬰兒稚子則脈急。脈為氣血之體，氣血乃脈之用也。然則氣血能使脈之盛衰又得以致焉，蓋因谷入於胃，脈道乃行。穀氣多，則氣血榮昌，脈亦盛矣；穀氣少，則氣血微弱，脈亦衰矣。故經曰：四時以胃氣為本，脈無胃氣則死矣。論而至此，脈之一字，豈非太乙天真之元氣乎。</p>

<h2>三部九候圖</h2>
<p>五行循環相生，周而復始，有如子母之親</p>
<figure>
<img alt="圖二">
</figure>
<p>六部對待相剋，左剛右柔，有若夫婦之別</p>
<p>三部者，寸關尺也。九候者，浮中沉也。寸應天，為上部；關應人，為中部；尺應地，為下部。一部之中，各有浮中沉三候，浮以象天，中以象人，沉以象地，三三如九，故曰三部九候也。然則寸關尺之名，何以言之？蓋人手腕後高骨為關；從關至魚際，得同身之一寸，故名曰寸部；從關至尺澤穴，得同身之一尺，故名曰尺部。寸部屬陽，實得寸內九分，陽數九也。尺部屬陰，實得尺內一寸，陰數十也。陽出陰入，以關為界，故名曰關部。然則浮中沉之名，何以取之？蓋三部之中，六府之脈常浮，府屬陽也；五藏之脈常沉，藏屬陰也；胃氣之脈常在沉浮之中，胃為主藏，六府之本也；輕手診之為浮候；重手診之為沉候；不重不輕診之為中候。故診法常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，乃可診之。先令病人端身默坐，為醫者當澄心息慮。初以中指揣按高骨關位，次下前後二指輕按消息之，中按消息之，重按消息之。然他醉莫與診視，自醉莫診他人。或有病人遠來，曾乘車而坐舟，或騎驢而跨馬，必待憩歇，久之方與診視，終不及平旦為準也。然寸部以應上焦，心肺居上也；關部以應中焦，肝脾居中也；尺部以應下焦，腎命居下也。左寸心與小腸，動脈之位君火也。右寸肺與大腸，動脈之位燥金也。左關肝與膽，動脈之位風木也。右關脾與胃，動脈之位濕土也。左尺腎與膀胱，動脈之位寒水也。右尺命門與三焦，動脈之位相火也。然以循環之序言之，則左尺水生左關木，左關木生左寸火，左寸火接右尺火，右尺火生右關土，右關土生右寸金，右寸金生左尺水，生生之意不絕，有子母之親也。然以對待之位言之，則左寸火克右寸金，左關木克右關土，左尺水克右尺火，左剛右柔，有夫婦之別也。然左手屬陽，右手屬陰，左寸君火以尊而在上，右尺相火以卑而在下，有君臣之道也。三部之中，有此自然之理，學醫者不可不盡心乎。</p>

<h2>四時平脈應天運圖</h2>
<figure>
<img alt="四時平脈應天運圖">
</figure>
<p>天之陰陽，左升而右降，上浮而下沉，所以為四時之序也。人之氣血，春升而秋降，夏浮而冬沉，所以為四時之脈也。四時之序，謂生長化收藏也。四時之脈，謂弦鉤緩毛石也。春三月，天氣溫和，萬物發生，肝經木旺，脈來輕虛而滑，端直以長，故曰弦。夏三月，天氣暑熱，萬物盛長，心經火旺，脈來盛去衰，前屈後居，故曰鉤。秋三月，天氣清涼，萬物凋零，肺經金旺，脈來輕虛以浮，故曰毛。冬三月，天氣凜冽，萬物閉藏，腎經水旺，脈來沉濡而滑，故曰石。《經》曰：春日浮，如魚之在波；夏日在膚，泛泛乎萬物有餘；秋日下膚，蟄蟲將去；冬日在骨，蟄蟲周密，君子居室。以其脈應天地之運，所以有規矩權衡之譬也。應時而見曰太平，過曰病，不及曰病，反時而見曰死。謂春得秋脈，秋得夏脈，夏得冬脈，冬得長夏脈，長夏得春脈，五行相剋，鬼賊之脈見也。脈有胃氣曰平，故曰微弦、微鉤、微毛、微石，五臟兼胃氣而見也。脈無胃氣曰死，故真肝脈至，中外急，如循刀刃責責然，如按琴瑟弦，色青白不澤，毛折，乃死。真心脈至，堅如摶，如循薏苡子累累然，色赤黑不澤，毛折，乃死。真肺脈至，大而浮，如以毛羽中人膚，色白赤不澤，毛折，乃死。真腎脈至，搏而絕，如指彈石劈，然色黑黃不澤，毛折，乃死。真脾脈至，如屋漏雀啄，色黃青不澤，毛折，乃死，是不兼胃氣也。故人以脈氣為宗，以胃氣為本也。</p>

<h2>氣血流轉分晝夜圖</h2>
<figure>
<img alt="氣血流轉分晝夜圖">
</figure>

<h2>司天不應脈圖</h2>
<figure>
<img alt="司天不應脈圖">
</figure>

<h2>男子尺脈常弱圖</h2>
<figure>
<img alt="男子尺脈常弱圖">
</figure>

<h2>女子尺脈常盛圖</h2>
<figure>
<img alt="女子尺脈常盛圖">
</figure>
<p>經曰：天地者，萬物之父母也；陰陽者，血氣之男女也。男子負陰而抱陽，女子負陽而抱陰。南方陽也，北方陰也。男子面南而生，則兩寸在南而得其陽，故寸脈洪大，而尺脈微弱也。女子面北而生，則兩寸在北而得其陰，故寸脈微弱，尺脈洪大也。男得女脈為不足，女得男脈為太過。《脈訣》云：女人反此背看之，尺脈第三同斷病，正謂此也。</p>

<h2>六部主位圖</h2>
<figure>
<img alt="六部主位圖">
</figure>
<p>經曰：冬至之後得甲子，少陽王，其脈乍大、乍小、乍短、乍長。蓋冬至之後，若得第一甲子，乃大寒中氣日也。自大寒至春分六十日，正初之氣分也；其時草木方生，風令皷折，萬物未有定象，故脈大小長短不一也。復得甲子，陽明旺，其脈浮大而短，乃第二甲子，正春分至小滿六十日二之氣分也；其時草木雖生而未茂盛，陽氣清明，故脈浮大而卻短也。復得甲子，太陽旺，其脈洪大而長，乃第三甲子，正小滿至大暑六十日三之氣分也；其時萬物茂盛，陽氣極熱，故脈洪大而又長也。復得甲子，太陰旺，其脈緩大而長，乃第四甲子，正大暑至秋分六十日四之氣分也；其時濕熱變作，林木津潤，故脈緩大而長也。復得甲子，少陰旺，其脈緊細而微，乃第五甲子，正秋分至小雪六十日五之氣分也；其時草木凋零，天地肅殺，故脈紫細而微也。復得甲子，厥陰旺，其脈沉短以敦，乃第六甲子，正小雪至大寒六十日終之氣分也；其時萬物閉密，陽氣伏藏，故脈沉而短，反敦厚也。</p>

<h2>六氣客脈圖</h2>
<figure>
<img alt="六氣客脈圖">
</figure>
<p>六步主位之脈，一定而不移，合乎四時之氣候也。六分客氣之脈，一換而即遷，加乎四時之氣候也。然主勝則逆，客勝則從，且今歲丁酉太陰濕土居初之氣分，若主氣風木旺，則人脈當弦；若客氣濕土旺，則人脈當緩，推此可知餘歲矣。又如己亥年陽明燥金居初之氣分，若主氣風木旺，則天氣溫和，人脈當弦；若客氣燥金旺，則天氣清涼，人脈當澀。粗工不識氣運之加臨，不察主客之勝負，便以為春得秋脈，金剋木而當死，可謂謬矣籲。刻舟而求劍，膠柱而調瑟，豈可與言醫哉。</p>

<h2>婦人陰搏陽別有子脈圖</h2>
<figure>
<img alt="婦人陰搏陽別有子脈圖">
</figure>

<h2>小兒食指辨三關色圖</h2>
<figure>
<img alt="命關　氣關　風關">
</figure>
<p>小兒乳抱之時，未能飲食，不可診脈，但以食指三節為三關辨驗之。黃赤為熱，青黑為痛，白為寒。見於氣關者，主在內之疾；見於風關者，主在外之疾；見於命關者，不治。</p>

<h2>脈位輕重</h2>
<p>初持脈，如三菽之重，與皮毛相得，浮短而澀者，肺脈也；如六菽之重，與血脈相得，浮大而散者，心脈也；如九菽之重，與肌肉相得，中而和緩者，脾脈也；如十二菽之重，與筋相平，沉弦而長者，肝脈也；按之至骨，沉濡而滑者，腎脈也。</p>

<h2>脈息遲數</h2>
<p>人一呼脈二動，一吸脈二動，呼吸定息脈又一動。蓋呼出心與脈，吸入腎與肝，呼吸之間脾受穀味也。故一息脈五動曰平，五臟俱有氣也。一息脈六動曰數，數則為熱。一息脈三動曰遲，遲則為寒。脈來數，而時一止後來曰促，主積聚、氣痞、憂思所成。脈來緩，而時一止後來曰結，主傷寒熱痢，下之則平也。脈動而中止，不能自還，因而後動曰代，代者死脈也。《脈經》曰：脈一動一止者，兩日死；脈兩動一止者，四日死；脈三動一止者，六日死；脈四動一止者，八日死；脈五動一止者，十日死；脈十動一止者，一年後春草生而死；二十動一止者，二年後清明節而死；三十動一止者，三年後立秋節而死；四十動一止者，四年後小麥熟而死；五十動一止者，五年後草枯水寒時而死。聖人斷生死之訣，有此徵驗，乃不傳之秘也。</p>

<h2>七表屬陽</h2>
<figure>
<img alt="圖三">
</figure>
<p>浮脈者，輕手乃得，重手不見，動在肌肉以上，曰浮。浮以候表，脈見諸陽為表熱；諸陰為表寒，又為風、為氣盛、為血虛。</p>
<figure>
<img alt="圖四">
</figure>
<p>芤脈者，浮大而軟，按之中空，兩邊實，曰芤。芤主熱盛失血，寸芤則吐血，微則衄；關芤則腸癰下血；尺芤則大便血，微則小便血，甚則俱下。</p>
<figure>
<img alt="圖五">
</figure>
<p>滑脈者，往來前卻，流利如珠，浮中如有力，與數相似，曰滑。滑為熱，為伏痰，為宿食，為吐逆，為經閉。</p>
<figure>
<img alt="圖六">
</figure>
<p>實脈者，大而長沉，沉浮皆得其數，曰實。實為甚熱，為嘔，為痛，為喘。</p>
<figure>
<img alt="圖七">
</figure>
<p>弦脈者，如張弓弦，按之不移曰弦，為風，為勞，為拘急，為脅痛。</p>
<figure>
<img alt="圖八">
</figure>
<p>緊脈者，按之如轉索之無常，曰緊。緊脈主痛；與實數相兼，則為熱痛；與微細相兼，則為寒痛。</p>
<figure>
<img alt="圖九">
</figure>
<p>洪脈者，極大而數，舉按滿指，狀如群波之湧，曰洪。洪主陽盛熱極。</p>

<h2>八里屬陰</h2>
<figure>
<img alt="圖十">
</figure>
<p>微脈者，若有若無，極細而軟，曰微。多兼於遲，主於陰寒，或傷寒蓄熱在裡。脈道不利，亦見微細濡弱之脈，不可以為寒，當以標本別之。</p>
<figure>
<img alt="圖十一">
</figure>
<p>沉脈者，重手乃得，輕手不見，動在肌肉以下，曰沉。沉為里，為水，為寒。</p>
<figure>
<img alt="圖十二">
</figure>
<p>緩脈者，比浮而大，縱緩不緊，似遲而小疾，曰緩。緩為傷風自汗，為眩暈、不仁。</p>
<figure>
<img alt="圖十三">
</figure>
<p>澀脈者，細而遲，往來難且散，如刀刮竹皮，曰澀。澀主液、血衰，亦主心痛。</p>
<figure>
<img alt="圖十四">
</figure>
<p>遲脈者，脈來三至，日遲。遲則為寒；或傷寒亡液過極，脈亦遲也。</p>
<figure>
<img alt="圖十五">
</figure>
<p>伏脈者，極重指按之著骨乃得，曰伏。伏三伏痰為留飲，為畜水，為溏泄。</p>
<figure>
<img alt="圖十六">
</figure>
<p>濡脈者，極軟而浮細，曰濡。為自汗，為氣弱。</p>
<figure>
<img alt="圖十七">
</figure>
<p>弱脈者，極軟而細沉，曰弱。弱為氣血俱虛，形氣不足。</p>

<h2>斷生死訣</h2>
<p>汗出發潤，喘不休者，肺先絕也。</p>
<p>陽反獨留，形體如煙燻，直視搖頭者，心先絕也。</p>
<p>唇吻反青，四肢漐習者，肝先絕也。</p>
<p>環口黧黑，柔汗發黃者，脾先絕也。</p>
<p>溲便遺失，狂言，目反直視者，腎先絕也。</p>
<p>汗出如油，喘不休，水漿不下，形體不仁，乍靜乍亂者，命門絕也。</p>
<p>陽氣前絕，陰氣後竭，其人死，身色必青。</p>
<p>陰氣前絕，陽氣後竭，其人死，身色必赤，腋下溫，心下熱也。</p>

<h1>卷下</h1>

<h2>察病機第五</h2>
<p><u>五運主病</u></p>
<p>諸風掉眩，皆屬肝木。</p>
<p>掉：搖也；眩：昏亂旋運也，風主動故也。所以風氣甚而頭目眩運者，由風木旺，必是金衰不能制木，而木復生火，風火皆屬陽，多為兼化，陽主乎動，兩動相搏則為之旋轉。故火本動也，焰得風，自然旋轉。如春分至小滿而為二之氣分，風火相搏，則多起飄風，俗謂之旋風是也，四時皆有之。由五運六氣千變萬化，沖蕩擊搏，推之無窮，安得失時而便謂之無也，但有微甚而已。人或乘車、躍馬、登舟、環舞，其動不止，而左右紆曲。《經》曰：曲直動搖，風之用也，眩運而嘔吐者，風熱甚故也。</p>
<p>諸痛癢瘡瘍，皆屬心火。</p>
<p>人近火氣者，微熱則癢，熱甚則痛，附近則灼而為瘡，皆火之用也。或癢痛如針輕刺者，猶飛迸火星灼之然也，癢者美疾也。故火旺於夏，而萬物蕃鮮榮美也，炙之以火，漬之以湯，而癢轉甚者，微熱之所使也。因而癢去者，熱令皮膚寬緩，腠理開通，陽氣得泄，熱散而去故也。或夏熱皮膚癢，而以冷水沃之不去者，寒能收斂，腠理閉密，陽氣鬱結不能散越，怫熱內作故也。癢得爬而解者，爬為火化，微則亦能令癢，爬令皮膚辛辣，而屬金化辛能散，故金化見而火力分解矣。或云痛為實，癢為虛，非謂虛為寒也，正謂熱之微甚也。或疑瘡瘍皆屬火熱，而反腐出膿水者何也？猶穀肉果菜，熱極則腐爛而潰為汗水也。潰而腐爛者，水之化也。所謂五行之理，過極，則勝己者反來制之，故火熱過極，則反兼於水化。又如鹽能固物，令不腐爛者，鹹寒水化，制其火熱，使不過極，故得久固也。萬物皆然。</p>
<p>諸濕腫滿，皆屬脾土。</p>
<p>地之體也，土濕過極則痞塞腫滿，物濕亦然，故長夏濕土，則庶物隆盛也。</p>
<p>諸氣膹郁、病痿，皆屬肺金。</p>
<p>膹：膹滿也；郁：謂奔迫也；痿：謂手足痿弱，無力以運動也。大抵肺主氣，氣為陽，陽主輕清而升，故肺居上部，病則其氣膹滿，奔迫不能上升，至於手足痿弱，不能運動。由肺金本燥，燥之為病，血液衰少，不能榮養百骸故也。《經》曰：目得血而能視，掌得血而能握，指得血而能攝，足得血而能步，故秋金旺則霧氣蒙郁，而草木萎落。病之象也，萎猶痿也。</p>
<p>諸寒收引，皆屬腎水。</p>
<p>收斂引急，寒之用也，故冬寒則拘縮矣。</p>
<p><u>六氣為病</u></p>
<p>諸暴強直，支痛緛戾，裡急筋縮，皆屬於風。（厥陰風木，乃肝膽之氣也。）暴：卒也。強直：堅勁也。支痛：支持也，謂堅固支持，筋攣不柔而痛也。緛：縮也。戾：乖戾也，謂筋縮裡急，乖戾失常而病也。然燥金主於緊斂，短縮勁切，風木為病反見燥金之化者，由亢則害，承乃制也。況風能勝濕而為燥也，風病勢甚而成筋緩者，燥之甚也，故甚者皆兼於燥也。</p>
<p><u>熱類</u></p>
<p>諸病喘嘔，吐酸，暴注下迫，轉筋，小便渾濁，腹脹大，鼓之如鼓，癰疽瘍疹，瘤氣結核，吐下霍亂，瞀郁腫脹，鼻窒鼽衄，血溢血泄，淋閉，身熱惡寒，戰慄驚惑悲笑，譫妄，衄衊血汗，皆屬於熱。（少陰君火之熱，乃真心小腸之氣也。）</p>
<p>喘：火氣甚為夏熱；衰為冬寒。故病寒則氣衰而息微；病熱則氣盛而息粗，而為喘也。</p>
<p>嘔：胃膈熱甚則為嘔，火氣炎上之象也。吐酸者，肝木之味也，由火盛制金，不能平木，而肝木自甚，故為酸也。如飲食熱，則易於酸矣。或言吐酸為寒者，誤也。且如酒之味苦而性熱，能養心火，故飲之則令人色赤氣粗，脈洪大而數，語澀語妄，歌唱悲笑，喜怒如狂，冒昧健忘，煩渴嘔吐，皆熱證也。其吐必酸，為熱明矣。況熱則五味皆厚，經曰：在地為化，化生五味。故五味熱食則味皆厚也，是以肝熱則口酸，心熱則口苦，脾熱則口甘，肺熱則口辛，腎熱則口咸，或口淡者胃熱也。胃屬土，土為萬物之母，胃為五臟之本。故傷生冷堅硬之物，則令人噫醋吞酸，猶寒傷皮毛，能令陽氣壅滯，而為病熱也。俗醫妄以為冷，主溫和脾胃，而獲愈者，猶傷寒用桂枝麻黃藥發表令汗出而愈也。若久吐酸不已，則不宜溫之，當以寒藥下之，後以涼藥調之。所以中酸而不宜食油膩之物者，蓋因能令氣之壅塞也。</p>
<p>暴注：卒瀉也，腸胃熱甚而傳化失常，火性疾速故也。</p>
<p>下迫：裡急後重也，火能燥物，能令下焦急迫也。</p>
<p>轉筋：熱燥於筋而筋轉也。或言轉筋為寒者，誤也。所謂轉者，動也，陽動陰靜，熱證明矣。霍亂吐瀉之人，必有轉筋之證。大法吐瀉煩渴為熱，不渴為寒，霍亂轉筋而不渴者，未之有也。或曰以溫湯漬之則愈，以冷水沃之則劇，何也？蓋溫湯能令腠理開發，熱氣消散，轉筋即止；冷水能令腠理閉密，熱氣鬱塞，轉筋不止。世俗見溫湯漬之而愈，妄疑為寒也。</p>
<p>小便渾濁：天氣寒則水清潔，天氣熱則水渾濁，如清水為湯則自白濁也。</p>
<p>腹脹大鼓之如鼓：氣為陽，熱盛則氣盛，故腹脹滿也。癰：淺而大也。經曰：熱勝血則為癰膿也。</p>
<p>疽：深而惡也。</p>
<p>瘍：有頭，小瘡也。</p>
<p>疹：浮小，癮疹也。</p>
<p>瘤：氣赤瘤丹，熛熱勝氣也。</p>
<p>結核：熱氣鬱結，堅硬如果中核也，不必潰發，但令熱氣散，自然消也。</p>
<p>吐下霍亂：三焦為水穀傳化之道路，熱氣甚則傳化失常，而吐瀉霍亂也。或言吐瀉為寒者，誤矣。大法吐瀉煩渴為熱，不渴為寒。或熱吐瀉始得之，亦有不渴者；若不止則亡液，而後必渴。或寒本不渴，若亡津液過多，則亦燥而渴也。大抵完穀不化而色白，吐利腥穢，澄徹清冷，小便清白不澀，身涼不渴，脈沉細而遲者，寒證也。如小兒病熱吐利，乳未消而色尚白，不可便言為寒，當以飲食藥物之色別之，若穀雖不化，而色變非白，小便赤黃，吐利煩渴，脈洪大而數者，熱證也。蓋瀉白為寒，余皆為熱瀉。白者，肺金之色也。由寒水甚而制火，不能平金，肺金自甚，故色白也。瀉青者，肝木之色也。由火盛制金不能平木，肝木自甚，故色青也。如傷寒少陰下利青水，色純青，仲景以大承氣湯下之，為熱明矣。瀉黃者，脾土之色也。由火盛水衰，脾土自旺，故色黃也。瀉紅者，心火之色也。瀉黑者，腎水之色也。由亢則害，承乃制，火熱過極，反兼水化制之，故色黑也，下利色黑者即死。又如瘡癤，皆屬火熱，其本一也，其標則有五焉。以其在皮膚之分屬肺金，故出白膿；以其在血脈之分屬心火，故為血癤；以其在肌肉之分屬脾土，故出黃膿；以其在筋之分屬肝木，故其膿色帶蒼；深至骨屬腎水，故紫黑血也。若以下痢黑者為寒，然則瘡癤之出紫黑血者亦為冷歟？又如痢本濕熱之相兼也，舉世皆言赤痢為熱，白為寒者，誤之久矣。殊不知陰陽之道，猶權衡也，一高則必一下，一盛則必一衰，故陽盛者陰必衰，陰盛者陽必衰，自然之理也。豈有陰陽二氣俱盛於腸胃，而同為赤白之痢乎？夫痢何也？蓋因六七月間，世之穀肉果菜濕熱太盛，人食之，感其毒氣於腸胃，而化為汗水，腐爛為膿血，而下赤白也。治痢之法，當以苦寒之藥治之。如晉朝錢仲陽，處香連丸以治小兒之痢，深得玄理。木香苦溫，黃連苦寒，苦能燥濕，寒能勝熱，溫能開發腸胃之鬱結，愈痢多矣。今世俗醫，但以辛熱薑桂之藥，以治諸痢。病之微者，能令腸胃開通，鬱結消散，苟獲一愈；病之甚者，怫熱不開，痢疾轉盛，輕則為小溲不通水腫之疾，重則為瞀亂之病而死矣。深可嘆哉。又如婦人赤白帶下之病，同乎痢也。蓋人有十二正經，脈有奇經八脈。帶脈者，奇經之一也，起於季脅，回身一周，如束帶然。婦人下焦濕熱太甚，津液湧溢，從帶脈淋瀝而下也。舉世皆言白帶為寒者，亦誤矣。凡病此者，必頭目昏眩，口苦舌乾，咽嗌不利，小便赤澀，大便秘滯，脈實而數，皆熱證也。治帶下之法，亦以辛苦寒藥為主，不可驟用燥熱之藥，以損人生命也。又如酒蠱而大便濡瀉者，亦由濕熱也。或水腫，或發黃，皆濕熱也。嗚呼！人既有形，不能無病；有生，不能無死。然醫者，但當按法治之，若標本不明，陰陽不審，誤投湯藥，實實虛虛，而死者是誰之過歟？故曰世無良醫，枉死者半，詎不誣矣。</p>
<p>瞀：神昏而氣濁也。</p>
<p>郁：熱極則腠理鬱結，而氣道不通也。</p>
<p>腫脹：陽熱太甚，則腫滿䐜脹也。如六月庶物隆盛，腫脹之象明可見矣。</p>
<p>鼻窒：謂鼻塞也。傷風寒於腠理而為鼻塞者，塞能收斂，陽氣不通暢也。人側臥則下竅通利，上竅反塞者，謂陽明之經左右相交於鼻也。</p>
<p>鼽：鼻出清涕也。</p>
<p>衄：鼻出血也。</p>
<p>血溢：血出於上竅也。</p>
<p>血泄：血出於下竅也。</p>
<p>淋：熱客膀胱，小便澀痛也。或曰小便澀而不通為熱，遺溲不禁為冷。豈知熱甚客於腎部，干於足厥陰之經，廷孔鬱結極甚，氣液不能宣通，故痿痹而神無所用。津液滲入膀胱而為溲也，如傷寒少陰熱極則遺溲，其理明矣。世傳眾方又有冷淋之說，可笑也已。及觀其所治之方，還用榆皮、瞿麥苦寒之藥，其說雖妄，其方乃是由不知造化變通之理，宜半認是而作非也。學不明，而欲為醫，難矣哉！</p>
<p>悶：大便澀滯也，由火盛制金，不能平木，肝木生風，風能勝濕，熱能耗液故也。</p>
<p>身熱惡寒：邪熱在表，而反惡寒也。故仲景治傷寒之法，以麻黃湯汗之。或曰寒在皮膚，則熱在骨髓；熱在皮膚，則寒在骨髓，此說非也。</p>
<p>戰慄：謂火熱過極，反兼水化制之，故戰慄而動搖也。傷寒日深，大汗將出，必先戰粟，熱極故也。人恐懼而戰慄者，恐則傷腎，水衰故也。</p>
<p>驚：心卒動而不寧也。</p>
<p>惑：疑惑而志不一也。</p>
<p>悲：謂心火熱盛則凌肺金，金不受制，故發悲哭也。悲哭而涕淚俱出者，如火熱鍊金，反化為水也。是以肝熱甚則出泣；心熱甚則出汗；脾熱甚則出涎；肺熱甚則出涕；腎熱甚則出唾；猶夏熱太盛則林木流津也。</p>
<p>笑：心火熱盛，喜志發也。或以輕手擾人脅肋、膕腋，令癢而笑者，擾亂動撓，火之化也。</p>
<p>譫：多言也。心熱神亂，則語言妄出也。</p>
<p>妄：狂妄也。心熱神昏，則目有所見也。</p>
<p>衄衊血汗：謂鼻出紫黑血也。</p>
<p><u>濕類</u></p>
<p>諸痙強直，積飲，痞隔中滿，吐下霍亂，體重胕腫，肉如泥，按之不起，皆屬於濕。（太陰濕土，乃脾胃之氣也。）</p>
<p>痙：痓也，強直，謂強項也。太陽經中濕，則令人項強，有汗者曰陰痓，仲景所謂柔痙是也；無汗者曰陽痓，仲景所謂剛痙是也。</p>
<p>積飲：謂留飲也。</p>
<p>痞：否也。謂氣不升降也。如否卦，陽在上，陰在下，則天地閉塞矣。</p>
<p>隔：阻滯也。腸胃濕甚，則傳化失常也。</p>
<p>中滿：土位中央，濕則令人中焦滿也。</p>
<p>吐下霍亂：謂腸胃濕飲相兼故也。</p>
<p>體重：清陽為天，濁陰為地，濕土為病，體重宜也。</p>
<p>胕腫：濕勝於下也。</p>
<p>肉如泥：按之不起，濕勝於身也。</p>
<p><u>火類</u></p>
<p>諸熱瞀瘛，暴瘖冒昧，躁擾狂越，罵詈驚駭，胕腫疼酸，氣逆衝上，禁慄如喪神守，嚏嘔瘡瘍，喉痹耳鳴及聾，嘔湧溢食不下，目昧不明，暴注瞤瘛，暴病暴死，皆屬於火。（絡三焦之氣也。少陽相火，乃心也。）</p>
<p>瞀：昏也。君火化同。</p>
<p>瘛：熱令肌肉跳動也。</p>
<p>暴瘖：卒啞也。心火熱盛，上克肺金，不能發聾也。</p>
<p>冒昧：昏憒也。</p>
<p>躁擾：謂熱盛於外，手足不寧也。</p>
<p>狂越：謂乖越禮法而失常也。經曰登高而歌，棄衣而走，罵詈不避親疏。熱極故也。</p>
<p>罵詈：言之惡也。水數一，道近而善；火數二，道遠而惡，心火熱極，則發惡言也。</p>
<p>驚駭：君火化同。</p>
<p>胕腫：熱勝於內也。</p>
<p>疼酸：痠疼者由火盛制金，不能平木故也。</p>
<p>氣逆衝上：火氣炎上也。</p>
<p>禁慄如喪神守：慄，戰慄也，禁冷也；如喪神守，火極而似水化也。</p>
<p>嚏：鼻中因癢而氣噴作其聲也。</p>
<p>嘔、瘡瘍：君火化同。</p>
<p>喉痹：熱客上焦而咽嗌腫也。</p>
<p>耳鳴：熱沖聽戶耳中作聲也。</p>
<p>聾：水衰火盛，氣道閉塞，耳不聞聲也。微則可治，久則難通。</p>
<p>嘔湧溢食不下：胃膈熱盛，火氣炎上之象也。</p>
<p>目昧不明：五臟熱極，則目昏不能視物也。</p>
<p>瞤瘛：惕跳而肉動也。</p>
<p>暴病暴死：火性疾速故也。由其平日飲食、衣服、性情、好惡，不循其宜而失其常，久則氣變興衰而為病也。蓋因腎水衰虛，心火暴盛，本不能制之，熱氣怫鬱，心神昏冒，則筋骨不用，卒倒而無所知也。若熱甚至極，則死；微則發過如故，俗云暗風。若氣血鬱結，不得宣通，鬱極乃發，若一側得通利，否者痹而癱瘓也。</p>
<p><u>燥類</u></p>
<p>諸澀枯涸，幹勁皴揭，皆屬於燥。（陽明燥金，乃肺與大腸之氣也。）</p>
<p>澀：遍身澀滯，不滑澤也。</p>
<p>枯：不榮生也。</p>
<p>涸：不通流也。</p>
<p>干：不滋潤也。</p>
<p>勁：不柔和也。</p>
<p>皴揭：皮膚開裂也，皆血液病爾。</p>
<p><u>寒類</u></p>
<p>諸病上下所出水液澄澈清冷，癥瘕頹疝，堅痞腹滿急痛，下痢清白，食已不飢，吐利腥穢，屈伸不便，厥逆禁固，皆屬於寒。（足太陽寒水，乃腎與膀胱之氣也。）</p>
<p>上下所出水液澄澈清冷：如天氣寒，則水自然澄清也。</p>
<p>癥：氣聚之積，或聚或散，無有常處也。</p>
<p>瘕：血結之塊，蓋由女子月水沉滯，久而成瘕也。《經》曰：小腸移熱於大腸為虙瘕，為沉，然則血瘕亦有熱者也，當以標本明之。</p>
<p>頹疝：足厥陰經受寒，則陰腫也。</p>
<p>堅痞腹滿急痛：如水寒則冰，堅硬如地也。</p>
<p>下利清曰：水寒則清淨明白也。</p>
<p>食已不飢：胃熱能消穀，寒則不能消穀，食雖已而亦不飢也。</p>
<p>吐利腥穢：寒水甚而制火，不能平金，肺金自盛，故水腥也。</p>
<p>屈伸不便，厥逆禁固：謂手足蜷攣而冷也。</p>

<h2>理傷寒第六</h2>
<p>夫寒者，天地殺厲之氣也。秋之霧露，冬之霜雪，皆寒邪也。是以辛苦之徒起居不由乎節，飲食不順乎時，感其霧露之氣，則其邪淺；感其霜雪之氣，則其邪深。感而即病，名曰傷寒；不即病者，寒邪藏於肌肉之間，伏於榮衛之內，至春因溫暖之氣而發者，名曰溫病；至夏因暑熱之氣而作者，名曰熱病。傷寒也，溫病也，熱病也，一理而已。若乃疫癘之疾，稍有不同者，蓋因春應溫而反涼，夏應熱而反冷，秋應涼而反熱，冬應寒而反溫，四時不正之氣也。感其春夏不正之邪，則為溫疫；感其秋冬不正之邪，則為寒疫。然其經絡傳受，表裡受證，與傷寒同也，俗云時氣病爾。經總之曰傷寒，所以謂之大病者，害人最速也。軒岐以下得其治法之秘者，惟仲景一人而已。厥後守真先生不遵其桂枝麻黃髮表之藥，自制雙解通聖奇涼之劑，非不同也，時有異也，彼一時也。奈五運六氣有所更，世熊居民有所變。天以常靜，人以常動，動則屬陽，靜則屬陰。清平之世同木化也，雖有辛熱之藥，不生他證；擾鑲之世同火化也，若用辛熱之藥，則發黃出斑，變壞之病作矣。蓋人內火既動，外火又侵，所以辛熱發汗不如辛溫，辛溫發汗不如辛涼之藥，發汗一劑而立愈。以辛熱之藥發汗，輕者必危，重者必死，可不謹哉。</p>

<h2>六經傳受</h2>
<p>傷寒一日，足太陽膀胱經受證，故頭項痛腰脊強；二日足陽明胃之經受證，故身熱目疼鼻乾，不得臥；三日足少陽膽之經受證，故胸脅痛而耳聾；四日足太陰脾之經受證，故腹滿而嗌乾；五日足少陰腎之經受證，故口燥舌乾而渴；六日足厥陰肝之經受證，故舌卷而耳聾囊縮。至七日足太陽病衰，頭痛少愈；八日陽明病衰，身熱少愈；九日少陽病衰，耳聾微聞；十日太陰病衰，腹減如故，則思飲食；十一日少陰病衰，渴止腹不滿，舌乾已而嚏；十二日厥陰病衰，囊縱少腹微下，大邪皆去，病漸愈矣。此傳經之定序也。亦有太陽經至了不傳者，當以脈證別之。或曰傷寒只傳足經，不傳手經，何也？曰傷寒之邪，多於足經，而其病甚；少於手經而其病微，故不特言手經，但寄於足經而已。三日以前在表，法當汗之；三日以後在裡，法當下之。亦有二三日便有里證，而當下之者；亦有七八日尚有表證，而當汗之者，豈可拘以日數哉。是以聖人書不盡言，言不盡意，說其大概，此之謂也。其有兩感於寒者，必不免於死，謂表裡相傳也。一日太陽與少陰俱病，頭痛口乾，煩滿而渴；二日陽明與太陰俱病，身熱腹滿，不欲食，譫語；三日少陰與厥陰俱病，耳聾囊縮而厥，水漿不入，不知人而死矣。調理之法，當分表裡治之。</p>

<h2>汗氣傳染</h2>
<p>《養生至寶書》云：近穢氣，觸真氣；近死氣，亂生氣。深有旨哉。孫真人云：乘馬遠行至暮，當以沐浴更衣，方可近於嬰兒處所；若感其氣，則為急驚風搐。又曰：步踐糞穢之履，勿使近於嬰兒，若感其氣，則為天吊傷寒；大汗將出，當以艾灸席隅，以闢其氣，不然感其汗氣，則傳染矣。所以多染侍奉勞役之人者，由其神虛氣怯，易為撓亂故也。如剝死馬者，感其毒氣而為馬氣之疾，其理同焉。</p>

<h2>內外傷辨</h2>
<p>外有風寒暑濕，內有飢飽勞逸。或曰勞役，非也。勞，倦也；逸者，閒逸也。西山記曰：久勞，則安閒以保極力之處；久逸，則導引以行積滯之氣。</p>

<h2>表裡證</h2>
<p>病在身體四肢為表證，發熱、惡寒、頭痛是也。病在胸腹之內為里證，譫語、煩渴、腹滿是也。病在脅肋間為半表半裡證，胸脅痛而耳聾是也。</p>

<h2>主療心法</h2>
<p>傷寒表證，當汗而不可下；里證，當下而不可汗；半在表半在裡，則當和解不可發汗吐下；在上則湧之，在下則泄之。傷寒表實，無汗，頭項痛，腰脊強，身熱惡寒，肩背拘急，手足指末微厥，脈浮緊而澀，當以清解散加天水散汗之。傷風表虛，自汗，頭項強痛，肢節煩疼，鼻鳴乾嘔，惡風手足溫，脈浮緩，當以通解散或天水散解之。或表虛，或表實，但口乾煩渴者，悉宜雙解散汗之。汗後餘熱不解，以涼膈散退之。或日深，或日淺，但有表證而脈沉數者，先以天水連翹飲子清之，待脈浮而裡熱減，然後以雙解散汗之。傷寒表不解，脈浮，小便不利，微熱口乾，以五苓散分之。表熱多，裡熱少，益元一、涼膈半和解之。裡熱多，表熱少，涼膈一、益元半調之。若表裡俱熱，頭痛口乾，自汗不止者，白虎湯治之。或半在表，半在裡，往來寒熱，口苦舌乾，耳聾，乾嘔，胸脅痞痛，小柴胡湯和解之或膈熱嘔吐不止者，半夏橘皮湯治之。或飲水不止，以成濕熱，大便泄瀉，小便赤澀，腹滿急痛，頭痛口乾者，桂苓甘露飲主之。或濕熱內余而成下痢頻並少腹而痛者，黃連解毒湯治之。傷寒日深，表裡熱勢極甚，心下急，郁微煩，或發熱汗出不解，心下痞硬，嘔吐下痢；或陽明病多汗；或太陰腹滿實痛；或少陰下痢清水，心下痛而口乾；或無表裡證，但發熱七八日，脈須浮數，宜雙除表裡之熱，大柴胡湯微下之，或加小承氣湯尤妙。傷寒日深，裡熱極甚，日晡潮熱，譫言，妄語，發狂，腹滿實痛，法當大承氣湯下之，或用三一承氣湯尤良。舌黑者，十死一生。此調理傷寒之正法也。世之庸醫不知標本，不明經絡，當汗而反下之，當下而反汗之，所以損人生命不為少矣籲。人之死者，豈皆命也，亦由庸醫誤殺之也。若傷寒表證實具，誤以大承氣下之太早，使表熱裡寒，下利清穀不化者，當急救里，白朮調中湯止之；待利止里和，隨其表證之虛實而治之也。誤以巴豆丸藥下之，使表熱裡虛，脅熱下利者，當以五苓散治之；若不下利，表熱乘虛入里，結於心下，脈浮，滿而痛者，名曰小結胸，當以小陷胸湯治之。從心下至小腹堅滿硬痛，脈沉緊數，日晡潮熱，不可按者，名曰大結胸，當以大陷胸湯下之；脈浮者不可下，下之則死，當以小柴胡湯加小陷胸湯解之。傷寒半表裡之證，誤以大承氣湯下之太早，表熱乘虛入里，結於心下，滿而不痛者，名曰痞氣，或下利而小便不通，或嘔噦而心煩不止，當以生薑湯調五苓散，連進四五服即愈。或不愈者，必作實熱，關脈沉數，譫妄者，當以大黃黃連瀉心湯治之。或飲水過多，水停心下，小便不利，濕熱內作，其人頭汗出，身無汗，際頸而還，小便不利，渴飲水漿者，身目發黃也。未黃者，茵陳湯調五苓散，以分其小便；已黃者，當以茵陳蒿湯下之，當下如爛魚腸肚及膠膘等物，小便多出金汁即愈也。或發黃而兼發斑者，茵陳蒿湯加大承氣湯下之。或發黃而兼結胸者，茵陳蒿湯加大陷胸湯下之。或不腹脹滿而痛，小便自利，大便黑色者，有瘀血而發黃也，當以茵陳蒿湯加桃仁承氣湯下之。或傷寒日深失下，以致蓄熱在裡，陽厥極深，表有斑疹，身痛不可忍，手足清冷，目赤口乾，譫語呻吟，脈微不見，此乃陰耗陽竭之證也。下之即死，不下亦死，醫者到此，殺人活人一彈指間，按法當以涼膈散加黃連解毒大作劑料，養陰退陽，待心胸復暖脈氣漸生，然後以三一承氣湯下之，下後熱未愈，涼膈散調之。朱奉議編《南陽活人書》不識此證，乃曰：火極似水，陽極似陰。而妄以為陰毒冷病，誤用真武湯、附子之藥，死人不為少矣。傷寒日深，大汗將出，先發戰者，由水升火降，氣和而愈矣。戰而有汗者，津液不衰也；戰而無汗者，津液已衰也。傷寒瘥後，當節飲食，慎起居。若梳頭洗面，憂思恚怒，其熱復來，謂之勞復，當以雙解散清之。若飲食太多，其熱復作，謂之食復，當以小承氣湯下之。若食羊肉者難治。</p>

<h2>演治法第七</h2>
<figure>
<img alt="圖十八">
</figure>
<p><u>論標本</u></p>
<p>夫標本之道，要而博，小而大，可以言一而知百病之害，言標與本，易而勿損，察本與標，氣可令調。又曰：知本知標，萬舉萬當，不知標本，是謂妄行。蓋六氣為本，三陰三陽為標。又曰：為病之氣為本，受病之經絡臟腑為標。又曰先病為本，後病為標，急則治其標，緩則治其本，或本而標之，或標而本之，故曰知其要者，一言而終，不知其要，流散無窮。</p>
<p><u>七方</u></p>
<p>大、小、緩、急、奇、偶、復。</p>
<p>大方之說有二：病有兼證，而邪不專，宜君一、臣三、佐九之大方。病在腎肝之下而遠者，宜分兩多而頓服之。</p>
<p>小方之說有二：病無兼證而邪氣專，宜君一、臣二之小方。病在肺之上而近者，宜分兩少而頻服之。</p>
<p>緩方之說有五：有甘以緩之之緩方，知糖、密、棗、葵、甘草之屬，取其甜能戀膈也。有丸以緩之之緩方，蓋丸之比湯，散氣力宣行遲故也。有無毒治病之緩方，蓋性無毒則功自緩矣。有品件群眾之緩方，如萬病丸，七八十味更相拘制，各不得騁其性也。有補上治上之緩方，補上治上，制之以緩，故曰治心肺之病不厭頻而少。</p>
<p>急方之說有五：有急病急攻之急方，如中風牙關緊急，漿粥不入，用急風散之屬是也。有藥性急烈之急方，如溲便閉塞，借備急丹以攻之是也。有湯散蕩滌之急方，湯散之比丸下咽易散故也。有藥性有毒之急方，蓋有毒之藥能上湧下泄，可以奪病之大勢也。有補下治下之急方，蓋補下治下，制之以急，故曰治腎肝之病不厭頻而多。</p>
<p>奇方之說有二：有古之單方之奇方，獨用一物是也。有數合陽數之奇方，一、三、五、七、九皆陽數也，故奇方宜下、不宜汗。</p>
<p>偶方之說有二：有古之複方之偶方，兩物相配是也。有數合陰陽之偶方，二、四、六、八、十皆陰數也，故偶方宜汗、不宜下。</p>
<p>複方之說，有一方、二方、三方之複方，如調胃承氣湯；加連翹、黃芩、梔子、薄荷為涼膈散；再加防風、荊芥、石膏、滑石、桔梗、川芎、麻黃、當歸、芍藥、白朮為通聖散；有分兩均齊病複方，如胃風湯各等分是也。</p>
<p><u>十劑</u></p>
<p>宣、通、補、瀉、輕、重、滑、澀、燥、濕。</p>
<p>宣：鬱而不散為壅，必宣劑以散之，生薑、橘皮之屬是也。又曰以君召臣曰宣，宣則湧劑，如瓜蒂散亦宣劑也。</p>
<p>通：留而不行為滯，必通劑以行之，防己、朮、通之屬是也。又曰溲、便、淋、悶，宜用八正散以通之，亦通劑也。通為輕，而瀉為重也。</p>
<p>補：不足為弱，必補劑以扶之，黃耆、羊肉之屬是也。又曰陽虛則補以乾薑、附子，陰虛則補以大黃、硝石，亦補劑也。</p>
<p>瀉：有餘為塞，必瀉劑以逐之，如大黃、巴豆之屬是也。又曰甘遂、牽牛亦瀉劑也。</p>
<p>輕：實則為壅，必輕劑以揚之，麻黃、葛根之屬是也。又曰如嚏藥解表亦輕劑也。</p>
<p>重：快則氣浮，必重劑以鎮之，如磁石、鐵粉之屬是也。又曰如癇涎，疾宜代赭石以縋之，亦重劑也。</p>
<p>滑：澀則氣著，必滑劑以利之，如冬葵、榆皮之屬是也。又曰大便結燥，治以桃仁、郁李；小便淋澀，治以車前、滑石，亦滑劑也。</p>
<p>澀：滑則氣脫，必澀劑以救之，如龍骨、牡蠣之屬是也。又曰如寢汗不止，澀以麻黃根、防己；滑瀉不止，澀以枯白礬、罌粟殼；如喘嗽上奔，以韭汁、烏梅煎寧肺散，亦澀劑也。</p>
<p>燥：濕氣淫勝，必燥劑以除之，如桑白皮、赤小豆之屬是也。又曰如乾薑、官桂能治積寒久冷；如蒼朮、白朮、陳皮、木香皆能除濕；如黃連、黃柏、黃芩、山梔子，味苦屬火，苦能燥濕，亦燥劑也。</p>
<p><u>濕：津耗為枯，必濕劑以潤之，如紫石英之屬是也。又曰硝味鹹寒，木屬真陰之水，誠濡枯之上藥，亦濕劑也。</u>　中風</p>
<p>大中風者，百病之長也，善行而數變。《脈訣》云熱極生風深有理焉。蓋因以火為本，以風為標，心火暴甚，腎水必衰，肺金既摧，肝木自旺。所中風者，非由外傷於風耳，由平日飲食起居，性情好惡，不修其宜而失常，久則氣變興衰，以便陽盛陰虛而為病也。中腑者多著四肢，使人手足癱瘓，不能運動也。中藏者多滯九竅，使人口眼喎斜，舌謇不語，大小便不通也。治法先以降心火為主，或清心湯，或瀉心湯，大作劑料服之，心火降則肝木自平矣，次以防風通聖散汗之。或大便閉塞者，三化湯下之。內邪已除，外邪已盡。當以羌活愈風湯常服之，宣其氣血，導其經絡，病自己矣。或舌謇不語者，轉舌膏或活命金丹以治之，此聖人心法也。或有中風便牙關緊急，漿粥不入，急以三一承氣湯灌於鼻中，待藥下則口自開矣，然後按法治之。世之庸醫不明素問之理，皆作氣不順之病，但服八味順氣散，百萬人中曾有一二人愈者也，可不謹哉。</p>
<p><u>風癇</u></p>
<p>夫癇之為病，角弓反張，手足搐搦，口吐涎沫，俗云豬圈風也。亦因火盛金衰，木旺生風，外由驚邪入內以致之。《經》曰風盛則動，正謂此也。治法當先以瓜蒂散吐之，頑涎既盡，次以三一承氣湯下之，清心湯利之，通聖散服之，後以如神丸鎮之，病自愈矣。</p>
<p><u>風寒濕痹</u></p>
<p>夫痹之為狀，膝麻不能屈伸，或腫或痛，皆由當風取涼，寢處卑濕，感其風寒濕三氣之邪，和於肌肉。麻者，風也。痛者，寒也。腫者，濕也。治法先以禹散，或三花神祐丸下之，次以如意通聖散汗之，後以獨活寄生湯服之，及延壽丹蠲之，此萬舉萬全之法也。俗醫呼為寒濕風氣，驟用烏頭、附子等藥，差之遠矣。</p>
<p><u>霍亂吐瀉</u></p>
<p>夫吐瀉既作，揮霍之必撩亂矣，為病之源有三，猶書生鼎足題也。吐者，竭也，心火炎上之疾也。瀉者，濕也，濕土注下之疾也。轉筋者，風也，木火撓亂之疾也。斯由七月之間，濕熱大作，風涼乘之入於脾胃，三氣俱作，所以上吐下瀉而轉筋也。偉哉王冰之言，曰霍亂吐瀉，脾熱所生。可以為古式也。俗醫不明《素問》，妄以為傷冷之疾，而用乾薑、官桂燥熱之藥，可謂投賊以刃矣。治法當用生薑細切，漬以新汲井水，調益元散頓服之，吐瀉即止矣。大渴者，桂芩甘露飲治之。如過無藥之處，可掘一坎深半尺，貯以井水，以手攪之，使泥水混濁，良久泥下水清，取以飲之，亦能愈矣。</p>
<p><u>外傷</u></p>
<p>夫邪從外至，傷於皮膚榮衛之間，名曰外傷風，感冒風寒是也。外傷之候有二：傷於寒者，榮血受之，使頭項痛，肢節煩疼，鼻鳴乾嘔也。治法當以通聖散，煎二度各一碗，先以第二煎者頓服之，以雞翎探於喉中，盡吐前藥，腠理開發，再以第一煎者服之，汗隨而出，風寒解也。</p>
<p><u>內傷</u></p>
<p>夫內傷之候，皆由飲食失節，起居不時，飢飽勞逸，內傷元氣，其人四肢不舉，百骨痠疼，口淡無味，體困無力，頭眩有時作，有時止，手心熱，手背不熱，與感冒風寒之病大同而小異。治法當以補中益氣湯，連進一二服即愈矣。此濟生拔粹之秘法也。</p>
<p><u>瘧</u></p>
<p>夫瘧酷之瘧，害人非輕。《經》曰：夏傷於暑，秋必病瘧。蓋因暑毒伏於榮衛之間而不發，因遇秋氣淒滄之水寒，瘧疾因而成矣。或傷於暑，而後傷於風，則先熱而後寒。或先傷於風，而後傷於暑，則先寒而後熱。邪氣淺者連日作，邪氣深者間日作。治法輕者，先以大柴胡湯、三一承氣湯下之，後以柴胡飲子、白虎湯頓服之，立解；重者，先以三花神祐丸、或大承氣湯下，後以天水五苓散分之，如不愈者，當以常山散吐之，但禁魚、犬、豬、羊半月則愈矣。</p>
<p><u>痢</u></p>
<p>夫痢，濕熱疾也。世俗以赤為熱，以白為寒，已明辨矣。治法如腹痛不已，裡急後重，數至圊而不能便，腸垢積滯，當以三一承氣湯或玄清丸下之，次以黃連解毒湯加當歸、白芍藥服之，後多服芍藥柏皮丸。如小便赤澀者，黃連解毒湯加五苓散以滲泄之，間服玄清丸，此活人良法也。</p>
<p><u>三消</u></p>
<p>夫三消之病，消渴、消中、消腎，皆火也。入水之物，無物不潤；入火之物，無物不消。蓋消渴之疾，將飲水至鬥亦不能止其渴，相火燥其膈膜，此膈消也。治法調之而不下，固無以殺炎上之勢。下之而不調，亦無以沃膈膜之干。下之當以三一承氣湯；調之當以涼膈散加桂苓甘露飲，大作劑料服之，間用生地黃、生藕擂汁服之；又當慎起居，戒淫欲，消渴之疾不足憂矣。相火燥其肺臟者，此肺消也，飲一、泄二者必死。消中之疾，多食而反瘦，亦多渴而飲水，相火燥其胃土也。治法當以三一承氣湯節次下之，五七次後用涼膈散、白虎湯、桂苓甘露飲，三藥合為一服，服之必愈矣。腎消者，相火燥其腎臟者也。《經》曰：思想無窮，所願不得，意淫於外，縱欲太甚，白淫因溲而下，或夢寐遺脫。治法宜珍珠粉丸，或封髓還元丹服之必愈矣。此不傳之秘妙也。</p>
<p><u>五泄</u></p>
<p>夫泄瀉之疾，其源有五。以一氣為主，諸氣乘之而成也。胃泄者，飲食不化，色共同，風乘濕之泄也，治法當用胃風湯即止。脾泄者，腹脹滿，泄注，食即嘔吐逆，此暑乘濕之泄也，治法當用香薷湯對桂苓甘露飲，大加生薑治之。大腸泄者，食已窘迫，大便色白，腸鳴切痛，此燥乘濕之泄也，治法當用天水五苓散分之。小腸泄者，溲而便膿血，小腹痛，此火乘濕之泄也，治法當以玄青丸下之，次以黃連解毒湯加當歸、白芍藥治之，後以芍藥柏皮丸止之。大瘕泄者，裡急後重，頻至圊而不能便，莖中痛，此寒乘濕而變為熱泄也，治法當以八正散加木香檳榔通之，次以天水散頓服之。此治五泄之法也。</p>
<p><u>二陽</u></p>
<p>《經》曰：二陽之病，發於心脾，有不得隱曲，女子不月。蓋二陽者，謂足陽明胃之經、手陽明大腸經。腸胃積熱久而不散，心受之則血不流，故女子不月；脾受之則味不化，故男子少精。其病面色痿黃，肌膚瘦削，骨蒸潮熱，或往來寒熱，咳嗽喘滿，痰盛有血，飲食乍進而乍退，精神或增而或減，此火多水少，陽盛陰虛之病也。治法降心火，益腎水，先以涼膈散加當歸、桔梗徐徐呷之，次以柴胡飲子或防風當歸飲子服之；血不流者，宜琥珀散以通之；精不足者，宜粱肉以補之。後世俗醫見此為勞證，名既謬，而法亦乖矣。</p>
<p><u>咳嗽</u></p>
<p>夫咳嗽之疾一也。或曰：咳者，有聲而無痰；嗽者，有痰而無聲。又曰：咳為陽，嗽為陰。皆無考據。咳嗽非獨寒也，六氣皆能為嗽焉。風嗽者，頭目眩暈，痰涎不利，宜通聖散汗之，搜風丸以清之。火嗽者，口燥舌乾，喘逆唾血，宜涼膈散加當歸、桔梗以治之，大金花丸以解之。暑嗽者，面赤手冷，頭有自汗，宜白虎湯以除之。濕嗽者，面腫上喘，宜大橘皮湯以止之，甚者三花神祐丸下之。燥嗽者，往來寒熱，涕唾稠黏，宜柴胡飲子以治之。寒嗽者，手足厥逆，宜寧肺散以收之。彼謬醫不分六氣，執以為寒，驟用枯白礬、罌粟殼，雖老亦無悟矣。</p>
<p><u>膈食</u></p>
<p>《經》曰：三陽結，謂之膈。蓋足太陽膀胱經水道不行，手太陽小腸經津液枯涸，足陽明胃之經燥糞結聚，所以飲食拒而不入，縱入太倉還出喉嚨。人之腸胃一日一便，乃常度也。今膈食之人，五七日不便，陳物不去，新物不納。俗醫強分為五膈、十噎，支派既多，並喪其實，標本不明。是以火里煨薑湯，中煮桂胡椒，未已，蓽菝繼之，丁香未已，豆蔻繼之。雖曰和胃，胃本不虛；雖曰溫脾，脾本不寒，此其所以膈食之病曠日彌年而不愈也。治法當用三一承氣湯，節次微下之；後用芝麻飲啜之，陳莝去而腸胃潔，癥瘕盡而榮衛昌，飲食自進矣。</p>
<p><u>留飲</u></p>
<p>夫留飲之疾，蓄水也。或因夏月飲水過多，逆而不散；或因暴怒未息而飲水；或因憂患未決而飲水；或因遠來困倦而飲水；皆能成留飲之病也。使人面腫目浮，支脅中滿，痰涎不利。治法當以三花神祐丸，或牽牛與木香減半，或為末，或為丸，下之則愈矣。</p>
<p><u>七疝</u></p>
<p>夫疝，乃厥陰肝之經，腎與膀胱之部分也。水疝者，因冬月涉水，其狀囊腫痛癢，搔之則黃水出，治法宜禹攻散或三花神祐丸下之。寒疝者，因觸冒風雪，坐臥磚石，其囊腫堅硬如石，大痛，治法宜禹攻散或三花神祐丸下之。血疝者，因肝腎積熱，其狀臍之兩傍腫痛，俗云便毒，治法當以當歸玉燭散下之。筋疝者，因淫欲太過，其狀陰莖潰痛，或血、或膿，俗云下疳瘡，治法先以瀉心湯下之。後以黃連輕粉為末傅之。惟有狐疝之病，俗云奔豚氣；癃疝之病，俗云下部病；氣疝之病，俗云偏墜，最難治也。</p>

<h2>辨藥性情第八</h2>
<figure>
<img alt="圖十九">
</figure>
<p><u>六陳</u></p>
<p>狼毒　茱萸　枳實　麻黃　橘皮　半夏</p>
<p><u>十八反</u></p>
<p><u>甘草反</u></p>
<p>大戟　芫花　甘遂　海藻</p>
<p><u>烏頭反</u></p>
<p>半夏　瓜蔞　貝母　白蘞　白芨</p>
<p><u>藜蘆反</u></p>
<p>細辛　芍藥　丹參　沙參　苦參　玄參</p>
<p><u>君臣佐使</u></p>
<p>上品，無毒之藥，為君；中品，小毒之藥，為臣；下品，大毒之藥，為佐使。此本草論藥之性體也。主病者為之君，攝君者謂之臣，應臣者謂之佐使，此《內經》論藥之能用也。如治諸熱，則以黃連、黃芩為君。治諸寒，則以乾薑、附子為君。治表實，則以麻黃、柴胡為君。治表虛，則以升麻、葛根為君。治裡實，則以大黃、芒硝為君。治裡虛，則以甘草、芍藥為君。君藥分兩最多，臣藥次之，佐使藥又次之，不可令臣過於君，君臣有序，相與宜攝，可以御邪除病矣。</p>
<p><u>東垣諸品藥性</u></p>
<p>羌活味苦甘平，氣微溫，無毒。升也，陰中陽也。其用有五：散肌表八風之邪，利周身百節之痛，排巨陽肉腐之疽，除新舊風濕之證，乃手足太陽表裡引經藥也。</p>
<p>升麻味苦平，氣微寒，無毒。升也，陰中之陽也。其用有四：引蔥白，散手陽明之風邪；引石膏，止足陽明之齒痛。引諸藥遊行四經，升陽氣於至陰之下，因名之曰升麻。</p>
<p>柴胡味苦平，氣微寒，無毒。升也，陰中之陽也。其用有四：左右兩傍脅下痛；日晡潮熱往來生；在藏調經，內主血；在肌主氣，上行經。手足少陽表裡四經藥也。</p>
<p>白芷味辛，氣溫，無毒。升也，陽也。其用有四：去頭面皮膚之風，除皮膚燥癢之痹；止足陽明頭痛之邪；為手太陰引經之劑。</p>
<p>防風味甘辛，氣溫，無毒。升也，陽也。其用有二：以風味能瀉肺金；以體用通療諸風。</p>
<p>當歸味甘辛，氣溫，無毒。可升可降，陽也。其用有四：頭止血而上行；身養血而中守；稍破血而下流；全活血而不走。</p>
<p>獨活味苦甘平，氣微溫，無毒。升也，陰中之陽也。其用有三：諸風掉眩，頸項難伸，風寒濕痹，兩足不用，及為足少陰之引經藥也。</p>
<p>木香味苦辛，氣微溫，無毒。降也，陰也。其用有二：調諸氣不可無，泄肺氣不可缺。</p>
<p>檳榔味苦辛，氣溫，無毒。降也。其用有二：墜諸藥性若鐵石，治後重驗如奔馬。</p>
<p>吳茱萸味苦辛，性熱，有小毒。可升可降，陽也。其用有四：咽嗌寒氣，噎塞而不通；胸中冷氣，閉塞而不利；脾胃停冷，腹痛而不任；心氣刺疼，成陣而不止。</p>
<p>藿香葉味甘，性溫，無毒。可升可降，陽也。其用有二：開胃口，能進飲食；止霍亂，仍除嘔逆。</p>
<p>川芎味辛，性溫，無毒。升也，陽也。其用有二：上行頭角，助清陽之氣，止痛；下行血海，養新生之血，調經。</p>
<p>黃連味苦，性寒，無毒。沉也，陰也。其用有四：瀉心火，消心下痞滿之狀；主腸澼；除腸中混雜之紅；治目疾暴發宜用；療瘡瘍首尾俱同。</p>
<p>黃芩味苦平，性寒，無毒。可升可降，陰也。其用有四：中枯而飄者，瀉肺火，消痰利氣；細實而堅者，瀉大腸火，養陰退陽；中枯而飄者，除風濕留熱於肌表；細實而堅者，滋化源、退熱於膀胱。</p>
<p>大黃味苦，性寒，無毒。其性沉而不浮，其用走而不守，奪土鬱而無壅滯，定禍亂而致太平，名曰將軍。</p>
<p>黃柏味苦，性寒，無毒。沉也，陰也。其用有五，瀉下焦隱伏之龍火，安上出虛噦之蛔蟲臍下痛，單制而能除腎不足，生用而能補痿厥，除濕藥中不可缺。</p>
<p>玄明粉味辛，甘、酸，性微溫，無毒。沉也，陰也。其用有二：去胃中之實熱，蕩腸中之宿垢。其妙不可盡述，大抵用此而代盆硝也。</p>
<p>白朮味甘，性溫，無毒。可升可降，陽也。其用有四：利水道，有除濕之功；強脾胃，有進食之效；佐黃芩有安胎之能；君枳實有消痞之妙。</p>
<p>人參味甘，性溫，無毒。升也，陽也。其用有三：止渴生津液；和中益元氣；肺寒則可服；肺熱還傷肺。</p>
<p>黃耆味甘，性溫，無毒。升也，陽也。其用有四，溫分肉而實腠理；益元氣而補三焦；內托陰證之瘡瘍；外固表虛之盜汗。</p>
<p>甘草味甘平，無毒。生之則寒，炙之則溫。生則分身梢而瀉火，炙則健脾胃而和中。解百毒而有效，協諸藥而無爭。以其甘能緩急，故有國老之稱。</p>
<p>半夏味辛平，生寒熟溫，有毒。降也，陽也。其用有四：除濕化痰涎，大和脾胃氣，痰厥及頭疼，非此莫能治。</p>
<p>陳皮味辛苦，性溫，無毒。可升可降，陽中之陰也。其用有二：留白者補胃和中；去白者消痰泄氣。</p>
<p>青皮味苦，性寒，無毒。沉也，陰也。其用有四：破滯氣，愈低而愈效；削堅積，愈下而愈良；引諸藥至厥陰之分；下飲食入太陰之倉。</p>
<p>枳殼味苦酸，性微寒，無毒。沉也，陰也。其用有四：消心下痞寒之痰；泄腹中滯塞之氣；推胃中隔宿之食；削腹內連年之積。</p>
<p>枳實味苦酸，性微寒，無毒。沉也，陰也。其用有四：消胸中之虛痞；逐心下之停水；化日久之稠痰；削年深之堅積。</p>
<p>桔梗味苦辛，性微溫，有小毒。升也，陰中之陽也。其用有四：止咽痛，兼除鼻塞；利膈氣，仍治肺癰；一為諸藥之舟楫；一為肺部之引經。</p>
<p>知母味苦，性寒，無毒。沉也，陰中之陰也。其用有四：瀉無根之腎火；療有汗之骨蒸；止虛勞之陽勝；滋化源之陰生。</p>
<p>藁本味苦辛，性微溫，無毒。升也，陰中之陽也。其用有二：大寒氣客於巨陽之經；苦頭痛流於巔頂之上，非此味不除。</p>
<p>生地黃味甘苦，性寒，無毒。沉也，陰也。其用有四：涼心火之血熱；瀉脾土之濕熱；止鼻中之衄熱；除五心之煩熱。</p>
<p>熟地黃味甘苦，性溫，無毒。沉也，陰也。其用有四：活血氣，封填骨髓；滋腎水，補益真陰；傷寒後，脛股最痛；新產後，臍腹難禁。</p>
<p>五味子味酸，性溫，無毒。降也，陰也。其用有四：滋腎經不足之水；收肺氣耗散之金；除煩熱，生津止渴；補虛勞，益氣強陰。</p>
<p>川烏味辛，性熱，有毒。浮也，陽中之陽也。其用有二：散諸風之寒邪；破諸積之冷痛。</p>
<p>白芍藥味酸平，性寒，有小毒。可升可降，陰也。其用有四：扶陽氣，大除腹痛；收陰氣，陡健脾經；墜其胎，能逐其血；損其肝，能緩其中。</p>
<p>白茯苓味甘淡，性溫，無毒。降也，陽中之陰也。其用有六：利竅而除濕；益氣而和中；小便多而能止；大便結而能通；心驚悸而能保，津液少而能生；白者入壬癸；赤者入丙丁。</p>
<p>澤瀉味甘鹹，性寒，無毒。降也，陽中之陰也。其用有四：去胞垢而生新水；退陰汗而止虛煩；主小便淋澀仙藥；療水病濕種靈丹。</p>
<p>薄荷葉味辛，性涼，無毒。升也，陽也。其用有二：清利六陽之會首；祛除諸熱之風邪。</p>
<p>麻黃味苦甘，性溫，無毒。升也，陰中之陽也。其用有二：其形中空，散寒邪而發表；其節中閉，止盜汗而固虛。</p>
<p>厚朴味苦辛，性溫，無毒。可升可降，陰中之陽也。其用有二：苦能下氣，去實滿而消痰泄脹；溫能益氣，除濕滿而散結調中。</p>
<p>杏仁味苦甘，性溫，有毒。可升可降，陰中之陽也。其用有二：利胸中氣逆而喘促；潤大腸氣秘而難便。</p>
<p>巴豆味辛，性熱，有大毒。浮也，陽中之陽也。其用有二：削堅積，蕩臟腑之沉寒；通閉塞，利水穀之道路。斬關奪門之將，不可輕用。</p>
<p>黑附子味辛，性熱，有大毒。浮也，陽中之陽也。其性浮而不沉，其用走而不息。除六腑之沉寒，補三陽之厥逆。</p>
<p>蒼朮氣味、主治與白朮同，補中、除濕力不及白，寬中發汗功過於白。</p>
<p>秦艽味苦辛平，性微溫，無毒。可升可降，陰中之陽也。其用有二：除四肢風濕若懈；療遍體黃疸如金。</p>
<p>白殭蠶味鹹辛平，性微溫，無毒。升也，陰中之陰也。其用有二：去皮膚風動如蟲行；主面部黑生如漆點。</p>
<p>白豆蔻味辛，性溫，無毒。升也，陽也。其用有四：破肺中滯氣；退目中雲氣；散胸中冷氣；補上焦元氣。</p>
<p>地榆味苦甘酸，性微寒，無毒。沉也，陰也。其用有二：主下部積熱之血痢；止下焦不禁之月經。</p>
<p>連翹味苦平，性微寒，無毒。升也，陰也。其用有二：瀉諸經之客熱；散諸腫之瘡瘍。</p>
<p>阿膠味甘平，性微溫，無毒。降也，陽也。其用有四：保肺益金之氣；止嗽蠲咳之膿；補虛安妊之胎；治痿強骨之力。</p>
<p>桃仁味苦甘平，性寒，無毒。降也，陰也。其用有二：潤大腸血秘之便難；破大腸久蓄之血結。</p>
<p>生薑味辛性溫，無毒。升也，陽也。其用有四：製半夏有解毒之功；佐大棗有厚腸之益；溫經散表邪之風；益氣止翻胃之噦。</p>
<p>石膏味辛甘，性大寒，無毒。沉也，陰也。其用有二：制火邪，清肺氣，仲景有白虎之名；除胃熱，奪其食，易老云大寒之劑。</p>
<p>桂　味辛，性熱，有毒。浮也，陽中之陽也。氣之薄者，桂枝也；氣之厚者，肉桂也。氣薄則發泄，桂枝上行而發表；氣厚則發熱，肉桂下行而補腎。此天地親上親下之道也。</p>
<p>細辛味辛，性溫，無毒。升也，陽也。其用有二：止少陰合病之首痛；散三陽數變之風邪。</p>
<p>梔子味苦，性大寒，無毒。沉也，陰也。其用有三：療心中懊憹顛倒而不得眠；治臍下血滯小便而不得利。易老云：輕飄而象肺，色赤而象火，又能瀉肺中之火。</p>
<p>葛根味甘平，性寒，無毒。可升可降，陽中之陰也。其用有四：發傷寒之表邪；止胃虛之消渴；解中酒之苛毒；治往來之溫瘧。</p>
<p>瓜蔞根味苦，性寒，無毒。沉也，陰也。其用有二：止渴退煩熱；補虛通月經。</p>
<p>豬苓味淡甘平，性溫，無毒。降也，陽中之陰也。其用有二：除濕腫，體用兼備；利小水，氣味俱長。</p>
<p>乾薑生則味辛，炮則味苦。可升可降，陽也。其用有二：生則逐寒邪而發表；炮則除胃冷而溫中。</p>
<p>草龍膽味苦，性寒，無毒。沉也，陰也。其用有二：退肝經之邪熱；作下焦之濕腫。</p>
<p>蘇木味鹹平，性寒，無毒。可升可降，陰也。其用有二：破瘡瘍死血，非此無功；除產後敗血，有此立驗。</p>
<p>杜仲味辛甘平，性溫，無毒。降也，陽也。其用有二：強志、壯筋骨、滋腎止腰疼。酥炙去其絲，功效如神應。</p>
<p>天門冬味苦辛，性大寒，無毒。升也，陰也。其用有二：保肺氣，不被熱擾；定喘促，陡得康寧。</p>
<p>麥門冬味甘平，性寒，無毒。降也，陽中之陰也。其用有四：退肺中隱伏之火；生肺中不足之金；止燥渴，陰得其養；補虛勞，熱不能侵。</p>
<p>木通味甘平，性寒，無毒。降也，陽中之陰也。其用有二：瀉小腸火積而不散；利小便熱閉而不通。瀉小腸火無他藥可比；利小便閉與琥珀同功。</p>
<p>地骨皮味苦平，性寒，無毒。升也，陰也。其用有二：療在表無定之風邪；主傳屍有汗之骨蒸。</p>
<p>桑白皮味甘，性寒，無毒。可升可降，陽中之陰也。其用有二：益元氣不足而補虛；瀉肺氣有餘而止咳。</p>
<p>甘菊味苦甘平，性微寒，無毒。可升可降，陰中之陽也。其用有二：散八風上注之頭眩；止兩目欲脫之淚出。</p>
<p>紅花味辛，性溫，無毒。陽也。其用有四：逐腹中惡血而補血虛之虛；除產後敗血而止血暈之暈。</p>
<p>赤石脂味甘酸，性溫，無毒。降也，陽中之陰也。其用有二：固腸胃，有收斂之能；下胎衣，無推蕩之峻。</p>
<p>通草味甘平，性微寒，無毒。降也，陽中之陰也。其用有二：陰竅澀而不利，水腫閉而不行，澀閉兩俱立驗，因有通草之名。</p>
<p>烏梅味酸平，性溫，無毒。可升可降，陰也。其用有二：收肺氣，除煩止渴；主泄痢，調胃和中。</p>
<p>川椒味辛，性大熱，有毒。浮也，陽中之陽也。其用有二：用之於上，退兩目之翳膜；用之於下，除六腑之沉寒。</p>
<p>萎蕤味甘平，性溫，無毒。降也，陽中之陰也。其用有四：風淫四末不用；淚出兩目眥爛；男子濕注腰疼；女子面斑黑點。</p>
<p>秦皮味苦，性寒，無毒。升也，陽也。其用有四：風寒濕合而成痹；青白幻翳遮睛；女子崩中帶下；小兒風熱癇驚。</p>
<p>白頭翁味苦，性溫，無毒。可升可降，陰中之陽也。其用有四：傳男子陰疝偏腫；治小兒頭禿膻腥；鼻衄血無此不效；痢赤毒有此獲功。</p>
<p>牡蠣味鹹平，性寒，無毒。可升可降，陰也。其用有四：男子夢寐遺精；女子赤白崩中；榮衛往來虛熱；便滑大小腸同。</p>
<p>乾漆味辛平，性溫，有毒。降也，陽中之陰也。其用有二：削年深堅結之沉積；破日久秘結之瘀血。</p>
<p>南星味苦辛，性溫，有毒。可升可降，陰中之陽也。其用有二：墜中風不省之痰涎；主破傷如屍之身強。</p>
<p>商陸味酸辛平，性寒，有毒。降也，陽中之陰也。其味酸辛，其形類人，其用療水，其效如神。</p>
<p>葶藶味苦，性寒，無毒。沉也，陰中之陰也。其用有四：除遍身之浮腫：逐膀胱之留熱；定肺氣之喘促；療積飲之痰厥。</p>
<p>海藻味鹹，性寒，無毒。沉也，陰中之陰也。其用有二：利水道，通閉結之便；泄水氣，消遍身之腫。</p>
<p>竹葉味辛苦平，性寒，無毒。可升可降，陽中之陰也。其用有二：除新舊風邪之煩熱；止喘促氣勝之上衝。</p>
<p>蔥白味辛，性溫，無毒。升也，陽也。其用有二：散傷風陽明頭痛之邪；止傷寒陽明下痢之苦。</p>
<p>天麻味辛平，性溫，無毒。降也，陽也。其用有四：療大人風熱頭眩；治小兒風癇驚悸；祛諸風麻痹不仁；主癱瘓語言不遂。</p>
<p>大棗味甘平，性溫，無毒。降也，陽也。其用有二：助脈強神；大和脾胃。</p>
<p>威靈仙味苦，性溫，無毒。可升可降，陰中之陽也。其用有四：推腹中新舊之滯：消胸中痰唾之痞；散苛癢皮膚之風；利冷疼腰膝之氣。</p>
<p>鼠黏子味辛平，性微寒，無毒。降也，陽也。其用有四：主風濕癮疹盈肌；退風熱咽喉不利；散諸種瘡瘍之毒；利凝滯腰膝之氣。</p>
<p>草豆蔻味辛，性溫，無毒。浮也，陽也。其用有二：去脾胃積滯之邪；止心腹新舊之疼痛。</p>
<p>玄胡索味苦辛，性溫，無毒。可升可降，陰中之陽也。其用有二：活精血，療產後之疾；調月水，主胎前之證。</p>
<p><u>東垣報使</u></p>
<p>太陽　羌活　黃柏</p>
<p>陽明　白芷　升麻　石膏</p>
<p>少陽　柴胡　青皮</p>
<p>太陰　白芍藥</p>
<p>少陰　知母</p>
<p>厥陰　青皮　柴胡</p>
<p>小腸膀胱屬太陽，藁本羌活是本方。</p>
<p>三焦膽與肝包絡，少陽厥陰柴胡強。</p>
<p>陽明大腸兼足胃，葛根白芷升麻當。</p>
<p>太陰肺脈中焦起，白芷升麻蔥白鄉。</p>
<p>脾經少與肺經異，升麻芍藥白芷詳。</p>
<p>少陰心經獨活主，腎經獨活加桂良。</p>
<p>通經用此藥為使，更有何病到膏肓。</p>

<h2>十八劑第九</h2>
<figure>
<img alt="圖二十">
</figure>
<p><u>輕劑通聖散</u></p>
<p>治風熱結，憎寒發熱，筋脈攣痹，肢體焦痿，頭目昏眩，耳鳴鼻塞，口苦舌乾，咽喉不利，涕唾稠黏，咳嗽上氣，腸胃燥澀，便血瘀血，瘡瘍腫痛，咳瘧不痊，婦人產後血滯腹痛，小兒驚風積熱，並墜馬、跌僕、疼痛或傷寒、傷風等證，並皆治之。</p>
<p>防風　芒硝　連翹　川芎　麻黃　薄荷　白芍藥　當歸　大黃（各五錢）　黃芩　桔梗　石膏（各一兩）　甘草（一兩）　荊芥　山梔　白朮（各一錢）　滑石（一兩）</p>
<p>上為㕮咀，每服一兩重，或二兩重，水二盞，生薑三片，同煎七分，去渣，溫服，不拘時候。如發散風寒，加蔥白三莖。如治痰嗽，每服加半夏少許。</p>
<p><u>清劑涼膈散</u></p>
<p>治心火上盛，膈熱有餘，目赤頭眩，口瘡唇裂，鼻衄吐血，咳嗽痰涎，淋閉不利，大小便不通，或傷寒半表半裡，及胃熱發斑，及陰耗陽竭，用以養陰退陽。或汗下後餘熱不解，並小兒瘡痘黑陷，並皆治之。</p>
<p>連翹（一兩）　甘草　山梔　黃芩　大黃　薄荷（各三錢）　朴硝（一分）</p>
<p>上為㕮咀，每服一兩，水一鍾，竹葉三十片，同煎七分，去渣，入生蜜少許，食後溫服。加黃連五錢名清心湯。</p>
<p><u>暑劑白虎湯</u></p>
<p>治傷寒陽明經頭痛，自汗，不惡寒；或中暑頭痛，自汗，背惡寒，及小兒痘瘡。夏月極熱，熱生喘促，宜預服之。</p>
<p>知母（五錢一兩）　石膏末（四兩）　甘草（一兩）　粳米（一合）</p>
<p>上為㕮咀，每服一兩，水一鍾，煎至七分，去渣溫服，不拘時候。或傷寒脈浮，自汗，表不解，每服加蒼朮一撮，名蒼朮白虎湯。</p>
<p><u>火劑解毒湯</u></p>
<p>治傷寒大熱，狂躁，喘滿，譫語，目赤；及陽厥極深，脈微身冷；與濕熱下痢，並宜服之。</p>
<p>黃連　黃柏　黃芩　山梔（各等分）</p>
<p>上為㕮咀，每服一兩，水一鍾，煎至七分，去渣溫服，不拘時候。或傷寒腹滿嘔逆，加半夏、白茯苓、厚朴各少許，名半夏黃連解毒湯，又名既濟湯。</p>
<p><u>解劑小柴胡湯</u></p>
<p>治傷寒往來寒熱，胸脅痞痛，口苦舌乾，耳聾乾嘔。或汗後餘熱不解，及婦人產後潮熱，並皆治之。</p>
<p>柴胡（二兩）　黃芩（一兩）　人參（五錢）　甘草（五錢）　半夏（三分）</p>
<p>上為㕮咀，每服一兩，水二盞，生薑三片，棗二枚，同煎至七分，去渣，溫服，不拘時候。</p>
<p><u>甘劑五苓散</u></p>
<p>治傷寒脈浮，表不解，小便不利，身微熱，或痞而下利，或痞而淋澀，及一切濕熱泄瀉、霍亂，並宜服之。</p>
<p>澤瀉　豬苓　白朮　白茯苓（各五錢）　官桂（一分）</p>
<p>上為㕮咀，每服一兩，水二盞，煎至七分，去渣，溫服。或為細末，白湯調服亦可。</p>
<p><u>淡劑天水散</u></p>
<p>治傷寒表裡俱熱，煩渴口乾，小便不通，及霍亂吐瀉，下利腸澼。偏主石淋，及婦人產難，催生下乳，神仙之妙藥也。</p>
<p>桂府滑石膩白者（六兩）　粉草（一兩研爛）</p>
<p>上為極細末，每服三錢，白湯調下，新水亦得。加薄荷末少許，名雞蘇散；加青黛末少許，名碧玉散。治療並同，但以迴避世俗之輕侮爾。</p>
<p><u>緩劑大柴胡湯</u></p>
<p>治傷寒表裡俱熱甚，陽明經、少陰經證，微下之藥也。</p>
<p>柴胡　大黃（各一兩）　枳實（麥炒）　半夏制　赤芍藥　黃芩（各五錢）</p>
<p>上為㕮咀，每服一兩半，水二盞，生薑三片，棗二枚，煎至七分，去渣，溫服，不拘時候。</p>
<p><u>寒劑大承氣湯</u></p>
<p>治傷寒里證悉具，或狂妄腹滿，實痛燥糞不通，急下之劑也。</p>
<p>大黃　芒硝（各半兩）　枳實　厚朴（各錢半）</p>
<p>上為㕮咀，分作二服，水二盞，生薑五片，煎至七分，去渣入芒硝，再煎一二沸，溫服，不拘時候。未利再服次劑。</p>
<p><u>調劑調胃承氣湯</u></p>
<p>治傷寒陽明經裡熱甚，譫語，或協熱下利，此緩下之劑也。</p>
<p>大黃　芒硝　甘草（各三錢）</p>
<p>上為㕮咀，水一鍾，煎至七分，去渣，溫服，不拘時候。</p>
<p><u>奪劑加減三黃丸</u></p>
<p>治積熱、風熱、燥熱、酒毒熱、瘧疾熱、瘡疥熱，此藥推陳致新，宣通氣血。</p>
<p>大黃　黃芩（各二兩）　黑牽牛（取頭末）　滑石（各四兩）　黃連　川芎　薄荷（各半兩）</p>
<p>上先碾牽牛為末，別碾余藥同，和勻，滴水為丸，或煉蜜為丸，如桐子大。每服三十丸，溫水下，食後或臨臥服。</p>
<p><u>溫劑三花神祐丸</u></p>
<p>治濕熱腫滿，腹脹燥熱，腸垢不通，風熱瘡疥不已。或久瘧，或癥瘕，或下利，或疝氣，並皆治之。</p>
<p>甘遂麵裹漿水煮，芫花醋拌炒　大戟（各五錢）　黑牽牛（取頭末）　大黃（各三兩）</p>
<p>上除牽牛外，別碾余藥，和勻，滴水為丸。每服二十丸，溫水下，臨臥服。</p>
<p><u>補劑防風當歸飲</u></p>
<p>治心火上盛，腎水下虛，往來寒熱，怯弱不耐，飲食減少。</p>
<p>柴胡　黃芩　人參　甘草　當歸　白芍藥　大黃（各一兩）　滑石（二兩）</p>
<p>上為㕮咀，每服一兩，水二盞，生薑三片，同煎七分，去渣，溫服，不拘時候。</p>
<p><u>平劑四君子湯</u></p>
<p>治虛人氣弱，飲食不進；嬰兒弱其胃氣，吐乳。</p>
<p>人參　白朮　白茯苓　甘草（各半兩）</p>
<p>上為㕮咀，每服一兩，水一盞半，煎七分，去渣，溫服，不拘時候。或為細末，白湯調服亦妙，加藿香、扁豆尤佳。</p>
<p><u>榮劑四物湯</u></p>
<p>治婦人經水不調，或來多而在月前，或來少而在月後，或胎前孕動不安，或產後腹痛不止，此婦人之仙藥也。</p>
<p>當歸　白芍藥　川芎　熟地黃（各等分）</p>
<p>上為㕮咀，每服一兩，水一盞，煎七分，去渣，食前空心溫服。一曰春，二曰頭痛，三曰脈弦，加川芎一倍。一曰夏，二日腹痛，三曰脈洪，加白芍藥一倍。一曰秋，二曰血少，三曰脈澀，加當歸一倍。一曰冬，二曰少精，三曰脈微，加熟地黃一倍。</p>
<p><u>澀劑胃風湯，一名燥丹</u></p>
<p>治風寒入胃，腸鳴腹痛，泄瀉不止。</p>
<p>人參　白朮　白茯苓　當歸　白芍　川芎（各等分）　官桂（少許）</p>
<p>上為㕮咀，每服一兩，水一鍾，入粟米一撮，生薑三片，棗二枚，同煎七分，去渣，空心或食前溫服。</p>
<p><u>和劑平胃散</u></p>
<p>治飲食失節，飢飽失時，四肢困倦，口吐酸水，嘔逆噁心，面黃肌瘦。</p>
<p>蒼朮（二兩，米泔水浸一宿）　厚朴（薑製）　陳皮　甘草（各一兩）</p>
<p>上為㕮咀，每服一兩，水二鍾，生薑三片，棗二枚，同煎七分，去渣，溫服，不拘時候。</p>
<p><u>溫劑理中湯</u></p>
<p>治因冷過多，胃脘當心而痛，泄瀉清穀。</p>
<p>人參　白朮　乾薑（泡）　甘草（炙）　各等分</p>
<p>上為㕮咀，每服一兩，水一鍾，煎七分，去渣，溫服，不拘時候。</p>
<p><u>雙解散</u></p>
<p>治傷寒傷風，或有汗，或無汗，表證悉具，內熱口乾。</p>
<p>通聖　天水（各一半）</p>
<p>上為㕮咀，每服二兩，水二大鐘，生薑三片，蔥白三根，同煎七分，去渣，微熱服，以取其汗。</p>
<p><u>補中益氣湯</u></p>
<p>治飢飽勞役，四肢無力，百節痠疼，身熱頭痛，口淡失味。</p>
<p>黃耆　人參　甘草炙　當歸　白芍藥　升麻　柴胡　橘皮　黃芩　葛根　黃柏　白朮　青皮　生甘草稍（各等分）</p>
<p>上為㕮咀，每服一兩半，水二盞，生薑三片，棗二枚，同煎七分，去渣，溫服，以取微汗。</p>
<p><u>一承氣湯</u></p>
<p>治傷寒大承氣湯證，腹滿實痛；調胃承氣證，譫語下利；小承氣湯證，內熱不便。三乙承氣湯合而為一也，及治中風僵仆，風癇發作，並皆服之，此下劑也。</p>
<p>大黃　芒硝（各一兩）　厚朴　枳實（一兩）　甘草（五錢）</p>
<p>上為㕮咀，分作三服，每服水二盞，生薑三片，同煎七分，去渣，溫服，不拘時候，以利為度。</p>
<p><u>半夏橘皮湯</u></p>
<p>治一切嘔吐不止。</p>
<p>人參　白朮　白茯苓　甘草　黃芩　半夏　厚朴　藿香葉　葛根　橘皮（各等分）</p>
<p>上為㕮咀，每服一兩，水一碗，煎七分，去渣，入生薑自然汁少許，溫服，不拘時候。</p>
<p><u>白朮調中湯</u></p>
<p>治傷寒冷物過多，以致陰盛陽衰，上下所出水液澄澈清冷，手足厥逆，心腹皆痛。</p>
<p>澤瀉　白茯苓　白朮（各一兩）　乾薑（泡）　官桂　砂仁　陳皮　藿香葉　甘草（各半兩）</p>
<p>上為㕮咀，每服一兩半，水二盞，煎七分，去渣，溫服，不拘時候。或為細末，白湯調服亦可。若煉蜜為丸，如彈子大，細嚼，用白湯下，名白朮調中丸。</p>
<p><u>香薷湯</u></p>
<p>治中暑身熱，自汗，頭痛，噁心。</p>
<p>香薷（一兩）　厚朴　白扁豆（各五錢）　黃連（二錢五分）</p>
<p>上為㕮咀，水一鍾，入酒少許，同煎七分，去渣冷服，不拘時候。</p>
<p><u>茵陳蒿湯</u></p>
<p>治傷寒濕熱發黃，身如橘皮色，大小便不利。</p>
<p>茵陳蒿（二兩）　大黃（五錢）　山梔子（二錢半）</p>
<p>上為㕮咀，作一服，水二大盞，煎七分，去渣，溫服，以利為度。</p>
<p><u>桃仁承氣</u></p>
<p>治傷寒瘀血，大便黑，小便利，小腹脹滿。</p>
<p>大黃　芒硝　甘草（各二錢）　當歸尾　桃仁（各二錢）</p>
<p>上為㕮咀，作一服，水一鍾，煎七分，去渣溫服，以血下為度。</p>
<p><u>當歸玉燭散</u></p>
<p>治婦人經水熱結不通。</p>
<p>當歸　赤芍藥　川芎　生地黃（各五錢）　大黃　芒硝　甘草（各一兩）</p>
<p>上為㕮咀，每服一兩半，水二鍾，先煎余藥，次下芒硝，再煎一二沸，空心熱服。</p>
<p><u>木香導氣丸</u></p>
<p>治心火上盛，腎水下虛，氣血壅滯，肢體憔悴，面色痿黃，胸膈痞悶，婦人經候不調，小兒疳疾乳癖，並宜服之。</p>
<p>木香　檳榔　青皮　廣朮　黃連（各五錢）　黃柏（一兩半）　香附（三兩）　大黃（一兩半）　枳殼（一兩）　黑牽牛（四兩取頭末）</p>
<p>上為細末，滴水為丸，如桐子大，每服五十丸，溫水下，不拘時候。</p>
<p><u>柴胡飲子</u></p>
<p>治傷寒後餘熱，及婦人產後蒸熱，男子骨蒸潮熱，並宜服之。</p>
<p>柴胡　黃芩　人參　甘草　當歸　白芍藥（產後減芍藥加生地黃）　大黃（各等分）</p>
<p>上為㕮咀，每服一兩，水一鍾，生薑三片，同煎七分，去渣，溫服，不拘時候。</p>
<p><u>小承氣湯</u></p>
<p>治傷寒日深，恐有燥糞，欲知之法，少服小承氣湯，腸中轉失氣者必有燥糞，乃可攻之，此和胃氣之藥也。</p>
<p>枳實　厚朴　大黃（各等分）</p>
<p>上為㕮咀，每服半兩，水一盞，生薑三片，同煎七分，去渣，不拘時候，溫服。</p>
<p><u>消滯丸</u></p>
<p>消酒進食，寬中利膈。</p>
<p>黑牽牛（半斤炒取頭末四兩）　香附子　五靈脂（炒各二兩）</p>
<p>上為細末，醋糊為丸，桐子大，每服三十丸，食後生薑湯送下。</p>
<p><u>禹攻散</u></p>
<p>治一切水濕疝氣。</p>
<p>黑牽牛末（一兩）　茴香（炒半兩）</p>
<p>上為細末，每服五錢，生薑湯調下，臨臥服。</p>
<p><u>羌活愈風湯</u></p>
<p>羌活　甘草　蔓荊子　防風　川芎　細辛　枳殼　人參　麻黃　薄荷　枸杞　當歸　知母　地骨皮　黃耆　獨活　杜仲　白芷　秦艽　柴胡　半夏　前胡　厚朴　熟地黃　防己（各二兩）　白芍藥　黃芩（各三兩）　石膏（四兩）　蒼朮（四兩）　生地黃（四兩）　官桂（一兩）　白茯苓（三兩）</p>
<p>一方加</p>
<p>寄生　陳皮　白茯苓（三兩）　赤茯苓　藁本　青皮　天麻　牛膝　赤芍藥　桔梗　大黃</p>
<p>上各等分，每服二兩，水二鍾，天陰加生薑三片，同煎七分，去渣，溫服，不拘時候。如欲發汗，加麻黃一倍。如欲利，加大黃一倍。如虛風，群藥二沸，入常酒半鍾。如寒濕之氣疼痛，亦加酒半鍾，空心食前一服，臨臥一服。風證，早晨服。寒濕氣，臨臥服，微汗為度。</p>
<p><u>獨活寄生湯</u></p>
<p>獨活（二兩）　寄生　杜仲　細炒　牛膝（曬乾酒浸半日）　秦艽　當歸　白芍藥　川芎　熟地黃　官桂　細辛　茯苓　防風　甘草　人參（各一兩）</p>
<p>上為㕮咀，每服一兩半，水二鍾，生薑三片，同煎七分，去渣，微熱服，不拘時候。</p>
<p><u>轉舌膏</u></p>
<p>治中風舌謇不語。</p>
<p>清劑加　菖蒲　遠志（各少許）</p>
<p>上為細末，煉蜜為丸，如櫻桃大，硃砂為衣，每服三五丸，用薄荷湯化開，或食後、或臨臥、或食遠服。</p>
<p><u>活命金丹</u></p>
<p>治中風神不清。</p>
<p>清劑加　青黛　藍根（各一兩）</p>
<p>上為細末，煉蜜為丸，如彈子大，硃砂為衣，外加金箔，每服一丸，用茶清化開，食後或臨臥服。</p>
<p><u>小陷胸湯</u></p>
<p>治傷寒心下滿痛，名曰小結胸。</p>
<p>瓜蔞子半枚帶子挫碎　生半夏（三枚）　黃連（二錢）　生薑（三錢）</p>
<p>上用水一大碗，煎瓜蔞實，取汁半碗，後下余藥，再煎三四沸，去渣，溫服，不拘時候。</p>
<p><u>大陷胸湯</u></p>
<p>治傷寒從心下至小腹堅滿硬痛，名曰大結胸。</p>
<p>大黃　芒硝（各半兩）　生甘遂末（少許）</p>
<p>上用水一大碗，先煎大黃、甘遂，次下芒硝，取半碗，分作二處，先服一半，以利為度，未利再服。非明瞭醫士未敢用此藥也。</p>
<p><u>三黃瀉心湯</u></p>
<p>治心經熱。</p>
<p>大黃　黃芩　黃連（各等分）</p>
<p>上為㕮咀，每服三錢，水一盞煎七分，去渣，食後溫服。</p>
<p><u>寧肺散</u></p>
<p>治一切寒嗽</p>
<p>罌粟殼不拘多少　甘草　乾薑　當歸　白礬　陳皮</p>
<p>上為細末，每服三錢，用烏梅三個，煎薤汁半盞，臨臥調服。</p>
<p><u>如神丸</u></p>
<p>治一切癇病。</p>
<p>代赭石（一兩）　白礬（半兩）</p>
<p>上為細末，用糯米粥為丸，如桐子大，每服三十丸，用溫米飲湯食後送下。</p>
<p><u>延壽丹</u></p>
<p>治一切筋攣骨痛濕之疾。</p>
<p>草烏頭炮製（一兩）　蒼朮（二兩）　小茴香（炒三兩）</p>
<p>上為細末，酒打麵糊為丸，每服三十丸；如桐子大，每服五十丸；如豌豆大，用鹽酒空心下，以乾物壓之，忌食熱物。</p>
<p><u>清解散</u></p>
<p>治一切感冒。</p>
<p>蒼朮炒（二兩）　荊芥（二兩）　甘草（一兩）　麻黃（一兩半）</p>
<p>上為㕮咀，每服一兩半，水二鍾，生薑三片，蔥白一莖，同煎七分去渣，微熱服。以被蓋覆，取汗為度，不拘時候。</p>
<p><u>如意通聖散</u></p>
<p>治風濕走注疼痛。</p>
<p>罌粟殼　丁香皮　麻黃　防風　當歸　川芎　甘草（各等分）</p>
<p>上為㕮咀，每服一兩半，炒令黃色，水二鍾，煎七分去渣，入研細乳香、沒藥二味各少許，再煎一沸，微熱服。以被蓋覆，取汁為度，不拘時候。</p>
<p><u>大橘皮湯</u></p>
<p>治一切濕熱腫滿、小便赤澀、大便泄瀉、心腹痞悶。</p>
<p>五苓　天水（各半兩）　木香　檳榔　陳皮（各一撮）</p>
<p>上為㕮咀，水二鍾，生薑三片，同煎七分去渣。溫服不拘時候。</p>
<p><u>三化湯</u></p>
<p>治中風大便不通。</p>
<p>小承氣（一兩）　羌活（二錢）</p>
<p>上為㕮咀，水二鍾，生薑三片，同煎七分去渣。溫服不拘時候，以利為度。</p>
<p><u>玄青丸</u></p>
<p>治大人小兒一切痢疾。</p>
<p>濕劑加　黃連　黃柏　青黛（各五錢）</p>
<p>上為細末，滴水為丸，如綠豆大。每服十五丸，溫水下，在食前空心。如治小兒，丸如麻子大，每服十丸，量歲用之。</p>
<p><u>芍藥柏皮丸</u></p>
<p>治一切血痢。</p>
<p>黃連　黃柏　當歸　白芍藥（各等分）</p>
<p>上為細末，麵糊為丸，如桐子大。每服百丸，溫水食前送下。</p>
<p><u>大金花丸</u></p>
<p>火劑不拘多少加　大黃</p>
<p>上為細末，麵糊為丸如桐子大。每服五十丸，溫水下，食後或臨臥服。</p>
<p><u>搜風丸</u></p>
<p>治一切痰實。</p>
<p>人參　白朮　白茯苓　南星　半夏　白礬（各五錢）　薄荷　蛤粉　寒水石　藿香（各三錢）　黃芩（二兩）　大黃　滑石　黑牽牛（半斤取頭末四兩）　乾薑（四錢）</p>
<p>上為細末，滴水為丸，如桐子大。每服三十丸，食後生薑湯下。</p>
<p><u>琥珀散</u></p>
<p>治經水不調。</p>
<p>穿山甲灰火內泡（五錢）　當歸尾（焙）　蒲黃（三錢）　辰砂（一分）</p>
<p>上㕮咀，碾為細末。每服三錢，空心溫酒調下。</p>
<p><u>八正散</u></p>
<p>治小便不通兼悶。</p>
<p>瞿麥　萹蓄　木通　車前　山梔　大黃　甘草　滑石（各等分）</p>
<p>上為㕮咀，每服一兩半，水二鍾，燈心三十莖，同煎七分去渣。食前溫服。</p>
<p><u>珍珠粉丸</u></p>
<p>治脫滑精氣。</p>
<p>黃柏（二兩）　蛤粉（一兩炒）</p>
<p>上為細末，麵糊為丸，如桐子大。每服百丸，空心鹽湯下。</p>
<p><u>封髓還元丹</u></p>
<p>治脫滑精氣。</p>
<p>黃柏（二兩）　砂仁　甘草（各五錢）</p>
<p>上為細末，麵糊為丸。每服五十丸，如桐子大；每服百丸，如綠豆大。空心鹽湯下。</p>
<p><u>瓜蒂散</u></p>
<p>治中風牙關緊急及風癇病之吐劑。</p>
<p>瓜蒂　赤小豆（各等分）</p>
<p>上為細末，每用半錢，強壯人一錢，用白湯調下，不拘時候。不吐者以薤汁半盞，頓服，以雞翎探之。吐不止者，以麝香湯止之。</p>
<p>便毒發腫</p>
<p>知母　貝母　黑牽牛　天花粉　穿山甲　威靈仙</p>
<p>上水酒煎服。</p>
