<header data-type="book">
<h1>達摩洗髓易筋經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>項揚惠、吳德華、張鑑若、曹江整理</dd></div>
</dl>
</header>

<h1>原敘一·張瑤序</h1>
<p>余方弱冠，患失血，體羸氣微，醫藥罔效。清光緒乙未春，從周守儒夫子習訓詁。夫子以所得於靜一空悟大師之正側坐臥各圖，依次授之，數月病愈，旋即廢棄。閱六年辛丑，疾復大作，夫子督促複習，未百日病又愈。自是或作或輟，雖違師訓，未尚日夜練習，然每因勞倦過甚，或腸胃積滯，必凝神靜氣，擇要行之。</p>
<p>邇來三十餘年，雖年逾知非，其精力常足以應事，皆由於此。夫子於大師所授各圖式外，又復旁收博引，闡發奧義。名曰：增演易筋洗髓內功圖說。分為十八卷，訂為十冊，親書三部，藏於其櫝。丙辰冬，余自酉陽旋渝，夫子已歸道山二歲矣。訪其書尚存二部，今夏復訪之，則僅存其一。余深懼大道之沒，而吾夫子推闡之苦衷，亦隨之而靡，亟商鑑涵世弟，謀付石印，以廣流傳。</p>
<p>方今國術昌明，凡講外壯者，多失內養，談玄理者，罔識動作。茲編內外兼備，性命雙修，誠入道之正宗，由道而佛之捷徑，豈區區卻病延年所能盡其功效哉。</p>
<p><u>庚年歲秋九月門人張瑤藝耘敬述</u></p>

<h1>原敘二·周守儒序</h1>
<p>予生而體弱，長失調養，十歲前飲食不節，嘗患疫寒積滯等症。十歲後沉湎於酒，多生瘡痍。至十九歲，又為洋菸困，行年三十體愈羸，病日臻，動則驚怖，行則怔忡，風熱燥濕，坐不安席，寒暑晝夜，時在病鄉，體則奄奄一息，熱又時時上蒸，攻散和解，溫補清涼，無術可施。十餘年來，苦狀難述，雖歷經良醫調治，先去邪，後扶正，症對方投，無不小效。而畏風怯寒，氣短神衰，服薑桂參茸近十年，元終難復，壯年幾與耄年無異。清夜自思，計維坐以待斃矣。</p>
<p>然竊念生寄死歸，壽夭何惜，獨是混世四十年，毫無善狀，負疚孔多，志未竟者幾何，分未盡者又幾何？所負天地父母之生成，君親師長之教育，友朋妻拏之屬望，聖賢先儒之陶熔，更僕難數，退思補過，可奈時不及待，何自怨自奮，亦徒仰屋興嘆耳。幸於辛卯春，宴古渝之至善堂，遇松山陳老師少林神功也。勸以其功療之，盡傳心授，於是頓起禪心，有因必訪，又於成都道院，得內功圖說一冊，簡摩日久，稍有所得，遵圖行之，體覺舒暢，至是求道益切。</p>
<p>癸巳秋闈，復赴省應試，於資陽通慧寺中，忽遇靜一空悟老師，睹法相，心知其異，一路探討真諦，隨駕至昭覺寺，不離竟底。蘊悉師自嵩山少林來，盡得少林術，是達摩嫡派，深通如來易筋洗髓等經。拜倒求度，師憫其誠許之，遂執弟子禮，而受業於門，口傳心授凡三逾月，盡得此中三昧。臨別授以增益易筋洗髓內功圖說六卷，卷分上下，共十二卷。戒之曰，此祖師真諦，非十八家支流可比，毋輕視，行持無間，足證佛因，切忌行至半途，自持神勇無敵，遂棄上乘工夫，久戀人間勳業事，以吾弟文士學成後，有心得處，可增演妙諦，以廣慈航，萬不可視為獨得之奇，秘而不宣也。勉之慎之，余再拜受冊，無日不習，方年餘，頗覺病去癮除，精神一振，體健身強，氣力漸增，後效雖不能預必，此功終不敢稍廢也。爰敘進道巔末，於簡端云時。</p>
<p><u>乙未孟夏中旬古渝後學周述官謹序於士隱齋中</u></p>

<h1>原敘三·增演易筋洗髓經合編序</h1>
<p>易筋洗髓，自達摩祖師西去後，慧可祖師將洗髓攜去雲遊，易筋藏少林壁中。由是道分為二：習洗髓者僅能收心養性，習易筋者僅能強筋壯力。千餘年來，其書未合。後易筋經般刺密諦翻譯出，代有傳人。洗髓由慧可翻譯出，亦有嫡派。兩兩相合，道本同源，理實一貫，一而二，二而一，兩經非兩派也。</p>
<p>後世祖師得洗髓傳，知道相表裡，乃與易筋合成一函。雖綱領節目，綜括靡遺，而奧旨微言，難尋次弟，經少林門下，諸老祖師，照諸佛菩薩、諸天神王、歷代羅漢、宗師，莊嚴法相，摩挲求之，合以易筋洗髓所論工夫，始知道出一轍。於是匯成一帙，名曰：《增益易筋洗髓內功圖說》。圖多說少，其旨未暢。</p>
<p>余不揣淺陋，依圖演說，繕寫易筋洗髓於前，益以各家論說，分為十七卷。首二卷經文論說，中十二卷歷代宗師增益圖像，後三卷易筋洗髓支流，以備參悟採用。顏曰：《增演易筋洗髓內功圖說》</p>
<p>余何人？不足言道，亦不善屬文。平日所得，雖未知當否，而吾師屬意演說之命難辭。凡有所覺，罔為筆之於書云。</p>

<h1>原敘四·李衛公序</h1>
<p>後魏孝明帝太和年間，達摩大師自梁適魏，面壁於少林寺，一日謂其徒眾曰：盍各言所知，將以占乃詣，眾因各陳其進修。師曰：某得吾皮，某得吾肉，某得吾骨。惟于慧可曰，爾得吾髓，云云。後人漫解之，以為入道之淺深耳。蓋不知其實有所指，非漫語也。</p>
<p>迨九年功畢，示化葬熊耳山腳，乃遺只履而去。後面壁處，碑砌壞於風雨，少林僧修葺之，得一鐵函，無封鎖，百計不能開。一僧悟曰：此必膠之固也，宜以火函遂開，乃溶蠟滿注而四著故也。得所藏經二帖，一曰洗髓經，一曰易筋經。洗髓經者，謂人之生，感於愛欲，一落有形，悉皆滓穢。欲修佛諦，如五臟六腑，四肢百骸，必先一一洗滌淨盡，純見清虛，方可進修入佛智地，不由此經，進修無基，無有是處。讀至此，然後知曏者所謂得髓者非比喻也。易筋經者，謂髓骨之外，皮肉之內，莫非筋連絡周身，通行血氣。凡屬後天，皆其提挈，借假修真，非所贊襄，立見頹靡，視作泛常，曷臻極至，舍是不為，進修不力，無有是處。讀至此然後知所謂皮肉骨者非比喻，亦非漫語也。</p>
<p>洗髓經帙歸於慧可，附衣缽共作秘傳，後世罕見，惟易筋留鎮少林，以永師德。第其經字，皆天竺文。少林諸僧不能偏譯，間亦譯得十之一二，復無至人。口傳密秘，遂各逞己意，演而習之，竟趨旁徑，落於枝葉，遂失作佛真正法門。至今少林僧眾僅以角藝擅長，是得此經之一斑也。眾中一僧，具超絕識，念惟達摩大師，既留聖經，豈惟小枝？！今不能譯，當有譯者。乃懷經遠訪，遍歷山嶽。一日抵蜀，登峨嵋山，得晤西竺聖僧般刺密諦，言及此經，並陳來意。聖僧曰：「佛祖心傳，基先於此。然而經文不可譯，佛語淵奧也。經義可譯者，通凡達聖也。」乃一一指陳，詳譯其義，且止僧于山，提挈進修，百日而凝固，再百日而充周，再百日而暢達，得所謂金剛堅固地，馴此入佛智地，洵為有基筋矣。僧志堅精，不落此務，乃隨聖僧化行海岳，不知所之。</p>
<p>徐鴻客遇之海外，得其秘諦，既授於虯髯客，復授於予，嘗試之，輒奇驗，始信語真不虛。惜乎未得洗髓之秘，觀遊佛境，又惜立志不堅，不能如僧，不落世務。乃僅借六花小技，以勳伐終，中懷愧歉也。然則此經妙義，世所未聞，謹序其由，俾知巔末。企望學者，務期作佛，切勿要區區作人間事業也。若各能作佛，乃不負達摩大師留經之意。若曰勇足以名世，古之以力聞者多矣，奚足錄哉？！</p>
<p><u>時唐貞觀二載春三月三日李靖藥師甫序</u></p>

<h1>原敘五·牛將軍序</h1>
<p>予武人也，目不識一字，好弄長槍大劍，盤馬彎弓以為樂。值中原淪喪，徽欽北狩，泥馬渡河，江南多事，予因應我少保岳元帥之募，署為裨將，屢立戰功，遂為大將。憶昔年岳少保奉命出征，後旋師還鄂，歸途忽見一遊僧，貌奇古，類阿羅漢像，手持一函，入營囑予致少保。叩其故，僧曰：「將軍知少保有神力乎？」予曰：「不知也，但見吾少保能挽百石之弓耳。」僧曰：「少保神力，天賦之歟？」予曰：「然。」僧曰：「非也，予授之耳。少保嘗從事於予，神力成功，予囑其相隨入道，不之信，去而作人間勳業事，名雖成，志難竟，天也，運也，命也。奈若何，今將及矣！頌致此函，或能反省獲免。」予聞言，不勝悚異。叩姓氏不答，叩所之，曰：「西訪達摩師。」予懼其神威，不敢挽留，竟飄然去。</p>
<p>少保得函，讀未竟，泣數行下，曰：「吾師神僧也，不吾待，吾其休矣。」因從襟袋中出冊付予，囑好掌此冊，擇人而授，勿使進道法門斬焉中絕，負神僧也。不數月，果為奸相所構。予心傷少保，冤憤莫伸，視功勳若糞土，因無復人間想矣。念少保之囑，不忍負憾，武人無巨眼，不知斯世，誰具作佛之志，堪傳此冊者。擇人既難，妄傳無益。今將此冊傳於嵩山石壁之中，聽有道緣者自得之，以衍進道之法門，庶免妄傳之咎，可酬對少保於天上矣。</p>
<p><u>時宋紹興十二年鄂鎮大元帥少保岳麾下宏毅將軍牛皋鶴九甫序</u></p>

<h1>上篇·原理源流篇</h1>

<h2>第一章·原理源流篇</h2>

<h3>一、易筋洗髓名義</h3>
<p>筋，為連絡形骸之物，故先易筋，筋易而無處不易矣。</p>
<p>髓，為出入靈明之區，故必洗髓，髓洗而無微不洗矣。</p>
<p>筋何貴乎易？按秘書說：日月為易，象陰陽也。易繫辭：生生之謂易。注：陰陽轉易，以成化生。是易為變化之總名，改換之殊稱。筋一易而乾坤合，坎離交矣。至引伸為交易、變易、互易、移易、反易、對易、辟易、改易、平易、和易之義。又何難使剝復運，否泰轉耶？！所以一使之易，寒可易為暑，暑可易為寒，晝可易為夜，夜可易為晝，老可易為少，少可易為老，陽可易為陰，陰可易為陽，變化無端，皆易之道。</p>
<p>髓又何言乎洗？按洗廣韻，先禮切，正韻，想禮切，並音姺，與灑同，滌也。說文「灑足也」。史記高帝紀有：使兩女子洗之文書酒誥，自洗腆改用酒。洗，又潔也。是洗之義，自上灑下，又由下升上而潔上也。他如鍾名姑洗，律名姑洗，官名洗馬，承水器曰洗，石名有洗石，皆取義於易繫辭。聖人以此洗心，退藏於密之洗，所謂灑滌、灑潔也。所以一為之洗，濁積者能使之清，黑暗者能使之明，凝重者能使之輕，塵蔽者能使之淨，洗髓功深能自放光明。</p>
<p>昔漢武帝時，客有問於東方朔，曰：「先生有養生訣乎？」答曰：「無他術，吾能三千年一洗髓，三千年一伐毛。吾已三洗髓，三伐毛矣。」客不識道，以為滑稽戲語。後考據家及注家亦多引之作喻言，不知為實語也。</p>
<p>行功者能晉進不退，恆久有常，困而升，革而鼎，蹇而解，賁臨中節，屯蒙、悉渙、中孚、獨履，由小過而大過，小蓄而大蓄，頤養與井養兼施，未濟既濟，有震無兌，有益無損，噬嗑需訟，師遁夬姤，比隨而謙，謙而豫蠱，明夷，漸旅、漸異、漸豐、漸萃、漸艮、漸歸妹家人，不暌同人，大壯，咸觀、大有。一易筋即洗髓，一洗髓愈易筋，陽陰造化，往來不窮，無方無體，無際無涯與天地參，非其能事乎？</p>

<h3>二、易筋洗髓並行不悖說</h3>
<p>予讀易筋、洗髓二經，見易筋中亦能洗髓，洗髓中亦能易筋，功分精粗，不分先後，效分大小，不分淺深。專習易筋，僅能增力，則成外壯；專習洗髓，僅能養心，則成枯禪。皆偏也，皆非佛之全功也。</p>
<p>易筋，佛之節目。洗髓，佛之究竟。無節目，不可入道。無究竟，何由證因。以易筋、洗髓歧視之，固非。即以易筋先洗髓，洗髓統易筋，皆誤。行易筋不可離卻洗髓工夫，行洗髓原為收束易筋工夫。其道一而分，其功兩而合，其效一而神，其理兩而化。易筋、洗髓具有並行不悖，相與有成之妙。</p>
<p>故十二圖中，所列行功次弟，導引逆流，搬運存養，規模皆合。易筋、洗髓，錯綜變易而兼行之。運中有定，定中有運，一動一靜互為根，一陰一陽之謂道。陰陽相摩，八卦相蕩，二經渾然一太極圖矣。</p>

<h3>三、易筋洗髓經後跋一</h3>
<p>易筋洗髓二經，並十二圖，如來真諦，祖師秘傳，後進未學，何敢妄贊一辭。然斯道自初祖流傳，僧俗祖師，如後五祖及般刺密諦，徐鴻客、虯髯、李藥師、岳鵬舉、牛鶴九、馬僧、金環女僧、周嘉福、徐全來、周斌、潘偉、王老蓮、空悟和尚，諸老宗師，皆有增益，演傳大道，果得少林嫡派，不背師傳，摩挲日久，中有心得，傳筆註釋，不無小補。茲增演易筋洗髓內功圖說一書，本少林靜一老師而傳。原名增益易筋洗髓內功圖說，皆歷代僧俗祖師，增益集成，義蘊雖該，理多奧隱，文多梵音，不演以華言，初學難解，縱有其書，無由播傳。余得傳時，師曾授意於余，口講指畫，命余演說，意謂有心得後，無妨增演而發明之，以昭來學。余不才多負師命，而凡有所得，罔不考證，前型申言其義，未敢杜撰一字。所有增益演說處，胥證以釋門藏典及各語錄，參以道藏大成，百子全書及各家丹經全集，合以醫經，針灸脈穴，儒家易理性理等書，凡有與斯道合者，匯而輯之，演說廣義，推闡其旨。顏書曰：增演易筋洗髓內功圖說。非關工夫真正實際，一切勸道讚道，禪語佛偈，文詞詩歌，悉掃而空。非若別種釋部，專侈空談，罕露真機，幾於把斷要津，使金缽盂暗沉海底也。是書明度金針，實皆黃庭要道，心傳衣缽，已駕仙佛梯航，語淺近義精深。學者字字體貼，圖圖留心，朝夕行持，永無間斷。淺之可卻病延年，深之可羽化飛仙，粗之可強精壯力，精之可入聖超凡。健步輕身，猶其餘事，出神入定乃證全功。詎可與六花技、海字功、十二勁、鹿鶴龜蛇五禽等圖倒觀哉？！是非聰明正大，素有根基，而又久於其道者，不能辨此！</p>

<h3>四、易筋洗髓經後跋二</h3>
<p>前李衛公序至採精華法，是易筋經，翻譯洗髓經序至翻譯經義後跋，是洗髓經。二經所以合纂者，以易筋主運，定鎮之；洗髓主定，運導之。舍定求運，搬運難運。舍運求定，欲定難定。先定後運，一運即定。先運後定，無定不運。專運落外壯，專定落枯禪。即運即定，即定即運，乃能運定。行動第次，雖先運後定，非運運定用，不相輔行也。至於十二圖勢，已隱括於二經之內。故列二經於十二圖前，而合編於一卷中云。</p>

<h3>五、易筋洗髓經後跋三</h3>
<p>前譯經文，後譯名義。文言各異，意義不二。達摩梵音，法空華語。空諸所有，不即不離。人若執經，終不通移。分門別戶，殊途異趨，同己則許，異己則毀。在教泥教，老死範圍。如此之人，迂而且鄙。坐井觀天，蟪蛄為期。祖師圓通，東遊西歸。只履獨步，熊耳滅跡。不惟空塵，且並空理。無掛無礙，得大自在。噫嘻無師，天縱生知。生於默識，幼而穎異。少遊印度，窮諸教義。不泥言筌，提倡宗旨。時來東土，直指性地。解纏出縛，天人師資。感祖洪慈，遺茲妙諦。後之見者，慎勿膜視。</p>

<h2>第二章·易筋經總論</h2>

<h3>一、易筋經總論原文</h3>
<p>譯曰：佛祖大意，謂登正果者，其初基有二：一曰清虛，一曰脫換。能清虛則無障，能脫換則無礙。無障無礙，始可入定出定矣。知乎此，則進道有其基矣。所云清虛者，洗髓是也，脫換者易筋是也。</p>
<p>其洗髓之說：謂人之生感於情欲，一落有形之身，而臟腑肢骸悉為滓穢所染，必洗滌淨，無一毫之瑕障，方可步超凡入聖之門。不由此，則進道無基。所言洗髓者，欲清其內，易筋者，欲堅其外。如果能內清靜外堅固，登壽域在反掌之間耳，何患無成。</p>
<p>且云：易筋者，謂人身之筋骨，由胎稟而受之。有筋弛者，筋攣者，筋靡者，筋弱者，筋縮者，筋壯者，筋舒者，筋勁者，筋和者，種種不一，悉由胎稟。如筋弛則病，筋攣則瘦，筋靡則瘻，筋弱則懈，筋縮則亡，筋壯則強，筋舒則長，筋勁則剛，筋和則康。</p>
<p>若其人，內無清虛而有障，外無堅固而有礙，豈許入道哉？！故入道，莫先於易筋以堅其體，壯內以助其外，否則道亦難期。</p>
<p>其所言易筋者，易之為言，大矣哉！易者乃陰陽之道也。易即變化之易也。易之變化，雖存乎陰陽，而陰陽之變化實存乎人。弄壺中之日月，搏掌上之陰陽，故二豎系之在人，無不可易。所以為虛為實者，易之；為剛為柔者，易之；為靜為動者，易之。高下者易其升降，後先者易其緩急，順逆者易其往來，危者易之安，亂者易之治，禍者易之福，亡者易之存，氣數者可以易之挽回，天地者可以易之反復，何莫非易之功也。</p>
<p>至若人身之筋骨，豈不可以易之哉？！然筋人身之經絡也，骨節之外，肌肉之內，四肢百骸，無處非筋，無經非絡，聯絡周身，通行血脈，而為精神之外輔。如人手之能攝，足之能履，通身之活潑靈動者，皆筋之挺然者也，豈可容其弛攣靡弱哉？而病瘦瘻懈者又寧許其入道乎？佛祖以挽回斡旋之法，俾筋攣者易之以舒，筋弱者易之以強，筋弛者易之以和，筋縮者易之以長，筋靡者易之以壯，即綿泥之身可以立，成鐵石，何莫非易之功也，身之利也，聖之基也。此其一端耳。</p>
<p>故陰陽為人握也，而陰陽不得自為陰陽，人各成其人，而人勿為陰陽所羅。以血氣之軀而易為金石之體，內無障，外無礙，始可入得定去，出得定來。然此著功夫，亦非細故也。而功有漸次，法有內外，氣有運用，行有起止，至藥物器制，節候歲月，飲食起居，始終各有徵驗。入斯門者，宜先辦信心，次立虔心，奮勇堅進，如法行持而不懈，自無不立躋聖域矣。</p>
<p>般刺密諦曰：此篇就達摩大師本意，言易筋之大概，譯而成文，毫不敢加以臆見或創造一語。後篇行功法則具詳原經譯義，倘遇西竺高明聖僧，再請琢磨可也。</p>

<h3>二、膜論</h3>
<p>夫人之一身，內而五臟六腑，外而四肢百骸；內而精氣與神，外而筋骨與肉，共成一身也。如臟腑之外，筋骨主之，筋骨之外，肌肉主之；肌肉之內，血脈主之，周身上下，動搖活潑者，此又主之於氣也。是故修養之功，全在培養血氣者，為大要也。即如天之生物，亦各隨陰陽之所至而百物生焉，況於人生乎？況於修煉乎？且夫精氣神為無形之物也，筋骨肉乃有形之身也，此法必先煉有形者為無形之佐，培無形者為有形之輔，是一而二，二而一者也。</p>
<p>若專培無形而棄有形，則不可。專煉有形而棄無形，更不可。所以有形之身必得無形之氣相倚，而不相違，乃成不壞之體。設相違而不相倚，則有形者亦化而無形矣。是故煉筋必須煉膜，煉膜必須煉氣。然而煉筋易而煉膜難，煉膜難而煉氣更難也。先從極難極亂處立定腳跟，後向不動不搖處認斯真法。務培其元氣，守其中氣，保其正氣、獲其腎氣，養其肝氣，調其肺氣，理其脾氣，升其清氣，降其濁氣，閒其邪惡不正之氣，勿傷於氣，勿逆於氣，勿憂思悲怒以損其氣。使氣清而平，平而和，和而暢達，能行於筋，串於膜，以至通身靈動，無處不行，無處不到。氣至則膜起，氣行則膜張。能起能張，則膜與筋齊堅固矣。如煉筋不煉膜，而膜無所主，煉膜不煉筋，而膜無所依。煉筋煉膜而不煉氣，而筋膜泥而不起，煉氣而不煉筋膜，而氣瘻而不能宣達流串於筋絡。氣不能流串，則筋不能堅固，此所謂參互其用，錯綜其道也。俟煉至筋起之後，必宜倍加功力，務使周身之膜皆能騰起，與筋齊堅著於皮，固於內，始為子母各當，否則筋堅無助，比如植物無土培養，豈曰全功也哉？！</p>
<p>般刺密諦曰：此篇言易筋以煉膜為先，煉膜以煉氣為主。然此膜人多不識，不可為脂膜之膜，乃筋膜之膜也。脂膜腔中物也！筋膜骨外物也。筋則聯絡肢骸，膜則包貼骸骨。筋與膜較，膜軟於筋，肉與膜較，膜勁於肉，膜居肉之內，骨之外，包骨襯肉之物也。其狀若此，行此功者，必使氣串於膜間，護其骨，壯其筋，合為一體，乃曰全功。</p>

<h3>三、內壯論</h3>
<p>內與外對，壯與衰對。壯與衰較，壯可久也。內與外較，外勿略也。內壯言堅，外壯言勇，堅而能勇是真勇也，勇而能堅是真堅也，堅堅勇勇，勇勇堅堅，乃成萬劫不化之身，方是金剛之體矣。凡煉內壯，其則有三：一曰守此中道，守中者，專於積氣也。積氣者，專於眼耳鼻舌身意也。其下手之要，妙於用揉，其法詳後。凡揉之時，宜解襟仰臥，手掌著處，其一掌下胸腹之間，即名曰中。惟此中乃存氣之地，應須守之。守之之法，在乎含其眼光，凝其耳韻，勻其鼻息，緘其口氣，逸其身勞，鎖其意馳，四肢不動，一念冥心，先存想其中道，後絕其諸妄念，漸至如一不動，是名曰守，斯為合式。蓋揉在於是，則一身之精氣神俱注於是，久久積之，自成庚方一片矣。設如雜念紛紜，馳想世務，神氣隨之而不凝，則虛其揉矣，何益之有。二曰，勿他想，人身之中，精氣神血不能自主，悉聽於意，意行則行，意止則止。守中之時，意隨掌下，是為合式。若或馳意於各肢，其所凝積精氣與神，隨即走散於各肢，即成外壯，而非內壯矣。揉而不積，又虛其揉矣，有何益哉。三曰，待其充周。凡揉與守，所以積氣，氣既積矣，精神血脈悉皆附之。守之不馳，揉之且久，氣惟中蘊而不旁溢，氣積而力自積，氣充而力自周。此氣即孟子所謂，至大至剛，塞乎天地之間者，是吾浩然之氣也。設未及充周，馳意外走，散於四肢，不惟外壯不全，而內壯亦屬不堅，則兩無是處矣。</p>
<p>般刺密諦曰：人之初生，本來原善。若為情欲雜念分去，則本來面目，一切抹倒。又為眼耳鼻舌身意，分損靈犀，蔽其慧性，以致不能悟道，所以達摩大師面壁少林九載者，是不縱耳目之欲也。耳目不為欲縱，猿馬自被其鎖絆矣。故達摩大師得斯真法，始能只履西歸，而登正果也。此篇乃達摩佛祖心印，先基真法，在守中一句，其用在含其眼光七旬。若能如法行之，則雖愚必明，雖柔必強，極樂世界，可立而登矣。</p>

<h3>四、揉法</h3>
<p>夫揉之為用，意在磨礪其筋骨也。磨礪者，即揉之謂也。其法有三段，每段百日。一曰，揉有節候。如春月起功，功行之時，恐有春寒，難以裸體，只可解開襟，次行於二月中旬，取天道漸和，方能現身下功，漸暖乃為通，便任意可行也。二曰，揉有定式。人之一身，右氣左血，凡揉之法，宜從身右推向於左，是取推氣入於血分，令其通融。又取胃居於右，揉令胃寬，能多納氣。又取揉者，右掌有力，用而不勞。三曰，揉宜輕淺。凡揉之法，雖曰人功，宜法天義，天地生物，漸次不驟，氣至自生，候至物成。揉若法之，但取推蕩，徐徐來往，勿重勿深，久久自得，是為合式。設令太重，必傷皮膚，恐生斑痱。深則傷於肌肉筋膜，恐生熱腫，不可不慎。</p>

<h3>五、採精華法</h3>
<p>太陽之精，太陰之華，二氣交融，化生萬物。古人善採咽者，久久皆仙。其法秘密，世人莫知，即有知者，若無堅志，且無恆心，是為虛負，居諸而成之者少也。凡行內煉者，自初功始，至於成功，以至終身，勿論閒忙，勿及外事。若採咽之功，苟無間斷，則仙道不難於成。其所以採咽者，蓋取陰陽精華，益我神智，俾凝滯漸消，清靈自長，萬病不生，良有大益。其法：日取於朔，謂與月初之交，其氣方新，堪取日精。月取於望，謂金水盈滿，其氣正旺，堪取月華。設朔望日，遇有陰雨，或值不暇，則取初二、初三，十六、十七，猶可凝神補取。若過此六日，則日昃月虧，虛而不足取也。朔取日精，寅卯時高處默對，調勻鼻息，細吸光華，合滿一口，閉息凝神，細細嚥下，以意送之，至於中宮，是為一咽。如此七咽，靜守片時，然後起行，任從酬應，毫無妨礙。望取月華，亦准前法，於戌亥時採吞七咽，此乃天地自然之利，惟有恆心者，乃能享用之，亦惟有信心者，乃能取用之。此為法中之一部大功，切勿忽誤也。</p>

<h2>第三章·洗髓經總義</h2>

<h3>一、洗髓經序</h3>
<p>易筋洗髓具非東土之文章，總是西方之妙諦，不因祖師授受，予安得而識之？又烏自而譯之也哉？！我祖師大發慈悲，自西徂東，餐風宿露，不知幾歷暑寒，航海登山，又不知幾歷險阻，如此者豈好勞耶？悲大道之多歧，將愈支而愈離，恐接緒之無人，致慧眼之淹沒。遍觀諸教之學者，咸逐末而忘本，每在教而泥教，誰順流而窮源，忽望霞旦，白光灼天，知有載道之器，可堪重大之託，此祖師東來之大義也！</p>
<p>初至陝西敦煌，遺留湯缽於寺。次及中州少林，面壁趺跏九年，不是心息參悟，亦非存想坐功，總因因緣未至，姑靜坐久留，以待智人參求耳。及祖師示人為第一義諦，聞者多固執宿習，不能領略，再請，予何人斯，幸近至人，耳提面命，頓超無上，正傳正覺，得易筋洗髓二帙。洗髓義深，精近無基，初學難解，其效亦難，至是為末後之究竟也。及其成也，能隱能顯，串金透石，脫髓圓通，虛靈長活，聚而成形，散則為風，然未可一蹴而至也。易筋義淺，入手有據，初學易解，其效易臻，堪為築基之初起。是必易筋之功竟，方可因之洗髓。予得師傳，習易筋已效，將易筋原本一帙，藏之少林壁間，俟有緣者得之。惟洗髓一帙，附之衣缽，遠遊雲水，後功行至，果獲奇應，曾不敢輕易告人，又恐久而失傳，辜負祖師西來之意。於是不揣鄙陋，譯為漢語，止求不悖經文，不敢致飾章句，依經詳譯於後，併為序言於前，以俟智者之玩味而有得也。（釋慧可謹序）</p>

<h3>二、洗髓經總義原文</h3>
<p>如是我聞時，佛告須菩提，易筋功已竟，方可事於此。此名靜夜鍾，不礙人間事。白日任匆匆，務忙衣與食。三餐食既竟，放風水火訖。抵暮見明星，燃燈照暗室。晚習功課畢，將息臨臥具。大眾成鼾睡，忘卻生與死。明者獨驚醒，黑夜暗修為。撫體嘆今昔，過去少一日。無常來迅速，身同少水魚。顯然如何救，福慧何日足？四恩未能報，四緣未能離，四智未現前，三身未皈一。默觀法界中，四生三有備。六根六塵連，五蘊並三途。天人阿修羅，六道各異趨。二諦未能融，方度未能具。見見非是見，無明未能息。道眼未精明，眉毛未落地。如何知見離，得了涅槃意。若能見非見，見所不能及。蝸角大千界，蟭眼納須彌。昏昏醉夢間，光陰兩俱失。流浪於生死，苦海無邊際。如來大慈悲，演此為洗髓。須俟易筋後，每於夜靜時。兩目內含光，鼻中運息微。腹中覺空虛，正宜納清煦。朔望及二絃，二分並二至。子午靜守功，卯酉干沐浴。一切為心造，煉神竟虛靜。常惺惺不昧，莫被睡魔拘。夜夜常如此，日日須行持。惟虛能容納，飽食非所宜。謙和保護身，惡厲宜緊避。假借可修真，四大須保固。柔弱可持身，暴戾災害逼。渡河須用筏，到岸方棄諸。造化生成理，從微而至著。一言透天機，漸進細尋思。久久自圓滿，未可一蹴企。成功有定限，三年九載余。從容在一紀，決不逾此期。心空自身化，隨意任所之。一切無掛礙，圓通觀自在。隱顯度眾生，彈指超無始。待報四重恩，永滅三途苦。後人得此經，奉持為宗旨。擇人相授受，叮嚀莫輕視。</p>

<h3>三、無始鍾氣篇第一</h3>
<p>宇宙有至理，難以耳目契。凡可參悟者，即屬於元氣。氣無理不運，理無氣莫著。交併為一致，分之莫可離。流行無間滯，萬物依為命。穿金與造石，水火可以並。並行不相害，理與氣即是。生處伏殺機，殺中有生意。理以氣為用，氣以理為體。即體以顯用，就用以求體。非體亦非用，體用兩不立，非理亦非氣，一言透天機，百尺竿頭步，原始更無始，悟得其中意，方可言洗髓。</p>

<h3>四、四大假合篇第二</h3>
<p>元氣久氤氳，化作水火土。水發崑崙巔，四達坑井注。靜坐生暖氣，水中有火具。濕熱乃蒸騰，為雨又為露。生人又生物，利益滿人世。水久澄為土，火乃氣之燠。人身小天地，萬物莫能比。具此幻化質，總是氣之餘。本來非我有，解散還太虛。生亦未曾生，死亦未曾死。形骸何時留，垂老後天地。假借以合真，超脫離凡類。參透洗髓經，長生無盡期。無假不顯真，真假渾無際。應作如是觀，真與假不二，四大假合形，誰能分別此。</p>

<h3>五、凡聖同歸篇第三</h3>
<p>凡夫假作真，美衣為體飾。徒務他人觀，美食日復日。人人皆如此，碌碌一身世。不暇計生死，總被名利牽。一朝神氣散，油盡而燈滅。身屍埋壙野，驚魂一夢攝。萬苦與千辛，幻境無休歇。聖人獨認真，布衣而蔬食。不貪以持己，豈為身口累。參透天與地，與我本一體。體雖有鉅細，靈活原無異。天地有日月，人身兩目具。日月有晦明，星與燈相繼。縱或星燈滅，見性終不沒。縱成瞽目人，伸手摸著鼻。通身俱是眼，觸著知物倚。此是心之靈，包羅天與地。能見不以目，能聽不以耳。心若能清淨，不為嗜欲逼。自知原來處，歸向原來去。凡夫與聖人，眼橫鼻長直。同來不同歸，因彼多外馳。若能收放心，提念生與死。趁此健身軀，精進用心力。洗髓還本原，凡聖同歸一。</p>

<h3>六、物我一致篇第四</h3>
<p>萬物非萬物，與我同一體。幻出諸形相，輔助成生意。有人須有物，用作衣與食。藥耳及器皿，缺一即不備，飛潛與動植，萬類為人使。造化恩何鴻，妄殺即暴戾。蜉蝣與蛇蠅，朝生暮死類，龜鶴糜與鹿，食少而服氣。竟得多歷年，人何不如物。只貪衣與食，妄卻生與死。苟能絕嗜欲，物我皆一致。</p>

<h3>七、行住坐臥篇第五</h3>
<p>行如盲無杖，內觀照性分。舉足低且慢，踏實方更進。步步皆如此，時時戒急行。世路忙中錯，緩步保平安。住如臨崖馬、亦如到岸舟。回光急返照，認取頓足處。不離於當念，存心勿外務。得止宜知止，留神守空谷。立定勿傾斜，形端身自固。耳目隨心靜，止水與明鏡。事物任紛紛，現在皆究竟。坐如邱山重，端直肅容儀。閉口深藏舌，出入息與鼻。息息歸元海，氣足神自裕。浹骨並洽髓，出神先入定。臥如箕形曲，左右隨其宜。兩膝常參差，兩足如鉤鉅。兩手常在腹，捫臍摸下體。睪丸時掙搓，如龍戲珠勢。倦則側身睡，睡中自不迷。醒來方伸腳，仰面亦不拘。夢覺渾不異，九載徵實際。超出生死關，究竟如來意。行住坐臥篇，只此是真諦。</p>

<h3>八、洗髓還原篇第六</h3>
<p>易筋功已畢，便成金剛體。外感不能侵，飲食不為積。猶恐七情傷，元神不自持。雖具金剛相，猶是血肉軀。須照洗髓經，食少多進氣。搓摩干沐浴，按眼覆按鼻。摸面又旋耳，不必以數拘。閉眼常觀鼻，合口任鼻息。度數暗調和，身定神即定。每日五更起，吐濁納清煦。開眼即抽解，切勿貪酣睡。厚褥趺跏坐，寬解腰中系。右膝包左膝，調息舌抵齶。脅腹運尾閭，搖肩手推肚。分合按且舉，握固按雙膝。鼻中出入綿，綿綿入海底。有津續咽之，以意送入腹。叩牙鳴天鼓，兩手俱掩臍。伸足抵其趾，出入六六息。兩手按摩竟，良久方盤膝。直身頓兩足，洗髓功已畢。徐徐方站起，行穩步方移。忙中恐有錯，緩步為定例。三年並九載，息心並滌慮。浹骨更洽髓、脫谷飛身去。漸幾渾化天，末後究竟地。即說偈曰：口中言少，心頭事少，腹裡食少，自然睡少。有此四少，長生可了。</p>

<h2>第四章·洗髓易筋與各家學說的關係</h2>

<h3>一、三教參悟說</h3>
<p>三教書籍，言異旨同，修士勿成門戶之見。相類者，宜參觀。不相類者，亦當善悟。悟理之文，有可資於治平之用。經濟之學，有足取為修養之法，互相考證，獲益匪淺。如株守一家、即抹殺一切，定非通儒。演說二經，語語皆本，口傳心授，間有采之別集者，皆三教先哲舊說，非出臆造云然也。</p>

<h3>二、三教分合異同源流考</h3>
<p>道釋二家，今世多知二而一。惟儒與釋，判然兩途。其不能合者，由後學分門別戶致之耳，讀孔氏書者，記誦詞章無論也。即講實學，亦多爭立功名，輕視修養，高談性命，無益身心，不知六經四子書，所載養身養心之謂何也。讀釋老書者，演法持戒無論也。即講性定，亦每專求修煉，不顧家國，實宗楊墨。託言釋道，不知道藏佛藏所載慈悲誓願之謂何也。二者皆偏，孔聖非無修養，釋道非無事功，異曲同工，異派同源。同者格致誠正之功，異者修齊治平之跡，其實一理也。粵稽混沌初開，自盤古以迄三代，中國並無儒道之分，凡學道之士，無一非讀五帝三王時書，皆儒也，即道也。道家甚稱黃帝彭祖，老聃之學孔子亦嘗採取之竊比之，訪問之，讚歎之，何嘗攻辯。至漢天師出，而儒道始分焉。不知天師道也，亦儒也。分之者，後世之立宗派也。又秦漢以前，中國疆域不廣，只佔天下十分之二。沙海外數千百國，孔教難及，天生然燈，演教中古，次出釋迦，宣化西域，授受相傳二十八代，至達摩祖師來遊東土。外夷佛教分支，有黃教紅教之別，達摩祖師坐化西歸。中國佛教別派，有臨濟，曹洞之分；亦如儒有南北學，漢宋學；道有正一派，龍門派之類也。種種流派，法異旨同，派分道合，其一生萬，萬合一之，理俱無殊，不主中道，能傳之遠而且久乎？！其間不過各宗各派，各有異同，各守各傳，各有得失。有精粗純駁之分，有淺深真偽之別，皆未可厚非也。今三教並立，鮮能貫通，主此奴彼，主彼奴此。講修煉者，呼儒家為俗，守章句者，目釋道為謬。自相高尚，互相攻擊，甚至同室操戈，後先矛盾，真可笑也！約而言之：儒曰執中，釋曰守中，道曰玄中，非三教一貫而何？故推闡斯道，不得不合三教之理而言，非故以釋道之法，混亂聖經也。抑思聖人之言，無所不包，釋道身心性命之學，又奚不可摘取，而證明乎？！</p>

<h3>三、道宜參閱金剛心經說</h3>
<p>釋門經論語錄三藏之書，連編累牘，廣舌宣揚，多鋪陳事蹟，緬溯淵源，侈談因果，推廣慈悲，宏揚誓願，窮極神通。於下手修煉功夫，洗伐毛髓，火候或散見，或連及，零星瑣碎，難使牟尼一串，惟金剛般若波羅密經，及般若波羅密多心經，專言禪理，包羅禪功。於修身養心，次第功行，深而著簡，而該然燈明度，一一皆與易筋洗髓相合。參互考訂，以窮其究竟，始見佛氏修持，別無他說，道出一轍，不二法門。</p>

<h3>四、道宜參證儒書丹書醫書說</h3>
<p>釋氏之書，文本梵語，理尚虛無，不譯以儒家文字難明，不參以丹醫二經無徵。謹按易筋洗髓，譯在南北朝。時語言文字，多古音古義，非證以十三經，及周秦諸子，隋唐以前訓詁音韻等書，不能通曉，故末附翻譯音譯一卷。而其談性理，又多與周易、大中、孟子動心，盡心章、相出入。談性功，又多與儀禮、禮記、論語、鄉黨篇相表裡，故宜與儒書參證。又按東西方言，與華夷人稱之臟腑，筋絡官骸，穴竅名號不同，既譯以華文，不參以丹經醫經，縱二經理明法備，亦不能明析血脈氣息流通之路，關竅穴道導引之方，又何由知下手節目工夫，河車搬運法門，運定圓覺火候。所以於翻譯音譯後，臚列三教應證書目，又摘丹經譬語，作實指錄一篇。學者兩兩相稽，萬無不明斯道也。</p>

<h2>第五章·養身養心論說</h2>

<h3>一、原生論</h3>
<p>人自陰陽五行所化，父精母血所成。五官百脈皆歸有用，意欲念慮，畢效其能，此萬物之靈也。然當太極初生之始，不特無精無氣，而並無形無聲，所謂先天也。至氣凝而精始結，精結而神乃生，神生而氣日足，氣足而精愈固，精固而神更旺於無窮矣。所以在母懷中，得氣血以養之，胎漸次成形，形漸次鼓氣，氣漸次有知覺運動，胎足後而身出，此先天之後天，後天之先天也。其兩儀所化之精氣，五行本體所化之脾胃肝肺腎，皮膚精骨髓妙用，所化之喉舌唇牙齒，耳目口鼻心，皆未充實，男必待精液滿，女必待天癸至，然後五臟六腑，毫髮孔竅，十二經絡之稟於陰陽五行，父精母血者乃得大成，此謂後天也。先天固藉後天養，後天又藉天地五行，所生之物養，果能順時而行，處處咸宜，人人皆有古皇之壽。無如後世天時人事，與上古異。其中不無氣稟所拘，人慾所蔽，起居不時，飲食不節等弊，故有壽夭強弱之別。雖死生大數，權由天命，而在生強弱，亦任人為。在昔古皇先聖，知賦畀有殊，則賢愚各別，不能盡人引之入道，因設針灸砭石湯藥諸法治之。然醫家有瀉無補，有補無瀉，萬難並行。以故仙佛家始創為導引服氣之法，亦順天地生成之理而行，以補先後陰陽之不足，其實與儒家之修身養心，醫家之攻散瀉補，名異理通，途殊效同。條目次第，已詳備於散論總歌及各圖中。能依準繩，日行一二次，永無間斷，百日後可終身不藥矣。終身行之不衰，其功效更非淺鮮也。余淺識竊取，不明後驗，然就現身觀之，甫行一年，老病全失，煙癮斷除，步履殊強，飲食差健，精神氣力較前四十年判若天淵，即此境界，已有仙凡之別。回憶前之菸酒場中光景，真不啻在孽海魔界中也。今夢初覺，始悟降衷之由，因泚筆而識之以自警。</p>

<h3>二、養身養心論</h3>
<p>養身之術，其法最多，然庸而正，微而顯，粗而精者，莫妙於易筋洗髓內功圖說。按之儒道，養身各節，名異實同。儒家盡心知性，是以一氣貫三才也。道家修真養性，是以一氣化三清也。釋家明心見性，是以一氣成三寶也。效雖大，而其功即繫於身，存於心。心一不淨，身之五官百體，皆為情欲所役，運不能使清濁分，定不能使陰陽和。是以養身莫先於養心，養心莫妙於素定。平素能守，此心不失其正，則靜焉，不至沉於昏，動焉，不至鄰於茫。純乎天理，毫無人慾，即事物雜投，朋從往來，行所無事，閒居獨處，屋漏爾室，罔有懷慚，動能主靜，即靜能生動，養身養心之道得矣。世之聲色貨利，平日縈繞吾身心者，不皆有若無，無若有，色即空，空即色乎？老子抱一為天下式，不外此理。果使此心在身，不即不離，時釀太和，臨時行動，運定自旋轉中節。大學云：正心，中庸云：慎獨，孟子曰：寡欲，其功皆在於平時。修士欲知悟命，先加省於身心可。</p>

<h3>三、動靜互根說</h3>
<p>動靜不失，人所易明。動靜互根，人多不覺。天運行動也，而四方不移，四序不亂，靜主焉。地持載靜也，而人物代謝，五寶環生，動使焉。日月盈虧，而終歸圓滿，星宿飛度，而終歸本位，胥不外動靜互根也。而人亦何獨不然？！修士既講求此道，最宜先明動靜之理，動靜之用，動靜互根之法，動靜互根之效，方可入門。使動而不靜，如浮萍飛羽，無所定止，精必耗，氣必搖，而神必茫。靜而不動，如枵木死灰，毫無生機，精必頑，氣必餒，而神必倦。惟按增益易筋洗髓內功全圖行之，行住坐臥，屈伸俯仰，皆動靜不失其所居。並動中有靜，靜中有動。動中求靜，無動不靜。動極生靜，陽極生陰，靜中求動，無靜不動，靜極生動，陰極生陽，欲使陰陽無偏枯，動靜安可偏勝乎？！以動化靜，以靜運動，合乎陰陽，順乎五行，運乎五臟、達乎六腑，貫乎三焦，活乎五官穴道，關節經絡，血脈筋骨，皮肉毫毛，孔竅偏體，周身無微不入，無處不通。互根而生，造化無窮。精氣為物，遊魂為變，如日月之代明，寒暑之往來，天道之循環，陰陽之遞嬗，貫四時而不凋，歷萬世而不朽，豈僅補不足，瀉有餘。去舊坐新，實內充外，杜外感之諸邪，消內生之百病云爾哉！其用莫妙於盈者消之，虛者長之。一陰一陽，以一上一下運之。一往一復，以一屈一伸引之。一清一濁，以一升一降還之。其靜也，專其動也。直有大生之象。其靜也，翕其動也，闢有廣生之功，是皆動靜也，是皆動靜互根之用也。動靜可歧而二之乎。</p>

<h3>四、正道旁門辨</h3>
<p>養身一道，如燒石鍊汞，服食採補之說，在人身外求之，稍有知識，因知為旁門。而不知授受不真。以偽傳偽者，又有四焉：其太過者，如不分清濁，逼氣過關，不明升降，採藥非品，此鹵莽行事，助長類也。如血脈未和，即便靜養，關竅未通，即使既濟，此高談玄理，默生類也。坐此成疾，反言出病，逼成幻境，詭言神通，是皆自誤誤人之類。若作五禽鹿鶴龜蛇等圖，坐八錦，行八錦，立八錦，海字勁，十二大勁等功，雖屬易筋摘出之法，而或未得真傳，調息不勻，致使水不濟火，火不濟水，道雖正而法不當，亦無益有損，又如齊立靜坐，自謂出於神傳，待坐立多時，使其自然靜極而動，動極而靜，是竊洗髓而未得其要也。雖無大壞，亦難見功，意想神馳，又恐入魔，虛懸無據，終非實理。可見取之身外，非道；取之身內，而不自然，久無效驗，亦非道。此篇所載，皆出自然不待勉強，而又有一定不易法門，顯而不晦，愈引愈深，簡而不漏，愈行愈妙，運定之節目，功夫無所不備，圓寂之神通，法力循序，可臻行之，而有益無損，久之而其妙莫名。苟日新又新，精微奧妙，有不可言傳，真可謂夫婦之愚，可以與知，及其至也，雖聖人亦有所不知焉已。</p>

<h3>五、內外功辨</h3>
<p>凡行內功，多借外輔，由內達外，內壯而外無不堅。行外功，多假內助，由外及內，外壯而內，久必傷。大凡丹經，外運行於內，而內導引者，內功也。內導引於外，而外運行者，外功也。他如全取於外，不問乎內，外功中外功之外也。純求於內，不顧其外，內功中外功之外也。行功至骨節靈通，氣息調勻，飲食增多，精神倍出，時內外之間，不可不辨，三乘之等，仙凡之界，全判於此，行道者豈可忽諸！</p>

<h3>六、元精元氣元神辨</h3>
<p>所謂元精，非津液脂髓之精。元氣，非呼吸吐納之氣。元神，非知覺運動之神。元精順可生子，逆可成仙。能採陰陽之菁英，結成為精，生亦能變化無窮，神通廣大，但落於有形，終屬後天之物。上清世界難容，生時不過能養性靈，去後不過能保軀殼。至若元氣，元神，既經元精，存養多年，功行圓滿。神用之，則放大光明，億萬化身；斂之則如混沌一元。氣用之，則風雲雷雨，變態無端，藏之，則與太虛一體。元精足，獲元氣元神。不能隨元氣送元神上升。丹家所以煉元精者，為養元氣元神故也。就即生時觀之，元氣元神，活活潑潑，虛虛實實，不即不離，極明極靈。元神為元精主宰，元氣作元精驅使，神氣之重，更不待辨而可明矣。</p>

<h3>七、元精次第採補法</h3>
<p>人聚五行之精而生，必藉五行所化而養。人身之有元精，如五穀中之有稻米。種於春，長於夏，結實於秋，得純陽之氣，又根養於水，花揚於午，藉水火既濟而生，煉以三伏烈日之氣而成，所以養人之物，稻米為上，足補人身陰陽結成之元精。至五行所化，青黃赤白黑，鹹苦酸辛甘之物。五行所屬，東西南北中之產，皆非純陰純陽，輔助元精則可，生養元精，則不能。可用以治五臟六腑十二經絡之病，不能補元陽真陰之不足。元精未曾煉到蒸之為液，斂之為髓，散之為體，浸之為血，化之為氣，用之為神時候，正宜努力加餐，必待元精充實，始減去五味，每日素餐。漸至元精凝結，可撤去蔬菜，專食熟飯。久久元精靈活，漸有生髮，即可煉精。熟米涼水，淘淨瓦器盛貯，瓦蓋緊覆，毋使出氣，彌封筍縫，下以柴火熏之，淺水烘乾，每食以胡麻松子下之，先熟食，後冷餐，漸漸生食，漸漸減食，漸漸專食胡麻松子，漸漸減食胡麻松子，漸漸不食，方能辟穀，服氣不食。若有麥無稻，先調和後，淨面先葷食，後素食，先菜下、後胡麻松子下，減食，熟食；熟食、冷食、不食，次第同，功夫至此，已到中乘。到底不懈，足登上乘。世人一念於道，勸欲辟穀，即求代餐，致生怪疾，是循末忘本之故也。</p>

<h3>八、煉元丹說</h3>
<p>古仙佛所煉之丹，人皆謂為元精，純陽菩提，舍利子等物。不知此乃仙佛所煉後天金丹，非先天元丹。先天元丹者，畀之降衷，稟之父母，無影無形，無聲無臭，極誠極明，至虛至靈。不煉後天金丹以輔之，則漸失於昏，漸至於無。故藉後天以補先天，即以先天統屬後天。若第以精氣所結為元丹，亦無靈有象之頑物耳！安能出入由己，生死如歸哉？是必煉谷化精，煉精化氣，煉氣化神，結成金丹，以善養元丹，於活潑潑地靜待天命，安能脫化？斯古仙佛上乘功夫。</p>

<h3>九、養嬰辨</h3>
<p>養嬰之法，修養與胎養不同。胎養之嬰，精成形而神具焉。修養之嬰，神入定而氣送焉，胎養之嬰，藉氣以聚神，以活。修養之嬰，藉精以蓄氣，以導。胎養者，由氣生精，由精生神。修養者，以氣斂神，以神調精。胎養之嬰成有神，御氣以送精，所以先出者為精，是因先天而有後天也。修養之嬰，以氣煉精而存神，所中主者為神，是以後天而補先天也。常人不知護蓄、成人後精必虧，氣必餒。歸時，精頑氣落，神與具散，而入於鬼。修士善於保重，成功後精必凝，氣必結。歸時，精完氣升，神隨之出而存其靈。禮記所謂，魂氣升於天，形魄歸於地。中庸所謂弗見弗聞，體物不遺者，皆此意也。嬰何由能出？其體至輕，其用至靈，以氣之至輕，送神之至靈，自與輕清上浮之天契合。無閒安能不出入上清乎？要之，嬰之能出，必由定之能入，定之能入，必由運之能久，嬰由昏而明，明而清，清而輕，輕而虛，虛而靈，靈而神。斯與天地合撰，日月合明，四時合序，鬼神合吉凶矣。盡人合天，舍此何從。其理精粹，其事平庸，人習焉不察，遂忽焉不覺耳！慎毋惑於旁門左道，從身中有形之精為嬰也。有形之精，在身中是一塊血肉，非輕清之品，如何能到上清世界？！世俗所稱肉身成聖，是以肉身修成聖人。拔宅飛昇，是合一宅而飛空上升耳。豈身與宅可安置於上界哉？！縱世有傳說！皆後人附合之詞也。揆之於理，萬難取信。</p>

<h3>十、返歸說</h3>
<p>人生世間，無論賢愚仙凡，富貴貧賤，俱有返歸之期。儒家謂之全終，釋家謂之坐脫，道家謂之羽化。聖賢仙佛，全始全歸，志氣清明，故上而伸之為神。庸愚昏暗，氣盡力竭，神志彷彿，故返而歸之為鬼。神鬼關頭，在此攸分。此時固宜仔細把握，而平日尤當時時警覺，念念不忘，寡尤寡悔，寡過寡欲，保身有方，養身有術，日新又新，永無間斷，陽之精聚，陰之靈結，純陰純陽，菁華積而成為輕清上浮氣象，則元神主宰，返本歸原，身至陽極陰極之區，毫無損折，何難與仙佛聖賢，同拜金母木公也哉？！若不明修煉，清濁混身，不特不能使純陽之氣升而又升，直接上清，純陰之氣降而又降，下臨無地，即此半陰半陽之世，恐亦難保長生矣！</p>

<h3>十一、運氣說</h3>
<p>修養必先運氣者，蓋以氣為精神樞紐，併為一身樞紐耳。精之在身，如水之在地。精之發源於天河，注於臟腑，達於肢體，如水之發源於崑崙，散於溝瀆，會於河海。身之有神，是運氣化精之主宰。而氣則如二氣之流行於四時，分散於四方，下降上騰，清升濁降。陽之積而成日，陰之凝而成月。日月運行，一寒一暑，能使形形色色，化生無窮，始而復終，終而復始，生機遂以不絕。人若知導引諸法，雖起居飲食，偶失時節，一為吸濁呼清，俾輕浮重凝，而血脈筋絡通達無滯，則竅竅玲瓏，節節流通，亦能使寒熱瘟疫化為烏有。至功力已到，搬運漸熟，呼吸頃刻，上至天庭，下墮海底，中及四肢，三焦諧暢，百體調和，縱有微恙，登時即除，安能為殃？譬之陽極陰極之時，鬱而積為烈風迅雷，陰雲淫雨，雪雹酷日之災。一經二氣運行，分陰分陽，終無天昏地慘，天崩地裂之變，久仍歸於陰陽平而四時和也。天地之氣，豈自開闢，即失其常哉。亦由人心不古，呼吸達天，天人相應，積而生變，所以上古天時與晚近不同。皇初人壽與後世不同，墳典所在，不盡荒謬妄誕也。人能運氣生精，使精生神，則五臟六腑十二經絡，以及四肢百體，毫毛皮膚，皆有光天化日氣象，無嶂翳昏迷境界，不亦羲皇上人哉？！諺語云：人亦小天地，洵不誣也。古仙人云：服氣不死。又曰：還丹永命，氣是添年藥，心為使氣神，若知行氣訣，便是學仙人。皆為導引逆流而發也。修煉之土可不留心於呼吸哉？！</p>

<h3>十二、氣為官骸使說</h3>
<p>身有三寶，曰精氣神，而氣尤一身至寶。人身五官百脈、知覺運動，精聚之，神主之、氣用之。不知運法，清濁莫辨，精頑神昏。故古仙人服氣，必先運氣，運氣始能分氣，分氣始可服氣，服氣乃能煉氣，煉氣方能和氣，和氣方可定氣，溯先天而後天。身心俱是父母一氣所感，天地一氣所結，感而結成，始有胎嬰，乃精也。是由氣生精之徵也。胎在母腹，漸漸長成，始有知覺，乃神也。是又由精生神之證也。由先天而後天，分身而出，飲食漸加，漸長漸強，是運氣化谷之證也。成人之後，精髓漸滿，即能生育，是運氣化精之證也。弱冠以往，知識漸開，童心漸失，恃強好勝，心花怒發，志慮心思，於斯為密。功名事業，在此立基，是運氣化神之證也。常人不知運化填補之法，隨稟賦以順時令，故氣有時而衰，精有時而虧，神有時消磨殆盡，亦隨精而滯，氣而散。即有存者，內損外頹，官骸皆疵。得此傳，而依圖順，功無間斷，則重如艮山，輕如巽風，溫潤如兌澤，迅速如雷，乾坤坎離，生生不絕，寄生則精足神完，而氣彌綸以貫之。脫化則精凝神出，而氣升騰以送之。誠而退，通而復，復而通，通而誠，陰陽相摩，八卦相蕩，日月運行，寒暑迭更，出入由己，隱現隨心。放之則彌，卷之則藏，不垢不淨，不生不滅，臻斯純境，一氣所結，氣為一心妙用，氣即為百體驅策也已。</p>

<h3>十三、氣有度敗證</h3>
<p>丹經謂，一氣運行，出入身中，一時凡一千一百四十五息，一晝夜計一萬三千七百四十息。出入之息，以踵存於至深淵之中，氣行無間，綿綿若存，寂然不動，與道同體。若盛氣哭號揚聲，喊誦吹笛。長歌多言傷氣，皆非養生之道。故功行呼吸，出入不可不以緩急、度數為要。</p>

<h3>十四、心有日月證</h3>
<p>心有日月，其說非妄。古仙云：凡存心中有日象，大如錢，在心中赤色有光芒，從心中上出喉，至齒間不出，迴環胃中，如此良久，臨目存見心中，胃中分明，乃吐氣，咽液三十九遍。日出時，日中時行之，一年除疾，五年身有光彩，十八年得道。日中行無影，闢百邪千災之氣。常存日在心，丹在泥丸中。晝服日，夜服月。服月法，存月光芒白色，從腦中入喉又復至齒而咽入胃。一云常存月，一月在十五日以前服，十日以後不服。月減光芒損天氣，故即止也。</p>

<h2>第六章·練功歌訣</h2>

<h3>一、行動始末</h3>
<p>起功時，要調息定氣，一志凝神。引功時，要起腳掛指，離地乘空。收功時，要清升濁降，關透脈通。前九圖通關分氣。正身圖運氣還方，惟定身圖轉運轆轤，搬運河車，採藥煉丹，和神養性，出定入定，渾然太極，升則醍醐灌頂，降則丹穴充盈，散則遍及六合，卷則緊藏箇中，行持無間，妙緒莫名。</p>

<h3>二、起功訣</h3>
<p>環拱立身直如松，腳根虎膝莫漏空，兩耳垂肩鼻對胸，閤眼平視一尺中。</p>

<h3>三、收功訣</h3>
<p>九轉丹成得氣清，坎離交構兩儀生，縱橫上下歸存養，運定功全緩緩行。</p>

<h3>四、呼吸論</h3>
<p>呼吸與吐納有異，呼吸是吸下呼上，吐納是吐出納入。吐納可分清濁，而不可合陰陽；呼吸可合陰陽，而並可分清濁。易筋洗髓功夫吐納少，呼吸多，先吐納後呼吸。呼吸有順有逆，順以運一身清氣，逆以合兩儀清氣。用法次第，規模，詳各圖說，及歌訣中。</p>

<h3>五、呼吸總訣</h3>
<p>一吸通關，一呼灌頂，一屈一伸，一濁一清。雷鳴地震，清濁攸分。一升一降，一陽一陰。上下順逆，陰陽交生。河車搬運，轆轆時行。三百六五，運煉丹成。</p>

<h3>六、呼吸訣次第</h3>
<p>一呼水生，一吸火聚。再吸再呼，火騰水起。三度交關，坎離相濟。吸七呼七，周而復始。二七十四，重複不已。三七二一，三複功畢。九九八一，純陽至極。運行三百六十五氣，往來不窮，周天之紀，先吸後呼，達摩真諦。圖曰呼吸，俗語如此。導引內功，呼吸第一。無多無少，不徐不疾。氣不可湊，志不可移。亦不可餒，無過不及。出入不聞，定氣調息。</p>

<h3>七、呼吸訣又訣</h3>
<p>入手起功，漫用呼吸。未納菁英，先吐濁積。一吐一納，生新去余。行至坐身，乃用呼吸。學成之後，清濁分析。初勢即畢，呼吸如式。恐有濁礙，酌量追逼。一圖數圖，多寡不拘。俟濁盡淨，呼吸隨及。純清無濁，功起即起。</p>

<h3>八、呼吸輕重次序</h3>
<p>呼吸之法，由微而大，由大而化。起功，靜生動，緩緩呼吸；打坐，靜生動，極又動生靜，綿綿呼吸。入定後，動極、靜極、動靜互根，不覺呼吸。自然呼吸。不覺者，化其有。自然者，化其無。微無內又無不著。大無外又無所見。究竟之地，渾化之天。無忘無助，無聲無臭，致中致和，是其至處。</p>

<h3>九、應響歌</h3>
<p>合掌拱立心不搖，左右舒伸肝肺調。雙手插云理三焦，仰面朝天固腎腰。曲肱折臂和脾胃，河車運動坎離交。屈伸俯仰功行滿，皮膚筋骨髓堅牢。鵲橋尾閭呼吸應，關鎖孔竅與毫毛。鼓動喉舌唇牙齒，能使天河倒湧潮。導引逆流周復始，汲精補髓飲醇醪。搬弄耳目口鼻心，清升濁降長復消。龍行虎奔百脈運，旋轉日月神致飄。運化精氣神三昧，穴道關竅擁風濤。順逆樞紐交相構，無根水火潤而燒。氣生精又精生氣，心自明兮神自昭。凝神屏氣嬰活潑，出定入定性陶陶。督任玉環頻影照，藥物火候元命苞。強筋壯骨猶小效，靈丹一粒種心苗。</p>

<h3>十、行功存想要訣</h3>
<p>黃庭上應泥丸宮，鵲橋尾閭竅玲瓏。牙叩齒關舌抵齶，唇包口合喉漏空。龍行虎奔眼耳送，通關灌頂意相從。臟腑筋絡隨勢走，關節孔竅氣使通。吸濁呼清迴環轉，上升下降頃刻逢。九轉丹成身入定，精足神完氣盈充。若有若無歸圓覺，虛靈活潑滿蒼穹。夾脊雙關容易上。重樓氣海皆崆峒。絳宮腰腎隨能透、天柱玉枕詎難沖。神庭出入須仔細，臍下丹田是化工。水火發生任督處，坎離交關頭頂中。意至氣至針誰度，達摩心傳造化功。</p>

<h3>十一、七字真言</h3>
<p>七字真經，妙諦傳心。一曰恭敬，恭敬則誠。二曰清靜，清靜則存。三曰潔淨，潔淨則明。四曰切近，切近則真。五曰精進，精進則深。六曰窮盡，窮盡則純。七曰究竟，究竟則神。毋為異驚，毋使奇爭。可名非名，官止神行。明明渾渾，玄妙之門。</p>

<h2>第七章·練功注意事項及效驗</h2>

<h3>一、功貴得傳</h3>
<p>古今求道者眾，而得道者累世不一見。非道不可仰企也，由渡水不知津，登山不識徑，欲臻彼岸，躋絕頂難矣。是欲求其道，當先明其法。欲明其法，必先得其傳。何也，圖中莊嚴法相，固顯而易見，而其中之體勢氣數，吐納呼吸，屈伸上下，升降順逆，起止旋轉，錯綜變換，導引流，存想運定，與夫湯洗搓揉，採補搗煉諸法，差若毫釐，謬以千里。不經師傳授，摹彷行之，未必穴道針對，天骨開張，經絡關竅，毫無阻滯，陰陽水火兩無偏廢也。師心自用，貽累勿怪。既得其傳，又遇高明。宜無常師，以補不逮。切忌一得自鳴，恥於請教，遂執一境以自封焉。</p>

<h3>二、功宜按步</h3>
<p>十二圖式，是就人之行住坐臥，挨次運運，而定俯仰揚抑之法，愈進愈緊，規矩準繩，井井有條，纖毫無紊。若不尋次第，鹵莽造次，顛倒錯亂，不惟無益，而反有損，行功者切忌之。</p>

<h3>三、功宜有恆</h3>
<p>凡行功至百二十日後，便覺加餐健步，長氣增神，發體壯力，添液生精，明目達聰，開胃醒脾，強筋堅骨，皆初驗也。行持不懈，更有進境。總期自然，不可助長。至於調息輕重，呼吸長短，運力大小，導氣緩急，採藥之多寡，相濟之安勉，導引之遲速，動靜之得失，出入之定移，不可蹴至。深者見深，淺者見淺。功夫至此未可言傳，神而明之，存乎其人。然自初覺至化境，功夫不外一志凝神，原始要終八字。儒曰：盡心知性。釋曰：明心見性。仙曰：修真養性。胥是道也，舍是別求，中道而止，不專心致志，安得上乘？！是必探取三昧，常守三寶，一貫三才，斯能脫胎換骨，伐毛洗髓。既志於道，又胡旋作旋輟耶？至道難求，得之而廢，半途止一簣，與求之弗得等耳，豈不惜哉！</p>

<h3>四、功宜知避</h3>
<p>行功凡遇疾風迅雷，暴雨閃電，黃沙大雹，虹見霧重，日食月食，嚴寒盛暑，天變地震，疫氣妖氣，邪魔怪異，狎褻鬧攘，臭穢腥膻，五濁雜氣，鬱熱伏室，暖閣露宿，灶前靈房，重傷將便，大醉過飽，以及男女房事前後一時，女子胎前八月，產後四十日，萬不可行！行之無益有損，覺道者不可不忌。</p>

<h3>五、平時念頭</h3>
<p>心不外用，神不外馳，意有所注、氣有所歸。</p>

<h3>六、功有六益</h3>
<p>調和血脈，細膩皮膚，強壯筋骨，增長氣力，健旺精神，涵養性靈。</p>

<h3>七、功有十驗</h3>
<p>寒暑不入，疾病不生，顏色不老，強健不衰，凍餓不迫，生育不夭，戰鬥不惴，虎狼不懼、刀斧不傷，水火不損。</p>

<h3>八、功有三不思</h3>
<p>精足不思淫，氣足不思食，神足不思睡。</p>

<h3>九、物有三練</h3>
<p>鹿練精，龜練氣，鶴練神。</p>

<h3>十、物有二聚</h3>
<p>虎能聚陽，蛇能聚陰。</p>

<h3>十一、人有三傷</h3>
<p>過慮傷精、多言傷氣，久視傷神。</p>

<h3>十二、人有九損</h3>
<p>喜極損肺，怒極損肝，哀極損腸，懼極損膽，飽極損胃，餓極損脾，情極損腎，動極損陰，靜極損陽。</p>

<h3>十三、程效限期</h3>
<p>仙佛得道，少年中年耄年不一。道同一源，人各萬殊。有稟賦強者，有稟賦弱者；有根基深者，有根基淺者，有人緣厚者，有人緣薄者；有得傳早者，有得傳晚者；有明道速者，有明道遲者；有行功急者，有行功緩者；有大數宜長者，有大數宜短者，有已成而留於世者，有成後而復出於世者；證果先後，不等火候，次第宜知，程效限期。七日曰來復，二七曰反復，三七曰三複，七七曰重複。九日曰陽明息，二九曰陽明覆，三九曰陽明回。一曰三陽回、九九曰陽明極。六十日曰半丹，一百二十日曰全丹。百日曰築基，十二月依次曰度。總名一年曰小周天。三年曰小成，九年曰大成，十二年曰一紀，亦曰大周天。三十年曰一世，六十年曰一甲。以七數推之，七月曰月來復，十四月曰月反復，二十一月曰月三複，四十九月曰月重複。七年曰年來復，十四年曰年反復，二十一年曰年三複，四十九年曰年重複，七十年曰大來復。以九數推之，九月曰少陽息，十八月曰少陽復，二十七月曰少陽回，八十一月曰少陽極。九年曰太陽息，十八年曰太陽復，二十七年曰太陽回，八十一年曰太陽極，九十年曰大成會，百年曰圓滿會，百二十年曰大紀會，又曰重甲會。功以一百二十年為滿。上品根基，百日築基，三年辟穀，一紀飛昇，至速也。下此成期不等，至緩者亦萬無有經百二歲而不成者也。此期未得，加加前進，以待後期。若始勤終怠，功荒末路，初是轉非，業敗垂成。情牽意移，功用別途，志滿氣盈，效期旦夕，皆與為山九仞，終虧一簣等也。百年修持，何苦廢於一旦哉？！</p>

<h1>中篇·功法篇</h1>

<h2>第一章·正身圖說</h2>

<h3>初勢吐納說</h3>
<p>第一圖環拱正立勢是為吐濁納清而設，恐人過了一日，宿了一夜中，有起居不潔，飲食不精，致生濁氣，故先以吐納分之；第二勢起功，始作呼吸，說中所謂出者，非下吸也，乃吐出濁氣也。所謂入者，非上呼也，乃納入清氣也，凡行功一度，俱宜准此。</p>

<h3>正身圖二十七勢</h3>
<p>1．環拱正立勢。凡行功時要將腳跟靠緊，腳尖立地，左手陽掌，右手握固，安放黃庭之上，兩膝直立，豎起脊梁，使耳對肩，鼻對胸，閤眼收神，平視不出一尺之外，牙關扣緊，舌抵上齶，氣由鼻出，然後調息定氣，一志凝神，計氣出入三口，開步獻杵，由此起功。</p>
<figure>
<img alt="環拱正立勢圖">
</figure>
<p>2．獻杵起功勢。此勢直立腰膝，高聳脊梁，腳跟離地、腳尖掛地，兩手向前回抱合掌，指尖齊於鼻尖，仍計氣呼入三口，順勢推出，再作下勢。其餘耳鼻相對，收視、扣齒、抵齶諸法同前。</p>
<figure>
<img alt="獻杵起功勢圖">
</figure>
<p>3．出爪亮翅勢。此勢將手盡力推出，掌立腕直，平與肩齊，兩掌底與兩肩角對。計呼吸三口，平收掌回原狀作下勢。余法同前。</p>
<figure>
<img alt="出爪亮翅勢圖">
</figure>
<p>4．雙鳳朝陽勢。此勢將兩腕曲折依膀，使腕膀平肩，掌向上立，如雙鳳朝陽之勢。計呼吸三口後，兩掌依身向左右排開作下勢。余法同前。</p>
<figure>
<img alt="雙鳳朝陽勢圖">
</figure>
<p>5．飛鷹展翅勢。此勢將兩掌排開，兩掌上立，肩膀肱腕平直，如飛鷹展翅之勢。計氣畢，兩掌緩緩托上作下勢。余法同前。</p>
<figure>
<img alt="飛鷹展翅勢圖">
</figure>
<p>6．雙手托塔勢。此勢將兩手向上托去，兩掌心朝上，兩掌背下對兩肩窩，掌上如托塔負重之勢。計氣畢，將兩掌隨左右肩角順下，作下勢。余法同前。</p>
<figure>
<img alt="雙手托塔勢圖">
</figure>
<p>7．三峰峙立勢。此勢將兩掌順左右勢直下，向外直立至兩肩角，膀肱曲折，兩腋挾緊，使三腕天骨開張，掌並頭如三峰峙立之狀。計氣畢，左手抱身，右肱橫前作下勢。余法同前。</p>
<figure>
<img alt="三峰峙立勢圖">
</figure>
<p>8．龍探右爪勢。此勢將左手由前操抱後身背右扇子骨，復將右膀前撐，右肱橫前，掌如探物未得之狀，齊與肩平。計氣畢，順勢將右手抱身，左手橫前作下勢。余法同前。</p>
<figure>
<img alt="龍探右爪勢圖">
</figure>
<p>9．龍探左爪勢。此勢操抱撐橫探齊俱同前勢，但其法移右於左耳。凡作二勢，探右爪，頭眼向左，導氣左旋；探左爪，頭眼向右，導氣右旋。各計呼吸，勢畢將兩手收回至頸項橫肱作下勢。余法同前。</p>
<figure>
<img alt="龍探左爪勢圖">
</figure>
<p>10．橫肱蹲立勢。此勢將掌心向下，掌背向上，指尖相對，肱與膀依，膀與肩直，左右一撐，呼吸一口，依身順作下勢。余法同前。</p>
<figure>
<img alt="橫肱蹲立勢圖">
</figure>
<p>l1．三才通氣第一勢。此勢就前勢將兩手十指盡力疊交在頸項間，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第一勢圖">
</figure>
<p>12．三才通氣第二勢。此勢就前勢依身順勢盡力直肱按下丹田，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第二勢圖">
</figure>
<p>13．三才通氣第三勢。此勢就前勢將兩手向前直起對肩，陽掌向前力撐一手，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第三勢圖">
</figure>
<p>14．三才通氣第四勢。此勢就前勢伸膀直肱，將兩掌向外平，盡力朝兩邊一排，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第四勢圖">
</figure>
<p>15．三才通氣第五勢。此勢就前勢將兩手陽掌直分至背後，仍伸膀直肱，將兩手指在後疊交，陽掌向上，陰掌向下，盡力在後向下一擲，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第五勢圖">
</figure>
<p>16．三才通氣第六勢。此勢就前勢從背後伸膀直肱，挨身向前直起平肩，指仍疊交，掌心向懷盡力前推，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第六勢圖">
</figure>
<p>17．三才通氣第七勢。此勢就前勢將掌翻轉，掌心向外盡力前撐，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第七勢圖">
</figure>
<p>18．三才通氣第八勢。此勢就前勢伸膀直肱，將兩手直分作一字平肩，平倒兩掌，十指向前，掌心向左右之外，盡力一排，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第八勢圖">
</figure>
<p>19．三才通氣第九勢。此勢就前勢將兩手從兩腋耳邊順勢插上，以膀伸肱直，掌立為合式，掌心向內，掌背向外，中空不過一尺，盡力向上指，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第九勢圖">
</figure>
<p>20．三才通氣第十勢。此勢就前勢將兩手十指疊交，掌心朝下，掌背朝上，往上一托，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第十勢圖">
</figure>
<p>21．三才通氣第十一勢。此勢就前勢伸膀直肱，順勢放下，平與肩齊，十指仍交，肩角與前腕仍對，盡力向前一推，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第十一勢圖">
</figure>
<p>22．三才通氣第十二勢。此勢就前勢將兩手翻轉，十指仍交，平與肩齊，掌心向外，掌背向內，盡力前推，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第十二勢圖">
</figure>
<p>23．三才通氣第十三勢。此勢體態氣數與三才通氣第四勢同。</p>
<figure>
<img alt="三才通氣第十三勢圖">
</figure>
<p>24．三才通氣第十四勢。此勢就前勢伸膀直肱，兩掌直分至後，復伸膀直肱，使掌心朝上，掌背朝下，十指疊交，在後往下一擲，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="三才通氣第十四勢圖">
</figure>
<p>右三才通氣十四勢是使三焦通達。凡在天庭上，地庫下，人身中之竅，皆當以氣貫之，故名三才通氣，圖行至此，身中上自泥丸，下至尾閭，中及四肢之關竅穴脈網絡，莫不節節玲瓏，竅竅靈通，此正身圖中絕妙法門，學道者慎毋忽諸。</p>
<p>25．獻杵還原勢。此勢就前勢伸膀直肱，由後轉前，曲腕回抱合掌，還獻杵起功之勢，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="獻杵還原勢圖">
</figure>
<p>26．仰面朝天勢。此勢就前勢將腳跟挨地立定，緩緩將頭向後倒，面朝天，合掌，隨之兩目反視，順勢呼吸三口，導氣逆行，不可過倒，以仰面朝天為度。呼吸畢，緩緩順勢迴轉，再作下勢。余法同前。</p>
<figure>
<img alt="仰面朝天勢圖">
</figure>
<p>27．拱立歸位勢。此勢就前勢緩緩順勢迴轉，初如獻杵還原之勢，平氣一口，再如環拱正立之勢，又平氣一口，然後一呼一吸，調息定氣，正身圖全接作側身圖勢。余諸法悉皆同前。</p>
<figure>
<img alt="拱立歸位勢圖">
</figure>

<h2>第二章·側身圖說</h2>
<p>1．獨手擎天勢。此勢就前勢，將兩腳相依，站如丁字，左手叉腰下股上大骨間，右手從右股間，伸膀直肱逆撐而上，至頭頂面，即隨右手朝天，仰觀掌背，使上右掌背對右腳背，目注神凝，呼吸三口，導氣逆行，而腳跟兩膝及左肱左膀亦須正直，不可放鬆，呼吸畢順作下勢。</p>
<figure>
<img alt="獨手擎天勢圖">
</figure>
<p>2．翻手拔刀勢。此勢就前勢將右手著力繞頭一轉，由前轉後，由後順前至右肩窩處，即將右手握拳，一呼一吸，使氣一提一平，順作下勢。余法同前。</p>
<figure>
<img alt="翻手拔刀勢圖">
</figure>
<p>3．開弓打彈勢。此勢就前勢將左手放開，平掌順勢伸膀直肱，向左逆撐高與肩平，又隨勢收回，兩腳換丁字向左，然後立定腳跟，豎起滕腰脊，將左曲腕與右平掌向兩邊一撐，如開弓狀，頭向左旋，目注左掌，右曲腕與左掌相對，壹志凝神，呼吸三口導氣順行畢，將右拳打出，順作下勢。</p>
<figure>
<img alt="開弓打彈勢圖">
</figure>
<p>右三勢畢，又由左獨手擎天，右翻手拔刀，開弓打彈，然後功全，其諸法皆同。唯手腳掌拳頭眼與氣前向右者換左，前向左者換右耳，至於上身皆宜正直，左右不可偏廢，六勢畢順作下勢。</p>
<p>4．一字平肩勢。此勢就前勢將拳打開，將掌放平，腳跟立地，掌心向下，掌背朝上，盡力向左右一撐，呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="一字平肩勢圖">
</figure>
<p>5．白鶴閃翅勢。此勢就前勢腳跟離地，伸膀直肱，將兩陰掌平肩按下，上身隨之隔地尺余，呼氣一口，隨即伸膀直肱，翻陽掌提上平肩，直撐如前，吸氣一口，覆按復起，連依三次。余皆同前。</p>
<figure>
<img alt="白鶴閃翅勢圖">
</figure>
<p>6．獻杵團結勢。此勢俟閃翅起立直撐後，將兩掌向前回抱，呼吸一口，使氣團結如獻杵起立之狀，再作下勢。余法同前。</p>
<figure>
<img alt="獻杵團結勢圖">
</figure>
<p>7．仰面朝天勢。此勢與正身圖中仰面朝天法同。</p>
<figure>
<img alt="仰面朝天勢圖">
</figure>
<p>8．拱立歸位勢。此勢與正身圖中拱立歸位法同。</p>
<figure>
<img alt="拱立歸位勢圖">
</figure>

<h2>第三章·半身圖說</h2>
<p>1．馬上獻杵勢。此勢將腳跟立地，下身如騎馬勢，上身如正身圖中獻杵勢，氣數諸法皆同。</p>
<figure>
<img alt="馬上獻杵勢圖">
</figure>
<p>2．馬上拋韁勢。此勢就前勢將兩手推出，如拋韁勢，下身如騎馬狀，氣數諸法同前。</p>
<figure>
<img alt="馬上拋韁勢圖">
</figure>
<p>3．馬上收韁勢。此勢就前勢收回，兩掌如馬上收韁狀，類正身圖中雙鳳朝陽勢，餘氣數諸法悉同前。</p>
<figure>
<img alt="馬上收韁勢圖">
</figure>
<p>4．馬上振衣勢。此勢就前勢向左右立掌打開，如馬上振衣狀，類正身圖中飛鷹展翅勢。餘氣數諸法悉同前。</p>
<figure>
<img alt="馬上振衣勢圖">
</figure>
<p>5．馬上整盔勢。此勢就前勢逆翻兩掌向上，如馬上整盔狀，類正身圖中雙手托塔勢，餘氣數諸法悉同前。</p>
<figure>
<img alt="馬上整盔勢圖">
</figure>
<p>6．馬上乘風勢。此勢就前勢將兩掌順勢放下至兩肩角，如乘馬遇風，以便馳驅之意，類正身圖中三峰峙立之勢，餘氣數諸法悉同前。</p>
<figure>
<img alt="馬上乘風勢圖">
</figure>
<p>7．向左勒馬勢。此勢上身如正身圖中龍探右爪勢，下身本圖中之騎馬勢，合而觀之，不啻向勒馬狀，所有呼吸氣數，凝注導引諸法，亦悉與龍探右爪同。</p>
<figure>
<img alt="向左勒馬勢圖">
</figure>
<p>8．向右勒馬勢。此勢與向左勒馬勢相同，惟方向相反而已。</p>
<figure>
<img alt="向右勒馬勢圖">
</figure>
<p>9．馬上橫肱勢。此勢上身如正身圖中橫肱蹲立勢，下身如本圖中騎馬勢，其餘氣數諸法悉同前。</p>
<figure>
<img alt="馬上橫肱勢圖">
</figure>
<p>10．馬上交關勢。此勢就前勢將兩掌十指盡力雙疊交於頸項間，呼吸一口作下勢。余法同前。</p>
<figure>
<img alt="馬上交關勢圖">
</figure>
<p>11．向前正鞍勢。此勢就前勢依身順勢伸膀直肱，盡力按下至丹田，呼吸一口，如在馬上向前正鞍之勢。余法同前。</p>
<figure>
<img alt="向前正鞍勢圖">
</figure>
<p>12．向前拋韁勢。此勢就前勢將兩手向前伸膀肱直起對肩，陽掌向前立撐一手，呼吸一口，如在馬上向前拋韁一般。余法同前。</p>
<figure>
<img alt="向前拋韁勢圖">
</figure>
<p>13．左右分韁勢。此勢前勢將兩手陽掌盡力排開，倒掌一撐，如馬上向左右分韁之勢，呼吸一口順作下勢。余法同前。</p>
<figure>
<img alt="左右分韁勢圖">
</figure>
<p>14．向後正鞍勢。此勢就前勢將兩手陽掌直分至背後，仍伸膀直肱，將十指在後疊交，陽掌向上，陰掌向下，盡力在後向下一擲，如在馬上向後正鞍之勢，呼吸一口。余法同前。</p>
<figure>
<img alt="向後正鞍勢圖">
</figure>
<p>15．向前提韁勢。此勢就前勢，從後伸膀直肱，挨身向前，直起平肩，指仍疊交，掌心向懷，盡力前推，如在馬上向前提韁之勢，呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="向前提韁勢圖">
</figure>
<p>16．向前拋韁勢。此勢就前勢將掌翻轉，掌心向外，盡力前撐，亦如在馬上向前拋韁之勢，呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="向前拋韁勢圖">
</figure>
<p>17．左右分韁勢。此勢與本圖中前左右分韁法同。</p>
<figure>
<img alt="左右分韁勢圖">
</figure>
<p>18．馬上攀楊第一勢。此勢就前勢將兩手從兩腋，耳邊順勢插上，以膀伸肱直，立掌變為合掌，掌心向內，掌背向外，中空不過一尺，盡力上指，如在馬上欲攀楊柳之勢，呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="馬上攀楊第一勢圖">
</figure>
<p>19．馬上攀楊第二勢。此勢就前勢將兩手十指疊交，掌心朝下，掌背朝上一托，如在馬上攀著楊柳之狀，呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="馬上攀楊第二勢圖">
</figure>
<p>20．向前提韁勢。此勢就前勢伸膀直肱，順勢放下，平與肩齊，十指疊交，肩角與前腕相對，盡力向前一推，亦如在馬上向前提韁之勢，呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="向前提韁勢圖">
</figure>
<p>21．向前拋韁勢。此勢與本圖中前拋韁法同。</p>
<figure>
<img alt="向前拋韁勢圖">
</figure>
<p>22．左右分韁勢。此勢與本圖中前左右分韁法同。</p>
<figure>
<img alt="左右分韁勢圖">
</figure>
<p>23．向後正鞍勢。此勢體態氣數與前向後整鞍勢同。</p>
<figure>
<img alt="向後正鞍勢圖">
</figure>
<p>24．馬上獻杵歸原勢。此勢與本圖中馬上獻杵法同。</p>
<figure>
<img alt="馬上獻杵歸原勢圖">
</figure>
<p>25．起立朝天勢。此勢就前勢將腳跟立地，使膝直腿伸，腰脊聳，然後呼吸導氣，由腳尖上行過鵲橋，翻泥丸至尾閭為一轉，又由尾閭度丹田逆提至泥丸為一運，仰面三次，呼吸三口。仰逆諸法與正身圖中仰面朝天同。</p>
<figure>
<img alt="起立朝天勢圖">
</figure>
<p>26．獻杵還原勢。此勢與正身圖中獻杵還原法同。</p>
<figure>
<img alt="獻杵還原勢圖">
</figure>
<p>27．拱立歸位勢。此勢與正身圖中拱立歸位法同。</p>
<figure>
<img alt="拱立歸位勢圖">
</figure>

<h2>第四章·屈身圖說</h2>
<p>1．馬上獻杵勢。此勢與半身圖中馬上獻杵法同。</p>
<figure>
<img alt="馬上獻杵勢圖">
</figure>
<p>2．馬上打恭勢。此勢就前勢將合掌初放在神庭上，呼吸一口；次推上泥丸宮，呼吸一口；然後由泥丸向上盡力一撐，如打恭在上狀，呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="馬上打恭勢圖（上）">
</figure>
<p>3．馬上打恭勢。此勢就前勢合掌打恭至地，膀伸肱直，腰立頭正，向下一撐，呼吸一口，復起還馬上獻杵狀，又呼吸一口，再作下勢。余法同前。</p>
<figure>
<img alt="馬上打恭勢圖（下）">
</figure>
<p>右馬上打恭二圖，三上三下其功乃全，每體勢氣數上下悉同，其圖僅列二勢者，省筆也。</p>
<p>4．左右排闥勢。此勢就前勢將兩掌順勢分開，掌心向背，掌背向前，兩邊俱與肩齊，盡力排闥，呼吸一口，然後將兩掌平平收回至兩乳旁，陽掌向下，陰掌向上，著力一提，又呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="左右排闥勢圖">
</figure>
<p>5．三盤落地勢。此勢就前勢緩緩挨身順勢放下至地，上要頭正腰立，下要指掛腿屈，手要膀伸肱直，呼吸畢仍起作排闥合前一勢，交互各行三次，然後復起排闥，收回兩掌，回抱合掌還原。其餘諸法悉皆同前。</p>
<figure>
<img alt="三盤落地勢圖">
</figure>
<p>6．獻杵還原勢。此勢與半身圖中馬上獻杵還原法同。</p>
<figure>
<img alt="獻杵還原勢圖">
</figure>
<p>7．仰面朝天勢。此勢與正身圖中仰面朝天法同。</p>
<figure>
<img alt="仰面朝天勢圖">
</figure>
<p>8．拱立歸位勢。此勢與正身圖中拱立歸位法同。</p>
<figure>
<img alt="拱立歸位勢圖">
</figure>

<h2>第五章·折身圖說</h2>
<p>1．馬上獻杵勢。此勢與前圖馬上獻杵法同。</p>
<figure>
<img alt="馬上獻杵勢圖">
</figure>
<p>2．伏耳抱柱勢。此勢就前勢將兩掌頭按伏兩耳，兩耳中三指緊按天柱，正身平視，一志凝神，呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="伏耳抱柱勢圖">
</figure>
<p>3．嵇首崩角勢。此勢就前勢緩緩著力，將頭下按至膝間，如嵇首崩角狀，膝腿直伸，足尖掛地，呼吸三口，順作下勢。余法同前。</p>
<figure>
<img alt="嵇首崩角勢圖">
</figure>
<p>4．倒運河車勢。此勢就前勢將兩掌放鬆，由後頸項挨身順下至兩足邊，搬腳對立，兩折皆直，俯首凝注。呼吸三口，例運河車。</p>
<figure>
<img alt="倒運河車勢圖">
</figure>
<p>5．昂頭掉尾勢。此勢就前勢將兩手十指尖挨著腳十趾尖，尾掉頭昂，神凝目注，呼吸三口，順作下勢。</p>
<figure>
<img alt="昂頭掉尾勢圖">
</figure>
<p>6．合掌定氣勢。此勢就前勢將兩腳移開，足尖掛地，身隨頭起立，合掌定氣，呼吸一口，順作下勢。余法同馬上獻杵勢。</p>
<figure>
<img alt="合掌定氣勢圖">
</figure>
<p>7．伸手舒脈勢。此勢就前勢將兩手打開，舒暢血脈，立掌左右，皆與肩齊，呼吸一口。諸法同馬上振衣勢。</p>
<figure>
<img alt="伸手舒脈勢圖">
</figure>
<p>8．提空起立勢。此勢就前勢仍足趾掛地，上下直立，掌背向外，掌心向內，垂兩掌平肩盡力上提，呼吸一口。余法同前立身勢。</p>
<figure>
<img alt="提空起立勢圖">
</figure>
<p>9．踏云撥霧勢。此勢就前勢將兩掌心逆翻至頂，交叉順勢著力，向左右撥開，以膀伸肱直為度，而上下身直，足仍離地，恍如踏云撥霧之狀。其餘氣數諸法悉皆同前。</p>
<figure>
<img alt="踏云撥霧勢圖">
</figure>
<p>10．托天鎮地勢。此勢就前勢仍足尖掛地，上下身直，將兩掌心翻轉，排左右朝天盡力往上下一撐，上托下鎮，呼吸一口。余法同前。</p>
<figure>
<img alt="托天鎮地勢圖">
</figure>
<p>11．四肢通關勢。此勢就前勢仍足趾掛地，將兩手向左右排開，陽掌向外、陰掌向內，使左手與右腳對，右手與左腳對，然後四肢一撐，呼吸一口，順作下勢。余法同前。</p>
<figure>
<img alt="四肢通關勢圖">
</figure>
<p>12．懸吊如鍾勢。此勢就前勢仍足趾掛地，將兩手收至頭頂，合掌直伸，懸吊如鍾，呼吸三口。余法同前。</p>
<figure>
<img alt="懸吊如鍾勢圖">
</figure>
<p>13．直立如松勢。此勢就前勢將兩足收回，足跟相挨，仍起腳離地，上下一撐，直立如松，呼吸三口。余法同前。</p>
<figure>
<img alt="直立如松勢圖">
</figure>
<p>14．獻杵還原勢。此勢就前勢仍足趾掛地，將合掌緩緩放下平肩，呼吸三口。余法與前圖中立身獻杵還原同。</p>
<figure>
<img alt="獻杵還原勢圖">
</figure>
<p>15．仰面朝天勢。此勢與側身圖中仰面朝天法同。</p>
<figure>
<img alt="仰面朝天勢圖">
</figure>
<p>16．拱立歸位勢。此勢與側身圖中拱立歸位法同。</p>
<figure>
<img alt="拱立歸位勢圖">
</figure>

<h2>第六章·扭身圖說</h2>
<p>1．馬上獻杵勢。此勢與折身圖馬上獻杵法同。</p>
<figure>
<img alt="馬上獻杵勢圖">
</figure>
<p>2．左旋迴抱勢。此勢就前勢將頭身扭轉向左，左腳腕曲，左足趾挨地，右腳腕伸，右腳掛指，腿似半弓，足勢丁字，腰立頭直，回抱齊鼻，凝神注目，呼吸一口，耳肩鼻心亦針縫相對。</p>
<figure>
<img alt="左旋迴抱勢圖">
</figure>
<p>3．左旋提空勢。此勢就前勢倒掌回抱作提空勢，呼吸一口。余法同前。</p>
<figure>
<img alt="左旋提空勢圖">
</figure>
<p>4．左旋伏地勢。此勢就前勢將兩手曲肱，兩掌心打開，收回抓肩，挨身翻掌按下，隨身至地，以十指蹲踞，左腳順轉掛指與右腳一順，肢撐頭揚，注目凝神，呼吸三口。余法同前。</p>
<figure>
<img alt="左旋伏地勢圖">
</figure>
<p>5．回抱還左勢。此勢就前勢緩緩直起，還左旋迴抱勢，呼吸一口。法悉同前。</p>
<figure>
<img alt="回抱還左勢圖">
</figure>
<p>6．右旋迴抱勢。此勢就前勢緩緩將頭身旋右，左腳換如右，右腳換如左。氣數諸法皆與左旋迴抱同。</p>
<figure>
<img alt="右旋迴抱勢圖">
</figure>
<p>7．右旋提空勢。此勢氣數諸法與左旋提空同。</p>
<figure>
<img alt="右旋提空勢圖">
</figure>
<p>8．右旋伏地勢。此勢氣數諸法與左旋伏地同。</p>
<figure>
<img alt="右旋伏地勢圖">
</figure>
<p>9．回抱還右勢。此勢氣數諸法與回抱還左同。</p>
<figure>
<img alt="回抱還右勢圖">
</figure>
<p>10．左拽牛尾勢。此勢就前勢將兩手握拳，復扭頭身旋左，使左肱向上曲扭，左拳底與兩目相對，右手下曲扭，右拳頭與右足右股相對，作左倒拽牛尾狀，兩腳與左旋迴抱勢同，呼吸三口，換右作下勢。</p>
<figure>
<img alt="左拽牛尾勢圖">
</figure>
<p>11．右拽牛尾勢。此勢就前勢將手腳頭身換右，氣數諸法悉同。</p>
<figure>
<img alt="右拽牛尾勢圖">
</figure>
<p>12．獻杵還左勢。此勢就前勢收回手腳，端正頭身，下身腳尖掛地如騎馬狀，左肱屈轉挨身，平胸立掌；右肱曲轉挨身，平掌放於立掌下，掌背朝上，平氣一口，換右作下勢。余法與馬上獻杵還原同。</p>
<figure>
<img alt="獻杵還左勢圖">
</figure>
<p>13．獻杵還右勢。此勢就前勢左掌換如右，右掌換如左，氣數諸法悉同前勢。</p>
<figure>
<img alt="獻杵還右勢圖">
</figure>
<p>14．獻杵還中勢。此勢與馬上獻杵還原同。</p>
<figure>
<img alt="獻杵還中勢圖">
</figure>
<p>15．插腳騰空勢。此勢就前勢腳仍掛地，緩緩立起，作插腳騰空之狀，呼吸一口。其諸法與正身正圖中獻杵還原同。</p>
<figure>
<img alt="插腳騰空勢圖">
</figure>
<p>16．仰面朝天勢。此勢與前圖中仰面朝天法同。</p>
<figure>
<img alt="仰面朝天勢圖">
</figure>
<p>17．獻杵還原勢。此勢與前圖中獻杵還原法同。</p>
<figure>
<img alt="獻杵還原勢圖">
</figure>
<p>18．拱立歸位勢。此勢與前圖中拱立歸位法同。</p>
<figure>
<img alt="拱立歸位勢圖">
</figure>

<h2>第七章·倒身圖說</h2>
<p>1．馬上獻杵勢。此勢側形與折身圖中馬上獻杵法同。</p>
<figure>
<img alt="馬上獻杵勢圖">
</figure>
<p>2．合掌平胸勢。此勢就前勢將兩合掌收回挨胸，呼吸三口作下勢。余法同前。</p>
<figure>
<img alt="合掌平胸勢圖">
</figure>
<p>3．四肢投地勢。此勢就前勢將兩掌挨身分開放下，向前至地與兩腳配，腳尖手指一齊掛地，四肢蹲踞，昂頭上視，注目凝神，呼吸三口，先呼後吸，導氣翻行逆升，倒運河車順作下勢。</p>
<figure>
<img alt="四肢投地勢圖">
</figure>
<p>4．左鼎足舒身勢。此勢就前勢將左腳向前中立，以腳尖掛地合兩手如鼎腳之勢，然後將左腳直伸，腳與頭平，腰背股膝一齊直撐，呼吸三口，使氣由腳根直衝泥丸下轉腳跟，三度氣畢順作下勢。</p>
<figure>
<img alt="左鼎足舒身勢圖">
</figure>
<p>5．右鼎足舒身勢。此勢左腳換右腳，右腳換左腳。余法同前。</p>
<figure>
<img alt="右鼎足舒身勢圖">
</figure>
<p>6．投地還原勢。此勢就前勢還四肢投地之原狀，其體勢呼吸悉與四肢投地法同。</p>
<figure>
<img alt="投地還原勢圖">
</figure>

<h2>第八章·翻身圖說</h2>
<p>1．空中跌坐勢。此勢就前勢將後兩腳向前插於兩手間，將兩手移後至股間，以兩腳十指斜掛於地，兩跨排開，使兩腳根相挨，頭直身立，眼光平視，一志凝神，呼吸三口，順作下勢。</p>
<figure>
<img alt="空中跌坐勢圖">
</figure>
<p>2．翻身蹲踞勢。此勢就前勢將兩手足排開，手足指俱掛地，翻身盡力一撐，膝與面平，如前倒身蹲踞狀，呼吸三口，導氣逆行順作下勢。</p>
<figure>
<img alt="翻身蹲踞勢圖">
</figure>
<p>3．左抵腳鼎立勢。此勢就前勢將右腳移中，掛指合兩手如鼎腳狀，左腳盡力向前直抵，眼註腳背，呼吸三口，換作下勢。</p>
<figure>
<img alt="左抵腳鼎立勢圖">
</figure>
<p>4．右抵腳鼎立勢。此勢就前勢將左腳換如右腳，右腳換如左腳，呼吸度數諸法悉同前。</p>
<figure>
<img alt="右抵腳鼎立勢圖">
</figure>
<p>5．翻身還原勢。此勢與翻身蹲踞法同。</p>
<figure>
<img alt="翻身還原勢圖">
</figure>
<p>6．合掌平胸勢。此勢就前勢將兩腳收回，起腳離地，腿曲身直，合掌平胸，眼光平視，呼吸三口、順作下勢。</p>
<figure>
<img alt="合掌平胸勢圖">
</figure>
<p>7．馬上打恭向上勢。此勢就前勢仍腳尖掛地，將合掌向上直撐，如在馬上打恭狀，氣亦隨之，速作下勢。</p>
<figure>
<img alt="馬上打恭向上勢圖">
</figure>
<p>8．馬上打恭向下勢。此勢就前勢仍足尖掛地，眼光平視，合掌直撐向下，氣亦隨之，順作下勢。</p>
<figure>
<img alt="馬上打恭向下勢圖">
</figure>
<p>9．三起三跌勢。此勢就前勢墊腳起立，合掌如正身圖中獻杵起功狀，呼吸一口豎脊曲膝，合掌隨下，兩手肱至兩膝間，復起立合掌如前，三起三跌，起跌一次呼吸一口，每一次將合掌收回為一部功，至第三次收回平胸，再一跌一起，順作下勢。</p>
<figure>
<img alt="三起三跌勢圖">
</figure>
<p>10．起立三推勢。此勢就前勢仍腳尖掛地，正身直立合掌平胸，呼吸一口，緩緩將合掌推出，又呼吸一口，推至三次圓滿，如正身圖中獻杵起功狀，呼吸一口，使腳跟挨地作下勢。</p>
<figure>
<img alt="起立三推勢圖">
</figure>
<p>11．仰面朝天勢。此勢與前圖中仰面朝天法同。</p>
<figure>
<img alt="仰面朝天勢圖">
</figure>
<p>12．獻杵還原勢。此勢與前圖中獻杵還原法同。</p>
<figure>
<img alt="獻杵還原勢圖">
</figure>
<p>13．拱立歸位勢。此勢與前圖中拱立歸位法同。</p>
<figure>
<img alt="拱立歸位勢圖">
</figure>

<h2>第九章·行身圖說</h2>
<p>1．左獨步瀛洲勢。此勢身正頭立，眼光平視，伸膀直肱，十指相叉，陽掌向上畢，右腳穩地，左腳曲膝向右一提，盡力向左一踢，呼吸一口，只動左腳，周身不移，接作下勢。</p>
<figure>
<img alt="左獨步瀛洲勢圖">
</figure>
<p>2．右獨步瀛洲勢。此勢左換右，右換左，連踢四十五次，呼吸四十五口，順作下勢。</p>
<figure>
<img alt="右獨步瀛洲勢圖">
</figure>
<p>3．右御風著步勢。此勢將左腳穩地，右腳由穩地處彎環挨左腳背順勢向前一蹬，周身不移，呼吸一口，接作下勢。身掌諸法悉同前。</p>
<figure>
<img alt="右御風著步勢圖">
</figure>
<p>4．左御風著步勢。此勢左腳換如右，右腳換如左，連蹬三十六次，合前獨步瀛洲四十五共得九九之數，每一次呼吸一口，行功畢緩作下勢。</p>
<figure>
<img alt="左御風著步勢圖">
</figure>
<p>5．俯掌頓腳勢。此勢將兩腳挨緊，陽掌轉朝下按，足尖一起，足跟一頓，一起一頓，一呼一吸，共二十一次，正身平視。諸法悉同前。</p>
<figure>
<img alt="俯掌頓腳勢圖">
</figure>
<p>6．宛轉舒眉第一勢。此勢將兩手相叉，陽掌向內，挨身向上至兩眉間，始掌如握眉，呼吸一口，接作下勢。</p>
<figure>
<img alt="宛轉舒眉第一勢圖">
</figure>
<p>7．宛轉舒眉第二勢。此勢將兩拳所握之眉翻揚向外，盡力舒開，呼吸一口，接作下勢。</p>
<figure>
<img alt="宛轉舒眉第二勢圖">
</figure>
<p>8．宛轉舒眉第三勢。此勢就前勢豎起脊梁，曲膝下樁，後腳穩前腳墊，兩拳握眉，回肱一排，呼吸一口，接作下勢。</p>
<figure>
<img alt="宛轉舒眉第三勢圖">
</figure>
<p>9．宛轉舒眉第四勢。此勢就前勢將兩拳盡力一撐，亦如舒眉狀，其樁勢氣數悉同前。</p>
<figure>
<img alt="宛轉舒眉第四勢圖">
</figure>
<p>右宛轉舒眉四勢畢為一次，向左一次向右一次為一輪，左右交互行三輪功始畢，圖勢缺左右交互三輪者，為省筆也。</p>
<p>10．左轉轆轤第一勢。此勢將右腳斜站，左腳平出，使右腳跟橫對左腳尖頭，身隨斜，兩手伸膀直肱，陽掌朝上，盡力一撐，呼吸一口，接作下勢。</p>
<figure>
<img alt="左轉轆轤第一勢圖">
</figure>
<p>11．左轉轆轤第二勢。此勢就前勢將兩掌朝上握緊，伸膀直肱，翻轉拳頭，往下一挪至兩股間，呼吸一口，接作下勢。</p>
<figure>
<img alt="左轉轆轤第二勢圖">
</figure>
<p>12．左轉轆轤第三勢。此勢就前勢將兩拳翻轉朝上提，緊挾兩腋，膀與股對，肱與拳平，呼吸一口，接作下勢。</p>
<figure>
<img alt="左轉轆轤第三勢圖">
</figure>
<p>13．左轉轆轤第四勢。此勢就前勢將左腳收回，在右腳後以腳尖掛地，右腳不動，兩拳翻順隨身下樁往下一錘，呼吸一口，接作下勢。</p>
<figure>
<img alt="左轉轆轤第四勢圖">
</figure>
<p>14．左轉轆轤第五勢。此勢就前勢將兩腳穩地斜站，腰身起立，往上一伸，兩手握拳往下一錘，呼吸一口，換作下勢。</p>
<figure>
<img alt="左轉轆轤第五勢圖">
</figure>
<p>15．右轉轆轤第一勢。此勢如左轉轆轤第一勢狀，右腳換左，左腳換右，頭身拳掌俱右向，體勢氣數則皆同。</p>
<figure>
<img alt="右轉轆轤第一勢圖">
</figure>
<p>16．右轉轆轤第二勢。此勢如左轉轆轤第二勢狀，腳身拳掌體勢換向右，氣數同。</p>
<figure>
<img alt="右轉轆轤第二勢圖">
</figure>
<p>17．右轉轆轤第三勢。此勢如左轉轆轤第三勢狀，腳身拳掌體勢換向右，氣數同。</p>
<figure>
<img alt="右轉轆轤第三勢圖">
</figure>
<p>18．右轉轆轤第四勢。此勢如左轉轆轤第四勢狀，腳身拳掌體勢換向右，氣數同。</p>
<figure>
<img alt="右轉轆轤第四勢圖">
</figure>
<p>19．右轉轆轤第五勢。此勢如左轉轆轤第五勢狀，腳身拳掌體勢換向右，氣數同。</p>
<figure>
<img alt="右轉轆轤第五勢圖">
</figure>
<p>按古人左右轆轤轉法，先左轉，後右轉，名單轆轤，左右同轉，名雙轆轤，照圖以左右交互行三轉，方合左右輪轉之法。</p>
<p>20．左插腳乘空勢。此勢起功站定腳跟，豎起脊梁，兩手握拳，膀肱下垂，耳肩鼻胸各相對，眼光平視，牙關扣緊，鵲橋高架，呼吸三口，然後將左腳提起上前一步站穩，左膝一撐，呼吸一口，右腳隨提，換作下勢。</p>
<figure>
<img alt="左插腳乘空勢圖">
</figure>
<p>21．右插腳乘空勢。按此勢合後勢，一名日月圖，又曰太極圖，其調息、定氣、一志、凝神與諸勢同，惟收神一法，閤眼瞪目，俱從其便，但眼觀界限近不在一尺內，遠不逾五尺，外，斯為合法。</p>
<figure>
<img alt="右插腳乘空勢圖">
</figure>
<p>此勢就前勢將右腳換如左，左腳換如右，體勢氣數皆同，左右交互，緩行一百步，一步一呼吸、急行一百步，兩步一呼吸，復緩行一百步，一步一呼吸，共三百步，呼吸二百五十口為一盤。</p>
<p>右插腳乘空二勢行功至此，下臺旋轉而行，或丹臺下不便行，先後一時擇地行之，可另擇一時行之亦可，隨行行之皆無不可。</p>
<p>22．頂上圓光上勢。此勢如環拱正立勢站法，但兩手握拳下垂，俟氣定將兩手挨身由臍下交互而上至頂，如圓光狀，呼吸一口，順此接作下勢。</p>
<figure>
<img alt="頂上圓光上勢圖">
</figure>
<p>23．頂上圓光下勢。此勢就前勢將在頂兩手，又交互而下至臍下，亦如圓光狀，呼吸一口，導氣迴旋，連作三次，呼吸三口，兩手下垂還原，順作下勢。</p>
<figure>
<img alt="頂上圓光下勢圖">
</figure>
<p>24．游魚擺翅後排勢。此勢就前勢將兩手握拳，挨身向後，兩邊陽拳一排，吸氣一口，速作下勢。</p>
<figure>
<img alt="游魚擺翅後排勢圖">
</figure>
<p>25．游魚擺翅前分勢。此勢就前勢將兩手握拳，挨身收回轉向前面，陽拳從中往兩邊一分，呼氣一口為擺翅一度，連擺三度，其功始畢。</p>
<figure>
<img alt="游魚擺翅前分勢圖">
</figure>
<p>26．游魚擺翅後捶勢。此勢就前勢將兩手握拳，伸膀直肱，挨身順勢向後一捶，呼吸一口，速作下勢。</p>
<figure>
<img alt="游魚擺翅後捶勢圖">
</figure>
<p>27．游魚擺翅前推勢。此勢就前勢仍伸膀直肱，將兩手握拳，挨身順勢向前一推，吸氣一口，再錘再推，三錘三推，三推三呼三吸，緩作下勢。</p>
<figure>
<img alt="游魚擺翅前推勢圖">
</figure>
<p>28．陽掌還原勢。此勢就前勢伸膀肱，將握拳打開、陽掌向外，往下一垂，頭身往上一伸，呼吸一口，順作下勢。</p>
<figure>
<img alt="陽掌還原勢圖">
</figure>
<p>29．陰掌還原勢。此勢就前勢伸膀直肱翻陰掌向外，往下一垂，頭身往上一伸，呼吸一口，順作下勢。</p>
<figure>
<img alt="陰掌還原勢圖">
</figure>
<p>30．順掌還原勢。此勢就前勢將兩掌心向內，往下一垂，頭身往上一伸，呼吸一口，順作下勢。</p>
<figure>
<img alt="順掌還原勢圖">
</figure>
<p>31．握掌還原勢。此勢就前勢將兩手握拳，順勢往下一垂，頭身往上一伸，呼吸一口，順作下勢。</p>
<figure>
<img alt="握掌還原勢圖">
</figure>
<p>32．順氣歸田勢。此勢就前勢將右掌按黃庭上，左掌按臍輪下，以右掌當中，從上推至臍下，即以左掌隨從臍下，由左邊運上至黃庭上，又順推至臍下，臍下右掌亦隨從臍下由右邊運上至黃庭上交界處，再推再運，推運一輪，呼吸一口，推運二十一次，呼吸二十一口，隨推隨運，順所運清氣盡歸丹田，使之團結，俟作坐功，運充臟腑。</p>
<figure>
<img alt="順氣歸田勢圖">
</figure>
<p>33．叉手還原勢。此勢就前勢將兩手叉兩股上大骨處，大指在前，四指在後，呼吸一口，順作下勢。</p>
<figure>
<img alt="叉手還原勢圖">
</figure>
<p>34．拱立歸位勢。此勢就前勢將兩手收回，環拱還原氣海，坐下呼吸三口，由急而緩，行身圖畢，接作坐功。</p>
<figure>
<img alt="拱立歸位勢圖">
</figure>

<h2>第十章·坐身圖說</h2>
<p>按坐功圖式，以兩足背交疊兩腿上為天盤，一名雙打。膝腿未熟者，單打膝亦可，單打膝皆不能，暫作地盤，以兩足按下交疊盤坐，久之可以一足抵腿縫，一足翻駕腿上，作單打膝，俟腿漸熟，緩緩再將抵腿之足，仍翻駕腿上，作雙打膝，以成天盤，斯合坐勢，然不可勉強，循序漸進，萬無不上兜率天者。</p>
<p>1．握固思神勢。此勢將左腳掌駕右腿上，右腳掌駕左腿上，左陽掌平胸，右手握固放左掌上，豎起脊梁，眼光平視，耳肩鼻胸遙遙相對，牙關扣緊，鵲橋高駕，呼吸之間，出下入上，九圖運功在此一聚。前則運精化氣，此則運氣歸神，氣三度開起下勢。</p>
<figure>
<img alt="握固思神勢圖">
</figure>
<p>2．合掌趺跏勢。此勢盤腳同前，上身如正身圖中獻杵起功，呼吸三口，使氣凝聚五臟。</p>
<figure>
<img alt="合掌趺跏勢圖">
</figure>
<p>3．雙手推門勢。此勢盤腳同前，上身如正身圖中出爪亮翅狀，雙手陽掌向前作推門勢，呼吸三口，使氣會通百脈。</p>
<figure>
<img alt="雙手推門勢圖">
</figure>
<p>4．一團和氣勢。此勢盤腳同前，上身如正身圖中雙鳳朝陽狀，呼吸三口，使氣活活潑潑，和順一團。</p>
<figure>
<img alt="一團和氣勢圖">
</figure>
<p>5．伸肱理脈勢。此勢盤腳同前，上身如正身圖中飛鷹展翅狀，呼吸三口，伸肱理氣，貫注百脈。</p>
<figure>
<img alt="伸肱理脈勢圖">
</figure>
<p>6．虛托開胃勢。此勢盤腳同前，上身虛托向上，如正身圖中雙手托塔狀，呼吸三口，使胃氣開暢。</p>
<figure>
<img alt="虛托開胃勢圖">
</figure>
<p>7．負重固腋勢。此勢腳同前，上身如正身圖中三峰峙立狀，將兩掌翻朝向上，如負重託物，呼吸三口固兩腋。</p>
<figure>
<img alt="負重固腋勢圖">
</figure>
<p>8．舒肝理肺左勢。此勢盤腳同前，上身如正身圖中龍探右爪狀，呼吸三口，以理肺氣。</p>
<figure>
<img alt="舒肝理肺左勢圖">
</figure>
<p>9．舒肝理肺右勢。此勢盤腳同前，上身如正身圖中龍探左爪狀，呼吸三口，以舒肝氣。</p>
<figure>
<img alt="舒肝理肺右勢圖">
</figure>
<p>10．盤坐橫肱勢。此勢盤腳同前，上身如正身圖中橫肱蹲立狀，呼吸三口，使氣迴旋於四肢。</p>
<figure>
<img alt="盤坐橫肱勢圖">
</figure>
<p>11．三焦達利第一勢。此勢盤腳同前，上身如正身圖中三才通氣第一勢，呼吸一口，使氣凝聚於上焦。</p>
<figure>
<img alt="三焦達利第一勢圖">
</figure>
<p>12．三焦達利第二勢。此勢盤腳同前，上身如正身圖中三才通氣第二勢，呼吸一口，使氣貫注於下焦。</p>
<figure>
<img alt="三焦達利第二勢圖">
</figure>
<p>13．三焦達利第三勢。此勢盤腳同前，上身如正身圖中三才通氣第三勢，呼吸一口，使氣蘊蓄於中焦。</p>
<figure>
<img alt="三焦達利第三勢圖">
</figure>
<p>14．三焦達利第四勢。此勢盤腳同前，上身如正身圖中三才通氣第四勢，呼吸一口，使中焦開暢。</p>
<figure>
<img alt="三焦達利第四勢圖">
</figure>
<p>15．三焦達利第五勢。此勢盤腳同前，上身如正身圖中三才通氣第五勢，呼吸一口，使氣又由中焦降至下焦。</p>
<figure>
<img alt="三焦達利第五勢圖">
</figure>
<p>16．三焦達利第六勢。此勢盤腳同前，上身如正身圖中三才通氣第六勢，呼吸一口，使氣又由下焦翻上中焦。</p>
<figure>
<img alt="三焦達利第六勢圖">
</figure>
<p>17．三焦達利第七勢。此勢盤腳同前，上身如正身圖中三才通氣第七勢，呼吸一口，使氣貫滿於中焦。</p>
<figure>
<img alt="三焦達利第七勢圖">
</figure>
<p>18．三焦達利第八勢。此勢盤腳同前，上身如正身圖中三才通氣第八勢，呼吸一口，使氣散注於中焦。</p>
<figure>
<img alt="三焦達利第八勢圖">
</figure>
<p>19．三焦達利第九勢。此勢盤腳同前，上身如正身圖中三才通氣第九勢，呼吸一口，使氣又由中焦沖運於上焦。</p>
<figure>
<img alt="三焦達利第九勢圖">
</figure>
<p>20．三焦達利第十勢。此勢盤腳同前，上身如正身圖中三才通氣第十勢，呼吸一口，使輕清之氣上浮於上焦。</p>
<figure>
<img alt="三焦達利第十勢圖">
</figure>
<p>21．三焦達利第十一勢。此勢盤腳同前，上身如正身圖中三才通氣第十一勢，呼吸一口，使純陽之氣歸位於中焦。</p>
<figure>
<img alt="三焦達利第十一勢圖">
</figure>
<p>22．三焦達利第十二勢。此勢盤腳同前，上身如正身圖中三才通氣第十二勢，呼吸一口，使純陽之氣充盈於中焦。</p>
<figure>
<img alt="三焦達利第十二勢圖">
</figure>
<p>23．三焦達利第十三勢。此勢盤腳同前，上身如正身圖中三才通氣第十三勢，呼吸一口，使純陽之氣散滿於中焦。</p>
<figure>
<img alt="三焦達利第十三勢圖">
</figure>
<p>24．三焦達利第十四勢。此勢盤腳同前，上身如正身圖中三才通氣第十四勢，呼吸一口，使重濁之氣下降於下焦。</p>
<figure>
<img alt="三焦達利第十四勢圖">
</figure>
<p>右三焦達利十四勢，雖與正身圖中三才通氣十四勢，並半身圖中馬上交關下十四勢同，而前者是運氣流通，中者是運氣貫注，此勢是運氣歸位，功分三等，理歸一貫，行功至此，縱橫上下，無不入妙矣。</p>
<p>25．左摘星換鬥第一勢。此勢盤腳同前，上身如側身圖中獨手擎天勢向左，呼吸三口。引氣左升。</p>
<figure>
<img alt="左摘星換鬥第一勢圖">
</figure>
<p>26．左摘星換鬥第二勢。此勢盤腳同前，上身如側身圖中翻手拔刀勢向右，呼吸三口，導氣右旋。</p>
<figure>
<img alt="左摘星換鬥第二勢圖">
</figure>
<p>27．左摘星換鬥第三勢。此勢盤腳同前，上身如側身圖中開弓打彈勢向右，呼吸三口，挽氣和肝。</p>
<figure>
<img alt="左摘星換鬥第三勢圖">
</figure>
<p>28．右摘星換鬥第一勢。此勢盤腳同前，上身如左摘星換鬥第一勢向右，呼吸三口，引氣右伸。</p>
<figure>
<img alt="右摘星換鬥第一勢圖">
</figure>
<p>29．右摘星換鬥第二勢。此勢盤腳同前，上身如左摘星換鬥第二勢向左，呼吸三口，導氣左旋。</p>
<figure>
<img alt="右摘星換鬥第二勢圖">
</figure>
<p>30．右摘星換鬥第三勢。此勢盤腳同前，上身如左摘星換鬥第三勢向左，呼吸三口，挽氣潤肺。</p>
<figure>
<img alt="右摘星換鬥第三勢圖">
</figure>
<p>摘星換斗六勢是法飛星過度，以呼吸導引上浮，清氣輪轉於天盤之上，故名摘星換鬥。</p>
<p>31．一字通關陰掌勢。此勢盤腳同前，上身就前勢將兩陰掌朝上，往兩邊平平盡力一伸如一字狀，呼吸一口，以通中焦關竅。</p>
<figure>
<img alt="一字通關陰掌勢圖">
</figure>
<p>32．雙手虛托勢。此勢盤腳同前，上身就前勢將兩掌虛虛托起，呼吸一口，使氣通上焦關竅。</p>
<figure>
<img alt="雙手虛托勢圖">
</figure>
<p>33．平心下氣勢。此勢盤腳同前，上身就前勢將兩掌挨身放下，疊放兩腳交加處，平心下氣，呼吸一口，使氣由上焦通下焦關竅。</p>
<figure>
<img alt="平心下氣勢圖">
</figure>
<p>34．雙手再托勢。此勢就前勢將兩掌再覆頂門向上，虛虛托起，呼吸一口，使氣通上焦關竅。</p>
<figure>
<img alt="雙手再托勢圖">
</figure>
<p>35．一字通關陽掌勢。此勢就前勢將兩手伸膀直肱，順勢放下，陽掌朝上，平肩往兩邊一撐，亦如一字狀，呼吸一口，使氣由上焦通中焦關竅。</p>
<figure>
<img alt="一字通關陽掌勢圖">
</figure>
<p>36．收氣回抱勢。此勢就前勢將兩掌收回，疊放兩腳交加處，呼吸一口，使氣由中焦通下焦關竅。</p>
<figure>
<img alt="收氣回抱勢圖">
</figure>
<p>37．一字通關陰掌還原勢。此勢就前勢將兩手伸膀直肱，又往兩邊抬起分開，陰掌朝上，陽掌朝下，平肩盡力作一字一撐，呼吸一口，使氣由下焦通中焦關竅。</p>
<figure>
<img alt="一字通關陰掌還原勢圖">
</figure>
<p>38．收抱還原勢。此勢如前勢收氣回抱勢，將氣分三次，緩緩坐下，每坐下一次，呼吸一口，共坐下三次，呼吸三口，使三焦之氣各還原地。</p>
<figure>
<img alt="收抱還原勢圖">
</figure>
<p>39．十字通關下手勢。此勢就前勢將兩陰掌向前垂下，挨身架十字，盡力往兩邊分開至肩，隨分隨上，呼吸一口，使氣斜開周身關竅。</p>
<figure>
<img alt="十字通關下手勢圖">
</figure>
<p>40．十字通關陰掌勢。此勢就前勢伸膀直肱，將兩陰掌往兩邊盡力一排，呼吸一口，使氣橫開周身關竅。</p>
<figure>
<img alt="十字通關陰掌勢圖">
</figure>
<p>41．十字通關回抱勢。此勢就前勢將兩掌挨身駕十字垂下，收回曲肱抱肩，坐下氣海，呼吸一口，使氣透周身關竅。</p>
<figure>
<img alt="十字通關回抱勢圖">
</figure>
<p>42．十字通關陽掌勢。此勢就前勢將兩手換作陽掌，平胸向前駕十字，盡力往兩邊一排，呼吸一口，使氣橫開周身關竅，復兩手平肩陽掌朝上，盡力往兩邊一撐，呼吸一口，使氣橫舒周身關竅。</p>
<figure>
<img alt="十字通關陽掌勢圖">
</figure>
<p>43．十字通關交抱勢。此勢就前勢將兩手順陽掌駕十字平胸，收回抱肩，坐下氣海，呼吸一口，使氣橫透周身關竅。</p>
<figure>
<img alt="十字通關交抱勢圖">
</figure>
<p>44．十字通關陰掌還原勢。此勢就前勢將兩手陰掌朝上平肩，駕十字打開至肩，手與肩平，豎起脊梁，往兩邊盡力一撐，呼吸一口，使氣上通下透，各還本部。</p>
<figure>
<img alt="十字通關陰掌還原勢圖">
</figure>
<p>45．十字通關握拳勢。此就前勢將兩掌握拳，伸膀直肱平肩，盡力往兩邊一抵，呼吸一口，以閉周身關竅。</p>
<figure>
<img alt="十字通關握拳勢圖">
</figure>
<p>46．十字通關收拳勢。此勢就前勢將兩拳順肩收回，頓放兩股上大骨處，呼吸一口，以關周身關竅。</p>
<figure>
<img alt="十字通關收拳勢圖">
</figure>
<p>47．十字通關叉手勢。此勢就前勢將兩拳兩掌換作叉放原處，大指在前，四指在後，呼吸一口，以鎖周身關竅。</p>
<figure>
<img alt="十字通關叉手勢圖">
</figure>
<p>48．疊掌定氣勢。此勢就前勢將兩掌收回，疊放兩腳交加處，以定神氣。</p>
<figure>
<img alt="疊掌定氣勢圖">
</figure>
<p>49．握固還原勢。此勢掌上操拳，右拳左掌，環拱平胸，呼吸三口，仍還握固思神之原坐功畢矣，毋庸下坐，接作定功。</p>
<figure>
<img alt="握固還原勢圖">
</figure>

<h2>第十一章·定身圖說</h2>
<p>凡行動至此圖時，水火既濟，坎補離填，採煉功畢，最宜久坐。運幾多時，定亦幾多時，大約運一下鍾，定亦一下鍾，運一枝香，定亦一枝香，作此勢坐時，運未到者，補運之定，有移者，隨止之，久久渾噩，大極一團，默唸、存想、呼吸、俱化精氣神，三寶覺入，即色即空，不見實見境界，斯能養嬰入定，歸原出神，運定全功。</p>
<p>按定身圖八勢，是涵養性靈，全收前坐立行止，升降抑揚，屈伸宛轉，運定之效，萬不可輕易行之，行功至此，須屏絕念慮，洗滌心胸，耳不聞，目不見，心無所思，無一掛礙。惟知以所運之氣，歸蓄三焦，旋轉黃庭，意之所至，氣之所至，採藥煉丹，養嬰入定，全賴於此。返本還原，成真證果，實基於此，此時不能調息定位，一志凝神，則心必走著，氣難內積，將見前之運動，皆成外壯，豈不惜哉，然亦不可十分著意，貴無妄無助，不黏不脫，亦離亦合，妙極趣極，心經所謂，色不意空，空不異色，色即是空，空即是色者，即此境界也。學道之人，平時細心體之，臨時一心向之，過時又迴心審之，日久功深，不特易筋換骨，即伐毛洗髓，亦無難亦。</p>
<p>1．定氣和神勢。此勢與坐身圖中握固思神勢同，但氣穴要使之微閉，則氣始定。神光要使之內斂，則神始和，一呼一吸，吸降呼升，三呼三吸，緩作下勢。</p>
<figure>
<img alt="定氣和神勢圖">
</figure>
<p>2．旋轉日月勢。此勢立身盤腳俱與前同，拳掌安放亦無異。將氣海坐下，使氣穴微閉，兩眼左轉二十一輪，呼吸二十一口，吞津三度，右轉二十一輪，呼吸二十一口，吞津三度，再作下勢。</p>
<figure>
<img alt="旋轉日月勢圖">
</figure>
<p>3．倒湧清泉勢。此勢雙疊兩腳，豎起脊梁，高駕鵲橋，閤眼平視，拳掌安放兩腳交叉處，吸下呼上，呼吸三口，導引黃河，逆流衝動督任，倒湧天梯，醍醐灌頂，水簾不絕，再作下勢。</p>
<figure>
<img alt="倒湧清泉勢圖">
</figure>
<p>4．返觀內照勢。此勢盤腳立身，拳掌安放悉如前法，呼吸之間，吸則眼觀鼻，鼻觀心，心觀腎，呼則沖督任，上天梯，翻泥丸，不可失意，亦不可十分著意，太急難到，太緩必滯，不疾不徐，呼吸三口，自能內觀臟腑。</p>
<figure>
<img alt="返觀內照勢圖">
</figure>
<p>5．龍行虎奔勢。此勢緊閉牙關，高駕鵲橋，氣海坐下，緩緩呼吸二十一次，每七次吞津三口，使龍行虎奔，三三九口畢，換作下勢。</p>
<figure>
<img alt="龍行虎奔勢圖">
</figure>
<p>6．汲精補髓勢。此勢兩腳舒伸。兩掌蓋膝，吸降呼升，呼吸三口，使所運津液之精氣血之精，上補神髓，開啟性靈。</p>
<figure>
<img alt="汲精補髓勢圖">
</figure>
<p>7．返本還原勢。此勢曲肱將兩腳收回，兩腳掌合抵，兩手伸膀直肱合掌交叉，緊抱兩腳十指，坐下氣海，緩緩呼吸七口，吞津三度，使胎嬰團結，返本還原。</p>
<figure>
<img alt="返本還原勢圖">
</figure>
<p>8．養嬰歸原入定出神勢。此勢坐法與定身第一圖同，但呼吸至此，愈隱愈微，不惟無聲，並若無氣，渾渾噩噩，杳杳冥冥，一塵不染，萬象皆空，胎嬰所在，活活潑潑，有我無我，出入悉定，萬化之源，太初之本。</p>
<figure>
<img alt="養嬰歸原入定出神勢圖">
</figure>
<p>偈曰：行功至斯，無生無死，定而不定，出入由己，觀自在相，神嬰脫體，洗髓功深，天靈蓋啟，混沌一元與天地匹，渾化無邊，究竟得止，圓覺功夫，權輿在此。</p>

<h2>第十二章·臥身圖說</h2>
<p>臥身圖說明：凡作睡功，不必拘定，頭頂北，面朝西，一腳屈，一腳伸，曲肱作枕，諸法總須鞠躬屈膝，緊閉牙關，高駕鵲橋，閤眼收光，返觀內照，一志凝神，調息定氣，吸降呼升，萬緣屏除，一心皈命，混混沌沌，無夢無驚，方可使河車運動，督任交通，坎離既濟，陰陽相生，當亥子醜寅四時，最宜安息，升降清濁，使心腎交關，百脈朝會，此四時不睡，水穀之精，不能化津升騰天頂，貫注周身，雖酣終日，臥亦奚益焉，天氣下降，地氣上騰，日月往來，陰陽交構正在此四時。修煉家千萬不可失此機會，此小周天也。至於睡法圖有十式，隨擇一圖睡之，俱可旋轉車輪，切忌如屍仰臥，伏地覆臥。</p>
<p>又佛傳睡功有捫臍摸腹，掙搓睪丸，揉擦下體諸法，宜於初睡醒時行之，欲睡時只宜作臥身圖式，千萬不可運動臍腹、睪丸、下體等處，恐功未到睡後走丹。</p>
<p>1．左伏身側臥勢。此圖頭向左臥，左腳屈右腳伸，左手抱肩，右手按席上，側身伏臥床。</p>
<figure>
<img alt="左伏身側臥勢圖">
</figure>
<p>2．右伏身側臥勢。此圖頭向右臥，右腳屈左腳伸，右手抱肩，左手覆按席上，側身伏席臥。</p>
<figure>
<img alt="右伏身側臥勢圖">
</figure>
<p>3．左坦腹側臥勢。此圖頭向左臥，左腳伸右腳屈立，左手仰放席上，右手覆按右腿，坦腹側身向上面臥。</p>
<figure>
<img alt="左坦腹側臥勢圖">
</figure>
<p>4．右坦腹側臥勢。此圖頭向右臥，右腳伸左腳屈立，右手仰放席上，左手覆按左腿，坦腹側身向上面臥。</p>
<figure>
<img alt="右坦腹側臥勢圖">
</figure>
<p>5．左屈膝側臥勢。此圖頭向左臥，左腳屈放席上，右腳屈立，左手仰放席上，右手覆按右腿，坦腹側身向上面臥。</p>
<figure>
<img alt="左屈膝側臥勢圖">
</figure>
<p>6．右屈膝側臥勢。此圖頭向右臥，右腳屈放席上，左腳屈立，右手仰放席上，左作覆按左腿，坦腹側身向上，面臥。</p>
<figure>
<img alt="右屈膝側臥勢圖">
</figure>
<p>7．左如弓側臥勢。此圖頭向左臥，左腳屈放席上，右腳仍屈如左腳疊放左腳上，陽物腎囊用手兜出，使兩胯不相挨，左手抱肩，右手覆按上，如弓側臥。</p>
<figure>
<img alt="左如弓側臥勢圖">
</figure>
<p>8．右如弓側臥勢。此圖頭向右臥，右腳屈放席上，左腳仍屈如右腿，疊放右腳上，陽物腎囊用手兜出，不使兩胯相挨、右手抱肩，左手覆按席上，如弓側臥。</p>
<figure>
<img alt="右如弓側臥勢圖">
</figure>
<p>9．左坦腹仰臥勢。此圖頭微向左而坦腹仰臥，以左腳交右腳上，兩手握拳安放兩股，雖仰，微側向右，身左，氣不舒時，宜睡此勢，平時少用。</p>
<figure>
<img alt="左坦腹仰臥勢圖">
</figure>
<p>10．右坦腹仰臥勢。此圖頭微向右而坦腹仰身臥，以右腳交左腳上，兩手握拳按放兩股，雖仰，微側向左，身右，氣不舒時，宜睡此勢，平時少用。</p>
<figure>
<img alt="右坦腹仰臥勢圖">
</figure>
<p>行功說明：</p>
<p>凡睡，衣宜解，帶宜松，床求平坦，被無覆頭，枕不可過高，亦不可過低，以頭居肩中為度，手不可抱頭，亦不可放骨縫處，以阻氣道，兩胯宜微開，使腎囊陽物不壓，斯為合法。</p>

<h2>第十三章·韋馱勁十二勢圖說</h2>
<p>1．韋馱獻杵第一勢。</p>
<figure>
<img alt="韋馱獻杵第一勢圖">
</figure>
<p>立身期正直，環拱手當胸，氣定神皆斂，心澄貌亦恭。</p>
<p>2．韋馱獻杵第二勢。</p>
<figure>
<img alt="韋馱獻杵第二勢圖">
</figure>
<p>足指掛地，兩手平開，心平氣靜，目瞪口呆。</p>
<p>3．韋馱獻杵第三勢。</p>
<figure>
<img alt="韋馱獻杵第三勢圖">
</figure>
<p>掌托天門目上觀，足尖著地立身端。力周骽脅渾如植，咬緊牙關不放寬。舌可生津將齶抵，鼻能調息覺心安。兩拳緩緩收回處，用力還將挾重看。</p>
<p>4．摘星換鬥勢。</p>
<figure>
<img alt="摘星換鬥勢圖">
</figure>
<p>隻手擎天掌覆頭，更從掌內注雙眸。鼻端吸氣頻調息，用力收回左右侔。</p>
<p>5．倒拽九牛尾勢。</p>
<figure>
<img alt="倒拽九牛尾勢圖">
</figure>
<p>兩骽後伸前屈，小腹運氣空松；用力在於兩膀，觀拳須注雙瞳。</p>
<p>6．出爪亮翅勢。</p>
<figure>
<img alt="出爪亮翅勢圖">
</figure>
<p>挺身兼怒目，推手向當前；</p>
<p>用力收回處，功須七次全。</p>
<p>7．七鬼拔馬刀勢。</p>
<figure>
<img alt="七鬼拔馬刀勢圖">
</figure>
<p>側首彎肱，抱頂及頸；自頭收回，</p>
<p>弗嫌力猛；左右相輪，身直氣靜。</p>
<p>8．三盤落地勢。</p>
<figure>
<img alt="三盤落地勢圖">
</figure>
<p>上齶堅撐舌，張眸意注牙；</p>
<p>足開蹲似踞，手按猛如挐；</p>
<p>兩掌翻齊起，千斤重有加；</p>
<p>瞪睛兼閉口，起立足無斜。</p>
<p>9．青龍探爪勢。</p>
<figure>
<img alt="青龍探爪勢圖">
</figure>
<p>青龍探爪，左從右出；修士效之；</p>
<p>掌平氣實；力周肩背，圍收過膝；</p>
<p>兩目注平，息調心謐。</p>
<p>10．臥虎撲食勢。</p>
<figure>
<img alt="臥虎撲食勢圖">
</figure>
<p>兩足分蹲身似傾，</p>
<p>屈伸左右骽相更。</p>
<p>昂頭胸作探前勢，偃背腰還似砥平。鼻息調元均出入，指尖著地賴支撐。降龍伏虎神仙事，學得真形也衛生。</p>
<p>11．打躬勢。</p>
<figure>
<img alt="打躬勢圖">
</figure>
<p>兩手齊持腦，垂腰至膝間；頭惟探胯下，口更齧牙關；掩耳聰教塞，調元氣自閒；舌尖還抵齶，力在肘雙彎。</p>
<p>12．掉尾勢。</p>
<figure>
<img alt="掉尾勢圖">
</figure>
<p>膝直膀伸，推手自地；瞪目昂頭，</p>
<p>凝神一志；起而頓足，二十一次；</p>
<p>左右伸肱，以七為志；更作坐功，</p>
<p>盤膝垂眥；口注於心，息調於鼻；定靜乃起，厥功維備；總考其法，圖成十二；誰實貽諸，王代之季；達摩西來，傳少林寺，有宋岳候，更為鑑識；卻病延年，功無與類。</p>

<h2>第十四章·十二大勁圖說</h2>
<p>凡行練力功夫，須於靜處面向東立，靜慮凝神，通身不必用力，只須使其氣貫兩手，若一用力，則不能貫兩手矣。每行一式，默數四十九字，接行下式，毋相間斷。行第一式，自覺心思法則俱熟，方行第二式。速者半月，遲者一月，各式俱熟，其力自能貫上頭頂，此練力練氣，運行易筋脈之法也。務須嚴謹有恆，戒酒色，日夜行五六七次，工無間斷，食飯四五頓，專心練習至百日，能長千斤之力，此指少壯者言也。即軟弱無力之人，亦可練至五六百斤，倘年老精氣不足者，肯如法操練，日行二三次，亦能健食延年，除一切疾病，真神妙也。</p>
<figure>
<img alt="第一式圖">
</figure>
<p>面向東立，目上視，兩腳站平，寬與肩齊，不可參差，兩手垂下，肘微曲，掌背朝上，掌心朝下，指尖仰翹朝前，默數四十九字，每數一字，指尖朝上翹，掌想朝下按，如此四十九翹，四十九按，四十九宮也。</p>
<figure>
<img alt="第二式圖">
</figure>
<p>前式數字畢，將十指捲曲為拳，拳背朝前，以兩大拇指朝身，每數一字拳一緊，大拇指一翹，數四十九字，即四十九緊，又即四十九翹也。</p>
<figure>
<img alt="第三式圖">
</figure>
<p>前式數字畢，將大指疊在掌心，捏緊為拳，趁勢往下一伸，肘微曲，兩拳虎口向前，每數一字，拳加一緊，亦數四十九字，四十九緊也。</p>
<figure>
<img alt="第四式圖">
</figure>
<p>前式數字畢，將臂平抬，拳伸向前，與肩齊平，兩肘微曲，虎口朝上，兩拳相距尺許，數一字，拳一緊，數四十九字。</p>
<figure>
<img alt="第五式圖">
</figure>
<p>前式已畢，即按此勢將兩臂豎起，虎口向後，手臂不可貼頭，拳緊如前，數四十九字。</p>
<figure>
<img alt="第六式圖">
</figure>
<p>前式已畢，即接以兩拳下對耳一寸遠，以虎口向兩肩，數一字拳一緊，想前兩肘尖往後用力，數四十九字。</p>
<figure>
<img alt="第七式圖">
</figure>
<p>前式已畢，將身往後一仰，以腳尖離地為度，趁勢將兩手分開，直與肩齊，虎口向上，數一字，拳一緊，想兩拳往後排，胸微向前合，數四十九字。</p>
<figure>
<img alt="第八式圖">
</figure>
<p>前式已畢，將兩手收回，兩拳向前合對，與第四式相同，而不同者，手直肘不微曲，拳相近，只離五六寸遠，數一字，拳一緊，亦合，數四十九字。</p>
<figure>
<img alt="第九式圖">
</figure>
<p>前式已畢，將兩拳收回兩乳之上，即抬起翻拳，向前起對鼻準頭、拳背、食指、大節骨去鼻準二三寸，數一字，拳一緊，數四十九字。</p>
<figure>
<img alt="第十式圖">
</figure>
<p>前式已畢，將兩手分開，虎口對兩耳，如山字形，每數一字，拳一緊，拳想上舉，肘想往外抵合，數四十九字。</p>
<figure>
<img alt="第十一式圖">
</figure>
<p>前式已畢，將拳翻轉至臍下兩膀，以兩食指大節離臍一二分遠，數一字，拳一緊，數四十九字畢，吞津三口，隨氣送至丹田。</p>
<figure>
<img alt="第十二式圖">
</figure>
<p>吞津吸氣畢，不數字，兩手鬆開，手垂下，復掌齊向上，三端與肩平端時，腳後跟微起，以助其力，如端重物狀，拳亦往上三舉，肘亦往下三紮，兩腳六跌全功。</p>

<h2>第十五章·立八段錦圖說</h2>
<figure>
<img alt="1.兩手托天理三焦圖">
</figure>
<figure>
<img alt="2.左右開弓似射鵰圖">
</figure>
<figure>
<img alt="3.調理脾胃須單舉圖">
</figure>
<figure>
<img alt="4.五勞七傷往後瞧圖">
</figure>
<figure>
<img alt="5.搖頭擺尾去心火圖">
</figure>
<figure>
<img alt="6.背後七顛百病消圖">
</figure>
<figure>
<img alt="7.攢拳怒目增氣力圖">
</figure>
<figure>
<img alt="8.兩手攀足固腎腰圖">
</figure>

<h2>第十六章·坐十二段錦圖說</h2>

<h3>十二段錦總訣</h3>
<p>閉目冥心坐，握固靜思神。叩齒三十六，</p>
<p>兩手抱崑崙，左右鳴天鼓，二十四度聞。</p>
<p>微擺撼天柱。赤龍攪水津，鼓漱三十六，</p>
<p>神水滿口勻，一口分三咽，龍行虎自奔。</p>
<p>閉氣搓手熱，背摩後精門。盡此一口氣，</p>
<p>想火燒臍輪。左右轆轤轉。兩腳放舒伸，</p>
<p>叉手雙虛托。低頭攀腳頻，以候神水至，</p>
<p>再漱再吞津，如此三度畢，神水九次吞，</p>
<p>嚥下汩汩響，百脈自調勻。河車搬運畢，</p>
<p>想發火燒身，舊名八段錦，子後午前行，</p>
<p>勤行無間斷，萬病化為塵。</p>
<p>以上系通身合總，行之要依次序，不可缺不可亂，先要熟記此歌，再詳看後圖及各圖詳註，各訣自無差錯，十二圖附後。</p>
<figure>
<img alt="十二段錦第一圖">
</figure>
<p>閉目冥心坐，握固靜思神。</p>
<p>此圖盤腿而坐，緊閉兩目，冥亡心中雜念。凡坐要豎起脊梁，腰不可軟弱，身不可依靠，握固者，握手牢固，可以閉關卻邪也。靜思者，靜息思慮而存神也。</p>
<figure>
<img alt="十二段錦第二圖">
</figure>
<p>叩齒三十六，兩手抱崑崙。</p>
<p>上下牙齒相叩作響，宜三十六聲，叩齒以集牙內之神使不散也。崑崙即頭，以兩手十指相叉，抱住後頸，即用手掌緊掩耳門，暗記鼻息九次，微微呼吸不宜有聲。</p>
<figure>
<img alt="十二段錦第三圖">
</figure>
<p>左右鳴天鼓，二十四度聞。</p>
<p>記算鼻息出入各九次畢，即放所叉之手，移兩手掌擦耳，以第二指疊在中指上，作力放下第二指，重彈腦後，要如擊鼓之聲，左右各二十四度，兩手同彈共四十八聲，仍放手握固。</p>
<figure>
<img alt="十二段錦第四圖">
</figure>
<p>微擺撼天柱。</p>
<p>天柱即後頸、低頭扭頸，向左右側視，肩亦隨之左右搖擺，各二十四次。</p>
<figure>
<img alt="十二段錦第五圖">
</figure>
<p>赤龍攪水津，鼓漱三十六，神水滿口勻，一口分三咽，龍行虎自奔。</p>
<p>赤龍即舌，以舌頂上顎，又攪滿口內上下兩旁，使水津自生，鼓漱於口中三十六次。神水即津液，分作三次，要汩汩有聲吞下，心暗想，目暗視，所吞津液直送至臍下丹田，龍即津，虎即氣，津下去氣自隨之。</p>
<figure>
<img alt="十二段錦第六圖">
</figure>
<p>閉氣搓手熱，背摩後精門。</p>
<p>以鼻吸氣閉之，用兩掌相搓擦極熱，急分兩手磨後腰上兩邊，一面徐徐放氣從鼻出，精門即後腰兩邊軟處。以兩手磨二十六遍，仍收手握固。</p>
<figure>
<img alt="十二段錦第七圖">
</figure>
<p>盡此一口氣，想火燒臍輪。</p>
<p>閉口鼻之氣，以心暗想，運心頭之火，下燒丹田，覺似有熱，仍放氣從鼻出，臍輪即臍丹田。</p>
<figure>
<img alt="十二段錦第八圖">
</figure>
<p>左右轆轤轉。</p>
<p>曲彎兩手，先以左手連肩圓轉三十六次，如絞車一般，右手亦如之，此單轉轆轤法。</p>
<figure>
<img alt="十二段錦第九圖">
</figure>
<p>兩腳放舒伸，叉手雙虛托。</p>
<p>此勢放開所盤兩腳，平伸向前，兩手指相叉，反掌向上，先安所叉之手於頭頂，作力上托，要如重石在手托上，腰身俱著力上聳，手托上一次，又放下安手頭頂，又托上，共九次。</p>
<figure>
<img alt="十二段錦第十圖">
</figure>
<p>低頭攀足頻。</p>
<p>以兩手向所伸兩腳底作力扳之，頭低如禮拜狀十二次，仍收腳盤坐，收手握固。</p>
<figure>
<img alt="十二段錦第十一圖">
</figure>
<p>以候神水至，再漱再吞津，如此三度畢，神水九次吞，嚥下汩汩響，百脈自調勻。</p>
<p>再用舌攪口內，以候神水滿口，再鼓漱三十六，連前一度，此再二度，共三度畢，前一度作三次吞，此兩度作六次吞，共九次吞，如前嚥下，要汩汩響聲，咽津三度，百脈自周遍調勻。</p>
<figure>
<img alt="十二段錦第十二圖">
</figure>
<p>河車搬運畢，想發火燒身，舊名八段錦，子後午前行，勤行無間斷，萬病化為塵。</p>
<p>心想臍下丹田中，似有熱氣如火，閉氣如忍大便狀、將熱氣運至穀道，即大便處，升上腰間、脊背、後頸、腦後、頭頂上，又閉氣從額上兩太陽耳根、前兩面頰，降至喉下、心窩、肚臍、下丹田止，想是發火燒通身皆熱。</p>

<h2>第十七章·操腹九沖圖說</h2>
<p>操腹運功</p>
<p>佛傳操腹法亦運功也。然此九沖按摩圖略有變化，習內功者，多采之，常用之。若內功已得，不假外運，惟積氣時亦兼用。亦遇有病時，即患處如法運之，最為神妙。</p>
<p>又用按摩操腹法、先運後臥、先臥後運俱可。但運前睡法與運後睡法，總須於前臥身圖中擇一勢睡之，方保無患。</p>
<p>卻病延年法，操揉按摩圖。</p>
<figure>
<img alt="第一圖">
</figure>
<p>以兩手中三指按心窩，由左順揉團轉二十一次。</p>
<figure>
<img alt="第二圖">
</figure>
<p>以兩手中三指，由心窩順揉而下，且揉且走，揉至臍下高骨為度。</p>
<figure>
<img alt="第三圖">
</figure>
<p>以兩手中三指，由高骨處向兩邊分揉而上，且揉且走，揉至心窩，兩手交接為度。</p>
<figure>
<img alt="第四圖">
</figure>
<p>以兩手中三指、由心窩向下直推至高骨二十一次。</p>
<figure>
<img alt="第五圖">
</figure>
<p>以右手由左繞摩臍腹二十一次。</p>
<figure>
<img alt="第六圖">
</figure>
<p>以左手由右繞摩臍腹二十一次。</p>
<figure>
<img alt="第七圖">
</figure>
<p>以左手將左邊軟脅下腰腎處，大指向前，四指托後，輕捏定用右手中三指，自左乳下，直推至腿夾二十一次。</p>
<figure>
<img alt="第八圖">
</figure>
<p>以右手將右邊軟脅下腰腎處，大指向前，四指托後，輕捏定用左手中三指自右乳下，直推至腿夾二十一次。</p>
<figure>
<img alt="第九圖">
</figure>
<p>揉摩畢，遂跌坐，以兩手大指押膝旁、四指拳曲分按兩膝上，兩足十趾亦稍鉤曲，將胸自左轉前，由右歸後，搖轉二十一次畢，又照前自右搖轉二十一次。</p>
<p>前法如搖身向左，即將胸肩搖出左膝前，向即搖伏膝上向右，即搖出右膝，向後即弓腰後撤，總不以搖轉滿足為妙，不可急搖，休使著力。</p>
<p>凡揉腹時，須凝神淨慮，於矮枕平席正身仰臥，齊足屈趾，輕揉緩動，將八圖挨次做完為一度，每逢做時，連做七度畢，遂起坐搖轉二十一次。照此清晨睡醒時做為早課，午申做為午課，晚間臨睡時做為晚課。日三課為常，倘遇有事，早晚兩課，必不可少。初做時一課二度，三日後一課五度，再三日後，一課七度，無論男女皆宜，惟孕者忌之，切記切記。</p>
<p>全圖說</p>
<p>全圖則理備，化生之微，更易見也。天地本乎陰陽，陰陽主乎動靜，人身一陰陽也。陰陽一動一靜也，動靜合宜，氣血合暢，百病不生，乃得盡其天年，如為情欲所牽，永違動靜。過動傷陰，陽必偏勝；過靜傷陽，陰必偏勝。且陰傷陽無所成，陽亦傷也，陽傷而陰無所生，陰亦傷也。既傷矣，生生變化之機已塞，非用法以導之，則生化之源無由啟也。揉腹之法，以動化靜，以靜運動，合乎陰陽，順乎五行，發其生機，神其變化，故能通和上下，分理陰陽，去舊生新，充實五臟，驅外感之諸邪，消內生之百病。補不足，瀉有餘，消長之道，妙應無窮，何須借燒丹藥，自有卻病延年之效耳。</p>
