<header data-type="book">
<h1>養生四要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>萬全</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1576">公元1576年</data></dd></div>
<div><dt>底本</dt><dd>《新刊萬氏家傳養生四要》（<a href="https://ctext.org/library.pl?if=gb&res=3096">北京大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>書之義，屏嗜好，適寒暄，順翕張，調滋滲，該少長，等賢愚，得要者昌，反之舛也。予以為少年丈夫子，宜置一通座隅。夫識者情之導，盛者欲之潢，識不確則逸伺，盛不輯則殞隨，卻顧者卻步，考祥者考終，卮漏而補，鮮不決矣。始予總角，修博事業，會見曾大母、大父大母，几杖弗戒，星星充廬。迨孝廉時，先大夫王母，鶴髮承萊彩，化日融融，春風渙燠，何其恬耶。則豈非葆真孕素，不鑿不搖之所召乎。居有間，再從阿宜稱為玄朗者一大兒，穿貫經墳，初試即馳譽國中，再試食會饌，三試戰棘圍，擬高等暫輟，次亦不失計然才。然皆弱冠駢駢，以衷損逝，青陽不暇，蘭芽蚤折。悲夫！維其時，使蚤通降性之訣，復有長慮，引而掖之，以不鑿不搖，第無論青紫，無論什一，聲音笑貌，至今存可也。予為此懼，行梓是書，遺之家塾。蓋書云：要要養也，予去要要，少也，始之愉愉，其終也戚，識其戚而豫焉，雖不老聃氏之如，尚可籛⿱𥫗堅也如也，老聃天定，籛⿱𥫗堅人定。</p>

<h1>卷之一</h1>
<p>全按：養生之法有四，曰寡欲，曰慎動，曰法時，曰卻疾。夫寡欲者，謂堅忍其性也；慎動者，謂保定其氣也；法時者，謂和於陰陽也；卻疾者，謂慎於醫藥也。堅忍其性則不壞其根矣；保定其氣則不疲其枝矣；和於陰陽則不犯其邪矣；慎於醫藥則不遇其毒矣。養生之要，何以加於此哉。</p>

<h2>寡欲第一</h2>
<p>夫食色，性也。故飲食、男女，人之大欲存焉。口腹之養，軀命所關；不孝有三，無後為大；此屋廬子之無解於任人難也。設如方士之說，必絕谷，必休妻，而後可以長生，則枵腹之瘠，救死不贍，使天下之人墜厥宗者，非不近人情者之惑歟。</p>
<p>孔子曰：少之時，血氣未定，戒之在色。蓋男子八歲，腎氣實，髮長齒更，二八腎氣盛，精氣溢焉。精者，血之液，氣者，精之導也。少之時，氣方盛而易溢。當此血氣盛，加以少艾之慕，欲動情勝，交接無度，譬如園中之花，早發必先痿也。況稟受怯弱者乎。古人三十而娶，其慮深矣。</p>
<p>古男子三十而娶，女子二十而嫁。大衍之數五十，天地之中數也，陽數二十五，陰數二十五。男子三十而娶，因其陽常不足，故益之以五；女子二十而嫁，因其陰常有餘，故損之以五也。是故長男在上，少女在下，則震兌交而為歸妹也。少男在上，長女在下，則艮巽交而為蠱也。歸妹之吉，帝乙以之。蠱之凶，晉候之疾，不可為也。</p>
<p>人能知七損八益，則形與神俱，而盡終其天年，不知此者，早衰之道也。何謂七損八益？蓋七者，女子之數也，其血宜瀉而不宜滿。八者，男子之數也，其精宜滿而不宜瀉。故治女子者，當耗其氣以調其血，不損之則經閉而成病矣。男子者，當補其氣以固其精，不益之則精涸而成疾矣。古人立法，一損之，一益之，制之於中，使氣血和平也。</p>
<p><u>八益丸</u>　男子常服，補氣固精。</p>
<p>熟地黃（酒拌，九蒸九曬，焙乾，忌鐵器，八兩）　黃柏（去皮，鹽水炒褐色，四兩）　知母（去毛皮，四兩）　蓮肉（去心，二兩）　芡實肉（二兩）</p>
<p>共為細末，煉蜜杵千餘下，如梧子大，每服五十丸，空心食前溫酒下，以米膳壓之，忌蘿蔔。</p>
<p><u>七損丸</u>　女子宜服，抑氣調血。</p>
<p>香附米（童便浸三日，一日一換，取起舂爛焙乾，淨一斤）　當歸（酒洗，四兩）　川芎（六兩）</p>
<p>為細末，酒煮糊面為丸，如梧桐子大，每服五十丸，空心食前茴香湯送下。</p>
<p>今之男子，方其少也，未及二八而御女，以通其精，則精未滿而先瀉，五臟有不滿之處，他日有難形狀之疾。至於半衰，其陰已痿，求女強合，則隱曲未得而精先泄矣。及其老也，其精益耗，復近女以竭之，則腎之精不足，取給於臟腑，臟腑之精不足，取給於骨髓。故臟腑之精竭，則小便淋痛，大便乾澀，髓竭則頭傾足軟，腰脊痠痛。屍居於氣，其能久乎。故呂純陽仙翁有詩云：</p>
<p>二八佳人體如酥，腰間伏劍斬愚夫，</p>
<p>分明不見人頭落，暗裡教君髓骨枯。</p>
<p>其男子傷精，病小便淋痛，大便乾澀者，以腎開竅於二陰。前溺塞者，氣病也，後陰病難者，血病也。宜補其氣，則津液行而溺自長；補其血，則幽開通而便自潤也，宜補腎利竅丸主之。</p>
<p>熟地黃（制，四兩）　生地黃　當歸　川芎　白芍（各二兩）　山藥（一兩半）　丹皮（去心）　白茯苓（各一兩）　五味　桂心（各五錢）　人參（七錢）</p>
<p>煉蜜為丸，梧桐子大，每服五十丸，空心食前溫酒下。</p>
<p>男子夢交而泄精，女子夢交而成孕；或有淫氣相感，妖魅為祟，神志昏惑，魂魄飛揚，日久不愈，如顛如狂，乃召巫覡以逐之，抑末矣。苟非得道，如許旌陽薩守堅者，必不能驅治之也。惟務誠子螢火丸，方可除也。</p>
<p>上三條，皆不能清心寡慾之病。</p>
<p><u>螢火丸</u>　主闢疾病，瘟疫惡氣，百鬼邪祟，五兵盜賊。</p>
<p>螢火　鬼箭（削取皮羽）　白蒺藜（各一兩）　雄黃　雌黃（各二兩）　礬石（枯，二兩）　羚羊角　煅灶灰（各一兩半）　鐵錘柄（入鐵處燒焦，一兩半）</p>
<p>為末，以雞子黃及丹雄雞頭一個，毛無間色者，搗和為丸，如杏仁大，樣做作三角，以絳囊盛之，帶在左臂，或掛在戶上，若從軍者繫於腰中，勿離其身。</p>
<p>孟子曰：「養心莫善於寡欲。」寡之者，節之也，非若佛老之徒，棄人倫，滅生理也。構精者，所以續綱常也。寡欲者，所以養性命也。予常集《廣嗣紀要》，一修德，二寡欲。然則寡欲者，其延齡廣嗣之大要乎。予嘗讀《易》，澤上有水曰節。滿而不溢，中雖悅慕，若險在前，心常恐陷，節之時，義大矣哉。若或反之，水在澤下，則以漸滲，泄其涸也，可立而待矣。困於坎中，猶有悅心，困而又困，雖有盧扁，不可治也。生，人所欲也，所欲復有甚於生者乎？死，人所惡也，所惡復有甚於死者乎？惟其溺於聲色之中，蠱惑狂悖，由是而生有不用也，由是而死有不闢也。詩云：「士也罔極，二三其德。」此之謂也。</p>
<p>有人於此，嘗語人曰：欲不可縱，縱欲成災，樂不可極，樂極生哀。可謂知養生矣。至於暗居獨處之時，目有所接，心火焰起，雖有災害，亦莫之顧。故曰寡欲，只在謹獨。</p>
<p>今之養生者曰：心，神之主也，腎者，精之府也，脾者，穀氣之本也。三者交養，可以長生。苟神太煩則困，精太用則竭，谷太傷則減，雖有補益之功，不能勝其旦暮之牿矣。廣成子曰：服藥千朝，不如獨宿一宵。誠哉是言也。</p>
<p>今指利刃語人曰：是可蹈乎？曰：不可。指鴆毒語人曰：是可咽乎？曰：不可。因語人曰：佳麗之色，利於刃也；膏粱之味，毒於鴆也。遠而疏之，不可狎也，則群笑而起。一朝病生，迎醫治之，貺以百金不愛也。噫，曲突徒薪無恩澤，焦頭爛額為上客，其此之謂也。</p>
<p>夫男子十六而精通，至六十四歲而精竭。女子十四而經行，至四十九歲而經斷。初生之時，形體雖具，精血猶未生也，必待乳哺之養，水穀之氣，日生月長。男子十六而精始溢，女子十四而血乃瀉，成之何其難也。男子八八而精竭，女子七七而血盡，敗之何其易耶。夫以十年所生之精血，尚不滿於百半之用。譬諸草木，氣聚於春者，覆敗於秋也，雖欲留之，只有許多分數。況以難成易敗之精血，不知愛惜，反暴棄之，此所以不待八八、七七之期而早斃矣。</p>
<p>交接多，則傷筋，施泄多，則傷精。肝主筋，陰之陽也，筋傷則陽虛而易痿。腎主精，陰中之陰也，精傷則陰虛而易舉。陰陽俱虛，則時舉時痿，精液自出，念慮雖萌，隱曲不得矣。當是時也，猛省起來，遠色斷想，移神於清淨法界，歌舞以適其情，穀肉以養其身，上藥以補其虛，則屋破猶堪補矣。苟不悔悟，以妄為常，乃求興陽之藥，習鑄劍之術，則天柱折，地維絕，雖有女媧氏之神，終不能起塚中之枯骨也。</p>
<p>今人好事者，以御女為長生之術。如九一採戰之法，謂之奪氣歸元，還精補腦。不知渾濁之氣，渣滓之精，其機已發，如蹶張之弩，孰能御之耶。己之精，自不能制，豈能採彼之精氣耶。或謂我神不動，以採彼之氣，不知從入之路何在也，因此而成淋漓者有之。或謂我精欲出，閉而不泄，謂之黃河逆流，謂之牽轉白牛。不知停蓄之處，為疽為腫者有之，非以養生，適以害生也。</p>
<p>古人有見色不動，如鳩摩羅付之受宮人。這是鐵漢，如何學得。必如司馬公之不置姬妾，關雲長之屏美女，劉琦之卻名妹，然後可養此心不動也。堅白不至，而欲自試於磨涅，其有不磷緇者幾希。</p>
<p>項羽喑啞叱吒千人，自廢垓下之變，乃與虞姬對泣。漢高祖見太公置俎上，略無戚容，誅戮功臣，何其忍也。病革之時，乃枕戚姬之膝，而垂涕焉。蘇武在匈奴，吞氈齧雪，所持節旄盡落，而志不屈，何其強也。乃納胡婦生子。雖曰項羽之泣虞姬，恨別也；漢高祖之泣戚姬，防患也；蘇武之納胡婦，為養也。然尤物移人，終是不完。</p>
<p>古人教子，舞刀、舞劍、學文，朝習夕遊焉，所以涵養德性，禁其非心也。故能氣質清明，德業成就，福壽綿長。今之人則不然，所以福德不及古者遠矣。</p>
<p>配匹之際，承宗祀也；婚姻以時，成男女也；夫婦有別，遠情欲也。故身無疴疾，生子賢而壽。今人不知宗祀為重，交接以時，情欲之感，形於戲謔，燕婉之私，朝暮陽臺，故半百早衰，生子多夭且不肖也。故曰：寡欲者，延齡廣嗣之第一緊要也。</p>
<p>《內經》曰：「天食人以五氣，地食人以五味。」谷、肉、菜、果，皆天地所生以食人者也。各有五氣五味，人食之，先入本臟，而後養其血脈筋骨也。故五穀為養，五畜為助，五菜為充，五果為益，不可過也，過則成病矣。</p>
<p>又曰：「陰之所生，本在五味，陰之五宮，傷在五味。」陰者，五臟也。酸生肝，苦生心，甘生脾，辛生肺，咸生腎，此五臟之生，本在五味也。多食酸則傷肝，多食苦則傷心，多食甘則傷脾，多食辛則傷肺，多食鹹則傷腎，此陰之五宮傷在五味也。故五味雖所以養人，多食則反傷人也。</p>
<p>四方之土產不同，人之所嗜，各隨其土之所產也。故東方海濱傍水，其民食魚而嗜咸。西方金玉之域，其民食鮮美而嗜脂肥。北方高陵之域，其民野處而食乳酪。南方卑濕之域，其民嗜酸而食鮒。中央之地，四方輻輳，其民食雜。故五域之民，喜食不同，若所遷其居，變其食，則生病矣。孔子養生之傋，衛生之嚴，其飲食之節，萬世之法程也，何必求之方外哉。</p>
<p>孔子之慎疾，曰：肉雖多，不使勝食氣，尚澹泊也；不為酒困，慎禮節也；不多食，示儉約也。平日之養生者，無所不慎如此，故康子饋藥則不嘗，自信其無疾也。子路請禱則不聽，自知其不獲罪於天也。苟不能自慎，而獲罪於天，雖巫醫何益。</p>
<p>人之性有偏嗜者何如？魯晢嗜羊棗之類是也。然嗜有所偏，必生有所偏之疾。觀其多嗜鷓鴣，常食鳩子者，發皆咽喉之病。使非聖醫知為半夏之毒，急以生薑解之，則二人未必不以所嗜喪其生也。</p>
<p>「飲食自倍，脾胃乃傷」。自倍者，過於常度也。腸胃者，水穀之所藏也。飲食多少，當有分數，苟過多則腸胃狹小不能容受，不能容受則或溢而上出，不上出則停於中而不行。水不行則為蓄水，食不化則為宿食，蓄水宿食變生諸病。邵子曰：「爽口物多終作疾，快心事過必為殃。」豈虛語哉。</p>
<p>因而大飲則氣逆，飲者，酒也，味甘辛苦，氣大熱，苦入心而補腎，辛入肺而補肝，甘入脾和氣血而行榮衛。詩云：「為此春酒，以介眉壽。」酒者，誠養生之不可闕。古人節之於酒器以示警，曰爵者，有差等也；曰鍾者，中也。卮之象觴，云有傷之義，猶舟以載物，亦可以覆物也。若因而大飲，是不知節矣。大飲則醉，醉則肺先受傷。肺主氣，肺受傷則氣上逆而病吐衄也。豈不危乎！豈不傷乎！信哉，顛覆而殺身矣。</p>
<p>酒雖可以陶情，通血脈，然耗氣亂神，爛腸胃、腐脅，莫有甚於此者。故禹惡脂酒，周公作酒誥，衛武公誦賓筵，諄諄乎，戒人不可沉湎於酒也。彼昏不知，壹醉日富。</p>
<p>丹溪云，醇酒宜涼飲。醇酒謂不濃不淡，氣味之中和者也。涼謂微涼也。昔司馬公晚年得一侍妾，問其所能，答曰：「能暖酒。」即是此意。蓋胃喜寒而惡熱，脾喜溫而惡寒。醇酒涼飲，初得其涼以養胃，次得其溫以養脾。人之喜飲熱酒者，善病胃脘痛。此熱傷胃，瘀血作痛也。喜飲冷酒者，善病腹痛，不嗜食而嘔，寒傷脾也。夫寒凝海，惟酒不冰。酒入氣中，無竅孔得出。仲景云：酒客中風，不可服桂枝湯，謂有熱也。夫中風乃宜桂枝之症，而以桂枝為禁，何也？以酒也。日醇於酒，寧無嘔血之病乎。</p>
<p>今人病酒者，與傷寒相似，切不可誤作傷寒治之，反助其熱，亦不可以苦寒之藥攻之。蓋酒性之熱，乃無形之氣也，非汗之何以得散。酒體之水，乃有形之質也，非利之何以得泄乎。故宜以葛花解酲湯主之。所謂上下分消以去其濕也。</p>
<p>葛花　白豆蔻　砂仁（各五錢）　木香（五分）　青皮（三錢）　陳皮　人參　白茯苓　豬苓（各一錢半）　白朮　神麯　澤瀉　乾生薑（各二錢）</p>
<p>為細末，每服三錢，白湯調下，但得發汗，酒病去矣。</p>
<p>酒客病酒，酒停不散，清則成飲，濁則成痰。入於肺則為喘，為咳。入於心則為心痛，為怔忡，為噫。入於肝則脅痛，為小腹滿痛，為嘔苦汁，為目昧不明。入於脾為脹，為腫，為吞酸，為健忘。入於腎為溺澀，赤白濁，為腰痛，為背惡寒。入於胃為嘔吐，為泄痢，為胃脘當心而痛。有諸症疾，種種難名，不亟去之，養虎為患。以十棗湯主之。只一劑根株悉拔，勿畏其峻，而不肯服。書曰：若藥不瞑眩，厥疾弗瘳。</p>
<p>芫花（炒研末）　甘遂末　大戟末（強者三分，弱者折半）　大棗（肥者十個）</p>
<p>水一鍾半，煮棗至八分，去棗入藥末，攪勻服之，得快下清水，其病去矣，不動再作一服，動後糜粥自養。</p>
<p>因而飽食，筋脈橫解，腸癖為痔。飽食者，太過也。食過常分則飽，飽則腸滿，滿則筋脈皆橫，則解散不相連屬矣。腸癖者，泄利也。痔者積也。腸癖為痔，即便血也，近則為痢，久則為脾泄，為腸風，為臟毒矣。</p>
<p>脾者，卑職也，乃卒伍使令之職，以司轉輸傳化者也。故脾謂之使。胃者，倉廩之腑，乃水穀之所納出，故胃謂之市。人以穀氣為主者，脾胃是也。脾胃強則穀氣全，脾胃弱則穀氣絕。全谷則昌，絕谷則亡。人於脾胃可不知所養乎。養脾胃之法，節其飲食而已。</p>
<p>脾胃者，土也。土寄旺於四季，脾胃寄養於四臟。故四時非土，無以成生長收藏之功；四臟非土，無以備精氣筋脈之化。然有陽土有陰土者，陰土坤也，萬物之所歸藏也，陽土艮也，萬物之所以成始成終也。陰土陽土非戊己之謂也，陽土備化，陰土司成。受水穀之入而變化者，脾胃之陽也，散水穀之氣，以成榮衛者，脾胃之陰也。苟得其養，無物不長，苟失其養，無物不消，此之謂也。</p>
<p>古人制食，早曰昕食，晏曰旰食，夕曰晡食，謂之三餐。三餐之外不多食也。孫真人曰：早晨一碗粥，飯莫教人足，恐其過飽，傷脾胃也。</p>
<p>《周禮》曰：「樂以侑食。」故有初飯、亞飯、三飯、四飯之官。脾好樂，管絃之音一通於耳，脾即磨矣。叔和云：「磨谷能消食」。是以聲音皆出於脾。夏月戒晚食者，以夜短難消化也。</p>
<p>五味稍薄，則能養人，令人神爽，稍多，隨其臟腑各有所傷。故酸多傷脾，辛多傷肝，咸多傷心，苦多傷肺，甘多傷腎，此乃五行之理。初傷不覺，久則成患也。</p>
<p>古人食必兼味者，相因欲其和也。無放飯無流歠者，節之禮，謹防其過也。凡人食後，微覺胸中不快，此食傷也。即服消導之劑，以助脾之傳化，不可隱忍，久則成積矣。加味二陳湯主之。</p>
<p>橘紅　白茯苓（各七分）　半夏（制，一錢）　炙甘草（三分）　川芎　蒼朮　白朮（各八分）　山楂肉（一錢半）　砂仁（五分）　神麯（另研末炒，七分）　香附（一錢）　上除麥櫱（炒為末另包）</p>
<p>余藥細切，水二盞，姜三片，大棗三枚，煎一鍾去渣，調上神麯、麥芽末服之。</p>
<p>凡有喜嗜之物，不可縱口，常念病從口入，惕然自省。如上古之人，飢則求食，飽則棄余可也。苟不知節，必饜足而後止，則氣味之偏，害其中和之氣。傳化之遲，斯成菀莝之積矣，為闢為滿為痛。縱一時之欲，貽終身害，善養生者，固如是乎。即當明以告醫，攻去之可也。宜分冷積熱積，用原物湯，攻而去之。</p>
<p>如傷肉食麵食，辛辣厚味之物，此熱積也，宜三黃枳朮丸。</p>
<p><u>原物湯</u></p>
<p>即以所傷之物，同韭菜搗爛作團，火燒存性，取起研細，煎湯作引，故曰原物湯，又曰溯源湯，送三黃枳朮丸。</p>
<p>黃芩（酒洗）　黃連（酒洗）　大黃（濕紙包煨焙乾，各一兩）　神麯　橘皮　白朮（各七錢半）　枳實（麩炒，五錢）</p>
<p>為細末，湯浸蒸餅為丸，如綠豆大，每服五十丸，食前服。</p>
<p>如傷瓜桃生冷冰水之類，此冷積也，宜木香清積丸。即以所食生冷物，用韭菜同搗作丸，如前法煎下。</p>
<p><u>木香清積丸</u></p>
<p>木香（去苞）　益智仁（各二錢）　青皮　陳皮（各三錢）　三稜（煨）　莪朮（煨，各五錢）　牙皂（燒存性，一錢半）　巴豆肉（醋煮乾，另研，五錢）</p>
<p>為末，醋打麵糊為丸，綠豆大，每服二十丸至三十丸，食前服。</p>
<p>凡人早行，宜飲醇酒一二杯，或食糜粥，不可空腹而出者。昔三人晨行，一人飲酒，一人食飯，一人空腹。後空腹者死，食飯者病，飲酒者無恙。</p>
<p>凡辛熱、香美、炙煿、煎炒之物，必不可食，多食令人發癰。《內經》云：「膏粱之變，足生大疔。」足，太過也，大疔，疽之最毒者。凡人發疽，如麻如豆，不甚腫大。惟根腳堅硬如石，神昏體倦，煩躁不安，食減嗌乾，即疔毒也。其外如麻，其里如瓜，宜真人活命散主之，多多益善。</p>
<p>瓜蔞根（一錢）　甘草節　乳香（各一錢）　穿山甲（蛤粉炒，三大片）　赤芍　白芷　貝母（各一錢）　防風（七分）　沒藥　皂角（各五分）　歸尾（酒洗）　金銀花（三錢）　大黃（酒煨，一錢）　木鱉肉（八分）</p>
<p>用金華酒二盞煎服，服藥後再飲酒數杯，以助藥力。體重者加黃耆一錢，減大黃五分，大便溏者勿用大黃。</p>

<h1>卷之二</h1>

<h2>慎動第二</h2>
<p>《易》曰：「吉凶悔吝生乎動。」動以禮則吉，動不以禮則凶。君子修之吉，小人悖之凶。悔者吉之萌，吝者凶之兆。君子修之吉也，小人悖之凶也。</p>
<p>周子曰：「君子慎動。」養生者，正要在此，體認未動前是甚麼氣象，到動時氣象比未動時何如？若只一樣子，便是天理，若比前氣象少有差訛，便是人慾，須從此處慎將去卻，把那好生惡死的念頭，莫要一時放空才好。</p>
<p>慎動者，吾儒謂之主敬，老氏謂之抱一，佛氏謂之觀自在，總是慎獨工夫。獨者，人所不知，而己所獨知之處也。方其靜也，即喜怒哀樂未發時，所謂中也。與天地合其德，與日月合其明，與四時合其序，與鬼神合其吉凶。君子於此，戒慎乎其所不睹，恐懼乎其所不聞，不使離於須臾之頃，而違天地日月四時鬼神也。及其動也，正是莫見莫顯之時，如喜怒哀樂，發開中節，這便是和。和者，與中無所乖戾之謂也。略有不和，便是不中，其違於天地日月四時鬼神遠矣。到此地位，工夫尤難，君子所以尤加戒謹於獨也。故曰君子而時中。</p>
<p>廣成子曰：「必清必靜，無勞汝形，無搖汝精，乃可長生。」莊子曰：「夫失性有五，一曰五色亂目，使目不明；二曰五聲亂耳，使耳不聰；三曰五臭熏鼻，困惱中顙；四曰五味濁口，使口厲爽；五曰趣心滑心，使心飛揚。」此五者皆性之害也。</p>
<p>人之性常靜，動處是情，人之性未有不善，乃若其情，則有不善矣。心純性情，吾儒存心養性，老氏修心煉性，佛氏明心見性，正養此心，使之常清常靜，常為性情之主。</p>
<p>《悟真篇》云：西山白虎正猖狂，東海青龍不可當，兩手捉來令死鬥，化成一塊紫金霜。謂以此心降伏性情也。</p>
<p>人身之中，只有此心，便是一身之主，所謂視聽言動者，此心也。故心常清靜則神安，神安則七神皆安。以此養生則壽，歿世不殆。心勞則神不安，神不安則精神皆危，便閉塞而不通，形乃大傷。以此養生則殃。</p>
<p>心之神發乎目，則謂之視；腎之精發於耳，則謂之聽；脾之魂發於鼻，則謂之臭；膽之魄發於口，則謂之言。是以儉視養神，儉聽養虛，儉言養氣，儉欲養精。</p>
<p>五色令人目盲者，目淫於色則散於色也。五聲令人耳聾者，耳淫於聲則散於聲也。五味令人口爽者，口淫於味則散於味也。五臭令人鼻塞者，鼻淫於臭則散於臭也。是故古人目不視惡色，耳不聽淫聲者，恐其神之散也。</p>
<p>暴喜傷心，暴怒傷肝，暴恐傷腎，過哀傷肺，過思傷脾，謂之五傷。</p>
<p>久視傷血，久臥傷氣，久坐傷肉，久立傷骨，久行傷筋，謂之五勞所傷。</p>
<p>視過損明，語過損氣，思過損神，欲過損精，謂之四損。</p>
<p>人有耳目口鼻之欲，行住坐臥之勞，雖有所傷，猶可治也。惟王志之發，其烈如火，七情之發，無能解於其懷。此神思之病，非自己樂天知命者，成敗利鈍，置之度外，不可治也。</p>
<p>喜傷心，恐勝喜；恐傷腎，思勝恐；思傷脾，怒勝思；怒傷肝，悲勝怒；悲傷肺，喜勝悲。所謂一臟不平，所勝平之，故五臟更相平也。</p>
<p>百病主於氣也，恐則氣上而嘔血，喜則氣緩而狂笑，悲則氣消而息微，思則氣結而神困，怒則氣下而溲便遺。凡此類者，初得病也，積久不解，或乘其所勝，或所不勝者乘之，或所勝者反來侮之，所生者皆病也。故曰：他日有難名之疾也。</p>
<p>凡此五志之病，《內經》有治法，但以五行相勝之理治之。故悲可治怒，以愴惻苦楚之言感之。喜可以治悲，以謔浪褻狎之言娛之。恐可以治喜，以迫蹙死亡之言怖之。怒可以治思，以汙辱欺罔之言觸之。思可以治恐，以慮彼思此之言奪之。凡此五者，必詭詐譎怪無所不至，然後可動人之耳目，易人之視聽。若胸中無材，負性使氣，不能體此五法也。</p>
<p>人之怒者，必因其拂逆而心相背，受其汙辱，而氣相犯，及發則氣急而上逆矣。其病也，為嘔血，為飧泄，為煎厥，為薄厥，為濕厥，為胸滿脅痛，食則氣逆而不下，為喘渴煩心，為消痹，為耳暴閉，筋縱；發於外，為癰疽。宜四物平肝湯主之：</p>
<p>川芎　當歸（各五分）　白芍（一錢）　生地黃（三分）　甘草（一錢）　梔子仁（炒，七分）　人參（五分）　香附米（童便煮，焙焦黑，杵碎，七分）　青皮（五分）　瓜蔞根（五分）　阿膠（炒，三分）</p>
<p>水一盞，煎八分，食遠服。</p>
<p>人之喜者，偶有非常之遇，乍得非常之福乃發也。喜則志揚氣盈，意不在人而緩漫矣。其病也，為笑不休，為毛革焦，為陽氣不收，甚則為狂。宜用黃連安神丸主之：</p>
<p>黃連（一兩）　炙甘草（五分）　梔子仁（炒，五分）</p>
<p>共杵和丸如彈子大，每服一丸，麥冬湯下。</p>
<p>人之思者，謀望之事未成，探索之理未得，乃思也。思則心存不放，念久難釋，而氣結不行矣。其病也，為不嗜食，口中無味，為嗜臥，為躁擾不得眠，為心下痞，為昏瞀，為白淫，女子不月，為長太息，為健忘。宜加減二陳湯主之：，陳皮（去白）　白茯苓（各一錢）　半夏（制，五分）　甘草（三分）　香附（制，一錢）　蒼朮（米泔浸，七分）　貝母　川芎　青皮（各五分）</p>
<p>水一盞，生薑三片，煎八分，食遠服。</p>
<p>人之悲者，或執親之喪，而慘切於中，或勢位之敗，而慨嘆於昔，乃悲也。悲則哽咽之聲不息，涕泣之出不止，而氣消矣。其病也，為目昏，為筋攣，為肉痹，為胸中痛。男子為陰縮，為溺血；女子為血崩。宜加味四君子湯主之：</p>
<p>人參（五分）　白朮（五分）　白茯苓（五分）　炙甘草（五分）　黃耆（炙，三分）　麥冬（七分）　桔梗（三分）</p>
<p>水一盞，大棗三枚，煎七分，食後服。</p>
<p>人之恐者，死生之際，軀命所關，得喪之時，榮辱所繫，乃恐也。恐則神色俱變，便溺遺失而氣下矣。其病也，為心跳，為暴下綠水，為面熱膚急，為陰痿，為目失明，為舌短，為聲喑，為骨痠，破睏脫肉。宜定志丸主之：</p>
<p>熟地黃（一兩）　人參（五錢）　遠志肉　白茯苓（各七錢）　酸棗仁　桂心　柏子仁（去殼，各三錢）</p>
<p>共為末，煉蜜丸，如梧桐子大，每服三十丸，空心食前溫酒下。</p>
<p>人之好動者，多起於意，遂於必，留於固，成於我。意之初，猶可慎也，至於必則無所忌憚矣。故曰：人悖之凶者，小人而無忌憚也。</p>
<p>古硯銘云：筆之壽以日計，墨之壽以月計，硯之壽以世計。豈非靜者壽而動者夭乎。《內經》曰：「陰精所奉，其人壽；陽精所降，其人夭」。抑亦動靜之謂歟。</p>
<p>湍水無縱鱗，風林無寧翼，動也。動而不止，非聚福之道也。</p>
<p>地下有山，謙，夫地靜也。山在地下，安於所止，而亦同歸於靜，故曰謙。謙者，盈之反也。山在地下，則為剝，過於盈也。故曰：天道惡盈而好謙，地道虧盈而流謙，鬼神禍盈而福謙。</p>
<p>震：動也。艮，止也。震艮者，動靜之反也。震，有𡄼𡄼之象，慎也；笑言啞啞，不喪匕鬯，慎之效也。艮：其背，不獲，其身，行其庭，不見其人。動亦靜也，所以能無咎也。</p>
<p>慎動者，匪真愛身，所以愛親。身體髮膚，父母全而生之，子全而歸之，孝也。魯子曰：「戰戰兢兢，如臨深淵，如履薄冰。」慎之至也，見其平日保身之難也。而今而後，吾知免夫，至於歿而後，幸其保之全焉。</p>
<p>慎動主靜之用，主靜慎動之體。動靜不失其常，艮之義也。瞽者，天下之至明也；聾者，天下之至聰也。其心專一，故善視者莫如瞽，善聽者莫如聾也。觀此則知養生之道矣。</p>
<p>人之學養生，日打坐，曰調息，正是主靜工夫。但到打坐調息時，便思要不使其心妄動，妄動則打坐調息都只是搬弄，如何成得事。孟子曰：「夭壽不貳，修身以俟之。」這便是長生秘訣。</p>
<p>打坐，正是養生一件事。養生者，養其性情也。打坐者，收斂此心，不使放去也，豈是呆坐。昔達摩面壁九年，目無所視，耳無所聞，口無所語，此心常在腔子，無思無為，不塵不垢，所以得成證果。承光立雪不動，乃見善學達摩處。</p>
<p>古仙教人打坐說：垂其簾，塞其兌。人學打坐時，只說垂簾者，微瞑其目，不可緊閉也；塞其兌者，閉口勿吐氣，但令鼻呼吸而已。曾不知垂其簾者，教人勿視也，塞其兌者，教人勿語也。從打坐時做起，做得熟時，雖不打坐，此目常不妄視，此口常不妄語，自然習與性成，此心自不妄動也。今之學長生者，到打坐時，瞑目閉口，放下打坐，依舊妄視妄語，如何收得此心住。更有一等方士，靜靜打坐做科範，心下卻東西南北走去了，只當棄下個死屍，兀坐在這裡。人一身之間，目之於色，耳之於聲，口之於味，心之於思，紛紛擾擾，那得一時休息。到得夜來，恩愛之纏，邪辟之私，又無一念自在。古仙照見世人，苦被魔障，所以設法度人，教人打坐，可以長生。此心若是常清常靜，雖日夜不眠，也當打坐，若是不能清靜，亦似不能打坐。</p>
<p>吾常學打坐，內觀其心，是甚麼樣子，只見火焰起來，收煞不住。乃學古人投豆之法，以黑白二豆分善惡。不問子後午前，但無事便靜坐一時，只是心下不得清靜涼快。卻又將一件事，或解悟經義，或思索詩文，把這心來拘束，才得少定。畢竟繫著於物，不能脫灑。到今十年，稍覺得心下涼快一二分，雖不拘束他，自是收煞得住。</p>
<p>有一方士嘗教人以打坐法，坐定以目觀臍，似一團規，霎時規中現出景象，如春光明媚，以鼻徐徐吸之，舌齶咽之，下於重樓，直下丹田，如一輪紅日出北海，曆尾閭，循脊直上泥丸，自然神清氣爽。此法子，亦是守中，做得熟時，也有受用。但道無存，相存相是，妄無作為，作為是惟據其存想景象出入升降，如夢如幻，不特動其心，反把心來沒死了。</p>
<p>學長生者，皆自調息，為人道之門。命門者，息之根本也；脈者，息之橐禽也；口鼻者，息之門戶也；心者，息之主也。有呼吸之息，有流動之息，有止息之息，而皆統於腎焉。動則息出乎脈，靜則息入於腎，一動一靜，心實主之。智者動靜皆調，昧者只調其靜，至於動，息則亂矣。故曰：今夫蹶者趨者，是氣也，而反動其心。</p>
<p>《易》曰：天行健，君子以自強不息。夫健者，陽之德也。乾為天，純陽之精，至大至剛，故一日一夜，行三百六十五度，二百三十五分，強其可見者，日月之差分。四時之行，萬物之生長收藏，如環無端，未嘗一息之停。君子體之自強，以致其剛大之氣，終日乾乾夕陽，若與天同運。一夕尚存，此志不宜少懈。詩曰：「維天之命，於穆不已。」蓋曰天之所以為天也，於乎不顯文王之德之純，純亦不已。純亦不已者，緝熙敬止。</p>
<p>《易》曰：「何思何慮。」《書》曰：思作睿。君子非不恩也，思無邪，思無斁，放能至於睿，此緝熙敬止之功也。不識不知，順帝之則，文王之德之純也。佛家善知識者，預知舍宇。只緣此心不妄動，養得心之本體，虛靈不昧，自然明睿，所照無所障礙。</p>
<p>今人靜坐，正一件吃緊處，只怕外若靜而中未免攪攏者。六祖盧能既參五祖受衣缽，卻又去從獵者逐獸，正是吃緊為人處，外若攪擾，其中卻靜。嘗聞南嶽，昔有住山僧，每夜必秉燭造檀林，眾僧打坐者數百人，必拈竹篦痛箠之，或袖中出餅果置其前，蓋有以窺其中之靜不靜，而為之懲勸也。人能嘗自懲勸，則能自靜。故曰：心為嚴師。</p>
<p>《素問》道經曰：至真之要，在乎天玄。天玄者，先天太玄之真息，渾淪淵然，何思何為。形既生矣，神發智矣，天玄之息泄矣。人能忘嗜欲，定喜怒，一念不動，如在母腹之時，凝神以養其氣，閉氣以固其精，使精氣自結，名曰聖胎。天玄之息，自歸其間。故曰：還元至真之要也。</p>
<p>人一呼一吸為一息，一日一夜凡百刻，計一萬三千五百息。人身之脈，共八百一十丈，一呼脈行三寸，一吸脈行三寸，一息共行六寸，一日一夜五十周於身。自子初刻，至巳終刻，行陽二十五度；自午初刻，至亥終刻，行陰二十五度。此自然流動之息，與天地同運者也。故養生者，順之則昌，逆之則亡。每刻至一百三十五息。</p>
<p>息者氣也，人物之生，莫不有竅為之出入也。惟口鼻之氣，有出有入，人皆知之，若目之氣泄於視，耳之氣泄於聽，前後二陰之氣泄於便溺，玄府之氣泄於沛空，人則不知也。故儉其視聽，節其飲食，避其風寒，此調氣之要也，豈特調其呼吸而已哉。</p>
<p>善養生者，必知養氣。能養氣者，可以長生。故調氣者，順其氣也，服其氣者，納其氣也，伏其氣者，閉其氣也，皆曰養氣。</p>
<p>今人服氣者則不然，乃取童男童女，呵其氣而咽之，此甚可嘆。殊不知天地之氣，從鼻而入，水穀之氣，從口而入。利則養人，乖則害人。此等服氣之法，乃是一團濁氣，其養人乎？其害人乎？可以自喻矣。</p>
<p>養生之訣云：調息要調真息。真息者，胎息也。兒在胎中，無吸無呼，氣自轉運。養生者，呼吸綿綿，如兒在胎之時，故曰胎息。</p>
<p>人之空竅，元氣之門戶也。塞其竅則病，閉其竅則死。凡胎生卵生者，初在胎谷中，空竅閉塞，何以不死？曰：緣這團真氣，伏藏於中，長養形髓，空竅未開不泄，及其生也，啼聲一發，則真氣泄而百竅開矣。</p>
<p>人之真氣，伏藏於命門之中，即火也。聽命於心，以行君火之令。故主安則捍吸與天同運，不失其常。主危則相火衰息，逆賁而死至矣。故曰：</p>
<p>南山猛虎一聲雷，撼動乾坤橐籥開，</p>
<p>驚起老龍眠不得，轟騰直上九天來。</p>
<p>方士教人，行打坐調息工夫，子前進陽火，午後退陰符，卯酉為沐浴，則不行。此不知天地之化，陰陽之理，惑於傍門之教，以偽亂其真也。入藥鏡云：一日內十二時，意所到皆可為，何曾分子午卯酉也。《悟真篇》云：莫向天邊尋子午，身中自有一陽生。則一念動處，便是活子時，何必夜半後為子時耶。動處便是陽火，意動過後便是陰符。陰陽者，動靜之謂，時行則行，進陽火也，時止則止，退陰符也。然所謂進退者，即一時事，祖師不肯說破與人，要人自悟。我今妄猜云：陰陽者，善惡之謂也。一念之善，此陽火發也，即其所發而推廣之，謂之陽火。一念之惡，此陰符動也，即其方動而屏去之，謂之退陰符。陽火常進，則所存皆善，日進於高明，便是遷仙道。陰符不退，則所存皆惡，日隱於汙下，便是入鬼道。卯酉為沐浴，卯者，陽之中也，酉者，陰之中也，教人用工無太過，無不及，至於中而止。日中則亥，月盈則虧，古人養生，亦以日月沐浴之謂也。</p>
<p>目者，神之舍也，目宜常瞑，瞑則不昏。發者，血之餘也，發宜常櫛，櫛則不結。齒者，骨之標也，齒宜數叩，叩則不齲。津者，心之液也，津宜常咽，咽則不燥。背者，五臟之附也，背欲常暖，暖則肺臟不傷。胃者，谷之倉廩也，腹欲常摩，摩則谷不盈。頭者，清陽之會，行住坐臥，風雨不可犯也，犯則清邪中上竅，而頭頂之疾作矣。足者，濁陰之聚，行住坐臥，水濕不可犯也，犯則濁邪中下竅而腰足之疾作矣。養生者，宜致思焉。</p>

<h2>卷之三</h2>

<h2>法時第三</h2>
<p>按《內經》曰：聖人春夏養陽，秋冬養陰，以從其根。故與萬物沉浮於生長之門。王太僕注云：春食涼，夏食寒，以養於陽；秋食溫，冬食熱，以養於陰。</p>
<p>春三月，此謂發陳，天地俱生，萬物以榮，夜臥早起，廣步於庭，披髮緩形，以使志生，生而勿殺，予而勿奪，賞而勿罰。此春氣之應，養生之道也。</p>
<p>夏三月，此謂蕃秀，天地氣交，萬物華實，夜臥早起，無厭於日，使志無怒，使華英成實，使氣得泄，若所愛在外。此夏氣之應，養長之道也。</p>
<p>秋三月，此謂容平，天氣以急，地氣以明，早臥早起，與雞俱興，使志安寧，以緩秋刑，收斂神氣，使秋氣平，無外其志，使肺氣清。此秋氣之應，養收之道也。</p>
<p>冬三月，此謂閉藏，水冰地坼，無擾乎陽，早臥晚起，必待日光，使志閒逸，潛伏隱括，去寒就溫，無泄皮膚，使氣亟奪。此冬氣之應，養藏之道也。</p>
<p>凡天地之氣，順則和，競則逆，故能致災咎也。所以古先哲王，立四時調神之法，春則夜臥早起，廣步於庭，披髮緩形，以順其發陳之氣，逆則傷脾矣。夏則夜臥早起，無厭於日，使氣得泄，以順其蕃秀之氣，逆則傷心矣。秋則早起，與雞俱興，收劍神氣，以順其容平之氣，逆則傷肺矣。冬則早臥晏起，必待日光，無泄皮膚，以順其閉藏之氣，逆則傷腎矣。</p>
<p>陰陽和則氣平，偏勝則乖，乖便不和，故春夏養陽也，濟之以陰，使陽氣不至於偏勝也；秋冬養陰也，濟之以陽，使陰氣不至於偏勝也。嘗觀孔子，當暑袗絺綌，必表而出之，冬則狐貉之厚以居。公都子曰：冬日則飲湯，夏日則飲水。其法天時可見矣。</p>
<p>月令，春食麥與羊，夏食菽與雞，秋食麻與犬，冬食黍與彘者，以四時之食，各有所宜也。又春木旺，以膳膏香助胃；夏火旺，以膳膏腥助肺；秋金旺，以膳膏臊助肝；冬水旺，以膳膏羶助心。此所謂因其不勝而助之也。</p>
<p>自上古聖神，繼天立極，裁成輔相，以贊天地之化育，以左右民者。其見於經，在《易》之復，先王以至日閉關，商旅不行，安靜以養其陽，使之深潛固密而無所泄也。在《詩》之七月，二之日鑿冰沖沖，三之日納於凌陰，四之日其早獻羔祭韭，謂藏水發冰以節陽氣之盛，使厲氣不降，民不夭折也。在《禮》月令冬至則君子齋戒，處必掩身，身欲寧，去聲色，禁嗜欲，安形性，事欲靜，以待陰陽之所定。在夏至，君子齋戒，處必掩身，毋操擾，止聲色，毋或進薄滋味，毋致和，節其嗜欲，定心氣，聖人之尤民如此。故逆天違時者不祥，縱欲敗度者有殃。</p>
<p>《禮》仲之月，春雷先發聲。先雷三日，奮木鐸以令兆民曰：雷先發聲，有不戒其容止者，生子不肖，必有凶災。故孔子迅雷風烈必變，敬天之威也。凡夫婦同寢，如遇迅雷光電，驟風暴雨，日月薄蝕，即當整衣危坐待旦，不可心志蠱惑，敗度敗禮，不特生子不肖，亦今夭壽。</p>
<p>《禮》春夏教以禮樂，秋冬教以詩書，亦春夏養陽，秋冬養陰之法也。蓋春生夏長，乃陽氣發泄之時，教以禮樂者，歌詠以養其性情，舞蹈以養其血脈，亦養陽之道也。秋冬收藏，乃陰氣收斂之時，教以詩書者，優遊以求之，涵詠以體之，亦養陰之道也。</p>
<p>《內經》云：「冬不按蹺，春不鼽衄。」夫按摩蹺引，乃方士養生之術。冬月固密之時，尚不可行以擾乎陽，使之極泄，則有春鼽衄之疾。況以酒為漿，以妄為常，水冰地坼，醉以入房，暴泄其陽者乎。斯人也，春不病溫，夏不病飧泄，秋不病瘧痎者，未之有也。</p>
<p>今人春月喜服過藥利數行，謂之春宣。蓋宣者布散之義，春月上升之氣，或因寒氣所折，鬱而不發，則宜用升陽之劑，或吐劑，以助其發生之令，故謂之宣。若無寒折之變，則宣劑亦不必服也。豈可下之，以犯養生之禁，以逆上升之氣也耶。此春行秋令，肝必受傷，至秋乃發病也。</p>
<p>人到春時，多生瘡疥者，此由冬月不能固密皮膚，使汗易泄，寒氣浸之，營血凝滯，至春發陳，變生瘡疥。宜加減升麻和氣飲主之。</p>
<p>升麻　葛根　赤芍　甘草　當歸　川芎　防風　白蒺藜（炒）　荊芥　生地黃　何首烏（等分）</p>
<p>水盞半，煎八分，溫服。乾燥加酒、紅花、瓜蔞根。膿水不幹，加黃耆、白芷。</p>
<p>有人但到春來便生瘡者，此名風瘡。蓋肝者風木也，肝藏血，欲為膿血，此有宿毒，故年年發，非新病也。宜服消毒丸，外用灸法，則永不發矣。</p>
<p>烏梢蛇（乾者一條，用酒浸去皮骨，焙取末，一兩，酒留作糊為丸）　胡麻（炒，一兩）　苦參（酒浸，三兩）　白蒺藜（炒）　牛蒡子（炒，各一兩半）</p>
<p>共為細末，用浸蛇酒煮，麵糊為丸，如梧桐子大，每服五十丸，酒送下，此方治梅瘡、癬及癩瘡極效。</p>
<p>灸風池二穴，曲池二穴，各灸三壯。</p>
<p>春溫夏熱，秋涼冬寒，此四時之氣也。春雖溫多風，棉衣不可太薄。秋雖涼而寒將至，衣褐宜早漸加也。</p>
<p>曾晢云：暮春者，春服既成。《豳風》云：九月授衣。其順天時，修人事，故宜如此。</p>
<p>八風者，天之號令也。常以八節，太乙移宮之日，必有暴風雨應之。太乙常以冬至之日，居葉藝之宮，在坎正北，名大剛風。立春日移居天留，在艮東北，名凶風。春分移居倉門，在震正東，名嬰兒風。立夏移居陰樂，在巽東南，名弱風。夏至移居天宮，在離正南，名大弱風。立秋移居玄委，在坤西南，名謀風。秋分移居倉果，在兌正西，名剛風。立冬移居新落，在乾西北，名折風。其風雨之應，或先或後，自其所居之方來，為正風，主生長萬物。自其所沖之方來，為虛邪，乃能傷人成病也。晝發民多病，夜發民少病。何以然？蓋夜民皆臥，故聖人避此虛風之邪，如避矢石，所以邪弗能害也。</p>
<p>四時之氣，如春風、夏暑、秋溫、冬寒，皆能傷人成病，不但八風也。君子慎之，起居有節，食色不傷，雖有賊風苛毒，不能傷也。</p>
<p>邪之所湊，其氣必虛，如木腐而蠹生，堤穴而水入。以身之虛，逢天之虛，又直上弦前、下弦後，月廓之空，重感於邪，謂之三虛。如是病者，微則篤，盛則死矣。</p>
<p>如春應溫而反寒，夏應熱而反涼，秋應涼而反熱，冬應寒而反溫，此天地殺氣，非正令也。尤宜慎之，以免瘟疫之病。</p>
<p>凡大寒大熱，大風大霧，皆宜避之，不可恃其強健而不畏也。《詩》曰：畏天之威，於時保之。此之謂也。</p>
<p>人皆曰：夏月宜食寒，冬月宜食熱。殊不知太熱則傷胃，太寒則傷脾。夏月伏陰在內，如瓜、桃、冰之類，不可多食，恐秋生瘧痢之疾。冬月伏陽在內，如辛燥炙煿之物，不可多食，恐春目痛，秋生熱厥。所以古人四時節其飲食，適其寒溫，熱無灼灼，寒無滄滄也。</p>
<p>修養家嘗曰：火候。火者，純陽之陰氣也；候者，陰氣升降之候。曰火候者，謂陰氣之升降不可得見，觀於七十二候，斯可見矣。蓋欲於此求之，以一年為一月，朔後陽漸長，至望而極，望後陽漸消，至晦而極。又以一月為一日，子後一陽生，至巳而極，午後一陽消，至亥而極。又以一日為一時，初初刻，陽之長也，至初四刻而極。正初刻，陽之消也，至正四刻而極。又以一時為一息，呼出陽之長也，吸入陽之消也。故天地之大，自其不變者觀之，只一息耳，自其變者而觀之，則流散無窮矣。</p>
<p>春月無暴寒冰雪，人有病熱者，勿誤作傷寒治之。此因冬傷於寒，至春發為溫病也。仲景云：「太陽病，發熱而渴，不惡寒者為溫病」。可見溫病則不惡寒而渴，傷寒則不渴而惡寒也，以此辨之。春溫病，宜用：</p>
<p><u>易老九味羌活湯</u></p>
<p>羌活　防風　蒼朮（各一錢半）　川芎　白芷　生地黃　黃芩　甘草（各一錢）　細辛（三分）</p>
<p>渴加知母，水煎服。此藥不犯禁忌，乃解利之神方也。</p>
<p>夏月有病，似外感而飧泄者，水穀不化，相雜而下，或腹痛，膿血稠黏，此由春傷於風，至夏病泄也。其水穀不化者，宜用良方神朮散：</p>
<p>蒼朮（二錢）　川芎　藁本（各七分半）　羌活（五分）　炙甘草　細辛（各三分）</p>
<p>姜三片，水盞半，煎八分，要汗加蔥白。</p>
<p>如膿血稠黏者，用胃風湯：</p>
<p>人參　白茯苓　川芎　當歸　白芍　白朮（各等分）　粟米（一撮）</p>
<p>水煎。</p>
<p>人於夏後，有病霍亂吐泄，此由內傷生冷得之，與上證不同，宜用六和湯主之：</p>
<p>人參　半夏　杏仁（微炒去皮尖）　炙甘草　砂仁（各五錢）　白茯苓　藿香　木瓜　白扁豆（炒，各二錢）　厚朴（薑汁炒，一錢半）　香薷（二錢）　姜（三片）</p>
<p>水二盞，煎服。</p>
<p>人於夏月，日在烈日之中，奔走勞役得病，此動而得之，謂之中熱。宜豬苓湯合益元散服之：</p>
<p>香薷（一錢）　白朮　炙甘草（各一錢）　扁豆（炒，一錢）　豬苓　澤瀉　白茯苓　厚朴（薑汁炒，各五分）</p>
<p>水煎，去渣入一元散二錢，調服。</p>
<p><u>益元散</u></p>
<p>白滑石（水飛過，六兩半）　粉草（一兩）</p>
<p>共再篩籮勻聽用。</p>
<p>人於夏日，納涼於高堂廣廈之中得病者，此病靜而得之，謂之中暑。宜用清暑益氣湯主之：</p>
<p>升麻　黃耆　蒼朮（各一錢）　神麯（炒）　人參　白朮　陳皮（各五分）　黃柏（炒）　炙甘草　麥門冬（去心）　歸身（各六分）　葛根（三分）　五味（九粒）　澤瀉（五分）　青皮（二分）</p>
<p>水煎服。仲景太陽中暍症，禁汗、下，溫針，無有治方，宜用此方。</p>
<p>孫真人制生脈散，令人夏月服之。東垣云：「夏月用生脈散，加黃耆、甘草，令人有力。」</p>
<p>人參　五味　麥門冬（等分）　加黃耆　炙甘草</p>
<p>水煎，夏月時時代湯服之。</p>
<p>有人春末夏初頭痛，腳軟，飲食少，體熱者，名曰注夏。屬陰虛元氣不足病，宜用補中益氣湯，去柴胡、升麻，加炒黃柏、白芍。更早服大補陰丸，晏服參苓白朮丸，大效，方見下。</p>
<p>今人好事者，夏月用綠豆粉，以新薄荷葉蒸制，名玉露霜，時時食之，以解暑毒。不知薄荷乃新香發散之藥，多食令人虛汗不止。</p>
<p>秋月人多病瘧者，此因夏傷於暑得之。暑傷元氣，致秋為痎瘧也。痎者，久也，不可輕截，宜補中益氣湯主之：</p>
<p>黃耆　人參　炙甘草（各一錢）　白朮　歸身　柴胡　升麻　陳皮（各五分）　加乾薑　青皮（各五分）</p>
<p>水煎服。熱多加知母，寒多加桂枝，無汗去白朮加蒼朮。</p>
<p>秋月多痢疾者，此因夏月內傷生冷，至秋陽氣不降，乃結澀之物與濕熱之氣同墜下也。腹痛窘迫者，用加味小承氣湯主之。</p>
<p>枳實（一錢半）　厚朴（薑汁炒，一錢半）　大黃（酒煨，三錢）　木香（五分）　檳榔米（二錢半）</p>
<p>水煎服。腹痛當止，止則積去矣，窘迫減則熱除矣。宜用加味白芍藥湯和之，以平為期。</p>
<p>白芍（一錢）　人參　當歸　黃連（酒炒）　黃芩（酒炒）　陳皮（各五分）　木香　檳榔　炙甘草（各三分）</p>
<p>水煎，食後服。</p>
<p>冬月有病咳嗽者，此因秋傷於濕得之，宜：</p>
<p><u>參蘇飲</u></p>
<p>蘇葉（五分）　葛根　陳皮（去白）　前胡（各七分半）　人參　半夏（制）　白茯苓（各四分）　枳殼　桔梗（各三分）　甘草（二分）　烏梅（洗去核，一個）　生薑（三片）　棗（三枚）</p>
<p>水煎，食後服。</p>
<p>大法：春宜吐，夏宜發汗，秋冬宜下。此教人治病者，不可犯時禁也。設遇可吐、可汗、可下之證，雖犯時禁，亦為之。所謂發表不遠熱，攻裡不遠寒也。若無病之人，春與吐，夏與發汗，秋冬與下，此誅伐無過，所謂大惑也。</p>
<p>春宜吐者，順其上升之氣也。人之胸中，覺有痰積，不得不吐者，宜用二陳湯加升麻、防風、桔梗，水煎成湯，向無風處，先以軟布束勒臍腹，然後服藥，少頃，以鵝翎探吐之。可以去病，且不壞人元氣。</p>
<p>按子產論晉侯之疾，曰：君子有四時之調攝，朝以聽政，晝以訪問，夕則靜坐，夜則安身，於是乎節宣其氣，勿使有壅閉湫底，以露其體。茲心不爽而昏亂百度。今無乃壹之，則生疾矣。</p>

<h1>卷之四</h1>

<h2>卻疾第四</h2>
<p>吾聞上工治未病，中工治將病，下工治已病。治未病者十痊八九，治將病者十痊二三，治已病者十不救一。</p>
<p>善治者治皮毛，不善治者治骨髓。蓋病在皮毛，其邪淺，正氣未傷，可攻可刺。病至骨髓，則邪入益深，正氣將憊，針藥無所施其巧矣。噫，勾萌不折，至用斧柯，涓涓不絕，流為江河，是誰之咎歟？</p>
<p>邵子曰：與其病後才服藥，孰藥病前能自防，即聖人所謂不治已病治未病之謂也。夫病已成而後藥之，亂已成而後治之，譬猶渴而穿井，亂而鑄兵，不亦晚乎？</p>
<p>今人有病，不即求醫，隱忍冀瘥，至於病深，猶且自諱，不以告人，誠所謂安其危，利其番也。一旦病亟，然後求醫，使醫者亦難以施其治。詩云：「既輸爾載，將伯助予」，斯之謂乎。</p>
<p>《心印經》云：生藥三品，神與氣、精。夫大虛之謂神，生生之謂氣，象形之謂精。今人之有身，由父母之媾精所生也。陽精隨氣以運動，陰精藏神而固守，內外交養，動靜互根，神依氣，氣依精，精歸氣，氣歸神，故能神與形俱，與天地悠久也。此之謂上藥。五穀為養，五畜為助，五萊為充，五果為益。精不足者，溫之以氣，形不足者，補之以味。精食氣以榮色，形食味以生力。味歸氣，氣歸精，精歸神，故亦可以形體不敝，精神不散，益壽而以百數。此之謂中藥。水、土、金、石，草木、昆蟲，氣味合而服之，可以攻邪。如辛涼之藥，以攻風邪，可使正復，此謂之下藥。今人棄上藥而不求，餌中藥而不知。至於有病，以下藥為良劑。舍爾靈龜，觀我朵頤，無怪乎斯民之不壽也。</p>
<p>善養生者，當知五失：不知保身一失也，病不早治二失也，治不擇醫三失也，喜峻藥攻四失也，信巫不信醫五失也。</p>
<p>東坡嘗曰：吾平生求醫，蓋於平時驗其工拙。至於有疾，必先盡告其所患而後診視，使醫者瞭然，知厥疾之所在，虛實冷熱先定於中，則脈之疑似不能惑也。故雖中醫，療疾常愈。蓋吾求病愈而已，豈以困醫為事哉。誠哉斯言，真警迷之砭劑也。</p>
<p>吾常治病，以色為先，問次之。為問者，問其所好惡也。問其曾服何藥也，而與血脈相參。制方之時，明以告人，某藥治某病，某藥為佐使，庶病者知吾使用之方。彼有疑忌者，又明以告之，有是病必用是藥，使之釋然，所以偶中者多。惜乎，吾見自用自專，日趨於下，無能繼其志者，敢曰三世云乎哉！</p>
<p>治病之法，虛則補之，實則泄之。邪氣盛則實，正氣衰則虛。瀉者謂攻其邪也。攻者，汗、吐、下、針、灸五法也。假如外感風寒，不急汗之，何以得解？內傷飲食，不急吐下之，何以得解？惟虛怯之病，貴乎用補，不可攻也。故攻其邪氣者，使邪氣退而正氣不傷，此攻中有補也；補其正氣者，使正氣復而邪氣不入，此補中有攻也。</p>
<p>用藥如用兵，師不內御者勝。如知其醫之良，即以其病付之，用而不疑也。苟不相信，莫若不用。吾嘗見病家自稱知醫，醫欲用藥則曰：「某藥何用，無以異於教玉人雕琢玉者。」幸而中，則語人曰：「是吾自治也。」沒有不效，則歸罪於醫矣。功則歸已，罪則歸人，存心如此，安望其醫者之用心，而致其病之痊乎。</p>
<p>《內經》云：「惡於針石者，不可與言至巧；惑於鬼神者，不可與言至德。」吾見世人有病，專務祈禱。此雖胡貊之俗，自少昊氏以來，民相惑以妖，相扇以怪，迄今久矣。況彼蠻煙障霧之中，多魍魎狐蜮之氣，民惑於妖，性不嗜藥，故以禱為主也。若五勞六慾之傷，七損八益之病，必有待於藥耳。醫家有龍術王祝由科，乃移精變氣之術，誠可以治中惡之病，傳駐之氣，疫癘之災，不可廢矣。</p>
<p>昔有人暑月深藏不出，因客至坐於牖下，忽以倦怠力疲，自作補湯服之反劇，醫問其由，連進香薷湯，兩服而安。</p>
<p>《寶鑑》云：諺云，無病服藥，如壁里安柱，為害甚大。夫天之生物，五昧備焉，食之以調五臟，過則生疾。至於五穀為養，五果為助，五畜為益，五菜為充，氣味厚而服之，以補精、血、氣，倘用之不時，食之不節，猶或生疾。況藥乃攻邪之物，無病豈可服哉！</p>
<p>《聖濟經》云：彼修真者，蔽於補養，輕耳。金石補陽之劑，一旦陽劑剛勝，病起則天癸竭而榮涸；陰劑柔勝，病起則真火微而衛散。一味偏勝，則一臟偏傷，安得不病？</p>
<p>孫真人曰：「藥勢有所偏助，則臟氣不平。」</p>
<p>唐·裴濟諫憲宗曰：「藥以攻疾，非朝夕常用之物，況金石酷烈有毒，又加煉有火氣，非人臟腑所能經也。」</p>
<p>唐·張桌諫穆宗曰：「神慮清則血氣和，嗜欲多而疚疾作。」蓋藥以攻疾，不可用也。</p>
<p>韓昌黎銘孝子之墓曰：「余不知服食說起自何世，殺人不可數計，而世人慕之，至此甚惑也。」</p>
<p>潔古云：「無疾服藥，此無事生事。」</p>
<p>張子和云：人之好補者，或咨諸庸醫，或問諸遊客。庸醫以要和相求，故所論者輕，輕則草木。草木者，蓯蓉、牛膝、巴戟、菟絲之類。遊客以好名自高，故所論者重，重則金石。金石者，丹砂、陽起石、硫黃之類。吾不知此以為補者，補何臟乎？以為補心耶？心得熱則瘡瘍之病生矣。以為補肝耶？肝得熱則神眩之病生矣。以為補肺耶？肺得熱則病積鬱矣。以為補脾耶？脾得熱則腫滿矣。以為補腎耶？腎為癸水，其經則子火君火也。補腎之火，火得熱而益熾；補腎之水，水得熱而益涸。百病交起，由無病而補元所得也。</p>
<p>全按：無陽則陰無以長；無陰則陽無以化，陰陽互用，如五色成文而不亂，五味相濟而得和也。凡養生祛邪之劑，必熱無偏熱，寒無偏寒。溫無聚溫，溫多成熱；涼無聚涼，涼多成寒。陰則奇之，陽則偶之。得其中和，此制方之大旨也。</p>
<p>治寒以熱，治熱以寒，中病則止，勿過其劑也。</p>
<p>王太僕云：「攻寒令熱，脈不變而熱疾已生；制熱令寒，脈如故而寒疾又起」。欲求其適中，安可得乎？</p>
<p>《內經》曰：不遠熱則熱至，不遠寒則寒至。寒至則堅痞，腹滿痛急，下利之病生矣。熱至則吐下霍亂，癰疽瘡瘍瞀郁注下，瞤瘈、腫脹，嘔、鼽血、頭痛，骨變、肉痛，血泄、溢血、泄、淋、閉之病生矣。</p>
<p>論曰：心肺損而色蔽，腎肝損而形痿，谷不能化而損脾。感此病者，皆損之病也，漸潰之深，皆虛勞之疾也。</p>
<p>夫稟中和之氣而生身，曰元精，曰元氣，曰元神者，本身之真精、真氣、真脈也。心之合脈也，其神不可見，其機見於脈也，故曰神機。夫真精真氣真脈也，其原皆出於腎，故曰元丹。《經》所謂水鄉鉛者是也。精者五臟之真精也。《經》云：腎者主受五臟六腑之精而藏之，故五臟盛乃能瀉。謂之天癸者，天一所生之水也。兩腎之間，謂之命門。《難經》曰：「命門者，諸神精之所舍，原氣之所繫也。」原氣之出於腎者如此。脈之動也者，腎間之動氣所發也。故人之脈以尺為主，如樹之根，此真脈之出於腎者如此。夫腎者，生之本，為陰陽之樞紐，榮衛之根柢，所以有補無瀉也。丹溪滋陰大補丸最佳。</p>
<p>按：滋陰大補丸，乃六味補腎地黃丸除去丹皮、澤瀉，合六味煨腎散，除青鹽，加牛膝、五味子、石菖蒲、甘州枸杞四味，共十三味為劑。蓋精者，木之液也，其臟屬肝，藏於金里。金者，水之母也，其液屬肺。金木交媾，變化凝結，而腎納之，謂之元精，即真水也。又曰：《嬰兒悟真篇》云：金公本是東家子，送在西鄰寄體生，認得喚來歸舍養，配將奼女作親情是也。氣者，火之靈也，其臟屬心，聚於膻中。膻中者，氣之海也，其位在肺。肺調百脈，遊行三焦之中，歸於命門，謂之元氣，即真火也，又曰奼女。《悟真篇》云，奼女遊行自有方，前行雖短後行長，歸來卻入黃婆舍，嫁個金公作老郎是也。黃婆者，真土也。坎中有戊，離中有己，故曰：只緣彼此懷真土，遂使金丹有返還也。神者，精氣混合之名也。故人未生之前，精氣自神而生；既生之後，神資精氣以存。《心印經》云：「人各有精，精合其神，神合其氣，氣合體真。」此之謂也。</p>
<p><u>滋陰大補丸</u></p>
<p>熟地黃（四兩）　川牛膝（去蘆，酒洗過）　山藥（各一兩半）　杜仲（薑汁炒去絲）　巴戟（去心）　山茱萸（去核）　肉蓯蓉（酒洗焙）　五味子　白茯苓（去皮）　小茴香（炒）　遠志（去心，甘草同煎，各一兩）　石菖蒲（一寸九節者）　枸杞（各五錢）</p>
<p>上為細末，用紅棗三十六枚，蒸去皮核，杵爛和煉蜜入藥末，杵千餘下為丸，如梧桐子大，每服五十丸，淡鹽湯或溫酒空心送下。</p>
<p>此方以五味子補肺，滋其水之化源；山茱萸補肝；山藥、紅棗補腎脾；石菖蒲補心；又熟地黃、枸杞、蓯蓉、山茱萸、牛膝、杜仲以補元精、固精；山藥、紅棗、五味、小茴以補元氣調氣；巴戟、遠志、石菖蒲、白茯苓以補神安神。其性味清而不寒，溫而不熱，溫涼相濟，陰陽適調，滋補之巧，豈金石所能及也？丹溪云：非深達造化之精微者，未足以議此也。</p>
<p>無極之真，二五之精，妙合而凝，以成男成女者，元氣也；五穀為養，五果為助，五畜為益，五菜為充者，穀氣也。腎為元氣之根，脾胃為穀氣之主，故修真之土，所謂先天之氣，真水真火者，即此元氣也。所謂真土為刀圭者，即此穀氣也。圭者，戊己二土也。刀者，脾之形象也。澄心靜慮，惜精愛氣者，所以養此元氣也。飲食必節，起居必時者，所以養此穀氣也。無元氣則化滅，無穀氣則神亡，二者當相交養也。古人制參苓白朮散謂補助脾胃，此藥最妙，今作丸劑，與前滋陰大補相間服之尤佳。</p>
<p><u>參苓白朮丸</u></p>
<p>人參　白朮　白茯苓　山藥　白扁豆（去殼，薑汁炒，各一兩半）　炙甘草　桔梗　薏苡仁　蓮肉（去皮心，各一兩）　陳皮（去白，一兩半）　砂仁（一兩）</p>
<p>煉蜜為丸，如彈子大，約一錢重，每服二丸，棗湯化下。</p>
<p>此方以白朮、甘草平肝，以人參、桔梗補肺，茯苓補心，山藥補腎，乃四君子加山藥、蓮肉、白扁豆、薏苡仁，專補脾胃之虛弱；橘紅、砂仁、桔梗以助糟粕去滯壅也。</p>
<p>夫陰陽者，萬物之父母也；水火者，陰陽之徵兆也；坎離者，陰陽之定位也；心腎者，坎離之配合也。故水居坎位而腎配坎，為陰中之陽；火居離位而心配離，為陽中之陰。心配離，離中虛，故心虛，斯能虛物；以腎配坎，坎居實，故腎實則能全形矣。然心雖陽也，其中之陰，謂之真陰，乃水之源也；腎雖陰也，其中之陽，謂之真陽，乃火之主也。故水為精，精中有神，益精以全神者，謂之水府求玄火為神。神中有精，存神以固精者，謂之離宮修定。此心腎之所宜交養也。蓋心為手少陰君火，腎為足少陰子水。少陰者，體也；水火者，用也，同體異用。古人制方，以滋陰大補丸補腎，天王補心丹補心，藥類氣味，其揆一也。</p>
<p>按《易》云：先庚三日，後庚三日。庚者，更也。陽盡消而再長，月既魄而復明。月出庚方，此之謂也。先庚三日，丁也；後庚三日，癸也。丁者，心火也，陽之所生，謂之天根；癸者，腎水也，陰之所生，謂之月窟。一陰一陽，互為其根。故邵子云：「天根月窟間往來，三十六宮都是春。」此補心補腎之方，互為其用也。</p>
<p><u>天王補心丹</u></p>
<p>熟地黃　白茯苓　人參　遠志（去心，甘草水煎）　石菖蒲　玄參　柏子仁（去殼）　天冬（去心）　麥冬（去心）　丹參　酸棗仁（去殼，炒）　炙甘草　歸身（酒洗）　杜仲（去皮，薑汁炒，斷絲取末）　五味（各一兩）</p>
<p>上十五味，共為末，煉蜜杵為丸，如彈子大，每丸重一錢，金箔為衣，每服一丸，棗湯化下，臨臥食遠服。</p>
<p>此方熟地黃、白茯苓、天冬、玄參、杜仲、五味，皆補腎之藥也。其制方之法，以熟地黃、當歸、五味、杜仲益血固精；以人參、白茯苓、柏子仁、遠志、菖蒲、酸棗仁寧心保神，除驚悸、止怔忡，令人不忘；以天麥門冬、丹參、玄參、甘草，清三焦，去煩熱，療咽乾。此方可與上二方相間服之。</p>
<p>早服滋陰大補丸，晝服參苓白朮散，夜服天王補心丹最妙。此三方延年之要也。</p>
<p>夫五臟各一，腎獨有兩者，以造化自然之理也。蓋太極生兩儀，一陰一陽之謂也。草木初生，皆有兩瓣，謂之甲坼，左曰陽，右曰陰。故人受形之初，便生兩腎。東方曰青龍，南方曰朱雀，西方曰白虎，都是一體。北方曰玄武，乃有二體，乃龜蛇二體也。蛇屬陽，龜屬陰。子半以前屬陰，龜之體也；子半以後屬陽，蛇之體也。腎者，水臟，上應北方玄武之象，故有兩枚也。人之初生，水火自平，陰陽和均，無有差等。至於天癸之動，不知愛惜，始覺一多一少，故有「陽有餘，陰不足」之論，而將一腎分為兩體也。不知節欲，保守殘陰，反服補陰益陽之劑，吾恐已傷之陰未能復，而倖存之陽今又見傷也。陰陽俱傷，元氣漸損，人能久存乎？是以所取補腎之方，以滋陰大補丸為主也。</p>
<p>人有誤服壯陽辛燥之劑，鼓動真陽之火，煎熬真陰之水，以致相火妄動，陰精漸涸者，其法以滋水為主，以制陽火。蓋腎苦燥急，急食辛以潤之。滋水者，滋其水之化源，以御其辛燥之邪。燥邪既退，陰水自生，水生不已，則火有所制而不動矣，以補陰丸主之：</p>
<p>黃柏（鹽水拌，新瓦上炒制褐色，四兩）　知母（去皮，酒拌，新瓦上炒，四兩）　淮慶熟地黃（酒洗，焙，十六兩）　天冬（去心，新瓦上焙，一兩）</p>
<p>共為末，煉蜜為梧子大，每服五十丸，空心食前鹽湯下。</p>
<p>腎惡燥，用知母之辛以潤之；腎欲堅，用黃柏之苦以堅之；虛則以熟地黃補之。蓋虛則補其母，肺乃腎母，金體本燥，今用辛燥之藥，恐肺益燥，故以天冬而補肺，使之潤燥瀉火而滋腎之化源也。</p>
<p>昔中丞孫淮海公，年四十無嗣，嘗聞予以廣嗣之道，且語其故。予告曰：《易》云，「男女媾精，萬物化生。」夫男子陽道之堅強，女子月事之時下，應期交接，妙合而凝，未有不成孕者矣。男子陽道不強者，由於腎肝之氣不足也。腎者，作強之官；肝者，罷極之本。肝之罷極生於腎之作強也。故陰痿而不起不堅者，筋氣未至也。肝主筋，肝虛則筋氣不足矣，陰起而不堅不振者，骨氣未至也。腎主骨，腎虛則骨氣不足矣。又有交接之時，其精易泄流而不射，散而不聚，冷而不熱者，此神內亂，心氣不足也。凡有此者，宜各隨其臟氣之不足而補之。在肝則益其肝，如當歸、牛膝、續斷、巴戟之類。在腎則益其腎，如熟地黃、蓯蓉、杜仲之類。在心則益其心，如五味、益智、破故紙之類。用枸杞、菟絲、柏子仁以生其精，使不至於易乏。山茱萸、山藥、芡實以固其精，使不至於易泄，修合而服，其藥勿雜，其接以時，則兆罷熊之夢，麒麟之子，可計日而待矣。命其方曰：</p>
<p><u>螽斯丸</u></p>
<p>熟地（二兩）　歸身（酒洗）　牛膝（酒洗）　川續斷（酒洗）　巴戟（去心）　蓯蓉（酒洗，焙）　杜仲（薑汁炒盡絲）　枸杞　菟絲子（酒蒸）　柏子仁（去殼）　山茱萸肉　芡實肉　山藥（各一兩）　破故紙（炒）　益智仁　五味（各五錢）</p>
<p>共為末，煉蜜為丸，梧子大，每服五十丸，空心溫酒下。</p>
<p>公問女子月事，或前或後，無定期者，何以調之？全曰：此神思之病，無以治之。公曰：何故？全曰：寵多而愛不周，念深而幸不至，是以神思亂也。況女子者，以身事人，而其性多傲，以色悅人，而其心多忌，故難調也。公曰：據此意制方，平其氣，養其血，開其鬱，宜無不可。全曰：謹如教。乃進調經丸，方用香附、川芎、陳皮，以開鬱順氣，白朮補脾，當歸養心，以治心脾之病。</p>
<p>香附米（杵淨一斤，以醋浸，春五日．夏三日，秋七日，冬十日，瓦罐煮乾，又焙乾取末）　川芎　當歸　白朮　陳皮（各五錢）</p>
<p>為末，酒煮麵糊為丸，梧子大，每服五十丸，空心食前米湯下。</p>
<p>人有陽道常痿者，多致無子，不可不慮也。惟其求嗣之急，易為庸醫之惑，或以附子、起石為內補，或以蟾酥、啞芙蓉為外助。吾見陽事未興，內熱已作，玉莖雖舉，頑木無用，終身無子而夭歿者有之。深念此輩無辜，而受醫藥之害。遍訪諸方，無逾此者，出以示人，命之名曰：</p>
<p><u>壯陽丹</u></p>
<p>熟地黃（四兩）　巴戟（去心，二兩）　破故紙（炒，二兩）　仙靈脾（二兩）　陽起石（炒，另研，水飛，一兩）　桑螵蛸（真者，焙，一兩）</p>
<p>上為末，煉蜜為丸，如梧子大，每服三十，空心無灰酒下，亦不可持此自恣也，戒之。</p>
<p>按：秋石五補丸亦同紫河車之意。《丹經》云；「可惜可惜真可惜，腰間有寶人不識，將錢賣與粉髑髏，卻到街頭問秋石。」可見秋石者，亦以人補人也。但煉者必以火，雖有滋補之功，不能無火性之毒，方士乃設為水煉之法、大陰煉法、火升之法以誑人。人喜其說，耳為所誑而不悟。謂水煉者，譬如海濱煮鹽者，用水耶用火耶？可以類推矣。雖有凝底汙濁之渣，臭穢之氣，其可服乎？設以水澄之，如鹽入水，消化不復再聚矣。其有凝聚者，乃假他物在中，如取靛者之用石灰，靛化而灰存。聞彼謂大陰煉者，此日曬夜露之滷垢也，如年久糞缸之上所結人中白者，亦可代秋石乎。彼謂水升者，水曰潤下，過顙在山，豈水之性哉！雖曰火酒燒成者，乃上升之氣化而為液，復下而成酒也，惟朴硝與水銀，見火則上升成粉也，然則上升之秋石，乃朴硝水銀之屬乎。方士之誑人者，巧如穿窬，明哲之士，未有不為所惑者也。故謂其能除咸去臭，臭誠可去矣，潤下作咸，咸者水之性也。五味在物，各有自然，謂咸可去，此無根之言而人乃信之，何也？吾煉秋石之法，得於異人之傳，可代鹽食，又無火毒。秋石（鹹平，水之精）、補骨脂（苦溫，炒，火之精）、五味（酸溫，焙，水之精）、小茴（辛溫，炒，金之精）、巴戟（甘溫，去土，心之精）、</p>
<p>各等分為末，山藥作糊為丸，如梧子大，每日空心服五十丸，紅棗煎湯送下。</p>
<p><u>煉秋石法</u></p>
<p>取童男八歲以上，童女七歲以上，至精血未動者之小水，不拘多少，各半，用大缸一口作灶，放陰陽二水在中，文武火煮將干。預置一鐵鏟安柄似鍬形，不停手四邊鏟動，又用桑白皮二三斤銼碎，放在內，以剷剷作一團，和勻。卻用武火燒令缸紅，並桑白皮燒成灰為度，去火待冷定，然後剷起，秤多少重。再取小鍋一口，只用磚架，以便易取易放，將鏟取秋石研篩過秤，每秋石一斤，河水斤半，同入小鍋中，用火再煮乾。以小鐵鏟鏟動，勿令黏鍋，照前燒令鍋紅，煉二次去火，取起放鐵鍋中，乘熱研細末，安置瓷盆中。又秤水一斤半，放里以物蓋定，勿令泄氣。候冷別用一瓷盆放筲箕在上，下鋪細布一層，再又綿紙一層，別用竹篦作一團圈，以布漫定，如取魚之篳，亦鋪綿一層在內，傾水入里，放箕上，隔一物濾過，其滓棄去，只用澄過清水。又用磚作一字長爐，約三四寸闊，安炭火，勿緊勿慢，卻以白瓷盆置其上，一字排定，每盆中放水半杯，少頃，凝結如冰，潔白可愛，秋石成矣。此為三煉，無中生有，渣滓之物，臭穢之類盡絕矣。或欲禱錠送人，卻以錠模子取之。</p>
<p>按補髓丹乃葛可久先生治癆瘵後之調養方也。此方滋補之功甚大，無疾之人可以長服，以免血枯氣少，髓干精竭之病。一名十珍丸。</p>
<p><u>十珍丸</u></p>
<p>獖豬脊髓一條完者，牯羊脊髓一條完者，團魚九肋者一個，烏雄雞（白毛烏骨者一隻，牧卷籠中，以火麻子煨一七，勿令蟲食）、四味淨制，去骨存肉，醇酒一大碗，於砂鍋中煮熟，擂爛再入大山藥五條，蓮肉（去心皮）　半斤，京棗（去皮節）　一百枚，柿餅（有霜者）　十枚。四味修制，用井花水一大瓶，於沙鍋煮熟擂爛，與前熟肉和一處，再用慢火熬之。卻下鹿角膠四兩，真黃臘三兩。上二味逐漸下，與前八味和一處，搗成膏子，和平胃散末、四君子末、知母、黃柏末各一兩，共十一兩，搜和成劑，十分硬，再入煉蜜，放石臼中杵千餘下為丸，如梧子大，每服百丸，不拘時，棗湯下。</p>
<p>人之夢泄，其候有三：年少氣盛，鰥曠矜持，強制情欲，不自知覺而泄精者，如瓶注水，滿而自溢也。人或有之，是為無病，不須服藥。如邪克於陰，神不守舍，心有所感，不能主宰，或心受熱，陽氣不收而泄精者，如瓶之側而水出也，人多有之，其病尤輕，合用平和之劑。至若臟腑積弱，真元久虧，心不攝念，腎不攝精，夜夢魂交而泄者，如瓶之鏬而漏也，人少有之，此病最重，非固澀之劑，恬靜之心，必不能治也。或謂夢泄盛於房勞者，蓋陰陽交接，二氣相應，真精雖泄，真氣不走，若在夢中，則精氣俱泄矣。又有一等人，念慮邪淫，神氣消靡，遊魂為變，邪氣乘虛，往往與鬼魅交通，是又厄運不可曉者，法藥相助。誠哉，是言也。</p>
<p>治夢遺法，除滿而自溢者，其情有所感，心有所慕，宜服前滋陰大補丸並固精丸。更宜清心寡慾，一妄不生可也，否則久亦成虛滑矣。若因酒色縱欲，下元虛損者，必用妙應丸秘精固澀之藥，以救其脫；用前藥河車丸滋補之藥，以滋其陰；清靜以安其神，戒懼以防其敗，或有能濟者矣。否則虛損無補，其何能淑。更有睡法，夜只側臥，或左或右，伸下足，屈其上足，以挽下足之膝腕中。上手掩臍，下手握固枕其首，手攀起其莖，勿令挨肉，則通宵不泄矣。</p>
<p><u>固精丸</u>　治心神不安，腎虛自泄精。</p>
<p>知母（炒）　黃柏（酒炒，各一兩）　牡蠣（左顧者，煅）　白龍骨（火煅）　芡實（去殼）　蓮蕊（無，薏苡仁代）　白茯苓（去筋膜）　遠志（去心）　山茱萸肉（各三錢）　山藥（研作糊，二兩）　硃砂（水飛過，三分為衣）</p>
<p>上山茱萸以上九味，研為細末，水煮山藥糊丸，如梧桐子大，硃砂為衣，每服五十丸，棗湯送下。</p>
<p><u>妙應丸</u>　治遺精白濁，乃固澀去脫之法也。</p>
<p>真龍骨　硃砂（水飛）　石菖蒲（各二錢半）　白茯苓　苡仁　石蓮肉　砂仁（各一錢半）　桑螵蛸（焙）　菟絲子（酒浸一宿，焙，各五錢）　牡蠣（用破草鞋包火酒，煅研，一錢）</p>
<p>上為細末，山藥糊九，梧桐子大，每服五十丸，粳米飲下。</p>
<p><u>金鎖秘精丹</u>　治男子嗜欲過度，精氣不固，固澀去脫之劑。</p>
<p>蓮肉（去心）　芡實肉（各四兩）　白龍骨（煅，一兩）　桑螵蛸（焙，一兩）</p>
<p>共為細末，又以金櫻子（霜後半黃者，去刺，劈兩片，去子，水淘淨）　搗爛入鍋中，水煎，不住火，約水耗半，以布濾去渣，再煎如稀飴，和藥末，杵千餘下，為丸，梧桐子大。每服三十，空心鹽湯送下。更以獖豬腰子二枚，煨熟，壓之，助其藥力。</p>
<p>人之生也，水為命，火為性，土為形。故水火非土則無所載，性命非形則無所附。形者性命之舍，猶果之仁有殼也。何謂土？戊己是也。何謂形，脾胃是也。胃為戊土，以司受納；脾為已土，以司傳化。胃陽主氣，脾陰主血，榮衛乎一身者也。故脾胃實，則糟粕變化，津液流通，神安而性靜，氣盛而命立，則無病矣。脾胃若傷，則水穀入少，榮衛氣衰，形敝而性命無所依附矣。此東垣《脾胃論》，誠發千古不傳之秘也。</p>
<p>人讀東垣書，用補中益氣湯，只說內傷是不足之病，不知其有餘之為內傷也。蓋不足者，脾胃之正氣不足也；有餘者，水穀之邪氣有餘也。故諸補中益氣方者，皆治其不足之病；諸導滯消積方者，皆治其有餘之病也。</p>
<p>人有平日食少者，必無傷食之病，間或有之，只從不足一邊論，補中益氣內少加麴櫱，以消導之可也，不可妄攻，致成虛損。人之善食者，脾胃素強，自恃其強而倍之，即成傷矣。雖大吐大下，未為不可。</p>
<p>人之傷食者，未可便吐下之，恐傷胃氣。如傷之輕者，損谷自愈，不必服藥。若覺胸腹痞脹，當時自以指探而吐之可也，或服前加減二陳湯一二劑，或取保和丸服之，階快為度，不可遽下。惟覺腹中滿痛，煩躁不安，不可下。當問其所傷之物，以前取積丸攻而去之，不可隱忍，便成損聚。</p>
<p><u>保和丸</u>　消宿食，無留滯之積，助脾胃，成變化之功。尤宜小兒。</p>
<p>橘紅（一兩）　枳實（麩炒）　黃連（薑汁炒，各五錢）　白朮（一兩半）　木香（三錢）　山楂肉　神麯（炒，各七錢）　麥芽（炒）　萊菔子（炒，各五錢）</p>
<p>為細末，湯浸蒸餅，為丸，白湯下。</p>
<p>脾胃素強能食之人，宜常服枳朮平胃丸，以免傷食之病。</p>
<p><u>枳朮平胃丸</u></p>
<p>白朮　蒼朮（米泔浸）　陳皮（各四兩）　厚朴（薑汁炒）　枳實（麩炒）　香附（童便浸，各二兩）　砂仁炙甘草（各一兩）</p>
<p>為細末，荷葉包，粳米煮飯為丸，梧子大，每服五十，米飲下。</p>
<p>脾胃素弱食少之人，宜常服健脾散，以助中和氣。治脾泄尤妙。</p>
<p><u>健脾散</u></p>
<p>人參（一兩）　白朮　白茯苓　炙甘草（各二兩）　山藥　蓮肉（去心）　薏苡仁　芡實（去殼）　白扁豆（去殼，炒，各四兩）</p>
<p>上為細末，每服二錢，棗湯調服。</p>
<p>人有善飲者，當服神仙醒酒方，解酒毒，醒宿酒，飲酒不醉。</p>
<p>葛花（五兩）　赤小豆花（三兩）　家葛根（澄粉，八兩）　白豆蔻（去殼，取末，七錢）</p>
<p>上為細末，用生藕搗汁和丸，如彈子大，每服一丸，嚼爛，津嚥下。</p>
<p>凡丈夫無子者，有二病焉：一曰稟賦不足，二曰色欲太過，所以陽道痿弱，精氣衰冷，故無子者，天命之限，亦人事之盡，方無悔也，宜服：</p>
<p><u>巴戟丸</u></p>
<p>巴戟（酒浸，去心）　益智仁　杜仲（鹽酒炒盡絲）　菟絲子（酒浸蒸杵）　川續斷　白茯苓　山藥　遠志（去心，甘草水炙）　蛇床子（炒）　牛膝（去蘆，酒浸，各一兩）　山茱萸（去核）　五味子（各二錢）　肉蓯蓉（酒浸，二兩）</p>
<p>為末，煉蜜為丸，梧桐子大，每服二三十丸，空心溫酒下。</p>
<p>凡婦人無子者，有三病：一曰血海虛冷，二曰神思困郁，三曰飲食減少。所以經候不調，朝夕多病，故無子也。宜服：</p>
<p><u>烏雞丸</u></p>
<p>白毛烏骨雞（一隻，重二斤半許，關在籠中以陳老米飯餵養一七，勿令食蟲，閉死，去毛腸淨，用丹參四兩，銼細，放雞肚裡，以瓦罐一個，裝雞在內，再入醇酒浸煮，約高一二寸許，慢火煮熟，取出，和骨搗爛，捏作薄餅，蘸余汁焙至干，研為末）　香附米（淨一斤，分四主，一主米泔水浸，一主童便浸，一主醋浸，一主酒浸。春秋二日，夏一日，冬四日．搗碎，焙乾）　熟地黃（四兩）　當歸（酒洗）　白芍藥　鱉甲（九助，醋炙，各三兩）　川芎（三兩半）　人參（三兩）　牛膝（去蘆，酒洗）　白朮　知母（各二兩）　丹皮　貝母　柴胡（各二兩）　地骨皮　乾薑（炒）　玄胡　黃柏（炒，各一兩）　秦艽（一兩半）　白茯苓　黃耆（炙，各二兩）　生地黃（酒洗，三兩）</p>
<p>為末，並雞末和勻，酒浸各半，煮麵糊丸，如梧子大，每服五十丸，溫酒米飲任下，忌煎炒辛辣之物及莧菜。</p>
<p>男女之無子者，非情不洽則神不交也。何謂情不洽？或男情已動而女情未洽，則玉體方交，瓊漿先吐，陽精先至而陰不上從乎陽，謂之孤陽；或女情動而男情未洽，則桃浪雖翻，玉露未滴，陰血雖至而陽不下從乎陰，謂之孤陰。兩者不和，若春無秋，若冬無夏，故不成胎也。若此者，服藥何益！</p>
<p>腰者腎之府，人身之大關節也。行則傴僂，腎將憊矣，故腰痛之病，多屬腎虛，曰風曰濕。因虛感之人，年四十以後，腎氣始衰，宜常服煨腎散、青娥丸二方，庶兔腰痛之疾。或以腰卒痛者，煨腎散服之立止。</p>
<p>杜仲蓯蓉巴戟天，茴香故紙及青鹽，</p>
<p>豬羊腰子燒來服，八十公公似少年。</p>
<p>杜仲（鹽水炒去絲）　肉蓯蓉（酒洗）　巴戟（去心）　小茴（炒）　破故紙（酒淘淨，炒）　青鹽（各等分）</p>
<p>上為末和勻，用獖豬腰子，竹刀劈開，內劃成縱橫路，人藥一錢，濕紙包裹，火中煨熟食之。溫酒嚥下，每日食一枚。牯羊腰子亦可。</p>
<p><u>青娥丸</u>　昔趙進士從黃州太守得此方，久服大有神效。遂作詩以記其功云：</p>
<p>十年辛苦走邊隅，造化工夫信不虛，</p>
<p>奪得風光歸掌內，傾城不笑白髭鬚。</p>
<p>破故紙（水淘淨，待乾，用黑芝麻同炒，去麻，十兩）　杜仲（去皮，銼細以主姜自然汁炒盡絲，取末，五錢）</p>
<p>二味各等分，為細末，用胡桃肉五十個，以糯米粥相拌，臼內搗如泥，布濾去滓，只用此糊為丸，梧子大。每服三十丸，空心鹽湯下。</p>
<p>人年四十腎始衰，陰氣自半。腎之榮，發也。故發始斑者，宜服：</p>
<p><u>何首烏丸</u>　填精補髓，發永不白。</p>
<p>何首烏（新取赤白二種，各半，用米泔水浸一夜，竹刀刮淨，忌鐵）　牛膝（去蘆，半斤）　黑豆（酒浸，三升）</p>
<p>用柳木甑一個，作平底篳，放高些，勿近水。鋪黑豆一升在底，即鋪何首烏片六兩，一層。又鋪牛膝二兩七錢，作一層。又如前鋪黑豆、首烏、牛膝，以物蓋定，慢火熬至豆爛為度。取出，去豆。以竹刀銼碎，暴乾用石碾、石臼取末，勿犯銅鐵。何首烏末一斤，牛膝末半斤，熟地黃（酒蒸，忌鐵，焙乾，取末）　半斤。三味和勻，煉蜜放木臼內杵千餘下，為丸，梧子大，每服五十丸。用先蒸過黑豆，曬乾為末，收貯。每用七粒，煎酒吞藥。忌羊血、蘿蔔、生蔥並藕。</p>
<p>人年五十肝葉焦，膽汁減，目始不明。夫目者精明之府，肝之竅也。水者木之母也，腎為水臟，其液藏於肝膽，上注於目。自四十腎衰精少液干。故五十肝葉焦，膽汁減者，皆腎氣不足所致也。虛則補其母，宜用：</p>
<p><u>育神夜光丸</u></p>
<p>熟地黃（酒洗，蒸，焙）　生地黃（酒洗，焙，取末，各二兩）　當歸（酒洗）　牛膝（去蘆，酒洗）　遠志（去心，甘草水煮）　地骨皮（淨）　枸杞（酒洗）　甘菊花　五味子（各一兩）　菟絲子（酒洗，淘去灰土，再以酒浸一夜，蒸搗為餅，曬乾）　枳殼（麩炒）</p>
<p>為末，煉蜜為丸，梧子大，每服五十丸，空心鹽湯下，食後酒下，臨睡茶湯下。</p>
<p>夫齒者骨之餘，腎之標也，故腎氣盛則髮長齒堅；腎衰則齒去發落。古人用搽牙散，如西嶽華山方可用，切不可以苦參揩牙。昔有人用之，病腰痛者，以腎受傷也。吾有一方，白牙固齒，去風除齲，屢用甚效。</p>
<p>熟地黃（二兩）　香附（二兩）　嫩槐枝（四十九寸長，新缸瓦炒成炭存性，取起擇去梗）　石膏（煅，一兩）　旱蓮草（二兩）　升麻（炒，一兩）　細辛（五錢）　白芷（五錢）　羊脛骨（燒灰，五錢）　青皮（炒，五錢）</p>
<p>為末，用黑鉛作盒盛之。</p>
<p>人年六十，常苦大便艱澀秘結，此氣不調，血不潤也。蓋腎開竅於二陰，腎虛則津液不足，津液不足，則大便乾澀不通，切不可用攻下之劑，愈攻愈秘，轉下轉虛，雖取一時之快，適貽終身之害。古人用蘇麻粥以養老，丹溪以三子養親湯事其母，皆美法也。吾制地黃四仁丸，治老人便秘之病。</p>
<p><u>地黃四仁丸</u></p>
<p>火麻仁（淨肉，另研，二兩）　郁李仁（去殼，另研，一兩）　桃仁（去皮尖，四十九粒）　杏仁（制，數同）　熟地黃（酒洗，蒸，焙，另研，二兩）</p>
<p>上五味，各研極爛不篩，放舌上無渣方好，煉蜜為丸，梧子大，每服五十丸，棗湯送下。</p>
<p>此方以地黃補腎生津液；麻仁、桃仁治血秘，又潤血中之燥；郁李仁、杏仁治氣秘，潤氣中之燥。和之以蜜，亦以潤燥也。</p>
<p><u>蘇麻粥</u></p>
<p>真蘇子（炒，五錢）　火麻仁（炒，一兩）</p>
<p>研爛以熟絹袋盛之，用水二盞，於絹袋子中煮之，三沸取出，掛當風處，令乾。下次再煮。每藥一袋，可煮三次，卻以本水入粳米煮糜粥食，自然大便潤快。以麻仁潤血，蘇子行氣也。</p>
<p><u>三子養親湯</u></p>
<p>蘇子（炒）　蘿蔔子（炒）　白芥子（炒）</p>
<p>各研為末，三處收。臨時以一味為君，二味為臣。君者五兩，臣者二兩半，每藥一錢，滾白水點服。如氣盛以蘇子為君，痰盛以芥子為君，食積以蘿蔔子為君。</p>
<p>人中年以後，多脾泄之病，前健脾散乃聖藥也，切不可用劫澀之劑。</p>
<p>按永壽丸方者，大梁郭之卿為尚書時常服之，年逾八十，精力倍加。此方大補元陽，益脾胃，調順氣血，添補精髓。人年四十以後，宜常服之。</p>
<p>蓮肉（去心，先用酒浸一日，後裝入雄豬肚內，縫緊，卻將浸蓮肉酒添水煮熟，取出曬乾，肚子不用，一斤）　蒼朮（刮淨，分作四分，用酒、鹽水、米泔水、醋分浸，按時定日，一斤）　白茯苓（四兩）　熟地黃（四兩）　川楝肉（炮，取肉）　枸杞　山藥　柏子仁（炒，另研）　破故紙（用麻油用炒香，去麻，各二兩）　青鹽（炒，五錢）　沉香　木香（各一兩）　五味子　小茴香（炒，各二兩）</p>
<p>十四味為末，酒和，杵勻為丸，如梧子大，每服五十丸，加至七十丸，空心溫酒下、鹽湯送下。此方比草靈丹尤勝。</p>
<p>人之病者，有十病九痰之說。然則，痰之為物也，乃腎之真水，五臟之真精，腸胃之精液。人之有痰，猶魚之有涎，木之有液，苟無是痰則死矣。惟人氣失其平則氣逆，氣逆則津液不行，不行則榮衛不通，不通則水穀之氣不能傳化，並其糟粕之滓，凝聚而成痰矣。痰者水穀之養所變也。古人治痰，以通氣為主，意可見矣。肥人之痰從濕，瘦人之痰從火，不可不知。</p>
<p>肥人痰者，奉養太厚，軀脂塞壅，故營衛之行少緩，水穀之化不齊，所以多痰。故治肥人者，補脾益氣為主，宜用：</p>
<p><u>益氣化痰丸</u></p>
<p>南星（去皮、臍，二兩）　半夏（湯泡七次，二兩）</p>
<p>為細末，用薑汁捏作餅，勿太軟。用楮葉包裹如盦醬樣，待生黃衣取出，曬乾。此須在三伏天作之，半夏曲亦如此作。加入人參（五錢）　白朮　白茯苓　陳皮（各一兩半）　蒼朮（米泔浸）　香附（童便浸）　枳實（麩炒，各一兩）　蘇子（炒，另研）　白芥子（炒，另研）　炙甘草（各五錢）　神麯（炒，一兩）　桔梗（炒，一兩）</p>
<p>為末，用薑汁浸，蒸餅，為丸，梧子大，每服五十丸，白湯送下。</p>
<p>瘦人之痰，房勞太過，暴怒無常，衝任之火妄動，水穀之氣不化，所以生痰。治瘦人者，以補腎降火為主，宜用：</p>
<p><u>滋陰降火丸</u></p>
<p>熟地黃（薑汁拌，焙）　天冬（去心）　白茯苓　知母　黃柏（炒火色，各十兩）　貝母　陳皮（去白，鹽水炒）　蘇子（炒，另研）　瓜蔞霜（各五錢）</p>
<p>為末，煉蜜為丸，梧子大，每服五十丸，空心淡薑湯下。</p>
<p>人之病癆者，動曰火症，此虛損之病，要分五臟治之，不可誤也。</p>
<p>病者憎寒，壯熱，自汗，面白，目干，口苦，精神不守，恐畏不能獨臥，其病在肝。宜服柴胡四物湯、金匱腎氣丸治之。</p>
<p><u>柴胡四物湯</u>　即小柴胡、四物湯二方合也。</p>
<p>人參（五分）　黃芩（一錢）　半夏（炮，三分）　柴胡（一錢）　炙甘草（五分）　當歸身（七分）　川芎（五分）　白芍（五分）　生地黃（酒洗，一錢）　生薑（三片）</p>
<p>水煎。</p>
<p><u>金匱腎氣丸</u>　金匱腎氣丸，即六味地黃丸，乃補肝之母也。</p>
<p>山藥（四兩）　山茱萸肉（四兩）　澤瀉　丹皮（去末）　白茯苓（各三兩）　熟地黃（八兩）</p>
<p>為末，煉蜜丸，每服五十丸，空心酒下。</p>
<p>病者寒熱，面黑，鼻爛，忽忽喜怒，大便苦難，或腹清瀉，口瘡，其病在心，宜服加減八珍湯、天王補心丹。</p>
<p><u>八珍湯</u></p>
<p>人參　白茯苓　炙甘草　歸身　生地黃　白芍　麥冬（各五分）　五味（九粒）　酸棗仁（炒，三分）　澤瀉（三分）　黃連（三分）</p>
<p>水一盞半，燈芯十二根。</p>
<p>水煎八分，食後服天王補心丹，方見前。</p>
<p>病者憎寒熱，面青，唇黃，舌本強，不能言，飲食無味，體重肌痛，口吐涎沫，其病在脾，宜服補中益氣湯、參苓白朮丸。</p>
<p><u>補中益氣湯</u></p>
<p>升麻（五分）　黃耆（炙）　炙甘草（各五分）　人參（一錢）　白朮（五分）　供身（五分）　柴胡（五分）　陳皮（五分）</p>
<p>水盞半，煎八分，食遠服。</p>
<p>脾胃益虛，肺氣先絕，用黃耆以益皮毛而開腠理。不冷，自汗上喘氣短，損其元氣，用人參補之。心火乘脾，用炙甘草以瀉火熱而補胃之元氣。若脾胃急痛，腹中急縮者，宜多用之。此三味乃除濕熱、煩熱之聖藥也。白朮甘溫而苦，除胃熱，利腰間血；升麻苦平味薄，能升胃中清氣；又引黃耆、甘草，甘溫之氣上升，能補衛氣之散解而實其表；用當歸以和血脈；用陳皮以理胃氣，又助陽氣上升，以散滯氣而助甘辛之藥力。如咽乾加乾葛；心刺痛倍加當歸；精神短少，倍加人參，外加五味子；頭痛加蔓荊子，痛甚加川芎。咳嗽夏加五味、麥冬，秋加連節麻黃，春加佛耳草、款冬花；久嗽者去人參。食不下者，或胸中有寒，或氣滯加青皮、木香、陳皮；寒月加益智仁、草豆蔻，夏月加芩連，秋加檳榔、砂仁。心下痞加芍藥、黃連。腹脹加枳實、木香、砂仁、厚朴；天寒加生薑、肉桂，夏加黃芩、乾葛、白芍，冬加益智仁、草豆寇、半夏。脅痛或縮急，加柴胡、甘草。膝下痛加熟地黃；不已，是寒，加肉桂。大便秘結加當歸，外加大黃。腳弱或痛加黃柏，不已，加防風。氣浮心亂，以硃砂安神丸鎮之。</p>
<p>上此方加減之法，乃飲食、勞倦、喜怒不節之證。若證屬熱中者，宜用此方；若證屬寒中者，則此方中黃耆、人參、甘草、白芍、五味能益其病，不宜用此方。</p>
<p><u>參苓白朮丸方見前</u></p>
<p>病者憎寒發熱，面鼻乾，口燥，毛折，咳嗽，喘急，時吐白沫，或有紅血線，其病在肺。宜服加味紫菀散、大阿膠丸。</p>
<p><u>加味紫菀散</u>　即海藏治虛勞，咳中有血方加天冬、麥冬。</p>
<p>人參（三分）　紫菀（二分）　知母（七分）　貝母（五分）　桔梗（三分）　甘草（三分）　五味（九分）　白茯苓（五分）　阿膠（炒成珠，五分）　天冬（去心）　麥冬（去心，各八分）</p>
<p>水一盞，煎八分，臨睡服。</p>
<p><u>大阿膠丸</u>　凡嗽血俱用*　</p>
<p>真阿膠（蛤粉炒成珠）　生地黃　天冬（去心）　白茯苓　五味子（肥者）　山藥（各一兩）　貝母　知母　款冬花　桔梗　桑白皮（蜜制）　杏仁（炒，去皮）　人參　甘草（各二錢半）</p>
<p>為末，煉蜜為丸，彈子大，每服一丸，薄荷湯下。</p>
<p>病者憎寒，面黃，耳聾，焦枯，䯒痠痛，小便白濁淋漓，其病在腎，宜服：</p>
<p><u>加味四物湯</u>　此補腎虛之要藥也。</p>
<p>熟地黃（二錢二分）　川芎（五分）　歸身（八分）　白芍（一錢）　知母（八分）　黃柏（炒褐色，八分）　天冬（去心，一錢）　五味（十二粒）　柏子仁（五分）</p>
<p>水二盞，煎一盞，空心服下。</p>
<p>又宜服紫河車丸。方見前。</p>
<p>此上三條，乃治虛勞之法也。</p>
<p>人有常病實熱者，熱久不退，元氣受傷，所謂壯火食氣也。宜生熟三補丸主之：</p>
<p>此方瀉壯火，以去元氣之賊，除客熱以滋腎水之源。水升火降，成既濟之功；天清地寧，致交會之用，豈小補云乎哉。</p>
<p>黃芩　黃連　黃柏（用半生半熟）　甘草（半生半炙，各一兩）</p>
<p>為末。煉蜜為丸，梧子大，每服五十丸，淡薑湯下。</p>
<p>人有脾虛生瘡者，宜枳殼化痰丸主之：</p>
<p>白朮（二兩）　枳實（麩炒，二兩）　陳皮（去白留紅，七錢半）　半夏曲（一兩）　香附（童便浸，一兩半）　神麯（炒，一兩）　蒼朮（米泔浸，一兩半）</p>
<p>為末，荷葉包米煮飯為丸，梧子大，每服五十丸，淡薑湯下。</p>
<p>此方健脾胃，成傳化之功，進飲食，無留滯之積。開鬱而氣自順，化痰而飲不蓄，藥品雖微其功最大。</p>
<p>《內經》曰：「大毒治病，十去其三；小毒治病，十去其五；無毒治病，十去其七」。製為定數者，恐傷正氣也。又曰：「穀肉菜果，以食養盡之」者，謂以穀肉菜果，去其未盡之邪也。可見穀肉菜果皆藥也。</p>
<p>凡肝病者宜食酸，麻子、犬肉、韭，皆酸，所謂以酸瀉之也。</p>
<p>心病者宜食苦，小麥、羊肉、杏、薤皆苦，所謂以苦瀉之也。</p>
<p>脾病者宜食甘，粳米、牛肉、棗、葵皆甘，所謂以甘瀉之也。</p>
<p>肺病者，宜食辛，黃黍、雞肉、桃、蔥皆辛，所謂以辛瀉之也。</p>
<p>腎病者宜食鹹，大豆、豬肉、粟、藿皆咸，所謂以咸瀉之也。</p>
<p>今人無事，多喜服酒藥者，謂其去風濕也。蓋人身之中，陽主動，陰主靜，陽常有餘，陰常不足。酒者辛燥之物，助陽耗陰者也，加之辛燥之藥，不已甚乎。辛則發散，燥則悍熱，春夏飲之，則犯遠溫遠熱之禁；秋冬飲之，則失養收養藏之道。果有風濕之疾，飲之可也；無風無濕，飲此辛散燥熱之劑，則腠理開，血氣亂，陽不能固，陰不能密，風濕之氣，因而乘之，所謂啟關納寇也。吾平生不妄與人以古方，必有是病，可用酒助其藥力者，則與以對症之藥，而烏附草藥不敢用也。若夫常飲之酒，則有仙家可以調氣，可以怡神，豈特卻疾而已哉。</p>
<p><u>地黃酒法</u></p>
<p>每糯米一斗，用生地黃三斤同蒸，以白麵拌之，候熟任意用之。</p>
<p>蓋地黃味甘、苦、寒，無毒，大補五臟內傷不足，通血脈，填骨髓，益氣力，利耳目。古詩云：床頭一甕地黃酒。</p>
<p><u>薯蕷酒</u></p>
<p>用山藥（生者佳，如無生者，取乾山藥，蒸熟，去皮，一斤）　酥油（三兩，無，以牛膝代之）</p>
<p>同研丸，如雞子大，每服一粒。用酒半斤燙熱，以丸入酒中，化開飲之。</p>
<p>蓋山藥味甘，性溫無毒，補虛病，充五臟，強陰。久服耳目聰明，輕身不飢。書云：薯蕷涼而能補，大有益於補養。</p>
<p><u>何首烏酒</u></p>
<p>新取用竹刀刮淨，薄切，米泔浸一夜，取出曬乾，木石臼杵為末，磁器盛之。每日空心稱一錢，酒調服。</p>
<p>蓋何首烏味甘溫，長筋骨，益精髓，壯氣力，黑鬚發，久服令人有力，遇偶日服之為良。忌羊血。贊曰：神物著助，道在仙書；雌雄相交，晝夜合之；服之去殼，日居月諸；返老還少，保安病軀。</p>
<p><u>天門冬酒</u></p>
<p>新取天門冬（一二十斤，去皮心，陰乾）</p>
<p>搗羅為末，每服三錢，酒調下。蓋天門冬味苦、甘、寒，強骨髓，養肌膚，鎮心補腎，潤五臟，益氣力，殺三蟲，去伏屍，久服延年，令人多子。此藥在東嶽，名淫羊藿；在中嶽名天門冬；在西嶽名藿香、藿松；在北嶽，名無不愈；在南嶽，名百部；在京洛山阜，名顛棘，處處有之。其名雖異，其實一也。忌鯉魚。</p>
<p><u>春壽酒方</u>　常服益陰精而能延壽，強陽道而得多男，黑鬚發而不老，安神志以常清，蓋取此為春酒，以介眉壽之義，而立名也。</p>
<p>天門冬（去心）　麥門冬（去心）　熟地　生地　山藥　蓮肉（去心）　紅棗（去皮核，各等分）</p>
<p>每一兩，煮酒五碗，旋煮旋飲。其渣於石臼中杵極爛為丸，梧子大，每服五十丸，酒下。此方大有補益。</p>
<p><u>治諸風痰紫背浮萍酒方</u></p>
<p>歌曰：天生靈草無根干，不在山兮不在岸，始因柳絮逐東風，點點飄來浮水面，神仙一味去沉疴，要採之時七月半，管其癱風與瘓風，些小微風都不算，豆淋酒內服一丸，鐵幞頭上也出汗。</p>
<p>其萍以紫背為上，採回攤於竹篩中，下著水盆，曝之乃干，研末，煉蜜為丸，如彈子大，每服一丸，用黑豆煮酒化下。治左癱右瘓，三十六種風，偏正頭風，手足不舉，口眼喎斜，癜風、癩風，服過百粒，即為全人。</p>
<p><u>比天助陽補精膏</u>　歌曰：靈龜衰弱最難痊，好把《玄經》仔細看，補髓填精身體健，殘軀栽接返童顏。</p>
<p>此方添精補髓善助元陽，潤皮膚，壯筋骨，理腰痛。下元虛冷，五癆七傷，半身不遂，腳膝痠弱，男子陽事不舉，陰精易泄，貼之可以興陽固精，行步康健，氣力如添；治女子下元虛冷，經水不調，崩中帶下無子者，貼之可以暖子宮和血氣。其功不可盡述，惟在至誠修煉，藥力全備，火候溫養，以二七為期，其功成矣。</p>
<p>真麻油（一斤四兩）　用淨鍋（一口，以磚架定三足）　安置白炭（三十斤，慢火煎，不可太急，恐損其藥）　槐柳桃榴椿杏楊（各二枝）</p>
<p>第一下甘草（去皮，二兩，煎至不鳴）　第二下天冬（去心）　生地黃（酒洗）　熟地黃（酒洗）　遠志（去心）　麥門冬（去心）　肉蓯蓉（酒洗，焙乾）　蛇床子（制）　牛膝（去蘆，酒洗）　鹿茸（酥制）　續斷　虎脛骨（酥，炙）　木鱉（去殼）　紫梢花（去草）　穀精草　大附子（去皮）　杏仁（去皮，尖）　肉桂菟絲子（酒淘淨，搗爛焙乾）　肉蔻（麵包煨）　川楝子（去核）</p>
<p>上二十味各錢半，銼碎煎製成炭，取起，以布濾去渣，要淨，再上磚架定，取嫩桑條如拇指，大約長一尺六寸者一根攪油。</p>
<p>第三下黃丹（水飛，炒乾）　半斤，黃臘（鮮明者）　五兩，燒油令滾，以茶匙抄丹細細入油，桑枝不住手攪，滴水成珠不散為度，又取起，攤，候溫，又上架。</p>
<p>第四下雄黃（透明者）、白龍骨、倭硫黃、赤石脂各一錢，研細末。勿令油大沸，只大溫，微火煎，不住手攪，又攤起，候溫，上架。</p>
<p>第五下乳香、沒藥、丁香、沉香、木香各一錢，為細末。入膏內，不住手攪微火溫養。</p>
<p>第六下麝香（當門子）、蟾酥（乳汁制）、陽起石（煅）、蛤芙蓉各一錢，為細末，入膏內，不住手攪。微火養煉，務要軟硬得宜，貼不移動，揭之無跡為度。取起收磁罐中，密封口，埋土中三日夜，去火毒。每用膏五錢，攤在厚紅素緞絹上，貼臍下關元穴及背後腎俞二穴。每一個可貼六十日方換，其效如神。但不可恃此固縱，以傷真元氣也。</p>

<h1>卷之五</h1>

<h2>養生總論</h2>
<p>養生之道，只要不思聲色，不思勝負，不思得失，不思榮辱，心無煩惱，形無勞倦，而兼之以導引，助之以服餌，未有不長生者也。服餌之物，穀肉菜果為上，草木次之，金石為下。蓋金石功速而易生疾，不可輕餌，恐毒發難制也。近觀服杏仁者，至二三年，或泄，或臍中出，皆不可治。服楮實者，輒成骨痿。服鍾乳、陽起石、硫黃、丹砂、雄黃、附子、烏頭之屬，多為虛陽發熱作疾。服女子初經作紅鉛者亦然。悉宜屏之，勿輕信也。</p>
<p>方士惑人，自古有之。如秦始皇遣人入海，求不死之藥；漢武帝刻意求仙，至以愛女妻之，此可謂顛倒之極，末年乃悔悟曰：天下豈有仙人？惟節食服藥，差可少病而已。此論甚確。劉潛夫詩云：</p>
<p>但聞方士騰空去，不見童男入海回，</p>
<p>無藥能令炎帝在，有人曾笑老聃來。</p>
<p>南史範云，初，為陳武帝屬官，武帝九錫之，命在旦夕，忽感寒疾，恐不獲愈。預慶事召徐文伯診視，以實懇之曰：「可得便愈乎」？文伯曰：「若便差甚易，恐二年不復起耳」。云曰：「朝聞道，夕死可矣，況二年乎」！文怕以火燒地，布桃葉置云其上，頃刻汗解，裹以溫松。易日疾瘳，云喜甚。文伯曰：「不足喜也。」越二年，果卒。觀此可為求速效者之戒。</p>
<p>病有堅痞，風氣結在皮膚肉腠者，可用針，分寸如法。在胸腹腰脊，近臟腑腸胃者，非是上醫，勿便用針。</p>
<p>按《素》《難》，凡治臟腑之病，取手足井、榮、俞、經、合，以行補瀉之法。故八法針天星十二穴者，上取下取，左取右取，合擔則擔，合截則截。吾有秘傳，皆不離手足，了盡一身之疾。凡有疾者，頭項胸腹腰脊肋脅戒勿用針。</p>
<p>凡頭面胸腹脊膂諸穴，有宜灸者，不過三壯，不可多灸。有人灸丹田穴，動則五六十壯，謂之隨年壯。人問其故，答曰：若要身體安，丹田、三里常不幹。噫，此齊東野人語也。人能謹其嗜欲，節其飲食，避風寒，雖不灸丹田，三里，身自無病而常安也。否則正氣一虛，邪氣自攻，以灸補虛，是以油發火也，無益而反害之。</p>
<p>凡用針灸後，常宜慎欲，至疾愈方可，不然則無效矣。</p>
<p><u>延年益壽不老丹</u></p>
<p>生地黃（酒浸一夜，曬乾，三兩）　熟地黃（洗淨，曬乾，三兩）　地骨皮（酒洗淨，曬乾，五兩）　人參（三兩）　天冬（酒浸三時，去心，曬乾，三兩）　麥冬（制同，三兩）　白茯苓（去粗皮切片酒浸，曬乾，五兩）　何首烏（鮮者，用竹刀刮去皮，切片，酒浸，曬乾；乾者，用泔水浸軟，刮去皮，切片，用砂鍋內先下烏羊肉一斤）　黑豆（三合，量著水於上加竹蓖，放此藥覆蓋蒸一二時辰，取出曬乾，半斤）</p>
<p>共為細末，煉蜜為丸，梧桐子大。每服三五十丸，酒送下，清晨服之。此藥千益百補，或十日或一月，自知為另等人也。常服功效難言。得此藥者，不可以為藥易而輕傳也。</p>
<p>此方崇德縣知縣所送，服之，果覺有效。</p>
<p><u>鹿角霜丸</u></p>
<p>黃柏（去粗皮，人乳拌勻，曬乾，如此三次，炒褐色用之，或六兩或四兩，隨時加減，八兩）　鹿角　霜（八兩）　天門冬（去皮心，二兩）　麥門冬（去心，二兩）　人參（一兩或二兩）　生地黃（置水中，去浮者，酒浸一夜，二兩）　熟地黃（酒浸一夜，曬乾，二兩）</p>
<p>為末，煉蜜為丸，梧子大，每服七十丸，加至百丸。淡鹽湯送下，或酒尤佳。</p>
<p><u>煮鹿角霜法</u></p>
<p>鹿角Z用本年解及新鋸，血氣不幹枯者，截寸半，置長流水中浸七晝夜，滌去腥穢。每角一斤，加桑白皮二兩，黃蠍二兩，楮實子一兩，放銀器內，或鹽泥固濟的好壇，炭灰煮七晝夜，水耗以熟水添之，旋耗旋添。角軟如熟樣，取出曬乾聽用。將煮角汁去藥渣並蠍皮，火熬膏收貯。每用三錢，酒化融服，其功更勝。若是麋角尤佳，煮制之法相同。</p>
<p><u>何首烏丸</u></p>
<p>八月採赤白各半，極大者佳，以竹刀刮去皮，切碎，用米泔水浸一夜，漉出曬乾，以壯婦生男乳汁拌曬三度，候乾。用木臼舂為末，羅細，以北紅棗，蜜雲縣出者佳，於砂鍋內煮去皮核，取肉和藥末，千杵為丸，焙燥，以磁器盛之。初服二十丸，每十日加十丸，至百丸止。空心鹽湯下。忌鐵與諸血、蘿蔔。此長生真人保命服食。</p>
<p>治五勞七傷，虛損無力，四肢困倦，腳手頑麻，氣血耗散，面黃肌瘦，陽事不升，虛暈噁心，飲食減少。此藥能治諸虛，添精補髓，滋潤皮膚，充神壯氣，身體輕健、光澤，開胃進食，返老還童，發白再黑，齒落更生，大有神效。</p>
<p>茯苓（四兩）　天冬（四兩）　山藥（四兩）　熟地黃（四兩）　枸杞（四兩）　何首烏（四兩）　乾薑（二兩）　大茴（炒，一兩）　炒青鹽（少許）　鹿角霜（四兩）　蓮肉（去皮，半斤）　破故紙（淨香油炒，四兩）　沒石子（一兩）　大核桃肉（半斤）　麥冬（四兩）</p>
<p>為末，空心白湯調勻二三匙，日進二服，不拘在家在外，少者一服，老者二服，功不盡述。</p>
<p><u>松梅丸</u>　肥腸健髓之驗。</p>
<p>松脂（煉熱者，一斤）　懷慶熟地黃（酒蒸，十兩）　烏梅肉（六兩）</p>
<p>如後法制，煉蜜為丸，梧子大，每服五十丸，空心米飲鹽湯下。</p>
<p>此方得之南京吏部尚書大人者，自云西域異人所授，後服之果能加飲食，致身肥健，小便清，大便潤，精神不倦。愚考諸本草云：松脂味苦，甘溫無毒，安五臟，除胃中伏火、咽乾消渴，久服輕身不老，聰耳明目，固齒潤肺，辟邪氣，去歷節風、癘風痠痛不可忍，仙家多煉服，日無倦怠，老年發白返黑。若同茯苓末煉蜜服，可以辟穀。</p>
<p>煉法：用明淨松脂十餘斤，先以長流水入砂鍋內，桑柴火煮拔三次，再淋桑灰汁，仍煮七八次，扯拔，又用好酒煮二次，完則以長流水煮過一次，扯拔色白，味不苦澀為度。陰乾，入石臼內杵搗取淨末，依方配合再搗。一日九次，須要日乾乃佳。又查熟地黃，味甘苦無毒，填骨髓五臟不足及男女勞傷，通血脈，益氣力，利耳目。一名曰地髓，久服輕身不老，黑髮增壽。服此藥忌三白，禁銀鐵器。取沉水者佳，曬乾稱用，以清油洗淨，木甑沙鍋蒸半日，入臼舂用。烏梅肉味酸平無毒，能下氣除熱，安心神，療肢體痛，生津液及好睡口乾，利筋脈，去痹消痰，治骨蒸虛勞，羸瘦，解煩毒。久服令人思睡不睡。故東垣有言：凡酸味最補元氣，謂其有收之義耳。取潤大者三五斤，以溫酒浴洗，甑內蒸熟，去核取肉，搗和前二味成丸。</p>
<p><u>鹿角霜丸</u></p>
<p>鹿角（鋸成寸段，長流水浸七日，入砂鍋內，用桑柴火煮七日夜，取出，外去粗皮，內去血穰，研細末，淨，一斤）　知母（去皮，鹽酒炒黃色，為末，淨，半斤）　生地黃（酒浸一夜，曬乾，為末，淨，四兩）　熟地黃（酒浸一夜，曬乾為末，淨，四兩）　天冬（酒浸，去心，曬乾，為末，淨，四兩）　麥冬（酒浸，去心，曬乾，為末，四兩）　當歸（全，用酒洗，為末，二兩）　何首烏（去皮，用人乳拌勻，九蒸九曬，為末，不犯鐵器，二兩）　白茯苓（去皮，為末，用水淘淨去筋膜，二兩）　麋角（製法同前，淨末，一斤）　黃柏（去皮，切為咀片，酒炒老黃色，為末，淨，半斤）</p>
<p>共為一處拌勻，煉蜜為丸，梧子大。每服五十丸，空心溫酒送下，或鹽湯送下亦好。</p>
<p><u>烏髮固本丸</u></p>
<p>何首烏（米泔水浸三宿，竹刀刮去皮，切片，方加黑豆五升，同首烏滾水泡一時，蒸熟去豆，半斤）　生地黃（酒浸，二兩）　黃精（用黑豆二升，同煮熟，去豆，忌鐵器，四兩）　熟地黃（酒浸，二兩）　天冬（去心，二兩）　麥冬（去心，二兩）　白茯苓（二兩）　赤茯苓（去皮，二兩）　片術（二兩）　人參（二兩）　五加皮（二兩）　巨勝子（二兩）　柏子仁（二兩）　松子仁（二兩）　核桃仁（二兩）　枸杞（二兩）</p>
<p>為細末，煉蜜為丸，梧子大，每眼七八十丸，空心溫酒鹽湯下。</p>
<p><u>卻老烏須健陽丹</u></p>
<p>何首烏（米泔水浸三夜，竹刀刮去皮，打碎如棋子大　赤白各一斤）　牛膝（同前何首烏，用黑豆五升，入砂鍋煎三次，為末，半斤）　枸杞（酒浸洗，曬乾，為末，半斤）　當歸（酒浸一夜，加茯半斤，半斤）　故紙（炒黃為末，五兩）　茯苓（赤者一斤，牛乳浸，白者一斤，人乳浸。俱一夜，曬乾）　菟絲子（酒浸三日，曬乾，為末，半斤）</p>
<p>上七味，各不犯鐵器，煉蜜為丸，如彈子大，日進三丸。早一丸，空心酒下；午後一丸，薑湯下；臨困一丸，鹽湯下。初服三日，小便雜色，是去五臟雜病；二十七日唇紅口生津液，再不夜起；四十七日，身軀輕健，兩乳紅潤，至一月後，鼻頭辛酸，是諸風百病皆出；四十九日，目視光明，兩手火熱，精通，白髮返黑，齒落更生，陽事強健，丹田如火，行步如飛，氣力倍加，非人不可輕泄，乃神秘之方也。</p>
<p><u>益母草丸</u></p>
<p>益母草，單一味為末，不犯鐵器，煉蜜為丸，如彈子大，每服一丸，久服亦令人有子。此先祖蘭窗公常用有驗者，其婦人胎前產後，諸疾治之皆效。加減湯引於下。本方加木香、當歸、赤芍尤佳。無子者，溫酒下；服一月其經自調（一方如上加外，又有川芎）、腹有癥瘕加三稜、莪朮。胎前產後，臍腹刺痛，胎動不安，下血不止，用水煎秦艽湯下，或當歸湯下，半夏湯亦可。</p>
<p>胎前產後，臍腹作痛有聲，寒熱往來，俱用米湯下。臨產及產後，先用一丸，及童便酒下，血氣自然調和。又能破血痛，調經絡，極效。</p>
<p>產後胎衣不下，及一切產難橫生，或死胎經日不下，脹滿心悶、心痛，炒鹽湯下。</p>
<p>產後中風，牙關緊閉，半身不遂，失音不語，童便無灰酒送下。</p>
<p>產後氣喘、咳嗽，胃膈不利，噁心嘔吐酸水，面目浮腫，兩脅腋痛，動舉無力，溫酒下。</p>
<p>產後，兩太陽痛。太陽者，前後腦也。呵欠，心悸、怔忡，氣短，肌瘦，不思飲食，血風身熱，手足頑麻，百節疼痛，米飲送下。</p>
<p>產後眼花黑暗，血暈血熱，口渴煩悶，見鬼狂言，不省人事，薄荷湯下。血崩漏，糯米湯下。</p>
<p>產後赤白帶，煎阿膠湯下。</p>
<p>產後大小便不通，煩躁口苦，薄荷湯下。</p>
<p>產後面赤顏垢，五心煩熱，或腹中血塊，腹臍奔痛，時發寒熱，有冷汗者，童便酒各半下，或溫薄荷湯下。</p>
<p>產後惡血未盡，結帶臍腹刺痛，惡氣上衝，心胸滿悶，童便溫酒各半下。</p>
<p>產後痢疾，米湯下。</p>
<p>又方三分散，用小柴胡、四物、四君子。㕮咀。產後傷寒並痢者，依方取效似神扶。產後血瀉，水煎棗湯下。產後未滿月，血氣不通，咳嗽，四肢無力，自汗、睡汗不止，月水不調，久而不治，則為骨蒸潮熱，用童便酒下。若急用時，取生者根莖花葉搗爛，調服及絞汁入水，飲亦可。又治喉閉，得吐即愈，冬來用根為最。</p>
<p>妊婦五忌：崑山顧狀元刊施二法。</p>
<p>一勿睡熱炕，南方火櫃亦同。</p>
<p>一勿食煎炒炙煿之物。</p>
<p>一勿食蔥、蒜、韭、薤、葫椒、茱萸。</p>
<p>一勿於星月下仰臥及當風洗浴坐臥。</p>
<p>一勿飲燒酒及黃酒。</p>
<p>蓋此二酒有藥，恐後妊娠所禁相反。</p>
<p>小兒五宜：</p>
<p>一小兒初生，先濃煎黃連、甘草湯，用軟絹或絲綿包指蘸藥，摳出口中惡血，氣或不及，即以藥湯灌之，待吐出惡沫，方與乳吃。令其出痘稀少。</p>
<p>一初生三五月，宜繃縛令臥，勿豎頭抱，免致驚癇。</p>
<p>一凡乳食不宜一時混吃，令兒生疳癖痞積。</p>
<p>一宜用七八十歲老人舊裙褲改小衣衫，令兒有壽。雖富貴之家，切不可新制紵綾絞羅氈絨之類與小兒服，不惟生病抑且折福。愚意，凡小兒滿月受賀宴賓，宰殺生物亦非所宜。</p>
<p>一小兒四五個月，只與乳吃，六個月以後，方與稀粥哺之。周歲以前，切不可葷腥並生冷之物，令兒多疾。若得二三歲後，臟腑稍壯，才與葷腥最好。</p>
<p><u>延年第一方</u></p>
<p>鎮江錢醫官傳。</p>
<p>小兒初生，臍帶脫落後，取置新瓦上，用炭火四周燒至煙將盡，放於土地上，用瓦盞之類蓋之存性，研為細末。預將透明硃砂為極細末，水飛過，臍帶若有五分重，乳汁一二貝殼調和，或以黃連甘草汁調亦好，調和前臍帶末、硃砂末二味，如沙糖樣，抹兒口中及乳頭，一日之內抹盡。次日兒大便遺下穢汙濁垢，終身永無瘡疥及諸胎疾，個個保全。此十分妙法也。臍帶內看有蟲當去之。</p>
<p><u>神效消毒保命丹</u>　凡小兒未出痘瘡者，每遇交春分、秋分時，服一丸，其痘毒能漸消化。若服一二次者，亦得減少。若服三年六次，其毒盡消，必保無虞。此方神秘，本不宜輕傳，但慈幼之心，自不能已，願與好生者出而共之。</p>
<p>纏豆藤（即是毛豆藤，梗上纏繞細紅絲者是也。在八月採取，陰乾，以此藥為主，妙甚，一兩五錢）　黑豆（三十粒）　赤豆（七十粒）　山楂肉（一兩）　新升麻（七錢半）　荊芥（五錢）　防風（五錢）　生地黃（一兩）　川獨活（五錢）　甘草（五錢）　當歸（酒洗，五錢）　赤芍（五錢）　連翹（五錢半）　黃連（五錢）　桔梗（五錢）　辰砂（水飛另研，一兩）　牛旁子（炒，一兩）　苦絲瓜（長五寸，留年，經霜者甚妙，燒灰存性，二個）</p>
<p>各為極細末，和勻，淨沙糖拌丸，李核大，每服一丸。濃煎甘草湯化下。其前項藥須預辦精料，遇春分、秋分、正月十五、七月十五修合，務在精誠。忌婦女、貓、犬見。合時向太陽祝藥曰：神仙真藥，體合自然，嬰兒吞服，天地齊年。吾奉太上老君急急如律令勅！一氣七遍。</p>
<p>凡初生小兒，口齦發牙根白黑，名曰馬牙，不能食乳。此與鵝口不同，少緩即不能救，多致夭殤。急用針縛筋，將白黑挑破出血。用好金墨磨薄荷湯，以手指碾母油發，蘸墨遍口擦之。勿令食乳。待睡一時，醒方與乳，再擦之即愈。</p>
<p>（牛黃抱龍丸）　此屢服驗方，治一切急慢驚風及風熱風痰。用薄荷湯磨服一丸，兒小作二三次服。</p>
<p>牛膽南星（八錢）　雄黃（一錢半）　辰砂（一錢二分）　鉤藤（一兩半）　人參（一錢半）　天竺黃（二錢半）　茯苓（一錢半）　牛黃（二分）　麝香（五分）</p>
<p>為末服，將甘草四兩，銼細，用水二大碗，煎成膏一盞，入藥末內，丸如芡實大，金箔為衣，陰乾藏之，勿令泄氣，每近微火邊。</p>
<p>上附方有驗及人所服驗者，皆秘也，茲具開錄，以廣前方之所未備。蓋人之稟養不齊，病亦隨異，故方各有所宜，在人活變而用之耳。</p>
<p><u>萬靈膏</u></p>
<p>香油（四斤）　槐　柳　桃　榴　椿　杏　楊（各二枚）　兩頭尖　白芷　赤芍　大黃　人參　黃連　白芍　草烏　苦參　川芎　生地黃　川椒　胎髮　穿山甲　熟地黃　槐子　杏仁（各一兩）　當歸（二兩）　蓖麻（去皮，一百三十粒）　巴豆（去皮，一百二十粒）　黃柏（去皮，一兩）　木鱉（去皮，五十個）</p>
<p>上二十二味，俱㕮咀如麻豆大，入香油內浸，春五夏三秋七冬十日。黃香十二兩，黃丹（二斤水飛澄，火焙七次）、阿魏、沉香、丁香、麝香、血竭各一兩，木香八兩，乳香、沒藥各三兩。</p>
<p>上阿魏八味，俱為細末，先將香油並藥入銅鍋內熬焦，將藥鍋取下，溫冷用生絹過淨，將藥再下黃丹，用槐、柳等枝不住手攪，此時用燒火宜慢，常滴藥在水中，成珠不散，入黃香，將鍋取下冷片時，減火性，乃下阿魏等八味，攪勻，化開貼患如神。</p>
<p><u>柴胡三稜飲</u>　治小兒食積。</p>
<p>柴胡　神麯　黃芩　莪朮　人參　三稜　枳實　陳皮　半夏　烏梅　青皮　茯苓　厚朴　檳榔　甘草　姜（三片）　草果仁（二瓣）</p>
<p>水煎。</p>
<p><u>黃連磨積丸</u>　治遺精。</p>
<p>滑石　黃柏</p>
<p>為末，秋冬煉蜜，春夏麵糊為丸，梧子大，每服七十九，滾水下。</p>
<p><u>治腸風下血</u></p>
<p>槐角（一兩）</p>
<p>水一盞。煎半盅。</p>
<p><u>治風瘡疥瘡</u></p>
<p>香油（一盅）　豬油（半兩）　黃柏　苦參　頭髮　雞子皮　黃蠟</p>
<p>以上諸藥，在鍋內煎化頭髮後，用水銀、猩紅、枯礬、木鱉、大風子、蛇床子、人言、硫黃、雄黃、花椒、吳茱萸，俱為細末，入前藥內調搽。</p>
<p><u>治喉痛生瘡</u></p>
<p>內用涼隔散加防風　牛蒡子　射干　升麻</p>
<p><u>治瘡吃藥</u></p>
<p>生地黃　黃柏　黃耆　防風　荊芥　當歸　梔子　白蒺藜　蒼朮　川芎　赤芍　甘草　大黃</p>
<p>水煎。</p>
<p><u>治頭瘡</u></p>
<p>石螺（去殼，留肉）　白蠟（五錢）　香油（二兩）　松香（五錢）</p>
<p>二味將油煮滾，入白蠟、松香，入油內，成膏。</p>
<p><u>治九種心痛</u></p>
<p>莪朮　三稜　青皮　陳皮　益智仁　桔梗　藿香　肉桂　甘草　香附　檳榔</p>
<p>為咀片，白水煎。孕婦不可服。</p>
<p><u>治痢疾</u></p>
<p>梧桐子　訶子肉（各一兩）　枯礬（二錢）</p>
<p>細末。醋糊丸，梧子大，每服三十丸。紅痢甘草湯下；白痢乾薑湯下。二次止。</p>
<p><u>牙疼</u></p>
<p><u>牙痛獨活散</u></p>
<p>木通　玄胡　羌活　獨話　川芎　防風（各一錢）</p>
<p>水煎。</p>
<p><u>治便毒</u></p>
<p>金銀花　穿山甲　木鱉子（去油）　白芨　天燈心　殭蠶　全蠍（去毒）　常山　大黃　連翹　細辛　牛膝　漏蘆　乳香　沒藥（藥煎熱方下此二味）</p>
<p>水、酒各一盅，煎服。</p>
<p><u>治癩瘰</u></p>
<p>新剃頭時，用白糖滿頭搽上後，用活螺螄搗爛附上，幹一層再加一層。</p>
<p><u>治蟲牙痛</u></p>
<p>用黃蠟少許，在鍋內化開，用艾葉小大三皮、人言少許，同處為丸，又用鵝繭一個盛之。如疼在左，放蠟丸在左，右疼痛安右。</p>
<p><u>治嗽</u></p>
<p>用桑白皮、蘿蔔，共一處，水煎，露一夜，清晨溫熱服之。</p>
<p><u>治風牙</u></p>
<p>用川烏一片，放清油內蘸過燒紅，放於牙上立效。</p>
<p><u>治痔漏瘡方</u></p>
<p>蓮蕊（二錢）　歸尾（焙乾，一兩）　大黃（一兩半）　乳沒　猩紅（各一錢）　文蛤　黑白醜（各一兩）</p>
<p>為細末，每服四錢，獖豬肉湯下。四更服之，四時下蟲，如無下蟲，爛肉為度。</p>
<p><u>固齒搽牙散</u></p>
<p>骨碎補（炒黑，一兩）　青鹽（五錢）　食鹽（五錢）　花椒（五錢）</p>
<p>為末搽之。</p>
<p><u>頭風方</u></p>
<p>川芎（三錢）　柴胡（一錢）　石菖蒲　防風　藁本　生甘草　升麻（各一錢）　熟甘草　生地黃（酒浸，各一錢）　黃連（酒炒）　黃芩（酒炒，各四錢半）</p>
<p>為末，每服二錢。食後真茶湯送下。</p>
<p><u>楊文宇治天行熱病方</u></p>
<p>柴胡（熱潮將息者一錢，未息者一錢半）　黃芩（一錢半，加多亦可）　半夏（九分或一錢）　白茯苓（九分）　枳實（一錢，未下者錢半）　厚朴（五分）</p>
<p>頭痛胸痛者，加川芎五分，有斑先服青黛三錢，水化服，後服藥，姜三片為引；已經下者，加大棗一個為引，未下者不用。</p>
<p><u>中滿腫脹方</u></p>
<p>人參（三分）　白朮（一錢）　茯苓（六分）　黃芩（五分）　麥冬（八分）　木通（五分）　厚朴（三分）　紫蘇葉（三分）　海金沙（五分）</p>
<p><u>膈噎方</u></p>
<p>生地黃（水洗，一錢三分）　當歸（酒洗，八分）　白芍（一錢）　川芎（七分）　陳皮（八分）　紅花（三分）　桃仁（五分）　甘草（炙，五分）</p>
<p>水煎，初服二三劑時，定有一反，反後即愈。當多服一二十劑。若動火，加黃芩、青皮各五分；有別症隨宜加藥。</p>
