<header data-type="book">
<h1>傷寒總病論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龐安石</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM083</dd></div>
</dl>
</header>
<h2>傷寒總病論卷一</h2>
<h3>敘論</h3>
<p>龐曰，素問云，冬三月是謂閉藏，水冰也地裂，無擾乎陽，又云，彼春之暖，為夏之暑，彼
秋之忿，為冬之怒，是以嚴寒冬令，為殺厲之氣也，故君子善知攝生，當嚴寒之時，周密居
室而不犯寒毒，其有奔馳荷重，勞房之人，皆辛苦之徒也，當陽氣閉藏，反擾動之，令鬱發
腠理，津液強漬，為寒所搏，膚湊反密，寒毒與榮衛相渾，當是之時，勇者氣行則已，怯者
則著而成病矣，其即時成病者，頭痛身疼，肌膚熱而惡寒，名曰傷寒，其不即時成病，則寒
毒藏於肌膚之間，至春夏陽氣發生，則寒毒與陽氣相搏於榮衛之間，其患與冬時即病候無異，
因春溫氣而變，名曰溫病也，因夏暑氣而變，名曰熱病也，因八節虛風而變，名曰中風也，
因暑濕而變，名曰濕病也，因氣運風熱，相搏而變，名曰風溫也，其病本因冬時中寒，隨時
有變病之形態爾，故大醫通謂之傷寒焉，其暑病濕溫風溫，死生不同，形狀各異，治別有法。
龐曰，天寒之所折，則折陽氣，足太陽為諸陽主氣，其經夾脊膂，貫五臟六府之腧，上入腦，
故始則太陽受病也，以其經貫五臟六府之腧，故病有臟府傳變之候，以其陽經先受病，故次
第傳入陰經，以陽主生，故足太陽水傳足陽明土，土傳足少陽木，為微邪，以陰主殺，故木
傳足太陰土，土傳足少陰水，水傳足厥陰木，至第六七日，當傳足厥陰，肝木必移氣克於脾
土，脾再受賊邪，則五臟六府皆危殆矣，榮衛不通，耳聾囊縮，不知人則死，速用承氣湯下
之<span data-rev="注"><small class="雙行夾注">方在可下證中</small></span>，則可保五死一生，勿從容拯溺，令病人水漿不入，湯液不下，無可柰何
也，素問云，脾熱病則五臟危，又云，土敗木賊則死，若第六七日傳厥陰，脈得微緩微浮，
其證寒熱似瘧，此為必愈，宜桂枝麻黃各半湯和之<span data-rev="注"><small class="雙行夾注">方在可汗證中</small></span>，微緩微浮為脾胃脈也，
故知脾氣全不再受克，邪無所容，否極泰來，榮衛將復，水升火降，則寒熱作而大汗解矣，
人將大汗必冒昧者，若久旱天將時雨，六合皆至昏昧，雨降之後，草木皆蘇，庶物明淨，玉
冊所謂換陽之吉證也。</p>
<p>王叔和云，土地溫涼，高下不同，物性剛柔，餐居亦異，以黃帝興四方之問，歧伯立四治之
能，以訓後賢，開其未悟，臨病之工，宜兩審之。
龐曰，叔和非醫之圓機，孰能臻此也，如桂枝湯自西北二方居人，四時行之，無不應驗，自
江淮間地偏暖處，唯冬及春可行之，自春末及夏至以前，桂枝麻黃青龍內宜黃芩也，自夏至
以後，桂枝內故須隨證增知母、大青、石膏、升麻輩取汗也，若時行寒疫及病人素虛寒者，
正用古方，不在加減矣，夏至以後，雖宜白虎，詳白虎湯自非新中暍而變暑病，乃汗後解表
藥耳，一白虎未能驅逐表邪故也，或有冬及始春，寒甚之時，人患斯疾，因汗下偶變狂躁不
解，須當作內熱治之，不拘於時令也，南方無霜雪之地，不因寒氣中人，地氣不藏，蟲類泄
毒，嵐瘴間作，不在此法，治別有方也，又一州之內，有山居者為居積陰之所，盛夏冰雪，
其氣寒，腠理閉，難傷於邪，其人壽，其有病者多中風中寒之疾也，有平居者為居積陽之所，
嚴冬生草，其氣溫，腠理疏，易傷於邪，其人夭，其有病者多中濕中暑之疾也，凡人稟氣各
有盛衰，宿病各有寒熱，因傷寒蒸起宿疾，更不在感異氣而變者，假令素有寒者，多變陽虛
陰盛之疾，或變陰毒也，素有熱者，多變陽盛陰虛之疾，或變陽毒也。
龐曰，四時之中，有寒暑燥濕風火相搏喜變諸疾，須預察之，其飲食五味禽魚蟲菜果實之屬，
性偏有嗜者，或金石草木，藥素嘗有餌者，人五臟有大小、高下、堅脆，端正偏傾，六府亦
有大小、長短、厚薄、緩急，令人終身長有一病者，貴者後賤，富者乍貧，有常貴，有常富，
有暴富，有暴貧，有暴苦，有始樂後苦，有離絕蘊結，憂恐喜怒者，夫常貴後賤，名曰脫營，
常富後貧，名曰失精，暴樂暴苦，始樂後苦，精竭體沮，脫勢侯王，精神內傷，情慕尊貴，
妄為喪志，始富後貧，焦皮攣筋，常富惡勞，驕墮精消，離間親愛者魂遊，絕所懷者意喪，
所慮者神勞，結怨恨者志苦，憂愁者閉塞而不行，盛怒者迷惑而不治，恐懼者蕩憚而不收，
喜樂者撣散而不藏，此皆非外邪所中，而得之於內也，良工必預審問其由，先知臟府經絡受
病之所，可舉萬全，工不思曉，令五臟六府血氣離守，迨至不救，又何言哉。
龐曰，陰陽虛盛者，非謂分尺寸也，榮衛者，表陽也，腸胃者，裏陰也，寒毒爭於榮衛之中，
必發熱惡寒，尺寸俱浮大，內必不甚躁，設有微煩，其人飲食欲溫而惡冷，謂陽虛陰盛也，
可汗之則愈，若誤下則死也，若寒毒相薄於榮衛之內，而陽勝陰衰，極陰變陽，寒盛生熱，
熱氣盛而入裏，熱毒居腸胃之中，水液為之乾涸，燥糞結聚，其人外不惡寒，必蒸蒸發熱而
躁，甚則讝語，其脈浮滑而數，或洪實，或汗後脈雖遲，按之有力，外證已不惡寒，腹滿
而喘，此皆為陽盛陰虛，當下之則愈，若誤汗則死也，仲景載三等陽明，是陽盛陰虛證矣，
調經論云，陽虛則外寒，陰虛則內熱，陽盛則外熱，陰盛則內寒，以此別之，若陰獨盛而陽
氣暴絕，必四肢逆冷，臍築湊痛，身疼如被杖，面青，或吐，或利，脈細欲絕，名曰陰毒也，
須急灸臍下，服以辛熱之藥，令陽氣復生，濈然汗山而解也，若陽獨盛而陰氣暴絕，必發躁
狂走，妄言面赤，咽痛，身班班如錦文，或下利赤黃，脈洪實，或滑促，名曰陽毒也，宜用
針泄熱，服以苦酢之藥，令陰氣復生，濈然汗出而解也。
龐曰，夫邪逆陰陽之氣，非汗不能全其天真，素問云，辛甘發散為陽，謂桂枝、甘草、細辛、
薑、棗、附子之類，能復陽氣也，酸苦湧泄為陰，謂苦參、大青、葶藶、苦酒、艾之類，能
復陰氣也，酸苦之藥，既折熱復陰，亦當小汗而後利者，經云，身汗得而後利，則實者可活
是也。</p>
<p>華佗治法云，傷寒病起自風寒入於腠理，與精氣分爭、榮衛否鬲，周行不通，病一日至二日，
氣在孔竅皮膚之間，故病者頭痛惡寒身熱，腰背強重，此邪氣在表，隨證發汗則愈。
龐曰，凡發汗須如常覆腰以上，厚衣覆腰以下，以腰足難取汗故也，半身無汗，病終不解，
凡發汗後，病證仍存，於三日內，可二三發汗，令腰腳周遍為度，若病不解，便可下之，設
令下後不解，表裏邪亦衰矣，足觀脈證調治，七日內可期正汗為善也，發汗後不可再行汗者，
始發熱惡寒，今不惡寒，但倍發熱而躁，始脈浮大，今洪實，或沈細數，始惺靜，今狂語，
此胃實陽盛，再行汗藥即死，須當下之，有人始得病變陽盛之證，須便下之，不可拘日子深
淺次第也，病三日以上，氣浮上部，填塞胸心，故頭痛胸中滿，或多痰涎，當吐之則愈。
龐曰，若虛損及新產人，不能吐者，可服枳實散，<span data-rev="注"><small class="雙行夾注">枳實細末，米飲調貳錢，日可三四服</small></span>，
若有虛寒，手足冷及脈微弱者，枳實貳兩加桂枝壹兩，同末之，如前服。
病五六日以上，氣結在臟府，故腹滿身重，骨節煩疼，當下則愈，若小便少，手足心并腋下
不滋潤，尚未可攻之，當消息其候，不可亂投湯藥，虛其胃氣也。<span data-rev="注"><small class="雙行夾注">以上解華佗治法</small></span></p>
<h3>太陽證</h3>
<p>尺寸俱浮者，太陽受病也，一二日發，以上連風府，故頭項痛而腰脊強。<span data-rev="注"><small class="雙行夾注">此是太陽膀胱經，
屬水，病源云小腸者，非也。</small></span></p>
<p>太陽病發熱，汗出惡風，其脈緩者，名為中風，太陽病或已發熱，未發熱，必惡寒，體痛，
脈陰陽俱緊者，名為傷寒。</p>
<p>傷寒一日，太陽受之，脈若靜者，為不傳，頗欲吐，若煩躁，脈數急者，為傳也。</p>
<p>傷寒二三日，陽明少陽證不見者，為不傳也，病發熱而惡寒，邪發於陽也，不熱而惡寒者，
邪發於陰也，發於陽者七日愈，發於陰者六日愈，陽數七陰數六故也。<span data-rev="注"><small class="雙行夾注">發於陽者，隨證用汗
藥攻其外，發於陰者，用四逆輩溫其內。</small></span></p>
<p>太陽病，頭痛至七日以上自愈者，其經竟故也，若欲作再經者，針足陽明，使經不傳。<span data-rev="注"><small class="雙行夾注">補足
陽明土，三里穴也。</small></span></p>
<p>風者解表而不了了者，十二日愈。<span data-rev="注"><small class="雙行夾注">方言曰，南楚疾愈，或謂之差，或謂之了。</small></span></p>
<p>太陽病初服桂枝湯，反煩不解，先刺風池風府，卻與桂枝湯則愈。</p>
<p>太陽病自汗，四支難以屈伸，若小便難者，可與陽旦證內加附子壹枚，炮，去皮尖，八破同
煎服之。<span data-rev="注"><small class="雙行夾注">陽旦即桂枝湯異名</small></span></p>
<p>若小便數者，慎不可行此湯，宜用芍藥甘草湯，若誤行桂枝附子湯攻表，則咽乾煩躁，厥逆
嘔吐者，作甘草乾薑湯與之，以復陽氣，若厥愈足溫，更與芍藥甘草湯，其腳即伸，若胃氣
不和，讝語者，少與調胃承氣湯，微溏則讝語止。</p>
<p>芍藥甘草湯：主脈而自汗，小便數，寸口脈浮大，浮為風，大為虛，風則生微熱，虛則兩脛攣，
小便數，仍汗出，為津液少，不可誤用桂枝湯，宜補虛退熱通治，誤服湯後，病證仍存者。<span data-rev="注"><small class="雙行夾注">按
古之參兩，准今之壹兩，古之參升，今之壹升，若以古方裁減，以合今升，秤則銖兩，升合
之分毫，難以從俗，莫若以古今升秤均等，而減半為一劑，稍增其枚粒，乃便於俗爾，且仲
景方云，一劑盡，病證猶在者，更作減半之劑，此古方一劑入加其半，庶可防病未盡而服之
也，有不禁大湯劑者，再減半亦得，肘後所謂或以壹分為兩，或以貳銖為兩，以盞當升可也，
貧家難辦，或臨時抄撮皆可，麤末每抄五錢，水兩平盞，煎八分服之，有薑棗者，每服入薑
三片，棗三枚，一日三服，未中病可六七服也，有不可作煮散者，是病勢大，宜依古方行之，
凡湯一劑，有附子一枚，增半之劑，合用附子一枚半，古方不析枚者，是枚力要完也，半兩
以上，大附子可當一枚半，四錢以下者，可用枚為准，枚傷多不妨，仲景云，強人可加附子
成兩枚是也。</small></span></p>
<p>芍藥、甘草〔各貳兩半〕，
細剉，水壹升半，煎七合半，去滓，溫溫分再服。
甘草乾薑湯，
甘草〔貳兩〕、乾薑〔壹兩〕，
煎如前方。</p>
<p>調胃承氣湯，
大黃〔壹兩〕、甘草〔半兩〕、芒消〔壹大合〕，
細剉，水壹升，煎上二味至五合，去滓，下芒消烊化，暖服壹盞，微溏為度，如難利者，再
與一劑，太陽病汗證，反下之，遂利不止，脈促，表未解也，喘而汗出者，葛根黃芩湯主之。
黃芩〔參錢〕、黃連〔參兩〕、甘草〔半兩〕、乾葛〔貳兩〕，
細剉，水壹升半，煎七合半，去滓，溫飲壹盞，日三服。</p>
<h3>陽明證</h3>
<p>尺寸俱長者，陽明受病也，當二三日發，以其脈夾鼻，絡於目，故身熱目痛鼻乾，不得臥<span data-rev="注"><small class="雙行夾注">此
證惡寒可發汗，若惡寒罷，反自汗惡熱者，為胃家實，屬正陽明，宜調胃承氣湯，方在太陽
證下</small></span>。</p>
<p>龐曰，有三陽陽明者，其太陽陽明本太陽病，若發汗，若下，若利小便，此亡津液，胃中乾
燥，因轉屬陽明也，少陽陽明者，本傳到少陽，因發汗利小便已，胃中燥，大便難也，正陽
陽明者，病人本風盛氣實，津液消鑠，或始惡寒，汗出多，寒罷而反發熱，或始得病便發熱
狂言也。</p>
<p>凡陽明證俱宜下，唯中寒惡寒為病在經，與太陽合病屬表，可發其汗。</p>
<p>二陽合病，脈必浮大而長，外證必頭痛腰疼，肌熱目疼鼻乾也，浮大者，太陽受病也，長者，
陽明也，頭腰，太陽也，肌目鼻，陽明也。</p>
<p>二陽併病，太陽證罷，但發潮熱，手足(僅)(僅)汗出，大便難而讝語者，大承氣湯下之
則愈<span data-rev="注"><small class="雙行夾注">方在可下證中</small></span>。</p>
<p>二陽併病，太陽初得時，發其汗，汗先出復不徹，因轉屬陽明，自微汗不惡寒，若太陽證不
罷不可下，下之為逆，如此者，可小發其汗，設面色正赤者，陽氣怫鬱，在表當解之蒸之，
若汗出不徹，當短息不足，言陽氣怫鬱不得越，當汗出而不汗，其人短氣，但坐以汗出不徹
故也，宜麻黃湯，更發其汗即愈，何以知其汗不徹，其脈澀故知也<span data-rev="注"><small class="雙行夾注">方在可汗證中，古本字多
差誤，以從來所見病人證候中，符合如此，故改正</small></span>，陽明病能食為中風，不能食為中寒。
陽明病中寒，脈浮無汗，其人必喘，發汗則愈，宜麻黃湯<span data-rev="注"><small class="雙行夾注">方在可汗證中</small></span>。</p>
<p>陽明病，脈遲，汗出多，微惡寒者，表未解，發汗則愈，宜桂枝湯<span data-rev="注"><small class="雙行夾注">方在可汗證中</small></span>。</p>
<p>陽明病，脈遲，汗出多，微惡寒者，表未解，發汗則愈，宜桂枝湯<span data-rev="注"><small class="雙行夾注">方在可汗證中</small></span>，若不惡
寒，為外欲解，手足濈然汗出者，大便已鞕，宜大承氣湯<span data-rev="注"><small class="雙行夾注">方在可下證中</small></span>。</p>
<p>陽明病有不可攻者，謂陽明病心下鞕滿者不可攻，攻之利不止者死，利止者愈。</p>
<p>陽明病或發汗，或自汗，大便雖鞕，小便少者未可攻，津液恐還入胃，必先鞕後溏也，
小便自如，乃可攻之，陽明中風，口苦咽乾，腹滿微喘，發熱惡寒，其脈浮緊，若下之則腹
滿，小便難也<span data-rev="注"><small class="雙行夾注">此證必無汗，與後證相似，且惡寒無汗為異，以咽乾腹滿，亦不宜正與汗藥，
別與消詳也</small></span>。</p>
<p>陽明病脈浮而緊，咽乾口苦，腹滿而喘，發熱汗出，不惡寒而反惡熱身重，若發汗，則煩躁
憒憒，反讝語，若加溫針，必怵愓煩躁不得眠，若下則胃中空虛，客氣動鬲，心中懊憹，
苔生舌上者，梔子香豉湯主之。</p>
<p>肥梔子〔拾枚〕、香豉〔貳合〕，
水貳升，煮梔子減半，下豉再煮捌合，去滓，溫服壹盞，得快吐者，止後服。</p>
<p>脈浮緊，必無汗，而反有汗咽燥，腹滿惡熱，法當下之，而又脈浮緊，不當下，此恐變風溫，
宜細詳，陽明病口鼻燥，但漱水而不欲嚥者，必衄。</p>
<h3>少陽證</h3>
<p>尺寸俱弦者，少陽受病也，當二三日發，以其脈上循脅，絡於耳，故胸脅痛而聾，<span data-rev="注"><small class="雙行夾注">足少陽膽，
屬木，弦者，細長如琴弦狀，仲景云，脈浮而緊曰弦，非謂此弦脈也，凡傷寒脈浮緊相載，
皆屬弦之類也，有屬太陽，有屬陽明者，少陽正得弦脈，體是小弦長大脈也，多宜和表，鮮
有汗證。</small></span></p>
<p>少陽之證，口苦咽乾，目眩也。</p>
<p>此三陽經皆病，未入於藏，可汗而解，<span data-rev="注"><small class="雙行夾注">仲景少陽證唯小柴胡，乃和表藥耳。</small></span></p>
<p>弦細，頭痛發熱，屬少陽，宜小柴胡湯，不可發汗，發汗則讝語，此屬胃，胃和則愈，不
和則煩而躁，宜調胃承氣湯，此屬少陽陽明證也。<span data-rev="注"><small class="雙行夾注">方在太湯證中</small></span></p>
<p>本太陽病不解，轉入少陽者，脅下鞕滿，乾嘔不能食，往來寒熱，尚未可吐下，脈緊者，
小柴胡湯主之。<span data-rev="注"><small class="雙行夾注">少加牡蠣</small></span></p>
<p>若已吐下發汗，溫針讝語，小柴胡湯證罷，此為壞病，知犯何逆，以法治之。<span data-rev="注"><small class="雙行夾注">知犯何逆
者，犯四種溫病，壞候也。</small></span></p>
<p>少陽中風，兩耳微聞，目赤，胸中滿而煩，不可吐下，吐下則驚悸，小柴胡湯主之。<span data-rev="注"><small class="雙行夾注">方在和
表證中</small></span></p>
<p>三陽合病，脈浮大，上關上，但欲眠睡，合目則汗。<span data-rev="注"><small class="雙行夾注">不言弦者，隱於長大也。</small></span></p>
<p>三陽合病，面垢讝語，腹滿身重，不能轉側，遺尿，發汗則讝語，下之則額上生汗，
手足逆冷，若自汗者，宜白虎湯。<span data-rev="注"><small class="雙行夾注">方在厥陰證中</small></span></p>
<p>傷寒四五日，或六七日，無大熱，其人躁悶，此為陽去入陰也。</p>
<p>傷寒三四日，陽為盡，三陰當受邪，其人反能食而不嘔，此為三陰不受邪也。<span data-rev="注"><small class="雙行夾注">病到陰必吐利</small></span></p>
<p>傷寒三日，少陽脈小者，欲愈也。<span data-rev="注"><small class="雙行夾注">小而平勻者也</small></span></p>
<h3>太陰證</h3>
<p>尺寸俱沈細者，太陰受病也，當四五日發，其經布胃中，絡於嗌，故腹滿而嗌乾，宜大承氣
湯下之。<span data-rev="注"><small class="雙行夾注">方在可下證中</small></span></p>
<p>太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛，若下之，必胸下結鞕自利，不渴
者屬太陰，其藏有寒故也。<span data-rev="注"><small class="雙行夾注">當溫之以四逆輩</small></span></p>
<p>傷寒三日，太陽脈弱，至四日，太陰脈大，<span data-rev="注"><small class="雙行夾注">脈大而胸滿多痰者，宜吐之，無此證者，宜汗之，</small></span>
傷寒脈浮緩，<span data-rev="注"><small class="雙行夾注">亦大之類，</small></span>手足自溫者，繫在太陰，小便不利者，必發黃，<span data-rev="注"><small class="雙行夾注">五苓散加茵蔯主
之</small></span>，若小便自利者，不能發黃，至七八日，雖暴煩下利，日十餘行，必自止，以脾家實，腐
穢當去故也，橘皮湯主之。</p>
<p>五苓茵蔯散，
以茵蔯濃煎湯，調五苓散貳錢服之，日三四，黃從小便下，以小便清為度。</p>
<p>橘皮湯，
橘皮〔壹兩〕、生薑〔貳兩〕，
細剉，水壹升半，煎七合，去滓，分貳服，稍熱呷，未差，再作服。</p>
<p>本太陽病，醫反下之，因爾腹滿時痛者，屬太陰也，桂枝芍藥湯主之。
桂枝〔壹兩半〕、芍藥〔參兩〕、甘草〔壹兩〕、大棗〔陸枚〕、生薑〔壹兩半〕，
㕮咀，以水參升，煮取壹升半，去滓，每溫壹盞，日參服，<span data-rev="注"><small class="雙行夾注">注云，小建中湯不用飴糖，
故芍藥為君，止痛復利邪故也</small></span>。</p>
<h3>少陰證</h3>
<p>尺寸俱沉者，少陰受病也，當五六日發，以其經貫腎，絡於肺，繫舌本，故口燥舌乾而渴，
大承氣湯下之。<span data-rev="注"><small class="雙行夾注">方在可下證中</small></span></p>
<p>少陰之為病，脈微細於寐也。</p>
<p>少陰中風，陽微陰浮，為欲愈也。</p>
<p>凡少陰病四逆者，宜溫之。</p>
<p>少陰病始得之，反發熱脈沉者，麻黃細辛附子湯主之。
麻黃〔貳兩〕、細辛〔貳兩〕、附子〔壹枚〕，
㕮咀，以水三升，先煮麻黃十數沸，去上沫，內諸藥，煮取壹升，去滓，每溫壹盞，日三
服。</p>
<p>少陰病得之二三日，麻黃附子甘草湯微汗，以二三日無陽證，故微發汗也，<span data-rev="注"><small class="雙行夾注">謂初得病二三日，
常見少陰證，無陽者，須發小汗也</small></span>。
麻黃〔貳兩〕、甘草〔貳兩〕、附子〔壹枚〕，
㕮咀，以水參升，先煮麻黃十數沸，去上沫，內諸藥，煮取壹升半，去滓，每溫一盞，日
三服。</p>
<p>龐曰，少陰病脈沉，不知何沉也，且沉緊發汗則動經，沉數為病在裏，不可發汗，詳此脈或
沉而濡，或沉而微，是表中寒而裏不消，脈應裏而發熱在表，故以小辛之藥，溫散而微，微
取汗也。</p>
<p>少陰病吐利，手足不逆冷，發熱者不死，脈不至者，灸少陰七壯，<span data-rev="注"><small class="雙行夾注">太谿穴在內踝後跟骨上，
動脈陷中，言發熱者，謂其身發熱也</small></span>。</p>
<p>少陰病吐利煩躁，四逆者死，<span data-rev="注"><small class="雙行夾注">煩躁者，內煩躁也，與茱萸湯，證宜細審其生死也</small></span>。</p>
<p>少陰病惡寒而倦，<span data-rev="注"><small class="雙行夾注">居員切</small></span>，時時自煩，不欲厚衣，宜大柴胡湯。<span data-rev="注"><small class="雙行夾注">方在可下證中</small></span></p>
<p>少陰病四逆，惡寒而自倦，脈不至而吐利，煩躁者死，<span data-rev="注"><small class="雙行夾注">重詳定此</small></span>。</p>
<p>少陰病下利，利止而眩，時自冒者死，<span data-rev="注"><small class="雙行夾注">此合是少陰冒昧，汗濈出，脈勻小浮者生，少陰無眩
冒之證</small></span>。</p>
<p>少陰病六七日，息高者死。</p>
<p>少陰病脈微細沉，但欲臥，汗出不煩，自欲吐，至五六日自利，復煩躁不得臥寐者死。</p>
<p>少陰病得之二三日以上，心中煩不得者，黃連阿膠湯主之。</p>
<p>黃連〔壹兩〕、黃芩〔壹分〕、芍藥〔壹分〕、雞子黃〔半枚〕、阿膠〔炙、參分為末〕，
以水貳升，先煮三物，取壹升，去滓，內阿膠烊盡，小冷內雞子黃，攪令相得，溫溫一盞，
日三四服。</p>
<p>少陰病下利清水，色純清，心下必痛，口乾燥者，大承氣湯下之。<span data-rev="注"><small class="雙行夾注">方在可下證中</small></span></p>
<p>少陰病吐利，手足厥冷，煩躁欲死者，茱萸湯主之。</p>
<p>茱萸〔壹兩半、湯洗三遍〕、人參〔參分〕、生薑〔壹兩半〕、大棗〔參個〕，
以水參勝半，煮取壹勝半，去滓，每溫一盞，日參服。</p>
<p>少陰病咽痛者，桔梗甘草湯主之。
桔梗〔半兩〕、甘草〔壹兩〕，
細剉，水壹勝，煎半勝，去滓，作參服，細呷之。</p>
<p>又半夏散亦主之，
半夏〔湯洗七遍〕、桂枝〔去皮〕、甘草〔炙〕，
右各等分，各別搗篩，已合治之，每服參錢，水壹盞半，煎至八分，溫冷少少嚥之。</p>
<p>少陰病下利清穀，裏寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤，或腹痛，或乾
嘔，或咽痛，或利止脈不出者，通脈四逆湯主之。
甘草〔壹兩〕、附子〔大者半個，強人加半個〕、乾薑〔參分，強人加壹兩半〕，
細剉，水參升，煎至壹升，去滓，每溫服一盞，日三四服，未差，急便作一劑，不可作煮散，
其脈續續出者愈，暴出者死，面赤者加連須蔥四莖去青，腹痛去蔥，加芍藥壹兩，嘔者加生
薑壹兩，咽痛者去芍樂，加桔梗半兩，利止脈不出者，去桔梗加人參半兩，病與方皆相應者，
乃與服之。</p>
<p>少陰病下利六七日，咳而嘔渴，心煩不得眠者，宜豬苓湯。
豬苓、茯苓、澤瀉、滑石、阿膠〔各半兩〕，
㕮咀，以水貳升，先煮四物，取壹升，去滓，內阿膠末烊盡，每溫一盞服。</p>
<p>少陰病下利，咽痛胸滿心煩，豬膚湯主之。
豬膚〔半斤〕，
以水五升，煮取貳升半，去滓，加白蜜半升，白粉貳合半，熬香，和令相得，每溫服一盞，
日三四服。</p>
<p>少陰病四逆，其人或欬或悸，或小便不利，或腹中痛，或泄利下重者，四逆散主
之。
甘草、枳實、柴胡、芍藥〔各伍分〕，
搗篩為細末，白飲和服方寸匕，日三服，欬者加五味子，乾薑，炮，各貳分半，並主下利，
悸者加桂貳分半，小便不利者，加赤茯苓貳分半，腹痛者加附子壹箇，炮，去皮臍，泄利下
重者，先以水參升，薤白壹升半，煮取貳升，去滓，以散方寸匕，用薤白湯一盞，煎八分，
日三四服。</p>
<h3>厥陰證</h3>
<p>尺寸俱微者，厥陰受病他，六七日發，以其脈循陰而絡於肝，故煩滿而囊縮。<span data-rev="注"><small class="雙行夾注">微緩者囊必不
縮，若外證發熱惡寒，似瘧為欲愈候，宜桂枝麻黃各半湯也，若尺寸俱沉短者，囊必縮，宜
承氣湯下之，方在可下證中。</small></span>
厥陰之為病，消渴，氣上衝心，中痛熱，飢而不欲食，食則吐蚘，下之利不止，烏梅丸主之。
傷寒脈微而厥，至七八日膚冷，其人躁無暫安者，此藏厥，非蚘厥也，蚘厥者，其人當吐蚘，
令病者靜而復煩也，此藏寒，蚘上入其鬲，故煩，須臾復止，得食而嘔，又煩者，蚘聞食臭
即出，其人常自吐蚘，蚘厥者，烏梅丸主之，又治久痢。<span data-rev="注"><small class="雙行夾注">藏厥宜四逆輩，極冷服之。</small></span>
烏梅〔壹百伍拾個〕、乾薑〔伍兩〕、黃連〔捌兩〕、當歸〔貳兩〕、川椒、桂枝、附子、人參、
黃蘗、細辛〔各參兩〕，
異擣篩合治之，以苦酒浸烏梅一宿，去核蒸之，貳斗米下飯，熟擣成泥，和藥令相得，內臼
中，與蜜再杵二千下，丸如梧桐子大，先食飲服十丸，日三服，稍加至二十丸，禁生冷滑臭
食物等。
厥陰中風，脈微浮者為欲愈，不浮為未愈。
脈遲，反以黃芩湯得徹其熱，腹中應冷，當不得食，今反能食，此為除中，必死。
先厥後發熱，下利必自止，而反汗出咽痛者，其喉為痺，發熱無汗，其利自止，若不止，必
便膿血者，其喉不痺。
龐曰，熱少微厥，指頭寒，嘿嘿不欲食，煩躁數日，小便自如，此熱除也，宜乾薑甘草湯。<span data-rev="注"><small class="雙行夾注">方
在太陽證中</small></span>
龐曰，手足逆冷，皆屬厥陰，不可下亦不可汗，有須下證者，謂手足雖逆冷，或有溫時，手
足雖逆冷而手足掌心必煖，非正厥也，故可消息汗下也。
傷寒一二日至四五日厥者，必發熱，前發厥者，後必發熱，厥甚熱亦甚，厥微熱亦微，厥不
過五日，六日不厥者必愈，若六日厥者，必發熱愈甚，仍下利也。
龐曰，寒熱而厥，面色不澤，冒昧者當用棉衣包手足令溫煖，必大汗而解也，有不因大汗下，
而兩手忽無脈，謂之雙伏，或一手無脈，謂之單伏，或利止，如此必有正汗，急用四逆輩溫
之，時有汗便安，脈終不出者死，下利先厥後發熱，利必自止，不爾，咽中痛，或喉痺，若
便膿血者，其喉不痺。
厥而下利者，當不能食，反能食為除中，必死，能食反發熱，脈數者必發癰，膿厥而嘔，胸
脅煩滿，後必便膿血。
病者手足冷，小腹按之痛，此結冷在膀胱關元也，<span data-rev="注"><small class="雙行夾注">當關元灸之</small></span>，發熱下利，厥逆躁不得臥
者死。
病人手足厥冷，脈乍緊者，邪結在胃中，心下滿而煩，不能飲食者，病在胸中，當吐之，宜
瓜蒂散，凡病可吐者，皆宜此方。
瓜蒂、赤小豆〔等分〕，
細末，別以香豉壹合，熱湯參盞，煮作稀糜，去滓，取汁和散壹錢，溫溫頓服，不吐者少少
加藥，再服得吐快乃止，諸亡血虛家，不可與服，<span data-rev="注"><small class="雙行夾注">有用丁香者吐之，多霍燥人</small></span>。
傷寒厥而心下悸，宜先治水，當服茯苓甘草湯，次治其厥，不爾，水漬入胃，必作利也，茯
苓甘草湯。
茯苓、桂〔各壹兩〕、生薑〔壹兩半〕、甘草〔半兩〕，
細剉，水貳升，煎壹升，溫飲壹盞，悸止為度。
傷寒六七日，大下後，寸脈沉而遲，手足厥逆，下部脈不至，咽喉不利，唾膿血，泄利不止
者，為難治，宜麻黃升麻湯，<span data-rev="注"><small class="雙行夾注">有不因下而自利，加衄血者，永宜此方</small></span>。
麻黃〔壹兩〕、升麻、當歸〔各半兩〕、知母、黃芩、萎蕤〔各參錢〕、芍藥、天門冬、桂枝、
茯苓、甘草、石膏、白朮、乾薑〔各壹錢半〕，
細剉，水貳升半，先煮麻黃一二沸，去沫，內諸藥，煮壹升貳合，去滓，溫服一盞，如人行
七八里久進一服，以汗出，即住服。
本自寒，醫復吐下之，寒格愈逆，食入口即吐，宜乾薑黃芩湯。
乾薑、黃芩、黃連、人參〔各壹兩半〕，
細剉，水參升，煮取壹升半，去滓，溫服一盞。
下利微熱而渴，脈弱者自愈，脈數汗出亦然，緊為未解，發熱而厥，七日下利為難治。
凡厥通用四逆湯<span data-rev="注"><small class="雙行夾注">方在四逆證中</small></span>，謂其脈浮遲，或微，或細，或沉，皆屬裏有寒也。
厥而脈滑者，為裏有熱，白虎湯主之，
知母、石膏〔捌兩〕、甘草〔半兩〕、粳米〔參合〕，
以水五升，煮米熟湯成，去滓，溫服一盞，日三服，有渴加人參半兩。
龐曰，三陽皆有合病，凡合病者，有十四證，唯三陰無合病。</p>
<h3>兩感證</h3>
<p>龐曰，素問載感於寒，其脈應與其病形者，一日則巨陽與少陰俱病，頭痛口乾而煩滿，二日
則陽明與太陰俱病，腹滿身熱，不欲食讝語，三日則少陽與厥陰俱病，則耳聾囊縮而厥，
水漿不入口，不知人，六日死，言其六日死者，是藏府榮衛，或有所通行，故四日少陰與太
陽俱病，五日與太陰與陽明俱病，六日厥陰與少陽俱病，是重傳得六日死矣，其有三日死者，
素問謂陽明為五藏十二經脈之長，其邪氣盛，故不知人，三日其氣乃絕，故死矣，夫邪氣盛
則實，表裏邪實，併領血氣，入胃不通於榮衛氣血，故氣血隨邪而盡，則三日死矣，其脈候，
素問已脫，今詳之，凡沉者皆屬陰也，一日脈當沉而大沉者，少陰也，大者太陽也，二日脈
當沉而長，三日脈當沉而弦，乃以合表裏之脈也，沉長沉弦，皆隱於沉大，凡陰不當合病，
唯三陽可以合病，今三陰與三陽合病，故其脈似沉緊而大，似沉實而長，亦類革至之死脈也。</p>
<h3>三陰三陽傳病證</h3>
<p>龐曰，傷寒一日，巨陽受病，前所說膀胱詳矣，病源云，小腸雖則誤其標，本其手足陰陽，
自有併病者，故素問云，六日三陰三陽五藏六府皆受病，榮衛不行，五藏不通，則死矣，是
表裏次第傳，不必兩感，亦有至六日傳遍五藏六府而死者也，素問云，諸浮不躁者，皆在陽
則為熱，其有躁者在手，假令第一日不躁，是足太陽膀胱脈先病，脈加躁者，又兼手太陽小
腸也，又云，諸細而沉者，皆在陰，則為骨痛，其有靜者在足，假令第四日脈靜著，足太陰
始傳病也，脈加數又兼手太陰病也，故六日亦能傳遍藏府也，躁謂脈數，靜謂脈不數，用藥
則同，若用鍼，須取足與手之經也。</p>
<h2>傷寒總病論卷二</h2>
<h3>可發汗證</h3>
<p>大法春宜發汗。</p>
<p>太陽中風，陽浮而陰弱，陽浮者自發熱，陰弱者自汗出，嗇嗇惡寒，浙浙惡風，翕翕發熱，
鼻鳴乾嘔者，桂枝湯主之。
桂枝、芍藥、生薑〔各壹兩半〕、甘草〔壹兩〕、大棗〔陸個〕
㕮咀，水參升半，微火煎取壹升七合半，生布絞去滓，溫服一盞，須臾啜熱粥一碗，今助
藥力，周覆一時，汗遍身濈濈者益佳，不可令如水流漓，病必不除，若一服汗出病差，止後
服不必盡劑也，若不汗，如前法更服，半日許令三服，若病重者，一日一夜可盡一劑，病證
猶存者，更作服，若汗未出，乃至二三劑，忌生冷黏滑，肉麵五辛，酒酪臭惡等物。</p>
<p>太陽病初服桂枝湯，反煩不解，先刺風池風府，卻與桂枝湯則愈，按風池是少陽之經，陽維
之會，不針天柱而取風池者，陽維維諸陽，巨陽與諸陽主氣故也。</p>
<p>龐曰，凡桂枝湯證，病者常自汗出，小便不數，手足溫和，或手足指梢露之則微冷，覆之則
溫渾，身熱微煩而又增寒，始可行之，若病者身無汗，小便數，或手足逆冷，不惡寒，反惡
熱，或飲酒後，慎不可行桂枝湯也。<span data-rev="注"><small class="雙行夾注">脈緊必無汗，設有汗不可誤作桂枝證。</small></span></p>
<p>太陽病發汗，遂漏不止，其人惡風，小便難，四支微急，難以屈伸者，桂枝加附子湯主之。<span data-rev="注"><small class="雙行夾注">桂
枝湯內加附子壹枚，炮，去皮，切片，同煎，如前小便難為有津液，可作汗，若小便數，不
可誤認陽旦證也，陽旦即桂枝湯異名也。</small></span></p>
<p>下後脈促胸滿者，桂枝去芍藥湯主之。<span data-rev="注"><small class="雙行夾注">桂枝湯內去芍藥，只用四味也，芍藥味酸，脈促胸滿
恐成結胸，故去芍藥之佐，全用辛甘，發散其毒氣也。</small></span></p>
<p>服桂枝湯或下之，仍頭項強痛，翕翕熱無汗，心下滿微痛，小便不利者，桂枝去桂加白朮，
茯苓，各一兩半主之。<span data-rev="注"><small class="雙行夾注">不用桂，加水成四升，取二升。</small></span></p>
<p>太陽病項背強几几，汗出惡風者，桂枝加葛根貳兩，添水成四升，煎取貳升，通治柔痓。</p>
<p>太陽下之微喘者，表未解也，桂支加杏人厚朴湯主之，<span data-rev="注"><small class="雙行夾注">桂枝內加厚朴壹兩，杏人肆拾枚</small></span>，
此則中風自汗，用桂枝湯證也，龐曰，惡寒者，不當風而憎寒，惡風者當風而憎寒，皆屬表
證，太陽病頭痛發熱，身疼痛，骨節煩疼，惡風無汗而喘者，麻黃湯主之。
麻黃〔壹兩半〕、桂枝〔壹兩〕、甘草〔半兩〕、杏人〔參拾伍個〕，
㕮咀，水貳升半，煮麻黃數沸，去上沫，內諸藥，煮取壹升貳合半，去滓，每飲一盞，續
次服盡，不用粥投溫覆，如杜枝法將息，未汗可再作二三劑。</p>
<p>龍曰，傷寒之脈緊，盛而按之澀是也，脈浮而緊，浮為風，緊為寒，風傷衛，寒傷榮，榮衛
俱病，骨節煩疼，外證必發，無汗或喘，其人但憎寒，手足指未必微厥，久而復溫，掌心不
厥，此傷寒無汗用麻黃證。</p>
<p>凡脈浮數或浮緊，無汗，小便不數，病雖十餘日，尚且麻黃湯也。</p>
<p>太陽中風，脈浮緊，發熱惡寒，身痛不汗出而煩躁者，大青龍湯主之，若脈微弱，自汗出惡
風者，不可服之，服之則厥逆，筋惕肉瞤，此為逆也，大青龍湯。
麻黃〔參兩〕、桂枝、甘草、石膏〔各壹兩〕、杏人〔貳拾個〕、棗〔伍枚〕、生薑〔壹兩半〕，
㕮咀，水五升，煮麻黃數沸，去上沫，內諸藥，煮取二升，每溫飲一盞，微汗為度，若汗
周身潤則止服，未周身潤可停待少時服盡，不欲汗多亡陽故也，亡陽遂虛，惡風煩躁，不得
眠也。</p>
<p>傷寒脈浮緩，身不疼但重，乍有輕時，無少陰證者，大青龍湯主之。<span data-rev="注"><small class="雙行夾注">少陰當言太陰，按太陰
證內有脈浮緩，手足溫者，繫太陰，太陰當發，證屬青龍陽，似桂枝證反無汗而脈緊，似麻
黃證反身不疼而脈浮緩。</small></span></p>
<p>太陽病項背几几，無汗惡風，葛根湯主之。
葛根〔貳兩〕、麻黃〔壹兩半〕、桂枝〔壹兩〕、甘草〔壹兩〕、芍藥〔壹兩〕、大棗〔陸枚〕、
生薑〔壹兩半〕，
㕮咀，水四升，先煮麻黃葛根數沸，去沫下諸藥，煮取貳升半，去滓，每溫飲一盞，日三
服，如桂枝湯將息。</p>
<p>太陽與陽明合病，必自下利者，葛根湯主之。</p>
<p>太陽與陽明合病，不利但嘔者，葛根加半夏湯主之，用前葛根湯內加半夏壹兩壹分，湯洗十
遍，每個作四破。
龐曰，脈浮緊無汗，服湯未中病，其入發煩，目瞑極者必衄，小衄而脈尚浮者，宜麻黃湯，
衄後脈已微者，不可再行也，凡脈浮自汗，服湯不中病，桂枝證尚在，必頭痛甚而致衄，小
衄而脈尚浮者，再與桂枝湯，衄後脈已微者，不可再行也。
傷寒三日後，與諸湯不差，脈勢如數，陽氣猶在經絡，未入藏府，宜桂枝石膏湯，此方可夏
至後代桂枝證用之，若加麻黃壹兩，可代麻黃青龍湯用之。
石膏〔參兩〕、梔子〔貳拾肆個〕、生薑〔壹兩半〕、桂枝、黃芩、甘草〔各壹兩〕、升麻、葛
根〔各壹兩半〕，
㕮咀，水五升，煮取貳升半，去滓，溫飲一盞，食頃再服，若得汗即止後服。
龐曰，凡發汗以辛甘為主，復用此苦藥者何也，然辛甘者，折陰氣而助陽氣也，今熱盛於表，
故加苦以發之，素問云，熱淫于內，以苦發之故也。
葛根龍膽湯，療病四五日不差，身體毒熱面赤，兼治陽毒風溫。
葛根〔生者肆兩，乾者貳兩代〕、生薑、升麻、大青、龍膽、桂枝、甘草、麻黃、芍藥〔各半
兩〕、萎蕤〔壹兩〕、石膏〔壹兩半〕，
㕮咀，水四升半，下麻黃煮數沸，去上沫，內諸藥，煎貳升，去滓，溫飲一湯盞，日三夜
二。<span data-rev="注"><small class="雙行夾注">凡葛根須用家園味甘多白粉者為佳，若誤用味苦野葛多吐，人轉增病。</small></span>
時行熱病，六七日未得汗，脈洪大或數，面目赤，身體大熱煩躁，狂語欲走，大渴甚，又五
六日以上不解，熱在胃中，口禁不能言，為壞傷寒，所不能治，如死人，或精魂已竭，心下
纔煖，發開其口，嚾藥下咽即活，兼治陽毒麥奴丸。
麻黃〔參分〕、釜底煤、黃芩、(穴龍)底墨、梁上塵、小麥奴、灶中黃土〔各壹分〕、芒消、
大黃〔各半兩〕，
細末，蜜丸彈子大，新汲水三合，和一丸研服之，渴者但令冷水足意飲之，須臾當寒竟，汗
出便差，若日移五尺不汗，依前法再服一丸，差即止，須微利，小麥奴乃小麥未熟時叢中黑
夌，捻之成黑勃者是也，無，即以小麥炒黑焦，地上出火毒用之亦得，此藥須是病人大渴，
倍常躁盛，若小渴者強與之為禍耳，強人每服半雞子大<span data-rev="注"><small class="雙行夾注">亦治溫瘧</small></span>。
傷寒連服發汗湯七八劑，汗不出者死，如中風法蒸之，使溫熱之氣外迎，無不得汗也，古今
用效薪火燒地，良久去火掃地，以水洒之，取蠶沙、桃柏、荊葉、糠及麥麩皆可，同和鋪燒
地上，可側手厚，上鋪席，令病人臥席上，溫覆之，熱月只可夾被覆，其汗立出，後周身至
腳心皆汗濈，濈乃用溫粉撲止，移之上床即愈，無蠶沙，即用麩糠之類鋪燒地上亦得<span data-rev="注"><small class="雙行夾注">溫粉法，
白朮、藁本、白芷各兩貳，末之，入英粉拾貳兩、和勻用之，無英粉以蜯粉代之。</small></span>
傷寒差後，有不了了證者，謂至十日或半月二十日，終不惺惺，常昏沉以失精神，言言錯謬，
或無寒熱，有似鬼崇，或朝夕潮熱頰赤，或有寒熱如瘧狀，此乃發汗不盡，餘毒氣在心胞絡
間所致也，宜知母麻黃湯，
知母〔壹兩半〕、麻黃〔壹兩〕、芍藥、黃芩、甘草、桂枝〔各半兩〕，
㕮咀，水貳升半，煮麻黃數沸，去上沫，內諸藥，取壹升參合，去滓，每溫飲一大盞，半
日可相次三服，溫覆令微汗，若心煩欲水，當稍與之，令胃中和則愈，未汗盡劑。
太陽病下之後，氣上衝，其脈必浮，可依證發汗，不與汗則成結胸也，凡發汗脈浮大，雖大
便祕小便少者，可發汗而解也，合汗不汗，諸毛孔閉塞，悶絕而死。</p>
<h3>不可發汗證</h3>
<p>脈浮緊，法當身痛，當以汗解，假令尺中脈遲，為榮氣不足，血少故也<span data-rev="注"><small class="雙行夾注">前陽明病脈遲汗出，
多微惡寒，宜桂枝湯，不責榮不足，蓋尺脈長大而遲也，此若軟緊而遲，不可汗，宜小建中
湯</small></span>。
小建中湯，
桂枝〔參分〕、生薑〔參分〕、芍藥〔壹兩半〕、甘草〔半兩〕、棗〔陸枚〕、飴糖〔兩合半〕、
㕮咀，水貳升半，煮取九合，去滓，方下飴糖，煎令化，每溫飲一湯盞，日進二三服，尺
尚遲，再作一劑，入人參加半兩同煎最良，舊有微溏或嘔者，不用飴糖也，兼治傷寒一二日
胸中悸而煩，及汗後身疼脈沉遲，又治傷寒陽脈澀，陰脈弦，法當腹中急痛，先小建中湯不
差，與柴胡湯，<span data-rev="注"><small class="雙行夾注">方在和表證中</small></span>。
龐曰，凡脈緊，病必無汗，唯濡而緊，病必自汗，勿誤行桂枝，宜建中湯也。
脈濡弱不可發汗，汗則厥而煩躁，不得眠。
諸動氣在心腹上下左右，不可發汗。<span data-rev="注"><small class="雙行夾注">以上並宜建中湯，若煩躁者宜竹葉湯。</small></span>
竹葉湯治虛煩，病似傷寒，身亦熱而煩躁，頭不痛，身不疼，脈不數者，兼治中暍，渴吐逆
而脈滑數者，及傷寒解後，虛羸少氣逆欲吐者，並宜服之。
淡竹葉〔半把〕、石膏〔肆兩〕、半夏〔參分〕、人參〔半兩〕、甘草〔半兩〕、麥門冬〔貳兩〕、
粳米〔壹合淘過〕，
細剉，以水伍升，煎貳升半，米熟去滓，溫飲一盞，日進三服，夜二服，嘔者加生薑一兩半，
不嘔不用，虛煩或嘔吐，脈弦細芤遲，手足微寒胸滿者，橘皮湯主之，兼治暴煩下利<span data-rev="注"><small class="雙行夾注">方在太
陰證中</small></span>。
四逆不可發汗，發汗則聲嘶舌萎，不得前言，亂睛眩者，命將難全。
咽中閉塞，不可發汗，發汗則吐血，氣微絕，手足不能自溫者，乾薑甘草湯主之，<span data-rev="注"><small class="雙行夾注">方在太陰
證中</small></span>。
淋家不可發汗，發汗必便血。
瘡家雖身痛不可發汗，汗出則痓<span data-rev="注"><small class="雙行夾注">以癰瘡家膿血過多</small></span>。
動氣在右，不可發汗，汗出則衄而渴心苦煩，飲則吐水，<span data-rev="注"><small class="雙行夾注">動者，謂心腹中虛氣動，若誤汗有
此證，先宜五苓散三服，方在可水證中，次服竹葉湯，方在前。</small></span>動氣在左，示可發汗，發汗
則頭眩，汗出則筋惕肉瞤，此為逆，難治，<span data-rev="注"><small class="雙行夾注">但先服防風白朮散，次服建中湯，方在前，</small></span>
防風白朮散。
防風〔壹兩〕、牡蠣粉〔半兩〕、白朮〔參分〕，
細末，溫米飲調下二錢，日二三服，汗出續與建中湯。
動氣在上，不可發汗，發汗則氣上衝，正在心端，李根湯主之。
半夏〔半兩〕、桂枝、當歸、芍藥、黃芩、甘草、人參〔各壹分〕、茯苓〔參分〕，
麤末，每五錢水兩盞，薑三片，甘李根白皮一團，如雞子黃大，煎八分通口，日三五服。
動氣在下，不可發汗發汗則心中大煩，骨節苦痛，目運惡寒，食則反吐穀，不得前，先服大
橘皮湯得吐止，後服建中湯。
大橘皮湯<span data-rev="注"><small class="雙行夾注">亦主手足冷嘔噦</small></span>
橘皮〔壹兩半〕、生薑〔貳兩〕、棗〔貳拾肆箇〕、甘草〔半兩〕、人參〔壹分〕、竹茹〔半兩〕，
㕮咀，水參勝，煎壹升半，去滓，溫服一盞，食頃再服。
不當汗而強汗之，則津液枯槁而死。</p>
<h3>四逆證</h3>
<p>四逆湯治病發熱頭痛，脈反沉，若不差，身體疼痛者，脈浮遲，表熱裏寒，下利清穀者，汗
出熱不去，內拘急，支節疼，四逆者下利厥逆，惡寒者下利腹脹滿，身疼脈浮者先用四逆溫
裏，得利止，乃可隨證用藥攻表也。
甘草〔壹兩〕、附子〔半個〕、乾薑〔參分〕，
㕮咀，以水壹升半，煮取陸合，去滓，溫分作貳服。
手足厥，脈微欲絕者，當歸四逆湯主之。
當歸、桂枝、芍藥、細辛〔各壹兩半〕、棗〔參拾陸箇〕、甘草、木通〔各壹兩〕，
㕮咀，以水四升半，煮二升二合，去滓，每溫一盞服。</p>
<h3>和表證</h3>
<p>傷寒表不解，心下有水氣，乾嘔發熱而欬，或渴或利，或噎或小便難，腹滿而喘者，小青龍
湯主之。
麻黃、芍藥、細辛、乾薑、甘草、桂枝〔各壹兩半〕、半夏〔參分〕、五倍子〔半兩〕，
㕮咀，以水六升，先煮麻黃數沸，去上沫，內諸藥，煮一升，去滓，每溫服一盞，若渴者，
去半夏，加括樓根壹兩半，若微利，去麻黃，加蕘花一雞子大，炒赤，若噎者，去麻黃，加
附子壹枚，炮，小便不利，小腹滿者，去麻黃，加赤茯苓貳兩，若喘，去麻黃，加杏仁壹兩
壹分，無蕘花，以桃花壹鴨子大，不炒代之。
太陽病得之八九日，如瘧狀，發熱惡寒，熱多寒少，其人不嘔，清便欲自可，一日二三度發，
脈微緩者，為欲愈也，脈微而惡寒，此陰陽俱虛，不可更發汗吐下也，面色反有熱色者，未
解也，以其不能得小汗出，其身必痒，宜桂枝麻黃各半湯。
桂枝湯末、麻黃黃末〔各三分〕，
以水一升半，棗三箇，生薑三片，煎減半，去滓，溫飲一盞，未有小汗，再服之。
服桂枝湯，大汗出，脈洪，證候不改者，服桂枝湯如前法，若形似瘧狀，日再發者，宜桂枝
二麻黃一湯。
桂枝湯末〔壹兩〕、麻黃湯末〔半兩〕，
以水一升半，薑三片，棗三箇，煎減半，去滓，溫飲一盞，未有小汗，再服之。
服桂枝湯，大汗出後，大煩渴，脈洪大者，白虎湯加人參主之<span data-rev="注"><small class="雙行夾注">方在厥陰證中</small></span>。
龐曰，傷寒已得汗，身和脈絃細，讝語妄見，此為津液不和，與小柴胡去仁參，加桂枝湯
服之，津液和自愈，未差，與調胃承氣湯下之。
傷寒六七日，發熱微惡寒，支節煩疼，微嘔，心下支結，外證未去，柴胡桂枝湯主之，兼治
寒疝腹痛。
柴胡〔壹兩〕、桂枝、黃芩、人參〔各半兩〕、半夏〔四錢字〕、芍藥〔半兩〕、甘草〔一錢一
字〕、大棗〔九枚〕、生薑〔半兩〕，
㕮咀，以水三升半煮取一升七合半，去滓，溫飲一盞。
小柴胡湯治傷寒五六日中風，往來寒熱，胸脅滿，嘿嘿不欲食，心煩喜嘔，或，胸中煩而不
嘔，或渴，或腹中痛，或脅下痞鞕，或心下悸，小便不利，或不渴，身微熱或欬者。
柴胡〔貳兩〕、甘草、黃芩、人參〔各三分〕、半夏〔陸錢一字〕、生薑〔三分〕、大棗〔參枚〕，
㕮咀，以水六升，煮取三升，去滓，再煎取一升半，溫作三服，若胸中煩而不嘔者，去半
夏、人參，加括樓半箇，若渴，去半夏，加人參成貳兩貳錢半，括樓根貳兩，若腹中痛，去
黃芩，加芍藥壹兩半，若脅下痞鞕，去大棗，加牡蠣貳兩，若心下悸，小便不利，去黃芩，
加茯苓貳兩，若不渴，外有微熱，去人參，加桂枝壹兩半，溫覆微汗愈，若欬，去人參、大
棗、生薑，加五味子壹兩壹分，乾薑壹兩。
傷寒中風，有柴胡證，但見一證，不必悉具，凡以柴胡證而下之，與柴胡湯，必烝烝而振，
卻復發熱汗出而解也。
病十日以上，脈浮細嗜臥者，為已安候，小柴胡和之，細而遲者勿與。
婦人中風七八日，續自寒熱，發作有時，經水適斷者，此為熱入血室，其血必結，故使如瘧
狀，發作有時，小柴胡湯主之。
婦人傷寒發熱，經水適來，晝日明了，暮則讝語，如見鬼狀，此為熱入血室，無犯胃氣，
必自愈。<span data-rev="注"><small class="雙行夾注">先宜小柴胡湯，不愈，可刺期門</small></span>
婦人中風，發熱惡寒，經水適來，得之七八日，熱除而脈遲，身涼胸脅下滿，如結胸狀，讝
語，此為熱入血室也，當刺期門，隨其實取之。
陽明病潮熱，大便溏，小便自如，胸脅滿不去者，小柴胡湯主之，又不大便而嘔，舌上白苔
者，亦宜服之，上焦得通，津液得下，胃氣因和，身濈然汗出而解。
陽明中風，脈浮弦大而短氣，腹滿，脅下及心痛，久按之氣不通，鼻乾不得汗，嗜臥，一身
及目悉黃，小便難，有潮熱，時時噦，耳前後腫，刺之，小差，外不解，病過十日脈續浮者，
與小柴胡湯，若不尿，腹滿加噦者不治。</p>
<h3>可下證<span data-rev="注"><small class="雙行夾注">血證附</small></span></h3>
<p>大法秋宜下
陽明病發熱，不惡寒汗多者，急下之。
凡脈沉細數，為熱在裏，又兼腹滿咽乾，或口躁舌乾而渴者，或六七日不大便，小便自如，
或目中瞳子不明，無外證者，或汗後脈沉實者，或下利，三部脈皆平，心下堅者，或連發汗，
已不惡寒者，或已經下，其脈浮沉按之有力者，宜大承氣湯。
大黃〔半兩〕、厚朴〔壹兩〕、枳實〔壹枚〕、朴消〔半兩〕，
㕮咀，以水四升，先煮厚朴枳實至參升，下大黃，煮取壹升半，去滓，下朴消烊化，每溫
一盞服，利即止後服，如作煮散煎，每服厚朴枳實末共參錢，水兩盞煎壹盞半，下大黃末壹
錢，煎壹盞，絞去滓，下朴消末壹錢，烊化服之。
陽明與少陽合病而利，脈不解者為順也，負者失也，互相克為負也，脈滑而數者有宿食，當
下之，<span data-rev="注"><small class="雙行夾注">宜大承氣湯，陽明土，其脈大，少陽木，其脈弦，若合病，土被木賊克，更利為胃已
困，若脈不弦，為土不負，弦者為土負，必死</small></span>。
脈雙弦而遲，心下堅，或脈大而緊者，陽中有陰，可下之，病者煩熱，汗出如瘧狀，日晡則
發潮熱者屬陽明，其脈必實，當下之而愈。
病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥有燥屎，宜下之。
傷寒若吐，下後不解，不大便五六日以上至十餘日，日晡則發潮熱，不惡寒，獨語如見鬼狀，
若劇者，發則不識人，循衣妄撮，<span data-rev="注"><small class="雙行夾注">常見有此撮空候，故改之。</small></span>惕而不安，微喘直視，脈弦
者生，脈濇者死，微者但發熱讝語，可下之，一服利，止後服。
過經讝語者可下之。
病人不大便五六日，繞臍痛，煩躁，發作有時，此有燥屎，故不大大便，可下之。<span data-rev="注"><small class="雙行夾注">以上並宜
大承氣湯</small></span>。
太陽病未解，其脈陰陽俱停者，必先振慄，汗出而解。
陽微者先汗之所解，陰實者先下之而解，下之宜大柴胡湯。
柴胡〔肆兩〕、黃芩、芍藥〔各壹兩半〕、枳實〔兩枚〕、生薑〔貳兩半〕、半夏〔壹兩壹分〕、
大棗〔陸個〕、大黃〔壹兩〕，
㕮咀，以水六升，煮取參升，去滓再煎，每溫一盞服。
因下之後，潮熱而微利者，此醫以丸藥下之，非其治也，而有表證仍胸鬲滿而嘔者，先服小
柴胡湯，後服大柴胡胡湯，<span data-rev="注"><small class="雙行夾注">小柴胡湯在和表證中</small></span>。
傷寒發熱，汗出不解，心中痞鞕，嘔吐下利者，大柴胡湯主之。
傷寒十餘日，結熱在裏，往來寒熱者，宜大柴胡湯。
陽明病讝語發潮熱，脈滑疾者，小承氣湯主之。
大黃〔貳兩〕、厚朴〔壹兩〕、枳實〔兩枚〕，
㕮咀，水貳升半，煎至八合，去滓，放溫時今一盞，以利為度，凡大便祕悶，恐有表證者，
但少少飲之，微下為度，不可飲多，恐大泄利也，虛弱人可作煮散煎服。
太陽病若吐，下發汗後，微煩，小便數，大便難者，與小承氣湯，利之則愈。<span data-rev="注"><small class="雙行夾注">此太陽陽明證
也。</small></span>
下利讝語者，有燥屎也，宜小承氣湯，初一服讝語止，若更衣者，停後服，不爾盡與
之，<span data-rev="注"><small class="雙行夾注">更衣即登廁也，非顏師古注漢書更衣之義，集驗方痔有更衣挺出，頗妨於更衣，更衣出
清血，故以知之。</small></span>
陽明病不吐不下，心煩者可與調胃承氣湯，<span data-rev="注"><small class="雙行夾注">方在太陽證中</small></span>。
發汗後惡寒者，虛也，不惡寒但熱者，實也，當和其胃氣，宜調胃承氣湯。
傷寒十三日過經，讝語者，此有熱，當以湯下之，若小便利者，大便當鞕，反下利而脈
調和者，知醫以丸藥下之，非其治也，若自下利者，脈當微厥，今反和者為內實也，宜調胃
承氣湯。
太陽過經十餘日，心下溫溫欲吐，而胸中痛，大便反溏，腹微滿，欝欝微煩，此時極吐下
者，與調胃承氣湯，不爾，可與之，但欲嘔，胸中痛，微溏者，此非柴胡證，以嘔故知極吐
下也，屬調胃承氣湯。
傷寒吐後，腹脹滿者，屬調胃承氣湯。
茵蔯湯治陽明病，發熱汗出者，此為熱越不能發黃也，但頭汗出，其身無汗，劑項而還，小
便不利，渴而飲水者，以瘀熱在裏，身必發黃。
茵蔯蒿〔參兩〕、大黃〔壹兩半〕、梔子〔貳拾個，大者柒枚〕，
㕮咀，水貳升半，先煮茵蔯至貳升，內二味，煮取壹升貳合半，去滓，溫飲一盞，日三服，
小便當利，尿如皂角沫，一宿腹減，黃從小便出。
十棗湯治太陽病中風，下利嘔逆，表解者乃可攻之，其人(僅)(僅)汗出，發作有時，頭痛心
下痞鞕滿，脅下痛，乾嘔短氣，汗出不惡寒者，此表和裏未和也。
芫花、甘遂、大戟<span data-rev="注"><small class="雙行夾注">等分，異杵篩秤未合之，入臼再杵二三百下。</small></span>，先以水壹升，煮肥棗拾
枚，擘碎，煮取半升，去棗用煎湯少半，調末一錢匕，羸人半錢，再單飲棗湯送之，平旦服，
若下少而病不除，明旦加藥一錢半，如前服之，服之必利，利後糜粥自養。
欬而脅下痛，此為有飲，宜十棗湯。
調中湯治夏月及秋初忽有暴寒，折於盛熱，熱結四支，則壯熱頭痛，寒傷於胃，下利或血或
水，或赤帶下，壯熱且悶，脈數宜下之，久年腸風，下之亦差。
大黃〔參分〕、葛根、黃芩、芍藥、桔梗、茯苓、藁本、白朮、甘草〔各半兩〕，
㕮咀，水參升，煎至貳升，下大黃，取壹升貳合，去滓，溫溫飲一盞，移時，勿鬲食再服
之，得快下，壯熱便歇，其下利亦止，凡秋夏早熱積日，或有暴寒折之，熱無可散，喜搏著
肌中作壯熱氣也，胃為六府之表，最易為暴寒所折故也，虛人亦不在壯熱，但主利或霍亂，
不宜用此，實人有服五石人喜壯熱，與別藥下，則加熱喜悶而死矣，是以宜以此下和其胃氣，
<span data-rev="注"><small class="雙行夾注">調中湯又治陽病，因下遂協熱利不止，及傷寒不因下而自利，表不解脈浮數者，此可去大黃，
加葛根成壹兩煎服之，殊驗也。</small></span>茵蔯丸，療瘴氣及黃病㾬瘧。
茵＠、梔子、鱉甲、芒消〔各壹兩〕、大黃〔貳兩半〕、豉〔貳合半〕、常山、杏仁〔各壹兩半〕、
巴豆〔半兩〕，
細末，蜜丸梧桐子大，初得時氣三日內，平旦米飲服二丸，如人行十里久，或吐或利，或汗
出，不爾，更服一丸，以熱粥投之，老少以意加減丸數服，若黃病痰癖，時氣傷食㾬瘧，
小兒驚熱欲發癇，服之無不差者，療瘴神驗，赤白痢服之亦效，春初有宿熱，依上法服之取
吐利，當年不憂熱病<span data-rev="注"><small class="雙行夾注">有性殺樂者，每服七丸五丸</small></span>。
抵黨湯治太陽病，六七日表證在脈微而沉，反不結胸，其人發狂者，乃熱在下焦，小腹當鞕
滿，小便反利者，下血乃愈，所以然者，以太陽隨經，瘀血在裏故也<span data-rev="注"><small class="雙行夾注">小腹滿而小便不利者，
非血證</small></span>。
水蛭、虻蟲〔各拾枚〕、桃仁〔柒枚〕、大黃〔壹兩〕，
㕮咀，以水貳升半，煮至壹升貳合半，去滓，溫溫分四服，未下再服，虛人只可作半料服
之，如作煮散，每五錢水壹盞半，煎壹盞，去滓服之。
桃人承氣湯治太陽病不解，熱結在膀胱，其人如狂，血自下者乃愈，其外不解者，尚未可攻，
當先隨證行湯解外，外已解，但小腹急結者乃可攻之，<span data-rev="注"><small class="雙行夾注">不惡寒為外解</small></span>。
桃人〔貳拾肆個〕、大黃〔貳兩〕、甘草、桂枝、芒消〔各壹兩〕，
㕮咀，以水參升半，煎取壹升半，去滓，內芒消烊化，溫服壹盞，虛人減作半料亦可，作
煮散每伍錢水壹盞半，煎至壹盞，去滓，下芒消壹錢半，烊化服之。
桃人承氣湯又治產後惡露不下，喘脹欲死，服之十差十。
龐曰，脈朝夕駃者，實癖也，可下之，朝平夕駃者，非癖也，不可下，駃謂數脈，六七至者
也，若脈數一息八九至，慎不可下，若下之則煩躁，下利不止而死，凡數脈與皮毛相得，亦
不可下也，合下不下，令病人腹脹滿，通身浮腫而死。</p>
<h3>不可下證</h3>
<p>脈軟而弱，弱反在關<span data-rev="注"><small class="雙行夾注">開下三分也</small></span>，濡反在顛<span data-rev="注"><small class="雙行夾注">開上三分也</small></span>，微反在上<span data-rev="注"><small class="雙行夾注">寸口也</small></span>，澀反在下<span data-rev="注"><small class="雙行夾注">尺
部也</small></span>，微則陽不足，澀則無血，陽氣反微，中風汗山而反煩躁，澀則無血，厥而且寒，宜建
中湯<span data-rev="注"><small class="雙行夾注">方在不可汗證中</small></span>。
陽微不可下，下之則心下痞。
諸動氣在心腹上下左右，俱不可下。
動氣在右，不可下，下久則津液內竭，咽躁鼻乾，頭眩心悸<span data-rev="注"><small class="雙行夾注">宜竹葉湯，方有不可汗證中</small></span>。
動氣在左，不可下，下之則腹裏拘急不止，動氣反劇，身雖有熱反欲倦。<span data-rev="注"><small class="雙行夾注">先服乾薑甘草湯，
方在太陽證中，後服建中湯，方在不可汗證中。</small></span>
動氣在上，不可下，下久則掌握熱煩，身冷熱汗自泄，欲水自灌，竹葉湯主之。<span data-rev="注"><small class="雙行夾注">方在不可汗
證中。</small></span>
動氣在下，不可下，下久則腹滿，卒起頭眩，食則下清穀，心下痞堅，半夏瀉心湯主之。<span data-rev="注"><small class="雙行夾注">方
在痞證中</small></span>
咽中閉塞，不可下。
龐曰，諸脈濡弱微虛細相搏，俱不可下。
諸四逆，不可下，虛家亦然。
龐曰，若下證悉具而見四逆者，是失下後，氣血不通使然，但手足微厥，掌心常溫，時復指
稍溫便下之，不可拘忌也。
傷寒嘔多，雖有陽明證，不可攻也。
龐曰，凡下證小便不利，或尚少，未可攻之也。
不當下而強下之，令病人腸胃洞泄不禁而死。</p>
<h3>可水不可水證</h3>
<p>龐曰，凡病非大渴，不可與冷水，若小湯口咽乾，小小呷滋潤之，若大渴煩躁甚，能飲一斗
者與五升，能飲一升者與半升，若乃不與則乾燥，無由作汗，煩喘而死者多矣，但勿令足意
飲也，若大汗將來，躁渴甚者，但足意飲之勿疑，常人見因渴飲水而得汗，見小渴遂強與之，
致停飲心下，滿結喘而死者亦多矣，其有熱脈數，尚可作汗而解者，出於天幸也。
五苓散治病人水藥入口則吐，或渴而嘔者，或汗後脈尚浮而煩渴者，或下利渴而小便不利者，
或因渴停水心下，短息者難治，嘔而小不利者，皆主之。
豬苓、白朮、茯苓、桂枝、澤瀉〔各半兩〕，
細末，白飲調下貳錢，日參服，數飲煖水，汗出效。
陽明病小便數者，大便即堅，不更衣，十日無所苦，欲得水但與之，當以法救渴者，五苓散
主之。
霍亂頭痛發熱，身體疼，發熱欲飲水，五苓散主之，若得病無熱，但狂言煩躁不安，精采不
與人相當，勿以火導之，但以豬苓散方寸匕服之，當逼飲新汲井水壹升，即令指刺喉中吐去
之，病隨手愈，若不能吐者，勿強與水，水停則結心下也，當以藥吐之，不爾，更致危病，
若當吐不時，以豬苓散，吐之，其死迨速矣，亦可針之尤佳，夫飲鬲實難治，此皆三死一生
也，太陽病發汗後，大汗出，胃中乾燥，煩不得眠，其人欲飲水者，但與之，當稍稍飲之，
令胃和則愈。</p>
<h3>可吐不可吐證</h3>
<p>龐曰，胸鬲痞悶，痰壅塞礙，脈得浮或滑，並宜蒂散吐之<span data-rev="注"><small class="雙行夾注">方在厥陰證中</small></span>，產後六七日內下
瀉，諸藥不效，得此脈與吐之，瀉立止。
下利日數十行，其脈反遲，寸口微滑，吐之則止。
龐曰，虛家當吐而不敢吐之，宜以枳實散壓氣，毒痰水過日毒入胃，乃可微下之也。
諸四逆脈微弱虛細，或弦遲，雖中滿悶不可吐，宜橘皮湯枳實散之類<span data-rev="注"><small class="雙行夾注">橘皮湯在和表證中，枳
實散在敘論中</small></span>。
不可吐而強吐之，氣築心，即死矣。</p>
<h3>可灸不可灸證</h3>
<p>燒針令其汗，針處被寒，核起而赤者，必發賁豚，氣從少腹上撞者，灸其核上一壯，與桂枝
加桂湯<span data-rev="注"><small class="雙行夾注">桂枝湯內加桂枝足成壹兩壹分，如前法煎之</small></span>。
少陰病其人吐利，手足不逆，反發熱不死，灸少陰七壯。
下利手足厥無脈，灸之不煖，反微喘者死。
傷寒脈促，手足厥逆，可灸之。
合灸不灸，令病人冷結，久而彌固，氣衝心而死，微數之脈，慎不可炙，因火為邪，則為煩
逆，追虛逐實，血散脈中，火氣雖微，內攻有力，焦骨傷筋，血難復也。
脈浮當以汗解，而反灸之，邪無從去，因火而盛，病從腰以下必當重而痺，此為火逆，若欲
自解，當先煩，煩乃有汗，隨汗而解，何以知之，脈浮故以知汗出而解，脈浮熱甚而灸之，
此為實實以虛治，因火而動，咽躁必唾血。
不當灸而誤灸，令火邪入腹，干錯五藏，重加煩而死。</p>
<h3>可火不可火證</h3>
<p>下利穀道中痛，當以熬鹽末熨之，或炒枳實末溫熨，二味相兼益佳，若臍下冷結，不可便熨，
冷氣攻心腹必死，須先用藥溫之，久而可熨，凡臍下冷結成篹陰，大小便不通，服藥雖多
不見效，以炒鹽熨臍下，須臾即通，然篹陰已服巴豆、甘遂、大黃、輕粉之類太多，即暴
通利而損人，尤宜詳之也。</p>
<h3>可溫證</h3>
<p>大法冬宜溫熱藥。
少陰病，其人飲食入則吐，心中溫溫欲吐，復不能吐，始得之，手足寒，脈弦遲，若鬲上有
寒飲乾嘔者，不可吐，宜四逆湯溫之<span data-rev="注"><small class="雙行夾注">方在四逆證中</small></span>。
下利其脈浮大，此為虛，以強下之故也，設脈浮大，因爾腹鳴，宜當歸四逆湯溫之<span data-rev="注"><small class="雙行夾注">方在四逆
證中</small></span>。</p>
<h3>火邪證<span data-rev="注"><small class="雙行夾注">醫以火臥床下，或週身用火迫卻汗，或熨或誤灸，皆屬火邪也。</small></span></h3>
<p>傷寒脈浮，醫以火迫，劫之亡陽，驚或狂起臥不安者，宜桂枝去芍藥加蜀漆牡蠣龍骨救逆湯。
桂枝〔壹兩半〕、蜀漆〔壹兩半〕、甘草〔壹兩〕、龍骨〔貳兩〕、牡蠣〔貳兩半〕、生薑〔壹兩
半〕、大棗〔陸枚〕，
以水陸升，先煮蜀漆，減壹升，內諸藥，煮取貳升，去滓，溫服壹盞，無蜀漆以恆山代之，
火劫後脈浮，當汗出而愈。
火邪下之，因燒針煩躁者，桂枝甘草湯主之。
桂枝〔半兩〕、甘草、牡蠣、龍骨〔各壹兩〕，
以水二升，煮一升，去滓，溫取一盞，可代救逆湯使之。
龐曰，灸及燒針後，證似火劫者，並宜火劫治之，煩躁驚及狂，用六石風引湯尤良，柴胡龍
骨牡蠣湯亦通用。
病人因火劫至十五六日，身黃下利，狂欲走，師脈之言當下清血如豚肝乃愈，後如師言，何
以知之，師曰，寸口脈陽浮而陰濡弱，陽浮為風，濡弱為虛，浮虛受風少血，發熱惡寒，洒
淅項強頭眩，醫以火熏，鬱令汗出，惡寒遂甚，客熱因火而發，怫鬱烝於肌膚，自為黃，小
便微難，短氣，鼻中出血而復下之，胃無津液，利遂不止，熱瘀在膀胱，畜結成積，狀如豚
肝，當下不下，心亂迷憒，狂走赴水，必不能自制，蓄血若去，目明心了，此皆醫所為輕者
得愈，極者不治。</p>
<h2>傷寒總病論卷三</h2>
<h3>結胸證</h3>
<p>病發於陽而反下之，熱入內作結胸，其病心下堅滿，按之如石，鞕而痛，項強如柔痓狀，
其脈寸口浮，關上尺中皆沉，或沉緊，名曰結胸也，下之則和，宜大陷胸湯<span data-rev="注"><small class="雙行夾注">今作煮散煎之</small></span>。
大黃〔壹兩半〕、芒消〔壹兩捌錢半〕、甘遂〔未、壹字〕，
異末，以水壹升半，煎大黃半升，絞去大黃滓，下消末更煮一二沸，內甘遂末和勻，溫分二
服，一服快利止後服，如作煮散，即先以水一盞，煎大黃末肆錢匕，至捌分，下消末貳錢匕，
候化勻，下甘遂末半錢匕，沸勻，溫服之，移時未利，再煎一服，快利為度。
藏結如結胸狀，飲食如故，時時下利，寸口脈浮，關上脈小細沉緊，名曰藏結，舌上白苔生
著難治，藏結無陽證，不往來寒熱，其人反靜，舌上苔滑不可攻也。
結胸證，其脈尺寸浮大者不可下，下之則死<span data-rev="注"><small class="雙行夾注">復宜發汗也</small></span>。
結胸證悉具，煩躁甚者死。
太陽病，脈浮而動數，浮則為風，數則為熱，動則為痛，數則為虛，頭痛發熱，微盜汗出而
反惡寒，表未解也，醫反下之，動數變遲，鬲內拒痛，胃中空虛，宿熱動鬲，盒氣煩躁，心
下懊憹，陽氣內陷，心下固鞕，則為結胸，大陷胸湯主之，若不結胸，但頭汗，餘處無汗，
劑頸而還，小便不利，身必發黃也。
結胸無大熱者，此為水結在胸脅也，但頭微汗出者，宜大陷胸湯。
太陽病，重發汗而復下之，不大便五六日，舌躁而渴，日晡則少有潮熱，從心下至小腹，滿
而痛不可近者，宜大陷胸湯。
虛弱家不耐大陷胸湯，即以大陷胸丸下之。
結胸者項亦強，如柔痓狀，下之則和，宜大陷胸丸。
大黃〔肆兩〕、葶藶子〔壹兩半〕、朴消〔壹兩捌錢〕、杏仁〔貳合〕，
杵二味，內杏仁、朴消，合研如脂，丸如彈子大，抄甘遂末壹錢，白蜜貳合，水貳升，煮取
壹升，溫頓服之，一宿乃下，不下更服。
小結胸正在心下，按之則痛，脈浮滑者，宜小陷胸湯。
半夏〔陸錢半〕、黃連〔一分〕、栝樓〔壹枚，用四錢〕，
㕮咀，水參升煮栝樓至貳升，下諸藥，煮取壹升，去滓，溫溫服一盞，食頃再服，一日盡
劑，微解下黃涎即愈。
太陽病下之，脈促者不結胸，此為欲解也，脈浮者必結胸，脈緊者必咽痛，脈弦者必兩脅拘
急，脈細數者頭痛未止，脈沉緊者必欲嘔，脈沉滑者協熱而利，脈浮滑者必下血。
寒實結胸無熱證者，與三物白散方<span data-rev="注"><small class="雙行夾注">小陷胸者非也</small></span>。
桔梗〔參分〕、巴豆〔壹分〕、貝母〔參分〕，
細末內巴豆研勻，白飲調下壹錢，羸人減之，病在鬲上必吐，在鬲下必利，未利啜熱粥投之，
利過不止，飲冷粥止之。
龐曰，近世治結胸多行針頭，丸用硫黃陽起石者，若病熱毒甚者必死，唯治冷結寒實耳。</p>
<h3>心下痞證</h3>
<p>病發於陰，而反下之為痞<span data-rev="注"><small class="雙行夾注">發熱惡寒為湯，誤下則為結胸，無熱惡寒為發於陰，誤下則為痞氣</small></span>，
傷寒下之後，若發熱汗出者為欲解，若心下滿而鞕痛者，此為結胸也，但滿而不痛，此為
痞氣，宜半夏瀉心湯。
甘草、黃芩、乾薑、人參〔各壹兩半〕、黃連〔半兩〕、大棗〔陸枚〕、半夏〔壹兩壹分〕。
㕮咀，水陸升煮取參升，去滓，再煎壹升半，溫溫飲一盞，日三夜二<span data-rev="注"><small class="雙行夾注">設下後津液入裏，胃
虛上逆，寒結在心，故宜辛甘發散，半夏下氣，苦能去濕，兼通心氣，又甘草力大故乾薑黃
連不能相惡也</small></span>。
心下痞，按之濡，其脈關上浮者，宜大黃黃連瀉心湯。
大黃〔壹兩〕、黃連、黃芩〔各半兩〕，
㕮咀，以蝦眼沸湯壹升漬之，須臾絞去滓，溫溫分四服，得利止後服<span data-rev="注"><small class="雙行夾注">寒濕迫心氣不行，欲
作熱也</small></span>。
心下痞悶，而復惡寒汗出者，大黃黃連瀉心湯內加附子主之。附子<span data-rev="注"><small class="雙行夾注">壹枚，炮，去皮尖，四破，
以水參合煎壹合，去附子，以附子汁內湯中，和勻服之</small></span>，與瀉心湯而痞不解，其人渴而口乾
燥，小便不利者，五苓散主之<span data-rev="注"><small class="雙行夾注">方在可水證中</small></span>。
傷寒汗出解之後，胃中不和，心下痞鞕，乾噫食臭，脅下有水氣，腹中雷鳴下利，宜生薑瀉
心湯。
生薑〔貳兩〕、人參、甘草、黃芩〔各壹兩半〕、半夏〔壹兩壹分〕、大棗〔陸枚〕、黃連、乾
薑〔各半兩〕，
㕮咀，水伍升，煮取參升，去滓，再煎取壹升半，溫作四服<span data-rev="注"><small class="雙行夾注">胃中不和，為少陽木氣所制，
故用二薑之辛味</small></span>。
傷寒中風，醫反下之，其人下利日數十行，穀不化，腹中雷鷺，心下痞鞕而滿，乾嘔心煩
不得安，醫見心下痞，謂病不盡，復下之，其痞益甚，此非結熱，但以胃中虛，客氣上逆故
使鞕也，甘草瀉心湯主之。
甘草〔貳兩〕、黃芩、乾薑、人參〔各半兩〕、半夏〔壹兩壹分〕、大棗〔陸枚〕、黃連〔半兩〕，
㕮咀，水伍升，煎至參升，去滓，再煎取壹升半，溫作四服<span data-rev="注"><small class="雙行夾注">胃虛故加甘味</small></span>。
大下後復發汗，心下痞，惡寒者表未解，不可攻痞，當先解表，表解乃可攻痞，攻痞宜大黃
黃連瀉心湯<span data-rev="注"><small class="雙行夾注">前加附子，是汗出多而惡寒，表將解而裏結未除故也，此證是發後無汗惡寒，故
先須解表也</small></span>。
傷寒發熱，汗出不解，心下痞鞕，吐嘔下利者，大柴胡湯主之<span data-rev="注"><small class="雙行夾注">汗出嘔吐下利，是胃中津液
燥，裏有結實，非胃虛也，故以大柴胡湯下之</small></span>。
病人脅下素有痞，連臍傍引小腹入陰筋者，此為藏結，死。</p>
<h3>陽毒證</h3>
<p>初得病一二日，便成陽毒，或服藥吐下後，變成陽毒，其病腰背痛，煩悶不安，狂言欲走，
或見鬼，或下利，其脈浮大而數，面赤班班如錦紋，咽喉痛，吐下膿血，五日可治，七日不
可治，升麻湯主之<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>。
升麻、當歸、甘草〔各貳分〕、雄黃〔研，壹分〕、桂枝〔壹分〕、鱉甲、蜀椒〔半分〕，
㕮咀，水貳升煎壹升，去滓，溫服一盞，食頃再服，溫覆手足出汗，汗出則解，未解重作
之，得吐尤佳，陽毒宜葛根龍膽湯<span data-rev="注"><small class="雙行夾注">方在雜發汗證中</small></span>。</p>
<h3>陰毒證</h3>
<p>初得病一二日，便成陰毒，或服藥六七日以上至十日，變成陰毒，其病身重背強，腹中絞痛，
咽喉不利，毒氣攻心，心堅強氣不得息，嘔逆唇青面黑，四支厥冷，其脈沉細而緊，仲景云，
陰毒之候如被杖，喉咽痛，五六日可治，七日不可治，甘草湯主之<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>。
甘草、鱉甲、升麻、當歸、桂枝〔各貳分〕、蜀椒〔壹分〕、雄黃〔壹分〕，
㕮咀，水參升煎取壹升，去滓，溫溫每飲一盞，食頃再服，溫覆，中毒當汗吐之，汗吐則
愈，不吐再服之。
治陰毒反陰丹，
硫黃〔伍兩研末〕、太陰玄精石〔味鹹者，研末〕、硝石〔研末，各貳兩〕，
用鐵銚子先鋪玄精石一半，次鋪硝石一半，中間下硫黃，又以硝石蓋硫黃，都以玄精石蓋之，
用盞子合定，令三斤炭火燒，令得所勿以煙出多，急取出以瓦盆合定地下，四面灰擁，勿令
煙出，直候冷取細研，烝餅心，丸豌豆大，艾湯下十五丸，病重加至二三十丸，此法甚驗，
喘促吐逆者入口便安，服此藥三五服覺不退，便於臍下一寸半灸之，須是大炷百壯，未愈可
至二百壯，若手足極冷，小便澀，小腹鞕，㽲痛囊縮，即須更於臍下四寸，如前灸之，乃
與當歸四逆并反陰丹，頻頻與服，內外通逐方可解，若稍緩即死矣，當歸四逆乃加吳茱萸生
薑者是，慎勿與尋常利小便藥，此是陰毒，氣結在小腹所致也，有見小便不通，便用炒鹽及
裏熱藥熨臍下，欲望小便通利，其冷氣在小腹之間，被熱物所熨，無處通出，即奔上衝心，
其死速矣。
又治陰毒硫黃丸
硫黃〔貳兩〕、水銀〔壹兩〕，
同研入銚，酒少醋，慢火炒，欲似煙出，再出火洒醋，如此三四遍，地上放冷研之，烝餅丸
梧桐子大，每服二十三十丸，艾湯吞下，日三服，食前。
陰毒脈沉微欲絕，四支逆冷，大躁而渴不止，附子飲子。
附子〔壹枚炮，半兩以上，炮，去皮尖，四破〕。
以水九升，煎至三升，去附子入瓶，油單緊封沉井底，候極冷取飲之，仍下硫黃丸甚妙。
陰毒之為病，因汗下藥性冷所變，多在四五日也，或素來陽氣虛冷，始得病便成陰毒，或始
因傷風傷冷物，便成陰毒，其病六日內可治，過六日不可治。</p>
<h3>狐惑證</h3>
<p>狐感之為狀如傷寒，或因傷寒變成斯疾，其候默默欲眠，目不得閉，臥起不安，蝕於喉為惑，
蝕於陰為狐，不欲飲食，惡聞食臭，其面乍黑乍白，上部則聲嗄，甘草瀉心湯主之，
<span data-rev="注"><small class="雙行夾注">方在痞證中</small></span>，
蝕於下部則咽乾，蝕於肛門者燒雄黃薰之，
<span data-rev="注"><small class="雙行夾注">雄黃壹味燒薰下部</small></span>，
病者脈數則熱，微煩，默默但欲臥，汗出，初得之三四日，目赤如鳩眼，七八日則兩目四眥
周皆黑，若能食者，膿已成也，赤小豆當歸散主之。
赤小豆〔壹升、浸、生芽曝〕、當歸〔壹兩〕，
細末，漿水調下二錢，日三服。</p>
<h3>百合證</h3>
<p>龐曰，百合病者，百脈一宗，悉致其病，意欲食復不能食，常默默欲臥復不能臥，欲出行復
不能行，或有美食時，或惡聞食臭時，如寒無寒，如熱無熱，口苦小便赤，諸藥不能治，得
藥則增劇吐利者，如有神崇者，身形如和，其脈微數．每溺時頭痛者，六十日乃愈，若溺頭
不痛浙然者，四十日愈，若溺快然但頭眩，二十日愈，其證或未病而預見，或病四五日而出，
或二十日或一月微見者，隨證治之。
治汗後百合病，百合知母湯。
百合〔拾枚〕、知母〔壹兩半〕，
百合先洗漬一宿，當白沫出，去其漬水，別以清泉水壹升半煮百合，取壹升，去滓，又別以
泉水壹升煮知母，取半升，去滓，同百合湯煎至壹升，溫分三服。</p>
<p>治下後百合病，滑石代赭湯。
石合〔拾枚〕、滑石〔壹兩半〕、代赭〔半兩〕，
先以水漬百合一宿，當白沫出則去其水，更以泉水壹升火，煮取一升，去滓，別以泉水一升
煮滑石代赭，取半升，去滓，合和重煎至一升，分溫三四服。</p>
<p>治吐後百合病，百合雞子湯。
百合〔拾枚〕、雞子黃〔貳枚〕，
先以水洗百合，漬一宿，當白沫出，去其水，更以泉水一升煮取一升，去滓，下雞子黃，攪
勻分溫三服。</p>
<p>治不經吐下發汗百合病，形如初者，百合地黃湯。
百合〔拾枚〕、地黃汁〔半升〕，先以百合水漬一宿，有白沫出去其水，更以泉水一升半煮，
取一升二合，溫溫分三服，中病勿更服。</p>
<p>治百合病一月不解，變成渴者百合湯洗之。
百合〔一升，如煎洗，先漬一宿，當白沫出，去其水〕，
更以水一斛煎數沸，洗周身，慎風，仍食白湯餅，但勿與鹽豉也，煮餅是切麵條湯，煮水淘
過，熱湯漬食之。</p>
<p>渴不差，栝樓牡蠣散主之。
栝樓〔無黃脈者〕、牡蠣粉〔等分〕，
細末，水調方寸匕，日三服。</p>
<p>治百合病變發熱，百合滑石散。
百合〔壹兩〕、滑石〔參兩〕。
細末，清飲調方寸匕，日三服，當微利熱則除，已利勿服之。</p>
<p>百合病見於陰者，以陽法救之，見於陽者，以陰法救之，見陽攻陰，復發其汗，此為逆，見
陰攻陽乃復下之，此亦為逆。</p>
<h3>痓濕暍證</h3>
<p>傷寒所至，太陽病痓濕暍，此三種宜應別論，以為傷寒相似，故此見之。</p>
<h4>痓</h4>
<p>太陽病發熱無汗，反不惡寒，名曰剛痓。
太陽病微熱汗出，不惡寒，名曰柔痓。
<span data-rev="注"><small class="雙行夾注">病源云惡寒</small></span>
其證身熱足寒，頭強項急，惡寒時頭熱，面赤目脈赤，獨頭搖，卒口噤，背反張者，痓病。
太陽病發汗太過，因致痓，
<span data-rev="注"><small class="雙行夾注">素問曰，太湯所至，為寢汗痓，又云，肺熱移於腎，傅為柔痓，始太陽中風，發熱而故迫
肺金，金投子而避害，故移熱於胃水，水為水迫則上升，復凌心位，水入火鄉而為郡，若汗
大多，因而熟寐，汗反為冷濕之氣復著太陽經，故發痓也。</small></span>
痓病臥不著席，小兒腰背去席二指，天人側掌為難。
治痓病脈弦，直上下行。
仲景云，太陽病證其身體几几然，脈反沉遲者，為欲作痓，宜桂枝加栝樓湯，
<span data-rev="注"><small class="雙行夾注">括樓不主中風，強項几几，其意治肺熱，令不能移於腎也，桂枝湯內當加栝樓四兩，</small></span>
痓病不宜大發汗及針灸，宜小汗之。
柔痓宜桂枝加葛根湯，
<span data-rev="注"><small class="雙行夾注">桂枝湯內加葛根四兩</small></span>
剛痓宜葛根麻黃湯，
<span data-rev="注"><small class="雙行夾注">方在解表證中</small></span>
剛柔痓加減葛根麻黃湯。
葛根、麻黃、生薑〔各壹兩〕、防風、芍藥、白朮、人參、芎藭、黃芩、防己、桂枝、甘草〔各
半兩〕、附子〔壹枚〕，
㕮咀，水六升，先煮麻黃葛根數沸，去上沬，內諸藥，煮取二升，去滓，飲服一盞，食頃
再服，日四五，夜二三，柔痓自汗者，去麻黃加葛根成壹兩半。
剛痓胸滿口噤，臥不著席，腳攣急，其人必齗齒，宜大承氣湯下之。
<span data-rev="注"><small class="雙行夾注">方在可下門中</small></span></p>
<h4>濕證</h4>
<p>太陽病關節疼痛而煩，脈沉緩，濕痺之候，其人小便不利，大便反快，只當利其小便，宜五
苓散，
<span data-rev="注"><small class="雙行夾注">方在水證中</small></span>
濕家之為病，一身疼發熱，身如熏黃，仍治風濕，脈浮，身汗山惡風，宜黃耆湯。
黃耆〔貳兩半〕、防己〔貳兩〕、甘草〔壹兩〕、白朮、生薑〔各壹兩半〕、棗〔拾陸個〕，
㕮咀，水四升煎至二升，去滓，溫飲一盞，食久再服，喘者加麻黃壹兩，胃中不和者，加
芍藥壹兩半，氣上衝者，加桂枝壹兩半，下有陳寒者，加細辛壹兩，服後當如蟲行皮中，從
腰下如冰，厚坐被上，又以一被繞腰以，下令微汗出。</p>
<p>濕家其人但頭汗出，背強，欲得被覆向火，若下之早則噦，胸滿，小便不利，舌上如胎者，
此丹田有熱，胸上有寒，渴欲得水而不能飲，口燥故也。
濕家下之，額上汗出，微喘，小便不利者死，下利不止者亦死，問曰，風濕相搏，一身盡疼
痛，法當汗出而解，值天陰雨不止，汗出已解，身復痛何也，答曰，發其汗，汗大出者，但
風氣去，濕氣續在，是故不愈也，若治風濕者發其汗，但微似欲山汗者，風濕俱去也。
濕家病身上疼痛，發熱面黃而喘，頭痛鼻塞而煩，其脈大，自能飲食，腹中和無病，病在頭
中寒濕，故鼻塞細末瓜蒂，含水畜少許，鼻中則愈。
濕家身煩痛，可與麻黃湯，內加白朮貳兩，
<span data-rev="注"><small class="雙行夾注">麻黃湯在可汗證中</small></span>
病者一身盡疼，發熱，日晡則劇者，此名風濕，此病因傷於汗出當風，或久傷於冷所致也，
可與杏仁薏苡湯。
麻黃〔壹兩半〕、杏仁〔肆拾伍枚〕、薏苡仁、甘草〔半兩〕，
㕮咀，以水二升，先煮麻黃一二十沸，去上沬，內諸藥，煮取一升，去滓，溫二三服。
傷寒八九日，風濕相搏，身體煩痛，不能轉側，不嘔不渴，脈浮虛而澀者，宜桂枝附子湯，
此治大便自利，小便不利者。
桂枝〔貳兩〕、附子〔貳枚〕、生薑〔壹兩半〕、大棗〔貳拾枚〕、甘草〔壹兩〕，
㕮咀，以水三升，煮取一升，去滓，分溫四服，若大便堅，小便自利者，去桂枝加白朮貳
兩，煎如前法，初一二服身如痺，半日許服之都盡，其人如冒狀勿怪，此乃朮附并走皮膚，
逐水氣未得除，故使之耳。</p>
<p>風濕相搏，骨節疼煩，掣痛不得屈伸，近之則極，汗出短氣，小便不利，惡風不欲去被，或
有微腫者，甘草附子湯主之。
附子〔貳兩〕、白朮〔貳兩〕、桂枝〔參兩〕、甘草〔貳兩〕，
㕮咀，水三升，煮取一升，去滓，分溫三服，身腫者加防己貳兩，悸氣小便不利加茯苓壹
兩半，溢水成四升，煎一升三合。</p>
<h4>暍證</h4>
<p>太陽中熱者，暍是也，其人汗出惡寒，身熱而渴，白虎湯加人參主之。
<span data-rev="注"><small class="雙行夾注">方在厥陰證中</small></span>
太陽中暍者，身熱疼重而脈微，此夏月傷冷水，水行皮中所致也，瓜蒂湯主之。
瓜蒂〔貳拾柒枚〕，
水半升煮取二合半，去滓溫服。</p>
<p>太陽中暍，發熱惡寒，身重而疼痛，其脈弦而細，芤而遲，小便已洒然毛聳，手足逆冷，小
有勞，身即熱，口前開，板齒燥，若發其汗，則惡寒甚，加溫針，則反熱甚，下之則淋甚，
宜大小橘皮湯，
<span data-rev="注"><small class="雙行夾注">大橘皮泹在不可汗證中</small></span>
小橘皮湯。
<span data-rev="注"><small class="雙行夾注">主手足冷嘔噦</small></span>
橘皮〔貳兩〕、生薑〔肆兩〕，
㕮咀，水三升煮取一升半，去滓，作四服，稍熱呷之。</p>
<h3>發汗吐下後雜病證</h3>
<p>病人脈微而濇，此乃醫所病，大發其汗，又數大下之，其人亡血，病當惡寒，後乃發熱無休
止時，夏月盛熱，欲著複衣，冬月盛寒，欲裸其體，所以然者，陽微則惡寒，陰弱則發熱，
此醫發其汗，使陽氣微，又大下之，令陰氣弱，五月之時，陽氣在表，胃氣虛冷，以陽氣內
微不能勝冷，故欲著複衣，十一月之時，陽氣在裏，胃中躁熱，以陰氣內弱不能勝熱，故欲
裸其身，又陰脈遲濇，故知亡血也，
<span data-rev="注"><small class="雙行夾注">此皆可治，陽微惡寒四逆，陰弱熱為內熱病，宜苦酒艾之類</small></span>
大下後復發汗，小便不利者，亡津液故也，勿治之，得小便利必自愈。
發汗後其人臍下悸者，欲作奔豚茯苓桂枝湯主之。
茯苓〔肆兩〕、桂枝〔貳兩〕、甘草〔壹兩〕、大棗〔捌個〕，
㕮咀，以甘瀾水五升，先煮茯苓，減一升，內下諸藥，煮取一升半，溫溫作三服。</p>
<p>作甘瀾水法。
取水貳斛，置大盆中，以楊柏枝擊水上，有珠子五六千箇相逐，取用之。</p>
<p>發汗或下後痞滿，或成寒實結胸，氣塞不通，宜檳榔散。
檳榔〔貳個，一生，一煨〕。
細末，酒二盞煎二盞四，分作兩服，溫飲之，兼治蚘厥，心腹刺痛，南海本草治膀胱氣佳。</p>
<p>龐曰，因發汗時，汗出如水，漏下還復汗，少喘促不止，脈促而按之濡者，合當汗而解，脈
促而按之實者死，若脈浮手足微厥，面垢脣青，昏憒而喘者，陰陽未和，尚阻升降，宜服順
陰陽五味子湯。
麻黃〔半兩〕、人參、五味子、麥門冬、杏人、橘皮、生薑〔各一分〕、棗〔柒枚〕，
㕮咀，水二升煮七合，去滓，通口服一盞，未差，再作二三服，手足厥甚者，厚衣護其厥。</p>
<p>下後復發汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，無表證，脈沉微，身無大熱者，宜乾
薑附子湯，
<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>
乾薑〔壹兩〕、附子〔壹枚生〕，
㕮咀，水一升半煎至半升時，飲一小盞，食久再服。</p>
<p>傷寒若吐下後，心下逆滿，氣上衝胸，起則頭眩脈沉緊，發汗則動經，身為振振搖者，宜茯
苓白朮湯，
茯苓〔貳兩〕、桂枝〔壹兩半〕、白朮、甘草〔各壹兩〕，
㕮咀，水三升煮至一升半，去滓，分溫四服。</p>
<p>發汗吐下後，虛煩不得眠，若劇者，必反復顛到，心中懊憹，香豉梔子湯主之，少氣者加甘
草，嘔者加生薑，梔子香豉湯，
肥梔子〔貳拾枚〕、香豉〔兩合綿裏〕，
水二升，煎梔子至一升三合，下豉取七合半，去滓，每進一盞，得吐止後服。</p>
<p>梔子甘草湯，前湯內加甘草壹兩，同梔子煮，後下豉如前法，加水半升。
傷寒五六日，大下之後，身熱不去，心中結痛者，欲解也，屬梔子香豉湯主之。
<span data-rev="注"><small class="雙行夾注">用前方</small></span>
下後腹煩滿，起臥不安者，梔子厚朴湯主之，
梔子〔八個大者〕、厚朴〔貳兩〕、枳實〔二枚〕，
㕮咀，水二升煮一升，去滓，溫飲一盞。</p>
<p>傷寒醫以丸藥下之，身熱不去，微煩，梔子乾薑湯主之，
肥梔子〔八個〕、乾薑〔壹兩〕，
以水一升七合，煮取八合，去滓，分溫三服。</p>
<p>凡用梔子湯得效，即止後服，病人舊有微溏，不可與之。
發汗若下之而煩熱，胸中窒塞者，梔子湯主之。
傷寒五六日，已發汗而復下之，胸脅滿微結，小便不利，渴而不嘔，但頭汗出，往來寒熱，
煩者此表未解，柴胡桂枝乾薑湯主之。
桂枝、黃芩〔各壹兩半〕、柴胡〔肆兩〕、栝樓根〔貳兩〕、乾薑、甘草、牡蠣〔各壹兩〕，
㕮咀，水六升煎至三升，去滓，再煎一升半，溫溫時飲一盞，食頃再服。</p>
<p>傷寒發汗，若吐下解後，心下痞鞕，噫氣不除者，旋復花代赭湯主之。
旋復花、甘草〔各壹兩半〕、人參〔壹兩〕、生薑〔貳兩半〕、代赭〔末，半兩〕、棗〔三枚〕、
半夏〔壹兩半〕，
㕮咀，水五升煎三升，去滓，再煎取一升半，溫，分四服。</p>
<p>傷寒若吐下後，七八日不解，熱結在裏，表裏俱熱，時時惡風，大渴舌上乾燥而煩，飲水至
數升者，白虎加人參主之。
<span data-rev="注"><small class="雙行夾注">方在厥陰證中</small></span>
傷寒八九日，下之胸滿煩驚，小便不利，讝語重，不可轉側者，柴胡龍骨牡蠣湯主之，
柴胡〔貳兩〕、龍骨、黃芩、生薑、鈆丹、人參、桂枝、茯苓、牡蠣〔各參分〕、半夏〔壹合〕、
大黃〔壹兩〕、棗〔陸個〕，
㕮咀，水六升煎取三升，下大黃，切如棋子塊，更煎取貳升，去滓，溫飲一盞。</p>
<p>傷寒服湯藥，下利不止，心下痞鞕，服瀉心已，復以他藥下之，利不止，醫以理中與之，利
益甚，理中治中焦，此利在下焦，以赤石脂禹餘糧湯主之，復不上當以五苓散利小便。
<span data-rev="注"><small class="雙行夾注">五苓散方在可水證中</small></span>
赤石脂禹餘糧湯
赤石脂、禹餘糧〔各八兩〕，
水四升煮取二升，去滓，溫飲一盞。</p>
<p>太陽病外證未除而數下之，遂協熱而利，利不止，心下痞鞕，表裏不解者，桂枝人參湯主之。
桂枝、甘草〔各貳兩〕、白朮、人參、乾薑〔各壹兩半〕，
㕮咀，水五升先煮四味，取三升，內桂更煮取一升，去滓，溫分三服。</p>
<p>發汗後腹脹滿者，厚朴人參湯主之。
厚朴〔四兩〕、甘草〔壹兩〕、生薑〔四兩〕、半夏〔壹兩壹分〕、人參〔半兩〕。以水五升煮取
一升半，去滓，溫分三服。</p>
<p>治頭痛壯熱，心中煩，黃芩梔子湯。
黃芩、梔子〔各壹兩半〕、石膏、乾葛〔各貳兩〕、豉〔半兩〕、蔥白〔寸切半斤〕，
㕮咀，水四升煮取一升半，溫溫作三四服，始得病便如前證，亦可服，治夏月傷暑毒殊驗。</p>
<p>傷寒發汗後，或未發汗，頭痛如破，宜蔥白湯。
連鬚蔥白〔寸切半斤〕、生薑〔貳兩〕，
水二升煮一升，去滓，溫溫作二三服。</p>
<p>服前湯頭痛未解，宜葛根蔥白湯。
葛根〔壹兩〕、芍藥、芎藭、知母〔各半兩〕、蔥白〔壹握，寸切〕、生薑〔壹兩〕，
㕮咀，水二升半煮取一升，去滓，溫溫分減服。</p>
<p>傷寒頭痛立效荊芥散。
天南星、草烏頭〔肉白者，生用〕、荊芥穗〔各半兩〕、石膏〔壹兩〕，
細末，每服二錢半，陳茶一錢，薑汁半呷，薄荷三葉，水兩盞，煎至八分，溫溫相次三服。</p>
<p>傷寒嘔吐不止，惡寒，脈細或浮遲，宜理中丸，兼治霍亂吐利，及傷寒後發熱，水停喜唾者。
人參、乾薑、甘草、白朮〔各壹兩〕，
細末，蜜丸雞子黃大，每服一丸，百沸湯一盞，化令細，煎三五沸，溫服之，霍亂臍上築者
不宜朮，可作湯去朮，加桂一兩半，水三升煎取八合，稍熱服之，吐甚去朮加生薑一兩半，
作湯煎如前法，飲熱粥一碗，微溫覆之，勿發揭衣被，有寒腹滿痛，或四肢拘急，或下利轉
筋，加生附子二枚，作湯服之。
治傷嘔吐欲死，生薑半夏湯。
半夏〔壹兩半〕、生薑〔參兩〕，
水三升半煮一升，去滓，溫溫分四服。</p>
<p>治嘔吐發熱，脈滑數或洪者，茅根湯。
茅根〔半升〕、麥門冬〔貳合半〕、半夏〔壹兩〕、人參〔半兩〕、茯苓〔半兩〕、生薑〔貳兩〕，
㕮咀，水五升煎一升半，去滓，溫溫分減服。</p>
<p>霍亂頭痛發熱，身疼多飲水者，宜五苓散。
<span data-rev="注"><small class="雙行夾注">方在水證中</small></span>
傷寒發熱自利，脈浮大數，及鼻血或嘔者，宜黃芩芍藥湯。
黃芩〔壹兩半〕、芍藥、甘草〔各壹兩〕，
㕮咀，水五升煮取一升半，去滓，分四服，嘔者加半夏一兩一分，生薑一兩半煎服。</p>
<p>治傷寒熱痢，或兼腹痛，黃連當歸丸。
黃連、當歸〔各參兩〕、乾薑、赤石脂〔各壹兩〕，
細末，蜜丸梧桐子大，米飲吞下二三十丸，日三夜二服。</p>
<p>傷寒下利如爛肉汁，赤帶下，伏氣腹痛，諸熱毒悉主之薤白梔子湯。
豉〔半升，綿裏〕、薤白〔壹握〕、肥梔子〔大者，柒個〕，
水三升半先煮梔子十沸薤白煎至二升，去滓，下豉煮一升半，溫溫分減服，必解下惡積。</p>
<p>傷寒汗解，因飲酒復劇，苦煩悶乾嘔，口燥伸吟，錯誤不得臥，此藥解熱毒，除酷熱，不必
飲酒劇者療，五日中神效，黃連黃蘗湯。
黃連〔壹兩半〕、黃芩、黃蘗〔各壹兩〕、肥梔子〔拾貳個〕，
㕮咀，水三升煎一升二合，去滓，溫溫分減服，未差更作。</p>
<p>傷寒四日而大下，熱利時作，白通諸藥多不得止，四順湯熱白通湯苦溫除熱止利，莫若黃連
熟艾湯。
黃連、黃蘗〔各壹兩半〕、龍骨〔壹兩〕、熟艾〔兩雞子大〕，
㕮咀，水四升煮一升二合，去滓，分減溫服。
龐曰，凡冷利皆宜四逆，冷利臍下必寒，水穀黃白色或青黑也，熱利臍下必熱，利黃赤色也，
天行熱毒，下利赤白，久下膿血及下部毒氣，當下細蟲如布絲縷大，或長四五寸，黑頭銳尾，
宜麝香丸。
麝香〔壹錢〕、附子、雄黃、丹砂、乾薑、巴豆〔各貳分〕，
搗下篩訖，煉蜜和丸小豆大，米飲下二丸，未知增之，
<span data-rev="注"><small class="雙行夾注">此方本無巴豆，是古方脫去，服之不效，今增巴豆，試之甚驗。</small></span></p>
<p>傷寒後咳噫，肉豆蔻湯。
肉豆蔻〔壹個〕、石蓮肉〔炒〕、茴香〔各壹分〕、丁香〔半分〕、生薑、人參〔各貳分〕、枇杷
葉〔伍片，拭去毛，炙〕，
㕮咀，水三升煎至一升半，分四服，空心煖飲之。</p>
<p>龐曰，傷寒汗後，咳噫不止，是陰陽氣升降欲作汗，升之不上，降之不下，故胃氣上逆而咳
噫無休止者，宜良薑方。
橘皮、良薑、桂枝、當歸〔各壹分〕、麻黃〔半兩〕、檳榔〔參個〕、杏仁〔貳拾個〕、甘草〔壹
分〕、生薑〔壹分〕、大棗〔拾個〕，
㕮咀，水二升半煎至一升，去滓，下檳榔末，又煎三沸，去滓，通口服一盞，未已再一劑。</p>
<p>時行頭痛，心如醉狀，面愛向黑處，不欲見人，此為壞熱不散，速行大青湯與服，不爾，狂
走赶人，大青湯。
大青葉、秦艽、吳藍、升麻、薺苨、栝樓根〔各貳分〕、甘菊〔壹分〕、石膏〔參分〕、竹瀝
〔貳合〕、朴消〔三分〕，
㕮咀，分二貼，每服一貼，水二升半，煎至一升二合，去滓，下竹瀝朴消分溫四服，肉色
黃加茵蔯六分，面似火加梔子十四枚，加水成三升，煮取一升半，溫飲一盞。</p>
<p>七八日熱盛不解，苦葶藶湯。
苦酒〔壹升半〕、苦葶藶〔壹合〕、生艾汁〔半升〕，
同煎至七合，作二服，此療內熱病，有牛黃一刀圭尤良，阮河南曰，今諸療疾，多用辛甜，
薑桂人參之屬，此皆貴價難得，常有必欲求之，轉以失時，而苦參青葙葶藶子艾之屬，所在
盡有之除熱解毒，最勝向貴價藥也，前後數參並用之，得病內熱者，不必按常藥次也，便以
青葙苦參艾苦酒療之，但少促其閒耳，無不解者。
<span data-rev="注"><small class="雙行夾注">苦酒即米醋也</small></span></p>
<p>龐曰，辛甜薑桂人參之屬，是發散寒氣之藥，其病未傳成內熱者，為調治之大要藥也，決不
可慮其酸苦之藥，正治內熱病急要之藥也，設當行辛甘而用酸苦，設當行苦而用辛甘，是昧
於陰陽之用，如此醫殺之耳，其辛甘酸苦，自是調治通行之要藥，若論苦則忌甘，論甘則忌
苦，雖有屢中，誠為粗工矣。
傷寒發黃者，先用瓜蒂末內鼻中，口含水搐鼻中，戈黃水用五苓茵蔯散最良。
時行一切，不知身上疼痛，不寒亦不熱，沉沉似有所思，順事多語，此藏正傳熱，麻人龍膽
丸，服此藥不死。
大麻人、大黃〔各壹兩〕、柴胡、黃芩、白鮮皮、秦艽、赤芍藥、龍膽草〔各貳分〕、黃連〔壹
分〕、梔子〔肆貳拾個〕，
細末，蜜丸如梧桐子大，食後煎淡竹葉湯下三十丸，日與三服，以大利為度，十日小差，壹
月平復。</p>
<p>地黃湯療傷寒及溫病，應發汗而不與發汗，五內有瘀血者，及鼻衄吐血不盡，內熱瘀血，面
黃大便黑者，此方主之，消化瘀血甚良。
生濕地黃〔肆兩〕、牡丹皮、芍藥、犀角屑〔無以升麻代各半兩〕，
㕮咀，水貳升煮取壹升，去滓，溫溫飲一盞，喜忘如狂者，加地黃黃芩各三分，加水一升，
脈大來遲，腹不滿自言滿者為無熱，不用黃芩也。</p>
<p>鼻衄或吐，血下血黃芩湯。
黃芩〔肆兩〕，
㕮咀，水三升煮一升半，溫飲一盞，兼治婦人漏下血不止。
<span data-rev="注"><small class="雙行夾注">黃蘗更佳</small></span></p>
<p>吐血百治不差，此方療十差十，大黃散。
地黃汁〔半升〕、生大黃末〔壹方寸匕〕，
煎地黃汁三沸，下大黃末調勻，空腹服之，每溫飲一小盞，日三服，血即止。</p>
<p>熱病毒氣入眼，赤痛生翳，不見光明者，大黃梔子湯。
生大黃〔壹兩〕、升麻〔半兩〕、瞿麥、甘草〔各壹分〕、梔子〔柒個〕。
㕮咀，水二升煎至一升，去滓，溫作四服，以利為度，難利者，煎藥畢，下朴消二分和服，
先煮諸藥至一升半，乃下大黃，大黃先以水漬，和水下之，則折熱易利。</p>
<p>治毒病入眼，忽生赤翳，或白或腫，膚起或赤痛，不得視光明，入心肝或眼浮腫，如吹汁出，
生膜覆珠子，或內障不見物，良由病後不慎，酒麵炙煿五辛所致，宜服此頻利之秦皮大黃
湯。
秦皮、柴胡、常山、黃芩、升麻、芍藥、白歛、枳實、甘草〔各半兩〕、大黃〔參分〕，
㕮咀，水參升煮貳升，下大黃再煎一升半，去滓，食後溫飲一盞，熱盛者加焰消半兩，湯
成後下化勻服，未差更作，可至五七劑。</p>
<p>又方滴眼湯，
<span data-rev="注"><small class="雙行夾注">斑豆瘡不宜用</small></span>
秦皮、升麻、黃連〔各半兩〕，
細剉，水二升煎至一升，綿包箸頭搵湯，滴入眼中頻顏用之。
下部⿸厂⿰若虫瘡雄黃散，
雄黃、青葙子、苦參、黃連〔各參分〕、桃仁〔壹分〕，
為散，以艾汁和丸，棗核大，綿包內下部萹蓄汁更佳，冬月無艾，濃煎艾汁和為丸，更以米
飲調下貳錢，溫飲，日二服。</p>
<p>治⿸厂⿰若虫瘡青黛丸，
青黛、丁香、黃連〔等分〕，
細末，甘淀和丸，棗核大，口中有瘡，含之咽汁，若下部有瘡，綿裏內下部，日含化五六十
丸差。</p>
<p>牽馬丸治天行四五日下部生瘡，醫所不能治，此方主之。
附子〔壹分〕、藜蘆、桂枝、巴豆〔各半兩去皮心，炒黑〕，
細末，別研巴豆，加蜜杵丸，梧桐子大，空心熱水下二丸，未知加三丸，熱在鬲上不下，飲
熱湯半升，投吐，之下部⿸厂⿰若虫自差，神良。</p>
<p>天行口瘡黃蘗升麻湯，
黃蘗、升麻、甘草〔生，各半兩〕，
㕮咀，水一升半煮半升，入地黃汁一合，煎半升，分二服，細呷之。</p>
<p>又方薔微飲子，
薔微莖葉切一升〔冬手根皮〕，
水三升煮半升，溫溫漬之，去涎，喉咽有瘡者，嚥汁少許為佳。</p>
<p>又方黃蘗飲子，
黃蘗薄切小片，蜜漬一宿，嚼茱汁漬瘡。</p>
<p>又方五倍子散，
五倍子炒為末傳，之涎出吐去，以差為度。</p>
<p>傷寒喉中痛，閉塞不通，射干煎，
生射干、豬脂〔各半斤〕，
合煎，今射干色微焦，去滓，取壹棗大綿裹含，稍稍嚥之。</p>
<p>治喉咽痛塞，鵬砂散。
鵬砂、殭蠶、牙消、白礬、甘草、雄黃〔各壹分〕、(䃃)砂〔半分〕、草烏頭尖〔肆個〕，
細末，米飲調一錢，細細呷之。</p>
<p>古方黑龍煎，治咽喉腫痛九種疾。
人參〔半兩〕、甘草〔壹兩〕、無灰酒〔壹升〕、不蚛皂角〔肆拾條〕，
水三斛浸皂角一宿，淨鐺內煎，令水減半，次下人參甘草細切，又同煎三分耗二，布絞去滓，
下酒更入釜煤一匕半，攪煎如餳稀，入瓷合內，埋地中一宿，若用時，取一丸如雞頭大，盞
中以溫酒一呷化之，先以水漱口，以鵝毛點藥入喉中掃之，有惡涎或自出，或下腹，可兩三
度，引藥方歇，良久令吐，候惡物山盡了，令喫少許水浸烝餅，及軟飯粥壓之，次含甘草一
寸嚥汁，忌炙煿胡餅，豬肉淹藏等物，如木舌難下藥，以匙按舌，用藥掃喉中。</p>
<p>九般名。
急喉閉、纏喉風、結喉、爛喉、重舌、木舌、遁蟲、𧊋喋、飛系入喉，
元祐五年，自春至夏秋，蘄黃二郡人患急喉閉，十死八九，速者半日一日而死，黃州潘推官
昌言親族中亦死數口，後得黑龍膏，救活者數十人。</p>
<p>龐曰，急切亦不候合，此膏用古方，以意處之，但得不蚛皂角一兩條，槌碎，水三升半浸，
少時揉汁去滓，下草一分，人參一分，同煎作稀膏，勿令太稠，乃下後藥。
霜梅上白鹽、(䃃)砂、焰消〔各等分〕，
三味生研，用前膏斟酌和勻，可以掃得為度，每以鵝毛搵少許，如前法掃喉中甚效，其將息
次第，亦如前法，此膏得力尤速，若日久膏乾，以甘草水化之，病差後，胸喉外生瘡勿疑，
無鹽梅以白鹽代。</p>
<p>天行手足腫，疼痛欲脫者，濃煎虎杖汁漬之。
天行後毒氣，手足腫痛欲脫，必作癰膿，升麻大黃湯。
升麻、木通、白歛〔各參分〕、黃芩、芍藥〔各壹兩〕、甘草〔半兩〕、大黃〔壹兩半〕，
㕮咀，水參升煮二升半，下大黃煮一升半，溫溫飲一盞，利下為度。</p>
<h3>傷寒勞復證</h3>
<p>病新差後，氣血津液衰耗，慎勿為諸勞動事，凡言語思慮，勞神梳沐，澡憒頮勞力，則生
熱而復病如初也，又新差後精髓枯燥，切不可為房事，犯房事勞復必死，魏督邸顧子獻病差
後，華敷囑之，慎勿為勞事，餘勞尚可，如勞即死，此是女勞，復非陰陽易也，素問云，病
熱而有所遺者，是新差後腸胃尚弱，若多食則難消化，而復病如初也，此是食復新差，強人
足兩月，虛弱人足百日，則無復病矣。
天行勞復頭痛，四肢疼，蔥豉湯。
蔥白、豉〔半升〕，
水二升半煎蔥爛，去滓，入雄鼠屎三七枚，末之和勻，分再服，未差更作。</p>
<p>天行勞復作熱，且至晚則腰背痛，頭項強重，葛根薑豉湯。
芍藥、生薑〔各壹兩半〕、豉、蔥白〔各貳合半〕、葛根〔貳兩〕，
㕮咀，水三升煎二升，下豉煎一升半，去滓，溫飲一盞。</p>
<p>大病差後勞復，枳實梔子湯。
枳實〔壹分〕、肥梔子〔拾貳個〕、香豉〔半升〕，
漿水三升，煮枳實梔至二升，下豉煮一升半，去滓，溫飲一盞，溫覆微汗，食復者，加大黃
棋子大七枚，同煎服之愈。</p>
<p>療傷寒已差，勞復如初，脈浮無汗者，桂枝梔子湯，
<span data-rev="注"><small class="雙行夾注">自汗者去麻黃</small></span>
梔子〔拾貳個〕、豉〔半升〕、桂枝、麻黃〔各壹兩〕，
㕮咀，水三升煎至二升，下豉取一升半，去滓，溫飲一盞，溫覆取小汗差。</p>
<p>療傷寒勞復如初，自汗出者，脈浮滑煩躁甚，宜此方。
梔子石膏香豉湯。
梔子〔拾陸個〕、石膏〔肆兩〕、香豉〔壹兩綿裏〕，
水三升先煮二味至二升半下豉煮取一升半，去滓，溫飲一盞。
<span data-rev="注"><small class="雙行夾注">一法湯成入雄鼠矢二七枚末良</small></span></p>
<p>病未平復後，勞動致熱氣攻胸，手足拘急，搐搦如中風狀，瓜蔞湯。
瓜蔞根〔肆兩，無黃脈者〕、淡竹茹〔半斤〕，
水三升煮一升二合，去滓，日二三服，溫與之。</p>
<p>婦人病未平復，因夫所動，小腹篹中急痛，腰胯疼，四肢不任舉動，無熱證者附子黃耆湯。
白朮、當歸、桂枝、附子、甘草、芍藥、人參〔各半兩〕、黃耆〔參分〕、生薑〔壹兩半〕，
㕮咀，水四升煮至一升半，去滓，通口服一盞，食久再服，溫覆取小汗。</p>
<p>男子勞房成復病，鼠屎湯。
薤根〔壹升〕、豭鼠屎〔貳拾壹個為末，矢頭尖硬者，是即牡鼠也〕，
水三升半，煮薤根至一升半，去滓，下鼠矢末，再煎三沸，溫飲一盞，相次三服，衣覆必有
黏汗為效，未汗再作一劑，兼治陰陽易神驗。</p>
<p>男子房勞復發熱，口噤，臨死舌出數寸，又始得病，百節痛如被打，渾身沉重，恍惚失措，
脈促而絕不可治，或有吐涎不止，或有譫妄煩亂者，皆不可治。
天行差後，勞復發熱，嘔吐食不下，盧根湯。
盧根〔半升〕、生薑〔貳兩〕、橘皮、枇杷葉〔各壹兩〕，
㕮咀，水三升煮一升半，去滓，溫飲一盞，大故心煩躁，加石膏貳兩，加水一升煮二升。</p>
<h3>陰陽易證</h3>
<p>陰陽易病者，陰陽相感動，其毒氣著人如換易也，男子病新差，女子與之交，女子得病名曰
陽易，女子病新差，男子與之交，男子得病名曰陰易，若二男二女則不相易，然女犯男得病，
鮮有死者，男犯女得病，救稍緩，則十無一人得生者，若女犯男，男自發勞復，則女不病，
男犯女，女自發勞復，則男得病亦輕，富貴之家，雖知其事，後生輕於自恣，犯之多致不救，
田野之人，蒙蒙昧昧，只知傷寒能死人，因此病死者十有三四矣，皆不知其所犯之由，深可
傷也，男子女人陰陽易病，其狀身體疼痛，熱上衝胸，頭重不能舉，眼內生眵，四肢拘急，
小腹絞痛，手足拳則皆死，其亦有不即死者，若小腹裏急，熱上衝胸，頭重不欲舉，百節解
離，經脈緩弱，血氣虛，骨髓竭，便吸吸，氣力轉少，著床不得動，起止仰人引，歲月死，
宜此方，足甲褌灰散。
取交妾婦人手足甲二十枚，褌近隱處一尺，同燒灰燒，或米飲，調下二錢，日三服，陰頭微
腫，小便利為愈，若未愈，灸陰頭一百壯便差，陰頭在毛際間，提陰向上，當頭是穴。
女子陽易則取男子手足爪甲，褌近隱處，如前燒服之，可灸毛際橫空上，中央曲骨，一穴百
壯。
男子陰易如前法灸，若陰卯縮未下，灸足大拇指旋毛上，小炷七壯，是大敦二穴，男女初得
陰陽易病，便服薤根鼠矢湯，出汗有驗。</p>
<p>傷寒口乾喜唾方，
大棗〔肆拾枚，煮，去皮尖〕、烏梅〔肥者拾個，去核為末〕，
右以棗肉和為丸，含化自然汁。</p>
<h2>傷寒總病論卷四</h2>
<h3>暑病論</h3>
<p>龐曰，冬傷於寒，夏至後至三伏中，變為暑病，其熱重於溫也，有如傷寒而三陰三陽傳者，
有不依次第傳，如見五藏熱證者，各隨證治之。</p>
<h4>暑病表證</h4>
<p>暑病代桂枝并葛根證，
桂枝、芍藥、知母、生薑〔各壹兩半〕、甘草〔壹兩〕、黃芩〔壹兩半〕、葛根〔貳兩〕、棗〔拾
陸枚〕，
㕮咀，水六升煮取三升，通口服一盞，相次取汗。</p>
<p>暑代麻黃證，
桂枝、杏仁、知母〔各壹兩〕、麻黃〔參兩〕、甘草、黃芩〔各壹兩〕，
煎如煎法。</p>
<p>暑病代青龍湯證，
麻黃〔貳兩〕、石膏〔參兩〕、知母、桂枝、甘草〔各壹兩〕、杏仁〔參拾枚〕、生薑〔壹兩半〕、
棗〔拾陸個〕，
如前煎服。</p>
<p>暑病代葛根麻黃證，
葛根〔貳兩〕、麻黃〔壹兩半〕、桂枝、甘草、知母、黃芩、芍藥〔各壹兩〕、生薑〔壹兩半〕、
棗〔拾陸枚〕，
如前煎服。</p>
<p>暑病三日外至七日，不歇內熱，令人更相染，大青消毒湯，
大青、芒消〔各貳兩〕、山梔子〔壹兩〕、石膏〔肆兩〕、豉〔半升〕、濕地黃〔半升〕，
㕮咀，水七升煮取三升，去滓，下芒消化之，溫服一盞，以熱除為度。</p>
<p>暑病通用白虎，一如傷寒與暍證用之。
<span data-rev="注"><small class="雙行夾注">方在厥陰證中</small></span>
暑病通用麥奴丸。
<span data-rev="注"><small class="雙行夾注">方在雜汗證中</small></span>
暑病若吐下後，別見形一如傷寒門治之。
暑病噦逆發，斑瘡豆壞，一如溫病門治之。
<span data-rev="注"><small class="雙行夾注">已上四條先生所論</small></span>
預防熱病急黃，賊風葛粉散。
葛粉〔貳升〕、生乾地黃〔壹升〕、香豉〔半升〕，
細末，食後服方寸匕，牛乳蜜湯竹瀝米飲烏梅湯任性調下，日三服，有病者日五服。</p>
<h4>素問載五種暑病</h4>
<p>肝熱病者先左頰赤，肺熱病者先右頰赤，心熱病者顏先赤，
<span data-rev="注"><small class="雙行夾注">顏，額也</small></span>
腎去病者，
<span data-rev="注"><small class="雙行夾注">頤，頰也</small></span>
脾熱病者鼻先赤，
<span data-rev="注"><small class="雙行夾注">土主中央</small></span>
病雖未發，見赤色刺之，名曰治未病。
肝熱病者先小便黃，腹痛，多臥，身熱，熱爭則狂言及驚，脅滿痛，手足躁，不得安臥，庚
辛甚，甲乙大汗，氣逆，則庚辛死，刺足厥陰少陽，其逆則頭痛員員，脈引衝頭也。
心熱病者先不樂，數日乃熱，熱爭則卒心痛，煩悶喜嘔，頭痛面赤無汗，壬癸甚，丙丁大汗，
氣逆則壬癸死，刺手少陰太陽。
脾熱病者先頭重，頰痛心煩，顏青欲嘔，身熱，熱爭則腰痛，不可俛仰，腹滿泄，兩頷痛，
甲乙甚，戊己大汗，氣逆則甲乙死，刺足太陰陽明。
肺熱病者洗淅然厥起毫毛，惡風寒，舌上黃，身熱，熱爭則喘咳，痛起走胸膺背，不得太息，
頭痛不任，汗出而惡寒，丙丁甚，庚辛大汗，氣逆則丙丁死，刺手太陰陽明，出血如豆大立
已。
腎熱病者先腰痛，胻痠，苦渴，數飲水，身熱，熱爭則項痛員員澹澹然，戊己甚，壬癸大汗，
氣逆則戊己死，刺足少陰太陽，諸汗者至其所勝日汗出也。
龐曰，五種熱病，肝腎二藏有逆證，心脾肺三藏亡逆證，凡五種熱病，二三日逢剋未為逆，
忌在五六日也。</p>
<h3>時行寒疫論</h3>
<p>病源載從立春節後，其中無暴大寒，又不冰雪，而人有壯熱病者，此屬春時陽氣，發於冬時，
伏寒變為溫病也，從春分以後至秋分節前，天有暴寒，皆為時行寒疫也，三月四月，或有暴
寒，其時陽氣尚弱，為寒所折，病熱猶輕，五月六月，陽氣已盛，為寒所折，病熱則重，七
月八月，陽氣已衰，為寒所折，病熱亦微，其病與溫病暑病相似，但治有殊耳，其治去初用
摩膏火炙，唯二日法針，用崔文行散，汗出愈，不解，三日復發汗，若大汗而愈，不解者，
勿復發汗也，四日服藜蘆丸，微吐愈，若病困，藜蘆丸不吐者，服赤小豆瓜蒂散吐之，已解
視病尚未了了者，復一法針之當解，不解者，六日熱已入胃，乃與雞子湯下之愈，無不如意，
但當諦視節度與病耳，食不消病，亦如時行俱發熱頭痛，食病當速下之，時病當待六七日，
時病始得，一日在皮，二日在膚，三日在肌，四日在胸，五日入胃，入胃乃可下也，熱在胃
外而下之，熱乘虛入胃，然要當復下之不得下，多致胃爛發斑，微者赤斑出，五死一生，劇
者黑斑出，十死一生，人有強弱相倍也，病者過日不以時下之，熱不得泄，亦胃爛斑出矣，
若得病無熱，但狂言，煩躁不安，精神言語不與人相主當者，治法在可水五苓散證中。
<span data-rev="注"><small class="雙行夾注">此巢氏載治時行寒疫之法焉，溫病暑病相似，但治有殊者，據溫病無摩膏火炙，又有冬溫瘡
豆，更有四時藏府陰陽毒，又夏至後有五種熱病，時令盛暑，用藥稍寒，故治有殊也。</small></span></p>
<h4>時行寒疫治法</h4>
<p>初得時行，赤色頭痛，項強，兼治賊風，走疰寒痺，趙泉黃膏。
大黃、附子、細辛、川椒、乾薑、桂枝〔各壹兩〕、巴豆〔伍拾粒〕，
㕮咀，苦酒漬一宿，以臘月豬膋一斤，煎調火三上三下，去滓收之，傷寒赤色，熱酒調服
梧桐子大一枚，又以火摩身數百遍，兼治賊風最良，風走肌膚，追風所在，摩之神效，千金
不傳。</p>
<p>崔文行解散時氣不和，傷寒發熱。
桔梗〔炒〕、細辛〔各肆兩〕、白朮〔捌兩〕、烏頭〔炮，壹斤〕，
細末，傷寒服一錢五銖匕，不覺復小增之，以知為度，若時氣不和，旦服一錢五銖匕，辟惡
欲省病，一服了去，此時行寒疫通用之，無病者預服以辟寒為佳，皆酒調下。</p>
<p>藜蘆散溫辟溫疫傷寒，
藜蘆、躑躅、乾薑〔各肆分〕、牡丹皮、皂角〔各伍分〕、細辛、附子〔各參分〕、桂枝、朱砂
〔各壹分〕，
末之，絳囊帶一方寸匕，男左女右，臂上著之，覺有病之時，更以粟米大內鼻中，酒服一錢
匕，覆取汗，日再當取一汗耳。</p>
<p>赤小豆瓜蒂散在厥陰證中。
雞子湯治熱盛狂語欲走。
生雞子〔柒枚〕、芒消〔壹兩〕，
井華水一大升，同攪千遍，去沫，頻服之，快利為度。</p>
<p>豬苓散即傷寒門五苓散也，在可水證中。
<span data-rev="注"><small class="雙行夾注">巳上五方，載巢氏治時行寒疫合用之方</small></span>
龐曰，摩膏火炙可行於西北二方，餘處難施，莫若初服解散赤散之類，如轉發熱而表不解，
乃行後四方為佳，天行壯熱煩悶無汗者，麻黃葛根湯。
麻黃〔伍兩〕、葛根〔四兩〕，
麤末，每服五錢，水二盞，梔子二箇，蔥白五寸，豉一撮，煎八分，去滓沫，溫溫相次四五
服，取汗，止後服，天行一二日，麻黃湯。
<span data-rev="注"><small class="雙行夾注">自汗者去麻黃加葛根二兩</small></span>
麻黃〔貳兩〕、石膏〔壹兩半〕、貝齒〔五箇，無亦得〕、升麻、甘草、芍藥〔各壹兩〕、杏仁
〔肆拾箇〕，
麤末，每服五錢，水二盞，煎八分，溫服取汗，止後服。</p>
<p>葛根解肌湯，汗後表不解，宜服此。
<span data-rev="注"><small class="雙行夾注">自汗者去麻黃</small></span>
葛根〔肆兩〕、麻黃、芍藥、大青、甘草、黃芩、桂枝〔各貳兩〕、石膏〔參兩〕，
煎如前法。</p>
<p>詔書發汗白薇散，治時氣二三日不解。
白薇〔貳分〕、杏仁〔參分〕、貝母〔參分〕、麻黃〔柒分〕，
細末，酒調下方寸匕，相次二三服，溫覆汗出愈，湯調亦得。</p>
<p>聖散子方
<span data-rev="注"><small class="雙行夾注">此方蘇子瞻尚書所傳，有序文</small></span>
昔嘗覽千金方，三建散於病無所不治，而孫思邈特為著論，以謂此方用藥節度，不近人情，
至於救急，其驗特異，乃知神物效靈，不拘常制，至理開感，智不能知，今予所得聖散子，
殆此類也歟，自古論病，唯傷寒至危急，表裏虛實，日數證候，應汗應下之法，差之毫釐，
輒至不救，而用聖散子者，一切不問陰陽二感，或男女相易狀，至危篤者連飲數劑，則汗出
氣通，飲食漸進，神宇完復，更不用諸藥連服取差，其餘輕者心額微汗，正爾無恙，藥性小
熱，而陽毒發狂之類，入口即覺清涼，此殆不可以常理詰也，時疫流行，平旦輒煮一釜，不
問老少良賤，各飲一大盞，則時氣不入其門，平居無病，能空腹一服，則飲食快美，百疾不
生，真濟世衛家之寶也，其方不知所從來，而故人巢君穀世寶之，以治此疾，百不失一二，
余既得之，謫居黃州，連歲大疫，所全活至不可數，巢君初甚惜此方，指江水為盟，約不傳
人，余竊隘之，乃以傳蘄水人龐君安常，龐以醫聞於世，又善著書，故以授之，且使巢君之
名與此方同不朽也，其用藥如右。
肉豆蔻〔拾箇〕、木豬苓、石菖蒲、茯苓、高良薑、獨活、柴胡、吳茱萸、附子〔炮〕、麻黃、
厚朴〔薑炙〕、藁本、芍藥、枳殼〔麩炒〕、白朮、澤瀉、藿香、吳朮〔蜀人謂蒼朮庂白者
為白朮，蓋茅朮也，而謂今之白朮為吳朮〕、防風、細辛、半夏〔各半兩薑汁製〕、甘草〔壹
兩〕，
剉焙作煮散，每服七銖，水一盞半，煎至八分，去滓熱服，餘滓兩服合為一服重煎，皆空心
服。</p>
<p>治時氣傷寒，頭痛身熱，腰背強引頸，及中風口噤，治瘧不絕，婦人產中風寒，經氣腹大，
華佗赤散方，
丹砂〔貳分〕、蜀椒、蜀漆、乾薑、細辛、黃芩、防己、桂枝、茯苓、人參、沙參、桔梗、女
萎、烏頭、常山〔各參分〕、雄黃、吳茱萸〔各伍分〕、麻黃、代赭〔各拾分〕，
除細辛、丹砂、乾薑、雄黃、桂外，皆熬治作散，酒服方寸匕，日二，耐藥者二匕，覆令汗
出，治瘧先發一時服藥二匕半，以意消息之。</p>
<p>烏頭赤散治天行疫氣病，
烏頭〔陸分〕、皂角、雄黃、細辛、桔梗、大黃〔各壹兩〕，
細末，清酒或井花水服一刀圭，日二，不知稍增，以知為度，除時氣不和，一日進一服，牛
馬六畜中天行瘴疫，亦以方寸匕，人始得病，一日時服一刀圭，取兩豆許，內鼻孔中。</p>
<h3>斑豆瘡論</h3>
<p>龐曰，天行豌豆瘡，自漢魏以前，經方家不載，或云建武中南陽征虜所得，仍呼為虜瘡，其
後名醫雖載發斑候，是發汗吐下後，熱毒不散，表虛裏實，熱氣燥於外，故身體發斑，又說
豌豆皰瘡，表虛裏實，一如發斑之理，別云，熱毒內盛，攻於藏府，餘氣流於肌肉，遂於皮
膚毛孔中，結成此瘡，既是裏實，熱毒內盛，則未發及欲發瘡斑，未見皆宜下之也，瘡已差
則再下之，此病有二種，一則發斑，俗謂之麻子，其毒稍輕，二則豌豆，其毒最重，多是冬
溫所變，凡覺冬間有非節之暖，瘡毒未發，即如法下之，次第服預防之藥，則每氣內消，不
復作矣，有不因冬暖四時自行者，亦如法下之，古方雖有治法，而不詳備，疑當時毒熱未甚，
鮮有死者耶，近世此疾，歲歲未嘗無也，甚者夭枉十有五六，雖則毒氣內壞不治，因醫為咎，
又大半矣，若身疼壯熱頭痛，不與小汗，何由衰散，大腑久祕，毒攻腰脅，或心腹脹滿，不
與微利，何由釋去，故當消息汗下，然則寒藥固不當行，溫藥反增熱毒，若熱勢大盛，脈候
洪數，涼性之藥，不阻表裏，氣亦可通用，若寒氣阻礙，脈候浮遲，則溫性之藥，不阻表裏
氣者，可冀冰釋云，不可汗下寒熱之藥，只可紫草一味者，乃滯隅之流，秪是遭逢輕疾，以
自差為功，若值重病，則拱手待斃矣，世有權貴，自信不任人拘忌，冷熱汗下，病或不救，
則責醫謬誤，斯又可為傷歎，夫調瑟者必當移柱，故用古方，附以愚見為斑豆方，以小兒多
染此患，故專用小湯劑，大人可倍用之。</p>
<h4>溫病發斑治法〔小兒證附〕</h4>
<p>冬月觸冒寒毒者，至春始發病，病初至表，或已發汗吐下，而表證未罷，毒氣不散，故發斑
瘡，又冬月天氣溫煖，人感乖候之氣，未即發病，至春又被積寒所折，毒氣不得泄，至夏遇
熱，其春寒已解，冬溫毒始發，出於肌膚，斑爛隱𤺋如錦文也。
治溫毒發斑，大疫難救，兼治豌豆瘡不出，地黃膏。
濕地黃〔肆兩〕、好豉〔半升〕，
以豬膏一斤和勻，露一宿，煎五七沸，令三分去一，絞去滓，下雄黃末一錢匕，豉香末半錢
匕，攪勻，稍稍盡飲之，毒從皮中山則愈，小兒斟酌服。</p>
<p>冬溫未即發病，至春被積寒所折不得發，至夏得熱，其春寒解，冬溫毒始發於肌中，斑爛隱
𤺋如錦紋，而欬悶嘔吐清水，宜服黃芩麻黃湯。
葛根、橘皮、杏仁〔生〕、麻黃、知母、黃芩、甘草〔各半兩〕，
㕮咀，水二升煮八合，去滓，溫溫分減服之，嘔吐先定，便宜消息，不嘔者去橘皮。
肺府藏熱，暴發氣斑，<span data-rev="注"><small class="雙行夾注">不可作煮散，</small></span>香豉石膏湯。
香豉〔貳合〕、蔥鬚〔壹兩〕、石膏〔貳兩〕、梔子〔參參〕、生薑〔貳兩〕、大青、升麻、芒消
〔各三分〕，
㕮咀，水三升煮取一升三合，去滓，下芒消，溫溫分減服。</p>
<p>溫病發斑，赤斑者五死一生，黑斑者十死一生，大疫難救，黑奴丸主之。
<span data-rev="注"><small class="雙行夾注">方在雜汗證中</small></span>。
冬溫至夏發斑，欬而心悶，嘔清汁，眼赤口瘡，下部亦生瘡，或自下利，黃連湯。
黃連〔壹兩〕、橘皮、杏仁〔麩炒〕、枳實、麻黃、葛根、厚朴、甘草〔各壹分〕，
㕮咀，水三升煮一升二合，去滓，溫溫分減服，下利先止，別當消息，小兒斟酌。</p>
<p>天行發斑瘡，須臾遍身皆戴白漿，此惡毒云，永徽四年，此瘡自西域東流于海內，但煮葵菜
蒜虀啖之則止，鮮羊血入口即定，初患急食之，作菜下飯亦得。
小兒時行瘡豆，恐相傳染，先服漏蘆湯下之，本治熱毒癰疽，赤白諸丹，熱毒瘡癤，
<span data-rev="注"><small class="雙行夾注">以下皆是小兒湯劑</small></span>。
漏蘆葉〔無，以山梔子代之〕、連翹、白歛、甘草、芒消〔各壹分〕、升麻、枳實、麻黃、黃
芩〔各壹分半〕、大黃〔肆分〕，
㕮咀，水二升煮一升半，下大黃煮一升，去滓，下芒消，分減服，以利為度，大人服可倍
作，
<span data-rev="注"><small class="雙行夾注">大黃水浸，少時和水下之</small></span>，</p>
<p>龐曰，凡覺冬溫，至春夏必發斑豆，小身兒輩須服漏蘆湯下之，得下後，逐日空心飲甘草汁，
三歲以上一盞，兒小減之，直候腹疼乃止，未疼可飲至十日，則永不發，或下後飲羊血一盞，
則不發。</p>
<p>治時行豌豆瘡樺皮飲子。
樺皮二兩細切，水一升煮至半升，去滓飲汁，分減服。</p>
<p>龐曰，初得病便驚狂不眠，渾身漐然汗出，問之身不憎寒，亦不惡風，其脈如數，以漏蘆
湯下之，不甚數者，以大承氣湯下之，非但瘡豆，傷寒亦然。
治豆瘡毒氣不出，煩悶，熱毒氣攻腰，或腹脅痛不可忍，大便不通，五香湯主之。
麝香〔半分〕、木香、丁香、沉香、乳香〔各壹分〕、芍藥、枳實、射干、連翹、黃芩、麻黃、
升麻、甘草〔各半兩〕、大黃〔壹兩〕。
麤末，每服四錢，水一盞，竹瀝半盞，煎竹分，去滓，下朴消一錢匕和服，以利為度。</p>
<p>天行熱氣生瘡疱，身痛壯熱，水解散。
麻黃〔壹兩〕、黃芩、桂枝、甘草〔各半兩〕，
細末，煖水調下二錢匕，小兒一錢，覆令小汗，熱氣在表，已發汗未解，或吐下後，熱毒不
散，煩躁謬語，此為表虛裏實，熱氣躁於外，故身體發斑如錦紋，或不因汗下，始得病一二
日便發，皆由溫疫熱毒氣使然也，甚則發豌豆瘡，其色白或赤，發於皮膚，頭作漿戴白濃者，
其毒則輕，有紫黑色作根，隱隱在肌肉裏，其毒則重，十死一生，甚者五內七竅皆有瘡形如
豌豆，故以名焉，脈洪數者，是其候也，天行熱毒未解，欲生豌豆，發熱疼痛，宜服解肌出
汗葛根石膏湯。
葛根、麻黃〔各壹兩〕、石膏〔貳兩〕、黃芩、芍藥、桂枝、甘草〔各半兩〕，
麤末，每服四錢，水一盞半，煎八分，溫服，取小汗，
<span data-rev="注"><small class="雙行夾注">自汗者去麻黃</small></span>。
斑豆始有白疱，忽搐入腹，漸作紫黑色，無膿，日夜叫煩亂者，鬱金散。
鬱金一枚〔甘草壹分、水半碗、煮乾、去甘草、片切，焙乾為細末〕、真腦子〔炒、半錢〕，
同研，每一錢匕，以生豬血五七滴，新汲水調下，不過二服，甚者毒氣從手足心出，如癰狀
乃差，此是五死一生候也。</p>
<p>此患小便澀，有血者中壞也，瘡黑厭無膿，十死不治，斑豆煩喘，小便不利，鱉甲湯。
燈心〔壹把〕、鱉甲〔貳兩〕，
水一升半煎六合，去滓，溫分作二服。</p>
<p>斑豆定煩喘，淡竹瀝飲子。
淡竹瀝，
煖飲之，煩喘自汗，瘡不作黑厭，可治。</p>
<p>定煩喘麻黃甘草湯。
麻黃、杏人、桑白皮、甘草〔各壹分〕，
㕮咀，水一升煎四合，放溫分減服，若脈數有熱，以竹瀝代水一半煎之，嗽或喉痛加射干
一分。</p>
<p>斑豆瘡出不快，紅花湯。
紅花子〔壹合槌碎〕，
水半升煎百沸，去滓，分減服之。</p>
<p>斑豆服涼藥太過，欬嗽，手足冷，脈遲，甘草乾薑湯。
乾薑〔半兩〕、甘草〔壹兩〕，
㕮咀，水一竹半煎六合，分作二服。</p>
<p>常行瘡豆，紫草湯最良，患其服之，太少不能中病，但多槌切好紫草，
<span data-rev="注"><small class="雙行夾注">以湯沃庂，用物合定，候溫去滓，分減服，每紫草半升，用湯一升為準也</small></span>。</p>
<p>斑豆已出不可正爾發表更增斑爛以表虛故也。
豌豆瘡欲出，甘草湯。
甘草〔肆兩〕，
細剉，水二升煎一升，去滓，分減溫服，覺腹中微利即止。
油飲子，飲清油一升，即不生。</p>
<p>碗豆斑瘡不快，表裏火解，煩喘，大便祕，氣攻腹滿，犀角升麻湯。
麻黃〔壹分半〕、木香、犀角、升麻、芍藥、甘草、杏人、枳實、雄黃〔各壹分〕、大黃〔半
兩〕、麝香〔壹錢〕。
㕮咀，水二升煎一升半，下大黃，再煎一升，去滓，下雄麝末沸勻，分作三服，以大便通
為度。</p>
<p>瘡已出定方。
芒硝、豬膽，
和研勻塗之，勿動，痂落無瘢，仍臥黃土末上良。</p>
<p>天行瘡豆，預服此則不發，三豆飲子。
赤小豆、黑豆、菉豆〔各壹升〕、甘草〔壹兩〕，
淨淘，水八升煮熟，逐日空心任性食豆飲汁，七日永不發。</p>
<p>瘡豆發斑，下利赤黃，或膿血，遍身發熱，梔子薤豉湯。
好豉〔半升〕、薤白〔貳兩〕、肥梔子〔拾陸枚〕，
水二升半，煮梔子薤白將瀾，下豉再煮十數沸，去滓，分減服，解下惡物差。</p>
<h2>傷寒總病論卷五</h2>
<h3>天行溫病論</h3>
<p>龐曰，辛苦之人，春夏多溫熱者，皆由冬時觸冒寒毒所致，自春及夏至前為溫病丈，素問，
仲景所謂傷寒也，有冬時傷非節暖，名曰冬溫之毒，與傷寒大異，即時發病溫者，乃天行之
病耳，其冬月溫暖之時，人感乖候之氣，未即發病，至春或被積寒所折，毒氣不但泄，至天
氣暄熱，溫毒乃發，則肌肉斑爛也，又四時自受乖氣而成府藏陰陽溫毒者，則春有青筋牽，
夏有赤脈㩌，秋有白氣貍，冬有黑骨溫，四季有黃肉，隨治亦別有法，難經載五種傷寒，言
溫病之脈行在諸經，不知何經之動，隨經所在而取之，中風木，傷寒金，熱病火，濕溫水，
溫病土，治之者各取其所屬，據難經溫病，本是四種傷寒，感異氣而變成溫病也，土無正形，
因火而名，故以溫次熱也，土寄在四維，故附金木水火而變病，所以王叔和云，陽浮滑滑，
陰脈濡弱，更遇於風熱，變成風溫，陽脈洪數，陰脈實大，更遇其熱，變成溫毒，溫毒為病
最重也，陽脈濡弱，陰脈弦緊，更遇濕氣，變為濕溫，脈陰陽俱盛，重感於寒，變成溫瘧，
斯乃同病異名，同脈異經者也，故風溫取足厥陰木，手少陰火，溫毒專取手少陰火，溫瘧取
手太陰水，濕溫取足少陰水，手少陰火，故云，隨經所在而取之也，天行之病，大則流毒天
下，次則一方，次則一鄉，次則偏著一家，悉由氣運鬱發，有勝有伏，遷正退位，或有先後，
天地九室相形，故令升之不前，降之不下，則天地不交，萬化不安，必偏有宮分，受斯害氣，
莊子所謂運動之泄者也，且人命有遭逢，時有否泰，故能偏著一家，天地有斯害氣，還以天
地所生之物，以防備之，命曰賢人知方矣。</p>
<h4>辟溫疫論</h4>
<p>療疫氣令人不相染，及辟溫病傷寒屠蘇酒，
<span data-rev="注"><small class="雙行夾注">通俗文曰，屋平曰屠蘇，廣雅云，屠蘇，庵也，然屠蘇平而庵園所以不相同，今人寒月應事
下作版閣是也，尊貴之家，閣中施羽帳錦幃聚會以禦寒，故正旦會飲辟溫酒，而以屠蘇為名
也</small></span>。
大黃、桂枝、桔梗、川椒〔各拾伍銖〕、白朮〔拾銖〕、烏頭、菝葜、防風〔各陸銖〕，
㕮咀，縫囊盛，以十二月晦日早，懸沉并中至泥，正旦平曉，山藥置酒中，屠蘇之東，向
戶飲之，屠蘇之飲，先從小起，多少自在，一人飲一家無病，一家飲一里無恙，飲藥酒三朝
還置廿中，若能歲歲飲，可代代無病，當家內外井皆悉著藥，辟溫氣也，忌豬肉生蔥桃李雀
肉等。</p>
<p>辟溫粉，
芎、朮、白芷、藁本、苓陸香〔等分〕，
為末，每壹兩半入英粉肆兩，和勻，常撲身上，無英粉蚌粉亦可，凡出汗大多，欲止汗，宜
此法。</p>
<p>入溫家令不相染，研雄黃并嚏法。
水研光明雄黃，以筆濃蘸塗鼻竅中，則疫氣不能入，與病人同床亦不相染，五更初洗面後，
及臨時點之，凡溫疫之家，自生臭穢之氣，人聞其氣，即時以紙筋探鼻中，嚏之為佳，不爾，
邪氣入上元宮，遂散百脈而成斯病也，以雄黃點之，則自不聞其氣，并辟諸惡怪夢，神良。</p>
<p>常以雞鳴時，存心念四海神名三七遍，辟百邪惡鬼，令人不病溫。
東海神阿明、南海神視融、西海神巨乘、北海神禺強，
每入病人室，存心念三遍，口勿誦。</p>
<p>古今名賢傳，許季山所撰千敷散，辟溫疫惡疾，不相染著。
附子〔一個，壹分者〕、細辛、乾薑、麻子、柏實〔各壹分〕，
細末，和入柏實麻子令勻，酒服方寸匕，服藥一日，十年不病，二日二十年不病，三日三十
年不病，受師法保應，三日服之，歲多疫則預服之，不飲酒井花水服，亦得忌豬肉生菜。</p>
<p>辟溫殺鬼丸，薰百鬼惡氣。
雄黃、雌黃〔各貳兩〕、羖羊角、虎頭骨〔各柒兩〕、龍骨、鱉甲、陵鯉甲、蝟皮〔各參兩〕、
樗雞〔拾伍枚，無，以芫青五枚代〕、空青〔一兩，無，以石綠代〕、川芎、真朱砂〔各伍兩〕、
東門上雞頭〔壹枚〕，
細末，以蠟貳拾兩併丸雞頭大，正旦門前燒壹丸，男左女右，臂上帶一丸，辟百惡，獨弔喪
問死，吞下壹丸小豆大，天陰大霧燒壹丸於門牖前，極佳。</p>
<p>務成子螢火丸，主辟疾病惡氣，百鬼虎狼，蛇虺蜂蠆諸毒。
五兵白刃，盜賊凶害者，冠軍將軍武威太守劉子南，從尹公受得此方，永平十二年於虜界交
戰，敗績，士卒掠盡，子南被圍，矢如雨，未至子南馬數尺，矢輒墮地，虜以為神人，各解
圍而去，子南以方教子及諸兄弟為將者，皆未嘗被傷，累世祕之，漢末，青牛道士得之，以
傳安定皇甫隆，隆傳魏武帝，乃有人得之，故一名冠軍丸，一名武威丸，
<span data-rev="注"><small class="雙行夾注">曾試此法，一家五十餘口俱染病，唯四人帶者不染</small></span>。
螢火、鬼箭〔削取皮羽〕、蒺蔾〔各壹兩〕、雄黃、雌黃、礬石〔各貳兩〕、羖羊角、鍛灶灰、
鐵錘柄〔入鐵處燒焦各壹兩半〕，
為末，以雞子黃丹雄雞冠一具和之，如杏子大，作三角絳囊盛住丸帶左辟，若從軍繫腰下勿
離身，若在家掛戶之上，辟絕賊盜溫疫，神良。</p>
<p>劉根別傳曰，潁川太守到官，民大疫，掾史死者過半，夫人郎君悉病，府君從根求消除疫氣
之術，根曰，寅歲泄氣在亥，今年太歲在寅，於聽事之亥地，穿地深參尺與深同，取沙參斛
著中，以淳酒參升沃其上，府君從之，病者即愈，疫氣遂絕，
<span data-rev="注"><small class="雙行夾注">於聽事取太歲六合之地也</small></span>。</p>
<h4>青筋牽證</h4>
<p>春三月青筋牽證，其源自少陰，少陽從少陰而涉足少陽，少陽之氣始發，少陰之氣始衰陰陽
怫鬱於腠裏皮毛之間，因生表裏之痾，因從足少陽發動反少陰，則藏付受癘而生其病。
肝府藏陰陽毒氣病，頸背雙筋牽急，先寒後熱，其病相反，若府虛為陰邪所傷者，則腰強急，
腳縮不伸，府中欲折，眼中生花，此法主之，
<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>。</p>
<p>柴胡地黃湯。
柴胡〔貳兩半〕、生地黃〔伍合半〕、香豉〔伍合〕、生薑、石膏〔各肆兩〕、桂枝〔半兩〕、大
青、白朮、芒硝、梔子人〔各壹兩半〕，
㕮咀，水七升煎三升，去滓，下芒硝，溫飲一盞，日三四服，未差再作。</p>
<p>肝府藏陰陽溫毒病，項背牽急，先寒後熱，其病相反，若藏實則為陽毒所損，眼黃，頸背強
直，若欲轉動，即合自回側，
<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>。</p>
<p>石膏竹葉湯。
淡竹葉〔貳升〕、梔子人、黃芩、升麻、芒硝〔各壹兩半〕、細辛、玄參〔各半兩〕、石膏〔肆
兩〕、車前草〔壹升葉〕，
㕮咀，水陸升，先下竹葉車前草煮肆升，去滓，下諸藥，煮二升，去滓，下芒硝化勻，溫
飲一盞。</p>
<h4>赤脈㩌證</h4>
<p>夏三月行赤脈㩌病，其源自少陰太陽。
心府藏陰陽溫毒氣，身熱，皮肉痛起，其病相反，若藏實則為陽毒所侵，口乾舌破而咽塞，
若府虛則為陰邪所傷，戰掉不定而驚動，
<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>，
石膏地黃湯。
石膏、生葛根〔各肆兩〕、麻黃〔貳兩〕、玄參〔參兩〕、知母〔半兩〕、梔子人、大青、黃芩、
芒硝〔各壹兩半〕、濕地黃〔半升〕，
㕮咀，水九升取四升，去滓，下芒硝烊化勻，溫飲一盞，日三四服。</p>
<h4>黃肉隨證</h4>
<p>四季月終，餘十八日行黃肉隨病，其源從太陰陽明相格，節氣相移，三焦寒濕不調，四時閞
格而起，則藏府之痾隨時而受癘，陽氣外泄，陰氣內伏。
腫府藏溫毒病，陰陽毒氣，頭重項直，皮肉強，其病相反，藏實則陽疫所傷，蘊而結核，起
於頸下，布熱毒於分肉之中，上散入髮際，下貫顳顬，隱隱而熱，不相斷離，
<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>，
玄參寒水石湯。
羚羊角屑、大青〔各壹兩〕、升麻、射干、芒消〔各壹兩半〕、玄參〔肆兩〕、寒水石〔貳兩半〕、
梔子人〔貳兩〕，
㕮咀，水七升煎至三升，去滓，下芒消烊化勻，溫飲一盞，日三四服。</p>
<p>扁鵲云，灸肝脾二腧，主治四時隨病。</p>
<h4>白氣貍證</h4>
<p>秋三月行白氣貍病，其源從太陽繫于太陰，太陰受淫邪之氣，則經絡壅滯，毛皮堅豎，發泄
邪氣，則藏府傷溫，隨狀受癘。
肺府藏溫病，陰陽毒氣，其病相反，若府虛則陰邪所傷，乍寒乍熱，損肺傷氣，暴嗽嘔逆，
<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>，
宜石膏杏人湯。
石膏〔肆兩〕、杏人、前胡〔各貳兩〕、甘草〔壹兩〕、梔子人、麻黃、紫苑、桂枝、大青、玄
參、葛根〔各壹兩半〕，
㕮咀，水玖升煎四升，溫飲一盞，日三四服。</p>
<p>肺府藏溫病，陰陽毒氣，其病相反，若藏實則為陽毒所損，體熱生班，氣喘引飲，
<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>，
宜石膏蔥白湯。
豉〔半升〕、蔥白連鬚〔貳兩〕、石膏、生薑〔各肆兩〕、梔子人、升麻、大青、芒硝〔各壹兩
半〕，
㕮咀，水八升煎三升半，去滓，下芒硝烊化勻，溫飲一盞，日三四服。</p>
<h4>黑骨溫證</h4>
<p>冬三月行黑骨溫病，其源從太陽少陰，相搏蘊積，三焦上下壅塞，陰毒內行，藏府受客邪之
氣，則病生矣，腎府藏溫病，陰陽毒氣，其病相反，若府虛則為陰毒所傷，裏熱外寒，意欲
守火而引飲，或腰痛欲折，腎府藏溫病，陰陽毒氣，其病相反，若藏實陽毒所損，胸脅切痛，
類如刀刺，心腹彭脹，服冷藥差過而便洞泄，
<span data-rev="注"><small class="雙行夾注">不可作煮散</small></span>，
苦參石膏湯。
苦參、生葛〔各貳兩〕、石膏、濕地黃〔各肆兩〕、梔子人、茵蔯、芒硝〔各壹兩半〕、香豉、
蔥白〔各半升〕，
㕮咀，水八升煎三升半，去滓，下茫硝烊化勻，溫飲一盞，日三四服。</p>
<p>扁鵲云，灸脾肝腎三腧，治丹毒黑骨溫之病。
知母解肌湯療溫熱病，頭痛，骨內煩疼，口燥心悶，或是夏月天行毒，外寒內熱者，或已下
之，餘熱未盡者，或熱病自得利，有虛熱煩渴者。
麻黃、甘草〔各壹兩〕、知母、葛根〔各壹兩半〕、石膏〔參兩〕，
㕮咀，水三升煎一升，去滓，溫飲一盞，若已下及自得利下，虛熱未除者，除麻黃加葛根
成三兩，病常自汗者，亦如此法加葛根，無汗而難得汗者，加麻黃成一兩半，因變泄者，除
麻黃加白薇人參各一兩，加水四升，煎至一升半。</p>
<h4>溫病噦方論</h4>
<p>伏熱在胃，令人胸滿氣逆，逆則噦，若大下後，胃中虛冷，亦致噦也。
溫病有熱飲水暴冷啘，茅根葛根湯。
茅根、葛根〔各半升〕，
水四升煮二升，去滓，溫飲一盞。</p>
<p>溫病熱未除，重被暴寒，寒毒入胃，蘊結不散變啘，梓皮飲子。
單煮梓皮汁，稍稍飲之，佳。</p>
<p>溫病積飲冷，冷結胃中，熱入腎中，變壯熱大啘者，服梓皮湯，夫腎中有熱者，病差後，
足心皮喜剝脫去，頭髮禿落，是其證也。
溫病胃冷變啘，茅根橘皮湯。
白茅根〔半升〕、橘皮〔壹兩半〕、桂枝、葛根〔各壹兩〕，
㕮咀，水三升煎去半，去滓，溫飲一盞，啘止停後服，微有熱，減桂半兩，
〔微有熱，宜去桂，加生薑二兩〕。
溫病有熱飲，水暴冷啘，枇杷茅根湯。
枇杷葉，茅根〔各半升〕，
水四升煮去半，去滓，稍熱飲之，一二盞，
<span data-rev="注"><small class="雙行夾注">已上四方，皆不可作煮散</small></span>。</p>
<p>溫病者，此熱入腎，腎藏惡燥，熱盛則腎燥，腎燥故渴，引飲而自救也。
萎蕤湯療冬溫，及春月中風傷寒，發熱，頭眩痛，咽乾舌強，胸中痛，心胸痞滿，腰背強。
萎蕤、白薇、麻黃、獨活、大杏人〔生〕、芎藭、甘草、青木香、葛根〔各壹兩〕、石膏〔壹
兩半〕，
㕮咀，水五升煎二升半，去滓，飲一盞，通口服之，取汗，若一寒一熱者，加朴消半兩，
大黃壹兩半，朴消末後下。</p>
<h4>黃病證</h4>
<p>黃病者，一身盡痛，發熱，面色洞黃，七八日後，結熱裏有血，當下之如豚肝狀，
<span data-rev="注"><small class="雙行夾注">有血必狂，宜抵黨湯，如黃病自下血，亦有自愈者</small></span>，
其人小腹滿急，若眼睛澀痛，鼻骨疼，兩膊及項強，腰背急，則是黃候，大便澀，但得小便
利，則不慮死矣，不用大便多，多則心腹脹為不佳，此由寒濕在表，則熱畜於脾胃，腠理不
開，瘀熱與宿穀相搏，鬱烝不得消散，則大小便不通，故身體面目皆變黃色，黃候其寸口近
掌無脈，口鼻氣冷者死。</p>
<p>療諸黃膏髮煎。
亂髮〔兩雞子大〕、豬膋〔捌兩〕，
二味煎令髮消盡，研絞去滓，分二服，病從小便去，有人再病，胃中乾糞，下便差。
又方，
瓜蒂貳拾柒箇，水壹升煎去半，頓服之。</p>
<p>黃疸目黃不除，瓜丁散。
瓜丁細末，
含水畜豆許，深入鼻中，黃水出盡為度。</p>
<p>孫真人曰，凡遇天行熱病，多內熱著黃，但用瓜丁散內鼻中，黃水出乃愈，即於後不復患病
黃矣，常須用心警候病人四支身面，微似有黃氣，即速行瓜丁散不可令散漫，失候必大危矣，
特忌酒麵色欲，犯者死，黃家日晡發熱，而反惡寒，此為女勞，得之膀胱急，小腹滿，身體
盡黃，額上反黑，足下熱，因作黑癉，大便必黑，腹臚脹滿如水狀，大便黑溏者，此女勞之
病非水也，腹滿者難療，消石礬石散。
消石、礬石，
等分擣篩，以大麥粥汁和服，方寸匕日三，重衣覆取汗，病隨大小便去，小便正黃，大便正
黑也，大麥則須是無皮麥者，千金方云，消石二分熬令燥，礬石一分熬令燥，故注之。</p>
<h4>傷寒感異氣成溫病，壞候并瘧證</h4>
<p>病人素傷於風，因復傷於熱，風熱相搏，則發風溫，四肢不收，頭痛身熱，常自汗出不解，
治在少陰厥陰，
<span data-rev="注"><small class="雙行夾注">少陰火，厥陰木</small></span>，
不可發汗，汗出則讝語，內煩擾不得臥，善驚目光無精，治之復發其汗，如此者醫殺之耳。
風溫之為病，脈陰陽俱浮，汗出體重，其息必喘，嘿嘿但欲眠，下之則小便難，發汗則讝
語，加溫針則耳聾難言，但吐下之則遺尿，宜萎蕤湯，
<span data-rev="注"><small class="雙行夾注">方在溫病噦方論中</small></span>，
因發汗後，身體不惡寒，而反惡熱，無下證者，名曰風溫，知母石膏湯。
知母〔壹兩〕、石膏〔壹兩半〕、葛根、萎蕤〔各參分〕、甘草、黃芩、升麻、人參、杏人、羌
活、防風〔各半兩〕，
㕮咀，水三升煎一升半，去滓，溫飲一盞，通口與之，取汗。</p>
<p>病人素傷於寒，因復傷於寒，變成溫瘧，寒多熱少者，華佗赤散主之，
<span data-rev="注"><small class="雙行夾注">在寒疫治法中</small></span>。
寒熱相半者，丹砂丸，
<span data-rev="注"><small class="雙行夾注">兼治間日瘧子</small></span>。
丹砂、人參〔各壹錢〕、附子〔壹箇，半兩者〕，
細末，蜜丸梧桐子，煎竹葉湯吞下二三十丸，發前三服，中病則吐，或身習習麻木，半中病
加至四十丸，間日發前如法服，中病即止。</p>
<p>溫瘧內熱甚，昏昏嘿嘿者，麥奴丸主之，
<span data-rev="注"><small class="雙行夾注">方在可汗門中</small></span>。
溫瘧其脈如平，身無寒，但熱，骨節煩疼，時嘔，白虎加桂枝湯。
石膏〔肆兩〕、知母〔壹兩半〕、甘草〔半兩〕、粳米〔壹合半〕、桂枝〔參分〕，
㕮咀，水三升半煮米熟，去半下藥，取一升半，溫飲一盞。
溫瘧之為病，先熱後寒。
病人嘗傷於濕，因而中暍，濕熱相搏，則發濕溫，病苦兩脛逆冷，腹滿，又胸頭目痛苦妄言，
治在少陰，不可發汗，汗出則不能言，耳聾，不知痛所在，身青而色變，名曰重暍，如此者
醫殺之耳。
治濕溫如前證者，白虎湯主之，
<span data-rev="注"><small class="雙行夾注">方在傷寒厥陰門中</small></span>。
濕溫多汗，妄言煩渴，石膏甘草散。
石膏、甘草〔等分〕，
細末，漿水調下二錢匕，日三服。</p>
<p>龐曰，愚醫昧於冷熱之脈，見足脛冷，多行四逆輩，如此醫殺者，不可勝計，濕溫脈小緊，
有如傷寒脈，但證候有異，數進白虎，則脛自溫而差也。
病人素傷於熱，因復傷於熱，變為溫毒，溫毒為病最重也。
本太陽病不解，轉入少陽，小柴胡證罷，此為壞證，知犯何逆，以法治之。
寸口脈洪而大，數而滑，洪大榮氣長，數滑胃氣實，榮長即陽盛，怫鬱不得出，胃實即牢難，
大便苦乾燥，三焦閉寒，津液不通，醫復發汗，令陽氣盛不周，復重下之，大便遂祕，小便
不利，榮衛如搏，五心煩熱，兩目如火，鼻乾面赤，舌燥齒黃而大渴，過經成壞病，
<span data-rev="注"><small class="雙行夾注">巢氏亦載此一候，今列入證中，經手神效方附</small></span>。
三黃石膏湯，治如前證。
石膏〔壹兩研〕、黃連、黃蘗、黃芩〔各半兩〕、香豉〔貳合半〕、梔子〔五箇〕、麻黃〔參分〕，
㕮咀，水三升煎取一升，分三服，未中病再一劑，其效如神。</p>
<p>深師方曰，傷寒已八九日，三焦生熱，其脈滑數，昏憒身熱，沉重拘急，或時呻吟，欲攻內
則沉重拘急，由表未解，直用汗藥，則毒因加劇，古方無表裏兼療者，思以三黃湯解其內，
有所增加，以解其外，故用三黃石膏湯。
論曰，傷寒發汗，或下，或誤。後三焦熱，脈候洪數，譫語不休，晝夜喘息，鼻中屢衄血，
而疾勢不解，身目如發黃，狂躁欲走，宜三黃石膏湯。
以上四種溫病，王叔和所謂同病異名，同脈異經者也，風溫與中風脈同，溫瘧與傷寒脈同，
濕溫與中濕脈同，溫毒與熱病脈同，唯證候異而用藥有殊耳，誤作傷寒汗者，十死無一生。</p>
<h4>敗壞別行方</h4>
<p>天行病經七日已上，熱勢彌固，大便祕澀，心腹痞滿，食飲不下，精神昏亂恍惚，狂言異語，
其脈沉細，眾狀之中，無一可救，決計附子鱉甲湯，不可戶煮散。鱉甲、白蘚皮、茵蔯〔各
半兩〕、細辛、桂枝、白朮、吳茱萸、附子、枳實〔各壹分〕、大黃〔參分〕、生薑〔壹兩〕，
㕮咀，水三升煮一升，溫作三服。</p>
<p>傷寒將理失節，服冷藥太多，伏熱在藏，手足厥逆，爪甲稍青，恐陽氣漸衰成陰毒氣，踟躕
之間，變入狐惑，面色斑斑如錦紋，木通桂枝湯。
木通、桂〔各壹兩〕、吳茱萸、細辛〔各壹分〕、甘草〔半兩〕、蔥白〔陸莖〕、棗〔玖箇〕，
㕮咀，水二升半煎一升二合，去滓，溫作四服。</p>
<p>傷寒三七日至四七日，勞痟不歇，熱毒不止，乍熱乍寒，乍差乍發，動作如瘧，鱉甲恆山湯。
鱉甲、恆山、牛膝〔各參分〕、大青、牡丹〔各半兩〕、石膏〔貳兩〕、烏梅肉、甘草〔各壹分〕、
淡竹葉、豉、生麥門冬、生地黃〔各貳合半〕，
㕮咀，水五升煎二升半，溫飲一盞。</p>
<p>傷寒八九日不差，名曰敗傷寒，諸藥不能治者，鱉甲犀角湯。
鱉甲、升麻、柴胡、烏梅肉、枳實、犀角屑、黃芩〔各半兩〕、甘草〔壹分〕、生地黃〔貳合
半〕，
㕮咀，水三升煎一升半，分五服，日三夜二。</p>
<p>敗傷寒頭痛骨肉痛，荒言妄語，醫所不能療者，用前黑奴丸主之，
<span data-rev="注"><small class="雙行夾注">方在雜汗證中</small></span>。
龐曰，有人患時氣經六七日，因發狂，遂眼瞪不瞬，手攣膕曲，口噤或有張口者，冥冥不知
人事，口鼻氣絕，但心頭溫，面色和六脈皆動，一如尸厥，如此不省五六日，因作成敗計，
救用風引湯加附子，嚾下兩服遂省，風引加附子湯。
寒水石、石膏、赤石脂、白石脂、紫石英、滑石〔各陸錢〕、附子〔壹箇〕、龍骨、大黃、乾
薑〔各肆錢〕、甘草、牡蠣粉〔各貳錢〕、桂枝〔參錢〕，
麤末，每服三錢匕，水一盞煎至七分，去滓，溫飲之。</p>
<h3>小兒傷寒證</h3>
<p>小兒傷寒發熱，自汗多啼，葛根芍藥湯。
葛根〔參分〕、芍藥、甘草、黃芩、桂枝〔各半兩〕，
麤末，每服三錢，水一盞煎六分，去滓，溫溫作二服，相次與之，熱盛者，去桂加升麻半兩，
無汗者，加麻黃一兩，喘者，加杏子半兩。</p>
<p>龐曰，小兒傷寒，始因壯熱不除，被湯丸下後，其項強眼翻，弄舌畜搦，如發癇狀，久則哽
氣，啼聲不出，醫以為驚風，廔服朱砂、水銀、牛黃、彔粉、巴豆、竹瀝之類，藥皆無驗，
此由誤下後，毒氣結在心胸，內熱生涎，涎裹諸藥，不能宣行所致也，蕩涎散。
粉霜〔壹錢〕、膩粉〔貳匣〕、芫花〔壹分〕，
細末，煖漿水調下，一歲半錢，病勢大者再服，白色著底者粉霜也，宜盡嚾之，良久得睡，
取下黑黃涎裹包丹砂之類，皆成顆塊，啼聲便出，立安。</p>
<p>龐曰，小兒結胸，亦如前狀，但啼聲出，醫亦多作驚風治之，其脈浮滑，試以指按心下，則
痛而啼，宜半夏黃連括樓湯斟酌服，當下黃下黃涎便差，
<span data-rev="注"><small class="雙行夾注">方在結胸門中</small></span>。
小兒傷寒，蒸起風熱發癇，手足搐掣不省，虵皮湯。
麻黃、大黃、牡蠣、黃芩〔各肆錢〕、寒水石、白石脂、赤口脂、石膏、紫石英、滑石〔各捌
錢〕、人參、桂枝、龍齒〔各貳錢〕、甘草〔參錢〕、虵退皮〔壹錢〕，
麤末，每肆錢水一盞半，煎七分，溫分二服，熱多者進三服，以水并竹瀝中半煎，尤佳。</p>
<p>小兒傷寒後，胃中有熱，煩悶不食，至日晚沛熱，頰赤躁亂嘔吐，蘆根湯。
生蘆根、生茅根、赤茯苓、子芩、麥門冬、甘草、生薑〔各壹分〕、小麥、糯米〔各貳百粒〕，
細剉，水一升二合煎六合，去滓，分三服，立效。</p>
<p>小兒傷寒，欬嗽，胸鬲痰壅，喉中呀呷聲，射干湯。
射干、麻黃、紫苑、桂心、半夏〔各半兩〕、甘草〔壹分〕，
麤末，每服三錢，水一盞半，生薑汁少許，煎六分，去滓，入蜜半匕烊化勻，溫作二服。
又方，甜葶藶湯。
甜葶藶〔炒〕、杏人〔炒〕、麻黃〔各等分〕，
麤末，每二錢水一盞，煎五分，溫溫分減服。</p>
<p>小兒傷寒後，盜汗，體熱咽乾，犀角黃耆湯。
犀角屑、茯神、麥門冬、黃耆、人參〔各半兩〕、甘草〔壹分〕，
麤末，每三錢水一盞，煎五分，溫溫服。</p>
<p>小兒傷寒裏不解，發驚妄語，狂躁潮熱，鉤藤大黃湯。
鉤藤皮、當歸、甘草〔炙〕、芍藥〔各半兩〕、大黃〔參分〕，
麤末，每參錢水一盞煎陸分，溫溫服，以利為度，難利者間茵蔯丸服，
<span data-rev="注"><small class="雙行夾注">方在傷寒門中</small></span>，
此方不唯治傷寒，常時小兒傷食，作驚發癇，不乳，溫壯⿰口孜啀，皆可斟酌與服，以利為度。</p>
<h2>傷寒總病論卷六</h2>
<h3>傷寒雜方</h3>
<p>冬夏傷寒，發汗極效，時兩散，
<span data-rev="注"><small class="雙行夾注">冬春及夏初行，大驗</small></span>。
蒼朮〔肆兩〕、甘草、麻黃〔各貳兩〕、豬牙皂角〔肆挻〕，
為末，每服二錢，水一盞煮三兩沸，和滓溫服，蓋覆取汗出，立效，但是時行寒疫，皆宜服
此，可多合以拯貧民。
傷寒頭痛，玄精石方。
石膏、太陰玄精石〔各壹兩〕、麻黃〔貳兩〕、甘草〔半兩〕，
麤末，每服四錢，水一盞，竹葉二七片，煎七分，去滓，溫飲，不計時候。</p>
<p>傷寒頭痛不止，瓜蒂牙硝散。
藜蘆〔壹錢〕、瓜蒂〔參錢〕、牙硝〔貳錢〕、腦麝〔各少許〕，
細末，吹少許入鼻，得嚏則愈。</p>
<p>時氣八九日，喘悶煩躁，麻黃杏子湯。
桔梗、麥門冬〔各壹兩〕、麻黃〔壹兩半〕、杏人、黃芩、甘草〔各參分〕，
麤末，每五錢，水一盞半，煎八分，溫溫日可四五服。</p>
<p>時氣腦熱，頭疼不止，朴消散。
川朴消，研，生油調塗頂上。</p>
<p>時氣豌豆瘡出不快，心神煩悶，犀角五香湯。
犀角屑、丁香、乳香、水香〔各半兩〕、玄參、升麻〔各壹兩〕、麝香〔壹分〕，
麤末，每五錢水一盞，竹瀝半盞，煎八分，溫溫日三四服。</p>
<h3>妊娠雜方</h3>
<p>妊娠時氣，令子不落，伏龍肝散。
伏龍肝為末，水調塗臍下，乾時易之，疾蒫乃止。</p>
<p>妊娠傷寒，內熱極甚，令不傷胎，含雞子法。
取雞子，以絹袋貯投井底，浸令極冷，旋破吞六七枚，佳。</p>
<p>妊娠傷寒，腹脹，大便不通，喘急，牽牛散。
大黃、鬱金、青橘皮〔各壹兩〕、甘草〔參分〕、牽牛子〔取末貳兩〕，
細末，不計時，薑湯調下二錢，以利為度。</p>
<p>妊娠傷寒，服汗下諸藥，熱已退，覺氣虛不和，宜與此藥安胎，黃耆人參湯。
黃耆、人參、半夏、陳橘皮、麥門冬、當歸、赤茯苓〔各半兩〕，
麤末，每服四錢，水二盞，薑三片，煎七分，去滓，下阿膠末一小匕，烊化，溫與之，日可
三四服，大熱甚胎不安者，不宜前藥，宜用阿膠散。
阿膠末一錢半，竹瀝調下，無竹瀝，用小麥竹葉煎湯調下。</p>
<p>妊娠傷寒四五日已上，心腹脹，渴不止，腰痛重，橘皮枳實湯。
枳實、麥門冬〔各參分〕、陳橘皮〔壹兩〕，
麤末，每服五錢，水一盞半，生薑四片，煎八分，去滓，溫服。</p>
<p>妊娠熱病，胎死腹中，鹿角屑湯。
鹿角屑〔一兩〕，
水一碗，蔥白五莖，豉半合，煎陸分，去滓，溫作二服。</p>
<p>又方，益母草飲子。
益母草絞汁，飲半升，即出。</p>
<p>治傷寒小產，惡露不行，腹脹煩悶欲死，大黃桃人湯。
朴消、大黃，
二味，等分末之，每一錢或二錢，桃人去雙人皮尖，碎之，濃煎湯調下，以通為度，日三服。</p>
<p>小產後，其惡露被熱烝斷不行，地黃飲子。
地黃汁、藕汁〔各壹碗〕、生薑汁〔一盞〕，
令和煖，溫分三四服，微有寒，煎二十沸服之，亦下死胎。</p>
<p>傷寒產後，血運欲絕，紅花散。
紅花、荷葉、薑黃〔等分〕，
末之，炒生薑，小便調下二錢。</p>
<p>凡傷寒小產，夏月宜少用醋炭，多有煩悶運死者。
傷寒產後，惡血衝心，悶亂口乾，生薑小便飲子。
生地黃汁、藕汁、小便〔各一盞〕，
和勻，煎三兩沸，溫熱分作三服。</p>
<p>傷寒產後，惡露為熱搏不下，煩悶脹喘，狂言者抵黨湯，乃桃人承氣湯主之，
<span data-rev="注"><small class="雙行夾注">二方在可下門中</small></span>。
傷寒小產後，煩悶，大躁渴石膏。
黃連、黃芩、甘草、括樓根〔各壹兩〕、石膏〔壹兩半〕，
麤末，每服四錢，水一盞火，煎八分，溫服一盞。</p>
<h3>傷寒暑病通用刺法</h3>
<p>龐曰，凡過經不解，讝語者當刺期門，隨其實而瀉之，刺期門之法，須待脈弦或浮緊，刺
之必愈，餘刺之不差，以正取肝之邪故也，期門穴直乳下，當腹傍近脅骨，是穴針入一寸。
傷寒發熱，嗇嗇惡寒，其人大渴飲水者，其腹必滿，小便不利，而自汗出，其病欲解，此為
肝乘肺，名曰縱，當刺期門。
腹滿諴語，寸口脈浮而緊，此為肝乘脾，名曰橫，當刺期門。
下血而讝語，此為熱入血室，但額上汗出者，當刺期門，隨其實而瀉之，濈然汗出者愈。
婦人中風，發熱惡寒，其經水適來，得七八日熱除，脈遲身涼，胸脅下滿，如結胸狀而讝
語，此為熱入血室，當刺期門，隨其實者而取之。
太陽與少陽併病，頭痛或眩時，如結胸，心下必堅，當刺瀉肺腧大杼，慎不可發汗，發汗則
讝語，讝語則脈弦，五日讝語不止，當刺期門。
傷寒喉痺刺手少陰，腕骨小指後動脈是也，刺入三分補之，
<span data-rev="注"><small class="雙行夾注">佳通里二穴，去腕後一寸，是手少陰之經，主熱病喉痺，減入三分，可灸三壯</small></span>。
傷寒妊娠，腹潢不得小便，腰以下腫如水氣狀，懷孕七月，太陰當養，此心氣實，當刺瀉
勞宮及關元，小便利即愈，
<span data-rev="注"><small class="雙行夾注">勞宮手掌中央，屈名指取，關元在臍下三寸</small></span>。
傷寒飲水過多，腹脹氣喘，刺中脘，
<span data-rev="注"><small class="雙行夾注">鳩尾下三寸</small></span>。
傷寒汗不出，脊強，喉閉煩滿，針大杼，
<span data-rev="注"><small class="雙行夾注">大杼穴在第一椎下兩傍，相去各一寸五分，針入一寸，瀉之</small></span>。
傷寒餘熱不盡，皮膚乾燥，針曲池，
<span data-rev="注"><small class="雙行夾注">在曲肘橫紋頭，針可透下，瀉之</small></span>。
熱病汗出，脈反順可汗者，取之魚際太淵太都太白，瀉之則熱去，補之則汗出，太甚者取踝
上橫紋以止之，
<span data-rev="注"><small class="雙行夾注">魚際大指本節後，內側散脈中，太淵在當後陷中，太都在足大指本節後陷中，太白在足內側
核骨下陷中，踝上橫紋，不說穴名，當是足內踝上二寸，名曰腹溜，主骨寒熱汗注不休故也</small></span>。
熱病七八日，脈口動，喘而眩者，急刺之，汗且自出，淺刺手大指間，
<span data-rev="注"><small class="雙行夾注">合谷穴是也</small></span>。
熱病先胸脅痛，手足躁，刺足少陽，補足太陰，
<span data-rev="注"><small class="雙行夾注">據傷寒皆忌土敗木賊證，是足少陽木受邪，當傳剋脾土，故宜瀉足少陽之丘墟，而補足太陰
之太白，素問云，補足太陰者是也，其全元起太素，作手太陰而以肺經，從肺出腋下，故胸
脅滿痛，又有引虛則索筋於肝，不得索之於金，而以手太陰為是，既言不得索之於金矣，而
復求金乎，是必不然也，既瀉於木，理不合更補於金，若補於金，則木反受剋矣，故當補脾
土無疑</small></span>。
熱病先手臂痛，刺手陽明太陰汗出止，
<span data-rev="注"><small class="雙行夾注">太陰絡列缺穴在腕上二寸半，刺七分，陽明商湯穴在手大指次指端，去甲如薤葉，刺三分</small></span>。
熱病始於頭首者，刺項太陽而汗出止，
<span data-rev="注"><small class="雙行夾注">天柱穴在項后髮際，大筋外廉陷中，可刺五分，瀉之</small></span>。
熱病先眩冒而熱，胸脅滿，則足少陰少陽，
<span data-rev="注"><small class="雙行夾注">足少陰涌泉穴，在兩腳心陷，屈足口指宛宛中，刺入七分，瀉之，無令血出，足少陽俠谿穴，
在小指歧骨間，本節前陷中</small></span>。
熱病始足脛痛者，先取足陽明而汗出，
<span data-rev="注"><small class="雙行夾注">陷谷穴足大指次指之門，本節後陷中，針入五分，瀉之</small></span>。
熱病三日汗不出，怵惕胸脅痛，不可轉側，大小便血及衄不止，氣逆嘔噦，煩渴，食飲不下，
針勞宮，
<span data-rev="注"><small class="雙行夾注">在手掌心，針入五分，瀉之</small></span>。</p>
<h3>傷寒死生候</h3>
<p>傷寒下利，厥逆煩躁，不得臥者死。
傷寒厥逆六七日，發而利者生，汗山利不止者死，但有陰無陽故也。
傷寒欬逆上氣，其脈散者死，謂形損故也。
夫病者實則讝語，虛則鄭聲，
<span data-rev="注"><small class="雙行夾注">重語是也</small></span>，
直視讝語，喘滿者死，下利者亦死。
傷寒脈陰陽俱緊，口中氣出，唇口乾燥，倦臥足冷，鼻中涕出，舌上胎滑，勿妄治也。
傷寒脈浮而洪，身汗如油，喘而不休，水漿不下，形體不仁，乍靜乍亂，此為命絕也，又未
知何藏，先受其災，若汗出髮潤，喘而不休，此為肺先絕也，陽反獨留，形體如煙熏，直視
搖頭，此為心先絕也，唇吻反青，金肢漐習者，此為肝先絕也，環口利里黑，柔汗發黃，
此為脾先絕也，溲便遺失，狂言目反直視者，此為腎先絕也。
傷寒脈順，四時夜半得病日中解，日中得病夜半解，更不傳也。</p>
<h3>熱病死生候</h3>
<p>熱病陰陽交者，熱煩身燥，太陰寸口脈兩衝尚躁盛，是陰陽交死，得脈靜者生。
熱病得汗，身冷脈欲絕，其人已安靜，但昏沉喜睡，急與四逆輩，令手足溫，不爾，熟寐而
卒。
熱病陽進陰退，頭獨汗出，死，陰進陽退，腰以下至足有汗出，亦死，陰陽俱進，汗出已，
熱如故，亦死，陰陽俱退，汗出已，寒慄不止，口鼻氣冷，亦死。
熱病所謂併陰者，熱病已得汗，因得泄，是謂併陰，故治，熱病所謂併陽者，熱病已得汗，
脈尚躁盛，大熱汗出，雖不汗，身和而衄，是謂併陽，故治。
熱病不知痛所在，不能自收，口乾渴熱甚，陰頭有寒者，熱在骨髓，死，不治。
病若讝語妄言，身當有熱，而反四逆，脈沉細者，死。
熱病在腎，令人渴口乾，舌焦黃赤，晝夜引飲不止，腹大而脹，尚不厭飲，目無精光，死不
治。
熱病所謂陽附陰者，腰以下至足熱，腰以上寒，陰氣下爭而還，心腹滿者死。
熱病所謂陰附陽者，腰以上至頭熱，腰以下寒，陽氣上爭而還，得汗者，口。
熱病得汗，脈減躁，身和面赤此為榮未交，待時自巳，肝病待甲乙之例，
<span data-rev="注"><small class="雙行夾注">素問云，榮未交日，今且得汗，待時而已</small></span>。
熱病七八日，脈微小病者，溲血口中乾，一日半死，代脈日死。
熱病七八日，脈不躁不數而喘，後三日有汗，三日不汗，四日死，未曾汗，勿庸刺。
熱病身面發黃，面腫心熱口乾，舌卷焦黃黑，身麻而臭，伏毒傷肺，中脾者死。熱病瘈瘲狂
言，不得汗，瘈瘲不止，伏毒傷肝，中膽者死。
熱病汗不出，出不至足，嘔膽吐血，善驚不得臥，伏毒在膽足少陽者死。</p>
<h3>溫病死生候</h3>
<p>有病溫汗出，輒復熱而脈躁疾，不為汗，汗衰狂言，不能食，病名曰陰陽交，見三死而未見
一生，
<span data-rev="注"><small class="雙行夾注">寅申已亥辰戌丑未年有此證</small></span>。
溫病得病，便短，息微悶，神識惺惺，脈尺寸反者死，
<span data-rev="注"><small class="雙行夾注">子午卯酉年有此證</small></span>。
凡溫病人三二日，身熱脈疾，頭痛，食飲如故，脈直疾八日死，四五日頭痛脈疾，喜吐，脈
來細，十二日死，此病不療，八九日脈不疾，身不痛，目不赤，色不變而反利，脈來牒牒，
按不彈手指，時時大，心下硬，十七日死，
<span data-rev="注"><small class="雙行夾注">心下不硬者生</small></span>，</p>
<h3>天行差後禁忌</h3>
<p>飲酒合陰陽復病必死，生鱠煮麵酒，韭蕈鱔蓴豆粉，犬羊肉，腸血生果油肥之類，食之皆發
熱黃，下利不救，諸勞動，皆致復，尚可治，女勞多死。</p>
<h3>解仲景脈說</h3>
<p>龐曰，動脈見於關上，下無頭尾，厥厥動搖，名曰動也，陽動則汗出，陰動則發熱，關位占
六分前三分為陽，後三分為陰，若當陽連寸動而陰靜，法當有汗而解，素問云，陽加於陰謂
之汗，當陰連尺動而陽靜，則發熱，素問云，尺麤為熱中，若大汗後，形冷惡寒者，三焦傷
也，此是死證，脈按之虛軟，戰汗而解，脈按之有力，躁汗而解，脈虛微，必經汗吐下，無
津液作汗，陰陽自衝愈。
趺陽在足大指次指間，上行五寸，是足陽明，胃脈也，
<span data-rev="注"><small class="雙行夾注">名曰衝，陽穴也</small></span>。
少陰脈在足內踝，後跟骨上動脈陷中，是足少陰，腎脈也，
<span data-rev="注"><small class="雙行夾注">名太谿穴</small></span>。
仲景云，按寸不及尺，握手不及足，謂醫者只憑尺寸，不診衝陽太谿也。</p>
<p>龐曰，寸口脈浮大，浮為虛，醫反下之，為責虛取一實，大為無血，反飲冷水，令汗大出，
為守空迫血，致趺陽脈亦浮虛，虛寒相搏，則噫也，若趺陽脈不浮而但滑者，則胃寒而噦矣。
龐曰，伏氣之病，謂非時有暴寒而中人，伏毒氣於少陰經，始雖不病，旬月乃發，便脈微弱，
法先喉痛似傷，吹則下利喉痛，半夏桂枝甘草湯主之，下利有諸證，用通氣四逆湯主之<span data-rev="注"><small class="雙行夾注">方在
少陰證中</small></span>，此病三二日便差，古方謂腎傷寒是也。
半夏、桂枝、甘草、生薑<span data-rev="注"><small class="雙行夾注">各壹兩</small></span></p>
<h3>解華佗內外實說</h3>
<p>魏志、華佗傳，有府吏兒尋李延共止，俱頭痛身熱，所苦正同，佗曰，尋當下之，延當發汗，
或難其異，佗曰，尋外實，延內實，故治之宜殊，即各與藥，明早並起，某深疑陳壽誤用內
外字，華佗本意也，病者頸痛，身熱惡寒，為陰邪外實，法當發汗，病者頭疼身熱，但蒸蒸
發熱，不惡寒，為陽邪內實也，法當下之，所謂外實者，外為陽為表也，陽氣為寒所折，爭
於表間，衰而陰勝，故發熱復有惡寒之證，可以汗而發之，以復陽氣也，所謂內實者，內為
陰為裏也，極陰變陽，寒甚生熱，陽氣反勝而入裏，故胃府內實，蒸蒸作熱，不惡寒，可以
泄利以複陰氣，言實者，非正實，乃邪實也，素問云，邪氣盛則實所以知，佗傳內外二字差
謬矣。</p>
<h3>辨論</h3>
<p>近世常行煮散，古方湯液存而不用，蓋古方升兩大多，或水少湯濁，藥味至厚，殊不知聖人
專攻一病，決一兩劑以取驗，其水少者自是傳寫有舛，非古人本意也，唐自安使之亂，藩鎮
跋扈，至於五代，天下兵戈，道路艱難，四方草石，鮮有交通，故醫家省約，以湯為煮散，
至有未能中病，疑混而數更方法者多矣，沿習至今，未曾革弊，古方湯液，實於今世為無用
之書，唐徐氏大和濟要方，減其升兩，雖則從俗，患其太省，故病未半而湯劑已竭，鄙心患
之，自顧抄撮斟酌，積三十餘年，稍習其事，故敢裁減升兩，庶從俗而便於行用，或一方而
取半劑，或三分取一，或四分取一，或五分取一，或增其水有可以作煮散者，有病勢重專用
湯攻者，或云古升秤省三升准今之一升，三兩淮今之一兩，斯又不然，且晉葛氏云，附子一
枚准半兩，又云以盞當升，以分當兩，是古之升秤，與今相同，許人減用爾，今之為醫者，
多是愚俗，苟且衣食，貪冒貨賄，大方廣論何以該通，唯密窖鄙淺方枝，使人不窺其隙，以
自矜大，乘便為神工致遠，恐泥夭枉，固已多矣，鮮有多聞博識者，雖時有之士大夫，咸鄙
其為術，自非不顧流俗，以拯濟為心，則不能留神焉，今解釋前言，詳正脫誤，擇其篤論，
刪其繁方，仍增入新意，不敢穿鑿，冀新學易見，覽斯文已得其七八矣，此方皆古聖賢撰用，
其效如神，更不一一具姓名載其所出，其間自有所見，經手得驗者，其緝成卷，在識者覽而
知焉。</p>
<h3>上蘇子瞻端明辨傷寒論書</h3>
<p>安時所撰傷寒解實，用心三十餘年，廣尋諸家，戶覆參合，決其可行者始敢編次，從來評脈
辨證，處對湯液，頗知實效，不敢輕易謬妄，誤人性命，四種溫病，敗壞之候，自王叔和後，
鮮有明然詳辨者，故醫家一例作傷寒行汗下，傷寒有金木水火四種，有可汗可下之理，感異
氣復變四種溫病，溫病若作傷寒汗下必死，傷寒汗下尚或錯謬，又況昧於溫病乎，天下枉恐
者過半，信不虛矣，國家考正醫書，無不詳備，雖此異氣敗壞之證，未暇廣其治法，安時所
以區區略意，欲使家家戶戶，閱方易為行用，自可隨證調治，脈息自然詳明，不假謁庸粗，
甘就橫夭者也，設有問孫真人云，今時日月短促，藥力輕虛，人多巧詐，感病厚重，用藥即
多，又云，加意重複，用藥乃有力，自孫真人至今，相去逾遠，藥反太輕省何也，安時妄意，
唐遭安史之亂，藩鎮跋扈，迨至五代，四方藥石，鮮有交通，故醫家少用湯液，多行煮散，
又近世之人，嗜欲益深，天行災多，用藥極費，日月愈促，地脈愈薄，產藥至少，何以知之，
安時常於民家，見其遠祖所錄方冊，上記昔事跡，其間有廣順年，巴豆每兩千二足，故以知
藥石不交通也，且溫疫之病，周官不載，班瘡豌豆，始自魏晉，腳氣肇於晉末，故以知年代
近季，天災愈多，用藥極費也，礜石曾青之類，古人治眾病痼瘕大要之藥，令王公大人家尚
或闕用，民間可知矣，人葠當皇祐年，每兩千四五，白朮自來每兩十數文，今增至四五百，
所出州土，不絕如帶，民家苗種，以獲厚利，足以知地脈愈薄，產藥至少矣，湯液之制，遭
值天下禍亂之久，地脈薄產之時，天災眾多之世，安得不吝惜而為煮散乎，故今世上工治病，
比之古人及中工者幸矣，設有問今之升秤，與古不同，其要以古之三升準今之一升，古之三
兩準今之一兩，雖然如此，民間未嘗依此法而用古方者，不能自解裁減，又如附子一枚準半
兩，是用一錢三字為一枚，使人疑混，如何得從俗乎，安時言唐大和年，徐氏撰濟要方，其
引云，秤兩與前代不同，升合與當時稍異，近者重新纂集，約舊刪脩，不惟加減得中，實亦
分兩不廣，又云，今所刪定六十三篇，六百六首，勒成六卷，於所在郡邑，摽建啤牌，明錄
諸方，以備眾要，又云，時逢聖曆，年屬大和，便以大和濟要方為名，備錄如左，已具奏過，
准敕頒行，此方遭兵火煙滅，安時家收得唐人以朱墨書者，紙籍腐爛，首尾不完，難辨徐氏
官與名，即不知本朝崇文諸庫，有此本否，安時謂裁減古方，宜依徐氏，以合今之升秤，庶
通俗用，但增其藥之枚粒耳，是以仲景諸古方次第，復許減半，芍藥湯中載之詳矣，陶隱居
云，古今人體大小或異，藏府血氣亦有差焉，請以意酌量藥品分兩，古引以明，取所服多少
配之，或一分為兩，或二銖為兩，以盞當升可也，若一一分星較合，如古方承氣湯，水少藥
多，何以裁之，所以聖惠方煮散，盡是古湯液，豈一一計較多少，治病皆有據，驗在調習多
者，乃敢自斟酌耳，設有問暑熱重於溫病者，宜行重複方，卻多行煮散者何，安時謂夏月多
自汗，腠理易開，經云，天暑地熱，經水沸溢，故用煮散，或有病勢重者，即於湯證之下，
注云，不可作煮散也，如此之類者頗多，聊引梗概，俗云，耕當問奴，織當訪婢，士大夫雖
好此道，未必深造，宮妒朝嫉者眾，吹毛求瑕，安不爍金，更望省察狂瞽之言，千浼。
台聽，悚息無地。某再拜。</p>
<h2>傷寒論音訓</h2>
<h3>敘論</h3>
<p>漬〔疾腸切，浸也〕、搏〔補洛切，手擊也〕、瘴〔之毫切，瘴癘〕、脆〔青歲切，說文曰，小
而易斷也〕、脫〔吐活切〕、間〔音澗〕、撣〔徒安切，觸也〕、涸〔平洛切，水竭也〕、讝〔之
廉切，疾而寐語也〕、泄〔思列切，漏也〕、濈〔壯立切，和也，汗出也〕、填〔徒堅切，賈逵
曰，塞也，滿也〕。
太陽證，腰脊強〔下居亮切，屍勁硬也〕。
陽明證，漐〔丑入切，汗出㒵〕，怫〔扶物切，意不舒治也〕，憒〔公對切，亂也〕，怵惕〔上，
恥律切，悚懼悽愴也，下，他的切，憂也，疾也〕，懊憹〔上，於報切，悔也〕。
少陰證，沬〔亡活切，水浮沫也〕，踝〔胡瓦切，足踝也〕，跟〔柯恩切〕，悸〔其季切，心動
也〕。
厥陰證，蚘〔胡恢切，腹中長蟲也〕。
可發汗證，淅〔桑激切，洗也〕，翕〔許及切，炙也〕。
不可發汗證，芤〔苦候切，兩邊實，中央空者，名曰芤〕，瞤〔如倫切，動也〕。
可下證，曈〔徒東切，曈曈，日欲明㒵〕，晡〔布胡切，申時也〕，妄撮〔亡活切，三指取也〕，
慄〔力質切，懼也〕，黨〔底朗切〕，瘀〔於豫切，積血也〕，駛〔山吏切，疾也〕。
不可下證，⿰⿱失力力〔居員切〕。
結胸證，痓〔充至切，惡也〕。
痓濕暍證，齘〔音械，齒相切也〕。
濕證，噦〔於月切，逆氣也〕，掣〔尺折切，牽也〕。
雜病證，甘爛水〔即肝切，熟也，不擊則生，擊之則熟，水之味本鹹，擊熟之則歸土性矣，
然土之味本甘故也，崖暴之水，擊之而成沫，乾而成土，水歸土性，故謂之甘爛水〕，淀〔徒
練切，淺水也，水淺則近土，甘與甘爛之甘同〕。
傷寒勞復證，頮〔呼內切，滌面也〕，豭〔古瑕切，牡豕也，謂之豭鼠矢者，得非牡鼠乎〕，
篹〔先管切，器也〕。
暑病表證，暍〔於歇切，中熱也，溫也〕。
五種暑病，胻痠〔上戶當切，說文云，脛耑也，下光丸切，疼痠〕，員澹〔上胡拳切，下達濫
切〕。
辟溫疫論，蠆〔丑介切，螫蟲〕，掠〔力酌切〕。
青筋牽證，牽〔輕煙切，引前也，青，東方之色，筋主肝，肝，屬木，謂之牽，有筋牽相連
之意〕。
赤脈㩌證，㩌〔芳未切，擊化也，赤，南方之色，脈主心，心屬火，火性炎上，故好爭㩌
者，相擊化也，故有好爭之意〕。
黃隨肉證，隨〔旬為切，黃者中央之色，肉屬脾，脾屬土，土無正形，從在四季，正王在長
夏，謂之隨者，有若從木火金水之意，火生土，故黃肉隨所次列之於赤脈㩌之後〕，顳〔仁
涉切，在耳前曰顳〕，顬〔仁于切，顬顬耳前動〕，輸〔式朱切〕。
白氣貍證，貍〔陵之切，白，西方之色，氣主肺，肺屬金，貍口捕物而有殺心，亦若金類〕。
黑骨溫證，溫〔烏昆切，黑，北方之色，骨主腎，腎屬水，謂之溫者，亦自水而已，故溫居
末，以惣其名焉〕。
溫噦方證，啘〔之月切〕。
黃病方證，癉〔丁寒切，火癉也〕，臚〔力居切〕。
敗壞別行，瞪〔直耕切，怒目直視〕，瞬〔式閏切，目動也，莊子曰，日視而目不瞚〕，膕〔弋
陵切，曲略也〕。
小兒傷寒，呀呷〔上，虛牙切，唅呀張目㒵，下，呼甲切，說文云，吸呷也〕。
傷寒暑病〔通用刺法〕，諴〔胡讒切，和也〕。
熱病死生候，瘈瘲〔上，胡計切，下，子用切〕。</p>
<h3>脩治藥法〔方中有不脩治者，今不載〕。</h3>
<p>芍藥〔赤白利，補〕。
甘草〔炙，或炒〕。
乾薑〔炮〕。
大黃〔或生，或煨〕。
芒消〔生〕。
黃芩〔不枯者，即子芩是也〕。
黃連〔洗，去鬚土〕。
乾葛〔須家葛，乾者〕。
梔子〔去殼〕。
橘皮〔陳者去白〕。
生薑〔薄切〕。
桂枝〔刮去麤皮〕。
大棗〔去核〕。
麻黃〔去根節〕。
細辛〔去苗，洗〕。
附子〔去皮尖，丸散炮，惟湯生用〕。
雞子黃〔藥熟方下〕。
阿膠〔同上〕。
吳茱萸〔湯洗〕。
人參〔去蘆〕。
桔梗〔微炒〕。
豬苓〔去黑皮〕。
茯苓〔赤利白，補〕。
澤瀉〔去苗〕。
滑石〔研〕。
豬膚〔去膜，切〕。
枳實〔去穰，麩炒〕。
柴胡〔去蘆〕。
烏梅〔去核，取肉〕。
當歸〔去蘆，洗〕。
川椒〔去目，并閉口者〕。
黃蘗〔刮去麤皮，或酥，或蜜炙，黃紫色〕。
赤小豆〔浸牙，生暴乾惟狐惑證如此〕。
天門冬〔去心皮〕。
石膏〔研〕。
白朮〔去蔕〕。
粳米〔淘〕。
杏仁〔去皮尖，麩炒黃，為湯劑不炒〕。
瓜丁〔即瓜蒂也，末之〕。
龍膽〔去蘆〕。
梁上塵〔篩過〕。
小麥奴〔即小麥，秀出黑者，如無，炒小麥焦黑〕。
飴糖〔藥熟方下〕
淡竹葉〔剉〕。
半夏〔湯洗七遍〕。
牡蠣粉〔炒〕。
防風〔去蘆〕。
蕘花〔炒，如無，以桃花不炒代之〕。
竹茹〔刮淡竹〕。
李根〔甜李根，入土者刮去麤皮，取白皮，細剉〕。
五味子〔去梗〕。
厚朴〔薑，炒〕。
茵蔯蒿〔去梗〕。
芫花〔醋拌，新瓦上熳火炒焦紫色〕。
甘遂〔濕帋裹，煨用，赤皮連珠者〕。
大戟〔炒〕。
藁本〔去苗，洗〕。
木通〔刮去麤皮〕。
鱉甲〔去裙肉，醋炙焦黃色〕。
豉〔惟湯中以絹袋煮之〕。
水蛭〔水浸，去血子，米炒〕。
虻蟲〔去翅足，糯米炒〕。
桃人〔去皮尖，麩炒，研，惟入湯生用〕。
蜀漆〔洗去，腥〕。
龍骨〔研〕。
朴消〔生〕。
葶藶子〔隔紙炒研，甜者用〕。
括樓〔焙，無黃脈者〕。
貝母〔去心，麩炒〕。
雄黃〔研〕。
硫黃〔研〕。
太陰玄精石〔味鹹者〕。
硝石〔研〕。
代赭〔杵碎細，加入湯用則綿裹〕。
地黃汁〔取自然汗，若用濕地黃則切〕。
芎藭〔即川芎〕。
漢防已〔紋如車輪氣連者〕。
黃耆〔去蘆〕。
薏苡人〔去殼〕。
檳榔〔半生半煨〕。
旋復花〔去梗〕。
赤石脂〔塊剉〕。
禹餘糧〔槌碎〕。
連鬚蔥白〔寸切〕。
荊芥穗〔去梗〕。
茅根〔洗，剉〕。
薤白〔切〕。
熟艾〔炒焦碾末，以竹篩篩過〕。
麝香〔研〕。
丹砂〔研〕。
肉豆蔻〔煨〕。
石蓮肉〔炒〕。
茴香〔炒〕。
丁香〔不焙〕。
枇杷葉〔炙，刷去毛〕。
大青葉〔去根莖〕。
秦艽〔去蘆〕。
吳藍〔用葉〕。
甘菊〔須家園＠葉者，或鄧州白菊亦佳〕。
竹瀝〔淡竹二尺長，截兩頭，以塼閣起，中間火燒，兩頭即竹瀝滴處，以碗盛之〕。
生艾汁〔如無，以水濃研熟艾亦〕。
牡丹皮〔去心〕。
大麻人〔炒鳴取出，冷地上攤以新塼，磨破，簸去皮，以密篩篩過，擇去殼〕。
秦皮〔剉，以湯浸，傾＠中碧色者，真〕。
犀角屑〔懷中令暖，即杵碎，如無，以升麻代之〕。
苦參〔取皮〕。
青黛〔研〕。
藜蘆〔去蘆，炙〕。
薔薇莖葉〔切〕。
五倍子〔去內中蟲，炒〕。
生射干〔去鬚〕。
豬脂〔切〕。
鵬砂〔研〕。
殭蚕〔炒，須白直者，而不濕黑者〕。
草烏頭尖〔去黑皮用之，若用烏頭，則皮并尖亦去之，炒焦紫色，惟荊芥散生用〕。
(䃃)砂〔研〕。
白礬〔枯，與礬石同，惟鵬砂散生用之〕。
牙消〔生〕。
霜梅上白鹽〔無，以白鹽代之〕。
焰消〔生〕。
薤根〔切〕。
猳鼠矢〔頭尖硬者〕。
蘆根〔去鬚，切〕。
葛取粉〔搗篩取之〕。
生乾地黃〔生乾者〕。
躑躅〔醋炒〕。
貝齒〔燒，研〕。
石菖蒲〔去毛〕。
獨活〔去蘆〕。
苦酒〔米醋是也〕。
手足指甲〔褌穩處燒〕。
沙參〔去蘆〕。
吳朮〔去皮〕。
漏蘆葉〔無以山梔子代之〕。
樺皮〔細切〕。
沉香〔不焙〕。
乳香〔研〕。
真腦子〔研〕。
燈心〔切〕。
桑白皮〔切〕。
紅花子〔槌碎〕。
豬膽〔用汁〕。
菝葜〔去鬚〕。
零陵香〔去梗〕。
柏實〔去殼，研〕。
虎頭骨〔鎊〕。
陵鯉甲蝟皮〔殺鬼丸內生用，餘皆炙焦〕。
羖羊角〔鎊〕。
樗雞〔去翅足，無，即以芫青代之，芫青壹枚，可準樗雞參枚〕。
空青〔或無，以石碌代〕。
螢火〔焙〕。
鬼箭〔取羽，去木〕。
東門上雞頭〔焙〕。
蒺藜〔炒，以新塼磨去刺〕。
鐵錘柄〔入鐵槌燒焦者〕。
車前草〔切〕。
生葛根〔切〕。
口參〔去蘆〕。
羚羊角〔鎊，杵〕。
寒水石〔洗〕。
前胡〔去蘆〕。
紫苑〔去蘆〕。
白茅根〔去鬚，洗〕。
白薇〔去苗〕。
亂髮〔皂角水洗，以清水洗之〕。
羌活〔去蘆〕。
白蘚皮〔去心〕。
生麥門冬〔去心〕。
牛膝〔去蘆，酒浸三宿，夏間一宿〕。
白石脂〔燒〕。
紫石英〔光明者，研〕。
粉霜〔研〕。
龍齒〔研須極大者〕。
虵退皮〔纏竹柱上，慢火炙〕。
小麥〔淘〕。
糯米〔淘〕。
茯神〔去皮木〕。
釣藤皮〔刮皮，鉤用〕。
蒼朮〔去麤皮〕。
青橘皮〔去白〕。
豬牙皂角〔刮去黑皮，或酥，或蜜炙〕。
牽牛子〔半生半炒壹兩，取末半兩，入一下〕。
枳殼〔麩炒，去穰〕。
鹿角屑〔杵〕。
藕汁〔切，研汁〕。
生薑汁〔用自然汁，惟不用滓〕。
荷葉〔焙〕。
天南星〔炮，惟荊芥散生用〕。
不蚛皂角〔去兩頭及皮子〕。
巴豆〔去皮心膜，或炒焦紫色，或用湯煮，研細，壓去油，皆可，惟茵蔯丸生用，趙泉黃膏
去皮，槌碎〕。
百合〔去心，如入湯用，則水浸一宿，拍碎去白沫，惟石合滑石散。〕
麻黃湯末、桂枝〔藥方皆在可發汁證，皆秤一半，和勻煎服〕。</p>
<h4>不可作煮散方</h4>
<p>陽毒升麻湯，陰毒甘草湯，熱病乾薑附子湯，青筋牽柴胡地黃湯，赤脈㩌石膏地黃湯，黃
肉隨玄參寒水石湯，白氣貍石膏杏人湯，黑膏溫苦參石膏湯，溫噦茅根葛根湯，梓皮飲子，
茅根橘皮湯，枇杷茅根湯，溫病壞後三黃石膏湯敗壞別行附子鱉甲湯。
已上除不可作煮散方外，凡湯劑言㕮咀者，如㕮咀菱藕之滓狀，今之麤末是也，凡麤末每
服四錢，水一盞半，煮八分，濾去滓，得七分為準，內有半夏附子為毒藥之類，每四錢水二
盞，入生薑三片，煎七分，內有或用朴硝，或用阿膠，或用飴糖，或用焰硝，或用雞子清，
皆煎成湯後，去滓下之，內或用竹瀝煎者，每四錢水一盞二分，煎至七分，下竹瀝三分，煎
至七分，內或用大黃者，虛人入大黃同煎之，如難得通利人，每服四錢，水一盞半，煎至一
盞，別入大黃半錢，同煎至七分，又難得利者，以湯浸濃大黃汁三二分同煎之以取利為度，
政和歲次癸巳，門人布衣魏  炳編。</p>
<h3>龐先生傷寒論序</h3>
<p>龐安常自少時喜毉方，為人治病，處其死生多驗，名傾淮南諸毉，然為氣任俠，(鬬)雞走狗，
蹴鞠擊毬，少年豪縱，事無所不為，博弈音技，一工所難而兼能之，家富多後房，不出戶而
所欲得，人之以毉聘之也，皆多陳其所好，以順適其意，其來也，病家如市，其疾已也，君
脫然不受謝而去，中年乃屏絕戲弄，閉門讀書，自神農黃帝經方，扁鵲八十一難經，皇甫謚
甲乙，無不貫穿，其簡策紛錯，黃素朽蠹，先師或失其意，學術淺薄，私智穿鑿，曲士或竄
其文，安常悉能辯論發揮，每用以治病，幾乎十全然矣，然人疾詣門，不問貧富，為便房曲
齋，調護寒暑，所宜珍膳美蔬，時節其飢飽之度，愛老而慈幼，不以人之疾嘗試其方，如疾
痛在己也，蓋其輕財如糞土，耐事如慈母而有常，似秦漢間任俠而不害人，似戰國四公子而
不爭利，所以能動而得意，起人之疾，不可為數，他日過之，未嘗有德色也，其所惣輯傷
寒論，皆其日用書也，欲掇其大要，論其精妙，使士大夫稍知之，然未嘗游其庭者，雖得吾
說而不解，若有意於斯者，讀其書自足以攬其精微，故不著，著其行事，以為後序云，前序
海上人諾為之，故虛其右以待，元符三年三月，豫章黃  序。</p>
<h2>重雕宋刻傷寒總病論札記</h2>
<p>此書取張長沙之大要，辯論精妙，其有證而無方者，上溯內經，旁及他書，參目己見，為增
損進退之法，實能發仲景未盡之意，而補其未備之方，是為龐氏之撰著，非僅述而不作也，
故所引原文，每有刪削，觀諸家抄本，多有異同，或未見宋刻，傳寫互異，或依據張書，增
補失真，故今將宋刻龐論翻雕，未敢輒改原文，即有抄本，義長者亦第摘取備考，別疏為札
記附於後，丕烈又識。
序文啟〔薛本顧本此上俱有軾字，居右〕。
再拜〔薛本顧本此上亦有軾字，略小〕。</p>
<h3>後序</h3>
<p>三行，自少時〔顧本無時字〕，六行，皇甫謚〔謚當作謐〕，七行，悉能辯論發揮，每用以治
病〔薛本作悉能辯明考正，用以治病〕，七、八行，不問貧富，為便房曲齋，調護寒暑〔薛本
俾不問貧賤富貴，均為調護寒暑〕，八行，時節其飢飽之度〔薛本無之度二字〕，九行，耐事
〔薛本作耐子〕，十行，他日過之〔薛本過作見〕，十一、十二行，故不著著其行事〔顧本不
重著字〕。</p>
<p>目錄第一面「結胸證」以前，宋刻原缺，各本亦無，按目錄計缺一葉有半，而此葉板心刻四
葉，不知目錄前尚有文字否，今因無從補刊，故仍其缺，不敢妄作也。</p>
<h4>卷第一</h4>
<p>一面，十行，冰也〔案也字衍，薛本顧本俱無〕，十一行，其有〔顧本有作人，非〕，又勞房
〔薛本房作力〕。
三面，二行，故須，〔薛本作又須，按又字是〕，四行，而變暑病，〔顧本病下有所宜二字〕，
七行，有平居者〔薛本作有卑濕居者〕。
四面，三行，撣散〔薛本顯本撣俱作憚〕，四行，王〔薛本此上有粗字〕。
四面，六行，欲溫〔原本欲字破損，今照顧本補，薛本張本皆作飲，非〕。
五面，六行，足〔薛本作更，按更字是〕，十一行，虛寒〔顧本作虛汗，非〕。
六面，二行，一二日發，以上連風府〔薛本一上有當字，以下有其脈二字〕。
七面，後三行，大湯劑〔原本大作人，今依薛本改〕。
八面，十三行，自微汗〔薛本自作身，非〕，九面五行，大便已鞭〔薛本鞭作鞕，按原本鞕
作鞭者甚多，不能悉正，皆當從鞕為是，後倣此〕。
九面，十四行，而又脈〔顧本又作反〕，九面三行，當二三日發〔原本作二二日誤，今依薛本
顧改，張本作三四日是〕，三行，而聾〔薛本作而耳聾，顧本作耳聾〕，四行，相載〔薛本作
相搏〕。
十一面，二行，傷寒三四日陽為盡〔薛本作傷寒三日三陽為盡，顧本作傷寒三四日，三陽為
盡，案當依薛本是〕。
十二面，五行注，故芍藥〔薛本作但以芍藥〕，九行，於寐也〔宋本有脫誤，案仲景原文，當
作但欲寐也〕。
十三面，五行，故以小辛之藥溫散〔顧本作故以溫散之藥〕。
十四面，十三行，已合治之〔薛本作已即合消之合治之，顧本已作匕，案當作各別搗篩，已
合治之，薛顧本皆誤〕。
十五面，十一行，熬香<span data-rev="注"><small class="雙行夾注">薛本香作乾，非</small></span>。
十六面，六行，氣上衝心，中痛熱<span data-rev="注"><small class="雙行夾注">顧本重一心字是</small></span>。
十七面，一行，當不得食<span data-rev="注"><small class="雙行夾注">薛本顧本得俱作能，案能字是</small></span>。
十八面，六行，次治其厥<span data-rev="注"><small class="雙行夾注">顧本次作須</small></span>，十行，永宜此方<span data-rev="注"><small class="雙行夾注">薛本張本永俱作亦</small></span>。
十九面，二行，醫<span data-rev="注"><small class="雙行夾注">顧本作逆</small></span>。
十九面，十四行，與太陰<span data-rev="注"><small class="雙行夾注">顧本無與字，案原本與字，疑衍</small></span>。</p>
<h4>卷第二</h4>
<p>二十二面，六行，指梢<span data-rev="注"><small class="雙行夾注">薛本梢作稍</small></span>，七行，增寒<span data-rev="注"><small class="雙行夾注">顧本作憎，是</small></span>，十二行，翕翕熱<span data-rev="注"><small class="雙行夾注">薛本熱
上有發字</small></span>。
二十二面，二行，憎寒<span data-rev="注"><small class="雙行夾注">原本作增誤，今依薛本改，以下憎寒及後二行皆倣此</small></span>。
二十四面，二行注，當發證<span data-rev="注"><small class="雙行夾注">顧本發下有汗字</small></span>，又注，青龍湯似桂枝證<span data-rev="注"><small class="雙行夾注">薛本湯下有者字，似
作以，案似字不誤</small></span>。
二十五面，一行，勢如<span data-rev="注"><small class="雙行夾注">薛本如作加，案當作加是</small></span>。
二十六面，五行，黑夌<span data-rev="注"><small class="雙行夾注">薛本夌作麥</small></span>，九行，及<span data-rev="注"><small class="雙行夾注">顧本作皮</small></span>，十一行，注蜯粉<span data-rev="注"><small class="雙行夾注">薛本蜯作
拌，非</small></span>。
二十六面，十二行，以失<span data-rev="注"><small class="雙行夾注">薛本以作似</small></span>。
二十七面，八行注，此若軟緊而遲<span data-rev="注"><small class="雙行夾注">原本若字破損，照薛本補，張本同顧本，作此浮緊而遲，
并無若字，誤甚</small></span>。
二十八面，六行，少氣逆<span data-rev="注"><small class="雙行夾注">薛本氣字下重一氣字，案氣字當重為是</small></span>，十一行，氣微絕<span data-rev="注"><small class="雙行夾注">顧本微
作欲是</small></span>。
二十九面，九行，穀不得前<span data-rev="注"><small class="雙行夾注">薛本前作消非</small></span>。
二十九面，十四行，參勝<span data-rev="注"><small class="雙行夾注">薛本勝作升，顧本同，按當作升為是</small></span>。
三十一面，一行，五倍子<span data-rev="注"><small class="雙行夾注">薛本作五味子，顧本同，案小青龍湯本方有五味子，無五倍子，當
作五味子為是</small></span>。
三十一面，十四行，去仁參<span data-rev="注"><small class="雙行夾注">薛本仁作人，顧本同，案當作人為是</small></span>。
三十二面，二行，支結<span data-rev="注"><small class="雙行夾注">薛本苽作支</small></span>。
三十四面，九行，互<span data-rev="注"><small class="雙行夾注">原本作玄誤，顧本作弦，薛本張本均作互，案互字是，今改</small></span>。
三十五面，十一行，大柴胡胡湯<span data-rev="注"><small class="雙行夾注">薛本不重胡字，顧本同，案重者乃衍字也</small></span>。
三十八面，三行，在壯熱，但主利<span data-rev="注"><small class="雙行夾注">薛本在作發，主作下，案當從發從下為是</small></span>。
三十八面，十二行，表證在<span data-rev="注"><small class="雙行夾注">薛本在上有仍字</small></span>。
三十九面，十三行注，閞下閞上<span data-rev="注"><small class="雙行夾注">薛本顧本皆作關上關下</small></span>。
四十面，三行，咽躁<span data-rev="注"><small class="雙行夾注">薛本同顧本，躁作燥，案當作燥為是</small></span>，三行，方有<span data-rev="注"><small class="雙行夾注">薛本同顧本，有作
在，案當作在為是</small></span>。
四十面，十一行，拘忌<span data-rev="注"><small class="雙行夾注">顧本忌作忽</small></span>。
四十一面，三行，煩喘<span data-rev="注"><small class="雙行夾注">顧本喘作渴</small></span>。
四十二面，十三行，微喘<span data-rev="注"><small class="雙行夾注">顧本喘作熱</small></span>。
四十三面，十行，閞陰<span data-rev="注"><small class="雙行夾注">顧本作關</small></span>，十一行同。
四十四面，八行，桂枝甘草湯主之<span data-rev="注"><small class="雙行夾注">薛本作桂枝甘草龍骨牡蠣湯主之</small></span>，十一行，並宜火劫治
之<span data-rev="注"><small class="雙行夾注">薛本宜下有依字</small></span>。
四十五面，一行，自為黃<span data-rev="注"><small class="雙行夾注">薛本自上有身字，自作目</small></span>，二行，蓄血若去<span data-rev="注"><small class="雙行夾注">原本若作君誤，今照
各本改</small></span>。</p>
<h4>卷第三</h4>
<p>五十面，一行，注為陽<span data-rev="注"><small class="雙行夾注">薛本為下有發於二字，張本同</small></span>。
五十一面，八行，發後無汗<span data-rev="注"><small class="雙行夾注">薛本發下有汗字，顧本同</small></span>，十行，引小腹入陰筋者<span data-rev="注"><small class="雙行夾注">各本同，案
此乃仲景傷寒論原文，但原文引上有痛字，此痛字似不可少</small></span>
五十二面，三行，注雜發汗<span data-rev="注"><small class="雙行夾注">薛本同張本，雜作可，案當作可為是</small></span>，六行，如被杖<span data-rev="注"><small class="雙行夾注">薛本張本
如字上俱有身痛二字，案此亦仲景原文本有此二字</small></span>，十四行，勿以煙出<span data-rev="注"><small class="雙行夾注">薛本以作使</small></span>。
五十三面，三行，通逐<span data-rev="注"><small class="雙行夾注">薛本張本逐俱作達</small></span>，五行，裏熱藥<span data-rev="注"><small class="雙行夾注">薛本顧本裏俱作裹，按當作裹為
是</small></span>。
五十四面，三行，為狀<span data-rev="注"><small class="雙行夾注">薛本為下，有病字</small></span>，四行，其面乍黑乍白<span data-rev="注"><small class="雙行夾注">薛本張本面字下皆多乍赤
二字，乍白下皆多蝕於二字</small></span>，四行，咽乾，<span data-rev="注"><small class="雙行夾注">薛本張本咽乾下皆多苦參湯洗之五字</small></span>，五行，
注，雄黃云云止，<span data-rev="注"><small class="雙行夾注">張本另提行起，有苦參半斤，槐白皮四兩，狼牙根四兩，右剉，以水五升
煎三升半，洗之，云云，二行方另提行起，接病者脈數云云，薛本此方，附注于上</small></span>，又則熱
<span data-rev="注"><small class="雙行夾注">薛本張本則俱作無，案金匱本文作無</small></span>，四行，細末一行後<span data-rev="注"><small class="雙行夾注">張本多通治狐惑，黃連一兩，藎
草二兩，右為末，每服四錢，水一盞半，煎八分，去滓，溫溫服之，云云，三行薛本亦多此
方，附注於上</small></span>，九行，美<span data-rev="注"><small class="雙行夾注">薛本顧本俱作美</small></span>，十一行，淅然<span data-rev="注"><small class="雙行夾注">各本俱作淅</small></span>。
五十五面，一行，兩漬字<span data-rev="注"><small class="雙行夾注">原本均作潰誤，今照各本改正</small></span>。
五十六面，一行，如煎洗<span data-rev="注"><small class="雙行夾注">薛本張本煎洗俱作前浸，按下有漬字，若用浸字則重意，當作如前
洗為是</small></span>，十三行，所至<span data-rev="注"><small class="雙行夾注">薛本至作致</small></span>。
五十七面，一行，反不惡寒<span data-rev="注"><small class="雙行夾注">案仲景原文無不是</small></span>。
五十七面<span data-rev="注"><small class="雙行夾注">按此葉非宋刻原刊</small></span>，四行，而故<span data-rev="注"><small class="雙行夾注">薛本張本故俱作熱</small></span>，又，而避害<span data-rev="注"><small class="雙行夾注">原本避字模糊，
今依薛本張本補</small></span>，又，而為郡若汗太多<span data-rev="注"><small class="雙行夾注">原本模糊，薛本張本郡俱作汗，大俱作太，顧本郡
作口，大亦作太</small></span>，八行，強項，<span data-rev="注"><small class="雙行夾注">薛本張本俱作項強，按項字原本係壞字，作只，而抄本誤
作曰，今依薛本張本改作項字，顧本亦誤作曰</small></span>，又熱令<span data-rev="注"><small class="雙行夾注">薛本張本俱作令熱</small></span>，五十八面，四
行，齗齒<span data-rev="注"><small class="雙行夾注">各本俱作齘齒，案齗字誤，當作齘為是</small></span>，四行注，方在可下門中<span data-rev="注"><small class="雙行夾注">薛本同張本顧本
門俱作證</small></span>。
五十八面，五行，濕證<span data-rev="注"><small class="雙行夾注">張本證作候</small></span>，六行，注水證<span data-rev="注"><small class="雙行夾注">張本水上有可字，案可字當有</small></span>，七行，
身汗出<span data-rev="注"><small class="雙行夾注">薛本張本身下俱有重字</small></span>。
五十九面，一行，濕家下之，額上汗出，微喘，小便不利者死<span data-rev="注"><small class="雙行夾注">案此乃仲景原文也，但原文乃
小便利者死，以額汗微喘為孤陽無根，而上脫加目小便利為陰氣不藏而下泄，故主死也，若
小便不利，乃濕家本症，何云死耶，薛本張本並同，又按尤在涇金匱心典曰，一作小便不利
者死，謂陽上游而陰不下濟也，亦通</small></span>。五十九面，五行，含水畜<span data-rev="注"><small class="雙行夾注">薛本畜作搐</small></span>，七行，可與
杏仁薏苡湯<span data-rev="注"><small class="雙行夾注">薛本作可與麻黃杏仁薏苡甘草湯</small></span>。
六十面，一行，故使之耳<span data-rev="注"><small class="雙行夾注">薛本張本之俱作然</small></span>，二行，則極<span data-rev="注"><small class="雙行夾注">薛本作痛劇</small></span>。六十面，五行，
溢水<span data-rev="注"><small class="雙行夾注">薛本溢作添，顧本作溫</small></span>，七行，暍證<span data-rev="注"><small class="雙行夾注">張本證作候</small></span>，十二行，弦而細芤而遲<span data-rev="注"><small class="雙行夾注">薛本無兩
而字</small></span>，十二行，口前開<span data-rev="注"><small class="雙行夾注">薛本作口開前</small></span>，十三行，反熱甚<span data-rev="注"><small class="雙行夾注">薛本反作發</small></span>。
六十一面，七行，宜苦酒艾<span data-rev="注"><small class="雙行夾注">原本苦作若誤，今照薛本顧本改，接苦酒即醋也</small></span>，九行，茯苓
桂枝湯主之<span data-rev="注"><small class="雙行夾注">薛本作茯苓桂枝甘草大棗湯主之</small></span>。
六十二面，二行，酒二盞，煎二盞四分<span data-rev="注"><small class="雙行夾注">薛本同張本，作酒二盞煎一盞四分，顧本作酒二盞四
分煎二盞</small></span>，二行，膀胱<span data-rev="注"><small class="雙行夾注">薛本作臍傍</small></span>。
十八面，後九行，理中治中焦<span data-rev="注"><small class="雙行夾注">薛本治上有者字</small></span>。
六十五面，三行，伸吟<span data-rev="注"><small class="雙行夾注">薛本張本伸俱作呻，按當作呻為是</small></span>。
六十九面，五行，內豆蔻<span data-rev="注"><small class="雙行夾注">薛本蔻作蔻，顧本作穀誤</small></span>。
七十一面，十二行，血不止<span data-rev="注"><small class="雙行夾注">原本作上，今依薛本改正</small></span>。
七十三面，一行，⿸厂⿰若虫瘡<span data-rev="注"><small class="雙行夾注">薛本作⿸厂⿰若虫，按此誤，當作⿸厂⿰若虫，後四行同</small></span>。
七十五面，十三行，草一分<span data-rev="注"><small class="雙行夾注">薛本張本草上皆有甘字，按原本脫去</small></span>。
七十七面，三行，且至晚<span data-rev="注"><small class="雙行夾注">薛本且作旦</small></span>。
七十九面，十三行，灰燒<span data-rev="注"><small class="雙行夾注">薛本無燒字</small></span>，十三行，陰頭<span data-rev="注"><small class="雙行夾注">薛本陰頭下俱有穴字</small></span>。
八十面，二行，陰卯<span data-rev="注"><small class="雙行夾注">薛本卯作卵是</small></span>，五行，去皮尖<span data-rev="注"><small class="雙行夾注">薛本去皮核，按當以去皮核為是，蓋大
棗亦無尖可去也</small></span>。</p>
<h4>卷第四</h4>
<p>八十一面，八行，為暑病其熱<span data-rev="注"><small class="雙行夾注">此五字原本破去，係描寫出者</small></span>，八行<span data-rev="注"><small class="雙行夾注">此行內除傷字而字三陽
傳三字，餘皆描寫者</small></span>，九行，如見<span data-rev="注"><small class="雙行夾注">按如字原本破去，描作如字，薛本如作而</small></span>。
八十二面，十四，行豉<span data-rev="注"><small class="雙行夾注">半此二字原本破去，今依薛本張本補</small></span>。
八十三面，四行，見形<span data-rev="注"><small class="雙行夾注">薛本形下有證字</small></span>，五行，豆壞一如<span data-rev="注"><small class="雙行夾注">薛本如下有候字，張本在壞字下</small></span>。
八十三面，十行，腎熱病者<span data-rev="注"><small class="雙行夾注">案內經下有頤先赤三字</small></span>。
八十四面，四行，洗淅<span data-rev="注"><small class="雙行夾注">薛本同張本，顧本俱作先淅，按此亦內經刺熱文，本作先淅，似當從
先為是</small></span>，四行，頭痛不任<span data-rev="注"><small class="雙行夾注">各本皆同，按內經作頭痛不堪</small></span>，六行，胻痠<span data-rev="注"><small class="雙行夾注">薛本胻作腳，非按
內經作8247痠</small></span>，八十四面，十行，亡逆<span data-rev="注"><small class="雙行夾注">薛本顧本亡俱作無</small></span>，十四行，苽蒂<span data-rev="注"><small class="雙行夾注">薛本顧本苽
俱作瓜，按當作瓜為是</small></span>。
八十五面，六行，法焉<span data-rev="注"><small class="雙行夾注">薛本張本俱作云，顧本作也</small></span>，八行，走疰<span data-rev="注"><small class="雙行夾注">薛本疰作注</small></span>，十行，五
拾粒<span data-rev="注"><small class="雙行夾注">薛本張本下皆有去皮二字</small></span>。
八十七面，八行，甘草<span data-rev="注"><small class="雙行夾注">薛本無此味</small></span>。
八十八面，七行，謫居<span data-rev="注"><small class="雙行夾注">薛本謫作調非</small></span>，十行，肉豆(欝)<span data-rev="注"><small class="雙行夾注">薛本同前</small></span>。
八十九面，一行，七銖<span data-rev="注"><small class="雙行夾注">薛本作三錢，又注於上方曰二十四銖，為一兩，合今  三錢，是古之
七銖也</small></span>。
九十面，四行，每<span data-rev="注"><small class="雙行夾注">各本皆作毒，按毒字是</small></span>，七行，何由衰散，大腑久祕<span data-rev="注"><small class="雙行夾注">薛本大作六，顧本
衰作表，按當作衰為是</small></span>。
九十一面，二行，隱𤺋<span data-rev="注"><small class="雙行夾注">薛本𤺋作疹</small></span>。
九十二面，四行，杏仁<span data-rev="注"><small class="雙行夾注">麩炒，原本炒字破去，今依薛本顧本補</small></span>，十三行，一盞<span data-rev="注"><small class="雙行夾注">薛本盞下有
小字</small></span>，十四行，永不發<span data-rev="注"><small class="雙行夾注">薛本發下尚有一發字</small></span>，十四行，或下後<span data-rev="注"><small class="雙行夾注">薛本同顧本，下字下有利
字</small></span>。
九十三面，三行，憎寒<span data-rev="注"><small class="雙行夾注">原本作增誤，今依各本改</small></span>，十四行，白濃<span data-rev="注"><small class="雙行夾注">本薛同顧本，膿按當作膿
為是</small></span>。
九十五面，一行，自汗<span data-rev="注"><small class="雙行夾注">本薛張本同，顧本作自安</small></span>，又黑厭<span data-rev="注"><small class="雙行夾注">薛本厭作靨</small></span>，九十五面，四行，
嗽或喉痛<span data-rev="注"><small class="雙行夾注">薛本或作而</small></span>。</p>
<h4>卷第五</h4>
<p>一〇〇面，五行，手太陰水<span data-rev="注"><small class="雙行夾注">薛本顧本水俱作金，按當從金為是</small></span>，七行，相形<span data-rev="注"><small class="雙行夾注">薛本形作刑</small></span>，
十一行，注庵園<span data-rev="注"><small class="雙行夾注">薛本園作圓</small></span>。
一〇一面，八行，鼻竅中<span data-rev="注"><small class="雙行夾注">薛本竅下有內兩陷三字，中下有傍字</small></span>，九行，以紙筋探鼻中嚏之<span data-rev="注"><small class="雙行夾注">薛
本作以紙筋紉鼻中嚏出之</small></span>。
一〇二面，二行，柏實<span data-rev="注"><small class="雙行夾注">薛本此下尚有射干枳實二味</small></span>，三行，三日，服之<span data-rev="注"><small class="雙行夾注">薛本張本同顧本，
之作遇，疑誤</small></span>，七行，蝟<span data-rev="注"><small class="雙行夾注">按原本作螺誤，以後脩治藥法內，所引證之當作蝟，今改正，薛
本亦作蝟，顧本作螺，亦誤</small></span>。一〇二面，十三行，五兵白刃，盜賊凶害<span data-rev="注"><small class="雙行夾注">薛本此八字接連上
行諸毒下，而者冠軍云云，另提行起者，又作昔</small></span>。
一〇三面，五行，住丸<span data-rev="注"><small class="雙行夾注">薛本住作五</small></span>，又，左辟<span data-rev="注"><small class="雙行夾注">各本俱作臂</small></span>，八行，地深參尺與深同<span data-rev="注"><small class="雙行夾注">張本
地深之深作闊，薛本尺下有廣字，顧本與作餘</small></span>，一〇三面，十二行，反<span data-rev="注"><small class="雙行夾注">張本顧本俱作及</small></span>，
又其病<span data-rev="注"><small class="雙行夾注">薛本病下有相反二字</small></span>，十三行，府<span data-rev="注"><small class="雙行夾注">薛本作胻</small></span>。
一〇四面，六行，合自<span data-rev="注"><small class="雙行夾注">薛本自作身</small></span>，一〇四面，十三行，所侵<span data-rev="注"><small class="雙行夾注">薛本侵下有內熱二字</small></span>，又，
咽塞<span data-rev="注"><small class="雙行夾注">薛本塞下有聲嘶二字</small></span>。
一〇五面，六行，閞格<span data-rev="注"><small class="雙行夾注">薛本閞作開，顧本作關是</small></span>，八行，毒氣<span data-rev="注"><small class="雙行夾注">薛本氣字逕接其病相反四字，
而下又多若府虛則陰邪所加八字，方接頭重頸直，皮肉強痺八字，頸字原本作項，痺字原本
所無</small></span>，八行，頸下<span data-rev="注"><small class="雙行夾注">薛本下作側</small></span>。一〇五面，十三行，腧<span data-rev="注"><small class="雙行夾注">原本作踰誤，今依各本改</small></span>。
一〇六面，二行，狀<span data-rev="注"><small class="雙行夾注">薛本作秋</small></span>，八行，生班<span data-rev="注"><small class="雙行夾注">張本顧本皆作斑</small></span>。
一〇七面，一行，陽毒<span data-rev="注"><small class="雙行夾注">薛本陽字上有則為二字</small></span>，一行，彭<span data-rev="注"><small class="雙行夾注">薛本顧本皆作膨</small></span>。
一〇八面，十行，煎去<span data-rev="注"><small class="雙行夾注">薛本去作取</small></span>。
一〇九面，四行，汗<span data-rev="注"><small class="雙行夾注">原本誤作汁，今依薛本張本改</small></span>，七行，洞<span data-rev="注"><small class="雙行夾注">薛本張本同顧本作口</small></span>。
一一一面，七行，素傷於寒，因復傷於寒<span data-rev="注"><small class="雙行夾注">薛本上寒字作風，張本下寒字作熱</small></span>，十行，米中
病<span data-rev="注"><small class="雙行夾注">薛本米作未，未字下又多一來字，疑衍，張本顧本皆作未</small></span>。
一一二面，三行，病苦<span data-rev="注"><small class="雙行夾注">薛本苦作若</small></span>，三行，又<span data-rev="注"><small class="雙行夾注">顧本作及</small></span>，十一行，素傷於熱<span data-rev="注"><small class="雙行夾注">薛本熱作寒</small></span>。
一一二面<span data-rev="注"><small class="雙行夾注">按此葉宋本原缺，張本顧本亦皆無，今照薛本補全，又以顧抱沖所抄王宇泰活字本
校其異同，亦載于此</small></span>，十二行，本太云云<span data-rev="注"><small class="雙行夾注">顧抄本連上</small></span>，十三行，寸口云云<span data-rev="注"><small class="雙行夾注">顧抄本亦連上</small></span>，
又，數滑<span data-rev="注"><small class="雙行夾注">顧抄本作滑數</small></span>，十三行，陽盛怫(欝)<span data-rev="注"><small class="雙行夾注">顧抄本陽作熱，怫作沸</small></span>，十四行，如搏<span data-rev="注"><small class="雙行夾注">顧
抄本如作相</small></span>。
一一三面，一行，注亦<span data-rev="注"><small class="雙行夾注">薛本原作六疑誤，今照顧抄本改</small></span>，二行，湯字下<span data-rev="注"><small class="雙行夾注">顧抄本有不可作煮
散五字</small></span>，又治如前證<span data-rev="注"><small class="雙行夾注">顧抄本此四字在前一行下</small></span>，四行，麻黃<span data-rev="注"><small class="雙行夾注">顧抄本此下有去節二字</small></span>，五
行，㕮咀<span data-rev="注"><small class="雙行夾注">此二字顧抄本缺</small></span>，六行，深師方曰<span data-rev="注"><small class="雙行夾注">此四字顧抄本無</small></span>，六行，呻吟<span data-rev="注"><small class="雙行夾注">顧抄本此下
有而已二字</small></span>，七行，未解<span data-rev="注"><small class="雙行夾注">此下顧抄本有今且用解毒湯，則拘索不差十一字</small></span>，又古方<span data-rev="注"><small class="雙行夾注">古字
顧抄本作而</small></span>，又思<span data-rev="注"><small class="雙行夾注">思字上顧抄本有意字</small></span>，七行，解字<span data-rev="注"><small class="雙行夾注">顧抄本作救</small></span>，又故用三黃石羔湯<span data-rev="注"><small class="雙行夾注">顧
抄本故字上有是字，三黃兩字無，湯字下空一格，有前用三黃石膏湯一句</small></span>，九行，論曰<span data-rev="注"><small class="雙行夾注">顧
抄本作龐曰</small></span>，九行，身目<span data-rev="注"><small class="雙行夾注">顧抄本作身眼</small></span>，十行，湯字下<span data-rev="注"><small class="雙行夾注">顧抄本空一格，有前方二字</small></span>。一
一三面，十四行，異語<span data-rev="注"><small class="雙行夾注">薛本異作譫</small></span>。
一一四面，五行，蜘蟵<span data-rev="注"><small class="雙行夾注">薛本顧本俱作踟躕</small></span>。
一一五面，五行，荒言<span data-rev="注"><small class="雙行夾注">薛本荒作譫</small></span>，七行，加附子嚾下<span data-rev="注"><small class="雙行夾注">薛本嚾作灌</small></span>。
一一六面，四行，畜搦<span data-rev="注"><small class="雙行夾注">薛本畜搐</small></span>，七行，芫花<span data-rev="注"><small class="雙行夾注">薛本下有米醋浸，搦乾，瓦上炒，八字</small></span>。</p>
<h4>卷第六</h4>
<p>一二三面，八行，大躁渴石膏<span data-rev="注"><small class="雙行夾注">薛本渴原作湯，刪去石膏，下原有飲子二字，又塗去，旁改括
蔞湯，顧本作大躁石膏湯</small></span>。
一二四面，八行，喉痺<span data-rev="注"><small class="雙行夾注">原本誤作候今改</small></span>，九行，腹潢<span data-rev="注"><small class="雙行夾注">薛本潢作滿</small></span>。一二四面，十行，
中央<span data-rev="注"><small class="雙行夾注">顧本央作先</small></span>。
一二五面，一行，腹溜<span data-rev="注"><small class="雙行夾注">薛本腹作復</small></span>，八行，足口指<span data-rev="注"><small class="雙行夾注">原本此字破損，薛本作中，張本作捲，
顧本亦作口</small></span>。一二五面，九行，節後，<span data-rev="注"><small class="雙行夾注">原本此二字破損，照張本補，薛本作大誤</small></span>，又入五
<span data-rev="注"><small class="雙行夾注">原本此二字亦破損，照薛本張本補</small></span>。
一二六面，三行，足𪞘<span data-rev="注"><small class="雙行夾注">薛本顧本皆作冷</small></span>，六行，利里黑<span data-rev="注"><small class="雙行夾注">薛本里作黧字，張本作黧黑，無
利字，顧本仝，按當從黧黑為是</small></span>。一二六面，十行，得脈<span data-rev="注"><small class="雙行夾注">薛本得字下有汁字，按汁字當是
汗字之誤</small></span>，十一行，熟寐而卒<span data-rev="注"><small class="雙行夾注">原本無卒字，今依薛本張本補，顧本亦無</small></span>。
一二七面，六行，得汗者<span data-rev="注"><small class="雙行夾注">薛本張本者下俱有生字</small></span>，八行，代脈日死<span data-rev="注"><small class="雙行夾注">薛本張本日上俱有一字</small></span>，
十四行，汗汗<span data-rev="注"><small class="雙行夾注">薛本原作汗汗，抹去一字，張本顧本俱不重</small></span>。
一二八面，十一行，衝愈<span data-rev="注"><small class="雙行夾注">薛本張本衝俱作和</small></span>，十三行，注太谿<span data-rev="注"><small class="雙行夾注">原本誤作大絡，今照各本改</small></span>，
一二八面，十四行，太谿<span data-rev="注"><small class="雙行夾注">原本谿，誤作貉，今改</small></span>。
一二九面，四行，吹則<span data-rev="注"><small class="雙行夾注">薛本吹作次，顧本作久</small></span>，四行，通氣<span data-rev="注"><small class="雙行夾注">薛本氣作脈，案當從脈是</small></span>，
一二九面，十二行，覺<span data-rev="注"><small class="雙行夾注">此字原本半字，破去，描寫作學，各本亦作學，按文義似當作覺，不
當作學，故以意改之</small></span>。
一三〇面，一行，華陀本意也<span data-rev="注"><small class="雙行夾注">薛本張本句上皆有非字，按此處文義似當有非字</small></span>，五行，複
陰<span data-rev="注"><small class="雙行夾注">薛本顧本複俱作復，按當從復為是</small></span>。一三〇面，十一行，故敢<span data-rev="注"><small class="雙行夾注">原本作故敗誤，依薛本改</small></span>，
十三行，淮<span data-rev="注"><small class="雙行夾注">薛本顧本俱作准，張本作準</small></span>。
一三一面，一行，密窖<span data-rev="注"><small class="雙行夾注">薛本張本窖俱作守</small></span>，又方枝<span data-rev="注"><small class="雙行夾注">薛本枝作技，顧本作板</small></span>，四行，其緝<span data-rev="注"><small class="雙行夾注">張
本其作具</small></span>。一三一面，八行，頗知<span data-rev="注"><small class="雙行夾注">薛本知作著</small></span>，八行，明然<span data-rev="注"><small class="雙行夾注">薛本張本明俱作炯</small></span>，十行，
雖<span data-rev="注"><small class="雙行夾注">薛本作惟</small></span>，十一行，略意<span data-rev="注"><small class="雙行夾注">薛本張本意俱作述</small></span>。
一三二面，三行，令王公<span data-rev="注"><small class="雙行夾注">張本顧本令俱作今</small></span>，又今增至四五百<span data-rev="注"><small class="雙行夾注">薛本張本此六字俱在上每兩
千四五句下</small></span>。
一三三面，一行，古引<span data-rev="注"><small class="雙行夾注">薛本作引古</small></span>，六行，安不<span data-rev="注"><small class="雙行夾注">薛本張本安俱作寧</small></span>，又千浼<span data-rev="注"><small class="雙行夾注">各本千俱作
干</small></span>。</p>
<h4>傷寒論音訓</h4>
<p>一三五面，十三行，苦侯切<span data-rev="注"><small class="雙行夾注">原本作若使切誤，各本亦誤，今依原本校字作苦侯切，改，按查
玉篇芤字，本音苦侯切，知前人所改非妄，故從之。</small></span>
一三六面，六行，牡豕。牡鼠<span data-rev="注"><small class="雙行夾注">原本牡皆誤作壯，今改正</small></span>，十四行，金貍口捕物<span data-rev="注"><small class="雙行夾注">按原本口係
破損，下半字略有痕跡，似善字，薛本張本俱作之，疑非</small></span>。</p>
<h4>脩治藥法</h4>
<p>一四一面，十二行，注取自然汗<span data-rev="注"><small class="雙行夾注">汗當作汁</small></span>。
一四四面，十二行，□參<span data-rev="注"><small class="雙行夾注">原本破損，以藥味次第考之，當是玄參</small></span>。
一四六面，一行，□□□□<span data-rev="注"><small class="雙行夾注">原本破損，不可考，薛本顧本亦無，張本作研細用</small></span>，二行，□
□<span data-rev="注"><small class="雙行夾注">□□□原本破損，薛本張本□□作湯末□□□作同上，□□□，二□□□作中立練，按中
立練一字有誤</small></span>。
一四六面，七行，黑膏溫<span data-rev="注"><small class="雙行夾注">膏當作骨</small></span>。
道光癸未歲吳門黃氏士禮＠開雕同邑施南金書。</p>
<h2>題宋刻龐安常傷寒總病論後</h2>
<p>郡中藏書家所謂朱奐文游者，余猶及見其人，家多書，以老故，大半散去，最後一單中有龐
安常傷寒總病論，亦第與群籍並出，主人不以為宋刻，估人之買者亦未知為宋刻也，雜置坊
間，有識者過而識之，以青蚨五星易歸，自是我輩之好言收藏者，皆爭相購矣，是書先至小
讀書堆顧抱沖家，既而五硯樓袁壽階知之，余亦知之，因壽階先與議易，故歸之，抱沖先見
是書，遂先錄其副，抱沖所錄，余未之見，見其友人施君少谷手錄本，少谷時在抱沖家，教
其子弟習書法，故見而借抄，抄畢，原書歸壽階，余從之倩工影鈔一本，統而計之，宋刻一，
影宋刻者抱沖少谷與余有三矣，厥後余與壽階以影鈔易宋刻，是書遂為百宋一廛中物，年
來力絀，舉而贈諸蓋藝芸書舍，不意壽階之影鈔者，亦於其身後展轉歸藝芸，于是刻於鈔盡
為他人所有，余則一無所有矣，刻洪氏集驗方之冬，余忽得一夢，有人謂余何不再刻龐傷寒，
醒而異之，遂商諸藝芸，思借鈔入刻，奈藝芸不允讓影鈔付梓，而允借宋刻備校，適少谷哲
嗣稻香欣然輟贈其先人手澤，付諸剞劂，于是復以宋刻較影鈔，而知少谷之影鈔為功不小也，
三卷三十三葉，唯少谷影鈔本有之，餘本都缺，想少谷鈔後，抱沖始鈔，鈔時偶失之，自是
宋刻缺此葉，已後影鈔本皆失之，非余之重刻，不知宋刻缺此葉，非少谷之影鈔，不知宋刻
之原未缺此葉也，書之經人拆散傳錄，其弊有如此者，不可不警也，其中五卷十五葉，宋本
缺，惟薛性天家鈔本有之，字跡行款，與原本殊，未知何據，後見抱沖所鈔者中，亦有此葉，
謂是從王宇泰活字本補入，今余覆刻，據薛本補，據顧本校，存其異同可耳，宋刻不無誤處，
余復借張蒔塘家藏鈔本，薛性天家藏鈔本，顧容安家藏鈔本，雖未知其同出一源與否，而字
有異同，悉為標出，可從者，或改正文以就之，未敢信者或存校語以參之，余友張君訒菴素
諳醫理，共相參訂，以定校勘數十條，其任檢閱而草創者，余長孫美鏐之力也，是書自王宇
泰活字印行之後，未見重梓，即王本相傳止有二百部，故行世絕少，余姪曾有之，為友人借
去被焚，故未及一校為憾，朋好中皆想望是書，渴欲一見，故命工梓行，至于是書之深奧，
昔安常友人蘇黃兩公已詳言之，不復丐當代名流之儒醫兼通者贅一言已。</p>
<p>道光癸未仲春黃丕烈識。</p>
<h2>跋龐安常傷寒論</h2>
<p>古之良醫，皆不預為方，何也？病之來無窮，而方不能盡，使不工者惑其疑似而用之，則害大矣。惟仲景《傷寒論》論病處方，纖悉必具，又為之增損進退之法，以豫告人。嗟夫！仁人之用心，且非通神造妙者不能為也。龐安常又竊憂其有病証而無方者，續著為論數卷，其用心為術，非儷古人，何以及茲。淮南人謂龐安常能與傷寒說話，豈不信然哉。予將去黃，欒仲實以黃別駕後序求予書，而仲實之父為醫，得龐君之妙，謂予言何如也。（見張耒《柯山集‧卷四十四》）　</p>
