<header data-type="book">
<h1>醫斷與斥醫斷</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>鶴沖元逸</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>吉益君為醫也。稽古立極。明今御方。蓋其所祖述。特在張仲景氏云。乃至其發奸誅邪。排固解難。確乎不可拔。凜乎不可動。譬猶執針旄制閫外命也。是以世之疑且懼者多矣。而至眾工無措。見以為遊魂行屍者。得君能起。則世不可以無君也。平居謂為世之疑懼。吐剛茹柔。阿媚希售者。奚其無特操乎。且也予生之初。裸蟲耳。藉令術之不行。亦豈矣為裸蟲乎。何媚世之為屬者。其門人輯錄師說。命曰醫斷。此書之行也。疑且懼者。亦益多矣。而後識者左袒君也。猶瞿圃之射焉爾。長門瀧長愷彌八父序</p>

<h1>自序</h1>
<p>余自成童學醫。鑽研其道者。十年所於茲矣。每病其諸說冰炭。施治隔靴搔癢。乙丑之秋。遊於京師。達觀於諸老先生之所為。猶未足以解此惑也。後僑居倉街。與北奧孔澤氏相知。遂締交莫逆。膠漆以視。孔澤氏學於東洞先生。勸余執贄從學焉。蓋先生之術。一據仲景。試以奏效。其教明辨詳實。行事為先。諸空言虛論者。斥之不言。余侍帳前。得聞其說。則如冰解而炭灰。如撤靴以搔癢。前方病者惑者。一埽都盡。遂記其說。輯以為一小冊子。求正於先生。請評於諸友云。</p>
<p><u>延享丁卯冬十月西肥鶴沖元逸書於洛西僑居。</u></p>

<h1>醫斷</h1>

<h2>司命</h2>
<p>古人謂醫為司命官者。蓋本諸扁鵲之言是不知道者耳。扁鵲之言曰。疾在骨髓。雖司命無奈之何。是謂雖司命。而不謂己為司命也。可以見已。夫死生有命也。命者天之令也。孔子之所罕言。諸子之所不得聞也。醫其如夫命何。蓋醫者掌疾病者也。謂之掌疾職則可矣。謂司命官則所以誣扁鵲惑來學者。莫斯為甚矣。學者思諸。</p>

<h2>死生</h2>
<p>死生者命也。自天作之。其唯。自天作之。醫焉能死生之哉。故仁不能延。勇不能奪。智不能測。醫不能救。唯。因疾病致死非命也。毒藥所能治已。蓋死生者。醫之所不與也。疾病者。醫之所當治也。故先生曰。盡人事而待天命。苟人事之不盡。豈得委於命乎。是故術之不明。方之不中。而致死者非命矣。執古之方。體今之病。能合仲景之規矩而死者命也。質諸鬼神。吾無愧爾。世醫動輒預定其死生。彼其意謂斃於吾手。則害於名矣。間有一二中者。益信其臆不爽也。夫察聲氣色。眂其死生。周官所命也。豈不可乎。雖然。察之以臆。眂之以臆。使其生者輒編之鬼籍。恝乎束手以待其斃。是豈仁人之用心乎。故既眂其死。猶且盡吾術。以望其或生。古之道也。然而不生。然後可謂命也已矣。唯重其名。故唯眂其死。不能忘死生於執刀圭間。所以惑也。唯重其仁。故唯眂其生。所以世醫所謂死者。間有起者也。故曰。死生者。醫之所不與也。</p>

<h2>元氣</h2>
<p>元氣之說。聖人之所不言。六經莫有焉。蓋自漢儒創也。下至唐宋大盛。遂為醫之恆言。曰元氣虛。曰元氣衰。曰補元氣。夫元氣者。陰陽一元氣也。天之所賦。人之所生。所謂先天之氣也。是豈可虛衰者哉。亦豈可補乎哉。若夫隨年齒而旺衰者。天地之道。萬物之常也。非人力之所能挽回矣。如其當強壯而衰弱者。則有所抑遏也。除其所抑遏者。則自復其常矣。彼不辨之。妄以為虛衰。而欲補之。可謂愚矣。又曰。行氣則病自除。蓋本之素問曰。百病生於氣。雖然。病之者毒也。毒乘之也。豈氣特病乎。又豈毒自除乎。說者不論及此。誤矣。</p>

<h2>脈候</h2>
<p>人心之不同。如其面也。脈亦然。古人以體肥瘦。性緩急等。為之規則。然是說其大抵耳。豈得人人而同乎。醫謂人身之有脈。猶地之有經水也。知平生之脈。病脈稍可知也。而知其平生之脈者。十之一二耳。是以先生之教。先證而不先脈。先腹而不先證也。扁鵲曰。越人之為方也。不待切脈望色聽聲寫形。言病之所在。可以見已。且如留飲家脈。千狀萬形。或無或有。不可得而詳矣。夫脈之不足以證也如此。然謂五動或五十動。候五藏之氣者。妄甚矣。如其浮沉遲數滑澀。僅可辨知耳。三指舉按之間。焉能辨所謂二十七脈者哉。世有隱其病。使醫診其脈以試之者。乃恥其不知之似拙。以意推度。言其彷彿。欲以中之。自欺之甚矣。醫其思諸。</p>

<h2>腹候</h2>
<p>腹者有生之本。故百病根於此焉。是以診病必候其腹。外證次之。蓋有主腹狀焉者。有主外證焉者。因其所主。各殊治法。扁鵲曰。病應見於大表。仲景曰。隨證而治之。宜取古法而求其要矣。</p>

<h2>臟腑</h2>
<p>周禮曰。參之以九藏之動。而不分腑也。仲景未嘗論矣。無益於治病也。傷寒論中適有之。然非仲景之口氣。疑後世攙入也。夫漢以降。以五行配之。以相剋推病。且曰。腎有二。曰。臟五而腑六。曰。臟六而腑五。曰。有命門。有心包。有三焦。其說弗啻堅白。要皆非治疾之用矣。</p>

<h2>經絡</h2>
<p>十二經十五絡者。言人身氣脈通行之道路。醫家之所重也。然無用乎治矣。是以不取也。如針灸法。無一不可灸之穴。無一不可刺之經。所謂所生是動井榮俞經合等。亦妄說耳。不可從也。</p>

<h2>引經報使</h2>
<p>本草曰。某藥入某經某臟。又曰。某藥治某經病。某藥某經之藥也。某藥某臟之劑也。其分別配合。歷歷乎如可據者。若其如此。誰失正鵠。然而不可以此治病。則其為牽強。可以知已。古法唯因上下表里所主。而處方不同焉耳。</p>

<h2>針灸</h2>
<p>針灸之用。一旦馳逐其病。非無驗也。唯除本斷根為難而已。如痼毒。灸之則動。動而後攻之易治。故針灸亦為一具。而不必專用。亦不拘經絡分數。毒之所在。灸之刺之是已。</p>

<h2>榮衛</h2>
<p>榮衛者。氣血之別稱也。所謂榮行脈中。衛行脈外。行陽二十五度。行陰二十五度。亦理而已。非疾醫之用也。不可從矣。</p>

<h2>陰陽</h2>
<p>陰陽者。天地之氣也。無取於醫矣。如表裡為陰陽。上下為陰陽。猶可矣。至如朱丹溪陽有餘。張介賓陰有餘之說。穿鑿甚矣。後人執兩家之中。以為得其所。所謂子莫之中耳。其他如六經陰陽。不可強為之說。非唯無益於治。反以惑人。學者思諸。</p>

<h2>五行</h2>
<p>五行之說。已見虞書及洪範。下至漢儒。熾言之。素問難經。欲由是以總天下之眾理。窮人身之百病。說之若符契然。雖然。要皆論說之言已。今執其說。施之匕術。則致謬千里。是吾黨所以不取也。後人增演其說。以誇窮理。可謂無用之徒也已。</p>

<h2>運氣</h2>
<p>五運六氣者。無驗於病也。考司天在泉。推大過不及。定寒熱溫涼。按主病。試應脈者。無有其驗。可謂迂矣。要是陰陽家之言。奚取於疾病醫乎。</p>

<h2>理</h2>
<p>世之好言理者。必物推事窮。至其所不通。鑿以誣之。蓋理本非可惡者也。惡其鑿焉耳。故雖口能說百病之理。而難其治者。為其鑿也。夫理無定準。疾有定證。豈可以無定準之理。臨有定證之疾哉。故吾黨論其已然者。不論未然者。又不論其所以然者。蓋事理相依不離者也。故事為而得之。理默而識之。</p>

<h2>醫意</h2>
<p>醫意之說一出。而世之狡兒。以為口實。曰。醫之道。唯意以推之。何必讀書受業。而後為之邪。籲。妄哉陋哉。豈可與言道哉。蓋醫之為道。自有一定法。何鑿推妄行之為。其如是也。不由規矩。以擬方圓。不用繩墨。而置曲直。豈得不差乎。學者思諸。</p>

<h2>痼疾</h2>
<p>世醫以痼疾名持病。而難乎治矣。至如中風嗝噎脹滿痿躄等。難之益甚。是無它。方不得法也。蓋方法不愆焉。則無病不愈也。今從法處方。其所難者。得治不少矣。彼已不能治。則雖千百人中起一人。不亦善乎。此非入門同道。不易論焉。</p>

<h2>素難</h2>
<p>素靈二書。古人以為先秦之偽作。周南先生曰。六朝以降之書。然其中間有古語可法者。學者擇焉。難經傳以為越人書也。而其言理最勝。故害道亦多。考之扁鵲傳。亦唯偽作而已。</p>

<h2>本草</h2>
<p>本草妄說甚多。不足以徵也。然至考藥功。豈可廢乎。宜擇其合於仲景法者用之。至如延齡長生。補元氣。美顏色。入水不溺。白日見星。殊不可信也。其非炎帝書也。不待辨而明矣。後世服食家說。攙入本經。不可不擇焉。</p>

<h2>修治</h2>
<p>後世修治之法甚煩。如煨炮炒。中黑微炒。酒浸酢浸。九蒸九曝等。與作飲作餅。為羹為胾之法何別乎。去酷烈之本味。偏性之毒氣。以為鈍弱可狎之物。何能除毒治病哉。蓋毒即能。能即毒。制以蓋毒則可也。殺毒則不可矣。</p>

<h2>相畏相反</h2>
<p>相畏相反之說。甚無謂也。古人制方。全不拘於此。如甘草芫花。未見其害也。其他亦可以知已。</p>

<h2>毒藥</h2>
<p>藥者草木。偏性者也。偏性之氣皆有毒。以此毒除彼毒耳。周禮曰。聚毒藥以供醫事。又曰。以五毒攻之。左傳曰。美疢弗如惡石。古語曰。毒藥苦口利於病。內經曰。毒藥攻邪。古者以藥為毒。可以知已。後世自道家之說。混於疾醫。從藥為補氣養生之物。不知其為逐邪驅病之設也。可謂失其本矣。甚則至有延齡長年。還少不死等之說。庸愚信之。煆煉服食。以誤其身者多矣。悲夫。</p>

<h2>藥能</h2>
<p>諸家本草所說藥能。率多謬妄。故先生壹皆考信於仲景氏云。參觀其方。功用可推也。今舉本草所載。不合仲景者一二。如人參治心下痞硬。而彼以為補氣。石膏已渴。而彼以為解熱。附子逐水氣。而彼以為溫寒。其相齟齬者。大抵為爾。先生別撰藥徵以詳之。故不贅於此。</p>

<h2>藥產</h2>
<p>藥產有某土宜處。某土不宜處。其土之所生。性之所稟。不可不詳也。</p>

<h2>人參</h2>
<p>人參有數種。今觀清韓賈舶所載來者。皆非古也。蓋參本味苦。治心下痞硬之物也。仲景之書。及千金外臺方中所用。可見已。自服食家之說行。有補元氣益精力之言。於是浸甘草汁。甘其味。加修飾。美外形。以炫貴价也。人以為救死之良藥。醫以為保生之極品。承誤以傳。眩贗而失真矣。貧賤而死者。以為不用參之尤。富貴而斃者。以為參不及救之。唯遁辭於彼而已。且今用之。心下痞硬不治。和參能治之。是其由製造。可以知也。</p>

<h2>古方</h2>
<p>方者莫古於仲景。而仲景為傳方之人。非作方之人也。蓋身為長沙太守。博集群方。施之當時。以傳後世。而其書具存焉。故欲用古方者。先讀其書。方用可知。然後藥能可知也。未知方用。焉能知藥能乎。雖然。未知藥能。則方用亦不可知也。況方意不可解者甚多矣。蓋雖仲景。亦或有不解者。雖則或有不解者。而昔人所傳。既用有驗者。又奚容疑焉。降至千金外臺書。方劑不古者居多。其可取者。不過數方而已。概多味者可疑矣。世有欲以數藥兼治數證者。自謂無不中也。亦唯暗投瞑行也已。學者思諸。</p>

<h2>名方</h2>
<p>世俗所謂名方者。間有奇效。故醫傳之。非醫者亦傳之。不審其所出。而一時施用有驗者。相傳以為名方也。蓋載書籍者。未必佳。傳俗間者。未必不佳。宜博求普問。以輔其術矣。</p>

<h2>仲景書</h2>
<p>仲景書。有傷寒雜病論。金匱要略。玉函經。其論傷寒及雜病。甚詳悉焉。然如要略玉函。偽撰已。先生辨之。故不贅也。雖傷寒雜病論。獨出於仲景。然叔和撰次之。加以己說。方劑亦雜出。失本色者。往往有之。且世遐時移。謬誤錯亂。非復叔和之舊。不可不擇也。後之注家。皆為牽強附會。不可從也。故先生之教。其理鑿者。其說迂者。一切不取之。所以求其本色也。學者宜審焉。</p>

<h2>傷寒六經</h2>
<p>傷寒論六經。非謂病在六經也。假以為經也已。及其施治也。皆從證而不拘焉。如後世謂某證在某經。某經傳某經。及誤下越經傳之說。皆非矣。不可從也。</p>

<h2>病因</h2>
<p>後世以病因為治本也。曰。不知之。焉得治。予嘗學其道。恍惚不可分。雖聖人難知之已。然非謂無之也。言知之。皆想像也。以想像為治本。吾斯之未能信矣。故先生以見證為治本。不拘因也。即仲景之法也。今舉一二而徵焉。中風頭痛。發熱汗出者。下利後。頭痛發熱汗出者。皆桂枝湯主之。傷寒寒熱往來。胸脅苦滿。中風寒熱往來。胸脅苦滿。或瘧。或腹痛。或熱入血室。有前證。則皆小柴胡湯主之。傷寒大煩渴。中熱大煩渴。皆白虎湯主之。是雖異其因而方則同矣。可見仲景從證不拘因也。若不得止論之。則有二矣。飲食外邪是也。雖然。入口者。不出飲食。蓋留滯則為毒。百病系焉。諸證出焉。在心下為痞。在腹為脹。在胸為冒。在頭為痛。在目為醫。在耳為聾。在背為拘急。在腰為痿躄。在脛為強直。在足為腳氣。千變萬怪。不可名狀矣。邪雖自外來。其無毒者不入。假如天行疫氣。間有不病者。天非私。人非不居氣中。是無毒也。然則一也。故仲景隨毒所在而處方。由是觀之。雖曰無因。亦可。是以吾黨不言因。恐眩因失治矣。後世論因。其言多端。不勝煩雜。徒以惑人。不可從焉。</p>

<h2>治法</h2>
<p>治有四。汗吐下和是也。其為法也。隨毒所在。各異處方。用之瞑眩。其毒從去。是仲景之為也。如其論中所載。初服微煩。復服汗出。如冒狀。及如醉狀得吐。如蟲行皮中。或血如豚肝。尿如皂汁。吐濃瀉出之類。是皆得其肯綮然焉者也。尚書曰。若藥弗瞑眩。厥疾弗瘳。可觀仲景之術。三代遺法也。今履其轍。而嘗試之。果無有不然焉者也。於是乎。吾知其不欺我矣。然而世人。畏瞑眩如斧鉞。促疾病如子孫。籲。其何疾之除哉。甚矣其惑之也。</p>

<h2>禁宜</h2>
<p>人性之所好惡不同。稱口腹者為宜。不稱者為不宜。古者養精以穀肉果菜。未嘗言禁宜也。後世嚴立禁宜。曰。某物增病。某物勝藥也。然其為物所奪者非藥也。何以勝彼病之為哉。立禁宜之弊。至進其所惡。禁其所好。不亦左乎。</p>

<h2>量數</h2>
<p>銖兩升斗。古昔所用。甚密矣。雖然。年世悠久不可得而審也。如其概則可推知已。先生乃有所考略此。後世彼方。一貼之重。大率不下數兩。今見華客來長崎者所用。亦然。此方有以一錢為一貼之說。輕重僅出入此耳。夫以殺性之藥。作如此小劑。且其煎煮之法。不一而止。再煮其滓服之。何其治疾勝毒乎。是故先生之教。專守方書。輕重必較。多少必量。如其再煮。則古所無也。故不為矣。</p>

<h2>產蓐</h2>
<p>產蓐之法。方士所習各殊。其有害者除之。無害者從之。勿為收生家法所拘束焉。恐反生它病已。蓋產後困倦。欲眠且臥。而今京師俗。數日戒之。甚不可。若血暈。欲以參耆之劑防之。妄矣。宜審證治之。又妊娠腹帶之法。中華古無之。本邦有之者。世謂神功皇后徵韓。妊娠擐甲。故用之。非常法也。</p>

<h2>初誕</h2>
<p>初誕之法。務去胎毒為主。且不早與乳可也。二三日為度。若早與之。其毒難去。如朱蜜茯苓五香等。何毒之逐。不用而可。至其有病者。莫令綿延。須急攻之。今人動輒謂。人之稟性。古今自有厚薄。今也薄矣。故不勝攻擊也。宜補之。惡。是何言哉。夫人者與天地參焉。天不裂。地不壞。何唯人之異哉。雖草木亦然。以今之藥。攻今之疾。何畏怖之有。</p>

<h2>痘疹</h2>
<p>痘疹之證。古籍不概見焉。東漢初。始有之。本邦則聖武帝時云。蓋天地人物。無古今一也。豈古有之者。無於今。今有之者。無於古哉。意者自古有之。不傳其名已。其為病也。始與癰瘍無異矣。治法亦以除毒排膿為主。如補瀉二法。則不知者之所立耳。蓋見毒酷而死者也。未見毒盡而斃者也。其斃者。是酷毒壅塞之所致也。醫其詳諸。</p>

<h2>攻補</h2>
<p>醫之於術也。攻而已。無有補矣。藥者一乎攻焉者也。攻擊疾病已。內經曰。攻病以毒藥。此古之法也。故曰攻而已。精氣者。人之所以生也。可養以持焉。養持之者。穀肉果菜耳。內經曰。養精以穀肉果菜。不曰之補而曰養。古之言也。蓋雖穀肉果菜乎。猶且難補之。而況藥乎。豈人力之所能也哉。故曰無有補矣。後世並論攻補。岐藥二之。專為補氣之說。曰。病輕則攻之。重則補元氣。若強攻之。元氣竭死。夫藥者一乎攻焉。豈得能補之哉。元氣果可補。則人為死。妄誕特甚矣。</p>

<h2>虛實</h2>
<p>夫正權衡而後。輕重可較也。審平常而後。虛實可論也。蓋人自有常焉。失常然後有虛實矣。於精氣謂之虛。於邪氣謂之實。何以言之。內經曰。邪氣盛則實。精氣奪則虛。夫精氣者。人之不可無焉者也。唯懼其虛。故言之虛。又言之奪。邪氣者。人之不可有焉者也。唯懼其實。故言之實。又言之盛。是故虛以養言。實以攻言。攻之者毒藥。養之者穀肉。此古之法也。故虛實皆可由平常而論焉。有人於此。體甚羸弱。所患最多。問曰。僕免身至今。如此其患。眾醫咸曰。如爾此天質之虛症也。病不可治矣。若欲強治之。其斃也必矣。不若補以全生也。乃以藥代飲食。無一日廢之。雖然。尚仍舊。子之所見。亦如之乎。願聞其說。曰。豈其然乎。以余觀之。子之所患。是乃實也。其人諤然曰。子何言之妄。瘦瘠如此。加之以疴。人咸為虛症。何謂之實也。曰。籲。何此之謂哉。夫虛實者。失常之名也。於邪氣謂之實。於精氣謂之虛。子已有病。何命以虛乎。又豈得謂之天質乎哉。是當其胚胎之初。受疾而生。精氣為其所抑壓而不能充暢者耳。內經曰。邪之所湊。其氣必虛是也。然則審其術以攻擊之。飲食隨其嗜欲。則病去而精氣自充暢矣。夫然後肥瘠強弱。是其性已。於此乎可謂天質而已矣。彼不由平常。而論虛實也。紛紛乎不知所適從矣。故目不見其病。唯羸弱是視。遂名以虛症。不亦謬乎。是不正權衡而較輕重者也。且夫所欲補之者。非藥乎。藥者偏性之毒物耳。是以雖能拔邪氣。而不能補精氣也。若唯精氣之虛。盍以穀肉養之。彼既欲補不能也。竟使人不免瘁爾懷疴。以終其身也。悲夫。要之坐不辨其為失常之名焉耳矣。又如謂氣虛腎虛脾胃虛之類。亦率准之。皆不因疾命名。愆之所創焉。</p>

<h1>刻斥醫斷凡例</h1>
<p>一是非者天下之公也。此篇所述。即吾儕二三子。舉醫斷之說。以質之先生。先生髮蒙解惑。徵諸聖言。而是是非非。一歸於公而止。乃書以授弟子。非敢與人爭衡。亦出於授業施教之不得已也。</p>
<p>一此書初脫稿。徒弟之外不許輕示人。但恐謄寫致謬。或失微旨。故固請先生。上諸桑梓。以與同志傳之。論辯簡易。不用縟採。辭達而已。非敢告大方君子也。</p>
<p>一全篇凡四十三章。將醫斷逐段附入。彼則低寫於前。此則高寫於後。且欲省煩。故抄彼文緊處。而不舉其全。覽者詳焉。</p>
<p>一此刻有病機診候。未盡其歸趣者。蓋所以不涉駁義。則不論及也。</p>
<p>一本書可非者。不在此限。然不與大義者。乃所不論也。</p>
<p>一各條不揭題辭。以讀其論而義自見也。旦就簡云。</p>
<p><u>門人和州足高恭謹識</u></p>

<h1>斥醫斷</h1>

<h2>緒言</h2>
<p>余讀鶴氏所編吉益子醫斷。廢書而嘆。可為太息者三。可為流涕者二。其佗背理而傷道者。難遍舉矣。夫醫雖小道。其精理妙用。非聖人不能肇修之也。是以古今醫流。雖有卓識俊才迥出於人者。然其論辨取捨。一皆折衷於經。而終不能更其轍也。人命所繫。至重綦大。豈可不慎哉。而彼書也。斷然擯醫經。棄陰陽。變古今不移之道。而異其端矣。嗚呼此言之行也。後將不勝其弊矣。可為嘆息者一也。雖以仲景明敏。猶質信於素問。陰陽大論。彼書雖稱取方於仲景。然取捨任意。加以妄說。謂人參無補而治心下痞硬。附子非溫而逐水氣。然則仲景何不捨人參用枳實。代附子以甘遂乎。可謂無稽之言矣。可為嘆息者二也。夫政有王霸之別。吏有循酷之異。醫道亦然。彼書論術甚率易。分證尤忽略。不求標本、不究病因。有攻而無補矣。譬猶李斯商鞅之術。郅都杜周之治。如此而不敗者幾希也。可大息者三也。雖死生有命。醫事所關亦大矣。原治術之得法以回生。與失宜以速死。則可以知之矣。吉益子謂死生者醫所不與也。此言之弊。終令庸愚者。視人死如風花。籲。民病將疇依。可為流涕者四也。其最勝悲者。初誕嬰兒。不辨稟賦渥薄。一切攻擊之施。古今經法。置而不論。臆斷所是。無少顧疑。至痘疹之治。慘刻益酷。可不謂忍乎。可為流涕者五也。此五者。誠足以為天下後世之患。夫俗樂悅耳。詭辯驚聽。彼人之論。亦取快一時。而其實有不測之禍。不可不辨也。作斥醫斷。</p>
<p>古人謂醫為司命官者。蓋本諸扁鵲之言。是不知道者耳。（至）誣扁鵲惑來學者。莫斯為甚矣。</p>
<p>司命出周禮。星名也。扁鵲引而諭之。思邈藉以名醫。猶管子以穀米為民之司命。孫子曰。將者人之司命。可以徵也。聖人制醫藥。以濟民夭死。則借司命以名醫。亦何不可之有哉。誣扁鵲惑來學者為誰也。可謂離蹤而跂訾者也。</p>
<p>死生者命也。自天作之。（至）醫焉能死生之哉。</p>
<p>死生有命。出子夏之言。顏子而夭。盜蹠而壽。貴不能奪。賤不得讓。數盈運盡。無奈之何。此夫人所知。何煩說之為。然亦有不幸者。有自取者。王仲任所謂強弱壽夭之命。所當觸值之命。及正命。遭命。隨命等之說。議論多端。終難得其要領。此即聖人所罕言也。而況非聖者乎。蓋煩說之必惑人。輕言之則傷物。言之有弊。先賢慎焉。夫惟忠臣烈士。捨生而取仁。犯難而踏義者。臨時自斷曰死生命也則可已。其佗或為欲伐性。因忿忘身者。至其不可奈何。乃亦曰命也。此豈命哉。乃自求也。然亦自傷而止。無害乎人矣。惟刑官與醫者。決不可言命也。言必有害乎物焉。何則。醫與刑官。皆與生殺之事者也。平反則多活。失入則多冤。診應病而起。方失法而斃。片紙具案。一匙藥劑。殺無辜而折多壽。莫斯可畏。以生殺為重任。畏之慎之。猶恐得罪於造化。而況一托之於命。而謂己不與焉乎。此非所宜言也。又敢唱以導人乎。若其說之行也。庸醫凡工。不論己術之粗妄。人死則曰。病吾除之。死生命也。醫不與焉。黠者藉以為口實。愚者信以為實然。競為酸酷。無復忌憚。其禍豈可勝言也哉。出言不善。弊至於此。凡為醫者。所宜深察者也。</p>
<p>死生者醫之所不與也。（至）執古之方。體今之病。能合仲景之規矩而死者命也。質諸鬼神。吾無愧爾。</p>
<p>天地大德曰生。聖人為醫藥。濟民夭死。書稱天工人其代之。周禮載凡民之有疾病者。分而治之。死終則各書其所以。而入於醫師。歲終則稽其醫事。以制其食祿。先王所以慎死生者。至矣。盡矣。死生而醫不與。則何為書死終以制食祿乎。嗚呼契然無心於死生者。非醫矣。是以良工知幾微而治腠理。故使良醫得蚤從事。則疾可已也。身可活也。及其入膏肓也。雖神醫無奈之何。吉益子言死生者醫之所不與者。蓋本諸扁鵲之言也。然亦不知本者已。扁鵲之言曰。越人非能生死人也。此自當生者。越人能使之起耳。此以未入骨髓者。與既在膏肓者言之矣。若使齊桓蚤從扁鵲之言。則病可已也。身可活也。有病不治而死。不可謂命也。虢太子待扁鵲而蘇。可以見也。故使良醫蚤從事。則病者或以愈。且死或以生。然世醫專以死生為己任者。疑乎仁。其失愚也。言死生醫不與者。疑乎知。其失賊也。愚與賊。君子不由焉。醫當以可治為可治。以不可治為不可治。何必言命耶。治人病不愈。而皆謂之命也。豈理哉。假令仲景當之。我不信焉。況不為仲景者乎。況不合仲景之規矩者乎。須徵諸聖人之言。而後言命也。不揣其本而齊其末。方寸之木。可使高於岑樓。此之謂也。</p>
<p>世醫動輒預定其死生。彼其意謂斃於吾手。則害於名矣。（至）死生醫之所不與也。</p>
<p>知人死生。決嫌疑。定可治。醫之能事也。古之道也。工拙之所以分也。何尤世醫之為哉。彼既謂眂其死。猶且盡我術以望其或生。然而不生。然後可謂命也已矣。嗚呼視不可治而欲治之。愚也。古人不為之。非為害於名。治之無益也。是扁鵲所以視桓侯之不可藥而逃去也。其言忘死生於執刀圭之間。闢諸操舟者。言忘覆沒於檝棹之間。豈可哉。</p>
<p>元氣之說。聖人之所不言。六經莫有焉。（至）是豈可虛衰者哉。亦可補乎哉。</p>
<p>元氣之說。雖不具於六經。其義則備焉。吉子以名求之而不得。輒謂六經莫有。聖人之所不言。可不謂昧乎物乎。夫元者萬物之初。是以易之教。以元為大。曰。大哉乾元萬物資始。至哉坤元。萬物資生。乃天地之大德。所以生生不已者。非氣而何也。擊辭曰。精氣為物。祭義曰。氣也者神之盛也。在天為元。在人為仁。在人身為體之長矣。孔子曰。元者善之長也。天非元無以運化乎萬物。君非元無以運化乎天下。人身非元無以運化乎四肢百骸也。夫元原於天。行於人。通於萬物。呼為統名。此亦不外於天地自然者也。彼曰。是豈可虛衰者哉。亦豈可補乎哉。非也。此氣衰。則化育失時。災害並至。君不君。臣不臣。干戈爭起。天地四塞。禮記曰。氣衰則生物不遂。衰氣不可不益。易曰。損而不已。必益。故受之以益。書曰燮理陰陽。寅亮天地。可見此元氣或時虛衰。亦可以益之。後以裁成天地之道。輔相天地之宜。天地之氣。且可益。況於人身哉。孟柯曰。氣。體之充也。苟得其養。無物不長。夫名定而實辨。言正而義行。彼妒繆於道。而誘其所好也。荀卿以為亂正名使民疑惑。則謂之大奸。豈可不慎哉。</p>
<p>若夫隨年齒而旺衰者。天地之道。萬物之常也。（至）說者不論及此。誤矣。隨年齒而形與神旺衰者。素問論之詳矣。夫元氣之在全軀也。徹上徹下。無所不至。此氣也。分之則為陽。為陰。為精神。生氣通天論曰。其氣三。是也。有所抑遏而不流。則為病。所謂壯者氣行則已。怯者則著而為病。此非真氣之衰也。氣不流。有似乎衰耳。所以不用補氣之藥。反施耗氣之劑也。內經所論。陳言戴人所說。亦不可不知焉。豈說者不論及此乎。彼適不思諸已。</p>
<p>人心之不同。如其面也。脈亦然。（至）先證而不先脈。先腹而不先證也。</p>
<p>古人以四診病。自望始焉。蓋診外及內也。彼盭經旨。反古法。誰入不由戶。其以人心之不同。比脈之有異。可謂非類矣。若夫堯桀之心。霄壤不啻也。然其臂不為桀短。不為堯長。則脈亦豈天淵乎。故曰。以心比脈。可謂非類矣。</p>
<p>扁鵲曰。越人之為方也。不待切脈望色聽聲寫形。言病之所在。可以見已。</p>
<p>扁鵲欲奇己術。故張言以誇中庶子。其不待切脈望色聽聲寫形者。此誇張之言耳。及其入診太子。則曰陽脈下遂。陰脈上爭。此切脈也。上有絕陽之絡。下有破陰之紐。破陰絕陽之色已廢。此望色也。及其聞耳鳴而鼻張。循其兩股以至於陰。則聽聲與寫形之診。可謂詳且明矣。鶴氏之子。不能讀書。漫引誇張之言。以為之證。可謂認影響失其實者已。</p>
<p>如留飲家脈。千狀萬形。或無或有。不得而詳矣。夫脈之不足以證也如此。（至）自欺之甚矣。醫其思諸。</p>
<p>留飲之脈。或伏或見。如結如散。不可以名狀者。此所以為留飲之脈也。病怪則脈亦怪。如沙脹邪祟。有此病則有此脈。怪病亦有屬飲者。皆脈道窒礙所致已。醫眩此而言脈不足以證者。可謂執一廢百矣。五十動代脈之說。靈樞八十一難論之。仲景亦謂動數不滿五十。短期未知。夫代者止歇不還之脈。陽氣竭盡。而氣脈不接續也。至或如雀啄。或如屋漏。或如弦絕者。與死為鄰也。仲景曰。得此脈者必難治。所謂予之短期也。進退動數。以見緩急輕重之候。豈可謂無此理乎。其佗如傷寒心悸脈代者。腹痛結澀止代者。妊婦惡阻脈代。及結促者。阻滯去則脈復平。不可一途而論之也。至匿其病情。令醫診之。以驗其工拙。則蘇東坡有論闢之。慎疾者不可以不知焉。</p>
<p>腹者有生之本。故百病根於此焉。（至）宜取古法而求其要矣。</p>
<p>視疾之法。背腹手足上下。無所不診焉。如仲景所謂結胸病正在心下。按之則痛。但滿而不痛者。此為痞。及按之濡。按之石便。按腹之法。蓋為審也。其寒熱虛實。腎間丹田。若夫里結硬糞。可探而知焉。則可以知病之狀也。豈啻腹已哉。如扁鵲循其兩股以至於陰。可觀大表之間。無所不診也。</p>
<p>周禮曰。參之以九藏之動。而不分腑也。仲景未嘗論矣。無益於治也。（至）其說弗啻堅白。要皆非治疾之用也。</p>
<p>甚矣哉。吉益氏之解醫也。以周禮不分藏府。非醫書之言。周禮之書。非為治疾而設。其言何一一盡醫理乎。彼既不能以周禮治疾。而以醫書治病。則醫之言不可以不取則焉。如吉氏謂藏府。陰陽。腎命門。心包三焦之說。無益於治而不取。闢猶以眉發為無益於身而去之。眉發在身。身未必肥。眉發去身身未必瘦。而不去之者。以具體不可缺也。古人垂法正名。豈但眉發之於身乎。且仲景曰。清邪中於上焦。濁邪中於下焦。又曰。屬藏者攻之。不令發汗。屬府者。不令溲數。溲數則大便硬。是等語皆緊要。其佗內經所論。難經所辨。暨千金。外臺。類於法。品於治。豈無益於治乎。而言仲景未嘗論。鹵莽殊甚。</p>
<p>十二經十五絡者。（至）亦妄說耳。不可從也。</p>
<p>扁鵲曰。中經維絡。別下於三焦膀胱。又曰。絕陽之絡。破陰之紐。此以經絡視病也。夫經絡於人身也。闢諸枰之有旄。今以經絡為妄不取。猶對無旄枰。假令弈秋為之。終不能善之也。史曰。必有經紀。拙工有一不習。文理陰陽失矣。此方謂也。</p>
<p>本草曰。某藥入某經。某藏。（至）其為牽強。可以知已。古法唯因上下表里所主。而處方不同焉耳。</p>
<p>醫之用藥也。猶將之用兵歟。強弱安危之效。死生起活之機。不可輕也。夫兵有正有奇。馬步擇地。弓刀異便。多算勝。少算不勝。豈唯兵為然哉。仲景之論醫也。方法有經。逆順異治。機變不可窮也。豈惟上下表里。足以盡古法乎。如張元素引經報使之說。雖古無此說。然仲景之方。亦皆以桂枝麻黃髮太陽。葛根解陽明。柴胡和少陽。及理中之理中焦。白虎。十棗。承氣。抵當。均入胃。而藥氣之所趨。如鼓進金退。左麾右指。運諸掌上。則有此甚於彼者。至哉斯術出。莫不以合法為本。趣變為用。苟反於法。則安者危。不知變。則存者亡。稽其聚散離合之際。不可謂無入經入藏之理矣。</p>
<p>針灸之用。一旦馳逐其病。非無驗也。（至）不必專用。亦不拘經絡分數。毒之所在。灸之刺之是也。</p>
<p>針灸之有經紀。內經之法古也。扁鵲刺三陽五會。仲景刺期門於太陽之縱及橫。其它屍厥刺巨厥。期門。太陽少陽並病刺大椎及肝俞。太陽病刺風池風府。且灸少陰。灸厥陰。不一而止。後世不敢易紀律。而精術妙手。出於其間者不鮮矣。今滅法立違。而實經絡分數於度外。嗚呼弓矢不調。則羿不能以中微。六馬不和。則造父不能以致遠。此之謂也。</p>
<p>營衛者。氣血之別稱也。（至）非疾醫之用也。不可從也。</p>
<p>營衛者。水穀精悍之氣也。不可直指為氣血之別稱也。蓋運行一身經脈之中外。如經營衛護然也。爪之生。發之長。營衛之行。無少間斷。均是氣血也。運行者曰榮衛。盈滿者曰氣血。猶水之與流也。如謂流是水之別稱。豈理也哉。故仲景之書。有並稱榮衛氣血者可以徵焉也。或榮衛和則愈。或榮衛強弱。榮衛不能相將。三焦無所仰等語。皆切於治者也。彼言非醫之用也。不思諸甚矣夫。</p>
<p>陰陽者。天地之氣也。無取於醫矣。（至）非唯無益於治。反以惑人。學者思諸。</p>
<p>夫天者氣而不質。地者質而不氣。人則氣質合焉。氣陽也。質陰也。此人身陰陽顯然者也。彼吉益子者。體不具陰陽則已。然彼既謂。今天地即古天地。人物亦然。如果不具陰陽。則人物亦非古之人物也。何言之相矛盾乎。陰陽之於醫事古人規則。莫外於此。豈可悖焉哉。扁鵲謂以陽入陰。所以治虢太子也。仲景曰。陽不足。陰不足。陽結。陰結。陰陽會通。陽去入陰。所以治本陰陽也。若或置陰陽而不論。偶一得功。亦是詭遇已。何足尚也。夫朱丹溪。張介賓之論。所見各偏矣。所以名不正。而言不順也已。</p>
<p>五行之說。已見虞書及洪範。（至）吾黨所以不取也。後人增演其說。以誇窮理。可謂無用之徒也已。</p>
<p>醫書。以五行配五藏。以辨其用與其位。其來也。尚矣。猶周禮官府之六屬。以天地四時配之。五行氣也。故曰行。人亦稟天地之氣以生。故以氣配之。仲景曰。夫天布五行以運萬類。人稟五常以有五藏。五者並行而不相悖者。亦唯醫之教為爾。如周禮食醫。春多酸。夏多苦。秋多辛。冬多咸。調以滑甘。是以五味配之也。又大卜所謂各以其方之色與其體辨之。亦可以徵也。五行出尚書。配當之義見易。高明配天。搏厚配地。此亦可並思也。若夫拘束地上五物。及生克勝復之理者。不足與言治矣。</p>
<p>五運六氣者。無驗於病也。考司天在泉。（至）要是陰陽家之言。奚取疾病醫乎。</p>
<p>運氣司天在泉之說。無益於治療。而有誤乎來學。疾病之嬰人身。豈可推司運而預期哉。況又非內經之原文乎。齊褚彥通。明王安道。繆希雍既辨之。可謂英斷也。然如周禮疾醫。春時有痟首疾。夏時有癢疥疾。秋時有瘧寒疾。冬時有嗽上氣疾。及內經陰陽應象論等說。醫所當知也。</p>
<p>世之好言理者。必物推事窮。至其所不通。鑿以誣。蓋理本非可惡者也。惡其鑿焉耳。（至）蓋事理相依不離者也。故事為而得之。理默而識之。</p>
<p>孟子曰。所惡於智者。為其鑿也。如智者若禹之行水也。則無惡於智矣。禹之行水也。行其所無事也。如智者亦行其所無事。則智亦大矣。醫之為術亦如此也。惟理無形。以順為形。禹之行水。亦唯順是行。今棄理而臨疾。又言不論其所以然者。所謂盲人騎瞎馬。半夜臨深池。籲危焉哉。</p>
<p>醫意之說一出。而世之狡兒。以為口實。（至）豈得不差乎。學者思諸。</p>
<p>夫醫之術也。出於法而入於意。得於手而應於心。故其精微之極。有不可以言者也。苟意之不周。惡能至精微乎。易曰。精義入神。以致用也。利用安身。以崇德也。惟舊典可博涉。機變則不可預論。思之不置。神將通也。居今之世。為古之工唯意與法已。醫而不用意。奚知其可。仲景曰。伏氣之病。以意候之。此於四診之外。更示人以意候之法也。醫意之說。其來也有據矣夫。</p>
<p>世醫以痼疾名持病。而難乎治矣。至如中風嗝噎脹滿痿躄等。難之益甚。方不得法也。（止）此非入門同道。不易論焉。</p>
<p>醫之治痼病也。瞑眩攻擊。或可除之。然猶眎其元氣如何。況其痼之久也。雖良醫不能拔而去之。而彼庸醫者欲必除之。盡力以攻之。病未去而人斃。中風嗝噎脹滿痿躄之病。未入膏肓者。何治而不愈之有。其已入骨髓者。雖盧扁亦不能治焉。其方法與治術。可學而知。可思而得。余亦有病論治驗。見所著醫叢。不贅於茲。</p>
<p>素靈二書。古人以為先秦之偽作。（至）難經傳以為越人書也。而其言理最勝。故害道亦多。考之扁鵲傳。亦唯偽作而已。</p>
<p>內經之為書。不知出於何人之手。亦無古文可以徵焉。祗古人質樸。編述多不書姓字。如尚書。論語。國策等。不命其所編。後來無復識別。內經之書。劉向。程頤。宋濂。以為戰國之文。不過以其地名官稱言之耳。蓋上世作醫藥。以救夭死。其術與法。人以傳人。後恐失其傳。書以傳焉。家異法。人殊書。故漢書有黃帝。白氏。扁鵲。內外經。今之存者。黃帝內經已。其白氏。扁鵲。及外經者。不可見。不亦遺憾乎。而於今可見古義者。獨賴此書之存。雖秦和。越人。倉公。張機。亦無能逾其矩度。學者豈可不思哉。彼既非內經。又言有可法。不免首鼠兩端。八十一難。以扁鵲傳不載之為偽作。何考之疏乎。秦漢以降。天下言脈者。無不皆賴此書。故扁鵲傳曰。至今天下言脈者。由扁鵲也。彼亦兩手診脈。按腹斷病。則居此書之術中。而不自知。可謂徙宅忘妻矣。難經訣診於寸口。候氣於腎間也。其度越前古。獨步後來者。炤炤乎。誰出其範圍乎。而彼言害道且非扁鵲書。夫誣扁鵲惑來學者。莫斯為甚矣。</p>
<p>本草妄說甚多。不足以徵也。（至）後世服食家說。攙入本經。不可不擇焉。諸家本草。博採眾說。旁及道家方士之言。而龐雜無統也。醫當擇之明白的實。不眩邪說。自試有效。瞭然自得。而後用以治疾也。古云。工欲善其事。必先利其器。苟器不利而事善者。未之有也。屑屑神仙延年虛妄之說者。豈可與論醫焉哉。修德氏已辨之。余亦稽古徵今。撰本草筌。欲以告同志。</p>
<p>後世修治之說甚煩。（至）蓋毒即能。能即毒。制以益毒則可。殺毒則不可矣。</p>
<p>仲景之法。有㕮咀者。各別搗者。臼中杵之者。且鉛丹香豉。出於製造。麻沸甘爛。異於煮法。均皆修治也。豈可厭煩乎。雖本草家之法。多難遵用。然砒石制以益毒。膠皮製不減能。況炮炙洗燒。各適其可。則亦似乎未可全擯斥之也。學者思諸。</p>
<p>相畏相反之說。甚無謂也。（至）其它亦可以知已。</p>
<p>古人制方也。妙義精術。試諸千載之下。見奇奏效。應驗合轍。蓋品味和調。則桴鼓影響不啻也。若夫處劑失法。則非徒藥不靈。過端已萌於此。凡物之決然畏滅者。蟹膏消漆。枳椇化酒。羚羊能碎金剛。胡桃亦割鐵錢。豈只是已哉。磁石引鐵。琥珀拾芥。及彩也。染也。飪也。得法而出色。失和則損味。其餘相畏。相反。相宜。不可勝數也。譬如賢佞不相容。寬猛難並行。何曰甚無謂也。</p>
<p>藥者草木偏性者也。偏性之氣皆有毒。以此毒除彼毒耳。（至）煉煆服食。以誤其身者多矣。悲夫。</p>
<p>以毒除毒。猶以兵攻兵耶。然兵有攻有守。或奇或正。及虛及實。避銳氣。擊惰歸。知節勢。審動靜。途有所不由。軍有所不擊。全國為上。破國次之。百戰百勝。非善之善者也。唯醫亦然。虛虛實實。緩急成敗。唯法是依。唯機是察。治法必以除毒一法。非善之善者也。</p>
<p>諸家本草所說。藥能率多謬妄。（至）今舉本草所載。不合仲景者一二。如人參治心下痞硬。而彼以為補氣。石膏已渴。而彼以為解熱。附子逐水氣。而彼以為溫寒。其相齟齬者。大抵為爾。</p>
<p>甚矣哉。吉益子之好奇也。君子一言以為知。一言以為不知。何其言之疏且妄也。仲景未嘗言人參非補。治痞硬。附子非溫。逐水氣。可謂誣也。今舉其一二以證之。傷寒論太陰篇曰。自利不渴者屬太陰。以其藏有寒故也。當溫之。宜服四逆輩。又少陰病。脈沉者。急溫之。宜四逆湯。又發汗病不解。反惡寒者。虛故也。芍藥甘草附子湯主之。又曰。附子溫經。及下利清穀裡寒者。四逆湯主之。如是則附子非溫而何也。其甘草附子湯。桂枝加附子湯。真武湯等方中。有附子而利水氣者。乃溫中運走之餘力耳。非本分之能也。如代赭石湯。瀉心湯之屬。治心下痞硬。亦猶是已。非人參之能。而黃連代赭重墜苦寒之力也。如桂枝人參湯治痞硬。則為表裡不解數下之而裡氣。大虛而設也。痞不待治而治者乃人參補正之餘功已。且通脈四逆湯下云。利止脈不出者加人參一兩。發汗後身疼痛脈沉遲者。人參新如湯主之。霍亂篇曰。惡寒脈微而複利。四逆加人參湯主之。霍亂寒多不用水者。理中湯主之。臍下悸者用人參。長沙氏以人參為補。炤炤乎不傒辯也。石膏治渴。以解熱也。熱之不解。惡能已渴。如厥陰篇云。傷寒脈滑而厥者里有熱也。與白虎湯。三陽合病。自汗出者。白虎湯主之。此條不曰渴也。其它治渴者。有五苓柴胡豬苓承氣等法。豈石膏而已哉。鹵莽滅裂。不顧紕漏。遂爾排擊世醫。建立門戶。自是而非人。如此者。豈能合仲景之規矩耶。可謂扁蝠掛軒。笑人之倒行已。</p>
<p>藥產有某土宜處。某土不宜處。某土之所生。性之所稟。不可不詳也。</p>
<p>橘逾淮為枳。雞舌不產倭華。及韓參之甲天下也。實土宜之異產。地方之界物哉。醫不可不辨識也。彼已言詳其土宜。而舍韓參為非。用倭參為能。前言而後反。嗟蜂也。口甚甘。尾乃毒。學者勿愛其甘而受其螫。</p>
<p>人參有數種。今見清韓賈舶所載來者。皆非古也。（至）今用之。心下痞硬不治。和參能治之。是其由製造。可以知也。</p>
<p>人參之品類雖多而以朝鮮產為上。方今此邦。治化隆盛。四方交易。無物不到焉。往年朝鮮貢人參實。官園種之。於是此邦有韓參實濟民之仁澤也哉。余嘗得其實而種之。花實根形。與本草說相符。取此證彼。則韓舶所載來者。真贗可辨。製造可分。何容賈豎欺乎。蓋人參功力豈徒止治心下痞硬哉。此物大力破堅積。治痞硬。亦唯補正運化之餘力已。不然則漢以降醫方之言。豈無驗而言之乎。彼獨造不經之說於千載之下。譏誣古人。簸弄來學。此坐於不知土宜。與淺人參是也。</p>
<p>方者莫古於仲景。而仲景為傳方之人。非作方之人也。（至）亦唯暗投暝行也已。學者思諸。</p>
<p>仲景之論法設方。明白精正。千載一人。於斯為盛。以至後世肘後。千金。外臺等。傳方之書。所祖述。所取則也。而仲景以前。無方之可見。無論之可證也。故褚澄曰。漢以前。有說無方。漢已後。有方無說。而彼以為傳方之人。非作方之人也。且言雖仲景亦或有不解者。此有何所見。何所徵。而言之邪。肆口之甚。一至於此也。可謂妄矣夫。</p>
<p>世俗所謂名方者。間有奇效。故醫傳之。非醫者亦傳之。（至）宜博求普問。以輔其術矣。</p>
<p>本邦醫俗。傳稱名方者。蓋本邦上世之遺方歟。抑俗間驗而傳之也。未可知焉。間有奇效者。醫當求以輔其術。非無裨補也。宋御局所輯者。亦如是已。彼若知之。則何取方仲景之一書。悉舍後世方而不取。反俗方是問之為哉。可謂貂不足狗尾續已。</p>
<p>仲景書。有傷寒雜病論。金匱要略。玉函經。共論傷寒及雜病甚詳悉焉。然要略。玉函。偽撰已。（至）其理鑿者。其說迂者。一切不取之。所以求其本色也。</p>
<p>傷寒雜病論。仲景手錄。書已亡矣。今之存者晉王叔和所詮次。非復長沙之舊也。稱金匱玉函者。按文獻通考。至於宋王洙得於蠹簡中。蓋蠹余書。豈莫錯簡闕誤。然微言方略。多存於其書。則可不徵諸。江南諸師。秘仲景要方者。見千金。夫曰玉函。曰金匱。皆後世美稱已。非舊名也。故仲景自序曰。作作寒雜病論十六卷。未嘗曰作玉函金匱。千全亦稱要方。都是一書。宋時始分為二書。去玉函二字。單名金匱要略。蓋其雜病論也。今坊間所刻。玉函經。清陳世杰偽撰。以欺夫小子亡識人已。彼言理鑿者。說迂者。一切不取之。何不別著一書而論之。而作此兩端之說。以惑來學哉。</p>
<p>傷寒論六經。非病在六經也。假以為紀也已。及其施治也。皆從證而不拘焉。（至）皆非矣。不可從也。</p>
<p>扁鵲曰。疾之居腠理也。湯熨之所及也。在血脈。針石之所及也。其在腸胃。酒醪之所及也。在骨髓。雖司命無奈之何。仲景論傷寒亦猶是已。其序六經之病則。不可易也。趙繼宗作邪說。戴思恭有異論。而後及本邦後藤氏。大造畔正之說。設淺深閉脫。以變亂之。然其說至合病並病而窮矣。趙嗣真曰。仲景之書。一字不同。則治法霄壤。讀者其可不於片言隻字。以求其意歟。不達其意者。悖師而惑於所見也已。彼書所論。大氐不出於後藤氏之糟粕。實慕商鞅變法。襲李斯故智哉。</p>
<p>後世以病因為治本也。曰不知之焉得治。予嘗學其道。恍惚不可分。雖聖人難知之已。（至）雖曰無因亦可。是以吾黨不言因。恐眩因失治矣。後世論因多端。徒以惑人。不可從焉。</p>
<p>醫病求因。治術要領。古之法也。素問曰。治之極於一。一者因得之。又曰。治病必求其本。今以傷寒之一事證之。仲景曰。本太陽病。醫反下之。因而腹滿時痛者。屬太陰也。桂枝加芍藥湯主之。此太陰之見症。而用太陽本病藥。非治因而何也。其它病發於陽而反下之。熱入。因作結胸。本是霍亂。今是傷寒。本虛。本不虛。是本病。及某經傷風某經傷寒等語。無往而非求因也。彼今舉桂枝湯。柴胡湯。白虎湯。通治之例。而言無求因。何術之粗邪。此所謂醫不執方。合宜而用者。如珠走槃。如槃走珠。無不可者也。在金匱曰。短氣有微飲者。當從小便去之。桂苓朮甘湯主之。腎氣丸亦主之。病溢飲者當發其汗。大青龍湯主之。小青龍湯亦主之。此所謂貴活法也。不言因者。傷寒論中。雖一二有之。亦精求其意。則不可謂無因也。若夫不求因而治病。必敗之道也。豈可僥倖十一於千萬。以取必敗之禍哉。傳云。皮之不存。毛將安附焉。籲危矣哉。</p>
<p>治有四。汗吐下和是也。其為法也。隨毒所在。各異處方。用之瞑眩。其毒從去。是仲景之為也。（至）甚矣哉。其惑之也。</p>
<p>治法以汗吐下和為限者。張戴人之糟粕。而後藤氏之唾餘已。仲景之設法也。豈徒四而已哉。有溫經者。有溫里者。或利小便。或救里。治中州則曰建。曰理。治厥則為四逆。為通脈。攻心胸。有陷胸瀉心之分。或止利。去黃刺者。灸者。與水者。不與者。及內藥於鼻中者。諸禁汗吐下者。觸類而長之。則何所不有之有乎。其它後世治術。可取法者猶多焉。以四者限之。術亦拙哉。</p>
<p>人性之所好惡不同。稱口腹者為宜。不稱者為不宜。古者養精以穀肉果菜。未嘗言禁宜也。（至）不亦左乎。</p>
<p>古人設禁忌甚嚴矣。傷寒論桂枝湯方後云。禁生冷黏滑肉面五辛酒酪臭惡等物。又烏梅丸下云。禁生冷滑物臭食等。其餘各方下云。將息及禁忌。內經所論。千全外臺所序。慎房室。戒口腹。且聖人鄉黨之教。何言古者未嘗言禁宜也。作此諛言。取容於世。可謂陋矣。</p>
<p>銖兩升斗。古昔所用甚密矣。雖然年世悠久。不可得而悉也。（及）夫以殺性之藥。作如此小劑。（至）故不為也。</p>
<p>度量衡三者。聖人所制。經濟所先。古今沿革。史書可以徵也。豈為不審耶。此書舉二而失一。亡乃不可歟。醫若不詳之。則今古方藥分數。何由准之。夫度量衡之原。以秬黍起數。見漢書。本邦之制。大抵從唐朝制。據杜氏通典。度量衡三倍於漢。以本邦今通行者考之。大抵衡三倍於漢。量十倍於漢。度以貨泉大為一寸。醫當由此准之。出入和劑。以彼准此。依物作證。何不詳之有。李時珍曰。今古異制。古之一兩。今用一錢可也。古之一升。即今二合半也。此亦以明秤量准漢制者歟。凡古之方藥。劑大而服小。以傷寒。外臺。千金等。疾差停後服。不必盡劑。或服不盡劑。服一劑盡。病證猶在者。更作服等語而可知也。故內經曰。能毒者。以厚藥。不能毒者。以薄藥。此劑之輕重。因病為之也。余有考證。附醫叢中。彼曰殺性之藥作如此小劑。不經殊甚。不勝捧腹。</p>
<p>產蓐之法。方土所習各殊。（至）若血暈欲以參耆之劑防之妄矣。宜審證治也。又妊娠腹帶之法。中華古無之。（云云）非常法也。</p>
<p>臨蓐之法。醫所當審密看察也。豈可必效習谷乎。產後血暈。必要參蓍。庸醫所為。守株刻舟之屬已。產帶之法。雖華人有之。為初胎設。不聞如此邦產帶習為常而其法亦差異。奚囊便方曰。初胎四五個月前後。用軟絹或帛闊七八寸。自背纏至腹。以針線縫住。如兜肚樣。晝夜不解。倘胎長大覺胸中有氣急狀。方可線三分或五分。不可滿寸。漸以調之。則肌肉有所束縛。不使胎長極。大便於產也。此方不特宜於初胎者。雖慣胎亦可。知非通行者也。吾門亦有產帶法。產後枕法。不贅於此。</p>
<p>初誕之法。務去胎毒為主。如朱蜜茯苓五香等。何毒之遂。不用而可。（至）夫人者與天地參焉。天不裂。地不壞。何唯人之異哉。雖草木亦然。以今之藥。攻今之病。何畏怖之有。</p>
<p>初生醫法。千金方有拭法。以拭取舌上惡血。甘草湯。吐去心胸中惡汁。朱蜜法。定神止驚。其它準繩有黃連湯。活幼方有黃連甘草拭法。直指方茯苓丸。以枳殼黃連治氣短腹滿。非茯苓為下胎毒也。豈待辨之。千金朱蜜法。彼謂為逐毒。非也。五香湯。出千金。聖濟總錄。御局等癰疽諸瘡之方也。本邦醫俗。以為胎毒之藥。滷妄之甚。當辯正而禁之。夫人者與天地參。確乎聖人之言也哉。而彼已以陰陽五行為外物。此何其言之大相逕庭哉。天地之氣有盛衰。草木有苗而不秀。人生亦有稟賦強弱。是乃所以與天地參耳。彼已作天不裂地不壞之言。不論嬰兒強弱。一切攻擊。又何畏怖之有。豈是仁人之用心哉。</p>
<p>痘疹之證。古籍不概見。東漢初始有之。（至）始與癰瘍無異矣。治法亦以除毒排膿為主。如補瀉二法。則不知者之所立耳。蓋見毒酷而死者也。未見毒盡而斃者也。其斃者。是酷毒壅塞之所致也。</p>
<p>痘疹治法。大要與癰疽無異者。薛立齋之言也。又曰。宜辨表裡虛實寒熱。蓋表虛而用發表之劑輕。則斑爛重則不能起發而死。裡實而用托裡之劑。輕則患痘毒。重則喘息腹脹而死。裡虛而用疏導之劑。輕則難以貫膿結痂。重則不能結靨落靨而死。治法豈可不慎哉。若果除毒一法。為能治痘。治亦易易哉。可謂古今小方脈。牛刀割雞。長殳刈薺。豈其然也哉。況起發。灌膿。結痂。三者皆賴脾胃榮養。何可妄投克伐之除毒。以招夭柱乎。夫痘疹為嬰孩保生第一關隘也。術豈可若斯粗哉。魏桂岩。順逆險三法。及錢仲陽。陳文中之論。雖各有得失。亦後昆所取則。其它博問審尋。不可敢恣。是古者醫學之所以分科習業。貴乎精專也。</p>
<p>醫之於術也。攻而已。無有補矣。藥者一乎攻焉者也。攻擊疾病已。（至）元氣果可補。則人焉死。妄誕特甚矣。</p>
<p>語曰。一言而可以興邦有諸。一言而喪邦有諸。孔子曰。言不可以若是其幾也。彼吉子者。欲以攻之一言。盡醫之術。妄亦甚矣。夫事物之理。勢二。曰利。曰害。而利或生害。害亦生利。凡人身所患。唯邪盛正虛耳。攻之去邪。將大利於人身者也。然圖之不審。害旋隨之。惟攻可攻於可攻之時則利。攻不可攻於不可攻之時則害。用舍有宜。張弛異勢。而彼不辨虛盛曰。攻而已。籲玉石俱焚。良奸同陷。此存亡之樞機。不可不察也。故善醫者。先料內以攻外。不逐末以損本。然後安平可保。大邪可除。今不辨虛盛。惟一於攻。攻罷即敗。不保其勝。恐非疾醫之良算也。如能知邪正利害之際。可攻而攻之。可撫而撫之。庶幾不誤乎興喪安危之數矣。</p>
<p>夫正權衡而後輕重可較也。審平常而後虛實可論也。（至）又如調氣虛腎虛脾胃虛之類。亦率准之。皆不因疾命名。愆之所創焉。</p>
<p>以尩羸言虛實者。猶以皮相分賢愚。凡庸之見已。今以羸弱立虛實論。設羸弱實以證虛實。醫主天稟謂之虛。彼主失常謂之實。不知指物。不能正名。皆非也。又欲實其說。而引內經邪之所湊其氣必虛。若內經言其氣必實。則可也。欲證實而反引虛。實不知而諤然。醫不知而默然。彼亦不知而妄言。豈可不笑哉。以氣虛。腎虛。脾胃虛。為愆之所創焉。以余觀之。猶作環舞者。宮室皆轉。瞰迴流者。頭目自拖。非宮室之幻惑也。人自惑之。非迴流之改變。而人自變之。彼以攻一言。斷醫之道。主見證而希速效。終乃畔理傷道。猶硜硜然欲果於行。危矣哉。聖人言曰。無欲速。無見小利。欲速則不達。見小利則大事不成。信也哉此言。學者可不慎焉矣夫。</p>

<h2>題斥醫斷後</h2>
<p>近世香川子。首倡儒中之醫。傲然曰。自我作古。則廢古來醫說。以解其拘攣。排擊世醫。以破其盲瞶也。直截痛快。莫甚於此云。世醫小有才之輩。遽喜其新奇。妄謂千古不傳之秘者。殊不知議論之激。矯而過正。好奇之甚。稍涉偏僻。其究弗使庸醫恣而自用其意。妄而輕試其毒者幾希。嗟呼流弊之至。賊夫人之子者。不亦悲哉。頃吉益氏門人鶴生作醫斷。則全然香子之說。剿以為己有。稍換其字。或微變其意。左支右吾。敷衍成篇。其他一二異見。飾以師說。而務立其門戶。以稱卓然自信者。亦唯殺機之存心。不覺口自出。乃至曰死生者醫之所不與而極也。其少恩而慘礉。雖香子之勇哉。殆足以寒其膽者也。則儒中之醫。於是乎終臻其極矣。此雖其人奇癖乃爾。細究其病根。則香子之藥無乃瞑眩乎。不則長沙之靈為之祟者非耶。何其慘毒。嗚呼儒中之醫而有斯弊。不亦怪乎。吉子之才而墜其唾餘。何其不悟。而況鶴氏之子。白麵醫生。學而未試。其藥不售。終日兀坐。與書為仇。剿襲剽竊。弄筆遣悶。亦其中不能自信。特大言欺人耳。此輩鹵莽。何足論哉。予嘗作斯論。以評一子者久之。雖然。辨之不得已。掎齕逼人。頗闕遜讓之義云。則未嘗舉而語之人也。吾友新甫子好學之醫也。其術大行於世。而行余之文。亦不堪技癢。著書以見示。則斥醫斷也。力排吉子。攻擊之殷。不遺餘力。因又命予跋。以請掎角之援云。不亦甚哉。順也怯懦。豈奮於掎角者乎。無已則曩者之論歟。雖一矢加遺哉。強弩之末。何援之有。新甫子則扼腕曰。吾子偏師攻香子。吾全軍擊吉子乎。掎角之勢莫熾於此云爾。則亦何其狂。且近於戲謔也。不覺相視大笑。尚且左手捧腹。右手揮毫。因書之卷末。亦豈跋云乎哉。聊與新甫子相戲而已。籲甚矣吾黨之狂也。赧顏投筆而走云。</p>
<p><u>寶曆壬午春三月</u>　平安醫士法眼武川幸順撰</p>
