<header data-type="book">
<h1>重訂靈蘭要覽</h1>
</header>

<h1>原序</h1>
<p>醫自軒岐重民生，諄諄問答，通天地之化，洞陰陽之理，比之典謨，更為窮頤，其慎重若此。故明於此道者，自周歷漢、晉、唐、宋、金、元，著述可法者不過數十家，亦各有所長，此道之難又若此。然稟上資不得原委師承，終亦鹵莽，昔扁鵲得禁方於長桑，太倉授診奇於陽慶，葛洪承秘術於鄭隱，思邈得仙法於龍宮，元素之夢授李明之正傳，朱丹溪之埽門於羅太無，王光庵之啟鑰於戴元禮，故吳中醫派，得其正脈。宇泰先生飛聲翰苑，博綜經史，少好方書，自《素》、《難》、《金匱》、《甲乙》諸經，下逮諸子，莫不精探淵奧。其自敘云：余發始燥，慕范文正公存心濟物，立志甚切。攜李孝廉謙所先生與先生同年惟契，謙所先生蜃川簡肅公仲子，英華偉量，敦好奇書。得先生醫論，欲廣濟宇內，不秘帳中。每命諸英輩刊布未遑。宇泰先生嘗云：吳中自王光庵得元禮之秘，再傳啟東諸賢，醫道大振。又云：《丹溪纂要》諸書，非丹溪手筆，謬於選擇，爰命高生訪求朱氏原本重訂，斫輪遊刃，莫不臻妙。此書若江海之波瀾，山嶽之嶺峰，舟楫之帆檣，壁壘之標幟。其為證治諸書之選錄，安可忽諸。又覽先生髮熱論云：《靈》、《素》、《甲乙》諸書，發熱針法大妙，世醫罕知所取。其五臟補瀉之經絡，用藥可代。余欲一一立方，但恐印定後人眼目，則知先生圓神，又出竿頭矣。</p>
<p><u>攜李殷仲春頓首序</u></p>

<h1>卷上</h1>

<h2>中風</h2>
<p>《素問·風論》黃帝問曰：風之傷人也，或為寒熱，或為熱中，或為寒中，或為癘風，或為偏枯，（滑云：枯當作風。）或（當作均）。為風也。其病各異，其名不同。或內至五臟六腑，不知其解，願聞其說。岐伯曰：風氣藏於皮膚之間，內不得通，外不得泄。風者善行而數變，腠理開則灑然寒，閉則熱而悶，其寒也，則衰食飲。其熱也，則消肌肉。故使人怢而不能食，名曰寒熱。（怢音突，忽忘也。又音退。慄，寒戰也。）風氣與陽明入胃，循脈而上至目內眥。其人肥則風氣不得外泄，則為熱中。而目黃人瘦則外泄而寒，則為寒中，而泣出。風氣與太陽俱入行諸脈俞，散於分肉之間，與衛氣相干，其道不利，故使肉膹䐜（音忿真。）而有瘍。衛氣有所凝而不行，故其肉即不仁也。癘者有（疑當作因）。榮氣熱胕，（腐同）。其氣不清，故使鼻柱壞而色敗，皮膚瘍潰，風寒客於脈而不去，名曰癘風。（滑云：此當在上收假癘者上）。或曰名寒熱。（五字疑衍。）以春甲乙傷於風者為肝風，以夏丙丁傷於風者為心風，以季夏戊己傷於風者為脾風，以秋庚辛中於邪者為肺風，以冬壬癸中於邪者為腎風。風中五臟六腑之俞，亦為臟腑之風，各入其門戶所中，則為偏風。風氣循風府而上，則為腦風。風入系頭，則為目風眼寒。飲酒中風，則為漏風。入房汗出中風，（書云：中右為真氣已絕，較中左更深，余嘗治右偏類中數人，皆用養血祛風，佐以化痰利濕而愈。已於《治驗錄》詳言之，參觀即知。）則為內風。新沐中風，則為首風。久風入中，則腸風飧泄。外在腠理，則為泄風。故風者，百病之長也。至其變化，乃為他病也。無常方，然致有（當作皆）風氣也。帝曰：五臟風之形狀不同者何?願聞其診，及其病態。岐伯曰：肺風之狀，多汗惡風，色皏然白，時咳短氣，書晝日則瘥，暮則甚。診在眉上，其色白。（仲景云：肺中風者，口燥而唾，身暈而重，冒而腫脹。）心風之狀，多汗惡風，焦絕善怒哧，赤色，病甚則言不可快。診在口，其色赤。（仲景云：心中風者，翕翕發熱，不能起，心中飢，食則嘔。）肝風之狀，多汗惡風，善悲，色微蒼，嗌乾善怒，憎女子。診在目下，其色青。（仲景云：肝中風者，頭目瞤，反脅痛，常嘔，令人嗜甘。）脾風之狀，多汗惡風，身體怠惰，四肢不欲動，色薄微黃，不嗜食。論在鼻上，其色黃。（仲景云：脾中風者，翕翕發熱，形如醉人，肢中煩重，目皮瞤瞤而短氣。）腎風之狀，多汗惡風，面龐然浮腫，脊痛不能正立，其色炱，隱曲不利，診在肌上，其色黑。（《奇病論》云：有龐然如水狀，切其脈大緊，身無痛處，形不瘦，不能食，食少。名為何病?岐伯對曰：病生在腎，名為腎風。不能食，善驚而心氣痿者死。）胃風之狀，頸多汗惡風，飲食不下。膈塞不通，腹善滿，失衣則䐜脹，食寒則泄。論形瘦而腹大。首風之狀，頭面多汗，惡風。當先風一日，則病甚頭痛，不可以出內，至風日則痛少愈。漏風之狀，或多汗，常不可單衣，食則汗出，甚則身汗，喘息惡風，衣常濡，口乾善渴，不能勞事。泄風之狀多汗，汗出泄衣上，口中乾，上漬其風，不能勞事，身體盡痛則寒。</p>
<p>中風最宜辨閉脫二症，閉症宜開，脫症宜固，惟當辨其脈虛大以為別。至於閉症氣塞，亦有六脈俱絕者，不得以其無脈而誤認為脫症也。</p>
<p>中風將發預防之方</p>
<p>黃耆（蜜炙，五錢）　防風（一錢五分）　人參（一錢五分）　橘紅（一錢）　歸身（酒洗，二錢五分）　木通（二錢五分）　山梔（一錢）　甘草（五分）　紅花（三分）。</p>
<p>脾胃虛弱，語言無力，再加人參三錢，乾山藥一錢五分，薏仁二錢，白朮一錢。內熱加山梔至二錢，仍多啖雪梨妙。渴加麥冬二錢五分，五味子五分。眩暈加明天麻一錢。痰多而暈，更加旋覆花五分；腳膝麻痹無力，加杜仲薑汁炒去絲，牛膝，酒浸，石斛，酒浸，各一錢五分。夜臥不安，或多驚恐，心神不寧，加炒酸棗仁，茯神各一錢五分。上用水二鍾，煎至一鍾，入竹瀝一杯，梨汁一匙，溫服無時。</p>
<p>方書每以六經形證為定法，用小續命湯加減。豈不知《內經》云：風為百病之長，善行而數變，必審十二經見證，庶無實實虛虛之誚矣。</p>
<p>中風將發之前，未有不內熱者。熱極生風，能令母實，故先輩謂以火為本，以風為標，治法先以降心火為主，心火既降，肝木自平矣。此實則泄其子之法也。若作風治而以辛熱之藥疏之者，固貽害不小，而調氣一法，亦百無一驗，明者更精思之。</p>
<p>《太平廣記》載：唐·梁新見一朝士診之曰：風疾已深，請速歸去。其朝士復見鄜州馬醫趙鄂，乃復診之，言疾危與梁說同矣。曰：只有一法，請官人試吃消梨，不限多少，咀齕不及，絞汁而飲。到家旬日，惟吃消梨首爽矣。此亦降火除熱之驗也。《本草》云：有士人病危，諸治不應，遂就診楊吉老。令服雪梨擔余而瘳，與此朝士相彷彿。</p>
<p>卒中之初，有決不可吐者，有決不可進辛劑，即薑湯亦禁用者，不可不知。</p>
<p>今人治五臟氣絕，口開手撒，眼合遺尿，鼻聲如鼾，昔人所不治者，以大劑參、耆濃湯灌之，多有得生者。可見世無不可醫之證，而昔人徒認此證為有餘，不知其不足，見投之以順氣疏風之藥，往往長逝。（順氣疏風而妄損元真，豈可不明辨以悟人哉。）遂目為氣絕不治之候也。則其他之為虛症，而為醫所誤，或幸而獲痊，或不幸而斃者，可勝計哉。</p>
<p>每見時師初用八味順氣散，多不得效。（八味順氣散為治痰多實證之方，涉虛者是抱薪救火。今人不辨虛實，以為治風主劑，則遺誤非淺，今特正之。）已而用二陳，四物，加膽星、天麻之類，自謂穩當之極，可以久而奏功，而亦竟無一效，何也?蓋妄以南星、半夏為化痰之藥，當歸、川芎為生血之劑，而泥於成方，變通無法故也。正不知通血脈，助真元，非大劑人參不可，而有痰者，惟宜竹瀝，少加薑汁佐之。不宜輕用燥劑。至於歸、地甘黏，能滯脾氣，使脾精不運，何以能愈癱緩。豈若人參出陽入陰，少則留而多則宜無所不達哉?其能通血脈，雖明載《本草》，人誰信之。</p>
<p>里中一老醫，右手足廢，不起於床者二年矣。人傳其不起，過數月，遇諸途。訊之，曰：吾之病幾危矣，始服順氣行痰之藥，了地無應驗。薄暮神志輒昏，度不可支，令家人煎進十全大補湯，即覺清明。遂日服之，浹數月，能扶策而起，無何，又能拾策而步矣。經云：邪之所湊，其氣必虛。吾治其虛，不理其邪，而邪自去，吾所以獲全也。余曰：有是哉，使進順氣疏風之藥不輟者，墓木拱矣。然此猶拘於成方，不能因病而變通，隨時而消息，故奏功稍遲。吾早為之，當不止是也。姑書之以俟明者採焉。</p>
<p>此老始亦服順氣疏風，病延載余，繼因病久年老氣虛，試服補劑而有效。遂日進一帖，沉疴若失，遂保其身。然亦不幸之幸，執方治病，病必殆是也。</p>

<h2>卒中</h2>
<p>凡卒中之時，不可驚惶搬攪，只掐其人中，徐徐以藥灌之。</p>
<p>《儒門事親》記一老人患頭痛吐下，灸火後出門，見日而僕，家人慾揉撲之。戴人立止曰：大不可攪。蓋病人衰老湧泄，血脈易亂，身體內有灸火，外有太陽，是以跌僕。若又攪之，便不救矣。惟安神思待之以靜，靜便屬水，自然無事。古人治病，先審其用，次辨體質強弱，然後治之，如射之的。而市井傭工，何能夢見。</p>
<p>按：卒中，大症也。聊聊數語，毋乃太簡乎?世稱卒中者，初中風時，如口眼喎斜，半身不遂者，《內經》為偏枯。其左癱右瘓，及畏腿風，皆卒倒後邪淺之見證。其舌強不言，唇吻不收，經稱為痱病，即《千金》風懿之候，乃卒倒後邪深之見證。而東垣以中腑邪淺易治，中臟邪深難治。今考樓英、孫一奎二家立法，分晰最善，乃明乎冒、傷、中三者，權輕重而用藥，其重者，即太陽病、頭項痛、腰脊強，治以桂枝湯。謂之傷風。其輕者，四時皆有，為感冒，即冒風也，治以九味羌活湯加柴胡，為各經活套法也。其極重者，即三陰中寒症，及六經卒中症，治以辛熱溫中法也。</p>

<h2>瘧</h2>
<p>凡病多能為寒熱，但發作有期者，瘧也。無定期者，諸病也。瘧之為病，若邪淺則一日一發，邪深則間一日或二三日而一發，邪在陰陽之分，則日與夜各發，邪在陽分上半日發，邪在陰分則下半日發。有先寒後熱者，先傷寒後傷風，名曰寒瘧。有先熱後寒者，先傷風而後傷寒，名曰溫瘧。有但熱不寒者，陰虛不能制陽，而陽氣獨發，名曰癉瘧。有但寒不熱者，陽虛不能制陰，而陰氣獨勝，名曰牝瘧。至瘧脈自弦，弦數者多熱，弦遲者多寒，弦小緊者下之，弦遲者溫之，弦緊數清之，浮大吐之，浮弦數者風發也，以飲食消息止之。虛微無力為久病，洪數無力與微皆虛也。（脈無力虛微，重按幾無，皆正虛邪盛之候。）暑但熱不寒，或熱多寒少，面垢口渴，雖熱退後而身常有汗，心熱而煩，脈洪而虛。風則惡寒自汗，煩躁頭疼，轉而為瘧。風，陽氣也，故先熱而後寒。寒則惡寒而無汗，攣痛面慘，轉而為瘧。寒，陰氣也，故先寒而後熱。二症初發之際，風寒在表，雖寒熱過後，而身體常自疼痛，常自畏風，宜以發散為主。濕則身體重，骨節痛，嘔逆脹滿，因冒襲雨濕，汗出澡浴得之。食則若飢而不能食，食則中滿，嘔逆腹痛，因飲食無節，飢飽有傷得之。痰則發時痰涎上壅，兀兀欲吐，或時眩暈，兼平時有痰之人，一得瘧即當以豁痰為主。古人云：無痰不成瘧故也。虛則久瘧之後，表裡俱虛，真元未復，瘧雖暫止，小勞復來，名曰勞瘧。大抵間作者多，日作者少。積則久瘧不止，邪氣伏藏脅間，結為症癖，謂之瘧母。大抵感暑邪為多，衛氣與邪相併則病作，與邪相離則病休。並於陰則寒已，離於陽則熱止，至次日又集而併合，則復病也。其間日者，由邪氣內薄五臟，連募原，其道遠，其氣深，其行遲，不能與衛氣俱行，不得皆出，故間日乃作也。寒多者，宜升其陽，使不並於陰，則寒自已。熱者多，宜降其陰，使不並於陽，則熱自已。寒熱交作者，一升一降，而以滲利之藥從中分之，使不交併，此秘訣也。暑熱則清之，風寒則散之，濕則燥之，有食消食，有痰行痰，虛者補之，有症癖者，以緩消之。不可急攻也。</p>
<p>辨症精詳，分六氣感傷而加減，啟迪後進非淺。師其法者細心研究，則致病之源亦獲矣。</p>
<p>主方</p>
<p>柴胡一錢五分，升麻、葛根、羌活、防風各五分，</p>
<p>以上五味，俱甘辛氣清，能升陽氣使離於陰，而寒自已。知母一錢，石膏三錢，黃芩枯飄者五分，以上三味，母、芩味苦，石膏體重，俱性寒而下行，故能引陰氣下降，使離於陽而熱自已。豬苓一錢五分　分利陰陽，令不交併。穿山甲一錢，（此物能水能陸，故借其氣引諸藥出陰入陽，穿走經絡，無不利道。）甘草五分。（調和諸藥。嘗聞一方士言，瘧忌甘草，能助脾經濕熱耳。）此餘五六年前自制方也。尋常治人，只一服便止不復發，蓋表裡驅逐其邪，令無停留之處，故寒熱立已，而他人得此方者，尚為方所泥，不能盡操縱變通之妙，時或不效。緣伏暑鬱蒸，滯而為氣，鬱而為痰，皆為寒熱之根，而此無利氣行痰之藥故也。今議加薑製厚朴一錢以利氣，三和曲一錢五分以行痰，更立加減法於後，治瘧之法，盡於此矣。暑瘧熱多寒少者，減柴胡以下五味三分之二，母、芩、石膏倍原數用之。但熱不寒者，去柴胡以下五味及山甲、豬苓，（即非寒熱交併，只宜退熱為主，故去此七味。）仍加粳米一勺，人參一錢五分。（石膏善瀉胃氣，故用粳米佐之，使胃氣不受傷，人參亦此意。且熱傷氣，故用補氣之藥為主。）此即白虎湯加人參也。煎藥外仍宜進消暑丹一二百粒。以疏伏暑而行積痰。（見傷暑門。）暑病必自汗，其無汗者，乃當風取涼，閉汗不泄而致，宜芎蘇散發之。（見傷寒門。）不可與白虎湯。風瘧宜芎蘇散，不必覆蓋衣服，待其自然微微汗出，卻以本方視寒熱多少，發作早晏，消息與之。蓋為已自汗，不可更大發汗，故但微微取汗，去其寒邪而已。寒瘧宜芎蘇散取汗，汗不出加麻黃一二錢以發之，發後不除，以本方消息與之。濕瘧用除濕湯一劑服，（見傷濕門。）卻以本方消息與之。食瘧宜於傷食門中消導之法，兼陳平飲、局方雙飲子、清脾飲，俱可服。陳平飲乃二陳湯合平胃散也。凡虛人久瘧脈弱，不能食者，慎勿用瘧藥，每發五更以人參一兩，生薑（一兩），同煎連進二服，立止。</p>
<p>治瘧之法，詳於《內經》。今但言夏秋病瘧，而不詳明脈症，僅取升散之藥五種，苦寒之藥三種，雖王金壇得意之作，竊有異議，誠恐後進誤會，不審病原，輒用其方，未必盡效。蓋病有萬變，未可執一也。諺云：執方治病，病必殆是也。假如正氣不能勝邪，若再升散殆矣。此方用在初期，固能逐邪外出，有升降陰陽之妙。若正虛久瘧，用必增劇。余每用白蔻仁一錢易穿山甲，取其辛香，宣逐膈膜之壅蔽，流行榮衛，較原方尤效。用古方妙在化裁，未可拘執，則敏捷矣。余治久瘧，審其所因，每以六八味加減，何人休瘧為佐，詳治驗中。但師其法，不泥其方。</p>

<h2>痰</h2>
<p>人身無痰，痰者津液所聚也。五穀入於胃，共糟粕、津液、宗氣分為三隧。故宗氣集於胸中，出於喉嚨，以貫心肺，而行呼吸焉。榮氣者，泌其津液，注之於脈，化以為血，以榮四末，內注五臟六腑，以應刻數焉。衛氣者，出其悍氣之慓疾，而先行於四末分肉皮膚之間，而不休者也，書行於陽，夜行於陰，常從足少陰之分，間行於五臟六腑，實則行，虛則聚，聚則為痰，散則還為津液氣血。初非經絡臟腑之中，別有邪氣穢物，號稱曰痰。（蓋論痰者，當詳痰之原。痰即水也，水即氣之所化，故無病不關於氣，無病而不有痰。痰之清者又為飲，乃火不化水者也。）以為身害。必先去之而後已者也。余幼喜唾痰，俞唾愈多，已而戒之。每喉間梗梗不可耐，輒呷白湯數口，咯出口中，用舌攪研令碎，因而咽之百餘。津液滿口，即隨鼻中吸氣嚥下，以意送至丹田，默存少頃，咽間清泰矣。如未清，即再漱再咽，以化盡為度。方咯出時，其味甚咸，漱久則甘，世人乃謂瘀濁之物，無澄而復清之理，何其謬哉。吾嘗渡河矣，見舟人掬濁流而入之甕，摻入礬末數分，即時澄清，此可以悟治痰之法也。故上焦宗氣不足，則痰聚胸膈，喉間梗梗，鼻息喘短；中焦榮氣不足，則血液為痰，或壅脈道，變幻不常。下焦衛氣不足，則勢不悍疾，液隨而滯四末分肉之間，麻木壅腫。治其本則補之宜先，治其標則化之有法。略露端倪，以須穎者之自悟云。</p>
<p>痰由津液所凝，聚上中下三焦，榮氣不足，壅塞脈道，變幻不測。王隱君有曰：怪症奇病，皆屬於痰。善治者，調其榮衛，諸恙自瘳矣。</p>
<p>如稠而不清，宜用澄之之法。散而不收，宜用攝之之法。下虛上溢，宜用復之之法。上壅下塞，宜用墜之之法。何謂澄之之法?如白礬有卻水之性，既能澄濁流，豈不足以清痰乎，然猶不可多用；至於杏仁亦能澄清，而濟水之性清勁，能穴地伏流，煮而為膠，濟水雖清勁，惟近世之阿膠偽者日多，奈何?最能引痰下膈。體此用之。所謂澄之之法也。何謂攝之之法?如大腸暴泄脫氣，及小便頻數者，益智仁一味，（益智仁善調氣攝涎，又能固脫，功效至捷。最能收功。蓋有安三焦，調諸氣，攝涎唾，而固脫滑之妙。故醫方每以治多唾者，專取其辛而能攝，非但溫胃寒而已。此所謂攝之之法也。何謂復之之法?腎間真氣不能上升，則水火不交，水火不交，則氣不通，而津液不注於腎，敗濁而為痰。宜用八味丸，地黃、山藥、山茱萸以補腎精，茯苓、澤瀉以利水道，肉桂、附子以潤腎燥。肉桂、附子熱燥之藥，何以能潤?曰：經不云乎，腎惡燥，急食辛以潤之，開腠理，致津液通氣也。所謂復之之法也。此治腎虛寒痰之良法。何謂墜之之法?如痰液聚於咽膈之間，為嗽為喘、為膈為噎、為眩為暈，大便或時閉而不通，宜用養正丹、靈砂丹，重劑以引之使不並，所謂墜之之法也。至於寒者熱之，熱者寒之，微者逆之，甚者從之，堅者削之，客者除之，勞者溫之，結者散之，留者攻之，濕者燥之，燥者濡之，急者緩之，損者溫之，逸者行之，驚者平之，薄者劫之，開之發之，見於《素問·至真》，應變不窮，尤為治痰之要法。在圓機之士，熟察而妙用之，不可一途而取也。若乃虛症有痰，勿理其痰，但治其虛，虛者既復，則氣血健暢，津液流通，何痰之有。今人乃謂補藥能滯氣而生痰，此聾聵之言，流害無窮矣。</p>
<p>痰乃津液所結，固未可盡化，但使津液流通，何痰之有。惟在調血和氣之要。丹陽賀魯庵，年七十餘，膈間有痰不快，飲食少思，初無大害，就醫京口，投以越鞠丸、清氣化痰丸，胸次稍寬。日日吞之，遂不輟口。年餘，困頓不堪，僦舟來訪，問脈於余。則大肉已脫，兩手脈如遊絲，太谿絕不至矣。見余有難色，因曰：吾亦自分必死，但膈間脹滿太甚，大便秘結不通，殊以為苦，但得稍寬，即瞑目無憾也。固強余疏方，以至親難辭，教用人參、白朮之類，大劑進之，少頃如廁，下積痰升許，胸膈寬舒，更數日而歿。夫二丸乃時師常用之藥，本欲舒郁，適增其痞，本欲清痰，反速其斃，豈不悖哉。明效若是，而病家乃無悔悟懲創之心，豈宿業已深，大命垂絕，故天塞其衷，而使之決不可返耶。不然，何不論於理，而甘就屠戮者之眾也。</p>
<p>過服辛散，正氣暗受其戕。久則涸津液之源，氣道塞其輸機，遂致痰結日盛，胸腹愈脹，大便久秘，遂至大命垂絕。嗚呼!身無大病而喜服藥者之殷鑑歟?</p>

<h2>喘</h2>
<p>經云：秋脈者，肺也。秋脈不及則喘，呼吸少氣而咳，上氣見血，下聞病音，其治法則生脈散之類是也。李明之云：腹脹彭彭而喘，胸膈滿，壅盛而上奔者，於症用藥方中多加五味子，人參次之，麥門冬又次之，黃連少許。如甚則交兩手而瞀，其真氣太虛也。若氣短加黃耆、五味子、人參。氣甚去五味子、人參，加黃芩、荊芥穗。冬月去荊芥穗，加草豆蔻仁。仲景治火逆上氣，咽喉不利，止逆下氣，以麥門冬湯主之。用麥門冬七升，半夏一升，人參四兩，甘草二兩，粳米三合，大棗十二枚，水一斗二升，煮取六升，溫服一升，日三夜一。經云：歲火太過，炎暑流行，肺金受邪，民病火氣咳喘。又：熱淫所勝，病寒熱喘咳，宜以人參、麥冬、五味子救肺，喘有虛實之分，須細辨之。生脈散乃熱傷氣虛而設。童便炒黃柏降火。《本事方》治咳嗽上喘急，以人參一味為末，雞子清投新水調下一錢。昔有二人同走，一含人參，一不含。俱走三五里許，其不含者大喘，含者氣息自如，乃人參之力也。樓全善治一婦人五十餘歲，素有痰嗽，忽一日大喘，痰如泉湧，身汗出如油，脈浮而洪，似命絕之狀。速用麥門冬四錢，人參二錢，五味子一錢五分，煎服一帖，喘定汗止，三帖後痰亦漸少。更栝蔞仁、白朮、當歸、芍藥、黃芩各一錢，服十帖而安。</p>
<p>喘而無汗煩躁，脈浮大者汗之。喘而有汗腹滿，脈沉實者下之。喘有內外感傷之別，外感煩躁無汗而喘者，宜汗。腹滿有汗而喘，脈沉實者，宜下。仲景云：上氣喘而躁者，屬肺脹。欲作風水，發汗則愈。又云：咳而上氣，此為肺脹。其人喘，目如脫狀，脈浮大者，越婢加半夏湯主之。（麻黃六兩，石膏半斤，生薑三兩，大棗十五枚，甘草一兩，半夏八兩，以水六升，先煮麻黃去上沫，入諸藥，煮取三升，分三服）。又云：肺脹咳而上氣，煩躁而喘，脈浮者，心下有水，小青龍加石膏主之。（肺脹，咳而上氣者，水寒之標邪也。治以小青龍湯平其沖氣。況方中安內攘外，各盡其妙。余仿其法，以治寒嗽，莫不有桴應鼓之效也。麻黃、芍藥、桂枝、細辛、甘草、乾薑各三錢，五味子、半夏各半升，石膏二兩，用水一斗，先煮麻黃去上沫，內諸藥，煎服取三升。強人服一升，羸者減之，日三服，小兒服四合）。喘而自汗，腹滿便秘，氣口脈大於人迎，下之無疑。外此則不宜輕下也，羅謙甫平氣散可用。仲景云：膈間支飲，其人喘滿，心下痞堅，面色黧黑，其脈沉緊，得之數十日，醫吐之不愈，木防己湯主之。木防己三兩，石膏如雞子大十二枚，桂枝二兩，人參四兩，以水六升，煮取二升，溫分二服，虛者即愈，實者三日復發復與。不愈者宜木防己湯去石膏，加茯苓芒硝湯主之，微利即愈。痰多者，亦氣短而喘，須察其平昔，非因勞倦氣脫之症而發，脈浮滑而大，咽喉不利，四七湯甚效。氣鬱痰凝，俗名梅核氣是也。仲景治婦人胸中如有炙臠，用半夏厚朴湯，即此是也。如是風痰，可用千緡湯，半夏七個煨四片，破之。皂角去皮尖二枚，甘草炙一寸，生薑如指大，水一碗煎，去半頓服。　又治因傷風而痰作喘逆，兀兀欲吐，噁心欲倒，如夏月有此症，為大熱也。蓋此症隨四時為寒熱溫涼，宜以酒黃連、酒黃柏、酒知母各等分，為細末，熟湯丸桐子大，每服二百丸，白湯送下，空心服之，仍多飲湯，服畢少時，便以善膳壓之，使不得停留胃中，直至下元，以瀉衝脈之逆也。衝脈上干逆氣不降之故。平居則氣平和，動則氣促而喘者，亦衝脈之火，宜用酒黃柏，酒知母之屬。凡瀉氣下痰定喘之藥，施之形實痰多者為妙。降氣行痰之藥，損人真元，正虛者宜審。若一切虛症，及脈浮大，按之而澀者，下之必死，須謹之。陰虛而喘，脈弱而澀，四肢寒者，去死不遠，慎勿下之。宜用人參、麥門冬、五味、當歸、生地、童便、竹瀝之屬。《素問·逆調論》云：夫不得臥則喘者，是水氣之客也。夫水者，循津液而流也。腎者，水藏。主津液，主臥與喘也。漢防己、茯苓之屬主之。又云：不得臥而息有音者，是陽明之逆也。足三陽者下行，今逆而上行，故息有音也。陽明者，胃脈也。胃者，六腑之海。其氣亦下行，陽明逆不得從其道，故不得臥也。（陽明徑道壅塞，則其氣不能從道，故不臥矣）《下經》曰：胃不和則臥不安。此之謂也。熟半夏、橘紅之屬主之。</p>

<h2>瀉</h2>
<p>泄瀉之病，水穀或化或不化，但大便泄水，並無努責後重者是也。脈細、皮寒、少氣、瀉利、不食，為五虛死。泄瀉而犯五虛，中土已竭，危候也，參附湯尤不能挽，必加七味白朮湯，可以追其既失之脾陽，而固其元氣，試之效捷。用人參附子之類救之，亦有得生者。脈緩、時小結，或微下留連者，皆可治。浮大洪數，或緊或弦急，皆難治。脈數疾為熱，沉細為寒，虛豁為氣脫，澀實為積滯，弦而遲者為氣泄。心脈止者，為驚泄。濕則瀉水，腹不痛。風則米穀不化而完出。火則腹痛瀉水，腸鳴，痛一陣，瀉一陣。痰則或瀉或不瀉，或多或少。食則腹痛甚而瀉，瀉後痛減。腎虛則五更時便瀉，常時則否。寒則腹中冷痛，洞下清水，腹內雷鳴，米飲不化。濕者燥之，虛者補之，熱者清之，寒者溫之，有痰者行痰，有積者消積，氣陷則升之，氣脫則澀之。主方：白朮，炒二錢，燥濕補脾，白茯苓，去粗皮，分水，白芍，炒，各一錢五分，止腹痛，又能補脾而伐肝。陳皮、去白，一錢，行氣。甘草，五分，炙，和中。如的系傷濕者，去白朮以蒼朮代之，蓋白主收斂，不若蒼能發散也，仍加羌活一錢，風能勝濕。豬苓、澤瀉各五分，治濕不利小便，非其治也。</p>
<p>脾虛者加人參一錢，補脾氣之要藥。木香、砂仁各五分，脾虛則氣不運，故以藥之辛溫行氣而溫中，以腐水穀也。仍服（戊癸丸），方見脾門。或將前方加蓮肉五錢，陳糯米一合炒熟俱為末，加白砂糖，每朝空腹以白湯調服，其功尤捷。</p>
<p>腎虛者加破故紙一錢五分，益腎氣，肉豆蔻一錢，止虛泄。二藥氣味相合，能使脾腎之氣交相通而化水穀。仍多服戊癸丸。熱瀉糞色赤黃，彈響作痛，肛門焦痛，糞出穀道如湯之熱，煩渴，小便不利，宜以赤茯苓代白茯苓，用為君，蓋赤火色，取其相入也。熱既併入於大腸而作瀉，今欲引歸前陰以分其勢，故用為君。仍加豬苓、澤瀉滲利之藥（各五分）以佐之，又加茵陳、山梔仁各五分，二味俱苦寒，俱能解邪熱而利小便。兼進如金丸，方見後。痰瀉加半夏曲一錢五分，行痰。用陳皮、白茯苓各二錢，治痰以行氣為先，而茯苓能利水行津液故也。</p>
<p>虛者加人參一錢，蓋痰氣多由脾虛不能運化也。用竹瀝、薑汁一盞加入服之。</p>
<p>如體實能食者，不若加元明粉一錢，就其勢從大便去之，卻服收澀之劑。食積瀉多噫氣如敗卵臭，宜去白芍藥，加枳實、木香另磨，俱理氣之藥一錢，砂仁五分，仍看所傷之物而用藥。如傷肉食者加山楂，傷米食者加神麯，傷麵食者加蘿蔔子，傷酒者加乾葛各一錢，傷蟹者加丁香五分，仍進保和丸，方見傷食。酒積每晨起必瀉，本方內加人參、乾葛各一錢，白豆蔻仁、吳茱萸各五分。寒瀉加人參一錢，熟附子、乾葛各五分，陽氣不足則寒，故用人參補氣，姜，附已寒。</p>
<p>不能食者進八味丸。元是寒瀉，因瀉而寒燥引飲，轉飲轉瀉者，去白芍藥，加乾薑、黃連、人參各一錢。乾薑治初得之寒，黃連解新增之熱，寒何由動，熱瀉久而虛，故有虛熱也，須用人參補之。此理中湯加黃連也，名連理湯，多有奇效。</p>
<p>有一等盛暑，又復內傷生冷，及熱瀉暑瀉，諸藥不效者，疑似之間，尤宜用此。風瀉完穀不化，丹溪以為脾虛，前已列脾虛一條，若用補脾藥不效，便當治風。《素問》云：久風入中為飧泄。又云：春傷於風，夏生飧泄。而《史記·倉公傳》又名之為迴風。足知完穀不化，（完穀不化乃迴風之候，連理湯必佐羌防以升之，關竅通而伏風自去。）乃風症也。宜本方內以蒼朮代白朮，加羌活、防風各一錢，（辛溫通關竅而去風）升麻、柴胡各加五分，又經云：清氣在下，則飧泄。故以二藥助甘辛之味引清氣而上升。仍絕不與食一二日，泄當自止。暑月泄瀉與熱瀉同，仍宜服六和湯，（方見暑門。）並啖浸冷西瓜數片。又有一種氣瀉，腸鳴氣走，胸膈痞悶，腹急而痛，瀉則腹下寬，須臾又急，氣塞而不通者，此由中脘停滯，氣不流轉，水穀不分所致，宜於本方內以蒼朮代白朮、去白芍藥，以其酸收故去之。加薑製厚朴、（結散氣），大腹皮（主氣攻心腹），各一錢，白蔻仁五分，（辛溫能下氣理中，）仍磨入木香汁服之。（木香治腹中氣不轉運，又火煨之，能實大腸。）如小便不利，加豬苓、澤瀉各五分，並調進車前子散。如口渴引飲，加人參、麥冬各一錢，（二藥何為能生津而止渴，蓋脾氣上升於肺，肺氣下降，乃生津液，而二藥能補脾肺故也）。升麻五分，（引清氣上朝於口。）烏梅肉五個，（酸能止渴。）如久瀉氣脫加人參一錢，罌粟殼五個，（酸能止渴）。訶子皮，（二藥俱酸澀，故能斂脫氣而止瀉）。肉豆蔻各一錢，木香，煨另磨。砂仁各五分，（肉蔻止泄之要藥，澀以固脫，煨木香實大腸，砂仁理氣。）瀉久氣必下陷，須用升舉之藥，加升麻、柴胡各一錢，羌活、防風各五分，（風藥能鼓舞元氣上升。）有久瀉不止，及瀉已愈而隔年及後期復瀉者，有積故也。宜本方內加三稜（醋煮），莪朮醋煮焙乾，二藥消積，各一錢。木香、砂仁各五分，（理氣。）兼進保和丸。凡大便泄，服理中湯，小便不利，大便反泄，不知氣化之過，本肺不傳化，以純熱之藥治之，是以轉泄，少服則不瀉，多服則愈熱，所以不分，若以陳皮、青皮之類治之則可。經曰：膀胱者，津液之府，氣化則能出矣。</p>
<p>《儒門事親》云；昔聞山東楊先生者，治府主洞泄不已，楊初未對病人，與眾人談日月星辰纏度，及風雲雷雨之變，自辰至未，而病者聽之，而忘其圊。楊嘗曰：治洞泄不已之人，先問其所好之事。（良醫治法變通化裁，出奇制勝，而愈其病。非拘執藥餌一法，其用心智慧，非庸工所可揣度。好棋者與之棋，好樂者與之笛笙不輟）。</p>
<p>按：茲法匪直可以治泄，即七情虛勞之類亦宜然，是故枚生《七發》。楚太子聞吳客之辯，澀然汗出，霍然病已。雖是寓言，實有此理也。第曉日風雲之變者，世已難其人，而況可求之庸醫中乎。可嘆!可嘆!</p>
<p>《白雲集》云；黃子厚者，江西人也，精醫術。鄰郡一富翁病泄瀉彌年，禮致子厚診療，浹旬莫效。子厚曰：予未得其說，求歸一月。讀《易》至乾卦天行健，朱子有曰：天之運旋不息，故閣得地在中間，如人弄碗，只運動不住，故空中不墜，少有息則墜矣。因悟曏者富翁之病，乃氣不能舉，為下脫也。又時持水滴吸水，初以大指按滴上竅，則水滿筒，放其按，則水下溜無餘。乃豁然悟曰：吾可以治翁證矣。即治裝往，翁家驚喜，至即為治艾灸百會穴，未三四十壯，泄瀉止矣。</p>
<p>一人服內托藥，大便大泄，小便秘，或用五苓散則全秘，與陳皮、茯苓氣化則效。</p>
<p>一人病虛，服附子熱藥小便閉，諸藥不效，惟得黃連、黃芩則效。</p>

<h2>水腫</h2>
<p>《既效方》云：有人陰腫，醫以赤玉塗之，令服八味丸而愈。若久病而陰腫，病已不可救，宜速灸水分穴。蓋水分能分水穀，水穀不分故陰腫。不特陰腫，他處亦腫，尤宜急服禹餘糧丸。</p>
<p>《資生經》云：水腫惟得針水溝，若針余穴，水盡即死。然灸水分則有效。（灸水分穴為治水腫至捷良法，）乃為要穴也。有里醫為李生治水腫，以藥飲之不效，一日忽為灸水分與氣海穴，翌早視其如削矣。信乎水分之能治水腫也。</p>
<p>《儒門事親》云：一男子目下腫、如臥蠶狀，戴人曰：目之下，陰也。水亦陰也。臀以為水之主，其腫至於目下固也。此由房室交接之時，勞汗遇風，風入皮腠，皮腠得寒則閉，風不能出，與水俱行。（經云：面腫曰風，足脛腫曰水。仲景名之曰風水。）故病如是，不禁房室則死。</p>
<p>趙以德云：嘉定沈氏，年十八，患胸腹身面俱腫，醫治半月餘不效。余診其脈，六部俱不出，用紫蘇、桔梗之類煎服一盞，胸有微汗，再服則身盡汗，其六部和平之脈皆出，一二日其脈悉平。</p>

<h2>鼓脹</h2>
<p>《九靈山房集》云：鍾女病腹脹如鼓，四肢骨立，醫或以為孕、為蟲、為瘵也。項彥章診其脈告曰：此氣薄血室。鍾曰：服芎、歸輩積歲月，非血藥乎?彥章曰：失於順氣也。夫氣道也，血水也，氣有一息之不運，則血有一息之不行矣。經曰：氣血同出而異名，故治血必先順其氣，俾經墜得通，而後血可行。氣為血帥，氣行而血亦行，專治其血，無益矣。乃以蘇合香丸投之。三日而腰作痛，彥章曰：血欲行矣，急治芒硝、大黃峻逐之，下汙血累累如瓜者，可數十枚，應手而愈。彥章所以知鍾女之病者，以脈弦滑而且數。弦者氣結，滑者血聚實邪也。故氣行而大下之瘳。</p>

<h2>䐜脹</h2>
<p>趙以德云：松江一男子年三十餘，胸腹脹大，發煩躁渴，面赤不得臥而足冷。余以其人素飲酒，必酒後入內，奪於所用，精氣溢下，邪氣因從之上逆，逆則陰氣在上，是生䐜脹。濁氣在上，清氣在下，則生䐜脹。其上焦之陽，因下逆之邪所迫，壅塞於上，故發煩躁。此因邪從下上而盛於上者也。於是用吳茱萸、附子、人參輩，以退陰逆水邪；冷飲之，以解上焦之浮熱，入咽覺胸中頓爽，少時腹中氣轉如牛吼，泄氣七次，明日其證愈矣。《範氏方》云：凡腹脹經久，忽瀉數升，晝夜不止，服藥不效，乃為氣脫。宜用益智仁煎濃湯服之立愈。</p>

<h2>脾胃</h2>
<p>今人只知脾胃虛則當補，補之不應，則補其母，如是足矣。而不知更有妙處，補腎是也。趙養葵云：補脾不若補腎，果腎虛，命火微弱，用八味丸為要方，許叔微之二神丸法亦妙。脾土克腎水不相為用，如何反補其所勝以滋肝木，曰：不然，此其妙正在相剋處也。五行以相剋為用，所以《尚書》大禹謨說個水火金木土谷惟修，此聖人立言之妙，其說長甚。今且以水與土言之，水不得土，何處發出，何處安著，土不得水，卻是一個燥坌，物事如何生出，萬物以水土相滋，動植化生，此造化相剋之妙，而醫家所以謂脾為太陰濕土，濕之一字，分明土全賴水為用也。故曰補脾必先補腎。至於腎精不足，則又須補之以味，故古人又謂補腎不若補脾。二言各有妙理，不可偏廢也。</p>
<p>《本事方》云：有人全不進食，服補脾藥皆不效。余授二神丸方服之，頓能進食，此病不可全作脾氣治。蓋腎氣怯弱，真元衰削，是以不能消化飲食。譬之鼎釜之中，置諸米穀，下無火力，終日米不能熟，其何能化。黃魯直嘗記服菟絲子，淘淨酒浸曝乾，日挑數匙，以酒下之，十日外，飲啖如湯沃雪。亦知此理也。</p>
<p>《岩氏濟生方》云：人之有生，不善攝養，房勞過度，真陽衰虛，坎火不溫，不能上蒸脾土，沖和失布，中州不運，是以飲食不進，胸膈痞塞，或不食而脹滿，或食不消，大腑溏泄。古人云：補腎不如補脾，余謂補脾不如補腎。腎氣若壯，丹田火盛，益火之原，以消陰翳。上蒸脾土，脾土溫和，中焦自治，膈開能食矣。</p>
<p>按：許岩之說，皆與余說冥合。然卻不知水土相滋之妙，故猶諄諄以火為言，是混水火為一途也。薛氏云：余嘗病脾胃，服補藥及針灸脾俞等穴，不應，幾殆。吾鄉盧丹谷先生令余服八味丸，飲食果進，三料而平。余兄年逾四十，貌豐氣弱，遇風則眩，勞則口苦生瘡，胸嘗有痰，目嘗赤澀。又一人脾虛發腫，皆以八味丸服之而愈。此皆補腎之明驗也。楊仁齋醫學，恐當在丹溪之右。有云：脾腎之氣交通，則水穀自然克化，其見亦及此。</p>

<h2>傷食</h2>
<p>《肘後》辨脾胃所傷變易形法：凡諸脾脈，微洪傷苦澀物，經云：咸勝苦。微澀傷辣辛物，經云：苦勝辛。微滑傷腥咸物，經云：甘勝咸。洪緩傷甜爛物，經云：酸勝甘。弦緊傷酸硬物，經云：辛勝酸。微弦傷冷硬物，經云：溫以克之。微遲傷冷痰積惡物，經云：溫胃化痰。飲食過多，脹痞不下，尋常率以破氣之藥投之。（傷食惡食，必有噫腐吞酸之候。）是食物既傷之前，藥劑又攻之於後，脾氣安得而健暢也。必須以平補之藥為主，佐以他藥，一升一降，使脾腎交通，而水火既濟，自然腐化矣。</p>

<h2>積聚</h2>
<p>治積之法，理氣為先，氣既升降，津液流暢，積聚何由而生。丹溪乃謂氣無形而不能作塊成聚，只一消痰破血為主誤矣。天地間有形之物，每自無中生，何止積聚也。戴復庵以一味大七氣湯，（調氣和血，使其升降自如，津液周流，灌溉臟腑，無滯窒則積聚不攻而自化矣。）治一切積聚，其知此道歟。肝積肥氣，用前湯煎熟待冷，卻以鐵器燒通紅，以藥淋之，乘熱服。肺積息賁，用前湯加桑白皮、半夏、杏仁各五分。心積伏梁，用前湯加石菖蒲半夏各五分。脾之積痞氣，用前湯下紅丸子。腎之積奔豚，用前湯倍桂加茴香炒楝子肉各五分。</p>

<h2>諸氣</h2>
<p>今人治一切氣疾，止知求之脾肺，而不知求之腎，所以鮮效。夫腎間動氣，為五臟六腑之本，十二經脈之根，呼吸之門，三焦之原。房勞過度，或稟受素弱，腎經不足，氣無管束，遂多鬱滯，是生諸疾。（諸氣膹郁，皆屬於肺。氣主煦之，若鬱結不舒，氣機凝滯，血亦因之痹塞，則諸病生矣，故百病皆生於郁，是其明證）。醫者以為是當理氣，殼樸、香附、烏藥之類，雜然而前陳，而氣愈不可理矣。宣之泄之，以快藥下之，而人之死者過半矣。於是醫之中見稍高者，以為脾虛不能運化精微之故，而從事於補脾。然僅可以苟延歲月，而多至於因循蹉跎而不救。此不知補腎之過也。宜以破故紙、茴香子、葫蘆巴之類主之。氣藥內須兼用和血之藥佐之，蓋未有氣滯而血能和者，血不和則氣益滯矣。</p>

<h2>諸血證</h2>
<p>攖寧生《卮言》云：古人言諸見血非寒證，皆以血為熱迫，遂至妄行，然皆復有所挾也。或挾風，或挾濕，或挾氣。又有因藥石而發者，其本皆熱，上中下治各有所宜，在上則梔子、黃芩、黃連、芍藥、犀角、蒲黃，而濟以牡丹皮、生地黃之類。古人云：有冒風寒，正以陽明火邪為風所扇，而血為之動，中間有桂，取其能伐木也。若蒼朮、地榆、白芍藥之類，而濟以火劑，大腸血以手陽明火邪為風為濕也，治以火劑風劑，風能勝濕也，如黃連、黃芩、芍藥、柏皮、荊芥、防風、羌活之類，兼用雞冠花，則又述類之義也。血溢血泄諸蓄妄症，其始也，余率以桃仁、大黃行血破瘀之劑，以折其銳氣。（凡初期驟然吐血，亟宜快藥下之，折其銳氣。若日久正氣已虛，法當調攝。仲景云：亡血虛家，不可下是也。）而後區別治之。雖往往獲中，然猶不得其所以然也。後來四明，遇故人蘇伊舉曰：吾鄉有善醫者，忘其姓字，每治失血蓄妄，必先以快藥下之，或問失血復下，虛何以當，則曰：血既妄行，迷失故道，不去蓄積，則以妄為常，曷以潔之。且去者自去，生者自生，何虛之有?余聞之愕然曰：名言也。昔之疑，今而後釋之矣。又云：婦人之於血也，經水蓄則為胞胎，蓄者自蓄，生者自生，及其產育為惡露，則去者自去，生者自生。其蘊而為乳，則無腹下漏而為月矣，失血為血家妄逆，產乳婦人常事，其去其生，則一同也。失血家須用下劑破血，蓋施之於蓄妄之初，亡血虛家不可下，蓋戒之於亡失之後。又云：驚而動血者，屬心。怒而動血者，屬肝。憂而動血者，屬肺。思而動血者，屬脾。勞而動血者，屬腎。又云：吐血，則足陽明隨經上行，滲溢胃脘而為之也。小便血，足太陽隨經入膀胱也。又云：大便前後下血，便前由手陽明隨經下行，滲入大腸，傳於廣腸而下者也。便後由足陽明隨經入胃，（陰絡傷血內溢）。淫溢而下者也。古人所謂近血遠血是也。又云：咯血為病最重，（咯血乃虛勞之漸，其症最危。）且難治者，以肺手太陰之經，氣多血少。又肺者金象，為清肅之藏，今為火所制，迫而上行，以為咯血，逆之甚矣。上氣見血，下病聞音，謂喘而咯血且痰咳嗽也。又云：從高墜下，驚僕擊搏，流滯惡血，皆從中風論，終歸於厥陰。此海藏之說。蓋厥陰多血，其化風木，是以然也。有形當從血診，無形當從常治，夏仲庸因蹈海驚悸，心為不寧，是為無形，從風家治之而愈。又云：唾血責在下焦陽火煎迫擊為之也。（唾血屬腎虛火炎。）腎主唾，為足少陰，少血多氣，故其症亦為難治。又有所謂腸風藏毒者，腸風則足陽明積熱，久而為風，風有所以動之也。臟毒則足太陰積熱，久而生濕，從而下流也。風則陽受之，濕則陰受之。曹氏《必用方》云：吐血須用乾薑、甘草作湯與服，或四物理中湯亦可。如此無不愈者，若服生地黃、竹茹、藕汁，去生便遠。</p>

<h2>出血不止</h2>
<p>《九靈山房集》云：湖心寺僧履者，一日偶搔膕（音國，曲腳也。）中疥，忽自血出，汩汩如湧泉。（肌衄者，《內經》名之血汗是也。《集驗方》用黃芩漬水擦之，屢試良方也。）竟日不止。瘍醫治療勿效。邀呂元膺往視，履時已困極，無氣可語，及持其脈，惟尺部如蛛絲，他部皆無。即告之曰：夫脈氣血之先也，今血妄溢，故榮氣暴衰，然兩尺尚可按，惟當益營以瀉其陰火，乃作四神湯加荊芥穗、防風，不間晨夜並進，明日脈漸出，更服十全大補湯，一劑遂痊。</p>

<h2>嘔血</h2>
<p>宜降氣，不宜降火。水曰潤下，火曰炎上，引其氣而使之下，即以水剋火之理，是降氣即所以降火也。若用苦寒之藥以降火，火萬無降理，蓋炎上作苦，苦先入心，故芩、連之苦，本助火入心經之藥，而名為降火者，徒以其寒耳。寒能凝血，苦能傷胃，是非但不能抑上升之氣，而使之平行，橫溢之血，而使之歸源，害且有不可勝言也，可不戒哉。宜行血不宜止血，凡嘔血之症，其始也，未有不病胸脅痛者，蓋由平日起居失節，致血停瘀之久，不能歸源，滿而溢焉。遂發為嘔，殆非一日之積矣，使其流行宣暢，散行百脈，又何嘔之有。故凡治嘔血之症，必須用行血之藥，宣其餘滯，而推陳以致新焉，血既流行，胃脘清楚，自不出矣。是行之乃所以止之也，醫往往拘泥犀角地黃湯等，過於涼血，雖間或止之，其後常患胸脅大痛，腫滿等症，以致不起。蓋血得涼則陳者不行，新者不生，瘀物愈積，而真元愈削故也。況血不可止，而強欲止之奚得乎。</p>
<p>恙由郁久化火，外襲暑熱，故傾盆嘔出，危殆已極。諸藥不受，余曾治一婦，危在頃刻，因思諸藥皆苦寒，是以投以即嘔，借用八汁飲，冀其甘寒可以入胃清上，血止再商，投之果應。方載《治驗錄》，參觀可也。</p>
<p>宜補肝不宜伐肝。肝藏血，血陰物也，陰難成而易虧，又肝為東方木，於時為春，為發生之臟，宜滋養而不宜克伐，先醫謂肝無補法，大謬論也。失血之後，肝藏空虛，汲汲焉實之不暇，而敢以纖毫平肝之藥伐之哉，往往見其治疝脹諸症，謂為肝火有餘，而用平肝之藥，以致爪青囊縮而不起者，則肝之不可伐也，亦明矣。</p>
<p>餘外兄虞檢庵病嘔血，醫欲用降火平肝止血之藥，而余貽尺牘止之，奈雖用余言，從事於補，而時止時作，大率吐後新血既生，四五日還復吐出，遷延歲月，忽得散脈，知決不可為矣。更數日卒。蓋自得病以來，未嘗瞑目而臥也，肝為藏血之臟，故人臥則血歸肝，今肝臟虛極，不足以攝血，而榮衛之氣，亦不復行於表分，故不復瞑目而臥，則血無所歸矣。血無所歸，故積久而復吐出，自然之理也。余一時思不及此，心常缺然，歲己卯秋，始晤繆仲淳于白下，相得甚歡，忽謂余曰，補血須用酸棗仁。余灑然有省，嗟乎，一人之心思有限，而病態無窮，非博覽而約取，捨己而從人，即精如盧扁，不能無失也。而況資庸智喑，學儉識寡者乎，既用自箴，因書之以詔來者。</p>
<p>庸俗每言伐肝，貽害匪淺，往往延成痼疾，殞身者有之。第未明肝為藏血之臟，人臥血歸於肝，若肝虛不足以攝血，故目不瞑，若用補血養肝，血有所歸，如茯神、龍眼肉、酸棗仁等，隨症擇用，所以醫貴博覽約取，虛心研究，以匡其不逮。</p>

<h2>眩暈</h2>
<p>《北夢瑣言》云：有少年苦眩暈眼花，常見一鏡子。趙卿診之曰：來晨以魚鱠奉候，及期延於內，從容久飢，候客退，方得交接。俄而臺上施一甌芥醋，更無他味，少年飢甚，聞芥醋香，逕啜之，逡巡再啜，遂覺胸中豁然，眼花得見。卿雲：君吃魚鱠太多，故權誑而愈其疾。</p>
<p>古名醫治病，必詳其原，隨病化裁，出奇制勝，以冀必效。近世稍有微名，一切書籍，置之高閣，自以為得軒歧真傳，若是者，誤人匪淺。午夜捫心，能無愧乎，余雖昏耄，仍不敢掉以輕心，若應一診，歸必記病源，參稽古籍，所以慎之也。</p>

<h2>頭痛</h2>
<p>東垣云：高巔之上，惟風可到。故味之薄者，陰中之陽，自地昇天者也。所以頭痛皆用風藥治之。總其大體而言之也。然患痛人血必不活，而風藥最能燥血，故有愈治而愈甚者，此其要尤在養血，不可不審也。一人寒月往返燕京，感受風寒，遂得頭痛，數月不愈。一切頭風藥無所不服，厥痛愈甚，肢體瘦削，扶策踵門求余方藥。余思此症明是外邪，緣何解散不效，語不云乎，治風先治血，血活風自滅。本因血虛而風熱入之，今又疏泄不已，烏乎能愈也。又聞之痛則不通，通則不痛，用當歸生血活血，用木通通利關竅血脈，以行當歸之力，問渠能酒乎，曰：能而且多。近為醫戒之不敢飲，因今用斗酒，入二藥其中，浸三晝夜，重湯煮熟，乘熱飲之至醉。則去枕而臥，臥起其痛如失。所以用酒者，欲二藥之性上升於頭也。至醉乃臥者，醉則浹肌膚，淪骨髓，藥力方到。臥則血有所歸，其神安也。有志活人者，推此用之，思過半矣。火鬱於上而痛者，經云：火淫所勝，民病頭痛，治以寒劑，宜酒芩、石膏之類治之，又不可泥於此法也。又一方：用當歸二錢，川芎二錢，連翹二錢，熟地二錢，水煎六分去渣，以龍腦薄荷二錢，置碗底，將藥乘滾衝下，鼻吸其氣，俟溫即服。服即安臥，其效甚速。然此亦為血虛者設耳。</p>
<p>頭痛六經各有見證，如太陽頭痛，上至巔頂項強，腰脊必痛。陽明痛在額前，必目珠亦痛，便秘口渴。少陽痛在頭角，口苦咽乾目眩是也。太少兩陰，若有痰氣壅塞，清陽不升，頭亦為之痛。挾六淫之所幹，所血之盛衰，皆能致痛也。</p>

<h2>腦痛</h2>
<p>腦者，髓之海也。髓不足則腦為之痛，宜茸珠丹之類治之。若用風藥，久之必死。腦為元神之府，稍受微邪，即現不支之態。《內經》謂之真頭痛，旦發夕死，雖進茸珠丹，恐亦無濟於事矣。</p>

<h2>牙疼</h2>
<p>牙疼以平胃散入梅花片腦少許，研勻擦之立效。（有胃熱腎虛之因，分辨明晰，庶免遺誤。平胃加片腦，僅散濕熱而已。）</p>

<h2>心痛</h2>
<p>《難經》云：陰維為病苦心痛。陰維行諸陰而主榮，榮為血，血屬心，故苦心痛也。潔古云：其治在足少陽二陰交。仲景太陰證則理中湯，少陰證則四逆湯，厥陰證則當歸四逆吳茱萸湯。陰維為病苦心痛，若手足厥逆，危候也。</p>

<h1>卷下</h1>

<h2>目痛</h2>
<p>目赤腫痛，人知降火而不知活血，所以不得力，只用四物湯，內地黃用生，芍藥用赤，加酒蒸大黃，赤茯苓、薄荷葉治之甚妙，此戴復庵法。又云：早晨鹽湯下養正丹二三十粒。又云：若眼赤久而不愈，用諸眼藥不效，早用蘇子降氣湯下黑鉛丹，臨臥則以消風散下三黃丸，日中則以酒調黑神散，此數藥不獨治久赤眼，諸眼皆治之。</p>
<p>降火必兼活血，發前人所未發。若不活血，寒仍凝澀，火何由而降。氣血流通，火亦隨之而降矣。</p>

<h2>口糜</h2>
<p>經云：膀胱移熱於小腸，膈腸不便，上為口糜，宜以清涼之劑利小便，用五苓、導赤散，卻合服之神效。又云：少陽之火氣內發熱，上為口糜。則又當用苦寒之劑也。如二法不效，則宜炮姜之類反佐之。</p>

<h2>身重</h2>
<p>身重之症，時師止知燥濕，而不知補虛。《素問·示從容論》篇。歷言肝虛、腎虛、脾虛，皆令人體重煩冤，足知身重乃虛症也。宜補中益氣湯加減，八味丸消息與之。正所虛則邪易侵感，治標不治本，非法也。</p>

<h2>脅痛</h2>
<p>《九靈山房集》云：昔鍾姓者一男子，病脅痛，眾醫以為癰也。設諸香、薑、桂之屬益甚。</p>
<p>項彥章診其脈告曰：此腎邪病，法當先溫利而後補之，投神保丸，下黑溲痛止。即令更服神芎丸。若疑其太過。彥章曰：向用神保丸，以腎邪透膜，非全蠍不能導引，然巴豆性熱，非得芒硝、大黃盪滌之，後遇熱必再作，乃大泄數次病已。項彥章所以知男子之病，以陽脈弦，陰脈微澀，弦者痛也，澀者，腎邪有餘也。腎邪上薄於脅不能下，且腎惡燥，熱方發之，非得利不愈，經曰：痛隨利減，殆謂此也。房勞過度，腎虛羸怯之人，胸脅之間，每有隱隱微痛，此腎虛不能約，氣虛不能生血之故。氣與血猶水也，盛則流暢，少則壅滯。故氣血不虛則不滯，既虛則鮮有不滯者。所以作痛，宜用破故紙之類補腎，芎、歸之類和血，若作尋常脅痛治，則殆矣。</p>
<p>當辨左右氣血而施治，痛在左，肝火挾氣也。痛在右，脾火挾痰食也。治從潤肺柔肝，而得捷效，乃肝移邪於肺之明證也。</p>

<h2>腰痛</h2>
<p>腰者，腎之所附，腎氣虛而邪客之，則能作痛。邪者，風熱濕燥寒也，大抵寒濕多而風熱少，有風有濕，有寒有熱，有挫閃，有瘀血，有滯氣，有痰積。風傷腎而痛，其脈必帶浮，或左或右，痛無常處，牽引兩足，宜五積散。每服加防風五分，或加全蠍三個尤好，小續命湯、獨活寄生湯，皆可選用，仍合三仙丹。杜仲薑汁炒研末，每一錢空心溫酒調服，名杜仲酒，治腎氣腰痛，兼治風冷為患。傷濕而痛，如坐水中，蓋腎屬水，久坐水濕處，或為兩露所著，濕流入足太陽經，以致腰痛，其脈必帶緩，遇天陰或久坐必發，身體必帶遲重，宜滲濕湯主之。不效。宜腎著湯，或生附湯。</p>
<p>感寒而痛者，腰間如水，其脈必緊，見熱則減，見寒則增，宜五積散去桔梗，加吳茱萸五分，或姜附湯加辣桂、杜仲主之。傷熱而痛者，脈必洪數而滑，發渴便閉，宜甘豆湯加續斷、天麻。間服敗毒散，若因挫閃，或攧撲傷損而痛者，宜乳香趁痛散，及黑神散，和復元通氣散，酒調下。不效，則必有惡血停滯，宜先用酒調服蘇合香丸，以五積散加大黃五分，蘇木五分，當歸倍元散。若因勞役負重而痛，宜用和氣散，或普賢正氣散。楊仁齋云：勞力而痛，宜十補湯下青娥丸。瘀血為痛，其脈必澀，轉側若錐刀之刺，大便黑，小便赤或黑，日輕夜重，名瀝血腰痛。宜蘇沉麝香丸，及桃仁酒調黑神散，或四物湯加桃仁、紅花、枳殼、烏藥之屬。丹溪用補陰丸中加桃仁、紅花主之。氣滯而痛，其脈必沉，若鬱悶而不伸，宜人參順氣散，烏藥順氣散加五加皮、木香、甘草少許，煎湯調下。痰注而痛，其脈必滑或伏，宜二陳湯加南星、香附、枳殼主之。大抵諸腰痛皆起於腎虛，既挾邪氣，則須除其邪，如無外邪積滯而自痛，則惟補腎而已。腰肢痿弱，身體疲倦，腳膝痠軟，脈或洪或細而皆無力。（脈細便清為陽虛，重按必沉而無力。）是其候也。亦分寒熱二症。脈細而無力，怯怯短氣，小便清利，是為陽虛。宜腎氣丸、茴香丸，並戴復庵法，以大建中湯加川椒十粒，下腰腎丸，及生料鹿茸丸之類，仍以豬腰切作薄片，勿令斷，層層摻炒茴香末，濕紙裹煨熟，細嚼酒下，此所以補陽之不足也。脈洪大而無力，（脈洪大無力為陰虛。其小便必黃赤。）小便黃赤，虛火時炎，是為陰虛。東垣所謂膏粱之人，久服湯藥，醉以入房，損其真氣，則腎氣熱，腎氣熱則腰脊痛不能舉，久則髓減骨枯，發為骨痿。宜六味地黃丸、滋腎丸、封髓丹之類，治陰之不足也。</p>
<p>楊仁齋云：經曰，腰者腎之府，轉搖不能，腎將憊矣。審如是，則病在少陰，必究其受病之源而處之為得。雖然，宗筋聚於陰器，脹者腎之同系也。五臟皆取氣於谷，脾者，腎之倉廩也。鬱怒傷肝，則諸經縱弛，憂思傷脾，則胃氣不行，二者皆能為腰痛之寇，故並及之。鬱怒傷肝，發為腰痛，宜調肝散主之。憂思傷脾，發為腰痛，宜沉香降氣湯，和調氣散，薑棗煎主之。又有沮挫失志傷腎而痛者，和劑七氣湯，多加白茯苓，少加沉香、乳香主之。《保命集》云：煨腎丸，治肝腎損及脾損，穀不化，腰痛不起者，神效。瘧痢後腰痛，及婦人月經行後腰痛，俱屬虛，宜補之，於氣血藥加杜仲、側柏葉主之。丹溪云：久腰痛必用官桂開之方止，腹脅痛亦然。橘香丸治腰痛，經久不瘥，用官桂，亦開之意也。</p>
<p>腰為腎府，若腎氣虛，隨六淫之邪為轉移則痛作，調其榮衛，損有餘，補不足，究其致痛之由，而治之為得也。</p>

<h2>虛損</h2>
<p>補精之藥，固忌溫熱。然以天道驗之，時非溫熱，則地氣不能升而為雨，人身之道，何莫不由斯。然則腎氣雖寒，補實資乎溫助，故昔人蓯蓉、巴戟、故紙、茴香之類，發揚腎氣，使陰陽交蒸而生精，知此理也。自丹溪出，而以黃柏、知母為補腎之藥，誤人多矣，夫黃柏、知母，（知母、黃柏，僅可用於火熾體盛者初期暫服，久則反從火化。）雖北方寒水之氣而生，然其性降而不升，殺而不生，暫用其寒，可以益水，久服其苦，反能助火。經不云乎，久而增氣，物化之常也。氣增而久，夭之由也，可不慎歟。加減四柱飲，治虛勞短氣乏力，語言無力，飲食少思者。人參、黃耆、乾山藥、白茯苓、熟附子五分，去皮臍，童便換浸三晝夜，紙裹煨三次咀片，川椒紅二十四粒，去目及閉口者，上生薑三片，棗一枚，煎服。</p>

<h2>勞瘵</h2>
<p>《瑣碎錄》云：男子勞傷而得瘵疾，漸見瘦瘠，用童便二盞，無灰酒一盞，以新瓷瓶貯之，入全豬腰一對。（取血肉有情之品，以類相從，故收效速，是損其腎者，益其精，補之於味也。）泥封，日晚慢火養熟，至中夜止，五更初更以火溫之，飲酒食腰子，病篤者只一月效。平日瘦怯者，亦宜服此，蓋以血養血，勝一切金石草木之藥也。秘方：治虛症有火，服參、耆則作喘嗽，服歸、地則少飲食。服降火滋陰藥則反削元氣，而火又不降，宜用此方。甘枸杞、石斛（酒蒸多用），麥門冬（去必多用），天門冬、乾山藥。以上五味，皆補虛藥。（而甘涼者又不滯脾氣，以虛症有火者絕妙。）山茱萸、酸棗仁，炒研多用，薏苡仁、白茯苓。若咳嗽宜用五味子十餘粒，乾薑二三分，薄荷四五分，忌桑皮、杏仁、蘇子、降氣等藥。若發躁，宜倍用收斂之藥，攝火歸源。忌用知母、黃柏苦寒之藥，犯之則躁愈甚矣。</p>

<h2>夢遺</h2>
<p>王海藏云：余嘗治脫精不止者，以澀劑止之不能，不若瀉心火。瀉心火不能止之，不若用升陽之劑。如風藥之類止之。（風藥善升，使陽氣上舉，而不下降也。）非能止之也，舉其氣上而不下也。《藥要或問》云：鄭叔魯，年二十餘，攻舉業，夜讀書至四鼓猶未已，忽發病，臥間但陰著物，便夢交接脫精，懸空則無懸，飲食日減，倦怠少氣。蓋以用心太過，二火俱起，夜不得眠，血不歸經，腎水不足，火乘陰虛。（陰虛火炎，鼓灼精房，失於退藏而外泄也。）入客下焦，鼓其精房，則精不得聚藏而欲走，因陰著物，由厥氣客之，故作接內之夢，於是上補心安神，中調脾胃升舉其陽，下用益精生陰固陽之劑，不三月而病安矣。《醫學集成》記江單醫云：遺泄一症，尋常只治心腎，未有別治。以《素問》、仲景考之，當服此屢效。丸方：厚朴（薑製二兩），羊脛（三兩），炭火煅通紅窨殺，別研細如粉，上二味，陳黃米糊丸，桐子大，每服百丸至三百丸，米湯下。</p>

<h2>不得臥</h2>
<p>《九靈山房集》云：浙省平章左答納失理在帥閫時，病無睡，睡則心悸神懾，如處孤壘，而四面受敵，達旦目眵眵無所見，耳瞶瞶無所聞，雖堅臥密室，睫未嘗交也，即選醫之良者，處劑累月勿瘳。後召元膺翁診視，翁切其脈，左關之陽浮而虛，察其色，少陽之支溢於目眥，即告之曰：此得之膽虛而風上，獨治其心而不祛其膽之風，非法也。因投藥方，烏梅湯、抱膽丸。日再服，遂熟睡。一方：治多疑不得眠如狂，用溫膽湯加酸棗仁一兩，炒研煎。</p>
<p>從來不寐之證，前人皆以心腎不交治也，投劑無效。竊思陰陽違和，二氣亦不交。椿田每用製半夏、夏枯草各五錢，取陰陽相配之義，濃煎長流水，竟覆杯而臥。治病切勿執著，拘泥古方，妙在隨症用藥，變通化裁，精思過人，是為良工。</p>

<h2>妄見</h2>
<p>《道山清話》云：張子顏少卿晚年，嘗目前見白光閃閃，中有白衣人如佛相者，子顏信之彌謹，乃不食肉，不飲酒，然體瘠而多病矣。時泰寧不豫，汪壽卿自蜀入京診御脈，壽卿醫道盛行，其門如市。子顏一日從壽卿求診，壽卿一見大驚，不復言，但投以大丸數十，小丸千金粒，囑曰：十日中服之當盡，卻以示報。既數日，視所視白衣人衣變黃，而光無所見矣。乃欲得肉食，思飲酒，又明俱無所見，覺氣體異他日矣。乃詣壽卿以告，卿曰：吾固知矣。公脾初受病，為肺所乘，心脾之母也。公既多疑，心氣一不固，自然有所睹。吾以大丸實其脾，小丸補其心，肺為脾之子，既不能勝其母，其病自愈矣。子顏大神之，因密問所診御脈何如?卿曰：得春氣當絕，雖司命無如之何，時元符改元八月矣，至三年正月，泰寧宴駕，壽卿後入華山，年已八十。</p>
<p>汪君診法，可謂神而明之。辨證用藥，精蘊畢呈。他人難測者，皆有所指歸。</p>

<h2>發熱</h2>
<p>楊仁齋云：凡壯熱煩躁，柴胡、黃芩解利之。其熱乍輕而不退去，用黃芩、川芎、甘草、烏梅作劑。或用黃連、生地、黃赤芩同煎，臨熟入燈心一捻主之，其效亦速、蓋川芎、生地，皆能調血，心血一調，其熱自退。（心者，君主之官焉。心清熱自退，善治熱者，先調血，血調氣疏，自無蒸灼之外熱也。）《心法附余》云：退熱之法，全在清心。必用麥門冬、燈心草、白朮、茯苓。蓋心者，一身之主宰，而萬事之根本，萬令從心，心不清則妄動，而熱不退。然熱又能傷血，血滯則氣鬱，而熱愈不退。退熱之法，所以又在調血，法用川芎、當歸。若夫陽浮於外，則當斂而降之。大法用參苓白朮散、薑、棗煎服。</p>

<h2>渴</h2>
<p>治渴必須益血。蓋血即津液所化，津液既少，其血必虛，故須益血丸。吐血之後，多能發渴，益知渴病生於血虛也。</p>
<p>血虛津液不能上承，則口渴也。</p>

<h2>盜汗</h2>
<p>問：人之盜汗，何氣使然?曰：陽氣不足，而陰氣有餘也。衛氣晝行陽二十五度，則目張而寤。夜行陰亦二十五度，則目瞑而臥。臥而氣不榮於陽分，則腠理開，腠理開，則津液泄矣。陽者，衛外而為固者也。寤而目張，則陽氣復反於陽分，故倏然而止也。止汗以黃耆為君，固其陽也。其於五臟有所屬乎。曰：心主五液，而腎主水也。人之一身，子時一陽生，心中有赤液下入於腎，午時一陰生，腎中有白氣上入於心，心腎交，水火濟，而無病也。心腎俱耗，則水火不交，故至陰之下有僭陽焉，骨為之熱矣。諸陽之會有純陰焉，額為之汗矣，額亦心之分也。有但見於額與心，他處無之者，此由心腎俱虛，水液枯涸，勢不足以周身之汗，故但見於心之分也。余嘗病怔忡盜汗，補心腎尚無功，加豬心數片引之遄已，藥貴嚮導，不可不審也。</p>

<h2>白濁</h2>
<p>赤白濁總屬腎虛，無寒熱之別。玄菟丹，小菟絲子丸，八味丸，山藥丸，皆可斟酌用之。不宜妄用利水清痰燥熱溫涼之藥，慎之慎之。有因內傷，以補中益氣湯主之。經曰：中氣不足，則溲便為之變是也。（《內經》謂中氣不足，則溲便為之變，夫中氣者，脾土也。脾虛濕熱下注，當升清以降濁，而濁自愈也。）有思想不遂，意淫於外者，宜清其心，如遠志、茯苓、龍骨、石蓮、菟絲子之類。有入房過度，傷精而致者，宜補其精。如鹿角膠、肉蓯蓉、桑螵蛸之類。經曰：思想無窮，所願不得，意淫於外，入房太甚，宗筋弛縱，發為筋痿，又為白濁是也。有精竭而赤濁，虛之極也。宜峻補其精。若妄用涼藥，必至不起。又《藥要或問》曰：白濁多因濕熱下流膀胱而來，赤白濁即《靈樞》所謂中氣不足，溲便為之變是也。先須補中氣，使升舉之，而後分其臟腑氣血赤白虛實以治之，其他邪熱所傷者，固在瀉熱補虛，設腎氣虛甚，或火熱亢極者，則不宜峻用寒涼之藥，必以反佐之，要在權衡輕重而已。</p>

<h2>淋</h2>
<p>外兄賀晉卿因有不如意事，又當勞役之後，忽小腹急痛欲溺，溺中有白物如膿並血而下，莖中急痛不可忍，正如滯下後重之狀，日數十行，更數醫不效，問方於余。余作瘀血治，下以牛膝四兩，去蘆酒浸一宿，長流水十二碗，煎至八碗，再入桃仁（一兩去皮尖炒），紅花二錢五分，當歸梢一兩酒浸，赤芍藥一兩五錢，木通一兩，生甘草二錢五分，苧麻根二莖，同煎至二碗去渣，入琥珀末二錢，麝香少許，分作四服，一日夜飲盡，勢減大半。按：《素問·奇病論》云：病有癃者，一日數十溲，此不足也。今瘀血雖散，宜用地黃丸加菟絲子、杜仲、益智仁、牛膝之屬，補腎陰之不足，以杜復至。因循未及修治，遂不得全愈。或閉或一夜數十起，溺訖痛甚，逕服前丸，及以補腎之藥入煎劑調理而安。從兄淳甫得淋疾，日數十溲，略帶黃，服五苓散頓減。因腹中未快，多服利藥三五日，復忽見血星，醫以八正散治之不應，索方於余。詢知其便後時有物如膿，小勞即發，診得六脈俱沉細尤甚，此中氣不足也，便後濃血，精內敗也。經云：中氣不足，則溲便為之變。宜補中益氣湯，加順氣之藥，以滋其陽。六味地黃丸，疏內敗之精，以補其陰。更加五味子斂耗散，牛膝通血脈，終劑而安。此余初學醫時所錄，以用藥頗中肯綮，故存之。小便黃赤，有寒熱虛實之別。《素問》曰：諸病水液渾濁，皆屬於熱。宜黃柏、知母之類治之，此熱症也。《脈經》云：尺澀足脛逆冷，小便赤，宜服附子四逆湯，此寒症也。《素問》云：胃足陽明之脈盛，則身已前皆其有餘。胃則消穀善飢，溺色黃，宜降胃火。又云：肝熱病者，小便先黃，宜降肝火，皆實症也。又云：肺手太陰之脈，氣虛則肩背痛而寒，少氣不足以息，溺色變，宜補中益氣湯之類，又補肺氣。又云：冬脈者，腎脈也。冬脈不及，則令人眇中清，脊痛，小便變，宜地黃丸之類以助腎脈，此虛症也。小便遺失，責在肺不在腎，蓋肺者腎之上源，又其母也，上源治則下流約矣。《甲乙經》云：肺脈不及，則少氣不足以息，卒遺失無度。故東垣云：宜安臥養氣，禁勞役，以黃耆、人參之類補之。不愈，當責有熱，加黃柏、生地。</p>
<p>淋有五種，氣、血、砂、膏、勞。今莖中疼痛，乃血瘀為患，用血藥獲效，是治其源也。若點滴澀痛，為津液涸，莖中挾膿者，乃中氣不足，且肺為水之上源。若肺虛氣不上承，亦為淋也。《治驗錄》辨之晰矣。</p>

<h2>小便不通</h2>
<p>膀胱者，州都之官，津液藏焉，氣化則能出矣。何謂氣化，津液乃氣所化也。（小便不通，是氣化不行也。經謂膀胱者，津液之府，氣化則能出矣。）《經脈別論》云：飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。蓋譬之蒸物然，湯氣上熏釜甑，遂有液而下滴，此脾氣熏蒸肺葉，所以遂能調水道而輸膀胱也。故小便不通之症，審系所虛而水涸者，利之益甚，須以大補。人參少佐升麻，煎湯飲之，則陽升陰降，是地氣上為云，天氣下為雨也。自然通利矣。丹溪嘗治一人傷寒，得汗熱退後，脈尚洪，（傷寒得汗脈，必洪而無力。）此洪脈作虛論，與人參、黃耆、白朮、炙甘草、當歸、芍藥、陳皮，數日，其脈仍大，又小便不通，小腹下妨悶，頗為所苦，但仰臥則點滴而出，日以補藥服之未效，於前藥內倍加黃耆、人參，大劑與服，兩日而小便方利。強力入房，過忍小便而不通者，小菟絲子丸、六味丸治之，多服取效，下焦有熱者，鳳髓丹、滋腎丸之屬。楊仁齋云：大凡水道不行，其本在腎，其末在肺。合用牽牛、澤瀉、便自通。虛人老人，又不在此例。王海藏云：年老人虛秘，是下亡津液也。以升麻湯舉之，陽升陰降，是地氣上為云，天氣下為雨也，所以通利。又云：小便不通，非小腸膀胱厥陰也，強力房勞，過忍小便之過也。一男子病小便不通，他醫治以利藥益甚，丹溪診之，右寸頗弦滑，曰：此積痰也。積痰在脈，脈為上焦，而膀胱為下焦，上焦閉則下焦塞，譬如滴水之器，必上竅通而後下竅之水出，乃以法大吐，吐已病如失。經云：膀胱者，津液之府，氣化則能出矣。又云：肺氣通調水道，下泄膀胱。《脈訣》云：肝膽同歸津液府，所以太陽厥陰同為一治。又云：膀胱腎合為精府。此腎主大小二便難也。</p>
<p>著眼在肺氣通調，水津四布二語。</p>

<h2>大便不通</h2>
<p>《金匱真言論》云：北方黑色，入通於腎，開竅於二陰，故腎陰虛則大小便難，宜以地黃、蓯蓉、車前子、茯苓之屬，補真陰，利水道，少佐辛藥開腠理，致津液而潤其燥，施之於老人尤宜。若大小便燥結之甚，求通不得，登廁用力太過，便仍不通，而氣被掙脫，下注肛門，有時泄清水，而裡急後重，不可忍者，胸膈間梗梗作惡，乾嘔有聲，渴而索水，飲食不進，呻吟不絕，欲利之則氣以下脫，合用葶藶、桑白皮，二者得兼，必然中病，其間更以木通、滑石佐之，尤能透達，雖然，大便小便脈絡相貫也，人有多日小便不通，但用神保丸。（血燥津液涸，皆致便難。神保丸等治實症固妙，而年老液涸者，不可不審。）作葶藶丸，大瀉數行，小便自利。按：此法實者可用，不可不審。二便俱閉，只利大便，小便須臾自下。若氣已脫，下之即絕，固之則溺與燥矢膨滿腹腸間，恐反增劇，升之使氣自舉，而穢獨不為氣所結，自然通利，則嘔惡不堪，宜何處之。家姑八十餘，嘗得此患，余惟欲調氣利小便之藥，雖僅獲效，而不收全功。嘗慰之，令勿性急，後因不能忍，遽索末藥利下數行，不以告余。自謂稍快矣，而脈忽數動一止，氣息奄奄，頹然床褥，余知真氣已泄，若不收攝，恐遂不救。急以生脈藥投之，數劑後，結脈始退，因合益血潤腸丸與服，勸以勿服他藥，久之自有奇效。如言調理兩月餘，而二便通調，四肢康勝如平時矣。向使圖目前之快，蔑探本之明，寧免於悔哉。便秘是老人常事，蓋所固而不泄，故能壽考。而一時難堪，輒躁擾而致疾，若求通潤之方，非益血而滋腎，烏乎可也。丸方雖為家姑設，而可以通行天下，故表而出之，以為孝子養親，仁人安老之一助云。</p>
<p>益血潤腸丸，熟地黃六兩，杏仁炒去皮尖，枳殼麩皮炒黃，麻仁揀去殼令淨，殼反澀大腸也，備三兩，以上三味各杵膏，橘紅三兩五錢，阿膠炒，肉蓯蓉酥煮透烘乾各一兩五錢，蘇子炒研，瑣陽酥煮，荊芥各一錢。</p>
<p>上末之，以前三味膏，同杵千餘下，仍加煉蜜丸，桐子大，每服五六十丸，空心白湯下。大法云：大便秘，服神芎丸。大便不通，小便反利，不知燥濕之過，本大腸少津液，以寒燥之藥治之。是以轉燥，少服則不濟，多服則亡血。所以不通，若用四物、麻子、杏仁之類則可。經云：燥則為枯。濕劑所以潤之。腎燥便難也。</p>
<p>益血潤腸丸，乃王道之師，非神芎丸之瞑眩。若津涸液少，當用四物潤燥，間服益血潤腸丸。</p>

<h2>疝</h2>
<p>朱丹溪於此道中甚有發明，而其臨症處方，又多以扶植元氣為主，孰慮人遭厄運，其手書皆不傳，而傳於世者，皆為盲夫俗子裁剪增續，疵謬實多。《纂要》一書，其舛尤甚。凡丹溪長處皆為刪去，甚可恨也。即如疝症一門，首載云：專主肝經，與腎虛而致者甚多。肝乃腎之子，而前陰腎之竅也，欲補其肝，能無顧其母乎，而世俗執肝無補法之論，逢一疝症，輒為肝實，過用克伐，死者多矣。今《纂要》中全不載一補法，時師既無正悟之明，又無他書足考，焉得而不誤也。按：丹溪云，疝有挾虛而發者，其脈不甚沉緊，而豁大無力者是也。當以參、術為君，疏導藥佐之，何嘗封鎖補法哉。張仲景治寒疝腹中痛，又脅痛裡急者，當歸生薑半肉湯主之。《本草衍義》稱其無不應驗，豈非補肝之效乎。余每治病甚氣上衝心危急者，以八味丸投之立應，又補腎之一驗也。又大便不通者，當利大便，如許叔微、羅謙甫，皆用芫花是已。今如《纂要》云：不幹腎經，則五苓不當用。又言：疝不可下，則芫花不當用。而所列者，惟數種破血之藥，苦辛雜收，寒熱無別，既不能補肝腎之真陰，又不能通利二竅，使邪有所泄，而耗其氣於冥冥之中，且日趨於危而不自覺也，豈不悖哉。</p>
<p>疝有七種，治當分別。虛實寒熱，未可泥於溫補。亦不可過用破氣之品，景岳言之詳矣。</p>

<h2>痔論</h2>
<p>《內經·生氣通天論》云：風客淫氣精乃亡，邪傷肝也。因而飽食，筋脈橫解，腸澼為痔。蓋風氣通於肝，而淫氣者，陰陽之亂氣也。因其相亂，而風客之則傷精，傷精則邪入於肝矣。而又飲食自倍，腸胃乃傷，陰陽不和，關膈壅滯，熱毒下注，血滲大腸，腸澼痔漏，安得以免。</p>
<p>氣虛濕熱下注大腸。</p>

<h2>附骨疽</h2>
<p>一人生附骨疽，膿熟不得泄，潰而入腹，精神昏憒，粥藥不食，醫皆束手。延余治之，診其脈細如蛛絲，氣息奄奄欲絕。余曰：無傷也，可以鈹針刺其腹，膿大泄，然皆清稀，時若蟹吐沫，在法為透膜不治。或譏余。余曰：無傷也，可治，參、耆、附子加厥陰行經之藥，大劑飲之，為制八味丸，丸成服之，食大進，日啖飯升余，約數旬而平。余所以知可治者，潰瘍之脈洪實者死，微細者生。今脈微細，形病相合，知其受補。故云可治也。所以刺其腹者，膿不泄，必有內攻之患，且按之而知其深，即刺之無苦也。所以信其不透膜，即透膜無損者，無惡候也。所以服八味者，八味丸補腎，腎氣壯而上升，則胃口開而納食故大進也。泄濃既多，刀圭之藥，其何得濟，遷延遲久，且有他患，故進開胃之藥，使多食粱肉以補之，肌乃速生，此治潰瘍之要法也。</p>
<p>古瘍醫必審經絡，明虛實，別臟腑脈候榮衛氣血之源，非今之瘍醫，僅知敷貼，不明經絡臟腑，是庸工也。</p>

<h2>乳癰</h2>
<p>庚午余自秋闈歸，則亡妹已病，蓋自七月乳腫痛不散，八月火針取膿，醫以十全大補湯與之，外敷鐵箍散不效。反加喘悶，九月產一女，潰勢益大，兩乳房爛盡，延及胸腋，膿水稠黏，出膿幾六七升，略無斂勢，十一月始歸就醫，醫改用解毒和中平劑，外摻生肌散、龍骨、寒水石等劑，膿出不止，流濺所及，即腫泡潰膿，兩旁紫黑，瘡口十數，胸前腋下，皆腫潰不可動側，其勢可畏。余謂產後毒氣乘虛而熾，宜多服黃耆解毒補血，益氣生肌，而醫鑑前弊不敢用。十二月中旬後益甚，瘡口二十餘，諸藥盡試不效。始改用余藥，時膿穢黏滯，煎楮葉豬蹄湯沃之頓爽，乃制一方，名黃耆托裡湯，黃耆甘溫，以排膿益氣生肌為君。甘草補胃氣解毒，當歸身和血生血為臣，升麻、葛根、漏蘆、為足陽明本經藥，及連翹、防風，皆散結疏經，栝蔞仁、黍黏子，解毒去腫。皂角刺引至潰處，白芷入陽明，敗膿生肌，又用川芎三分，及肉桂炒柏為引用。每劑入酒一盞，煎送白玉霜丸，疏膿解毒，時膿水稠黏，方盛未已，不可遽用龍骨等藥，理宜追之，乃制青霞散外摻。明日膿水頓稀，痛定穢解，始有向安之勢。至辛未新正，患處皆生新肉，有紫腫處俱用蔥熨法，隨手消散。但近腋足少陽分尚未斂，乃加柴胡一錢，青皮三分，及倍用川芎，膿水已盡者，即用戴糝散摻之。至元霄後遂全安。凡治癰疽，須審經絡部分，今所患正在足陽明之分，少侵足少陽經分，俗醫不復審別，一概用藥，藥無嚮導，終歸罔功。甚可嘆也。近有患之劇甚如亡妹所苦者，一癢友就余求方。余以冗未及應，諸瘍醫卒拱手以待斃。余甚傷之，議布其方，不忍自秘也。隆慶辛未九月九日記。</p>
<p>古名醫見病知源，況必先審經絡部分，然後制方，用之咸宜。惟世風不古，庸工藉以需索，而病家亦甘受其欺詐，若稍劇之患，每束手無策。金壇心存濟世疾苦，特將秘方刊布，以廣流傳也。</p>
<p>青霞散　治癰疽潰爛，膿多不斂，先用楮葉豬蹄湯洗過，以此敷之。</p>
<p>飛青黛二錢，乳香一錢五分，沒藥一錢五分，韶粉一錢，海螵蛸一錢，枯礬一錢，白蘞一錢，寒水石一錢，冰片三分，紅粉霜另研極細和勻，後再研入一錢，杏仁去皮尖二十四個，有死肉加白丁香五分，大癰疽爛甚腐多，加銅綠一錢五分此方專治潰瘍。因血熱肉腐化而為膿，故用青黛涼血解毒而使肉無腐為君。乳香、沒藥活血止痛而消腫為臣。寒水石之寒，佐青黛以涼血肉使不腐。枯礬之收澀排腫而追毒，韶粉、海螵蛸之收濕止膿汁之多而不燥，霜粉之拔毒，白蘞之斂創，冰片之透肌以為佐使。諸藥多燥，又假杏仁之油以潤之，此制方之旨也。</p>

<h2>子嗣</h2>
<p>嚴冬之後，必有陽春。是知天地之間，不收斂則不能發生，不中和則不能發生，自然之理也。今人既昧收藏之理，縱欲竭精，以耗散真氣，靡所不至。及其無子，既云血冷，又謂精寒，燥熱之劑投，而真陰益耗矣，安得有子。大抵無子之故，不獨在女，亦多由男子。男子房勞過度，施泄過多，精清如水，或冷如冰，及思慮無窮，謀望高遠，皆難有子。蓋心主神，有所施則心馳於外，致君火傷而不能降，腎主智，有所勞則智亂於中，俾腎虧而不能升，上下不交，水火不構，而能生育者，未之有也。（求嗣者，廣積陰功，然後節欲保精，自獲天錫，佳兒非徒恃藥餌無益，而有損，慎之。余《治驗錄》中已縷晰言之矣。又有天稟男子陰痿，女子瘕疝，及體肥脂實者，皆無子之端，不可執一而治。治之之法，若系房勞過度，精清如水，冷如冰者，六神丸主之。精竭者，五味補精丸主之。精方衰微，不能遠射者，六子丸主之。稟賦元弱，氣血虛損者，腎氣丸加鹿茸主之。思慮多與心火太盛不能節欲者，大鳳髓丹主之。仍以六神丸間服，上下午服，臨臥服定志丸。或安神丸之類。若審系虛寒者，固真丸亦可服，其陰痿痹等症，仍當於本症門求之。</p>
<p>女人無子，當調其經。於月事門求之，（調經首在治肝滋水，肝氣為患，婦女尤甚，往往左脅下痞積脹滿，嘔逆，皆先天肝血不足，治從滋養則平。若誤投疏伐則殆。若血虧肝旺，上犯胃脘，下侵兩足，納食則吐，兩足攣痛，遂發痙厥，乃肝病入絡，因血少不能流通，慎勿執肝無補法，妄用克伐，宜滋水生肝，乙癸同源之治。）若體中有熱者，增損地黃丸，艾附當歸丸主之。仍間服逍遙散。若稟賦素弱，及脾胃氣虛，不能榮養衝任者，補中丸主之。肢體本實，但多鬱怒，遂致月事失期，不能成孕者，煮附丸，或香附散主之。體肥脂實，不能成孕者，《良方》蕩胞之法，並坐導之法，亦可採用。亦當常服經驗育胎丸。若的系稟受素弱，起居失節，恣啖生冷，致子宮虛寒，不能成孕者，宜以育胎丸為主，壬子丸之類，亦可間服。</p>
<p>以上服藥之時，俱宜謹戒房室，方能奏功，即念慮之間亦不可輕動，蓋心火一動，真精即從而走失，前功盡棄矣，戒之戒之。</p>
<p>按：種子之道有四，一曰擇地，二曰養種，三曰乘時，四曰投虛。何謂地，母血是也。何謂種，父精是也。何謂時，精血交感之會是也。何謂投虛，去舊生新之初是也。古法以月經行後三十時辰為準，過此子宮閉，雖交而不孕，即乘時之理也。總以清心寡慾，為最上乘妙法也。余治胎產三十餘年，遇大險大危之候，竟得十全八九者，皆用補得法，不隨流俗以治標逐瘀為先務。余《治驗錄》中擇載甚多，參閱可增智識也。</p>
