<header data-type="book">
<h1>萬氏秘傳片玉心書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>萬全</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1654">公元1654年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2923">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>幼科序</h1>
<p>大凡醫之為理，有可以簡而明者，有不可以簡而明者。矧稚子何知，將問之莫從問也，且切之莫可切，症變奇出，治法多端，尚示之以簡而其症不明，其治有乖，小兒之所以生死存亡系焉，是誠簡之無可簡也。萬先生育嬰書，始以分門心訣，繼以各髒髮揮，終以痘疹科目，反復論辨，再三開導，可謂無症不備，無法不全，無理不透者矣。小兒不能言者，言之而已悉其奧；凡醫不能治者，治之而已極其神。世之讀是書者，初視之未嘗不以為不簡也，細體之究知其不可簡也。先生誠求之心則苦矣，先生保赤之心不朽矣，是為敘。</p>
<p><u>漢陽恪齋張坦議撰於五知莊</u></p>

<h1>卷之一</h1>

<h2>活幼指南賦</h2>
<p>小兒方術，號曰啞科，口不能言，脈無可施，惟形色以為憑，竭心思而施治。故善養子者，似豢龍以調護；不善養子者，如舐犢而愛惜。愛之愈勤，害之愈急。乍頭溫而足冷，忽多啼而不乳，差之毫釐，失之千里。此小兒方術專門，以補化工之不及。腸胃脆薄兮，飲食易傷，筋骨柔弱兮，風寒易襲，父母何知。看承太馳。重綿厚襖，反助陽以耗陰；流歠放飯，徒敗脾而損胃。聞異聲，見異物，失於提防；深其居，簡其出，過於周密。未期而行立兮，喜其長成；無事而嘻笑兮，謂之聰慧。一旦病生，雙親心戚，不信醫而信巫，罔求藥而求鬼，乃人事之弗修，謂天命之如此。</p>
<p>欲觀氣色，先分部位：左頰兮青龍屬肝；右頰兮白虎屬肺。天庭高而離陽心火；地角低而坎陰腎水。鼻在面中，脾土通氣。觀乎色之所現，知乎病之所起。又況脾應乎唇，肺通乎鼻，舌乃心苗，目為肝液，胃流注於雙頤，腎開竅於兩耳，爪則筋余，而脾為之運，發則血餘，而腎為之主，脾司手足，腎連牙齒，苟本臟之或衰，即所屬之先憊。能辨形色兮，似梃撞鐘；若昧朕兆兮，如石投水。</p>
<p>凡觀乎外，可知其內。紅色現而熱蒸；青色露而驚悸。如煤之黑兮，中惡之因。似橘之黃兮，脾虛之謂。白乃疳癆；紫為熱極。青遮口角，扁鵲難醫；黑掩太陽，盧醫莫治。年壽赤光兮，多生膿血；山根青色兮，頻見災危。能察色以知由，豈按圖而索驥。</p>
<p>朱雀貫於雙瞳兮，火入水鄉。青龍繞於四白兮，肝乘脾位。泄痢而帶黃者須防，咳嗽而拖藍者可畏。腹痛方殷，常面青而唇撮。驚風欲發，先頰赤而目瞪。火光焰焰兮，外感風寒；金氣浮浮兮，中藏癖積。乍黃乍白兮，疳熱連綿；又青又赤兮，風邪緊急。察之既精，治之得理。鴉聲魚口，枉費心機。肉折皮乾，空勞氣力。</p>
<p>氣色改移，形容變易。氣乏則囟門成坑，血衰則頭毛作穗。眼生哆淚兮，肝風澀目；口流涎沫兮，脾冷滯頤。面目虛浮，定膨脹而氣喘；眉毛顰蹙，則肚痛以多啼。蚘蛔兮脾胃漸敗，䘌瘡兮肛臟先虧。苟瞑眩而弗瘳，縱神仙亦何益。</p>
<p>手如數物兮，驚風將發；面如塗朱兮，心火已熾。坐臥愛冷兮，煩熱之攻；伸縮就暖兮，風寒之畏。肚大腳小，脾欲困而成疳，眼撐口張，勢已危而必斃。弄舌脾熱，解顱腎憊。重舌木舌，蓋熱積於心脾；便氣喘氣，實火浮於肝肺。齦宣息露，必是牙疳。哺露丁奚，多緣食積；唇乾作渴，腸鳴自利。夜啼分為四症，變蒸周於一歲。心熱欲言而不能，脾虛無時而好睡。病後失聲者腎怯，咳嗽失聲者肺痿。肚痛而清水流出者蟲，腹痛而大便酸臭者積。口頻撮而脾虛，舌長伸而火熾。龜胸是肺火脹於胸膈，龜背乃腎風入於骨髓。鼻乾黑燥兮，火盛金衰，肚大筋青兮，木強土潰。</p>
<p>丹瘤瘡疥，皆胎毒之流連；吐瀉瘧痢，乃積食之沾滯。不能吮乳者，熱在心脾；嘗欲俯臥者，火蒸腸胃。喜視燈火，煩熱在心；愛吃泥土，疳熱在脾。腹痛寒侵，口瘡熱積。臍風忌於一臘，火丹畏於周歲。驚自熱來，癇因痰致。吐泄而精神耗者則危，瘧痢而飲食減者必瘁。</p>
<p>驚本心生，風由肝致。搐分左右兮，證有順逆；藥分補瀉兮，病有虛實。急驚由於積熱之深，涼泄便宜；慢驚得於大病之後，溫補為貴。頭搖目竄而氣喘兮，上工莫醫；口禁鼻張而足冷兮，神丹何濟。閉目者無魂，狂叫者多祟。不知吞吐者，必見閻羅；反加悶亂者，終歸蒿里。既明症候，次知調理。</p>
<p>胎毒用甘草、黃連，食積用白朮、枳實。急驚搐掣，以導赤泄青；慢驚瘈瘲，以補中益氣。集聖去疳，備急治積。抱龍丸化痰鎮驚，胃苓丸補脾開胃。夜啼須退熱清心，哺熱必養血升提。理中止泄，香連止痢。積熱不除，涼驚丸大有神效；沉寒難療，養脾丸最為密秘。痰火交攻兮三黃丸，水穀不化兮一粒丹，柴苓治瘧，月蟾消痞。潮熱金花，咳嗽玉液。瘡疥者胡麻，丹瘤者涼膈。吐瀉而渴者，白朮可投；煩熱而渴者，益元為最。斑疹兮消毒，腹痛兮脾積。衄血、咳血者茅花，重舌、木舌者針刺。口瘡不愈者洗心，腹脹不食者平胃。五拗治喘，四苓利水。退黃消腫，胃苓加減以堪行；破積安蟲，集聖從容而可治。大抵嬰兒，易為虛實，調理最取其平，補瀉無過其劑，尤忌巴牛，勿多金石。辛熱走氣以耗陰，苦寒敗陽而損胃。如逢食積，解之不可或遲；若遇虛羸，補之尤為至急。才少俄延，便成勞斃。</p>

<h2>慈幼儆心賦</h2>
<p>醫門治例，幼科最難。腸胃脆而多傷乳食，筋骨嫩而易感風寒。易虛易實兮，變如反掌；或補或泄兮，貴若轉丸。咸多泄腎，酸甚扶肝。苦入心而寒涼損胃，辛走肺而燥熱傷元。欲求中正，無過平甘。或病須於瞑眩兮，勿犯其毒；且從治於權宜兮，但取其能。中病即已，救本為先。苟誤投於湯藥，即便致於損殘。此上工誓於活人，而良醫驗於折肱。</p>
<p>嘗聞法無一定，但占症候；醫不三世，勿服湯丸。病者詳於擇術，醫者務於救痊。視疾若己，見利勿貪。先察運氣兮，陽陰妙契；次觀形色兮，順逆瞭然。春夏陽而苦寒可用，在夫人之勇健；秋冬陰而辛溫可參，相其人之勞疳。既溫反補，以寒再宣，七神離散，五臟虧崩。雖留心於方脈兮，何補於世；反致人於傷夭兮，獲罪於天。是故胎疾兮急於解毒，食積兮利在消疳。治分二法，效可十全。襁褓未寧，但調其母；匍匐不快，當固其元。悲夫，腸胃中和，豈堪藥石；微乎，氣血稚弱，以漸發生。治非得已，病有卒然。如護風燭，心常凜凜；若惜掌珠，意惟拳拳。醫可補乎司命，應無忝於家傳。</p>
<p>且如病則熱起，熱則驚生。或治熱以熱，或攻熱以寒。熱在表而柴葛解肌可飲，熱在裡而芩連消毒急煎。積熱無如集聖，虛熱妙以調元。要在識夫脈色，不可妄投湯丸，貽終身之痼疾，促嬰兒之壽年。輕以變重，功不補患。徒委命於氣數，不詳審乎簡編。前車既覆，後轍猶然。魂魄遊於郊野，哭聲達於淵泉。識此之故，是誰之愆？嗟夫！渡蟻駕橋，放雀解樊。況伊萬物之靈，匪值一蟲之賤，不知謹密，遽爾輕泛。推惻隱之良心，如見入井；考聖賢之遺訓，如弗及泉。居易慮險，因蹶知便。證隨百出，治無一偏。燮調造化，保養真元。善攻不如善守，宜急不若宜緩。種杏成林，踵當年之董奉；植橘名井，見今日之蘇躭。奈何瀉久變痢，積久成疳，瘧久生痞，驚久成癇。未至留連兮，攻之宜速；已見沉疴兮，治之且緩。腸胃秘塞，急泄而已；氣血虛羸兮，急補而安。外毒急攻，毋令入腹；表邪急解，毋令再傳。余則緩而調理，常恐急而生變。若藥下咽，猶防其過；治或中病，勿張其能。知者常慮一失，死者不可復全。與其悔於已誤，孰若謹於未然。欲求魚兔，當守蹄筌。苟多方而治病，宜三複於斯言！</p>

<h1>卷之二</h1>

<h2>小兒總治法</h2>
<p>面赤發熱服涼驚，黃白髮熱用胃苓。</p>
<p>身熱便秘三黃下，瘦弱發熱集聖靈。</p>
<p>變蒸發熱用拿法，驚風導赤吞瀉青。</p>
<p>泄瀉胃苓用一粒，熱泄玉露散同行。</p>
<p>寒泄理中丸可服，泄渴白朮散生津。</p>
<p>痢疾保和同香連，瘧疾養脾瘧自平。</p>
<p>咳嗽玉液降痰氣，浮腫胃苓引燈心。</p>
<p>瘡疥胡麻丸最好，養脾最是保孩嬰。</p>
<p>蛔蟲寸白用集聖，臨時用藥細叮嚀。</p>

<h2>小兒初生臍風</h2>
<p>初生三五日，大便血嘗來。</p>
<p>黑色為胎糞，鮮紅實可哀。</p>
<p>初生便嘔吐，胞漿蓄胃中。</p>
<p>物盡吐自止，不止便為凶。</p>
<p>小兒初生十日內，少乳多啼常噴嚏。</p>
<p>急看喉中有珠泡，手法刮去免憂慮。</p>
<p>不看撮臍風，撮臍糞少通。</p>
<p>急用解毒散，便下得從容。</p>
<p>便閉肚膨脹，口緊咬唇青。</p>
<p>時時手足掣，臍風枉用心。</p>
<p>腹脹不便名鎖肚，口緊不乳是噤風。</p>
<p>目直叫哭盤腸吊，天吊身仰似角弓。</p>
<p>初生芽兒有此病，父母歡喜一場空。</p>

<h2>小兒變蒸</h2>
<p>小兒初生多變蒸，三十二日細推論。</p>
<p>如蠶之眠添智慧，遍身發熱不惺惺。</p>
<p>變蒸休用藥，三日自然安。</p>
<p>外感惺惺散，傷食保和丸。</p>
<p>惺惺散內用人參，甘桔川芎白茯苓。</p>
<p>細辛少許天花粉，防風白朮九味行。</p>

<h2>小兒胎疾</h2>
<p>胎熱甘草黃連湯，胎寒去連加桂方。</p>
<p>胎黃甘草加茵陳，胎驚辰砂一味良。</p>
<p>胎瘦胎肥浴體法，胎怯五軟用地黃。</p>
<p>此是家傳真口訣，兒孫記誦莫遺忘。</p>
<p>肝色多青心赤紅，脾黃肺白腎黑同。</p>
<p>黃白疳虛黑中惡，赤紅是熱青驚風。</p>

<h2>小兒五臟部位</h2>
<p>五臟有外候，不離正面間。</p>
<p>耳乃腎之竅，兩眼原屬肝。</p>
<p>鼻孔肺為主，脾唇心舌尖。</p>
<p>左頰屬木肝生風，右頰屬金肺位同。</p>
<p>額為心火頦為腎，準頭鼻土位居中。</p>

<h2>五臟外症</h2>
<p>肝主風兮目直視，悶亂叫哭不安寧。</p>
<p>心主熱兮不得眠，驚悸飲水口舌乾。</p>
<p>脾主困兮多好睡，吐泄瘦弱病成疳。</p>
<p>肺主氣兮多咳嗽，皮乾發枯喘綿綿。</p>
<p>腎主虛兮胎氣弱，小兒腎弱養應難。</p>

<h2>看小兒虎口紋</h2>
<p>今人專看虎口紋，風關氣關命關分。</p>
<p>風關病輕氣關重，命關若過死將臨。</p>
<p>青筋紅熱黑勢惡，直輕斜曲重看云。</p>

<h2>脈法</h2>
<p>小兒一指分三位，息數須將六至看。</p>
<p>七至八至數為熱，三至四至遲虛寒。</p>
<p>堅實平和無病斷，細小沉遲有病看。</p>
<p>按《全嬰》等書云：小兒三歲以前，虎口第一指上寅卯關有脈弦見者，可驗病狀。男左女右，視之脈弦。從寅關起不至卯關者，病易治；若連於卯關者，病難治；如寅連卯，卯過辰關者，十難救一；若脈弦小或短者，病可治。宜參視之。</p>

<h2>小兒夜啼</h2>
<p>啼哭直視熱在肝，瀉青一服即時安。</p>
<p>啼哭面赤熱在心，導赤麥冬效如神。</p>
<p>面赤四逆腹中痛，益黃散用薑湯送。</p>
<p>夜夜見燈多拗哭，父母嬌愛多不足。</p>

<h2>驚風</h2>
<p>急症驚風面赤青，目多直視不回睛。</p>
<p>手足搐掣牙關緊，只怕昏昏再不醒。</p>
<p>驚來掐人中，虎口拿總筋。</p>
<p>瀉青吞導赤，調理治涼驚。</p>
<p>口眼若喎斜，看他左右偏。</p>
<p>太陽頰下穴，一焠自然安。</p>
<p>面色黃白神氣弱，昏睡眼閉口不合。</p>
<p>口鼻氣冷手足冷，慢驚搐掣時時作。</p>
<p>慢驚不可醫，調元急補脾。</p>
<p>漸醒能食吉，常昏不乳危。</p>

<h2>吐瀉</h2>
<p>吐瀉之病麵皮黃，有寒有熱有食傷。</p>
<p>面紅熱渴難調理，手足寒時急補陽。</p>
<p>吐瀉常治法，胃苓一粒丹。</p>
<p>脾積去食積，理中補虛寒。</p>
<p>吐瀉多傷食，益黃散最宜。</p>
<p>看他病略退，胃苓再補脾。</p>
<p>泄瀉常如是，消積功十全。</p>
<p>泄瀉作渴白朮散，人參白朮茯苓甘。</p>
<p>木香乾葛藿香葉，常與服之真格言。</p>
<p>瀉甚烏梅加入，熱甚知母門冬。</p>
<p>虛煩甘草炙用，隨症用藥不同。</p>

<h2>痢症</h2>
<p>痢疾赤白皆是熱，眉頭常皺腹中疼。</p>
<p>身熱脈大難得退，脈小身涼容易安。</p>
<p>痢症多因積，先下木香丸。</p>
<p>保和消滯積，止痢用香連。</p>
<p>痢疾若不食，噤口痢必殘。</p>
<p>急用香連散，能食保平安。</p>

<h2>小兒瘧疾</h2>
<p>瘧疾之色多黃黑，病至作寒又作熱。</p>
<p>早瘧日來容易退，晚瘧間來治宜急。</p>
<p>初瘧要吐痰，斬鬼及常山。</p>
<p>久瘧不可截，養脾功十全。</p>

<h2>咳嗽</h2>
<p>形寒飲冷即傷肺，咳嗽病來多痰氣。</p>
<p>面青氣促怕生驚，面白胸高還不吉。</p>
<p>初咳要發表，五拗並九寶。</p>
<p>氣實葶藶宜，肺虛阿膠好。</p>
<p>嘗服玉液丸，桔梗同甘草。</p>
<p>五拗用麻黃，杏仁甘草強。</p>
<p>石膏臘茶葉，發汗是奇方。</p>
<p>九寶蘇葉配麻黃，薄荷陳皮杏桂良。</p>
<p>大腹桑白同國老，烏梅加入細參詳。</p>

<h2>疳癆</h2>
<p>面色黃白是疳癆，肚大頸細頭髮焦。</p>
<p>折乳傷食大病後，只怕時時熱來潮。</p>
<p>疳症無多法，集聖初如神。</p>
<p>面色轉紅活，相間服胃苓。</p>
<p>潮熱如不退，只防作慢驚。</p>

<h2>傷食</h2>
<p>傷食發熱面赤紅，噁心腹脹痛時攻。</p>
<p>露身怕熱不思食，症與傷寒大不同。</p>
<p>傷食宜調解，藿香散最宜。</p>
<p>保和同與服，病退再養脾。</p>
<p>若是成驚搐，惟有下為奇。</p>
<p>傷食發熱用藿香，蘇葉香附樸陳蒼。</p>
<p>半夏黃連甘草曲，茯苓引子用生薑。</p>

<h2>傷風</h2>
<p>傷風發熱面色赤，煩悶不困不思食。</p>
<p>喜人偎抱畏風寒，作渴便秘里必實。</p>
<p>惡寒病在表，敗毒拿法好。</p>
<p>裡實三黃丸，驚來瀉青討。</p>
<p>敗毒發表用羌防，升麻柴葛解肌涼。</p>
<p>前胡枳殼甘草桔，蘇葉人參用成湯。</p>

<h2>浮腫</h2>
<p>小兒浮腫因風濕，久瘧脾虛亦有之。</p>
<p>上身主風下主濕，養脾一法少人知。</p>
<p>遍身若浮腫，胃苓丸里求。</p>
<p>避風行浴法，切莫用牽牛。</p>
<p>肚大有青筋，燈火叉處焠。</p>
<p>內用集聖丸，胃苓宜相兼。</p>

<h2>口瘡</h2>
<p>小兒鵝口瘡，白屑珠礬良。</p>
<p>赤瘡姜連散，洗心是奇方。</p>
<p>洗心散內用麻黃，荊芥薄荷赤芍當。</p>
<p>白朮將軍同國老，臨時煎服入生薑。</p>
<p>牙根爛成瘡，走馬疳可防。</p>
<p>出血又作臭，文蛤散宜良。</p>
<p>小兒口流涎，滯頤脾虛寒。</p>
<p>益黃加蒼朮，不治必成疳。</p>

<h2>疥瘡</h2>
<p>遍身疥瘡是何因，血熱由來胎毒成。</p>
<p>痛癢不安多夜哭，切莫入腹命歸冥。</p>
<p>疥瘡不宜搽，胡麻丸最佳。</p>
<p>入腹宜解毒，驚來莫治他。</p>

<h2>雜症</h2>
<p>小兒吃泥土，脾熱用泄黃。</p>
<p>集聖相間服，疳成不可當。</p>
<p>小兒合面睡，原來熱在心。</p>
<p>只用導赤散，瀉心與涼驚。</p>
<p>小兒多白尿，落地如米泔。</p>
<p>胃苓鹽湯送，數服解憂煎。</p>
<p>小兒大便清，邪熱在肝經。</p>
<p>只用泄青丸，此法效如神。</p>
<p>小兒糞焦黃，邪熱在脾鄉。</p>
<p>誰知泄黃散，端的是奇方。</p>

<h2>五臟外症</h2>
<p>吐泄瘧疾病在脾，驚風心肝兩經為。</p>
<p>咳嗽哮喘病在肺，發稀骨軟腎元虧。</p>

<h2>五軟病症</h2>
<p>如小兒五軟，有胎稟不足軟者，有大病後軟，有誤服涼藥軟者。胎稟軟者，地黃丸主之；大病後軟者，參苓白朮丸主之；誤服涼藥軟者，加味八味地黃丸主之。</p>
<p>以上三症，若不急治，有傷真元，久則成痿，以致不可治者多矣。</p>

<h1>卷之三</h1>

<h2>水鏡訣</h2>
<p>夫陰陽運合，男女成形，已分九竅四肢，乃生五臟六腑。部位各分，順逆難明，若憑寸口之浮沉，必乃橫亡於孩子。須明虎口，辨別三關，參詳用藥，必無差誤。未至三歲，止看虎口，男左女右，從第二指第一節名風關，若脈見，初交病；第二節為氣關，脈見，則難治；第三節為命關，脈見，則死。又當辨其色，若三關青，四足驚；三關赤，水驚；三關黑，人驚。紫色泄痢；黃色雷驚。三關脈通度，是急驚之症，必死，余病可治。或青或紅，有紋如線一直者，是乳食傷脾及發熱驚；左右一樣者，是驚與積齊發。有三條或散，是肺生風痰，或似齁䶎聲，有青是傷寒及嗽，如紅火是瀉，有黑相兼主下痢。紅多白痢，黑多是赤痢；有紫相兼加渴不虛。虎口脈紋亂，乃氣不和也。蓋脈紋見有色者，曰黃、紅、紫、青、黑，由其病甚，色能加變。如黃紅之色，紅盛作紫；紅紫之色，紫盛作青；紫青之色，青盛作黑；青黑之色，至於純黑之色者，不可治矣。又當辨：長珠形，主夾積傷滯，肚腹疼痛，寒熱，飲食不化。來蛇形，主中脘不和，積氣攻刺，臟腑不寧，乾嘔。去蛇形，脾虛冷積泄瀉，神困多睡。弓反里形，主感寒熱邪氣，頭目昏重，心神驚悸，倦怠，四肢稍冷，小便赤色。弓反外形，主痰熱，心神恍惚，作熱，夾驚夾食，風癇證候。鎗形，主痰熱，痰盛生風，發搐驚風。魚骨形，主驚痰熱。水字形，主驚，積熱煩躁，心神迷悶，夜啼痰盛，口噤搐搦。針形，主心肺受熱，熱極生風，驚悸煩悶，神困不食，痰盛搐搦。透關射指，主驚、風、痰、熱四症，皆聚在胸膈不散。透關射指，主驚風惡候，受驚傳入經絡，風熱發生，十死一生，難治。此十三位形脈，悉有輕重，察其病根，則詳其症。</p>

<h2>指掌形圖</h2>
<p>虎口者，叉手處是也。</p>
<p>三關者，二指三節是也。</p>
<p>風關，第一節寅位是也。</p>
<p>氣關，第二節卯位是也。</p>
<p>命關，第三節辰位是也。</p>
<p>辰關，指頭上節。</p>
<p>卯關，指中節。寅關，指下節。</p>
<p>命關死候。</p>
<p>氣關病深。</p>
<p>風關易治。</p>
<p>末關命門。</p>
<p>中關氣候。</p>
<p>初關風候。</p>
<p>凡嬰兒生下一月至三歲以前，須看虎口脈次指，辰節為命關，次氣關，次風關。所謂初得風關，病猶可，傳入氣命，定難陳。湯氏云：小兒初生至五歲，血氣未定，呼吸至數太過，必辨虎口脈色，方可察病之的實。男驗左手，女驗右手。蓋取左手屬陽，男以陽為主；右手屬陰，女以陰為主。然男女一身均具此陰陽，左右兩手亦當參驗。左手之紋，病應心肝；右手之紋，病應肺脾。知此消息，又得變通之意。驚風初得，紋出虎口。或在初關，多是紅色。傳至中關，色赤而紫。看病又傳過，其色紫青，病熱深重；其色青黑而紋亂者，病深重。若見純黑，危惡不治。大抵紅者風熱輕，赤者風熱甚，紫者驚熱，青者驚積，青赤相半，驚積風熱俱有，主急驚風。青而淡紫，伸縮來去，主慢驚風。或紫系、青系、黑系，隱隱相雜，似出不出，主慢脾風。脈紋從寅關起，不至卯關者，病易治。若連卯關者，有病難治。如寅關連卯，侵過辰關者，十難救一。若脈紋小或短者，看病不妨。如紋勢彎曲入里者，病雖重而症順，猶可用力。紋勢弓反出外，駸駸靠於指甲者，斷不可回。其有三關紋，如流珠流來，三五點相連，或形於面，或形於身，危惡尤甚。</p>
<figure>
<img alt="指掌形圖">
</figure>

<h2>入門候歌三首</h2>
<p>五指梢頭冷，驚來不可安。</p>
<p>若逢中指熱，必定是傷寒。</p>
<p>中指獨自冷，麻痘症相傳。</p>
<p>女右男分左，分明仔細看。</p>
<p>初起寅關淺，紋侵過卯深。</p>
<p>生枝終不治，辰位實難禁。</p>

<h2>辨虎口指脈紋訣</h2>
<p>氣紋黃盛作紅，紅盛作紫，紫盛作青，青盛變黑，純黑則難治矣。</p>
<p>黃色無形者，即安樂脈也。紅若無形，亦安寧脈也。有前數樣形者，即病之脈。次第而變，初作一點，於氣多紅，脈至風關。其病危急，純黑分明，不可療治。</p>
<p>左有紅紋似線形，定知發熱又兼驚。右有雙紋如左狀，脾傷驚積一齊生。紋頭有似三叉樣，肺氣生痰夜作聲。青赤應是傷寒症，只是空紅泄定生。</p>

<h2>又歌</h2>
<p>虎口亂紋多，須知氣不和。</p>
<p>色青驚積聚，下乳泄如何。</p>
<p>青即慢驚發，入掌內瘹多。</p>
<p>三關忽通過，此候必沉疴。</p>
<p>指上辨青紋，認是四足驚。</p>
<p>虎口脈青色，是豬犬馬驚。</p>
<p>黑色因水撲，（黑脈見者，因撲跌在水起。）</p>
<p>赤色火人驚，（赤脈見，是人驚，或跌在火而起。）</p>
<p>紫色多成瀉，（紫脈見者，主泄痢。）</p>
<p>黃色是雷驚。（黃脈見者，因大雷聲著嚇。）</p>
<p>曲反風還盛，（曲是傷寒，並有乾熱。）</p>
<p>彎弓食上蒸，（曲外是傷寒。）</p>
<p>但看叉手處，方可辨其形。</p>
<p>凡小兒三歲以上有病，深重危急者，指甲口鼻多作黑色，蓋兒脈絕神困，症候惡極，雖有良藥，斷斷乎不可保矣。</p>

<h2>額印堂山根論歌</h2>
<p>額紅大熱燥，青色有肝風。</p>
<p>印堂青色見，人驚火則紅。</p>
<p>山根青隱隱，驚遭是兩重。</p>
<p>若還斯處赤，泄燥定相攻。</p>

<h2>年壽論歌</h2>
<p>年上微黃為正色，若平更陷夭難禁。</p>
<p>忽有黑色痢疾候，霍亂吐泄黃色深。</p>

<h2>小兒正面圖</h2>
<figure>
<img alt="小兒正面圖">
</figure>

<h2>小兒腦背圖</h2>
<figure>
<img alt="小兒腦背圖">
</figure>

<h2>察形色之圖</h2>
<figure>
<img alt="察形色之圖">
</figure>

<h2>鼻準論歌</h2>
<p>鼻準微黃赤白平，深黃燥黑死難生。</p>
<p>人中短縮吐因痢，唇反黑候蛔必傾。</p>

<h2>正口論歌</h2>
<p>正口常紅號曰平，燥干脾熱積黃生。</p>
<p>白主失血黑繞口，青黑驚風盡死形。</p>

<h2>承漿兩眉論歌</h2>
<p>承漿青色食時驚，黃多吐逆痢紅形。</p>
<p>煩躁夜啼青色吉，久病眉紅死症真。</p>

<h2>兩眼論歌</h2>
<p>白睛青色有肝風，若是黃時有積攻。</p>
<p>或見黑睛黃色現，傷寒病症此其宗。</p>

<h2>風池氣池兩頤論歌</h2>
<p>風氣二池黃吐逆，煩躁啼哭色鮮紅。</p>
<p>更有兩頤胚樣赤，肺家客熱此非空。</p>

<h2>兩太陽論歌</h2>
<p>太陽青色驚方始，紅色赤淋萌孽起。</p>
<p>要知死症是如何，青色從茲生入耳。</p>

<h2>兩臉論歌</h2>
<p>兩臉黃為痰實咽，青色客忤紅風熱。</p>
<p>傷寒赤色紅主淋，二色請詳分兩頰。</p>

<h2>兩頤金匱風門論歌</h2>
<p>吐蟲青色滯頤黃，一色顧間兩自詳。</p>
<p>風門黑疝青驚水，紋青金匱主驚狂。</p>

<h2>觀形色總論</h2>
<p>凡看小兒疾病，先觀形色，而切脈次之。蓋面部氣總見，而五位青色者，驚積不散，欲發風候；五位紅色者，痰積壅盛，驚悸不寧；五位黃色者，食積癥傷，疳候痞癖；五位白色者，肺氣不實，滑泄吐痢；五位黑色者，臟腑欲絕，為疾危惡。面青、眼青肝之病，面赤心之病，面白肺之病，面黃脾之病，面黑腎之病。先別其五臟，各有所主。次者，稟受盈虧，胎氣虛實，陰陽二症，補過泄多，當救其失。兼五臟六腑，表裡各有相應，若能辨其標本，則神聖工巧矣。</p>

<h2>五位所屬</h2>
<p>心為額，南方火。脾為鼻，中央土。腎為頦，北方水。肺為右頰，西方金。肝為左頰，東方木。</p>

<h2>命門部位圖</h2>
<figure>
<img alt="命門部位圖">
</figure>

<h2>部位歌</h2>
<p>中庭與天庭，司空及印堂。</p>
<p>額角方廣處，有病定存亡。</p>
<p>青黑驚風惡，體和滑澤光。</p>
<p>不可陷兼損，唇黑最難當。</p>
<p>青甚須憂急，昏黯亦堪傷。</p>
<p>此是命門地，醫師妙較量。</p>

<h2>觀形色西江月</h2>
<p>凡觀小兒形色，青筋肝熱生風，兩腮紅赤熱相攻，黃色脾虛取用。黑氣腹疼中惡，白為疳瘦生蟲，如逢兩目赤重重，此是南柯一夢。</p>
<p>要識小兒症候，但將外貌推求，黃浮肌削痞瘕瘤，唇撮面青痛楚。吐舌唇焦內熱，昏昏好睡脾枯，手掀足掣是驚由，疳疾青筋大肚。</p>
<p>眼角眵生肝熱，口邊涎出脾寒，頭毛稀豎血將干，胞腫脾家濕顯。鼻孔黑焦肺熱，耳輪枯燥腎傳，胸高氣促肺炎炎，熱憊囟門腫陷。</p>
<p>小兒精神忽減，麵皮黃白無常，必因乳食內成傷，生冷油磨阻擋。或致腸鳴泄痢，或為瘧疾難當，忽然膨脹漸羸尪，癖積蟲疳四樣。</p>
<p>小兒麵皮紅赤，兩腮恰似塗朱，風寒外感事何如，潮熱無時來去。或作驚風症治，或為斑毒驅除，口乾啼哭淚如珠，睡困昏昏不乳。</p>
<p>小兒病形各樣，慢恁眼力消詳，懷中畏縮怕風涼，合面睡時熱瘴。夜啼熱煩腹痛，目直驚搐須防，長吁短氣熱中藏，痰喘上衝火旺。</p>
<p>要辨小兒死症，囟門陷下成坑，喉中拽鋸氣和痰，目閉無神拘管。口唇牙齦粉白，手足恰似冰寒，鴉聲口緊眼常翻，不乳遺尿悶亂。</p>

<h2>小兒脈法</h2>
<p>小兒一歲以上，可以看脈。以六至為平和，七至八至為實熱，三至四至為遲，為虛弱。</p>

<h3>西江月</h3>
<p>小兒尋常脈候，一息六至平和，七至八至熱生多，三四虛寒病作，九十連來雀啄，一二動指成疴，微虛緊數不差訛，補泄分明用藥。</p>
<p>身熱脈浮可汗，身寒脈細休攻，喘咳緊數藥無功，腫脹細微堪痛。泄痢沉遲易愈，痘出洪數宜從。若還吐衄怕浮洪，腹疼沉微拈弄。</p>

<h2>小兒治法</h2>
<p>如足脛熱，兩腮紅，煩渴不止，頭面好露，揚手擲足，大便閉，小便黃，身壯熱不退，此宜涼解，不可服熱補之藥。</p>
<p>如足脛冷，面㿠白，吐泄不止，肚腹作痛，身常偎人，眼珠青，口中冷氣，潮熱往來不定，此宜溫補，不可服涼利之藥。</p>

<h3>西江月</h3>
<p>小兒不宜熱藥，兩腮俱帶緋紅，手足壯熱火烘烘，六脈浮洪亂動。小便赤黃又澀，大便秘結難通。掀衣飲水喜當風，煩渴鼻流血湧。</p>
<p>小兒不宜涼藥，麵皮㿠白無精，四肢厥冷似寒冰，六脈浮微隱隱。吃乳不消嘔吐，糞如鴨屎頻頻，神虛腹疼眼珠青，病久成疳諸症。</p>
<p>小兒純陽之體，陰陽不可偏傷，常帶三分飢與涼，此個孩兒易養。大抵脾常不足，有餘肝氣須防，不寒不熱藥為良，切忌妄行孟浪。</p>
<p>小兒何為難治，古今號曰啞科，脈無可視如之何，口不能言病作。父母時時驚怕，醫人試驗誠多，從容對症用方藥，有甚難為捉摸。</p>
<p>凡小兒一歲以下有病者，多是胎毒，只宜解毒為急。小兒二歲以上有病者，多是食積，只宜消積補脾而已。其餘症治方略，詳載各門之下，故不重述。</p>

<h1>卷之四</h1>

<h2>胎毒門</h2>
<p>凡小兒在月內有病者，皆胎毒也，並治其母。</p>
<p>小兒月內，腸胃甚脆，氣血未充，若有微疾，不可妄施補瀉，恐臟腑一傷，將貽患終身，或致夭命矣，可不戒哉！如不得已而用湯丸，毋伐天和，中病即止，又不可過劑也。乳母服藥，必別擇乳母，而後可補可泄也。若蓐母（生兒之母，謂之曰蓐）自乳，又不可亂投湯藥，蓋產後之婦，氣血甚虛，有補無瀉。苟兒有熱病，而用涼藥，則犯產後之禁，必害其母；如有溫補，則反加小兒之熱，又害其子。醫者人之司命，而可妄為乎？必須斟酌謹慎，勿損陰德。</p>
<p>凡小兒才生即死者，急看兒口中懸雍齶上，必有泡塞住，即以手指摘破其泡，速以軟絹拭血令淨，若血入咽即死。</p>
<p>凡小兒初生氣絕不能啼者，必因難產，或因冒寒所致。急以綿絮重裹其兒，抱於懷中，不可便斷臍帶。卻把胞衣置銚中，向炭火上煮之，又作油炷點著，於臍帶上往來燎之，須臾熱氣由臍入腹，便能啼，方可洗浴斷帶。若不如此急救之，而先斷帶者，多死不治。</p>
<p>凡小兒初生下，被寒風所吹，鼻塞，服藥不得者，用天南星為末，生薑自然汁調成膏，貼囟門上，自愈。</p>
<p>凡小兒生後，或月內，或百日，氣急喘滿，目閉眼赤眵多，神困呵欠，遍身壯熱，小便赤澀，大便不通，時復驚煩，此胎熱也。因母平日嗜食辛甘熱物，貪服暖藥而致，用涼驚丸、黃連解毒湯治之。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　甘草　木通　生地　連翹　薄菏（少許）　川芎　陳皮　燈心（三根）</p>
<p>水煎服。</p>
<p>小兒生後，覺口冷腹熱，腸滑泄瀉，昏昏多眠，或夜多啼，此胎寒也。因母喜啗生冷，或外感多服涼藥，致傷胎氣。理中丸、勻氣散治之。</p>
<p><u>勻氣散</u></p>
<p>桔梗　陳皮（各二錢）　砂仁（五分）　茴香（炒五分）　生薑（炮二分）　粉草（炙四分）</p>
<p>加木香二分，共為細末，每服一字，棗湯調下。</p>
<p>凡小兒生下浮胖，遍身紅色，滿月以後，漸漸瘦弱，五心煩熱，此名胎肥；又有生下，面無晶光，身無血色，目無精彩，肌肉消削，此名胎怯。並內服八物湯，外用沐浴法。</p>
<p><u>八物湯</u></p>
<p>當歸　川芎　生地　白芍（炒）　人參　白朮　甘草　白茯苓（各等分）</p>
<p>薑棗引，水煎服。</p>
<p><u>沐浴法</u></p>
<p>天麻　蠍梢　硃砂（各五分）　白礬　青黛　麝香（少許）　烏梢蛇肉（酒浸燒為末，各三錢）</p>
<p>共研為細末，每用三錢，水三碗，桃枝連葉一握。同煎十沸，待溫熱沐之，慎勿沐背。</p>
<p>凡小兒生下，遍身面目皆黃，狀如金色，身上壯熱，大便不通，小便如梔子汁，乳食不思，皆胎黃也。因乳母受熱，而傳於胎。用地黃湯：</p>
<p>生地　赤芍　天花粉　赤苓　川芎　當歸　豬苓　澤瀉　木通　甘草　茵陳</p>
<p>水煎溫服。</p>
<p>凡小兒生後，壯熱翻眼，握拳咬牙，身腰強直，涎潮嘔吐，搐掣驚啼，腮縮囟開，或頰赤面青眼合，更胎風眼合，不可誤作慢脾風，妄用湯藥。要視其眉間氣色，若紅赤鮮碧者可治，若黯黑青黑者不治；虎口指紋曲入里者可治，出外者不治。此因妊婦調食乖常，飲酒嗜肉，忿怒驚撲，母有所觸，胎必感之；或外挾風邪，有傷於胎，故子乘母氣，生下即病。以至聖保命丹，金銀、燈心湯下。</p>
<p><u>至聖保命丹</u>　治小兒驚風內瘹，腹肚堅硬，睡不安，夜多啼哭，急慢驚風，眼目上視，手足搐掣，不省人事者，服之即效。</p>
<p>全蠍（去毒十四個）　防風（二錢）　白附子（煨一錢）　南星（炮用牛膽制）　蟬蛻（去毒）　殭蠶（炒去毒）　天麻（各二錢）　辰砂（另研一錢）　麝香（五分）</p>
<p>上為末，揉糯米飯丸，如黃豆大，金箔為衣，每一丸，鉤藤燈心湯磨下。有熱加牛黃、腦子、硼砂。</p>
<p><u>又方</u>　加羌活二錢，此藥常服，鎮心化痰。</p>
<p>袖珍方云，胎驚治法，宜解散風邪，利驚，化痰，調氣，貼囟。甚則以朱銀丸利之。面青拳搐者，宜服保命丹、鉤藤散、全蠍散。初生嬰兒，難以用藥，凡有此候，急取豬乳，細研辰砂、牛黃、麝香各少許，調抹入口中即愈矣。</p>
<p><u>全蠍散</u>　治胎驚癇、諸驚。</p>
<p>全蠍（一個）　琥珀　辰砂（各少許）</p>
<p>麥冬湯調下一字。</p>
<p><u>獨活湯</u>　治胎驚，發散風邪。</p>
<p>羌活　獨活（各二錢）　檳榔　天麻　麻黃（去節）　甘草（各一錢）</p>
<p>上銼散，每服一錢，白朮煎，內加天南星末，蜜調貼囟門上。</p>
<p>凡小兒生下，大便三五日不通者，此名鎖肚。胎中受熱，熱毒壅盛，結於肛門，閉而不通，無復滋潤。急令婦人以溫水漱口，吸咂兒前後心，並臍下手足共七處，凡四五次；再用輕粉五分，蜜少許，溫水化開，時時少許服之，以通為度。如更不通，即是肛門內合。或以金簪透而通之，須刺入二寸，以香油和蜜納入孔中，糞出為快也。若肚脹不乳，呻吟聲至於七日，難可望生矣。</p>
<p>凡小兒生即不吮乳，此由拭口不淨，穢物入腹，致令腹滿氣短，不能吮乳；或有嘔吐，乳不得下；或胎中受寒，令兒腹痛不乳，此則多啼。以木香散治之。</p>
<p>木香　甘草　茯苓　乾薑　木瓜　丁香　陳皮（各等分）</p>
<p>共為細末，每用一字，水煎綿蘸，滴與食之。</p>
<p>臍風者，由斷臍之後，被水濕風冷之氣所乘，流入心脾，令腹脹臍腫，四肢強直，日夜多啼，不能吮乳。甚則發為風搐，若臍邊青腫，撮口不開者，是為內搐，不治。爪甲黑者，死。</p>
<p>撮口者，由胎氣挾熱，兼風邪入臍，流入心脾二經，故令舌強唇青，口撮喘急，啼聲不出，不乳。若口出白沫，四肢冷者，不治。最為急候，一臘之內尤甚。</p>
<p>噤風者，眼閉口噤，啼聲漸少，吮乳不得，口吐白沫，大小便皆不通。亦由胎中受熱，熱毒流入心脾，故形於喉舌間也。</p>
<p>以上三症，其名雖異，受病則一。初生七日之內，得此症者多死。若不急救，坐以待斃，良可憫焉！</p>
<p>但見小兒噴嚏多啼，身熱不乳，急看兒上齶，有小泡子如粟米大，或以指甲，或以挖耳，輕輕刮去，以綿絹纏指，蘸溫水拭淨其血，勿令下咽，即便安妥，不必服藥，誠良方也。</p>
<p>凡小兒牙關緊急，已成撮口驚搐者，先用撮風散以開其關，次用控痰散以吐其痰，然後用益脾散和胃，保命丹祛驚，即愈。若手足攣拳，口噤不開者，不治。</p>
<p><u>撮風散</u></p>
<p>金腳蜈蚣（炙，令毒不明）　全蠍（炒，去毒五個）　直殭蠶（炒，去嘴）　麝香（少許）</p>
<p>共為末，每用一字，以豬乳和之，滴入口中即開。</p>
<p><u>控痰散</u></p>
<p>蠍尾　銅青（各五分）　硃砂（一錢）　膩粉（一錢）　麝香（少許）</p>
<p>共為末，每服一字，臘茶清化下，吐出風痰。</p>
<p><u>益脾散</u></p>
<p>白茯苓　草果（煨）　木香　甘草　陳皮　厚朴（炙）　蘇子（各等分）</p>
<p>為細末，每服五分，薑棗煎湯，細細服之。</p>
<p>亦有熱在胸膛，伸縮無時，呃呃作聲，弩脹其氣，以致臍突浮腫。此非斷臍使之然也，但散其血愈，加減龍膽湯主之。</p>
<p>膽草　前胡　黃芩　防風　麥冬　桔梗　赤芍　茯苓　甘草　大黃（煨，減半）</p>
<p>水煎服，得下便止。</p>
<p>亦有肚脹青筋，吊腸卵疝，內氣引痛而撮口者，皆腸胃鬱結不通致之，治法貴乎疏利，紫霜丸量而與之，一粒金丹尤妙。</p>
<p><u>紫霜丸</u></p>
<p>代赭石（醋淬七次）　赤石脂（各一兩）　杏仁（去皮尖，五十粒）　巴豆（去殼，心，三十粒）</p>
<p>先將杏仁、巴豆研如泥，後入二石和勻，浸蒸餅丸，如粟米大。百日者三丸，周歲者五丸，看兒肥怯加減，微利為度。</p>
<p>凡臍中出汗不幹者，用龍骨（五分），黃柏（一錢），枯礬（二分半），為末敷之。</p>

<h3>西江月</h3>
<p>小兒初生病症，許多名狀難同，胎驚撮口與臍風，寒熱肥瘦黃腫。嘔吐昏昏不乳，臍間血水溶溶，未曾滿月病多凶，好似風中燭弄。</p>
<p>最是臍風可畏，三朝八日為殃，初時噴嚏似風傷，啼哭時時噪嚷。急看口中上齶，刮除白泡中央，展揩惡血細端詳，莫使下咽為上。</p>
<p>若是不知此法，致令泡落兒吞，忽然腹脹滿膨膨，臍腫青筋雜亂。撮口昏昏不乳，目瞪又緊牙關，啼聲不出命歸天，勸取衣棺早辦。</p>
<p>胎黃狀如金色，身熱大便難通，小便黃赤色朦朧，少乳時時舌弄。此症傳來無毒，脾胃濕熱相攻，涼驚涼血解重重，保養胎元𠔥用。</p>
<p>外有胎肥胎瘦，此為稟賦虛盈，父精母血必多虧，兒子不充元氣。此個甚難調理，愚夫不曉支持，一朝有病致傾危，卻把命來抵對。</p>
<p>生下時時吐奶，不思乳食昏沉，此由穢物下咽門，拭洗未能潔淨。會厭中間阻隔，太倉上口留凝，豁痰順氣藥通神，炮製生薑作引。</p>
<p>生下忽然腹脹，臍中血水淋漓，斷臍將息失調宜，客水邪風侵入。外用灰礬黏貼，速令乾較為奇，若還撮口哭聲稀，縱有靈丹莫治。</p>
<p>小兒生下數日，睡中啼哭多驚，此因母氣失和平，常因七情為病。以致胎胞氣逆，痰涎流入脾心，治須順氣更清神，鎮墜痰涎始定。</p>
<p>胎熱遍身如火，發斑丹毒風瘡，神昏目痛又驚彰，大小便難哭嚷。此是母貪煎炒，溫經暖藥乖方，急須解毒令清涼，甘草黃連為上。</p>
<p>胎寒生來吐泄，大便滑溜多清，腹中疼痛哭聲頻，面色青黃不定。平日母喜生冷，寒邪傳入胞經，治宜丸散用甘溫，可保嬰兒性命。</p>
<p>要識小兒治法，方為得業專門，半周一歲病何因，胎毒單單見症。自後飲食漸減，肥甘之變須明，此時脾胃病多尋，消食養脾法定。</p>
<p>胎病要行涼解，無如甘草黃連，若加脾弱病相參，參朮陳皮有驗。巴豆牽牛丁桂，砒硫白汞青鉛，俱傷正氣損真元，誤了孩兒命短。</p>

<h2>變蒸門</h2>
<p>變蒸者，此小兒正病也。蓋變者異也，每變畢，性情即異於前，何者？長生臟腑之意也。蒸者，蒸蒸然熱也，萬物生於春而長於夏者，以陽主生長，將於人亦然。故變蒸足，始及成人，氣血充實，骨肉堅牢也。小兒此症，譬如蠶之有眠，龍之脫骨，虎之轉爪，而變化同也。故每三十二日有變蒸，至五百七十六日，大小變蒸足矣。輕則發熱微汗，其狀似驚；重則壯熱，脈亂而數。或汗或煩，啼哭燥渴。輕者五日解，其候與傷寒相似；亦有變蒸之餘感寒邪者。但變蒸則耳冷，上唇發泡如濁珠，若寒邪傳之，則寒熱交爭而腹痛，啼哭之聲，旦夜不絕。治此之法，輕者不須服藥，重者以平和飲子微表之。熱甚便結，以紫霜丸微利之。若吐泄不乳多啼者，調氣散治之。</p>
<p><u>平和飲子</u></p>
<p>人參（五分）　白茯苓（去皮，一錢）　甘草（五分）　升麻（煨，五分）</p>
<p>稟受弱者，加白朮一錢，肥實者不用，水煎服。</p>
<p><u>調氣散</u></p>
<p>木香　香附　厚朴（炙）　人參　陳皮　藿香　炙草</p>
<p>薑棗，水煎。</p>
<p>凡小兒初生，有用黃連、甘草以下胎糞者。若兒壯實者，稟胎足固無所損，若稟胎怯弱者，受此寒涼之劑，不生異症者鮮矣。</p>
<p>如有里症鬱結，壅閉不通者，欲下胎毒，只用淡豆豉濃煎湯與之，五七口其毒自下，又能助養脾胃，真奇方也。</p>
<p>凡小兒當變蒸之時，不熱不驚，別生他症，是為暗變，此受胎氣壯實故也。</p>
<p>凡小兒初生，多有灸百會者，取其可以截風也。殊不知地有南北，人有勇怯，北人用灸固宜，南人用之，無益而有害也。</p>
<p>凡小兒初生下，有身破裂者必死；陰囊白者必死；陰不起者必死；無糞門者必死；股間無肉者必死；哭如鴨聲者必死。周歲之間，顱骨開解，齒未生，手足攣縮，膝如鶴節，身體瘦弱，長大不能行立者，此皆胎氣不足者也，多夭。若筋實則多力；骨實則行早；血實則形瘦多發；肉實則少病；精實則伶俐多語笑，不怕寒暑；氣實則少發而體肥。此皆受稟胎氣之有餘也，多壽。</p>

<h3>西江月</h3>
<p>小兒變蒸何以，三十二日為期，精神改變異常時，發熱蒸蒸昏睡。或遇風寒外感，或𠔥乳食傷脾，留連苦楚莫差池，好把湯丸調治。</p>
<p>大抵六十四日，初生腎與膀胱，再生心火與小腸，肝膽第三長養，肺與大腸居四，脾胃五次消詳，三焦胞絡不同鄉，只為有名無狀。</p>
<p>小兒變生智慧，自然發熱如蒸，昏昏不乳欠醒醒，恰似蠶眠相應。醫者不須妄治，父母何必憂驚，三日之後自和平，只怕別生形症。</p>
<p>若遇風寒外感，惺惺散子堪行，內傷乳食不安寧，保和養脾𠔥進。咳嗽參蘇飲子，吐泄理中最靈，驚來搐掣用泄青，導赤亦宜選進。</p>

<h2>驚風門</h2>
<p>驚自是驚，風自是風，要分別明白，不可混治。</p>
<p>凡小兒因聞非常之聲，見異類之物，或為爭鬥推跌，或大小禽獸之類致驚，其神氣結於心而痰生焉。痰壅氣逆，遂成搐搦。口眼歪斜，口吐涎沫，一時即醒，如常無事。或一日一發，或間日再發，或三五日一發，或半年一發，一年一發。若不急治，變成癇疾，而為終身之痼病也。治法當先利痰順氣，後用清心安神。</p>
<p>風者，或因外感風寒，或內傷飲食，以致熱生痰，痰壅發搐，口眼歪斜，手足牽動，氣喘涎潮，口吐涎沫，發過略醒。潮熱不退，須臾復發。治法當先泄火開痰，後用安神清熱。</p>
<p>驚風有二、有急有慢。急驚風為實為熱，當涼驚泄火；慢驚風為虛為寒，當用溫補。不可一例混治，以致殺人。</p>
<p>急驚風，小兒元氣素實，或因恐怖，或因風，或因飲食而發，要審明白，詳察症候，而施治法。</p>
<p>如曾因恐怖而成驚者，其症發過即如常，若無他症，先以利痰丸順氣開痰，後用安神丸調之。</p>
<p>如曾因風寒而成者，其症發過略醒，須臾復發。輕者，只用導赤散吞下瀉青丸，以清心肝之火，後以抱龍丸治痰，保命丹除風，緩緩調之。</p>
<p>如曾因傷飲食而成者，其症發過略醒，醒多啼哭，須臾復發，不思乳食。先用陳皮麥芽湯吞下五色丸，推去食積，則痰自降。後用辰砂五苓散治之。</p>
<p>凡治急驚風，除飲食一症外，不可遽用下藥，必先問其大小便何如。若小便清，大便通利，其邪在表，只用導赤散加防風，或瀉青丸去大黃加全蠍作湯服之，去表中之寒邪，其風自退。後以辰砂五苓散調之，不可犯麝香，恐引邪入里。若小便赤澀，大便秘結，此邪在裡，可用五色丸下之，後用抱龍丸、保命丹調之。</p>
<p>凡急驚發時，牙關緊閉不醒者，急用艾炷灸兩手大指頭少商穴，合而灸之，在甲旁，即醒，而後施治法。</p>
<p>凡急驚風，痰氣喘急者，用定喘湯加竹瀝治之。痰涎湧塞不開者，可用吐法。</p>
<p>凡病退後潮熱不退者，此脾虛熱也，四君子湯加炒乾姜以治之。若小便赤，大便硬，兩腮紅，足脛熱者，此餘邪未盡，不可作虛看。用涼驚丸，薄荷、燈心煎湯吞下調之。</p>
<p>凡病退後，睡眠不醒者，此心脾二經之邪熱未盡去也，安神丸治之。</p>
<p>凡小兒但有潮熱，觀其兩頰若赤，目上視者，必作驚風也。當先以導赤散，加燈心、薄荷以去其熱，次用抱龍丸以安其神，則風自不作矣。</p>
<p><u>利痰丸</u></p>
<p>南星（牛膽者，二錢）　枳殼（麩炒，二錢）　陳皮（去白，一錢）　大黃（二錢）　牽牛頭末（二錢）</p>
<p>共為末，皂角煮水為丸，燈心湯吞下。</p>
<p><u>安神丸</u></p>
<p>黃連（去毛，二錢）　石菖蒲（二錢）　遠志（去心，二錢）　歸身（二錢）　麥冬（去心，二錢）　茯苓（二錢）　山梔子（二錢）</p>
<p>共為末，煉蜜為丸。</p>
<p><u>導赤散</u></p>
<p>生地　木通　甘草　竹葉（七皮）</p>
<p>水煎服。</p>
<p><u>五色丸</u></p>
<p>黃芩（二錢）　大黃（二錢）　黃連（二錢）</p>
<p>共為末，分作五份，滴水為丸。一份青黛為衣，名青丸子；一份硃砂為衣，名紅丸子；一分輕粉為衣，名白丸子；一份皂角燒灰存性研末為衣，名黑丸子；一份雄黃為衣，名黃丸子。</p>
<p><u>瀉青丸</u></p>
<p>歸身　川芎　大黃（煨）　羌活　防風　梔子仁　膽草（各等分）</p>
<p>為末，煉蜜為丸，如梧桐子大，竹葉湯下，此瀉肝火之藥也。如發熱，去大黃，加全蠍、殭蠶（炒），竹葉引，水煎服。</p>
<p><u>辰砂五苓散</u></p>
<p>豬苓　澤瀉　赤茯苓　白朮　官桂</p>
<p>燈心引。水煎，調辰砂末服之。</p>
<p><u>定喘湯</u></p>
<p>陳皮（去白）　南星（制）　梔子仁　軟石膏　杏仁泥　薄荷葉　赤茯苓</p>
<p>上銼，水煎，入竹瀝服之。</p>
<p><u>吐法</u></p>
<p>用土牛膝根，取自然汁灌入口中，其涎自吐。</p>
<p><u>灸法</u></p>
<p>先以兩手大指相合，於甲側縫中處，燒三壯；又以兩手中指相合，於甲側縫中心燒一二壯。即醒者可治，不知痛者不治。</p>
<p><u>祖傳治驚風</u>　先以雄黃解毒丸利去痰熱，後用涼驚丸退火，再用保命丹、安神丸調之。</p>
<p>發急驚風之時，手撮，目閉，口張，囟陷，魚口，氣促急，吐沫，噴藥，昏睡不語不啼，口禁絕，不飲食。遺尿失屎，面赤如朱，此皆不治之症。</p>
<p>凡慢驚風，小兒胎稟素弱，又多疾病，或大吐大瀉，或久瘧痢，誤服吐下之藥，皆致精神虛耗，漸成搐搦，十無一全。如元神虛弱，又逢恐怖而成慢驚者，其症發過即如常。但多啼哭，睡中不寧，不可妄用利痰之藥。先以青州白丸子，加青礞石以去其痰，次服安神丸，以四君子湯送下。如因吐瀉大病之後，手足逆冷昏睡，目睛微露，而無搐掣者，此欲成慢驚症也。急溫補之，四君子湯加熟附子一片，愈後以集聖丸調之。</p>
<p>凡吐泄大病之後，已成慢驚風者，其症口目牽引，手足搐掣，以醒脾散驅風醒脾。風退，以參苓白朮散為丸服之。</p>
<p>凡慢驚風痰氣壅塞者，不可妄用通利之藥，只以青州白丸子加青礞石治之。</p>
<p>凡慢驚風不醒不退者，灸百會、三里（男左女右）、乳下。</p>
<p>凡慢驚風已退，或有餘熱，不喜飲食，先服四君子湯一二劑，後以集聖丸調之。</p>
<p><u>青州白丸子</u></p>
<p>半夏（炮）　川烏（去皮尖，各五錢）　南星（二錢）　白附子（五分）</p>
<p>共為末，以絹袋盛之，用水擺盡為度，放磁器內，日曬夜露，一日一換其水，換水必攪數轉，候如玉片，再研細；又用青礞石一錢，另研細，以焰硝五分，同石末入銅鍋內，煅通紅，硝盡為度，令冷，入上藥和勻，以糯米粉打糊為丸，以薄荷湯入蜜調送下，其痰自墜。</p>
<p><u>調元湯</u></p>
<p>黃耆（一錢）　人參（五分）　甘草（炙二分半）　白芍（五分）</p>
<p>水煎服。《內經》云：「熱淫於內，以甘瀉之，以酸收之。」此之謂也。</p>
<p><u>醒脾散</u></p>
<p>人參　全蠍　白附子　天麻　甘草（炙）　白茯苓　木香　白朮　石菖蒲　蓮肉</p>
<p>水一鍾，薑棗引，煎服。有熱去木香。</p>
<p>凡治驚風，不可妄用辛香、寒涼之藥，蓋辛香能竄元氣，寒涼反傷脾胃也。</p>
<p>凡小兒夜啼哭，目睛上視，日間略定者，此內瘹也。蓋因受寒氣，腹中作痛，以至痛極目定。以燈心燒灰，調滾水化下理中丸，痛止病退。</p>
<p>如小兒日夜啼哭，目睹物不轉，身後仰者，此外釣也。蓋食積作痛，其身強直，而目亦定，以灶心土泡滾水，送下丁香脾積丸，病退痛止。</p>
<p>如小兒忽然氣急涎響，口眼如常，手足不搐，身無熱者，此乍感風寒，肺經受邪也。用芎蠍散一服即退。</p>
<p>如小兒腹脹喘滿，胸膈氣急，兩肋扇動，陷下作坑，兩鼻竅張，悶亂，咳嗽作渴，聲嗄，涎痰壅塞，大小便閉，此馬脾風也。若不急救，或不識症，死在旦夕。宜先用牛黃奪命散下之，後用白虎湯平之。</p>
<p>如小兒兩手輪指，目略直視，此白虎證也。但身不熱，手足不掣，宜向本年白虎方取土泡湯，吞蘇合香丸。</p>
<p>如小兒口吐黃白沫，面色變易，喘急腹痛，反側掣搐，其狀似驚，但眼不上竄，此由精神虛弱，外感客氣，卒暴觸忤，名客忤耳。先視其口中上齶左右，有小腫泡，急摘破之，更以蘇合香丸薑湯化下；外以降香、皂角二味燒熏；次用淡豆豉三合，水浸濕搗爛為丸，如雞子大，摩兒囟上及兩足心各五六遍，次摩臍心良久，拍開有毛，即擲之。</p>
<p>如小兒久咳，腹脹作喘，胸高氣逆。目睛上視，手足牽引，此名龜胸，熱證也。但身無熱，以葶藶丸治之。（方見咳嗽門。）</p>
<p>以上之證，俱與驚相似。不可一例施治。誤者，恐傷其命。</p>
<p><u>芎蠍散</u></p>
<p>川芎　蓽茇（各一錢）　蠍梢（二分）　細辛（一分）　半夏（酒浸一宿，湯泡七次，焙乾，一分）</p>
<p>共為末，熱湯調服，或薄荷湯化下亦可。</p>
<p><u>牛黃奪命散</u></p>
<p>白牽牛　黑醜（各半生半熟取頭，五分）　大黃　枳殼（各一錢）</p>
<p>共為末，冷漿水調下。涎多者，加蜜少許。</p>
<p>如小兒痘疹驚搐者，只用導赤散調辰砂末一服，不可妄用涼驚、抱龍、保命等藥。</p>

<h3>西江月</h3>
<p>小兒驚風證候，須分急慢根由，急因實熱泄中求，慢是虛寒溫補。急為風寒食積，慢是久病綢繆，如斯辨認不差謬，才顯神功妙手。</p>
<p>急驚卒然大熱，因而熱則生風，痰涎哽塞角張弓，口眼歪邪沉重。先使嚏驚妙散，後用導赤疏通，合灸少商與中衝，瀉青涼驚選用。</p>
<p>若遇風寒外感，先鬚髮汗為宜，瀉青丸子作湯醫，加上蠍蠶二味。果是內傷飲食，又當解利相隨，三黃五色任施為，積去熱除驚止。</p>
<p>慢驚先因久病，精神漸減脾虛，懨懨沉困氣長吁，口眼張開不乳。搐搦時時齊發，四肢逆冷何如，理中附子急驅除，不瘥艾灸左乳（即期門穴也，小兒乳下一指）。</p>
<p>要認驚風死症，面如紅粉塗搽，口張涎出緊關牙。目直氣粗聲啞。喉內響似拽鋸，毛端汗如珠下，目瞪眼小不須誇，大叫悶亂尤怕。</p>
<p>搐掣乍作乍止，痰氣無了無休，昏昏鼾睡喚難蘇，乳食不知吞吐。屎尿遺時少覺，四肢僵直難收，啼聲不出汗如油，縱有靈丹難救。</p>
<p>小兒驚風咳嗽，人人當作風哮，大黃白黑二牽牛，人參分兩勻用。四味俱研為末，蜜水調和稀稠，灌將一字下咽喉，免得胡針亂灸。</p>
<p>兩指伸縮名為搐，十指開合搦之形。掣則連身常跳起，顫而四體動搖鈴。身仰向後為反症，手如挽弓引狀成。怒目覷高是攛樣，睛露不活是斯真。</p>

<h2>嘔吐門</h2>
<p>聲物俱有曰嘔，無聲有物曰吐，有聲無物曰乾嘔。其症有三，有寒、有熱、有食積。</p>
<p>寒吐者，吐時少而出物多，此胃受寒也。以理中丸治之，或用胃苓丸，以煨薑湯送下。寒吐，食不化，惡食。</p>
<p>熱吐者，吐時多而出物少，此胃有熱也。以二陳湯加黃連、煨姜治之。熱吐，食化，不惡食。</p>
<p>食積吐者，要分三焦，明白俱惡食。如食即吐者，此積在上焦胃口也，宜用淡鹽湯吞一小鐘，後以鵝翎毛掃喉中，令其吐盡舊積。後以二陳湯加乾薑（煨）、神麯（炒）、麥芽（炒）、砂仁治之。如食入之時而吐者，此積在中焦下口，過小腸上口處也，先以丁香脾積丸通去舊積，後以二陳湯加消導藥治之。如早食晚吐，晚食早吐者，此積在下焦，小腸下口，過大腸上口處也，先以丁香脾積丸下之，後以二陳湯加消導藥治之。</p>
<p>消導藥：神麯、麥芽炒、砂仁、香附子之類。</p>
<p>如嘔吐久而諸藥不納者，此胃口壯火，關格之病，用理中湯，以童便、豬膽汁同炒，煎服即安。</p>
<p>如嘔吐蛔蟲者，以理中丸加烏梅一個，附子一小片，黃柏、川椒一服，即愈。</p>
<p>凡嘔吐後瘦弱者，只以集聖丸調之。</p>
<p><u>理中湯</u>　此藥性熱，所以治寒。</p>
<p>人參　甘草（炙）　乾薑（炒）　白朮</p>
<p>水一鍾煎服。若為丸，煉蜜臨時為丸，滾水送下。</p>
<p>如諸吐不納藥者，此陰盛拒陽也。必加童便、豬膽汁者，取童便味酸鹹性寒，膽汁味苦性寒，以和理中湯服，則陰體漸消，陽性乃發。故《內經》曰：「伏其所主，先其所因」之謂也。</p>
<p><u>二陳湯</u>　此藥性平，寒熱通用。</p>
<p>陳皮　半夏（薑汁泡七次）　白茯苓　甘草</p>
<p>水一鍾、生薑三片引。嘔吐加白朮、煨乾姜，此二味嘔吐必用之藥也。挾熱而吐者，加煨乾薑、炒黃連。凡傷食加神麯、炒麥芽、砂仁、香附子、山楂。此五味消導必用之藥。</p>
<p><u>祖傳治嘔吐</u>　只用胃苓丸，煨乾薑湯吞治之，不問寒熱。</p>
<p>凡吐不止，服藥無效加煩悶者，不治；吐不止，目上竄，頭後仰者，不治。</p>

<h3>西江月</h3>
<p>嘔吐病原不一，治者要辨根由，嘔則聲物一時有，有物無聲曰吐。更有有聲無物，此名噦而乾嘔，又當辨症藥分投，有甚難為措手。</p>
<p>冷吐乳食不化，腹脹喘急無時，面白眼慢氣多籲，吐有夾食清水。此因風寒入胃，或食生冷傷虧。抑傷宿乳胃中虛，不納乳食吐出。</p>
<p>熱吐唇紅面赤，乳食入而難消，吐物黃色遍身燒，大熱渴多煩躁。此因暑氣在胃，或食熱物煎熬，胃氣因熱不和調，氣逆遂成吐了。</p>
<p>積吐如何分曉，眼胞浮面微黃，足冷肚熱異尋常，晝輕夜重魔瘴。宿冷滯在脾胃，故吐黃酸水漿，或吐酸餿氣難當，此傷宿食形狀。</p>
<p>小兒傷乳吐者，形症更要消詳，乳才哺後吐浪蕩，或少停而吐止，此因乳食無度，脾氣弱不能當，速將空乳令兒嘗，乳節吐止為上。</p>
<p>吐症既分明白，治法猶貴精微，冷吐理中湯最宜，熱吐五苓去桂。積吐九轉靈應，下後枳朮調之，傷乳而吐藥方奇，三稜散子為最。</p>
<p>嘔吐乳食不納，任是湯藥難嘗，此謂陰盛格孤陽，時醫都無主張。參朮煨姜熟附，烏梅童便尤良，豬膽同入慢消詳，此法應如影響。</p>
<p>吐嘔諸藥不納，我有絕勝奇方，定吐飲子妙非常，半夏官桂二樣，生薑獨宜多取，甘草少用為良，依方製造水煎嘗，仍用生薑為上。</p>
<p>一等蛔蟲吐出，此為蛔多厥陰，烏梅丸子效如神，一服蛔安吐定。又有咳而吐者，化痰順氣須明，如常嘔吐只胃苓，湯用生薑作引。</p>
<p>嘔吐不止之症，分明說與醫人，如服正藥俱無靈，更加煩躁亂悶。嘔吐只是不止，目睛上竄須危，頭往上仰魄如飛，只好安排後事。</p>
<p>再附噁心一症，有痰有熱有虛，三症生薑通用之，藥宜隨症區處。若是胃中有熱，二陳加上芩連，薑汁炒過共同煎，各用一錢最驗。</p>

<h2>泄瀉門</h2>
<p>泄瀉皆屬於濕，其症有五，治法分利、升提為主。</p>
<p>如泄瀉清白，或不思食，食不化，腹痛，四肢冷，面㿠白，作渴者，此寒濕也。其症多得於冬，以五苓散作引，吞化理中丸即止。如寒甚不止者，理中湯加附子一片，即效。</p>
<p>如泄瀉注成黃水者，或渴或不渴，此風濕也。其症多得於春，五苓散加防風、羌活、蒼朮治之。</p>
<p>如泄瀉清水，腹中無痛者，此純濕也。以胃苓湯治之。</p>
<p>如泄瀉腸滑不止者，此濕傷元氣下陷也。宜升提之。四君子湯加升麻、防風、烏梅治之。或用四君子湯吞下七味肉豆蔻丸。</p>
<p>如泄瀉酸臭，腹痛，面黃帶熱，不喜飲食者，此食積也。先以丁香脾積丸推去其積，後以集聖丸調之。</p>
<p>如泄瀉日久，目無神氣，口略張，四肢冷，好睡者，以四君子湯調之，多服有效。甚者，加熟附子一片，煨姜服之。</p>
<p>如泄瀉日久，身熱不退，只以調元湯治之。此虛熱也，不可妄用寒涼之藥。甚者，加乾薑即效。</p>
<p>凡久泄後，人事黃弱者，以集聖丸調之。</p>
<p><u>五苓散</u>　入膀胱、腎經。</p>
<p>豬苓（去皮）　澤瀉　白朮　赤茯苓　官桂</p>
<p>此分利陰陽之藥也，水一鍾煎服。</p>
<p><u>理中丸</u></p>
<p>人參　白朮　甘草（炙）　乾薑　加砂仁　藿香　烏梅　附子　豬苓　澤瀉</p>
<p><u>玉露散</u>　此藥性寒，所以治熱。</p>
<p>寒水石　滑石（各一兩）　甘草（五錢）</p>
<p>共為末，每服一錢，冷水調下，或用此藥煎湯吞理中丸。</p>
<p><u>胃苓湯</u></p>
<p>蒼朮　厚朴　豬苓　澤瀉　白朮　白茯苓　甘草　陳皮　官桂</p>
<p><u>四君子湯</u>　此藥性溫，可以補元氣之不足。</p>
<p>人參　白朮　白茯苓　甘草</p>
<p>水一鍾，姜三片，棗二枚，溫服。</p>
<p><u>肉豆蔻丸</u>　此藥性溫而澀，所以止滑也。</p>
<p>肉豆蔻（麵煨，五錢）　赤石脂（七錢五分）　廣木香（二錢）　砂仁（二錢）　枯礬（七分半）　白龍骨（五錢）　訶子肉（五錢）</p>
<p>共為末，水糊為丸，陳米湯送下。</p>
<p><u>白朮散</u>　此治渴之聖藥也。</p>
<p>人參　白朮　白茯苓　木香　藿香葉　甘草（各一兩）　乾葛（二錢）</p>
<p>共為粗末，每用一二錢，姜三片引，水煎服。袖珍方：非乾葛，乃乾薑也。</p>
<p><u>調元湯</u>　此治虛熱之聖藥也。</p>
<p>黃耆　人參　甘草</p>
<p>如熱不退，加乾薑即效。如身熱手足寒者，加熟附一片，煎服。</p>
<p><u>祖傳治泄瀉</u>　不問寒熱，只用胃苓丸，兼一粒金丹，以車前草同炒米煎湯服之。</p>
<p>凡久泄不止，精神美好，面赤唇紅者，不治。</p>
<p>凡久泄不止，作渴不休者不治。</p>
<p>凡久泄不止，脈沉細，遍身皮冷，不思乳食，泄滑不止者，不治。</p>
<p>凡久泄不止，又成驚搐者，不治。</p>
<p>凡久泄不止，變成赤白痢疾者，不治。</p>
<p>凡久泄不止，大肉消瘦者，不治。</p>
<p>凡久泄不止，大孔如竹筒不收閉者，不治。</p>
<p>凡泄瀉不問輕重，只要飲食如常，不生他症者，不難於治而易愈。</p>

<h3>西江月</h3>
<p>泄瀉秘傳治法，等閒不語時人，如今傳授與子孫，勝似良田萬頃。初次且行淡滲，溫中以次施行，三升四塞救兒嬰，此方古今永定。</p>
<p>泄瀉緣何發作？只因水穀無分，所以淡滲法先行，小便長而泄定。滑石車前赤茯，人參白朮豬苓，甘草澤瀉與砂仁，薑棗煎來作引。</p>
<p>淡滲行而又泄，須防穀氣中虛，溫中丸散不須拘，斷要一時泄住。白朮人參砂藿，炙姜炙草依書，烏梅熟附澤瀉豬，引用生薑作主。</p>
<p>溫中若還不效，中氣下陷須提，人參白朮與黃耆，甘草乾姜炙取。澤瀉豬苓赤茯，升麻熟附烏梅，柴胡白芍與當歸，引用薑棗休棄。</p>
<p>以此升提未止，只因腸滑難收，塞用通用更何憂，擊其惰歸可救。參朮炙姜炙草，烏梅粟殼相扶，升麻訶子芍歸求，薑棗同煎溫服。</p>
<p>法盡泄還不止，其間吉少凶多，假饒父母不奈何，要你醫時休錯。參朮附陳薑棗，砂仁豆蔻粟訶，乾蟾蘆薈木香和，赤石醋丸服可。</p>
<p>泄瀉時常作渴，白朮散子如仙，人參白朮木香兼，乾葛藿香葉片，甘草茯苓七味，烏梅加上同煎，臨時再用伏龍肝，此法千金不換。</p>
<p>泄瀉如常治法，不須別用心機，只將黑藥胃苓醫，三服自然停息。如此不能取效，依前四法支持，吾將心法教人知，才顯明醫三世。</p>
<p>五六月間泄瀉，其中寒少熱多，理中丸子救沉疴，玉露散子真可。不效四苓作引，同吞理中調和，自然泄止莫蹉跎，活得人多念我。</p>
<p>夏月人多泄瀉，腹疼煩熱相攻，豬苓澤瀉茯苓同，甘草乾姜炙用。白朮黃連滑石，人參砂藿溫中，升麻提氣妙無窮，更把烏梅煎送。</p>
<p>泄瀉症雖各別，大要總因濕成，風寒水濕中人身，乳食過傷為病。此由中氣不足，脾胃積滯惟深，以致氣脈不調勻，故成泄瀉之症。</p>
<p>人皆知有泄瀉，當分泄瀉原根，冷則滑泄故無聲，熱則腸結為病，故致裡急後重，如水注下有聲，此名瀉症熱緣因，下麵條陳病症。</p>
<p>細詳冷泄病症，腹中卻似雷鳴，注下清白水之形，面白肚疼等症。甚者四肢厥逆，此由兒弱溺寒侵，寒氣在腹刺攻人，故令兒患此症。</p>
<p>熱泄色多黃赤，小便不利心煩，口燥作渴定咽乾，食乳必粗可驗。此由腸胃挾熱，冷風乘入其間，熱氣相傳不安然，所以兒有此患。</p>
<p>冷熱不均泄瀉，瀉色赤白不常，或水或谷病為殃，小兒如何抵當。此由先冷後熱，先熱腹被冷傷，腸胃宿虛虧中臟，冷熱交攻勻當。</p>
<p>更有傷食而泄，腹痛乳食不思，面黃寒熱異常時，糞多酸臭氣味。此由乳食過度，以致脾胃傷虧，遂成泄瀉病孩提，小兒多有此疾。</p>
<p>又有一般暑泄，多於暑熱之時，亦宜寒熱症中推，庶好斟酌用劑。若或瀉瀼赤白，腹大青筋發稀，或吃泥土出蛔時，此為疳泄之疾。</p>
<p>又見泄多青色，亦或發熱有時，睡臥不安忽驚悸，乃是驚泄之勢。此是脾受肝克，速宜及早醫之，若變脾風瘈瘲時，就是神仙費力。</p>
<p>泄瀉注成黃水，或渴不渴殊途，此在風溼症中求，多病春天時候。如或瀉下清水，腹中不作痛楚，此是純濕病之由，症傳陰雨之後。</p>
<p>泄瀉腸滑不止，濕傷元氣陷虛，藥宜升舉救兒軀，才得醫理妙處。如或泄瀉日久，身熱仍舊不除，此為日久氣多虛，調元湯劑宜服。</p>
<p>丹溪治泄之法，瀉水腹無痛疼，此症因受濕分明，四苓二術當增。飲食入胃不住，宿穀不化猶存，此則氣虛病之根，參朮升麻芍並。</p>
<p>腹內痛甚而瀉，瀉後痛減覺輕，此在食積症中尋，神麯大黃推滲。一痛一泄成障，泄火更見腸鳴，火症分明用四苓，加上芩通尤勝。</p>
<p>大端泄瀉諸症，治法條貫分明，醫人最要細詳論，尤貴依方對症，調治只依前法，澀藥切莫先行，若然胡亂敗章程，反變痢膿重症。</p>
<p>泄瀉不知症候，許久不止堪憂，精神美好渴無休，面赤唇紅消瘦。脈理若見沉細，滑泄不乳煩愁，變痢赤白或驚搐，大孔如筒不救。</p>

<h3>辨症歌</h3>
<p>便黃因內熱，紅赤黑同看，綠白青皆冷，疳肥食臭酸。</p>
<p>久泄四肢癱，才驚睡不安，熱疳毛作穗，涎嗽定傷寒。</p>
<p>肝冷傳脾臭綠青，焦黃脾土熱之形，肺腸寒色膿黏白，赤熱因心腎熱成。</p>

<h3>身熱發厥歌（久泄多虛熱）</h3>
<p>氣虛多發厥，血虛須作熱，氣血若俱虛，身熱手足厥。</p>

<h2>吐瀉門</h2>
<p>吐瀉名曰霍亂，其症有三：有寒、有熱、有食積。</p>
<p>凡上吐下瀉，兩腮紅赤，遍身熱，口作渴，吐瀉時多而出物少者，此屬於熱。用五苓散煨乾姜治之，或用煨薑湯澄冷調服益元散，神效。</p>
<p>凡上吐下瀉，面㿠白，足冷，腹痛，多啼哭，不作渴，吐瀉時少而出物多者，此屬於寒，用理中湯治之。甚者，加附子烏梅效。此上二症，皆不阻乳食。</p>
<p>凡吐瀉出物酸臭，面黃，不喜飲食，腹常作痛者，此食積也。以丁香脾積丸推去其積，後以集聖丸調之。</p>
<p>凡吐瀉久，身瘦作熱者，只用集聖丸治之。</p>
<p><u>祖傳治吐瀉</u>　不問寒熱虛實，只用胃苓丸，煨薑湯送下，即安。</p>
<p><u>益元散</u>　又名六一散，又名天水散。</p>
<p>滑石（六兩）　甘草（一兩）</p>
<p>為細末，或煎服，或冷水調服。</p>
<p>凡吐瀉不止，作渴不休者，不治。加驚搐者，不治。口舌生瘡，手足冷，身熱，此陰降陽升脾氣中絕，不治。</p>

<h3>西江月</h3>
<p>大凡男女吐瀉，陰陽順逆當明，男逢瀉甚下無陰，女子吐多不應。出物多而數少，此為寒盛相侵，如逢物少數頻頻，火盛細加體認。</p>
<p>吐瀉若是同見，此名霍亂陰陽，只用一劑理中湯，上吐下瀉了當。服此若還不效，再加熟附煨姜，烏梅作引是良方，莫與俗人誇獎。</p>
<p>吐瀉時時作渴，諸般湯藥無靈，飲水飲湯腹膨膨，束手坐觀死症。急用伏龍飲子，時時與吃調停，須臾吐止火邪寧，才與理中對症。</p>
<p>吐瀉分為三症，食積寒熱當知，面黃糞臭惡乳食，此症方為食積。若是身熱作渴，宜為熱症祛除，面白身寒腹痛時，正是虛寒之疾。</p>
<p>食積宜行轉取，靈應去積為宜，如逢熱症又何如，益元五苓為主。寒症理中可用，甚加附子烏梅，寒熱總用胃苓奇，吞用乾薑煎水。</p>

<h2>痢疾門</h2>
<p>痢疾不問赤白，皆屬濕熱，或以赤為熱，白為寒者，非也，亦有食積而成者。其治法有補有泄。赤白濕熱皆有，但熱症腹痛，濕症腹不痛。</p>
<p>凡痢有赤者，此濕熱傷在血分，從小腸中來也。以四物湯加黃連、黃芩、黃柏治之。</p>
<p>凡痢有白者，此濕熱在氣分，從大腸中來也。以四君子湯加黃連、蒼朮治之。</p>
<p>凡赤白相雜者，此血氣俱傷。以八物湯加黃連、黃芩、黃柏、蒼朮、滑石治之。</p>
<p>以上三症，有後重者，俱加檳榔、枳實。</p>
<p>凡治痢疾，不問赤白。但初起之時，裡急後重，腹中脹痛者，先用三黃丸、大承氣湯下之，後用香連丸調之。</p>
<p>凡痢赤白日久，人事虛弱，原未經下者，若下之，則人事虛，而不可損其不足；若不下，則積不去而難愈。只用保和丸，連服數次，俟腹痛止為度，後以香連丸調之。</p>
<p>凡治痢不可妄用巴豆、牽牛，只用三黃丸穩當。</p>
<p>凡痢有鮮血者，用清血丸，以車前草、陳米煎湯送下。</p>
<p>凡痢有白涎，久不止者，用固腸丸，以陳米飲送下。</p>
<p>凡暑月痢純血者，以益元散、炒過滑石，加紅曲為丸，陳米飲送下。</p>
<p>凡赤白痢脫肛者，此氣下陷也。宜升提之，和中丸以升麻湯吞之。</p>
<p>凡赤白痢嘔吐不食者，此名噤口痢，用木香則失之溫，用山藥則失之閉，只以參苓白朮散，加石菖蒲末，陳米飲調下，胸次一開，自然思食。</p>
<p>凡痢止後，身熱不退，或人事瘦弱者，只用集聖丸調之。</p>
<p><u>芍藥湯</u>　行血則便膿自愈，和氣則後重自除。</p>
<p>白芍（二錢）　歸尾　黃連　黃芩（各一錢）　大黃（七分）　甘草　檳榔　木香　桂心（各五分）</p>
<p>上細切作一服，水碗半，煎一碗，空心服。如病初後重急迫者，倍加大黃，加芒硝一錢。若痞滿氣不宣通者，加枳實一錢。</p>
<p><u>四物湯</u></p>
<p>當歸　川芎　白芍　熟地黃</p>
<p>加黃連、黃芩、黃柏，水煎溫服。</p>
<p><u>四君子湯</u>（見泄瀉門）</p>
<p>加黃連、黃芩、蒼朮，水煎服。</p>
<p><u>八物湯</u>（見胎毒門）</p>
<p>加黃連、黃芩、黃柏、蒼朮、滑石、枳殼、檳榔。</p>
<p>水煎，空心溫服。</p>
<p><u>三黃丸</u></p>
<p>黃連　黃芩　大黃（各等分）</p>
<p>為末，神麯糊丸，木香檳榔湯送下。</p>
<p><u>大承氣湯</u>　此通腸去積之藥。</p>
<p>枳殼　厚朴　大黃　芒硝　甘草</p>
<p>加檳榔，水煎服。</p>
<p><u>保和丸</u>　凡食積脾胃虛者，用此藥。</p>
<p>山楂肉（一兩）　神麯（炒）　半夏　白茯苓　陳皮　萊菔子　連翹（各五錢）　麥芽（炒，一兩）　甘草（三錢）</p>
<p>共為末，蒸餅和丸，如粟米大，米飲送下。</p>
<p><u>清血丸</u></p>
<p>槐米（炒）　荊芥穗　枳殼（麩炒）　側柏葉（醋炒，各等分）</p>
<p>為末，醋糊丸，陳米湯送下。</p>
<p><u>固腸丸</u>（即二根丸）</p>
<p>紅椿樹根白皮　白椿樹根白皮（各等分）</p>
<p>為末，米糊丸，陳米飲送下。</p>
<p><u>清六丸</u>　即益元散加紅曲是也，血痢者此方主之。</p>
<p>滑石（炒，一兩）　甘草（二錢半）　紅曲（去殼炒，五錢）</p>
<p>為末，米糊丸，陳米湯送下。</p>
<p><u>和中丸</u></p>
<p>黃連（炒）　陳皮（各五錢半）　澤瀉　車前子　白茯苓　山藥　白朮　木香　石蓮肉　肉豆蔻（麵包火煨）　乾薑（炒）　人參（各二錢）</p>
<p>共為末，醋糊丸，陳米飲送下。如脫肛者，升麻湯送下。</p>
<p><u>參苓白朮散</u>　此藥性平，補助脾胃之藥也。</p>
<p>人參　白朮　白茯苓　山藥　白扁豆（薑汁炒）　甘草　桔梗　薏苡仁　石蓮肉（各一兩）</p>
<p>加石菖蒲一兩，共為末，陳米湯化服。</p>
<p><u>祖傳治痢</u>　不問赤白，只用保和丸、香連丸調之。</p>
<p>凡痢久，大熱、大渴不退者，不治。</p>
<p>凡痢日久，六脈洪數，面赤身熱者，不治。</p>
<p>凡痢日久，作渴不止者，不治。</p>
<p>凡痢日久，嘔吐不食，服藥無效者，不治。</p>
<p>凡痢日久不止，下紫血成塊者，不治。</p>
<p>凡痢日久，下黑水，如屋漏塵水者，不治。</p>
<p>凡痢日久，大肉瘦削折者，不治。</p>
<p>凡痢久，脫肛出寸余者，不治。</p>
<p>凡痢久，轉作驚搐者，不治。</p>
<p>凡痢變作泄瀉，飲食如常者，易治。</p>

<h3>西江月</h3>
<p>痢疾古名滯下，食積濕熱相參，腸鳴腹痛不能安，裡急後重無遍。赤乃小腸火盛，白自大腸邪傳，愚醫以白作寒看，辛熱亂行丸散。</p>
<p>治痢無過二法，河間秘訣流傳，行氣和血術中仙，管取十全無變。氣行後重自止，血和下痢自安，寒涼淡滲禁辛甘，不怕年深日遠。</p>
<p>凡痢先行通藥，黃連枳殼檳榔，多加酒蒸過大黃，或用三黃推蕩。若是虛人忌此，且從消導推詳。保和丸子是仙方，只要認病停當。</p>
<p>下後痛除裡急，再將赤白消詳，赤痢無過剪紅方，白痢固腸穩當。赤白相兼不愈，香連丸子高強，術精鄉郡把名揚，奪取錦纏頭上。</p>
<p>若遇時行痢疾，排門一樣無差，頭疼身痛慢吁嗟，疫癘氣行須怕。先用人參敗毒，次將承氣推詳，然後察脈看減加，虛實分明調他。</p>
<p>痢久前法不止，氣陷腸滑無停，急將涼藥與提升，固澀兼行甚穩。參朮升麻歸芍，烏梅粟殼連芩，乾薑訶子赤茯苓，粳米陳皮作引。</p>
<p>記得痢症藥品，解毒梔子芩連，大黃芒硝可推陳，木香青皮痛定。檳榔枳殼後重，升麻柴胡提升，固腸粟殼訶梅靈，澤瀉豬苓水順。</p>
<p>痢疾不治數症，脈若洪大須防，禁口不食吐水漿，大熱煩渴腹脹。大孔不收魄戶，糞如塵黑瓜瓤，面紅唇赤陷眉眶，氣急悶亂死樣。</p>
<p>小兒肛頭脫出，此由泄痢深沉，氣虛下陷不能升，冷熱不和相併。裡急後重難便，用力太過傷神，以致肛出冷寒乘，不得收返而進。</p>
<p>要識脫肛症治，養血和氣為宜，川芎白芷與當歸，白芍人參赤石。槐子山藥蓮肉，龍骨五倍相隨，細研五倍丸子兒，仍用米湯吞吃。</p>
<p>內服湯丸取效，外用諸藥扶持，梁上倒掛壁塵灰，鱉頭燒灰研細，鼠糞共末艾捻，入桶用火燃之。人坐其上令熏宜，頃刻肛頭收入。</p>
<p>前法若還不效，田螺取搗為泥，朴硝大黃共和之，捶膏敷上即愈。不效再用搽藥，熊膽冰片堪題，鵝膽調搽病即除，此法醫人牢記。</p>
<p>導氣芩連共木香，大黃歸芍殼檳榔。痢下膿血時無度，管取一服即安康。</p>
<p><u>治脫肛浴法</u></p>
<p>用陳艾煎水，以陳壁土研細，入艾水澄過渣，以艾水溫浴之，俟收入為度。外用熨法。</p>
<p><u>熨法</u></p>
<p>用麥面以好米醋和成薄餅，敷在臍上，將艾薄薄鋪於餅上，燃之。</p>

<h1>卷之五</h1>

<h2>瘧疾門</h2>
<p>瘧疾治法有二：新瘧先截後補，久瘧先補後截。</p>
<p>凡瘧要分早晚治之，如上半日發者，此邪在陽分氣位也，先用平胃散加常山、草果截之。後用平瘧養脾丸，調理而安。如下半日發者，此邪在陰分血位也，輕者以四物湯加桂枝、桃仁、紅花，發出血中寒邪。甚者，以小柴胡湯加升麻、當歸，提到陽分，然後以小柴胡湯加常山、草果截之。略愈，以平瘧養脾丸調之而安。</p>
<p>如瘧來寒多熱少者，以平胃散加常山、桂枝，草果仁截之；熱多寒少者，以白虎湯加常山、草果、青皮截之；寒熱相半者，用小柴胡湯加常山、草果截之。後以平瘧養脾丸調之。如大人以補中益氣湯調之。以上數症，皆先截後補也。</p>
<p>如久瘧連綿不退者，或二三日一次，其邪已深，不可妄用截藥，只以平瘧養脾丸調之。有汗要無汗，無汗要有汗，其瘧易退。再要避風寒，禁雞魚、冷水，無不安者。如犯禁戒，雖九轉靈丹，亦難治也。</p>
<p>凡瘧後轉作痢症者，此症多得於夏末秋初，因內有伏陰，多傷生冷故也。當從虛治，不可妄用通利之藥。如平常下痢者，以香連丸，米湯送下。</p>
<p>如瘧痢並作者，以平瘧養脾丸、橘皮和中丸相間服之。</p>
<p>如瘧後遍身浮腫者，此因汗後受風故也。以胃苓丸加五加皮、大腹皮，燈心、長流水煎湯治之，大兒加減胃苓湯治之。外用浴法，於日當午時，向避風處，以溫水拂拭遍身，略睡一時，以被蓋之，微汗為度。每日依此行之，為妙甚效。</p>
<p>如瘧後腹脹，或喘或不喘者，此因內傷生冷，脾肺俱病故也。蓋脾主脹，喘屬肺，以塌氣丸消脹，以葶藶丸定喘治之。後以集聖丸調之。</p>
<p>如瘧後腹中有痞者，此瘧母也。因多食冷水所致。亦有熱而成者，治以月蟾丸主之。</p>
<p>凡瘧後形體黃瘦者，只以集聖丸調之。</p>
<p><u>平胃散</u>　此治濕養脾之藥也。</p>
<p>蒼朮（米泔浸炒，一錢二分）　厚朴（薑汁炒，一錢）　陳皮（二錢）　甘草（一錢）　加常山（三錢）　草果（三錢）</p>
<p>薑棗引。</p>
<p><u>四物湯</u>（見痢疾門）　此藥性平，治血不足之聖藥也。</p>
<p><u>桂枝湯</u>　此發散風邪之要藥也。</p>
<p>桂枝　赤芍　甘草</p>
<p>薑棗引。</p>
<p><u>小柴胡湯</u>　此半表半裡之藥也。</p>
<p>柴胡（二錢）　黃芩（一錢五分）　半夏（七分）　人參（七分）　甘草（五分）</p>
<p>加山梔、丹皮，名加味小柴胡湯，薑棗引。</p>
<p>心中飽悶，加枳殼、桔梗。痞滿加黃連、枳實。口渴加知母、石膏。內熱甚，錯語，心煩不得眠者，合解毒湯。</p>
<p><u>白虎湯</u>　此藥性寒，所以治熱也。</p>
<p>石膏（五錢）　知母（二錢）　粳米（一勺）　甘草（七分）</p>
<p>水煎服。</p>
<p>以上諸方，截瘧必用常山、草果者，蓋此二味乃治瘧必用之藥也。</p>
<p><u>補中益氣湯</u>　此補中氣不足之聖藥也。</p>
<p>黃耆　人參　甘草　柴胡　升麻　白朮　當歸　陳皮</p>
<p>水煎，薑棗引。有汗用白朮，無汗用蒼朮，治瘧加青皮。</p>
<p><u>加減胃苓湯</u>　此滲利之聖藥也。</p>
<p>豬苓　澤瀉　赤茯苓　白朮　官桂　五加皮　蒼朮　陳皮　厚朴　甘草　木通　大腹皮　防風　生薑皮</p>
<p>燈心、姜引，取順流水煎服。</p>
<p><u>平瘧養脾丸</u></p>
<p>歸身　人參　陳皮（去瓤，各一錢）　黃芩（二錢）　草果仁（一錢）　南星（炮，一錢）　白朮（一錢五分）　白茯苓（一錢）　柴胡（一錢五分）　甘草（炙，五分）</p>
<p>共為末，米糊丸，如黍米大，竹葉、炒米湯下。</p>
<p>一方加常山、黃耆、鱉甲（醋炙黃色）。</p>
<p><u>月蟾丸</u></p>
<p>木香　人參　黃耆　當歸　桔梗　使君子肉　黃連　三稜（炮）　枳實　莪朮（煨）　鱉甲（炙）　苦楝根皮　乾蟾（燒存性）　訶子肉　夜明砂　綠礬（各等分）</p>
<p>共為末，醋糊丸，陳米湯下。</p>
<p><u>祖傳治瘧之法</u>　以斬鬼丹截之，胃苓丸調之。</p>
<p>常用平胃散，加常山、草果為末，每服一字，於臨發日五更，用桃柳枝七根，煎湯調服。</p>
<p><u>治大人瘧疾方</u></p>
<p>人參（五分）　常山（酒炒，三分）　檳榔（三分）　草果仁（四分）　綠豆粉（炒）　甘草（炙）　貝母（三分）　青皮（五分）</p>
<p>水煎服。</p>
<p><u>又方</u></p>
<p>常山　檳榔（一個）　當歸　蒼朮　甘草　陳皮</p>
<p>先一服，用酒擂細，滾酒泡服。</p>
<p>如不效，將桃枝七根，燈心七根，水煎二三滾，露一宿，發日五更溫服。禁生冷雞魚發物。</p>

<h3>西江月</h3>
<p>瘧疾來時潮熱，內傷外感生痰，初時截法似神仙，不可養虎遺患。外感小柴飲子，內傷平胃為先，內加草果與常山，東面桃柳枝煎。</p>
<p>截後才調脾胃，只消清瘧養脾，祛邪補正作良醫，不讓仲陽錢氏。瘧久若成痞塊，面黃腹滿消肌，月蟾集聖是根基，此個方兒密記。</p>
<p>如是小兒久瘧，或於午後來潮，又如間日又三朝，截法不宜急暴。只用養脾清瘧，相兼集聖和調，神丹斬鬼莫輕饒，發日五更分曉。</p>
<p>瘧痢如逢並作，其間吉凶須知，大端飲食要如時，胃氣完全可治。若是不思乳食，強將脾胃扶持，胃苓丸子莫差池，間以香連止痢。</p>
<p>久瘧多成壞症，脾焦肚大青筋，頸干腳細減元神，飲食全然不進。面目虛浮怯弱，四肢無力難行，不須醫治枉勞心，九死一生危病。</p>
<p>平瘧養脾用人參，白朮陳皮當歸身，茯苓厚朴薑汁炒，蒼朮五錢米水浸。粉草半夏浸七次，青皮柴胡與黃芩，常山草果二錢半，鱉甲三錢效如神。</p>

<h2>發熱門</h2>
<p>小兒凡病有熱，症既不同，治亦多異，須分虛實，不可妄用汗下也。</p>
<p>傷風發熱，其症汗出，身熱，呵欠，目赤澀，多睡，惡風，喘急，此因解脫受風所致。宜疏風解肌退熱，先服柴葛解肌湯，發去風邪，熱退之時，再服涼驚丸，以防內熱。</p>
<p>傷寒發熱，其症無汗，身熱，呵欠，煩悶，項急，面赤，喘急，惡寒，口中氣熱，此因解脫受寒所致。宜發散寒邪，退熱鎮驚，先服惺惺散，發去寒邪，後以涼驚丸，以防內熱。</p>
<p>以上二症，如小兒稟賦原實者可用涼驚丸，若虛怯者，不如只用胃苓丸，甚效。</p>
<p>如傷風寒發熱，又吐瀉者，不可發散，此脾虛怯也。只以五苓散吞理中丸，甚效。</p>
<p>傷熱發熱，多得於夏，其症身熱，自汗，作渴，昏睡，手足俱熱。此因天氣已熱，包裹太厚，重受其熱也。先以白虎湯調益元散，以解其熱；次服調元生脈散，以補正氣。</p>
<p>傷暑發熱，亦多得於夏，其症身熱，自汗，作渴，昏睡，手足冷。此由陰室中貪涼太過所致。服調元生脈散，補其元氣；次服四君子湯，以防吐瀉之病。</p>
<p>如夏月汗出當風，以致身熱，渾身自汗不止者，此名暑風。四君子湯加麻黃根、黃耆以去風，次以益元散以去熱。</p>
<p>傷食發熱，其症手心、肚腹尤熱，噎氣吐乳，大便酸臭，或腹疼多啼，飽脹喘急，不思乳食。此因飲食過度所傷，宜先用利藥去其積，用丁香脾積丸，復以集聖丸調之。</p>
<p>如傷食已久，日漸黃瘦，無時作熱者，不可下之。輕者保和丸，重者集聖丸，百無一失。</p>
<p>痘疹發熱，其症面燥腮赤，目胞亦赤，呵欠煩悶，乍熱乍涼，咳嗽噴嚏，手足指冷，驚怖多睡。此由時行痘疹，各相傳染，宜清熱解毒。惟痘疹宜參蘇飲加木香，麻痘宜用荊防敗毒散，不可妄施汗下，恐生變症。若變蒸發熱，此小兒常症，不須服藥。（見本門。）</p>
<p>潮熱者，當分二症：有時間發熱，過時即退，來日依時復發，其狀如瘧，此肺熱也；有早晚發熱，每日兩度，如潮水之應期者，此胃熱也。蓋因感觸邪氣，以致血脈凝滯，不得流通，若不治之，變為驚疳者多矣。肺熱地骨皮散主之，胃熱三黃丸下之，如虛熱者，用集聖丸調之。</p>
<p>驚熱者，遍身發熱，面青自汗。心悸不寧，脈數煩躁，顛叫恍惚，此心熱也。以涼驚丸退熱，安神丸定心。</p>
<p>夜熱者，但夜發晝退，此血虛症也。以人參當歸散治之，更兼抱龍丸，以防作搐。</p>
<p>餘熱者，傷寒汗後而熱又來，乃表裡俱虛，氣不歸元，陽浮於外，不可再用寒涼之藥，古人戒之。當和胃氣，使陽氣收斂，其熱自退。人參蒼朮主之，甚者，四君子湯加炒乾姜即效。</p>
<p>疳熱者，形色黃瘦，食不長肉，骨蒸盜汗，泄瀉無常，肚大腳小。此多得於大病之後，失於將息，又或傷飽失飢，用集聖丸調理。</p>
<p>壯熱者，一向熱而不已，由氣血壅實，五臟生熱，鬱蒸於內，則睡臥不安，精神恍惚；熏發於外，則表裡俱熱，躁急喘粗，甚則發驚癇。先以導赤散、瀉青丸以治其熱；後以抱龍丸鎮其驚。如實熱，大小便秘者，三黃丸下之。</p>
<p>煩熱者，心躁不安，五心煩熱，四肢溫壯，小便赤色。宜導赤散加麥冬、山梔仁治之，再以涼驚丸，撤其餘邪。</p>
<p>積熱者，頰赤口瘡，大小便赤澀，此表裡俱實。或內傷酒面、煎煿、熱藥峻補；外因厚綿爐火所侵，皆能生熱，此內外蘊積之熱也，非食積。先以三黃丸下之，後以涼驚丸調之。</p>
<p>虛熱者，或因汗下太過，津液虛耗；或因大病之後，元氣受傷，皆能生熱。其症困倦少力，面色青白，虛汗自出，神慢，噓氣軟弱，手足厥冷。此氣血俱虛，氣虛則發厥，血虛則發熱也。四君子湯加炒乾姜，甚者加熟附子一片，待熱少退，以涼驚丸調之。</p>
<p>客熱者，陽邪干於心也。心若受邪，則熱形於額，故先起於頭面而身熱，恍惚多驚，聞聲則恐。此由正氣虛而邪氣勝，故與之交爭，發熱無時，進退不定，如客之往來。先以導赤散去其邪，後以涼驚丸調之。</p>
<p>癖熱者，由乳食不消，伏結於中，致成癖塊，以生內熱，熏灼於外。集聖丸主之。</p>
<p>瘧熱者，寒熱往來。有頭痛汗出者，有嘔吐不食、憎寒壯熱作渴者，有遍身疼痛者，或吐瀉者。症既百出，病非一端。頭疼汗出及遍身疼者，小柴胡湯加蒼朮、羌活治之；腹痛者，脾積丸下之；作渴者，白朮散治之；吐瀉者，理中湯治之。後用平瘧養脾丸調之。</p>
<p>血熱者，每日巳午時發熱，遇夜則涼，此心熱也。輕者導赤散，重者四順飲治之。</p>
<p><u>柴葛解肌湯</u></p>
<p>柴胡　乾葛　黃芩　桂枝　赤芍　人參　甘草　竹葉（七皮）</p>
<p>薑棗引。</p>
<p><u>惺惺散</u></p>
<p>人參　白朮　白茯苓　甘草　桔梗　天花粉　細辛　防風　川芎　加麻黃　薄荷葉</p>
<p>姜引。</p>
<p><u>調元生脈散</u></p>
<p>黃芩　人參　麥冬　甘草　五味子</p>
<p>水煎服。</p>
<p><u>參蘇飲</u></p>
<p>人參　半夏　茯苓　甘草　桔梗　枳殼　乾葛　前胡　木香　蘇葉　陳皮</p>
<p>薑棗引。</p>
<p><u>防風敗毒散</u></p>
<p>生地　防風　連翹　升麻　荊芥穗　牛蒡子　酒柏　人參　桔梗　甘草</p>
<p>水煎服。</p>
<p><u>地骨皮散</u></p>
<p>知母　柴胡　甘草（炙）　地骨皮　赤茯苓　半夏</p>
<p>姜三片引，水煎服。</p>
<p><u>人參當歸散</u></p>
<p>人參　歸身　生地黃　地骨皮　柴胡　甘草</p>
<p>生薑引。</p>
<p><u>四順散</u>　解小兒膈熱。</p>
<p>當歸　大黃（酒蒸）　赤芍　甘草</p>
<p>水煎服。</p>
<p><u>祖傳治發熱</u>　不問其症，脾胃虛弱者，以胃苓丸，竹葉、炒米湯吞；元氣虛者，以涼驚丸，竹葉、薄荷、燈心湯送下。隨症用引。</p>

<h3>西江月</h3>
<p>小兒病則生熱，須知得病根苗，風寒外感熱來潮，飲食內傷煩躁。吐泄瘧痢瘡疥，變蒸痘疹如燒，骨蒸體熱漸成癆，調治般般分曉。</p>
<p>若是風寒外感，面紅又惡風寒，惺惺散子妙難言，有咳參蘇效驗。飲食內傷可下，三黃脾積相參，再加集聖保平安，莫使脾虛難轉。</p>
<p>吐泄胃苓最妙，赤白痢用香連，瘧家平瘧解邪干，瘡疥胡麻丸散。變蒸小兒常病，不須妄用湯丸，如逢痘疹別科傳，集聖專調疳軟。</p>
<p>治熱汗下休錯，誤汗誤下傷人，應汗而下痞滿侵，應下而汗驚定。只為不明表裡，致令兒命早傾，果難捉摸且因循，藥用胃苓集聖。</p>

<h2>哮喘門</h2>
<p>哮喘之症有二，不離痰火。</p>
<p>有卒感風寒而得者，有曾傷鹽水而得者，有傷醋湯而得者，至天陰則發，連綿不已。輕則用五虎湯一帖，重則葶藶丸治之。此皆一時急解之法，若要斷根，常服五聖丹，外用灸法。</p>
<p><u>五聖丹</u></p>
<p>天南星（煨，一兩）　半夏（泡七次）　陳皮（去白鹽水拌，一兩）　甘草（四錢）　杏仁（四十九粒，另研）</p>
<p>先以南星、半夏二味研末，薑汁、皂角汁拌勻和作餅。又將甘草、陳皮研末，取竹瀝一碗，以藥和成餅子，焙乾，又浸濕，又焙乾，竹瀝盡為度。再研杏仁泥，蒸蜜和為丸。臨時噙化一丸，以薄荷湯送下。</p>
<p><u>灸法</u></p>
<p>取心穴右背上、足三里穴，各三壯，仍禁酸鹹辛熱之物。</p>

<h3>西江月</h3>
<p>哮喘症雖有二，皆由痰火中藏，或被風寒襲外方，內被鹽水醋嗆。亦有乳嗆而得，致令攻腠為殃，用藥調理法雖良，斷根灸法為上。</p>
<p>哮喘多成宿疾，天陰欲雨連綿，治時發表及行痰，九寶時常靈驗。表邪未除五虎，裡實葶藶為先，不須砒石作成丸，誤了孩兒命短。</p>

<h2>咳嗽門</h2>
<p>咳嗽治法有三：有發汗，有下泄，有清補。</p>
<p>如初起挾風寒外感者，輕則蘇沉九寶湯，重則五虎湯，一帖即效。</p>
<p>如咳久，身熱喘急，此肺中伏火也，以葶藶丸利之。</p>
<p>如咳久肺虛，連綿不已，即當補肺，阿膠散主之。</p>
<p>如咳久連聲不已，口鼻出血者，茅根湯主之。</p>
<p>如夏月得咳嗽者，以加味白虎湯治之。不可汗下。（方見瘧疾門。）</p>
<p>如咳痰甚者，以利痰丸主之。（方見驚風門。）</p>
<p>如咳久成龜胸者，以葶藶丸主之。</p>
<p>如咳嗽吐血者，二陳湯加薑汁主之。</p>
<p>如咳嗽咽痛聲嗄者，以甘桔湯主之。</p>
<p><u>蘇沉九寶湯</u>　此發散之藥也。</p>
<p>桑白皮（去赤）　甘草　大腹皮　官桂　陳皮　蘇葉　麻黃（不去節）　烏梅（一個）　薄荷葉　杏仁（不去皮尖，各等分）</p>
<p>姜引，水煎服，微汗為度。</p>
<p><u>五虎湯</u>　此發散之上藥也。</p>
<p>麻黃（七分）　杏仁（一錢）　甘草（四分）　細茶（炒，七分）　白石膏（一錢五分）</p>
<p>水煎服，發汗禁風。</p>
<p><u>葶藶丸</u>　泄肺喘，通水道。</p>
<p>甜葶藶（略炒）　黑牽牛（炒）　杏仁（去皮尖，炒）　漢防己（各等分）</p>
<p>共為末，然後入杏仁泥和之，棗肉同搗為丸，淡薑湯送下。</p>
<p><u>阿膠散</u>　定喘，消痰，止嗽，此補肺之藥也。</p>
<p>牛蒡子　甘草　杏仁　馬兜鈴　阿膠（粉炒成珠）　糯米</p>
<p>水煎服。</p>
<p><u>茅根湯</u></p>
<p>陳皮（去白）　半夏（炒）　茯苓　甘草　天冬（去心）　杏仁泥　黃芩　梔子　貝母　知母　石膏　瓜蔞霜　生地　桔梗</p>
<p>水煎，取茅根自然汁和服。</p>
<p>凡咳嗽日久，面青而光，其氣喘促，哽氣時多出聲，唇白如練，此肝氣旺而肺氣絕者，不治。</p>
<p>凡咳嗽日久，喉舌生瘡，其聲嗄者，不治。</p>
<p>凡咳嗽日久，胸高而喘，肩與胸脅俱動，加驚搐者，不治。</p>
<p>凡咳嗽日久，潮熱喘急，一咳之時，面青黑，目上竄，血從口鼻長出者，此木火旺盛而肺已絕，不治。</p>
<p>凡咳嗽日久，面白唇青，目閉悶亂，頭搖手擺者，此肺氣將絕，不治。</p>

<h3>西江月</h3>
<p>小兒或病咳嗽，醫家症要分明，咳為有傷於肺經，嗽則脾家病症。有聲無痰是咳，無聲有痰嗽真，時乎咳嗽病同臨，有聲有痰一定。</p>
<p>小兒傷風咳嗽，其症身熱憎寒，自汗躁煩不安然，日夜嗽聲無遍。時常鼻流清涕，咽喉不利痰涎，脈浮頭痛症多端，治則宜乎發汗。</p>
<p>咳嗽或傷寒症，此因飲冷形寒，冬月坐臥濕地間，抑被冷風吹犯。其症脈緊無汗，煩躁不渴惡寒，治宜發散汗為先，藥用參蘇飲驗。</p>
<p>若是咳嗽傷熱，其症面赤躁煩。飲水不止膈咽乾，咳唾稠黏症現。甚則急喘而嗽，痰涎必生喉咽，潮熱手足或冰寒，小兒多有此患。</p>
<p>咳嗽若患火症，決然咯唾血膿，甚者七竅血流通，此是肺熱火動。若吐青綠白水，胃冷停飲相攻，嗽吐痰涎乳食中，宿滯不消取用。</p>
<p>要知治嗽大法，依時認症扶持，春天外感症無疑，夏是炎上火氣，秋則肺傷濕熱，冬為風冷相隨，相時而動作良醫，對症依方用劑。</p>
<p>大抵實者當下，虛則補藥為宜，寒者溫散藥中推，熱症清涼為貴。風則尤當發散，停痰消逐為施，初然止澀莫投之，總要化痰順氣。</p>
<p>肺乃五臟華蓋，皮毛易感風寒，初醫發汗最為先，杏仁麻黃最驗。薄荷石膏甘草，黃芩桔梗人參，前胡枳殼臘茶煎，一服諸風發散。</p>
<p>久咳不宜發汗，化痰順氣為宜，潤下玉液有神奇，不效再行湯劑。貝母陳皮枳殼，茯苓甘草芩梔，前胡薄荷杏仁泥，有熱石膏堪取。</p>
<p>久咳痰壅發熱，看他二便何如，若還清利是中虛，只用抱龍區處；如果秘結實熱，葶藶五色驅除，要分虛實不須拘，此是小兒命主。</p>
<p>久咳連聲出血，清金降火為佳，芩連甘桔款冬花，知貝二冬多下，去白陳皮枳殼，前胡地骨霜瓜，茯苓玄參茅根加，此個方兒無價。</p>
<p>大凡咳嗽治法，必須清化痰涎，化痰順氣最為先，氣順痰行咳減。順氣陳皮枳殼，化痰半夏天南，黃芩梔子火邪干，桔梗茯苓開滲。</p>
<p>虛咳時加作熱，面黃氣短無神，當歸陳皮白茯苓，梔子黃芩桔梗，知貝前胡天麥，甘草枳殼人參，更加黃柏妙如神，煎用生薑作引。</p>
<p>久咳連聲不已，面青目竄常籲，胸高肩息汗如珠，臉白唇青背屈，骨瘦如柴潮熱，鼻乾發燥神虛，啞嗄驚搐不須拘，縱有靈丹無處。</p>

<h3>蛤蟆瘴論症治歌</h3>
<p>咳嗽小雞鳴，痰多吐血淋，升麻湯一劑，管叫得安寧。</p>

<h2>心腹痛門</h2>
<p>心腹痛有六：有寒，有熱，有食，有積，有蟲，有霍亂。</p>
<p>凡小兒外感風寒，內傷冷物，胃氣當心而痛，啼哭悶絕，手足冷，或吐或不吐，以熱手按摩則止者，用草豆蔻丸主之。</p>
<p>凡小兒受寒，繞腹疼痛，叫哭不寧，手足冷，汗出，或泄或不泄，得熱稍定，以理中湯主之。</p>
<p>凡小兒腹痛，無時舉發者，此積痛也。不可數下，下則氣傷而難愈，以集聖丸調之。</p>
<p>凡小兒飲食之後，卒然腹痛，此傷食也。須問其平日，曾有此疾否？若原無此疾，作傷食看，以丁香脾積丸利去所傷之食，用原傷之物，煎湯送下。後以集聖丸調之。若原有此疾，當作積論。</p>
<p>凡小兒心腹疼痛，嘈雜，口吐清水，面黃肌瘦，得食即止，肚飢又作嘈雜痛，此蟲痛也。先用雄黃解毒丸，苦楝根白皮煎湯吞下，追去其蟲，後用集聖丸調之。如元氣弱者，不可下，只用集聖丸主之。</p>
<p>凡小兒晝則無事，夜則啼哭，此腹痛也。蓋腹屬陰。痛主寒，遇夜則發，陰寒甚也。以理中丸，燈心燒灰煎湯下。</p>
<p><u>草豆蔻丸</u></p>
<p>草豆蔻（麵包煨去油，一錢）　陳皮（六錢）　澤瀉　半夏（各一錢）　桃仁（去皮尖，七粒）　麥芽（炒，二錢半）　神麯（炒）　柴胡　薑黃（各四錢）</p>
<p>共為末，湯浸蒸餅為丸，白湯下。</p>
<p><u>丁香脾積丸</u></p>
<p>丁香　良薑（醋炙，各五錢）　木香　巴豆霜　三稜（煨）　莪朮（各三錢）　青皮（醋浸去白，五錢）　皂角（燒存性，二錢）　百草霜（四錢）</p>
<p>共為末，醋糊丸。有積，茴香湯下。傷食，原物湯下。水瀉者，甘草湯下。</p>
<p><u>祖傳治腹痛</u>　甚者，解毒丸下之，輕者，脾積丸下之。</p>
<p>凡小兒心腹痛急，面青，手足冷，指甲青，目上竄，悶亂煩躁，狂言邪語，噴藥喘急者，皆不治。</p>

<h3>西江月</h3>
<p>凡遇小兒腹痛，必須察認原由，面黃腹痛食中求，臉白蛔蟲作楚。指冷麵青寒痛，三家啼哭無休。或溫或下藥先投，不可臨時差謬。</p>
<p>積痛先行脾積，養脾以次調和；蟲家別用取蟲科，集聖勤勤服可；寒痛理中最妙，茱萸湯引宜多；無時腹痛又如何，集聖妙如利藥。</p>
<p>積痛有時發作，面黃腹脹難痊，丁香脾積下當先，後用養脾調緩。蒼白青陳曲麥，茴香莪朮三稜，砂仁靈脂木香兼，枳實黃連川楝。</p>
<p>蟲痛時時作楚，面白清水長流，檳榔蘆薈與糖毬，君子蕪荑楝肉，白朮木香靈脂，黃連辰砂莪縮，青陳乾蟾與麥曲。蟲去痛除是福。</p>

<h2>疝氣門</h2>
<p>疝氣初得屬寒，久則屬火。</p>
<p>凡小腹疼痛，外腎腫硬者，此名疝氣。蓋由小兒久坐濕地，以致寒氣內侵於腎而得，所以小腹刺痛，外腎腫硬。但左為偏墜，右為膀胱。輕者內服五苓散加茴香、川楝子、橘核、檳榔，少加木通，屢試屢效。甚者加附子一片，即效。後服茱萸內消丸調之。外用敷藥及熏洗法。</p>
<p>凡小兒性急多啼，有傷於脾肝，以致睪丸腫大下墜者，小腹不痛，但外囊浮大，汩汩有聲。此宜二陳湯去甘草，加海藻、昆布、荔枝核、小茴香、川楝子，為末，順流水調服；更以瀉青丸去大黃加青皮，相間服之。</p>
<p><u>敷藥</u></p>
<p>用蚯蚓糞，不拘多少，為細末，以蔥汁調敷腫處，一日一換，以消為度。</p>
<p><u>熏法</u></p>
<p>用蔥捶研細，煎百沸湯，入鹽少許，以瓶盛之，令小兒正坐其上，蒸其腫處，待水溫洗之，後加敷藥。</p>
<p><u>灸法</u></p>
<p>牽小兒陰莖，向胯側比之，盡處是穴，左則取左，右則取右，並灸三陰交穴，各三壯。</p>
<p><u>祖傳治小兒疝氣偏墜</u>　用茱萸內消丸，外用敷藥。</p>

<h3>西江月</h3>
<p>疝氣如何而得，下焦熱結膀胱，腎囊腫大似茄樣，左右墜難抵擋。內服茱萸丸子，外用龍土蔥湯，待他痛止腎消囊，再灸兩邊胯上。</p>
<p>我有得傳妙法，橘核木香沉香，茴香大小用相當，食鹽故紙為上。巴豆少炒川楝，去巴取楝如常，研為細末酒調嘗，一服汗淋停當。</p>

<h2>浮腫門</h2>
<p>浮腫治法，開鬼門者，發汗也，潔淨府者，利小便也。</p>
<p>凡小兒面目遍身浮腫者，或因胎稟虛弱，卒冒風濕，或因瘧疾汗後，不曾禁風，皆成此症。輕者用胃苓丸治之，重者用加減胃苓湯治之。</p>
<p>凡小兒浮腫，又加喘急者，此脾傳肺也，當傳治脾而兼治肺，日服加減胃苓湯，夜服葶藶丸。如先喘急而後面目浮腫者，此肺傳脾也，當專治肺而兼治脾，日服葶藶丸，夜服胃苓湯加麻黃、杏仁。如先浮腫而後腹脹者，此表邪傳裡也。只以加減胃苓湯主之。</p>
<p>凡浮腫，不可妄用汗下，更不宜用大戟、甘遂、牽牛之類，以傷元氣。</p>
<p><u>加減胃苓湯</u></p>
<p>陳皮　蒼朮　厚朴（薑汁炒）　甘草　豬苓　赤茯苓　澤瀉　木通　白朮　官桂　滑石　防己　五加皮　生薑皮</p>
<p>因喘而致者，加麻黃、杏仁、桑白皮。腹脹者，加大腹皮、木香、檳榔、蘇梗，去甘草。氣虛者，加人參。</p>
<p>燈心引，順取長流水煎，溫服。</p>
<p><u>浴法</u></p>
<p>於午時煎蔥百沸湯，避風處浴之。蓋覆，略取微汗，日日依此行之效。</p>
<p><u>祖專治浮腫</u>　只用胃苓丸，用長流水、五加皮、燈心煎湯吞，外用浴法。</p>
<p>凡浮腫氣促，面黑，脈微細，不飲食者，不治。</p>

<h3>西江月</h3>
<p>小兒病患浮腫，或因胎氣羸虛，卒冒風濕外邪欺，以致渾身腫起；又或諸病汗下，脾虛又被風吹，遂爾浮腫堪憂慮，症別輕重用劑。</p>
<p>輕用胃苓丸子，重則加減堪行，再用浴法保安寧，此法古今永定。不可太施汗下，太補亦不宜行，能依方法救孩嬰，方可稱為司命。</p>
<p>大抵浮腫治法，鬼門淨府須知，木通防己五加皮，蘇葉車前滑石。滲濕四苓飲子，補脾平胃須宜，燈心長流水煎之，每日清晨早吃。</p>
<p>要識浮腫死症，氣促面黑鬚憂，脈微細小不堪謀，飲食不飧難救。臍翻糞如羊屎，泰山倒了難扶，忽生大喘肺經虛，縱有靈丹何救。</p>

<h2>脹滿門</h2>
<p>脹滿專屬於肺，有虛脹，積脹，熱脹，寒脹。</p>
<p>虛脹者，或因吐泄，或誤服下藥，致成脹滿者，此宜補中調氣，利小便，以四君子湯去甘草，加厚朴、陳皮、蒼朮、木香、木通治之。蓋中滿忌甘草，所以去之，若厚朴乃脹滿必用之藥。</p>
<p>積脹者，腹中原有食積結糞，小便黃，腹時作痛，微喘脈實，時時飲水，又不能食者，可下，用丁香脾積丸，下後，以集聖丸調之。</p>
<p>如脾胃素弱，不能消導運化，傷食作脹者，先補脾，四君子湯去甘草，加厚朴、陳皮、砂仁，後以脾積丸下之。後又補脾，集聖丸主之。輕者，只以保和丸調之。</p>
<p>熱脹者，渾身壯熱，面赤煩躁，大便秘，此因胎稟素厚，誤服藥而致者，急以三黃丸下之。不通者，用膽導法，下後以胃苓丸調之。</p>
<p>寒脹者，因寒積鬱結而脹，手足厥冷，面青氣急。先以塌氣丸治之，後以胃苓丸調之。</p>
<p>凡脹滿喘急，除寒脹一症，其餘俱以葶藶丸治之。</p>
<p>亦有遍身瘡疥，因淋洗塗搽，逼毒歸內而腹脹者，輕則敗毒散治之，重則解毒丸下之，瘡出脹消而愈。如面青黑，氣上急，手足冷，目直視，或目閉嘔乳者，皆不可治。</p>
<p><u>塌氣丸</u></p>
<p>胡椒（一兩）　蠍梢（去毒，五錢）</p>
<p>共為末，麵糊丸，陳米飲下。</p>
<p>一方加萊菔子，名褐丸子。</p>
<p><u>敗毒散</u></p>
<p>荊芥　防風　連翹　枳殼　升麻　薄荷葉　羌活　獨活　桔梗　乾葛　木通　金銀花　黃芩　川芎　甘草　山梔子</p>
<p>上腫加蔥三莖，下腫加燈心一握，姜三片引，水煎服。</p>
<p>凡腫脹，大小便不通，嘔吐者，不治。臍突背平者，不治。</p>
<p>凡腹脹喘急，氣長出，目閉，不食者，不治。</p>
<p>凡腹脹喘促，驚搐，悶亂者，不治。</p>
<p><u>祖傳治脹滿</u>　以解毒丸下之，胃苓丸調之。</p>

<h3>西江月</h3>
<p>腹脹名為惡症，寒熱虛實分明，忽然飽悶勢猙獰，傷食熱家體認。吐泄脹而寒取，大便秘而實因，四肢浮腫濕家尋，痞瘧久成虛病。</p>
<p>傷食脹而急下，下後還用保和，若是寒脹理中可，塌氣神方不錯。秘結三黃葶藶，木香順氣宜多，胃苓又是濕家科，痞瘧月蟾堪妥。</p>
<p>實證悶亂喘滿，治宜白餅靈丹，其症氣喘作虛看，溫藥補養方驗。二術參苓厚朴，陳皮木香當參，更加木通利小便，此藥虛症可咽。</p>
<p>凡治小兒虛脹，先服塌氣神方，不愈食積腹中藏，糞結小便黃樣。但覺時間微喘，飲水能食如常，脈浮而實下為良，下後再宜補養。</p>
<p>大抵腹脹急症，背平臍突多凶，二便秘結下難通，反吐水漿堪痛。氣喘脹家常病，只愁目閉疲癃，面浮腳細黑筋叢，集聖丸子妙用。</p>
<p>小兒腹脹多因食，山楂曲麥術青陳，甘草砂仁同入內，寒加茱藿熱加芩。</p>
<p>小兒患腹脹，紫蘿葛陳甘，食少加白朮，煎服自然安。</p>

<h2>黃疸門</h2>
<p>黃疸不必分五樣，總是濕熱。</p>
<p>凡小兒身皮目皆黃者，黃病。身痛背強，大小便澀，一身面目指爪俱皆黃，小便如屋漏塵水色，著物皆黃，渴者，難治，此黃疸也。其症多得於大病之後，以茯苓滲濕湯主之。</p>
<p>如小兒生下百日及半年，不因病後，身微黃者，胃熱也，加減瀉黃散主之。</p>
<p>如面黃腹大，吐食而渴者，脾疳也，集聖丸主之。</p>
<p>又有自生而身黃者，胎疸也，地黃湯主之。若淡黃兼白者，胃怯，白朮散主之。</p>
<p>如夏月身體蒸熱，胸膈煩滿，皮膚似橘，白睛亦黃，筋骨痿弱，不能行立者，脾胃鬱熱也，加減瀉黃散主之。</p>
<p>通治黃疸，茵陳五苓散尤穩。</p>
<p>如吐瀉黃疸，三稜湯主之。</p>
<p><u>茯苓滲濕湯</u></p>
<p>白茯苓　澤瀉　茵陳　豬苓　黃芩　黃連　梔子　防己　白朮　蒼朮　陳皮　枳殼</p>
<p>水煎，徐徐溫服。</p>
<p><u>加減瀉黃散</u></p>
<p>黃連　茵陳（各五錢）　黃柏　黃芩　茯苓　梔子（各三錢）　澤瀉（二錢）</p>
<p>水煎服。</p>
<p><u>三稜湯</u></p>
<p>三稜　莪朮　青皮　陳皮　神麯　麥芽　甘草　黃連　白朮　茯苓</p>
<p>傷食吐瀉加山楂，時氣吐瀉加滑石，發熱吐瀉加薄荷，水煎服。</p>
<p><u>祖傳治黃疸</u></p>
<p>以胃苓丸一料，加茵陳末五錢，同為丸。用竹葉、燈心、車前子煎湯吞服。</p>
<p>凡發黃大渴不止，面黑，鼻氣冷，寸口無脈者，不可治。</p>

<h2>諸汗門</h2>
<p>汗者心之所藏，在內為血，在外為汗。</p>
<p>小兒氣血嫩弱，膚腠未密，若厚衣太暖，熏蒸臟腑。臟腑生熱，熱搏於心，故液不能自藏，而額汗出也。額屬心本位，宜收斂心氣，團參湯主之，此虛汗也。</p>
<p>如大病後，氣血尚弱，液溢自汗，或潮熱，或寒熱，發過之後，身涼自汗，日久令人黃瘦，失治則變為骨蒸疳癆，黃耆固真湯主之。</p>
<p>如睡中汗出，不睡則無汗，乃睡濃也。醒覺則止，而不復出汗，亦是心虛，此盜汗也。宜斂心氣，團參湯主之。</p>
<p>如睡中遍身汗出，醒覺時久不幹，此積症盜汗，脾冷所致，益黃散主之。</p>
<p>如病困睡中身體汗流，此因陽虛所致，黃耆固真湯主之。</p>
<p>如脾虛泄瀉，自汗後遍身冷，而汗出有時，遇泄則無，未泄則有，此為大虛證，急當補脾，宜理中湯加熟附子，待泄止，又以黃耆固真湯主之。</p>
<p>凡自汗，上至胸，下至臍，此胃氣虛也，當補胃，四君子湯加黃耆治之。</p>
<p>如肺虛自汗，其症右臉色多㿠白，脈按之無力，蓋因久咳嗽連聲不已，以致肺氣上壅，故令汗出，以四君子湯加麥冬，此益母救子之義也。</p>
<p>如慢驚自汗，遍身俱有，其冷如冰，此危症也，大補湯加熟附子一片治之。</p>
<p>如傷風作熱自汗者，宜救表解肌，以柴葛解肌湯主之。</p>
<p>如無時冷汗出，髮根如頭珠，面顏上濈濈然，此為驚風，宜抱龍丸、四君子湯，加麻黃根治之。</p>
<p>凡小兒自汗，上至頭，下至項，謂之六陽虛汗，不須治之自愈。</p>
<p>凡小兒傷寒汗出，至頸而止者，此欲發黃，茵陳湯主之。</p>
<p>凡諸汗症，服前藥不止者，俱加牡蠣、蛤粉，或止汗散調之。如有實熱在內，煩躁汗出不止，三黃丸下之。</p>
<p><u>團參湯</u></p>
<p>人參　當歸（各三錢）　雄豬心（一個切三片）</p>
<p>每藥二錢，豬心一片，井水鍾半，煎一鍾，食前溫服。</p>
<p><u>黃耆固真湯</u></p>
<p>黃耆　人參　白朮　甘草（炙）　當歸　麥冬</p>
<p>水煎服。</p>
<p><u>益黃散</u></p>
<p>陳皮（一兩）　青皮　訶子肉　粉草（炙，各五錢）　丁香（二錢）</p>
<p>共為末，每服二錢，未周歲者，只服五分，水煎。如感寒吐泄，加薑棗。</p>
<p><u>大補湯</u></p>
<p>當歸　人參　黃耆　白芍　生地　甘草（炙）　白朮　白茯苓　川芎　加附子去苓、芎</p>
<p>浮小麥一撮為引，水煎服。</p>
<p><u>止汗散</u></p>
<p>以敗蒲扇燒灰。</p>
<p>燈心湯調下，或酒調亦可。</p>

<h2>夜啼門</h2>
<p>夜啼之症有四：驚啼，熱煩啼，腹痛啼，神不安啼。</p>
<p>驚啼者，邪熱乘於心也。當安心，以導赤散加燈心退心熱，以安神丸定心效。</p>
<p>熱煩啼者，其哭無淚，見燈則喜而止，以導赤散加麥冬、梔子仁治之。</p>
<p>腹痛啼者，脾臟冷而痛也，面青而光，以溫中藥調理中氣，益黃散治之。</p>
<p>神不安啼者，睡中忽覺自哭，以安神丸，燈心燒灰，調湯吞服。</p>
<p>又有拂其性而拗哭者，要審明白，不可妄投藥丸。</p>
<p><u>祖傳治夜啼</u></p>
<p>以至聖保命丹，燈心灰調湯下，甚效。</p>

<h3>西江月</h3>
<p>小兒夜啼四症，忤驚肚痛心煩，如逢拗哭忤家言，睡中忽啼驚見。肚痛手足厥冷，腰曲口氣冰寒，心熱煩躁不安眠，其症面赤腹暖。</p>
<p>既辨夜啼症候，其間治法須明，分明傳授與人間，只得心誠求遍。忤驚安神丸子，理中專治脾疼，涼驚錠子治心煩，總用燈花妙散。</p>
<p><u>燈花散</u></p>
<p>用燈花（七枚）　辰砂（一分）</p>
<p>研末，燈草湯吞。</p>

<h2>疳症門</h2>
<p>丁奚者，手足極細，項小骨高，尻削體痿，腹大臍突，號哭胸陷，骨蒸潮熱是也。哺露者，虛熱往來，頭骨分開，翻食吐蟲，煩渴嘔噦是也。丁奚、哺露，皆因脾胃久虛，不能化水穀，以致精神減損，無以榮其氣，故肌肉消削，腎氣不足，復為冷風所傷，故骨枯露也。</p>
<p>小兒十五以下為疳，十五以上，其症為癆，此皆氣血虛憊，腸胃受傷致之，同出而異名也。蓋小兒易虛易實，凡病久則成疳，用藥乖方，飲食過度，將息失宜，俱成疳症。俱用集聖丸加減治之。</p>
<p>小兒臟腑嬌嫩，飽則易傷，飲食失常，不為疳者鮮矣。或小兒失乳，粥飯太早，耗傷神氣，則疳之根生。故乳食稍多，過飽無度，則疳因傷得。恣食肥甘黏膩，生冷鹹酸，以滯中脘，則疳因積生。</p>
<p>或乳母睡臥，寒暖失其調理，飲食乖常，喜怒房勞，即與兒乳，則疳因母患，傳氣而入，以致脾胃一傷，諸臟皆弱。但見目澀，或生白膜，唇赤身黃，喜臥冷地，愛吃泥土，泄痢無常，肚腹脹滿，耳鼻生瘡，頭髮作穗，腳弱項小，極瘦飲水，潮熱進退，皆其症也。以集聖丸本方調之，兼服參苓白朮丸，百無一失。</p>
<p>有因大病，妄投吐利之藥，以致胃虛而亡津液，內發虛熱，外消肌肉者，以集聖丸去莪朮、青皮，加人參、白朮治之。</p>
<p>有因熱病不退，以致津液枯燥者，集聖丸去砂仁、莪朮，加龍膽草治之。</p>
<p>有因吐瀉下利而成疳者，集聖丸去青皮、莪朮，加白朮、肉豆蔻、訶子治之；亦兼服參苓白朮丸治之。</p>
<p>有因久瘧不退而成疳者，集聖丸加鱉甲治之。</p>
<p>有因食積而成疳兼腹痛者，集聖丸去歸、芎，加川楝子肉、小茴香、三稜治之。</p>
<p>有因蟲痛而成疳者，本方去歸、芎，加白蕪荑、川楝子肉治之。</p>
<p>有因脾胃久虛，不能運轉，以榮其氣，或胎中受毒，臟腑血少，以致手足極細，項小骨高，尻削體瘦，若前丁奚、哺露之症者，以集聖丸、參苓白朮丸治之。</p>
<p>有因乳母恣食五辛，酒面炙煿，致令小兒日則煩渴飲水，乳食不進，夜則渴止，此名疳渴。以集聖丸去莪朮、砂仁，加人參、白朮治之；兼服人參麥冬散治之。</p>
<p>凡疳症，熱者，虛中之熱，冷者，虛中之冷。治熱不可用涼，治冷不可用溫，尤不可妄施汗下，以致殺人。</p>
<p>凡小兒略見黃瘦作熱，肚大腹痛，不思乳食者，即服五疳消積丸，或集聖丸治之。</p>
<p>凡治疳症，不必細分五疳，但虛則補之，熱則清之，冷則溫之，吐則治吐，痢則治痢，積則治積，蟲則治蟲，不出集聖丸加減用之，屢試有驗。</p>
<p>亦有無辜疳者，腦後項邊有核，如彈子，按之則動，軟而不動，久則肢體癰瘡，便痢膿血，壯熱羸瘦，頭露骨是也。凡見此症，速破其核，有蟲如米粉，膏藥貼之，內服集聖丸調治。</p>
<p><u>集聖丸</u></p>
<p>蘆薈（焙乾）　五靈脂（炒）　夜明砂（淘去灰沙焙乾）　縮砂仁（炒）　木香　陳皮（去白）　莪朮　使君肉（各二錢）　黃連　川芎（酒洗炒）　乾蟾（炙，各二錢）　當歸（一錢半）　青皮（二錢）</p>
<p>因於虛者，加人參二錢，白朮三錢，去莪朮、青皮、五靈脂。因於熱者，加龍膽草三錢，去砂仁、莪朮。因於瘧者，加鱉甲（炙焦），三錢。因於吐泄下痢者，加白朮二錢，肉豆蔻（煨）、訶子肉各一錢五分，去青皮、莪朮。因積痛者，加三稜（煨）、川楝子肉、小茴香（炒），各二錢，去當歸、川芎。因於蟲者，加蕪荑一錢五分，川楝肉二錢，去當歸、川芎。因於渴者，加人參、白朮各二錢，去莪朮、砂仁。</p>
<p>上為末，用雄豬膽二個取汁，和麵糊為丸，米飲送下。</p>
<p><u>參苓白朮丸</u></p>
<p>人參　白朮　白茯苓　甘草　山藥　白扁豆　桔梗　薏苡仁　蓮肉（各一錢）　加歸身（一錢五分）　川芎（七分）</p>
<p>共為末，神麯糊丸，米飲送下。</p>
<p><u>人參麥冬散</u></p>
<p>人參　白朮　麥冬　黃連　甘草　乾葛　柴胡</p>
<p>竹葉引。</p>
<p><u>五疳消積丸</u></p>
<p>使君子肉（炒，五錢）　麥芽（炒）　陳皮　神麯　山楂肉　白蕪荑　黃連　膽草（各等分）</p>
<p>上為末，陳米飯為丸，米飲送下。</p>

<h3>西江月</h3>
<p>小兒疳癆又險，愚夫不識根苗，面無血色發毬焦，肚大頸干腳小。吐瀉時時舉發，似瘧非瘧來潮，吃泥弄舌滯頤交，不治休嗟命夭。</p>
<p>小兒傷食脾胃，疳癆煩熱虛羸，黃連蘆薈解蒸危，莪朮縮青去積，當歸川芎養血，夜砂君子攻蛔，乾蟾木香五靈脂，粟米糊丸為最。</p>

<h2>大小便門</h2>
<p>凡小兒有病，或熱腹痛，或驚，大小便不通者，此症極危，看虛實，急通利之。</p>
<p>如小兒形實熱甚，內服三黃丸，外用貼臍法，即通。</p>
<p>如小兒形怯，不可下者，用熨臍法、膽導法，即通。</p>
<p>如用上法不通，又加腹脹氣喘，多哭，悶亂，目上視，手足冷者，不可治也。</p>
<p>凡小便不通者，有陰陽二症。陰閉者，冷濕乘虛入里，因而不通，五苓散加南木香為末，空心鹽湯調服。外用炒鹽熨臍即通。陽閉者，因暴熱所逼，澀而不通。輕者，五苓散加車前子、燈心治之。重者，以木通散，外用熨臍法即通。</p>
<p>小便淋澀者，蓋小腸為受盛之腑，氣通於膀胱，膀胱者，為津液之府，氣通於腎，小腸受氣，客於膀胱，銷灼腎水，水道澀而不利，故小便澀痛也。先以八正散泄去其熱，次以香芎丸調之。不論五淋，治法皆同。</p>
<p>小便出血者，熱之極也。蓋心生血，於小腸相合，熱甚則失其常道，故不流滲入於胞，故小便血出也。以導赤散，加蒲黃末，空心時，燈心湯送下。</p>
<p>小便出白者，初出微赤，良久澄白，如米泔狀。此由乳哺失節，有傷於脾，致令清濁不分而色白也。久則成疳，以分清飲主之。</p>
<p><u>祖傳治小便</u></p>
<p>白色如米泔者，以胃苓丸溫鹽湯下。</p>
<p>小便不禁，此腎與膀胱俱虛，而冷氣乘之，故不能制其尿出而不禁，謂之遺尿。睡里自出者，謂之尿床。俱以雞腸散治，更以地黃丸調之。</p>
<p>凡大小便不通者，有虛有熱。虛者，津液不足，大腸乾澀而秘結，內服通幽湯，甚者，用導法。</p>
<p>熱者，臟腑積熱，內有燥糞，其腹必痛，或作渴，內服三黃丸，外用導法。</p>
<p>大便下血者，是大腸中有積熱也。因恣食酒面，炙煿熱物，流入心肺，血熱妄行，滲入腸中，故大便下血。久則臟毒，無時下血，黃連丸主之。</p>
<p>凡小兒初生七日之內，大小便有血者，此胎毒也。不可用他藥，只以生地黃取自然汁，入蜜少許和勻，溫服之，自愈。</p>
<p>凡小兒非月內大小便有血者，此積熱在心肺二經。熱積於心，故小便出血；熱積於肺，故大腸出血。三黃解毒湯主之。</p>
<p>若小兒出痘疹之時，大小便出血者，此熱毒內攻，臟腑俱壞，乃危症也。難救。</p>
<p>凡小兒常時糞後出血不止者，此名野雞痢，地榆丸主之。</p>
<p><u>木通散</u></p>
<p>木通　萹蓄　大黃　瞿麥　滑石　赤茯苓　梔仁　黃芩　車前子　甘草梢</p>
<p>燈心引。</p>
<p><u>八正散</u></p>
<p>滑石　瞿麥　大黃　木通　萹蓄　車前子　山梔仁　甘草梢　加黃柏</p>
<p>燈心引。</p>
<p><u>香芎丸</u></p>
<p>香附　川芎　赤茯苓（各五錢）　海金砂　滑石（各一錢）　枳殼　澤瀉　石葦　檳榔（各三錢）</p>
<p>共為末，糯米粥糊丸，麥冬湯送下。</p>
<p>如小便澀痛者，取長流急處順水，用火微溫，入鹽少許調勻，空心服。</p>
<p><u>分清飲</u></p>
<p>益智仁　白萆薢　石菖蒲　烏藥　加茯苓（各等分）</p>
<p>共為末，燈心引，水煎服。</p>
<p><u>雞腸散</u></p>
<p>雞腸（燒存性，男用雄，女用雌）　牡蠣（煅）　白茯苓　桑螵蛸（微炒，各五錢）　肉桂　龍骨（各二錢半）</p>
<p>共為粗末，薑棗湯服。</p>
<p><u>地黃丸</u></p>
<p>熟地（酒浸焙，八錢）　山茱萸肉　山藥（各四錢）　澤瀉　丹皮　白茯苓（各五錢）</p>
<p>共為末，煉蜜為丸，溫水空心服。</p>
<p><u>通幽湯</u></p>
<p>生地　升麻　桃仁泥　歸身　甘草　紅花　麻仁（炒）　加大黃</p>
<p>水煎，調檳榔末服。</p>
<p><u>黃連丸</u></p>
<p>黃連（五錢）　槐米（炒）　側柏葉（炒）　枳殼　荊芥穗（各三錢）　地榆（三錢）　脫肛者加蝟皮（炙，三錢）</p>
<p>共為末，醋糊丸，陳米飲送下。</p>
<p><u>三黃解毒湯</u></p>
<p>黃連　黃芩　黃柏　紅花　木通　大黃　生地　歸身　甘草</p>
<p>水煎服。</p>
<p><u>地榆丸</u></p>
<p>防風　烏梅肉　枳殼　阿膠　甘草（炙）　荊芥穗　黃連　生地　當歸身　槐花　白朮　伏龍肝　地榆</p>
<p>水和丸，陳米飲下。</p>
<p><u>貼臍法</u></p>
<p>用田螺大者，捶爛貼臍下，能開結熱。</p>
<p><u>熨臍法用：</u></p>
<p>連須蔥（一根，不洗去泥土）　生薑（一片）　淡豆豉（二十一粒）　鹽（二匙）</p>
<p>同研捶作餅，燒銚子烘熱餅，掩臍中，以厚綿絮系定，良久氣通自利，不然再換。</p>
<p><u>膽導法</u></p>
<p>用豬膽大者一個，將鵝毛筒截去兩頭，一頭插入膽中，用線扎定，不令移動，著口吹氣入膽內，又以線作活套子扎定其氣，將鵝毛筒向內納入穀道中，取出活套，捏膽汁入腹中，須臾氣通自利。</p>

<h3>西江月</h3>
<p>大便不通症候，有虛有實不同，虛為津液少流通，腸澀不能傳送。內服通幽湯劑，外法貼導疏通，若是熱症腹中疼，屎燥三黃可用。</p>
<p>若是傷食症候，腹中必作痛疼，面黃便秘實難禁，藥用九轉靈應。大便若是下血，大腸積熱之因，連槐殼柏榆榔荊，脫肛蝟皮加增。</p>
<p>糞後時常出血，地榆丸子高強，防風枳殼與生黃、地榆當歸為上。烏梅甘草訶子，黃連荊芥同行，伏龍槐花白朮當，米醋為丸吞放。</p>
<p>小便不通症治，陰閉陽閉須知，陰為風冷入乘虛，五苓木香加入，又加靈砂為末，空心鹽湯吞之，外用鹽炒熨其臍，熱氣流通罔滯。</p>
<p>陽閉暴熱所逼，其症唇赤面紅，便如點滴血鮮流，五苓車前加用。或用煎紅散子，重者八正木通，外用熨臍法即通，活幼之功可頌。</p>
<p>又有濕痰下墜，其兒體胖身肥，喉中有痰面微紅，小便落地停注。其形渾如米泔，此症不要胡為，二陳湯內增蒼朮，木通升麻加入。</p>
<p>初出有微紅色，良久澄白如泔，此由乳食損脾元，清濁不分症現。治用分清飲子，或用胃苓湯丸，補脾化滯法為先，脾實方除此患。</p>
<p>凡治小便不通，涼藥不可多施，若用田螺貼其臍，逼寒入腹難出。宜用人參白朮，茯苓甘草相隨，再加車前與滑石，升麻芩通併入。</p>
<p>大小二便俱閉，此症果是凶危，先通大便最為宜，小便自然通利。藥用九轉靈應，車前煎水調之，此般治法實為奇，醫者銘心牢記。</p>
<p>大小二便下血，心肺積熱相攻，三黃解毒有神功，黃連黃芩相共。黃柏紅花生地，大黃甘草木通，當歸只可用其身，白水煎湯相送。</p>

<h2>頭項門</h2>
<p>小兒之頭，四時要涼，但見頭熱，即有病生，可預服抱龍丸。</p>
<p>小兒頭囟腫大，青筋顯露者，此臍熱也，瀉青丸主之。頭囟腫起者，此因熱在內，其氣上衝，故而腫起。宜退熱疏風，瀉青丸、抱龍丸主之。</p>
<p>小兒無病，忽項軟者，此肝熱有風也，瀉青丸主之。</p>
<p>囟門下陷者，此因久病，臟腑虛弱，氣不上行，故下陷如坑，參苓白朮丸主之。已成疳者，集聖丸主之。</p>
<p>囟門開而不合者，此腎氣有虧，名曰解顱，乃惡病也。宜內服地黃丸，外用封囟法。</p>
<p>久病之後，其頸軟者，此天柱骨倒，乃危症也。當大補氣血，八物湯主之，以殭蠶末調服。</p>
<p>小兒生下便頸軟者，此胎氣不足，地黃丸主之。</p>
<p><u>封囟法</u></p>
<p>用大南星微炮為末，米醋調塗絹帛上，烘熱貼之，以合為度。</p>

<h2>目病門</h2>
<p>黑珠屬肝，白珠屬肺，瞳仁屬腎，兩角屬心，兩胞屬脾。</p>
<p>目內赤者，心經積熱上攻，導赤散加黃連、防風。（方見驚風門。）</p>
<p>祖傳治小兒目赤者，以涼驚丸，菊花煎湯下。</p>
<p>目內黃者，脾熱也，瀉黃散主之。目胞腫者，同治。</p>
<p>目連眨者，肝有風也。凡病或新或久，皆引肝風。目屬肝，風入目，上下左右如風吹，兒不能任，故連眨也。用瀉青丸主之。（方見驚風門。）</p>
<p>目直視者，肝有熱也。熱入於目，障其筋脈，目之兩角俱系，不能轉視，故目直也。俱用瀉青丸主之。</p>
<p>凡小兒初生，其目閉者，此胎熱也。內連服生地黃湯，外用膽草煎水洗目上，一日七次，恐緩則損目。</p>
<p>小兒生下，眼胞赤爛者，此因生時洗拭不淨，以致穢汙漬兩角中，故兩胞赤爛，至長不瘥。真金散主之。</p>
<p>小兒久嗽，其目兩眶紫黑，如物傷損，白珠紅赤如血，謂之血眼。內服玉液丸，外用貼法。</p>
<p>小兒生下日久之後，目不見物者，謂之雀目，此肝虛也。用地黃丸治之，以豬羊肝吞壓。</p>
<p>小兒痘疹之後，目內有膜者，以穀精散主之。</p>
<p>小兒熱病，其目羞明喜暗者，此風熱也。宜解風熱，以清陽散火湯主之。</p>
<p>小兒吐瀉後，目有白膜，閉不能開，及無精光者，難治。</p>
<p><u>瀉黃散</u></p>
<p>藿香葉（七分）　山梔仁（一錢）　石膏（五分）　甘草（七分半）　防風（二錢）</p>
<p>上銼細，用蜜拌炒，但微炒為末，水煎溫服。</p>
<p><u>真金散</u></p>
<p>黃連　黃柏　當歸　赤芍（各二錢）　杏仁（去皮尖，五錢）</p>
<p>上銼細，用乳汁浸一宿，曬乾為末，生地黃汁調一字，頻頻點眼，以新帛蘸荊芥湯洗之。</p>
<p><u>生地黃湯</u></p>
<p>生地黃　赤芍　川芎　當歸　甘草　天花粉</p>
<p>各等分為末，每少許，燈心湯調服。</p>
<p><u>貼藥</u></p>
<p>用生地黃、黑豆，濕研成膏，貼目上，其血自散。如血淚既出，腫黑自消，甚妙。</p>
<p><u>穀精草散</u></p>
<p>穀精草（一兩）　蟬蛻（去翅足，三錢）　密蒙花（五錢）　白蒺藜（炒去刺，三錢）</p>
<p>共為末，每用一錢，取雄豬肝一兩，竹刀剖開，擦藥於內，以草束定，水煮肝熟，令兒食肝飲湯。</p>
<p><u>清陽散火湯</u></p>
<p>黃芩　荊芥穗　川芎　防風　薄荷葉　甘草　連翹　山梔仁　當歸　石膏　羌活</p>
<p>水煎溫服。</p>
<p>小兒驚風，目斜視而不轉睛者，灸風池穴，目左斜，灸右穴；右斜，灸左穴。</p>

<h3>西江月</h3>
<p>小兒眼目多病，皆因自食酸甘，臟生邪熱炙其肝，沖發於目為患。或為赤腫癢痛，或多眵淚遮幔，甚則翳膜掩瞳間，更有睛盲雀眼。</p>
<p>眼目部分當識，五臟各屬一位，黑珠屬肝白珠肺，瞳仁又屬腎水。大小兩角雖異，心火是則屬之，上下兩胞屬何如，脾上中央定位。</p>
<p>目內若見赤色，心經積熱上衝，導赤加連並防風，更有洗心堪用。又或現出黃色，此為脾熱蒸攻，瀉黃散子有神功，此方又醫浮腫。</p>
<p>小兒目患赤痛，難用點藥醫攻，只將湯藥內疏通，外用敷藥止痛。湯藥洗心肝散，敷藥田螺連同，二味共研要通融，紙攤貼之休動。</p>
<p>如或要用點藥，莫將眩藥妄行，只把黃連細研勻，將大田螺水浸，藥末納入螺內，須臾黃水流行，蘸水點入眼中存，熱退涼生痛定。</p>
<p>目痛肝家風熱，瀉肝散是仙方，外用乳洗目清涼，勿使點藥輕妄。久病目生白膜，肝虛之症消詳，虛則補母用地黃，養血養精為上。</p>

<h2>耳病門</h2>
<p>耳竅屬腎，耳珠前屬少陽。耳病有五，皆由於腎經氣實，熱氣上衝於耳，遂使津液壅而為膿，為清汁也。亦有因沐浴，水入耳中，灌為聾耳。內服蔓荊子散，外用龍骨散搽之。</p>
<p>耳珠前後生瘡，浸淫不愈者，黃藥散主之。</p>
<p>耳旁赤腫者，此熱毒也。若不急治，必成大癰，外用敷毒散，內服消毒飲。</p>
<p>凡暴聾者，此氣閉也，通竅丸主之。</p>
<p>百蟲入耳者，以清油灌之，其蟲即出，又用兩刀於耳邊磨，其蟲聞磨刀聲即出。</p>
<p><u>膿耳方</u></p>
<p>用蛇蛻焙黑存性，研末，吹入耳中甚效。</p>
<p><u>蔓荊子散</u></p>
<p>蔓荊子　甘草　乾葛花　升麻　赤芍　前胡　桑白皮（炒）　木通　麥冬　生地黃　赤茯苓</p>
<p>薑棗引，水煎服。</p>
<p><u>龍骨散</u></p>
<p>龍骨　白枯礬（各三錢）　麝香（少許）　黃丹（煅，二錢）　胭脂（一錢）</p>
<p>共為細末，以綿展干膿，用筒吹藥入耳。</p>
<p><u>黃藥散</u></p>
<p>黃柏　白枯礬　海螵蛸　滑石　龍骨（各等分）</p>
<p>為末，濕用干搽，乾用豬油調敷。</p>
<p><u>敷毒散</u></p>
<p>用綠豆粉，不拘多少，或豆研細末，以淡醋調敷腫處，干則易之。</p>
<p><u>消毒飲</u></p>
<p>羌活　防風　黃芩　連翹　桔梗　甘草　人參　川芎　當歸　柴胡</p>
<p>水煎服。</p>
<p><u>通竅丸</u></p>
<p>用磁石（一錢為末）　麝香（五釐）</p>
<p>同研成丸，如棗核大，綿裹之，納耳中。又以鏽鐵一塊，熱酒泡過，含口中，須臾氣即通矣。</p>

<h3>西江月</h3>
<p>尋常耳中水出，日久乾結難通，雖然聤耳不為凶，只恐成膿堪痛。治在少陽風熱，腎經濕熱同攻，紅綿鱔血可消膿，方子分明選用。</p>

<h2>鼻病門</h2>
<p>鼻為肺之竅，鼻塞者，蓋肺氣不通於竅。然肺主皮毛，風寒外感，則肺氣壅閉而鼻塞。川芎膏主之。</p>
<p>鼻涕者，肺為風寒所襲，而津液不收，則為鼻涕，細辛散主之。</p>
<p>齆鼻者，肺受風寒，久而不散，膿涕結聚不開，使不聞香臭，則齆矣。萬金膏主之。</p>
<p>以上三症，皆宜疏利，俱用加味麗澤通氣散。</p>
<p>鼻乾者，心脾有熱，上蒸於肺，故津液枯竭而結，當清熱生津，導赤散吞抱龍丸治之。</p>
<p>如痛已極，鼻乾而黑，竅張，長出冷氣者，此肺絕也，必死之症。</p>
<p>鼻淵者，流下唾涕，極其腥臭，此膽移熱於腦，又名腦崩，辛夷散主之。</p>
<p>凡小兒初生，三朝五日一臘，忽然鼻塞，不能吮乳，不得呼吸者，因乳母安臥之時，而不知迴避，鼻中出氣，吹著兒囟門，或因洗浴，用水溫冷，又不避風邪，所以致兒鼻塞，通關散治之。</p>
<p>鼻衄者，是五臟積熱所為也。蓋血隨氣行，今得熱，則熱氣動而妄行，溢出於鼻也。宜涼血為主，內服加減地黃湯，外用吹鼻散。</p>
<p><u>川芎膏</u></p>
<p>川芎　細辛　藁本　白芷　甘草（各三錢）　龍腦（五分）　麝香（五分）　杏仁（去皮尖，七粒）</p>
<p>共為末，煉蜜為丸，燈心湯化服。如體弱者，綿裹一丸，塞鼻孔中，男左女右。</p>
<p><u>細辛散</u></p>
<p>細辛　前胡　防風　川芎　人參　甘草（各等分）</p>
<p>為末，乳香湯調服。</p>
<p><u>萬金膏</u></p>
<p>羌活　川芎　細辛　木通　麻黃　石菖蒲（各一錢）　龍腦（少許）　麝香（少許）</p>
<p><u>加味麗澤通氣散</u></p>
<p>羌活　獨活　蒼朮　防風　升麻　荊芥穗　葛根　甘草（炙）　細辛　麻黃　白芷　川芎　木通　姜（三片）　棗（二枚）　蔥白（三寸）</p>
<p>水煎食後服。</p>
<p><u>辛夷散</u></p>
<p>辛夷仁（五錢）　蒼耳子（炒，二錢半）　白芷（一錢）　薄荷葉（五分）　黃連（一錢）</p>
<p>共曬乾為末，蔥湯調服。</p>
<p><u>通關散</u></p>
<p>香附子　川芎　荊芥穗　殭蠶　細辛　牙皂</p>
<p>共為末，以蔥白搗成膏，攤絹紬上，烘熱，臨臥時貼囟門。</p>
<p><u>加減地黃湯</u></p>
<p>生地　黃芩　梔子仁　赤芍　鬱金</p>
<p>茅花引，水煎入車前草自然汁，細細服之。</p>
<p><u>吹鼻散</u></p>
<p>山梔仁　亂頭髮（燒灰）</p>
<p>共為末，吹入鼻中。</p>
<p><u>祖傳治衄血</u></p>
<p>用神芎丸，茅花煎湯下。</p>

<h3>西江月</h3>
<p>小兒若是鼻塞，風寒各有根由，傷風清涕必長流，乾燥傷寒熱搐。清涕荊防發散，乾燥火熱中求，芩連梔柏可同儔，引用蔥姜平復。</p>
<p>忽然鼻中衄血，五臟積熱所為，血隨氣上溢於鼻，治用涼血為主。川芎當歸赤芍，生地黃芩生梔，黃連甘草牡丹皮，柏葉茅根煎吃。</p>

<h2>口瘡門</h2>
<p>口者脾之竅，唇內應乎脾。</p>
<p>小兒鵝口者，口內白屑滿舌上，如鵝之口者，此為胎熱，而心脾最甚，重發於口也。當內服涼驚丸，外用鵝口中涎，以絹包手指洗淨，以保命散吹之，此亦名口瘡。</p>
<p>口瘡者，滿口赤瘡，此因胎稟本厚，養育過溫，心脾積熱，熏蒸於上，以成口瘡。內服涼驚丸，外用地雞（即扁蟲，人家房內磚下多有之）擂水，遍塗瘡上，又以一連散敷之。</p>
<p>以上二症，如服涼驚丸不效，洗心散一服如神。</p>
<p>口糜者，滿口生瘡潰爛，乃膀胱移熱於小腸，膈腸不便，上為口糜。以導赤散去小腸熱，五苓散去膀胱熱，當以導赤散調五苓散主之。</p>
<p>口瘡服涼藥不效，乃肝脾氣不足，虛火泛上而無制，用理中湯治之，外用官桂末吹之。</p>
<p>吐瀉後，口生瘡者，亦是虛火。理中湯主之。</p>
<p>小兒上齶有脹起如懸癰者，此名重齶，由脾胃挾熱，血氣不能收斂而成此者，用針刺去惡血，內服涼膈散，外用碧雪散吹之，輕者服涼驚丸。</p>
<p>小兒兩頤流涎浸潰胸前者，此滯頤。蓋涎者脾之液，口為脾之竅，由脾胃虛冷，不能收斂津液，故涎從口出，而潰於頤者，宜溫脾丹主之。</p>
<p>小兒口頻撮者，氣不和也。蓋唇應乎脾，氣乃肺之所生，脾虛不能養子，故口頻撮。宜補其母，則氣自和，以異功散主之。</p>
<p>小兒口撮面青多哭者，此臍下痛也，理中湯主之。</p>
<p>初生因臍風口撮，臍腹腫者，不治。</p>
<p>小兒急散乳吃，而口不吮乳者，此心脾有熱，瀉黃散治之。</p>
<p><u>保命欲</u>（一名朱礬散）</p>
<p>硃砂　白枯礬（各五錢）　牙硝（五錢）</p>
<p>共為細末，搽舌上。</p>
<p><u>一連散</u>（即瀉心湯）</p>
<p>黃連為末，蜜水調敷。</p>
<p><u>洗心散</u></p>
<p>白朮　甘草　當歸　荊芥　加生地　大黃（煨）　麻黃　赤芍　薄荷葉</p>
<p>生薑引。</p>
<p><u>碧雪散</u></p>
<p>蒲黃　青黛　硼砂　火硝　生甘草</p>
<p>各等分為細末，吹之。</p>
<p><u>溫脾丹</u></p>
<p>木香　半夏（各五錢）　生薑（一錢）　白朮（一錢）　青皮（一錢）　陳皮（一錢）</p>
<p>共研末，粽糊為丸，米飲下。</p>
<p><u>異功散</u></p>
<p>人參　白朮　茯苓　甘草　陳皮</p>
<p>薑棗引，食前溫服。</p>
<p>小兒鵝口、口瘡、重齶，不能吮乳，咽喉腫塞者，用青黛散。</p>
<p><u>青黛散</u></p>
<p>青黛（二錢）　黃連　黃柏（各五錢）　牙硝（一錢）　辰砂（一錢）　雄黃　硼砂　牛黃（各五分）　腦子（一分）</p>
<p>共為細末，先以薄荷汁拭口，後擦藥入口，每用二分半。</p>

<h3>西江月</h3>
<p>小兒心脾積熱，唇口舌上生瘡，白為鵝口屑浮霜，赤者石榴子樣。上下口唇破裂，令兒乳食難嘗，洗心涼膈是奇方，搽洗各宜停當。</p>

<h2>舌病門</h2>
<p>舌尖屬心，舌根屬脾。</p>
<p>重舌者，心脾有熱也。蓋心候乎舌而主血，脾之脈絡出於舌下，若心脾有熱，則氣俱盛，附舌根而重生一物，形如舌而短小。內服涼膈散，外用針刺去惡血，以蒲黃和黃柏敷之。</p>
<p>木舌者，心脾積熱之氣上衝，故令舌腫，漸漸長大，塞滿口中，若不急救，必致害人。內服涼膈散，以針刺去惡血，用碧雪散和竹瀝敷之。</p>
<p>弄舌者，脾臟微熱，令舌絡緊，時時餂舌，勿冷藥及下之，少以瀉黃散服之。亦或飲水，面無紅白色者，此脾胃少津液故耳，不可誤認為熱，以白朮散主之。</p>
<p>面黃肌瘦，五心煩熱弄舌者，此疳症也，集聖丸主之。</p>
<p>大病後，用藥而舌弄者，凶。舌上生白苔者，此丹田積熱也。內服涼驚丸，外用碧雪散治之。</p>
<p>舌上生黑苔者，其熱已劇，急以薄荷煎水洗之。如紅者可治，以涼膈散下之，洗不紅者，必死。</p>
<p>舌上生苔又加大熱者，不可治，十有九死。</p>
<p>吐泄後，舌上生白苔者，此虛熱也，理中湯主之。</p>
<p><u>涼膈散</u></p>
<p>連翹　山梔仁　大黃　薄荷葉　黃芩　甘草　芒硝</p>
<p>薑汁少許引。</p>

<h3>西江月</h3>
<p>小兒重舌木舌，心脾蘊熱攻中，舌下生舌兩重重，木舌大硬腫痛。急用針刺去血，何妨鮮血流紅，枯礬搽上有神功，解熱消風可用。</p>

<h2>牙齒門</h2>
<p>上片牙屬胃，下片牙屬大腸，齒屬腎。</p>
<p>凡齒生遲者，腎氣不足也。蓋腎主骨，齒者骨之餘。腎不足則髓虧，髓虧則不能充乎齒，所以齒生遲也。以地黃丸治之。</p>
<p>上下齒床腫者，此陽明實熱也。涼膈散以酒蒸大黃為君，加知母、石膏、升麻為佐，頻頻含咽。</p>
<p>重齦者，腎臟積熱。附齦腫痛，謂之重齦。以針刺去其血，用鹽湯洗淨，黃柏末敷之。</p>
<p>小兒多食肉，牙齒臭息不可近者，此陽明有熱也。內服神效丸，外用薑汁荊瀝含咽。</p>
<p>牙疳者，狀如狐惑，初作臭氣，次則牙齒黑，甚則齦肉爛而出血，名曰宣露。此由腎熱，其氣奔上焦，故以走馬為喻，當速治之。若上下唇破鼻穿，牙齒落者，此名崩砂。氣喘痰潮，飲食減少，則不可治。當內服黃柏丸，外用如聖散敷之。</p>
<p>咬牙者，風熱也。由陽明、大腸二經積熱，熱則生風，故令相擊而作聲，必於夢中者，蓋動則風散於表，靜則風歸於里也。宣風散主之。</p>
<p>上唇生瘡，蟲食其臟，曰惑。下唇生瘡，蟲食其肛，曰狐。出《傷寒指掌》之言。狐惑者，取其進退猶豫之義。</p>
<p>咬牙，惟痘疹中有此者為危，余無大害。亦有因病戰慄，鼓頷而鬥牙者，治其病則自止矣。</p>
<p>牙齒落而不再生者，由於舌舐之故，其肉頑厚，用針刺出血，以鼠骨散擦之，即生。</p>
<p><u>文蛤散</u>　治牙疳。</p>
<p>雄黃　枯礬（各五分）　五倍子（二錢）　蠶蛻紙（燒灰存性，一錢）</p>
<p>共為末，先以米泔水洗淨，以藥搽上，一日三、四次，以愈為度。</p>
<p><u>蠶蛻紙散</u>　治牙疳。</p>
<p>蠶蛻紙（燒灰，五分）　人中白（燒過，五分）　紅褐片（燒灰，五分）　白砒（棗肉包燒煙盡，取用一分）</p>
<p>共為末，搽之。</p>
<p><u>神效丸</u></p>
<p>蘭香葉　當歸　藿香葉　木香（各一錢）　升麻（二錢）　生地（酒洗）　甘草（各二錢）　黃連（酒炒）　砂仁（各五錢）</p>
<p>共為末，湯浸蒸餅為丸，白湯送下。</p>
<p><u>黃柏丸</u></p>
<p>黃柏（半生半炒，為末）</p>
<p>煉蜜丸，白湯送下。</p>
<p><u>如聖散</u></p>
<p>用婦人尿桶中白垢（刮取，煅盡煙）一錢，銅綠二分，麝香半分。共為末，先以臘茶浸米泔水洗淨血後，搽此藥。</p>
<p><u>宣風散</u></p>
<p>檳榔（二個）　陳皮　甘草（各兩半）　牽牛（半生半炒）</p>
<p>共為末，蜜水調，食前服。</p>
<p><u>鼠骨散</u></p>
<p>用雄鼠一隻，爛盡肉，取骨研末，加麝香少許，擦上，用薑湯漱口。</p>

<h3>西江月</h3>
<p>上下牙齦黑爛，齦宣息露堪嗟，敗唇穿鼻落齒牙，迅速呼為走馬。肉壞咽喉可畏，啼聲漸變啞嗄，又名狐惑兆非佳，治䘌回瘡無價。</p>

<h2>咽喉門</h2>
<p>咽者，胃脘主納水穀；喉者，肺管主氣出入，為一身之總要。若胸膈間蘊積熱毒，致生風痰，壅滯而不散，發而為咽喉病，名雖數種，皆受熱毒，宜速解熱毒，緩則有難救之患。輕則甘桔湯，重則化毒湯主之。</p>
<p>如出痘瘡而咽喉痛者，此毒氣上攻也，加減甘桔湯主之。喉中生瘡，不能吮乳者，化毒湯主之。</p>
<p>小兒為諸骨所哽，骨大難嚥者，以鵝羽掃喉吐之。骨小者，用海上方及祝由科治之，不治恐傷人。</p>
<p>誤吞麥芒者，取鵝口中涎咽之，即效。</p>
<p><u>甘桔湯</u></p>
<p>桔梗　甘草　人參</p>
<p>水煎，細細吞之。</p>
<p><u>化毒湯</u></p>
<p>桔梗（五錢）　薄荷葉　荊芥穗（各二錢）　甘草（二錢半）　朴硝（一錢）　山豆根（一錢半）　牙硝　硼砂（各二錢半）　雄黃　辰砂（各二錢）</p>
<p>為細末，吹之，或以水調服。</p>
<p><u>海上方</u></p>
<p>用金鳳花根捶碎，米醋煎，用有嘴瓶盛之。將口銜瓶嘴，仰面咽之，其骨即出，吞時勿令沾牙。</p>
<p>用玉簪花根亦可，或威靈仙根亦可，俱如前法。</p>
<p><u>祝由科</u></p>
<p>用淨水半碗，一氣書龍師火帝七遍，吞水即效。</p>

<h3>西江月</h3>
<p>小兒咽喉部位，一身軀命所關，蘊積熱毒膈胸間，致生風痰不散。病雖數種各別，治宜去痰為先，後解風熱病斯痊，遲有難救之患。</p>
<p>咽喉若然有疾，治宜認其重輕，輕者甘桔散先行，重則化毒當進。如或喉腫口噤，開關散子宜熏，喉風急救散通神，吐痰消腫退病。</p>
<p>如患單雙蛾症，治者不可胡行，可針之症要用針，不當針時要禁。只用熏滲等藥，退後依次施行，蟾酥錠子點瘡疔，瘡毒自消可幸。</p>

<h2>形聲門</h2>
<p>發乃血之餘，腎之苗也。小兒發久不生，雖生不黑而稀，此由腎氣衰，則血氣不足之故也，地黃丸主之。</p>
<p>齒乃骨之餘，骨者腎所主也。齒久不生，雖生而不齊者，此腎虛故也，地黃丸主之。</p>
<p>行遲者，何也？蓋骨乃髓之所養，血氣不充，則髓不滿骨，故軟弱不能行。此由腎與肝俱虛得之。蓋肝主筋，筋弱而不能早行；腎主骨，骨弱而不堅。加味地黃丸主之。</p>
<p>腳細者，稟受不足，氣血不充，故肌肉瘦薄，骨節俱露，如鶴之膝，此亦由腎虛，名鶴膝節。加味地黃丸主之。</p>
<p>小兒大病後，手足痿弱，及驚風后手足痿緩，並宜加減地黃丸主之。</p>
<p>語遲者，由兒在胎之時，母受驚邪之氣乘心，兒感母氣，心神不定，不能榮舌，故而語遲。菖蒲丸主之。</p>
<p>凡吐泄及大病之後，雖有聲而不能言，又能進藥，此外失音乃腎怯不能上接於陽也。地黃丸主之。</p>
<p>有卒暴寒冷而聲不出者，此肺風邪也。加味瀉白散主之。</p>
<p>龜胸者，其胸高腫，狀如龜樣，此肺熱也。加減葶藶丸主之。</p>
<p>龜背者，坐臥傴僂，狀如龜背，由客風吹脊入於骨髓，此症多成痼疾。間有灸肺俞二穴（第三椎骨節下兩旁各寸半），膈俞穴（第七椎骨下兩旁各寸半），如此而收功者，然未盡見效也。以枳殼丸主之。</p>
<p><u>地黃丸</u></p>
<p>熟地黃（酒蒸，八錢）　山茱萸（去核）　山藥（各四錢）　澤瀉　白茯苓　丹皮（各三錢）</p>
<p>腎弱失音者，加巴戟（去心）、石菖蒲各三錢，煉蜜為丸，麥冬湯下。</p>
<p><u>加味地黃丸</u></p>
<p>虎脛骨（酒炙）　生地黃　酸棗仁（炒）　肉桂　防風　白茯苓　當歸</p>
<p>如驚後得前症者，加羌活</p>
<p>煉蜜為丸，白湯下。</p>
<p><u>菖蒲丸</u></p>
<p>人參　石菖蒲　麥冬（去心）　遠志肉（薑汁炒）　川芎　當歸（各三錢）　滴乳香　硃砂（各一錢）</p>
<p>因於驚得者，加牛膽南星三錢</p>
<p>煉蜜為丸，米飲下。</p>
<p><u>加減葶藶丸</u></p>
<p>大黃（煨）　天冬（去心）　杏仁（去皮尖，另研）　百合　桑白皮（炒）　木通　甜葶藶（炒（</p>
<p>蜜丸，滾白水送下。</p>

<h3>囟顛詩（七言）</h3>
<p>乳食不常飢飽起，寒熱積脾氣上衝。</p>
<p>致成此症隨輕重，風熱相交未易攻。</p>
<p>治宜退熱疏風症，瀉青丸子顯神功。</p>

<h3>囟陷詩（七言）</h3>
<p>瀉泄久而氣血虛，不能上衝元氣虧。</p>
<p>狗脊炙黃為細末，雞蛋白調服即愈。</p>
<p>藥用參苓白朮散，服之此症頃能除。</p>

<h3>滯頤詩（七言）</h3>
<p>脾胃虛寒涎自流，不能收斂漬頤謀，</p>
<p>半術姜陳青皮末，一歲一丸米飲投。</p>

<h3>語遲詩（七言）</h3>
<p>受胎母即有驚邪，二氣乘心舌未加。</p>
<p>菖蒲茯神參遠志，麥冬當歸乳香砂。</p>
<p>蜜丸粟大吞二十，薄荷湯下可見瘥。</p>

<h3>行遲詩（七言）</h3>
<p>肝腎二經俱不足，肝主筋兮腎主骨，</p>
<p>若要二經氣血充，加味地黃能助補。</p>

<h3>龜胸詩（五言）</h3>
<p>小兒龜胸症，肺熱脹如胸，</p>
<p>加減葶藶丸，服之有神功。</p>

<h3>龜背詩（五言）</h3>
<p>龜背為惡症，腎風入骨髓，</p>
<p>內服枳殼丸，灸法宜相繼。</p>

<h3>發齒生遲詩（七言）</h3>
<p>發久不生生不黑，齒久不生生不齊，</p>
<p>腎虛血弱成斯症，地黃丸子俱能醫。</p>

<h3>解顱（四言句）</h3>
<p>解顱八物，有熱加連，</p>
<p>以綿系束，香附白蘞。</p>

<h3>鶴膝（四言句）</h3>
<p>小兒鶴膝，此屬腎虛，</p>
<p>地黃加味，服卻無虞。</p>

<h2>諸瘡門</h2>
<p>小兒初生，遍身生蟲瘡及流水瘡、風瘡，皆胎毒也。切勿搽藥，恐逼毒入腹，宜服胡麻丸。</p>
<p>凡有誤用搽藥，逼毒入腹，以致腹脹者，解毒丸主之。</p>
<p>凡有頭面遍身生瘡，非干搽藥，忽然自平，加痰喘者，切不可解利。當以連翹湯治之。以上數症，俱是胎毒，不可用灸法。</p>
<p>其有一歲以上，生流水瘡者，此血風瘡也，胡麻丸主之。</p>
<p>痘瘡後，生膿疱瘡者，此痘風瘡，以胡麻丸治之。</p>
<p>以上二症，俱是風熱，宜灸風池穴、曲池穴、血海穴、足三里穴，各灸三壯。</p>
<p><u>連翹湯</u></p>
<p>連翹　人參　川芎　黃連　生甘草　陳皮　白芍　木通</p>
<p>水煎入竹瀝服。</p>
<p>小兒生癰毒腫癤者，皆因氣血凝而熱乘之。內服解毒湯，外用貼藥。如已潰者，內服大補湯，外用紫金錠塗之。</p>
<p><u>解毒湯</u></p>
<p>玄參　連翹　升麻　黃芩　赤芍　當歸　羌活　防風　生地　甘草　荊芥穗</p>
<p>秘結者，加大黃　木通</p>
<p><u>大補湯</u></p>
<p>人參　黃耆　川芎　連翹　白芷　白茯苓　當歸　生地　白朮　甘草　赤芍</p>
<p>薑棗引。</p>
<p><u>紫金錠</u></p>
<p>山慈姑（三兩）　五倍子（三兩）　大戟（兩半）　續隨子肉（一兩）　麝香（三錢）　雄黃　硃砂（各一兩）</p>
<p>為末，糯米糊作錠子，磨水搽。</p>
<p><u>貼藥</u></p>
<p>黃芩　黃連　黃柏（各二錢）　大黃　蒲黃（各三錢）　血竭　乳香（各二分）　沒藥（二分）　麝香（少許）</p>
<p>共為末，取生薑自然汁，和雞蛋清打勻，調藥貼之。</p>
<p>頭上生軟癤，膿水不幹者，用紫金錠搽之，自愈。用單方搽亦效。</p>
<p><u>單方</u></p>
<p>用上好磁器，不拘多少，研為極細末，雞子清調搽。</p>
<p><u>又方</u></p>
<p>大枳殼一個，去瓤，令空磨，令口平，以麵糊塗抹枳殼四圍，安貼於癤上，自破。膿血流盡，先於一邊以燈草一根通之，癤痊便無痕跡。</p>
<p><u>又方</u></p>
<p>用石灰篩過，以雞子清和灰為丸，入炭火燒煉通紅，如此捶和三次，依法煅煉，取研細，香油調敷。</p>
<p>頸上生核，腫脹發熱者，內服連翹丸，外用五倍子為末，淡米醋調敷，一日二次易之，效。</p>
<p><u>連翹丸</u></p>
<p>連翹　桑白皮　白頭翁　牡丹皮　防風　黃柏　肉桂　豆豉　獨活　秦艽（各五錢）　海螵蛸（三錢半）</p>
<p>為末，煉蜜丸，燈心湯下。</p>

<h3>西江月</h3>
<p>小兒遍身瘡疥，蟲窠膿血浸淫，此由胎毒內藏深，故有許多形症。涼血殺蟲解毒，胡麻丸子通神，切防搽洗毒歸心，腹痛神昏命盡。</p>
<p>若是要用搽藥，瘙癢無過蛇床，䘌蟲作楚用雄黃，痛腫寒水為當。不癢須加狗脊，喜鹽湯火硫磺，斑蝥同研熟尤良，手擦鼻聞搽上。</p>

<h2>丹毒門</h2>
<p>小兒赤遊丹毒，雖有十種，皆由心火內盛，熱與血搏。或起於手足，或發於頭面胸背，遊移上下，其熱如火，痛不可言，赤如丹砂，故名丹毒。自腹出四肢者易治，自四肢入腹者難治。療此症者，其法必先用表藥，以解熱毒，方可搽敷。若遽用藥搽，使氣無所泄，而入於裡，傷人者多矣。</p>
<p>小兒丹毒，一歲以上者，易治。未周歲者，難治。</p>
<p>有因驚後而發丹者，此毒氣由內出外，易治。有先發丹而後驚者，此毒氣由外入內者，多死不治。</p>
<p>一從頭項起者，名飛灶丹。</p>
<p>二從頭上起者，名走灶丹。</p>
<p>三從面上起者，名鬼火丹。</p>
<p>四從背上起者，名天火丹。</p>
<p>五從兩手起者，名天灶丹。</p>
<p>六從兩脅起者，名水丹。</p>
<p>七從臍起者，名葫蘆丹。</p>
<p>八從兩腳起者，名野火丹。</p>
<p>九從兩腳背起者，名煙火丹。</p>
<p>十從陰上起者，名胡漏丹。</p>
<p>飛灶丹：先用蔥白取自然汁搽。</p>
<p>走灶丹紅腫痛：用赤小豆末，雞子清調擦。</p>
<p>鬼火丹：用伏龍肝、雞子清調搽。</p>
<p>天火丹：用桑白皮末，羊脂調搽。</p>
<p>天灶丹：用柳木燒灰，水調搽。</p>
<p>水丹：用生鐵鏽末，豬油調搽。</p>
<p>葫蘆丹：用檳榔末，米醋調搽。</p>
<p>野火丹：用乳香末，羊脂調搽。</p>
<p>煙火丹：用豬槽下土，清油調搽。</p>
<p>胡漏丹：用屋漏處的土，羊脂調搽。</p>
<p>以上十種丹毒，俱先服防風升麻湯，以解其毒。次用蜞針法，以去其毒血，如無蜞針，用砭針法，然後用救急法。</p>
<p><u>防風升麻湯</u></p>
<p>防風　升麻　山梔仁　甘草　麥冬（去心）　荊芥穗　木通　葛根　薄荷葉　玄參　連翹　牛蒡子　便秘者加大黃</p>
<p>水煎服。</p>
<p><u>蜞針法</u></p>
<p>用水蜞數條，放於紅腫處，令吃出毒血，立愈。</p>
<p><u>砭針法</u></p>
<p>用磁瓦片，打成尖鋒，以筷子夾定扎住，連刺令出惡血。</p>
<p><u>急救法</u></p>
<p>取灶心對鍋底焦土，研末，以新汲水調搽，干則易之。</p>
<p>小兒丹毒，腹脹，氣喘，悶亂，不乳，反驚搐者，皆不可治。</p>
<p>小兒生後，百日之內，半歲以上，忽兩眼胞紅暈微起，面青黯色，夜則煩哭，或臉如胭脂，此因伏熱在內，發之於外，初則滿面狀如水痘，腳微紅而不壯，出沒休息無定，次至頸項，赤如丹砂，名為驚丹。以三解散治之。</p>
<p><u>三解散</u></p>
<p>人參　防風　天麻　鬱金　茯神　白附子　大黃　黃芩　殭蠶　全蠍　枳殼　薄荷葉　粉草　赤芍</p>
<p>燈心引。</p>
<p>小兒驚風后，風從氣行，血從氣使，毒氣蓄於皮膚，流為腫毒，多在腮頰、耳根間，成癰成癤，謂之毒風。宜內服當歸百解散，外用拂毒散敷之。</p>
<p><u>當歸百解散</u></p>
<p>當歸　赤芍　大黃　川芎　升麻　薄荷葉　乾葛　麻黃　黃芩　甘草　枳殼　皂角刺</p>
<p>蔥姜引。</p>
<p><u>拂毒散</u></p>
<p>半夏（一錢）　貝母　大黃　朴硝　五倍子（各二錢半）</p>
<p>共為末，淡醋調敷患處，干則易之。</p>
<p>小兒或因跌僕，刀斧破傷皮膚，風邪侵襲傷處，發此謂之破傷風。宜內服疏風活血散，外以紫金丹塗之。</p>
<p><u>疏風活血散</u></p>
<p>當歸　生地　川芎　赤芍　荊芥　防風　甘草　紅花　蘇木</p>
<p>水煎服，入酒少許。</p>

<h3>西江月</h3>
<p>小兒赤遊丹毒，雖有十種原根，皆由心火熱多深，上下游移不定，其色渾如丹石，故稱丹毒之名，治法方冊甚分明，全在醫家體認。</p>
<p>小兒流丹最毒，十種發出不同，自上而下莫至胸，自下至腎可慟，半周之內休見，滿周病此宜攻，蜞針的的有神功，內解外敷兼用。</p>
<p>內解歸梢赤芍，羌活荊芥防風，升麻甘草地黃通，竹葉玄參煎用。外用益元敷貼，更加寒水相同，三朝五日急相攻，驚搐靈丹如夢。</p>
<p>治丹用功次第，從頭一一鋪陳，解表下毒藥先行，次用蜞針吮進。若是蜞針不便，須臾急用砭針，然後塗藥救孩身，此法前人已定。</p>
<p>捷法先須解毒，或將利藥疏通，初起塗敷莫胡攻，毒入於裡遏壅。解毒無價散子，防風升麻湯同，利藥靈應有神功，只在醫人善用。</p>
<p>經驗治丹妙法，而今說與後人，先將靈應滌病身，下後才施塗潤。田螺搗餅敷貼，或用水調灶心，又將南星大黃停，芒硝研勻水浸。</p>
<p>烘熱衣與兒，火丹遂成之，芒硝寒水石，青黛石膏奇。赤痣因何起，胎中受熱多，原來無大害，不必請醫和。</p>

<h2>斑疹癮疹門</h2>
<p>小兒斑疹，其焮腫於外者，屬少陽相火也，謂之斑。紅點在皮膚之中不出者，屬少陰君火也，謂之疹。</p>
<p>其症有陰陽輕重之別，陽斑用托裡消熱，化斑涼血，此急治其標也。陰疹用調中溫胃，其疹自消，此緩則治其本也。大抵安里之藥多，發表之藥少，首尾不可妄下。</p>
<p>陽毒者，或發於面部，或發於背部，或發於四肢，極其稠密，狀如錦紋。紅赤者，胃熱也。紫黑者，胃爛也。一則下之早，其熱乘虛而入胃；一則下之晚，其胃熱不得發越，當服消斑青黛飲。</p>
<p>陰疹者，或出胸背、手足稀而小者，此由失守之火，聚於胸中，上熏於肺，傳於皮膚，而成斑點，如蚊蚋蚤蝨所咬，而非錦紋也。宜服理中湯治之，其火自降，其斑自退矣。</p>
<p>斑疹若自吐瀉者，慎勿亂治。因其毒氣上下皆出，宜調中氣。若吐瀉之後，遍身發斑如錦紋者，此熱即乘虛入胃，其症多得於夏天，化斑湯主之。</p>
<p><u>消斑青黛飲</u></p>
<p>黃連　甘草　石膏　知母　柴胡　山梔仁　玄參　升麻　生地　黃芩　人參　青黛</p>
<p>生薑三片，豆豉二十粒引。</p>
<p><u>調中湯</u></p>
<p>蒼朮　陳皮　砂仁　白芍（炒）　甘草（炙）　藿香葉　桔梗　半夏　白芷　羌活　枳殼　川芎</p>
<p>姜三片引。</p>
<p><u>化斑湯</u></p>
<p>人參　石膏　知母　甘草　水竹葉</p>
<p>粳米引。</p>
<p>如斑紅者易治，黑者難治。</p>
<p>小兒癮疹多屬於脾，以其隱隱在皮膚之間，發而多癢。或不紅者，並風與濕而成也。加味羌活散治之，或加減攻毒散亦效。</p>
<p><u>加味羌活散</u></p>
<p>羌活　前胡　人參　桔梗　甘草　薄荷葉　枳殼　川芎　天麻　茯苓　蟬蛻</p>
<p>姜三片引。</p>
<p><u>加減攻毒散</u></p>
<p>羌活　獨活　前胡　柴胡　當歸　川芎　枳殼　桔梗　茯苓　人參　甘草　薄荷葉　防風　荊芥　蒼朮　芍藥　生地</p>
<p>薑棗引。</p>
<p><u>續諸瘡驗方</u></p>
<p>小兒眉叢中生瘡，浸淫不幹者，名曰鏈銀瘡。用穿山甲前膊上甲，炙焦為末，入輕粉少許，清油調敷。</p>
<p>凍耳成瘡者，內服防風通聖散，外用鉛粉，以水擂細，將艾揉爛，焚成烏色，研末敷之。</p>
<p><u>防風通聖散</u></p>
<p>防風　川芎　當歸　薄荷葉　大黃（炒）　山梔仁　赤芍　麻黃（去節）　連翹　石膏　黃芩　桔梗　滑石　荊芥　白朮　甘草　加乾葛</p>
<p>生薑引。</p>
<p>身上生瘡如粟米大，成塊成路極痛者，此名龍纏瘡。用珍珠、鳳尾草，搗汁搽之。又以渣調清油敷之，效。</p>
<p><u>又驗方</u></p>
<p>取糯米不拘多少，浸脹擂漿，澱粉搽之。</p>
<p><u>治天疱瘡方</u></p>
<p>以韭菜地蚯蚓糞，炒乾研極細，蜜調搽。</p>
<p>小兒手足生瘡，瘡頭黑，破流黃水，四畔浮漿極痛者，此名魚臍瘡。用蛇皮燒存性，研細末，雞子清、清油調搽。</p>
<p>陰囊生瘡潰爛，皮脆子欲墜者，此名脆囊症，乃濕熱也。用紫蘇葉為末，濕則滲之，干則清油調搽。</p>
<p><u>又方</u></p>
<p>用牆中白螺殼子，為末敷之。</p>
<p>凡小兒不論癰毒瘡癤，及無名惡瘡，破傷血出，與諸蟲咬螫者，並用紫金錠水磨化，內服外塗，效不可言。</p>
<p>有頭頂上生瘡，似流水而非流水者，以遠年鐵磨水搽之，其效如神。</p>
<p><u>又治流水瘡方</u></p>
<p>鹽一鍾，麥麩一鍾，少將水和勻，如彈子大，放炭火上燒灰存性，如瘡濕則干搽，瘡干以清油調搽之。</p>

<h2>秘傳十三方</h2>
<p><u>抱龍丸</u>　抱者，養也；龍者，純陽之物也。小兒純陽無陰，所以病則有熱，熱則生風，必用此藥，所以養其陰而濟之，令不太過也。又青龍位，肝木屬之，小兒肝常有餘，脾常不足，故以此藥抑肝扶脾，乃名抱龍。治形實壯熱，昏睡氣粗，或痰壅嗽，驚風搐搦。</p>
<p>牛膽南星（五錢，臘月取牛膽一個，將南星去皮臍，研為末，放於牛膽中，陰乾備用）　天竺黃　辰砂（各一錢）　琥珀（三分）　牛黃（二分）　麝香（半分）　珍珠（三分）　白檀香（三分）　枳實　枳殼（各三分）</p>
<p>共為末，山藥打糊為丸，如黃豆大，金箔為衣。潮熱，燈心湯化下。驚風，薄荷湯下。咳嗽，白開水化下。</p>
<p><u>涼驚丸</u>　退五臟熱，瀉心肝火，治急驚，解胎毒，如小便黃，大便秘，丹毒斑疹，衄血，口瘡，並皆治之。</p>
<p>黃連（五錢，瀉心火）　黃芩（五錢，瀉肺火）　山梔仁（五錢，瀉肝火）　黃柏（五錢，瀉腎火）　大黃（二錢，瀉脾胃火）　龍膽草（三錢，瀉膽火）　雄黃（解毒）　辰砂（鎮心，各二錢）</p>
<p>共為末，水糊丸，如粟米大，竹葉燈心湯下。急驚，薄荷燈心湯下。胎熱，竹葉燈心湯下。衄血，茅花湯下。丹毒斑疹，升麻湯下。口瘡，水竹葉、薄荷湯下。</p>
<p><u>胃苓丸</u>　分陰陽，退潮熱，止吐泄，消浮腫、黃疸，調脾胃，止便濁，小兒常用之藥也。</p>
<p>蒼朮（米泔水浸去黑皮，焙乾，五錢）　陳皮（五錢）　厚朴（薑汁炒，五錢）　白朮（五錢）　粉草（炙，二錢）　豬苓（三錢）　澤瀉（三錢）　白茯苓（三錢）　草果仁（二錢）　官桂（一錢）</p>
<p>共為末，水糊丸，如粟米大，炒米湯下。嘔吐，煨薑湯下。調胃，炒米湯下。白濁，鹽湯下。瀉泄，炒米、車前草湯下。潮熱，水竹葉、炒米湯下。浮腫，長流水、燈心、五加皮湯下。疝氣，茴香湯下。黃疸，加茵陳五錢，燈心湯下。</p>
<p><u>養脾丸</u>　治小兒脾胃虛弱，不思乳食，傷食癖積，面色黃，嘔吐泄瀉，腹痛膨脹，並皆治之。</p>
<p>蒼朮（制，五錢）　厚朴（三錢）　陳皮（五錢）　砂仁（二錢）　草果仁（二錢）　神麯（炒，三錢）　益智仁（二錢）　茯苓（三錢）　麥芽（炒，三錢）</p>
<p>共為末，酒糊丸，如粟米大，米飲下。嘔吐，煨薑湯下。脾胃虛弱，米湯下。食積，山楂湯下。腹痛，茴香湯下。腫脹，蘿蔔湯下。寒泄，薑棗湯下。</p>
<p><u>胡麻丸</u>　治小兒風瘡疥癬。</p>
<p>苦參（五錢）　何首烏　胡麻仁（炒）　蔓荊子（炒）　威靈仙　荊芥穗　白蒺藜（炒，去刺）　牛蒡子（炒，各三錢）　石菖蒲（一錢五分）　干菊花（三錢）</p>
<p>共為末，酒糊為丸，如粟米大，竹葉、燈心湯下。</p>
<p><u>神芎丸</u>　治小兒上焦積熱，驚風壅滯，頭目赤腫，咽閉，大小便赤澀及痰喘之症，並皆治之。</p>
<p>大黃（酒蒸）　黃芩（各一錢）　黑牽牛頭（末）　滑石（各四錢）　黃連　川芎　薄荷葉（各五錢）</p>
<p>共為末，滴水為丸，如粟米大，竹葉湯下。</p>
<p><u>玉液丸</u>　治風壅，化痰利膈，清頭目煩熱，除咳嗽。</p>
<p>寒水石（火煅水飛，二兩）　半夏（制，一兩）　枯礬（五錢）</p>
<p>共為末，米糊丸，如粟米大，薑湯下。感風寒咳嗽，桑白皮湯下。咳血，茅根湯下。常咳，茶湯下。咳而吐，煨薑湯下。</p>
<p><u>茱萸內消丸</u>　治偏墜，膀胱疝氣，及內瘹驚，啼哭不止。</p>
<p>山茱萸（五錢）　桔梗　川芎（各三錢）　小茴香（炒，五錢）　陳皮　青皮　白蒺藜（炒去刺）　川楝子（去核，各五錢）　吳茱萸（炒）　肉桂（各三錢）　木香（二錢）　枳實（炒，一錢）　桃仁（三錢）　大腹皮（酒洗）　海藻　玄胡索（炒，各五錢）　五味子（一錢）</p>
<p>共為末，酒糊丸，如粟米大，茴香湯下。久不愈者，鹽湯下。</p>
<p><u>香連丸</u>　治赤白痢相雜，裡急後重。</p>
<p>黃連（吳茱萸炒，五錢）　廣木香（五錢）　石蓮肉（三錢）　久痢不止者，加肉豆蔻（麵包煨去油，五錢）</p>
<p>共為末，醋糊丸，如粟米大，陳米湯送下。</p>
<p><u>雄黃解毒丸</u>　下痰去熱，追蟲打積。</p>
<p>雄黃（一錢，另研）　鬱金（三錢）　巴豆霜（二錢）</p>
<p>共為末，米糊丸，如粟米大。痰涎壅甚，竹葉湯下。積痛，茴香湯下。纏喉風，滾白水化開吐痰。蟲痛，苦楝子根白皮湯下。先以雞蛋油煎，空心時，令兒聞之，然後服藥，必要上半月，謂其蟲之頭向上故也。</p>
<p><u>至聖保命丹</u>　治急慢驚風，夜啼，常服清心安神。</p>
<p>全蠍（十四個）　蟬蛻（去翅足，一錢）　使君子肉（煨，五分）　麝香（半分）　辰砂（一錢）　天麻（二錢）　膽星（二錢）　防風（一錢）　殭蠶（炒，二錢）　白附子（炮，一錢）　珍珠（五分）　金箔（四十張）</p>
<p>共為末，粟米粉糊和勻，印成錠子，薄荷湯磨服。驚風，薄荷燈心湯下，夜啼，燈心燒灰化溫水下。</p>
<p><u>一粒丹</u>　治小兒水泄。</p>
<p>寒水石（二兩）　枯礬（一兩）</p>
<p>共為末，水和丸，如綠豆大，每服一丸，米湯下。</p>
<p><u>斬鬼丹</u>　治小兒大人瘧疾。</p>
<p>黃丹（水飛曬乾，一兩）　獨蒜（大者，七個）</p>
<p>搗爛和丹為丸，取端午日修合，如綠豆大，勿令婦人、雞犬、孝服見之，每於發瘧日五更，用桃枝、長流水煎湯，面向東方服一丸，其效如神。</p>
