<header data-type="book">
<h1>喉科集腋</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈青芝</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1890">公元1890年</data></dd></div>
</dl>
</header>

<h1>小序</h1>
<p>此卷為溧陽沈青芝先生所贈青芝具活人術與予交十年見其治疾無不應手而效喉科尤為擅長每詢其法必有所選則唯應不肯以視予日者或謂予曰僕老矣僕之喉科一法非君所欲見而未得者乎因授余以此卷且曰僕之一生心血盡在於斯稽古以來喉症一科不乏奇方名論然皆有驗有不驗加以汗牛充楝好學之士欲窺門徑而不得一失之偏為害匪細此卷所列論方皆出自師傳或由古書及經歷而得百試百驗有益世者不少君曷公之同好俾初學者得以入門而高明者愛而指謬也時維</p>
<p><u>光緒辛已孟秋</u></p>
<p><u>定遠方燕昭伯融識於邗上寓圓之溫翠軒</u></p>

<h1>青芝自序</h1>
<p>喉證之凶險者當針則針不可亂針當吐則吐不可妄吐性命攸關死生立見苟不識其標本而治之則禍不旋踵矣余細閱各大家喉科其凶險者不外喉痹喉風纏喉風白喉風爛喉痧陰虛喉嚨等症死而不救者年年有之而旱荒尤甚乾隆五十四年秋間曾時行白喉風症北直最多咸豐六年此症南北大行醫者多不識為何證因憶經云肺屬金其色白肺為相傳之官嬌嫩之藏無論少壯老小值以夏月不雨之天覆感陰濕之氣如枯木日久發菌故生此症所以服風燥之藥不救惟用清潤之劑得生每見有不服藥而亦得生者若誤服藥則難醫其症初起頭痛惡寒發熱喉中色白凸起身熱手心中如火一團肌膚似乎隱約痧疹紅點身熱干亢無汗煩躁刻不能安或有頭面渾身皮膚紅赤如火嗌燥舌乾苔黑唇口焦裂喉中疼痛難忍牙關係鎖湯水難下但有汗可以得生尚須細察面色五行生剋辨明脈情寒熱虛實立方用藥然方出於古人予閱張君之用龍虎二仙湯即古人之龍膽瀉肝湯白虎湯普濟消毒飲犀角地黃湯黃連解毒湯數方化出惟除去升提辛溫風燥酸澀之品故十難之論大可為後學之法也光緒辛已年方觀察伯融曾同餘集各大家喉科三十六種其中症之虛實以及用藥並吐法針法均以備細詳明庚寅季春白喉風症時行而邗江尤甚城鄉患者不一而足竟至朝發夕死傳染者不可勝屈十八之中得其生者抑不過二三人而已余由實應旋邗始知白喉風症時行生者竟屬寥寥予實為慘目與道光歲皖江一帶時疫爛喉痧稍異較之尤險余自幼至壯精習岐黃數十年來無論寒暑日為之不輟恨未克得窺全豹至於喉嚨之症余尤加講習惜乎未得精微之奧細審喉嚨延五穀出納之區人命之攸關豈可忽略而言之餘力心勵精研治亟學毫髮不容間斷數年朝思夕索力心求治活人之法不辭心勞力瘁日以專工集成喉科數十餘種分門別證絲髮無謬予不敢秘密以宣於世可謂救人之實筏云爾觀察方公以白鏹視余購閱余曰實非沽名於世延濟人之誠心耳鎮揚一帶患白喉風者來余處就治者十得生其七八踵門而求購者亦屬不少余辭不受余曰實非漁利而設不過以公於世故不揣譾陋及將巳驗略摘數條列後併名之曰喉科集腋分為上下二卷余願鐘鳴鼎食之家明哲之士更正付諸梨棗實而藏之抑可為裨益於世也夫歲</p>
<p><u>光緒庚寅仲冬瀨江後學沈青芝謹識於廣陵橘井山房</u></p>

<h1>針法</h1>
<p>凡遇喉痹纏喉白喉痧單雙蛾風火喉之重者服藥不退心中惡逆精神困備昏迷不醒言語錯亂疼痛難忍以針於舌根底下兩邊青筋（白喉風之重症）切不可刺中間之青筋刺入以分許為度放出惡血涼水漱盡再刺少商穴系手大指甲盡處側邊離甲一分即是用力從臂順拉而下至大指尖止連拉四五十下拉至大指以針向穴上先刺內邊後刺外邊捻出惡水男先左女先右兩手皆刺如蛾子腫大亦用刺針出血惟每月初五日人神在口忌刺蛾子舌根下初六日人神在手忌刺少商穴十五日人神在遍身均不可刺</p>
<p><u>少商穴</u>　手太陰肺經在手大指內側去爪甲一分以針刺之留一呼出針</p>
<p><u>商陽穴</u>　手陽明大腸經在手食指內側去爪甲角一分針一分留一呼出針</p>
<p><u>中衝穴</u>　手厥陰心包絡經在手中指端去爪甲一分中陷一分留三呼出針</p>
<p><u>關衝穴</u>　手少陽三焦經在手無名指外側去爪甲角一分針一分留三呼出針</p>
<p><u>少衝穴</u>　手太陽小腸經在手小指內側去爪甲角一分針淺出針</p>
<p><u>頰車穴</u>　足陽明胃經在耳下八分曲頰端向前中陽側臥開口有空處耴之針三分出針</p>
<p><u>曲池穴</u>　手陽明大腸經在肘外脯骨屈處橫紋頭中陷以手拱胸耴之針五分留七呼出針</p>
<p><u>合谷穴</u>　手陽明大腸經在手大指食指岐骨間中陷針三分留六呼出針</p>

<h2>逐日血神所在不宜針灸</h2>
<p>一日在足大指　二日在外踝　三日在股內　四日在腰　五日在口　六日在手　七日在內踝　八日在腕　九日在尻　十日在腰背　十一日在鼻柱　十二日在髮際　十三日在牙齒　十四日在胃腕　十五日在遍身　十六日在胃　十七日在氣衝　十八日在股外　十九日在足　二十日在外踝　二十一日在手小指　二十二日在踝　二十三日在肝及足　二十四日在手陽明　二十五日在足陽明　二十六日在胸　二十七日在膝　二十八日在陰　二十九日在膝脛　三十日在足跗</p>

<h1>刺針圖式</h1>
<figure>
<img alt="手陽明足陽明應針穴道部位">
</figure>
<figure>
<img alt="圖">
</figure>

<h1>用藥禁忌</h1>
<p>竊古有少陰甘桔湯治咽痛又仲景少陰病下利咽痛心煩者豬膚湯少陰病二三日咽痛者可與甘草湯不差者與桔梗湯少陰病咽中傷生瘡不能語言聲不出者苦酒湯少陰病咽中痛半夏散及湯主之數方皆清利咽喉之要藥今人見有喉症不審其源即用之而無疑嗟乎此猶抱薪救火也非能愈其疾而且更加其病何以言之夫今時咽喉之症皆寒火不均或受天時不正之氣風火之毒上攻須以去風瀉火為要甘草補中而不瀉火中宮既受其補則火愈熾於病亦重桔梗能引諸藥上行藥既上行其痰火與氣亦引之而上行則喉間壅塞於病更重故小兒驚痰大人風痰痰火桔梗所以忌也本草云升麻可代犀角引胃氣上升似乎可用不知氣一上行必挾痰火以俱上湧塞於咽喉間四肢厥冷喘急異常為害非淺若在他症猶或可用鎖喉風服之則必不救故猶當切忌之也半夏雖消痰之妙藥若咽喉症痰重者誤用之則傷生命蓋半夏能消脾胃之寒痰非能消肺中之熱痰故也生薑辛辣發散然喉症亦不以發散為主用之則以火益火亦不宜用此數味關係喉症甚重不可不明言而謹戒之至他藥中亦有禁忌者是在臨時時留意焉可也</p>

<h1>卷上</h1>

<h2>白喉風</h2>
<p>張紹修曰白喉有時疫一症其發無時其傳染甚速其病至危至險治者多束手無策予考之諸書臨症日久竊以為其治有十難焉蓋此症乃纏喉急痹緩治則死凡咽喉不利口渴舌燥頸腫目赤身痛唇紅皆上攻頭面之症邪客於心肺之間與他經無涉其有兼及他經者體氣虛弱邪氣乘虛而入皆後之傳變名曰越經時未傳及他經不察其源治以他經之藥其難一也大抵其症初起惡寒發熱頭痛背脹精神倦怠遍身骨節疼痛喉內有極痛者有微痛者初無形跡可見似傷風傷寒表症若投以麻桂羌活防風辛蘇之類致毒渙散無可挽回其難二也彼其惡寒發熱乃毒氣初作於內至二三日喉內見白見後寒熱自除或者不悟誤以為表藥有功豈知白見後即不服表藥而發熱亦止初起誤服麻桂非徒無益而又害之其難三也按此病熱症多寒症少有以色白為寒者不思此症初發於肺屬金其色白為五臟六腑之華蓋處至高之位毒氣熏蒸自下而上肺病日深故其本色白著治宜解五臟之毒使之下行勿令蓄積於肺若因色白疑為寒症投以桂附炮姜是猶抱薪救火愈熾愈烈其難四也即有知為火毒不敢輕用升提開散之品轍以芷硝大黃攻伐太過此症已傳至上焦氣分與中下焦無涉既上氣焦分受傷又以硝黃攻伐太過使中下焦有損元氣愈傷其難五也見症已確藥當守方有火毒甚者初起用消風敗毒引熱下行治法良是乃日服三兩劑而白不退連服十數劑而白愈加是猶杯水車薪與事無濟治者當詳審病源或舌苔黃黑喉干唇焦小便短澀而黃大便瀉泄帶黑是謂火毒凝結內病不除白能何淨愈發白愈守方久久投之自有效驗若另更別方必生變故其難六也察之既精圖治不容緩瘟疫變症殺人最速過七日即不起庸醫辨症未明投以平淡之劑不求有功但求免過是謂優容養奸迨至五六日毒氣重矣元氣傷矣善治者不得不以猛劑攻之然病已垂危成則無功一旦不起病家不咎優容之過反云猛劑非宜此非誤於後而實誤於前其難七也有非白喉而轉為白喉者初起喉紅腫痛或惡寒發熱或不惡寒發熱一邊腫名曰單蛾兩邊腫名曰雙蛾治之稍緩則氣閉不起宜用杜牛膝兜引熱下行大便閉結用大黃否則不必用此與白喉症異治同倘不預防轉為白喉為禍甚烈其難八也又有勞症白喉陰虛火燥痛極而水米難下漸至朽爛形容枯槁面目憔悴必須補劑使元氣充滿而喉痛自愈若以行疫症白喉誤認陰處差之毫釐失之千里其難九也更有一種白喉無惡寒發熱等症喉內起白皮隨落隨長的是寒症非桂附不愈即誤服消風敗毒之藥尚無損若以疫症白喉認為此症為害非淺其難十也知此十難臨審治余持此法十不失一難不終難也時疫流行而益不敢自秘非敢云濟世之良方亦足為刀圭之一助云爾</p>
<p>又曰白喉症治法浩渺無竅余自稽考以來時深討論每臨篇得其法未見其病臨病見其症未必合其方可見病態多端惟貴圓通而知要耳予曾立白喉症一篇以傳於世奈白喉之症愈出愈奇有早發而夕死者沿街合巷互相傳染治之不速十難全一噫真可慘也竊此症乃瘟疫惡症必須詳審外症細察脈情看明喉嚨內外兩關白多白少及大小厚薄方可下藥否則以輕劑而治重症其禍固烈以重劑而治輕病其害尤深過猶不及誠哉是言也其症初起憎寒壯熱口渴喉干聲音不出湯水不入痰涎壅塞脹閉疼痛異常滿口皆白脈來洪數甚者且無至數此乃時行厲氣為病喉中最急者也或者謂咽喉病忌用寒涼謬妄殊甚每見投以荊防敗毒散大承氣湯指不勝屈不知以硝黃瀉胃中之實熱是謂誅伐無過病遂乘之而危篤以羌防理太陽之遊風乃致渙散其毒病必漸入於膏盲余立除瘟化毒散神功辟邪散神仙活命湯已用之屢矣皆能立起沉疴但恐病勢太重猶嫌藥方藥力太輕再立龍虎二仙湯日服二三劑連服數日不必更方縱食不下咽斷不至寒涼過度胃氣告匱所謂有病則病受也白退而藥即止徐徐調理元氣不難充滿惟症尤烈者實火為患臟腑積熱太深堵塞咽喉隘地呼吸不通服雄黃解毒丸尤妙究系厲劑不可輕用慎之然所論雖屬詳明治者尤宜達變道權兼以閱歷方能隨手應效活人之法無出於此若輕忽急玩耽擱日期使面青唇黑氣急痰壅煩躁神昏攻之不可達之不及雖靈扁復生不可為也白喉風初起用葛根殭蠶蟬衣以散風熱以牛蒡子連翹銀花土茯苓消腫敗毒元參天冬麥冬生地清金水黃芩黃連生梔仁山豆根生石膏瀉火救火木通澤瀉車前子引熱下行薄荷射干散風消腫重者加馬勃龍膽草外用土牛膝兜或於末服藥之先既服藥之後煎水間服再以萬年青根汁或服或噙病已危急非針吐之法不能救急輕者以除瘟化毒散主之稍重者以神仙辟邪散或神仙活命湯主之輕則日服一二劑重則日服三四劑將疫毒由上焦引至中焦由中焦引至下焦從大小腸胱膀而出大便泄瀉火毒下行此為吉兆大便開塞少加熟大黃如仍開塞故用生軍大便通即去以白點退淨為度其藥味分量之加減劑數之多寡須臨症制宜不必另更別方連日投之自然全愈屢試屢驗同治丁卯冬日白喉險症極多有漸至危篤者延予診治詢前所服之藥皆消風敗毒引熱下行之劑治法良是終莫能起不解何故予詳審外症細察脈情再三之想必是實火為患熱毒凝結臟腑雖用瀉火敗毒之藥仍是杯水車薪於病⿱㇒𡗞濟擬一龍虎二仙湯日服四劑痊愈者有之有服二三十劑而白尚未退淨用雄黃解毒丸一服仍服未龍虛二仙湯十餘劑故遂處此方全活甚眾看白點退完當用清涼之品以清心條肺湯撤盡餘毒再用養陰之品脾胃素虛者用四君子湯加銀花總賴以圓機行活法也如遇牙關緊急不開閉而不能看症治以開關散即開又或初起之時及服藥之後痛不可忍神疲音啞急以針法按穴施之如喉內頸項腫甚以救急異功散傳之以上白喉治法除勞症白喉之外凡單蛾雙蛾喉癰及喉內紅腫均可依法治之但藥味須酌量加減慎之服藥後忌風吹又有辨症未明誤投升提開散滋補辛溫之劑視病之輕重以生綠豆研細末重者一茶碗輕者一酒杯冷水調服再酌用以後所列諸飲散煎出並煮大麥粥一碗先服粥後服藥則誤服之劑立除矣如痰涎湧甚用生桐油灌下用雞羽攪之嘔出痰涎須陸續灌盡五六兩方妙</p>
<p>白喉嚨看法初起頭痛寒熱背脹遍身骨節疼痛或惡寒發熱或喉內極痛或微痛或不痛而喉內微硬有隨發而白隨見者有至二三日而白始見者或由白點白條白塊漸至滿喉皆白所治皆同服藥後喉內或白收緊或白稀疏或白微小或白轉黃久之必然退淨但此病非比他病貴在見機早尤貴在治者精若心粗氣浮輕視此症有非白喉而妄稱為白喉遽以猛藥攻之者有真白喉又不識為白喉僅以平劑投之者有胎產婦人幼孩老人大病後虛勞內傷皆難任攻伐者治不得當鮮有不輕者重重者危看喉內要將病人向光明處坐正或箸按住舌心細看喉嚨兩邊系白喉系單蛾雙蛾系風火喉看的方好下藥晚間則用油紙捻一照腦後一焰口內方看得明不可空腹入患家看病或飲雄黃酒一杯或食大蒜亦可保不傳染</p>
<p>火症寒症看法火症白喉白塊浮於肉上起凸喉中紅腫飲食喜冷惡寒舌苔黃黑甚至大小便不通痛無已時如系寒症虛症則不紅不腫飲食惡冷喜熱天花板上紅絲數條即間有白塊亦陷於肉內凹而不凸大小便如平時喉中微痛或咽則痛不咽不痛不得以白喉之法治之</p>

<h3>不治之症</h3>
<p>服藥嘔吐不止　七日滿白不退　服藥大便不通　未服藥大便瀉　大便連瀉不止　頷下發腫不消</p>
<p>音啞無聲　白塊自落　喉干無涎　天庭黑暗　兩目直視　面唇俱青　角弓反張　痰壅氣喘　汗出如油　手足厥冷　牙關不開　藥不能下</p>

<h3>方法</h3>
<p><u>雄黃解毒丸</u></p>
<p>明雄（二錢）　鬱金（一錢）　巴豆肉（三分）　共研細末用醋熬膏為丸如桐子大每用四分開水吞下小兒減半予用均以大人四粒六粒　按纏喉風走馬白喉風急症也緩治則危明雄破結去濕毒鬱金散惡血巴豆斬關奪隘能下惡涎下咽無有不活但此屬厲劑惡症用惡藥不得已而用之若非急症不可輕用耳</p>
<p><u>龍虎二仙湯</u>　白喉風之極重者</p>
<p>龍膽草（二錢）　生地（一兩）　元參（四錢）　犀角（四錢）　黃芩（五錢）　黃連（三錢）　生石羔（一兩）　生梔子（三錢）　牛蒡子（四錢）　馬勃（四錢）　生殭蠶（五錢）　知母（四錢）　板藍根（四錢）　木通（四錢）　粳米（三兩）　大青菜（五錢）　本方有甘草橄欖一味甜一味澀故去之按白喉風疫厲之症火毒之病不得重劑不能立見功效但犀角價貴量人家而用之</p>
<p><u>除瘟化毒散</u>　白喉症初起及單雙蛾風火喉症</p>
<p>葛根（二錢）　浙貝（三錢）　殭蠶（二錢）　生地（三錢）　蟬衣（一錢）　山豆根（一錢）　生梔仁（二錢）　木通（二錢）　黃芩（二錢）　本方有甘草</p>
<p><u>神功辟邪散</u>　白喉症稍重者</p>
<p>葛根（二錢）　浙貝（三錢）　殭蠶（三錢）　生地（四錢）　牛蒡子（三錢）　蟬衣（一錢）　麥冬（三錢）　連翹（二錢）　黃芩（二錢）　木通（二錢）　銀花（三錢）　馬勃（二錢）</p>
<p><u>神傖活命湯</u>　白喉風日見重者</p>
<p>龍膽草（二錢）　浙貝（三錢）　殭蠶（三錢）　蟬衣（一錢）　生石羔（三錢）　生地（四錢）　馬勃（三錢）　黃芩（三錢）　土茯苓（五錢）　木通（三錢）　銀花（三錢）　車前子（三錢）</p>
<p><u>回生萬應丹</u></p>
<p>牛黃（一錢）　鬱金（四錢）　川連（四錢）　兒茶（五錢）　滴乳石（五錢）　白芷（二錢）　珍珠（一錢）　青黛（三錢）　薄荷（七錢）　月石（三錢）　血竭（三錢）　黃柏（三錢）　冰片（一錢）　甘草（三錢）</p>
<p>共研細末吹喉中治白喉單雙蛾喉痹喉癰纏喉風爛喉痧等症神效無比早年都門傳染喉症俗呼狼脖傷人最多各方皆不應效後得此方活人甚眾可為救世之實</p>
<p><u>開關散</u>　番木鱉（一個）　米醋碗底磨濃汁將筆蘸汁塗於兩邊牙齦至盡後之處漸開塗天花板上並舌根下即</p>
<p><u>開藥汁切勿沾喉涎出以微溫水漱盡看症凡遇牙關緊以此法治之</u></p>
<p><u>血竭硼散</u></p>
<p>血竭（三分）　甘草（三錢）　元明粉（一錢五分）　殭蠶（一錢）　月石（一兩）　兒茶（三錢）　雄精（三錢）　冰片（一錢）　射香（三分）　研極細末日吹三四次</p>
<p><u>瓜霜散</u>　白喉風單雙蛾風火喉症頻吹之</p>
<p>西瓜霜（一兩）　辰砂（二錢）　冰片（一錢）　人中白（一錢）　雄精（二分）　共研細末將西瓜破開孔去淨瓤水以皮硝入內懸於當風以瓷盤在下接之水滴盤內結成冰塊及瓜外起霜掃下聽用予查喉科指掌所載刮下之霜再入西瓜內再做二次其藥力更大</p>
<p><u>石青散</u></p>
<p>生石羔（一兩）　人中白（五錢）　青黛（一兩）　辰砂（一兩）　月石（一兩）　膽凡（五錢）　元明粉（五錢）　山豆根（三錢）　冰片（五分）　研細末日吹三五次</p>
<p><u>蚰蜒闢毒散</u></p>
<p>蚰蜒闢（條）　鹽梅（二枚）　先將鹽梅肉刮下蚰蜒拌入少頃即化為水曬乾備用每遇各喉症以小塊含於口中取津先吐後咽或用水少許搗融以筆蘸塗白腐腫處即退</p>
<p><u>蜘蛛救苦丹</u></p>
<p>蜘蛛（三個）　冰片（五釐）　地蜘蛛生壕勘內土面上有蛛網拖出藏於網窠內身小而黑者是焙乾和冰片研細遇極險者吹之神效大有起死回生之功</p>
<p><u>膽凡散</u></p>
<p>膽凡（一錢）　手指甲（五分）　人中白（五分）　膽凡假者不能破蛾化痰指甲炒黃共研細末喉蛾腫處連吹數次即破吐出惡血痰涎</p>
<p><u>硇砂散</u></p>
<p>硇砂（二分）　青黛（二分）　白礬（二分）　研細末喉蛾腫痛吹之立破此藥真者難得不若膽凡散易於合成且功效相埒耳</p>
<p><u>蒜泥拔毒散</u></p>
<p>老蒜（一片）搗如泥以小豆大一粒敷經渠穴系大指伸直近手腕寸脈後有窩處即是男左女右起一水泡刺破揩淨毒水異效非常不可以為藥易而輕忽之也</p>
<p><u>救急異功散</u></p>
<p>血竭（六分）　乳香（六分去油）　斑蝥（四錢）　全蠍（六分）　冰片（三分）　沒藥（三分去油）　元參（六分）　射香（三分）　斑蝥去頭翅足以糯米炒黃去米共研細末每逢喉之險症內外漫腫咽喉將閉以小豆大一粒放小膏藥上距耳垂下半寸軟處貼上左腫貼左右腫貼右左右腫皆貼約五六時候起泡以針刺破出水揩淨毒水能消腫止疼</p>
<p><u>清心滌肺湯</u>　白喉瘡咽中曰腐退淨火以下行用清涼撤盡餘毒</p>
<p>生地（三錢）　浙貝（二錢）　黃芩（二錢）　麥冬（三錢）　知母（二錢）　黃柏（二錢）　花粉（二錢）　天冬（二錢）　殭蠶（一錢）　甘草（一錢）　煎服三四劑</p>
<p><u>養正湯</u>　玉竹（五錢）　熟地（四錢）　山藥（四錢）　生地（五錢）　茯苓（三錢）　花粉（二錢）　麥冬（二錢）　女貞子（三錢）　首烏（四錢）　白芍（二錢）　水煎服二次</p>
<p><u>銀花四君子湯</u>　首烏（四錢）　人參（五錢）　白朮（四錢）　茯苓（三錢）　炙草（一錢）　銀花（三錢）　桑葉（二錢）　水煎服二次</p>

<h2>喉痹</h2>
<p>凡喉之症急者一二日未必發熱病尚輕緩若至第三日發者其病必重須問其大小便通與不通如二便通利症候雖大不過浮火上攻服消風散火之藥即愈如二便不通內必有實火非用降火解毒及通利二便之重藥其毒火從何而出病從何而解如頭痛兼傷寒難治凡喉症必俟大便去後方可望痊若大便閉結未可輕許</p>
<p>凡喉之者重先將兩臂捋起至脈門後將及中指看中下節有紫筋現出為度以針刺紫筋出血立時可以飲食矣再看耳後左右有紫紅筋以刺出血為佳</p>
<p>凡喉閉不刺血喉風不吐痰喉癰不放膿喉痹喉蛾不針烙治皆非法</p>
<p>戴人云喉痹急症用針刺各穴道出血最為上策內經火鬱則發之謂發者乃發汗之一端也</p>
<p>竇夢麟曰喉閉之症因外感寒邪內傷熱物或大寒後便入熱湯洗浴故將寒氣逼入脾經冷氣阻於中脘邪熱客於心經故生此疾痰涎壅盛卒然喉中閉塞氣不宣通死者多矣急用針刺手腕中紫筋上或少商穴出血即與雄黃解毒丸四五粒冷茶磨化灌之仍將冰片散吹喉中吐出風痰稠涎為妙</p>
<p>風毒喉痹外赤腫內腫微紅帶白色其形似蒸餅連腮腫痛外症身惡寒而無熱腮頷浮腫牙關緊強此乃風痰相搏結塞喉間治法必以去痰為主吹藥吹之若外面腫紅用敷藥敷之中留一小孔再潤之以助藥力</p>
<p>風熱喉痹其腫紅而微紫其形如拳其人面青而目上視外症壯熱惡寒儼若傷寒此病久積熱毒因而感風所致如病人聲音不響宜用潤肺之藥治之</p>
<p>陰毒喉痹閉腫如紫李微現黑色或灰白色其色光血紅可治血黑不治外症惡寒其身瞤動腰痛腳冷此乃冬月感陰濕火邪相干也其血微紅及腫處軟喉中有痰可治血黑甚腫硬喉干難治先服化毒丹次以蘇子降氣湯再用吹藥一月之內（戒酒）傷寒喉痹乃傷寒遺毒不散致八九日後喉痹皆因熱毒入於心脾二經吹冰片散</p>
<p>喉閉必先兩日胸膈氣緊出氣短促驀然喉痛手足厥冷氣閉命懸頃刻速用雞羽蘸桐油攪喉間探吐痰涎立開急將兩臂以手勒數十次至大拇指以針刺少商穴出血滴下其喉即通男左女右重者兩手皆刺各穴</p>
<p>喉痹屬痰屬風屬熱皆因鬱火而兼熱毒腫甚不紅者及微白者乃喉嚨之虛症</p>
<p>傷寒後發喉痹乳蛾難治為氣閉不通無形無勢其症喉項強硬目睛上視故多不治</p>
<p>血壅而為痹宜紅藍花汁服之無鮮者則濃煎絞汁亦得或用茜草一兩煎服或用牛膝汁和醋服或用馬鞭草汁服或用射干煎汁含咽</p>
<p>喉閉者先吐痰瓜蒂散雄黃化毒丹或以朴硝一兩細細含咽或用萊菔汁服</p>
<p>馮氏曰喉痹者即纏喉風類是也其喉面赤氣粗咽喉紅腫閉乃蓄熱生風積聚毒痰而作甚者內壅肉瘤一塊氣閉不通若至鼻面青黑寒熱頭低痰踞者不治更有臟寒亦能令人咽閉而吐吞不利者蓋諸症下寒過極則上熱反盛不獨此也其候與蛾症相症近而治法不能無異大抵無形腫閉者為痹有形腫痛者即是蛾耳先吐風痰者急則治其標也後解毒者緩則治其本也至於上熱下寒者用熱藥食前冷服不可誤服涼藥也</p>
<p>經云一陰一陽結謂之喉痹一陰少陰君火也一陽少陽相火也手少陰心脈挾咽足少陰腎脈循喉嚨其人膈間素有痰涎或因飲食酒過度或因忿怒失常或因房室不節蓋飲酒過度胃火動也富貴之人多犯之忿怒失常肝火動也婦人多犯之房室不節腎火動也男人多犯之火動痰上而痰熱燔灼壅塞咽嗌之間痰者火之本火者痰之標火性急速所以內外腫痛陽水不入乃外症之最急者最危者治療之法急則治標緩則治本治標用丸散以吐痰散熱治本用湯藥以降火補虛奈何治者但云治脾肺火而未云降肝腎火也必須以內經從治之法切不可驟用寒涼益促其危耳故實火須用正治虛火須用從治須分明白不可少誤</p>
<p>又曰咽與喉會厭與舌四門同在一門其用各異喉以納氣故喉氣通於天咽以納食故嚥氣通於地會厭管於上以主開閣掩其氣喉令水穀能進食喉而不錯四者交相為用關一則飲食廢而死矣云喉痹者謂喉中呼吸不通言語不出而天氣閉塞也云咽痛及嗌痛者（按咽之低處為嗌）謂咽喉不能納唾與食而氣地氣閉也云喉痹咽嗌痛者謂咽喉諸病天地之氣並閉塞也又曰咽在後主食喉在前主氣十二經中惟足太陽主表別下項余經皆內循咽喉盡得以病之而統在君相二火喉主天氣厲肺金變動為燥燥則澀而閉咽主地氣屬脾土變動為濕濕則腫而脹皆火鬱上焦致痰涎氣血結聚咽喉腫達於外麻癢且痛為纏喉風腫於兩旁為喉痹其單蛾雙蛾木舌舌脹纏喉走馬喉風白喉風爛喉痧同於風火故不分也唯纏喉走馬殺人最速</p>
<p>又曰喉痹多屬痰熱重者以桐油探吐纏喉亦屬痰熱謂其咽喉裡外皆腫者是也亦以桐油探又曰肺絕喉閉其脈浮散而微細其聲如鼾有如痰在喉中響者此肺絕之候宜用獨參湯調入竹瀝薑汁服之若早治之十全七八次則十全三四遲則十不救一</p>
<p>查醫論選要曰臟腑停寒則氣縮如物窒礙於其間因有喉痹之症</p>
<p>除症下虛令人喉痹又當治其下寒則痹自通矣</p>
<p>夫走馬痹者謂喉痹急甚其死又速藥緩不及救也惟針法按各穴道針之可當一陣緊喉風亦是如此治法均急症也</p>
<p>或問風毒喉痹內外皆腫其故何也風毒之氣結於喉間則壅塞不通乃風毒與痰相搏故也素問云無風則不動痰無痰則不受風風痰相搏結塞咽喉其外症咽喉形如雞子其色微白外而腮上有腫其形似瘡身發寒熱牙關緊強語聲不出者是也先用小刀刺破牙關腫處再針少商穴以及諸穴探吐痰涎又云風熱喉閉內外俱腫者謂其人久積熱毒因而感風風熱相搏發出外來則壅於喉間其人面赤腮腫身發寒熱喉中有塊如拳外血鮮紅治法同前</p>
<p>又牙關緊強不得開者此皆風痰相搏壅塞咽喉或用醋調元明粉和水灌入喉內用雞羽探吐痰涎治如前外用五倍子研末醋調敷之</p>
<p>虛陽上攻由病久元氣虛弱邪火上行咽喉腫痛上下不得升降水火不既濟心火上衝咽喉故腫痛而閉塞其形若何曰語聲不出牙關緊急痰涎滿口手足厥冷頭目昏眩治法同上以蘇子降氣湯治之</p>
<p>喉痹厥重不省人事目張直視可用吳萸研末醋調塗兩足心然後用降氣湯治之氣喘加前胡烏藥氣短加沉香人參待手足溫飲薄粥以斂元氣入谷則昌絕谷則亡此之謂也</p>
<p>又云如腮浮腫面赤者此必感於風毒用紫蘇楓葉柏枝煎湯洗之用荊防羌活以祛其風或用十宣散</p>
<p>酒毒喉痹其形若雞子其腫鮮紅其光如鏡外症發熱惡寒頭疼項強此上焦積熱心脾受之蓋心脾二經主上焦故痰壅咽喉宜服鼠黏子湯吐痰針法同上用冰片散吹之</p>
<p>風熱喉痹由於憂思勞碌太過或對風言語風入肺經作痰務多去痰為要其色鮮紅久而紫赤急用小刀刺破血微出火已瀉矣再服煎劑吹冰片散凡紫赤色變為淡紅色愈之漸也氣癰喉痹此症為因聚毒塞於喉間痰涎稠實發寒熱者仍分上中下三關毒在下關難治上中二關用吹藥吹喉中茶湯送下雄黃化毒五六粒量病之輕重酌用</p>

<h3>喉痹門</h3>
<p><u>蘇子降氣湯</u></p>
<p>半夏　陳皮　肉桂　前胡　川樸　當歸　甘草　蘇子　生薑　大棗</p>
<p><u>秘傳奇方</u></p>
<p>牆上壁錢七個內要活蟢蛛四五個捻作一團再用生明礬七分傾銀罐內化開將壁錢入凡內煅存性研細末吹入喉中立時就效雖將勢甚危亦復回生真秘法也</p>
<p><u>二生散</u></p>
<p>白礬　雄黃　共為細末吹入喉中吐出痰水</p>
<p><u>立效神方</u>　喉痹喉風項腫均效</p>
<p>殭蠶（二兩）　蔥（二把）　熏洗項間風熱即散</p>
<p><u>又方</u>　蜜炙附子　專治感寒咽閉不能下咽</p>
<p>大附子（一枚）　去皮切如錢厚浸蜜內炙黃再浸再炙愈炙愈妙切不可炙焦用一片含於口中咽津候甘味盡吐去日含三四次喉即開矣</p>
<p><u>塞鼻方</u>　治喉痹乳蛾咽喉腫痛湯水不入命在須臾即用此法治之可以得生</p>
<p>巴豆肉（二粒）　細辛（五釐）　搗和卷在紙中間成條剪斷如患在左即塞右鼻如患在右即塞左鼻右左均患兩鼻皆塞咽喉立通</p>
<p>按喉痹雄黃化毒丹即雄黃解毒丸故附記之</p>

<h2>爛喉痧症辨</h2>
<p>程鏡宇云按陳耕道方法無一不是涼散兼施蓋深得夫表邪為末火熾為末之旨故立法有條不紊宜其發一百中驗效如神惟疫症之中或內有挾濕或暴寒宿痞蓄血或邪實正虛均為疫中常變之症探集前賢成法附後</p>
<p>疫痧傳染而六氣八風不傳染何也緣六氣八風可知可避而疫則不可知不可聞而避也蓋六淫之氣本自太和而為歲氣司天浸淫過度此淫字之所以名也然天地間苟無此氣相推運行則生化收藏之道盈虛消長機乎息矣故岐伯謂六氣八風人當知避則是寒也人知其為冷暑也人知其為熱風濕燥火知其為風濕燥火是六淫之默運可驗而知矧八風之潛來莫知警避故雖嚴寒酷暑之盛行疾風暴雨之驟至氣似猛於時行而必無傳染之患良以此能知能避故也惟疫也不可知或歲值不承或天符不應或在泉所侮或司天獨勝其至也非時其形也無定雜賦六淫之內流行八風之中冒玄府而不知感呼吸而莫覺人在氣交之中蒙被氣化猶白之能採苟非堅實之質孰能涅而不淄以故彼染此傳如磁引鐵感其深淺發為重輕一夫抱疴四方風動易曰或繫之牛又曰邑人之災故能與時消息五類行災雖知之而已染且避之而盛傳矣可不畏哉</p>
<p>天有非時之氣地有旱澇之偏上下相摩氤氳鼓盪以致清陽不升濁陰不降蘊結於中曰瘟障散於外者曰瘴沉埋欲降而不降者謂之霾冒霧欲升而不得升者謂之霧是皆天地沴郁之氣漫無所泄感觸萬物役使行災謂之天行故其役於物也如天之使役是故謂之疫其厲於人也如雷之壯厲是故謂之厲其感也潛滋而暗長故積之也深其發也一泄而無遺故發之也暴而蒙其氣者則無論草木鳥獸百穀昆蟲凡神機氣立根外根中者莫不薰染及之故雞犬每斃於災㾮禾稼亦傷于于蟊螣人染之則痧喉互發街巷盈村其肆瘧實烈於八風而傳染尤嚴乎六氣爰疫之中具有一義存焉疫痧時氣吸從口鼻併入太陰氣分者則爛喉併入陽明血分者則發痧太陰者肺臟也主喉而厲氣陽明者胃腑也主咽而屬肌肉喉通呼吸之氣行乎五臟咽為飲食之道六腑源頭故喉主天氣咽主地氣是以口鼻吸入咽喉傳導之肺胃交承之一臟一腑同受疫邪一氣一血各呈其象故爛喉者色多白病在肺而屬氣發痧色多赤病在胃而屬血其實同為一症一發於咽喉之地一達於肌肉之間移步以換形固形而名別耳故在肺則曰爛喉在胃則曰發痧故名曰爛喉痧</p>
<p>毒邪傷形形因腫潰疫痧有之故曰疫中有毒疫者郁也即濁陰之地氣鬱結不散復投於人以為厲故又謂之疫也前賢吳又可葉天士悉以瘟疫統論而吳鞠通則又統為溫病名義未分而其實瘟者溫也乃司天溫熱之氣醞釀流行蘊於萬物以成災故謂之瘟也瘟病而不腫者乃本司天醞釀之溫熱氣疫痧而兼腫者實根濁陰鬱結之地氣疫毒濁瘟毒也一在氣一在血也經曰喉主天地咽主地氣天地者在氣則為清陽濁陰在人則為氣與血也故疫症之中有爛喉發痧之別者乃分人手之清陽濁陰與夫氣與血也人身手太陰主氣然其經實多氣多血故爛喉之中有紅爛白腐之二者乃少太陰之氣與血也人身足陽明主肌肉以其經氣血俱多故發痧之中有丹痧白疹之二者實陽明之氣與血也緣丹痧之中發系血為毒乾血即敗壞而變色於是肌膚漸腫露出痧點外呈即是疫毒之邪遊溢胃之經絡傳從血分達出譬猶他邪之從汗解緣他邪無毒得汗可解獨疫邪有毒而毒必災形故或癢或痛或爛或癍血分之毒盡透乃已又考麻痘二症麻發先天之陽毒痘發先天之陰毒雖發所當發然必借天行時氣以引之而後人身之毒方出天行者疫也由是以觀同氣相求疫能引發痘麻之毒則是疫中有毒不待明矣然則痧喉一症先天之毒雖無時行之毒必有症固不比於痘麻亦可借痘麻以譬之而痧實發乎疫毒也又明矣</p>
<p>爛喉與痧乃氣血同病內外異形之故而云間朱鐵山獨創痧本喉末之論是不知氣血之形當有別耳其論謂痧邪之發必先見咽喉腫痛是厲邪痧子為本咽喉咳嗽為末而諸醫偏重於咽喉而忽於痧子捨本求末執守內經諸痛屬火紅腫為熱之說急進寒涼遏伏厲邪以致體弱者病勢轉重而醫猶謂病重藥輕寒涼倍進痧毒內陷喉閉疫升命歸泉路要知頭面腫赤乃痧毒外達之勢正當表散開達毒自不留直待腫退痧回鼻流清涕方進涼血清解靡不速效按鐵山初宜表散繼宜涼血之論誠可謂知所先後矣若以發痧為本而宜散爛喉為末而宜涼則是疫有二邪一病兩治緣痧邪之發氣血有分形痧喉無本末治之之法皆當一本於痧均要先解後涼抑或涼解雙用斷不能以痧為本而宜散以喉為末而宜涼也至內經諸痛屬火紅腫為熱二語諸醫執論痧喉何嘗不是經又曰火鬱發之諸醫若更執此以治疫則於痧喉一症當無剩義是內經之旨本詳明而領經之趣則自晦非執之咎實執而不化之咎若陳耕道疫痧方中所論表邪末也火熾本也二語確是深明本末之理而吾婣洪麗川當謂痧喉一症名雖兩殊實則一病分呈乎內外耳玩味斯言真一語道破推而治疫得其旨矣</p>
<p>疫痧一症不外熱毒二氣互結而成熟為火之餘故熱勝則腫毒為穢之積故毒勝災膚然熱非清涼不解而毒非芳香不除即以清涼解毒芳香逐穢八字為治疫要領再視其氣血重輕隨症通變而治疫之法要不出此八字範圍至推拿針刺其法最古大旨多為痹症而設痹者氣機阻閉不得流通之謂也針之耴義如以管入水閉其上則下不出旁穿一隙則水自泄故人病痹不通即刺以經穴以通其氣推拿毛竅以疏其氣非謂針刺可泄毒邪也蓋毒既入於經豈一針之微遂能使毒泄出故針法有補有瀉若陰虛火旺血不營經而為阻痹或寒凝經絡而為痛痹針之即所以瀉其氣而使通又恐經氣過泄故又以針補而閉之若病非痹症可毋庸多用針刺徒傷經絡是以素問謂升降出入無器不有出入閉則生機化息故針之用在乎通而非所以泄毒也痧喉症不挾風寒外遏者只宜疏託外達忌用溫燥發表蓋疫為陽邪而發散大都陽藥動則胃津腎液被劫消亡若無結胸內陷症者只宜甘涼泄熱忌用若寒消導往往痧勢將達反為寒涼遏伏故葉天士以發散消導為疫家大戒意旨良深竊謂疫根於熱雖曰口鼻吸受肺胃感邪然以類相從君相二火亦當內應故每直布三焦逆傳脆絡則邪在裡而不在表使以燥劑表之是重虛其表而反實其里勢將逼成內陷若從玄府染受者受者未經營衛病在表而不在裡使以下劑導之則裡氣愈虛表邪愈實亦將引邪內陷故發散消導均有貽誤嘗考諸家論說每謂初失之表誤用寒涼將邪遏伏確論名言實有見地第恐拘過之輩不察表裡之由不分病勢輕重視寒涼為畏途奉發散為圭臬成見實足貽害故虞山陳耕道謂治疫之要當於一發之時見其勢之順逆宜散宜涼一決無誤斯為老眼此論誠有膽識濁折其衷故將前賢二說引而伸之以明用藥之方重者勿拘成格</p>
<p>臟腑之質有勝有偏呼吸之司氣無二息若肺氣實而胃氣虛者胃腑受邪宜發痧而不爛喉若肺氣虛而胃氣實者肺臟感疫宜爛喉而不發痧何以發痧者每不爛喉爛喉者多兼發痧綠肺主呼吸聲息飲食與胃相依況肺脈起於中焦下絡胃之上口賁門之地肺家既見爛喉喉毒隨吸入胃胃家吸受肺毒是以必兼發痧縱輕微不覺必膚養依稀此爛喉無不發痧者以此又內經曰陽病者上行極而下是以肺病胃正上行極而下也順也胃病不害於肺者乃疫為陽邪不應下行極而上也亦順也故發痧每不爛喉爛喉多兼發痧者又以此也</p>
<p>爛喉治肺固當然矣然宜防範及胃其故有二內經曰喉者前其形堅健咽在後其質和柔前後雖有區分然在懸雍以下會厭之間分氣食二管爛處乃是咽喉交互之所肺胃未判之區安可治肺略胃此胃之不可偏廢者一也又以咽喉呼吸聲息飲食與胃依隨如影之從形更宜防範胃家此胃之不可偏廢二也故曰治喉防範胃即是上二治未病</p>
<p>痧之順逆大都先發胸背而後四肢者順先自頭面而後腿足者亦順而痧之色要在紅勻不在多寡如鮮紅細碎著手有痕者吉周遍均勻肌膚作癢者亦吉徐徐緩達從里透出者亦吉凡此之類雖多如雲錦亦不為凶若驟如紅紙者為胃熱極盛包紫且黑者熱毒灼動陰血全黑者胃爛不治然黑而暗亮者必在氣血充足之人亟進涼血泄熱間有一二挽回惟黑而暗者必死若痧雖黑四邊隱隱帶赤色者為火鬱內伏大用涼血解毒尚冀轉紅可治若驟形滅沒神色昏迷者為內陷肌膚作癢者營衛猶和膚燥無汗者毒灼液干難於透達痧透後點上白泡累累者並非痧𤺋豆發乃是熱毒極盛猶不足以盡其毒故點上再加白泡泡大而有漿者多凶痧後遺毒發於腮項者難治汗後痧隱者險四肢浮腫而亮者多敗十日之間</p>
<p>喉中小粒其色多白者乃邪發於太陰氣分者故俗有時喉肺白爛之名若素有伏寒或挾濕邪者爛痕亦多白色太都白為肺金本色無系重輕若白而且腐狀如粉皮者乃氣分大傷為難治若白爛喉展開穿及鼻孔者俗名天白蟻難治若色現鮮紅及紅點者乃疫於太陰血分吹藥多涎者熱雖盛而液尚未傷易治若吹藥而涎不生者津液大虧難治若痧透後而爛喉尤甚者為外毒雖鬆內毒尚猛屬險症若喉內爛而外腫且堅者為毒結喉間無從發泄雖治若爛至喉底不見好肉者為敗眾多斃於五日之內</p>
<p>爛喉而噴嚏者肺機開泄為吉呃逆者毒火上逆為凶嗆然而咳者毒火上攻射其肺係為險頻聲而咳者邪襲肺經為吉爛喉而不咳嗽者為險失音者肺熱葉焦氣促者熱盛灼金</p>
<p>痧症面腫目赤者以疫為陽邪而頭為諸陽之會以陽重陽故頭目多見赤腫而吳又可溫疫論謂腫是兼有水腫而發又謂里邪失下表裡氣滯而然按此二症或亦有之而疫之腫乃內經熱勝則腫之腫雖無兼症亦應見腫</p>
<p>痧之脈宜弦數有序忌軟弱無序若況而伏者為邪未達出宜進疏託數大而空虛者為正弱邪勝宜勿傷正氣陽症見陰脈者難治</p>
<p>面色紅而亮者為火盛青而滯者為毒盛內伏㿠白而呆者為風伏寒邪青黯而喉不爛或不甚爛者為素伏濕邪治之之法在寒濕附及者治𠫵辛熱濕熱附及者治用辛涼</p>
<p>鼻煤者乃胃脈起于山根胃熱極而根源應之故煤鼻紅而扇者乃鼻為肺竅肺胃之氣均為熱傷正氣不支而欲絕初起一團黑色繞於鼻間者乃胃家伏毒已甚鼻衄者乃胃脈下挾鼻孔胃熱湧血上行溢從鼻竅而出</p>
<p>舌苔灰而賦者為濕熱上騰邪未化火純白而膩者為素挾寒邪均宜疏達舌赤多刺者為邪已化火宜清化舌絳中黑者為津液虧耗宜救液舌白中絳者為外束寒邪宜雙解舌絳且縮者為熱陷心營宜育陰舌苔黃厚者為熱將解宜清胃熱</p>
<p>唇絳者乃陽明之脈環於唇為胃液虧唇紫而裂者為胃液涸宜救液</p>
<p>譫語者為邪陷心胞不譫語而鼾睡迷悶喉有痰聲者為毒霧濛開清宮最防內陷</p>
<p>嘔惡者藉泄胃熱為吉欲吐不吐干惡神呆者為胃邪將犯心營</p>
<p>便閉者胃有燥糞為火結　腹痛者最忌為悶痧</p>
<p>惡寒者為外邪侵衛惡寒而後熱者乃邪既入衛則隨衛氣以出入遂常熱而不復惡寒治之之法要乘其未熱之先或寒熱交作之際疏而達之攔其入營之路</p>
<p>有汗者心液足為吉無汗者心液虧防內陷</p>
<p>足無汗者乃疫為陽病陽病之情應由上行極而下邪未及於足陰故足應無汗非關汗出不遍也</p>
<p>便溏而色黝者以大腸為肺之表乃邪從表泄正是解機若黑亮有光黏稠如漆者乃熱極旁流反為不美蓋疫毒之邪內干臟腑在正氣盛旺之人則邪流腸腑從便而泄腑毒即可驅除若症虛邪實之人則邪布三焦滯留腸胃劫動陰血化腐脂膏侵無所泄溢從地道旁流而出形似瘀血凝結而成不堪其臭有象之邪雖泄無形之毒方張莫謂蔻去城空乃是盈中溢外亟用重濟清化以淨臟腑之邪未可再事狐疑誤認邪從表泄是熱極旁流一症生死一大關鍵幸勿忽諸</p>
<p>爛喉而口鼻者有牙疳穿腮等症其氣皆發於口中非從喉內達出若無牙疳各症而臭穢之氣逼人從喉間達出者為肺胃化腐之機蓋跡雖未形而機則已露爛喉之消息系乎口臭之重輕不徒喉爛之深淺若使一聞此氣無論爛與不爛亟進清涼化毒治其未病斯謂上工</p>
<p>口為脾之竅胃為脾之表而胃之脈起鼻上額挾口循頰故胃熱極而上騰則口唇糜腫芒刺有濃色紅者疫熱雖盛未入陰營色紫或黑者陰血已動乃為險然較之口鼻症屬略輕若僅口糜而色紫黑者尚非絕症第口鼻盡有不口糜而口糜斷無不口臭分別之處一自口中呼出一僅唇外難聞法以上用輕宣下清胃熱因勢利導之上下兼賅方無遺漏</p>
<p>齒乃腎之餘齦為胃之絡胃陰灼耗則腎水之源難於既濟而中之火應震為雷胃液腎津源根一派齦牙唇齒脈絡貫通故胃陽血動則齦中血色黃如敗醬胃熱極盛則齒燥如石而有光腎陰血動則齦中血瓣紫如黑漆腎液耗干則齒枯如骨而無彩甚至齒黑忽然脫落抑或穿腮牙疳均為極險之症亟用下奪之方以潛龍雷之火不使腎液煎枯庶免陰從下竭更𠫵育陰之劑以冀赤地流膏勿令胃液消亡致使陽從上厥</p>
<p>時行疫氣非風不傳故列子謂風為大塊之噎氣雖陰霾不開之氣一遇風鼓盪之即從其化而為陽矣故疫屬陽邪而陽淫熱疾初感在表雖屬惡寒然邪之來本於火熱此雙解之涼散兼施者一也至惡寒之故乃風傷於衛熱傷於氣故衛氣不敵而退縮邪即勝之而寒作矣陽邪鼓動最速既侵衛分旋隨衛氣以相出入又從衛化而為熱所病原者於衛本無損於陰營然久戀衛而不祛將風勝則動熱勝則腫於是陽亢陰消陰亦灼耗而營傷矣所以疏達養陰不能偏廢此雙解法之所以當施者二也又若初起神呆痧點隱約燥熱爛喉來勢猛烈者當此之際使認症不清而以小劑嘗試直是優柔養奸必致釀成巨患譬之車薪杯水適以增焰何能止炎若僅以苦寒從事不加雙解則是不通風火之情激成燎原之勢勢必猛烈猶甚氣焰愈增推疫之氣從風從火風火相生變端甚速然風之惟性宜疏而火之情尚達所以涼劑中必兼疏達也以此蓋寒涼之性非下即閉適與疏達相反實是拂其情性何怪電掣風馳激之生變假如醋暑大熱赤日懸空雖驟雨而無風不但氣不轉涼而反因之加熱正是熱為雨遏熱氣何得而宣但有微風疏動燥氣便覺消除使再加雨潤之即轉太和氣象此雙解之所以富施尤貴重施者三也</p>
<p>時行疫氣雖易染人未盡見人而染何也自召之也召之何由由夫人之氣質素弱藩籬又疏於是疫從口鼻而傳痧自肌膚而染者謂之傳染抑人正氣雖足而或外伏他邪則是素有伏邪更感時行而發者謂之感發更有外強中乾雖身無伏邪而賦質偏勝則是氣有所偏疫乘其偏而胃冒受者謂之感冒必也正氣內充更無夙疾少神志之煩絕勞頓之役不傳不染其殆庶幾</p>
<p>岐伯曰不相染者正氣存內邪不可干是疫之入也必乘其虛然虛有內外故感有淺深氣有偏勝故症有疑似其在內氣實而外氣虛者雖感冒輕微亦應見微病故認症難真辨之之法惟咳嗽膚癢脈象弦而帶數隱約痧形在所必見其襲於皮毛者則內應乎肺故目赤者以白珠屬肺膚癢者以肺主皮毛喉痛者以喉為肺管溏泄者以大腸為肺之表邪從表泄咳嗽者為邪襲肺經是皆皮毛冒疫其象如此抑有皮毛閉密邪不能侵而困乏或其身四肢感冒者則內應乎脾而脾與胃又相為表裡故肢癢者以脾主四肢液乾者為脾不輸津化作渴者為胃熱思飲嘔惡者為胃邪上越不思飲食者為邪襲胃經不寐者為胃為燥屎發痧者為邪達肌表是皆因正氣內充外冒疫邪而不能循經入內者其象又如此均為疑似之症最為誤作他邪故特為之辨別以明似是之非</p>
<p>痧之一症昔人概以斑疹麻疹目之獨麻一症系發先天之陽毒外此則大塊者如斑者曰癍細織如錦者曰疹黍粒如沙者曰痧而其實白疹發胃陽之邪丹痧泄胃陰之毒陰陽赤白雖有區分癍疹痧麻悉歸胃腑故古人一概統論不分痧目科條吳又可則混於溫葉天士吳鞠通悉敘於溫病而時賢更於痧之中別出紅痧喉痧悶痧風痧瘄子疹子等用名目不一其義則同前論已詳言之矣乃若風痧等類譬猶強弩之末氣勢雖微中人亦厲有不咳嗽不發熱不過喉間微痛皮膚作癢而已邪本輕微人多輕忽苟忽之將釀成悶痧難於救藥其故以人既干邪則腠理常開衛氣漸弛而正弱正氣既弱則口鼻呼吸尤易內傳況復身中伏疫即從腠理而循經隧由經隧而干臟腑內外響應其勢甚速星星之火可以燎原故古人常謂禍忽於隱微病生於不覺誡人防其漸也至於悶痧形狀亦不過微惡寒熱痧點依稀狀與風痧相似獨神昏鼾睡面黯身清則大異於風痧良由感疫極深體弱難任無力發出或加他邪再束或為涼藥誤投悶閉於中發泄不出勢成內陷而死故曰悶痧俗有發痧一症即由所謂暑月中惡陰凝腹痛之痞氣也既非傳染復非疫厲俗曰脹痧烏痧釣腳痧絞腸痧等症與疫相反而俗亦謂之痧者尤當附以辨明蓋疫痧者傳染時行而發陰痧者卒中惡氣而然惡氣者何即矢氣也矢氣者乃濁穢所積雜挾陰邪感人之身如矢中的其氣陰凝故不傳染爰盛夏之時亦陽盡發於外六陰盡藏於內故夏氣升而井水寒人身應乎天地臟腑應屬寒涼藩籬因而不密以故陰邪易干矢氣易入入則直射貫革痛楚難勝若無伏邪而感者立致容顏慘黯腹痛腸鳴閉阻氣機四肢厥冷只須推拿揉刮使血氣頻分頻合陽氣疏通矢氣遂從肌肉傳達而出漸露痧外呈勿藥亦可自愈然須一周日不能飲水飲則邪留經絡一遇寒涼憤郁最易舉發不可不知若有伏邪而更干矢氣則宜射腸腑立致血脈凝泣營衛失司霍亂吐瀉釣腳絞腸痛不可耐厥逆身僵人事不省亟以辛熱之品逐其凝寒芳香靈明之藥導其關竅俾氣血流暢陽和頰開立可立愈故無論輕重而腹痛腸鳴者在所不免良以腹內寒涼復襲矢氣於是腹為寒凝而疼痛腸即阻結而如絞此絞腸之所以名也至於釣腳乃足為三陰脈絡發源之所陰從下受故傷陰絡凝泣腳不能伸而為釣救之不及命斃須臾是皆中惡腹痛痞氣陰凝之症俗雖謂之發痧實與疫痧之痧有異即傳染與不傳染所由分也</p>
<p>一爛喉痧症咽喉不甚腫痛初起時身現微紅似有似無之狀脈伏肢涼麵青唇紫口閉流涎目睛直視指甲青滯胸腹飽脹氣促神昏四肢搐抽等症此悶痧也雖百無一生亦不忍坐視其斃速用臥龍丹多吹兩鼻多嚏為吉隨用薄荷錢許煎湯磨紫金錠二枚頻灌之候形色少轉再進煎劑如無以上諸搬閉象不宜輕用吹嚏辛燥之藥</p>
<p>喉痧症初起色紫而豔來勢甚猛即用瘍醫大全痧疹論中方歸尾紫草桃仁蒲黃地丁等藥𠫵酌出之頗能見效</p>
<p>悶痧一症多有臥龍丹難開其閉者故特以棗塞鼻隨息出入開喉起閉一方於最後以補缺略試無不效功異回生幸勿輕視</p>
<p>一喉痧症無論已暢未暢之時若咽喉痛腫不堪形色紫豔尚未潰爛或已破未深而項外漫腫堅硬痰氣壅閉湯水難下者急用喉針在喉之兩旁高腫處刺入分許二三下咯去黑紫毒血隨時便可下藥亦不致於大潰</p>
<p>刺喉痧用針刺兩手大指內側爪甲根分許即少商穴也刺入分許擠盡紫血最能開泄肺經熱毒</p>
<p>喉痧內外不甚腫痛可進湯水不甚腫痛色淡不豔潰爛過深皆不必刺如脈細神昏毒已內陷亦不必刺</p>
<p>喉痧嘔吐肢涼皆緣陽明疫邪壅閉以致腠理不開氣結不舒不可作寒症治之以投辛溫如蒼朮厚朴半夏肉桂附子生薑之類</p>
<p>又初見痧形似有似無驟然驚搐者亦不宜用若寒鎮驚之藥如牛黃蘇合等丸此但透達痧疹得暢自能漸愈如喉已潰爛芫荽觀音柳棉線紗櫻桃核一切忌用即不潰爛疫痧溫熱均不相宜</p>
<p>疫痧爛喉症犀角地黃湯一方須審定而後用書中雖未載明臨症務宜斟酌用</p>
<p>【疏達法】痧邪在表火不內熾痧熱稀輕神清喉不爛者為先達後清之法</p>
<p><u>葛根湯</u>　治身熱神清痧隱稀疏舌白脈鬱而喉不甚爛者宜之</p>
<p>葛根　牛蒡　荊芥　蟬衣　連翹　鬱金　甘草　桔梗　</p>
<p><u>加減桔根湯</u>　治無汗痧隱舌白脈郁喉爛不甚者</p>
<p>葛根　牛蒡　香豉　枳殼　薄荷　馬勃　蟬衣　荊芥　防風　連翹　焦查　赤芍　甘草</p>
<p><u>香豉飲</u>　治痧隱脈郁喉腐舌燥症雖乍起津液不足神雖清爽邪火內伏者宜之</p>
<p>香豉　牛蒡　荊芥　桔梗　連翹　梔子　馬勃　大貝　人中黃　共三方</p>
<p>【清散法】疫痧重者疏散清化宜並進也表邪未除疏散固不可少　疫毒內熾清化更不可遲表邪末也火熾本也症雖乍起而灼熱無汗痧隱成片喉爛神煩是火熾已也甚若仍泥於無汗痧隱而必一味疏達恐愈疏而汗愈無痧愈隱矣愈達而神愈昏喉愈爛矣不顧治本之火而徒治表之邪捨本求末焉能奏效故立清散一門表本兼賅邪火併治如常山蛇擊首應尾能處洞然</p>
<p><u>葛根湯</u>　治灼熱神昏煩躁喉腐脈弦痧隱成片不分顆粒無汗舌垢者宜之</p>
<p>犀角　葛根　牛蒡　桔梗　連翹　山梔　蟬衣　荊芥　馬勃　查炭　人中黃</p>
<p><u>犀豉湯</u>　治爛喉痧隱脈弦神昏煩躁熱甚汗少舌絳口渴症雖乍起而疫火燎原有內陷之勢神昏甚者兼用萬氏牛黃丸</p>
<p>犀角　香豉　牛子　荊芥　連翹　山梔　馬勃　大貝　蟬衣　赤芍　桔梗　甘草　共二方</p>
<p>【清化法】疫痧之火迅而烈清化之劑不可緩尤不可輕若表邪未解內火已熾須見於疫火未肆之前而先化其毒故散必兼清若毒焰已熾則是冠發捕奏功難效矣倘表邪已解火熾方盛痧透脈弦喉爛舌絳口渴神煩此時清化不重用正如杯水救車薪決其無效</p>
<p><u>犀角地黃湯</u>　治痧點已透火灼液虧脈弦數大喉爛舌絳者宜之如火灼液虧舌絳喉爛即痧未透發疏達品中亦宜加之此湯乃化毒救液之妙劑</p>
<p>犀角　地黃　丹皮　赤芍</p>
<p><u>犀角二鮮湯</u>　治痧點雖透而喉爛極甚脈弦大而口渴神煩舌絳唇乾火熾液涸者宜之</p>
<p>犀角　連翹　大貝　元參　山梔　羚羊角　鮮生地　鮮沙參　人中黃　人中白　銀花　生石羔　川黃連　馬勃　陳金汁</p>
<p><u>奪命飲</u>　治痰極盛津液乾涸舌絳口渴神煩喉爛脈象弦大痧點云密者宜之</p>
<p>川連　石羔　犀角　生地　丹皮　赤芍　青黛　馬勃　大貝　連翹　元參　金汁　羚羊　沙參　人中黃</p>
<p><u>清肺飲</u>　治痧點已透喉爛漸輕神爽熱淡而咳嗽者未平者</p>
<p>宜之　桑葉　沙參　羚羊　連翹　桔梗　甘草　橘紅　貝母　共四方</p>
<p>【下奪之劑】不得已而為之也表邪未解內火已熾可以助疏達之品而為斬關之將者雙解散是也表邪已解火熾猶甚可以佐清化之品而有奪門之能者四虎飲是也重劑可施於正強邪實之人正強邪實而表邪未解者必無汗痧隱喉爛神煩便閉脈實施之雙解不亦宜乎表邪既解者必得汗痧密喉爛神燥脈實便閉進以四虎飲不亦宜乎此重劑之所為不得已而設也</p>
<p><u>雙解散</u>　治痧點隱約喉爛氣穢神煩便閉目赤脈實病勢初起正強邪實者宜之</p>
<p>大黃　芒硝　葛根　牛蒡　荊芥　連翹　薄荷　蟬衣　枳殼　人中黃　桔梗</p>
<p><u>四虎飲</u>　治痧雖透而爛喉極甚脈象弦數目赤便閉神煩舌絳痰火甚者宜之</p>
<p>大黃　黃連　犀角　石羔　知母　元參　生地　青黛　馬勃　共二方</p>
<p>【救液】是佐使之一法火盛液虧者必需之疫痧不離乎火火甚者液必虧病必危救液之品化其毒於恬淡之中養其陰於未涸之候佐疏達之品不嫌其凝寒佐清化之方無憂其液涸救液之劑曷可緩哉</p>
<p><u>五鮮飲</u>　治舌絳而干脈弦數大痧隱而喉腐不甚者可與葛根湯並服痧隱而喉爛者可與犀豉齊進</p>
<p>鮮沙參　鮮生地　鮮茅根　鮮蘆根　甘蔗汁</p>
<p><u>育陰煎</u>　治痧透肌燥舌絳液干喉爛便閉脈弦無神者宜之</p>
<p>元武板　鱉甲　生地　丹皮　大貝　金汁　麥冬　知母　沙參　花粉　元參　犀角　共二方</p>
<p><u>吹喉十寶丹</u>　專治爛喉症無論已潰未潰腫色豔生並治痘毒以及痧疹後牙疳楊梅後毒結咽喉功能消腫止痛化毒生肌仙方也其效如神萬勿增減</p>
<p>牛黃（三分）　大貝（三分）　人中白（煅五分）　琥珀（五分）　青魚膽（五分大者）　珍珠（六分）　梅片（五釐）　人指甲（四分）　馬勃（三分）　硼砂（四分）　共研極細末專治此症其他喉科谷症自有喉科吹藥未可概用之</p>
<p>敷項頸方即時毒門中二味拔毒散雄黃　生凡　專治痧疹後毒結項外溫腫堅硬無論其色紅白效驗如神</p>
<p>專敷項外漫腫名紫金丹即尿池中多年碎磚炭火煅紅入醋中泡再煅再泡五六次取研末每兩入射香一分用醋白蜜各半熬滾調敷如塌皮形色紫豔用菜油加蛋清之喉風纏喉項腫者均可用</p>
<p>鮮土牛膝根搗汁燉溫時飲並治一切喉症消腫散因止痛化痰如神</p>
<p><u>驅瘟辟邪法</u>　生軍（二兩）　茵陳（一兩）　茅朮（五錢）　降香（一兩）　研末不時燒熏之惟病人臥室不能用恐防嗆喉喉閉塞鼻方專治喉閉湯水不入將藥納棗塞鼻中使藥氣隨鼻息而入喉關乃開惟藥性燥烈不可著肉敷點用紅棗切破一頭去核將藥少許納入棗中線扎封棗口左痛塞右鼻右痛塞左鼻若小孩鼻孔小棗不能塞或用棉花包紮塞亦可但不能令藥貼靠著肉以免腫泡之患若喉閉勢重者用雙棗兩鼻齊塞亦可此方不但用之痧喉喉閉一症即凡傷寒各種喉閉氣息不通命在垂危多具起死回生之力神妙異常勿輕視</p>
<p>蟾酥（七分）　細辛（四分）　辰砂（三分）　射香（二分五釐）　冰片（二分半）　牙皂（四分）　生半夏（三分）　辛夷（四分）　剛子即巴豆（四分去油）　牛黃（二分）　雄黃（四分）　共研細末收貯</p>
<p>喉閉一症氣機阻閉藥不能下咽命在垂危雖良醫亦無策往往為閉所絕縱臥龍丹紫金丹開關各法不克得一噴嚏者百無一生此方合藥塞入鼻內只要膺前猶覺跳動氣息雖極細微但得一絲未絕無不痰氣漸鬆人事轉醒有經數時而蘇者有周晝夜而起者神效良方</p>
<p><u>人中白散</u>　專治男婦大小口舌糜爛走馬牙疳並咽喉腫痛牙床腐潰等症</p>
<p>青黛（一錢）　月石（一錢）　兒茶（一錢）　薄荷（五分）　梅片（二分）　人中白（一錢）　元明粉（五分）　西黃（三分）　珍珠（五分）　共研細末搽患處</p>
<p><u>牙疳神方</u>　治痧𤺋走馬牙疳先用冬青葉煎水漱淨再以此藥敷上</p>
<p>青黛（一錢）　牛黃（二分）　人中白（一錢煆）　回龍骨（一錢煆）　血餘炭（一錢）　冰片（三分）　珍珠（五分）　舊紅氈子炭（一錢）　小紅棗（七枚去核入雄黃少許煆）　共研細末收好勿泄氣</p>
<p>按前焦疫痧方乃為疫痧爛喉專症而設並無雜挾他邪並挾寒挾濕均為疫症之常爰採朱鐵山數方補其闕略鐵山所論謂當察其發熱之始時令寒暄酌而治用倘嚴寒是挾雖桂枝葛根麻黃亦均可用勿以辛溫而遲疑此言誠非墨守經曰必先歲氣母伐天和其斯之謂故其方中有升麻白芷蒼朮柴胡各禁藥雖悖治疫之旨然疫中繫有是症故雖在禁而不得以禁之特為錄出以備一格聊為神而明之之用</p>
<p><u>荊防葛根湯</u>　治風寒外來皮膚閉密痧疹逡巡不出又治形寒乍熱咽喉腫痛咳嗽胸悶鼻塞嘔惡兩目汪汪手足指冷脈來濡數或現浮數宜服此湯</p>
<p>荊芥（一錢五分）　防風（一錢五分）　甘草（四分）　桔梗（一錢五分）　牛蒡（三錢）　蟬衣（一錢）　枳殼（一錢）象貝（一錢五分）　葛根（一錢五分）　杏仁（三錢便溏勿用）</p>
<p><u>升麻葛根湯</u>　治體質弱痧不透達</p>
<p>升麻（一錢）　葛根（一錢）　赤芍（八分）　甘草（四分）</p>
<p><u>加減透邪湯</u>　治痧不透達服升麻葛根湯仍不達再服此湯</p>
<p>升麻（一錢）　當歸（一錢五分）　荊芥（一錢五分）　防風（一錢五分）　白芍（一錢五分）　蟬衣（四錢）　牛蒡（三錢）　甘草（四分）</p>
<p><u>加減託里舉癍湯</u>　服透邪湯後痧仍不達再服此湯</p>
<p>升麻（一錢）　柴胡（一錢）　當歸（二錢）　白芍（一錢酒炒）　白芷（一錢）　炙山甲（一錢五分）　浮萍</p>
<p>痧隱不達或達而後沒服前方托之用芫荽兩許酒水煎以苧麻根蘸酒撲擦熏之亦可</p>
<p><u>時喉白爛吹藥</u>　西黃（二分）　珍珠（六分）　琥珀（五分）　青黛（八分）　壁錢（五個）　指甲（五分）　象牙屑（八分）　馬勃（三分）　冰片（一分）　共研末凡遇喉症均可吹得</p>

<h1>卷下</h1>

<h2>咽痛</h2>
<p>陳實功曰咽喉雖屬於肺然所致各有不同有虛火實火之分紫喉漫喉之說咽為心肺肝腎呼吸之門飲食聲音出納之道此關係一身害人迅速虛火色淡微腫脈亦細微小便清白大便自利此乃思慮過多中氣不足脾氣不能中獲虛火易於上炎咽嗌乾燥飲食妨礙咳吐痰涎呼吸不利斑生苔蘚累若蝦蟆皮有如茅草常刺喉中又如硬物嗌於嚥下嘔吐酸水噦出甜涎甚則苔上白色唇生礬色聲音雌啞氣喘多痰以上現症皆出於虛火元氣不足中來治此不可誤用寒涼上午痛者屬氣虛補中益氣湯加麥冬五味牛蒡元參午後痛者屬陰虛四物湯加知母桔梗元參黃柏如服不效必加姜附以為引導即佐治之法也實火者醇酒辛烈熱積於中久則火動痰生髮為咽腫甚則風痰上壅咽喉閉塞少頃湯水不入聲音不出此為喉痹緊喉風是也用藥不及先用針刺喉間發泄毒血隨用雞羽蘸桐油探吐稠痰務使痰毒出盡咽門得松湯藥可入語聲得出乃止內服清咽利膈湯疏利餘毒牙關緊閉難入必當先刺少商穴出血其閉自開如針刺無血刺出黃水探吐無痰聲如拽鋸鼻掀痰喘湯水不下語聲不出真死候也不治岐天師曰如虛火沸騰於咽喉口齒之間用寒涼之藥入口稍快少頃又甚又用寒涼腹瀉肚痛而上熱益熾欲用熱藥涼飲而病人不信不肯輕治乃用外治之法引之而愈方用附子一個為末醋調成膏貼在湧泉穴上少頃火氣衰又少頃而熱止退變成冰涼世界然後以六味地黃大劑與之則火不再沸騰蓋此火乃雷火見水則愈酷烈子不見雷霆之震濃陰大雨之時愈加震動驚天轟地更作威勢一見太陽當空則雨歇聲消寂然不聞又不見冬令之天地耶嚴寒霜雪冰凍郊原雨雪霏霏陰雨慘厲此天氣下行而地氣反上升蓋下勢則上自寒也又不見夏日之天地乎酷曰炎蒸蘊隆火熱爍木焚林燔湯沸水天氣上升地氣下降此上熱而下寒也人身虛火亦猶是也今既火騰於上則下自冰冷今以附子大熱之藥湧泉引之者蓋湧泉雖是水穴水之中實有火氣存焉火性炎上而穴中正寒忽然得火則水自沸溫水溫則火自降同氣相交必歸於窟宅之中矣火既歸於窟宅又何至沸騰於天上哉此咽喉口齒之火忽然消除有不知其然而然之妙此引治之巧又當知之者此即外施引火歸原之法也</p>
<p>馮魯瞻曰咽喉者一身之捴要水穀出入之道路也若胸膈之間蘊結熱毒致生風痰壅滯不散發為咽喉之疾或內生瘡狀如肉腐窒塞不通吐咽不下如單肉蛾雙肉蛾及痄腮腫脹甚者內外皆腫上攻頭面治宜先吐風痰以通咽膈然後解熱毒清肺胃遲則不救</p>
<p>咽瘡喉痛多屬虛火血虛虛火遊行無制客於咽喉也虛者八味地黃湯加牛膝五味子煎與食前冷服實者黃連荊芥薄荷薑汁硝密噙化喉痛治用荊芥陰虛火炎上必用元參有用茜草一兩作一服者以其能降血中之火也</p>
<p>喉與咽不同喉者肺脘呼吸之門戶主出而不納咽者胃脘水穀之道路主納而不出蓋咽喉司呼吸主升降此一身之緊關橐龠也經曰足少陰所生病者口渴舌乾咽痛咽腫上氣嗌乾素問云邪客於足少陰之絡令人咽痛不可納食又曰足少陰之絡循喉嚨通舌本凡喉痛者皆少陰之病但有寒熱虛實之分少陰之火直如奔馬逆衝於上到此咽喉緊鎖處氣鬱結而不得舒故或腫或痛也其症必內熱口乾痰涎湧上尺脈必數而無力蓋緣腎水虧損相火無制而然湏用六味地黃湯如麥冬五味子大劑作湯服之又有色欲過度元陽虧損無根之火遊行無制客於咽喉者湏用八味腎氣丸大劑煎成冰冷與飲引火歸原庶幾可救此論陰虛咽痛者如此治法正褚氏所謂上病療下也</p>
<p>陰氣大虛虛火無制孤陽飛越客於咽喉遂成咽痛脈必浮大重取必澀去死則近人參一味濃煎細細飲之如作實症用以清降之藥禍在反掌遇謂人參必同童便製附子同煎溫和食前頓服則監製虛火下歸乃愈如單用人參細細飲之恐浮火益熾亦非穩當奈世人但知熱咽痛不知有寒咽痛也經曰太陽在泉寒淫所勝民病咽痛頷腫陳藏器用附子去皮臍炮製切片以蜜塗炙令蜜入內含咽其津甘味盡更易之仲景云下利清穀裡寒外熱脈微欲絕而面赤咽痛以通脈四逆湯又曰冬月伏寒在於腎經發則咽痛下利附子湯溫其經則愈</p>
<p>又有司天運氣其年鄉村傳染若惡寒者多是暴寒折熱寒閉於外熱鬱於內忌膽凡酸寒之味點喉反使陽郁不伸又忌硝黃等寒藥下之反使陽陷入里禍不旋踵湏用表散若甘桔湯之類</p>
<p>又有咽痛而諸藥不效者此非咽痛乃是鼻中一條紅線如發懸一黑泡大如櫻桃垂掛到咽門而止難以探取宜用土牛膝根直而肥者搗取汁入醋四五滴再搗絞汁和前汁滴入鼻中二三滴即刻絲斷珠破吐出瘀血即安</p>
<p>李東垣曰夏月傷寒伏於腎少經之經多咽痛者名曰腎經傷寒也宜熱藥冷飲之</p>
<p>陳遠公曰咽喉乾燥久而疼痛人以為肺經之燥熱也孰知腎水涸竭乎夫肺金生腎水也肺氣清肅自下生水惟肺氣虛則肺液只可自養無如腎水大耗故欲救肺之乾燥必先救腎之涸也子母兩富湯熟地麥冬各五錢熟地加半亦可服一劑燥稍止三服疼稍止十服全愈</p>
<p>夫咽喉之症有三十六種總不外乎風火痰初起不論緩急好歹只以下氣清痰為主次後清火涼血為要看明虛實虛火宜溫補腎水引火歸原為主若不分先後虛實混亂用藥非惟難以見功而且生死攸關大抵風熱者俱多陰虛者亦復不少火症者十之三寒症者十之一二醫者審其病由𠫵之時令探吐其痰針其少商穴風熱散之火甚者下之虛寒者溫之若初起驟用寒涼之藥則上熱未除中寒又生其毒邪乘虛而入即喘不休死不救矣</p>
<p>凡喉症初起大便秘結者宜大黃元明粉下之則大便通而易痊若至五六日久而不食大便結秘用之立斃蓋病久元氣已虛豈宜再用硝黃當有善法以處之</p>
<p>凡生長膏粱素耽於酒色勞心過度以致咽喉臭痛人以為肺氣傷也誰知乃心火太盛移熱於肺乎夫飲酒傷胃胃熱熏蒸宜乎肺熱矣然胃火熏肺而胃土實生肺也故飲酒尚不傷肺惟勞心過度則火起於心而肺受刑矣胃火助之則火旺炎上而咽喉成燔燒之路自然唾涕稠黏口舌乾燥氣味腥臭而痛矣蓋心主五臭入肺為腥臭矣解腥湯主之</p>
<p><u>解腥湯</u>　甘草　桔梗　生地　麥冬　貝母（各五）　桑皮　天冬　丹皮（各三）　黃芩（一）　水煎服二劑痛止四劑臭除</p>
<p>此方治肺而兼治心又兼治胃者也因膏梁之人心肺之氣血原虛下滋二經之氣血但瀉其火則胃之氣血必傷反增火之焰矣妙在補肺以涼肺補心以涼心補胃以清胃火自退舍不止喉痛而喉痛自止也</p>
<p>傷寒病四五日發熱鼻乾口燥咽痛者陽明自病也陽明屬胃汗多則胃汁干故津液不能潮咽乾痛者宜用人參敗毒散</p>
<p>傷寒三五日咽喉中腫其色鮮紅痰涎自出頭痛項強須知屬太陽邪氣入於經絡觸動心間積熱之毒攻咽則咽喉腫痛宜甘桔湯加牛蒡子元參川連三味傷寒八九日已上身無潮熱腹痛自利而咽喉痛者此太陽經受病也傷寒得汗已不解轉入太陰腹滿時痛自利而咽喉腫其色微白此症可治用真武湯主之所謂真武者能補下元助陽正氣以手足和暖為妙經曰但要口中紅活有痰可治宜隨症加減用藥若口中黑則血已枯乾聲啞目上視汗出者不能治矣切宜仔細看症</p>
<p>傷寒八九日已上得汗已不散咽喉痛舌乾唇燥者此少陰經自病也太陰經受病得汗後未解傳入少陰經少陰屬腎汗多則腎汁干其腎水不能潮潤咽喉故其病也如自利腹中痛於足厥冷咽中腫痛不可吞嚥如無涎唾吐及舌上乾者不治病人八九日已上身微熱無他症但喉中痛而無腫聲啞者不治傷寒十餘日已上得汗已病解無潮熱脈平靜而咽喉痛者此餘毒上攻也宜用黏子解毒湯</p>
<p>陰毒傷寒身體重背強眼痛不堪任小腹急痛青黑毒氣衝心四肢厥冷噁心吐逆咽喉不利脈沉細若能速治調醫數十日內可痊否則難生</p>
<p>男婦咽喉痛法則一般惟女人喉中有腫而色紅者此月經不調也經不能行則壅塞於上故咽腫痛也蓋由榮衛不和但男子以氣為主女人以血為主男婦各隨其氣血之分調治宜調榮湯可也如病勢重其色微白腳者此虛陽上攻宜降氣湯探吐痰涎及吹藥婦人有孕心頭痛者不治</p>
<p>婦人傷寒身熱或發潮熱咽痛者此經行也活人書云婦人傷寒經水適來晝則明瞭入暮則譫語如見鬼神狀此乃熱入血室無犯胃氣及上二焦不可下也小柴胡湯主之今咽喉痛而潮往來面赤唇紅者此熱邪上壅也不用小柴胡湯宜用竹葉石羔湯清上膈除心煩所以為妙次用四物湯</p>
<p>喉中有瘡其色帶紅者黃色者探痰再吹藥宜鼠黏子解毒湯咽喉間生肉層層相疊漸漸腫起有孔出臭氣用真枸橘葉煎湯頻頻服之而愈要煎濃汁</p>
<p>虛陽上攻氣不升降致結患咽嗌痰涎壅寒治以蘇子降氣湯主之</p>
<p>喉腫乃毒氣起於脾經因食煎爆油膩等物及飲酒太過而行房事以致毒氣不能流行聚結於喉根若不速治潰毒閉急即死先用針法吐法最妙</p>
<p>咽喉之病近世最多者有數症曰單乳蛾雙乳蛾曰子舌脹木舌脹纏喉痹走馬喉痹其極氣上行轉於喉之兩旁近外結腫以其形似是為乳蛾一為單二為雙也其比乳蛾差小者為喉痹熱結舌下復生小舌名曰子舌脹結熱於舌中舌為之腫名曰木舌脹木舌者強硬而不柔和也熱結於咽喉腫繞於外且麻且癢腫而大者名纏喉風痹暴發痰涎湧盛水漿不入然名雖不同總不外乎手少陰君火手少陽相火為病也二脈並絡於喉氣熱則內結結甚則腫脹甚則痹痹甚則不通而死矣其危者可以咸軟之而大者以辛之如薄荷烏頭殭蠶朴硝白礬之數用之自可消除至於走馬喉痹則非此所療以其生死只在反掌之間耳急救之法無如砭針出血血出則病已此上策也後之患者萬勿畏針以自斃其命後之君子萬勿執小方而曰吾藥不動臟腑又妙於不用針砭出血在小疾幸而獲愈而大疾必致死亡特為拈出以告病者醫者祈勿自誤而誤人也</p>
<p>咽喉為人身飲食之門戶呼吸關隘方寸之地受病危險其症甚繁大約總歸於火蓋少陰少陽君相二火其脈皆絡於咽喉故往往為火症之所結聚君火勢緩則結而為疼為腫相火勢速則腫甚不仁而為痹痹甚不通而痰塞以死經云一陰一陽結謂之喉痹火者痰之本痰者火之標火有虛實之火實火因過食煎炒炙爆蘊結積毒其症煩渴二便秘塞風痰上壅將發喉痹必先胸膈不利脈弦而數治宜先去風痰後解熱毒虛火或因飲酒過度或因忿怒或因色欲火炎上攻咽喉乾燥必二便如常少脈微治宜補虛瀉火凡用藥不宜純用寒涼取效目前上熱未除中虛復起毒氣乘虛入腹胸前高腫上喘下瀉手足指甲青黑七日以後全不進飲食口如魚口者死且治咽喉最忌發汗針砭出血已屬發汗之意何堪更發其汗凡傷寒於腎及帝丁（喉名）腫者斷不宜針至如內傷虛損咽喉失音無法可治</p>
<p>喉症初起一日寒戰即生髮者發後身涼口不碎又無重舌或二便俱利不可認作熱症皆因陰氣虛寒而發其痰不可吊盡此痰即身內之津液所化與熱症乳蛾重舌之痰壅一處以流盡則毒愈者不同若亦流盡則精神竭而必斃先宜藥吹或用水換之法使喉一通即便服藥初劑發散和解次即施溫補滋養設三四日再發寒戰或心痛骨痛脅痛等症皆屬難治</p>
<p>咽喉發時牙關緊閉舌喉俱腫口碎而臭或有重舌及舌上有黃屑者發後下午再發寒熱二便閉塞者即作熱症用石羔敗毒散主之然亦易愈之症如漸起三四日後再寒熱者雖極凶亦不為害惟有症未減而牙關反不緊閉唇口不腫紋如好人者不治舌腫滿口者不治色如胡桃如茄子如砂紙者不治若連重舌發寒熱者猶可治也舌以筋按之若色雪白起筋紫紅色者此身內血已死然口若臭猶可生尤忌口渴氣急痰多而稠如桃膠者死期已速</p>
<p>又曰一頸俱紅腫者亦極危也面帶紅紫面青帶白神氣少者俱無救不語者死略能語者尚可有生之機面色少神喜坐低處者亦難治帝丁（喉也）乃性命攸關舌系下通於腎白腫不治傷之者死凡喉症至五日即重三日前症雖重尚未成膿藥能清散若至五六日患處多成膿隨便穿破後爛成窩為難治用口疳藥吹多加龍骨珍珠</p>
<p>凡吹喉症須吹藥四五管方得痰多三次可以全愈其出痰初吹宜多用金丹必直對帝中吹之急提出管恐痰即嘔出也</p>
<p>婦人喉症腫痛有因經閉致火上攻而成者宜內服通經藥月事通則愈</p>
<p>凡喉中無形紅腫者當用燈心</p>
<p>凡喉症凶者面發腫白亮無光彩脈微沉無力是神氣外泄無陽之症斷乎不治若面發紅腫脈來洪大有力症雖極重是有元氣火盛治之易痊</p>
<p>凡吹喉症欲出痰涎藥中用皂角末少許</p>
<p><u>三黃解毒湯</u>　黃連　黃芩　黃柏　梔子</p>
<p><u>清胃湯</u>　生地　升麻　連翹　丹皮　黃連</p>
<p><u>引火湯</u>　熟地（五）　元參（五）　萸肉（四）　茯苓（四）　山藥（四）　五味（二）　肉桂（一）　白芥子（三）</p>
<p><u>敗毒散</u>　牛蒡子　花粉　元參　黃柏　薄荷　丹皮　銀花　熟石羔　赤芍　甘草　竹葉　燈心</p>
<p><u>犀角解毒丸</u>　治小兒諸瘡毒及痧後餘毒喉齒等症</p>
<p>犀角　朴硝　元參　牛蒡　茯苓　生地　連翹　青黛　桔梗　甘草　共研細末蜜丸如龍眼大薄荷湯下硃砂為衣</p>
<p><u>冰硼散</u>　毋論新久咽喉口齒腫毒及久嗽痰火咽啞作痛日吹三四次</p>
<p>元明粉　硼砂（各五錢）　硃砂（六分）　冰片（五分）</p>
<p><u>柳花散</u>　治吹喉瘡及口舌生瘡走馬牙疳咽喉腫痛</p>
<p>蒲黃　黃柏　青黛　人中白（各一兩）　硼砂（五錢）　冰片（五分）</p>
<p><u>生肌散</u>　痧痘口瘡破腐臭爛</p>
<p>黃連　地骨皮　黃柏　五倍子　生甘草（各等分）　共研細末乾燥若仍作熱作膿而不即愈者乃內毒未盡也仍用大連翹飲</p>
<p><u>二聖散</u>　痧痘咽喉腫痛不拘初起回後</p>
<p>殭蠶（二）　苦參（三）　研細末吹入三四次即腫消痛止</p>
<p><u>回生救苦上清丹</u>　治咽喉十八種急症</p>
<p>殭蠶（一錢）　硝尖　煆硝尖　硼砂（各五分）　明礬　枯凡（各一分）　冰片（一分）　海螵蛸（三分）　共研極細末每用少許吹上吐去痰涎即愈</p>
<p><u>赤麟丹</u>　治喉痹喉風喉蛾喉癰七十二症如神</p>
<p>明礬（二兩）　好血竭（二錢）　巴豆仁（二十一粒）　硼砂（二錢）　冰片（一錢）　用傾元寶罐一個入明礬血竭於罐內放巴豆仁於凡內炭火上煆令煙盡冷定加硼砂冰片研細末收貯每用少許吹之</p>
<p><u>咽喉危症</u></p>
<p>野蕎麥（春間初發紅嘴形類海棠六七月間可長四五尺其葉莖頗似海棠節有紅節葉大如掌）　每採鮮葉搗汁入醋一匙以棉或雞羽蘸掃涎出即活</p>

<h2>單雙喉蛾</h2>
<p>單雙蛾皆標病也其患生於咽旁或單或雙其咽門雖腫半塞半開其病雖凶而喉道又寬又腫雖重無妨宜金鎖匙吐出痰涎推蕩積熱經曰宜針烙</p>
<p>單雙肉蛾可針即針有不可針者亦用吹藥劫藥吐去風痰以圖捷效次服煎劑蓋急症難於久待也</p>
<p>腫於咽喉兩旁為雙蛾易治腫於一邊為單蛾難治如有惡寒表症用荊防敗毒散散之不惡寒而無表症者惟有辛涼清利外用雞毛蘸米醋探喉中去盡痰涎復以雞羽探吐之令著實咯破蛾中紫血即潰或用紫金錠磨下即安慎勿輕用刀針古方有巴豆油染紙作捻子點火吹滅以煙燻鼻流涎牙關自開再用此搐患處即愈</p>
<p>有重輕者或日重夜輕治之尤易用山豆根桔梗各三錢甘草半夏各一錢治之一劑立愈症認得真對症用藥則驗</p>
<p>單蛾者其形圖小如筋頭生於咽喉關上或左或右雙蛾則兩邊俱生也若生於關下為難治</p>
<p>左咽主吞嚥右喉主出聲咽門分兩路其受病不同</p>
<p>雙蛾風此症有兩枚在喉間兩邊如豆大急將黃虀汁蜜少許加元明粉漱出風痰吹冰片散</p>
<p>乳蛾有單雙有連珍多因酒色鬱結而發單輕雙重初起一日痛二日紅腫三日有形如細白星發寒熱者凶四日勢定治之四五日可愈其症生於喉旁一邊生者單蛾左右生者雙蛾二白星上下相連如纏袋者連珠也</p>
<p>雙單蛾湯水不下看頭頂發內細有窠桃破出血即刻開關煎土牛膝根汁時時咽之吹金鎖匙散冰硼散</p>
<p>治乳蛾先用碧丹五金丹一吹次用金丹二碧丹三仝吹出痰兼用煎劑左加犀角黃連右加赤芍藥柴胡連珠兼用之大便閉加元明粉大黃及吹藥並用</p>
<p>乳蛾由肺經積熱受風凝結而成生咽喉兩旁狀如蠶蛾有單有雙雙者輕單者重生於關前形多易見吹藥易到手法易施故易治生於關後難見形色吹藥不到手法難施故難嚥喉左畔虛陽上攻其腫微紅名單乳蛾若肺氣不舒外症手足厥冷痰涎自出頭重目昏急用虀菜醋汁加元明粉灌之旋出痰涎吹藥如厥重不省人事氣欲絕者急以吳茱萸研爛醋調塗足心右畔虛陽上攻其色微黃其症亦手足厥冷其形若蠶蠒故謂之乳蛾</p>
<p>陰虛雙蛾之症用附子一錢鹽水炒成片用一片含在口中立時有路可以用湯藥矣後以八味地黃丸一兩白湯送下立時而愈</p>
<p>雙蛾陰症最難治而最易治也不知其竅則最難知其法則最易予常為人治此症用附子一枚鹽水煮取一片含口中而火勢立止然後以六味地黃丸大劑飲之不再發神方也附子或用蜜浸炙將一片含口中亦效一鹽味一甜味皆可</p>
<p>有病雙蛾者人以為熱也喉門腫痛痰如鋸泄不絕茶水一滴不能下咽豈非熱症然而痛雖甚至早少輕喉雖腫舌必不燥痰雖多必不黃而成塊此乃假熱之症也若以寒涼之藥急救之下喉非不暫快少傾而熱轉甚人以為涼藥之少也再加寒涼之品服之更甚急須刺其少商穴出血少許喉門必有一線之路開矣急以附子一錢熟地一兩山茱萸四錢茯苓五錢麥冬牛膝五味各三錢煎服下喉一聲響亮其火勢熱症立時消散蓋少陰之火直如奔馬凡人腎火大耗者元陽不能下藏蓋無水以養火而火必上越也日日衝上而咽喉口小不能任其出入乃結成腫痛狀似雙蛾實非雙蛾也方中妙在附子辛熱之藥引龍雷之火下藏於窟宅夫龍雷之火乃相火也喜水而不喜火故藥中熟地萸肉之類純是補陰之味使火有所歸而不再沸此因其逆勢而引導之也按喜水而不喜火喜水者喜其真陰之水也而非寒涼之水不喜火者不喜邪熱之火也而非辛熱之火</p>
<p>凡人有咽喉忽作腫痛生雙蛾者飲食不能下五日不食即死矣但此症實火易治而虛火難治實火世人已有妙方芩連之類治之立消惟虛火乃腎火不藏於命門浮游於咽喉之間其症亦如實火惟夜重於日清晨反覺少輕若實火清晨反重夜間反輕實火口燥舌乾而開裂虛火口不甚渴舌滑而不裂也以此斷之決不差錯此種虛痛若亦以治實火之法治之是人已下井而又益之石也故不特不可用寒涼並不可用發散蓋虛火必須補也然徒補腎水雖水能制火可以少差而火勢太盛未易制伏又宜於水中補火則引火歸原而火勢頓除有消亡於傾刻矣方用引火湯主之一劑而痰聲靜痛頓除腫亦盡消二劑全愈蓋熟地萸肉五味之類純是補腎水聖藥茯苓山藥又益精而利水助肉桂之下行元參以消在上之浮火白芥子以消壅塞之痰上焦既寬而下焦又得肉桂之熱則龍雷之火有不歸根於命門者乎一劑便生真有鬼神莫測之機又勝於八味地黃湯也倘喉腫閉塞勺水不能下咽雖有此神方將安施乎更有妙法用附子一個破故紙五錢各研末調如糊作膏布攤如膏藥貼足心中央烘之一時辰喉即寬而開一線路可以服藥又不可不知此妙法也</p>
<p>陰蛾之症乃腎水虧乏火不能藏於下乃飛越於上而喉中關狹火不得直泄乃結成蛾似蛾而非蛾也早晨痛輕下午痛重至黃昏而痛更甚得熱則快得涼則加其症之重者滴水不能下喉若作外感陽症治誤用山豆根芩連梔子之類則痛益益甚而關不開有不盡命而死者也惟單補陰虛用引火歸原之而痛頓失也治以化蛾湯主之此方大補腎之水不治蛾之痛壯水則火息引火則痛消可收全功誠奇絕之法也</p>
<p>咽喉腫痛日輕夜重長成喉蛾宛如陽症但不甚痛喉咽自覺有一錢之乾燥至飲水咽入稍快至水入腹而又不安吐痰如水甚多將涎投入水中即化為水人以為喉痛生蛾投瀉火之方不特不驗反增其重亦有勺水不能入者何也蓋屬陰蛾也陰蛾則日輕夜重陽蛾則日重夜輕此乃腎少陰腎水下無可藏之地直上炎於喉也治法宜大補腎水加入補火之味引火歸原下熱則上自寒引火湯主之熟地三兩巴戟天麥冬各一兩茯苓五錢五味二錢水煎服一劑火下喉腫全消二劑全愈按此方以熟地為君大補腎水麥冬五味重滋肺金金水相資子母有旁沱之沛水旺足以制火加入巴戟天之溫又是補水之藥則水火既濟水趨下而火不得不隨之又加茯苓前導則水火同趨共安腎宮如琴瑟之和矣何必用桂附大熱引火歸原乎然桂附為引火歸原之聖藥胡棄不用不知此症因水之不足而火沸騰今用大熱雖引火於一時必耗水於日後所以只用巴戟天引火而又補水則腎無乾燥之虞喉有清肅之益也</p>
<p>人有感冒風寒咽喉腫痛其勢甚急變成雙蛾者其症痰涎稠濁不時口渴索飲疼痛水不能入喉此陽火壅阻咽喉勢若重而病實輕也夫陽火太陽之火也膀胱之火也膀胱之火與腎火為表裡膀胱火動腎火即來相助故直衝咽喉而脾肺胃之火亦復相從上升於是借三經之痰涎盡阻塞於咽喉結成火毒而不可解治法似宜統治數經矣然其本實始於太陽泄膀胱之火則諸經之火自安但咽喉地近於肺太陽既假道於肺肺經險要之地即狹路之戰場也安有舍戰場要地不解其圍而先擣其本國乎貴有兼治之法也清燥湯桔梗元參花粉各三錢甘草二錢白芍五錢山豆根柴胡麻黃各一錢水煎服一劑喉寬二劑蛾盡消矣按此方散太陽之邪者居四散各經之邪者居六尤加意於散肺邪者由近以及遠也</p>
<p>人一時咽喉腫大作痛吐痰如湧口渴求水下喉少快已而又熱索水喉成雙蛾既大且赤其形宛如雞冠此喉痹症即俗稱纏喉風也乃陰陽二火兼熾也一為少陽相火一為少陰君火今二火齊發其勢更暴喉管細小火難遽泄遂遏抑其間初化腫而後成蛾也蛾有二名雙蛾單蛾也雙蛾生二枚兩相壅擠中間反留一線之隙可通茶水藥食尚可下咽若單蛾則獨形反塞住水穀之路往往有勺水不能入者藥物既不可咽又從何路以進藥哉先用刺法一則刺少商等穴尚非捷徑惟用刀直刺喉腫之處一分則喉腫必少消可用吹藥開之</p>
<p><u>吹藥方</u>　牙皂（燒灰）　膽凡　牛黃　冰片（各一分）　射香（三釐）　共為細末吹喉中必大吐痰而愈後用煎劑名救喉湯</p>
<p>元參（一兩）　麥冬（五錢）　花粉（三錢）　山豆根　甘草　射干（各一錢）　水煎服立效</p>
<p>若雙蛾但刺少商穴不用刺喉法用此二方自效按元參為君是瀉心腎君相之火佐以豆根射干花粉祛邪消痰則火自歸經咽喉之關隘肅清矣</p>
<p><u>雙單蛾吹藥方</u>　火硝（一錢五分）　硼砂（五分）　雄黃（一分）　冰片（三釐）　共研細末吹入喉中吐出痰涎或從鼻孔吹入亦可</p>
<p><u>吹喉方</u>　人指甲（不拘多少）　明礬（三錢）　大蜘蛛（一個）　同入銀罐內煆研末加冰片一分吹之</p>
<p><u>塞鼻方</u>　巴豆肉　細辛（等分）　研末用棉包好左蛾塞右邊鼻孔右蛾塞左邊鼻孔</p>
<p><u>喉蛾喉痹喉風並治發背疔瘡</u>　烏龍爪（即白花菜曬乾）　研細末一錢加冰片三五釐研勻吹之如發背疔瘡取葉搗爛敷上即消</p>
<p><u>喉蛾兼治口疳</u>　杉木皮（煆存性）　人中白　兒茶（各三錢）　珍珠　琥珀　甘石　青黛（各一錢）　冰片（六分）　研細末吹喉疳喉蛾牙疳先用黃連甘草薄荷松蘿茶各一錢煎水漱淨再吹再看耳後左右如有紅筋以針刺出血立愈</p>
<p>雙單喉蛾喉癬喉癰腫痛吐咽不下命在須臾</p>
<p><u>鳳凰衣</u>　橄欖核（煆存性）　兒茶（各等分）　研細末吹喉疳喉蛾牙疳等症每一錢加冰片五釐吹之即效無比</p>
<p>乳蛾急症也此方甚效有力者宜預製以救人此方不費多錢慎毋輕視臘八日雄豬膽一個裝入白礬末陰乾之後研末再入臘八日豬膽內如此三四次如遇患者用一二分吹之神效</p>
<p><u>奇方</u>　青魚膽（一個）　納糯米（七粒）　懸避陰處四十九日收下單蛾用一粒雙用二粒放舌下含之咽津</p>
<p>土牛膝搗取汁不時嚥下煎取汁代茶最妙</p>

<h2>咽喉雜症</h2>
<p>喉間腫長如瓜蒂者不可刺破則傷人鹽煆赤研末以雞羽蘸搽即消</p>
<p>咽喉間生肉層層相疊漸漸腫起起有孔出臭氣用臭橘葉煎湯頻服即愈</p>
<p>喉癰當結喉生又名猛疽以其毒勢猛烈可畏也屬任脈及手太陽手少陰經積熱憂憤所致若過時不治穿潰咽嗌者死</p>
<p>癰發於嗌中名曰猛疽不治化為膿膿不得瀉塞咽半日死其化為膿者瀉則合豕膏冷食三日而已</p>
<p>喉癰生於結喉之間名海門第一關最為惡毒乃心肝火炎於脾肺毒氣攻喉切忌刀針</p>
<p>咽喉紅腫瘀塞作痛此屬標病膿出自愈當以金鎖匙吐出痰涎推蕩積熱膿脹痛者開之喉癰不放膿者非法</p>
<p>喉癰生於咽外正中腫痛妨礙飲食紅腫發熱如必欲潰膿軟而脹痛者針之內服補託之劑玉紅膏搽貼其肌完口有腐潰內通湯水隨孔出曾治數人俱亦無妨</p>
<p>積熱喉癰其腫如黃糖李上面紅絲外症項上痛齒痛此胃經受熱胃氣通於喉嚨故患喉癰先吐痰次吹藥加元明粉煎藥加當歸黃耆倍片芩</p>
<p>喉癰此毒因七情鬱結而成毒生喉間若不速治恐毒氣內攻喉骨若潰必致口內出膿雖不傷命即成冷瘻終身之痼疾也喉癰雖腫而咽門半塞半閉其病雖凶而喉道又寬又緊此皆凶症雖無妨</p>
<p>喉癰因過食辛辣炙爆厚味醇酒感熱而發屬肺喉間無形但紅腫而痛虛者亦發熱四五日可愈</p>
<p>治喉癰用碧丹加金丹少許吹之內服膏子藥或煎藥</p>
<p>⿰舌䪞舌喉癰肥人感熱性燥者多患此症凡舌下生如小舌者為⿰舌䪞舌連喉腫痛即發癰大抵兼者勢凶</p>
<p>如患⿰舌䪞舌喉癰若大便秘煎藥內加元明粉大黃小便不利加六一散</p>
<p>⿰舌䪞舌喉癰用加減犀角地黃湯舌用金丹吹舌根及兩旁莫間斷喉用碧丹十金丹（五）頻頻吹之</p>
<p>喉菌屬憂鬱血熱氣滯而生婦人多患之狀如浮萍略高而厚紫色生於喉傍輕則半日二十日重者月餘要在治之得法患者守戒忌口</p>
<p>喉菌初用藥碧丹（五）　金丹（二）　後用金丹（三）　碧丹（三）　吹之更湏頻服膏子藥不可間斷</p>
<p>喉乃性命呼吸之門不可輕忽喉中起疳若不早治一二日間死生干係輕則緩重則急宜涼膈解毒</p>
<p>凡喉間作痛潰爛久而不愈此必楊梅瘡毒須以萆薢湯為主隨症加添別藥</p>
<p>過橋疳生咽喉之下肺管之上看之不見吹藥不到飲食妨礙此楊梅結毒於肺胃也</p>
<p>喉瘤生於喉間兩旁或單或雙形如無眼大血絲相果如瘤故名之此乃肺經受熱多語損氣或怒中高喊或讀書太急或多飲燒酒或多食炙爆須要斂神晏息以藥攻之則此症脫然矣不可用刀針點破</p>
<p>喉瘤生於喉間兩旁或單或雙亦有頂大蒂小者凡怒氣喊叫犯之則痛不犯不痛</p>
<p>喉節此喉生於鳩尾之中初起如梅核在喉膈之間吐不出咽不至三日漸上喉節之間名曰喉節其疾須用刺破後用膽硝丹吹入喉中再用雄黃化毒丹七粒服之</p>
<p>梅核氣乃痰氣結於喉中咽之不下吐之不出如茅草常刺作癢初則吐酸妨礙久則閉塞不通即此候也</p>
<p>痰氣結塊在喉中如梗狀者梅核氣宜噙化丸</p>
<p>金匱云婦人咽中有如炙臠半夏厚朴湯主之炙臠乾肉也咽中貼貼如有炙肉吐之不出吞之不下此病不因腸胃故不礙飲食二便不因表邪故無骨疼寒熱乃為積寒所傷不與血和血中之氣溢而浮於咽中得水濕之氣凝結難移男子亦間有之鎖喉瘡者乃心經毒氣小腸邪風發於聽會之端注於懸膺之側初生如癧瘰不能飲食閉塞難通漸次腫破化膿早治得生宜服當歸連翹之類用冰片散蜒蝤不拘多少加冰射搗搽</p>
<p>天白蟻瘡乃咽喉內生瘡鼻孔俱爛也此症方書不載多有不識常作喉風醫最為誤事此乃肺脾蘊毒而成宜用穿山甲散喉癬即肺花瘡之類</p>
<p>喉癬乃虛火上炎肺金太旺致攻牙關生如哥窯絞樣又如秋葉背後紅絲飲食陰礙咽痛雖不至殞命久則咽喉失音不救喉癬用碧丹吹不時服膏子藥再服煎劑加大貝母下氣守戒一陰虛咳嗽久之喉中痛者必有瘡名曰肺花瘡用坎離湯加元參桔梗甘草不可用冰片藥吹恐辛散瘡轉潰也</p>
<p>凡痰火勞咳嗽傷咽痛者無法可治</p>
<p>喉生肺花瘡即俗謂喉生魚鱗刺也難救</p>
<p>喉刺多因先患勞病重症既多虛火上升榮血已枯其喉上齶有紅點密蜜如蚊蛋咬者死勿治</p>
<p>人有生喉癬於咽門之內以致喉痛其症必先作癢面紅耳熱而不可忍後則嚥唾隨覺乾燥必再加嚥唾而後快久則成形作疼變為楊梅絲瘰或疼或癢而為癬矣夫癬必有蟲在咽喉之地此因腎水之耗以致腎火上衝而肺金又燥兼治殺蟲以治癬庶幾正固邪散蟲可盡掃也化癬神丹主之繼以潤喉湯</p>
<p><u>喉疳方</u>　百草霜（一錢）　兒茶（五分）　冰片（少許）　共研細末日吹四五次</p>
<p><u>喉疳口疳牙疳</u>　降香（一錢）　珍珠（三分）　琥珀（三分）　白芷（三分）　乳香（去油）　沒藥（去油）　五倍子　血竭（各五分）　冰片（一分）　射香（五分）　牛黃（一分）　竹葉上吊掛繭蠶連蟲收取陰乾研末日吹三四次</p>
<p><u>咽喉結毒成疳久不收口</u>　剪去頭尾蛇蛻（一條）　壁錢（七個）　冰片（三分）　將蛇殼瓦上煆存性研細末吹之壁錢要連蟢子炙用</p>
<p><u>喉爛秘方</u>　槐花（三錢）　兒茶　黃連　懷牛膝（各一錢）　上為細末夏月西瓜水調服冬月生梨汁服或丸如綠豆大每服三丸</p>
<p><u>喉爛奇效</u>　珍珠（一錢）　硃砂（三分）　冰片（一分）　研勻極細吹之奇效異常又可作服藥又可點眼亦可生肌長肉</p>
<p><u>清瘤碧玉散</u>　硼砂（三錢）　膽凡　冰片（各三分）　研細以筋蘸點之</p>
<p><u>梅核氣噙化丸</u>　膽凡　硼砂　明礬　牙皂　雄黃各等分上為末紅刺肉蒸爛為丸如芡實大空心含化一丸溫黃酒一杯過口內服蘇子降氣湯</p>
<p><u>驗方</u>　枚瑰花去淨蒂心浸火酒飲愈陳愈妙</p>
<p><u>噙化丸</u>　痰氣結核在咽喉中不能出入</p>
<p>栝蔞仁　杏仁　海石　桔梗　連翹（各一兩）　朴硝（四錢）　研末薑汁和蜜水如櫻桃大含咽之</p>
<p><u>半夏厚朴湯</u>　半夏　川樸　茯苓　紫蘇葉　生薑</p>
<p>專治婦人七情之氣鬱滯不散結成痰涎或如梅核在咽咯之不出咽之不下或中脘痞滿氣不舒暢或痰飲中滯嘔逆噁心並可取效蓋半夏降逆厚朴散結生薑茯苓宣至高之滯而下其濕蘇葉味辛氣香色紫性溫能入陰和血則氣與血和不復上浮也</p>
<p><u>蘇子降氣湯</u>　蘇子　半夏　前胡　川樸　當歸　橘紅　肉桂　加姜煎一方無桂有沉香沉香能升降諸氣溫而不燥</p>
<p><u>穿山甲散</u>　治天白蟻瘡</p>
<p>白霜梅（一個燒存性）　枯凡（一錢）　炙山甲　雄黃（各五分）　共研細末吹喉立效</p>
<p><u>化癬神丹</u>　喉癬</p>
<p>元參　麥冬（各一兩）　白蘇子　白薇　甘草　牛蒡　紫菀（各一錢）　百部（三錢）　白芥子（一錢）　水煎服二劑疼少止又四劑癬蟲盡死換潤喉湯</p>
<p><u>潤喉湯</u>　喉癬</p>
<p>熟地　麥冬（各一兩）　苡仁（五錢）　桑白皮　生地（各三錢）　山萸肉（四錢）　貝母　甘草（各一錢）　水煎服十劑癢痛悉除方中再加肉桂飢服為善後之計萬舉萬全也</p>
<p><u>秘方</u>　黃牛糞以瓦蓋屎周圍用炭火煆盡存性研末日吹五六次</p>
<p><u>含化丸</u>　牛黃　冰片（各一分）　硼砂　兒茶　雄黃（各八分）　山豆根（二錢）　膽凡（三分）　鹽梅（三個）　共研細末將陳白梅肉入藥和勻丸如龍眼大臨臥含口中咽津</p>
<p>有人生楊梅瘡愈後結毒於咽喉之間漸成喉癬如蝦蟆皮形破腐刺痛百藥弗效有人傳方用梅花點舌丹五六粒同牛黃二分研細吹入喉中三四次一日而愈</p>

<h2>喉風</h2>
<p>纏喉風者熱積於內腫繞於外且麻且癢腫而大也治療之法微者可以咸軟之大者可以辛散之或去風痰或解熱毒如腫甚藥不能下者以藥灌鼻中令吐之外以拔毒之藥敷之熱退腫消為吉</p>
<p>竇氏曰纏喉風屬痰熱咽喉裡外皆腫者是也外面無腫者必身發熱面赤此乃熱毒之氣極也外面有腫者身亦發熱邪火發出於外也或牙關不強外面不腫但喉中紅者曰暴感邪熱在心如左邊病退傳右邊此餘毒未盡故也咽喉有數症有積熱有風熱有客熱有病後餘毒未除變化雙乳蛾者且如病中喉間有腫紅色數月其光似鏡者此積熱也且如喉中有腫其色微白其形若臂者此風毒喉痹也此熱毒因而感風相搏而發故也或咽中有腫其色帶紫色者此乃客熱謂其人暴感熱毒之氣壅於咽間或有傳變木舌者皆心熱蘊積於胸中故口中痰臭須用　木通　元參　生地　黃芩　黃連　山梔等涼品為要吹以冰片散</p>
<p>纏喉風外症如蛇纏頸身發潮熱頭目大痛其症腫如紫糖色內症其腫紅絲白色腫塞不見嚥下急用雞羽蘸燈窩內濁油攪去痰涎三四碗方活如痰不能去不治</p>
<p>啞瘴風乃風痰犯於咽嗝之間因此口不能言牙關不開急用蟾酥磨水滴入鼻中即開隨用桐油滴入喉中仍將雞羽攪喉間風痰出盡再用甘草湯解桐油之氣如苦面紫舌青唇黑鼻流泠涕爪甲俱青目中多淚俱不治</p>
<p>弄舌喉風此症啞不能言舌出常將手拿急將兩手大脂內側爪甲縫即少商穴用針每指刺二三針有血可治或每指里側外側皆針之再用燈窩油或桐油攪吐痰涎服雄黃化毒丹五六丸清茶下</p>
<p>纏喉風因腎經有熱內枯不能上潤致令心火強盛故發此症如喉間雷響者不可治</p>
<p>嗆食喉風此症因熱毒在於心經咽喉燥而無痰若嗆食者不可治如久不治變為飛絲勞毒能傷人命</p>
<p>腳跟喉風此症腳跟發起至於喉間或一年發一次半年發一次切忌熱物不得傷於怒氣其病一日行一穴至七日行七穴雖然不妨只是要發用吹藥服敗毒藥如腫惡發泡者死</p>
<p>纏喉風因心中急躁而發先二日必胸膈氣緊出氣短促忽然咽喉腫痛手足厥冷頸項不能轉側熱結於內腫擾於外且麻且癢喉內紅絲纏繞手指甲白手心壯熱喉腫而大風痰壅盛聲如曳鋸是其候也最為急症初起一日夜目直視喉中如雷聲不治燈火近患人口吹滅者不治若喘急額汗危在旦夕也纏喉風用桐油探吐或吹藥吐痰後而腫不消或人事不知者急用針刺患處以去惡血即蘇</p>
<p>纏喉風用金丹碧丹等分頻頻吹之針法吐法內服煎劑下藥雄黃化毒丹（方見前）酌進勿遲遲則不救</p>
<p>一男子患纏喉風內外皆腫藥不能下余以疏風清熱藥時刻灌之外以陽起石燒研同伏龍肝等分和勻新汲水調掃百遍三日熱始退腫治消</p>
<p>鎖喉風萬年青搗汁和滴醋含漱</p>
<p>纏喉風麻油調白礬末和雞子白灌之探吐</p>
<p>燈窩油和漿灌之探吐</p>
<p>土牛膝根搗汁和醋灌之</p>
<p>土牛膝扁柏葉水浸搗取汁大半碗加牛乳一酒杯和勻吞數口二三次即松</p>
<p>白礬細末五分烏雞蛋一個調勻灌喉中立效</p>
<p>喉風生艾葉搗汁灌下如喉中壅開不能灌入鼻孔內灌入立刻開關</p>
<p>多年溺壺垢半盞蜜五匙灌下亦立開關</p>
<p>急喉風皂角捶碎擂水灌下取吐即不吐亦安</p>
<p>巴豆仁綿紙包塞鼻孔中立通</p>
<p>雄黃一塊水磨急灌得吐而安</p>
<p>朴硝一兩細細含咽</p>
<p><u>纏喉風</u>　桐油以雞羽掃入喉中探吐再用遠志細末水調敷項外</p>
<p>巴豆仁三粒明礬約二三兩以銀罐煆枯取黏巴豆之凡研細吹喉</p>
<p>番木鱉（一個）　冰片（二分）　研末吹入喉中</p>
<p>蛇床子燒煙燻喉中即流涎開關如神</p>
<p><u>金鑰匙</u>　纏喉風喉閉痰涎壅口噤不開湯水不下</p>
<p>焰硝（一兩五錢）　月石（五錢）　雄黃（二錢）　殭蠶（一錢）　冰片（二分五釐）　研細末吹喉中吐痰</p>
<p><u>百靈丸</u>　喉中結塊不通水食者</p>
<p><u>百草霜</u>　研細末煉蜜為丸約一錢水化灌下</p>
<p><u>吹喉散</u>　短頭髮（五錢）　雄黃（五分）　明礬（一錢）　蟢蛛窩（三十個連蟢蛛更好）　入罐內煆存性研末吹咽喉</p>
<p>奎光秘傳咽喉口齒合藥法</p>
<p>玉丹（此藥預先多制愈久愈好）</p>
<p>將明礬指頭大指塊者入罐內放炭上化開以筋試看罐底無塊時隨投火硝（如凡一兩下硝三錢為則）　月石（每凡一兩下月石三錢為則）　少頃又投明礬化盡又下月石如前法逐層投完待罐口鋪地如饅頭樣方用武火煉至乾枯用淨瓦蓋罐口一時取起將研細牛黃少許用水五六匙調和以匙挑滴丹上時罐仍入火內烘乾即取起連罐覆淨地上下以紙襯上用瓦蓋七日貯聽用</p>
<p><u>制黃柏法</u>　揀好黃柏切片用荊芥為君甘草佐之煎濃汁浸軟攤瓦上緩緩炙黃不可令焦灑白蜜湯驪乾研末聽用</p>
<p><u>制燈心法</u>　白色燈心先用水灑潮以小竹筒將燈心塞令堅緊竹筒兩頭用紙塞實入火緩緩燒過去竹筒塞紙開看如燒不過則生如燒太過則無有矣制須得法為妙</p>
<p><u>制豬牙皂法</u>　取堅小不蛀豬牙皂放瓦上火炙脆去兩頭研末聽用</p>
<p><u>制硝法</u>　入金丹者火硝以溫湯蘸過綿紙挹干包好放灶上洞內五六日收其濕氣入玉丹內不必如此</p>
<p><u>合碧丹法</u>　玉丹（三分）　百草霜（半匙）　燈心灰（一釐）　甘草末（三匙）　薄荷葉末（三分）　研極細末後入梅片（五釐）　多些亦可再研勻收貯勿泄氣此丹宜臨用旋合不可出三日不可過陰雨天春夏多加薄荷其色青秋冬多加玉丹其色白欲出痰加牙皂少許</p>
<p><u>合金丹法</u>　火硝（二錢）　生蒲黃（四分）　殭蠶末（一分）　豬牙皂末（一分）　冰片（一分）　和研成淡黃色此藥可以久留冰片俟臨用時加按金丹功主消痰消腫並治牙酸⿰舌䪞舌穿牙疔毒專用此丹一切咽喉等症則兼用碧丹看症輕重加減如症重者再加牛黃於本方內</p>
<p>如喉腫症及喉風加殭蠶牙皂輕者只用硝與蒲黃</p>
<p>蓋碧丹消痰清熱解毒驅風固為良方尚屬平緩不如金丹消腫毒除風熱開喉閉出痰涎最為神效但喉症初起金丹不宜多用因其透直入內且善走散初起若多用之恐輕症不勝藥力反扦格難入也</p>
<p>凡喉症及單雙蛾只用碧丹其他重症金碧兼之須分先後多寡初起碧丹九金丹一吹五管後碧丹八金丹二再吹碧丹七金丹三如症重者碧丹金丹各半用至三五次後痰涎必上湧然後金丹六碧丹四將管直入喉中重吹一次隨後收出管即吊出痰竟用金丹八碧丹二亦可</p>
<p><u>膏滋藥法</u>　薄荷（為君）　玉丹（為臣）　川貝（為佐）　燈心灰　百草霜　甘草　冰片（為使）　先將玉丹百草霜研如後入燈心灰再研再入薄荷甘草川貝研極細末方入冰片研蜜調服凡喉癰喉癬喉菌等症須時時噙咽之症重則兼藥及吹藥</p>
<p><u>漱藥方</u>　山豆根　夏枯草　松蘿茶　嫩菊花　蘇薄荷（各等分）　煎湯頻漱</p>
<p><u>附一捻金</u>　治小兒風痰吐沫氣喘咳嗽肚腹膨脹不思飲食切不可作喉風治喘爭者痰氣盛也</p>
<p>兒肺脹喘嗽多人看作喉風大黃檳榔二牽牛人參大黃分兩等勾五味研成細末蜜水調量稀稠每將一字下咽喉不用神針法炙</p>
<p>上其症肺脹喘滿胸高氣急兩脅搖動陷下作坑兩鼻竅脹悶鼻扇亂嗽咳聲嗄不鳴痰涎壅塞俗云馬脾風若不急治死於旦夕亦不可作緊喉風治如藥配不及用巴豆肉一粒搗爛作以棉花包紮男左女右塞鼻痰即墜下再服一捻金認為喉風則死慎之人皆不識故序於喉風門內</p>

<h2>庚寅治驗白喉風數症危險者附錄</h2>
<p>小紅十四歲隆慧徒孫也三月十二日咽痛昏睡遂請友人診視用消風敗毒藥亦平淡無奇一連三四日咽喉頸項內外皆腫喉中白腐高凸舌上苔黑如墨其刺如針唇口亦腫而破耳聾見鬼神氣昏迷胡言亂語渾身灼熱皮膚紅赤似乎有疹隱約無汗大小便不通又請友人來診驚駭無措推辭不治束手無策待斃而已隆慧忽然醒誤知為熱病隨用紫雪丹三四錢徐徐灌下大便下黑糞水半桶小便亦通神氣漸清嗌乾口渴時飲冷梨甘蔗汁刻不能離延至二十一日余從寶應回揚診視詳審外形細察脈情是疫氣傳染十日之內不死命也幸能納稀粥數匙胃氣尚存病雖危險尤可醫治人未知實火之為患隨用龍膽黃連木通之苦寒犀角石羔知母生地之甘寒將熱毒由上焦引至中下焦從大小腸膀胱而出均是苦寒甘寒之藥連服半月咽喉白腐脫落漸淨飲食大進忽然一項右小核日大外用敷藥貼之其塊愈敷愈大十日腫大如碗余曰此遺毒也洗去敷貼之藥日飲銀藤膏代茶其腫漸消頸項自能回顧兩月而痊余曰藥醫不死病信不誣也</p>
<p>魏右咽喉腫漫色白高凸疼痛不能嚥唾腹中飢餓異常口渴咽乾水亦難下已有五日余視之是時發白喉風症也雖病在垂危過七日不能救矣閱其所服之方荊防兼溫散之味致使渙散其毒毒邪深入於裡何異優容養奸殊不知疫厲之傳染其邪氣由鼻而入熱毒凝結臟腑非用峻劑以去火毒不能勝任先按各穴針刺咽喉痛減使其吃麵一碗服雄黃解毒丸四粒大便下利按服苦寒甘寒重劑是夜竟能安睡矣此火已成燎原之勢不能不用猛藥重劑如畏重劑而用輕劑仍是杯水車薪於病奚濟藥分二日服完白亦漸脫十日而痊</p>
<p>僧文峰頭疼發熱惡寒偏身骨節亦痛無汗頸項內外皆腫喉內兩旁色白而凸咽中乾燥舌苔灰色口渴唇裂頭面渾身至足紅赤如火日夜疼痛煩躁一刻不能安寧是疫厲傳染之症諸醫皆云不治余曰實火症也用風燥之藥誤矣先用針法次用吐法接服化毒丹下利黑水方用大劑苦寒甘寒是夜汗出如洗渾身疼痛自覺見松此大病用重劑膽怯則誤病矣連用五劑身常帶汗口渴亦解改用輕劑十日已能出外行走矣</p>
<p>方三少周歲小兒寒熱大作啼哭煩躁不克寧息喉內白腐高凸痰氣壅寒喉間氣喘苔黑唇焦口渴身上手心灼熱如火肌膚中隱約似乎有疹隆慧視之膽怯不敢用藥余曰疫厲傳染之症照古法治之先用吐法探吐痰涎碗許喘平繼用針法服解毒丸方以苦寒甘寒大劑火毒下行四五日內汗出而啼哭定始安經云火方是也雖周歲小兒有是病必須用是藥一疑而用則遲矣服藥五日汗出熱退白腐已脫改易輕劑撤盡餘毒半月而痊</p>
<p>方觀察頭疼發熱惡寒無汗咽喉白腐高凸疼痛皮膚中似乎隱約紅疹渾身骨節亦痛咽乾口渴時飲舌苔灰色煩躁坐臥不安是時發白喉風症隨用針法吐法服解毒丸四粒大便下行方用苦寒甘寒重劑連服五貼汗出遍身鬆動白退十日而痊</p>
<p>金桂圓周二之女於十月初三日夜晚來厲診視咽喉拖下腫大而白上中兩關腫滿白腐高凸頭疼惡寒發熱無汗咽燥口渴唇裂痰涎上湧口中漫出疼痛異常開口氣鼻難聞是感天時疫厲之氣所發白喉風症也來勢凶險乃毒氣初作於內尚未服藥而氣未開寒毒未渙散先用針法吐法次服化毒丹至天明汗出熱退身涼惟手心獨熱囑其再吐一次吃麵一碗余思疫厲之毒實火症也臟腑積熱已久若用平淡之劑豈非優容養奸勢大難制故不得不用重峻之劑將臟腑凝積之熱毒由上焦引至中下從大小腸膀胱而出現已十日守方未動喉嚨上中兩關白腐漸脫咽喉白腐脫下如殼一樣並未損壞帝丁口中氣味亦無將方易換輕劑銷盡餘毒以免愈後別生枝節藥用當而通神信不誣也前人之方無不對症用之不當每不應手抑或醫者用而病家亂不敢服亦屬誤事念病家深信不疑實萬幸也</p>
<p>錦和魚行張大之女來厲視余咽喉腫滿白腐高凸寒熱交作無汗嗌乾口渴似春間白喉風同餘曰非針法不救病者畏針余隨用吐法及化毒丹至二十一日喉中滿白疼楚非常口內氣臭腹飢咽不能下痰涎上湧不能吐出氣漸上逆形勢欲閉余曰非針不生命備面一大碗余按古制以針各穴針後覺喉間鬆動移時竟將面吃下余又令服化毒丹四粒隨立方以苦甘寒之品用之第思白喉風實乃火疫之症臟腑積熱已久如用平淡瀉火之藥徒投無益非以峻劑不可將內腑凝結熱毒由上焦引至大小腸膀胱而出未滿半月喉中白腐漸脫口中臭味亦無渾身有汗飲食暢進余將方更易輕劑飲之毒微盡尚未屏除余令再服數貼以杜後患余憶咽喉系納穀之區豈能阻滯生死攸關之所朝不待夕若非余矢志苦心立方未易對症略書數則為證庶不以余之徒負虛沽名耳</p>

<h2>藥方歌括</h2>
<p>針法諸般急症利舌根兩邊青筋刺再向少商穴上施放出惡血真奇秘</p>
<p>雄黃解毒雄飛淨鬱金曬研巴豆並米醋煎濃和作丸溫湯送下攻急症</p>
<p>龍虎二仙膽草犀芩連膏地母蠶梔木通元勃藍根蒡引用大青粳米宜</p>
<p>除瘟化毒葛芩佳蠶地蟬梔通貝加山豆粉甘桑葉入白喉初起用無差</p>
<p>又有神功辟邪散蠶蟬葛地貝冬芩連翹通勃銀花蒡能使白喉重者輕</p>
<p>神仙活命膽黃芩蟬地蠶膏土茯苓通貝車前銀馬勃只須數劑著奇能</p>
<p>回生萬應丹冰竭牛黃乳石珍珠列連柏兒茶黛芷硼鬱金粉草薄荷末</p>
<p>急症開關散有功醋磨木鱉汁須濃牙齦舌底天花板次第塗之立即通</p>
<p>血竭冰硼散最神兒茶元麝與雄精殭蠶甘草元明粉吹入喉中保太平</p>
<p>救急異功散法靈斑蝥竭蠍麝香冰乳香沒藥元參共貼向頸間有泡生</p>
<p>瓜霜散取人中白珠砂明雄冰片列共研細末頻頻吹調治喉症是真訣</p>
<p>石青消毒膽礬加山豆冰硼大劈砂膏黛元明與中白頻吹喉內自然佳</p>
<p>退腐蚰蜒闢毒散鹽梅陳者兩相宜搗融蘸水頻塗患消腫還能退白皮</p>
<p>蜘蛛救苦最為良炒焙蜘蛛冰片襄呼吸不通難下藥頻危獲此保無傷</p>
<p>乳蛾紅腫膽礬散中白還同指甲和研細頻頻吹患處能開堵塞見功多</p>
<p>硇砂散法破蛾稱礬石青鹽二物明蛾子單雙及喉閉此方功效立能憑</p>
<p>蒜泥拔毒散尤良取穴經渠細審詳水泡起時針剔破拔除惡毒自安康</p>
<p>清心滌肺地蠶芩天麥二冬貝母尋花粉柏甘並知母酌加玉竹與條參</p>
<p>養正湯推玉竹先芍苓二地首烏聯女貞山藥天花麥腐退之初用此煎</p>
<p>銀花四君子交濟參朮苓烏甘草繼引用冬桑葉最良脾胃素虛養榮衛</p>

<h2>附沈青芝先生驗方一則</h2>
<p>張渭漁兄痢疾後多日不便腹中疼痛痙厥交至服沈青芝先生方得燥屎甚多其病遂愈</p>
<p>其方白蘿蔔（三斤）　取汁去渣六安茶（五錢）　泡濃汁去渣再入白蜜（五錢）　生薑淨汁（五錢）　陸續涼服</p>
