<header data-type="book">
<h1>過庭錄存</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曹存心</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1859">公元1859年</data></dd></div>
</dl>
</header>

<h1>安徽程</h1>
<p>先生之病素稟濕熱又挾陰虛之病也濕者何地之氣也熱者何天之氣也天地鬱蒸濕熱生焉天地交泰絪蘊生焉生生不息之機妙合於其間稟而受者濕熱元氣混合一家出自先天牢不可破較之外感內傷之濕熱屬在後天者一掃而盡豈可同日而語哉設使薄滋味遠房幃不過生瘡動血幼年所患等症而已惟從事膏粱更多嗜欲外增濕熱內耗陰精則臟腑營衛常有春夏之情而無秋冬之氣無怪乎其亥年之風火相煽茸苦於鳴豈非陽氣萬物盛上而躍之一驗乎當斯時也靜以養之則臍冷齒痛以下見症之外猶可相安於無事何乃火上添油喜功生事陡然頭昏面赤一派炎炎之勢甚至火極似水陽不成其為陽勢不成其為勢肝經之火督脈之陽亦從而犯上失其本來面目矣近聞引火歸元以為甘溫能除大熱嗟乎未聞道也甘溫能除大熱者良以下極陰寒真陽上越引其火歸其源則坎離交媾太極自安若天陰虛濕熱蒸動而上者投以清滋尚難對待斷不可以火濟火犯一誤不可再誤之戒然清已有法滋亦頻投飲食能增身體能胖外有餘矣而色色不能久立久坐即病機中萬物陰陽不定未有主也之條際此外盛中空下虛上實用藥實難當見東垣之清燥湯丹溪之虎潛丸潤燥合宜剛柔協濟張氏每贊此兩方始克有賴何樂而不即用之耶無如藥力之所以載行者胃氣也胃屬陽明陽明中土萬物所歸濕熱竊踞亦久已薰蒸傳為吐血嗽痰鼻塞噫氣二便失調正竅不和都屬胃病欲安內臟必先清其外腑又為一要著至於秋末冬初病甚者十月坤卦純陰天已靜矣而濕熱反為之動腎欲藏矣而濕熱為之露致邪失正能不令病之更進一層乎附方謹覆</p>
<p>青監`四兩``　甘草`八錢``　荸薺`一斤``　海蜇`二斤``　萆薢`一兩``　飴糖`八兩``　橘葉`五錢``　霞天曲`一兩五錢``　十大功勞葉`一斤``　刺蝟皮`一兩五錢``</p>
<p>右藥為末竹瀝和水泛丸每服三錢清晨開水送下服完後合虎潛丸全料同合常服</p>

<h1>杭州汪</h1>
<p>承示病源陽分比陰分更虧顯有明徵陰虧而用十全養陰等法責重乎陰寓以陽藥本屬和平之劑良以秋分在即燥氣加臨不敢責重乎陽以燥就燥反增燥病焉耳然於膏方下云後日可加附桂斟酌用之一語早已言之非不見到也蓋天地之氣半月一更人身之氣亦半月一更八月而至九月氣已兩更病勢不除飲食反減明明陰得膏滋而無病陽得膏滋而更衰一月之間陰陽偏勝一膏之內功過相抵可嘆補偏救弊因時制宜應接不暇也所云廿七廿九兩日霜降始寒寒氣外侵痰飲內動動見青黃綠水尚屬陽明胃府至於黑色已自胃底而來腎虛水泛脾虛積飲已見一斑然神氣困頓面色青浮脈見雙弦以昭陽氣不充痰飲內聚宜矣而反忽燃牙齒浮疼加以口苦酸泔呃忒於胃沖逆於脅變出一番火氣者肝火也肝氣也氣火之橫逆不外腎虛無以涵木木旺順乘脾土此等氣不足即是寒之根底反見氣有餘便是火之情狀所謂本寒標熱是也夫惟本寒標熱豈非陽氣之虛一較之陰氣更進一層耶此時論治離照當空始可陰霾四散宗風虛則熾痰寒則壅之訓而出一星附散法以肋脾陽俾虛風寒痰不相互結非獨分解病情而且土旺用事更合機宜如一立冬又不可以純陽無陰之品施於久病陰血本虧之體冬月宜藏之令即以此方分兩三分之一日進一服參入前定膏方中只須五錢清晨傍晚再服水泛金匱腎氣丸一錢五分淡鹽湯送下以占冬至陽生勿藥而喜至於黑錫丹控涎丹本來各式因病處方隨機應變相時而動可也須俟尊處高明權之</p>

<h1>西匯胡</h1>
<p>天之熱氣下地之濕氣上人在氣交之中無隙可避虛而受者即名曰暑暑之為言有濕有熱不言而喻夫暑先入心暑必傷氣氣分之濕不為之先除則所留之熱必不能外出所以暑濕熱三氣交蒸之先務須消去其濕正合古入消暑在俏其濕之旨也然濕邪一去熱氣即從外達又名暑熱不名暑濕一氣而有兩名前後之用藥亦異蓋以熱則傷陰氣亦更弱無怪乎鼻衄舊恙上從清道而出身體困倦飲食漸減脈轉弦數陽分更熱口內知干種種見其虛中有實之象焉但暑邪一症河間每論三焦現在頭額蒙邪熱偏於中上惟衄去過多虛在下焦陰液如此細診斷在少陰不足陽明有餘有何疑惑哉擬景岳玉女煎法俾得中下焦熱氣上薰於肺者悉從暗化而下焦之陰氣亦不再傷仍不出乎劉氏三焦治例未識當否</p>
<p>細生地煨石羔淮牛膝麥冬知母</p>

<h1>藩署蕭</h1>
<p>人生四千陰氣自半從古至今未嘗不若是也惟尊軀之所獨異者正在濕痰素多陽事早痿耳嘗閱醫書夜臥臂在被外者每易招寒而痛露臂枕兒者亦易受寒而痛此間之痛雖非二者可比而其起痛之因本於臥在竹榻竹榻之性寒涼者也日日臥之則寒涼之氣未有不襲筋絡骨較之前二條之偶傷筋絡者更進一層矣所以陽氣不宣屈伸不利痛無虛日喜熱惡寒仰景雲一臂不舉此為痹載在中風門中雖非真中而卻類中之機豈容忽視現在治法首重補陽兼養陰血寓之以驅寒加之以化痰再取經絡通之則一方制度自不失君臣佐使焉</p>
<p>制川附黨參片薑黃炙草大熟地當歸白芍橘紅風化硝桂枝西羌活沉香海桐皮只殼野於朮茯苓綿黃耆阿膠製半夏虎掌</p>
<p>右為末取竹瀝一茶碗薑汁一調羹入淡蜜水泛丸</p>

<h1>松江朱逢辰次診</h1>
<p>左升太過右降不及何絆之病日左屬肝右屬肺肺肝同病自然升降失常然肺為五藏華蓋肝脈布於兩脅此左升僅屬於肝右降反屬於肺何也蓋肝體在旁肺體在上只就位置而言若論其作用內經又曰肝居人左肺居人右右之不降肺正失其清肅之用也左之過升肝反多所橫逆之用也橫逆之邪加於清肅之所木寡於畏反侮於金無怪乎身半以左之氣旋之於右既不能透徹於上亦不能歸宿於下有如邪正相爭盤旋脅部直至得下後與氣則快然如衰者木究不能上克於金而仍下泄於上也夫土曰稼穡作甘者也木曰曲直作酸者也口甘帶酸痰唾亦然何莫非土受木乘之過木亦太剛矣哉誰能柔之惟有左金一方以為剋木之制則木正其體金得其用何患升降之不得當耶</p>
<p>左金丸</p>

<h1>復朱逢辰書</h1>
<p>接讀手書荷蒙錦念謝謝所諭氣火益熾等證即古語云氣有餘便是火氣從左邊起者左肝火也左金丸主之當歸龍薈丸亦主之今既左金一丸如水投石自宜以當歸龍薈丸繼之於後未嘗不可為法惟我先生有為癰為血不可不預防一語云出自高明定有灼見弟始而駭然繼且茫然幾不知筆從何處著矣我先生如飢如渴以望一方惟速為貴而弟又刻無暇晷夜以繼日有者求之無者求之必得一左之右之憮不宜之之要法然後可以復書非敢緩也蓋有待也端午日下問者少徒輩聚在一堂講論百病皆生於氣遂有九氣不同之說氣本一也因所觸而為九夫怒與思為九氣中之二焉思則氣結內經自為註腳云思則心有所存神有所歸正氣留而不行故氣結先生有之至於怒則氣上甚則嘔血怒則氣逆筋緩發於外為癰疽古人亦載於氣門以昭邪郁必變久病入絡非無意也先生亦有焉弟即從此領悟曰怒有形於外者亦有不形於外者暴怒傳陰不形於外者鬱怒傷肝惟其鬱也木即不能鬯茂條達反來橫逆則氣鬱於中者勢必火炎於上金受火刑有升無降痰血熱辣一病於肺痞滿鬱塞再病於脾脾肺同病則胃家之痰食無力以消膽經之木火從而和之將來血溢於上癰腫於經絡增出一番新病誠不能不未雨而綢繆也然為癰為血之枝葉仍不外乎氣鬱為火之根底治病必求其本因思氣從左邊起者條內有久患氣結諸藥不效者先服沉香化氣丸以開其結之文不獨將來之變病可以預防即現在之氣火升騰亦為臺劑而況右脈弦強即土鬱奪之之法耶惟沉香化氣丸重劑也權宜用之而已元虛久病之體於病不能不用而亦不可多用清晨宜服八分晚服逍遙六君輩調之補之以為實必顧虛之計未知是否請正</p>
<p>朝服沉香化氣丸晚服逍遙散合六君子湯（去半夏人參加北沙參川貝）</p>

<h1>嘉善吳</h1>
<p>大小便易位而出名曰交腸陡然氣亂於中原屬暴病不料遲之又久腸間穢物歸併膀胱悉從小便而出較之交腸症似是而實非矣良由瘀血內阻大陽廢而不用幽門闢為坦徑闌門不司泌別舍故趨新舍寬趨隘日痹一日漫無愈期竊恐元氣不支而敗此時論治必須故道復通瘀血漸消庶乎近理旋覆花新絳青蔥管歸鬚柏子仁首烏薺菜花另用舊烏紗帽一頂炙灰每服錢半溫酒下</p>

<h1>常熟李</h1>
<p>驚悸起因傳為顫振繼以寤寐不寧左脈細軟右關弦數數則為火弦則為痰細軟又主乎虛虛在肝腎眾以痰火結於脾胃所以能食少運肢體軟弱口燥身麻也連日本既屬安適無容更張惟痰火內勝不得不以十味溫膽法加減佐之以為標本兼顧之計俾得虛不再虛實者不實未知是否</p>
<p>人參大熟地天冬大生地茯神柏子仁棗仁石決明橘紅當歸身川貝鮮竹茹龍齒</p>
<p>次診</p>
<p>顫振一症乃陰氣爭勝顫則陽氣不復其勢之來上衝則鼓領四散則肢動至於肉瞤筋惕不過來勢之輕者平補鎮心而已惟肝不藏魂寤寐失常膽又內怯驚悸時作加以痰火串入其間法須兼備冀免厥塞</p>
<p>人參龍齒歸身遠志茯神麥冬橘紅生地棗仁川連三分拌炒膽星秫米半夏竹瀝拌石決明竹茹鉤藤</p>
<p>三診</p>
<p>顫振不發於冬至已責陽氣不復此在冬至以前發者尤為陽氣不復不言而喻至於陰氣爭勝似未可解而不知陰氣之所以爭勝者皆為陽氣不充未經來復之敵若能來復則陰氣何能爭勝然陰之爭勝固已而其所爭所勝之陰究系何物邪氣曰肝屬陰痰亦屬陰痰屬於脾脾經所生之痰內因肝經之陰火下動動則生風痰亦隨之而逆此顫振之所由來也豈獨諸風掉眩皆屬於肝而已哉惟本有驚悸此因顫振而更劇無怪乎其寤多寐少也</p>
<p>人參冬朮茯神炙草半夏陳皮大生地麥冬歸身白芍酸棗仁遠志秫米竹茹石決明鉤藤先服磁朱丸二錢陳皮湯下</p>

<h1>崑山陳</h1>
<p>胃脘當心而痛繼以形寒發熱如瘧而作甚至呃忒頻頻此係溫邪外感穢濁內踞加以濕痰食滯交結中宮也設使中宮之陽氣內旺所受之邪容易化達茲乃元氣本虛諸邪又傷於後無力消除病延多日所以脈象空弦神情困倦非補不可時也但舌苔白膩干欲熱飲下體先痹今更作麻噦逆噁心邪戀肺胃而腎氣亦袞用藥極難兼顧然溫養中宮佐以上下分治之品俾得一舉而三善備為以冀即日見長為幸否則氣息易喘恐增額汗伊可畏也</p>
<p>人參於朮制川附炙草半夏川樸旋覆花木風麥冬茅根淡乾薑丁香枇杷葉藿香代赭石</p>
<p>進前劑麻痹得和四肢亦緩且得吐出陳腐酸苦其色若塵此皆得溫而通也然呃忒頻頻氣息短促呻吟不絕噦逆嘔惡之象扔不能除神情困倦左脈空細右脈弦急大便溏黑喜飲熱湯濕痰邪滯之外又有瘀血在裡邪從上出不自下行已為逆症而況嘔吐之時會經額汗能不慮其虛液暗起而脫乎噦逆嘔吐無不由於氣之所載氣若不平諸症何從化解將前方加減先使氣平為要</p>
<p>旋覆花代赭石半夏半膝西洋參刀豆子杏仁檳榔角沉香臺烏藥大補陰丸</p>
<p>呃忒曰輕嘔惡日重此即陳腐之邪內阻氣機為呃忒者多從嘔出所以一則見輕一則見重也然病根欲拔而其所出之路逆而不順上而不下頗失胃氣下行為順之理卻為累事昨夜額雖無汗今朝脈尚弦急呻吟未絕所留陳腐之邪尚在中宮犯肺為咳犯胃為嘔直從中道而出猶帶呃忒必須去盡宿邪庶幾有望</p>
<p>風化硝茯苓製半夏枳殼刀豆子蘇子白芥子茆根枇杷葉厚朴西洋參竹茹</p>
<p>盪滌宿邪之下嘔惡大減呃忒更緩脈象稍和呻吟漸除大便疊通夫乃胃有下行為順之兆乎去疾莫如盡尚須磨蕩下行繼之於後可卜其旋元吉</p>
<p>雲茯苓枳殼風化硝半夏白芥子蘇子大腹皮苡仁枇杷葉厚朴刀豆子茆根鮮竹茹穀芽</p>

<h1>虞德泰窒人新城西柵五十歲</h1>
<p>肝者將軍之官女子以此為先天與男子不同大病後先天未經復元肝血內虧不能涵養肝木肝性剛強入營則吐血入胃則脘痛上升則頭量肝經之病可云甚矣設使脾土內旺尚可生金金來制木不足慮也無如此際健運失常濕從下走五更溏泄甚至濕鬱於中腹中雷鳴濕又鬱而為熱其氣上行耳內嘈嘈出膿出汁今更失其聰矣脾經之弱自顧不暇豈有生金制木之功哉然肝為剛臟順乘中土木屬易事橫逆肺經亦不為難侮金之木偏遇肺失清肅木寡於畏咳嗽數月時見鼻衄左脈過弦右寸上溢於魚際甚至少腹有形之氣從下而上或攻於左脅或逆於右脅或塞於中或作嘔惡竟有驟變為厥緩變為臘之形豈容渺視然肝屬乎陰陰中有木火存為不左其金無以為治但面色萎黃肢體無力飲食不多喜飲熱湯中下之陽氣式微不得不兼顧治之也至於得後與氣則快然如衰者不外是病亦不外是治耳</p>
<p>九香蟲冬朮車前子白芍麥冬肉桑皮友牡蠣陳皮紫苑茸骨皮厚杜仲歸身左金丸</p>

<h1>平望陸信夫</h1>
<p>先痛而後瘇者形傷氣也究其氣之所以形傷者熱勝則腫火甚則痛耳此等見症不足以泄其邪又挾身中之白積下走腸間似屬尋路而出矣然脾氣不升反從下陷四肢浮陰囊瘇小水不利滿症作焉實則瀉之未始不美而不知所存之濕歸入腹中以昭諸腹脹大皆屬於熱幸得五苓以分其勢然猶未也午後發熱鼻準色赤雖曰脾經伏熱而咽之時痛喉之乾燥舌之光紅苔之剝落又有熱傷陰氣之象泄熱之中兼以存陰尚為可治今乃望得形枯色滯聞得氣短言微問得不納便溏脈之切得者右關弦數而大至數模糊左部寸短關尺細弦按之俱屬無情無一而非陰枯陽竭土受木乘勢欲悠悠忽忽而悅偏補陰陽皆有所礙惟以培補元氣一法以冀一息之氣既可助陽亦可生陰耳</p>
<p>人參麥冬五味子鮮藿斛藕節丹皮伏龍肝陳香櫞茯神牡蠣奎白芍</p>
<p>覆診</p>
<p>瘇痮一症大忌氣喘溏泄上下交徵以使氣血陰陽立盡而脫深可虞也進前方溏泄已止氣喘已平腎本肺標自有相生之兆病屬轉機是以色之滯者能開形之枯者得潤本質之撥固然因補而挽回而枝葉之害亦因清而見化化則口舌之乾嚥喉之燥咳嗽之作無一不因而愈所愈者過半矣可稱佳事無如大腹之滿雖減不已未食之前不知釩餓既食以後反多飽痮蓋以陽明中土萬物所歸而陽明胃府更有食積痰滯交結於中無怪乎短脈雖長弦數未罷且兼滑大午後微熱鼻色微紅陽縮雖伸囊瘇雖消四肢之浮腫不能消尚屬病根未拔之候虛則補之熱則清之積之一字惟有磨蕩而已方而三法備焉未知其能弋獲否</p>
<p>人參五味子白芍鮮藿斛麥冬左牡蠣藕汁陳香櫞丹皮伏龍肝茯神雞內金澤瀉陳海蜇荸薺二劑後去藕汁四劑後去鮮斛</p>
<p>另方</p>
<p>陳香櫞人中白等分為末每服錢半取人參二分砂仁一分煎湯送下</p>

<h1>溫中軍</h1>
<p>頭為空谷氣本內清耳為聽官聲由外納茲乃反是望得舌苔黃濁聞得氣息喘促問得心神恍惚脅部痮逆診得左脈細長右關弦數弦則為濕數則為熱細為陰分之細長為壽命之長長命者元陽必旺陰分自虛偏以濕蒸熱鬱竊踞陽明陽明之脈盛於頭面頭面諸經暗被濕熱上薰何怪乎昏昏不爽於頭裡嘈嘈反起於耳中心神之所及肝脅之部肺氣之息凡在中上兩焦者莫不深受其累焉補陰以配其陽化濕兼清其熱在所必需</p>
<p>大熱地`八兩``　竹茹`二兩``　江枳殼`一兩``　黨參`二兩``　當歸身`二兩``　炙草`一兩``　製半夏`二兩``　茯苓`二兩``　酸棗仁`二兩``　陳皮`一兩``　明天麻`一兩``　甘菊`一兩``　石決明`三兩``　於朮`一兩``　白芥子`七錢``　丹參`二兩``　女貞子`二兩``</p>
<p>右為細末取白蜜十四兩煉熟糊丸如桐子大每服五錢清晨淡鹽湯送下</p>
<p>又</p>
<p>古語去癢為美疾夫疾以美名似非近理而不知一癢之下濕熱交蒸者無不發之於外都從黃水而出則軀殼之內從此清且和矣不亦快哉然際此黃水成瘡之候搔養難當可無具以應之乎附方</p>
<p>煨石羔`十兩``　掃盆`四錢``　青黛`一兩``共為細末摻之如水少者用煎熟菜油塗</p>
<p>又</p>
<p>驚著必恐煩亦歸勞勞則氣陷恐則氣下氣之正者既從下陷則胃家水穀之氣亦未有不隨之而下陷此作瀉之所由來也扶助正氣以使有升無降舍大補脾腎而何</p>
<p>大熟地`四兩``　肉桂`五錢``　淮山藥`二兩``　茯苓`一兩五錢``　山萸肉`一兩``　丹皮`一兩五錢``　制川附`五錢``　黃蓍`二兩``　西黨參`三兩``　升麻`三錢``　炙甘草`五錢``　於朮`一兩``　當歸尾`一兩``　陳皮`一兩``　建澤瀉`一兩五錢``　柴胡`三錢``　右藥和入清水煮成膏滋收得極厚聽取用補骨脂二兩吳萸一兩五味子一兩肉莫二兩為末即取前膏糊丸如桐子大每服四錢清晨淡鹽湯送下</p>

<h1>覆元和何明府改定丸方</h1>
<p>從前所用十四味方不外和心脾腎三陰藥也三陰之中責重乎陰稍佐以陽制方之意悉因陽常有餘陰常不足起見是以熟地武板滋納腎於下於術黨參健運脾於中茯神棗仁運志柏仁培養心於內尚恐三陰不能和協而用歸身以統血陳皮以調氣更取豬之髓人之乳皆屬有情者急補真陰又得枸杞兔絲之二子陰中求陽陽生陰長共填不足之陰而陽之有餘者亦不至有所偏害近來飲食不多體膚未免受餓理治不少筋骨未免受勞將充膚澤皮以溫分肉之黃耆養筋骨以添精髓之首烏合而用之未始非一要著至於勞倦傷脾脾虛不能為胃行其津液容易生痰生飲可以二陳為使然則今之立法意在貴陽而賤陰矣呈電</p>
<p>肝者將軍之官謀慮出焉膽者中正之官決斷出焉二者失其所出之常鬱結不解以致右脅下痛蓋肝脈布脅膽附於肝一臟一腑表裡同病耳然所病之痛又因下積而除顯系肝膽兩經雖因本病而實濕熱久傷附和其間所致後來濕補燥烈既傷營血又滯濁痰氣分日窒右降不及無怪乎右脅之下窒礙不通舌上生苔大便燥結吐痰反少面黃帶滯脈象弦澀增出一番清濁渾淆見症也遽述下積之後精神稍爽似欲以通為補之象未知是否</p>
<p>旋覆花青蔥霞天曲新絳柏子仁飴糖當歸鬚萆薢刺蝟皮橘紅先服醫通沉香化氣丸五分另水紅花子一合炒熱絹包熨</p>
<p>又</p>
<p>脈之澀象稍和絃則未改積下之後脅部稍能活動想是痰血兩邪尚有盤踞之意而未解散也</p>
<p>旋覆花湯飴糟霞天曲歸鬚刺蝟皮橘紅雞內金萆薢瓦楞子</p>
<p>丸方</p>
<p>六君子湯乾薑陳粳米取巴豆粒拌炒仍去巴豆一合淘黃連九肋必甲川樸雞內金當歸水紅花子飴糟瓦楞子牡蠣竹瀝達痰丸別研細白芍薺菜花神麯漿糊丸　　總接本書雖有與前集曹仁伯醫案中雷同者數則然於藥方或稍有出入相見當時門弟子各有鈔錄或是或非特兩存之</p>
