<header data-type="book">
<h1>先哲醫話</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>淺田宗伯</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>*《三三醫書·先哲醫話》。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>慄園淺田君以廓清吾道為己任，其撰著布世。頃又聚亨元以降哲匠之論醫者，刪定其文，名曰《先哲醫話》。余受而讀之，艮山先生以下凡十三家，其超邁之識，獨得之見，發前賢所未發，而於診候施設之法，的實明確。寓妙用於片言，寄活變於只句，可謂醫林圭臬也。今夫稗說野乘所載古昔英雄之戰略，有神算可駭者，有勇敢可畏者，有運用轉化不可測者，然以冗雜無統，人或漫然不省記。一入良史筆，則耳目一新，永為百世模範矣。斯編原以國字書之，多出門人手，故俚言俗語間失淺易，讀者慊焉。今經君刪潤，而文理爍然，神機活動，如讀史臣所記良將戰策，使人躍然興起，君不特醫林韓白，殆亦方家馬班也。嗟夫!庸陋無識輩，炫奇鬥異，辯給欺俗，苟以自售，此吾道之所以日萎𦮕不振也。則凡言之裨益治術，發揮真理者，雖出今人，亦宜記以廣其傳也。況先哲之遺範，垂法百世者耶。昔人有觀楚漢戰處，而嘆時無英雄者，蓋假劉項慨當時耳。使斯編所載諸豪俊出，今日則必將有雄論快辯，起吾道之衰者焉。是蓋君撰述之意，余亦有感於此也久矣。及其命序，乃不辭而書。</p>
<p><u>慶應二年丙寅三月笠間侍醫棚谷善撰</u></p>

<h1>張序</h1>
<p>予既序《皇國名醫傳》一書，而知扶桑國里亦有杏林。若木華中豈無橘井，宜乎視祖州為仙島，而化海嶠作神山也。然只詳其姓氏里居，師徒授受，與夫活國活人之事，而於孫思邈龍宮秘訣，未勒成篇，抱朴子金匱神方，未纂入冊，徒令後之人流連往昔，景仰遺徽，有華陀不在之嘆焉。今年夏季，幕中西席施君邦孚，因不習水土，兼失調攝。陡患臌脹，勢已增劇，遂延淺田君來視。察脈投劑，不三四服，而澤腹之堅，頓如桶底之脫，病遂霍然。始知扁鵲來齊，治腠理之甚易，太倉在漢，解顱腦而何難，真三折肱而九折臂矣。日者復攜《先哲醫話》一書來求序於予，翻閱數過，見某氏治某病，察某候，用某藥，議論精卓，剖晰詳明，醫固井井而有條，事亦鑿鑿之可據。乃知太上玉經之說，猶傳諸王君，隱仙靈寶之方，堪師夫祿里，則是書之成，洵後學之津梁，醫家之圭臬也。因志數言於簡端云。</p>
<p><u>大清光緒四年戌寅仲冬欽差大臣四明張斯桂撰並書</u></p>

<h1>卷上</h1>
<p>余少年讀先哲理療書，竊謂不粗鹵則過密，與己所見不合，故不終卷而已。因取仲師之經，一意攻之，略窺述作之旨，又質之於治術。數十年，而後閱諸家之書，始知先哲獨至之本領，悔當日不虛心凝思。從此尋繹，則至古人之域亦不難也。惜乎日暮路遠，不復能與之相上下，以成一家。然亦不能自止，姑錄其一二，以為後生解悟之資云。</p>

<h2>後藤艮山</h2>
<p>近世古方之學，以名古屋玄醫並河天民為翹楚，而未免金元陋習。至艮山先生，豪然崛起，一洗從前弊風。其識見理療，必當有迥異乎先輩者，世以為好奇非矣。蓋吾醫術至一溪道三氏之門，流碎殘極矣。是以享元醫人復轉而泝古，此亦自然之勢也。（拙軒曰：一部傷風約言，翁之本領在此，可謂善讀《傷寒論》者。後來豪傑輩出，皆聞翁之風而興起者，斯為吾道中興。先生起筆，茲非偶然也。）</p>
<p>穀肉果菜者，正性也。草木蟲石者，偏性也。故古昔養精以正性者，治病以偏性者。後人不知此義，擬以藥品補精氣，蓋亦誤矣。（《素問》云：五穀為養，五果為助，五菜為充，毒藥攻邪，此即醫家大綱領。先生早標揭焉，而為他日東洞諸輩立論之藍本。）</p>
<p>亂世人其氣剽悍，肝膽氣鬱少。治世人其氣遊惰，肝膽氣鬱多。故宜以熊膽開其鬱，令肝膽氣達。（永富鳳曰：余徵之於都邑市朝之人，比比皆然。蓋太平日久，五民蕃息，金錢虛耗，奢佚日盛，則知巧之民不免病氣勢也。醫人施治之日從這處下工夫，則有大裨益矣。）</p>
<p>其人有癥癖而飲食減少者，譬之於人家猶廊頹廂敝，而堂室漸狹小也。故不去癥癖，則胃不能振。醫不知此理，欲與毒藥補胃氣，且菲飲食，益損精液者，不亦謬乎。凡療此症，先驅癥癖，以滋味養胃氣為主也。癰疽餌食雞肉或雞卵，能托出其毒。優於參耆，故治瘡以餌食為專一也。（徐靈胎曰：服藥原為治病而設，並非藉以生長氣血也。殆是同一見。）</p>
<p>外感以湯液為主，內傷以餌食為主，錯之則不得其治也。</p>
<p>赤蛙不止治小兒癇，亦治大人癆，蓋癇癆皆屬癥癖也。此品能治癖氣，妨害脾胃為下利者，兼制蛔蟲。（楊氏直指曾氏口議並云：十五以下為疳，十五以上為瘵，頗與此說合。而二氏徒用固陽滋陰之劑，更無發明。艮山特用唅血蕩氣之藥，以除腹裡之癥癖，其術高一等。）</p>
<p>癇利者，餌鰻鱺以炙乾為可。</p>
<p>按腹自心下至臍，任脈突起者，病聚脈下故也。病不聚者，脈不必突起。老人肉脫髮此證者，為近死期。</p>
<p>按腹心下任脈左右充滿有力者為實，若濡弱不充滿者屬虛也。</p>
<p>虛憊症，唇色不淡白。耳輪未萎者，可救活也。是宜熟察。</p>
<p>陽氣浮泛者，難認肉脫之候。先診背部，其人每咳或喘，背上陷下者，因氣逆見脫肉之痕也。此證屬氣脹，故名曰虛浮，不必水氣也。</p>
<p>診病人宜先審問曾患黴毒否，何則？今世黴毒浸淫筋骨，多元氣為之壅塞者也。</p>
<p>病至大患目不瞬者，眼胞元氣脫也。乃為反目，兆近死期。</p>
<p>諸病以漸成者多難治，若肉脫或有水氣者不治。</p>
<p>凡有痛者，脈多緊弦，如太陽病頭痛者是也。動與緊似相反，而緊弦者，動之甚也。動脈變遲者，正氣弛而邪氣未除也，如結胸脈遲是也。蓋動變遲者可救，不變而數者殆。</p>
<p>黃疸未發前為腹痛者，多是屬癥癖，又有脾臟鬱結為腹痛者可辨別。（《金匱》云：穀氣不消，胃中苦濁，此所以濕熱為腹痛。又云：諸黃腹痛而嘔者，宜柴胡湯。此係黃疸腹痛治法。）</p>
<p>嗝噎一旦食進者，不可恣吃，其人原胃中虛竭，反招害。</p>
<p>卒中風，多系癥癖塞心，故人事不省，不能活。若不塞心者，半身不遂，或口眼喎斜耳。其雖人事不省，而六脈相應，手足厥冷者，一身大氣猶存，可救也。</p>
<p>男女俱年未壯而身不了了者，多系風寒，宜調護。若緩漫經日，則大便溏，以至重症，故此證大便秘結為佳，溏泄為惡。</p>
<p>專發聲音者多吐血，而脈不數，是不足畏。真吐血者，其脈必數急，是大可恐。</p>
<p>凡病不論六淫七情飲食男女，皆因一元氣鬱滯。故皮膚郁者，經絡滯者，遂皆及腹裡，猶水之湊陷地，醫者先得其大綱治之為要。</p>
<p>黴毒沉滯骨節者，經絡壅塞尤甚，故發種種變證。不可不知。</p>
<p>其人虛弱咳嗽久不止者，此由寒氣壅表，與虛火扇肺，故咳愈甚，而肺益涸。</p>
<p>奔豚證有肝氣兼黴毒者，有肝氣帶疝者，但黴毒與疝不為奔豚。古語云：諸風掉眩屬肝是也。</p>
<p>痙及痱之類，身體不自由者，苟健啖不運動，則脾氣不能行，故四五年後必死。患此證者，宜務運動，以行脾氣，庶幾終其天年。名古屋玄醫曾患之，善全其終，可以證焉。</p>
<p>水腫咳嗽甚者，必水氣輻湊上部。又水氣發暴咳者，為瀕死。</p>
<p>雜病飢而不能食者有二道：其人雖飢，聞食臭忽惡之者，蟲也；但飢而不能食者，癥瘕也。</p>
<p>痿與痹易混，而詳之，則痹者，主皮膚不仁；痿者，主筋骨萎軟。</p>
<p>風邪難愈，或雖瘥復發者，不必服風藥，唯以助陽氣散風邪為要。</p>
<p>病陽虛者易治，陰虛者難治，何者？陰虛則陽益虛，如虛勞是也。故陰虛火動者，雖能食遂至死。陽虛者，脈不數而食減，是以多肉脫。故主餌食，禁灸。灸之則反脈為數，其為害亦不鮮矣。</p>
<p>虛勞脈細數者，脈乍見和平，則為近死期。易所謂枯楊生華，何可久也？雖緩者，不出五七日而死。</p>
<p>一夫病似狂，恐懼惡見人，閉居陋室半年所，後神氣漸爽，而手足拘攣，舌強直難語言，心下如板築，癥癖妨脹。因灸脊際，服熊膽，病頗愈。蓋此證癖氣妨脹，故不發狂。若癖氣內攻，則精神失職，必發狂。今不然，故免此患也。</p>
<p>婦人臍下及任脈有塊者，不孕。凡癥癖所在，陽氣必不行，故以艾灸資陽氣為可。</p>
<p>父母有癖氣者，其子必受之，猶如黴癩之系遺毒也。</p>
<p>黴毒入眼者，其始必頭痛也。</p>
<p>諸出血後血氣未復，犯風寒，則多成癆。假令不成癆，證候錯雜，難遽愈。</p>
<p>一男子素有癖氣，偶感邪氣，其熱熾盛，譫語煩亂。醫治之，熱頗解，但心下衝逆，大便秘，元氣虛憊，數日不能復。余診之曰：癖氣耳，莫為意。因使絕藥，治專餌食，而精氣漸復，大便快通，全愈。此證雖元氣憊，幸大便秘結，故知病可愈也。</p>
<p>喘哮下部肉脫者，屬癖氣。凡癖氣逆上者，多下部肉脫。</p>
<p>其人脈數，腹氣不和者，為中風兆，宜速灸。若緩漫經日，則因傷食，外感忽發中風也。</p>
<p>黴毒脈數咳嗽，與勞相似，但黴毒不肉脫，大便秘結，小便淋澀。如勞，雖小便濁，不淋澀，且肉脫或下利也。若黴毒下利者，在病末殆為凶候。（按黴毒咳嗽似虛勞者，黴癘新書栝蔞湯能治之。）</p>
<p>諸病將死時，多見厥陰證，是必然理，不止傷寒也。</p>
<p>火動證病未發喘者，系下元失守，為難救。</p>
<p>喘哮甚者，與香效木、沉香亦可。仲景專用厚朴、杏子，此係無癖氣者之治。在今世則多屬癖氣，故沉香、木香奏效也。余為制一方，茯苓、枳實、半夏、乾薑、木香，共五味。</p>
<p>郁證與癆相似，但癆脈微細數，郁脈多沉，或雖見他脈，未曾至微細，是為辨也。</p>
<p>癆之極，有便蛔蟲者，有下腸垢者，皆為瀕死候。凡舊病羸劣吐下蛔者，皆瀕死候。不止癆也，仲師厥陰所論為有旨。</p>
<p>勞發白疹者，多在胸膈而不在面部，此熱氣熏蒸，津液外泄也。其理與元氣衰衛氣失守絕汗者，同為惡候。傷寒發白㾦者，邪氣從㾦而解也，故為善候。然宜與他證並看而決之。</p>
<p>蓄水者，陽氣鬱於中焦，上下不相和，故發煩渴，如五苓散證是也。</p>
<p>狂證以白虎湯治其里，以艾灸治其外者，此白虎消腸胃之鬱熱，艾灸散榮衛之鬱滯，即寒熱並施，內外兼攻之妙用也。（狂症者，灸心俞、患門、三里數萬壯得效。《扁鵲心書》云：一人得風狂已五年，時止，百方不效。余為灌睡聖散三錢，先灸巨闕五十壯，醒時再服，又灸心俞五十壯，服鎮心丹一料。余曰：病患已久，須大發一回方愈，後果大發，一日全好，是亦同揆。）</p>
<p>黴毒壅塞經絡者，患瘧或痢之日，善驅除其邪氣，則宿毒並去也。如他痼疾亦然。</p>
<p>妊娠與血塊易混。然血塊者頑固沉著，無發揚之勢。妊娠者，凝結溫然，有潤澤之氣。又訊之於婦人夜陰快寢後，小腹勃然突起者，娠也。又乳頭黑者娠也。（婦人經閉者：乳頭多黑，故難一定。賀川氏《產論翼》有詳說，宜並考。）</p>
<p>後世以黃花、人參、為補澀邪氣，誤矣。今癰疽痘毒專用黃耆者，其毒自里達表也。人參亦同。（古方用黃耆主表達非補氣，人參亦主滋津，故柴胡瀉心方中用之無嫌也。）</p>
<p>本邦人性剛悍，不喜甘味，若強食之，則泥戀生氣滯。西人性柔弱，喜甘味，故藥方甘草分量每過於邦人。譬之於病人猶元氣虛者，雖服人參多量不泥，在壯實者忽生悶也。昔者今大路一溪翁悟此旨，專主順氣，常用香蘇散，而至甘草不用，匙以指頭排散少許爾。（按香川修德順氣說。世以艮山先生為濫觴，殊不知先生實本於一溪氏也。蓋當時昇平已久，浩然氣皆餒，於是有順氣之說。蓋萬疢以根於氣也。）</p>
<p>求嗣法以溫腰為主。故灸腰眼穴效，浴溫泉亦效。</p>
<p>婦人有血塊者，雖懷孕，臨產時或難分娩。（拙軒曰：一種有橫骨狹隘害分娩者，非手術則不得治，不可有知。）</p>
<p>一婦人腹痛在臍上一寸許，按之惕然徹痛，脈數，乃斷為內癰。餌以雞蛋，服以黃耆、薏苡劑，後十日，大便果下膿血。</p>
<p>暑邪概自汗出，故難有表證，不枵發汗劑，與白虎湯類可。</p>
<p>狂證在婦人難治，黴毒在婦人易治。（婦人因瘀血發狂者易治，在男子發狂雖輕者不易治。）</p>
<p>四苓散加漢蒼朮治雀目屢效。雀目多屬疳，因治疳方中多用此品，亦能奏效。（拙軒曰：《眼科提要》云：四苓散加蒼朮，更加夏枯草一味，治晚盲極效。）</p>
<p>戢菜能治結毒骨節痛，但其臭惡不易多服耳。</p>
<p>余每稱心小膽大之語，以為醫家吃緊。（先生之術，固創出前賢。然先根底醫經經方，而復致力於思邈諸子。故其於大疾沉疴，自然遊刃有餘矣。）（拙軒曰：讀此條，可謂名下無虛士也。）</p>
<p>黃連性燥，雖浸水出之必干。黃芩性潤，雖去水猶濕。故知芩連同治痢而各異性也，治嘔亦然。</p>
<p>諸瘡內攻為水氣者，與赤小豆湯。熱甚者，與大連翹湯效。</p>
<p>病人虛里動甚者，多遺精。（陳修園以龍膽瀉肝湯治夢泄，曰以肝實而火盛也。沈芊綠曰：當先治其心火而及其餘，宜黃連清心飲，亦與此說相發。）</p>
<p>大病後表氣薄弱者，偶感風冷則卒厥，此雖在夏月，屬中寒也。（李挺曰：中寒冬夏同有之，旨矣哉。）（拙軒曰：與古人霍亂四時有之云者同。案俱皆理到此言，足互發明。）</p>
<p>瘧與痢同因而異其位：瘧邪在表裡間，而痢邪即著腸胃。故瘧在外易治，痢在裡難解也。（《醫說》云：暑毒在脾，濕氣連腳，不泄則痢，不痢則瘧。而艮山能發其理。）</p>
<p>噤口痢者，毒氣劇甚，自腸中熏蒸胃口也，急與承氣湯下之為得矣。若失下，腹濡口噤者，宜獨參湯。</p>
<p>膈、噎、反胃、三者，同病也。但反胃者，胃中不和，飲食難化，或朝食暮吐。膈噎者，胃管萎𦮕無潤，穀氣不能下，或癥癖壅閉胃口，飲食為之妨害。故反胃反在壯年，而膈噎多屬老人也。</p>
<p>其人屢患喉痹者，多為膈噎，此因喉痹氣管耗損，津液失潤澤也。壯年者可治，在老人難治，何則？胃氣衰弱，胃管硬強，譬之革囊，猶水漬火焦，則縮不能容物也。</p>
<p>膈噎與鼓脹同因屬癥癖也。癖氣橫梁，腹皮為之膨脹者，鼓也。癖氣潛匿，腹皮為之陷沒者，膈也。二病俱系精氣不振，腹裡失潤澤也。</p>
<p>凡長病面部腫氣俄減者，陽氣下陷也，不可忽諸。</p>
<p>其人氣血凝結，腹裡生鬱熱，水穀之氣漸蝕以為羸瘦者，名曰勞瘵。此不必虛乏人，雖壯實者往往有之。</p>
<p>喘急有因奔豚者，此癖氣上侵心肺也。（按三因息奔湯能治此證。）</p>
<p>喘家其證雖劇。甚多無害於性命。若傷寒卒中諸急病，或緩病咳忽止但喘者，有不測之變，不可輕忽也。</p>
<p>積年苦頭痛者，多屬癖氣，如偏頭痛尤然。故癖氣在右則右痛，在左則左痛也。</p>
<p>丹波一婦人患腰痛三年不愈，食幹過臘魚有效。（按恐是血瀝腰症，花岡青洲治痿證，亦用幹過臘魚末，宜試。）</p>
<p>痛風與腳氣同因。而痛風其邪淺，腳氣其邪深，故其愈亦有遲速之別也。</p>
<p>方今所行腳氣，即《千金》、《外臺》所謂風毒腳氣也。宋元以來所謂腳氣，即今所行疝氣也。（後藤徽曰：吾邦往昔風毒腳氣消熄無行，寶曆以來，流行復煽，是以先子有此說。）</p>
<p>中風偏枯，多因癖氣壅塞經絡，氣不能外達。故癖氣在右則右枯，在左則左枯也。</p>
<p>中風口眼喎斜者，因正邪分爭之勢而血氣偏勝也。故喎斜在右則病則左，喎斜在左則病在右也，如半身痹痿者，亦同此理。</p>
<p>遺精多因肝膽氣鬱，又有因疝者，其證概腹中拘急，夢裡精水激動而漏出也。其人雖每夜有之，反無脫陽之患，與構精者異。（拙軒曰：論病精細，近今世人多有此證，真無大礙。）</p>
<p>小兒疳證，目盲，而其病愈者，與黴毒耳目鼻自毀，而毒解者同理。</p>
<p>婦人懷胎，則臟腑向上，故氣多塞。紫蘇能疏通其氣，是以妊娠方中使用此品也。妊娠有水氣者，紫蘇大腹皮尤效。</p>
<p>按：當時傳艮山先生術者，京師有香川修德、山脅尚德，浪華有市瀨穆，伊勢有山村重高，備前有赤澤貞干，家著戶述，不乏其人。而後來私淑先生者，以筑前龜井魯為最。曾著《病因備考》，補翼其說。又賦詩云：長沙太守元儒紳，述古兼醫百世人。直指經方歸易易，誰傢俬說言斷斷。樞機何用煩汗簡，糟粕須知恥劉輪。卓乎艮山藤老子，才良仁術足相親。</p>

<h2>北山友松</h2>
<p>友松胸宇灑落，以曠世之才，授閩醫之傳，善得法外之法。故治術別開生面，自有神識迢邁，觸手生春之妙矣。</p>
<p>友松嘗善象胥學，又從禪僧化林學仲景奧旨，就戴曼公得《內經》、本草精蘊，既而謂皇朝醫風亦不可不研，乃師小倉醫員原長庵（岡本玄治高弟），遂大成其業。</p>
<p>虛勞有直腸疼痛大便難，或發痔漏者，此皆系肺大腸損傷，為難治。（常屢診虛勞者，發此證頗多，而百無一治。古云肺與大腸為表裡，理或然。）斂血品以牡丹皮、荊芥、蒲黃各炒黑為奇。（本邦婦人套藥皆炒黑為用，即此意。）</p>
<p>阪本人年五十所，鬱郁不對人，飲食減少，頗如勞瘵。先與補中益氣湯，後以九味清脾加葳蕤得愈。凡開達肝脾之鬱塞，無若清脾湯。若逢肝脾鬱塞，以認此湯主治為要。</p>
<p>一婦人三年不語，一月內或一二言耳。乃以為脫營類，與人參養榮湯，易裘葛而愈。</p>
<p>盜汗不止者，九味清脾湯加地骨、鱉甲、椒目奇效，當歸六黃，加地骨、防風、桂枝、黑薑、椒目亦效。椒目能斂汗，古人嘗論之，今忘其出典。（香川修德藥選論椒目效最詳，悉宜參考。）</p>
<p>一男子得病，其證類膈噎。友松診之，以為心脾腎氣不足，胸膈無潤澤，故食飲不能下。與八味丸料，加蔞仁、貝母、陳皮、縮砂，兼用金匱大半夏湯。（參五分至一錢，時用參附湯。）</p>
<p>黴毒頭痛久不愈者，柘榴皮酒煎服忽差。蓋此證醫誤以風藥發之，故柘榴皮澀之則愈也。先醒齋頭風神方亦效。（土茯苓四兩，金銀花三錢，蔓荊子一錢，玄參八分，防風一錢，天麻一錢，辛荑花五分，黑豆四十九粒，燈心草二十根，芽茶五錢，河水井水各一鍾半，煎一鍾服。）</p>
<p>某生胸下上脘邊突出，氣急煩悶，與異效散加椒目愈。又目瘡，（俗稱女波津古一名女保者。）用升麻葛根湯加椒目效。</p>
<p>友松以養榮湯或左歸丸料，治虛羸，專視十指爪甲血潮之多少為消息。蓋辨血色之好惡在爪甲，不可不知。（老醫傳云：診脈畢，宜以指按病者爪。按之白放之紅者吉，雖久病可治。放之紅不復者，雖頓病甚凶。香川修德行醫言，亦載辨爪法宜考。）</p>
<p>嘔吐膈噎食不下者，半夏、厚朴湯，加海浮石、枯礬效。</p>
<p>乳腫屬氣滯。乳汁不通者，四物，加王不留行、穿山甲效。</p>
<p>黴毒為殘害者，主小柴胡湯，隨證加減多驗。（按醫綱小柴胡湯加草龍膽、黃連、胡黃連，治舊下疳瘡。忽頭痛發熱自汗，撮要小柴胡去大棗、生薑，加山梔、龍膽草、當歸、芍藥。治肝經熱毒下注，便毒腫痛，一切瘡瘍，或風毒惡核瘰癧，此類頗多，宜考。和田東郭曰：凡黴毒有熱者，先不解其熱則不愈，此即用小柴胡湯之旨。）</p>
<p>土佐翁（謂長澤道壽。）隱棲西山，一日診京師商人癰疽曰：宜日服人參五錢。後五日診曰：未見參效，恐不治。病家告實曰：服參一日不過二錢五分。翁曰：賤命重財，無益矣。苟欲生則服參，宜今日五錢，明日六錢，又明日七錢，漸次相進。商如其言，七日病果愈。友松曰：用參將息適宜，可謂得補托之真訣矣。</p>
<p>土佐翁著《醫方口訣集》，三日而成。有馬氏涼及手寫《證治準繩》全帙，以諳記其卓識，篤志可並稱。</p>
<p>治頭痛，薄荷、石菖、葛粉、川芎、白芷，五味細研，蜜煉服效。平常患頭風者尤妙。</p>
<p>雜著化痰丸如白刀豆，以治痰妙。風痰結心包健忘者，無不效。一僧疫後患此證，服之速愈。</p>
<p>過服石膏下血者，補中益氣湯加肉桂、乾薑效。</p>
<p>婦人下部水腫，或小便不利者，枯礬細研，以塗湧泉穴及指頭，則尿利腫消。</p>
<p>痘瘡以日數證候變者，其理與傷寒傳經同屬疫氣故也。宜知元氣旺衰，邪勢劇易為要。若徒執黃耆、當歸、人參終始療之者，不足與論也。（按隋唐醫書皆以痘屬疫，迨宋元胎毒說起，其理遂晦，先生特闡之，可謂卓見矣）。</p>
<p>疫證舌上白胎者，熱入腑也。赤爛乾燥者，熱入臟也。張氏舌鑑論之為確。</p>
<p>張景岳制人參胡椒湯，為有深旨。凡極虛者，附子反走散元氣。故與附子則脈卻伏結，不可無此湯之設也。</p>
<p>一婦人喜唾，數日不止。醫以為蟲積或虛冷，治之無效。余以為郁，與正氣天香湯，速愈。（疫後喜唾不了了者，一老醫與大柴胡湯速效，是亦屬郁者。）</p>
<p>《準繩》傷寒門傷寒類傷寒辨，學者宜熟讀諳記，使門人各書寫一通。</p>
<p>婦化醫某始療病，每服藥重七八錢，甘草分兩尤多而無效，人皆以為庸工。某曰：吾過矣，國人比之於唐山腹力頗弱，故不能中肯綮。便減其分量，殺甘味以為之，無不百中也。</p>
<p>治病必求其本，乃往聖之模範。隨證而施藥，是後學之應用。及治四時傷寒，各隨其類，豈可局於區區論說哉!（醫家宜當之羹牆。）</p>
<p>明太祖論徐達曰：更涉世故則智明，久歷患難則慮周，吾業最為然。（以救己之心，推以救人，所謂現身說法。誠千古不磨之論。）</p>
<p>夏布政字正夫，未嘗以淹屈降志，嘗曰：君子有三惜，此生不學一可惜，此日虛過二可惜，此身一敗三可惜。余續之曰：有善不作四可惜，有過不改五可惜，老來怨天更可惜。</p>
<p>《骨空論》曰：厲風者，素刺其腫上已，刺以銳針，針共按處出其惡氣，腫然乃止。常食方食，無食他食，按常食以下八字，為治難病之妙訣，不止厲風。故餘一生以為治病藥食之準則矣。又按張氏注云：食得其法，謂之方食；無食他食，忌動風發毒等物也。此說未是，方食即謂方宜慣食之物，他食即謂所不常食之物。言食膏粱之人，試以淡泊則惡；茹藜藿之人，試以美食則傷食，不唯卻其病，反生他病。</p>
<p>東垣《辨惑論》當為一卷，今別有二卷者，恐系後人之手，何則？舉補中益氣以至暑傷胃氣，即說正月以下三四月治法。肺以下至脾胃虛，即說五六月治法，下之至內傷辨，皆屬九月以至十二月之治法。一意到底，不可為二卷者昭然。</p>
<p>李氏辨內外疑似證最精矣。且如氣少氣盛辨，益於後學不為鮮。然至內外相兼者，李氏說未為盡，宜涉獵古人書以補其闕。</p>
<p>下元虛損，精氣枯槁，人外感風寒，頗似溫疫者，或宜先補虛，或宜先發邪，或宜補瀉相兼。此際醫最可苦心處，固非筆墨之所盡焉。</p>
<p>《醫藥綱目》別為一家，與他書體裁自異。錢氏論小兒亦自一派，據之不為可，不據亦不為可。（拙軒曰：有明一代醫書之多，汗牛不啻。所謂模擬飣餖者居多，戴復庵、吳有性、陳實功之外，僅僅數家耳。《醫學綱目》亦庸中之佼佼者，此言有味。錢仲陽之於啞科，頗為大家，然見為一派，真是有識之言。）</p>
<p>療傷寒知去路來路為要，或表入里，或陽轉陰，或前在某位，後進某位，或始終一位。審之以處方，思過半矣。喻昌曾辨之，可就見焉。</p>
<p>余常主實學示子弟曰：經絡脈說不可不知，而深拘之則反失於實用，學者固不可無取捨之見。</p>
<p>余不喜講說，唯正月初八祭神農氏，使門人講《上古天真論》耳。（其說曰：聽講義鮮益其效，不若熟講百遍，蓋在心悟。此可以為世醫信耳不信目之戒。）</p>
<p>余晚年讀本草日夜不釋手，故其用藥雖一味無贅品。</p>
<p>余療南源悅山高泉諸僧，皆用大劑何者？西土人比之本邦頗厚腸強胃，非輕品所敵。風土人物之異，不可不知。（西土醫診病直記其藥按以與病者，病者購之於藥鋪以服之，故其品劑量適，正與邦醫輕劑射利者迥異。）</p>
<p>甘麥大棗湯，治產後似邪祟者奇效。（按：所謂如有神靈者也。）</p>
<p>傷寒壯熱煩渴，小便赤，不大便七八日，舌燥目赤，時閉乍開，僅啜粥汁耳。一醫與清心溫膽湯去香附，加辰砂、淡竹葉、而譫語益劇，脈伏不應。因與白虎湯合黃連解毒湯，諸證自若。乃煎人參三錢，黑姜一錢，兼服之脫然愈。（按：此與吳有性承氣加人參合轍。）</p>
<p>建中湯入口則痛乍止者，甘以緩急也。甘草粉蜜湯治心痛，其旨頗同。膈噎服蜂蜜，一旦納食亦同意。大半夏湯之於蜜，不過此意矣。</p>
<p>張仲景一書，炳如日星，亙千古不可磨滅，熟讀者知其意。（當時醫多讀《素》、《難》不讀《傷寒論》，故發此言，以示為萬世理道之神書，救人之秘典也。）</p>
<p>《內經》終始一言以蔽之曰：亢則害，承乃制。（經云：知其要者，一言而終。不知其要者，流散無窮。可謂真知其要者。）</p>
<p>東垣本於《內經》陽氣清淨則四維收之意，制補中益氣湯，深得經旨矣。在本邦土佐道壽善研究其意，故治脾胃手段最長矣。</p>
<p>羅氏曰：七分內傷，三分外傷者不治，是善得李氏之意者。</p>
<p>治療之法，先瀉後補為易，先補後瀉為難。</p>
<p>丹溪斥《局方》者系救時弊，門人戴氏專用《局方》，其意可知矣。</p>
<p>古林見宜療紀州熊野山中農夫水腫，服藥良久無效。因加青芋於方中，又以之為朝夕餐而病愈。蓋其人生於山中，以此物為常食。而偶出於浪華請藥於眾醫，禁忌亦隨嚴。故脾胃失常度，藥力不能達，是以施方宜之術也。</p>
<p>咽喉痛頰腫及嘔噦者，小柴胡湯連翹各等分服之效。</p>
<p>水氣不論新久，欲持脈不能遽舉手，或欲按足跗不能伸腳而微喘者，死證也。腫氣一旦減乍復者，亦不治。</p>
<p>淋疾與五苓、平胃、瀉肝諸湯。莖中澀痛甚者，補中益氣湯加蒲黃（大）、五靈脂、金銀花效。（按：內注下疳遠年不愈者，與此湯亦效。）</p>
<p>常誨初學用零紙書古人醫案，各處其方，以得其當為上等。</p>
<p>凡方證雖相對，分量有不過及，則不能奏效。故葛可久損傷病論大黃多少至密矣。況如中氣卒厥之於人參，陰虛之於龜板，其多少不可不最密矣。</p>
<p>友松治腫脹用補氣養血湯，十愈七八，蓋此方不用利水品，而腫脹難治者，間奏大效。其意在專治脹也。</p>
<p>一醫生讀喻氏《寓意草》，友松聞之曰：喻氏之書不無益，然以之為治療之模範，恐為下工。</p>
<p>嘔逆諸治無效者，及諸嘔吐不能服藥者，與旋覆代赭石湯效。蓋此方人參、代赭相伍為妙用也。如白通加豬膽汁湯，其妙亦在附子、豬膽相伍也。</p>
<p>閩人化林老漢傳治眼暗失明，用鳶首霜，此理高上可玩味。</p>
<p>攝津池田有一奇病，其證兩腳痠疼，漸肌肉削小難屈伸，遂成痿，俗名曰池田病。此病他人間患之，而皆受之於池田云，友松與獨參湯愈。</p>
<p>八味丸為轉胞之套劑，而服法非逐次增分量則無效。此即益水源之意，宜三錢至八錢為妙。</p>
<p>小劑藥量時不無效，《醫學正傳》有其說，汪認庵亦論之。</p>
<p>積氣氣鬱，或夜中發熱等病。有發止者，詳其由有患瘧者，雖數年後兼用陰瘧丸。則奇中焉。</p>
<p>閩人傳治貧窶消渴，水中腐木一味為散服。又治頭風，鳶頭霜燒酒服。友松治一武弁兩眼旋動，與鳶頭灰。蓋擴充此意云。</p>
<p>凡用滋補滋陰藥，方中無陳皮、半夏、木香、砂仁等，則不能達藥氣，此理尤不可闕。（按古人黃耆建中湯加半夏者，即此意。）</p>
<p>方者法也，如毀舊屋而建新屋，故使方而不使於方為要。假令如以中風方治咳嗽是使方也，若以風藥治風，以咳藥治咳，是不使於方也，況索病根而治之，諸證不治而自治，乃上乘法。</p>
<p>下部腫與防己茯苓湯，上部腫與茯苓補心湯，並奏效。婦人腫氣多屬血分，防己能入血分，故多效。若屬氣分者，茯苓、澤瀉為主。若男婦陰虛為腫者，六味地黃丸加附子、防己、蒼朮效。又腫病元氣實者，大承氣湯為丸用之效。</p>
<p>《證治要訣》為必讀之書也，如藿香正氣散加木香以為一方之類，其意尤可稱。江州堅田村北村道卜者，年可六十，患中風，京醫幾島氏療之無效，因延余。余診曰：欲速愈，則後三年必再發，以至不治，若不欲速愈，則十五六年當延其壽，二者請選之。病者曰：荏苒彌年，何堪其久，願速愈以謝朋友。乃作異功散，加烏藥、白芷、青皮與之，服五十貼全愈。後三年果如其言。門人矢島安節問緩治之方。曰：十全大補湯為得焉。</p>
<p>友松在北村氏家隱几而坐，一女子將請診。請診，望見叱之曰：汝妒心溢面，可深惡。女子赧然謝服。因語曰：汝神彩甚病矣，苟有悔心，余善療之，即與藥而愈。蓋此女嫉妒多年，夜則穿戶窺隙，頗如狂人。而友松一見洞視，人服其技云。</p>
<p>阪陽老醫問起死回生之方。答曰：方無靈，唯求其本耳不言其他。</p>
<p>凡病虛實難辨，補瀉難決者，能察其脈證，審脈可據，與證可執。而從其確者，則治法庶無愆矣。</p>
<p>江州北村左太夫虛羸不食，一日氣息淹淹將絕。急延林市之進診曰：血脈衰弱不絕如縷，庶幾萬一耳，乃作劑。僅用人參一分，龍眼肉一個，眾皆危之。翌朝來診曰：證候如前，而毛竅稍塞，肌膚少和，是脾氣旺肺之機，乃可望生。因倍人參、龍眼肉與之，果愈。友松聞之嘆賞曰：極虛者投大劑純補，譬如燈火將滅急灌油，不減何俟。林氏可謂得補法之蘊矣。</p>
<p>浪華菱屋素閒，年六十餘，形羸不食。其初得之於傷食，諸醫治以香砂六君子湯、七味白朮散，無效。友松與異效散加漢當歸，三二貼而愈。又金田鋪某女不欲穀食，唯食他物，諸治無效。乃與四物湯，加人參、白朮、橘皮而愈。門人問其故，曰：脾胃血液虛則枯燥不能食。漢歸味甘，能益脾中之血，是以為進食之劑也。經曰：手得血而能攝，足得血而能行，肝得血而能視，據之則肝云云下當補胃得血而能食一句。</p>
<p>大七氣湯治婦人久咳不止，其意可味。</p>
<p>癱瘓經年者，一旦忽然手足動，目睛爽，即急變候。</p>
<p>久病及大虛人，尺肉脫者，及指頭不能急屈者，多不治。（片倉鶴陵曰：凡病人肌肉柴瘠者，手腕後肉脫而形匾，醫握其中央指頭將相合者，不問何病為死候也。雖飲食如故，此遊魂之假息耳。勞瘵之病，累月後必見此候。唯傷寒痢疾腳氣後有此候者，往往愈，蓋本於此。）</p>
<p>《脈要》旨在頤生微論，不可他求，唯本草揭脈處亦可並讀。</p>
<p>痢疾嘔噦諸藥不入口者，黃連一味小劑服之，藥食共得下後見蛔證，因前方合大七氣湯與之，此法本於薛氏治太宜人案。</p>
<p>友松所著《醫方口訣集》，纂言方考等首書。讀之深知學術富瞻，遊刃有餘。獨至北山醫案，徒摹仿古人，局守法度，終乏高逸之氣。學者讀之可，不讀亦可矣。</p>

<h2>和田東郭</h2>
<p>復古之醫術以吉益東洞為最，東郭出其門下，獨不奉其衣缽，別成一大家。蓋譬之兵家，東洞醫如韓信行軍，背水絕糧，置之死地而後生。東郭醫如李靖用兵，度越縱舍，卒與法會。各有其長，不易優劣。學者於此處著眼，庶幾得二家之真矣。（拙軒曰：古人往往以兵家之事擬醫術，先生以韓信李靖評二氏更妙。）</p>
<p>病癱瘓肩髃骨開脫如容五指者不治。又握掌不開者不治，開而不握者治。</p>
<p>《證治準繩》論嬰兒尤精，足以見王宇泰之苦心。轉胞六味丸治驗亦可玩味。</p>
<p>病轉胞臍下有塊，其形圓者治。若扁如柿核者不治。此證以八味丸為套法，而四逆散加附子，抑肝散加芍藥亦奏效，不可不審。</p>
<p>水氣不虛不實，其腫光豔者，鯉魚湯為得。</p>
<p>水氣入胸膈，及肩背拘急如束縛者，為犀角的證。</p>
<p>一角能治水氣上衝，故用之腳氣衝心頗效。</p>
<p>打撲有似瘀血衝心而否者，曾睹山陬一婦人大損傷，精神昏憒。腹中如杯盆者，迫於心下頗悶亂，脈息僅不絕耳。余作走馬湯與之，服已須臾，煩躁，吐瀉清水數升，霍然而愈。故知不可慨為瘀血而治也。</p>
<p>油風多用大柴胡湯而效。是宜治其腹，徒不可泥其證。（華岡青洲治此證，以大柴胡加石膏湯，曰油風多屬肝火，亦同見。）</p>
<p>每稱東洞曰：先生治足委弱不能步行者，與桂枝加朮附湯，兼服紫圓速愈，可謂妙矣。（此上焦得通，津液得下之旨。東郭夙入其室。）（拙軒曰：青洲翁療梅瘡結毒，頑結難愈者，用桂枝加朮烏湯，兼用消毒丸，應手而痊。蓋從此處脫胎來。）</p>
<p>一婦人年三十有五，背脊佝僂，身不能動搖，足屈而不伸，脈沉緊，其形如十歲許兒，即與理氣湯，兼服紫圓，六月後與慈菇湯，腳伸病方愈。</p>
<p>桃花湯治痢病便膿血極效。蓋初起與之無益，其期在熱氣稍解，膿血不止。論曰：二三日至四五日其旨深矣。</p>
<p>余常用桃花湯為散，白湯送下得效。若少陰病形悉具，特便膿血者，以真武湯，服桃花散亦可。</p>
<p>世所稱中風多因癥瘕為偏害，宜診腹以處方，故大柴胡湯加甘草，抑肝散加芍藥等，能治此證。其他如手足痹痿痹，亦世醫徒拘其證，不察其因，宜矣不得其效也。</p>
<p>一老人痰喘氣急有癥瘕，細柳安以為勞役，與補中益氣湯，痰喘益劇。余診曰：此人性豪強，壯年起家，故肝鬱生症，加之水飲聚結以為喘急也。乃與寬中湯加吳茱萸，病安後感寒為下利，因與真武湯利止，以四逆散加薯蕷、生芐全愈。</p>
<p>一男子犯寒夜步，因感冒短氣，手足微冷。醫以為中寒，與四逆湯，服後短氣益甚，咳嗽面赤。因與越婢加朮苓湯頓愈。</p>
<p>病者目赤眼睛不轉如魚目者，為難治之候。</p>
<p>病人不論緩急，將診之。宜隔床望見其形氣，形氣縮小，神彩枯瘁者，死候，不必持脈而知之。</p>
<p>脫證誤與攻擊藥，則爪甲忽失光澤，不可不知。</p>
<p>神闕脈亦為治諸病要訣。按之沉小不移者，形體雖虛，為實候，宜攻之。若浮芤無力者，為虛候，如水分之動亦同之。</p>
<p>傷寒舌圓厚者，又薄小者，皆為惡候。又始終白胎不變者，亦為難治候。又厚者赤者，皆為虛也。（盧不遠曰：傷寒可以神舌識病。則風暑燥濕，恐亦有定法。此言誠為隅反矣。）</p>
<p>臍下悸，按之與呼吸相應者，病人雖危篤，其死有間。腳氣、勞瘵、濕毒三病，當臍上五六分任脈外各一寸許，不拘左右必有動氣。腳氣則弦急，勞瘵則虛數，毒則無定形。</p>
<p>凡大病眼中爽者惡候，不了了者反有生意。勞瘵及雜病眼神與病相應者為佳。</p>
<p>診大病鼻梁亦為要訣。醫書徒論明堂而不及此，為闕典。</p>
<p>腹脹攻下無效者，有漫遊散氣。則頓愈者，此因心下素有積為脹滿也。（按《靈樞》云：夫脹者，皆在於臟腑之外，排臟腑而郭胸脅脹皮膚，故命曰脹。東郭所論，蓋斥此等之證而言也。）</p>
<p>石膏非大劑則無效，故白虎湯、竹葉石膏湯。其他石膏諸方，其量過於平劑。世醫不知此意，為小劑用之，譬如一杯水救一車薪火，宜乎無效也。（拙軒曰：此言甚好，傷寒諸方之石膏，則劑可大，而服數不可多焉。至雜病，則非大劑決不能奏效，放膽用之而益可，況今醫人恐石膏殆如蛇蠍噫。）</p>
<p>感風寒咽喉腫塞，藥汁難通者，作驅風解毒湯加桔梗、石膏冷服，極效。（拙軒曰：此證小柴胡加桔梗、石膏，亦奇中，青洲翁曾用之。）</p>
<p>傷寒大熱煩渴譫語，欲飲水數升者，固為白虎湯、承氣湯的證。而又有假熱者，有水邪者，故真武湯或犀角、生芐類。有時為市醫者，宜審脈證諦腹診以決真假矣。</p>
<p>傷寒面合赤色者，升陽散火湯、犀角湯（《醫學綱目》）間效。若服之二三日不愈者，多為戴陽難治。</p>
<p>治療有先後之序，紊之則無效。一病人足心至胯間煩熱，日夜數十發，殆如有火往來。醫以為腳氣，治之不差。余診之，臍右以至少腹磊塊應手，此屬燥屎，因問其大便曰不通。乃作調胃承氣湯與之，燥屎悉出而後治其腳氣，諸證全愈。是其明徵。</p>
<p>疝陰囊腫大與治疝諸方不愈者，與半夏厚朴湯加犀角速效。又經閉與逐瘀諸劑不治者，與安中散、抑肝散等得效。是皆欲得南風，必發北牖之理。醫不可不知此活手段。</p>
<p>小兒慢驚風及中暑者，其口為如笑者必死。</p>
<p>因毒氣而聲啞者，加喘氣則多死。</p>
<p>吳氏所論疫京師十年前大行，其後絕無。蓋疫者年年異其證，而發於柴胡者多。則募原說不為無理。（仙台工藤周庵著救瘟袖歷論，因時運異證。亦可參考。）</p>
<p>黴毒家口中爛、耳鳴、咽喉腐蝕、頭痛、肩背痛、聲啞、吐沫、齒斷強直，八證者，皆系輕粉毒，宜詳之。</p>
<p>天庭色衰者為虛，色盛者為吉，色痿有皺紋者為難治，日月額凹陷者死，失色者為難治，無生氣或羸脫者死，耳痿失色者死，髮際有白點者死，面冷或鼻冷或少商穴冷者死，額上冷者死，此皆望色決死生之要訣也。（按：《醫學正傳》小兒門湯氏說云：山根若見脈橫者，知兩度驚。相書鼻為山根，山根有疾，尤非佳兆矣。然東晉謝安、北宋劉貢父俱有是疾，一則德望蓋世，一則博識該覽。居一代諸賢之右，亦不可拘物理小識云：小兒乳哺時母有孕，輒眉心黑泄瀉，據之則眉間亦可精察。）</p>
<p>脅下引背脊痛者，多屬畜血，不可概為懸飲。</p>
<p>世所稱膿淋者非淋，即《外科正宗》蝕疳也，宜解毒劑。</p>
<p>急喉痹秘寒不能飲下者，與苦酒湯效，或平素患咽腫者亦效。一男患咽痛，後元氣衰乏，下利咽腫而燥，難言語者，與苦酒湯，初痛楚不能咽，後快通愈。</p>
<p>病人絕脈者，暴出為惡候，微續為佳兆，不止脈如厥逆亦然。</p>
<p>治病求本為要。譬如鼻痛、耳痛、耳聾，徒為耳鼻之治，此即捨本執末也。為醫者宜認其所以然而治之。</p>
<p>用方以活變為主，某方治脫肛，某藥主下血，概用之者，不知活變也。一方以應萬病，萬病以歸一方，是謂活變也。</p>
<p>心胸痞塞，用芍藥、甘草類不應者，半夏厚朴湯加芎藭，輕其劑量而服之則效。（拙軒曰：如此條所言東郭翁極得意手段，玩味有餘，下條亦然。）</p>
<p>泄利與附子劑不止者，錢氏白朮散奏效。此理可玩。</p>
<p>一婦人羸瘦盜汗，下利十餘行，腹中拘急如摸羅網，不欲飲食時喘者，與真武湯愈。</p>
<p>傷寒與下劑，以其脈沉實沉緊為的也。（此語非大有見識，大明脈理者不能道，誠與仲師用承氣之旨符合。）</p>
<p>病人有心下痞硬，腹中拘急而遺精或漏精者，概為下元虛治之，則痞硬益甚。先治其痞，則遺精亦隨愈。</p>
<p>病咳血心下有水，左肋及脅下拘急動悸者，與柴胡薑桂湯加吳茱萸、茯苓愈。此治腹而血自治也。（拙軒曰：翁之用四逆散、柴胡薑桂湯、八味丸等，縱橫顛倒，變化無方，實極得心應手之妙，他人不可及也。然精思求之，豈不得其彷彿乎。）</p>
<p>諸瘡內攻，及腳氣上衝，與木瓜、吳茱萸、犀角等無效者，四物加黃柏、山梔子，或四物加浮萍能治之。蓋不制水濕而治血虛，最是上乘法。</p>
<p>生地黃能治心下痞硬，乾地黃亦然，但其效不如生耳。</p>
<p>京師一時咳嗽大行，有人患之，諸藥無驗。荻野臺州以為下元虛，與八味丸不應。診之左肋拘急，因與四逆散加吳茱萸、牡蠣速愈。</p>
<p>一婦人數日自汗不食，腳攣急，臍下有塊而痛，其狀頗似蓐勞，眾醫治之不愈。余以塊為主證，與安中散，塊漸消，汗隨止，全愈。</p>
<p>久腹痛者，徒禁厚粱而不減飲食，則雖方證相對，更無效。</p>
<p>腹痛發嘔吐者，不詳其因而治之，則誤人不淺鮮，因者何？曰積聚，曰停食，曰蛔蟲，曰水飲，曰瘀血，曰腸癰是也。積聚心下痞硬，按之則反脹。停食心下濡，按之如空，蛔蟲按之指下有氣築築然。瘀血多在臍旁及少腹，按其痛處塊應手。水飲其痛遊走不定，按之則鳴動。腸癰多右腹，按之左右異狀。且手足痛處則必覺潤澤，右足攣急，小便淋瀝。余多年潛心辨此六者，無有差忒。</p>
<p>風眼痛劇者，與紫圓六七分大下之即效。（拙軒曰：專門眼科曾有此快活手段耶。）</p>
<p>黴毒熱甚者，以清解為主。若解發不徹，則多為沉痼廢疾。此法醫書未說及，為可深惜矣。</p>
<p>偏枯證有治不治之辨，病者握手者決不治。試使握手仰臥，則其手必開，復起之則如故，是為惡候。</p>
<p>禁口痢者，胃口至胃中多畜水飲，故水分動氣甚。附子理中湯加粳米，或加薯蕷、生芐效，又將生雞肝入醬煮熟取汁服之。</p>
<p>掘河丸太街一富商女年十八，患麻疹，其狀細小，欲發不能發，隱隱於皮肉，大熱如火，嘔逆，水藥不能納口。余以為熱毒內攻所致，乃與調胃承氣湯，病阻不能服。因延田中信藏診之曰：余有浴法試之，家人疑議。余曰：藥不能下，施之而可。信藏乃以清酒和熱湯盛之於盤內，使病者沐浴其中，須臾出之，溫覆取汗，則嘔吐忽止，疹悉發。（拙軒曰：魏氏博愛心鑑水楊湯浴痘兒之法，與此條同巧異曲。）治痘法以辨胃強弱為要，雖有下利、煩渴、寒戰、咬牙等證，胃氣強者可治。補瀉之分，全在此一途。</p>
<p>老人頑癬，多因血液乾燥，濕熱熏肌表。故溫清飲為的治，或加浮萍佳。</p>
<p>腳氣動氣甚者，四物湯或效，蓋以水分動為標準也。</p>
<p>噦逆屬胸中者，主橘皮、竹茹、丁香。其屬腹中者，主附子粳米湯，合甘草乾薑湯。若有水飲中氣虛者，主香砂六君子加芍藥也。</p>
<p>產前後口舌赤爛焮痛者，實者以麥門加石膏湯，三黃加石膏湯為主。在虛實間者，以加味逍遙散為主。極虛者，以附子湯加當歸為主。若赤爛生白點者，為惡候。加下利者，為不治。</p>
<p>諸病其脈時時變易者，屬癇也。</p>
<p>余曾謂芍藥緩肝，當歸潤肝，川芎疏肝，生地黃瀉肝。其能各異，而要之不能出肝分。</p>
<p>卒厥人趺陽脈應手者，為惡候，何者？胃氣脫則趺陽反鼓動。宜審其神氣有無，吐與利證異而因同，醫當曉其理。</p>
<p>諸病凝結心下者，多屬肝氣。疫證亦多挾肝氣，宜察焉。</p>
<p>赤遊丹毒不早下之，則內攻為走馬牙疳，宜涼膈散加犀角。</p>
<p>黴毒上攻，頭上腫起為凸凹者，屬火證。宜溫清飲，黴毒動生火，不可徒為濕而治焉。</p>
<p>久病人左右偏臥者，一朝忽得自由臥，則死期在近。</p>
<p>池田瑞仙（錦橋）診痘甚粗，如不用意者，或人問之。曰：診察過密，則反失真。其妙存於目擊之間，譬如睹刑人之就死地，雖剛強者其氣餒，憔悴之狀，在過眼之間，若熟視久之，則其形氣與常人無異矣。余治妙法大王臣菅谷中務卿男，啖柿果傷胃，發大吐瀉，四肢厥冷過肘膝，換數百方治之無效，束手俟死。余望之形容自有生氣，因與理中安蛔湯，忽蘇息矣。是前醫則熟視刑人也，余則一見於道途也，可謂瑞仙真得實詣者矣。</p>
<p>患澼囊者，足痿就蓐，則多不治。</p>
<p>結毒入眼瞳人陷缺者，為用汞劑之的，非他藥之所治也。消息與汞劑，則瞳人圓滿復故。若不圓滿反緊小，神水流散者，不治。</p>
<p>因結毒成聾者，成青盲者，成聲啞者，皆不治。但聾耳有所少聞者，遠房服藥，則愈。</p>
<p>服輕粉口中腐爛者，石榴皮、松脂等分煎服效。</p>
<p>凡與粉劑者，先與瀉火藥，而後與之為佳。此與療打撲者先行拆水，而後服，酒奏全效，同一理。</p>
<p>會陰打撲小便不通，但少尿血者，與桃核承氣湯。若不瘥者，與大黃附子湯一帖，用附子二錢為佳，服之小便快利血止為度。又因證可與八味丸，是真藤元志試效方云。（拙軒曰：會陰打撲其證劇，並尿血涓滴不通苦悶者，內用甘遂、大戟峻劑，外施導水管，不然無救法。此條所言，蓋屬緩證。）</p>
<p>癥癖逼塞胸膈者，脈異左右，癖之所在，其脈必澀，癖之所無，其脈必數也。又有其人常脈遲，因癖而為動數者。</p>
<p>癥癖人橫臥有下癖而眠者，有上癖而眠者。審之其下癖者，必因胸中衝逆甚也。</p>
<p>舌色純紅而柔軟，其形失常乾燥者，為參附所宜與之。舌色不變者，惡候也。若無汗譫語煩亂，舌上焦黑無芒刺干裂成皺者，亦為附子所宜。蓋此證其脈雖浮洪或弦緊，必無根抵。與附子，病勢緩則脈必見虛候也。蓋舌純紅者屬陰虛，而焦黑者屬虛火也。又有證具陽候而舌上反無胎潤澤者，為惡候。若此證必胸有所閉塞者，與藥開達心胸，則舌上生胎也，為佳兆。又雖與藥制之熱愈熾，胎不更生者，為不治之證。又服藥後，舌胎一去其色不和者，有宜石膏者，有宜附子者，有宜地黃者，當審別焉。要之舌與脈者，陰陽虛實之所判，不可不細精，故吾門加四診以腹舌而論定病因虛實也。世醫不知之執腹診，舍脈舌，可謂疏漏矣。（拙軒曰：寬政年間水戶土田恕庵著舌圖說一卷，據張路玉舌鑑等。附以己所見，頗為詳明，可謂得東郭翁之心者。）</p>
<p>舌上不論黃白帶光滑而乾燥者，附子所宜也。其紅色者，益為附子的證矣。</p>
<p>病人舌上白胎，其下含紫黑色如牛舌者，為惡候。此舌候兼面戴陽，則更為危矣。</p>
<p>按舌候大概諸疫無異，故疫痘皆同診。但至結毒則具一種舌色，不可不辨。（白胎中帶黯色者，及舌下赤色中成皺紋者，又紫色如牛舌者，皆屬結毒也。）崎岙德見茂四郎者，（絲割符年寄。）患鼻淵三年，諸醫以為肺虛，百治無寸效。診之兩鼻流濁涕如檐滴，脈弦緊，腹拘急。予曰：此係肝火熏灼肺部，上下氣隔塞之所為。世醫不知之，漫認為肺病，或誤為風邪侵肺，徒用辛荑、白芷之類。宜乎不得其治也。乃與四逆散加吳茱萸、牡蠣服之，半月許，病灑然愈。蓋此等病宜詳其脈腹，而處方不必四逆散也。</p>
<p>凡病人胸膈不開，則必下不寬，故欲制心下者，先治其胸膈，是醫家一大緊要。竊比之於淨土門一枚誓詞。</p>
<p>一婦產後經二旬，卒嘔吐數日不止，左脅下衝逆痛劇，與吳茱萸湯（參用洋參）忽安。</p>
<p>產後腰膝痿弱者，多系癥癖所為。蓋其初妊時患水腫或腳氣，至產後氣急者，與對證藥。前證愈後，當詳腹診治癥癖，此證最要艾灸。若施湯流及艾灸癥癖為之壓不瘥者，與桂枝加朮附湯、麻黃附子細辛湯，而二三日或四五日之間，以紫圓下之則愈。此即先師東洞翁獨得之妙，而余則因其證與四逆散、理氣湯、十全大補湯等，時時以紫圓下之，每得效。</p>
<p>紫圓以盪滌胸膈為主，故發狂上炎，甚者及產後痿弱，心膈氣不能下降者，皆用之效。昔東洞先生曾以此方治龜胸龜背，即此旨矣。</p>
<p>目疾屬內瘴者，艾灸最效，而專門者忌之為可笑。其他如黃風雀目、肝虛雀目，不知其辨動誤治。蓋黃風者，白睛中生細皺發黃色，用滋陰明目湯、八味丸，單楊抱術等效。肝虛者，烏睛白睛如常，但覺昏暗，故為難治。</p>
<p>松原一閒齊者，吉益東洞山脅東洋師友也，本為若狹候臣嘗治龜胸龜背。及痿躄沉痼者，用起廢丸，其方大黃、生漆、二味研末為丸，未乾時服一錢或二錢。服後大熱發赤疹為知，而因證與他藥則全愈。</p>
<p>一閒齊門人橋誥順治。治一婦人，頭髮發火，每梳之覺火氣至即見光，與三黃加石膏湯痊。予親見一婦歸家，衣里有爆響，投之於暗處皆見火，此皆肝火之所為，不足怪矣。（拙軒曰：明郎瑛七種類稿卷二十六有衣火一條，與此同日之談。又見張芳洲雜言：按人發貓皮暗中以手拂之，常見燈光，且聞爆響。西洋人以為電氣發出之驗，不必肝火之所為也。《醫賸》云：先考藍溪公所識一貴婦，每暗中更衣，火星爆出，同婦女櫛發，於暗中及貓兒背毛逆摩出火之類，蓋體氣盛者，偶有擊而發光者，非真火也。）</p>
<p>十棗湯證有下痢者，因上迫勢甚而熱下陷為利也。故與脫利其趣迥異，如柴胡瀉心下痢亦然。</p>
<p>痘疹下利與傷寒合病下利同。但及十餘日者，與少陰下利同轍，正為惡候。</p>
<p>大津小野又三郎者，患天行發呃逆，五六日微利，其脈變幼無測，眾醫以為脫候皆辭去。予診視半日許，謂旁人曰：此脈非惡候，即肝火亢盛之所為。因四逆散加地黃、古金汁服之，脈頓定，諸證隨痊。</p>
<p>便毒無膿潰，勢將消散者，內托劑更無效。與三物楸葉湯，若不起發者，加附子，服之無效者。概因疝瘕為之妨害，與四逆散加附子奇效。若終始無膿潰勢者，與芎黃散加蕎麥可下之。</p>
<p>小兒胎毒系先天，而世醫不知之，或言分娩時誤飲瘀血為可笑。凡診其毒，先以指頭按肋下，心有凝結。而因其緩急，可察毒之輕重。又面色灰白，或暗黑，或過光澤，皆屬胎毒也。若受父母黴毒者，最為難治。其人平生一手脈不應者，偶者之固無害。若四十以後，一手脈暴絕者，為惡候。此證多房者多有之宜詳。</p>
<p>大腹痛服建中湯無效者，認水分動氣與莎芐湯則愈。又左脅下逆搶痛甚，與諸藥無效者，有水分動則與地黃劑效。</p>
<p>水分動有三：道屬肝腎虛火者，為地黃薯蕷牡丹皮之所宜；其動在表泛應者，為茯苓之所主；其動無根蒂，臍中齊鼓激者，所謂腎間動屬不治也。</p>
<p>京師書肆梅村氏曰：江戶千鍾房有治積氣血奇方，名順氣散，即四物湯、香附子等分研末者。予以為此方有理，因制莎芐湯屢驗。</p>
<p>一男子年二十四，得病五年，右膝腫起如別束筋肉，不能行步，其狀稍類鶴膝風，而其診腹右臍下拘急最甚，按之右足攣痛甚，其性急不能堪物。予以為肝癖固結之所為，即與大黃、附子加甘草湯，數日癖塊發動，病稍緩，因與四逆散，加良薑、牡蠣、小連翹全愈。此證世醫不知，徒為腳疾，用葳靈仙、杜仲、牛膝宜矣，不得其治也。當詳其腹候而治之，此即余積年粉骨碎身之所得，殆為醫家之新手段矣。（拙軒曰：此治驗翁極得意手段，讀者宜究心焉。）</p>
<p>發閒人事不省，藥汁不下者，宜艾灸。最要大壯。不徹者，晝夜灸至七日為度。傷寒發癇者，亦宜此法，大灸至閒瘥，則邪亦隨解。此理醫經所不闡，故世醫恐熱忌灸，可笑矣。（竇材曰：醫之治病用灸，如做飯需新。今人不能治大病，良由不知針艾故也。又曰：世俗用灸，不過三五十壯，殊不知去小疾則愈，駐命根則難。故銅人針灸圖經云：凡大病宜灸臍下五百壯，補接真氣，即此法也。彼此同見，可謂海外子云矣。）</p>
<p>平素有疝瘕者，得大病其塊忽移處者，甚為惡候。</p>
<p>患黴毒不外達，蘊結臟腑，兼見疝瘕者，不可徒治疝瘕，因疝瘕不急於黴毒焉；如已形惡候者，亦當先顧疝瘕。</p>
<p>一閒齊門人橋誥順治一嬰兒痘疹入眼，久未退去赤翳，用生地黃、芍藥、川芎、當歸製劑，日就愈瘳。是與余謂四味緩肝、潤肝、疏肝、瀉肝分取，其治肝病同出一意焉。</p>
<p>傷寒誤下成結胸，用陷胸法者，是誤下。乃下不及病之意，故陷胸法再下之愈。（拙軒曰：此言未有見到者，曷能道之，誤下誤於輕下。正文原是失下，千古無人敢作如此解。）</p>
<p>承氣湯攻黴有捷於汞劑。</p>
<p>患瘵疾便先溏者，建中劑可用。便未溏咳嗽晡熱喘噦痰多者，非建中證焉，投之反劇。</p>
<p>瘵癆勿必由虛起，體質實者遇折傷久延，瘡瘍久不收，亦致癆瘵。然亦實者成虛也。</p>
<p>傷寒七八日不大便，小腹高突者，為惡候。</p>
<p>大津小野又三郎者，患天行愈後，症似癆瘵，咳嗽盜汗。余與地黃劑，眾醫強欲用建中，五七日遂喘急，仍與地黃劑愈。（拙軒曰：建中法必在瘵疾便溏者用之。）</p>
<p>久患便溏，到皮色皎白，肌肉脫削者，瘵疾已成。</p>
<p>癆瘵便先溏泄，艾圓灸天樞、膏肓、脾腧、關元亦愈。灸膏肓可三七壯，灸關元可五七壯。</p>
<p>發癇人艾灸當有忍心。</p>
<p>黴毒亦能致瘵疾。</p>
<p>瘵疾起時有咳嗽者，必失血。</p>
<p>余嘗用薯蕷、生芐、加入四物劑，治愈娠妊嘔吐便溏，患白帶不止，形體瘦，痃癖結塊在腹亦愈。</p>
<p>癖塊食積胸膈，紫圓效。</p>
<p>打撲瘀結，大黃䗪蟲攻下即愈。余治一婦人打撲腹痛，月水欲來不通。萃岡青洲診之曰：瘀結於腹，與余同，惟他藥多劑不知。遂大黃䗪蟲劑，即見黑瘀行而愈。</p>
<p>痢疾不得進藥為噤口痢，然積食不消，胸膈癖塊結實，亦噦惡不可進藥，勿謂一律噤口也。</p>
<p>嬰兒吐乳，一吐直衝即止者易治。吐了再吐，吐出順口而流也，不易治。當分別診之。</p>
<p>傷寒失下多，誤下少。</p>
<p>妊娠患傷寒當下之候，大承氣亦可投。一婦人年二十有六，妊娠三個月有餘，患傷寒已十日，手足冷，身熱昏囈瘛瘲，大便秘結，口燥氣盛，胎動不安，頭額汗。眾醫以白虎證用生石膏、知母、生芐、多劑未知，危已極，胸膈悶急，腹硬而痛。余謂承氣劑可效，投之果愈。（拙軒曰：有故無殞，此之謂也。臨危之治療，不可以有猶豫之意。不獨治妊娠傷寒，如見他證，亦當如是也。）</p>
<p>半身不遂，手足偏廢於左為多。</p>
<p>痘證白色頂陷，保元湯效。</p>
<p>患黴毒者，兼發痘瘡，多危候。</p>
<p>偏廢症，亦有黴毒成之者。</p>
<p>中風證口開眼合撒手遺尿，亦有治者，余常用六君子加薑汁而愈。為市醫者，宜審脈診神而治。</p>
<p>傷寒病後，因勞而復者少，因食而傷者多。</p>
<p>余治傷寒有用承氣法大便至數十行，猶見膠黑黏膩之糞者，豈可執一下不可再下之說也。（拙軒曰：斷病確，然後用藥准。雖一下再下，自亦無妨，然於診斷不可不加之審也。）</p>
<p>喉痹多有急不及藥者，若可進藥，須急投之。</p>
<p>產後治法，市醫必拘於生化湯。然亦有須審他證之急於去瘀生新也，不可不分別權衡。</p>
<p>產後中風，筋絡拘急，手足瘛瘲，四物合薯蕷、生芐、秦艽，補之則易愈，不可概作風治。腹診似較脈診有據，舌診尤較腹診有據。</p>
<p>先師東洞翁屢以紫圓治痰黏膠結氣逆者，蓋亦善用紫圓之妙也。然亦用之當者方效。</p>
<p>松原一閒齊治一婦人，年三十有餘，妊娠漏下，用補中益氣合十全大補兩劑，早晚間投而愈。又治一婦年二十，妊娠亦患漏下，他醫曾用過補中益氣劑、十全大補湯，均不見效，閒齊用地黃劑即愈。蓋一為氣虛，一為血熱，體質不同，治療豈可不諦脈診證而分別也。</p>
<p>桂枝湯治痹痛，亦能奏效。</p>
<p>腳氣上衝，先師東洞翁亦用紫圓治之。</p>
<p>艾圓灸足三里穴，可引腳氣不上攻。</p>
<p>瘡瘍用艾圓隔姜灸，奏效甚速。</p>
<p>桃花治痹泄，亦可通用。</p>
<p>黃疸證茵陳蒿湯不應者，合五苓散必應。</p>
<p>嬰兒抽搐，不必一定，因風、因痰、因食、因熱。如久患瀉利，及大病後抽搐更多，與附子理中湯，每每奏效甚捷。市醫有拘於驚風用麻桂各法，不救甚多。（拙軒曰：喚醒群迷，活人之功大矣。）</p>
<p>艾灸之效甚捷，痹痛亦有不可艾灸者，黴毒痹痛多不可用艾灸。灸則反劇，當慎之。</p>
<p>按摩法宜於嬰兒症，因其投劑易誤也。</p>
<p>解毒劑治風疹見愈者，仍有黴毒夾症。</p>
<p>黴瘡症身體強壯之人，雖勿投劑，火毒漸清。用當歸、生黃、芍藥各治肝藥，每得愈。</p>
<p>患傷寒者投承氣湯大下，反見舌苔黃厚而焦者，必當再下。亦有下後熱反盛者，亦宜再下之而愈。市醫多以一下不敢再下，但余見因下而死者少，失下而死者多。</p>
<p>龜背龜胸，由黴毒而成亦多。</p>
<p>瘰癧亦有根於黴毒之作，不可不諦審也。</p>
<p>支飲易為腫脹，理中法合金匱腎氣法得效。</p>
<p>余治一男子喘症，遇夏季必作，冬時反愈，與他人患喘症者相別。青龍法投之不效，香薷合六一散投之即愈。以治暑症之藥治喘，蓋其喘實因暑而起也。所以治病必求其本謂可信。徵韓一役，患喘甚多，青龍法不效，惜乎未諦審及此。</p>
<p>卒昏倒汗出，肢冷，面現紅潤者，決死。</p>
<p>老人卒昏倒，脈見弦緊革等者，為惡候。如支飲亦然，其面戴陽者，尤為凶。（溫公詩話云：平時充實而光澤可也，唯暴光澤特甚者，死兆也。是如草木將枯，精華頓發而生雀餳，司命者不可不知矣。）</p>
<p>稟質強盛者，偶損下元，虛火上炎，加之以疫邪，醫誤為實，與大柴胡湯一下忽脫者有焉。余故曰：視色不以目，聽聲不以耳。</p>
<p>咳嗽有自心肺者，有自胃中者，不辨之，則治方無效。</p>
<p>腹痛諸藥無效者，香蘇散加青皮姜煎奇中，妊娠大腹痛者尤佳。（徵韓役先哲既發明之。而世醫瞶瞶，實為可憫。）</p>
<p>患瘵疾者，襟際肉先脫，與他病羸瘦不同，宜熟察。（拙軒曰：此診瘵疾一大候，揭出示學者，可謂深切。按蘇遊傳屍論云：此病若脊膂肉消，及兩臂飽肉消盡，胸前骨出入，即難療也。《靈樞·五變篇》云：臂薄者，其髓不滿，故善病寒熱也。東郭說蓋有所原焉。）</p>
<p>久患癇癖者，瘥後其性躁者，為惡候。</p>
<p>遺精白濁屬疝者多，概不可為虛，如強中病亦然。</p>
<p>下血有下焦濕熱而虛者，宜茵陳四苓加附子。屬腸胃實火者，宜三黃湯。腸風下血，腸胃中蓄水飲者，宜四君子湯加黃耆、白扁豆。胃中及下焦虛寒者，宜真武湯。如痔下血，亦可因此法通治。</p>
<p>甘草粉蜜湯，治澼囊病痛甚者效。</p>
<p>傷寒以大柴胡湯或柴胡加芒硝湯下之。熱除後，肝氣大動，譫言妄語如狂者，與竹茹溫膽湯則安。世醫不知之，妄下誤治者多矣。</p>
<p>瘰癧成勞者，與痔漏成勞者，其理全同，但有上下分耳。（拙軒曰：不止瘰癧痔漏，凡瘡口不收，膿水多出者，皆成勞，血液虧乏故也。）</p>
<p>妊娠熱鬱甚則多墮胎，麻疹疫毒最然。此因腸胃熱甚，熏蒸子宮，故用大黃、芒硝無所嫌，巴豆亦時可用，所謂有故無損也。但疫毒行下奪有機，不可忽諸。</p>
<p>兩脅凝結者，直灸章門，則易激動。因先灸風市，則反奏效也。凡灸艾易激者，可善解此理。病在上者，先灸足，漸及腰，則上部寬不激動。因灸其部分，則奏全效也，是與大柴胡湯證候而阻其藥者，反與理氣湯利其氣，而後事疏通則不激同理。灸藥之於疾病，豈有二致哉。</p>
<p>妊娠下部有水氣，至產後不瘥，惡露不下，氣息促迫者，先利其水，則惡露亦通。治發狂用瀉心湯紫丸者，奪取諸快利胸膈也。東洞先生治龜胸龜背以紫丸者，恐不過此意。產後腳膝痿弱與紫丸者，亦疏通胸膈氣以下達也。</p>
<p>癥癖沖逆心下及脅下者，其所沖之眼必為邪視，又有因癖之左右而自異大小者。</p>
<p>妊娠嘔吐不止，水分動甚者，小半夏，加茯苓湯、粳米、薯蕷、生芐奇中。若中氣虛極者，香砂六君子湯加粳米，各㕮咀為炒黑，別入洋參一分，水煎少少服之效。</p>
<p>暴吐血不止，或暈絕者，灸鳩尾穴數百壯奇效。（失血甚者，最要接續元氣，不可畏其炎焰，專尚寒涼，逐漸消伐其元氣。）</p>
<p>小兒吐乳不止者，對證方中加精品麝香皮效。（大人嘔吐諸藥無效者，麝香、桂心二味為末調服效。）</p>
<p>馬脾風、麻疹、丹毒三種，治法略同。而有馬脾風異治者，如無價散是也。（此說太似粗，而細味之有理，精於治療者自知之。）</p>
<p>余嘗讀先生所著《傷寒論正文解》，深知其識見超乘於古人。又讀導水瑣言，養嬰瑣言，大見其治術入神品。特如方意解穿鑿臆斷，或戾古人立方之意，蓋方論創於成無己。而吳昆、李中梓、柯琴、汪昂諸家，各有發明，然或有擇焉未精，語焉未詳者，方意之難解。振古而然，豈止此書哉。（拙軒曰：方意解一書極辨矣。要之一家言，僕亦不能信焉。）</p>

<h2>荻野臺洲</h2>
<p>享和寬政之間，有以醫鳴於京雒者二人：其一為和田東郭，其二為荻野臺洲。臺洲加賀人，學醫于越前奧村良築，後遊於崎陽，受喎蘭術於譯官某氏。業成，懸壺於京師，最以治瘟疫著。當時四方之嬰沉疴痼疾者，不踵乎和田氏之門，則湊於荻野氏之堂。是以二氏治術超越於時輩，獨得精詣。悉出於實驗，為臨證處方之助，豈為不可哉？余乃就其門生所筆獲野家口訣者，編纂以作醫話。如其識見，則有臺洲園業書數種，宜就看而已。</p>
<p>溫疫小便閉，煩躁或昏冒者不治。若陰證小便閉，少腹凝結，按之不痛者，或小便數急淋瀝者，俱與加減真武湯，後兼用辰砂六一散，小便得節度則治。（按：加真武湯說見《溫疫余編》。）</p>
<p>溫疫陰證雖不大便十日以上，不燥結者，不可妄與大黃。</p>
<p>溫疫舌心乾燥者，胸中有熱也。舌本乾燥者，下焦津液枯竭也。舌上白胎如著糊者，少陰虛火炎蒸也。白胎如鵝口瘡者亦然。</p>
<p>溫疫舌兩端有白胎，中央胎已脫者，及舌上潤滑如朱者，是邪熱陷於少陰也。可直與生地黃，若用附子，則倍加甘草。</p>
<p>溫疫熱將解，小便頻數者，熱從小便去也。又有移熱於膀胱而頻通者，但熱將解者，其色以漸清也。</p>
<p>溫疫小血疲勞甚者，宜參附養榮湯。</p>
<p>疫後健忘者，宜安神益志湯。</p>
<p>一老人患直中溫疫，頭痛如割，煩躁，須臾不能臥，手足微冷，脈沉而數疾，與冷香飲子三帖，頭痛半減。仍服前方，四五日全愈。</p>
<p>直中溫疫頭痛如裂者，腎厥之邪直逼於太陽經，故項背亦強也。一男子患此證無熱，頭痛如裂，一老醫認為陽證，與大承氣湯無效，更與柴胡清燥湯，遂不起，豈不浩歡哉。（按：臺洲潛心於吳氏，於達原逐邪之劑，莫所不試。而陰疫治法，亦發吳氏未言之秘，可謂吳氏之忠臣氏。）</p>
<p>膈噎者，以蓄血、痰飲、脾腎虛三者為因。因於痰者，飲食專噎於咽喉也，附子理中湯、旋覆代赭石湯、二陳湯類加松寄生用之，且灸身柱為佳。因於蓄血者，飲食專噎於胸中，且以右肋骨下有塊為標的也，以溫脾湯送下烏神散，或二方更服亦可。因於脾腎之虛者，飲食下胸中，必覺摩痛，或食一納口則吐白沫數口也，先灸氣海。次與松寄生油，又宜服炙豬肉煮汁，若得食其肉者益妙，此證最屬不治。婦人之膈多屬蓄血，亦不可不知焉。</p>
<p>鼓脹自心下漸及於大腹者，實也，宜生薑瀉心湯、大半夏湯。自中焦膨脹者，宜溫胃湯類。自下焦脹起者，宜壯原湯加木鱉子。此病以手鼓腹如鼓者，虛也，屬不治。是為虛實之辨矣。血蠱者，自少腹脹起者也，先與生薑瀉心湯，則其塊徐徐消，然非長服無效。蓋有血塊必停水凝結，其塊益為大，故先利其水而後治血分，則其效捷矣，或副用鱉甲丸亦一策。</p>
<p>腳氣一證，以檳榔為套藥，大概宜檳蘇散加木瓜。衝心者，以童便服檳榔末，或紫雪五分，以童便灌下。此證多屬不治。</p>
<p>熱毒腳氣者，以或有腹熱，或其人自煩熱，或灸之不堪熱，為其徵。凡灸之不堪其熱者，多為衝心候。若脈數者，益危，不可忽諸。若脈緩者，無衝心之患。乾腳氣證灸之不甚痛者，無害，雖脈數亦可灸。</p>
<p>每年夏秋之際，患腳氣者，宜腎氣丸料風引湯（恐謂《外臺》唐風引湯，非《金匱》方也。）類其人寒時預服腎氣丸料，則至翌年不再發。</p>
<p>腳氣麻痹及於口唇者，其毒深也。積年患之者，固無論矣。</p>
<p>腳氣煩躁者，宜粒甲丸。</p>
<p>風濕腳氣者，以疼痛為辨。疼痛者，必不衝心。若將衝心者，宜唐侍中一方。但痛輕者，宜六物附子湯。</p>
<p>云州侯（松江城主）患腳氣腫滿，侍醫與以鯉魚湯，雖小便頗利。其痛不可堪。因請診為風毒腳氣，服杜仲湯痛頓減，而小便日短少，其色漸赤濁。眾以擬議仍連進前方，其病遂愈。</p>
<p>凡水腫與鯉魚湯者，以腹大滿為主，若不腹滿者無效，小林大陵（京師醫師）鯉魚湯合蘇子降氣湯亦效。（鯉魚治水病頗效。然脾胃不和，便滑嘔惡者，不可食。按：範汪方有醋煮法，則為較和醋食當佳。）</p>
<p>凡治水腫導水茯苓湯，以心下悸為主。若心下專有水氣者，宜實脾飲，其他木防己湯、六物附子湯類，可隨證而選用。</p>
<p>水腫證有小便雖不多通。腫氣減者，蓋水之所湊氣亦湊。氣一散，水亦減也。若內陷者，其氣不振，故水不能流以陷於裡也。欲振其氣者，宜真武湯、壯原湯類。其人自陰莖陰囊腫者，亦虛腫也，宜腎氣丸。</p>
<p>妊娠水腫隨胎氣長而甚者，胎壓水道也，分娩則愈。</p>
<p>子癇者，與芍藥甘草湯加乾薑，副用童便可也。蓋產前子癇與產後痙無異，故又宜甘草乾薑湯。《婦人良方》交加散，亦治柔痙。產後之痙病與豆淋酒者，以酒氣緩筋脈也。此等法不可拘產後可，亦治雜病之痙矣。</p>
<p>痛風以發表為先，務宜越婢加朮附子湯，最後與下劑為佳，宜神祐丸。此證不泄下水毒，則無全效。（痛風熱甚者，與禹功散無效，不如神祐之捷。）</p>
<p>嘔吐證與諸止嘔藥不應者，官參一味，五分濃煎。（以水二合煮取八勺。）去滓，伏龍肝末少許，取其澄汁服之。</p>
<p>吐唾不止，用安蛔藥無效者，屬《素問》所謂腎液宜腎氣丸。又有屬胃上寒飲者，仲景曰：喜唾久不了了者，理中丸主之是也。</p>
<p>胸痛證有痰飲，有蓄血。痰痛多在左，血痛多在右。屬痰者清濕化痰湯、枳實薤白桂枝湯、控涎丹類選用之。屬蓄血者，宜與大柴胡湯、龍膽湯、烏神散等。若妄投破血劑則吐血，不可不知。</p>
<p>真心痛者，飲麻油為佳。凡病屬心臟者多不治。</p>
<p>霍亂多繫於胃中停滯，故盛暑時減飲食則無其患。小兒中暑霍亂，尤自飲食發。饅頭類不可食，乳哺者患之少，其因飲食可知矣。熱甚危急者，宜與竹葉石膏湯、白虎湯。乾霍亂者，宜大承氣湯，不可妄與瓜蒂散，調理當用附子理中加桂、補中益氣加附子類。</p>
<p>瘧疾用達原飲加柴胡，其他九味清脾飲類，伍草果者最可也。陰瘧別無治，方用達原飲類，迨病發於晝間宜截之。</p>
<p>左乳上痛而咳者，肺癰也，初起者宜四味薏苡仁湯、甘草乾薑湯類。其人無故臍中腐爛出水者，屬脾胃濕熱，與平胃散加大黃，以赤烏散或奇良末貼臍中為佳。</p>
<p>眩暈有二道：因水飲昏倒者，宜苓桂朮甘湯、奔氣湯加茯苓類，蓋奔氣湯加茯苓主降下，更加附子推下之力反優，因氣虛眩冒者，宜補中益氣湯加附子。</p>
<p>心下有留飲痞硬者，生薑瀉心湯主之。不痞硬者，宜茯苓飲、五苓散類。若留飲腹中有動氣，或腎虛其氣上衝者，宜桂枝、龍骨、甘草、牡蠣加茯苓湯。癲癇者，亦用此方。別有口訣贅焉。</p>
<p>血淋者，宜龍膽瀉肝湯、八正散類。膿淋宜萆薢湯。石淋宜透泉散，又以琥珀油塗導尿管插入之於莖中，則石從墜。冷淋者宜生附散，小便已惡寒者，此方最效，雞卵制芎黃散，亦治此證。</p>
<p>大便閉用雞卵制芎黃散奇效。其方雞子去白止黃，以芎黃散和其中煉，將包濕紙埋之於熱灰中，以灰冷為度取出，去殼研末，白湯送下。</p>
<p>其人當右肋下有塊者，必吐血。婦人經水不利而吐血者，屬逆經，其血必黑，宜大柴胡湯，三黃瀉心湯類。自肝藏發者屬蓄血，其血亦黑，並用前方。自肺藏發者鮮血也，其血雖一滴難治，先與加味百合地黃湯、犀角地黃湯類為是。酒客吐血，屬胃中蓄血，宜三黃瀉心湯。若不止者，屬脾血，宜理中湯。蓋下血久則脾衰失裹血之職，自然止也。獨步散能治吐血下血，衄而屬鮮血者無效。下血者，宜食海魚，不可食河魚。（按：獨步散，乾柿一味為霜服。）</p>
<p>痢疾初起，以發表為緊要。若將噤口痢者，早可大下之，宜大柴胡加芒硝湯。禁口藥汁難下者，咽以生蘿蔔汁，則得能下也。冷痢者，多屬瀉心湯，補中加大黃湯證，而附子之所治，亦往往有之。</p>
<p>咳嗽屬陰者難治。橫臥則發咳，仰臥則不咳者，水飲所為也，宜神祐丸。子嗽者，因胎氣生長，水停心下而為咳也，宜當歸芍藥散。</p>
<p>泄瀉無異證者，宜胃苓湯、補中湯類，又有養胃湯、藿香正氣散、真武湯所宜。若食即更衣者，屬脾虛也。輕者，宜補中湯。重者宜補中益氣湯。久瀉者，可理中焦，宜附子理中湯加赤石脂，或阿芙蓉丸。泄瀉證多因不能泌別水穀，故宜分利水與糟粕。論云：下利不止，當利其小便是也。利小便宜春澤湯加附子。屬中焦者，宜補中湯，或生薑瀉心湯。泄瀉愈後，脈遲細而弱，至夜半或黎明而瀉者，此命門真陽不足也，宜七成湯，或參苓白朮散主之。又有屬實者，宜大黃丸類。</p>
<p>嘈雜者，水氣挾火也，宜三黃瀉心湯、生薑瀉心湯，但心下不痞者無效。（按：心下不痞而嘈雜者，宜旋覆花湯，又吳茱萸一味煎服可也。《古今醫統》云：嘈雜之為證也，倏爾腹中如火發，腔內空空若無一物，似辣非辣，似飢非飢，似痛不痛，而有懊憹不自寧之狀，得食暫止者是也。可謂說盡嘈證矣。）</p>
<p>黃胖或以為感糞土氣，亦非無理，何則？此病中人以上患之者絕無，中人以下往往患之也，宜皂礬丸。又男子脫血後，或女子薄血作此狀者，宜四味補血湯，非皂礬之所治也。（按：因食糞發黃者，《本草圖經》秦艽條引《崔元亮集驗方》云：夜食誤餐鼠黃亦作黃。識病捷法云：鼠盜飲食五穀遺糞在內，人不揀擇誤食，則生黃疸是也。）</p>
<p>風毒腫多壯年者，老人甚少。兩腳雖紅腫不能自潰，先可發散，宜一劑散，後可下之，宜禹功散。治法大抵同於痛風。</p>
<p>病人有呼吸乍失調度。乍復者，不出五六日死。經曰：呼氣出於肺，吸氣入於肝腎。其失調度者，呼氣不能歸腎，上越於肝也。</p>
<p>心中時煩唇紅，發作有時，時嘔惡，聞食臭顴骨紅者，屬蛔蟲，理中安蛔湯加甘草、附子。</p>
<p>反胃者斷穀食，但飲白米飲與理中，大半溫脾諸湯為佳。又有因水氣發此證者，必心下悸，宜生薑瀉心湯。（按：此證亦減飲。余聞臺洲有減飲論未見，蓋減飲事詳見東坡集，與孫運司書，可參考焉。）</p>
<p>穿踝疽不辨足內外腫痛者，宜杜仲湯加蝮蛇。病重者，副用禹功散。</p>
<p>解顱漸長大者，頭骨開壓額前肉也，當施繃帶。初起者，宜六味丸加鹿茸，此方能治解顱五遲二證。蓋本諸薛己之說。</p>
<p>蓐勞初起，宜當歸建中湯。（按《千金》內補建中湯主治可考。）</p>
<p>婦人肩背強急者，以坐藥導帶下則愈。若心下痞者，宜生薑瀉心。（按：婦人肩背強急者，多系痃癖之所為，延年半夏湯最效。）</p>
<p>喘息急者，半夏為末和生薑汁加曲服之甚效。</p>
<p>津液虛燥不大便而窘迫者，下焦氣脫也，當升提其氣，宜補中益氣湯。若不窘迫者，宜六成湯。蓋以補中益氣湯無腹力，六成湯有腹力為辨。若六成湯證而無力者，宜加鹿茸。</p>
<p>竹葉除胸中煩熱，竹茹主豁痰，所治各異。胸中煩悶者，梔子之所主。自心下及胸中者，黃連之所主，亦各有專長。</p>
<p>小兒夜啼，宜安蟲散。（按：安蟲散治蟲動心痛，又小兒夜啼神效。胡粉炒黃，檳榔、川楝子去實，鶴蝨各三錢，白粉一錢五分，鐵器內火熬，砧杵，共五味為末。每服一字，大者半錢，溫米飲服。）</p>
<p>酒齄鼻嚴禁酒。時時以三稜針刺去血，可與辛荑清肺飲。</p>
<p>腦漏者，腦中釀熱以出瘀涕也，古人以為腦移肺熱誤矣。其初流黃汁，後變白濁，甚者溢於咽，且鼻中點滴連綿不止，其狀雖似清涕，以紙拭之，干則發黃色也，宜腦漏一方，又似此證而鼻塞者，息肉也。其初生鼻中，漸逼鼻口，其色初白，次變桃花色，又一等甚者，色如李實熟，此證雖相似，以鼻塞與不塞為辨。鼻息治方見於方鈴，又以瓜蒂末貼紙張捻條插入息肉上，則黃汁出而愈。</p>
<p>丹後宮津侯（松平伯蓍守。）平素無他病，鼻常流清涕不止，余以為肺寒所為，以大棗煎汁服皂莢丸，灸大椎第一間身柱，七日而愈。</p>
<p>症瘡屬表證，宜發表，楊梅一劑散加反鼻主之。其初與遺糧五寶丹等者，甚非也。</p>
<p>疳瘡世貼膏亦非良策，但傅奇良末佳。（按：楊梅一劑散方見於外科大成。）</p>
<p>疳瘡發陰莖表者，為太陽經證，楊梅一劑散主之。發橫面者為少陽經證，惡候也。</p>
<p>莖頭上直筋不破潰為要，若破潰則其毒忽上於咽喉及鼻梁也，燭淚疳亦宜一劑散，兼用結毒紫金丹。</p>
<p>婦人妊娠十指麻木者，系血熱所為，此證夏月尤多。輕者不及藥，分娩則愈，重者與柴苓四物湯。</p>
<p>婦人多屬帶下毒者，不可不諦。</p>
<p>奔豚氣屬虛，支飲屬實，其證相似，而其治迥異，可不精診哉。</p>
<p>水勢盛於外者，衛氣之衰也，宜黃耆湯。</p>
<p>梅核氣與半夏厚朴湯為法。然厚朴無真品，姑與生薑瀉心湯可也。</p>
<p>杜仲湯能治腳攣急在右者，而不能治在左者也。</p>
<p>診病人宜察眼中之了不了，與音聲之爽不爽，此二者清亮則不死。</p>
<p>勞瘵與虛勞易混。虛勞之熱浮泛無根據，勞瘵之熱熇熇熏骨，而眼中甚了，不如虛勞之目中不了了也。四花患門亦治勞瘵，而不能治虛勞。又婦人虛勞者，經水早絕，屬血瘦也。勞瘵者，有至病末末絕者。乃知二病自異也。</p>
<p>暴得痿病，腰足兩股皆不仁，躄而不能步，脈滑而力者，先與瓜蒂散吐之，後以朮附劑逐水則速愈。</p>
<p>雀目當審腹候。若少陽經拘急者，宜抑肝散類。若因脾胃鬱熱者，宜平胃散加大黃或黃連，又用雞肝亦佳。</p>
<p>積年發小瘡癢不可忍者，可與楊梅一劑散，加蝮蛇多量，外以西河柳煎汁浴之。此方亦治癬瘡。</p>
<p>血燥皮膚為癢，及風熱瘡疥為癢痛者，宜當歸飲子。凡一劑散證帶血熱者，非此方不能治。</p>
<p>漏風當背七八九椎際惡寒者，屬氣虛，宜補中益氣湯加附子。又覺手足爪間有風者，亦屬漏風一種，宜補中益氣湯類。</p>
<p>噦逆因胃寒者，宜丁香柿蒂湯，兼用龍眼丸為佳。因痰飲者，宜橘皮枳實生薑湯。肺痿吐涎沫者，與甘草乾薑湯，兼用皂莢丸。</p>
<p>鼻僻者，多發中風。欲防中風者，宜灸章門穴。</p>
<p>中風證氣之所虛，痰必湊之，故以順氣導痰為治法，又中風未發時頭痛者，腎氣厥逆也，為不治。</p>
<p>病人服甘遂、大戟、桃花、大黃類，不下利反腹脹滿者，當和胃氣，宜甘草乾薑湯加芍藥類。</p>
<p>帶下之塊多在卵門下，（斥卵巢耶。）按之則如綿裹，覺溫軟也。又婦人腳痛屬帶下者，十有八九可詳。</p>
<p>陰濕者，由穀氣下流，宜減飲食，徐服萆薢湯類。若其證輕者，地黃、枯礬等分為末，和生薑汁貼之可也。</p>
<p>某侯一日垂釣於水濱，時有溺者自上流來，侯深憫之，命救之，幾死。使侍醫將一角末以管㗜鼻，須臾吐水數升遂蘇。臺洲園有雉雞誤陷於井中，飲水數口，扶之出，殆絕。急將一角末五分，和水服之，須臾吐水霍然痊，乃知一角能解水毒也。</p>
<p>血證脈弦數者，有不測之變，可恐矣。</p>
<p>下利兼腳氣者難治，以下焦虛故也。其他下部有舊疾而並腳氣者，不可不慮。癲癇有因蓄血者，當卒倒吐涎沫時，必咯血乃可去其蓄血。一婦人有此證，新產後霍然愈，乃蓄血盡故也。</p>
<p>喉癬間有屬胃熱者，宜涼膈散類。</p>
<p>腸癰看法，往來寒熱者屬右厥陰，無寒熱者屬左陽明，是為左右別。又一種有二便共閉者，為小腸疽，詳於《外科大成》。夫病在大腸則大便閉，在小腸則便閉，在中央則二便共閉，理當然。而小大腸癰多在右，其在中央者形如硬塊，或於小便閉易混，學者宜於活物上而活看耳。治方不拘三癰：宜選用如神湯，四味薏苡仁湯，大黃牡丹皮湯。又有陰證者，當行附子也，若與下湯仍不通者，癰發於腸中，妨塞便道也。又便腸垢者，宜四味薏苡仁湯加大黃，最初宜如神加大黃湯。一等重者，為大黃牡丹湯也。</p>
<p>纏喉風與喉痹易混。纏喉風發於喉中深處，不可針。喉痹發於淺處宜針，若其腫深者，可吹入礬蠶。喉痹宜玄參、升麻，或清咽利膈湯，副用冰硼散。纏喉風即有一方主之。（按：一方未詳，余與以驅風解毒湯加桔梗、石膏捷效。）</p>
<p>血虛腫氣似黃胖，其腫雖及右肘上不及左者，專在血分而不在氣分也。古人以左右分氣血，可謂不誣矣。</p>
<p>肺癰其初痛陰陰咳則引胸中。而其痛多在左，治宜在始萌。若至其吐膿如米粥，則百可治一二耳。</p>
<p>痘發熱後不見點，通身腫滿而死者，是表伏之證也，名曰肉脹。治方早與反鼻劑可發表。</p>
<p>齒痛宜當歸建中湯者，外以黑砂糖擦痛處則捷效。黑砂糖亦貼陰囊癜風，並牛皮癬不堪癢者立應。</p>
<p>口腫有牙宣與胃熱之辨，牙宣者，上齒或下齒必發於一方，而後波及上下，如胃熱則否。且雖兩證同出膿血，牙宣者膿多，胃熱者少，是為其別。牙宣宜滋陰降火湯，胃熱宜清胃加生芐類。骨槽風自胃熱來者，宜楊梅一劑散。</p>
<p>婦人妊娠七月以上，當與當歸芍藥散，逐水理血，否則分娩後多患下利也。又產後下利者，多因腸胃為胎壓制者，一時得舒暢而水氣下奔也，不如乘其勢與生薑瀉心湯，以盡水氣也。</p>
<p>產後咳嗽，多水浸肺之所為，其治與下利略同。</p>
<p>痛風者，風熱入骨節也，可發汗。宜麻黃湯，桂枝芍藥知母湯亦主之。表證罷，當以禹功散下之。</p>
<p>三井某年二十有餘，腹中拘急，大便硬，飲食如常，但欲眠不能眠，來請診。診曰：子不能眠者，非心氣之所為，其病在胃中。經曰：胃不和則臥不安是也。乃與桂枝加芍藥大黃湯，一劑而知，九劑而愈。</p>
<p>婦人積年有水塊痛不解，或吐瘀液如淡黑色者，或如赤豆滓者，宜溫脾湯，副用應丸。若有蓄血者，右脈閉塞莫怪，是血壓經也。又不論何病，右脈閉塞者，脾胃衰也。不可不知。</p>
<p>因蓄血腹大脹滿者，與血蠱異，其證發作有時，或至夜而脹，至旦則減之類，與桂枝茯苓丸料效。</p>
<p>小兒卒下利發搐搦死者，所謂真中也，先與附子理中湯。餘數年雖欲覃志焦神救活之，未得其肯綮。</p>
<p>吐乳者，專用治吐乳一方，此證漸劇搖頭者不治。</p>
<p>急驚風者，宜桂枝甘草龍骨蠣牡湯。慢驚風因攻擊發者尤屬虛，可禁針，宜甘草、乾薑，或芍藥甘草湯、抱龍丸，《幼幼集成》用靈砂亦效。</p>
<p>諸病拘急者屬閉證，倉卒勿錯置，必有開期。縱使至死，一旦解而蘇。</p>
<p>崩漏輕者，宜當歸煎。重者，理中湯。其最劇者，加附子，兼餌食牛肉更佳。</p>
<p>芽兒衄血且鼻塞者，皆屬胎毒，宜五香加大黃湯。又育不育之辨，大抵俟五十日判然。詳於《千金方》。</p>
<p>風水腫自面來。經曰：面腫者風，足頭腫者曰水是也。</p>
<p>諸瘡翻花者，因榮衛衰也，宜黃耆劑。又痔疾翻花者，胃氣下陷也，宜升提劑。</p>
<p>痧病或以為《左傳》所謂蜮，又云蟲名沙工。吐沙人中之則為此證，此皆就沙字為說也。按：此病本自沙漠之南來，故名痧。猶痘自北虜來，因名虜瘡。疳瘡自廣東來，因名廣瘡也。不可深拘焉。</p>
<p>濕痹但痹而無痛，其初痿弱，後發拘急也。病在表者當發汗，手足屈而不可伸者，宜四物湯加犀角、桂枝。</p>
<p>一婦人年四十餘，左足腫膝大而痛，不能步行者有年於茲，來請診。余診曰：此證似鶴膝風而非也。鶴膝者，膝腫大而膝以下必瘦。今不瘦者，是帶下所使。而其病在表，可發汗，乃與楊梅一劑散，痛漸止，更逐帶下毒而全愈。</p>
<p>臟毒者，五毒鬱熱流注之所致也。其形狀與痔漏類難辨識，然痔發於肛之左右，而不關任督之脈，臟毒發於任督之脈，而不關肛之左右，是為別也。臟毒破血不止者，宜補血湯加乾薑、附子，兼用獨參湯。</p>
<p>風懿舌根如痿，言語不了然者，蓋中風之類也。又有痰迷心竅，舌強而語言不如意者，甚相似。然風懿者屬陰多不治，痰迷者屬陽多治。其痿者與強者，其治自別也。</p>
<p>肝瘍古來無明辨。此證肝臟中生瘍，後見腹中，故不治。其初當脊之右肝臟之裡而發者，或可治，宜透膿散。此病與流注易混，世醫動以肝瘍為流注誤矣，蓋肝瘍比流注甚少也。</p>
<p>鱉瘕在右肋下而冒胃，按之則堅不痛，是屬飲癖。不早治，則後必至脹滿不可治，用白馬溺為妙。</p>
<p>肺痛證《張氏醫通》特論之。初起當中府雲門而痛，後或吐血而死為難治。其初輕者，宜沉香降氣湯類。稍重者，宜補中益氣湯合生脈散。</p>
<p>肺癰痛而咳，肺痿咳而不痛，肺痛不咳而痛。肺癰痛在一陽者可治，在二陽者難治。（按：末二句難解，姑書俟考。）</p>
<p>懸癰生於會陰之側，多由濕毒，臟毒生於會陰，真中陰毒腫自會陰上斜向肛門之傍，膿潰如刀割狀，三者相似而異。懸癰、臟毒，宜朴硝、石榴皮之劑，陰毒宜內托劑。</p>
<p>凡病人右身有所患，則當為血分治之，是為血證看法。</p>
<p>鼻痔㗜瓜蒂，世之所知。濕家頭痛者，亦以瓜蒂末點紙捻入鼻中，嚏出而愈。</p>
<p>小兒頭瘡為胎毒，治之無效者，因母有帶下哺其乳而發也，速換乳母則愈。婦人頭瘡亦有因帶下者，更與八味帶下方，兼用坐藥則愈。（按：八味帶下者，系本朝制方，奇良。當歸、川芎、茯苓、橘皮、金銀花、通草、大黃俱八味。）</p>
<p>吐乳胃虛者，宜附子理中湯、溫脾湯類。若不愈者，與《本事方》青金丹。（按：青金丹治霍亂吐瀉不止，乃轉筋諸藥不效，硫黃三兩研，水銀八錢，上二味銚子內炒，柳木篦子不住攪勻，更以柳枝蘸冷醋頻頻灑，候如鐵色法如青金塊方成，下再研如粉。）</p>
<p>神仙勞名始見董西園《醫級》，（此書四部舶來、荻野福井各藏一本，余入江戶。）此病蓋因胃口蓄血而生，是以不食至數十年，蓄血能養胃氣，故不死。用藥亦非數年則無效，宜溫胃湯、後以禹神散攻之。（按：醫史丹溪翁傳及垣赤道人吹影編。論似此證者，宜參考。）</p>
<p>凡胃中陽氣盛則不傾，若胃陽虛則必側垂，水飲因乘之，名曰澼囊。然按之不應手，但以腹痛嘔吐為徵，宜溫脾湯。若不愈者，服白牛酪效。（按：時還讀我書續錄云：荻野臺州曰澼囊者。《醫學正傳》引東垣云：痞為窠囊者，用紅花、桃仁。據此則澼囊兼蓄血，宜溫脾湯，兼用血劑失笑散類。余嘗觀所吐物，與溫疫蓄血所下物同色，故知其兼血也。）</p>
<p>腸覃在臍下子宮內，幾與胎相似。而經水將來，其痛不可堪者，服白馬溺效。（按：用硇砂亦佳，後條可徵。）</p>
<p>硇砂能治產後腹痛。</p>
<p>帶下者，其病從帶脈下流，故名帶下。蓋其始水飲聚於衝脈，傳於帶脈，以入於子宮，與血凝結為帶下也。故與生薑瀉心湯去水飲，以坐藥去凝結則愈。凡用坐藥有法，深入子宮則其痛不可耐，若但在於陰口則無效，正在陰中，稍近於子宮處為妙。妊娠者三月後不可施坐藥，固雖無害於胎，適脫胎則歸其咎於此故也。（按：台州園坐藥方，杏仁、甘草各三分，丁香一分，枯礬六分，片腦五釐，上五味為竄，三日一換之。）</p>
<p>婦人淋疾，與露蜂房散有捷效。（按：露蜂房能釀乳，今與淋同其治妙。）</p>
<p>崩漏與帶下同因。蓋水血混淆則為帶下，不混淆則為崩漏也。</p>
<p>肝氣厥逆為耳聾。耳聾者，以瓜蒂散吐之，後與柴胡清肝散類。若虛者，先與清肝散，候其實可吐之。大率百藥無效者，得一吐必愈。</p>
<p>帶下有成虛勞者，其初以寒熱往來也。夫帶下鬱則生熱，系少陽則成此證。子宮亦屬厥陰，故睡覺時唇舌乾燥也。</p>

<h2>華岡青洲</h2>
<p>青洲學識才力，較之艮山友松，不無軒輊，而專以精思攻苦，踵事涉歷之，故其治術多出人意表。蓋青洲次諸彥之後，薰陶之力固多，加之治瘍之聲，獨擅海內，此其人與時為得宜也。</p>
<p>夫欲善外科，先宜精內科，何則？瘡瘍雖百端，不能出於陰陽虛實，苟審之而施之治法，則於外科無有間然矣。（青洲內外泛應，無不曲當。由其脈證分辨處，無不清晰。更由其內外合一處，無不貫徹也。）</p>
<p>學醫者，如宋儒窮理，不先格知人身道理，而後審疾病，則不能至極致矣。（拙軒曰：青洲翁常誦醫唯在活物窮理之語，以教誘後進。洋學未闢之前，早著眼於此。故其截斷之術，窮洋人所未窮之理。翁之於瘍科，所謂斗南一人也。</p>
<p>失榮氣癭委中毒三病，先哲以為難治，予亦未得其治。嘗視橋本驛工匠某，左頸下發如瘤者，因論價者曰：此氣癭，恐數日後出血至死。果如其言。又視同病者，不過四五日迸血而死。如委中毒膝脛漸肉脫，骨尖黑蝕，惡汁出而死。世醫動謂治此病審之時毒，就足脛而漫腫者耳。和州一婦人患失榮，瘡未翻肉而口噤難飲食，試用五寶丹，腫稍減，口能食，而遂死。又一人與猛升汞丹，大瞑眩而病頗瘥，後再發至不起。</p>
<p>凡腫塊有動氣應手者，所謂動脈也，不可妄刺。誤之則迸血便死。</p>
<p>世所謂神仙勞者，與抑肝扶脾散，莪稜為主，兼服辰砂散，或左金丸則愈。</p>
<p>肺部有毒者，必見數脈不可忽。若微咳帶咽痛，或吐白沫脈數者，為瘵狀，遂至死。蓄血下利者，不可攻，攻之則反促死。宜諦其腹候及舌色，千金黃土湯，或黃連解毒湯主之。</p>
<p>傷寒汗出惡寒，近衣被則汗益多，去之則惡寒反甚，數日不瘥。與柴胡桂枝幹薑湯，桂枝加黃耆湯等無效。或譫語不食，終至危篤者。蓋有二道焉：一則內熱燃盛，津液溢表者，為越婢湯；一則表虛多汗者，為溫經益元湯。（此證必舌上見白點。）</p>
<p>一處女年七八歲，兩腳痿弱不能立，右足心發水泡，其狀如火傷，刺之水出，泡潰而外生紅暈，按之微痛，經二日水泡及足跗浮腫，指頭色點黑，此痿弱更不能流通血氣，故為毒腫也。先與桂枝加朮附湯，時時以紫圓下之則愈。（此即東洞先生衣缽，東郭先生亦續其傳燈。）</p>
<p>蝮蛇咬，內服烏頭湯，及紫丸，外塗柿實汁則愈。</p>
<p>石淋非生會陰者，多生在陰莖中，割斷去之，縫合貼膏，內插鶴羽莖補便道為妙。</p>
<p>手足創傷絡噴血不止者，醫或縫裁其絡而血益甚，是與刺委中尺澤時縛其上際，則血愈出，其理同。</p>
<p>小兒解顱初起者，急與葛根加朮附湯，兼以紫圓攻之則效。其證已成者，攻之則促命也。（紫圓能治上部毒，七寶丸能治下部毒，或以乾坤為二丸名。有理。）</p>
<p>創家眼中見黃色者，脫血候。</p>
<p>咽喉創系氣道者，小則治，大則不能治，如食道創雖稍大多活也。</p>
<p>破傷濕治方見《證治準繩》，然不如越婢加朮附，虎杖莖湯神效也。（拙軒曰：虎杖根解散凝結，虎杖莖治破傷濕灸火熱，見《青洲醫談》）</p>
<p>臟毒看法，先控肛門穀道腐蝕為廣闊，下如赤豆汁。其臭甚者，臟毒也。毒甚為翻肉者，多不治。</p>
<p>舌疳療之可救十之八九，先割去其腐肉，用熏藥為主。然腐蝕及齒齦者不治，癲癇眼目緊縮者，瞳子散大者，俱不治。</p>
<p>乳漏久不愈者，始以祛毒膏為紝，後以長肉膏換之，內服葛根加朮附湯，兼用端的丸。又毒凝結者，大黃牡丹皮湯，伯州散選用。</p>
<p>腐骨疽近胸腹及五臟者，不可納紝，紝之則反見脫狀。</p>
<p>眼胞或唇吻生疙瘩者，向裡面取之為妙。</p>
<p>腫瘍見流注狀者，不論何因，與越婢加朮附湯而可。（此初起者，至日久者，不割破去膿，則無治法。）</p>
<p>黃癉始萌以三候為徵，曰眼中黃，曰心下痞，曰小便黃是也。雖身色如故，有此三候，則為確矣。又癉愈以眼黃去為徵也。</p>
<p>喘息劇者，麻杏甘石湯，或麥門冬湯，方中加沒食子效。蓋沒食子能祛胸中膠痰，而世醫知者鮮矣。（拙軒曰：治破傷濕以虎杖莖，治喘息以沒食子，皆翁之發明。亦窮理中之事。）</p>
<p>痼疾與汞劑以小量長服為要，譬之如晴天灌一壺水於地上，漠然無痕，以小酌屢注，則水自徹底焉。</p>
<p>走馬疳，其毒甚猖獗，經日則爛齦腐骨遂至死。若初起口臭出血時，早施治則尚可救。文化十年六月，一兒年八歲，患此證，其腐已及齒齦，齒脫三四枚，服以蘆薈消疳飲，兼以人中白散，不出旬日愈，齒再生矣。</p>
<p>痘疹雖出於後世，其證之陰陽治法之溫清，與癰疽無異。（許叔微曰：能醫傷寒，則能醫痘疹，能醫痘疹，則能醫癰毒。彼自傷寒悟入，此自癰疽入，道異而理同。名工所見略相同）。</p>
<p>風眼破潰出血不止者，犀角地黃湯，兼三黃湯效。血止而痛不止者，與通明湯，外施蒸藥則愈。</p>
<p>婦人頭瘡久不愈，諸藥無效者，與桃核承氣湯，兼用桃花散則愈，塗桃仁油亦可。</p>
<p>冷痢誤用疏滌劑，白膿反甚者，與東井和中湯效。</p>
<p>產後遺尿者，與參耆湯加附子效，蓋方中益智倍加為妙。（又一方紅花、洋參各一兩，上二味，銼用鳶一羽去腸納之於腸中，燒存性，溫酒送下。）</p>
<p>甘草乾薑湯，能治自汗、盜汗，其理與承氣湯治陽明自汗同，此湯又治胸脅偏痛，此皆毒迫於心胸所致也。世醫不知之，徒就汗與痛施藥，宜矣不得其治。</p>
<p>產後暴泄與胃風湯速愈。若數十行後，心下痞滿者，宜與生薑瀉心湯。</p>
<p>或曰，走馬疳疔之類或然，余視至其死者與疔無異。喘家以紫金丹攻之，則吐濁唾臭痰而愈。白散亦能吐痰，然彼專吐在肺管者，此專吐在肺府者，其部位自異。</p>
<p>解顱初萌，與葛根加朮附湯，時以紫圓攻之則愈，若漸甚如斗大者不治。又小兒四肢痿弱者，用前方而愈，是其證異而其毒同也。若痿弱脊骨突起者，及左右證異如偏枯者，不能急愈。</p>
<p>凡欲用麻沸散，先與半夏瀉心湯疏心下，而後不用之，則不能奏效。（此法自奧村叟吐法脫化來。）</p>
<p>夫欲與麻沸散，宜審其證。若血色不爽，胸中有滯痰宿水，或心下痞硬者，不可與之。先治其證候，而後不施之，則誤人不鮮。又服麻沸散不瞑眩，則不可施術，誤施術則亦害人矣。</p>
<p>服麻沸散瞳子散大，脈弦數者，是為瞑眩之候。</p>
<p>發癇角弓筋惕，氣急促迫，或叫呼者，與甘草乾薑湯效。</p>
<p>委中毒初發寒熱甚，委中腫痛，後黑色腐壞，針之黑血出無膿氣，膝蓋肉脫，宛如天刑病，人證固屬不治。</p>
<p>氣瘤氣癭不可妄下手，反生害。</p>
<p>痙病初發，必兩腮剛強，先與葛根湯，可針於合谷及髮際則治。若見脫候者，十全大補湯加荊芥、附子，兼用豆淋酒加荊芥。然角弓反張甚，水藥不下咽者，及口開者，不治。（傳云：痙病握手者刺合谷穴，其深一寸五分或二寸，刺髮際以淺為佳，鐵針尤良。）</p>
<p>破傷風其初項背強，或言語謇澀寒慄者可治，宜葛根湯、續命湯類，無患子、虎杖莖二味煎服亦效。若至角弓反張，則多難治，產後痙病亦同此法。</p>
<p>痙病脈浮澀為吉，若浮數者必再發。</p>
<p>一婦年五十餘，患舌疳，其形舌傍疳蝕如翻肉，而腐爛及於齒齦，乃以腐藥拔去其翻肉，服以黃連解毒湯，而外用熏藥者，凡百日，餘毒盡，病痊愈。</p>
<p>行熏藥者，後不用下劑，則無全功。舌疳者，用紫圓。若由黴毒者，龍門丸主之。</p>
<p>近世患真流注者，甚少，今見流注狀者，身體必為瘡痕，與《外科正宗》所論大異。</p>
<p>一人年二十餘，腋下漫腫，按之少痛，其狀似痞癖，而其左足有瘡痕，因為外因流注，與越婢加朮附湯，時時以紫圓下之愈。</p>
<p>留飲兼蓄血者，非精腹候，則難得其辨。</p>
<p>鶴膝風或結頑毒固難拔者，宜烏頭湯、桂枝加朮附湯等，加角石。凡治毒難動者，為角石專長。</p>
<p>黴毒上攻凝結頭項者，與桂枝湯，加茯苓、蒼朮、烏頭、細辛、防風，兼用消毒丸。</p>
<p>苓桂朮甘湯加附子，能治黃胖病。胸中有動氣者，為鐵粉、蜀漆主治。</p>
<p>㿗疝施針刺，清水出者，不膿潰。血水交出者，必膿潰。膿潰者，反易治。</p>
<p>腸痔血出者，實證也，水血交出者，虛證也。</p>
<p>乳岩有經水者易治，經水斷者難治。又乳岩者，懷孕則其核忽成大也。</p>
<p>脹滿一證，有因水氣者，有因結氣者。水氣者屬實，故易治。氣結者多虛，故難治。</p>
<p>吉雄元吉曰：患脹滿而死者，荼毗之腸中一塊凝然存，視之堅硬如石。西洋人曰：腹脹病動脹大管生如肉瘤者，四肢血脈為之妨害，漸至手足削小，或然。</p>
<p>狂癇血暈，其證相似而異，不可不辨。狂者妄語不止，癇者易驚，物劇至角弓反張。血暈，精神昏冒，甚者口噤，此證汗出脈無胃氣者死。</p>
<p>瘈狗傷外貼中黃膏加杏仁、甘草，內服黃連解毒，加木鱉子，兼食蟾蜍膾為良。</p>
<p>脫疽覺痛者，未腐蝕也。不知痛者，既腐蝕也。</p>
<p>淋疾為小便自利者，與參耆湯加附子效。</p>
<p>肩凝腰痛左手有創，右手有塊，處處疼痛者，流注毒也。宜與越婢加朮附湯，時時以紫丸下之。若虛脫者，宜參耆桂附劑。</p>
<p>金創在膈膜者，不論遲速必死，在臍上者為險，在腹者不用紝，近臟腑故也。</p>
<p>礬石、巴豆、斑貓、烏頭等毒皆屬熱，故解其毒以冷水為佳。（按：天地間不論草木蟲石，凡稱酷毒者，皆辛熱品也。故解毒藥以苦寒為主，如黃連解毒湯、苦參湯是也。）</p>
<p>腐藥最為瞑眩，不可不知。一病人臀上施腐藥，其毒忽上攻衝心死。</p>
<p>腐藥瞑眩，其證微者，惡寒發熱，或渴，或飲食不進。劇者煩渴或煩悶，其毒迫於心下，遂至促命期，急當救之。宜黃連解毒湯，甘連加石膏綠豆湯等。</p>
<p>產後戰慄者，血氣新虛，邪氣襲之也。先與荊芥沉香湯，或與十全大補加荊芥、炮姜。更虛者，又加附子。蓋戰慄至四五發者難治。然脈緩者可愈，緊數者為不治。</p>
<p>產後血虛，舌赤爛痛者，八物湯加鹿胎霜奇效。鹿胎霜亦能治產後下血不止者。</p>
<p>身體疼痛，概因血氣凝滯，如金創天刑為痛者是也。故與行氣劑則愈。</p>
<p>㿗疝病根抵於少腹，故大腸下垂陰囊也。宜先辨其難易而施治法，陰囊偏墜漸腫大者易治，陰囊有消長而痛引少腹者難治。余嘗遭陰囊消長證施針刺，則大便隨下，不堪臭氣，大困矣。又有因黴毒偏墜成頑肉者，宜以剪刀割去之，若貼腐藥反害。</p>
<p>胃脘癰疑似肺癰而不止肺部，痛亦連少腹，吐膿血也，治法宜排膿散、桔梗白散。小兒發解顱者，其初必發熱，牙關緊急天吊，宜先其時治之。葛根加朮附湯兼紫丸，為得矣。若解顱證已具，多不治。</p>
<p>角弓反張無吐下者，急驚風也。搐搦上竄吐下者，慢驚風也，四逆湯、柴胡抑肝湯、惺惺散、清脾散。或的里亞加隨證投之。後藤氏用柴胡加龍骨牡蠣湯，未知其應否也。急驚風則病間明瞭，慢驚風則病間似睡，以是為別矣。慢驚風則發以上必昏冒，多屬不治。</p>
<p>偏枯不論老壯，可用桂枝加朮附湯。其急迫者，以紫丸下之。診其腹不拘急者可治，拘急者不治也。是氣不能循環者，故雖下之，拘急不解也。</p>
<p>中風偏枯發作有時，多屬癇家，桂枝加苓朮附湯時時以紫丸下之。藥不久服則難治也。又婦人手臂屈伸不止者，癇也，大七氣湯治之有奇效。（拙軒曰：以上數十則，盡是實際實語，翁精神之所注，百讀不厭，學者宜奉為金科玉律。）往年門人服部方行，（字子執。村上醫員。）喜先生說，就其書中抄錄之，為敘其略曰：先生醫術內外理，隨證應變，渾從實際來，故方有準則，術有活用，後學不可以不研究焉。因請正於余，時方行嬰腳疾遽沒，後余有此著。乃刪潤其稿以表遺愛，且系以小詩云：多年曾樂與余遊，豈計慗遺忽一秋。殘月當窗人不見，滿天風露滴空樓。</p>

<h1>卷下</h1>

<h2>永富獨嘯庵</h2>
<p>獨嘯庵能脫灑風塵，義氣慷慨，似不屑醫。而至其失鑑誤治，詳錄以為後圖。是以年雖未滿強壯，治術多可見者，今就其遺著鈔一二云。</p>
<p>痢疾初起，尤可重發汗，而俟邪氣聚於胃，與大小承氣湯為得也。（按：疫痢汗下之機，最為緊關。其初發汗徹透，則十可治七八。若里證不失下劑之機，則痢後諸患無起，誤其機則多至脫候。）</p>
<p>傷寒二三日，脈沉數，虛里如奔馬，或心下痞硬者，後皆為大患。</p>
<p>病勢緩者，死生易審定，如勞瘵、膈噎、鼓脹之類是也。病勢急者，死生難預決，如傷寒、麻疹、痘瘡之類是也。醫須精苦，勿誤此機。</p>
<p>癲癇固為難證，而男子精欲未發者，婦子天癸未至者，灸藥得當，則十可治四五。但稟之於先天地得，決為不治。</p>
<p>家豬膽通壅滯，下逆氣，功不讓熊膽。熊膽多贗，非精鑑者不能辨也。（拙軒曰：按諸膽功用相均，牛膽猿膽亦可代用，勝贗熊膽遠甚。）</p>
<p>韓參潤渴下氣，其功過諸藥。而世或謂韓參制焙失其性，不如芳野之產，可謂冤矣（余聞之對馬人韓參肥大長四五寸者，人含之則走不必喘，雖冒煙火亦不為熏殺。又聞插花者，言採牽牛花，㕮咀韓參傳其莖中，則不急萎。蓋韓參當暑月浸諸甌水，俄而噴出泡沫如濁酷浡沸之狀，故用之足以見此說之確矣。）</p>
<p>今世患黴毒者，多兼氣疾。故處方不兼理氣之藥，則毒氣凝而不散。</p>
<p>淋疾痔漏亦因氣發者不為少，攻之兼理氣之藥可也。</p>
<p>痿躄初發，其人無濕毒及瘀血之諸症。而心下痞硬弦急者，是為氣疾，宜吐之，而後服瀉心湯為佳。</p>
<p>勞瘵不可治，似勞瘵者可治。膈噎者，不可治，似膈噎者可治。世醫動謂能治之，蓋其似者耳。</p>
<p>吐血因酒者易治，因氣者難治。一發尚可，再發多死。吐血後見腫者，危矣。</p>
<p>人多思慮，火易動，火動則津液涸，加之恣欲，則為腎勞，腎勞亦多氣疾。氣疾為痿躄者，其陰多先縮小，及其將愈，其陰先舒暢。</p>
<p>黴毒稟於胚胎者，決不治。假令一旦得痊，後必發。為人父母者，可不慎之於其初乎。</p>
<p>痙病有表證，而手足拘攣癱瘓者，以葛根湯發之。表證既去，拘攣癱瘓不休者，與大柴胡湯而愈。</p>
<p>中暍吐瀉，手足厥冷者，有二途、一宜四逆湯，一宜白虎湯，醫應湛思診之。（霍亂熱厥冷厥之辨，亦宜審之）。</p>
<p>《金匱》胸痹心痛之治方，多用桂枝、附子。而澆薄之世，人民黠而多欲，以鬱蒸氣火。故可芩、連者多，可桂、附者少，宜詳其證候而勿誤之。（仲景門牆之外，別闢畦徑。非精思治術者，孰能為之。）</p>
<p>產後血氣易涸，尋勞傷精神，則舌乾、泄利發咳為勞。又新產時惡露不全盡，則凝結上衝舌爛，泄利發咳為勞。（蕁勞說二途，誠不磨之論。專門產科恐未能明悉此義。）</p>
<p>傷寒二三日，心下痞硬，脈沉數者，後為大患，可微吐之。（傷寒行吐，不可過二三回。得一快吐則止，用瓜蒂三分若五分。其治一逆，則急者促命期，緩者為壞證。）</p>
<p>傷寒與承氣湯不得下者，當行吐方，而後再下矣。（此諺所謂欲得南風，先開北牖之意。尿閉亦有此法。陳修園曰：譬之滴水之器，閉其上竅，則下竅不通，去其上竅之閉，則水自通矣。用補中益氣湯或吐法甚妙是也。）</p>
<p>傷寒外證已解，胸中有停痰宿水者，微吐之。</p>
<p>月事積年不來，心下痞硬者，及淋疾濁證心下痞硬諸藥無驗者，當先與吐方，而後服對證藥。</p>
<p>痿躄初起，暨病將發者，其心下有痞，則先吐之為佳。（荻元凱曰：暴得痿病，腰股兩足皆不遂，脈滑而有力者，宜先與吐方，而後用烏附劑。）</p>
<p>欲決病之治不治，定死生之期者，當審腹中虛實。凡候腹之法，如易而實甚難，何則。有如虛而實者，有如實而虛者，有因邪而虛邪祛而實者，有因邪而實邪祛而虛者，其決得於手而應於心，父不可以喻子焉。</p>
<p>水陸草木之花實不一，有乍開乍落者，有倏花倏萎者，有花盛而無實者，有無花而結實者，有花小而長存者，有花大而乍落者。疾病之染人亦如此，醫當察其開落之機，慎芟刈之期。</p>
<p>醫為病制，則雖藥峻劑大，其病不易治也。醫制病，則雖藥慢劑下，其病可治也。醫宜謀諸未病之日，徵諸既病之日矣。（拙軒曰：醫為病制，醫制病，語極妙。醫書中無此文字，學者免為病制之醫則難矣。）</p>
<p>閱諸病者，不治而自愈者，百人之內不過六十。其餘四十，十人者必死證，十人者難治，十人者險證，非良醫不能救，特下工所療者，十人耳。世醫不知此區別，漫忽施治，取狂妄之名，遂歸罪於古方，何不省之甚哉？余奉古方以汗吐下之方療癲癇、勞瘵、喘息、鼓脹、膈噎之類數年，始知此區別，診視不迷，左右逢源。而後信古人之技，不在既病，而在未病也。</p>

<h2>惠美寧固</h2>
<p>獨嘯庵遊藝州也，專講吐方。始學之者，為奧文叔，其次為惠美寧固。寧固亦與吉益東洞切劘古方，別為一家。其徒所著寧固醫談吐方私錄，吐方攝要，斑斑可以徵古方之盛焉。</p>
<p>淨心誡觀曰：四百四種病，以宿食為根本；三塗八難，以女人為根本。又南海寄歸傳，載斷食療病。據之則食之一途，為病最夥，而吐之一法，祛病最為捷徑矣。（拙軒曰：百病飲食為本。人唯與口謀而不與腹謀，故往往致災。將食，問諸口曰可也，問諸腹曰未可也，乃止品從腹，從而後下箸，此是養生第一義。上出廣瀨梅墩塗說，雖不關吐法，語甚有味。）</p>
<p>水氣妨氣道，喘急腫脹者，宜鎮氣道水氣，越婢加朮苓，木防己加苓，兼服石中黃丸為佳。</p>
<p>食欲之害人，甚於色欲。而世人徒知色欲之害，不知食欲之害，悲夫。</p>
<p>小兒疳眼，大人雀目，皆因胃中宿毒，妨害精氣之運用。小兒早斷乳為飲食者，此證最多。按其腹必滿，故祛胃中之毒為要。</p>
<p>傷寒病胃實，與水結易混。而水結證有宜下劑者，有宜附劑者，舌胎脈候，當精思甄別。</p>
<p>消渴有因黴毒潛伏者，不可不知。</p>
<p>因閼逢（方名）瞑眩而口中腐爛者，將嚴醋少少嚥下為佳。若煩渴熱者，白虎湯加黃連。咽喉及口中痛者，甘連湯加大黃、枯梗。</p>
<p>天行熱病，兩手或舌上瞤動者為凶候。（此證有發癇卒厥而死者，不可忽視。）</p>
<p>病後發禿落者，貼蒲黃霜為佳。（拙軒曰：此證反鼻霜麻油調塗患處亦佳。）</p>
<p>小便閉者，瓜蔞實二錢為散服效，此理可玩。</p>
<p>狂、喘、勞三病，皆屬胎毒。毒攻心中者曰狂，攻骨䯆者曰勞，攻胸膈者曰喘，其根同而枝葉異也。若狂愈而為勞者死。</p>
<p>大便閉與巴豆、大黃等不通者，他藥中加木香效。（按三和散中木香即此意。）</p>
<p>渴有因水氣者，有因熱者，又有病將解而發渴者，可辨。</p>
<p>傷寒有自得吐者為佳兆，若不吐則為結胸，若欲吐不吐者，可與一物瓜蒂散。</p>
<p>動悸有因氣血凝滯者。凡血氣之所凝，皆為動悸，不止心下也。</p>
<p>喘家不可妄吐，苓桂朮甘湯加蘇子、杏仁佳。</p>
<p>發禿落宜苓桂朮甘湯，雀目亦與之，蓋此二證為同因，何則？水氣凝滯於頭中，毛髮不能為之榮，故禿落，水氣壅遏於上部，精華不能為之注，故晡時失明，其理一而方亦活。（拙軒曰：融解貫通，圓機活法。）</p>
<p>黃胖其因多屬胃中不和。爪甲白剝者，胃氣不足，氣血不能達也。</p>
<p>一男子頭並兩手振掉不止，得之二三年，腹中和，飲食如故。余謂仲師所謂四肢聶聶之類，與防己茯苓湯愈。</p>
<p>和胃湯本於芍藥甘草湯，故任脈拘急者與之尤效。若不瘥者，為建中湯，蓋此證疑似柴胡湯。然柴胡專繫心下，此方全涉腹中也。</p>
<p>山錫杖一名土山母，主瘀血痛，故能治產後手足疼痛。</p>
<p>小便閉，先與調胃承氣湯加滑石為得。（按：雞峰方治大小便不通，煩亂，四肢漸冷，無脈，以大承氣湯。此即通後竅而前竅自開者，此方即系前後雙解，亦一手段。然施之於虛憊溺閉者，恐生大害。金匱八味丸主治，宜參照耳。）</p>
<p>陰狐疝多難治，而葫蘆巴丸能治之，予近得之於江都醫人稻村三伯者。</p>
<p>治舌疳椰子油一味煮沸，以木綿浸之，色黃為度。將其綿貼疳上，以燒針熨其上。日二，以不堪其熱為知。內服涼膈散加石膏，時時與豆黃丸下之。（拙軒曰：此方奇甚，他日須試之。燒針直刺疳上止腐蝕者，予亦屢用，十中可治三四。）</p>
<p>鼓脹、勞瘵、陰狐疝、膈噎、天刑、喘息、肺痿等，概屬不治，故不敢下手。</p>
<p>反胃先與柴胡瀉心湯、陷胸湯等，疏其胸腹，而後與吐劑，則全愈。</p>
<p>遠年患腹痛者，吐之則愈，又安中散加薑黃、蒼龍丸奏效。</p>
<p>漆酒治瘀血痛，其效勝於起廢丸，又能治舊腹痛。中其肯綮者，必發吐下。</p>
<p>凡欲行吐方，先審其腹候。其心下堅實者，與瀉心、陷胸、柴胡之類。制其胸腹之毒，一二月或三五月而與吐劑為得。不然，則吐方無效，且不堪瞑眩也。（土生昌有嘗從寧固受吐法。其說曰：凡用吐劑，先與黃連解毒湯，六七日而後用之，詰朝啜熱稀粥一碗，禁午食。瓜蒂散六分，以豆豉湯送下，少頃為吐。吐了，又與瓜蒂散如前法。又吐了，更服鹽湯一碗吐之，又將拈紙探吐。凡吐四次，始藥力達肯綮而後徐徐進熱稀粥一碗，又與黃連解毒湯六七日，或兼用滾痰丸。此吐法之大概也，宜參用。）</p>
<p>心下有小塊，或病毒妨氣道，短氣者，不可吐。</p>
<p>服峻下劑以平旦為是，前夕宜減晚餐，其明服之。若食谷在胃，則反發嘔吐，無藥效。如微下法，則非此例也。</p>
<p>用瓜蒂散（瓜蒂三分，赤小豆三分。）亦以平旦為是。服畢將吐者，一人持其首，一人按其章門穴，以要快吐，吐時宜少俯首。其人嘔氣不止者，藥力在中也，宜強吐之，或鹽湯促之。胸中煩悶者，必發吐也。若欲止者，與砂糖湯。若病不瘥者，又當與獨聖散三分。（此機非熟達者難施用。）凡服瓜蒂散後下利者，為吐已之候。又發渴者，及舌上發黃黑胎者，為毒盡之徵。吐後一日禁食餌，至翌日少與糜粥，不可遽食膏粱油膩，若犯之，滯食至死。</p>
<p>淋疾小便難通者，蠶砂二錢，滑石一錢，甘草五分，煎服頓愈。</p>
<p>老人患淋疾四五年不治，或至死者，是積年之毒，流注於膀胱也。其治在胸中，宜三黃瀉心湯，加阿膠、滑石，兼化毒丸。</p>
<p>淋疾先施對症方藥，外以手巾浸熱湯蒸腰眼八髎邊，又將陰莖插入竹筒中蘸之於熱湯中須臾，欲小便時，以手摩擦小腹通之。（所謂泄閉術。）一蒸一擦互施之，下焦氣運，小便分利。不然，則雖服藥無速效。</p>
<p>《千金》漏蘆連翹湯，以芎藭代漏蘆效。大黃牡丹湯，亦以白芥子代瓜子，白芥子能散血故也。（按《聖濟總錄》大黃牡丹湯，用消石、芥子，名大黃湯。與此說暗合。）</p>
<p>《外臺》桔梗湯能治肺癰始萌者。雖證候未具，口有腥臭者，用之尤效。敗醬或代葶藶。</p>
<p>小兒陰狐疝者，水氣著經絡注陰囊者也，附子、茴香、甘遂之類，為末服之效。</p>
<p>小兒喜食㶿炭或壁土者，輕粉、砂糖，等分為末，糊丸服之，消疳飲紫圓亦效。</p>
<p>小兒聤耳，獨聖散點入於耳中，則黃水出，即令兒橫臥，去其毒水。</p>
<p>啞者，系胎毒壅閉上部也。耳不聾者可治，聾者不治。</p>
<p>小兒初生，湯藥不能下咽而溢鼻者，為惡證。</p>
<p>小兒驚風，角弓反張欲死者，紅花、鬱金等分為散，以新汲水送下得效。</p>
<p>生兒兩手瞤動，如弄傀儡，臍下左邊拘急者，與《千金》陷胸湯，兼用紫圓速效。凡毒著胸中者，陷胸湯主之。</p>
<p>胡黃連能解胎毒，故古人往往用以治小兒五疳，今甘連湯加之特效。（此品本草云：治女人胎蒸消果子積，亦可活用。橘宗仙院以此品一味為糊丸，治婦人惡阻不止者，亦奇驗。）</p>
<p>婦人赤白帶下，其病多根柢於心下。故與三黃瀉心湯，加阿膠、滑石，兼用化毒丸。</p>
<p>凡不論男女，中年以上，腸胃生癥癖，腹底如石者，及平生舌生黃黑者，若得新病。雖輕淺，荏苒廷日，治之有法，當先治其新病。若誤攻其癥癖，則反生大害。若新病瘥後，其症可攻，則當治其痼疾。（仲師先治其卒病之旨，其說最著明。）</p>
<p>婦人前陰生蟲者，與汞劑效。（此恐陰蝨，俗擦以輕粉速愈。）</p>
<p>婦人陰門大腫者，龍膽瀉肝湯效。</p>
<p>婦人經事不調，因飲食者，多下白濁汙物宜審耳。</p>
<p>一婦人崩漏百餘日，眾工束手，余與茯苓四逆湯加浮石愈。</p>
<p>子癇世以為胎中子病，誤也。此證多因催生水毒沖逆者也，故與瓜蒂散吐之則分娩，而其證速愈，又與《千金》陷胸湯、熊參湯可。蓋此證與產後痙病相似而大異。</p>
<p>妊娠惡阻，飲食不下，諸藥無效者，宜桔白丸。（恐桔梗、白散為丸者。）</p>
<p>難產者，得小吐則愈，是升降氣通故也。世醫或用鹿角菜、雲母，余概用瓜蒂。</p>
<p>一婦產後腫脹數日，氣息促迫，喘滿絕汗，小便不通，食不進，眾醫以為不治。余謂留飲之所為，與甘遂半夏湯一服，淡水吐出，須臾瀉下如傾，諸證漸愈。</p>
<p>一婦平生便秘，心下動悸，加之頭熱不堪風寒，耳前後生疙瘩。瘡癢難忍，歷三年而不愈，與反鼻解毒湯、芎黃散安。</p>
<p>產後胞衣不下，氣逆吐臭沫者，多死。</p>
<p>產後血暈，有屬水氣者，不可不知。</p>
<p>產後失心不省人事者，得吐則愈，又有宜附子瀉心湯者。</p>
<p>膈噎壯年者可治，四十以上者必不治。</p>
<p>膈證心下結塊，累累如拳者，為惡候，又舌上發紫色斑者同之。</p>
<p>人過強仕而發膈噎者，此年來宿毒凝結於胃中，漸上迫塞於喉間，胃中為之萎縮頑固，按之自心下至臍下，如撫竹筒也。此證誤與吐劑，則不堪瞑眩速死。世所謂肺痿肺癰，間有屬胃口留飲者。今以吐劑湧之，膿血黏痰多出於食道，不可概為肺而治之。</p>
<p>鼠毒散漫周身者，必發熱，宜刺委中、尺澤出血。</p>
<p>中砒石毒者，與白虎加黃連湯，飲冷水亦佳。</p>
<p>桔梗能內托瘡腫，治咽喉痛，亦不過此意。此品生干尤效，水曬者無效。（本草稱苦梗者，恐是生梗。）</p>
<p>樺皮能排毒氣，永田德本多用之，曲直瀨道三亦使之。（樺說見本朝醫談青囊瑣探未確，寧固單用樺皮近是。）（拙軒曰：青洲翁荊防敗毒散加樺皮，名十味敗毒散，為諸瘡套劑。蓋本此。）</p>
<p>仙人草專治口中病，故瀉心、陷胸等方中加之妙。</p>
<p>脹滿鼓脹，其發非一朝一夕之故。若病欲解，發大熱，或發譫語者，為吉凶之界也。</p>
<p>脹滿鼓脹絕谷者，與赤小豆、薤等間效。</p>
<p>五寶丹能治痿躄，不可不知。（世醫以五寶丹為專治上部結毒之藥，故有此言。）</p>
<p>舌疳難治，但痛者可救。</p>
<p>吐血下血色黑者不可止，鮮血者可止，灸命門捷效。</p>
<p>健忘屬蓄血者，宜抵當丸。</p>
<p>頭汗多，因胸中逼迫，故結胸類必有之。</p>
<p>腳氣衝心，與控喘（喘恐涎字之誤。）丹效。</p>
<p>脫肛不愈者，食鱉頓愈。若愈後發咳嗽者，遂成勞狀死。</p>
<p>張子和曰：水病脈洪大者可治。余驗之，洪大者，屬實可治。若弦滑者，必有急變。</p>
<p>嬰兒頓嗽，與左金丸愈，蝙蝠霜亦效。（蝙蝠霜名獨聖散，片倉鶴陵用鼴鼠霜亦效云。）一士人年三十許，項背強直，不能回顧，背肋牽痛，右脅下硬結如伏卵，捫之不堪痛楚，其狀如木偶，起居動止皆廢，眾醫治之無效。余診之曰：他年肉食之所毒，不祛宿毒，則不能愈。某曰實然，去年役於江戶，屢食野豬爾，後發斯患，因以陷胸湯、桔梗白散吐下之，尋與國木湯加土茯苓全愈。余常以土茯苓解肉毒，故加之。</p>
<p>小兒痘後，顏色萎黃，吐乳者，上焦郁毒未解也，與紫圓三丸，日三服愈。</p>
<p>救急易方以蝸牛水治消渴，余乃治消渴用蝸牛霜，反便捷奏效，因名三國散，取之於莊子則陽篇也。</p>
<p>一夫得病二三年，頭面及兩手大戰掉，胸腹無餘證，飲食二便如常。此病在絡者，古人所謂四肢聶聶動也，宜防己茯苓湯。</p>
<p>霍亂不止夏月，四時共有之，小兒尤多，大抵理中湯主之。（按外臺有冬月霍亂字，可徵焉。）</p>
<p>產後痿躄為難治，初服烏頭桂枝湯，尋用荊芥湯而已，或間服汞劑效。</p>
<p>一婦乳岩腫起頗難治，一夜夢友人來告曰：宜當歸生薑羊肉湯。余從其言用之，大托膿血，因兼用於閼逢丸、梅肉丸等全愈。（羊肉吾邦乏用，今代用牛肉。）</p>
<p>水腫堅實肌表見紫黑色者屬實也，宜發汗。一人年五十許患此證，余與麻黃加朮湯發汗，數日全愈。</p>
<p>水病急大汗出，或急泄利，或急腫減者，反為惡候，不出四五日死。又有醫數下之，續為大下利。腫氣急減而死者，蓋治水氣之法。譬之於傾滿盆泥水，急傾之，則滓泥必著盆底，緩淘以傾之，則水與泥滓同去。故與汗下之藥要緩攻，若急攻之，則病去身斃，不可不慎焉。</p>
<p>仲師曰：水病脈出者死。譬之於溺水者，有生氣者必沉，既死者必浮。其元氣衰者，脈自浮；元氣不衰者，脈自沉微。故水病脈浮滑為凶，沉實為吉，聖訓千古不磨也。腋臭及聤耳有膿者，皆屬胎毒。</p>
<p>過酒後吐下或心下痛者，葛根黃芩黃連湯有效。（按：《傷寒論》酒客病，不可與桂枝湯條。柯琴注云：仲景用方慎重如此，言外當知有葛芩連以解肌之法矣。偶與此符合。）</p>
<p>下後心下痞硬，不能食者，茯苓飲尤效。（按：吳氏曰：疫邪留於心胸，令人痞硬，下之痞應去。今反痞者，虛也。以其人或因他病先虧，或因新產後氣血兩虛，或稟賦嬌怯，因下益虛，失其健運，邪氣留止，故令痞滿。今愈下而痞益甚，若更用行氣破氣之劑，轉成壞證，宜參附益氣湯，此與茯苓飲證相反者。若誤投之，禍不旋踵。）</p>
<p>肺癰吐膿血，胸中痛者，與對證藥兼服伯州散則愈。</p>
<p>雀目與苓桂朮甘湯加車前子為佳。</p>
<p>縮砂投酒中，酒忽化為水，故能解酒毒，又並消食也。</p>
<p>中河豚魚毒者，可以藍汁吐之，染匠新制者最宜。凡中毒，吐藥為佳，藍汁即其一也。</p>
<p>凡服吐劑，自辰牌至巳牌為佳。服下劑以人定後臨臥為佳，利水之劑亦然。夫人日中百事紛錯，元氣為散，入夜安臥，精氣下行，故通利之藥，最宜臨臥也。</p>
<p>小兒常食多好惡，日羸瘦腹滿者，由膏腴之毒，熏蒸腸胃，故腹滿、肉脫，飲食為好惡也。治法宜驅腸胃之毒，流通津液。古人用消疳湯，亦不過此意。然此證多屬不治。</p>
<p>平素健啖者，有忽發身體強直或不遂者，不可妄藥，但減飲食，則必自愈。（寧固曰：病多成於食毒，專用吐劑，而於此證云不可妄藥，高出前人一籌。）</p>
<p>衄血諸藥無效者，三黃瀉心湯中加荊芥二錢奇效。（按：《衛生家寶》治血氣妄行，其出如湧泉，口鼻皆流。側柏散，側柏葉、人參、荊芥穗共三味，此亦荊芥為效者。而其治虛實相反，並存而可。）</p>

<h2>福島慎獨軒</h2>
<p>慎獨軒嘗受松原一閒齋衣缽。林棲於芳野數十年，志不拘檢，神情曠蕩，無甚可否。是以其理療，自然融活，不似當時古方者流所為。門人中川，故能記其成績，著《芳翁醫談》，其可謂翁之忠臣矣。</p>
<p>凡腹中有塊而發攣急氣急等證者，不論血塊積聚，與起廢丸效。</p>
<p>其腹有塊而腹裡拘急，形體瘦削者，名曰乾血勞，起廢丸長服為是。</p>
<p>反胃難治，然驅除停飲，和胃氣則得愈，宜長服小半夏加茯苓湯，時時以大黃甘草丸除其腐穢。</p>
<p>中風卒倒者難治，與附子瀉心湯間得效。</p>
<p>偏枯言語謇澀者，與麥門冬湯加石膏。但偏枯者，與續命湯。此證石膏最為主，一貼用至五錢。（偏枯用石膏，山脅東洋原之於續命、風引諸湯，翁亦同時同見，所以古方盛也。）（拙軒曰：麥門冬湯加石膏，似戾立之本旨，然用之往往奏奇效。古方之妙，不可思議。</p>
<p>偏枯癱瘓及痿躄麻痹者，皆系陽氣衰廢，故雖用烏附之類，不能奏效。</p>
<p>休息痢因穢物不盡，宜服篤落丸下之，兼用半夏瀉心湯之類。</p>
<p>下利久不止，其證如休息痢，而無膿血，唯水瀉時作時止，腹滿時痛，瀉則覺快，日漸羸憊，面色萎黃，噁心或吞酸者，非巴豆則不能奏效。故用篤落丸，兼服半夏瀉心湯為佳。紫丸治久痢，亦此意也。</p>
<p>癇證百端，不可枚舉，而眼胞惰數瞬呼吸促迫如唏之類，三黃瀉心湯最效。若沖逆甚自汗出者，前方加牡蠣。若見諸怪證者，兼用辰砂丸。</p>
<p>癇家概治《千金》溫膽湯為最矣。凡諸證變出不定者，皆系肝膽之氣鬱，宜主此方而勿眩其證妄易之。</p>
<p>上市買人之子，卒然厥冷戴眼，不知人事，予以為癇。與三黃加芒硝湯，三日不瘥，因請治於松原白翁，翁與風引湯三劑而全愈。一男子年十有八，素患口瘡赤爛，一日直視不語，心下石硬，醒復發，予擬前治，與風引湯十帖，始知人事，後與三黃湯全安。</p>
<p>癇家舌焦或滑白如漬水者，內服麥門冬湯之類，外以黃連石膏末貼之則愈。</p>
<p>多羅尾候性躁拘物，患失精數歲，與人並坐而不自識其漏泄，諸治無效。予診曰：此癇也，與三黃瀉心湯全愈。</p>
<p>內痔難愈者，內有結毒也。宜驅盡其毒，蝟皮最效，如痔漏亦然。長服下劑，可蕩盡其毒，勿漫施外敷求速治。</p>
<p>病有不可不為者，如汗吐下是也。若失其機，則病不治矣。有為之而不若不為者，如鶴膝風、流注毒是也。何則？節脈有條理，而皮外不可見。故妄施針刺，則多害屈伸。若服托裡之藥，毒氣外泄，終自膿潰，則無後患。余故曰：為之不若不為。治瘡腫者，不可不知。</p>
<p>瘈狗毒鼠，古今論其治，而至貓毒寥寥無聞。予嘗為家貓所咬，痛楚苦惱，不可名狀。因普檢毒獸咬傷之方，將水晶一味煎服，其病霍然如脫。後復發，乃作黃連解毒湯，加虎脛骨兼服之，數十日全愈。</p>
<p>余嘗見磨古鏡者，將石榴皮磨之，則銀光剝盡為銅色，乃知水銀之所忌。世解輕粉毒，專用石榴皮，洵有以也。</p>
<p>水腫沖攻，或腳氣衝心垂死者，取巴豆一味去皮碎，與赤小豆合炒而去巴豆，赤小豆一味煎服之，則咄嗟奏效，或赤小豆湯方中用此品亦佳。</p>
<p>齒痛難堪者，宜桃核承氣湯。（齲齒、齗疽、牙疳、骨槽、諸齒痛難堪者，余用之屢效，蓋屬血氣衝逆者多故也。）</p>
<p>一人患噦五十日許，眾醫束手。余審其腹候，與建中湯二劑全止。（按：洋說以噦逆為膈膜攣急所致，建中湯所以效也。蓋翁非信洋說者，治術精思，偶詣此耳。）</p>
<p>《外臺》瀉脾湯，治癥癖成勞者，世所謂積聚之類。有腹痛者，用此方往往奏效。</p>
<p>發狂者，與三黃加芒硝湯，兼灌瀑布泉為妙。灌泉法，使患者著𧜞，而以麻索縛之於梯，別以手巾覆其頭，而後灌百會，又以手當額上御眼鼻，而灌天庭，次至胸間膻中，則其人易堪，而克奏效。（泉水濁者不佳，宜擇清冷者。）</p>
<p>凡漫腫堅硬，皮色不變，而其勢甚熾者，以礬石湯蒸之，則能消散，懸癰、淋漏、痔毒之類最效。又治癱瘓不遂不止，腳氣衝心也。</p>
<p>娼婦始入妓院，與客接十日余，必發寒熱腹痛，俗稱曰淫腹痛，海蘿能治之。如寒熱不已者，宜小柴胡湯加海蘿。（按：《蘭軒醫談》載海蘿湯治驗可徵焉。凡海草能避黴氣，故京師妓院多食青海苔。《大和本草》云：楊梅瘡家食昆布，面不發瘡，是亦其一證。）</p>
<p>人中白能治血暈。不論產前後與金創損傷，以井花水送下少許，則暈立止。一婦人產後患口眼喎斜，半身不遂，余與桂苓丸料加沉香、人中白而愈。以血分有病，人中白能治之也。（產前後口舌赤爛痛甚者，以人中白貼之效，以能入血分也。）</p>
<p>金創出血難止者，以紙條緊縛之，以淡紅粉撒其間，隨縛隨撒纏畢，而妄動則血止。如其更甚者，敷礬石粉，痛發必止。</p>
<p>癇家有數證，而屬火熱者，屬瘀血者，宜甄別舌上苔。其色或黃或黑，常苦上衝，脈數而有力者，為火熱，宜麥門冬湯加石膏、柴胡加石湯瀑布泉選用之，兼見血證者，為瘀血，宜三黃瀉心湯，加犀角、芒硝，或沉香、薑黃之類。若手足瘛瘲者，宜天麻。間有婦人老後自愈，即與患癇之婦產後不藥而自愈者，一理也。</p>
<p>噤口痢有宜半夏瀉心湯加檳榔者，有宜真武湯者，不可概治。</p>
<p>婦人經閉成癥瘕者，成鼓脹者，灸腎大小腸膀胱諸俞及腰眼，至十萬壯以上，則必效。</p>
<p>黃胖用鐵粉而不效者，宜辰砂。</p>
<p>一人傷寒，瘥後久不食，眾醫治之無效。余診之，腹中有動悸，與桂枝加龍骨牡蠣湯，食忽復故。</p>
<p>醫有上工，有下工。對病欲愈，執方欲效者，為之下工。臨證察機，使藥要和者，為之上工。夫察機要和者，似迂而反捷，此賢者之所得，而愚者之所失也。</p>
<p>人生固有自然之理，而疾病亦不外於人身。故醫審其理而治之，否則施治益謬，是以長沙氏之書務矯其弊，可不鑑哉。</p>

<h2>田中適所</h2>
<p>本朝八九十年前，越前有奧村良築者，始闡吐法。而其門人永富鳳介著《吐方考》，荻野元凱著《吐方編》，田中信藏著《醫事談》，皆紹述師說，所裨補不為鮮矣。</p>
<p>汗吐下異法而同歸，可吐而不吐，同於可汗下而不汗下，而世醫或遺吐之一法，故病處於不死不起之際者，比比有之。長門獨嘯庵特得其法，而其所著《吐方考》，皆有徵驗。</p>
<p>余從奧村先生學吐方，十餘年而後行之。年不下數十人，頗知其效驗。然至其機變，則非言之所能盡，唯考徵已明，試驗必審，精與識合，膽與信符，而後可庶幾焉。凡欲行吐，當審腹候。按之不得其可吐之候者，雖上下堅實，不可吐之。</p>
<p>凡快吐者必快下，上竅開而下竅通也。而張子和更下之數十行，是宜權其勢而斟酌之。</p>
<p>凡行吐法得之於緩病，而後得之於傷寒卒病，則遠害矣。</p>
<p>癲癇者，以三聖散吐之，後與鉛丹劑佳。</p>
<p>喘息腹滿者，不可吐，宜回春紫金丹。若不滿者可吐，宜瓜蒂散。</p>
<p>傷寒汗出不解，胸脅苦滿，不俗飲食，大便或利或秘，舌上白胎，短氣而煩者，當吐之，瓜蒂散主之。失吐者死。</p>
<p>發汗吐下後，心中懊憹結痛者，當吐之，失吐者死。（吐方或指梔子豉湯而言。）</p>
<p>鹽湯吐痰，地黃吐蛔，五苓散吐傷寒，蔥白頭吐頭痛。此數方非能吐人，惟在知其義，對其證而得其法耳。</p>
<p>反胃諸嘔，少腹有塊動悸沖巨里，心中熱痛，飢不能食者，不可吐，吐之必死。</p>
<p>汗出而後蒸蒸發熱者，屬胃也。若胸脅滿而嘔者，其熱雖潮，未可遽下之。世醫不知此機，多方誤投，輕至重，重至危。悲矣!</p>
<p>下利下重，雖脈洪數，當審其腹候。有宜汗，有宜下，有宜和，不可一概下之。下如魚腦肝，食飲不下，脈細數者，數日死。能食而下膿血，久不已者，以腸癰藥治之。</p>
<p>下利咳逆，痛引脅下，不欲飲食，寒熱去來，欲為勞者，急下之，宜十棗湯。</p>
<p>醫之臨病，猶將之對敵。苟不得其時，不知其機，則一敗塗地。思之必精，察之必審。而誤者未之有也。書云：惟時惟機。天下之事皆然，不止醫事也。</p>
<p>中風口眼喎斜，或半身不遂者，與瓜蒂散得效，若卒中風者無驗。</p>
<p>痿躄多由熱氣上逆，故下焦氣血枯燥，而至足痿。此證必小便頻數，大便秘，後遺尿失禁，甚則下血而死。與吐劑而後與白虎湯為得。</p>
<p>耳病用宣明論瀉青丸效。</p>
<p>被灸火發壯熱喘息者，小柴胡加黑豆、牡蠣尤效。</p>
<p>腸癰經日屬陰者，薏苡附子敗醬散，加黃耆佳。若痛甚者，加沒藥。</p>
<p>痘瘡至貫膿時，煩渴悶亂搐搦者，與風引湯效。蓋此證痘科鍵用滿天秋，《活幼心法》用唇砂益元散，而不如此方最捷矣。（拙軒曰：運用自在，雖存於其人。古方之妙也，西土之醫家，或乏此識。藥方之日增月加，職斯之由。）</p>
<p>不由邪氣而口中乾燥者，屬血虛，故虛勞多有之。發熱亦有屬血虛者，不可不知。</p>
<p>生薑發開心胸結邪，乾薑溫散心胸寒冷，使用雖多，不過此二端。世醫無深知生干之別者，噫!</p>
<p>休息痢屬疝者，宜當歸四逆湯。</p>
<p>噤口痢不能納藥汁者，鮒魚為泥，和以吳茱萸，麝香少許，貼之於臍中得效。</p>
<p>食傷不吐下難奈者，升麻、鬱金二味煎服捷效。</p>
<p>霍亂轉筋甚者，與理中加石膏湯為佳。（古人治轉筋以理中湯加石膏，治胞衣不下以平胃散加芒硝，其意難曉。蓋陰陽相摩，剛柔相濟，妙在其中。適所得之於實驗，其言非虛矣。）</p>

<h2>福井楓亭</h2>
<p>楓亭醫術自是高手，京師人傳其起痼扶衰，懸決生死日時，多奇驗。今就其門人所記醫按提其要云。（拙軒曰：楓亭翁喜讀《千金》、《外臺》，故其論病說方，多本其書。於先輩著鞭之後，欲別開生面，不得不假手孫王二氏也，滿清醫人無此見解。）</p>
<p>世有面色萎黃，肌膚乾枯如老耋，眼多眵淚，鼻流清涕，氣逆心煩，胸中怫鬱。按其腹鳩尾至臍腹，任脈拘急如張兩紐，按之則痛，動悸甚，脈多滑，喜飲茶湯，或吃雜食，每眠睡，心氣懶惰，臨事狐疑，或憤恚不樂，漸目下足脛生微腫，或中年夭折，或癡癡騃全生者，醫以為黃胖，或以為癇，治之無驗。特不知此病本因情欲不遂，飲食失宜，不勝其勞，遂蘊蓄濕熱。其熱熏蒸為面黃，甚者鬱熱消爍肝膽，憂慮恐懼，百事不決，晝夜不能眠，以致此病也。蓋此證有虛實之分，肌肉敦阜者屬實，身體羸瘦者屬虛。虛證面部或足脛浮腫者無害，若實證歷日，足脛目下微腫者，脫候也，為可畏，餘名之曰脾勞（《千金方》所謂脾勞與此證大異，本草百病主治鐵砂條，所謂脾黃病為稍近。）凡脾勞濕熱泛溢於膜外為水腫者，宜聖濟紫蘇煮散。若鬱熱流於腸中，為脫肛痔疾者，宜潤下劑。但便難者，宜脾約丸。若下利不食者，屬虛也。若鬱熱侵膽府，則善衄。移熱於肝臟，則善驚恐。熱鬱於胸背，則肩強。左肋攣急，或咽喉不利如梅核氣，或水飲客於衝脈咳嗽，或心下如盤，食不下時吐逆者，宜半夏湯（《外臺》方）。若噯氣吞酸心下痛者，宜四味枳殼散。蓋此證鬱熱支衝脈，水飲不能為之流通，因心下悸。若認為留飲治之，反生害。但解其熱，則飲自去也。若其人羸瘦，津液乏少。心下動甚，目下微腫，耳鳴目眩頭暈者，屬虛候，宜沉香降氣湯。若熱傳於大腸下血見前證者，宜鐵刷湯。若能食，下血不止者，宜赤小豆當歸散。若下利腹痛如五更瀉者，宜真武湯。若腹鳴下利者，宜半夏瀉心湯。若不下利，心下右邊當委食之府痛者，香砂平胃散。若左肋下至少腹攣急冷痛者，柴胡鱉甲湯。若熱熏蒸胸背，湧痰咳嗽，喘逆肩息似支飲者，宜九味半夏湯。若兩肋急脹，腹滿不能食，頭痛壯熱，身體疼痛者，宜延年枳實湯（《外臺》方）。若舊年脾勞，冷熱不調成癖，積食不下，虛滿如水狀者，宜前胡枳實湯。若性稟薄弱，憂思不遂，久郁不解，血液枯燥，往來寒熱，盜汗咳嗽者，《聖濟》所謂痃癖成骨蒸也，宜秦艽鱉甲散。若熱熏蒸脾胃，及肝膽疑慮不決，心下如盤，舌上沉香色，其人如狂者，宜半夏湯加石膏。若心下痞悶，痛引乳下，或衝脈支結，胸中牽痛者，宜柴胡白朮散。近世患此病者頗多，蓋現證有全似他病而屬脾勞之變態者，有他病為主脾勞為客者，能審辨之以處其方，則思過半矣。（此一種內傷病，脾勞名未知當否。然其反覆辨症處，溯流窮源，其次第用藥處得心應手，近患此病者最多。則其治法宜研究也。）中風病由，《素問》單云風，劉河間以為火，李東垣以為內傷，紛紜難適從。但《外臺》許仁則所論似是，此證先宜與《千金》竹瀝湯。若不能服湯者，用烏犀丸，可以開達咽喉。若胃氣反逆嘔吐者，百不治一。</p>
<p>一人年四十餘，病溫疫下血後，身重難轉側，四肢不收，口眼開脫，語言不出，其狀如塑人，脈滑，舌上生芒刺，似欲冷飲。余以為下證悉具，即投以大承氣湯服之。一帖，眼睛活動，語言少出，續服前方全愈。又一人患同病，而精神稍爽，瞳子和，口中津液黏涸，不能語言，絕食數日，人以為死證。時患者動指，其狀似欲飲水，因與之，少得語言，如此數次。余試與白虎湯遂愈，蓋承氣湯主精神昏憒，不能語言。白虎湯主精神爽快，津液黏涸，不能語言。雖均屬裡實，二湯之所主自判然矣。（《中西深齋名數解》有白虎承氣，辨頗明晰。而楓亭得之於實際，宜彼此參稽處之無差誤。）</p>
<p>肺痿有冷熱之分，而《金匱》但載肺冷治方，不及肺熱諸方，《千金》、《外臺》亦從無發明。特《聖濟總錄》人參養榮湯論肺熱證治，余試之效。若其熱盛者，宜秦艽扶羸湯、知母茯苓湯。若腹滿者，秦艽鱉甲散加檳榔。蓋肺熱者，多屬不治，肺冷者，反易治，不可不知。</p>
<p>世有咽喉不利，似膈非膈，聲音如小兒弄草笛，不能臥，脈數急，忽吐膿血一升余而死者，此肺癰一證最為難治。</p>
<p>奔豚證。桂枝加桂湯主泄氣，奔豚湯主和痛。若此證喜苦味者，宜奔豚湯。喜甘味者，宜上方。</p>
<p>四飲中支飲最為可畏，此水飲停積胸膈間，支乘心故也。其初胸膈實痞強支心，心下反濡，咽喉喘逆，氣急不能臥者，《聖濟》旋覆花湯尤效。若此證心下堅硬，水飲支結甚，或與此湯再復者，宜木防己及去石加茯硝湯。此二方外余未見其效。（拙軒曰：支飲之證，古人所論不一，或以為心臟痞塞，或以為脾胃有不足，或以為腎氣虧乏。予謂不然，凡人心肺之下，有所謂膈膜者，水飲瘀到其間，則上致肺氣不利，下致胃氣上逆，心下痞堅，是支飲之候也。《巢源》云：水飲過多，停積於胸膈之間，支乘於心，故謂支飲。出方讀便解錄，為此條註腳。）</p>
<p>水腫下利者，為惡候。先有水氣而下利者，宜木防己湯，《外臺》所論可徵。先下利而後見腫者，屬虛勞，為危候。腳氣腫下利者，急衝心而死。故水腫證概主利水而禁下藥，若服利水藥下利者，亦為凶兆。</p>
<p>胸痹心痛，當心中及心下痛劇者，吐血而死，余往往視之皆然。</p>
<p>一人卒發心痛，手足厥冷，脈絕欲死，余投赤石脂丸料速愈。</p>
<p>婦人經水不調，小腹冷氣屬瘀血者，溫經湯奇效。經後腹痛者，亦屬瘀血，宜滑石散（無盡藏）。若行經中腹痛者，屬氣滯，宜四烏湯。若經水不調，氣滯肥滿有蓄血者，宜逍遙散，正氣天香湯。若產後瘀血上逆者，辰砂最效。若行經前患頭痛者，屬飲，宜桂枝、橘皮、乾薑等。（《醫通》）</p>
<p>妊娠五月後墮胎者，概系癖塊所為，早制其塊，則多保全。先輩不知之徒，與滋補藥更無效。（此說原於仲景最有理，惟恐女科專門徒由父祖傳，未嘗留心古學。而講求夫通變化裁之活用，固執溫補為安胎之要藥，受其害者不少。噫。）</p>
<p>產前水氣微者不足畏。若上部有水氣，氣急喘逆者，產後忽衝心而死。或蓐中有肺血乾而吐血者，俱為可畏。又有產後湯浴感濕，邪為腳氣腫者，不早治則為不測之變。</p>
<p>黃疸煩渴吐逆腹脹者，為惡證。若夜不得眠，煩躁熱渴者，不出二三日而死。</p>
<p>腹中有癖塊，而一身發黃者，名曰癖黃疸，亦難治。</p>
<p>病者初脈沉數，忽變緩，似病解，而其人氣鬱，默默欲臥，身重食不進，小便如櫱汁者，即發陰黃之候也。</p>
<p>虛人瘧熱與勞熱為易混，但瘧脈弦大而不數，勞脈數而不弦大，是為別。</p>
<p>虛人截瘧以灸大椎為最，其法明旦三壯，午時三壯，將發時三壯。</p>
<p>瘧病內熱熾盛，頻渴飲水，發露當風取涼，邪氣不能發泄者，變為水腫，宜越婢加朮湯。余嘗治此證，水氣除而後再發瘧，是其徵也。</p>
<p>霍亂髮振寒者，陽氣復之候為佳兆。若虛人不堪振慄者，宜四逆湯。</p>
<p>卒然發嘔吐者，有霍亂，有卒中風，其證相同。但中風吐後脈緩而不緊，手足不厥冷，嘔吐中能左右手足動搖，吐止半身不遂昏睡，是為別矣。</p>
<p>世醫漫認足腫為腳氣，特不知腳氣以疼痛或攣急或懈怠或麻痹為徵，不啻水氣也。蓋此病濕氣勝則腫滿，風氣勝則不仁。有病在腹而後及足者，有在足而後及腹者，脈忌洪緊弦而不忌數。心下及人迎動高者，最在所忌也。</p>
<p>余治腳氣，先辨表裡為治標，以腫滿麻痹腰腳痿弱為表證，以發汗解毒為主；以風熱熾盛，動氣甚，氣急腹滿嘔吐，為里證，以降氣利水為主。世醫動以表證為危篤，以里證為輕易，治方乖錯，生不測之變不鮮。</p>
<p>蛔蟲有寒熱之分。永田德本以太乙丸治熱證蟲積，以木香丸治冷證蟲積為得。凡鬱熱盛於膈間，則必為蛔動，醫概為蛔厥治之，誤矣。（胃熱吐蛔，吳又可既論之而無的治。陳治曰：溫熱病而吐蛔者，此胃熱也。胃虛有熱，蟲隨熱氣上行，亦吐出也，宜犀角黃連湯。傷寒辨注清中安蛔湯，治胃實熱，嘔吐長蟲，亦為其合治。秋吉質曰：吐死蛔者屬熱，吐活蛔者多屬胃寒。死蛔色白，活蛔微紅色，是說似理而不可必矣。）</p>
<p>痢疾不論下利多少，以熱之輕重為治法之標準。故先以調中湯（《外臺》），發汗後參用大柴胡湯、芍藥湯和解。若譫語舌燥黑，赤白膿血下重甚者，以大承氣湯、檳芍順氣湯下之，其熱解則利自止也。</p>
<p>噤口痢虛煩，宜竹葉石膏湯。《百一選方》人參、黃連、陳皮、蓮肉四味者亦佳。此證發噦逆者不治。</p>
<p>休息痢但下白滯者，宜真武湯加赤石脂。</p>
<p>張子和曰：凡頭瘡發腫瘍處，水氣必湊焉，故宜下劑。餘本其說頭瘡加蒼朮，即為去其水氣也。其實者，用牽牛子能奏效。亦同旨。</p>
<p>《金匱》瀉心湯云：心氣不足吐血，衄血，其主治茫乎無據。按本草百病主治大黃條曰：下瘀血血悶，心氣不足，吐血衄血，胸脅刺痛脹，同黃連、黃芩煎服。余據此說治吐血衄血胸脅刺痛者，百無一失也。</p>
<p>凡下齒痛者，灸肩井即效。肩井者，系陽明經之所行也。又奧齒下齦腫者刺之，血出則愈。蓋血氣妄行，聚於齒齦之所盡故也。</p>
<p>骨槽風證詳見《外科正宗》，此瘡生於耳前頰骨，而腐潰穿孔，口中噴膿。其初欲發時，或為口眼喎斜，後至上齦腐潰，不能飲食，遂有至死者。若因黴毒為此形狀者，去其毒則愈。骨槽初起者，宜醫通茵陳散。（茵陳、荊芥、薄荷、連翹、麻黃、升麻、羌活、殭蠶、細辛、大黃、黑醜，以上十一味。）</p>
<p>其人無咳，唯語聲不出者，宜《外臺》茯苓安神湯。平素嗜茶者，多發此證。蓋有治不治之別，屬上焦虛冷者，多不治。若上焦虛寒，語聲不出者，宜《外臺》黃耆理中湯。若咽喉腫或癢，咳嗽聲不出者，宜聖濟黃耆湯。</p>
<p>後世中暍外別設中暑名者，誤矣。中暍中暑及中熱，皆一病，非別因。東垣不知之以動而得為中暍，以靜而得為中暑，制清暑益氣湯者，非矣。又世論古方者，謂傷寒外無中暍，亦益非矣。《漢書·武帝紀》云：夏大旱，民多暍死，其來既在仲景前。且夏月身熱汗出，惡寒咽乾，身重疼痛者，與仲景中暍門白虎湯，則其效宛如溉水於炭火。又夏月臥寐中感冷氣，惡寒發熱身體疼痛者，隨傷寒治法，與桂枝麻黃則霍然而愈。此二者，豈可混焉哉。</p>
<p>後世以霍亂一證為止夏月者誤矣，凡有吐瀉而揮霍撩亂者，四時俱有，《外臺》、《儒門事親》可徵焉。蓋此證夏月多而冬月少者，冬時陽在內而溫，夏時陽氣走表，陰在內而冷，加之貪冷飲冷食，故多發此證。其狀似傷食傷滯，然傷食傷滯者，腹滿痛而吐瀉如傾，則明日霍然而愈。至霍亂則雖既吐瀉，腹痛不止，反發熱身疼痛，劇者手足厥冷，煩悶燥渴。此證四時俱有，而夏月者尤重，故世或以霍亂為中暑，益誤矣。</p>
<p>凡霍亂心下痛者必吐，臍下痛者必下利。</p>
<p>理，治也。中者，指中焦胃氣而言。乃胃中虛冷，水穀不化，變亂吐下，譬之亂線，漸理可治，故名理中丸。建，健也，即健胃中之意，故名建中湯。其義頗異，世醫不知之，合為一方，名建理湯。非古意也。</p>
<p>半夏瀉心湯，瀉心下痞滿也，後醫以為瀉心火，概治癇證，大誤矣。</p>
<p>骨空論曰：衝脈之為病也，氣逆裡急。凡衝脈不足而血燥，故鳩尾下痞滿，或氣上逆胸中，腹皮如貼背，為心懸痛者，謂之胸痹，故桂枝枳實生薑湯、枳實薤白桂枝湯之所治，皆邪客於衝脈也。</p>
<p>心下動悸有三道：一為寒氣客於衝脈，支衝任而悸者，炙甘草湯、大建中湯所治是也；一為因水飲而悸者，桂枝茯苓白朮甘草湯、真武湯所治是也；一為有毒悸者，腳氣衝逆是也。</p>
<p>凡狂癇證，狂走不安靜者易治，唯妄言笑語者，即癲也，又名失心風，難治，《素問》論陽癇陰癇為可據。《本事方》茯苓散、寧志膏、狂氣丸，皆陰陽通治方也。夜不得眠者，宜《準繩》靈苑辰砂散。又吐唾不止者，宜局方養正丹。陽癇者，宜灌水。其證劇者，大桶蓄水，乘病人不意，一時可灌沐。其實者，浴瀑水亦佳。是皆降陽氣上升故也。</p>
<p>世稱流注者，自胸至小腹腰間手足流轉，甚則生塊，其形平塌漫腫，以手撫之，不堅而肉底有塊，其塊潰則膿汁出，一塊愈，一塊又隨發，重者至生三四塊，終不治矣。此證發胸以上者，為濕痰流注；發胸以下者，為瘀血流注。發胸以上或手足者易治，發小腹或腰邊者難治。瘀血流注者，將發其塊，則腰腳難屈伸，微熱。有發作急者，不出一月而死，緩者延半年或一年而死。其塊將潰時寒熱特甚，不可妄與敗毒散、小柴胡湯等寒冷藥。陳氏用木香流氣飲，然此證多屬虛，其初宜益氣養榮湯。虛憊者，宜十全大補湯。又流注發小腹者，疑似腸癰。蓋流注屬虛，腸癰屬實。故治法有補瀉之別，不可混焉。</p>
<p>肺癰之為病，其氣塞不通，熱聚於肺中而致膿潰也。《金匱》所謂口中辟辟燥咳，則胸中陰陰痛者，尤為的證。當早辨知之，臨其未吐膿前施之。治若失期，則不可救。其初寒熱往來，咳逆膿臭，短氣不能側臥，胸中痛，咽喉不利，呼吸宛如吹笛，是有物礙肺管故也，其脈滑實而數，未吐膿血，時咳，則有如嗅瓶中腐水之臭氣。病久者，其臭滿一室，終吐膿血而死。吐膿血則如吹笛者忽止，即礙滯肺管者去也。古人試膿法，投水沉者為膿，浮者為痰。今視之痰唯黏稠而已，至膿如煉葛粉，不可切斷，是為辯矣。</p>
<p>支飲之為痞，古人以為心藏痞塞，或為脾胃虛弱，或為腎氣不足，其說不一。余熟考之，心肺下有膈膜，其形如薄絹，橫覆心肺，水飲支乘於此處，則上使肺氣不利，喘急煩滿，下使胃氣逆，至心下痞堅，是為支飲之候。《病源候論》云：水飲過多，停積於胸膈之間，支乘於心，故曰支飲是也。其脈弦緊或沉緊，至夜半後，則必氣急促迫極甚，其證疑似喘哮然。喘哮者，胸中不利之所為，故唯覺咽如塞而已。支飲者，其初有胸痛而發喘，或手足厥冷不得臥，必面部及腹中四肢為微腫，或氣急後有大浮腫者，其狀雖似水腫之氣急。水腫者，初無氣急，漸至腫滿而氣急。支飲者，初為氣急而漸至為腫，是為其別矣。治支飲法，以禁食為第一，嚴忌油膩辣醬等。若腫甚者，要斷鹽，其法同水腫。又支飲似懸飲，而痛劇者，可以控喘丹下之，又與木防己湯。水氣益甚氣急者，可兼用甘遂末。若氣急甚，嘔逆者，宜甘遂半夏湯。與此等方一旦雖得效，再發者難治。凡此證經一二年不愈者，不可妄攻，攻之則速虛虛之害。若實者，有因攻擊脫死者。此病近世極夥，當悉意而治之。</p>
<p>白虎風始見於《聖濟總錄》。其證自肩端連頭腦痛如齧，至夜半後，則其痛益甚而無腫氣者也。凡痛至夜半後甚者，陰氣凝結故也。又有白虎歷節風相似而少異，歷節者，散見諸書，風濕共通稱之謂，有熱而骨節痛者。白虎者，謂無熱，但陰氣凝結而痛者。又有痛風者，謂有腫而痛，與此證自異。白虎風宜《聖濟》羌活湯，兼用《本事方》麝香圓亦可，若與此方不知者，可與《金匱》烏頭湯。</p>
<p>腳氣說以《巢源》及《千金》、《外臺》為確，《外臺》中蘇恭說最可據。</p>
<p>肺脹為病，與肺痿肺癰自異。蓋斥肺葉怒張而言，其證咳而上氣，有喘而氣急。其狀似支飲，然支飲之喘，其初有胸痛，或手足厥冷，氣急不能側臥。肺脹者，熱勢甚。上氣卒發，目如脫，面部下部共浮腫而不至，難側臥，是為其分也，其說詳見於金匱要略。</p>
<p>腳氣，精神恍惚，發妄語，熱甚有腫，上衝頭面而赤，驚悸者，世醫認為癇證療之，非也。凡大病見癇之形狀者，多至死。此非真癇證，《素問》所謂六經盡證也。</p>
<p>疝本因水氣與瘀血，為痛之病也。余故於大黃牡丹湯，取牡丹皮、大黃、桃仁於牡丹五等散，取桂枝於無憂散，取牽牛子、木通於四烏湯，烏沉湯取烏藥又加延胡索一味，立為一方，以治臍下及腳攣急，陰囊腫或痛，或婦人引腰而痛，或痛引陰門，或陰戶突出者，莫不有效矣。（世所謂福井八味疝氣方是也。）</p>
<p>脾勞證心下痞，腹中雷鳴，無痛而下利，利後心下不快，反痞脹者，半夏瀉心湯主之。若脾勞下利而腹痛無熱，心下有水氣而咳，或下部有水氣，腹痛下利者，真武湯主之，此方亦用五更瀉效。</p>
<p>錢氏白朮散治脾癉。脾癉多屬虛，消渴病中多兼此證，食物偏覺甘者也。</p>
<p>下血多屬脾勞，而脾勞下血忌妄止血，是古所謂腸風屬也，宜赤小豆當歸散。若動悸甚下血者，宜香艾湯。若牽攣下焦者，宜鐵刷湯。此諸湯非止血劑，而下血自治也。（香艾湯、艾葉、香附子、甘草、生薑四味，系福井氏家方，鐵刷湯出《局方》。）</p>
<p>凡失精者，多因下焦冷而起，故以湯火溫腰，且每夜臨臥灸三陰交，則免其患矣。</p>
<p>古以失精屬虛證，今視不必然。實者間有之，其人過食，則往往為此證，故以節飲食為第一也。（按遠行者，往往患之，亦同一般。又屢失精者，屈兩腳而臥，則免此患。）</p>
<p>羚羊角治下血，其效優於犀角。犀角所主，多在吐血衄血。</p>
<p>後世吐血用升麻，下血用黃芩，一偏見也。升麻亦治下血，故《千金》云：無犀角，以升麻代之。</p>
<p>陰毒病發於陰經，陽毒病發於陽經，故異名而已。朱肱以陰毒手足冷為陰寒盛者，用烏頭、附子類，誤矣。王安道辨之是也。此病《醫宗金鑑》以為今痧病，似可從。</p>
<p>天泡者，為火爍瘡，酷暑時發細疹，其色正赤，其初自脅下至肩背痛如針刺而後發觸衣被則痛益甚。後皆為水泡也，用解毒瀉心湯，與荊防敗毒散亦佳。</p>

<h2>高階枳園</h2>
<p>枳園名經宣，字子順，高階氏。文化、方政之間，以醫鳴於京師。救濟之澤，洽於一時。致仕之後，隱於鷹峰，優遊自養，卒年七十有三。枳園生於楓亭、台州、東郭諸人之後，治術融會，頗有機警，所著《醫譜》、《方譜》、《藥譜》、《認證錄》等，足以窺其一斑，今錄一二，以備省覺。其他三角、小林竹中、有持諸人，亦聲譽相踵，而余未能詳之，故期他日云。</p>
<p>診病有四因、六證、十二候、三診、七視。四因者，謂外因、內因、內外別因、內外合因。六證者，謂初、中、終、順、險、逆。十二候者，謂寒、熱、虛、實、淺、深、緩、急、平、間、常、變。三診者，謂持脈、按腹、審稟。七視者，謂問原、尋證、望色、觀形、聽聲、嗅氣、諦習。蓋此五法三十二則，乃和漢往聖先賢之遺訓，而吾門之所歷驗。苟審診視察病源證候者，不可不精究焉。</p>
<p>瘟疫初起，食不減，味不變，精神爽慧，起居如故者，必至熱解。食將進時食反減，或絕谷元氣衰弱者，間有之，與輕疫食不減者不可混。凡瘟疫自初起至熱解，食不進者，不足深慮也。</p>
<p>其人卒然暈倒，不省人事，醒後精神恍惚，或兩腳痿弱不能起，爾後身體灼熱，口舌乾燥，時時譫語，或言語錯謬，自汗出，痰喘壅盛而煩躁，其狀如中風，半身不遂。或下利嘔逆，或噦逆。或四肢微冷者，醫不知而為風治之，誤也。是瘟病熱劇，直傳於裡，元氣衰弱之所致。虛稟者及老人多患之，選用柴胡潤燥湯、柴胡栝蔞湯。若痰喘者，宜蔞貝養榮湯，然多屬不治。</p>
<p>瘟疫淹纏不解，或邪氣沉淪，遽然變為腳氣者，屬危候。</p>
<p>瘟疫初起，手指微抽著，後必發癇，多難治。</p>
<p>傷寒、瘟疫、瘧痢、霍亂瘥後，有髮腳氣者，或有病不解變成腳氣者，世醫不知，而為病後水氣治之，遂至衝心而死，不可不慎焉。</p>
<p>產後腳氣，四肢產𤸷痹軟弱，難起居，心中煩悸，腹中不仁，體常煩熱，或洪腫或微腫，或胖脹，筋脈弩脝，或腨羸筋脈攣急，小便不通，脈緊有力者，宜犀角麻黃湯。醫不知而見其頭疼、沖氣、惡露少等證，為血氣之所為，與調血劑者，誤也。</p>
<p>風腫之為病，在上則耳後項際，在中則胸膺肩背，在下則腿股脛腨。流注為腫，其狀如癰，或壅或漫，或痛或不痛，或消散，或潰膿，其初見憎寒壯熱，頭疼體痛等表證也。風腫在耳後項際者，大則如欒子，小則似梨子。而見前表證者，宜荊芥敗毒散。</p>
<p>風腫初起，不辨傷風時氣者，見憎寒壯熱，頭疼體痛，而有表證解後發者，或有表證中見腫脹而熱隨解者，或有寒熱發作有時如瘧狀，或有身熱無間斷，其狀似溫病者，俱皆自初為腫，而至其變，或未為腫，或有表證絕無，而但為腫也。</p>
<p>麻疹初起自汗出者，邪從汗而解。嘔吐者，邪從上焦而解。吐瀉兼發者，邪從上下二焦而解。鼻衄者，邪從血而解。皆麻疹之佳兆也，不可遽與止汗鎮兜澀血之劑。疹快發則諸證自愈。</p>
<p>麻疹初起，與排毒、升麻、葛根、解肌、越婢、連翹、涼膈等湯。不發透者，乃為瘟氣收束疹毒之所致，與啟蘊湯以散瘟氣，則必出透也。（按：啟蘊湯系高階之家方，柴胡、黃芩、厚朴、半夏、草果、枳實、甘草、生薑，俱八味，蓋九味清脾湯變制也。</p>
<p>麻疹已出，其色如丹朱不紅活，麻沙混淆不勻淨，地界淡紅或微黯，發熱煩渴，睛多赤絡，口臭甚，唇舌乾燥或焦裂，躁擾不寧，小便澀少，大便不通者，乃為熱毒內伏，燔灼血液之所致。涼血攻毒飲，加犀角、石膏，或兼服獨聖散、紫雪等。疹已出，或焦紫，或紅斑、壯熱如炙，煩渴引飲，小便赤澀，大便秘硬，口氣加混，驚狂譫語，煩躁不安者，宜鬱金散，服後暫就眠，則精神即爽然。</p>
<p>癥之為病，上在鳩尾脅肋，中在臍上左右，下在少腹左右，或浮現於上面，或沉著於下底，或支兩脅，或侵兩脅，其形或圓或橢，或匾或厚，大者如拳球，如盤鱉，小者似卵茄，似梨杓，或堅硬如石，或柔韌如肉，或軟虛如綿，或牽攣肩背，或引拘脊膂，或疼痛，或不疼痛，或臍下無力，或腹內覺狹小，脈多沉遲者也。病在少腹，初起小如桃慄，或雞蛋，或似茄子、梨實，漸長大。久之，其狀如懷胎而正圓，或蹲踞不匾長，不成稜礧。大者充滿腹中，宛如南瓜狀，在正中，或微倚左右，按之浮凸，或沉著不移。其處無痛，或雖痛亦不劇，月信以時下，或經血過多，其塊必膨脹，飲吃談笑如故。但俯則覺妨礙耳，名曰腸覃。此證難愈。雖不愈，不為大害，或其狀如懷胎，經年月則漸減至如初。若當覃始萌時，早服通氣松滯之劑，則或可防之，宜烏苓通氣散。</p>
<p>解勞、緩痃二湯之所治，系將為勞之兆。故二方俱腹力虛軟者，加人參。微咳者，加貝母、桑白皮。熱深者，加地骨皮效。（枳園所自驗自古經方，至俗間單方而又出於自制者，居四之一，如緩痃湯、潤肺湯九味柴胡湯之類，今用之屢得效矣。）</p>
<p>疝熱甚時譫語，或口渴舌燥，或黃胎、或白胎，大便如熱痢，小腹拘急，腰臀下迫難忍者，宜融疝散。窘迫重墜甚者，加大黃。疝無觸犯之因，卒然小腹堅硬，痛難忍，或從右，或左上搶沖脅，脅氣急息迫，手不可近，煩悶擾亂，身熱甚似溫病，口渴舌燥，小便不利，大便秘，或嘔吐噁心，或時呃逆，從少腹直上衝心下，或下牽陰囊，但坐不能臥，或肚腹臌脹，彈之為聲者，名曰沖疝。其證多屬熱，宜融疝加大黃湯。</p>
<p>嬰孩或幼少時頸有結核者，俗稱為癆之兆。雖未必然，間亦有之，不可不知。（按：金匱·虛勞篇》云：腸鳴馬刀俠癭者，皆為勞得之。古人以頸核為勞，是其一徵。）</p>
<p>虛勞初起，腹肚脹滿堅硬而痛，或引少腹咳嗽，盜汗有微熱，食了腹乍膨悶，或食不進，大便多瀉，甚者日四五行，或時下腸垢，下後腹中稍覺快，若不下，則脹益堅實，而短氣煩悶，頸脈甚動，或口咽乾燥欲嘔，或四肢微腫，而趺上豐滿，或喉間微響，時鼻扇，或腹肚疼痛難忍，身體疲睏者，吾門謂之腹脹勞。而素有痃癖而發勞者，多屬不治。若與柴平湯、柴胡檳榔湯，大便漸硬，腹脹隨減，痛止熱退者，為佳兆，此證在虛勞頗為逆候，世醫不知，而漫認為脹滿，大誤也。</p>
<p>傷寒桂枝證兼嘔吐者，多因停飲拒格微邪。故治停飲則邪從解，是以不與桂枝湯而與和解湯也。</p>
<p>發散劑加氣藥，則其效反捷，此氣道疏而邪自祛也。如大邪非此例。（家君於二陳湯加葛根、羌活、桔梗，治輕淺風寒，即此意。按豐公徵韓之役，人多得外感，醫投以不換金正氣散無效。鬼將軍部下有老醫，與以香蘇散立驗。人問其故。曰：遠征人多兼氣鬱，非氣劑則不能達焉。北山壽安曰：近來醫家唯以香蘇散治感冒時氣，氣滯頭痛痞滿，腳氣皺腳等，而不言能解食毒之功，亦闕典也。皆與此條相發宜參考焉。）</p>
<p>溫病里證悉具，而舌上白胎滑者，認為臟結，不可失下，能審他證具而可下之。平素大便秘澀者，得溫病忽黏滑，或鶩溏，此非因胃虛邪氣猖獗之所使，緩漫失下，則胃氣消爍，噬臍無及。</p>
<p>人方湯浴時，身如被束縛，或如灌冷水者，肌表有熱也。</p>
<p>《千金方》以浮為表脈，以沉為里脈，而醫家奉為典型。余質之於實際，浮有病散脫之候，沉有病收閉之候，而此二脈陰陽俱有之，概不可為表裡。</p>
<p>夏月因暑熱遺尿者，宜白虎加人參湯。（按：或云三陽合病條遺尿二字，疑當在發汗則譫語下。此說似有理，然有間屬實者，宜於實際而徵焉。）</p>
<p>有人臨臥時肩背如負千斤重，漸及通身，須臾冷汗淋漓，煩悸難堪，而其苦頓止者，發中風或支飲之兆也。</p>
<p>風病昏絕，須臾醒又發者，為難治。</p>
<p>中風醒後，諸證稍緩，但肩臑接骨分離不遂者，為難治。若分離不甚者，間得痊。腳氣無手足麻痹、軟弱、腫脹、筋攣等，唯心下微急，小腹不仁，食如常。食已短氣，臥則氣息稍平，其人上體豐滿，下部削小者，此欲上衝之候，不可忽視。</p>
<p>乾腳氣聲嗄咽中痰壅者，多死。</p>
<p>支飲、腳氣、產後血氣三病，其證大同，而其源大異，不可混治，宜以脈辨之。脈大按之虛無力者，支飲也。脈洪數按之緊有力者，腳氣也。脈軟弱而數，按之中止者，產後血氣也。（按：此三病本不同，證亦有所區別，宜審焉。）</p>
<p>肺痿咳嗽吐沫頗已，其人忽吐血發熱者，為惡候。</p>
<p>久咳不止，唾血引紅線，或為點斑者，屬肺損，雖外候似輕，最為難治。余為制一方，即於桔梗湯方中加白芨、桑白皮，名白芨湯。</p>
<p>虛勞吐紅不一，有痰中引血縷者，有痰中為粒顆者，其大或如蠶豆，或如赤豆、綠豆，見血雖小，不可忽諸。</p>
<p>久咳唾血如紅縷，或為點斑者，此屬肺損，他證雖微，終至難治，早可與白芨湯。世所謂不食病，即《醫級》所載神仙勞之類。此證婦人尤多，男子至少。或饞嗜焦餅豆糕，或喜食果瓜、生菜、昆布、海苔。其甚者，絕穀粒，唯飲水，而肌肉潤澤，臥起步動如常，小便能利，大便秘澀，口乾貪飲，以至年餘，其病多出於鬱氣，故宜氣劑而不宜補住也。</p>
<p>人無故飲食減少者，將發大患之兆，當攝養。若緩漫失期，則藥餌灸焫無及。蓋此證有暴漸之別，暴減者可治，漸減者難治。一種有神仙勞者，雖不食，與此證自異。</p>
<p>哮喘脈數屬陰虛火動者，宜滋陰降火湯。若里邪實，大便不通，脈實者，宜承氣湯。</p>
<p>幼時患哮喘者，一旦治之後，有發癲癇或心風者，又有癇疾者，皆系先天遺毒，故為難治。</p>
<p>幼少時患哮喘者，治之後，多變癲、癇、狂、心風四病，或有不服藥自變此四病者，又有初患癇，治後變哮喘者，又有幼少無事，壯歲始患此五病者，俱系先生遺毒。但因其人體氣有遲速耳，吾門皆名之曰胎病。（胎病名出於《素問·奇病論》，可以徵焉。）</p>
<p>風痰家時發熱惡寒頭痛，身體疼痛，或肩背強急，或咽喉簽痛者，皆痰之所為，非感冒也，俗名曰痰風。</p>
<p>胸痹痛在皮肉間者，為惡候。</p>
<p>背胛或右或左拘痛，動搖則益劇，而其痛驟去者，多變為胸痛。狀與胸痹相似，而筋脈糾戾之所致。故氣急妨悶，飲食微噎。其痛亦與胸痹徹痛不同也，宜《本事方》桂心散。</p>
<p>噦逆與熱藥無效者，屬壅熱，以瀉心湯、麻沸湯，服則速愈。（按：《萬病回春》以黃連解毒湯、白虎湯，治傷寒熱證。醫者誤用薑桂等藥，助起火邪，痰火相搏而呃逆，即同旨。）</p>
<p>其人食味皆苦，或甘醋或酸澀者，將發噎之候，但覺苦者為易治。</p>
<p>打撲傷損，瘀血不去，歷年後卒然氣急，心下逆搶，或昏冒不知人，或妄語，或健忘者，是即瘀血作風狀者。</p>
<p>水腫遍身滿腫，唯兩手臑肉脫而枯柴者，為不治。</p>
<p>婦人手足麻痹者，多七情鬱結，經絡凝滯之所致也。正氣天香湯，或香蘇散、二陳湯相合加烏藥。</p>
<p>婦人素鬱悶，牝戶覺痛癢，時水液滲出，飲食少思，肢體倦怠者，宜加味歸脾湯。心中失血養，則必為怔忡，故治此證宜選用四物、八珍、十補、人參、養榮諸湯，俱加麥門、酸棗仁為佳。</p>
<p>患腸風者，概為氣急耳鳴，而偶無之。唯目眩頭暈者有之，不可不知。</p>
<p>頭暈屬實者，宜防風通聖散加菊花。</p>
<p>其人無故夢寐恍惚，語言妄錯，兩手微顫，顏耳潮紅，或時喜笑，或作持握狀，劇則為瞪視狀，須臾覺悟，爽慧如故。此人多壯實，飲食失宜，七情乖錯，因勞動倦怠，熱痰壅蔽心竅之所為，名曰心慌。不急治，則必發風癇，至不救。其始發密陀僧丸，而後宜清神湯，加減清神湯。</p>
<p>人值雨濕則必腰痛者，宜滲濕湯、除濕湯類。</p>
<p>人卒然盜汗出而不止，飲食起居如故，氣亦爽快，大便自調，小便才少者，是水飲滲溢毛孔之所致。早利其小便則愈，宜茯苓甘草湯，不必須止汗澀收之劑。若小便不利而汗血止者，後必發水腫或下利，不可不知。</p>
<p>耳鳴唯聞鳴鐘柝聲，而不能聞他聲音，欲聾之兆也。</p>
<p>癇疾有跗上或膝蓋痛者，可不與歷節混。</p>
<p>小兒十歲前後肛門生小蟲，數十為群，或數百圍如鬼燈狀，痛癢難堪者，至弱冠多發勞瘵。</p>
<p>龜胸名恐不的，當稱雞胸似是。蓋雞胸病證在幼稚為疳，在少壯為癇也。</p>
<p>嬰兒生七八月無病，至九十月漸肌肉肥胖，時時發熱，如外感，或如瘧，吐乳青便，頂顱光瑩，囟門或填滿，或凹陷，睡中微抽者，將發陰癇之兆。庸醫不知，認為胎肥，可笑。</p>
<p>兒四五歲，鼻衄血月一次或二三次，每次五六勺，多至數合，其血黯紫而稠黏，或鮮紅而稀薄。當其發，必氣逆面赤，手足微冷，消穀善飢，大便秘，小便數也。此證有乳癖腹痛後發者，有痘後發者，《千金》竹茹湯方中去芍藥、人參、術桂，加麥門冬、黃櫱、梔子、升麻效。（竹茹、甘草、芎藭、黃芩、當歸、麥門冬、梔子、升麻、黃櫱、上九味加茜根佳。）</p>
<p>百會邊時時如有物沖，或時痛，或淚管無故而噴出者，是將發腦風候。</p>
<p>結毒有胎黴二因，而因黴者十之八，胎僅居其二。其狀多屬冷毒，而屬熱者甚少。</p>
<p>露敗瘡與漏瘡同，義通諸瘡而言，非一病也。但彼則漏泄，此則閉結，雖其狀異，至其不痊一也。</p>
<p>黴毒有冷熱之分，不可不詳。冷毒尤少，而熱毒常多。冷毒屬氣而痊遲，熱毒屬血而痊速。冷毒輕緩似易，熱毒劇猛似險。又冷毒面色皓白如常，熱毒面色慘黯隱顯不定。冷毒生瘡多年不痊，而其勢不劇甚，熱毒則生瘡浸淫為激發，是為辨。世醫不知，一概治之，誤人最夥。（拙軒曰：梅毒分冷熱，翁之創見，非經歷深者不能也。）</p>
<p>流注毒稠膿漸化為稀水者，非佳候。若膿止唯鮮血淋漓者，雖能食神爽，死在近，不可輕忽。此與產後脫血其候同也。（敗液流注往往發此證，最為危急候。）</p>

<h2>多紀桂山</h2>
<p>桂山先生著書之富，從前醫家無比，皆醫林鴻寶，一日不可少，猶布帛菽粟。而治療之盛，年不下七八百人。是以一匕之驗，半句之話，亦可以範後生矣。</p>
<p>小野氏乃政年十八，妊娠彌月，胎水漸盛，遍身洪腫，下體尤甚，口舌生瘡爛壞，不能啖鹽味，日啜稀粥僅一二碗，小便赤澀，大便隔日一解，脈滑數有力。醫以為胃虛不能攝水，與參朮等藥，勢殆危劇，遽邀予理之。予曰：胎水挾濕熱者，非胃虛也。投以豬苓湯加車前子、黃連、梔子，蓋車前子一名苤苡，不止利小便。亦取毛詩云，宜懷妊之意，服五六日，逐漸小水快利，腫脹稍散，口中亦和，飲啖復常。因改用紫蘇和氣飲加白朮、黃芩。至月盡而誕，母子兩全矣。</p>
<p>御藥局小吏兒生五個月，吐乳日六七次，無他證，惟面色青白，似稍疲倦。父母憂之，請理於予。予曰：此責在小方脈，敢辭焉。渠曰：凡小方理吐乳，非錢氏白朮散、香砂六君子湯，則涼膈散、紫圓之類，其變慢脾者，比比皆是，願君別為處置，以救豚犬命也。懇請不已，予因制一方以與之。半夏為君，茯苓為臣，藿香、伏龍肝為佐，丁香為使，生薑為引，每帖一錢，水煎，別以養正丹為散，以挖耳頭挑散子入口中兩麻子許，以前藥汁送下，日五次，不浹旬而吐止神色復。故此予常用理翻胃方，藉以療吐乳未足以為奇。而世之啞科徒守常套，而不知此等策，聽其夭殤，悲夫!</p>
<p>一商家僕年二十歲，患膿淋數日，時時發微寒熱，飲食少進。診之，脈沉小而數，腹中無病，第似神色不太樂者。予以為肝經濕熱，與龍膽瀉肝湯。後十餘日忽走使曰：下血數升，命在須臾。余倉皇往診，仰臥蓐，氣息綿惙，六脈洪數而虛，急灌獨參湯，下咽即吐，尋之乾嘔，額汗淋漓苦悶，吐蛔七條，試作小半夏加茯苓烏梅蜀椒湯與之，嘔逆益甚。余沈思謂孫思邈以單甘草止吐，今用之蛔必安，因如法服之，吐忽止，氣息稍平。時看護者將更蓐，除汙衊，披衣視下體，陰囊破壞，有孔如剜，雙卵墜在蓐，其大如雞蛋而稍扁，色白而紅縷纏繞，眾驚愕報予。予曰：昔江篁南以陰囊破裂為千古稀見，況陰丸脫落者，可謂奇中之奇矣。雖然，人有閹，豕有豭，此皆割勢而猶能生。此人黴毒結於陰囊，故有此變，與壞鼻蠟燭疳亦同，調護得宜，當不死，後調理果愈。</p>
<p>腳氣所因，有濕邪中足，壅塞經脈而致者，有腎氣不足，飲水失道而致者，有膏粱過度，脾胃濕鬱而致者。故預防之法，忌久坐陰濕地，或著滋濕衣，或冒霧而行，或步久雨霽後地氣蒸發之處，忌過食魚烏餅粢一切厚味，忌大酒及醉睡，忌房事過度，及醉後入房，忌久坐久立，及行步勞動俱失其常。慎此五者，則不止腳氣，亦諸病不生，久視之要訣也。</p>
<p>小兒吐乳雖數端，大要不過虛實二途。蓋有胎元胃虛，不能消化乳汁以分布下部而吐者，有飲乳過食，結成癖積，拒格新乳而吐者，又有胎毒潛伏於腸胃之間，格拒乳汁，或兩者相搏，遂為頑涎，結聚胸膈而吐者。此證特多富貴，而貧賤最少。故治法宜清涼者多，而又有宜溫補者，又有不拘攻補從中治消痰化食降氣殺蟲以奏效者，當審其證而治之。</p>
<p>虛勞及極虛證。間有手指末節以下腫黑者，蓋經脈不能盈四末，而瘀血敗惡之所致，未知前人言及否。</p>
<p>余曾聞之於太田隆元水腫並腳氣心下痞硬者，有辨衝心與痞之訣。其痞浮顯，按之易知者，無沖沖之患。其痞沉著，按之難認者，反生不測之變。宜潛心辨之。</p>
<p>久病不問何證，脅肋露歧骨如皺襞者，得生少。</p>
<p>仲景曰：少陰病，脈微細，但欲寐，此少陰邪深入里，陽氣衰竭故也。不止傷寒，諸久病語話飲食之際亦眠者，死候也。</p>
<p>《證治要訣》曰：諸中風忽吐出紫黑色者死。驗之於諸病皆然，不止中風也。</p>
<p>醫者對病人未診之前，問其證候，胸中預擬其方。則診畢後反失其真諦，宜虛心精診，而後熟慮下按矣。</p>
<p>俗所謂疝瀉、疝痢、疝淋者，醫書所謂氣瀉、氣痢、氣淋是也。</p>
<p>欲識古人臨證施治之妙，莫如善讀其治驗。予將掇其精英，類為一書，而年老未果，哀矣。（讀前輩成案，可拓後學之心胸。擴群醫之見解，第變通則在善學耳。）</p>
<p>月信痛，用桃核承氣湯加附子效。蓋本諸喻氏《寓意草》治傷寒後腰痛按。（一說云柳沜所發明。）</p>
<p>木乃伊、血竭二味，等分為丸，能治乾血勞。蓋木乃伊活達瘀血，振興真元故然。</p>
<p>半夏厚朴湯加浮石，以治梅核氣奇效。</p>
<p>麻疹餘熱不解者，宜柴胡四物湯。（茝庭曰：疹後大抵主清潤。故宜此方。）</p>
<p>諸大患卒發嘔者，多不治，如腳氣衝心最然。</p>
<p>今時稱淋者，多屬黴毒，《瘡瘍經驗全書》所謂內注下疳，（用小柴胡加龍膽、車前子者。）《證治要訣》所謂小便注杆甘瘡類也，不可與古淋混治。（東郭亦有此說，而考證未確。）</p>
<p>一奴隸患手大指觸物，則氣宇鬱塞，不可名狀，諸治無效。余以為血氣流注，與活絡流氣飲速愈。</p>
<p>《痰火點雪》云：勞疾左脅痛不能轉身者，此乃肝葉已干，名為乾血痛，肝經已絕，死不治。此說本於《直指方》，而其證今多有之。醫誤認為肝積，與熊膽等無寸效，宜矣。（山田業廣曰：《素問·刺禁論》肝生於左，肺藏於右。其所謂生者，言生長其氣於左。凡《素問》中言，生者皆同，言左者，非言位置，肺藏於右亦然。驗之於實際，病在左者，宜疏肝瀉肝，可以見也。）</p>
<p>《祝氏心醫集》云：瘧疾每日如期而至，名曰瘧信。此當原證發散，未可直攻，未可截也。或前或後，此正氣漸旺，邪將不容，名曰瘧衰。方可截之試之甚理。</p>
<p>痢疾似虛而不虛，似實而不實者，用參歸芍藥湯，兼聶氏治痢第三方，米糊為丸，白湯送下。</p>
<p>俗所傳奇方者，多出於本草附方，不可不讀。</p>
<p>水戶候（文公）有疾，其初登圊大便不快下，胸滿短氣，如此兩三日，或發或瘥，乃召余診之。其脈滑數無根底，面色青慘，心下微滿而拘急，腹裡無動，臍下空軟如綿，乃知其病上盛下虛，非一日之故也。但侍臣視其起居如平，無能察知病情者。余出語之曰：侯病雖似支飲，實由中氣虛耗，殆為危證，治法宜峻補方中加沉香，更進黑錫丹以回陽鎮逆，猶恐不及也。侍臣聞之，或驚惶，或疑惑，不知所為。明日診之，間吐痰沫，其色茶褐色。厥明又診之，脈十動一止，因謂侍臣曰：此證此脈，俱為臟氣竭絕之候，恐有急變也，須灸天樞、氣海、三里、絕骨等以培下元。醫不信，逡巡進降氣之劑，而至日晡將登圊，短氣息迫，卒然昏倒，急使人召余，至則絕矣。余嘆曰：候之疾縱屬不治，使侍臣早見其機，醫察其微，則未遽有今日之變也。</p>

<h2>多茝紀庭</h2>
<p>夫醫者，必取熔醫書而後識見正，必參酌經方而後手段精，必廣療疾疢而後運用極。故不明醫經經方之旨者，雖業大行，僥倖不足觀。明醫經經方之旨者，雖一匙半劑，亦具有規則。如茝庭先生以名家子弟，加之學術兼至，是以超逸前輩泰斗於一世。古人所謂讀仲景書用仲景之法，然未嘗守仲景之方，乃為得仲景之心者，非耶。</p>
<p>文化丙子夏秋之交，江戶大疫，其證初起熱勢猖獗，直進於少陽，不日至精神昏憒，大概宜大小柴胡湯，黃連解毒湯。而及於陽明胃實者至少，爾後流行往往類此，而如陰證甚鮮矣。余嘗視先教諭治傷寒多用參附，故老亦言先生多陰證躁擾者，噫風氣變遷所使耶。（疫因歲運有變替，亦見於工藤周庵救瘟袖歷，及荻野臺州瘟疫辨。蓋辨六氣之環轉，拆神氣之出入，陰陽消長之妙，虛實遞更之變，首尾貫通者，唯仲師書為爾，後學當細心辨之。）</p>
<p>辛巳歲，春來多旱，至夏秋之際，炎熱特甚，疫邪流行，其證不惡寒，肌熱如灼，脈洪數或緊細，手腕顫掉，下利日四五行，或溏泄過多，渴好冷水，舌上無胎而乾燥，心下支結，腹虛滿雷鳴，譫語，或昏睡不語，吐沫頭汗，甚者嘔逆上竄，速羸瘦，下黑血，遂死。余以為是暑熱侵肌肉，邪氣著筋脈，津液乾枯，血分沸亂，故至下血而極矣，治法清潤補三法中兼利水而得效。蓋比之於丙子之疫疾，其證候亦少異矣。</p>
<p>少陰病輕證有既濟湯，與姜附益氣湯之別。上焦津液乾枯，其證似白虎湯而脈浮數無根，腳腹部軟弱，且微利，雖渴無欲飲水數升之勢者，為既濟湯。若夫邪氣緩慢，漸見譫語煩躁，肌熱不甚，舌上濡潤，所謂勞役感寒者，為姜附益氣湯。此證三十年前多見之，而至近時唯見導赤各半湯、升陽散火湯等證，而此證絕少。時世之變，亦可以知已。</p>
<p>冬月傷寒發汗不解，下利數行，或不下利，三四日後熱彌熾，譫語煩悶，口舌乾燥，呼吸促迫，脈弦澀或滑數，無根底，舌上黃潤，心下痞，小腹無力，面赤耳聾。余以為直中證，與以附子劑無效。後謂上熱下冷，與乾薑芩連人參湯，其效如桴鼓。</p>
<p>文政己卯仲夏至仲秋，都下痢疾大行，斃者不知數。其證皆熱毒痢，邪氣熾盛，下利至百餘行。治法發表攻裡，或清涼奏效，而偶有挾虛者，桃花湯所宜，若誤投粟殼、訶子類必害。又虛家屢下之後，血水泄下羸脫者，又腹裡拘急，至夜燥渴，用地黃得效。</p>
<p>痢疾久不愈，舌上如粟粒，其色黃白或純紅，甚者及牙齗，此證多屬不治。又有舌上咽喉牙齗一面生厚黃白胎如鵝口者，有發吃逆者，皆為不治。（按：諸疢久不愈，口舌生鵝口瘡者，皆胃氣衰敗之候，固為死證。）</p>
<p>痢疾發渴者，多好熱湯，不可概為陰，而治寒下劑間效。又痢疾手指逆冷者，屬熱，陽脫於上故也。又熱痢失下虛極者，必手指冷至肩上，而足僅過踝而已，俱非溫藥，所宜矣。</p>
<p>痢疾初起，脈數無倫，下利頻數，精神不安，額上汗出，面部肉脫者皆為不治。</p>
<p>文政庚辰春夏之交，淫雨數日，霽後暴催溽暑。時人發奇疾，其證如干霍亂，心腹卒痛暴熱，脈洪大，心下支結，飲食不進，大便秘結。因與備急圓、大陷胸湯類，則反痛甚，熱不去，徒生煩渴。余以為雨濕內郁，毒氣上攻者，試與增損理中丸料，（代白朮以蒼朮。）痛頓減，不日快復，遂活數人。後閱東郭導水瑣言，京師亦行此證，東郭用外臺桑白皮、吳茱萸二味者得效，蓋一類也。（按：桑白皮、吳茱萸二味方，原治急喘，而東郭運用之，元和紀用經名之降氣湯。）</p>
<p>痘疹發熱疑似者，診虛里，其動亢盛及缺盆者，痘也。此動無者，他病也。余得此訣於小川檉齋，而驗之果然。</p>
<p>黴毒雖分四證，不出二端，何則？下疳在肌肉而毒淺，故發則為楊梅瘡，便毒著筋脈而毒深，故潛則為結毒。然亦有虛實之分，下疳其人虛者，毒易侵入。故其愈遲便毒其人實者，毒易外托。故其愈速，竟亦不出二端焉。</p>
<p>舊疾暴變者，多因邪氣內伏。能認其候，不拘本病，直與發散劑則效，是即先治其卒病之意。</p>
<p>和田東郭以地黃治心下痞，蓋本諸吳氏參附養榮湯，治下後反痞之說。余以為地黃之痞，與瀉心湯之痞相似而異。腹部宗筋急，津液乾枯，其勢上迫於心下，故以地黃滋潤筋脈，則痞自愈。若飲邪並結，心下支滿者，非瀉心湯不能解。是所以相似而大異也。</p>
<p>世醫將證候錯雜難名狀者，檄曰癇證，蓋本諸香川氏行余醫言云。《先教論》曰：癇本小兒病，在大人當稱曰癲。如香川所謂癇證，則大病奇論所說氣疾，戴復庵所謂心風為相近。余嘗考其病由，繫心肝膽三臟，有由心神虛祛，與心氣不寧者，有由肝氣抑鬱，與肝氣過亢者。如膽氣亦由虛實，證候各異。能讀古人論此三臟病證者，則於其治法思過半矣。</p>
<p>難以小便黃白辨寒熱。戴復庵既論之，而如以渴之冷熱定陰陽，亦不可拘執。熱利喜熱湯，風濕欲冷飲，同類相求之理，不可不知。其他以所喜冷熱定病寒熱，大抵為不瘥。</p>
<p>傷寒熱劇證，用柴胡、黃芩類，非多服則不能奏效。水氣洪腫者，與淡滲藥非大劑則不能達方，屢驗果然。</p>
<p>嘔吐不止，諸治無效者，畑惟和診曰：脈浮數，屬表邪壅遏，與葛根黃芩黃連湯速愈。又有同證者，片倉周診曰：脈沉伏屬鬱熱，與白虎湯果止。可謂二子診異表裡而並妙矣。</p>
<p>古方之妙，殆不可思議，今舉其二三：如牡蠣澤瀉散料，（或加大黃）治實腫陽水；栝蔞瞿麥丸，治腎氣丸證而嫌忌地黃者；黃連湯，治霍亂吐瀉不止，心腹煩痛者；梔子甘草豉湯，治膈噎食不下者；苓桂甘棗湯，治澼囊累年不愈，心下痛者；白頭翁湯，治腸風下血。餘數年所實驗，桴鼓影響，妙不可言。用古方者，豈可不精熟哉!（陳修園曰：旋覆代赭石湯，今於嘔吐不止之證，及噦逆借用甚效者，取其重以降逆也。乾薑黃連黃芩湯，今於食入即吐之證取用甚效。又借用麻杏甘石湯，治中暑頭痛汗出而喘口渴之外證。黃連阿膠湯，治心煩不得臥之內證。借用麻軺豆湯，育陰利濕，俱從小便而出之類。可知經方之變化如龍也。）</p>
<p>澼囊治方雖居多，無如苓桂甘棗湯者。余又以三因方補脾散煉蜜為膏，服得奇效。若便秘內實者，起廢丸為妙。</p>
<p>《千金》紫蘇子湯中當歸，取之於降氣。本草云：主咳逆上氣是也。人參敗毒散中枳殼，取之於驅風。本草云：主風癢脈痹是也。世醫日用而無審其效用者，噫。</p>
<p>余嘗治一男子傷寒數日不瘥，譫語面赤，脈緊無力，微下利，上熱下冷者，與姜芩連參湯無效，小河雄齋（吉益南涯門人。）與當歸四逆湯速愈。曰：予往年患此證，柴田芸庵用前方得蘇矣。</p>
<p>病人足趾甲溫而兩脛冷者多死，腿脛無水氣，但足跗腫者亦危。</p>
<p>大病人忽兩頦筋弛如落架風者，屬不治。《和劑局方》烏荊圓主治云：頭頷寬嚲不收，手盛頷能食。蓋此類。</p>
<p>噦逆諸治無效者，與熊膽效，又與左金丸料屢驗。</p>
<p>腳氣雖小便快利，脈駅胸動，甚至衝心者，水毒外壅侵內也。又雖脈候胸動俱穩，小便不利，以至衝心者，水毒內郁遏脈動也。此二證系局外之變，不可不精思。</p>
<p>腳氣下部無水氣，胸背頸間面部或手背浮腫者，忽至衝心，不可輕視。如水腫上盛者亦然。</p>
<p>腳氣嘔逆喘急者，為衝心之漸，不可忽諸，然復有似而非者。一壯失腳弱脛腫，喘滿短氣熱熾，診之疫邪挾痰者，乃與柴胡陷胸湯，兼服利水劑亟愈。又一人麻痹痿軟，嘔逆不食，診之腳氣兼蛔蟲者，乃作腎氣丸料與之，兼以烏梅丸而全。治此等診在脈與胸動，而非精詣者難與言。（嘗聞先生以一味連翹膏治腳氣嘔逆衝心者，可謂得古人不傳之妙矣。）</p>
<p>腳氣發熱類風寒者，不衝心則為腳痿軟，為可懼，救之偏制腳氣為妙。若真挾風寒者，非此例，宜比較以辨其差。</p>
<p>診視之際，有病情隱微難認者二端：一則勞瘵肝鬱之類，始萌時感招外邪，外邪雖解，病不可愈者，內為有奸也。若徒為外感治之，則其取敗不鮮矣；一則舊疾人得疑似之新病者，假令如痼瘕之得腸澼，澼囊之得飲食傷，若拘執舊疾，不治新病，則其害在反睫。此二端最宜精診熟察。張景岳曰：醫有慧心，心在局外，醫有慧眼，眼在兆前。其是謂乎？</p>
<p>病名古今異稱，或一證及數名，極為繁衍。如一病蓄數義，最易致誤，今舉一二辨之。腫本癰腫，轉為水腫之腫；瘡本創夷，轉為瘡瘍之瘡；疳本蝕爛之義，而小兒嗜甘為病亦名；疳痰即澹飲，古作淡，而後世概為稠涎之名；癉，熱也，省文作疸，而轉為黃病之名，又移為丹毒之名；瘤者，懸贅也，後世轉為丹溜之溜；悸，心動也，而古來概為動築之義；奔豚，難經以為腎積，《傷寒論》以為氣衝，咳逆謂咳嗽氣逆，而後世謬為噦逆之名；此類宜甄別焉。（桂山先生《瘟疫類編·序》辨病名字義亦精晰，宜與此條參看資益。）</p>
<p>近來舶齋醫書，大率蹈襲陳言，未有所發明，而其序跋徒極稱揚。顧不讀古書者之所為，要之優孟衣冠，不過追時習釣名利耳。</p>
<p>讀醫經與他書異。若讀《傷寒論》，最當虛心平氣，就其至平至易處，研性命之理，使文義與治術吻合符契，而後博徵諸載籍，多驗諸疾病，優柔厭飫，浸潤涵泳，真積力久，始足以應變無窮，此之謂善讀者矣。世或有穿鑿拘泥，固執偏見者，有膚淺浮疏，自誇心得者，有徒騖論辨，而不察證治之要者，有專拘字訓，而不究微意之所在者，此皆不善讀之過也。又有不學無術，臆測懸揣，以為得經旨，聞有不合己意者，概謂之後人摻入，妄刪改之，此所謂夏蟲疑冰，越犬吠雪者耳。蓋據經以洞病理，此其常。而亦有由驗病而悟經義者，不可不識焉。（醫之所貴者，力學之外，又得名師益友。日舉其所治之證與聖經之異同，合而講論，始知其妙。此亦由驗病而悟經義之一端也。）</p>
<p>嘗考諸家註釋，成聯攝順文直解，稍屬淺拘。然創闢之功誠偉，能為來者所矜式。方中行亦出新裁，非無發揮，然憑其私顛倒經文實作之俑，喻嘉言略本中行，更益端緒，後人何以崇信之。至柯韻伯學識頗高，最有所見，而猶多臆斷。程郊倩間話俚語，失解經之體，至論理精密，殆非諸氏所及。汪苓友處心平穩，疏通前注，雖未能脫陋習，固與專己守殘，相去懸隔。張隱菴及令韶率由舊本，不敢錯易，蓋不蹈時趨者。錢天來辨訂不遺餘力，然或失太鑿，亦不無膠柱。《醫宗金鑑》彙纂之治，殊為有益，其刪章改句，無所不至，抑亦妄矣。（多紀柳沜曰，古人注張子《傷寒論》者，既無順文釋義之弊，克闢守陋襲膠之說，旨義明瞭。別開生面者，柯韻伯《來蘇集》是也。割裂舊章以為類纂，雖不免妄改古書之責，錯綜有條，端緒井然，足以為臨局施治之便者，錢天來《溯源集》是也。蓋二家之集，精則精矣，奈何博辯冗議，讀者不能驟窺其要焉。在涇之書，其說多原於韻伯，其分治法佐天來，而變其例，更出新意以啟發之。辭約理該，直截易了，雙珠一貫，斯供把玩，是亦活人之手段也。二子說議論切當，為後學楷則，當與呂滄洲論歷代諸醫文並傳）。讀書法務遵古人，古人之言既妥矣，固無須贅說。而徒鬥博誇多，更生異見，右傅左會，喋喋費解，謂之無用之辯，吾不取也。</p>
<p>凡讀醫經遇訓義有確據，則舉其一二而足矣，不必取於繁冗也。</p>
<p>訓詁雖精，而其義不切於治術者，未為得也。訓詁雖不精，而施之於疾病必有實效者，乃為得經旨矣。</p>
<p>凡立說者，非通貫全經，則不可謂之盡理蘊，非該盡萬理，則不可謂之得經旨，矧乃欲以變律常及拘於常而不通變者，皆善讀之過也。講研軒岐長沙之經，抉擇歷代良師之著，以切臨病處藥之際，是吾家為學之方，亦即吾家為醫之訣，是以先君子蒐羅天下醫書以貽子孫，其意一在後之人善讀而善用之焉已。（此數條為後學開正路，一一書紳之語。余嘗謂自古以來醫籍充棟，賢愚不等，偏見迂論者，不可勝數。亦毋庸詳辨博考，只驗聖經賢傳緊要之書，揣摩精究，自然學術自進。鎖末字句，置之不論，別風淮雨，何必一一查考耶!）</p>

<h1>黃跋</h1>
<p>《先哲醫話》上下二卷，日本信濃人淺田宗伯撰。考文淵閣著錄之書，凡醫家類九十七部，一千五百三十九卷。列於存目者，又九十四部，六百八十一卷。證之內外藥之氣性，方之佐使，無不備也，然未有輯醫論以成話者。醫之有話，實自宗伯始。夫醫者意也，病有萬變，醫無一定。自《和濟局方》專主燥烈香熱之品，而劉守真救以寒涼。至於張子和舉一切病以汗吐下三法治之，東垣興而重固脾，丹溪出而重滋陰，景岳作而重補陽。夫古之人，覃精研思，竭畢生之心力以從事。當夫縱心孤往，必熟察夫天時之寒熱，地氣之燥濕，世運之治亂，人身之強弱。一旦豁然貫通，或補或伐，如良相治國，名將用兵，投之而無不如意。其一偏之論，皆其獨得之秘也。或不察所由來，媛媛姝姝，守一先生之說，物而不化，是何異刻舟求劍，以為劍在是乎？至鑑其無效，轉謂古方適足以誤人。如陳起龍、黃元卿，詆諆先哲，不遺餘力，抑又慎矣。蓋先醫真積力久，而有所獨得。單詞片語，皆精微之意，行乎其間，雖涉一偏，學者能優而柔之，厭而飫之，復神而明之，用均無不效。又況其言之純粹以精者乎？是卷蒐羅名言，間附評論，皆折衷精當，托始於後藤艮山。艮山蓋唱復古之說者，而末卷多紀茝庭之論。於讀經之審，運用之妙，尤三致意焉。非唯舉先哲之法以示人，且示人以效法之方，淺田氏於此得其力勤而用心苦也。日本之知漢醫，自新羅百濟來，逮隋唐而盛。其後李朱之說大行，丹水友松號倡復古，醫學昌明至於今，此書所錄。自享元至文政，凡十三人，取其尤著者耳。淺田氏名惟常，號識此，一號慄園，舊幕府醫官，今隱居不仕，以醫名五大洲。著醫書三十餘種，斯其一也。頃療余疾，因得讀其書。他日歸，將致之醫院，以補金匱石室之缺云。</p>
<p><u>大清光緒五年閏正月嶺南黃遵憲公度跋並書</u></p>

<h1>書《先哲醫話》後</h1>
<p>歲遇豐熟，谷盈百室，露積其粱，而遺秉滯穗，猶且可拾，寡婦所利。較諸農夫所慶，雖有多少之等，豈異其堅慄乎？向慄園公著《皇國名醫傳》，敘先哲事蹟，猶谷盈百室，然雖此篇屬遺秉，堅慄則同焉。後進嘗其旨否，所利不少，終善且多者，必有矣。因想初公苦學，蓋亦不與農耕隴畝，蹈泥淖，驅牛馬，耘耔費精而時刻望秋異。今之學富業殷，亦復與農遇豐熟。黃云漠漠表嘉瑞同，吾曹推公為囷窌，為倉城，則此刻告竣，其可不慶乎，喜而跋。</p>
<p><u>今村亮謹識</u></p>
<p>趙雲崧著《甌北詩話》於唐宋明清四代，取十家以為學者之圭臬，從來詩話無出其上者也。慄園淺田君之著《先哲醫話》，體例似甌北所載十三家，雖儒醫異道，其為大家一也。予曾謂我邦文字之事輸籌西土，獨至醫術洵有出藍之妙也矣。清朝醫家尤飲鶴、徐洄溪稱為大家，徐氏《醫學源流論》議論正大，學力可見。至讀《蘭臺軌範》，則殆如出別手，尤氏《金匱翼》稍可見。《醫學讀書記》，則甚少可取者，無他，坐文勝而實不足耳。此編之成，使辮髮兒讀之果何如哉？若有王梅庵其人，則敘而傳之也必矣。然則君之此舉，可謂補醫林一缺事矣。明治已巳晚夏朔。</p>
<p><u>後學</u>　村山淳拜識</p>
<p>趙宋以降，詩話之多，累積可柱屋。而至文話則唯宋有王銍文話，明有閔文振蘭莊文話，李云文話而已，如醫話絕無，不亦杏林缺事乎？邇者讀詩人徵略，引靈芬山館文鈔云。黃凱夙工於醫，以濟物為急，合善藥以施，輯其所得為《醫話》。《瘟疫論類編·序》云：劉奎亦著《松峰醫話》，而未見其書，每以為憾焉。慄園先生嘗仿其目，輯皇朝名哲之說，名曰《先哲醫話》。蓋醫有案有話，醫之有案，猶吏之有案，斷章取義，有格定之式，而話則優遊厭飫，入人心者深。是則不可不與詩文之話並存而傳也，因校以授梓。</p>
<p><u>門人</u>　信濃　松山挺謹識</p>
