<header data-type="book">
<h1>活幼口議</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曾世榮</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1332">公元1332年</data></dd></div>
<div><dt>底本</dt><dd>北京大學圖書館掃描本（<a href="https://archive.org/details/02093410.cn">一</a>、<a href="https://archive.org/details/02093411.cn">二</a>、<a href="https://archive.org/details/02093412.cn">三</a>、<a href="https://archive.org/details/02093413.cn">四</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>世言醫病與醫國同一源流國以新造之病為難攻人以幼稚之疾為難療新造之國病在於人心之未孚法制之未備故事不厭乎議如周人之於市鄭人之於鄉校是已幼稚之童病在於氣血之未全筋脈之未力既不可以言語求又未易以智巧索諄論而復辯且未足以究其萬分之一況欲忌魚筌於紙上之塵言其有簀筍而蟹蟛蜞者幾希奚茲演翁口議之所由作也翁質直而不華雅樸而實辯如議證議藥議諸氏之方皆鑿鑿乎如老法吏之議刑辟絲髮不可以動移求之文理誠若不足索之義理沛然有餘鳳髓玉訣政亦不容多遜也或曰輪人之輪庖丁之牛應之於手得之於心蓋非區區口耳所能造今議以口為言其視莫能教子不見全牛之妙逕庭蓋可知已籲有是哉使釋鑿而特以原本為第一議曰乳哺曰食忌曰傷憐不必議可也然且以不絕於口翁之此意豈獨為金𤜂工計哉有能以幼幼為心寶有其書圭復其說宛如省翁之耳提面命將護於震夙之初調理於生育之後於其疾乎何憂其或以豎子之梗為予告亦將語之曰翁有口議在由是幼吾幼以及人之幼挈而同歸壽域中此翁之初心然也然則是議也又當求諸省翁之心謹母曰膝⿰火力口說</p>
<p><u>時歲在癸未梅月朔且石峰熊槐書</u></p>

<h1>總論</h1>
<p>按魏氏前序云求之文理誠若不足茲則不敢妄喙妒就議中述其切要一二言之譏者幸鑑</p>

<h2>撮要</h2>
<p>一兒在胞胎必須飲食有常起居自若便神全氣和胎氣常安生子必偉</p>
<p>一懷娠之後最忌食熱毒等物庶兒孩降生兒有臍突瘡癱等患</p>
<p>一乳母常須養其血和其氣樂以忘憂使乳汁溫平縱兒疾作自安平過半矣</p>
<p>一嬰兒平常無病不必服藥餌恐遇疾不即為效</p>
<p>一初生兒必忌外客所觸庶免致客忤熱古人所以忌客一脯</p>
<p>一兒孩不宜食肉太早傷及脾胃免致蟲積疳積</p>
<p>一兒孩變蒸作熱非謂其病雖不藥自愈</p>
<p>一小兒受病在臍有自愈者故先賢惟理其臟未言其腑腑陽臟陰如麻子一症乃是腑病</p>
<p>一小兒顱囟未合乃氣虛所致勿視為尋常</p>
<p>一兒生穀道無穿多至不救藥無速驗必假物透以通之</p>
<p>一驚風發搐手足不定執捉恐風癇逆入經絡廢害肢體</p>
<p>一小兒母容入神廟中恐神情閃爍必生怖畏</p>
<p>一小兒笑極與和哭極與樂睡思既濃母使吐嚼</p>
<p>一兒患吐瀉女吐男瀉是為急症吐瀉不止脾虛風即生急宜療之</p>
<p>一兒患瘡疹發驚不可下驚藥有熱不可用退熱藥有汗不可止汗或吐不可理吐或下亦有可不可</p>
<p>一兒患鼻孔黑如煤耳輪廊焦黑目翻指甲黑作鴉聲或吼叫數聲及手尋父娘衣皆無可治療</p>
<p>一藥忌腦麝𦎦粉水銀及用針艾尤忌砒毒皆不可輕用</p>
<p>一食忌甜成疳飽傷冷成積肥生痰如焦苦辛辣餿酸恐毒尤不可食</p>

<h2>辨疑</h2>
<p>一兒患陰癇其脈浮數洪弦是陰中之陽非真陽也</p>
<p>一兒患慢驚得脈數呼吸粗大是其症絕非陽回也</p>
<p>一兒患豆疹作熱非傷寒也但看耳後有赤縷者是</p>
<p>一兒患身及張非驚風也或投寒涼藥亦愈然非驚風所傳</p>
<p>一嬰兒聞響即掣跳者非驚也乃肺肝不足而神有未安</p>
<p>一熱在筋脈亦發搐者非真搐也如或過劑則變假為真</p>
<p>一議張氏方書南人得病不可以北人處方自是南北異道不可不辨也</p>

<h2>補遺</h2>
<p>二捲雲　三才之道各得其九上當有九九者三字</p>
<p>四捲雲　不蔭心上當有血字</p>

<h2>正訛</h2>
<p>五捲雲預利利害上利字當作知字</p>
<p>十二捲心氣不足而生之慚字合當作漸字</p>
<p>以上姑舉大概余亦未能審於是非揭之卷端以俟今之省翁云</p>

<h1>卷之一</h1>

<h2>議明至理序</h2>
<p>竊聞形端表正周公測度之圭（音基）意到心明華氏扶持之旨處方議幼師傅至理為良憑藥活人學造精粹始妙純乎其道者惟籍專誠違乎其議者可行必用夫人知其難不知其所以難究其學未究其自然學言之難者莫過乎藥備曉其意參詳審察以盡其善然後可以知其難易之旨也僕世居江南叨參醫士極意開陳管見願彰海字同聲雖然利鈍從人畢竟因由有自所著是書悉議幼幼症候誠為學者奧覽一悟至理無問不通捨去褊隘之為體取洞明之見方行淺揭（音氣）宜探深淵杲通神聖以服眾情者豈不韙歟</p>

<h2>議明至理二十五篇</h2>

<h3>議原本</h3>
<p>議曰古人有擇婦孕產之文荊公著昭教育子之法數篇利益萬世規模安得人人而尚之世有君子小人之別故當述陳利害明智審詳而已夫人立室安家求嗣必純納婦種子在賢旦德然而婦乃賢淑夫又質良生男不肖者有之非夫婦之失情人倫失序事有不備者良由公始不能善𦬆胚胎之氣妯娌不興矜顧護愛之理氣胎涵養宜在沖和沖和者同其天地之寬量應乎四時之運行妊娠之間懷育之次但常令孕婦樂以忘憂不作怖畏亦無恐懼飢食有常起居自若此乃以順其中而全其神以和其氣而益其脈是與調而助之扶而補之何患胎氣不安生子不偉所謂婦人之性自未鄙窄因由暴觸以動其氣氣動則傷血血傷則損脈脈損則胎氣不固胎氣不固其子何宜愛子者宜順保其胎氣調婦者宜勻和其血脈然後乃曰得其所哉況夫人生清淨與天地以同原性稟真常合陰陽而假質母懷精血成形夫抱氣神為子何由聰慧蓋為母性彌寬所以智能乃值父精廣愛亦有鄉相起自犁鋤乃是室家相從意同道合至誠禮貌怡然一婦一夫淳謹憨勤豈在多淫多欲雖由拙見亦有至理存乎中矣</p>

<h3>議通變</h3>
<p>議曰愚謂初生嬰孩至於童稚血氣柔弱疾病危虛夫疾之在急不可倉皇醫之欲安豈可減裂至於垣午則可行有其巔憸則防蹶醫學得中務令勝善良工進藥藥用在人通變為醫醫行存志志若通則醫不繁機能變則藥不紊（音問亂也）通變者為奇得志者為妙古云心通方學通愚曰志變作良醫僕輒著此書殊無文墨但實雖則嘍嘍嗦嗦其意乃欲使學者通變而已通者正理廣博觸受咸知變者實明根源開發胸臆若只按古調理今人處用平方飲食坐臥不問飢飽勞逸不使然其天時地利豈可不知犬吠雞鳴尤宜盡意春夏秋冬四時有正邪之令吐利驚疳五臟傳久暴之疾所謂可以進則進可以止則止猶甚堪行即行不堪行即轉（轉其意用別當後議）是謂通變之道聰慧之施謀機策略智度攻討此乃兵家之權殺罰為用審察詳辨診切視聽此乃醫家之業大隻一切所為皆由通變惟有活人用功過於兵法主治在乎通而知其變此乃良工用心規矩疑其變且智不通此乃庸夫用心操執常運其通而知其變見其症而知其病生死預決危困不戕斯乃上工之謂順逆相投利害相混何由而通何因而變斯乃下客之謂嗟乎幼孩易得候變我即因其症與候而變治之或輕或重而作我亦隨其輕與重而理之通變之道如是而已</p>

<h3>議難易</h3>
<p>議曰天地陰陽尚有盈虧世人陰陽自致順逆失其調度者邪正相干違其安和者患災相反小兒一科古人云有異於常者為難然長幼受疾自是不同所有難易之言者非謂陰陽勝伏非謂傳變差殊非謂脈氣參差非謂臟腑虛實是以述其症者悉謂之難違其候者總謂之易無以難症而妄之謂之易無以易候而妄謂之難難易之功不出至誠窮理盡性為得之矣原夫醫學師範性參古風是必臆記諸家明文旨歸要說更須端的審察輕重較量兒觀兒幼傳變又不可執殢於古意亦不可濫恃於常情蒐羅盡善究竟周旋無一症一候留連於其間方可謂十舉十全之妙道者耶古人云心中了了指下難明小兒方脈指下易明心用了了其或不然悉關矇昧才有生疏前功俱喪思之掌幼童負利害不可自逞寸能何堪稱譽家傳三世之業未果彰名蓋由滅裂用醫倉皇太急故有得失鳴呼既無深思遠慮豈有廣見多聞若求僥倖之功必害平生之福迂哉淺見寧保無虞性命相投豈可視為容易症候未明萬毋勉強學者幸詳察之</p>

<h3>議參詳</h3>
<p>議曰調理嬰孩一科天下之難事也且古從今著載未詳其議世有質能之士未嘗廢業蓋此等方脈之術也然其參習至理妙無它焉所謂審察宛詳按考備既已實矣不為虛設夫苟瞑然取次應急相投致謬濫噫審者審契表裡察者察實陰陽究者究竟臟腑詳者詳悉標本按者按明虛實考者考較輕重推者推評前後備者備准端的入法千心十全保命口無泛語意無濫思脈無虛究藥無虛發凡有嬰兒先以視之為上聽聲為次察脈又為次旦嬰兒所受胎氣未充其色白其形萎其氣怯其聲濁得顱囟（音蘆音信乃頂門也）固實稍長不任變蒸既於變蒸不備則形體萎而不壯情性不舒疾病無特不有初生之兒所受胎氣充足其色紫其形緊其氣壯其聲清焉得顱囟虛曠稍長漸受變蒸既而變蒸淌足則體實形因情寬性緩疾病經年不仵凡為醫工專誠守業毋浪遊毋泛飲毋傲恣毋耽執用之則專（專不以心浮泛）遣之則穩（令其絕疑）執而從機（行用以明機變）奸而致執（每依不可法則輕易）設意無太過處性莫不及（切須究竟毋太過不及）凡遇臨危赴急看候一見使人愴然者勿可徇眾而說但如前八法明度而已若也視之為常聽之為妄視聽不專浮泛致亂虛作實冷作熱表為里壅為通如此倉皇安得不有疏謬今述總要須當致謹參詳乃謂成全日用善工者耶</p>

<h3>議專業</h3>
<p>議曰觀形看候察色聽聲宜究陰陽受於邪正皆由一氣生成之本一氣者先天應運造化鎡基稟賦不常故抱虛怯孩童作疾其在實實虛虛損益得中標本無恙過與不及以意逆之凡為醫工須知表裡復審盈虧不和則眾疾皆臨稍順則四大悉正世傳小方脈書八十餘家究竟症候良方妙劑不過五十然其傳變形容諸症該千述萬各顯其長不得不錄是故醫家明理藥不繁勞乃知至妙廣博言章欲使學者通變而已太抵小兒得疾所受無過驚積冷熱療理不致散漫者乃為上工其候傳散斯為下客傳散者驚即作癇熱即成風積成痞癖虛作疳痢冷致吐瀉逆為嘔噦其症泛泛其醫䀮䀮若不尋其源流漸入江海愈遠愈深彌開彌大上士治之未萌（不待傳變）中士治之已行（疾作它症）下士治之縱橫（或有得失）盲者治之崢嶸（無規法也）用藥副之規矩行道從之精專嬰孩無隱疾之情藥餌有反功之嘆勿致矜哀乃招慶善矣</p>

<h3>議審究</h3>
<p>議曰幼幼方脈在乎參審推詳究竟盡善深明其理為得之矣不以意竟為務不以疑似為怯不以未用試功不以疏怠為向每一症無不審究古意及師授之因每一候無不察度準繩平善之理所見至良決定有路無可疑者方與投藥庶無勉強肆臆之為豈有傷大壞症之害或有之蓋其滅裂故也初生之兒審其胎氣少穩斷乳之子究其飲食傷脾離母之孩察其暑濕寒邪非角髫童覺其馳遂鬥力勞則傷氣動則傷神役則傷形飽即傷滯毋有四意醫工次焉若也順事致敬嬰孩何疾加之一曰調護謂調適其寒溫護令不受邪觸春不怯凍秋不乘涼夏知清冷冬覺溫煥二曰保持謂保嬌情所欲撮所經任之意乳須及時食無過劑睡無令飫戲勿令飢坐臥起止惟母當知三曰撫育謂幼則順其嬌癡長則變其情忘撫之乃常存其神而知其體育之乃要其形而調其性四曰鞠養謂兒長成宜鞠問之毋令縱恣毋令忽暴毋令悖逆毋令頑慢四者窮理蓋性縱恣毋令忽暴毋令悖逆毋令頑慢四者窮理盡性可謂慈母之道凡兒初生之後出三日氣脈定已脫臍風之難過七日精神全方離鎖肚之害越百日腠理持不致咳嗽之危千日外胃氣正不瀉青黑之咎又亦有四焉一曰和愛二曰順敬三曰謹訓四曰寬責和愛者不恣兒男口腹順敬者不聽暴虐嬉戲謹訓者至誠禮貌相持寬責者忠怒丁寧舉喻若加鞭笞呵叱不惟驚恐怖畏此之用狠彼之亦愚若也父子相尚溫恭相順斯為善矣</p>

<h3>議同異</h3>
<p>議曰合之則同離之則異水火之設品物之聚皆有同異何可怪哉火之為煙所鬱則不明及其焰也由煙而明之水之為坎所壅則不流其湍也由坎以流之萬物有品橐出其境則異於常人事有尊卑合其道則異於眾幼幼抱疾不作傳變古今皆知言曰疳積吐利及其更也即作驚風痰熱未為怪異可以循其症候而療之稍或變常當審其輕重而理之茲則世醫務學莫執此端可否之意以盡其善殊不知疾作有同異之別其所受之常曰同所作不常曰異前件八症候中皆能傳之俗流不知其所以傳作即曰差異其實因差異所致當知所受在於傳變欲以暴急之間妄投丸散冷熱相互虛實相摧表裡相隘陰陽相反亂於百脈觸於五臟迫於經絡遏於榮衛是故本症遁作它疾所發不得其名所療不審其理攻劫無端幸全性命即其所受乃謂怪異積症之中得疾差異甚多（差異者是積等證候所治不當而傳反致勿謂詫異所受哉也）疳氣之疾外候頗眾其候但於積病壞症而與調理疳氣亦然詢其源則應其端體其症則療其疾是以丸散不良陳疾病莫延久凡兒所受異疾蓋由失之明察苟或成人往往抱⿰馬羽薦之疾者有矣</p>

<h3>議根本</h3>
<p>議曰夫人之生以氣血為根本人之命以安樂為壽元男即二八衛氣方正女即二七榮血方行天癸至時其氣與血始然父參年既未登即曰小兒然分形其名已載自幼至長久第言之今之世法男年十五女年十三乃通嫁娶其道雖不應古其理在乎通情情動乎中男破陽大早則傷其精氣女破陰大早則傷其經脈雖成胎孕含育必虧兒生傴僂變蒸不備體作侏儒又或男子過於八八女人過於七七產誕嬰孩何足為善又或陰盛陽虧陽盛陰虧又或女因胎寒服藥男以陰萎餌丹如此為後皆不足與議非正論也前賢著述評較調理未嘗與究其源遠見分短夭利害由斯復見男女長成疾抱虛勞相繼而死者人謂傳屍或曰有鬼所致或曰有蟲所作愚謂不然傳屍者傳受骨肉氣血之屍也乃是父精不足母氣虛羸而得之何更外有屍而可傳有鬼致昧有蟲為禍前件意義悉入其候雖則男女長大勿於勞瘵相承但稟賦受氣如花傷培似木敗植榮壯枯謝各由根本所致凡為人子無能自知況又恣妄於女年忽爾氣虛脈脫惟恨天命病家堅忿藥之不良無自責其根本不充所以然也</p>

<h1>卷之二</h1>

<h2>議虛實</h2>
<p>議曰五行之為物各有輕重虛實得共之性生乎堪任之地資質自然固壯金之至堅隱生虛土質輕色淡火之至虛猛發堅木焰烈炎熾土有固陷水有盈涸本有岩石數十年之秀實者不得陽氣亦萎有之人之資質稟賦父精氣母血脈渾樸胞胎調攝鞠育凡兒變蒸之後其形可知是以顱囟未合筋骨柔弱顱囟青筋脈虛不榮顱囟常玩滑泄便便顱囟睡起風痰不止顱囟久冷吐利清青顱囟虛軟癲癇不免顱囟匾闊暴瀉易脫顱囟喎長風作即三顱囟連額驚風易得顱囟未完怕熱怯寒顱囟緩收怡氣不周顱囟動數神氣昏弱顱囟寬大受疾恐害顱囟者乃精神之門戶也關竅之橐龠也上下相貫百會相通七孔應透五臟所籍泥丸之宮魂魄之穴氣實則合氣虛即開良由長大不可不合醫者一見當知其可否用藥凡兒有顱囟未合受病沉重者慎勿將作尋常矧思究竟猶恐得共何況瞑傑妄投丸散此示嬰兒慮愚者有曰醫殺之說曷不謹歟</p>

<h2>議脈氣</h2>
<p>議曰天地造化萬物發萌之端其來有漸其根悉用其名則常其用則別夫人之種性所受胞胎含宏隱密生而未顯長而能知利鈍巧醇良狼戾者未奐言誨亦拙有自然之理血氣身體假質於父母痞泰苦樂稟賦於天地故天地生我以資質相識旦仁義在我以古樸淳素壽夭貧富分之以時賢愚貴賤委之以命惟心惟性乃忠乃神通違智慧之者不可得而言之漸矣其所言漸者久矣知乎微妙之道寄乎清淨之室微妙之道乃心脈之所生清淨之室系肺氣之所主初誕牙兒胃氣未全其脈方行於大極五臟之脈心為元首一月之內未有可挺雖形已具且脈氣方與天地同參血肉初共人事相奪真邪離合猶如混沌初分自此乃曰脈氣之漸矣其脈初行太始陰陽未諧自囟之下發際之前齊鋪三指但按其冷熱察其症候斯可謂脈氣之生漸且微也百日之外脈氣行之大初左右食指三節側看縷紋風氣隨所發作輕重攻擊而生至於五百七十四日之外行於大素於脈應動於息有數高骨之間一指分三部取之浮沉察之緩數可知冷熱虛實之理千日之外行之四方遊於五臟外應⿰⺼萑頰耳花準頭唇口眼目五色隱顯一氣盈虧相生則平而善相剋則凶而惡及其危困然後按之大沖大沖之脈在腳面曲陷之間其脈定吉凶休復應指順息則可尚𣫆指或逆散可謂絕矣幼幼脈氣分之有五深其究竟其次察之症候輕重審之表裡虛實然後可以議藥得不虛設醫工之良也試較優劣而後知之</p>

<h2>議投藥</h2>
<p>議曰水有淺涸而可深山有頹荒而可林地有傾陷而可固物有損益而可珍藥有貴賤人有尊卑心存至理追究弗迷然其貴賤長幼嬰孩所患疾病異端傳變異症者受氣稟賦資質厚薄故也由是根不固而體不備氣不充而志不寧貴者則驕多賤者則勞盛驕多即胚胎而得之勞盛乃孕育而招之凡兒氣受之不實或芘蔭之有餘月期過滿或看承之有虧所襲剛柔而然猶抱虛實而已從生成應有別假造亦無違察貴賤各體其根較長幼皆循其理凡療小兒非以一體之謂不可同常之見所言投藥者或用投之於簡（的也）投之久練（純熱也）投之窮研（精粹也）投之益後投之勝前良工用心之至是謂投藥之專若以重劑投於離（乳小也）或以峻藥投於貴（峻調嚴緊藥）直不可混淆而設造次而施合以通利者審問扶而下之當用益補者察詳按而調之孰謂恣妄之有耶所謂不可攻擊者曰虛曰幼曰嬌曰重不宜冒致者曰久曰閒（不言所受）曰冗（用藥眾多）曰競（爭與攻擊）復加之以母之情僻（執殢也）父之性急（愚憨也）子之意頑（不服藥也）病之候難（傳遇壞證）母之殢神父之遣祟如此人事曷可勉強而與勞心枉究哉不惟無補而反無思觀其病家情意相順禮識相傾（看傾也）功歸於我行著於先（叩依先嚐所行）是便信醫即愈重藥即痊用其湯劑得為之良者誠在彼此毋忽之之謂也</p>

<h2>議下藥</h2>
<p>議曰凡調理小兒須先觀視氣色察其症候其或氣色有不正者（謂啼哭而致散亂）即憑察紋診脈有不定者（謂久睡）即究症候其或症有壞候作變（謂前人攻擊有傷氣血或傷臟腑）即選良妙方藥以主之不及則無咎切不可大過若以意揣其疾盲投其藥深恐有乎得共古云醫者意也審思前賢載述妙用無虞之意文參詳父兄師長教誨指示取捨可否之意又裁度自己曾經療治輕重量度斟酌成全之意三者既備可謂𤜂者意也如此究竟無不盡善原夫醫家為用憑藥以活人所言下藥者臨機輻湊是也可以下即下當下不下其候少頃則過矣不當下而下其症反為它疾矣下藥之法慎勿躊躇若也思慮可否之間或反復再四則疑在中有疑切莫用藥須當預察無大過不及之議即而定已投之決效非止利下之謂下又非於投劑之謂下下者有先有後或先利而後補或先補而後利或先扶表次救里或先救里後解表如此者眾舉隅而言之用藥得其中輕重得其所是謂下藥毋恣意毋致緩毋倉皇毋競利毋勉強毋疑惑或得或失利害有之利則僥倖以全其功害則盡世不可言也凡為醫士用藥不可妄知不容無知不可執見毋徇眾見主醫裁藥明識俱見按脈對症心無虧弊道副自然以應上古聖意端的篇章君臣問答語言玄妙至道而已</p>

<h2>議行醫</h2>
<p>議曰醫之為字左七右八乃言表裡其下九晝乃云九道合之二十四以按二十四氣古人設意義理深奧垂象於天地之間以應人倫之道與其成人之夫為契論獨小兒氣脈微弱難以謂之醫蓋是七表八里未全故云調理愚曰不然曷不知其善用心者則奇妙純粹在其中矣茲說孰是經云醫者意也以意理之為得擾之為失得失之義於人禍福是以純粹之妙良工之能學者究備行則盡心可謂善術之道凡見脈不若議症議證不如識病識病爭如藥對小兒作疾多是無事歷家輕狂所以有乎得失如病人危薦但需其藥求速安愈醫者要須得中無有大過不及之害所謂𤜂之為功神聖工巧明其標本表裡陰陽參其盈虧經絡榮衛察平升降臟腑腸胃審其盛衰然後可以度其疾之輕重較其方之優劣行醫之功譬如簧弩發矢一視決中十全為工如此準繩可謂醫者意也若也覷睹僥倖勿謂醫之良工為福使之然也智者謂宜鑑戒二者不可偏有僕謂良魚福烏醫士者乃醇乎醇者耶</p>

<h2>議稟賦</h2>
<p>議曰夫人皆知胞胎成形產育具相約以十個月滿足而生究竟至理即有二百七十日為定論亙古自今豈相間說然而就中虛計一月應數大抵九九為上八八次之七七又次之人生稟賦天地二儀之氣會合三才之道各得其九三二十七即二百七十日為正血氣九充實精神固平為人具足相識智性俱通八八者三才各得其八三八二十四即二百四十日生血氣蔭之不及精神有虧為人拙謬鄙鈍智意忘遺七七者三才各得其七三七二十一即二百一十日所受胎氣不足為人狂愚無志惡劣狼戾故也其間或有大過不及之者皆共其正數大過即氣血蔭之有餘不足則氣血養之無逮夫人得中之道以為純粹陰陽得所剛柔兼濟氣血相和百脈相順所以生人心智益通精神俱備腑臟充實形體固壯醫者一觀嬰孩顱囟斯可知之未周之兒顱囟固合睛丸（一作黑）神清口方背厚骨粗臀滿臍深肚軟莖小卵大齒細發潤聲洪睡穩此乃受氣充足稟賦得中而益之一周三歲之間其囟尚大其顱虛曠額前作坑口闊神露胸高骨細臀削臍突發黃齒疏卵小莖大氣促聲硬皆由受氣不足怯弱得之驚悸易得智性難通父母愛惜良工必憂不以貧富貴賤之所生但賢者當以告之若也愚魯之人寧不投藥稍或藥刀不及反言醫殺之大凡初生孩子少具精神者良由夫婦之情未諧適心未綢繆且喜且驚神不和脫將來得其所宜樂則情濃動則情興懼則情思交則情極深契其意重美其心生男必溫生女必淑斯可知淳和之至如此是故醫家不可一概用藥宜斟酌輕重比附推詳度究可否不至恣妄反為虛設以成重害參審得失之議盡善盡美應機而已</p>

<h2>議辨理</h2>
<p>議曰古今天下同議者貧富貴賤是也所產男女自幼及長總曰小兒然幼幼有牙兒嬰兒孩兒長曰髫童兆童稚童殊不究竟富貴之同貧賤之辱二者人情間於中道混而言之蓋胞胎氣血之不同故以辨之貴者富者風化同途貧者賤者門列一等所以禮識相遠日用致差雖有少殊宜審其偏正（妾之子有任愛之者）度其親疏（抱繼之子因人親生視之乃為一等矣）中等常情之家禮識未虧日用得過者又有大過不及之議夫人之運神發性惟心不可役心役則氣耗氣耗則血衰血衰則虛自此始腎堂不寒而且憊心室不足而旦虛原夫精元假之為胚為胞為形為骸胎質藉之乃氣乃血乃乳乃脈貴富生子順養撫育之有餘貧賤生子調攝固愛之不足有餘者大過之謂不足者不及之謂也大過則傷之不節不及則復之共時不節共時皆生病疾寒暑冒之或表或里冷熱攻之或脾或胃所謂審度測源醫者必須知之貴富之子食之有傷於不精寒之有傷於大燠暑氣有傷於凡涼泉流有傷於水冷腸胃氣血柔而不剛使之然也貧賤生子食之有傷於不時寒之有傷於凍餒暑之有傷於煩躁脾胃有傷於濕膩水穀不分腸胃氣血壯而不堅使之然也父母不自貴受治稟氣虛謬況貴子懦弱者耶是故胎氣不足血脈蔭籍之有虧良由男方剛情興造次共即兒生之後牙嬰兒固同將護有平飢飽寒暑勞逸之不同又於變蒸之時有傷於氣血及至立行之時有傷於筋骨由是撫養之共情鞠育之不意調度之不宜將理之魚法故易得其病病易得虛虛易得壞壞易得失貴富之子疾之反是也未寒先衣未熱先涼未食先飽（未至食時餘食過膈）未眠先睡睡之恣晏食之過滿寒之重衾熱之就濕故易得𭼊𭼊之未虛強食令之虛脈氣未壞強藥為之壞學不究則不精甲不專則不妙矣若執之得法妄之為要殢乎丸散不良智者籲哉</p>

<h2>議料理</h2>
<p>議曰大凡人復處性愚魯用心狠戾者不可以學醫師不擇善禍難逃跡其或秉志怯率為性懦弱者亦不可以言藥素問有云人如舟也藥如水也水能濟舟亦能覆舟一丸一散對症盡善起活危困未足為奇一有共利壞症傷候且過在爾其智拙鈍非殢藥也學者讀預究其純粹施其精研克效斯時以副規矩不可得而述者醫之良工也夫醫之用藥將之用兵古人亦有言矣且如善醫明症良將得策藥能勝病卒能守城若也將無計策醫共證候病何以瘳城何以固今人皆知發藥殊不究竟表裡臟腑虛實冷熱經絡榮衛投之不當反為它害亦不可執用一方一藥且大𤜂局四味理中丸小柴胡湯之類皆大人藥劑所謂意到症見藥無不驗能者此理症候方藥諸家所載無不應效但究竟不到有乎得共盡由攻乎異端涉獵繁雜智性不專事在狂簡確實與言更請思之</p>

<h1>卷之三</h1>

<h2>議調理</h2>
<p>議曰醫與調理其意等差參詳虛實之宜究竟緩遠之理若明疾之輕重當察病之遠邇為其所患得變稍重症候稍逆直取其功而全其效者醫之良工可以扶持循症解利寬緩服藥次第瘳愈毋令加進剋日安蘇此乃善能調治譬如水流就下迸溜遲疾澄則自清深則自潤狹則自湍岸則自瀉洄渦漩伏灘瀨奔流者乃自然而然不可得使之然也脈氣之流行遇冷熱寒涼風溫燥濕亦由水之就坎也調理謂疾作尚未傳變氣行在乎怯弱膊變即循其法度怯弱即緩與扶持是以調謂守節理謂有序節者無太過不及序者已得其所宜然後謂之理無太過不及可以謂之調調者而有度知度而在於形容理者須可法正法而全於規矩譬之絲不及絡頭不得梳斯皆亂也絡之取其條直梳之析其通解無毫髮之遺有純復之慶者誠謂調理之工也夫苟以危而用急見愈而用緩者乃共度也斟酌權衡勿隘偏墜先約其輕重察其進退藥與病勢相參病與丸散相及醫自意設智與醫同藥與疾諧疾用藥等用之無忽何慮疾不瘳病不愈哉嗚呼學者理幼勿恃其自能執其偏見事有優長鬚預學問盡心而後已</p>

<h2>議傷憐</h2>
<p>議曰老矣見孫長大方子不惟驕恣之甚復加愛惜傷天不任用也睡思既濃猶令咀嚼火閣既暖猶令欲酌臥蓋重衾猶令衣著撫拍顧愛常衣裹作（以手掌就衣服裹拍背引風疾）指物言蟲驚因戲謔莫覷廟識心情閃爍危坐放手我笑渠惡欲令喜笑脅肋指鑿門非仕宦莫與紮腳年不及時莫常梳掠表裡無恙莫頻服藥戲謔之物不可恣樂刀劍凶具勿可與捉莫近猿猴（傷志也）莫抱鴉雀（損眼也）抱男觀書抱女觀作（女工作也）男方學行勿令綽略兒方學語勿令揮霍會坐莫久腰背卸卻行莫令早筋骨柔弱惡莫與顧善可與學順時調攝自然安樂雷鳴擊鼓莫與掩耳眠臥過時須令早起飲食飽飫須當戒止非時莫衣常食莫美羹蔬宜淡滋味膿屎夜莫停燈晝莫說鬼睡莫當風坐莫近水笑極與和哭極與喜智者當知撫育至理</p>

<h2>議食忌</h2>
<p>議曰溥天之下產育既同將護之因有所不同者貧富之謂歟然富與貴飲食臥具有益於兒母貧賤又何以言之古人有云病不服藥謂之中醫正如此說外護寒邪內節飲食審物順時何疾之有前云富與貴傷其大過貧與賤用所不及然不及之意乃與中醫之言得其所哉旦如變蒸之候數至其時溫熱有作令兒漸固舒展筋骨生長百脈和順經絡自然之理何必加藥凡兒漸長必漸飲食東西南北地產果瓜田種秔稻山有粟麥野有蕨筍魚有溪池木有清濁人之所生隨土地之所宜飲食亦隨其所有南人不堪食北物以面為膳以棗為蔬北人何可食南物以魚為菜以詹為飯（詹城米）近海啖之咸鹺居山食之野味北果多涼南果多熱東果多酸西果多澀豈宜多食五臟六腑強納疾病生焉凡小兒心之有病不可食鹹滷肺之有病不宜食焦若肝之有病不宜食辛辣脾之有病不宜食餿酸腎之有病不宜食甘甜蓋由助其它氣而害於我也蓮子雞頭能通心氣石榴余甘大澀腸胃乾柿煮蔗猶能益肺蒸藕炊豆於肝宜利五味唯棗（五味子足）脾家可意肺病忌食肥膩鵝鴨魚蝦漁鹽膻腥咸鹺之類脾病忌食生冷甘甜包氣之物謂饅頭包子餛飩鴨卵肚臟夾餅皆包氣之物心病忌食心血髓腎雞羊炙膊燴炒煎炸木肝病忌食肺頭肚豬雀油膩濕面應小兒不問有病無病並不可與食腰子及肚髓心血令患走馬疳候蔥韭薤蒜荽蕌亦不可與食令兒心氣壅結水竇不通三焦虛神情昏昧飛禽瓦雀不可與食令兒生瘡癬瘑疥煩躁遁悶鮭鯗蝦蟹鰻鱔螺螄螃蜆之類不可與食令兒腸胃不禁或泄或痢或通或閉食甜成疳食飽傷氣食冷成積食酸損智食苦耗神食鹹閉氣食肥生痰食辣傷肺食味淡薄臟腑清氣乃是愛其子惜其兒故與禁忌若也恣與飽飫重與滋味乃是惜而不愛憐之有傷以至丁奚餔露疾作無辜救療無門悔之不及育子之家當宜知之理宜戒之</p>

<h2>議責善</h2>
<p>議曰信夫執術為醫荷術至重其或輕舉有乎得共稍共其理如盲索途事致疏虞嗚呼斷不復續死不復生哀哀之誠誰為罹嘆當知醫家一門上古聖賢測天徵道詳氣四時逆順陰陽痞通表裡然後察之五臟六腑三焦百脈究竟標本盈虧參審絕生變動代謝榮枯流行注厥如此知義少契古風然有僥倖侮玩狂暴輕欺者眾矣僥倖者恃其時運以誇䌁侮玩者以道之亨通而慢易狂暴者不能務本以從師輕欺者肆意妄執以為是四者人事何掌博古窮經明心儘性者邪醫之務業其道有四不可遺其一焉行之惻憫施之喬惠存之周至受之平等惻憫者每務仁慈消惠者常加愛護周至者運用無虧平等者勿論高下如此推誠稍入醫學之道若也縱恣身心嬉遊妄作及其訪問臨時檢來以齊規矩斯乃自敗之端殃積於後野老數年江湖抱街活人親見同道谷有耽僻終不為良或好籠浪或貪傳奕或綱或釣或射或獵或謳或飲或歌或舞佞遊花衢狂穿抑陌或習弓弩或縱鞚韁或樂煙粉怪詞或悅風情可意此未用心不常僻性詭異濫禰醫士得無訴乎其實非詐其用以證凡百枉究總涉狂佞須知醫家者流遵九道聊伸鑑誡犯者貴已為幸志在前賢聖哲無時不習者方可謂良醫受道之職也杲能守之以道分之以安天地副焉神明欽焉</p>

<h2>議錢氏方</h2>
<p>議曰晉朝有醫工錢氏（諱乙）設方用藥明症識候直究竟嬰孩臟腑令熱表裡虛實傳變頓取其效正所謂醫孩童之意準繩法則之道如此後世欲以及其議者蓋闕如也往往誦錢君之書記錢君之藥錢君之意旨未之聞也愚詳其意徑且直其說勁旦銳其方截而良其用功而速深違其要廣操其言萬世不可掩其妙四方皆可遵其說九八十一家者谷述精通莫若錢君智意克效究竟不勞再三亦無中道而廢門人閻公編集未具錢君心服想計恢洪純粹妙理希奇紙筆不可得而錄者耶時有高見之士一悟錢君意旨𤜂之與藥規矩法度無以異錢君運乎中顯乎機而自然造化者莫之能語也良工妙用信乎野老之言毋曰管見後之學者盡心討論必有深著於胸次且德義於人揚名於後世之道不亦宜乎</p>

<h2>議王氏方</h2>
<p>議曰小兒方書世傳有三王氏東漢作方論二十篇今家寶是其或大同小異往往好事作德君子刊施濟眾就平增損者有之大抵其言有序自徵至著其旨有皈自隱至顯話括周遍事無繁述參以數十名家比較優劣始知先生藥用淳和方排繼續考之而取其切究之而效其疾斟酌升降以和為用其意在調理盡善之最也雖然後學之士治家之子檢閱投餌或有不當毋至差或致害其書故得家寶之稱夫良士用心妙理活人𤜂之與藥猶若權衡權衡者法之一端也參究均平考較實論循方以應脈有條而不紊王氏之書乃幼幼方脈之規模習小丸散豈可遁此如大人疾患有叔和脈訣考五行有珞綠子命書學六文有火珠卦文知貴賤有人倫風鑑相法如斯木術皆名家所集詳辯以為上首冠諸妙義得毋枉究雖然各有廣要篇章終不遠越而在總歸非曰訓童發蒙之謂垂老足欽至妙之道也已</p>

<h2>議張氏方</h2>
<p>議曰宋朝徽宗太子壽王聰慧幼時常發癇疾諸大名醫莫之安愈時有草沢醫士張渙挾盝貨藥于都下召之入內用藥即效官至翰林醫正張氏北人也留方五百有餘逐病敘說深參其要近傳於世目曰張氏妙選四方士夫樂而用之殊不知南人得病以北人處方自是道地相反意議不同所謂北人水氣多南人瘟疫盛地氣天時使之然也北人水氣盛盛則就濕濕即與燥之南人瘟疫盛盛即作熱熱宜發散更加燥熱之藥病熱傳作它症藥既不宜疾何能愈夫幼童陰陽稍偏表裡固同臟腑怯弱豈可以熱製冷以涼止燥其說症候可以循簡述論頗有優長然其方藥初使人疑之次復惑之或有不當必與悔之曰南人用北人方藥曷不知之學者參究盡善不必殢方如前有云意與醫同藥與疾諧方可投之若也據乎云云而用之者斯謂愚醫不無妄投其餌在乎得失須當審之宜其察之</p>

<h2>議幼幼新書</h2>
<p>議曰調理嬰孩小兒上古黃帝未有言著鬼史區云謂小兒受疾令是一門故不載入素問始自巫人顱囟經篇章三舉自後智者繼述本末世傳諸家之善經進詳要旨症準繩之者凡八十一家近世湖南潭州周宅廣收其文專入編集目曰幼幼新書四十冊僅數十萬字排列名方似涉繁碎猶如元帥要退伏兵欲以一箭敗陣乃定太平彼時求選一夫善射急於百萬軍眾皆張弧矢以待比較優劣臨機對壘就敵之勢不可得而用之奇正退其潛伏猶豫再三乃非良將者耶臨時檢閱審較可否考其效驗正由渴而掘井鬥而鑄兵不亦晚乎學醫之士若不究竟胸次了了肘後簡往直截扶危之功若也取次緩慢智意不逮彷徨之久出不得已肆意而設自不知慚而且愧有如馬服子強戰無不孫子曰上兵伐謀可以比喻良醫用藥何異良將用兵醫無智則不可行將無謀則不道者猶犬馬之夫難與言其至理曷能以知其道若夫文武醫卜農工商貿行之以禮務之以本議其道者無不貫之矣執醫之士不明是道妄恣苟簡必有利害於其間斯乃何未之流溫恭無佞直節有規方乃謂醫流之士明道而見之違理聰而門之良由務學則開聰開須知議議知則專誠誠專乃通往往通則明道道明則任用以副自然所謂常山之蛇擊其中則首尾俱應醫之亦已處用得中無不應節斯乃謂明道之理如此宜乎究竟而已矣</p>

<h1>卷之四</h1>

<h2>議初生牙兒症候序</h2>
<p>觀夫男女以正夫婦遵乎德義合乎陰陽以運生成之理者順乎天地之性應乎四時之令榮衛流通潛虛得數是故胞胎含蓄血脈造化豈能遜乎玄元綱紀哉所以得其正數者愚魯之為能失其正數者富貴以為⿵几厶皆涵養各由本質故賦之有利鈍稟之有虛實賢哲明智庸野鄙陋皆共由之斯可知矣今之孕婦懷胎保以為常飲食不節起居不宜未誕之間勞役眾若男子視胎以為常恣其所欲任其所施頻授觸穢所以兒生之後百脈致虛三焦不順關竅不通榮衛不和者初生之間便作疾患怪異多端不可得而詳述今舉二十有六症候概而言之智者察之審其可否比附與之療理助其榮衛調順經絡得宜而已</p>

<h2>議初生牙兒症候二十六篇</h2>

<h3>議呵欠</h3>
<p>議曰呵者即張口而又合之欠者謂神不足故名呵欠非是疾病初生牙兒多有此作不足怪訝錢氏有謂呵欠遁悶良由胎氣怯弱榮血不壯衛氣少順即不蔭心血不蔭心則神不守神不守則呵欠遁悶無他愧也古方有硃砂蜜法用煎人參湯調和飲之者不若定志丸五七粒麥門冬湯化開與服至妙也</p>

<h3>議伸舒</h3>
<p>議曰伸者突其胸堂展其氣脈舒者引其頭頸直其手足努而作之良久復作初生牙兒多有如此亦非病也良由母懷胎胞起坐不得寬展或將絹帛兜束肚皮或系襠褲勒縛大緊或臥已盤旋或睡不轉側是故偃傴胎囊氣失舒暢降生之後自然如此老傴知與𥳇揉未知調之百脈宜將五木湯浴之功效謂用桃李槐椰皂莢各取枝煎湯候溫與浴仍與觀音散少少與服效且妙矣</p>

<h3>議噴嚏</h3>
<p>議曰肺之氣壅腠理不通外感寒邪或已傷風關竅閉塞鬱郁於中及至噴嚏方有少解不能發散漸入胸堂逐生痰熱痰熱既有即加之咳嗽輕則氣促短急重則驚風搐搦搐搦之利若在初生尚云不可宜與消風散服之咳嗽宜與金沸草散人參羌活散二藥皆和且順雖則嫩弱服之無恙其劑溫純化痰利膈效之至矣</p>

<h3>議臍突</h3>
<p>議曰胎乃育形臍乃根本胎氣固則形體壯肚臍深則根命長受氣卒遺形萎臍突凡兒斷臍利益漸長漸深吻乳調和愈固愈實是血脈之相順致形體之相資初生之兒有熱在胸堂則頻頻伸引呃呃作聲努脹其氣抑入根本之中所以臍突腫赤虛大可畏無識之夫將謂斷臍不利而使之然者非也臍斷不盈尺一臘之內隨其根蒂自腐實者深之弱者淺之深淺之理以其稟賦得之此乃良由胎中母多驚悸或因食熱毒之物有作宜與大連翹飲子其熱自散其臍歸本不必以藥敷之恐毒傷入為害醫工當知之矣</p>

<h3>議夜啼</h3>
<p>議曰王氏舉水鏡先生雲天蒼蒼地王王小見夜啼疏客堂又云啼而不哭是煩哭而不啼是躁無辜賦云夜多啼而似祟凡初生兒日夜煩啼真如有祟或謂熱在心經藥與疏利或謂寒停臟腑與服溫暖醫者察而治之乃善也苦兒啼哭胸堂仰突首反張嘉燈者心經有熱宜疏利服三黃丸或洗心散加燈心麥門冬子良若兒啼哭頭低身曲眼閉肚緊者臟腑留寒宜與溫之胃風湯加黃耆煎效若不識燈候但以蟬蛻二七枚全者去大腳為末加硃砂一字蜜調吻立效</p>

<h3>議口生瘡</h3>
<p>議曰嬰孩口古生瘡乃心脾受熱流沫煩啼盛則不乳妙藥良方已載於後然牙兒吻乳之初口內生白煩躁駭人者莫知其由將謂神祟使之究竟其理母於未誕之月恣飲酣酗貪食肥膩熱毒胎氣所受其兒脫胎之後所襲熱毒之氣悉皆散出於表舌繫於心唇于于脾所言心脾熱是也欲以下其氣未可利臟腑但以吳茱萸末米醋調敷腳心移夜即愈藥性雖熱能引熱就下其功至良又有心肺熱者瘡潰頤顙初作數點胭脂紅漸散斑駁如丹加之身體有熱連翹飲主之但禁火氣余無恙矣</p>

<h3>議身體熱</h3>
<p>議曰嬰孩變蒸作熱按法應期（三十二日方初變又三十二日乃作蒸）所受相參有造化之令者脈氣得之煩助也其或大過不及所發變不應脈蒸不順時榮衛逆之流行臟腑失之安益胎氣蘊伏誕降傷和兒與母俱勞其神脈洪身總受其熱善調理者循其法度調而理之法以度之七日之內初生胃弱不必加餌少頃即愈法以父母各呵兒囟七遍父先咒之曰爾為吾兒順適其宜我精我氣受夭弗迷陰陽綱紀聖力扶持薄有違令隨呵愈之急急如律令母復呵咒之曰爾為吾子胎氣充汝我血我脈母艱母阻萬神唱生有福為主稍失調度隨呵而愈急急如律令次煎蔥白玄參湯或五木湯候溫浴立效</p>

<h3>議血眼</h3>
<p>議曰胎氣充足兒將分降胞囊已破先行清水其兒既誕血即送下緣由胞氣頗澀轉側差緩其血壓瘀眶皆遂致濺滲盛則灌注其睛不見瞳人輕則外胞赤腫上下爛眩若投涼藥必寒臟腑宜與服生熟地黃湯流行氣血或用杏仁二枚細嚼乳汁三五匙膩粉少許蒸熟以絹片包蘸頻點功效重盛者加黃連樸消最良</p>

<h3>議卵腫</h3>
<p>議曰外名膀胱內通腎臟一處承受三經所傳其外腎冷熱皆由心氣主之心經有熱熱入小腸或赤或白或淋或澀心經有寒寒流膀胱或秘或疝或腫或光凡兒初生兩個石子俱大光浮名曰卵腫一邊差大名曰偏墜蓋由驚氣所行傳受於中或母懷孕驚憂之氣不散胞胎之間兒亦受之所以生下便有卵腫外宜黑散敷之內用清心順之黑散者用黃連黃芩大黃黃柏等分燒留性為末豬膽汁同蜜調敷之立效清心以犀角地黃膏與服若有熱大連翹飲宿夜安定晨朝慶之</p>

<h3>議蛆瘡</h3>
<p>議曰初生牙兒至於長大三焦四體五臟九竅皆持全功不作瘡疾晉元因良婦善護胞胎不貪淫欲從已受胎至於降生更不交侵男女實幸其兒氣血相參榮衛相順臟腑自和皮膚自滑一見兒孩肌膚頭面斯可知之矣嗚呼為人起根成自一點不淨之物處母胎中漸敷形狀臨產之時真智相投以隨業力而生其有匹夫匹婦何以知其至理恣心合意即於臨產之月尚行房事以亂其氣以傷其脈以耗其神以敗其血兒生之後遍身痍潰滿頭瘡瘍精神不爽啼哭煩躁並是胎內所受以穢觸淨以邪於正賢士明公不言而唯愚魯鄙野豈可告哉謹書請鑑切幸聽之</p>

<h3>議鼻塞</h3>
<p>議曰凡兒稟賦胎氣充實三關九竅五臟六腑內外呼吸上下貫通流行百脈正順三焦者皆由所協無命自然之氣也凡產牙兒三朝五日六晨一臘忽然鼻塞吻乳不能開口呼吸者多是乳母安睡之時不知持上兒子鼻中出息吹著兒囟或以水浴洗用水溫冷不避風邪所以致兒鼻塞宜與通關膏敷之消風散服之或有驚悸作熱杜薄荷散與服通關膏用白殭蠶豬牙皂角荊芥香附子川芎細辛等分為末</p>

<h3>議耳聤耳</h3>
<p>議曰凡兒胎氣不充實關竅不通利蓋由稟賦不足胞養有虧臟傷腎經腎為根本水之一數也外應耳孔或云水入耳或曰乳汁入耳較之即非兒生氣脈根壯臟腑固實雖水及乳入耳必不此作自是氣不充脈不實使之然也兒無補腎之方但清心肺而已初生之兒而有作尤甚重也卒難療理用藥敷糝少愈愈而復發至於過周與服黃耆白茯苓人參白芍藥川當歸熟地黃甘草等分作湯劑以固其內內若固實不必摻傳亦自瘥愈摻方用壁上蜘蛛一枚瓦上火干坯子白礬腦子麝香各少許同研令勻雞羽引入自愈</p>

<h3>議便血</h3>
<p>議曰兒生七日之內大小便有血出者此由胎氣熱盛之所致也母食濃酒細面炙爆醃咸等流入心肺兒在胎內受之熱毒亦傳心肺且女子之臟其熱即入於心故小便有之男子之臟其熱即入於肺故大便有之血出淡淡有似坯水盛則其血加鮮凡遇有此不可它藥盡以生地黃根研取自然汁五七匙一二匙蜜半匙和勻溫溫與服移時安愈男皆效不請醫甘露飲宜莫與服不必地黃黃一無恙勿自忘投丸散徒咎矣</p>

<h1>卷之五</h1>

<h2>議發癰</h2>
<p>議曰母患血熱兒在胎中受之其血亦熱母氣壅兒在胎中受之亦壅幼氣壅聚在經絡臟腑之間積滯不散毒氣相交內不通利即從外消外無能消其血與氣壅在一處多是生皆膂或脊督脈腫大如拳紅赤似血其兒本體是一塊腐血又加生塊壅毒卒未能消醫有何法若述之士全不勞苦以針矢熨柄取次攻之十不得一處敷用朴硝天南星川當歸秋芙蓉葉黃蜀葵花乳香木鱉無名異其壅已熟即研白丁香少許津唾調敷綠豆大良久破潰膿血送出宜先與服⿰扌亡里排膿消毒散熱藥宜用生甘草栝萎根苦梗桔梗北枳櫝川當歸綿頭漏蘆錦紋大黃等分為末服一錢七煎熱與服以利為度克效萬一不可荒亂意欲速消以惡毒草藥致咎難保苦哉</p>

<h2>議撮口</h2>
<p>議曰兒患諸風疾傳入惡候至於撮口病致危急凡有腑風撮口胎風撮口鎖肚撮口吊腸撮口卵疝撮口應病悉入成風風入心脾俱能發作夫患在撮口者皆由結滯於中於及腸胃閉不得通氣不能化腹中滿脹肚上清筋撮口不乳證狀不急若不速與利不無因救療醫工若將撮口以為常則候傳入豈可投藥應患用以真珠天魔利之才通疾去氣和兒活用者敬信而已</p>

<h2>議合殼</h2>
<p>議曰胎受已滿產降必全盡一氣而包養開元竅以通連在乎十月之中形骸已具分免片時之內穀道無穿所緣兒在胎中七孔九竅若不通利如何四體百骸而能生長期由熱壅所致肺經之極結於肚口閉兒不通降生之後無腹滋潤乾燥之合若投寒涼之藥愈閉不通若不溫平之藥而又不通即是兒氣不順腸日月虛澀谷道乾燥閉合可畏方不詳載藥無驗速至於此等受須當以物透而通之金釵為上玉簪次之蘇合香丸內入孔中丸凡刺三寸許屎出為快也曾見肚門肉合小便通利大便至死無能通者愚鄙燒火筋刺之事出不得已既然肉合決無奇方試以金玉重力剌之尤勝火筋智者別有妙法請著其後以濟哀若宜哉又有初生胎熱一二日不通者與服洗心散以通為度四順飲加荊芥煎亦良</p>

<h2>議閉小便</h2>
<p>議曰小腸乃心之府也水竇流行隨其氣而利之心氣若壅小便不通心氣若冷小便多灑（音謂灑斟稱也）心氣若寒小便多旋心氣若熱小便艱澀心氣積熱小便白赤（先赤而後白者是）所言閉小便者依謂下結腹肚脹緊膨滿不通其結熱盛用力努旋點滴而出乃是閉不通利於心疼痛精神昏悸速用生大地龍數條蜜少許研敷莖卵仍燒蠶蛻紙灰留性硃砂腦子麝香同研煎麥門冬燈心湯調與胙移時見效</p>

<h2>議盤腸</h2>
<p>議曰氣和乃升降安樂之由也氣逆則壅結疾病之致也幼幼有患盤腸非暴所得元由氣鬱積久不散榮壅衛結五臟六腑無一舒暢其氣乘虛發作袞流上下築隘子腸胃之間有聲汩䈏連連而設如貓𥭕惡視之不忍何以所堪差乎一身四大無主又有吊腸一症寒氣壅結內不伸舒雖不引氣鼓動臟腑胸堂與臍上上吊促躬曲傴僂就忍疼痛二候既作駭醫驚眾然俱氣所患受發不同盤腸宜以勻氣散加沉香煎服之無不愈吊腸當用真珠丸加以沉香乳香煎釣滕湯送下微通即瘥然後更與調氣順助根本方佳勝也</p>

<h2>議咳嗽</h2>
<p>議曰咳嗽屬肺經所主肺主氣外屬皮毛腠理凡諸牙兒嬰兒日夜切與保持母令風吹腦囟背腠致使肺受寒邪咳嗽不已作熱多痰若被風吹即曰感受次弟傳之五臟虛處即任所入蓋初生兒氣微易得傳變良由頓動五臟有傷和氣五臟不和三焦不順故有傳變是以我生於一腎水也腎主虛邪生我在五脾土也脾主食吐逆虛痰四肢唇口我生於三肝木也肝主風癲癇眼目克我即二心火也心主驚恐悸頑涎血脈⿰⺼萑臉甚嗽傳受或吐逆或痰涎或厥冷或恐悸至眼目兩睢黑紫如被物傷成重發癇古人云久嗽成癇謂藥力不及候已傳過難可調理預當告之</p>

<h2>議哯乳</h2>
<p>議曰產婦血敗者當下榮者化乳血下不盡母致其疾乳有不調兒招其病凡兒吻其乳有不到於胸堂氣滯積隘或冷或餿故以哯出或問之無恙否曰不宜也久哯令兒神困力乏氣怯肌羸脾家若虛逐作癇疾及至成疾脾風定矣初生與周晬之兒胃氣未備穀食未登全藉吻乳怏如無恙自然臟腑充百脈順肌體壯神氣清幼幼失乳如人絕食食為根本資養性命豈可絕乎乳幼本只柔弱血氣輕微臟腑淺薄根基危脆豈可失乎乳之若失乖繆甚多乳之若絕性命難保其或母用性不順則氣血亂氣血亂則乳汁不和乳汁不和令兒哯逆宜其速與尞理若作尋常必致害生小沉香煎及鹽豉丸兼與服之當欽其驗乳母宜服藿香正氣散加枳朮至良</p>

<h2>議自汗</h2>
<p>議曰血不榮則神不備氣不衛則脈不充理其血用和其氣安其神用調其脈陰陽均平氣血相參百脈順流三焦五臟自然以益其體丸生至周晬之兒不可自汗自汗即亡陽亡陽即氣怯氣怯即脈虛脈虛即神散神散即驚風作驚風已作搐搦施為醫者失之究竟血不氣不衛作疾不輕為害必大禍生起於微人事何不察庸夫反笑之曰自汗豈能成風癇耶愚曰渠莫知其所以然者非我交也舉此一端虛以類之智者應有誚云觀其瀾而⿲手肙犬其海知其未須明其本通變之士審乎得失是「非」不離乎中栽度疏謹而後已察禮幼自汗切勿止之方用白朮一分小麥一撮水煮令乾去麥為末煎黃耆湯調與服以愈為良若以止汗反為閉氣作熱煩躁所謂氣血相參則汗自止矣</p>

<h2>議自利</h2>
<p>議曰自汗不利者由血不榮虛於表也自利無汗者由氣不衛虛於裡也其或有自利亦自汗者榮衛俱虛也凡為其人止籍血榮氣衛扶育身體血既不榮又氣不衛裡外不相參上下不升降關竅不開通經絡不調適榮衛不循環臟腑不充求且醫工何以良餌則性命何以保持究竟在始醇全幸之良由水穀不分自利腸胸怯弱自利臟腑不和自利冷熱相制自利陰陽不調自利榮衛不順自利前件自利皆由氣虛得之初生幼幼忽爾自利者與順榮衛平調陰陽制其冷熱和其臟腑分其水穀生其胃氣則內外充實何泄利有作宜以參苓白朮散加以車前瞿麥薑棗同煎更量虛實加減</p>

<h2>議哭無聲</h2>
<p>議曰鍾鴻聲大闊遠流長形處胞胎之中受氣充足水火兼濟心腎不虧耳目兩竅相通大小二腸相佐所以發聲清響洪亮者根固本壯稟賦充實而自然之理也初生啼哭發聲不出呃呃而作鬱郁而為其或短靸上下氣不相乘醫與果訣云此由胎氣不足何更投藥假使成人父母不悅籲哉根本不壯何須藥餌如果木之萎水奚宜也古意速用父母呼呵及以蔥熨令聲發越雖然妙理奈緣目無根本產子育兒當知其義理哉</p>

<h2>議視無情</h2>
<p>議曰天地清朗萬物咸明一氣盈通三元克備人之受胎應數降生之後不以貧富其子皆致精神全氣脈壯視聽欣嬉取與喜怒周晬之間於人事情懷意旨憮叱以知其逆須方可謂兒孩性識之本也其或周晬已過不認名不猥親常常煞顏蹙容喎臉含啼東喚西向南呼北面其坐若木其臥若屍其行即蹶其立用棳筋骨氣脈柔怯虛弱食不辭飽渴不知飲若也長成慵蠢必有如此胎氣於數不足者難保千日良方妙劑不謂此設醫宜察之學宜究之</p>

<h2>議反身張目上竄</h2>
<p>議曰此等症候系驚風惡逆所發初生三五日之間便有舉目上竄將身反張然其非疾所作情實駭人凡醫工必作驚風療之其候非也萬一所由兒在胎中受母飲食熱毒之氣蘊在胸堂誕下三日之前宜與黃連去熱膩粉散毒古人預計利害其又與人參朱蜜湯皆清心肺積毒既化兒腹無恙若不如此所生個個反張上竄或有無作之者鄙婦不因食啖熱毒之物何可怪哉或投驚風涼藥亦愈但項明其所以用藥智者裁之萬一不由驚風所傳幸與詳悉</p>

<h2>議乳失時哺不節</h2>
<p>議曰物萌失之灌溉長必萎焦兒誕違之乳哺壯必怯弱大凡生成之理合乎中道者以應運化之宜也夫人失乎正禮者乃違玄元之數也凡兒在胎則和氣養之食不及乳乳飽即不食無致劑也雖食無乳禍害生焉是故乳不可失時食不可不節乳失時兒不病自衰食失節兒無疾自怯乳者壯其肌膚食者厚其腸胃所謂乳哺二周三歲則益其體今人未用奪其乳入月恣肥甘豈不致疾傷害熟為吁嗟</p>

<h1>卷之六</h1>

<h2>小兒形症訣歌</h2>
<p>初生牙兒一塊血也無形症也無脈有驚當知是胎驚有熱當知是胎熱三朝繃袍未知安七日一臘古來說臍風撮口老孃⿱沙羊鎖肚清筋唇口撮又有因邪客忤兒不乳一宵神自脫只將妙藥保安康良久牙兒命得活若知難救命須臾嫌兒指甲兼唇黑女子初生小便血正是胎中受熱得男兒兩目閉不開或患丹瘡俱熱極目閉丹瘡消毒良血出須用生地黃又有初生便發延或將向火或加綿神情不穩目斜視強直反張深可憐醫人若作驚風錯但只涼心便安樂須宜以許地黃多更加些蜜神仙藥牙兒未周不識驚忌他聲響不安寧目內半周名襁褓驚熱須當順變蒸三十二日為一變六十四日為一蒸一十八次變蒸足方有脈自寸口生變蒸木足在面部左眼大陽陰右處眉稜上下俱是木準是中宮鎮星土耳間屬腎常土虛唇口兩笑脾所居面中⿰⺼萑臉屬心火惟有人中是肺都五行相生重卻輕若還相剋著工夫順候易理逆難療智不通兮性莫粗心主驚兮肺主氣肺主風兮脾主味胃家不得冷無虛吐瀉下止驚風至自古皆言心主驚五臟六腑有驚名心驚血散氣不復流入虛堂百病生肺驚吃水肺喘細乾嘔無時脾胃因腎候咬牙盰搐眼夜啼腸恐臉紅心五心熱是脾招悸面青下白膽生驚若在三焦終作渴或入膀胱卵痛聲</p>

<h2>脈指訣歌</h2>
<p>小兒食指辨三關男左女右一般看皆知初氣中風候末是命門易亦難要知虎口氣絞脈倒指看形分五色黃紅安樂五臟和紅紫依稀有損益紫青傷食氣虛煩青黑之時症候逆忽然紽黑在其間好手醫人心膽寒若也直上到風關粒米短長分兩端如槍沖射驚風至分作枝又有數般面反里順外為逆順逆交連病已難又頭長短猶可救如此醫人子細看男兒兩歲尚為嬰三歲四歲幼為名五六次第年少長七𪗦八齓漸論情九歲為黃十稚子有病開隔辨其因十一癇疾號癲風疳病還同勞病攻痞癖定為沉積候退他潮熱不相同初看掌心中有熱便知身體熱相從肚熱腳冷傷積實腳熱額熱是感風額冷腳熱驚所得瘡疹發來耳後紅小兒有積宜與塌傷寒三種解為宜食瀉之時須有積冷瀉須用與溫脾水瀉且與澀臟腑先將殢腸散與之孩兒無事忽大叫不是驚風是天吊大叫氣促長聲粗誤吃熱毒悶心竅急須吐下卻和脾若將驚藥真堪笑痢疾努氣眉頭皺不努不皺腸有風冷熱不調分赤白脫肚因毒熱相攻十二種痢何為惡禁口刮（一作滑）腸大不同孩兒有病不可下不熱自汗兼自瀉神困囟陷四肢冷乾嘔氣虛神怯怕吐蟲面白毛焦穗疳氣潮熱食不化鼻塞咳嗽及虛痰脈細腸鳴煩躁訝若將有積與疏通下了之時必生詫孩兒實熱下無妨面赤晴紅氣壯強脈大弦洪肚上熱胙腮喉痛尿如湯屎硬腹脹脅肋滿四肢浮腫夜啼長通體生瘡肚隱痛下之必愈世為良</p>

<h2>指下脈訣歌</h2>
<p>二三歲時看虎口更加中指按高骨浮即風生數主驚系是癩癇洪作熱沉細腹痛緩沉虛瀉痢多由此脈初微遲有積兼蟲盛遲牆元來胃脘迂四歲脈不在指端一指高骨按虛實五六袞轉尋三部平正關上為準則七八稍移指少許九十次第分位取十一十二也同看十四十五三指睹小兒有病脈不多先定浮沉遲數（音朔）數（音所）沉遲為陰浮數陽更看面部屬何方青色驚風白虛瀉赤生痰熱黑難當黃是脾家疳積作醫人審度療何方</p>

<h2>三脈五脈宜說</h2>
<p>凡看小兒初生至半晬之間有病即與看額前眉上髮際下以名中食三指輕手滿曲按之兒頭在左舉右手在右舉左手食指為上名指為下若三指俱熱感受寒邪鼻塞氣粗三指俱冷臟寒吐瀉若食中熱上熱下冷若名中指熱夾驚之候若食指熱胸堂不寬若名指熱</p>

<h2>乳食不和</h2>
<p>議曰半晬以上方可看虎口周晬以上看虎口兼一指脈若五百七十四日變蒸滿足只與看一指脈以食指袞轉分取三部凡言三部者非寸關赤系小兒三部面看氣色為一部虎口紋脈二部寸口一指脈三部五脈者上按額前下診大沖並前三部謂之五脈凡兒有患不屬惡候即不可與診大沖之脈其脈定生死之要會也其症候危惡故當診之不可看恐汙人情傷於不任用矣</p>

<h2>三關指紋要訣</h2>
<figure>
<img alt="圖">
</figure>
<p>未關命門　中關風候　初關氣候</p>
<figure>
<img alt="圖">
</figure>
<p>流珠形主鬲熱三焦不和氣不調順飲食欲吐或瀉作熱或腸鳴自利煩躁啼哭</p>
<figure>
<img alt="圖">
</figure>
<p>環珠形主氣不和脾胃虛弱飲食傷滯心腹膨滿作熱夾食虛煩頓悶</p>
<figure>
<img alt="圖">
</figure>
<p>長珠形主夾積傷滯腹肚疼痛或有寒熱脅肋膨緊食不克化或蟲動不安</p>
<figure>
<img alt="圖">
</figure>
<p>來蛇形主中脘不和積氣攻刺飲食不下疳氣欲傳臟腑不寧膨滿乾噦</p>
<figure>
<img alt="圖">
</figure>
<p>去蛇卷形主脾虛冷積泄瀉或吐或渴煩躁氣粗喘息飲食不化神困多睡</p>
<figure>
<img alt="圖">
</figure>
<p>弓反里形脈內感受寒邪頭目昏重心神驚悸沉沉點點倦怠昏閒四肢稍冷咳嗽多痰（小便赤色）</p>
<figure>
<img alt="圖">
</figure>
<p>弓反外形主痰熱心神不寧睡臥不穩作熱夾驚夾食風癇症候</p>
<figure>
<img alt="圖">
</figure>
<p>槍形主邪熱痰盛生風神情恍惚睡下安穩欲發搐搦驚風傳授</p>
<figure>
<img alt="圖">
</figure>
<p>魚骨形主驚風痰熱症候已定可以截風化痰利驚退熱不作諸惡候若已傳過必作它症</p>
<figure>
<img alt="圖">
</figure>
<p>水字形主驚積食積膈熱煩躁心神迷悶夜啼三焦不順痰延壅盛涎潮口噤潮加搐搦</p>
<figure>
<img alt="圖">
</figure>
<p>針形主心肺受熱熱極主風驚悸煩悶沉沉默默不食神困四肢垂嚲及驚風暴發（痰延壅盛搐搦等候）</p>
<figure>
<img alt="圖">
</figure>
<p>透關射指面主驚風痰熱四症皆聚停在胸膈不能散其候所受雖重症順則可療</p>
<figure>
<img alt="圖">
</figure>
<p>透關射甲主驚風惡候受驚傳入經絡風熱發生併入八候虛痰不下危急惡症難可療治</p>

<h2>指紋脈訣說</h2>
<p>（脈有黃紅青紫黑色）</p>
<p>議曰黃色無形者即安樂脈也紅若無形亦安寧脈有前件形者即病之脈次第而變初作一點子氣關多紅脈至於風關其色方變紫色病已傳過青色已受之極黑色其病危急純黑分明不可療治三歲以上病重危急指甲口鼻多作黑色蓋兒脈絕神困症候惡逆雖有妙藥良方亦用孩童有命</p>

<h2>議指紋脈總要</h2>
<p>議曰消息指紋脈訣考詳諸家所載參較至理其說不同所以錢氏王氏二家文意並不該載但只言論其症候而已然而症候且幼幼之疾若不定其指端說病是何用意僕留心頗又其紋脈述之不繁猶參諸家之善前後所斷龜鑑較其正理醇孚醇故不勞再三乃訣定如此者挺然微妙曲全一家直指明智之士試更考之必有益諸形容毋曰管見可也</p>

<h2>詳解紋脈</h2>
<p>議曰流珠只一點子紅色環珠其形差火長珠其形圓長以上非謂圈子總皆紅脈貫氣之如此來蛇即是長珠散一頭大一頭尖去蛇亦如此乃分其上下故曰來去角弓反張其裡外向里為順向外為逆槍形直上魚骨分開水字即三脈並行針形即過關一二粒米許射甲命脈射外透指命脈曲里一十三位悉有輕重元由一氣自微至著從漸至總輕重參詳前云五色者曰黃紅紫青黑由其病盛色能加變又博加進即越黃紅之色紅盛作紫又有紅紫之色紫盛作青又有紫青之色青盛作黑又有青黑之色至於純黑之色者不可得而療治之也</p>

<h1>卷之七</h1>

<h2>小兒面部氣色（並序）</h2>
<p>夫天地有儀故稟賦生成相貌男女方質猶陰陽假合形軀五體之中面目彰乎氣色五臟之內神魂布以災祥形究真邪潛一氣而分部位脈推隱顯洞諸經以測源流克伏侵臨剛柔升降生我我生即凶中獲吉克他他克應順里招殃肝家無氣常宜腎水澄清（謂有精神氣全）肺准多光必懼臉⿰⺼萑火焰（凡人有火色主災何況小兒）唇紅作渴頰赤饒驚眉頭靄靄父母寧憂額上昏昏醫工少樂凡理嬰孩先看面部定氣察色最為要也良由內有疾而形於外是以本位與地位一體和悅易安氣色其神色交參病傳難療先求逆順次較盈虧交侵臨入不逃乎源危篤死生必知乎本輒述於上諸更推詳舉一隅以類眾隅請三索而還再索妙在智遠良用心通醫工善理所謂多智多謨藥效方書宜其廣知廣見深求決定取捨專誠良師致力不昧乎方學者行醫須盡其理至誠一一難以述之務學惟精得中為妙</p>

<h2>五臟五色本立</h2>
<p>心主紅　脾主黃　肺主白　肝主青　腎主黑</p>

<h2>五行相生</h2>
<p>金生水　水生木　木生火　火生土　土生金</p>

<h2>五行相剋</h2>
<p>金剋木　木剋土　土剋水　水剋火　火剋金</p>
<p>五行本生相侵</p>
<p>心氣侵黃　脾氣侵白　肺氣侵黑　腎氣侵青　肝氣侵紅</p>

<h2>五臟生本相臨</h2>
<p>心氣臨青　脾氣臨紅　肺氣臨黃　腎氣臨白　肝氣臨黑</p>

<h2>五臟勝伏相交</h2>
<p>白色交心　黑色交脾　青色交肺　紅色交腎　黃色交肝</p>

<h2>五臟受敵克入</h2>
<p>黑色入心　青色入脾　紅色入肺　黃色入腎　白色入肝</p>

<h2>五臟畏愛</h2>
<p>肺本辛金（畏丁火愛己土）　腎本癸水（畏己土愛辛金）　肝本乙木（畏辛金愛癸水）　心本丁火（畏癸水愛乙木）　脾本己土（畏己木愛丁火）</p>

<h2>五臟子母生成</h2>
<p>肺（脾是母腎是子）　腎（肺是母肝是子）　肝（腎是母心是子）　心（肝是母脾是子）</p>

<h2>分定五位所屬</h2>
<figure>
<img alt="心臟部位圖">
</figure>
<p>顴面臉頰心火所屬氣池之下法令之傍食倉之上高骨取之一寸二分皆屬心之部位</p>
<figure>
<img alt="脾臟部位圖">
</figure>
<p>承漿之上人中之下法令之內食倉之傍其合即唇其開即口合即屬脾開即屬心四方二寸四分撮動之所皆脾之部位</p>
<figure>
<img alt="肺臟部位圖">
</figure>
<p>準頭至山根兩孔並中梁皆頭直下年上壽上裡外通息皆屬肺之部位</p>
<figure>
<img alt="腎臟部位圖">
</figure>
<p>耳花及輪廊文一山林頤髮際兼地名四維如海岸皆屬腎之部位</p>
<figure>
<img alt="肝臟部位圖">
</figure>
<p>風池與正眉氣池泡眥頭上下眨動處太陽及太陰連及山根所皆屬肝之部位</p>
<figure>
<img alt="命門部位圖">
</figure>
<p>天中與天庭司空及印堂額角方廣處有病定存亡青黑驚風惡體和滑澤光不可陷兼損純黑病難當青則甚憂急昏黯亦堪傷此是命門地醫人鮮較量</p>

<h2>五臟伏敵喜傷</h2>
<p>肺所伏者心所敵者肝所喜者辣所傷者焦苦二變七蒸之臟和則喜懼氣爽神清魄強疾主喘滿咳嗽傷風作熱虛痰壅盛</p>
<p>腎所伏者脾所敵者心所喜者咸所傷者甘甜五變十蒸之臟和主行坐嬉戲笑語疾主崩砂黑齒截齒咬牙停耳膿汁</p>
<p>肝所伏者肺所敵者脾所喜者酸所傷者辛辣初變六蒸之臟和則魂神壯意智生疾主風孿搐搦眼目腫赤疼痛</p>
<p>心所伏者腎所敵者肺所喜者苦所傷者鹹鹵三變八蒸之臟和則情性悅樂疾主驚癇恐悸虛躁啼叫譫語狂煩涎流口角</p>
<p>脾所伏者肝所敵者腎所喜者甜所傷者酸釅四變九蒸之臟和則消穀氣美飲食疾主嘔噦疳積虛痢痞癖潮熱不思乳食</p>

<h2>面部氣色總現</h2>
<p>五位總作流波泛澱隔牎照藍青色者驚積不散欲發風候其神彩觀覷不穩上上下下症變風生（此首一字闕字）五位總作閃爍焰射丹爐映火紅色者痰積壅盛驚悸增進其神彩視物不定恍恍惚惚候變驚速</p>
<p>五位總作混袞泥漿衣傳土牆黃色者食積症傷欲作疳候或痞癖有之其神看顧散漫昏昏沉沉其候寒熱潮發飲食不掀氣粗短滿困倦喜睡嘔噦有之瀉痢有之</p>
<p>五位總作濈濈浮虛野露入谷白色者肺氣不利大腸滑泄水穀不分欲作吐利其眸疑濁失其精神朦朦朧朧性情不有光滑全無五臟少實百脈多虛或吐利之後有類調補</p>
<p>五位總作漫漫黯黯塵灰彌覆黑色者傳不順症變即逆候表裡有虧臟腑欲絕其血不榮其氣不衛榮衛失序經絡流注凝滯於脈為疾危惡其神昏冒沉沉默默者為人不久也</p>

<h2>五位分部定位</h2>

<h3>肺部所主</h3>
<p>鼻孔名並灶尖處名準頭眼尾名大小眥中央坎𥲊名山根若鼻孔黑如煤即肺經焦或作黑燥如墨者即肺家絕其候難治鼻中赤癢疳盛蛔長或瀉白涕腦寒困寐或流清涕傷風喜睡肺熱鼻塞因息吹得有妨吻乳關竅閉阻感風寒邪熱亦如此鼻下生瘡潰爛即疳鼻中常臭積熱為咎</p>

<h3>腎部所主</h3>
<p>耳穴之前名曰耳花耳⿱⺮墜各輪輪里名廊輪廊焦黑腎家虛熱其黑如炭腎絕死旦耳門生瘡衛積非常耳中膿出腎熱疳極臭名聤耳膿汁不止瘡癢如烈其候虛熱忽聽不聰心腎氣壅常作關關熱氣上攻或如蟲刮榮虛衛熱耳輪如冰麻豆相侵耳輪紅熱傷寒是則熱極內痛腫氣相攻清心涼膈關竅通塞兒孩兩腎常虛無病若有攻擊使令無益</p>

<h3>肝部所主</h3>
<p>眼睛有穴內藏其神外究五輪𥲑眩屬脾熱即生眵兩眥屬心熱痛如針勾屬肺家熱赤生砂黃屬肝臟昏瞀翳障中心瞳人腎熱不明兒孩眼目痛即便哭良方對治更與忌毒或患丹瘡從里為殃經效良藥速療無妨眼本屬肝怕熱怯寒令有治法拯理何難眼忽連眨驚風交雜忽然竄視驚風已至肝絕定睛或翻無神瞳去中陷十無一生</p>

<h3>脾部所主</h3>
<p>唇即口門語言之尊舌居其中飲食之宗齒牙咀嚼咽喉相約牙質既剛角宮羽商嬰孩未定唇口見病上即人中下乃承漿上下四方皆屬脾鄉口內屬心心脾有熱舌瘡唇裂三焦蘊熱唇紅如血淶紅重渴輕即流沫鵝口慕口木舌色可以布設未兆之功可以預防也</p>

<h1>卷之八</h1>

<h2>病症疑難序</h2>
<p>觀夫泰岱奚曲累工混沌名山川源取次湍流盤旋到海天地有自然之理至哲無造化之功醫究一門道通千聖小方脈者乃眾科出倫議論之要也凡為調理先裁可否之宜學習篇章首察艱難之屬誰知活人作德我敬醫道通仙陰陽昭然行功獲矣於戲得師奧旨未契全真識性悟機方為至妙前賢著護後學推誠已述淵源須窮確實持燈晦夜咨嗟擿植索途捧寶暉晨勇躍良工與鑑漢輒剖疑難事目聊陳管見因由一十八章幸希同志詎堪品藻非涉狂誣試詳淺陋之言必展恢洪之臆一隅再舉三複方欽</p>

<h2>病症疑難一十八篇</h2>

<h3>一·逆症似順</h3>
<p>議曰順逆有別陰陽不均症候相加色脈致亂惟是驚風發作按脈察症以較之陽候症脈俱得其陽陽者順也陰候症候俱得其陰陰者逆也陽候有陰脈者其症欲傳陰候得陽脈者其症反是也謂如急驚風乃是陽癇得脈浮數洪弦陽中之陽又有得脈沉緩陽中有陰慢驚風乃是陰癇得脈沉細遲弱陰中之陰又有得脈浮大陰中有陽所言逆症似順乃謂陰中有陽助陽不醒回陽不生其候偏虧雖則陰中有陽其陽非真脈使疑二不可攻理詳而知之察其可否而後已</p>

<h3>二·陰症反陽</h3>
<p>議曰小兒傷寒惟察表裡而理之不以陰陽症候究竟者蓋無關前關後之脈所謂純陽之孩合而言之此說陰候者慢驚是也凡兒吐瀉疾作慢驚其候無反症良由急驚傳來已成陰癇藥用寒涼症入慢脾藥用燥熱其候反陽者反從陽也其脈愈盛其症愈逆故云反也陰陽俱壞實謂難治醫工不知其所以但見其搐搦肆意退熱截風良久卻不引搐但只合眼聚痰冥冥如播症候有如此何藥理之請試較之</p>

<h3>三·陰盛強（上聲）陽</h3>
<p>議曰慢驚風候謂之陰盛又其欲絕之時虛痰上攻咽喉引氣呼吸粗大其脈浮數其症強湯得之醫工將謂陽回以得其所宜與下痰藥用太迅痰涎即時隨藥而下兒命即時隨藥而化眾言醫殺之愚曰非也謂渠無智不識症絕而用之雖不下藥亦死之矣</p>

<h3>四·虛極生熱</h3>
<p>議曰疳候有作斯症初發即謂疳氣次第傳至疳極是謂虛極之候陰陽二氣不勻上下氣不升降榮衛兩虛臟腑滑泄豈可攻療善醫疳者隨順藥餌以助之淡薄飲食以扶之榮衛漸得均勻氣脈方得升降既而陰陽二氣已得調和臟腑已勻充實肌膚已自肥壯醫工已知疳傳在虛候名作疳極遂與補氣藥服之稍多反生大熱所謂虛極勿補熱盛煩渴疾作疳勞名曰丁奚皆由藥助虛極生熱而致之也</p>

<h3>五·冷久必寒</h3>
<p>議曰症積已作症候所傳自是孩童飲食不化氣滯中脘再食停氣復傷前積積之為病皆致其冷冷之既久脾胃虛怯虛怯既存陰陽相勝寒熱間發痞癖有加脈氣無定醫工不理陰陽令其均平但作痎瘧治之或投砒或投粉（膩粉也）利下太速疾不去根為患反重難施和劑良由利動臟腑虛必入腹發作煩躁腹肚脹緊氣喘短促難以調治療理此等症候究心毋忽保全是幸</p>

<h3>六·熱多作燥</h3>
<p>議曰熱分內外身藉陰陽一氣受邪三焦致熱三焦者本質無狀隱伏得名所通五臟六腑相干血脈皮毛溫平由實燥熱由虛靜則為之一名動則分之三所上焦喉管至臆中焦至於中脘下焦至於丹田以大拇指展中指作一握自咽喉坎處分作三停則知上中下三焦所寓也溫極即熱熱盛即燥燥盛即焦寄於其中矣大人患此猶尚不可況小兒三焦隱伏熱多作熱寒涼之藥所投不堪畢竟從長何劑調理若不早療疾作無辜</p>

<h3>七·理實致虛</h3>
<p>議曰虛則作疾實亦是病按實理虛遣病去疾內知其冷熱外審其症候三實兩虛神不安居三虛兩實人有得夫虛之為病其候則速實之為病其候則緩實未致害虛即作禍迅矣肝心脾肺腎子母相生肺肝脾腎心五臟相剋且如脾胃經虛嘔噦不食又心氣不足驚悸有作所療子母俱虛小便閉澀利之可乎所以知其內者母虛靠子實子虛籍母榮其又肺家有熱宜瀉之否大腸滑利宜溫之可醫工但究母虛理其子實若攻其子則母亦虛所謂母能令子實子能令母虛脾病瀉心理實致虛矣</p>

<h3>八·利表傷里</h3>
<p>議曰傷寒豆疹皆論表裡二義不同所受反是傷寒所傳從表入里豆疹所發自里出表作熱形症與傷寒頗似病家不究輕重所受相尚與服升麻葛根湯或過劑飲餌其表已解其汗不止汗出稍多里虛作渴且熱乘熱悉化疹豆自然回出所緣逐其熱利其表遍出雖多疹亦不成豆亦不是比此小赤自其熱力有限裡外不相續榮衛不加助即於中道而廢漸作黑陷非食毒感風之咎自是助發大過失其自然之理至死莫知其由是謂利表傷里故也使良方妙劑難以助平哀哉</p>

<h3>九·退熱作渴</h3>
<p>議曰小兒發熱一症與大人同熱在三焦方渴肺驚下利虛煩方渴上盛下虛方渴水火不相濟方渴伏暑蘊熱方渴津液燥竭方渴渴症本無但有其熱熱在乎表攻動其裡裡自無熱受之以虛表熱傳裡反致其渴表裡俱虛引飲入脾頭面手足受濕虛浮作腫醫工下之從增其病宜與扶表救里庶幾有命方得獲幸疾症於此死者多矣</p>

<h3>十·療驚發風</h3>
<p>議曰有痰者必有熱隨之有驚者必有風繼之利其驚其風豈有散其熱即痰不生此醫家者流所得其宜調理症候截風定搐以明其要也如此常見豪貴家才見孩童有熱不問原因便投驚藥日輒數粒月既積多雖則驚悸不作忪恐無妨其兒所服寒涼藥多脾胃虛弱不吐即瀉遂成慢風更與驚藥愈加其疾調理醫工當究其後免負其重禍害生焉</p>

<h3>十一·風痰隱久</h3>
<p>議曰風者肝主之肝稍不和則風所由縱痰者脾受之脾若不壯則痰所曰盛痰之與風驚之與熱四症互馳則流行於經結之由傳變它疾所有風痰相襲久而不化隱在肝脾所由飲食冷熱相干故不自散雖則療理愈而復作以至長成且風痰常常在牙頰之間吐茹無盡生髮有因其風痰致病或作齁䶎或作喘息或硬牙關或腫頤頰臨於肺則咳嗽於乎心則恍惚善術醫士未能速與下其痰恐風猖狂若逐其風又疑痰作梗須是風痰並化炒藥奇方以徐以漸減瘥可也食不禁戒服藥無功若療風痰深意究竟不可致緩久則害發於疾當宜察之</p>

<h3>十二·驚熱無時</h3>
<p>議曰因驚而得熱其熱常發不繫平心而屬乎血更加氣血榮衛毋得循環驚熱時常發作或生疥癬或發瘡痍熱來神困心虛熱去唇焦口苦呻吟求飲恍惚患飢兒孩受此艱辛藥餌如何救療人參羌活總不相關蠍尾當歸有些巴鼻更尋炒餌病不於心說道難醫請誠著意</p>

<h3>十三·恐悸喘息</h3>
<p>議曰驚悸心屬喘息得同而言否愚曰非心旺之若心所受其疾不作喘發是知肝臟魂肺臟鼻魂魄不安恐悸傷乎肝肺肺受其驚而受其喘須求水飲肝受其驚發喘細細若張口大喘者肝肺倛不利鎮心安神調氣定喘必未盡善當於損益魂魄丸散瀉心補肝立見功效所述疑難更請探頤毋蹶高安</p>

<h3>十四·食噎咳逆</h3>
<p>議曰兒孩睡息魂魄恬遊擊響高聲傷乎其神睡中不穩乃心不寧乳幼飢渴飲食宜細掇物觸志傷乎其氣令肺作噎乾脾發噫其氣逆不升降其志分不伸舒陰陽差忒胸襟鬱悶良久取氣發聲含飯面黑啼哭聲焦輕則咳逆致躁盛則咽塞不通所受之後常作咳逆者良由食噎觸擊悶挫關竅宣通臟腑即不宜升降榮衛乃利益若不早治咳逆於腸終身致疾而難療矣</p>

<h3>十五·令子無辜</h3>
<p>議曰夫人所藉者陰陽而生所宜者氣血而長血氣不順則五臟以違其和陰陽不均則百脈以亂其體流之於表裡相參注之於經絡致急凡周晬乳兒等閒捉舉又更齊齒身體檢束頭目搖動此乃陰陽有虧榮衛失正疾名猢猻禁十二種無辜疾之一也丹情不識見之喜笑復作體態以教令如其然也久而不已愈加其遍次非風痰之所攻無驚熱之致作當為舒其氣調其脈均其陰陽適其灑淅（止解下息裡寒有作）休言乳幼無妨曾見父母慟哭</p>

<h3>十六·受氣不足</h3>
<p>議曰三才降氣數成方謂為人萬象論功道合始知得志胞胎既備心定神全血脈未充骨萎髓薄筋力藉乎骨髓智謀出乎心神為人恍惚者斯可知多志者應由是傴僂者乃如然侏儒者必若此不及數之重者候存五軟大過受之深者身負五硬由其肺心脾肝腎所屬者氣血脈筋骨所受者體舌臂項膝其或有疾於症候不及議者往往無辜無辜形骸必定受氣不足謂如五硬五軟只許聞名稍有求醫難著方藥後進執謂堪與療理者野老付之一笑</p>

<h3>十七·飯多傷氣</h3>
<p>議曰幼幼未降形處胞胎藉母氣血滋蔭由如養素已誕之後繼時吻之以乳乳者化其氣血敷養肌膚百脈流和三焦頤順身肢漸舒骨力漸壯三周所芘一生為幸其或母因產得疾血竭氣耗乳不成汁當召奶子看顧貧乏之家食不繼口奚能謀比其乳少其食多不益兒體其有不產之婦抱幼繼宗終夜號啼惟飼飯食初傷其氣次傷其形久傷其神重傷其命萎羸聲鞁躁哭皮皺項軟足垂唇焦骨露但見眼有晴先將久氣散神敗凡人生子究乳為上獨以穀食扶持十士未保一二抑服丸散堪笑強為勉之急假乳蔭庶傳為人死中半活矣</p>

<h3>十八·臍中受熱</h3>
<p>議曰初生未及蔭乳洗罷便用斷臍帶留一握綿裹三重受氣根全者其臍自深成胎數關者其臍自突臍者受質之根也為人之本也形體之基也元命之壽也迭月之前一臘之後其兒臍紅高腫不作水濕亦無風候但將胸堂仰起呃呃作聲闔家無見責之皂嫗有傷臍帶致之非也召愚一觀察知心氣受之胎熱與利丁火少項不展胸堂呃聲遂止越宿視之臍根後本醫工與傳及洗總施謬妄故書於楮果其宜哉謾舉頤以誚之云耳</p>

<h1>卷之九</h1>

<h2>議胎中受病諸症序</h2>
<p>原夫胚胎血氣本自調順既成胎孕有失將護致使胎氣不安轉動不常冒觸根本初生幼幼邪正相干易得其病今述一十五篇概而舉之欲使智者察其已身所受輕重所發逆順調治可否鞠育持令產婦以正其神養其血和其氣使乳汁溫平兒得調順雖有疾作而自安平過半矣重則減之為輕輕則去疾之容易勿謂輕之為重重則候變而作禍矣於戲萬物之中所尊貴者惟人肖天地生成之道故難值其安靜猶體頤淳和之脈把純素渾樸之懷合清湛之淵源納運成之臟腑嗟乎受胎無益於形有傷加之以藥誠在出不得已而致之若在胎內失調初生宜其和益若在初生失理則於襁褓之間而療之順平而愈若也受之變蒸數足其所患猶未除散遂成宿疾終身之咎也其兒所受胎氣不足為患非傷肢害體者並可與整使其平復獲幸之甚良工盡心斯為妙矣</p>

<h2>議胎中受病諸症一十五篇</h2>

<h3>一·鬼胎</h3>
<p>議曰婦人產育有患鬼胎者庸鄙謂婦人納鬼之氣而受之實非也鬼胎者乃父精不足母氣衰羸滋育涵沫之不及護愛安存之失調方及七八個月以降生又有過及十個月而生者初產氣血虛羸降誕艱難所言鬼者即胎氣怯弱榮衛不充致子萎削語猶如果子結實之時有所蔭藉不到灌溉為物褊小其形猥衰無有可愛如此之謂胎氣陰萎常與丸散扶挾乳哺勻調氣血充蔭腸胃固壯即保其靜善蓋由受氣不足稟賦不全忽爾橫殤非可惜耶</p>

<h3>二·魃病</h3>
<p>議曰小兒有患魃病者非五臟傳變亦非六腑所主也緣兒生後方且周晬母復有孕血氣所蔭分之兩端是故胚胎漸傷乳汁成毒虛邪相攻兒吻致疾斂率其氣鬱傷其神魂令兒疳虛尫羸枯瘁煩躁朝昏嘔噦日夜不可得療理但速與斷其乳溫平胃氣和順血脈自然而愈其有萎怯致痰乃成無辜症候何足怪訝者耶</p>

<h3>三·胎氣</h3>
<p>議曰初生牙兒三朝之後滿月之前所受諸症作疾輕重不同者蓋由胎氣稟賦有壯有弱其母飲食恣全飢飽起止無忌坐臥不擇令兒得疾不寒即熱不虛即怯熱乃作壅寒乃作泄虛則作驚怯則作結寒則溫之熱則涼之虛則壯榮怯則益衛驚用安神結用微利審詳用之不必過劑</p>

<h3>四·胎病</h3>
<p>議曰牙兒胎病謂月數將滿母失護愛或勞動氣血相干或坐臥飢飽相役或飲食冷熱相制或恐怖血脈相亂胎氣有傷兒形無補或因動土與工或由營葺房臥或移安居或更薦席雖不犯凶神惡殺終干礙子體兒身有因如此得疾者乃成終身之患重則損根廢枝輕則拳攣跛躃若也胎病由氣之致患者乃尚可療或傳成風為疾者斷不可醫初生幼幼有被於邪者即時和順調理大凡生長嬰孩有如長江行舟一向不值風濤波浪方為穩當何向胎氣不固或生下作疾所謂萌芽既傷將來曷能榮茂矣</p>

<h3>五·胎病作熱</h3>
<p>議曰兒在胎中母多驚悸或因食熱毒之物降生之後兒多虛痰氣急短滿眼目眵淚神困呵欠不發神舒呃呃作聲大小便不利或通利即有血水盛則手常拳緊腳常搐縮眼常斜視身常掣跳皆由胎中受熱宜速與服大連翹飲子解散諸熱次與服消風散數服無恙</p>

<h3>六·胎氣蘊熱</h3>
<p>議曰兒在胎中母多恙怒鬱悶之情不散又因胎氣燥濕兒作艱難母生驚悸是致乳汁不和兒吻成毒故能作熱令兒食即嘔吐眼不定席神不安穩聞響即掣苦不解蘊毒熱和干久作無辜成疾害生先宜順氣次服四順若不安愈蔥根必效</p>

<h3>七·胎病風熱</h3>
<p>議曰兒在胎中母常喜食動風之物熱毒流傳致兒受之隱在經絡則手足拳攣注入血脈則肌體枯槁其兒眼常喜羸血不蔭心神不守含怯人怐物視作定目苦不早療恍恍惚惚形體雖長情性垂拙為人多荒朝記久忘雖久受病不無生蓋父母但知惜昔嬌姿安養其無用之兒如此者凡胎風服藥至用貴細若以常方難言功效</p>

<h3>八·胎病驚熱</h3>
<p>議曰兒在胎中母因驚悸驚氣入胎兒當受之降生之後其兒精神不爽顏色虛白初則溫溫有熱其後頰赤饒驚物動即恐聲響即悸若不繃抱安床取次難為調適既有胎驚將傳胎風之候產母謹謹忌食一切熱毒之物若作尋常畢竟難極蓋是血脈柔弱臟腑虛怯不堪重劑何可攻系是使智省怯懼有之苦也輕受熱已自散即於項上生癤其大如拳名曰驚氣須當破之而後合之勿傳毒藥恐壞肌傷體不惟傷壞深恐有害及為無益禍莫大焉</p>

<h3>九·胎病風痰</h3>
<p>議曰兒在胎中母喜食熱毒之物熱即生風脾肺不利遂有風痰雖不能損肢傷體其痰與風相襲痰多風不散熱盛痰復生且風與痰皆能令兒作熱那堪更加暖被紅爐母炙炙爆醃藏動風之物即時害生藥非不驗乳汁之咎也如兒或患風痰不必下截風化痰藥但清心肺涼膈順利三焦則自然安愈亦忽可投大涼恐寒臟腑所宜者以消風散吞下白丸子至良令小作丸</p>

<h3>十·胎病結熱</h3>
<p>議曰兒在胎中母失調理恣縱飲食不加將護蘊熱頗久及至降生熱氣隱蔽傳入於裡遂作閉結其結由熱極得之大便不通利衝心腹脹臍突撮口努氣停郁急以三黃丸或四順七寶以通為度不必過劑切不可下積丸子藥不惟無益恐反為害</p>

<h3>十一·胎病寒邪</h3>
<p>議曰兒在胎中母因感受寒邪熱氣煩蒸傳入胎臟兒當受之及至降生令兒關竅不通精神昏濁作熱加蒸啼聲不響號叫駭人未知之者將謂驚風妄動臟腑或妄鎮心良由所受寒邪之氣初只在表久則傳裡所謂邪氣以亂其真故血脈皮毛皆不得其便腠理所拘邪不得解變蒸有違氣血致傷煩躁益增無能自暢但與小柴胡湯服之稍輕次以人參羌活散然胎中所受未分表裡既生蔭庇當議和解為之良也</p>

<h3>十二·胎病榮熱</h3>
<p>議曰兒在胎中母於食物充喜啖姜瓜古人有曰修灶鐵唇食姜余指蓋姜性至熱又是醃藏攻及血脈傳入經絡輕則令兒偏體生蛆瘡延熱毒瘡丹瘡之類經年發作或於頭額生核重則發大癰癤潰即爛壞皮膚十死一生何堪忍見初生幼幼毒氣加盛肌內柔弱參朮托裡枸柏扶肌（抱即地骨皮是柏即黃柏）常與清心平調血脈母慎其口父抱令餒醫工順理與扶其危</p>

<h3>十三·胎病衛熱</h3>
<p>議曰兒在胎中母傷和氣飢飽勞役神疲力倦多矣其有不勞役者即有憂愁思慮役乎其中動之真氣攻之虛邪於亂神魄流入胎臟兒乃受之既生之後兒常昏困腹急氣粗重則喘急睡思不穩狂啼煩哭肌肉不滋亦生瘡痍熱發早晚精神少具良工正醫平調臟腑臟腑既正熱目散止</p>

<h3>十四·胎病臟寒</h3>
<p>議曰兒在胎時將順其月母喜食諸生冷物過度冷盛既寒腸鳴泄利時時有作降人之後其兒肚上青脈膨脹虛緊之者乃是虛氣入腹呃呃作聲日夜不禁雖則漸長終是臟腑陰陽二氣受不勻調若不溫平分氣長成痞結陽結易治冷結難醫仍宜抑母服藥庶得乳溫令子調和不至延病成害為之嘆也</p>

<h3>十五·胎病潮熱</h3>
<p>議曰兒在胎中母曾發作子瘧或是因患瘴氣母或飲酒無厭或是冒風傷暑熱入經絡有傷榮衛母雖分免以脫其難兒襲其氣陰陽不解初生嫩弱血氣不和作熱潮來先寒關緊身體作顫庸工未諳其理即以艾炷灸之經絡未全用之枉究醫士但與調中均其陰陽二氣若是肚緊宜以全條蛇蛻末醋炒令熱手帕盛系肚臍上即漸安樂</p>

<h1>卷之十</h1>

<h2>十種症候發端</h2>

<h3>治法略序</h3>
<p>切聞天地之大惟人之性蓋矣物象之眾惟人之志鑑矣是故人為一物而靈於物氣受一元而妙於元惟智者為能明之然其天地不陷乎人物之根於是人物不迯乎天地之數無情者悉由造化而生有情者皆自交接而養倘諳先王之道君君臣臣父父子子成人人為後達乎上古參同天性順合聖意小人不知其所以愚情反是曷足與語哉嗟乎既為醫工調理幼幼誠為不易須當裁度幼幼稟賦形骸有壯羸怯弱於脈較之涵蓄情性有寬緩暴急於神察之輕清重濁以氣定之冷熱虛實以色推之若也形體不壯神全則未為咎色脈不充氣固則無作恙氣與神而有虧藉乎丸散脈共色以無補宜乎療醫氣壯即脈順脈順即神全神全即色正色正即五臟安和百脈調適矣色脈若不正定即與固其真氣真氣若不和則神不悅神不悅則形體何安觀其脈則知其氣氣若不順則形萎羸察其氣則知其神神若不清則氣濁亂神者五臟之主也氣者一身之權也色者虛實之表也脈者溥變之令也脈之流行不可不察色之變易不可不究神之散漫不可不療氣之盛衰不可不理嬰孩五臟受虛其面白其氣怯其神潰其脈亂其體尫羸五臟受熱其唇紅其氣促其神昏其脈數其體枯槁五臟受實其臉赤其氣壅其神劣其脈浮其體煩躁五臟受冷其準黃其氣泄其神困其脈沉其體嗜臥所由冷熱虛實傳受驚疳積痢凡病按其標則知其本省其絕則起其危後進攻醫但按圖說執滯湯劑不務實效今著是書乃述源流不特贅贅褊求一隅以別之儘性考究以羨補不足益有餘故也即非調絃膠柱緣木求魚之謂歟熟研其議至理自明輒搜難解之意載留斯怢好術之士足知可法以備闊略後世有㚄簡要得無隱藏當與智者鑑議庶彰不朽云耳</p>

<h4>一·急驚風候</h4>
<p>醫雲陽癇也手足搐搦涎潮大熱醫家下之其所用藥往往利以經粉或水銀巴豆皆有毒等既已蘇省之後精神由尚昏沉未⿱夷貝乳食者或有餘熱其候欲得安痊和平只可用平穩藥調胃氣不可直便與服燥熱藥若與服之其候復作何可怪耶</p>
<p>議曰小見驚風之後胃氣多虛不食沉沉默默或瀉尚不止只可助胃生氣須以截風藥移在（平胃散）或（觀音散）中謂用全蠍天麻殭蠶白附防風羌活之類生薑棗子同煎自然胃壯瀉止諸風不作雖則驚熱及搐搦皆去其精神未爽不可便謂無事若用補藥助虛乾薑豆蔻硫黃附子之類則熱復來其候又發非病不除醫者妄謬病家無見亦不可不告凡治急驚之候正謂醫療豈可據云調理之說用藥乃在一時之久若也寬緩症候轉加深重醫者既知當下即可量其輕重如病五六分只下三四分許隨通且利熱去痰消則病與症次第徐徐而減瘥若不揣度一概並蕩下之大過傷害臟腑疾傳陰症乃作慢驚風候豈可臨時生胃回陽誠為枉究既是醫工莫不知之矣</p>

<h4>二·慢驚風候</h4>
<p>醫云陰癇也良由急驚用寒涼之藥太過轉動深重乃傳作慢驚或因吐利不止而成慢驚或因澡浴感風不解而作慢驚或因風食二癇不治而變成慢驚或因咳嗽下痰轉虛而成慢驚因由甚眾概而舉之病家怕驚不怕瀉良醫怕瀉不怕驚其瀉不止則驚風愈盛若與治驚更用寒涼之藥且瀉轉多病加進重矣</p>
<p>議曰小兒脾胃虛怯方作吐瀉其症有五有熱吐冷吐虛吐痰吐食吐所言熱吐者謂母飲酒吃肥炙爆醃藏或冒風傷暑致熱兒吻乳入胃遂成熱吐冷吐者謂兒胃冷加以宿冷之物與食即吐虛吐者其兒肌弱神困疳積未消胃堂久虛即吐痰吐者其兒胃氣本虛復感寒邪生痰作熱留滯胸膈故吐食吐者其兒胃弱飲食不節強食傷脾作熱袖困吐後即逆病家但知其吐不明其所以吐且吐兼瀉共作名曰霍亂其吐候又推輕重有五初則乳自流出謂之哯哯之不已即謂之吐吐之不也即作嘔嘔之不已即傳逆逆之不已即作噦（於月反）自嘔逆噦皆有出聲動氣嘔者口開而作逆者心胸上下氣逆郁築噦者無物可出即膈虛胃寒引氣噦噦作聲此等候惡須更症變即慢脾風熱吐者先去風痰冷吐虛吐與生胃氣痰吐下卻其痰次與（正氣）食吐宜與（塌氣）豈可一概理之吐瀉不止脾虛風生眼開慢驚眼合慢脾治之不當更下驚藥死不旋踵豈可得而救療兒分長幼病察虛實有吐瀉三五日發風者有一日半日而發者大抵女孩以吐為急男以瀉為速若氣虛暴瀉暴吐才作便得之惟有疳瀉不成風候水則患無辜症終於虛乏矣但滯腸止瀉為良吐即生胃為正截風之藥加而用之凡驚藥及寒涼之藥切不可用亦不可用大熱藥其候乃屬陰症醫者裁之勿佞為幸</p>

<h4>三·小兒熱症</h4>
<p>古分十種為總例有驚熱疳熱風熱潮熱傷寒熱瘧熱積熱丹熱瘡疹熱餘毒熱</p>
<p>議曰十種熱症病各不同已有觸類而作潮熱者即痞癖熱也類近積熱症先腹肚熱腳冷者是傷寒熱與瘡疹熱亦相類且傷寒有三種皆從表發入里且瘡疹隨五臟所受從里出表故不同根風熱與驚熱亦相近疳熱與餘毒熱類疳有五症瘧有五候皆由脾家陰陽不順若驚熱盛即風熱作丹毒熱有數種皆五臟熱毒所作自上發下曰毒自下發上曰丹總名之曰丹毒各隨輕重人有一種名曰龍帶橫腰過肚上或至胸前相交者重有如火燔其候亦同丹治病後餘毒熱諸症皆有之須適輕重類諸症而調解不可越前病用藥如傷寒後有餘毒熱即於傷寒調理不及而解余皆效之大抵驚熱涼之風熱化之疳熱補之潮熱散之傷寒熱解之瘧熱分之積熱利之丹熱消之瘡疹熱順表之諸症餘熱皆和之此理雖則大概如是言畢竟用之有理乃為醫士善學設有不遵其理者斯可謂之管見之</p>

<h4>四·小兒積症</h4>
<p>王氏有可治不可治其說已載於家寶議曰古人有言不盡意者非失言也妙用奇功不可得而著乎紙筆之聞且學者初機未可便得純粹廣見多聞性識開通心智自然運出然後可謂之醫者意也此科最為難事積症最為要緊今病家將作尋常醫者不至急切治之若等閒病之有緩速及至傳變方覺困重久務良工信乎野老不虛云耳東漢王氏不言疳與瀉及痢即述症而已所症治未病之病凡小兒有自幼及長不患驚風癇痙癲痙者有之矣未聞無患積症者謂五臟之所積名曰積六腑之所聚名曰聚且小兒只理五臟受病故不有六聚候者何腑屬陽雖有疾不治而自愈且胃屬腑氣生以漸乃脾主食有疾當治之臟屬陰治之充難調治四季有積欲下之理皆可用藥但與究其虛實然後利之既有積氣不能全實量其輕重故古人有挨積磨積消積化積無下積之說是知積之一症不可直便獨下若積虛極先和脾調胃令其充實次與推下若積症二三並作之者可先下而急與調胃藥服之稍用倒置不免為它咎乃計利害所議積症作疾無可與之安和一味當下斯為良法有積不可安養久則為它病矣惟痞癖症先宜定去寒熱寒熱已去方可挨下以通為度下之大過反生重熱雖有重熱即不宜用涼藥乃於調理胃氣藥與治之充宜深究無令得矣</p>

<h1>卷之十一</h1>

<h2>小兒傷寒正受夾驚夾食</h2>
<p>議曰正受傷寒所由感受邪冒冷脫著傷於腠理輕即傷風重即壯熱頭痛鼻塞流涕斯乃正傷寒候又有傷風傷著傷冷傷濕皆能作熱困乏但不咳嗽又有夾驚因驚之時而又傷寒故云夾驚傷寒又有因食之時而感受寒邪故曰夾食大抵傷寒或有他症似積之類切不可妄下若下之太早表裡俱虛雖以調理謂之壞症大人壞症由尚可藥小兒壞症救療無門哀哉凡傷寒有驚候亦不可下驚藥餌是夾驚症亦不可用驚藥幼幼傷寒只可表解雖曰用表不可令兒汗出如王氏杜薄荷散和劑方人參羌活散之類名熱在裡譫語鄭聲於症當下者只用散末藥七寶洗心散四順飲之類不可用以丸子或以取積藥下之其熱不去反成無辜夾食者於理用下宜紫霜凡下之量其虛實而用須究門先傷寒後夾食或先夾食後傷寒然傷寒夾食乃在於食時之間惟母覺知其先後多是不覺若知其理以後受者而先調理既不明其先後即可表解以候里症有者方可與下尤為善也且下與表二理不可並行有乎得失旦如家寶有云三日前在表三日後在裡斯乃大概約而言之恐後人傳之不當及為其害凡傷寒在表即解在裡即下不可以日限為拘其或有在表裡之間亦宜和解又不愈小柴胡湯治之又不愈候傳裡下為良（大者譫語小即煩啼）切不可意急取愈宜在用心明究表裡若也審察妄恣用藥不當籲哉</p>

<h2>小兒有患驚風痰熱四症如何用藥</h2>
<p>議曰小兒有熱熱盛生痰痰盛生驚驚盛作風風盛發搐又盛牙關緊急又盛反張上竄痰涎擁牙關緊風熱極閉經絡即作搐搦涎壅胃口悶亂不省才入中脘手足攣是諸關竅不通百脈凝滯有退熱而愈者有治驚而愈者有截風而愈者有化痰通關而愈者皆是依症用藥不可不究竟其所以受病凡病在熱不可妄治痰病在驚不可妄治風病在痰不可便治驚病在風不可便治搐凡治小兒病在驚驚由痰熱得只可退熱化痰其驚自止病在風風由驚作只可利驚化痰其風自散病在痰涎急須退熱化痰若也有搐須用截風散驚此乃謂醫工至妙之道若以意急雖治驚痰不化熱亦不退驚如何自止化其痰熱若不退風亦不散痰如何去是知不治之治所以治之之謂歟學者深可留心操志於此一端究竟無至得失乃謂之醇全通道而已矣</p>

<h2>小兒（泄瀉）除疳瀉為虛熱瀉余皆臟腑虛寒弱得之</h2>
<p>議曰小兒臟寒腑冷大腸不禁總謂之瀉分別輕重究竟緩速有溏有泄有滑有利有洞五者不同豈可一概而理之溏者糟粕不聚由其尚濃似瀉非瀉泄者無時而作或出不知利者直射濺溜氣從中脫滑者穀食直過腸胃不化洞者頓然下之如桶散潰余更不留即知其兒臟寒腑冷瀉之作疾其來緩速輕重可知凡兒瀉糞出青色者蓋脾受肝經所制肝屬乙木能克己土所勝之功故現本質由其臟之虛寒非謂驚也又瀉初黃良久變青色乃臟寒之微又瀉藥物直過尤為寒滑凡虛滑三五次即困乏若不急與溫其臟調其胃平順三焦和正榮衛不爾即慢驚症候傳變如此之急欲以止瀉藥次第理之往往不及惟務溫其臟腑臟腑既溫寒何能留於腸胃之間或以熱藥頓止則熱反為它疾須先投殢腸藥然後生胃正氣與服切不可意急過劑投之熱藥稍或臟腑至虛寒孩童困之四肢厥冷者是謂逆症當用黑附子白朮乾薑即量輕重而用凡投熱藥瀉止即痢作無疑理瀉良方已著在後請意度之為得即妙矣</p>

<h2>小兒（痢疾）醫云五疳八痢</h2>
<p><u>究其理種數多端輕重不一豈可定言</u></p>
<p>議曰痢者利也痢之為疾無積不成及至積化成痢且脾胃亦虛即不可更下善痢者生其胃溫其脾厚其腸和其氣無不愈也若成痢疾故不可下下之反虛作渴浮腫痞滿脹急不食亦未可便補補則傷熱能令脫肚不收先與禁卻一切毒食之物頻與生胃調氣或赤或白即是冷熱不調或受暑致濕即與分陰陽氣利水穀道若裡急即與厚腸胃腹肚痛即與和順氣溫臟腑或純白者乃積冷毒加之即與挨去其毒卻與溫其脾胃其痢自止凡痢疾能飲食可以治之妙藥調理無不瘥愈稍夫胃氣不能飲食疾名禁口有不食至死又有毒氣侵胃口亦不飲食或患痢疾因食毒物不見腸頭鮮血頻滴肛門寬大深黑可畏腹肚㽲痛裡急後重名曰刮腸日夜頻並飲食直過者名曰滑腸此三種痢疾最為惡候乃是二十二種中皆能傳受而作此候凡言小兒美飲食者飲謂飲乳食謂食飯若病中能飲水漿喜食果子魚肉之類者亦助其虛不能令臟腑充實須是白棕子爛煮飯可矣若以糍粿𥬲黏膩不堪脾胃之物猶其增困幼者吻乳克化漸安五臟平和六腑調貼然後陰陽自均氣脈自壯丸散陽劑不必抑之或有餘毒宜以順調緩助不可攻擊又有時氣作痢熏習相染而成而由天氣睛雨不常陰濕之氣冷熱相干腸胃糟粕不聚遂成其疾腹肚㽲痛裡急後重他藥莫治者宜與服木香黃連地榆川當歸白芍藥治豆蔻為末蒸烏梅肉丸棗子湯下三五十丸如麻子大加減神</p>

<h2>小兒疳疾其症數端其候不同</h2>
<p><u>發作不常治療不一方論不等該載不盡輕重斟酌隨宜設方</u></p>
<p><u>加減審量從長調治必有可理者良工順症而已</u></p>
<p>議曰疳者甘也疳因脾家有積虛而所致其積不下後食黏膩甘甜生冷炙爆之物故得名曰疳初作為疾名曰疳氣皆由飲食不節生冷相投積傷久滯不化而得之久則疳氣傳於五臟傳是名疳極候又反傳名疳逆候雖食不生肌肉作渴煩躁名疳虛候時發潮熱盜汗常有名疳勞候腹大喉細手足無肉者名丁奚候自丁奚翻食吐蟲虛熱來去名曰哺露十歲以下名曰疳十歲以上名曰勞治勞之理悉不用疳藥蓋疾作傳足非常治疳之法理其氣虛其血弱調令脈壯消其蟲子散去疳熱和順三焦詳而後已無用急力攻治亦無勉強投柏只可循候而設不得過劑若冷藥易動臟腑燥藥易損三焦審察端的丸散隨其輕重故無得失之嘆矣</p>

<h2>小兒諸症悉皆著載方</h2>
<p><u>藥療理法度惟有咳嗽一症究莫能盡月內牙兒難醫百日嬰孩亦難</u></p>
<p><u>調理前人既有此言豈不盡心究竟若也輕易有乎得失學者當知之</u></p>
<p>議曰所言牙兒及嬰兒咳嗽難治之者蓋為初生血氣微弱五臟未充肌體未固應變蒸未周之兒所感寒邪攻及腠理表裡相干邪正相勝陰陽未和不可強生攻治妄吐妄下妄汗妄補皆令兒疾轉盛不惟無益甚有傷害幼幼咳嗽乳母之過丸散狼虎醫人之罪豈特牙兒及嬰兒難為調理隱小兒有患咳嗽未敢輕許一二服藥便見安樂雖傷寒傷風症候已歸平復且咳嗽尚作大抵究竟小兒咳嗽先有有無熱與痰有熱在表無熱傳過或是未傳（近則未傳遠則傳過）痰桐熱盛痰壅即吐宜服補肺散人參茯苓麻黃白朮杏仁甘草阿膠蚵子地骨皮桑白皮桔梗有痰加半夏風熱加防風天麻服之自然痰化熱散咳嗽漸愈未可直用粗澀藥白礬南星石膏雄朱砒粉之類宜先滋潤脾肺次用王氏（金華散）少少時時與服或以白丸子如雄朱腦子隨大小作丸凡兒患嗽須究表裡未可一向攻嗽若用金石藥直入胃脘乃成提脾風候手足勾曲又何所益巴豆輕粉砒霜藥下之腸胃不禁須更成風亦何所宜只用溫平與表順助其氣滋潤肺經和順三焦其痰漸化其熱自退不必攻擊所謂理嗽宜且補氣化痰益肺生胃胃開氣壯即嗽漸減胃正即痰不生肺滋即嗽不有在乳毋當忌食稍長父用安存避風回滋忌毒慎冷然小兒氣弱其嗽作熱與夫大人一同且用藥調理實不同耳又有時氣咳嗽謂其天時冷熱不調幼幼虛怯受患者眾其嗽日夜不輟或吐或喘痰熱壅盛至重者利之即愈謂用大黃朴硝枳實陳皮半夏人參厚朴柴胡心神煩悶胸膈不快方宜與服無熱與痰亦不可下伏請鑑辨毋致得失</p>

<h1>卷之十二</h1>

<h2>議急慢驚風等症候總序</h2>
<p>驚者總名也嬰孩小兒心氣不足智志率伏恍惚無定神不守舍怯人怕物漸作怖畏怖畏之盛已作恐懼之多乃抱怔忪怔忪之久則自惕愕惕愕既有瘛瘲已為斯乃心氣不足而生之慚但分輕重耳又有心氣虛弱暴觸作驚更不由漸即便面青唇白視之定晴目無所睹聽之哄𣓉耳無所聞精神頓七心智全失及至良久收斂且五臟六腑虛處所受驚風而作疾已述前議然幼幼多因吻母不意之乳耗其心氣作驚以漸凡小兒因水火所加者悸也自跌模所致者恐也人物之所觸者愕也惕惕不散鬱郁悶於胸堂者怔忪也是知積驚難散由其不能自化如恐恐悸悸者蓋自能知之矣不為積聚且怖畏之誠常在其中無以自遣偶因觸悶心神其肝主風其薋生痰其肺作熱其心發驚四症相臨重者先發假如雷聲霹靂至響不為咎者何蓋聲相應情無所加矣惟有小兒在僻靜處或神廟中心存怖畏之時忽被無知小人戲叫鬼來鬼來且兒奔走無門驚氣入心若不速利其驚氣少頃則指甲黑唇口青所受重害不可得療理自古及今調理嬰孩最為難事悉皆憑藥取愈且驚風至難也慢驚又難也慢脾候危難也今摘述調理小兒至難者症候前後有所不堪療理或古人未備其意或己著於集後人未明者今與詳悉本末開陳利害指於迷塗直徑可進庶有益於學者胸次務家治產之夫及仕宦子弟易曉其理幼幼陰陽稍有偏側遵而扶之不至夭橫暇日熟研可補緩急良士一觀足知野老肺腑意不藏機亦無緣飾巧偽更無妄諂隱情直欲普濟使嬰孩初生自幼至長有患無疏受疾不害懽價鼓腹歌笑嬉娛又母即無顰眉蹙頞憂苦之嘆怡然順事不勞再三快哉至誠咸獲體焉</p>

<h2>議急驚風症候</h2>
<p>議急驚風症候上竄反張搐搦口流痰涎壯熱並有之其或有視左視右者有僵有僕（僵仰也屬陽僕覆也屬陰）舉握指有里有外醫分男女定陰陽順逆之理有左右引搐連及腳手身體顫動初則搐搦俱作久而搐住只搦有急有緩但只肩動口瘛瘲瘛瘲者候之輕也搐則盛也搦又重也反張牙關緊急喉中有涎即是驚風候如牙關不緊口無痰涎只反張搐搦上竄者未可便作驚風候蓋夾驚夾食傷寒疹豆或三焦蘊熱五臟不宣流入經絡熱在筋脈亦作搐搦錢氏云搐有真假不言病也前有云急驚量其分數者是約熱之輕重而與利之</p>
<p>議急驚若是正候氣粗延潮其症候猛緊不只徐徐而來搐即急促唇口肩眼眨引連並俗諺云急驚驚爺孃慢驚驚樂王然雖是說治之有法輕重調理</p>
<p>議急驚先當定搐搐由風也風由熱也搐既已作方可下熱退驚熱若不退驚亦不散不移其時搐搦又作所謂過街候乃是醫家不明才見搐定便言安樂僕謂急驚風難治有三隻有初驚時其風癇發作斟酌輕重云風定搐隨而愈之斯恐庸醫或常人熱見妄便下之既下了諸症猶存者一難治也又其兒正搐親人一向執捉不令渠搐且風癇不得縱恣逆入經絡藥力不及雖病減瘧根在血脈或注經絡二難治也又兒患候有順有逆順即易理逆即難療惟恐病延既久不得良餌症候傳變越去元由而作它症者三難治也</p>
<p>議治急驚風候用藥非謂難也專至審察病候循其法度不荒不佞次第下藥無不愈之理多是病家倉皇不求善醫信乎山野庸鄙之言病候延久不無傳變傳即症重變即候惡凡經二三乎醫藥不效兒受困苦無能安樂士夫之家收方錄症一日兒病症候危惡緊急臨時以何方對治告急無門眾口嗸嗸皆言有藥不明端的一向攻擊信乎見識淺陋擔負不起有乎得失用藥不及則無妨事可以療理若也大過即時害生</p>
<p>議療嬰孩豈可以藥有懼技之大過或不及由尚不可況越症候乃為枉冤兒童雖分長幼有患臟腑昏令怯弱易冷易熱易虛易實若攻之相重其不任彼藥孰言疾不瘳反為它害曷不謹歟今者議急慢驚風及慢脾風方藥即是老漢指准應備緩急至要克效之者待更軼可否之理</p>
<p>議患驚風痰熱癇痙痓癲此八種候惟痓與痓少有識者類同驚風發作之狀痓腳手冰冷痙舉身僵仆癇癲不殊目瞪流涎手足搐搦十歲以下常作驚風即謂之癇至十歲以上所發則曰癲</p>
<p>議驚風痰熱已論在前且驚與風其痰與熱各自有本症候受病急風為疾四者並聚有驚有風有痰有熱或因驚而有風生痰作熱或有熱而作驚成風生痰或積痰而發熱熱盛生驚變風或久有風候痰涎常有因驚而發熱調理嬰孩童稚四者形症一不可有善明脈醫上於暴作者亦當知之理驚截風退熱化痰久盛二者醫風散熱療痰鎮驚四症相須藥宜並理古人處方亦合此意然學醫者不可不究其源遠若見候將作尋常用方輕忽病無少安症傳它候不逆且惡禍不旋踵</p>
<p>議嬰孩急驚風候便須先審察四症四症之中而作八候八候者一搐二搦三掣四顫五反六引七竄八視一搐者臂肘搐縮二搦者十指開合搦之不已即成握拳男子看大拇指其指握在外為順在裡為逆女子反看之三掣者有膊搐掣或連身跳起四顫者或手或腳或頭或身四體顫動五反者身首反張六引者以手有如挽弓狀男左手直有曲為順右直左曲為逆女子反看之七竄者眼上竄覷高男子上竄為順下竄為逆女子反看之八視者男子斜目視左為順視右為逆女子反看之既有四症八候次第隨生若只去得驚風且痰熱不散未可言安痰與熱聚將來必致癇疾所治之治其痰與熱須察之可下即下痰熱既下驚風未盡消去則病依前又有發作所言四症相須不可留一若理得驚風已定隨便下了痰熱且驚風不復有作此理至為妙也</p>
<p>議嬰孩有患在痰熱未有驚風者只可退熱化痰不宜妄投驚風藥何也驚風之藥其味多寒涼經絡本自無事稍有攻擊透其痰熱入於經絡卻成風痰之疾搐搦致之</p>
<p>議嬰孩五臟經絡虛即生風既虛所受且驚自然而有作驚風有作八候次第而生所謂兒童無病不可與服攻擊所治之藥</p>
<p>議嬰孩有小大有壯弱驚風發作有淺深但輕重大者加分劑重者多與服數乃合其理</p>
<p>議嬰孩聞響即掣跳者乃肝肺不足魂魄不穩故神有不安即聞響掣跳者非謂驚也犀角地黃丸主之又兒心氣虛怯神不安定連並掣跳者宜與四君子湯加辰砂脾胃氣壯神魂俱清自然不恐</p>
<p>議嬰孩欲發驚風候先神不定顧左復右覷上及下或已定其晴凝其神恍恍惚惚怕物懼人不若常日嬉戲者急當療之如有熱先退熱有驚散驚熱退不生痰驚散不作風良久自然安定神情和悅氣脈舒暢若待風變而理驚痰盛而退熱事由至緩不若四症俱全由可治療</p>
<p>議嬰孩急驚風發搐手足不可熱捉及以手用力灸之即傷經絡經絡既傷亦無所益則廢肢害體</p>
<p>議醫急驚風候有大有小有輕有重有順有逆有偏有正詳審久暴只第進藥且病家無不倉皇驚恐醫家須是正定無自昏惑</p>
<p>議急驚即曰用醫其驚氣和平方可調理若以急驚之謂調理事致緩也慢醫准此消息</p>
<p>議醫急驚初用藥在我則我醫症候遵法度參傳變審緩緊治之切不可信病家及左右人說其所欲稍順人情有乎得失主治在我豈可妄信致之荒繆罪累誰耶</p>
<p>議急驚初無痰而復痰盛初有搐而復不搐者此症所傳候之至盛人少知之蓋由初醫縱恣病家不謹經三五家用藥或庸士所見不同有太過不及之害如此曷不謹歟</p>
<p>議醫急驚須量輕重下之得其中為良且驚風頓去痰熱已化不作復患所下之藥稍多巴霜膩粉為重即傳慢候無疑</p>
<p>議嬰孩有患風痓風痓風中等症候皆上竄拳搐號曰天吊言載甚多初無痰復有痰初作搐復不搐不拳身直皆風之惡候已是傳過若作驚風更與下之為害必也</p>
<p>議急驚欲下之理須在急驚上竄斜視反張所作之時可下若傳過或已搐定少緩之間未可直便緊下有乎得失</p>
<p>議急驚用藥先與服截風定搐次與下熱熱去則無風風散敗不搐是知以藥之功在我意設不至恣妄為咎到此顯功方知難易</p>
<p>議急驚有上竄者有搐有搦有引有反有區有僕有叫者有淚者有痰涎潮盛有溫壯發作各隨四症輕重而受之急驚截風定搐為要風搐既定諸症漸息定搐須用通關（非搐鼻之謂通）截風乃用調絡</p>
<p>議凡定上竄左視乃於男女之順候忽反是則逆也人抵逆則難治順則易理不以逆症候為不可治古人言難治謂陰陽相反症候乖生須用審究其症詳察其候以意盡力致之取效而弗瘳者為之奈何議世方有云治急慢驚風候者言之失意急驚乃陽癇慢驚乃陰癇正恐治陽作陰治陰反陽豈一藥以全兩症又有云治陰陽二症傷寒之說能曉此理可謂通變</p>
<p>議急驚候至為要急在於片時之間若或羌殊直有得失一時所見見其端的用藥無疑尚在疑情未須投藥藥發無疑其意靜善疑在未發藥之前良具妙矣</p>
<p>議急驚頭額心背元被灸了者決定發癇不可常藥僕嘗謂風癇可灸驚熱不可灸蓋風與癇痰涎壅盛胃觸胸膛昏亂迷悶不能省知心如所失既灸著穴痰化心開即漸安愈驚之與熱心神常存聞知被灸忍痛不能驚悸轉盛其疾澀重所以用艾在先藥必未有益</p>
<p>議驚風疾愈未嘗見因發而活每見老嫗鄙婦無術只投艾炷兒生三五日之間便以艾燒之不惟失穴因痛增悸經絡未全如何愈病智者消詳不可枉冤</p>
<p>議初生尚為腐血三五七日有患吊腸鎖肚世言八帶鎖匙相沖愚曰非也容忤所致初生氣弱不任其邪肚緊青筋脅肋脹滿氣促禁口不乳斯症但用真珠天風丸下之才通即愈屢救初生無不獲安若經患服藥得痊長大皆肥壯重實未詳其意請較之答曰初生之兒方離淤結分降之後偶被邪氣干亂臟腑微怯不受其觸故作痰曰吊腸撮口鎖壯乃以天麻丸推下惡毒虛邪之氣悉去血脈順得流行臟腑和調充實自然朋長氣壯形神俱備體質醇厚誠為可愛</p>
<p>議嬰孩又有臍風因斷臍不如法有傷臍帶受濕秉風由此成患皆能撮口乳食不下膨脹青筋腳直無力只依臍風治法</p>
<p>議發急驚風吼叫兩三聲者難治心受驚觸痛絕於內乃傷其根本之謂</p>
<p>議發急驚風未投藥四症俱全已服藥四肢腦嚲者難治</p>
<p>議急驚噴藥者難治又藥不下者難治</p>
<p>議急驚搐搦之後四體俱軟者難治</p>
<p>議急驚發作之後腳作擺跳者難治</p>
<p>議急驚搐後目睛翻轉者不可治</p>
<p>議驚風搐搦已住神情緩慢手尋娘衣或尋自身體者亦不可治</p>
<p>議驚風諸症候盡皆已住但神情昏慢氣促者未可保治</p>
<p>議驚風症俟已住其兒拈物不捨情性緩緩於中非謂十全必有再發之理如或再發不可調治矣</p>
<p>議急驚風鼻中出血者易治口中出血者難治鼻中出血者其熱已散故易治口中出血者心血妄行故難治</p>
<p>議驚風尿尿已遺者難治大小便閉者易治</p>

<h1>卷之十三</h1>

<h2>真珠天麻丸</h2>
<p>治急驚風請量用之以通為度此方仍治吊腸鎖肚撮口至為妙絕功效無比丸如麻子大初生患者三日三丸五日五丸七日七丸加青黛名青黛丸</p>
<p>天南星（炮）　天麻　白附子（炮各一分）　膩粉（半分重）　巴霜（一字）　蕪荑（炒）　全蠍（麵炒）　滑石（各一分半）</p>
<p>上事治為末水煮細麵糊丸如大每服一歲五丸二歲十丸大小加減薄荷湯點茶清送下</p>
<p>議曰此方乃下驚風又去痰熱須先服截風定搐次與下之切不可以多利之但通為度宜其詢問前人已未曾下惟恐病家不曉此理遂致疏失若初醫在我則當循症截風定搐或朱蠍散尚有痰熱宜與下之免作風候且小兒被驚發風胡不知先有熱在臟若知有熱在臟甚勿驚著蓋熱盛即心氣虛一驚觸心心氣迸散所以面青唇白良久驚氣卻收其或肝虛入肝肺虛入肺五臟六腑皆由虛處其驚氣自然投入因而作疾前歌亦載然急驚之急痰熱相觸觸亂神情氣脈互馳經絡乘熱熱即生風風熱不散筋吊脈縮或搐或搦或掣或引各於輕重所適而然善醫者截風定搐有熱與痰隨而下之其搐搦自定拳攣自舒吊縮自寬風熱自散何患氣不蘇省神不和暢直言至簡良士當和之矣</p>

<h2>卻風散</h2>
<p>治嬰孩小兒急驚風候方作搐搦熱盛涎潮宜下之</p>
<p>天南星（四枚炮去皮為末）　巴豆四枚（出油如霜）　大半夏拾枚（用甘草水蒸熱切焙為細末）　白殭蠶（去絲炒一分）　金蠍（炒二分去尾）</p>
<p>上件和勻每服一字許煎金銀薄荷湯調下</p>

<h2>揭風湯（所治在前）</h2>
<p>全蠍（去毒麵炒一分）　天南星（一兩為末水調作劑包裹蠍煨令赤色蠍不用炒亦得）　天麻（一分）　硃砂（一分令研）　輕粉（半分重）　腦子（一字）　麝（一字）</p>
<p>上件為末和勻每服半分煎金銀薄荷湯調以通為度</p>

<h2>青金丸</h2>
<p>治嬰孩小兒急驚風痰涎壅盛欲下去痰退熱</p>
<p>巴霜（半兩已）　青黛（一分）　天南星（半兩炮）　輕粉（一兩重）　滑石（二兩重）　全蠍（或外去毒炒）</p>
<p>上為末水煮麵糊為丸麻子大每一歲五丸二歲七丸三歲十丸大小加減用薄荷茶清送下以通為度</p>
<p>議曰凡看小兒症候不問長幼目視指切心究意到醫權藥衡准鑑疾之輕重所謂斟酌對治已遵其法藥入腸胃猶合符節者上也按睹之後忖度方法思惟料理良久始達其源用醫投藥者次也不體全功何謂艱療非四病之異端乃謂究竟不若是今議驚風之疾有急有慢鄙夫以搐急謂急搐慢謂慢斯說未當古人言論陰陽癇者是也陽癇曰急驚陰癇曰慢驚陽癇頰赤體熱唇紅脈數牙關緊口流涎陰癇者吐利作熱生風不有陽症惟有搐搦畢竟脈來散緩乃是陰候無可疑惟是陽症傳陰陰盛陽虧陰症作疾速用扶里如急驚風候陽盛陰虧陰氣剛壯當用下之使陰陽二氣均平調榮衛二脈和順方乃可宜前件方藥輕則揭風盛則劫風重則青金或以真珠丸請詳而復已其切察之輕重審以湯劑得中勝妙莫令違也若或怠緩害加禍生醫者主察勿今致咎</p>

<h2>截風丹</h2>
<p>治嬰孩小兒四症已作八候未具者速宜與脈</p>
<p>金蠍（去毒炒）　白殭蠶（去絲炒）　天麻　白附子（炮）　天南星（炮各一分）　硃砂（一兩）赤腳蜈蚣（一條酒炙酥）　麝（一字）</p>
<p>上為末煉蜜為丸雞頭實大每服一二粒煎金銀薄荷湯化下</p>

<h2>定搐散</h2>
<p>治嬰孩小兒急驚四症八候俱並作者宜服</p>
<p>天麻　白附子（炮）　天南星（炮各半兩）　蠍稍（炒一分）　硃砂（一兩）　代赭石（一兩煆米醋浸七次）　雄黃（一兩）　乳香（一兩）　白花蛇頭（一分酒炙）　腦（一字）　麝（一字）　赤腳蜈蚣（一條酒炙）</p>
<p>上為細末每服半錢煎金銀薄荷湯調下煉蜜如雞頭大亦佳</p>
<p>議曰搐症未作痰熱壅盛故生其風風不自散流入筋脈又入經絡遂發搐搦定其搐搦先用截風風若不加則搐搦自息矣且搐搦已作痰熱有盛疾候傳極其風不可得而截搐不可得而定由如遺漏炎熾猛烈難以摸減如此患者理宜下之大抵陽癇用下乃良陰癇何以加之兒分長幼用藥惟有發風作搐大小皆然風之為疾猖獗衝突乃五臟虛處受之察之在證療之未前由驚而作或痰與熱而為察其源而定其疾者要也有其風即發搐有其搐即因風風定搐其議相續今述截風散不待搐搦才覺風痰驚熱有作便與服之令不搐搦故曰截風既已搐搦並作宜與定搐散御之御之不散與服暖金丹其勢加重即與下之且下之法醫家出不得已而為劫風揭風青金三方量其輕重今人直便擬下更不截風定搐之藥得失之議皆由忽遽昏惑智者良工幸宜考較</p>

<h2>暖金丹</h2>
<p>治嬰孩小兒急驚八候四症未全脫去尚存風熱痰涎其驚風症候欲再發作宜服暖金丹</p>
<p>天麻（一分）　白花蛇（炙取肉二兩如無烏梢蛇代用）　全蠍（二十一個麵炒）　蜈蚣（赤腳者二條炙去了毒）　白附子（炮一分）　白殭蠶（二兩重去絲炒）　黑附子夾（三枚）　牛黃（一分如無以黃牛膽者代之加用）　天南星（炮半兩）　辰砂（令研半兩）　麝（一兩）</p>
<p>上為末煉蜜為丸如皂子大煎金銀薄荷湯磨化下</p>
<p>議曰所患驚風痰熱四症皆能搐竄斜視反張惟是驚風作搐名曰真搐為其病受不傳即作痰熱所發或因傷寒等疾發作總名假搐為其更有傳變其時親人倉皇那堪醫者昏感投藥不當發作致久</p>

<h1>卷之十四</h1>

<h2>慢驚風傳變（治法截要）</h2>
<p>凡慢驚風候若是急驚傳來而尚陽症其陽即虧不必回陽又不特治陽只可截風調胃均平陰陽可冷可熱可緩可急是也若直便與服附子硫黃之屬使陽歸陽又是急驚學者理宜知之既知陽症傳作陰症即與服保命丹三二服兼前牛黃清心丸子其有四症且八候稍緩疾成陰癇者即與服之若已傳過八候不作四症尚在只冥冥者與服定命飲子若腳手冰冷者乃四逆候方可回陽次第眼合者即傳作慢脾風候其兒驚風痰涎壅盛搐搦不止不可下者宜與靈脂丸其痰壅熱盛口角自壅者白羌丸功效驚風搐搦身體雖暖風痰不化宜服天南星丸</p>
<p>議嬰孩所受此等症候別無化疑者只依下項用藥無不蘇省切不可延久其陽易化陰氣漸盈藥力不及使人難治又不可一向連並服藥每次一二服了須審察症候緩緊有無傳變稍覺寬定其藥放慢或勢漸緊宜以次第緊急藥與服不可執殢一藥又不可便換湯餌連並與之所謂察其輕重審其進止而後已今著妙方不勞檢閱修合如法對症投治克效萬一</p>
<p>議慢驚若是急驚傳來是知前人不曾截風定搐陽脫而傳陰陰重陽虧其風與熱隨流縱入經絡又有曾服大寒涼之藥過多又有下積取瀉致作又有臟腑虛寒洞泄而為其所受多端已載前篇</p>
<p>議理慢驚當知陰癇之說其症屬陰臟寒氣虛或尚泄瀉不止且驚正作多因無識之人一向治驚更不理瀉藥用寒涼投之令氣愈虛泄瀉不止陰症愈重驚搐愈增若用止瀉藥稍熱八候復加四症不退慢驚雖曰難活蓋醫亦不曾究竟病作加進深為重害</p>
<p>議慢驚當察之所視為要眼睛昏定為重竄視為重四肢厥冷為重晴定不眨為重雖眨不左右顧亦重汗出如流亦重口面忽作黯黯色至重感風搐搦慢驚眼在半開半合之間乃知陰氣所盛傳入臟間陽氣已虧脾經屬陰次第入脾故言慢脾風候</p>
<p>議醫慢驚與急驚風候自是不同未可一向下定搐藥急驚謂關竅不通故以腦子麝香等藥通利定其搐搦慢風陰重陽虧諸經已虛不宜通關又涼其臟易作慢脾風</p>
<p>議醫慢驚不可爭攻急驚陽癇稍易理慢驚陰症最難治服藥已愈而尚虛之未省三五日之間者有之俗謂過街候發無定論不可輕易妄劑投之攻擊則前功俱喪</p>
<p>議慢驚所治之理須究問原因所發若是急驚傳陰為慢驚者乃陽癇所作陰癇也當察陽症未純其陰症用藥斟酌如因泄瀉而作慢驚者男兒為重如因吐逆而作慢驚者女子為重即陽脫而陰盛小兒有長幼之別臟腑有虛實之分有瀉三五次便成風候乃由虛之盛也或有二三日泄方成風候或有五七日瀉不止而成候暴瀉成風由可速治蓋回陽調中補氣之為易若久瀉漸傳成風者為虛為之故難療理</p>
<p>議嬰孩小兒洞泄成風以補藥治之（宜用附子藥臟寒洞泄當脈）取瀉成風（因藥下積）宜以溫脾壯氣藥調之（宜服觀音全蠍散愈之）有服寒涼藥成風（下藥太涼致冷臟腑先寒過涼藥吐瀉即傳成風候）以助氣醒脾藥溫之（王氏大惺惺大喝起散與服之即效若手足冷回陽宜朮附湯效）陽癇傳作陰癇者（急驚傳作慢驚風候）以截風藥治之（眼前方截風定搐親若在前三者慢驚候便以截風性性末為當蓋由病自虛乏得之所以云調補之理）</p>
<p>議驚風症候所以用藥不一治療不等由發作不同故述在前雖則四者之議猶為大概智者得之開發詳其輕重可否之意而施設之</p>
<p>議醫理慢驚之候其意在慢治急驚之候其意在急何也且急無過因熱生風作驚跌撲作驚他物觸之作驚驚熱傳極即變生風搐搦等候皆熱作來若也順症依法下之諸候自息然慢驚所作不常當宜省察用意子細所以故宜消息為之慢也不可倉皇恐懼有乎得失非失治躊躇疑二之為慢也又曰慢驚無爭攻蓋所療至為難事無妄當何</p>
<p>議醫慢驚不可與語無妨疏脫有之無誠不謹亦有之無見不明亦有之又不可言難恐於人事但存妙理究竟深得法度者投藥必愈不曉於理截度未良者千萬無順人情投餌既無可否之說若或所見不到即與善術者調治庶不杜究若也壞症傷候必敗其德實有勉強倉皇者耶</p>

<h2>保命丹</h2>
<p>治嬰孩小兒急驚風候傳慢驚宜服保命丹良方</p>
<p>白茯苓　硃砂（令研）　白附子（炮）　牛黃（如無以制者加用之）　天南星（炮各一兩）　全蠍（炒半兩）　天麻（炒一兩半）　甘草（炙一兩）　硼砂（一兩）　腦　麝（各半字）</p>
<p>上為末和勻薄糊為丸雞頭大每服一丸金銀薄荷湯化下</p>
<p>議曰此一方已述靈秘所治急傳慢候用之極良其藥純和卻驚安神化痰定搐功效非常然急驚傳來初入慢候須較陰陽虧盈乃為法則陰盛陽虧方謂陰癇榮虛衛弱方傳陰癇心驚神散方傳熱熱經桑絡弱方傳熱熱癇之為病四體不收精神失守百病於邪五臟受虛但隨四症而作八候醫工當察標本理之若也症傳候變即入慢脾十死一生至為難事請究所受療理越於古意或太過不及總為虛哉</p>

<h2>觀音全蠍散</h2>
<p>治嬰孩小兒因吐而傳慢驚風候宜服觀音全蠍散</p>
<p>黃耆（一兩）　人參（一分）　木香（一兩）　炙草　石蓮肉（炒）　扁豆（炒）　白茯苓（各一兩）　白芷　全蠍　防風　羌活（各一兩）　天麻（二兩）</p>
<p>上為末每服半錢一錢棗子半個水一小盞煎至半與服不拘時候慢脾尤宜服之</p>
<p>議曰觀音散東漢王氏所著調理嬰孩清神固氣補虛益脈開胃止吐醇乎醇善之善者耶所緣用藥截風者何正於危急之際卻作兩餌役之先與生其胃氣次服截風定癇如此療理不惟迃曲致緩又旦未能藥入脾胃之間悟其至理兩劑一行或加白丸子末以半和之乃盡其妙</p>

<h2>犀角散</h2>
<p>治嬰孩小兒因吐瀉神困力乏欲傳作慢驚風候</p>
<p>犀角（鎊二兩）　白朮（二兩水煮過）　甘草（半兩炙）　陳皮（舊者良去白一分）</p>
<p>上為末每服一錢水小中盞金銀薄荷同煎三五沸通口無時</p>
<p>議曰此方治小兒因吐瀉神困力乏欲發慢脾風候正謂救急不可令緩若已傳受即風即熱即痰即驚交相致作神散不定上竄搐搦悉由脾虛之所致也脾經既虛次第胃虛其藥白朮陳皮預理脾胃犀角退熱去風熱既不作痰無發生醒脾壯胃風何得有漸見蘇省兼與醒脾散及既濟丹相間服一向取愈為良其方全不用逐風化痰之藥者蓋是症候欲作慢驚所以未宜先投緊藥故用此方謂之和劑一正其脾氣得無傳變不勞療理簡徑微妙稽首智者作之施功利益而已</p>

<h2>醒脾散</h2>
<p>治嬰孩小兒吐瀉不止痰作驚風脾困昏沉默不食醒脾散方</p>
<p>木香（炮一兩）　全蠍（炒半兩）　天麻（炒一兩）　人參（一分）　白茯苓（一兩）　白朮（炒一兩）　甘草（炙一兩）　白殭蠶（炒一兩）　白附子（炮一兩）</p>
<p>上為末每服半錢大者加服水少許棗子同煎至五七沸通口無時服</p>
<p>議曰此良方最為勝善小兒吐瀉脾虛作疾驚風神困氣弱沉沉默默皆脾經虛乏已成風痰並聚故爾不醒宜多與服仍加既濟丹及觀音全蠍散俱良其疾復有引掣搐搦無與驚風丸散及腦麝寒涼等藥其症愈惡其候愈盛不惟驚風未退且痰熱助之令兒疾作傳變傳即慢脾變即陰逆慢脾猶載方藥尚可理之陰逆之候何可醫治陰逆者陰謂陽氣欲絕逆謂受症不順不順欲絕但增吁嗟使人無所措手醒脾良方豈可隱匿（真所謂活人飲子）</p>

<h2>神保既濟丹</h2>
<p>治嬰孩小兒肚瀉或已作風候服之功效</p>
<p>硫黃　焰硝　陳橘皮　青橘皮（並去白）　五靈脂（川者良）　半夏曲（炙炒皆可）</p>
<p>上以等分硫硝二味和研令勻一處用瓷器熔汁傾出候冷細研旋入諸藥和勻</p>
<p>上為末秫米粉水煮糊為丸如　大每二歲兒服二十丸大者加之並溫飯飲下空心食前此方均分陰陽二氣多脈有益</p>
<p>議曰陰陽二氣不均冷熱相制驚風已作搐搦已定或陽虧陰盛或陰虧陽盛或驚風未散吐瀉不止或嘔逆或發喘或腳手漸冷或眼目欲合或服涼藥太多或虛煩不定或沉沉默默不省或恍恍惚惚生驚但胃氣未脫速與服之若是危急不待作丸子只以末溫飯飲調與服以愈為度若腳手冰冷者服之立溫未止者服之立止雖慢驚慢脾風候並宜與服仍加薄荷湯便尤良智者明理必加欽重愚者矇昧必懷猶預此方至良少有知用請敬而行之</p>
<p>治嬰孩小兒吐瀉脾胃虛弱發作慢驚風候搐搦不已醫工截風不止取痰不下散熱不退即驚不去其症欲傳慢脾風候宜服定命飲子</p>
<p>半夏（口羊口者半分）　天麻（一分）　甘草（炙）　白茯苓　白朮　老生薑（各二兩）</p>
<p>上件一處用水一盞於瓷器內煮令水乾將半復天麻白朮茯苓切焙為細末每服半錢或一盞生薑棗子湯調與服無時</p>
<p>議曰此方建脾化痰去風散熱功效如神醫工少有知用初學之士只知有腦麝香爽者方用之俗夫便言好藥殊不知腦麝乃醫家出不得已用之其物通利關竅關閉塞疏湊理利骨節其藥屬陰能化於陽只有急驚宜用慢驚慢脾傷寒等患悉宜禁止其或疳痢藥用之虛者亦禁惟有痙痓癩癇宜用定命飲子屢經效驗野老處定此方其功造化深智高明往往欽誚痰搦連並脈息虛怯不敢頓下者宜與靈芝丸若手足差冷兼進回陽行醫用藥至於此等症候乃主治活傷之權也</p>

<h1>卷之十五</h1>

<h2>慢脾風候（治法截要）</h2>
<p>議曰慢脾風候即是慢驚風所傳元由吐瀉脾虛驚與風傳入故曰脾風謂其脾家受風者更逐風無風可逐若也逐驚無驚可療但有療涎虛熱來去兒病至此所以難醫蓋由症與候驚與風傳經已極總歸虛處惟脾所受何故不曰胃風胃屬陽其病即傳陰臟故無胃候兒既尚有胃氣可以一向生胃兼與回陽即漸蘇省若更一向攻擊驚風脾亦不受而又傳散諸經不可得而加藥若見眼合即是脾風宜服下項藥</p>
<p>議治慢脾風乃是不得已而設其疾危如燈無油漸見昏滅錢氏所用全液丹又青州白丸子各半細研和勻飯飲薄荷湯下一兩半兩許此乃截風回陽又一方以四君子湯加黑附子末四分之二腳手冰冷者用和對半生薑棗子煎與服此萬古人用之豈不同常所較下項良方亦盡世之善也</p>
<p>議治慢驚慢脾須禁腦麝膩粉水銀粉霜之項及寒涼動臟脂等或以燥熱俱不可用只宜回陽醒脾湯使與服</p>
<p>議慢脾風候十個孩兒有個以艾灸之須當斟酌病候有已來脈絕之理若也一臟絕即不可用藥謂如眼無光指甲黑四肢垂嚲五體俱冷並不可勉強下藥</p>
<p>議慢驚風候至於痰涎在膈之時諸臟皆虛喉中聲如拽鋸一二日之間不散但只閉目此乃虛之盛也只是虛痰飽養其氣未有所知之者直便下去痰涎其兒隨時化去宜用下項妙沙丹服之乃良</p>
<p>議嬰孩所患急驚慢驚脾三者皆由風痰所作以漸傳及未有初得病而便慢脾或急驚傳來或即吐瀉而得久痢其氣虛脫而得傷寒表裡俱虛傳入陰症亦成慢候久嗽成癇亦傳慢候霍亂吐利亦傳慢候脾困久睡亦作慢候吐血亦傳慢候蟲積衝心亦傳慢候肝風筋憊亦傳慢候大小便閉亦作慢候心虛煩躁亦作慢候煩渴引飲亦傳慢候腹肚㽲痛亦傳慢候睡里咬牙亦傳慢候般日夜汗出亦傳慢候走馬疳急亦傳慢候諸丹毒亦傳慢候龍帶纏腰亦傳慢候膀胱吊疝卵腫莖曲亦傳慢候（莖曲陰莖勾曲）四體浮腫亦傳慢候以上小兒所患諸疾皆能傳作慢驚風候由慢驚乃傳作慢脾脾氣既絕胃氣已盡無可得而治療故也</p>
<p>議嬰孩五臟易冷易熱易虛易實醫方並不治臍受病曰脾不病耳曰非也小兒在腑有疾自愈者有之在臟不可不治臟者陰屬腑者陽屬謂小兒先陰而後陽又曰小兒乃純陽之氣在腑則順在臟則逆故前賢皆理其臟未言治腑也又腎一臟常主虛不可攻療若有腎臟患但清心肺綠心與腎即既濟也肺與腎乃子母也無與腎藥及諸補藥若治腎臟即他病發生故戒上不可療</p>
<p>議嬰孩慢候皆由臟虛陽虧陰盛應小兒所患臟病陽虛陰盛者無不入慢候而斃惟吐與瀉痢與積致入慢候其症速也虛又速也宜用良方治法循其次第無不獲安然其慢驚脾無令速愈頓瘳之理既和且平更用調脾養胃萬萬不可過劑用冷熱湯藥若失之即籲哉</p>

<h3>白殭蠶丸</h3>
<p>治嬰孩小兒慢脾風候痰涎潮盛不化宜用白殭蠶丸良方</p>
<p>制牛膽五味者（分）　白殭蠶（去絲炒）錢子地鱉　五靈脂（川者）　全蠍（炒）　半夏末（各一分用生薑汁浸）</p>
<p>上件為末水煮半夏末糊丸如麻子大每服三十丸煎金銀薄荷湯下</p>
<p>議曰脾家有風乃虛所致驚搐所由生也疾涎是故作也陰癇不暴其實驗醫若也意急役之沖烈愈見害重誠為不可所以禁卻腦廣通利關竅之藥悉無利益治法所宜者今選用妙方頓以活人白殭蠶丸一味去痰丸能哉風既已傳八慢脾則風痰混致驚熱交臨醫工看候藥用當權未敢決之可否候未脫去陽者直宜與服之若陽虧陰盛至危至急候變非常精神色脈駭於人情者當服下項良方</p>

<h3>附硫丸</h3>
<p>治嬰孩小兒慢脾風候附硫丸散方四肢冷厥服之尤佳</p>
<p>黑附子尖（二個去皮生用）　蠍梢（七個）　熟硫黃末（一兩）</p>
<p>上件為細末生薑自然汁和丸如綠豆大每一歲二十丸米飲下</p>

<h3>黑附湯</h3>
<p>治慢脾痰盛四肢逆冷黑附湯方</p>
<p>黑附子（炮取末二兩重）　白朮（一兩）　南星（炮一兩）　甘草（炙一兩）　半夏（一兩湯洗七次）</p>
<p>上㕮咀每服二兩水小小盞生薑三小片棗一個煎至半去滓通口以匙挑與服所覺手足暖其候漸省藥即止之</p>

<h3>辰砂膏</h3>
<p>治嬰孩小兒慢驚風傳慢脾風候有冷痰在鬲潮作不散此疾虛久不可頓下其兒搐緩昏困至重者宜服此方</p>
<p>大黑附子（一個八九兩重者去皮臍項上刻一孔入給霜硼砂各半兩內在孔中用附術塞燒灰存性）　天南星（炮半兩）　蠍稍　羌活（各一兩）　硃砂</p>
<p>上為末以硃砂和勻煉蜜為丸雞頭子大每服一丸至兩丸煎金銀薄荷湯入酒三五滴點化與服</p>
<p>議曰此三方皆用黑附子直不可執謂性熱兒在幼小礙與服之其兒患脾風腳手冷者有微有暴審其輕重輕即用湯盛即以丸重即以膏服之皆效須候手足暖陽氣四即為之快矣既已溫暖更以醒脾正胃藥兼服除是慢驚傳入慢脾候方可與服之硫黃其功甚速又且逐風化痰醒脾正胃溫暖臟腑補益腸胃奪命回陽省活危困至良至驗切不可倉皇妄投丸散或爾大過不及之特則致咎於後方宜學受不至誣誕故也</p>

<h3>七寶妙砂丹</h3>
<p>治嬰孩小兒慢驚風及慢脾候神情昏困鬲上有虛痰不能得化不可服巴豆輕粉恐動臟腑只將神仙所留妙方與服其痰須臾自下良久神情已定眼目微開漸與溫平藥調理胃氣兼順理驚風藥與服勿更攻擊其方乃一文開元通寶銅錢名七寶妙砂丹錢樣見後其錢背上下有兩月子只有一個月子者不用錢色淡黑頗小諸錢將錢頓𪋝匙頭於炭火內燒霎時四維上下各出黃白珠子遍舷都是捋出候冷傾放茶盞中入硃砂末少許只作一服煎金銀薄荷湯送下多枚此錢準備緩急或先燒成珠子收拾亦得此方墜下小兒虛痰別無它作症候者用之乃保十全功效無可疑訝</p>
<figure>
<img alt="錢樣圖">
</figure>
<p>議曰調治嬰孩小兒慢脾風候無過前件藥對症克效須審慢脾已傳未傳之理其兒眼開未合尚在慢驚腳手不冷之時未可便與回陽且與七寶妙砂丹一二服眼合沉困陰症極盛者方可與服回陽凡服回陽醒脾湯劑手足漸暖仍與觀音全蠍散及醒脾</p>
<p>散兼服九慢脾風候最為惡證只可前方調治雖曰</p>
<p>緊急不得並雜用之泛泛不惟無益任勞其功虛延</p>
<p>其候閒養其疾此疾傳陰陽重病盛如燈光油只見次第蛻去若不助陽生胃只知截風去驚兒痰轉見增長且兒陰症未至十分與藥加其寒涼攻得陰重陽虧難以救療若此共其陽氣隨陰而化所謂制之在始元在前藥醫慢脾風症候如其所述用藥由可救活若鄙夫意見不同難以省活噓哉</p>

<h2>癇疾症候</h2>
<p>上方具述多端王氏著載有三驚癇風癇食癇風癇之疾由於風熱而作驚癇之疾由於驚積而得食癇由於食時而得其驚三者發作大抵相類風癇有熱生痰驚癇神魄散亂恍惚無定食癇因食而致驚食未克化氣停關鬲之間生痰致風由風成癇</p>
<p>議治風癇先用化痰寬利胸膈開通關竅安鎮心神定其搐掣然後與治風癇藥服之</p>
<p>議治驚癇先涼三焦利驚去熱安神定志平調臟腑濕化痰涎然後與治驚癇服之</p>
<p>議治食癇先用推下關鬲停積驚氣次和順中脘次安臟腑然後與治癇藥服之</p>
<p>議曰驚之與癇風之與熱皆遍相襲有熱必恐有風有驚必懼成癇治風先退其熱治癇先用散驚此乃至要之識學者當明其理所言癇之為疾古述繁多或云六畜牛馬雞羊豬犬其聲音相類形體相尚有若六畜之狀故得其名寶鑑載云一百二十種其說大繁其傳乃執但是癇藥無越三症皆由所生總而言之不必煩求有誤初機枉究遂成艱學如此一病尚陳羅縷向其驚風者乎王氏蠲之得其詳要以合禮法今則著書特示良妙截治至簡庶幾所受頓漸瘳愈靡不快歟學者深詳必無枉冤</p>
<p>治小兒食癇先用真珠天麻丸推下次服定癇妙藥</p>
<p>治小兒風癇先用化風丹去其風熱次服定癇妙藥</p>

<h3>化風丹</h3>
<p>法制黃牛膽（二兩）　羌活　獨活（各一兩）　天麻　防風　甘草　荊芥穗　人參　川芎</p>
<p>上為末煉蜜為丸如皂子大每服一丸薄荷湯化下服</p>
<p>議曰風之為病其狀多端皆由腠理疏弱榮衛虛怯經絡不順關竅閉塞其氣霾痊爵勃（音弗）其脈凝注、</p>
<p>有同天地晦冥日月暈蝕颷暴發與精神俱漬者一身四體皆不我有是謂風癇之至也所謂化風化其所受之風不待久傳迅變凡該五臟蘊熱三焦作壅速與流利熱即風生壅即風長關竅不通其風何能自散若言化之即順助之其榮衛經絡順得流行若也便與截風定搐為已成癇其風不散若更攻擊即衝任百脈雖不發作畢竟隱伏久而再發無能去根此方得名化風不復加進矣</p>
<p>比金丹方　人參　白茯苓　遠志（去心）　山藥　辰砂　天麻（各一分）　石菖蒲　川芎　甘草（炙各一分）　天南星（炮二兩生薑汁製）　麝（一）</p>
<p>上為細末煉蜜為丸皂子大每服一粒煎金銀薄荷湯化下</p>
<p>議曰風行於四時和順於內外長養萬物能生能敗法令至周惟風之德夫人一身亦同天地順則和逆則害所發之風由其虛而作應其熱而生有其痰與熱而發其驚關竅不通氣脈流注遂有傳變於身為害當用逐之何向童稚幼雛嫩嬌危脆百病總歸於可豈可取次疏怠凡治風有法度不可極力施功若停待即須臾而更倉皇即拙謬而失深意審詳隨其逆順以療之襲逐在後預追不及聽載在前猶化不盡者正謂庸工醫之陋也善治驚癇也化其痰和其氣鎮心神安魂魄通關竅順經絡使其榮衛常順流行調其臟腑長和充實邪自和生風從何入雖有些小自然而散此癇由驚為疾豈可見留常令血脈充肌膚壯頭目清精神備飲食即睡臥穩寒暑知時臟腑常固其經絡自和榮衛自順比金之名決定不壞斯乃順調善攝而已</p>

<h3>奪魂散</h3>
<p>治定癇良方奪魂散</p>
<p>白殭蠶（去絲炒令黃色半兩）　蛇含石（燒紅用米酣淬七八次碾碎）　白附子（炮各一分）　生銀生金　牛黃（如無以膽制倍加用之）　鳥梢蛇頭（七八寸許酒炙）　白茯苓　天麻（各二兩）　天南星（秤末一分生薑汁浸一宿用）　半夏末（二兩生薑汁浸一宿各焙）　赤腳蜈蚣（一條酒浸炙令焦）　犀角（鎊二兩）　腦子　麝</p>
<p>上為末蒸棗肉為丸如○大每服十丸至十五丸二十丸煎金銀薄荷湯下硃砂為衣</p>
<p>議曰癇之為疾又是一種症候若言驚風所傳古人有謂食風驚三癇若言不於驚風所傳古云驚風三發便為癇且癇為疾痰熱壅盛傳入經絡塞於心肺是致關竅不通故作癇疾發作有如驚風天吊或因驚而生痰多或因熱而作風盛大小便不利上下氣不通心神悶亂若因而復生生而復死沉沉默默無由蘇省忽爾氣透關竅漸得開通魂魄稍得安定向後心被觸腦氣不宣利發作如前是知癇之為疾乃由虛痰冷涎頑結子胸臆驚風並聚於關鬲常無精神心致不寧即存恍惚療理不專藥服不收必自致害何足怪者耶奪魂散方經效秘傳修合如法活神驗豈非至寶之謂也</p>

<h1>卷之十六</h1>

<h2>議十種熱症候</h2>
<p>醫云熱有十種驚熱疳熱風熱潮熱傷寒熱瘧熱積熱丹熱瘡疹熱餘毒熱</p>
<p>議曰有驚熱即有風熱此言驚風熱又有風卻熱乃感風成病類同傷寒熱又傷寒熱類同瘡疹熱又瘡疹麻豆之後有餘毒作熱其傷寒後亦有餘毒作熱</p>
<p>議積熱有同痞熱發來潮作又似瘧熱綜曰潮熱蓋發作有期</p>
<p>議丹熱疳熱各自體之不類諸症今將得效所治諸熱良方有四主治分諸熱症悉有功效非特觸類而分之乃是所療治其根本而已無不應驗更不兼他藥只此四方克效萬不失一載列在下請宜審察投</p>
<p>藥隨病瘳愈神莫能冠僕盡心討論以其簡要不憚煩勞去此就彼檢閱再三猶若良將用兵奇正敵冠難有凶惡必不能逃竄其病候或有同異其症候無過於折類為定必不疏遠綜錯矣□自時退熱之理秘不可傳道由心悟得之可謂醇乎醇善之善者耶</p>
<p>議類症諸熱</p>
<p>議血熱即遍體生瘡痍瘑疥瘙癢及重發作丹毒龍帶之屬</p>
<p>議骨熱即外冷內熱其病骨蒸候</p>
<p>議實熱即氣脈壯實五臟六腑氣充大便硬少或閉不通</p>
<p>議虛熱三焦不順五臟不和欲作疳候啼哭煩躁夜出虛汗或瀉痢後有熱</p>
<p>議三焦熱即上鬲虛煩作渴頰赤驚悸夜後啼哭睡中譫語</p>
<p>議五心熱虛煩多驚小便赤澀睡不安穩氣粗或作瘛瘲</p>
<p>議肝經熱眼目赤腫疼痛眵淚羞明或筋脈拘急有夾風痰</p>
<p>議肺經熱鼻塞生瘡不聞香臭或餘毒不散</p>
<p>議胎熱兒在胎中受母飲食榮衛不順有餘毒之熱發作眾疾或從降生之後常作熱症</p>
<p>議傷寒後餘毒熱雖曾解表餘熱傳脈或入經絡久而不散</p>
<p>議瘡疹餘毒熱其兒所患瘡疹不甚快速有餘熱留滯在百脈之間</p>
<p>議項上生核作熱軟大微紅者名驚氣核小三五連連長短相類雜者乃餘毒熱亦名驚癧初生乳幼者有患之</p>
<p>議三焦蘊毒熱上攻咽喉之外名作腮熱氣血凝滯經終不行熱毒攻注故生癰癤</p>
<p>議麻豆作熱類似疹候麻子乃腑受病屬陽故易調理雖不服藥亦能自愈只恐吃毒冒風為之逆也</p>
<p>議溫氣熱即是時氣溫熱相襲而成小兒又令有時氣之溫未經患瘡疹者即重蒸大小相傳皆作是疾</p>
<p>議小腸熱心經不利小便淋澀或筒管內疼痛</p>
<p>議胃熱作氣口臭或發嘔逆不思飲食亦由胃家虛熱得之</p>
<p>議脾熱口若昏因喜睡因吃食毒物積聚在脾不化腳稍冰冷</p>
<p>議邪熱肺經感受寒邪陰陽二氣不正痰涎咳嗽</p>
<p>議寒熱謂先寒後熱其狀如癨□乃虛中有積凡兒患痞癖癥瘕皆作寒熱潮發</p>
<p>議傷風熱鼻聲重頭痛腳熱類如傷寒候</p>
<p>議傷暑熱煩躁引領頭目昏重時正盛暑或曾感冒</p>
<p>議榮衛即血熱也</p>
<p>議衛熱即氣熱榮衛不順即氣血不相參虛之致也</p>
<p>議筋熱咬指甲見血</p>
<p>議腎熱病作崩砂黑齒爛齦以至走馬疳極候</p>
<p>議煩熱即啼之不已</p>
<p>議躁熱即哭之不已皆由三焦不順心中積熱虛煩躁悶</p>
<p>議變蒸熱只在五百七十四日之內三十二日一變六</p>
<p>十四日一蒸在其數發作者應也</p>
<p>議大腸熱乃是肺家有熱在裡流入大腸秘結不通</p>
<p>議癮疹熱乃是肺經有風在表肺主皮毛故生癮疹風</p>
<p>議痰熱因感風生痰在上鬲久不化作熱或在逆噁心</p>
<p>議驚氣熱良由小兒受驚其驚氣不散留在上鬲無得自化故作熱毒攻在頤項之間</p>
<p>議肚熱即是積熱症若加腳冷當與下之</p>
<p>議客忤熱初生之兒親戚外來兒觸其邪以亂其正故作熱</p>
<p>議癇熱驚風不散聚在經絡或入臟腑其候常發不省人事</p>
<p>議瘛瘲熱亦驚之所受入經未傳散略作搐掣</p>
<p>以上諸症受病治法分類於後</p>

<h2>分十種熱症附諸熱類</h2>
<p><u>驚熱</u></p>
<p>癇熱　驚氣熱　瘛瘲熱　客忤熱　五心熱　傷寒熱</p>
<p>傷風熱　傷暑熱　夾驚熱　夾食熱</p>
<p><u>疳熱</u></p>
<p>虛熱　煩躁熱　筋熱　骨熱　腎熱</p>
<p>以上並宜與服蔥根脫甲散</p>
<p><u>風熱</u></p>
<p>痰熱　變蒸熱　肝熱　大腸熱　癮疹熱　並宜加麥門冬子去心煎</p>
<p><u>丹熱</u></p>
<p>實熱　血熱　三焦熱　小腸熱　龍帶熱　並宜加大黃及燈心煎</p>
<p><u>瘡疹熱</u></p>
<p>麻子熱　溫氣熱　已出症熱　未出症熱　並宜加紫草茸川當歸同煎</p>
<p><u>餘毒熱</u></p>
<p>胎熱　肺熱　傷寒後餘毒熱　瘡疹後餘毒熱並宜加薄荷煎</p>
<p>項上坐核作熱　作腮熱　癰癤毒熱　並宜加大黃朴硝煎</p>
<p>以上宜服大連翹飲子（隨症加前件湯便同前）</p>
<p><u>潮熱</u></p>
<p>榮熱　衛熱　瘴氣　兩日一發　三日一發</p>
<p><u>積熱</u></p>
<p>脾熱　胃熱　痞癖熱　肚熱</p>
<p><u>癯熱</u></p>
<p>邪熱　寒熱　脾癯　鬼癯（夜發）　單瘧（熱）</p>
<p>以下宜服梨漿飲子</p>
<p><u>八種虛痢作熱</u></p>
<p>吐熱　瀉熱　霍亂吐瀉熱</p>
<p>以上並宜服正氣丸調胃散用調助胃氣不可</p>
<p>以涼藥退熱胃氣和其熱自然而散愈</p>
<p>虛中積熱　腹痛積熱　蟲痛積熱</p>
<p>以上並推下積</p>

<h3>脫甲散（亦名蔥根煎散）</h3>
<p>調理嬰孩小兒傷寒體熱頭目昏沉不思飲食夾驚夾食寒熱大小便閉澀或赤或白煩躁作渴冷汗妄流夾積傷滯膈滿脹急青黃體瘦日夜大熱及療傷風傷暑驚癇客忤筋骨腎臟疳氣等熱並宜服之脫甲散良方</p>
<p>柴胡（三兩去蘆）　川當歸（淨洗二兩）　龍膽草（三兩去蘆）　白茯苓（二兩半）　人參（二兩）　知母（三兩）　甘草（炙四兩）　川芎（二兩）　麻黃（二兩去節又根一兩仲）</p>
<p>上件為細末每服一大兩水小小盞入小蔥白連須一寸同煎至半溫服不拘時候</p>
<p>議曰此方散熱扶表救里表虛令汗不妄行裡熱令氣不閉結外即遍關內即開渠通關流行經絡開渠不壅臟腑然其知母當歸順正陰陽人參甘草和益腸胃柴胡川芎敵去寒邪茯苓龍膽止汗生津麻黃去節留根功全表裡蔥白連須出汗效正盈虧熱在表裡之間施無不可積傳鶩癇之候用立見切蔥根至良號曰脫甲奇妙述難盡議書載易詳但專誠用之對症功效率無見誚者耶</p>

<h3>大連翹飲（治症在前）</h3>
<p>連翹　瞿麥穗　滑石　車前子　牛蒡子（炒）　紅芍藥（各一兩）　山梔　木通　川當歸　防風（各半兩）　黃芩（去心一兩半）　柴胡（去蘆）　甘草（炙各二兩）　荊芥穗（一兩半）　蟬蛻（去大腳一兩）</p>
<p>上件一十五味㕮咀每服一大兩水小小盞湯使在前</p>
<p>議曰此方解利心經邪熱心與小腸受盛小腸乃水竇常宜通利壅則結滑則脫熱則澀盛則淋平涼心經三焦自順不待疾作而解症成而療者疏怠</p>
<p>有之矣一十五味加湯使在前才覺蘊熱客熱寒</p>
<p>邪風邪胃入肺經心將受之心不受觸傳於小腸或閉或澀或赤或白淋瀝不通榮衛不順壅之作疾其發多端以至鬲熱眼目膻赤唇口白瘡津液不生涕唾稠盛雖在表裡俱得其宜驚風悉能散化痰熱亦自消除連翹之功不虛設爾</p>

<h3>梨漿飲（治症在前）</h3>
<p>青篙（取花頭用童子小便浸一二次日乾為度）　柴胡（去蘆）　人參　黃芩（去心）　前胡　秦艽（去土）　甘草（炙）</p>
<p>上木分㕮咀每服一歲兒半兩兩歲一兩匕水小小盞入生藕生梨（梨條亦得）薄荷二葉生地黃一寸同煎至半去滓通口空心食前服兩滓並煎作一服</p>
<p>議曰此方治脾積寒熱其狀如瘧乃由脾氣陰陽相勝故也其寒在先陰勝於陽其熱在後陽勝陰陰陽循之經絡傳歸於本依前復作不越三日而止重則頭痛嘔逆久則二三歲不歇左脅有塊</p>
<p>小者如桃李大者似壞堞治法下去症積痞塊自</p>
<p>消然寒熱亦未能自解宜先與服梨漿飲連滓並三服定去寒熱了方可下積問之藥性寒涼何以御之答曰所謂先寒後熱猶陰陽勝伏遁相更變陰積陽虧逆之致反故寒極熱生熱極陰作反汗自汗表有少解氣聚復作氣虛愈重所服梨漿飲以毒攻毒藥用青蒿以寒禦寒其熱不有寒必無加自然藥與衛陰與陽合寒熱再潮未之有也和梨漿之功妙哉絕倫稍能知用無不得安若患三載不過兩服曾經十年只以此方妙用至純使人欽嘆而已</p>

<h3>正氣調胃散</h3>
<p>治嬰孩小兒八種虛痢作熱或吐或瀉發熱霍亂上下氣不復常心虛煩悶木作熱並不可加用寒涼之藥宜與服此方正氣調胃散兼生熟飲子如不納食宜服參氣紫蘇飲子正氣調胃散良方</p>
<p>厚朴（一兩生薑和皮二兩搗壓在缽中一二宿常番轉取二日乾慢火炒）　半夏（一兩洗去浸七次）　白扁豆（炒）　藿香葉　陳皮（各一兩）　甘草（炙）　薏苡仁（炒各半兩）　白茯苓　白朮</p>
<p>上為末每服一錢匕水小小盞生薑二小片棗子同煎</p>
<p>議曰吐瀉作熱由其陰陽不順邪正相干臟腑不和上吐下瀉又有隻吐而熱者又只瀉而熱者皆是運動真氣上下不升降又吐瀉俱作曰霍亂其兒陰陽二氣不正臟腑愈虛且吐且瀉加之盛也不爾風生作疾候變即慢脾風病家不知其理醫工罔究其詳古人不述其微致後學必招利害今知吐瀉疳痢熱自裡虛發作豈可解利其表若也攻裡由虛生虛循此調理可得其宜大小一同輕重盡善至理之言明智可鑑</p>

<h2>議吐瀉詳症六法所治</h2>
<p>議曰脾不和即胃不生榮不足即氣不正胃乃脾家之本榮乃衛室之根根本堅固百虛不作表裡充實諸邪不入治法服藥有六合分水穀即與五苓散服合退暑氣即與香薷散服之合均陰陽即與既濟丹服之合溫脾胃氣調順三焦去濕即與理中丸服之合平正五臟氣散虛溫中即與正氣調胃散服之合溫中脘醒脾和胃去虛助氣開胃進食即與分氣紫蘇飲服之以上六症用藥皆和調順臟腑且臟既溫亦和既正且順熱之一木自然□散此示症候萬一不可直便用寒涼藥退熱若將熱藥止吐與瀉攻發陰陽二氣差錯致作風生逐急醫風又投涼藥取次施為皆為乖繆由是吐瀉之熱不可用以寒涼或致反誤利害應時矣</p>

<h2>議潮熱有五</h2>
<p>一因傷寒之後餘毒不解成潮熱宜服脫甲散兼小柴胡湯</p>
<p>二因痞氣有塊陰陽不均成潮熱先服梨漿飲次三稜煎丸</p>
<p>三因癥積食傷冷滯脾胃不和成潮熱先服脫甲次拓氣下之後調胃</p>
<p>四因陰陽不和臟腑虛怯成潮熱或胃暑濕脾瘧成潮熱單服煨姜散</p>
<p>五因瘡疹後餘毒不解成潮熱宜服大連翹飲子更與助胃氣</p>
<p>議曰潮熱謂熱來之有期或百一發或兩日一發或三日一發不越三日先寒後熱正定來者易治亂日者難理疾起脾胃即是瘧候同出而異名只有單熱潮發之作疳長作勞若症積傷冷積滯痞氣皆腳冷渾身熱若有蟲積其肚亦熱如火凡兒有患腳冷肚熱者便與下之須量熱輕重分數而利有蟲多者取之少則安之取蟲宜在於春旺冬實之時其或兒壯蟲盛不拘此說</p>

<h2>議痢熱</h2>
<p>凡小兒患痢之時未熱久則氣虛其臟腑虛極作熱此屬惡候才見痢候作熱此兒臟腑虛弱同於虛熱主治其或三焦熱引飲不歇四肢浮腫者理宜溫補臟腑散除濕氣喘則難治凡痢熱疳熱吐瀉熱並不可發散退熱不任寒涼藥但理其病源調其臟腑和其榮衛主其胃氣令進飲食次與痢藥服之參酌赤白多少膿血相雜裡急後重用行血厚腸胃和中脘溫臟腑其熱自然退愈凡兒患痢不問輕重悉禁葷腥冷熱炙爆醃藏應毒之物若恣口腹愈而復作若也求安須用戒絕之矣</p>
<p>議曰幼幼患痢悉由積毒而受虛熱而發三焦不和五臟蘊伏冷熱相攻陰陽反逆是以作疾腸胃洞虛所言正患之時不熱稍愈其體溫壯眾莫能知此等皆由勞其形役其氣食其毒觸其臟餘毒不化所以作熱隱伏於百脈經絡之間與由歸本若更逐抑何得而安所用正氣謂胃智者默而唯然疳痢之熱安自內和若和則上下氣相承表裡相順使飲食以自然而然行坐以快樂而樂是謂和矣其或感眉垂首桎腹操臍撼體拘攣焦唇煩躁皆由不和也所欲和者食飼粳粟藥餌參苓蔥湯滌臥避風濕仍常以肛調胃散與服雖疾無加惟熱必愈能禁能戒且安且樂而已</p>

<h2>議積症</h2>
<p>應諸家方書並不言盡者蓋所患只因五臟受病從陰成積其脾主食由食生冷果子甘甜熱毒亦物積在中脘不化久而成疾故名曰積積之為患有輕有重其類多端病候不一豈可概舉凡小兒有積熱無不肚熱腳冷要知輕重但約肚熱為之分數其肚有及七分脹五分熱亦有三五分脹七八分熱者盛則兩脅膨脹緊滿既有此症須審其候方可服藥庶不致誤矣</p>
<p>議曰固積病久傳作腫脹小兒腫脹之病下項諸症皆由積毒患不治而漸變作症候隨其輕重所發是以不同應小兒食肉太早無不有積因積不化無不成疳飽飫過度無不氣脹由脹受濕無不發腫頭面腳手虛浮者濕在於脾理脾去濕隨手退愈若腹肚脹腫光膨盍急至於作喘所謂乘虛入腹與疾難醫不可容易轉動臟腑須究榮衛虛實若虛及分數先宜調中理其固實方可疏利若理不能充實則壞症虛敗豈可轉動不惟無益恐涉深害</p>

<h1>卷之十七</h1>

<h2>總論腫脹</h2>
<p>腫脹二症此由虛中有積久患失治漸傳作症候傳化多端隨虛實按輕重察盛衰審表裡主治先固其本後正其標得無恙矣</p>
<p><u>腫</u></p>
<p>受濕腫（腳手面目虛浮）　食毒氣腫（腹肚腎蠱脹急）　傷寒虛氣入腹腫　瀉痢虛氣入腹腫氣虛腫　血虛腫　榮衛俱虛腫</p>
<p><u>脹</u></p>
<p>疳氣脹　疳極脹　疳積脹　氣積脹　痞氣脹　癖氣脹　症積脹　鎖肚脹急　上鬲脹　中脘脹　食傷膨脹　蛔蟲脹　脾氣脹　冷積脹　虛積脹</p>
<p>以上腫脹虛積並當下之用藥各有法度</p>

<h2>議腫</h2>
<p>受濕腫　傷寒虛氣入腹　食毒氣腫　瀉痢虛氣入腹</p>
<p>議曰此四種所患病不相同皆由虛盛而得之受濕謂脾胃受濕冷久不克化氣浮四肢頭面皆腫食毒氣由脾胃傷之冷積毒氣停留胃脘致虛入腹作種傷寒由下之大早乘虛入腹作腫瀉痢之久脾氣亦虛是以致腫以上宜平調胃氣補臟充實方可去腫先服四味理中丸減半乾姜加白朮桑白皮同煎傷寒虛腫加枳實作喘加淡豆瀉痢虛腫服正氣調胃胃氣既壯以救生丹利之其腫即退再調補臟腑用觀音散良益固平復矣</p>
<p>氣虛腫（亦名氣蠱）　血虛腫（亦名血蠱）　榮衛俱虛腫（亦名氣血蠱）</p>
<p>議曰小兒所患腫脹一門最為要急前人少有究竟然腫脹已作皆由榮衛不順臟腑怯弱壅滯三焦流注百脈表裡俱虛邪正相亂所以致受四大浮盛腹肚膨滿多由食毒得之飲食得之症傷得之飢飽得之積久不化諸虛所入故成斯病病由虛得或則妄亂通下因虛致虛根不能去疾加已盛是謂壞證危候智者怯而為辭庸者暴以攻擊二醫不同誠屬難治原夫智者商之謂商量斟酌輕重良者審之雖曰良工由宜審其可否之意疑者塌之疑其病盛不可利只宜與塌其氣明者起之明其虛實已定良方起活謹遵其理始可調治藥用至真對症克效即無恙矣</p>
<p>以上先與服榮衛飲子次服分氣飲子</p>

<h3>榮衛飲子</h3>
<p>調補嬰孩氣血俱虛榮衛不順四肢頭面手足俱浮睡以至喘急者並宜服榮衛飲子良方</p>
<p>川當歸　熟乾地黃（淨洗）　人參　白茯苓　川芎　白朮　甘草（炙）　白芍藥　枳殼（研，別制）　黃耆（蜜炙）　陳皮</p>
<p>上等分㕮咀每服二錢匕水小盞煎至半去滓通口不拘時候</p>
<p>議曰榮者血溫流行於脈衛者氣順調和於絡是故榮行脈中衛行脈外陰陽相安循環無正自幼至長不離呼吸無少滯礙其脈方調其氣乃順呼吸之間脈不應息氣有違滯流注經絡隱伏臟腑虛熱則發癰疽背部實熱則患瘡痍瘑疥況其榮與衛陰及陽偏枯有作易感寒邪亦易致虛百病皆由茲始此方最良雖兒幼小並可與脈以肚其根血榮氣衛順且和矣腑寒臟虛溫且壯矣盈虧自然而平法弱自然而正陰陽調均氣脈充實乃曰妙工</p>

<h3>分氣飲子</h3>
<p>調理小兒腫脹作喘氣短促急坐臥不任四體浮腫飲食嘔逆神困喜睡宜服分氣飲子良方</p>
<p>五味子　桔梗　白茯苓　甘草（炙）　陳橘皮　桑白皮　草果（去殼）　大腹皮　白朮　枳殼（去穰切炒）　川當歸　紫蘇　蘇子　半夏曲</p>
<p>上等分㕮咀每服二大錢匕水小盞生薑二小片棗子半個煎至半去滓通口不拘時候兼八味理中丸煎服</p>
<p>以上宜用救生丹通利</p>
<p>議曰清濁無混邪正不幹上焦得之清涼下部受之溫暖氣滯則少升降血虛則多流注雖是乳子呼吸一息其脈有至徐徐應指不違其數者亦同大人流行但隨小大受之短淺而已若也留滯其脈遲數於病大過不及者有作善主療治鬱則分之逆則順之停則利之滯則降之調理之法先宜以順其氣大抵嬰孩氣順即易治脈壯亦易理證候梢傳郁逆停滯當以先明不待傳入而後究竟此方分氣預宜進益與分水穀之分者不同為用明者察之致迂曲</p>

<h3>大效神功救生丹</h3>
<p>治小兒氣虛喘息四肢浮腫腹肚脹急衝滿脅肋乍熱乍寒或瀉或秘皆由久停虛積榮衛不順宜用推去其惡毒之氣神功救生丹良方</p>
<p>雄黃（令研）　硃砂（各一分令研）　巴豆（二十一粒去殼）　乾薑（二錢）</p>
<p>上用水醋一盞以巴姜就煮令乾去姜不用將巴出油和推朱研勻雪糕搜丸如麻子大每一歲三丸並用酒浸赤為藥以少許送下</p>
<p>議曰夫幼幼受疾其來發端無過驚風痰熱疳積吐利而已前賢眾多述論症候編者方藥究竟推詳各有確實奧見其有無辜疳積異作症候著千篇集或有罕見其症未詳其理者盡世難測難知如龜胸決肋猢猻禁是也又復有壞症惡候自服諸家丸散輕重桐投愈之不得全功疾之加為他害提脾風之類是也悠悠既久方法何宜學醫之士遇此等病未嘗告辭而屈若能此附觸類調理雖則未效猶尚庶幾多是肆臆勉強而為稍或得失利害甚重今議救生丹方載譚氏所療無辜積</p>
<p>議效驗至良晚進後生聞而知之且驚且喜蓋渠未嘗知用若也參究而又意到即參功以副全功然後乃謂神乎微乎其妙至理醫工於此等症候須當至誠施設活幼起孩十舉十全百發百中矣</p>

<h2>議脹</h2>
<p>疳氣脹　疳極脹　疳積脹　氣積脹</p>
<p>議曰小兒患疳症候皆由虛所傳積乃為母積既已作虛氣傳授逐成疳疾其名數種皆漸所致不可更與通利尤加重候即宜和益消疳調氣若尚有虛積便白後重當兼塌氣以去之先與服神功保童丸以至泄氣為快既泄虛氣即散（放臭屁是也）　不傷其氣功效至良應患疳積便利無度大有功效</p>

<h3>褐丸子</h3>
<p>治小兒陰陽不和臟腑怯弱乳食不消心腹脹滿嘔逆氣急或腸鳴泄瀉頻並腹中冷痛食症乳癖痃氣痞結積聚腸胃或秘或利頭面腫滿不思乳食乃療五種疳氣八種痢疾飢肉消瘦氣粗腹大神色昏憒情意不樂常服散冷熱氣調和臟腑去疳積止瀉痢進乳食生飢肉悅顏色功效非常不能縷述褐丸子良方</p>
<p>蘿蔔子（二兩微炒）　陳皮　青皮（去白各一兩）　黑牽牛（一兩半半生半炒爆尤佳）　京三稜（炮一兩）　蓬莪朮（包兩）　胡椒（半兩）　木香（三分）</p>
<p>又一方加胡黃連半兩苦楝半兩蘿蔔子只使一兩</p>
<p>上為細末麵糊為丸麻子大每服三五十丸煎蘿蔔湯下</p>
<p>議曰症候不明醫之過也丸散不良士之繆也去醫裁藥審證察候猶若權衡以究標本醫藥純全之道凡調理小兒雜病須究疳證積候乃五臟所</p>
<p>傳及至變作他患殊失源流迷而不反所以作疾</p>
<p>此方最善寬腸下氣散結去郁其疳與積已作米作順傳逆傳並皆宜服功蓋常方大厚腸胃充實臟腑按症所療無不克效京輦之下作疳藥貨賣名聞四方活幼多數今不隱藏故述詳悉請敬用之</p>
<p>痞氣脹　癖氣脹　症積脹</p>
<p>議曰痞癖之氣同根異名作疾有塊皆在左脅男女亦同然痞者陽症癖者陰症緣小兒脾胃不和陰陽二氣交錯冷熱相制皆由積之所致故先寒後熱一如其虛汗出則息若先下卻其積則熱往往不去及增加重而又作腫虛滿頭面凡兒有是疾醫者不可輕易投砒治之其砒有大毒沖胃三焦作渴引飲水停在脾脾屬四肢亦作浮腫重則致喘煩躁虛悶倦怠不安砒之為藥豈可妄投宜先與服黎漿飲加湯使如法取令寒熱退三五日了卻與三稜丸磨化積毒以利為度去其根本若未通更服</p>

<h3>三稜煎丸</h3>
<p>治嬰孩小兒食傷生冷黏膩熱毒等物脾胃積滯久不克化令兒肚熱腳冷痞癖寒熱及療癥瘕中脘不和膨脹上膈氣壅心腹不得宣通所以作疾此藥溫良但是諸積滯食不化並宜與服三稜煎丸方</p>
<p>京三稜　蓬莪朮（並炮各半兩）　羌花（一分）　鱉甲（去裙米醋炙令焦半兩）　淡豆豉（二兩重）　巴豆（二十一粒去殼）　川當歸（半兩）　杏仁（去皮尖一分令炒赤）</p>
<p>上前六味一處以米醋一碗煮令乾仍就炒起更細截焙為末次入當歸末又入杏仁巴淡豆和勻水煮麵糊為丸麻子大每服二十丸生薑湯下大小加減服之</p>
<p>議曰此方亦名消痞丸又名化積丸其藥破氣行血和脾開胃應痞癖癥瘕諸積氣滯並皆療之噫調理嬰孩之法預究脾胃之源脾胃者乃飲食之臟腑也古云人無根株飲食為命然飲食之物有所宜則穀氣消血脈勻則肌膚壯精神爽有所不利則腸胃虛肢體瘦面目黃疾病作是以藥固臟腑其胃氣和即穀食自然留之其脾胃壯即穀食自然磨之若飲食遲化即氣弱飲食不化即氣虛小兒服此初安臟腑次益肌膚三焦既順百脈俱調效驗至良醫痞第一</p>

<h3>鎖肚脹急</h3>
<p>議曰此一症候兒在胞胎中無恙只由初生七日內有患觸受而成急如水火其作延久漸見加重以至肚上青筋撮口不乳其候甚速得名脹急其兒感觸邪氣入腹衝心不能自化遂變風候及至成風不可更投藥餌雖然鎖肚撮口不乳其色未變精神未亂者速便下藥以通為度方通便安功效至聖無可疑者兒已獲安吻乳如法漸次氣肚肉重歡悅可愛宜服真珠天麻丸（方在前急驚證內）</p>

<h3>附初生鎖肚撮口施藥法說</h3>
<p>夫人才生下男女忽有一症男在三五七女即二四六日奇偶之有數陰陽之顯道者遂感客忤邪正相干令兒肚緊青筋禁口不乳此由客情外來致襲其邪陰陽不順胃觸其正（初生男女氣脈未定精神未全不經邪氣所以古人禁客一臘遠其此禍）邪謂淫欲交適殺氣侵臨（應非禮不正之屬總皆邪屬）上古醫家著述繁雜難窮至要世俗雖有加文理無灸法（血氣方生豈固經絡若以艾炷即為虛設）既受此厄越日移時母泣父啼痛心待斃咸謂傷嗟誰可與活僕參執幼科傳授四世𭷱緣回祿之難淬遜三紀一日扣遇高明深詰其妙方藥秘傳屢用獲處嗚呼天地生萬物惟人尊貴人能稽仰於天地之間且天地豈特害於人自是事在遇不遇之如此稍有感傷悔怨執滯於人情者多矣僕輒行小惠普濟初生躬對神聰選材修合其或高下民戶生兒有被此難無問輕重不拘早晚施與良餌決定保全頓然蘇活豈小補哉</p>
<p>上膈脹　中浣脹　食傷膨脹</p>
<p>議曰膈與浣上下相承膨與脹輕重自別脘受疾久則痞悶膈作病停則鬱結是和膈隱胸堂脘臨脾胃膈者猶隔也有如隔礙脘者猶管也通即流利二位皆由食傷宿冷眠臥過時停滯氣不順於三焦怯弱脈虛傳於五臟所謂脾不磨食不化胃不開食無益所以膨脹若於膨脹之時不與消利遂致虛滿又於虛滿不為疏補其氣即攻中脘又於中浣不化即冒上膈既在上膈為疾必作形症傳即為重醫莫容易取愈食傷膨張宜服三稜煎丸中脘痞脹宜服王氏塌氣丸上膈郁脹宜服大茱連丸</p>

<h3>大茱連圓</h3>
<p>治小兒飲食過度膨脹胸膈上下氣不宣通鬱滯迷悶情思少樂大則作喘強食不化作渴煩躁坐臥不任肢體倦怠腹脅疼痛宜服大茱萸丸良方</p>
<p>蓬莪朮　京三稜（各一分醋煮）　乾薑（炮）　青皮　陳皮（並去白）　木香　丁香（各二兩）巴豆（二十一粒去殼心膜出油）　緣小細茱萸（二錢）</p>
<p>上為末醋糊為丸麻子大每服七丸至十丸大者加服生薑棗子湯下</p>
<p>議曰痞鬱結注所因脾胃飲食生冷黏膩積氣不化滯在胸膈乃總名上曰三焦下曰三浣上下相貫來去相侵虛處所受弱處所發致疾乃因久不克化成害或由常不宣通癥瘕痞癖積之所由至疳痢吐瀉積之所因作今用此方大寬胸膈平厚腸胃正氣溫中消疳磨積能止吐瀉進美飲食藥有神功尤宜察症</p>

<h2>蛔蟲脹</h2>
<p>議曰此症候作與脾氣冷積虛積大抵相似然小兒腹肚緊脹天明吐津沫要羹肉吃方少安乃蛔蟲候脾氣多噎逆飲食不下虛中有積腹緊吊痛冷積脹緊膨滿心腹不仕坐臥兩脅心鬲上下攻刺疼痛內蟲痛脹先與下蟲丸殺蟲其蟲困次與水晶丸推下餘症各與調胃藥服卻推下積宜服小兒沉香煎丸</p>

<h3>小沉香煎丸</h3>
<p>乳香　沉香（各一錢）　肉豆蔻（一個煨）　杏仁（一兩炒）　百草霜（一分）　木香　丁香（各一兩）　巴豆（十四粒出油如霜）</p>
<p>上為末煮酒封頭蠟和為丸如綠豆大每服三五丸淡生薑湯迸下應患肚痛不止服之功效常服以通為度</p>
<p>議曰此方乃感應丸加沉乳二藥是也療小兒虛中積症症積疳疾冷積食積脾氣乳積腸胃久虛臟腑中脘不和痞氣鬱結或瀉或痢或嘔或噦腹肚疼痛兒體虛羸不堪動轉者並與服之其方此真珠丸等取積大不同耳只恐服此未能能通利若也通利誠為之幸乃曾遂虛存實和脾生胃之藥功無加諸</p>

<h3>下蟲丸</h3>
<p>治小兒多蛔蟲（亦名食蟲）　苗蟲（亦名疳蟲）　胃蟲（亦名血蟲）　並宜服下蟲丸方</p>
<p>鶴蝨（炒一兩）　光粉（炒二兩）　膩粉（二大兩）　使君子（一百個炒）　檳榔（一分生）　龍牙根（一錢）　貫眾（子卯酉日採取者方驗綠色者佳二兩）　龍膽根（二錢）　苦楝根皮（酒炎二錢）</p>
<p>上為細末水煮麵為丸如麻子大每服三五十丸空心食前甘草湯下或以楮肉清汁羹與服尤妙</p>
<p>議曰小兒疳積蟲積皆由食肉大早脾胃本弱受之不磨症傷不化何況更加肥膩冷硬之物腸胃虛怯肉積生蟲只有□種蛔苗胃也蛔多令兒喜食滋味內脯之物腹肚緊脹心胸膨滿苗多令兒清瘦神困肚脹青筋疳氣漸盛腸鳴瀉臭食即嘔噦胃多令兒喜食酒肉食不生飢常作困遁嗔脹脅肋煩躁迷悶眠不安席並宜服此真蟲自化盛用利下仍須調胃和氣助之</p>

<h1>卷之十八</h1>

<h2>小兒傷寒</h2>
<p>小兒傷寒症候止議三種乃為正要有正受夾驚夾食前述傷寒並用脫甲散其病既分三種須當究論輕重鼻塞小便赤咳嗽關竅不通壯熱面紅頭疼體重渾身手足俱熱</p>
<p>凡治小兒正受傷寒及感寒邪傷風諸症宜服人參羌活散小便赤色或心神不寧病在表裡之間或再復發宜與小柴胡湯一二服</p>
<p>凡治小兒夾驚傷寒神困昏悸頭疼氣粗宜服王氏杜薄荷及消風散</p>
<p>凡小兒夾食傷寒即先與微利次與脫甲散或人參羌活散下之紫霜丸為上取微利為度大抵小兒傷寒不可重表亦不重下亦不可並行表下之理今兒虛乏困重即成壞症難療</p>
<p>議曰凡小兒傷寒雖無多事須是認症分明應傷寒傷風只可表惟有夾食宜用下之凡夾食傷寒腳微冷似有積症相類但此等傷寒自是不同不可不問知其端的然後次第進藥仍丁寧病家令避風濕與忌生冷勿令強力無恣飽食恐勞胃氣其病再復旦醫家調理即須審度無有是瘡疹盛時及左右鄰舍有無所患之者若或有之亦不妨事但表解藥與服不可妄投驚藥余無恙矣惟有壞症蓋由前人用藥不當撥亂陰陽故致為壞或因觸受風邪故致為壞或因強力食毒故致為壞或用冷溫傷經絡故致於為壞壞則難極治醫學宜乎疚心而已凡小兒傷寒候惟有咳嗽一症不為容易若有此症宜服人參枳實湯克效萬一勿可攻擊善醫者察之為良</p>

<h3>大效人參枳實湯</h3>
<p>治嬰孩小兒傷寒復氣不和順喘急咳嗽胸膈鬱塞日夜煩悶神困力乏不思飲食仍療虛痰煩滿頭目昏暈但是傷風感冷咳嗽並宜服之</p>
<p>枳實（四個米泔浸去穰切麩炒）　桑白皮　半夏（湯洗七八次切仍以參汁浸）　甘草（炙）　白茯苓　款冬花　五味子　阿膠（麩炒）　細辛（各半兩去）　人參（一分）　麻黃（去節）　苦梗（各半兩）</p>
<p>上㕮咀每服一小撮水小盞生薑三片棗半個烏梅少許同煎至半去滓通口服二滓並煎</p>
<p>議曰小兒傷寒作熱頭痛等症或已發散退熱或已化痰定喘或已安神定志或已開胃進食兒孩平復父母忘憂喜之甚善尚有一症日夜咳嗽多方不愈良由元受邪氣入肺葉內無能得出不堪吐利何由而安凡兒傷寒後及感風咳嗽不愈者宜服此方湯使煎煎如法碗盛盞蓋將口就吸徐徐服之不過三五次瘳痊此方瀉肺補氣寬膈化痰滋潤五臟和益三焦不惟理嗽調中更善</p>

<h3>小兒驚熱風痰</h3>
<p>議曰此名四症已述前篇兼載八候續之今復舉驚熱或並風痰未發陰陽二癇之前醫者即先與化痰御風退熱利驚如此遂病推究不惟繁難乃無法所治是故艱於療理若已向病於症何憑凡此回症相隨不可攻其一也利其驚則風縱退其熱則痰壅久尋茲理未究盡善忽一日省悟錢氏方宣風散正為此等兒孩病設有痰即壅有熱即閉有風即隘有驚即悶昏昏沉沉輕藥不能散重劑恐傷害但與服疏風散（較之宣風只欠一味）一服之間風痰驚熱悉皆消去神情慶悅四體和安觀其此藥似有狼虎困之即和順惟痰利驚散風解熱只與一服不移其時可見功效嘗見醫工調治此等症候多是疑惑進退怯懼若過其時延其日則候傳變驚目驚作風自風生痰自痰壅熱自熱聚或急或慢八候相從反復傳變遁互發越之時不可得而進此藥然疏風所療四症相待如賊方會極力一沖盡便散敗不致作害及其聚而自散者流入諸經或絡或經或脈故作搐搦引掣等候矣</p>

<h3>大效疏風散</h3>
<p>治嬰孩小兒驚熱風痰四證結聚於胸臆之間令兒昏困沉重關竅不通諸脈氣閉所以默默欲食不食欲起不起倦伏不知其症候者但不經吐利宜與服之立見蘇省大效疏風散良方</p>
<p>錦紋大黃（緊實者三兩重）　雞心檳榔（二重）　舊陳橘皮（去白二兩）　朴硝（一兩）　黑牽牛（一分半熟）</p>
<p>上五味為末每二歲兒服半兩匕三歲一兩匕先用生蜜調就次煎薄荷湯點與服不拘時候</p>
<p>議曰風痰在上即吐在下即瀉（諸鬲上下也）一服之間決定安樂未可便投他藥恐相致誤常人只和用腦子麝香參苓朮附（香附子）無擔負之藥似此四症如何和順調理</p>

<h2>疳疾症候方議</h2>
<p>議曰五疳八痢本經所載詳明然究竟疳在五臟五病故有五名及其順逆相傳變動臟腑則病不循症候而作者豈可以五疳為數八痢為拘疳者始自於疳痢者起自於痢疳以飲食不節過傷脾胃痢即脾胃虛弱而受積毒治疳之藥理脾胃溫中補氣消疳煞蟲治痢之藥理腸胃去濕調中滋血和氣為上</p>

<h3>大效使君檳榔丸</h3>
<p>治嬰孩小兒食肉太早傷及脾胃水穀不分積滯不化疾作疳氣等候宜服大效使君檳榔良方</p>
<p>肉豆蔻（兩個炮）　檳榔（一個生）　宣連　胡黃連　陳皮　青皮　川楝子肉（炒）　蕪荑（炒去皮）　神麯　麥芽（並炒）　木香　夜明砂（炒去土）　蘆薈　川芎（各一兩重）　麝（一字）</p>
<p>上為末獖豬膽汁薄荷為丸如麻子大每服三五十丸溫飯飲下</p>
<p>議曰積是疳之母所以有積不治乃成疳候又有治積不下其積存而臟虛成疳尤重大抵小兒患疳泄瀉無時不作風候者何惟疳瀉名熱瀉其臟腑轉動有限所以不成風候雖瀉不風亦轉它症作渴虛熱燥煩下痢腫滿喘急皆疳候虛症古云疳虛用補虛是知疳之為疾不可更利動臟腑發作之初名曰疳氣腹大脹急名曰疳虛瀉痢頻併名曰疳積五心虛煩名曰疳熱毛焦發穗肚大青筋好吃異物名曰疳極（受病傳臟已極）熱發往來形體枯槁面無神彩肉無血色名曰疳勞手足細小項長骨露尻臀無肉肚脹臍突名曰丁奚食加嘔噦頭骨分開作湯引飲蟲從口出名曰哺露此皆疳候</p>
<p>又因多食生冷疳黏肥膩積滯中脘不化久亦成</p>
<p>疳治疳之法量候輕重理其臟腑和其中脘順其三焦使胃氣溫而納食益脾丸壯以消化則臟腑自然調貼令氣脈與血脈相參肚筋力與骨力俱健神清氣爽疳消蟲化漸次安愈若以藥攻之五臟疏卻腸胃下去積毒取出蟲子雖曰醫療即非治法蓋小兒臟腑虛則生蟲虛則積滯虛則疳羸虛則脹滿何更利下若更轉動腸胃致虛由虛成疳疳虛症候乃作無辜之孩難救矣</p>

<h3>胡黃連丸</h3>
<p>治嬰孩小兒一切症候及一切虛痢他藥無功此藥極效胡黃連丸方</p>
<p>胡黃連　蘆薈　草黃連　肉豆蔻（炮）　桂　人參　硃砂　麝（一字）　使君子（去殼）　木香　釣藤　龍齒　白茯苓（以上各一兩重）</p>
<p>上各生用為細末取獖豬膽兩枚裂汁和末令勻卻入袋內盛之以繩札定湯煮半日取出切破袋子更入莨宕子二兩重（微炒）黃丹（一兩重）　二味別研如粉入前藥和勻搗五百杵為丸如綠豆大但是疳與痢用粥飲下五七丸子幼者三丸不吃粥飲乳頭令吻能治一十二種疳痢及無辜者功效非常</p>
<p>議曰疳之疾危發由於漸痢之覆逆傳自於延（延久為逆）初見其輕言之曰常後知其重告之無門是以疳痢皆由積毒嬌恣口腹因虛以致虛用害而傷害醫工見有此等自是憂疑病家欲得便蘇豈無性急更（音耕）遷取活展轉愈深或疳極而膠下痢或熱盛而加作渴或煩躁四體虛浮或飲食一時嘔吐常方不能安愈快劑恐越傷和惟宜服此</p>

<h3>肥肌丸</h3>
<p>治小兒一切疳氣肌瘦體弱神困力乏常服殺蟲消疳開胃進食肥肌丸方</p>
<p>黃連（一分去須）　川楝子肉（各半兩炒）　川芎（半兩）　陳皮　香附子（各一分酒煮炒乾）木香（二兩）</p>
<p>上為末水煮細麵糊為丸麻子大每服三五十丸溫飯飲下</p>
<p>議曰驚疳積痢各分症候用藥今有小兒患疳虛困又作痢疾二候相加最為惡重疳痢並行臟腑虛乏之極熱毒差重皆系積之久滯雖曰系積無積可療乃虛受之然謂其虛補之不及所見其症不得良方以何對治雖獲其方不審其候亦難療也良由脈與病同藥與症對醫工運功扶而起之必得安藥胡黃連丸無以加諸肥肌良方亦佐勝</p>

<h3>蘭香散</h3>
<p>治小兒走馬疳牙齒潰爛以至崩砂出血齒落看蘭香散方</p>
<p>輕粉（一兩重）　蘭香子（一兩末）　蜜陀僧（半兩醋滓為末）</p>
<p>上研如粉傳齒及齦上立效</p>
<p>議曰嬰孩受病症候多疳良由氣鬱三焦疳分五臟內有腎經常虛得疳名之曰急以馬走為喻治療頗難此等一症初作口氣名曰臭息次第齒黑名曰崩砂盛則齦爛名曰潰槽又盛血出名曰宣露重則齒自脫落名曰腐根其根既腐何由理之嗟吁豪家育子餔以甘肥腎堂受之虛熱或緣母在難月恣味珍羞令兒所招即非偶然而作今將秘方述於後</p>
<p><u>又方</u>　傳齒立效散</p>
<p>鴨嘴膽礬（一兩重匙上煆紅研）　麝（少許）</p>
<p>上研勻每以少許傳牙齒齦上（又一方用蟾酥一字加麝和勻敷之）</p>
<p>議曰血之流行者榮也氣之循環者衛也變蒸足後飲食之間深恐有傷於榮衛而作眾疾其或氣傷於毒血傷於熱毒攻之虛臟所受何臟為虛熱蓋小兒腎之一臟常主虛不可令受熱毒攻及腎臟傷乎筋骨惟齒受骨之餘氣故先作疾名曰走馬非徐徐而作所宜服藥耳露飲地黃膏化毒丹消毒飲其外症以前行立效散及麝酥膏傳之切忌與食熱毒之物此疳不同常症乃系無辜有作醫宜深究保全為上若用常方難擬愈活</p>

<h3>獨活飲子</h3>
<p>治腎疳臭息候良方</p>
<p>天麻　木香　獨活　防風　麝香（少許細為末研和入）</p>
<p>上各一兩重為末每服一兩匕小者半兩麥門冬熟水調下</p>

<h3>三黃散</h3>
<p>治腎疳崩砂候良方</p>
<p>牛黃　大黃　生地黃　木香　青黛</p>
<p>上等分為末每服一兩匕熟水調服</p>

<h3>人參散</h3>
<p>治腎潰槽候良方</p>
<p>肉豆蔻（炮）　胡黃連　人參　杏仁（炒）　甘草（炙）</p>
<p>上等分為末每服一兩匕小者半兩溫熟水調服</p>

<h3>檳榔散</h3>
<p>治腎疳宣露候良方</p>
<p>木香　檳榔　人參　黃連　甘草（炙）</p>
<p>上等分為末每服一兩小者半兩熟水調服</p>

<h3>黃耆散</h3>
<p>治腎疳腐根候良方</p>
<p>黃耆（蜜炙）　牛黃　人參　天麻　蠍（炒）　杏仁（炒）　白茯苓　川當歸　生地黃（洗）　熟乾地黃（洗）</p>
<p>上等分為末每服小者半兩已煎天門冬熟水調服（麥門冬亦得）</p>

<h3>地骨皮散</h3>
<p>治腎疳齦齶牙齒肉爛腐臭鮮血常出良方</p>
<p>生乾地黃（半兩）　真地骨皮　細辛（各一分）　五倍子（炒令黑二兩重）</p>
<p>上為細末每用少許敷之頻與功效吃不妨</p>
<p>議曰本經所載疳症有五謂五臟所受故得其名今述腎疳一臟有五症候者最為要急不可同常此疾具陳有五種候傳迅疾可畏乃知走馬之號不誣初發之時兒孩口臭上干胃口氣息臭爵漸進損筋齦肉生瘡或腫或爛其齒焦黑又進從牙槽肉發作瘡疱破潰膿爛又進熱逼入脈時時血出其熱注久牙齦腐壞槽寬齒脫六七歲孩落盡不復更生豈可治療今以妙方宜速與隨其傳變而理不待疾作而後藥也</p>

<h2>痢疾症候方議</h2>

<h3>豆蔻散</h3>
<p>治嬰孩小兒腸胃虛弱糟粕不聚瀉痢不止或赤或白冷熱不調日夜頻並愈而又發宜服殢腸豆蔻散良方</p>
<p>肉豆蔻（一個煨）　胡粉（炒二兩）　龍骨（生一兩）　白礬（枯一兩）</p>
<p>上為末每服一兩溫飯飲調服不拘時薄糊圓麻子大五六十丸議曰胡粉即真鉛粉也以鉛法造出韶州名韶粉定州名定粉總名光粉其性殢故用之以殢其腸令不虛滑豆蔻溫臟之藥安和腸胃龍骨白礬澀腸止痢所患腸虛滑下痢日夜無度者服之隨時痊瘥應葷腥之物醃藏之屬悉與禁止亦治秋間白痢至效</p>

<h3>生熟飲子</h3>
<p>治嬰孩小兒虛積痢腹肚㽲痛下痢裡急後重日夜無度宜服生熟飲子良方</p>
<p>罌粟殼（大者四個一半炙此一味去盡內瓣浮楞之者佳）　陳皮（二片半炙）　甘草（二寸半炙）　烏梅（二個半煨）　淮棗（二個半煨）　生薑（二塊指大半煨）　木香（一兩作兩片半煨）　訶子（二個大者半煨）　黑豆（六十粒半炒）　黃耆（二寸半炙）　白朮（二塊指大半煨）　川當歸（二寸半煨）</p>
<p>上件各半生半熟㕮咀和勻每服參兩水小盞入瓷瓶內煮去半濾滓任意與服至多勿慮所有生黑豆不要打破只丸全同煎效</p>
<p>議曰病有冷熱藥有生熟病有陰陽藥有造化病有虛實藥有君臣按君臣以理虛實分生熟而均冷熱治療主本之法也平和腸胃之方也順益三焦之功也安調五臟之至也陰陽既分冷熱既散腸胃既厚三焦既益五臟既順良由藥有造化且水穀自分榮衛自正糟粕自聚飲食自納其瀉與痢何患不愈生熟飲子之功乃盡天下之妙不可忽</p>

<h3>神效雞青丸</h3>
<p>治嬰孩小兒一切痢疾神效雞青丸良方</p>
<p>木香（一兩）　土黃連（一分去須）　肉豆蔻（一個大者生）</p>
<p>上三味先碾為粗末取雞子青搜藥作餅於慢火上炙過令黃色變紅者稍干擘破碾羅為末白麵糊丸麻子大每服三五十丸溫飯飲下</p>
<p>議曰木香黃連一陰一陽藥木香善導水利氣脈黃連厚腸胃二味君臣相佐陰陽相順加之豆蔻溫和臟腑止瀉痢功效彌良凡兒患瀉與痢不問症候輕重並宜攙先與服不問臟腑冷熱愈多愈效然雞青為物有毒是以毒氣引藥致效若去此一味其功不作矣</p>

<h3>大效至聖千金飲子</h3>
<p>治小兒脾積虛痢便下五色先由嘔吐後作泄瀉臍腹㽲痛脅肋脹滿受濕虛鳴膿血相雜下如豆汁亦如瘀血日夜無度食少肌羸宜服大效至聖千金飲子良方</p>
<p>綿黃耆（蜜炙）　甘草　陳皮　罌粟殼（炙）　木香　白芍藥　地榆　川當歸　枳殼（制炒）黑豆（炒）　烏梅　淮棗　白朮　訶子（炮去核秤）　黃連</p>
<p>上等分㕮咀每服二兩水小盞煎至半去滓通口與服</p>
<p>議曰臟腑虛中加燥故患熱痢或爾虛寒乃患冷痢或由暑氣胃之水穀不分或受濕氣臨之腸胃有作或因食毒傷脾肺或因宿冷停積臟腑或觸因表裡不解或因冷熱相承或因飲食過多或因飢餒不及多食醃藏常啖魚鯗或是母懷胞胎恣其口膠積之日久氣不宣通遂令疾患有加發作無度畢竟腸胃虛損日夜呻吟痢下頻並宜服此方效驗若神</p>

<h3>大艾煎丸</h3>
<p>治小兒虛痢作渴不止大艾煎丸良方</p>
<p>大艾葉（燒灰）　乾葛粉　胡粉（炒）　海螵蛸　龍齒</p>
<p>上仵等分為末煉蜜丸雞頭子大每服一粒至二至飯飲磨化</p>
<p>議曰下部既虛無不作瀉瀉之加虛無不成痢瀉痢轉虛故有上盛三焦不順所以作渴渴若不住則瀉不止痢不歇又以止渴其藥性涼瀉痢尤重此方兩獲全功扶救痢疾不致其虛亦不致熱</p>

<h3>白餅子</h3>
<p>治小兒秋痢號曰毒痢純下白膠肚痛白餅子良方</p>
<p>北礬（枯白淨）　膩粉（一兩重）　白麵（半兩）　胡粉（炒各一兩）</p>
<p>上件和勻水搜作餅如錢大每服半餅大者一餅飯飲磨化</p>
<p>議曰秋氣金旺則母虛矣夏月火燥則子困矣夫人五臟六腑乃循四時而行故曰秋濕脾胃若胃口有毒禁閉不食輕粉卻毒次用豆蔻面與吃兼雞青生熟飲絜服開胃醒脾乃愈</p>

<h3>術蔻面</h3>
<p>治小兒禁口痢一粒飯一吃宜服術蔻面良方</p>
<p>白朮（半兩）　肉豆蔻（炮二枚）　木香（二兩重）</p>
<p>上為末白麵二兩入藥水搜作劑切作條子水煮令熟用蔥白生薑鹽各少許和汁滋味與之看入多少仍兼雞青丸服</p>

<h3>香脯</h3>
<p>治小兒刮腸下痢禁口不食閉眼合口至重者香脯妙方</p>
<p>晶豬肉（一兩薄批作一片）　膩粉（半兩重）</p>
<p>上將肉於炭火上慢炙旋鋪膩粉令勻炙令成脯每以少許與吃如未知吃且放鼻頭自然要吃此方治胃口有毒至奇至妙</p>

<h2>疳熱症候方議</h2>
<p>議曰小兒疳患乃是五臟所受積氣相傳今議患疳有患熱者由其候虛之盛積者乃疳之母所有積不治遂傳成疳又有治積不下其積存而臟虛其疳傳而脈弱臟腑傳過經絡致受由此作熱症候尤重雖不發作風痰畢竟危困沉重經云疳熱症謂勞形作渴虛煩頻嘔不食下項良方過其輕重而與服之仍擇所當勿可縱恣誤致畢違便計利害</p>

<h3>人參散</h3>
<p>治小兒疳熱虛煩作渴不思飲食四體沉重服人參散良方</p>
<p>人參　蓬莪朮　川當歸　龍膽草根　甘草（炙）　赤芍藥　白茯苓　枳殼（浸去穰切作小片用麩炒令赤色）</p>
<p>上等分為末每服半兩煎麥門冬湯調服無時候</p>

<h3>神妙宣氣丸</h3>
<p>治小兒疳熱久蒸肌肉消瘦形容惟悴神情不樂飲食雖多不生肌肉宜服此方大有功效神妙宣氣丸良方</p>
<p>蓬莪朮（炮）　赤芍藥　川當歸　大黃（炮）　鱉甲（米醋炙去裙焦為度）</p>
<p>上等分為細末水煮麵糊為丸麻子大一歲二十丸熟水下大小加減</p>

<h3>蚵蚾丸</h3>
<p>治小兒患無辜疳三焦虛熱飲水不歇下痢頻並日夜無度煩躁乾嘔食入即吐如此惡症服常疳藥分水穀止煩渴治下痢進飲食但無效者宜用此方治之隨藥取安一服虛熱去兩服煩渴止三服瀉痢住不過三服諸症悉應克效萬一神聖秘蜜蚵蚾丸良方</p>
<p>蟾蜍一枚夏月取生活者乃是溝渠中腹肚大不能跳又不能鳴者身上多痱磊是也</p>
<p>上取糞蟲一杓放桶中更以屎灌四維令乾即留得其蟲卻將蟾蜍打殺頓在蟲上任其蟲咀食兩日間用新布作袋包裹小麻繩繫於急流中推一宿明日取上滓干瓦上焙為末入麝和勻湯浸蒸餅丸麻子大每小者二十丸大者三十丸溫飯飲下或用麥門冬子去心煎湯空心食煎日進二服功效如神宜至誠修合</p>

<h1>卷之十九</h1>

<h2>泄瀉症候方儀</h2>
<p>議小兒泄瀉傷積而作瀉者初以補藥治不止之時須當下去其積推積才下其瀉自止下之宜與小沉香煎丸理虛中積甚良多與服之或以小塌氣丸又不下更與三陵煎服之切不可以宣轉藥恐成滌盪矣積滯已下與服調胃溫脾藥及既濟丹此乃理積瀉夏月暴瀉由其臟寒虛腸滑利泄速與契聖丹如滑不禁進殢腸散次與契聖既濟丹若洞利其瀉不常發作駭人速與殢腸未子次與朮附湯稍與遲緩其候必更療瀉之理豈可相待病家無知醫工當謹</p>

<h3>殢腸散</h3>
<p>治嬰孩小兒腸胃虛寒臟腑久冷泄瀉不止殢腸散良方</p>
<p>真鉛粉（半兩炒）　白石脂（二錢）　白礬（炻二錢）　白龍骨（一錢）</p>
<p>上為末每服半錢匕大者一錢溫飯飲調下薄糊作小丸多服效</p>

<h3>契聖既濟丹</h3>
<p>治小兒陰盛陽虧臟腑虛寒泄瀉不止契聖既濟丹良方</p>
<p>熟地黃（一分）　白礬　半夏末（二錢生薑汁浸半日乾秤）</p>
<p>上為末雪糕丸如麻子每服三五十丸溫飯飲下</p>

<h3>朮附湯</h3>
<p>治小兒臟腑虛寒泄瀉洞利手足厥冷朮附湯</p>
<p>附子（半個炮了者）　白朮（一分）　乾薑（二錢炮）　甘草（一錢炙）</p>
<p>上㕮咀每服一錢水小盞煎至半去滓與服手足暖止之須是洞世手足冰冷方可與服</p>

<h2>小兒吐症方議</h2>
<p>所述症候在前今具良方干復其症又有風擁吐即類痰吐治之文氣吐即類胃寒吐理之驚吐即類熱吐積滯吐即類冷吐氣逆吐即類食吐療之</p>

<h3>八白飲</h3>
<p>治嬰孩小兒脾虛胃弱膈有風痰水穀入口悉皆嘔噦體羸氣乏飲食不下霍亂吐利神情恍惚心胸膨滿中脘不和八白飲方</p>
<p>沉香　藿香葉　人參　草果　白川乾薑（炮）　半夏曲　白芍藥　白檳榔　白豆蔻　白茯苓　白朮　白扁豆（炒）　白芷</p>
<p>上件等分為末瀉後復吐或吐後復瀉每服一錢水小盞生薑二小片棗子半個煎三五沸通口不拘時候</p>

<h3>人參溫中丸</h3>
<p>治嬰孩小兒驚吐熱吐心神悶亂中脘不和漸加恐悸恍惚無定人參溫中丸良方</p>
<p>人參　白朮　白茯苓　半夏（湯洗七次）　陳皮　肉豆蔻（煨）</p>
<p>上等分為細末蒸淮棗肉為丸麻子大硃砂為衣藿香生薑湯三五十丸不拘時候多服勿慮</p>

<h3>調中正胃散</h3>
<p>治嬰孩小兒中脘不和冒氣不正胃冷傷熱吐逆煩悶神困力乏飲食不美虛弱思睡睡不安穩調中正胃散</p>
<p>良方（加木香名木香散）</p>
<p>藿香葉　白朮　人參　白茯苓　甘草（炙）　陳皮（去白）　山藥　白扁豆（炒）　半夏曲　川白姜</p>
<p>上等分為末每服一錢水小盞生薑二小片棗子半個煎三二沸服</p>

<h3>煨附丸</h3>
<p>治嬰孩小兒積滯吐胸堂鬱結中脘痞悶氣不舒暢聞穢嘔逆即吐宜服煨附丸及溫中丸煨附丸良方</p>
<p>黑附子（二錢末）　丁香（五個）</p>
<p>上以水搜附末裹丁香再用面劑包於糖灰中煨熟去面為末生薑自然汁丸如麻子大每服三十丸煎薑棗湯下</p>

<h3>青金丹</h3>
<p>治小兒陰陽二氣不均霍亂吐逆青金丹良方</p>
<p>水銀（一錢重）　硫黃</p>
<p>上和硑令水銀不見星只作墨色取生薑汁作糊丸麻子大每服十丸至二十丸用淡生薑湯下</p>

<h3>豆蔻散</h3>
<p>治嬰孩小兒虛吐飲食之間便作嘔逆蓋由脾寒或哯無時吐後暈悶胸膛鬱結上下氣逆宜服豆蔻散及香樸丸豆蔻散良方</p>
<p>肉豆蔻（一個煨）　木香　丁香　白朮　白茯苓　甘草（炙各錢重）　藿香葉（一錢）</p>
<p>上為末煎藿香棗子湯調一錢半服之必效生薑湯亦得</p>

<h3>半丁丸</h3>
<p>治嬰孩小兒痰吐風壅所致或因感風痰盛咳嗽作熱煩悶神不安穩睡眠不寧可進飲食或欲飲食食之即嘔蓋由風痰在膈飲食不下先服半丁丸次用正胃散及正氣溫中散半丁丸良方</p>
<p>半夏（半服者半兩湯洗七次為末）　丁香（一錢重碾碎）</p>
<p>上將半夏末水搜作劑包丁香再以面劑裹煨令熱去面為末生薑自然汁丸麻子大每服三二十丸淡生薑湯下</p>

<h3>正氣丸</h3>
<p>治嬰孩小兒食傷症冷逆不升降嘔吐不已胸膈留停積滯不化宜服塌氣丸或一向只作乾嘔噦聲頻作宜服正氣丸良方</p>
<p>藿香葉　厚朴（生薑制）　陳皮　半夏曲（炙）　白朮　白茯苓（各一錢）　甘草（炙二錢）　乾薑（一錢）　三稜（炮二錢）</p>
<p>上為末煉蜜為丸如指大每服一丸生薑棗子湯化開與服</p>

<h3>鹽豉丸</h3>
<p>治幼幼哯乳不上宜服此立效兼小沉香煎丸鹽豉丸良方</p>
<p>咸豉（七粒口內含去皮）　膩粉（一錢匕）</p>
<p>上研丸如麻子大每服三丸至五丸藿香湯下乳頭吻亦得</p>

<h2>渴症方儀</h2>
<p>議小兒渴症一見唇紅如丹三五分者即發三五分渴若七八分紅者即七八分作渴其有發渴唇紅焦黑者即久渴虛盛疾加傳極症候危篤故也凡小兒有疳渴引飲不歇心肺虛熱唇焦舌裂有瀉渴者肌體羸弱神困力乏有痢渴者虛熱積臟眉皺肚痛有傷寒候發渴者有痞癖虛煩引飲不歇俱在三焦不順五臟蘊熱煩躁昏悸神情不樂今分症所受主治用藥</p>
<p>治小兒三焦虛煩作渴引飲不歇宜服三黃丸如朴硝小許重作小丸子煎麥門冬飲下</p>
<p>治小兒傷寒候發渴唇口焦乾強燥盛者竹葉石膏湯主之</p>
<p>治小兒痞癖作渴不止大黃灰餅子主之</p>
<p>治小兒熱瀉作渴五苓散如干葛主之煩熱香薷飲如黃連治之小便澀閉水竇不通煎車前渴王之用草前末甘草炙二味煎湯</p>
<p>治小兒疳渴蚋子麝香丸主之</p>

<h2>喘急症候方儀</h2>
<p>小兒有困驚暴觸心肺氣虛發喘有傷寒肺氣壅盛發喘有感風咳嗽肺虛發喘有因食鹹鹺傷肺氣發虛痰作喘有食毒熱物冒觸三焦肝肺氣逆作喘喘與氣急同出異名別之輕重疾究兩端喘即口開隘於胸臆氣急即取息短滿心神迷悶盛即如之喘促不待傳變宜速降下寬中補肺利膈化痰固氣即愈惟有驚喘暴急心肺干亂停積不散金火相剋逆而不實錯亂血脈擊觸臟腑速療乃瘳緩即加重重即傳變變即八候有作</p>

<h3>八味理中丸</h3>
<p>治小兒心肺不和息數脈急上下不升降中膈痞滿郁隘胸臆坐臥煩悶神情不樂飲食不下八味理中丸方</p>
<p>人參　甘草（炙）　白朮　乾薑　枳實（制炒）　白茯苓　五味子（去梗桑白皮去赤皮）</p>
<p>上等分為細末煉蜜為丸小指大每服一丸淡豆豉五粒水小小盞煎至半去豉通口服無時</p>

<h3>大效雄朱化痰定喘丸</h3>
<p>治小兒因驚發喘逆觸心肺暴急張口虛煩神困大效雄朱化痰定喘丸方</p>
<p>雄黃　硃砂（各一錢研）　蟬蛻　全蠍（炒）　地龍　白殭蠶　天南星　白附子（炮各一分）輕粉（半錢重）</p>
<p>上為末麵糊為丸麻子大每服三十丸薄荷茶清送下食後服</p>

<h3>又方定喘飲子</h3>
<p>天麻　防風　羌活　甘草（炙）　人參　苦梗　白朮　川芎　半夏曲</p>
<p>上等分㕮咀每服二錢匕水一小盞入麥門冬子十四粒同煎去滓通口食後服</p>

<h3>雄黃丹</h3>
<p>治小兒齁䶎喘滿咳嗽心胸煩悶傷熱觸毒雄黃丹良方</p>
<p>雄黃　硃砂（各一錢令研）　杏仁（十四粒炒）　巴豆（七粒）　豉（淡者二十一粒）</p>
<p>杏巴豉三味用米醋半盞乾薑一片指大煮令乾研成膏皂角一寸蜜炙焦先去子與皮法制牛膽一分同雄朱與杏膏研令細</p>
<p>上和入杏膏麵糊為丸麻子大每服一歲兒五丸壯者七丸三歲十丸淡生薑湯下</p>

<h1>卷之二十</h1>

<h2>瘡疹症候方議</h2>
<p>凡兒所患瘡疹水豆麻子蚊丁火疱等諸家之說或有異同大抵此症出乎五臟肺曰水疱肝曰膿疱心曰血疱脾曰黃疱腎曰黑子小兒不問長幼所出黑子陷者最為惡候或因風吹或由觸毒皮下隱隱出而不透名黑陷子死者多矣良由服藥有誤冷冰其內毒不發出為害甚重凡瘡疹之疾症有多端其欲發出之時或有作熱者不作熱者有驚有掣者有狂燥者有叫哭者有煩躁者有自汗者有譫語者有呵欠者有遁悶者有神昏者有嘔吐者乃緣所發於五臟虛實之不同耳或謂耳鼻腳梢中指冷為之驗者屢究之或中或否今得至要妙訣凡兒作熱有如傷寒候疑惑之間不敢直謂者但者耳後有紅脈赤縷定是瘡疹症候更無可疑若發驚不可下驚藥有熱不可退熱有汗不可止汗或吐不可理吐但順其表溫其中自然而發出或有首尾不可下或曰首尾皆可下眾疑謂之非說愚曰二家所說皆善也且兒氣脈充實宜微下之恐作煩躁若也氣虛直不可下恐瀉易脫如欲利下即用消毒飲子七寶洗心散或四順清涼飲一二服以通為度切不可用真珠丸及有巴粉之類並宜禁之如有熱煩躁與順大連翹飲加紫草茸功效但減黃芩今人才見瘡疹已出未出便與升麻葛根湯其性頗寒只宜少少與服其或不當者蓋用大過反壞其表凡服葛根湯宜加白芍藥糯米人參紫草茸川當歸功效甚良</p>

<h2>議癥瘕痞癖</h2>
<p>癥（音真又音呈）傷食得之痛刺脅肋心胸煩悶飲食不下吐逆噁心久不醫治漸成癥結又曰食結</p>
<p>瘕（音瑕又音加）傷血得之胸膈鬱悶痛引少腹時或攻築上搶心胸雖不阻食肌肉不生久而不治漸成瘕結又曰血結</p>
<p>痞（音甫又音匕又音婢）傷氣得之心腹膨脹肚大脅滿痛刺往來注𤚎左肋面黃肌瘦倦怠無力久而不治漸在痞塊又曰氣塊</p>
<p>癖（音僻）傷積得之其症如腸澼之疾便利無度滑不成糞似痢非痢似蟲非蟲腹肚干痛上築心胸滿悶久而不治頑結不散復結成塊有類痞狀</p>
<p>以上四症皆作寒熱有如瘧候一般悉由傷及五臟惟痞癖左脅肋塊其氣結聚男女皆在左脅曰症大同小異凡治寒熱先以梨漿飲進一二服退其寒熱其寒熱已消去三五日後方可與服磨痞丸即日日頻頻與服癥瘕之疾只與三稜丸下去積毒以通為度</p>

<h3>人參蘿蔔飲</h3>
<p>治小兒痞癖因食砒藥丸子作渴煩躁頭面浮腫腹肚緊脹喘促坐臥不得肌體羸瘦困乏寒熱尚在宜服人參蘿蔔飲方</p>
<p>白朮　苦梗　甘草（炙）　人參　麥門冬子（去心）</p>
<p>上等分為末每服一大錢匕取生蘿蔔汁半盞煎至半候冷與服</p>

<h3>豆蔻草果飲子</h3>
<p>治小兒痞氣未解重複取利致之虛乏腹肚㽲痛不思飲食麵目虛浮強食嘔吐宜服此方豆蔻草果飲子良方</p>
<p>肉豆蔻（一個煨）　草果　檳榔（各個）　綿黃耆（槌蜜炙）　白茯苓　白芍藥　白朮　甘草陳皮（各錢）　半夏曲（一錢）</p>
<p>上㕮咀每服二錢匕生薑三小片烏梅半個棗子一個用藤紙包裹蘸濕煨令香熟去紙用水小小盞煎至半去滓通口空心食前兩滓並煎兼與小沉香煎丸服之功效</p>

<h2>眼患症候方議</h2>
<p>凡小兒患眼皆由熱毒得之方藥甚眾惟有斑瘡眼患此疾最為惡候若有是疾皆由兒病不謹口腹或斑瘡方愈便與食毒散熱熱毒入肝腎之間便作腫痛羞明怕日眵淚難開毒者謂其炙爆醃藏油麵白卵黃牛母豬米醋鮭鯗鮓醬雞羊鵝鴨蝦蟹魚鱉腥膻鱔鰻飛禽包氣之屬悉為斯咎及至熱退痛止睛中白翳已生或一隻兩晴隨其輕重得之宜速與療</p>

<h3>透關散</h3>
<p>治小兒斑瘡初作眼患痛澀羞明怕日出淚頻多或已覺漸成白翳子宜用神效透關散良方</p>

<h3>蓽澄茄（不拘不少）</h3>
<p>上為細末每以少許吹入鼻中於食後頻數吹之諸症皆可用之</p>

<h3>大效點明膏</h3>
<p>治斑瘡眼患只在百日內治之容易久即氣定難以療理大效點明膏良方</p>
<p>覆盆根（處處有史路傍柱高五七尺者）</p>
<p>上掘取土中根淨洗搗取粉澄濾令細日乾每用蜜和以少許點白丁上令其自消自散日二三次點用</p>

<h3>至妙立消膏</h3>
<p>治小兒眼患初作粟醫浮醫或來或去漸發差大侵睛減明至妙立消膏良方</p>
<p>雪白食鹽（生研少許須以淨器）</p>
<p>上以大燈心點鹽輕手指定浮醫就齪凡三五次點見效令子勿驚恐不疼痛亦不礙人多投之勿慮屢用克效</p>

<h3>生乾地黃湯</h3>
<p>治小兒疳蝕眼患閉合不開羞明怕日及至開眼有如內障朦朦失所宜服生乾地黃湯方</p>
<p>生乾地黃　熟乾地黃（各乙兩並洗）　麥門冬子（去心半兩）　川當歸（一分）　枳殼（米甘浸一宿麩炒秤一分）　杏仁（湯泡去皮尖麩炒令赤）　防風　甘草（炙）　赤芍藥（各一分）</p>
<p>上㕮咀每服一大錢水小小盞以黑豆七粒煎至黑豆熟去滓通口服</p>

<h3>小防風湯</h3>
<p>治小兒熱毒眼患小防風湯方</p>
<p>大黃（蒸）　山梔子　甘草（炙）　赤芍藥　川當歸（洗）　防風　羌活</p>
<p>上等分㕮咀每服二大錢水小小盞煎至半去滓通口服食後</p>

<h3>小流氣飲</h3>
<p>治小兒風毒眼患小流氣飲方</p>
<p>蟬蛻（去大腳）　甘草（炙）　羌活　天麻　川當歸　赤芍藥　防風　大黃　腦薄荷　杏仁</p>
<p>上件等分㕮咀每服大錢水小小盞煎至半去滓通口食後服</p>

<h3>小菊花膏</h3>
<p>治小兒積毒眼患小菊花膏良方</p>
<p>黃連　黃芩　大黃　菊花　羌活　蒼朮（米泔浸）　荊芥穗　防風</p>
<p>上等分為末煉蜜為膏尾指大每服一餅細嚼白湯下</p>

<h3>總議小兒眼患</h3>
<p>議曰除疳蝕斑瘡二症外皆由五臟所積熱毒而作又有胎內受氣乘母所食熱毒稍長因毒相觸忽作障瞑不由腫赤熱毒積成其候者此等決定難醫若加寒涼之藥壞害尤甚若赤腫眵淚疼痛醫膜謹謹與忌其熱毒之物清心涼肝順氣行血解熱散毒認症瀉臟常宜用四順清涼飲隨風熱毒所發輕重加藥與服萬一克效不必執殢方藥指症攻療蓋小兒無患氣眼所患即與大人不同至重者謂赤腫等俱作宜與利下即便解散若有瘀血眼胞內外四維腫盛即從鼻中取出敗血立愈既無氣眼不作攀胬雖有赤脈貫睛亦是熱毒所致即不可鉤鐮針割凡當利下並以大黃藥洗心散之屬乃佳</p>

<h2>治諸病雜方</h2>

<h3>石韋散</h3>
<p>治小兒熱淋沙淋石淋石韋散方</p>
<p>石韋（去尾）　海金沙　木通　滑石</p>
<p>上為末水小盞煎至半通口服</p>

<h3>桃紅丸</h3>
<p>治小兒齁䶎咳嗽痰涎壅盛或作喘急桃紅丸良方</p>
<p>天南星（乙分炮）　白附子（炮）　川烏（炮各分）　石膏（二錢煨）　地龍（乙錢）　白礬（枯乙兩）</p>
<p>上為末自然薑汁搜丸麻子大硃砂為衣令半紅半白每服三五十丸淡生薑湯下</p>

<h3>犀角地黃膏</h3>
<p>天門冬　麥門冬（各去心）　白茯苓　茯神　生地黃（各洗秤）　前胡　柴胡　人參　玄參甘草（炙）　川芎　天麻　防風　羌活</p>
<p>上等分為末煆金墨一挺留性煉蜜丸○大金箔為衣每服一粒薄荷湯化服</p>

<h3>丹毒至效散</h3>
<p>治小兒一切丹毒及龍帶發作至效散方（先服消毒飲次用敷之）　黃丹（一兩重）　朴硝（一兩重）　赤小豆（兩頭齊者為末半合）</p>
<p>上研令勻井水調以雞毛刷立效</p>

<h3>犀灰散</h3>
<p>治小兒心經虛熱小便澀痛筒管內疼不可忍者犀灰散良方</p>

<h3>蠶蛻紙（不拘多少）</h3>
<p>上燒留性為末入麝每服半錢匕燈心湯調</p>

<h3>磁石散</h3>
<p>治小兒湯火傷磁石散方</p>
<p>景德鎮瓷器（不拘多少）</p>
<p>上打碎埋灶內炭火鋪上經一宿取出放地上出火毒碾為末入黃丹水調敷湯火傷處</p>

<h3>茆根湯</h3>
<p>治小兒傷寒後有一症忽然鼻中出血五七歲以上至大人亦有此作名紅汗謂不魯解表其汗出血故縱鼻出者自解茆根湯方</p>
<p>生地黃汁　生蜜　酒（各小小盞）</p>
<p>茆根一握搗煎汁如稠糖</p>
<p>上共煎取一盞相和溫服小小半盞立效</p>
<p>治小兒心肺蘊熱及心血妄行鼻衄</p>

<h3>出血不止良方</h3>
<p>上將故藤紙被一片作捻子包麝燒熏入鼻或吹入鼻中又令患人吸呷尤佳故藤紙被至舊亦得或燒納小瓶中留性每服二錢入麝酒調服極妙</p>

<h3>木舌金絲膏</h3>
<p>治小兒心脾受熱唇口生瘡仍治慕口（唇舌白）　鵝口（舌白）　重舌（舌下硬）　木舌（舌腫硬）　以上皆繫心脾熱並宜用下項藥敷腳心次服連翹飲子仍與金絲膏刷口內舌上功效</p>
<p>吳茱萸（不拘多少）</p>
<p>上為末用釅米醋調塗腳心更以紙貼糊黏敷之立效</p>
<p>又有重齶一證於上齶令生一肉如指大小赤腫妨食及吻乳斯由熱極而作速宜下之不爾熱毒流咽喉加其腫塞悶絕而蛻宜服疏風散下之（方在前）</p>

<h3>生肌散</h3>
<p>治小兒腳腫生瘡及諸瘡口不合者生肌散方</p>
<p>真地骨皮　五倍子　甘草（各生）　黃柏（炙）　黃連（炒）</p>
<p>上為細末乾摻瘡上以粗末用沸湯泡蘸洗干處津液調敷</p>

<h3>大效金絲膏無</h3>
<p>治小兒口瘡方</p>
<p>黃丹（一錢）　生蜜（一兩）</p>
<p>上相和深甌盛甑內蒸令黑為度每用少許雞毛蘸刷口內</p>

<h3>天南星丸</h3>
<p>治小兒痰多哮呷喘急咳嗽天南星丸方</p>
<p>天南星（炮）　半夏（湯洗七次）　白礬（枯各一錢）　雄黃（細研一錢）</p>
<p>上為末煎熬皂角膏為丸入少許面作糊丸如麻子大每服二三十丸淡生薑湯送下</p>

<h3>通關散</h3>
<p>治乳幼被母鼻息吹著兒囟令兒鼻塞不能食乳通關散良方</p>
<p>香附子（炒三分）　川芎（七分）　荊芥（四分）　白殭蠶（炒三分）　細辛荃（二分）　豬牙皂角（一分）</p>
<p>上為末取生蔥白去須搗調藥塗囟門上</p>

<h3>秘敷頭痜瘡方</h3>
<p>吳茱萸鹽醃者佳如無以口鹽浸一二日</p>
<p>上為末釅末醋調刷敷頭上大人肩蛆瘡用之立效</p>

<h3>茱連丸</h3>
<p>治小兒夏月暴瀉注下茱連丸方</p>
<p>土黃連（去須）　吳茱萸（各一兩）　陳皮（半兩去白）</p>
<p>上為末水煮麵糊為丸如麻子大每服二十丸飲下</p>

<h3>摩風膏</h3>
<p>治小兒遍身疥瘙癢摩風膏方</p>
<p>苦參　歷青　蕪荑（炒）　黃蠟（各一錢）　巴豆（三粒去殼）　輕粉（五○）　真麻油（半兩）蠍（二立）</p>
<p>上同油煎至巴焦濾去所煎物入輕粉和勻敷疥功效</p>

<h3>薑黃散</h3>
<p>治小兒血淋方</p>
<p>薑黃為末</p>
<p>上每服半錢用紅酒調下連二三服以通為度</p>

<h3>小牛黃丸</h3>
<p>治小兒膈熱痰涎稠盛心神不寧睡不安穩煩躁怔忪四體作熱宜與服之但覺驚風痰熱常服功效</p>
<p>乾葛（截炒取末一兩）　甘草（炙一錢）　黃芩（去心與浮皮一分）　防風（半兩）　麝（半字）山梔子（半兩去皮取二）</p>
<p>上為細末入麝和勻如皂子大煉蜜為丸常服薄荷湯化下</p>

<h3>四聖湯（治二十一症）</h3>
<p>白朮　人參　白茯苓　甘草（炙）</p>
<p>治久吐胃寒加石連子木香黃耆名生胃散</p>
<p>治嘔嘔噦噦不止加白扁豆薏苡仁（並炒）藿香名銀白散</p>
<p>治胸膈煩悶冷熱不調痰涎咳嗽不美飲食日夜壯熱加知莊具莊烏梅乾姜名寬中散</p>
<p>治腹肚疼痛加陳皮青皮棗子生薑名溫中散</p>
<p>治夜啼煩躁腹肚冷痛加沉香硃砂名鎮心虧邪散</p>
<p>治表裡虛弱時氣作熱欲傳疹候加細辛栝蔞名惺惺散</p>
<p>治脾寒胃熱陰陽不順溫壯常作加滑石地骨皮名六神散</p>
<p>治霍亂吐利神不安穩加藿香丁香名藿香散</p>
<p>治脾胃虛弱飲食不進加製厚朴陳皮等分名平胃散</p>
<p>治吐食不納穀氣加丁香半夏曲名益神散</p>
<p>治脾胃久虛不納食頻吐或瀉不止加肉豆蔻青皮天台烏藥名理中散</p>
<p>治熱瀉水穀不分加瞿麥車前子名導赤散</p>
<p>治虛熱寒躁安神定志加犀角川芎名安神散</p>
<p>治心氣不足神情恍惚加石菖蒲石蓮肉石膏名補心散</p>
<p>治體熱夜啼煩躁加白附子全蠍膩粉名清神散</p>
<p>治脾虛肌瘦神困面無顏色食不克化腸胃久寒吐逆無時加黑附子枳殼吳茱萸麥櫱細辛名溫脾散</p>
<p>治霍亂吐逆或腸鳴自利腹肚疼痛加川白姜名人參散</p>
<p>治傷寒身熱頭痛煩渴加麻黃乾葛天麻硃砂名解肌散</p>
<p>治心神不寧驚悸煩赤瘈癡加硃砂羌活防風天麻名鎮心散</p>
<p>治脾胃虛弱腹肚泄利調中進食加訶子陳皮名益黃散</p>
<p>治虛積痢腹肚痛裡急頻並加陳皮罌粟殼名調中散</p>
<p>以上二十一症所加藥味並有詳載集著其</p>
<p>善以顯其功樂哉契聖達理豈可遁諸理</p>

<h3>天麻散</h3>
<p>南星（半兩水浸春秋五日冬七日夏三日）硃砂（一兩）　射香（一字每一字杏仁湯調化下人參湯亦可）</p>

<h1>丹波元胤跋</h1>
<p>二十卷元曾榮世撰見於焦竑國史經藉志余家舊藏鈔本僅八卷文理訛舛殆不可句弟茝庭嘗從朝鮮國醫方類聚中錄出成編余謂是書所載自其診視理療之法以至於平素鞠養保攝乳哺嬉戲諄二乎議之甚詳使懷抱中物免為朝菌夏蟲其幼幼之心可謂篤矣世榮又著有活幼心書楊仲叔序稱衡邑遭災連□巨楝數千室俱煨爐其書板有好事者納諸池中而得無恙以為天心之使然良有以也乃若是書亦當神物擁護者不宜付於闕如之嘆矣後閱十餘年今秋七月叔父蒨園啟持竹洞後人人見友雪所藏足本而被借驚喜之餘速錄一通以傳家於是乎感世榮慈念之所存果不至湮滅而喜余前言之足以懲矣記其顛末如上</p>
<p><u>文政庚辰孟冬二十有二日東都丹波元胤識於柳沜精盧</u></p>
