<header data-type="book">
<h1>素問紹識</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="丹波元堅">丹波元堅</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第一冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015273">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>

<h1>卷第一</h1>

<h2>上古天真論篇第一（此篇太素僅存天癸一段）</h2>
<p>成而登天　以上六句。疑王氏所補。非古經之文。何以言之。此篇全氏訓解在第九卷。倘使其本果有此六句。則是帝始未退在末卷。萬無此理。蓋王氏移天真論置之於八十篇之上。並添改其起語也。其文取之於史記大戴禮及孔子家語。改聰明作登天。冠以昔在二字。蓋摹仿堯典序。而承以乃問於天師曰一句。組織之痕。自不可掩矣。顧全氏之舊猶是。不過黃帝問曰四字而已。林億等專奉王氏如此七句。既信為古經之真。故置而不校也。小島春沂曰。千金方作黃帝問於岐伯曰七字。遐年要抄引太素經亦同。此足以為確徵矣。（太素問字下每有於岐伯三字）</p>
<p>年半百　古鈔本年下有至字。千金方遐年要抄引太素並同。（古鈔本系於四五百年前人所字澀江全善對校）</p>
<p>不妄作勞　書盤庚惰農自安。不昬作勞。傳不強作勞于田畝。疏不強於作勞。海保元備曰。文選西京賦。何必昬於作勞。薛綜注。言何必當勉力作勤勞之事乎。蓋先儒古義。皆以作為力作。據此。此作勞亦力作勤勞之義。又韓詩外傳論人有六情曰。其身體四肢。欲安而不作。三國志魏武帝紀。君勸分務本穡人昬作。（注引盤庚等）亦是同義。如全本太素。其義自異。</p>
<p>不知持滿　淮南子泛論訓周公可謂能持滿矣。高誘注。滿。滿而不溢也。故曰能持滿。</p>
<p>以耗散其真　先兄曰。耗敖通。曲禮亦敖欲對言。曰敖不可長。欲不可從。正義云。敖者矜慢在心之名。又云。心所貪欲為欲。則飲食男女。人之大欲存焉是也。人皆有欲。不得從之也。</p>
<p>逆於生樂　王以養生之樂解之。恐非。呂覽知士篇此劑貌辨之所以外生樂趨患難故也。注。外棄其生命之樂。解人之患。往見宣王不闢難之故也。蓋此亦謂生命長久之樂也。</p>
<p>夫上古聖人之教下也皆謂之　先兄曰。潘之恆黃海云。謂之者。語之也。即下八字是也。按語之者。似指下六句。蓋聖人之教下也。語之以避邪風而守精神。則可以不病。故民之順化者。志閒心安。勞而不倦云云是也。是以以下六句。謂民之所仿行也。故美其食以下六句。謂上古之俗淳樸也。是以嗜欲以下六句。謂不為外物所撓。故和於術數也。所以以下三句。謂非時世之異。人自失之也。是皆承聖人教下六句之意而演也。</p>
<p>虛邪　先兄曰。馬雲（以下馬雲即元臺也）虛邪。俱指風言。王注非。此說為佳。宜參八正神明論及歲露篇九宮八風篇。</p>
<p>不肖　禮雜記桀之子不肖。注。肖。似也。不似。言不如人。解精微論王注不肖謂擁造不法。</p>
<p>天數然也　先兄曰。呂覽仲秋紀凡舉事無逆天數。注。天數。天道也。馬雲天數。凡人所稟於天之數也。</p>
<p>齒更髮長　先兄曰。六節藏象論云。腎者主蟄封藏之本。精之處也。其華在發。其充在骨。五藏生成篇云。腎之合骨也。其榮發也。</p>
<p>天癸　楊曰。天癸精氣也。堅按此說非是。韓詩外傳曰。十六精通。而後能施化。陰陽相反。（大戴禮說苑此四字作陽窮反陰陰窮反陽二句此下有故字）陰以陽變。陽以陰變。故男八月生齒。八歲齠齒。十六而精化小通。女七月生齒。七歲齔齒。十四而精化小通。（原識引文有脫仍更揭出）史記正義曰。男八月生齒。八歲毀齒。二八十六陽道通。八八六十四陽道絕。女七月生齒。七歲毀齒。二七十四陰道通。七七四十九陰道絕。（孔子世家注）</p>
<p>太衝脈　太素作伏衝脈。堅按此與新校正引合。（以下其相合者不敢具載）</p>
<p>真牙生而長極　楊曰。長極。身長也。先兄曰。馬雲真牙由是而生。且長極矣。汪云。人身之長。至此而具。馬說為長。</p>
<p>五七陽明脈衰　馬曰。女子大體有餘於陰。不足於陽。故其衰也。自足陽明始。張同志曰。夫氣為陽。血脈為陰。故女子先衰於脈。而男子先衰於氣也。堅按下文女子必言脈。男子必言氣。志說似優。</p>
<p>面始焦　先兄曰。說文醮。面焦枯小也。</p>
<p>丈夫　先兄曰。說文。周制八寸為尺。十尺為丈。人長八尺。故曰丈夫。</p>
<p>五八腎氣衰　馬曰。男子大體有餘於陽。不足於陰。故其衰也。自足少陰始。張同志曰。腎為生氣之原。男子衰於氣。故根氣先衰。而發墮齒槁也。堅按志說宜從。</p>
<p>七八　推上下文天癸竭云云四句。似宜移於八八下。恐是錯出。然前注無敢言及者。不能無疑。</p>
<p>不過盡八八　唐書李叔明傳曰。傳云女子十四有為人母之道。四十九絕生育之道。男子十六有為人父之道。六十四絕陽化之理。</p>
<p>提挈天地把握陰陽　先兄曰。張云能斡旋造化。燮理陰陽。是即提挈把握之謂。</p>
<p>此其道生　琦曰。四字衍。</p>
<p>適嗜欲　先兄曰。呂覽重己篇云。凡生之長也。順之也。使生不順者欲也。故聖人必先適欲。注。適。猶節也。</p>
<p>逆從陰陽　先兄曰。按逆從是唯從義耳。猶言急劇為緩急。死斯為死生之期。謂順從於陰陽之理也。見法則象似辨列分別等字。而可觀諸注欠妥。且內經中用逆從二字者。或唯稱從。或單稱逆。不可一例而讀之。</p>

<h2>四氣調神大論篇第二（此篇太素全存）</h2>
<p>發陳　爾雅釋天。春為發生。夏為長嬴。秋為收成。冬為安寧。注。此亦四時之別號。蓋文異而旨近。又荀子天論篇曰。繁啟蕃長於春夏。畜積收藏於秋冬。</p>
<p>早起　唐書裴度傳曰。夫頤養之道。當順適時候。則六氣平和。萬壽可保。道家法春夏蚤起。取雞鳴時。秋冬晏起。取日出時。蓋在陽勝之以陰。在陰勝之以陽。</p>
<p>以使志生　志曰。（張志聰）志者。五藏之志也。志意者。所以御精神。收魂魄。適寒溫。和喜怒者也。是以四時皆當順其志焉。</p>
<p>夏三月　太平御覽舉此一段。並有注語。或疑是全氏所解。仍具載於下。曰。夏三月。天地陰陽之氣交合。萬物華實。故言夏生長於萬物成實者也。夜臥早起。是貪於夏氣。不厭於日者也。是晚臥早起。明於陽氣之盛者也。人志氣毋怒。陽氣成結。秀實以成。其氣得泄陽者也。萬物成結。於夏受之。因此夏陽氣之所應也。能從其氣。則是養生之道也。逆之則傷損於心。心者夏王也。故言傷心。心傷則秋必病㾬瘧。故言夏傷於暑。秋病㾬瘧者。不從其氣。則大為逆也。是故傷逆深皆損於陽氣。故冬至陰盛必重病。</p>
<p>容平　楊曰。夏氣盛長。至秋也不盛不長以結其實。故曰容平也。堅按此說與王意同。考嚴傑經義叢鈔有金鶚釋庸一篇有云。庸又通鏞。書益稷笙鏞以簡。鄭氏鏞作庸。注云。西方之樂謂之庸。庸功也。西方物孰有成功。庸又通頌。大射義西階之西。頌磬東面。注云。言成功曰頌。西為陰中萬物之所成。是以西方頌磬謂之頌。古文頌為庸。頌古容字。與庸同聲。故通用。繇是推之。則容平之容。恐亦與庸相通。而容平即萬物成熟平定之謂也。</p>
<p>飧泄　太素作飡泄。楊曰飡音孫。謂食不消。下泄如水和飯也。</p>
<p>無擾乎陽　先兄曰。按王以為君子周密之義。然照上文高注。（高士栻）所謂地氣固藏。不騰於天者是也。</p>
<p>使氣亟奪　太素亟奪作不極。楊曰閇（古閉字）諸腠理。使氣不泄極也。堅按此不必是。</p>
<p>清淨　太素作清靜。</p>
<p>藏德不止　太素止作上。堅按此與新校正引別本同。</p>
<p>天明　太素作上下。</p>
<p>名木　古人謂大為名。（王念孫有說見經義述聞禮記其名者成條）名木蓋大水之謂。王注恐謬。</p>
<p>雲霧不精則上應白露不下　太素霧作露。白作甘。下白露同。</p>
<p>心氣內洞　宋本外臺與本文同。</p>
<p>肺氣焦滿　太素作燋漏。楊曰。燋熱也。漏泄也。堅按此與新校正引不同。</p>
<p>獨沉　太素作濁沉。</p>
<p>春夏養陽秋冬養陰　高注本於滑氏。（滑伯仁）</p>
<p>苛疾　太素作奇疾。</p>
<p>愚者佩之　方氏家藏集要方。保壽天蘇陁酒。主治曰。夫養生者。人之急務也。春夏則養陽。秋冬則養陰。聖人行之。愚者背之。堅按此以佩為背。既在古今黈之前。</p>
<p>內格　先兄曰。滑云。格者扞格也。謂身內所為。與陰陽相扞格也。高雲。陰不交陽。陽不交陰。上下表里不通。是謂內格。</p>
<p>鑄兵　太素亦作鑄兵。</p>

<h2>生氣通天論篇第三（太素全存）</h2>
<p>九州九竅　先兄曰。孔頴達禹貢正義曰。周公職錄云。黃帝命風后受圖割地布九州。堅按楚辭九辯敘。故天有九星。以正機衡。地有九州。以成萬邦。人有九竅。以通精明。</p>
<p>十二節　楊曰。十二節者。謂人四支各有三大節也。</p>
<p>其生五其氣三　太素五作在。楊曰。謂天地間九州等物。其生皆在陰陽及和三氣。堅按作在非是。（三氣與弘決外典鈔引文異當考）先兄曰。莊公三年穀梁傳獨陽不生。獨陰不生。獨天不生。三合然後生。注。徐邈曰。古人稱萬物負陰而抱陽。沖氣以為和。然則傳所謂天蓋名其沖和之功。而神理所繇也。據此。則三氣之說非。諸家所說者。蓋可證也。華氏（華佗）中藏經以內外左右上下之氣為解。殊覺支離。堅按春秋繁露曰。寒暑與和三而成物。日月與星三而成光。天地與人三而成德。由此觀之。三而一成。天之大經也。</p>
<p>皆通於天氣　淮南子天文訓。蚑行喙息。莫貴於人。孔竅肢體。皆通於天。</p>
<p>蒼天之氣清淨　太素淨作靜。楊曰。蒼天色也。氣謂四氣和氣者也。天之和氣。清而不濁。靜而不亂。能令人。志意皆清靜也。</p>
<p>傳精神服天氣　太素作搏精神或服天氣。楊曰。搏附也。或有也。聖人令精神相附。不失有服清靜之氣。堅按太素經注並難從。又尤怡醫學讀書記曰。按傳當作專。言精神專一。則清淨弗擾。猶蒼天之氣也。老子所謂專氣致柔。太史公所謂精神專一。動合無形。贍足萬物。班氏所謂專精神以輔天年者是也。若作傳。與義難通。王注精神可傳。惟聖人得道者乃能爾。予未知精神如何而傳也。先兄曰。服。服膺之服。服天氣清淨之理也。志曰。服。餐服也。非是。</p>
<p>欲如運樞　太素運作連。堅按與全元起本合。</p>
<p>體若燔炭汗出而散　朱震亨曰。夫寒邪初客於肌表。邪鬱而為熱。有似燔炭。得汗則解。此仲景麻黃湯之類是也。</p>
<p>因於濕　太素此七句作因於濕。首如裹攘。大筋濡短。小筋弛張。弛張者為拘。二十字。堅按太素蓋屬訛脫。</p>
<p>緛短為拘　集韻。拘俱遇切。拘挐不展（拏牽也）</p>
<p>腫　說文曰。腫癰也。周官瘍醫注曰。腫瘍癰而上生創者。先兄曰。古單稱腫者。皆謂癰腫也。若謂胕腫水腫浮腫者。水病也。</p>
<p>煩勞則張　先兄曰。後漢班超傳。遂雄張南道注。雄張猶熾盛也。蓋此張字義相近。</p>
<p>煎厥　太素作前厥。楊曰。前厥。即前僕也。堅按太素經注並誤。樓英曰。煎厥。仲景所云春夏劇秋冬瘥之病。俗人名曰注夏者也。亦非。○宣明論於素問諸證擬有一方。然多難供用。仍不具錄。</p>
<p>汩汩手不可止　太素作滑滑不止。</p>
<p>薄厥　太素作前厥。先兄曰。孫奕示兒編曰。薄者三聲。音泊者。厚薄之薄。音樸者。疾驅聲。音博者。迫也。但韻書中並不收云云。</p>
<p>汗出偏沮　太素作而出汗偏阻。楊曰。阻壞也。慈呂反。堅按太素經注並誤。</p>
<p>痤疿　太素疿作疽非。楊曰。痤癰之類。然小也。俗謂之癤子。</p>
<p>高粱　太素作膏粱。</p>
<p>足生大丁　先兄曰。唐椿原病集云。此足字今人常如此用者。如中庸邦有道。其言足以興。邦無道。其默足以容。足字義一也。</p>
<p>勞汗當風　衛生寶鑑八白散。治勞汗當風。寒薄為皶郁乃痤及䵟點之類。白丁香白芨白殭蠶白牽牛杜蒺藜新升麻（內白者佳各三兩）三奈子白蘞白芷（各二兩）白附子白茯苓（各半兩）上為末。至夜津唾塗面。明旦以瑩肌如玉散洗之。（王注瘛於玄府中先兄曰瘛當與鍥通荀子勸學篇鍥而不捨鍥注刻也又宋本瘛作瘦可疑）</p>
<p>大僂　醫壘元戎載經文有大僂。方用羌活防風細辛附子當歸甘草川芎續斷白芍藥白朮桂麻黃黃耆熟地黃。曰此藥當與魯山骨碎補丸相表裡。</p>
<p>瘻　楊注骨空論鼠瘻曰。瘻。昔漏也。三因方曰。經云。陷脈為瘻。留連肉腠。脈得寒即下陷。凝滯肌肉。故曰留連肉腠。肉冷亦能為膿血。故為冷漏。須用溫藥。附有陷脈散桂附丸二方。（按陷脈散即千金癭瘤門陷腫散桂附丸即養生必用方溫經丸見外科精義引）</p>
<p>俞氣化薄（至）驚駭　太素俞作輸。下皆然。及作乃。琦曰。按文義不次。蓋他經脫文。</p>
<p>岐伯曰　琦曰。衍文。</p>
<p>起亟也　太素作極起者也。楊曰。五藏藏精。陰極而陽起也。六府衛外。陽極而陰固也。故陰陽相得。不可偏勝也之。（按之字是語助楊注中多見之）</p>
<p>脈流薄疾　先兄曰。馬雲。薄為依薄。疾為急數。</p>
<p>腸澼　楊曰。澼音僻。泄膿血也。堅按集韻。澼匹闢切。脈間水。</p>
<p>凡陰陽之要　先兄曰。以下王註釋為房中補益之義。恐誤。</p>
<p>故陽強　先兄曰。張云強亢也。孤陽獨用。不能固密。</p>
<p>因於露風乃生寒熱　寒熱即虛勞寒熱之謂。（說見原識脈要精微論中）裸露冒風。恐不遽為此病。蓋露疲憊之義。風猶風乎舞雩之風。言勞役疲憊之人。有喜乘風涼。則邪氣侵客。留連不解。遂成風勞也。昭公元年左傳。於是乎節宣其氣。勿使有壅閉湫底以露其體。杜注曰。湫集也。底滯也。露羸也。壹之則血氣壅滯。而體羸露。王念孫謂露為疲憊之義。露羸一聲之轉。舉數徵以確之。（見經義述問）皇侃論語疏。風。風涼也。</p>
<p>春必溫病　太素作春乃病熱。</p>
<p>秋傷於濕　水熱穴論曰。秋者金始治肺將收殺。金將勝火。陽氣在合。陰氣初勝。濕氣及體。王注以漸於雨濕霧露。故云濕氣及體。管子幼官篇秋下曰。君服白色。味辛味。聽商聲。治濕氣。注。秋多霖雨水。故治濕。（春治燥氣夏治陽氣冬治陰氣）又度地篇曰。當秋三月。山川百泉踴。降雨下。山水出。海路距。雨露屬。天地湊汐云云。濡濕日生。土弱難成。</p>
<p>脾氣乃絕　太素脾作肺。楊曰。肺氣克肝。令肝氣津泄。則肺無所克。故肺氣無用也。堅按太素經注。俱似未妥。然此段不及肺。姑從之。</p>
<p>短肌　先兄曰。蓋是陰陽別論所謂索澤。山海經所謂體臘也。</p>
<p>心氣抑　太素無心字。楊曰。咸以資骨。今咸過傷骨。則脾無所克。故肌肉短小。脾氣壅抑也。堅按太素經注並難從。然下有心氣喘滿。（此心字無者為是）</p>
<p>味過於甘　太素甘作苦。衡作衛。楊曰。苦以資心。今苦過傷心。堅按作苦為是。蓋言味過於苦。心氣過實。以為喘滿。火亢血燥。故色黑。水火不濟。故腎氣不衡也。</p>
<p>味過於苦　太素苦作甘。無不字。楊曰。甘以資脾氣。今甘過傷脾氣濡。令心悶。胃氣厚盛也。注曰。厚者敦厚也。壅滿也。經云。土太過曰敦阜是也。堅按作甘為是。據過酸例。不字當作以字。亦言味過於甘。則脾氣過實。胃氣敦阜也。尤怡醫學讀書記曰。脾氣不濡。胃氣乃厚者。由脾不能為胃行其津液。而胃亦不能輸其精氣於脾也。胃不輸。脾不行。則津液獨滯於胃。而胃乃厚。厚猶滯也。寧強厚之足言哉。此說未必然。</p>
<p>沮弛　太素沮作涅。下乃央作乃英。楊曰。心神克肺氣涅泄。神氣英盛浮散無用也之。堅按太素經注。俱欠晰。醫學讀書記曰。沮。消沮也。弛。懈弛也。由辛散太過。而血氣消沮。筋脈懈弛。精氣衰及其半也。豈潤澤長久之謂哉。</p>
<p>氣骨以精　楊曰。調五味各得其所者。則咸能資骨。故骨正也。酸能資筋。故筋柔也。辛能資氣。（原脫資字今誼補）故氣流也。苦能資血。故血流也。甘能資肉。故腠理密也。堅按呂覽簡選欲其精也。注。精猶銳利。</p>

<h2>金匱真言論篇第四（此篇太素全存）</h2>
<p>八風發邪以為經風觸五藏　太素作八風發邪氣。（按太素邪字一用耶字）經風觸五藏。楊曰。八風。八正耶氣也。正月朔日有此八風。發為耶氣。傷人者也。經風。八虛風也。謂五時八風。從虛鄉來。觸於五藏。舍之為病也。</p>
<p>俞在頸項　琦曰。下言春病在頭。頸項即頭之變文。</p>
<p>病在藏　楊曰。藏謂心腹。琦曰。即謂胸脅。對肢節而言。堅按下文南方曰病在五藏。則兩說並難從。</p>
<p>病在肩背　先兄曰。志云秋氣降收。不能主持於皮膚肌腠之間。故邪入俞也。堅按此節脫長夏病所在。</p>
<p>故冬不按蹻　太素作按⿰扌⿱右冋。楊曰⿰扌⿱右冋。幾小反。強勇貌也。堅按楊注可疑。先兄曰。張云。冬元氣伏藏在陰。當伏藏之時。而擾動筋骨。則精氣泄越。以致春夏秋冬各致其病。</p>
<p>鼽衄　先兄曰。呂覽盡數篇。菀處鼻則為鼽為窒。注鼽齆鼻。論衡禮義篇。鼻鼽不通。</p>
<p>故藏於精者　此蓋言冬月慎房者。似不與按蹻相干。</p>
<p>平旦　先兄曰。白虎通云。夏以十三月為正。色尚黑。以平旦為朔。殷以十二月為正。色尚白。以雞鳴為朔。周以十一月為正。色尚赤。以夜半為朔。</p>
<p>藏府　先兄曰。五行大義云。藏者以其藏於形體之故。故稱為藏。亦能藏受五氣。故名為藏。府者以其傳液受納。故謂之曰府。</p>
<p>三焦　巢源舉靈營氣篇及三十一難文曰。謂此三氣。焦乾水穀。分別清濁。故名三焦。</p>
<p>陰陽表裡內外雌雄　太素作陰陽表裡。外內左右。雌雄上下。楊曰。五藏六府。即表裡陰陽也。皮膚筋骨。即內外陰陽也。肝肺所主。即左右陰陽也。牝藏牡藏。即雌雄陰陽也。腰上腰下。即上下陰陽也。此五陰陽氣相輸會。故曰合於天也。</p>
<p>其畜雞　先兄曰。周禮獸醫疏。在野曰獸。在家曰畜。釋文畜。計又切。又淮南子作羊。</p>
<p>其氣臊　惠士奇禮說庖人下曰。月令五臭無臊。故春臭羶。內經五臭無羶。故春臭臊。則類於羶也。繁露夏祭先享。商祭先臊。則又腥臊同類矣。先兄曰。淮南子作羶。</p>
<p>故病在五藏　楊曰。心為五藏主。不得受於外耶。受外耶則五藏皆病也。</p>
<p>其畜羊　先兄曰。淮南子作雞。</p>
<p>其谷黍　說文。黍。禾屬而黏者也。以大暑而種。故謂之黍。孔子曰。黍可為酒。禾入水也。程瑤田。九穀考就說文有詳說曰。黍淡黃色。又有赤黍雜黑黍中者。韓非子吳起欲秦小亭置一石赤黍東門外。又曰赤黍白黍。宋之蘇頌以冒虋⿰虫忽。是不知虋⿰虫忽之為赤白苗也。</p>
<p>其谷稷　白虎通。稷。五穀之長。故立稷而祭之也。稷者得陰陽中和之氣。而用尤多。故為長也。說文。稷。齋也。五穀之長。風俗通孝經說。稷者五穀之長。程瑤田曰。稷。齋大名也。黏者為秫。北方謂之高粱。通謂之秫。秫又謂之蜀黍。高大似蘆。</p>
<p>其數五　先兄曰。鄭玄雲。土生數五。成數十。但言五者。土以生為本。</p>
<p>其畜馬　先兄曰。淮南子作狗。</p>
<p>其谷稻　詳見於湯液醪醴論。</p>
<p>開竅於二陰　楊曰。二陰謂前後陰也。</p>
<p>其臭腐　惠士奇禮說曰。月令冬臭朽。內經冬臭腐。說文朽作㡩。腐也。腐之言無也。氣若有若無為㡩。或從木。獨秋臭腥。故秋膏腥。月令內經與周官皆合。</p>
<p>藏之心意　先兄曰。按意非志意之意。意臆古通。心意猶言胸臆。漢書賈誼鵩鳥賦。請對以意。文選意作臆。</p>

<h2>陰陽應象大論篇第五</h2>
<p>（篇首至風勝則動及上古聖人論理人形一節太素並缺）</p>
<p>積陽為天積陰為地　此二句亦出京房易傳。</p>
<p>清氣在下則生飧泄　先兄曰。儒門事親可汗式中有飧泄不止。用桂枝麻黃湯案當參。</p>
<p>清陽為天濁陰為地　列子天瑞篇。清輕者上為天。濁重者下為地。（易緯乾鑿度同）淮南子天文訓。清陽者薄靡而為天。（注薄靡者若塵埃飛揚之類）濁陰者凝滯而為地。</p>
<p>氣傷於味　國語周語。五味實氣。</p>
<p>味厚則泄薄則通　先兄曰。泄謂大便。通謂小便。</p>
<p>厚則發熱　千金方作厚則秘塞。</p>
<p>壯火之氣衰少火之氣壯　海保元備曰。之字古有則義。馬氏之意或為然。（詩黍離彼黍離離彼稷之苗箋我以黍離離時至稷則尚苗是鄭氏釋之為則也）</p>
<p>氣味辛甘發散為陽酸苦湧泄為陰　先兄曰。王意蓋謂味之辛甘者。其氣發散。故為陽。味之酸苦者。其氣湧泄。故為陰。諸注亦然。特馬氏不同。堅按王注至真要大論曰。湧吐也。泄利也。</p>
<p>風勝則動熱勝則腫燥勝則乾　太素無則動熱勝四字。楊曰。耶風客於皮膚。則為䐜腫也。耶熱燥於皮膚。則皮乾無汗。堅按腫言癰腫。楊說誤。先兄曰。王注六元正紀大論云。動不寧也。又云熱勝氣則為丹熛。勝血則為癰腫。勝骨肉則為胕腫。按之不起。又云。干於外則皮膚皴揭。干於內則精血枯涸。干於氣及津液。則肉乾而更著於骨。</p>
<p>寒勝則浮　太素浮作胕。楊曰。檢義當腐。寒勝肉熱肉當腐。堅按楊說非是。王注六元正紀云。浮言浮起。按之起見也。</p>
<p>濕勝則濡寫　太素無寫字。楊曰。陰濕氣盛。則多汗也。堅按太素經注並非。六元正紀寫作泄。王云。濡泄。水利也。</p>
<p>五行　春秋繁露曰。行者行也。其行不同。故謂之五行。（詳源識藏氣法時論下）</p>
<p>暴怒傷陰暴喜傷陽　先兄曰。靈行針篇。多陽者多喜。多陰者多怒。淮南子原道訓云。人大怒破陰。大喜墜陽。高誘注云。怒者陰氣也。陰為堅冰。積陰相薄。故破陰。喜者陽氣也。陽氣升於上。積陽相薄。故曰墜陽也。</p>
<p>秋必痎瘧　太素作秋生㾬瘧。楊曰。㾬音皆。</p>
<p>在變動為握　管子入國篇。偏枯握遞。注。遞著也。謂兩手相拱著而不申者謂之握遞。</p>
<p>樂恬憺之能　先兄曰。張云能者如關尹子所謂惟有道之士能為之。亦能能之而不為之之義。</p>
<p>故俱感於邪　王注至真要大論曰。外有其氣。而內惡之。中外不喜。因而遂病。是謂感也。先君子曰。此解能盡感字之義。</p>
<p>地有五里　月令。孟春之月曰。毋變天之道。毋絕地之理。毋亂人之紀。</p>
<p>天氣通於肺　聖濟經曰。天氣通肺。清者浮也。先兄曰。肺主鼻。是自鼻通於肺者也。</p>
<p>地氣通於嗌　太素嗌作咽。楊曰。咽中入食。以生五藏六府。故地氣通咽也。聖濟經曰。地氣通嗌。濁者入也。先兄曰。地氣指地土之氣而言。非飲食之氣也。不然。與穀氣通於脾相矛盾。</p>
<p>雷氣通於心　楊曰。心能覺動四支百體。故雷氣通心也。聖濟經曰。雷氣通心神者運也。</p>
<p>穀氣通於脾　太素谷作榖。楊曰。五榖滋味入脾。故榖氣通脾也。堅按此宜與甲乙等互證。</p>
<p>九竅為水注之氣　太素水注二字復。楊曰。聲色芳味。如水從外流於上之七竅。注入經水溲後糟粕之水。從內出下二竅也。有本為外注。理亦相似。</p>
<p>陽之氣以天地之疾風名之　先兄曰。淮南精神訓。耳目者。日月也。血氣者。風雨也。琦曰疾字衍。</p>
<p>暴氣象雷　楊曰。人身中氣上下有聲。故象雷也。</p>
<p>逆氣象陽　楊曰。無陰之陽即為災。故氣逆不和者。象於陽也。堅按象字難解。（次注逆氣降上降字宋本作陵宜改）</p>
<p>治肌膚　先兄曰。說文。肌。肉也。臚。皮也。籀文作膚。釋名。膚布也。布在表也。肌。懻也。膚幕堅懻也。（玉篇北方名堅曰懻）禮運。膚革充盈。疏云。膚。革外薄皮。革。膚內厚皮。（說文獸皮治去其毛曰革）要之肌膚多連言。則肌皮中脆肉。膚肌外薄皮明矣。</p>
<p>水穀之寒熱　太素熱作溫。</p>
<p>以右治左以左治右　楊曰。謂以繆刺刺諸絡脈。謂以巨刺刺諸經脈也。</p>
<p>以我知彼　楊曰。謂醫不病。能知病人。</p>
<p>見微得過　過與五藏生成篇過在。及脈要精微論有過之脈同義。倉公傳有絡脈有過文。王引之經義述聞釋易中過字。曰過者差也。兩爻相失也。蓋此過字。其意相同。</p>
<p>善診者　說文。診。視也。從言𪄀聲。段玉裁注曰。倉公傳。診脈。視脈也。從言者。醫家先問而後切也。</p>
<p>可刺而已　楊曰。以其善診病之始生。即以小針消息去之。不用毒藥者。此則其微易散者也。</p>
<p>其盛可待衰而已　楊曰。病盛不可療者。如堂堂之陣。不可即擊。待其衰時。然後療者。易得去之。如瘧病等也。</p>
<p>故因其輕而揚之　先兄曰。呂覽盡數云。精氣之來也。因輕而揚之。</p>
<p>因其衰而彰之　此衰字與上衰字義自異。此三句楊氏吳氏馬氏高氏則屬之針。徐氏張琦則屬之藥。王氏張氏志聰並不乍言其何。然王張意似言藥。志聰則似言針。且馬曰本節雖言用針。而用藥之理。亦不外是也。今審考之。謂為藥治者。庶為得理。</p>
<p>形不足者（至）補之以味　楊曰。謂寒瘦少氣之徒。補其陽氣也之。又曰。五藏精液少者。以藥以食五種滋味而補養之。先兄曰。吳云藥之為性。氣為陽。投之以養陽之品。則形肉溫而皮膚充。無不足之形矣。味為陰。投之以益陰之物。則精液足而真元復。無不足之精矣。堅按格致餘論曰。精不足者。補之以味。何不言氣補。曰味陰也。氣陽也。補精以陰。求其本也。故補之以味。若甘草白朮地黃澤瀉五味子天門冬之類。皆味之厚者也。經曰。虛者補之。正此意也。上文謂形不足者。溫之以氣。夫為勞倦所傷。氣之虛。故。不足。溫者養也。溫存以養。使氣自充。氣完則形完矣。故言溫不言補。經曰。勞者溫之。正此意也。此說欠當。醫學入門曰。形不足者。溫之以氣。溫存以養。使氣自充。非溫藥峻補之謂也。精不足者。補之以味。非膏粱之謂也。亦未是。（儒門事親曰經云勞者溫之溫謂溫存而養之今之醫者以溫為溫之藥差之久矣此二書所本）</p>
<p>中滿者寫之於內　蘭室秘藏曰。中滿者寫之於內。謂脾胃有病。當令上下分消其氣。下焦如瀆。氣血自然分化。不待泄滓穢。</p>
<p>定其血氣各守其鄉　吳曰。定安也。諸經皆有血氣。宜安定之。使之各守其位。不得出位乘侮也。</p>
<p>氣虛宜𤙲引之　太素𤙲作掣。</p>

<h2>陰陽離合論篇第六（太素全存）吳曰此篇當與皮部論參看</h2>
<p>今三陰三陽不應陰陽　先兄曰。吳云言天地止是一陰一陽。今人有三陰三陽。何其不相應也。</p>
<p>前曰廣明　先兄曰。馬雲心位南方。火位主之。陽氣盛明。故曰廣明。前者上也。上南方也。人之形體。以心胸為前為南。以腎腰為後為北。吳云。曰廣明者。兼額面胸部而言。</p>
<p>結於命門　楊曰。結聚也。</p>
<p>根起於厲兌　太素此下有結於顙上四字。楊曰。陽明脾府之脈。在太陰表前。從足指厲兌上行。聚於顙上額顱。顙。額也。蘇蕩反。</p>
<p>根起於竅陰　太素此下有結於窗籠句。</p>
<p>太陽為開陽明為闔少陽為樞　太素開作閞。（按即關字）楊曰。三陽離合。為閞闔樞。以營於身也。夫為門者。其有三義。一者門閞。主禁者也。膀胱足太陽脈。主禁津液。及於毛孔。故為閞也。二者門闔。謂是門扉主開閉也。胃足陽明脈令真氣止息。復無留滯。故名為闔也。三者門樞。主轉動者也。膽足少陽脈主筋。綱維諸骨。令其轉動。故為樞也。堅按太素與新校正引九墟相合。如今甲乙猶與根結篇不異。皮部論陽明之陽。名曰害蜚。（即闔扉）少陰之陽。名曰樞持。太陽之陽。名曰關樞。乃與太素同義。（開字闔字義具於皮部論又太素載根結論開字亦並作閞）</p>
<p>命曰一陽　先兄曰。張云雖三陽各有其體。然陽脈多浮。若純於浮。則為病矣。故但欲搏手有力。得其陽和之象。而勿至過浮。是為三陽合一之道。故命曰一陽。</p>
<p>根起於隱白　太素此下有結於太倉句。</p>
<p>根起於湧泉　太素此下有結於廉泉句。</p>
<p>根起於大敦　太素此下有結於玉英句。</p>
<p>太陰為開厥陰為闔少陰為樞　太素開作閞。楊曰。三陽為外門。三陰為內門。內門亦有三義。一者門閞主禁者也。脾藏足太陰脈。主禁水穀之氣。輸納於中不失。故為閞也。二者門闔主開閉者也。肝藏足厥陰脈主守神氣出入。通塞悲樂。故為闔也。三者門樞主動轉也。腎藏足少陰脈主行津液。通諸經脈。故為樞者也。堅按太素與九墟合。皮部論少陰之陰。名曰樞儒。心主之陰。名曰害肩。（即闔扉）太陰之陰。名曰關蟄。亦是同義。又先兄曰。吳云三陰行前行後之不同。謂之離。太少厥同出於陰。謂之合。此三陰自為離合也。太陰居中。敷布陰氣。謂之開。厥陰謂之盡陰。受納絕陰之氣。謂之闔。少陰為腎。精氣充滿。則脾職其開。肝職其闔。腎氣不充。則開闔失常。是三陰為樞軸也。</p>
<p>名曰一陰　先兄曰。張云三經皆陰。不得相失也。若過於沉。則為病矣。故但宜沉搏有神。各得其陰脈中和之體。是為三陰合一之道。故名曰一陰。</p>
<p>⿱山⿲彳黑攵⿱山⿲彳黑攵　太素作鍾鍾。楊曰。鍾鍾行不止住貌。堅按鍾通作鍾。白虎通。鍾之為言動也。又廣雅。憧憧往來也。王念孫疏證曰。衝或作沖。說文。憧。意不定也。咸九四。憧憧往來。朋從爾思。釋文云。憧憧。馬雲行貌。王肅云。往來不絕貌。易林咸之坤云。心惡來怪。衝衝何懼。並字異而義同。據念孫此說。衝衝鍾鍾⿱山⿲彳黑攵⿱山⿲彳黑攵。亦皆音通。楊以為行不止住。王以為氣之往來。其義一也。</p>

<h2>陰陽別論篇第七（太素全存）</h2>
<p>四經十二從　太素從作順。（太素中從字皆用順字豈有所避乎）楊曰。四經。謂四時經脈也。十二順。謂六陰爻六陽爻相順者也。又曰。肝心肺腎四脈。應四時之氣。十二爻。應十二月。堅按十二爻亦至人有二字而窮矣。</p>
<p>別於陽者知病處　太素作知病之處。楊曰。陽胃氣也。足陽明脈通於胃。是以妙別陽明胃氣。則諸脈受病所在並知之。</p>
<p>別於陰者知死生之期　楊曰。妙別五藏之脈。即知死生有期。</p>
<p>凡持真脈之藏脈者　太素作凡持真臟之脈者。</p>
<p>懸絕急　太素無急字。楊曰。脈至即絕。久而不來。故曰懸絕。○琦以篇首至懸絕。四日死。為他經脫文。</p>
<p>發心脾　太素脾作痺。</p>
<p>有不得隱曲　楊曰。隱曲大小便。先兄曰。外臺引刪繁骨蒸方云。腎實熱則色炲隱曲。膀胱不通。大便壅塞。</p>
<p>風消　楊曰。風消謂風熱病消骨肉也。先兄曰。儒門事親云。風消者。為風所皷。消渴腸胃。其狀口乾。雖飲水而不咽。此風熱拒於賁門也。</p>
<p>息賁　楊曰。息賁。賁膈也。為膈息也。先兄曰。邪氣藏府病形篇。肺脈滑甚為息賁上氣。徐靈胎難經經釋云。息賁。氣息賁迫也。此說為得。堅按五十六難楊玄操注曰。息長也。賁鬲也。漸長而逼於鬲。上善說與玄操相似。而更覺含混。</p>
<p>腨㾓　太素作喘悁。楊曰。悁季綿反。憂患也。</p>
<p>背痛　先兄曰。經筋篇。手陽明之筋繞肩胛。挾脊直者。從肩髃上頸。足陽明之筋。上循脅屬脊。據此。張說為是。</p>
<p>善噫　先兄曰。宣明五氣篇心為噫。</p>
<p>陰陽相過曰溜　太素溜作彈。楊曰。陰陽之脈。至寸口相擊曰彈也。</p>
<p>起則熏肺使人喘鳴　太素熏作動。鳴作喝。</p>
<p>淖則剛柔不和　楊曰。淖亂也。音濁。言陽散陰消。故剛柔不和。則十二經氣絕也。堅按淖訓亂。未知所出。當考。（宜考八正神明論）</p>
<p>闢陰　楊曰。闢重疊至。陰太陰重也。堅按此解似是。</p>
<p>陰陽結斜　太素作陰陽結者針。琦曰。斜義不詳。或衍字也。澀江善曰。斜恐糾字之訛。宋本作斜。又後世俗訛斜作糾。說文糾繩三合也。從系丩。後漢書注。糾。纏結也。結糾即結聚纏合之謂。文義始妥。說文又曰。丩相糾繚也。一曰瓜瓠結丩起。結糾與結丩同。</p>
<p>二陽結　太素作三陽結。</p>
<p>三陽結謂之隔　太素三作二。楊曰。便溲不通也。</p>
<p>陰搏陽別　先兄曰。以下至篇末。高注並不以脈候而解。堅按脈經曰。脈平而虛者。乳子法也。經云。陰搏陽別。謂之有子。此是血氣和調。陽絕陰化也。</p>
<p>陽加於陰　許叔微傷寒百證歌曰。素問云。陽加於陰。謂之有汗。俗謂過關之脈也。</p>
<p>三陰俱搏（至）十日死　琦曰。陰搏則陰盛。陽搏則邪實。故皆主死。陰陽離合論。搏而勿浮。名曰一陽。搏而勿沉。名曰一陰。是陰陽和平。此言搏為死候。則陽搏而浮。陰搏而沉。可知。發盡句疑有誤。</p>

<h2>靈蘭秘典論篇第八（太素所缺）</h2>
<p>先兄曰。篇中言靈蘭之室。則明非靈臺蘭室二處。</p>
<p>心者君主之官也　管子心術曰。心之在體。君之位也。九竅之有職。官之分也。心處其道。九竅循理。荀子天論篇曰。心居中虛。以治五官。夫是之謂天君。注。心居於中空虛之地。以制耳目鼻口形之五官。是天使為形體之君也。</p>
<p>肺者相傅之官　先兄曰。吳云。相去聲。位高非君。猶之宰保相傅也。主行營衛。猶之燮陰陽而贊化育。故曰治節出焉。</p>
<p>至道在微　海保元備曰。此句與上文其宗大危不相承接。高援大禹謨人心惟危。道心惟微為解。非是。</p>
<p>閔閔之當　海保元備曰。閔閔通老子二十章俗人昭昭。我獨昏昏。俗人察察。我獨悶悶。五十八章。其政悶悶。悶悶古本皆作閔閔。閔閔悶悶。皆以謂道之玄妙。王以為深遠。義或本此。</p>
<p>其形乃制　先兄曰。按萬理本只在自家心上。故一念之萌。推之大之。其形之為殃為壽者。為彼所制而已。猶度量之數。本萌於恍惚中也。</p>

<h2>六節臟象論篇第九（太素缺）</h2>
<p>三百六十五節　先兄曰。春秋繁露人有三百六十節。偶天之數也。淮南子天有十二月。以制三百六十日。人有十二肢。以使三百六十節。堅按九針十二原曰。節之交三百六十五會。又曰所言節者。神氣之所遊行出入也。非皮肉筋骨也。蓋十二原所言。即系穴俞氣穴。論文足以互證。本篇所言。亦此義也。</p>
<p>草生五色　張曰。此以草言者。木亦在其中矣。青黃赤白黑。五色之正也。然色有淺深間雜之異。故五色之變。不可勝視。酸辛苦甘鹹。五味之正也。然味有厚薄優劣之殊。故五味之美。不可勝極。先兄曰。孫子兵勢篇。聲不過五五聲之變不可勝聽也。色不過五。五色之變不可勝觀也。味不過五。五味之變不可勝嘗也。又見女子及淮南子厚道訓。</p>
<p>天食人以五氣　胡渭洪範正論曰。素問六節臟象論云。天食人以五氣。地食人以五味。五氣入鼻。藏於心肺。五味入口。藏於腸胃。夫氣云入鼻。則五氣當即是五臭。故王冰注素問曰。五氣者云云。以氣為臭。僅見於此。此說為是。陰陽應象大論。氣味辛甘。發散為陽。本草經藥有寒熱溫涼四氣。所謂氣者。俱是性。亦非氣臭之氣也。聖濟經藥理篇。審劑篇。並論氣臭。文繁不錄。</p>
<p>五色剺明　太素剺字皆作循。與剺相似。又莊子大宗師以德為循。釋文循本作剺。</p>
<p>神之變也　先兄云。吳云。變謂宰其變也。</p>
<p>其華在面其充在血脈　先兄曰。汪云。華英華也。充溢也。</p>
<p>肝者罷極之本　或曰罷極當作四極。四極見湯液醪醴論。即言四支。肝其充在筋。故云四極之本也。</p>
<p>魂之居也　先兄曰。左傳昭二十五年。樂祁曰。心之精爽。是謂魂魄。禮郊特牲。魂氣歸於天。形魄歸於地。又祭義。氣也者。神之盛也。魄也者。鬼之盛也。注。氣謂噓吸出入者也。耳目之聰明為魄。</p>
<p>脾胃（至）通於土氣　先兄曰。滑云。此處疑有錯誤。當云脾者倉廩之本。營之居也。其華在唇四白。其充在肌。此至陰之類。通乎土氣。胃大腸小腸三焦膀胱名曰器。能化糟粕。轉味而入出者也。高本據以僭改。又潘揖醫燈續焰。亦有三焦膀胱。名雖二而實一之說。宜參。堅按琦所改訂亦與滑同。曰對五神藏言。故曰器。若脾藏不得名為器也。此說不必。</p>
<p>故人迎一盛　張曰。一盛二盛。猶言一倍二倍。謂以人迎寸口相較。或此大於彼。或彼大於此。而有三倍四倍之殊也。</p>
<p>關格之脈羸　宋本羸作贏。然新校正既云贏當作盈。則古本作贏明矣。但其於經義作羸似是。（辨校正文宋本有訛讀者當自知）○琦曰。蓋關格雖有內外之不同。而總為陰盛而病陽。外格則陽浮。內關則陽陷。非陽盛而關陰於外之說也。繹越人仲景甲乙經之義。則得之矣。</p>

<h2>五藏生成篇第十（太素缺篇首一段）</h2>
<p>其主腎也　先兄曰。高雲。外合外榮者藏之成。主者藏之生。五行之理。制而後生。主者生之謂也。火受水制。則水有餘而木氣旺。木旺則生火。制之乃所以生之。</p>
<p>翠羽　先兄曰。說文。翠青羽雀也。出鬱林。從羽卒聲。</p>
<p>縞　楊曰。縞工道反。白練。堅按任氏大椿釋繒曰孰帛曰練。生帛曰縞。（段氏說文注引繒說文帛也）</p>
<p>裹朱　先兄曰。說文。絑。純赤也。堅按段氏曰。凡經傳言朱皆當作絑。朱其段借字也。朱者赤心木也。</p>
<p>色味當五藏　先兄曰。張云。當。合也。志云。當。承也。值也。</p>
<p>諸脈者皆屬於目　先兄曰。吳云。以經脈考之。膀胱之脈。起於目內眥。胃之脈交頞中。膽脈起於目銳眥。大腸之脈貫頰。小腸之脈上頰。至目銳眥。其支者至目內眥。三焦之脈。至目銳眥。又心脈系目系。是諸脈皆屬於目也。</p>
<p>諸血者皆屬於心　先兄曰。陰陽應象大論。心主血。痿論。心主身之血脈。</p>
<p>諸氣者皆屬於肺　先兄曰。靈五味篇。大氣之搏而不行者。積於胸中。命曰氣海。出肺循喉咽。</p>
<p>此四支八溪之朝夕也　楊曰。諸脈髓筋血氣等五屬血氣。皆於四支八溪。朝夕往來。先兄曰。子華子云。一人之身為骨。凡三百有六十。精液之所朝夕也</p>
<p>足受血而能步　先兄曰。吳云人之所以能步能握能攝者。雖繫於筋。若無血以養筋。則痿弱無力。</p>
<p>故為痹厥　吳曰。言痹厥而不言泣。痹可以兼泣也。</p>
<p>人有大谷十二分（至）少十二俞　太素俞作關。楊曰。小曰溪。大曰谷。溪谷。皆流水處也。故十二經脈。名為大谷。三百六十五胳。名曰小溪。據前後體例無五十四。手足十二大節名十二關。堅按楊溪谷解非是。春秋繁露曰。天以終歲之數。成人之身。故小節三百六十六。副日數也。大節十二分。副月數也。蓋小節大節。即小溪大谷也。</p>
<p>針石緣而去之　先兄曰。張注本於吳氏。</p>
<p>診病之始五決為紀　始紀押韻。管子等古書多見之。如老子十四章能知古始。是謂道紀。亦是。</p>
<p>下虛上實　本事方曰。下虛者腎虛也。故腎厥則頭痛。又曰治腎氣不足。氣逆上行。頭痛不可忍。謂之腎厥。其脈舉之則弦。按之石堅。宜玉真圓。（硫黃二兩石膏半夏各一兩硝石一分上細末薑汁糊丸梧子大每服三十丸薑湯或米飲下）更灸關元穴百壯。良方中硫黃丸亦佳。（用硫黃硝石二味）</p>
<p>狥蒙招尤　太素狥作侚。楊曰。侚蒙。謂眩冒也。招尤。謂目招搖。頭動戰尤也。尤音宥。先兄曰。本事方云。狥蒙者。如以物蒙其首。招搖不定。目眩耳聾。皆暈之狀也。故肝厥頭暈。腎厥巔痛。不同如此。（沈承之據於此）莊子怵然有恂目之志。釋文李頤又作眴眩也。蓋狥蒙即眩冒。又檀弓詠斯猶注吐。猶。當作搖。聲之誤也。搖。謂身搖動也。秦人猶搖聲相近。堅按楊說為是。而先兄意相符。但楊以招尤屬之頭目。似謬。考說文。柖。樹搖貌（段曰榣各本作搖今正）搖樹動也。段氏注曰。柖之為言招也。樹高大則如能招風者然。漢志郊祀歌。體招搖若永望。注。招搖申動之貌。按此招搖與柖榣同。又頁部曰。㹍顫也。段注曰。按玄應書兩引說文皆作⿰牜⿱宀隹云。謂掉動不定也。蓋演說文語通俗文云。四支寒動。謂之顫⿰牜⿱宀隹。（今按玄應書又曰載⿰牜⿱宀隹字體作顫又作𤙛同之見反）蓋上虛下實。故眩暈昏冒。身體振掉。不能自持。此恆見之證也。（說文顫頭不定也又有版字曰顫也玉篇𡧙尤咒切頭搖也與㹍同據此楊注似宜從然尤既與搖同且招尤連言不必系頭目頭動故從頁實非招尤本義也如顫字則本是頭動假以為身搖）本事方曰。上虛者。肝虛也。故肝虛則頭暈。又曰頭暈清頭目。治肝厥。鉤藤散。（鉤藤陳皮半夏麥門冬茯苓茯神人參甘菊花防風各半兩甘草一分石膏一兩上粗末每服四錢水一盞半生薑七片煎服）</p>
<p>甚則入肝　先兄曰。張云此下三節。不言甚則入藏。蓋文之缺而義則同也。</p>
<p>䐜脹　先兄曰。說文。䐜。起也。</p>
<p>支鬲胠脅　先兄曰。按鬲與膈同。支拄隔塞也。</p>
<p>下厥上冒　先兄曰。冒又作瞀。莊子予適有瞀病。李頤曰。瞀風眩貌。司馬彪云。瞀讀為齋）</p>
<p>五色微診　先兄曰。張云微診。沴有精微也。</p>
<p>外疾　先兄曰。吳云。外疾。用心於外而致疾也。張云。外疾。外邪也。堅按琦曰二字疑衍。</p>
<p>上堅而大　琦曰。上字疑衍。王氏以寸口釋之。非也。堅而大。沉實之診。陰凝之象也。故積氣在小腹與陰。</p>

<h2>五藏別論篇第十一（太素全存）</h2>
<p>或以腦髓為藏　太素此下有或以為府一句。先兄曰。海論腦為髓之海。</p>
<p>六府者（至）滿而不實也　楊曰。腸胃更滿。故為實也。更虛。故不滿也。飽食未消。腸中未有糟粕。即胃實腸虛也。食消以下。於腸胃中未有食。入即腸實胃虛也。以其胃虛。故氣得上也。以其腸虛。故氣得下也。氣得上下。神氣宣通。長生久視。</p>
<p>氣口　先兄曰。經脈別論四時氣篇作氣口。五色篇終始篇作脈口。六節藏象論禁服篇作寸口。</p>
<p>六府之大源也　先兄曰。海論胃者水穀之海。其輸上在氣街。下至三里。</p>
<p>皆出於胃變見於氣口　楊曰。胃為水穀之海。六府之長。出五味以養藏府血氣。衛氣行手太陰。脈至於氣口。五藏六府善惡。皆是胃氣所將。而來會手太陰。見於氣口。故曰變見也。</p>
<p>故五氣入鼻（至）不利也　琦曰。此與上文義不屬。有遺脫也。</p>
<p>凡治病（至）與其病也　楊曰。療病之要。必須上察人迎。下診寸口。適於脈候。又觀志意有無。有志意者。不可為巫及說療疾。復觀其人病態能可療以不。堅按適。猶調也。（宜參離合真邪論）即平人氣象論平息以調之為法之義。楊志意注非是。蓋不過言病者之苦喜厭欲耳。</p>

<h2>異法方宜論篇第十二（太素全存）</h2>
<p>鹽勝血　先兄曰。五藏生成篇。多食鹹則脈凝泣而變色。宣明五氣篇。咸走血。血病無多食鹹。</p>
<p>砭石　太素作𥦖石。楊曰。瘍養良反。瘡也。𥦖針破癰已成。冷石熨其初起。此言東方疾異療。堅按𥦖是砭訛。玉篇。𥦖。甫廉切。刺也。以石刺病也。砭同上。可以證焉。（已乏同用猶祀之與⿱敄牛犯之與𩡩）楊分砭石為二誤。且冷石未審其解。</p>
<p>陵居　先兄曰。後漢西羌傳注。引作山居。</p>
<p>褐薦　太素作疊篇。楊曰。不衣者。不以綿為衣。而以疊篇其身。堅按疊篇俟考。</p>
<p>華食　太素作䇥食。楊曰。䇥。詐白反。食物皆壓䇥磨碎。不以完粒食之。</p>
<p>毒藥　鶡冠子環流篇曰。味之害人者謂之毒。又曰。積毒為藥。工以為醫。月令孟夏之月曰。是月也。聚百藥。注。蕃廡之時。毒氣盛。</p>
<p>灸焫　先兄曰。志云。北方陰寒獨盛。陽氣閉藏。用艾焫灸之。能通。按元陽於至陰之下。</p>
<p>南方者　柅原性合萬安方曰。岐伯曰。南方其地下。水土弱。霧露之所聚也。故瘴氣獨盛於廣南。</p>
<p>食胕　楊曰。胕。扶付反。義當腐。（扶原作快今改）</p>
<p>痿厥寒熱　楊曰。人之食雜。則寒溫非理。故多得寒熱之病。不勞則血氣不通。故多得痿瘚之病。故導引按撟。則寒熱咸和。血氣流通。</p>
<p>導引按蹻　太素作按撟。楊曰。撟。巨紹反。又曰。撟又九紹反。舉平也。先兄曰。志云。宜導引其四支。以引氣血之流通也。堅按楊注平字當作手。說文。撟寒手也。又文選長楊賦注。引服𥽇云。蹻舉足也。據此。王注舉手足亦有所本。然其云蹻捷者。義遂不通。</p>
<p>得病之情　王以性懷釋之。恐非。志曰。得病之情者。知病之司於天時。或因於地氣。或因於人之嗜欲。得病之因情也。此解亦未允。蓋病之寒熱虛實。皆得謂之情。乃是言得所以為癰瘍。為病生於內。為滿病為攣痹為痿厥寒熱之情也。如余聞虛實以決死生。願聞其情。（玉機真藏論）診病之道。觀人勇怯。骨肉皮膚。能知其情以為診法也（經脈別論）形之疾病。莫知其情。（寶命全形論）莫知其情而見邪形也。（八正神明論）索之於經。慧然在前。按之不得。不知其情。故曰形。（同上）良工所失。不知其情。（疏五過論）愚醫治之。不知補瀉。不知病情。（同上）正邪之中人也。微先見於色。不知於身。若有若無。若亡若存。有形無形。莫知其情。（邪氣藏府病形篇）可以互證焉。千金方曰。風者善行而數變。在人肌膚中。內不得泄。外不得散。因人動靜。乃變其性。所謂性者。文異而意同。但次篇系之病者數問其情者。即性懷已。方盛衰論追陰陽之變章。五中之情。其義又異。</p>

<h2>移精變氣論篇第十三（太素全存）</h2>
<p>祝由　楊曰。上古之時有疾。但以祝為去病所由。其病即已。又注次節曰。是以有病以祝為由。移精變氣去之。無假於針藥也。堅按上說即王所據。方以智通雅曰。由內經有祝由說。又䈙祝榴也。即祝。段玉裁說文法曰。惠氏士奇曰。素問黃帝曰。古之治病。可祝由而已。祝由即祝䈙也。已止也。玉裁按玉篇曰。古文作袖。（按惠言出禮說又古鈔真本玉篇言部曰𥲊大又反說文𥲊祝也或為䈙字在爾部今本說文與此不同而真本玉篇示部繫於缺佚）此說似是。然據賊風篇。則舊注為當。又格致餘論。虛病痰病。有似邪祟。論曰。或曰外臺秘要有禁咒一科。庸可廢乎。予曰。移精變氣。乃小術耳。可治小病。若內有虛邪。外有實邪。當用正大之法。自有成式。昭然可考。（按外臺秘要無禁咒科千金翼方聖濟總錄等有之）蓋古祝由之法不傳。故朱氏有斯言。</p>
<p>僦貸季　太素無僦字。楊曰。貸季。上古真者也。</p>
<p>草蘇草荄之枝本末為助　太素蘇作荄。助作眇。堅按太素非是。莊子天運篇。蘇者取而爨之。釋文李云。蘇草也。方言。江淮南楚之間。謂之蘇。（方言蘇芥草也原識⿱⺮墜草字錯）草荄之枝。猶言草荄與枝之字。古有與義。詳見王引之經傳釋詞。</p>
<p>一者因得之　宋陳言以三因極一命其書。實本於此段。而且以此因字為病因之義。蓋張注之謬所自來也。</p>

<h2>湯液醪醴論篇第十四（太素全存）</h2>
<p>五穀　五音五味篇。麥大豆稷黍麻。與月令同。程瑤田九穀考曰。素問金匱真言論五方之谷曰。麥黍稷稻豆。鄭氏注職方氏之五種曰。黍稷菽麥稻。漢書地理志引職方氏師古注之全同。後鄭管子書多周秦間人所傅益。其地員篇載五土所宜之種曰。黍秫菽麥稻。淮南子正谷注。菽麥黍稷稻。漢書音義韋昭曰。五穀黍稷菽麥稻也。自金匱真言以下。說並不異。而五常政大論。則又進麻為木谷。至火谷則麥黍互用。（程氏更舉數說茲不繁引）</p>
<p>湯液及醪醴　楊曰。醪汁澤酒。（按澤當滓）醴宿酒也。堅按扁鵲傳曰。其在腸胃酒醪之所及也。考周禮酒正辨五齊之名。一曰泛齊。二曰醴齊。注。泛者成而滓浮泛泛然。如今宜成醪矣。醴猶體也。成而汁滓相將。如今恬酒矣。（醴有清有糟宜考周禮及內則註疏）惠士奇禮說曰。酒正四飲。漿人六飲。皆有醫。醫者古之湯液。今之酒漿也。故漿人掌之。酒正辨焉。說文。醫治病上殹者惡姿也。得酒而使。一曰殹病聲酒所以治病。周禮有醫酒。效祀志順風作液湯。如淳曰。藝文志有液湯經。其義未詳。愚按內經黃帝問曰。上古聖人作為湯液醪醴。然則古之治病。未有毒藥針石。先有湯液酒醪。故謂之醫。此說稍精。然熟考註疏。所謂醫者。與醴無大異。而經文下一及字。則湯液與醪醴。其品蓋殊。竊以為稱云湯液。則恐是煮米取汁者。而醪醴者是醞釀所成也。要之邈古之物。無由確知耳。元人施圓端效方制有湯液方。姑存於下。（湯液方治諸虛百損氣血勞傷因病久深變生膈氣腹脅刺痛噎痞心胸食結不消噦逆嘔水翻胃吐食大便硬秘形瘦體枯以致難救者（越信之）黃米糯米（各三升同醋煮粥）曲細末（三斤）量寒溫和器內停發過沉澄之時又入餳稀六斤等候再糟粕訖日自然上清下澄以成湯液晝夜十二時辰停分三度度一服氣藥膈氣丁沉藥後停待一時溫服湯液一盞液後又候一時更吃白餳數塊日夜長短品二服飲液食餳均九度飲食湯液造作煎烹食藥相應頤生養氣而以樂天知命實腹虛心百日獲安知故者眾）</p>
<p>稻米　程瑤田九穀考曰。說文。稻。稌也。稌。稻也。周禮曰。牛宜稌稬。沛國謂稻曰稬。案稻稌大名也。稬糯也。其黏者也。（字林糯黏稻也）稉之為言硬也。不黏者也。（字林稉稻不黏者）南方謂之秈。（廣雅秈稉也玉篇秈稉稻也）七月之時。十月穫稻。（月令季秋嘗稻注云稻始熟也）為此春酒。以介眉壽。月令仲冬乃命大酋。秫稻必齊。內則雜記。並有稻醴。左傳進稻醴粱糗。內經黃帝問為五穀湯液及醪醴。岐伯對曰。必以稻米炊之。稻薪皆言釀稻為酒醴。是以稻為黏者之名。黏者以釀也。⿰飠制黏（句）黍稷黏（句）秫皆可以釀者也。內則糝配（餰同）用稻米。籩人職之餌糍。注。亦以為用稻米。皆取其黏耳。先兄曰。高雲湯液醪醴。五穀皆可為之。而秋成之。稻穀尤佳。志云。稻得春生夏長秋收冬藏之氣。具天地陰陽之和者也。</p>
<p>稻薪　謂禾稗也。以供炊爨甚佳。</p>
<p>神不使也　張曰。凡治病之道。攻邪在乎針藥。行藥在乎神氣。故治施於外。則神應於中。使之升則升。使之降則降。是其神之可使也。若以藥劑治其內。而藏氣不應。針艾治其外。而經氣不應。此其神氣已去。而無可使矣。雖竭力治之。終成虛廢已爾。是即所謂不使也。</p>
<p>榮泣　太素泣作澀。</p>
<p>其有不從毫毛生而　宋本生而易位。</p>
<p>津液充郭　太素充作虛。郭作廓。楊曰。腎傷竭也。廓。空也。堅按根結篇滿而補之。則陰陽四溢。腸胃充廓。五癃津液。別論消穀。則蟲上下作。腸胃充廓。上膈篇。蟲寒則精聚守於下管。則腸胃充郭。（原識引文有訛）爾雅。廓。大也。方言。張小使大謂之廓。蓋靈樞充廓似張大之謂。如本篇未必是。存考。又脹論。夫脹者。皆在於藏府之外。排藏府而郭胸脅。脹皮膚。楊曰。氣在其中。郭而排之。亦張大之謂。（下文曰胸腹藏府之廓也其義蓋殊）</p>
<p>平治於權衡　先兄曰。吳云平治之法。當如權衡。陰陽各得其平。勿令有輕重低昂也。堅按雞峰普濟方引初和甫曰。去遠陳莝。謂滌腸胃中腐敗也。脈浮如秤。衡之在上。即發汗。鬼門汗空也。脈沉如秤。槌之在下。即利小便。淨府小腸也。此淨府解謬。</p>
<p>開鬼門潔淨府　先兄曰。玉機徵義云。鬼門者。猶幽玄之謂。有毛竅而不見其開闔。淨府者。謂膀胱。內無入孔。而外有出竅。為清淨津液之府。按此鬼門解誤。淨府解乃張注所本。</p>
<p>精以時服　琦曰。當作復。堅按張介賓注有所本。不須改。</p>

<h2>玉版論要篇第十五（太素全存）</h2>
<p>奇恆者言奇病也　太素言奇病也。作言奇恆病。堅按五藏別論。奇恆之府。亦奇於恆常之謂。</p>
<p>道之至數　楊曰。數理也。堅按管子注。數。理也。老子注。數。謂理數也。（更宜考經籍纂詁）</p>
<p>神轉不回　沉作詰寓簡曰。卦終於未濟何也。天下之事。無終窮也。而道亦無盡也。若以既濟而終。則萬法斷滅。天人之道泯矣。黃帝書所謂神轉不回。回則不轉。浮屠所謂不住無為。不斷有為者是也。</p>
<p>容色　太素作客色。堅按此與全元起合。王以他氣注之。恐原本亦作客色也。又論衡曰。妖氣見於天。容色見於面。面有容色。雖善操行。不能減。死徵已見也。據此。古或有容色語。當考。</p>
<p>色夭面脫不治　太素作其色赤面兌不為治。楊曰。宛（按當兌字）尖小謂面瘦無肉也。堅按太素經注並難從。</p>
<p>病溫虛甚死　張曰。病溫邪有餘。虛甚正不足。正不勝邪。故死志曰。正氣虛甚。邪惟內侵。邪盛正虛。必死之候也。堅按據王注傷寒真死下虛人者即是。</p>
<p>搏脈痹躄　先兄曰。張云。上文言奇恆之色。此下言奇恆之脈。</p>

<h2>診要經終論篇第十六（太素佚）</h2>
<p>人氣在心　先兄曰。吳云。地氣始閉。陽氣在中。人以心為中。故人氣在心也。</p>
<p>人氣在腎　琦曰。按本文言人氣所在。與金匱真言四時刺逆從諸義不同。三月四月之在痹。九月十月之在心。尤難曲解。始依王義說之。以俟知者。又曰。此下與四時刺逆從論語相出入。然彼文為得。蓋所傳異辭。不無錯入也。</p>
<p>散俞　先兄曰。按散俞對本輸而言。譬若太陰肺經。除少商魚際太淵經渠尺澤之外。共為間散之穴。謂之散俞。寒熱病篇。春取絡脈。夏取分腠。秋取氣口。冬取經輸。四時氣篇。春取經血脈分肉之間。甚者深刺之。間者淺刺之。夏取盛經孫絡。取分間。絕皮膚。秋取經俞。邪在府取之合。冬取井滎。必深取之。水熱穴論。春者木始治肝氣始生。肝氣急。其風疾。經脈常深。其氣少。不能深入。故取絡脈分肉間。終始篇。春氣在毛。夏氣在皮膚。秋氣在分肉。冬氣在筋骨云云。蓋春氣始生之際。邪氣入淺。故其刺亦不欲深。故刺間散之穴也。</p>
<p>直下　先兄曰。吳云。直下言直刺而下。不必按而散其衛氣也。</p>
<p>解墮　呂覽季秋紀曰。行春令則暖風來至。民氣解墮。月令作解惰。釋文。解古買反。惰徒臥反。釋名曰。懈。解也。骨節解緩也。</p>
<p>益嗜臥又且善夢　先兄曰。吳云。刺夏分而傷心。則神疲而嗜臥。心虛神不安。故又善夢。</p>
<p>布憿　先兄曰。吳云。以布憿著之者。以胸腹近於五藏。遮風寒也。馬雲。從布上刺者。不欲深入也。（志定著之解繫於誤讀王注形定）</p>
<p>目睘　韓非子外儲說。肦然環其眼。注。環轉其眼以作怒也。吳蓋本於此。張子和十形三療曰。清州王之一子。年十餘歲。目赤多淚。眾工無效。戴人見之曰。此兒病目睘。當得之母腹中被驚云云。此與少陽經終其證自殊。</p>
<p>善驚妄言　琦曰。陽明病聞木音則惕然驚。罵詈不避親疏。一由土虛畏木。一則熱盛鑠心。非陽明之絕症。王氏據以說此。誤也。堅按此說不必。</p>
<p>不仁　楊注痹論曰。仁者。親也。覺也。營衛及經絡之氣。疏澀不營皮膚□中。故皮膚不覺痛癢。名曰不仁。堅按成無己注平脈法曰。仁者柔也。不仁者。言不柔和也。為寒熱痛癢俱不覺知者也。又曰。不仁為強直而無覺也。趙大中風科集驗名方曰。中風不仁者。蓋仁為眾善之長。主溫和慈順。今則四肢強直。不能舒捲。筋攣緊急。是由榮衛不通。故為不仁也。二氏以強直為解。欠核。</p>

<h1>卷第二</h1>

<h2>脈要精微論篇第十七</h2>
<p>（此篇太素首段至關格及心疝病成而變二節並缺余皆在）</p>
<p>診法　先兄曰。張云。凡切脈望色審問病因。皆可言診。而此一節以診脈為言。堅按此說本於馬氏診要經終論注。</p>
<p>陰氣未動陽氣未散　尤怡曰。按營衛生會篇云。平旦陰盡而陽受氣矣。夫陰方盡。何云未動。陽氣方受。何云未散。疑是陽氣未動。陰氣未散。動謂盛之著。散謂衰之極也。堅按此說未必是。志本於滑氏曰。陰靜而陽動。有所動作。則靜者動而動者散亂矣。</p>
<p>參伍　先兄曰。參伍二字。朱子文集詳釋之。</p>
<p>渾渾　先兄曰。山海經東望泑澤河水所潛也。其源渾渾泡泡。注。水濆湧之聲也。</p>
<p>蒼璧　先兄曰。周禮大宗伯聽以蒼璧禮天。</p>
<p>中盛藏滿氣勝傷恐者　先兄曰。吳云。藏滿。藏氣壅塞而滿也。堅按琦曰。氣勝五字衍文。濕傷脾土。故中滿盛。而聲微不清。</p>
<p>膝者筋之府　張云。筋雖主於肝。而維絡關節以立此身者。惟膝膕之筋為最。故膝為筋之府。筋憊若是。則諸經之失強也。</p>
<p>岐伯曰反四時者云云　琦曰。此他經脫文。不可強解。堅按此與原識意相協。</p>
<p>萬物之外六合之內　先兄曰。物在天中。天包物外。蓋萬物之外。六合之內。猶言天地間也。</p>
<p>彼秋之忿　太素忿作急。楊曰。秋之三月。陰氣之始。風高氣勁。故名為急。堅按此與王注合。</p>
<p>脈與之上下　楊曰。春夏之脈。人迎大於寸口。故為上也。寸口小於人迎。故為下也。秋冬之時。寸口大於人迎。故為上也。人迎小於寸口。故為下也。此乃盛衰為上下也。堅按就規矩權衡考之。猶以馬注為優。</p>
<p>從陰陽始　先兄曰。志云。從陰陽始。即冬至陽氣。夏至陰氣。微上微下。陰陽上下。自有經常之理。（紀始押韻既見五藏生成篇）</p>
<p>四時為宜　宜字當從太素作數。蓋此段分之。有期以下二十四句。每二句押以同韻。度與宜其韻不通。度與數其部則一。（廣韻宜在上平五支度在去聲十二暮數在上聲九麌段玉裁六書音均表暮麌並在古音第五部）仍知太素為是。蓋四時為數者。言從五行衰王而為準。度者必就四時為計數。</p>
<p>補寫勿失　太素作循數勿失。堅按太素為是。蓋此段隔句。每取句末一字以為次句起語。上云為數。故承以循數言。人之有脈。循四時之數。不敢違失。猶與天地云。為其理如一也。且本節論診法。不及針藥。補寫二字。殊無著落。益知舊文為訛。</p>
<p>得一之精以知死生　太素精作誠。堅按始之以下三十三字疑不必羨文。莊子刻意純素之道。唯神是守。守而勿失。與神為一。一之精通。合於天倫。句法相似。</p>
<p>短蟲　長蟲　先兄曰。說文蟯。腹中短蟲也。蛕。腹中長蟲也。○楊曰。凡夢有三種。人有吉凶。先見於夢。此為徵夢也。思想情深。因之而夢。此為想夢也。因其所病。見之於夢。此為病夢也。此十一種夢。皆病夢也。堅按周禮六夢。三曰思夢。即楊所謂想夢也。又楊以夢診為答。病乍在內之問。不可從。</p>
<p>持脈有道虛靜為保　先兄曰。李云虛者。心空而無雜思也。靜者。身靜而不喧動也。堅按素靈中道寶押韻不一而足。如治病之道。氣內為實（疏五過論）治數之道。從容之葆。（徵四失論）持針之道。堅者為實。（九針十二原論）營氣之道。內谷為寶。（營氣篇）灸刺之道。何者為實。（四時氣篇寶原作定今從甲乙）審知其道。是謂身寶。（五亂篇）是也。又諸子間亦見之。如管子成功之道。羸縮為寶。○六鞱。凡謀之道。周密為寶。（武韜）必出之道。器械為寶。（虎韜）吳子。夫安國家之道。先戒為寶。（料敵）韓非子。人主之道。靜退為寶。（主道）呂覽凡食之道。無飢無飽。是之謂五藏之葆。（盡數）凡農之道。厚之為寶。（審時）是也。（廣韻道寶並在上聲皓韻）琦曰。保當作寶。未確。</p>
<p>春日浮如魚之逰在波　太素逰作遊。波作皮。楊曰。春時陽氣初開。脈從骨髓流入經中。上至於皮。如魚游水。未能周散。堅按照在膚下。膚在骨而砍之。則改作在皮。疑是。當考。</p>
<p>蟄蟲將去　或曰。王訓藏去者。漢書蘇武傳。去屮實而食之。師古曰。去謂藏之也。三國志華佗傳。何忍無急去藥。裴松之曰。古語以藏為去。是其義也。此說似是。說文。蟄。藏也。此蓋謂當蟄之蟲。將蟄地下也。</p>
<p>按而紀之　紀。經紀之謂。猶理也。</p>
<p>心脈搏堅而長　太素搏作揣。下並同。楊曰。揣。動也。長謂寸口脈長一寸也。此為心脈盛動堅。心脈上至舌下。故盛動堅。舌卷不能言堅。按廣雅。揣。動也。先兄曰。張云。五藏病脈。一曰搏堅而長。一曰耎而散。而其為病多皆不足。何也。蓋搏堅而長者。邪勝於正。是謂邪之所湊。其氣必虛也。一以有邪而致虛。一以無邪本虛。雖若一而病本不同。所以當辨也。</p>
<p>當消環自已　太素環作渴。楊曰。耎而散者病消渴。以有胃氣故自已。尤怡曰。按搏堅而長者。太過之脈。心象火而脈縈舌。心火有餘。故病舌卷不能言也。軟而散者。不足之脈。心者生之本神之處。心不足則精神為消。奴卑惵遺亡恐懼之類是也。環自已者。言經氣以次相傳。如環一周。復至其本位。而氣自復。病自已也。診要經終論云。刺中心者環死。義與此同。環自已者。經盡氣復則生。環死者經盡氣絕則死也。甲乙經。環作渴。非。琦曰。心液耗傷。故見消渴。俟心氣復續。津液得生。則自已也。</p>
<p>當病灌汗至令不復散發也　太素令作今。楊曰。以肺氣虛。故脈耎散也。虛故腠理相（舊校曰疑開）逐。汗出如灌。至令不復也。</p>
<p>易入肌皮腸胃之外　楊曰。易音亦。若脈耎散。色又光澤者。當因大渴暴飲。水溢腸胃之外。易入肌皮之中。名曰溢飲之病也。堅按廣韻。易變易。又始也。改也。奪也。轉也。伊昔切。楊氏蓋為轉義讀。先兄說亦相合。曰易移易之謂。言以其多飲不滲入尿脬。移易入於肌膚腸胃之外。甲乙經易作溢可證。又楊言肌皮之中者。與原識意合。</p>
<p>折髀　食痹　楊注並與王義同。下折腰亦然。</p>
<p>色不澤　楊曰。足太陰脈循胻。故脾虛色不澤者。胻腫若水之狀也。堅按若水狀。專系言胻腫。楊注是。</p>
<p>至令不復也　太素令作今。</p>
<p>病成而變　張曰成言病之本。變言病之標。標本不同。是謂之變。</p>
<p>癉成為消中　說文。癉勞病也。從疒單聲。是義醫經所無。先兄曰。淮南子說山訓。嫁女於病消者夭死。則後難復處也。後漢李迪傳。素有消病。注。消中之病也。</p>
<p>筋攣骨痛　楊曰。因於癰腫。有此二病。故請所主。（按請疑問訛）堅按此與張意合。</p>
<p>有故病五藏發動　張曰。有故病。舊有宿疾也。五藏發動。觸感而發也。</p>
<p>徵其脈小　馬與王義同。曰小為虛也。脈則一時之虛。所以謂之新病也。張曰。脈小者邪氣不盛。琦曰。色發於藏。故久病色必奪。脈兼經絡。故新病脈即奪。</p>
<p>不見血已見血　琦曰。不見血六字疑衍文。</p>
<p>尺內兩傍則季脅也尺外以候腎尺裡以候腹　楊曰。從關至尺澤為尺也。季脅之部。當在尺中央兩傍。不在尺外兩傍。季脅有病。當見此處。尺中兩傍之外。以候兩腎之有病。當見此部也。自尺內兩中間總候腹中。堅按楊氏蓋就尺部分左右各兩行與中行為說。王氏以為兩傍各謂尺之外側。則與尺外謂尺之外側者。殆無分別。故更分上下為說。俱似未為明核。今考經文。但言中附上。上附上。而不言下附下。然以下文推之。則此三句是一節。其為下附下可知矣。且此三句特不分左右。是均兩手而言。尺內者尺內側也。尺外者尺外側也。下文內外字皆然。可以互證。尺內兩傍者。兩手尺內側之謂。而尺外下無兩傍字者。省文也。尺裡者。尺內外側之中央也。（向校刊源識用此說為圖）先兄曰。張云。人身以背為陽。腎附於背。故外以候腎。腹為陰。故里以候腹。所謂腹者。凡大小腸膀胱命門。皆在其中矣。又施沛脈微有說欠確。仍不錄。</p>
<p>中附上　太素附上以下（楊以中字屬上句）至內以候膻中四十三字。作跗上以候胸中六字。楊曰。跗當為膚。古通用字。故為跗耳。當尺裡以上皮膚。以候胸中之病。堅按據楊注。則尺裡與膚上膚前膚後。並不能知其界限。其說蓋謬。今姑存之。</p>
<p>前以候前後以候後　太素兩以字無。楊曰。當此尺裡跗前以候胸腹之前。跗後以候背後。</p>
<p>上竟上者胸喉中事也　太素作跗上鬲上也五字。楊曰。當尺裡跗上皮膚以候膈上也。一曰竟上疑錯。先兄曰。吳云。上竟。上寸之盡也。下竟。下尺之盡也。張云。竟。盡也。言上而盡於上也。</p>
<p>下竟下者少腹腰股膝脛足中事也　太素作鬲下者。腹中事也七字。楊曰。當尺裡膚上以下。以為膈下之分。即腹中事。</p>
<p>粗大者陰不足陽有餘為熱中也　太素大作𥲑。中下有跗之下三字。楊曰。尺之皮膚。文理粗𥲑者。是陰衰陽盛。熱氣熏膚。致使皮膚粗起。故為熱中。堅按以上楊注並難信。</p>
<p>來疾去徐　楊曰。來疾陽盛。故上實也。去徐陰虛。故下虛也。上實下虛。所以發癲疾也。</p>
<p>上虛下實　楊曰。上虛受風。故惡風也。</p>
<p>故中惡風者陽氣受也　太素無此九字。堅按無者似勝。</p>
<p>眴僕　楊曰。眴玄遍反。目搖。堅按楊本於說文。然王謂頭眩者。於義為順。先兄曰。方言。朝鮮冽水之間。顛眴謂之𣓉眩。史屈原傳。眴兮窈窕。徐廣云。眴眩也。（眴眩古通用既見原識五藏生成篇狥蒙下）</p>
<p>多汗身寒　王注氣多。據新校正亦當血多。</p>
<p>陰陽有餘則無汗而寒　太素無此文。堅按太素似是。○琦曰。陽加於陰。謂之汗。氣行而血不充。故身熱無汗。其表實無汗。亦此義也。陽虛於外。故多汗。陰盛於內。故身寒。但滑脈為陽與多汗身寒之證不合。陰陽有餘二語。未詳真義。恐有訛誤。</p>
<p>推而外之　此下一段。施沛脈微舉蔡轠說欠妥。尤怡以上而不下。下而不上。為升降義讀。亦不確。並不具錄。</p>
<p>而身有痹也　太素作而身寒有痹。</p>

<h2>平人氣象論篇第十八（太素全存）</h2>
<p>三動而躁　楊曰。脈之三動以是氣之有餘。又加躁疾。尺之皮膚復熱。即陽氣盛。故為病溫。堅按論疾診尺篇曰。尺膚熱甚。脈盛躁者。病溫也。</p>
<p>尺熱曰病溫　先兄曰。吳云。溫病者寒毒入里。積久變為溫熱。故尺部肌肉熱。是為溫病。</p>
<p>尺不熱脈滑曰病風脈澀曰痹　楊曰。一呼三動而躁。尺皮不熱。脈滑曰風。脈澀曰痹也。堅按論疾診尺篇曰。尺膚滑其淖澤者風也。又曰。尺膚滑而澤脂者風也。尺膚澀者風痹也。</p>
<p>藏宜散於肝　先兄曰。按藏真非真藏之真。即言五藏真元之氣。各應五時而見脈象也。</p>
<p>虛里　楊曰。虛音墟。虛里。城邑居處也。此胃大絡。乃是五藏六府所稟居。故曰虛里。</p>
<p>脈宗氣也盛喘數絕　楊曰。宗尊也。此之大絡。一身之中□血氣所尊。故曰宗氣。其脈動。如人喘數而絕者。病在藏中也。</p>
<p>宗氣泄也　琦曰。其動應衣。動之甚也。肺貫宗氣。下降於腎。以行呼吸。胃氣上逆。肺無下降之路。宗氣不能下行。而橫衝於虛里。故曰泄。房勞傷陽。最多此候。亦有天真氣少得之者。溫中培土。使中樞運轉。升降不失。則氣自清降。近代醫家。頓為腎虛不能納氣。重以地冬滯土代陽。否則桂附溫下。胥失之矣。堅按此謂陰駁景岳。然難為通論。</p>
<p>寸口　楊以為從關至魚一寸之處。有九分之位。殊失經旨。</p>
<p>曰足脛痛　先兄曰。張云。長為陰不足。陰不足則陽必湊之。故足脛痛。</p>
<p>促上擊者　太素作如從口（蠹爛難讀按註文似是下字）上擊者。楊曰。脈從下向上擊人手。如從下有物上擊人手。是陽氣盛。陽脈行於肩背。故知肩背痛也。</p>
<p>沉而橫　太素橫下有堅字。楊曰。橫指下脈橫也。琦曰。脈細而附骨。橫格有積。又診。堅按琦更據金匱積聚篇為解。今不具錄。又大奇論脈至橫格。是膽氣予不足也。王注脈長而堅。如橫木之在指下也。</p>
<p>沉而喘曰寒熱　楊曰。沉。陰氣也。脈動如人喘者。是為陽也。即知寒熱也。先兄曰。吳云。喘脈來如人之喘急也。王注。喘為陽吸。誤。（五臟生成篇喘而堅王注與楊意同又喘有動義開於舉痛論）</p>
<p>脈滑浮而疾者　琦曰。浮滑痰數。邪氣方張。故知新病。</p>
<p>脈急者　楊曰。按其脈如按弓弦。是陰氣積。故知疝瘕。少腹痛。</p>
<p>脈滑曰風脈澀曰痹　先兄曰。此二句重出。系剩文。</p>
<p>臂多青脈　楊曰。臂尺地也。尺地絡脈青黑為寒。即知脫血。以其陽虛。陰盛乘陽。故脈青之。志曰。臂內浮見之絡脈多青。蓋因血脫而不華於色也。堅按志注為是。蓋膚肉色夭。故青絡獨見也。</p>
<p>尺脈緩澀　先兄曰。按尺脈緩澀。猶言頭項強痛。蓋尺膚緩而脈澀也。堅按此說甚確。論疾診尺篇。尺肉弱者。解㑊安臥。緩與弱其義一也。蓋素靈中尺位無診脈之法。下文尺澀尺滑及通評虛實論。寸脈急而尺緩等。皆是尺膚之謂。原識於虛實論有說。宜參。（奇病論尺脈數甚脈字衍彼篇詳言之）又鰲城公觀曰。尺脈緩澀。當作尺緩脈滯。其意相近。（公觀寬政中人撰有素問考）</p>
<p>解㑊　楊注次篇曰。解音懈。㑊相傳音亦。謂怠惰運動難也。堅按加藤良白曰。解㑊通作解釋。正法華經卷五授五百弟子決品云。又瞻如來諸佛境界。得未曾有。歡喜踴躍。無衣食想。肢體解懌。不能於衣食。音釋。懌音亦。（廣韻懌亦並羊益切集韻夷益切）</p>
<p>安臥　楊接上句讀。宜從論疾診尺篇。可以互證。海論。髓海不足。則腦轉耳鳴。脛酸眩冒。目無所見。懈怠安臥。亦是一徵。</p>
<p>脈盛謂之脫血　太素脈上有尺字。堅按此句當作尺熱脈盛。謂之脫血。正與前後尺脈對言例相合。論疾診尺篇曰。尺炬然熱。人迎大者。當奪血。此其明據矣。蓋太素原有熱字。而楊氏不知其脫。至王所見本。則並尺字而脫之。故遂以安臥屬脈盛也。又脈盛者。蓋非直盛。戴起宗脈訣刊誤列之於芤脈下。又舉仲景所謂亡血失精。半產漏下之脈弦而大。弦則為減。大則為芤以證之。甚得經旨。志注診尺篇曰。尺炬然熱。人迎大者。三陽之氣偏盛也。故當主奪血。</p>
<p>尺澀脈滑　尺寒脈細　楊釋尺與脈與王義同。又診尺篇曰。尺膚寒其脈小者。泄少氣。</p>
<p>脈尺粗常熱者　先兄曰。此亦謂脈粗。尺膚常熱。脈要精微論云。粗大者。陰不足。陽有餘。為熱中也。又鰲城公觀曰。當作脈粗。尺常熱。堅按脈經曰。尺脈粗。常熱者。謂之熱中。腰胯疼。小便赤熱。更考經無粗脈。此脈字疑衍。然脈經亦既有之。不敢妄決。</p>
<p>是謂真藏見皆死　琦曰。此三部九候論篇脫文。</p>
<p>頸脈動喘疾咳　太素喘疾倒。楊曰。有本為腎脈動也。（按本為一本）</p>
<p>目裹微腫如臥蠶起之狀　太素裹作果。無蠶字。楊曰。目果上下瞼也。瞼之微腫。水之候。堅按蠶字無者為是。水脹篇水始起也。目窠上微腫。如新臥起之狀。論疾診尺篇。視人之目窠上微癰。如新臥起狀。其頸脈動時咳。按其手足上窅而不起者。風水膚脹也。俱可以證。王引評熱病論為徵。然彼言目下微腫光亮。此言目上龐然虛浮。親驗病者。其候自異。王注謬。（金匱風水有如蠶新臥起狀文蠶字衍又有目下如臥蠶語即與評熱病論同義）</p>
<p>目黃者黃疸　琦曰。目者宗脈之所聚。脾胃濕熱鬱蒸。故土色上見於目。甚則一身盡黃。</p>
<p>婦人手少陰脈動甚者妊子也　楊曰。手少陰脈。心經脈也。心脈主血。女子懷子則經血外閉不通。故手少陰脈內盛。所以動也。（王引經脈別論是陰陽別論文）</p>
<p>未有藏形　楊曰。寸口人迎。且逆且順。即四時未有真藏脈形也。又注真藏論曰。脈懸絕沉澀。失四時和脈。雖未見病藏之形。不可療也。堅按楊注俱未妥。</p>
<p>風熱而脈靜　太素靜作盛。楊曰。脈盛者。風熱之病也。</p>
<p>前曲後居　楊曰。心脈來時。按之指下覺初曲。後直如操捉帶鉤。前曲後直。（按此四字似剩）曰心死。脈居直也。</p>
<p>厭厭聶聶　聖惠方載十四難文作檿檿欇欇。考廣韻檿葉動貌。於琰切。說文。欇木葉搖白也。從木聶聲。（爾雅楓攝攝說文楓楓木也厚葉弱枝善搖一名聶）據此。如循榆葉。義似相葉。然要不過蹁躚輕浮之謂。</p>
<p>如循長竿　先兄曰。志云。辨脈篇云。累累如循長竿者。名陰結也。此肝氣病而阻結也。</p>
<p>喘喘累累如鉤　太素鉤作旬。楊曰。旬平也。手下堅實而平。此為石脈之形。故曰平也。堅按古旬勻多通用。（段玉裁謂之）故楊以旬為均平之義。然於喘喘累累。殊未襯切。仍考太素旬字即是銞字。如鈞。蓋如鉤訛。說文銞古文鈞。或從旬。淮南子原道訓。鈞旋轂轉。注。鈞陶人作瓦器。法下轉旋者。漢書鄒陽傳。獨化於陶鈞之上。張晏曰。陶家名模。下圓轉者為鈞。其云如鉤。即是此義。為沉濡而滑之象。始與夏平脈有別。先兄曰。注云喘喘累累如鉤。言其滑而濡也。按之而堅。濡滑有力也。○楊曰。夫五色有形。目見為易。五聲無形。耳知次難。五脈之動。非耳目所辨。斯最微妙。唯可取動指下。以譬喻薋之得在於神。不可以事推之知也。</p>

<h2>玉機真藏論篇第十九</h2>
<p>（五藏受氣至傳寒之名也及篇末虛實一段太素所缺）</p>
<p>其氣來實而弦　太素弦作強。楊曰。其春脈堅實勁直。名為來實而強。此為春脈。少陽有餘。耶在膽府少陽。故□在外。一曰而弦。疑非也。堅按太素似是。</p>
<p>兩脅胠滿　楊曰。胠去居反。腋下三寸以下脅也。脅下至八間之外胠也。（宜參刺瘧論）</p>
<p>膚痛為浸淫　太素膚訛骨。楊曰。浸淫者。滋長也。</p>
<p>令人煩心上為咳唾下為氣泄　太素咳作噬。泄字無。楊曰。陽虛陰盛。故心煩也。心脈入心中。系舌本。故上見噬唾。噬市滯反也。謂嚼唾也。氣謂廣腸泄氣也。堅按噬字非是。</p>
<p>故曰浮　琦曰。金氣收降而脈浮者。承六陽盛長之後。陽氣微下。自皮膚而漸降。所謂秋日下膚蟄蟲將去。與春夏之浮不同也。來急去散。即厭厭聶聶。如落榆莢之義。非勁急散亂之謂。</p>
<p>中央堅兩傍虛　琦曰。即如循雞羽也。堅按此據前篇王注。</p>
<p>慍慍然　太素作溫溫然。楊曰。溫溫然。熱不甚也。堅按楊說誤。</p>
<p>沉以搏故曰營　楊曰。營聚也。謂萬物收藏歸根。氣亦得深搏骨沉聚內營。故曰如營也。堅按此解難從。錢大昕曰。古人讀營如環。（見潛研堂文集問答中）先兄難經疏證。以為營衛之營。與環同義。王注如營動。亦或此意。</p>
<p>其去如數　太素作其氣去如毛。楊曰。腎氣不足。故其氣去。按之如按於毛。病在於腎。故曰在中。一曰如數也。琦曰。其去如數。來不盛去反盛也。陽根微弱。故來不盛。腎精下沉。故去似數。</p>
<p>解㑊　琦曰。解㑊與彈石之脈。疑有誤字。</p>
<p>脊脈痛　太素作腹痛。</p>
<p>心懸如病飢　太素懸如易位。堅按楊注亦不了。不錄。</p>
<p>小便變　楊曰。又小腹虛滿。小便變色也。</p>
<p>如水之流　先兄曰。張云。平人氣象論。如水之流曰脾死。此言太過。蓋水之流。滔滔洪盛者。其太過也。濺濺不及者。其將竭也。</p>
<p>如鳥之喙　太素喙作啄。堅按此與新校正引別本合。先兄曰。高雲如鳥之喙者。則堅勁自止。</p>
<p>四支不舉　尤怡曰。玉機真藏論云。脾脈太過。則令人四支不舉。其不及。則令人九竅不通。靈樞本神篇云。脾氣虛。則四支不用。實則涇溲不利。蓋脾虛則營衛涸竭。不能行其氣於四支。而為之不舉。脾實則營衛遏絕。亦不能行其氣於四支。而為之不舉。九竅亦然。兩經互言之者。所以窮其變也。</p>
<p>九竅不通　琦曰。生氣通天論。陽不勝其陰。則五藏氣爭。九竅不通。蓋脾陰下陷。升降倒置。濁陰填湊。故九竅不通也。</p>
<p>死生之早暮也　先兄曰。按新校正說誤。</p>
<p>故曰別於陽者　先兄曰。張云。陽者言表。謂外候也。陰者言里。謂藏氣也。凡邪中於身。必證形於外。察其外證。即可知病在何經。故別於陽者。知病所從來。病傷藏氣。必敗真陰。察其根本。即可知危在何日。故別於陰者。知死生之期。此以表裡言陰陽也。如陰陽別論。乃以脈言陰陽也。</p>
<p>皮膚閉而為熱　即仲景所謂名曰傷寒者。麻黃湯證是。</p>
<p>湯熨　先兄曰。吳云。湯洗也。熨烙也。堅按扁鵲曰。疾之居腠理也。湯熨之所及也。湯熨恐是溫湯蒸熨之謂。存考。</p>
<p>肺痹　先兄曰。吳云。肺痹蓋肺氣不利之名也。志云。痹閉也。</p>
<p>弗治肺即傳　琦曰。上脫治法一節。疑上或痹不仁二十字當在此上也。</p>
<p>發癉　山海經西山經。服之已癉。郭注。黃癉病也。音旦。此疸本作癉之明徵。漢書藝文志。五藏六府癉十二病方四十卷。師古曰。癉黃病。音丁韓反。外臺秘要引仲景傷寒論。疸或作癉。又引古今錄驗及千金翼方。正有胃癉腎癉等九疸。六元正紀大論少陰司天下曰。黃癉鼽衄。是知疸字隋唐人或用癉。故王氏亦以發黃為解也。</p>
<p>疝瘕　長刺節論。病在少腹。腹痛不得大小便。病名曰疝。得之寒。仲景有寒疝之稱。並足以知疝之因寒。今此云冤熱者。蓋是寒鬱為熱。非疝之因熱矣。巢源癥瘕候曰。瘕者假也。謂虛假可動也。蓋疝之結塊。乍聚乍散。故謂之疝瘕也。</p>
<p>冤熱　儒門事親曰。冤者屈滯也。病非本經。為他經冤抑而成此疾也。冤一作客。客猶寄也。遺客熱於少腹。久不去。從金化而為白。堅按此說非是。</p>
<p>不以次入者　馬曰。或以有餘而乘彼盛。以不足而受乘。皆乘所不勝。此其不以次而入之道也。堅按此節心腎則其志太過。而為他藏所克。肝則移克他藏。而肺特具二者。（悲憂俱為肺志）且不及脾藏。故王氏據五氣篇。有憂則肝氣移於脾之解。而志聰改易三字。然既云不以次。則何怪乎其不畫一乎。又琦曰。精氣並於心則喜。喜則氣緩。神不收持。故腎氣乘之。怒則氣上。悲則金旺。故所勝所不勝所生皆為所乘。恐者腎精之下陷。故脾氣乘之。憂當作思。思者脾陽之鬱結。故心氣乘之。凡諸相乘。各由衰盛。喜恐者衰而所勝乘之也。怒悲者盛而互乘諸藏也。憂則母乘子也。舉此三端。而相乘之道備。不言子乘母者。前文五藏受氣於其所生已言之也。此說亦不免牽強。姑存備考。</p>
<p>憂則心氣乘矣　先兄曰。張云憂傷肺而心氣乘之。火勝金也。</p>
<p>其氣動形　楊曰。喘息氣急。肩膺皆動。故曰動形也。堅按仲景所謂呼吸動搖振振者不治。正此之謂也。</p>
<p>期六月死真藏脈見　太素無脈字。楊曰。肺病次傳至肺再傷。故六月死也。又曰。古本有作正藏。當是秦皇名正。故改為真耳。真正義同也。堅按此五項。楊配之五藏。與王意相同。</p>
<p>內痛引肩項期一月死　楊曰。內痛。謂是心內痛也。心府手太陽脈。從肩絡心。故內痛引肩項也。心不受痛。受病不離三月。故一月死。真藏脈見可即與死期也。先兄曰。張云。一月者。鬥建移而氣易也。堅按金匱曰。脈沉而弦者。懸飲內痛。</p>
<p>內痛引肩項　楊以為脾胃中痛不妥。</p>
<p>十月之內死　楊曰。良以脾胃受於穀氣。故至十月而死也。先兄曰。張云十日者。天干盡而旬氣易也。月字誤。當作日。</p>
<p>肩髓內消　太素髓作隨。楊曰。腎府足太陽脈。循肩髆內。故腎病肩隨內藏消瘦也。又兩肩垂下曰隨。堅按脈要精微論有肩隨文。琦曰。肩髓疑當作骨髓。內消即動作益衰也。</p>
<p>動作益衰　王注過鑿。</p>
<p>真藏來見　太素亦作未見。楊曰。腎氣未是甚衰。所以期至一年。</p>
<p>心中不便　太素無心字。</p>
<p>肩項身熱　先兄曰。高雲。肩項痛引肩項也。</p>
<p>目匡陷　先兄曰。說文。眥。目也。今考經文。匡。助眼骨也。匡。飯器也。筥也。義取於此。後世遂從目旁。玉篇。眶。眼眶也。集韻。眶目厓。（宜與刺禁論原識參）</p>
<p>堅而搏　太素搏作揣。下搏而絕亦同。（宜參脈要精微論）</p>
<p>如毛羽中人膚　先兄曰。張云。浮虛無力之甚。而非微毛之本體。</p>
<p>形氣　雞峰普濟方。有脈形氣逆順說演本節之義。文繁不錄。宜參閱。蓋此所謂氣者。即氣息之氣。元氣之盛衰。必徵之於脈。又徵之於氣息之靜躁。以與形貌之肥瘦剛脆。互相表裡。而為診察之緊要矣。且古書於病之繫於呼吸者。多命以氣。上文胸中氣滿。其氣動形。俱氣息之謂。而次篇形盛脈細少氣不足以息者危。乃所謂形氣相失也。（彼篇王注引證本節）金匱要略有息搖肩者一條。並可以互證焉。論語鄉黨屏氣似不息者。儀禮聘禮下階發氣怡焉。鄭注曰。發氣。舍息也。（王念孫曰舍讀為舒謂發舒其氣也見經義述聞）此足以為古人謂息為氣之徵。</p>
<p>明告之　太素此下有勿趣以時一句。</p>
<p>病熱脈靜泄而脈大脫血而脈實　張曰。如病熱脈靜者。陽證得陰脈也。泄而脈大脫血而脈實者。正衰而邪進也。</p>
<p>五實　琦曰。邪結於中。升降道塞。表裡不得泄越。故然。</p>
<p>五虛　嚴氏濟生方曰。大抵滑泄忌五虛。證治要訣曰。五虛者死。元是泠瀉。</p>

<h2>三部九候論篇第二十（此篇中太素有缺）</h2>
<p>天光　書顧命宣重光。馬注。重光。日月星也。</p>
<p>下副四時　先兄曰。廣韻。副。佐也。稱也。</p>
<p>以處百病　先兄曰。大戴禮聽其聲。處其氣。堅按左傳文十八年傳。德以處事。注。處猶制也。國語魯語。夫仁者講功。而智者處物。注。處名也。漢書谷永傳。臣愚不能處也。師古曰。處謂斷決也。</p>
<p>上部天　楊以為足少陽陽明二脈之動。與王義異。</p>
<p>上部地　楊以為足陽明。與王義同。</p>
<p>上部人　楊以為手太陽手少陽足少陽三脈在和窌中動。與王義異。</p>
<p>以平為期　志曰。蓋凡治病。必先去其血。乃去其所苦。然後寫有餘。補不足。無問其病之可否。必候其氣至和平而後。乃出其針。堅按此殆是一說。</p>
<p>形盛脈細　江之蘭醫津一筏曰。形盛脈細。元陽虛也。少氣不足以息。虛之極也。故死。形瘦脈大。真陰虛也。胸中多氣。虛之極也。故死。</p>
<p>中部之候　先兄曰。高雲。中部之候雖獨調。究其上下左右之眾藏相失。是上下左右不歸於中土。故死。中部之候獨減。是中土不達是上下左右。故死。堅按志曰。血氣生於中焦。故獨重於中部。此說似是。然中部不中焦之謂。蓋獨舉中部者。豈須人隅反歟。</p>
<p>目內陷者死　琦曰。即玉機真藏目匡陷之義</p>
<p>渾渾然　徐徐然　志曰。渾渾然者。急疾而太過也。徐徐然者。氣之不及也。故皆主病。</p>
<p>身不去者　楊曰。去者行也。脫肉羸瘦。身弱不能行者為死。琦曰。是以脫肉身不去者死句未詳。疑有誤。</p>
<p>真藏脈見者勝死　太素者勝錯易。楊曰。候諸病脈有真藏脈。見胃氣之柔獨勝。必當有死。</p>
<p>沉細懸絕　楊曰。深按得之曰沉。動猶引線曰細。來如斷繩曰懸絕。</p>
<p>以平旦死　楊曰。脾病寒熱。死於平旦。平旦木也。木克於土。故脾病至平旦死。</p>
<p>以日夕死　楊曰。風為肝病。酉為金時。金克於木。故日夕死。</p>
<p>日乘四季死　楊曰。脾者土也。王於四季。平和時脈在中宮。靜而不見。有病見時乍疏乍數。故以日乘四季時死也。</p>
<p>七診雖見　楊以為沉細懸絕。此一診。盛躁喘數。此二診。寒熱病。此三診。熱中及熱病。此四診。風病。此五診。病水。此六診。形肉已脫。此七診。亦覺未允。</p>
<p>必發噦噫　張介賓景岳全書曰。呃之大要。亦惟三者而已。則一曰寒呃。二曰熱呃。三曰虛脫之呃。張錫駒傷寒直解曰。呃有虛呃。有實呃。有敗呃。此云噦噫。即所謂虛呃敗呃也。</p>
<p>其脈疾者不病　琦曰。不字衍。</p>
<p>留瘦不移　楊曰。留久也。久瘦有病之人。不可頓刺。可節量刺之。琦亦以瘦為廋字之誤。曰留廋謂癰瘕之類。伏匿而不移動。當節減而去之。堅按集韻瘦廋並疏鳩切。是知可相通用。不必改。</p>
<p>上實下虛　先兄曰。刺節真邪論。一經上實下虛而不通者。此必有橫格盛加於大經。令之不通。視而寫之。此所謂解結也。</p>

<h2>經脈別論篇第二十一（太素佚）</h2>
<p>有所墮恐　墮恐二字義似不屬。且下有驚恐。此恐字疑訛。</p>
<p>觀人勇怯　勇怯之分。詳見論勇篇。蓋此節四句。實為診處之要。病邪危劇。而偶得快了者。病邪輕易。而遽就困憊者。俱亦不可不由強弱壯孺之殊也。</p>
<p>能知其情　先兄曰。吳云。情病之所由來也。</p>
<p>淫精於腋　此下十句。每取句末一字以為次句之首。脈要精微論既有此例。</p>
<p>濁氣歸心　琦曰。穀氣對藏府之氣言。則為濁氣。谷入於胃。先傳之肺。乃化精氣。注於藏府。此文首歸心而脈而精乃歸於肺。誤也。堅按此說似有理。然上文雲散精於肝。淫氣於筋。下文云淫精於肺。則心字難得改易。又吳醫匯講載沈家瑗說辨。此心字為脾字之誤。然至淫精於脈。而其說亦不通。</p>

<h2>藏氣法時論篇第二十二（太素僅存肝色青以下一段）</h2>
<p>更貴更賤　高曰。貴者木王於春。火王於夏。賤者木敗於秋。火滅於冬。更貴更賤者。生化迭乘。寒暑往來也。</p>
<p>急食甘以緩之　醫津一筏曰。肝欲散。急食辛以散之。肝之實也。肝苦急。急食甘以緩之。肝之虛也。推之他藏亦然。</p>
<p>急食苦以燥之　按肺云食苦以泄之。是五藏中宜食苦者有二。而無一宜食鹹者。且末段列五藏色味。正與此段相發。而有脾色黃宜食鹹句。然則此苦字為咸字之誤明矣。所謂咸傷血鹽勝血者。皆燥中之驗也。蓋咸之訛苦。自唐以前既然。故撰運氣偽經者。沿襲不辨。於至真要大論。頻復言之。而金元諸家更主張之。遂至使苦燥之說。入人肺腑。牢不可破。且今試之。苦寒之藥。實未見有燥中之害矣。一字之誤。以生千古之惑。有如此者。</p>
<p>腎苦燥　李中梓苦欲補瀉論。本於繆希雍神農本草經疏。</p>
<p>持於冬　巢源持作待。以下並同。</p>
<p>溫食飽食　琦曰。飽食中氣遲滯。濕地濡衣則助溫。溫食疑當作冷食。生冷最傷脾也。</p>
<p>日昳　先兄曰。高雲。昳。昃也。日昳。乃午後未分土王之時。</p>
<p>甚於戊己　先兄曰。志云。在四藏曰加者。言所勝之氣加於我。而使病加之。是客勝也。在腎藏曰甚於戊己。乃至其所不勝而甚。是主弱也。</p>
<p>至於所生而持　先兄曰。志云。持得所生之氣。而能支持也。</p>
<p>取血者　先兄曰。脈經注云。血者謂有血之穴。</p>
<p>脅下與腰相引而痛　琦曰。藏府病形篇。小腸病。小腹痛。腰脊控睪丸而痛。以小腸附脊也。</p>
<p>大腹　先兄曰。臍下為小腹則大腹似言臍上。易說卦曰。離。其於人也為大腹。集解。象曰。常滿。如妊身婦。故為大腹。與此不同。</p>
<p>葵　阮元葵考曰。葵為百菜之主。古人恆食之。詩豳風。周禮醢人。儀禮諸篇。春秋左氏傳。及秦漢書傳。皆恆食之。爾雅於恆食之菜。不釋其名。為其人人皆知也。故不釋韭蔥之名。而但曰藿山韭。茗山蔥。爾雅不釋葵。其曰菟葵芹葵戎葵蔠葵。皆葵類。非正葵。亦韭蔥之例也。六朝人尚恆食葵。故齊民要術栽種葵術甚詳。鮑照葵賦。亦有豚耳鴨掌之喻。唐宋以後。食者漸少。今人直不食此菜。亦無知此菜者矣。然則今為何菜耶。曰。古人之葵。即今人所種金錢紫花之葵。俗名錢兒淑氣（即蜀葵二字吳人轉聲）者。以花為玩。不以葉充食也。今之葵花有四種。一向日葵。高丈許。夏日開黃花。大徑尺。一蜀葵。高四五尺。四五月開各色花。大如杯。此二葵之葉。皆粗澀有毛不滑。不可食。唯金錢紫花葵。及秋葵葉可食。而金錢紫花葵尤肥厚而滑。乃為古之正葵。此花高不過二尺許。花紫色。單瓣。大如錢。葉雖有五歧。而多駢。誠有如鮑明遠所謂鴨掌者。異於秋葵之葉大多歧不駢如鶴爪也。齊民要術稱葵菜花紫。今金錢葵花皆紫。無二色。不似蜀葵具各色。秋葵色淡黃也。云云。（出揅經室三集）此說是也。考本草白字但有冬葵子。圖經曰。苗葉作菜茹。更甘美。然齊民要術種葵術中又有種冬葵法。可知冬葵雖亦充菜茹。而非古正葵明矣。（詁經精舍文集中有釋葵三篇而金鶚謝淮則謂為秋葵孫同元則謂為向日葵並謬又阮氏謂人所謂秋葵即是黃蜀葵一名側金盞者耳要術有言秋葵者繫於正葵之秋種者日華子云秋葵即是種早者俗呼為葵菜此可以證）</p>
<p>脾色黃宜食鹹　此節五味之用。俱就五藏所苦而言。脾性善濕。故食鹹味。取其燥涸也。（王注肝性喜急心性喜緩等喜字俱為善義）王氏及新校正。其說似精。然不改上文為咸字。徒就苦字為辨。殊似屬迂迴矣。琦說亦系肆臆。仍不錄。</p>
<p>黃黍　程瑤田九穀考曰。內則飲黍稷稻粱。白黍黃粱。鄭氏注。黍。黃黍也。聞之農人云。黍⿰飠制二谷。其色皆有黑白黃赤之異。及與人索取其種。凡持以至者。有黑黍白黍。又有赤黍雜黑黍中者。而獨無黃黍。惟⿰飠制則類多黃者。余因以所目驗難農人。農人無以應。然則黃黍者⿰飠制也。穄也。（說文黍禾屬而黏者也⿰飠制穄也穄⿰飠制也程瑤田曰按說文以禾況黍謂黍為禾屬而黏者非謂禾為黍屬而不黏者也是故禾屬而黏者黍則禾屬而不黏者⿰飠制）</p>
<p>辛散酸收甘緩苦堅咸耎　此五味之用。就五藏所欲而言。與上異義。兩相對待也。</p>
<p>氣味合而服之以補精益氣　太素益作養。堅按此二句據應象大論。即兼藥食而言之。蓋毒藥攻邪。而調以穀肉果菜。實為療病之大法。然徒如是立說。則似他無藥補者。故承以此二句。以示有藥食相濟。能為補益之理。下文所謂各有所利者。亦寓藥之五味。又有補益。不止攻邪一端之意。</p>
<p>或急　太素無此二字。堅按是足以確原識說。</p>

<h2>宣明五氣篇第二十三（太素僅存五病五邪五脈應象余皆缺）</h2>
<p>肺為咳　高雲。病氣在肺則為咳。咳氣上逆也。</p>
<p>脾為吞　說文。吞嚥也。從口天聲（玉篇同又曰子虛賦吞若雲夢者）當考。琦曰。脾病則口常作吞嚥聲。謬。</p>
<p>為恐　琦曰。恐者腎之情。而見於胃。未詳其義。蓋衍文。</p>
<p>大腸小腸為泄　五十七難。大腸泄者。食已窘迫。大便色白。腸鳴切痛。小腸泄者。溲而便膿血。少腹痛。金匱大腸多寒者。多鶩溏。便腸垢。小腸有寒者。其人下重便血。</p>
<p>膀胱不利為癃不約為遺溺　金匱熱在下焦者。則尿血。亦令淋泌不通。又曰。下焦竭即遺溺失便。楊注刺瘧論。小便不利如癃狀。非癃淋也。小便不利如淋也。（宜與奇病論相參）</p>
<p>五藏所惡　此不拘相剋之次序。又不必以天之五氣。蓋亦專就五藏之本性而言。藏病之理。實不外乎此。熱寒濕三者。俱兼內外因而言。風以外因言。燥以內因言。且熱風濕俱本藏主氣。而其太過卻足以為病矣。王釋心肺脾似未盡。</p>
<p>陽病發於血　琦曰。陽病發於血者。陽淫失斂。則血流溢。陽虛不化。則血凝結。凡上下血症。及瘕疝瘍癰。胥此義也。</p>
<p>陰病發於肉　太素作以味病發於氣。楊曰。陰之為病。發骨疼等。陽之為病。發於血痹等。五味為病。發於氣不調等。冬陽在內。故病發冬。夏陽在外。故病發夏也。堅按太素非是。</p>
<p>五邪所亂　太素作五邪入三字。則痹作則為血痹。楊曰。熱氣入於陽脈。重（按說陽字）故為狂病。寒邪入於陰脈。重陰故為血痹。</p>
<p>脾脈代　張曰。代更代也。脾脈和耎。分王四季。隨時相代。故曰代。此非中止之謂。</p>

<h2>血氣形志篇第二十四（太素全存）</h2>
<p>夫人之常數　太素此一句。及下六常字。此天之常數句。並無。</p>
<p>伺之所欲　楊曰。凡療病法。諸有痛苦。由其血者。（由字疑）血聚之處。先刺去之。刺去血已。伺候其人情之所欲。得其虛實。然後行其補寫之法也。</p>
<p>欲知背俞　太素左角右角相錯。楊曰。以上言量背輸法也。經不同者。但人七尺五寸之軀。雖小法於天地。無一經不盡也。故天地造化。數乃無窮。人之輸穴之分。何可同哉。昔神農氏錄天地間金石草木三百六十五種。法三百六十五日。濟時所用。其不錄者。或有人識用。或無人識者。蓋亦多矣。次黃帝取人身體三百六十五穴。亦法三百六十五日。身體之上。移於分寸。左右差異。取病之輸。實亦不少。至如扁鵲灸經取穴及名字。即大有不同。近代秦承祖明堂。曹子氏灸經等所承別本處所及名亦皆有異。而除疴遺疾。又復不少。正可以智量之適病為用。不可全言非也。而併為非者。不知大方之論。所以此之量法。聖人設教有異。未足怪之也。</p>
<p>病生於肉　楊曰。形志俱逸。則邪氣客肉。脾之應也。多發癰腫。故以硂針及石熨調之也。（按硂字疑）山海經曰。高氏之山。其上多玉。有石可以為𥦖針。堪以破癰腫者也。堅按楊雲石熨誤。</p>
<p>治之以熨引　楊曰。筋之病也。毉而急（按毉字當考）故以熨引。調其筋病也。藥布熨之引之。使其調也。堅按楊熨引解是。聖濟總錄曰。引取舒伸之義。蓋本於此。</p>
<p>病生於咽嗌　太素嗌作喝。楊曰。喝肺喘聲也。有本作渴。</p>
<p>百藥　太素無百字。</p>
<p>經絡不通　太素作筋脈不通。堅按此五節楊氏以配五藏。而筋脈不通為腎之應。俱似屬牽強。</p>
<p>此謂五形志也　馬曰。按疏五過論有云。凡欲診病者。必問飲食居處。暴樂暴苦。始樂後苦等義。與此意同。</p>

<h2>寶命全形論篇第二十五（太素全存）</h2>
<p>夫鹽之味鹹者　太素經注。並與新校正引同。但首句味字令字並無。（註文陳木之已畫盡字作蠹）楊又曰。府者中府。謂五藏也。壞者則聲歲也。（此十四字在中府壞者上歲當作噦）堅按陳古文作𭷱。故訛為敷字。</p>
<p>人有此三者　琦解上文從楊義。且曰三字疑衍。府謂胃府。</p>
<p>知萬物者　太素作荷主萬物者。</p>
<p>敢問其方　楊曰。方道也。</p>
<p>土得木而達　太素木作水。無下金得火而缺。水得土而絕二句。楊曰。言陰陽相分。五行相剋。還復相資。如金以剋木。水以剋火。土以剋水。始土剋水。得水通易。餘四時皆然。並以所克為資。萬物皆爾也。堅按太素經注並難從。竊謂達當作奪。聲之誤也。</p>
<p>黔首共餘食　楊曰。黔。黑也。渠廉反。人之首黑。故名黔首也。飲食。服用也。（此文在新校正所引止）</p>
<p>知養身　太素作治養身。堅按此與新校正引異。又治神養身。新校正以楊說為優。然熟審經文。王注似是。（先兄曰楊注單豹外凋之害出莊子達生篇）</p>
<p>知毒藥為真　太素藥字復。非是。</p>
<p>知府藏血氣之診　太素府作輸。非是。</p>
<p>道無鬼神獨來獨往　太素來往字錯。楊曰。應天地之動者。謂之道也。有道之者。其鬼不神。故與道往來。無假於鬼神也。堅按關尹子五鑑篇曰。人之平日。目忽見非常之物者。皆心有所歉而使之然。苟知吾心能於無中示有。則知吾心能於有中示無。但不信之。自然不神。或曰。厥識既昏。熟能不信。我應之曰。如捕蛇師。心不怖蛇。彼雖夢蛇。而不怖畏。故黃帝曰。道無鬼神。獨往獨來。</p>
<p>可玩往來　太素玩作梲。楊曰。梲五骨反。動知也。（梲當杌知字疑）堅按太素經注。非是。</p>
<p>五虛勿近　先兄曰。吳云。針道難補而易寫。故五藏天真已虛。戒人勿近。五邪相乘而實。戒人勿遠。</p>
<p>間不容瞚　楊曰。眴音舜也。堅按楊蓋以眴為瞚。義或是。音通。玉篇瞚式閏切。瞬同上（原識舒問切考段注說文問當作閏）</p>
<p>慎守勿失　先兄曰。高雲。其慎守也。則如臨深淵。其勿失也。則手如握虎。其深淺在志。而遠近如一也。則神無營於眾物。</p>
<p>神無營於眾物　營王以外營為解。恐非。呂覽尊師篇。凡學必務進業。心則無營。注。營惑。淮南精神訓。而物無能營。注。營惑也。一曰亂。荀子宥坐。言談足以飾邪營眾。注。營讀為熒。據此。言下針之際。能一其神。不敢惑於他務。即無左右視之義。（王引之經義述聞周易不可榮以錄條宜參）</p>

<h2>八正神明論篇第二十六（太素全存）</h2>
<p>靈樞晚出於素問。然如此篇及脈解針解。俱似原於彼者。不知古自有其說。二經皆為根據。馬氏專崇靈樞。以為素問之言所出者謬矣。吳曰。自法往古凡九。釋率皆古語。因問而詳及者也。此言為是。</p>
<p>合以天光　楊曰。光謂三光。（宜參三部九候論）</p>
<p>氣定　楊曰。定者候得天地正氣日定。定乃刺之。（按日字疑）</p>
<p>人血淖液　楊曰。淖大卓反。濡甚也。謂血濡甚通液也。堅按爾雅釋言。釋文引字林雲。淖濡甚也。此楊所本。又廣雅淖濕也。澤潤液也。謂微濕潤也。行針篇。陰陽和調。而血氣淖澤滑利。蓋淖液淖澤。其義相同。（宜參陰陽別論）</p>
<p>凝泣　太素凝作涘。楊曰。泣音漝之。堅按涘凝異構。漝蓋澀訛。</p>
<p>血氣始精　楊曰。精者謂月初血氣隨月新生。故曰精也。但衛氣常行。而言始行者。亦隨月生。稱曰始行也。（精字義見於生氣通天論下）</p>
<p>月郭　先兄曰。馬雲。月之四圍為郭。猶城郭之郭。</p>
<p>衛氣去形獨居　楊曰。經脈之內。陰氣隨月皆虛。經絡之外。衛之陽氣亦隨月虛。故稱為去。非無衛氣也。形獨居者。血氣與衛雖去。形骸恆在。故曰獨居。故謂血氣在於時也。</p>
<p>天溫無凝　太素凝作疑。楊曰。天溫血氣淖澤。故可刺之。不須疑也。</p>
<p>故日月生　太素日作曰。</p>
<p>絡有留血　太素作經有流血。堅按據王注太素為誤。</p>
<p>沉以留止　先兄曰。吳云。邪氣沉著留止不去也。</p>
<p>八風之虛邪　先兄曰。馬雲。靈刺節真邪篇云。虛邪之中人也。此可見虛邪本指風。而王注以為人虛感風邪者非也。</p>
<p>以身之虛　楊曰。形及血氣。年加皆虛。故曰身之虛。堅按官針篇曰。故用針者。不知年之所加。氣之盛衰虛實之所起。不可以為工也。陰陽二十五人篇曰。岐伯曰。形勝色。色勝形者。至其勝時。年加感則病行。失則憂矣。云云。楊所言此即是也。歲露篇。年之衰亦同義耳。（注靈樞者以年加為五運加臨之謂先兄嘗辨其謬極為明確）</p>
<p>身形若用力　太素形下有飢字。楊曰。胃中無谷曰飢。飢及汗出。虛因腠理開。虛風得入。虛風入時難知。故曰冥冥也。</p>
<p>萌牙　王注應象大論。故善治者治皮毛一節。全據此段。</p>
<p>處而治之　此四字當為一句讀。</p>
<p>寫必用方　楊曰。方正也。氣正盛時。月正滿時。日正溫時。身正安時。息正吸時。此之五正。是內針時也。</p>
<p>身方定　先兄曰。吳云。身方定。身之陽氣不擾也。</p>

<h2>離合真邪論篇第二十七（太素全存）</h2>
<p>竇漢卿針經指南曰。古有離合真邪云者。蓋聖人慾使其真邪相離。而勿合之謂也。若邪入於真。則真受其蠹。而不遂其純一之真。真之不遂。則其所謂真也。罹害有不可勝言者。真被邪竊其柄而肆其橫逆。邪既橫逆。則其為患復可勝言哉。嗚呼。真邪之不可合也如此。胡為真。胡為邪。真之為言也。天理流行。付與萬物。萬物得以為生者。皆真也。聖人保之如持盈。邪之為言也。天地間非四時五行之正氣。而差臻迭至者。皆邪也。聖人避之如矢石。其防微杜漸之嚴。如是。淵有旨哉。蓋真立則邪遠。邪厲則真殘。邪固可除。真尤宜養。（原文多訛今據衛生寶鑑錄）此說蓋吳所本。</p>
<p>榮輸　太素作滎輸。</p>
<p>氣淖澤　太素氣下有血字。</p>
<p>亦時隴起　楊曰。耶氣至時。薋皆有波隴。波隴者。耶風動正氣。</p>
<p>循循然　太素此下有循字。楊曰。牛忿反。輑。車前橫木。備車行也。耶循脈行。曰輑。有本作軺。非之也。堅按太素經注義不了。</p>
<p>在陰與陽不可為度　先兄曰。按邪之所在。或陰或陽。非寸口不能為度者。故下文云云。</p>
<p>以得氣為故　先兄曰。呂覽本生篇云。天子之動也。以全天為故者也。注。故事也。</p>
<p>捫而循之　楊曰。先上下捫摸。知病所在。</p>
<p>適而自護　太素而作人。堅按史記日者傳。歲谷不熟。不能適。索隱。適猶調也。</p>
<p>逢其沖　楊曰。不得刺其盛沖寫法。比之不擊逢逢之陳。</p>
<p>經氣　楊曰。經氣者。謂十二經脈正氣也。堅按此蓋經常之氣。</p>
<p>其病不可下　太素無可字。</p>
<p>不知其取　太素取上有可字。</p>
<p>補寫如何　此句難解。諸注未確。但志曰。夫邪氣盛。則精氣奪。將先固正氣而補之乎。抑先攻邪氣而寫之耶。稍通。吳作取血如何肆。</p>
<p>逆而刺之　太素無此句。</p>
<p>溫血也　楊曰。溫熱也。耶之新入。未有定處。有熱血刺去之。病愈。堅按張意與楊相符。琦曰。溫疑作蘊。蓄血也。難從。</p>
<p>中府　楊曰。中府。五藏也。欲調五藏之氣。取定天地人三部九候之也。</p>
<p>邪之新客至其病立已　琦曰。二十六字衍文。</p>

<h2>通評虛實論篇第二十八（太素存頗有缺）</h2>
<p>氣逆者足寒也　琦曰。者也二字衍文。又曰。此明五藏之虛實。從肺起例也。肺主氣。肺虛故氣虛。氣逆足寒。肺虛之證也。肺宜清降。虛則治節不行。故上則喘逆。而下則足寒。濁陰不降。則清陽不升也。</p>
<p>氣熱脈滿　先兄曰。馬雲。以後文寒氣暴上脈滿而實照。則此氣熱者。邪氣熱也。非人之中氣也。高曰。重實者。言人身大熱之病。氣盛而熱。脈盛而滿。陰陽血氣皆實。是謂重實。堅按高注。似是。</p>
<p>皆從其物類始　高曰。物猶形也。類猶合也。物類者。五藏在內。皮肉脈筋骨有形在外。而合於五藏也。始先見也。夫虛實者。皆從其有形之外合以先見也。堅按甲乙始作治。其義似長。</p>
<p>脈口熱而尺寒也　楊曰。絡為陽也。經為陰也。寸為陽也。外也。尺為陰也。內也。秋冬陰也。春夏陽也。絡氣不足。陽氣虛也。經氣有餘。陰氣盛也。於秋冬時診寸口。得緩脈。尺之皮膚寒為逆。春夏緩脈。尺之皮膚寒為順。緩脈熱也。以秋冬陽氣在內。陰氣在外。春夏陰氣在內。陽氣在外也。堅按楊以脈口熱為緩脈。非是。又尺膚寒。見論疾診尺篇。</p>
<p>經虛絡滿　先兄曰。馬雲。滿。實也。</p>
<p>尺熱滿脈口寒澀也　太素無口字。楊云。滿。盛也。經虛絡盛。春夏診得尺之皮膚熱盛。寸口得急脈為逆。故死。秋冬得尺熱脈急。故生。脈急多寒。脈緩多熱也。堅按楊以寒澀為急。義亦誤。又尺膚熱見論疾診尺篇。又邪氣藏府病形篇。脈大者尺之尺膚亦賁而起。尺滿。蓋即是也。</p>
<p>灸陰刺陽　楊曰。經虛陰虛。故灸陰。絡滿陽滿。故刺陽也。經滿陰滿。故刺陰。絡虛陽虛。故灸陽之也。堅按此先得張意。</p>
<p>尺虛　邪氣藏府病形篇。脈小者尺之皮膚亦減而少氣。</p>
<p>不象陰也　琦曰。不象陰未詳。疑有脫誤。堅按此說不必。</p>
<p>寒氣暴上　脈經診百病死生決曰。寒氣上攻。脈實而順滑則生。實而逆澀則死。（其注引太素與本文同）蓋寒氣暴上。恐沖疝之類。</p>
<p>實而逆則死　琦曰。寒中之屬。脈多沉虛。今脈滿而實。是陰盛之極。故以脈滑澀為生死也。</p>
<p>脈浮而澀　此十一字。太素在帝曰形度云云下。與王氏舊本同。琦曰。此為陽病見陰脈。浮脈宜汗解。澀為血少。不能作汗。故死。</p>
<p>其形盡滿者　脈經注引太素作舉形盡滿者。堅按此可以徵王注之非。滿字推上例高說為優。志以腫脹釋蓋誤。</p>
<p>尺澀　脈經注引太素亦作尺滿。</p>
<p>乳子而病熱　琦曰。懸當為弦。聲之誤也。產後氣血空虛。病熱而得弦細之脈。弦為寒鬱。細為氣少。是亦陽病見陰脈也。足溫木氣尚存。足寒脾陽已絕。堅按脈經曰。診婦人新生乳子。因得熱病。其脈懸小。四肢溫者生。寒清者死。又說文人及鳥生子曰乳。獸曰產。（蓋指潼為乳非其本義）據此。琦說為是。其懸字並下文懸絕懸小。改為弦者不可從。又張氏醫通曰。乳子言產後以乳哺子時非嬰兒也。此說亦是。然恨不知乳之為產耳。</p>
<p>乳子中風　琦曰。產後中風發熱而喘鳴肩息者。邪客中上二焦。氣道不利。故喘息有音搖肩以伸其氣也。肩息之證邪實者可治。故得實大之脈。然必有舒緩之象。則胃氣猶存。且閤中風之症。若得弦急。為陰盛於內。而陽絕於外。故主死也。堅按脈經曰。論婦人生產。因中風傷寒。熱病喘鳴而肩息。脈實大浮緩者生。小急者死。</p>
<p>身熱則死身寒則生　朱丹溪曰。內經所謂身熱則死。寒則生。此是大概言。必兼證詳之方可。今豈無身熱而生寒而死者。（出心法類集）此說誤矣。蓋滯下初起。表邪發熱。固非所忌。如夫經久引日。液脫肉燥。以為煩熱者。攻補兩難。必屬不治。經言真不誣。而王以為熱為血敗者。能得其理。</p>
<p>腸澼下膿血　膿血。即腸垢與血俱下之謂。不是真膿。巢源赤白痢候曰。重者狀如膿涕。而血交之。婦人帶利候曰。其狀白膿如涕。而有血雜。俱可以徵。</p>
<p>身不熱　脈經診百病死生。決無不字。</p>
<p>脈搏大滑　脈經與新校正引巢元方同。小牢急作小堅急。</p>
<p>脈實大病久可治　滑氏所引巢元方本出脈經。</p>
<p>春亟治經絡　亟太素作極。下並同。楊曰。春時陽氣在於皮膚。故取絡脈也。夏時在於十二經之五輸。故取輸也。秋氣在於六府諸輸。故取之也。冬氣在於骨髓。腠理閉塞。血脈凝澀。不可行針與砭石。但得飲湯服藥。</p>
<p>不得頃時回　太素回作因。楊接下句讀。</p>
<p>刺手太陰傍　先兄曰。吳云。傍經之側處也。</p>
<p>掖癰　腋俗字。說文所無。</p>
<p>暴癰筋緛　太素緛作濡。楊曰。筋濡者。謂筋濕也。堅按太素經生。並誤。</p>
<p>太陽經絡者　楊曰。足太陽與足少陰以為表裡。足少陰上行貫肝膈。發腹諸穴。故腹暴滿。故取太陽經絡（新校正節引仍具錄）琦從楊說。曰腹滿自屬陽明之病。取足太陽胃俞以寫之則已。</p>
<p>胃之募也　太素訛則人募者也。楊曰。募有本為幕也。琦曰。胃募即謂胃俞也。</p>
<p>癇驚　太素猶作癇驚。與新校正引異。</p>
<p>刺手少陰　太素作刺手少陽。</p>
<p>凡治消癉（至）寒風濕之病也　琦曰。僕擊。如擊而僕也。氣滿發逆。即喘逆也。在肥貴人則為膏粱所致。蓋甘肥之過。中氣緩滯。肺胃壅鬲。郁生痰熱。故見諸症。堅按此段一則肥貴人高粱之疾。蓋得之逸藥。一則得之暴憂。蓋是貧苦勞役之人。兩相對言。一則內因之病。一則外因之病。亦兩相對言。如蹠跛亦屬外因。</p>
<p>故瘦留著也　按瘦廋同用。三部九候論有留瘦不移交。宜相參看。</p>
<p>久逆之所生也　琦曰。陰不升。陽不降。則為逆。其在脾胃。則濕淫為黃疸。其在經脈。則為暴卒而痛。若在上焦。則癲疾厥狂。皆氣逆之所致也。</p>
<p>頭痛耳鳴　蘭室秘藏曰。頭痛耳鳴。九竅不利者。腸胃之所生。乃氣虛頭痛也。又曰。氣虛頭痛。人參黃耆為主。此言可疑。</p>

<h2>太陰陽明論篇第二十九（太素全存）</h2>
<p>願聞其異狀也　馬曰。此乃總論六陽六陰之理。而脾胃自在其中也。堅按志以此下至傷於濕者下先受之。一屬脾胃為解。稍覺牽強。</p>
<p>陽道實陰道虛　朱丹溪陽有餘陰不足論。根據於此。</p>
<p>陽受之則入六府　琦曰。府陽藏陰。各從其類。按陰陽應象論云。天之邪氣。感則害人五藏。水穀之寒熱。感則害人六府。與此相反而義實相成。以形氣言。邪氣無形故入藏。水穀有形故入府。以表裡言。府陽主外。故賊風虛邪從外而受。藏陰主內。故食飲不節從內而受。實則府藏皆當有之。蓋內外之邪。病情萬變。非一端可盡。故廣陳其義耳。堅按徐氏及琦說並本於王氏溯洄集。</p>
<p>入六府　楊曰。六府陽氣在外。故身熱也。陽盛晝眠不得。至夜故不時臥也。陽氣盛於上。故上為喘呼也。張曰。陽邪在表在上。故為身熱不臥喘呼。琦曰。不時臥。謂臥不以時。即不得臥也。</p>
<p>入五藏　楊曰。陰邪在中。實則䐜脹腸滿。閉塞不通。虛則下利腸澼。張曰。陰邪在裡在下。故為䐜滿飧泄腸澼。</p>
<p>故喉主天氣　楊曰。肺為天也。喉出肺中之氣呼吸。故主天。脾為地。咽出脾胃噫氣。故主地。吳曰。喉嚨為肺系。受氣於鼻。故納無形之天氣。咽為胃系。受氣於口納有形之地氣。琦同。又曰此義又與陰陽應象論同。</p>
<p>脾病而四支不用何也　楊曰。五藏皆連四支。何因脾病獨四支不用也。</p>
<p>常著胃土之精也　太素無胃字。堅按王胃字句是。</p>
<p>陽明者表也　吳曰。陽明者。太陰之表也。</p>
<p>各因其經　張曰。因其經。因脾經也。</p>
<p>四支不得稟水穀氣　此下二十八字。與上文復。正是衍文。</p>

<h2>陽明脈解篇第三十（太素全存）篇存上脫論字</h2>
<p>其脈血氣盛　太素作其氣盛</p>
<p>惋　太素作悗。楊曰。悗武槃反。此經中為悶字。</p>
<p>厥逆連藏則死　金匱卒厥條。其義相發。</p>
<p>妄言罵詈不避親疏而不欲食　太素此十二字無。為是。</p>
<p>故妄走也　太素作故妄言為是。先兄曰。張子和治狂人。本於經旨。用調胃承氣湯。治驗。宜參。</p>

<h1>卷第三</h1>

<h2>熱論篇第三十一（太素全存）</h2>
<p>頭項痛腰脊強　太素作頭項腰脊皆痛。堅按與新校正引異。</p>
<p>目疼　太素無此二字。</p>
<p>少陽主膽　太素膽作骨。楊曰。肝足厥陰。主筋。三膲手少陽。與膀胱合。膀胱腎府表裡皆主骨。</p>
<p>三陽經絡　太素作三經皆受病。而未入通府也。</p>
<p>未入於藏者　太素作未入通於府也。</p>
<p>可汗而已　三陽經絡至此。琦曰。十七字衍文。堅按此說非。</p>
<p>囊縮　吳緩傷痛蘊要曰。凡囊縮有熱極而縮者。亦有冷極而縮者。要在詳辨治之。</p>
<p>五藏不通則死矣　太素五作府。堅按此下承以其不兩感於寒者云云。則三陰三陽六句。蓋指兩感而言。王意為然。高注過鑿。</p>
<p>嚏　太素作咳。楊曰。咳者。肺氣通也。</p>
<p>可泄而已　琦曰。泄謂泄越。其熱非攻下之謂也。堅按此說謬。</p>
<p>遺　楊曰。遺。余也。大氣雖去。猶有殘熱在藏府之內外。因多食以穀氣熱與故熱相薄。重發熱病。名曰餘熱病也。</p>
<p>兩熱相合　先兄云。注云。兩熱者謂所藏之熱。與新谷入氣之熱相侵薄也。</p>
<p>食肉則復　楊曰。肉熱過谷。故少食則復。谷熱少肉。故食多為遺也。張曰。復者病復作。遺則延久也。堅按肘後方曰。凡得毒病愈後百日之內。禁食豬犬羊肉。並傷血及肥魚久膩乾魚。則必大下痢。下則不可復救。又禁食麵食胡蒜韭薤生菜蝦䱉輩。食此多致復發。則難治。又令到他年數發也。</p>
<p>譫言　楊注厥論曰。譫諸閻反。多言也。相傳乃銜反。獨語也。堅按集韻。譫之廉切。疾而寐語也。又女監切。病人自語也。譫噡之廉切。多言。或從口。</p>
<p>三日乃死　楊曰。更得三日方死也。堅按兩感。乃仲景所謂三陽合病之類。系乎表裡俱熱證。</p>
<p>暑當與汗　琦曰。暑當與汗八字有脫誤。堅按溫不云汗。暑特無汗。其理難晰。琦說似是。</p>

<h2>刺熱篇第三十二（太素全存）</h2>
<p>小便先黃　王注有不通二字。不知何意。</p>
<p>腹痛多臥　琦曰。木克脾。故腹痛。肝膽同氣。膽熱故好眠。</p>
<p>狂言及驚　楊曰。肝動語言也。故熱爭狂言及驚也。堅按宣明五氣篇肝為語。</p>
<p>其逆則頭痛員員　太素無逆則二字。員員作𤚎𤚎。楊曰。𤚎都⿰牜亶反。頭切痛也。堅按𤚎字當考。</p>
<p>脈引沖頭也　此五字太素亦有之。然竊疑古註文所錯入。宜刪去。方與下文例相合。</p>
<p>卒心痛煩悶　琦曰。氣液交郁。故心痛煩悶。善嘔者。胃脈入心。心熱胃亦病也。頭痛面赤者。火壅於上也。</p>
<p>頰痛　太素頰作顏。</p>
<p>顏青欲嘔身熱　琦曰。肝木克脾。故顏青。然詳篇中五藏病無勝已之證。則衍文是也。胃逆故嘔。脾主肉。故身熱。堅按顏青不必肝克脾證。</p>
<p>兩頷痛　太素頷作頜。先兄曰。至真要大論。王注頷。頰車前牙之下也。銅人經注。頷。謂頰下是也。方言云。秦晉頷謂之頜。</p>
<p>先淅然厥起毫毛惡風寒　太素厥字毫字寒字並無。楊曰。肺主毛腠內熱衍然起毛惡風也。肺熱上熏。故舌上黃也。肺主行氣於身。故身熱也。堅按王不注厥字。恐原本亦無之。琦曰。淅然厥起惡風寒。似外感之症。然本篇皆言病自內發。蓋熱甚於藏。陰氣浮越於外。肺主皮毛。故先見之。後乃身熱也。此說殆得楊意。</p>
<p>頭痛不堪汗出而寒　太素堪作甚。楊曰。肺熱沖頭。以肺脈不至。故頭痛不甚也。有本為堪。言氣衝甚。故頭痛也。琦曰。肺失清肅之令。氣不下行。三陽脈壅於上。故頭痛。衛虛陰浮。故汗出而寒。</p>
<p>出血如大豆立已　楊曰。出血如豆。言其少也。恐泄氣虛。故不多也。琦曰獨言出血。五藏可知。</p>
<p>身熱　楊曰。為足太陽脈。別項本支行背。合有四道。故身熱。</p>
<p>其逆則　太素無逆則二字。</p>
<p>澹澹然　太素無然字。楊曰。澹徒濫及。動也。謂不安動也（按安動疑安靜）</p>
<p>諸汗者至其所勝日汗出也　太素無此十一字。堅按此可以確高說。</p>
<p>名曰治未病　楊曰。五藏部中赤色見者。即五藏熱病之微。熱病已有。未成未發。斯乃名為未病之病。宜急取之。</p>
<p>熱病從部所起者　楊曰。部所者。色部所也。</p>
<p>諸治熱病　琦曰。治熱病。大意可見矣。仿之用藥辛涼清潤之劑。其亟亟乎。</p>
<p>刺足少陽補足太陰　太素無補字。堅按補字無者亦是。楊以為刺此二脈。不斥言孔穴。而以下四項並然。其意蓋與吳同。</p>
<p>始手臂痛　太素始作先。</p>
<p>始於頭首者　素問太素無痛字。按上文此言始於頭首痛。下始於足脛亦同。</p>
<p>刺足陽明而汗出止　琦曰。前言五藏之熱。此列六府之熱。林氏補足陽明。復缺手太陽手少陽二條。古文簡脫多矣。藏病云。至其王日汗出。蓋藏病無發汗之理。故俟其王日。正氣勝邪。自然汗出邪解。此所列府。府病皆在經。故可刺以出汗。</p>
<p>刺足少陰　太素作刺足少陽。楊曰。足少陽脈起目兌眥。胳身骨節。入耳中。故熱病先身重耳聾好瞑。所以取此脈之輸穴者也。有本為足少陰也。</p>
<p>太陽之脈　楊接上句讀。且以為此之三脈。皆生於骨。故赤色榮顴非是。</p>
<p>榮未交　禮記大學注。夭夭。美盛貌。</p>
<p>曰今且得汗待時而已　太素今作令。而作自。楊曰。赤色未夭之日。且得汗者。至勝時病自得已也。堅按據楊所注太素原文曰。是日字傳寫誤之耳。下文則作日字。可以互證。又仲景所謂面色反有熱色。面色緣緣正赤。其證相似而不同。</p>
<p>與厥陰脈　琦曰。厥陰當作少陰。若與少陰脈爭見。則是一日府藏俱病。三日遍六經而死。緣其熱本自腎發。故病內連腎也。堅按此即原下文新校正所言或者之意。存考。</p>
<p>其熱病內連腎少陽之脈色也　太素病下有氣字。無少陽之脈色也六字。堅按此與王所謂或為及新校正引舊本合。</p>
<p>色榮頰前（至）不過三日　太素曰作日。而作自。無期不出三日五字。（余與新校正引同）琦曰。按當有太陰色脈爭見之條。古文脫誤也。堅按此說與原識意符。</p>
<p>與少陰脈　琦曰。當作厥陰。</p>
<p>熱病氣穴　太素無此句。楊以椎下問為皆兩葙取之。非是。</p>
<p>榮在骶也項上三椎陷者中也　太素無骶也二字。及也字。楊曰。從肺輸以上三椎在頂。故曰項上三椎。即大椎上陷者中也。</p>
<p>逆顴為大瘕　太素顴作椎。瘕作瘦。顴後亦作椎後。馬曰。按靈樞五色篇。當以顴下為大小腸之分。難經亦有大瘕泄。堅按太素難從。大瘕恐不大瘕泄之謂。當考。</p>

<h2>評熱病論篇第三十三（太素存）</h2>
<p>陰陽交　琦曰。陰陽交。即兩感也。一陰一陽。藏府相交。而以火為作合。故脈躁疾。不為汗衰。由熱邪布滿。如焚如毀故也。堅按此說欠妥。郭雍傷寒補亡論。既辨陰陽交兩感相似。文繁不錄。當參。</p>
<p>三死　楊曰。汗出而熱不去死有三候。一不能食。二猶脈躁。三者失志。堅按馬暗得楊意。</p>
<p>服湯　太素無服字。楊曰。飲之湯液。以療其內。</p>
<p>勞風　太素作勞中。楊曰。勞中得風為病。名曰勞中。亦曰勞風。雞峰普濟方舉此證曰。此由腎氣不足。動作勞損。風搏於肺。腎氣不足。則膀胱不榮於外。故候強上瞑視。因其勞動而受病在肺。宜芍藥黃耆湯。（芍藥黃耆川芎烏頭薑棗水煎）醫學讀書記曰。此可悟傷風不解成癆之故。勞風者。既勞而又受風也。勞則火起於上。而風又乘之。風火相搏。氣湊於上。故云。法在肺下也。肺主氣而司呼吸。風熱在肺。其液必結。其氣必壅。是以俯仰皆不順利。故曰當救俯仰也。救俯仰者。即利肺氣散邪氣之謂乎。然邪氣之散與否。在乎正氣之盛與衰。若陽氣王而精氣引者三日。次五日。又次七日。則青黃之涕。從咳而出。出則風熱俱去。而肺無恙矣。設不出。則風火留積肺中。而肺傷。肺傷則喘咳聲嘶。漸及五藏。而虛勞之病成矣。今人治勞。日用滋養。叨不少益者。非以邪氣未出之故歟。而久留之邪。補之固無益。清之亦不解。虛勞病之所以難治也。（按王注曰從勞風生曰故腎勞風生陰陽別論風消注曰胃病深久傳入於脾故為風熱以消削又風厥注曰夫肝氣為風腎氣陵逆既風又厥故名風厥奇病論息積注曰灸之則火熱內爍氣化為風又腎風注曰勞氣薄寒故化為風並謂內生之風非外來之風邪此是王氏之創說而其實淵源於四時刺逆從篇狐疝風及膽肺心腎風疝之自）</p>
<p>以救俯仰　琦曰。謂通利氣道。使呼吸得達。堅按此證。項強目眩。起居不便。且咳者橫臥必甚。然則豈是扶持針藥。俱使其就安之謂乎。</p>
<p>巨陽引精者　琦曰。句不可解。疑有誤。</p>
<p>其狀如膿　太素膿上有稠字。</p>
<p>面胕痝然　太素痝作㾓。先兄曰。周語敦痝。紙固注。痝大也。</p>
<p>時熱　太素不復。堅按此段太素異同頗多。今不具存。</p>
<p>風水　琦曰。水病肺腎為主。而實本於脾。蓋腎為水藏。以類相從。故凡水責之腎。肺主治節。氣虛不化。亦令積水。然句中土氣實升降不失。則水無從生。故水病悉由脾虛不能制水也。</p>
<p>邪之所湊其氣必虛　此非邪湊則氣虛之謂。言氣所虛處。邪必湊之。故下文承以陽虛者陽必湊之。蓋此語足以盡邪氣傷人之理矣。</p>

<h2>逆調論篇第三十四（太素存）</h2>
<p>先兄曰。吳云。逆調者。逆於調攝而病。茲乃論其致病之由也。</p>
<p>非常溫也　琦曰。非逢溫暑之時。而生煩滿。是即所謂能冬不能夏者。</p>
<p>中非有寒氣也　琦曰。中字疑誤。</p>
<p>故身寒如從水中出　琦曰。此能夏不能冬者。陰陽之氣偏。則為中寒中熱之病。非因外也。</p>
<p>兩陽相得　楊曰。人有四支先熱。若遇風寒。更如火炙。是人陰虛陽盛。以其四支是陽。陽氣更盛。四支二陽合而獨盛。銷爍肌肉。不能生長。故曰肉爍之。馬曰。按此節當為內傷兼外感者歟。堅按此蓋不兼外感者。</p>
<p>以水為事　琦曰。以水為事。涉水游泳之類。恃其腎氣之勝。而冒涉寒水。水氣通於腎。腎得水寒。則腎中陽衰。太陽之氣亦衰。腎主骨髓。而髓之生長。惟恃乎氣。寒濕在內。反消真精。腎氣既衰。則脂枯不長。痿論亦有以水為事之文。指濕言也。</p>
<p>一水不能勝兩火　琦曰。句衍。堅按此據高說。</p>
<p>而生於骨　太素作而主骨故。</p>
<p>不能凍慄　琦曰能字衍。下同。</p>
<p>腎孤藏也　琦曰猶言一水。</p>
<p>當攣節也　琦曰。寒入骨髓。骨病而筋亦縮。為攣節。病名骨痹。因乎寒濕也。堅按此段琦說稍奇。姑存備考。雞峰方舉此證。處以乾漆。元曰。所以不凍慄者。非陽虛而為陰乘也。名曰骨痹。瘧久久不治。令攣縮。其方用鹿茸生乾地黃（各四兩）乾漆（半兩）附子（一兩）上為細末。酒煮麵糊和丸。如梧子大。酒下三十丸空心服。</p>
<p>苛　先兄曰。源順和名鈔引玉篇云。苛。小草生刺也。</p>
<p>肉如故也　太素故作苛。楊曰。苛音何。有本作苟。皆不仁之甚也。故雖衣絮溫覆。猶尚不仁者。謂之苛也。故知衣絮溫覆。即知覺首為不仁也。</p>
<p>臥不安　琦曰。衛氣晝行於經則寤。夜行於藏則寐。而衛氣之出入。依乎胃氣。陽明逆則諸陽皆逆。不得入於陰。故不得臥。</p>

<h2>瘧論篇第三十五（太素全存）</h2>
<p>夫痎瘧　太素痎作㾬。先兄曰。聖濟總錄云。痎瘧者。以瘧發該時。或日作。或間日乃作也。寒溫癉瘧。動皆該時。故內經統謂之痎瘧。此說非。又左傳疥字。據舊說亦即痎字。（昭二十年左傳齊侯疥遂痁杜預注痁瘧也陸氏釋文疥舊音戒梁元帝音該字當作痎兩日一發之瘧也痎又音皆後學之徒僉以痎字為誤案傳例因事曰遂若痎已是瘧疾何為復言遂痁乎顏之推曰說文痎二日一發之瘧痁有熱瘧也齊侯之病本是一發後漸加重遂頻日熱發也今北方猶呼痎瘧音皆而世間傳本多以痎為疥俗濡就為通云病疥令人惡寒變而成瘧此臆說也疥癬小疾寧有轉作瘧乎今案孔疏引梁人袁狎之就亦謂疥當痎堅按王念孫以陸說為是說見經義述聞宜參）</p>
<p>願聞其道　楊曰　諸問寒瘧發之所以也。</p>
<p>陽並於陰　琦曰。陽並於陰。陰出之陽也。陽為陰並。故陽虛而惡寒。王注謂陽氣入於陰分。非也。堅按楊注下文曰。三陽俱並於陰。則三陽皆虛。虛為陰乘。故外寒。琦意與此相合。</p>
<p>陽盛則外熱陰虛則內熱　楊曰。陰極則陽盛。陽盛則外熱。陽極則陰虛。陰虛則陽乘。故內熱。</p>
<p>喘　上文不言喘。故此補出。即呼吸喘迫之謂。不是痰喘。</p>
<p>此榮氣之所舍也　楊曰。此言其日作所由也。皮膚之內。腸胃之外。脈中營氣。是耶之舍也。堅按此說是邪在營分者。其氣淺。故日作。邪在募原者。其氣深。故間日。琦以為瘧邪多在營分者誤。</p>
<p>與衛氣並居　琦曰。並居。即與衛氣合而病作之義。非邪本居於衛也。</p>
<p>遇風及　太素及作乃。</p>
<p>夜行於陰　太素無此四字。</p>
<p>內外相薄　太素無此四字。楊曰。耶氣與衛俱行。以日日而作也。堅按病源。亦無此句。顧無者為勝。楊注與高同義。琦曰。得衛氣之行。則外發。故病作。氣過則仍內薄。故不作。其意亦同。</p>
<p>陰與陽爭不得出　楊曰。其耶氣因衛入內。內薄於陰。共陽交爭。不得日日與衛外出之陽。故間日而作也。</p>
<p>膂　太素作𦛗。</p>
<p>間日發者由邪氣　太素無此七字。</p>
<p>橫連募原　楊曰。募原五藏背有募原。其耶氣內著五藏之中。橫連五藏募源之輸。堅按楊說不晰。然邪客篇募筋。太素作募筋。而楊注則曰募當為膜。亦募覆也。蓋其改募作膜者。未必是。然足以堅原識之意。先教諭別有募原考。（附刊在所者醫賸後）學者當參看。橫連二字。諸家無解。蓋膈募橫遮。故邪之客亦橫連其位也。又按堯典光被四表。漢書作橫被四表。戴東原文集有說曰。樂記鐘聲鏗。鏗以立號。號以立橫。橫以立武。鄭注曰。橫充也。謂氣作充滿也。祭義曰。溥之而橫乎四海。孔子閒居曰。以橫於天下。注曰。橫充也。據此。橫連之橫。恐亦充滿之義。存考。</p>
<p>不能與衛氣俱行不得皆出　太素無不得二字。皆作偕。楊曰。偕俱也。堅按此與甲乙合。</p>
<p>故虛實不同邪中異所　志曰。虛實者。早晏也。若邪中異所。則或發於早者。每日早發。或發於晏者。每日晏發。非若客於風府之邪。日晏而日早也。堅按此說難從。姑存之。</p>
<p>邪氣之所合　太素合作舍。堅按此與靈樞病源合。</p>
<p>則其府也　先兄曰。吳云。上文邪客風府之論。似乎拘泥。故虛實不同。邪中異所。至此其論風無常府。邪之所舍。則其府也。始為活潑無弊也。張云。邪之所中。亦但隨虛實而異其處。不必盡當風府。然則所謂日下者。惟邪氣耳。衛氣周環。豈有日下之理。但氣至而會。其病即作。馬雲。凡物之所聚。皆可以言府也。</p>
<p>沉以內薄　先兄曰。張云。言其深也。即薄於五藏。橫連膜原之謂。</p>
<p>淒滄之水寒　太素水作小。寒下有寒迫之三字。外臺引病源並同。（今本猶作水旡&lt;原本作無&gt;迫字）堅按上文夏傷於暑熱。氣盛云云。與此稍異。</p>
<p>秋傷於風則病成矣　太素成作盛。病源同。（外臺引作成）</p>
<p>溫瘧　琦曰。蒙上夏傷於暑。故但言風寒。堅按此說傎矣。</p>
<p>癉瘧　楊曰。癉熱也。</p>
<p>熇熇之熱　先兄曰。易家人九三家人嗃嗃。鄭玄曰。嗃嗃苦熱之意。釋文。劉表章句作熇熇。</p>
<p>外無氣　先兄曰。吳云。外無氣。謂衛氣併入於陰而表虛也。</p>
<p>陽與陰復並於外　琦曰。外應作內字之誤也。此陽入之陰。</p>
<p>真性而未得並者也　太素真作直。而下有取字（新校正特舉直往）是。琦曰。所謂迎而奪之。</p>
<p>客於六府　琦曰。句有錯誤。篇中並無邪客六府之義。</p>
<p>以春病者惡風　楊云。惡於路反。畏惡也。</p>
<p>邪氣與汗皆出　太素皆作偕。</p>

<h2>刺瘧篇第三十六（太素全存）</h2>
<p>足太陽之瘧　琦曰。瘧邪不居經絡。亦有六經證者。邪從風府而下。漸以內傳其出也。亦必背俞而出。各視所近經絡為變現也。</p>
<p>足少陽之瘧　楊曰。足少陽脈羈終身之支節。故此脈病。身體解㑊。</p>
<p>刺足少陽　楊曰。可刺足少陽風池丘虛等穴也。</p>
<p>令人先寒（至）乃快然　琦曰。此與少陰節錯簡。當在足少陰其病難已之上。陰病多寒。喜見日月光火氣者。陽虛故也。</p>
<p>令人嘔吐至欲閉戶牖而處　琦曰。此陽明瘧脫文也。胃逆故嘔吐。陽盛故熱多。陽明病惡人與火。故欲閉戶牖而處。堅按琦說臆斷。姑存之。</p>
<p>其病難已　琦曰。病在陰者難已。通太厥而言之也。</p>
<p>刺足厥陰　楊曰。可刺足厥陰。五輸中封等穴也。</p>
<p>肺瘧　太素熱字不復。（按與巢源合）楊曰。以上言經病為瘧。以下言藏病瘧。肺以逼心。故肺病心寒。嘉驚妄有所見。宜取肺之藏府表裡之脈也。</p>
<p>心瘧　楊曰。心中煩熱。故欲得冷水。及欲得寒。以其足陽。得寒發熱。故欲得寒多也。其寒不甚。其熱甚也。心經手少陰受病。遂令心煩。又曰療在手少陰少海之穴也。</p>
<p>肝瘧　太素蒼蒼作倉倉。楊曰。肝瘧病甚。則正色見。故倉倉然也。倉青也。病甚氣奔。故太息出之。可取肝之經絡見血得愈也。</p>
<p>脾瘧　楊曰。脾脈足太陽脈屬脾。胳胃連腸。以穀氣盛。故寒疾腹痛腸鳴。可取脾之經脈。大都公孫商丘等穴也。</p>
<p>宛轉大便難　先兄曰。高雲靈五邪篇云。邪在腎。則骨病陰痹。大便難。</p>
<p>胃瘧者令人且病也　楊曰。疽音且。內熱病也。胃受飲食。飲食非理。致有寒熱。故胃有瘧也。堅按千金方曰。五臟並有瘧候。六腑則無。獨胃腑有之。三因方曰。病者寒熱善飢而不能食。食已支滿。腹急㽲痛。病以日行。名曰胃瘧。六腑無瘧。唯胃有者。蓋飲食飢飽所傷胃氣而成。世謂之食瘧。或因諸瘧飲食不節。變為此證。景岳全書曰。三因所云胃瘧。既云飲食。則明是內傷。且凡先因於瘧而後滯於食者有之。未有不因外邪而單有食瘧者也。</p>
<p>刺足陽明太陰橫脈　楊曰。陽明大胳。即大橫脈也。先兄曰。高雲。橫脈。絡脈也。經直絡橫之意。</p>
<p>立寒　琦曰二字衍。</p>
<p>瘧方欲寒　琦曰。刺手經以寫熱。刺足經以寫寒。使陰陽分泄。氣不相併則病已。</p>
<p>傍五胠俞　先兄曰。玉機真藏論次注。胠謂腋下脅也。說文胠亦下也。（按瘧脈滿大急下新校正中五十五字當作五十七字）</p>
<p>諸瘧而脈不見　楊以脈為胳脈。難從。儒門事親曰。會陳下有病瘧二年不愈者。止服溫熱之劑。漸至衰羸。命予藥之。余見其羸。亦不敢便投寒涼之劑。乃取內經刺瘧論詳之曰。諸瘧不已。刺十指間出血。正當發時。余刺其十指出血。血止而寒熱立止。咸駭其神。醫學議書記曰。凡諸瘧而脈不見。刺十指間出血。血出必已。故初病脈不出者。多是氣血壅遏所致。無用張皇。遽投溫補。亦致敗事。</p>
<p>手少陰陽明　太素作陰陽。楊曰。手表里陰陽之脈。十指之間也。堅按據新校正太素脫手字。</p>
<p>刺三陽經背俞之血者　楊曰。風瘧候手足三陽經之背輸。有瘧□穴處取之。堅按楊說似是。琦亦以為謂足三陽經。</p>
<p>胕髓病　楊曰。有本髓為體。</p>
<p>刺至陰諸陰之井　太素刺至陰作刺之。楊曰。五藏諸陰之井。起於木。宜取勿出血也。堅按此與甲乙經合。（原識三字衍三當作二）</p>
<p>刺足陽明　太素同於本文。與新校正引異。甲乙曰。九捲雲取足陽明。素問刺太陰。</p>
<p>刺足少陽　太素同於本文。甲乙引九卷與新校正引同。</p>

<h2>氣厥論篇第三十七（太素全存）</h2>
<p>腎移寒於肝　肝太素亦作脾。</p>
<p>肺消　楊曰。心得寒氣與肺。肺得寒發熱。肺燋為渴。名曰肺消。飲一升。溲一升。可療。飲一升。溲二升。肺已傷甚。故死也。琦曰。肺藏受寒。脾陽亦敗。飲入於胃。不復消化精微。而直輸水府。上則相火爍金。下則膀胱寒滑。風水竭力沖決。是以飲一而溲二也。是其上熱下寒。中焦濕滯。金匱男子消渴飲一斗溺亦一斗。腎氣丸主之。所以濕味而滋水。此飲一溲二。由於心氣之敗。君火衰熄。而相火燔炎。樞軸不運。五藏精液。輸泄無餘。藏神已敗。故不治。陰陽別論曰。心之肺謂之死陰是也。醫學讀書記曰。肺居上焦而司氣化。肺熱則不肅。不肅則水不下。肺寒則氣不化。不化則水不布。不特所飲之水直趨而下。且並身中所有之津。盡從不趨之熱。有降無升。生氣乃息。故曰飲一溲二死不治。</p>
<p>如囊裹漿水之病也　太素作如裹囊治肺者。蓋有訛脫。</p>
<p>肝移熱於心則死　楊曰。肝將熱氣與心。心中有神。不受外耶。故令受耶即死也。琦曰。王注引陰陽別論甚當。但非火木相燔之義耳。</p>
<p>柔痓　太素作素痓。楊曰。素痓強直。不得迴轉。堅按太素非是。</p>
<p>傳為虛　琦曰。虛字衍。</p>
<p>腸澼死　太素澼作⿸厂酋。楊曰。脾主水穀。故脾得熱氣。令腸中水穀消竭。所以腸虛闢疊不通而死。堅按楊注不穩。王注腸澼除亦不了。當考。</p>
<p>胞移熱於膀胱　楊曰。胞女子胞也。女子胞中有熱。傳與膀胱尿胞。尿脬得熱。故為淋病尿血也。堅按楊注甚核。</p>
<p>口麋　太素麋作靡。楊曰。熱上衝口中爛。名曰口靡爛也。（按此爛字衍）亡皮反。堅按靡蓋嚖者。說文。嚖爛也。（原識麋字是寫胥所誤皆當從麻）</p>
<p>為虙瘕為沉　太素虙瘕作密疝。楊曰。小腸將熱氣與大腸為病。名曰密疝。大腸得熱。密澀沉而不通。故得密沉之名也。堅按王注瘕一作疝者。蓋指太素也。琦曰。沉當作症。是臆說。</p>
<p>食亦　楊曰。亦義當易也。言胃中熱。故入胃之食。變易消無。（按無字疑訛）不為肌肉。故瘦。堅按楊注欠當。</p>
<p>鼻淵　太素作鼻淟。楊曰。淟他典反。垢濁也。堅按鼻淟之名。與證相協。然蓋是避唐太祖諱而所改也。（太素淵掖作泉掖清冷淵作清冷泉是其證）</p>
<p>衄衊　太素衊作䍯。楊曰。䍯亡結反。眵也。堅按太素經注並誤。（太素䍯字據楊注系𩢺字之訛）千金作鼽瞢。此由䍯字而更轉訛者。</p>
<p>故得之氣也　太素氣厥倒。楊曰。此膽傳之病。並曰逆。熱氣之所致也。堅按楊注與原識意符。</p>

<h2>咳論篇第三十八（太素全存）</h2>
<p>先兄曰。醫宗必讀云。此言咳而不言嗽者。省文也。如秋傷於濕。見於二篇。一篇只有咳字。一篇兼有嗽字。則知此篇舉咳。而嗽字在其中矣。</p>
<p>非其時各傳以與之　琦曰。非其時三字衍。堅按此說當考。</p>
<p>五藏各以治時　張曰。治時。治令之時也。</p>
<p>乘秋則　太素無此三字。有黃帝曰五藏之咳奈何。岐伯曰。五藏之久咳乃移於府五句。楊曰。以下言肺咳相傳為藏府咳也。五藏之咳。近者末皇。久者傳為府咳也。</p>
<p>肺先受之云云　太素心先受之。以下三先字並無。楊曰。肺以惡寒。肺先受寒。乘春肝王之時。肝受即為肝咳。若肺先受。寒乘於至陰。即為脾咳。若肺先受寒。乘冬即為腎咳。堅按據楊注太素肝先受之之先字亦並芟去。於例相協。</p>
<p>唾血　唾蓋是涕唾。非津唾之謂。張曰。唾血者。隨咳而出是。</p>
<p>咽腫喉痹　太素作咽喉腫。</p>
<p>咳則兩脅下痛　太素脅作胠。楊曰。胠有本作脅也。</p>
<p>咳涎　太素涎作演。楊曰。音涎。腎液也。謂咳涎出之也。堅按演蓋𬌺之訛。𬌺即涎字。（見集韻及慧琳藏經音義）又按此涎。即今之稠痰也。琦曰。腎主五液。入脾為涎。濁陰上填。故咳而多涎。</p>
<p>遺失　太素亦作遺矢。楊曰。遺矢者。咳引大腸。故遺矢也。先兄曰。滑云。失當作矢。如一飯三遺矢。大腸為傳送之府。故寒入而氣不禁。</p>
<p>咳而失氣氣與咳俱失　太素作咳而氣。氣者與咳俱出。楊曰。小腸在上。咳引小腸。故氣與咳俱發者也之。</p>
<p>此皆聚於胃關於肺　楊曰。此六府咳。皆以氣聚胃中。上關於肺。致使面壅浮腫。氣逆為咳也。堅按楊特屬之六府。未為盡。</p>
<p>多涕唾　此亦恐今之稠痰。與評熱病論唾出若涕。及咳出青黃涕之涕。其義相同。</p>
<p>帝曰善　琦曰。經文論咳。專主於寒。金匱以支飲言。亦寒也。金匱及此經正相發明。皆水濕寒氣為之也。若燥火之邪。亦有作咳。乃其兼症。非專病也。至內傷勞嗽。又屬標中之標。不可責之咳者。猶肺痿肺癰。及大病後年高氣弱。多有咳嗽。不可以咳論治也。堅按張介賓既有詳說。其義甚精。須參看。</p>

<h2>舉痛論篇第三十九（太素全存）</h2>
<p>要數極　楊曰。所以然者。得其要理之極明達故也。數。理也。</p>
<p>明明也　太素作明矣二字。</p>
<p>如發蒙解惑　先教諭撰醫賸曰。枚乘七發云。發蒙解惑。未足以言也。先兄曰。易蒙初六。發蒙利用刑人。（又見氣穴論）</p>
<p>五藏卒痛　高曰。痛者藏府之氣不通也。故願聞五藏卒痛。何氣使然。堅按詳下文五藏卒痛。是諸痛中一證。蓋帝先舉病最重者為問也。而伯對以寒氣入經。有脈外脈中之辨。帝仍就其義以問諸痛之別。高注以為其第一第二痛。有止不止之不同。第三四五痛。有宜按不宜按之不同。第六七八九痛。有上下相應相引之不同。第十十一痛。有久暫之不同。第十二十三十四痛。有通閉之不同。</p>
<p>寒氣入經而稽遲　太素作寒氣入焉。經血稽遲。</p>
<p>客於脈外則血少　馬雲。或客於經脈之外。則血原少而愈澀。或客於經脈之中。則脈遂澀而不通。皆能卒然而痛也。琦曰。脈外傷衛。脈中傷營。互文見義。血少則氣虛可知。氣不通則血亦不行矣。其脈必見遲澀。堅按馬說為優。</p>
<p>寒氣客於脈外　史載之方曰。若寒濕之氣勝而腹痛。六脈皆微細而沉。時時小擊。經訣所謂陽弦頭痛。陰微腹痛是也。又曰。舉痛論云。寒氣客於脈外云云。其脈正與寒濕之氣勝同。</p>
<p>炅　楊曰。炅。熱也。又注。後炅則氣泄。曰。炅音桂。熱也。</p>
<p>因重中於寒則痛久矣　吳曰。此明痛甚不休者。寒氣重盛。不易解散。故痛。久衍高同。堅按據此則不須必從滑氏改下文。</p>
<p>寒氣客於經脈之中　太素脈作胳。楊曰。痛不可按之兩義解之。一寒熱薄於脈中。滿痛不可得按。二寒下留熱氣上行。令脈血氣相亂。故不可按也。堅按此疑非兩義。琦曰。寒氣稽留。熱氣從上。釋相薄之義。此說似是。吳馬等諸言。其意既然。史載之方引刪滿則以下十七字。蓋以為重複也。史又曰。其脈散滿。指下充大。而至數不多。卻不甚有管力。宜去其寒而行其血氣。</p>
<p>寒氣客於腸胃之間　史載之曰。其脈亦差大差緩而沉。</p>
<p>血不得散　太素血作而。</p>
<p>寒氣客於俠脊之脈　史曰。其脈當尺澤沉而擊。宜行其腎經以去其寒。</p>
<p>寒氣客於衝脈　史曰。其脈當實大有形不勻。輕滑而又緊。來疾去遲。如有物制之。宜通其脈。行其氣。</p>
<p>衝脈起於關元　脈經。衝脈者。起於關元。循腹裡直上至咽喉中。</p>
<p>喘動　廣雅。揣。㹞動也。疏證曰。釋訓云。揣。抁搖捎也。揣抁之轉作喘耎。莊子胠篋篇。喘耎之蟲。崔撰注云。動蟲也。一云無足蟲。此說足以證喘蝡之相通。（揣喘蝡並同韻）</p>
<p>寒客於背俞之脈　史曰。脈澀以血虛而不行其脈。六脈細數。而肝心尤微。心脈如帶芤。重按即缺。往往身有汗。宜足其血以得其心。</p>
<p>則血脈泣　太素無血字。</p>
<p>寒氣客於厥陰之脈　史曰。其脈皆輕帶弦。肝脈連腎脈弦長而緊。甚則透過尺澤而弦。</p>
<p>寒氣客於小腸募原　太素小腸募原作腸募關元。史曰。其脈沉大而實。膀胱動而有聲。宜通其小腸。</p>
<p>寒氣客於五藏　楊曰。寒氣入五藏中。厥逆上吐。遂令陰氣竭絕。陽氣未入之間。卒痛不知人。陽氣入藏還生也。史曰。其脈伏而大極無骨力。三部皆芤。身有冷汗。宜灸氣海。後用暖藥。</p>
<p>寒氣客於腸胃　史曰。其脈細而滑。（史氏於每證附有治方殊少可取仍不錄）</p>
<p>癉熱焦渴　太素渴作竭。</p>
<p>視其主病之脈　張曰。主病之脈。病所在也。脈堅者。邪之聚也。血留者。絡必盛而起也。陷下者。血氣不足。多陰候也。</p>
<p>怒則氣上喜則氣緩　春秋繁露曰。怒則氣高。喜則氣散。</p>
<p>恐則氣下　春秋繁露曰。懼則氣懾。</p>
<p>驚則氣亂　春秋繁露曰。憂則氣狂。</p>
<p>飧泄故氣上矣　太素作食而逆。氣逆上也。楊曰。引氣而上。故氣逆。怒其氣逆。則致嘔血。及食氣逆上也。堅按此與新校正引稍異。張子和儒門事親曰。素問之論九氣。其變甚詳。其理甚明。然論九氣所感之疾則略。惟論嘔血及飧泄。余皆不言。又曰。靈樞論神意魂魄志精所主之病。然無寒熱暑驚勞四證。余以是推而廣之云云。其文頗繁。宜參。</p>
<p>故氣緩矣　張曰。氣脈調和。故志暢達。榮衛通利。故氣徐緩。然喜甚則氣過於緩。而漸至渙散。故調經論云。喜則氣下。本神篇曰。喜樂者神憚散而不藏。義可知也。琦曰。九氣皆以病言。緩當為緩散不收之意。陰陽應象論曰。暴喜傷陽。又曰。喜傷心是也。</p>
<p>故氣消矣　楊曰。營衛之氣。在心肺聚而不散。神歸本移。所以熱而氣消虛也。</p>
<p>營則喘息　太素息作喝。</p>
<p>神有所歸正　太素與新校正引甲乙經同。</p>

<h2>腹中論篇第四十（太素熱中消中及懷子二節缺余皆存）</h2>
<p>鼓脹　太素今本與本經同。</p>
<p>雞矢醴　太素無矢字。楊曰。氣滿心腹。故旦食暮不能也。是名鼓脹。可取雞糞竹丸。（按此二字疑）熬令煙盛。以清酒一斗半潑之。承取汁。名曰雞醴飲。取汗。一劑不愈。至於二劑。非直獨療鼓脹。膚脹亦愈。堅按既名以醴。則用酒以優。但雞矢瀉下之力頗峻。王氏以為利小便者是。其云取汗者誤矣。（千金治產後中風別是法鼓脹豈宜取汗乎）雞峰普濟方。雞矢釀若心腹滿。旦食暮不能食。由脾元虛衰。不能剋制於水。水氣止行。浸漬於土。土濕則不能運化水穀。氣不宣流。上下痞塞。故令人中滿。旦則陽氣方長。穀氣易消。故能食。暮則陰氣方進。谷不得化。故不能食。其脈沉實而滑。病名谷脹。宜雞矢醴。雞矢白半升。上以好酒一斗。漬七日。溫服一盞。溫酒調服盡淨為佳。（按王氏所舉大利小便微寒是本草黑字文又方以智物理小識有矢醴說殊少其要仍不錄）</p>
<p>故時有病也雖然　太素病作痛。無雖字。下文病氣亦作痛氣。堅按雖然以下。琦曰有脫誤。或衍文。</p>
<p>血枯　病源論曰。醉以入房。則內氣竭絕傷肝。使月事衰少不來也。所以然者。肝藏於血。勞傷過度。血氣枯竭於內也。又先經唾血及吐血下血。謂之脫血。使血枯。亦月事不來也。琦曰。凡血枯經閉。固屬虛候。然必有瘀積。乃致新血不生。舊積日長。藏府津液。俱為所蝕。遂成敗症。徒事補養。無救於亡。金匱治虛勞有大黃䗪蟲丸。蓋本此也。由血氣本虛。挾痰挾寒挾氣。即著而為瘀。治宜先去其瘀。繼養其正。則得之矣。烏鰂厥陰血藥。藘茹即茜草。二味主平肝行瘀。雀卵溫補精血。鮑魚腐物也。亦利瘀血。補益精氣。兼以活血散瘀。虛勞治法。不出於此。</p>
<p>復以何術　先兄曰。張云。復。復其血氣之原也。</p>
<p>四烏鯽骨至傷肝也　太素鯽作賊。藘作蘆。腸作脅。楊曰。四四分一。一分搗以雀卵為丸。食後服之。飲鮑魚汁。通利腸及補肝傷也。堅按本草經曰。病在心腹以下者。先服藥而後食。張氏醫通曰。久病虛勞失血。血枯發熱。及女人經閉血枯者。宜素問四烏鰂骨一藘茹丸。又有此方治驗。舉在病能論下。宜參。又有方意論頗精。文繁不錄。當閱。</p>
<p>此下（至）內癰　太素下膿之下。無生。作出。俠作使。楊曰。以其伏梁下因於陰。膿血必上迫於胃管。上出於膈。使胃管生癰。故按之下引於陰。上連心腹。所以致死。</p>
<p>論在刺法中　琦曰。此節訛缺。甚不可讀。以意逆之。蓋藏府鬱熱。久而不散。乃成內癰。</p>
<p>病名伏梁　此段太素文句有錯。欠妥。仍不具載。外科精義。伏梁丸（出養生必用方）治環臍腫痛。腸胃瘡疽。厚朴（生薑汁製）茯苓枳殼（麩炒去穰）白朮荊三稜（炮）半夏（湯洗七次）人參（以上各乙兩）上為細末。麵糊為丸。如小豆大。每服三十丸。食前米飲湯下。</p>
<p>肓之原在齊下　稗海本搜神記曰。心上為膏。心下為肓。（段玉裁曰許云鬲上為肓者折言之鬲上肓肓上膏膏上心是說本於杜氏稗海本搜神記似晚出書然釋膏字或有其理當考）</p>
<p>動之為水溺澀之病　王注奇病論曰。故動之則為水而溺澀也。動謂齊其毒藥而擊動之。使其大下也。</p>
<p>芳草　楚辭大招和致芳只。注。芳。姜椒也。張衡七辨。芳以姜椒。此所謂芳草。蓋姜椒之屬。張注亦謂是也。</p>
<p>上藥之氣悍　倉公傳論曰。中熱不溲者。不可服五石。石之為藥精悍。</p>
<p>膺腫　太素亦作癰腫。</p>
<p>無邪脈也　金匱曰。婦人得平脈。陰脈小弱。其人渴不能食。無寒熱。名妊娠。</p>

<h2>刺腰痛篇第四十一（太素全存）</h2>
<p>尻　先兄曰。吳云。尻臀也。按尻臀自異。吳說誤。</p>
<p>刺金門　楊云。刺金門。堅按此說非是。</p>
<p>善悲　楊曰。陽明穀氣虛。故妄有見。虛為肝氣所克。故善悲。</p>
<p>䯒前　太素䯒作骭。楊曰。下循胻外廉。故刺之以和上下。堅按說文骭骹也。從骨交聲。（骹下曰脛也）</p>
<p>痛引脊內廉　太素無痛字。廉作痛。堅按新校正引少異。</p>
<p>內踝上　太素上作下。楊曰。足少陰脈云云。出然骨之下。循肉踝之後。故取內踝之下。</p>
<p>出血太多　太素作出血大虛。</p>
<p>厥陰之脈　太素並作居陰之脈。堅按此與王所謂一經同。</p>
<p>腨踵魚腹　太素腹作腸。</p>
<p>善言　太素亦無善字。</p>
<p>解脈　楊曰。解脈行處為病。與足厥陰相似。亦有足厥陰胳脈。堅按此與王注不同。</p>
<p>痛引肩　太素無痛字。肩作膺。</p>
<p>解脈　醫學讀書記曰。詳本篇備舉諸經腰痛。乃獨遺帶脈。而重出解脈。按帶脈起於少腹之側。季脅之下。環身一周。如束帶然。則此所謂腰痛如引帶。常如折腰狀者。自是帶脈為病。云解脈者。傳寫之誤也。堅按未是。</p>
<p>如引帶　太素引作別。無帶字。堅按引或體別。故訛作別也。</p>
<p>善恐　太素亦作善怒。</p>
<p>刺解脈在郄中　楊曰。前之解脈。與厥陰相似。今此刺解脈郄中。當是取足厥陰郄中之胳也。</p>
<p>合腨下間去地一尺所　太素云作上。楊曰腨下間上地一尺所。即陽交穴陽維也。陰維會即築賓穴。陰維郄也。堅按甲乙陽交陽維之郄。在外踝上七寸。斜屬三陽分肉間。（足少陽膽經）</p>
<p>衡絡之脈　太素作沖絁之脈。衡絡絕作沖絁胳。衡居作沖居。堅按此即王所謂一經。楊注亦欠晰。不錄。考沖亦橫也。見顏師古匡謬正俗。</p>
<p>直陽之脈　楊曰。刺直陽者。有本作會陽。堅按此足以證直之為值義。</p>
<p>內踝上五寸　太素亦作二寸。</p>
<p>飛陽之脈　先兄曰。按飛陽即腓陽。古文肥作㚄。與古蜚字相似。故訛作飛。而腓肥古相通。易遁卦。肥遁無不利。文選思玄賦。作飛遁。曹子建七啟。作飛遁。可見飛肥古文相訛。又易咸卦。咸其腓凶。釋文。荀爽作肥。即肥腓古文相通。可以證也。蓋足太陽之脈。別下貫踹內者。故云腓陽之脈。前說據姚氏西溪叢話。</p>
<p>上踝二寸所　太素二作三。堅按內踝上三寸。即三陰交穴。屬足太陰經。此云太陰後。知太素非是。</p>
<p>散脈　陽曰。散脈在膝前骨肉分間者。十二經脈中。唯足厥陰足少陽在膝前主溲。故當是此二經之別。堅按楊說誤。</p>
<p>肉裡之脈　楊曰。太陽外絕骨後。當是少陰為肉裡脈也。堅按此說亦難從。</p>
<p>筋縮急　太素縮作攣。</p>
<p>刺足太陽郄中　太素太陽作陽明。</p>
<p>腰痛上寒不可顧　此以下六十二字。太素亦無。</p>
<p>兩踝胛上　太素無踝字。楊曰胛。脊骨兩葙間也。先兄曰。王注長刺節論云腰踝骨者。腰旁俠脊平立陷者。中按之有骨處也。</p>
<p>左取右右取左　太素無此六字。</p>

<h2>風論篇第四十二（太素全存）</h2>
<p>或為風也　太素風上有賊字。堅按據張注賊風。亦蓋指腦風目風等。巢源有賊風候。別是一證。</p>
<p>風氣藏於皮膚之間至寒中而泣出　楊曰。風寒之耶得之因者。或因飢虛。或因復用力。腠理開放。風入毛腠。灑然而寒。腠理閉塞。內壅熱悶。又曰。其寒不泄在內。故不能食。其熱不泄在外。故銷肌肉也。是以使人惡風而不能食。稱曰寒熱之病。怢慓。振寒貌也。堅按千金方錯綜此段。更演其義曰。風者善行而數變。在人肌膚中。內不得泄。外不得散。因人動靜。乃變其性。有風遇寒。則食不下。遇熱則肌肉消而寒熱。有風遇陽盛則不得汗。遇陰盛則汗自出。肥人有風。肌肉厚則難泄。善為熱中目黃。瘦人有風。肌肉薄則常外汗。身中寒。目淚出。有風遇於虛。腠理開則外出。悽悽然如寒狀。覺身中有水淋狀。時如竹管吹處。此是其證也。有風遇於實。腠理閉則內伏。令人熱悶。是其證也。</p>
<p>風氣與太陽俱入　此以下至有不仁也。楊接下文癘風為說。正與高意同。</p>
<p>與衛氣相干　太素此下有沖氣淫耶四字。</p>
<p>有瘍　太素瘍作傷。下瘍潰同。堅按作傷者非。</p>
<p>有榮氣熱胕　楊曰。胕。腐也。堅按榮氣猶言營血。</p>
<p>其氣不清　太素清作精。</p>
<p>以春甲乙云云　楊曰。春甲乙者。木王時也。木王盛時。衝上風來。名曰耶風。木盛近里。故衝上耶風來傷於肝。故曰肝風。余曰仿此也。</p>
<p>亦為藏府之風　據志高說推之。此言風中五藏六府之俞者。不拘時日。亦為藏府之風。但下五藏風病能。不言偏枯喑俳等候。則本篇所謂五藏風。別是一證殆是。金匱五藏風寒篇中所舉中風之類歟。志又曰。此二因。（按二因言以時傷者與中藏府之俞者）與金匱之所謂邪入於府。即不識人。邪入於藏。舌即難言。口吐涎之因證不同。金匱之所謂中藏中府者。邪直中於藏府。而傷藏府之元神。本篇之論。一因隨時而傷藏氣。一因經絡受邪而內連於藏府。是以五藏之風狀止見色證。而不致如傷藏神之危險者也。此說亦是。</p>
<p>各入其門戶所中則為偏風　太素所作之。楊曰。門戶空穴也。耶氣所中之處。即偏為病。故名偏風也。堅按楊注與原識符。蓋本篇總該諸風之為病者。辨證揭名。並五藏風凡十四般。其候各異。特此偏風。乃為仲景所謂半身不遂之風矣。高以腦風目風等七證屬之偏風。恐不必然。</p>
<p>風入係頭　太素係作系。楊曰。耶氣入於目系。在頭故為目風也。</p>
<p>眼寒　太素作眠寒。楊接下句讀。且曰有本目風眼寒也。堅按太素經注並誤。琦曰。寒者隱澀之意。亦非。先兄曰。六書故云眼目中黑白也。易曰多白眼。合黑白與匡謂之目。</p>
<p>內風　龔氏壽世保元以為腎水虛衰。陰虛陽實。卒倒無所知之證。</p>
<p>風者百病之長也　楊曰。百病因風而生。故長也。以因於風。變為萬病。非唯一途。故風氣以為病長也。</p>
<p>無常方然致有風氣也　太素致作故。張曰。無常方然者。言變化之多。而其致之者。則皆因於風氣耳。</p>
<p>其診及其病能　楊曰。診者既見其狀。因知所由。故曰診也。晝間暮甚等即為狀也。咳短氣等。即為病服之也。（按眠當能字）</p>
<p>皏然　楊曰。皏普幸反。白色薄也。</p>
<p>焦絕　楊曰。焦。執也。絕。不通也。言熱不通也。堅按義不了。</p>
<p>病甚則言不可快　太素病作痛。無言字。琦曰。心開竅於舌。其脈別系舌本。經絡受邪。故言語蹇澀。</p>
<p>色薄微黃　琦曰。土居中以灌四傍。藏府精氣變現。已為色則精明而厚。脾衰不能灌溉。故色薄。</p>
<p>面痝然浮腫　琦曰。面腫者。風挾水氣上行。即評熱病論之風水也。　　脊痛　太素脊上有腰字。</p>
<p>隱曲不利　楊曰。謂大小便不得利。琦曰。陽道不利。其在女子。則月事不來也。</p>
<p>肌上　太素作頤上。楊曰。頤上腎部也。有本為肌上誤也。琦曰。診在肌上未詳。刺熱論以頤候腎。肌或頤之訛也。堅按二說俱允。惜未知肌之為肌耳。</p>
<p>首風　三因方處以附子摩頭散。即金匱頭風摩散。</p>
<p>漏風　三因方與病能論。酒風錯綜。處以麋銜湯。</p>
<p>常不可單衣　楊曰。謂重衣則汗。衣單則寒。堅按任說最穩。</p>
<p>身汗　琦曰。身汗二字衍。</p>
<p>衣常濡　太素常作裳。堅按王注亦云衣裳濡。恐原本為然。</p>
<p>不能勞事　琦曰。陽泄而虛。故不耐勞事也。</p>
<p>泄風　三因方從千金作內風。治以附子湯方。附子（生去皮臍）人參（各半兩）茴香（炒）茯苓山藥（各一分）甘草（炙）乾薑（炮各三分）上為銼散。每服四大錢。水二盞。姜三片。鹽少許。煎至七分。去滓。空心服。</p>
<p>上漬其風　琦曰。其風二字衍。</p>
<p>身體盡痛　汗出液燥。營衛澀滯。故有此證。猶桂枝加芍藥生薑人參新加湯。身疼痛之類。琦以為重感於寒。謬。</p>

<h2>痹論篇第四十三（太素全存）</h2>
<p>以冬遇此者為骨痹　楊曰。冬時不能自調。遇此三氣。以為三痹。痹俱稱骨痹。以冬骨也。餘四仿此。至陰六月脾所主也。琦曰。至陰當作季夏。</p>
<p>多飲數小便　琦曰。熱上淫肺。故多飲。肝鬱欲泄。故便數。</p>
<p>上為引如懷　太素作上為演壞。楊曰。演當作涎。謂涎流壞中心也。堅按太素經注俱非。</p>
<p>上為大塞　太素塞作寒。楊曰。胃寒嘔冷水也。先兄曰。按大塞義未詳。豈飲食不進之謂歟。○琦曰。下云入藏者死。此列五藏痹未見死候。且五藏惟腎痹為骨痹之診。余並藏之本病。絕與痹無與。故林氏云云。（系痛聚在脾下新校正文）蓋因有肺痹心痹等名。遂以意竄入。殊不知經所云肺痹心痹云者。乃病之變名。如五藏生成篇。亦有五藏痹證。與本篇風痹之義。渺不相涉也。率意移之過矣。堅按琦說是。</p>
<p>腸痹者數飲而出不得　太素腸上有大字。楊曰。大腸中熱。大便難。</p>
<p>胞痹　楊曰。膀胱盛尿。故謂之胞。即尿脬。脬返苞反。</p>
<p>內痛　太素亦作兩髀。楊曰。膀胱中熱。故按之髀熱。○先兄曰。高雲。言六府之痹。不言胃膽三焦者。腸胃自受糟粕。言腸不必更言胃矣。胞為經血之海。膽為中精之府。言胞不必言膽矣。三焦者中瀆之府。水道出焉。言膀胱不必更言三焦矣。</p>
<p>陰氣者靜則云云　琦曰。府陽藏陰。故藏氣謂之陰氣。言人能安靜志氣。則神藏於內。陰平陽秘。水升火降。精氣內治。邪不得干。若時時躁動。擾其血氣。則陽神消耗。生氣通天論所謂起居如驚。神氣乃浮也。神氣消亡。故邪得入之。腸胃本受盛轉輪之府。然飲食不節。每致受傷。此統言藏府所以受邪之由也。</p>
<p>淫氣　楊曰。淫過也。喘息。肺所為也。喘息過者。則肺虛邪客。故痹聚也。（下文意並同）</p>
<p>遺溺　太素作嘔唾。楊曰。嘔唾。腎所為也。</p>
<p>乏竭　太素作渴乏。楊曰。肝以主血。今有渴乏。多傷肝血虛。故痹聚也。</p>
<p>淫氣肌絕痹聚在脾　太素作淫氣飢絕。痹聚在胃。淫氣壅塞痹聚在脾。楊曰。飢者胃少谷也。飢過絕食則胃虛。故痹聚。又曰穀氣遇塞。則實而痹聚於脾也。○太素從上。凡痹之客五藏者。至此亦在。陰陽別論陰陽相過曰溜下。（總題云陰陽雜說）</p>
<p>其入藏者死　孫思邈論腳氣曰。黃帝曰。緩風濕痹是也。然則痹之入藏。豈腳氣衝心之類乎。</p>
<p>其留皮膚間者　太素留作流。楊曰。流行在於皮膚淺處之間。動而又淺。故易已也。</p>
<p>各隨其過　太素作各治其遇（遇當過訛）</p>
<p>灑陳於六府　楊曰。陳起也。堅按。灑散也。陳布也。楊注非是。</p>
<p>熏於肓膜　太素肓作胃。堅按太素非是。</p>
<p>陽遭陰故為痹熱　高曰。知陰氣盛而主濕。則知陽氣盛而主燥矣。志曰。燥者謂無汗。堅按高本於馬注。然上文或燥二字疑後人所添。</p>
<p>兩氣相感　兩氣蓋濕與陰氣之謂。</p>
<p>不仁　太素仁作知。楊曰。不知者。不覺不仁也。</p>
<p>不痛　琦曰。五者具。則自皮入骨。前所謂病久入深。明不痛之為重也。</p>
<p>逢寒則蟲逢熱則縱　太素蟲作急。熱作濕。堅按作濕非是。</p>

<h2>痿論篇第四十四（太素全存）</h2>
<p>志曰。夫五藏各有所合。痹從外而合。病於內外所因也。痿從內而合。病於外內所因也。琦曰。痹痿相似而不同。痹為外感。痿屬內傷。痹雖有內傷而外感多。痿雖非外感而內傷甚。</p>
<p>筋膜　楊曰。膜者人之皮下肉上。膜肉之筋也。</p>
<p>肺熱葉焦　琦曰。思慮忿怒。五志之火內熾。銷爍肺金。故喘息有音。而肺葉焦枯。肺所以行營衛。治陰陽飲食之精。必自肺家傳布。變化津液。灌輸藏府。肺藏一傷。五藏無所稟受。故因之以成痿躄也。</p>
<p>痿躄　按痿分為五。而首段敘其證。次段敘其因。然其文互相發。且痿躄脈痿骨痿三證。則前後義同。筋痿則前段云筋急而變。後段云宗筋弛縱。此筋痿有二證也。肉痿則前段云脾氣熱則胃干而渴。後段云有漸於濕以水為事。此肉痿有內外二因也。又按此病痿軟。其正證而拘急。蓋是變證。末節曰。故陽明虛則宗筋縱。帶脈不引。故足痿不用。其義可見矣。</p>
<p>白淫　奇效良方有說。宜參。</p>
<p>有漸於濕　楊曰。漸漬也。</p>
<p>肉痿　琦曰。肉痿即屬痹症。謂之痿者。必兼病筋骨也。生氣通天論云。濕熱不攘。大筋緛短。小筋弛長。緛短為拘。弛長為痿。又曰。秋傷於濕。發為痿厥。陰陽應象論曰。地之濕氣感。則害皮肉筋骨。蓋脾既受濕。必流於關節。內熱應之。則為痿躄。非止於肌肉不仁也。</p>
<p>陽氣內伐內伐則熱舍於腎　太素內伐不復。伐作代。舍作合。楊曰。陽明主谷。其氣熱盛。復有外熱來加。陽明之脈內即代絕。內外熱盛下合水。堅按太素非是。</p>
<p>絡脈溢　楊曰。胳脈心之所主也。胳脈張見為溢也。</p>
<p>宗筋主束骨　太素作宗筋者束肉骨。楊曰。宗筋者。足太陰少陰厥陰三陰筋。及足陽明筋。皆聚陰器。故曰宗筋。又曰。宗筋即二核及莖也。</p>
<p>各補其榮云云　太素時受月作時受日。楊曰。五藏熱痿。皆是陰虛。故補五藏陰經之榮。陰榮水也。陰輸是木少陽也。（按此句疑）故熱痿通其輸也。各以其時者。合以其時受病之日。調之皆愈也。</p>

<h2>厥論篇第四十五（太素全存）</h2>
<p>前陰者宗筋之所聚　楊曰。陰器。為前陰也。宗總也。人身大筋總聚以為前陰也。</p>
<p>奪於所用云云　太素因作且。楊曰。入房太甚有傷。故曰奪於所用。因奪所用。則陽氣上虛。陰氣上爭。不能和復。精氣溢泄益虛。寒耶之氣。與虛上乘以居其中。以寒居中。陽氣衰虛。堅按楊注暗得汪高意。琦曰。獨陰無陽。故曰邪氣。亦是。</p>
<p>陰氣虛則陽氣入　先兄曰。張云濕熱在脾。則脾陰虛。陽獨亢而胃不和矣。脾胃俱病。則精氣竭。故不能營其經絡四支也。高雲。入者。絡脈之熱復入於胃也。</p>
<p>陽氣盛於上　醫學讀書記曰。素問曰。陰氣盛於上。則下虛。下虛則腹脹滿。又曰。陽氣盛於上。則下氣重上。而邪氣逆。則陽氣亂。陽氣亂則不知人。此二段乃岐伯分答黃帝問厥。或令人腹滿。或令人昏不知人。二語之辭。所謂陰氣者。下氣也。下氣而盛於上。則下反無氣矣。無氣則不化。故腹脹滿也。所謂下氣者。即陰氣也。陽氣上盛。則陰氣上奔。陰從陽之義也。邪氣亦即陰氣。以其失正而上奔。即為邪氣。邪氣既逆。陽氣乃亂。氣治則明。亂則昏。故不知人也。甲乙經削陽氣盛於上五字。而增腹滿二字於下。虛則腹脹滿之下。則下氣重上之上。林氏云。當從甲乙。謂未有陰氣盛於上。而又陽氣盛於上者。二公益未體認。分答語辭。故其言如此。殆所謂習而弗察者耶。堅按此說明確。正與原識合。</p>
<p>不知人也　琦舉仲景脈法生氣通天論。（薄厥）調經論。（大厥）繆刺論文曰。合數條之義。皆血氣相薄。陽氣鬱冒不行。與寒熱之厥不同。</p>
<p>厥狀病能　琦曰。熱厥屬陽經。寒厥屬陰經。然陰陽虛實互乘。則陽經亦有寒厥。亦有熱厥也。</p>
<p>腫首頭重　太素腫作踵。堅按此王氏所非。</p>
<p>癲疾欲走呼　先兄曰。張云。陽明為多血多氣之經。氣逆於胃。則陽明邪實。故為癲狂之疾。而欲走且呼也。陽邪盛則神明亂。故為妄言妄見也。堅按原識所舉。言其證同者不言其因。</p>
<p>屈膝　先兄曰。張云。肝主筋。故足軟好臥而屈膝。高雲。屈膝踡臥也。高說是。</p>
<p>陰縮腫　先兄曰。高雲。陰縮腫。前陰痿縮而囊腫也。按巢源虛勞陰疝腫縮候。疝者氣痛也。眾筋會於陰器。邪客於厥陰少陰之經。與冷氣相搏。則陰痛腫而攣縮。</p>
<p>胻內熱　太素胻作脛。楊曰。脛內熱有本脛外熱。足厥陰脈不行脈外。（按疑脛外）外為誤耳。琦曰。以上並熱厥之候。</p>
<p>太陰厥逆　太素陰下有脈字。下並同。楊曰。問曰前章已言六經之厥。今復言之。有何別異也。答曰。二章說之先後經脈厥。而主病左右不同故也。琦曰。按厥有寒熱兩候。前列六經。症皆熱厥。自此至末。所言皆寒厥。堅按此下諸證。不必屬寒者。琦說難從。</p>
<p>下泄清　太素清作青。楊曰。下利出青色者。少腹間冷也。</p>
<p>三陰俱逆不得前後　楊曰。逆即氣之失逆。名曰厥逆。足三陰之脈。同時失逆。必大小便不通。手足冷。期至三日死矣。</p>
<p>僵仆　楊曰。後倒曰僵。前倒曰僕。</p>
<p>發腸癰不可治　琦曰。腸癰五字衍。</p>
<p>喘咳身熱　楊曰。足陽明逆氣乘肺。故喘咳也。足陽明主身熱。</p>
<p>嘔血　太素此下有不可治驚者死六字。蓋剩。</p>
<p>痓　太素作痙。楊曰。痓身項強直也。</p>

<h1>卷第四</h1>

<h2>病能論篇第四十六（太素存但病風腰痛一節缺）</h2>
<p>風論及其病能。王注曰。能謂內作病形一切。經音義恣態下曰。古文作能。</p>
<p>當候胃脈　楊曰。得胃脈者。寸口脈也。又曰。平人手之寸口之中。胃脈合浮與大也。今於寸口之中。診得沉細之脈。即知胃有傷寒逆氣。堅按楊說不穩。醫學讀書記曰。云當候胃脈者。謂趺陽也。趺陽脈不必沉且細。而今沈且細者。氣逆於上。而下乃虛。下虛則沉細也。人迎甚盛者。氣逆於上則上盛。上盛故人迎甚盛。夫氣聚於上而熱不行。胃脘壅遏。得不畜積為癰耶。琦亦以為趺陽。曰蓋胃癰之候。寸口之脈。未有不洪數者。然診趺陽創於仲景。內經所未見。則此說亦難從。</p>
<p>精有所之寄則安云曰　太素作精有之倚則不安。（按與新校正引小異）懸上有往字。堅按古鈔本無之字。琦曰。懸某病未詳。疑有誤。似是。（王注處字古鈔本無）</p>
<p>偃臥　廣雅。偃。仰也。</p>
<p>脈大　先兄曰。滑云。脈謂脈隧也。</p>
<p>癰氣之息　楊曰。息。增長也。堅按此說謬。蓋癰氣之息。是膿未成者。氣盛血聚。是膿已成者。</p>
<p>怒狂　太素作喜怒。下善怒亦作喜怒。</p>
<p>生鐵洛　太素洛作落。楊曰。生鐵落鐵漿之也。堅按楊亦誤。</p>
<p>下氣疾也　桓譚新論云。子云亦言。成帝詔作甘泉賦。卒暴。遂倦臥。夢五藏出地。以手收內之。及覺。氣病一年。（意林引）蓋氣病即氣疾也。</p>
<p>身熱解墜　太素熱作體。</p>
<p>澤瀉術各十分麋銜五分　仲景方於丸。散特用分字。亦是裁分之謂。非六銖之分。即與本經同義。張氏醫通曰。石頑治牙行陶震球子傷勞咳嗽失血。勢如泉湧。服生地黃墨汁不止。余及門周子用熱童便二升而止。邀石頑診之。診得弦大而虛。自汗喘之。至夜則煩擾不寧。與當歸補血湯四貼而熱除。時覺左脅刺痛。按之漉漉有聲。此少年喜酒負氣。嘗與人鬥狠所致。與澤術麋銜湯。加生藕汁調服。大便即下累累紫黑血塊。數日乃盡。後與四烏鰂骨一藘茹為末。分四服入黃牝雞腹中。煮啖留藥蜜丸。盡劑而血不復來矣。</p>
<p>為後飯　琦曰。證雖在表。而欲其下滲。故先藥後飯。</p>

<h2>奇病論篇第四十七（太素全存）</h2>
<p>無治也　張子和治病百法舉此段曰。雖有此論。可煎玉燭散二兩。水一碗。同煎至七分。去滓放冷。入蜜少許。時時呷之則心火下降。而肺金自清。故能作聲也。（按玉燭散繫於四物湯承氣湯樸消各等分水煎出三法六門）</p>
<p>刺法曰（至）疹成也　甲乙無刺字。蓋作溢。（下文蓋字猶作益知溢是訛文）疹作辜。故曰。疹成也。作故曰成辜。琦曰。此節蓋他經脫文。</p>
<p>息積　吳以為肺積。張以為喘促息難。俱襲王注之謬。三因方舉本證擬有磨積丸。（胡椒木香全蠍）化氣湯（縮砂仁桂心木香甘草茴香丁香皮青皮陳皮乾生薑蓬朮胡椒沉香）及導引法。文繁不錄。</p>
<p>尺脈數甚　太素無脈字。楊曰。尺□（按當膚字）數□（按當筋字）急見出者。此為疹筋。筋急腹急。此必金水垂（按當作乘）肝。故色白黑即甚也。有本為尺瘦也。堅按太素為是。一作尺瘦者尤是。蓋血液虛少。故尺肉削減。即為腹筋豎急之診。此脈字芟去。而素靈中遂無尺部診脈之說矣。（難經經釋於十三難下曰今去經文大小字而易數字數者一息六七至之謂若皮膚則如何能數按所言經文者邪熱氣藏府病形篇也）</p>
<p>厥逆　白附子散出雞峰普劑方。據續易簡方。本王子亨方。（琦曰按王氏引全注僅見此條）</p>
<p>五氣　楊曰。五氣。五穀之氣也。琦曰。五當作痹。堅按二說非是。</p>
<p>肥者令人內熱　琦曰。食肥則陽氣滯而不達。故內熱。食甘則中氣緩而善留。故中滿。中滿而熱。脾氣上溢。故口甘也。</p>
<p>膽募俞　楊曰。可取膽募日月穴也。</p>
<p>有癃者　楊曰。癃淋也。堅按六書故曰。人病小便淋瀝不通者。今謂之淋。古作癃云云。（淋犁針切又良中切癃良中切史記孝景本紀索隱曰隆慮音林閭避殤帝諱改之又宣明五氣篇不宜參）琦曰。癃而數溲。熱鬱而氣不化也。頸膺如格。上焦閉拒也。人迎躁甚。胃熱也。喘息氣逆。肺邪實也。太陰寸口之脈微細如髮。肺藏虛也。此肺之治節不行。故水道不利。而肺之受熱。由陽明積熱上壅。肺受熱淫。格逆於上。故也。</p>
<p>五有餘二不足　凡病虛實相錯者。藥有所顧忌。下手最難。此即是也。仲景稱云難治者。亦皆虛實相錯之證也。</p>
<p>巔疾　太素作癲疾。</p>
<p>病名為胎病　楊曰。人之生也。四月為胎母□（按當為字）人物亦驚。神氣並上驚胎。故生已發為癲疾也。堅按說文胎婦孕三月也。（段校曰玄應兩引皆作二月）巢源千金並曰。妊娠三月始胎。仍知楊注四字。蓋是三訛。然此胎字。要不過在孕之謂。不必限某月。</p>
<p>痝然　太素作龐然。楊曰。龐然者。麵皮起之貌。</p>
<p>切其脈大緊　緊弦不同。今大且緊。故三以如弓弦釋之歟。</p>

<h2>大奇論篇第四十八（太素全存）</h2>
<p>肺之雜喘而兩胠滿　太素雍作癕。下同。胠作脅。楊曰。肺以主氣。故肺生癰有喘也。肺脈上膈近脅。故肺癰脅滿也。又注肝雍曰。兩胠謂在側葙兩肋下空處。堅按楊以雍為癕讀訛。</p>
<p>不得小便　楊曰。有本作小和字誤。</p>
<p>脛有大小髀䯒大　先兄曰。張云。足脛或腫或消。是謂大小。自髀至胻或為大。</p>
<p>跛易　楊曰。左右二腳更病。故為易也。堅按楊注非是。</p>
<p>心脈滿大癇瘛筋攣　楊曰。心脈滿實仍大。是則多氣熱盛。故發小兒癇病。以其少血。陰氣不足。故寒而筋攣也。</p>
<p>肝脈驚暴　太素騖作驚。非是。琦曰。騖暴。迅急鼓動之意。陽氣不安。故為驚駭得之。</p>
<p>脈不至若喑　本事方氣中下曰。經云。無故而喑。脈不至。不治自已。謂氣暴逆也。氣復則已。</p>
<p>石水　楊曰。石水謂盛冬凝水堅硬如石。名曰石水。言此水病之甚也。堅按此說難從。</p>
<p>並小弦欲驚　太素欲作亦。先兄曰。吳云。欲者。萌而未然也。琦曰。句疑有誤。</p>
<p>心脈搏滑急　太素搏作揣。下並同。楊曰。揣動也。滑陽氣盛而微熱。急為多寒。心氣寒。寒盛而微熱。寒勝。故為心疝也。</p>
<p>為瘕　楊曰。瘕謂女子宮中病。男子亦有瘕而為病。又曰。男子為瘕。女子為石瘕之病。堅按楊說非。</p>
<p>二陰急為癇厥　楊曰。二陰。少陰也。候得少陰脈急。是為陰與陰急陽勝。發為小兒癇病。手足逆冷也。</p>
<p>腸澼　太素澼並作闢。</p>
<p>血溫身熱者死　醫學讀書記曰。按溫當作溢。夫血寒則凝而不流。熱則沸而不寧。溫則血之常也。身雖熱。何遽至死。惟血既流溢。復見身熱。則陽過亢而陰受逼。有不盡不已之勢。故死。今人失血之後。轉增身熱咳嗽者。往往致死。概可見矣。琦曰。下血家脈靜身涼者愈。身熱則陰陽離絕。故死。溫字疑誤。堅按血溫二字難解。二說並覺有理。竊疑下文有血衄身熱者死。此一句或誤文復出也。</p>
<p>其脈小沉澀為腸澼　太素此八字無。</p>
<p>其身熱者死　楊曰。身熱以胃氣散去。遠至七日死。琦曰。陰下陷而陽外𪋝也。</p>
<p>男子發左女子發右　醫學讀書記曰。按玉版論要云。男左為逆。右為從。女子右為逆。左為從。本文蓋謂男子發左。女子發右。於法為逆。然不喑舌轉。則受邪輕。故證雖逆。而猶可治。若男子發右。女子發左。於法為從。然喑則受邪重。證雖從。必三歲必起也。設逆而邪重者。必死不治。從而邪微者。奚行三歲而後起哉。琦曰。男以陽為主。女以陰為主。左右者陰陽之道路也。陽自左升。陰從右降。男子發右。陰病而陽未病。女子發左。陽病而陰未病。若男子發左。女子發右。則為生者病矣。</p>
<p>懸鉤浮為常脈　常脈。脈經作熱。太素作脈皼。（按即鼓字）楊曰。夏秋二脈並至。以為脈皼。堅按脈經太素經注並非。琦曰。懸者如物之懸。鉤者中微曲懸。鉤即芤脈。為失血之常脈。以去血故中空也。此與原識意合。</p>
<p>暴厥　脈經太素並作氣厥。堅按氣厥似是。蓋是許學士所謂氣中。與氣厥論之氣厥不同。（證治要訣曰氣厥即中氣盧氏丹溪纂要曰氣中即俗謂之氣厥是然惜不引脈經文）</p>
<p>如火薪然　脈經太素薪作新。楊曰。心脈如勾。今如新燃。是心脈急疾精絜。故至草乾水時被克而死。堅按作新似是。（王注新然之火焰云云此似王本經文原作新字然宋本並作薪）</p>
<p>如散葉　太素葉作採。楊曰。肝脈如弦。今散加五彩。變見不定。是為肝木氣之虛損。至木𥳇落金時被克而死。有本為藂𥱈散葉也。堅按叢棘散葉。其義自異。琦曰。叢棘弦硬雜亂之象。為是。</p>
<p>如省客省客者脈塞而鼓　太素客並作容。塞作寒。</p>
<p>懸去棗華　楊曰。至棗華。土時被克而死也。</p>
<p>如丸泥　脈經丸泥錯。楊曰。胃脈耎弱。今反如丸泥。干堅之丸。即是胃土兼氣之有損。故至榆莢木時而死也。</p>
<p>禾熟　楊曰。至禾熟秋金時被克而死也。</p>
<p>胞精　楊以胞為心胞。謬。</p>
<p>如交漆　太素漆作英。可疑。</p>
<p>三十日死　脈經三作四。</p>
<p>如湧泉云云　太素湧字無。肌作胞。英作華。楊曰。足太陽腎之府脈。今如泉之浮皼而動。即膀胱胞氣水之不足。故至韭英（按英字衍）華土時被克而死。一曰韭英也。琦曰。少氣味三字衍。</p>
<p>如頹土之狀　脈經太素並作委土。琦曰。頹敗之土。</p>
<p>五色先見黑白壘發死　太素無見字。壘作累。脈經曰。壘下注云。一作藟。堅按齊民要術引詩義疏曰。櫐巨荒也。似燕薁。連蔓生。葉似艾。（此二字據詩釋文補）白色子赤。可食。酢而不美。幽州謂之椎櫐。</p>
<p>如懸雍　太素亦作懸離。</p>
<p>水凝而死　脈經水作冰。太素死下有亟字。</p>
<p>菀熟　太素菀作宛。</p>
<p>大腸氣　太素作膽氣。</p>
<p>如華云云　脈經華作舂。楊曰。脈之浮散。故如華也。心府小腸虛小。（按小空似剩）故多恐。坐臥不安。心虛。耳中如有聲。故恆聽。</p>

<h2>脈解篇第四十九（太素全存）</h2>
<p>先兄曰。吳云。脈解者。所以解古脈論也。故每條皆有所謂字者字在首。</p>
<p>太陽所謂腫腰脽痛　楊曰。脽。尻也。音誰也。十一月一陽生。十二月二陽生。正月三陽生。三陽生寅之時。其陽已大。故曰太陽也。堅按經脈篇膀胱足太陽有腰痛。</p>
<p>正月太陽寅　先兄曰。馬雲。膀胱諸證。豈盡在正月哉。特論與時相應之義有如此耳。蓋虛實在人。隨時為病。不必盡在正月也。堅按弟子掘川濟曰。此篇以足三陽三陰配之六月。太陽為正月。厥陰為三月。陽明為五月。少陰為七月。少陽為九月。太陰為十一月。三陽三陰。每互其位。而必隔一月。今本經七月誤作十月。殊為不倫。須從太素是正。此說極確。</p>
<p>陽氣東解　太素作陽凍解。楊曰。正月已有三陽。故凍解。陽氣出於地也。先有三陰。故猶有冬寒。陽氣不足也。人身亦爾。半身不足。故偏虛。跛謂左腳偏跛也。堅按楊偏虛解宜從。</p>
<p>強上引背　太素無引背二字。</p>
<p>萬物盛上　琦曰。萬物二字衍。</p>
<p>狂巔疾　太素巔作癲。楊曰。脫衣登上。馳走妄言。即謂之狂。僵仆而倒。遂謂之顛也。</p>
<p>喑　楊曰。喑不能言也。堅按楊本於說文。（喑義具於原識宣明五氣篇下）</p>
<p>喑俳　太素俳作痱。楊曰。陽氣外衰。故為喑也。左（按疑若字）腎氣內虛絜而厥者。則為喑痱。（按此下宜更補痱字）音肥。風病不能言也。謂四支不用。喑不能言。心無所知。甚者死。輕者生可療也。堅按爾雅痱病也。（郝懿行爾雅義疏曰通作腓詩百卉具腓傳腓病也釋文引韓詩云變也變病義近聲又相轉文選戲馬臺詩注引毛詩作痱今作腓玉篇引詩正作百卉具痱可知腓古本作痱矣○說文俳戲也張以為無所取義者是）</p>
<p>心脅痛　經脈篇。膽足少陽有心脅痛。不可轉側。轉訛作盛也。</p>
<p>言少陽盛也盛者　太素盛並作成。楊曰。成為九月。九月陽少。故曰少陽也。小島尚質曰。成蓋戌誤。</p>
<p>故為躍　楊曰。躍勇動也。琦曰。此有誤衍不可讀。</p>
<p>洒洒振寒　經脈篇。胃足陽明。有洒洒振寒。</p>
<p>邪客於藏府間　先兄曰。吳云。藏。肺藏也。府。胃府也。脾土不能制濕。故上於肺而為水喘。</p>
<p>甚則厥云云　經脈篇。痛至則惡人與火。聞木聲則惕然而驚。心欲動。獨閉戶塞牖而處。甚則欲上高而歌。棄衣而走。</p>
<p>陽盡而陰盛　盡者猶傷寒論血弱氣盡之盡。即陽氣不振之義。非竭絕之義。琦以為陽明極虛。欠當。</p>
<p>客孫脈　太素脈作胳。楊曰。太陰經脈。至於舌下。太陰孫胳。胳於頭鼻。故陽明並於太陰孫胳。致鼽腹脾也。堅按經脈篇唯有鼽衄。</p>
<p>上者則其孫絡太陰也　琦曰。上者句有脫誤。</p>
<p>病脹　楊曰。十一月陰氣內聚。雖有一陽始生。氣微未能外通。故內癰為脹也。堅按經脈篇。脾足太陰有腹脹善噫。得後與氣。則快然如衰。</p>
<p>上走心為噫　新校正駁王注。蓋本於楊氏。</p>
<p>食則嘔　楊曰。胃中食滿。陽氣銷之。今十一月一陽力弱。未能熱消。故胃滿而溢謂之嘔。此嘔吐也。堅按經脈篇有食則嘔。</p>
<p>得後與氣快然如衰　太素如並作而。</p>
<p>十月　太素作七月。楊曰。七月秋氣始至。故曰少陰。</p>
<p>嘔咳上氣喘　經脈篇有咳唾則有血喝。喝而喘又有上氣。</p>
<p>色色不能久立久起云云　太素色色作邑邑。久坐之久無。䀮䀮並作𥇀𥇀。楊曰。七月陰陽氣均未有定。主秋氣始至。陽氣初奪。故邑然悵望。不能久立。又陰陽內各不足。故從坐起目𥇀。無所見也。有本作露。但白露即露之微色。（按疑當作霜文微也）十月已降。甚霜即知。有本作十月者非也。堅按太素經注並是（說見上）經脈篇有坐而欲起。目䀮䀮如無所見。</p>
<p>恐如人將捕之　經脈篇。氣不足則善恐。心惕惕如人將捕之。</p>
<p>所謂惡聞食臭云云　楊曰。七月陽衰。胃無多氣。故惡聞食氣也。琦曰。此疑陽明節脫文。誤次也。</p>
<p>陽氣未盛於上而滿　琦曰。未字衍。太素脈作腹。並難從。</p>
<p>㿗疝　太素㿗作頹。楊曰。頹謂丈夫少腹寒氣成積陰器之中而痛也。疝謂寒積氣上入小腹而痛也。病在少腹痛。不得大小便。病名曰疝也。</p>
<p>㿗癃疝膚脹　太素㿗作釘。楊以為釘腫。蓋非。經脈篇肝足厥陰有遺溺閉癃。琦曰。此節（按言厥陰一節）文多訛缺。按此篇以十二辰分配經脈。義殊無當。而論病理本於藏府陰陽衰盛甚確。故以意解之。琦說稍肆。今不敢從。</p>

<h2>刺要論篇第五十（太素佚）</h2>
<p>不去矣　王所引針經。是海論文眩冒下更有目不能見懈怠安臥二句。安臥與不去其義相發。</p>

<h2>刺齊論篇第五十一（太素佚）</h2>

<h2>刺禁論篇第五十二（太素刺中心以下缺）</h2>
<p>要害　賈誼過秦論。要害之郡。又要害之處。</p>
<p>心部於表　琦曰。部統屬之詞。（按新校正引太素故曰治今本作故曰里也是）</p>
<p>刺客主人內陷中脈　中馬高為去聲讀是。</p>
<p>為內漏　巢源曰。邪隨血氣。至再熱。氣聚則生膿汁。故謂之聤耳。王蓋指此。</p>
<p>刺臂太陰脈　馬曰。靈寒熱病篇。亦有臂太陰。以其脈行於臂。故可曰手。又可曰臂也。</p>
<p>重虛出血　張曰。腎既虛而復刺出血。是重虛也。</p>
<p>刺膺中陷中肺　陷上疑脫內字。琦曰。肺脈之訛。</p>
<p>為漏　上文有內漏。著至教論上為巔疾。下為漏病。王注漏血膿出。此唯注目漏。其意亦恐謂膿漏出。巢源有目淚出不止候。又有目膿漏候。曰風熱客於瞼眥之間。熱搏於血液。令眥內結聚。津液乘之不止。故成膿汁不盡。謂之膿漏。</p>

<h2>刺志論篇第五十三（太素佚）</h2>
<p>氣實形實氣虛形虛　氣之虛實。不啻驗之於脈。亦必驗之於息。故張注氣多為喘滿也。更宜與玉機真藏論相參。</p>
<p>得之傷寒得之傷暑　此二句對舉。以示寒暑二邪。初受之略。蓋至其傳化。則非一言所蔽。馬注此段以虛實直訛。非是。</p>
<p>此之謂　琦曰。三字衍。</p>
<p>夫實者氣入也虛者氣出也　琦曰。氣內守則實。氣外泄則虛。申虛實之義。非謂邪氣也。</p>

<h2>針解篇第五十四（太素全存）</h2>
<p>氣實乃熱也氣虛乃寒也　太素無此二句。堅按疑是註文所錯。滿而泄之。十二原篇作滿則泄之。</p>
<p>為虛與實者　先兄曰。高本與作為十二原篇同。</p>
<p>針窮其所當補瀉也　太素窮作官。所下有之字。</p>
<p>所謂三里者　張曰。按此下言取穴之法。非本篇上下之義。意必他篇之文脫誤於此者。</p>
<p>蹺足胻　太素作搖𥬲足胻。楊曰。𥬲高也。謂此外踝上高舉處也。搖而取之。</p>
<p>人齒面目應星　先兄曰。志云。靈樞經云。天有列星。人有牙齒。高曰人面目光明。齒牙排列。一如星之明朗排列。</p>
<p>人心意應八風　此以下至應之九。琦曰。句不可解。亦爛文也。堅按此與原識合。</p>

<h2>長刺節論篇第五十五（太素全存）</h2>
<p>頭疾痛（至）傍四處　太素頭疾錯無上字。陰作陽。楊曰。藏針之法。刺在骨部。不得傷於骨肉皮部皮者。乃是取其刺骨肉之道。不得傷余處也。刺頭痛者。頭為陽也。甚寒入腦。以為頭疾痛病。故陽刺之法。正內一。傍內四。療氣博大者也。本作陰刺者。字誤耳也。先兄曰。吳云傷非言傷損。既是刺至骨。何得無骨肉及皮乎。蓋言無得妄為提按動搖。而傷骨分肉分皮分之真氣也。</p>
<p>治寒熱　楊注。大藏為肺藏。為刺肺寒熱。非是。</p>
<p>與刺之要　與蓋施與之與。金匱玉函經有云。與汗之。與下之。語例相同。</p>
<p>治腐腫者刺腐上　太素腐並作癕。堅按此腐字與熱論榮氣熱胕之胕同義。然作癰為是。</p>
<p>刺大者多血小者深之　太素無大字小者二字。楊曰。刺癕之法。當癕上刺之。大者深之。小者淺之。堅按不如甲乙之為穩。</p>
<p>為故止　故常法也。（詳見離合真邪論）先兄曰。吳云止者。無他求之意。</p>
<p>皮𩩻　太素作腹齊。（楊注義不了不錄）琦曰。按經云刺皮𩩻以下。至少腹而止。不得指齊下五寸。並不得云齊下橫骨之端也。當以全氏義為得矣。堅按琦駁王林則當。其從全氏者。誤䯏骨端也。本見說文。（䯏玉篇光末切廣韻古活切）皮字未晰。張解以橫皮可疑。</p>
<p>髂髎　楊曰。髂客罵反。脊骨兩旁也。（髂源作轄今意改客罵字亦可疑廣韻枯駕切）</p>
<p>寒氣至　高曰。寒氣至骨。</p>
<p>其道　太素作至其。</p>
<p>刺之虛脈　先兄曰。張云。謂寫其盛者。便之虛也。必視針下諸分盡熱。則氣至邪退。其病已而止針也。</p>
<p>病初發　琦曰。下應脫不治二字。堅按琦說。謬。</p>
<p>病風且寒且熱　楊曰。風成為寒熱。一日數度寒熱。並汗。刺諸分腠胳脈。復且寒且熱。三日一刺分劑也。</p>
<p>汗出且寒且熱　琦曰。六字衍。</p>

<h2>皮部論篇第五十六（太素全存）</h2>
<p>皮有分部　先兄曰。志云。分部。分屬之部署也。</p>
<p>脈有經紀　經。經常。紀。別理。月令毋失經紀。以初為常。</p>
<p>筋有結絡　楊曰。十二經筋。各有結聚。各有篥胳。</p>
<p>以經脈為紀　楊曰。欲知皮之部別。十二經為綱紀也。</p>
<p>以滲於內諸經皆然　楊曰。滲山蔭反。下入也。琦曰。故在陽者。以下有訛誤。不可解。</p>
<p>關樞　陰陽離合論。太陽為開。太素開作閞。而楊注以為關者主禁。闔者門扉主開閉。此足以徵原識之確矣。又樞杼關樞。是三陽中有二樞。仍疑關樞之樞。蓋字之誤也。</p>
<p>樞儒　太素儒作擩。楊曰。而泉反。堅按擩蓋檽訛。楊音謬。</p>
<p>其入經也（至）內注於骨　太素出下有經字。無內字。琦曰。義未詳。亦有訛誤。</p>
<p>心主之陰　琦曰。心主當作厥陰。</p>
<p>關蟄　太素蟄作樞訛。陰陽離合論。太陰為開。太素開作閞.</p>
<p>是故百病始生也　此段論邪之所入。分為三等。然其所主在入絡客經。而又言其留而不去者。或廩於腸胃。或留於筋骨之間也。</p>
<p>必先於皮毛　太素於上有客字。</p>
<p>感虛乃陷下　太素感作減。楊曰。咸氣為虛。乃血少脈陷也。</p>
<p>不與　楊曰。在淺不療。遂生大病也。與。療也。堅按楊說難從。</p>

<h2>經絡論篇第五十七</h2>
<p>（太素存無黃帝問曰四字直與前篇連接）</p>

<h2>氣穴論篇第五十八（太素全存）</h2>
<p>氣穴　楊曰。三百六十五穴。十二經脈之氣。發會之處。故曰氣穴也。</p>
<p>溢意　楊曰。溢意。縱志也。</p>
<p>捧手　楊曰。捧手。端拱也。</p>
<p>逡巡　太素作遵循。楊曰。遵循音逡巡。</p>
<p>及上紀　太素此下有下紀二字是。楊曰。任脈上於脊裡。為經胳海。其浮而外者。循腹裡。當齊上胸至咽喉。胳唇口。故背胸相控痛者。任脈之痛也。此等諸穴。是任脈所貫。所以取也之。</p>
<p>上紀者胃脘也　先兄曰。高雲。胃脘有上脘中脘下脘。以臍之上下為紀。則此胃脘乃下脘也。臍上至下脘。臍下至關元。分寸相等。故曰上紀下紀。以臍為中紀。其上也。故上紀者。臍上下脘之胃脘也。由臍紀下。則下紀者。臍下小腹之關元也。</p>
<p>背胸邪系　太素無背胸二字。系作擊。</p>
<p>前後痛澀胸脅痛　琦曰。任督脈繞篡間。故前後二便痛滿。任脈氣上壅。故有胸脅痛等證。</p>
<p>交十椎下　太素此下有藏字。楊曰。量此脈行處生病。皆是督脈所為。下藏者。下胳腎藏也。</p>
<p>完骨　先兄曰。靈骨度篇云。耳後當完骨者廣九寸。類經云。完骨。耳後高骨也。</p>
<p>肩解　先兄曰。靈經脈篇。手太陽之脈出肩。解繞肩胛。竇傑針經指南云。</p>
<p>肩解背後縫。蓋髃骨之後。與胛相對而陷解處。故謂之肩解。竇說為妥。</p>
<p>瘄門一穴　太素作肩髃二穴。</p>
<p>胸俞十二穴　太素作肓輸二穴。</p>
<p>膺俞十二穴　太素無十字。</p>
<p>踝上橫二穴　太素橫下有骨實。張據王注曰。左右共四穴。</p>
<p>凡三百六十五穴針之所曰行也　太素此二句。在陰陽蹻四穴下。楊曰。以上九十五穴。通療諸病也。堅按太素九十九穴。並藏俞府俞熱俞水俞。俱三百三十七穴。為數最不足。</p>
<p>孫絡三百六十五穴會　先兄曰。張云。孫絡之云穴會。以絡與穴為會也。穴深在內。絡淺在外。內外為會。故曰穴會。非謂氣穴之外。別有三百六十五絡穴也。</p>
<p>以溢奇邪　太素溢作洫。楊曰。洫謂溝洫。水行處也。孫胳行於奇耶營衛之氣。故曰洫。火逼反。堅按太素非是。</p>
<p>邪溢氣壅　楊曰。以下言氣壅成熱以為壅疽。</p>
<p>大膕　太素作大䐃。</p>
<p>積寒留舍　楊曰。以下言寒氣留積溪谷溝洫。為痹不仁也。</p>
<p>肋肘不得伸　太素肋肘作時。堅按太素似是。</p>
<p>十四胳脈　楊曰。十二別走胳脈。並任督二脈。為十四胳也。脾之大胳。從脾而出。不從脈起。故不入數。堅按此王注所本。</p>
<p>內解瀉於中　楊曰。解別也。其諸胳脈別者。內寫十脈也。十脈謂五藏脈兩葙合論。故有十也。堅按此亦王所本。琦曰。按岐伯曰。孫絡以下可節。此言恐是。</p>

<h2>氣府論篇第五十九（太素全存）</h2>
<p>七十八穴　太素八作三。琦曰。今所傳經穴圖。足太陽凡百三十穴。與此不同。且各經穴錯出。悉多訛缺。難以覈計。又止言手足三陽。與督衝任。而不及手足三陰。亦遺脫也。</p>
<p>入發至項三寸半　太素作入發項二寸間半寸。堅按義難解。</p>
<p>傍五相去三寸　太素三作二。楊曰。明堂傍相去一寸半有此不同也。（按楊所舉俞穴與王注同者省而不錄且太素經文間有脫句今亦不具載）</p>
<p>風府兩傍各一　楊曰。天牖二穴。堅按此說非是。（天牖穴見前篇注）</p>
<p>俠背以下至尻尾　太素背作脊。無尾字。</p>
<p>五藏之俞各五六府之俞客六　琦曰。五藏六府之俞。左右共二十八穴。甲乙經有四十一穴。大杼風門。已見上注。不數。尚有鬲俞在七椎下。中膂俞二十椎下。白環俞二十一椎下。並去中行二寸上上髎脊兩旁。第一空陷中次髎。第二空中髎。第三空下髎。第三空會陽陰尾尻骨兩旁。蓋是經惟說藏府之俞。故不備也。近世又有厥陰俞在第四椎下。（按厥陰俞既見千金外臺）</p>
<p>銳發　人鏡經曰。耳前髮腳為兌發。</p>
<p>客主人　楊曰。一名上關。堅按甲乙上關。一名客主人。</p>
<p>耳下牙車之後　楊曰。大迎一名髓空。堅按後足陽明手少陽並有大迎骨空。仍如王注為是。甲乙頰車足陽明脈氣所發。大迎足太陽脈氣所發。並與本經不同。（外臺引甲乙大迎足陽明）</p>
<p>缺盆　楊曰。缺盆一名天蓋。堅按楊注本於甲乙。</p>
<p>掖下三寸　楊曰。掖下左右一寸□泉掖。（按即淵掖避諱作泉字）輒筋。天池。三穴。脅下至胠章門維道。日月□正經氣發也。腸哀（按腸當作腹）大橫此二穴。正經雖不言發。近此三正經氣也。帶脈五樞。此二穴少陽彆氣至也。上𢨺□穴。（按當居𢨺）少陽脈胳別至也。左右廿二世六穴也。是則掖下三寸為脅。脅下□間之外為胠。則胠脅之言可別矣。堅按此注非是。</p>
<p>髀樞中傍各一　楊曰。環銚居髎左右□穴。琦曰。中傍二字衍。</p>
<p>足陽明脈氣所發者六十八穴　太素八作二。</p>
<p>額顱髮際傍各三　楊曰。頭維本神麯差左右也。</p>
<p>面鼽骨空各一　楊曰。鼽渠留反。鼻表也。有鼻塞病。非也。顴𢨺也。堅按甲乙四白在目下一寸。向頄骨顴空。據此。王注為優。（顴𢨺見於太陽脈注）先兄曰。易䲑九三。壯於頄。釋文。頄求龜反。顴也。翟玄雲。頄面也。頄頰間骨也。</p>
<p>膺中骨間各一　楊曰。膺中。膺窗也。左右二穴。堅按楊注誤。</p>
<p>俠胃脘各五　楊注無太一。有乳根。關門作開明。（蓋字訛）</p>
<p>俠臍廣三寸各三　楊注無外陵。有太一。</p>
<p>下臍二寸俠之各三　太素三作六。楊曰。外陵大巨水道歸來府舍衝門左右十二穴。太陰脈穴。更無別數。所以亦入陽明也。</p>
<p>分之所在穴空　太素之作上。</p>
<p>曲掖上骨空各一　楊曰。曲垣左右二穴。堅按甲乙曲垣。左肩中央曲甲陷者。中按之。動脈應手。據此楊注蓋誤。</p>
<p>上天窗四寸各一　太素窗作容。楊曰。足太陽遂天容。手太陽脈未至天容。謂天容字錯。未詳所。左右八穴。</p>
<p>肩解下三寸各一　楊曰。天宗臑輸貞左右六穴。</p>
<p>鼻空外廉項上各二　楊曰。迎香天窗。左右四穴。天窗去手陽明胳近。故得其氣也。堅按王注為勝。</p>
<p>柱骨之會各一　楊曰。柱骨左右二穴。堅按楊不斥言何穴。</p>
<p>角上各一　楊曰。頷厭左右二穴。琦曰。即足少陽頷厭二穴重出。</p>
<p>下完骨後各一　楊曰。天容左右二穴。</p>
<p>項中足太陽之前各一　楊曰。大椎大杼左右及中三穴。堅按大杼是足太陽經穴。不宜言之前。楊說難從。琦曰。即足少陽風池二穴。重出。</p>
<p>俠扶突各一　太素無依字。楊曰。扶突左右二穴。扶突近手少陽經也。琦曰。即手太陽天窗二穴。重出。</p>
<p>督脈氣所發者二十八穴項中央二　太素八作六。二作三。楊曰。項中央者。項內也。非唯當中也。故項內下行喑門一天柱二為三也。上行風府一風池二為三。總有六穴也。督脈上入風池。即為信也。堅按楊注牽強。不可從。</p>
<p>大椎以下（至）脊椎法也　太素作大椎以下至尻廿節間各一。至胝下凡二十一節。脊椎法。楊曰。胝竹屍反。此經音枑尾窮骨從骨為正大椎至胝廿一節。有廿間。間有一穴。則廿六穴也。（按每節間不必有穴二十六穴字有訛）明堂從兌端上項下至喑門。有十三穴。大椎以下至胝骨長強廿一節。有十一穴。凡廿四穴。督脈氣所發。與此不同。未詳也。</p>
<p>至橫骨六寸半一　太素六寸半一作八寸一一。楊曰。鳩尾以下。至橫骨一尺六寸。寸有一穴。有十六穴。並已前有一十八穴也。明堂中央任脈氣所□穴。合有十六。此經從璇機以下。至庭中□穴。合□穴。此經從璇機以下至橫骨。雖放□下分寸。復與明堂不同。亦未詳也。琦曰。一上脫各字。</p>
<p>俠臍下傍各五分　琦曰。中注四滿一名髓府。氣穴一名胞門。大赫一名陰關。橫骨一名下極。堅按並出甲乙經。</p>
<p>足少陰舌下　太素此上有五藏之輸各□凡五十穴十字。</p>

<h2>骨空論篇第六十（太素全存）</h2>
<p>惡寒　太素作惡風寒。</p>
<p>譩譆　楊曰。上譩一之反。下譆火之反。謂病聲也。（按病疑痛訛）</p>
<p>肩上橫骨間　楊曰。失枕為病。可取肩上橫骨間。謂柱骨間。</p>
<p>䏚絡季脅　馬曰。䏚絡者。䏚間之絡。堅按䏚絡季脅。義未晰。</p>
<p>八髎　太素作九𢨺。堅按此王氏所非。</p>
<p>還刺寒府　琦曰。還疑衍字。膝外附骨解間。當足陽明之陽關穴。謂之寒府者。義未詳。或有誤字。</p>
<p>寒府在附膝外解營　太素無附字。楊曰。寒熱府在膝外解之營穴也。名曰骸閞也。</p>
<p>取膝上外者　楊曰。凡取膝上外解。使拜者屈膝伏也。取湧泉者。屈膝至地。不伏為跪也。</p>
<p>任脈　先考曰。任為衽之義。其脈行腹中。行猶衣衽之在於腹前也。先兄曰。說文。㨟交衽也。衽。衣㨟也。</p>
<p>衝脈　先兄曰。說文。沖。通道也。春秋傳云。及沖以戈擊之。沖四通道也。</p>
<p>至胸中而散　琦曰。散者布散之意。衝脈為十二經之海。灌滲溪谷。故曰散也。</p>
<p>帶下　先兄曰。一切經音義引蒼頡篇云。帶下。婦人病也。又曰帶音當賴反。人作䐭同。字林女人赤白帶二病也。關中多音帶。三蒼下漏病也。</p>
<p>督脈者起於少腹以下骨中央　楊曰。八十一難云。起於下極橫骨。一名下極。即是少腹之下也。骨之中央。髖骨中央也。又八十一難云。起下極之輸。並脊上行。至於風府。（按難經有入屬於腦四字）為陽脈之⿰牜曹。（按此一句是呂廣注）義亦同也。</p>
<p>廷孔　太素作庭孔。</p>
<p>篡間　太素篡作𤙡。下並同。堅按玉篇。𤙡居其切。無所取義。顧繫於篡字之壞。（長刺節論新校正別本篡一作基）</p>
<p>不孕癃痔　太素孕作字。楊曰。有本無痔字。</p>
<p>治在骨上甚者在齊下營　楊曰。骨上量是骶骨。□督脈標也。齊下營者。□脈本也。營亦穴處也。</p>
<p>喉中央　楊曰。廉泉也。堅按今云在缺盆中。則王注為是。</p>
<p>立而暑解　醫學讀書記曰。暑解當是骨解。言骨散隨如解也。骨與暑相似。傳寫之誤也。琦改暑作引曰。解懈同起。而引懈痿弱不任地之謂。堅按二說俱不確。</p>
<p>骸關　太素作厭關。楊曰。厭開。骸閞也。膝骨相屬屈伸之處也。堅按作厭非是。</p>
<p>拇指　太素拇作母。楊曰。母指。小母指也。足少陰足太陽皆行膕中。至足小指。故療其膕也。堅按先兄曰。易咸初六。咸其拇。虞翻曰。𧿹足大指也。又解九四。解而拇。馬融曰。足大指。莊子駢拇。枝指出乎性哉。駢於足者。連無用之肉也。</p>
<p>關　楊曰。膕上髀樞為閞也。</p>
<p>背內　楊曰。背內謂足太陽背輸內也。琦曰。背上俞穴主內者取之。王注謂大杼。非也。</p>
<p>陽明中俞髎　楊曰。足陽明中輸。謂是巨虛上廉也。𢨺輸穴也。</p>
<p>若別治巨陽蔭榮　太素少陰榮作少陽榮。楊曰。若胻痛。若別可足太陽足少陽二脈營穴也。（按可字下恐有脫）堅按足少陽經出膝外廉下外輔骨之前。直下抵絕骨之端。則太素似是。</p>
<p>淫濼脛酸云云　太素脛酸字無。外下有踝字。五作四。楊曰。濼羅各反。淫濼膝胻痹痛無力也。外踝上五寸。足少陽光明穴也。少陽維者。在四寸中也。</p>
<p>輔骨上橫骨下為楗　楊曰。膝輔骨上橫骨下為楗。</p>
<p>俠髖為機　太素髖作䯘。楊曰。髖孔昆反。又音完。堅按䯘髖同用。先兄曰。機髀骨之入樞者。在臀上兩傍。其所俠為髖。髖則臀上側骨。與骼本是一大骨。腰旁俠脊平立陷者中。按之有骨。機關處動者是也。</p>
<p>骸下為輔　銅人經注曰。輔骨謂輔佐胻之骨。在䯒之外。</p>
<p>頭橫骨為枕　太素頭作項。楊曰。項橫骨。項上頭後玉枕也。堅按據藏經音義。作項為是。說文。頄玉枕也。（玉枕各本作項枕今據段氏所改錄）</p>
<p>髓空在腦後五分　太素無在字。五作三。</p>
<p>在顱際銳骨之下　氣府論。足陽明脈氣所發。有額顱髮際傍各三靈。骨度篇曰。發所覆者。顱至項尺二寸。據此顱字。似專指前髮際。然說文頊。頊顱首骨也。顱頊顱也。（並據段注本錄）阮孝緒文字集略云。顱腦蓋也。（和名鈔引）然則。項後亦得稱之顱也。沈彤釋骨曰。頭橫骨中央之下端曰顱際銳骨是。</p>
<p>項後下復骨下　太素無後字。堅按釋骨曰。柱骨隱筋肉中者曰復骨。先兄曰。沈說亦妥。</p>
<p>數髓空　琦曰。數字疑有誤。</p>
<p>或骨空　琦曰。或字疑有誤。先兄曰。沈彤雲。通迴匝口頰下之骨曰或骨。按說文。或即域本字。云或骨者。以其骨在口頰下。象邦域之迴匝也。</p>
<p>當兩肩　楊曰。兩肩。有本為唇也。</p>
<p>髆中之陽　說文。髆。肩甲也。（原識髆誤寫作髃）</p>
<p>兩骨空之間　太素無空字。</p>
<p>出上膝四寸　琦曰。出衍字。</p>
<p>在毛中動下　太素動下作動脈。琦曰。動下當作動脈下。</p>
<p>扁骨有滲理湊無髓孔　太素扁作遍。無湊字。孔作空。楊曰。言骨上有空。五穀津液。入此骨空。資腦髓也。此骨空種數所在難分。有□者。不可知者。故置而不數也。堅按扁作遍非。</p>
<p>易髓無空　琦曰。四字衍文。</p>
<p>先灸項大椎　太素灸作取。楊曰。大椎穴。三陽督脈之會。故灸寒熱氣取明堂大椎。有療傷寒病。不療寒熱之。</p>
<p>撅骨　太素作厥骨。楊曰。此脈中血寒而少。故取背輸陷也。厥骨尾𤋲骨也。有本厥與骨通為一字。巨月反。堅按厥盡也。椎骨之所盡。故稱厥骨乎。其厥與骨為一字者。蓋指蒚字也。</p>
<p>肩上陷者　楊曰。肩負等穴也。</p>
<p>足小指次指之間　楊曰。□臨泣等穴也。</p>
<p>腨下陷脈　楊曰。承山□等。</p>
<p>動如筋者　太素動作痛。</p>
<p>掌束骨下　太素作骭骨下。楊曰。肝音干。𩩲骭穴也。（按肝當骭幹當於）堅按釋骨曰。束掌者曰掌束骨。</p>
<p>足陽明　太素此下有灸之二字。堅按此與甲乙全氏合。</p>
<p>巔上一　太素作直上動脈。</p>
<p>即以大傷病法灸之　太素作即以大傷痛壯數灸也。</p>
<p>二十九處　太素九作七。</p>
<p>傷食灸之　楊曰。傷食為病。灸之不得愈者。可刺之。刺法可刺大經所過之胳。出血及飲藥調之。陽胳脈也。堅按巢源宿食不消候曰。令腹脹氣急噫氣醋臭時復增寒壯熱是也。或頭痛如瘧之狀。</p>

<h2>水熱穴論篇第六十一（太素全存）</h2>
<p>肺者太陰也　太素作腎者少陰。難從。</p>
<p>關門不利　太素門作閉。蓋非。</p>
<p>上下溢於皮膚　先兄曰。按有文上下指人身上下之部而言。非肺腎之謂。</p>
<p>地氣上者　張曰。牝陰也。地氣上者。陰氣升也。以陰從蔭而生水液。故曰至陰。</p>
<p>玄府　太素作六府。上文藏府作其藏而三字。下文所謂玄府者汗空也九字所無。並非是。</p>
<p>水俞五十七處者　徐靈胎醫學源流論。有水病針法論。當參。</p>
<p>此腎俞　太素作此皆腎輸也。楊曰。尻上五行。合廿五輸者。有非腎俞所發。皆腎輸。以其近腎。並在腎部之內。腎氣所及。故皆稱腎輸也。</p>
<p>肺為逆不得臥　評熱病論。真氣上逆。故口苦舌乾。臥不得正偃。正偃則咳出清水也。諸水病者。故不得臥。</p>
<p>分為相輸　楊曰。腎以主水。肺以主氣。故曰分之。先兄曰。按水氣同類。肺腎俱為標本。故其感病也。互相輸而俱受。分為胕腫喘呼之證也。本是二藏屬陰。而水氣之所留也。諸家以相輸為二藏之氣。以俱受為病氣。恐非是也。</p>
<p>皆藏之陰絡　太素作皆藏陰之絡也。楊曰。是等諸穴。皆腎之陰藏所終之輸。水客之舍也。堅按太素義不了。琦曰。陰氣所行。故曰陰絡。內督脈及足陽明穴。亦曰陰絡。其義未聞。</p>
<p>帝曰春取絡脈分肉　此節太素別為類題云變輸。是以知其為錯文。琦曰。此疑四時刺逆從論中脫文誤次者。知四時之治變。庶切脈用藥無太過矣。</p>
<p>其氣少不能深入　先兄曰。馬雲。斯時肝氣雖急。天之風亦疾。然人之經脈常深。而風木之氣常少。不能深入於經脈之內。僅在絡脈分肉之間。志曰。風木之氣。常達於絡脈分肉之間。其經脈之氣。隨冬令伏藏久深而始出。其在經之氣尚少。故不能深入而取之經。</p>
<p>夏取盛經分腠　楊曰。三陰盛經也。夏日其經熱盛。故取其盛經部內分腠。</p>
<p>陽氣留溢　太素留作流。堅按此與新校正引別本合。</p>
<p>陽氣堅盛　太素堅作緊。楊曰。緊盛也。</p>
<p>陽脈乃去　去蓋藏之義。（宜參脈要精微論蟄蟲將去條）</p>
<p>以越諸陽之熱逆也　楊曰。人頭為陽。故頭上廿五輸。以起諸陽熱者也。（按起當作越）</p>
<p>而傳為熱　王注。濕氣內結。蓋言無汗證。然語意欠妥。其釋傳字以轉字換之。極是。</p>
<p>夫寒盛則生熱也　楊曰。夫陽極則降。陰極即升。是以寒極生熱。熱極生寒。斯乃物利之常也。故熱病號曰傷寒。就本為名耳也。</p>

<h2>調經論篇第六十二（太素全存）</h2>
<p>十六部　王注蓋本於楊氏。</p>
<p>肝藏血脾藏肉　琦曰。五神藏當云肝藏魂。脾藏意。而此以血肉言者。以本篇主血氣身形立說故也。蓋互文見意耳。</p>
<p>而此成形　琦曰。四字衍。</p>
<p>守經隧焉　楊曰。營衛不和。百病還生。血氣之中。故守經隧以調血氣者也之。</p>
<p>神不足有餘云云　先兄曰。馬雲。此節當分為四段。初段言有餘不足。皆能為病也。是乃本體之病。第二段言始時皆能感邪。其病必微。是乃外感之病。第三段言刺其有餘不足之法。非刺其邪也。第四段方與第二相應。乃所以刺其邪也。若第三段為二。第二段為三。則文理自明。</p>
<p>勿之深斥　楊曰。斥齒亦反。推也。勿深推也。堅按廣雅曰。斥推也。王念孫疏證曰。跟經音義卷十四引三倉曰。斥推也云云。又說文。推排也。是推有開拓之義。</p>
<p>按而致之　太素按作切。</p>
<p>血有餘則怒不足則恐　楊曰。肝血有餘於肝。所以瞋怒。肝血不足於目。所以多悲也。</p>
<p>視其虛經　太素視作補。楊曰。寫其盛經出血。所以不怒。正補其虛。令不泄血。所以不悲。有本視其虛經也。</p>
<p>形有餘　楊曰。形者非唯身之外狀名形。舉體皆名。</p>
<p>微風　劉河間保命集曰。中風俱有先兆之證。凡人如覺大拇指及次指麻木不仁。或手足不用。或肌肉蠕動者。三年內必有大風之至。經曰。肌肉蠕動。名曰微風。</p>
<p>乃能立虛　琦曰。按以上論五藏有餘不足形證。即未盡其理。讀者取其大意可也。堅按古書言約而理邃。學者宜思索會悟。引申隅反。如琦之言。殆後人之見已。</p>
<p>血逆於經　太素逆作留。楊曰。十二經血留於營經也。或曰血流也。（按營經之經似羨）</p>
<p>乃為炅中　琦曰。血並於陰。則裡氣虛。氣並於陰。則內陽盛。故為熱。此皆指其盛者言之。所謂一實一虛也。如以血言。則血並於陽。為陰出之陽。當為外寒也。</p>
<p>心煩惋　太素惋作悗。楊曰。悗則悶同也。</p>
<p>善忘　琦曰。此二條即前二條之輕者。</p>
<p>氣之所併為血虛云云　吳曰。邪之所湊。必其虛也。</p>
<p>故為虛焉　琦曰。氣併為氣實而血虛。血併為血實而氣虛。然氣血本不相離。偏勝則相失。故皆為虛。</p>
<p>則為實焉　琦曰。惟氣血並於經絡者為實。以藏府未動也。若邪入內相併。皆為虛矣。</p>
<p>則為大厥　琦曰。此並之異常也。</p>
<p>陰陽勻平　太素勻作旬。堅按勻旬古通紃。亦恐同義。</p>
<p>其生於陽者云云　楊曰。陰五藏也。陽六府也。風雨寒暑。外邪從外先至六府。故曰生於陽也。飲食起處。男女喜怒。內邪生於五藏。故曰生於陰也。張曰。風雨寒暑。生於外也。是為外感。故曰陽。飲食居處。陰陽喜怒。生於內也。是為內傷。故曰陰。堅按生於陽生於陰之陰陽。即言表裡。楊注非是。陰陽喜怒之陰陽。蓋指房室。楊釋以男女。其意為然。解精微論曰。若先言悲哀喜怒燥濕寒暑陰陽婦女。亦是同義。琦曰。陰陽喜怒者。言人之本氣。有偏陰偏陽之不同。而七情亦隨之偏勝。此雖理之所有。而其於經者則相畔矣。又疏五過論。凡欲診病者。必問飲食居處。</p>
<p>寒濕之傷人云云　太素無緊字。楊曰。雨氣上侵。濕氣下入。有斯異也。略不言暑耳。寒濕中人。致虛有四。皮膚收者。言皮膚急而聚也。肌肉堅者。肌肉堅而不迎也。（按迎字疑）營血泣者。邪氣至脈中。故營血泣也。衛氣去者。邪氣至於脈外。衛氣不行。故曰去也。衛去之處。即為虛也。先兄曰。按下文陽盛生外熱。注有寒外盛。則皮膚收之語。則王氏原本亦似無不字。堅按暑邪其表疏泄。必不收堅。楊以為略不言暑者。坐於不知上文寒暑之為寒溫也。琦亦謂寒濕是寒暑之誤。不可從。</p>
<p>聶闢氣不足　太素聶作攝。（按與新校正引異）楊曰。攝紙輒反。分肉間無衛氣。謂氣不足也。堅按攝字義不了。</p>
<p>喜怒不節　琦曰。喜怒不節字衍文。或陽逆於上。或陽湊於下。皆肝家實邪鬱結。七情惟怒為肝實。故獨言之。</p>
<p>喜則氣下　楊曰。喜則氣和志達。營衛之行通利。故緩而下也。堅按此說是。琦曰。下應作緩拘。又曰。舉喜悲以統憂思恐驚。</p>
<p>脈虛空　太素無空字。</p>
<p>熏滿　太素作熏藏。</p>
<p>陽受氣於上焦以溫皮膚分肉之間　此二句為下文上焦不通而發。以見陰陽虛盛。俱使上焦不通。而生內外之寒熱矣。</p>
<p>陰虛生內熱　先兄曰。王履醫經溯洄集云。帝曰。陰虛生內熱。嗟夫。此內傷之說之原乎。（按此指東垣）蓋勞動之過。則陽和之氣。皆亢極而為火矣。況水穀之味又少入。是故陽愈盛而陰愈衰也。此陰虛之陰。蓋指身中之陰氣。與水穀之味耳。或以下焦陰分為言。或以腎水真陰為言。皆非也。夫有所勞役者。過動屬火也。形氣衰少者。壯火食氣也。穀氣不盛者。勞傷元氣。則少食而氣衰也。上焦不行者。清陽不升也。下脘不通者。濁陰不降也。夫胃受水穀。故清陽升而濁陰降。以傳化出入。滋榮一身也。今胃不能納。而穀氣衰少。則清無升而濁無降矣。故曰上焦不行。下脘不通。然非謂絕不行不通也。但比之平常無病時。則謂之不行不通耳。上不行。下不通。則鬱矣。鬱則少火皆成壯火。而胃居上焦下脘兩者之間。故胃氣熱。熱則上炎。故熏胸中而為內熱也。</p>
<p>凝則脈不通　太素作血涘泣則脈不通。堅按涘即凝字。</p>
<p>陰與陽並　太素作陰之與陽。</p>
<p>氣盛乃內針云云　張曰。氣張乃內針者。因病人之吸氣而入針也。針與氣俱出者。候病人之呼氣而出針也。</p>
<p>熱不得還　太素還作環。楊曰。夫虛者多寒。得熱為補環轉也。疾出於針。使針下熱氣不得轉也。琦曰。熱不得還句。誤衍。</p>
<p>動氣候時　太素作動無後時之。堅按此與甲乙同。之。助語辭。</p>
<p>絡二百六十五節　楊曰。節即氣穴也。堅按宜參六節藏象論。然下有經絡支節文。則志說似是。</p>
<p>其病所居　太素上有視字。</p>
<p>焠針　太素作卒針。楊曰。卒窮也。痛痹在骨。窮針深之。至骨出針。</p>
<p>兩蹻為上　楊曰。上者勝也。</p>

<h2>繆刺論篇第六十三（太素全存）</h2>
<p>楊曰。痛病在於左右大胳。異於經脈。故名繆。繆異也。堅按此與馬張同義。</p>
<p>極於五藏之次也　先兄曰。志云。極。至也。處也。</p>
<p>巨刺　楊曰。以刺左右大經。故曰巨刺。巨大之也。堅按吳氏暗得楊意。</p>
<p>無積者　楊曰。聚陽病也。積陰病也。其所發之病。未積之時。刺然骨前出血也。</p>
<p>不已左取右　太素無不已二字。堅按此與甲乙合。</p>
<p>取五日已　太素無取字。堅按此與甲乙合。</p>
<p>臂外廉痛　太素外作內。楊曰。手少陽外關之胳。從外關上繞臂。內廉上注胸。堅按經脈篇手少陽之別名曰外關。去腕二寸。外繞臂。胸中。太素經注可疑。且以下三節。楊並據經脈篇所謂別者為解。文繁不錄。</p>
<p>刺手中指次指　太素中作小。堅按此與新校正意合。</p>
<p>此新病數日已　太素作數日者三字。</p>
<p>女子有頃已　楊曰。疝痛者。陰之病也。女子陰氣不勝於陽。故有頃已□。</p>
<p>邪客於手陽明之絡　楊曰。手陽明偏歷之胳。其支者上臂乘肩髃上典頰。（按典字疑）不言至於胸胠。而言胸胠痛者。手陽明之正膺乳。別上入柱骨。下走大腸。屬於肺。故胸滿喘息。支胠胸熱也。以此推之。正別脈者皆為胳。</p>
<p>邪客於臂掌之間　楊曰。腕前為掌。腕後為臂。手外踝後。是手陽明脈所行之處。有脈見者。是手陽明胳。臂掌不得屈者。取此胳之也。堅按手陽明經絡。並不循掌中。楊說非是。</p>
<p>利藥　楊曰。可飲破血之湯利而出之。若不愈者。可刺云云。</p>
<p>善悲驚　楊曰。厥陰之脈。入眼。故傷厥陰虛而善驚。及不樂也。志主驚懼。故傷少陰之脈。令人驚懼。俱用前方刺三處之也。</p>
<p>耳中生風者　楊曰。人覺耳中有風出者。是邪客手陽明胳。故用方同之。</p>
<p>凡痹往來　楊曰。有痹往來。手陽明胳分肉間為痛痹也。堅按此說非是。</p>
<p>邪客於足陽明之經　太素經作胳。堅按此與全氏甲乙合。</p>
<p>上齒寒　太素上作下。楊曰。手陽明經入下齒中。足陽明經入上齒中。不入下齒。今言（按此脫下字）齒寒者。足陽明胳入下齒也。又尋胳之所生病處。不是大胳行處者。乃是大胳支分小胳發病者也。</p>
<p>足中指次指　太素無次指二字。堅按此與甲乙合。</p>
<p>氣上奔賁上　楊曰。賁膈也。堅按此與楊玄操合義。</p>
<p>是腰俞　太素無此三字。堅按與全氏合。</p>
<p>引脅而痛　太素此下有內引心而痛五字。堅按此與全氏甲乙合。</p>
<p>應手如痛　太素如作而。堅按此與甲乙合。</p>
<p>不病則繆刺之　太素病作痛。楊曰。刺十二經所過之處。不痛者病在於胳。故繆刺也。堅按此說為是。琦曰。此統言繆刺之義。應前文脫簡也。其意相同。</p>
<p>齒齲刺手陽明　楊曰。刺手陽明輸三間等穴。不已。刺手陽明兌端之穴。</p>
<p>繆傳引上齒　太素引作刺。楊曰。足陽明胳左病右痛。右病左痛。可刺上齒足陽明胳。堅按太素經注蓋非。琦以為此一節當在齒齲條刺其脈入齒中立已下。實據高注。</p>
<p>上絡左角　楊曰。左角陽也。</p>
<p>五絡俱竭　王氏解竭為閉結甚是。猶絕有阻絕之絕。</p>
<p>身脈皆動　吳曰。凡人之經脈所以行血氣。絡脈所以布精神。故絡脈竭而經脈無過。令人身脈皆動。而形無知也。</p>
<p>屍厥　仲景曰。曰屍蹷脈動而無氣。氣閉不通。故靜而死也。</p>
<p>後刺足中指　琦曰。當作大指次指陽明厲兌穴。</p>
<p>後刺手心主　太素無手心主三字。琦曰。心主二字衍。</p>
<p>吹其兩耳　說苑。扁鵲治虢太子屍蹷。子明吹耳。</p>
<p>先視其經脈　太素此上有必字。</p>
<p>此繆刺之數也　楊曰。數法之也。</p>

<h2>四時刺逆從論篇第六十四（太素佚）</h2>
<p>厥陰有餘　此段言三陰三陽之有餘不足俱病痹。其脈滑病疝。其脈澀病積。而其理則高說為的當。但是故春氣在經脈以下。本是別章。不宜牽合而為說矣。</p>
<p>春刺絡脈　先兄曰。高雲。刺絡脈經脈肌肉筋骨。必由皮膚而入。故不言皮膚。但舉四時。故不言長夏也。琦曰。氣未至而奪之。氣已衰而泄之。皆為逆也。亦為虛虛者言之耳。</p>
<p>令人目不明　琦曰。診要經終論云。冬刺春分。痛不已。令人慾臥。不得瞑眠而有見。以腎病刺傷肝分血氣。脫泄陽不得入於陰。故目不瞑。魂不得歸於肝。故眠而有見。與此證異而理同也。</p>
<p>大痹　生氣通天論大僂大字同語例。</p>

<h2>標本病傳論篇第六十五（太素佚）</h2>
<p>先病而後逆者治其本　上文治反為逆者。即病宜治標而反治本。宜治本而反治標之謂。此乃言其病本重者。後有治逆。猶宜治其本病。其病本輕。倘被醫誤而加重者。逆治為本。宜救療之。仲景所謂知犯何逆。及本發汗而復下之。此為逆也之類。皆可以相發焉。</p>
<p>病發而有餘　先兄曰。張云此以氣強弱而言標本也。如病發之氣有餘。則必侮及他藏氣。而因本以傳標。故必先治其本。病發之氣不足。則必受他藏他氣之侮。而因標以傳本。故必先治其標。</p>
<p>諸病以次　五十三難曰。經言七傳者死。間藏者生。何謂也。然七傳者。傳其所勝也。間藏者。傳其子者也。呂廣注曰。七當作次字之誤。蓋難經本據本篇而立言者也。</p>

<h2>著至教論篇第七十五（太素佚）</h2>
<p>明而未能彰　先兄曰。按彰下文以彰經術之義。</p>
<p>疑於二皇　先兄曰。疑擬古同用。漢書公孫弘傳。管仲相齊有三歸。侈擬於君。注擬疑也。言相似也。又王嘉傳贊。董賢之愛。疑於親戚。師古曰。疑讀曰擬。擬比也。</p>
<p>而道上知天文　琦曰。而字誤。</p>
<p>且以知天下　琦曰。有誤。</p>
<p>腎且絕　朱永年曰。腎且絕三字。當節斷。</p>

<h2>示從容論篇第七十六（太素佚）</h2>
<p>體重煩冤　先兄曰。吳云。肝主筋。筋緩則不能收持。腎主骨。骨痿則艱於舉動。脾主四肢。四肢衰弱。則倦怠無力。故皆令人體重煩冤。</p>
<p>此皆工之所時亂也　琦曰。脈各有定位定體。脈體之變。乃病使然。何由以別藏惑亂。其疑似耶。注家望文生義非也。</p>
<p>於此有人頭痛筋攣　先兄曰。張云。此下言腎病之疑似也。</p>
<p>夫年長則求之於府云云　高雲。長猶老也。少幼也。堅按廣雅長老也。孟子公孫丑注。長者老者也。漢書吳王濞傳注。少幼也。國語晉語注。少稚也。曲禮。三十曰壯。又論語季氏皇侃義疏。少謂三十以前也。壯謂三十以上也。老謂年五十以上也。蓋論語之少壯老。即本經之少壯長。但本經之少。是幼稚之稱。而所言長者。實五十以上之謂也。（爾雅艾長也曲禮五十曰艾注艾老也俱可以互證）</p>
<p>夫浮而弦者　琦曰。此經以脈浮而弦為腎之不足。可知凡見弦脈。不當用伐肝疏風也。</p>
<p>沉而石者　據上文切之石堅。沉即沈按之謂。</p>
<p>脈浮大虛者　先兄曰。張云。夫脾屬陰。為胃之裡。胃屬陽。為脾之表。今脈來浮大而虛。則外有餘。內不足。是脾氣之外絕於胃也。脾已去胃。故氣歸陽明。而脈見如此。按血氣形志篇曰。陽明常多氣多血。刺陽明出血氣。故雷公問粗工下砭石而愈者。正所以泄陽明之邪實也。</p>
<p>是脾氣之外絕去胃　琦曰。外絕去三字有誤。或衍也。</p>
<p>夫二火不勝三水　琦曰。二火三水不解。前所列症亦無脈亂無常之文。誤衍也。</p>
<p>是水氣　琦曰。水字有誤。陽明氣逆上衝。故喘咳。</p>
<p>譬如天之無形　吳曰。言傷肺傷脾。形證縣絕。若不明辨。譬如天之無象可求。地之無方可理。張曰。天有象。地有位。若不知之。則天若無形。地若無理。此言三藏之傷。形證懸別。不能明辨。亦猶是也。</p>

<h2>疏五過論篇第七十七（太素佚）</h2>
<p>循經守數按循醫事　先兄曰。張云。循經之循。因也。按循之循。察也。</p>
<p>四德　琦曰。四德後無說。蓋缺文。或曰。德失之訛也。即下篇徵四失矣。</p>
<p>凡未診病者　醫心方無未字（按此似引太素者）堅按未字無者為優。</p>
<p>雖不中邪病從內生名曰脫營　醫心方邪上有外字。營作榮。</p>
<p>不在藏府不變軀形　先兄曰。高雲。在察也。變通也。謬。</p>
<p>必以比類奇恆　先兄曰。閔士先云。比類者。言誤五藏脈氣之順逆。以比類奇恆之脈。或順或逆也。</p>
<p>斬筋絕脈　馬曰。筋若斬而脈若絕。</p>
<p>令澤不息　吳曰。美澤不能如前滋息矣。</p>

<h2>徵四失論篇第七十八（太素佚）</h2>
<p>謬言為道更名自功　先兄曰。按謬當作嘐。說文。嘐。誇言也。孟子何以謂之狂也。曰其志嘐嘐然。俱可以證。又更名恐更各訛。</p>
<p>坐之厚薄　琦曰。坐字誤。疑當作生。堅按此說非是。</p>
<p>或傷於毒　吳曰。毒謂草木金石禽蟲諸毒也。志曰。或偏傷於五氣五味之毒。琦曰。毒謂食物不時。氣味畏忌。均能病人。</p>
<p>無人事　琦曰。人事。上所云貧富勇怯之類也。先兄曰。疏五過論云。受術不通。人事不明。又云從容人事。以明經道。</p>
<p>治數之道從容之葆　琦曰。治數。即陰陽逆從。及藏府經脈之度也。從容。即比類揆度奇恆也。堅按推他語例。（宜參精微論下）從容之葆。此之字是指事之詞。言治數之道。從容安緩而能得之。故以為其實也。琦從容解誤。又張以治數之道接無人事讀。亦誤。</p>

<h2>陰陽類論篇第七十九（太素佚）</h2>
<p>吳曰。篇內論陰陽自為一類。故曰類論。馬曰。首節有陰陽之類。故名篇。</p>
<p>三陽為經二陽為維　先兄曰。張云。經大經也。周身之脈。惟足太陽為巨。通巔下背。獨統陽分。故曰經維。維絡也。陽明經上布面。下循胸腹。獨居三陰之中。維絡於前。故曰維。</p>
<p>此知五藏終始　琦曰。句應在正其理句下。</p>
<p>至絕作朔晦　琦曰。至絕作十二字訛誤。不可讀。古經殘缺淆亂。此篇為甚。注家穿鑿附會。反致貽誤。今悉闕之。</p>
<p>三陰者六經之所主也　琦曰。王氏以三陰為手太陰。則與交於太陰不合。諸家以為脾則六經之所主。又難強通矣。堅按此太陰在三陰之中。亦猶十二官十一藏之例。</p>
<p>上空志心　王引之經傳述聞儀禮志趨條曰。志者微也。玉藻曰。卷豚行不舉足。不舉足則步趨微小。故曰志趨。樂記曰。志微噍殺之音。作志微噍殺四字平列。則志與微同義。素問陰陽類論曰。太陰伏鼓不浮。上空志心。王冰注曰。云云是古人謂微小為志也。</p>
<p>二陰至肺　琦曰。二陰不言脈。缺文可知。</p>
<p>繆通五藏　吳曰。謂六脈同行於身。左右交繆。貫通五藏也。</p>
<p>不知雌雄　先兄曰。張云。雌雄如下文云二陰為雌。又順氣一日分為四時。曰肝為牡藏。脾為牝藏。皆雌雄之義也。</p>
<p>溓水　說文。溓薄欠也。或曰。中絕小水。又曰。淹也。（段玉裁曰楊上善注素問云濂水靜也於此義相近）從水兼聲。溓或從廉。玉篇。濂里兼里。忝二切。薄也。濂同上。</p>
<p>三陽俱起　琦曰。詳王注義。三陽疑三陰之訛。堅按此說誤。</p>

<h2>方盛衰論篇第八十（太素佚）</h2>
<p>夢築垣蓋屋　琦曰。按五藏虛實。發夢不同義。其脈要精微論中。此列五藏之虛夢。得其時氣應虛實。然惟心脾二藏為合。其肺腎肝得時之夢。仍同虛例。恐有訛誤。</p>
<p>菌香　王逸離騷注。菌薰也。葉曰。蕙根曰薰。</p>
<p>度人　琦曰。二字衍。</p>
<p>診有十度　先兄曰。王注度合有其二。所謂二者。陰陽之謂也。</p>
<p>脈脫不具　仲景曰。脈脫入臟即死。先兄曰。脫或然之辭。此足以與吳泄相發。</p>
<p>反論自章　先兄曰。按所反之論。自彰於後世也。或曰。以所反之論自誤為明也。</p>
<p>守學不堪　先兄曰。楚辭招魂。湛湛江水兮。注。深貌。</p>
<p>知坐知起　琦曰。坐起行止。謂病人之起居。所以參驗脈證也。</p>
<p>脈氣有餘　張曰。如三部九候論曰。形肉已脫。九候雖調猶死。蓋脫與不足。本自不同。而形肉既脫。脾元絕矣。故脈氣雖調。亦所不治。當與此節互求其義。</p>
<p>不失人情　吳曰。人情病人之情。堅按此說是。張以為人情有三。曰病人之情。曰傍人之情。曰同道人之情。似失經旨。</p>

<h2>解精微論篇第八十一（太素佚）</h2>
<p>臣授業　太素授作受。</p>
<p>湯藥所滋　太素作湯液藥滋所。堅按太素義不了。但湯藥據示從容論即湯液毒藥之謂。</p>
<p>所從群下　先兄曰。高雲。所從。群下卑賤人也。通使。臨事富貴人也。按高說不知何指。此雷公對帝而言者。故所從群下。即謂百官百姓也。即通言上文卑賤富貴之人也。言使群下能適道術以養正也。</p>
<p>有毚愚僕漏之問　太素作其有俯遇僕偏之問。堅按太素有訛。然漏作偏。或是。</p>
<p>欲問其狀　太素欲作敢。</p>
<p>若出而少涕　楊曰。泣從目下。涕從鼻出。間為一液也。故人哭之時。涕泣交連。然有哭而無泣。縱有泣涕少。何也。涕洟也。</p>
<p>若問此者（至）道之所生也　楊曰。若。汝也。琦曰。十八字衍。</p>
<p>則氣和於目　太素和作知。堅按上華色者其榮也句。及此三句。並是客詞。</p>
<p>水宗者積水也　太素無積水也三字。下文積作精。楊曰。宗本也。水之本是腎之精至陰者也。先兄曰。按水宗之水泣也。謂目之水所宗者。腎之積水也。</p>
<p>志與心精共湊於目也　太素志與心精作心與精。先兄曰。按志與心精。言未悲之時也。</p>
<p>則神氣（至）志獨悲　琦曰。十六字衍文。</p>
<p>泣涕者腦也　琦曰。泣衍字。</p>
<p>其志以早悲　太素早作搖。</p>
<p>泣安能獨來　此段無出而少涕之答辭。蓋此亦神不慈者。可推而知也。</p>
<p>神不守精精神去目　此亦言神精共湊而不能持。</p>
<p>夫一水不勝五火故目皆盲　太素五作兩。楊曰。以其目是陽。已是一火。下陽並上。則是二火。志精在目。則是一水。一水不勝於二火。故熱盛爭而盲也。堅按楊注僻謬。琦曰。按此與泣不出義相左。此說亦誤。蓋此別是一義。非相反也。（新校上甲乙經無盲字盲當作眥）</p>
