<header data-type="book">
<h1>奇正方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="賀谷壽">賀谷壽</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十一冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015282">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h2>序</h2>
<p>恬庵子奇正方脫稿將鏤板行之或聞其名詰諸其門人曰是以兵喻醫其說必陳腐門人曰因病之常變示方之奇正釋仲景氏書古來未有如此之明且切者子盍嘗讀焉詰者曰孫子云戰以正合以奇勝善出奇者無窮如天地不竭如江海夫奇者臨機制變之謂非可預示其可示者皆正耳恬庵乃欲並示正與奇不亦異乎門人不能對以質於余余曰吾不知醫又不知兵然以吾所聞想之醫方有奇正亦猶吾道有經權事之常變固不可無經權則亦何異乎方有奇正以應病之常變也今夫男女有別道之正也嫂溺手援道之奇也直道而行道之正也父子相隱道之奇也居喪哀毀而病則酒肉明哲保身而殺身成仁其於六藝也書正而詩奇禮正而樂奇春秋兼奇正以誅亂賊亦猶良醫兼奇正以治百病因此推之天下無往不正亦莫不奇矧於兵乎矧於醫乎何奇正之不可示也雖然吾道也主常兵也醫也主變主變者貴乎奇主常者貴乎正正有定而奇無窮仲景氏之論雖備矣恬庵之所示雖明且切矣豈能悉天地江海之奇乎哉舉一反三運而用之妙在其人則以詰者之意讀恬庵之書其益於醫術也必大矣恬庵聞余言喜曰然矣請題卷端遍告讀者於是乎書</p>
<p><u>文政庚寅良月小竹散人筱崎弼撰</u></p>

<h2>奇正方序</h2>
<p>譬則一而二二即一之加一未嘗不資於二也譬則二而一一即二之省二未嘗不歸於一也則知一二之變固非一自一二自二而不相關者也故以陳虎龍之列正包奇奇承正鉤角聯絡代為應變按行其營壘為落膽嘗有人而今吾觀之於仲景方書編旨蓋編旨亦如雲遺一而執二不可遺二而執一不可一二時執而時相遺又不可必也推一於二之中括二於一之表類其異而統於同夫然後以為可明矣攻病戡亂原一揆而恬庵始發明其旨功亦偉矣抑亦不能無惑焉恬庵子原吾州武弁之族遇事擔當即其人也而今來遊茲土舊業不喧乃措諸醫意者奇正之可施於今日升平者其以為醫而已乎將鉅細一貫姑措諸所遇而已乎吾亦夙習武矣</p>
<p><u>文政庚寅仲冬阿波齋藤象武教撰於大阪梶木坊奉海老漁書屋</u></p>

<h2>凡例</h2>
<p>凡方之治病有正有奇又有別正有別奇其正者乃如桂枝湯之治病人臟無他病（云云）證若病常自汗出者（云云）證及承氣湯之治腹中滿痛者抵當湯之治經水不利十棗湯之主懸飲苓桂朮甘湯之利微飲半夏瀉心湯之治嘔而腸鳴者之類是也其奇者乃如大小青龍湯之發溢飲豬苓湯之治少陰病下利（云云）證白虎湯之治太陽中熱（云云）證調胃承氣湯之發汗後惡寒（云云）證及陽明病不吐不下心煩者等之類是也其別正者假令其病始出於桂枝湯之正治終入其殊途異域者乃如桂枝加芍藥湯同加大黃湯小建中湯之類是也其別奇者乃如桂枝甘草湯之於發汗過多（云云）證桂枝甘草龍骨牡蠣湯之於火逆之類但治其一變證而不可移用於他者是也</p>
<p>凡醫法之隨證亦有奇正其正者乃如桂枝湯之於病人臟無他病（云云）證及病常自汗出（云云）等證服藥後不須歠粥溫覆但任其藥性和榮衛或大小青龍湯之於傷寒服後必溫覆以助藥力之類是也其奇者乃如桂枝湯之於中風服後必歠熱粥溫覆以助藥力或大青龍湯之於溢飲麻黃加朮湯之於濕家不須溫覆而取汗之法或承氣湯十棗湯之於傷寒一快利則止後服消息斟酌以觀後變之類是也</p>
<p>凡傷寒論金匱要略中之方有二類焉蓋古聖醫為治一傷寒而設之范曄所謂風寒熱病論中之遺方者仲景氏取以錄之傷寒論中麻黃柴胡白虎青龍等是一類也二者撰擇古昔治雜病之方以備傷寒正治後及誤治後不虞之變證者其方即承氣抵當十棗湯等是一類也</p>
<p>凡方後曰得快利止後服曰得快吐則止後服曰得小便利余勿服者單示傷寒治法而已夫傷寒之為病變化百出無有定極而非一吐一下之可愈故雖施發散之輕劑猶周時觀之以候其後變之機況於吐下之法乎故其汗之不欲流漓其下之戒大泄其吐之慎暴劇唯要臨機應變以收全效爾是仲景氏治傷寒之法而非治雜病之例也若夫治雜病不期小快而欲其病毒盡脫故下之吐之不中止以愈為限焉</p>
<p>凡醫事以陰陽五行司天在泉引經報使等為之說者皆妄誕也夫支那醫流自唐宋而下舍條理而騖空理其論可喜其實則戾其論作寒也以經絡為受病之地以陰陽分風寒以蕞爾之人身配當無涯之天地支離荒唐實誤後進經年之久舊染難除我皇國五七十年來唱古醫方者雖不乏其人亦唯踵支那醫風之弊而不能改其轍略作之辨而已或改太陽陽明少陽經絡附會之說以為熱毒所屯之營塞或以六經為病位之記號或以中風傷寒為病之狀態以三陽為陽氣盛微實之三名義亦皆一時之建言奇論而已獨東洞吉益氏斷然不惑其可疑者圈而不取可謂東漢以來一人矣余此編亦書中妄誕者皆圈以示學者</p>
<p>傷寒論中以六經分編立病之部位論邪熱之傳經者王叔和氏之妄誕也宋後數百年莫識破其妄者嗚呼何醫之乏其人獨明吳又可不憑六經別建熱病之論可謂豪傑之士也繼而興者我邦吉益東洞而已嗚呼何醫之乏其人往歲東洞氏作類聚方圈六經而刪之然世醫讀傷寒論者若斥六經則如瞽者之於文章聾者之於鐘鼓茫然不知所向故今存其名目所繫之大略如下</p>
<p>所謂太陽者邪毒侵入筋骨肉分當發汗者乃如桂枝湯各半湯葛根湯麻黃湯大小青龍湯等證是也所謂少陽者邪毒結著胸脅心下口苦咽乾目眩耳聾乃如大小柴胡湯柴胡薑桂湯黃連湯等證是也所謂陽明者邪毒充漲於胃中腸內乃三承氣湯白虎湯等證是也所謂太陰者乃太陽之反對而腹滿吐食或自利乃如桂枝加芍藥湯同加大黃湯及四逆輩之證是也所謂少陰者乃少陽之反對而脈微細或發熱脈沉或惡寒四肢逆冷心中煩或嗜寐或吐利或咽痛乃如黃連阿膠湯麻黃附子細辛湯附子湯真武湯豬苓湯證是也所謂厥陰者乃陽明之反對而手足厥冷心中疼熱內拘急脈沉而遲或脈微細或欲絕或下利清穀或吐蛔乃如四逆湯白通湯烏梅圓等證是也夫反對者乃變化也或因誤治而為脫陽之證或因病人氣化衰弱而精氣不能抗邪毒熱陽變化遂為寒陰之謂也</p>
<p>凡方後攟舉諸書所載之方證者欲以廣其方之奇而益明其正之所存也而其中往往有妄妖虛誕者大紊其真而余不肯議而圈之舉以存舊而已學者能明奇正之條理則妖怪何之害</p>
<p>凡證先於方者所謂正而證後於方者奇也蓋仲景氏之作傷寒論也特為治一傷寒而已故專論古方治傷寒之奇而其正乃略者間亦有焉今就外臺千金及雜書中取其可證者而補焉夫外臺千全者本稛載古代名醫面命之方論及當時民間口碑之藥方之書也故其方劑論說邪正相混雅俗相依今取其正而雅者耳</p>
<p>凡此編本傷寒論金匱要略之方以分其奇正然而其中多有似闕其奇正者其實非闕如也何則其似無正無奇者多是淡泊平易之藥不足以論奇正也世醫概以為傷寒金匱要略中之方藥求必合正義而後世之方劑悉皆杜撰者此我邦偽古方醫之弊也蓋傷寒金匱中之方劑其能味淡泊者不為不多雖然有物有則有輕微之病則有輕易之藥又有一方止治一證而不能泛治他病者疑是仲景氏臨時所制也</p>
<p>凡編中曰辨誤曰發明曰試效曰方意者是余所嘗考試辨明也其間曰說具於傷寒論系傳者亦余所嘗著述之書名也後單稱系傳者略辭也若夫方意之解概論其大略以發童蒙而已</p>
<p>凡附方者所嘗親試之方也若金匱要略中附外臺千金等方雖非仲景氏之舊而其利於病者豈可舍耶今更增附數方於此者欲弘先哲之意以供於今日之用非添蛇足也</p>
<p>凡丸散之功亦偉矣而其為用有先隨證處湯藥時兼用之以拔其毒者乃如抵當丸控涎丹滾痰丸等之類是也又有先投之以丸散殺其大勢而後與湯液者乃如瓜蒂散備急圓白散等之類是也又有嘔惡不容藥汁者換之以丸散者乃如五苓散之於水逆乾薑人參半夏丸之於惡阻之類是也又有單用之者乃如八味丸之於消渴當歸芍藥散之於妊娠牡蠣澤瀉散之於差後腫之類是也又有應病之機而丸散湯液交相用者有常服湯液時別用丸散類以拔滌病之根源者此用丸散之要法也</p>
<p><u>庚寅秋重陽日恬庵賀古壽志</u></p>

<h2>奇正方</h2>
<p>桂枝湯　病人臟無他病時發熱自汗出而不愈者此衛氣不和也○病常自汗出者此為榮氣和榮氣和者外不諧以衛氣不共榮氣和諧故爾（上二章桂枝湯常候但不須歠粥溫覆求發汗者也）</p>
<p>桂枝（三兩）　芍藥（三兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上五味㕮咀以水七升煮取三升去滓適寒溫服一升（此服法之正也）服已須臾歠熱稀粥一升余以助藥力溫覆令一時計遍身漐漐微似有汗者益佳不可令如水流漓病必不除若一服汗出病差停後服不必盡劑若不汗更服依前法又不汗後服小促役其間半日許今三服盡若病重者一日一夜服周時觀之服一劑盡病證猶在者更作服若不汗出者乃服至二三劑禁生冷黏滑肉面五辛酒酪臭惡等物（此活用桂枝湯於中風者乃法之奇也）太陽中風（千金方作中風其脈）「陽」浮而「陰」弱「陽浮者熱自發陰弱者汗自出嗇嗇惡寒」淅淅惡風翕翕發熱鼻鳴乾嘔者○太陽病頭痛發熱汗出惡風者（桂枝湯本和解衛氣鬱結此乃常也若夫活用之於中風則歠粥助藥力溫覆求發汗此乃法之奇也又運用之於里證則和解拘攣腹痛等證乃如桂枝加芍藥湯同加大黃湯等之類所謂別正而其始出於桂枝湯之正治終入其殊途異域者是也）</p>
<p>桂枝加桂湯（於桂枝湯方加桂枝二兩）</p>
<p>燒針令其汗針處被寒核起而赤者欲作奔豚氣從少腹上衝心者</p>
<p>桂枝加芍藥湯</p>
<p>本太陽病醫反下之因爾腹滿時痛者屬太陰也桂枝加芍藥湯主之大實痛者桂枝加大黃湯主之（因誤下之變邪氣縛筋脈故腹拘急而時痛因加倍芍藥以緩之若夫大實痛者更加大黃以通之）</p>
<p>桂枝加葛根湯（於桂枝湯方加葛根四兩）</p>
<p>太陽病項背強𠘧𠘧反汗出惡風者（中風桂枝湯證而項背強𠘧𠘧者兼葛根湯證故斷曰反汗出以明桂枝湯之證也）</p>
<p>桂枝加黃蓍湯（於桂枝湯方加黃蓍二兩）</p>
<p>黃汗之病兩脛自冷「假令發熱此屬歷節」食已汗出又身常暮盜汗出者「此勞氣也若汗出已反發熱者久久其身必甲錯發熱不止者必生惡瘡若身重汗出已輒輕者久久必身潤即胸中痛」又從腰以上必汗出下無汗腰髖弛痛如有物在皮中狀劇者不能食身疼重煩躁小便不利此為黃汗○發明（此條分作三段則劇易輕重其證自分明矣）</p>
<p>桂枝加附子湯（於桂枝湯方加附子一枚）</p>
<p>太陽病發汗遂漏不止其人惡風小便難四支微急難以屈伸者（說具於傷寒論系傳）</p>
<p>桂枝附子湯　「傷寒八九日」風濕相搏身體疼煩不能自轉側不嘔不渴脈浮虛而澀者「若其人大便硬小便不利者去掛加朮湯主之」</p>
<p>桂枝（四兩）　附子（三枚）　生薑（三兩）　甘草（二兩）　大棗（十二枚）</p>
<p>上五味以水六升煮取二升去滓分溫三服○千金方云治婦人產後風虛汗出不止小便難四肢微急難以屈伸者（方中有芍藥無大棗）○三因方術附湯治冒雨濕著肌膚與胃氣搏或腠間汗出因浴得之（即於此方加朮苓各二兩）○試效（黴毒骨疼偏枯口眼喎斜寒疝腹中冷痛者）</p>
<p>桂枝甘草附子湯　風濕相搏骨節疼煩掣痛不得屈伸近之則疼劇汗出短氣小便不利惡風不欲去衣或身微腫者</p>
<p>甘草（二兩）　附子（二枚）　術（二兩）　桂枝（四兩）</p>
<p>上四味以水六升煮取三升去滓溫服一升日三服○方意（桂枝附子湯證曰身體疼煩不能自轉側桂枝甘草附子湯證曰骨節疼煩不得屈伸其曰身體曰不能自轉側較之骨節疼煩不得屈伸者則其證重故彼用附子三枚此用附子二枚</p>
<p>烏頭桂枝湯　寒疝腹中逆冷手足不仁若身疼痛灸刺諸藥不能治抵當用此方</p>
<p>烏頭（五枚）</p>
<p>上一味以蜜二斤煎減半去滓以桂枝湯五合解之得一升後初服二合不知即服三合又不知復加至五合其知者如醉狀得吐者為中病○試效（治一切逆冷不仁痿癖等證）○方意（蓋烏頭之為能運動寒固之毒和之以桂枝湯者欲令烏頭之氣順達患窠也類聚方集覽曰烏頭之得蜜猶龍之得云感應奏效如神者妄誕也夫古人以蜜煎烏頭者欲緩其剛悍之氣以令不奔逸而已）</p>
<p>桂姜草棗黃辛附湯　「氣分」心下堅大如盤邊如旋杯水飲所作</p>
<p>桂枝（三兩）　生薑（三兩）　甘草（二兩）　大棗（十二枚）　麻黃（二兩）　細辛（二兩）　附子（一枚）</p>
<p>上七味以水七升煮麻黃去上沫內諸藥煮取二升分溫三服當汗出如蟲行皮中即愈○方意（附子細辛運寒飲余藥散之若證而惡寒劇者毒深矣宜加倍附子細辛麻黃以厚運散之力）</p>
<p>桂枝加龍骨牡蠣湯（於桂枝湯方加龍骨牡蠣各二兩）</p>
<p>夫失精家少腹弦急陰頭寒目眩發落脈極虛芤遲「為清穀亡血」失精脈得諸芤動微緊男子失精女子夢交（此條分作二段證自分明）○小品雲夢交失精諸脈浮動心悸小腹急陰處寒目眶痛頭髮落○深師云療虛勞喜夢與女邪交接精自出○醫通云虛勞夢泄惡寒發熱○方意（蓋此方桂枝加芍藥湯變方也故證曰少腹弦急曰心悸少腹急夫失精家必驚動而氣逆加龍骨牡蠣所以鎮其悸動也）</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯</p>
<p>桂枝（三兩）　甘草（二兩）　生薑（三兩）　牡蠣（五兩）　蜀漆（三兩）　龍骨（四兩）　大棗（十二枚）</p>
<p>上為末以水一斗二升先煮蜀漆減二升內諸藥煮取三升去滓溫服一升○傷寒脈浮醫以火迫劫之（亡陽）必驚狂起臥不安者（驚悸最劇故起臥不安）○火邪者（火邪之為證必驚躁悸動即龍骨牡蠣所主治）</p>
<p>桂枝加芍藥生薑人參湯（於桂枝湯方加芍藥生薑各一兩人參三兩）</p>
<p>發汗後身疼痛脈沉遲者○方意（因發汗過多之變氣血澀滯而身疼痛脈亦沉遲桂枝加芍藥湯以和其澀滯人參生薑鼓舞虛氣以添活潑之力蓋此方桂枝湯之變方特主汗後之變證爾他病則不與焉）</p>
<p>桂枝麻黃各半湯　太陽病得之八九日如瘧狀發熱惡寒熱多寒少其人不嘔清便欲自可一日二三度發「脈微者為欲愈也脈微而惡寒者此陰陽俱虛不可更發汗更下更吐也面色反有熱色者未欲解也」以其不能得少汗出身必癢（癢當作痛字）○方意（此其初當行桂枝湯之證而輕慢不藥歷八九日邪毒遂瀰肉分是以桂枝湯力不及麻黃湯則過矣故更取二方之半以作之）</p>
<p>小建中湯　虛勞裡急悸衄腹中痛夢失精四肢痠痛手足煩熱咽乾口燥○男子黃小便不利（當有裡急證）○婦人腹痛</p>
<p>桂枝（三兩）　甘革（三兩）　芍藥（六兩）　大棗（十二枚）　生薑（三兩）　膠飴（一升）</p>
<p>上六味以水七升煮取三升去滓內膠飴更上微火消解溫服一升日三服○傷寒「陽」脈澀「陰脈」弦「法當」腹中急痛者○傷寒二三日心中悸而煩者（上二章仲景氏活用小建中湯於傷寒之妙處說具於系傳）○易簡方云大治婦人血疼男子心腹㽲痛○準繩云治痢不分赤白新久但腹中大痛者神效</p>
<p>黃蓍建中湯（於小建中湯方加黃蓍一兩半）</p>
<p>虛勞裡急諸不足（小建中湯證而自汗盜汗出者）○易簡方云男子婦人諸虛不足少腹急痛脅肋䐜脹臍下虛滿胸中煩悸面色萎黃唇口乾燥少力身重胸滿短氣腰背強痛骨肉痠疼行動喘乏不能飲食或因勞傷過度或因病後不復</p>
<p>當歸建中湯（於小建中湯方加當歸四兩）</p>
<p>治婦人產後虛羸不足腹中刺痛不止吸吸少氣苦少腹中急摩痛引腰不能食飲○易簡方云婦人一切血氣虛損四肢怠惰及產後勞傷虛羸不足腹中㽲痛吸吸少氣少腹虛急痛引腰背自汗出不思飲食者若產後半月每日三服令人丁壯又曰產後血虛虛羸不足腹中刺痛少腹急或感寒發熱又曰崩傷內衄不止加地黃六錢阿膠二錢○方意（建中湯緩化氣血澀滯之毒故治裡急腹痛悸衄痠疼煩熱等證仲景氏活用之於傷寒虛狀氣血澀滯之證黃蓍建中湯當歸建中湯證皆曰虛損不足者蓋指氣血澀滯百脈弦急而自汗盜汗者）</p>
<p>當歸四逆湯　手足厥寒脈細欲絕者當歸四逆湯主之若其人內有久寒者加吳茱萸生薑湯主之</p>
<p>當歸（三兩）　芍藥（三兩）　桂枝（三兩）　細辛（二兩）　通草（二兩）　甘草（二兩）　大棗（二十五個）</p>
<p>上七味以水八升煮取三升去滓溫服一升日三服○丹溪心法云治霍亂多寒身冷脈絕（即於當歸四逆加吳茱萸湯方去大棗加附子名通脈四逆湯）○辨誤（俗醫以此方載在傷寒論厥陰篇以為治厥陰雲云證者誤也何則其證單曰手足厥寒而不曰厥陰病者蓋此方本在雜病論中而撰者眩手足厥寒四字遽移入於厥陰編者乎抑此方當歸建中湯之類方也夫當歸建中湯解血氣澀滯之證今更加木通細辛者備利寒飲而其厥寒者示血氣沉滯澀枯而且厥且寒而已非特有傷寒轉變厥陰危劇之證也故此方主治上衝下冷手足疼痹或不遂或腰腳弛痛等證）</p>
<p>黃蓍桂枝五物湯　「血痹之病從何得之師曰夫尊榮人骨弱肌膚盛重因疲勞汗出臥不時動搖加被微風遂得之但以脈自微澀在寸口關上小緊宜針引陽氣令脈和緊去則愈」血痹「陰陽俱微寸口關上微尺中小緊外證」身體不仁如風痹狀</p>
<p>黃蓍（三兩）　芍藥（三兩）　桂枝（三兩）　生薑（六兩）　大棗（十二枚）</p>
<p>上五味以水六升煮取二升溫服七合日三服</p>
<p>黃蓍桂枝苦酒湯　黃汗之為病身體腫發熱汗出而渴狀如風水汗沾衣色正黃如藥汁脈自沉</p>
<p>黃蓍（五兩）　芍藥（三兩）　桂枝（三兩）</p>
<p>上三味以苦酒一升水七升相和煮取三升溫服一升當心煩服至六七日乃解若心煩不止者以苦酒阻故也</p>
<p>桂枝甘草湯</p>
<p>桂枝（四兩）　甘草（二兩）</p>
<p>上二味以水三升煮取一升去滓頓服○發汗過多其人又手自冒心心下悸欲得按者○方意（發汗過多大亡津液虛氣急迫心下悸得按之而稍安桂枝甘草緩之此但備汗後邪去虛氣急迫之一證耳世醫以為萬病心下悸欲得按者皆主之者誤也）</p>
<p>桂枝甘草龍骨牡蠣湯</p>
<p>桂枝（二兩）　甘草（二兩）　龍骨（二兩）　牡蠣（二兩）</p>
<p>上為末（恐以龍骨牡蠣二味為末耳）以水五升煮取二升半去滓溫服八合日三服○火逆下之因燒針煩躁者</p>
<p>人參湯（作丸名理中丸證治同）　霍亂頭痛發熱身疼痛熱多欲飲水者五苓散主之寒多不用水者理中丸主之○大病差後喜唾久不了了者○胸痹心中痞留氣結在胸胸下逆搶心枳實薤白桂枝湯主之人參湯亦主之</p>
<p>人參　甘草　術　乾薑（各三兩）</p>
<p>上四味以水八升煮取三升去滓溫服一升日三服○易簡方云治為寒氣濕氣所中者理中加附子湯主之○明醫指掌云祛寒止嘔逆泄利心腹冷痛（即附子理中湯）○方意（比方理中焦不化故治諸病差後虛氣鬱滯黏液凝心胸喜唾久不止者）</p>
<p>桂枝人參湯（於理中湯方加桂枝四兩）</p>
<p>太陽病外證未除而數下之遂協熱而利利下不止心下痞硬「表裡不解者」（說具於系傳）○辨誤（後世以人參為補綴元氣之聖藥者妄誕爾世醫用廣東人參以為補藥者愚之甚也蘭山小野氏曰廣東古昔南粵之地未聞產人參明一統志亦不記其地產人參或曰往歲廣東呂大珪者來崎陽時官吏話及廣東人參大珪答以不知矣壽竊為本草綱目三七條李時珍曰味微甘而苦頗似人參之味又名金不換其多能不換於金玉之美稱也所謂廣東人參蓋此物也此物能止澀散血產婦金瘡吐血下血用之多效故廣東人巧制其形謾命之名以欺愚人於萬里之外耳又或曰和名抄云人參和名久萬能伊此以其味之苦烈彷彿熊膽云爾其能特治心下痞硬之毒乃有以和產直根竹節等人參充之者然源順延喜年間人其時人參未來我邦何以徵其果為何物夫仲景氏所用韓參也代以偽參余不知其始於何世何人耳聞近世韓參產乏而清人責求以故來少而價騰不便貧民我邦諸國植韓參之種累年蓓蓰品味佳而有效唐山賈舶交易載還宜以充用焉）</p>
<p>茯苓杏仁甘草湯　胸痹心下氣塞短氣茯苓杏仁甘草湯主之橘枳薑湯亦主之</p>
<p>茯苓（三兩）　杏仁（五十個）　甘草（一兩）</p>
<p>上三味以水一斗煮取五升溫服一升日三服不差更服○試效（胸痛咯血或痰喘悸動短氣者以此方合小陷胸湯分量各半）</p>
<p>茯苓乾薑白朮甘草湯　腎著之病其人身重腰中冷如坐水中形如水狀反不渴小便自利飲食如故「病屬下焦身勞汗出衣里冷濕久久得之」腰以下冷痛腰重如帶五千錢（此條為二段證治自分明）</p>
<p>甘草　術（各二兩）　乾薑　茯苓（各四兩）</p>
<p>上四味以水五升煮取三升分溫三服○婦人良方云治妊娠腰腳腫者（方中有杏仁）</p>
<p>茯苓桂枝白朮甘草湯　心下有痰飲胸脅支滿○夫短氣有微飲當從小便去之苓桂朮甘湯主之腎氣丸亦主之</p>
<p>茯苓（四兩）　桂枝（三兩）　術（二兩）　甘草（二兩）</p>
<p>上四味以水六升煮取三升分溫三服○傷寒若吐若下後心下逆滿氣上衝胸起則頭眩脈沉緊者（發汗則動經）身為振振搖者○辨誤（此方載在傷寒論而方今病傷寒者不見一有如此證非可怪乎蓋因世醫之術之拙也夫仲景氏之治傷寒也專主用吐下之方苟能盡吐下之術大邪既除而後見此證者多矣故曰若吐若下後世醫乃畏吐下之藥如虎狼徒淫虛名無實之方劑不省仲景之深意以故凡傷寒以吐下之術可愈者皆以誤之宜乎今之病傷寒者殊不見有此證也）</p>
<p>茯苓桂枝甘草大棗湯</p>
<p>茯苓（半斤）　甘草（三兩）　大棗（十五枚）　桂枝（四兩）</p>
<p>上四味以水一斗先煮茯苓減二升內諸藥取三升去滓溫服一升日三服○發汗後其人臍下悸者欲作奔豚</p>
<p>茯苓桂枝五味甘草湯</p>
<p>茯苓（四兩）　桂枝（四兩）　甘草（三兩）　五味子（半升）</p>
<p>上四味以水八升煮取三升去滓分溫三服○咳逆倚息不得臥小青龍湯主之青龍湯下已多唾口燥「寸」脈沉「尺脈」微手足厥逆氣從少腹上衝胸咽手足痹其面翕然如醉狀因復下流陰股小便難時覆冒者與苓桂五味甘草湯治其氣衝○沖氣即低而反更咳胸滿者用桂苓五味甘草湯去桂加細辛乾薑以治咳滿○咳滿即止而更復渴沖氣復發者「以細辛乾薑為熱藥故也服之當遂渴而渴反止者為支飲也支飲者法」當冒冒者嘔嘔者復內半夏「以去其水」○「水去」嘔止其人形腫者加杏仁（半斤）○若面色如醉此胃熱上薰其面加大黃（三兩）以利之</p>
<p>茯苓澤瀉湯　胃反吐而渴欲飲水者</p>
<p>茯苓（半斤）　澤瀉（四兩）　甘草（二兩）　桂枝（二兩）　術（二兩）　生薑（四兩）</p>
<p>上六味以水一斗煮取三升溫服一升日三服○（霍亂吐利煩躁渴欲飲水水入則吐吐則思水者）○方意（此方於苓桂朮甘湯方加澤瀉生薑其分量雖稍異其主治蓄飲也而此證重於苓桂朮甘湯一等故證曰吐而渴蓋吐者飲毒逆於上也渴者已吐盡而復招新水也治唯在通利蓄水爾）</p>
<p>澤瀉湯　心下有支飲其人苦冒眩</p>
<p>澤瀉（五兩）　白朮（二兩）</p>
<p>上二味以水二升煮取一升分溫再服○方意（苦冒眩者飲毒上行之所致澤瀉白朮泄之）</p>
<p>豬苓湯　發熱渴欲飲水小便不利者（妊娠七八個月面目浮腫小便少者俗謂之子胎豬苓湯主之）</p>
<p>豬苓　茯苓　阿膠　滑石　澤瀉（各等分）</p>
<p>上五味以水四升先煮四味取二升去滓內下阿膠烊消溫服七合日三服○少陰病下利六七日咳而嘔渴心煩不得眠者○試效（尿血膿淋加海金砂大黃甘草佳）</p>
<p>葛根湯　太陽中風項背強𠘧𠘧無汗惡風○太陽與陽明合病者必自下利葛根湯主之不下利但嘔者葛根加半夏湯主之（上二章說具於系傳）</p>
<p>葛根（四兩）　桂枝（二兩）　麻黃（三兩）　芍藥（二兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上七味㕮咀以水七升先煮麻黃葛根減二升去上沫內諸藥煮取三升去滓溫服一升覆取微似汗不須歠粥余如桂枝法將息及禁忌○辨誤（東洞氏嘗於葛根湯方加大黃治一切肌表之瘡毒俚醫雷同以為外發內泄兼解之上手段者誤矣東洞之加大黃也其分量僅僅要在使大黃附葛根湯發散之驥尾以解毒於肌表耳）</p>
<p>葛根黃連黃芩湯</p>
<p>葛根（半斤）　黃連（三兩）　黃芩（二兩）　甘草（二兩）</p>
<p>上四味以水八升先煮葛糧減二升內諸藥煮取二升去滓分溫再服○太陽病桂枝證醫反下之利遂不止「脈促者表未解也」喘而汗出者（說具於系傳）○發明（世醫以此方為治協熱利者妄也又以為治項背強急而心煩心下痞者誤也蓋葛根之為能融化強急之毒故配之桂麻則治項背強𠘧𠘧者配之芩連則治熱毒內陷而胸肺強急之證曰胸中之強急何以徵之曰喘也汗也是胸肺強急之邪迫於上薰於外之兆所謂病應見於大表者是也夫葛花之解酒毒亦在治強急之毒而已蓋酒氣之瀰淪人身也氣血奔騰迸而亦蹶苟蹶則沉滯而為身體強急之證察葛花能解酒毒而葛根配諸藥之能可知矣）</p>
<p>麻黃湯　太陽病頭痛發熱身疼腰痛骨節疼痛惡風無汗而喘者○「太陽與陽明合病」喘而胸滿者○「陽明病」脈浮無汗而喘者發汗則愈（上三章說具於系傳）</p>
<p>麻黃（三兩）　桂枝（二兩）　甘草（一兩）　杏仁（七十個）</p>
<p>上四味以水九升先煮麻黃減二升去上沫內諸藥煮取二升半去滓溫服八合覆取微似汗不須歠粥余如桂枝法將息○濕家身煩疼可與麻黃加朮湯（於麻黃湯方加蒼朮四兩）○三因方云治寒濕身體疼煩無汗惡寒發熱者○方意（千金方云麻黃通肉之藥蓋麻黃湯之為能發散肉分之邪則當覆取汗是乃正也若夫通散肉中壅滯之水濕則麻黃加朮湯之所之乃不須覆取汗是乃奇也）</p>
<p>麻黃附子細辛湯　少陰病始得之反發熱脈沉者（說具於系傳）</p>
<p>麻黃（二兩）　細辛（二兩）　附子（一枚）</p>
<p>上三味以水一斗先煮麻黃減二升去上沫內諸藥煮取三升去滓溫服一升日三服</p>
<p>麻黃附子甘草湯（於麻黃附子細辛湯方去細辛加甘草二兩）</p>
<p>少陰病得之二三日麻黃附子甘草湯微發汗「以二三日無里證故發汗也」（說具於系傳）</p>
<p>麻黃杏仁甘草石膏湯</p>
<p>麻黃（四兩）　杏仁（五十個）　石膏（半斤）　甘草（二兩）</p>
<p>上四味以水七升先煮麻黃減二升去上沫內諸藥煮取二升去滓溫服一升（諸壯熱咳逆喘促小兒熱渴喘急加蘇子桑白皮佳）○發汗後（不可更行桂枝湯）汗出而喘無大熱者（說具於系傳）</p>
<p>麻黃杏仁薏苡甘草湯　病者一身悉痛發熱日晡所劇者名風濕「此病傷於汗出當風或久取冷所致也」</p>
<p>麻黃（半兩）　甘草（一兩）　薏苡（半兩）　杏仁（十個）</p>
<p>上四味以水五升煮取二升分溫再服○外臺云濕家始得病特可與薏苡麻黃湯（即此方也）</p>
<p>牡蠣湯　治牡瘧</p>
<p>牡蠣（四兩）　麻黃（四兩）　甘草（二兩）　蜀漆（三兩）</p>
<p>上四味以水八升先煮蜀漆麻黃去上沫內諸藥煮取二升溫服若吐則勿更服（凡瘧疾服常山蜀漆之類得吐則多瘧毒截斷故止服若夫吐而後仍疾不去者可更數服）</p>
<p>小青龍湯　傷寒表不解心下有水氣乾嘔發熱而咳或渴或利或噎或小便不利少腹滿或喘者○傷寒心下有水氣咳而微喘發熱不渴「服湯已渴者此寒去欲解也」（說具於系傳）</p>
<p>麻黃（三兩）　芍藥（三兩）　乾薑（三兩）　甘草（三兩）　桂枝（三兩）　半夏（半升）　細辛（三兩）　五味子（半升）</p>
<p>上八味以水一斗先煮麻黃減二升去上沫內諸藥煮取三升去滓溫服一升○病溢飲者當發其汗○咳逆倚息不得臥○肺脹咳而上氣煩躁而喘脈浮小青龍加石膏湯主之○（此方發輸傷寒外邪內感著固有之水飲者是乃正也若夫治溢飲及咳逆上氣肺脹等證者乃奇也）</p>
<p>大青龍湯　太陽中風脈浮緊發熱惡寒身疼痛不汗出而煩躁者○傷寒脈浮緩身不疼但重乍有輕時（無少陰證者）大青龍湯發之（上二章說具於系傳）</p>
<p>麻黃（六兩）　桂枝（二兩）　甘草（二兩）　杏仁（四十個）　生薑（三兩）　大棗（十二枚）　石膏（雞子大）</p>
<p>上七味以水九升先煮麻黃去上沫內諸藥煮取三升去滓溫服一升取微似汗○病溢飲者當發其汗大青龍湯主之小青龍湯亦主之（當有面部四肢微腫咳逆喘嗽等證）</p>
<p>越婢湯　風水惡風一身悉浮腫不渴續自汗出無大熱者○里水一身面目黃腫其脈沉小便不利越婢加朮（四兩）湯主之○咳而上氣此為肺脹其人喘目如脫狀脈浮大者越婢加半夏湯主之</p>
<p>麻黃（六兩）　石膏（半升）　生薑（三兩）　大棗（十二枚）　甘草（二兩）</p>
<p>上五味以水六升先煮麻黃去上沫內諸藥煮取三升分溫三服○千金方云治風痹腳弱又云治妊娠腫滿喘息小便不利（於本方內加附子一枚蒼朮四兩）○辨誤（世醫每值水腫之病輒用此方兼與他丸散峻下之藥適有得愈則歸功此方惑也越婢之為能主治濕熱發越於一身而腫者耳何能悉治一切之腫滿）</p>
<p>小柴胡湯　傷寒六七日中風往來寒熱胸脅苦滿默默不欲飲食心煩喜嘔或胸中煩而不嘔或渴或腹中痛或胸下痞硬或心下悸小便不利或不渴身有微熱或咳者○太陽病十日已去「脈浮細而嗜臥者外已解也」設胸滿胸痛者小柴胡湯主之○「血弱氣盡腠理開邪氣因入與正氣相搏結於胸下正邪分爭」往來寒熱休作有時默默不欲飲食或嘔者○傷寒四五日身熱惡風頸項強胸下滿手足溫而渴者○傷寒五六日嘔而發熱者○陽明病發潮熱大便溏小便自可胸脅滿不去者○陽明病脅下硬滿不大便而嘔舌上白胎者（白胎者熱未實小柴胡湯主之若黃胎熱已實則大小承氣湯主之）○本太陽病不解因轉入少陽胸下硬滿乾嘔不能食往來寒熱「尚未吐下脈沉緊者」（以上八章說具於系傳）</p>
<p>柴胡（半斤）　黃芩（三兩）　人參（三兩）　半夏（半升）　生薑（三兩）　大棗（十二枚）　甘草（三兩）</p>
<p>上七味以水一斗二升煮取六升去滓再煎取三升溫服一升日三服○「得病六七日脈遲浮弱惡風寒手足溫」醫二三下之不能食而胸下滿面目及身黃頸項強小便難者與小柴胡湯○嘔而發熱者（是泛指雜病非專為傷寒而言）○諸黃腹痛而嘔者○婦人在草褥自發露得風四肢苦煩熱頭痛者○瘧病發渴者柴胡去半夏加栝蔞（四兩）湯主之○證治要訣云傷寒胸脅俱痛頭痛耳聾口苦或渴或嘔大小便或利或不利往來寒熱如瘧○蘇東坡云近歲此藥大行患傷寒不問陰陽表裡皆令服之此甚誤也此藥傷寒論雖主數十證大要其間有五證最的當服之必愈一者身熱心中逆或嘔吐者可服傷寒此證最多正當服小柴胡湯若因渴飲水而嘔者不可服身體不溫熱者不可服仍當識此二者寒熱往來者三者發潮熱可服四者心煩胸下滿或渴或不渴皆可服五者傷寒已差後更發熱者可服此五證但有一證可服○辨誤（論曰傷寒中風有柴胡證但見一證便是不必悉具者如坡翁之說也若夫以胸脅苦滿之一證當之者妄矣）</p>
<p>柴胡加芒硝湯（於小柴胡湯方加芒硝六兩）</p>
<p>傷寒十三日不解胸脅滿而嘔日哺所發潮熱（已而微利此本柴胡證下之不得利今反利者知醫以丸藥下之非其治也）潮熱者實也先宜小柴胡湯以解外後以柴胡加芒硝湯主之（○世醫以為加於大柴胡湯者誤也說具於系傳）</p>
<p>柴胡桂枝湯　傷寒六七日發熱微惡寒肢節煩疼微嘔心下支結「外證未去者」○心腹卒中痛</p>
<p>柴胡（四兩）　人參（一兩）　黃芩（一兩）　甘草（一兩）　半夏（二合）　芍藥（一兩半）　大棗（六枚）　桂枝（一兩）　生薑（一兩半）</p>
<p>上九味以水七升煮取三升去滓溫服一升日三服○發汗多亡陽譫語者不可下與柴胡加桂湯（說具於系傳）○外臺云治寒疝腹中痛○辨誤（世醫以此方為兼解表裡之邪氣者妄也豈有同滾同沸之藥汁一旦下咽入胃之後各自分賦於某經某臟之理乎不思之甚也說具於系傳）</p>
<p>柴胡桂枝幹薑湯　瘧寒多微有熱或但寒不熱者（東洞曰當有胸動及渴證）</p>
<p>柴胡（半斤）　黃芩（三兩）　桂枝（三兩）　乾薑（三兩）　牡蠣（三兩）　甘草（二兩）　栝蔞根（四兩）</p>
<p>上七味以水一斗二升煮取六升去滓再煎取三升溫服一升日三服○傷寒五六日已發汗而復下之胸脅滿微結小便不利渴而不嘔但頭汗出往來寒熱心煩者（說具於系傳）</p>
<p>大柴胡湯　傷寒十餘日熱結在裡復往來寒熱者○傷寒發熱汗出不解心下痞硬嘔吐而下利者當下之○按之心下滿痛者此為實也</p>
<p>柴胡（半斤）　黃芩（三兩）　芍藥（三兩）　半夏（半斤）　枳實（四枚）　甘草（二兩）　大棗（十二枚）　大黃（二兩）　生薑（五兩）</p>
<p>上九味以水一斗二升煮取六升去滓再煎取三升溫服一升日三服（方中恐脫甘草二兩四字論曰與大柴胡湯下之則愈而脫大黃二兩主藥且有脫落於甘草何怪也蓋傷寒論中柴胡劑皆有甘草其無之者唯此一方耳不可不察焉）○太陽病「過經」十餘日反二三下之後四五日柴胡證仍在者先與小柴胡湯嘔不止心下急鬱郁微煩者與大柴胡湯下之則愈○外臺云療傷寒八九日不解心腹緊滿身體疼痛內外有煩熱嘔不安○救正論云治傷寒目眩耳聾舌有黃胎煩渴索水絕食兩日少動呼胸腹脅肋皆痛大便下赤水小便赤澀脈沉緩囊未縮者○和劑云治外感風寒內傷飲食鬱結在裡身熱煩躁語言譫妄大便不通繞臍刺痛○丹溪心法附錄云治傷寒十餘日邪氣結在裡寒熱往來大便秘澀腹滿脹痛語言譫妄必中痞硬飲食不下口生白胎不大便五六日繞臍刺痛時發煩躁及汗後如瘧日晚發熱或發熱汗出脈有力者可服○試效（痢疾壯熱臍腹絞痛或乾嘔或吐逆者又急患積聚二便不利上搶心腹脹滿害食者皆主之）</p>
<p>柴胡加龍骨牡蠣湯</p>
<p>柴胡（四兩）　半夏（二合）　大棗（六枚）　生薑　人參　龍骨　鉛丹　桂枝　茯苓（各一兩半）　大黃（二兩）　牡蠣（一兩半）</p>
<p>上十一味以水八升煮取四升內大黃切如博棋子更煮一二沸去滓溫服一升○傷寒八九日下之胸滿煩驚小便不利譫語一身悉重不可轉側者（說具於系傳）○傷寒類方云此方能下肝膽之驚疾以之療癲癇必效○經驗集錄云小兒連日壯熱實滯不去寒熱往來驚悸○方意（此方鎮攝邪毒結滯心胸而迫於上者本草鉛丹條云治吐逆反胃驚癇癲疾又云治驚悸狂走由之求方意思過半矣）</p>
<p>白虎湯　「三陽合病」腹滿身重難以轉側口不仁而面垢譫語遺尿「發汗則譫語下之則額上生汗」手足逆冷若自汗出者○傷寒脈滑而厥者（上二章說具於系傳）</p>
<p>知母（六兩）　石膏（一斤）　甘草（二兩）　粳米（六合）</p>
<p>上四味以水一斗煮米熟湯成去滓溫服一升日三服○宣明方云治傷風自汗桂枝證表未解半入於裡中暑自汗脈虛弱傷寒自汗脈滑數而實表裡俱實三陽合病腹滿身重口燥面垢譫語發黃厥逆自汗和解兩感解頭痛止自汗雜病時疫煩渴發斑兼治小兒疱瘡疹伏熱</p>
<p>白虎加桂枝湯（於白虎湯方加桂枝三兩）</p>
<p>溫瘧者其脈如平身無寒但熱骨節煩疼時嘔白虎加桂湯主之○聖劑總錄云治溫瘧骨節疼痛時嘔朝發暮解暮發朝解白虎加桂湯主方○明醫指掌云妊娠傷寒身自汗出煩渴唇焦○證治要訣云若初得病頭痛心熱外別有陽證至五日方發厥其人雖厥或畏熱或飲水或揚手擲足煩躁不得眠大便秘小便赤多昏憒者此熱厥也宜白虎湯（熱厥雖手足冷而指甲暖不若寒厥並指甲俱冷此辨陰陽要法也）○活人書云其人傷濕因而中暑名濕溫兩脛遂冷胸滿頭目疼重妄言多汗陽脈濡而弱陰脈小而急反煩渴引飲者切不可汗之汗之必死蒼朮白虎湯主之○發明（世醫以粳米為益氣和胃止煩止渴者誤也白虎證曰煩渴曰大煩渴曰身熱而渴曰渴欲飲水數升此伏熱之所為而石膏消解之方此時與冷粥汁亦必飲數盞何賴一匕之粳米益之和之止之之為竊按石膏性降沉煮之釜中為殷殷之聲不與水親故使粳米黏石氣以混成藥汁此古人制方之微意也）○試效（白虎湯證而心煩悶亂或潮熱狂躁罵詈逾垣上屋者加黃連）</p>
<p>白虎加人參湯（於白虎湯方加人參三兩）</p>
<p>傷寒無大熱口燥渴心煩背微惡寒者○傷寒脈浮發熱無汗其表不解者不可與白虎湯渴欲飲水口乾舌燥者○服桂枝湯大汗出後大煩渴不解脈洪大者白虎加人參湯主之○傷寒若吐若下後七八日不解熱結在裡表裡俱熱時時惡風舌上乾燥而渴欲飲水數升者（東洞曰千金外臺同作白虎湯主之而曰傷寒論方今從之此說是也）○大陽中熱者暍是也汗出惡寒身熱而渴（上四章說具於系傳）○徐同知曰治伏暑發渴嘔吐身熱脈虛自汗○辨誤（世醫見白虎加人參湯證曰汗後吐後下後乃以為加人參補益虛陽者妄也又曰治白虎湯證而心下痞硬者亦誤也蓋人參之為能鼓舞虛氣今於白虎湯方加人參者即欲使人參佐白虎湯以鼓舞虛氣助消散伏熱之力也學者思諸）</p>
<p>厚朴大黃湯　支飲胸滿者</p>
<p>厚朴（一尺）　大黃（六兩）　枳實（四枚）</p>
<p>上三味以水五升煮取二升分溫再服</p>
<p>厚朴三物湯　痛而閉者</p>
<p>厚朴（八兩）　大黃（四兩）　枳實（五枚）</p>
<p>上三味以水一斗二升先煮二味取五升內大黃煮取三升溫服一升○醫通云痛而閉塞無雷鳴嘔逆之證者當下之</p>
<p>厚朴七物湯　病腹滿發熱十日脈浮而數飲食如故</p>
<p>厚朴（半斤）　大黃（三兩）　枳實（五枚）　甘草（三兩）　大棗（十二枚）　桂枝（二兩）　生薑（五兩）</p>
<p>上七味以水一斗煮取四升溫服八合日三服○千金云治腹滿氣脹○試效（腹滿不大便而嘔者痢疾發熱脈數或手足怠惰或腹中刺痛者加芍藥）○辨誤（世醫以為發熱脈浮數者桂枝去芍藥湯之所主而腹滿者厚朴三物湯之所治故合此二方以制方者妄也蓋曰發熱十日者示病之未深也夫腹滿日淺者未至大滿而精氣仍能抗之故必發熱也若夫腹滿數十日滿脹稍大者精氣衰弱而不能抗於毒是以不復發熱飲食不如故也故舉發熱之日數以見病之淺日發病僅十日示其腹滿將漸大之機也又曰飲食如故示未至妨食道也）</p>
<p>小承氣湯</p>
<p>大黃（四兩）　厚朴（二兩）　枳實（三兩）</p>
<p>已上三味以水四升煮取一升二合去滓分溫二服○陽明病脈遲雖汗出不惡寒者其身必重短氣腹滿而喘「有潮熱者此外欲解可攻裡也」手足濈然汗出者此大便已硬也大承氣湯主之「若汗多微發熱惡寒者外未解也」其熱不潮未可與承氣湯若大便不通者可與小承氣湯微和胃氣勿令大泄下○傷寒不大便六七日頭痛有熱者與承氣湯其小便清者知不在裡仍在表也當發汗○陽明病其人汗出多以津液外出胃中燥大便必硬硬則譫語小承氣湯主之○陽明病譫語發潮熱脈滑而疾者○太陽病若吐若下若發汗微煩小便數大便因硬者○下利譫語者有燥屎也○大便不通噦數譫語（上二章不問何病皆主之）○發明（傷寒論金匱要略中有同方而三名者焉厚朴三物湯厚朴大黃湯小承氣湯是也但其分量或厚朴減於枳實或枳實減於厚朴要之皆以大黃為主若方中缺大黃則不成方或缺枳實或缺厚朴皆無損於治病苟無損於治病則無論二物之增減而可也壽按本是厚朴三物湯仲景氏當活用之於傷寒之時更命承氣之名而已夫承者順也傷寒純熱閉實於腸胃大黃厚朴枳實並盪滌之力承順其結實之氣以導之於屎道其劇者加芒硝以強藥力是仲景氏所以革三物之名更命承氣之名也學者欲知承氣湯之正宜就三方之條而求焉）</p>
<p>大承氣湯　病腹中滿痛者○下利三部脈皆平按之心下硬者急下之○下利瘥後至其年月日時復發者以病不盡故也當下之</p>
<p>大黃（四兩）　厚朴（半斤）　枳實（五枚）　芒硝（三合）</p>
<p>上四味以水一斗先煮二物取五升去滓內大黃煮取二升去滓內芒硝更上火微一兩沸分溫再服得下余勿服（得下則勿服者是傷寒之治法而候下後之變者也至若治它病以瘥為度）○傷寒若吐若下後不解不大便五六日上至十餘日日晡所發潮熱不惡寒獨語如見鬼狀若劇者發則不知人循衣摸床惕而不安微喘直視譫語者○陽明病譫語有潮熱反不能食者有燥屎也若能食者但硬爾○汗出譫語者有燥屎須下之○「二陽並病」太陽證罷但發潮熱手足漐漐汗出大便難而譫語者○病人煩熱汗出則解又如瘧狀日晡所發熱脈實者○病人小便不利大便乍難乍易時有微熱喘冒不能臥者有燥屎也○傷寒五六日目中不了了睛不和大便難身微熱者急下之○陽明病發熱汗出者急下之○少陰病自利清水色純青心下必痛口乾燥者急下之○大下後六七日不大便煩不解腹滿痛者（上十二章說具於系傳）○痙之為病胸滿口禁臥不著席腳攣急必齘齒○產後七八日少腹堅痛此惡露不盡不大便煩躁發熱譫語者（少腹堅痛惡露不盡者宜桃仁承氣湯以逐血氣而今有煩躁者是胃家實也與大承氣湯以瀉其實則惡露隨而盡也）○必讀云治傷寒八九日以來口不能言目不能視體不能動四肢俱冷六脈皆無以手按腹兩手護之皮皺作楚趺陽脈大而有力乃腹有燥屎也遂下之得燥屎六七枚口能言體能動○醫通云病人熱甚脈未數實欲登高棄衣罵詈不避親疏蓋陽盛則四肢實四肢實則能登高也大承氣湯主之又云胃中有燥屎大熱錯譫喘滿神昏不得眠（胃中只泛指腹臟內而言耳）○辨誤（世醫以為此方特下結糞之藥者誤也夫仲景氏之論燥尿及大便硬難也蓋有故矣故於下利之證亦用大承氣湯是古方之妙境不可以不知焉若其說具於系傳）</p>
<p>瀉心湯　心氣不足（一作不定）吐血衄血○心下痞按之濡其脈關上浮者</p>
<p>大黃（二兩）　黃連　黃芩（各一兩）</p>
<p>上三味以麻沸湯二升漬之須臾絞去滓分溫再服○婦人吐涎沫醫反下之心下即痞○得效方云治心受積熱譫語發狂逾牆上屋○醫方考云心火胸膈實熱面赤狂走者○試效（卒倒昏眩不省人事或痰壅氣急小兒發驚搐搦瘛瘲者皆主之）</p>
<p>附子瀉心湯（於瀉心湯煎汁內和附子煎汁分溫再服）</p>
<p>心下痞而復惡寒者（說具於系傳）○辨誤（世醫曰瀉心湯治心下痞今此證其初因汗下之變亡陽脫津故加附子補虛復津者誤也附子能運動固滯之毒加之瀉心湯者為佐瀉心之力爾凡人心下鬱結痞塞則外見惡寒振慄厥逆等之證此證曰惡寒者乃心下痞塞之劇證也夫瀉心湯本瀉心下痞塞其劇者不可不添運動之力故加附子）</p>
<p>大黃附子湯　胸下偏痛發熱其脈弦緊</p>
<p>大黃（三兩）　附子（三枚）　細辛（二兩）</p>
<p>上三味以水五升煮取二升分溫三服○方意（偏痛者是乃寒飲固滯胸下之應附子細辛運逐之大黃受而通之）</p>
<p>大黃甘遂湯　婦人少腹滿如敦狀小便微難而不渴「經後者（經舊作生是也）此為水與血俱結在血室也」</p>
<p>大黃（四兩）　甘遂（二兩）　阿膠（二兩）</p>
<p>上三味以水三升煮取一升頓服之○（甘遂經火煮則耗性宜末用也先煮大黃如法去滓更上火內膠烊消下火內甘遂未攪之頓服）</p>
<p>抵當湯　經水不利者○千金方云治月經不調或一月再來兩月三月一來或月前或月後閉塞不通</p>
<p>水蛭（三十個）　虻蟲（三十個）　大黃（五兩）　桃仁（二十個）</p>
<p>上四味為末以水五升煮取三升去滓溫服○發明（此煎法恐撰者之誤也凡藥火煮者不必末也今此干蟲微物既末且煮豈得不損性乎且以大黃桃仁同末之者亦不審其故當作上四味二味為末以水五升先煮大黃桃仁取三升內水蛭虻蟲末更上火才一二沸去滓頓服一升）○太陽病六七日表證仍在脈微而沉反不結胸其人發狂者以熱在下焦少腹當硬滿小便自利者下血乃愈「所以然者以太陽隨經瘀熱在裡故也」○太陽病身黃脈沉結少腹硬小便不利者為無血也小便自利其人如在者血證諦也○陽明病其人喜忘者必有畜血「所以然者本有久瘀血故令喜忘」屎雖硬大便反易其色必黑○病人無表裡證發熱七八日雖脈浮數者可下之假令已下脈數不解合熱則消穀善飢至六七日不大便者有瘀血（說具於系傳）</p>
<p>橘皮大黃朴硝湯　鱠食之在心胸間不化吐復不出速除之（諸宿食有事於心胸間者）</p>
<p>橘皮（一兩）　大黃（二兩）　朴硝（二兩）</p>
<p>上三味以水一大升煮至小升頓服</p>
<p>大黃硝石湯　黃疸腹滿小便不利而赤自汗出</p>
<p>大黃　黃蘗　硝石（各四兩）　梔子（十五枚）</p>
<p>上四味以水六升煮取三升去滓內硝石煮取一升頓服○試效（黃疸身熱心煩不大便者）</p>
<p>大黃牡丹皮湯　腸癰者少腹腫痞按之即痛如淋小便自調時時發熱自汗出復惡寒其脈遲緊者膿未成也可下之當有血脈洪數者膿已成不可不也</p>
<p>大黃（四兩）　桃仁（五十個）　瓜子（半斤）　芒硝（三合）　牡丹皮（二兩）</p>
<p>上五味以水六升煮取一升去滓內芒硝再煎沸頓服之有膿當下無膿當下血○千金方云腸癰之病少腹痞堅或在膀胱左右其色或白堅大如掌發熱小便欲調時自汗出其脈遲緊者未成膿可下之○產育云產後血暈悶絕狼狽若口禁則拗開灌之</p>
<p>大黃甘草湯　食已即吐者</p>
<p>大黃（四兩）　甘草（一兩）</p>
<p>上二味以水三升煮取一升分溫再服○肘後云治胃反不受食食輒吐出○試效（噁心嘈雜大便不通食積心下不快然者）</p>
<p>調胃承氣湯　大便不通胃氣不和者○醫通云常有熱而痛此為積熱</p>
<p>大黃（四兩）　甘草（二兩）　芒硝（半斤）</p>
<p>上三味㕮咀以水三升煮取一升去滓內芒硝更上火微煮令沸少少溫服○發汗後惡寒者虛故也不惡寒但熱者實也當和胃氣○太陽病「過經」十餘日心下溫溫欲吐而胸中痛大便反溏腹微滿鬱郁微煩先此時自極吐下者與調胃承氣湯若不爾者不可與○陽明病不吐不下心煩者○太陽病三日發汗不解蒸蒸發熱者○傷寒吐後腹脹滿者（上五章說具於系傳）</p>
<p>桃仁承氣湯　療一切宿血及損傷瘀血在腹內不問新久並婦人月經不通產後惡血（傷寒論中舉桃仁承氣湯之奇而略其正今假千金方以示正）</p>
<p>桂枝（三兩）　桃仁（五十個）　大黃（四兩）　芒硝（二兩）　甘草（二兩）</p>
<p>上五味以水七升煮取二升半去滓內芒硝更上火微沸下火溫服五合日三服○太陽病不解熱結膀胱其人如狂血自下下者愈（下血是解熱之兆故曰愈乃隨證處方）但少腹急結者乃可攻之（是活用桃仁承氣湯於傷寒血熱瘀滯之證）○壽世云治吐血覺胸中氣塞上吐紫血○寧生傳云迫血上行為衄數升余面赤脈躁疾神恍恍如癡○傳信尤易方云治血淋○救正云治一女適因行經浣衣受寒發熱喘渴少腹脹痛脈寸關浮數兩尺沉結者此蓄血傷寒也○儒門事親云凡婦人月事沉滯數月不行肌肉漸減內經曰小腸熱已滿移熱瘕為沉沉者月事沉滯不行也故曰伏瘕○醫通云心下滿而微硬不可按其人善忘小便反利而不渴者是結血也又云當汗失汗譫語善飢漱水身黃腹滿如狂者屬瘀血也○明醫指掌云治蓄血脹滿大實大痛手不可近者</p>
<p>桔梗湯　咳而胸滿振寒脈數咽乾不渴時出濁唾腥臭久久吐膿如米粥</p>
<p>桔梗（一兩）　甘草（二兩）</p>
<p>上二味以水三升煮取一升去滓分溫服五合日再服○少陰病二三日咽痛者可與甘草湯不差者與桔梗湯（說具於系傳）</p>
<p>排膿湯　主治同前</p>
<p>甘草（二兩）　桔梗（三兩）　生薑（二兩）　大棗（十二枚）</p>
<p>上四味以水三升煮取一升溫服五合日再服○（此方與桔梗湯主治大同小異此方於桔梗湯方加薑棗且桔梗分量二倍於桔梗湯蓋桔梗湯證而毒一等深者宜用此方）</p>
<p>芍藥甘草湯</p>
<p>芍藥（四兩）　甘草（四兩）</p>
<p>上㕮咀以水三升煮取一升半去滓分溫再服○傷寒脈浮自汗出小便數心煩微惡寒腳攣急（說具於系傳）</p>
<p>芍藥甘草附子湯</p>
<p>芍藥（三兩）　甘草（三兩）　附子（一枚）</p>
<p>已上三味以水五升煮取一升五合去滓分溫服○發汗病不解反惡寒者虛故也（說具於系傳）</p>
<p>甘遂半夏湯　病者脈伏其人慾自利利反快雖利心下續堅滿「此為留飲欲去故也」</p>
<p>甘遂（三枚）　半夏（十二枚）　芍藥（五枚）　甘草（指大二枚）</p>
<p>上四味以水四升煮取半升去滓以蜜半升和藥汁煎取八合頓服之○發明（甘遂完煮損性無效當作以蜜半升和藥汁煎取八合內甘遂末攬而頓服之）</p>
<p>甘麥大棗湯　婦人臟躁喜悲傷欲哭象如神靈所作數欠伸（東洞曰急迫而狂驚者）</p>
<p>甘草（三兩）　小麥（一升）　大棗（十枚）</p>
<p>上三味以水六升煮取二升分溫三服</p>
<p>甘草粉蜜湯　蛔蟲為病令人吐涎心痛發作有時毒藥不止</p>
<p>甘草（二兩）　粉（一兩）　蜜（四兩）</p>
<p>上三味以水三升先煮甘草取二升去滓內粉蜜攪令和煎如薄粥溫服一升○方意（此方以緩急為主所謂苦急以甘緩之者是也其吐涎心痛者是急迫之所為世醫單為蛔蟲之所為者妄也）○辨誤（方中粉諸說紛紛或曰胡粉或曰輕粉皆妄誕也粉米粉也而加此粉也非為治疾苦但使病人便服用爾蓋蜜甘草濃甜煎汁人不堪飲吃故加米粉再煎如薄粥以使藥味調和易飲吃也余故曰若無米粉則以小麥粉或蕎麥粉之類代之而可也）</p>
<p>甘草乾薑湯　肺痿吐喘沫而不咳者其人不渴必遺尿小便數</p>
<p>甘草（四兩）　乾薑（二兩）</p>
<p>上㕮咀以水三升煮取五合去滓分溫再服○傷寒誤治後手足厥咽中乾燥吐逆者（說具於系傳）○試效（虛氣急迫而噦逆者）</p>
<p>四逆湯　下利腹脹滿身體疼痛者○吐利汗出發熱惡寒四肢拘急手足厥冷者○既吐且利大便複利而大汗出下利清穀內寒外熱脈微欲絕者○下利清穀裡寒處熱汗出而厥者（上四章四逆湯之正證苟有此證則萬病皆可服）</p>
<p>甘草（二兩）　乾薑（一兩半）　附子（一枚）</p>
<p>上三味㕮咀以水三升煮取一升二合去滓分溫再服○傷寒醫下之續得下利清穀不止身疼痛者○病發熱頭痛脈反沉若不差身體疼痛○脈浮而遲表熱裡寒下利清穀者○大汗出熱不去內拘急四肢厥又下利厥逆而惡寒者</p>
<p>通脈四逆湯（於四逆湯方加倍乾薑一兩半）</p>
<p>下利清穀裡寒外熱汗出而厥者○少陰病下利清穀裡寒外熱手足厥冷脈微欲絕身反不惡寒其人面赤色或腹痛或乾嘔或咽痛或利止脈不出者</p>
<p>通脈四逆加豬膽汁湯（於通脈四逆湯方加豬膽汁半合）　○（諸病四逆湯證而病一等深者主之或霍亂吐下已斷汗出云云證又通脈四逆湯證而四肢拘急其病極深者此方皆主之）</p>
<p>四逆加人參湯　惡寒脈微而複利「利止亡血也」（上七章說具於系傳）○辨誤（俗醫以四逆輩為溫脾補虛之聖劑者妄矣蓋彼意以為甘草引乾薑附子辛熱大溫之藥入於脾以溫補其虛丹溪曰附子性走而不守無補益之效可以見其妄矣）</p>
<p>茯苓四逆湯（此四逆湯之變方說具於系傳）</p>
<p>茯苓（六兩）　人參（一兩）　甘草（二兩）　乾薑（一兩半）　附子（一枚）</p>
<p>上五味以水五升煮取三升去滓溫服七合日三服○發汗若下之病仍不解煩躁者○千金方云霍亂轉筋肉冷汗出嘔啘者無茯苓名四順湯○試效（凡病人精氣虛脫手足逆冷心悸煩躁或下利者主之）</p>
<p>乾薑附子湯</p>
<p>乾薑（一兩）　附子（一枚）</p>
<p>上二味以水三升煮取一升去滓頓服○下之後復發汗晝日煩躁不得眠夜而安靜不嘔不渴「無表證」脈沉微身無大熱者（說具於系傳）○易簡方雲中寒口禁四肢強直失音不語或卒然暈倒口吐涎沫狀如暗風手足厥冷或復煩躁兼治中脘虛寒久積痰水心腹冷痛霍亂轉筋四肢厥逆</p>
<p>附子粳米湯　腹中寒氣雷鳴切痛胸脅逆滿嘔吐</p>
<p>附子（一枚）　半夏（半升）　甘草（二兩）　大棗（十二枚）　粳米（半升）</p>
<p>上五味以水八升煮米熟湯成去滓溫服一升日三服○外臺云主治寒疝氣心腹如刺繞臍腹中悉痛自汗出欲絕於本方加蜀椒又療肺虛勞損腹中寒雷鳴切痛胸脅逆滿氣喘於本方加白朮乾薑○千金云霍亂四逆吐多者○方意（附子性走而不守能運動寒固之毒此證病毒在胸脅而逆滿故以粳米黏附子走運之氣稽留胸腹間以治寒痛）○試效（此證而與此方數日荏苒不愈者加良薑延胡索取驗甚多矣）</p>
<p>大烏頭煎　寒疝繞臍痛若發則自汗出手足厥逆其脈沉弦者</p>
<p>烏頭（大者五枚）</p>
<p>上以水三升煮取一升去滓內蜜二升煎令水氣盡取二升○試效（久年腹痛或疝痛飲痛諸藥無效者用此方運動其固毒時用吐下之劑以拔去其毒根）</p>
<p>烏頭湯　病歷節不可屈伸疼痛○腳氣疼痛不可屈伸○寒疝腹中絞痛拘急不得轉側發作有時使人陰縮手足厥逆</p>
<p>麻黃　芍藥　黃蓍（各三兩）　甘草（三兩）　烏頭（五枚㕮咀以蜜二升煎取一升即出烏頭）</p>
<p>上五味㕮咀四味以水三升煮取一升去滓內蜜煎中更煮之服七合不知盡服之○試效（四肢百節疼痛如虎咬者此名歷節風此方神驗又治腳氣一身悉痛或四肢痹者）○方意（烏頭芍藥運和其毒麻黃黃蓍扇散之張珞玉曰烏頭以蜜煎取緩其性使之留連筋骨以利其屈伸壽按蓋烏頭得蜜奔氣沉著故仲景氏之使用烏頭也必以蜜煎之令其剛悍之氣不奔逸是古人用藥妙處）</p>
<p>真武湯　少陰病二三日不已至四五日腹痛小便不利四肢沉重疼痛自下利者其人或咳或小便利或下利或嘔者</p>
<p>茯苓（三兩）　芍藥（三兩）　生薑（三兩）　白朮（二兩）　附子（一枚）</p>
<p>上五味以水八升煮取三升去滓溫服七合日三服○太陽病發汗汗出不解其人仍發熱心下悸頭眩身瞤動振振欲擗地者○易簡方云此藥不惟陰證傷寒可服若虛勞之人增寒壯熱咳嗽下利者宜服之</p>
<p>附子湯　少陰病得之二三日口中和其背惡寒者○少陰病身體痛手足寒骨節疼痛脈沉者（說具於系傳）</p>
<p>附子（二枚）　茯苓（三兩）　人參（二兩）　芍藥（三兩）　白朮（四兩）</p>
<p>上五味以水八升煮取三升去滓溫服一升日三服○千金云治濕痹緩風身體疼痛如欲折內如錐刺刀割方中有桂枝甘草又治寒濕腳氣疼痛不仁脈沉細者○易簡方云治風寒濕合痹骨節疼痛皮膚不仁肌肉重著四肢緩縱腰腳痠痛兼治疲極筋力氣虛倦怠偏體痠疼</p>
<p>梔子豉湯</p>
<p>梔子（十四枚）　香豉（四合）</p>
<p>上二味以水四升先煮梔子得二升半內豉煮取一升半去滓分為二服溫進一服○發汗後虛煩不得眠若劇者必反覆顛倒心中懊憹○發汗後若下之而煩熱胸中窒者○傷寒大下之後身熱不去心中結痛者○心中懊憹舌上胎者○陽明病下之其外有熱手足溫心中懊憹不能食但頭汗出者○下利後更煩按之心下濡者為虛煩也○若少氣者梔子甘草豉湯主之（於梔子豉湯方加甘草二兩）○若嘔者梔子生薑豉湯主之於梔子豉湯方加生薑五枚）</p>
<p>枳實梔子豉湯（於梔子豉湯方加枳實三枚）</p>
<p>大病差後勞復者○若有宿食者加大黃切如博棋子大五六枚</p>
<p>梔子大黃豉湯（即枳實梔子大黃湯也）</p>
<p>酒黃疸心中懊憹或熱痛（以上三方梔子大黃其分量雖稍異要之亦只一途之方也）</p>
<p>茵陳蒿湯　寒熱不食食即頭眩心胸不安久久發黃為谷疸</p>
<p>茵陳蒿（六兩）　梔子（十四枚）　大黃（二兩）</p>
<p>上三味以水一斗先煮茵陳減六升內二味煮取三升去滓分溫三服○陽明病發熱汗出此為熱越不能發黃也但頭汗出身無汗劑頸而還小便不利渴引水漿者此為瘀熱在裡身必發黃○傷寒七八日身黃如橘子色小便不利腹微滿者（上三章說具於系傳）</p>
<p>梔子蘗皮湯　傷寒身發黃者</p>
<p>梔子（一十五個）　甘草（一兩）　黃蘗（二兩）</p>
<p>上三味以水四升煮取一升半去滓分溫再服</p>
<p>梔子厚朴湯</p>
<p>梔子（十四枚）　厚朴（四兩）　枳實（四枚）</p>
<p>已上三味以水三升半煮取一升半去滓分二服溫進一服○傷寒下後心煩腹滿臥起不安者</p>
<p>大陷胸湯　心下滿而硬痛者（凡百雜病水結而硬痛者皆可用）</p>
<p>大黃（六兩）　芒硝（一升）　甘遂（一錢）</p>
<p>上三味以水六升先煮大黃取二升去滓內芒硝煮一兩沸內甘遂末溫服一升得快利止後服○太陽病「脈浮而動數浮則為風數則為熱動則為痛數則為虛」頭痛發熱微盜汗出而反惡寒者表未解也醫反下之「動數變遲」膈內拒痛胃中空虛客氣動膈短氣躁煩心中懊憹陽氣內陷心下因硬則為結胸大陷胸湯主之「若不結胸但頭汗出余處無汗劑頸自還小便不利身必發黃」○傷寒六七日結胸熱實脈沉而緊心下痛按之石硬者○傷寒十餘日熱結在裡復往來寒熱者與大柴胡湯但結胸無大熱者此為水結在胸脅也但頭微汗出者○太陽病重發汗而復下之不大便五六日舌上燥而渴日晡所少有潮熱從心下至少腹硬滿而痛不可近者（上四章說具於系傳）○方意（此方本盪滌心下滿而硬痛之毒蓋陷胸者傷寒外邪誤治後邪熱陷入胸膈結水塊之謂也仲景氏以此古方備結胸證故更命陷胸之名者乎）</p>
<p>小陷胸湯　寒實結胸無熱證者（寒實者言寒痰結滯於胸中心下也）</p>
<p>黃連（一兩）　半夏（半斤）　栝蔞實（大者一個）</p>
<p>上三味以水六升先煮栝蔞取三升去滓內諸藥煮取二升去滓分溫三服○小結胸病正在心下按之則痛脈浮滑者○千金方云治胸中心下結積飲食不消（方中有大黃甘草無半夏）</p>
<p>栝蔞薤白白酒湯　胸痹之病喘息咳唾胸肺痛短氣「寸口」脈沉而遲「關上小緊數」</p>
<p>栝蔞實（一枚）　薤白（半斤）　白酒（七合）</p>
<p>上三味同煮取二升分溫再服○胸痹不得臥心痛徹背者栝蔞薤白半夏湯主之（於本方加半夏半升）</p>
<p>大半夏湯　胃反嘔吐者</p>
<p>半夏（二升）　人參（三兩）　白蜜（一斤）</p>
<p>上三味以水一斗二升和蜜揚之二百四十遍煮取二升半溫服一升余分再服○千金方云胃反不受食食入則吐○外臺云治嘔心下痞硬者</p>
<p>小半夏湯　嘔家本渴「渴者為欲解」今反不渴心下有支飲故也○諸嘔吐谷不得下者（諸病嘔吐甚者不論寒熱虛實先與此方嘔吐定而後隨證冷之）</p>
<p>半夏（一升）　生薑（半斤）</p>
<p>上二味以水七升煮取一升半分溫再服</p>
<p>生薑半夏湯　病人胸中似喘不喘似嘔不嘔似噦不噦徹心中憒憒然無奈</p>
<p>半夏（半升）　生薑汁（一升）</p>
<p>上二味以水三升煮半夏取二升內生薑汁再煎取一升半少冷分四服日三夜一服嘔止停後服</p>
<p>小半夏加茯苓湯　卒嘔吐心下痞胸間有水眩悸者○先渴後嘔為水停心下「此屬飲家」</p>
<p>半夏（一升）　生薑（半斤）　茯苓（四兩）</p>
<p>上三味以水七升煮取一升五合分溫再服（小半夏湯以下三方水率至少或分四服者蓋令徐徐吃之以不至激嘔吐）○千金方云治逆氣心中煩悶氣滿嘔吐方中加桂心</p>
<p>半夏厚朴湯　婦人咽中如有炙臠</p>
<p>半夏（一升）　厚朴（三兩）　茯苓（四兩）　干蘇葉（二兩）　生薑（五兩）</p>
<p>上五味以水七升煮取四升分溫四服日三夜一○千金云胸滿心下堅咽中帖帖如有炙臠吐之不出吞之不下○易簡云治氣結成痰涎狀如破絮或如梅核在咽喉之間咯不出咽不下又云中脘痞滿氣不舒快或痰喘壅盛上氣喘急或痰飲中節嘔吐噁心</p>
<p>半夏瀉心湯　嘔而腸鳴心下痞硬者</p>
<p>半夏（半升）　黃芩　乾薑　人參（各三兩）　黃連（一兩）　大棗（十二枚）　甘草（三兩）</p>
<p>上七味以水一斗煮取六升去滓再煎取三升溫服一升日三服○傷寒五六日嘔而發熱者柴胡湯證具而以他藥下之柴胡證仍在者復與柴胡湯此雖已下之不為逆必蒸蒸而振卻發熱汗出解若心下滿而硬痛者此為結胸也大陷胸湯主之但滿而不痛者此為痞柴胡不中與之半夏瀉心湯主之（說具於系傳）○千金方云老少下利水穀不消腸中雷鳴心下痞滿乾嘔不安者</p>
<p>甘草瀉心湯（於半夏瀉心湯方加倍甘草二兩）</p>
<p>傷寒中風醫反下之其人下利日數十行穀不化腹中雷鳴心下痞硬而滿乾嘔心煩不得安（說具於系傳）○外臺云婦人霍亂嘔逆吐涎醫反下之心下痞當先治其涎沫可服小青龍湯次治其痞可與此方</p>
<p>生薑瀉心湯（於半夏瀉心湯方減乾薑二兩加生薑四兩）</p>
<p>傷寒汗出解之後胃中不和心下痞硬幹噫食臭脅下有水氣腹中雷鳴下利者○方意（半夏瀉心湯主治心下郁痞方之正也仲景氏活用之傷寒汗下後變證此乃奇也世有區別三瀉心湯配之氣血水而作之說者穿鑿之甚也仲景氏之於三瀉心湯也無它但半夏瀉心湯證而乾嘔下利者加生薑心煩不得安者加倍甘草爾）</p>
<p>吳茱萸湯　乾嘔吐涎沫頭痛者○嘔而胸滿者</p>
<p>吳茱萸（一升）　人參（三兩）　生薑（六兩）　大棗（十二枚）</p>
<p>上四味以水七升煮取二升去滓溫服七合日三服○食谷欲嘔者「屬陽明也」吳茱萸湯主之「得湯劇者屬上焦也」○少陰病吐利手足厥冷煩躁欲死者（上二章說具於系傳）○外臺云療食訖醋咽多噫○肘後方云治噫醋及醋心○東垣曰濁陰不下厥氣上逆咽膈不通膈塞氣不得上下○千金云治久寒胸脅逆滿不能食方中加甘草小麥桂心半夏又云治胸中積冷心嘈煩滿汪汪不下飲食心胸應背痛方中有半夏桂心甘草</p>
<p>厚朴生薑甘草半夏人參湯</p>
<p>厚朴（半斤）　生薑（半斤）　人參（一兩）　半夏（半升）　甘草（二兩）</p>
<p>上五味以水一斗煮取三升去滓溫服一升日三服○發汗後腹脹滿者（說具於系傳）</p>
<p>黃連湯　傷寒胸中有熱胃中有邪氣腹中痛欲嘔吐者</p>
<p>黃連　甘草　乾薑　桂枝（各三兩）　人參（二兩）　半夏（半升）　大棗（十二枚）</p>
<p>上七味以水一斗煮取六升去滓溫服一升日三服夜三服○方意（此方於半夏瀉心湯方去黃芩加桂枝而其方意大異黃連分量二倍於半夏瀉心湯說具於系傳）</p>
<p>乾薑黃連黃芩人參湯　治胃虛客熱痞滿（上出玉函假以示正）</p>
<p>乾薑　黃連　黃芩　人參（各二兩）</p>
<p>上四味以水六升煮取二升去滓分溫再服○傷寒本自寒下醫復吐下之寒格更逆吐下若食入口即吐○試效（心中煩悸及心下痞硬而乾嘔下利者）</p>
<p>大建中湯　心胸中大寒痛嘔不能飲食腹中寒上衝皮起出見有頭足上下痛而不可觸近</p>
<p>蜀椒（二分）　乾薑（二兩）　人參（二兩）</p>
<p>上三味以水四升煮取二升去滓內膠飴一升微火煎取一升半分溫再服</p>
<p>黃連阿膠湯　少陰病得之二三日以上心中煩不得臥（說具於系傳）</p>
<p>黃連（四兩）　黃芩（一兩）　芍藥（二兩）　阿膠（三兩）　雞子黃（二枚）</p>
<p>上五味以水五升先煮二物取二升去滓內膠烊盡少冷內雞子黃攪令相得服七合日三服</p>
<p>黃芩湯　治泄利腹痛或後重身熱久不愈脈洪疾及下利膿血稠黏（拔莁）</p>
<p>黃芩（三兩）　甘草（二兩）　芍藥（二兩）　大棗（十二枚）</p>
<p>上四味以水一斗煮取三升去滓溫服一升日再夜一服○「太陽與少陽合病」自下利者與黃芩湯若嘔者黃芩加半夏生薑湯主之（於本方加半夏半斤生薑三兩○說具於系傳）</p>
<p>白頭翁湯　下利慾飲水者以有熱故也○熱利下重者</p>
<p>白頭翁（二兩）　黃連　黃蘗　秦皮（各三兩）</p>
<p>上四味以水七升煮取二升去滓溫服一升不愈更服一升○產後下利虛極心煩不得眠白頭翁加甘草阿膠（各二兩）湯主之（煎法以水七升煮取二升半內膠消盡分溫三服）○明醫指掌曰協熱自利身熱脈數小便赤澀</p>
<p>木防己湯　胸間支飲其人喘滿心下痞堅面色黧黑其脈沉緊得之數十日醫吐下之不愈木防己湯主之虛者即愈（吐下之後病勢脫而精氣虛者與此方則愈）實者三日復發復與不愈者宜木防己去石膏加茯苓芒硝湯主之</p>
<p>木防己（三兩）　石膏（雞子大）　桂枝（二兩）　人參（四兩）</p>
<p>上四味以水六升煮取二升分溫再服○木防己去石膏加茯苓芒硝湯（於本方內去石膏加茯苓四兩芒硝三合以水六升煮取二升去滓內芒硝再煎分溫再服）</p>
<p>防己茯苓湯　皮水為病四肢腫水氣在皮膚中聶聶動者</p>
<p>防己（三兩）　黃蓍（三兩）　桂枝（三兩）　茯苓（六兩）　甘草（二兩）</p>
<p>上五味以水六升煮取一升分溫三服</p>
<p>枳朮湯　心下堅大如盤邊如旋杯水飲所作</p>
<p>枳實（七枚）　術（二兩）</p>
<p>上三味以水五升煮取三升分溫三服</p>
<p>桂枝枳實生薑湯　心中痞諸逆心懸痛</p>
<p>桂枝　生薑（各三兩）　枳實（五枚）</p>
<p>上三味以水六升煮取三升分溫三服</p>
<p>枳實薤白桂枝湯　胸痹心中痞留氣結在胸胸滿胸下逆搶心</p>
<p>枳實（四枚）　厚朴（四枚）　薤白（斤半）　桂枝（一兩）　栝蔞實（二枚）</p>
<p>上五味以水五升先煮枳實厚朴取二升去滓內諸藥煮數沸分溫三服</p>
<p>橘皮枳實生薑湯　胸痹氣塞短氣茯苓杏仁甘草湯主之枳實橘薑湯亦主之</p>
<p>橘皮（一斤）　枳實（三兩）　生薑（半斤）</p>
<p>上三味以水五升煮取二升分溫再服○肘後方云胸痹胸中幅幅如滿噎塞習習如癢喉中澀唾燥沫</p>
<p>橘皮竹茹湯　噦逆者</p>
<p>橘皮（二斤）　竹茹（一斤）　大棗（三十枚）　生薑（半斤）　甘草（五兩）　人參（一兩）</p>
<p>上六味以水一斗煮取三升溫服一升日三服○醫通雲手足厥冷乾嘔及噦而煩滿者</p>
<p>橘皮湯　乾嘔噦手足厥者</p>
<p>橘皮（四兩）　生薑（半斤）</p>
<p>上二味以水七升煮取三升溫服一升</p>
<p>竹葉石膏湯</p>
<p>竹葉（二把）　石膏（一斤）　半夏（半升）　人參（三兩）　甘草（二兩）　粳米（半斤）　麥門冬（一升）</p>
<p>上七味以水一斗煮取六升去滓內粳米煮米熟湯成去滓溫服一升日三服○大病差後虛羸少氣氣逆欲吐者（說具於系傳）○千金云發汗後表裡虛煩不可攻者○經驗云小兒傷寒久不除瘥後復劇瘦瘠骨立者又云骨蒸唇乾口燥欲得飲水者○丹溪曰伏暑內外發熱煩躁大渴又曰傷寒時氣表裡俱虛遍身發熱心胸煩悶得汗已解內無津液虛羸少氣欲吐及諸虛煩熱與寒相似但不惡寒身不疼頭不痛不可汗下者○醫通云衄血而渴欲飲水水入即吐者先服五苓散次用此方又云差後虛煩不得眠○本草綱目雲石膏主治心下逆氣狂喘口乾舌焦不能息又云骨蒸勞病外寒內熱附骨而蒸也其根在五臟六腑中必因患後得之骨肉日消飲食無味或皮燥而無光蒸盛之時四肢漸細足趺腫氣云云</p>
<p>芎歸膠艾湯　婦人有漏下者有半產後因續下血者不絕都有妊娠下血者假令妊娠腹中痛為胞疽</p>
<p>芎藭　阿膠（各二兩）　甘草（二兩）　艾葉　當歸（各三兩）　芍藥（四兩）　乾地黃（六兩）</p>
<p>上七味以水五升清酒五合煮取三升去滓內膠令消盡溫服一升日三服○外臺云療頓僕失路胎動不安腹痛又治陷經下血孕婦胎漏不止○經驗云小產下血不止者○和劑云治勞傷血氣衝任虛損月水過多淋瀝不斷及妊娠調攝失宜胎氣不安或因損動漏血傷胎並宜服之</p>
<p>旋覆花代赭石湯</p>
<p>旋覆花（三兩）　人參（二兩）　生薑（五兩）　半夏（半升）　代赭石（一兩）　大棗（十枚）　甘草（三兩）</p>
<p>上七味以水一斗煮取六升去滓再煎取三升溫服日三服○傷寒發汗若吐若下解後心下痞硬噫氣不除者○經驗云治妊娠阻病心中煩悶虛煩吐逆惡聞食臭者</p>
<p>赤石脂禹餘糧湯</p>
<p>赤石脂（一斤）　禹餘糧（一斤）</p>
<p>已上二味以水六升煮取二升去滓三服○傷寒服湯藥下之下利不止心下痞硬服瀉心湯「已復以他藥下之」利不止醫以理中與之利益甚理中者理中焦此利在下焦</p>
<p>桃花湯　下利便膿血者</p>
<p>赤石脂（一斤）　乾薑（一兩）　粳末（一升）</p>
<p>上三味以水七升煮米令熟去滓內赤石脂末方寸匕溫服七合日三服○少陰病二三日至四五日腹痛小便不利下利不止便膿血者（說具於系傳）○方意（此方及赤石脂禹餘糧湯皆主止澀裡虛而下利漏泄者）</p>
<p>酸棗仁湯　虛勞虛煩不得眠</p>
<p>酸棗仁（二升）　甘草（一兩）　知母（二兩）　茯苓（二兩）　芎藭（二兩）</p>
<p>上五味以水八升煮酸棗仁得六升內諸藥煮取三升分溫三服○千金云治虛勞煩擾奔氣在胸中不得眠者方中有人參桂心生薑無芎藭</p>
<p>黃土湯　下血先便後血此遠血也○主治吐血衄血</p>
<p>乾地黃　甘草　術　附子　阿膠　黃芩（各三兩）　灶中黃土（半斤）</p>
<p>上七味以水八升煮取三升分溫二服</p>
<p>桂枝芍藥知母湯　諸肢節疼痛身體尫羸腳腫如脫頭眩短氣溫溫欲吐</p>
<p>桂枝　知母　防風（各四兩）　芍藥（三兩）　甘草　麻黃（各二兩）　生薑　白朮（各五兩）　附子（二枚）</p>
<p>上九味以水七升煮取二升溫服七合日三服</p>
<p>升麻鱉甲湯　陽毒之為病面赤斑斑如錦文咽喉痛唾膿血</p>
<p>升麻　甘草（各二兩）　當歸（一兩）　蜀椒（一兩）　雄黃（半兩）　鱉甲（手掌大一片）</p>
<p>上六味以水四升煮取一升頓服之○陰毒之為病面目赤身痛如被杖咽喉痛升麻鱉甲去雄黃蜀椒主之</p>
<p>射干麻黃湯　咳而上氣喉中水雞聲</p>
<p>射干（三兩）　麻黃（四兩）　生薑（四兩）　細辛　紫苑　款冬花（各三兩）　五味子（半斤）　大棗（七枚）　半夏（半斤）</p>
<p>上九味以水一斗二升先煮麻黃兩沸去上沫內諸藥煮取三升分溫三服○千金云小兒咳逆喘息如水雞聲方中無五味細辛款冬方後雲水煎去滓內蜜五合一沸溫服</p>
<p>厚朴麻黃湯　咳而脈浮者</p>
<p>厚朴（五兩）　麻黃（四兩）　石膏（雞子大）　杏仁（半升）　細辛（二兩）　小麥（一斤）　五味子（半斤）　半夏（半升）　乾薑（二兩）</p>
<p>上九味以水一斗二升先煮小麥熟去滓內諸藥煮取三升溫服一升日三服○千金云大逆上氣胸滿喉中不利如水雞聲其脈浮者</p>
<p>葦莖湯　治咳有微熱煩滿胸中甲錯是為肺癰</p>
<p>葦莖（二斤）　薏苡仁（半升）　桃仁（五十枚）　瓜瓣（半升）</p>
<p>上四味以水一斗先煮葦莖得五升去滓內諸藥煮取二升服一升再服當吐如膿</p>
<p>炙甘草湯　治虛勞不足汗出而悶脈結悸行動如常（不出一百日危）（千金翼）</p>
<p>甘草（四兩）　桂枝　生薑（各三兩）　麻仁（半斤）　麥門冬（半斤）　人參　阿臍（各二兩）　大棗（十二枚）　生地黃（一斤）</p>
<p>上九味以酒七升水八升先煮八味取三升去滓內膠消盡溫服一升日三服○傷寒脈結代心動悸者</p>
<p>十棗湯　病懸飲者○咳家其脈弦緊為有水</p>
<p>芫花　甘遂　大戟（各等分）</p>
<p>上三味等分各別搗為散以水一升半先煮大棗肥者十枚取八分去滓內藥末服一錢匕○太陽中風下利嘔逆表解者乃可攻也其人漐漐汗出發作有時頭痛心下痞硬滿引脅下痛乾嘔短氣汗出不惡寒者「此表解里未和也」（說具於系傳）○千金云夫有支飲家咳煩胸中痛者不卒死至一百日一歲可與十棗湯又云咳而引胸下痛者又云懸飲者若下後不可與也凡上氣汗出而咳者為飲○外臺云療久病澼飲停痰不消在膈上液液時頭眩痛苦攣眼睛身體手足十指甲盡黃又療胸下支滿飲輒引胸下痛○三因方雲水腫喘急小便不通○李時珍云支飲令人咳唾引欽盆兩脅伏飲令人胸滿嘔吐寒熱眩暈痰飲令人腹鳴吐水胸脅支滿或作泄瀉忽肥忽瘦溢飲令人沉重注痛或作水氣跗腫蕪花大戟甘遂之性逐水泄濕能直達水飲窠囊隱僻之處但可徐徐用之取效甚捷○丹溪曰兼下水腫腹脹並酒食積腸垢積滯痃癖堅積蓄熱暴痛瘧氣久不已或表之正氣與邪熱並甚於里極熱似陰反寒戰表氣入里陽極深脈微而絕並風熱躁甚結於下焦大小便不通實熱腰痛又曰小兒熱結乳癖積熱作發驚風潮搐云云</p>
<p>走馬湯　中惡心痛腹脹大便不通</p>
<p>巴豆（二枚）　杏仁（二枚）</p>
<p>上二味以綿纏捶令研熱湯二合捻取白汁飲之當下老少量之通治飛屍鬼擊病○外臺云卒得諸疝少腹及陰中相引絞痛自汗出欲死此名寒疝亦名陰疝走馬湯主之</p>

<h3>附方</h3>
<p>茯苓飲（外臺）　治心胸中有停痰宿水自吐出水後心胸間虛氣滿不能食消痰氣令能食</p>
<p>茯苓（三兩）　人參（三兩）　蒼朮（三兩）　枳實（二兩）　橘皮（二兩半）　生薑（四兩）</p>
<p>上六味以水六升煮取一升八合分溫三服</p>
<p>延年茯苓飲（千金作茯神散）　療心虛不得眠多不食</p>
<p>茯苓（一錢二分）　人參（五分）　甘草（二分）　生薑（五分）　橘皮（六分）　酸棗仁（八分）</p>
<p>上六味水煎溫服</p>
<p>溫膽湯（千金）　治大病後虛煩不得眠此寒膽也○心膽怯弱怔忡易驚者</p>
<p>半夏　竹茹　枳實（各二錢）　生薑（四錢）　陳皮（三錢）　甘草（一錢）</p>
<p>上水煎溫服○丹溪曰病後血氣未復精神未全多於夢寐中不覺失聲如魘此不繫譫語鄭聲宜溫膽湯○易簡云心膽虛怯觸事易驚膽懾氣鬱生涎涎與氣變諸證或短氣悸乏或復自汗或四肢浮腫飲食無味心虛煩悶坐臥不安者悉主之又大治傷寒後虛煩及一切病後虛煩夜睡不安者並宜用之</p>
<p>六物黃芩湯（外臺）　乾嘔下利（心下痞硬不能飲食者）</p>
<p>黃芩　人參（各三兩）　乾薑（三兩）　桂枝（一兩）　大棗（十二枚）　半夏（半斤）</p>
<p>上六味以水七升煮取三升分溫三服</p>
<p>黃連解毒湯（外臺）　崔氏曰前將軍督護劉車者得時疫三日已汗解因飲酒劇苦煩悶乾嘔口燥呻吟錯語不得臥余思作此方</p>
<p>黃連（八分）　黃芩（五分）　黃柏（三分）　山梔子（四分）</p>
<p>上四味水煎溫服○仲文仲云療天行若已五六日不解頭痛壯熱四肢煩疼不得飲食方中有大黃無黃芩名大黃湯○集驗云治小便淋瀝出血疼痛難忍○明醫指掌云治三焦實火內外皆熱煩渴溲赤口舌生瘡便秘脈數者○醫通云治濕熱邪毒內盛而利不止者○宣明方云治傷寒雜病熱毒煩躁乾嘔口渴喘滿陽厥極深蓄熱內甚世俗妄傳為陰毒者及汗吐下後寒涼諸藥不能退其熱勢者或加柴胡連翹○外科正宗云療疔毒入心內熱口乾煩悶恍惚脈實者加惡實連翹甘草</p>
<p>五蒸湯（外臺）　療虛勞骨蒸五心煩熱手足煩疼口乾唇燥者</p>
<p>茯苓（三兩）　人參（二兩）　竹葉（二兩）　石膏（半斤）　粳米（四合）　知母（一兩）　黃芩（一兩）　甘草（二兩）　地黃（三兩）</p>
<p>上九味以水八升煮米熟湯成去滓分三服</p>
<p>溫脾湯（外臺）　脾胃中冷結實頭痛壯熱但苦下利或冷滯赤白如魚腦又云治下久赤白連年不止及霍亂脾胃冷實不消</p>
<p>大黃（四兩）　人參　甘草　乾薑（各一兩）　附子（一枚）</p>
<p>上五味以水七升煮取三升分溫三服○玉函云下利至隔年日月不期而發者此為有積宜下之止用溫脾湯尤佳如難取者可佐乾薑圓（壽曰即備急圓）○本事方云治冷痛在腸胃間連年腹痛泄瀉休作無時服諸熱藥不效宜先取去而調易差不可恐虛以養病也○方意（人參附子乾薑甘草鼓舞運動冷結積滯之毒大黃泄之蓋溫字宜作運字看）</p>
<p>檳榔湯（外臺）　治腳氣心頭冷硬結通下氣</p>
<p>檳榔（六兩）　木香（二兩）　橘皮（二兩）　枳實　甘草　生薑（各二兩）　大黃（三兩）</p>
<p>上七味以水六升煮取三升日三夜一服</p>
<p>唐侍中檳榔湯（外臺）　療腫滿小便少者又曰療苦腳氣攻心此方散腫氣極驗</p>
<p>檳榔（二錢二分）　生薑（六分）　橘皮（五分）　吳茱萸（四分）　木瓜（四分）　紫蘇（三分）</p>
<p>上六味水煎溫服○衛生良劑方云療風濕毒氣中於足經遂為腳氣下注兩腳腫脹疼痛履地不得及內攻心腹手足脈絕悶亂煩躁不得息極有神效性全萬安方</p>
<p>烏頭檳榔湯（外臺）</p>
<p>烏頭（六兩）　桑白（一錢）　檳榔（一錢）　商陸（三錢）　大黃（六分）　生薑（七分）</p>
<p>上六味以水三合先煮烏頭減一合去滓內諸藥煮取一合去滓服○方意（此方運動水毒以泄之尿道烏頭再煎者蓋取緩其剛悍之性以親著病毒也）</p>
<p>黑豆湯（外臺）　治腳氣衝心周身洪腫者</p>
<p>黑豆（八錢）　桑白皮（一錢半）　郁李仁（一錢）　檳榔（一錢半）</p>
<p>上四味以水四合先煮黑豆減二合去滓內諸藥煮取一合○發明（壽曰世醫以桃花營實之類下水毒雖其應如響徒瀉浮水爾故不日後聚特郁李仁能破腸中結氣取盡水毒拔病根神驗無類）</p>
<p>犀角吳茱萸湯（外臺）　治腳氣冷毒心下堅背縛痛上氣欲死效能破毒氣</p>
<p>吳茱萸（六分）　檳榔（一錢二分）　木香（三分）　犀角（五分）　半夏（六分）　生薑（七分）</p>
<p>上六味水煎服</p>
<p>續命湯（古今錄驗）　治中風痹身體不能自收口不能言冒昧不知痛處或拘急不得轉側又治但伏不得臥咳逆上氣面目浮腫</p>
<p>麻黃　桂枝　當歸　人參　甘草　芎藭　石膏（各一兩）　乾薑（三兩）　杏仁（三十枚）</p>
<p>上九味以水一斗煮取四升溫服一升○外臺云深師大續命湯療毒風賊風身體不能自收咽中卒不得語若拘急腰痛目眩反張恍愧恐惶上氣嘔逆面腫方中有黃芩無人參又云生治手足攣急及不隨又療中風四肢壯熱如火攣急或縱不隨氣衝胸中方中有黃芩芍藥防風名大續命湯○千金方增損續命湯條云治小兒卒中風惡毒及久風四肢角弓反張不隨並軃𤵺癖不能行步又西州續命湯條云治肉極虛熱肌膚淫淫如鼠走身上津液開泄或痹不仁四肢急痛</p>
<p>小續命湯（千金）　治卒中風身體緩急口目不正舌強不語神情奄忽悶亂又治腳弱又有疹家天陰節變服之防暗風</p>
<p>麻黃　防己　人參　黃芩　桂枝　芍藥　甘草　芎藭　杏仁（各二兩）　防風（一兩半）　附子（一枚）　生薑（五兩）</p>
<p>上十二味以水一斗煮取四升溫服一升</p>
<p>三物黃芩湯（千金）　婦人在草褥自發露得風四肢苦煩熱頭痛者與小柴胡湯頭不痛但煩者</p>
<p>黃芩（一兩）　苦參（二兩）　乾地黃（四兩）</p>
<p>上三味以水六升煮取二升溫服一升</p>
<p>三黃湯（千金）　治中風手足拘急百節疼痛煩熱心亂惡寒經日不欲飲食</p>
<p>麻黃（五錢）　獨活（四錢）　細辛（二錢）　黃蓍（二錢）　黃芩（三錢）</p>
<p>上五味以水六升煮取二升分溫三服</p>
<p>木茱湯（千金）　治腳氣入腹困悶欲死腹脹○治腳氣上衝心悶亂不知人事手足脈絕又毒氣攻心手足脈絕此難濟不得止作此湯十愈七八</p>
<p>吳茱萸（一錢半）　木瓜（一錢二分）</p>
<p>上二味以水二合煮取八分（一方加青木香犀角）</p>
<p>三和散（和劑）　背胸痛妨食及腳氣上攻胸腹滿悶不大便者</p>
<p>羌活　紫蘇　沉香（各一錢）　木瓜　芎藭　大腹皮　白朮　橘皮　木香　檳榔（各八分）　甘草（二分）　生薑（一錢）</p>
<p>上十二味水煎服○直指云治水蠱氣脹腹腫腎腫面浮○局方云治三焦不和心腹痞悶大便秘難及腳氣上攻腹脹○試效（諸疝胸腹刺痛者去白朮川芎羌活加大黃其驗如神）</p>
<p>涼膈散（局方）　治大人小兒臟腑積熱煩躁多渴面熱頭昏唇焦咽燥口舌腫閉目赤鼻衄頷頰結硬口舌生瘡痰實不利涕唾稠黏睡臥不寧譫語狂妄腸胃燥澀便溺秘結一切風壅並宜服之</p>
<p>大黃（一錢）　連翹　梔子（各三分）　薄荷　黃芩（各四分）　甘草（二分）　芒硝（六分或八分）</p>
<p>上七味以水二合煮取一合去滓內芒硝上微火一二沸空心頓服○正宗云濕熱上攻致牙根腮項作腫多痛○試效（風蟲牙痛常出血至崩落口臭者又走馬疳齒齦腐蝕或出血牙齒欲落者）</p>
<p>升麻散（聖濟）　治傷寒一日便成陽毒或服藥發汗吐下之後毒氣不解身重背強煩躁狂言或走或見鬼神面赤斑斑狀如錦文咽喉痛及下膿血</p>
<p>升麻（一錢）　當歸（五分）　黃芩（四分）　犀角（三分或五分）　射干（四分）　黃連（三分）　甘草（二分）　地骨皮（三分）</p>
<p>上八味以水二合煮取一合頓服○試效（熱病中後吐血衄血下血及咽喉腫痛者照證服之）</p>
<p>犀角地黃湯（千金）　治傷寒溫病應發汗而不得汗內蓄瘀血及鼻衄吐血不盡內余瘀血大便血面黃或中脘作痛</p>
<p>犀角（五分）　地黃（一錢半）　芍藥（八分）　牡丹皮（六分或加當歸川芎）</p>
<p>上四味以水二合煮取八勺</p>
<p>逍遙散（局方）　治血虛勞健五心煩熱肢體疼痛頭目昏重心怯頰赤口乾咽燥發熱盜汗寒熱如瘧又療室女血弱榮衛不和痰嗽潮熱肌體羸瘦漸成骨蒸</p>
<p>茯苓（一錢）　白朮（六分）　當歸（六分）　芍藥（八分）　柴胡（一錢）　甘草（二分）</p>
<p>上六味以水二合煎取一合頓服○正宗云治減食嗜臥及血熱相搏月水不調臍腹脹滿加牡丹皮山梔子名加味逍遙散○婦人良方云治肝脾血虛有熱遍身搔扒或口乾咽燥發熱盜汗食少嗜臥小便澀滯等證又治瘰癧流注虛熱等證</p>
<p>浮萍湯（儒門事親）　治諸風癬疥癩病</p>
<p>浮萍（八分）　荊芥（四分）　麻黃（六分）　川芎（四分）　甘草（二分或加防風大黃）</p>
<p>上五味以水二合煮取一合頓服○經驗云治小兒病風瘙癢痛如疥搔之汁出偏身㾦癗如麻豆者</p>
<p>透膿湯（正宗）　治癰疽諸毒膿已成不穿破者</p>
<p>黃蓍（一錢）　穿山甲（五分）　當歸（七分）　皂角刺（八分）　川芎（五分）</p>
<p>上五味以水二合煮取一合頓服</p>
<p>搜風解毒湯（本草綱目）　治楊梅瘡不犯輕粉病深者月餘淺者半月即愈服輕粉藥筋骨痛癱瘓不能動履服之亦效</p>
<p>土茯苓（四錢）　薏苡仁　金銀花　防風　木瓜　木通　白蘚皮（各五分）　皂莢子（四分）</p>
<p>上八味以水三合煮取一合半○外科纂要云治男婦一切下疳疰疳蝕疳內疳外疳爛疳無有不效下疳日久不瘥必生楊梅瘡此方預服可使不起已發可使速愈雖是結毒並歷神效</p>
<p>赤小豆湯（東洋出脅氏制方見於漫遊雜記）　主治諸毒內攻腫滿者</p>
<p>赤小豆（五錢）　商陸（二錢）　大黃（六分）　麻黃（八分）　連翹（四分）　木通（六分）　豬苓（六分）　反鼻（三分）　雞舌（二分）</p>
<p>上九味以水三合先煮赤小豆減一合去滓內諸藥煮取一合○方意（赤小豆商陸木通皆利水之藥佐之以麻黃雞舌反鼻者強通竅之力也其以大黃者厚通利之勢也此方之所發動運輸陷結之毒以奏神效也不知者乃曰此方且發且利且瀉一舉三得之良劑者妄也蓋此證毒內攻而結水氣水氣浸毒毒淫水氣於是乎毒與水混合皆毒豈有以此一方除之於三途之理哉）</p>
<p>琥珀湯（同上）　治產後水腫或諸毒內攻生腫</p>
<p>琥珀（一錢半）　雞舌（二分）　反鼻（三分）　大黃（六分）　豬苓（六分）　木通（六分）　商陸（二錢）</p>
<p>上七味以水二盞煮取一盞</p>
<p>赤小豆煎　腳氣疝脹產後腫滿水腫脹滿不論虛實吃之皆有驗實濟世奇劑</p>
<p>芫花　大戟（各八分）　桑白皮（一錢）　葶藶子（一錢二分）　商陸（二十錢）　生薑（五錢）　赤小豆（一合）</p>
<p>上七味以水八合先煮六物取四合三勺去滓內赤小豆更煮合熟一日一夜吃盡○禁忌千金方云喪孝產乳音樂喧戲並一切魚肉生冷醋滑蒜黏食米豆油並須戒忌三年慎之永不復發不爾者雖愈必復發不可更治也○余友橘春庵（阿波勝瑞村人）善醫特善治腫滿起死回生歲以百數余所親耳目也乃懇請受其奇方乃赤小豆煎也後周遊四方過尾州名古屋時一男子患腫滿命懸旦夕諸醫袖手余欲與往昔所受於橘氏之方以救之失其方書蓋為人所奪也深以為憾苦思終日遂作此方與之十有餘日病脫然復故爾後活幾十人皆用此方凡病水腫者吃之如法則無不有神效者若不可起者則必不能吃之也文化某年餘歸舊里偶會春庵言及此話質以此方則與其所傳大同小異後數旬書報曰以兄方試諸數十人十舉十全比之舊方效最速矣</p>
<p>抵當丸　婦人經水不利</p>
<p>水蛭（二十個）　虻蟲（二十五個）　桃仁（二十個）　大黃（三兩）</p>
<p>上四味杵分為四丸○傷寒有熱少腹滿應小便不利今反利者為有血也當下之不可余藥（壽曰抵當湯證而緩者主之本有煎法今不取）</p>
<p>大陷胸丸　結胸者項亦強如柔痙狀下之則和（說具於系傳）</p>
<p>大黃（半斤）　葶藶（半升）　芒硝（半斤）　杏仁（半升）</p>
<p>上四味搗篩二味內杏仁芒硝合研如脂和散取如彈丸一枚別搗甘遂末一錢匕煉蜜丸</p>
<p>麻子仁丸　大便堅其脾為約</p>
<p>麻子仁（二升）　芍藥（半斤）　枳實（一斤）　大黃（一斤）　厚朴（一尺）　杏仁（一升）</p>
<p>上六味末之煉蜜和丸梧子大飲服十丸日三○試效（腸胃枯燥大便不通者）</p>
<p>八味丸　腳氣上入少腹不仁○虛勞腰痛少腹拘急小便不利者○夫短氣有微飲當從小便去之苓桂朮甘湯主之腎氣丸亦主之○男子消渴小便不利以飲一斗小便一斗○婦人病飲食如故煩熱不得臥而反倚息者何也曰此名轉胞不得溺也以胞系了戾故致此病但利小便則愈</p>
<p>乾地黃（八分）　山茱萸　薯蕷（各四兩）　澤瀉　茯苓（各三兩）　牡丹皮（三兩）　桂枝　附子（各一兩）</p>
<p>上八味末之煉蜜和丸梧子大酒下十五丸日再服○千金方云治虛不足大渴欲飲水腰痛小腹拘急小便不利又云腎氣不足羸瘦日劇吸吸少氣體重耳聾目暗百病（方中有半夏無附子山茱萸）</p>
<p>栝蔞瞿麥丸　小便不利者有水氣其人苦渴</p>
<p>栝蔞根（二兩）　茯苓　薯蕷（各三兩）　附子（一枚）　瞿麥（一兩）</p>
<p>上五味末之煉蜜丸梧子大飲服三丸日三服</p>
<p>赤丸　寒氣厥逆</p>
<p>茯苓（四兩）　半夏（四兩一方用桂）　烏頭（二兩）　細辛（一兩）</p>
<p>上四味末之內真朱為色煉蜜丸如麻子大先食酒飲下三丸日再夜一服（心胸滿微痛或吐水飲或寒疝胸腹痛者皆主之）</p>
<p>乾薑人參半夏丸　妊娠嘔吐不止（惡阻不入水藥者）</p>
<p>乾薑　人參（各一兩）　半夏（二兩）</p>
<p>上三味末之以生薑汁糊為丸如梧子大飲服十丸日三服</p>
<p>桂枝茯苓丸　婦人宿有症病經斷未及三月而得漏下不止胎動在臍上者為症痼害妊娠六月動者前三月經水利時胎下血者後斷三月不血也所以血不止者其症不去故也當下其症</p>
<p>桂枝　牡丹皮　茯苓　桃仁　芍藥（各等分）</p>
<p>上五味末之煉蜜和丸如兔屎大每日食前服一丸不知加至三丸○大全良方云專療婦人小產下血至多子死腹中其人憎寒手指唇爪甲青白麵色黃黑或胎上搶心則悶絕欲死冷汗自汗喘滿不食或食毒物胎尚未投服之可安已死服之可下○萬病回春云候產母腹痛腰痛見漿水下服方○經驗云小產瘀血心腹疼痛而發熱惡寒者以上三條皆為湯液用焉（按曰子死腹中曰胎上衝心曰腹痛腰痛曰當下其症皆當加大黃）</p>
<p>大黃䗪蟲丸　五勞虛極羸瘦腹滿不能飲食食傷憂傷飲傷房室傷飢傷勞傷經絡榮衛氣傷內有乾血肌膚甲錯面目黠黑緩中補虛</p>
<p>大黃（十分蒸）　黃芩（二兩）　甘草（三兩）　桃仁（一升）　杏仁（一升）　乾地黃（十兩）　芍藥（四兩）　乾漆（一兩）　虻蟲（一升）　水蛭（百枚）　蠐螬（一升）　䗪蟲（半升）</p>
<p>上十二味末之煉蜜丸小豆大酒服五丸日三服○（壽曰藥品多味恐非古意不如以桃仁大黃乾漆水蛭虻蟲䗪蟲六味末之蜜丸酒服取效之速也又曰所謂緩中補虛者言去幹血則腹中緩舒氣血精液漸復也）</p>
<p>己椒藶黃丸　腹滿口舌乾燥此腸間有水氣</p>
<p>防己　椒目　葶藶　大黃（各一兩）</p>
<p>上四味末之蜜丸如梧子大先食飲服一丸日三服稍增口中有津液渴者加芒硝半兩</p>
<p>備急圓　主心腹諸卒暴百病若中惡客忤心腹滿卒如錐刺氣急口禁停死卒死者</p>
<p>大黃（一兩）　乾薑（一兩）　巴豆（一兩）</p>
<p>上藥各須精新先搗大黃乾薑為末研巴豆內中合治一千杵用為散蜜和丸亦佳密器中貯之莫令歇氣○用法以暖水若酒服大豆許三四丸或不下捧頭起灌令下咽須臾當差如未差更與三丸當腹中鳴即吐下便差若口禁亦須折齒灌之○外臺云乾霍亂大小便不通煩冤欲死又云乾霍亂腹脹滿攪刺疼痛煩悶不可忍手足逆冷甚者流汗如水大小便不通求吐不出求下不下須臾不救便有性命之慮急與云云○錄驗云療人卒上氣呼吸氣不得下喘逆差後已為常用○肘後云治大熱行極及食熱餅竟飲冷水過多衝咽不即消仍以發氣腸內一切卒暴百病○醫通云下利差後至其年月復發者○得效方云妊婦熱而大便秘脈實死胎不知人溫水下七丸即活○宋王碩曰巴豆治垂死之病藥至病差其效如神真衛生代病之妙劑參朮雖號為善良卻能為害每見尊貴之人服藥只參朮平穩而於有瞑眩之功者不敢輒服醫雖知其當用亦深慮其相信之不篤稍有變證恐歸咎於己姑以參朮等藥迎合其意倘有不虞亦得以藉口而不知養病喪身莫不由此○方意（心痛大便秘或手足厥冷六脈沉伏者及赤白痢疾臍腹㽲痛多由腸胃間積滯之所致先以此丸下之又主噁心嘔吐不納食物而大便閉者又治痃癖奔豚腳氣攻刺入腹者）</p>
<p>礬石丸　婦人經水閉不利藏堅僻不止中有乾血下白物</p>
<p>礬石（三分）　杏仁（一分）</p>
<p>上二味末之煉蜜和丸棗核大內藏中劇者再內之</p>
<p>歸母苦參丸　妊娠小便難飲食如故</p>
<p>當歸　貝母　苦參（各四兩）</p>
<p>上二味末之煉蜜和丸如小豆大飲服三丸加至十丸</p>
<p>紫圓（千金）　治小兒身熱頭痛飲食不消小兒無異疾唯飲食過度不知止哺乳失節或驚悸寒熱又云紫圓無所不療雖下不虛人又云小兒變蒸發熱不解並挾傷寒濕熱汗後熱不歇及腹中有痰癖哺乳不進乳則吐哯食癇先寒後熱又云食癇當下乃愈</p>
<p>巴豆（三錢）　代赭石　赤石脂（各二錢半）　杏仁（四錢半）</p>
<p>上先搗代赭石赤石脂為末研巴豆杏仁內中合治糊丸○千金方芒硝紫圓條云治小兒宿食癖氣痰飲往來寒熱不欲食消瘦者又雙紫圓條云夜啼不眠是腹內不調又順流紫圓條云治心腹積聚兩脅脹滿留飲痰癖大小便不利切痛又牛黃紫圓條云治小兒結實乳食不消心腹痛又治小兒宿乳不消腹痛驚啼以上四章皆用此丸藥佳○嬰兒指要云凡有臍風撮口胎風撮口鎖肚撮口瘹腸撮口卵疝撮口皆出結鬱於腸胃閉不得通腹中滿脹肚上青筋撮口不乳最為惡候一臘內見之尤急用紫圓子利之才通疾去兒和○經驗云療纏喉風及喉脾卒然倒僕失音不語或牙關緊急不省人事</p>
<p>硝石大圓（千金）　治十二癥瘕及婦人帶下絕產無嗣</p>
<p>硝石（七錢）　大黃（九錢）　人參（三錢）　當歸（三錢）　甘草（二錢）</p>
<p>上五味為末和煉蜜糊丸○試效（腹中有堅塊者勿論男子婦人皆用之）</p>
<p>平水丸（千金）　治水腫通身洪腫或腳氣腳弱悸動升逆者</p>
<p>吳茱萸　芫花　芒硝（各三錢）　商陸（四錢）　甘遂（二錢）</p>
<p>上五味為細末糊丸</p>
<p>滾痰丸（本草附方）　治痰為百病唯水瀉胎前產後不可服又云溫水吞下即臥勿動候藥逐痰滯次日先下糟粕次下痰涎</p>
<p>大黃　黃芩（各五錢）　硝石（二錢半）　青礞石（二錢燒金色為度）　沉香（五錢）</p>
<p>上五味為末糊丸每服自三五分至一錢○養生主論云治濕熱痰積變生百病○試效（諸喘咳上氣胸心痛核梅氣痰核及諸肩背縛痛者皆主之）○辨誤（近世醫家有去沉香加甘遂者是銳意欲奪病之弊也按此方降痰氣化黏液取之穀道去若加甘遂則藥性走而急反薄降氣化痰之能不可不察焉）</p>
<p>控涎丹（三因方）　治痰留在胸膈上下變為諸病或頭項胸背腰脅手足胯蹕隱痛不可忍節骨攣引釣痛走易及皮膚麻痹似乎癱瘓又治頭痛不可舉或睡中流涎或咳唾喘息或痰迷心竅並宜此藥數服痰涎自失諸疾尋愈</p>
<p>甘遂　大戟　白芥子（各等分）</p>
<p>上三味為末和煉蜜為丹○得效方云凡人忽患胸背手足腰胯隱痛不可忍乃是痰涎伏在心膈上宜此藥○經驗云暴喘俗傳馬脾風大小便難宜急下之又云小兒心下痞痰癖結聚腹大脹滿身體壯熱不欲哺乳者○醫通云及乎五旬內外氣血向衰漸至食少體倦或肢體煩悶嘔逆甚至上下不通者須乘初起元氣未衰急投控涎丹十餘粒不下少頃再服當此危急之時不下必死下之庶幾可生○李時珍曰痰涎之為病隨氣升降無處不到入於心則逆竅而成癲癇妄言妄見入於肺則塞竅而成咳唾稠黏喘急背冷入於肝則留伏蓄聚而成胸痛乾嘔寒熱往來入於經絡則麻痹疼痛入於骨節則頸項胸背腰脅手足攣引隱痛陳無擇三因方並以控涎丹主之殊有奇效</p>
<p>左經丸（蘇沉良方）　治筋骨諸疾手足不隨不能行步運動</p>
<p>木鱉子　草烏頭　白膠香　五靈子（各三兩）　當歸（一兩）　斑蝥（一百個去翅足）</p>
<p>上為細末用黑豆去皮生杵粉一斤醋煮糊為丸如雞實大每服一丸酒磨下筋骨疾但不曾針灸傷經絡者四五丸必效云云又曰此藥能通榮衛導經絡又曰服後小便少淋瀝乃其驗也</p>
<p>十棗丸（丹溪心法）　治水氣四肢浮腫上氣喘急大小便不利</p>
<p>甘遂　大戟　芫花（各等分）</p>
<p>上為末煮棗肉為丸桐子大清心熱湯下二十丸</p>
<p>五苓散　霍亂頭痛發熱身疼痛熱多欲飲水者○男子消渴小便反多以飲一斗小便一斗腎氣丸主之脈浮小便不利微熱消渴者五芩散主之○假令瘦人臍下有悸吐涎沫而顛眩○渴欲飲水水入則吐者名曰水逆五苓散主之</p>
<p>豬苓（十八銖）　澤瀉（一兩六銖半）　茯苓（十八銖）　桂枝（半兩）　白朮（十八銖）</p>
<p>上五味為末以白飲和服方寸匕日三服○太陽病發汗後大汗出胃中干煩躁不得眠欲得飲水者少少與飲之令胃氣和則愈若脈浮小便不利微熱消渴者○發汗已脈浮數微熱消渴者○本以下之故心下痞與瀉心湯痞不解其人渴而口燥煩小便不利者</p>
<p>茵陳五苓散　黃疸病（當有小便不利渴證）</p>
<p>茵陳蒿末（十分）　五苓散（五分）</p>
<p>上二物和先食飲服方寸匕日三服</p>
<p>豬苓散　嘔吐而病在膈上後思水者解急與之後思水者</p>
<p>豬苓　茯苓　白朮（各等分）</p>
<p>上三物和先食飲服方寸匕日三服</p>
<p>牡蠣澤瀉散</p>
<p>牡蠣　澤瀉　栝蔞根　蜀漆　葶藶　海藻　商陸根（各等分）</p>
<p>上七味異搗下篩為散入臼中治之白飲服方寸匕○大病差後從腰以下有水氣者（說具於系傳）</p>
<p>葵子茯苓散　妊娠有水氣身重小便不利灑淅惡寒起即頭眩</p>
<p>葵子（一斤）　茯苓（三兩）</p>
<p>上二味杵為散飲服方寸匕日三服</p>
<p>土瓜根散　帶下經水不利少腹滿經一月再見者○陰痿腫（壽曰婦人陰門痿腫是瘀血所致）</p>
<p>土瓜根　芍藥　桂枝　䗪蟲（各三兩）</p>
<p>上四味杵為散酒服方寸匕日三服</p>
<p>瓜蒂散　病如桂枝證頭不痛項不強「寸」脈微浮胸中痞硬氣上衝咽喉不得息者此為胸有寒也當吐之○病人手足厥冷脈乍緊者邪結在胸中當須吐之○宿食在上脘者當吐之</p>
<p>瓜蒂（一分）　赤小豆（一分）</p>
<p>上二味各別搗篩為散已合治之取一錢匕以香豉一合用熱湯七合煮作稀糜去滓取汁和散溫頓服之不吐者少少加得快吐乃止○外臺云療急黃心下堅硬渴欲得水吃氣息喘粗但有一候相當即須服之吐則差○辨正錄云人有食河豚舌麻心悶腹脹氣難舒口關聲不出療法宜吐其肉○證治大還云痰厥者因氣逆痰壅故忽然昏迷卒倒咽中涎潮如泄鋸聲宜先以瓜蒂散吐之○儒門事親云凡婦人頭風眩暈登車乘船眼澀手足麻發脫健忘皆胸中宿痰所致又云一切沉積或有水不能食使頭目昏眩不能清利涕唾咳嗽喘滿時發潮熱○金匱鉤玄雲痰在經絡中者非吐不可出吐方中就有發散之義也又云氣實痰熱結在上者則吐又云膠回者必用吐之又云哮喘必用薄滋味專主於痰宜大吐云云亦有虛而不可吐者又云喉中有物咯不出咽不下此是老痰重者吐之又云痰壅盛者口眼喎斜者不能言者皆當吐○明醫指掌云吐痰之聖藥治在膈上○丹溪心法云小兒急慢驚風發熱口禁手心伏熱痰熱咳嗽痰喘此證類並用湧法吐之重劑瓜蒂散輕劑用苦參赤小豆末云云又云驚有二證一者痰熱主急驚當吐瀉之一者脾虛乃為慢驚所以多死云云又云用吐方必緊勒於無風之處行之○丹溪心法附錄獨聖散條云治中風痰迷心竅顛狂煩亂人事昏沉又治五癇心風</p>
<p>薏苡附子敗漿散　腸癰之為病其身甲錯腹皮急按之濡如腫狀腹無積聚身無熱脈數此為腸內有癰膿</p>
<p>薏苡仁（十分）　附子（二枚）　敗漿（五分）</p>
<p>上三味杵為末飲服方寸匕（本有煎法今不取）</p>
<p>天雄散　失精者（下部冷結沖逆而失精者）</p>
<p>天雄（三兩）　術（八兩）　桂枝（六兩）　龍骨（三兩）</p>
<p>上二味杵為末服方寸匕日三服並主癰膿以麥汁下之</p>
<p>排膿散（諸毒腫有膿者宜服之以排膿）</p>
<p>枳實（十六枚）　芍藥（六分）　桔梗（二分）</p>
<p>上三味杵為散取雞子黃一枚以藥散與雞子黃相等揉和令得飲和服之日三服</p>
<p>當歸芍藥散　婦人妊娠腹中㽲痛</p>
<p>當歸（三兩）　芍藥（一斤）　茯苓（四兩）　蒼朮（四兩）　澤瀉（四兩）　芎藭（半斤一作三兩）</p>
<p>上六味杵為散取方寸匕酒和三服○經驗云妊娠身體浮腫四肢脹急小便不利者又妊娠胎間有水氣而身微腫者</p>
<p>蜀漆散　瘧寒多者名曰牡瘧</p>
<p>蜀漆　雲母　龍骨（各等分）</p>
<p>上三味搗為散末發前以漿水服半錢</p>
<p>桔梗白散　咳而胸滿振寒脈數咽乾不渴時出濁唾醒臭久久吐膿如米粥者為肺癰○寒實結胸無熱證者與三物小陷胸湯白散亦可服</p>
<p>桔梗　貝母（各三兩）　巴豆（一分）</p>
<p>上三味為散強人服半錢匕羸者減之病在膈上者吐膿血在膈下者瀉出若下多不止飲冷粥一杯則止</p>
<p>四逆散　少陰病四逆其人或咳或悸或小便不利或腹中痛或泄利下重者。</p>
<p>柴胡　芍藥　枳實　甘草</p>
<p>上四味各十分搗篩白飲服方寸匕日三○（按此大柴胡湯方內去半夏黃芩大棗則大柴胡湯證中無結實嘔吐證者宜用之說具於系傳）○明醫指掌云寒邪變熱傳裡腹痛便秘而厥者</p>
<p>消礬散　黃家日晡所發熱而惡寒「此為女勞得之」胱膀急少腹滿身黃額上黑足下熱因作黑疸其腹脹如水狀大便必黑時溏「此女勞之病非水也」</p>
<p>滑石　礬石（各等分）</p>
<p>上二味為末以大麥粥汁和服方寸匕日三服病隨大小便去小便正黃大便黑是其候也</p>
<p>蛇床子散　溫陰中坐藥</p>
<p>蛇床子</p>
<p>上一味末以白粉少許和令相得如大棗綿囊內之自然溫</p>

<h2>刻奇正方小引</h2>
<p>公山賀古先生志存濟恤業執醫療療藥驗諸今而方書稽諸古潛研之久不覺成書數編矣已而自嘆曰著述收名以售其術世固有之吾豈尤而效之乎乃悉焚其編稿矣而易竊騰寫奇正方及傷寒論系傳二書於未焚之前巾箱珍襲先生曾不之知也有一老翁與先生相親善翁謂先生曰人生此世飽食暖衣無報天恤物之心者所謂馬牛而襟裾意者草木之微尚著華結實以供人人而徒同其腐朽可乎我齒既垂八旬室廬足以安一族餼廩足以給數口而耳不聞道義蠢蠕逸居實愧草木之不如也我聞先生有著述數編請給費以梓之亦報天濟世之一端吾倘以免馬牛襟裾之譏先生搔首曰嘗有之而今則無矣翁為之倀然易仄聞此言也乃奉向所騰寫奇正方於先生曰有有不終無也先生莞爾而笑曰著述之傳否亦有數乎翁亦聞而喜之速授工以公於世云於戲先生之無求於名也固矣而翁之忠告實有不可默默者蓋天之未喪斯文也竊寫倖免火勸刻又有人子夏子有言雖曰未學吾必謂之學矣翁之敦篤斯其人歟翁陰德不欲稍其名姓此並先生皆無求於名之舉也</p>
<p><u>門人</u>　陳波　春塘易楊亭謹撰</p>

<h2>奇正方跋</h2>
<p>紙鳶者兒戲也當其木德顓令風塵四起也童子十數人爭放之於彼東郊也夫風勁而狂也與線而制其顛衰而慢也奪線以提其墜扶搖戾天而後已以供竟日之觀昏至乃還蓋日日然也一日忽遭檢官巡部道出於此狼狽失措托線草木而去既而反至鳶乃皆落矣於是始見醫理之寓於微物也夫紙鳶之戾天也者人之有平常也風勁而顛衰而墜也者六淫之為六疾也因而施與奪之權也者醫之應機變也以供竟日之觀日昏乃還也者人之盡天年也而昨之如彼而今之如此者豈非失與奪之權乎論至於此固信醫之有補於生而不可以一日闕也然徒握其權一錯其施則誤人之百年也必矣其責將誰歸此賀古君之所以為奇正方也賀古氏者州人也家世祿食於藩至乃祖了齋君坐事罷官乃考柳阿君白屋僻處嗜學好方遂使君從事於此君少好遊適京如尾中或在於阿今又徙居於阪其勉學不倦蓋四十年一日矣君多著書此特其小小耳而首公之世者將使知與奪之權之所在也遂使余亦贅紙鳶說於時文政庚寅冬至後一日　　　　阿波江藝君樹撰</p>
