<header data-type="book">
<h1>女科旨要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>雪岩禪師</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>婦女逐年經症</h2>
<p>室女十三四歲行經。或行或痛。或發熱。身體不寧。口苦面紅。寒熱不定。頭目暈花。</p>

<h3>八物湯</h3>
<p>白芷（一錢五分）　羌活（上部身體不痛不用）　砂仁　桂枝（無寒不用）　白朮（各二錢）　香附（二錢五分）　分二帖。加姜（三片）　蔥（三根）　空心熱服。如有血氣攻心痛。加乾漆。元胡索。（各三分）　嗽痰氣急。加半夏。桔梗。杏仁。五味。（各三分）</p>

<h3>和氣散</h3>
<p>厚朴（五分）　陳皮　藿香（六分）　白朮　延胡　枳殼（各三錢）　香附（炒五錢）　草果（熱不用）　甘草　砂仁　小茴（各二錢）　木香（二錢）　為末。或丸。或散。每服（二錢）　空心下。</p>
<p>室女十五六歲。經水不通。日夜寒熱。手足麻痹。頭痛。噁心。嘔吐。腹中忽然結塊沖痛。此因誤食生冷所致。</p>

<h3>四物調經湯</h3>
<p>當歸　川芎　柴胡　黃芩　白芍（各三錢五分）　香附（五錢）　青皮　砂仁　甘草（各一錢五分）　熟地　白朮　陳皮　枳殼　小茴（炒）　三稜　莪朮（各一錢）　紅花（五分）　白芷（二錢五分）　肉桂（一錢）　分四帖。加姜（三片）　蔥（三根）　空心煎服。如上部痛。加羌活（二錢）　下部痛加獨活（二錢）　咳嗽加半夏（三錢）　延胡乾漆（各二錢五分）　寒熱瘧疾。加常山。草果。香附（各三錢）　泄瀉。吐。心悶。加豆蔻。粟殼。木香。（各三錢）</p>
<p>婦女十七八歲。經脈不通。或阻半月。或阻百日半年。顏色青黃。飲食不思。寒熱。頭痛。目暈。肚中結塊。煩悶。嘔吐。膨脹。此因脾胃虛弱。氣血不行而致。</p>

<h3>和氣八物湯</h3>
<p>人參　茯苓　熟地　小茴（各三錢）　白朮　川芎（各四錢）　甘草　黃芩　柴胡　枳殼（各一錢）　當歸　白芍　香附（各六錢）　分四帖。加姜（三片）　燈心（一團）　空心熱服。如肚痛。加延胡。乾漆。（各三錢）　嘔吐。噁心。加良薑。砂仁。（各三錢）　手足麻痹。加肉桂（一錢五分）　咳嗽。加杏仁。五味。款冬花。（各二錢）</p>

<h3>柴胡湯</h3>
<p>當歸（五錢）　白芍　柴胡　黃芩（各三錢）　熟地　甘草（各一錢）　半夏　川芎（各二錢）　人參　麥冬（各二錢）　分四帖。加姜（三片）　空心熱服。如少睡。加棗仁。嘔吐。加砂仁（三錢）　白朮（二錢五分）　香附（三錢）　嗽。加杏仁。（一錢五分）　五味（一錢）　蘇葉。桔梗。（各三錢）</p>

<h3>調經丸</h3>
<p>當歸（二兩）　白朮　厚朴　赤芍　熟地　小茴　枳殼（各一兩二錢）　陳皮　砂仁　三稜　乾漆　甘草　白芷（各一兩）　青皮　陳艾（各二錢）　粉草（五錢）　香附（醋製五兩）　川芎（一兩五錢）　為末。米醋糊丸。空心米湯下。三四十丸。</p>
<p>婦人十九二十嫁出時。但遇經脈動時。遍身疼痛。手足麻痹。或寒熱頭目昏眩。或由感冒而致。當急用烏金散。多二帖。少一帖可愈。</p>

<h3>烏金散</h3>
<p>厚朴　蒼朮　川芎　茯苓　當歸　半夏　白芍　羌活　獨活　牛膝（各三錢）　陳皮　桔梗　白芷　枳殼（各一錢五分）　麻黃（四分）　甘草（五分）　桂枝（一錢五分）　分四帖。加姜（三片）　蔥白（二個）　空心熱服。嗽加杏仁。五味。（各二錢）　泄瀉。加枳殼。豆蔻。粟殼。（各一錢五分）</p>
<p>婦人二十一二。經脈不調。赤白帶。或如梅汁。或片。或二三月不行。潮熱咳嗽。飲食不思。四肢困倦。若此症日久不治。則成骨蒸癆。急服八物溫經湯。若帶如魚腦者。冷極須繼用烏金散。</p>

<h3>八物溫經湯</h3>
<p>當歸　香附　鹿茸（醋炙如熱少用）　川芎　熟地　白朮　山萸　小茴（各二錢）　甘草（一錢）分四帖。加姜（三片）　空心服。如盜汗。加棗仁。黃耆。（各二錢）　嗽。加杏仁。五味子。（各二錢）　潮熱。加黃芩。柴胡。（各二錢）</p>
<p>婦人二十三四。腹心脹滿。氣升上隔。飲食不思。腹結塊成瘼。此因經後潮熱。誤食生冷。聚成痰飲。若不早治。覆成大患。</p>

<h3>君子湯</h3>
<p>陳皮　茯苓　枳實　川芎　赤芍　蘇葉　檳榔　桔梗　白朮　半夏（各二錢）　當歸　香附　厚朴（各三錢）　甘草（一錢）　紅花　黃連（酒炒）　柴胡（各一錢）　砂仁（一錢五分）　分八帖。加姜（三片）　空心服。如嗽。加五味子。杏仁。（各二錢）　口渴潮熱。加竹瀝。（二匙）　酒水各半煎。</p>
<p>婦人二十五六。血海虛冷。經脈不調。或時腹下疼痛。或白帶。或魚腦髓。或米汁。信期不定。每日淋漓不止。面色青黃。四肢無力。頭暈眼花。此氣血兩虛之症。</p>

<h3>加味四物湯</h3>
<p>當歸　鹿茸　白芍　香附（各三錢）　川芎　熟地（各二錢五分）　黃耆　白朮　茯苓　黃芩　陳皮（去白）　砂仁　人參　阿膠　小茴　山萸（各二錢）　沉香　粉草（各一錢）　延胡（二錢）分四帖。加姜（三片）　煎。空心服。如咳嗽潮熱。加五味子。杏仁。（各五分）　竹瀝少許。</p>

<h3>烏雞丸</h3>
<p>（此方善調經如有熱者忌用。）</p>
<p>人參　砂仁（各五錢）　白朮　川芎　熟地　當歸　厚朴　香附（各一兩）　海金砂　銀蟲砂　柏葉（各二兩）　殭蠶　防風（各五錢）　粉草（二錢五分）　共為末。外用烏骨雄雞（一隻）　三年陳者。用竹刀殺之。去毛血頭足肚雜。洗淨。用陳酒一大升。將藥末分三分。以一分納雞肚內。一分入湯內。一分留下。聽用。文武火煮熟。將雞骨拆開。熬干原汁。取雞骨肉藥末。曬乾為細末。同留下一分藥末和勻。以米飯為丸。每日空心酒下五十丸。</p>
<p>（〔吳按〕前卷烏雞丸藥味純和。與廣東白鳳丸同功。乃婦科良劑。此丸重用金石。豈可常服。若刪去二砂。為八珍加減。亦可用也。）</p>
<p>婦人二十七八。身體困倦。少食。經水時時淋瀝不止。或塊或片。或流赤白黃水。面色青黃。眼花。四肢痠痛。將成崩漏。</p>

<h3>止經湯</h3>
<p>當歸（五錢）　白芍　川芎（各四錢）　阿膠（炒）　黃芩　蒲黃（炒）　柏葉（鹽水炒）　白朮（各三錢）　砂仁（二錢）　香附　熟地（各四錢）　炙甘草（一錢）　分四帖。加姜（三片）　如嗽。加五味子。杏仁。（各三錢）　氣急。加半夏。蘇葉。（各二錢）　泄瀉。加豆蔻。粟殼。（各二錢）　肚痛。加枳殼。延胡。乾漆。（各三錢）　若虛冷。可服前補經湯。或烏雞丸。以補心血。若口乾潮熱。不可用烏雞丸。可服八珍散。以扶脾胃。切忌亂服藥。若已半年不調。用調經散可治。</p>
<p>婦人二十九三十。連年生育。氣散血虛。經脈不和。或二三月不行。不時腹痛。結成血塊。日倦夜熱。飲食少思。此血虛胃熱。抑或勞倦而致。先服紅花當歸散。後服八物湯。</p>

<h3>紅花當歸散</h3>
<p>當歸（六錢）　川芎　赤芍　熟地　黃芩　香附　延胡　厚朴（各四錢）　小茴　柴胡　陳皮　莪朮　牛膝（各二錢）　三稜（先服二錢後少用）　甘草（五分）　紅花（一錢）　先服分八帖。少加姜。水煎。空心服。如噁心。嘔吐。加砂仁。（一錢五分）　良薑。（一錢五分）　泄瀉。加豆蔻。粟殼。（各三錢）　遍身痛。加羌活。獨活。（各二錢）　嗽。氣急。加杏仁。五味。桔梗。蘇葉。（各一錢）</p>
<p>婦人三十四五。血氣脾胃俱虛。或經水動時。當風坐臥失避。身入虛邪。遍身麻痹。經脈受風。咳嗽有痰。用減味五積交加散。兼八物湯治之。</p>

<h3>減味五積交加散</h3>
<p>羌活（五分）　當歸　川芎　獨活（二錢）　白芷　厚朴　蒼朮　枳殼　防風　陳皮　半夏　柴胡　桔梗　茯苓（各二錢）　麻黃　桂枝　甘草（各五分）　分四帖。加姜（三片）　連根蔥白（五個）　空心熱服。如不能行動。去柴胡。加殭蠶。烏梅。（各五分）　酒煎。嗽加五味。杏仁。（各三錢）　婦人三十六七。若行經太多。此因血氣虛甚。胃氣不足。故血妄行。宜補調氣血。養脾胃。庶年老可無血崩之患。</p>

<h3>八珍散</h3>
<p>人參　茯苓　川芎　熟地　白芍　香附（各三錢）　白朮　當歸（各四錢）　甘草（一錢）　分四劑。姜水煎服。如肚痛。加延胡（三錢）　潮熱。加黃芩。柴胡。（各三錢）</p>
<p>婦人三十八九。經水斷絕。腹中有塊疼痛。頭暈眼花。飲食不思。此氣血虛。惡血不散。急當散其瘀血。溫調血脈。以除後患。</p>

<h3>加減莪朮散</h3>
<p>當歸　莪朮　延胡　熟地　枳殼　青皮　白朮　黃芩（各二錢）　川芎　三稜　小茴　砂仁（各三錢）　乾漆　紅花（各一錢）　香附（五錢）　甘草（二錢）　共為末。每日空心酒下三錢。婦人四十二三。經水斷絕。五十一二。其經不定。常常淋瀝。或塊或條。或漏不止。陰陽相反。血氣妄行。失其調理。最難得痊。百中三五可治。急服和經湯兼四物湯。補經湯或烏雞丸。</p>

<h3>和經湯</h3>
<p>當歸　山藥　茯神　黃芩　香附　白朮（各一兩）　白芍（一兩五錢）　棗仁　炒蒲黃　炒阿膠白芷　陳皮　小茴（各六錢）　甘草（三錢）　和勻。一兩三錢一帖。加姜（三片）　空心熱服。若一二帖後不止。即去香附。陳皮。小茴一半。</p>

<h1>卷二</h1>

<h2>診婦人有孕論</h2>
<p>夫肝為血兮肺為氣。血為榮兮氣為衛。陰陽配偶不參差。兩臟通知兩類例。血衰氣旺定無孕。血旺氣急應有體。左疾為男。右疾為女。流利相通定來去。兩指關脈大相應。已形雙孕分男女。左手帶縱兩個兒。右手帶橫一雙女。左手脈逆生三男。右手脈順生三女。一關風部皆相應。一男一女分形證。有將兒死母身存。或即母亡存子命。往來三部通流利。滑數相參皆勿替。陽實陰虛脈得明。遍滿胸堂皆逆氣。左手太陽浮大男。右手太陰沉細女。指下分明長記取。三部沉正等無絕。尺內不止真胎矣。夫乘妻兮縱氣露。妻乘夫兮橫氣助。子乘母兮逆氣參。母乘子兮順氣護。小兒日足胎成聚。身熱脈亂無所苦。汗出不食吐逆時。精神結備其中住。滑疾不散胎三月。但疾不散五月母。洪緊牢強滑各安。沉細而微歸泉路。</p>
<p>（〔吳按〕亦有虛弱孕婦。三月之前。不現於脈者。然細診兩尺。必有流利不絕之象。若五月之後。則滿滑等脈為有餘。沉細微等脈為不足。所以未產預分其吉凶也。）</p>

<h2>按月受胎形症</h2>
<p>初月胎形。一點精華。如草上露珠。未有宮室。在牝戶之處。未入腹內。其形或聚或散。初月胎症。少婦初次懷胎。一月滿足。害羞不對人言。時醫不識。誤作阻經治。致有頭暈。噁心。飲食少思。腹內作痛。六脈浮緊。並婦人稟氣薄。及病後受胎。俱須用罩胎方保之。若只氣不和。可服安胎和氣散。</p>

<h3>罩胎方</h3>
<p>當歸　白芍（各四錢）　枳殼（三錢）　砂仁（二錢）　甘草（六分）　分二帖。空心溫服。</p>

<h3>安胎和氣散</h3>
<p>藿香　陳皮　蒼朮　砂仁　黃芩　桔梗　益智仁（各二錢）　厚朴　枳殼（各一錢）　甘草　紫蘇（各二錢）　小茴（一錢五分）　分二帖。加燈心（一團）　空心溫服。</p>
<p>二月胎形似花綻。以受胎一月滿足。已受血近陽。形如桃花。分枝葉在母陰戶內六七寸。其胎入腹。未入衣裹。二月胎症。貧寒之婦。挑磚弄瓦。移床運物。傷觸胎氣。致有頭暈。目花。噁心。嘔吐。不思飲食。並虛弱婦。胎氣不安。俱宜安胎和氣散治之。若慣墮胎者。當一月內。兩服安胎和氣散。保過五個月。身孕而止。</p>
<p>（〔吳按〕凡受孕一月之後。不勞動者。亦有惡阻。輕者不必治。重者只服藥數劑而已。倘虛弱慣墮胎者。必須大補氣血。庶根深蒂固。若和氣散。只可治惡阻耳。）</p>
<p>三月胎形似蠶繭。漸漸長形。一頭大一頭小。其頭尖圓。未入宮室。已至臍下。漸有裹其形薄衣胞之。</p>
<p>三月胎症。虛弱之婦。胎氣不和。噁心嘔吐。或觸動胎氣。或秋天極寒極熱相蒸。所染各症。俱用前安胎和氣散加減。如患瘧。加青皮（二錢）　草果（三錢切忌用常山）　潮熱。加黃芩柴胡。（各三錢）　嗽。加杏仁。五味子。（各二錢）　氣急。加沉香。（五分磨沖）（〔吳按〕沉香重墜不宜用。）</p>
<p>四月胎形。已入子宮之室。衣裹已至丹田之所。忌食兔獐諸毒之物。</p>
<p>四月胎症。胎至四月。能令孕婦身體困倦。氣急發熱。飲食無味。貪眠。頭暈。四肢痠軟。宜用活胎和氣散治之。</p>

<h3>活胎和氣散</h3>
<p>枳殼　厚朴　香附　砂仁　蒼朮　陳皮（去白各二錢）　蘇葉（一錢）　甘草（八分）　小茴（一錢）　分三帖溫服。</p>
<p>五月胎形。男女分定。令胎母前行。使女於後呼之。左回頭是男。右回頭是女。思酸男。思淡女。此時已入宮室。其胎穩安也。</p>
<p>五月胎症。胎至是月。若胎妊困弱。能令胎母腹重。貪眠。飲食無味。肚中膨脹。胎有些動。可服瘦胎飲二三帖。能養聚胎氣。而精神安好也。</p>
<p>（〔吳按〕亦有至六七月而半產。小兒雖啼。而不育。均因氣虛。不能系胎。血弱不敷養胎。宜預為調補。倘系跌損。又當別論。）</p>

<h3>瘦胎飲</h3>
<p>當歸（三錢）　澤瀉　白芍　益母草　枳殼　茯苓（各四錢）　砂仁　香附　益智仁（各三錢）　白朮（二錢）　甘草　柴胡（各一錢五分）　分三帖。空心服。</p>
<p>六月胎形。男左動。女右動。常在臍中。漸漸浮如魚食水一般。</p>
<p>六月胎症。胎至六月。其婦瘦弱。可服瘦胎飲二三帖。護胎母之苦。使臨產時。脈調和。且易生而無憂慮之患。若壯健婦。不必服藥。</p>
<p>七月胎形。男向左脅動。女向右脅動。七月已足。亦有降生成人。所以胎母至此。行步艱難。</p>
<p>七月胎症。至七八月足。其胎重如石。行走甚艱。脾胃虛弱。或時氣急衝心。胸前脹滿。咳嗽。若誤食熱毒物。能令胎動不安。名曰子懸。俱用知母補胎飲治之。</p>

<h3>知母補胎飲</h3>
<p>知母　蘇葉（各二錢）　枳殼（四錢）　益母草　黃芩　滑石　香附（各三錢）　甘草（五分）　分二帖。空心服。</p>
<p>八月胎形。毛髮俱齊。蓋以胎至是月。而始生毛髮也。</p>
<p>八月胎症。胎兒長髮。令母心煩悶躁。多致思食而不知味。四肢無力。脾胃虛弱而不和。溫熱相攻。臟腑欠安。或變痢疾。或傷胎氣。宜服和氣平胃散。以安胎利氣。</p>

<h3>和氣平胃散</h3>
<p>厚朴　黃連　豬苓　澤瀉　地榆　蒼朮　白朮　白芍（各二錢）　柴胡　升麻（各四分）　豆蔻（一錢）　陳皮（三錢）　甘草（一錢）　分三帖。空心溫服。</p>
<p>（〔吳按〕此方宜去升柴。則平穩可用。）</p>
<p>九月胎形。七情開竅。眼有光。鼻有氣。耳有聞。口有味。各道俱全。方能左右轉身大動。胎母覺知。憂悶煩也。</p>
<p>九月胎症。胎至九月。如胎欲產。急然肚痛。先行漿水。嬰兒不降。此胎前誤食熱毒之物傷胎。使胎不順。故嬰兒不降。速服保生如聖散。</p>

<h3>保生如聖散</h3>
<p>柴胡（二錢）　益母草（二兩）　枳殼（一兩）　當歸（四錢質弱者可多用）　砂仁　陳皮　益智仁（去殼各二錢）　白芍（四錢）　甘草（一錢）　蘇葉（五錢）　分二帖。煎服之後。胎猶未降。用活鯉魚（一尾）　加醋（一匙）　同上藥煎服外。再服烏藥丸（一粒）　無不降矣。（烏金丸具下條。）</p>
<p>其十月胎形。受胎滿足。必待胎母四肢交骨罅縫俱開。方許降生。既生。莫令嬰赤之兒下地。恐賊風吹。須人抱接包裹。至產母務謹慎調護。庶母子兩保平安也。</p>
<p>其十月胎症。十月滿足。臨產有橫逆之厄。皆因恣情內傷。或潮熱所致。或胎前任用熱毒之物。瘀血相搏。或七情怒氣所傷。當此倉忙。又不加謹輒使穩婆生生取出。必至觸死。胎兒在腹。不能醫治。今備妙方防之。以濟此急。惟服活命無憂散一二帖。加烏金丸（二枚）　可救。</p>

<h3>活命無憂散</h3>
<p>益母草（二兩）　急性子（三錢）　當歸（三兩）　枳殼（一兩）　生地　蘇葉　白芍（各三錢）　肉桂　川芎　陳皮　艾（各一兩）　甘草（五分）　小鯉魚（一尾）　分二帖水煎。臨服加醋（一匙）入藥服。再服烏金丸（一顆）　倘死胎不能猝下。急取無根水再煎一服。並送烏金丸（一顆）無不效。</p>

<h3>烏金丸</h3>
<p>蛤粉炒阿膠（四兩）　熟艾（一斤五月五日收）　穀芽　麥芽　敗筆（即蘇木各二兩）　龍衣（即蛇蛻一條要完全者）　黍米同搗勻。為丸如桐子大。硃砂為衣。</p>

<h1>卷三</h1>

<h2>診產後證論</h2>
<p>產後三四五日。或半月之間。忽然狂言亂語。目見鬼神者何也。因產後敗血虛弱。邪氣乘虛入於臟腑。血痰攻心所致。</p>

<h3>烏金散</h3>
<p>川芎　當歸　遠志　杏仁（各三錢）　棗仁　白朮　赤芍　香附　砂仁（研）　羌活　熟地　防風　茯神（各二錢）　半夏（三錢）　全蠍　麥冬　人參　牛膝　天麻（各一錢）分二帖。姜（三片）　蔥（三根）　水煎磨金銀汁。和入藥內。不時服。產後發熱。口乾作渴。唇裂生瘡者何也。因產後好食薑、椒、蒜、生雞、嫩鴨、犬肉、熱物過多。血熱積於脾胃。氣攻上焦。煩渴。皆因此致。</p>

<h3>逍遙散</h3>
<p>當歸　白芍　甘葛（各二錢）　生地（一錢）　川芎（二錢五分）　人參（五分）　麥冬（九分）　柴胡（二錢）　烏梅（二個）　甘草（六分）　分二帖。空心服。</p>
<p>產後發熱。惡寒。瘧者何也。敗血虛弱。感冒風寒。四肢痠痛。頭暈目眩。莫作時瘧治。此虛弱而致。</p>

<h3>烏金湯</h3>
<p>厚朴　柴胡　黃芩（各二錢）　麻黃（六分）　陳皮　當歸　川芎　桔梗　茯苓（各一錢五分）　桂枝　蒼朮　白芷　枳殼　羌活（各一錢）　草果　半夏（各二錢）　甘草（九分）　白芍　熟地（各一錢五分）</p>
<p>分二帖。加薑蔥引。如有汗。倍用當歸。川芎。桂枝。白芍。熟地。脹。倍用厚朴。陳皮。寒倍用半夏。蒼朮。草果。桂枝。熱。倍用柴胡。黃芩。痰。倍半夏。茯苓。痢。倍當歸。去枳殼。甘草。頭痛。倍川芎。白芷。羌活。余血在腹。成塊作痛。加三稜。莪朮。元胡。大茴。遍身痛。加獨活。倍羌活。浮腫。氣急。泄瀉。九死一生。若單氣急。加枳殼。枳實。木香。杏仁。單泄瀉。去枳殼。加粟殼。訶子。豆蔻。膈氣急。加杏仁。蘇葉。倍用桔梗。枳實。汗去麻黃。加黃耆。嗽加杏仁。渴加烏梅。乾薑。脹加砂仁。香附。</p>
<p>產後遍身浮腫。氣虛潮熱。蓋因脾胃虛弱。血氣衰敗傷風在裡。若脈浮強大。用藥可治。如兼泄瀉氣急。脈細者。難治。</p>

<h3>加味八物湯</h3>
<p>人參　茯苓　熟地　小茴（各三錢）　白朮　川芎（各四錢）　當歸　白芍　香附（各五錢）　甘草　黃芩　柴胡（各三錢）　分六帖。姜（三片）　水煎服。服盡又用調經丸治之。如肚痛。加延胡。乾漆。枳殼。（各三錢）　嗽加五味。麥冬。款冬花。（各三錢）　手足麻痹。加肉桂（五分）</p>

<h3>調經丸</h3>
<p>當歸（二錢）　白朮　厚朴（各七分）　赤芍　熟地（各五分）　小茴　枳殼（各七分）　陳皮　砂仁　牛膝　元胡（各五分）　莪朮（醋炙）　白芷（各五分）　艾綿（一兩五錢）　粉草（三分）　青皮（六分）　川芎（七分）　香附（醋炙二兩）　為末。米糊丸。</p>
<p>產後語言恍惚。顛倒錯亂。此血耗氣散。本原不足。腹內空虛。睡臥不安。或邪不退之故。</p>

<h3>四物補心湯</h3>
<p>當歸（五錢）　川芎　生地　白朮　白芍　茯神　半夏　桔梗（各四錢）　陳皮（三錢）　防風（五分）　甘草（一錢）　分五帖。姜（三片）　溫服。如熱加黃連。（酒炒三錢）</p>
<p>產後失音。言不出口。因心肺二經。被瘀血所侵。孔竅皆閉。或傷風所致。宜逐血補心。不可誤服他藥。</p>

<h3>逐血補心湯</h3>
<p>紅花　赤芍　生地　桔梗　蘇葉　前胡　膽星　黃連　茯苓　防風　粉草（一錢）　分三帖。姜（三片）　空心服。</p>
<p>產後痢疾。裡急後重。因食熱毒太過。後食生冷之物。冷熱不和。能成此症。</p>

<h3>加減和胃湯</h3>
<p>厚朴（五錢）　陳皮　豬苓　澤瀉　歸尾　黃連　白芍　黃芩（各三錢）　地榆　豆蔻（各二錢）升麻（五分）　甘草（二錢）　分五帖。</p>
<p>產後四肢骨節。遍身疼痛。蓋產育之時。周身三百六十骨節開張。氣血俱虛。勞傷。坐臥又出房冒風所致。用烏金散治之。</p>
<p>產後小便緊澀不通。因血熱積於小腸經。水道不利。誤將熱毒物食之。即成淋瀝。</p>

<h3>通芩散</h3>
<p>赤苓　澤瀉　木通　黃連　豬苓（各三錢）　白朮　瞿麥　杞子　滑石　車前（各二錢）　分四帖。加姜（三片）　燈心（十根）　空心溫服。</p>
<p>產後忽然下血成片。相似血崩。此因血氣大虛。脾胃又弱。以致榮衛衰敗。</p>

<h3>正經四物湯</h3>
<p>當歸　白雞冠花（各五錢）　白芍　白朮　香附（炒各四錢）　熟地　川芎　人參　阿膠（炒）　茯苓　側柏葉（炒）　棗仁　陳皮（去白）　炒蒲黃（各二錢）　炙甘草（一錢）　分六帖。加姜（三片）</p>
<p>產後嗽。氣急痰涎多者。因秋冬生產。失於調理。胎腹虛損。肺經欠安。所受風寒。能致此症。宜消風去痰。</p>

<h3>青龍湯</h3>
<p>白茯苓　白芍　杏仁　半夏（各二錢）　當歸　桔梗（各二錢五分）　桂枝　川芎　五味　乾薑　陳皮（各二錢）　麻黃（一錢）　細辛（七分）　甘草（一錢）　分四帖。加燈心（一團）空心服。如虛腫加大腹皮。瞿麥。（各一錢）　嗽加蘇葉。枳殼。（各三錢）　四肢怕冷。加川芎。南星。木香。各一錢　氣急加蘇葉。枳殼。（各二錢）　產後嘔吐。飲食不下。腹脹。因產後敗血。血氣攻於脾胃之間。氣不順而致。日久不療。必成翻胃。</p>

<h3>香砂養胃湯</h3>
<p>半夏（四錢）　白朮　陳皮　茯苓　厚朴　香附　藿香（各三錢）　砂仁　檳榔　草果　甘草（各一錢）　分四帖。加烏梅（一個）　乾薑（一錢）　溫服。</p>
<p>產後忽然中風不語。因胎前先染風邪未發。以致產後中風。或兼產難。失於調理。感冒。轉成此症。</p>

<h3>續命湯</h3>
<p>當歸　半夏（各五錢）　川芎　麻黃（各四錢）　防風　防己　白芍　杏仁　羌活　陳皮　茯苓桂枝（各三錢）　天麻　人參　全蠍　殭蠶（各二錢）　甘草（一錢）　分四帖。加姜（三片）　同金銀器煎服。如化蘇合丸同服尤效。若不能下藥。用鵝毛管插喉中。漸漸灌之自蘇。蘇後再服四物排風散。日二服。如藥灌不下而唇青者必死。</p>

<h3>四物排風散</h3>
<p>南星　半夏（各一錢）　防風　人參　羌活　防己　牛膝　杏仁　五味　當歸（各五錢）　川芎白芍（各八分）　茯苓　棗仁　白朮　瞿麥（各六分）　枳實　白芷　天麻（各四分）　甘草（二錢）　熟地（七錢）　分三帖。姜（三片）　空心服。如泄瀉。去枳實。加豆蔻。粟殼。（各三錢）　熱加黃芩。柴胡。（各五錢）　怕寒有汗。加黃耆。桂枝。（各四錢）　氣急。加沉香。（五分磨）　腹脹。不思飲食。加砂仁。香附。（各四錢）</p>
<p>產後取重物。忽然膀胱下垂不收者。因產後勞傷太過。拘重物用力太多。又傷臟血。氣弱血冷。因而不收。甚至有三五月不能還原者。</p>

<h3>收胎散</h3>
<p>當歸　川芎　白芍（各四錢）　升麻（一錢）　熟地　白朮　枳殼（各三錢）　人參　陳皮（各二錢）　沉香（五分磨）　肉桂　吳萸（各一錢）　甘草（九分）　分四帖。加姜（三片）　空心熱服。服後夜臥。產母原冷。將臍下四寸。艾灸七壯。</p>
<p>產後心氣攻痛。因產後心血虛弱。不順七情怒氣。諸風衝心。疼痛不可忍者。宜和心臟之藥。若使結久不散。則難治矣。</p>

<h3>七氣手拈散</h3>
<p>元胡　小茴　白芍　乾薑（各二錢）　黃連　石菖蒲　香附　蘇葉（各一錢五分）　枳實　枳殼（各三錢）　乳香　沒藥（各一錢）　甘草（六分）　分二帖。加姜（三片）　空心服。</p>
<p>產後百日外。面青浮腫。唇白氣急。此乃大虛之症。有汗當服下方。</p>

<h3>大補湯</h3>
<p>瞿麥　大腹皮　當歸頭　川芎　白朮　茯苓　白芍（各三錢）　人參（二錢）　黃耆　厚朴　五味子（各二錢）　熟地　甘草（各一錢）　分二帖。加燈心（一團）　煎服。服後症不退。加川烏。木香。（各五分）　如瀉。加訶子肉。豆蔻。粟殼。（各二錢）</p>

<h1>卷四</h1>

<h2>治十八般難產論</h2>
<p>子死腹中。因妊婦熱旺不治。過六七日經傳臟腑。熱及其胎。故死腹中。墜在臍下。宜保母命。急服烏金散。或烏金丸。用車前子（七分）　酒煎化服。胎氣轉熱即下。</p>
<p>難產者。因胎氣成全。子食母血。前一二月時。胎形小而余血多。久而成塊。俗呼兒枕。產時兒枕雖破。尚有裹其子者故難產耳。用烏金丸。將紅花。枳殼。益母草。（各三分）　酒煎磨服。何懼橫逆難產之症。</p>
<p>胞衣不下。因分娩時。母受其寒。血入其中。因寒。寒則作脹。脹則胞不下。令人脹悶。湯水不欲到口。服烏金丸。用蔥頭（三個）　當歸（三錢）　酒煎化服。胞衣遂下。敗血淨盡。</p>
<p>產後血暈。起止不同。眼目昏花。凡總理一身者血氣。血氣未定。還走五臟。奔克於肝。故有此症。俗呼暗風。服烏金散。或烏金丸。用白芍。菊花。（各三分）　酒煎化。</p>
<p>產後口乾心悶。因經絡未淨。胃氣未正。如食寒冷物。應有此症。蓋敗血犯心包絡經。故為煩為渴。又呼胸膈壅悶之至。服烏金散。或烏金丸用酒化服。</p>
<p>產後乍寒乍熱，如瘧者。蓋寒熱虛瘧。只是敗血入於心肺。邪熱又入於脾胃。故有寒熱而渴。此非瘧也。服烏金散。或酒化烏金丸。</p>
<p>產後虛弱。四肢浮腫。因敗血走五臟。轉註四肢。停留不行。化作浮腫。若水腫者氣閉小便澀也。血腫者氣竭四肢冷也。治血腫當服烏金散。兼服硃砂丸。以茯苓末（三錢）　酒煎磨服。可消。另用煎藥治之。</p>

<h3>硃砂丸</h3>
<p>益母草　沉香　小茴　白芍　香附　防風　五味子（各等分）　白朮（倍用）　棗肉為丸。硃砂為衣。</p>
<p>產後眼花。口言鬼神。顛狂。因敗血熱極衝心。非風邪所侵。服烏金丸。用燈心湯煎黃連（三分）　磨服。或烏金散。</p>
<p>產後月內失音不語。蓋心有七孔三毛。散血走迷孔口。竅不能通。竅者音也。故不言。非脫陰陽之症。服烏金散。或烏金丸。用甘菊。枳殼。桔梗。（各三分）　煎湯化服。</p>
<p>產後腹內疼痛兼瀉。因胎母月內食酸冷堅硬之物。血氣不及。不能克化。流入大腸。作此瀉痢。服烏金散。兼用止瀉調氣湯。或烏金丸。用神麯。白豆蔻。（各三分）　煎湯化服。</p>
<p>產後百節痠痛。因產時百骨開張。百筋用力。新血未生。敗血停經。聚滯不行。故作此症。亦非風邪所致。服烏金散。或烏金丸。用白芍。當歸。（各三分）　酒煎化。</p>
<p>產後血來成片塊。頻下不淨。因飲食前後惱怒。食中鬱怒之氣觸血。敗血成聚而不淨。服烏金丸。用木通。香附。（各三分）　酒煎化服。</p>
<p>產後血崩。如產後三不節者。應有此症。調理飲食不節。寒熱不忌。房事不謹。此三者。必崩漏。身則潮熱。筋則急拘。胸則煩悶。服烏金散。或烏金丸。用川斷（三分）　酒煎化服。</p>
<p>產後膈滿氣逆。血氣不通。咳嗽嘔吐。此血入胃中。脾氣相沖。遇食沖食。遇氣上逆。故作嘔脹而吐血。服烏金散。或烏金丸。用烏藥。枳殼。（各三分）　煎湯化服。</p>
<p>產後心痛。寒熱不常。此飲食不節。食痰相結。令人榮衛不宣。寒熱不常。四肢冷熱。心煩口燥。睡夢多驚。精神不爽。面常赤色。若此者。後必為骨蒸之症。不治。用烏金散。或烏金丸。以柴胡。半夏。（各三分）　煎湯化服。</p>
<p>產後口鼻黑氣。及鼻衄。並一身斑點繞頂。此敗血流入於臟腑。溢滿肌膚。一身四肢不能回走。故作熱結之症。其人面黃便結。用烏金丸。以羌活。升麻。（各五分）　酒煎化服三丸。或可回生。然此症十能救一。</p>
<p>產後喉中沙作蟬聲。此敗血走入孔竅。轉入於臟腑。肺生氣。氣生血。氣血走臟竅。敗血沖遇。成塊入喉。故作此症。急服烏金丸。用山豆根。歸尾。（各三錢）　煎湯化服。庶可回生。</p>
<p>產後中風。或眼目昏花。腰骨疼甚。如角弓形。蓋產後未滿百日。俱要調養身體。若多勞房事。及當風坐臥。應有此症。其人身重不能轉側。服烏金散或烏金丸。用羌活。五靈脂。（各三分）　大生地（一錢）　酒煎化服。</p>

<h2>方症補遺</h2>
<p>婦人月經不通。</p>

<h3>通經散</h3>
<p>川牛膝　當歸　劉寄奴　紅花　蘇木　肉桂　白芷　急性子　白芍　甘草（各等分）　為末。每服四錢酒下。</p>
<p>婦人經水重來</p>

<h3>五靈丹</h3>
<p>蓮房　人發　棕櫚　柏葉（各燒灰存性）　黃芩（各等分）　研末。每服二錢。米飲湯下。一日一服。五六服即愈。</p>
<p>婦人經水過多。</p>

<h3>固經丸</h3>
<p>黃柏（炒三錢）　黃芩　龜板（各一兩）　白芍（四錢）　樗根皮（七錢）　香附（童便浸一宿二錢五分）　共為末。酒丸清湯下。</p>
<p>婦人月經不調。</p>

<h3>調經散</h3>
<p>三稜　小茴　白芍　香附　澤瀉　當歸（各一兩）　蘇葉　紅花　青皮　生地（各五錢）　枳殼丹皮（各一兩）　先用煎服。分四帖。後為末。每服三錢。酒下六七服見效。若要溫經。加人參。麥冬。阿膠。（各三錢）</p>
<p>婦人漏下不止。其色鮮紅。先由勞役。脾胃虛損。氣短氣逆。自汗不止。身體發熱。大便泄瀉。四肢無力。不思飲食。</p>

<h3>婦芍二黃湯</h3>
<p>黃耆（一錢五分）　白朮　蒼朮　當歸　白芍　陳皮（各一錢）　熟地（五錢）　生地　炙甘草（各三錢）　柴胡（二錢）　水煎服。</p>
<p>婦人帶下。脈數。虛而兼熱。</p>

<h3>千金散</h3>
<p>杞子（一兩）　生地（五兩）　酒（一升）　煎至三合服。</p>
<p>婦人氣血俱損。</p>

<h3>加減八物湯</h3>
<p>人參　當歸　黃耆　熟地（各三錢）　白芍　川芎　白朮　茯苓（各二錢）　肉桂　甘草（各六分）　大棗（三枚）　水煎溫服。</p>
<p>婦人怯損。</p>

<h3>十全大補湯</h3>
<p>沉香（三分）　生地　熟地　當歸（各三錢）　白芍　牛膝　藿香　川芎（各一錢）　人參（五分）杞子（二錢）　壯鴨（一隻）　將上藥納鴨肚煮極熟。去藥。食鴨飲湯。連服數只。則身壯力健。</p>
<p>婦人新產。血氣俱傷。五臟暴虛。肢體羸瘦。乏氣多汗。</p>

<h3>理中丸</h3>
<p>白朮　人參　乾薑（各五錢）　甘草（二兩）　為末。蜜丸。空心米湯下三錢。自新產可服至百日。</p>
<p>婦人暑月產乳。因取涼太多。得風冷。腹中積聚。百病竟起。迄至將死。百藥不效。惟服桃仁煎。</p>

<h3>桃仁煎</h3>
<p>桃仁（一千二百粒）　去皮尖。共炒黃色。研細末加好酒（一斗）　入桃仁研末。分三四次入瓦瓶中。密封口。以面封固。放熱湯中。煮一日以瓶口有熱湯氣出為度。收藏。不時溫服。</p>

<h2>附兒科問候</h2>
<p>新產小兒。遍體如金色。此乃母受熱而纏胎之故。兒身熱便閉。口不吃乳。啼叫不止。用生地。當歸。白芍。川芎。花粉。（各等分）　母子同服。</p>
<p>小兒面色青白不常。此乃胎中受寒。生下感風。四肢厥冷。大便青黑。腹作盤腸之症。用炒當歸。炙黃耆。細辛。黃芩。龍骨。桂心。白芍。共為末。每服二錢。以乳調服三服後。加減小兒上唇白點者。病與傷寒相似。此變症之故。用麻黃（去節）　大黃。杏仁。（各一錢）　燒灰存性為末。以滾湯調服。服後有微汗。則身涼而愈。</p>
<p>（〔吳按〕初生小兒。牙床上下唇有白點。即用銀針挑破。取出白米。拭淨惡血。再用百草霜擦之。俗名馬牙臍米。若日久則挑之不破。則臍米切不可吞下。倘落肚。即難救矣。）</p>
<p>小兒急慢驚風。用大蠶蛾（一對）　大蔥（一條）　將蛾雌雄各一。納入蔥管。兩頭縛住。令陰乾燒灰。清湯調服。</p>
<p>小兒鵝掌瘋。用鵝掌黃皮（不拘多少）　棉花子。花椒。共搗。用火籠於被下。將上藥入火內烘燻。三五次愈。</p>
