<header data-type="book">
<h1>雷公炮製藥性解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李中梓</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1622">公元1622年</data></dd></div>
<div><dt>底本</dt><dd>《鐫補雷公炮製藥性解》（<a href="https://archive.org/details/02092925.cn">北京大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>余讀仲景之敘醫，輒為之掩卷，蓋其感生死之芒忽，篤君父之危殆。賤名利之浮榮，冀年壽以沒世。傷哉其言，焉得不原本藥性，加意候診者乎？三皇御宇，太昊首書八卦，開萬世道術之祖。而神農遍嘗百味，黃帝著為《素問》，跡其鼎足，所化醫之用居多。今考本經所載草木鳥獸等類，則干木果震萑葦坤子母牛兌羊良狗之說，酸鹹有五味之別，青黃有五色之分。則坎水離火震木兌金坤土之說，定浮沉，明燥濕。則本天本地親上親下之說，立君臣，分佐使。則君一民二之說，有畏有喜，有惡有反。則吉凶利害之說，有補有瀉，有正治，有從治。則變通趨時之說，無非大易之源流，八卦之分布。聖人所以順風氣而防夭札者，端不越此。自太史公著《扁倉論》，以為美好者不祥之器。而儒者又好自張大，置醫於九流之中。欲如皇子之論當心，東里之辯六氣，文摯止疾於齊王，枚乘霍然於太子，豈可得哉。余以少孤，不及摻藥以進慈父，間為母氏嘗之，退而考諸方書，多所不合。斯用痛心，乃於讀書之暇，發本經仙經暨十四家本草四子等書，靡不悉究。然後辨陰陽之所屬，五行之所宜，著《藥性解》二卷。敢謂拯危濟殆，於是焉賴，特以志余之悲，為人子事親之一助爾。且夫甘旨以養之，溫清以奉之。而卒罹夫不可療之災，欲代則不能，欲遍訪而證諸人則不及，此人子終天之恨。仲景氏傷之，余所不辭而為之縷析者也。若夫《素問》一書，軒岐之精蘊在焉，亦欲訂其同異而折衷之。期於剖微而止，敬以異日，公之同好。</p>
<p><u>云間李中梓撰</u></p>

<h1>卷一</h1>

<h2>金石部</h2>

<h3>金銀箔</h3>
<p>味辛，性平有毒。入心肺二經，主安心神，定驚悸，鎮癲狂，除邪熱。</p>
<p>按：金銀之入肺部，固其類也。其性沉重，能制火臟之輕揚，故亦入心經。過服必中其毒，以鷓鴣肉解之。</p>

<h3>黃丹</h3>
<p>味辛，性微寒有毒，不載經絡，主吐逆癲狂，止痛生肌。</p>
<p>按：黃丹乃熬鉛所作，鉛本水中之金，最能制火，吐狂等證，何者非火，而有不瘳者乎。</p>

<h3>胡粉</h3>
<p>味辛，性寒無毒，不載經絡。主一切癰腫諸毒，及腐爛肉。殺三蟲，破癥結。</p>
<p>按：胡粉一名粉錫，實亦化鉛所作。能破結殺蟲者，其亦鎮墜之功歟。</p>

<h3>銅青</h3>
<p>味苦澀，性平有微毒，不載經絡。主斂金瘡，治眼暗，止血殺蟲，能去腐肉。</p>
<p>按：銅青即銅綠，本醋沃銅上而得其精華。醋能收斂，故斂瘡止血，其去腐肉者，亦醋之功。眼乃肝竅，眼之不明，肝之病也，得金之精以制木，而目之暗者從此明矣。</p>

<h3>鐵漿</h3>
<p>味甘澀，性平無毒，入心肺二經。主癲癇狂亂，解諸毒入腹，蛇犬咬傷，鎮心神，明眼目，堪洗膝瘡，隨手而愈。</p>

<h3>鐵鏽</h3>
<p>油調之，可敷惡瘡瘡疥，蒜磨，敷蜘蛛咬傷。</p>
<p>按：鐵漿即浸鐵，色青，可染皂者。質本金也，宜歸肺部：性本沉也，宜鎮心家。明目治漆，皆由伐木之功。鐵鏽可敷瘡毒。亦以發在外者有散之義歟。</p>

<h3>水銀</h3>
<p>味辛，性寒有毒，不載經絡。主疹瘻痂瘍，白禿皮膚，殺蟲蝨，墜胎絕孕，解金銀銅錫毒，熔化還復為丹服之，神仙不死，畏磁石砒霜。</p>
<p>按：水銀療蟲疹等證，良由其毒也，又殺五金毒者，蓋以其性陰柔，能消五金為泥耳。入耳能食腦至盡，入肉令百節攣縮，倒陰絕陽，性滑重，極易入肉，最宜謹之。能下死胎，可灌屍骸，內傳極言其煉服之功。然後世食之者，往往喪生，可為妄信者戒。</p>
<p>雷公云：凡草中取者，並朱漆中者，俱不可用。經別藥制過者勿用，曾斂過死屍，及半生半死者勿用。若在硃砂中產出者，其水銀色欲紅，收得後用葫蘆盛之，免致遺失。若先以紫背天葵，並夜交藤自然汁二味同煮，一伏時其毒自退。若修十兩，止用煎二味汁各七鎰，和合煮足為度。</p>

<h3>輕粉</h3>
<p>味辛，性寒有毒，不載經絡。主通大腸轉胞，諸瘡蟲癬，小兒疳積，輕明可愛，燒火上走者真。</p>
<p>按：輕粉即水銀所升者，本草言其無毒，誤也！外科需為要藥，但勿輕用服食。今見瘛瘲方中多用之，必能損人腸胃，不可不戒。其值頗貴，市中多燒凝水石及石膏為粉以亂真，須細辨之。</p>

<h3>銀硃</h3>
<p>味苦辛，性溫有毒。止入敷藥殺蟲，余無他用。</p>
<p>按：銀硃亦水銀燒就，中其毒者。令人發脹至死，可弗慎耶！</p>

<h3>密陀僧</h3>
<p>味鹹辛，性平有毒，不載經絡。主皮膚斑點，五痔金瘡，嗽嘔吐痰，禁瘧痢，鎮心驚，體重如金色者佳，水飛用。</p>
<p>按：密陀僧一名沒多僧，質極重，過服傷人臟。</p>
<p>雷公云：凡使搗令細，於磁鍋中安置了，用重紙袋盛柳木末於密陀僧鍋中，次下東流水，浸令滿，著火煮，一伏時足，去柳木紙袋，取密陀僧用。</p>

<h3>丹砂</h3>
<p>味甘，生者微寒無毒，煉者大熱有毒，入心經，主鎮心安神，益氣明目，通血脈，除煩滿，止消渴，療百病，殺精祟鬼邪，祛疥瘡癬蟲。久服成仙，畏鹼水，大如雞卵，形似芙蓉，破之若雲母，光明照徹者佳。</p>
<p>按：丹砂之色，屬丙丁火，心臟之所由歸也，質性沉滯，勿宜多用。青霞子云：入石見火，悉成灰燼，丹砂伏火，化為黃銀，能重能輕，能神能靈，能黑能白，能暗能明。太清云：外包人石，內含金精，先稟氣於甲，受氣於丙，出胎見壬，結魄成庚，增光歸戊。陰陽升降，各本其原，考茲二說，則服食成仙之說信矣。自唐世太平日久，膏粱之家，弗得其理，惑於方士，都致殞身，習俗成風，至今未已，斯民何辜，蒙此慘禍，其理淵奧。察之實難，吾願好事者慎之。</p>
<p>雷公云：凡使宜須細認，取諸般尚有百等，不可一一論之。有妙硫砂，如拳許大，或重一鎰一塊者，而面如鏡，若遇陰氣天雨，即鏡面上有紅漿汁出。有梅柏砂，如梅子許大，夜有光生，照見一室，有白庭砂，如菩提子許大，上面有小星現。有神座砂，不經丹鱉，服之則面白延年。其次有白金砂，澄水砂，陰成砂，辰錦砂，芙蓉砂，鏡面砂，箭鏃砂，曹未砂，土砂，金星砂，平面砂，神水砂，不可一一細述之也。</p>
<p>凡修事硃砂，先於一淨室內焚香齋沐，然後取砂以香水浴，拭乾即碎搗之，後向缽中更研，三伏時，即取一磁鍋子放了砂子，用甘草，紫背天葵，五方草各銼之，著砂上下，以東流水煮，亦三伏時，勿令水盡，關失時候，約去三分，次入青芝草，山須草半兩，蓋之，下十斤火煅，從巳至子時方歇。候冷再研似粉。如要服則入熬蜜丸，如細麻子許大，空腹服一丸。如要入藥中用，則依此法。凡煅自然炭火，五兩硃砂，用甘草二兩，紫背天葵一鎰，五方草自然汁一鎰，同東流水煮過。</p>

<h3>鍾乳</h3>
<p>味甘，性溫有毒，入肺腎二經，主泄精寒嗽，壯元氣，益陽事，安五臟，通百節，利九竅下乳汁，亦能通聲，光潤輕鬆，色如煉硝石者佳，久研忌歇，須用水飛，以摻臂上入肉不見為度，蛇床為使，惡牡丹玄石牡蒙。畏紫石英蓑草。忌羊血。</p>
<p>按：鍾乳性溫，而狀有下行之義，宜入腎經，肺即其母也，故併入之。諸家本草述其功者甚眾，惟丹溪以為剽悍之劑，不宜輕用。不煉而服，使人病淋。</p>
<p>雷公云：凡使勿用頭粗厚並尾大者，為孔公石，不是色黑，及經大火燒過，並久在地上收者。曾經藥物制者，並不得用。須要鮮明薄而有光潤者，似鷺翎管子為上，有長五六寸者。凡修事法，以五香水煮過一伏時，然後漉出。又別用甘草、紫背天葵汁漬，再煮一伏時。凡鍾乳八兩，用沉香、零陵香、藿香、甘松、白茅各一兩，以水先煮過一度了。第三度方用甘草等三味，各二兩再煮了，漉出拭乾，緩火焙之。然後入臼杵如粉，節過卻入缽中，令有力少壯者兩三人不住研，三日夜勿歇，然後用水飛淨了，以絹籠之，於日中曬令乾，又入缽中，研二萬遍，後以磁合收貯用之。</p>

<h3>礬石</h3>
<p>味酸。性寒無毒，入肺肝二經。主寒熱泄痢，白沃陰蝕，諸惡瘡癬，清喉痹，除目痛，祛固熱，禁泄瀉，收脫肛，同皂莢可吐風痰，和蜜、蠟能消癰腫。光明如水晶者佳，甘草為使，惡牡蠣畏麻黃。</p>
<p>按：礬石西方之色，宜入肺家。東方之味，宜入肝部。肺肝得令，而寒熱諸證可無虞矣，然亦收斂之劑，弗宜驟用。</p>
<p>雷公云：凡使須以磁瓶盛，放火中煅，令內外通赤，用鉗揭起蓋，旋安石蜂窠於赤瓶之中，燒蜂窠盡為度，將鉗夾出，放冷敲碎入缽中，研如粉。後於屋下掘一坑，可深五寸，卻以紙裹留坑中一宿，取出再研。每修事十兩，用石蜂窠六兩，燒盡為度，又云：凡使要光明如水晶，酸鹹澀味全者，研如粉，干磁瓶中盛。要盛得兩三升者。然後以六一泥泥於火畔，炙之令乾，乃研了白礬於瓶內，用五方草，紫背天葵二味，自然汁各一鎰，旋旋添白礬於火中逼，令藥汁干，用蓋了瓶口，復以泥泥上下，用火一百斤煅。從巳至未，去火取白礬。瓶出放冷，敲碎取礬，凡若經大火一煅，色如銀。自然伏火，銖兩不失，擂細研如輕粉，方用之。</p>

<h3>禹餘糧</h3>
<p>味甘，性寒無毒，不載經絡。主咳逆寒熱煩滿，崩中血閉癥瘕，骨節疼痛，四肢不仁，大熱痔瘻。牡丹杜仲為使，畏貝母菖蒲鐵器。</p>
<p>按：禹餘糧，因禹行山中乏食，採此充糧，故以名之，則其無毒可知矣。太乙餘糧，本是一種，今諸家往往分別，惟陳藏器所言者近是。</p>

<h3>硝石</h3>
<p>味苦辛，性大寒有毒，入心脾二經。主六腑積聚燥急，留血閉藏，天行疫痢，傷寒發狂，停痰作痞，腸風痔漏，推陳致新，解諸石藥毒。種種實熱，悉可瀉除，能墜胎服孕，大黃為使，惡苦參苦菜女菀，畏麥句姜。</p>
<p>按：硝石為太陰之精，宜入心家瀉火。而脾即其子也，故併入之。丹溪云：本經言其無毒，誤也！能化七十二種石，豈無毒而然乎？分為六種，氣味相同，俱善消化驅逐。但朴硝力緊，芒硝馬牙硝力緩，硝石風化硝玄明粉，緩而又緩也。以之治病，病退即已。本經稱其煉服補益，豈理也耶？經去：熱淫於內，治以鹹寒，佐以苦寒，古方因之，故都用大黃佐芒硝耳。</p>
<p>雷公云：凡使先研如粉，以磁瓶子於五斤火中，煅令通赤。用雞腸菜、柏子仁和作一處，分丸餅子許大，待餅子赤時，投硝石於磁瓶內，其硝石自然伏火。每四兩硝石，用雞腸菜、柏子仁共十五個，缽子盡為度。</p>

<h3>滑石</h3>
<p>味甘淡，性寒無毒，入胃膀胱二經。主利水道，實大腸，化食毒，行積滯，逐凝血，解燥渴，導乳汁，補脾胃，降妄火，白膩而無黃砂者佳，甘草石葦為使，曾曾青。</p>
<p>按：滑石甘，宜於中州，淡宜於利水，胃與膀胱之所由入也。利益雖多，終是走泄之劑，無甘草以和之，弗宜獨用也。</p>
<p>雷公云：凡使有多般，勿誤用之。有白滑石，綠滑石，烏滑石，冷滑石，黃滑石。其白滑石如方解石，色白，於石上書有白膩紋便是。綠滑石性寒有毒，不可入藥中用，烏滑石，似黑色書石上，有青白膩紋，入用妙也。黃滑石似金顆顆圓，書石上有青及黑色者，勿用，殺人。冷滑石青蒼色，書石上作白膩紋亦勿用。若滑石色似水白青色，書石有膩紋者真。凡使先以刀刮，研如粉，以牡丹皮同煮一伏時。出去牡丹皮，取滑石，卻用東流水淘過，於日中曬乾方用。</p>

<h3>石膏</h3>
<p>味辛甘。性寒無毒，入肺胃二經。主出汗解肌，緩脾益氣，生津止渴，清胃消痰，最理頭疼，與方解石相似，須瑩淨如水晶者真，雞子為使，惡莽草、馬目毒公、巴豆、畏鐵。</p>
<p>按：石膏辛走肺，甘走胃，所以主發散，仲景名為白虎，蓋有兩義，一則以入肺，一則以其性雄。苟胃弱不食，及血虛發熱者誤用之，為害不淺。</p>
<p>雷公云：凡使勿用方解石，此石雖白，不透明，其性燥。若石膏出剡州若山縣義清山，其色瑩潔如水晶，性良善也，凡使之，先於石臼中搗成粉，以密絹羅過，生甘草水飛過，去水，令乾，重研細，用之良。</p>

<h3>青鹽</h3>
<p>味鹹，性寒無毒，入腎經。主明目。止痛益氣，堅筋骨，助水臟，除心腹痛。破聚癬疥瘡。一名戎鹽，一名胡鹽。</p>
<p>按：青鹽味鹹，腎所宜也，故獨入之，水臟既補，則明目堅骨等功，何足異耶？</p>

<h3>食鹽</h3>
<p>味鹹，性溫無毒，入腎肺肝三經。主鬼蠱邪疰毒氣，洗下部䘌瘡，吐中焦痰癖，熨疝氣及納腎氣，止霍亂及心腹卒痛，殺蟲去風，明目固齒，白如霜雪者佳。炒研用。</p>
<p>按：食鹽之咸，本歸腎腑，肺即其母，肝即其子也，故併入之。本草云：食傷筋損肺水，腫及咳嗽血虛者忌之何也？蓋以咸走腎，過多則腎不能勝而受傷。於是盜食母氣，而肺氣亦損，肺損則金還剋木，夫肝主筋而藏血，肺主咳嗽而生水，數證之來，寧能免耶？</p>

<h3>雄黃</h3>
<p>味苦甘，性平有毒，不載經絡。主殺精魅鬼邪，蛇虺蠱毒，山崗瘴毒，惡瘡死肌，疥癬蟲䘌，百節中風，鼻中息肉，中惡腹痛。佩帶之，鬼神不敢近，諸毒不能傷，胎婦輔女成男。解藜蘆毒，大塊透明中無砂石者佳，研細，水飛用。</p>
<p>按：雄黃或以為黃金之苗，今有金窟處無雄黃，則斯言未足深信。夫孕婦佩之能轉女胎為男，言若不經，然里中試之者往往獲驗，則有奪造化之功，非稟太陽之精，惡能臻此。殺蠱辟邪，宜其效矣。中其毒者，以防己解之。</p>
<p>雷公云：凡使勿用黑雞黃，自死黃，夾膩黃，其臭似雄黃，只是臭不堪用，時人以醋洗之，三兩度，便無臭氣，勿誤用也。次有夾膩黃，亦似雄黃，其內一重黃，一重石，不堪用。次有黑雞黃，亦似雄黃，如烏雞頭上冠也。凡使要似鷓鴣鳥肝色為上。凡修事，先以甘草、紫背天葵、地膽、碧稜花四件，並細銼，每件各五兩，雄黃三兩，東流水入瓦鍋中煮，三伏時，方漉出，搗如粉。水飛澄去黑者，曬乾再研，方入藥用。其內有劫鐵石，又號赴矢黃，能劫子鐵。並不入藥用。</p>

<h3>紫石英</h3>
<p>味甘辛，性溫無毒，入心經。主咳逆邪氣，寧心定驚，補不足，塗腫毒，又主婦人子戶風寒，十年無孕。長石為使，畏扁青、附子、惡黃連、鮀甲、麥句姜。</p>
<p>按：紫石英為鎮重之劑，又有紫赤色，心經之所由入也，心主血，婦人得之，則血受溫補而胎可結矣。</p>

<h3>赤石脂</h3>
<p>味甘，性平無毒，入心經。主養心氣，明目益精，療腹痛下痢，癰疽瘡痔，女子崩漏產難，下胞衣，惡大黃及松脂，畏芫花。</p>
<p>按：石脂色赤，宜入心經，腹痛諸證，皆火為之殃，崩漏諸證，皆血為之禍，心主血屬火，得石脂以療之，而更何庸虞哉？</p>

<h3>寒水石</h3>
<p>味辛甘，性大寒無毒，入五臟諸經。主內外大熱，時行熱渴，腹中積聚，解巴豆毒，凡使須薑汁煮之，汁盡為度，細研用，畏地榆。</p>
<p>按：寒水石即凝水石，性極寒冷，故於五臟靡所不入。過服令人腸胃受寒，不能飲食。陶居云，夏月能為冰者佳，如此則舉世不能得矣，似乎失言。</p>
<p>雷公云：凡使先用生薑自然汁煮，汁盡為度，細研成粉，然後用之。每修十兩，用薑汁一鎰。</p>

<h3>花蕊石</h3>
<p>味性經絡，諸書不載。主金瘡止血，產婦血暈，火煅用。</p>
<p>按：花蕊之功，專主血證，能化瘀血為黃水，服之令人大虛，不宜輕用。若多用，服後當以補劑培之。</p>

<h3>陽起石</h3>
<p>味鹹，性溫無毒，入腎經。主腎絕陰痿，崩中漏下，癥瘕結氣。有云頭雨腳及鷺鷥毛者真，桑螵蛸為使，畏菟絲，惡澤瀉、官桂、蛇蛻、雷丸，忌羊血。</p>
<p>按：陽起石鹹溫之品，宜歸水臟。崩漏癥結，皆腎虛所。故咸療之，難得其真，勿宜誤用。</p>

<h3>蓬砂</h3>
<p>味苦辛，性溫無毒，入肺經。主消痰止嗽，理喉痹，破癥結，光明瑩徹者佳。</p>
<p>按：蓬砂色白味辛，端入肺部，痰嗽等證，皆肺火也，故咸治之。</p>

<h3>膽礬</h3>
<p>味酸苦辛，性寒有毒，不載經絡。主消熱殺蟲，止驚癇，吐風痰，鮮明者佳。</p>
<p>按：膽礬之功，大抵與白礬相類。惟能止驚，為少瘥耳。</p>

<h3>青礞石</h3>
<p>味辛甘，性平有毒，入肺大腸胃三經，主盪滌宿痰，消磨食積，研末細用。</p>
<p>按：礞石辛宜於肺，甘宜於胃。大腸者，肺家傳送之官也，故都入之。大損元氣，不可漫用。</p>

<h3>無名異</h3>
<p>味甘，性平無毒，不載經絡。主金瘡折傷內損，止痛生肌及長肉，消癰疽腫毒。</p>
<p>按：海內人云：石無名異絕難得，土無名異不甚貴重，豈《本經》說者為石，今所有者為土乎？用時以醋磨塗患處。</p>

<h3>玉屑</h3>
<p>味甘，性平無毒，入肺經。主除煩止渴，養神明目，寧心定驚，滅瘢痕，滋毛髮，助聲喉，美顏色。搗如米，苦酒浸之，消如泥，惡鹿角，畏款冬花。</p>
<p>按：玉屑色白性潤，宜入肺部。肺得其養，則煩渴諸證何自而生。又主滅瘢云云者，亦以肺主皮毛，功效之所必及也。</p>

<h3>自然銅</h3>
<p>味辛平，無毒，不載經絡。主破積聚，療折傷，續筋骨，散血排膿，止痛定驚，亦主產後血邪。凡使須捶碎，以甘草水煮過，又用醋浸一宿，以泥包裹之，火煅研細用。</p>
<p>按：自然銅，實銅坑中所產之石也。其色青黃如銅，不從礦煉，故名之。丹溪曰：自然銅，世以為接骨要藥，不知接骨在補氣補血，補胃補腎。俗醫惟冀速效，以罔利而用之，亦未稔其燥散之禍耳。</p>
<p>雷公云：石髓鉛，即自然銅也，方使勿用方金牙，其方金牙，真似石髓鉛。若誤餌，吐殺人，其石髓鉛色似干銀泥，味微甘。如採得，先捶碎，同甘草湯煮一伏時，漉出令乾。入臼中搗了，重篩過，以醋浸一宿至明，用六一泥泥磁器中。約盛得三升以來，放文武火中，養三日夜，才幹。便用蓋蓋了泥，用火煅兩伏時，去土，研如粉用。若修事五兩，以醋兩鎰為度。</p>

<h3>石燕</h3>
<p>性涼無毒，味與經絡，諸書不載。主五淋小便不利，腸風痔瘻。婦人產難，兩手各握一枚，立驗。研細水飛用。</p>
<p>按：《圖經》云：石燕出零稜郡，今祁陽縣沙灘亦有之，形似蚶而小，其實石也。觀其主治，都是行下之功，食療贊其補益，似未然耳。</p>

<h3>磁石</h3>
<p>味辛鹹，性寒無毒，入腎經。主周身濕痹，肢節中痛，目昏耳聾，補勞傷，除煩躁消腫毒，令人有子。能吸重鐵者佳，入火煅紅，醋淬七次，研絕細用。柴胡為使，惡牡丹，芥草，黃石脂。</p>
<p>按：磁石入腎，何也？蓋以性能引鐵，取其引肺金之氣入腎，使子母相生爾，水得金而清，則相火不攻自去，故主治如上。然久服多服，必有大患，勿喜其功而忽其害也。</p>
<p>雷公云：凡使勿誤用玄中石並中麻石，此二石真相似磁石，只是吸鐵不得。中麻石心有赤，皮粗。是鐵山石也。誤服之，令人生惡瘡，不可療。磁石一片，四面吸鐵一斤者，此名延年沙。四面吸得鐵八兩者，號曰續採石。四面吸得五兩上下者為磁石。凡修事一斤，用五花皮一鎰，地榆一鎰，故懸十五兩，二件並細銼，於石上捶碎，作二三十塊，半磁石入磁瓶中，下草藥，以東流水煮三日夜，漉出拭乾，以布裹之，向大石上再捶，令細，入乳缽中，研極細如塵，以水飛過，又研如粉用之。</p>

<h3>硫黃</h3>
<p>味酸，性大熱有毒，入命門經。主下焦虛冷，陽絕不起，頭禿，疽痔癬疥，心腹痃癖，腳膝冷疼，虛損泄精。瑩淨無夾石者良，甘草湯煮過用，畏朴硝、細辛、飛廉，忌百般禽獸血。</p>
<p>按：硫黃為火之精，宜入命門補火，蓋人有真火，寄於右腎，苟非此火，則不能有生。此火一熄，則萬物無父，非硫黃孰與補者。太清云：硫稟純陽，號為將軍，破邪歸正，返濁還清，挺立陽精，消陰化魄。戴元禮云：熱藥皆燥，惟硫黃不燥，則先賢常頌之矣。今人絕不用之，誠虞其熱毒耳，然有火衰之證，余此莫療。亦畏而遺之可乎？中其毒者，以豬肉、鴨羹、余甘子湯解之。</p>
<p>雷公云：凡使勿用青赤色，及半白半黃、半赤半黑者。自有黃色如雛雞初出殼者為真。凡硫四兩，先以龍尾蒿自然汁一鎰，東流水三鎰，紫背天葵汁一鎰，粟逐子莖汁四鎰，合之攪勻，入瓦鍋，用六一泥固濟底下，將硫黃碎之，入於鍋中，以前件藥汁，旋旋添入水煮之，汁盡為度。再以百部末十兩，柳蟲末二斤，一簇草二斤，細銼之，以東流水並藥等同煮硫黃二伏時，去諸藥，取出用甘草湯洗了，入缽中，研二萬遍，方妙。</p>

<h2>果部</h2>

<h3>陳皮</h3>
<p>味辛苦，性溫無毒，入肺肝脾胃四經。主下氣消食，化痰破結，止嘔咳，定霍亂，療吐瀉，利小便，通五淋，逐膀胱留熱，殺寸白諸蟲，核治腰痛疝痛，葉治乳癰脅癰，肉能止渴，多食令人氣逆生痰。去白者兼能除寒發表，留白者兼能補胃和中，微炒用，產廣中，陳久者良。</p>
<p>按：陳皮辛苦之性，能泄肺部。金能制水，故入肝家，土不受侮，故入脾胃，採時性已極熱，如人至老成，則酷性漸減，收藏又復陳久，則多歷梅夏，而烈氣全消，溫中而無燥熱之患，行氣而無峻削之虞，中州之勝劑也。乃大全以為多用獨用，有損脾胃，師心之過耳。</p>

<h3>青皮</h3>
<p>味苦酸，性溫無毒，入肝脾二經。主破滯氣，愈用而愈效；削堅積，愈下而愈良。引諸藥至厥陰之分，下飲食入太陰之倉，消溫瘧熱甚結母，止左脅鬱怒作痛，去肉微炒用。</p>
<p>按：青皮即橘之小者，酸能瀉水，宜走肝經，溫能輔導，宜歸脾部。其性峻削，多服傷脾虛羸。</p>

<h3>枳殼</h3>
<p>味辛苦酸，性微寒無毒，入肺、肝、胃、大腸四經。主下胸中至高之氣，消心中痞塞之痰，泄腹中滯塞之氣，去胃中隔宿之食，削腹內連年之積，疏皮毛胸膈之病，散風氣癢麻，通大腸閉結，止霍亂，療腸風，攻痔疾，消水腫，除風痛。去瓤核麩炒，用陳久者良。</p>
<p>按：枳殼辛歸於肺，酸歸於肝，大腸者肺之腑也，胃者上焦之腑也，故均入之。刮下枳茹，其效更速。</p>
<p>雷公云：凡使勿用枳實，緣性效不同，若使枳殼，取辛苦酸，並有油，能消一切癖塊，陳久年深者為上，用時先去瓤，麩炒過，待麩焦黑取出，用布拭去焦黑，後再搗如粉用之。</p>

<h3>枳實</h3>
<p>味苦酸，性微寒無毒，入心脾二經。主消胸中之癖滿，逐心下之停水，化日久之稠痰，削年深之堅積，除腹脹，消宿食，定喘咳，下氣逆。麩炒用。</p>
<p>按：枳實，即枳殼之小者，苦宜於心，脾者心之子也，故併入之。其性猛烈，有沖牆倒壁之功，氣弱者忌之。考青皮陳皮同一種，枳殼枳實同一種，但採有遲早，分老嫩而名也。四者主治，咸以導滯為功，然嫩者性酷治下，老者性緩治高之別爾。</p>

<h3>杏仁</h3>
<p>味甘苦，性溫有小毒，入肺大腸二經。主胸中氣逆而喘嗽，大腸氣秘而難便，及喉痹喑瘂。痰結煩悶，金瘡破傷，風熱諸瘡，中風諸證，蛇傷犬咬，陰戶痛癢，並堪搗敷，沸湯泡去皮尖炒用。得火良，惡黃芩黃耆，葛根，畏蘘草，解錫毒及中狗肉毒，雙仁者能殺人，杏子不可多食，能損筋骨眼目。</p>
<p>按：杏仁入肺者，經所謂肺苦氣上逆，急食苦以瀉之是也。大腸則共肺為傳送者也，宜併入之。考《左慈秘訣》，稱杏仁為草金丹，久服成仙，方書又云：服杏仁者，往往至二三年或瀉，或臍中出物，皆不可治，二說相背，然杏仁主散，痰從腠理中發散而去，且有小毒。則方書之說，最為近理，《秘訣》所言，意者功在法制，亦未可知，然終屬虛渺，勿宜盡信。</p>
<p>雷公云：凡使須以沸湯浸，少時去皮膜及尖，擘作二片，用白火石並烏豆杏仁三件，於鍋中下東流水煮，從巳至未，其杏仁色褐黃，勿用。修治一斤，用白火石一斤，烏豆三合，水旋添，勿令間，斷為妙也。</p>

<h3>桃仁</h3>
<p>味苦甘，性平無毒，入肝大腸二經，主瘀血血閉，癥瘕鬼邪，血燥便結，殺三蟲，止心痛。沸湯泡去皮尖炒用。花，主殺鬼疰，悅顏色，利二便，下諸蟲。勿用千葉者，令人鼻衄。毛，主血瘕積聚崩帶諸疾。桃蟲，主殺精鬼邪惡不祥，葉，主惡氣客忤，陰戶生蟲痛癢，及瘡中蟲。桃實，多食令人發熱。</p>
<p>按：桃仁行血，宜入肝經，性潤，宜入大腸，典術云；桃為五木之精，故花仁子葉，俱能壓邪殺鬼。</p>
<p>雷公云：凡使須泡去皮尖，用白朮、烏豆二味，和桃仁，同於瓦鍋中煮一伏時，後漉出，用手擘作兩片，其心黃如金色乃用之，花勿用。千葉者，能使人鼻衄不止目黃。凡用揀令淨，以絹袋盛，於檐下懸，令乾，用鬼髑髏，勿使干桃子，其鬼髑髏，只是千葉桃花結子在樹上不落者，於十一月內採得，可為神妙。凡修事以酒拌蒸，從巳至未，焙乾，以銅刀切片，焙取肉用。</p>

<h3>大棗</h3>
<p>味甘，性平無毒，入心脾二經。主和百藥，益五臟，潤心肺，養脾胃，補精氣，生津液，通九竅，強筋骨，祛邪氣，悅顏色。去核用，殺烏豆毒，忌生蔥。</p>
<p>按：棗之入脾者，經所謂五味入口，甘先歸脾是也。心則生脾者也，宜併入之。多服能壅脾作脹，而中滿及齒痛風疾者，咸非所宜。</p>

<h3>烏梅</h3>
<p>味酸，性溫無毒，入肺腎二經。主生津液，解煩熱，止吐逆，陰瘧瘴，止久痢，消酒毒，又主皮膚黑點，痹不仁，去核用。</p>
<p>按：烏梅入肺者，經所謂肺欲收，急食酸以收之是也。腎則其所生者也，宜併入之。多食最能損齒。風寒初起，瘧疾未久者，不可驟以此收斂也。</p>

<h3>藕</h3>
<p>味甘，性平無毒，入脾經，主散瘀血，止吐衄，解熱毒，消食止渴，除煩解酒，和蜜食之，能肥腹臟，不生諸蟲。煮熟食之，能實下焦，大開胃脘。其節尤佳，其皮散血不凝。蓮子，主清心醒脾，補中養神，進飲食，止瀉痢，禁泄精，除腰痛，久服耳目聰明。宜去心蒸熟用。蓮鬚，主益腎澀精。荷葉，主雷頭風，破血止渴。荷蒂，主安胎，逐瘀血，留好血，止血痢。</p>
<p>按：藕味甘溫，宜歸脾臟，脾實裹血，故治血證。多服蓮子，令人氣滯，多服蓮鬚，令人秘結。荷葉形如仰盂，其象為震，震為雷，屬木化風，故治雷頭風，枳朮丸用之，取其引升少陽經清氣耳，荷蒂在中，故能中守，又能行血者，性溫之功也。</p>

<h3>枇杷葉</h3>
<p>味苦，性平無毒，入肺經，主除嘔和胃，解渴止嗽，下氣清痰。刷去黃毛，蜜炙用。枇杷，主潤五臟，止吐解渴。</p>
<p>按：枇杷葉入肺，苦能泄氣故也，不去黃毛，射入肺中，發咳不已，枇杷多食，亦能發熱生痰。</p>
<p>雷公云：凡使採得後秤，濕者葉重一兩，乾者三葉重一兩者，是氣足堪用。使粗布拭上毛令盡，用甘草湯洗一遍，卻用綿再拭令乾，每一兩以酥一分炙之，以酥盡為度。</p>

<h3>石榴皮</h3>
<p>味酸澀，性溫無毒，入大腸腎二經，主精漏下痢，筋骨風痛，腳膝難行，目流冷淚，腸風下血。殺牙蟲，染鬚髮。其子止渴。其花百葉者，主心熱，療吐血。為末吹鼻中，止衄血及金瘡血。</p>
<p>按：腸滑則患血痢，腎滑則患遺泄。榴者留也，故入茲二經。然痢積未盡者，不可先以此澀之。多服能變隔成痰，其子不宜過食，能損肺壞齒，其花色赤屬火，宜入心家而主血。雷公云：凡使皮葉根，勿令犯鐵，若使石榴殼，不計乾溼，先用漿浸一宿，至明漉出，其水如墨汁，若使枝根葉並用，漿水浸一宿，方可用之。</p>

<h3>山楂</h3>
<p>味甘酸，性平無毒，入脾經。主健脾消食，散結氣，行滯血，理瘡瘍。</p>
<p>按：山楂之甘，宜歸脾臟，消食積而不傷於刻，行氣血而不傷於蕩。產科用之，療兒枕疼，小兒尤為要藥。</p>

<h3>梨</h3>
<p>味甘，性寒無毒，入心肺二經，主心經客熱，肺臟煩熱，止嗽消痰，清喉降火，解渴除煩，消風潤燥。</p>
<p>按：梨之入心經，所謂以甘瀉之是也。火清而金不受爍，故亦入肺經。性冷而利，多食損脾。丹溪曰：梨者利也，流利下行之謂也。乳婦及金瘡忌用。</p>

<h3>柿</h3>
<p>味甘澀性寒無毒，入心肺大腸三經，主潤心肺，通耳鼻，消痰嗽，清火熱，除渴解酒，祛腸內宿血，止口中吐血。忌同蟹食。柿干潤喉降火，補虛殺蟲，厚腸止痢。柿蒂，主呃逆。</p>
<p>按：柿之色赤，宜歸心臟，性潤宜歸肺家。大腸則共肺為傳送者也，故亦入之。性冷傷脾，不宜多用。若同蟹食，令人腹痛大瀉，柿干及蒂，總屬寒涼，都能清火。</p>

<h3>芡實</h3>
<p>味甘，性平無毒，入心腎脾胃四經。主安五臟，補脾胃，益精氣，止遺泄，暖腰膝，去濕痹，明耳目，治健忘。</p>
<p>按：芡實之甘，宜歸脾胃，土得其宜，則水不受克，火亦無盜食之虞，故又入心腎二經。多食壅氣，最難消化，嬰兒食之不長，老人食之延年。</p>

<h3>胡桃</h3>
<p>味甘，性平無毒，入肺肝腎三經。主通血脈，潤肌膚，補下元。同松脂可敷瘰癧，同熱酒能理撲傷。去衣用，過食動風生痰。</p>
<p>按：胡桃入肺，故主肌膚，入肝故主血脈。其性屬火，能補相火，故亦入腎經。火能剋金，多食則傷肺，故能動風生痰。瀉痢及感冒風寒者忌用。</p>

<h3>龍眼</h3>
<p>味甘，性溫無毒，入心脾二經。主補血氣，養肌肉，益虛氣，美顏色，除健忘，治怔忡，增智慧，明耳目，久服延年。</p>
<p>按：龍眼甘溫之品，脾家所悅。心者脾之母也，母無顧子之憂，則心血可，保故入茲，二經然甘能作脹，凡中滿氣隔之證，均宜遠之。</p>

<h3>橄欖</h3>
<p>味甘澀，性溫無毒，入脾胃二經。主開胃下氣，消食化酒，治渴止瀉，解諸魚毒，核中仁，可塗口唇燥裂。</p>
<p>按：橄欖甘溫之性，宜職脾胃，然性熱能致上壅，亦不可多食。</p>

<h2>谷部</h2>

<h3>麥芽</h3>
<p>味甘鹹，性溫無毒，入脾胃二經，主溫中下氣，開胃健脾，催生下胎，去宿食，除脹滿，止吐逆，破癥結，消痰痞，炒去芒，再炒焦黃研用，蜜為之使。</p>
<p>按：麥芽甘而且溫，宜職中州。夫麥性泥滯，不過水浸生芽，氣雖少清，性猶未化。功效何若是殊哉？全在多炒，使其性枯爾，不然是積食矣，豈復能消耶？丹溪云：大麥有火，能生熱病，其芽能行上焦滯血，除腹內寒鳴，然多用久服，令人消腎。</p>

<h3>神麯</h3>
<p>味甘性溫無毒，入脾胃二經，主調中止瀉，開胃消食，破癥結，逐積痰，除脹滿，又主胎上搶心，血流不止，亦能下鬼胎。</p>
<p>按：神麯甘溫，為脾胃所喜，故兩入之，本小麥面造成，須得六神氣者良，不爾，與麵餅何異？其法於六月六日用面五斤，象白虎；蒼耳草、自然汁一碗，象勾陳；野藜自然汁一碗，象螣蛇；青蒿自然汁一碗，象青龍；杏仁去皮尖五兩，及北方河水，象玄武；赤小豆煮熟去皮四兩，象朱雀；一如造麴法，懸風處經年用。</p>
<p>雷公云：凡使搗作末後，掘地坑深二尺，用物裹納坑中，經宿取出，焙乾用。</p>

<h3>酒</h3>
<p>味苦甘，性大熱有毒，入十二經。主驅邪氣，闢穢惡，御霧露，解瘴癘，溫脾胃，破癥結，助藥力。厚腸胃，駐顏色，通行血脈，榮養肌膚，忌諸甜物及乳同食。</p>
<p>按：酒之為用，無微不達，故諸經皆入之。主療雖宏，能發濕中之熱，過飲則相火冒炎，肺經受爍，輒致痰嗽。脾因火而困倦，胃因火而嘔吐，心因火而昏狂，肝因火而善怒，膽因火而忘懼，膀胱因火而精枯。甚者，勞嗽吐衄，哮喘蠱脹，癲癇癰疽。流禍不小，尚或不節，死亡立至，可不謹乎？</p>

<h3>醋</h3>
<p>味酸，性溫無毒，入肝經，主胃脘氣痰，癥瘕積聚，產後血暈，去瘀生新，同胡粉止鼻中血，同雄黃治蜂蠍蛇傷，漬黃蘗可治口瘡，磨南星可敷瘤癧，調飛面堪塗癰腫，和石灰除腋氣，反蛤肉。</p>
<p>按：經曰：東方之木其味酸，醋之所以端入肝也，能傷筋損齒，不宜多食。</p>

<h3>飴糖</h3>
<p>味甘，微溫無毒，入肺脾二經。主和脾潤肺，補虛止渴，消痰理嗽，建中斂汗。</p>
<p>按：肺喜潤，脾喜甘，宜飴糖之入二經也。建中湯用之，取其甘緩，丹溪以為能生胃火，此損齒之因，非土製水，乃濕土生火也，中滿嘔吐及濕熱之證，皆不宜服。</p>

<h3>胡麻子</h3>
<p>味甘，性平無毒，入肺脾二經。主傷中虛羸，補五內，益氣力，潤肌膚，填腦髓，堅筋骨，療金瘡，止痛除瘡，及傷寒溫瘧，大吐後虛熱羸困，利大小腸，催生落胞，久服耳目聰明，辟穀延年，水淘去浮者，酒蒸曬乾，去粗皮，留薄皮。</p>
<p>按：胡麻性潤而味甘，脾肺之所由歸也，仙經需為要藥，取其補虛殊勝，脾家有火，大腸燥結者，始為相宜，不然，恐有泄痢之患。</p>
<p>雷公云：凡使有四件八稜者兩頭尖，紫黑色者，又呼胡麻，並是誤也。其巨勝有七稜，色赤味澀酸是真。又呼烏油麻，作巨勝，亦誤者，修事一斤，先以水淘，浮去之，沉者漉出令乾，以酒拌蒸，從巳至亥，取出攤曬乾，於臼中舂去粗皮一重，拌小豆，相對同炒，小豆熟，即出去小豆，用之，上有薄皮留用，力在殼也。</p>

<h3>白扁豆</h3>
<p>味甘，性微溫無毒，入脾經。主補脾益氣，和中止瀉，醋製能療霍亂轉筋，解酒毒及河魨毒，一切草木毒。葉主蛇蟲咬傷，花主赤白帶下。</p>
<p>按：扁豆性味，皆與脾家相得，宜獨入之，然此劑最為泥膈，惟入健脾藥中，則能補脾，若單食多食，極能壅氣傷脾，本草稱其下氣，恐非。</p>

<h3>赤小豆</h3>
<p>味甘酸，性平無毒，入心經，主消熱毒，排癰腫，解煩熱，補血脈，止泄瀉，下水氣，利小便，除大便血，解小麥毒。</p>
<p>按：赤小豆，南方心火之色也，故獨入之。經曰：諸瘡痛癢，皆屬心火，又曰：心主血也，故主療如上。小腸者，即受盛而與心應者，故亦能利之。衍義曰；久服令人黑瘦結燥，亦以利小便之故耳。</p>

<h3>芝麻</h3>
<p>味甘。性溫無毒，入胃大小腸三經。主行風氣，通血脈，滑腸胃，潤肌膚，生嚼可敷小兒頭瘡，麻油主治相同，能殺蟲治疥癬，解百毒。</p>
<p>按：芝麻味甘，宜歸胃腑，性滑利，宜入大小腸。總是潤澤之劑，故能通血脈，血脈通則風氣自行，肌膚自潤矣。乳母食之，令兒無熱病，不宜久食，令人滑精消瘦，發渴困脾，有牙疼及脾胃疾者，尤所當戒。</p>

<h3>豆豉</h3>
<p>味苦，性寒無毒，入肺經。主傷寒頭痛寒熱，惡毒瘴氣，煩躁滿悶，虛勞喘吸。</p>
<p>按：豉之入肺，所謂肺苦氣上逆，急食苦以泄之之意也。傷寒瘴氣，肺先受之，喘吸煩悶，亦肺氣有餘耳，向弗治耶。</p>

<h3>綠豆</h3>
<p>味甘，性寒無毒，入心胃二經。主除熱毒，厚腸胃，散風消腫下氣，補臟養神，留皮用。</p>
<p>按：綠豆寒則入心而瀉火，甘則入胃而和中，禹錫具稱其補益，宜長食之，又堪作枕，能明目，治頭痛。</p>

<h1>卷二</h1>

<h2>草部上</h2>

<h3>人參</h3>
<p>味甘，性微溫無毒，入肺經，補氣活血，止渴生津，肺寒可服，肺熱傷肺，去蘆用，茯苓為使，惡滷咸及藜蘆。</p>
<p>按：參之用，臟腑均補，何功之宏也。蓋人生以氣為樞，而肺主氣，經所謂相傳之官，治節出焉。參能補氣，故宜入肺，肺得其補，則治節咸宜，氣行而血因以活矣。古方用以解散，亦血行風自滅之意也。至於津液，藏於膀胱，實上連於肺，故有生津液之功。肺寒者氣虛血滯，故曰可服。肺熱者火炎氣逆，血脈激行，參主上升，且能溶血，故肺受傷也。性本疏通，人多泥其作飽，不知少服則壅，多則反宣通矣。</p>
<p>雷公云：凡使要肥大，塊如雞腿，並似人形者。採得陰乾，去四邊蘆頭，並黑者，銼入藥中，夏中少使，發心痃之患也。</p>

<h3>黃耆</h3>
<p>味甘，性微溫無毒，入肺脾二經，內托已潰瘡瘍，生肌收口，外主表虛盜汗，腠理充盈。惡龜甲，白蘚皮。</p>
<p>按：黃耆之用，專能補表，肺主皮毛，脾主肌肉，故均入之。已潰瘡瘍及盜汗，皆表虛也，故咸用之。裡虛者忌服，恐升氣於表，愈致其虛。表邪者忌服，恐益其邪也。惟表虛邪湊不發汗者，可酌用之，生者亦能瀉火。</p>
<p>雷公云：凡使勿用水耆草真相似，只是生時葉短並根黃，先須去頭上破皮了，蒸半日出，後用手擘令細，於槐砧上銼用。熊氏曰：黃耆動三焦之火。</p>

<h3>甘草</h3>
<p>味甘，平無毒。入心脾二經，生則分身梢而瀉火，炙則健脾胃而和中，解百毒，和諸藥。甘能緩急，尊稱國老，白芷、乾漆，苦參為使，惡遠志，反甘遂、海藻、大戟、芫花，忌豬肉、菘菜。</p>
<p>按：味甘入脾，為九土之精，安和七十二種金石，一千二百種草木，有調攝之功，故名國老。然性緩不可多用，一恐甘能作脹，一恐藥餌無功，惟虛人多熱及諸瘡毒者，宜倍用，中滿及初痢者忌之，所謂脾病人毋多食甘也。</p>
<p>雷公云：凡使須去頭尾尖處，其頭尾吐人，每斤切長三寸，余劈破作六七。凡使用器中，盛酒浸蒸，從巳至午出，曝乾細割，使一斤用酥七兩塗上，炙三盡為度，先炮令內外赤黃用良。</p>

<h3>當歸</h3>
<p>味甘辛，性溫無毒，入心肝肺三經。頭，止血而上行。身，養血而中守。梢破血而下流。全活血而不走。氣血昏亂，服之而定，各歸所當歸，故名。酒浸用，惡䕡茹，畏菖蒲、海藻、牡蒙。</p>
<p>按：當歸，血藥也，心主血，肝藏血，脾裹血，故均入之。用分為四，亦親上親下之道也。</p>
<p>雷公云凡：一齊用，不如不使，服亦無效，未可盡信，性泥滯風，邪初旺及氣鬱者，宜少用之。</p>
<p>雷公云：使先去塵，並頭尖硬處一分以來，酒浸一宿，若要破血，即使尾。若要止痛止血，即用頭硬實處。若養血，即用中身。若全用，不如不使，服食無效，單使妙也。</p>

<h3>川芎</h3>
<p>味辛甘，性溫無毒，入肝經，上行頭角，引清陽之氣而止痛；下行血海，養新生之血以調經。久服令人暴亡。白芷為使，畏黃連，小者名撫芎，主開鬱。</p>
<p>按：川芎入肝經，能補血矣，何云暴亡？以其氣升陽，其味辛散，善提清氣，於上部有功，然宜中病即已。若久用，則虛逆且耗，故有此患，凡氣升痰喘火劇中滿等證，不宜用之。</p>

<h3>山藥</h3>
<p>味甘，性溫無毒，入脾肺腎三經。補陰虛，消腫硬，健脾氣，長肌肉，強筋骨，療乾咳，止遺泄，定驚悸，除瀉痢。乳制用。紫芝為使，喜門冬，惡甘遂。</p>
<p>按：丹溪曰：山藥屬土，而有金與水，宜入脾肺腎而補虛。經曰：虛之所在，邪必湊之，腫硬之謂也。得補則邪自去，脾自健，於是土盛生金，金盛生水，功效相仍矣。然單食多食，亦能滯氣。</p>

<h3>白朮</h3>
<p>味苦甘，性溫無毒，入脾經。除濕利水道，進食強脾胃。佐黃芩以安胎，君枳實而消痞。止泄瀉，定嘔吐，有汗則止，無汗則發。土炒用。防風地榆為使，忌桃、李、雀肉、青魚菘菜。</p>
<p>按：白朮甘而除濕，所以為脾家要藥，胎動痞滿吐瀉，皆脾弱也。用以助脾諸疾自去，有汗因脾虛，故能止之。無汗因土不能生金，金受火克，皮毛焦熱，既得其補脾，又藉其甘溫，而汗可發矣。傷寒門有動氣者，不宜用之。</p>

<h3>蒼朮</h3>
<p>味甘辛，性溫無毒，入脾胃二經。主平胃健脾，寬中散結，發汗祛濕，壓山崗氣，散溫瘧。泔浸一宿，換泔浸，炒用，使忌同白朮。</p>
<p>按：蒼朮辛甘祛濕，脾胃最喜，故宜入之。大約與白朮同功，乃藥性謂其寬中發汗，功過於白，固矣。又謂其補中除濕，力不及白，於理未然。夫除濕之道，莫過於發汗，安有汗大發而濕未除者也？濕去而脾受其益矣。若以為發汗，故不能補中，則古何以稱之為山精。煉服可長生也？亦以其結陰陽之精氣。俗醫泥其燥而不常用，不知脾為臟主，所喜惟燥，未有脾氣健而諸臟猶受其損者，獨火炎土燥脾虛作悶者忌之，恐益其火也。</p>

<h3>白芍藥</h3>
<p>味酸苦，性微寒有小毒，入肝經。主怒氣傷肝，胸腹中積聚，腰臍間瘀血，腹痛下痢，目疾崩漏，調經安胎。赤者專主破血利小便，除熱明眼目。雷丸、烏藥、沒藥為使，惡石斛，芒硝，畏硝石、鱉甲、小蘇，反藜蘆。</p>
<p>按：白芍酸走肝，故能瀉水中之火，因怒受傷之證，得之皆愈。積聚腹痛，雖脾之病，然往往亢而承製，土及似木之象也。經曰：治病必求於本。今治之以肝，正其本也。目疾與婦人諸證，皆血之病得之，以伐肝邪，則血自生而病自已，故四物湯用之，亦以婦人多氣也。今竟稱其補血之效而忘其用，可耶？新產後宜酌用之，恐酸寒伐生生之氣也，血虛者煨用，痛痢者炒用。</p>
<p>雷公云：凡採得後，於日中曬乾，以竹刀刮去粗皮，將蜜水拌蒸，從巳至未，曬乾用之。</p>

<h3>生地黃</h3>
<p>味甘苦，性寒無毒，入心肝脾肺四經。涼心火之煩熱，瀉脾土之濕熱，止肺經之衄熱，除肝木之血熱。忌見鐵器，當歸為使，得麥門冬酒良。惡貝母，畏蕪荑、萊菔及子。</p>
<p>按：生地黃總是涼血之劑，故入四經以清諸熱。老人津枯梗結，婦人崩漏，及產後血攻心者，尤為要藥。實脾藥中用二三分，使脾家永不受邪。血虛寒者忌之。</p>

<h3>熟地黃</h3>
<p>味甘苦，性溫無毒，入心肝腎三經。活血氣，封填骨髓；滋腎水，補益真陰。傷寒後脛股疼痛，新產後臍腹難禁。利耳目，烏鬚髮，治五勞七傷，能安魂定魄。使忌畏惡，俱同生地，性尤泥滯，姜酒浸用。</p>
<p>按：熟地黃為補血之劑，而心與肝，藏血生血者也，故能入焉。其色黑，其性沉陰重濁，經曰：濁中濁者，堅強骨髓，腎主骨，故入之。精血既足，則脛股臍腹之證自愈，耳目鬚髮，必受其益，而勞傷驚悸，並可痊矣。</p>
<p>雷公云：採得生地黃，去白皮，磁鍋上柳木甑蒸之，攤令氣歇，拌酒，再蒸，又出令乾，勿令犯銅鐵，令人腎消，並白髮，男損營，女損衛也。</p>

<h3>知母</h3>
<p>味苦，性寒無毒，入腎經。瀉無根之腎火，療有汗之骨蒸，止虛勞之陽勝，滋化源之陰生。勿犯鐵器，犯之損腎，燒去毛，鹽酒炒用。</p>
<p>按：知母入腎，為生水之劑，水盛則火熄。所謂壯水之主，以制陽光也。口渴乾咳眼花目眩，便赤腰痛，褥勞，煩躁不眠，此皆陽盛陰衰之證，服之皆愈。若肺家寒嗽，及腎氣虛脫無火者，禁用。</p>
<p>雷公云：凡使先用槐砧上捶銼，燒乾，木臼中杵搗。勿令犯鐵器。行經上頸。酒炒用。</p>

<h3>貝母</h3>
<p>味辛苦，性微寒無毒，入心肺二經。清心潤肺，止嗽消痰，主胸腹氣逆，傷寒煩熱，淋瀝瘕疝，喉痹，金瘡，人面瘡，癭瘤諸惡瘡。去心研用，厚朴白薇為使，惡桃花，畏秦艽、礬石、莽草，反烏頭。</p>
<p>按：貝母辛走肺，苦走心，善能散郁瀉火，故治胸腹云云等疾。</p>
<p>雷公云：凡使先於柳木火中炮令黃，擘破去肉，口鼻上有米許大者，心一小顆。後拌糯米，於鍋上同炒。待米黃熟，然後去米取出，其中有獨顆圍，不作兩片無皺者，號曰丹龍精，不入藥中。若誤服，令人筋血脈永不收，用黃精小鹽汁，合服立愈。</p>

<h3>黃芩</h3>
<p>味苦平，性寒無毒，入肺大腸膀胱膽四經。主崩淋熱疽，痛痢惡瘡，解毒收口，去翳明目，調經安胎。中枯而飄者，瀉肺火，消痰利氣，除風濕留熱於肌表。細實而堅者，瀉大腸火，養陰退陽，滋化源，除熱於膀胱。山茱萸、龍骨為使，惡蔥實，畏丹砂，牡丹，藜蘆、沙參，丹參。</p>
<p>按：芩，枯飄者有上升之象，故入肺，堅實者有下行之理，故入大腸諸經，性甚寒，苟無實火，不宜用之。</p>

<h3>黃連</h3>
<p>味苦，性寒無毒，入心經。主心火炎，目疾暴發，瘡瘍紅腫，腸紅下痢，痞滿泄瀉小兒疳熱，消口中瘡，驚悸煩躁，天行熱疾。黃芩、龍骨、連翹、滑石為使，惡菊花、芫花、玄參、白蘚、白殭蠶，畏款冬花，解巴豆、烏頭毒，忌豬肉、冷水。</p>
<p>按：黃連味苦瀉心，治心火諸病不可缺。瀉痢雖屬脾經，正由火不能生土，況心與小腸相為表裡，心火瀉則小便亦利，而腸胃自厚矣。因寒得瀉者忌之，又久病氣虛，心火不盛者，用之則愈虛，虛火反熾。</p>
<p>雷公云：凡使以布拭去髭毛，然後用漿水浸二伏時，漉出，於柳木火中焙乾用。若服此藥，得十兩，不得食豬肉，若服至三年，一生不得食豬肉也。</p>

<h3>大黃</h3>
<p>味苦，性大寒無毒，入脾胃大腸心肝五經。性沉而不浮，用走而不守，奪土鬱而無壅滯，定禍亂而致太平，名曰將軍。又主癰腫及目疾痢疾暴發，血關火閉，推陳致新。黃芩為使，無所畏，錦紋者佳。</p>
<p>按：大黃之入脾胃大腸，人所解也。其入心與肝也，人多不究。昔仲景百勞丸，庶蟲丸，都用大黃以理勞傷吐衄，意最深微。蓋以濁陰不降則清陽不升者，天地之道也，瘀血不去則新血不生者，人身之道也，蒸熱日久，瘀血停於經絡，必得大黃以豁之，則肝脾通暢，陳推而致新矣，今之治勞，多用滋陰，頻服不效，坐而待斃嗟乎，術豈止此耶？至癰腫目疾及痢疾，咸熱瘀所致，故並治之，傷寒脈弱及風寒未解者，禁用。</p>
<p>雷公云：凡使細切，內紋如水旋斑緊重，銼蒸從巳至未，曬乾，又漉，臘水蒸，從未至亥，如此蒸七度，曬乾，卻漉，薄蜜水再蒸一伏時，其大黃醬如烏膏樣子，日曬乾用之為妙。</p>

<h3>桔梗</h3>
<p>味辛，性微溫，有小毒，入肺經。主肺熱氣奔，痰嗽鼻塞，清喉利膈，能載諸藥入肺節，皮為使，畏白芨、龍眼、龍膽草。</p>
<p>按：桔梗味辛，故專療肺疾，下部藥中勿用，恐其上載而不能下達也。</p>
<p>雷公云：凡使勿用本梗，真似桔梗，咬之只是腥澀，不堪用凡，使去頭尖硬二三分以來，並兩畔，附枝子於槐砧上細銼，用百合水浸一伏時，漉出，緩火熬令乾用，每修事四兩，用生百合五分，搗作膏，投水中浸。</p>

<h3>天花粉</h3>
<p>味苦，性寒無毒，入肺心脾胃小腸五經。主肺火盛而喉痹，脾胃火勝而口齒腫痛，清心利小便，消痰除咳嗽，排膿消腫，生肌長肉，止渴退煩熱，補虛通月經。枸杞為使，惡乾薑，畏牛膝，乾漆，反烏頭。</p>
<p>按：天花粉色白入肺，味苦入心。脾胃者，心之子，肺之母也，小腸與心相為表裡，故均入焉。本功清熱，故主療頗多，其理易達，惟曰補虛通經，此甚不可泥也。夫苦寒之劑，豈能大補？以其能清火，則陰得其養，非真補也。月水不通，亦以熱閉，熱退則血盛經通，非真能通也。此治本窮源之說耳，倘因寒致疾者，可誤使哉。子名栝蔞，主胸痹。仁主潤肺下氣，止痰嗽瘵，乳癰乳閉，並宜炒用。</p>

<h3>半夏</h3>
<p>味辛平，性生寒熟溫，有毒，入肺脾胃三經。下氣止嘔吐，閉郁散表邪，除濕化痰涎，大和脾胃。須湯淋十遍，姜礬甘草制用。射干，柴胡為使，惡皂莢，畏雄黃、生薑、乾薑、秦皮、龜甲，反烏頭，忌羊肉、羊血、飴糖、海藻。</p>
<p>按：半夏味辛入肺，性燥入脾胃，中其毒者，口噤發吐，煩渴及血證勿用，惟氣證發渴者不禁。</p>
<p>雷公云：凡使勿用白傍几子，真似半夏，只是咬著誤微酸，不入藥用。若修事半夏四兩，用搗了白芥子末二兩，頭醋六兩，二味攪令濁，將半夏投中，洗三遍用之。半夏上有陳涎，若洗不淨，令人氣逆肝氣怒滿。</p>

<h3>紫蘇</h3>
<p>味甘辛，性溫無毒，入肺脾二經。葉能發汗散表，溫胃和中，除頭痛肢節痛，雙面紫者佳。不敢用麻黃者，以此代之。梗能順氣安胎。子能開鬱下氣，定喘消痰。</p>
<p>按：辛走肺，甘走脾。辛散之劑，下氣最捷，所虛者少用之。</p>

<h3>白芷</h3>
<p>味辛，性溫無毒，入肺脾胃三經。去頭面皮膚之風，除肌肉燥癢之痹，止陽明頭痛之邪，為肺部引經之劑。主排膿托瘡，生肌長肉，通經利竅，止漏除崩，明目散風，驅寒燥濕。當歸為使，惡旋覆花。</p>
<p>按：白芷味辛，為肺所喜，而溫燥為脾胃所喜，宜其入矣。然香燥而發散，主治雖多，能傷氣血，不宜多用。</p>
<p>雷公云：凡採得後，勿用四條，低處生者，此名張公藤，兼勿用馬藺，並不入藥中，採得後刮削去皮，細銼，用黃精亦細銼，以竹刀切二味等分，同蒸一伏時，候出。於日曬乾，去黃精用之。</p>

<h3>防風</h3>
<p>味辛甘，性溫無毒，入肺經。瀉肺金、療諸風，開結氣，理目痛。惡乾薑、藜蘆、白蘞、芫花，解附子毒。</p>
<p>按：防風辛走肺，為升陽之劑，故通療諸風。氣之結者，肺之疾也。目之痛者，風之患也，宜並主之。東垣云：卑賤之卒，聽令而行，隨所引而至，乃風藥中潤劑也，能瀉上焦，元氣虛者不概用，今人類犯此弊。</p>

<h3>獨活</h3>
<p>味苦甘辛，性微溫無毒，入肺腎二經。主新舊諸風濕痹，頸項難伸，腰背痠疼，四肢攣痿，黃色而作塊者為獨活。</p>
<p>按：獨活氣濁屬陰，善行血分，斂而能舒，沉而能升，緩而善搜，可助表虛，故入太陰肺，少陰腎，以理伏風。</p>

<h3>羌活</h3>
<p>味苦甘平，性微溫無毒，入小腸膀胱二經。散入表風邪，利周身即痛，排巨陽腐肉之疽，除新舊風濕之證，紫色而節密者為羌活。</p>
<p>按：羌活氣清屬陽，善行氣分，舒而不斂，升而能沉，雄而善散，可發表邪，故入手太陽小腸，足太陽膀胱，以理遊風。其功用與獨活雖若不同，實互相表裡，用者審之。</p>
<p>雷公云：採得後細銼，拌淫羊藿，蒸二日後，曝乾去淫羊藿用，免煩人心。</p>

<h3>柴胡</h3>
<p>味苦，性微寒無毒，入肝膽心胞絡三焦胃大腸六經。主傷寒心中煩熱，痰實腸胃中，結氣積聚，寒熱邪氣，兩脅下痛，疏通肝木，推陳致新。半夏為使，惡皂莢，畏女菀、藜蘆，犯火無效。</p>
<p>按：柴胡氣味升陽，能提下元清氣上行，以瀉三焦火。補中益氣湯用之，亦以其能提肝氣之陷者，由左而升也。凡胸腹腸胃之病因熱所致者，得柴胡引清去濁而病謝矣，故入肝膽等經。《衍義》曰：《本經》並無一字言及治勞，今治勞多用之，誤人不小，勞有一種真臟虛損，復受邪熱，邪因虛而致勞者，宜用，後世得此數言，凡遇勞證，概不敢用，此所謂侏儒觀場，隨眾喧喝矣。惟勞證不犯實熱者，用之亦能殺人，誠所當慎，咳嗽氣急痰喘嘔逆者禁用，以其上升也。傷寒初起忌之，恐引邪入少陽經也。</p>
<p>雷公云：凡使莖長軟皮赤，黃髭鬚，出在平川平縣，即今銀州銀縣也。西畔生處，多有白鶴綠鶴於此翔處，是柴胡香直上云間，若有過往，聞者皆氣爽。凡採得後，去髭並頭，用銀刀削去赤薄皮少許，卻以粗布拭淨，細銼用之，勿令犯火，立便無效也。注云：柴胡乃少陽經藥也，久服令人肝膽平。</p>

<h3>前胡</h3>
<p>味苦甘辛，性微無毒，入肺肝脾膀胱四經。主傷寒痰嗽痞滿，心腹結氣，解熱開胃，推陳致新，亦止夜啼兒，佐使畏惡同柴胡。</p>
<p>按：前胡辛可暢肺，以解風寒，甘可悅脾，以理胸腹，苦能泄厥陰之火，溫能散太陽之邪。</p>
<p>雷公云：凡使勿用野蒿根，緣真似前胡，只是味粗酸，若誤用，令人反胃不受食。若是前胡，味甘氣香，凡修事，先用刀刮去蒼黑皮並髭，細銼，用甜水浸令潤，於日中曬乾用之。</p>

<h3>香附</h3>
<p>味辛甘，性溫無毒，入肺肝脾胃四經。疏氣開鬱，消風除癢，便醋製用。</p>
<p>按：香附味甘辛，故主發散疏通，以入肺肝脾胃，類稱女科聖藥者，蓋以婦人心性偏熱，多氣多郁，血因氣鬱，則不能生耳。不知惟氣實血不大虛者宜之。不然，損其氣，燥其血，愈致其疾，惜乎未有發明，而俗多受女科聖藥一句之累矣！性燥，故便制以潤之，性散故醋製以斂之。</p>

<h3>麻黃</h3>
<p>味甘苦，性溫無毒，入肺心大腸膀胱四經。主散在表寒邪，通九竅，開毛孔，破癥結，除積聚。去根節者，大能發汗。根節能斂汗。厚朴為使，惡辛夷，石葦，陳久者良。</p>
<p>按：麻黃端主發散，宜入肺部，出汗開氣，宜入心與大腸膀胱，此驍悍之劑也。可治冬月春間傷寒瘟疫，夏季不可輕用，惟在表真有寒邪者可用，或無寒邪，或寒邪在裡，或裡虛之人，或陰虛發熱，或傷風有汗，或傷食等證。雖發熱惡寒，其不頭疼而拘急，六脈不浮緊者，皆不可用。雖可汗之證，不宜多服，蓋汗乃心之液，若不可汗而汗，與可汗而過汗，則心血為之動矣。或至亡陽，或至衄血不止，而成大患。丹溪以麻黃人參同用，亦攻補之法也，醫者宜知之。</p>
<p>雷公云：凡使去節並沫，若不盡，服之令人悶，用銅刀剪去節並頭，槐砧上用銅刀細銼，煎三四十沸，竹片掠去上沫盡，漉出，熬乾用。</p>

<h3>葛根</h3>
<p>味甘，性平無毒，入胃大腸二經。發傷寒之表邪，止胃虛之消渴，解中酒之奇毒，治往來之溫瘧，解野葛、巴豆、丹石、百藥毒。</p>
<p>按：葛根療熱解表，故入手足陽明，太陽初病未入陽明而頭痛者，不可便服以發之，恐引賊入家也，又表虛多汗者禁用。</p>

<h3>麥門冬</h3>
<p>味甘，性平，微寒無毒，入肺心二經。退肺中隱伏之火，生肺中不足之金。止消渴，陰得其養；補虛勞，熱不能侵。去心用，地黃、車前為使，惡款冬，苦瓠，畏苦參、青蓑，忌卿魚，肥大者佳。</p>
<p>按：麥門冬陽中微陰，夫陽乃肺藥，微陰則去肺中伏火。伏火去，則肺金安而能生水，水盛則能清心而安神矣。故能治血妄行，調經和脈。</p>

<h3>天門冬</h3>
<p>味苦甘，性寒無毒，入肺腎二經。保肺氣，不被熱擾，定喘促，故得康寧，止消渴，利小便，強骨髓，悅顏色，殺三蟲，去伏屍。去心用，地黃、貝母、垣衣為使，畏曾青，忌鯉魚。</p>
<p>按：天門冬氣薄主升，故入肺；味厚為陰，故入腎。虛熱者宜之，虛寒者禁用。</p>
<p>雷公云：採得了，去上皮一重，便劈破去心，用柳木甑，燒柳木柴，蒸一伏時，酒灑令遍，更添火蒸，出曝，去地二尺以來，作小架，上鋪天門葉，將蒸了天門冬攤令乾用。</p>

<h3>五味子</h3>
<p>味皮肉甘酸，核中苦辛，且都有鹹味，五味俱備，故名。性溫無毒，入肺腎二經。滋腎經不足之水，收肺氣耗散之金，除煩熱，生津止渴，補虛勞，益氣強陰。蓯蓉為使，惡葳蕤，勝烏頭，北產者良。</p>
<p>按：五味屬水，而有木火土金，故雖入肺腎，而五臟咸補，乃生津之要藥，收斂之妙劑然多食反致虛熱，蓋以收補之驟也。如火嗽輒用寒涼，恐致相激，須用此酸斂以降之。亦宜少用，肺火鬱及寒邪初起者禁用，小兒尤甚，以酸能鉤痰引嗽也。</p>
<p>雷公云：凡小顆皮皺泡者，有白撲鹽霜一重，其味酸鹹苦辛甘味全者真也，凡用以銅刀劈作兩片，用蜜浸蒸，從巳至申，卻以漿水浸一宿，焙乾用之。</p>

<h3>升麻</h3>
<p>味甘苦，性微寒無毒，入大腸脾胃肺四經。引蔥白散手陽明之風邪，引石膏止陽明之齒痛，引諸藥遊行四經，升陽氣於至陰之下，故名升麻。又主解百毒，殺精物，闢瘟疫，除蠱毒，止瀉痢。白芷為使，形輕而堅實青綠色者佳。</p>
<p>按：升麻提氣解肌，故入此四經。然奉令之使，不能益人，若下元不足者用此升之，則下虛而元氣益虧矣。藥性乃曰：元氣不足者，用此於陰中升陽，恐非惟陽氣有餘而下陷者宜之。若初病太陽證，便服升麻以發陽汗，是引賊入門，亦非所宜也。</p>
<p>雷公云：採得後，用刀刮去粗皮一重，用黃精自然汁浸一宿，漉出，曝乾細銼，蒸了曝乾後用之佳。</p>

<h3>藁本</h3>
<p>味苦辛，性微溫無毒，入小腸膀胱二經。主寒氣客於巨陽之經，若頭痛流於顛頂之上，又主婦人疝瘕，陰中寒腫痛，腹中急疼，惡䕡茹，畏青葙子。</p>
<p>按：藁本上行治風，故理太陽頭痛，下行治濕，故婦人諸證，風濕俱治，功用雖匹，尤長於風耳。</p>

<h3>細辛</h3>
<p>味辛，溫無毒，入心肝膽脾四經。止少陰合病之茴痛，散三陽數變之風邪，主肢節拘攣，風寒濕痹，溫中氣，散死肌，破結氣，消痰嗽，止目淚，療牙疼，治口臭，利水道，除喉痹，通血閉。獨活、曾青、棗根為使，惡狼毒、山茱萸、黃耆，畏硝石、滑石，反藜蘆，忌生菜、貍肉，華陰者良。</p>
<p>按：細辛辛溫，宜入心肝等經，以療在裡之風邪，其氣升陽，故上部多功。然諸證犯寒者可用，若因火熱屬陽證者忌之，單服末不可過半錢，多則氣塞不通者死。</p>
<p>雷公云：凡使一葉，揀雙葉，服之害人，須去頭上，田瓜水浸一宿，至明漉出，曬乾用。</p>

<h3>連翹</h3>
<p>味苦，性微寒無毒，入心肝膽胃三焦大腸六經。瀉六經之血熱，散諸腫之瘡瘍，利小腸，殺白蟲，通月經，療五淋，破癭瘤，解痘毒。鼠黏子為使。</p>
<p>按：連翹苦寒雖瀉六經，而心經為最，諸瘡淋閉等證，俱屬心火，故能療之。藥性曰：除六經熱，與柴胡同功，然此治血熱，柴胡治氣熱之別耳。</p>

<h3>澤瀉</h3>
<p>味甘鹹，性寒無毒，入膀胱腎三焦小腸四經。主去胞垢，退陰汗，治小便淋澀仙藥，療水病濕腫靈丹。畏海蛤，文蛤，色白者佳。</p>
<p>按：澤瀉下降為陰，專主滲泄，宜入膀胱諸經，其行水之功，過於豬苓。《衍義》曰：小便既多，腎氣焉得復實。扁鵲曰；多服病人眼。《藥性》曰：令人面光無子，乃本草稱其補虛明目治泄精消渴，《珍囊》注其生新水止虛煩，恐無是理。即六味丸中用之，以其滲去脾濕，退命門火為嚮導爾。又《藥性賦》云：補陰不足，蓋以補陰之功不足也。後世不察，謂其可以補陰分之不足，大失本旨。</p>
<p>扁鵲云：多服病人眼，一名水瀉，一名及瀉，一名芒芋，一名鵠瀉。生汝南汝澤，五月八月，採根陰乾。實味，甘無毒，主風痹消渴，益腎氣。強陰補不足，除邪濕，久服面生光，令人無子，九月採。</p>
<p>雷公云：不拘多少，細銼，酒浸一宿，漉出曝乾任用也。葉味鹹無毒，主大風，乳汁不出，產難，強陰氣，五月採。</p>

<h3>玄胡索</h3>
<p>味苦辛，性溫無毒，入心肺脾胃四經。活精血，療產後之疾，調月水，主胎前之證，一切因血作痛之證並治，酒炒行血，醋炒止血，生用破血，炒用調血。</p>
<p>按：玄胡索可升可降，為陰中之陽，故能行上下四經，此理血之劑也苟非血證，用之無益。</p>

<h3>地榆</h3>
<p>味苦甘酸，性微寒無毒，入大腸肝二經。主下部積熱之血痢，止下焦不禁之月經，又主金瘡，除惡肉，崩中帶下。得發良，惡麥門冬。</p>
<p>按：地榆沉寒屬陰，專入肝腸以理下焦，血證有熱者宜之，若虛寒下陷，血衰泄瀉者勿用。</p>

<h3>防己</h3>
<p>味辛苦，性平溫無毒，入十二經。尤善腰以下至足濕熱腫盛，療中風手腳攣急，口眼喎斜，疥癬蟲瘡，止嗽消痰，利大小便，去留熱。垣衣為使，惡細辛、萆薢，殺雄黃毒。</p>
<p>按：防己為陽中之陰，於經絡無所不入。又主降，故下部多功，象之於人，則險而健者也，用之當，則可展其能。一不當，而反階之禍。惟十二經真有濕熱壅塞，及膀胱積熱，下疰腳氣，此誠要藥，無可代者。然臭味拂人，妄服之令人減食。其不可用有四：若飲食勞倦，元氣既虧，而以防己泄大便，則重亡其血，一也；發渴引飲，熱在肺經氣分，防己乃下焦血藥，二也；外傷風寒，邪傳肺部，以至小便黃赤不通，此上焦氣分禁忌血藥，三也；久病之後，津液不行，此上焦虛渴，宜補宜甘溫，若用苦寒之劑，則速其危，四也。分木漢二種，即根苗為名，漢主水氣，木主風氣為少異耳。</p>
<p>雷公云：凡使勿使水條，以其水防己黃腥，皮皺，上有了足，子不堪用，夫使防己。要心花大黃色者佳，車前草根相對同蒸半日後，出曬，車前草去之，細銼用。</p>

<h3>常山</h3>
<p>味苦辛，性微寒有毒，入肝經。最開結痰，專理瘧疾，毒令人吐。惡生蔥、菘菜及醋。苗名蜀漆，雞骨者良。</p>
<p>按：丹溪云：常山屬金，宜伐肝邪，然其性酷，下咽令人大吐，傷脾損胃，惟精壯與痰實者宜之，老人小兒及虛弱久病勿用。</p>
<p>雷公云：凡使春使莖葉，夏秋冬用根，用酒浸一宿，至明漉出，日乾，熬搗炒用，勿令老人久病服之，大忌。</p>

<h3>草龍膽</h3>
<p>味苦澀，性寒無毒，入肝膽腎膀胱四經。退肝經之邪熱，除下焦之濕腫，明目定驚，治疸止痢，能殺疳蟲。小豆、貫眾為使，惡防葵，地黃。</p>
<p>按：《圖經》龍膽秋令開花冬間結實，屬金與水，金能制木，水入腎家、膽與膀胱，乃肝腎同部之腑也，故均入焉。夫目得肝血而能視，肝得腎水而後生，今益腎清肝，目之受明所自來矣。驚疳疸痢，皆肝膽證也，何弗治耶？</p>
<p>雷公云：採得後陰乾，欲出時，用銅刀切去髭上頭丁，於甘草湯中浸一宿，至明漉出，曝乾用，勿空腹食之，令人溺不禁。</p>

<h1>卷三</h1>

<h2>草部中</h2>

<h3>玄參</h3>
<p>味苦鹹，性微寒無毒，入心肺腎三經。主腹中寒熱積聚，女子乳癰諸疾，補腎氣，除心煩，明眼目，理頭風，療咽喉，消癭瘤，散癰腫，解熱毒。惡黃耆、乾薑、大棗、山茱萸，反藜蘆，勿犯銅器，餌之噎喉損目。</p>
<p>按：玄參氣輕清而苦，故能入心肺，以清上焦之火，體重濁而咸，故能入腎部，以滋少陰之火，所以積聚等證，靡不療之。</p>
<p>雷公云：凡採得須用蒲草重重相隔，入甑苤兩伏時，後出曬乾，使用時勿令犯銅器，餌之墜人喉，損人目，揀去蒲草用之。</p>

<h3>丹參</h3>
<p>味苦，性微寒無毒，入心經。養神定志，破結除症，消癰散腫，排膿止痛，生肌長肉，治風邪留熱，眼赤狂悶，骨節疼痛，四肢不遂。破宿血，補新血，安生胎，落死胎，理婦人經脈不調，血崩帶下。</p>
<p>按：丹參色赤屬火，味苦而寒，故入手少陽經，以療諸般血證。</p>

<h3>苦參</h3>
<p>味辛，性寒無毒，入胃大腸肝腎四經。主結氣積聚，伏熱黃疸，腸風燥渴，溺有餘瀝，逐水消癰，明目止淚，去濕殺蟲療大風及一切風熱細疹。以糯米泔浸一宿，去浮面腥氣，曬用。玄參為使，惡貝母、漏蘆，菟絲子，反藜蘆。</p>
<p>按：苦參屬水，有火性下降，本少少陰心，又入手足陽明及足厥陰經者，以其善主濕也。蓋勝則生熱，熱勝則生風，而結氣等證，從茲有矣。今以苦參燥濕，治其本也。東南卑濕，尤為要藥。丹溪曰：能峻補陰氣，或得之而腰重者，以其氣降而不升。非傷腎也。</p>
<p>雷公云：凡使不計多少，先須用糯米濃泔浸一宿，上有腥穢氣，並在水面上浮去，須重重淘過，即蒸，從巳至申，出曝乾，細銼用之。</p>

<h3>紅花</h3>
<p>味辛，性溫無毒，入心肝二經。逐腹中惡血，而補血虛。除產後敗血，而止血暈。療跌撲損傷，瘡毒腫脹，老人血少便結，女子經閉不行，催生下胎衣及死胎。酒漬用，其苗生搗敷腫毒，其子吞數粒，主天行痘瘡不出。</p>
<p>按：紅花下行血海，宜入足厥陰而逐血。潔古云：苦溫為陰中之陽，故又入手少陰而補血，然長於行血，欲其補血須少用，或佐補劑。</p>

<h3>三稜</h3>
<p>味苦，性平無毒，入肺脾二經。主行氣行血，多年症癖如石，能消為水，麵裹煨。醋炒用。</p>
<p>按：三稜為血中氣藥，脾裹血，肺主氣，宜併入焉。蓋血隨氣上，氣聚則血下流，故生症癖之患，非三稜不治，然有斬關之勢，虛人忌之。</p>

<h3>蓬莪朮</h3>
<p>味苦辛，性溫無毒，入肺脾二經，開胃消食，破積聚，行瘀血，療心疼，除腹痛。利月經，主奔豚，定霍亂，下小兒食積。</p>
<p>按：蓬莪朮與三稜相似，故經絡亦同，但氣中血藥為少異爾，性亦猛厲，但能開氣，不能益氣，虛人禁之，乃大便謂氣短不能續者亦宜用之，過矣。即大小七香丸，集香丸，都用以理氣，豈用以補氣乎？欲其行先入血則醋炒，欲其先入氣則火炮，三稜亦然。</p>
<p>雷公云：凡使於沙盆中用醋磨令盡，然後於火畔吸令乾，重篩過用之。</p>

<h3>天麻</h3>
<p>味辛，性平無毒，入肝膀胱二經。療大人風熱眩暈，治小兒驚悸風癇，祛諸風麻痹不仁，主癱瘓語言不遂，利腰膝，強筋力，活血脈，通九竅，利周身，療癰腫。濕紙裹煨用，無畏忌，苗名赤箭，主用略同。</p>
<p>按：天麻去風，故入厥陰。去濕，故入膀胱。真有風濕，功效若神。癰腫之證，濕生熱也，宜亦治之。赤箭用苗，有自表入里之功。天麻用根，有自內達外之理。不宜同劑，反致無功。</p>
<p>雷公云：凡使勿用銜風草，緣與天麻相似。只是葉莖不同，其銜風草根莖瓣葉皆自有青點，使銜風草根，切勿使天麻，二件誤用，即令人有腸結之患。修事天麻十兩，用蒺藜子一鎰，緩火熬煎，熟後便先安置天麻十兩於甑中，只用火熬過，蒺藜子蓋，內外再用三重紙蓋，並擊，從巳至未時，又出蒺藜子，再入熬炒，存前天麻瓶內，用炒蒺藜子於中，依前蓋。又隔一伏時取出，如此七遍，瓶盛出後，用布拭上氣汗，用刀劈焙之，細銼，單搗。若用銜風草，修事法亦同天麻一般。</p>

<h3>南星</h3>
<p>味苦辛，性平有毒，入脾肺二經。主中風牙關緊閉，痰盛麻痹，下氣破堅積，消癰腫，利胸膈，散氣墜胎，搗敷疥癬瘡毒，並蛇蟲咬傷。沸水泡七次，以牛膽汁收其沫入膽，久懸風處更佳，畏附子乾薑、生薑。</p>
<p>按：肺受風邪，脾多痰飲，南星專主風痰，故併入二經。味辛主散，所以消癰墜胎，及療疥癬等疾。大抵與半夏同功，但半夏辛而能守，南星辛而不守，其燥急之性，甚於半夏。故古方以牛膽苦寒之性制其燥烈，且膽又有益肝鎮驚之功，小兒尤為要藥。丹溪曰：南星欲其下行，以黃蘗引之。</p>

<h3>秦艽</h3>
<p>味苦辛，性微溫無毒，入胃大小腸三經。主骨蒸，腸風瀉血，活筋血，利大小便，除風濕，療黃疸，解酒毒，去頭風。菖蒲為使，羅紋者佳。</p>
<p>按：秦艽苦則湧泄，為陰，故入大小腸以療諸濕；辛則發散，為陽，故入陽明經以療諸風骨蒸之證；亦濕勝風淫所致，宜並理之。</p>
<p>雷公云：凡使秦艽，須於腳紋處，認取左紋，列為秦，治疾，右紋列為艽，即髮腳氣。凡用秦艽，以布拭去黃白毛盡，然後用還元湯，浸一宿，日曝乾用之。</p>

<h3>遠志</h3>
<p>味苦，性溫無毒，入心腎二經。補不足，除邪氣，益智慧，明耳目，寧怔忡，定驚悸，利九竅，治健忘，壯陽道，益精氣，長肌肉，助筋骨。及婦人血禁失音，小兒驚風客忤，皮膚熱，面目黃，久服悅顏色延年。湯泡，去心用，得茯苓、冬葵子、龍骨良，畏珍珠、藜蘆、蜚蠊齊蛤，忌諸肉、生蔥、冷水，殺天雄、附子毒，葉名小草，主蘿泄。</p>
<p>按：遠志苦入心經，溫能滋腎，而不足等證，咸本二經，故都治之。</p>
<p>雷公云：遠志凡使先須捶去心，若不去心，服之令人悶，去心了，用熟甘草湯浸一宿，漉出，曝乾用之。</p>

<h3>破故紙</h3>
<p>味苦辛，性大溫無毒，入腎經。主五勞七傷，陽虛精滑，腰痛膝冷，囊濕腎寒。酒浸一宿，水浸三日，蒸用，惡甘草，忌羊肉、羊血、蕓薹。</p>
<p>按：破故紙苦能堅腎，且性大溫，故專走少陰，然氣燥不宜多用，命門有火及津枯者忌之。</p>

<h3>葫蘆巴</h3>
<p>味苦，性溫無毒，入腎膀胱二經。得桃仁，大茴，療膀胱疝氣；得硫黃、黑附，理腎臟虛寒。</p>
<p>按：葫蘆巴雖入腎與膀胱，考諸《本經》，無佐使不能獨成功也。</p>

<h3>何首烏</h3>
<p>味苦甘澀，溫無毒，十二經絡所不收。觀其藤夜交，乃補陰之劑也。消瘰癧，散癰腫，療五痔，止腸風，烏鬚髮，美容顏，補勞瘦，助精神，長肌肉，堅筋骨，添精髓，固腰膝，除風濕，明眼目，及治婦人產後帶下諸血。老年尤為要藥，久服令人多子延年。去粗皮酒浸，拌黑豆末蒸之，水中復加黑豆及酒，曬乾，九次為度。春夏採鮮者，赤白合用，兼補氣血，茯苓為使，畏豬羊血、無鱗魚、蘿蔔，忌鐵器。</p>
<p>按：何首烏大能補益，全在蒸曬如法，大者剖開，其中有鳥獸山嶽之形，亦神物也。傳云：五十年如拳大，號山奴，服之一年，髮鬢青黑。百年如碗大，號山哥服，服之一年，顏色紅悅，一百五十年如盆大，號山伯，服之一年，齒落重生，二百年如斗大，號山翁，服之一年，顏如童子，行及奔馬，三百年如栲栳大，號山精，服之一年，延齡益壽，純陽之體，久服成仙，邇來漸能用之，惜末能如法制之耳。</p>

<h3>骨碎補</h3>
<p>味苦，性溫無毒，入腎經。主折傷，補骨碎，去毒風疼痛，固齒牙，療蝕瘡，殺諸蟲。去毛細銼，蜜拌蒸，曬乾用。</p>
<p>按：骨碎補溫而下行，專入腎家，以理骨病。齒者骨之餘也，故能固之。又能殺蟲者，蓋以蟲生於濕，今能去毒風，而蟲之巢穴搗矣，豈能生耶？</p>
<p>雷公云：凡使採得後，先用銅刀刮去上黃赤毛盡，便細切，用蜜拌令潤，架柳甑蒸一日後，出曝乾用，又幹寧。記云：去毛細切後，用生蜜拌蒸，從巳至亥，照前曝乾搗一用炮豬腎空心吃，治耳鳴，亦能止諸雜痛。</p>

<h3>威靈仙</h3>
<p>味苦，性溫無毒，入十二經。主諸風，宣通五臟，去腹內冷滯，心胸痰水，久積症癖，膀胱惡水，腰膝冷疼，兩足腫滿，又療折傷。忌面及茶茗、牛肉、牛乳，採時不聞流水聲，鐵腳者佳。</p>
<p>按：威靈仙可升可降，為陰中之陽，故於經絡無所不入。丹溪云：屬朋，故於肝臟多功，治痛風之要藥也。其性好走，多服疏人五臟真氣，然風注痛疼非此不除，中病即已，不宜多用。</p>

<h3>牛膝</h3>
<p>味苦酸，性平無毒，入腎經。補精氣，利腰膝，填骨髓，除腦漏，祛寒濕，破血結，通月經，墜胎孕，理膀胱氣化遲難，陰中作痛欲死。去蘆，酒浸一宿用，惡龜甲、螢火、陸英，畏白前白、蘚皮，忌牛肉。</p>
<p>按：丹溪云：牛膝引諸藥下行，宜入足少陰以理諸疾，婦人得之，應歸血海，故行血有功，脾虛氣陷及腿膝腫者，不宜用之。有二種，土牛膝所稟薄，故短而細主破血，氣川牛膝，所稟厚，故肥而長，主補精髓，竹木刺入肉，塗之可出。</p>
<p>雷公云：凡使去頭並塵土了，用黃精自然汁浸一宿，漉出，細銼，焙乾用。</p>

<h3>黃精</h3>
<p>味甘，性平無毒，入脾肺二經。補中益氣，除風濕，安五臟，駐顏色，久服延年。</p>
<p>按：黃精甘宜入脾，潤宜入肺，久服方得其益，實勝於根，花勝於實，但難辨爾，與鉤吻相似，然鉤吻有毛鉤二個，誤服殺人。</p>
<p>雷公云：凡使勿用鉤吻，真似黃精，只是葉有毛子二個，是則認處，誤服害人，黃精葉似竹葉，凡採得以溪水洗淨後蒸，從巳至午，刀薄切，曬乾用。</p>

<h3>蒲黃</h3>
<p>味苦，性平無毒，入肝經。生用則性滑，主行血，通經墜胎，消瘀排膿，利小便，祛心腹膀胱熱。炒用則性澀，主止血，除崩漏滯下，一切吐衄血，痢血尿血，腸風下血，止精泄，定兒枕痛。忌見鐵器，宜隔紙焙黃蒸之，再焙用。</p>
<p>按：蒲黃主血，而肝藏血，故獨入焉，仙經用之，亦以多功於血耳。</p>
<p>雷公云：凡使勿用松黃並黃蒿，其二件全似，只是味異，凡飲使蒲黃，須隔三重紙焙，令色黃，蒸半日，卻焙，令乾用之妙。</p>

<h3>續斷</h3>
<p>味苦辛，性溫無毒，入肝腎二經，主傷寒不足，折傷金瘡諸癰腫，治漏尿血，益氣力，續筋骨散諸血，暖子宮，療腰痛，縮小便，止夢泄，利關節，調血和血，生肌止痛。酒浸一宿，焙乾用，地黃為使，惡雷丸。</p>
<p>按：腎主骨而藏精，肝主筋而藏血，續斷補精血而理筋骨，宜入此二經矣。胎產之證，尤為要藥。</p>
<p>雷公云：凡使勿用草茆利，真似續斷，若誤用，服之令人筋軟。採得後，橫切銼之，又去向里硬筋了，用酒浸一伏時，焙乾用。</p>

<h3>益母草</h3>
<p>味辛甘，性微寒無毒，入諸陰經。主行血養血，安胎利產，消浮腫惡毒疔瘡，治頭風血虛目疾，癮疹發癢，堪作浴湯。子名茺蔚，益精明目，除水氣，療血逆大熱，頭痛心煩，下腹中死胎，理產後血脹。</p>
<p>按：益母本功治血，故入諸陰之經，行血而不傷新血，養血而不滯瘀血，所以為胎產聖藥。又能消瘡腫者，取其行血，而且辛甘發散也。</p>

<h3>肉蓯蓉</h3>
<p>味甘酸鹹，性微溫無毒，入命門經。興陽道，益精髓，補勞傷，強筋骨，主男子精泄尿血，溺有遺瀝，女子症痛崩帶，宮寒不孕，酒浸一宿，去浮甲，劈破中心，去白膜，蒸半日，酥炙用。潤而肥大者佳。</p>
<p>按：蓯蓉性溫，為濁中之濁，故入命門而補火，惟尺脈弱者宜之，相火旺者忌用，多服令人大便滑。</p>
<p>雷公云：凡使先須清酒浸一宿，至明，以板刷去上沙土浮甲盡，劈破中心，去白膜一重，如竹絲草樣，是此偏隔人心，前氣不散，令人上氣不出。凡使先用酒浸並刷淨，去蒸，從午至酉出，又用酥炙佳。</p>

<h3>鎖陽</h3>
<p>味苦鹹，性溫無毒，入腎經。補陰虛，固髓，潤大便燥結。宜酥炙用。</p>
<p>按：鎖陽鹹溫，宜入少陰，《本經》不載，丹溪續補，以其固精，故有鎖陽之名。主用與蓯蓉相似，老人枯閉，最為要藥。大便不實者忌之。</p>

<h3>車前子</h3>
<p>味甘，性寒無毒，入肝膀胱小腸三經。主淋瀝癃閉，陰莖腫痛，濕瘡泄瀉。赤白帶濁，血閉產難。炒細研用，常山為使。根葉主金瘡，功用同子。</p>
<p>按：車前子利水，宜入足太陽；行血，宜入足厥陰。然逐水之劑，多損於目，本草云明目者，以其清肝熱，如釜底抽薪，非因泄水之功也。</p>

<h3>紫菀</h3>
<p>味苦辛，性溫無毒，入心肺二經。主咳逆上氣，痰喘吐衄，補虛勞，安五臟。水洗淨，蜜炙用，款冬為使，惡天雄、瞿麥、雷丸、遠志，畏茵陳蒿，紫色潤軟者佳。</p>
<p>按：紫菀苦能入心，而泄上炎之火；辛能入肺，而散結滯之氣。行氣養血，專治血痰，為血癆要藥。</p>
<p>雷公云：凡使先去髭有白練色者，號曰羊須草，自然不同。採得後去頭上了，用東流水淘洗令淨，用蜜浸一宿，至明，於火上焙乾用，凡修治一兩，用蜜二分。</p>

<h3>百部</h3>
<p>味甘苦，性微寒，有小毒，入肺經。主肺熱咳逆，傳屍骨蒸。殺疳疣寸白諸蟲及蝨，竹刀劈開，去心，酒浸用。</p>
<p>按：百部專療咳嗽，宜入肺經，而小毒，故能殺蟲也。</p>
<p>雷公云：凡採得後，用竹刀劈破，去心皮，花作數十，於檐下懸。令風吹，待乾後，卻用酒浸一宿，漉出焙乾，細銼，用蔥一顆，自有八十三條者焙乾，號曰地仙苗，若修事餌之壽長。</p>

<h3>百合</h3>
<p>味甘，性平無毒，入心肺大小腸四經。主鬼魅邪氣，熱咳吐血，潤肺寧心，定驚益志。攻發背，消癰腫，除脹滿，利二便。</p>
<p>按：百合性潤，故入心肺諸經，雖能補益，亦傷肺氣，不宜多服。</p>

<h3>款冬花</h3>
<p>味苦辛，性溫無毒，入心肺二經。主中風喉痹，肺痿肺癰，潤心肺，止咳嗽，除痰喘，定驚，洗肝明目。杏仁為使，得紫菀良。惡皂莢、硝石、玄參，畏貝母、辛夷、麻黃、黃耆、黃芩、黃連、青葙。</p>
<p>按：款冬辛甘發散為陽，故入心肺，以理痰嗽等證，畏惡甚多，用者審之。</p>
<p>雷公云：凡採得須去向外裹花蕊殼並向裡實如粟零殼者並枝葉，甘草水浸一宿，待搗碎，才煎兩件，拌了用。</p>

<h3>馬兜鈴</h3>
<p>味苦，性寒無毒，入肺經。主清肺，除咳嗽痰喘，治血痔漏瘡。根名青木香，下毒甚速。</p>
<p>按：馬兜鈴專主手太陰經，何以治痔漏之證也？良以肺與大腸相為表裡，肺遺熱於大腸，故有此證，令清其表而里病自愈矣。</p>
<p>雷公云：凡使採得後去葉並蔓，用生絹袋盛，於東屋角畔懸，令乾，劈開去膈膜，取淨子焙用。</p>

<h3>青黛</h3>
<p>味苦甘，性寒無毒，入肝脾二經。除鬱火，解熱毒，止下痢，殺諸蟲，治小兒疳蟲消瘦，驚癇邪氣，唇焦口渴，上膈稠痰，療傷寒赤斑，面黃鼻赤。</p>
<p>按：青黛色青屬木，味甘屬土，宜入厥陰太陰，以理諸熱之證。</p>

<h3>甘菊</h3>
<p>味甘微苦，性平無毒，入肺脾肝腎四經。能補陰氣，明目聰耳，清頭風及胸中煩熱，肌膚濕痹。枸杞根、桑白皮、蒼白朮為使。</p>
<p>按：丹溪曰，菊花屬金，而有土於水，大能補陰。宜入肺肝等經，蓋煩熱諸證，皆由水不足而火炎，得此補陰，則水盛而火自息矣。須用味甘者佳，若苦者為苦菊，大傷胃氣，慎之。</p>

<h3>薏苡仁</h3>
<p>味甘，微寒無毒，入肺脾肝胃大腸五經。利腸胃，消水腫，祛風濕，療腳氣，治肺痿，健脾胃。</p>
<p>按：薏苡仁總濕熱，故入上下五經。蓋受熱使人筋攣，受濕使人筋緩者，可用。若受寒使人筋急者，忌之，勢力和緩，須多用見效。</p>
<p>雷公云：凡使勿用秔米，棵大無味，其秔米時人呼粳秔是也，若薏苡仁顆小色青味甘，咬著黏人齒，用一兩，以糯米一兩同熬，令糯米熟，去米取使，若更以鹽湯煎之，則是一般修事。</p>

<h3>牡丹皮</h3>
<p>味辛苦，性微溫無毒，入肝經。治一切冷熱氣血凝滯，吐衄血瘀積血，跌撲傷血，產後惡血。通月經，除風痹，催產難。畏菟絲子，忌蒜。</p>
<p>按：丹皮主用，無非辛溫之功，禹錫等言其治冷，當矣。本草曰性寒，不亦誤耶！夫肝為血舍，丹皮乃血劑，固宜入之，本功專行血，不能補血，而東垣以此治無汗骨蒸，六味丸及補心丹皆用之，蓋以血患火爍則枯，患氣鬱則新者不生。此劑苦能瀉陰火，辛能疏結氣，故為血分要藥。</p>
<p>雷公云：凡採後日干，用銅刀劈破，去骨細銼，如大豆許，用清酒浸蒸，從巳至未，出日曬乾用。</p>

<h3>菟絲子</h3>
<p>味甘辛，性平無毒，入腎經。主男子腎虛精寒，腰膝冷痛，莖中寒，精自出，溺有餘瀝，鬼交泄精，久服強陰堅骨，駐顏明目輕身，令人多子。浸五宿，蒸熟，杵作餅，曬乾研用。山藥，松脂為使，惡藿菌。</p>
<p>按：雷公云：菟絲子稟受中和，凝正陽氣，故宜入補少陰，溫而不燥，不助相火，至和至美之劑，宜常用之。</p>
<p>雷公云：凡使勿用天碧草子，其樣真相似。只是天碧草子，味酸澀，並黏，不入藥用，其菟絲子稟中和正陽之氣所結，補衛氣，助人筋脈。採得去粗薄殼，用苦酒浸二日，漉出，用黃精自然汁浸一宿，至明，微用火煎至干，入臼中熱燒，鐵杵三千餘成粉，並黃精自然汁與菟絲子相對用之。</p>

<h3>茴香</h3>
<p>味辛甘，性溫無毒，入心脾膀胱三經。主一切臭氣，腎臟虛寒，癩疝腫痛及蛇傷。調中止嘔，下氣寬胸。又有一種小茴，氣味稍薄，然治膀胱冷痛疝氣尤奇。</p>
<p>按：茴香氣厚，為陽中之陽，故入少陰太陰，以理虛寒諸證。雖辛溫快脾，亦能耗氣，今內相都入煎爆油膩之物，與火無異，久則致疾，深宜戒之。</p>

<h3>砂仁</h3>
<p>味辛，性溫無毒，入脾胃肺大小腸膀胱腎七經。主虛寒瀉痢，宿食不消，腹痛心疼，咳嗽，腹滿奔豚，霍亂轉筋，祛冷逐痰，安胎止吐，下氣化酒食。炒去衣研用。</p>
<p>按：砂仁為行散之劑，故入脾胃諸經，性溫而不傷於熱，行氣而不傷於克，太陰經要劑也，宜常用之。</p>

<h3>白豆蔻</h3>
<p>味辛，性溫無毒，入肺脾胃三經。主消寒痰，下滯氣，退目中翳，止嘔吐，開胃進食，除冷瀉痢及腹痛心疼。炒去衣研用，白而圓滿者佳。</p>
<p>按：白豆蔻辛宜入肺，溫為脾胃所喜，故併入之。大抵辛散之劑，不能補益，藥性稱其補上焦元氣，恐無是理。但不甚克削耳，世俗不察而信之，誤人不小。治寒氣神效，肺腎中有火及虛者忌之。</p>

<h3>肉豆蔻</h3>
<p>味苦辛。性溫無毒，入肺胃二經。療心腹脹痛，卒成霍亂，脾胃寒弱，宿食不消，虛冷瀉痢，小兒傷乳吐瀉，尤為要藥。糯米粉裹煨，忌見鐵器。</p>
<p>按：肉豆蔻即肉果，辛溫之性。宜入脾胃，有未去之積者，不可先用。</p>
<p>雷公云：凡使須以糯米作粉，使熱湯搜裹豆蔻於糖灰中炮，待米糰子焦黃熟，然後出去米，其中有子取用，勿令犯鐵。</p>

<h3>草豆蔻</h3>
<p>味辛，性熱無毒，入脾胃二經。主風寒客邪在胃。其餘與白者同功，而性尤燥急，不及白蔻有清高之氣。</p>
<p>按：草豆蔻辛溫發散，故入脾胃而主風寒。多食大損脾胃，《衍義》謂其虛弱不食者宜此，恐非，胃火者大忌。</p>
<p>雷公云：凡使須去蒂並向裡子後，取皮，用茱萸同於鍋上緩炒，待茱萸微黃黑，即去茱萸，取草豆蔻皮及子，杵用之。</p>

<h3>草果</h3>
<p>味辛，性溫無毒，入脾胃二經。主瘧疾胸腹結滯，嘔吐胃經風邪。</p>
<p>按：草果辛溫發散，與草蔻同功，故經絡亦同，多食亦損脾胃，虛弱及胃火者亦忌之。</p>

<h3>菖蒲</h3>
<p>味辛，性溫無毒，入心脾膀胱三經。主風寒濕痹，咳逆上氣，鬼疰邪氣，通九竅明耳目，堅牙齒，清聲音，益心志，除健忘，止霍亂，開煩悶，溫心腹，殺諸蟲，療惡瘡疥癬。勿犯鐵器，去根毛用，秦皮、秦艽為使，惡地膽、麻黃，忌羊肉、羊血、飴糖，生上一寸九節者佳。</p>
<p>按：菖蒲通神明，宜入心經，祛風濕，宜入肺與膀胱，功驗雖宏，然主散而不主收，勿宜久用。</p>
<p>雷公云：凡使勿用泥菖夏菖，其二件相似，如竹根鞭形，黑氣穢味，腥不堪用。凡使採石上生者，根條嫩黃緊硬節稠，長一寸有九節者是真也，採得後用銅刀刮去黃黑硬節皮一重，用嫩桑枝條相拌，蒸，出曝乾，去桑條銼用。</p>

<h3>黑附子</h3>
<p>味辛甘，性大熱，有大毒，通行諸經。主六腑沉寒，三陽厥逆，症堅積聚，寒濕拘攣，霍亂轉筋，足膝無力，墜胎甚速。擇每雙重一兩者，去皮臍，以薑汁鹽水煮數沸，又用黃連甘草童便合煮一時，於平地上掘坑埋一宿，取出，囫圇曬乾用。地膽為使，惡蜈蚣，畏人參、甘草、黃耆、防風、黑豆。</p>
<p>按：附子為陽中之陽，其性浮而不沉，其用走而不息。故於經絡靡所不入，宜致墜胎祛症積等證者，辛甘大熱，能補命門衰敗之火，以生脾土，故仲景四逆湯用以回腎氣，理中湯用以補脾，八味丸用以補腎脾。譬如躁悍之將，善用之，奏功甚捷；不善用之，為害非輕。丹溪以為仲景取其行地黃之滯，而不能有補，則古方用黑附一味，可以回陽，不補而能之乎？丹溪之言，於理未當，雖然，彼或鑑誤用之弊，有激而發爾，如法制之，毒性盡去，且令下行，若痼冷陽脫，但微炮之。</p>

<h3>天雄</h3>
<p>性味經絡功用與附子同，主療頭面風去來疼痛，遠志為使，惡腐痹。</p>
<p>按：天雄即附子之長而尖，巔頂不正者，其氣親上。故潔古云：主上焦陽虛。</p>

<h3>烏頭</h3>
<p>性味經絡功用，亦同附子，主中風惡風，洗洗出汗。莽草為使，惡藜蘆，反半夏、栝蔞、貝母、白蘞、白芨。</p>
<p>按：烏頭即春間採附子之嫩小者，一云，原生苗腦。</p>

<h3>烏喙</h3>
<p>主男子腎濕，陰癢癰腫，使反性味功用同前。</p>
<p>按：烏喙即烏頭之有兩歧者，如烏之口，故名。</p>

<h3>側子</h3>
<p>主發散四肢，為風疹藥。</p>
<p>按：側子即附子傍出小顆，其氣輕揚，故主發散。</p>
<p>雷公云：側子只是附子傍有小顆如棗核者是，主用治風疹神妙也。木鱉子，只是諸喙附雄側烏中有穗者，號曰木鱉子，不入藥用。若服之，令人喪目。</p>

<h3>射干</h3>
<p>味苦，性微溫有毒，入肺肝脾三經。主咳逆上氣，咽喉諸證，開胃進食，鎮肝明目消癰毒，逐瘀血，通月經，行積痰，使結核自消。又肝經濕氣，因疲勞而發便毒者，取三寸與生薑同煎服，利兩三行效。</p>
<p>按：射干溫能下氣行血，宜入肺肝，苦能消痰，宜入脾經，久服令人虛。</p>
<p>雷公云：凡使先以米泔浸一宿，漉出，然後用堇竹葉煮，從未至亥，漉出，日乾用之。</p>

<h3>旋覆花</h3>
<p>味鹹甘，性溫有小毒，入肺肝大腸膀胱四經。主結氣風氣，脅下滿，膈上痰如膠漆，利大腸，逐水濕。</p>
<p>按：旋覆花專理風氣水濕，而肝主風，脾主氣，膀胱大腸主水濕，故均入之。丹溪曰：走散之藥，病人涉虛者，不宜多服。</p>
<p>雷公云：凡採得後，去里殼蕊皮並蒂子，花蕊蒸，從巳至午，曬乾用。</p>

<h3>大戟</h3>
<p>味苦甘，性大寒有毒，入十二經。主水脹蠱毒，癥結腹滿，急痛發汗，利大小腸，通月經，墜胎孕。小豆為使，惡山藥，畏菖蒲，反甘草、芫花、海藻。</p>
<p>按：大戟陰中微陽，逐十二經水，能損真氣，量虛實用之。</p>
<p>雷公云：凡使勿用附生者，若服令泄氣不禁，即用薺苨子灌解去。採得於槐砧上細銼，與海羊葉拌蒸，從巳至申，去羊葉曬乾用之。</p>

<h3>商陸</h3>
<p>味酸辛，性寒有毒，入脾膀胱小腸三經。主水脹蠱毒，疝瘕癰腫惡瘡，墜胎孕。</p>
<p>按：商陸專主逐水，與大戟相似，夫水之為病，由於膀胱小腸不利，而脾家之所深惡者也，故鹹入之。有赤白二種，白者可服，赤者有毒，堪用貼腫，誤服殺人。</p>
<p>雷公云：凡使勿用赤葛，緣相似，其赤葛抱莖，有消筋骨之毒，故勿餌，商陸花白，年多者仙人採之作脯，可下酒也。每修事先以鯛刀刮去粗皮，小薄切，以東流水浸二宿，然後漉出，架甑蒸，以豆葉一重了，與商陸一重，如斯蒸從午至亥，出去豆葉，曬乾了細銼用，若無豆葉，只用豆代之。</p>

<h3>葶藶</h3>
<p>味辛苦，性寒有小毒，入肺心脾膀胱四經。主水腫結氣，膀胱留熱，定肺氣之喘促，療積飲之痰厥。同糯米焙黃，去米用，榆皮為使，惡殭蠶、燈草、石龍芮。</p>
<p>按：葶藶辛走肺，苦走心，膀胱者，肺所綰也，脾土者，心所生也，故皆入之。大傷肺氣，滲泄下元，用之不當，殺人甚捷，稍涉虛者忌之。有甜苦二種，苦者太猛劣，甜者性少緩。</p>
<p>雷公云：凡使勿用赤鬚子，真相似葶藶，只是味微甘苦，葶藶子入頂，凡使以糯米相合，於火上微微焙，等米熟去米，單搗用。</p>

<h3>牽牛子</h3>
<p>味苦辛，性寒有毒，入大小腸二經。主下氣通二便，祛壅滯氣急，退水腫，消風毒，治腰膝痛，墜胎孕。酒蒸，去皮用。</p>
<p>按：牽牛子專主水氣，故入大小腸經。丹溪曰：屬火善走，有兩種，黑者兼水，白者兼金，病形與證俱襯者用之，然驅逐致虛，不脹滿不大便秘者，勿用，仲景治七種濕證及小便不利，俱不用之，何也？蓋受濕之根在下焦，是血分中氣病，皆因上焦虛弱，不能氣化所致，若復用辛辣之劑，以瀉太陰之金，危亡立至矣，可不謹乎？</p>
<p>雷公云：草金零牽牛子是也，凡使其藥，秋末即有實，冬收之，凡用曬乾，卻入水中淘，浮者去之，取沉者曬乾，用酒蒸，從巳至未，曬乾，臨用舂去黑皮用。</p>

<h3>萆薢</h3>
<p>味苦甘，性平無毒，入脾腎膀胱三經。主風寒濕痹，腰背痛，中風不遂，遍身頑麻，膀胱宿水，陰痿失溺，利水道，益精明目。薏苡為使，畏葵根、大黃、柴胡、牡蠣，忌牛肉。</p>
<p>按：萆薢之入三經，何也？蓋腎受土克，則水臟既衰，肝挾相火而凌土濕，脾主肌肉，濕鬱肌腠，則生熱生風，以致營衛不利，關節不利。而萆薢長於去水，用之以滲脾濕，則土安其位，水不受侮矣。然失用令人小便多，小便既多，則腎氣得復實？今多泥其入腎，用為補劑，亦未深原其理耳。</p>

<h3>木通</h3>
<p>味辛甘，性平無毒，入小腸經。主五淋小便閉，經凝乳閉，難產，積聚，驚悸心煩，健忘耳聾，聲啞鼻塞，癰瘡脾疸喜睡，天行瘟疫。</p>
<p>按：木通利便，專瀉小腸，宜療五淋等證。其驚悸等證，雖屬心經，而心與小腸相為表裡，故並治之，脾疸喜睡，此脾之病，皆濕所釀也，利小腸而濕不去乎？瘟疫之來，感天地不正之氣，今受盛之官行，而邪不能容，亦宜療矣。</p>

<h3>通草</h3>
<p>味淡，性寒無毒，入肺大小腸三經。與木通同功，特瀉肺明目，退熱行經，下乳通結，力尤勝之。</p>
<p>按：通草色白，宜其瀉肺，味淡，故入小腸，性主通行，故又入大腸，即本草續注所謂通脫木，今女工用以作花。</p>

<h1>卷四</h1>

<h2>草部下</h2>

<h3>燈心</h3>
<p>味淡，性寒無毒，入心小腸二經。主胸腹邪氣，清心定驚，除熱利水，燒灰敷金瘡止血，療小兒夜啼，吹喉中治急喉痹甚捷。</p>
<p>按：燈心味淡，五臟無歸，專入小腸利水。訣曰：小腸受盛與心應，故又入心經。燒灰性涼，宜治療如上。</p>

<h3>石斛</h3>
<p>味甘，性平無毒，入胃腎二經。補虛羸，暖水臟，填精髓，強筋骨，平胃氣，逐皮膚邪熱，療腳膝冷痹，久服厚腸胃，定志除驚。去根，酒浸一宿，曝乾酥炙用，陸英為使，惡寒水石巴豆，畏殭蠶、雷丸。</p>
<p>按：石斛入腎，則專主下部矣。而又入胃者，蓋以其味甘能助腎，而不傷於熱，平胃而不傷於燥之故也。</p>
<p>雷公云：凡使先去頭上子，用酒浸一宿，漉出曬乾，再用酥蒸，從巳至酉，卻徐徐焙乾。然後用。</p>

<h3>石葦</h3>
<p>味苦甘，性平無毒，入肺膀胱二經。主勞熱邪氣，五淋癃閉，膀胱熱滿。癰疽發背，除煩下氣，補虛益精。拭去毛，羊脂炒焦用，絡石、杏仁為使，得菖蒲良。</p>
<p>按：石葦清熱利水，本入膀胱，而肺則下連者也，宜兼入之。既能清熱利水，則無陽亢陰傷之患。</p>

<h3>白蒺藜子</h3>
<p>味苦辛，性溫無毒，入肺肝腎三經。主惡血塊，癥結喉痹，產難乳閉，小兒頭瘡，皮膚風癢，頭痛，咳逆肺痿，除煩下氣，明眼目，去燥熱，療腫毒，止遺泄。其葉可作浴湯治風，杵去刺，酒蒸炒用，烏頭為使。沙苑蒺藜，主補腎添精，強陰種子。</p>
<p>按：蒺藜利血，宜入肝經，下氣宜入肺經，惡血等證，皆二經病也，故俱主之。其所以入腎者，因肺為之母，肝為之子，未有子母俱利，而腎不受其益者，故能止遺泄。產沙苑者，誠續嗣神丹，而本草不言，惜哉。</p>
<p>雷公云：凡使採得後揀了淨蒸，從午至酉，出日曬乾舂，令皮上刺盡，用酒拌再蒸，一二時用。</p>

<h3>青葙子</h3>
<p>味苦，性微寒無毒，入心肝二經。主邪氣，皮膚風熱濕癢，殺三蟲疥蟲，惡瘡痔蝕，下部䘌瘡，鎮肝臟，堅骨筋，益腦髓，明耳目，一名草葶藶。</p>
<p>按：青葙子苦者，丙丁之味也，青者甲乙之色也，故入心肝二經。《本經》並不言治眼，而藥性論及日華子皆言之，亦以苦寒之性，能清肝臟熱毒上衝耳。</p>
<p>雷公云：凡使勿誤用思蓂子並鼠黏子兩種，頗相似，只是味不同。其思蓂子味粗，煎之有涎。</p>

<h3>木賊</h3>
<p>味甘微苦，性平無毒，入肺經。主目疾，退翳膜，消積塊，益肝臟，得麝香、牛角腮治休息痢久不瘥。得禹餘糧、當歸、芎藭療崩中赤白，得槐鵝、桑耳治腸虛下血；得槐子、枳實、地榆治腸澼及痔。去節，水潤焙用。</p>
<p>按：木賊之名，以其能伐木也。肝為木，故宜入焉，夫目得血而能視，借之以伐肝邪，則血生而目疾愈矣。</p>

<h3>茅根</h3>
<p>味甘，性寒無毒，入胃小腸二經。逐瘀血，通血閉，止吐衄，下五淋，利小便，理勞傷。補虛羸，除腸胃客熱，治婦人崩漏。</p>
<p>按：茅根利水，本入小腸，而胃則其實受，故亦入之。</p>

<h3>仙茅</h3>
<p>味辛，性溫有毒，入肝腎二經。主心腹冷氣，不能食，腰足攣痹，不能行，丈夫血損勞傷，老人失溺無子。強陽道，補精血，明眼目，堅骨髓。洗淨去皮，銅刀切如豆大，生稀布袋盛，於烏豆水中浸一宿，酒拌，蒸半日，曬乾用，勿犯鐵器，忌牛肉、牛乳。</p>
<p>按：仙茅性溫，本入腎經，而肝者腎所生也。故兼入之。傳云：十斤乳石，不及一斤仙茅，蓋表其功爾。中其毒者，令人舌脹，急煎大黃朴硝湯飲之，復以末摻舌間，即解。素有火證者勿用。</p>
<p>雷公云：凡採得後，用清水洗令淨，刮去皮，於槐砧上切豆許大，卻用生稀布袋盛，蒸一宿用。</p>

<h3>鬱金</h3>
<p>味辛苦，性溫無毒，入心肺二經。主下氣破血開鬱，療尿血淋血金瘡，楚產蟬肚者佳。</p>
<p>按：鬱金本草言其性寒，自《藥性論》始言其治冷氣，今觀其主療，都是辛散之用，性寒而能之乎？夫肺主氣，心主血，鬱金能行氣血，故兩入之。丹溪云：屬火而有土與水，古人用以治郁遏不散者，故名。</p>

<h3>薑黃</h3>
<p>味辛苦，性溫無毒，經絡主治與鬱金同功，更烈。</p>
<p>按：薑黃本草亦曰性寒，而陳藏器及日華子咸謂其熱，辨之悉矣！能傷元氣，用者審之。</p>

<h3>牛蒡子</h3>
<p>味辛，性溫無毒，入十二經。主風濕癮疹盈肌，咽喉風熱不利，諸腫瘡瘍之證，腰膝凝滯之氣，潤肺止嗽，散氣消痰。酒拌蒸，待有白霜出，拭去，干焙搗用，一名惡實，一名鼠黏子。</p>
<p>按：《主治秘訣》及東垣皆云，牛蒡子辛溫，故能入十二經而通散也。潔古云：吞一枚可出癰疽頭，亦表其辛散之功爾。本草言其性平，誤矣！</p>

<h3>紫草</h3>
<p>味苦，性寒無毒，入心小腸二經。主心腹邪氣，脹滿作痛，癰腫諸毒，除五疽，利九竅，通水道，小兒無熱痘瘡，尤為要劑，取嫩茸，去髭用。</p>
<p>按：紫草主血熱，本入心經。而小腸者，受盛而與心應者也，故併入之。邪氣諸證咸本於熱，今清其心而自愈矣。</p>
<p>雷公云：凡使須用蠟水蒸之，待水乾，取去頭並髭，銼用，每治紫草一斤，用蠟二兩熔化用。</p>

<h3>白頭翁</h3>
<p>味苦，性溫有小毒，入心腎二經。主溫瘧發狂，癥瘕積聚，癭瘤瘰癧，金瘡鼻衄，齒痛腹痛骨痛，赤毒痢下，男子陰疝偏腫，小兒頭禿膻腥。豚實為使，得酒良。</p>
<p>按：白頭翁味苦，本入心經。經曰：腎欲堅，急入苦以堅之，故又入腎。溫瘧等證，無非水衰火旺，故治之。</p>

<h3>白前</h3>
<p>味甘辛，性微溫無毒，入肺經。主下氣，除嗽氣，寒呃上衝，不得睡臥，氣逆沖喉，呼吸欲絕，腹中時時作水雞聲。甘草水浸一宿，去頭鬚子，焙乾用，忌羊肉。</p>
<p>按：白前色白味辛，故入肺經，專主一切氣證。</p>

<h3>白薇</h3>
<p>味苦鹹，性大寒無毒，入心腎二經。主暴中風，身熱腹滿，忽忽不知人，狂惑鬼邪，寒熱痠疼，溫瘧洗洗髮作，下水氣，利陰氣，定驚益精。以糯米泔浸一宿，去髭細銼，蒸用，惡黃耆、大黃、大戟、乾薑、大棗、乾漆、山萸。</p>
<p>按：白薇味苦入心，鹹入腎，故主治如上。</p>

<h3>白附子</h3>
<p>味甘辛，性溫無毒，入肺脾二經。主中風失音，一切冷風氣，頭面百病，斑點風瘡疥癬，心痛血痹，陰囊濕癢，入藥炮用，新羅出者佳。</p>
<p>按：白附色白味辛，故宜入肺，以治風痰。甘而且溫，故宜入脾，以治皮膚。陽中之陽，能上升，故治面病。</p>

<h3>蚤休</h3>
<p>味苦，微寒有毒，入心經。主驚癇癲疾，瘰癧陰蝕，癰腫毒瘡，小兒胎風，手足抽掣。下三蟲，去蛇毒。一名紫河車，一名重樓金線。</p>
<p>按：蚤休味苦，故入心經，以治驚癇等疾，而能解毒。</p>

<h3>白蘚皮</h3>
<p>味苦鹹，性寒無毒，入肺小腸二經。主頭風黃疸，咳逆淋瀝，濕痹死肌，一切疥癩惡風疥癬楊梅諸瘡，熱毒天行時疾，頭痛眼疼，女子陰痛，小兒驚癇，和血脈，通九竅，利小腸。惡螵蛸、桔梗、茯苓、萆薢。</p>
<p>按：白蘚皮入肺經，故能去風，入小腸，故能去濕。夫風濕既除，則血氣自活，而熱亦從此逝矣。</p>

<h3>蘆薈</h3>
<p>味苦，性寒無毒，入心肝二經。消風熱，除煩悶，明眼目，治驚癇，殺三蟲，療五疳及疥癬痔漏諸瘡，解巴豆毒。</p>
<p>按：蘆薈之苦，本入心經，而肝則其母也，故亦入之。在小兒驚疳諸熱，尤為要藥。</p>
<p>雷公云：凡使勿用雜象膽，其象膽幹了，上有竹斑光膩，和象葉搗，此藥先搗成粉。</p>

<h3>胡黃連</h3>
<p>味苦，性寒無毒，入肝膽胃三經。主傷寒咳嗽，溫瘧發熱，骨蒸勞熱，三消五痔，補肝膽，明眼目，止瀉痢，益顏色，治小兒驚疳霍亂，大人五心煩熱，婦人胎蒸虛驚。惡菊花、玄參、白蘚皮，忌豬肉，解巴豆毒，折之出塵如煙者真。</p>
<p>按：胡黃連苦寒，能瀉三經之火，小兒多熱證最宜。</p>

<h3>澤蘭</h3>
<p>味苦，性微溫無毒，入小腸經。通肝脾之血，產前後百病皆治，通九竅，利關脈。又主頭風目痛，鼻紅吐血。治癰排膿，防己為之使。</p>
<p>按：澤蘭能通利小腸，則肝脾無壅閼之患，故能通關竅以理血脈也。行血而無推蕩之患，養血而無膩滯之虞，所以為產科聖藥。凡癰瘡皆因血熱，故亦治之。</p>
<p>雷公云：要別識雌雄，其形不同大澤蘭，形葉皆圓，能生血益氣與榮，合小澤蘭通別同用。</p>

<h3>狗脊</h3>
<p>味苦甘，性微溫無毒，入腎膀胱二經。主腎氣虛弱，風寒濕痹，腰膝軟弱，骨節作疼，老人失滋不節，女子傷中淋露。酒蒸用，萆薢為使，惡敗醬。</p>
<p>按：狗脊入腎，故主骨病，入膀胱，故主濕病。</p>

<h3>青蒿</h3>
<p>味苦，性寒無毒，入心經。主骨蒸勞熱，虛煩盜汗，明目殺蟲。童便浸七宿，曬乾用。</p>
<p>按：青蒿苦入心，故瀉丙丁以理諸疾。</p>

<h3>蓽茇</h3>
<p>味辛，性大溫無毒，入肺脾胃膀胱四經。主溫中下氣，消食開痰，治陰疝，止霍亂，除瀉痢日久，療心腹冷痛。醋浸一宿，刮去皮粟子令淨，方用。</p>
<p>按：蓽茇辛走肺家，溫宜脾胃，膀胱肺綰，故鹹入之。</p>

<h3>王不留行</h3>
<p>味苦甘，性平無毒，入心肝二經。主金瘡止血，癰疽毒瘡，心煩鼻衄，難產。出竹木刺入兩，治風毒，通血脈。酒蒸焙用。</p>
<p>按：王不留行專療血證，而心主血，肝藏血者也，故均入之。癰疽等證，血不和也。經曰：營氣不從，逆於肉理，乃生癰腫，此主和血，故宜治之。又治風毒者，所謂治風先治血，血行風自滅也。</p>

<h3>淫羊藿</h3>
<p>味辛，性溫無毒，入腎經。主絕陽不起，絕陰不育，莖中作痛，小便不利，益氣力堅筋骨，丈夫久服，令人無子。每斤去花細銼，拌羊脂四兩，炒盡脂為度，山藥、紫芝為使，得酒良，一名仙靈脾。</p>
<p>按：仙靈脾入腎，而主絕陽等證，其為補也明甚，乃繼之曰久服無子，毋及惑乎？不知此劑專助相火，令人淫欲不休，欲太甚則精氣耗。經曰：因而強力，腎氣乃傷，高骨乃壞，且命門之火，乘水之衰，挾土來克，生之不保，其能嗣耶。</p>
<p>雷公云：凡使仙靈脾須用夾刀去葉枝盡後細銼，用羊脂相對拌，炒過然後用。</p>

<h3>巴戟天</h3>
<p>味辛甘，性微溫無毒，入脾腎二經。主助腎添精，除一切風及邪氣。酒浸用，覆盆為使，惡雷丸、丹參。</p>
<p>按：巴戟之溫，本專補腎，而肺乃腎之母也，且其味辛，故兼入之以療風。凡命門火旺以致泄精者，忌之。</p>
<p>雷公云：凡使先用枸杞子湯浸一宿，待稍軟，漉出，酒浸一時，又漉出，用菊花同熬，令焦黃用。</p>

<h3>蘭葉</h3>
<p>味甘，性寒無毒，入肺經。止渴生津，益氣散郁。</p>
<p>按：丹溪云：蘭葉稟金水之精，故入肺臟。昔東垣方中嘗用之，經謂消渴治之以蘭是也，今屢驗之。</p>

<h3>水萍</h3>
<p>味辛酸，性寒無毒，入肺小腸二經。消水腫，利小便，逐風寒，堪浴遍身瘡癢，發汗甚於麻黃。</p>
<p>按：水萍入肺，故主祛風。入小腸，故主祛濕。此是水中大萍，非溝渠所生者。高供奉採萍歌云：不在山，不在岸，採我之時七月半。選甚癱風與瘓風，些小微風都不算。豆淋酒下二三丸，鐵袱頭兒都出汗。以此觀之，其功甚於麻黃可知矣！</p>

<h3>決明子</h3>
<p>味鹹苦甘，性平無毒，入肝經。主青盲赤白翳膜，時有淚出，除肝熱，療頭風，研末塗腫毒，貼腦止鼻紅，耆實為使，惡大麻子。</p>
<p>按：決明專入厥陰，以除風熱，故為眼科要藥。鼻紅腫毒，咸血熱也。宜其療矣。</p>

<h3>蓖麻子</h3>
<p>味甘辛，有小毒，入脾大腸二經。主水腹腹滿，臟腑燥熱，無名腫毒，敷之可消；口眼喎斜，敷之可正；塗足心，下胞胎如神；塗巔頂，收生腸甚捷。忌見鐵器，服過者一生忌食豆，誤犯之腹脹猛甚。葉，主腳氣風腫不仁，搗蒸傳之。</p>
<p>按：丹溪云：蓖麻子屬陰，故入太陰陽明，以驅水滿，以催產難固矣！而無名腫毒熱也；口眼喎斜，風也。何並治之，豈其辛甘發散之功耶？</p>
<p>雷公云：凡使勿用黑天赤利子，緣在地蔞上生，是以有毒。其蓖麻子形似巴豆而光滑，有黃黑斑點，凡使先須和皮用鹽湯浸半日，去皮取肉，研過用。</p>

<h3>馬鞭草</h3>
<p>味苦甘，性寒有小毒，入肝脾二經。主活血通經，治金瘡諸瘡癤，取汁和酒服。</p>
<p>按：肝，藏血者也；脾，裹血者也。馬鞭專主血分，故入是二經。</p>

<h3>蘆根</h3>
<p>味甘，性寒無毒，入肺胃二經。主消渴客熱，止小便利，治五噎膈氣，煩悶吐逆，以蘆根五兩，水三盞煮一盞服，甚效。</p>
<p>按：蘆根主氣逆嘔噦，故入太陰陽明。消渴之證，亦以氣化不及故也。今得蘆根以下太陰，而津液之生必矣。</p>

<h3>蛇床子</h3>
<p>味苦辛甘，性平有小毒，入肺腎二經。主風寒濕痹，諸惡瘡癬，婦人陰中腫痛，男子陰痿濕癢，久服駐顏輕身，令人有子。酒浸一宿，地黃汁拌蒸，焙乾用，惡牡丹皮、巴豆、貝母。</p>
<p>按：蛇床理風濕，宜入太陰，補虛痿，宜入少陰。</p>

<h3>金銀花</h3>
<p>味苦甘，性平微寒無毒，入肺經。主熱毒血痢，消癰散毒，補虛療風，久服延年。</p>
<p>按：金銀花解肌膚之毒，故入肺經，為瘡科要藥。陶隱居云：常服益壽，人多忽之，更求難得者，是貴遠賤近，庸人之情乎！</p>

<h3>山豆根</h3>
<p>味甘，性寒無毒，入心肺二經。主解諸藥毒，止咽喉痛，退熱消癰。</p>
<p>按：山豆根性寒，專瀉心火，心火去則金無所損，金得其保，而熱傷之虞，吾知免矣。</p>

<h3>艾葉</h3>
<p>味苦，性微溫無毒，入肝脾二經，主灸百病，溫中理氣，開鬱調經，安胎種子，止崩漏，除久痢，闢鬼邪，定霍亂，生搗汁，理吐衄血。</p>
<p>按：艾葉溫能令肝脾疏暢，而無壅瘀之患。夫人之一身，惟茲氣血兩端，今土木既調，則營衛和而百病自卻矣。至於濕中等效，又舉其偏長耳。煎服者宜新鮮，灸火者宜陳久。生用則寒，熟用則熱。</p>

<h3>薄荷</h3>
<p>味辛，性微寒無毒，入肺經。主中風失音，下脹氣，去頭風，通利關節，破血止痢，清風消腫，引諸藥入營衛，能發毒汗，清利六陽之會首，祛除諸熱之風邪。</p>
<p>按：薄荷有走表之功，宜職太陰之部，中風諸患，固其專也。而血痢之證，病在凝滯，今得辛以暢氣，而結凝為之自釋矣。</p>

<h3>豨薟</h3>
<p>味苦，性溫有小毒，入肝腎二經。補元氣，祛風濕，強筋骨，長眉發，烏須鬢，明耳目。得酒良，九月九日採者。</p>
<p>按：豨薟功驗如上，宜職厥陰少陰二經。高郵軍謂其性溫，當矣！本草言其性寒，與主用相違，不亦誤乎？久服大能補益，故張詠進御表云：金稜銀線，素根紫荄，誰知至賤之中，乃伏殊常之品，臣服百劑，耳目聰明，漸服滿歲，須髭再黑。羅寧一墜馬中風，不意十服即痊。僧知嚴七十口眼喎斜，數服頓愈。若張益州者，可謂識其用矣！宜去根，連莖葉細銼，搗爛取汁，熬煉成膏，以甘草、熟地煎膏，煉蜜三味收之，出火毒，酒調服，功妙不可具述。所謂有小毒者，以生用令人吐也。今既經制度，則毒去而功全矣。</p>

<h3>蒲公英</h3>
<p>味苦甘，性寒無毒，入脾胃二經。化熱毒，消惡瘡結核，解食毒，散滯氣。細銼，同忍冬藤取汁入酒，以治乳癰，服罷欲睡，是其功也，睡覺，病已安矣。</p>
<p>按：丹溪云：蒲公英花黃屬土，宜入太陰陽明經。有一種花葉莖相類而高大者，非也。其真者短小塌地，質輕脆，斷之有白汁，其花干如蔥管空者是也。四時常花，花罷結實，絮中有子，落處則生，則其稟天地中和之性可見矣，故治諸毒。又為黃花地丁者，以治疔毒者名也。</p>

<h3>夏枯草</h3>
<p>味苦辛，性寒無毒，入肝經。主瘰癧癭瘤，濕脾腳腫，肝虛目痛，冷淚羞明，散血破症，生肌解毒，土瓜為使。</p>
<p>按：夏枯草三四月開花，是時正厥陰風木主令，其為肝經之藥明矣。丹溪曰：夏至即枯者，蓋稟純陽之氣，得陰氣則枯也。</p>

<h3>藿香</h3>
<p>味甘辛，性微溫無毒，入肺脾胃三經。開胃口，進飲食，止霍亂，除吐逆。</p>
<p>按：藿香辛溫，入肺經以調氣。甘溫，入脾胃以和中。治節適宜，中州得令，則臟腑咸安，病將奚來？</p>

<h3>荊芥</h3>
<p>味辛苦，性微溫無毒，入肺肝二經。主結氣瘀血，酒傷食滯，能發汗，去皮毛諸風，涼血熱，療痛癢諸瘡，其治產暈如神，陳久者良。</p>
<p>按：荊芥行血療風，則太陰厥陰之入，固其宜也。今人但遇風證，輒用荊防，此流氣散之相沿爾，不知風在皮裡膜外者，荊芥主之，非若防風之入骨肉也，有汗者勿用。</p>

<h3>香薷</h3>
<p>味辛，性微溫無毒，入肺胃二經。主下氣，除煩熱，定霍亂，止嘔吐，療腹痛，散水腫，調中溫胃，最解暑氣。</p>
<p>按：香薷性溫，其除熱解暑之功，何若是其著也！不知炎威酷暑，則臟腑伏陰，胸腹有凝結之憂，而皮膚多蒸熱之氣，得香薷之辛以散之，溫以解之，而傷暑之證，從茲遠矣。熱服令人泄瀉，久服耗人真氣。江右硬梗石生者良，土香薷苗軟，但能解暑，其他無效。</p>

<h3>佛耳草</h3>
<p>味酸，性熱有小毒，入肺經。主肺中有寒，及痰嗽勞嗽，款冬花為使。</p>
<p>按：佛耳專入太陰，大升肺氣。宜少用之，過食損目，以性熱有小毒也。</p>

<h3>蒼耳子</h3>
<p>味甘，性溫有小毒，入肺經。主風寒濕痹，頭風腦漏，疔腫困重，疥癬搔癢，血崩，大風癲癇，善能發汗。炒令香，杵去刺用，反豬肉，解狗毒。</p>
<p>按：蒼耳甘溫，故能走表，肺主皮毛，所以入之，肺主風邪，故治療如上。</p>

<h3>茵陳蒿</h3>
<p>味苦，性微寒無毒，入膀胱經。主傷寒大熱，黃疸便赤。治眼目，行滯氣，能發汗，去風濕。去根用，犯火無功。</p>
<p>按：茵陳專理溲便，本為膀胱之劑，又何以治疸？蓋疸之為病，脾受傷也，而脾之所惡，濕乘土也，得茵陳以利水，則濕去土安，而疸自愈矣！疸分陰寒陽熱二種，陽疸熱多，有濕有燥，同梔子用，一治濕疸。同梔子橘皮治燥疸。陰疸寒多，只有一證，同附子治之。</p>

<h3>使君子</h3>
<p>味甘，性溫無毒，入脾胃二經。治小兒五疳，利小便，止白濁，除瀉痢，殺諸蟲，連殼用。</p>
<p>按：使君子甘溫，宜主脾胃，然多食令人發呃，傷胃故也。</p>

<h3>高良薑</h3>
<p>味辛，性大溫無毒，入脾胃二經。主胃中冷逆，霍亂腹痛，除寒氣，去冷痹，止吐瀉，療翻胃，消宿食，解酒毒。</p>
<p>按：良薑辛溫，脾胃所快，真有寒證者，服之甚驗。若有熱病者，誤投愈劇。</p>

<h3>石蓮子</h3>
<p>味苦，性寒無毒，入心胃膀胱三經。主噤口痢，及濕熱滲入膀胱，為白濁淋瀝等證，清心解煩，開胃進食，去殼用。</p>
<p>按：石蓮苦寒，宜瀉少陰之火，心火既清，則胃與膀胱不能獨熱矣，故皆入之。此別是一種，非蓮子比也。</p>

<h3>合歡皮</h3>
<p>味甘，性平無毒，入心經。主安五臟，利心志，殺諸蟲，消癰腫，續筋骨，令人歡樂無怒，輕身明目，花主小兒撮口，煎湯洗拭，跌打傷疼，熱酒調下。</p>
<p>按：合歡味甘，何以獨入心家？經所謂以甘瀉之之說也。心得所勝，而癰瘡諸患為之自釋矣！其葉細細相併，至夜則合，又名夜合花，似絨拂可愛，俗又謂之烏絨。</p>

<h3>萱草根</h3>
<p>味甘，性寒無毒，入脾肺二部經。主砂淋水氣，酒疸身黃，小便赤澀，身體煩熱，大熱衄血，安五臟，利心志，令人喜悅忘憂，輕身明目。採其嫩苗，功亦相仿，花名宜男，最利胸膈，孕婦佩之，轉女為男。</p>
<p>按：萱草之甘，宜歸脾部，而肺則其所生者，故亦入之。嵇康養生論云：合歡蠲忿，萱草忘憂，《圖經》亦共言之，當非虛語。</p>

<h3>劉寄奴草</h3>
<p>味苦，性溫無毒，入心肺二經。主下氣，除症破血通經，療霍亂水瀉，止金瘡出血，湯火所傷，亦堪搗敷，酒蒸曝用。</p>
<p>按：寄奴之苦，宜歸心臟，而溫暖之性，又與脾部相宜，故兩入之。蓋心實主血，脾實裹血，所以專療血證，唐本云：多服令人利，亦以其宣泄耳。</p>
<p>雷公云：採得後去莖葉，只用實。凡使先以布拭去薄殼皮令淨，拌酒蒸，從巳至申出，曬乾用。</p>

<h3>覆盆子</h3>
<p>味甘酸，性溫無毒，入肝腎二經。主腎傷精滑，陰痿不起，小便頻數，補虛續絕，益氣溫中，安和五臟，補肝明目，黑髮潤肌。亦療中風發熱成驚，女子食之多孕，久服延年。去黃葉及蒂，水淘淨，酒蒸曝乾用。</p>
<p>按：覆盆之酸，宜歸肝部，而腎則其母也。且溫補之性，適與相宜，故鹹入之。《衍義》云：小便多者服之，當覆其溺器，故名。</p>
<p>雷公云：凡使用東流水淘淨，子葉並皮蒂盡了，用酒蒸一宿，以東流水淘兩遍，又曬乾方用。</p>

<h1>卷五</h1>

<h2>木部</h2>

<h3>白茯苓</h3>
<p>味淡微甘，性平無毒，入肺脾小腸三經。主補脾氣，利小便，止煩渴，定驚悸，久服延年。去皮心研細，入水中攪之浮者，是其筋也，宜去之，誤服損目。赤者專主利水。抱根而生者名茯神，主補心安神，除驚悸，治健忘。馬蘭為使，惡白蘞，畏牡蒙、地榆、雄黃、秦艽、龜甲，忌醋及酸物。</p>
<p>按：茯苓色白，是西方肺金之象也。味淡，是太陽滲利之品也。微甘，是中央脾土之味也，故均入之。夫脾最惡濕，而小便利則濕自除，所以補脾既能滲泄，燥脾似不能生津已。潔古何為稱其止渴，良由色白屬金，能培肺部，肺金得補，則自能生水。且經曰：膀胱者，州都之官，津液藏焉，氣化則能出矣。誠以其上連於肺，得肺氣以化之，津液從之出爾。藥性所謂白者入壬癸，亦此意也。而渴有不止者乎？至於驚悸者，心經之虛也，而心與小腸相為表裡，既瀉小腸，而心火亦為之清矣，故能定之。丹溪曰：陰虛未為相宜，蓋虞其滲泄爾。然味尚甘，甘主緩，亦無大害，非若豬苓一於淡滲，而大傷陰分也。《藥性》云：小便多而能止，大便結而能通，與本功相反，未可輕信。赤者屬丙丁，專入膀胱瀉火，故利水之外無他長。茯神抱根，有依而附之之義，驚悸者魂不能附，健忘者神不能守，宜其治矣。《廣志》云：茯神松脂所作，勝茯苓。《衍義》曰：氣盛者泄於身，不抱本根，結為茯苓，有津氣而不甚盛，不離其本，結為茯神，考茲兩書，各相違悖。然仙經服食，多需茯苓，而茯神不與焉。兩說之是非，於是乎辨。</p>

<h3>琥珀</h3>
<p>味甘，性平無毒，入心脾小腸三經。主闢百邪，安五臟，定魂魄，止心痛，消瘀血，利水道，通五淋，破癥結，去目翳，敷金瘡。</p>
<p>按：琥珀乃松脂入地千載化成，得土既久，宜入脾家。松之有脂，猶人之有血與水也。且成珀者，有下注之義，又宜入心與小腸。《內經》曰：主不明則十二官危，便道閉塞而不通。服琥珀則神室得令，五臟安，魂魄定，邪何所附？病何自生邪？於是便道通，而瘀血諸證靡弗去矣！夫目得血而能視，心寧則榮和，而翳何足虞！金瘡者，惟患其血逆於腠爾，能止之和之，未有不瘳者也！丹溪曰：古方用以燥脾土有功，脾能運化，則肺氣下降，故小便可通。若血少不利者，反致其燥急之苦。別說云：茯苓生成於陰者也。琥珀生於陽而成於陰者也，故皆主安心利水而治榮。</p>
<p>雷公云：凡使紅松脂、石珀、水珀、花珀、物象珀、翳珀、琥珀，紅松脂如琥珀，只是大脆紋橫，水珀多無紅色，如淺黃多粗皮，彼石珀如石重，色黃不堪用。花珀紋似新馬尾，松心紋一路赤，一路黃，物象珀其內似有物，極為神妙；翳珀為眾珀之長，故號曰翳珀；琥珀如血色，安於布上拭，吸得芥子者真也。凡入藥中，用水調側柏子末，安於瓷禍中，安琥珀於末中了，下火煮，從巳至申，別有異光，便搗如粉，重篩用。</p>

<h3>松香</h3>
<p>味苦甘，性溫無毒，入脾肺二經。主安五臟，除伏熱，解消渴，逐諸風，療癰疽惡瘡，及白禿疥瘙，風氣金傷，止血殺蟲定痛。松子，益氣補虛；松花，清心解煩；松葉，生毛髮，去風濕，灸罯凍；松節，主骨節久風，腳痹疼痛。久服俱能辟穀延年。</p>
<p>按：松香甘溫之品，與脾部相宜，而肺者脾之子也，故兩入之。伏熱等證，悉屬二經，烏得不治。子花節葉，主療小異，亦親上親下之道也。</p>

<h3>柏子仁</h3>
<p>味甘辛，性平無毒，入肺脾腎三經。主安五臟，定驚悸，補中氣，除風濕，興陽道，暖腰膝，去頭風，闢百邪，潤皮膚，明耳目。側柏葉，味苦澀，性微寒。止吐衄崩痢，除風冷濕痹，烏須黑髮，灸罯凍瘡，久服延年。牡蠣、桂、瓜子為使。畏菊花、羊蹄草、諸石及面曲。</p>
<p>按：柏子仁辛歸肺，甘歸脾，濁陰歸腎，故均入之。柏葉之苦澀，屬金而善守，最清血分，為補陰要藥。須用嫩葉，春採東，夏採南，秋採西，冬採北，才得節候生氣。</p>
<p>雷公云：凡使先以酒浸一宿，至明，漉曬乾，用黃精自然汁，日中煎，手不住攪，若夫天陰，即於當中著火，用瓶器盛柏子仁，著火，緩緩煮，成膏為度，每煎三兩柏子仁，用酒五兩浸。干為度。</p>

<h3>桂</h3>
<p>味辛甘，性大熱有毒，其在下最厚者，曰肉桂。去其粗皮，為桂心，入心脾肺腎四經。主九種心疼，補勞傷，通九竅，暖水臟，續筋骨，殺三蟲。散積氣，破瘀血，下胎衣，除咳逆，療腹痛，止瀉痢，善發汗。其在中次厚者，曰官桂，入肝脾二經。主上焦有寒，走肩臂而行枝節。其在嫩枝四發者，曰桂枝，專入肺經，主解肌發表，理有汗之傷寒。四者皆殺草木毒，百藥無畏，性忌生蔥。</p>
<p>按：桂在下，有入腎之理，屬火，有入心之義。而辛散之性，與肺部相投。甘溫之性，與脾家相悅，故均入焉。官桂在中，而肝脾皆在中之臟也。且經曰：肝欲散，急食辛以散之，以辛補之。又曰：脾欲緩，急食甘以緩之，以甘補之。桂味辛甘，二經之所由入也。薄桂在上，而肺胃亦居上，故宜入之。桂枝四發，有發散之義，且氣味俱輕，宜入太陰而主表。丹溪曰：仲景救表用桂枝，非表有虛而用以補也，衛有風寒，故病自汗，以此發其邪，則衛和而表密，汗自止爾。《衍義》乃謂仲景治表虛，誤也！本草言桂發汗，正合《素問》辛甘發散之義。後人用桂止汗，失經旨矣。大抵桂為陽中之陽，壯年火旺者忌食，惟命門火衰不能生土，納穀不化，及產後虛弱者，宜之。細考桂有數種，論之者無慮數十家，或言種異，或言地殊，各不相侔，咸無所據，詢之交廣商人所販，惟陳藏器所謂雖分數等，同是一物，此說最當。別說亦稱之矣，今採其意以詳別如上。</p>
<p>雷公云：凡使去薄者，要紫色厚者。去上粗皮，取心中味辛者用，每斤大厚紫桂，只取得五兩，取有味厚處生用。如未用，即用重裹熟絹，並紙裹，勿令犯風。其州上只有桂草，無桂心，用桂草煮丹陽木皮，遂成桂心，凡使即單搗用。</p>

<h3>槐實</h3>
<p>味苦，酸鹹，性寒無毒，入心肝大腸三經。主五內邪熱，腸風五痔，湯火瘍瘡，男子囊墜腫痛，陰瘡濕證，婦人陰中痛癢，崩中漏下，明目補腦，殺蠱去風，黑髮延年。酒服能催生墮胎。枝，專主洗濕熱諸瘡，治九種心疼。皮，主中風拘攣，齒痛疳䘌，消癰解毒，止痛長肉。膠，主肝臟風，筋脈抽掣，及急風口噤，四肢不收，或毒風周身如蟲行，破傷危急。花與實同功，又主心痛及疔腫熱毒，赤白下痢，小兒驚癇，景天為使。</p>
<p>按：槐實之苦，能泄心火，酸寒之性，能伐肝經。經曰：酸苦湧泄為陰，其功主降，故又入大腸，以理下焦諸證，且催產難，夫蟲之生也因於濕，風之生也因於熱，濕熱既去，又奚庸虞。花枝皮葉，主治大同小異，久為痔瘡要藥。</p>

<h3>木香</h3>
<p>味苦辛，性微溫無毒，入心肺肝脾胃膀胱六經。主心腹一切氣疾，癖症塊，九種心疼，止瀉痢，除霍亂，健脾胃，消食積，定嘔逆，下痰壅，辟邪氣瘟疫，殺瘧蠱清物。宜生磨用，火炒令人脹，形如枯骨，苦口沾牙者良。</p>
<p>按：木香辛入肺，苦入心，溫宜脾胃，肝者心之母也，膀胱者肺所連也，故均入焉。蓋心乃一身之主，氣血之所聽命者也，有主則能塞氣，肺氣調則金能制木，而肝火自伏矣。凡人有怒，則肝氣拂逆，而反忤其元氣，心有從肝之情而不能制，則肝氣於是乎盛，或為拂逆，或為氣衝，得木香則心氣暢而正氣亦暢，肝氣何拂逆之有哉？實心之行夫肝也，非肝之自行也。東垣以黃連制之，惡其氣行過於通暢，不無走泄之患爾。</p>
<p>雷公云：凡使其木香是蘆蔓根條，五盤旋，採得二十九日方硬如朽骨，硬碎，其有蘆頭丁，蓋子色青者，是木香神也。</p>

<h3>山梔</h3>
<p>味苦，性寒無毒，入心肺大小腸胃膀胱六經。主五內邪熱，亡血津枯，面紅目赤，癰腫瘡瘍，五種黃病，開鬱瀉火，療心中懊憹顛倒而不眠，治臍下血滯小便而不利。皮走肌膚之熱，仁去心胸之熱，解羊躑躅及䘌蟲毒。</p>
<p>按：山梔味苦歸心，輕飄象肺，入腸則供肺為傳道者也，小腸受盛與心應者也，胃亦上焦之腑也，膀胱亦肺部之約也，故鹹入之，以理邪熱諸證。潔古曰：輕清上行。丹溪又曰：屈曲下行。兩家之說，似相左矣。不知惟其上行，最能清肺，肺氣清而化，則小便從此氣化而出。經曰：膀胱藏津液，氣化則能出者，是也。虛火炎者，炒黑用。煩郁嘔逆者，薑汁炒用，此外並宜生服。</p>
<p>雷公云：凡使勿用顆大者，號曰伏。凡梔子無力，須要如雀腦並須長有九路，赤色者上。凡使先去皮須取仁，以甘草水浸一宿，漉出焙乾，搗篩如金末用。</p>

<h3>吳茱萸</h3>
<p>味苦辛，性熱有小毒，入肝脾胃大腸腎五經。主下氣消痰，寒氣噎塞，心腹刺痛，霍亂轉筋，腳氣攻心，止咳逆，逐風邪，消宿食，除血痹，鹽湯炮去毒用。蓼實為使，惡丹參、硝石、白堊，畏紫石英。</p>
<p>按：吳茱萸辛熱之劑，宜入五經，以理寒證。多食大損元氣，腸虛者忌之。</p>
<p>雷公云：凡使先去葉梗，並雜收子，用大盆二口，使鹽水洗一百轉，自然無涎，日乾，任入丸散中用。修事十兩，用鹽二兩，研作末，投東流水，四投中分作一百度洗，則有大效。若用醋煮，即先沸醋三十餘沸後，共茱萸沸，醋盡，曬乾，每用十兩，使醋鎰為度。</p>

<h3>山茱萸</h3>
<p>味甘酸，微溫無毒，入肝腎二經。主通邪氣，逐風痹，破癥結，通九竅，除鼻塞，療耳聾，殺三蟲，安五臟，壯元陽，固精髓，利小便。去梗用，蓼實為使，惡桔梗、防風、防己。</p>
<p>按：山茱萸大補精血，故入少陰厥陰。六味丸用之，取其補腎而不傷於熱耳。若舍是而別求熱劑，以為淫欲助，猶棄賢良而搜佞幸也，愚乎哉？</p>
<p>雷公云：凡使勿用雀兒蘇，臭似山茱萸，只是核八稜，不入藥。使山茱萸，須去內核，每修事去核子一斤，取內皮用，只存成四兩以來，緩火熬之，方用。能壯元氣精秘，其核最滑精。</p>

<h3>蔓荊子</h3>
<p>味苦甘辛，性微寒無毒，入肝經。主散風寒，療頭風，除目痛，去翳膜堅齒牙，利九竅，殺百蟲。酒浸一宿蒸用，惡石膏、烏頭。</p>
<p>按：經曰；東方青色，入通於肝，開竅於目。又曰：風生木，木生酸。酸生肝，荊實入肝，故專主散風，以療目疾。《主治秘訣》云：其味苦甘，為陽中之陰，能涼諸經之血熱。</p>

<h3>杜仲</h3>
<p>味辛甘，性溫無毒，入腎經。主陰下濕癢，小便餘瀝，強志，壯筋骨，滋腎止腰痛。去粗皮，酥蜜炙去絲用，惡蛇蛻、玄參。</p>
<p>按：杜仲降而屬陽，宜職腎家之證。然精血燥者，不宜多用。</p>
<p>雷公云：凡使先須削去粗皮，用酥蜜和作一兩炙之，以盡為度。炙乾了，細銼用，凡修事一斤，酥一兩，蜜三兩，二味相和合處用也。</p>

<h3>烏藥</h3>
<p>味苦辛，性溫無毒，入肺脾二經。主一切氣證，及中惡心腹痛，蠱毒鬼疰，天行疫瘴，嘔逆脹滿，霍亂吐瀉，癰癤疥癩。</p>
<p>按：烏藥辛，宜於肺，溫宜於脾，故主中惡等證。癰癤疥癩，成於血逆，始於氣逆。烏藥長於理氣，故並療之。然辛溫發散，不宜久用，恐損真元。</p>

<h3>厚朴</h3>
<p>味苦辛，性溫無毒，入脾胃二經。去實滿而治腹脹，除濕結而和胃氣，止嘔清痰，溫中消食。乾薑為使，惡澤瀉、寒水石、硝石，忌食豆。</p>
<p>按：厚朴辛則能發，溫則能行，脾胃之所喜也，故入之以理諸證。丹溪曰：厚朴屬土而有火，平胃散用之以佐蒼朮，正謂瀉上焦之濕，平胃土不使太過，以致於和而已。若以為溫補而泛用之，非也。體重濁而微降，最能耗氣，春夏秋宜用，冬間忌之。氣虛之人及孕婦，亦不可服。</p>
<p>雷公云：凡使要用紫色味辛為好，或丸散，便去粗皮，用醋炙過，每條一斤，用酥四兩，炙了細銼，若用湯飲下，使用自然薑汁八兩，炙一日為度。</p>

<h3>黃柏</h3>
<p>味苦，性寒無毒，入腎膀胱二經。主瀉下焦隱伏之火，安上焦虛噦之蟲，除臍下痛，補腎水衰，止血痢，治癰瘡，明眼目，利小便，除濕熱，療女子熱崩。鹽酒多炒，免致寒入於腎，惡乾漆，肉厚鮮黃者佳。</p>
<p>按：黃柏沉而屬陰，故主腎與膀胱諸證。其性苦寒，能泄亢盛之陽，以堅腎部。則水主既盛，陽光自遏，而陰血無火爍之患矣，豈實有滋補之功哉！若腎家無火，兩尺微弱，或左尺獨旺者，均不宜用。</p>

<h3>桑白皮</h3>
<p>味辛甘，性寒無毒，入脾肺二經。主傷寒羸瘦，崩中脈絕，肺氣有餘，虛勞客熱，瘀血停留，吐血熱渴，止嗽消痰，開胃進食，利二便，消水腫，能殺寸白，可縫金瘡。皮中白汁，塗唇燥及小兒口瘡。銅刀切片，文火蜜炙，勿令涎落，桂心、麻子為使，忌見鉛鐵。桑枝，療手足拘攣，陰管作痛，眼眶作暈，氣逆咳嗽，腫毒風癢。桑椹，開關竅，利血脈，安神魂，黑鬚發，明耳目。桑寄生，主除腰痛，去風濕，健筋骨，充肌膚，愈金瘡，益血脈，長鬚發，堅齒牙，安胎氣，下乳汁，止崩漏，折其莖深黃色者真。</p>
<p>按：桑皮辛則走西方而瀉肺金，甘則歸中央而利脾土。然肺氣虛脾氣弱者，不宜用之，恐潤利之品，能走真元爾。枝本四發，有發散之義。椹為桑英，有裨益之功。而寄生獨產於海外，蓋以地暖不蠶，桑木無採捋之苦，得氣最厚，生意濃密，葉上自然生出，何曾有所謂節間可容他子也？此說本之丹溪，最為近理。《圖經》諸書，胥失之也！難得其真，誤服殺人，用者謹之。</p>
<p>雷公云：凡使在樹上自然生獨枝樹是也，採得後，用銅刀和枝根莖細銼，陰乾任用，勿令見火，切忌切忌。</p>

<h3>枸杞子</h3>
<p>味苦甘，性微寒無毒，入肝腎二經。主五內邪熱，煩躁消渴，周痹風濕，下胸脅氣，除頭痛，明眼目，補勞傷，堅筋骨，益精髓，壯心氣，強陰益智，去皮膚骨節間風，散瘡腫熱毒。久服延年，惡乳酪，解面毒。</p>
<p>按：枸杞子味苦可以堅腎，性寒可以清肝，五內等證，孰不本於二經。宜其治矣！陶隱居云：去家千里，勿食枸杞，此言其補精強腎也。然惟甘州者有其功，至於土產者味苦，但能利大小腸，清心除熱而已。</p>
<p>雷公云：凡使用採得後，使東流水浸，以物刷去土，用熟甘草湯浸一宿，然後焙乾用，其根若似物形狀者佳。春食葉，夏食子，秋冬食根並子也。</p>

<h3>地骨皮</h3>
<p>味苦，性寒無毒，入肺腎二經。療在表無定之風邪，退傳屍有汗之骨蒸，除熱清肺，止嗽解渴，涼血涼骨，利二便。去骨用。</p>
<p>按：地骨皮即枸杞根也。故均入腎，又入肺者，蓋以其為表則其用在表，肺主皮毛，所以入二經。功用與枸杞相同。</p>

<h3>酸棗仁</h3>
<p>味酸，性平無毒，入心脾肝膽四經。主筋骨酸寒，夜臥不寧，虛汗煩渴，安和五臟，大補心脾。炒熟去皮尖研用，生者治嗜臥不休。惡防己。</p>
<p>按：棗仁味酸，本入肝經，而心則其所生者也，脾則其所制者也，膽又其相依之腑也，宜併入之。《聖惠方》云：膽虛不眠，寒也，炒熟為末，竹葉湯調服。蓋以肝膽相為表裡，血虛則肝虛，肝虛則膽亦虛，得熟棗仁之酸溫，以旺肝氣，則木來剋土。脾主四肢，又主困倦，所以令人多睡。又《濟眾方》云：膽實多睡，熱也。生研為末，薑茶湯調服，亦以棗仁秋成者也，生則得全金氣，而能制肝木，肝木有制，則脾不受侮，而運行不睡矣。</p>
<p>雷公云：凡使採得後，曬乾取葉，重拌酸棗仁，蒸半日了，去尖皮了，任研用。</p>

<h3>益智</h3>
<p>味辛，性溫無毒，入脾胃腎三經。主遺精虛漏，小便餘瀝，益氣安神，和中止嘔，去皮鹽炒用。</p>
<p>按：益智辛溫，善逐脾胃之寒邪，而土得所勝，則腎水無相剋之虞矣。遺精諸證，吾知免矣。</p>

<h3>檳榔</h3>
<p>味辛甘澀，性溫無毒，入胃大腸二經。主消穀逐水，宣臟利腑，攻堅行滯，除痰癖，殺三蟲，卻伏屍，療寸白，攻腳氣，解諸蠱。墜藥性如鐵石，治厚重如奔馬，見火無功。</p>
<p>按：檳榔甘溫之品，宜於胃家，沉陰之性，宜於大腸。考諸功驗，取其下墜，非取其破氣，廣閩多服之者，蓋以地暖淫蒸，居民感之，氣亦上盛，故服此以降之爾。尖長者，快銳速效。</p>
<p>雷公云：凡使存坐穩正堅實不虛者，心堅有錦紋者妙。半白半黑，並心虛者，不入藥用。凡修事即頭圓矮毗者為榔，身形尖紫紋者為檳，榔力小，檳力大，欲使先以刀刮去底，細切，勿經火。</p>

<h3>大腹皮</h3>
<p>味苦辛，性微溫無毒，入肺脾二經。主冷熱氣攻心腹，疏通關格，除脹滿，祛壅滯，消浮腫，酒洗去沙，復以大豆汁洗用。</p>
<p>按：大腹辛宜瀉肺，溫宜健脾，然宣泄太過，氣虛者勿用，樹上多棲鴆烏，汙染糞毒，最能為害，故必多洗，方堪用爾。</p>

<h3>丁香</h3>
<p>味甘辛，性溫無毒，入肺脾胃腎四經。主口氣腹痛，霍亂反胃，鬼疰蠱毒，及腎氣奔豚氣，壯陽暖腰膝，療冷氣，殺酒毒，消痃癖，除冷勞。有大如山茱萸者，名母丁香，氣味尤佳。</p>
<p>按：丁香辛溫走肺部，甘溫走脾胃。腎者，土所制而金所生也，宜鹹入之。果犯寒疴，投之輒應，倘因火症，為禍勿輕。陳藏器云：拔去白鬚，薑汁調塗孔中，重生即黑。</p>
<p>雷公云：凡使有雌雄，雄顆小，雌顆大，似棗核，方中多使。雌力大，膏煎中用雄。若用須去了，蓋乳子發人背癰也。</p>

<h3>冰片</h3>
<p>味辛苦，性溫無毒，入肺肝二經。主心腹邪氣積聚，喉閉乳蛾，舌腫，痔瘡，通九竅，消風氣，明耳目，殺諸蟲，解蠱毒。又主小兒驚癇，大人痰迷。</p>
<p>按：冰片之辛，本入肺家，而肝則受克者也，故兼入焉。主治諸症，俱是氣閉生熱。而冰片則辛散之極，開氣如反掌，故多用之，然亦從治之法也。世俗因其主用，遂疑其性寒，輒與麝香同用，以為桂附之助，獨不計人身陽易於動，陰易於虧。丹溪之訓，詎可忽諸。</p>

<h3>豬苓</h3>
<p>味淡，性平無毒，入膀胱經。主利便除濕，消腫通淋，去黑皮用。</p>
<p>按：豬苓味淡，五臟無歸，專入膀胱利水，今之療瀉者概用之，謂其去脾家之濕也。不知一於滲泄，逐水太過，水盡則傷腎昏目，不可不知。</p>
<p>雷公云：凡採得用銅刀刮上粗皮一重，薄切，下東流水浸一宿，至明漉出細切，以升麻葉對蒸一日，去升麻葉令淨，曬乾用。</p>

<h3>蘇木</h3>
<p>味甘鹹，性平無毒，入肝經。主破產後惡血，瘡瘍死症，一切跌撲損傷，調月水，去瘀血，和新血，排膿止痛，消癰散腫，及主霍亂嘔逆，赤白痢下，酒蒸乾用。</p>
<p>按：蘇木專主血分，宜入肝經。然破血之功多，而和血之功少，勿得多用，以傷陰分。</p>
<p>雷公云：凡使去上粗皮並節子，若有中心紋橫如紫角者，號曰水中尊色，具是倍常百等。須銼細了重搗拌細條梅枝蒸，從巳至申，陰乾用。</p>

<h3>沉香</h3>
<p>味辛苦，性溫無毒，入腎命門二經。主祛惡氣，定霍亂，補五臟，益精氣，壯元陽，除冷氣，破症癖，皮膚瘙癢，骨節不仁。忌見火，生磨用。</p>
<p>按：沉香屬陽而性沉，多功於下部，命腎之所由入也。然香劑多燥，未免傷血，必下焦虛寒者宜之。若水臟衰微，相火盛炎者誤用，則水益枯而火益烈，禍無極矣。今多以為平和之劑，無損於人，輒用以化氣，其不禍人者幾希。</p>
<p>雷公云：沉香，凡使須要不枯者，如嘴角硬，重沉於水下為上也。半沉者次也，大凡入丸散中用，俟眾藥出，即入拌和用也。</p>

<h3>乳香</h3>
<p>味辛苦，性溫無毒，入十二經。主祛邪下氣，補腎益精，治霍亂，催產難，定心腹急疼，療癮疹風癢，諸般惡瘡，風水腫毒，中風聾噤，亦入敷膏，止痛生肌。瓦上微炒出油，燈草同研用。</p>
<p>按：乳香辛香發散，於十二經絡無所不入。生南海波斯國赤松脂也，垂滴成珠。綴木未落者，名珠香，圓小光明，效速，滴下如乳。熔塌地面者，名塌香，大塊枯黯，效遲，用者不可不審。</p>

<h3>沒藥</h3>
<p>味苦辛，性平無毒，入十二經。主破癥結宿血，止痛，療金瘡杖瘡痔瘡，諸惡腫毒，跌打損傷，目中翳暈，歷節諸風，骨節疼痛，制同乳香。</p>
<p>按：沒藥與乳香同功，大抵血滯則氣壅淤，氣壅淤則經絡滿急，故痛且腫，得沒藥以宣通氣血，宜其治矣。</p>

<h3>木瓜</h3>
<p>味酸性寒無毒，入肺脾肝三經。主腳氣水腫，心腹冷熱痛及奔豚，去濕氣，調營衛，助穀氣，和脾胃，止吐瀉。忌犯鐵器，石搗用。</p>
<p>按木瓜之入三經，何也？經所謂以酸補肺，以酸瀉肝，脾則受制於木，而孕育夫金者也，何弗入焉？東垣云：氣脫則能收，氣滯則能和，腰腎腳膝之要藥也。香薷飲用之，取其專和脾胃，培植肺氣，除夏間之濕，以生至微之金耳。</p>
<p>雷公云：凡使勿誤用和圓子、蔓子、土茯子，其色樣外形，真似木瓜，只氣味別，並向裡子，各不同，若木瓜皮薄，微赤黃香，甘酸不澀，調營衛，助穀氣，向裡子頭尖一面，方是真木瓜。若和圓子，色微黃，蒂核粗，子小圓，味澀微酸，傷人氣。蔓子顆小似木瓜，味絕澀，不堪用。土茯子似木瓜，味絕澀，子如大祥油麻，又苦澀不堪用，若餌之令人目澀。目赤，多筋骨痛，凡使木瓜，勿犯鐵，用銅刀刮去硬皮並子，薄切，於日中曬，卻用黃牛乳汁拌蒸，從巳至未，其木瓜如膏煎，卻於日中薄攤，曬乾用也。</p>

<h3>竹葉</h3>
<p>味甘淡，性平無毒，入心肺胃三經。主新舊風邪之煩熱，喘促氣勝之上衝，療傷寒，解虛煩，治消渴，療喉痹，止嘔吐，除咳逆。有一種苦竹葉，主舌瘡目痛，去青刮取為竹茹，主胃熱嘔呃，除煩解渴，療吐衄崩中，噎膈氣溢，筋極五痔。火燒竹瀝，主陰虛發熱，中風口噤，除自汗，解消渴，止驚悸，清煩躁，痰在手足四肢，非此不達，痰在皮裡膜外，有此可驅；又主小兒天吊驚癇，婦人懷孕悶暈。胎前不損子，產後不得虛。筍，補氣止渴，久食益人。</p>
<p>按：竹葉生於中半以上，故主治多在上焦，心肺胃，皆臟腑之居上者也，宜併入之。味苦者專瀉南方，竹茹者其除土鬱，故主用小殊。竹瀝者竹之液也，猶人身之血也，極能補陰，況陰之不足，由於火爍，竹瀝長於清火，則血得其養，《本經》已載其功，丹溪又詳其效，而世俗不能常用者。蓋泥《證類》之大寒爾，不知竹即筍之老者也。今人自幼食筍，至老不撤，曾無中其寒涼之害者。瀝則假火而成，何寒之有？《證類》之所大寒者，蓋表其功，非論其氣也。幸高明者准之以理，斯藥無遺用矣。</p>

<h3>天竺黃</h3>
<p>味甘，性寒無毒，入心經。主清心明目，除驚解煩，驅邪逐痰，及小兒驚癇天吊風熱諸證。</p>
<p>按：竺黃之寒，專瀉少陰之火，火去而驚邪諸證靡不療矣。產三竺國，即竹節內黃粉，然多有偽者，須辨其片片如竹節者真。</p>

<h3>金櫻子</h3>
<p>味酸澀，性溫無毒，入脾肺腎三經。主脾泄下痢，血崩帶下，澀精氣，止遺泄，除咳嗽，止小便，助真氣，潤顏色，久服延年。先去刺，剖開去子，復拭去毛用。</p>
<p>按：丹溪曰：金櫻子屬土而有金與水，脾肺腎之入，固其宜也。又曰：經絡隧道，以通暢為和平，味者取其澀性，煎膏食之，自作不靖，咎將誰執？此恐過服者傷脾百發也。須九十月間半熟時採之，太生令人利、太熟功力薄。</p>

<h3>訶梨勒</h3>
<p>味苦酸澀，性溫無毒，入肺肝脾腎大腸五經。主冷氣心腹脹滿，久瀉痢，霍亂喘急，腸風瀉血。崩中帶下，奔豚腎氣，開胃消食，生津止渴，治嗽開音，酒浸蒸熟用。未熟時風飄墜者，謂之隨風子。肺因火傷，郁退脹滿，痰嗽咽喉不利者，含三四枚殊勝。</p>
<p>按：訶梨勒，酸以瀉肝收肺，苦以堅腎瀉脾，澀以厚大腸，五經之入所由來也。終是酸澀之劑，久瀉痢者宜之，若積初而用之，與丹溪痢無止法意相左矣！《衍義》曰：氣虛人亦宜緩緩煨熟少服，雖能澀腸，又能泄氣故也。丹溪云：訶梨勒紋只有六路，或多或少，此是毗梨勒、罨梨勒、榔精勒、雜路勒，並不宜用。</p>
<p>雷公云：凡使勿用毗梨勒，罨梨勒，榔精勒、雜路勒。若訶梨，紋只是六路，或多或少，並是雜路勒，毗路勒，個個毗雜，路皆圓露。又或八路至十三路，號曰榔精勒，多澀，不入用。凡修事先於酒內浸，後蒸一伏時，以刀削路，細銼，路乾用之。</p>

<h3>郁李仁</h3>
<p>味酸，性平無毒，入大腸經。主四肢浮腫，腸中結氣，關格不通，膀胱急痛，潤腸破血，利水下氣，消食寬中。忌面及牛馬肉。</p>
<p>按：郁李仁屬陰，性主降，故獨入大腸。然宣泄太過，能疏五臟真氣，虛人不宜多用。</p>

<h3>蕪荑</h3>
<p>味辛，性溫無毒，入肺脾二經。主五內邪氣，腸風痔漏，疥癬風熱，皮膚骨節間風濕，除冷氣，化宿食，消疳積，殺諸蟲。去衣，麵炒黃用。</p>
<p>按：蕪荑辛宜於肺，溫宜於脾，故兩入之。風寒濕脾，大腸冷滑者，此為要劑。夫氣食皆因寒而滯，諸蟲皆因濕而生，得蕪荑以溫之燥之，而證猶不痊者，未之有也。</p>

<h3>五加皮</h3>
<p>味辛苦，性溫無毒，入肺腎二經。主心腹腰膝痛，疝氣，骨節拘攣多年，瘀血在皮膚，陰痿囊濕，小兒腳軟，女子陰癢陰蝕，補勞傷，堅節骨，益志氣、添精髓，久服延年。遠志為使，畏蛇皮，玄參。</p>
<p>按：五加皮辛能瀉肺，苦能堅腎，宜併入之，心腹等件，何非兩經之證，而有不治者耶？昔張子聲、楊廷如、王叔牙、於世彥等，皆服五加皮酒，不絕房室，得壽三百歲，有子二十人，延年之說，此其徵矣。</p>
<p>雷公云：今五加皮其樹本是白，秋樹其上有葉如蒲葉者，其三葉花是雄，五葉花是雌，剝皮陰乾，陽人使陰，陰人使陽。</p>

<h3>楮實</h3>
<p>味甘，性平無毒，入腎經。主補虛勞，壯陰痿，助腰膝，退水腫，堅筋骨，益氣力，充肌膚，悅顏色，明耳目。久服長生，酒浸一宿蒸用。樹汁，塗癬及蠍螫。樹皮，主逐水利小便。葉，主小兒身熱，煎湯洗惡瘡，長肌肉，莖主癮疹作癢，單煮洗浴。</p>
<p>按：楮實濁陰下降，宜入少陰，補益之功，諸書具載，獨《修真秘旨》曰：服楮實者，輒為骨軟疾，必非無根之說，然甚難解釋，姑錄之以待明敏。</p>
<p>雷公云：凡使採得後用，用水浸三日，將物攪旋，浮於水面者去之，然後曬乾，卻用酒浸一伏時了，使蒸從巳至亥出，焙令乾用。</p>

<h3>秦皮</h3>
<p>味苦，性寒無毒，入肝腎二經。主散風寒濕痹，去肝中久熱，兩目赤腫，青白翳暈，流淚不止，及丈夫精衰，女子崩帶，小兒風熱驚癇。大戟為使，惡吳茱萸、防葵。</p>
<p>按：秦皮青碧之色，宜入厥陰，沉陰之品，宜入少陰。脾胃虛寒者，不宜多用。</p>

<h3>樗白皮</h3>
<p>味苦澀，性寒無毒，入心肝脾三經。主月經過度，帶漏崩中，夢泄遺精，腸風痔漏，久痢脫肛。縮小便，除瘡疥，祛鬼疰，殺傳屍，解蠱毒，逐蛔蟲。蜜炙用。有一種椿皮，功用相同，性斂微溫。</p>
<p>按：樗白皮血中之藥也，心主血，肝藏血，脾裹血，宜均入之。孟詵云：多食令人神昏血氣微。</p>

<h3>密蒙花</h3>
<p>味甘，性微寒無毒，入肝經。主青盲膚翳，赤澀眵淚，赤脈貫睛，又主小兒麩痘及疳眼。酒浸一宿，蜜拌蒸，曬乾用。</p>
<p>按：密蒙專入肝經。故治目之外無他長，眼科之要劑也。</p>
<p>雷公云：凡使先揀令淨，用酒浸一宿，漉出候乾，用將蜜令潤蒸，從卯至酉出，日乾，如此拌蒸三遍，又卻日乾用，每修事一兩，用酒八兩，浸待色變，用蜜半兩蒸為度，此元名木錦花。</p>

<h3>辛夷</h3>
<p>味辛，性溫無毒，入肺胃二經。主身體寒熱，頭風腦痛，面腫齒痛，眩冒如在車船，溫中氣，利九竅，解肌表，通鼻塞，除濁涕，生鬚髮，殺白蟲，去麵點。去毛及心用，芎藭為使，惡五靈脂，畏菖蒲，蒲黃、黃連、石膏、黃環。</p>
<p>按：辛夷辛溫發散，太陰陽明之入，固其宜也。若肺胃虛熱不受風邪者，勿得漫用。</p>
<p>雷公云：凡使之去粗皮，拭上赤肉毛了，即以芭蕉水浸一宿，漉出，用漿水煮，從巳至未出，焙乾用。若治眼目中患，即一時去皮，用向裡實者。</p>

<h3>蕤仁</h3>
<p>味甘，性溫無毒，入心肝脾三經。主心腹結氣結痰，鼻中衄血，眼疱上下風腫爛弦，左右眥熱障胬肉，清火止淚，益水生光。破核取仁，去皮尖研用。</p>
<p>按：心肝與脾。皆血之臟，而蕤仁入之，夫目之有疾，血之故也。今得其甘以養血，溫以和血，而腫脹諸患，從茲息矣。</p>
<p>雷公云：凡使先用熱水浸去皮尖，作兩片，用芒硝、木通、甘草、三味，和蕤仁同水煮一伏時，後漉出，去諸藥，取蕤仁研成膏，加減入藥中使。凡修事四兩，用芒硝一兩，木通甘草七兩。</p>

<h3>女貞實</h3>
<p>味甘苦，性平無毒，入心肝二經。主安五臟，養精神，補陰分，益中氣，黑鬚發，強筋力，去風濕，除百病，久服可延年。冬採，取布袋洗淨衣皮，酒浸一宿，曬乾用。</p>
<p>按：女貞實苦走心，甘走脾，性用平和，經冬不凋，誠補陰之上劑也。仙家亦需服食，今罕有能用之者，亦未究其藥爾。</p>

<h3>五倍子</h3>
<p>味苦酸，性平無毒，入大腸經。主齒宣疳䘌，風癬疥癢，腸風五痔，及小兒面鼻口耳疳瘡，明目生津，止瀉澀精。噙口中，治口瘡。善收頑痰，解諸熱毒。百藥煎即五倍造成，主肺脹喘咳。噙化能斂而降之。</p>
<p>按：五倍酸苦之性專澀大腸，其收斂甚捷，瀉痢初起者，未宜入劑。</p>

<h3>牙皂</h3>
<p>味辛鹹，性溫有小毒，入肝胃二經。主風痹死肌，頭風目淚，中風邪氣勞蟲等物。通關竅，理癰疽，消脹滿，化穀食，除咳嗽，療骨蒸，去疥癬。搐鼻噴嚏立至，敷腫疼痛即除。和生礬可吐風痰，拌蜂蜜名為導箭。水浸一宿，去皮弦酥炙，復去核及黃用。柏實為使，惡麥門冬，畏空青、人參、苦參、皂角刺，主厲風鼻梁崩倒，眉發自落。又主癰疽，其未潰者，能發散，其已潰者，能引排膿藥直達膿處成功。諸惡瘡癬，咸不要缺。</p>
<p>按：肝為風木之臟，胃為水穀之腑，牙皂辛溫，有行散之功，宜併入之。多用能耗氣損血，其刺乃質干之銳者，故於瘡癰，無所不達。若療厲風，九蒸曝為妙。</p>

<h3>巴豆</h3>
<p>味辛，性生溫熟寒，有大毒，入脾胃大腸三經。主消堅積，蕩臟腑之沉寒，通閉塞，利水穀之道路，排膿消腫，破血通經，殺鬼毒蠱疰及腹臟諸蠱。去皮心膜油，水煮五度用，芫花為使，惡蘘草，畏大黃、黃連、藜蘆、牽牛、蘆筍、醬豉、冷水，殺斑蝥蛇蠍毒。</p>
<p>按：巴豆專主宣通，則脾胃大腸宜其入已。炒令紫黑，可以通腸，亦可止瀉。蓋通因通用之意也。仲景東垣及諸名家，每每用之，今世俗畏其辛熱之毒，盪滌之患輒云劫劑，廢皆不用，不知巴豆為斬關奪門之將，其性猛烈，投之不當，為害非輕，用之得宜，奏功甚捷。譬如張飛，亦一虎將也。顧人用之何如耳？可概棄哉！倘氣虛羸弱，脾氣久傷者，誠所大忌。</p>
<p>雷公云：凡使巴豆之與豆及剛子，須在仔細認，勿誤用殺人。巴顆小緊實，色黃。豆即顆，有三稜，色黑。若剛子，小似棗核，兩頭尖，巴與豆即用，剛子，勿使。凡修事巴豆敲碎，以麻油並酒等煮，研膏後用，每修事一兩，以酒與麻油各七合，盡為度。</p>

<h3>金鈴子</h3>
<p>味苦，性寒。有小毒，入心小腸二經。主溫疾傷寒，理大熱癲狂，利小便，通水道，殺三蟲，愈瘡瘍，善除心痛，宜作浴湯。曬乾酒蒸，去皮核用，川蜀者佳。</p>
<p>按：金鈴子苦寒，宜入心家，而小腸即其腑也，故併入之。瘡瘍諸證，何非心火所致，得金鈴以瀉之，洵可愈矣。</p>

<h3>紫葳</h3>
<p>味甘酸，性微寒無毒，入脾肝二經。主婦人產後血崩不定，血隔遊風，崩中帶下，癥瘕血閉，安胎通淋；又主熱風及身癢風疹，二便不通，酒渣熱毒。畏滷咸，一名凌霄花。</p>
<p>按：紫葳甘歸脾臟，酸走肝家，二經乃藏血裹血者也，故專調血證。風癢之生，亦營衛不和爾，宜並理之。丹溪曰：治崩中血症之要藥也，且補陰甚捷，蓋有守而獨行者。</p>

<h3>雷丸</h3>
<p>味苦鹹，性寒有小毒，入肺脾胃三經。主胃中熱，癲發狂走，惡風汗出，解蠱毒，殺諸蟲，逐皮裡膜外之水；又作糜膏，除小兒百病，利丈夫，不利女子，久服陰痿。火炮用，荔實、厚朴、芫花為使，惡葛根、扁蓄，赤者殺人。</p>
<p>按：雷丸苦能燥脾，而胃則其腑也，肺則其子也，故均入之。蟲以濕熱為巢穴，濕熱去而蟲可殺矣。《本經》既云利丈夫，《別錄》又云久服陰痿，於事相反，陶隱居以此致疑，不知利者疏利之謂爾！非利益也。</p>
<p>雷公云：凡使用甘草，水浸一宿了，將刀刮去黑皮，破作四五片，又用甘草湯浸一宿後蒸，從巳至未，日乾，卻以酒拌如前，日乾用之。</p>

<h3>鉤藤</h3>
<p>味甘苦，性微寒無毒，入十二經。主小兒寒熱，諸種驚癇，胎風客忤，熱壅夜啼。舒筋活血，色黃而嫩鉤多者佳。</p>
<p>按：鉤藤兼生氣血，故於經絡靡所不入，惟療小兒，不入余方。</p>

<h3>血竭</h3>
<p>味甘微咸，性平有小毒，入諸陰經。主五臟邪氣，心腹卒痛，除帶下，破積血，療疥癬惡瘡及金瘡，生肌止痛，得密陀僧良。有假者是海母血，頗相似，然味大咸有腥氣為辨爾。敲斷有光彩，磨指甲紅透者佳，另研用。若與別藥同搗，化作飛塵。</p>
<p>按：血竭專主血分，故入諸陰之經。日華子云：諸瘡久不合者，以敷此藥。然不可多使，卻能引膿。</p>

<h3>茶茗</h3>
<p>味甘苦，性微寒無毒，入心肝脾肺腎五經。主下氣醒睡，除痰消瘡，利便生津，破熱氣，清頭目，善祛油膩，解煎炙毒。</p>
<p>按：茶茗清利之品，故五臟鹹入。然過食傷脾，令人面黃消瘦，其醒睡者，亦以伐脾故耳。</p>

<h3>阿魏</h3>
<p>味辛，性微熱無毒，入胃經。主破症積，下惡氣，治霍亂，止腹疼，闢瘟禁瘧，闢鬼祛邪，能消蠱毒，可滅傳屍。</p>
<p>按：阿魏辛熱之性，與胃腑相宜，故獨入之。產波斯國阿虞木內之脂也。《唐本》云：體性極臭，而能止臭，亦奇物也。今市家多煎蒜白假充，不可不辨。真者置熱銅器中一日夜，其沾阿魏處，白如銀。</p>
<p>雷公云：凡使多有訛偽，共有三驗。第一驗將半銖安於熱銅器中，一宿至明，沾阿魏處，白如銀汞，無赤色。第二驗將一銖置於五方草自然汁中，浸一夜至明，如鮮血色。第三驗將一銖安在樹上，樹立干，便是真。凡使先於淨缽中研如粉了，於熱酒器上蒸過，存入藥中用之。</p>

<h3>乾漆</h3>
<p>味辛，性溫有毒，入胃大小腸三經。主年深堅結之沉積，日久秘結之瘀血，殺三蟲，絕傳屍，損咳嗽，止崩漏，除九種心疼，療風寒濕痹，炒令煙盡用，半夏為使，畏雞子、油脂、鐵漿、黃櫨汁、蟹。</p>
<p>按：乾漆專主行化，胃與二腸，宜其入已。然攻堅消積之劑，終損元神，不宜過用。中其毒者，以所畏之物解之。</p>

<h3>楓香</h3>
<p>味辛苦，性平無毒，入脾肝二經。主辟惡氣，治瘍毒，止齒痛，消風氣，除下痢。止霍亂，退癮疹最捷。一名白膠，一名芸香。</p>
<p>按：楓香辛宜走肺，苦宜燥脾，治節得宜，倉廩得令，則惡氣等證，何患其不瘳？</p>

<h3>蜀椒</h3>
<p>味辛，性熱有毒，入肺脾二經。主冷氣咳逆，心腹邪氣，風寒濕痹，癥瘕積聚霍亂轉筋，留飲宿食，開腠理，通血脈，堅齒髮，調關節，堪闢瘟疫，可洗漆瘡。微炒能出汗。去黃谷用。</p>
<p>按：蜀椒辛宜肺部，熱宜脾家，故併入之。證屬寒凝，誠為要劑。然過於行散，多服令人乏氣，且發熱疾，閉口者能殺人，不可不慎。</p>
<p>雷公云：一名南椒，凡使須去目及閉口者不用。其椒子先須酒拌，令濕蒸，從巳至午放冷。又製法微炒出汗，投器中舂之，取紅皮，去黃谷，密收器中任用也。</p>

<h1>卷六</h1>

<h2>菜部</h2>

<h3>生薑</h3>
<p>味辛，性溫無毒，入肺心脾胃四經。主通神明，去穢惡，散風寒，止嘔吐，除泄瀉，散鬱結，暢脾胃，療痰嗽，製半夏。和藥要熱去皮，要冷留皮，惡黃芩。</p>
<p>按：生薑辛入肺，肺得所勝，則氣通宣暢，主宰精靈，故能通神明，神明通則一身之氣皆為我使，而亦勝矣。一身之氣勝，則中焦之元氣定，而脾胃出納之令行，邪氣不能容矣，故能去穢惡。經云：秋不食姜者，蓋以燥金主令，天道斂收。姜則味辛，善散肺氣，人肖天地以生，未有干天地之和而猶受其益者。諺所謂夜不食姜，亦以夜氣斂而姜性散耳。如療病則不可泥也，宜常用而不宜多用。</p>

<h3>乾薑</h3>
<p>味辛，性大熱有毒，入肺大腸脾胃腎五經。生者味辛，能行血，逐寒邪而發表。熟者味苦，能止血，除胃冷而守中，沉寒痼冷。腎中無陽，脈氣欲絕者，用黑附為引。</p>
<p>按：乾薑之辛，本職肺家，其以性熱，故又入脾胃大腸。至於少陰之入，黑附為之引耳。夫血遇熱則走，生者行之，固其宜也。而吐衄下血崩漏淋產證，熟者反能止之，何也？蓋物極則反，血去多而陰不復，則陽無所附，得此以助陽之生，而陰復矣。曰：見火則味苦色黑，守而不走，血安得不止耶？然必病久氣虛，亡陽而多盜汗，及手足冷者宜用，若初病火熾，遽爾投之，是抱薪救火，危亡立至矣！可不謹乎？丹溪曰：乾薑散肺氣，同五味能止嗽，治血虛發熱。該與補陰藥同用。入肺中利肺氣，入腎中燥下濕，入氣分引血藥入血也。東垣云：多用能耗元氣，壯火食氣故也。乾薑辛熱，皆言補脾，海藏獨言泄脾，何也？泄之一字，非泄脾之正氣，是泄脾中寒濕之邪。蓋以辛熱之劑燥之，故曰泄脾也。生者能墮胎。</p>

<h3>萊菔</h3>
<p>味辛甘，性溫無毒，入肺脾二經。主下氣消食，除痰止嗽，解渴化癖。搗汁磨墨，堪止吐血；熟者補脾。其子下氣猶捷，有推牆倒壁之功；水研可吐風痰；醋研可敷惡毒。俗名蘿蔔，解面毒。</p>
<p>按：萊菔辛宣肺部，甘走脾家，故兩入之。生者下氣，多食耗血，以辛多於甘也。熟者補脾，多食滯氣，以甘多於辛也。其子力倍，虛者戒之。</p>

<h3>白芥子</h3>
<p>味辛，性溫無毒，入肺胃二經。主下氣，止翻胃，消瘧癖，闢鬼邪，驅疰氣，除皮裡膜外痰涎；醋研可敷射工毒；其莖葉，堪卻冷氣，能安五臟。</p>
<p>按：白芥子辛宜於肺，溫宜於胃，故俱入之。氣虛及肺胃中有火者，咸禁食之。</p>

<h3>韭</h3>
<p>味辛，性溫無毒，入肺脾腎三經。主下氣和中，補腎益陽，利腰膝，和臟腑，除胸腹痃癖痼冷，止白濁遺精。其根搗汁，下膈中瘀血殊效。其子較根葉猶勝，忌糖蜜及牛肉。</p>
<p>按：丹溪云：韭屬金而有土與水，宜入肺脾腎以主三經之證。然不宜多食，令人神昏目暗。</p>

<h3>蒜</h3>
<p>味辛，性大溫，有小毒，入脾胃二經。主溫中消食，止霍亂轉筋，除吐瀉及中脘冷痛，瘟疫瘴癘，蠱毒疔腫，邪痹毒氣。</p>
<p>按：蒜味辛溫，故入脾胃以理諸證。丹溪云：性熱快膈，人皆喜食，多用則傷脾損肺，壞肝昏目，生痰發嗽，而無顏色，化肉之功，不足多也，有志頤生者，宜知自警。</p>

<h3>胡荽</h3>
<p>味辛，性溫微毒，入肺脾二經。主通小腹氣，除四肢熱，止頭痛，消穀食，散痧疹，齊痘瘡。其子煎油，可敷禿瘡。忌斜蒿同食，令人汗死。</p>
<p>按：胡荽味辛，肺所藥也。性溫，脾所快也，故皆入之。肺主皮毛，脾主肌肉，所以理痧痘等證。多食損精神，發痼疾，令人健忘。腳氣狐臭者，食之愈甚。</p>

<h3>蔥白</h3>
<p>味辛，性溫無毒，入肺胃肝三經。善發汗，通骨節，逐肝邪，明眼目，去喉痹，愈金瘡，安胎氣，止鼻衄，治霍亂轉筋，理傷寒頭痛，殺魚肉毒，通大小腸，散面目浮腫，止心腹急疼，腳氣奔豚氣。連須搗，可除蛇傷蚯蚓傷。畏蜜、菘菜、常山，同食殺人。</p>
<p>按：皮毛腠理，肺所司也，風淫水旺，肝所患也。邪傳入里，胃所疾也。蔥白功專發散，又主通中，三經之入有由來矣。多食則伐氣昏神，虛者戒之。</p>

<h3>冬葵子</h3>
<p>味甘，性寒無毒，入小腸膀胱二經。主滑胎產，利小便，療熱淋，逆生者得之即順，胎死者得之即下，能通乳汁，堪潰癰疽。</p>
<p>按：冬葵子性最滑利，能宣積壅，宜入手足太陽，以為催生之劑，然不可預服，恐胞未轉而先催，空涸其水，反艱其產耳。癰疽者，營氣不從，逆於肉理。乳閉者，亦凝滯之所致也，得冬葵以導之，而不瘳者鮮矣。</p>

<h3>白冬瓜</h3>
<p>味甘，性微寒無毒，入脾胃大小腸四經。主胸前煩悶作渴，臍下水脹成淋，通大小便，大解熱毒，可貼癰疽，又解丹石毒及魚毒。</p>
<p>按：冬瓜味甘，宜入脾胃，性走而急，宜入大小腸。煩渴癰疽，皆熱也，其性寒，故能解之。丹溪曰：久病與陰虛者忌服，未被霜而食之，令人成反胃病。</p>

<h2>人部</h2>

<h3>乳汁</h3>
<p>味甘，性平無毒，入心肝脾三經。主健四肢，榮五臟，實腠理，悅皮膚，安神魂，利關格，明眼目，久服延年。</p>
<p>按：乳汁本血也。心主血，肝藏血，脾裹血，宜併入之。夫婦人之血，降為月水，升為乳汁。房術云：女子一身屬陰，惟月水屬陽，故名水中金。惜《神農本經》不載，而諸家本草，遂以為血屬於陰，其性大冷，不知月水乳汁，本同一物。月水之熱，人咸知也，今升而為乳，質較輕清，中和補益，實為過之，何反以為大冷耶？若果大冷，則必能傷脾，小兒食之，當泄利不止矣！有是理哉？特不宜與食混進，誠能令人瀉耳。</p>

<h3>金汁</h3>
<p>味甘苦，性大寒無毒，入心經。主天行狂熱，陰虛燥熱，解一切毒，療一切瘡，埋土年久者佳。</p>
<p>按：《素問》曰：濁陰出下竅，宜其足以制陽亢，而心則火之主也，故獨入之。造法於冬月取竹籮置缸上，棕皮鋪滿，加草紙數層，屎澆於上，汁淋在缸。新甕盛貯，磁缽蓋之，鹽泥封固，埋地年深，自如清泉，聞無穢氣。又法，臘月取淡竹刮去青皮，浸廁中取汁亦佳。</p>

<h3>屎蛆</h3>
<p>味甘鹹，性平無毒，入脾經。主小兒疳積脹滿，須水中漂淨，貯於桶中，剖蝦蟆飼肥，烈日曝蒸，蓋密即死，文火烘燥用。</p>
<p>按：蛆本濁陰下降流動不拘之物，有行下之理，故專入脾經。以療兒疳最效。</p>

<h3>人溺</h3>
<p>味鹹，性寒無毒，入心肺二經。主勞熱吐衄，痰喘咳嗽，撲傷瘀血，產後敗血，生津解渴，能通二便，童男者猶勝。積垢在器，即名人中白，瓦上文火煅之存性，酒醋兼制，與溺同功，療口瘡痰結，須露天經年者佳。</p>
<p>按：人溺降火最速，丹溪曰：氣有餘便是火。肺主氣，心屬火，宜均入之，降火而不傷於寒涼，且補益之功甚大，而本草不言，惜哉？褚澄云：以童便治血證，百不一死，庶得其用矣。</p>

<h3>秋石</h3>
<p>味鹹，性微寒無毒，入肺腎二經。主滋腎水，返本還元，養丹田，歸根覆命，安和五臟，潤澤三焦，消咳逆稠痰，退骨蒸勞熱，能除鼓脹，亦軟堅積，明目清心，延年益壽。按：秋石之咸，本專入腎，而肺即其母也，故併入之。須用陰陽煉者，兼而服之，得坎離既濟之義，東坡有煉法可用。</p>

<h3>月水</h3>
<p>性味經絡，諸書不載。主男子羸，中傷幾死，解藥箭毒，首經者猶屬純陽，能回生再造。</p>
<p>按：月水之補，實令人有起死之功，今時罕有能用之者，惜哉！</p>

<h3>發</h3>
<p>味苦，性微溫無毒，入心經。主咳嗽五淋，二便不通，燒灰吹鼻，立止衄血，亦主小兒驚癇，胎髮及童男女剃下者尤佳，多產婦人發，燒灰酒服，極善催生。</p>
<p>按：發為血之餘。而心則主血者也。故獨入之。丹溪稱其補陰甚捷，良有故耳。</p>
<p>雷公云：凡使須用男子二十以來，無疾患，顏貌紅白，於頂心剪下者佳。凡於丸散膏中，先用苦參水浸一宿，漉出入瓶，以火燒之，令通赤，放冷，研用之。</p>

<h3>紫河車</h3>
<p>味甘，性大溫無毒，入心脾腎三經。主諸虛百損，五勞七傷，骨蒸潮熱，體弱氣短，吐衄，男子精衰，婦人無孕，的是仙丹。取肥壯者洗淨，抽去紫筋切碎，入童便二碗，入鉛瓶重湯煮爛，一晝夜方開，杵成膏用。世俗有埋地日久化作清泉者，此名河車水，主天行時疫熱狂，小兒丹疹熱毒。</p>
<p>按：紫河車味甘，宜其歸脾；父之精也，宜歸腎臟；母之血也，宜入心家。夫其精血所結，未有男女，先立胚胎，渾然太虛，實乾坤之橐龠，鉛汞之根基，九九數足，兒則載而乘之，故名河車。又曰紫者，以紅黑色相雜也。合坎離之色，得妙合之精，雖成後天之形，實稟先天之氣，補益之功，更無足與儔者。第其性溫，若有火證者，必得便制，斯無他患耳。</p>

<h3>天靈蓋</h3>
<p>味鹹，性平無毒，所入經絡，諸書不載。主傳屍鬼疰，並療大傷，取得後，用糖灰火罨一夜，待腥穢氣出盡後，用童便於磁鍋內煮一伏時，埋於地下可深一尺亦一伏時，取出聽用。陽人使陰，陰人使陽。</p>
<p>按：天靈蓋即頂蓋骨也，《神農本經》不載，後世醫家始用之，此本同類之物。見則當憐而悲之，乃取而食之，殊非仁人之用心，世稱孫思邈有大功於世，以殺命治命，尚有陰貴，況於是乎？若必不得已而用之，當取年深漬汙者良，以其絕屍氣也。</p>

<h3>死人枕</h3>
<p>味鹹，性平無毒，所入經絡，諸書不載。主傳屍鬼疰邪氣石蛔。取之煎湯用，用畢送還原處。</p>
<p>按：死人枕即腦後骨也，夫鬼邪乘人，非藥石可攻，用死人枕者，所謂引之以類也。石蛔者，久蛔也，醫療既癖，蛔蟲轉堅，藥劑不能療，所以需鬼物驅之。用畢即送還原處者，一則使邪疰之氣有所依歸，一則勿以療人而傷鬼也。古有神醫徐嗣伯劉大用者，用之輒驗。</p>

<h2>禽獸部</h2>

<h3>黑嘴白鴨</h3>
<p>味甘，性微寒無毒，入肺腎二經。主大補虛勞，最消毒熱，利小便，除水腫，消脹滿，利臟腑，退瘡腫，定驚癇。綠頭者亦堪用，白目者能殺人，忌龜鱉肉。</p>
<p>按：肺之色屬白，腎之色屬黑，黑嘴白鴨宜其入此二經。肺腎受補，誠為勞證仙方，得童便煮服，功效不可盡述。</p>

<h3>烏骨毛雞</h3>
<p>味甘，性微溫，有小毒，入五臟諸經。主虛羸折傷癰疽，及心腹惡氣，亦能安胎，過食生火動風。</p>
<p>按：丹溪曰：雞屬土而有金與木火。則所稟者惟少水爾，今得其毛骨之黑，是五行具備，故於五臟靡弗也。於卦為巽，巽為木，故能生火；又為風，故能動風。日華子以為除風濕麻痹，於理未合。</p>

<h3>雄雀</h3>
<p>味甘鹹，性熱無毒，入命門經。主益氣壯陽。其腦主耳聾及凍瘡，頭血主點雀盲。糞名白丁香，主㿗癰癤，點目內胬肉血膜，除癥瘕伏梁，爛痃癖積塊。</p>
<p>按：雀之咸熱，宜入命門而補火。然相火久炙，其水必衰，勿宜過服，致傷腎臟，妊娠猶忌食之。腦血及白丁香之功，咸性熱所致爾。</p>

<h3>雀卵</h3>
<p>味酸溫無毒，主下氣，男子陰痿不起，強之令熱，多精有子，腦主耳聾。頭血主雀盲。雄雀屎，齒痛用藥，療目痛，治癰癤，女子帶下，溺不利，除疝瘕。五月取之良。注云，兩頭尖者是雄雀屎。</p>
<p>雷公云：雀蘇，凡使勿用雀兒糞，其雀兒口黃未經淫者，糞連蘇。若底坐尖在上，即曰雌，兩頭圓者是。陰人使雄，陽人使雌，凡採之先去兩畔有附子生者通用，然後於缽中研如粉，煎甘草湯浸一宿，去上清，甘草水盡，焙乾任用。</p>

<h3>伏翼</h3>
<p>味鹹，性微熱有毒，不載經絡。主逐五淋，利水道，去翳明目，令人喜樂，媚好忘憂，久服延年。屎名夜明砂，破腹中血氣，及寒熱積聚，除驚悸。血堪點眼，形重一斤，色白如雪者佳。</p>
<p>按：伏翼原名蝙蝠，以其晝伏夜飛，因稱伏翼。能伏氣，冬月不食，故多壽，人服之，宜其有延年之功矣。</p>
<p>雷公云：凡使要重一斤者方採之，每修事先拭去肉上皮毛爪腸，留翅並肉腳及嘴，然後酒浸一宿，漉出取黃精自然汁塗之，炙令乾方用，每修事重一斤一個，用黃精自然汁五兩為度。</p>

<h3>龍骨</h3>
<p>味甘，性平無毒，入腎經。主丈夫精滑遺泄，婦人崩中帶下，止腸風下血，療瀉痢不止，得五色具者佳，其齒主驚癇狂疾，俱畏乾漆、蜀、椒、理石、石膏。</p>
<p>按：《經》曰：腎主骨，宜龍骨獨入之。觀其沾舌，大抵嗇之用居多，故主精滑等症。經曰：澀可去脫，是之謂耶。</p>

<h3>虎骨</h3>
<p>味辛，性微熱無毒，入腎經。主邪氣鬼疰，筋骨毒風攣急。酥炙用，畏乾漆、蜀椒、磁石。</p>
<p>按：虎骨入腎，亦以腎主骨故也。其治骨間毒風者何也？《易》曰：風從虎，夫風，木也，虎、金也；木受金制，焉得不從。</p>
<p>雷公云：虎睛，凡使須問獵人，其眼有雌有雄，有老有嫩，有殺得者，惟中有毒箭死者勿使，能傷人。凡用虎睛先於草羊血中浸一宿，漉出微微火上焙乾，搗成粉，候眾藥出取合用之也。</p>

<h3>犀角</h3>
<p>味苦酸鹹，性寒無毒，入心肝二經。主百毒蠱疰，鬼魅邪氣，傷寒瘟疫，煩躁癲狂，痘疹血熱，癰疽腫毒，清心鎮肝，明目定驚，孕婦忌服。須紋細色烏光明滑潤者佳，取其茸尖，功力具備，松脂為使，惡雷丸，忌鹽。</p>
<p>按：犀角苦寒，本入心家瀉火，又入肝臟者，蓋以火不妄炎，則金能制木也。丹溪曰：屬陽性走，比諸角猶甚，痘瘡後用以散餘毒，俗以為常，若非有餘毒而血虛者，與以燥發熱者用之，禍無極矣。</p>
<p>雷公云：凡使勿用奴犀角，病水犀、攣子犀、無潤犀，惟取烏黑肌皺摺裂光潤者上。凡修治時銼其屑入臼中，杵令細，再入臼中研萬匝，方入藥用，婦人有妊勿服，能消胎氣，忌鹽。</p>

<h3>羚羊角</h3>
<p>味苦鹹，性寒無毒，入肝經。主傷寒熱在肌膚，溫氣注伏在骨間，邪氣不祥，驚夢狂越，心神不寧，小兒卒熱驚搐，產後敗血衝心。清心解毒，明目益氣。燒灰又主食噎不通，其角多倒卦痕深入者為真。</p>
<p>按：丹溪曰：羚羊屬木，宜入厥陰，木得其平，而風火諸症無能乘矣。</p>
<p>雷公云：凡用有神羊角，其神羊角長有二十四節，內有天生木胎，此角有神力，可抵千牛之力也。凡修事之時，勿令單用，不復有驗，須要不拆元對，以繩縛之，力將鐵銼子銼之，旋取用，勿令風犯，銼未盡處，須三重紙裹，恐力散也。銼得了即背風頭重篩過，然後入藥中用之，若更研萬匝，用之更妙，免刮人腸也。</p>

<h3>牛黃</h3>
<p>味苦，性平無毒，入心經。主大人癲狂發痓，中風痰壅不語，小兒驚癇天吊，客忤口噤，除邪逐鬼，定魄安魂，能墮胎孕。須體輕微香，磨用色透，置舌上先苦後甘，清涼透心者為真。人參為使，惡龍骨、地黃、龍膽、蜚蠊、常山、畏牛膝、乾漆。</p>
<p>按：牛黃味苦，宜歸心部，癲狂等症，何不屬心，而有不療者耶？</p>
<p>雷公云：凡使有四件。第一是生神黃，賺得者；次有角黃，是取之者；又有心黃，是病死者，後識者剝之，擘破取心，其黃在心中，如濃黃醬汁，採得便收於水中，黃沾水後，便如碎蒺藜子許如豆大，便如帝珠子；次有肝黃，其牛身上，光眼如血色，時復鳴吼，照水自有皮光，恐懼人，或有人別採之，可有神妙之事。凡修事先搗細研如塵，用絹裹，又用黃嫩牛皮裹，安於井面上，去水三四尺以來一宿，天明方取用之。</p>

<h3>麝香</h3>
<p>味辛，性溫無毒，入十二經。主惡氣鬼邪，蛇虺蠱毒，驚悸癰疽，中惡心腹暴痛脹滿，目中翳膜，淚眵風毒，溫瘧癇痓，通關竅，殺蠱蝨催生墮胎，忌大蒜。</p>
<p>按：麝香為諸香之最，其氣透入骨髓，故於經絡無所不入。然辛香之劑，必能耗損真元，用之不當，反引邪入髓，莫可救藥，誠宜謹之。</p>
<p>雷公云：凡使多有偽者，不如不用。其香有三等：一名遺香，乃是子臍閉滿，自於石上用蹄尖剔出，落處一里草水不生，並焦黃，人若取得此香，價與珍珠同也。二名臍香，採得甚堪用。三名結香，被大獸捕逐，驚畏墜死，被人收得擘破，見心血在脾上，結作一個乾血塊，不堪入藥。凡使麝香勿近火日，磁缽中細研任用。</p>

<h3>鹿茸</h3>
<p>味甘鹹，性溫無毒，入腎經。主益氣滋陰，強志補腎，理虛羸，固齒牙，止腰膝痠疼，破流血作痛，療虛勞如瘧，女子崩漏胎動，丈夫溺血泄精，小兒驚癇，散石淋癰腫，骨中熱中癢。狀如瑪瑙紅玉，長三四寸，破之中有朽木者佳。連頂骨用。長城鹿角，主逐鬼邪，益神氣，續絕傷，強筋骨，消癰腫。愈惡瘡，及婦人夢與鬼交。麋茸及角，功相仿而性更熱。專主補陽，糜鹿角茸四種，俱杜仲為使，畏大黃。</p>
<p>按：鹿茸鹹溫之品，舍腎奚歸，功效雖宏，須脈沉細。相火衰弱者，始為相宜。若有火熱者用之，何異抱薪救火？其角亦然，麋者更甚。夫麋冬至解角，則屬陽，鹿夏至解角，則屬陰，其性熱，所以其功捷。大凡含血之物，肉易長，角難長，惟二茸不兩月長大至一十二斤，其堅如石，生長神奇，莫過於此。且諸獸之角，終身不易，惟此種一年一易，蓋其性熱，生生不已，舊者未去，新者隨之，氣化膿密，孰能與京，諸賢盛述其功，良有以也。</p>
<p>雷公云：凡使先以天靈蓋作末，然後鋸解鹿茸作片子，以好羊脂拌天靈蓋末，塗之於鹿茸上，慢火炙之，令內外黃脆了，用鹿皮裹之，安室中一宿，其藥魂歸也。至明則以慢火焙之，令脆，方搗作末用之。每五兩鹿茸，用羊脂三兩，炙盡為度。又製法用黃柏，自然汁浸兩日夜，漉出焙令乾，搗漉免渴人也。鹿角使之，勝如麋角，其角要黃色緊重大好者，緣此鹿食靈草，所以異於眾鹿也，其麋角頂根上有黃色毛，若金線，兼旁生小尖也，色蒼白者上。注干寧記云：其鹿游龍相戲，乃生此異耳。採得角了，須金戴者，並長三寸，鋸解之，以物盛，於急水中浸之一百日滿，出用刀刮去粗皮一重，以物盛，水治令淨。然後用釅醋煮七日，旋旋添醋，勿食少歇，成時不用煮火，只從子時至戌七日足，其角白色軟如粉，即細搗作粉，卻以無灰酒煮，其膠陰乾了，重重研篩過用。</p>
<p>凡修事十兩，以無灰酒一盞煎乾為度也。孫真人云：鹿肉解藥毒，不可久服，蓋服解毒草也。孟詵云：主益氣，不可以鼻嗅，其茸中有小白蟲，視之不見，入人鼻必為蟲顙，藥不及也。</p>

<h3>阿膠</h3>
<p>味甘鹹，性微溫無毒，入肺肝腎三經。主風淫木旺，肢節痿疼，火盛金衰，喘嗽痰血，補勞傷療崩帶，滋腎安胎，益氣止痢。明澈如水，質脆易斷者真。山藥為使，畏大黃，蛤粉炒成珠用。</p>
<p>按：阿膠用黑驢皮造成，黑屬水，專入腎，能剋火，蓋以制熱則生風之義，故宜入肝。且火得制則金亦無侵，故又宜入肺。夫東阿井系濟水所生，性急下趨，清而且重，用之煎煮，攪濁澄清，所以能清上炎之火，及上逆之痰也。</p>

<h3>熊膽</h3>
<p>味苦，性寒無毒，入膽經。主時氣熱盛，變為黃疸，小兒風痰壅寒，驚癇疳䘌，殺蟲散毒，可敷惡瘡及痔。入水分塵，如練不散者真，惡防己地黃。</p>
<p>按：熊膽入膽，從其類也，清火定驚之功，較勝諸膽。</p>
<p>雷公云：凡收得後煉就器中安，每一斤熊膽，入生椒十四個，煉去滓，並椒入瓶中心，任用之。</p>

<h3>膃肭臍</h3>
<p>味鹹，性大熱無毒，入脾命門二經。主助腎添精，補中益氣，鬼氣屍疰，夢與鬼交，宿血症結，心腹疼痛。置睡犬旁，驚狂跳走，入水不冰者真，酒浸一宿，紙裹於文火上炙脆，細銼搗用。</p>
<p>按：肭臍咸熱之品，本入命門補火，脾家所快者，肭熱也，故亦入之。助陽之功，獨甲群劑，今出登萊州，即海狗腎也。其狀頭似豕，尾似魚，止生兩足，價殊貴。類多偽者，須細辨之。</p>
<p>雷公云：凡使先須細認其偽者，海中有獸號曰水烏龍，海人採得取腎，以充膃肭臍。入諸藥中，修合恐有誤，其物自殊有一對，其有兩重薄皮裹丸核，其皮上自有肉黃毛。一穴三莖，收之器中，年年濕潤如新，置於犬頭上，其驚跳如狂，即是真也。須用酒浸一日，後以紙裹微微火上炙令香，細銼單搗也。</p>

<h3>狗肉</h3>
<p>味鹹酸，性熱無毒，入命門經。主壯元陽，補絕傷，安五臟，益氣力。其陰莖最助房事，及治婦人帶漏十二疾，血主補陰辟邪。療癲狗，忌蒜。</p>
<p>按：狗亦咸熱之品，命門之所由歸也，助火最速，有熱症者所以深戒。炙而食之，令人發渴不止。九月食之傷神，孕婦食之，生子缺唇且無聲。丹溪曰：人之虛，皆陰虛也，陰虛則陽必亢，用狗為補，寧不熾其火以甚其病也。世人信其補虛，以為指陽虛也。不知凡虛屬陰，若果陽虛，死亡立至，倉扁復生，無能措手。豈此之能補乎？雖然，丹溪生平主意，只是滋陰，故有此論，而溫補之功，諸傢俱道。當非虛語？惟命門脈弱，素無火症者，殊為相宜。不然則未獲其功，先嚐其禍矣。</p>

<h3>羊肉</h3>
<p>味甘，性大熱無毒，入脾肺二經。主虛勞寒冷，腦風大風，補脾益氣，安心定驚。</p>
<p>按：羊肉之甘，宜其歸脾，於卦為兌，實屬西方之金，故亦入肺臟。十劑云：補可以去弱，人參羊肉之類是也。夫人參補氣在中，羊肉補形在表凡補虛者，當分用之，不得概視也。六月食之傷神，孕婦及水腫骨蒸瘧疾，一切火症，咸宜忌之。</p>

<h3>黃牛肉</h3>
<p>味甘，性平無毒，入脾經。主安中益氣，健脾養胃，強骨壯筋。其乳，補虛弱，養心肺，潤皮膚，解熱毒，止消渴，滑大腸。腦治頭風，膽主風痰。角腮，主赤白帶及行血。</p>
<p>按：牛肉色黃味甘屬土，於卦為兌，故專入脾家，用之倒倉，誠有再造之功。然此為稼穡之資，不輕屠殺，其自死及有病老邁者，不惟無補，反能損人，市中多犯此弊，食者慎之。</p>

<h3>豬肉</h3>
<p>味甘，性溫無毒，入脾經。主補脾益氣，然多食能動風痰。四蹄主撻傷下乳及諸瘡，臟腸主內痔，腎主腰疼，肚能扶胃，肺能止嗽；心能定驚；舌能健脾；油可敷瘡；腦治頭痃腦鳴，膏能潤肺利血脈，解風熱。按：豬肉之甘，自宜入脾，遍身之用，各以類從。丹溪謂其熱能生痰，痰多則氣不升降，故外感者食之而愈劇。患瘧者食之而覆成，善頤生者，節食為貴。</p>

<h2>蟲魚部</h2>

<h3>蜂蜜</h3>
<p>味甘，性平無毒，入脾肺二經。主益氣補中，潤燥解毒，祛邪定經，養脾氣，除心煩，通便閉，解虛熱，療心疼，悅顏色，和百藥，除眾病。畏生蔥，惡芫花，每斤煉至十二兩半用，蠟主痢下諸瘡。</p>
<p>按：蜂蜜甘宜歸脾，潤宜歸肺，其用最多。良有百花之精，且取人溺以釀之故也。七月勿食生蜜，令人暴下霍亂。</p>
<p>雷公云：凡煉蜜一斤，只得十二兩半，或一分是數。若火少火過，並不可用之也。</p>

<h3>牡蠣</h3>
<p>味鹹，性微寒無毒，入腎經。主遺泄帶下，喉痹咳嗽，營衛虛熱，去來不定，心脅下老痰痞積，宿血溫瘧，瘡腫結核。貝母為使，喜甘草、牛膝、遠志、蛇床、惡麻黃、吳茱萸、辛夷，火煅微紅，杵絕細用。</p>
<p>按：牡蠣本是鹹水結成，故專歸腎部，軟堅收斂之劑也。</p>
<p>雷公云：有石牡蠣，頭邊皆大小甲沙石真似牡蠣，只是圓如龜殼。海牡蠣可用，只是丈夫服之，令人無髭。真牡蠣火煅過，用瑿試之，隨手走起者是也，瑿是萬年琥珀。凡修事先用二十個，以東流水入鹽一兩，煮一伏時，後入火中燒退赤，入缽中研如粉用。</p>

<h3>珍珠</h3>
<p>味無考，性寒無毒，入心經。主手足皮膚逆臚，鎮心潤顏，止渴墜痰，點目去膜，塞耳除聾，催生下死胎，又主小兒驚熱風癲。須未經鑽眼者，研細篩過，再研二萬下方用。</p>
<p>按：珍珠為水精所孕，專能制火，且其性鎮重，心經之所由入也。研之不細，傷人臟腑，功未獲奏，害已隨之。</p>
<p>雷公云：須取淨新者，以絹袋盛之。然後用地榆、五加皮、五方草三味各四兩，細銼了。又以牡蠣約重四五斤以來，先置於平底鐺中，以物四向安令穩，然後置珍珠於上，方下銼子。三件藥籠之，以漿水煮三日夜，勿令火歇，日滿出之，用甘草湯洗之，令淨，後於臼中搗令細，以絹羅重重篩過，卻更研二萬下用，凡使要不傷破鑽透者，方可用。</p>

<h3>石決明</h3>
<p>味鹹，性平無毒，入肝經。主風熱青盲內障，骨蒸勞熱，久服益精，九孔七孔者良。以麵裹煨，磨去其外黑處並粗皮，搗細，於乳缽中再研細極，永忌山桃。</p>
<p>按：石決明本水族也，宜足以生木而制陽光，故獨入肝家，為眼科要藥。命曰決明者，丹溪所謂以能而名也。</p>
<p>雷公云：凡使先去上粗皮，用鹽並東流水於大磁中，煮一伏時，漉出拭乾，搗為末，研如粉，卻入鍋中，以東流水淘三度，日乾，再研一萬匝，入藥服至十兩，永不得食山桃，令人喪目。凡修事五兩，以鹽半分取，則第二度淘用地榆五加皮阿膠各十兩。</p>

<h3>龜甲</h3>
<p>味鹹甘，性平無毒，入心脾肝三經。主陰虛不足，骨蒸勞熱，癥瘕瘧痃，五痔陰蝕，四肢重弱，血麻痹風疾，產前後痢疾，驚恚氣心腹痛，傷寒勞復，肌體寒熱欲死，小兒囟門不合，及頭瘡，女子赤白漏下，及陰癢。逐瘀血，續筋骨，催生益智。自敗者更佳，酥炙用。龜尿、主耳聾久嗽、斷瘧。俱畏狗膽。惡沙參蜚蠊。</p>
<p>按：龜甲稟壬癸之氣而生，其補陰也甚捷，心主血，肝藏血，脾裹血，故併入之。骨蒸云云等症，靡非陰虛所致，用此主之，不亦宜哉？欲取其尿者，取龜置磁器中，以鏡照之，既見鏡中影，則淫發而失尿。另有一種夾蛇龜中心折者，不堪服食。生搗其肉，罯敷蛇毒最良，敗龜版及自死之龜，形肉滲爛，甲內性氣俱全，故其功力較倍，今《本經》以卜師鑽灼者為是，恐非，灼者不過燒炙焦黑而已，與生者何異？又何取久，特加敗字，諄諄以示人耶。</p>

<h3>鱉甲</h3>
<p>味鹹，性平無毒，入肺脾二經。主骨蒸勞嗽，積聚癥瘕，息肉陰蝕痔疽，瘡腫瘀血，催生墮胎，婦人五色漏下，九肋者佳。童便浸一宿，濾起酥炙用，其肉益肺補金，大涼血熱。奇形異狀者有大毒，誤食者，以黃耆吳藍煎湯解之，俱惡理石礬。</p>
<p>按：丹溪云：鱉甲屬金與土，肺脾之所以入也，須生取之，煮脫者不堪用。肉性大冷，過食傷脾，癥瘕勿食，恐益其疾。孕婦勿食，恐短子項。同雞食成瘕，同雞子食能殺人同，同莧菜食生血鱉，同芥子食發惡疾，不可不慎。</p>
<p>雷公云：凡使用要綠色九肋多裙，重七兩者為佳，治痞破塊消症定心藥中用之。每個鱉甲。以六一泥固瓶子底待乾，安甲於中，以物搘起，用頭醋下火煎之，盡三升醋為度，乃去裙並肋骨，方炙乾，後入藥中用。又治勞去熱藥中用，法似前，不用醋，須用童子小便，煮晝夜，小便一斗二升為度。後去裙留骨，於石臼中搗成粉子，以雞䏶皮裹之，取東流水三兩，鬥盆盛，擱於盆上一宿，至明任用。力有萬倍也。</p>

<h3>蘄州烏蛇</h3>
<p>味甘性平，有小毒，入脾肺二經。主諸風皮膚不仁，散癮疹身體瘙癢，熱毒風淫眉髭脫落，塞耳治聾，須辨真者佳。去頭及皮鱗，帶子銼碎，酒浸一宿，酥炙埋地一宿炙乾用。</p>
<p>按：烏蛇之用，專主去風以理皮肉之症，肺主皮毛，脾主肌肉，故兩入之。色黑如漆，背有三稜，渾如劍脊，尾細尖長，性善不傷生命，都在蘆叢中嗅其花氣，亦乘南風而吸，雖至枯死，兩目不陷，儼如生者，頭有逆毛二寸一路，可長半分以來。頭尾相對，稱之重七錢至一兩者為上，粗大者轉重，力彌減也。</p>
<p>雷公云：凡一切蛇，須認取雌雄及州土，蘄州烏蛇頭上有逆毛二寸一路，可長半分以來，頭尾相對，使之入藥如神，只重一兩以下，彼處得此多留進供。蛇腹下有白腸帶子一條，可長一寸以來，即是雄也。採得去其頭兼皮鱗帶子，銼之，以苦酒浸之一宿，至明漉出，向柳木灰中焙之令乾了，卻以酥炙之，酥盡為度，炙乾後於地上掘一坑，可深一尺以來，安蛇於中，一宿至明，再炙令乾，任用，凡修事一切蛇，並去膽並上皮了，乾溼須酒煮之，用之良。</p>

<h3>白花蛇</h3>
<p>味甘鹹，性溫有大毒，入肺肝二經。主肺風鼻塞，去癮疹浮風，四肢不仁，骨節疼痛，口眼喎斜，半身不遂，癩麻風，白癜風，髭眉脫落，鼻柱塌壞，鶴膝風筋骨拘攣。凡使須火燒一尺磚令通紅，醋沃之使熱氣熏蒸，將蛇頭尾各一尺，去淨置磚上，以盆覆一宿，如此三過，去骨取肉用，亦以眼不陷者為真。</p>
<p>按：白花蛇專主皮膚之風，肺主皮毛，肝為風水，故都入之。然服之者，瞑睡一晝夜方醒，善螫人，中足者，輒自斷之，補養已痊。木接代步，不然令人死，其毒可知！然諸藥不效者，獨能引達成功，以其性竄，直領藥力至於風處，所謂大毒之病，必用大毒之藥以攻之是也。諸蛇鼻向下，惟此蛇鼻向上，背有方勝花紋，以此得名。愚謂凡用之，更須日日換酒，浸過五宿，去酒不用。炙用，盡去皮骨埋於土坑，一宿取出再，其毒咸去矣。</p>
<p>雷公云：凡使用治風速於諸蛇，緣蛇性竄，即令引藥至於有風疾處，故能治風。</p>

<h3>蝦蟆</h3>
<p>味甘，性寒無毒，入脾經。主除邪氣，破堅血，解結熱，療兒疳，貼癰腫，療大傷。</p>
<p>凡使去皮及腸並爪，陰乾，塗牛酥炙用。眉酥，主蛀牙惡瘡疔腫，瘰癧痔漏，助陽，其肋塗玉，即刻之如蠟。</p>
<p>按：蝦蟆歸脾，甘之故也，形狀與蟾蜍相似，《本經》未嘗分析。自陳藏器極口分殊。以為蝦蟆背有黑點，身小能跳接百蟲，在陂澤間，舉動極急。蟾蜍身大嘴黑，點多痱磊，不能跳，不解作聲，行動遲緩，腹下有丹書八字者。然意其功用，無甚差別，想有牝牡之分，而種類之異也。</p>
<p>雷公云：有多般勿誤用，有黑虎，有䖲黃，有黃蛤，有螻蟈，有蟾，其形各別。其蝦蟆皮上腹下有斑點，腳短不鳴叫者是也。黑虎身小黑嘴，腳小，斑䖲黃斑色，前腳大，後腿有小尾子一條。黃蛤遍身黃色，腹下有臍帶長五七分以來，所住處帶下有自然汁出。螻蟈即夜鳴，腰細口大，皮蒼黑色。蟾即黃斑，頭有肉角。凡使蝦蟆先去皮並腸及爪子，陰乾，然後塗酥炙，令乾。每修事一個，用牛酥一分，炙盡為度。若使黑虎即和頭尾皮，並陰乾，酒浸三日，漉出焙乾用之。</p>

<h3>蠍</h3>
<p>味甘辛，性平有毒，入肝經。主小兒風癇，手足抽掣，大人中風，口眼喎斜，風痰耳聾，風毒癮疹，出青州緊小者良。去鹽土炙黃用。</p>
<p>按：蠍之主療，莫非風症，肝為巽風，宜獨入之。喜螫人，甚者令人死，雄者螫人，痛在一處，取井泥敷之，稍溫則易。雌者螫人，痛牽諸處。用瓦屋溝下流敷之，或不值天雨，可汲新水調用，如螫手足，竟以冷水浸之微暖即易。若余處不可用水浸者，則以冷水浸布貼之，小暖則易，觀其喜寒若此則為大熱之劑無疑。今諸書不載其性，惟日華子稱其平。故姑錄之，此即方書所稱蛜螂者是也。</p>

<h3>五靈脂</h3>
<p>味甘，性溫無毒，入心肝二經。主心腹冷氣疼痛，腸風產後血暈，小兒疳疣。去目翳，闢疫氣，解蛇毒。酒研飛煉，令去研石為佳，生者行血，炒者止血。</p>
<p>按：五靈脂專主血症，心主血，肝藏血，故兩入之，行氣血最捷，勿宜過用以傷臟腑。</p>

<h3>蜈蚣</h3>
<p>味辛，性溫有毒，不載經絡。主小兒口噤，鬼疰蠱毒諸蛇毒，殺精物溫瘧，去三蟲，心腹寒熱結聚，去瘀血，墮胎。去頭足慢火炙黃用，畏蛞蝓、蜒蚰、大蒜、雞屎。</p>
<p>按：蜈蚣最似百足蟲。第百足蟲足較細密，死而不僵，頭上有白肉，面及尖嘴，其毒更甚，勿宜輕用。</p>
<p>雷公云：凡使勿用千足蟲，真似，只是頭上有角肉，面並嘴尖。若誤用者，腥臭氣，入頂致死。凡使用蜈蚣，用柳木末放於器中，炒木末焦黑後，去木末，用竹刀刮去足用。</p>

<h3>蝸牛</h3>
<p>味鹹性寒，有小毒，不載經絡。主賊風口眼喎斜，驚風筋脈拘攣，收大腸脫肛痔痛，消渴累疳。火炒過用。</p>
<p>按：蝸牛之名，以頭有角似牛也。夏月往往升高，涎盡即枯死，必用火炒者，誠欲去其寒毒爾，是即蛞蝓也。《圖經》考之甚核，本草分為四種，恐非。有一種田螺，主眼赤熱瘡，醒酒渴，點痔瘡。類分數種，功約相同，茲不多贅。</p>

<h3>白殭蠶</h3>
<p>味鹹辛，性微溫，有小毒，入心肝脾肺四經。主風溫口噤失音，疔毒風痰結滯，皮膚風動如蟲行，小兒驚癇夜啼，女子崩中赤白，止陰癢，去三蟲，滅黑點。米泔水浸去涎，炒去絲用。惡茯苓、茯神、萆薢、桑螵蛸、桔梗、雄蠶蛾，性熱，主固精強陽，交接不倦。</p>
<p>按：丹溪云：白殭蠶屬火而有土與金水，心肝脾肺之所由入也。凡使須頭番者力倍，蠶蛾亦然。</p>
<p>雷公云：凡使先須以糯米泔浸一日，待蠶桑涎出如蝸牛涎浮水面上，然後漉出微火焙乾，以布淨拭蠶上黃白毛，並黑和甲子，單搗篩如粉用也。</p>

<h3>蟬蛻</h3>
<p>味鹹甘，性寒無毒，不載經絡，主催生下胎衣，通乳汁，止夜啼驚癇，逐邪熱，殺疳蠱，亦能止渴。</p>
<p>按：蟬有五種，陳藏器辨之悉，今以形極大而聲極高，一鳴而無所停斷者，入藥最良。西川有一種蟬花，乃蟬在殼中不出，而化為花，自頂中生出，功用略同。故不另載。</p>

<h3>刺蝟皮</h3>
<p>味苦甘，性平有小毒，不載經絡，主五痔腸風瀉血，翻胃鼻衄，腹痛，積疝陰腫痛。酒煮熬用，畏桔梗、門冬。</p>
<p>按：蝟亦有數種，惟蒼白色腳似豬蹄者佳，此外並不宜用，其骨切忌入口，令人消瘦。</p>

<h3>土鱉蟲</h3>
<p>味鹹，性寒有毒，入心肝脾三經。主留血壅瘀，心腹寒熱洗洗，祛堅積癥瘕、下乳通經。一名䗪蟲，畏屋遊，皂角、菖蒲。</p>
<p>按：土鱉專主血症，心主血，肝藏血，脾裹血，故三入之。今跌打損傷者，往往主此，或不效則加而用之。殊不知有瘀血作疼者，誠為要藥；倘無瘀血，而其傷在筋骨臟腑之間，法當和補。愚者不察，久服弗已，其流禍可勝數耶。</p>

<h3>蜣螂</h3>
<p>味鹹酸，性寒有小毒，不載經絡。主小兒驚風瘛瘲，大人癲狂疰忤，破血墮胎，通腸治脹。又主疔惡諸瘡，出箭頭入肉。去足翅火炙，勿置水中，令人吐，畏羊肉、羊角。</p>
<p>按：《莊子》云：蜣螂之智，在於轉丸，宜其皮血通腸之功矣。驚狂皆屬炎，亦賴之以泄其亢耳。其性猛驟，最能傷脾，勿得概用。</p>

<h3>斑蝥</h3>
<p>味辛鹹，性寒有大毒，不載經絡。主寒熱鬼疰，蟲毒鼠漏，疥癬惡瘡，疽蝕死肌，破石癃血積，利水道墮胎。凡使去足翅，拌糯米炒，米黃為度，馬刀為使，畏巴豆、丹參、空青，惡曾青，豆花。</p>
<p>按：斑蝥入腹，有開山鑿嶺之勢，最稱猛烈，故輒致腹痛不可忍。余見里中一壯年患痞疾，服斑蝥數劑，初則大瀉不止，煩悶欲絕，斷則二便來紅，三日而死。自非百藥不效之病，不可輕使。</p>

<h3>穿山甲</h3>
<p>味甘鹹，性微寒有毒，不載經絡。主五邪驚悸，婦人鬼魅悲傷，山嵐瘴瘧，惡瘡疥癬，蟻漏痔漏，亦能去風，炙黃用。</p>
<p>按：穿山甲形似鯉魚，有四足，能陸能水，山岸間開鱗甲如死，令蟻入中，閉而入水，開甲蟻浮水面，於是食之，故主蟻漏，其性喜穿山。是以名之。故其用亦主潰癰疽，通血脈，及治吹乳疼痛。</p>

<h3>鯽魚</h3>
<p>味甘，性溫無毒，入脾胃二經。主溫胃健脾進飲食，補虛羸，療腸澼，水穀不調，腸風血瘀，燒灰可敷諸瘡。其子，調中益肝氣，惡豬肉，雉、沙糖。</p>
<p>按：鯽魚甘溫之品，且是土所化成，其入脾胃宜矣。《集要雜錄》云：諸魚屬火，惟鯽魚屬土，而有調胃入腸之功，然多食亦能動火。</p>

<h3>鯉魚</h3>
<p>味甘，性平無毒，入脾肺肝三經。主咳逆氣喘上氣，水腫腳滿，黃疸煩渴，安胎，妊娠身腫，冷氣痃癖，氣塊橫關伏梁。膽，點眼去翳，滴耳除聾，塗小兒熱腫。血塗小兒丹毒及瘡。脂，主小兒癇疾驚悸。鱗，燒灰酒服，破產婦滯血。腸，主小兒肌瘡瘰癧，取蟲。骨，主陰蝕，赤白帶下，齒，主癃閉石淋。皮，主癮疹惡瘡，忌豬肝、天麥門。</p>
<p>按：鯉魚之甘，本入脾家，土能生金，金能制木，故亦入肺肝二經。《衍義》曰：鯉魚至陰之物也。故其鱗三十六，陰極則陽復，所以有魚熱中之故。叔和曰：熱即生風，故食之多發風熱。諸家並不論及，惟日華子云：鯉魚涼恐無是理，萬一風症，更使食魚，則是貽禍無窮矣！煙燻者損目，天行病後食之，再發必死。</p>

<h3>烏賊骨</h3>
<p>味鹹，性微溫，有小毒，入腎經。主崩漏赤白帶下，經閉陰蝕腫痛，除目翳止淚，理金瘡止血，治驚氣入腹，腹痛環臍，陰莖因寒腫，瘡多膿汁，寒熱症瘕。久服令人有子，惡白蘞，白芨、附子。</p>
<p>按：烏賊之咸，宜歸水臟，治病有殊效。今用之者鮮，夫亦未達其功歟。</p>
<p>雷公云：凡使勿用沙魚骨，緣真相似，只是上紋橫，不入藥中用。凡使要上紋順，以血沾作水浸，並煮一伏時了，漉出於屋下掘一地穴，可盛得前拌為賊魚骨多少，先燒坑子去炭灰，盛藥一宿，至明取出，用之其效倍多。</p>

<h3>鰻鱺魚</h3>
<p>味甘性平，有微毒，不載經絡。主虛勞不足，陽事衰微，傳屍鬼疰，蠱毒諸蟲，婦人陰瘡蟲癢帶下，皮膚惡瘡，疳䘌痔漏，腰背間風寒濕痹，諸般草石藥毒，腳氣癧瘍風，白剝風。肉燒室內，可闢蚊蟲，骨置廂中，能除衣蠹。</p>
<p>按：鰻鱺雖有小毒，而功甚溥，或言是蛟蜃之類，未可盡信。今據稽神錄載主療傳屍甚奇，信亦非常物也。五色全者，其功最勝，然罕能得爾。</p>

<h3>鱔魚</h3>
<p>味甘，性大溫無毒，入脾經。主產後淋瀝，血氣不調，腹中冷氣腸鳴，及濕痹氣，又主</p>
<p>補脾益氣。血堪塗癬。</p>
<p>按：鱔魚甘溫之品，脾所快也，宜專入之。生於泥窟，其性善蟄，過夏方出，則為陰類可知。大有補血之功，惜《本經》及諸家未能悉載爾，多食令人霍亂，時行病食之多復。</p>
<p>雷公云：凡魚頭有白色如連珠及腹中無膽者，頭中無腮者，並殺人。注不可合鸕鷀肉食之，鯽魚不可合鹿雉肉食之，鰍鱔不可合白犬血食之，鯉魚子不可合豬肝食之，鯽魚亦爾，青魚鮓不可生胡荽及生葵並麥醬食之。蝦無須及腹中通黑及煮之反白者，皆不可食。生蝦鱠不可合雞肉食之，亦損人。</p>

<h3>蟹</h3>
<p>味鹹性寒，有微毒，不載經絡。主散血破結，益氣養筋，除胸熱煩悶，搗塗漆瘡。爪，專主破血墮胎，惡柿子。</p>
<p>按：蟹者解也，故其用主散不主斂。過食令人傷脾吐瀉，風疾食之再發，孕婦食之橫生，狀異者能殺人。誤中其毒，用頭水冬瓜黑豆煎湯，並可解之。</p>
