<header data-type="book">
<h1>內經知要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李中梓</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1642">公元1642年</data></dd></div>
<div><dt>底本</dt><dd>明崇禎16年刊本（<a href="https://www.digital.archives.go.jp/item/4413352">国立公文書館掃描本</a>）；*《中國醫學大成續集·內經知要》，上海科學技術出版社，2000年，ISBN: 9787532352043。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>古云：為人子者，不可以不知醫。此言似乎專指孝友中之一端而言之者也。何也？夫人之稟體毋論，其它六淫戕其外，七情賊其中，苟不知節，鮮不病且殆也。為人子者，可以父母、伯叔、兄弟、妻子及諸眷屬付之庸醫之手乎？故不可不自知。然知之為知之則可，若強不知以為知，不如無知。從來僨事皆屬一知半解之流，而不知奴隸之夫、乳臭之子，一朝而苟得權勢，僥倖而世擁多資，便肆其驕慢之氣。役醫如吏，藐醫如工。家有病人，遂促其調治，並以生死之權責成之。初不聞扁鵲有云「臣能使之起，不能使之復生」乎？在醫者亦不思往古分醫為十四科，使其各治一科為專科，志在濟人。今則率皆相習成風，趨炎奔競，其志不過啖名謀食而已，豈不卑哉！要知此道之源出自軒皇君臣，以羲皇一畫之旨，終日詳論世人疾病之所以然，垂教天下後世以治法之所當然。而藥物則又出乎炎帝，躬行閱歷，察四時山川水土之宜，考五金八石之性，嘗水陸草木之味，以定其有毒無毒、寒熱溫平、攻補緩急之用，相傳各有遺書，軒皇者曰《素問》、曰《靈樞》，炎帝者曰《本草》。《素問》自王冰注後，嗣出者不下數十餘家。《本草》自陶氏《別錄》外，歷代以來何止汗牛充棟。無奈時師心喜置身於時路，茫茫然朝值衙門，退候縉紳，第應鄉黨。惟恐一人不悅，則謗端百出，飛禍無窮，所以無日不卑躬屈節，寢食俱廢，豈有餘力孳孳於誦讀者哉！以故卷帙繁多，如李時珍、張介賓之所集，罔弗望涯而退，奚能念及此言似乎專指孝友中之一端而發者。捫心惝恍，務必旁通一貫，由親親而兼及於仁民耶，余久遭老懶，自丙子歲後，竟作退院老僧，絕口不談此道矣。一日偶然憶及云間李念莪先生所輯諸書，惟《內經知要》比余向日所輯《醫經原旨》，尤覺近人。以其僅得上下兩卷，至簡至要，方便時師之不及。用功於雞聲燈影者，亦可以稍有準則於其胸中也。叩之書賈，僉云其板已沒久矣，遂嗾余為之重刊。惜乎書可補讀，理可漸明，其如籠中藥物，悉非古之道地所產及時採取者矣。醫豈易知而易為者哉，然亦不可不知者也。</p>
<p><u>乾隆甲申夏日，牧牛老朽薛雪書，時年八十又四。</u></p>

<h1>卷上</h1>

<h2>一、道生</h2>
<p>《上古天真論》曰：夫上古聖人之教下也，皆謂之虛邪賊風，避之有時（教下者，教民避害也，風從沖後來者，傷人者也，謂之虛邪賊風。如月建在子，風從南來，對衝之火反勝也；月建在卯，風從西來，對衝之金剋木也；月建在午，風從北來，對衝之水剋火也；月建在酉。風從東來，對衝之木反勝也，必審其方，隨時令而避之也），恬澹虛無，真氣從之，精神內守，病安從來（恬者，內無所營。澹者，外無所遂，虛無者，虛極靜篤，即恬澹之極，臻於自然也。真氣從之者，曹真人所謂神是性兮氣是命。神不外弛氣自定。張虛靜曰：神一出便收來，神返身中氣自回。又曰：人能常清靜，天地悉皆歸，真一之氣皆來從我矣。精無妄傷，神無妄動，故曰內守。如是之人，邪豈能犯，病安從生乎）。</p>
<p>有真人者，提挈天地，把握陰陽，呼吸精氣，獨立守神，肌肉若一（真，天真也。不假修為，故曰真人；心同太極，德契兩儀。提挈，把握也。全真之人，呼接天根，吸接地脈，精化為氣也，獨立守神，氣化為神也。精氣皆化，獨有神存，故曰獨立，肌肉若一者，神還虛無，雖有肌肉而體同虛空也。仙家所謂抱元守一，又曰了得一，萬事畢。即形與神俱之義也）。故能壽敝天地，無有終時，此其道生（天地有質，劫滿必敝。真人之壽，前乎無始後乎無終，天地有敝，吾壽無終矣。此非戀於形生，蓋形神俱微妙，與道合真，故曰此其道生者，明非形生也）。</p>
<p>有至人者，淳德全道，和於陰陽，調於四時（至者，以修為而至者也，淳者，厚也。德厚道全，不愆於陰陽，不逆於四時，庶幾奉若天時者矣），去世離俗，積精全神（去世離俗，藏形隱跡也。積精全神者，煉精化氣，煉氣化神也）遊行天地之間，視聽八遠之外（全神之後，便能出隱顯之神，故遊行天地之間；塵紛不亂，便能徹耳目之障，故視聽八遠之外）。此蓋益其壽命而強者也，亦歸於真人（前之真人，則曰道生；此言至人，則曰壽命、曰強，但能全形而已。亦歸於真人者，言若能煉神還虛，亦可同於真人，此全以修為而至者也）。</p>
<p>有聖人者，處天地之和，從八風之理（聖者，大而化之，亦人中之超類者，與天地合德，四時合序，故能處天地之和而氣賴以養，從八風之理而邪弗能傷也。八風者，《靈樞·九宮八風篇》云，風從所居之鄉來者為實風，主生長，養萬物，從其沖後來者為虛風，傷人者也，主殺主害；從南方來，名曰大弱風；從西南方來，名曰謀風；從西方來，名曰剛風；從西北方來，名曰折風；從北方來，名曰大剛風；從東北方來，名曰凶風；從東方來，名曰嬰兒風；從東南方來，名曰弱風），適嗜欲於世俗之間，無恚嗔之心，被服章，舉不欲觀於俗（飲食有節，起居有常，適嗜欲也。攝情歸性，無恚嗔也。和光混俗，不離世也。被服章者，皋陶謨曰天命有德，五服五章哉。聖人之心，不磷不淄，雖和光混俗，而未嘗觀效於俗也），外不勞形於事，內無思想之患，以恬愉為務，以自得為功，形體不敝，精神不散，亦可以百數（外不勞形則身安，內無思想則神靜。恬愉者，調服七情也。自得者，素位而行，無入不自得也。如是者，形不受賊，精神不越而壽可百矣）。</p>
<p>有賢人者，法則天地，象似日月，辨列星辰，逆從陰陽，分別四時（賢人者，精於醫道者也。法天地陰陽之理，行針砭藥石之術，智者能調五臟，斯人是已），將從上古合同於道，亦可使益壽而有極時（將從者，有志慕古，未能與之同其歸也，合同於道者，醫道通仙道也。調攝營衛，培益本元，勿干天地之和，自無夭札之患，故曰亦可益壽。亦者，次別上文之聖人也。有極時者，天癸數窮，形體衰憊，針砭藥餌無可致力矣。真人者，無為而成，至人者，有為而至。聖人治未病，賢人治已病。修詣雖殊，尊生則一也。按有物渾成，先天地生，強名曰道，無跡象之可泥，豈形質之能幾。白玉蟾所以有四大一身皆屬陰，不知何物是陽精之說也。返本還元，湛然常寂，名之曰道。積精全神，益壽強命，名之曰術，《文始經》云忘精神而超生，見精神而久生是也，忘精神者，虛極靜篤，精自然化氣，氣自然化神，神自然還虛也，見精神者，虛靜以為本，火符以為用，煉精成氣，煉氣成神，煉神還虛也。嗟！吾人處不停之運，操必化之軀，生寄死歸，誰其獲免？貪求者妄殆，自棄者失時。即有一二盲修瞎煉，皆以身內為工夫，獨不聞《胎息經》云胎從伏氣中結，氣從有胎中息，氣入身來謂之生，神去離形謂之死，知神氣者可以長生。氣有先天后天之別，後天者，呼吸往來之氣也；先天者，無形無象，生天生地，生人生物者也。康節云；乾遇巽時觀月窟，地逢雷處見天根。天根月窟間來往，三十六宮都是春，真既醉於先天之說也。惜乎下手無訣，訛傳錯教。妄以兩目為月窟，陽事為天根，令人捧腹。若得訣行持，不過一時辰許，先天祖氣忽然來歸，鼻管如迎風之狀，不假呼吸施為，不事閉氣數息，特須一言抉破，可以萬古長存。若非福分深長，鮮不聞而起謗，甚有俗醫笑其迂妄。不知醫道通仙，自古記之，亦在乎人而已矣）。</p>
<p>《四氣調神大論》曰：春三月，此謂發陳（發，生髮也。陳，敷陳也，發育萬物，敷布寰區，故曰發陳）。天地俱生，萬物以榮（敷和之紀，木德周行。俱生者，氤氳之氣也。天地氤氳，萬物化醇。榮者，顯也。發也）；夜臥早起，廣步於庭（此言在天主發生之令，在人須善養之方。夫人臥與陰俱，起與陽並，臥既夜矣，起復早焉，令陽多而陰少，以象春升之氣也。廣步者，動而不休，養陽之道也）；被髮緩形，以使志生（被髮者，舒在頭之春氣也。緩者，和緩以應令也，如是則神志調適，肖天氣之生矣）；生而勿殺，予而勿奪，賞而勿罰（《尚書緯》曰：東方青帝，好生不賊。禹禁云：春三月，山林不登斧。管子云：解怨赦罪，皆所以奉發生之德也）。此春氣之應，養生之道也（四時之令，春生夏長，秋收冬藏。以上諸則，乃養生氣之道也），逆之則傷肝，夏為寒變，奉長者少（逆者，不能如上養生之道也。奉者，稟承也。肝木旺於春，春逆其養則肝傷，而心火失其所奉，故當夏令火不足而水侮之，因為寒變，寒變者，變熱為寒也。春生之氣既逆，夏長之氣不亦少乎）。</p>
<p>夏三月，此謂蕃秀（布葉曰蕃，吐華曰秀，萬物亨嘉之會也）。天地氣交，萬物華實（即司天在泉，三四氣之交。《六元正紀大論》所謂上下交互，氣交主之是也。陽氣生長於前，陰氣收成於後，故萬物華實）；夜臥早起，毋厭於日（臥起同於春令，亦養陽之物也。按荀子云：夏不宛暍。言當避赫曦之暍，毋為日所厭苦），使志無怒，使華英成秀，使氣得泄，若所愛在外（怒則氣上，助火亢炎，故使志無怒，則生意暢遂，譬如華英漸至成秀也。氣泄者，膚腠宣通，法暢遂之時令也。發舒之極，遍滿乾坤，其用外而不內，人奉之以養生，故所愛若在外，不知正所以調其中也）。此夏氣之應，養長之道也。逆之則傷心，秋為痎瘧，奉收者少（夜臥以下皆順夏令養長之道也，否則與令為逆，乘時秉政之心主不亦拂其性乎？心傷則暑乘之，秋金收肅，暑邪內郁，必為痎瘧。夏長既逆，則奉長氣而秋收者少矣），冬至重病（心火受傷，綿延至冬，則水來剋火，病將重矣）。</p>
<p>秋三月，此謂容平（陰升陽降，大火西行，萬物之容，至此平定，故曰容平）。天氣以急，地氣以明（風氣勁疾曰急，物色清肅曰明）；早臥早起，與雞俱興（早臥以避初寒，早起以從新爽）；使志安寧，以緩秋刑（陽德日減，陰慘日增，故須神志安寧，以緩肅殺之氣），收斂神氣，使秋氣平；無外其志，使肺氣清。此秋氣之應，養收之道也（曰收斂，曰無外，皆秋氣之應，養收之道。）逆之則傷肺，冬為飧泄，奉藏者少（肺金主秋，秋失其養，故傷肺。肺傷則腎失其主。故當冬令而為飧泄。飧泄者，水穀不分，腎主二便，失封藏之職故也）。</p>
<p>冬三月，此謂閉藏（陽氣伏藏，閉塞成冬也）。水冰地坼，無擾乎陽（陰盛陽衰，君子固密，則不傷於寒，即無擾乎陽也）；早臥晚起，必待日光（所以避寒也，即養藏也）；使志若伏若匿，若有私意，若已有得（曰伏曰匿，曰私曰得，皆退藏於密，法閉藏之本也）；去寒就溫，無泄皮膚，使氣亟奪（去寒就溫，所以養陽。無使泄奪，所以奉藏。真氏曰：閉藏不密，溫無霜雪，則來年陽氣無力，五穀不登。人身應天地，可不奉時耶）。此冬氣之應，養藏之道也。逆之則傷腎，春為痿厥，奉生者少（水歸冬旺，冬失所養，則腎傷而肝木失主。肝主筋，故當春令筋病為痿，冬不能藏，則陽虛為厥。冬藏既逆，承氣而為春生者少矣）。</p>
<p>天氣，清靜光明者也。靜當作淨。清陽之氣，淨而不雜，天之體也；居上而不亢，下濟而光明，天之用也。藏德不止，故不下也（藏德者，藏其高明而不肯自以為高明也。不止者，健運不息也。惟藏而不止，雖下降而實不之下，曷嘗損其居上之尊乎，故曰不下也）。天明則日月不明，邪害空竅（惟天藏德，不自為用，故日月顯明以表造化。使天不藏德而自露其光明，則日月無以藉之生明，大明見者小明滅矣。此喻身中元本不藏，發皇於外，明中空而邪湊也）。陽氣者閉塞，地氣者冒明（天氣自用，則孤陽上亢而閉塞乎陰氣，地氣隔絕而冒蔽乎光明矣）。雲霧不精，則上應白露不下（地氣上為雲霧，天氣下為雨露。上下痞隔，則地氣不升，而云霧不得輸精於上；天氣不降，而雨露不得施布於下。人身上焦如霧，膻中氣化則通調水道，下輸膀胱。氣化不及州都，則水道不通，猶之白露不降矣）。交通不表。萬物命故不施，不施則名木多死（獨陽不生，獨陰不成。若上下不交，則陰陽乖而生道息，不能表見於萬物之命，故生化不施而名木多死）。惡氣不發，風雨不節，白露不下，則菀稿不榮（惡氣不發，濁氣不散也。風雨不節。氣候乖亂也，白露不下，陰精不降也，即不表不施之義也。菀稿不榮，言草木抑菀枯槁，不能發榮，即名木多死之義也。上文言天地不交。此則專言天氣不降也）。賊風數至，暴雨數起，天地四時不相保，與道相失，則未央絕滅（陰陽不和，賊風暴雨，數為侵侮，生長收藏不保其常，失陰陽慘舒自然之道矣。央，中半也。未及中半而早已絕滅矣）。惟聖人從之，故身無奇病，萬物不失，生氣不竭（從之者，法天地四時也，存神葆真以從其藏德，勇猛精勤以從其不止，收視返聽以從其不自明，通任會督以從其陰陽之升降，則合乎常經，尚安得有奇病？萬物不失，與時偕行，生氣滿乾坤也。不竭者，無未央絕滅之患也。愚按：四時者，陰陽之行也；刑德者，四時之合也。春凋秋榮，冬雷夏雪，刑德易節，賊氣至而災。夫德始於春，長於夏；刑始於秋。流於冬。刑德不失，四時如一。刑德離鄉，時乃逆行，故不知奉若天時，非尊生之典也。是以《天真論》曰調於四時，曰分別四時。四氣者，天地之恆經；調神者，修煉之要則。故春夏養陽，秋冬養陰，以從其根。根者，人本於天，天本於道，道本自然，此皆治未病之方，養生者所切亟也）。</p>
<p>《陰陽應象大論》曰：能知七損八益，則二者可調，不知用此，則早衰之節也（二者，陰陽也。七為少陽之數，八為少陰之數。七損者，陽消也；八益者，陰長也。陰陽者，生殺之本始。生從乎陽，陽懼其消也；殺從乎陰，陰懼其長也。能知七損八益，察其消長之機，用其扶抑之術，則陽常盛而陰不乘，二者可以調和，常體春夏之令，永獲少壯康強，是真把握陰陽者矣。不知用此，則未央而衰，用者，作用也。如復卦一陽生，聖人喜之，則曰不遠復，無祗悔，元吉。姤卦一陰生，聖人謹之，則曰繫於金柅，貞吉，有攸往，見凶，羸豕孚蹢躅，此即仙家進陽火、退陰符之妙用也。朱紫陽曰：老子言治人事天莫若嗇。夫惟嗇，是謂早服，早服是謂重積德。早服者，言能嗇則不遠，而復便在此也。重積德，言先有所積，而復養以嗇，是又加積之也。此身未有所損，而又加以嗇養，是謂早服而重積。若損而後養，僅足以補其所損，不得謂之重積矣。知此，則七陽將損，八陰將益，便早為之所；陽氣不傷，陰用不張。庶調燮陰陽，造化在手之神用也，華元化曰：陽者生之本，陰者死之基。陰宜常損，陽宜常益，順數者生，順陰者滅。數語可作七損八益註疏）。年四十，而陰氣自半也，起居衰矣（二十為少陽，三十為壯陽。東垣云：行年五十以上，降氣多而升氣少。降者陰也，升者陽也。由是則四十之時，正升陽之氣與降陰之氣相半，陽勝陰則強，陰勝陽則衰，陰陽相半，衰兆見矣）。年五十，體重，耳目不聰明矣（陽氣者，輕而善運；陰氣者，重而難舒。五十陰盛，故體重也。陽主通達，陰主閉塞，故耳不聰；陽為顯明，陰為幽暗，故目不明）。年六十，陰痿，氣大衰，九竅不利，下虛上實，涕泣俱出矣（陽氣大衰，所以陰痿也，九竅不利者，陽氣不充，不能運化也，下虛者，少火虛也，上實者，陰乘陽也，涕泣俱出，陽衰不能攝也）。故曰：知之則強，不知則老（知七損八益而調之，則強；不知，則陰漸長而衰老）。故同出而名異耳（同出者，陰與陽也，名異者，強與老也）。智者察同，愚者察異（智者洞明陰陽之故，故曰察同。愚者徒知強老之形，故曰察異）。愚者不足，智者有餘。有餘則耳目聰明，身體輕強，老者復壯，壯者益治（愚者陰長，日就衰削，故不足；智者陽生，日居強盛，故有餘。有餘則聰明輕健，雖既老而復同於壯，壯者益治，即老子早服重積之說也）。是以聖人為無為之事，樂恬憺之能（無為者。自然之道也。恬澹者，清靜之樂也。老子之無為而無不為，莊子之樂全得大是也）。從欲快志於虛無之守，故壽命無窮，與天地終（從欲者，如孔子之從心所欲也。快志，即《大學》之自慊也。至虛極，守靜篤，虛無之守也。天下之受傷者。實也，有也。與虛無同體，不受壞矣。故壽命無窮，與天地終。愚按：陽者輕清而無象，陰者重濁而有形。長生之術必曰虛無，得全於陽也。故仙真之用在陰盡陽純，仙真之號曰純陽全陽，皆以陽為要也。《中和集》云：大修行人，分陰未盡則不仙；一切凡人，分陽未盡則不死。明乎此。而七損八益灼然不疑矣）。</p>
<p>遺篇《刺法論》曰：腎有久病者，可以寅時面向南，淨神不亂思，閉氣不息七遍，以引頸嚥氣順之，如咽甚硬物，如此七遍後，餌舌下津令無數（腎為水臟，以肺金為母。肺金主氣，嚥氣者，母來顧子之法也。咽津者，同類相親之道也。人生於寅，寅為陽旺之會，陽極於午，午為嚮明之方。神不亂思者，心似太虛，靜定凝一也。閉氣不息者，止其呼吸，氣極則微微吐出，不令聞聲。七遍者，陽數也。引頸者，伸之使直，氣易下也。如咽甚硬物者，極力咽之，汨汨有聲，以意用力送至丹田氣海，氣為水母，氣足則精自旺也。餌舌下津者，為命門在兩腎之間，上通心肺，開竅於舌下，以生津。古人制活字，從水從舌者，言舌水可以活人也。舌字從千從口，言千口水成活也。津與腎水，原是一家，咽歸下極，重來相會，既濟之道也。《仙經》曰：氣是添年藥，津為續命芝，世上漫忙兼漫走，不知求我更求誰。氣為水母，水為命根，勤而行之，可以長生。《悟真篇》曰：咽津納氣是人行，有藥方能造化生，爐內若無真種子，猶將水火煮空鐺。此言虛極靜篤，精養靈根氣養神，真種子也）。</p>
<p>愚按：《素問》、《靈樞》各九卷，何字非尊生之訣。茲所摘者，不事百草而事守一，不尚九候而尚三奇。蓋觀天之道，執天之行，進百年為萬古尊生之道。於是為大矣。因知不根於虛靜者，即是邪術；不歸於易簡者，即是旁門，誠能於此精求，則道德五千，丹經五卷，豈復有餘蘊哉！</p>

<h2>二、陰陽</h2>
<p>《陰陽應象大論》曰：陰陽者，天地之道也（太極動而生陽，靜而生陰，天主於動，地主於靜。《易》曰：一陰一陽之謂道。陰陽者，本道體以生，道者，由陰陽而顯），萬物之綱紀（總之為綱，大德敦化也；紛之為紀，小德川流也），變化之父母（經曰：物生謂之化，物極謂之變。《易》曰：在天成象，在地成形，變化見矣。朱子曰：變者化之漸，化者變之成。陰可變為陽，陽可變為陰，然變化雖多，靡不統於陰陽，故為父母），生殺之本始（陰陽交則物生，陰陽隔則物死，陽來則物生，陰至則物死，萬物之生殺。莫不以陰陽為本始也），神明之府也（變化不測之謂神，品物流形之謂明。府者，言變化流形，皆從此出也）。治病必求於本（人之疾病，雖非一端，然而或屬虛，或屬實，或屬寒，或屬熱，或在氣，或在血，或在臟，或在腑，皆不外於陰陽，故知病變無窮，而陰陽為之本。經曰知其要者，一言而終是也。但明虛實，便別陰陽，然疑似之間大難剖別。如至虛有盛候，反瀉含冤；大實有羸狀，誤補益疾；陰症似陽，清之者必敗；陽症似陰，溫之者必亡。氣主煦之，血主濡之，氣藥有生血之功，血藥無益氣之理。病在腑而誤攻其臟，謂之引賊入門；病在臟而誤攻其腑，譬之隔靴搔癢。洞察陰陽，直窮病本，庶堪司命。若疑似之際，混而弗明，攻補之間，畏而弗敢，實實虛虛之禍尚忍言哉）。</p>
<p>故積陽為天，積陰為地。陰靜陽躁（積者，匯萃之稱也。合一切之屬於陽者，莫不本乎天；合一切之屬於陰者，莫不本乎地。陰主靜，陽主躁，其性然也），陽生陰長，陽殺陰藏（陽之和者為發育，陰之和者為成實，故曰陽生陰長，此陰陽之治也。陽之亢者為焦枯，陰之凝者為封閉，故曰陽殺陰藏，此陰陽之亂也。《天元紀大論》曰：天以陽生陰長，地以陽殺陰藏。夫天為陽，陽主於升，升則向生，故曰天以陽生陰長，陽中有陰也。地為陰，陰主於降，降則向死，故曰地以陽殺陰藏，陰中有陽也，此言歲紀也。上半年為陽升，天氣主之，故春生夏長；下半年為陰降，地氣主之，故秋收冬藏。陽不獨立，得陰而後成，如發生賴於陽和，而長養由乎雨露，故曰陽生陰長。陰不自專，因陽而後行，如閉藏因於寒冽，而肅殺出乎風霜，故曰陽殺陰藏。按：三說俱通，故並存之。第二則本乎經文，尤為確當。愚意萬物皆聽命於陽，而陰特為之順承者也。陽氣生旺，則陰血賴以長養；陽氣衰殺，則陰血無由和調，此陰從陽之至理也），陽化氣，陰成形（陽無形，故化氣；陰有質，故成形）。寒極生熱，熱極生寒（冬寒之極，將生春夏之熱，冬至以後，自復而之乾也。夏熱之極，將生秋冬之寒，夏至以後，自姤而之坤也）。</p>
<p>寒氣生濁，熱氣生清（寒屬陰，故生濁。熱屬陽，故生清），清氣在下，則生飧泄，濁氣在上，則生䐜脹（清陽主升，陽陷於下而不能升，故為飧泄，完穀不化也。濁陰主降，陰逆於上而不能降，故為䐜脹，胸膈脹滿也）。</p>
<p>清陽為天，濁陰為地，地氣上為云，天氣下為雨（此以下，明陰陽之升降，天人一理也。陰在下者為精，精即水也，精升則化為氣，云因雨而出也。陽在上者為氣，氣即云也，氣降即化為精，雨由云而生也。自下而上者，地交於天，故地氣上為云。自上而下者，天交於地，故天氣下為雨。就天地而言，謂之雲雨；就人身而言，謂之精氣，人身一小天地，詎不信然）。</p>
<p>故清陽出上竅，濁陰出下竅（上有七竅，耳目口鼻也。下有二竅，前陰、後陰也），清陽發腠理，濁陰走五臟；清陽實四肢，濁陰歸六腑（陽位乎外，陰位乎內，腠理四肢皆在外者，故清陽居之，五臟六腑皆在內者，故濁陰居之）。</p>
<p>水為陰，火為陽（水潤下而寒，故為陰；火炎上而熱，故為陽。炎上者，欲其下降。潤下者，欲其上升，謂之水火交而成既濟。火不制其上炎，水不禁其就下，謂之水火不交而成未濟。腎者水也，水中生氣，即真火也。心者火也，火中生液，即真水也。陰中有陽，陽中有陰，水火互藏，陰陽交體，此又不可不知者也）；陽為氣，陰為味；味歸形，形歸氣（氣無形而升，故為陽；味有質而降，故為陰。味歸形者，五味入口，生血成形也。形歸氣者。血皆依賴於氣，氣旺則自能生血，氣傷而血因以敗也）；氣歸精，精歸化（氣者，先天之元氣與後天之穀氣並而充身者也。肺金主之，金施氣以生水，水即精也。精者，坎府之真鉛，天一之最先也。精施則能化生，萬化之本元也）；精食氣，形食味（氣為精母，味為形本。食者，子食母乳之義也）；化生精，氣生形（萬化之生必本於精，形質之生必本於氣）；味傷形，氣傷精（味本歸形，味或不節，反傷形也。氣本歸精，氣或不調，反傷精也）；精化為氣，氣傷於味（氣本歸精，氣為精母也。此雲精化為氣者，精亦能生氣也。如不好色者，氣因以旺也。水火互為之根，即上文天地雲雨之義也。味不節則傷形，而氣不免焉。如味過於酸，肝氣以津，脾氣乃絕之類）。陰味出下竅，陽氣出上竅（味為陰，故下；氣為陽，故上），味厚者為陰，薄為陰之陽；氣厚者為陽，薄為陽之陰（味屬陰，味厚為純陰，味薄為陰中之陽。氣屬陽，氣厚為純陽，氣薄為陽中之陰）。味厚則泄，薄則通；氣薄則發泄，厚則發熱（陰味下行，味厚者能泄於下，味薄者能通利也，陽氣上行，故氣薄者能泄於表，氣厚者能發熱也）。壯火之氣衰，少火之氣壯；壯火食氣，氣食少火；壯火散氣，少火生氣（火者，陽氣也。天非此火不能發育萬物，人非此火不能生養命根，是以物生必本於陽。但陽和之火則生物，亢烈之火則害物，故火太過則氣反衰，火和平則氣乃壯。壯火散氣，故云食氣。少火生氣，故云食火，陽氣者，身中溫暖之氣也。此氣絕，則身冷而斃矣。運行三焦，熟腐五穀，疇非真火之功，是以《內經》諄諄反復，欲人善養此火，但少則壯，壯則衰，特須善為調劑。世之善用苦寒、好行疏伐者，詎非岐黃之罪人哉）。</p>
<p>陰勝則陽病，陽勝則陰病；陽勝則熱，陰勝則寒（陰陽和則得其平，一至有偏勝，病斯作矣），重寒則熱，重熱則寒（陰陽之變，水極則似火，火極則似水，陽盛則隔陰，陰盛則隔陽，故有內真寒而外假熱，內真熱而外假寒之症。不察其變，妄輕投劑，如水益深，如火益熱。雖有智者，莫可挽救矣）；寒傷形，熱傷氣（寒屬陰，形亦屬陰，故寒則形消也，熱為陽，氣亦為陽，故熱則氣散也），氣傷痛，形傷腫（氣喜宣通，氣傷則壅閉而不通，故痛，形為質象，形傷則稽留而不化，故腫）。故先痛而後腫者，氣傷形也；先腫而後痛者，形傷氣也（氣先傷而後及於形，氣傷為本，形傷為標也。形先傷而後及於氣，形傷為本，氣傷為標也）。</p>
<p>喜怒傷氣，寒暑傷形（舉喜怒而悲恐憂統之矣。內傷人情，如喜則氣緩，怒則氣上，悲則氣消，恐則氣下，憂則氣結，故曰傷氣。舉寒暑而風濕燥統之矣。外傷天氣，如風勝則動，熱勝則腫，燥勝則乾，寒勝則浮，濕勝則瀉，故曰傷形）。</p>
<p>天不足西北，故西北方陰也，而人右耳目不如左明也。地不滿東南，故東南方陽也，而人左手足不如右強也（天為陽。西北陰方，故天不足西北，地為陰，東南陽方，故地不滿東南，日月星辰，天之四象，猶人之有耳目口鼻，故耳目之左明於右，以陽勝於東南也。水火金木，地之四體，猶人之有皮肉筋骨，故手足之右強於左，以陰強於西北也）。</p>
<p>陽之汗，以天地之雨名之（汗出從表，陽也，而本於陰水之屬，故以天地之雨應之。雨雖屬陰，非天之陽氣降，則不雨也。知雨之義者，知汗之故矣）；陽之氣，以天地之疾風名之（氣為陽，陽勝則氣逆喘急，如天地之疾風，陽氣鼓動也）。</p>
<p>《金匱真言論》曰：平旦至日中，天之陽，陽中之陽也；日中至黃昏，天之陽，陽中之陰也；合夜至雞鳴，天之陰，陰中之陰也；雞鳴至平旦，天之陰，陰中之陽也（子、午、卯、酉，天之四正也，平旦至日中，自卯至午也；日中至黃昏，自午至酉也：合夜至雞鳴，自酉至子也；雞鳴至平旦，自子至卯也。以一日分四時，則子、午當二至，卯酉當二分，日出為春，日中為夏，日入為秋，夜半為冬也）。</p>
<p>夫言人之陰陽，則外為陽，內為陰（以表裡言）；言人身之陰陽，則背為陽，腹為陰（以前後言）；言人身之臟腑中陰陽，則臟者為陰，腑者為陽，肝、心、脾、肺、腎五臟皆為陰，膽、胃、大腸、小腸、膀胱、三焦，六腑皆為陽（五臟屬裡，藏精氣而不瀉，故為陰。六腑屬表，傳化物而不藏，故為陽）。</p>
<p>故背為陽，陽中之陽，心也；背為陽，陽中之陰，肺也；腹為陰，陰中之陰，腎也；腹為陰，陰中之陽，肝也；腹為陰，陰中之至陰，脾也（老子曰，負陰而抱陽，是以腹為陽、背為陰也。《內經》乃以背為陽、腹為陰，何也？邵子曰：天之陽在南，故日處之；地之剛在北，故山處之，然則老子之說言天象也，《內經》之說言地象也，況陽經行於背，陰經行於腹，人身臟腑之形體，本為地象也，第考伏羲六十四卦方圓二圖，其義顯然，夫圓圖象天，陽在東南，方圖象地，陽在西北，可以洞然無疑矣。心肺為背之陽，肝脾腎為腹之陰，何也？心肺在膈上，連近於背，故為背之二陽臟。肝脾腎在膈下，附近於腹，故為腹之三陰臟。然陽中又分陰陽者，心象人身之日，故為陽中之陽；肺象人身之天，天體雖陽，色玄而不自明，包藏陰德，比之太陽有間；故肺為陽中之陰。陰中又分陰陽者，腎屬水，故為陰中之陰；肝屬木，故為陰中之陽；脾屬坤土，故為陰中之至陰也）。</p>

<h3>六十四卦、方圓二圖</h3>
<p>圓圖象天，乾居東南，坤居西北。</p>
<p>方圖象地，乾居西北，坤居東南。</p>
<figure>
<img alt="方圓圖">
</figure>
<figure>
<img alt="六十四卦圖">
</figure>
<p>《生氣通天論》曰：陽氣者，若天與日，失其所，則折壽而不彰。故天運當以日光明（此明人生全賴乎陽氣也。日不明則天為陰晦，陽不固則人為夭折，皆陽氣之失所者，故天不自明，明在日月。月體本黑，得日乃明。此天運當以日光明也。太陽在午則為晝，而日麗中天，顯有象之神明，離之陽在外也。太陽在子則為夜，而火伏水中，涵無形之元氣，坎之陽在內也。天之運行，惟日為本，天無此日，則晝夜不分，四時失序，晦冥幽暗，萬物不彰矣。在於人者，亦惟此陽氣為要。苟無陽氣，孰分清濁，孰布三焦，孰為呼吸，孰為運行，血何由生，食何由化，與天之無日等矣。欲保天年，其可得乎？《內經》一百六十二篇，惟此節發明天人大義，最為切要，讀者詳之）。</p>
<p>凡陰陽之要，陽密乃固。兩者不和，若春無秋，若冬無夏，因而和之，是謂聖度（陰主內守，陽主外護，陽密於外，則邪不能侵，而陰得以固於內也。不和者，偏也，偏於陽；若有春而無秋；偏於陰，若有冬而無夏。和之者，瀉其太過，補其不足，俾無偏勝，聖人之法度也）。故陽強不能密，陰氣乃絕（陽密則陰固，陽強而亢，豈能密乎？陰氣被擾，將為煎厥而竭絕矣），陰平陽秘，精神乃治（陰血平靜於內，陽氣秘密於外。陰能養精，陽能養神，精足神全，命之曰治）。</p>
<p>《五常政大論》曰：陰精所奉其人壽，陽精所降其人夭（岐伯本論東南陽方，其精降下而多夭，西北陰方，其精向上而多壽。余嘗廣之，此陰陽之至理，在人身中者亦然。血為陰，雖肝藏之，實腎經真水之屬也。水者，先天之本也。水旺則陰精充而奉上，故可永年，則補腎宜急也。氣屬陽，雖肺主之，實脾土飲食所化也，土者，後天之本也。土衰則陽精敗而下陷，故當夭折，則補脾宜亟也。先哲云，水為天一之元，土為萬物之母，千古而下，獨薛立齋深明此義，多以六味地黃丸壯水，為奉上之計，兼以補中益氣湯扶土，為降下之防，蓋洞窺升降之微，深達造化之旨者歟）。</p>
<p>愚按：醫經充棟，不越於陰陽。誠於體之臟腑腹背、上下表里，脈之左右尺寸。浮沉遲數，時令之春夏秋冬，歲運之南政北政，察陰陽之微而調其虛實，則萬病之本咸歸掌握，萬卷之富只在寸中，不亦約而不漏，簡而可據乎！</p>

<h2>三、色診</h2>
<p>《脈要精微論》曰：夫精明五色者，氣之華也（精明見於目，五色顯於面，皆氣之華也，言氣而血在其中矣），赤欲如白裹朱，不欲如赭；白欲如鵝羽，不欲如鹽：青欲如蒼璧之澤，不欲如藍；黃欲如羅裹雄黃，不欲如黃土；黑欲如重漆色，不欲如地蒼（五色之欲者，皆取其潤澤。五色之不欲者，皆惡其枯槁也）。五色精微象見矣，其壽不久也（此皆五色精微之象也，凶兆既見，壽不久矣）。夫精明者，所以視萬物，別白黑，審長短，以長為短，以白為黑，如是則精衰矣（臟腑之精氣，皆上朝於目而為光明，故曰精明。若精明不能上奉，則顛倒錯亂，豈能保其生耶）。</p>
<p>《靈樞·五色篇》曰：明堂者鼻也，闕者眉間也，庭者顏也，蕃者頰側也，蔽者耳門也。其間欲方大，去之十步，皆見於外，如是者壽必中百歲（庭者，天庭也，俗名額角，蕃蔽者，屏蔽四旁也，十步之外而部位顯然，則方大可知，故壽可百歲也）。</p>
<p>明堂骨高以起，平以直，五臟次於中央，六腑挾其兩側，首面上於闕庭，王宮在於下極，五臟安於胸中，真色以致，病色不見，明堂潤澤以清（五臟之候皆在中央，六腑之候皆在四旁。次者，居也。挾者，附也。下極，居兩目之中，心之部也。心為君主，故稱王宮。若五臟安和，正色自顯，明堂必清潤也）。五色之見也，各出其色部。部骨陷者，必不免於病矣。其色部乘襲者，雖病甚不死矣（五色之見，各有部位。若有一部骨弱陷下之處，則邪乘之而病。若色部雖有變見，但得彼此生王，有乘襲而無克賊者。病雖甚不死矣）。青黑為痛，黃赤為熱，白為寒（此言五色之所主也）。</p>
<p>其色粗以明，沉夭者為甚，其色上行者病益甚，其色下行如雲徹散者病方已（粗者，明爽之義。沉夭者，晦滯之義。言色貴明爽，若晦滯者為病甚也。色上行者，濁氣方升，故病甚。下行者，濁氣已退，故病已）。五色各有藏部，有外部，有內部也。色從外部走內部者，其病從外走內；其色從內走外者，其病從內走外。病生於內者，先治其陰，後治其陽，反者益甚；其病生於陽者，先治其外，後治其內，反者益甚（五色各有藏部，言臟而腑在其中矣。外部者，六腑之表，六腑挾其兩側也。內部者，五臟之裡，五臟次於中央也。凡病色先起外部，而後及內部者，其病自表入里，是外為本而內為標，當先治其外，後治其內。若先起內部，而後及外部者，其病自里出表，是陰為本而陽為標，當先治其陰，後治其陽。若反之者，皆為誤治，病必轉甚矣）。</p>
<p>常候闕中，薄澤為風，沖濁為痹，在地為厥，此其常也，各以其色言其病（闕中，眉間也，肺之部也。風病在陽，皮毛受之，故色薄而澤。痹病在陰，肉骨受之，故色沖而濁。厥逆為寒濕之變，病起於下，故色之先於地。地者，相家所謂地閣，即巨分巨屈之處也）。</p>
<p>大氣入於臟腑者，不病而卒死（大氣者，大邪之氣也，如水色見於火部，火色見於金部之類。此元氣大虛，賊邪已至，雖不病，必卒然而死矣）。</p>
<p>赤色出兩顴，大如拇指者，病雖小愈，必卒死。黑色出於庭，大如拇指，必不病而卒死（形如拇指，最凶之色。赤者出於顴。顴者應在肩，亦為肺部，火色剋金，病雖愈必卒死。天庭處於最高，黑者干之，是腎絕矣。雖不病，必卒死也）。</p>
<p>庭者，首面也（天庭處於最高，應首面之有疾）。闕上者，咽喉也（闕上者，眉心之上也，應咽喉之有疾）。闕中者，肺也（闕中者，正當兩眉之中也，色見者，其應在肺）。下極者，心也（下極者，眉心之下也，相家謂之山根，心居肺下，故下極應心）。直下者，肝也（下極之下為鼻柱，相家謂之年壽。肝在心之下，故直下應肝）。肝左者，膽也（膽附於肝之短葉，故肝左應膽，而在年壽之左右也）。下者，脾也（年壽之下，相家謂之準頭，亦名土星，本經謂之面王，又名明堂。準頭居面之中央，故屬土應脾）。方上者，胃也（準頭兩旁為方上，即迎香之上，鼻隧是也。相家謂之蘭臺廷尉，與胃為表裡，脾居中而胃居外，故方上應胃）。中央者，大腸也（人中外五分迎香穴，大腸之應也，亦在面之中，故曰中央）。挾大腸者，腎也（挾大腸迎香穴者，頰之上也。四臟皆一，惟腎有兩，四臟居腹，惟腎附脊，故四臟次於中央，而腎獨應於兩頰）。當腎者，臍也（腎與臍對，故當腎之下應臍）。面王以上者，小腸也（面王，鼻準也，小腸為腑，應挾兩側，故面王之上，兩顴之內，小腸之應也）。面王以下者，膀胱子處也（面王以下者，人中也，乃膀胱子處之應。子處者，子宮也。凡人人中，平淺而無髭者，多主無子。婦人亦以人中深長者，善產育。此以上皆五臟六腑之應也）。顴者，肩也（此下皆言肢節之應也。顴為骨之本，居中部之上，故以應肩）。顴後者，臂也（臂接於肩，故顴後以應臂）。臂下者，手也。目內眥上者，膺乳也（目內眥上者，闕下兩旁也。胸兩旁高處為膺，膺乳者，應胸前也）。挾繩而上者，背也（頰之外曰繩，身之後曰背，故背應於挾繩之上）。循牙車以下者，股也（牙車，牙床也。牙車以下主下部，故以應股）。中央者，膝也（中央者，牙車之中央也。）膝以下者，脛也。當脛以下者，足也（脛次於膝，足接於脛，以次而下也）。巨分者，股里也（巨分者，口旁大紋處也，股里者，股之內側也）。巨闕者，膝臏也（巨闕，頰下曲骨也。膝臏者，膝蓋骨也，此蓋統指膝部而言）。</p>
<figure>
<img alt="《靈樞》臟腑肢節應於面之圖">
</figure>
<p>各有部分，有部分，用陰和陽，用陽和陰，當明部分，萬舉萬當（部分既明，陰陽不爽，陽亢則滋其陰，謂之用陰和陽。陰寒則補其火，謂之用陽和陰。故明部分而施治法，萬舉萬當也），能別左右，是謂大道；男女異位，故曰陰陽，審察澤夭，謂之良工（陽左陰右。左右者，陰陽之道路也，故能別左右，是為大道。男女異位者，男子左為逆、右為從，女子右為逆、左為從，故曰陰陽。陰陽既辨，然後審其色之潤澤枯夭，以決死生，醫之良也）。沉濁為內，浮澤為外（色之沉濁晦滯者為里，色之浮澤光明者為表）；黃赤為風，青黑為痛，白為寒，黃而膏潤為膿，赤甚者為血；痛甚為攣，寒甚為皮不仁（凡五色之見於面者，可因是而測其病矣。痛甚即青黑之極也，寒甚即白之極也），五色各見其部，察其浮沉，以知淺深；察其澤夭，以觀成敗；察其散摶（音團）。以知遠近；視色上下，以知病處（色之浮者病淺，色之沉者病深；潤澤者有成，枯夭者必敗；散而不聚者病近，摶而不散者病遠。上下者，即前臟腑肢節之見於面者也）。</p>
<p>色明不粗，沉夭為甚；不明不澤，其病不甚（粗者，顯也。言色之光明不顯，但見沉滯枯夭，病必甚也。若雖不明澤，而不至於沉夭者。病必不甚也）。其色散，駒駒然未有聚，其病散而氣痛，聚未成也（駒，馬之小者，未裝鞍轡，散而不聚也。譬色之散而無定者，病亦散而無堅積聚也，即有痛者，不過因無形之氣耳）。腎乘心，心先病，腎為應，色皆如是（腎乘心者，水邪剋火也。心先病於內，而腎之色則應於外，如黑色見於下極是也。不惟心腎，諸臟皆然，此舉一以例其餘也）。男子色在於面王，為小腹痛，下為卵痛，其圜直為莖痛，高為本，下為首，狐疝㿉陰之屬也（面王上，應有上字。面王上為小腸，下為膀胱子處。卵者，睪丸也。圜直，指人中水溝穴也，人中有邊圜而直者，故人中色見主陰莖作痛。在人中上半者曰高，為莖根痛，在人中下半者為莖頭痛，凡此皆狐疝㿉陰之病也。㿉即㿗也）。女子在於面王，為膀胱子處之病，散為痛，摶為聚，方圓左右，各如其色形。其隨而下至胝為淫，有潤如膏狀，為暴食不潔（面王下，宜有下字。面王下為人中。主膀胱子處。色散為痛，無形之氣滯也，色摶為聚，有形之血凝也。積之或方或圓，或左或右，各如其外見之形，若其色從下行而至尾骶，則為浸淫帶濁，有潤如膏之物，此症多因暴食不潔所致。不潔猶言不節，非汙穢之謂也。或多食冷物，或多食熱物，一切非宜之物皆是也）。</p>
<p>色者，青黑赤白黃，皆端滿有別鄉。別鄉赤者，其色亦大如榆莢，在面王為不日（五色皆宜端滿。端者，正色也，滿者，充潤也。別鄉猶言它鄉，即別部位也。如赤者心色，應見於兩目之間，是其本鄉。今見於面王，是別鄉矣。不日者，不日而愈也。火色見於土位，是其相生之鄉也。此舉赤色為例，而五色繆見者，皆可類推矣）。其色上銳，首空上向，下銳下向，在左右如法（邪色之見，各有所向。其尖銳之處是乘虛所犯之方，故上銳者以首虛，故上向也。下銳亦然，其在左右者皆同此法）。</p>
<p>《五臟生成論》曰：面黃目青，面黃目赤，面黃目白，面黃目黑者，皆不死（黃者，中央土之正色，五行以土為本，胃氣猶在，故不死也）。面青目赤，面赤目白，面青目黑，面黑目白，面赤目青，皆死也（色中無黃，則胃氣已絕，故皆死也）。</p>
<p>愚按：望聞問切，謂之四診，而望色居四診之先，未有獨憑一脈，可以施療者。經曰：切脈動靜而視精明，察五色，觀五臟有餘不足、六腑強弱，形之盛衰，以此參伍，決死生之分。又曰：形氣相得，謂之可治。色澤以浮，謂之易已。又曰：能合色脈，可以萬全。仲景嘗以明堂闕庭盡不見察，為世醫咎。好古嘗論治婦人不能行望色之神，為病家咎，則色固不要歟，而醫顧可忽歟？</p>

<h2>四、脈診</h2>
<p>《脈要精微論》曰：診法常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，故乃可診有過之脈（人身營衛之氣，晝則行於陽分，夜則行於陰分，至平旦皆會於寸口，故診脈當以平旦為常也。陰氣正平而未動，陽氣將盛而未散，飲食未進。虛實易明，經脈未盛，絡脈調勻，氣血未常因動作而擾亂，乃可診有過之脈。過者，病也）。切脈動靜而視精明，察五色，觀五臟有餘不足、六腑強弱，形之盛衰，以此參伍，決死生之分（切者，切近也，手按近體也。切脈之動靜，診陰陽也；視目之精明，診神氣也，察五色以觀臟腑之虛實，審形體以別病勢之盛衰。以此數者，與脈參伍推求，則陰陽表裡、虛實寒熱自無遁狀，可以決死生之分矣。不齊之謂參，剖其異而分之也。相類之謂伍，比其同而合之也。脈惟一端，診有數法，此醫家之要道也）。</p>
<p>尺內兩傍，則季脅也（關前曰寸，關後曰尺。季脅，小肋也，在脅之下，為腎所近，故有季脅之下，皆尺內主之）；尺外以候腎，尺裡以候腹（尺外，尺脈前半部也；尺裡，尺脈後半部也。前以候陽，後以候陰，人身以背為陽，腎附於背，故外以候腎。腹為陰，故里以候腹，而大小腸、膀胱、命門皆在其中矣。諸部言左右，此獨不分者，以兩尺皆主乎腎也）。中附上，左外以候肝，內以候膈（中附上者，言附尺之上而居乎中，即關部也。左外言左關之前半部。內者，言左關之後半部也。肝為陰中之陽，而亦附近於背，故外以候肝。內以候膈，舉膈而中焦之膈膜、膽腑，皆在其中矣）；右外以候胃，內以候脾（右關前半候胃，右關後半候脾，脾胃皆處中州，而以表裡言之，則胃為陽，脾為陰，故外以候胃，內以候脾）。上附上，右外以候肺，內以候胸中（上附上者，上而又上，則寸部也。五臟之位，肺處至高，故右寸前以候肺。右寸後以候胸中，言胸中而膈膜之上皆是矣）；左外以候心，內以候膻中（左寸之前以候心，左寸之後以候膻中。膻中者，即心胞絡也。按：《靈蘭秘典》有膻中而無胞絡，以膻中為臣使之官，喜樂出焉。《靈樞》敘經脈，有胞絡而無膻中，而曰動則喜笑不休，正與喜樂出焉之句相合。夫喜笑屬火之司，則知膻中與心應，即胞絡之別名也）。</p>
<p>《平人氣象論》曰：人一呼脈再動，一吸脈亦再動，呼吸定息脈五動，閏以太息，命曰平人。平人者，不病也（動，至也。一呼再功，一吸再動，一呼一吸合為一息，是一息四至也。呼吸定息脈五動者，當其閏以太息之時也。歷家三歲一閏，五歲再閏，人應天道，故三息閏一太息，五息再閏一太息。太息者，長息也。此言平人無病之脈。當以四至為準。若五至便為太過，惟當閏以太息之時，故得五至，苟非太息，仍四至也）。</p>
<p>人一呼脈一動，一吸脈一動，曰少氣（呼吸各一動，是一息二至也。二至為遲，遲主寒疾。夫氣為陽，氣虛則陽虛，故曰少氣）。人—呼脈三動，一吸脈三動而躁，尺熱曰病溫，尺不熱、脈滑曰病風，脈澀曰痹（呼吸各三動，是一息六至也。六至為數，躁者數之義也。尺熱者，尺中六至也。病溫猶言患熱，非傷寒之溫病也。左尺為水，而數則水涸而熱也；右尺為火，而數則火炎而熱也，故咸曰病溫。尺不數而諸脈滑者，陽邪盛也，故當病風。澀為血凝氣滯，故當病痹也）。人—呼脈四動以上曰死，脈絕不至曰死，乍疏乍數曰死（一呼四動，則一息八至矣，況以上乎，故知必死。脈絕不至，則營衛已絕。乍疏乍數，則氣血潰亂，不死安待）。</p>
<p>《靈樞·根結》篇曰：一日一夜五十營，以營五臟之精，不應數者，名曰狂生（營者，運也。人之經脈運行於身者，一日一夜凡五十周，以運五臟之精。凡周身上下、前後左右計二十七脈，共長十六丈二尺。人之宗氣積於胸中，主呼吸而行經絡，一呼氣行三寸，一吸氣行三寸，呼吸定息，脈行六寸。以一息六寸推之，則一晝一夜凡一萬三千五百息，通計五十周於身，脈八百一十丈，其有太過不及，則不應此數矣。狂生者，妄生也，其生未可保也）。所謂五十營者，五臟皆受氣。持其脈口，數其至也（五十營者，五臟所受之氣。持寸口而數其至數，則虛實可考也）。</p>
<p>五十動而不一代者，以為常也，以知五臟之期（當作氣）。予之短期者，乍數乍疏也（以為常者，經常之脈也，可因以知五臟之氣也。若乍數乍疏，則陰陽乖亂，死期近矣。短者，近也）。</p>
<p>《三部九候論》曰：獨小者病，獨大者病，獨疾者病，獨遲者病，獨熱者病，獨寒者病，獨陷下者病（此言七診之法也。獨者，謂於三部九候之中，以其獨異於諸部者，而推其病之所在也）。</p>
<p>《方盛衰論》曰：形氣有餘，脈氣不足，死；脈氣有餘，形氣不足，生（此言脈重於形氣也。形氣有餘，外貌無恙也。脈氣不足，內臟已傷也，故死。若形雖衰而脈未敗，根本猶存，尚可活也。故《三部九候論》曰：形肉已脫，九候雖調，猶死，蓋脫則大肉去盡，較之不足，殆有甚焉。脾主肌肉，肉脫者脾絕，決無生理）。</p>
<p>《脈要精微論》曰：持脈有道，虛靜為保（虛者，心空而無雜想也。靜者，身靜而不喧動也。保而不失，此持脈之道也）。春日浮，如魚之遊在波（春陽雖動，而未全彰，故如魚之遊在波也）；夏日在膚，泛泛乎萬物有餘（夏氣暢達，萬物皆備而無虧欠也。泛泛，盛滿之貌）；秋日下膚，蟄蟲將去（秋金清肅，盛者漸斂，如蟄蟲之將去而未去也）；冬日在骨，蟄蟲周密，君子居室（冬令閉藏，沉伏在骨，如蟄畏寒，深居密處。君子法天時而居室，退藏於密也）。故曰：知內者按而紀之，知外者終而始之。此六者，持脈之大法（內言臟氣，臟象有位，故可按而紀也。外言經氣，經脈有序，故可終而始也。明此四時內外六法，則病之表裡陰陽，皆可灼然明辨，故為持脈之大法）。</p>
<p>《玉機真藏論》曰，春脈者肝也，東方木也，萬物之所以始生也，故其氣來，軟弱輕虛而滑，端直以長，故曰弦，反此者病（端直以長，狀如弓弦，則有力矣。然軟弱輕虛而滑，則弦不至於太勁，宛然春和之象也）。</p>
<p>其氣來實而強，此謂太過，病在外；其氣來不實而微，此謂不及，病在中（實而強大，則不能軟弱輕虛矣，不實而微，不能端直以長矣，皆弦脈之反也。故上文曰反此者病。外病多有餘，內病多不足，大抵然也）。</p>
<p>太過則令人善忘，忽忽眩冒而巔疾；其不及則令人胸痛引背，下則兩脅胠滿（忘，當作怒。《本神》篇曰：肝氣虛則恐，實則怒。《氣交變大論》曰：歲木太過，忽忽善怒，眩冒巔疾。眩者，目花也。冒者，神昏也。足厥陰之脈會於巔，貫膈布脅，故見症乃爾）。</p>
<p>夏脈者心也，南方火也，萬物之所以盛長也，故其氣來盛去衰，故曰鉤，反此者病（鉤義如木之垂枝，即洪脈也。其來則盛。其去則衰，陽盛之象）。</p>
<p>其氣來盛去亦盛，此謂太過，病在外；其氣來不盛去反盛，此謂不及，病在中（來盛去盛，鉤之過也。來不盛去反盛，鉤之不及也。去反盛者，非強盛也。凡脈自骨出膚謂之來，自膚入骨謂之去）。</p>
<p>太過則令人身熱而膚痛，為浸淫；其不及則令人煩心，上見咳唾，下為氣泄（太過則陽有餘而病在外，故身熱膚痛。浸淫者，濕熱之甚也。不及則君火衰而病在內，故為心不足而煩，火乘金而咳。氣泄者，陽氣下陷也）。</p>
<p>秋脈者肺也，西方金也，萬物之所以收成也，故其氣來輕虛以浮，來急去散，故曰浮，反此者病（浮者，輕虛之別名也。來急去散，亦是狀浮之象也，即毛也）。</p>
<p>其氣來毛而中央堅，兩旁虛，此謂太過，病在外；其氣來毛而微，此謂不及，病在中（毛而有力為中央堅，毛而無力為微）。</p>
<p>太過則令人逆氣而背痛，慍慍然；其不及則令人喘，呼吸少氣而咳，上氣見血，下聞病音（肺主氣，故太過則氣逆背痛。慍慍者，氣鬱貌。不及則氣短而咳。氣不歸原，故上氣。陰虛內損，故見血；下聞病音者，腸鳴泄氣也）。</p>
<p>冬脈者腎也，北方水也，萬物之所以合藏也，故其氣來沉以搏，故曰營，反此者病（營者，退藏於密之義也，即沉石之義也）。</p>
<p>其氣來如彈石者，此謂太過，病在外；其去如數者，此謂不及，病在中（彈石者，堅強之象也，如數者，非真數也，言去之速也）。</p>
<p>太過則令人解㑊，脊脈痛而少氣不欲言，其不及則令人心懸如病飢，䏚中清，脊中痛，少腹滿，小便變（解者，懈怠而肢體不收也。㑊者，形跡困倦也。脊痛者，腎脈所過也。邪氣太過，則正氣少而不欲言矣。心腎不交，故心中如飢。䏚中者，季脅下空軟處，腎之所居也。腎脈貫脊屬腎絡膀胱，故為脊痛、腹滿、便變諸症）。</p>
<p>脾脈者，土也，孤臟以灌四旁者也（脾屬土，土為萬物之母。運行水穀，變化精微，以灌溉於南心北腎、東肝西肺，故曰四旁。孤臟者，位居中央，寄旺四時之末各十八日，四季共得七十二日。每季三月，各得九十日。於九十中除去十八日，則每季只七十二日，而為五行分旺之數，總之五七三百五，二五一十，共得三百六十日以成一歲也）。</p>
<p>善者不可得見，惡者可見（善者，脾之平脈也。脾何以無平脈可見乎？土無定位，亦無定象，古人強名之曰不浮不沉，不大不小，不疾不徐。意思欣欣，悠悠揚揚，難以名狀。此數語者，未嘗有定象可指、定形可見也。不可得見者，即難以名狀也。惡者，即太過不及之病脈也）。</p>
<p>其來如水之流者，此謂太過，病在外；如烏之喙者，此謂不及，病在中（按《平人氣象論》曰：堅銳如烏之喙，如水之流，故脾死。夫如烏之喙者，硬而不和，如水之流者，散而無紀，土德有慚，病在不治，即所謂惡者可見也）。</p>
<p>《平人氣象論》曰：夫平心脈來，累累如連珠，如循琅玕，曰心平，夏以胃氣為本（連珠、琅玕，喻其盛滿溫潤，即微鉤之義也，即胃氣之脈也，故曰心平）。病心脈來，喘喘連屬，其中微曲，曰心病（喘喘連屬，急數之象也。其中微曲，鉤多胃少之義也）。死心脈來，前曲後居，如操帶鉤，曰心死（前曲者，輕取之而堅大，後居者。重取之而牢實，如持革帶金鉤，而沖和之意失矣，故曰心死）。</p>
<p>平肺脈來，厭厭聶聶，如落榆莢，曰肺平，秋以胃氣為本（厭厭聶聶，澀之象也，如落榆莢，毛之象也。輕浮和緩，為有胃氣。此肺之平脈也）。病肺脈來，不上不下，如循雞羽，曰肺病（不上不下，亦澀也。如循雞羽，亦毛也，但毛多胃少，故曰肺病）。死肺脈來，如物之浮，如風吹毛，曰肺死（如物之浮，則無根矣。如風吹毛，則散亂矣。但毛無胃，故曰肺死）。</p>
<p>平肝脈來，軟弱招招，如揭長竿末梢，曰肝平，春以胃氣為本（招招，猶迢迢也。揭，高舉也。高揭長竿，梢必和軟，和緩弦長，弦而有胃氣者也，為肝之平脈）。病肝脈來，盈實而滑，如循長竿，曰肝病（盈實而滑，弦之太過也。長竿無梢，則失其和緩之意，此弦多胃少，故曰肝病）。死肝脈來，急益勁，如新張弓弦，曰肝死（勁，強急也。新張弓弦，弦而太過，但弦無胃者也，故曰肝死）。</p>
<p>平脾脈來，和柔相離，如雞踐地，曰脾平，長夏以胃氣為本（和柔者，悠悠揚揚也。相離者，不模糊也。如雞踐地，緩而不迫。胃氣之妙也，是為脾平）。病脾脈來，實而盈數，如雞舉足，曰脾病（實而盈數，強急不和也。如雞舉足之象，此即弱多胃少，為脾之病）。死脾脈來，銳堅如烏之喙，如鳥之距，如屋之漏，如水之流，曰脾死（如鳥之喙，硬也；如鳥之距，急也；如屋之漏，亂也；如水之流，散也。脾氣已絕，見此必死）。</p>
<p>平腎脈來，喘喘累累如鉤，按之而堅，曰腎平，冬以胃氣為本（喘喘累累如鉤，皆心脈之陽也，兼之沉石，則陰陽和平，腎脈之有胃氣者）。病腎脈來，如引葛，按之益堅，曰腎病（引葛者，牽連蔓引也。按之益堅，石多胃少也）。死腎脈來，發如奪索，辟辟如彈石，曰腎死（索而曰奪，則互引而勁急矣。辟辟如彈石，但石無胃矣，腎死之診也）。</p>
<p>《脈要精微論》曰：夫脈者，血之府也（營行脈中，故為血府。然行是血者，是氣為之司也。《逆順》篇曰：脈之盛衰者，所以候血氣之虛實，則知此舉一血而氣在其中，即下文氣治、氣病，義益見矣）。長則氣治，短則氣病（氣足則脈長，氣虛則脈短），數則煩心，大則病進（心為丙丁之原，故數則煩心。邪盛則脈滿，故大則病進），上盛則氣高（上盛者，寸脈盛也。氣高者，火亢氣逆也），下盛則氣脹（下盛者，關尺脈盛也。邪入於下，故為脹滿），代則氣衰，細則氣少（代脈見而氣將絕，細脈見而氣不充。曰衰，則少之甚者也），澀則心痛（血凝氣滯則脈澀，故主心痛），渾渾革至如湧泉，病進而色弊；綿綿其去如弦絕，死（渾渾者，洶湧之貌。革脈之至，如皮革之堅急也，湧泉，狀其盛滿也。見此脈者，病漸增進而色夭不澤也。綿綿弦絕，則胃氣絕無，真臟脈見，故死）。</p>
<p>《大奇論》曰：脈至浮合，浮合如數，一息十至以上，是經氣予不足也，微見九十日死（此以下皆定死期也。浮合者，如浮波之合，後浪催前，泛泛無紀，如數者，似數而非數也。數太過為血熱也。如數者血敗也，浮合者氣敗也。一息十至以上，死期大迫。此云九十日者，誤也，十字直衍。微見者，初見也。初見此脈，九日當死）。脈至如火薪然，是心精之予奪也，草乾而死（脈如火然，是火旺過極之脈，心經之精氣奪盡矣。夏令火旺，尚可強支，水令草乾，陽盡而死矣）。脈至如散葉，是肝氣予虛也，木葉落而死（散葉者，浮泛無根，肝氣虛極也。木葉落則金旺而木絕，其死宜也）。脈至如省客，省客者，脈塞而鼓，是腎氣予不足也，懸去棗華而死（省客，省問之客，時來時去者也。塞者，澀而代也。鼓者，堅且搏也。澀代為精敗，堅搏為胃少，至於棗華吐，則土旺水衰立盡矣）。脈至如泥丸，是胃精予不足也，榆莢落而死（泥丸者，泥彈之狀，動短之脈也。主胃中精氣不足。榆莢至春深而落，木旺之時，土必敗矣）。脈至如橫格，是膽予不足也，禾熟而死（橫格者，長大堅勁，木之真臟脈也，膽之衰敗也。禾熟於秋，金王而木乃絕矣）。脈至如弦縷，是胞精予不足也。病善言，下霜而死，不言，可治（弦者，喻其勁急。縷者，喻其細小。胞者，心胞絡也。舌為心苗，火動則善言。冬月飛霜，水來剋火而死矣。不言則所傷猶淺，故可救也）。脈至如交漆，交漆者，左右傍至也，微見三十日死（交漆者，模糊而大，即瀉漆之義也。左右傍至，大可知也。微者，初也，月令易而死期至矣）。脈至如湧泉，浮鼓肌中，太陽氣予不足也，少氣，味韭英而死（湧泉者，如泉之湧，有升無降，而浮鼓於肌表之間，是足太陽膀胱氣不足也。膀胱為三陽而主表也，今表實裡虛，故為少氣。韭英，韭花也。發於長夏，土剋水，故死）。脈至如頹土之狀，按之不得，是肌氣予不足也。五色先見黑，白壘發死（上下虛則頹。脈來虛大，按之不可得，正下虛之象也。脾主肌肉，肌氣即脾氣也。黑為水色，土敗而木反侮之。壘虆同，即蓮虆也。虆有五，而白者發於春，木旺之時，土其絕矣）。脈至如懸雍，懸雍者，浮揣切之益大，是十二俞之予不足也，水凝而死（懸雍者，喉間下垂肉乳也，俗名喉嚨花。浮揣之而大，是有陽無陰，孤陽亢上之象。十二俞者，臟腑十二經所輸也，水凝而死者，陰氣盛而孤陽絕也）。脈至如偃刀，偃刀者，浮之小急，按之堅大急，五臟菀熱，寒熱獨並於腎也。如此其人不得坐，立春而死（偃刀。臥刀也。浮之小急，如刀口也。按之堅大急，如刀背也。重按之腎之應也，腎虛則陰消，而五臟咸熱，雖五臟有郁菀之熱而發為寒熱，其原則獨歸併於腎也。腎因虧損，腰脊痠疼，不能起坐。冬令水旺，未即敗絕，遇春乃死也）。脈至如丸滑不直手，不直手者，按之不可得也，是大腸氣予不足也。棗葉生而死（如丸者，流利之狀，正滑脈也。不直手者，滑而不應手，按之則無也。大腸與肺金相為表裡，棗葉生於初夏，火盛則金絕，故當死）。脈至如華者，令人善恐，不欲坐臥，行立常聽，是小腸氣予不足也，季秋而死（如華者，盛滿而輕浮也。小腸與心相為表裡，小腸虛則心亦虛，故善恐、不得坐臥也。行立常聽，恐懼多而狐疑也。丙火墓於戌，故當季秋死）。</p>
<p>《三部九候論》曰：形盛脈細，少氣不足以息者死（形盛者。脈亦盛，其常也。形盛脈細，脈不應形矣，甚而少氣難以布息，死不旋踵）。形瘦脈大，胸中多氣者死（形小脈小，其常也。形瘦脈大，既不相應，甚而胸中多逆上之氣，陰敗陽孤，不死安待），形氣相得者生（身形與脈氣相得，如形小脈小、形大脈大是也），參伍不調者病（三以相參，伍以相類。謂之不調者，或大或小，或遲或疾，或滑或澀，不合常度，皆病脈也），三部九候皆相失者死（三部者，上中下三部，分天地人，分胸膈腹也。九候者，每部有浮中沉三候，三部各三，合而為九候也。或應浮大而反沉細，應沉細而反浮大，謂之相失，而不合於揆度也）。</p>
<p>形肉已脫，九候雖調猶死（脾主肌肉，為臟之本。若肌肉脫則脾絕矣，九候雖調無益也）。七診雖見，九候皆從者不死（七診者，獨大、獨小、獨疾、獨遲、獨熱、獨寒、獨陷下也。從，順也，合也。脈順四時之令及合諸經之體者，雖見七診之脈，不至於死）。</p>
<p>《陰陽別論》曰：凡持真臟之脈者，肝至懸絕，十八日死（懸絕者，真臟脈見，胃氣已無，懸懸欲絕也，十八日者，為木金成數之餘，金勝木而死也）。心至懸絕，九日死（九日者，為火水生成數之餘，水勝也）。肺至懸絕，十二日死（十二日，為金火生成數之餘，火勝金也）。腎至懸絕，七日死（七日者，為水土生數之餘，土勝水也）。脾至懸絕，四日死（四日者，為木生數之餘，木勝土也）。</p>
<p>《平人氣象論》曰：婦人手少陰脈動甚者，妊子也（手少陰，心脈也。動甚者，流利滑動，血旺而然也，故當妊子）。</p>
<p>《陰陽別論》曰：陰搏陽別，謂之有子（陰搏陽別，言陰脈搏動，與陽脈迥別也。陰陽二字所包者廣，以左右言，則左為陽、右為陰；以部位言，則寸為陽、尺為陰；以九候言，則浮為陽、沉為陰。舊說以尺脈洪實為陰，與陽脈迥別似矣，然則手少陰脈動甚亦在寸也，何取於陽別之旨乎，故因會通諸陰陽而後可決也）。</p>
<p>《徵四失論》曰：診病不問其始，憂患飲食之失節，起居之過度，或傷於毒，不先言此，卒持寸口，何病能中，妄言作名，為粗所窮（此言臨脈者，必先察致病之因，而後參之以脈，則陰陽虛實不致淆訛。若不問其始，是不求其生也。如憂患飲食，內因也；起居過度，外因也；傷於毒者，不內外因也。不先察其因而卒持寸口，自謂脈神，無假於問，豈知真假逆從？脈病原有不合者，倉卒一診，安能盡中病情？妄言作名，欺世賣俗，誤治傷生，損德不小矣）。</p>
<p>愚按：脈者，血氣之徵兆也。病態萬殊，盡欲以三指測其變化，非天下之至巧者，孰能與於斯？許叔微云：脈之理幽而難明，吾意所解，口莫能宣也，可以筆墨傳、口耳授者，皆粗跡也。雖然，粗者未諳，精者從何而出？析而言之，二十四字猶嫌其略；約而歸之，浮沉遲數已握其綱，所以脈不辨陰陽，愈索而愈惑也。陰陽之義已見於前陰搏陽別之條。又。滑伯仁曰：察脈須辨上、下、來、去、至、止，不明此六字，則陰陽不別也。上者為陽，來者為陽，至者為陽，下者為陰，去者為陰，止者為陰。上者，自尺上於寸，陽生於陰也。下者，自寸下於尺，陰生於陽也。來者，自骨肉而出於皮膚，氣之升也。去者，自皮膚而還於骨肉，氣之降也。應曰至，息曰止。此義至淺而至要，行遠自邇，登高自卑；請事斯語矣。</p>

<h2>五、藏象</h2>
<p>《靈蘭秘典論》曰：心者，君主之官，神明出焉（心者一身之主，故為君主之官。其藏神，其位南，有離明之象，故曰神明出焉）。肺者，相傅之官，治節出焉（位高近君，猶之宰輔，故為相傅之官，肺主氣，氣調則臟腑諸官聽其節制。無所不治，故曰治節出焉）。肝者，將軍之官，謀慮出焉（肝為震卦，壯勇而急，故為將軍之官。肝為東方龍神，龍善變化，故為謀慮所出）。膽者，中正之官，決斷出焉（膽性剛直，為中正之官。剛直者善決斷，肝雖勇急，非膽不斷也）。膻中者，臣使之官，喜樂出焉（《脹論》云，膻中者，心主之宮城也。貼近君主，故稱臣使。臟腑之官，莫非王臣，此獨泛言臣。又言使者，使令之臣，如內侍也。按十二臟內有膻中而無胞絡，十二經內有胞絡而無膻中，乃知膻中即胞絡也。況喜笑屬火，此云喜樂出焉，其配心君之府，較若列眉矣）。脾胃者，倉廩之官，五味出焉（胃司納受，脾司運化，皆為倉廩之官。五味入胃，脾實轉輸，故曰五味出焉）。大腸者，傳道之官，變化出焉（大腸居小腸之下，主出糟粕，是名變化傳導）。小腸者，受盛之官，化物出焉（小腸居胃之下，受盛胃之水穀而分清濁，水液滲於前，糟粕歸於後，故曰化物）。腎者，作強之官，伎巧出焉（腎處北方而主骨，宜為作強之官。水能化生萬物，故曰伎巧出焉）。三焦者，決瀆之官，水道出焉（上焦如霧，中焦如漚，下焦如瀆。三焦氣治，則水道疏通，故名決瀆之官）。膀胱者，州都之官，津液藏焉，氣化則能出矣（膀胱位居卑下，故名州都之官。經曰：水穀循下焦而滲入膀胱。蓋膀胱有下口而無上口，津液之藏者，皆由氣化滲入，然後出焉。舊說膀胱有上口而無下口者，非也）。凡此十二官者，不得相失也（失則不能相使，而疾病作矣）。故主明則下安，以此養生則壽，歿世不殆，以為天下則大昌（主明則十二官皆奉令承命，是以壽永。推此以治天下，則為明君而享至治）。主不明則十二官危，使道閉塞而不通，形乃大傷，以此養生則殃，以為天下者，其宗大危，戒之戒之（君主不明，則諸臣曠職或謀不軌，自上及下。相使之道皆不相通，即不奉命也。在人身則大傷而命危，在朝廷則大亂而國喪矣。心為陽中之陽，獨尊重之者，以陽為一身之主，不可不奉之，以為性命之根蒂也）。</p>
<p>《六節藏象論》曰：心者，生之本，神之處也；其華在面，其充在血脈，為陽中之太陽，通於夏氣（根本發榮之謂生。變化不測之謂神。心為太陽，生身之本也。心主藏神，變化之原也。心主血，屬陽而升，是以華在面，充在血脈也。心居上為陽臟，又位於南離，故為陽中之太陽而通於夏也）。肺者，氣之本，魄之處也；其華在毛，其充在皮，為陽中之太陰，通於秋氣（肺統氣，氣之本也。肺藏魄，魄之舍也。肺輕而浮，故其華其充乃在皮毛也。以太陰之經居至高之分，故為陽中之太陰而通於秋氣也）。腎者，主蟄，封藏之本，精之處也；其華在發，其充在骨，為陰中之少陰，通於冬氣（位居亥子。職司閉藏，猶之蟄蟲也。腎主水，受五臟六腑之精而藏之，精之處也。髮色黑而為血之餘，精足者血充，發受其華矣。腎之合，骨也，故充在骨。以少陰之經居至下之地，故為陰中之少陰，通於冬也）。肝者，罷極之本，魂之居也；其華在爪，其充在筋，以生血氣，其味酸，其色蒼，此為陽中之少陽，通於春氣（筋勞曰罷，主筋之臟是為罷極之本。肝主藏魂，非魂之居乎。爪者筋之餘，充其筋者，宜華在爪也。肝為血海，自應生血，肝主春升，亦應生氣。酸者木之味，蒼者木之色，木旺於春，陽猶未壯，故為陽中之少陽，通於春氣）。脾、胃、大腸、小腸、三焦、膀胱者，倉廩之本，營之居也，名曰器，能化糟粕，轉味而入出者也；其華在唇四白，其充在肌，其味甘，其色黃，此至陰之類，通於土氣（六經皆受水穀，故均有倉廩之名。血為營，水穀之精氣也，故為營之所居。器者，譬諸盛物之器也，胃受五穀，名之曰入。脾與大小腸、三焦、膀胱，皆主出也。唇四白者，唇之四圍白肉際也。唇者脾之榮，肌者脾之合，甘者土之味，黃者土之色，脾為陰中之至陰，分旺四季，故通於土。六經皆為倉廩，皆統於脾，故曰至陰之類）。凡十—臟取決於膽也（五臟六腑，其為十一臟，何以皆取決於膽乎？膽為奇恆之府，通全體之陰陽，況膽為春升之令，萬物之生長化收藏，皆於此托初稟命也）。</p>
<p>《靈樞·本輸》篇曰：肺合大腸，大腸者，傳道之府。心合小腸，小腸者，受盛之府。肝合膽，膽者，中清之府。脾合胃，胃者，五穀之府。腎合膀胱，膀胱者，津液之府也。少陽屬腎，腎上連肺，故將兩藏（此言臟腑各有所合，為一表一里也。將，領也。獨腎將兩藏者，以手少陽三焦正脈指天，散於胸中，而腎脈亦上連於肺。三焦之下腧屬膀胱，而膀胱為腎之合，故三焦者亦合於腎也。夫三焦為中瀆之府，膀胱為津液之府，腎以水藏而領水府，故腎得兼將兩藏。《本藏》論曰腎合三焦、膀胱是也）。三焦者，中瀆之府也，水道出焉，屬膀胱，是孤之府也（中瀆者，身中之溝瀆也。水之入於口而出於便者，必歷三焦，故曰中瀆之府，水道出焉。在本篇曰屬膀胱，在《血氣形志篇》曰少陽與心主為表裡，蓋在下者為陰，屬膀胱而合腎水，在上者為陽，合胞絡而通心火，三焦所以際上極下，象同六合，而無所不包也。十二臟中惟三焦獨大，諸臟無與匹者，故稱孤府。《難經》及叔和、啟玄皆以三焦有名無形，已為誤矣。陳無擇創言三焦有形如脂膜，更屬不經。《靈樞》曰：密理厚皮者，三焦厚。粗理薄皮者，三焦薄。又曰：勇士者，三焦理橫。怯士者，其焦理縱。又曰：上焦出於胃上口，並咽以上貫膈而布胸中。中焦亦並胃中，出上焦之後，泌糟粕，蒸精液，化精微而為血。下焦者，別迴腸，注於膀胱而滲入焉，水穀者，居於胃中，成糟粕，下大腸而成下焦。又曰：上焦如霧，中焦如漚，下焦如瀆。既曰無形，何以有厚薄，何以有縱有橫，何以如霧如漚如瀆，何以有氣血之別耶）。</p>
<p>《金匱真言論》曰：東方青色，入通於肝，開竅於目，藏精於肝，其病發驚駭，其味酸，其類草木，其畜雞（《易》曰，巽為雞，東方風木之畜也），其穀麥（麥成最早，故應東方春氣），其應四時，上為歲星，是以春氣在頭也（春氣上升），其音角，其數八（《易》曰：天三生木，地八成之），是以知病之在筋也，其臭臊（《禮·月令》云其臭膻，膻即臊也）。</p>
<p>南方赤色，入通於心，開竅於耳（《陰陽應象大論》曰心在竅為舌，腎在竅為耳；此云開竅於耳，則耳兼心腎也），藏精於心，故病在五臟（心為五臟之君，心病則五臟應之）,其味苦，其類火，其畜羊（《五常政大論》曰其畜馬，此云羊者，或因午未俱在南方耳），其谷黍（黍色赤，宜為心家之谷。《五常政大論》云其穀麥。二字相似疑誤也），其應四時，上為熒惑星，是以知病之在脈也，其音徵，其數七（地二生火，天七成之），其臭焦（焦為火氣所化）。</p>
<p>中央黃色，入通於脾，開竅於口，藏精於脾，故病在舌本（脾之脈連舌本，散舌下），其味甘，其類土，其畜牛（牛屬醜而色黃。《易》曰：坤為牛），其谷稷（稷，小米也，粳者為稷，糯者為黍，為五穀之長，色黃屬土），其應四時，上為鎮星，是以知病之在肉也，其音宮，其數五，其臭香。</p>
<p>西方白色，入通於肺，開竅於鼻，藏精於肺，故病在背（肺雖在胸中，實附於背也），其味辛，其類金，其畜馬（肺為乾象。《易》曰乾為馬），其谷稻（稻色白，故屬金），其應四時，上為太白星，是以知病之在皮毛也，其音商，其數九（地四生金，天九成之）。其臭腥。</p>
<p>北方黑色，入通於腎，開竅於二陰，藏精於腎，故病在溪（《氣穴論》云：肉之大會為谷，肉之小會為溪。溪者，水所流注也），其味鹹，其類水，其畜彘（《易》曰，坎為水），其谷豆（黑者屬水），其應四時，上為辰星，是以知病之在骨也，其音羽，其數六（天一生水，地六成之），其臭腐（腐為水氣所化，《禮·月令》云，其臭朽。朽即腐也）。</p>
<p>《陰陽應象大論》曰：東方生風，風生木，木生酸，酸生肝，肝生筋，筋生心（木生火也），肝主目。其在天為玄（玄者，天之本色，此總言五臟，不專指肝也），在人為道（道者，生天生地生物者也。肝主生生之令，故比諸道），在地為化（化，生化也。自無而有，自有而無，總名曰化。肝主春生，故言化耳）。化生五味，道生智（生意不窮智所由出），玄生神（玄冥之中，不存一物，不外一物，莫可名狀，強名曰神。按：在天為玄至此六句，以下四臟皆無，獨此有之，以春貫四時，元統四德，蓋兼五行六氣而言，非獨指東方也。觀《天元紀大論》有此數語，亦總貫五行，義益明矣），神在天為風（飛揚散動，周流六虛，風之用也，六氣之首也），在地為木，在體為筋，在臟為肝，在色為蒼，在變動為握（握者，筋之用也），在竅為目，在味為酸，在志為怒。怒傷肝，悲勝怒，悲為肺志，金勝木也；風傷筋，燥勝風（燥為肺氣，金勝木也）；酸傷筋，辛勝酸（辛為肺味，金勝木也）。</p>
<p>南方生熱，熱生火，火生苦，苦生心，心生血，血生脾（火生土也），心主舌（舌為心之官也）。其在天為熱，在地為火，在體為脈，在臟為心，在色為赤，在音為徵，在聲為笑，在變動為憂（心有餘則笑，不足則憂），在竅為舌，在味為苦，在志為喜。喜傷心，恐勝喜（恐為腎志，水勝火也）；熱傷氣（壯火食氣），寒勝熱（水勝火也）；苦傷氣（苦為心味，氣屬金家，火剋金也。苦為大寒，氣為陽主，苦則氣不和也），咸勝苦（咸為腎味，水剋火也）。</p>
<p>中央生濕，濕生土，土生甘，甘生脾，脾生肉，肉生肺（土生金也）。脾主口，其在天為濕，在地為土，在體為肉，在臟為脾，在色為黃，在音為宮，在聲為歌，在變動為噦，在竅為口，在味為甘，在志為思。思傷脾，怒勝思（木勝土也）；濕傷肉，風勝濕（木勝土也）；甘傷肉，酸勝甘（木味勝土）。</p>
<p>西方生燥，燥生金，金生辛，辛生肺，肺生皮毛，皮毛生腎（金生水也）。肺主鼻，其在天為燥，在地為金，在體為皮毛，在臟為肺，在色為白，在音為商，在聲為哭（悲哀則哭，肺之聲也），在變動為咳，在竅為鼻，在味為辛，在志為憂（金氣燥淒，故令人憂，憂甚則悲矣）。憂傷肺（悲憂則氣消），喜勝憂；熱傷皮毛，寒勝熱（水制火也）；辛傷皮毛，苦勝辛（火制金也）。</p>
<p>北方生寒，寒生水，水生咸，咸生腎，腎生骨髓，髓生肝（水生木也）。腎主耳，其在天為寒，在地為水，在體為骨，在臟為腎，在色為黑，在音為羽，在聲為呻，在變動為慄（寒則戰慄，恐則戰慄，腎水之象也），在竅為耳，在味為咸，在志為恐。恐傷腎（恐則足不能行，恐則遺尿，恐則陽痿，是其傷也），思勝恐。（土製水也），寒傷血（《陰陽應象大論》云：寒傷形，血為有形，形即血也），燥勝寒（燥則水涸，故勝寒。若五行之常，宜土濕勝水寒，然濕與寒同類，不能制也），咸傷血，甘勝咸（土勝水也。《新校正》云：在東方曰風傷筋，酸傷筋；中央曰濕傷肉，甘傷肉，是自傷也，南方曰熱傷氣，苦傷氣，北方曰寒傷血，咸傷血，是傷我所勝也；西方云熱傷皮毛，是所不勝傷己也，辛傷皮毛。是自傷也。五方所傷，有此三例不同）。</p>
<p>《靈樞·本神篇》曰：天之在我者德也，地之在我者氣也，德流氣薄而生者也（理賦於天者德也，形成於地者氣也，天地氤氳，德下流而氣上薄，人乃生焉）。故生之來謂之精（來者，所從來也。生之來，即有生之初也。陰陽二氣各有其精；精者即天一生水，地六成之，為五行之最初，故萬物初生，其來皆水。《易》曰男女媾精，萬物化生是也），兩精相搏謂之神（兩精者，陰陽也。相搏者，交媾也。《易》曰：天數五，地數五，五位相得而各有合。周子曰：二五之精，妙合而凝，即兩精相搏也。神者，至靈至變，無形無象，奈何得之精搏之後乎？《天元紀大論》曰：陰陽不測之謂神。《易》曰，知變化之道者，其知神之所為乎。神者，即虛極之本，生天生地者也。彌滿乾坤，無之非是，故《易》曰神無方，即天之所以為天，地之所以為地者。二五妙合之後，宛然小天地矣，故云），隨神往來者謂之魂，並精而出入者謂之魄（陽神曰魂，陰神曰魄。人之生也，以氣養形，以形攝氣，氣之神曰魂，形之靈曰魄，生則魂載於魄，魄檢其魂。死則魂歸於天，魄歸於地。魂喻諸火，魄喻諸鏡。火有光焰，物來便燒。鏡雖照見，不能燒物。夫人夢有動作，身常靜定，動者魂之用，靜者魄之體也。夫精為陰，神為陽，魂為陽，魄為陰，故隨神往來、並精出入，各從其類也），所以任物者謂之心（神雖藏於心，神無形而體虛，心有形而任物，君主之官，萬物皆任也），心有所憶謂之意（心已起而未有定屬者，意也），意之所存謂之志（意已決而確然不變者，志也），因志而存變謂之思（志雖定而反復計度者，思也）。因思而遠慕謂之慮（思之不已，必遠有所慕。憂疑輾轉者，慮也），因慮而處物謂之智（慮而後動，處事靈巧者，智也。五者各歸所主之臟，而統於心，故諸臟為臣使，而心為君主）。</p>
<p>心怵惕思慮則傷神，神傷則恐懼自失，破䐃脫肉，毛悴色夭，死於冬（神藏於心，心傷則神不安，失其主宰也。心者脾之母，心虛則脾亦薄，肉乃消瘦也。毛悴者，憔悴也。色夭者，心之色赤，赤欲如白裹朱，不欲如赭。火衰畏水，故死於冬）。</p>
<p>脾愁憂而不解則傷意，意傷則悗亂，四肢不舉，毛悴色夭，死於春（憂本傷肺，今以屬脾者，子母相通也。憂則氣滯而不運。故悗悶也。四肢稟氣於胃，而不得至經，必因於脾乃得稟也，故脾傷則四肢不舉。脾之色黃，黃欲如羅裹雄黃，不欲如黃土。土衰畏木，故死於春）。</p>
<p>肝悲哀動中則傷魂，魂傷則狂忘不精，不精則不正，當人陰縮而攣筋，兩脅骨不舉，毛悴色夭，死於秋（悲哀亦肺之志，而傷肝者，金伐木也。肝藏魂，魂傷則或為狂亂，或為健忘。不精者，失見精明之常，則邪妄而不正也。肝主筋，故陰縮攣急。兩脅者肝之分，肝敗則不舉。肝色青，青欲如蒼璧之澤，不欲如藍。木衰畏金，故死於秋）。</p>
<p>肺喜樂無極則傷魄，魄傷則狂，狂者意不存人，皮革焦，毛悴色夭，死於夏（喜樂屬心，而傷肺者，火乘金也。肺藏魄，魄傷則不能鎮靜而狂。意不存人者，旁若無人也，肺主皮，故皮革焦也，肺色白，白欲如鵝羽，不欲如鹽。金衰畏火，故死於夏）。</p>
<p>腎盛怒而不止則傷志，志傷則喜忘其前言，腰脊不可以俯仰屈伸，毛悴色夭，死於季夏（怒者肝志，而傷腎者，子母相通也。腎藏志，志傷則喜忘其前言。腰為腎之府，脊為腎之路，腎傷則不可俯仰屈伸。腎色黑，黑欲如重漆色，不欲如地蒼。水畏土，故死於季夏）；恐懼而不解則傷精，精傷則骨痠痿厥，精時自下（此亦腎傷也，特傷於本臟之志，為異於前耳。恐則氣下。故精傷。腎主骨，精傷則骨痠。痿者陽之痿，厥者陽之衰。閉藏失職，則不因交感，精自下矣）。</p>
<p>《經脈別論》曰：食氣入胃，散精於肝，淫氣於筋（精者，食之輕清者也。肝主筋，故胃家散布於肝，則浸淫滋養於筋也）。食氣入胃，濁氣歸心，淫精於脈（濁者，食之厚濁者也。心主血脈，故食氣歸心，則精氣浸淫於脈也），脈氣流經，經氣歸於肺，肺朝百脈，輸精於皮毛（淫於脈者，必流於經，經脈流通必由於氣，氣主於肺，而為五臟之華蓋，故為百脈之朝會。皮毛者，肺之合也，是以輸精）。毛脈合精，行氣於府（肺主毛，心主脈，肺藏氣，心生血，一氣一血奉以生身，一君一相皆處其上，而行氣於氣府，即膻中也），府精神明，留於四臟，氣歸於權衡（膻中即心胞絡，為心之府，權所受之精，還稟命於神明，神明屬心，五臟之君主。留當作流。流其精於四臟，則四臟之氣鹹得其平，而歸於權衡矣。權衡者，平也，故曰主明則下安，主不明則十二官危），權衡以平，氣口成寸，以決死生（臟腑既平，必朝宗於氣口，成一寸之脈，以決死生也）。</p>
<p>飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺（水飲入胃，先輸於脾，是以中焦如漚也。脾氣散精，朝於肺部，象地氣上升而蒸為雲霧，是以上焦如霧也），通調水道，下輸膀胱（肺氣運行，水隨而注，故通調水道，下輸膀胱，是以下焦如瀆也。若氣不能下化，則小便不通，故曰膀胱者，州都之官，津液藏焉，氣化則能出矣）。水精四布，五經並行，合於四時五臟陰陽，揆度以為常也（脈化氣以行水，分布於四臟，則五臟並行矣。合於四時者，上輸象春夏之升，下輸象秋冬之降也。五臟陰陽者，即散精、淫精、輸精是也。如是則不愆於道揆法度矣，故以為常也）。</p>
<p>《五運行大論》：帝曰：病之生變何如？岐伯曰：氣相得則微，不相得則甚（相得者，彼此相生，則氣和而病微。不相得者，彼此相剋，則氣乘而病甚）。帝曰：主歲何如？岐伯曰：氣有餘，則制己所勝而侮所不勝；其不及，則己所不勝侮而乘之，已所勝輕而侮之（主歲，謂五運六氣各有所主之歲也。己所勝，我勝彼也。所不勝，彼勝我也。假令木氣有餘，則制己所勝，而土受其克，濕化乃衰。侮所不勝，則反受木之侮也。木氣不足，則己所不勝者，金來侮之。己所勝者，土亦侮之）。侮反受邪，侮而受邪，寡於畏也（恃我能勝，侮之太甚，則有勝必復，反受其邪。如木來剋土，侮之太甚，則脾土之子，實肺金也，乘木之虛，來復母仇。如吳王起傾國之兵，與中國爭，越乘其虛，遂入而滅吳矣。此因侮受其邪，五行勝復之自然者也）。</p>
<p>《靈樞·決氣》篇曰：兩神相搏，合而成形，常先身生，是謂精（兩神相搏，即陰陽交媾，精互而成形，精為形先也。《本神》篇曰兩精相搏謂之神。此又曰兩神云云者，蓋神為精宰，精為神用，神中有精，精中亦有神也。蓋以見神之虛靈，無在不有，精且先身而生，神復先精而立，前乎無始，後乎無終。知此者可與言神矣）。上焦開發，宣五穀味，熏膚，充身澤毛，若霧露之溉，是謂氣（氣屬陽，本乎天者親上，故在上焦開發宣布，上焦如霧者是也。《邪客》篇云：宗氣積於胸中，出於喉嚨，以貫心肺而行呼吸焉。《刺節真邪論》曰：真氣者，所受於天，與穀氣並而充身也。《營衛生會》篇曰：人受氣於谷，谷入於胃，以傳於肺，五臟六腑皆以受氣。故能熏膚、充身、澤毛）。腠理發泄，汗出溱溱，是謂津（津者，陽之液。汗者，津之發也）。谷入氣滿，淖澤注於骨，骨屬屈伸；泄澤，補益腦髓，皮膚潤澤，是謂液（液者，陰之精。谷入於胃，氣滿而化液，故能潤骨。骨受潤，故能屈伸。經脈流，故能泄澤。內而補腦髓，外而潤皮膚，皆液也）。中焦受氣取汁，變化而赤，是謂血（水穀必入於胃，故中焦受谷，運化精微，變而為汁，又變而赤，以奉生身，是名為血）。壅遏營氣，令無所避，是謂脈（壅遏者，堤防也，猶道路之界，江河之岸也，俾營氣無所避而必行其中者，謂之脈。脈者，非氣非血，所以行氣行血者也）。</p>
<p>精脫者，耳聾（耳為腎竅，精脫則耳失其用矣），氣脫者，目不明（臟腑之陽氣皆上注於目，氣脫則目失其用矣）；津脫者，腠理開，汗大泄（汗，陽津也。汗過多則津必脫，故曰汗多亡陽）；液脫者，骨屬屈伸不利，色夭，腦髓消，脛痠，耳數鳴（液脫則骨髓枯，故屈伸不利。腦消脛痠、色亦枯夭也。耳鳴者，液脫則腎虛也）；血脫者，色白，夭然不澤（色之榮者，血也。血脫者，色必枯白也）。</p>
<p>愚按：臟腑攸分，固微渺也，指而列之，則有象可按矣。古之至神者，若見垣，若內照，咸用此耳。然變變化化有不可以常法律者，則象也而神矣，故曰廢象者暗行，膠象者待兔。</p>

<h1>卷下</h1>

<h2>一、經絡</h2>
<p>《靈樞·經脈》篇曰：肺手太陰之脈，起於中焦（手之三陰。從臟走手，故手太陰肺脈起於中焦，當胃之中脘也。十二經者，營也，故曰營行脈中。首言肺者，肺朝百脈也，循序相傳，盡於肝經，終而復始，又傳於肺，是為一周），下絡大腸（肺與大腸為表裡，故絡大腸。凡十二經相通，各有表裡，在本經者曰屬，他經者曰絡），還循胃口（還，復也。循，繞也。下絡大腸，還上循胃口），上膈屬肺（身中膈膜，居心肺之下，前齊鳩尾，後齊十一椎，周圍相著以隔濁氣，不使熏於肺也），從肺系橫出腋下（肺系，喉嚨也。腋下者，膊下脅上也），下循臑內（臑者，膊之內側，上至腋，下至肘也），行少陰心主之前（少陰者，心也。心主者，胞絡也。手之三陰，太陰在前，厥陰在中，少陰在後），下肘中，循臂內（膊與臂之交曰肘。內者，內側也）上骨下廉，入寸口（骨。掌後高骨也。下廉，骨下側也。寸口。即動脈也），上魚，循魚際（手腕之上，大指之下，肉隆如魚，故曰魚。寸口之上，魚之下曰魚際穴），出大指之端（端，指尖也，手太陰肺經止於此）；其支者，從腕後直出次指內廉，出其端（支者，如木之枝也。正經之外，復有旁分之絡。此本經別絡，從腕後直出次指之端，交商陽穴，而接手陽明經也）。</p>
<p>大腸手陽明之脈，起於大指次指之端（次指，食指也。手之三陽，從手至頭），循指上廉，出合谷兩骨之間（上廉，上側也。凡諸經脈，陽行於外，陰行於內，後諸經皆同。合谷，穴名。兩骨，即大指次指後岐骨也，俗名虎口），上入兩筋之中（腕中上側兩筋陷中，陽谿穴也），循臂上廉，入肘外廉，上臑外前廉，上肩，出髃骨之前廉（肩端骨罅為髃骨），上出於柱骨之會上（背之上頸之根，為天柱骨。六陽皆會於督脈之大椎，是為會上），下入缺盆絡肺，下膈屬大腸（自大椎而前，入缺盆絡肺，復下膈，當臍旁，屬於大腸）；其支者，從缺盆上頸貫頰，入下齒中（耳下曲處為頰），還出挾口，交人中，左之右，右之左，上挾鼻孔（人中。即督脈之水溝穴。由人中而左右互交，上挾鼻孔，手陽明經止於此，自山根交承泣而接足陽明經也）。</p>
<p>胃足陽明之脈，起於鼻之交頞中（頞，鼻莖也；又名山根。足之三陽，從頭走足），旁納太陽之脈（納，入也。足太陽起於目內眥，與頞交近），下循鼻外，入上齒中，還出挾口環唇，下交承漿（環，繞也。承漿，任脈穴），卻循頤後下廉，出大迎（腮下為頷，頷下為頤），循頰車，上耳前，過客主人，循髮際，至額顱（頰車在耳下，本經穴也。客主人在耳前，足少陽經穴也。發之前際為額顱），其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈屬胃絡脾（絡脾者，胃與脾為表裡也）；其直者，從缺盆下乳內廉，下挾臍，入氣街中（氣街，即氣衝也，在毛際兩旁鼠鼷上一寸）；其支者，起於胃口，下循腹裡，下至氣街中而合（胃口者，胃之下口，即幽門也。支者與直者，會合於氣街），以下髀關，抵伏兔，下膝臏中，下循脛外廉，下足跗，入中指內間（抵，至也。髀關、伏兔，皆膝上穴也。膝蓋曰臏，䯒骨曰脛，足面曰跗。由跗而入足之中指內間，足陽明經止於此），其支者，下廉三寸而別，下入中指外間；其支者，別跗上，入大指間，出其端（陽明別絡，入中指外間。又其支者，別行入大指間，斜出足厥陰行間之次。循大指出其端，而接足太陰經也）。</p>
<p>脾足太陰之脈，起於大指之端（足之三陰，從足走腹，故足太陰脈發於此），循指內側白肉際，過核骨後，上內踝前廉（核骨，在足大指本節後圓骨也，滑氏誤作孤拐骨），上踹（音傳）內，循脛骨後，交出厥陰之前（足肚曰踹。交出厥陰之前，即地機、陰陵泉也），上膝股內前廉（股，大腿也。前廉者，上側也，當血海、箕門之次），入腹屬脾絡胃（脾胃為表裡，故屬脾絡胃），上膈挾咽，連舌本，散舌下；其支者，復從胃別上膈，注心中（足太陰外行者，由腹上府舍、腹結等穴，散於胸中而止於大包。其內行而支者，自胃脘上膈注心而接手少陰經也）。</p>
<p>心手少陰之脈，起於心中，出屬心系（心當五椎之下，其繫有五，上系連肺，肺下繫心，心下三系連脾、肝、腎，故心通五臟而為之主也），下膈絡小腸（心與小腸為表裡，故下膈當臍上二寸，下脘之分絡小腸也），其支者，從心系上挾咽，系目系；其直者，復從心系卻上肺，下出腋下（出腋下，上行極泉穴，手少陰經行於外者始此），下循臑內後廉，行太陰、心主之後（臑內後廉，青靈穴也。手之三陰，少陰居太陰、厥陰之後），下肘內，循臂內後廉，抵掌後銳骨之端（手腕下踝為銳骨，神門穴也）。入掌內後廉，循小指之內，出其端（手少陰經此於此，乃交小指外側，而接手太陽經也。滑氏曰：心為君主，尊於他臟，故其交經授受，不假支別云）。</p>
<p>小腸手太陽之脈，起於小指之端，循手外側上腕，出踝中（前谷，後谿、腕骨等穴），直上循臂骨下廉，出肘內側兩筋之間（循臂下廉、陽谷等穴。出肘內側兩骨尖陷中，小海穴也），上循臑外後廉（行手陽明、少陽之外），出肩解，繞肩胛，交肩上（肩後骨縫曰肩解。肩胛者，臑腧、天宗等處。肩上者，秉風、曲垣等穴，左右交於兩肩之上，會於督脈之大椎），入缺盆絡心（心與小腸為表裡）。循咽下膈，抵胃屬小腸（循咽下膈抵胃，當臍上二寸，屬小腸，此本經之行於內者），其支者，從缺盆循頸上頰，至目銳眥卻入耳中（其支行於外者，出缺盆，循頸中之天窗，上頰後之天容，由顴髎以入耳中聽宮穴也，手太陰經止於此）；其支者，別頰上䪼抵鼻，至目內眥，斜絡於顴（目下為䪼，目內角為內眥。顴，即顴髎穴，手太陽自此交目內眥而接足太陽經也）。</p>
<p>膀胱足太陽之脈，起於目內眥，上額交巔（由攢竹上額，歷曲差、五處等穴。自絡卻穴左右斜行，而交於巔頂之百會）；其支者，從巔至耳上角（支者，由百會旁行，至耳上角，過足少陽之曲鬢、率谷、天衝、浮白、竅陰、完骨，故此六穴者皆足太陽、少陽之會）；其直者，從巔入絡腦（自百會、通天、絡卻、玉枕，入絡於腦），還出別下項，循肩髆內，挾脊抵腰中（腦後復出別下項，由天柱而下會督脈之大椎。陶道，卻循肩髆內作四行而下，挾脊抵腰），入循膂，絡腎屬膀胱（腎與膀胱為表裡也。夾脊兩旁之肉曰膂），其支者，從腰中下挾脊，貫臀，入膕中（尻旁大肉曰臀。膝後曲處曰膕）；其支者，從髆內左右，別下貫胛。挾脊內（此支言肩髆內，大杼下，外兩行也。左右貫胛，去脊各三寸別行，歷附分、魄戶、膏肓等穴，挾脊下過髀樞），過髀樞循髀外從後廉下合膕中（會於足少陽之環跳，循髀外後廉，去承扶一寸五分之間下行，復與前之入膕中者相會合）。以下貫踹內，出外踝之後，循京骨，至小指外側（小指本節後大骨曰京骨，足太陽經穴止此，乃交於小指之下，而接足少陰經也）。</p>
<p>腎足少陰之脈，起於小指之下，邪走足心，出於然谷之下，循內踝之後，別入跟中（然谷，在內踝前，大骨下。內踝之後，別入跟中，即太谿、大鐘等穴），以上踹內，出膕內廉，上股內後廉，貫脊屬腎絡膀胱（上股內後廉，結於督脈之長強。以貫脊而後屬於腎，前當關元、中極，而絡於膀胱，相為表裡也）；其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本（其直行者，從肓俞屬腎處上行，循商曲、石關、陰都、通谷諸穴，貫肝上循幽門上膈，歷於步廊入肺中，循神封、靈墟、神藏、彧中、俞府，而上循喉嚨，並人迎挾舌本而終）；其支者，從肺出絡心，注胸中（支者，自神藏之際，從肺絡心至胸，以上俞府諸穴，足少陰經止於此，而接手厥陰經也）。</p>
<p>心主手厥陰心包絡之脈，起於胸中（心主者，心之所主也。胞絡為心之府，故名），出屬心胞絡，下膈，歷絡三焦（胞絡為心君之外衛，三焦為臟腑之外衛，故為表裡而相絡，諸經皆無歷字，獨此有之，達上中下也），其支者，循胸出脅，下腋三寸（腋下三寸天池，手厥陰經穴始此）；上抵腋，下循臑內，行太陰少陰之間（上抵腋下之天泉，循臑內行太陰少陰之間，以手之三陰，厥陰在中也）。入肘中，下臂行兩筋之間（入肘中，曲澤也，下臂行兩筋之間，郄門、間使、內關、大陵也），入掌中，循中指出其端（掌中，勞宮也。中指端，中衝也，手厥陰經止於此）；其支者，別掌中，循小指次指出其端（次指者，無名指也。支者自勞宮別行無名指端，而接乎手少陽經也）。</p>
<p>三焦手少陽之脈，起於大指次指之端，上出兩指之間（即小指次指之間，液門、中渚穴）。循手表腕，出臂外兩骨之間（手表腕，陽池也。臂外兩骨間，外關、支溝等穴），上貫肘，循臑外上肩，而交出足少陽之後（上貫肘之天井，循臑外歷清冷淵、消濼、臑會，上肩髎，自天髎而交出足少陽之後也），入缺盆，布膻中，散絡心包，下膈，循屬三焦（內行者入缺盆，復由足陽明之外下布膻中，散絡心包。相為表裡。自上焦下膈，循中焦以約下焦）；其支者，從膻中上出缺盆，上項，系耳後直上，出耳上角以屈下頰至䪼（其支行於外者，自膻中上缺盆，會於督脈之大椎，循天牖，系耳後之翳風、瘈脈、顱息，出耳上角，過足少陽之懸釐、頷厭，下行耳頰至䪼）；其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳眥（此支從耳後翳風入耳中，過手太陽之聽宮，出走耳前，過足少陽之客主人，交頰上絲竹空，至目銳眥，會於瞳子髎，手少陽經止於此，而接足少陽經也）。</p>
<p>膽足少陽之脈，起於目銳眥，上抵頭角，下耳後（由聽會、客主人抵頭角。下耳後，行天衝、浮白、竅陰、完骨），循頸行手少陽之前，至肩上，卻交出手少陽之後，入缺盆（循頸過手少陽之天牖，行少陽之前，下至肩上，循肩井，復交出手少陽之後，過督脈之大椎，而入於足陽明缺盆之外），其支者，從耳後入耳中，出走耳前，至目銳眥後（從耳後顳顬，過手少陽之翳風，過手太陽之聽宮，出走耳前，復自聽會至目銳眥），其支者，別銳眥，下大迎，合於手少陽，抵於䪼（支者，別自目外眥，下足陽明大迎，由手少陽之絲竹、和髎而抵於䪼），下加頰車，下頸合缺盆（自頰車下頸，循本經之前，與前之入缺盆者會合），以下胸中，貫膈絡肝屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中（下胸當手厥陰天池之分貫膈，足厥陰期門之分絡肝，本經日月之分屬膽而相為表裡，乃循脅裡由足厥陰章門下行，出足陽明氣街。繞毛際，合於足厥陰以橫入髀厭中環跳穴）；其直者，從缺盆下腋，循胸過季脅，下合髀厭中（直而行於外者，從缺盆下行，復與前之入髀厭者會合），以下循髀陽，出膝外廉，下外輔骨之前（髀陽，髀之外側也。輔骨，膝兩旁高骨也。由髀陽曆中瀆、陽關，出膝外廉，下外輔骨之前，自陽陵泉以下陽交等穴），直下抵絕骨之端，下出外踝之前，循足跗上，入小指次指之間（外踝上骨際曰絕骨，陽輔穴也。下行懸鐘，循足面入小指次指之間，至竅陰穴，足少陽經止於此）；其支者，別跗上，入大指之間，循大指岐骨內出其端。還貫爪甲，出三毛（足大指次指本節後骨縫為岐骨。大指爪甲後二節間為三毛，自此接足厥陰經）。</p>
<p>肝足厥陰之脈，起於大指叢毛之際（叢毛，即三毛也），上循足跗上廉，去內踝一寸（足面上，行間、太衝也。內踝一寸，中封也），上踝八寸，交出太陰之後，上膕內廉（上踝過足太陰之三陰交，歷蠡溝、中都，交出太陰之後，上膕內廉，至膝關、曲泉也），循股陰，入毛中，過陰器（股陰，內側也。循股內之陰包、五里、陰廉，上會於足太陰之衝門、府舍，入陰毛中急脈，左右相交，環繞陰器而會於任脈之曲骨），抵小腹，挾胃屬肝絡膽（入小腹會於任脈之中極、關元，循章門至期門挾胃屬肝，下足少陽日月之所絡膽，肝膽相為表裡也），上貫膈，布脅肋（貫膈行足太陰食竇之外，大包之裡布脅肋，上足少陽淵腋、手太陰雲門，足厥陰經穴止此），循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔（頏顙，咽顙也。目內深處為目系。其內行而上者，循喉嚨後入頏顙，行足陽明大迎、地倉、四白之外，內連目系，上出足少陽陽白之外，臨泣之裡，與督脈會於巔之百會穴），其支者，從目系下頰裡；環唇內，（從目系下行任脈之外，本經之裡，下頰環唇）；其支者，復從肝別貫膈，上注肺（從前期門屬肝之所，行足太陰食竇之外，本經之裡，別貫膈上注肺。下行挾中脘之分，復接手太陰肺經，十二經一周已盡也）。</p>
<p>《骨空論》曰：任脈者，起於中極之下，以上毛際，循腹裡，上關元，至咽喉，上頤循面入目（以下任、督、沖、蹺皆奇經也，無表裡配合。故謂之奇。中極，任脈穴也，在曲骨上一寸。中極之下為胞宮，任、督、沖三脈皆起於胞宮而出於會陰。任由會陰而行腹，督由會陰而行背。沖由會陰出並少陰而散胸中）。</p>
<p>衝脈者，起於氣街，並少陰之經，挾臍上行，至胸中而散（起者，外脈所起，非發源也。氣街，即氣衝，在毛際兩旁。起於氣街，並足少陰之經，會於橫骨、大赫等十一穴，挾臍上行，至胸中而散，此衝脈之前行者也。然少陰之脈上股內後廉，貫脊屬腎，衝脈亦入脊內伏沖之脈。然則衝脈之後行者，當亦並少陰無疑也）。</p>
<p>任脈為病，男子內結七疝，女子帶下瘕聚（任脈自前陰上毛際，行腹裡，故男女之為病若此也）。衝脈為病，逆氣裡急（衝脈挾臍上行至胸，氣不順則逆，血不和則急也）。督脈為病，脊強反折（督脈貫脊，故病如此）。</p>
<p>督脈者，起於少腹以下骨中央，女子入系廷孔（少腹乃胞宮之所居。骨中央者，橫骨下近外之中央也，廷，正也，直也。廷孔，溺孔也），其孔，溺孔之端也（女人溺孔在前陰中橫骨之下，孔之上際謂之端。乃督脈外起之所。雖言女子，然男子溺孔亦在橫骨下中央，第為宗筋所函，故不見耳）。其絡循陰器，合篡間，繞篡後（篡者，交篡之義，即前後二陰之間也），別繞臀，至少陰與巨陽中絡者合，少陰上股內後廉，貫脊屬腎（足少陰之脈，上股內後廉。足太陽之脈，外行者過髀樞，中行者挾脊貫臀，故此督脈之別，繞臀至少陰之分。與巨陽中絡者，合少陰之脈並行，而貫脊屬腎也）。與太陽起於目內眥，上額交巔，上入絡腦，還出別下項，循肩髆內，挾脊抵腰中，入循膂絡腎（此亦督脈之別絡，並足太陽經上頭下項，挾脊抵腰，復絡於腎。其直行者，自尻上脊下頭，由鼻而至人中也），其男子循莖下至篡，與女子等，其少腹直上者，貫臍中央，上貫心，入喉上頤還唇，上系兩目之下中央（此自小腹直上者，皆任脈之道，而此列為督脈，啟玄子引古經云：任脈循背謂之督脈。自少腹直上者，謂之任脈，亦謂之督脈）。此生病，從少腹上衝心而痛，不得前後，為沖疝（此督脈自臍上貫心，故為病如此。名為沖疝，實兼沖、任而為病也）；其女子不孕，癃痔、遺溺、嗌乾（女子諸症，雖由督脈所生，實亦任、沖之病。王氏曰：任脈者，女子得之以任養也。衝脈者，以其氣上衝也。督脈者，督領諸脈之海也，三脈皆由陰中而上，故其病如此）。督脈生病治督脈，治在骨上，甚者在齊下營（骨上，謂曲骨上毛際中。齊下營，謂臍下一寸陰交穴也，皆任脈之穴，而治督脈之病，正以脈雖有三，論治但言督脈，而不云任、沖，所用之穴亦以任為督，可見三脈同體，督即任、沖之綱領，任、沖即督之別名耳）。</p>
<p>《靈樞·脈度》篇曰：蹺脈者，少陰之別，起於然骨之後（蹺脈有二，曰陰蹺、曰陽蹺。少陰之別，腎經之別絡也。然谷之後，照海也。此但言陰蹺，未及陽蹺，惟《繆刺論》曰：邪客於足陽蹺之脈，刺外踝之下半寸所。蓋陽蹺為太陽之別，故《難經》曰：陽蹺脈起於跟中，循外踝上行入風池。陰蹺者，亦起於跟中，循內踝上行至咽喉，交貫衝脈。故陰蹺為足少陰之別，起於照海；陽蹺為足太陽之別，起於申脈，庶得其詳也），上內踝之上，直上循陰股入陰，上循胸裡入缺盆，上出人迎之前，入頄屬目內眥，合於太陽、陽蹺而上行，氣並相還則為濡目，氣不榮則目不合（自內踝直上，入陰循胸，皆並足少陰上行也。然足少陰之直者，循喉嚨而挾舌本，此則入缺盆，上出人迎之前，入頄屬目內眥，以合於足太陽之陽蹺。是蹺脈有陰陽之異也，陰蹺、陽蹺之氣並行回還而濡潤於目，若蹺氣不榮，則目不能合）。</p>
<p>按：陰維脈起於諸陰之交，其脈發於足少陰築賓穴，為陰維之郄，在內踝上五寸腨肉分中。上循股內廉，上行入少腹，會足太陰、厥陰、少陰、陽明於府舍，上會足太陰於大橫、腹哀，循脅肋會足厥陰於期門，上胸膈挾咽，與任脈會於天突、廉泉，上至前頂而終。</p>
<p>陽維脈起於諸陽之會，其脈發於足太陽金門穴，在足外踝下一寸五分，上外踝七寸，會足少陽於陽交，為陽維之郄。循膝外廉，上髀厭，抵小腹側，會足少陽於居髎，循脅肋，斜上肘，上會手陽明、足太陽於臂臑，過肩前，與手少陽會於臑會、天髎，卻會手足少陽、足陽明於肩井，入肩後，會手太陽、陽蹺於臑俞，上循耳後。會手足少陽於風池，上腦空、承靈、正營、目窗。臨泣，下額與手足少陽、陽明五脈會於陽白，循頭入耳，上至本神而止。</p>
<p>帶脈起於季脅足厥陰之章門穴，同足少陽循帶脈，圍身一周如束帶然，又與足少陽會於五樞、維道。</p>
<p>二蹺為病，苦癲癇寒熱，皮膚淫痹，少腹痛，裡急，腰及髖髎下相連陰中痛，男子陰疝，女子漏下。</p>
<p>二維為病，陰陽不能相維，則悵然失志，溶溶不能自收持。陽維為病苦寒熱，陰維為病苦心痛。陽維主表，陰維主裡。</p>
<p>帶脈為病，腹滿，腰溶溶如坐水中，婦人小腹痛，裡急後重，瘛瘲，月事不調，赤白帶下。</p>
<p>李瀕湖云：奇經八脈者，陰維也、陰維也、陰蹺也、陽蹺也、沖也、任也、督也，帶也。陽維起於諸陽之會，由外踝而上行於衛分。陰維起於諸陰之交，由內踝而上行於營分，所以為一身之綱維也。陽蹺起於跟中，維外踝上行於身之左右。陰蹺起於跟中，循內踝上行於身之左右，所以使機關之蹺捷也。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海。任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海。衝脈起於會陰，夾臍而行，直衝於上，為諸脈之衝要，故曰十二經之海。帶脈則橫圍於腰，狀如束帶，所以總約諸脈者也。是故陽維主一身之表，陰維主一身之裡，以乾坤言也。陽蹺主一身左右之陽，陰蹺主一身左右之陰，以東西言也。督主身後之陽，任、沖主身前之陰，以南北言也。帶脈橫束諸脈，以六合言也。是故醫而知乎八脈，則十二經十五絡之大旨得矣。</p>
<p>愚按：直行曰經，旁支曰絡。經有十二，手之三陰三陽、足之三陰三陽也。絡有十五者，十二經各有一別絡，而脾又有一大絡，並任、督二絡，為十五絡也。合計二十七氣，如泉之流不捨晝夜，陰脈營於五臟，陽脈營於六腑，終而復始，如環無端。其流溢之氣入於奇經，轉相灌溉，八脈無表裡配合，不成偶。故曰奇也。正經猶溝渠，奇經猶湖澤，譬之雨降溝盈，溢於湖澤也。臟腑者，經絡之本根。經絡者，臟腑之枝葉，諳於經絡，則陰陽表裡、氣血虛實瞭然於心目。初學者必先於是，神良者亦不外於是。第粗工昧之，詆其迂遠不切，智士察之，謂其應變無窮耳。</p>

<h2>二、治則</h2>
<p>《陰陽應象大論》曰：陰陽者，天地之道也，萬物之綱紀，變化之父母，生殺之本始，神明之府也，治病必求其本（此明天地萬物，變化生殺，總不出於陰陽，察乎此者可以當神明矣。故治病者萬緒紛然，必求於本，或本於陰，或本於陽，陰陽既得，病祟焉逃。芩連姜附，儘可回春，參朮硝黃，並能起死。此之未辨，畏攻畏補，憂熱憂寒，兩岐必至於誤生。廣絡遺譏於聖哲，本顧可弗求乎哉）。</p>
<p>《至真要大論》曰：謹守病機，各司其屬，有者求之，無者求之，盛者責之，虛者責之，必先五勝，疏其血氣，令其調達而致和平。此言病狀繁多，各宜細察，然總不外於虛實也。謹守者，防其變動也。病而曰機者，狀其所因之不齊，而治之不可不圓活也。屬者，有五臟之異、六腑之異、七情之異，六氣之異、貴賤之異、老少之異，稟畀有虛實之異，受病有標本之異，風氣有五方之異，運氣有勝復之異，情性有緩急之異，有嘗貴後賤之脫營，嘗富後貧之氣離守，各審其所屬而司其治也。有者求之二句，言一遇病症，便當審其所屬之有無也。盛者責之二句是一章之大綱，於各屬有無之間分別虛實而處治也。然至虛似實，大實似虛，此又不可不詳為之辨也。必先五勝者，如木欲實，金當平之之類是也。疏其血氣，非專以攻伐為事。或補之而血氣方行，或溫之而血氣方和，或清之而血氣方治，或通之而血氣方調，正須隨機應變，不得執一定之法，以應無窮之變也。此治虛實之大法，一部《內經》之關要也。</p>
<p>君一臣二，奇之制也，君二臣四，偶之制也；君二臣三，奇之制也；君二臣六，偶之制也（君者，品味少而分兩多。臣者，品味多而分兩少。奇制從陽，偶制從陰）。故曰：近者奇之，遠者偶之；汗者不以偶，下者不以奇（病在上者為近，屬陽，故用奇方，取其輕而緩也。病在下者為遠，屬陰，故用偶方，取其重而急也。汗者不以偶，陰沉不能達表也。下者不以奇，陽升不能降下也）；補上治上制以緩，補下治下制以急，急則氣味厚，緩則氣味薄。適其至所，此之謂也（上藥宜緩，欲其曲留上部；下藥宜急，欲其直達下焦。欲急者，須氣味之厚，欲緩者，須氣味之薄。緩急得宜，厚薄合度，則適其病至之所，何患劑之弗靈乎）。病所遠而中道氣味之者，食而過之，無越其制度也（病之所在遠，而藥則必由於胃，用之無法則未達病所，則中道先受其氣味矣。當於食為度，而使遠近適宜，是過之也，過，猶達也。欲其近者，藥在食後，則食載藥而留止於上，欲其遠者，藥在食前，則食墜藥而疾走於下。服藥有疾徐，根梢有升降，氣味有緩急，藥劑有湯丸膏散，各須合法，無越其度也）。是故平氣之道，近而奇偶，制小其服也。遠而奇偶，制大其服也。大則數少，小則數多，多則九之，少則二之（近病遠病，各有陰陽表裡之分，故遠方近方，各有奇偶相兼之法，或方奇而分兩偶，或方偶而分兩奇，此奇偶互用也。近而奇偶，制小其服，小則數多而盡於九。蓋數多則分兩輕，性力緩而僅及近病也。遠而奇偶，制大其服，大則數少，而止於二。蓋數少則分兩重，性力專而直達遠病也。是皆奇偶互用法之變也），奇之不去則偶之，是謂重方。偶之不去，則反佐以取之，所謂寒熱溫涼，反從其病也（此變通之法也。始用藥奇而病不去，變而為偶，奇偶迭用，是曰重方。重者，復也。若偶之而又不去，則當求其微甚真假，反佐以取之。反佐者，順其性也，如以熱治寒而寒拒熱，則反佐以寒而入之：以寒治熱而熱格寒，則反佐以熱而入之。又如寒藥熱服，熱藥冷服，皆變通之妙用也。王太僕曰：熱與寒背，寒與熱違，微小之熱為寒所折，微小之冷為熱所消，大寒大熱必能與違性者爭，與異氣者格，是以聖人反其佐以同其氣，令聲應氣求也）。</p>
<p>辛甘發散為陽，酸苦湧泄為陰，鹹味湧泄為陰，淡味滲泄為陽，六者或收或散，或緩或急，或燥或潤，或軟或堅，以所利而行之，調其氣使其平也（湧，吐也。泄，瀉也。滲泄，利小便也。辛主散主潤，甘主緩，酸主收主急，苦主燥主堅，咸主軟，淡主滲泄，各因其利而行之，氣可平矣）。</p>
<p>寒者熱之，熱者寒之，微者逆之，甚者從之（義見上），堅者削之，客者除之，勞者溫之，結者散之，留者攻之，燥者濡之，急者緩之，散者收之，損者益之，逸者行之，驚者平之，上之下之，摩之浴之，薄之劫之，開之發之，適事為故（溫之，甘溫能除大熱也，逸，即安逸也。飢飽勞逸皆能成病，過於逸則氣脈凝滯，故須行之。上者，吐也。摩者，按摩也。薄者，即薄兵城下之義。適事為故，猶雲中病為度，適可而止，毋太過以傷正，毋不及以留邪也）。</p>
<p>逆者正治，從者反治，從少從多，觀其事也（從少謂一從而二逆，從多為二從而一逆也。事即病也，觀其病之輕重，而為之多少也）。</p>
<p>熱因寒用，寒因熱用，塞因塞用，通因通用，必伏其所主，而先其所因，其始則同，其終則異，可使破積，可使潰堅，可使氣和，可使必已（寒病宜熱，然寒甚者格熱，須熱藥冷服。此熱因寒用也，熱病宜寒，然熱甚者格寒，須寒藥熱服，此寒因熱用也。塞因塞用者，如下氣虛乏，中焦氣壅，欲散滿則更虛其下，欲補下則滿甚於中，治不知本而先攻其滿，藥入或減，藥過依然，氣必更虛，病必轉甚，不知少服則壅滯，多服則宣通，峻補其下則下自實，中滿自除矣。通因通用者，或挾熱而利，或凝寒而泄，寒者以熱下之，熱者以寒下之，伏其所主，利病之本也。先其所因者，求病之由也。其始則同，言正治也。其終則異，言反治也，明於反治，何病不愈）。</p>
<p>諸寒之而熱者取之陰，熱之而寒者取之陽，所謂求其屬也（用寒藥治熱病，而熱反增，非火有餘，乃陰不足也，陰不足則火亢，故當取之陰，但補陰則陽自退耳。用熱藥治寒症，而寒反增，非寒有餘，乃陽不足也，陽不足則陰寒，故當取之陽，但補水中之火，則寒自消耳。求其屬者，求於本也。一水一火，皆於腎中求之，故王太僕曰：益火之源以消陰翳，壯水之主以制陽光，六味、八味二丸是也）。</p>
<p>夫五味入胃，各歸所喜攻，酸先入肝，苦先入心，甘先入脾：辛先入肺，咸先入腎。久而增氣，物化之常也，氣增而久，夭之由也（增氣者，助其氣也。如黃連之苦，本入心瀉火，多服黃連，反助心火。故五味各歸，久而增氣，氣增必夭折，可不慎歟）。</p>
<p>《陰陽應象大論》曰：因其輕而揚之，因其重而減之，因其衰而彰之（輕者在表，宜揚而散之。重者在內，宜減而瀉之。衰者不補，則幽潛沉冤矣，補則再生，故曰彰）。形不足者，溫之以氣：精不足者，補之以味（此彰之之法也。陽氣衰微則形不足，溫之以氣，則形漸復也。陰髓枯竭則精不足，補之以味，則精漸旺也）。其高者，因而越之（高者，病在上焦。越者，吐也，越於高者之上也），其下者，引而竭之（下者，病在下焦，竭者，下也，引其氣液就下也，通利二便皆是也。或云引者，蜜導、膽導之類。竭者，承氣、抵當之類），中滿者，瀉之於內（中滿，非氣虛中滿也，如脹滿而有水有積，傷寒而結胸便閉是也。內字與中字照應）。其有邪者，漬形以為汗（漬，浸也，如布桃枝以取汗，或煎湯液以熏蒸，或表清邪重，藥不能汗，或冬月天寒，發散無功，非漬形之法不能汗也）；其在皮者，汗而發之（邪在皮則淺矣，但分經汗之可也）；其慓悍者，按而收之（慓者，急也。悍者，猛也，怒氣傷肝之症也，按者，制伏酸收，如芍藥之類是也），其實者，散而瀉之（陰實者，以丁、薑、桂、附散其寒。陽實者，以芩、連、梔、柏瀉其火），審其陰陽，以別柔剛（審病之陰陽，施藥之柔剛），陽病治陰，陰病治陽（陽勝者陰傷，治其陰者，補水之主也；陰勝者陽傷，治其陽者，補水中之火也），定其血氣，各守其鄉（或血或氣，用治攸分，各不可紊也）。血實宜決之（導之下流，如決江河也），氣虛宜掣引之（提其上升，如手掣物也）。</p>
<p>《五常政大論》曰：病有久新，方有大小，有毒無毒，固宜常制矣（病久者，宜大劑；病新者，宜小劑。無毒者，宜多用；有毒者，宜少用）。大毒治病，十去其六，常毒治病，十去其七，小毒治病，十去其八，無毒治病，十去其九（藥不及則病不痊，藥太過則正乃傷，大毒治病。十去其六，便當止矣。毒輕則可任，無毒則可久任也），穀肉果菜，食養盡之，無使過之，傷其正也（病雖去而有未盡去者，當以飲食養正，而餘邪自盡。若藥餌太過，便傷正氣）。必先歲氣，毋伐天和（五運有紀，六氣有序，四時有令，陰陽有節，皆歲氣也。人氣應之以生長收藏，此天和也。於此未明，則犯歲氣、伐天和矣）。</p>
<p>《六元正紀大論》黃帝問曰：婦人重身，毒之何如？岐伯曰：有故無殞，亦無殞也（有孕曰重身。毒之。用毒藥也。故者，如下文大積大聚之故。有是故而用是藥，所謂有病則病當之，故孕婦不殞，胎亦不殞也）。</p>
<p>帝曰：願聞其故何謂也？岐伯曰：大積大聚，其可犯也，衰其大半而止（大積大聚，非毒藥不能攻，然但宜衰其大半，便當禁止，所謂大毒治病，十去其六者是也）。</p>
<p>愚按，論治之則，載由經籍，圓通之用，妙出吾心，如必按圖索驥，則後先易轍，未有不出者矣。子輿氏曰：梓匠輪輿，能與人以規矩，不能使人巧。故夫揆度陰陽，奇恆五中，決以明堂，審於終始，其亦巧於規矩者乎。</p>

<h2>三、病能</h2>
<p>《至真要大論》曰：諸風掉眩，皆屬於肝（諸風者，風病不一也。掉，搖動也。眩，昏花也。風木善動，肝家之症也，掉眩雖同，而虛實有別，不可不察焉）；諸寒收引，皆屬於腎（收，斂束也。引，牽急也。筋脈攣急本是肝症，而屬於腎者，一則以腎肝之症同一治，一則腎主寒水之化，腎虛則陽氣不充，營衛凝泣；肢體攣踡。所謂寒則筋急也），諸氣膹郁，皆屬於肺（膹者，喘急上逆。郁者，痞塞不通。肺主氣，氣有餘者，本經自伏之火；氣不足者，則火邪乘之。虛實之分，極易淆誤，所當精辨。近世庸者。概指為肺熱而攻其有餘，虛虛之禍，良可嗟悼）；諸濕腫滿，皆屬於脾（脾司濕化，又主肌肉，內受濕淫，肌體腫滿，故屬於脾，土氣太過，則濕邪盛行，其病驟至；法當分疏。土氣不及，則木乘水侮，其病漸成，法當培補，二者易治，比於操刃）；諸熱瞀瘛，皆屬於火（昏悶曰瞀，抽掣曰瘛，邪熱傷神則瞀，亢陽傷血則瘛，雖皆屬火，亦有虛實之分。丹溪曰；實火可瀉。岑連之屬；虛火可補，參耆之屬。仁人之言哉），諸痛癢瘡，皆屬於心（熱甚則瘡痛，熱微則瘡癢，心主熱火之化，故痛癢諸瘡，皆屬於心也），諸厥固泄，皆屬於下，（厥者，自下而逆上也，陰衰於下，則為熱厥，陽衰於下，則為寒厥。固者，二便不通也。陽虛則無氣，而清濁不化，寒也。火盛則水衰，而精液乾枯，熱也。泄者，二便不固也。命門火衰則陽虛失禁，寒也。腎宮水衰則火迫注泄，熱也。腎開竅於二陰，腎主二便，居下故也）；諸痿喘嘔，皆屬於上（痿廢應屬下部而屬於上者，何也？肺熱葉焦，發為痿躄。氣急曰喘，病在肺也。有聲無物曰嘔，肺胃司之，總屬在上之症）；諸禁鼓慄，如喪神守，皆屬於火（禁，即噤也，寒厥咬牙曰噤。鼓，鼓頷也。慄，戰慄也。寒戰而神不自持，如喪神守，皆火也。心火亢極，反兼勝己之化，此火實也，陽虛陰盛，氣不衛外而寒戰者，此火虛也）；諸痙項強，皆屬於濕（痙者，風濕而屈伸不利也。項屬足太陽寒水，水即濕也，故皆屬於濕）；諸逆衝上，皆屬於火（喘咳嘔吐，氣滿逆急。皆沖逆之症，火性炎上，故皆屬於火）；諸脹腹大，皆屬於熱（熱氣內淫，變為煩滿，故曰皆屬於熱。近世執此一句，因而誤人不可勝數，獨不聞經曰：歲水太過，腹大脛腫。歲火不及，脅滿腹大。流衍之紀，病脹。水鬱之發，善脹。太陽之勝，腹滿。陽明之復，腹脹。又曰：適寒涼者脹。又曰：藏寒生滿病。又曰，胃中寒則脹滿。此九者，皆言寒脹也。故東垣曰，大抵寒脹多，熱脹少，良有本矣），諸躁狂越，皆屬於火（躁者，煩躁也。狂者，妄亂也，越者，如登高而歌之類。火入於肺則煩。火入於腎則躁。又有陰盛發躁。成無己曰：陰躁欲坐井中，但欲飲水、不得入口。東垣曰，陰躁欲坐井中，陽已先亡，醫猶不悟，重以寒藥投之，其死何疑？故曰內熱而躁者，有邪之熱也，屬火，外熱而躁者，無根之火也，屬寒。經之論狂屢見，屬虛寒者凡四條，是狂亦有寒熱之辨矣）；諸暴強直，皆屬於風（暴，猝也。強者，筋強。直者，體直而不能屈伸也。肝主筋，其化風，故曰屬風，非天外入風也。內風多燥，若用風劑則益燥，故有治風先治血，血行風自滅之說也。輕與疏風則益燥，且腠理開張，反招風矣）；諸病有聲，鼓之如鼓，皆屬於熱（有聲，謂腸鳴也，鼓之如鼓，謂腹脹也，皆陽氣逆壅，故曰屬熱。二症多有屬於寒者，盡信不如無書，其是之謂耶）；諸病胕腫，疼酸驚駭，皆屬於火（胕腫者，浮腫也。疼酸者，火在經也。驚駭者，火在臟也。然胕腫痠疼，屬於寒濕者不少，驚駭不寧，屬於不足者常多也），諸轉反戾，水液渾濁，皆屬於火（轉筋攣踡，燥熱所致，小便渾濁，清化不及，故皆屬熱，然而寒則筋急，喻如冬月嚴寒，則角弓增勁。心腎不足，多有便濁。經云：中氣不足，溲便為之變。讀者蓋通之可耳）；諸病水液，澄澈清冷，皆屬於寒（澄澈清冷者，寒水之本體，故皆屬寒），諸嘔吐酸，暴注下迫，皆屬於熱（嘔逆者，火炎之象。吐酸者。肝木之實，暴注者，火性疾速，下迫者，火能燥物。此特道其常耳，虛寒之變，數症常作，不可不知也）。</p>
<p>按：經言十九條，道其常也。余每舉其反者，盡其變也，王太僕深明病機之變，其所註疏，真《內經》畫龍點睛手也。啟玄曰：如大寒而甚，熱之不熱，是無火也，當助其心。又如大熱而甚，寒之不寒，是無水也；熱動復止，倏忽往來，時動時止，是無水也，當助其腎。內格嘔逆，食不得入，是有火也。病嘔而吐，食入反出，是無火也。暴速注下，食不及化，是無水也。溏泄而久。止發無恆，是無水也。故心盛則熱，腎盛則寒，腎虛則寒動於中，心虛則熱收於內。又熱不得寒，是無水也，寒不得熱，是無火也，夫寒之不寒，責之無水，熱之不熱，責其無火。熱之不久，責心之虛，寒之不久，責腎之少。方有治熱以寒，寒之而火食不入，攻寒以熱，熱之而昏躁以生，此為氣不疏通，壅而為是也。余以太僕此語為岐黃傳神，常自誦憶，並勉同志。</p>
<p>《生氣通天論》曰：因於寒，欲如運樞，起居如驚，神氣乃浮（陽氣不固，四時之邪乃能幹之。經曰：冬三月，此謂閉藏。水冰地坼，無擾乎陽。又曰：冬日在骨，蟄蟲周密，君子居室。皆言冬令宜閉藏也。因者，病因也。因寒而動者，內而欲心妄動，如運樞之不停，外而起居不節。如驚氣之震動，則與天令相違，神氣不能內斂，皆浮越於外矣）：因於暑，汗，煩則喘喝，靜則多言（此言動而得之，為中熱之候也。炎蒸勞役。病屬於陽，故多汗而煩，氣高喘喝。即感之輕而靜者，亦精神內亂，言語無倫也），體若燔炭，汗出而散（此言靜而得之。為中暑之候也。納涼飲冷，病屬於陰，熱氣抑遏，體如燔炭，必得發汗，而陰鬱之氣始散也。香薷一味為夏月發汗之要藥，其性溫熱，止宜於中暑之人。若中熱者誤服之，反成大害，世所未知）；因於濕，首如裹，濕熱不攘，大筋軟短，小筋弛長；軟短為拘，弛長為痿（土旺四季之末，發無常期。首如裹者。濕傷則頭面壅重也。濕久成熱，須藥以攘奪之，苟為不奪，則熱傷陰血，筋無以榮，大筋拘而不伸，小筋弛而無力矣）；因於氣，為腫，四維相代，陽氣乃竭（肺金主氣，病因於氣者，秋令之邪也。腫者，氣化失宜，乃為腫脹也。四維者，四肢也。相代者，言足腫不能行，手代之以扶倚也，氣不能治，終歸於竭矣）。</p>
<p>陽氣者，煩勞則張，精絕，闢積於夏，使人煎厥（陽春主生髮之氣，此言春令之邪也。氣方生而煩勞太過，則氣張於外，精絕於內。春令邪辟之氣，積久不散，至夏未痊，則火旺而真陰如煎，火炎而虛氣逆上，故曰煎厥。按《脈解篇》曰肝氣失治，善怒者名曰煎厥。則此節指春令無疑。舊疏從未及之，豈非千慮一得）。</p>
<p>大怒則形氣絕；而血菀（菀，茂也，結也）於上，使人薄厥（怒氣傷肝，肝為血海，怒則氣上，氣逆則絕，所以血菀上焦，相迫曰薄，氣逆曰厥，氣血俱亂，故為薄厥。蓋積於上者，勢必厥而吐也。薄厥者，氣血之多而盛者也）。有傷於筋，縱，其若不容（怒傷而至於血厥，則筋無以榮，緩縱不收，若不能容矣）。汗出偏沮，使人偏枯（偏者，或左或右，止出半邊也。沮者。言此既偏出，彼即阻滯矣。久則衛氣不固，營氣失守，當為偏枯，即半身不遂也）。汗出見濕，乃生痤（音鋤）疿（音沸，汗出則玄府開張，若涼水浴之，即見濕矣。留於膚腠，甚者為痤，微者為痱。痤。小癤也。痱，暑疹也）。高粱之變，足生大疔，受如持虛（高粱，即肥甘也。變，病也。足，能也。厚味不節，蓄為灼熱，能生大疔。日積月累，感發最易，如持虛之器以受物也）。勞汗當風，寒薄為皶（音渣）。郁乃痤（形勞汗出，坐臥當風，寒氣薄之，液凝為皶，即粉刺也。若鬱而稍重，乃若小癤，其名曰痤）。</p>
<p>開闔不得，寒氣從之，乃生大僂（夏則腠理開而發泄，冬則腠理闔而閉藏，與時偕行也。若當開不開，當閉不閉，不得其宜，為寒所襲，留於筋絡之間，軟急不舒，形為俯僂矣）。陷脈為瘻，留連肉腠（陷脈者，寒氣自筋絡而陷入脈中也。瘻，鼠瘻之屬，邪久不散，則漸深矣）。俞氣化薄，傳為善畏，及為驚駭（寒氣漸深，自脈而流於經俞，侵及臟腑，故為恐畏驚駭也）。營氣不從，逆於肉理，乃生癰腫（營行脈中，邪氣陷脈，則營氣不從，故逆於肉而癰腫生焉）。魄汗未盡，形弱而氣爍，穴俞已閉，發為風瘧（肺主皮毛，汗之竅也，肺實藏魄，故名魄汗。汗出未透，則熱鬱於內，形氣俱爍，俞穴以閉，留止之邪必為風瘧矣）。</p>
<p>春傷於風，邪氣留連，乃為洞泄（春傷於風，則肝木侮土，故為洞泄），夏傷於暑，秋為痎瘧（夏傷於暑，伏而不發，秋氣收束，寒鬱為熱，故寒熱交爭而成痎瘧。痎者，瘧之通稱，非有別義）；秋傷於濕，上逆而咳，發為痿厥（土旺於四季之末，秋末亦可傷濕，秋氣通於肺，濕鬱成熱，上乘肺金，氣逆而咳，曰上逆者，濕從下受故也）；冬傷於寒，春必溫病（冬傷於寒，寒毒藏於陰分，至春始發。名為溫病，以時令得名也。春不發而至於夏，即名熱病矣）。</p>
<p>味過於酸，肝氣以津，脾氣乃絕（曲直作酸，肝之味也。過於食酸，久而增氣，木乘土位，脾氣乃絕）；味過於咸，大骨氣勞，短肌，心氣抑（咸為腎味，過食則傷腎，腎主骨，故大骨氣勞。咸走血，血傷故肌肉短縮，咸從水化，水勝則火囚，故心氣抑），味過於甘，心氣喘滿，色黑，腎氣不衡（甘歸土味，過食則緩滯上焦，故心氣喘滿。甘從土化，土勝則水病，故黑色見而腎氣不衡矣。衡，平也），味過於苦，脾氣不濡，胃氣乃厚（苦味太過，則心傷而脾失其養，且苦者性燥，故不濡也。《五味論》曰：苦入於胃，穀氣不能勝苦，苦入下脘，三焦之道閉而不通，故變嘔。可見苦寒損中，令脾之正氣不濡，胃之邪氣乃厚。厚者，脹滿之類也）；味過於辛，筋脈沮弛，精神乃央（味過於辛，則肺氣乘肝，肝主筋，故筋脈沮弛。辛味多散，則精耗神傷，故曰央。央當作殃）。</p>
<p>《陰陽別論》曰：二陽之病發心脾，有不得隱曲，女子不月（陽明為二陽，胃傷而心脾受病者，何也？脾與胃為夫妻，夫傷則妻亦不利也。心與胃為子母，子傷則母亦不免焉。不得隱曲，陽事病也，胃為水穀氣血之海，化營衛而潤宗筋。《厥論》曰：前陰者，宗筋之所聚，太陰，陽明之所合也。《痿論》曰：陰陽總宗筋之會，而陽明為之長。故胃病則陽事衰也。女子不月者，心主血，脾統血，胃為血氣之海，三經病而血閉矣），其傳為風消，其傳為息賁者，死不治（胃家受病，久而傳變，則肝木勝土，風淫而肌體消削，胃病則肺失所養，故氣息奔急。隱曲害者精傷，精傷則火亢乘金，元本敗而賊邪興，死不治矣）。</p>
<p>三陽為病發寒熱，下為癰腫，及為痿厥腨㾓，其傳為索澤，其傳為頹疝（太陽為三陽，屬表，故發寒熱與癰腫。足太陽之脈從頭下背，貫臀入膕，循腨抵足，故足膝無力而痿，逆冷而厥，足肚痠疼而為腨㾓。表有寒熱，則潤澤之氣必皆消索。頹疝者，小腹控引睪丸而痛也）。</p>
<p>一陽發病，少氣，善咳，善泄，其傳為心掣，其傳為隔（少陽為一陽，膽與三焦也。膽屬木，三焦屬火，壯火食氣，相火刑金，故少氣善咳。木旺則侮土，故善泄。三焦火動，則心掣而不寧。膽氣乘脾，則隔塞而不利）。二陽一陰發病，主驚駭、背痛、善噫、善欠，名曰風厥（二陽，胃與大腸也。一陰，肝與心主也，肝胃二經皆主驚駭，經曰：東方通於肝，其病發驚駭。又曰足陽明病，聞木音則惕然而驚是也。手陽明之筋皆挾脊，故背痛，噫，噯氣也，其主在心。經曰：上走心為噫者，陰盛而上走於陽明，陽明絡屬心也。欠雖主於腎，而經云足陽明病為數欠，則胃亦病欠也。肝主風，心包主火，風熱相搏，故病風厥）。二陰一陽發病，善脹、心滿、善氣（二陰，心與腎也。一陽，膽與三焦也。膽乘心則脹，腎乘心則滿，三焦病則上下不通，故善氣）。三陽三陰發病，為偏枯痿易，四肢不舉（三陽，膀胱。小腸也。三陰，脾、肺也，膀胱之脈自頭背下行兩足，小腸之脈自兩手上行肩胛，且脾主四肢，肺主氣，四經俱病，當為偏枯等症。易。變易也。強者，變而為痿也）。</p>
<p>所謂生陽、死陰者，肝之心謂之生陽（得陽則生，失陽則死，故曰生陽、死陰也，自肝傳心，以木生火，得之生氣，是謂生陽，不過四日而愈），心之肺謂之死陰（心傳肺者，為火剋金，故曰死陰，不過三日死），肺之腎謂之重陰（肺金腎水，雖曰子母相傳，而金水俱病，則重陰而陽絕矣）。腎之脾謂之闢陰，死不治（土本制水，而水反侮脾，是謂闢陰。闢者，放僻也）。</p>
<p>結陽者，腫四肢（陽，六陽也，四肢為諸陽之本，故云）；結陰者，便血一升，再結二升，三結三升（陰，六陰也。陰主血，邪結陰分，故當便血。病淺者，一升即愈。若不愈而再結，邪甚於前矣，故便血二升。更不愈為尤甚，故便血三升）。陰陽結斜，多陰少陽，曰石水，少腹腫（斜。當作邪。六陰六陽諸經皆能結聚水邪，若多在陰經，少在陽經，病生石水。沉堅在下，症則少腹腫也）；二陽結謂之消（胃與大腸經也，陽邪結於腸胃，則成三消之症，多飲而渴不止為上消，多食而飢不止為中消。多溲而膏濁不止為下消）；三陽結謂之隔（膀胱、小腸二經也。邪結膀胱，則氣化不行，津液阻絕。小腸居大腸之上、胃之下，盛水穀而分清濁者也。邪乘之則水液不前，糟粕不後，二者皆痞隔之象也），三陰結謂之水（脾肺二經也。脾土製水，土受邪則水反侮之，肺金生水，金氣病則水不能輸，故寒結三陰而水脹之症作矣）；一陰一陽結謂之喉痹（一陰，肝與心主也，一陽，膽與三焦也。肝膽屬木，心主三焦屬火，四經皆亢上，其脈並絡於喉，陽邪內結，痹症乃生。痹者，閉也）。</p>
<p>《靈樞·經脈》篇曰：［肺，手太陰也］是動則病肺脹滿膨膨而喘咳（動者，變也，變常而病也。肺脈起中焦，循胃上膈屬肺，故病如此），缺盆中痛，甚則交兩手而瞀，此謂臂厥（缺盆近肺，肺病則痛。瞀，麻木也。肺脈出腋下行肘臂，故臂厥）。是主肺所生病者，咳，上氣喘渴，煩心胸滿，臑臂內前廉痛厥，掌中熱（喘者，氣上而聲粗息急也。渴者，金令燥也。太陰之別，直入掌中。故為痛厥掌熱）。氣盛有餘，則肩背痛，風寒，汗出中風，小便數而欠（肺之筋結於肩背，故氣盛則痛。肺主皮毛，風寒在表，故汗出中風。母病傳子，故腎病而小便數且欠也）。氣虛則肩背痛寒，少氣不足以息，溺色變（肩背處上焦為陽分，氣虛則陽病，故為痛為寒為少氣。金衰則水涸，故溺色變為黃赤）。</p>
<p>［大腸，手陽明也］是動則病齒痛頸腫（陽明支脈從缺盆上頸貫頰，入下齒中）。是主津液所生病者（大腸或泄或閉，皆津液病也）。目黃口乾，鼽衄喉痹，肩前臑痛，大指次指痛不用（皆本經之脈所過，故如此）。氣有餘則當脈所過者熱腫，虛則寒慄不復（不復，不易溫也）。</p>
<p>［胃，足陽明也］是動則病洒洒振寒，善伸數欠，顏黑（振寒者，肝風勝也。伸者，胃之郁也。欠與顏黑，腎象也，土虛水侮，故腎之象見），病至則惡人與火，聞木音則惕然而驚，心欲動，獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走（陽明熱甚，則惡人與火。驚聞木音者，土畏木也。欲閉戶者，火動則畏光明也。上高而歌者，火性上越且陽盛，則四肢實也。棄衣而走者，中外皆熱也）。賁響腹脹，是為骭厥（賁響者，腹如雷鳴也。骭，足脛也。陽明之脈，自膝下脛，故脛骭厥逆）。是主血所生病者（陽明為受谷而多血之經），狂瘧溫淫汗出，鼽衄，口喎唇胗，頸腫喉痹（熱甚則狂，風甚則瘧，且汗出衄血、口喎唇瘡等症，皆本經經脈之所過也），大腹水腫，膝臏腫痛，循膺、乳、氣街、股、伏兔、骭外廉、足跗上皆痛，中指不用（陽明脈從缺盆下乳挾臍腹、前陰，由股下足，以入中指，故病狀如上）。氣盛則身以前皆熱，其有餘於胃，則消穀善飢，溺色黃（此陽明實熱，在經在臟之辨也）。氣不足則身以前寒慄，胃中寒則脹滿（此陽明虛寒在經在臟之辨也）。</p>
<p>［脾，足太陰也］是動則病舌本強，食則嘔（脈連舌本故強，脾虛不運故嘔），胃脘痛，腹脹善噫（脾脈入腹絡胃，故為痛為脹。陰盛而上走陽明，故氣滯為噫），得後與氣則快然如衰（後，大便也。氣，轉失氣也，氣通故快），身體皆重（脾主肌肉，脾主濕，濕傷則體重）。是主脾所生病者，舌本痛，體不能動搖，食不下，煩心，心下急痛，溏、瘕泄，水閉，黃疸，不能臥，強立股膝內腫厥，足大指不用（支者，上膈注心，故為煩心與痛。溏者，水泄也。瘕者，痢疾也。水閉者，土病不能治水也，水閉則濕熱壅而為疸，為不臥。脾脈起於足拇，以上膝股，腫與厥之所由生也）。</p>
<p>［心，手少陰也］是動則病嗌乾心痛，渴而欲飲，是為臂厥。是主心所生病者（支者，從心系上咽，故嗌乾心痛，火炎故渴，脈循臂內，故為臂厥），目黃脅痛，臑臂內後廉痛厥，掌中熱痛（脈系目系，故目黃。出腋下，故脅痛。循臂入掌，故有熱痛等症）。</p>
<p>［小腸，手太陽也］是動則病嗌痛頷腫，不可以顧，肩似拔，臑似折（經脈循咽下膈，支者循頸上頰，循臑繞肩，故為病如上）。是主液所生病者（小腸分水穀，故主液），耳聾目黃頰腫，頸頷肩臑肘臂外後廉痛（皆經脈所及也）。</p>
<p>［膀胱，足太陽也］是動則病沖頭痛（本經脈上額入腦，故邪氣衝而頭痛）。目似脫，項如拔，脊痛腰似折，髀不可以曲，膕如結，踹如裂，是為踝厥（皆經脈所及之病也）。是主筋所生病者（周身之筋，惟足太陽至多至大，故凡筋症，皆足太陽水虧也），痔瘧狂癲疾（脈入肛，故為痔。經屬表，故為瘧。邪入太陽，故為狂癲），頭囪項痛，目黃淚出鼽衄，項背腰尻膕踹腳皆痛，小指不用。（皆本經所過之症）。</p>
<p>［腎，足少陰也］是動則病飢不欲食（水中有火，為脾之母。真火不生土則脾虛，雖飢不能食矣），面如漆柴，咳唾則有血，喝喝而喘（腎之本色見者，精衰故也，吐血與喘，水虛而火刑金也）。坐而欲起，目䀮䀮如無所見（坐而欲起，陰虛則不能靜也，腎虛則瞳神昏眩，故無所見也），心如懸若飢狀（相火不寧，君主亦不自安也。如懸若飢，心腎不交也），氣不足則善恐，心惕惕如人將捕之，是為骨厥（腎志恐，故如捕也，腎主骨，故為骨厥）。是主腎所生病者，口熱舌乾，咽腫上氣，嗌乾及痛，煩心心痛（經脈之病也），黃疸腸澼（黃疸腸澼，咎由濕熱，水虛者多有之），脊股內後廉痛，痿厥嗜臥，足下熱而痛（皆經脈所及之病，精竭者神疲，故嗜臥，身半以下，腎所主也，故足痛）。</p>
<p>［心主，手厥陰心包絡也］是動則病手心熱，臂肘攣急，腋腫，甚則胸脅支滿，心中憺憺大動（皆經脈之所及），面赤目黃，喜笑不休（心之華在面，在聲為笑，故見症如此）。是主脈所生病者（心主血脈），煩心心痛，掌中熱（經脈病也）。</p>
<p>［三焦，手少陽也］是動則病耳聾，渾渾焞焞，嗌腫喉痹（經脈所過之病）。是主氣所生病者（三焦為水府，水病必由於氣），汗出，目銳眥痛，頰痛，耳後肩臑肘臂外皆痛，小指次指不用（三焦出氣，以溫肌肉，充皮膚，故為汗出諸病，皆經脈所過也）。</p>
<p>［膽，足少陽也］是動則病口苦，善太息（膽病汁溢，故口苦。膽鬱則太息），心脅痛不能轉側（別脈貫心循脅），甚則面微有塵，體無膏澤（別脈散於面，膽受金殘，則燥症見矣），足外反熱，是為陽厥（本經脈出外踝之前，故足外反熱，熱上逆，名陽厥）。是主骨所生病者（膽而主骨病者，乙癸同元也），頭痛頷痛，目銳眥痛，缺盆中腫痛，腋下腫，馬刀俠癭（馬刀，瘰癧也。俠癭，俠頸之瘤也），汗出振寒，瘧（少陽居三陽之中，半表半裡，故陽勝則汗出，風勝則振寒而為瘧也），胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛，小指次指不用（皆經脈所過之病）。</p>
<p>［肝，足厥陰也］是動則病腰痛不可以俯仰（支別者，與太陰、少陽之脈同結腰踝，故腰痛），丈夫㿉疝，婦人少腹腫（脈繞陰器，故控睪而痛為疝症。婦人少腹腫，亦疝也），甚則嗌乾，面塵脫色（脈循喉上額，支者從目系下頰，故其病如此）。是肝所生病者，胸滿嘔逆飧泄，狐疝遺溺閉癃（上行者挾胃貫膈，下行者過陰器，故為是諸病）。</p>
<p>《通評虛實論》曰：邪氣盛則實，精氣奪則虛（此二語為醫宗之綱領，萬世之準繩。其言若淺而易明，其旨實深而難究。夫邪氣者，風、寒、暑，濕，燥，火。精氣，即正氣，乃穀氣所化之精微。盛則實者，邪氣方張名為實症，三候有力名為實脈。實者瀉之，重則汗吐下，輕則清火降氣是也。奪則虛者，亡精失血，用力勞神，名為內奪；汗之下之，吐之清之，名為外奪。氣怯神疲名為虛症，三候無力名為虛脈。虛者補之，輕則溫補，重則熱補是也。無奈尚子和、丹溪之說者，輒曰瀉實，尚東垣、立齋之說者，輒曰補虛，各成偏執，鮮獲圓通，此皆賴病合法耳，豈所為法治病乎？精於法者，止辨虛實二字而已。其中大實大虛，小實小虛，似實似虛，更貴精詳。大虛者，補之宜峻宜溫，緩則無功也。大實者，攻之宜急宜猛，遲則生變也。小虛者，七分補而三分攻，開其一面也。小實者，七分攻而三分補，防其不測也。至於似虛似實，舉世淆訛，故曰至虛有盛候，反瀉含冤；大實有羸狀，誤補益疾，辨之不可不精，治之不可不審也，或攻邪而正始復，或養正而邪自除，千萬法門，只圖全其正氣耳。嗟乎？實而誤補，固必增邪，尚可解救，其禍猶小；虛而誤攻，真氣立盡，莫可挽回，其禍至大。生死關頭，良非渺小，司命者其慎之哉）。</p>
<p>《調經論》：帝曰：陽虛則外寒，陰虛則內熱，陽盛則外熱，陰盛則內寒……不知其所由然也，岐伯曰：陽受氣於上焦，以溫皮膚分肉之間，令寒氣在外，則上焦不通，上焦不通，則寒氣獨留於外，故寒慄（陽氣者，衛外而為固者也。陽虛則無氣以溫皮膚，命曰無火。上焦所以不通，獨有寒氣而已矣）。帝曰：陰虛生內熱奈何？岐伯曰：有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通，胃氣熱，熱氣熏胸中，故內熱（陰氣營於內者也。有所勞倦，則脾胃受傷。脾主肌肉，亦主運化，穀氣以生真氣，土衰則形肉與中氣俱衰，穀氣減少，脾虛下陷則上焦不行，下脘不通矣。脾陰不足則胃熱，肺居胸中，熱上熏肺則內熱也。此言勞倦傷脾，故見症如上。若色欲所傷，真水耗竭，火無所畏，亢而刑金，此之內熱，尤為難療）。帝曰：陽盛生外熱奈何？岐伯曰：上焦不通利，則皮膚緻密，腠理閉塞，玄府不通，衛氣不得泄越，故外熱（陽主在上，又主在表，故陽亢則上壅而表熱，此傷寒之候也）。帝曰：陰盛生內寒奈何？岐伯曰：厥氣上逆，寒氣積於胸中而不瀉，不瀉則溫氣去，寒獨留，則血凝泣，凝則脈不通，其脈盛大以澀，故中寒（寒氣入臟，則陽氣去矣。寒獨留者，如冬令嚴寒，萬物閉蟄之象，故脈不通而澀。此內傷之候也）。</p>
<p>《調經篇》云：因飲食勞倦，損傷脾胃，始受熱中，末傳寒中（始受者，病初起也。末傳者，久而不愈也。初起病時，元氣未虛，邪氣方實，實者多熱，及病之久，邪氣日退，正氣日虛，虛者多寒。古人立法，於始受熱中者，實則瀉其子。夫肺金為脾土之子而實主氣，氣有餘便是火，故凡破氣清火之劑皆所以瀉其子也，於末傳寒中者，虛則補其母。夫少火為脾土之母而實主運行三焦，熟腐五穀，故凡溫中益火之劑皆所以補其母也。每見近世不辨虛實，一遇脾病，如脹滿、如停滯，如作痛、如發熱之類，概以清火疏氣之藥投之，虛虛之禍可勝數哉）。</p>
<p>《玉機真藏論》曰：脈盛，皮熱，腹脹，前後不通，悶瞀，此謂五實（實者，邪氣實也。心受邪則脈盛，肺受邪則皮熱，脾受邪則腹脹，腎受邪則前後不通，肝受邪則悶瞀。肝脈貫膈，氣逆上也）；脈細，皮寒，氣少，泄利前後，飲食不入，此謂五虛（虛者，正氣虛也。心虛則脈細，肺虛則皮寒，肝虛則氣少，腎虛則泄利前後，脾虛則飲食不入。五實五虛，皆死候也）。</p>
<p>漿粥入胃，泄注止，則虛者活（治虛之法，先扶根本。漿粥入胃則脾土將復，泄注既止則腎水漸固，雖犯虛死，自可回生也），身汗得後利，則實者活（治實之法，汗下為要，身既得汗則表邪解，後既得利則里邪去，雖犯實死之條，邪退則活矣）。</p>
<p>《舉痛論》：帝曰：余知百病生於氣也，怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，熱則氣泄，驚則氣亂，勞則氣耗，思則氣結，九氣不同，何病之生？岐伯曰：怒則氣逆，甚則嘔血及飧泄，故氣上矣（肝木主春升之令，怒傷之，如雷奮九天，故氣逆也。血屬陰，主靜定而潤下，肝逆而上。且為血海，則陰血不得安其靜定之常，故嘔逆也。木旺侮脾，脾傷則不化谷而飧泄，是以氣逆而上也）。喜則氣和志達，榮衛通利，故氣緩矣（和達通利，若不為病矣。不知大喜則氣散而不收，緩慢不能攝持，故《本神》篇曰喜樂者神憚散而不藏是也）。悲則心系急，肺布葉舉，而上焦不通，榮衛不散，熱氣在中，故氣消矣（悲生於心，故心系急。並於肺則肺葉舉，不通不散則氣壅而為火，火主刑金，金主氣，故氣消也）。恐則精卻，卻則上焦閉，閉則氣還，還則下焦脹，故氣不行矣（恐傷腎則精卻，卻者，退而不能上輸也。上焦閉則失上升之路，還而下陷，夫氣以上升為行，下陷則不行矣）。寒則腠理閉，氣不行，故氣收矣（寒束其外，則腠理閉密，陽氣不舒，凍而收斂矣）。炅則腠理開，營衛通，汗大泄，故氣泄矣（炅者，熱也，如天行夏令，腠理開通，氣從汗散，故曰氣泄）。驚則心無所倚，神無所歸，慮無所定，故氣亂矣（卒然驚駭則神志飄蕩，動而不寧，主不明則天下亂，即氣亂之旨也）。勞則喘息汗出，外內皆越，故氣耗矣（用力太過，則疲勞而氣動，內則奔於肺而為喘，外則達於表而為汗，故曰外內皆越，而氣自耗矣）。思則心有所存，神有所歸，正氣留而不行，故氣結矣（思則志凝神聚，氣乃留而不散，故名為結）。</p>
<p>《風論》曰：風者，善行而數變，腠理開則灑然寒，閉則熱而悶（風屬陽而性動，故善行數變），其寒也則衰食飲，其熱也則消肌肉，故使人怢慄而不能食（寒則胃氣不能健運，故食衰。熱則津液潤澤，故消瘦。怢慄，即戰慄也）。</p>
<p>風氣與陽明入胃，循脈而上至目內眥，其人肥則風氣不得外泄，則為熱中而目黃；人瘦則外泄而寒，則為寒中而泣出（風氣入胃，胃脈上行目系，人肥則腠密而邪不得泄。故熱中而目黃。人瘦則腠疏而邪氣易泄，故寒中而泣出）。風氣與太陽俱入，行諸脈俞，散於分肉之間，與衛氣相干，其道不利，故使肌肉憤䐜而有瘍；衛氣有所凝而不行，故其肉有不仁也（五臟六腑之俞，皆附於背，故風由太陽經入者，邪必行諸脈俞而散於分肉。分肉者，衛氣之所行也，衛氣晝行於陽，自太陽始，風與衛相薄，故氣道澀而不利。風氣凝結，故憤䐜腫脹而為瘡瘍。衛氣因風時或不行，則痹而不仁也）。癘者，有營氣熱胕，其氣不清，故使鼻柱壞而色敗，皮膚瘍潰。風寒客於脈而不去，名曰癘風（風寒客於血脈，則營氣熱而胕潰。氣者，肺所治也，不清則金化不行，鼻與皮毛皆肺主之，故鼻柱壞，色敗者，皮毛槁也。《脈要精微論》曰脈風或為癘也。癘者，惡也）。</p>
<p>風中五臟六腑之俞，亦為臟腑之風，各入其門戶所中，則為偏風（風入於臟腑之俞，隨俞左右而偏中之，則為偏風，即偏枯也）。風氣循風府而上，則為腦風（風府，督脈穴名）。風入系頭，則為目風，眼寒（太陽之脈起於目內眥，故目風眼寒）。飲酒中風，則為漏風。（酒性溫散，善開玄府，故醉後易於中風。漏者，言汗漏而風客也）。入房汗出中風，則為內風（內耗其精，外開腠理，風乘虛犯，名為內風）。新沐中風，則為首風。久風入中，則為腸風、飧泄（風久而傳入腸胃。熱則腸風下血，寒則飧泄瀉利）。外在腠理，則為泄風（偶當汗泄，而風客於腠，名為泄風）。故風者風病之長也，至其變化，乃為他病也，無常方，然致有風氣也（長者，始也。《骨空論》曰風為百病之始，風之始入，自淺而深，至於變化，乃為他病，故為百病之長。無常方者，言風病變化，無常方體，而其致之者，則皆因於風耳）。</p>
<p>《評熱病論》曰：邪之所湊，其氣必虛（元氣充周，病無從入。氣虛則不能衛外而為固，玄府不閉，風邪因而客焉）。</p>
<p>《厥論》曰：陽氣衰於下，則為寒厥；陰氣衰於下，則為熱厥（厥音，逆也。下氣逆上，忽眩僕不知人事，輕者漸蘇，重則即死。陰陽之氣衰於下，則寒熱二厥由之而生也）。前陰者，宗筋之所聚，太陰、陽明之所合也（宗筋者，眾筋之所聚也，足之三陰、陽明、少陽及沖，任、督、蹺筋脈皆聚於此，獨言太陰、陽明之合，重水穀之臟也。胃為水穀之海，主潤宗筋，又陰陽總宗筋之會，會於氣街，而陽明為之長也）。春夏則陽氣多而陰氣少，秋冬則陰氣盛而陽氣衰。此人者質壯，以秋冬奪於所用，下氣上爭不能復，精氣溢下，邪氣因從之而上也（秋冬之令，天氣收藏，恃壯而喜內，則與令違，此奪於所用也。精竭於下，必上爭而求救於母氣，腎所去者太過，肺所生者不及，故不能復也。既已不足，精氣復下，則陽虛而陰邪勝之，故寒氣逆上也）；氣因於中（上則肺主氣，下則腎納氣，上下之氣皆因穀氣所化，水穀在胃，土居中州，故曰氣因於中）。陽氣衰，不能滲營其經絡，陽氣日損，陰氣獨在，故手足為之寒也（四肢皆稟氣於胃，胃中之陽氣衰，不能充滿其經絡，陽敗則陰勝，故手足寒也）。</p>
<p>酒入於胃，則絡脈滿而經脈虛（經脈在內深而不見，屬陰者也。絡脈在外浮而可見，屬陽者也。酒者，熟谷之液，其氣悍疾，為陽，故先充絡脈。酒熱傷陰，故陽脈滿而經脈虛也），脾主為胃行其津液者也，陰氣虛則陽氣入，陽氣入則胃不和，胃不和則精氣竭，精氣竭則不營其四肢也（胃受水穀，脾則行其津液，濕熱傷脾，則陰虛陽亢，胃乃不和，水穀之精氣竭矣，豈能營四肢乎）。此人必數醉若飽以入房，氣聚於脾中不得散，酒氣與穀氣相薄，熱盛於中，故熱遍於身，內熱而溺赤也。夫酒氣盛而慓悍，腎氣日衰，陽氣獨勝，故手足為之熱也（醉飽入房，脾腎交傷，陰日竭而陽日亢，故手足熱也。按：厥有寒熱，未有不本於酒色，故知慎飲食、遠房幃者，厥其免夫）。</p>
<p>《刺熱篇》曰：肝熱病者，左頰先赤；心熱病者。額先赤；脾熱病者，鼻先赤；肺熱病者，右頰先赤；腎熱病者，頤先赤（肝應東方；故左頰先赤；心應南方，故額庭先赤；脾應中央，故鼻先赤；肺應西方，故右頰先赤；腎應北方，故兩頤先赤）。</p>
<p>《熱論篇》帝曰：今夫熱病者，皆傷寒之類也。或愈或死，其死皆以六七日間，其愈皆以十日以上者何也（傷寒者，受冬月寒邪也。冬三月者為正傷寒，至春變為溫病，至夏變為熱病，不曰至秋變為涼病者，太陽寒水之邪，遇長夏之土而勝也）？岐伯對曰：巨陽者，諸陽之屬也（巨陽者，太陽也，太陽為六經之長，總攝諸陽），其脈連於風府，故為諸陽主氣也。人之傷於寒也，則為病熱，熱雖盛不死（寒鬱於內，皮膚閉而為熱，寒散即愈，故曰不死），其兩感於寒而病者，必不免於死（兩感者，一日太陽與少陰同病，在膀胱則頭痛，在腎則口乾煩滿；二日陽明與太陰同病，在胃則身熱讝語，在脾則肢滿不欲食，三日少陽與厥陰同病，在少陽則耳聾，在厥陰則囊滿。三日傳遍，再三日則死不待言矣）。</p>
<p>傷寒一日，巨陽受之，故頭項痛，腰脊強（太陽為三陽之表，而脈連風府，故傷寒多從太陽始。太陽經脈從頭項下肩，挾脊抵腰，故其病如此）；二日陽明受之，陽明主肉，其脈挾鼻絡於目，故身熱目疼而鼻乾，不得臥也（胃不和則臥不安是也）；三日少陽受之，少陽主膽，其脈循脅絡於耳，故胸脅痛而耳聾（邪傳少陽者，三陽已盡，將傳太陰，故為半表半裡，邪在陰則寒，在陽則熱，在半表半裡，故寒熱往來也）。三陽經絡皆受其病，而未入於臟者，故可汗而已（三陽為表，屬腑，故可汗而愈也。未入於臟者，深明入臟則不可輕汗也）。四日太陰受之，太陰脈布胃中絡於嗌，故腹滿而嗌乾（邪在三陽，失於汗解，則傳三陰，自太陰始也），五日少陰受之，少陰脈貫腎絡於肺，系舌本，故口燥舌乾而渴（腎本屬水，而熱邪耗之，故燥渴也）；六日厥陰受之，厥陰脈循陰器而絡於肝，故煩滿而囊縮（傳至厥陰而六經遍矣，邪熱已極，故為煩滿）。三陰三陽，五臟六腑皆受病，榮衛不行，五臟不通，則死矣（六經傳遍而邪不解，臟腑皆受病矣。氣血乏竭，營衛不行，則五臟之經脈不通，不死安待）。</p>
<p>其未滿三日者，可汗而已；其滿三日者，可泄而已（已者，愈也。未滿三日，其邪在表，發汗則病已。滿三日者，邪已傳裡，攻下則病已。此言大概也。日數雖多，脈浮而有三陽證者，當汗之。日數雖少，脈沉而有三陰證者，當下之，此至要之法也）。</p>
<p>《瘧論》：帝曰：夫痎瘧皆生於風，其蓄作有時者何也（凡秋瘧皆名痎，即其皆生於風，皆字知諸瘧之通稱也）？岐伯對曰：瘧之始發也，先起於毫毛，伸欠乃作，寒慄鼓頷，腰脊俱痛；寒去則內外皆熱，頭痛如破，渴欲冷飲。……陰陽上下交爭，虛實更作，陰陽相移也（陽主上行，陰主下行，邪乘之則爭矣。陽虛則外寒，陰虛則內熱，陽盛則外熱，陰盛則內寒。邪入於陰，則陰實陽虛，邪入於陽，則陽實陽虛，故曰更作，曰相移也）。陽並於陰，則陰實而陽虛，陽明虛則寒慄鼓頷也（陽明虛則陰虛而陰實，故寒慄也。脈循頤頰，故鼓頷也）；巨陽虛則腰背頭項痛；三陽俱虛則陰氣勝，陰氣勝則骨寒而痛（《終始》篇曰，病痛者，陰也，陰盛故頭痛，骨亦痛也），寒生於內，故中外皆寒；陽盛則外熱，陰虛則內熱，外內皆熱，則喘而渴，故欲冷飲也（邪在陽分，則內外皆熱。故喘渴而冷飲）。此皆得之夏傷於暑，熱氣盛，藏於皮膚之內，腸胃之外，此營氣之所舍也（夏暑汗泄，何病之有？或悽愴水寒，或乘風納涼，是熱大盛，不能發越，邪氣以營為舍矣）。此令人汗空疏，腠理開（此明風邪易客也），因得秋氣，汗出遇風，及得之以浴，水氣舍於皮膚之內，與衛氣並居（暑邪既伏，秋風收之，又因浴水而瘧作矣）。衛氣者，晝日行於陽，夜行於陰，此氣得陽而外出，得陰而內薄，內外相薄，是以日作（衛氣之行於身也，一日一周。邪氣與衛氣並居，與衛氣同行，故瘧亦一日一作，此衛受邪淺而易治也）。</p>
<p>其氣之舍深，內薄於陰，陽氣獨發，陰邪內著，陰與陽爭不得出，是以間日而作也（邪之所居者，深入於臟，是內薄於陰分矣。陽氣獨發者，衛陽之行猶故也，而邪之薄於陰者，遲而難出，故間日而作）。</p>
<p>邪氣客於風府，循膂而下（風府，督脈穴也。膂者，脊兩旁也。下者，下行至尾骶也），衛氣一日一夜大會於風府，其明日下一節，故其作也晏（衛氣之行也。每日一會於風府。若邪客風府必循膂而下，其氣漸深，則日下一節，自陽就陰，其會漸遲，故其作漸晏也）。</p>
<p>其出於風府，日下一節，二十五日下至骶骨，二十六日入於脊內，注於伏膂之脈（項骨三節，脊骨二十一節，共二十四節。邪自風府日下一節，故二十五日下至尾骶，復自後而前，二十六日入於脊內，注伏膂之脈），其氣上行，九日出於缺盆之中，其氣日高，故作日益早也（邪在伏膂，循脊而上，無關節之阻，故九日而出缺盆。其氣日高，則自陰就陽，其邪日退，故作漸早也）。</p>
<p>夫寒者陰氣也，風者陽氣也，先傷於寒而後傷於風，故先寒而後熱也，病以時作，名曰寒瘧。</p>
<p>先傷於風而後傷於寒，故先熱而後寒也，亦以時作，名曰溫瘧（時作者，或一日，或間日。不愆其期也）。其但熱而不寒者，陰氣先絕，陽氣獨發，則少氣煩冤，手足熱而欲嘔，名曰癉瘧。</p>
<p>邪氣與衛氣客於六腑，有時相失，不能相得，故休數日乃作也（此即三日瘧也，邪氣深重，病在三陰，邪氣不能與衛並出，故休數日乃發。數字當作三字）。</p>
<p>溫瘧者，得之冬中於風寒，氣藏於骨髓之中，至春則陽氣大發，邪氣不能自出，因遇大暑，腦髓爍，肌肉消，腠理發泄，或有所用力，邪氣與汗皆出，此病藏於腎，其氣先從內出之於外也（腎主冬令，其應在骨，故冬受風寒，邪伏骨髓，至春夏有觸而發，自內而達於外者也）。如是者，陰虛而陽盛，陽盛則熱矣，衰則氣復反入，入則陽虛，陽虛則寒矣，故先熱而後寒，名曰溫瘧（此冬受寒邪，至春發為溫瘧，即傷寒也。故《傷寒論》有溫瘧一症，蓋本諸此）。</p>
<p>癉瘧者，肺素有熱氣盛於身，厥逆上衝，中氣實而不外泄，因有所用力，腠理開，風寒舍於皮膚之內、分肉之間而發，發則陽氣盛，陽氣盛而不衰則病矣。其氣不及於陰，故但熱而不寒，氣內藏於心，而外舍於分肉之間，令人消爍脫肉，故命曰癉瘧（肺素有熱，氣藏於心，即此二語，火來乘金，陰虛陽亢，明是不足之症挾外邪而然，故溫瘧、癉瘧皆非真瘧也）。</p>
<p>《咳論》曰：皮毛者，肺之合也，皮毛先受邪氣，邪氣以從其合也。其寒飲食入胃，從肺脈上至於肺則肺寒，肺寒則內外合邪，因而客之，則為肺咳。五臟各以其時受病，非其時，各傳以與之。</p>
<p>人與天地相參，故五臟各以治時。感於寒則受病，微則為咳，甚則為泄為痛。乘秋則肺先受邪，乘春則肝先受之，乘夏則心先受之，乘至陰則脾先受之，乘冬則腎先受之（五臟六腑皆能成咳，然必肺先受邪而傳之於各經也。邪，寒邪也。所謂形寒飲冷則傷肺是也。五臟各以其時受病，輕者淺而在皮毛，重者深而在腸胃。故咳，外症也，泄，里症也。寒在表則身痛，寒在裡則腹痛，曰先受之者，次必及乎肺而為咳也）。</p>
<p>肺咳之狀，咳而喘息有音，甚則唾血（肺主氣而司呼吸，故喘息有音）。心咳之狀，咳則心痛，喉中介介如梗狀，甚則咽腫喉痹（心脈上挾於咽，故喉中如梗，至於痹則痛矣）。肝咳之狀，咳則兩脅下痛，甚則不可以轉，轉則兩胠下滿（肝之脈布脅肋，故脅下痛。胠，脅之下也）。脾咳之狀，咳則右胠下痛，陰陰引肩背，甚則不可以動，動則咳劇（脾脈上膈挾咽，其支者復從胃別上膈，脾處右，故右胠下痛，痛引肩背也。脾土喜靜，動則違其性，故增劇也）。腎咳之狀，咳則腰背相引而痛，甚則咳涎（腎脈貫脊，繫於腰背。故相引而痛。腎屬水，主涎，故為咳涎也）。</p>
<p>五臟之久咳，乃移於六腑。脾咳不已，則胃受之，胃咳之狀，咳而嘔，嘔甚則長蟲出（胃者，脾之妻也，故脾咳必傳於胃而為嘔唾。長蟲處於胃，嘔甚則隨氣而出也）。肝咳不已，則膽受之，膽咳之狀，咳嘔膽汁（膽汁者，苦汁也）。肺咳不已，則大腸受之，大腸咳狀，咳而遺矢（遺矢者，大便不禁也）。心咳不已，則小腸受之，小腸咳狀，咳而失氣，氣與咳俱失（大腸之氣由於小腸之化，故小腸咳則氣達於大腸，而轉失氣也）。腎咳不已，則膀胱受之，膀胱咳狀，咳而遺溺（膀胱為津液之府，故遺溺）。久咳不已，則三焦受之，三焦咳狀，咳而腹滿，不欲食飲（久咳，則上中下三焦俱病，一身之氣皆逆，故腹滿不能食飲也）。此皆聚於胃，關於肺，使人多涕唾而面浮腫氣逆也（聚於胃者，胃為五臟六腑之本也。關於肺者，肺為皮毛之合也。涕唾者，肺與胃司之。面浮腫者，氣上逆而急也）。</p>
<p>《經脈別論》曰：夜行則喘出於腎，淫氣病肺（夜屬於陰。行則勞其身半以下，且夜行多恐，故喘出於腎也。腎水傷，則無以禁火之炎，而肺金受賊矣）。有所墮恐，喘出於肝，淫氣害脾（墮而恐者，傷筋損血，故喘出於肝，肝木伐土，故害脾也）。有所驚恐，喘出於肺，淫氣傷心（且驚且恐，則氣衰而神亂。肺主氣，心藏神，故二臟受傷也）。度水跌僕，喘出於腎與骨（水氣通於腎，跌僕傷其骨，故喘出焉）。當是之時，勇者氣行則已，怯者著而為病也（勇者氣足神全，故一時所動之氣，旋即平復，不足之人隨所受而成病矣）。</p>
<p>《腹中論》曰：心腹滿，旦食則不能暮食……名為鼓脹（脹甚則腹皮繃急，中空無物，鼓之如鼓，故名鼓脹）……治之以雞矢醴，一劑知，二劑已（雞胃能消金石，其矢之性等於巴豆，通利二便，消積下氣。但宜於壯實之人，虛者服之，禍不旋踵。即經云一劑便知其效，二劑便已其病。亦狀其猛利也。用干羯雞矢一升，炒微焦，入無灰酒三碗，煎至減半，取清汁，五更熱飲即腹鳴，辰巳時行二三次，皆黑水也。飲一劑，覺足有皺紋，飲二次即愈矣）。</p>
<p>《靈樞·脹論》曰：夫心脹者，煩心短氣，臥不安；肺脹者，虛滿而喘咳；肝脹者，脅下滿而痛引小腹；脾脹者，善噦，四肢煩悗，體重不能勝衣、臥不安；腎脹者，腹滿引背央央然，腰髀痛（此五臟之脹也。悶亂曰悗，央央者，困苦之貌）。</p>
<p>胃脹者，腹滿，胃脘痛，鼻聞焦臭，妨於食，大便難；大腸脹者，腸鳴而痛濯濯，冬日重感於寒，則飧泄不化；小腸脹者，小腹䐜脹，引腰而痛：膀胱脹者，少腹滿而氣癃；三焦脹者，氣滿於皮膚中，輕輕然而不堅；膽脹者，脅下痛脹，口中苦，善太息（此六腑之脹也。濯濯，腸鳴水聲也。飧泄，完穀不化也。氣癃者，小便不利也）。</p>
<p>厥氣在下，營衛留止，寒氣逆上，真邪相攻，兩氣相搏，乃合為脹也（厥逆之氣自下而上，則營衛之行失其常度，真氣與邪氣相攻，合而為脹也）。</p>
<p>《靈樞·水脹》篇曰：目窠上微腫，如新臥起之狀（目之下為目窠，如新臥起者，形如臥蠶也），其頸脈動，時咳（頸脈。足陽明人迎也。陽明之脈自人迎下循腹裡，而水邪乘之，故為頸脈動，水之標在肺，故時咳），陰股間寒，足脛腫，腹乃大，其水已成矣。以手按其腹，隨手而起，如裹水之狀，此其候也（此上皆言水腫之候）。</p>
<p>膚脹者，寒氣客於皮膚之間，𪔣𪔣然不堅，腹大，身盡腫，皮厚（𪔣𪔣，鼓聲也。寒氣客於皮膚，陽氣不行，病在氣分，故有聲如鼓。氣本無形，故不堅。氣無所不至。故腹大、身盡腫而皮厚也），按其腹，窅而不起，腹色不變，此其候也（氣在膚間，按散者不能猝復，故窅而不起。皮厚，故腹色不變也）。</p>
<p>［鼓脹者］腹脹身皆大，大與膚脹等也，色蒼黃，腹筋起，此其候也（鼓脹、膚脹，大同小異，只色蒼黃、腹筋起為別耳）。</p>
<p>［夫腸覃者］寒氣客於腸外，與衛氣相搏，氣不得榮，因有所繫，癖而內著，惡氣乃起，瘜肉乃生（覃之為義，延布而深也。寒氣薄衛，滯而不行，留於腸外，故癖積起、瘜肉生也）。其始生也，大如雞卵，稍以益大，至其成如懷子之狀，久者離歲，按之則堅，推之則移，月事以時下，此其候也（離歲，越歲也。邪在腸外，不在胞中，故無妨於月事。皆由汁沫所聚，非血病可知也）。</p>
<p>石瘕生於胞中，寒氣客於子門，子門閉塞，氣不得通，惡血當瀉不瀉，衃（音不）以留止，日以益大，狀如懷子，月事不以時下，皆生於女子，可導而下（衃，敗血凝聚也。子門閉塞，衃血留止，其堅如石，故名石瘕。月事不以時下，無經可至也，可以導血之劑下之。按腸覃、石瘕皆言月事，則此二症惟女人有之，故曰皆生於女子也）。</p>
<p>《平人氣象論》曰：頸脈動，喘疾咳。曰水（頸脈，乃結喉旁動脈，足陽明之人迎也。水氣上逆，則侵犯陽明，故頸脈動。水溢於肺，則喘而咳）。目裹微腫，如臥蠶起之狀，曰水（目之下胞曰目裹，胃脈之所至，脾脈之所主。若微腫如臥蠶狀，是水氣犯脾胃也）。溺黃赤安臥者，黃疸（溺色黃赤而安臥自如，必成黃疸也）。已食如飢者，胃疸（胃熱善消穀，故雖食常飢，此名胃疸）。面腫曰風（風為陽邪，故曰高巔之上，惟風可到，此面腫所以屬風也）。足脛腫曰水（水為陰邪，潤下之品，故足腫，腫者為水也）。目黃者黃疸（諸經有熱皆上熏於目，故黃疸者目黃）。</p>
<p>《舉痛論》曰：經脈流行不止，環周不休，寒氣入經而稽遲，泣而不行，客於脈外則血少，客於脈中則氣不通，故卒然而痛（泣者，澀而不利也）。</p>
<p>寒氣客於脈外則脈寒，脈寒則縮踡，縮踡則脈絀急，絀急則外引小絡，故卒然而痛，得炅則痛立止（經脈受寒則縮，縮則急，故卒痛。然客於脈外者，其邪淺，故才得炅氣則立止也）。因重中於寒，則痛久矣（重者，重複受寒也。傷之深，故不易愈也）。寒氣客於經脈之中，與炅氣相薄則脈滿，滿則痛而不可按也。營行脈中，血不足者，脈中常熱，新寒與故熱相薄，則邪實而脈滿，按之則痛愈甚，故不可按也。……寒氣客於腸胃之間，膜原之下，血不得散，小絡急引故痛。按之則血氣散，故按之痛止（膜，脂膜與筋膜也。原者，肓之原，即腹中空隙之處。血凝則小絡急痛，按著空處，則寒散絡緩，故痛止。非若經脈之無罅隙者，按之愈痛也）。寒氣客於挾脊之脈則深，按之不能及，故按之無益也（挾脊者，足太陽經也。其最深者。則伏沖、伏膂之脈；故手按不能及其處也）。寒氣客於衝脈，衝脈起於關元，隨腹直上，寒氣客則脈不通，脈不通則氣因之，故喘動應手矣（衝脈起於胞中，即關元也，其脈並足少陰腎經夾臍上行，會於咽喉，而腎脈上連於肺，犯寒則脈不通，而氣因以逆，故喘。曰應手者，動之甚也）。寒氣客於背俞之脈脈泣，脈泣則血虛，血虛則痛，其俞注於心，故相引而痛。按之則熱氣至，熱氣至則痛止矣（背俞，五臟俞也，皆足太陽經穴。太陽之脈循膂當心，上出於項，故寒氣客之則脈泣血虛，背與心相引而痛，因其俞注於心也。血虛而痛，故按之而痛止）。寒氣客於厥陰之脈，厥陰之脈者，絡陰器，繫於肝，寒氣客於脈中，則血泣脈急，故脅肋與少腹相引痛矣（少腹，脅肋，皆肝之部分也）。厥氣客於陰股，寒氣上及少腹，血泣在下相引，故腹痛引陰股（厥氣，寒而上逆之氣也。陰股、少腹，乃足三陰。衝脈所由行也）。寒氣客於小腸膜原之間，絡血之中，血泣不得注於大經，血氣稽留不得行，故宿昔而成積矣（小腸為受盛之府，化物出焉，寒氣客於膜原及小絡，則血澀不得注於大經，化物失職，久而成積矣）。寒氣客於五臟，厥逆上泄，陰氣竭，陽氣未入，故卒然痛死不知人，氣復反則生矣（五臟皆受邪；厥逆而泄越於上，陰氣暴竭，陽氣未能遽入，故卒然痛死，或得炅，則氣復反而生矣），寒氣客於腸胃，厥逆上出，故痛而嘔也（胃為水穀之海，腸為水穀之道，皆主行下者也。寒邪傷之，則逆而上出，故痛而嘔）。寒氣客於小腸，小腸不得成聚，故後泄腹痛矣（小腸與丙火為表裡，成聚，即受盛之義也。則失其受盛之常，故泄而腹痛。）熱氣留於小腸，腸中痛，癉熱焦渴則堅干而不得出，故痛而閉不通矣（大抵營衛臟腑之間，得熱即行，遇冷即凝，故痛皆因於寒也。此一條獨言熱痛。卻由於便閉不通，故痛。仍非火之自為痛也，故曰通則不痛，痛則不通）。</p>
<p>《痹論》曰，風寒濕三氣雜至。合而為痹也（痹者，閉也，不仁也。六氣之中，風寒濕為陰邪。陰氣合病，則閉塞成冬之象。故血氣不流。經絡壅閉而痹斯作矣）。其風氣勝者為行痹（風屬陰中之陽，善行而數變，故為行痹。凡走注歷節疼痛之類，俗名流火是也），寒氣勝者為痛痹（陰寒之氣乘於肌肉筋骨，則凝泣稽留，閉而不通，故為痛痹，即痛風也）。濕氣勝者為著痹也（著痹者，重著不移，濕從土化，故病在肌肉，不在筋骨也）。</p>
<p>肺痹者，煩滿喘而嘔（肺在上焦，脈循胃口，故為煩滿，喘而且嘔）。心痹者，脈不通，煩則心下鼓，暴上氣而喘，嗌乾善噫，厥氣上則恐（脈者，心之合也，心受病則脈不通，心脈支者上挾咽，直者卻上肺，故其病如此，厥逆則水邪侮火，故神傷而恐。恐者，腎志也）肝痹者，夜臥則驚，多飲數小便，上為引如懷（肝受邪則魂不安寧，故夜臥多驚，閉而為熱，故多飲數小便也。上為引者，引飲也。如懷者，腹大如懷物也。木邪侮土，故為病如此）。腎痹者，善脹，尻以代踵，脊以代頭（腎者胃之關，腎痹則邪並及胃，故腹善脹，尻以代踵者，足不能伸也。脊以代頭者，身僂不能直也）。脾痹者，四肢解惰，發咳嘔汁，上為大塞（脾主四肢，又主困倦，故為解惰，土傷則金亦傷，故咳，妻病故夫亦病，故嘔。坤已不升，乾金不降，大塞之象也）。腸痹者，數飲而出不得，中氣喘爭，時發飧泄（腸痹則下焦之氣閉而不行，故數飲而溺不得出，氣化不及州都，返而上逆，故喘爭也。小便不利，則水液混於大腸，故飧泄也）。胞痹者，少腹膀胱按之內痛，若沃以湯，澀於小便，上為清涕（胞，溺之脬也。膀胱氣閉則水液壅滿，故按之內痛也，氣閉則熱如湯之沃也。膀胱之脈從巔絡腦，故小便下澀，清涕上出也）。</p>
<p>痛者，寒氣多也，有寒故痛也（寒則血氣凝泣，故痛。《終始》篇曰：病痛者，陰也）。……病久入深，營衛之行澀，經絡時疏，故不痛（此言病則營衛澀而必痛，其不痛者經絡有疏散之時，則不澀，故不痛也）。皮膚不營，故為不仁（皮膚之間，無血以和之，故不仁也）。……陽氣少，陰氣多，與病相益，故寒也（痹病本屬陰寒，若陽氣不足之人，則寒從內起，與外病相助益，故寒也）。……陽氣多，陰氣少，病氣勝，陽遭陰，故為痹熱（其人陽氣素盛，而遭陰寒之氣，病氣反為陽氣勝矣，故為熱痹）。其多汗而濡者，此其逢濕甚也，陽氣少，陰氣盛，兩氣相感，故汗出而濡也（兩氣者，身中之氣與外客之氣。兩氣皆陰，互相感召，故汗出。《脈要精微論》曰陰氣有餘為多汗身寒是也）。</p>
<p>凡痹之類，逢寒則急，逢熱則縱（寒則筋攣，故急。熱則筋弛，故縱）。</p>
<p>《痿論》曰：肺熱葉焦，則皮毛虛弱急薄，著則生痿躄也（火來乘金，在內為肺葉焦枯，在外為皮毛虛薄。熱氣著而不去，則為痿躄，躄者，足不能行也）。心氣熱，則下脈厥而上，上則下脈虛，虛則生脈痿，樞折挈，脛縱而不任地也（心火上炎，則三陰在下之脈亦厥逆而上，上盛則下虛，乃生脈痿。四肢關節之處如樞紐之折，而不能提挈。足腫縱緩而不能任地也）。肝氣熱，則膽泄口苦，筋膜乾，筋膜乾則筋急而攣，發為筋痿（肝熱則膽亦熱，故汁溢而口苦。血海乾枯，筋無以榮，則攣急而痿）。脾氣熱，則胃干而渴，肌肉不仁，發為肉痿（脾與胃為夫妻，而開竅於口，故脾熱則胃干而渴，脾主肌肉，熱淫於內，則脾陰耗損，故肉不仁而為痿）。腎氣熱，則腰脊不舉，骨枯而髓減，發為骨痿（腰者腎之府，脊者腎之所貫也，腎主骨。故骨枯為痿）。</p>
<p>肺者，臟之長也，為心之蓋也（肺位至高，故謂之長。覆於心上，故謂之蓋），有所失亡，所求不得，則發肺鳴，鳴則肺熱葉焦（有志不遂，則鬱而生火。火來乘金，不得其平則自鳴，肺鳴者，其葉必焦）。</p>
<p>大經空虛，發為肌痹，傳為脈痿（血不足則大經空虛，無以充養肌肉，故先為肌痹，而後傳於心為脈痿也）。思想無窮，所願不得，意淫於外，入房太甚，宗筋弛縱，發為筋痿，及為白淫（思而不得，則意淫於外，入房太過，則精傷於內，陰傷而筋失所養，故為縱為痿。火動於中，水虧於下，乃為白淫，白淫者，男濁女帶也）。</p>
<p>有漸於濕，以水為事，若有所留，居處相濕，肌肉濡漬，痹而不仁，發為肉痿（漸，染也。以水為事，常近水也，久於水則有所留矣。居處之地又當卑濕，則肌肉受濕而濡漬，故頑痹而成肉痿也）。</p>
<p>有所遠行勞倦，逢大熱而渴，渴則陽氣內伐，內伐則熱舍於腎，腎者水臟也，今水不勝火，則骨枯而髓虛，故足不任身，發為骨痿（遠行勞倦則所傷在骨，逢大熱者，或逢天令之熱，或陰不足而本熱。火則氣太過，水液必耗，故骨枯髓虛而為痿也）。</p>
<p>治痿者獨取陽明，何也？陽明者，五臟六腑之海，主潤宗筋，宗筋主束骨而利機關也（足陽明胃主納水穀，變化氣血。以充一身，故為五臟六腑之海而下潤宗筋。宗筋者，前陰所聚之筋，為諸筋之會，一身之筋皆屬於此，故主束骨而利機關）。衝脈者，經脈之海也，主滲灌溪谷，與陽明合於宗筋（衝脈為十二經之血海，故主滲灌溪谷，衝脈起於氣街，並少陰之經夾臍上行，陽明脈亦夾臍旁下行，故皆合於宗筋。）陰陽總宗筋之會，會於氣街，而陽明為之長，皆屬於帶脈，而絡於督脈（宗筋聚於前陰，前陰者，足之三陰及陽明、少陽、沖、任、督、蹺九脈之所會也。九脈之中，惟陽明為臟腑之海，衝脈為經脈之海，此一陰一陽總之，故曰陰陽總宗筋之會。會於氣街者，氣街為陽明之正脈，故陽明獨為之長。帶脈起於季脅，圍周一身。督脈起於會陰，分三歧為任、沖而上行腹背，故諸經皆聯屬於帶脈，支絡於督脈也）。故陽明虛則宗筋縱，帶脈不引，故足痿不用也。</p>
<p>《逆調論》曰：不得臥而息有音者，是陽明之逆也，足三陽者下行，今逆而上行，故息有音也（足之三陽，其氣皆下行；足之三陰，其氣皆上行。此天氣下降，地氣上升之義，故陽明以上行為逆，逆則沖肺，故息有音也）。陽明者胃脈也，胃者六腑之海，其氣亦下行，陽明逆不得從其道，故不得臥也。……胃不和則臥不安，此之謂也（凡人之寤寐由於衛氣，衛氣者晝日行於陽，則動而為寤，夜行於陰，則靜而為寐。胃氣逆上，則衛氣不得入於陰，故不得臥）。</p>
<p>《靈樞·邪客》篇曰：厥氣客於五臟六腑，則衛氣獨衛其外，行於陽，不得入於陰。行於陽則陽氣盛，陽氣盛則陽蹺陷；不得入於陰，陰虛，故目不瞑。……調其虛實，以通其道而去其邪，飲以半夏湯一劑，陰陽已通，其臥立至（不臥之病，有心血不足者，法當養陰；有邪氣逆上者，法當祛邪。半夏湯者，去邪之法也）。</p>
<p>以流水千里以外者八升，揚之萬遍，取其清五升煮之，炊以葦薪（千里流水，取其流長源遠，有疏通下達之義也。揚之萬遍，令水珠盈溢，為甘瀾水，可以調和陰陽。炊以葦薪者，取其火烈也），火沸，置秫米一升，治半夏五合，徐炊，令竭為一升半（火沸，言未投藥而水先沸也。秫米，糯小米也，北人呼為小黃米，味甘性平，能養胃和中，用以為君。治半夏，猶言制過半夏也，味辛性溫，能下氣化痰，用以為臣）。去其滓，飲汁一小杯，日三稍益，以知為度（知者，病愈也）。故其病新發者，覆杯則臥，汗出則已矣。久者，三飲而已也。</p>
<p>《方盛衰論》曰：肺氣虛則使人夢見白物，見人斬血籍籍，得其時則夢見兵戰（金色本白，故夢白物，斬者，金之用也。虛者多畏怯，故見斬血籍籍也。得其時者，得金旺之時也）。腎氣虛則使人夢見舟船溺人，得其時則夢伏水中，若有畏恐（腎屬水，故夢應之，得水旺之時，夢水益大也，恐，腎之志也）。肝氣虛則夢見菌香生草，得其時則夢伏樹下不敢起（肝之應在木，雖當木旺之時，亦夢伏樹下也）。心氣虛則夢救火陽物，得其時則夢燔灼（心合火，陽物即火之屬也。得火旺之令，夢火益大也）。脾氣虛則夢飲食不足。得其時則夢築垣蓋屋（倉廩空虛，故思飲食，得土旺之令，則夢高土也）。</p>
<p>《靈樞·淫邪發夢》篇曰：陰氣盛則夢涉大水而恐懼，陽氣盛則夢大火而燔焫，陰陽俱盛則夢相殺（俱盛則爭）。上盛則夢飛，下盛則夢墮（本乎天者親上，本乎地者親下），甚飢則夢取，甚飽則夢予。肝氣盛則夢怒，肺氣盛則夢恐懼、哭泣、飛揚（肺主氣，故夢飛揚），心氣盛則夢善笑恐畏，脾氣盛則夢歌樂、身體重不舉，腎氣盛則夢腰脊兩解不屬。</p>
<p>厥氣客於心，則夢見丘山煙火。客於肺，則夢飛揚，見金鐵之奇物。客於肝，則夢山林樹木。客於脾，則夢見丘陵大澤，壞屋風雨。客於腎，則夢臨淵，沒居水中。客於膀胱，則夢遊行。客於胃，則夢飲食。客於大腸，則夢田野（大腸曲折納汙，類田野也）。客於小腸，則夢聚邑沖衢（小腸為受盛之官，類沖衢也）。客於膽，則夢鬥訟自刳（膽性剛猛。自刳者，自剖其腹也）。客於陰器，則夢接內。客於項，則夢斬首。客於脛，則夢行走而不能前，及居深地窌苑中。客於股肱，則夢禮節拜起。客於胞䐈，則夢溲便（胞，即脬也，䐈，大腸也。在前則夢溲，在後則夢便）。</p>
<p>《脈要精微論》曰：短蟲多則夢聚眾，長蟲多則夢相擊毀傷。</p>
<p>《靈樞·癰疽》篇曰：夫血脈營衛，周流不休，上應星宿，下應經數。寒邪客於經絡之中則血泣，血泣則不通，不通則衛氣歸之，不得復反，故癰腫。寒氣化為熱，熱勝則腐肉，肉腐則為膿，膿不瀉則爛筋，筋爛則傷骨，骨傷則髓消，不當骨空，不得泄瀉，血枯空虛，則筋骨肌肉不榮，經脈敗漏，熏於五臟，臟傷故死矣（始受寒邪，血脈凝泣，久而不去，寒化為熱，癰疽乃成。傷於臟者，死不治）。</p>
<p>癰發於嗌中，名曰猛疽，猛疽不治，化為膿，膿不瀉，塞咽半日死。其化為膿者，瀉則合豕膏，冷食，三日而已（猛疽，言其凶惡猛厲也。若膿已瀉潰，當服豕膏，即豬脂之煉淨者也，萬氏方：治肺熱暴喑，用豬脂一斤，去筋，入白蜜一斤，再煉少頃，濾淨，冷定，不時挑服一匙，即愈）。發於頸，名曰夭疽，其癰大以赤黑，不急治，則熱氣下入淵腋，前傷任脈，內熏肝肺，十餘日而死矣（夭疽者，在天柱也，俗名對口。赤者，心之色，黑者，熱極反兼勝己之化也。急須治之可活，若治之稍遲或治之失宜，則毒流肺肝而死矣）。陽氣大發，消腦留項，名曰腦爍。其色不樂，項痛而如刺以針，煩心者死不可治（陽大發者，毒太甚也。色不樂者，神傷而色變，即所謂色夭也。毒深，故痛如針刺。邪犯心君，故煩心而死）。發於肩及臑，名曰疵癰，其狀赤黑，急治之，此令人汗出至足，不害五臟，癰發四五日逞焫之（肩膊下軟白肉曰臑。此肺脈之病，肺主玄府，故遍身得汗也。毒從汗減，且非要害之所，故不害五臟也。逞者，急也。焫者，艾炷也，言宜急灸也）。發於腋下赤堅者，名曰米疽，治之以砭石，欲細而長，疏砭之，塗以豕膏，六日已，勿裹之（砭石欲細者，恐傷肉也，欲長者，用在深也，故宜疏不宜密。勿裹之者，欲其氣疏泄也。豕膏者，即豬油煎當歸，以蠟收者也）。其癰堅而不潰者，為馬刀挾纓，急治之（挾當作俠，纓當作癭。馬刀者，瘰癧也。俠癭者，俠頸之瘤屬也）。發於胸，名曰井疽，其狀如大豆，三四日起，不早治，下入腹，不治，七日死矣（井者，喻其深而惡也，發於胸者，近犯心主，治之宜早，下入腹，則五臟俱敗，死期速矣）。發於膺。名曰甘疽，色青，其狀如榖實𦸈藪，常苦寒熱，急治之，去其寒熱，十歲死，死後出膿（膺在胸旁高肉處，逼近在乳上也。穴名膺窗，足陽明胃之脈也。土味甘，故曰甘疽，色青者，肝木剋土也。層房累累，狀如榖實瓜蔞，軟而不潰，中有所蓄如瓜子也。十歲死者，綿延難愈也）。發於脅，名曰敗疵。敗疵者女子之病也，灸之，其病大癰膿，治之，其中乃有生肉，大如赤小豆。銼䔖、𧄍草根各一升，以水一斗六升煮之，竭為取三升，則強飲厚衣，坐於釜上，令汗出至足已（脅者，肝之部也,婦人多鬱怒，故患此瘡。䔖，芰也。𧄍，連翹也。二草之根俱能解毒，強飲者乘其熱而強飲之，復厚衣坐於熱湯之釜，熏蒸取汗，汗出至足乃透，已者，愈也）。發於股脛，名曰股脛疽。其狀不甚變，而癰膿搏骨，不急治，三十日死矣（股脛，大股也。狀不甚變，外形不顯也。癰膿搏骨，即所謂貼骨癰也。毒盛而深，能下蝕三陰，陽明之大經，故不為急治。法當三十日死矣）。發於尻，名曰銳疽，其狀赤堅大，急治之，不治，三十日死矣（尻，尾骶骨也。穴名長強，為督脈之絡，一名氣之陰郄，故不治則死）。發於股陰。名曰赤施，不急治，六十日死。在兩股之內，不治，十日而當死（股陰，大股內側也，當足太陰箕門、血海及足厥陰五里、陰包之間，皆陰氣所聚之處，故不治則死，若兩股俱病，則傷陰之極，其死尤速，赤施者，想其當血海，故名）。發於膝，名曰疵癰，其狀大癰，色不變，寒熱，如堅石，勿石之，石之者死，須其柔，乃石之者生（石之者，砭也。色不變者，不紅赤也。硬者禁用砭，軟者方可用砭也）。諸癰之發於節而相應者，不可治也。發於陽者百日死，發於陰者三十日死（諸節者，神氣所遊行出入也。相應者，發於上而應於下，發於左而應於右，法在不治。發於三陽之分，毒淺在腑，其死緩，發於三陰之分者，毒深在臟，不出一月也）。發於脛，名曰兔齧。其狀赤至骨，急治之，不治害人也（脛，足脛也，兔齧，如兔所齧傷也，為其在下，高低等於兔也）。發於內踝，名曰走緩，其狀癰也，色不變，數石其輸，而止其寒熱，不死（數石者，屢屢砭之也。其輸，即腫處也）。發於足上下，名曰四淫，其狀大癰，急治之，百日死（陽受氣於四末，而大癰淫於其間，陽毒之甚也，時氣更易則真陰日敗，逾三月而死矣）。發於足旁，名曰厲癰，其狀不大，初如小指發，急治之去其黑者，不消輒益，不治，百日死（去其黑者而猶不消，反益大焉，則百日必死矣）。發於足指，名曰脫癰，其狀赤黑，死不治；不赤黑，不死。不衰，急斬之，不則死矣（六經原腧皆在於足，所以癰發於足者，多為凶候。至於足指又皆六井所出，色赤黑者，其毒尤甚。若不衰退，急斬去其指，庶可保生。若稍緩，毒發傷臟而死）。</p>
<p>營衛稽留於經脈之中，則血泣而不行，不行則衛氣從之而不通，壅遏而不得行，故熱。大熱不止，熱勝則肉腐，肉腐則為膿。然不能陷，骨髓不為焦枯，五臟不為傷，故命曰癰。……熱氣淳盛，下陷肌膚，筋髓枯，內連五臟，血氣竭，當其癰下，筋骨良肉皆無餘，故命曰癰（癰字從壅，疽字從阻，總是氣血稽留，營衛不通之症。大而淺者為癰，六腑受傷，可無大患；深而惡者為疽，五臟受傷，大可憂畏，治之者顧可緩乎，顧可忽乎）。疽者，上之皮夭以堅，上如牛領之皮。癰者，其皮上薄以澤（夭者，色枯暗也。牛皮，喻其厚也。澤者，光亮也）。</p>
<p>《靈樞·玉版》篇曰：白眼青黑，眼小，是一逆也。內藥而嘔者，是二逆也。腹痛渴甚，是三逆也。肩項中不便，是四逆也。音嘶色脫，是五逆也。</p>
<p>《靈樞·寒熱病》篇曰：身有五部：伏兔一，腓二，背三，五臟之腧四，項五。此五部有癰疽者死（伏兔者，胃之穴名，在膝上六寸，陰市上五寸。腓者。足肚也，即踹也。腎之脈上踹內之築賓穴。背者，五臟之所繫也。腧者。五臟之所主也。項者。諸陽之要道也。犯此五者亦名五逆）。</p>
<p>《靈樞·玉版》篇曰：腹脹，身熱，脈大，是一逆也（身熱脈大而又腹脹，表裡之邪俱盛也），腹鳴而滿，四肢清，泄，其脈大，是二逆也（腹滿而清、泄，陰症也，脈大者，是脈與症反也）；衄而不止，脈大，是三逆也（鼻衄在陰，脈大為陽，陽實陰虛，死不治）；咳且溲血脫形，其脈小勁，是四逆也（咳而溲血脫形，正氣傷也。脈雖小而勁，邪仍在也）；咳，脫形身熱，脈小以疾，是謂五逆也（脫形，真氣已衰。身熱，邪氣未化。細小疾數，氣血兩敗之診也）。如是者，不過十五日而死矣（十五日交一節，言不能逾節也）。</p>
<p>其腹大脹，四末清，脫形，泄甚，是一逆也（腹大脹者，邪正甚也。四肢冷而脫形泄甚，脾已絕矣），腹脹便血，其脈大時絕，是二逆也（腹脹便血，陰脫也。脈大時絕；陽脫也）；咳，溲血，形肉脫，脈搏，是三逆也（咳而溲者，氣血俱損。形肉脫者，脾已絕。脈搏者，真臟見矣），嘔血，胸滿引背，脈小而疾，是四逆也（嘔血而至胸滿背曲。病已極矣。脈小屬氣敗，脈疾屬血敗），咳嘔腹脹且飧泄，其脈絕，是五逆也（上為咳嘔，中為脹滿，下為飧泄；三焦俱病，六脈已絕）。如是者，不及一時而死（不及一時者，不能周一日之時也）。</p>
<p>《標本病傳論》曰：夫病傳者，心病先心痛（病在心者先心痛），一日而咳（心病傳肺，火剋金也），三日脅支痛（肺復傳肝，金剋木也，故脅支痛），五日閉塞不通，身痛體重（肝傳脾，木剋土也，脾病則閉塞不通。脾主肌肉，故身體重痛），三日不已，死（再三日不已，則脾又傳腎，土剋水也，五臟俱傷故死），冬夜半，夏日中（冬月夜半，水旺之極也。夏月日中，火旺之極也。火畏水，故冬則死於夜半。陽邪亢極，故夏則死於日中。蓋衰極亦死，盛極亦死也）。</p>
<p>肺病喘咳（肺主息，故病喘咳）。三日而脅支滿痛（三日而之肝，金剋木也）。一日身重體痛（一日之脾，木剋土也）。五日而脹（五日而之胃，臟傳腑也），十日不已，死（十日不已，胃復傳腎，五行之數已極，故死）。冬日入，夏日出（此卯、酉二時，屬燥金之化）。</p>
<p>肝病頭目眩，脅支滿（肝開竅於目，而經脈布於脅肋），三日體重身痛（三日傳脾），五日而脹（脾傳胃也），三日腰脊少腹痛，脛痠（三日傳腎也），三日不已，死（三日不已，腎復傳心，故死），冬日入。夏早食（亦卯、酉時也，燥金主之，木所畏也）。</p>
<p>脾病身痛體重（脾主肌肉），一日而脹（脾傳胃也），二日少腹腰脊痛，脛痠（胃傳腎也），三日背𦛗筋痛，小便閉（三日而胃傳膂膀胱也），十日不已，死（十日不已，復傳於心，故死）。冬人定，夏晏食（此巳、亥時也，司風木之化，脾病畏之）。</p>
<p>腎病少腹腰脊痛，胻痠（腎主下部，經脈行於少腹，腰脊，胻骨之間），三日背𦛗筋痛，小便閉（三日而傳膂膀胱也），三日腹脹（三日而傳小腸），三日兩脅支痛（三日而上傳心，手心主之正，別下淵腋三寸入胸中，故兩脅支痛），三日不已，死（夏傷肺金也），冬大晨，夏晏脯（此辰、戌時也。土旺四季，為水所畏，故腎病絕焉）。</p>
<p>胃病脹滿，五日少腹腰脊痛，胻痠（五日之腎也），三日背𦛗筋痛，小便閉（三日之膂膀胱也），五日身體重（《病傳論》曰五日而上之心。此云體重疑誤），六日不已、死（心復傳肺），冬夜半後，夏日昳（醜、未司濕土之化，氣通於胃，失守則死）。</p>
<p>膀胱病，小便閉，五日少腹脹，腰脊痛，胻痠（五日而之腎也），一日腹脹（一日而之小腸），一日身體痛（一日而之心，腑傳臟也。心主血脈，故為身體痛），二日不已，死（心病不已，必復傳金，故死），冬雞鳴，夏下晡（醜、未時也，土能制水，故膀胱畏之，相傳死期各有遠近，臟有要害不同也，以次相傳者必死，間一二臟或三四臟者，可以治矣）。</p>
<p>《靈樞·經脈》篇曰：手太陰氣絕則皮毛焦，太陰者行氣溫於皮毛者也、故氣不榮則皮毛焦、皮毛焦則津液去皮節，津液去皮節者則爪枯毛折，毛折者毛先死，丙篤丁死，火勝金也（肺屬金主氣，為水之母，故其氣絕則津液去，而爪枯毛折也）。手少陰氣絕則脈不通，脈不通則血不流，血不流則髦色不澤，故其面黑如漆柴者，血先死，壬篤癸死，水勝火也（心主血脈，故心絕則血先死，其症在髦色不澤，面黑如漆，水化見也）。足太陰氣絕則脈不榮肌肉，唇舌者，肌肉之本也，脈不榮則肌肉軟，肌肉軟則舌萎人中滿，人中滿則唇反，唇反者肉先死，、甲篤乙死，木勝土也（脾主肌肉，故脾絕則肉先死，其症在舌萎、人中滿，唇反也）。足少陰氣絕則骨枯，少陰者冬脈也，伏行而濡骨髓者也，故骨不濡則肉不能著也，骨肉不相親則肉軟卻，肉軟卻故齒長而垢發無澤，發無澤者骨先死，戊篤已死，土勝水也（腎屬水，故為冬脈。腎主骨，故腎絕則骨先死。其症在骨肉不相親附，則齒長而垢，精枯發無澤也）。足厥陰氣絕則筋絕，厥陰者肝脈也，肝者筋之合也，筋者聚於陰氣（當作器）。而脈絡於舌本也，故脈弗榮則筋急，筋急則引舌與卵，故唇青舌卷卵縮，則筋先死，庚篤辛死，金勝木也（肝絕者筋先死。其症在唇青舌卷而卵縮囊蜷也）。五陰氣俱絕則目系轉，轉則目暈，目暈者為志先死，志先死則遠一日半死矣（五臟之精上注於目，故五陰氣絕則目轉而暈，志先死矣。志藏於腎，真陰已竭，死在周日間耳）。六陽氣絕則陰與陽相離，離則腠理發泄，絕汗乃出，故旦占夕死，夕占旦死（陽氣不能衛外而為固，則汗泄，絕汗者，其形如珠，凝而不流，或氣喘不休，汗出如洗者是也）。</p>
<p>《陰陽類論》曰：冬三月之病，病合於陽者，至春正月脈有死徵，皆歸出春（冬三月陰盛之時，而見陽病者，至春初陽氣發動之令，脈必有死徵矣。出春者，交夏也，陽病當陽盛，則亢極而不可免矣）。冬三月之病，在理已盡，草與柳葉皆殺（在理已盡，謂色脈形症皆無生理，則交春草色青、柳葉見，皆其死期也）。春陰陽皆絕，期在孟春（冬月之病，甫交春而陰陽皆絕，則不待仲季，即於孟春是其死期矣。陰絕者，脈形不至，陽絕者，脈形微細，或上不至關為陽絕，下不至關為陰絕）。春三月之病，曰陽殺（殺音賽，陽氣衰也，陽氣方生之令，而陽氣衰敗，不能應令也），陰陽皆絕，期在草乾（春令木旺之症，而陰陽俱絕，至秋令草乾之時，金勝木而死矣）。夏三月之病，至陰不過十日（《金匱真言論》曰脾為陰中之至陰，五臟六腑之本也。以至陰之臟而當陽極之時，苟犯死症，期在十日），陰陽交，期在溓（音廉）水（陰陽交者。陰脈見於陽，則陽氣失守，陽脈見於陰，則陰氣失守。夏月而見此逆象，則仲秋溓水之期，不能保其生矣），秋三月之病，三陽俱起，不治自已（秋時陽氣漸衰。陰氣漸長，雖三陽之病俱起，而陽不勝陰，故自已）。陰陽交合者，立不能坐，坐不能起（陰陽交合者，陰陽合病也。起坐不能者，屈伸不利也）。三陽（陽當作陰）獨至，期在石水（陰病而當陰盛，則孤陰不生矣。冰堅如石之候，不能再生，即上文三陽俱起，不治自愈。下文二陰；期在盛水，則此為三陰無疑）。二陰獨至，期在盛水（二陰病比之三陰病者差緩焉、故期在盛水。盛水者，正月雨水也）。</p>
<p>《診要經終論》曰：太陽之脈，其終也戴眼反折瘛瘲，其色白，絕汗乃出，出則死矣（戴眼者，目睛仰視而不能轉也。反折者，腰脊反張也，筋急曰瘛，筋緩曰瘲。絕汗者，汗出如油也，足太陽之脈起於目內眥，上額交巔入絡腦，下項夾脊抵腰中，下至足之小指。手太陽之脈起於小指之端，循臂上肩，其支者循頸上頰，至目之外眥，故其病如此。又太陽為三陽之表，故主色白汗出）。少陽終者，耳聾，百節皆縱，目睘絕系，絕系一日半死，其死也色先青白，乃死矣（手足少陽之脈皆入於耳中，亦皆至於目銳眥，故為耳聾目睘也，睘者，直視如驚也，因少陽之系絕，不能旋轉也，膽應筋，故百節縱也。木之色青，金之色白，金木相賊，則青白先見矣）。陽明終者，口目動作，善驚妄言，色黃，其上下經盛，不仁則終矣（手足陽明之脈皆挾口入目，故口目動作也。聞木音則惕然而驚，是陽明善驚也。罵詈不辨親疏，是陽明妄言也。黃者，土色外見也。上下經盛、謂頭、頸、手、足，陽明之脈皆躁動而盛，是胃之敗也。不知痛癢，謂之不仁，是肌肉之敗也）。少陰終者，面黑齒長而垢，腹脹閉，上下不通而終矣（手少陰氣絕則血敗，足少陰氣絕則色如炤，故面黑也。腎主骨，齒者骨之餘，故齒不固而垢也。手少陰之脈下膈絡小腸，足少陰之脈絡膀胱貫肝膈，故為腹脹閉、上下不通，是心腎不交也）。太陰終者，腹脹閉不得息，善噫善嘔，嘔則逆，逆則面赤，不逆則上下不通，不通則面黑皮毛焦而終矣（足太陰脈入腹屬脾，故為腹脹閉。手太陰脈上膈屬肺而主呼吸，故不得息、惟脹閉不得息，故為噫為嘔。氣逆於上，故面赤。不逆則脾之地氣不上升，肺之天氣不下降。上下不通者，天地不交也。脾敗無以制水，故面黑。肺敗不能主氣，故皮毛焦也）。厥陰終者，中熱嗌乾，善溺心煩，甚則舌卷卵上縮而終矣（手厥陰心主之脈起於胸中，出屬心包絡，下膈，歷絡三焦。足厥陰肝脈循喉嚨之後。上入頏顙，其下者循股陰，入毛中過陰器，故為中熱嗌乾、善溺心煩等症。舌者心之官也，肝者筋之合也，筋者聚於陰器，而脈絡於舌本，故甚則舌卷卵縮也）。</p>
<p>愚按：人之有病，猶樹之有蠹也。病之有能，猶蠹之所在也。不知蠹之所在，遍樹而斫之，蠹未必除而樹先槁矣。不知病之所在，廣絡而治之，病未必去而命先盡矣。故病能至賾即較若列眉，猶懼或失之，病能未彰而試之藥餌，吾不忍言也。世醫矜家傳之秘，時醫誇歷症之多，悻悻賣俗而不知其非。叩之三因之自與其所變，翻以力贅，是不欲知蠹之所在，而弟思斫樹以為功者，嘻！亦慘矣。</p>
