<header data-type="book">
<h1>辨症玉函</h1>
</header>

<h1>弁言</h1>
<p>人身一小天地大都不外陰陽虛實四字故燮理得宜愆伏可以不患調劑有法疾病因之無虞是在司命者有以辨之而已苟臨症疏略不暇加辨以致毫釐千里誤人於俄頃者曷可勝嘆此陳子遠公辨症玉函之所為著也陳子為于越世胄幼抱匡濟恆以公輔自命人亦無不以公輔期之齎志未售間留心於經世之學當途者𣪞勤徵聘爭欲延致後因遠陟蒼梧雅慕獨秀棲霞諸勝遍歷幽隱遇一龐眉修髯衣冠岸偉者相與坐語移日因出其囊中一編授之曰熟此可以普濟世人蓋活人於筆端與活人於指下均之躋斯民於壽域也陳子攜歸展讀悉岐黃辨論問答語與世之所傳內經素問諸書迥異始悟前此之成編累帙皆偽託以行世者陳子掩𮤚肄習不數年間即以醫學擅名於時客歲余仲子忽嬰異症遍召諸醫不特不能祛病使去並不能辨病所自來轉輾遷延經年彌劇蒼崖姜世兄親見所苦因為推轂適陳子以秋試入省亟延胗視一劑奏功再服而十減四五矣餘力扣其所蘊知授受有自大異尋常殊恨相知之晚也陳子隨有鉅鹿之遊瀕行出是編以示余曰是書吾久欲問世憾剞劂無資有懷未遂耳因憶當年余白下友人有居要津者向有膏丹異方頗自珍秘余偶過告歸主人厚贐以壯行色余堅卻不受且請曰歸裝粗辦不敢以行李相累惟得所藏秘方以廣利濟是吾顧也友人誼余言探囊錄授余歸即購求珍藥按方虔製出遇有疾患呻吟者輒牽止異之靡不立效後請乞漸廣窮鄉僻壤山陬海澨梯航跋踄款門祈懇者無虛日惟不喜給富人為其力能療治也余行之數十年未嘗有怠色雖歲有所損然拯患而起廢者當不可以數計矣今乃秘帙當前歷有成驗忍於寶山空返耶爰為授梓以公當世倘陳子游屐所不及至胗視所未及施庶幾執是編辨症而區處之不無小補知不徒為紙上陳言也陳子所輯洞垣秘笈尚富未能一一鋟行其以是編為嚆矢也可</p>
<p><u>時</u></p>
<p>康熙癸酉嘉平之望天都王之策慎庵氏題於古修堂</p>

<h1>卷之一</h1>

<h2>陰症陽症辨</h2>

<h3>傷風傷寒</h3>
<p>傷風與傷寒相似陰症與陽症宜知若不辨明殺人多矣雖仲景張公有傷寒專門之書我可不必再傳然而各有不同正不可不傳也傷寒之異於傷風者何以辨之一在感之輕一則感之重也傷風者傷寒之輕者也傷寒者傷風之重者也原無大分別苟不急治之則傷風者即變為傷寒矣蓋人之元氣最惡外邪人身一感風邪則元氣必然與邪相戰元氣旺者邪不能深入不能深入邪自然留於皮毛之間而不敢入於腠理之內不過一二日而邪散者正氣以祛邪之易也若正氣虛者則入於內而變為傷寒矣非傷風傷寒之有異也有異於人之元氣虛弱而已矣然則遇風邪之侵人者開手即用補正祛邪之藥何至傷風之變為傷寒哉若既已風入於腠理之內則邪即有陰邪陽邪之分矣大約入於腑則為陽邪入於臟則為陰邪矣是邪亦無陰陽之分亦分於人之臟腑之陰陽也然而腑又不同臟又各異又從何處以辨之哉我有一法辨症最易大約身熱而煩躁者陽症也身熱而安靜喜睡者陰症也雖陰症陽症中各有分別而此法終為千古不易之論也倘一遇風寒之侵體無論是傷寒傷風一劑即愈斷不須二劑也方名轉春丹此治初起之傷寒傷風也倘三日後身有不涼者此成傷寒之症矣亦不必問其陰症陽症吾有一方治之隨手而回春矣方即名回春丹一劑身即涼而邪即退再一劑全愈矣倘不聽吾言則變症蜂起矣可查仲景專門治之二方之妙各有深意轉春丹用桂枝與麻黃此胡可並用使邪入太陽者速散而邪不敢入於少陽之間且邪原未入內故可用補藥以和解之方中所以用芍藥先去平肝使邪之門路速斷用茯苓又引邪從膀胱太陽下行自然隨手奏功轉一陽於頃刻也回春丹之妙妙在不用芍藥桂枝蓋邪已入里已離太陽之經何必又用桂枝況邪由衛而入於少陽之經倘更用芍藥不特不能平肝而且引邪入肝矣蓋肝最惡邪侵於未近邪之時可以未雨綢繆而已近邪之頃難於及時杜絕余方中所以不敢用之也石膏麻黃青蒿之類純是入衛祛邪之聖藥單攻一府而邪自難留不得不從外而入者仍從外而出矣況方中又多調濟之品有不奏功如響者乎世人細思吾方即授之以治傷寒之症又安有殺人而比之刀刃者哉</p>
<p><u>轉春丹</u></p>
<p>桂枝（五分）　柴胡（一錢五分）　麻黃（三分）　白芍（五錢）　茯苓（三錢）　甘草（一錢）　陳皮（七分）　白朮（三錢）　半夏（三分）　神麯（一錢）　蘇葉（八分）　水煎服</p>
<p><u>回春丹</u></p>
<p>麻黃（一錢）　石膏（二錢）　青蒿（五錢）　柴胡（二錢）　甘草（一錢）　茯苓（五錢）　當歸（五錢）陳皮（一錢）　神麯（一錢）　麥冬（三錢）　生地（三錢）　白芥（二錢）　人參（三分）　玄參（二錢）　水煎服</p>

<h3>中風</h3>
<p>中風之症世人以風治之誤之甚矣蓋中風之症乃人陽氣虛與陰氣涸而中之也何嘗有風哉人見其疾之忽然而來有如暴風疾雨遂以風名之其實乃中氣而作中風也治之法一治風無不死者必須治氣始能有效然而中氣不同也內有中陽氣之虛有中陰氣之涸又不可不辨也中陽氣之虛者奈何其人一時卒倒口吐白沫痰聲如鼾目直視胡言亂語者陽症也若中陰氣之涸者亦一時卒倒目不知人時而躁時而靜欲睡不能言痰如鋸吐不絕口中流涎不止蓋陰症也二症亦相同者均不知人最難辨而最易辨也易辨者何辨之眼而已矣眼直視者氣虛也眼雙閉不開者陰虛也二症皆能遺尿手撒皆不治之症也然而遺尿手撒亦可治之大約十人中亦可救四五者非盡不可救也倘陽虛而中者用三生飲必須用人參二兩或三兩始可回生與其日後用之不若乘其欲絕未絕之頃多用人參可轉死回生之易也至治陰虛而中者又不可純用三生飲古無專方留下我今酌一奇方以救世人之陰虛中風者神效方名十寶丹一劑即回春也此方俱是純陰之劑然又何以兼用人參不知無陽則陰無以生必須加參為佐使則陰生於陽之中而陽回於陰之內兩相須而兩相成也苟或舍三生飲以救陽虛之中風而改用祛風祛痰之藥我未見能生者即或用三生飲矣而少用人參多加祛痰之品即或不死未有不成半支風與偏枯等症以三生飲治陰虛中風亦無不死者苟聽吾言用吾之方自慶生全倘怪吾藥品之多改重為輕恐難免半支偏枯之症矣願人敬守吾訓蓋吾之方必須照吾分兩以治初中之時不可妄自加減或用此方之後以病人脾胃之弱量為加減亦未為不可但切不可加入風藥一味以殺人於俄頃也慎之慎之</p>
<p><u>十寶丹</u></p>
<p>麥冬（三兩）　熟地（三兩）　山萸（二兩）　白芥子（二錢）　人參（五錢）　菖蒲（一錢）　茯苓（五錢）　沙參（五錢）　五味（三錢）　丹皮（二錢）　水煎服</p>

<h3>吐症</h3>
<p>大吐吐症多是胃氣之傷然而胃氣不同有陰陽之別如吐而有聲或痛者陽症也倘吐而無聲又純是清水或今日飲食而明日盡情吐出者乃陰症也或腹中不痛或遇寒即發無非陰症倘辨之不清妄自用藥必致殺人我亦更傳一法以辨陰陽之殊亦看舌之滑與燥而已矣大約陽症口必渴而舌必燥陰症口不渴而舌且滑也治之法陽症之吐用方名為引火止吐湯此方之妙妙在茯苓至一兩蓋火勢之上衝由於水道之下閉用茯苓以健胃又利水下行黃連止心火余俱調和得法自然火不逆而水下通又何至吐逆之生耶至於陰虛作吐實為難治不比陽吐一劑便可奏功也蓋陰虛而吐乃腎中之火虛也腎火既衰則脾無火養食留脾中成為陰寒世界下不能化自然上湧而吐矣法當溫補命門之火使火生水中然後土生火內方用濟火神丹服後即用飲壓之一劑輕二劑更輕十劑愈三十劑全愈矣蓋陰病之吐其來非一日矣不大補之則陰不能生而陽不能化或求速效再加人參三錢於方中可減十分之二然終不若原方之妙蓋病是純陰不必再借陽藥況方中原有白朮陽藥在其中矣又何必更用參之多事哉人不知生病之重惟求速愈或改用吾方或別求治病未必不反害之也</p>
<p><u>引火止吐湯</u></p>
<p>黃連（一錢）　茯苓（一兩）　白朮（五錢）　陳皮（一錢）　神麯（一錢）　麥冬（一錢）　人參（二錢）砂仁（一粒）　藿香（五分）　生薑（三片）　水煎服</p>
<p><u>濟火神丹</u></p>
<p>肉桂（三錢）　熟地（一兩）　山萸（五錢）　五味（二錢）　茯苓（五錢）　山藥（一兩）　肉果（二枚）白朮（一兩）　芡實（五錢）　水煎服</p>

<h3>瀉症</h3>
<p>瀉症瀉有傾腸而出者最可畏之病也倘治之少遲必至氣絕而亡但瀉中有陰陽之分不可不急辨之也如大瀉五六十次或百餘次或數百次純是清水完穀不化人以為寒也然其中亦有熱症但寒症水瀉心腹不痛大腸不後重作楚若熱症之瀉也不然必腹痛不可按有後重之苦倘不辨明而用藥下喉必死矣吾今傳二方一治陰症一治陽症也陽症用車前茯苓最是利水之品而白朮又是健脾去濕之藥加入肉桂以取其氣引入膀胱同澤瀉同群共濟自然定亂扶危轉禍為福又何必用人參以救絕哉倘富貴之人不妨用人參五錢或一兩為妙我傳方不入參者欲救貧窮之客也方名導水止流湯其治陰症之瀉則又不同雖此方亦可相通而終不可執之以概治也另傳方者名為扶火消水湯二方之妙各有深意前方瀉水而不耗其氣後方補火而培其氣也</p>
<p><u>導水止流湯</u></p>
<p>車前（一兩）　茯苓（一兩）　白芍（一兩）　甘草（三錢）　肉桂（一分）　陳皮（一錢）　白朮（五錢）神麯（五分）　澤瀉（五錢）水煎服</p>
<p><u>扶火消水湯</u></p>
<p>白朮（一兩）　車前（五錢）　山藥（一兩）　芡實（一兩）　薏仁（五錢）　肉桂（三錢）　五味（二錢）茯苓（五錢）水煎服</p>

<h3>瘧疾</h3>
<p>瘧疾皆起於外來之風邪然而內無痰與食終不能成瘧也雖然無痰不成瘧與無食不成瘧雖感於外來之風邪然亦內之陰陽之氣各有不足三者始能相合而成瘧然則烏可不辨陰陽乎若陽症之瘧也必發於晝或一日一發或兩日一發必寒多而熱少其勢若盛而其病實輕蓋陽氣能與邪氣相戰故作戰慄之狀而齒擊有聲也若陰症之瘧亦有一日一發者或兩日一發或三日一發然發之時必發於夜發必寒少而熱多齒不戰擊身痛亦不甚口必不十分大渴其症似輕而實重雖二症皆是邪侵而成而治之法均不可徒治其邪但補其正均能愈瘧原不必更為逐邪之計也然而補正之中而少帶散邪之品未為不可用之得當病去如掃吾今立二方一治陽瘧一治陰瘧陽瘧方名為扶陽散邪丹一劑輕二劑全愈不必三劑也凡陽瘧不論一日二日無不全愈神方也陰瘧方名為益陰辟邪丹無論一日二日三日四劑全愈倘四日兩頭髮之瘧久經歲月者方中藥料加一培增入人參五錢亦四劑全愈但愈後必須多服十全大補湯不致再感而重發也倘人不信吾言動用祛邪之品置陽氣陰氣於不問雖心欲去瘧適所以堅瘧鬼之城也</p>
<p><u>扶陽散邪丹</u></p>
<p>人參（一錢）　白朮（三錢）　柴胡（二錢）　半夏（三錢）　青皮（一錢）　鱉甲（三錢）　當歸（三錢）生何首烏（三錢）　山楂（二十粒）　甘草（一錢）水煎服</p>
<p><u>益陰辟邪丹</u></p>
<p>熟地（五錢）　當歸（五錢）　白芍（五錢）　何首烏（五錢）　白朮（五錢）　茯苓（五錢）　鱉甲（一兩）　白芥子（五錢）　柴胡（一分）　山楂（十粒）水煎服</p>

<h3>痢疾</h3>
<p>痢亦不同有陽痢陰痢之分世人不知也皆為濕熱所致動言痢無止法而不辨其陰陽之異故往往殺人可慨也陰陽之痢內經亦未分別我今日亦泄天地之奇大約便血腹疼後重噤口者陽痢也腹不痛以手按之而快者糞門無急迫之狀日能食無血而白痢者乃陰痢也雖用藥得宜一方可以兼治然終不識症之陰陽猶為不知痢症之人也不可不明辨之庶幾用藥可分輕重尤易奏功如響吾今立二方一治陽痢一治陰痢陽痢方名為掃痢神丹一劑即止血二劑即止痢不必三劑也陰痢方名為化痢仙丹一劑輕二劑止三劑全愈人見血痢為重而不知白痢感於陰分未嘗輕也但陽痢火重而濕輕陰痢火輕而濕重耳陽痢之方妙在用黃連於大黃之中使火毒迅掃而去不久留腸胃之中陰痢之方妙在用芍藥之多平肝以扶脾土使土安而水易去其餘皆是祛逐邪穢之物各用之咸宜所以奏功尤易也</p>
<p><u>掃痢神丹</u></p>
<p>黃連（三錢）　當歸（五錢）　白芍（五錢）　廣木香（一錢）　檳榔（一錢）　枳殼（一錢）　大黃（五錢）　車前子（五錢）水煎服</p>
<p><u>化痢仙丹</u></p>
<p>白芍（一兩）　當歸（五錢）　枳殼（一錢）　蘿蔔子（三錢）　檳榔（一錢）　甘草（一錢）　車前子（一錢）水煎服</p>

<h3>癲狂</h3>
<p>癲狂之症世人以癲為陰以狂為陽是矣然而癲之中未嘗無陽症狂之中未嘗無陰症也何以見之癲如羊癲牛馬之症此發之陽氣之不足陽虛則陰邪自旺此謂之陰症宜也然而其中又有花癲之病見男子而思親逢女子而不識呼喊叫號晝夜不止倘亦為陰症而用桂附之品則立刻發狂而死矣狂如登高而歌棄衣而走見水而入此發之陽邪之有餘謂之陽症宜也然其中有似是而非又不可不辨如見人則罵逢物則瞋燥擾不寧欲睡不安欲行不得口渴索飲見水則止倘亦視為陽症而投之竹葉石膏湯下喉即死矣然則二症終於何處辨之亦辨之於兩目有神無神而已如陽症則目必紅而陰症則目必白也吾定二方一治陽癲一治陰狂之症陽癲方名散癲湯此方之妙妙在白芍用至一兩自能平肝梔子用至五錢自然散其鬱結之火其餘柴芥術苓皆去痰去濕之妙品自然心清而火降脾健而癲除也陰狂方名解狂散此方之妙妙在用玄參二兩於群補真陰之中解散其浮游之火木足而火自消亦火息而狂自定也苟或辨之不清妄投藥餌生死存亡正未可定矣</p>
<p><u>散癲湯</u></p>
<p>白芍（一兩）　白朮（五錢）　當歸（五錢）　炒梔子（五錢）　菖蒲（五分）　茯神（三錢）　甘草（一錢）　白芥子（三錢）　丹皮（三錢）　柴胡（一錢）　陳皮（五分）水煎服</p>
<p><u>解狂散</u></p>
<p>熟地（一兩）　白芍（五錢）　當歸（五錢）　山茱萸（五錢）　麥冬（五錢）　北五味（一錢）　玄參（二兩）白芥子（三錢）　菖蒲（三分）　生地（五錢）水煎服</p>

<h3>咳嗽</h3>
<p>咳嗽初起多是陽邪之感咳嗽日久多是陰氣之虛然亦不可拘於此論也有初起而即是陰虛者有日久而仍是陽虛者又不可不辨也何以見初起之即犯陰經也如日間不嗽而夜間嗽者或朝咳之輕而夜咳之重者雖有風邪襲之終是陰虛使然開手即宜用補陰之味而佐之散風之品則邪易去而正氣不耗也何以見日久之猶是陽經也如嗽必抬肩咳必聲振吐痰而結成黃塊塞鼻而長流清涎或晝重而夜反安然或坐躁而臥轉寧貼此陽氣之未虛而邪氣憑之而不散也必須仍用祛風蕩痰之品而少兼之滋陰之味則邪自散而陰氣不傷也吾今留二方一治陰經之咳嗽一治陽經之咳嗽陰經方名護陰止嗽丹此方有調濟之宜看甚平常而奏功實神也陽經方名散邪止嗽丹此方雖是散邪而仍然補陰而不補陽者何故蓋陽既旺而邪自難去補益其陰則陽氣自平陽平而邪亦難留矣倘不知陰陽之異即一味偏補之則陰不能生而陽不能化不特咳嗽難愈而且變症百端矣可不慎哉</p>
<p><u>護陰止嗽丹</u></p>
<p>麥冬（五錢）　紫菀（五錢）　百部（五錢）　天門冬（三錢）　熟地（五錢）　桔梗（二錢）　甘草（一錢）　白芥子（二錢）　玄參（三錢）　沙參（五錢）　陳皮（五分）　款冬花（五分）水煎服</p>
<p><u>散邪止嗽丹</u></p>
<p>柴胡（一錢）　白芍（五錢）　黃芩（一錢）　石膏（一錢）　桔梗（一錢）　甘草（一錢）　生地（五錢）麥冬（二錢）　茯苓（三錢）　半夏（一錢）　陳皮（五分）水煎服</p>

<h3>大小便閉</h3>
<p>大小便之閉塞不通也人皆謂之火然火亦有陰陽之別陽火而成閉結人易知陰火而成閉結人難識也先言大便之閉寒邪火逼迫於大腸之中燒乾大腸以致腸結而痛手按之不可近者必須用祛蕩之品而大瀉之否則邪留於腹中必變為譫語發狂之症矣此等之病乃陽火作崇也若夫腎水虧損不能滋潤於大腸以致糞如羊屎者往往有經月而尚未便者雖覺急迫而終亦不甚忍至二三日而如前不相異老人多有此症乃陰火作崇也陰火者相火乃虛火也腎火之有餘實腎水之不足也若亦以下藥下之是因其陰虛而復虛之也去死不遠矣吾今定二方一治陽火一治陰火治陽火方名利火下導湯此方雖有大黃之行火麻之潤而仍以當歸為君則補多於下亦止因勢利導而終非過下亡陰也治陰火方名為升陽下陰湯此方之妙妙在熟地純陰之藥為君而佐之地榆蓯蓉火麻之潤尤妙用升麻升提清氣則穢濁自然下行又何必加入大黃之多事哉再言小便之閉塞小便之通在於膀胱之氣化膀胱乘於火邪　則小便必點滴不通其症必氣急面紅心欲嘔而胃作酸腹欲脹而腸欲斷兩目雙赤狂燥不寧此陽症也苟或小便雖急而非點滴之不通氣不急面不紅目不痛腹脹而喜按胃安而難餐此陰症也設不辨其陰陽而輕用開關之劑亦半死半生之道也夫陽症易治而陰症難治者何也亦不取陰症而一辨明之耳蓋小便之通雖本於膀胱之氣化然膀胱畏火而又未嘗不喜火也多火則膀胱之氣化不及行無火則膀胱之氣化又不能行也膀胱之陰虛則水道已成水凍之窟又何能通陰寒之水哉故小便亦閉塞而不通也吾今亦立二方一治陽症一治陰症陽症方名清水至神湯一劑即通車前利水而不走氣寄奴逐水而不傷陰升麻升提而反得下降之宜白果引入任督之路以瀉水之氣直入膀胱實有妙用也陰症用益火濟水湯此方之妙妙在純是補陰而不去利水用肉桂之一味以轉陽和自然雪消春水冰泮而溝壑皆通也倘止去通水則膀胱愈寒必成牢不可破之堅城矣</p>
<p><u>利火下導湯</u></p>
<p>大黃（三錢）　當歸（一兩）　紅花（二錢）　赤芍藥（三錢）　厚朴（二錢）　枳實（一錢）　柴胡（八分）　火麻子（三錢）水煎服</p>
<p><u>升陽下陰湯</u></p>
<p>熟地（一兩）　當歸（五錢）　地榆（一錢）　火麻子（一錢）　升麻（一錢）　生地（五錢）　麥冬（五錢）　肉蓯蓉（五錢洗去鹽水）水煎好加入人乳半碗服</p>
<p><u>清水至神湯</u></p>
<p>薏仁（五錢）　白果（十個）　升麻（五分）　車前子（一兩）　澤瀉（三錢）　劉寄奴（五錢）水煎服</p>
<p><u>益火濟水湯</u></p>
<p>熟地（一兩）　山藥（五錢）　茯苓（五錢）　山茱萸（五錢）　牛膝（三錢）　肉桂（二錢）　麥冬（五錢）　車前子（三錢）　薏仁（五錢）水煎服</p>

<h3>心痛</h3>
<p>心痛從來言無真正之病不知心痛未嘗無真也但有陰陽之分耳大約陽病之痛犯心者多不救陰病之痛犯心者多難醫陽病乃火也火邪犯心有膻中之障隔而火勢不能直衝於心瀉其胃中之火而心安矣其故何也邪火與心火本是同類火與火合氣焰雖殊而熱性何殊也原無相剋之嫌故火退而君火自息何至有自焚之禍若陰病乃寒也寒邪直犯乎心雖有膻中之障隔而寒氣衝天直中皇居相臣不當其鋒先自逃遁於他處而天王有不下堂而走乎蓋寒水克心火立時可以撲滅較陽症而更重也故朝發夕死夕發旦死醫之少遲已多不救況用藥之不得其宜何怪其驟亡也人見其亡之驟謂其真正心痛其實非真正心痛也治之得宜何嘗不可救哉然則心痛之陰陽又烏可不辨之乎若陽症也必徹夜竟日疼痛呼號雙目必紅口必渴引飲得涼水而少止與之食而更痛手不可按按之而痛必甚身上必然有汗日重而夜少輕此乃邪火作祟於胃中上衝膻中耳用瀉火神丹下喉而痛即定矣此方之妙妙在梔子用之太多始能直折其鬱抑之火而蒼朮茯苓又去其濕濕去則不生熱而火勢自衰又加之貫眾以去穢乳香木香以止痛用甘草之多則梔子不至太涼反得其調劑之宜而枳殼化食食消則火隨食而下行矣又慮邪火大旺若不順從其性則火勢炎上恐拒隔而不受用乾薑之炒黑去其太熱引梔子之類於下行又得其前導之功也藥性既然相宜功效豈不立奏乎所以甫下喉而痛即定也若陰症也必感寒而得之其症小腹先痛而後入心口吐清水與之茶即吐出手足青甚而卵縮角弓反張此陰寒之氣犯心其來甚速苟能以生薑半斤搗碎炒熱敷於心腹之間則寒邪少減即用生薑三兩搗碎飲之亦能生者然終乃一時急救之法而非萬年濟人之術也用祛寒定痛湯救之實神刻不可緩速行救之下喉亦生否則難救矣此方之妙妙在用白朮之多直入腰臍之內者何也寒氣之入原從臍內先入若不急杜其來路則邪無顧忌往前直奔心包之絡如何當其賊勢之橫行余故用白朮以絕之也然非多加則勢孤力薄寒邪亦何所畏而反顧哉故必多加而後可以取效然徒用白朮之多而無附子肉桂之熱藥是猶兵眾而將非摧鋒陷陣之帥則兵卒不前賊又何所畏忌故必用附子肉桂也然徒用附子肉桂斬殺誅戮而不分散寒邪之勢則敵人團聚尤難解紛余所以又用茯苓引寒邪之下行也又慮心君寒甚無火以溫其中譬如群賊圍困皇宮雖有勤王之將而無導引之師則外雖有聲援之兵而內無接應非得親信之臣又何以交通內外余所以又用菖蒲引桂附人心而衛君也願人敬守吾方以治真正之心痛無不手到成功倘見病勢少輕前二方少減分兩亦未為不可</p>
<p><u>瀉火神丹</u></p>
<p>梔子（五錢）　白芍（三錢）　乳香（一錢）　廣木香（一錢）　貫眾（三錢）　甘草（三錢）　枳殼（一錢）　炒黑乾薑（一錢）　茯苓（五錢）　蒼朮（三錢）水煎服</p>
<p><u>祛寒定痛湯</u></p>
<p>附子（三錢）　白朮（三兩）　肉桂（三錢）　人參（三錢）　菖蒲（一錢）　茯苓（五錢）水煎服</p>

<h3>腹痛</h3>
<p>腹痛多是寒熱之二症雖有氣痛蟲痛食痛之殊然大約以陰陽二字足以包之母論食痛蟲痛氣痛也其陰症之痛如時而痛時而不痛或夜痛而日不痛或飢痛而飽不痛或不按而痛手按之而不痛皆是陰症之痛也其症口吐清水者有之喜熱湯者有之索飲食者有之喜擁被而臥者有之面青手冷口必不幹痰必不結此等之症不可用寒藥治之吾有一方甚效之極方名安腹止痛丹此方之妙妙在用白芍以平肝使肝木不來剋土又佐之健脾去濕去痰去食之劑而後調和得宜自然奏效如神倘或有蟲亦能制縛而不痛矣蓋肉桂一味原能殺蟲故耳若陽症之痛必日重而夜輕必痛不可手按得食則痛更甚口必渴痰必黃目必紅赤舌必燥手足反寒而戰大便堅實小便必黃赤而便難皆火之作祟而蟲與食之不化也或因氣惱而得或因酒醉而成或過食燔熬烹灸而得治之法不可以寒藥折之吾有一方治之最妙方名清解止痛丹此方亦妙在用芍藥蓋痛症非芍藥不能和故必以此為君要佐使之得宜又何患芍藥之酸收哉攻邪之內用芍藥為君所謂剿撫兼施自成仁勇先居必勝之勢以攻必散之病有不奏效如神者乎腹痛雖小疾而陰陽最不可不辨明者世人往往因小疾而治之不得法遂成大病者多矣我所以不憚煩而傳腹疼之一門也</p>
<p><u>安腹止痛丹</u></p>
<p>白芍（五錢）　甘草（一錢）　肉桂（一錢）　乾薑（一錢）　白朮（五錢）　麥芽（二錢）　山楂（十粒）半夏（二錢）水煎服</p>
<p><u>清解止痛丹</u></p>
<p>芍藥（五錢）　枳實（一錢）　白朮（一錢）　山楂（二十粒）　厚朴（一錢）　石膏（二錢）　甘草（一錢）　白芥子（三錢）　茯苓（三錢）　柴胡（八分）　當歸（三錢）　炒梔子（二錢）水煎服</p>

<h3>頭痛</h3>
<p>頭痛之症人以為陽之病也然陽虛而頭痛與陽實而頭痛者有殊蓋陽虛之病即陰虛之症也陽氣之虛以致陽邪之旺倘陰氣不衰則陽邪有制何能作祟乎然則頭痛不可盡言陽症也吾今辨明有陽虛之頭痛有陰虛之頭痛或曰頭乃六陽之首陰氣不能到頭如何說是陰虛之故不知陰氣到頭而還而陽氣既衰不能接續陰氣以致頭痛雖是陽虛之故而實亦陰氣之衰陰氣苟旺亦能上接夫陽氣也陰陽原兩相根亦兩相接原不可分為二也惟其一偏之虛遂至兩相之隔矣然則治之法何可不辨陰症與陽症乎陰症之痛也顛頂若暈而頭重似痛不痛昏昏欲睡頭重而不可抬非若陽症之痛之甚也其症朝輕而晚重身胝又不覺十分之重此乃腎水之衰而肝氣克脾虛火升上之故也方用平顛化暈湯治之自然平復但非一二劑可以奏功蓋陰病多無近效非藥餌之不靈萬勿責之近功可也此即四物湯之變方妙在用桔梗細辛於補陰之中陰足而二味解其頭之暈是顧陰為本而散邪為末也若陽虛之頭疼多是風邪侵襲而然陽氣不虛邪何從入於脾胃之陽虛而氣遂不能顧首風邪因而相犯然則祛風而可不補正乎但其間陽氣之虛從何辨之亦觀之症以辨之其症必鼻塞而多涕口渴而多痰其痛必走來走去不定於一方而痛連齒牙或痛連於項背徹夜號呼竟夜不寐者是也吾有一方最佳方名解痛神丹一劑而痛如失此方用川芎至一兩而又佐之天麥二冬純是補陰之味如何治之陽虛有邪之頭痛也不知陽邪之旺終由於陰氣之衰補其陰而陽自旺陽旺而邪自衰況方中各有散邪之品用之於陰藥之中愈足以見其功用之大倘純用風藥未嘗無功然真氣散盡頭痛雖除而他病將見又不可不知也</p>
<p><u>平顛化暈湯</u></p>
<p>熟地（一兩）　麥冬（一兩）　細辛（三分）　山茱萸（五錢）　川芎（五錢）　當歸（三錢）　白芍（三錢）　北五味（一錢）　白芥子（三錢）　桔梗（一錢）水煎服</p>
<p><u>解痛神丹</u></p>
<p>川芎（一兩）　辛夷（一錢）　黃芩（三錢）　蔓荊子（一錢）　細辛（五分）　麥冬（五錢）　甘草（一錢）　天門冬（五錢）　桔梗（三錢）　天花粉（二錢）水煎服</p>

<h3>目痛</h3>
<p>目疾至難治而至易治也世人目疾往往有經歲經年而不愈甚至終身為廢疾者有之此豈目病之果難治乎亦治之不早與早治之不得其法耳蓋目痛有陰陽之分而辨之不可不預也苟辨之至清用藥得當隨手即可奏功何至有廢疾之成哉陽症之目痛必羞明惡亮大眥必赤如火而小眥反覺淡紅其痛必如刺戳流水結眵或鼻塞而不通或口渴而痰結或身發寒發熱而不止此皆火擁於心腹之間肝木氣鬱而成此目痛也若錯認作虛症而用溫補之藥則必變為兩眼青盲之症矣法當用開鬱去風之劑方用開目散此方之妙妙在舒肝木之氣而加之去濕散火之品不去治目而目之紅痛盡除大約二劑便可收功不必多用至於陰虛之目痛雖初起之時略有微疼而痛終不甚大眥不赤而小眥則紅如血者有之或小眥不赤而通身作桃花色者有之無淚無眵日間少快夜則反重雖羞明而不甚腹內時時作飢飢則痛較飽時覺重可見日而不可見燈大便溏者有之而小便反覺清長或夜發熱者有之而身間發汗不止此皆腎水虛耗不能滋潤肝木肝木自顧不暇又何能上潤於目必須用純補真陰之藥大劑吞服始能水足而虛火有歸經之日倘以寒涼之藥治之則必胃氣消亡而陽氣亦因之而喪或以風藥治之散其真氣而雙目終無紅退之時於是有昏花之症於是有拳毛倒睫之症終身成為廢人而不悟者比比也予與言及此可勝浩嘆子今定一方救之實有神功名為養目至神湯此方前去補腎以生肝使水足而肝木得養肝木有氣而雙目自明矣但此方必須多服為妙服至半年不特昏花者可以重明而拳毛倒睫者亦能自愈蓋治本而末治在其中正不必又治本而又去治末也</p>
<p><u>開目散</u></p>
<p>柴胡（二錢）　當歸（一錢）　白芍（三錢）　白蒺藜（三錢）　半夏（二錢）　陳皮（一錢）　甘草（一錢）　車前子（二錢）　蒼朮（一錢）　黃連（一錢）　草決明（一錢）　天花粉（一錢）水煎服</p>
<p><u>養目至神湯</u></p>
<p>熟地（五錢）　山茱萸（五錢）　甘菊花（三錢）　地骨皮（三錢）　當歸（三錢）　白芍（三錢）　茯苓（三錢）　白芥子（一錢）　柴胡（三分）　枸杞子（二錢）　葳蕤（三錢）水煎服</p>

<h3>雙蛾</h3>
<p>雙蛾之症乃少陰之火衝上於咽喉也其勢甚速甚急重者有點滴之水不能下喉者一連數日不進飲食而死者有之雖此症皆起於火而火有不同有陰火陽火之異苟不辨明而妄自用藥死亡頃刻非發在而亡即身青而死矣陽症如何喉中必先作乾燥之狀口必大渴引飲痰或結於胸膈之間欲吐不能欲咽不可喉腫如瘡小舌紅甚喉之兩旁內如雞冠外必作腫狀日間痛不可當夜間少安可寐舌必峭而目必赤也萬不可與溫熱之藥倘誤與之立時發狂矣此症只消用吐法便可全愈古人有用生桐油以鵝翎掃其喉中一吐出頑痰碗許即刻奏功者然亦有火亢之極一吐不能效者奈何然必問其飲食起居從前曾服過何藥倘服熱藥而致此者亦多其大便必燥結三四日不下或小便痛澀者放膽用吾湯以治之方名豆根神散一劑即安而雙蛾消歸烏有矣此方之妙妙在山豆根之多用此物最消少陰之實火然非甘草桔梗以伴之則下行而不上達故用二味為臣青黛亦止痛消腫之神藥以之為輔半夏天花不過消其頑痰則火易消散耳若陰症之雙蛾也有形而不十分作痛時而痛時而不痛夜痛而重晝痛而輕口必不幹不過微燥而已飲之涼水下喉即快少頃轉覺不安胸中膨脹大便如常小便清長即色黃而亦不作艱澀之狀此皆陰虛火動之故莫妙用八味地黃湯大劑飲之自然下喉而痰聲息腫痛除也蓋八味丸專補命門之火下熱而上熱自消龍雷之火非真火不能引之歸經耳然而二症往往有藥食不能咽者雖有此等妙藥何以下喉陽症用鵝翎掃其喉得小吐則水路少開便可用藥陰症則不可用吐法也蓋吐之甚則火益沸騰另有巧法用針刺手上大指指甲之旁少商穴刺星星出血其血色必紫必黑血出喉必少寬便可用地黃湯也如不肯刺更用附子為末以糡子調成攤在兩足之腳心一時辰便開水路便可用藥固是至妙之方也</p>
<p><u>豆根神散</u></p>
<p>山豆根（三錢）　甘草（三錢）　麻黃（五分）　桔梗（三錢）　半夏（二錢）　青黛（三錢）　天花粉（三錢）水煎服</p>

<h3>癰瘡</h3>
<p>癰瘡之症至凶至惡者莫過發背然而別其陰陽治之無難不知陰陽各瘡癰且皆不能奏效況易治乎故癰瘡之症但當問其是陰是陽不當計其何輕何重也大約各癰疽瘡症初發之時作痛作疼發寒發熱多是陽症陽症初起必然紅腫高突呼號叫喊自不能免若陰症則不然雖亦發寒發熱而疼痛反覺少輕初發之時必現無數小瘡頭以欺世大勢平陂而無高突之狀面必色黯不若陽症之面紅也治之少瘥死生反掌可不慎乎陽症之瘡乃火之有餘不能發泄或飲涼水水漿擁遏而成陽毒陰症之瘡必生於富貴之人或繁華而兼憂鬱或氣惱而帶房勞內水既干內火自熾蘊毒實深一旦潰發豈可以細小微劑望其生全乎與陽症治法大是懸殊然而陰陽雖有各別有毒氣總無大異也吾今立一方統治陰陽癰疽之各瘡無不神效但陽症小其劑陰症多其味也方名陰陽通治丹如若陰症各藥倍一半加附子一錢可也余不可亂加此方之妙妙在金銀花蓋此味乃補陰之妙品又是散邪解毒之聖藥然非多加則力薄而效淺吾所以用至三兩也陽症何以相宜蓋補陰正所以助陽氣之不足陽生於陰原有妙用也若陰症尤其所宜加一倍則力大而氣專加附子以達其經絡無經不入引當歸甘草之類同群共濟更易奏功也倘世人不聽吾言因循失治必致陰症變成壞症而陽症亦變為陰症而不可救者是則可憐也矣</p>
<p><u>陰陽通治丹</u></p>
<p>當歸（一兩）　甘草（三錢）　金銀花（三兩）　車前子（五錢）水煎服</p>

<h3>脫症</h3>
<p>脫症之有陽陰也於何辨之亦辨之症而已非男脫為陽而女脫為陰也陽脫之症乃陽氣之衰陽精不能與陰精相合於是彼此相脫而身亡而陽精與陰精又從何處以辨之陽精者火也陰精者水也陰陽皆在於腎之中無陽則陰不生無陰則陽不化合則生而脫則死也而陽脫之症若何其陽必翹然不倒精盡而繼之以血者是也陰脫之症若何精盡而止其陽即痿身寒而無氣者是也治陽脫與治陰脫雖皆不可離去人參附子而其中又不可不少有分別治陽脫者宜多用人參而少用附子治陰脫者宜多用附子而少用人參吾今定二方一治陽脫一治陰脫或疑脫症不可服補陰之劑不知陰虛而脫無陰固不能驟生然而有參以生氣又有附子一枚以為君則純是大熱之藥若不助之補陰之味未免過於酷烈此中實有妙用倘附子不用至一枚斷難用補陰之藥也設若止用人參而少用附子則陰寒之氣逼人又安能回之無何有之鄉哉此陰脫陽脫之宜辨也苟知陰陽之辨見此等之症自然不至臨時忙亂而枉人之性命也</p>
<p><u>陽脫方</u></p>
<p>人參（三兩）　附子（二錢）水煎服</p>
<p><u>陰脫方</u></p>
<p>附子（一個）　人參（一兩）　熟地（五錢）　山茱萸（五錢）　麥冬（五錢）水煎服</p>

<h3>汗症</h3>
<p>汗症之宜講也人以為發汗亡陽耳誰知亦有發汗亡陰之禍哉大約汗症多是熱而陽氣不能固者始有汗出故世人動以汗出亡陽為辭不知陽生於陰陰氣不能固而陽氣始能外泄亦有陽氣不能收而陰氣外逆者亦不可不辨也其陽症若何身必發熱口必發渴兩目必紅赤痰如黃塊或吐白沫其汗或如雨或如珠身必狂躁不安脈必洪大而數按之必有力而擊指登高而歌或棄衣而走或見水而入皆是陽症之汗也然陽之中有實有虛又從何而辨之汗出而身涼者為虛是矣然亦有汗出而身未涼者為虛虛者口舌必滑胎為白胎者虛也若見黃胎與灰黑之色與紅赤之色俱是實邪之火如此辨症斷斷不瘥虛者宜用補陽之味三黃之湯多加黃耆清中補之最妙若實邪之汗非石膏湯不能遏抑其火世人皆知其方余所以不留方也若陰虛發汗人最難知醫方亦無佳者吾先言其症而後定其方其症微微汗出如星星光景口必不渴舌必滑無胎或夜有汗而日無汗或動有汗而靜無汗或飲食有汗而平時無汗或身有汗而頭無汗皆是陰虛之汗也吾今留一方統治之無不神效此方之妙妙在補氣之味而加入於補血之中少加桑葉五味以止汗故陰氣自生而汗亦自止倘亦用寒涼之味以止汗汗雖止而正氣消亡非胃氣之寒即脾氣之壞矣論理人參亦可多加而余不用之者傷人之貧者多而富者少吾定此方以救萬世之人故不以難者強世人也</p>
<p>黃耆（三錢）　當歸（五錢）　桑葉（七片）　五味子（十粒）　白芍（一兩）　生地（五錢）　麥冬（五錢）　白芥子（三錢）水煎服</p>

<h3>痰症</h3>
<p>痰症百病多起於痰無痰則不能成病然痰之生必非無因非陽氣之衰即陰氣之乏也陽氣既衰而風邪外中則痰必生矣其痰之生也或如黃塊或如敗絮種種之不同或咳嗽之不已或嘔吐之不足而繼之膨悶治之法以二陳湯加減以治陽症之痰實有奇效然此方人多不善用之往往取敗者為何亦因其欠補陽氣之味也吾今加減其方名為加減二陳湯以此治陽症之痰無不神效汝見有火少加枯芩一錢可也陰症之痰吐如清水或如蟹涎口必不渴或腹內作聲或胸中作悶或夜重而晝輕或面紅而時白皆陰虛之痰也陰虛者非脾氣之不足則腎氣之匱乏也治之法健脾以化其痰補腎以歸其水此大法也更有一種下寒之甚火氣無多水波泛上必須補其腎中之火以生脾土則土旺始能攝水自然不化痰而化精又在人善於治之也腎火虛寒以致水泛者用八味丸最妙余不再定其方惟是脾腎之虛不至命門之火太微者可兼治脾土而不必純去補腎余定一方一劑輕二劑痰靜三劑痰消烏有矣此方之妙妙在純去健脾而又去瀉濕濕去則痰無黨可聚又有白芥子消其膜膈之痰而神麯砂仁又最是醒脾之品同群共濟有不奏功如神者乎</p>
<p><u>加減二陳湯</u></p>
<p>白朮（三錢）　陳皮（一錢）　甘草（一錢）　茯苓（五錢）　半夏（一錢）　人參（五分）　麥冬（三錢）蘇子（八分）水煎服</p>
<p><u>後方</u></p>
<p>白朮（五錢）　山藥（五錢）　芡實（五錢）　薏仁（五錢）　神麯（五分）　砂仁（二粒）　白芥子（三錢）水煎服</p>

<h3>腫脹</h3>
<p>腫脹之症有水腫氣腫血腫蟲腫食腫之別五症之中最易治者食腫耳不必分其陰陽以消食之品分消之即愈其次難治者則蟲腫亦不必分其陰陽蓋蟲腫即食之變皆傷脾陰而成健脾而濟之下蟲之品自然能愈世多留方然用之而不效者何也亦因看不清是陰虛之故而用陽藥以去之也吾今留一奇方專治蟲臌最妙最神方名化蟲絕神丹每日空腹白滾水送下一兩早晚二服服三日即有蟲從大便中出矣服十日腫脹消再服十日全愈不必盡服也此方俱是補陰之品又是殺蟲之藥臟腑不傷而反受大益潛移默奪不戰之戰正妙於戰也氣臌者乃陽氣之郁也世人以水臌法治之轉成危症者最多而氣臌從何辨之單脹於兩脅之間而手足不十分腫者是又不是蟲脹之單脹於腹也此等之病宜解鬱為主而解鬱又以舒肝為急吾定一方名為開鬱消腫湯此方用柴芍以舒肝氣則兩脅之脹滿自除又何必用大腹皮與檳榔之消克哉此方可用四劑之後略減其半加入人參三錢連服四劑氣臌自消亡於無事矣血臌之病非氣病也乃血症也半由於飲食之失宜半由於思想之太結遂成此病其症面黃而腹脹手按之如有物在而又不十分大痛手足必然細小者此是血臌也方用破血安全湯此方大黃用之以逐血然非以補中下之恐有排山倒海之憂今用白朮以固腰臍當歸生新去舊鱉甲牛膝入於至堅之中以動之又慮脾氣消亡又加人參以醒其氣安有脾不健而血不下者乎至於水脹之症實有陰陽之殊初感之時兩足如泥者乃水症也雖是水浸脾土亦因脾氣之虛以致邪水相犯然而脾氣之虛又因於胃氣之弱是脾陰之病即陽氣之衰也初起之時乘其陰氣之未虧即以牽牛甘遂二味各二錢治之水去如響又何水臌之難治乎至於陰虛而成水臌者雖亦是脾經之弱然非胃氣之衰蓋命門火衰無火以溫脾土以致水泛為痰留於胃脾之內漸侵入四肢非若水症之由外而內也法當用金匱腎氣丸補腎中之火以生脾胃之土而水自歸元終亦盡消烏有更有一種純是陰虛水亦上泛非腎火之不足者其症滿身流水囊大而不能臥大便如常小便亦利飲食知味者是法當用六味地黃湯一料煎湯恣飲自然奏功如神耳又不可不知之也</p>
<p><u>化蟲絕神丹</u></p>
<p>鱉甲（一斤）　地慄粉（一斤）　雷丸（二兩）　生何首烏（一斤）　甘草（三兩）　神麯（半斤）　榧子肉（半斤）　枳實（五兩）　檳榔（三兩）　使君子（三兩）各為末米飯為丸</p>
<p><u>開鬱消腫湯</u></p>
<p>柴胡（三錢）　白芍（五錢）　鬱金（三錢）　當歸（五錢）　紅花（五錢）　茯苓（五錢）　薏仁（二兩）枳殼（一錢）　甘草（一分）　陳皮（五分）　神麯（三錢）　半夏（一錢）水煎服</p>
<p><u>破血安全湯</u></p>
<p>大黃（一兩）　雷丸（五錢）　白朮（一兩）　枳實（二錢）　肉桂（二錢）　當歸（一兩）　牛膝（三錢）鱉甲（三錢）　人參（五錢）水煎服</p>

<h3>暑症</h3>
<p>暑症有中熱中暑之分大約中暑則陰症居多而中熱多是陽症何以辨之中暑之人半皆居於高堂大廈雖暑氣明是熱氣如何說是陰經之病不知陰氣之虛而後陽邪來犯仍作陰症治之其症必然腹痛頭暈吐瀉兼作甚則角弓反張霍亂吐瀉法當以健脾為主而佐之祛暑之藥實為得之方用卻暑仙丹倘角弓反張加入肉桂五分否則不可加也此治陰症之法如此若中熱陽症若何必得之肩挑負販之人於烈日火輪之下汗出如雨一時暴中當速以解暑為先而利水為次不可仍補其氣也方用化熱仙丹此方妙在亦用青蒿蓋青蒿最能去暑暑去而利其膀胱是暑從小便而出一劑而即愈也此治陽症之中熱又如此</p>
<p><u>卻暑仙丹</u></p>
<p>青蒿（五錢）　人參（三錢）　茯苓（三錢）　白朮（三錢）　香薷（一錢）　陳皮（五分）　半夏（五分）　甘草（五分）水煎服</p>
<p><u>化熱仙丹</u></p>
<p>青蒿（一兩）　香薷（三錢）　石膏（三錢）　知母（一錢）　麥冬（三錢）　甘草（一錢）　陳皮（一錢）車前子（五錢）水煎服</p>

<h3>喘症</h3>
<p>喘症之宜分別也喘症一時而來者感外來之風邪也必氣急不能喘息聲如酣聲肩必抬上背心寒冷熨之火而不見其熱吐痰如湧泉人不得臥此乃陽症之喘也用參蘇飲一劑而輕再劑而愈或用小柴胡湯加減用之亦無不奏功如響故不必更立方法也惟陰喘之症最為可畏而又最難治療也其症亦作喘狀人亦不能臥得食則少減太多則䐜脹咳嗽不已夜必更甚此等之喘乃似喘而非真喘氣之有餘實氣之不足也蓋腎氣大虛欲離其根惟此一線元陽挽回於臍之上下欲絕而不遂絕之時也法當大補其氣而竣補腎中之陰使木火既濟始可成功否則氣斷而速斃矣方用回絕神奇湯一劑而喘輕再劑而喘定一連四劑自有起色而後始可加入桂附之品少少用之不可多用以劫奪之也蓋氣絕非參不能回於無何有之鄉腎虛非熟地山藥不能濟其匱乏然腎虛之故終由於肺氣之虛肺氣既虛腎水不能速生故又助肺氣之旺而後金能生水子母有相得之宜自然肺氣下行而腎氣上接何至有喘病之犯哉</p>
<p><u>回絕神奇湯</u></p>
<p>人參（三兩）　熟地（四兩）　麥冬（三兩）　山茱萸（二兩）　玄參（一兩）　牛膝（一兩）　白芥子（三錢）水煎服</p>

<h3>中邪</h3>
<p>邪有陰邪有陽邪雖辨之不清無致大害然而亦不可不辨者辨之清用藥得當自然易於奏功也陽邪之中大約罵詈之聲不絕於口發狂而走不欲安靜或呼見大頭之鬼或喊見金甲之神眼直視而口吐白沫者是也倘以熱藥投之立時死矣法當用醒邪湯治之自愈或疑陽症而何以仍用陽藥不知陽藥可以祛陽邪非人參之助正氣則邪不能退也陰邪之中雙目必閉安臥無聲或自言自語聲必低微或遺尿手撒或痰響如酣或身子發熱不喜見明者是也倘以寒藥投之亦立時身喪法當用扶正蕩邪湯治之此方之妙妙在用人參為君而佐之生棗仁為臣棗仁生用實有妙理蓋中邪之病昏昏欲睡不以棗仁生用則其氣更昏而不能醒生棗仁得人參更有殊功所以相佐而相合也陰寒非桂附不能祛邪然非參苓甘術一派扶正之藥亦不能奪魂於俄頃返魄於須臾也論理此方去附桂亦可兼治陽症之中邪　終不若二方分治之更妙猶願人細為消息之耳</p>
<p><u>醒邪湯</u></p>
<p>人參（三錢）　石膏（一錢）　半夏（三錢）　菖蒲（一錢）　黃連（一錢）水煎服</p>
<p><u>扶正蕩邪湯</u></p>
<p>人參（三錢）　白朮（一兩）　附子（一錢）　半夏（三錢）　菖蒲（一錢）　茯神（五錢）　甘草（一錢）麥冬（三錢）　丹參（一錢）　當歸（五錢）　肉桂（一錢）　生棗仁（三錢）水煎服</p>

<h3>吐血</h3>
<p>吐血宜分陽症陰症者尤宜細辨蓋吐血犯人濁道不比衄血之犯清道也清道者氣道也濁道者食道也胃中無血而胃中有血吐血從口中而出者非胃中之血而何此血也因胃中有竅不閉而血乃妄行然而此血非止胃經一經之血也蓋心肝肺脾腎之血俱奔騰於胃腕之外而滲入於胃中胃不能藏所以上湧而吐也然五臟之血俱不可傷而腎經尤甚一傷腎則經年累月而不可止遏矣蓋胃為腎之關關門不閉而腎中之血自然上升於胃又理之易知者也然同是五臟之失血又何以辨其為陰為陽此又有故蓋吐血無火不能吐血而無水亦不能吐血也無火吐血人能知無水吐血人難測其故又何也吾先言其有火者胃本土也而實有火在胃無土氣則吐變為火火存胃中自然挾血而上奔此陽火之焚非水不能相濟然而血乃有形之物一時傾盆而出欲急補其水一時既難收功不得不益其氣使氣生夫血氣生則氣行氣行則血止實有妙理存乎其間其症必口渴齒痛喉干目赤身熱便可知為陽症之吐血也治之法須用獨參湯一兩飲之最妙其次莫若當歸補血湯之為更神倘二方之中能調之三七根末各三錢再加入荊芥炒黑者為末同前二方飲之立止斷不再吐無奈世人不知妙法使吐血者致成癆瘵未必非吾輩天醫過於珍重方法不肯傳人之咎也至於陰症何以辨之或一日而數口或經年而咳嗽或痰中見絲或夜重而日無血跡或聲啞而聲嘶者是也治之法又不可專用參歸黃耆之品當改用純陰之味世醫六味地黃湯加麥冬五味最為相宜但此等之病非一二劑可以速效人見六味湯之迂緩而無近功也往往棄而不用遂至輕變重而重變亡吾今憐惜酌定神方可以長服而不必如六味丸之必須服至三年也此方大半補陰少加陽藥以生胃氣又用歸經止漏之品以塞其竅較六味湯為更神且此藥味平妥無有動性蓋血症最惡動也</p>
<p>熟地（五錢）　山茱萸（三錢）　麥冬（五錢）　玄參（三錢）　天冬（一錢）　車前子（三錢）　荊芥（炒黑三分）　人參（三分）　山藥（五錢）　薏仁（一兩）　百合（五錢）　三七根（末五分）水煎服</p>

<h3>夢遺</h3>
<p>夢遺之症十人常患六七人有此病半如廢人蓋腎不可瀉而可補如何可終日而自瀉之也此病之必須速愈而不可因循失治致成終身之漏卮也但其症有陰虛陽虛之分不可不辨不知陰陽而妄治之多見其寡效也陽虛之症氣必寡弱而陽痿往往見色倒戈一入夢中又偏鼓往直前而不肯已其先亦必見色而思慕容而視身不能竊而魂隨夢遊遂成此症當時即用補陽丘澀之藥亦易成功而無如人以為夢耳何足憂一而再再而三三而至四至五而玉關不閉矣余今傳一方最簡最易一劑輕三劑全愈至神之方不可思議者也如若初起之時一劑永不再發倘能消息吾方改劑為丸日服一兩亦奏奇功讀書之子當奉我為救命之神也至陰虛夢遺又復不同往往有絕非思想而夜間亦遺者此必天稟素虛又加色欲或看春圖而摹擬或讀野史而怡神或陶情花柳而娛色以至玉關不鎖見色則流聞聲則泄擦皮肉而輒遺終日呻吟全無健色當大補真元扶助命門之火始可回陽光之離照祛陰蕩之群魔閉其關門增其精水不必止遏而精自止也方名壯陽止精湯此方雖名壯陽而實補腎水止用巴戟以溫暖命門之火使水足以相濟而精自收攝於腎宮而不外遺此不止精而正所以止精也倘徒以牡蠣金櫻子之類以止澀其精而不補其腎中之水火吾日見其消亡而已矣</p>
<p>芡實（一兩）　山藥（一兩）　人參（五分）　蓮子（三十個連心用）　生棗　水煎服</p>
<p><u>壯陽止精湯</u></p>
<p>熟地（一兩）　山茱萸（五錢）　山藥（三錢）　炒棗仁（五錢）　芡實（五錢）　人參（五錢）　巴戟天（三錢）　車前子（三錢）　北五味（一錢）　麥冬（三錢）　柏子仁（一錢）　白芥子（一錢）水煎服</p>

<h3>吞酸</h3>
<p>吞酸之症皆肝木之凌土也何以有陰陽之殊哉不知肝經雖屬陰然肝中有火以克脾克胃而陰陽遂分之矣大約脾受肝火之侵多屬於陰胃受肝火之犯多屬於陽耳犯於陽者心中嘈雜如火之焚燒飲之水而輒吐吐水必黃綠之色如醋之酸而不可聞者是也方用解酸湯治之此方之妙皆舒肝之聖藥而又解其火鬱之氣自然手到功成也侵於陰者雖胸中作酸而不甚今日食之必至明日吞酸而不可咽口雖作渴飲之水而酸更加吐出必純是清水可用熱物而不可用涼物者是也方用八味地黃丸實與症相宜然而丸方終不及煎方之速吾今定一方治陰症之吞酸有奇功也方名補陰化酸湯一劑少輕二劑即愈此方之妙妙在健脾多於補腎蓋脾健則水濕自去邪水既去而真水自生腎水行於脾之中脾氣即通於胃之上又何至胃口之寒出於吞酸而作吐乎倘不知補脾於腎中而惟圖止酸於胃上勢必變為反胃而不可止也</p>
<p><u>解酸湯</u></p>
<p>柴胡（二錢）　白芍（五錢）　蒼朮（五錢）　炒梔子（三錢）　茯苓（五錢）　陳皮（一錢）　厚朴（一錢）　神麯（一錢）　砂仁（三粒）　枳殼（五分）　香附（二錢）水煎服</p>
<p><u>補陰化酸湯</u></p>
<p>肉桂（五分）　熟地（五錢）　山藥（一兩）　山茱萸（三錢）　芡實（五錢）　陳皮（五分）　薏仁（五錢）　車前子（三錢）　附子（一錢）　人參（五錢）　白朮（五錢）　白芥子（三錢）水煎服</p>

<h3>腰痛</h3>
<p>腰痛多是腎病然而腰痛不止腎病也腎病固是陰虛而腎病亦有陽虛者陽虛之病腰必冷氣如冰見寒則痛必甚不可俯仰食涼水冷飯之類必然痛甚而不可止陰虛之病痛雖甚而不十分冷飲涼茶食冷飯而亦不十分大痛以此分別陰陽實為得要而治之法亦少有微異也吾今立一方統治之各略加減無不神效名為健腰散陽虛者加肉桂一錢陰虛者加熟地一兩各照方服之病各全愈大約不必用至四劑也惟有一種陽症腰痛人最不知其故一時風濕驟侵腰痛不能轉側打恭作揖如千錢繫腰一般陽氣有餘而風邪作祟法當祛邪消濕其病立痊方用祛蕩湯一劑輕二劑病如失此方純去祛風蕩濕而又不損其正氣所以稱神而奏功愈奇也若錯認作虛症而用熟地補水之劑則濕以惡濕邪留腰脊而不去必成傴僂之症倘已成傴僂吾有奇方可以漸起之日服一劑三月傴僂可以起立神方也</p>
<p><u>健腰散</u></p>
<p>白朮（二兩）　薏仁（二兩）水煎服</p>
<p><u>祛蕩湯</u></p>
<p>澤瀉（三錢）　防己（一錢）　柴胡（三錢）　白朮（五錢）　甘草（一錢）　蒼朮（三錢）　薏仁（三錢）豨薟草（二錢）　半夏（二錢）水煎服</p>
<p><u>後方</u></p>
<p>薏仁（一兩）　白朮（二兩）　黃耆（一兩）　防風（五分）　豨薟草（二錢）　肉桂（五分）　茯苓（五錢）水煎服</p>

<h3>霍亂</h3>
<p>霍亂之症乃感暑熱之氣也因人之陰陽有虛有實而症遂分之矣大約霍亂雖有乾溼而犯暑邪則一也宜別其陰陽之虛實以用藥耳陽症之霍亂腹必大痛欲死而手足不致反張或吐而不瀉或瀉而不吐或吐瀉交作不可止抑不比陰症之欲吐而不能欲瀉而不得也方用香薷飲治之最佳然而香薷飲為世人妄用不知遵守我今重定香薷之飲一方蓋香薷性熱必熱藥冷飲始能順其性而奏功也我所定方與世上之香薷飲各有不同然而吾方實異於世人所定之方也凡遇暑天而患霍亂者用吾方煎飲無不下喉即定耳至於陰症霍亂此方亦可並用但宜加入人參三錢或二錢或一錢煎服亦佳但不可一氣服之必須緩緩呷之則暑氣自消而正氣來復非吐則瀉便慶回春矣設更用桂附熱劑以劫之雖亦有一時奏功者而亂定復亂往往變生他症又不可不知也</p>
<p>香薷（三錢）　白朮（三錢）　陳皮（一錢）　神麯（一錢）　厚朴（一錢）　茯苓（三錢）　藿香（五分）砂仁（一粒）煎湯候冷飲之</p>

<h3>生產</h3>
<p>生產如何有陰陽之分如陰虛不能產即陽虛不能產也但何以辨其陰陽之虛也陽虛者氣虛下陷而漿水必然乾枯往往有不能轉頭而即欲產者倘以手腳先下此至危之症或用針刺兒之手足未為盡善必須多用參耆使氣足而兒身自能轉動不可止見其漿水之乾枯而徒用滑胎補水之藥以濡潤之也方用救胎兩全散一劑兒身即時活動二劑而兒頭到門立產矣蓋參耆原是純於補氣之藥二者同用更見奇功況又各用至二兩之多則氣生於無何有之鄉母健而子自不弱自然勇力出於尋常而轉身甚速也尤妙加升麻三分以少提其滯氣氣不滯而生產更自神奇也若陰虛不能產者又從何辨之兒頭業已到門而交骨不開水自然不能推送以至於此非大補其水又何以推送之易乎方用順推散一劑而交骨一聲響亮兒頭竄出而生矣倘兒頭先不到門此方萬不可加柞木以輕啟其門戶也切戒之戒之蓋當歸川芎原是補血之神品而柞木又是開關之聖藥自然相合而成功也倘舍此不用而徒用催生兔腦之丹恐徒取敗亡而已矣</p>
<p><u>救胎兩全散</u></p>
<p>人參（二兩）　黃耆（二兩）　升麻（三分）水煎服</p>
<p><u>順推散</u></p>
<p>當歸（二兩）　川芎（一兩）　紅花（五錢）　柞木枝（五錢）　益母草（三錢）水煎服</p>

<h3>小產</h3>
<p>小產多是陰陽之虛而又加好色以至胎動不安少有所觸使至墮落矣然則不急補其陰陽之氣血又何以安其胎乎但陽衰之症從何而辨其婦必然嗜臥懶於下床少若起居之勞倦便覺心煩頭暈飲食少思者是也方用安胎上聖湯一劑即安二劑不再動矣多服尤妙然亦不必至十劑也陰虛而動者人必瘦弱或夜熱而晝寒或夜有汗而晝無汗皮焦骨熱咳嗽時見者陰虛也方用養陰安胎湯此方專治陰水之虛而少佐之補陽之品前方純乎補陽而少佐之補陰之味總使陰陽不可偏勝而調濟之不可失宜也後方大約服四劑自然胎安如肯多服尤佳亦聽病人之意而醫者不必過強之也</p>
<p><u>安胎上聖湯</u></p>
<p>人參（三錢）　白朮（五錢）　山藥（五錢）　茯苓（二錢）　黃耆（五錢）　甘草（一錢）　杜仲（二錢）白扁豆（三錢）　麥冬（三錢）　北五味（一錢）水煎服</p>
<p><u>養陰安胎湯</u></p>
<p>熟地（五錢）　山藥（一錢）　茯苓（一錢）　山茱萸（二錢）　枸杞（一錢）　杜仲（一錢）　白朮（二錢）　陳皮（五分）　當歸身（三錢）　人參（五分）水煎服（倘熱甚加黃芩一錢不熱不必加也）</p>

<h3>產後</h3>
<p>產後以大補氣血為主補氣血即補陰陽也然而產後又不可徒補氣血而不分陽盛陰衰陰盛陽衰而概用補劑也如產後身熱血暈此氣衰不能生血以致血暈不可止補血而尤宜補氣當用人參為君而佐之當歸川芎荊芥為妙如產後兒枕作痛手不可按而血暈此乃血氣有餘以致陽衰不能運動亦用前方加山楂十粒便可奏功惟有亡血過多僅存微氣或作寒作熱必須大補其血而少補之以氣為得方亦用前湯以當歸川芎為君臣以人參荊芥為佐使未嘗不可一劑奏功也產後原有專門吾所以止言大概大約陰虛者夜必沉困陽虛者日必軟弱耳以此用藥更為得宜汝再廣之可耳</p>

<h3>子嗣</h3>
<p>子嗣之當分陰陽也天師與仲景張公定方於從前而雷公又發明之於後吾可以不必再言之矣然而何故又言之耶蓋陰陽偏勝終難生子徒服溫補之品亦復何益必須知其陽虛者補陽陰虛者補陰庶幾陰陽兩得其平有子之道也如見人見色倒戈望門流涕正戰而興忽闌或欲再舉而終不振此陽氣之衰微又何疑哉方用扶弱丸以助之每日酒送下六錢或一兩服三日陽事振作非復從前之衰憊矣然三日之中母染色欲吾方始見神奇倘一犯吾禁止可少助其半而不能大改其觀非我傳方之不精也陰虛不能生子者又不可服此藥陰虛者必然多火火之有餘水之不足熬干陰精泄亦不多或太熱而驚其胞或水少而難於射或夜熱骨蒸汗出亡陰皆不能生子吾今立一方如法修合終日吞嚥必能生子每日早晚吞下五錢或一兩亦可多之更美服至三月半年未有不生子者二方各有至理各有奇功要在人分別陰陽以為種玉之丹也</p>
<p><u>扶弱丸</u></p>
<p>人參（六兩）　白朮（一斤）　黃耆（二斤）　巴戟天（半斤）　肉桂（三兩）　鹿茸（一對）　遠志（三兩）　覆盆子（四兩）　柏子仁（三兩）　熟地（半斤）　北五味（三兩）　山茱萸（六兩）　肉蓯蓉（一支）　龍骨（二兩）　杜仲（四兩）　驢鞭（一具大而壯者佳）　麥冬（四兩）各為末蜜為丸酒送下（每日或服六錢或一兩）</p>
<p><u>後方</u></p>
<p>熟地（一斤）　地骨皮（一斤）　天門冬（半斤）　麥冬（一斤）　山茱萸（一斤）　芡實（一斤）　山藥（一斤）　玄參（四兩）　北五味（三兩）　車前子（四兩）各為末蜜為丸</p>

<h1>卷之二（亨）</h1>

<h2>虛症實症辨</h2>

<h3>咳嗽</h3>
<p>咳嗽之宜辨虛實也初嗽之時多是實久嗽之後多是虛肺主皮毛一感風寒便成咳嗽痰氣住於胃腕之間而不得散鼻塞流涕而不已其咳嗽之聲必響其吐痰亦必或黃或綠重且身熱而喉痛嗑干胸中膨悶而不可解此皆邪氣之實也若以為□□□□劑則邪未散而氣更壅滯矣故初起之□□□□風藥解散為第一惟世人治嗽實多其方□□□□者無幾也吾今酌定一方可以為永遠之□□□□名寧嗽丹此方祛風祛痰又不耗氣治初起之咳嗽殊有神功大約二劑無不愈者此治實症之咳嗽人倖存而收之又何必用柴胡防風過於消散哉至於肺虛嗽症非脾胃之虛即腎肝之涸也咳嗽至於日月之久若有風邪即不服藥亦宜自散今久而不愈因脾氣不健土不能生肺金則邪欺肺氣之無親況土虛則肝木必然過旺又來克脾而金弱不能相制則邪氣無所顧忌盤踞於肺中而不去或日久而成嗽也然何以知其脾氣之虛以致其久嗽之不已論其飲食則能食而不能消口欲餐而腹又飽或溏瀉而無休或小便之不謹皆是脾虛作嗽也法當用培土之味而益之止嗽之品方名土金丸每日白滾水送下五錢半料即全愈此方全不治嗽而嗽自安蓋健脾之氣而肺氣有養邪自難留故不止嗽而嗽自已也肝經之虛以致久嗽者何故肺金本克肝木肝木之虛肺金免乎制伏宜於肺氣之有養矣何得反致咳嗽不知肝木之氣必得肺金之制而木氣始能調達今因肝木素虛而風又襲之筋不能疏益加抑鬱而不伸此咳嗽之未能痊也法當舒肝中之郁滋肝中之津而金氣始能彼此之相通而不致上下之相隔庶幾嗽有止時也然而肝虛之症又從何而辨之問其人必兩脅作脹悶之狀或左邊之疼痛而手不可按或面目之青黑而氣無開或胃脘作酸而欲吐或痰結成小塊而咽在喉嚨或逢小怒而咳嗽更甚此皆肝虛咳嗽之病也世人治肝經之咳嗽原無方法動以老痰呼之誤之甚矣吾今立一方專治肝虛作嗽之症神效之極方名木金兩治湯此方之妙全去舒肝而不去治肺蓋久嗽則肺氣已虛何可又虛其虛故不用風藥以散肺金之氣也然則何不補肺金之氣耶不知肝虛所以久嗽若又去助肺則仍又致肝木之不得伸何若竟補肝舒木之為得耶況方中祛痰祛風於表裡膽膈之間又未嘗不兼顧肺邪也此方之所以神而妙耳腎虛之嗽更自難明肺為腎之母子母相戀豈有相忌而作嗽之理殊不知肺金之氣夜臥必歸息於腎宮所謂母臟子舍也今肺金為心火風邪所凌逼既無衛蔽勸解之人又無祛逐戰爭之士束手受縛性又不甘自然投避子家號召主伯亞旅以復其仇子母關切安忍坐視自然統領家人騰上祛邪無奈強鄰勢大賊眾瞞天而其子又國衰民弱不能拒敵逃竄披靡肺金之母不得已仍回己家而腎宮子水敵既未除而家人星散亦且民作為盜不復仇而反助仇矣於是水化為痰終年咳嗽而不能愈也法當專補腎水而兼益肺金之氣其症始可安然然腎虛作嗽之症若何辨之飲食知味可飲可食全無相礙惟是晝輕夜重夜汗則淋漓或夜熱之如火或聲嘶而口不幹或喉痛而舌不燥痰涎純是清水投之水中而立化或如蟹之涎純是白沫皆腎虛咳嗽之症也論方莫妙用八味地黃湯去桂附加麥冬五味大濟煎飲必能奏功如響然而可作丸而不可作湯誠恐世人不知倦於修合吾今另定奇方可代地黃之湯也方名水金兩治湯此方奇絕補腎補肺而又加去火之劑使骨髓之虛火皆安又何慮外邪之相犯腎中不熱則水氣相安自然化精而不化痰況方中又有薏仁車前以利其膀胱之氣分消敗濁而精益能生非漫然而用之也願人加意吾方以治腎虛之咳嗽又奚至經年累月受無窮之累哉</p>
<p><u>寧嗽丹</u></p>
<p>甘草（二錢）　桔梗（三錢）　黃芩（一錢）　陳皮（一錢）　天花粉（二錢）　麥冬（三錢）　蘇葉（一錢）水煎服</p>
<p><u>土金丸</u></p>
<p>白朮（三兩）　茯苓（三兩）　甘草（一兩）　人參（一兩）　半夏（一兩）　桔梗（一兩）　白芍（三兩）麥冬（三兩）　乾薑（一兩）　神麯（五錢）　陳皮（五錢）　薏仁（三兩）各為末蜜為丸</p>
<p><u>木金兩治湯</u></p>
<p>白芍（一兩）　當歸（五錢）　柴胡（三錢）　炒梔子（二錢）　蒼朮（二錢）　甘草（一錢）　神麯（一錢）　白芥子（三錢或五錢）　防風（五分）　枳殼（五分）水煎服</p>
<p><u>水金兩治湯</u></p>
<p>熟地（一兩）　山茱萸（五錢）　麥冬（一兩）　北五味（三錢）　車前子（三錢）　薏仁（一兩）　玄參（三錢　）地骨皮（五錢）　牛膝（二錢）水煎服</p>

<h3>喘症</h3>
<p>喘症之有虛實也喘症遇風而發此實邪也可散邪而病輒愈其症喉作水雞聲喘必抬肩氣悶欲死視其勢若重而其症實輕蓋外感之病而非內傷之患也方用射干止喘湯一劑即愈不必再劑也此方雖皆祛邪散風之品而有補益之味以相制邪去而正氣無虧倘無補味存乎其中但有散而不補風邪雖去喘亦頓除後日必有再感之患不若乘其初起之時預作綢繆之計也至於虛喘若何口中微微作喘而不至抬肩蓋短氣之症似喘而非喘也問其症必有氣從臍間上衝便覺喘息不寧此乃腎虛之極元陽止有一線之微牽連未絕而欲絕也法當大補腎宮之水而兼補元陽之氣則虛火下潛而元陽可續方用生水歸源散此方神而更神此等之病非此等之方不能回元氣於將亡補真水之乘絕一劑而喘輕再劑而喘定三劑四劑而安寧矣庶幾身可眠而氣無上衝之患矣倘不用吾方自必斃或少減乃亦能奏效然而曠日遲久徒增困頓與其後日多服藥餌過於吾方之多何若乘其初起之時即照吾定之方而多與之痛飲能去病之為快哉</p>
<p><u>射干止喘湯</u></p>
<p>射干（二錢）　柴胡（一錢）　麥冬（三錢）　茯苓（三錢）　半夏（三錢）　甘草（一錢）　天花粉（一錢）　黃芩（一錢）　蘇子（三錢）　百部（一錢）水煎服</p>
<p><u>生水歸源散</u></p>
<p>熟地（三兩）　山茱萸（一兩）　人參（三兩）　牛膝（五錢）　麥冬（三錢）　車前子（五錢）　北五味（三錢）　胡桃仁（五個）　生薑（五片）水煎服</p>

<h3>雙蛾</h3>
<p>雙蛾症之虛實從何辨之大約外感者為實內傷者為虛而外感內傷又從何而辨之大約外感者鼻必寒舌必燥身必先熱而後寒痰必黃而白目必赤而浮此邪氣之實也用殺蛾丹治之用鵝翎吹入喉中必吐痰涎碗許而愈神方也內傷者雖同是為蛾喉腫而日間少輕痰多而舌必不燥吐痰如湧泉而下身必畏寒兩足必如冰冷此正氣之虛也用八味湯必然奏功吾今更定一方名為三陸同補湯此方之妙妙在水中補火水足而肺經有養亦火溫而土氣有生則肺經兼有養也況方中原有生肺之品而肺金有不安寧者哉肺腎脾三經俱安則邪何所藏自難留戀於皮膚之內邪退而腫自消雙蛾頓失其形真有莫知其然而然者矣</p>
<p><u>殺蛾丹</u></p>
<p>硼砂（一分）　丹砂（三分）　牛黃（一分）　冰片（一分）　兒茶（一錢）　麝香（一分）　石膏（一錢）各為絕細末</p>
<p><u>三陸同補湯</u></p>
<p>熟地（一兩）　山茱萸（五錢）　麥冬（一兩）　北五味（二錢）　薏仁（一兩）　肉桂（二錢）　人參（一錢）　白芥子（五錢）茯苓（五錢）　白朮（五錢）　水煎服</p>

<h3>目痛</h3>
<p>目痛有虛有實實痛之症必然紅腫流淚結眵或如錐傷或如砂入羞明喜暗見日光而如觸對燈影而若刺起障生星發寒發熱吐痰吞酸大便實而小便黃此皆邪火之實症也治之法必須散邪解熱祛痰為主倘遽以補藥為先愈助其火勢之焰痰且不得消而邪且不易散方用瀉火全明湯治之此方之妙妙在用玄參之多以解散浮游之火而各藥無非入肝舒木之品去濕熱而除風邪消痰結而培土氣不治目而正所以治目也虛痛之症色必淡紅即紅而亦不甚痛雖羞明而無淚雖畏明而無星大便如平時小便必清長有痰亦不黃畏寒而無涕此腎肝之虛症也治之法必須補水舒肝為主倘然以逐邪散火為先勢必輕變重而重必變盲矣方用溫補救目散治之此方肝腎兩補而尤注意於肝雖肝木之枯由於腎水之竭以致肝木不能養目然而肝氣雖必得腎水以相資必竟目為肝養補肝則目自然有光故補腎尤須補肝之為先也世人治虛眼之方原無佳法一見目痛動以風藥治之往往壞人之目倘聞吾之教而辨其虛實毋論或先或後實者用前方虛者用後方則目病必能隨手回春何致有失明之嘆哉可見虛實之必宜辨明而用藥之不宜少差也</p>
<p><u>瀉火全明湯</u></p>
<p>柴胡（二錢）　草決明（三錢）　甘菊花（二錢）　玄參（五錢）　炒梔子（二錢）　甘草（一錢）　天花粉（三錢）　白芍（三錢）　澤瀉（一錢）　車前子（一錢）　龍膽草（一錢）水煎服</p>
<p><u>溫補救目散</u></p>
<p>熟地（五錢）　當歸（五錢）　白芍（一兩）　山茱萸（五錢）　甘菊花（五錢）　葳蕤（五錢）　枸杞（三錢）　薏仁（五錢）　柴胡（五分）　車前子（二錢）　白芥子（二錢）水煎服</p>

<h3>吐症</h3>
<p>吐症之虛實尤不可不辨不知虛實而輕用藥餌死亡立刻可不慎歟吐有朝吐暮吐飽吐飢吐蟲吐水吐之異朝吐者陽氣虛也暮吐者陰氣虛也飢吐者邪火之實也飽吐者寒邪之實也蟲吐者有虛有實虛則寒而實則熱也水吐者吐黃水為實吐清水為虛也朝吐之病乃頭一日之食至朝而盡情吐出也此乃陽氣之虛陽氣者乃腎中之陽氣虛而非脾陰之氣虛也若徒以人參白朮以健其脾氣亦終年累月而寡效不助其腎中之火則釜底無薪又何以蒸夫水穀此其症胃氣不弱故能食之以藏於胃中而胃既藏一宿自當轉輸於脾矣而脾寒之極下不能化自然仍返於胃而胃不肯受而上反而出矣倘認之不清皆為胃氣之弱仍用參耆之類則胃益健而脾之寒虛如故何能使之下行哉況脾氣既寒下既不能推送則大腸久無水穀之養亦且縮小即或脾有殘羹剩汁流入大腸而大腸乾枯亦難潤導勢不得不仍返之於脾而脾仍返之於胃而胃仍返之於咽喉而上出矣治之法急於腎宮溫之方用八味地黃丸大劑煎服始能水中生火以煮土中之穀氣脾土熱而傳化亦易且大腸得腎水之滋潤則水穀亦可下達矣暮吐者朝食而即吐也亦有隨食而隨吐者此乃陰水衰之故胃中無液不能潤喉所以水穀下咽便覺棘喉故隨食而隨吐或朝食而暮吐也倘亦以胃之虛而錯用健脾開胃之劑愈助其火勢之炎蒸而食轉不能下咽矣法當用六味地黃丸湯大劑煎服或四物湯加人尿人乳亦大劑煎服庶幾可愈否則徒自苦而已矣飽吐者因先有風邪入於胃中飲食入胃而胃氣得飲食之勢難與邪氣相戰故一湧而出往往有一吐而病自愈者所謂吐之即發之也吐後用二陳湯加減調治之亦未為不可至於飢吐者腹中無食何以作吐蓋寒邪入腹挾腎水上凌於心驅其火而外出也此乃至危之症然而寒邪挾腎水而上衝者飽時亦有此病終不若飢時之吐為更重法當以熱藥溫之方用理中湯溫其命門之火健其脾胃之土使元陽無奔越而厥逆有返還之慶也蟲吐之症雖有虛實寒熱之異而蟲吐則一也吾定一方專治蟲而加減之可通治蟲吐矣方用定蟲丹服後萬不可飲之茶水約二時可飲矣此方乃殺蟲之聖藥而又不十分耗氣所以飲之而蟲死而痛亦隨之而定也水吐之病吐清水者乃脾氣之寒虛不若吐黃水者胃氣之實熱也故最宜辨清喻嘉言謂吐清水者有水窠之異不然何以吐水而絕不吐食耶其言則是而看症實非胃口之中那有更生一窠囊之理不知脾氣寒虛則水不能分消專聚於脾而不知一經氾濫則傾腸而出而胃中糟粕何以絕無此又有故存焉蓋胃氣之行原稟令於脾土裡病而表亦病脾病而胃亦病也脾之水既然上溢胃之水亦必然上行脾之氣使糟粕不出胃之氣亦使糟粕不出也喻生不知其妙以物理窺臟腑淺哉之見也此等之病必須健脾而加之重墮之品而不可單尚塞竅之藥以專恃乎阻抑之也方用遏水丹一劑而吐止再劑而全愈三劑而吐不再發蓋人參補氣而白朮止水二味原有奇功況又加茯苓等類以分消其水勢之滔天又用鹿角霜以止流而斷路又何至上吐之奔越哉</p>
<p><u>定蟲丹</u></p>
<p>白芷（一錢）　苦楝根（二錢）　枳殼（一錢）　使君子（十個槌碎）　檳榔（一錢）　甘草（一錢）　白薇（三錢）　榧子肉（三錢槌碎）　茯苓（三錢）　烏梅（三個）　水煎服如熱加黃連（一錢）　寒加乾薑（一錢）　實加大黃（二錢）　虛加人參（三錢）</p>
<p><u>遏水丹</u></p>
<p>人參（一兩）　白朮（二兩）　茯苓（一兩）　肉桂（一錢）　乾薑（二錢）　鹿角霜（一兩）　水煎調鹿角霜末服</p>

<h3>瀉症</h3>
<p>瀉症多虛亦未嘗無實瀉也實瀉之症腹痛多不可手按完穀不化傾腸而出糞門之邊覺火毒燒焚裡急後重與痢疾正復相似但無魚凍瘀血而已此乃火勢借水橫行土隨水轉翻江破海而來其勢難於止抑投之茶水立時俱下投之米食即速傳出仍如故物似乎膀胱不化而脾胃無權大小腸盡行失令苟不治之得宜三晝夜必然歸陰此等之症萬中見一原不必細辨然世既有此病之一種吾又何可置而不論世人用脾約丸亦佳而終非一定不可移易之方吾今特傳一方以治此症神驗之極方名收脾湯先服未有止勢再服之無不止者神方也其虛症之瀉或脾瀉或腸瀉或腎瀉三症大約可包而治之法亦不相遠惟是腎經之瀉不特不可止水而兼且必須補水以止瀉人實難知非補水可以止瀉蓋水必得火而後能生補水者又不可不補火也補火者補命門之火也火在水之中徒補火則火且飛揚不能止瀉必於水中補火則火得水而生而水得火而止其中實有至理非漫然好辨也但脾瀉腸瀉與腎瀉從何以辨其虛實哉脾瀉之虛腹喜溫而不喜冷飲食能食而不能化面色痿黃手足懶惰此脾瀉之虛症也方用燥脾止流湯方中純是健脾去濕之品投脾之所好土旺而水自歸元也腸虛之瀉腹中時時雷鳴或作水聲大便不實小便清長者是此等之病亦要健脾助氣為妙而佐之實腸之品則瀉可除而腸之氣又旺可以傳導水穀也方用補腸至聖丹此方之妙妙在鹿角霜下行而固脫然不佐之人參健脾之藥雖用鹿角霜仍是徒然止脫而終不能生氣於絕續之時挽回於狂瀾無砥柱之地也腎虛之瀉必於夜半子時或五更前後痛瀉三四次五六次不等日間仍然如病人者此是腎瀉名為大瘕瀉也倘徒以脾胃藥止之斷不能愈必須用熱藥以溫其命門為妙方用溫腎止瀉湯此方雖補腎而仍兼補脾補腎以生其火補脾以生其土火土之氣生寒水之勢散自然不止瀉而瀉自止也</p>
<p><u>收脾湯</u></p>
<p>黃連（五錢）　山藥（一兩）　薏仁（五錢）　車前子（五錢）　茯苓（五錢）　人參（五錢）　肉桂（五分）水煎好用米糕粉炒熟調服之</p>
<p><u>燥脾止流湯</u></p>
<p>人參（五錢）　山藥（一兩）　芡實（一兩）　澤瀉（二錢）　吳茱萸（五分）　炒乾姜（五分）　茯苓（五錢）神麯（五分）水煎服</p>
<p><u>補腸至聖湯</u></p>
<p>人參（三錢）　茯苓（五錢）　薏仁（一兩）　芡實（五錢）　肉桂（一錢）　山藥（一兩）　鹿角霜末（五錢）水煎湯調服</p>
<p><u>溫腎止瀉湯</u></p>
<p>白朮（三錢）　茯苓（三錢）　熟地（八錢）　附子（二錢）　肉桂（二錢）　車前子（二錢）　北五味（三錢）　山茱萸（五錢）　山藥（一兩）　薏仁（五錢）　巴戟天（五錢）水煎服</p>

<h3>頭痛</h3>
<p>頭痛有虛有實實痛易除而虛痛難愈實痛如刀劈箭傷而不可忍或走來走去穿腦連目連鬢連齒而痛風痰壅塞於兩鼻之間面目黎黑胸膈飽脹叫喊號呼皆實症也倘以為虛而用補陽之藥轉加苦楚必以散邪去火為先而病始可去方名升散湯此方全是發散之藥必須與前症相同者方可用二劑而病去如失否則未可輕投也至於虛症頭痛有陽虛陰虛之分陽虛者脾胃之氣虛陰虛者肝腎之氣虛也脾胃之氣虛者或瀉後得病或吐後成災因風變火留戀腦心以致經年累月而不效方用補中益氣湯加蔓荊子一錢半夏三錢一劑而痛如失陰虛者腎肝之氣不能上升於頭目而顛頂之氣昏暈而頭岑岑欲臥或痛或不痛兩太陽恍若有祟憑之此症若作陽虛治之不特無效而且更甚往往有雙目俱壞而兩耳俱聾者可慨也方用肝腎同資湯一劑而暈少止再劑而暈更輕四劑全愈此方妙在肝腎同治少加入顛之藥陰水既足肝氣自平肝氣既平火邪自降設不如此治法徒自於頭痛救頭風邪未必散而正氣消亡必成廢人而不可救矣</p>
<p><u>升散湯</u></p>
<p>蔓荊子（二錢）　白芷（二錢）　細辛（一錢）　藁本（五分）　半夏（三錢）　甘草（一錢）水煎服</p>
<p><u>肝腎同資湯</u></p>
<p>熟地（一兩）　白芍（一兩）　當歸（一兩）　川芎（一兩）　細辛（五分）　郁李仁（五分）　白芥子（五錢）水煎好半鍾加入酒一碗其飲</p>

<h3>臂痛</h3>
<p>臂痛雖小症而虛實宜分蓋此等之症最難辨也實症若何其痛長長在於一處皮毛之外但覺苦楚按之痛更甚口渴便閉此實邪也用搜風散火祛痰之味自然有效苟若不然更添疼痛吾以外祛湯治之一劑而痛輕兩劑而痛減三劑而痛愈使邪從外入仍從外出也虛症若何其痛不定或走來而走去或在左而移右捶之而痛減摩之而痛安或作磈而現形或生瘢而見色口必不渴而痰結更深腸必乾枯而溺偏清白此真氣之虛而痰氣壅滯固結而然也若用祛風之劑而身原無風或用祛火之藥而體非實火即用消痰之劑而正氣既虛痰亦難去必須用健脾補腎之藥而後佐之去風去火去痰之品自然手到病除也方用衛臂散此方全不去治臂痛而單去滋肝益腎水木有養自不去克脾脾氣健旺自能運動四肢何致有兩臂之痛哉</p>
<p><u>外祛湯</u></p>
<p>白朮（五錢）　防風（三錢）　炒梔子（三錢）　荊芥（三錢）　半夏（三錢）　烏藥（三錢）　甘草（一錢）　白芍（三錢）　水煎服</p>
<p><u>衛臂散</u></p>
<p>黃耆（一兩）　當歸（五錢）　防風（一錢）　白芥子（三錢）　白芍（五錢）　茯苓（五錢）　熟地（五錢）　枸杞子（三錢）　薏仁（三錢）水煎服</p>

<h3>足痛</h3>
<p>兩足之痛亦有虛實其症與兩臂相同而少有異者蓋足居下流多感水濕之氣實症之生必為水腫按之皮肉如泥者是也虛症之生雖感水氣而不致腫脹之如泥骨中作酸時痛時止久之膝大而腿脹者是也實症宜瀉其水用牽牛甘遂各二錢煎湯服之即時獲效正不必俟其大腫而後治之也虛症不可瀉水宜補其氣而兼利濕溫其火而帶治其風之為得也方用顧足散此方之妙妙在用氣分之藥以壯其氣氣壯而後利水則水自出而邪自難留也</p>
<p><u>顧足散</u></p>
<p>黃耆（一兩）　薏仁（一兩）　芡實（五錢）　白朮（一兩）　車前子（五錢）　肉桂（五分）　防風（五分）　茯苓（五錢）　白芥子（五錢）　水煎服</p>

<h3>齒痛</h3>
<p>齒痛人之最小之疾也然不得其陰陽之道最不能愈而最苦也齒之部位不同有臟腑之各屬然而各分臟腑之名目反致炫惑不若單言陰陽易於認識雖然陰陽終於何而辨之仍亦辨之臟腑而已矣大約陽症之痛多屬於陽明胃經之火此火多是實火發作之時牙床必腫口角流涎喉嚨作痛欲食甚難不食作痛汗出而口渴舌燥而便閉倘以補陽補氣之藥祛風殺蟲之方治之多有不效即或少有效驗亦隨止而隨痛牽連作楚者比比也法當用竹葉石膏湯一劑而痛輕二劑而全愈不必三劑也至於虛症之痛多是腎經之病腎水熬干腎火上越齒乃骨之餘骨髓無腎水以相資使致齒中作痛倘亦以祛風散火殺蟲之品急救之不特無濟於事而痛且更甚從前或一齒之痛後必上下之齒全痛矣法當用六味地黃湯加麥冬五味骨碎補治之一劑而痛失真奇異之法也二方治虛實之齒痛實為至妙惟是蟲牙作祟不可拘於虛實之分以五靈脂為細末先以淨水嗽口後以醋調靈脂含漱多時立時蟲死而痛除又不可不知也</p>

<h3>心痛</h3>
<p>心痛之宜辨虛實也古人云痛無補法是痛不可以虛實言也然虛可補而實可瀉心痛言虛實即宜言補瀉矣人恐不相信不知心痛有可補之道人未之知也如心痛之時晝夜呼號飲食難進此實火也斷斷不可用補一補而痛必更甚必有死亡之禍然而能於補中瀉火亦未嘗不可卻病蓋補正氣少而去火之藥多又何患乎補也方用先攻散治之一劑即止痛神方也論此方有白芍之酸收似乎不宜治火痛之心病誰知梔子枳殼貫眾各皆祛火散邪之藥而無芍藥以調和之則過於殺伐未必不使窮寇之死鬥妙在用芍藥以解紛則剿撫兼施實有人謀不測之機也至於可補之心痛亦因其虛而可補故補之也其痛必時重而時輕喜手按而不喜不按與之飲食而可吞此痛名為去來痛也去來痛原是虛症豈可執痛無補法而不用純補之藥哉吾今立一方名為消痛補虛飲一劑而痛如失二劑全愈不再發亦神方也蓋去來之痛全在心氣之虛少有微寒留於膻中之下寒遠則不痛寒近則少痛也此等之病往往有經歲經年而不愈者亦因人不敢用補邪無所畏留住於皇畿內地時時偷竊作祟耳今吾用大劑補藥以補其膻中譬如相臣得令英察精明必然擒賊小偷細盜焉敢潛住皇居左右哉此方之所以神耳</p>
<p><u>先攻散</u></p>
<p>芍藥（五錢）　梔子（五錢）　枳殼（五錢）　貫眾（五錢）水煎服</p>
<p><u>消痛補虛飲</u></p>
<p>人參（五錢）　白朮（五錢）　茯神（五錢）　枳殼（一錢）　廣木香（一錢）　白芍（一兩）　當歸（五錢）　甘草（一錢）　附子（一片重二分）　白芥子（三錢）水煎服</p>

<h3>脅痛</h3>
<p>脅痛之虛實又何以辨之脅痛屬之肝肝經本是至陰之位宜乎痛皆陰症也不知肝雖屬陰而氣則屬陽或一時感冒風邪兩脅作痛痰壅上焦中腕不痛結成老痰欲吐不能欲下不得亦最苦之症也法當用舒肝散風之藥逍遙散最妙之方也至於肝氣之虛一旦觸動怒氣傷其肝血亦兩脅作痛其症亦與前症相似但無欲吐不能欲咽不下之狀論理亦可用逍遙散以舒解之然而本方藥味雖佳而分兩欠重吾今更立一方名為平肝舒怒飲治因怒脅痛甚效或因鬱而作痛者亦無不神一劑而痛如失此方之妙妙在芍藥用至一兩之多則肝木得酸而自平況又佐之當歸之補血以生肝又佐之各品相輔之宜則肝氣之郁解而兩脅又何能作痛哉倘不知用此一旦用小柴胡等湯雖亦能去痰而曠日遲久不能如此方之神速耳</p>
<p><u>平肝舒怒飲</u></p>
<p>柴胡（二錢）　白芍（一兩）　炒梔子（三錢）　當歸（一兩）　白芥子（三錢）　車前子（三錢）　白朮（三錢）　枳殼（一錢）　丹皮（三錢）　神麯（一錢）　麥芽（二錢）　山楂（十粒）水煎服</p>

<h3>腹痛</h3>
<p>腹痛之虛實又何以辨之腹居至陰之下以痛之皆陰症也既是陰症宜虛而非實矣誰知痛之不同有虛有實之異乎實痛何以辨之按之必手不可近此乃燥屎結成於大腸之內火迫於臟腑之間傷寒日久最多此病此乃實邪而非虛病之可比方當下之為妙仲景張公有大柴胡乘氣亦可選用然而非專治腹痛也吾今另立一方專治腹痛之症實有神效名為滌邪救痛湯此方雖有大黃之下邪而即有當歸生地之生血以活血總然有枳實之推蕩而無妨亦攻補並施之妙法也倘腹痛而身有寒邪未散本方中加柴胡一錢足矣余可不必增入一劑而邪散穢出身即涼而痛如失至於腹痛虛症大約畏寒畏食喜熱手之相熨喜健人之按摩蓋虛寒之氣留於下焦之故也其大便必溏而小便必然清冷一問可知無多深辨方用祛寒止痛湯此方妙在用白朮為君以利其腰臍之氣氣濕而寒溫之氣不能留於腹中自然邪從小便而出而疼痛之苦頓除也倘以輕清之味和解之未必奏功如神至此</p>
<p><u>滌邪救痛湯</u></p>
<p>大黃（五錢）　紅花（一錢）　生地（五錢）　當歸（五錢）　枳實（一錢）　厚朴（一錢）　天花粉（一錢）　甘草（一錢）水煎服</p>
<p><u>祛寒止痛湯</u></p>
<p>白朮（一兩）　肉桂（二錢）　甘草（一錢）　吳茱萸（五分）　砂仁（三粒）　藿香（一錢）　人參（二錢）　半夏（一錢）水煎服</p>

<h3>吐血</h3>
<p>吐血最難治之症虛實更不可不知吐血實症百中二三非感暑而得即大怒而成也其餘鬱症不可言實病矣暑症之成自家必然知道必有熱氣從口中而入一時不能外卻而吞入胸中便覺氣逆痰滯少頃傾盆吐血雖血既傾盆而出亦成虛症然終不可因其已失之血而謂是虛症以治之也法當解其暑熱而佐之引血歸經之品火散而血歸經絡雖身子微弱而血終不再吐也方用解暑至神湯一劑而血症頓愈不必再劑也大怒吐血以致肝氣大傷不能藏血亦傾盆而出但其色多紫不若傷暑之純紅也若見其吐血之多便為虛症而用黃耆補血之湯未為不可然終非治肝平怒之法肝氣不平吐血又何日止也方用平肝止血湯一劑而病如失再劑不再吐血矣此方妙在白芍用至三兩始能平其大怒之氣況肝中之血盡情吐出非芍藥之多何能滋潤又慮芍藥尚不足以平肝又益之以丹皮之涼血而佐之以柴胡之舒肝又恐漏卮之路熟加三七以杜其隙相製得宜所以奏功如神也此方服後必須六味地黃湯加麥冬生地當歸白芍各三兩為丸每日吞服一兩一月如平時也此又善後之計又不可不知至於虛症吐血或因房勞或因行役或因氣鬱皆能失血我有一方可以通治名為救生丹一連數服未有血症之不愈者愈後將此方少減一半終日煎湯作飲能服至三月者斷無再行吐血之理何至有少年夭亡者哉</p>
<p><u>解暑至神湯</u></p>
<p>青蒿（一兩）　生地（一兩）　人參（五錢）　荊芥（末炒黑三錢）　麥冬（五錢）　玄參（一兩）　白芥子（三錢）水煎服</p>
<p><u>平肝止血湯</u></p>
<p>白芍（三兩）　丹皮（一兩）　炒梔子（三錢）　白芥子（三錢）　柴胡（五分）　三七根末（三錢）　水煎調三七根末服</p>
<p><u>救生丹</u></p>
<p>熟地（一兩）　生地（一兩）　麥冬（一兩）　人參（三錢）　荊芥（三錢）　三七根（末炒黑三錢）　水煎調服</p>

<h3>發狂</h3>
<p>發狂之有虛實也發狂多是熱邪之作祟然亦間有虛火之發狂又不可不知也發狂之實症與治實狂之方法前文已載茲不再論但論陰虛而發狂者此症婦人居多鬱氣不伸思慕不遂一時憂憤遂成此症或披髮行歌或出門呼喚見男子則思其心上之人見女子則嗔其目中之刺或吞炭而食泥或毀容而割體人生抱病至此亦可憐也此皆肝氣實郁肝血乾燥兩關之脈必然沿出寸口所謂欲得男子而不可得者也此等之病必須大補腎中之水足以生肝而少加之以安心祛痰之藥又益之以解鬱降火之味自然羞愧頓生前狂自定方名解羞湯一劑即見神功二劑全愈不必三劑也吾傳方至此亦憐婦人之鬱而成此病也倘見左關之脈沿出寸口人未發狂之前即以吾方減十之六七早為治之又何至有花顛之患哉遠公可記之汝將來有治此等之病者故吾先傳此方也</p>
<p><u>解羞湯</u></p>
<p>熟地（二兩）　白芍（三兩）　柴胡（三錢）　炒梔子（三錢）　生棗仁（五錢）　菖蒲（一錢）　白芥子（三錢）　茯神（一兩）　麥冬（一兩）　北五味（二錢）　山茱萸（五錢）　丹皮（五錢）　當歸（五錢）　香附（二錢）　鬱金（一錢）水煎服</p>

<h3>耳聾</h3>
<p>耳聾之宜知虛實也耳雖屬於腎耳聾自然是腎水之虛以致腎火之旺故氣塞而不通老人多有此症補其水而少加開竅之藥漸漸耳聰亦不能一時奏效其症飲食如常手按之更覺無蟬鳴之響者是也至於實症或作蟬鳴或如濤響或發寒作熱飲食少思吐痰成磈面目青黃赤白之不同時而汗出時而汗止汗出覺輕汗止則重遇食轉加遇熱更甚此乃實聾之症也腎雖開竅於耳而胃為腎之關胃熱而反感風邪則火熱於中而邪壅於外腎氣且隨胃氣而助焰其竅反致遏塞故耳亦聾也重者常若有千軍萬馬洶騰之狀手按之其聾十倍者是也若用補腎補脾之藥益添其壯盛之氣而聾且倍常治之法宜用發散降火之劑我今留一方一治虛聾一治實聾也虛聾方名為清音湯此方不特補腎而兼去補肺補心補肝者謂何蓋腎水不能自生必得肺金之氣下降而後能生也心腎相通而耳之竅始不閉欲心之通竅舍肝氣之相生又何以通之耶故必補肝以生心火也況肝有補而後能瀉不致耗竊腎氣則腎水更有生氣矣此耳聾之所能自愈也但此方必須多服為妙蓋陰不能驟生而補陰不易遽補也實聾方名為止沸湯此方降胃中之火舒肝木之氣消上壅之痰不治耳聾而耳聾自聰也</p>
<p><u>清音湯</u></p>
<p>熟地（一兩）　菖蒲（一錢）　茯神（五錢）　丹皮（三錢）　玄參（五錢）　薏仁（五錢）　山茱萸（五錢）　麥冬（五錢）　北五味（一錢）　柴胡（五分）　當歸（五錢）　白芍（五錢）　白芥子（三錢）水煎服</p>
<p><u>止沸湯</u></p>
<p>柴胡（一錢五分）　白芍（五錢）　石膏（三錢）　知母（一錢）　甘草（一錢）　青蒿（五錢）　半夏（一錢）　陳皮（一錢）　茯神（三錢）　神麯（五分）　蔓荊子（一錢）水煎服</p>

<h3>瘡癰</h3>
<p>瘡癰皆熱毒也分其陰陽是矣又何必別其虛實乎不知陰陽之中各有虛有實倘分別不清用補用瀉亦自徒然故必辨其陰中之虛與陰中之實陽中之虛與陽中之實為妙陰中之虛若何瘡口平而不高而血色復加黯黑者是也陰中之實若何瘡口先平而後實血色紅潤者是也雖陰症俱是虛然而用補可分輕重吾今立一方皆可治之如見血色黯黑者此虛之極而寒之至也方中加附子一錢肉桂三錢一連數劑必然黑色改為紅色矣去附子再服自然瘡口生肉而愈也若先見瘡色紅者不必加附桂一連照前方服之必全痊矣倘不知陰症之虛實而亂用附桂適足以取敗也陽中之虛者若何瘡口雖高忽然色變而不紅此陽症欲變陰症之兆急宜用金銀花三兩歸身一兩附子一片重二分生甘草三錢煎湯飲之則色即變紅矣此方名轉陽化毒丹此症因病人原不十分健旺或又加色欲惱怒一時變症刻不可遲一見色變即用此方可轉危為安也陽中之實若何瘡口既高突而巍然而色又鮮紅而有光者是也方用瀉陽祛毒丹此方治陽症之毒最佳一劑即出毒二劑即毒淨三劑即全痊也若初起之時而高突者一劑立削神方也又不可不知之也</p>
<p><u>轉陽化毒湯</u></p>
<p>人參（五錢）　黃耆（一兩）　遠志（三錢）　白朮（一兩）　金銀花（一兩）　生甘草（三錢）水煎服</p>
<p><u>瀉陽祛毒丹</u></p>
<p>金銀花（一兩）　蒲公英（五錢）　大力子（三錢）　天花粉（三錢）　生甘草（三錢）　白礬（三錢）　防風（一錢）水煎服</p>

<h3>大小便閉</h3>
<p>大便之閉結實有虛實之分實者乃風火結於臟腑之間故成閉結之症手按之而痛者是也虛者雖亦閉結覺肛門艱澀有不能暢遂之狀然手按腹中平平無痛飲食如常亦不十分緊急以此辨虛實斷斷不爽其方上文已講茲不再贅至於小便之閉塞虛實從何而分虛者乃膀胱寒甚內無火氣之化源故爾寒如冰凍而不能出其症亦覺腹痛而難忍然以熱手按之反覺快然服熱湯姜水則快飲寒湯冷汁而痛加者是也古人用五苓散多加肉桂亦能奏功但此方止可救急於一時而不能久遠之寬快吾今定一方實可長服有功實非旦夕之取效也方名溫水散此方利水而不耗氣去濕而溫其源久暫皆可奏功勝於五苓散多多矣治小便閉結之實症奈何蓋</p>
<p>膀胱有火邪壅於小腸之口而不得下達且肺金又熱不傳清肅之氣而反傳溫熱之氣故點滴不能出以致腹痛而不可按急迫之狀往往至於雙目之紅腫而心煩意躁刻不可眠倘治之不得法有數日不便而死者矣我今定一方以救此危症方名疏浚丹此方之奇奇在用寄奴與王不留行二味走而不守又能瀉膀胱之火然過於下行加入升麻以提其氣譬如水注之法上升而下即降也況方中又有白朮薏仁以健脾土而仍是利濕之聖藥自然手到病除下喉而水如奔決也設徒以五苓散以利水而不知升提之法亦徒然利之也</p>
<p><u>溫水散</u></p>
<p>人參（三錢）　白朮（五錢）　肉桂（二錢）　茯苓（五錢）　升麻（五分）　車前子（三錢）　薏仁（一兩）　蓮子（三錢連心用）水煎服</p>
<p><u>疏浚丹</u></p>
<p>車前子（五錢）　劉寄奴（三錢）　肉桂（一分）　王不留行（三錢）　升麻（一錢）　薏仁（一兩）　豬苓（三錢）　白朮（五錢）　水煎服</p>

<h3>大渴</h3>
<p>大渴之症自是熱症如何有虛實之分不知腎水大耗腎火沸騰變為消渴之病非虛而何往往有飲水一斗而反溺二斗者此水不知從而來往往使人不可測度雖消症有上中下之分而渴症則一也一者何腎水之虛以致腎火之旺也故治消渴之症無論上中下俱以補腎為先仲景張公定八味地黃湯原治漢武帝消渴之症其方實是神奇能遵守此方大劑煎服又何患虛渴之難治哉但醫道苦方之不多治法之最少我今再傳一方可與仲景張公並傳千古治渴症實是奇絕方名止渴仙丹早午晚各飲一碗一日而渴減半二日而又減半三日而渴止四日而全愈願人勿驚疑此方當遵守而敬服自能轉逆為安也其大渴實症舍竹葉石膏湯原無第二之方然而石膏過於酷烈吾今更定一方名為解渴神丹用石膏一劑之外即用此湯連服二劑以伐石膏之峻烈未為不可也大約實症之渴舌如芒刺目紅而突發狂發斑者是又不可不知</p>
<p><u>止渴仙丹</u></p>
<p>熟地（三兩）　麥冬（三兩）　玄參（三兩）　天冬（三兩）　肉桂（三錢）　山茱萸（三兩）　北五味（一兩）　車前子（一兩）　牛膝（一兩）　芡實（一兩）　水十碗煎三碗（早午晚服每服一碗）</p>
<p><u>解渴神丹</u></p>
<p>玄參（四兩）　生地（二兩）　茯苓（一兩）　甘菊花（一兩）水煎服</p>

<h3>大汗</h3>
<p>大汗亡陽明是虛症如何分虛實耶不知發狂發斑之症非實而何其症大渴引飲飲水至半桶或一桶者其汗必如雨之來不可止遏蓋熱乘水勢而外泄也無水濟之往往無汗蓋乾燥之極汗從何來必得水濟之而汗乃出此汗乃實而非虛也法當用竹葉石膏湯大劑煎飲始能止汗而解其熱然而汗多必致亡陽石膏湯中亦宜多用人參以防亡陽之禍是實症亦宜用補也況虛症之汗乎虛症之汗或如潮熱而汗發星星或如珠之出而閣住不流或夜間有汗而晝無汗或下身有汗而上身乾燥見風則畏見寒則止大非陽症之見風寒而無畏也若誤認作白虎陽症而亦用竹葉石膏則死亡頃刻可不慎歟然則當用何藥以治之乎莫妙用補血湯也此方治之則汗止而身快吾加黑姜五味實有妙用歸耆乃生血補氣之品氣足則皮毛有衛而汗自然不致外泄當歸生血則虛熱自退而汗又何致外越耶黑姜守而不走五味酸而能斂自然氣血相安何從發汗所以相濟而成功也</p>
<p><u>補血湯</u></p>
<p>當歸（一兩）　黃耆（二兩）　乾薑（炒黑二錢）　北五味（一錢）水煎服</p>

<h1>卷之三（利）</h1>

<h2>上症下症辨</h2>

<h3>怔忡</h3>
<p>怔忡之症本是心氣之虛如何分為上下其故實有至理而世人未知也肺脈居於心之上肺氣有養則清肅之令下行足以制肝木之旺肝木不敢下克脾土脾土得令自能運化以分津液而上輸於心而後心君安靜無為何致有怔忡不定之病耶此所謂上症之源流也因肺金失令則肝木寡畏以克脾土脾土為肝所制事肝木之不暇又安能上奉於心乎心無脾土之輸而肝木又旺自己尊大不顧心君之子此心所以搖搖靡定而怔忡之症起矣但怔忡上病何以知之其症必兼咳嗽而飲食能食而不能消者是也方用安止湯此方合肺脾心肝四臟之藥以治之也一劑而少定再劑而更安十劑而怔忡之病可以全愈矣其下病奈何其症吐痰如清水飲食知味而苦不能多聞人言則驚見天光可畏時時懊憹刻刻煩悶此病乃腎水耗竭不能上輸於肝木而肝木自顧不遑又安能上養於心乎心血既耗又安能下通於腎心腎交困怔忡時生不止痰氣之作祟也治用消煩湯此方乃補心肝腎之聖藥三經大補則氣血精皆足雖有痰氣不清又有白芥子以消其痰於膽膈之中豈尚有怔忡之不定乎自然煩去而心安悶除而魂靜也</p>
<p><u>安上湯</u></p>
<p>人參（三錢）　茯神（五錢）　麥冬（五錢）　北五味（一錢）　丹參（二錢）　柏子仁（二錢）　半夏（一錢）　丹砂（一錢）　菖蒲（二錢）　白朮（五錢）　枳殼（三分）　神麯（五分）　白芍（五錢）水煎服</p>
<p><u>消煩湯</u></p>
<p>熟地（一兩）　山茱萸（五錢）　白芍（五錢）　當歸（五錢）　黃耆（五錢）　人參（五錢）　牛膝（五錢）巴戟天（五錢）　菟絲子（五錢）　枸杞子（五錢）　炒棗仁（五錢）　白芥子（五錢）　山藥（五錢）水煎服</p>

<h3>痿症</h3>
<p>痿症之不起床也人以為兩足之無力非下病而何殊不知痿症不同有上下之分焉上痿者非手痿之論乃肺氣與陽明之病也雖痿症皆屬之陽明治痿不治陽明終難起廢然而陽明有兼肺經而痿者實是上病而非下痿之可比其症必咳嗽吐膿吐痰而雙足無力則與下痿之症頗同而治法不可與下痿之病同治也吾今立一方治上痿者神妙名為起痿上清丹此方仍是治陽明之藥而妙在用金銀花以治肺中之痿清其肺氣自然下生腎水腎水生而骨中之髓自生又何必更補腎哉況方中俱是輕清散火之味輕清則上升以散其肺中胃中之火則陽明火焰自然不上衝於肺而肺氣安寧又可不辨而自知也至於下痿之症雖治法不能離於陽明然必竟以補腎為主蓋兩足之無力本是骨中無髓而髓乃腎中之精也不補其精則髓從何出況陽明胃經乃腎之關門補腎正所以補胃耳其症能食而飢面紅如火晝輕夜重吐痰如水者是也方用堅骨起痿丹此方妙在補腎而兼補胃也可統治下痿之症無不神效但痿病非一二劑可以奏功願人遵守吾方朝夕吞嚥斷無久臥床蓆之人也</p>
<p><u>起痿上清丹</u></p>
<p>麥冬（五錢）　金銀花（二兩）　玄參（一兩）　北五味（一錢）　薏仁（一兩）　生地（五錢）　天門冬（五錢）　天花粉（三錢）　甘菊花（三錢）　黃耆（三錢）　陳皮（一錢）　人參（五錢）水煎服</p>
<p><u>堅骨起痿丹</u></p>
<p>熟地（三兩）　山茱萸（二兩）　牛膝（五錢）　金釵石斛（五錢）　薏仁（二兩）　山藥（一兩）　白朮（五錢）　玄參（五錢）　麥冬（五錢）　丹皮（五錢）　地骨皮（五錢）　白芥子（三錢）水煎服</p>

<h3>氣病</h3>
<p>氣病何以分上下也如有人氣逆沖而上兩脅飽滿又不作喘又不咳嗽痰如核結欲吐不可欲下甚難謂非氣之上症而何治之法又不可徒治其上也此等之症非憂鬱而得之即惱怒而成之也方用逍遙散最佳不必更立奇方耳如有人氣崩迫於下兩腹作脹欲瀉不能不瀉更急大便燥結小便短少臍下作痛而不可忍或環臍而痛或兩足俱腫謂非氣之下症而何而治之法又不可徒治其下也此等之症雖亦因憂鬱惱怒而來然何以氣不上而反下蓋上焦無火其氣無隙可乘見下有可下之機故隨之而下奔調其中而解其鬱亦非難治故其勢較上衝者反重而治之實易也亦用逍遙散和解之亦隨手而愈然則予又何必取而細辨之乎不知方可兼用而症不可混觀辨明上下之症而於逍遙方中上病加蘇子降氣之味下病增梔子瀉火之品又何至臨症之曠顧哉</p>

<h3>痰症</h3>
<p>痰症之分上下者其故何哉痰在胃中者上也痰在脾中者下也痰在腎中者下之下也世人謂肺中有痰者誤蓋肺乃嬌藏一物不容如何有痰肺痰者因肺有病因謂之也其實皆胃中之痰耳若心亦有痰肝亦有痰二皆因其病而命名而終不可謂心肝有痰不統之於胃中也故言胃而凡有在上之痰舉皆包之矣治上之痰奈何健其胃而清其痰補其氣而利其濕治上焦之痰其庶幾乎然而上痰終何以辨之必感風寒而得之或黃或白或成磈而膠結不開或嘔吐而終朝不已或胸悶而作脹或鼻塞而氣粗或咳嗽而隨吐或咯唾而難出或如敗絮或如黃膿此皆上痰也我有一方可以通治之神效方名攻痰散此方健胃補氣又兼利濕消痰而去風也痰在下者雖有脾腎之別而症實相同脾氣之虛而後腎水之泛腎氣之乏而後脾土之虧原相因而至也其症則有純吐清水者蓋命門無火則水寒命門無火則土亦寒水土既寒又何有堤防之障哉勢必狂潤洶湧上騰氾濫而不可止遏方用返流湯一劑而痰靜再劑而痰消四劑而痰無矣此方妙在以白朮為君健脾而佐之以補腎消痰之藥引水歸源而先堅其土氣俠水不能蕩其土則土自然能制夫水也</p>
<p><u>攻痰散</u></p>
<p>白朮（三錢）　茯苓（五錢）　柴胡（一錢）　白芍（五錢）　半夏（三錢）　神麯（一錢）　黃芩（一錢）甘草（一錢）　天花粉（二錢）水煎服</p>
<p><u>返流湯</u></p>
<p>白朮（一錢）　山藥（五錢）　薏仁（五錢）　芡實（五錢）　山茱萸（五錢）　北五味（二錢）　肉桂（二錢）　人參（三錢）　白芥子（五錢）水煎服</p>

<h3>癆病</h3>
<p>癆病之宜分上下也五臟過勞皆能成癆何以止分上下不知五臟成癆非由上以損下即由下以損上也故言上下而五臟之癆症已不外於此也又何必逐臟以細別之乎由上而損下者何如大約先損其心而後傷於肺肺傳之肝肝傳之脾脾傳之腎而後死也其症之外見者若何心驚不寐咳嗽吐痰飲食少思兩脅微悶夢遺不休身發潮熱足膝無力此等之症初起之時補其陽虛而少佐之滋陰之品自易奏效無如世人不知治法妄用消痰降氣克削之劑不至於成癆不已其已成癆又不用殺蟲之藥於大補氣血之中無怪乎奄奄垂絕也吾今憫惜世人特傳奇丹於初病之時於已病之時急用吾方皆可回春方名補上救癆丹此方之妙平平無奇而實有奇效乎補之中而寓以剿殺之計所以奏功如響也由下而上損者如何因房勞而起也先損其腎腎傳之心心乃傳之肺肺傳之肝肝傳之脾脾仍傳之腎其症身先發熱骨蒸多汗以致夢寐恍惚吐痰不已似飢非飢似痛非痛脅脹心跳腹瀉腸鳴不可勞役力難勝任久則奄奄臥床難於起立者是也若誤認作陽虛誤用參耆必致陽愈旺而陰愈消咳嗽吐血唾血衄血而不能止夢遺精滑強陽不倒骨髓作酸頭暈眼花惡症種種不可枚舉誰知皆是不慎女色而然也必須大用補陰而加之化蟲之味始能奪命返魂重登壽域否則行屍坐鬼不過旦夕為世上之人而已吾今傳一奇方專治下癆實見奇功方名重春奪命丹此方妙在地骨皮同鱉甲地慄同用蓋癆病未有不骨髓內熱者地骨入於骨中以清其虛熱鱉甲無孔不鑽與地慄粉相濟有蟲則殺有隙則填陰虛則補陽旺則衰三者並用實有至理況各品又純是補陰制陽之味陰足而陽有不平者乎此方之所以神而肆也</p>
<p><u>補上救癆丹</u></p>
<p>麥冬（三兩）　生棗仁（三兩）　炒棗仁（三兩）　山藥（六兩）　芡實（六兩）　地骨皮（六兩）　丹皮（六兩）　當歸（六兩）　白芍（一斤）　人參（三兩）　北五味（二兩）　橘紅（八錢）　白薇（三兩）　神麯（三兩）　茯神（三兩）　萬年青（三片）　薏仁（五兩）　天門冬（六兩）各為細末蜜為丸每日空腹服五錢早晚各一服</p>
<p><u>重春奪命丹</u></p>
<p>熟地（一兩）　山茱萸（五錢）　麥冬（五錢）　北五味（一錢）　薏仁（五錢）　芡實（五錢）　山藥（五錢）　地骨皮（一兩）　丹皮（五錢）　地慄粉（五錢）　鱉甲末（三錢）　生何首烏（三錢）　菟絲子（三錢）　砂仁（一粒）　人參（三分）水煎服</p>

<h3>心驚</h3>
<p>心驚本是上症而余分上下者有故心與腎相通心氣不下交於腎則能成驚而不寐腎氣不能上交於心亦能不寐而成驚也故症須分別而治法亦宜各異也但二症何以別其在上在下乎大約心不交腎者終日不寐而腎不交心者終夜難眠耳以此分別最得病情若人有心驚不寐於日者用止驚補心湯一劑即寐二劑而心驚少安矣四劑全愈此方補心而不補腎惟引其心腎之合而不必治腎經之虛也蓋腎氣原未常大虛補其心而腎不必上之於心則腎氣有養又何至心腎之不交哉心驚而夜不寐此腎水之竭急用定驚補腎湯此方妙在大補腎水而不去補心腎足原能上通於心也方中用肉桂黃連相濟成功蓋二物同用原能交心腎於頃刻況又有腎經之味大壯其真水之氣則水火既濟亦何至驚悸而不寐哉</p>
<p><u>止驚補心湯</u></p>
<p>人參（五錢）　白朮（五錢）　茯苓（五錢）　炒棗仁（五錢）　丹砂（二錢）　竹茹（一丸）　遠志（一錢）　甘草（一錢）　麥冬（五錢）　黃連（三分）　肉桂（三分）　半夏（八分）　北五味（一錢）水煎服</p>
<p><u>定驚補腎湯</u></p>
<p>熟地（一兩）　山茱萸（五錢）　山藥（五錢）　北五味（二錢）　牛膝（三錢）　葳蕤（五錢）　當歸（五錢）丹皮（三錢）　沙參（一兩）　薏仁（五錢）　芡實（五錢）　白芥子（三錢）　肉桂（一錢）　黃連（二分）　巴戟天（五錢）　白朮（三錢）水煎服</p>

<h3>中滿</h3>
<p>中滿之宜辨上下也既曰中滿矣似於病不在上病在下矣不知中滿中宮似滿也非肺氣之虛以成滿即腎氣之虛以成滿也肺氣苟旺則清肅之道下行胃脾且奉令之惟謹又何至有飲食之阻滯以成中滿哉惟其肺氣之衰清肅之令不行於中州於是肝木寡畏來克脾胃之土中州受禍賊人截路糧道不通而中滿之病生矣其症胸寬微飽吞酸吐酸能食而不飢既食而作脹此皆上病而非下病也法當用健土製肝之味尤宜用補肺扶金之藥始為得之方用助金制滿湯此方補氣以助肺金薏仁山藥之類以培土氣枳殼蘿蔔子之類消食以去脹滿此方之相制而相成也初服之時少覺微悶久服自通倘不知此等妙法而妄用削刻消導之品初覺快而後覺甚矣此塞因塞用實有妙機也至於腎虛成滿者半由於脾之寒而脾之寒又因於命門之火少也釜底無薪何能煮爨腎氣既虛下不能消必反而上此所以成中滿之症也其症必腹寒而時痛小便清長大便閉塞蓋大腸之能開能合腎操權也今腎水乾涸則大腸無水以潤之日日煎熬腸亦細小腸既細小水穀難化而糟粕之類不能直達於肛門勢必停積於下流下流既閉塞勢必上反而中滿此等之病即翻胃之漸也世人以翻胃為脾腎之症誤矣當急補其腎水而更益之以命門之火蓋此水乃真水也真水非真火不能生水中補火正火中補水也水生而大腸有水以相濟則舟舶可以相通糧路可以輸挽下既無阻抑之途則中自無飽滿之苦倘不知此等妙論而徒用大黃牽牛之類以峻攻之徒取一時之寬快反成日久之閉結轉利轉虛遂成不可救藥之病矣方用寬中散此方純補腎經而少佐之以補肝使肝木平和不來剋土則腎水更能潤澤於大腸大腸既潤又何隔塞之不通哉此又不治中滿而正所以治中滿也人又不可不知之耳</p>
<p><u>助金制滿湯</u></p>
<p>人參（一錢）　白朮（一錢）　茯苓（三錢）　神麯（一錢）　甘草（一分）　蘿蔔子（一錢）　大腹皮（五分）　枳殼（五分）　山藥（五錢）　薏仁（五錢）　山楂（五粒）　麥芽（一錢）　穀芽（一錢）水煎服</p>
<p><u>寬中散</u></p>
<p>熟地（二兩）　白芍（五錢）　當歸（五錢）　麥冬（五錢）　牛膝（三錢）　玄參（三錢）　葳蕤（五錢）車前子（一錢）　鱉甲（五錢）　龜膠（三錢）　山茱萸（三錢）　山藥（五錢）　丹皮（三錢）　沙參（三錢）水煎服</p>

<h3>關格</h3>
<p>關格之症原有上下之分一上格之而不得入一下關之而不得出也上下既有相殊治法亦宜各異大約上格之而不得入者當治肝下關之而不得出者當治脾然而開鬱行氣則上下皆同也上格之症水食俱不可下一得水食則吐出兩脅飽脹氣逆拂抑而覺氣不能通初起之時以逍遙散和解之何致成不可救藥之症惟其不與此湯也則肝木終無解時又加另服他藥則愈加脹悶吾今定一方緩緩呷之自然重門漸開轉輸有路矣下關之症大小便俱不能出上食水穀覺脹悶欲死氣急而息粗初起之時亦以逍遙散和之亦隨手奏功而無如人之不識也則脾氣轉燥而肝木來凌大小腸火勢阻遏而不能下達其勢甚急然而較上格之症實少輕也蓋邪在上難於發泄邪在下易於推蕩也用四物湯加大黃柴胡於補中兼下而散之則火鬱可開關門中啟矣誰謂關格之症可不分上下以治之乎</p>
<p><u>增補逍遙湯</u></p>
<p>白芍（三錢）　白朮（一錢）　枳殼（一錢）　當歸（三錢）　柴胡（一錢）　香附（一錢）　甘草（五分）川芎（一錢）　炒梔子（一錢）　茯苓（三錢）　陳皮（五分）　天花粉（一錢）　竹瀝（五匙）水煎服</p>

<h1>卷之四（貞）</h1>

<h2>真症假症辨</h2>

<h3>癰疽</h3>
<p>癰疽之宜辨真假也少若辨之不清殺人多矣癰疽之毒結於臟腑之中發於皮膚之外往往現假象以欺人本是熱而假作寒本是陰而假作陽其問辨明之法尤宜亟講如癰疽之初生也身必重而口必渴此現真象以示人也及見瘡口也或現高突而作疼止有一點黃頭露形者此真象也或瘡口作癢現無數小頭無高突之形止現圓圓一線之紅影者此假象也及其頭破出膿也膿出紅黃而作痛者此真象也膿出而不多或現紫黑瘡口作黯澹之狀不疼不癢者此假象也及其將收口也云蒸霧起肉擁皮縐雖有膿而黃紅中有膿而旁無膿者真象也坎陷色滯膿少而血多兩旁之皮全無潤澤之氣或外邊皮肉生滿而中央仍復作疼或中不滿而作癢旁反痛者皆假象也大約真者皆火毒也宜用散火以涼之假者皆虛寒也宜用補劑以溫之而少加解毒之藥余今定二方一治真症一治假症無不神效治真者名為散真湯此方散毒而又能祛火未破者能消已破者能收自生毒之初至出膿之後皆可服之收功不論前後而均宜也治假者名為救假湯此方大補氣血而又能散毒凡遇陰症不論初起已破已潰已壞以此方投之即能起死為生轉禍為福又何至有夭人性命之憂哉倘遇人貧家窘無參亦可服但加黃耆當歸可也</p>
<p><u>散真湯</u></p>
<p>金銀花（一兩）　蒲公英（五錢）　生甘草（五錢）　荊芥（二錢）　當歸（一兩）水煎服</p>
<p><u>救假湯</u></p>
<p>金銀花（三兩）　人參（三兩）　生黃耆（五兩）　肉桂（二錢）　當歸（三兩）水煎服</p>

<h3>火症</h3>
<p>火症之真假宜辨也火症本為大熱之病熱極則火勢炎天自宜顯現火熱之症如何有真假之分不知火原有二有真火有假火真火者實邪也假火者相火也然而真火每見假寒以欺人假火每見真熱以欺世少若用藥之誤頃刻殺人矣真火之見假寒奈何身熱而手足反涼脈反沉細而口渴心作懊憹而身反戰慄此陽症似陰熱極假作冰涼也法當用大寒之藥以涼解之方用攻真散一劑而手足之涼反作如火之熱慎勿疑寒藥之多用也蓋病是熱極之症見假寒以騙人吾以真寒之藥攻其至堅假象破而真狀乃顯故手足涼者而轉為火熱也再以此湯少減一半與之則胸腹一身之熱盡去倘疑前方過峻改用他方又且熱變為寒以成危亡之症矣又何可不知復為所誤乎行醫者當於此等之病著眼留心則生死之權不在閻羅而在醫者之手操之矣假火而見真熱之象奈何此乃腎水涸竭腎火無制上騰而作熱也腎火者少陰之虛火也腎火得腎水以相資則為真火腎火離腎水以相制則成虛火矣相制者忽而相離則火無所養忽然沖地而出如霆如雷劈木焚林震天轟地者龍雷之火也人身少陰之火亦然有一發而不可止遏由脾而胃由心而肺無臟不燒無膚不害咽喉方寸之地安能止遏自然火星奔越目痛喉乾咳嗽吐痰身熱心煩頭痛耳鳴諸症蜂起矣看其症候絕是火之有餘誰知是水之不足哉若錯認作白虎湯症而大用寒涼石膏知母肆情多用下口即便滅亡不知其故而用吾攻真之湯禍亦同之然則治之奈何當用六味地黃湯加麥冬五味大肆吞飲水足而火自歸原蓋龍雷之火原喜水也寒涼之味亦水也何以以水投水而龍雷之火愈加飛越其故何哉蓋水非真水故龍雷之火愈為猖獗耳六味地黃湯乃至陰之水也陽水以制陰火則陰火不能伏陰水以制陰火則陰火自能歸倘藥中再加入肉桂少許尤為得宜蓋龍雷之火不特喜陰水之相濟而更喜陰火之相宜肉桂亦至陰之火以火引火原為妙法而更加入至陰之水中水中引火火自退藏消歸烏有矣此種議論實驚世人然實有至理存焉非故作幽奇之論能知此等治法醫道自然神異而治病又何有棘手哉</p>
<p><u>攻真散</u></p>
<p>黃連（三錢）　梔子（五錢）　柴胡（二錢）　白芍（一兩）　茯苓（五錢）　枳殼（一錢）　厚朴（一錢）甘草（一錢）　天花粉（五錢）　黃芩（一錢）水煎服</p>

<h3>厥症</h3>
<p>厥症之真假最宜辨清一不明而立刻死亡於醫人之手矣蓋厥症多一時變起禍生倉猝認之清自然治之斷也厥症大約熱者多而寒者少然而熱病偏見假者以相欺而寒者偏見熱者以相騙也但熱症甚多頗難枚舉內經已將熱厥盡情闡揚而未言其真假余又將何以逐症辨之耶不知得其要則一言可定真假自分又何必紛紛之論症乎大約熱厥之見假寒也作寒畏冷四字盡之每論諸厥但辨其舌之燥滑滑者寒而燥者熱也汝見舌燥而紅者尤為熱症舌燥而白者亦未嘗非熱也吾定一方方名扶危轉厥湯治熱厥之症無不神效此方單平肝木以瀉其肝中之火肝平火去而各經之厥盡安又何必問經尋方之為多事耶至於寒厥之症方名溫經轉厥湯此方健脾以祛寒寒去而厥自定也汝見舌滑而嘔吐面目戴陽兩足冰冷者乃寒厥也所謂假寒而故見真熱之狀以欺人者也此方投之無不神效倘或寒甚隔陽加入人尿膽汁為妙</p>
<p><u>扶危轉厥湯</u></p>
<p>白芍（一兩）　柴胡（三錢）　當歸（五錢）　炒梔子（五錢）　乾薑（一錢）　天花粉（三錢）　車前子（三錢）　陳皮（二錢）　木瓜（二錢）　廣木香（五分）水煎服</p>
<p><u>溫經轉厥湯</u></p>
<p>白朮（五錢）　吳茱萸（一錢）　乾薑（一錢）　半夏（一錢）　人參（三錢）　甘草（一錢）　附子（一片）　水煎服</p>

<h3>吐血衄血</h3>
<p>吐血衄血之宜分真假也雖上文已言之矣而真假尚未言之也真者非寒熱之論也假者非虛實之論也有人跌磕而忽然鼻血如湧泉而出者此假衄血非內傷而然也吐血而受人打傷以至傾盆而出者亦假吐血而非真吐血也此真假如此之分辨而非前症之言陰陽虛實也二症亦相同同是外傷而治法亦宜相同然而不可同也蓋跌磕傷鼻病在上毆傷吐血病在上中下也我今定二方一治跌磕鼻傷衄血之症方名補金丹一劑而血止再劑而不再發此方妙在入肺而又上能入鼻使傷損者重全而竅開者重閉又能生血補血以大益其肺金自能奏功如神也毆傷吐血者方名為護損奇丹此方用歸芍以生血而用大黃以逐淤淤血去而新血生新血生而淤血止實有神功也二方救跌磕損傷俱妙不獨治二症之傷損也</p>
<p><u>補金丹</u></p>
<p>生地（一兩）　麥冬（一兩）　枳殼（五分）　敗龜板（一付）　甘草（一錢）　荊芥（炒黑二錢）　人參（三錢）　當歸頭（三錢）　丹皮（三錢）　桃仁（七粒）水煎服</p>
<p><u>護損奇丹</u></p>
<p>當歸（一兩）　牛膝（三錢）　生地（五錢）　大黃（五錢）　紅花（三錢）　丹皮（三錢）　白芍（一兩）甘草（三錢）　桃花（二十粒）　荊芥（三錢炒黑）水煎服</p>

<h3>發狂</h3>
<p>發狂有真有假雖虛實可包其內然而真假非虛實之論也人有一時悶亂妄言見鬼此痰迷心竅而非火毒入心非假狂而何若作狂症治之則死矣如人不得志先議論紛紜以曲為直譏刺雌黃本為無心之論以消其鬱郁不平之氣久之而狂成矣見妻子而怒罵謁官府而指摘甚至赤身露體終年累月而不止者乃因假而成真非若一時發狂登高而歌棄衣而走見水而入之可比也此等之病但可治狂而不可瀉火若作火狂治之亦頃刻死矣吾所以又立一門而暢談之也特傳一方二症俱可治之方名為釋狂丹病人不肯服兩人執其手一人抱其身一人掘其齒一人灌藥服後必然大罵久之而身倦又久之而身臥矣聽其自睡切勿驚他醒來前症頓失彼自索藥減半再與二劑無不全愈神之神也</p>
<p><u>釋狂丹</u></p>
<p>人參（五錢）　天花粉（五錢）　生棗仁（五錢）　白朮（一兩）　白芥子（五錢）　陳皮（一錢）　菖蒲（二錢）　丹砂（一錢）　柴胡（二錢）　白芍（一兩）　當歸（五錢）　鬱金（五錢）　枳殼（一錢）　神麯（五錢）水煎服</p>

<h3>大吐</h3>
<p>大吐有真假也既吐矣如何有假有真之分不知吐症而兼他症者多吐為真象則他症為假象吐為假象則他症為真象也故亦不可不辨明之耳如傷寒之有吐症也傷寒為真吐乃假象若但止其吐而不顧其寒則寒症不能愈如翻胃之吐也乃下元之真虛不治其虛而止治其吐則吐愈不可止此吐症之所以有真假也大約真吐者少而假吐者多真吐者止胃氣之病治其胃而即安其症心中泛泛然一時而來非平昔之素有疾病非火作祟即風作虐耳方用二陳湯加香砂平胃之品一劑便可奏功何治之易耶以其真吐之病耳若夫假吐之症必觀其病情察其虛實看其起居觀其口舌之滑燥而後以治傷寒翻胃等症之藥因病而加減之始可奏功以安其吐否則適所以取敗也假吐余不立方者正以病非一端而方難執一耳</p>

<h3>大瀉</h3>
<p>大瀉之症何以亦分真假其瀉果有真假之分哉亦以瀉必兼邪挾邪而瀉有因虛而瀉者實不相同故吾又分門而辨論之陰虛而瀉乃真瀉也補脾陰之氣溫命門之火前已有方故不再定若挾邪而瀉乃假瀉也不可因其瀉而用止瀉之藥其症必腹痛而有一陣一陣之景狀者乃邪瀉不比正瀉之但痛而不動也邪瀉者必後重而裡急正瀉則不然也以此辨症最為得情上文言瀉已定其方然而止言挾火而瀉未嘗論及挾邪而瀉挾邪而瀉者挾風而瀉也更有挾毒而瀉者此皆假瀉不可不知余今立一方風瀉毒瀉俱可通治無不神效方名穢逐丹此方逐穢之中而兼去風之藥瀉火毒而又利其水濁者仍從大便出而清者則從小便而行真兩得之道也然何以知是風瀉與毒瀉之分風瀉者裡急厚重糞門作嗶唪之聲風瀉也下如膠漆烏黑屋漏水之汙穢者毒瀉也以此分別大約無差又在臨症以細辨之</p>
<p><u>穢逐丹</u></p>
<p>大黃（三錢）　車前子（五錢）　當歸（五錢）　甘草（二錢）　檳榔（二錢）　枳殼（一錢）　蘿蔔子（一錢）　桃仁（二十粒）　梔子（二錢）　柴胡（二錢）水煎服</p>

<h3>大渴</h3>
<p>大渴之症有真有假真渴者飲水至一斗不止舌如芒刺眼赤如火喉中吐火星者真熱也熱極而渴非真渴而何此等之症不用石膏知母白虎之湯大劑煎飲不可人亦見症自能用藥不必余之多辨也雖是假渴之症亦飲水而無休而大便不見燥實口中雖起白胎而無芒刺胸前雖覺熱而兩目未見紅腫時時煩躁而飲之熱水亦宜上部脈洪大而下部又覺微細欲絕上身以上有汗而下身寒冷而無汗此皆假渴之症也余定一方與此症實有相宜方名甘露飲一劑而渴減半二劑而渴止然後以六味地黃湯加麥冬五味肉桂為丸每日早晚各吞下一兩服三月不再發此方神異而實平常蓋大渴之症半是腎虛而胃火沸騰胃為腎之關關門不閉腎火隨胃火而上升燎原之勢非水不能救所以必得水而解渴而杯水何能止之故大渴之症亦宜以此等大劑與之雨沛滂沱而漫山遍野之火始無餘焰矣</p>
<p><u>甘露飲</u></p>
<p>玄參（四兩）　熟地（四兩）　麥冬（四兩）　山茱萸（四兩）　生地（四兩）　肉桂（五錢）　北五味（一兩）　牛膝（四兩）　車前子（二兩）水煎服</p>

<h3>狐疝</h3>
<p>狐疝之有真假也人知之乎疝不同原無真假而狐疝獨有之人有日間有疝上升夜間乖下者此狐疝無疑矣然而以狐疝之藥治之有效有不效何也正未辨明其真假耳真者若何日隱而夜垂其勢必翹然而舉者也蓋狐性善戰而此病似狐則其陽亦必似狐古人象物命名必非無意真正狐疝予以一方治之甚效甚速方用逐狐湯一劑而病全愈神方也此方用沙參以補陰用杜若以祛邪已操必勝之道又加群品無非消痰逐穢之味更有肉桂以引入膀胱之路直搗中堅所以奏功如響也此治真正狐疝者如此若假者若何亦日隱而夜墜而勢則終夜不起即隨起而隨痿遇寒更痛或有經年累月而體木者日間縮入全無痛楚此則狐疝之假者也吾亦有一方治之最妙一劑輕二劑又輕三劑全愈此方利腰臍而兼逐邪消痰不必治狐疝而疝症全愈者也以此分別以治疝又何疝之不可治哉</p>
<p><u>逐狐湯</u></p>
<p>沙參（一兩）　橘核（三錢）　陳皮（一錢）　甘草（一錢）　檳榔（一錢）　天花粉（三錢）　肉桂（五分）　野杜若花根（五錢生者用二兩搗碎）水煎服</p>
<p><u>後方</u></p>
<p>白朮（一兩）　肉桂（三錢）　白芥子（五錢）　橘核（二錢）　小茴香（二錢）　枳殼（一錢）　茯苓（三錢）　野杜若花根（生者一兩）水煎服</p>

<h3>熱入血室</h3>
<p>熱入血室婦人之病也婦人經行之時忽遇風邪之侵多成此症其症發寒發熱似瘧非瘧狀似見鬼譫語胡言此熱入血室之真病也然亦有似是而非又不可不辨亦發寒發熱似瘧非瘧但無見鬼之狀亦胡言亂語飲食少思此非熱入血室之真病也症既不同治法亦宜少變如遇真正熱入血室者用小柴胡湯加減治之一劑而熱退二劑而身涼病全愈若遇非真正熱入血室者乃肝木過燥血不養肝雖亦熱症而非入於血室之中也欲滋其肝必須大潤其腎腎水足而肝木自然發生又何至有木鬱之症木鬱既解而寒熱自除矣方用涼肝解熱湯此方補肝勝於補腎病原重肝故以補肝為主而佐以補腎子母相生痰邪兩去而寒熱尚留於人身吾不信也或曰此病亦熱也何以不用涼藥不知大涼則寒寒則血凝而不生血血不生又何以潤肝以解鬱哉況方中用丹皮未嘗不涼血以生血一味而兩用之實有妙用也</p>
<p><u>加減小柴胡湯</u></p>
<p>柴胡（三錢）　黃芩（一錢）　甘草（一錢）　丹皮（五錢）　半夏（一錢）水煎服</p>
<p><u>涼肝解熱湯</u></p>
<p>熟地（五錢）　丹皮（三錢）　白芍（一兩）　當歸（五錢）　陳皮（一錢）　甘草（一錢）　天花粉（一錢）　白朮（五錢）　柴胡（一錢五分）水煎服</p>

<h3>痢疾</h3>
<p>痢疾之真假人多不識不可不辨明之以昭示萬世也大約白痢多真紅痢多假人以白痢為寒紅痢為熱誤矣何以見白痢之為真紅痢之為假也白痢如白膿如魚凍如黃精皆濕熱之真象也以去濕逐穢之藥治之大抵無甚差錯予亦不必再立方也惟是如紅痢而非痢最能惑人倘亦以痢藥下之是虛其虛矣其症必皆純血而無糞間有穢物亦必如膿而稀少更或久痢之後即有血下亦如敗膿而黯黑相間無神無色此皆不可作痢治之蓋似痢而非痢也此等之症一作痢治去生不遠吾今特傳一方治似痢之假症無不如神方名急生丹一劑而血止再劑而身安四劑而全愈惟有久痢而有敗膿黯黑相間者本方去附子加蘿蔔子三錢煎服余則俱照本方所定藥味分兩也此方止血於補氣補血之中而絕不去治痢故爾收功如響此治假痢之法實宜如此願人遵守之也</p>
<p><u>急生丹</u></p>
<p>人參（五錢）　白芍（一兩）　附子（一片）　黃耆（一兩）　乾薑（二錢炒黑）　熟地（二兩）　茯苓（五錢）　三七根（末三錢）　當歸（五錢）水煎服</p>

<h3>痰症</h3>
<p>痰之有假真也人亦何從而辨之乎痰之真者人人而知之也治真痰之症亦人而能之也故予亦不再立方矣惟是痰之有假症不可不暢談之以破世人之惑如人終年終月吐痰如蟹涎者此非真痰也此乃腎之精腎火挾之而化為痰如釜中之沸乃火沸為痰耳此症以上焦治痰之味投之而益甚以中焦消痰之味治之而益多蓋不能探其本源而直入之於腎豈以水救其火也然則以何藥救之乎必須以補陰之味而且上滋乎肺金之氣使金生水而水制火水足而火自歸原方用六味地黃湯加麥冬五味大劑煎飲同痰氣自清不化痰而化精矣然此等之症亦須早治之為妙失時不治必變為青臭之痰以成肺痿之症吾所以特言假痰一門教天下之人速以六味湯預治其已然非教人執此方以救於將困之時也凡見有白沫之痰不妨即勸其速用此湯挽回於初起之日自然手到成功尤為易之也</p>

<h3>大滿</h3>
<p>大滿之症真假難知必須辨明始無差錯大約真滿之病邪氣橫塞於胃中得之傷寒之症者居多仲景張公用陷胸湯是也但此方峻利無病之人誤服之下喉之後覺心如崩陷倘虛弱之人服之又將何如故必同傷寒愈後作大滿者曾否用過何物倘有食塞在胃中可用陷胸湯下之然亦一時權宜之計而不可執之以概治大滿之症也傷寒大滿倘能可以忍受不若餓以待之為妙亦不必定用陷胸之湯況原無大滿更非實滿乎烏可孟浪用之以夭人之性命哉至於假滿之症心懊憹而難眠腹虛脹而不實手中按之而不痛以指彈之作逢逢之聲水飲可入食物難進此皆假滿之病也法當開其木鬱之氣培其脾胃之土分其下消之勢宣其上焦之滯自然中州太平輸挽有路運用有基又何慮中滿之患哉犯此等之病宜久治而不可責之近功余定一方時時常服自然郁開而滿除也名為化消湯此方無論傷食□可見□方中再加柴胡七分芍藥三錢凡遇滿症均可施治此又治假滿之法也</p>
<p><u>化消湯</u></p>
<p>人參（一錢）　甘草（一分）　蘿蔔子（一錢）　白朮（五錢）　薏仁（五錢）　枳殼（一錢）　陳皮（五分）　厚朴（五分）　神麯（五分）　山楂（五粒）　麥芽（二錢）　砂仁（一粒）水煎服</p>

<h3>瘧疾</h3>
<p>瘧疾之有真假何以辨之乎發時有一定之時刻者真瘧也發時或早或遲或晝或夜而無一定之時刻者假瘧也雖治之法可以通用而治之症不可不知予所以又立一門而再辨之真瘧之方以從前上文已傳神效之方可不必再為立方矣然而真瘧之症多有鬼崇為耗我前所定者皆方而非法我今更傳篆法治之實奇而且效之極願吾子廣傳於世將來刊刻此書亦不妨付之剞劂以彰吾救世之心也</p>
<p>太乙符不必咒語但書符時不可嘖聲用硃砂書符一氣書完心對於我書之將此符與病人帶在頭上或系頭髮變內或藏在耳中俱妙但先須對病人說明就里當日該發之前俏俏如法系藏在發內耳中當日斷斷不發瘧矣無力買藥飲者與之最妙之法當日愈後即以此符焚在薑湯內朝東或朝日光對吞之不再發也神效之極勿視為尋常也假瘧之症又不可如此治之假瘧者因真氣之未甚大虛與邪氣之兩相戰鬥故正勝則邪退邪勝則正負因氣機之往來致寒熱之作止所以時節之不準而無定候也補其正氣而兼帶消邪奏功最易吾今亦傳一方名為助正消弭湯此方補氣補血而佐之柴胡以舒發其半表半裡之邪消痰消食之藥即有邪氣何從潛伏況正氣既強主人善戰門戶重修刀槍俱備自然氣勢張而賊人且望之而走又何必親加格鬥哉此又治假瘧之法也然吾更有一法以救貧窮無力</p>
<p>買藥之人吾符亦能卻病並傳於後</p>
<p>□書此符於茶杯水碗之內不必書紙焚燒也服符亦不可嘖聲</p>
<p><u>助正消弭湯</u></p>
<p>黃耆（五錢）　柴胡（一錢）　白朮（五錢）　半夏（一錢）　當歸（三錢）　白芍（三錢）　甘草（一錢）茯苓（五錢）　砂仁（三粒）　神麯（二錢）　麥芽（二錢）　山楂（十粒）　防風（五分）　水煎服</p>

<h3>傷寒</h3>
<p>傷寒有真假也陽症假作陰症陰症假作陽症辨之不清下喉即死可不慎歟夫純陰之症自然易明純陽之症自然可識惟是真見假而假見真人患此病已在半死半生之際天道以觀人心之善不善也有一念之善危變為安無一念之悛生且入死無奈世人不知猶怪生病之拙可嘆也雖然病之成於似陽似陰者天道之奇而必辨其似陰似陽者醫道之法豈可以天心之警戒為醫者免謗之資乎寧知真假嘆病之難醫不可昧於假真聽病之莫救也吾故談各門之外又將傷寒陰症似陽陽症似陰之真假而重為辨之也陽症見假陰之象必有身熱手足寒而厥逆之狀口必乾燥而脈反細微此等之症當從症而不可從脈觀其舌之黃白紅赤之若何真熱之症舌必如刺非黃即赤非黑即灰以此辨之萬無一失急以大乘氣下之或以大柴胡湯和之二湯之中又必按人之腹痛甚者用之必無有差矢之誤也陰症似真熱之症身亦有時而發熱腹亦有時而作痛手足亦時而作逆而口渴喉腫往往有之與之涼藥而作吐與之熱藥而亦吐此陰盛隔陽上假熱而下真寒也方用白通湯加人參附子煎冷與服一劑而病如失然亦須驗舌舌必白胎而滑斷不幹燥斷不芒刺此又可辨而明者也將此等之症瞭然胸中又何致動手殺人吾傳道至此實一段悲憫憐惜之心也以吾傳而告之天下自無再誤之理願遠公廣傳刊布以慰我碧落之懷也</p>
<p><u>太倉公淳于意傳於燕山之東時康熙戊辰六月之後二日也</u></p>
