<header data-type="book">
<h1>原幼心法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>彭用光</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1505">公元1505年</data></dd></div>
<div><dt>底本</dt><dd>明刊本（<a href="https://www.digital.archives.go.jp/file/1078081">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>上卷</h1>

<h2>一、原小兒論</h2>
<p>彭用光曰：小兒脈科，最難調治。蓋以嬰孩有病，難問證，難察脈，且臟腑初生脆嫩，而凡峻寒峻熱、一切孟浪之劑，慎勿輕投。且孺子之在襁褓中，內無七情六慾之交戰，外無大風大寒之相侵，何其幼孩之疾苦，若是之繁且甚也？且幼科醫師惟知醫小兒之病，未究其父母與乳母之病源也，妄投藥餌，每見變輕為重，轉重為危者，多矣！愚常深痛之而弗忍，故特出此篇，推原本始，以祛幼科之偏甚，以釋幼孩之冤苦，體天地生物之心，全父母愛子之情，俾天下嬰孩咸躋壽域而永其天年也。為父母者、業幼科者，最宜詳之，則幼孩幸甚幸甚！</p>

<h3>原初</h3>
<p>用光嘗考，人之有生，乃父精母血而成形其初也。為父者當預調助其陽，若峻熱、剛燥、丹石之劑，當禁；惟以王道、清溫之藥，應時服之，使陽氣自盛而精不熱。為母者當先調助其陰，若秦桂、烏附、椒萸之品，宜戒；惟以調經、生血、和氣之藥，預其服之，使陰氣自盛而無寒。如是則陰陽各盛而無熱燥，而有清純旺壯之精血矣，則當以人事副之，按其法而行之，則：三十時中兩日半，二十八九君須等，落紅滿地是佳期，金水過時空霍亂。霍亂之時妄費工，樹頭樹底覓殘紅，但解開花能結子，何愁丹桂不成叢。此蓋婦人月經方絕，經水才生，此時子宮正開，乃受精結胎之候，妙合大和之時，夫婦交會，則生子賢明無病而長壽，可必矣。</p>

<h3>原胎</h3>
<p>古者婦人妊子，寢不側，坐不邊，立不蹕，不食邪味，目不視邪色，耳不聽淫聲，口不出傲言，夜則令瞽誦詩道正事，如此則生子形容端正，才過人矣，此先王聖母之法也。愚謂今人當效之，未有生子而不賢壽也。用光作此直指以示之，若夫妊娠既成，為父者則當別室寢處，再不可交會。若為父飲酒，食熱煿之味，與夫不守禁忌，復行交會，則熱氣留於子之命門，胎中受父之熱毒，生孩則有熱疳、斑毒、瘡疹，百病由此而生，壽命由此欠長。為父者能依此戒慎，復行陰騭，寬和大度，救濟貧窮，則生子賢而且壽也，必以此為父者保護胎孩之法也。為母者，胎孕亦成，若能如古之胎教，恪守不違，非惟能復三代淳風，而生子必賢聖也。其次則當飢飽適宜。《內經》謂：肌兒之在胎也，母飢亦飢，母飽亦飽。煎煿燒炙，辛辣適口，胎氣隨熱；情欲動中，夫婦交會，胎息輒躁；或多食辛酸，或多食醬炒，或嗜欲無節，或嫉妒不常，或性狠暴急，或心存少善，皆能令胎受害，生孩則有驚疳、痰熱、瘡疹等證，諸疾由此而生，壽數由此而短也。為母者若能依此戒慎，恪守禁忌，更加性情溫良相夫，廣行善事，則生子確乎無病，壽命自延長，此為母者保護胎孕之本也。故《易》曰：君子修之，吉天之所以相吉人也。</p>

<h3>原形</h3>
<p>用光嘗考孫思邈天癸一日二日之說，復考白玉蟾氣血盈虛似月魂之說，因證以《素問》：月始生則血氣始精，月郭滿則血氣實，月郭空則經絡虛。蓋氣血自月上弦至望則盛，下弦至晦則衰。月郭滿魚腦實，月郭虛魚腦減，蛤與蟹皆然。《呂氏春秋》、《淮南子》皆不誣也。愚常見士大夫無子者，每每依此語，多有得子。然育與不育者，固有天命，亦猶父母胎孕之時，未能恪守妊娠禁戒，未能積行善事，使人事之未修，不可盡歸之於天命。智者宜識於心胸而改易之，自然育之而長壽也。或疑貴人侍妾滿前，得子甚少；漁郎一夫一婦，得子反多，何也？曰：寡欲乃有子，多欲乃無子。譬調一杯羹，鹽恰好則有味，鹽少則無味，故欲得子壽者，法當節欲，否則就枯松而求膏，炙槁竹而求瀝，欲有子也，難矣。又有一說，男猶天也，女猶地也。天之雨露未嘗不沾濡，而地有肥磽，有生物者，有不生物者。地若瓦礫，或瘠瘦，或斥鹵，而責生物，是鐫水而改火，挼藍而求朱。徒爾覬望而已，無獲也。經曰：父母生之，續莫大焉。為人子者，不可不知。此諸論當與種子門方中通考焉。</p>
<p>彭用光復考，有曰：父少母老，生女必羸；母少父老，生男必弱。又東漢馮偃，長不滿七尺，常自非短陋，恐子孫之省也。及為子伉，娶長妻，伉生勤，長八尺三寸。今天下士夫娶妻買妾，類求稚齒嬌嫩，生子皆軟弱多病而夭。甚而醉以入房，神思昏亂，雖得子亦不慧而頑淫也。又陰陽均至，非男女之身精血散，令駢胎品胎之兆，此《褚氏遺書》之說也。或有無糞門者，無產門者，何也？父母大小便急而受胎也。又有子生而頭如雪，肌肉純白，或以為社日受胎，非也。受胎之時母之經水正行，榮血泛溢，是以成胎則肌肉色白。褚氏所謂血充肌膚則身白是也。又有毛髮皆白，目視䀮䀮者，何也？經云：發者血之餘。又云：肝受血而能視。今月水方行，肝經血空，毛髮目睛各失所滋養，此皆原形於父母精血。胎孕所當謹節之要旨，為父母者，能知此而禁戒。其於飲食、男女、養胎、幼幼之法，必深得造化之生生不息之意。如此則生子聰明而賢秀，仁慈而溫厚，無病而壽考，才過人矣。比長而事親必孝，出仕而事君必忠。以之施政澤民，四海蒼生未有不蒙其惠者，斯天下熙熙皞皞而太平矣。愚故曰：胎教幼幼之法，奚可以易易視之！謹識之於此，以候智者察焉。</p>

<h3>原坐臥</h3>
<p>詳按《內經》與崑山顧翰林之法，為妊婦十忌，保護胎孩。</p>
<p>一勿睡熱炕。北方有此，南方火櫃亦同。</p>
<p>一勿飲燒酒。凡各樣燒酒及黃酒、白酒，有藥者，均不宜飲多。</p>
<p>一勿食煎炒炙煿之物。</p>
<p>一勿食蔥、韭、蒜、薤、胡椒、茱萸。</p>
<p>一勿於星月下仰臥，及當風洗浴、坐臥。</p>
<p>一勿食辛辣鹹酸。</p>
<p>一勿食水果、魚鱉、狐兔、鴿雀。</p>
<p>一勿食江西老雞。</p>
<p>一勿久立，勿久坐，勿久臥，勿久行。</p>
<p>一宜靜而不宜躁，宜涼而不宜熱。</p>

<h3>原生</h3>
<p>用光按：《內經》曰：婦人妊娠一月之時，足厥陰脈養之，二月足少陽脈養之，三月手少陰脈養之，四月手少陽脈養之，五月足太陰脈養之，六月足陽明脈養之，七月手太陰脈養之，八月手陽明脈養之，九月足少陰脈養之，十月足太陽脈養之。三百滿足則當生，宜先備黃連、甘草二味各九分，銼，作一貼收。候待產母欲之生時，即用水一小鐘，濃煎三之一汁，去渣，仍以細絹濾過，待孩兒初生下，急用軟絹或細綿包手指，蘸藥入兒口中，摳出口內惡血片，則終身無痘疳等病。如或不及，即以藥灌之，待吐出來惡沫血痰，方與乳食，年長智睿，聰明而無病，此法當於未發聲前用之，宜仔細。</p>
<p>一小兒斷臍必須緊扎牢縛，留五七寸長在孩臍上，以軟舊布巾包縛，勿令尿濕其中，並洗兒不可近臍，使無水氣，自無臍風、撮口之病。</p>
<p>一初生三五月間，宜繃縛令臥，勿豎頭抱出，免至驚癇。</p>
<p>一乳與飯食不可一時混吃，兔生疳癖痞積。</p>
<p>一宜用七八十歲老人舊裙、舊褲，改小兒衣衫，令兒有壽，雖富貴之家，切不可新制紵絲、綾羅、氈絨之類與小兒穿，不惟生病，亦且折福。愚意滿月受賀，宴賓宰殺，亦恐不宜。</p>
<p>一兒生四五個月□□□吃間以軟飯，嚼爛略與之，以鎮腸胃，切不可□□宜乳吃。六個月以後，方以稀粥哺之。周歲以前，切不可吃葷腥並生冷之物，令兒多疾。若待二三歲後，臟腑稍壯，才與葷腥最好。但禽犢之愛，守此戒者少，賢父母能之。</p>

<h3>原乳</h3>
<p>彭用光曰：養嬰孩第一真訣，全在乳母得人，乳母年壯，氣血充盛，德性溫良，乳汁濃厚，如熟雞蛋白樣者為佳。以此等婦為乳母，則所乳嬰孩血氣循序充旺，百病不生，自然長大成人。蓋以其乳母之善良——能守一切禁戒，忍卻一切厚味，又無情欲之動中，所以乳母自己無病而易養也。如或偶有吐乳、潮熱等證，急宜先詢問乳母經次及身上有何病動，曾吃何飲食，或曾被風寒外感，急宜先調治乳母，服以對症之藥，禁其一切當戒之物，使乳母早安，所謂母安則子安也。幼孩暫吃無病別婦之乳，俟本乳母身安則復乳也。間有一等婦女含羞，有病諱而不言，或有妊娠亦隱而難察，所以乳子為病極深，尤當一一堤防，以真情令老嫗以術察之，如或有此，必當改察乳母。庶乎，幼孩之無病而不為醫師之所誤！幼孩為啞科，若此，則代其告冤苦，以免其灌藥灸艾之枉屈，庶得以永其天年，為父母當留心於此。此育嬰之第一關，實真切而淺近也，舉世多忽略而不悟性，惟醫小孩，而鮮究其乳母。愚不揣慵陋而原之，曰：況乳母飲食下咽，乳汁便通；情欲動中，乳脈便應。若不節謹，兒病立至。又乳母初病，其溺必數，即須調理其母，母安則子安。防患於未形，善之善者也。</p>

<h3>原變蒸</h3>
<p>用光按：《內經》曰：小兒之初生，血氣未足，陰陽未和，臟腑未實，骨骼未全，有變蒸之後，每三十二日一發熱，或吐，或汗，或呻吟不食，此為長血脈、全智意之常候，不須治而自愈。按諸家所論，皆謂乃小兒長骨脈臟腑，謂神志也。自生之日始，每三十二日一變。凡人有三百六十五骨，除手足四十五碎骨外，正有三百二十日。自□丁骨而上，一日十骨，三十二日乃為一變，骨氣始生。一變生一臟或一腑，十變則臟腑始足。每變發為虛熱諸症，亦有胎氣壯實，暗變而無發熱證。此骨節臟腑，由變而全，胎毒亦□變而啟也。為兒醫者，可不審乎？但變蒸發熱，則幼孩上唇有白小點，若此則不必服藥，亦不可輕發汗，待其自愈。</p>

<h3>原諸疳</h3>
<p>用光按：《內經》曰：母有娠，兒食其乳則為疳。母乳孩而父交會，謂交精；妒，乳則成疳。又曰數食肥，令人內熱；數食甘，令人中滿。蓋其病因肥甘所致，故命名曰疳。若夫襁褓中之乳子，與二三歲之孩提，乳哺未息，胃氣未全，而穀氣尚未充也。父母不能調和，惟務姑息，舐犢之愛，遂令恣食肥甘與夫瓜果生冷，及一切烹飪調和之味，朝餐暮食，漸成積滯膠固，以致身熱體瘦，面色痿黃，或肚青、蟲痛、瀉利，而諸疳之證作矣。錢仲陽曰：小兒病疳，多因大病後，或吐瀉後，以藥下之，致脾胃虛損，亡津液而成。蓋此證實由愚醫之所害耳，斯言也，特一端耳，未可悉而為然，其所謂大病吐瀉，豈非飲酒之所致與。夫仲陽為兒醫之祖，豈有誤耶？其所論諸疳形證治法，班班可考，學者不可不審。如疳在肝，則膜遮睛，法當補肝，地黃丸主之；疳在心，則面頰赤，身體壯熱，法當補心，安神丸主之；疳在脾，則體黃腹大，好食泥土，法當補脾，益黃散主之；疳在肺，則氣喘，口鼻生瘡，亦當補脾，益黃散主之，此虛者補其母也；疳在腎，則極瘦而身生瘡疥，法當補腎，地黃丸主之。筋疳則瀉血而瘦，當服補腎地黃丸；內疳則目腫腹脹，利色無常，或沫清白，漸而瘦弱，此冷證也，宜服木香丸；外疳鼻下赤爛，自揉鼻頭有瘡，不結痂，繞目而生，當用治瘡蘭香散、白粉散等藥。法曰：諸疳皆依本臟而補其母，則子自安。假令日中潮熱，是心中虛熱也。肝為心之母，宜先補肝，肝實而後瀉心，心得母氣則內平，而潮熱愈。以余皆仿此。大抵疳病，當辨冷熱肥瘦而治。其初病者為肥熱疳，久病者為瘦冷疳。冷則用木香丸，熱則當用胡黃連丸。冷熱疳並，宜用如神丸之類。惟小兒之腑臟柔弱，不可痛擊，大下必亡津液而成疳證。為兒醫者，常當以幼幼之心為心，而善調之。無縱巨膽，亡為施治，以絕人之嗣續，幸甚。</p>

<h3>原驚</h3>
<p>彭用光詳考《內經》曰：諸風掉眩，皆屬肝木。大小兒八歲已前，曰純陽。蓋其真水未旺，心火已炎，故肺金受制而無以平木，是肝常有餘，而脾土常不足也。為父母苟有失於保養，其或衣服寒暄不調，以致外邪侵襲，或飲食之飢飽失節，以致中氣傷損，是故急慢二驚之候作矣。夫惟急驚屬肝木，風邪有餘之症，治宜清涼、苦寒瀉氣之藥；慢驚屬脾土，中氣不足之候，治宜中和、甘溫補中之劑。若夫急驚之候，因聞不常之聲，或遇驢馬禽獸之唬，以致面青口噤，或聲嘶而厥，發過則容色如故，良久復作，其熱面赤引飲，口鼻中氣熱，大小便黃赤色，惺惺不睡，蓋熱甚則生痰，痰盛則生風，偶因驚而發耳，宜用錢氏利驚丸、瀉青丸、抱龍丸、宣風散、五福化毒丹等藥。慢驚之證，多因飲食不節，損傷脾胃，以致吐瀉日久，中氣木虛，而致發搐，發則無休止時，其身冷，面黃，不渴，口鼻中氣寒，大小便青白，昏睡露睛，目上視，手足瘛瘲，筋脈拘攣，蓋脾虛則生風，風盛則筋急，俗名天吊風者，即此候也。治宜東垣黃耆湯、錢氏鉤藤丸、溫白丸、丹溪參朮湯送下硃砂安神丸之類。錢氏謂：驚急為無陰之證，因心經實熱，而陰不能以配陽，是為陽盛陰虛之候也；謂慢驚為無陽之證，因脾土虛甚，而陽不能以勝陰，是為陰盛陽虛之候也。愚按：小兒急慢驚風之證，其虛實寒熱，如天淵之隔，故急驚者十生一死，慢驚者十死一生，俗醫多不諳此理，混為一途而治誤人多矣。業幼科者，宜推幼幼及人之心為心，庶免斯世無夭枉之赤子矣，幸甚。為父母者，宜究此原幼之一書也。按：丹溪曰：慢驚屬脾虛，所主多死，宜溫補；一云當養補，用參朮煎湯下安神丸。急驚屬痰熱，宜涼瀉；一云用養血藥作湯下降火清痰丸子、抱龍丸之類。世以一藥通治二證，甚謬。東垣治驚論曰：外物驚宜鎮心，以黃連安神丸；若氣動所驚，宜寒水石安神丸，大忌防風丸治風。辛溫之藥以殺人，何也？辛散浮溫熱者，火也。因驚而泄青色，先鎮肝，以硃砂之類，勿用寒涼之氣，大禁涼驚丸。風木旺必以克脾胃，當先實其土，後瀉其木。閻孝忠編集錢氏方，以益黃補土，誤矣，其藥有丁香，辛熱助火，火旺土愈虛矣。青橘皮瀉肺，丁香熱，大瀉肺與大腸。脾實當瀉子，今脾胃虛，反更瀉子而助火，重虛其土，殺人無疑矣。其風木旺證，右關脈洪大，掌中熱，腹皮熱，豈可以助火？如瀉金，寒水來乘脾土，其病嘔吐腹痛，瀉痢青白，益黃散聖藥也。今立一方，先瀉火補金，大補其土，是為神治之法，是黃耆湯。醫宜臨症用之。</p>

<h3>原吐瀉</h3>
<p>《內經》曰：諸嘔吐酸，暴注下迫，皆屬於熱。又曰：濕勝則濡泄。夫小兒之嘔瀉，皆由乳食過度，傳化失常。蓋食鬱則成熱，熱鬱則成酸，酸而成吐成瀉，此必然之理也。又曰：食滯於胃口為吐食，滯於大小腸者為瀉。有生下而遂吐不休者，胞胎中穢惡流於腸胃而為吐也。潛溪曰：小兒初生下，蓋拭口中穢惡不盡，咽入喉中，故吐。此為父母者不預防，致令幼孩受苦也。錢氏五補五瀉之法可選而用之，詳後。</p>

<h3>原腹脹</h3>
<p>愚按：腹脹由脾胃虛，氣攻作也。亦有實者，必悶亂喘滿，可下之，宜用紫霜丸、白餅子。不喘滿者，虛也，不可下。若誤下，致脾虛，氣上附肺，而行肺與脾，子母皆虛。肺主目胞腮，脾主四肢，母氣虛甚，則目胞腮腫也。色黃者，屬脾也，治用塌氣丸漸消之，未愈，漸加丸數，不可以丁香、木香、桂皮、豆蔻大溫散藥治之。蓋脾虛氣未出，腹脹而不喘者，可以溫散藥治，使上下分消，其氣則愈也。若虛氣已出，附肺而行，則脾胃內弱，每生虛氣，入於四肢面目矣。小兒易為虛實，脾虛不受寒溫，服寒則生冷證，服溫則生熱症，醫當知此，不可忽也。胃久虛熱，多生疸病，或引飲不止，脾土不能勝濕，隨肺之氣上行於四肢，若水伏濕口浸，浮於肺則大喘也，此宜服塌氣丸而愈。詳□再詳：小兒疳病者，小兒臟腑嬌嫩，飽則易傷，乳哺飲食一或失常，不為疳病鮮矣。疳皆因飲食不調，甘肥無節而作也。或嬰幼缺乳，粥飯太早，耗傷形氣，則疳之根生，延及歲，五疳病病成。甚者，胸陷喘噦，下食直瀉，腫滿下利，腹脅脹疼，皮發紫瘡、口瘡，肌肉光紫。與夫疳勞渴瀉而槁色，突骨露齒，腹脹，吐硬不多者，皆危篤矣。凡此等類，盧扁復生，難施其巧，為父母先能遵守禁戒，何疳之有！</p>

<h3>原小兒受胎稟賦厚薄不同論</h3>
<p>彭用光按：《千金》論曰：兒在母腹中，受其精氣，一月胚，二月胎，三月血脈，四月形體成，五月能動，六月筋骨成，七月毛髮生，八月臟腑具，九月穀神入胃，十月百神備而生。生後六十日腫子成，能笑語識人；百日任脈生，能反覆；一百八十日尻骨成，能獨立；二百一十日掌成，能匍匐；三百日髂骨成，能獨倚；三百六十日為一期，膝骨成，乃能移步，此是常足之法。不如此者，身不平爾。又云：才生下有身破裂者，曰夭；陰囊白者，夭；陰不起者，夭；無糞門者，夭；股間無生肉者，夭；忽如鴉聲者，夭。其周歲之間，顱囟開解，齒髮未生，手足攣縮，膝如鶴節，身體瘦瘠，或三五歲不能行立，此皆受胎氣之不足者也。若筋實則多力，骨實則早行，血實則形瘦多發，肉實則少病，精實則伶俐多語笑，不怕寒暑，氣實則少發而體肥，此皆受胎氣之充足者也。大抵稟賦得中，道為純粹；陰陽得所，剛柔兼濟；氣血相和，百脈相順，精備神全；臟腑充實，形體壯健。其未周之時，顱囟堅合，睛黑神清，口方背厚，骨粗臀滿，臍深肚軟，莖小卵大，齒細發潤，聲洪穩睡，此皆受胎氣，胃中和者也。故以聽其聲，觀其形，則可以知其虛實壽夭矣。父母能修德行仁，則夭者亦壽矣。</p>

<h3>原妊娠不守禁忌，生兒多疾之戒論</h3>
<p>愚嘗按：《心鑑》云：常見富貴之家，懷妊婦人，居於奧室，飢則辛酸無所不食，飽則恣意坐臥，不勞力運動，是以胎氣微弱，生子必軟而多疾。若夫起居有常，飲食有節，使神全氣和，受胎常安，生子必偉而少疾。潛溪云：往往胎孕致病，人多翫忽，醫所不知。兒之在胎，與母同體，得熱則俱熱，得寒則俱寒，病則俱病，安則俱安，母之飲食起居，可不慎哉！姑陳一二，以為規戒。一子二歲，滿頭有瘡，一日瘡忽自平，遂患痰喘，詢其母孕時所喜何物？曰辛辣是其所喜，知其所胎毒也，慎勿與解利藥，因口授一方，用人參、連翹、川芎、黃連、甘草、陳皮、芍藥、木通，濃煎沸湯，入竹瀝與之，數日而安。或曰：何以知之？曰：見其子精神昏倦，病受得深，決無外感，非胎毒如何？又一婦人形瘦性急，體本無熱，懷孕三月適當夏暑，口渴思水，時發小熱，遂教以四物湯加黃芩、白朮、陳皮、生甘草、木通，因懶於煎煮，數貼而止，其後生子二歲，瘡痍遍身，忽一日其瘡頓愈，遂成痎瘧，此亦胎毒也。瘡亦再作，病必自安，已而果然。若於孕時，確守前潛溪原胎論，何病之有？又一女得癇，遇陰雨則作，遇驚亦作，口吐涎沫，聲如羊鳴，此胎受驚也，其病深痼，調治半年，病亦可安，仍須淡味，以助藥功，與燒丹丸，繼以四物湯入黃連，隨時令加減，果半年而安。三者是皆胎婦調適乖常，飲食嗜欲，忿怒驚撲，母有所感，胎必受之，或外挾風邪，有傷於胎，子乘母氣，生下多疾，病患至此，誠為妊娠之所當戒也。為父詳觀此《原幼》一書，以訓胎婦也。</p>

<h3>原護養論</h3>
<p>彭用光曰：小兒生長，必欲人襁褓之。襁褓之道，必須得宜。如春夏之月，乃萬物生長之時，宜教令地臥，使之不逆生長之氣；如秋冬之月，乃萬物收藏之時，宜就溫暖之處，使之不逆收藏之氣，然後血凝氣和，則百病無自而入矣。大抵衣不可太暖，暖則汗出表虛，風邪易入；乳不可太飽，飽則胃弱而易傷，積滯難化。《格致餘論》云：童子不衣裘帛。下體主陰，得寒涼則陰易長，得溫暖則陰暗消，是以下體不與帛絹夾厚之服，恐防陰氣。又云：兒血氣盛，食物俱易消，腸胃尚脆而窄，若調黏乾硬酸鹹辛辣，一切魚肉、水果、濕面、燒炙、煨炒，但是發熱、難化之物，皆宜禁絕。南北仕宦在外省，切戒此條，免幼孩之苦也。婦人無知，畏其啼哭，無所不與，積成痼疾，雖悔何及？所以富貴驕養，有子多疾，何也？蓋富貴之家，久藏於幃帳之內，重茵疊被，令兒筋骨緩弱，譬如陰地草木，不見風日，少有堅實者也，誠非保育之法；而田舍嬰兒，未嘗愛護，終日暴露，或飢或寒，絕無他病者，此皆見風日、著地氣之力也，豈貴賤之理有異哉！明乎此，則護養之道得矣。</p>

<h3>原乳哺續論</h3>
<p>用光曰：初生芽兒，藉乳為命。乳哺之法，不可不慎。夫乳者，榮血之所化也。至於乳子之母，尤宜謹節，飲食下咽，乳汁便通；情欲動中，乳汁便應；病氣到，乳汁必凝滯，兒得此乳，疾病立至，不吐則瀉，不瘡則熱，或為口糜，或為驚搐，或為夜啼，或為腹痛。病之初來，其母溺必甚少，便須詢問，隨證調治。母安則子安，可消患於未形也。故哺乳，夏不欲熱，熱則致吐逆；冬不欲寒，寒則致咳痢；母不欲怒，怒則上氣顛狂；母不欲醉，醉則令身熱腹痛。母方吐下而乳，則致虛羸；母有積熱而乳，則變黃不能食。新房而乳，則瘦瘠，交脛不能行；新浴而乳，則發吐哯神困。傷熱，乳則瀉黃；傷冷，乳則瀉青；冷熱不調，停積胸膈，結為痰飲，遂成壯熱，壯熱不已，乃作驚癇。兒啼未定，遽以乳哺，氣逆不消，因成乳癖。懷妊而乳，致令黃瘦，腹大腳弱，名曰魃病。大抵乳哺，不可太過，故諺云：嬰兒常病傷於飽也。又云：忍三分飢，吃七分飽，亦至論也。</p>

<h3>原痘疹</h3>
<p>用光按：《內經》曰：諸痛癢瘡毒，皆屬心火。小兒痘疹之證，最為酷疾，不日之間，死生反掌。蓋因瘡毒藏於命門，遇歲火太過，熱毒流行之年，則痘毒因之而發作矣。一發則出於心肝脾肺四臟，而腎無留邪者，為吉。若初發便作腰痛，見點則紫黑者，多死。蓋毒氣留於腎間，而不發越故耳。錢氏須有百祥丸大下之法，然活者十無一二，大抵痘瘡之法，多歸重於脾肺二經。蓋脾主肌肉，肺主皮毛，故遍身為之斑爛也。其為證也，宜發越，不宜鬱滯；宜紅活凸綻，不宜紫黑陷伏。瘡出之後，醫者當察色詳證，以辨表裡虛實用藥。其吐瀉不能食，為裡虛；灰白色陷頂，多汗，為表虛；紅活凸綻，無汗，為表實。又諸痛為實，諸癢為虛，外快內痛為內實外虛，外痛內快為內虛外實。裡實而補，則結癰毒；表實而復用實表之藥，則潰爛不結痂也。如表虛者，瘡易出而難靨；表實者，瘡難出而易收。裡實則出快而輕，裡虛則發遲而重；表實裡虛，則陷伏倒靨；裡實表虛，則發慢收遲。治之之法，三日已前未見紅點，必用升麻湯、參蘇飲之類，以發其表，務令微汗為度。若未汗，如表猶未解，雖略見紅點，隱約於肌肉間，而升散開發之劑尚未可除。凡見出遲發慢者，根窠欠紅活者，便當憂慮，攝幼，勿袖手待斃。夫古人用藥，寒熱迥別，主意不同，醫再宜臆度寒暄，推詳運氣而治。如陳文中之木香散、異功散，用丁附薑桂等峻熱之藥，而與《內經》病機不合。丹溪等發揮其誤，亦有得其當者，屢獲捷效。若劉河間、張子和輩，恐用芩連、大黃等寒涼之劑，丹溪亦曰：酒炒芩連，各解痘毒，依法用之而獲安者，亦不少也。今之醫者，往往不同，依陳氏而行者，多用熱藥；宗劉張而治者，多用涼劑，是故不偏於熱，則偏於寒，此刻舟求劍之道也。愚按：《內經》有曰：寒者熱之，熱者寒之，微者逆之，甚者從之。又曰：逆者正治，從者反治。從少從多，觀其事也。陳氏用從治之法，權也；劉張用正治之法，常也。然皆不外乎寒熱緩急，施治固不執一見也。楊氏曰：痘瘡發於肌肉，陽明胃氣主之，脾土一溫，胃氣隨暢，決無陷伏之患。湯氏曰：如庖人籠蒸之法，但欲其松耳。滄州翁呂復折衷眾說，著方立論，適中用藥；寒熱攻補，斟酌時宜，未嘗執一治也。學者宜遵守其法而行之，庶無一偏之患矣。</p>

<h3>原醫</h3>
<p>原夫醫乃仁術，以生人為心要，當識理精明，研究《內經》諸書之旨趣，庶可以寄人之生死。況幼孩為啞科，尤為不易，必存心仁恕，量度寬宏而正直，忠厚有德，不以貧富異施，為眾所欽，服有效者如此，名醫。遇幼孩有病，及時禮請調治，切勿吝費過時。醫既至，然醫必擇藥以治病，庶乎有效。病家不宜慳嗇，即買道地真藥，以收萬全之效也。</p>

<h3>原戒巫</h3>
<p>原巫所以交鬼神，非所以治病也。苟信巫而不信醫，此天下之愚婦俗夫也。所以倉公著書曰：信巫不信醫者，為不治之病。故特出此儆戒，毋陷偷薄之俗，且符水反能驚嚇幼孩。生病只憑醫藥治病，以求效驗，使幼孩得以求其天年也。慎之慎之！</p>

<h3>原問病源</h3>
<p>原切脈以謂能知病源。若幼孩臟腑血氣未全，難憑診脈，又不能言語，雖大人所傷食物，脈中豈能見其形象乎？醫者宜逐一問其根源，病家當一一直說其所傷何物。若父母不以病源直告，醫者又不詳問，苟或有差，其患不淺。所以醫必詳問，主必直告，使醫者備知其食物，則用藥必效，而幼孩無冤枉之治，病斯安矣。孫真人云：未診先問，最為有準。東垣云：只圖愈疾，不欲困醫。二公之言，其有功於世，大矣。</p>

<h3>原風土</h3>
<p>愚嘗歷兩京及各省，乃知南北風土習俗異宜。北方則風氣剛勁，人稟多厚，所用飲食俱炙煿、煎炕、油炒，烙餅、酥醬、椒姜，出火大熱即吃，又睡熱炕，雖暑月必煿炙乘熱而食，少冷則火上再熱，食之亦不為害，蓋其地寒而稟賦厚，遇渴則飲冷水三五杯，因以解其火熱。若北人仕宦居於南方，則當戒其煎煿、烙餅熱味，與夫生冷瓜果。若妊娠幼孩，尤當一切禁戒，庶乎無病。設或水土不服，感病亦輕，而或縱性，習俗不改，則感必重，重必危殆，此則南方下濕，風氣不同，濕熱山嵐之氣使然。仕宦居南者，宜禁戒之。若南人居北仕宦，與夫幼孩妊婦隨任者，俱宜禁戒，如此則得平安者，以其不食炙煿、煎炒也。俾幼孩無胎毒之苦，為父母者宜知水土不服之說，庶乎孕胎無積熱，而嬰孩無胎毒，而百病無自而起，庶乎以永其天年也。醫亦當知之。</p>

<h3>原病有六失訣</h3>
<p>失於不審。失於不擇醫。失於不信。失於不識病。失於過時。失於不知藥。</p>
<p>此六失之論，特為幼孩父母而出，遇兒病，宜及時擇醫，若有一失，即為難治。</p>

<h3>原養子真訣</h3>
<p>吃熱莫吃冷。（注曰：凡喂兒飯食、湯水，必溫熱。不可以熱為誤用熱藥也，此熱字為粥飯湯水之類。）</p>
<p>吃軟莫吃硬。（注曰：小兒粥飯食物之類，不可過硬，恐其澀滯於胃慮，故不可吃硬也。）</p>
<p>吃少莫吃多。（注曰：小兒飲食，必須有節，徐徐與之，不可過多而傷於脾胃，勿大飽也。）</p>

<h3>原治</h3>
<p>按：《內經》曰：凡小兒證候，難以手太陰尺寸脈診，如一歲至六歲曰嬰孩，惟以男左女右，手次指三關之脈，以為驗病輕重死生之訣。第一節名風關，無脈則無病，有脈則病輕；第二節名氣關，脈見則病重，尚可以藥治而已；第三關名命關，脈見則病劇，乃九死一生之惡候也，多不可治。七歲八歲曰齔，九歲十歲曰髫，始可以一指探掌後尺寸三部之脈，而以一息七八至為無病之常脈；十一歲至十四歲曰童丱，而以一息五六至為常脈也。數則為熱，遲則為寒，浮則為虛為風，沉則為實為積為痛，浮而數者為乳癇驚悸，虛而軟者為慢驚瘛瘲，緊而實者為風癇，牢而革者為便秘，沉而弦者為食積為腹痛，緊而弦者為氣急為風，洪數者為熱伏，結為傷食，軟細者為蟲疳。若氣促，脈代散亂無倫次者，不治也。業幼科者，其可不盡心於此乎？</p>
<p>今將頭面二圖並手指三關之脈一圖，分注開列於後。</p>

<h3>面部圖形</h3>
<p>小兒初病，先見面部與虎口之脈色，吉凶相合，詳看。</p>
<figure>
<img alt="面部脈色圖">
</figure>
<figure>
<img alt="腦背部脈色圖">
</figure>

<h3>手指三關脈圖</h3>
<p>一風關易治，二氣關病深，三命關危候。</p>
<figure>
<img alt="手指三關脈圖">
</figure>
<p>小兒驚風脈候：青色天雷四足驚，赤色飛禽因外人，黑色只因遭水撲，風關候脈應心經。</p>

<h3>辨三部脈證</h3>
<p>上黑鬚知腎臟傳，中關黑候又綿綿，大驚此患兩相雜，目多直視定痰涎（下硃砂膏）。下黑鬚知是再驚，但宜風積便和平；上下是同因打撲，熱來悶閉沒心情。上青肝臟有風停，目直便青面更青；中是人驚並四足，渴來發燥不惺惺。下青原是再驚根，解熱宣腸是何論；上下俱青候是惡，十個之中得一存。上赤風多入肺停，或來發熱嗽聲頻；中是風來入心臟，腸痛頻頻下瀉青。下赤重驚見本宗，但調心臟有神功；上下一同難治療，口閂目下是知凶。上青肝臟本因留，目閉身疼四體柔；中是水瀉並再撲，熱來喘嗽不知休。下青固是再驚來，妙藥宣風定少災；上下若青俱發熱，四肢逆冷奄泉臺。上黑之時目上瞪，大便流糞又兼青；中見之時狀消渴，下熱尿黃便安寧。下黑若見赤相隨，氣多下瀉候如斯；上下俱同須看守，虛燥煩渴速求醫。</p>

<h3>再看三關脈色細訣</h3>
<p>上關見此脈，是心之疾也，轉瀉恐虛而生風痰（俱下鎮心丸，壓驚風散）。</p>
<p>中關若赤，便多風熱（又下解風鬲藥）。</p>
<p>下關若赤，發熱，大腸閉結（惡候）。</p>
<figure>
<img alt="三關赤脈圖">
</figure>
<p>上關見此黑脈，是腎臟之脈，為順。若是大腸秘澀，生風之候也（下硃砂膏）。</p>
<p>中關黑脈，生風之候，不為惡候（下中黃膏）。</p>
<p>下關黑見，無惡候起（下宣轉丸），即痰。若自瀉，足腸冷（只下溫暖臟腑湯藥），不得轉換。</p>
<figure>
<img alt="三關黑脈圖">
</figure>
<p>上關若見此脈，四肢逆，嘔吐，加喘者，惡候；吐喘定，生候。</p>
<p>中關青脈，風搏觸心，急與治風，即瘥（下烏犀硃砂等膏）。</p>
<p>下關青脈若見，無候即不宣轉（瘥上），中俱同，四肢熱為和，四肢逆，凶候也。</p>
<figure>
<img alt="三關青脈圖">
</figure>
<p>上關黑並眼下黑，量生未滿二歲，得此脈與候者，及大腸流，或身體壯熱，全者，須渴；若下，發熱或無渴，與解之，瘥（先下天竺黃散，後下硃砂膏）。</p>
<figure>
<img alt="上關黑脈並眼下黑圖">
</figure>
<p>黑脈錯亂者，腹脹是候，或下痛，即是積候（下宣風丸散，次下勻氣散和胃氣）。</p>
<figure>
<img alt="黑脈錯亂圖">
</figure>
<p>一日赤脈亂者，是打撲息（下鎮心丸及大驚丸散），脈透中關，立變風候，忌不宜轉藥傷虛動脾，臟生逆吐者，凶候，用勻氣散補虛。</p>
<p>如第一日便見此脈，三關都見，是五臟之應患；若第二日中關部隱隱，或下見，只中關見者，多氣候；若三關都見，或隱隱，或面浮者，是精氣候；常隱隱者，不交，出沒數旬而死。</p>
<p>如左手上部脈，曲歸里者，是傷積（下保童丸）；曲歸外者，客風觸之即發搐也（下鎮驚丸散），中關若歸里者，是客風傳變（下調中散解之）；曲外者，凶候。曲候過命關，並外有惡候起者，凶候。</p>
<figure>
<img alt="赤脈錯亂圖">
</figure>
<p>上關脈亂者，傷冷之患（下勻氣散）；中部脈亂風者，傷熱，傳風盛之疾（下烏犀膏，用宣利藥而詳之）。</p>
<p>下關若亂，急須下，溫脾臟，若下進食，凶候。</p>
<figure>
<img alt="三關脈亂圖">
</figure>
<p>此兩雙指關，若見青與赤相雜，如紫色，無黑者（惡候），上關脈見，傷寒，必發咳嗽，須解表；微微浮人中關，是風候（下清金膏）；下關若見，頻退為吉，不退為凶候。若孩童從氣關傳至命關，方可調治。</p>
<figure>
<img alt="三關青赤紫相雜圖">
</figure>
<p>以上秘訣，為神聖之醫也。此前人消息，後之學者宜細推之。</p>

<h3>小兒脈法</h3>
<p>左心小腸肝膽腎，右肺大腸脾胃命。</p>
<p>孫華二真人曰：凡小兒左手見右手脈，逆，惡也；右手見左手脈，為逆，惡候也。此陰陽定之，而決生死，何況虎口脈平，五歲已上至十歲已下，自斷乳而進食，陰陽備矣，故可善一指而定三關，分寸關尺，象天地之九候也。</p>

<h3>手指脈紋圖</h3>
<p>風關青如魚刺，易治之。初驚候黑色，難治。氣關青如魚刺，三疳，身熱易治。命關青如魚刺，主虛，風邪傳脾，難治。</p>
<figure>
<img alt="三關青如魚刺圖">
</figure>
<p>風關壽黑色如懸針者，主水驚。氣關赤如懸針，主疳兼肺臟積熱。命關青黑，凡五色皆是死候。三關通度如懸針者，慢驚風，難治。</p>
<figure>
<img alt="三關壽黑色圖">
</figure>
<p>風關如水字，主驚風入肺，咳嗽、面赤。氣關如水字，主膈上有涎，並痰積停滯。命關如水字，主驚風疳極。不拘五色，三關通度者，不治。</p>
<figure>
<img alt="三關如水字圖">
</figure>
<p>風關如乙字，主肝臟驚風，易治。氣關如乙字，主驚風。命關如乙字，青黑色，主慢脾，難治。</p>
<figure>
<img alt="三關如乙字圖">
</figure>
<p>風關如曲蟲者，疳病，蟲聚胸前，如橫排筭子，肚皮似吹起豬疱。氣關如曲蟲，主大腸穢積。命關如曲蟲，主心臟傳肝，難治。</p>
<figure>
<img alt="三關如曲蟲圖">
</figure>
<p>風關如環，主肝臟疳，有積聚。氣關如環，主疳入胃，吐逆不治。命關如環，難治。</p>
<figure>
<img alt="三關如環圖">
</figure>
<p>此紋若在風、氣二關，易治。若在命關通度者，難治。</p>
<figure>
<img alt="紋在三關圖">
</figure>
<p>此紋在手上或面上，或在左右臉邊，皆是死候。</p>
<figure>
<img alt="紋在手上圖">
</figure>
<p>脈曲向里者，是氣疳。</p>
<figure>
<img alt="脈曲向里圖">
</figure>
<p>脈曲向外者，是風疳。</p>
<figure>
<img alt="脈曲向外圖">
</figure>
<p>脈斜向右者，是傷寒，身熱，不食，無汗。</p>
<figure>
<img alt="脈斜向右圖">
</figure>
<p>脈斜向左者，是傷風，身熱，不食，有汗。</p>
<figure>
<img alt="脈斜向左圖">
</figure>
<p>雙勾脈者，是傷寒。</p>
<figure>
<img alt="雙勾脈圖">
</figure>
<p>脈三曲長蟲，是傷硬物。</p>
<figure>
<img alt="脈三曲長蟲圖">
</figure>
<p>脈兩曲如鉤，是傷冷。</p>
<figure>
<img alt="脈兩曲如鉤圖">
</figure>
<p>脈一頭如環、有腳，是傷食。</p>
<figure>
<img alt="脈一頭如環圖">
</figure>
<p>面上有此點子，並是再發之候。</p>
<figure>
<img alt="面上有點圖">
</figure>
<p>頭面肚上有此脈並青筋，並是食毒、驚積，難療。</p>
<figure>
<img alt="頭面肚上有雜脈並青筋圖">
</figure>
<p>脈如亂蟲者，是疳，亦有蛔蟲、食積、疳，治之必瘥。凡脈不足細者，並是風氣，但消疳，然後取蟲，肥孩兒為效。</p>
<figure>
<img alt="脈如亂蟲圖">
</figure>

<h3>驚風搐握拳圖</h3>
<p>握指於外。</p>
<figure>
<img alt="驚風搐握指於外圖">
</figure>
<p>握指於內。</p>
<figure>
<img alt="驚風搐握指於內圖">
</figure>
<p>叉指。</p>
<figure>
<img alt="驚風搐叉指圖">
</figure>
<p>男子握拳於外為順，於內為逆；女子握拳於內為順，於外、叉指者，惡候也。</p>

<h3>察小兒神色總斷</h3>
<p>彭用光曰：凡看小兒病，宜先形證神色，然後察脈。假如肝之為病，則面青；心之為病，則面赤；脾之為病，則面黃；肺之為病，則面白；腎之為病，則面黑。先要分別五臟形證，次看稟受盈虧、胎氣虛實，明其標本而治之，無不可者。</p>

<h3>面上諸候形證歌（五言七言）</h3>
<p>疳疾眉頭皺，驚風面頰紅，渴來唇帶赤，毒熱眼朦朧。</p>
<p>又：山根若見脈橫青，此病明知兩度驚，赤黑困疲時吐瀉，色紅啼夜不曾停。</p>
<p>又：青脈生於左太陽，須驚一度見推詳，赤是傷寒微燥熱，黑青知是乳多傷。</p>
<p>又：右邊青脈不須多，有則頻驚怎奈何，紅赤為風抽眼目，黑青三日見閻羅。</p>
<p>又：指甲青兼黑暗多，唇青惡逆病將瘥，忽作鴉聲心氣急，此時端的命難過。</p>
<p>又：蛇蟲出口有三般，口鼻中來大不堪，如或白蟲兼黑色，靈丹縱服病難安。</p>
<p>又：四肢瘡痛不為祥，下氣衝心兼滑腸，氣喘汗流身不熱，手拿胸膈定遭殃。</p>
<p>內八段錦</p>
<p>紅淨為安不用驚，若逄紅黑便難寧，更加紅亂青尤甚，取下風痰病立輕。</p>
<p>又：赤色輕微是外驚，若如米粒勢難輕，紅散多因乘怒亂，更加搐搦實難平。</p>
<p>小兒初誕月，腹痛兩眉顰，病盤腸氣時，啼哭又呻吟。</p>
<p>如反目仰視者，天吊風也。</p>
<p>小兒初誕月，肌體瘦尪羸，發禿毛稀少，元因鬼王胎。</p>
<p>外八段錦</p>
<p>先望孩兒眼色青，次看背上冷如冰，陽男搐左無妨事，搐右令人甚可驚；女搐右邊猶可治，若逢搐左病非輕，歪斜口眼終為害，縱有仙丹也莫平。</p>
<p>眼中赤脈實難量，大數元來一不詳，最怕亂文鋪目下，更嫌赤脈貫瞳光；囟門腫起定為風，此候應知最是凶，忽陷成坑如盞足，未過七日命須終。</p>
<p>鼻門黑燥渴難禁，面黑唇青命莫存；肚大青筋俱惡候，更嫌腹有直身紋。</p>
<p>忽見眉間紫帶青，看來立便見風生，青紅碎雜風將起，必見疳癥隔氣形。</p>
<p>亂紋交錯紫兼青，急急求醫免命傾，盛紫再加身體熱，須知臟腑惡風生。</p>
<p>紫少紅多六搐驚，紫紅相等即疳成，紫點有形如米粒，傷寒夾食證堪評。</p>
<p>紫散風傳脾臟間，紫青口渴是風癇，紫隱深沉難治療，風痰怯散命須還。</p>
<p>黑青可治死還生，紅赤傷寒痰積停，赤青脾受風邪證，青黑脾風作慢驚。</p>
<p>紅赤連兮赤藥輕，必然乳母不相應，兩手忽然無脈見，定知沖惡犯神靈。</p>

<h3>論小兒脈法</h3>
<p>愚按：《脈訣》曰：凡診小兒脈，當大指按三部，一息六七至為平，八九至為內寒，弦脈為風癇，沉緩為傷食，促急為虛驚，弦急為氣不和，沉細為冷浮為風，大小不均為鬼祟，浮大數為風熱，伏結為物聚，單細為疳勞，風腸痛，多喘嘔，脈洪為有蟲，浮而遲，潮熱者，為胃寒也。</p>
<p>《脈經》曰：小兒四歲，呼吸八至，細數者，吉。又云：呼吸八至者平，九至者傷，十至者困。診小兒脈法，多雀鬥，要以三部脈為主。若急為風癇，沉者乳不消，弦急為客忤氣。小兒是其日數應變蒸之時，身熱而脈亂，無汗，不欲食，乳輒吐哯者，脈亂無苦也。脈沉而數者，骨間有熱，欲以腹按清冷也。《寶鑑》云：小兒三歲以上，五歲以下，五百七十六日變蒸畢，乃成人，血脈骨肉皆堅牢，方可診候也。蓋小兒純陽，故脈息數促，如大人為不同也。故病多見七表脈，為屬陽脈然也，是以八里脈多不經見，為屬陰脈耳。當知此理。</p>
<p>按：半晬已上，方可看虎口；周晬已上，看虎口兼以一指脈；若五百七十六日變蒸滿足，只與看一指脈，以食指滾轉分取三部。凡言三部者，非寸關尺，系小兒三部：面看氣色為一部，虎口脈紋為二部，寸口一指脈為三部也。</p>

<h3>診小兒脈證歌</h3>
<p>小兒有病須憑脈，一指三關定有息，浮洪風盛熱多驚，虛冷沉遲實有積。</p>
<p>小兒三歲至五歲，呼吸須得八至看，九至為遲十至困，長短大小有邪干。</p>
<p>小兒脈大多風熱，沉細元因乳食結，弦長多是肝膈風，緊數驚風四肢掣，浮洪胃口如火燒，沉緊腹中痛不歇，虛濡有氣又兼驚，脈芤大小便中血，四至洪來若煩滿，沉細腹中痛切切，滑中露濕冷所傷，弦急客忤明分說。</p>
<p>小兒乳後輒嘔逆，更無脈亂無憂慮，弦急之時被氣纏，脈緩即是不消乳，緊數細數亦少苦，虛濡邪風驚風助，痢下宣腸急痛時，浮大之脈歸泉路。</p>
<p>傷寒脈大最相宜，腫滿浮洪病可醫，微細心痛終是順，沉遲吐瀉必須危，蟲攻緊滑皆知吉，渴飲微沉勢已衰，驚搐浮洪多易治，喘粗涎盛滑為奇。</p>

<h3>論虎口三關要訣</h3>
<p>辰關（上節）　卯關（中節）　寅關（下節）</p>
<p>湯氏曰：小兒初生，變蒸未足，血氣未定，呼吸至數大過，必辨虎口色脈，方可察其病之要者，正謂此也。男以左手觀之，女以右手觀之。凡脈紋從寅關起，下至卯關者，易治；若連於卯關者，有病難治；如寅關連卯關，卯關侵過辰關者，十難救一；若脈紋小或短者，有病不妨。</p>
<p>仁齋曰：虎口者，叉手處也。三關者，第二指之三節是也。除拇指第一節近虎口，第二節為中關，亦名氣關；第三節為末關，亦名命關。男以左手，女以右手，側看之。驚風初得，紋出虎口，或在初關，多是紅色；傳至中關，色赤而紫；又傳過，其色紫青，病勢深重。其色青黑，青而紋亂者，病深重。若見純黑，危惡不治。大抵紅者風熱重，紫者驚熱，青者驚積。青赤相半，驚積風熱俱有，主急驚風。青而淡紫，伸縮來去，主慢脾風。紫絲、青絲或黑絲隱隱相雜，似出不出，主慢脾風。凡指紋在初關者，易治；過中關者，難治；透末關者，不治。三關直透，大抵不治。然脈勢彎入里者，順。病□□而證順，猶可用力；若紋勢彎反出外，駸駸靠□指甲者，斷不可回。其有三關紋如流珠流米，三五點相連，或形於面，或形於身，危惡尤甚。</p>

<h3>原幼論證詩七十一首</h3>
<p><u>觀形氣</u></p>
<p>觀形觀氣要精通，稟受元來自不同，細察盈虧明部分，隨機用藥見奇功。</p>
<p><u>及幼攻補</u></p>
<p>察病必須明表裡，更詳虛實在初分，惡攻善補人皆信，誰識攻中有補存。</p>
<p><u>為醫先去貪嗔</u></p>
<p>為醫先要去貪嗔，用藥但憑真實心，富不過求貧不倦，神明所在儼如臨。</p>
<p><u>辨證早決安危</u></p>
<p>色脈參詳貴造微，早憑疾證決安危，時病怕觸病家諱，病稍差池便怨咨。</p>
<p><u>五色主病</u></p>
<p>積黃青則是驚風，熱赤傷寒紫淡紅，黑痛白為虛冷嗽，更須隨部用神功。</p>
<p><u>診脈明證</u></p>
<p>小兒脈應二周前，一指分關寸尺全，六至號為無病子，不和氣主按如弦，浮洪風熱數驚候，虛冷沉遲實積堅，指滯脾經時緩應，過猶不及亂難痊。</p>
<p><u>胎寒</u>（先後數詩雖曰繁紊，誠為學者識證提綱）</p>
<p>孩兒百日胎寒候，足曲難伸兩字蜷，口給腹膨身戰慄，晝啼不已夜嗞⿱艹豨。</p>
<p><u>臟寒</u></p>
<p>手兼足冷麵微青，腹痛腸鳴泄瀉頻，蓋為生時感寒熱，夜多啼切日常輕。</p>
<p><u>胎熱</u></p>
<p>三朝旬外月間兒，目閉胞浮證可推，常作呻吟煩躁起，此為胎熱定無疑。</p>
<p><u>弄舌舒舌</u></p>
<p>弄舌微微露即收，得於病後最難瘳，出長收緩名舒舌，熱在心脾不用憂。</p>
<p><u>臍風</u></p>
<p>風邪早受入臍中，七日之間驗吉凶，若見腹疼臍凸起，惡氣口撮是為風。</p>
<p>臍突</p>
<p>嬰孩生下旬餘日，臍突光浮非大疾，穢水停中明所因，徐徐用藥令消釋。</p>
<p>夜啼</p>
<p>夜啼四證驚為一，無淚見燈心熱煩，面瑩來青臍下痛，睡中頓哭是神干。</p>
<p>急驚</p>
<p>面紅卒中渾身熱，唇黑牙關氣如絕，目翻搐搦喉有痰，此是急驚容易決。</p>
<p>天釣</p>
<p>天釣元因積熱深，涎潮心絡又多驚，雙眸翻上唇焦燥，呵欠頻頻疾便生。</p>
<p>急驚後如瘧</p>
<p>急驚之後傳如瘧，外感風邪為氣虛，略表次和脾與胃，自然寒熱得消除。</p>
<p>慢驚</p>
<p>陰盛陽虛病已深，吐余瀉後睡揚睛，神昏搐緩涎流甚，此證分明是慢驚。</p>
<p>搐證</p>
<p>搐證須分急慢驚，亦因氣鬱致昏沉，良醫欲治宜寬氣，氣順之時搐自停。</p>
<p>諸風毒</p>
<p>諸風挾熱隱皮膚，凝結難為陡頓除，項頰腫須護喉舌，內疏風熱外宜吐。</p>
<p>破血傷風</p>
<p>鐵破皮膚因破損，外風侵襲在傷痕，隨時發腫微加痛，活血疏風是要言。</p>
<p>傷積</p>
<p>頭疼身熱腹微脹，足冷神昏只愛眠，因食所傷脾氣弱，下宜遲緩表宜先。</p>
<p>驚積</p>
<p>大腑無時泄下青，見人啾唧似生嗔，解驚去積宜施劑，立致精神起臥寧。</p>
<p>諸熱</p>
<p>諸熱原初各有因，對時發者是潮名，乍來乍止為虛證，晚作無寒屬骨蒸。</p>
<p>吐瀉</p>
<p>脾虛胃弱病根源，水穀如何運化行，清濁相干成吐瀉，久傳虛渴便風生。</p>
<p>傷寒</p>
<p>傷寒之後有多般，一概推詳便究難，面目俱紅時噴嚏，氣粗身熱是傷寒。</p>
<p>傷風</p>
<p>惡風發熱頭應痛，兩頰微紅鼻涕多，汗出遍身兼咳嗽，此傷風證易調和。</p>
<p>夾驚傷寒</p>
<p>身微有熱生煩躁，睡不安兮神不清，此是夾驚傷寒證，亦須先表次寧心。</p>
<p>夾食傷寒</p>
<p>鼻涕頭疼時吐逆，面黃紅白變不一，此因夾食又傷寒，發表有功方下積。</p>
<p>下後傷風</p>
<p>表而未盡遽宣通，從而喘氣攻，此是傷風下之早，肺經再受有邪風。</p>
<p>夾風傷寒</p>
<p>孩子傷寒又夾風，目多眵淚臉腮紅，太陽冷汗微生喘，口水如涎滴滿胸。</p>
<p>風寒互證</p>
<p>風寒雙中汗難通，重下雄黃散是功，得汗來時猶可治，莫交不汗變張弓。</p>
<p>結胸傷寒</p>
<p>大結胸兮小結胸，水兼寒熱不雷同，陽經下早留為毒，用藥無非直達攻。</p>
<p>痞似結胸</p>
<p>證同前證應無痛，病在陰經下早虛，邪毒結留心下滿，此名痞氣膈中居。</p>
<p>壞證傷寒</p>
<p>此病初傳不識機，致今汗下失其宜，邪乘虛入傷榮衛，知犯何經急療之。</p>
<p>赤白痢</p>
<p>小兒下利細尋推，不獨成於積所為，冷熱數般雖各異，寬腸調胃在明醫。</p>
<p>五色痢</p>
<p>痢成五色豈堪聞，日久傳來神氣昏，干痛煩啼為最苦，更防兒小命難存。</p>
<p>風痢</p>
<p>風毒乘脾黃褐色，看來其痢與驚同，但聞不臭斯為異，獨瀉脾經自有功。</p>
<p>五疳</p>
<p>五疳五臟五般看，治法詳推事不難，若見面黃肌肉瘦，齒焦發堅即為疳。</p>
<p>走馬疳</p>
<p>傷寒熱毒毒熏蒸，面色光浮氣喘生，口臭齒焦腮有穴，馬疳如此是真形。</p>
<p>脫肛</p>
<p>肛門出露久難收，再感風傷事可憂，況自先傳脾胃弱，更詳冷熱易為瘳。</p>
<p>癇證</p>
<p>驚傳三搐後成癇，嚼沫牙關目上翻，明辨陰陽參色脈，不拘輕重總風痰。</p>
<p>瘧證</p>
<p>夏傷於暑秋成瘧，間日連朝不少差，解表去邪須次第，再宜養胃固脾家。</p>
<p>癖證</p>
<p>本因積久成頑結，男左女右居腹脅，俗云龜癆不須聽，化癖調脾胃安帖。</p>
<p>諸疝</p>
<p>諸疝原來各有名，蓋因寒濕氣侵成，治分芍藥烏梅散，勻氣金鈴與五苓。</p>
<p>龜胸</p>
<p>無端唇口忽然紅，心肺因痰飲聚中，風熱乘之加喘急，形如覆掌號龜胸。</p>
<p>驚丹</p>
<p>兒在胎時母受驚，驚傳邪熱子傷神，忽然赤片微微起，涼解肌膚始見寧。</p>
<p>咳嗽</p>
<p>咳嗽雖然分冷熱，連聲因肺感風寒，眼浮痰盛喉中響，戲水多因汗未乾。</p>
<p>齁䶎</p>
<p>孩兒齁䶎為啼時，食以酸鹹又乳之，或自肺經傷水濕，冷熱結聚是為之。</p>
<p>瘡疹</p>
<p>毒停在胃布諸經，運氣變遷瘡疹生，面口唇紅兼嗽渴，腹疼中指冷分明。</p>
<p>痘瘡傳變</p>
<p>黑陷瘡枯嗽失音，瀉兼渴甚吐無停，身涼食減多沉困，更有痰多命不傾。</p>
<p>斑疹</p>
<p>斑證總言因胃熱，赤生黑死分明別，忽如錦片出肌膚，溫毒發時從兩脅。</p>
<p>陰囊腫</p>
<p>厥陰少陰寒激搏，致令腫縮宜溫藥，光浮不痛作虛醫，赤腫須憑涼劑卻。</p>
<p>驚癱鶴膝</p>
<p>風溫流傳骨節間，痛兼心悸是驚癱，若於腕脛多疼重，凝結成團鶴膝看。</p>
<p>瘰癧</p>
<p>初發原於耳項旁，證輕多謂是無妨，因循作腫成膿後，穿破名為瘰癧瘡。</p>
<p>五淋</p>
<p>淋病雖然分五種，要明各類在詳看，曰嘗曰冷同其證，血石均為熱一般。</p>
<p>腹痛</p>
<p>大凡腹痛初非一，不時癥瘕與痃癖，分條析類證多端，看取論中最詳悉。</p>
<p>丁奚</p>
<p>久積成疳因失治，肚高頸細變丁奚，更兼手足如筒樣，面白身黃汗不時。</p>
<p>哺露</p>
<p>積傳疳後曰丁奚，哺露因而又得之，腹大青筋蟲滿肚，吐頻瀉數急調脾。</p>
<p>口瘡</p>
<p>心脾胃熱蒸於上，舌白牙根肉腐傷，口角承漿分兩處，有瘡雖異治同方。</p>
<p>諸瘡</p>
<p>滿頭及額生如癩，但用連床得安痊，遍身糜潰更多煩，一抹金塗無不快。</p>
<p>目疾</p>
<p>生下經旬目見紅，蓋因胎受熱兼風，涼肝心藥斯為妙，疝氣痘瘡宜別攻。</p>
<p>丹毒</p>
<p>小兒氣弱肌膚薄，熱毒乘虛來發作，急須化毒與消風，毒散風消如安樂。</p>
<p>重舌鵝口</p>
<p>孩兒胎受諸邪熱，熱壅三焦作重舌，或成鵝口證堪憂，用藥更須針刺裂。</p>
<p>五軟</p>
<p>稟賦元虛髓不充，六淫之氣易來攻，頭兼手足身羸弱，此證名為五軟同。</p>
<p>天柱倒</p>
<p>忽然天柱倒何如，此病皆因肝腎虛，外有風邪容易襲，故傳項軟不相隨。</p>
<p>解顱</p>
<p>頭顱初見如開解，腎弱元虛大可憂，補腎調元是涼藥，投之不應定難瘳。</p>
<p>諸汗</p>
<p>小兒自汗證多端，切莫將為一例看，要識陰陽虛實病，勤勤調理自然安。</p>
<p>黃證</p>
<p>身黃暑溫蒸脾得，內外因分治最良，更有胎傳生便見，母宜多服地黃湯。</p>
<p>失血</p>
<p>九道何為血妄行，蓋因抑鬱熱邪生，隨經施治明虛實，氣順如常血自勻。</p>
<p>不內外因</p>
<p>人身一或不傷損，重則宜其血亦多，不內外因然有自，各分證治在專科。</p>
<p>小兒常安</p>
<p>四時欲得小兒安，常要一分飢與寒，但願人皆依此法，自然諸候不相干。</p>
<p>通共七十一首。</p>

<h3>小兒專科賦</h3>
<p>廬陵彭用光曰：此賦便初學記誦，且幼科之首篇曾育溪所撰也。</p>
<p>細辨諸證，難明小兒。惟造理以達，此於專科而見之。傷風，清涕交流，初傳在肺。夾食，黃紋必見，是屬居脾。原夫七日之內，臍痛乃多；百晬之外，胸蒸者少。惟驚疳積熱，半在攻裡，故暑濕風寒，宜慎發表。總謂諸症科目，各貴精專，不拘長幼、兒童均稱是。小觀其得病，嬰孺要參脈形，雖痛癢難通於一問，然輕重明察於諸經。暴感邪氣，腮頰微紫；久因客忤，山根大青。勿問兒小，但憑藥靈，輕有證攻。黑色多浮於地閣（即承漿），心為邪克；赤紋獨露於天庭（即額心），茲蓋脈病。證治審察要詳。襁褓嬰孩，變更莫測，凡有疾苦，全憑見識。非業擅一門，何以取效？苟醫不三世，徒然用力，難同初學之妄議，貴在專科之定式。心肝恬淡，自然毋染於時災；脾胃和平，戒以勿餐於夜食。請言，夫醫通仙道，溥以生意，家傳秘方，及諸幼年。參天地之化育，無息少間；免父母之憂懷，有驚即痊。雖用藥聖，亦由業專。然而見魚口兮氣弱殊甚，聞鴉聲兮命傾必然。既危，吐露以真實，安有怨恣而妄傳。表用疏通，細述戴君之語；臟明補瀉，載稽錢氏之篇。專者何？精義無二，全活孩提。博學有諸，在明機要。是知小脈科兮，嘗喜一藥多效；大方科兮，固有十形三療。益進以乳食，務要樽節而遠之鼓樂，免生驚叫。調和自小以無恙，長大何憂於不肖？春融一念，善推活幼之誠；日究千方，庶盡及人之妙。然嘗論形質始具，夙有靈性，語言未通，是為啞科，非圓機之士，焉察彼證，必精製之劑，能除宿疴。有信巫不用醫，適以謬甚；有是方不重藥，尤其誤矣。此病家自取過耳，於醫者殊無奈何。術顯咸陽，扁鵲全嬰而有驗；脈明晉代，叔和及幼以無訛。抑又聞，㿠白虛盛，神氣常昏；紫黑實多，聲音益勝。陽證似陰，脈按細緊；陰證似陽，脈來緩應。然《大學》所謂若保赤子，心誠求之，此又在究心而觀證。</p>
<p>嘗謂為醫不易，而幼幼之科尤不易也。</p>
<p>黃帝曰：若吾不能察其幼小，雖聖人猶難之，況後學乎？余雖不才，謾成前賦，以便學者觀形切脈之要，臨病之際，非時少資談柄，亦可以發揮神聖工巧之妙，豈不韙歟？其或未然，後之明者改而證諸，幸莫大焉。</p>
<p>彭用光曰：幼幼之法，既原諸論圖及原治、脈紋、詩賦已備於前；而原父母方論，與母十月懷胎形圖暨初生之法，方自幼及長，諸證治論方，分門別類，備錄於後，以便於為父母者、業幼科者，知所採擇而師法之，庶幼幼之仁，得以溥傳於天下後世矣。</p>

<h3>原父</h3>
<p><u>助陽種子方</u></p>
<p>彭用光曰：男子欲兒，當益榮而補精，且人無子之因，起於父氣之不充，豈可盡歸咎於母血之不足與虛寒耶！或稟賦薄弱，或房勞大過，以致腎氣欠旺，不能直射子宮，宜此溫清之劑，兼行陰德，自然不覺而生子長命矣。古方切不可用，更宜先服清心滌腸湯，以潔淨之方服此丸，效。</p>
<p>巴戟（酒浸，去心，取淨肉，二兩）　益智仁（鹽水炒）　杜仲（去皮，酥炙）　牛膝（酒洗，去蘆）　白茯神（去皮，末）　乾山藥（去紅皮，蒸過。各一兩）　菟絲子（酒洗一宿，去土炒）　遠志　甘草（水煮，去心）　蛇床子（去殼，取淨仁）　川續斷（酒洗。各一兩五錢）　山茱萸（酒浸，去核取淨肉，曬乾，秤淨肉，三兩）　當歸身（酒洗，一兩）　熟地黃（酒蒸九次，三兩）　鹿茸（去毛，酥炙，一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每空心酒下三十五丸，或炒鹽湯下亦可。臥時亦服。若婦人月候已盡，此是生子期也。一日可服三五次，平時只一次，在外勿服。</p>
<p>如精虛，加五味子一兩；陽道衰，加續斷一兩五錢；如精不固，加牡蠣、龍骨，火煅過七次，鹽酒悴，井底浸三日，取起，曬乾，各用一兩五錢，更加鹿茸五錢。</p>
<p>治陰痿精薄而冷，名曰溫腎散。</p>
<p>蓯蓉（酒洗，酥炙）　鍾乳粉（真者，水浸飛過，曬乾）　遠志（甘草水煮，去心）　蛇床子（去殼取仁，炒）　煙塵續斷（有橫皺紋者佳，酒洗）　山藥（去紅皮，蒸之）　鹿茸（酒洗，酥炙，去毛。各一兩，先用五分）</p>
<p>上七味，各用五分，為細末，篩過，空心好酒服二三匙，臥時亦服。如多房室者，倍蛇床子；如痿，倍加遠志肉；如欲剛，倍鹿茸；如欲多精，倍鍾乳粉。</p>
<p>清心滌腸湯</p>
<p>生地黃（五分）　山梔子（炒，一分）　胡連肉（去心，一分）　黃芩（分半）　麥門冬（去心，一分）　枳殼（炒，一分）　白朮（煨，七分）　陳皮（炒，七分）　黃連（薑汁炒，五分）　半夏（薑汁炒，一分）　赤茯苓（一分）　黃柏（炒）　甘草（三分）　滑石（研末，一分半）</p>
<p>頭貼下酒大黃一錢，微利滌之。</p>
<p>上作一服，用水二鍾，姜三片，煎八分，空心溫服。此藥必服三五貼，此去陳菀之劑也。</p>
<p>五子衍宗丸</p>
<p>枸杞子（八兩）　菟絲子（八兩）　五味子　車前子　覆盆子（各四兩）</p>
<p>煉蜜，五子共為細末，用蜜合為丸，空心酒下九十丸，上床五十丸。</p>

<h3>原母</h3>
<p>助陰孕子方</p>
<p>彭用光曰：女人慾子，當抑氣以滋榮，和平而去妒。況女人性偏，古人多用熱藥，生子多夭。近時氣運多熱，惟清溫、生血、理脾之劑服之，生子無病多壽。</p>
<p>山茱萸（酒浸，去核，取淨肉，二兩五錢）　當歸（酒洗，一兩）　熟地黃（酒蒸，二兩）　蛇床子（炒，去殼，取淨仁，二兩五錢）　川芎（酒洗，一兩）　白芍藥（酒炒，一兩）　丹參（酒洗，一兩）　子實黃芩（酒炒，二兩五錢）　白朮（去蘆，炒，一兩五錢）　桑寄生（真者，五錢）　真阿膠（蛤粉炒成珠，五錢）　小茴香（炒，一兩）　陳皮（燒，一兩）　縮砂仁（去殼炒，五錢）　玄胡索（炒，七錢）　香附米（童便浸，四兩，炒乾微黑）</p>
<p>如素□熱，加軟柴胡、地骨皮、芩連（酒炒）各七錢；白帶，加蒼朮（米泔浸去皮，鹽水炒）一兩五錢、柴胡（酒炒）五錢；肥盛婦人，乃脂滿子宮，加半夏、南星、薑汁、白礬水（童便煮過）各一兩。</p>
<p>上為細末，酒煮，山藥粉糊為丸，每日空心酒下一百丸，或清米湯下。一日吃三次，更相間服抑氣湯。</p>
<p>抑氣湯　四物湯（加黃芩、白朮、砂仁、玄胡索、香附、丹參，名調經湯。如月經不調者，先用此方，後經勻服孕子丸、抑氣效）　香附米（如上製為細末，四兩）　甘草炮，去白，炒，二兩</p>
<p>上四味為細末，每空心用滾湯調下二錢，仍兼進孕子丸。</p>
<p>柴胡四物湯</p>
<p>柴胡　黃芩　牡丹皮　黃連　枳殼（各一錢）　三稜　莪朮（各七分）　當歸　地黃　芍藥　川芎（各五分）　縮砂仁　甘草（各五分）</p>
<p>上水姜煎，空心服。此推陳致新之法也，服此後，用孕子丸。</p>
<p>去妒方　治婦妒妄，誤夫無子，服此能容妾，並自己亦有子。</p>
<p>天門冬（去心皮）　赤黍米（去殼，微炒）　薏苡仁（去殼炒。各四兩）</p>
<p>上為末，煉蜜丸。婦人常服不妒。食遠白滾湯下八九十丸。正士入朝，小人忌之；美色入室，少婦妒之，咸服此方，可免妒忌之病也，而有後嗣之傳。</p>
<p>彭氏思濟堂曰：男子節欲以蓄精，卻勞而修德；女子戒怒以調經，順氣而去妒。此又為生子第一方也。</p>
<p>愚嘗按：《內經》曰父精母血而成胎孕。凡為父母欲求子者，不可如鄭憲，使服種子熱藥，留於子之命門，後子生多病，是父得燥熱，尚能病子，況母得之者乎？必當各服種子丸、孕子丸，此乃清溫之劑，助陽助陰之王道也。應期交感，則成胎孕，生子無病而長壽矣。</p>

<h3>胎孕成逐月胎孕十形圖</h3>
<p>孕孩逐月胎形之圖，十月全形，詳盡開具於後。</p>
<figure>
<img alt="孕孩逐月胎形圖一">
</figure>
<figure>
<img alt="孕孩逐月胎形圖二">
</figure>
<p>彭氏思濟堂曰：凡受孕一月起，宜夫婦各處，再勿交會，則生子無病而長壽矣。若孕婦十月，胎形滿足，四肢骨縫俱開，方始降生。劉五妹云：初生兒孩，接抱包裹，仔細謹慎，滿月平安，則嬰孩易長成人而壽命長。其初生及幼幼諸方，詳於後。</p>

<h2>二、初生門</h2>

<h3>初生首方</h3>
<p>甘草（去皮）　黃連（去毛,各五分）</p>
<p>上作一小貼以備，產時即用水一小杯，煎汁三之一，細絹濾去滓，待小兒初生下，於未發聲之前，令老練婦人，以細絹緊包手指，蘸此藥汁，入兒口中，扣拭出血片，令淨，卻以藥汁灌下一二匙。如或已發聲，未及扣出血片，亦以此甘連汁灌下二匙，則長大賢明而壽長，痘疹亦稀少矣。</p>

<h3>又方</h3>
<p>斷臍帶，要苧麻緊扎牢縛，留長七寸，在兒臍上，用舊青軟布緊包，勿令尿濕，並洗浴兒不可令水近臍，如此自無臍風撮口之病。</p>

<h3>又方</h3>
<p>治初生不飲乳及未便。</p>
<p>用蔥白二寸，四破之，以乳汁濃煎，灌之立效。</p>

<h3>又方</h3>
<p>用七八十歲老人舊裙褲，改作小兒衣衫，令兒有壽。雖富貴之家，切不可新制紵絲、綾羅、氈絨之類與小兒穿，不惟生病，抑且折福。宰牲領賀，亦所宜省。</p>

<h3>第三日用方</h3>
<p>如天寒，七日後洗亦好。</p>
<p>用豬膽四個，取汁煎水，七碗煎至四碗，去渣，待溫涼些，用此湯洗兒身，一生永無瘡疥之患。</p>

<h3>第一首擇乳母</h3>
<p>擇乳母無病、情性溫良之婦，乳汁如熟雞子白者，為上。此等婦人為乳母，嬰孩易長成人。切不可用有娠之乳，及有病之婦亦不可用。所謂母安即子安也。</p>

<h3>延生第一方</h3>
<p>小兒初生，臍帶脫落後，取置新瓦上，用炭火在四圍燒至煙將盡，放土地上，用瓦盞之類蓋之，存性，研為末，預將硃砂透明者，為極細末，水飛過。臍帶若有五分重，硃砂用二分五釐，生地黃、當歸身，煎濃汁一二蜆殼，調和前兩味，抹兒上齶間及乳頭上，一日之內脫至盡。次日大便遺下穢汙濁垢之物，終身永無瘡疹及諸疾。生一子得一子，十分妙法也。若時常用別兒者，如前法令服之，尤妙。</p>

<h3>初生刺泡法</h3>
<p>用光曾見有小兒才生下即死，用此法可救活。急看兒口中上齶有泡，以手指摘破，用綿拭血淨，便活。若血入喉即不可治，預刺則全生矣。</p>

<h3>回氣法</h3>
<p>初生氣欲絕，不能啼者，蓋因難產氣悶，俗呼悶胎。或冒寒所致，急以綿絮包裹，未可斷臍帶，且將包衣置炭火上燒之，仍作，大紙拈，蘸油點火燒，臍帶得火氣，由臍入腹，須臾氣回，方可浴，斷臍帶也。</p>

<h3>通便法</h3>
<p>初生兒二便不通，腹脹欲絕，急令婦人以湯漱口，吸咂兒前後心，並臍下、手足心，共七處，每一處凡三五次。漱口吸咂，取紅赤為度，須臾自通。不爾，無生意。有此證遇此法乃再生。</p>

<h3>貼囟法</h3>
<p>治出胎時，被風鼻塞，天南星末，薑汁調成膏，貼囟上，病去除之。</p>
<p>凡初生小兒，口屋並牙根生白點，名曰馬牙。不能食乳，此與鵝口不同，少緩即不能救，多致夭枉。急用針縛筋上，將白點挑破出血，用好京墨磨薄荷湯，以手指碾母油發蘸墨，遍口屋擦之，勿令食乳，待睡一時，醒，方與乳，再擦之即愈。</p>

<h3>下胎毒方</h3>
<p>東垣云：兒在母腹中，十月之間，隨母呼吸。呼吸者，陽氣也，而生動作，益滋精氣神。飢則飲母血，渴則飲母血。兒隨日長，皮肉、血脈、筋骨、形氣俱足。十月降生，口中尚有惡血，啼聲一發，隨吸而下，此惡血復歸命門胞中，僻於一隅，伏而不發，直至因內傷乳食、濕熱之氣，下流逆於肉理，乃發為瘡疹也。故方書皆云：俟其分娩，啼聲未發之時，急用綿裹指，拭去口中惡汁，固是良法。而倉卒之際，或有不及者，故有黃連法、朱蜜法、甘草法，用之殊佳。但今之人比古者之人，起居攝養大有不同，竊恐稟受怯弱之兒，不能禁此寒令之劑，若與服之，必生異證，或嘔乳糞青，或痰嗽喘急，或腹脹，或驚悸，如有里證鬱結，壅閉不通，欲下胎毒者，只須用淡豆豉煎濃汁，與三五口，其毒自下，又能助養脾氣也。</p>

<h3>乳哺法</h3>
<p>凡初乳，先須捏去宿乳，後與之。母欲寐，即奪其乳，恐睡困不知飽足。兒啼未定，氣息未調，乳母勿遽以乳飲之，故不得不停滯胸膈而成嘔吐。乳後不與食，哺後不與乳，脾胃怯弱，乳食相併，難以克化，幼則成嘔，而結於腹中作痛；大則成癖成積成疳，皆自此始。</p>

<h3>護養法</h3>
<p>小兒肌膚未實，若被衣過暖，傷皮膚，損血脈，發瘡瘍，汗出，腠理不閉，風邪易入。若天氣和暖，抱之使見風日，則血氣堅剛，肌肉硬，可耐風寒，不致疾病。令人懷抱小兒，不著地氣，致令筋骨緩弱，疾病易生，非愛護之法。</p>

<h3>治噤風之劑（預備防之）</h3>
<p>辰砂膏　治眼閉口噤，啼聲漸少，舌上聚肉如粟米狀，吮乳不得，口吐白沫，大小便不通。蓋由胎中感受熱氣，流毒於心脾，故形見於喉舌，或為風邪所搏致之。</p>
<p>辰砂（三錢）　硼砂　馬牙硝（各錢半）　玄明粉（二錢）　全蠍　珍珠末（各一錢）　麝香（一字）</p>
<p>上為末，好油紙包裹，自然成膏，每用一豆許，乳汁調敷乳頭上，吮下，金銀薄荷湯下亦可。有潮熱者，甘草湯下。</p>
<p>小兒初生百日內臍風，方書率用南星、殭蠶等風藥，多不見效，當作胎毒，瀉陽明火邪，馬牙亦是胎毒，用針挑破，桑樹白汁塗之，妙。桑汁主小兒鵝口及口瘡、舌上瘡，神效。新生小兒時時與看，頻傳瘡汁，不然舌硬緊，漸至撮口，難為矣。</p>
<p>小兒不時變蒸。變者異常也，蒸者發熱也。所以變換五臟，蒸養六腑，須要變蒸多遍，氣血方榮，骨脈始長。惰性有異，則後來出痘輕可。凡變蒸，不宜服藥，或因傷食、因傷風、因驚嚇等項，夾雜相值而發，令人疑惑，亦須等候一二日，俟病勢真的，是食則消食，是風則行痰，是驚則安神。若變蒸而妄投藥餌，則為藥引入各經，症遂難識，而且纏綿不脫，反為藥誤也。</p>
<p>彭用光嘗謂：嬰孩與童目丱，當歧為兩途以治之。如嬰孩當治乳母，童丱當審服觀證，用藥取效。初生幼孩，凡有病大半是胎毒，小半是乳食傷。二三歲幼兒，能自飲食，大半是食積，小半是胎毒。</p>
<p>七八歲已上者，當審脈證，兼用食積施治。</p>

<h3>治胎熱之劑</h3>
<p>木通散　主小兒上膈熱，小府閉，諸瘡丹毒。母子同服。</p>
<p>木通　地萹蓄（各半兩）　大黃　甘草　赤茯苓（各三錢）　瞿麥　滑石　山梔子　車前子　黃芩（各二錢半）</p>
<p>上水一鍾，燈心三莖，或入薄荷同煎。</p>
<p>四聖散　主芽兒胎受熱毒，生下兩目不開。</p>
<p>燈心　黃連　秦皮　木賊　棗子（各半兩）</p>
<p>上水一鍾，煎澄清，去渣，無時起洗，兩目自開。</p>
<p>釀乳法　宜與乳母服。</p>
<p>豬苓（去黑皮）　澤瀉　赤茯苓（去皮）　天花粉　茵陳　生甘草　生地黃　山梔（去殼）</p>
<p>上銼散，用水煎。食後，令乳母捏去宿乳，卻服此藥。</p>

<h3>治胎寒之劑</h3>
<p>當歸散　治芽兒胎中受寒，面色青白，腹痛泄瀉，並宜服之。</p>
<p>當歸　官桂（去皮）　川芎　白姜（炮）　香附米　木香　甘草（各等分）</p>
<p>上為末，每服一字，以乳汁調下，日二服。看大小加減服之。</p>
<p>勻氣散</p>
<p>桔梗　陳皮（一錢）　砂仁　茴香（各五分）　白姜（二分半）　粉草（四分）</p>
<p>上為末，每服一字，空心，沸湯調服。</p>
<p>參苓白朮散</p>
<p>人參　茯苓　粉草　白朮　白扁豆　山藥　砂仁　薏苡仁　桔梗（各一錢）　蓮子肉（半錢）</p>
<p>上為末，每服一字，棗湯調服，或溫米湯亦好。</p>

<h3>治胎肥胎怯之劑</h3>
<p>浴體法</p>
<p>天麻（二錢，末）　蠍梢（去毒）　硃砂（半錢）　白礬　青黛（各二錢）　麝香（一字）　烏蛇肉（三錢，酒浸，焙為末）</p>
<p>上同研勻，每用三錢，水三碗，桃枝一握，並葉同煎至十沸，溫熱浴之。勿浴背。</p>

<h3>治胎黃之劑</h3>
<p>地黃湯</p>
<p>生地黃　赤芍藥　天花粉　赤茯苓（去皮）　川芎　當歸（去蘆）　豬苓　澤瀉　甘草　茵陳（各等分）</p>
<p>上銼散，用水煎，食前服。</p>
<p>犀角散　治小兒胎黃，一身盡黃。</p>
<p>犀角　茵陳　瓜蔞根　升麻（煨）　甘草　龍膽草　生地黃　寒水石（煨。各等分）</p>
<p>上㕮咀，用水煎，不拘時候服。</p>

<h3>治胎驚之劑</h3>
<p>太乙散　治芽兒胎驚。</p>
<p>天漿子（去殼，微炒）　南星　白附子（各微炮）　天麻　防風　茯苓（各二分）　全蠍　硃砂（各一分）　麝香（少許）</p>
<p>上為末，每服半錢，乳汁化下。</p>
<p>獨活湯　治胎驚，發散風邪。</p>
<p>羌活　獨活（各一分）　檳榔　天麻　麻黃（去節）　甘草（各半分）</p>
<p>上銼散，每服半錢，煎服。於內加南星末，蜜調下，可貼囟用。</p>

<h3>治不乳之劑</h3>
<p>茯苓丸</p>
<p>赤茯苓　川黃連（去須）　枳殼（炒）</p>
<p>上等分為末，煉蜜丸如桐子大，每服一丸，乳汁調下。</p>

<h3>治穢惡入腹令兒嘔吐不乳方</h3>
<p>木香　乾薑（生）　茯苓　甘草　酸木瓜　丁香（各等分）</p>
<p>上粗末一捻，水煎，綿蘸滴與之。</p>

<h3>治臍風撮口噤風之劑</h3>
<p>控痰散</p>
<p>蠍尾　銅青（各半錢）　硃砂（一錢）　膩粉（一字）　麝香（少許）</p>
<p>上為末，每服一字，蠟茶清調下，先吐風痰，然後和胃。或有借甘草方吐痰，隨輕重用。</p>
<p>辰砂膏</p>
<p>辰砂（三錢）　硼砂　馬牙硝（各一錢五分）　玄明粉（二錢）　全蠍　珍珠末（各一錢）　麝香（一字）</p>
<p>上為末，和棗同好油紙單包起，自然成膏，每服一字，或一豆許。治諸驚用金銀薄荷湯下。潮熱，甘草湯下。月內嬰兒用乳汁調敷奶上，令吮下。</p>
<p>立聖散　治小兒口噤。</p>
<p>全蠍梢　干蜘蛛（一個，去足，先以取竹火上，炙取油一蛤殼許，乃竹瀝也，浸蜘蛛一宿，炙令焦）</p>
<p>上同末，研極細，入膩粉少許，每一字用豬乳調，時滴入口中。</p>
<p>安臍散　小兒斷臍便敷之。</p>
<p>瓜蒂　南星　白蘞　赤小豆（各等分）</p>
<p>上為末，每三錢用芭蕉自然汁調敷臍四邊。</p>
<p>甘草方　治小兒撮口取吐。</p>
<p>甘草（一錢）</p>
<p>煎服，令吐出痰涎，即以豬乳點入口中，即差。</p>

<h2>三、變蒸門</h2>

<h3>變蒸</h3>
<p>彭用光曰：小兒有十變五蒸者，乃生精神意智也。五臟五腑以應十干，其心包絡與三焦合而成六臟六腑，以應十二經絡也。</p>
<p>小兒變蒸者，俗謂之牙生骨長，譬如蠶之有眠，龍之脫骨，虎之轉爪，皆同此類，變生而長也。</p>

<h3>計開變蒸形證</h3>
<figure>
<img alt="計開變蒸形證圖">
</figure>
<p>始得之，上唇有白珠，胞子身熱，微欲驚悸，或嘔噦，至七日變訖。始得之，上唇微腫，有如臥蠶，身體壯熱，額熱，或乍涼乍熱，唇口鼻乾，哽熱，嘔逆，時欲驚，夜多啼哭，至十三日變蒸訖。唇口乾燥，咳嗽，悶亂，哽氣，腹痛及身體骨節皆痛，或上視時驚悸。</p>

<h3>變蒸期候</h3>
<p>小兒始生至三十二日，為一變，長腎臟氣，屬足少陰經；</p>
<p>六十四日二變一蒸，生壬，長膀胱腑氣，足太陽經；</p>
<p>九十六日三變，生丁，長心臟氣，足少陰經；</p>
<p>一百二十八日四變二蒸，生丙，長小腸腑氣，足太陰經；</p>
<p>一百六十五日五變，生乙，長肝臟氣，足厥陰經；</p>
<p>一百九十二日六變三蒸，生甲，長膽腑氣，足少陽經；</p>
<p>二百二十四日七變，生辛，長肺臟氣，足太陰經；</p>
<p>二百五十六日八變四蒸，生庚，長大腸腑氣，足陽明經；</p>
<p>二百八十九日九變，生己，長脾臟氣，足太陰經；</p>
<p>三百二十日十變五蒸，生戊，長胃腑氣，足陽明經；</p>
<p>心包絡為臟，屬手厥陰經；</p>
<p>三焦為腑，屬手少陽經。</p>
<p>上一臟一腑，俱無形狀，故不變不蒸也。</p>
<p>前十變五蒸既訖，後又有三大蒸。</p>
<p>六十四日為一大蒸，計三百八十四日；</p>
<p>又六十四日為二大蒸，計四百四十八日；</p>
<p>又六十四日為三大蒸，計五百一十二日；</p>
<p>至五百七十六日，變蒸既畢。</p>
<p>所以變者，生五臟也。變而蒸者，養五腑也。</p>
<p>兒乃成人也，其血脈方充，骨節始榮，生精神，長情性，有異於前，當變蒸之成。兒子唇口如上唇微腫，有如臥蠶，成有珠泡子者，是變蒸證，切不得灸火著艾，即宜少與乳食，亦不可妄投藥餌。若不依此，以致殺兒。文中屢見有此，故書以告。</p>

<h3>變蒸論</h3>
<p>彭用光《全嬰方》云：初生小兒變蒸者，以長血氣也。變者上氣，蒸者體熱。《巢氏病源》曰：自生之後，每三十二日為一變，再變為一蒸。變畢即性情有異於前，何者？長生臟腑智意也。人有三百六十五骨，除手足中四十五碎骨外，有三百二十數。自生下，骨一日十段而上之，十日百段，三十二日計三百二十段，為一周遍。凡小兒之病，無有不因變蒸而得也。而不熱不驚，或無他病候，是暗變者，多矣。此受胎氣壯實故也。陳氏曰：俗謂之牙生骨長，譬如蠶之有眠，龍之脫骨，虎之轉爪，皆此同類，變生而長也。其變蒸足，乃生三十二齒。而牙齒不及三十二數，由變不足，其常也，故變蒸。蛻齒者，如花之易苗，年壯而視齒方明。總五百七十六日，大小變蒸足矣，始乃成人，血脈骨肉皆堅牢也。每變輕而發熱微汗，其狀似驚，重則壯熱，脈亂而數，或吐或汗，或煩啼，躁渴，輕者五日解，重者八日解。其候與傷寒相若，亦有變蒸之餘，續感寒邪者，但變蒸則耳冷，上唇發泡，狀如濁珠；若寒邪傳之，則寒邪及攻，腹中作痛，而啼叫之聲，日夜不絕。凡蒸於肝，則目昏微赤；蒸於肺，則嚏嗽毛聳……五臟六腑，筋脈骨節，循環一匝，各有證候，其陰陽水火之變歟！治法宜平和之劑，古方以黑散子、紫霜丸主之。按：錢氏云：一變腎，二變膀胱，三變心，四變小腸，五變肝，六變膽，七變肺，八變大腸，九變脾，十變胃，故稱水數，一先腎也。《寶鑑》云：初變肝，二變肺，三變心，四變脾，五變腎，二者所論皆五行顛倒相生者，卻逢相剋；相剋者，又逢相生。大抵陰陽造化，相生者順，相剋者逆。變蒸者，是長養血氣，滋榮五臟，相生之法，此理昭然。相生者，有母子之道；相剋者，有夫婦之義。相生所以相繼，相剋所以相治。原夫胎者，得水火即濟，陰陽造化，五行相治而成形，故始於腎氣之初生也。小兒變蒸者，當氣血攻革，陰陽升降，從五臟相繼而成人，故始於肝之初變也。雖二家互說差殊，各有所長，宜詳審之。</p>

<h3>變蒸諸方</h3>
<p>紫陽黑散　治小兒變蒸壯熱，亦傷寒發熱。</p>
<p>麻黃（二分半，去節）　大黃（一分，同銼，炒令黑色，為末）　杏仁（二錢半，去皮尖）</p>
<p>每件同一處，搗和，並略燒存性，再以杏仁研膏和之，密器盛，每服一豆許，乳汁調和灌之。</p>
<p>平和飲子　治嬰兒變蒸於三日後，三日進一服，可免百病。百日內宜服。</p>
<p>人參（半分，去蘆）　白茯苓（一分，去皮）　甘草（半分，炙）　升麻（二分，煨）</p>
<p>上㕮咀，用水煎，不以時候服。稟受弱者加白朮一錢，肥大壯實者不用</p>
<p>當歸散　治小兒變蒸有寒熱者。</p>
<p>當歸（二分）　木香　官桂（辣者）　甘草（炙）　人參（各一分）</p>
<p>上銼散，每服一錢，薑棗食前煎服。</p>
<p>調氣散　治小兒變蒸，不乳，多啼。</p>
<p>木香　香附　厚朴（制）　人參　陳皮　藿香（各一分）　甘草（炙，五分）</p>
<p>上為末，每服三字，薑棗煎服。</p>
<p>潛溪曰：小兒變蒸發熱，切不可輕服，只是調節。若變蒸妄投藥餌，則為藥引入諸經，纏綿難識，此藥誤也。切戒切戒！</p>

<h2>四、驚風門</h2>

<h3>治驚當分三因論</h3>
<p>錢氏曰：小兒驚搐，因傷風后得之，口中氣出熱，呵欠頓悶，手足動搖，當發散，大青膏主之。小兒本怯，多此病也。因傷食後得之，身體溫，多睡，或吐，不思乳食而發搐，當先定搐，白餅子下之後，與安神丸主之。惟瘡疹能發搐，風火相爭故也，治當瀉心肝，補其母。</p>

<h3>丹溪先生治急慢驚風大法</h3>
<p>小兒驚風有二：急驚屬痰熱，宜涼瀉，一云用降火下痰丸，養血藥作湯下之；慢驚屬脾虛，所主多死，宜溫補，一云當養脾，用硃砂安神丸，清米湯下，更於血藥中求之。世以一藥通治之，甚妄。急驚風發熱之口瘡，手心伏熱，痰嗽痰喘，並用湧法，重則用瓜蒂散，輕則用赤小豆苦參末，須用酸齏汁調服之。候少定，用通聖散蜜丸服之，間以桑樹上桑牛，陰乾為末，調服，以平其風。又以北薄荷葉、寒水石各一兩，青黛、白姜蠶、辰砂各一錢，全蠍二枚，豬牙皂角、槐角各五分，為末，燈心湯和乳汁灌之。角弓反張，目直視，因驚而致，宜南星、半夏，入薑汁、竹瀝灌之，更灸印堂。頻吐瀉，將成慢驚，用錢氏白朮散加山藥、扁豆、炒肉豆蔻，麵煨，各一錢，入姜一片，煎服。若慢驚已作，加細辛、天麻各一錢，全蠍三個，去梢，白附八分，麵煨。驚而瀉，用參苓芍藥，酒炒，白朮姜煎，夏月加黃連、生甘草、竹葉服之。</p>

<h3>東垣先生治急慢驚風大法</h3>
<p>外物驚，宜鎮心黃連安神丸。若氣動所驚，宜寒水石安神丸，大忌防風丸。防風辛溫之藥，必殺人，何也？辛散浮溫熱者，火也，乃能令母實，助子之氣盛，皆殺人也。如因驚而泄青色，先鎮肝，以硃砂之類，勿用寒涼之氣，大禁涼驚丸。風木旺必克脾胃，當先實其土，後瀉其木。閻孝忠編集錢氏方，以益黃補土，誤矣！其藥有丁香辛熱助火，火旺土愈虛矣。青橘皮瀉肺金，丁香辛熱，大瀉肺與大腸。脾實當瀉子，今脾胃虛，反更瀉子而助火重虛其土，殺人無疑矣。其風木旺證，右關脈洪大，掌中熱，腹皮熱，豈可以助火瀉金？如寒水來乘脾土，其病嘔吐腹痛，瀉痢青白，益黃散聖藥也。今立一方，先瀉火補金，大補其土，是為神治之法。以黃耆二錢，人參一錢，炙甘草五分，加白芍藥一錢，此四味皆甘溫，能補元氣，甘能瀉火。《內經》云：熱淫於內，以甘瀉之，以酸收之。白芍藥酸寒，寒能瀉火，酸味能瀉肺而大補肺金。所補得金土之位大旺，火虛，風木何由而來剋土？然後瀉風之邪，夫益黃散、理中丸養神之類，皆治脾胃寒濕大盛，神品之藥也。若得脾胃中伏火，勞役不足之證，及服熱藥巴豆之類，胃虛而成慢驚之證，用之必傷人命。夫慢驚風者，皆由久瀉脾胃虛而生也。錢氏以羌活膏療慢驚風，誤矣！脾虛者，由大刑乘其土位，故曰從後來者，為虛邪。火旺能實其木，木旺故來剋土，當於心經中，以甘溫補土之源，更於脾土中瀉火以甘寒，更於脾土中補金以酸涼瀉肝。土中金旺火衰，風木自虛矣。</p>

<h3>急驚治法</h3>
<p>錢氏曰：小兒急驚，因聞大聲，或大驚而後發搐，發過則如故，此無陰也，當下利驚丸主之。此證本因熱生於心，身熱面赤，飲水，口中氣熱，大小便黃赤，劇則發搐，蓋熱甚則風生，風屬肝，此陽盛陰虛也，故利驚丸主之，以除痰熱。不可用者，巴豆及溫藥大下之，恐搐，虛熱不消也。小兒熱痰客於胃，因聞聲非常，則動而搐驚矣。若熱極，雖不聞聲，亦自發搐。閻氏云：當其搐勢漸減時，與鎮心治熱之劑一二服，候驚稍定，須臾以藥下其痰熱，心神安寧即愈。潔古曰：急驚陽證也，俱腑受病耳。小兒熱痰客於心肺，是少陽相火旺。經云：熱極生風。因聞大聲而作，蓋謂東方震卦，得大氣而發搐，火本不動，得風而動，當用利驚丸、導赤散、瀉青丸、地黃丸主之。搐止，服安神丸。</p>

<h3>慢驚治法</h3>
<p>閻孝忠曰：慢驚得於大病之後，吐瀉之餘，或誤取轉，致脾胃虛損，風邪乘之，似搐而不甚搐，名曰瘛瘲，似睡而精神慢，四肢與口中氣皆冷，睡中露睛，或胃痛而啼哭，忽如鴉聲，此證已危，蓋脾胃虛損故也。潔古曰：慢驚陰證也，俱臟受病耳。蓋小兒吐瀉，病久脾胃虛損，若不早治，則成慢驚，名曰瘛瘲，似搐而不甚搐也，因脾虛，故大便不聚，當去脾間風，先以宣風散導之，後用使君丸、益黃散，則其病自止。既已，夫治則脾肺俱虛，致被肝木所乘，是為慢驚也，當用溫補羌活膏主之。</p>

<h3>慢脾風治法</h3>
<p>仁齋曰：慢脾風之候，面青額汗，舌卷頭低，眼合不開，困睡中搖頭，吐舌，頻嘔腥臭，禁口咬牙，手足微搐而不收，或身冷，或身熱，而四肢厥冷，其脈沉微，陰氣極盛，胃氣極虛，十救一二。蓋由慢驚之後，吐瀉損脾，病傳已，總歸虛處，惟脾所受，故曰慢脾。若逐風，則無風可逐；若療驚，則無驚可療。但脾間涎痰，虛實往來，其眼合者，脾困氣乏，神志昏迷，痰涎壅滯然耳，世所謂難療者是也。然慢脾一名虛風，凡小兒吐瀉之後，面色虛黃，大熱虛損，若因虛而發熱，繼此隨得慢驚脾風之疾。方見搖頭斜視，以手摸人，昏困喜睡，額上汗出，身亦有汗，其聲漸小而焦，即是脾風之證，不必皆由慢驚傳次而至，又當識之大要，生胃回陽，黑附湯、金液丹、白丸子、生附四君子湯可斟酌而用。胃氣漸復，則異功散溫平而調理之。若其眼半開半閉，手足不冷，證尚慢驚，則勿用回陽；或已入慢脾，而陽氣未甚脫者，亦不可用硫黃、附子。凡服回陽湯，則手足漸暖者，仍服醒脾散等，繼其後以調之。慢脾下痰輕者，神保既濟丹。慢驚慢脾逆惡候，諸藥不效者，如有太衝脈，則取百會穴灸之。此治慢脾風之大要，然也。</p>

<h3>驚風灸法</h3>
<p>小兒急驚，灸前項二穴，三壯。取法：在百會前一寸。若不愈，灸兩眉心及鼻下人中一穴，炷如小麥大。</p>
<p>小兒慢驚，灸尺澤穴，各三壯。在肘中橫紋約上動脈中，炷如小麥大。</p>
<p>小兒睡中驚掣，灸足大指、次指之端，去爪甲如韭葉許，各一壯。</p>
<p>小兒角弓反張，身強，灸鼻上入際三分，三壯；次灸大椎下節間，三壯。</p>
<p>小兒睡中驚，不合眼目，灸屈肘後橫文中三分，各一壯。</p>
<p>廬陵彭用光曰：凡小兒幼科用藥，有奇效者，急慢驚風諸證及一切病症，皆因胎熱有痰，惟有此三方有奇效，絕勝於諸，極貴香竄之藥徒費而無益者，醫家病家所當切記。</p>
<p>青州白丸子　方見後。</p>
<p>礞石散　方見後。</p>
<p>鶴頂丹　治陰陽二證結胸，神效。勝陷胸、承氣、瀉心三藥，百病皆效。</p>
<p>明白礬（一兩）　真銀硃（半兩）</p>
<p>上二味同研為末，用熨斗盛少炭火，坐火瓦盞在上，平抄礬朱末一錢，入盞中熔化，急刮出，就搓成圓。如有前證，每用一丸研細，茶清調勻，溫服；或入薑汁少許同炒。下，聽心上有隱隱微聲，結者自散。不動臟腑，不傷真氣，無問虛實證，可皆投白礬，能化痰解毒；銀珠是水銀或黃凍成汁，治痰積攻。</p>

<h3>驚風諸方</h3>
<p>錢氏利驚丸　治小兒急驚風，涎盛，發熱，漸搐。</p>
<p>青黛　輕粉（各一錢）　牽牛（半兩）　天竺黃（一錢）</p>
<p>上為末，白糊丸，如小豆大。每一歲服一丸，薄荷湯下。</p>
<p>定命丹　治小兒急驚，天吊撮口，通利痰熱。</p>
<p>全蠍（七個）　天麻　南星（炮）　白附子（各二錢半）　硃砂　青黛　輕粉　麝香（各半錢）</p>
<p>上為末，粟米糊丸，綠豆大。每服十丸，荊芥薄荷湯調下。先研半錢，吹入鼻中。</p>
<p>仁齋利驚丸　利驚，下痰消痰。</p>
<p>鉤藤（二錢）　牙硝　鐵粉（各一錢）　腦麝（各少許）　龍膽草　防風　青黛　蘆薈　南星（炮。各二錢）</p>
<p>上為末，飛，麵糊丸，麻子大，每服二丸，煎金銀湯下。</p>
<p>參苓白朮散</p>
<p>人參　茯苓　甘草　白朮　白扁豆　山藥　砂仁　薏苡仁</p>
<p>上為末，每服半錢，棗湯調服，或米湯亦好。</p>
<p>溫膽湯　治小兒驚悸頑痰。</p>
<p>半夏（生制）　枳實（各三錢半）　茯苓（半兩）　陳皮（炒，一分半）　酸棗仁（溫酒浸去殼，二錢半）</p>
<p>上銼散，每服一錢，竹茹少許，用薑棗煎服。</p>
<p>理中湯</p>
<p>人參　白朮　乾薑（炮）　甘草（炒）</p>
<p>上銼散，每服二錢，煎服。</p>
<p>王氏惺惺散　治小兒吐瀉，脾弱內虛，生驚。</p>
<p>人參　茯苓　木香　天麻　扁豆　全蠍（全炙）　陳米（炒。各等分）</p>
<p>上銼散，每服二錢，薑棗煎服。</p>
<p>醒脾散　治小兒吐瀉，脾困，欲發驚搐。</p>
<p>人參　全蠍　白附子　天麻　甘草（炙）　茯苓　石菖蒲　木香　蓮肉　白朮</p>
<p>上為末，每服三字，薑棗煎服。有熱去木香。驅風醒脾皆可用。</p>
<p>蘇合香丸</p>
<p>白朮　青木香　烏犀屑　香附子（炒，去毛）　硃砂（研，水飛）　訶黎勒（煨，去皮）　白檀香　安息香（別為末，無灰酒一升熬膏）　沉香　麝香　丁香　蓽茇（各二兩）　龍腦　蘇合香油（入安息香油內。各一兩）　薰陸香（別研，一兩）</p>
<p>上為末，煉蜜和劑施丸，如桐子大，每服一丸，早朝熱湯任下。</p>
<p>青州白丸子</p>
<p>半夏（白好丹水浸洗過）　川烏頭（去皮，臍，半兩）　南星（三兩）　白附子（半兩）</p>
<p>上搗羅為末，以生絹袋盛，用井花擺末出者，更以手擦，令出如有滓，更研，再入絹袋，擺盡為度。放瓷盆中曬，夜露至曉，棄水，別用井花水攪，又曬至來日早，再換新水攪，如此春五日，夏三日，秋七日，冬十日，去水曬乾，候如玉片，碎研，以糯米粉煎粥，丸如綠豆大。初服五丸，加至十丸，生薑湯，不拘時候。</p>
<p>礞石散</p>
<p>青礞石（一兩，另研）　焰硝（半兩，一方用一兩，同礞石入鍋內用炭火煅過，通紅，須硝盡為灰，藥冷如金色）</p>
<p>上為末，急驚風，痰壅上，身熱如火，用生薄荷自然汁入蜜調，微溫服之，良久其藥自裹痰墜下，隨大便過。痰涎與藥夾和，如稠涕膠黏，乃藥之。</p>
<p>青皮（炒）　甘草（炙，各半兩）</p>
<p>上銼散，每服三錢，水半盞煎服。</p>

<h1>中卷</h1>

<h2>一、諸疳門</h2>

<h3>諸疳脈法論</h3>
<p>彭用光按：《內經》曰：小兒虎口脈紋白色者，為疳；脈單細者，為疳勞。初生幼孩，臟腑嬌嫩，飽則易傷。乳哺飲食，一或失常，不為疳者，鮮矣。皆因飲食不調，甘肥無節而作也。或嬰孩闕乳，粥飯太早，耗傷形氣，則疳之根生，延及歲月，五疳成病。錢氏曰：疳皆脾胃耗傷，亡津液之所作也，故小兒臟腑柔脆，有疾不可痛擊，大下必亡津液。凡有可下，宜量大小虛實而下之，不致為疳也。但見目澀，或生白膜，唇赤身黃，喜臥冷地，愛食泥土，瀉痢無常，腹吐脹滿，耳鼻生瘡，頭髮作穗，腳弱項小，極瘦，飲水者，皆其候也，此由父母保護之差也。</p>

<h3>五疳</h3>
<p>用光曰：小兒疳證有五，心肝脾肺腎是也。其咬牙舒舌，舌上生瘡，愛飲冷水，唇紅面赤，而喜伏眠於地，名曰心疳；目生眵淚，髮際左臉多青，或目睛微黃，瀉痢夾青，或如苔色，名曰肝疳；愛吃泥土冷物，引飲無度，身面俱黃，發稀作穗，頭大項小，腹脹腳軟，間或釀瀉，肌瘦目慢，晝涼夜熱，不思乳食，名曰脾疳；鼻下黑爛，手足枯細，口有腥氣，或作喘嗽，右腮㿠白，名曰肺疳；兩耳內外生瘡，腳如鶴膝，頭縫不合，或未能行，牙齒生遲，其縫臭爛，作走馬疳之類，名曰腎疳。大抵疳之為病，皆因過食。飲食於脾家一臟，有積不治，傳之餘臟，而成五疳之疾。若脾家病去，則餘臟皆安矣。</p>
<p>按：潔古曰：疳者，小兒病癖，或久吐瀉。醫者妄投過轉之藥，小兒易為虛實，致令胃虛而亡津液，內發虛熱，外消肌肉。一臟虛則諸臟虛，則諸臟皆弱。其病目胞腫，腹肚脹滿，利，色無常，漸加瘦瘠，久不痊疴，是腸胃有風積，法當用宣風散導之，後各依本臟補其母。</p>

<h3>疳證當分冷熱虛實</h3>
<p>用光按：錢氏曰：大抵疳病，當辨冷熱肥瘦。其初病者，為肥熱疳；久病者，為冷瘦疳。熱疳多在外，鼻下臭爛，自揉鼻頭，上有瘡，下著痂，漸繞耳。生瘦冷疳，多在內，目腫腹脹，利，色無常，或沫青白，漸至瘦削是也。楊氏曰：肝之受病，皆虛使然耳。熱者，虛中之熱；冷者，虛中之冷。治熱不可妄表過涼，治冷不可峻溫過補。況小兒易為虛實，脾虛不受寒溫，服寒則生冷，服溫則生熱，當識此而勿誤。</p>

<h3>諸疳治法</h3>
<p>凡熱疳以胡黃連丸，冷疳以木香丸，冷熱疳用通神丸主之。疳在外，耳鼻生瘡者，以蘭香散；諸瘡，白粉散主之。</p>
<p>心疳者，由乳食不調，心臟受熱所致也。蓋其血氣未定，乳哺有傷，易生壅滯。內有滯熱，未得疏通，故心神驚郁，而作驚疳之候。外證身體壯熱，臉赤唇紅，口舌生瘡，胸膈煩悶，小便赤澀，五心皆熱，盜汗發渴，齧齧生驚是也，宜以茯苓丸、錢氏安神丸主之。</p>
<p>肝疳者，由乳食不調，肝臟受熱所致也。若乳母寒溫不調，滋味不節，或外感風寒，內傷喜怒，邪氣未散，遽以乳兒，多成風疳。肝者，眼之候。伏熱，痰涎壅滯，以致肝風入眼，赤腫翳生，眵淚爛眶，痛癢揉擦，昏暗雀盲，甚至經月閤眼，亦名疳眼。外證搖頭揉目，白膜遮睛，眼青淚多，頭焦發堅，筋青腦熱，甲癢肋攣，燥渴汗多，下痢，瘡癬是也，宜以天麻丸、生熟地黃湯主之。</p>
<p>脾疳者，由乳食不節，脾胃受傷所致也。或乳母恣食煎煿熱味，生冷肥膩，或乳兒過傷，或飯後與乳致吐，或母多眠，久則變為乳癖，腹脅結塊，亦為奶疳。外證面黃身熱，肚大腳弱，吐逆中滿，乏力叫啼，水穀不消，泄下酸臭，合面困睡，減食，吃泥是也，宜以靈脂丸、錢氏益黃散主之。</p>
<p>肺疳者，由乳食不調，壅熱傷肺所致也。肺主乎氣，鼻乃肺之所通，其氣不和，則風濕乘虛客於皮毛，入於血脈，故鼻下兩傍赤癢瘡濕，名為鼻疳。其瘡不痛，汁所流處，隨即生瘡，亦名疳䘌。外證咳嗽喘逆，壯熱惡寒，皮膚粟生，鼻瘡流涕，咽喉不利，頤爛吐紅，氣脹毛焦，泄痢頻並是也，宜以清肺飲、化䘌丸、錢氏阿膠散主之。</p>
<p>腎疳者，由乳哺不調，臟腑伏熱所致也。凡甘味於脾而動蟲，蟲動則侵蝕腸胃，則下痢肛爛。濕䘌多因疳傷，久痢腸胃受濕，得之外證，腦熱肌削，手足如冰，寒熱時來，滑泄肚痛，口臭乾渴，齒齦生瘡，爪黑麵黧，身多瘡疥是也，宜以地黃丸主之。</p>
<p>蛔疳者，由乳哺不調，食肉太早，臟腑傷積，甜膩莫不化而為蟲，其症皺眉多啼，嘔吐清沫，腹中作痛，肚大青筋，唇口紫黑，腸頭齒頭是也。只有脊疳者，乃蟲食脊膂，身熱羸黃，積中生熱，煩渴下痢，拍背如鼓鳴，脊骨如鋸齒，或十指皆瘡，頻齧指是也，兼以下蟲丸主之。</p>
<p>丁奚哺露者，皆因脾胃久虛，不能克化水穀，以榮血氣，故肥肉消爍，腎氣不足，後為風冷所傷，使柴骨枯露，亦有胎中受毒，臟腑少血故也。若手足極細，項小骨高，尻削體瘦，腹大臍突，號哭胸高，或生谷瘕，是為丁奚。若虛熱往來，頭骨分開，翻食吐蟲，煩渴嘔噦，是哺露，並以十全丹、大蘆薈丸主之。</p>
<p>疳痢者，或因感受風寒暑濕，冷熱不調，停積宿滯，水穀不聚，頻下惡物是。疳瀉者，毛乾唇白，額上青紋，肚腹脹鳴，瀉下糟粕是也。勿用熱藥止澀，並以香蔻丸、木香丸主之。</p>
<p>疳勞者，潮熱往來，五心煩熱，手足心及胸前熱而發瘡，盜汗骨蒸，嗽喘枯悴，或渴而後瀉，飲水惡食，肚硬如石，面色如銀，斷不可治，以黃耆湯、鱉血煎主之。</p>
<p>疳腫者，乃虛中有積，其毒與氣交併，故令腹肚緊脹，由是脾胃受濕，致令頭面腳手虛浮，法當磨積調氣，以碣丸子主之。</p>
<p>無辜疳者，腦後項邊，有核如彈，按之轉動，軟而不收，久則肢體癰瘡，便利膿血，壯熱羸瘦，頭露骨高是也。古方有云：瀚濯兒衣露於檐下，為雌鳥落羽所汙，兒著此衣，感其惡氣，遂成無辜之疾者，此亦未必為是，正孟子所謂「盡信書則不如無書」也，宜蚵蚾丸主之。</p>
<p>疳渴者，乃臟腑有疳，風氣加之，或乳母恣食五辛、酒面、炙煿，使小兒心肺壅熱，日則煩渴飲水，乳食不進，夜則渴止，是名疳渴，黃連丸主之。</p>
<p>走馬疳者，多因氣虛受寒，及有宿滯留而不去，積溫成熱，虛熱之氣上蒸，或食甜酸鹹膩之物，而脾雖喜甘，積滯日久，蘊熱上熏於口，致齒焦黑爛，間出清血，血聚成膿，膿臭成蟲，侵蝕口齒，甚至腮頰穿破，乳食不便，面色光浮，氣喘熱作，名曰走馬疳，宜蘆薈丸主之，外用燒鹽散、銅青散敷之。若經久不愈，傳於唇之上下，乃成崩砂證，或齒落骨露，飲食減少，氣促痰鳴，以致危矣。早早施治，得法即可全生。</p>

<h3>疳證諸方</h3>
<p>胡黃連丸　治小兒熱疳。</p>
<p>胡黃連　川黃連（各五錢）　硃砂（一錢半，別研）</p>
<p>上二連為末，加砂仁，入豬膽內系定，虛懸於銚中，煮一飯久，取出，研蘆薈、青黛各二錢半，去滓，蝦蟆灰二錢，麝少許，粳米飯丸，麻子大，每服十丸，米湯飲下。</p>
<p>木香丸　治小兒冷疳及疳在內。</p>
<p>木香　青黛　檳榔　肉豆蔻（各一分）　麝香（錢半，另研）　續隨子（一兩，去油）　蝦蟆（二個，燒存性）</p>
<p>上為末，蜜丸綠豆大，每服三五丸至二十丸，薄荷湯下，食前服。</p>
<p>通神丸　治小作冷熱疳。</p>
<p>胡黃連　川黃連（各二錢）　木香　蕪荑（炒。各一錢）　丁香　肉豆蔻（生）　使君子（焙肉。各一錢）　大蝦蟆（一隻，銼碎，水煮爛，研膏）</p>
<p>上為末，膏和丸，麻子大，每服十丸，米飲下。</p>
<p>蘭香散　治小兒疳在外，鼻下赤爛。</p>
<p>蘭香葉（菜名，二分，燒灰）　銅青（五分）　輕粉（二字）</p>
<p>上為末，令勻。看大小，干貼之。</p>
<p>茯神丸　治小兒心疳。</p>
<p>茯神　蘆薈　琥珀　川黃連（淨）　赤茯苓（各三分）　鉤藤皮　遠志肉（薑製，焙乾）　蝦蟆灰（各二分）　麝（少許）　細節菖蒲（一分）</p>
<p>上為末，粟米糊丸，麻子大，每服十丸，薄荷湯下。</p>
<p>天麻丸　治小兒肝疳、風疳、疳眼。</p>
<p>青黛　川黃連　天麻　北五靈脂　川芎　夜明砂（微炒）　蘆薈（各一分）　龍膽草　防風　蟬殼（去足。各一分半）　全蠍（二隻，焙）　麝（少許）</p>
<p>上為末，豬膽汁浸，糕丸，麻子大，每服十丸，薄荷湯下。</p>
<p>生地黃湯　治小兒疳眼。</p>
<p>生地黃　熟地黃（各一兩，淨）　川芎　赤茯苓　枳殼（制）　杏仁（水浸，去皮）　川黃連（淨）　半夏曲　天麻　地骨皮　甘草（炙。各二分）</p>
<p>上銼，每服二錢，姜三片，黑豆十五粒，水煎，臨臥服。</p>
<p>靈脂丸　治小兒脾疳、食疳。</p>
<p>北五靈脂　縮砂仁　白豆蔻　麥芽　蓬朮（煨）　青皮（去白）　橘紅　使君子肉（焙乾。各二分）　蝦蟆（炙焦，三分）</p>
<p>化䘌丸　治小兒肺疳。</p>
<p>蕪荑　蘆薈　青黛　川芎　白芷梢　胡黃連　蝦蟆</p>
<p>上為末，糊丸麻子大，每服十丸，米飲下。</p>
<p>地黃丸　治小兒腎疳。</p>
<p>熟地黃（淨，四分半）　赤茯苓　山茱萸（蒸，取肉焙）　牡丹皮　山藥（焙）　使君子（略煨，取肉。各二分）　當歸　川芎　川楝肉（焙）</p>
<p>上為末，煉蜜丸，梧桐子大，每服三丸，空心溫酒化下。</p>
<p>下蟲丸　治小兒疳蛔諸蟲。</p>
<p>新白苦楝根皮（酒浸，焙）　綠色黃蟲　木香　桃仁（浸去皮，焙）　蕪荑（焙）　雞心檳榔（各二錢）　鶴蝨（炒，一錢）　輕粉（二錢）　干蝦蟆（炙焦，二錢）　使君子（略煨，取肉，五十個）</p>
<p>上為末，糊丸麻子大，每服十丸，白湯下。</p>
<p>香蔻丸　治小兒疳瀉。</p>
<p>黃連（三錢，炒）　肉豆蔻　木香　訶子（煨）　茯苓　縮砂仁（各一錢）</p>
<p>上為末，粳米飯為丸，麻子大，每服十五丸，生薑湯下。</p>
<p>厚朴黃連丸　治小兒疳痢。</p>
<p>黃連（淨，三錢）　木香　紫厚朴（制）　縮砂仁　夜明砂（隔紙炒。各三錢）　訶子肉（炒，一錢）</p>
<p>上為末，粳米飯丸，麻子大，每服十五丸，干艾葉、生薑煎湯，食前下。</p>
<p>益黃散　治小兒脾疳、泄瀉。</p>
<p>陳橘皮（一兩）　青橘皮　訶子肉　甘草（炙。各五錢）</p>
<p>上為粗末，每服三錢，水一盞，煎至六分，食前溫服。</p>
<p>阿膠散　治小兒肺疳咳嗽。</p>
<p>明阿膠（一兩半，麵炒）　鼠黏子（二錢，炒）　馬兜鈴（半兩）　甘草（一錢，炙）　杏仁（七個，去皮尖）　糯米（一兩）</p>
<p>上水一盞煎，食前服。</p>
<p>銅青散　治小兒走馬疳，口內生瘡，牙根潰爛，齒黑欲脫，或出此血。</p>
<p>白芷（半兩）　牙硝（一錢）　銅青（一分）　麝香（一字）</p>
<p>上為末，干敷口角及擦牙齒上，甚妙。</p>
<p>肥兒丸　治諸疳。多因缺乳，吃食太早，或患病久，臟腑胃虛蟲動，日漸羸瘦，肚大青筋，不能行立，發豎，發熱，無顏色。</p>
<p>黃連　神麯（各一兩，炒）　麥芽（五錢，炒）　木香（二錢半）　檳榔（二個）　肉豆蔻（炮）　使君子（各半兩，酒浸去皮）</p>
<p>上為末，麵糊丸，麻子大，每服二十丸，米飲下。量歲數加減。</p>
<p>蚾丸　治小兒無辜疳、諸疳。一服虛熱退，二服渴止，三服瀉痢住。鼻耳口三處疳瘡，服之神效。</p>
<p>蟾蜍（一枚，夏月溝渠中取腹大者，不跳不鳴，其身多瘌）</p>
<p>上以取糞蟲一杓，置桶中，以取浸之。桶中要干，不與蟲走，卻將蟾蜍頓在蟲中，任與蟲食，一日一夜，次以新布袋包，系定，置水中急處，浸一宿，取出，瓦上焙為末，入麝香一字，揉飯為丸，麻子大，每服二三十丸，米飲下。此丸累修合，活人多矣，無不效驗。</p>
<p>十全丹　治小兒丁奚哺露。</p>
<p>青皮　陳皮　莪朮（煨）　川芎　五靈脂　白豆蔻　檳榔　蘆薈（各半兩）　木香　使君子　蝦蟆（炙。各二錢）</p>
<p>上為末，豬膽汁浸，糕糊丸，麻子大，每服二十丸，米飲下。有熱，薄荷湯下。</p>
<p>鱉血煎　治小兒疳勞。</p>
<p>蕪荑　軟柴胡梢　川芎（各一兩）　人參（半兩）　使君子（三十枚）　胡黃連　川黃連（各五錢）</p>
<p>上用鱉血一盞、吳茱萸一兩，拌和二黃連，淹一宿，次早炒乾，去茱萸、鱉血，只用二連末和諸藥作末，粟糊丸，麻子大，每服二十丸，食前白湯送下。</p>
<p>丹溪一方　治小兒疳積或腹大。用胡黃連去疳積，一云去果子積，阿魏去肉積，酒浸用，各五分；神麯炒，去食積，黃連炒，去熱積，各二錢；麝香四粒。豬膽丸，麻子大，每服三十丸，白湯下。一方有蘆薈。</p>
<p>一方　治小兒疳。用黃連、白朮、山楂各五錢，胡黃連、蘆薈各三錢，蕪荑一錢半，神麯四錢，為末，豬膽丸，粟米大，白湯下。</p>
<p>一富兒黃瘦，善啖易飢，非肉不食，泄瀉一月，脈大，以為濕熱，當脾困而食少，今反形健而多食，不渴，此必疳蟲也，大便更有蟲，令其治蟲而愈。至次年夏初，復瀉，不痛而口乾，予曰：昔治蟲，不治疳也。以去疳熱之藥白朮湯下，三日而愈，後用白朮為君，芍藥為臣，川芎、陳皮、黃連、胡黃連，入蘆薈為丸，白朮湯下。禁肉與甜瓜，防再舉。</p>

<h3>諸疳灸法</h3>
<p>小兒疳眼，灸合谷二穴，各一壯。取法：在手大指、次指兩骨間，陷中是穴。</p>
<p>小兒疳痢，脫肛體瘦，渴飲，形容憔悴，諸般醫治不差，灸尾椎骨上三寸骨陷間，三壯。岐伯云：兼三伏內，用桃枝、柳枝煎水浴孩，子午正時，當日灸之，後用清帛拭，兼有似見疳蟲隨汗出也，此法神效。</p>
<p>小兒羸瘦，飲食少進，不生肌肉，灸胃俞二穴，各一壯。取法：在十二椎下，兩傍各一寸半，陷中是穴。</p>

<h2>二、諸熱門</h2>

<h3>論表虛熱</h3>
<p>《病機機要》云：有表而熱者謂之表熱，無表而熱者謂之裡熱；有暴發而為熱者，乃久不宣通而致也；有服溫藥而為熱者，有惡寒戰慄而為熱者，蓋諸熱之屬，心火之像。治法：小熱之氣，涼以和之；大熱之氣，寒以取之；甚熱之氣，則汗發之；發之不盡，則逆制之；制之不盡，求其屬以衰之。苦者以治五臟，五臟屬陰而居於內；辛者以治六腑，六腑屬陽而在於外，故內者治之，外者發之。又宜養血益陰，其熱不治而自愈也。</p>

<h3>辨論諸熱</h3>
<p>楊氏曰：小兒之病，惟熱居多。夫熱有潮熱、驚熱、夜熱、餘熱、食熱、疳熱、壯熱、煩熱、積熱、風熱、虛熱、客熱、痰熱、寒熱、血熱、瘡疹熱十六者，大同而小異。熱之始發，必所因也。其潮熱發歇有時，驚熱顛叫恍惚，夜熱多發旦止，餘熱寒邪未盡，食熱肚腹先發，疳熱骨蒸盜汗，壯熱一向不止，煩熱心躁不安，積熱頰赤口瘡，風熱汗出身熱，虛熱困倦少力，客熱來去不定，痰熱涎嗽飲水，寒熱發如瘧狀，血熱辰巳發熱，瘡疹熱耳鼻尖冷。諸證得之，各有所歸，其間或有三兩證交互者，宜隨其輕重而處治之。</p>

<h3>諸熱治法</h3>
<p>心熱者，視其睡，口中氣溫，或合面臥，及上竄搖頭咬牙，瀉心湯主之。</p>
<p>肝熱者，手尋衣領及亂捻物，瀉青丸主之；壯熱，飲水，喘悶，瀉白丸主之。</p>
<p>脾熱，其熱在肌肉，遇夜尤甚，怠惰嗜臥，身熱飲水，四肢不收，瀉黃散主之。</p>
<p>肺熱，手掐眉目，日西熱甚，喘嗽寒熱，壯熱飲水，輕者瀉白散，重者涼膈散主之。</p>
<p>腎熱，兩足不喜衣覆然，此者，臍之下皆腎之所主，緣心氣下行於腎部也。東垣滋腎地黃丸主之。</p>
<p>潮熱，因傷寒時疫，觸變邪氣，陰氣不足，陽氣有餘，陽邪暴傷，則血氣凝滯，不即流通，壅逆無歸，傳於足陽明之經，遂生潮熱，早晚兩度，如潮水之應期也。《傷寒論》云：潮熱者，實熱也，當利大便。脈實者，大柴胡湯下之；脈虛浮數者，百解散汗之。</p>
<p>驚熱者，遍身發熱，面青白，自汗，心悸不寧，脈數，煩躁，顛叫恍惚，以錢氏涼驚丸、安神丸主之。</p>
<p>夜熱者，但夜間發熱，是陰中有陽邪也，以元戎四物二連湯主之。</p>
<p>餘熱者，謂寒邪未盡，得驚之遺熱也。仁齋曰：傷寒，汗下後而熱又來，表裡俱虛，氣不歸元，陽浮於外，不可再用涼藥。蓋熱去則寒起，古人戒之，法當和胃氣，使陽氣收斂歸內，其熱自止，宜以參苓白朮散主之。</p>
<p>食熱者，手心熱，肚背先熱，噯氣吐乳，大便酸臭，宜下積丸主之。</p>
<p>疳熱者，形瘦多渴，吃食不長肌肉，骨蒸盜汗，泄瀉無常，肚大腳弱是也，宜龍膽丸、胡黃連丸、蘆薈丸之類。</p>
<p>壯熱者，一向不止，由血氣壅實，五臟生熱，蒸熨於內，則眠臥不安，精神恍惚。熏發於外，表裡俱熱燥，躁，喘粗，甚則發驚癇也，火府散、通聖散主之。</p>
<p>煩熱者，心躁不安，五心煩熱，四肢溫壯，小便赤澀，宜一粒金丹主之。</p>
<p>積熱者，頰赤口瘡，下盛則腰腿壅腫，表裡實則身熱便澀，虛則汗下後仍熱也。或內因酒面、煎煿、熱藥峻補，外因大暖、爐火浸逼，皆能生熱。此內外蘊積之熱，非食積熱也，宜三黃丸、四順飲主之。</p>
<p>風熱者，汗出身熱，呵欠面赤。因其解脫，風邪致令所傷，客於皮毛，入於臟腑，則惡風、發熱、目澀、多睡。陽氣有餘，身熱無汗；陰氣有餘，身寒有汗；陰陽有餘，無汗而寒。《素問》曰：汗出而身熱者，風熱也。消風散、綠霞丸主之。</p>
<p>虛熱者，因傷寒及諸熱汗下之後余，去津太過，氣血未調，食飲勞傷，致令虛熱。其候困倦少力，面色青白，泄瀉多尿，虛汗自出，恍惚神慢，虛氣軟弱，又有久嗽、久瀉、久痢、久血、久瘧，以致諸疾之後成者，皆虛熱也。凡病久則血氣虛。如氣虛則發厥，血虛則發熱，氣血皆虛則手足厥而身熱也，宜以惺惺散、四君子湯、錢氏白朮散主之。</p>
<p>客熱者，為陽邪干於心也，心若受邪，則熱形於額，故先起於頭面，次而身熱，恍惚多驚，聞聲驚恐，良由真氣虛而邪氣勝也。邪氣既勝，真氣與之交爭，發渴無時，進退不定，如定之往來，故曰客熱，導赤散、黃連瀉心湯主之。</p>
<p>痰熱者，喘嗽飲水，由乳食不消，伏結於中，致成癖塊也，宜與白朮散滋養津液，次珍珠丸下其痰涎，或以妙丸子磨之。</p>
<p>寒熱者，證如瘧，陰陽相勝也。先寒而後熱，陽不足；先熱而後寒，陰不足。寒多而熱少，陰勝陽也；熱多而寒少，陽勝陰也；寒熱相半，陰陽交攻也；寒熱隔日，陰陽乍離也。陽盛發熱，陰勝發寒也。其有頭痛汗出者，有嘔吐不食者，有憎寒而飲水者，壯熱而飲湯者，有筋骨疼痛者，或瀉或秘，或內寒而外熱，或內熱外寒。又有寒而腹中痛，熱而腹中鳴，是有食積也。治法：因於食積者，當用白餅子下之，次行補助，以錢氏白朮散；寒多熱少者，小柴胡湯加桂；熱多寒少者，白虎湯加桂；寒熱相半者，並用小柴胡湯主之。</p>
<p>血熱者，每日巳午間發熱，遇夜則涼，六合湯主之。</p>
<p>疹熱，耳鼻尖冷是也，人參敗毒散、升麻葛根湯、參蘇飲之類。</p>
<p>按：已上辨論諸熱症，可謂詳悉。《全嬰方》所云血熱者「巳午發熱，遇夜則涼」，與東垣所謂「夜則發熱，晝則明瞭」不同。然東垣所云血熱者，指陰虛而生內熱也，夜則發熱，晝則明瞭，取其晝陽夜陰也。鄭氏所云血熱者，指小兒血盛實而言也。蓋謂巳午者，心火用事之時也，而心主血，血氣行到巳午，則陽氣盛，陽氣與正氣相搏，故至期而發熱非其時者，則血熱也。因二說不同，故並錄之。</p>

<h3>熱證諸方</h3>

<h4>治五臟熱之劑</h4>
<p>導赤散　治小腸實熱。</p>
<p>生地黃　木通　甘草（各等分）</p>
<p>上為粗末，入竹葉同煎。</p>
<p>瀉心湯　治心熱。</p>
<p>黃連（一兩）</p>
<p>上為末，水調二三分，大小與之。</p>
<p>瀉青丸　治肝熱。</p>
<p>大黃　當歸　龍膽草　川芎　山梔　羌活　防風</p>
<p>上為末，蜜丸雞頭大，每服一丸或半丸。</p>
<p>瀉白散　治肺熱。</p>
<p>桑白皮　地骨皮（各一兩）　甘草</p>
<p>上為末，每服二三錢。</p>
<p>瀉黃散　治脾熱，口臭，咽乾。</p>
<p>藿香（七錢）　山梔（一兩）　石膏（半兩）　防風（四兩）　甘草（一兩）</p>
<p>上為末，同蜜酒拌，微炒香，每服一錢。</p>
<p>滋腎地黃丸　治腎熱。</p>
<p>黃柏（二錢）　知母（一錢）　桂（一分半）</p>
<p>上為末，熟水丸，桐子大，每服二十九丸、三十丸，食前百沸湯下。</p>

<h4>治潮熱之劑</h4>
<p>人參芎歸散　治小兒虛勞內熱、潮熱，或遍身瘡。</p>
<p>北參　當歸　遠志（浸取肉，薑製，焙）　北前胡　柴胡　地骨皮　防風　北桔梗　枳殼（制）　半夏曲（各一錢半）　川芎　赤芍藥　茯苓　麥門冬（去心。各二錢）　甘草（三錢，焙）</p>
<p>上銼細，每服二錢，水小盞，姜三片，紫蘇葉三四葉，發瘡者兼服豬肚黃連丸（方見疳門），別作小丸，不惟治瘡，治渴其發熱而脹者，可與服二十丸。</p>
<p>大柴胡湯　治小兒潮熱脈實者。</p>
<p>柴胡　黃芩　芍藥　大黃　半夏　枳實　甘草（等分）</p>
<p>上，水一鍾，姜三片，煎服。</p>
<p>百解散　治小兒潮熱，脈虛浮數，用此微汗。</p>
<p>乾葛（二兩半）　升麻　赤芍藥（各二兩）　黃芩（一兩）　麻黃（七錢半）　薄桂（二錢半）</p>
<p>上，水一鍾，姜三片，蔥一根煎。</p>

<h4>治驚熱之劑</h4>
<p>安神丸　治小兒驚熱之劑。</p>
<p>天門冬（去心，焙）　牙硝　山藥（各五分）　白茯苓　硃砂（三錢）　甘草（五錢）　龍腦（一字，研）　寒水石（五錢）</p>
<p>上為末，煉蜜丸，如雞子大，每服一丸，砂糖水化下。</p>

<h4>治發驚之劑</h4>
<p>元戎四物二連湯　治晝則明瞭，夜則發熱。</p>
<p>當歸　生地黃　白芍藥　川芎　黃連　胡黃連</p>
<p>上㕮咀，水一鍾煎服。</p>
<p>黃連地黃丸　治夜熱，因傷寒後餘熱失時。</p>
<p>黃連　川芎　赤茯苓　地黃</p>
<p>上銼散，入燈心一捻，水煎，食遠服。</p>

<h4>治餘熱之劑</h4>
<p>實脾散　治小兒餘熱不除。</p>
<p>川芎　茯苓　甘草　白朮</p>
<p>上銼散，用水煎，食遠服。</p>
<p>參苓白朮散　治胃氣，收斂浮陽，退餘熱。</p>
<p>人參　茯苓　粉草　白朮　扁豆　山藥　砂仁　薏苡仁　桔梗（各一兩）　蓮子肉（半兩）</p>
<p>上為末，每服半錢，棗湯調飲，或米湯亦好。</p>

<h4>治食熱之劑</h4>
<p>紫霞丸</p>
<p>代赭石（煅，醋浸七次）　赤石脂　杏仁（五十個）　巴豆（三十粒，去皮心）</p>
<p>上代赭石、赤石脂，先為丸，和杏仁、巴豆同搗三十杵。若硬，加蜜少許，更杵，丸如粟米大，用密器盛。每服取二丸，以乳汁送下。</p>
<p>下積丸　治食熱。</p>
<p>丁香　縮砂仁（各十個）　使君子（五個，焙）　川巴豆</p>
<p>上為末，研細和勻，爛飯丸，麻子大，每服三十丸，橘皮煎湯送下。</p>

<h4>治疳熱之劑</h4>
<p>龍膽丸　治疳熱。</p>
<p>龍膽草　升麻　吳楝根（焙）　防風　赤茯苓　蘆薈　油發灰（各二錢）　黃連　青黛（干）</p>
<p>上為末，豬膽汁浸，蒸餅和丸，麻子大，每服二十丸，薄荷、紫蘇泡湯送下。</p>
<p>胡黃連丸　治熱疳。</p>
<p>胡黃連　川黃連（各半兩）　硃砂（一錢半，另研）</p>
<p>上二連為末，和砂仁，入豬膽內系定，虛懸於銚中，煮一飯久，取出，研蘆薈、青黛各二錢半，去澱，蝦蟆灰二錢，麝少許，粳米飯丸，如麻子大，每服十丸，米飲下。</p>
<p>蘆薈丸　治疳熱。</p>
<p>蘆薈　蕪荑　木香　青黛（干）　檳榔　川黃連（淨。各一分）　蟬殼（二十一枚）　胡黃連（半兩）　麝（少許）</p>
<p>上為末，豬膽二枚取汁浸，糕丸，如麻子大，每服二十丸，米湯送下。</p>
<p>鱉甲飲　治小兒骨蒸潮熱，盜汗。</p>
<p>鱉甲（醋炙）　地骨皮　秦艽　當歸　柴胡　枳殼　知母（各等分）</p>
<p>上㕮咀，三歲一錢，水半盞，桃柳枝各三寸，烏梅一個，煎三分服。</p>

<h4>治壯熱之劑</h4>
<p>地黃煎　治小兒壯熱煩心，眠臥不安。</p>
<p>生地黃汁（一升）　白沙蜜（三合）　酥（三合）　生門冬汁（三合）</p>

<h4>治煩熱之劑</h4>
<p>柴芩湯　治小兒溫壯，伏熱來去。</p>
<p>柴胡（二錢半）　麥門冬（去心）　人參（去蘆）　赤茯苓　甘草（各一錢半）　黃芩（五錢）</p>
<p>上銼散，用水煎，入小麥二十粒，竹葉三片。</p>

<h4>治積熱之劑</h4>
<p>梔子湯　治小兒積熱心臟，小便赤腫，口內生瘡。</p>
<p>梔子仁　木通　當歸尾　白芷（各二錢）　防風　甘草（各一錢）</p>
<p>上為細末，麥門冬湯送下。</p>
<p>三黃丸　解和小兒三焦積熱。</p>
<p>黃連（去毛）　黃芩（炒）　大黃（紙煨。各半錢）</p>
<p>上為細末，煉蜜丸，皂子大，用白湯研化，食前服。</p>
<p>四順飲　治小兒臟腑蘊積實熱。</p>
<p>當歸　大黃（蒸二次）　甘草（生）　赤芍藥（各一錢）</p>
<p>上㕮咀，用水一鍾，食前服。</p>

<h4>治風熱之劑</h4>
<p>消風散　治小兒解脫，致令風邪客於皮毛，入於臟腑，則令惡風發熱，胸膈痰涎，目澀多睡。</p>
<p>荊芥穗　甘草（炙）　川芎　羌活（去蘆）　殭蠶（去嘴）　防風（去蘆）　茯苓（去皮）　蟬蛻（炒，去土）　藿香葉　人參（去蘆。各一兩）　厚朴（去皮，薑製，炒）　陳皮（去白。各二錢半）</p>
<p>上為細末，用茶清或乳香煎湯調下，不拘時服。</p>
<p>綠霞散　治小兒風熱，身如火炭，發則多啼。</p>
<p>柏葉（半兩）　全蠍　鬱金　殭蠶（炒，去嘴，粉）　雄黃（各一錢）　南星（姜砂制）</p>
<p>生犀丸　解散風熱，清心肺，利咽喉。</p>
<p>犀角　真珠　防風　天竺黃　茯神（各二錢）　大黃（焙）　甘草（炙，各二錢）　硃砂（火□，一錢）　羌活</p>
<p>上為末，煉蜜丸，如黃石大，用薄荷湯研化，入麥門冬，去心，不拘時候服。冬至、立夏前宜服。</p>
<p>清解散　治小兒感風發熱。</p>
<p>北參　防風　天麻　北前胡　茯苓　北桔梗　枳殼　甘草（各一錢）　細辛　柴胡（各一錢半）　川芎（三錢）</p>

<h4>治血熱之劑</h4>
<p>六合湯　治小兒血熱，每日巳午間發熱，遇夜則涼。</p>
<p>當歸　大黃　川芎　熟地黃</p>
<p>上為末，三歲一錢，水半盞，煎至三分，無時服。</p>
<p>豬膽丸　治小兒每日半膳後發熱，夜則身涼，此血熱也。</p>
<p>胡黃連（二錢半）　宣黃連　赤芍藥（各半兩）</p>
<p>上為末，豬膽汁和成劑，入在臍中，懸，用漿水煮熟，取出飯為丸，如豆大。三歲三十丸，米湯送下，日三服，無時。</p>

<h4>治疹熱之劑</h4>
<p>升麻葛根湯　治小兒瘡疹發熱。</p>
<p>升麻　葛根　芍藥　甘草</p>
<p>上，水一鍾，姜三片，煎服。</p>
<p>參蘇飲　治小兒瘡疹發熱。</p>
<p>人參　半夏　茯苓　甘草　桔梗　枳殼　乾葛　前胡　木香　紫蘇　陳皮</p>
<p>上，水一鍾，姜三片，棗一枚，煎服。</p>

<h2>三、瘧疾門</h2>

<h3>脈法</h3>
<p>《要略》云：瘧脈自弦。浮數者多熱，弦遲者名寒。弦小緊者，下之；弦遲者，可溫之；弦緊者，可發汗；浮大者，可吐之；弦數者，風熱也，以飲食消息止之。《脈經》云：瘧脈自弦，微則為虛，代散則死。</p>

<h3>瘧論</h3>
<p>《內經》曰：夏傷於暑，秋必痎瘧。蓋傷之淺者，近而暴；傷之重者，遠而為痎瘧者，久瘧也，是知夏傷暑氣，閉而不能發泄於外，邪氣內行，至秋而為瘧也。良由乳母抱持，解脫不避風寒，又因觸冒暑溫，致令邪氣客於皮膚，痰飲積於臟腑，陰陽偏勝，邪正相攻而作往來寒熱也。若陽盛則熱，陰盛則寒。先寒而後熱者，陽不足也；先熱而後寒者，陰不足也。寒多而熱少者，陰勝陽也；熱多而寒少者，陽勝陰也。寒熱相半，陰陽交攻也；寒熱相間，陰陽爭離也。大抵小兒皆自飲食上得之者為多，須用先與消導，然後隨其得病所由。</p>

<h3>瘧疾灸法</h3>
<p>小兒瘧疾，灸大椎、百會，各隨年壯，然百會在髮際上五寸。</p>
<p>小兒久瘧不愈，灸足大指、次指外間陷中，各一壯，名內庭穴也。</p>

<h3>瘧疾諸方</h3>
<p>白虎加桂湯　治小兒瘧疾發渴。</p>
<p>石膏　知母　甘草</p>
<p>上水一盞，粳米一撮，煎服。</p>
<p>小柴胡湯　治小兒瘧疾，寒熱往來。</p>
<p>人參　半夏　柴胡　黃芩　甘草</p>
<p>上銼散，水一盞，姜三片，棗一枚，煎服。</p>
<p>清脾湯　治小兒瘧疾，作浮腫，兼有寒熱不退，飲食不進。</p>
<p>白朮　茯苓　厚朴　青皮　陳皮　半夏　大腹皮　檳榔　三稜　蓬朮　木通　甘草</p>
<p>上銼散，水一盞，每服三錢，姜煎。</p>
<p>養胃湯　治小兒外感風寒，內傷生冷。溫中快膈，能闢山嵐瘴氣，寒瘧，脾胃虛寒，逆，噁心，並宜服之。</p>
<p>蒼朮　厚朴　半夏　藿香　草果　人參　茯苓　甘草　陳皮</p>
<p>上銼散，每服三錢，棗子一枚，烏梅一個，煎，食前熱服。</p>
<p>大柴胡湯</p>
<p>柴胡　黃芩　大黃　半夏　枳實　芍藥</p>
<p>上銼散，水一盞，姜三片，棗一枚，煎服。</p>

<h2>四、痢疾門</h2>

<h3>赤白痢論</h3>
<p>小兒八痢者，乃飢飽、勞役、風驚、暑濕，因觸冒天地八風之邪而得，故以命名也。大抵多由脾胃不和，飲食過度，停積於脾胃，不能克化，又為風寒暑濕之氣干之，故為此疾。傷熱則赤，傷冷則白，傷風則純下清血，傷濕則下如豆汁，冷熱交併則赤白兼下。若下迫後重裡急，窘迫急痛者，火性急速而能燥物故也。或夏末秋初，忽有暴傷，折於盛熱，無所發散，客搏肌膚之中，發於外則為瘧，發於內則為痢，內外俱發則為瘧痢。凡痢久則令腫滿，下焦偏冷，上焦熱結，則為上實下虛。若脾胃濕熱之毒，熏蒸清道而上，以致胃口閉塞而禁口之證，又有一方。一家之內，上下傳染，長幼相似，是疫毒痢也，當先推其歲運以平其外，察其鬱結以調其內，審其所傷，別其虛實冷熱以治之。條然明白，不敢妄投也。</p>

<h3>諸痢大法</h3>
<p>《病機機要》云：後重則宜下，腹痛則宜和，身重則除濕，脈弦則去風。膿血稠黏，以重劑竭之；身冷自汗，以毒藥溫之；風邪內縮，宜汗之；鶩溏為痢，當溫之。又云：在外者發之，在裡者下之，在上者湧之，在下者竭之，身表熱者內疏之，小便澀者分利之。又曰：盛者利之，去者送之，至者止之。兵法曰：避其銳氣，擊其墮歸，此之謂也。《秘藏》云：假令傷寒冷之物，脹滿而傳飧泄者，宜溫熱之劑以消導之；傷濕熱之物而成膿血者，宜苦寒之劑以內疏之；風邪下陷者，升舉之；濕氣內勝者，分利之；裡急者，下之；後重者，調之；腹痛者，和之；洞瀉腹鳴，無力不及拈衣，其脈細而弱者，濕之；膿血稠黏，至圊而不能便，其脈洪大而有力者，寒之，下之。</p>
<p>按：人之飲食過傷，恣食辛熱寒冷之物，皆能致傷腸胃。腸胃一傷，不能運化傳送，遂蓄停滯而為痢。《經》曰：飲食不節，起居不時者，陰受之。陰受之則入五臟，填滿閉塞，不為飧泄，久為傷癖是也。治法當先化食毒，或可攻伐，然後隨寒熱溫涼以調之。</p>

<h3>下痢灸法</h3>
<p>黃帝云：小兒疳痢脫肛，體瘦渴飲，形容憔悴，諸醫治不差，灸尾椎骨上三寸骨間，三壯。岐伯曰：兼三伏內，用桃柳枝煎洗。兒午時當日灸之，後用青綿拭，當有蟲隨汗而出，此神妙法也。</p>
<p>小兒秋涼，冷痢不止，灸臍下□三寸，門動脈中是穴，各灸三壯。</p>
<p>小兒脫肛瀉血，每廁，臟腑撮痛不可忍，灸百會一穴，三壯，取法：在頭中心陷者是穴。又灸接脊一穴，取法：在十二椎下節間是穴。</p>
<p>小兒脫肛瀉，秋深不效，灸龜尾穴，一壯。取法：在脊端窮骨。</p>

<h3>痢疾諸方</h3>
<p>小香連丸　治小兒冷熱腹痛，利下水穀。</p>
<p>木香　訶子肉（各一分）　黃連</p>
<p>上為末，飯丸綠豆大，米飲下十丸至三四十丸，頓服之。</p>
<p>地榆散　治小兒赤痢，因大腸停積熱毒得之，或點滴鮮紅。</p>
<p>上為末，每服一錢，米湯調下。加黃連、枳殼、赤芍藥。一方去甘草，加厚朴，木瓜湯下。</p>
<p>敗毒散　治疫毒痢，一方一家長幼相似者。</p>
<p>前胡　柴胡　桔梗　甘草　芎藭　茯苓　羌活　獨活　人參　枳殼</p>
<p>上，水一鍾，姜三片，棗一枚，加陳皮、陳米煎，一服。</p>
<p>小連丸　治小兒瀉痢赤白，脾胃虛弱，糟粕不聚，腹脹不食，時作陣痛，煩渴身熱。</p>
<p>黃連（三兩）　乾薑（炮，一分）　當歸　阿膠（炒為珠，煎為膏。各一兩半）</p>
<p>上三味為末，以阿膠膏為丸，如小豆大。三歲三十丸，米湯化下，食前服之。</p>

<h2>五、吐瀉門</h2>

<h3>論小兒吐瀉宜暫斷乳</h3>
<p>鄭氏曰：小兒吐瀉，因外傷風冷，內傷乳食，或兒啼未定，氣息未調，以乳飼之，氣逆於上，則停滯胸膈，致令嘔吐；氣逆於下，則傷脾胃，致令泄瀉；上下氣逆，吐瀉俱作。吐瀉，凡小兒□□不瀉者，逆其吐必有痰，發驚者，十無一生。若只瀉不吐，或吐瀉俱發者，日久不退，亦變陰癇，治之當暫斷其乳。輕者周時，重者三日，宜頻與稀粥，服藥速效，十全八九。或者不信是言，以小兒籍乳為命，不肯暫斷，然乳固不可斷也，殊不知因乳所傷得之者，若再以所傷之乳乳之，如抱薪救火，藥何功之有？其間有不斷服藥得安者，蓋輕患也。亦有因輕致重，夭枉者多矣！</p>
<p>按：《活幼心書》云：小兒吐瀉不止，大要節乳，徐徐用藥，調治必安。節者，擲節之義。一日但三次或五次，每日乳時，不可過飽，其吐自減，及間以稀粥投之，亦能和胃。屢見不明此理，惟欲進藥，以求速效，動輒斷乳三四日，致餒甚而胃虛，啼聲不已，反激他證。蓋人以食為命，孩非乳不活，豈容全斷其乳？然乳即血也，血屬陰，其性冷，吐多胃弱，故節之。醫者切須知此，乳母亦宜服和氣血、調脾胃等藥。愚意不若兒大能食者，全斷之，待其平復；兒小不能飲食者，但節之，可也。</p>

<h4>錢仲陽吐瀉治法</h4>
<p>夏至後十日吐瀉，身壯熱，此熱也，蓋小兒臟腑十分中九分熱也，或因傷熱，乳食不消，瀉深黃色，玉露散主之。大暑節後吐瀉，身溫似熱，臟腑中六分熱、四分冷也，嘔吐，乳食不消，瀉黃白色，似渴，或食乳，或不食乳，食前少服益黃散，食後少服玉露散。立秋後七日吐瀉，身溫，臟腑中三分熱、七分冷也，不能食乳，多睡，悶亂，哽氣，長出氣，睡露睛，唇白，多噦，欲大便，不渴，食前多服益黃散，食後少服玉露散。秋分後吐瀉，身冷無陽也，不能食乳，乾噦，瀉清水，當補脾，益黃散主之，不可下也。有因傷風吐瀉，身溫乍涼乍熱，睡多氣粗，大便黃白色，嘔吐，乳食不消，時咳嗽，更有五臟兼見證，當煎入君臣藥，先用大青膏，後服益黃散，如先曾下或無下證，慎不可下也，此乃脾肺受寒，不能入食也。有因傷風吐瀉，身熱多睡，能食悶亂，飲水不止，吐痰，大便黃水，此為胃虛熱渴吐瀉也，當生胃中津液，以止其渴，止後用發散。止渴多服白朮散，發散用大青膏。有因傷風吐瀉，身涼吐沫，瀉青白色，悶亂不渴，哽氣，長出氣，昏睡露睛，此傷風。《荏莆經》曰：輕怯因成吐瀉，當補脾後發散，補脾益黃散，發散大青膏主之。此二病多證，多於春秋也。</p>

<h4>諸吐治法</h4>
<p>小兒嘔吐，難以概舉，有冷吐、熱吐、積吐、傷乳吐。朱奉議以半夏、生薑為主。亦有食滯心肺之分，而邪食不得下，而反吐者。</p>
<p>冷吐者，乳片不消，多吐而少出，脈息沉微，面白眼慢，氣緩神昏，額上汗出，此因風寒入胃，或食生冷，或傷宿乳，胃虛不納而出，宜溫胃，去風寒，除宿冷，宜理中湯、定吐飲。如諸藥不效者，以參香飲治之。</p>
<p>熱吐者，面赤唇紅，吐少而出多，乳片消而色黃，遍體熱甚，或因暑氣在胃，或食熱物，精神不慢而多煩躁，此熱吐也，宜去桂五苓散及香薷飲治之。</p>
<p>積吐者，眼胞浮，面微黃，足冷肚熱，晝輕夜重，兒大者脈沉緩，此宿冷滯脾故。吐黃酸水，或有清痰，脈實而滑，為食積所傷，吐酸餿氣，或宿食並出，兒小哯乳不化者是也，以烏犀散主之。</p>
<p>傷乳吐者，才哺乳後即吐，或少停而吐，此因乳食無度，脾氣弱，不能運化，故有此證，譬如小器盛物，滿則溢，更當節乳，投三稜散治之。</p>

<h4>諸瀉治法</h4>
<p>泄瀉之源，有寒瀉、熱瀉、傷食瀉、暑瀉，種種不同，各分於後。</p>
<p>寒瀉者，乃寒氣在腹，攻刺非痛，洞下青水，腹內雷鳴，米飲不下，宜理中湯。如四肢厥冷寒極者，加附子、官桂之類。</p>
<p>熱瀉者，糞色黃赤，肛門焦痛，小便不利，心煩口燥，食乳必粗，宜五苓散，吞下香連丸。</p>
<p>傷食瀉者，因飲食過多，有傷脾氣，遂成泄瀉，故大便不聚，臭如敗卵，宜理中湯加砂仁半錢，或下積丸。有因傷面而瀉者，養胃湯加蘿蔔子炒研半錢。痛者，更加木香三分；瀉甚者，去藿香，加炮姜三分。</p>
<p>暑瀉者，因中暑熱，宜胃苓湯，或五苓散加車前子末少許，甚效。或六和湯亦好。</p>

<h3>吐瀉灸法</h3>
<p>小兒嘔吐奶汁，灸中庭一穴一壯。取法：在膻中穴下一寸，陷中是穴。</p>

<h3>吐瀉諸方</h3>
<p>玉露散　治小兒傷熱，吐瀉黃色。</p>
<p>石膏　寒水石（各半兩）　甘草（生，一錢）</p>
<p>上同為末，每服一字或半錢，食後溫湯調下。</p>
<p>益黃散　治吐瀉，脾虛冷。</p>
<p>陳皮　青皮　訶子肉　甘草（炙。各五錢）　丁香（二錢）</p>
<p>上為末，每服二錢，水一盞，煎六分，食前溫服。</p>
<p>白朮散</p>
<p>人參　白朮　藿香　木香　乾葛　茯苓　甘草</p>
<p>上，水一鍾，姜三片，煎服。</p>
<p>豆蔻香連丸　治泄瀉，不拘寒熱赤白，陰陽不調，腹痛腹鳴立可。</p>
<p>黃連（三分）　肉豆蔻（煨，去油）　南木香（各一錢）</p>
<p>上為末，粟米飯丸，綠豆大或黍米大，每服十丸至二三十丸，食前米飲下，日夜各四五服。</p>
<p>理中丸　治吐利不止，米穀不化，手足厥冷。</p>
<p>人參　白朮　乾薑　甘草（炙。各等分）</p>
<p>上為末，麵糊為丸，綠豆大，每服十丸，米飲下，或一二十丸不拘時候。</p>
<p>消積丸　治小兒吐瀉，大便酸臭。</p>
<p>木香（九個）　砂仁（十二個）　巴豆（二個）　烏梅肉（二個）</p>
<p>上為末，麵糊丸，綠豆大，溫水送下。</p>
<p>五苓散　治小兒霍亂吐瀉，燥渴飲水。一小便不利。</p>
<p>豬苓　澤瀉　官桂　赤茯苓　白朮（各三錢）</p>
<p>香薷飲　治春夏秋臟腑冷熱不調，飲食不節，吐，痢，心腹痛疼，發熱煩悶。</p>
<p>香薷（三兩）　白扁豆　厚朴（各一兩半）　生甘草（一兩）</p>
<p>上銼，每服二錢，水一盞，煎服。</p>
<p>三稜散　治小兒尿白，久而成疳。此藥實脾土，消食化積。</p>
<p>三稜　蓬朮　益智仁　甘草　神麯（炒）　麥芽（炒）　陳皮（各半兩）</p>
<p>治中湯</p>
<p>人參　白朮　乾薑　甘草　橘皮</p>
<p>上，水一盞，溫服。</p>
<p>養胃湯</p>
<p>人參　半夏　陳皮　甘草　茯苓　蒼朮　厚朴　藿香　草果（等分）</p>
<p>上，水一盞，生薑三片，棗一枚，煎，溫服。</p>
<p>六和湯</p>
<p>砂仁　半夏　杏仁　人參　甘草（炙。各一兩）　赤茯苓　藿香　扁豆（炒）　木瓜（各二兩）</p>
<p>上為末，每服三錢，水一盞，生薑三片，棗一枚，煎，食前溫服。</p>
<p>胃苓湯</p>
<p>豬苓　澤瀉　白朮　茯苓　蒼朮　厚朴　甘草　陳皮　官桂</p>
<p>上水一盞，生薑三片，煎服。</p>
<p>定吐飲　治吐逆，投諸藥不止，用此神效。</p>
<p>半夏（二兩）　生薑（二兩）　桂（三兩）</p>
<p>上生薑切作小方塊，如綠豆大，用半夏和勻，入小鐺內，慢火順手炒，令香熟帶干，方下桂，再炒勻，微有香氣，以皮紙攤成地上，出火毒，候冷，略播去黑焦末。每服二錢，水一盞，姜三片，煎服。</p>
<p>彭用光曰：凡為父母者，要知嬰孩臟腑嫩脆，乳食宜節，不宜過飽，致傷脾胃。乳母睡時，不可令孩含乳口中，恐不知飽足，致生嘔吐、泄瀉諸疾。如遇此病，只是節乳，一日三五次。今見世人不知此理，未病之前，則過傷乳食；既病之際，則終日斷乳，且幼孩以乳為生養之本，豈宜全斷，以致飢餒難堪？故出此說於嘔吐門之末，宜知節乳為第一方也。</p>

<h2>六、咳嗽門</h2>

<h3>脈法</h3>
<p>《脈經》曰：關上脈微為咳。脈浮緩者為傷風。脈緊者肺寒咳。脈浮直者生。脈軟者生。</p>

<h3>咳嗽治法</h3>
<p>錢氏曰：嗽者，肺感微寒。八九月肺氣大旺，病嗽者，其病必實，非久病也，其證面赤，痰盛，身熱，法當以葶藶丸。天下若久者，不可下也。十一、十二月嗽者，傷風嗽也，風從背脊第三椎肺俞穴入也，以麻黃湯汗之。有熱證面赤，便水涎熱，咽喉不利者，甘桔湯治之。若五七日之間，其身熱痰盛，涕唾稠黏者，以褊銀丸下之。其肺盛者，咳而面腫，欲飲水者，有不飲水者，其身即熱，以瀉白散散之。若傷寒咳嗽五七日，無熱證而但嗽者，亦葶藶丸主之，後用化痰藥。而肺虛者，咳而哽氣，時時長出氣，喉中有聲，此久病也，以阿膠散補之。痰盛者，先實脾，後以褊銀丸下之，涎退即補肺，如上法。有嗽而吐水或青綠水者，以百祥丸下之。有嗽而吐痰涎乳食者，以白餅子下之。有嗽而痰，咳膿血者，乃肺熱，食後服甘桔湯。久嗽者，肺亡津液，阿膠散補之。咳而痰，食不甚，喘而面赤，時飲水者，褊銀丸下之。治嗽大法：盛即下之，久則補之，更量虛實，以意增減。</p>

<h3>咳嗽灸法</h3>
<p>小兒咳嗽，久不差，灸肺俞五壯。在第三椎下，兩旁各一寸半。</p>

<h3>咳嗽諸方</h3>
<p>瀉白飲　治咳嗽而後喘，面腫身熱。</p>
<p>桑白皮（炒黃，一兩）　甘草（炒，半兩）　地骨皮（去土，一兩）</p>
<p>上件，每服一二錢，水一盞，入糯米百粒，水煎，溫服。</p>
<p>甘桔湯　治涎熱，咽喉不利。</p>
<p>甘草（二兩）　桔梗（二兩）</p>
<p>上為末，每服二大錢，水一盞，入阿膠半錢，炒過，煎，溫服。</p>
<p>白餅子　治腹中有癖，但乳嗽而吐痰涎。</p>
<p>滑石　輕粉　半夏　南星（各一錢）　巴豆（二十四個，去皮，水一升煎，水盡為度）</p>
<p>上研勻，巴豆後入，眾藥以糯米為丸，綠豆大，捏作餅子。三歲已上五餅子，以下三餅子，煎，蔥白湯下，臨臥服。</p>
<p>百部丸　治小兒肺寒壅嗽，微喘。</p>
<p>百部　麻黃（各三錢）　杏仁（四十個，去皮尖，以水略煮）</p>
<p>上和勻，熟客丸，皂子大，溫水下二三丸。</p>
<p>葶藶丸　治乳食沖脾，傷風咳嗽，面赤身熱，痰盛喘促者。</p>
<p>甜葶藶（去土，炒）　黑牽牛（炒）　杏仁（去皮尖，炒黃，別研）　漢防己（各一兩）</p>
<p>上為末，入杏仁膏蒸，陳棗肉和搗為劑，丸如麻子大，每服五丸至七丸，淡生薑湯下，乳食後或臨臥服，量兒加減。</p>
<p>褊銀丸　治風涎，瀉實上熱，及乳食不消、腹脹、痰喘等疾。</p>
<p>巴豆（去皮、心、油）　水銀（各半兩）　好墨（二錢半，同水銀結沙子）　黑鉛（二錢半，同水銀結沙子）　麝香（半錢，研）</p>
<p>上將巴豆、黑鉛研勻，和入砂子、麝香，陳米糊丸，綠豆大，捻扁。一歲一丸，五歲已上五六丸，薄荷湯放冷，送下，不得化□，更量虛實增減，食後服。</p>
<p>阿膠散　治小兒久嗽，無津液。</p>
<p>明阿膠（一兩半，麵炒）　黍黏子（一分，炒）　馬兜鈴（半兩）　甘草（一錢，炒）　杏仁（七個，去皮）　糯米（一兩）</p>
<p>上為末，每服一字或一錢，水一盞，煎六分，食後溫服。</p>

<h2>七、斑疹門</h2>

<h3>論斑疹之由</h3>
<p>潔古云：斑疹之病，其為證各異。瘡焮腫於外者，屬少陽相火也，謂之斑。小紅靨，行皮膚之中，不出者，屬少陰君火也，謂之疹。凡顯斑證，若自吐瀉者，慎勿亂治而多吉，謂毒氣上下皆出也。斑疹並出，小兒難禁，是以別生他證也，首尾不可下。大抵安里之藥多，發表之藥少。秘則漸疏，令邪氣不壅，並而能作番次便，兒易禁也。身溫暖者順，身涼者逆。《略例》云：傷風陽證發斑有四，惟溫毒發斑至重，斑斑而如錦文，或發之面部，或發之背部，或發之四表。紅赤者，為胃熱也；紫黑者，為胃爛也。一則下之早，一則下之晚，乃外感熱者發斑也。陰證發斑，多出胸背，或出手足，亦稀少而水紅。若作熱證，投之涼藥，大誤矣！此無根失守之火，聚於胸中，上獨熏肺，傳於皮膚而為斑點，但如蚊蚋蚤蝨所咬形狀，而非錦文也。陳無擇云：醫論癮疹，無不謂是。皮膚風熱，既分冷熱，冷熱即寒暑之症，又有因浴起湊風冷而得之者，豈非濕也？則知四氣備矣。經分諸瘡，實熱則痛，虛寒則癢。又脾明主肌肉，屬胃與大腸，亦有冷熱，分痛癢，不可不審。世人呼白者為婆膜，赤者為血風，名義混淆，當以理曉察。</p>

<h3>斑疹治法</h3>
<p>陳無擇云：傷寒斑者，蓋不當下而下之，熱則乘虛入胃；當下而失下，則胃熱不得泄，二者皆絕。發斑其狀，錦繡赤者易治，黑者難治，蓋熱毒入胃深也。如溫毒發斑，當服玄參、升麻、白虎等藥主之；陰證發斑，宜調中溫胃，加以芍藥、鄙香，以大建中之類，其火自下，其斑自退，可謂治本而不治標也。疹屬熱與痰在肺，宜清肺火，降痰，或解散出汗，亦有可下者。癮疹多屬脾，隱隱然在皮膚之間，故言隱疹也。發而多癢，或不仁者，是兼風、兼濕之殊；色紅者，兼火化也，亦有內中寒而發斑也。按：《略例》云：完顏小將軍病寒熱間作，有斑三五點，鼻中微血出，兩手脈沉澀，胸膈四肢按之殊無大熱，此內傷寒也，問之，因暑臥殿角傷風，又渴飲水酪冰，此外感者輕，內傷者重，從內病俱為陰也，故先斑衄，後顯內陰，寒熱間作，脾寒有之，非往來少陽之寒熱也，與調中湯數服而愈。</p>

<h3>斑疹諸方</h3>
<p>元戎葛根湯　治斑在肌膚，冬溫始發，肌中斑爛，咳而心悶，但嘔清汁。</p>
<p>葛根　橘皮　杏仁　知母　黃芩　甘草　麻黃</p>
<p>上等分，水一盞，煎六分，溫服。</p>
<p>陽毒升麻湯　治斑在面，傷寒一二日，或吐後下，變成陽毒，腰背痛，煩悶不安，面赤，狂言見鬼，下痢，脈浮大，咽痛。</p>
<p>升麻（五錢）　犀角　黃芩　人參　射干　甘草（各二錢半）</p>
<p>上㕮咀，水煎取半盞，刻許再進，溫覆手足，得汗出即解。</p>
<p>玄參湯　治斑在身，汗吐後，毒不散，表虛里實，發於外，甚則煩躁譫語。</p>
<p>玄參　升麻　甘草（等分）</p>
<p>陽毒梔子湯　治小兒傷寒壯熱，百節疼痛而發斑。</p>
<p>升麻　梔子仁　黃芩　芍藥　石膏　知母　杏仁　柴胡　甘草</p>
<p>上粗末，每服三錢，入姜三片，豉五十粒，煎服。</p>
<p>消毒犀角飲子　治小兒斑及癮疹。</p>
<p>牛蒡子（六錢）　荊芥　防風（各二錢）　甘草</p>
<p>上㕮咀，水煎服。</p>
<p>解毒防風湯　治斑及癮疹癢痛。</p>
<p>防風（半兩）　地骨皮　黃芩　芍藥　荊芥　枳殼　牛蒡子（各三錢）</p>
<p>上為粗末，每服二錢，水煎服。</p>
<p>陰毒升麻鱉甲湯　治小兒陰斑。</p>
<p>升麻　當歸　甘草　蜀椒　鱉甲</p>
<p>上為末，每服三錢，水煎服。</p>
<p>三因加味羌活湯　治小兒感四時所傳，肌膚髮為癮疹。</p>
<p>羌活　前胡　人參　桔梗　甘草　枳殼　川芎　天麻　茯苓　蟬蛻　薄荷（等分）</p>
<p>上㕮咀，搗為末，每服三大錢，姜三片，煎服。</p>
<p>調中湯　治內傷外感而發陰斑。</p>
<p>蒼朮（一錢半）　陳皮（一錢）　砂仁　藿香　芍藥（炒）　桔梗　甘草（炙）　半夏　白芷　羌活　枳殼（各一錢）　川芎（五分）　麻黃　桂枝</p>
<p>上㕮咀，姜三片，水煎服。</p>
<p>化斑湯　治小兒傷寒，汗吐下後，斑發脈虛。</p>
<p>白虎湯加人參，《守真類粹》再加白朮。</p>
<p>上㕮咀，時時煎服之。</p>
<p>當歸丸　治小兒傷寒斑見，無大熱，脈虛，秘悶。</p>
<p>當歸（半兩）　甘草（一分）　黃連　大黃（各二錢半）</p>
<p>上先將當歸熬膏，入此藥末三味，為丸，漸加至利為度。</p>

<h2>八、水腫門</h2>

<h3>脈法</h3>
<p>《脈經》云：水病，脈洪大者可治。微細者不可治。水病脹閉，其脈浮大軟者，生。沉細虛小者，死。水病腹大如鼓，實者生，虛者死。</p>

<h3>論水腫</h3>
<p>錢氏曰：腎熱傳於膀胱，熱盛逆於脾胃，脾虛而不能制腎，水反剋土，脾隨水行，脾主四肢，故流走而身面皆腫也。若大喘者，重也，何以然？腎水勝而克退脾土，上勝心火，又勝肺，肺為心克，故喘。或問：心刑肺，本見虛，今何喘實？曰：此有二，一者，肺大喘，此五臟逆；一者，腎水氣上行，傍侵於肺，故令大喘也，此皆為難治。丹溪云：惟腎虛不能行水，脾虛不能制水，胃與脾合，又胃為水穀之海，因虛而不能傳化焉。而腎水氾濫，反得以浸漬脾土，於是三焦停滯，經絡壅塞，水滲於皮膚，注於肌肉，而發腫也。其狀目胞上下微起，肢體重者，喘咳，怔忡，股間清冷，小便澀黃，皮薄而光，手按成窟，舉手即滿是也。古方有十種論證：以短氣不得臥為心水，兩脅緊痛為肝水，大便鴨溏為肺水，四肢苦重為脾水，腰痛足冷為腎水，口苦咽乾為膽水，下虛上實為大腸水，腹急之瘦為膀胱水，小便閉泄為胃水，小腹急滿為小腸水。諸家只知治溫，多利小便之說，執此一途，用諸去水之藥，往往多死。殊不知脾極虛損，雖劫目前，水氣復來，縮手待斃矣。</p>

<h3>水腫治法</h3>
<p>丹溪曰：水之為病不一。賈洛陽以病腫不治，必為痼疾，雖有扁鵲亦莫能為，則知腫之危惡，非他病比也。治水大法：宜補中行濕，利小便。而凡有熱者，水氣在表，可汗；身無熱者，水氣在裡，宜下。腰以下腫，宜利小便；腰已上腫，宜發汗，此仲景之要法也。若遍身腫，煩渴，小便赤澀，大便閉結，此屬陽水，先五皮散，次四磨飲加生枳殼，重則疏鑿飲。若遍身腫，不煩渴，大便溏，小便少，不澀赤，此屬陰水，宜實脾飲，或木香流氣飲主之。陽水病兼陽證者，脈必沉數；陰水病兼陰證者，脈必沉遲。氣若陷下，用二陳加升提之藥，能使大便潤而小便長。如腹脹，少加厚朴佐之；氣不運，加木香、木通以調之。又有小兒初中，便覺痰嗽喘急，正屬脾胃所主，宜先解表散，次投商陸丸。《內經》曰：開鬼門，潔淨府，正此謂也。</p>

<h3>水腫灸法</h3>
<p>小兒水氣腫及腹大，灸水分一穴，三壯。取法：在臍上一寸是穴。</p>

<h3>水腫諸方</h3>
<p>加味五皮飲　治小兒四肢腫滿，陽水、陰水皆可服之。</p>
<p>五加皮　地骨皮　生薑皮　大腹皮　茯苓皮（已上各一錢，內加薑黃一錢，木瓜）</p>
<p>上作一服，水煎服。一方去五加皮，用陳皮、桑皮。</p>
<p>疏鑿飲子　治水氣，通身浮腫，喘，呼氣急，煩渴，大小便不利，服熱藥不得者。</p>
<p>澤瀉　赤小豆（炒）　商陸　羌活　大腹皮　椒目　木通　秦艽　檳榔　茯苓皮（各等分）</p>
<p>上㕮咀，水煎，姜五片。</p>
<p>葶藶散　治小兒水氣腫滿。</p>
<p>甜葶藶　隔紙炒　黑牽牛　檳榔　大黃（各等分，煨）</p>
<p>大橘皮湯　治濕熱內攻，腹脹水腫，小便不利，大便滑泄。</p>
<p>陳皮（一兩半）　木香（三錢半）　滑石（六錢）　檳榔（三錢）　茯苓（一兩）　肉桂（各半兩）　豬苓　白朮　澤瀉　甘草（一錢）</p>
<p>上銼散，每服三錢，水一盞，煎服。</p>
<p>實脾散　治小兒陰水發腫，用此先實脾土。</p>
<p>厚朴（薑製）　白朮　木板　木香　乾薑（炮。各一兩）　草果仁　大腹皮　附子　白茯苓　甘草（炙。各半兩）</p>
<p>上㕮咀，每服三錢，入薑棗，水煎服。</p>
<p>消腫丸　治小兒水腫喘滿，小便不利。</p>
<p>滑石　木通　白朮　黑牽牛　通脫木　茯苓　茯神　半夏　陳皮（各一分）　木香　瞿麥穗　丁香（各半兩）</p>
<p>上為末，酒糊丸，梧桐子大，每服二十丸，燈心、麥門冬湯下。</p>

<h2>九、腹脹門</h2>

<h3>論小兒腹脹之由</h3>
<p>《內經》曰：諸腹脹大，皆屬於熱。又《針經》曰：夫脹者，皆在於臟腑之外。排臟腑而郭胸脅，脹滿皮膚，故命曰脹。或厥氣在下，榮衛留止，寒氣逆上，真邪相攻，兩氣相搏，乃合而為脹也。又《諷經篇》云：因飲食勞倦，損傷脾胃，始受執中，未傳寒中，皆由脾胃之氣虛實，不能運化精微而制水穀，聚而不散，而成脹滿，此寒濕鬱遏而脹也。大抵小兒多由飲食飢飽，生冷甜膩，聚結不散，或因久患疳積，及瘧後癖塊不消，皆能為脹，按之如鼓，膨脝者是也。故有疳脹、氣脹、膈脹、蟲脹、積脹、食脹、虛脹、冷脹、鎖肚脹，病名不同，宜各隨輕重盛衰主治，庶不差誤。</p>

<h3>腹脹治法</h3>
<p>錢氏云：治腹脹者，如行兵，戰寇於林，寇未出林，以兵攻之，必可獲寇；若出林，不可急攻，攻則必有失，當以意漸收之，即順也。又云：小兒腹脹，由脾胃虛，氣攻作也。實者，悶亂喘滿，可下之，用紫霜丸、白餅子；不喘者，虛也，不可下。若誤下致脾虛，氣上附肺，而行肺與脾，子母皆虛，肺主目胞腮之類，脾主四肢，母氣虛甚，主目胞腮腫也。色黃者，屬脾也，治之用塌氣丸漸消之，未愈漸加丸數，不可以丁香、木香、橘皮、豆蔻大溫散藥治之，使上下分消，其氣則愈也。若虛氣也，出附脾而行，即脾胃內弱，每生虛氣，入於四肢面目矣。小兒易為虛實，脾虛不受寒溫，服寒則生冷，服溫則生熱，當識此，勿誤也。胃久虛熱，多生疸病，或引飲不止，脾虛不能勝腎，隨肺之氣上行於四肢，若水狀，腎氣浸浮於肺，即大喘也，此當服塌氣丸。病愈後，面未紅者，虛衰未復故也。凡治小兒虛腹脹，光服塌氣丸不愈，腹中有食積結糞，小便黃，時微喘，脈伏而實，時飲水，能食者，可下之瘥。脾初虛而後有積，所治宜先補脾，然後下之，下後又補脾，即愈也。不可補肺，恐生虛氣耳！</p>

<h3>丹溪治腹脹大要</h3>
<p>小兒腹脹，蘿蔔子、紫蘇梗、乾葛、陳皮等分，甘草少許，煎服。食少，加白朮。一法用大蝦蟆一個，入豬肚內，煮熟，去蝦蟆，將肚食盡。若脈實人壯者，或可攻之，便可收拾，用白朮為主。如因有食積而腹脹者，有熱，用木香檳榔丸；有寒，用木香、厚朴、丁香、砂仁、神麯、香附；有食肉，多腹脹，三補丸料內加香附、半夏曲，蒸餅丸；腹實者，按之不堅不痛，宜下之消之，次補之；虛者，溫之升之，補為要。厚朴治腹脹，因味辛，以氣聚於下焦故也，須用薑製之。</p>

<h3>腹脹諸方</h3>
<p>中滿分消丸　治中滿，鼓脹水水，眼大，熱脹並宜治之。</p>
<p>黃芩　枳實（炒，二錢）　半夏（各三錢）　黃連（三錢）　薑黃　白朮　人參　甘草　豬苓（各一錢）　厚朴（制，五錢）　茯苓　砂仁（各二錢）　澤瀉　陳皮（各三錢）　乾生薑（二錢）　知母（三錢）</p>
<p>上為末，水浸，蒸餅子，丸如桐子大，每服三十丸，焙熱，白湯食後服。寒因熱用，故焙之。</p>
<p>檳榔丸　治小兒疳氣，腹脹，胸膈痞悶，喘急不安。</p>
<p>青皮（去穰，用巴豆炒黃色，去巴豆）　檳榔　蘿蔔子　香附子　木香　黑牽牛</p>
<p>上為末，姜糊丸如粟米大，每服十丸，米飲下。</p>
<p>三稜丸　治小兒停積，腹脅脹滿，乾嘔噁心，全不入食。</p>
<p>三稜（煨）　木香　神麯（炒）　陳皮（各一兩）　丁香（半兩）　半夏（薑汁製，一兩）　桂心（半兩）</p>
<p>上為末，麵糊丸，粟米大。乳食後，生薑下二十丸。</p>
<p>分氣散　治小兒腫脹作喘，氣短而急。</p>
<p>北梗　赤茯苓　陳皮　桑白皮　大腹皮　枳殼（制）　半夏曲　真蘇子（炒）　紫蘇　甘草（炙。各二錢）</p>
<p>上銼，每服一錢，水小盞，姜三片，棗二枚，煎半服。</p>

<h2>十、風癇門</h2>

<h3>論三癇</h3>
<p>《千金》云：小兒之癇有三，風癇、驚癇、食癇也。風癇緣衣暖汗出，風因入也，初時先屈指，如數物，乃作；驚癇起於驚怖、犬啼乃作；食癇，其先不哺乳，吐而變熱，後發熱。風癇、驚癇時時有之，十兒之中未有一二。凡是先寒後熱者，皆食也。驚癇皆按圖灸之，風癇當以豬心湯，食癇當下乃愈，紫霜丸佳。</p>

<h3>論五癇</h3>
<p>《三因》云：古方有五癇、五臟癇、六畜癇等名，證不同，難於備載。《別錄》有五癇之證：一曰馬癇，作馬鳴，以馬屬在午，手少陰君火主之，故其病應於心；二曰羊癇，作羊叫聲，以羊屬未，足太陰濕土主之，應乎脾；三曰雞癇，作雞叫聲，以雞屬酉，足陽明燥金主之，應乎肺；四曰豬癇，作豬叫聲，以豬屬亥，手厥陰心包主之，應乎右腎；五曰牛癇，作牛吼聲，以牛屬醜，手太陰濕土主之，應乎脾。此五癇應乎五畜，應乎五臟者也。發則旋暈顛倒，口眼相引，目睛上搖，手足搐搦，背脊強直，食頃乃蘇，各隨所感，施以治法。</p>

<h3>論癇治法</h3>
<p>仁齋曰：小兒之惡候也，蓋小兒血脈不斂，氣骨不聚，為風邪所觸，為乳哺失節，停結癖積而得之。其候神氣拂鬱，瞪眼直視，面目牽引，口噤涎流，腹肚脹脝，手足搐掣，似生似死，或聲或啞，或項背反張，或腰脊強直，但四體柔弱發而時醒者，為癇；若一身強硬，終日不醒，則為痓痓矣。大概血滯心竅，邪氣在心，積驚成癇。通行心經，調平血脈，順氣豁痰，乃其要也。假令小兒有熱有痰，不欲乳哺，眠睡不安，常常驚悸，此皆發癇之漸，即以紫霜丸導之，時間量與紫霜丸，減其盛氣，則無驚風癇瘹之患。癇證方萌，耳後高骨間必有青紋，紛紛如線，見之則為爪破，須令出血。啼叫尤得氣通，諸癇發不能言者，蓋咽喉為氣之道路，風傷其氣，以掩聲音道路之門，抑亦血滯於心，心竅不通所致耳。南星炮為末，雄豬膽汁調和少許，啖之，輒效。若夫錢氏五癇丸並南星散，以菖蒲煎湯調下，甘遂豬心湯和蘇合香丸一丸，皆治癇之要藥也。</p>

<h3>風癇灸法</h3>
<p>小兒癲癇，驚風目眩，灸神庭一穴七壯，在鼻柱直上入髮際五分。</p>
<p>小兒豬癇，如噦吐清沫，灸巨闕穴三壯，在鳩尾下一寸，陷中是穴。</p>
<p>小兒雞癇善驚，及掣自搖，灸少陰二壯。取法：在掌後去腕半寸，陷中是穴。</p>
<p>小兒驚癇者，先驚叫乃發也，灸頂上旋毛中三壯，及耳後青絡脈，炷如小麥大。</p>
<p>小兒驚癇，灸鬼祿一穴三壯。取法：在上唇內中央弦上是穴。</p>
<p>小兒食癇者，先寒熱灑淅乃發也，灸鳩尾穴上五分三壯。</p>
<p>小兒牛癇，目視直，腹脹乃發也，灸鳩尾一穴三壯。取法：胞蔽骨下五分，陷中是穴。</p>
<p>小兒馬癇，張口搖頭，身折反馬鳴也，灸僕參穴各三壯。取法：在足跟骨下，白肉際陷中，拱取之是穴。</p>
<p>小兒羊癇，目閉吐舌，羊鳴也，灸第九椎下節間三五壯。</p>

<h3>風癇諸方</h3>
<p>紫霜丸</p>
<p>代赭石（醋淬七次）　赤石脂（各一兩）　杏仁（五十個，去皮尖）　巴豆（三十個，去皮、膜、心）</p>
<p>上先將杏仁、巴豆入乳缽內，細研如膏，卻入代赭石、赤脂末仁和勻，以湯浸，蒸餅丸，如粟米，一歲兒服五丸，米飲吞下。</p>
<p>龍膽安神丸</p>
<p>茯苓（三兩）　人參　地骨皮　甘草　麥門冬　桑白皮（各二兩）　馬牙硝（二錢）　龍腦　麝香（各三錢）　牛黃（半兩）　硃砂（二錢）　烏犀（一兩）　金箔（三十五片）</p>
<p>上為細末，煉蜜為丸，如彈子大，金箔為衣。如風癇，冬月溫水化下，夏月涼水化下，不以時。二三歲者，日進兩服；小□，一丸分二服。虛勞發熱咳嗽，新汲水下。</p>
<p>錢氏五色丸</p>
<p>硃砂（半兩）　水銀（一分）　雄黃（一兩，熬）　真珠子（一兩，研）　鉛（三兩，同水銀熬）</p>
<p>上為煉蜜，丸麻子大，每服三四丸，煎金銀薄荷湯下。</p>
<p>礬丹</p>
<p>虢丹　晉礬</p>
<p>上丹磚鑿一窠，可容一兩許，先安丹在下，次安礬在上，以炭五年煅，令炭盡，取出細研，以不經水豬心血為丸，如綠豆大，每服十丸至二十丸，橘皮湯。</p>
<p>元戎二白丸</p>
<p>白礬（一塊，約一兩）</p>
<p>上用生，蒸餅劑，裹蒸熱，去皮可，凡入輕粉一字或半錢，量虛實加減，丸桐子大，服二三十丸，生薑湯下，小兒丸小。</p>
<p>硃砂滾涎散　治小兒五癇。</p>
<p>硃砂　白礬（生用）　赤石脂　硝石（各等分）</p>
<p>上為細末，研蒜膏為丸，如綠豆大，每服三十丸，食後荊芥湯下。</p>
<p>控涎丸</p>
<p>川烏（生）　半夏（各半兩）　殭蠶（生薑汁浸一宿，半兩）　全蠍（去尖，七個）　鐵粉（三錢）　甘遂（二錢半）</p>
<p>上為末，生薑自然汁成薄糊，丸如綠豆大，硃砂為衣，每服十五丸，薑湯下。忌甘草。</p>
<p>利驚丸</p>
<p>青黛　輕粉（各一錢）　牽牛末（半兩）　天竺黃（二錢）</p>
<p>上為末，白糊為丸，如小豆大，二十丸薄荷湯下，一天一粒化下。</p>
<p>鎮心丸</p>
<p>硃砂　龍齒　牛黃（各一錢）　鐵粉　琥珀　人參　茯神　防風　全蠍（七個，炙）</p>
<p>上為末，燈心湯調下，三歲一字。</p>
<p>瀉青丸</p>
<p>龍膽草（焙）　梔子仁　大黃（濕紙煨）　羌活　防風（各一錢）　川芎（一錢）</p>
<p>上為末，煉蜜為丸，桐子大，每服一丸，煎竹葉薄荷湯調下。</p>
<p>五癇丸</p>
<p>硃砂（半兩）　水銀（一分）　鉛（三兩）　雄黃（一兩）　真珠（一兩）</p>
<p>上為末，煉蜜為丸，麻子仁大，每二丸，金銀煎湯下。</p>

<h2>十一、傷寒門</h2>

<h3>治傷寒用藥大略</h3>
<p>彭用光曰：凡證有頭疼惡寒，皆是傷寒，無則皆否也。何則？蓋傷寒則惡寒，傷食則惡食，理固然也。但在冬時惡寒為甚，蓋冬時為正傷寒，天氣嚴凝，風寒猛烈，觸冒之者，惡寒殊甚。其餘時月雖惡寒亦微，未若冬時之惡寒為甚也。冬時氣寒，腠理微密，非辛甘溫不可，故以桂枝等藥以治之。然風與寒常相因，寒則傷榮，惡寒頭痛，脈浮緊而無汗，則用麻黃湯，開發腠理以散邪，得汗即愈；風則傷衛，頭痛惡風，脈浮緩而自汗，則用桂枝湯，充塞腠理以散邪，汗止即愈。《經》云：甘辛發散為陽是也。若夫榮衛俱傷，又非此二湯所能治也，須大青龍湯，然此湯大峻，亦有何代之者？其非冬時，有惡寒頭痛之證，皆宜辛涼之劑，通表裡以和之，則愈矣。若以冬時所用桂枝辛溫之藥，而通治之，則殺人矣。曰：辛涼者，何？羌活沖和湯是也。兼能代大青龍湯為至穩，嗚呼！一湯可代三方，危險之藥如坦夷，其神乎哉！過此，則少陽、陽明二經在乎半表半裡，肌肉之間，脈亦不浮不沉。外證在陽明，則有目疼鼻乾，不得眠之證，脈似洪而長，以葛根解肌湯、升麻湯治之；在少陽，則胸脅痛而耳聾，脈見弦數，以小柴胡湯加減而和之，本方有加減法。此二經不從標本，從乎中也。余常以小柴胡湯加葛根、芍藥，治少陽陽明俱病而拾芥，過此不已，則傳陽明之本，為入里也，使作實熱治之，其外證悉罷，謂無頭痛惡寒，脈見沉實不浮，譫妄惡熱，六七日不大便，口燥咽乾而渴，輕則大柴胡湯，重則三承氣湯選用。或曰：邪既入里而作實，無非大黃苦寒之藥除下之，何則？用力之雜遝也。余曰：傳來非一，治之乃殊耳。病有三焦俱傷者，則痞滿燥實全俱，則宜大承氣湯，厚朴苦溫以去痞，枳實苦寒以瀉滿，芒硝鹹寒以潤燥軟堅，大黃苦寒以瀉實去熱，病斯愈矣。邪在中焦，則有燥實堅三證，故用調味承氣湯，以甘草和中，芒硝軟堅潤燥，大黃瀉實，不用枳實、厚朴以傷上焦。有大熱宜解毒，葛根湯、參蘇飲之類。湯氏曰：大凡小兒傷寒治法，周歲已前熱輕者，服惺惺散，周歲已後，急須解表，微汗為妙，須在一晝夜得熱退，方保無虞。今之醫士，多不表汗，致令五六日不除，入於經絡，摶於血氣，傳變多證，或生驚風，漸至危篤，傷生害命，可不慎乎！</p>

<h3>論小兒傷寒夾驚、夾食、瘡疹各異</h3>
<p>治足大陽經標熱，則合為發熱，又謂之拂拂而熱者，其熱在皮膚之上，如羽毛之所拂，明熱表必出頭露面，揚手擲足，掀衣氣粗，是為里證，宜疏利之大柴胡、四順飲、洗心散類。若頭額冷，手足涼，口氣冷，面色黯淡，瀉利青白，是謂陰證，宜與溫之，五積散、理中湯之類，重者四逆湯主之。夾驚者，因驚之時而又感寒邪，或因傷寒發熱，以至熱極生風，是熱乘於心，心主血脈，心神易動，為熱所乘，故發搐也，慎勿與治驚之劑，宜疏解之，王氏薄荷散、人參羌活散之類，甚者抱龍丸主之。夾食者，或先傷於寒，後傷於食，或先傷於食，後傷於寒，以致發熱氣粗，口中噯氣，肚熱腹脹，上熱下冷，或大便酸餿，並宜解散，次與消導，甚者推蕩之，先用敗毒散，後用藿香正氣散加神麯、麥芽、棠球子、砂仁、香附之類；內實者，加枳實、青皮；不解者，加軟苗柴胡、芩連之類。如不愈，以大柴湯下之；其瘡疹發熱，又與正受傷寒不同，但見腮赤煩躁，多嚏呵欠，頓悶悸動，昏倦，耳鼻尖冷，手足俱冷者是也。其傷寒發熱，自表達里，瘡疹發熱，從里出外，宜行溫平之劑，氤氳輕清之元氣調胃之名，於此立也。上焦受傷則痞而實，用小承氣湯，枳實、厚朴能除痞，大黃之瀉實，去芒硝則不傷血分之真陰，謂不伐其源也。若夫大柴胡湯，則表邪尚有，里證又急，不得不下，只得以此湯通表裡而緩治之。猶有老弱及氣血兩虛之人，不宜用此。三陽之邪在裡，為患三時，謂春夏秋也，不須頭痛惡寒而反渴者，此則溫病也。暑病亦然。此之溫病，則尤加熱也，治宜小柴胡湯。蓋此湯春可治溫，夏宜治暑，秋能潤燥；又宜葛根湯、升麻湯、解毒湯、敗毒散。中暑而渴者，柴胡石膏湯、人參白虎湯，看渴微甚而用，無不效。經曰：發熱不惡寒而渴者，溫病也。若夫陰證，則別有法，不在此例矣。</p>

<h3>傷寒陰毒灸法</h3>
<p>氣海穴在臍下一寸五分，石門穴在臍下二寸，關元穴在臍下三寸。已上三穴，治陰厥、脈微欲絕、囊縮遺尿、腹痛腹滿、腸鳴皆效。</p>
<p>陽陵泉二穴，在膝下一寸。易老曰：煩滿囊縮者，宜灸此穴。</p>
<p>凡脈微弦小，腹痛，厥陰也，宜灸歸來、關元各五壯。</p>
<p>凡脈沉，臍腹痛，少陰也，宜灸中脘五七壯。</p>

<h3>傷寒諸方</h3>
<p>麻黃湯　潛溪曰：凡小兒傷寒，則怕寒拘急，發熱合為二。然在表，晝夜不止，直待汗出方解。其惡寒，必偎人，藏身引衣，鼻塞多涕，是謂表證，宜微汗之解肌湯、蕭氏青龍湯、敗毒散之類。惡寒而內實者也，其脈浮數，或浮緊，或頭痛身痛，腰疼，骨節痛，惡風，無汗而喘者，以此湯汗之。</p>
<p>麻黃（三錢）　桂枝（二錢）　甘草（一錢）　杏仁（去皮尖，一錢半）</p>
<p>上，水一盞，生薑三片，棗子一枚，去上沫，濾清，乘熱服之，以衣被蓋暖，取汗漐漐，遍至手足心則止，不必再服之也。而須臾汗未出者，宜啜熱稀粥一盞，以助藥力，汗出則止。如又汗未出，再煎一劑與之，仍前溫覆取汗，若病重者，一日一夜服，周時觀之，若表證仍在者，須再作一劑煎。</p>
<p>羌活沖和湯　治太陽無汗，發熱頭痛，惡寒脊痛，脈浮緊。又治非冬時，天有暴寒中人，亦頭痛惡寒發熱，通宜此湯治之，以代麻黃湯用，太陽經之神藥也。</p>
<p>羌活（一錢半）　防風（一錢）　蒼朮（一錢半）　黃芩（一錢）　白芷（一錢）　甘草（一錢）　生地黃（一兩）　細辛（五分）　川芎（一錢）</p>
<p>上，水一鍾，煎六分，溫服。</p>
<p>解肌湯　治溫病天行，頭痛壯熱，春感青邪，發熱而渴，不惡寒。</p>
<p>葛根（一錢）　桂枝（一錢）　黃芩（半錢）　芍藥　麻黃（七分）　甘草（半錢）</p>
<p>上，水二鍾，棗一枚，煎服，以不解，再取汗。</p>
<p>小柴胡湯　太陽病十日已去，脈細而嗜臥，外已解，設胸滿痛，與服之。傷寒五六日，中風，來往寒熱，胸脅苦痛，默默，悸，欲食，心煩喜嘔，或胸膈煩而不嘔，或渴，或腹中痛，或脅下痞硬，或心下悸，小便不利，或不渴，身有微熱者，此湯主之。血弱氣盡，腠理開，邪氣因入，與正氣相搏，結於脅下，邪正分爭，往來寒熱，休作有時，臟腑相連，其痛必下，邪高補下，致使嘔也，此湯主之。傷寒五六日，身熱惡風，頭項強，脅下滿，手足溫而渴者，此湯主之。傷寒五六日，頭汗出，微惡寒，心下滿，不欲食，大便硬，脈細者，為陽微結，必有表，復有里，脈沉亦在裡也。汗出為陽微，假令純陰，結不得復，有外證悉入在裡，此為半在表，半在裡也，脈雖沉緊，不得為少陰病，所以然者，陰不得有汗也，今頭汗者，故知非少陰也，可與服此湯。設不了了，得屎而解。陽明病發潮熱，大便溏，小便少，胸膈滿者，與此湯服之。陽明病脅下硬滿，不大便而嘔者，舌上白胎者，可與服之，上焦得通，津液得下，胃氣因和，濈然汗出而解。陽明中風，脈弦浮大，短氣，腹部滿，脅下及心痛，久按之，氣不通，鼻乾，不得臥，一身及目悉黃，小便難，有潮熱，時時噦，身前後腫，刺之少瘥，外不解，病過十日，脈續浮者，此湯主之。已上屬陽明經太陽病不解，轉入少陽，脅下硬滿，乾嘔不能食，往來寒熱，尚未吐下，沉緊者，此湯主之。傷寒瘥後，更發熱，此湯主之。</p>
<p>柴胡（二兩）　黃芩　人參　甘草（炙。各七錢半）　半夏（一兩，泡）　大棗（六枚）</p>
<p>上銼散，每服三錢，水一盞，生薑二片，棗一枚，煎，溫服。</p>
<p>大柴胡湯　治陽明病外證，身熱汗出，而不惡寒，但惡熱，宜服之。陽明病，脈逆，發熱，頭眩，小便難，此欲發疸，必宜服之。陽明病，脅下硬滿，大便秘而嘔，口燥者，此湯主之。陽明病中風，其脈浮大，短氣心痛，鼻乾，嗜臥，不得汗，一身盡黃，小便難，有潮熱而噦，此湯主之。傷寒三日，少陽受病，口乾燥，目眩，宜服之。少陽病，脅下堅滿，乾嘔不食，往來寒熱，若未吐下，其脈沉緊，此湯主之。少陽病，若已吐下，發汗，譫語者，此湯主之。少陽中風，兩耳無所聞，目赤，胸中滿而煩，不可吐下，吐下則悸而驚，此湯主之。少陰病惡寒，時時自煩，不欲厚衣，此湯主之。少陰病，下利清水，色青者，心下必痛，口乾燥者，此湯主之。傷寒六日，陽脈澀，陰脈弦，常腹中急痛，此湯主之。傷寒六日，下之胸滿煩驚，小便不利，譫語，一身不可轉側，此湯主之。傷寒發熱，汗出不解，心不痞硬，嘔吐不利，此湯主之。傷寒十餘日，熱結在裡，往來寒熱，及陽明病汗出，譫語，腹中滿痛，並陽明少陰合病，不利，脈滑而數，此湯主之。傷寒六七日，目中不了了，睛不和，無表裡證，大便難，身微熱，此湯主之。傷寒七八日，脈浮數，病人煩熱，汗出解後，又如瘧狀，日晡發潮熱，脈滑者，宜服之。</p>
<p>大承氣湯　治陽明病不吐而煩者，宜服之。陽明病脈遲，雖汗出，不惡寒，體重，腹滿而喘，有潮熱，可攻其里，手足濈濈汗出，為大便已堅，宜服之。陽明病，其人多汗，津液外出，胃中乾燥，大便堅者，必譫語，宜服之。陽明病，發作有時，汗不解，腹脹痛，宜服之。陽明少陰合病，自利，脈浮者，順滑而數者，有宿食，宜服之。少陰病，口燥舌乾，宜服之。少陰病，脈細沉數，病在裡，不可發汗，宜服之。少陰腹滿，不大便者，宜服之。</p>
<p>大黃（半兩，微炒）　厚朴（一兩，制）　枳實（一個，麩炒）　芒硝（半兩）</p>
<p>上為飲子，白水煎，臨熟入芒硝，再沸去滓，加減服。</p>
<p>小承氣湯　治大陽病，吐下後發汗而微煩，小便數，大便堅，宜服之。陽明病，若汗多出而微寒，為外未解，無潮熱不可與之。若腹滿不大便，可少少與之。</p>
<p>大黃（一兩，微炒）　厚朴（半兩，制）　枳實（一個，大者，炙）</p>
<p>上㕮咀，水一鍾，煎六分，溫服。</p>
<p>調胃承氣湯　治傷寒發汗後，惡寒，虛也；不惡寒但熱者，實也，當下。傷寒十三日過經，譫語者，當下之。若自利者，脈當微厥，反和者，此為內實，當下之。大陽病經十餘日，心下溫溫欲吐，胸中實，大便溏，腹微滿，鬱郁微煩，當下之。大陽病三日，發汗不解，蒸蒸熱者，當下之。</p>
<p>大黃（一兩，炒）　芒硝（九分）　甘草（半兩，炙）</p>
<p>上㕮咀，同法煎，加減服。</p>
<p>四逆湯　治少陰病足冷，脈沉者，急溫之，宜四逆湯。若下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤色，或腹痛，或乾嘔，或嘔痛，或下利不止，脈不出者，以此湯主之。</p>
<p>附子（大者一個，去皮臍，切用四片）　炙甘草（二錢）　乾薑（炮，二錢）</p>
<p>上作二服，水二鍾，煎至一鍾，去滓溫服。</p>
<p>理中湯　大陰腹中痛，或嘔吐，食不下，或腹中痞滿，或自利不渴，脈沉細而遲者。</p>
<p>人參（二錢）　白朮（三錢）　乾薑（炮，二錢）　炙甘草（一錢半）</p>
<p>上，水一鍾，煎至六分，去渣溫服。如作丸，每服各一兩，甘草五錢為末，煉蜜為丸，白湯化下。</p>
<p>藿香正氣散　治四時不正之氣，寒疫時氣，山嵐瘴氣，雨濕蒸氣，或中寒腹痛吐利，中暑冒風吐瀉，中溫身重泄瀉，或不服水土，脾胃不和，或飲食停滯，復感外寒，頭痛憎寒，或吐逆噁心，胸膈痞悶，或發寒熱而無汗者。</p>
<p>藿香（上）　白朮（中，發汗用蒼朮）　陳皮（中）　半夏（中）　白茯苓（中）　白芷（中）　桔梗（中）　大腹皮（中）　紫蘇（中）　甘草</p>
<p>水一盅，生薑三片，煎至六分，通口徐服之。</p>

<h2>十二、傷食門</h2>

<h3>傷食證治</h3>
<p>用光曰：凡小兒飲食，停滯中焦不化，而發熱者，必惡食也。或噫氣作酸，或惡聞食臭，或欲吐不吐，或吐之不盡，或噁心，或氣短痞悶，或胃口作寒，或心下痞滿，按之則痛，此皆停食之候也，可辨之矣，皆因乳哺不節，過餐生冷堅硬之物，脾胃不能克化，積滯中脘，外為風寒所搏，或因夜臥失蓋，致頭痛面黃，身熱目胞微腫，腹痛膨脹，足冷肚熱，喜睡神昏，不思飲食，或嘔或噦，口噫酸氣，大便酸臭，此為陳積所傷也。若停食，或感寒邪者，則左手人迎氣口俱大，外證頭疼，惡寒拘急，中脘痞悶，或吐或嘔或痛者，以藿香正氣散，或人參養胃湯加木香、砂仁之類。若肉食不化，加棠球子末；麵食不化者，加神麯、大麥糵；生冷肉食、菜子之類不化者，必加草果、砂仁、枳實、青皮主之。如食在胃口，上未入於胃，乃可吐之，不吐則消導之。待食下胃，胃變化糟粕，外證已解，乃可下其食也，宜三物厚朴湯。熱多者，大柴胡湯。如無外感，但只傷食者，以紫霜丸下之。凡治夾食傷寒，不可先攻其食，且先發散寒邪，次可消導之也。</p>

<h3>傷食諸方</h3>
<p>藿香正氣散　治小兒內傷生冷，外感風寒，並宜治之。</p>
<p>藿香　厚朴　白芷　大腹皮　紫蘇　陳皮　半夏　桔梗　白茯苓　甘草　白朮</p>
<p>上銼散，水一鍾，姜三片，煎至六分，溫服。</p>
<p>人參養胃湯</p>
<p>人參　半夏　陳皮　茯苓　蒼朮　厚朴　藿香　草果</p>
<p>上，水一鍾，生薑三片，棗一枚，煎服。</p>
<p>三黃枳朮丸　治傷肉、濕面，辛辣味厚之物填塞，悶亂不快。</p>
<p>枳實（麩炒，五分）　黃連（去須，酒浸洗）　大黃（濕紙裹煨）　橘皮　白朮（已上各一兩）　黃芩</p>
<p>上為極細末，湯浸蒸餅為丸，如綠豆大，每服五十丸，白湯下，臨時量所傷多少加減服之。</p>
<p>巴豆三稜丸（一名木香見晛丸）　治生冷硬物所傷，心腹滿悶疼痛。</p>
<p>巴豆霜（五分）　木香（二錢）　升麻　柴胡（已上各三錢）　草豆蔻（麵裹煨熱，用仁）　香附子（炒。各五錢）　神麯（炒黃色）　石三稜（去皮，煨）　京三稜（各一兩，煨）</p>
<p>上為末，湯浸蒸餅為丸，如綠豆一倍大，每服一二十丸，溫白湯下，量所傷多少加減服之。</p>
<p>白朮丸　治傷豆粉、濕面、油膩之物。</p>
<p>白礬（枯，三分）　黃芩（二錢）　橘皮（三錢）　神麯（炒黃色）　半夏（各一兩）　枳實（麩炒黃色，一兩一錢）　白朮（一兩）</p>
<p>上為極細末，湯浸蒸餅為丸，如綠豆一倍大，每服三十五丸，白湯下。素食多用乾薑黃芩湯以瀉之。</p>
<p>草豆蔻丸　治秋冬傷食之寒冷者，胃脘當心而痛，上肢兩脅，咽膈不通。</p>
<p>炒鹽（五分）　乾生薑　青皮　橘紅（各二錢）　麥糵面（炒黃色）　生黃芩（冬月不用）　半夏（湯炒七次）　枳實（麩炒，二兩）</p>
<p>上為極細末，湯蒸餅為丸，如綠豆大，每服五十丸。</p>

<h2>十三、腹痛門</h2>

<h3>論腹痛所因</h3>
<p>潛溪曰：《內經·舉痛論》云：五臟卒然而痛者，何氣使然？岐伯曰：經脈流行不止，環周不休，寒氣入經則稽遲，澀而不行，客於脈外則血少，客於脈中則氣不通，故卒然而痛。帝曰：其痛或卒然而止者，或痛甚不休者，或痛甚不可按者，或按之痛止，或按之無益者，或喘動應手者，或心與背相引而痛者，或脅肋與小腹相引而痛者，或腹痛引陰股者，或痛宿昔而成積者，或卒然痛死不知人，有少間復生者，或痛而嘔者，或腹痛而後泄者，或痛而閉不通者，凡此諸痛，各不同形，別之奈何？岐伯曰：寒氣客於脈外則脈寒，脈寒則縮蜷，縮蜷則脈絀急，絀急則外引小絡，故卒然而痛，得炅則痛立止。因重中於寒，則痛久矣。寒氣客於經脈之中，與炅氣相搏，則脈滿，滿則痛而不可按也。寒氣稽留，炅氣從上，則脈充大而血氣亂，故痛甚不可按也。寒氣客於腸胃之間，膜原之下，血不得散，小絡急引故痛，按之則血氣散，故按之痛止。寒氣客於夾脊之脈，則深按之不能及，故按之無益也。寒氣客於衝脈，衝脈起於關元，隨腹直上，寒氣客則脈不通，脈不通則氣因之，故喘急應手矣。寒氣客於背俞之脈則脈泣，脈泣則血虛，血虛則痛，其俞注於心，故相引而痛，按之則熱氣至，熱氣至則痛止矣（云見心痛門）。寒氣客於厥陰之脈者，絡陰器，繫於肝，寒氣客於脈中，則血泣脈急，故脅肋與少腹相引痛矣。厥陰客於陰股，寒氣上及小腹，血泣在下相引，故腹痛引陰股。寒氣客於小腸膜原之間，絡血之中，血泣不得注於大經，血氣稽留不得行，故宿昔而成積矣。寒氣客於五臟，厥逆上泄，陰氣竭，陽氣未入，故卒然痛死不知人，氣復反則生矣。寒氣客於腸胃，厥逆上出，故痛而嘔也。寒氣客於小腸，小腸不得成聚，故後泄腹痛矣。熱氣流於小腸，腸中痛，癉熱焦渴，則堅幹不得出，故痛而閉不通矣。</p>

<h3>腹痛治法</h3>
<p>用光曰：腹痛之因，邪正交攻，與臟氣相系而作也。挾熱痛者，以面赤，或壯熱，四肢煩，手心熱見之；挾冷者，以面色或白或青見之，冷甚而證變，則面黯黑，唇口爪甲皆青矣。熱冷，四順清涼飲加青皮、枳殼；冷熱，指迷七氣湯加辣桂調蘇合香丸。若乃邪正交爭，冷熱不調，加青皮、木香為妙。錢氏曰：小兒積痛，口中氣溫，面黃白，目無睛光，或白睛多，及多睡畏食，或大便酸臭者，當磨積，宜消積丸，甚者白餅子下之後和胃。蟲痛，面㿠白，心腹痛，口中沫及清水出，發痛時，安蟲散主之。小兒本怯者，多此病。積食虛痛，大同小異，惟蟲痛口淡而沫出。</p>

<h3>腹痛諸方</h3>
<p>七氣湯　治七情所傷，痰涎結聚，心刺痛，不能飲乳食。</p>
<p>半夏（一兩，泡）　人參　桂心（各二錢）　甘草（一錢，炙）</p>
<p>上銼散，每服二錢，姜五片，棗一枚同煎，食前服。</p>
<p>指迷七氣湯　治陰陽不升降，氣道壅滯作疼。</p>
<p>青皮（炒）　陳皮　桔梗（炒）　蓬朮（煨）　肉桂（去皮）　藿香　益智子（各二兩）　香附子（一兩半）　甘草　半夏（各七錢半，泡）</p>
<p>上銼散，每服二錢，水一盞，姜五片，棗一枚，煎服。</p>
<p>桔梗枳殼湯　治諸氣痞結滿悶，腹腰疼痛。</p>
<p>桔梗（各一兩，炒）　枳殼（炒）　甘草（炙，半兩）</p>
<p>上銼散，每服三錢，姜三片，水一鍾，煎。</p>
<p>芍藥甘草湯　治腹痛，小便不通，及治出疹肚疼。</p>
<p>芍藥（一兩）　甘草（二錢半）</p>
<p>上銼散，白水煎。</p>
<p>四順清涼飲　治小兒血脈壅實，臟腑生熱，頰赤多渴，五心煩躁，睡不寧，四肢驚掣，及因乳哺不時，寒溫失度，令兒血氣不順，腸胃不調，或濕吐連滯，欲成伏熱，或壯熱不飲，欲發驚癇。又治風熱結核，頭面瘡癤，目赤咽痛，餘毒，一切壅滯，並宜服之。</p>
<p>芍藥　當歸　甘草　大黃（各等分）</p>
<p>上銼散，三歲兒服一錢，水半盞，煎服。冒風邪，加去節麻黃；中風，體強，眼上視，加獨活；熱瀉，加木香、煨大黃。</p>

<h2>十四、傷積門</h2>

<h3>論小兒傷積</h3>
<p>《活幼心書》云：小兒所患積證，皆因乳哺不節，過餐生冷、堅硬之物，脾胃不能克化，停積中脘，外為風寒所傷，或夜臥失蓋，致頭痛面黃，身熱眼胞微腫，腹痛膨脹，足冷肚熱，喜睡神昏，不思飲食，或嘔或噦，口噫酸氣，大便酸臭，此為陳積所傷。有食飽傷脾，氣稍虛，物難消化，留而不去遂成其積，積販為痢。仁齋云：小兒有積而目黃腫，肚熱脹痛，復睡多困，叫啼不食，或腸閉澀，小便如油，或便利無禁，糞白而酸，此皆積證也。然有乳積，有食積，有氣積，要當明辨。吐乳瀉乳，其氣酸臭，此由啼叫未已，以乳與兒，停滯不化，是為乳積。吐硬，帶熱渴瀉，或嘔，此由飲食無度，多餐過飽，飽後即睡得之，是為食積。腹痛啼叫，利如蟹渤，此因觸忤其氣，榮衛不和，淹延日久得之，是為氣積。有時時泄下青水，如生草汁，是受驚而後有積，煩悶啾唧，常似生嗔，名為驚積。因受驚日久，而積成之。或額上有汗，喘息煩渴，潮熱往來，肚皮有熱，睡中覺腹內有物跳動者是也。然積有虛有實，虛則渾身微熱，不思飲食，昏昧神緩，抱起如睡；實則吐熱糞閉，囟腫喉塞，壅盛涎鳴，熱毒發瘡，推此可見矣。其傷乳傷食而身熱者，惟腹肚之熱為甚。人知傷積肚熱，糞酸極臭，而夜間有熱，傷積之明驗，人所不知也，其或變證，面黑瀉黑，久瀉不已，肚腹脹滿，氣粗出大，手心生瘡，瘦弱柔軟，皆不可療。小兒消積，多用青皮，然青皮最能發汗，汗者，勿多與之。</p>

<h3>傷積治法（附調脾胃）</h3>
<p>小兒諸疾，皆由乳食無度，過於飽傷，以致不能克化，留而成積。初得之時，不問乳積、食積、氣積，並以木香丸、消積丸之類。其驚積，以辰砂膏，或青龍丸，量輕重而疏導之，仍以調氣和胃取愈。大凡小兒肚腹或熱或脹或硬，皆由內實，法當疏利下之，故東垣云：食者，有形之物，傷之則宜損其谷，其次莫若消導，丁香爛飲丸、枳朮丸之類主之；稍重，則攻化，三稜消積丸、木香見晛丸之類主之；尤重，則或吐或下，瓜蒂散、備急丸之類主之，以平為期。蓋脾已傷，又以藥傷，使榮運之氣減削，食愈難消，故「至真要大論」云：大毒治病，十去其六；小毒治病，十去其七；無毒治病，十去其八；常毒治病，十去其九。肉果菜食，度量之，無使過之，傷其正也。凡人以胃氣為本，惟治病亦然。小兒胃氣有虛有實，虛則嘔吐不食之證，實則痞滿內熱之證。虛者益之，實者損之，欲得其平，則可矣。胃虛用木香、丁皮、厚朴、肉豆蔻等劑；胃實，用北桔梗、枳殼、柴胡、大黃等劑。若夫胃中停寒，則乾薑、官桂、丁香又不可闕，貴在酌量，但以小小分劑與之，夫是為之平胃。心者脾之母，進食不止於和脾，蓋火能生土，當以心藥入於脾胃藥之中，庶幾兩得。古人進食方劑，多用益。知者此也。</p>

<h3>傷積諸方</h3>
<p>下積丸　治小兒乳食傷積，心腹脹滿，氣粗肚熱，或瀉或吐。</p>
<p>丁香　縮砂仁（各十二個）　使君子（五個，焙）　烏梅肉（焙）　川巴豆</p>
<p>上為末，研細和勻，爛飯為丸，麻子大，每服三十丸，橘皮湯送下。</p>
<p>木香丸　治小兒乳積、食積、氣積。</p>
<p>木香　蓬朮　縮砂仁　青皮（去白）　硃砂（研）　代赭石（研。各二錢）　大丁香（一分）　川巴豆肉（紙壓去油，一分）</p>
<p>上為細末，和勻，飛，白礬糊丸，麻子大，風乾。每服二三丸，乳傷乳汁下，食傷米飲下，後與大異香散，或和劑異香散亦得。氣積，橘皮湯下，後與和劑流氣飲。</p>
<p>三稜消積丸　治傷生冷、硬物，不能克化，心腹滿痛。</p>
<p>丁香　益智仁（三錢）　陳皮　青皮（各三分）　茴香（炒，半兩）　炒曲　廣木香（泡）　京三稜（焙。各七錢）　巴豆（和米炒，去米，五錢）</p>
<p>上為細末，醋糊丸，如麻子大，每服十五丸，溫薑湯下。食前看虛實加減服。</p>
<p>枳實導滯丸　治傷濕冷之物，不得施化，而作痞滿，悶亂不安。</p>
<p>茯苓　黃芩　白朮　黃連（各三錢）　澤瀉（二錢）　枳實（炒，五錢）　大黃（一兩）　神麯（五錢）</p>
<p>上為細末，湯浸蒸餅為丸，如綠豆大，每服十丸，白湯送下。</p>
<p>青龍丸　治小兒驚積有熱。</p>
<p>青黛　茯神　蘆薈　南星（炮。各一錢）　麝（少許）　輕粉　巴豆（一字）　全蠍（三個，焙）</p>
<p>上先將巴豆研如泥，次入諸藥，令極細，丸如粟米大，硃砂為衣，每服一丸，薄荷湯送下。</p>

<h2>十五、痞癖門</h2>

<h3>痞積治法</h3>
<p>用光曰：腹中有癖，不食但飲乳是也，當漸用白餅子下之。小兒病癖，由乳母乳食不消，伏在腹中，乍涼乍熱相類，不早治，必成疳。以其有癖，則令兒不食，致脾胃虛而發熱，故引飲過多，即盪滌腸胃，亡失津液，脾胃不能傳化水穀，其脈沉細，蓋不食，脾胃虛衰，四肢不舉，諸邪遂生，而成疳矣。輕者，用仁齋木香丸；重者，用取癖丸；痞結甚者，用聖惠甘露散主之。</p>
<p>羅謙甫云：一小兒病癖積，在左脅下，硬如覆手，肚大青筋，發熱肌瘦，咳嗽自汗，日晡尤甚，牙疳口臭惡，宣露出血，四肢困倦，飲水減少，病甚危篤。大醫劉仲安先生治之，約百日可愈，先與沉香海金砂丸，一服下穢物兩三行，次日合塌氣丸服之，十日復以沉香海金砂丸利之，又令服塌氣丸。如此五換，服至月餘，其癖減半；未及百日良愈。近年多有此疾，愈之者多，錄之以救將來之病者也。</p>

<h3>痞癖灸法</h3>
<p>小兒奶癖，目不明者，灸肩中俞二穴，各一壯。取法：在肩內臁，去脊二寸，陷中是穴。</p>
<p>小兒癖氣久不消者，灸中脘、章門二穴。中脘，從𩩲骬下，取病兒四指頭是；章門，在大橫骨外，直臍季脅端，側臥，曲上足，舉臂取之。各灸七壯，臍後脊中，灸二七壯。</p>

<h3>禹講師用灸之經驗</h3>
<p>脾俞一穴，治小兒脅下滿，瀉痢體重，四肢不收，玄癖積聚，腹痛不嗜食，痰瘧寒熱。又治腹脹引背，食頗多，漸漸黃瘦。在第十一椎下，兩傍相去各一寸五分，可灸七壯。若黃瘇者，可灸三壯。</p>

<h3>痞癖諸方</h3>
<p>聖惠甘露飲子　治小兒腹脅痞結，脹滿不得宣通。</p>
<p>甘遂（一分，煨令微黃）　青皮（浸，去白，焙）　黃芩　川大黃（銼碎，微炒，各半兩）</p>
<p>上粗末，每服一錢，水一小盞，煎去滓，溫和服，量大小增減，用得通和則止，後以糜粥放冷補之。</p>
<p>取癖丸</p>
<p>甘遂（微炒）　芫花（炒）　牽牛（半炒半生，研篩取肉）　辣桂　蓬朮　青皮（去白）　木香　桃仁（浸，去皮，炒）　五靈脂（各二錢）</p>
<p>上細末，去油巴豆一錢，研和十分，細飛，麵糊丸，麻子大，風乾。每服一二丸，姜蜜煎湯灌下，泄後冷粥補，仍和胃。</p>
<p>三稜煎丸　治小兒飲食過度，痞悶疼痛，食不消化，久而成癖也。此藥專治婦人血積、血塊，尤驗。</p>
<p>廣茂（黑角者）　三稜（二味濕紙煨香為末。各一兩）　大黃（去皮，八兩，為末）</p>
<p>上大黃銀器內，以好醋漬，令平滿，慢火熬，可以二味為丸，如麻子大，或綠豆大，每服十丸至十五丸，食後溫水送下，虛實加減服。</p>
<p>青礞石丸　治小兒奶癖。</p>
<p>硫黃（三錢）　青礞石　五靈脂　鍋底黑（各一錢半）　白丁香（一錢，去土）</p>
<p>上為末，米飯為丸，綠豆大，捻作餅子，每服二十餅，溫水送下。</p>
<p>鱉甲豬肚丸　治小兒癖積發熱。</p>
<p>柴胡（一兩）　黃連　鱉甲（九肋者佳，醋炙黃色。各七錢）　枳實（麩炒）　木香　青皮（各半兩）</p>
<p>上入干青蒿七錢，同為末。以棕豬肚一個，去脂，盛藥蒸熟，同搗和為丸，如桐子大，每服一十丸，煎人參湯送下，食後服。</p>

<h1>下卷</h1>

<h2>一、小便諸證門</h2>

<h3>小兒諸淋證治</h3>
<p>用光按：《病式》云：淋，小便澀痛也。熱客膀胱，鬱結不能滲泄故也。巢氏《病源》曰：諸淋皆腎虛所致。腎與膀胱為表裡，主水，下入小腸，通行胞，行於陰而為溲，腎氣通於陰，下流之道也。淋有五，名曰膏，曰冷，曰熱，曰血，曰石。膏淋者，見小便有肥脂，似膏而浮於小便之上，此腎虛不能制水，其肥液而下行也。冷淋者，必先戰慄而後小便，此亦腎虛而下焦受冷，冷氣入胞，與正氣交爭，故小便澀而戰慄也。熱淋者，是下焦有熱，熱氣傳於腎，流入於胞，其溺黃多而澀，間有鮮血同來者也。血淋者，乃熱之極也，心者血之主，外行經絡，內行臟腑，熱勝則失其常道，心與小腸為表裡，故下流而滲入於胞，則為血也。石淋者，腎主水，水結則化為石，蓋腎為熱所乘。遇小便則莖中痛，不得流利，痛引小腹，則砂石從小便出，甚至塞痛，令人昏悶，遍身有汗而後醒，此痛之使然。五淋雖曰腎虛所致，然小腸為受盛之府，氣湧於膀胱，膀胱為津液之腑，氣通於胃，余化下流而不通，皆曰腎氣不足，熱入膀胱，水道澀而不利，出入起數，臍腹急痛，蘊作有時，或以豆汁膏血，並以局方五苓散，下龍腦雞蘇丸，自然平愈；及香芎圓補腎，地黃丸與之，疏導補益為上。</p>

<h3>論小便閉塞不通</h3>
<p>曾氏曰：嬰兒小便閉而不通者，有陰陽二證。陰閉者，為冷濕乘虛入里，因而不通，名曰陰閉，以白芍藥湯加南木香，及用炒鹽以絹帕兜，令帶熱熨臍四圍，並投五苓散，入靈砂末，溫鹽湯空心調服，其效尤速。陽閉者，因暴熱所逼，澀而不通，名曰陽閉。又有癃閉，與淋不同。《內經·宣明五氣篇》曰：膀胱不利為癃。蓋癃者，乃內臟氣虛，受熱壅滯，宣化不行，非澀非痛，但閉不通，腹脹緊滿，並以㕮咀五苓散，加車前子、燈心之類，及投木通散、玉露飲、益元散，皆可用之。或貼姜豉餅於臍上取效，不拘陰陽二證，悉能療之，並與萬安飲，尤妙。</p>

<h3>論小兒陰腫</h3>
<p>《全嬰方》云：小兒陰腫、核腫者，由兒啼怒，氣逆不順，乘虛而行，陰核偏大。又因甘肥不節，生冷過度，致生疳氣，氣結不行，流入陰中，或傷暑毒，或觸風邪，使血氣與邪氣相轉，停結不散，則成陰腫也。仁齋云：夫苟腎經氣虛，或坐石不起，冷氣凝之，或近地經久，風邪濕氣傷之，不為陰腫幾希矣。間有啼叫，怒氣閉擊於下，結聚不散，加以水竇不行，亦能發為此疾，治用桃仁丸主之。丹溪謂：脫囊腫大，墜下不收，用紫蘇莖葉為末，水調荷葉包之。一人傳此方，用野白紫蘇為末，濕則滲之，干則香油調敷，雖皮漬子墜，皆有神效。此用紫蘇，蓋亦同功也。</p>

<h3>論小兒尿床遺溺</h3>
<p>用光按：《原病式》云：遺尿不禁者，為冷。《內經》云：不約為遺溺。仁齋曰：小便者，津液之餘也。腎主水，膀胱為津液之腑，腎與膀胱俱虛，而冷氣乘之，故不能拘制其水，出而不禁，謂之遺尿。睡里自出者，謂之尿床，此皆腎與膀胱俱虛，而挾冷所致也，以稚腸散主之。亦有熱客於腎，部干於足厥陰之經，廷孔鬱結極甚，而氣血不能宣通，則痿痹而神無所用，故液滲入膀胱而旋溺，遺失不能收禁也。此又不可不知。</p>

<h3>論小兒尿白便溺</h3>
<p>仁齋曰：小兒尿白如米泔狀，由乳哺失節，有傷於脾，致令清白不分，而色白也，久則成疳。此亦心膈伏熱，兼而得之。《全嬰方》云：小便初出微赤，良久白濁者，乃熱疳之邪也。初出黃白，久白濁者，乃冷疳之久也。冷者益黃散主之，熱者牛黃丸主之，冷熱者蘆薈丸主之，純下白濁者厚朴丸主之。諸失津液，欲成疳而小便白者，茯苓散主之可也。</p>

<h3>論小兒疝證</h3>
<p>《內經·大奇論》曰：腎脈大急沉，肝脈大急皆沉，為疝證。心脈轉滑急為心疝，肺脈沉轉為肺疝。蓋疝者，寒氣結聚之所為，故令腹臍絞痛者是也。又巢元方曰：諸疝者，陰氣積於內，復為寒疝所傷，榮衛不調，二氣虛弱，風冷入腹而成。故《脈經》云：急者緊也。緊則為寒為實為痛，血為寒泣則為瘕，氣為寒聚為疝。仁齋曰：癩疝者，陰核氣結，腫大而吊痛也，多因小兒啼怒不止，傷動陰氣，故陰氣下結，聚而不散，得之。或胎婦啼泣過傷，令兒生下小腸氣閉，亦變此候。惟是不得流行，加以風冷入焉，血水聚焉，故水氣上乘於肺，先喘急，以後疝痛，其狀有如桃核者，亦有稀軟者，亦有外腎腫大者，亦有木梗者，臍下痛禁，皆不能忍，用藥行心氣，遂腎邪，利其大小便，更無補法，並用五苓散、當歸散、川楝散主之。</p>

<h3>灸法</h3>
<p>小兒疝卵偏腫者，灸囊後絡十字紋上，三壯。春灸夏較，夏灸秋較，秋灸冬較，冬灸春較。</p>
<p>小兒陰腫，灸內崑崙二穴，各三壯。取法：在內踝後五分，筋骨間陷是穴中。灸小便淋瀝法，炒鹽不以多少，熱填滿病人臍內，是神闕穴也，卻用小麥大艾炷灸七壯。良驗。或灸三陰交穴。</p>

<h3>諸證方</h3>

<h4>治淋之劑</h4>
<p>香芎丸　治小兒諸淋證。若患風閉尤妙。</p>
<p>香附　川芎　赤茯苓（各半兩）　海金砂　滑石（各一兩）　枳殼　澤瀉　石韋　檳榔（各三錢半）</p>
<p>上為末，糯米粉煮為清糊，丸麻子大，每服三十三丸至五十五丸，或七十七丸，並用麥門冬熟水送下。若小便澀痛，滴三五點者，取長江順流水，用火微溫，入鹽少許，調勻，空心咽服。</p>
<p>葵子散　治小兒諸淋。</p>
<p>葵子　車前子　木通　桑白皮（炒）　瞿麥　赤茯苓　甘草（炙）　山梔子（各等分）</p>
<p>上，水一盞，煎服。</p>
<p>局方五淋散　治膀胱有熱，水道不通，淋澀不出，或尿如豆汁，或成沙石，或如膏，或熱怫便血。</p>
<p>赤茯苓（六錢）　赤芍藥　山梔子（各三錢）　當歸　甘草（各五錢）</p>
<p>上㕮咀，每服三錢，水一小盞，入燈心煎服。</p>
<p>五苓散　治小便閉塞不通。</p>
<p>豬苓　澤瀉　白朮　茯苓　官桂</p>
<p>上銼散，水一盞，加車前子煎服。</p>
<p>木通散　治小兒上焦熱，小腑閉，煩躁生嗔，及淋澀、諸瘡、丹毒。</p>
<p>木香　地萹蓄（各半兩）　大黃　甘草　赤茯苓（各三錢）　瞿麥　滑石　山梔子　車前子　黃芩（各二錢半）</p>
<p>上，水一鍾，燈心三莖，或入薄荷煎服。</p>
<p>清肺散　治渴而小便閉，或黃或澀。</p>
<p>五苓散　琥珀（半錢）　燈心（一分）　木通（七分）　通草（一分）　車前子（炒，一分）　瞿麥（半錢）　萹蓄（七分）</p>
<p>上為粗末，每服三錢，水煎，食前服。</p>

<h4>治陰腫之劑</h4>
<p>桃仁丸</p>
<p>桃仁（浸去皮麩，微取三錢）　辣桂　牽牛（微炒，取仁）　白蒺藜（炒香，搗去刺）　牡丹皮　北大黃（各二錢）</p>
<p>上為末，煉蜜丸，麻子大，每服五丸或七丸，青白木香、蔥白，入鹽少許，煎湯灌下。煎大流氣飲，研青木香灌下亦可。</p>
<p>牡蠣散　治小兒外腎腫大，莖物通用。</p>
<p>牡蠣粉（研十分細，先以唾津塗腫處，尖以牡蠣粉摻）</p>
<p>又方　治小兒卵腫，研桃仁，唾調敷。</p>

<h4>治遺尿之劑</h4>
<p>雞腸散　治小兒尿床遺溺，不自知覺。</p>
<p>雞腸（燒）　牡蠣灰　白茯苓　真桑螵蛸（微燒。各半兩）　辣桂　龍骨（各二錢半）</p>
<p>上粗末，每服一錢，薑棗煎服。</p>

<h4>治尿白之劑</h4>
<p>茯苓散</p>
<p>京三稜　蓬莪朮（煨）　縮砂仁　赤茯苓（各半兩）　青皮　陳皮　滑石　甘草（微炒）</p>
<p>上為末，每服一錢，麥門冬、燈心煎湯調下。</p>

<h4>治疝之劑</h4>
<p>當歸散</p>
<p>辣桂　牽牛（炒，取仁。各半兩）　當歸　北大黃　桃仁（浸，去皮，焙。各二錢半）　全蠍（一錢半）</p>
<p>上細銼，每一錢，水一鍾，入蜜煎服，以利大便。利後，用青皮、陳皮、茯苓、木香、縮砂、甘草和胃。</p>
<p>川楝散　治小兒疝氣，小腹痛引腰脊，攣曲，身不能直。</p>
<p>木香　檳榔　三稜　蓬朮（炮）　青皮（去白）　陳皮　川楝肉　羌花（米醋炒。各半兩）　川巴豆肉（不去油，一錢）</p>
<p>上細末，飛，麵糊丸，麻子大，每服三丸，空心服下，前一服薑湯送下。</p>
<p>廬陵彭用光曰：幼孩疝氣，生即有此□。此受父氣之不足，不可用藥，惟有築賓一穴，□內踝上腨分中，灸小麥大，三壯或五壯。十五□以前小兒俱可灸之。</p>

<h2>二、丹毒門（附風毒驚丹）</h2>

<h3>小兒丹毒論</h3>
<p>夫熱與血相搏，而風冷乘之，所以赤腫遊而遍體也，此由乳母酒面煎炒過，與夫烘衣與兒，不候冷而即著，多成此疾。或發於手足，或發於頭面胸背，令兒躁悶。腹脹，其熱如火，痛不可言，才有入腹入腎之證，便不可救。楊氏曰：丹有三色乃血熱，風毒有盛有衰，夾冷夾熱，故其色變易不同。《經》云：赤紫丹瘤，皆心火內鬱而發，赤如丹砂，故名丹毒。蓋心主血，熱為血之媒，謂應火而色也，乃心家血熱盛以動之，是以遊走遍體。自腹生出四肢者，易治；自四肢生入腹者，難治矣。通用敗毒散加紫草茸，外用白玉散敷之。大抵治小兒丹毒服表藥，內解熱毒，方可塗敷。既毒氣無所泄，而入里害人，有身上發時，亦如前證，不甚燥痹，但見出浮於遍體，神昏不悅，名陰濕毒證。此二證不問赤白，若入腹入腎，多致為害，不可輕視如常，自取困耳。</p>

<h3>論小兒風毒</h3>
<p>風毒者，因驚風之後，風從氣行，血從氣使，毒氣蓄於身也。</p>

<h3>丹毒諸方</h3>

<h4>治丹毒之劑</h4>
<p>葛根白朮散　治小兒赤白丹毒。</p>
<p>白朮（一錢）　茯苓（二錢）　木香（一錢半）　甘草（二錢半）　葛根（三錢）　枳殼（一錢）</p>
<p>上銼散，用水一盞，不拘時服。</p>
<p>犀角解毒散　治小兒赤白丹瘤，壯熱狂躁，睡臥不安，胸膈悶滿，咽喉腫痛，遍身丹毒。</p>
<p>牛蒡子（炒，一兩五錢）　甘草（二錢半）　荊芥穗（五錢）　防風（二錢半）　犀角（一錢半）</p>
<p>上銼散，用水煎，不拘時服。</p>
<p>防風升麻湯　治小兒丹瘤赤腫。</p>
<p>防風　升麻　山梔（去殼）　麥門冬（去心）　木通　甘草節（各一錢）</p>
<p>上㕮咀，用淡竹葉三片煎，食遠服。</p>
<p>綠袍散</p>
<p>綠豆（五錢）　大黃（二錢）</p>
<p>上為極細末，用生薑薄荷汁入蜜塗。</p>
<p>白玉散</p>
<p>滑石、寒水石二味，為極細末。</p>
<p>水黃散　治小兒赤瘤、丹毒、丹鈹。刀子疏去流頭赤暈，惡血毒汁。</p>
<p>土硝（五錢）　大黃（一錢）</p>
<p>上為極細末，用新井水調勻塗。</p>

<h3>治風毒之劑</h3>
<p>百解散　解散風毒。</p>
<p>乾葛（二兩半）　升麻　赤芍藥（各二兩）　黃芩（一兩）　麻黃（七錢半）　薄桂（二錢半）　甘草（一兩半）</p>
<p>上用水一小盞，姜三片，蔥一根，風熱勝加薄荷。</p>
<p>當歸散</p>
<p>當歸　赤芍藥（各二兩）　大黃（一兩）　川芎　麻黃（各半兩）　甘草（一兩）</p>
<p>上水一鍾，姜三片。煎服。</p>
<p>拂毒散　治小兒諸風熱，陰毒腫核已結成，未穿潰或正發者。</p>
<p>半夏（一兩）　貝母　大黃　朴硝　五倍子（各二錢半）</p>
<p>上為末，醋或一錢二錢塗患處，如干再塗仍疏風化毒之劑，余藥成末，除朴硝，臨入杵勻用。</p>
<p>外消散</p>
<p>大黃　牡蠣（各半兩）　朴硝（一錢）</p>
<p>上為末，炒一錢或二錢，取田螺三枚，淨洗，再以水半盞，活過一宿，去螺。用水調塗，腫即消，螺仍送水中活之，方效。</p>
<p>活血散　治小兒破血傷風。</p>
<p>當歸　生地黃　川芎　紅花　赤芍藥　蘇木（各半兩）　甘草（三錢）</p>
<p>上，水一鍾，煎至六分溫服。</p>

<h3>治驚丹之劑</h3>
<p>黃芩四物湯　治小兒驚丹。</p>
<p>當歸　地黃　川芎　赤芍藥　黃芩</p>
<p>上，水一小盞，煎至六分溫服。</p>
<p>五和湯</p>
<p>當歸　赤茯苓（各半兩）　甘草　大黃　枳殼（各七錢半）</p>
<p>上，水一盞，煎六分，無時服。</p>
<p>三解散　治小兒驚丹，面紅目赤，口瘡痰嗽。</p>
<p>人參　防風　天麻　茯神　鬱金（無，以山梔代之）　白附子　大黃（各二錢半）　赤芍藥　黃芩　殭蠶（各五錢）　全蠍（十五尾，去尖）　枳殼（二錢）　粉草（六錢）</p>
<p>上為末，每服半錢，用溫薄荷湯或燈心湯調服。</p>

<h2>三、黃疸門</h2>

<h3>論小兒諸疸之由</h3>
<p>彭用光曰：凡小兒身皮目皆黃者，疸也。身痛，膊背強，大小便澀，一身皆黃，面目指爪皆黃，小便如屋塵色，著物皆黃，渴者，難治。此黃疸二證，多病於大病後。又有一證，生下百日，及半身不因病後身微黃者，胃熱也。大人亦同。又有面黃腹大，食土渴者，脾疳也。又有自生而身黃者，胎疸也。《經》云：諸疸皆屬於熱。色深黃者是也。若淡黃兼白者，胃怯，胃不和也。丹溪云：不必分五，同是濕熱，如署曲相似，此理甚明。《全嬰方》論云：夫發黃者，皆由寒濕之氣，蘊結於脾胃，蒸發而成也。陽明病，無汗，小便不利，心中熱壅，必發黃。巢氏曰：小兒百日半歲，非傷寒瘟病，而身微黃者，亦是脾胃熱，忌不可灸也，灸之則熱甚，此是將息過度所為，微薄其衣，欲與除熱丸散投之，自歇。不得妄與湯劑及灸，為害不淺淺也。</p>

<h3>論發黃治例</h3>
<p>《難知》云：色如熏黃乃濕病也。一身盡痛，色如橘子黃者，黃病也。一身不痛，干黃，燥也。小便自利，四肢不沉重，渴而引飲者，梔子柏皮湯。濕黃，脾也，小便不利，四肢沉重，似渴不欲飲者，大茵陳湯。若大便自利而黃者，茵陳梔子黃連三物湯。往來寒熱，一身盡黃者，小柴胡加梔子湯。羅謙云：一小兒季夏身體蒸熱，胸膈煩滿，皮膚如潰橘之黃，眼中白睛亦黃，筋骨痿弱，不能行立，此由季夏之熱，加以濕令，而蒸熱薄於經絡，入於骨髓，使臟氣不平，故脾遂乘心，濕熱相合而成此疾也。蓋心火實則身體蒸熱，胸膈煩滿，脾熱勝則皮膚如潰橘之黃。有餘之氣必乘己所勝而侮不勝，是腎肝受邪，而筋骨痿弱，不能行立。《內經》言：脾熱者，色黃而肉蠕動。又言：濕熱成痿。信哉所言！所謂子能令母實，實則瀉其子也。蓋脾土退其本位，腎得復，心火自平矣。又《內經》曰：治痿獨取於陽明。正謂此也，加減瀉黃散主之。</p>

<h3>黃疸諸方</h3>
<p>加減瀉黃散方　此藥退脾土，復腎水，降心火。</p>
<p>黃連　茵陳（各五分）　黃柏　黃芩　茯苓　山梔（各三分）　澤瀉（二分）</p>
<p>上㕮咀，都作一服，水一盞，煎至六分，去柤，稍熱服食。後一服減半，待五日再服而良愈。</p>
<p>茵陳湯　治小兒陽明病，發熱汗出者，此為越熱不能發黃也。身無汗，齊頸而還，小便不利，渴欲飲水者，此為瘀熱在裡，必發黃。傷寒七八日，身黃如橘色，小便不利，腹痛者，並主之。</p>
<p>山茵陳　梔子仁　川大黃</p>
<p>上等分，㕮咀，水煎加減服，日進三服，小便當利，尿如皂莢汁狀，色正赤，一宿服，減痛，黃隨小便中去也。</p>
<p>犀角散　治小兒黃疸，一身盡黃。</p>
<p>犀角（一兩）　茵陳　瓜蔞根　升麻　龍膽草　生地黃（各半兩）　寒水石</p>
<p>上㕮咀，水一盞，煎六分，溫服。一方治小兒忽發黃，面目皮肉盡黃，瓜蔞汁和蜜服之，良驗。</p>
<p>瓜蒂散　治小兒三歲忽發心滿堅硬，腳手心熱，則變為黃病，不急治殺人。</p>
<p>瓜蒂（七個）　赤小豆（七粒）　秫米（七粒）</p>
<p>上為末，用一字，吹兩鼻內，令黃水出，殘藥未盡，水調服之，得吐黃水即差。一方瓜蒂一兩，赤小豆四兩，為末，每服一錢，溫水調服，藥下即臥，當有吐，以吐清黃汁為妙。虛人不可用。</p>
<p>茯苓滲濕湯　治小兒黃疸，寒熱，嘔吐而渴欲飲冷水，身體面目俱黃，小便不利，安臥不思食。</p>
<p>白茯苓（五分）　澤瀉（三分）　茵陳（六分）　豬苓（二錢）　黃芩　黃連　梔子　防己　白朮　蒼朮　陳皮　青皮　枳殼（各二錢）</p>
<p>上銼散，水一小盞，煎六分，徐徐溫服。</p>
<p>丹溪一方　治小兒吐瀉，黃疸。</p>
<p>三稜　蓬朮　青皮　陳皮　神麯　麥芽　黃連　甘草　白朮　茯苓</p>
<p>上為末，溫水調服。傷乳食吐瀉加山梔，時氣吐瀉加滑石，發熱加薄荷。</p>

<h2>四、諸血門</h2>

<h3>論小兒吐血、衄血、便血、下血</h3>
<p>用光按：《全嬰》論云：夫吐血者，榮衛氣逆也。榮者血也，衛者氣也。榮衛相濟，不失常道，一有所勝，則致妄行。血者水也，決之東則東流，決之西則西流。氣之使血，其勢如此。巢氏云：血者是有熱，氣盛而血虛，熱乘於血，血性得熱，則流散妄行；氣逆，則血隨氣上，故令吐血也。又或飲食大飽之後，脾胃內冷，不能消化，忽吐所食之物，氣血相沖，因傷肺胃，亦令吐血。若久嗽氣逆，面目浮腫，而嗽吐血者，是虛損也。</p>
<p>衄血者，是五臟熱結所為也。血隨氣行，通流臟腑，冷熱調和，不失常度，無不壅滯，亦不流溢。血得寒而凝結，得熱而流散。熱乘於血，血隨氣發，溢於鼻竅也。又有因傷寒、瘟疫，諸陽受病，不得其汗，熱傷聚五臟，故從而出也。</p>
<p>大便下血者，是大腸熱結，損傷所為也。臟氣既傷，風邪自入，或搐熱，或積冷，或濕毒，於脾胃，或疳。食傷於臟腑，因茲冷熱交擊，疳濕互作，致動血氣，停留於內，凝滯無歸，滲入腸中，故大便下血也。或有腹脹，冷氣在內攻衝，亦令大便下血。又因風冷乘虛，客入脾胃，或瘀血在於腸胃，濕毒下如豆汁，又疳傷於臟，亦能便血，若上焦心肺積熱，施注大腸，亦令大便下血也。亡血脾弱必渴，久則血虛，其人必肌體萎黃，頭髮不黑矣。溺血者，蓋心主血，與小腸相合，血之流行，周遍經絡，循環臟腑，若熱聚膀胱，血滲入脬，故小便血出也。</p>

<h3>血證諸方</h3>
<p>黃芩湯　治小兒衄血、吐血、下血。</p>
<p>上以黃芩為末，煉蜜丸，如雞頭大。三歲一丸，濃鹽湯下。柏葉、石榴花為末，吹鼻，治衄血吐血。一方定州瓷器末，治嘔血破血，止血。</p>
<p>柏枝飲　治小兒衄血、吐血。</p>
<p>柏枝（乾者）　藕節（乾者）</p>
<p>上等分為末三錢，半錢藕汁入蜜，沸湯調下。一方白芍藥為末，磨犀角汁調，治咯血、衄血。</p>
<p>龍膽丸　治小兒衄不止。</p>
<p>黃連　龍膽草</p>
<p>上等分為末，糊丸如小豆大，三歲三十丸，或作散，以濃鹽水送下。</p>
<p>柏皮湯</p>
<p>柏皮（一兩）　梔子（一兩）　甘草（炙，半兩）</p>
<p>上㕮咀，三歲一錢，水小盞，煎三分，去滓。</p>
<p>辰膠散　治小兒吐血。</p>
<p>阿膠（炒）　蛤粉（等分）　辰砂（少許）</p>
<p>上為末，和粉紅色，三歲一錢，藕汁和蜜調下。</p>
<p>膠黃散　治小兒大衄，口鼻耳出血。十五六歲兒，陽盛多此病。</p>
<p>阿膠（一兩，炒）　蒲黃（半兩）</p>
<p>上為末，三歲半錢，生地黃汁微煎調下，食前服。</p>
<p>五倍丸　治小兒大便下血，如腸風臟毒。</p>
<p>上以五倍干為末，煉蜜丸，如小豆大，三歲三十丸，米湯空心下。</p>
<p>訶灰散　治小兒因疳大便有血。</p>
<p>上以訶子燒灰存性，一半為末，米湯調下，三歲一錢。</p>
<p>桃膠丸　治小兒小便出血，陰莖中痛。</p>
<p>上以桃膠一塊，如棗大，水一鍾半，煎三分，□□三服，下石子如豆，石盡止。</p>
<p>火府散　治小兒小便出血。</p>
<p>木通　生地黃　甘草　黃芩</p>
<p>上為末，水一盞，煎六分，不時溫服。</p>

<h2>五、諸汗門</h2>

<h3>論小兒諸汗</h3>
<p>夫汗者，心之所藏，在內為血，發外為汗。蓋汗者，乃心之液，故人之氣血，平則寧，偏則病。《經》云：陰虛陽必湊，則發熱而自汗；陽虛而陰必乘，則發厥而自汗，皆由陰陽偏勝而致也。小兒血氣嫩弱，膚腠未密，若厚衣溫暖，熏蒸臟腑生熱，熱搏於心，為邪所勝，故液不能內臟，薰出肌膚，則為盜汗也。又或傷於冷熱，冷熱交爭，陰陽不順，津液泄起，亦令睡中汗自出，其間有虛實之證，虛者謂諸病後、大汗後，血氣尚弱，液溢自汗，或潮熱，或寒熱，發過之後，身涼自汗，日久令人黃瘦，失治則變為骨蒸疳勞也。丹溪云：盜汗者，謂睡而出汗也。不睡則不出汗，□方其睡熟也，湊湊出焉，覺則止而不復出矣，亦是心虛，宜斂心氣，溢腎水，使陰陽調和，水火升降，其汗自止。錢氏云：上至頭，下至項，謂之六陽虛汗，不須治之。</p>

<h3>諸汗治法</h3>
<p>錢氏云：小兒睡而自汗出者，肌肉虛也，止汗散主之。遍身汗出者，香瓜丸主之。上至胸，下至臍，此胃虛也，當補脾，益黃散主之。脾虛泄瀉，自汗遍身，冷而出，有時遇瀉則無，瀉過則有，此候大虛，急當補脾，宜益黃散、參苓白朮散、附子理中湯之類。</p>
<p>肺虛自汗其候，右臉色多㿠白，肺脈按之無力，蓋久因咳嗽連聲不已，痰少不活，乃肺經氣上壅，致令汗出，宜補肝散、藿香飲調脾。此又益母救子之義也。</p>
<p>慢驚自汗，遍體俱有，其冷如冰，此證已危，金液丹、固真湯主之。有實證自汗，外因感冒風邪，發熱無間，昏醒，浸浸汗出，或厚衣臥而額汗出也，當救表解肌，用百解散、止汗散主之。</p>
<p>小兒無病，但睡中遍身汗出如水，覺而經久不幹，此名積證盜汗，脾冷所致，宜三稜散，次益黃散主之。</p>
<p>有時時冷汗漸出，髮根如貫珠，面額上濈濈然，此為驚汗，宜鎮驚丸、琥珀抱龍丸及茯神湯加麻黃根取效。有病困睡寐中，而身體汗流，此因陽虛所致，久不已，令人瘦瘠，心氣不足，津液滋出故也，用茯神湯加黃耆與之。</p>

<h3>自汗諸方</h3>
<p>團參湯　治小兒虛汗，或心血液盛，亦發為汗。此藥收斂心氣。</p>
<p>新羅人參　川當歸（各三錢）</p>
<p>上銼細，用雄豬心一個，切三片，每服二錢，豬心一片，井水一盞半，煎至一盞食，煎兩次服。</p>
<p>止汗散　治小兒睡而自汗。</p>
<p>故蒲扇灰（如無扇，只將故蒲燒灰敷之）</p>
<p>撲汗方</p>
<p>黃連　牡蠣粉　貝母（各半兩）　米粉（一升。敷之）</p>
<p>牡蠣散　治血虛自汗，或病後暴虛，津液不固，自汗。</p>
<p>牡蠣（二兩）　黃耆　生地黃（各一兩）</p>
<p>上銼散，每服二錢，或加小麥煎。</p>
<p>通散丸　治小兒夜間通身多汗。</p>
<p>上為末，醋糊丸，綠豆大，每服五七丸，米飲下。</p>
<p>彭用光曰：小兒盜汗不必治。汗多略與服藥、敷藥、撲藥。</p>

<h2>六、咽喉齒舌門</h2>

<h3>咽喉證</h3>
<p>彭用光曰：咽喉為一身之總要，與胃氣相接，呼吸之所從出。若胸膈之間，蘊積熱毒，致生風痰，壅滯不散，發而為咽喉之病，喉內生瘡，或狀如肉腐，為睡為痛，窒塞不通，吐咽不下，甚則生出重舌，治之尤宜先去風痰，以通咽膈，然後解其熱毒，遲則有不救之患。大抵咽喉之疾，本傷熱毒上攻也。四時受熱，藏於心肺之間，宜所觸上攻咽喉，所謂腎傷寒也。然其證有肉蛾，有重舌、木舌、胙腮，有懸雍腫脹，有裡外皆腫，甚者，上攻頭面皆腫，大法先洗口中舌上白苔，其次掃去風涎，如此單隻肉蛾，可針則針；有不可針者，則用熏摻藥，退後方依次用藥。輕者，服藥而自退，不須用針及藥點，其瘡自消也。纏喉風者，乃心胸搐熱，生風積聚，風痰而作也。若鼻青黑塞噎，頭低，痰如膠色，不可治。（彭用光每用針患處，青魚膽吹上，即全安。）</p>

<h3>齒證</h3>
<p>錢氏曰：小兒變蒸，乃骨之餘氣，自胸分入齦中，作三十二齒，而齒牙不及三十二數者，由變不足其常也。或二十八日即至長二十八齒。又云：小兒變蒸蛻齒者，如花之易苗，所謂不及三十二齒，由變之不及齒，當與變日相合也。年壯視齒，方明齒生遲者，乃稟受腎氣不足，即髓不強。蓋骨之所絡而為髓，不足，故不能充於齒，所以齒生遲也。故初生兒有重齦重齶者，由其血氣不收斂成肉，故頰裡上有物如蘆釋盛水狀腫者，名重齶。有著齒齦者，名重齦。治法當以綿纏長針，留兩處如粟米大，以刺之，令泄出血汁，先用淡鹽湯洗拭，次用一字散即愈。</p>

<h3>舌證</h3>
<p>夫舌者，心之候，脾之脈，絡於舌者也。臟腑壅滯，心脾積熱，熱氣上衝，故令舌腫。漸漸脹大，塞滿口中，是為木舌，若不急療，必至害人，宜用紫雪竹瀝調服，即愈。重舌者，亦心脾有熱也，蓋心候於舌，所主者，血。脾之絡脈，出於舌下，若心脾有熱，則血氣俱盛，附舌根而重生一物，形如舌而短小也，謂之重舌，以其蒲黃和黃柏末點之，或牙硝亦可。錢氏云：脾臟微熱，令舌絡微緊，時時舒舌，治勿用冷藥及下之，當少以瀉黃散漸服之。亦或飲水者，醫疑為熱，必以冷藥下之，非也。飲水者，脾胃虛，津液少也。又加面黃肌瘦，五心煩熱，即為疳瘦，宜加胡黃連丸輩，大病者已，用藥弄舌者凶。</p>

<h3>諸證方</h3>

<h4>治咽喉之劑</h4>
<p>化毒湯　治小兒風熱上攻，咽喉腫痛，乳食不便。</p>
<p>桔梗（去蘆炒，五錢）　薄荷葉（二錢半）　荊芥穗　甘草（各二錢半）　豆根（一錢半）　牙硝（二錢）　硼砂（二錢）　朴硝（一錢）　雄黃（水飛，二錢）　硃砂（水飛，二錢）</p>
<p>上為極細末，敷或溫湯調，不拘時服，少與含咽。</p>
<p>立效散　治小兒咽喉痹痛，不能吞嚥。</p>
<p>硼砂　龍腦　雄黃　朴硝（各半錢）</p>
<p>上為極細末，乾摻。</p>

<h4>治齒牙之劑</h4>
<p>麥門冬散　治小兒客熱胃中，齒齦腫痛，或出鮮血。</p>
<p>人參　麥門冬（去心）　天門冬（去心）　生地黃　熟地黃　赤茯苓　白茅根（各二錢）　甘草（炙，一錢）</p>
<p>上㕮咀，水一小盞，不拘時服。</p>
<p>芎藭散　治小兒齒遲不生，以此藥末擦牙根即生。</p>
<p>芎藭　生地黃　山芋　當歸　芍藥　甘草（各等分）</p>
<p>上為末，每服二錢，白湯下，或用擦牙齦上。</p>
<p>細辛散　治小兒風蛀牙疼，腮頷浮腫。</p>
<p>荊芥穗　細辛（半兩）　白芷　紅椒　草烏（各二錢）　鶴蝨　豬牙皂角　蓽茇（各半兩）</p>
<p>上為末，每用少許頻擦患處，有涎吐之，仍用水灌嗽。</p>

<h4>治重舌、木舌、弄舌之劑</h4>
<p>烏魚散　治小兒心脾有熱，一則血氣俱盛，其治下近舌根，生形如舌者，謂之重舌。</p>
<p>烏魚骨（五錢）　蜣螂（二錢半）　蒲黃（二錢）　白礬（煅，半分）</p>
<p>上為細末，用雞卵黃調勻，塗舌上，咽津無妨。</p>
<p>青液散　治小兒重舌及口瘡。</p>
<p>青黛（一錢）　龍腦（二字）　朴硝（一錢）</p>
<p>上為細末，用蜜調，鵝翎蘸少許敷之。</p>
<p>當歸連翹湯　治小兒心脾有熱，舌下有形如舌而小者，謂之重舌。</p>
<p>當歸尾　連翹　川白芷（各三錢）　大黃（煨）　甘草（各一錢）</p>
<p>上㕮咀，用水一小盞煎，食前服。</p>
<p>瀉黃散　治小兒木舌。</p>
<p>藿香葉（三錢半）　山梔（五錢）　石膏（二錢半）　甘草（二錢）　防風（二兩）</p>
<p>上銼散，用水小盞，不拘時服。</p>
<p>川硝散　治小兒木舌。</p>
<p>朴硝（五錢）　真紫雪（一分）　鹽（半分）</p>
<p>上為細末，入竹瀝三兩點，用白湯調敷，咽津無妨。</p>
<p>一捻金散　治小兒重舌、木舌。</p>
<p>雄黃（二錢）　硼砂（一錢）　腦子（少許）　甘草（半分）</p>
<p>上為細末，乾摻舌上，或用蜜湯調，鵝翎燕刷。</p>

<h2>七、耳目口鼻門</h2>

<h3>論小兒耳目口鼻諸證</h3>
<p>彭用光曰：耳者，腎之候。小兒腎氣實，其熱上衝於耳，遂使津液壅滯為稠膿，為清汁者，此也。亦有沐浴水入耳中，水濕停留，搏於血氣，醞釀成熱，亦令耳膿，久不瘥，變成□聾，以龍骨散主之。又湯氏云：有五般聤耳候。聤耳者，常有黃膿出也；膿耳者，常有紅膿出也；纏耳者，常有白膿也；耳者，耳肉疳臭；震耳者，耳內虛鳴，時出清膿。病雖五般，其源一也，皆由水。水入耳，而因有積熱上壅而成。若不早治，久則成聾，宜胭脂膏治之，仍服化毒退熱等劑，即愈也。</p>
<p>又曰：目內赤者，乃心家積熱上攻，宜導赤散主之；淡黃者，心虛熱，生犀散主之；青者，肝熱，瀉肝丸主之；黃者，脾熱，瀉黃散主之；眼目視物不明，不腫不痛不赤，無翳膜，或見黑花，無睛光者，是肝腎俱虛，不可便服涼藥，宜地黃丸主之。有痘瘡入眼，以決明散、密蒙花散主之；有小兒初生眼閉者，由產母食熱物、毒物，致成斯疾，治法當以熊膽少許，蒸水洗眼上，一日七次，如二日不開，用生地黃湯服，乃須乳母服山茵陳湯。凡初生小兒，須洗令淨，若洗不淨，則穢汁浸漬於眼眥中，致使瞼赤爛，至長不瘥。母食熱湯熱藥，名曰胎赤。有因難產，胎氣頗澀，轉側差緩，其血壓於胎背，遂致濺血，滲盛則灌注其眼，不見瞳人，輕則外泡腫赤，上下眩爛，若投涼藥，必寒臟腑，宜與生地黃湯主之。</p>
<p>口糜者，乃膀胱移熱於小腸，膈腸不便，上為口糜。心胃壅熱，水穀不轉，下傳小腸，以導赤散去小腸熱，五苓散瀉膀胱熱，故以導赤散調五苓散主之。鵝口者，小兒初生，口內白屑滿舌上，如鵝之口，故曰鵝口也。此乃胎熱，而心脾最盛，重發於口也，用發纏指頭，蘸薄荷自然汁水，拭口內。如不脫，濃煮粟米汁拭之，即用黃丹煅過出火毒，摻於患處。口瘡者，乃小兒將養過溫，心臟積熱，薰蒸於上，故成口瘡也，宜南星末醋調，貼兩腳心，乳母宜服洗心散，以瀉心散主之。丹溪云：一小兒口瘡不下食，眾以狐惑治之，必死。後以礬湯於腳上浸，半日頓寬，以黃柏蜜炙，殭蠶炒為末，敷之，立下乳而愈。</p>
<p>鼻為肺之竅，因心肺病氣不利也。有寒者，熱邪傷皮毛，氣不利而壅清道，而為病也。故小兒鼻塞者，曰肺氣通於鼻，氣為陽，若氣受□□，停滯鼻中則為鼻塞者，而津液不收，則多□□。若冷氣久不散，膿涕結塞齆，鼻不聞香臭，則齆鼻；若挾熱，則鼻乾，皆阻礙乳。又小兒稟賦胎氣充實，三關九竅，五臟六腑，內外呼吸，上下貫通，流行百脈，正順三焦者，皆由所協元命自然之氣也。凡產芽兒三朝五日，六晨一臘，忽然鼻塞，吻乳不能，開口呼吸者，多是乳母安睡之時，不知所持，鼻中出息，吹著兒囟，或洗浴用水溫，令氣不通，風邪所以致兒鼻塞。</p>

<h3>諸證方</h3>

<h4>治小兒耳病之劑</h4>
<p>龍骨散</p>
<p>明礬（煅）　龍骨（研，各三錢）　黃丹（煅，一錢）　胭脂（一錢）　麝（少許）</p>
<p>上細末，先以綿杖子捻去水，次用鵝翎吹藥入耳。本方加海螵蛸。</p>
<p>月蝕耳瘡方</p>
<p>胡粉和東壁土為末，敷之。</p>
<p>蔓荊子散　治小兒上熱，耳出膿汁。</p>
<p>甘草（炙）　升麻　木通　赤芍藥　桑白皮（炒）　麥門冬（去心）　生地黃　前胡　甘菊　赤茯苓　蔓荊子</p>
<p>上銼，每服二錢，姜三片，棗一枚，煎服。</p>

<h4>治眼目之劑</h4>
<p>生地黃湯　治初生小兒眼不開。</p>
<p>乾地黃　赤芍藥　川芎　當歸（去蘆）　瓜蔞根　甘草</p>
<p>上為細末，少許用燈心煎湯，調抹入口中，速服。</p>
<p>真金散　治小兒初生，洗眼不淨，則穢汁浸漬於眼背中，使瞼赤爛，至長不瘥，毋食煎物熱藥，名曰胎赤。</p>
<p>黃連（去須）　黃柏　當歸　杏仁（去皮尖，半錢）　赤芍藥（各一錢）</p>
<p>上銼散，乳汁浸一宿，曬乾為極細末，用生地黃汁，調一字，頻頻點眼，新綿裹荊芥湯浸溫，時時洗浴，毋服。</p>
<p>洗心散</p>
<p>甘草（生）　當歸　麻黃　芍藥　白朮　荊芥穗　大黃（煨，各半錢）</p>
<p>上為極細末，用生薑、薄荷葉煎湯，調化，食遠服。</p>
<p>四聖散　治小兒胎受熱毒，生下兩目不開。</p>
<p>燈心　黃連　秦皮　木賊　棗（各五錢）</p>
<p>上㕮咀，用水小盞澄清，頻洗，兩目自開，不拘時候。</p>
<p>闢塵膏　治小兒塵埃入目，揩成腫痛，發熱啼哭。</p>
<p>油煙細墨</p>
<p>上以墨、新汲水濃磨，入玄明粉半錢，和勻為膏，用筆多蘸點目內，三五次。忌熱物。</p>
<p>牛黃膏　治小兒鬥睛。</p>
<p>牛黃（半錢）　白附子（炮，一錢）　桂（去皮，二錢）　全蠍（去毒，炒，一錢）　川芎（二錢）　石膏（一錢）　白芷（二錢）　藿香葉　辰砂（水飛，二錢）　麝香（一錢）</p>
<p>上為極細末，煉白蜜丸，如芡實大，用薄荷煎湯研化。</p>

<h4>治口瘡之劑</h4>
<p>保命散　治小兒口瘡。</p>
<p>白礬（煅，一錢）　馬牙硝（五錢）　硃砂（一錢）</p>
<p>上為極細末，每用一字，取白鵝糞，以水攪，取汁調塗。</p>
<p>口角瘡爛方</p>
<p>發灰為細末，豬脂和敷。</p>
<p>胡黃連散　治小兒口糜。</p>
<p>胡黃連（五錢）　細辛　宣黃連（各三錢）　藿香（一錢）</p>
<p>上四味為末，每用半錢，乾摻口內，頻漱吐之。</p>
<p>綠袍散　治老幼口瘡，多時不效者。</p>
<p>黃柏（四兩）　甘草（炙，一兩）　青黛（一兩）</p>
<p>上先杵二味為末，入青黛同研勻，每用半錢，乾摻口內。忌醋醬鹽一二日。</p>
<p>黃連升麻散　治小兒口舌生瘡。</p>
<p>升麻（一兩半）　黃連（七錢半）</p>
<p>上為末，綿裹含咽汁。</p>

<h4>治鼻病之劑</h4>
<p>開關散</p>
<p>香附子（炒，去皮）　川芎（去土）　荊芥穗　殭蠶（去嘴絲）　細辛葉　豬牙皂角</p>
<p>上為細末，入生蔥白，搗成膏，用紅帛盛，夜睡貼額門。</p>
<p>川芎膏　治小兒鼻塞。</p>
<p>川芎　細辛（去土）　藁本　川白芷　甘草（炙。各三錢）　杏仁（去皮尖，七個）　龍腦（半錢）　麝香（半錢）</p>
<p>上為極細末，煉白蜜丸，如梧子大，用燈心煎湯，研化服。如體弱者，用新綿包一丸，塞鼻孔中，男左女右。</p>
<p>細辛散　治小兒氣塞多涕。</p>
<p>細辛　防風　川芎　前胡　人參　甘草（各一錢）</p>
<p>上為極細末，用乳香煎湯，調化服。</p>
<p>萬金膏　治小兒齆鼻。</p>
<p>羌活　川芎　細辛　石菖蒲　木通　麻黃（各一錢）　龍腦（少許）　麝香（各半錢）</p>
<p>上為極細末，煉白蜜丸，如梧子大，用新綿包一丸，塞鼻孔中，男左女右。</p>

<h2>八、雜證門</h2>

<h3>囟陷證治</h3>
<p>始因臟腑有熱，渴飲水漿，致成泄痢，久則血氣虛弱，不能上充腦髓，故囟陷如坑，不得平滿，狗頭骨炙黃為末，雞子清調敷子。</p>

<h3>囟填證治</h3>
<p>囟填者，囟門腫起也。脾主肌肉。乳哺不常，飢飽無度，或寒或熱，乘於脾家，致使臟腑不調，其氣上衝，為之填脹，腫突而高，如物堆垛，毛髮短黃，自汗爾。若寒上衝，則牢𩊅；熱氣上衝，則柔軟。寒者溫之，熱者涼之。劑量輕重，兼與調氣。小兒汗盛，風熱交攻亦然，未易退瘥。</p>

<h3>解顱證治</h3>
<p>小兒年大，頭縫開解而不合也。腎主髓腦也，髓海腎氣有虧，腦髓不足，所以頭顱開而不能合。凡腦髓欠少，如木無根，不過千日，終無完日，必成廢人，當服錢氏地黃丸。</p>
<p>大熟地黃（洗，焙，四錢）　山茱萸　乾山藥（各二錢）　澤瀉（一錢）　牡丹皮　白茯苓（各一錢）</p>
<p>上末，煉蜜丸，桐子大。每服一二丸，溫熟水空心調下。仍用大南星微炮為末，米醋調敷於緋帛，烘暖貼之。</p>

<h3>滯頤證治</h3>
<p>小兒滯頤，涎流出而漬於頤間也。涎者，脾之液，脾胃虛冷，故涎液自流，不能收約，法當溫脾。</p>
<p>木香半夏散</p>
<p>半夏　木香（各半兩）　川白姜（生）　白朮　青皮　陳皮（各二錢半）</p>
<p>上細末，糕糊丸，麻子大。一歲十丸，二歲二十丸，米湯灌下。</p>

<h3>語遲證治</h3>
<p>言，心聲也。小兒受胎，其母卒有驚邪，邪氣乘心，故兒感受母氣，心不守，舌木不通，四五歲大不能言也，菖蒲丸主之。</p>
<p>菖蒲丸</p>
<p>人參　石菖蒲　麥門冬（去心）　遠志（取用薑製，炒）　川芎　當歸（各二錢）　滴乳香　硃砂（各一錢，別研）</p>
<p>上末，煉蜜丸，麻子大，每服十丸，粳米飲下。</p>

<h3>夜啼證治</h3>
<p>夜啼，小兒臟冷也。陰盛於夜則冷痛，冷痛則為陰極發燥，寒盛作疼，所以夜啼而泣，七鉤藤散主之。</p>
<p>鉤藤散</p>
<p>鉤藤　茯神　茯苓　川芎　當歸　木香（各一錢）　甘草（炙，半錢）</p>
<p>上末，每服一錢，薑棗略煎服。其或心熱而煩啼，必有臉紅舌白，小便赤澀之證。鉤藤散去當歸、木香，加硃砂末一錢，研和，每服一錢，木香煎湯調下。又有觸犯禁忌，而夜啼者，醋炭熏服蘇合香丸，急以術驅之。</p>

<h3>龜胸證治</h3>
<p>胸高腫滿，其狀如龜，此肺經受熱所致也。乳母酒面無度，或夏月熱煩，熱乳與兒食之，或乳母多食五辛，亦成之此候。</p>
<p>天門冬丸</p>
<p>川大黃（三分，焙）　天門冬（去心）　杏仁（去皮尖）　百合　木通　桑白皮（炒）　甘葶藶（炒爛）　石膏</p>
<p>上末，煉蜜丸，綠豆大，每服五丸，食後臨臥熟水化下。</p>

<h3>龜背證治</h3>
<p>嬰兒生下不能護背，穀風吹春，入於骨髓故也。或小兒坐早，亦致傴僕，背高如龜背矣。然此多成痼疾，間有灼艾，收功肺俞穴，第三椎骨下，兩傍各一寸半；膈俞穴，第七椎骨下，各一寸半。以小兒中指甲節為一寸，艾炷如小麥大，但三五壯為止。</p>

<h3>臍病證治</h3>
<p>安臍散　治臍中汁出，或赤腫。</p>
<p>白石脂末（焙出火氣，敷之，日三度，或油發灰，或當歸末敷）</p>
<p>臍瘡。</p>
<p>當歸末敷，或蝦蟆敷亦好。</p>

<h3>鶴節證治</h3>
<p>露如鶴之膝，抑亦腎虛得之。腎虛則精髓內耗，膚革不榮，易為邪氣所襲，日就枯悴，其殆鶴膝之節乎！錢氏地黃丸，本方加鹿茸、酥炙牛膝各三錢，修合服餌。一同三歲以上與十五丸。</p>

<h3>行遲證治</h3>
<p>骨者，髓之所養。小兒血氣不充，則髓不滿骨，故軟弱不能行，抑亦腎肝俱虛得之。肝主筋弱而不能束也。</p>
<p>地黃丸　方見腎疳門。加牛膝、五加皮、酒炙鹿茸。</p>

<h3>瘡癬證治</h3>
<p>鯽魚方</p>
<p>漏瘡方</p>
<p>諸瘡久不瘥方</p>
<p>瘭瘡方</p>
<p>魚臍瘡方</p>
<p>蠼螋瘡方</p>
<p>燕窠土研細，豬脂調敷。</p>
<p>癬方</p>
<p>水銀（一分）　胡粉（二分）</p>
<p>水研，入雞冠血敷。</p>
<p>前甲散　治小兒眉叢中生瘡，名曰煉銀瘡。</p>
<p>穿山甲前膊鱗，炙焦為細末，麻油輕粉調敷。</p>

<h2>九、痘疹門</h2>

<h3>神功消毒保嬰丹</h3>
<p>凡小兒未出痘疹者，預期先年月制此丹，服效。</p>
<p>凡小兒未出痘疹者，每遇交春分秋分時，服一丸，其痘毒能漸消化。若只服一二次者，亦得減少，若服三年六次，其毒盡能消化，必保無虞。此方神秘，本不欲輕傳，但慈幼之心，自不能已，願與四方好生君子共之。</p>
<p>纏豆藤（一兩五錢，其藤八月間收，取毛豆梗上纏繞細紅絲者是，採取陰乾，此藥為主，妙在此藥）　黑豆（三十粒）　赤豆（七十粒）　山楂肉（一兩）　新升麻（七錢半）　荊芥（五錢）　防風（五錢）　生地黃（一兩）　川獨活（五錢）　甘草（五錢）　當歸（五錢，酒洗）　赤芍藥（五錢）　連翹（七錢五分）　黃連（五錢）　桔梗（五錢）　辰砂（一兩，水飛別研）　牛蒡子（一兩，沙炒過）　苦絲瓜（二個，長五寸者，隔年經霜者方妙，可燒灰存性）</p>
<p>上各為極細末，和勻，淨砂糖拌丸，李核大，每服一丸，濃煎甘草湯化下。</p>
<p>其前項藥，須預辨精料，遇春分秋分，或正月十五日，七月十五日，修合務在精誠，忌婦人貓狗。見合時，向太陽祝藥，曰：神仙真藥，體合自然，嬰兒吞服，天地齊年，吾奉</p>
<p>太上老君急急如律令敕。一氣七遍。</p>

<h3>痘疹論</h3>
<p>彭用光按：丹溪曰：讀前人之書，當知其之立言之意。苟不知其意，求適於用，不可得也。痘疹之論，錢氏為詳，歷舉源流，明經絡，分表裡虛實，開其治方證，其論辨，深得著書垂教之體，使後人知求方圓於規矩，較平直於準繩，引而伸之，觸類而長之，可謂無窮之應用也。今人不求致病之因，不求立方之意，倉卒一試，設有不應，並其棄之。近因《局方》之教行，《素問》之道不明，類皆喜溫而惡涼，喜補而惡解利。忽得陳氏方論，遂以為錢氏不及也。雖然陳氏亦可謂善求病情者，大率歸重於太陰一經。蓋以手太陰屬肺，主皮毛，足太陰屬脾，主手足。金惡寒而易於外感，於脾土惡濕而無物不受。觀其用丁香、官桂所以治肺之寒，用附木、半夏所以治脾之濕也。使脾與肺果有寒與濕，而兼有虛也。中病則已，何傷之有？今徒見其出遲者、身熱者、泄利者、驚悸者、氣急者、渴思飲者，例與木香散、異功散者，間有偶中之效，不恐一偏之禍。若錢氏方，故未嘗廢細辛、丁香、白朮、參耆輩，卒有監製輔佐之藥，但有寒涼者多，而補助一法，略爾端緒，癡人不可說夢，錢氏之慮深矣！亦將俟達者，推充而用之，預防痘疹初出。</p>
<p>用光詳考《幼幼》云：凡值天時不正，鄉鄰痘疹盛發，宜服。此後禁方五條。選便用，則可免，永不出痘瘡矣。</p>

<h3>痘疹諸方</h3>
<p>三豆湯</p>
<p>赤小豆（田間種的）　大黑豆　綠豆（各一升）　甘草（三兩）</p>
<p>上以三豆淘摩，用水八升煮，豆熟為度，逐日空心任意吃豆飲汁。</p>
<p>油飲子　童子用。</p>
<p>真麻油（一斤，逐日每日飲盡，永不出）</p>
<p>以上二方，出扁鵲倉公書。</p>
<p>龍鳳膏</p>
<p>烏雞卵（一個）　地龍（活者、細小者，方用一條，此田間蚯蚓也）</p>
<p>上以雞卵開一小竅，入地龍在內，夾皮紙糊其竅，飯甑上蒸熟，去地龍，與兒食之。每歲立春日一枚，亦可。</p>
<p>絲瓜湯</p>
<p>五六月間，取絲瓜小小蔓延藤絲，陰乾，約二兩半。收起至正月初一日子時，父母只令一人知，將前絲瓜藤煎湯，待溫，洗兒全身、頭上下，以去其胎毒，洗後永不出痘也。如出亦輕，三五夥之。</p>
<p>硃砂散</p>
<p>硃砂大顆者佳。磨五七千下，用蜜湯下。三五十次可以解痘疹之毒，若出亦輕。</p>
<p>已上五方，鄉鄰若有痘疹流行，預與兒食，可免不出。</p>
<p>思濟堂曰：凡初覺欲發熱，當先解利，與傷寒相類，疑似之間，兼用解表。胡氏云：非微汗則表不解，解表當為紅斑未見之時用也。</p>
<p>四物解肌湯</p>
<p>白芍藥　黃芩　升麻　葛根（各七分）</p>
<p>上細切，作一服，水一盞，煎六分，不拘時服。</p>
<p>消毒飲</p>
<p>牛蒡子（三錢，炒，一名鼠黏子，一名大力子）　荊芥（一錢）　甘草（生，五分）　防風（去蘆。各五分）　犀角（二分，如無犀角，升麻代之）</p>
<p>上細切，作一服，水煎。</p>
<p>已上二方，發熱未出時用。</p>
<p>總制尚書蔡□刊布治痘三法，極其詳明而效驗，亦神。用光謹按：其三法之下，以廣其幼幼之仁云。</p>
<p>順者，初出血熱，淡紅潤色，此吉之象也，不必治而自愈。一二日之間，初出之象，如象於口鼻、腮耳、年壽之間，先發三兩點，紅潤色者，吉之兆也。氣得其正，血得其行，其毒淺而輕，不得妄行，所以不必治。如七八日，灌漿之時，略服保元湯一二貼，以助其氣血也。</p>
<p>保元湯</p>
<p>人參（二錢）　黃耆（三錢）　甘草（一錢）</p>
<p>加當歸、川芎各七分，引助血分。</p>
<p>上用水一鍾，姜一片，煎服。</p>
<p>逆者，初出於天庭、司空、太陽、印堂、結喉、心胸、方廣之處，先發者逆，形如麥種，紫黑乾枯，氣澀血滯，致毒深，妄參陽位，難當其熱也。</p>
<p>保元湯</p>
<p>人參（一錢）　黃耆（一錢）　甘草（一錢）　加牛蒡子　黃連　黃芩　玄參　絲瓜灰　當歸　川芎　連翹（各五分）　前胡（三分）　陳皮　桂（三分）　白芍藥（一錢）　防風　羌活　荊芥</p>
<p>上薑蔥煎服，一以解毒，開其滯澀，或幡然如雲霧之散，而白日出見，此一救而可得生者，十中二三。七八日內病勢沉重，色白毒深，又用保元湯兼大黃、芒硝、枳實、厚朴、芎歸，水煎，可下之，下後而身溫，再出紅潤，此則十中活一二，乃起死回生之妙也。用光治一小子患痘，皆是死症，諸醫皆辭，不下藥，求神禳福，而巫師皆去矣。予教以大承氣湯，下黑結糞數條，遂煥然再生，紅潤而生，今年已十四矣。書此以證承氣湯之可救人也。</p>
<p>陰者，初出圓暈成形，乾紅少潤，毒雖犯上，其氣血未離，可治，以俟其氣血交會也。一日二日之間出現者，毒尚淺，氣血未離，急以保元湯加桂，兼活血、勻氣之劑，如毒尚盛，解毒之藥。</p>
<p>保元湯</p>
<p>人參　黃耆　甘草　白芍藥（一錢）　當歸（五分，活血）　白朮　陳皮（各五分，勻氣）　牛蒡子（炒，研）　玄參（各五分，解毒）</p>
<p>水一盞，煎七分，溫服。</p>
<p>活血湯</p>
<p>白芍藥（一錢）　當歸　甘草（各五分）</p>
<p>作一服，水煎溫服。止痛，少入酒尤妙。</p>
<p>王海藏云：四肢出不快者，加防風。一方用赤芍藥。</p>
<p>勻氣湯</p>
<p>白朮（五分）　白茯苓（五分）　青皮（五分）　白芷（五分）　陳皮（七分）　烏藥（七分）　人參（五分）　甘草（三分）　木香（半分）</p>
<p>作一服，水煎服，少入酒亦宜。</p>
<p>八九日內，以保元湯兼和二分加減，以助其氣血灌漿。十三四日內，以四君子湯兼和保元湯加陳皮、山楂以助結痂。</p>
<p>如渴，以參苓白朮散。</p>
<p>如熱不解，以大連翹散去黃芩，以去毒勢就安。</p>
<p>大法保元湯、四物湯、四君子湯，皆當隨氣血盛衰兼用，毒盛則下毒，小則解表之，此全在活法，並預服禁方之藥，自然保平安。古方木香異功□能大枉，戒之戒之。</p>
<p>雞子方　治幼童子免出疹疹之第一法。</p>
<p>用光曰：此方系聞人氏新刻，預防嬰孩早服□□之第一方。冬月養童子雌雞於靜室中，飼□谷，不令食毒穢蟲豸等物。守其生卵，記取□□日一生七完足，以稀網袋盛第一卵，投糞□□廁中，不可有六畜糞，次日乃投第二卵，餘次第如之。□□八日則第一卵七晝夜足矣，取起埋土中，□□夜去穢氣，次日煮熟，空心與食，乃取起第□□如前，去穢煮食，余漸次如之。</p>
<p>□□子每年冬月與食七枚，可使痘疹輕者不□，□者輕快，試之有驗。</p>
<p>蟬菊散　治斑瘡入眼，或病後生翳障。</p>
<p>蟬蛻（洗淨，去土）　白菊花（各等分）</p>
<p>上㕮咀，每服二錢，水一盞，入蜜少許煎，乳食後□□大小與之，屢驗。</p>
<p>決明散　治痘疹入眼。</p>
<p>決明子　赤芍藥（各一錢半）　栝蔞根　甘草（各一錢）</p>
<p>上為末，每服一錢，用蜜水調服。</p>
<p>通聖散　治痘入眼生翳。</p>
<p>綠豆皮　穀精草（去根）　白菊花（各一兩）</p>
<p>上銼散，每服三錢，乾柿一枚，粟米泔一盞同煎，候米泔盡，只將柿去核食之。不拘時服，日三枚。淺者五七日效，遠者半月效。</p>
<p>洗方</p>
<p>黃連（銼）　白滑石（研）　銅青（研）</p>
<p>上用絹包泡湯，候溫洗。</p>
<p>羊肝丸　治痘入目，極效。</p>
<p>羯羊肝（一具，生用）　黃連（去須，炒為末，四兩）</p>
<p>上先將羊肝去筋膜，研如糊，入黃連末為丸，每食後清茶下三十丸，一日服二次。</p>

<h3>斑瘡、水痘、麻子總論</h3>
<p>陳氏曰：夫小兒斑駁疹毒之病，俗言疹子，是肺胃有熱也。其肺胃蘊積熱毒，或以時氣所作，薰發於膚，或如蚊蠶所咬，故赤斑遍體也。凡發赤斑者，十生一死；發黑斑者，十死一生。又云：臟腑蘊熱，不同表裡，受證各異。小兒時氣咳嗽，聲重，涕唾稠黏，目眶焮赤，煩熱渴燥，此則肺胃蘊積熱毒，發則易出，一出偏於肌皮之上，如沸瘡，泡子見而漸沒，病在於表，受毒之淺，此名疹子，亦名膚瘡，俗曰麻子也。或時行溫毒，熱氣薰蒸，病在於里，受毒之深，發於皮膚，遍體狀如錦紋，或如蟲咬，瘡類小豆大，或赤或黑，是名曰斑也。又有小兒水痘一證，與正不同，易出易靨，不宜燥溫。苟或溫之，亦不為害，但不能結痂，則爛成瘡搭矣。</p>
<p>葛根麥門冬散　治小兒熱毒發斑，或赤或黑，頭痛壯熱，心神煩悶。</p>
<p>葛根　麥門冬（去心。各三錢）　人參（去蘆）　升麻　甘草（炙）　赤茯苓　赤芍藥（各二錢）　石膏（五錢）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓溫服。不計時，量大小增減。</p>
<p>生地黃散　治小兒疹子身熱，口乾咳嗽，心煩。</p>
<p>生地黃（半兩）　麥門冬（去心，七錢）　杏仁（炙，二錢）　款冬花　陳皮（各三錢）　甘草（炙，二錢）</p>
<p>上為粗散，每服三錢，每水一盞大，煎至六分，去滓溫服，不計時。</p>
<p>麥湯散　治小兒水痘。</p>
<p>麻黃（去節）　大黃（濕紙包，煨熟）　知母　羌活　甜葶藶（隔紙炒）　人參（各一分）　滑石　地骨皮（炒）　甘草（炙。各半分）</p>
<p>上為末，每服半錢，水一小盞，入小麥七粒，同煎，至數十沸，溫服。</p>
<p>廬陵彭用光曰：瘡痘，由在胞中受穢濁故也。凡兒初生，用綿裹指，急拭去口中汙血，又令飲以甘草黃連湯，以革去惡穢也，則可使瘡痘不作，雖作亦稀少也。如啼聲一發，嚥下口中汙血入腹，亦以甘草黃連湯吐出胸中之惡物，或利下惡物，亦無瘡痘，雖作亦稀少也。</p>
<p>《痘疹方書》聞人氏新刻四卷，具有條理，奇效，乃翰林學士陸儼山公為序，可參詳也。</p>
<p>氣有所滲而出，凡熱不可驟遏，但輕解之。若無熱則瘡又不能發也。凡瘡疹春夏為順，秋冬為逆。</p>
<p>瘡疹分清濁，就形氣上取湧法。凡已發未發，並與紫草飲，但覺身熱，症似傷寒，若未見瘡，見疑似未明，且先與惺惺散、人參敗毒散。若一見紅點，便忌葛根湯，恐發得表虛也。</p>
<p>凡痘瘡初欲出時，身發熱，鼻尖冷，呵欠咳嗽，面赤，方是痘出之候，便宜服升麻葛根加山楂、大力子，其瘡稀疏而易愈也。</p>
<p>凡痘初出時，或未見時，宜服後方。多者令少，重者令輕，方以絲瓜近蒂三寸，連瓜子皮燒灰存性，為末，砂糖拌吃，入硃砂末亦可。又方硃砂為末，蜜水調服。多者可減，少者可無。</p>
<p>凡痘瘡發熱之時，便以惡實子為末，蜜調囟門上，免其患眼之疾。凡初出之時，須看胸前，若稠密，急宜消毒飲加山楂、黃芩、酒洗紫草，減食加人參。</p>
<p>初出時色白者，便大補氣血，參朮、耆芎、升麻、乾薑、甘草、木香、丁香、酒洗當歸、白芍藥；若大便瀉，加訶子、肉豆蔻。</p>
<p>初起時自汗，不妨。蓋溫熱熏蒸而然故也。</p>
<p>有初起煩躁譫語，狂渴引飲，若飲水則後來靨不齊，急以涼藥解其標，如益元散之類，亦可用。凡瘡已出，可少與化毒湯。出不快，加味四聖散、紫草飲子、紫草木香湯、紫草木通湯，或快斑散、絲瓜湯。</p>
<p>出大甚者，人參敗毒散、犀角地黃湯。</p>
<p>疏則無毒，密則有毒，宜涼藥解之。雖數貼亦不妨，無害眼之患。爐灰色白淨者，作寒看；齊勇者、燥者、新發者，作熱看；黑屬血熱，涼血為主；白屬氣虛，補氣為主。中黑陷而外起得遲者，則相兼而治。</p>
<p>凡瘡痘分表裡虛實，吐瀉少食為裡虛，不吐瀉能食為裡實。而補則結癰毒，陷伏倒靨，為表虛；灰白者，亦表虛，或用燒人屎；紅活綻凸，為表實，而復補表，則要潰爛不結痂。</p>
<p>痘瘡分氣虛、血虛，用補藥。氣虛，人參、白朮加解毒藥；血虛者，四物湯中和解毒藥。</p>
<p>痘瘡分氣血虛實，多帶氣血不足。虛則黃耆生血活血之劑助之，略佐以風藥；實則白芍藥為君，黃芩亦為君，佐以白芷、連翹、續斷之類。</p>
<p>調解之法，活血調氣，安表和中，輕清消毒，溫涼之劑，兼而治之。二者得兼而已，溫如當歸、黃耆、木香輩，涼如前胡、乾葛、升麻輩，佐之以川芎、白芍藥、枳殼、桔梗、羌活、木通、紫草之屬，則可以調適矣。</p>
<p>黑陷二種，因氣虛而毒氣不能盡出者，酒炒黃芩、人參、紫草輩。黑陷甚者，亦用燒人屎，蜜水調下，出子和方。癢。</p>

<h3>痘疹治法論</h3>
<p>彭用光曰：小兒疹痘，大抵與傷寒相似，發熱煩躁，臉赤唇紅，身痛頭疼，乍寒乍熱，噴嚏呵欠，嗽喘痰涎，始發之時，有因傷風傷寒而得，有時氣傳染而得，有因傷食嘔吐而得，有因跌撲驚恐畜血而得，或為竄眼驚搐，如風之正，或口舌咽喉吐疼痛，或煩躁狂悶昏睡，或自汗，或下利，或發熱，或不發熱，症候多端，卒未易辨，亦須以耳冷、骫冷、足冷驗之。蓋瘡疹厚，陽，腎臟無症，耳與骫足俱屬於腎，故腎之所部獨冷。又不若視其耳後有紅脈赤縷，為症於此，可以稽驗矣。調護之法，首尾俱不可汗下，但溫涼之劑，兼而劑之解毒、和中、安表而已。虛者益之，實者損之，冷者溫之，熱者平之，是為權度。借喻而言，亦如庖人籠蒸之法，但欲其松耳。蓋毒發於表，如苟妄汗，則榮衛亦虛，重令開泄，轉增瘡爛，由是風邪乘間。變證者，有之毒根於裡，如苟妄下，則內氣一虛，毒不能出，而返入焉，由是土不勝水，變黑歸腎，身體振寒，耳骫反熱，眼合肚脹，其瘡黑陷，十無一生。汗下二說，古人深戒之，以此觀之，瘡疹症狀雖與傷寒相似，而其治法十與傷寒從表而里，瘡疹所發從里出表故也。如欲解肌，乾葛紫蘇可也。其或氣實煩躁，熱熾，大便秘結，則與犀角地黃湯，或人參敗毒散，又或紫草飲，多服亦能利之，故雖云大便不通者，少與大黃龍，宜仔細斟酌之。若小便赤少者，分利小便則熱，塌者於形色脈上，分虛實。實則脈有力，氣壯；虛則無力，氣怯。虛癢以實表之劑，加涼血藥；實癢如大便不通者，以大黃寒涼之藥，少與之，下其結糞。</p>
<p>氣怯輕者，用淡蜜水調滑石末，以羽潤瘡上，□瘡乾者，宜退火，止用輕劑，荊芥、升麻、葛根之類；濕者，用瀉濕，乃肌表間濕，宜用風藥白芷、防風之類。</p>
<p>上引用升麻、葛根，下引用檳榔、牛膝，助以貝母、忍冬草、白芷、瓜蔞之類。</p>
<p>若咽喉痛者，大如聖散、鼠黏子湯。</p>
<p>喘滿氣壅者，麻黃黃芩湯。</p>
<p>煩渴者，甘草散、烏梅湯。</p>
<p>下痢嘔逆者，木香理中湯。</p>
<p>顏色正者，如上治；將欲成就卻色淡者，宜助血藥，用當歸、川芎、酒洗芍藥，或加紅花。</p>
<p>將成就之際，卻紫色者，屬熱，用涼藥解其毒□□乾葛、酒炒黃芩、黃連及連翹之類，甚者，犀角大解痘毒。</p>
<p>金白色將靨時，如豆殼者，蓋因初起時，飲水多，其靨不齊，俗呼靨倒不好，但服實表之劑消息他，大小便如大便秘，通大便；小便秘，通小便；□小便赤澀者，大連翹甘露飲。大便秘結，內煩外熱者，小柴胡湯加枳殼最當，或少少四順清涼。</p>
<p>瘡疹用藥，固有權度，大小二便，不可不通。其大便自所下黃黑，則毒已成，不必多與湯劑，但少用化毒湯，可也，或不用可也。若大小便一或秘焉，則腸胃壅遏，脈結凝滯，毒氣無從發泄，眼閉聲啞，肌肉黧黑，不旋踵而告變矣。陷入者，加味四聖散，更以胡荽酒薄敷其身，厚敷其足，噴其衣服，並以厚綿蓋之。若猶未也，獨聖散入木香煎湯；若其瘡已黑，乃可用錢氏宣風散加青皮主之。錢氏云：黑陷青紫者，百祥丸下之，不黑謹勿下。余知其所下者，瀉膀胱之邪也。又云：下後身熱，氣溫欲飲水者，可治；水欲不消，或寒戰者，為逆。余知其脾強者，土可以治水也，百祥丸大峻，當以宣風散代之。瀉後，溫脾則用人參、茯苓、白朮等分，厚朴、木香、甘草各半為妙。蓋瘡發肌肉，陽明主之。脾土一溫，胃氣隨暢，獨不可消勝已泄之腎水乎？錢氏不刊之秘旨也。</p>
<p>其壞瘡者，一曰內虛泄瀉，二曰外傷風冷，三曰變黑歸腎。</p>
<p>近時小兒痘瘡，止宗陳文中木香散、異功散，殊不知彼時立方之時，為運氣在寒，水司天時，令又值嚴冬，大寒為因，寒鬱遏痘，瘡不紅綻，故用辛熱之劑發之。今人不分時令，寒熱一概施治，誤人多矣。時值溫熱，山野農家，貧賤之人，其或偶中也。</p>
<p>丹溪痘瘡治法，最為明備。近世通同陳文中木香、異功等方，乃一偏之術。若痘瘡虛怯，淡白色，癢塌，此屬虛寒，宜用陳文中方。若發熱壯盛，齊勇紅紫色，躁癢，此屬熱毒，急宜涼血解毒。自陳文中方盛行後，屬虛寒者率得，屬熱毒者悉不救。痘是胎毒，古人治法只解毒，然氣血虛，則送毒氣不出，及不能成就，故陳文中之法既行，而解毒之旨遂隱，故救得一邊，又害了一邊，今必評究，丹溪一法通用，斯無弊也。</p>
<p>痘瘡屬虛寒者，直可延至十數日後，方死；屬毒盛轉紫色者，不過七八日。蓋痘是胎毒，自內出外，一二三日方出齊，毒氣尚在內，出至六日則當盡發於表，七八九日成膿而結痂矣。若毒氣盛，不能盡出，過六日毒反入內，臟腑□□於六日以前，毒氣該出之時，急服涼血解毒之藥，以驅出之。六日以後，醫不及矣，故其死最急。若虛，毒弱毒氣少者，只是血氣不足，不能灌成膿就，故綿延日久而後死，此虛實輕重之分也。</p>
<p>痘瘡多者，是毒氣多，便宜服解毒藥，然多則恐氣血周貫不足，故後□亦宜兼補藥，以助成膿血。</p>
<p>此節齋王先生論治法也。</p>
<p>彭用光按：曾育溪曰：凡兒出痘疹之時，偶鄰舍動廁，穢氣觸犯，覺色黯，然不必大驚懼，急用此。</p>
<p>沖和湯</p>
<p>人參　厚朴　當歸　防風　白芷　肉桂　桔梗　川芎　白芍藥　沉香　檀香（此二味倍加）　乳香　藿香葉　紫蘇葉　黃耆（蜜炙）　甘草</p>
<p>上十六味各等分，㕮咀，用無灰酒拌勻，曬乾，天陰略焙，每服二錢，水一鍾，煎七分，溫服。此方但多加沉香、檀香，極效。</p>

<h3>痘瘡諸方</h3>
<p>升麻湯　治小兒痘疹未出，發熱。</p>
<p>升麻　葛根　白芍藥　甘草</p>
<p>上㕮咀，水一盞，煎服。</p>
<p>錢氏四聖散　治小兒痘瘡出不快。</p>
<p>紫草　木通　甘草（炙）　枳殼（炒）</p>
<p>上等分為粗末，每服一錢，水一盞，煎服。陳皮加黃耆。</p>
<p>參蘇飲　治小兒痘瘡發熱，證似傷寒，疑似之間，此服之最穩當。</p>
<p>前胡（去蘆）　人參（去蘆）　紫蘇葉　乾葛（洗）　半夏（湯泡七次，薑汁製炒）　茯苓（去皮。各三錢）　枳殼（去穰，麵炒）　陳皮（去白）　甘草　桔梗</p>
<p>上㕮咀，每服四錢，水一盞半，姜七片，棗一枚，煎六分，溫服。</p>
<p>惺惺散　治小兒風熱及傷寒時，痘疹發熱。</p>
<p>白茯苓（去皮）　細辛（去葉）　桔梗　白朮　瓜蔞根　人參（去蘆）　甘草（炙）　川芎（各等分）</p>
<p>上為末，每服一錢，水一盞，薄荷三葉，同煎四分，溫服。如要和氣，入生薑煎服，不拘時。</p>
<p>化毒湯　治小兒痘瘡已出，不快。</p>
<p>紫草茸　牛蒡子　甘草（炙。各等分）</p>
<p>上㕮咀，入粳米五十粒，水煎。</p>
<p>陳氏異功散　治小兒痘瘡已靨之際，頭溫足指冷，或腹脹泄瀉，口渴氣粗，或身不熱，悶亂不寧，臥則哽氣，煩渴咬牙。</p>
<p>木香（三錢半）　官桂（二錢）　當歸（三錢半）　人參（二錢半）　茯苓（二錢）　陳皮　厚朴（三錢半）　白朮（二錢）　半夏（一錢半）　丁香　肉豆蔻（一錢半）　附子（一錢半）</p>
<p>上為末，每服二三錢，水一小盞，入薑棗煎服。</p>
<p>加味四聖散　治小兒痘出不快，及變黑陷者。</p>
<p>紫草茸　木通　南木香　黃耆（炒）　川芎　甘草（各等分）</p>
<p>上為粗末，每服三錢，水一盞，煎服。如大便秘，加枳殼少許；大便如常，加糯米八粒解毒，能釀而發之。</p>
<p>棗變百祥丸</p>
<p>紅牙大戟（去骨，一兩）　青州棗（去核，三十個）</p>
<p>上用水一碗同煎，至水盡為度，去大戟不用。將棗焙乾，可和作劑，從少至多，至利為度。</p>
<p>活血散　治小兒痘瘡出不快。</p>
<p>白芍藥（炒）</p>
<p>上為末，酒調服。腹痛，溫熟水調下。</p>
<p>紫草飲子</p>
<p>紫草（一兩）</p>
<p>上銼細，百沸湯一大碗沃之，蓋定，物冷氣出，逐旋溫。紫草能導大便，發出亦輕。</p>
<p>紫草陳皮飲</p>
<p>紫草（一分）　陳皮（半分）</p>
<p>上為粗末，新汲水煎服。</p>
<p>無價散　治小兒痘瘡水出，黑陷欲死者。</p>
<p>人貓豬犬糞，臘月內燒為灰，砂糖水調服。</p>
<p>紫草木香湯　治小兒瘡出不快，大便泄瀉。</p>
<p>紫草　木香　茯苓　白朮（等分）　甘草（炒，少許）</p>
<p>上入糯米煎。蓋紫草能利大便，木香、白朮所以佐之也。</p>
<p>紫草木通湯　治小兒痘瘡出不快。</p>
<p>紫草　人參　木通　茯苓　糯米（等分）　甘草（減半）</p>
<p>上銼散，煎一錢，溫服。內虛大便利者，可入南木香，去紫草。</p>
<p>犀角地黃湯　治小兒瘡痘出大盛，以此解之。</p>
<p>犀角屑　牡丹皮　芍藥　生地黃</p>
<p>上銼散，每服二錢，煎，溫服。</p>
<p>快斑散　治小兒痘瘡出不快。</p>
<p>紫草　蟬蛻　人參　白芍藥（一分）　木通（一錢）　甘草（炙，半錢）</p>
<p>上銼散，每服二錢，煎，溫服。</p>
<p>調肝散　治痘瘡出大盛，宜服此，令瘡不入眼。</p>
<p>生犀（二錢半）　龍膽草（一錢）　黃耆（半兩）　大黃（二錢）　桑白皮（半兩）　麻黃　鉤藤（各一錢）　石膏（半兩）　瓜蔞仁　甘草（各二錢）</p>
<p>上為粗末，每服二錢，水煎，食後服。</p>
<p>陳氏木香散　治小兒痘瘡，腹脹，瀉，渴。</p>
<p>木香　大腹皮　人參　桂心　赤茯苓　青皮　前胡　訶黎勒（去核）　半夏（薑製）　丁香　甘草（各等分）</p>
<p>上為粗散，每服三錢，水一盞，生薑三片，煎至六分，去滓，空心服。量大小加減。</p>
<p>獨神散　治小兒因痘瘡，身體及肢節上有疳蝕。</p>
<p>穿山甲湯洗，每服半錢，入麝香少許，南木煎湯調下，或紫草煎湯，入紅酒少許，調下。</p>
<p>豆蔻丸　專治小兒痘瘡，裡虛泄瀉。</p>
<p>木香　縮砂仁（各三錢）　白龍骨　訶子（煨，去核）　肉豆蔻（煨。各半兩）　赤石脂　枯白礬（各七錢半）</p>
<p>上為細末，稠麵糊丸，黍米大。一周兒每服三五十丸，三歲兒服百丸，溫米飲下。瀉甚者，異功散；下瀉止，住服；不止，多服。</p>
<p>穀精草散　治小兒痘瘡欲靨，痘毒沖眼，目翳膜□障瞳人，癮澀，淚出不止。</p>
<p>穀精草（一兩）　生蛤粉</p>
<p>上為細末，用豶豬肝一葉，以刀批作片子，摻藥□內，用草繩縛定，以瓷器內貯水，慢火煮熟，令□含之，不拘時。</p>
<p>綿繭散　治小兒因痘瘡，身體及肢節上有疳蝕□，膿水不絕，出蛾綿繭，不拘多少。</p>
<p>上用生白礬槌碎，入繭內令滿，以炭火燒，白礬汁幹盡，取出研極細，每干，貼疳瘡內。</p>
<p>雄黃散　治小兒因痘瘡，牙齦生疳蝕瘡。</p>
<p>雄黃（一錢）　銅綠（二錢）</p>
<p>上二味同研極細末，量瘡大小，乾摻其上。</p>
<p>敗草散　治小兒瘡爛，膿汁不幹者。</p>
<p>多年屋上爛茅草，擇淨者，為末，摻之。蓋牆爛草亦佳。多受風寒之氣，故能解痘瘡毒。</p>
<p>不換金正氣散　治小兒痘瘡正出之時，被天氣寒冷初折，內為乳食所傷，氣血壅遏，榮衛不和，毒氣反覆而不出。</p>
<p>陳皮　厚朴　半夏　藿香葉　甘草（炙）</p>
<p>上㕮咀，每服三錢，姜三片，棗一枚，水一盞，煎六分，溫服。加紫草、糯米同煎，尤佳。</p>
<p>調解散　治小兒痘瘡已發，或為風冷所傷，內氣壅遏，以致非硬，並主之。</p>
<p>青皮　陳皮　桔梗　枳殼　半夏　川芎　木通　乾葛　甘草（炙）　紫蘇（等分）　人參（減半）</p>
<p>上銼散，每服二錢，姜三片，棗一枚，煎服。</p>
<p>連翹湯　治小兒痘瘡，壯熱，小便不通。</p>
<p>連翹　瞿麥　荊芥　木通　車前子　赤芍藥　當歸　防風　柴胡　滑石　蟬蛻　甘草（炙）　山梔子　黃芩（各半兩）</p>
<p>上銼散，每服一錢，加紫草煎，溫服。</p>
<p>托裡散　治小兒痘瘡毒根在裡，或血氣虛弱，或風邪穢毒沖觸，使痘毒內陷，伏而不出，或出而不勻快，此藥治血勻氣，調胃補虛，內托瘡毒，使之盡出，易收易靨。</p>
<p>人參　當歸（酒浸）　黃耆（各二兩）　川芎　防風　桔梗　白芷　甘草　厚朴（各一兩）　肉桂</p>
<p>上為細末，木香紫草湯調下半錢。</p>
<p>思濟堂曰：凡小兒出痘時，房中宜燒蒼朮、豬甲，床頭掛胡妥，帳房中燒乳香、芸香。</p>
<p>忌生人，忌穢汙之物，忌狐臭之人，忌行經行房之人。</p>
<p>小兒宜飲食藥餌，及時戒飢、戒飽、戒冷、戒熱、戒風邪。能守已上之戒，保護無差，又得明醫，體天地生物之心，不以富貴貧賤而二心，用藥則決保萬全，而嬰孩咸躊壽域矣。</p>
<p>廬陵彭用光讀《大學》曰：若保赤子，心誠求之。醫以小兒為啞科，似難輕瘳，雖痛癢難通於一問，然輕重當察於諸經。襁褓幼孩，大半受於胎毒，小半傷於乳食；自能行走，以至童弁小兒，多因肥甘，食傷積熱，而胎毒外感，似又大少其驚疳、急慢脾風諸證，與夫痘疹諸症，最為酷疾，吉凶莫測，為醫極宜積誠聚意，深究病源，須論嬰孩與童弁，當歧為兩途以治之。</p>
<p>蓋嬰孩必兼治乳母，俾其血氣清和，飲食有節，投以調氣通榮之劑，以釀其乳，使兒飲之則驚疳自愈。若痘疹必肥滿光澤，而有成全之慶矣。若童弁之子，必當備切其脈，審其表裡虛實，以吐汗下治之。苟不實不虛，則但保其沖和，則諸病自痊。痘瘳，脾氣自流暢，肺金藉母之助，易於灌膿，速於結痂，而登康平之域矣。天下幼科，君子宜留心此篇，使幼孩免藥冤之苦，而獲全安之休。天下之為父母者，苟詳觀此書，必能謹節戒禁於胎孕之前，復如法保護於既生之後，鞠育乳哺，防微杜漸，勿為禽犢之愛，戒節肥甘、煎煿、生冷，母蹈息之仁，偶有疢疾，及時擇請明醫，必當論其遊宦風土南北之宜，擇藥參酌時令緩急，以施治。又不信巫，若是，則醫藥得宜，病患自消，遵守先賢之規度，復還大古之淳風，俾舉世之幼兒，鹹得以永其天年，故敢敬請施恩刊行，以廣其溥濟幼幼之仁，俾天下後世，咸蒙其德澤也，幸甚！</p>

<h1>附錄</h1>
<p>捷徑詩曰：</p>
<p>小兒醫家另有科，一時要用不知何。驚風發熱並痰嗽，保命丹吞不可嗟。急慢二驚紫金錠，未出斑疹神異磨。吐瀉腹痛宜助胃，唇口生瘡化毒和。潮熱抱龍惺惺散，嘔吐燒針丸用多。諸疳蘆薈皆通用，免教尋討苦蒐羅。</p>
<p>用光按：《全嬰》等書云：小兒三歲已前，虎口第二指上有脈紋見者，可驗病狀，男左女右視之。脈紋從寅關起，不至卯關者，病易治；若連於卯關者，有病難治；如寅連卯，卯侵過辰關者，十難救一。若脈紋小或短者，病易治也。宜恭觀之。</p>
<p>保命丹　治小兒一切驚風、發熱、痰嗽，並宜服之。</p>
<p>天麻（一錢）　防風　粉草　殭蠶（炒去絲）　白附子　青黛　薄荷　南星　半夏（各二錢，用生薑汁浸三日，銼碎）　硃砂　鬱金（各一錢）　麝香（少許）　全蠍（去尾尖，一錢）</p>
<p>上為末，煉蜜丸，如皂角子大，每服一丸，燈心金銀湯化下。</p>
<p>紫金錠子　治小兒急慢驚風，大有神效。</p>
<p>人參　茯苓　茯神　辰砂　山藥　乳香　赤石脂（醋火煅七次）　白朮（各一錢）　麝香（一錢）　金箔（為衣）</p>
<p>上用末，以糕一兩為丸，薄荷湯磨服。</p>
<p>神異丹　治小兒一切驚風、發熱、痰嗽、未出斑疹者。</p>
<p>全蠍（去尾尖）　天麻　薄荷　防風　荊芥穗　乾葛　半夏（制）　南星（制）　殭蠶（去絲，炒）　川升麻　芍藥　甘草　川芎（各等分）</p>
<p>上為末，煉蜜丸如皂角子大，每服一丸，白湯化下。</p>
<p>助胃膏　治小兒吐瀉、腹痛。</p>
<p>五苓散　平胃散（各一兩）　肉豆蔻（三錢，紙包煨）</p>
<p>上煉蜜為丸，如芡實大，用米湯化下。</p>
<p>五福化毒丹　治唇口腫破生瘡。</p>
<p>玄參（焙）　桔梗　茯苓（各二兩）　人參（半兩）　青黛（一兩）　牙屑（枯，一方另研，一兩）　甘草（焙，七分）　麝香（二分半）　金箔　銀箔（各四十片為衣）</p>
<p>上為末，煉蜜丸，如皂角子大，用薄荷湯化下。口臭，以生地黃汁調。</p>
<p>抱龍丸　治痰嗽驚風，作潮熱。</p>
<p>牛膽南星（一兩）　天竺黃　辰砂（各二錢半）　麝香（一錢，另研）</p>
<p>上為末，煉蜜丸，芡實大，以薄荷湯化下。</p>
<p>惺惺散　治變蒸發熱，咳嗽痰涎，鼻塞聲重。</p>
<p>人參　白朮　甘草　桔梗　白茯苓　天花粉　白芍藥　細辛根（一分）</p>
<p>上㕮咀，用水半盞，姜一片，薄荷葉煎服。</p>
<p>蘆薈丸　治脾胃積熱，遂成疳疾，宜服此藥。</p>
<p>蘆薈（一錢，另研）　黃連（去須）　龍膽草　蕪荑（去皮，先炒黃色，惟除蘆薈，入前二藥同炒）</p>
<p>上為末，飯飲丸，如黍米大，隨大小加減，空心米湯下。</p>
<p>大蘆薈丸　治諸疳。</p>
<p>蘆薈　蕪荑　木香　青黛　川黃連　檳榔（各一分）　蟬殼（二個）　麝（少許）　胡黃連（半分）</p>
<p>上為末，以雄豬膽汁浸糕作糊，丸如麻子大，每服三十丸，米飲送下。</p>
<p>燒針丸　治膈吐逆下，注瀉不止。</p>
<p>黃丹　硃砂　白礬（枯）</p>
<p>上為末，以棗肉丸，如大豆大，每用三四丸，戳針尖上，於燈焰上燒過，研爛，涼，米泔水調下，瀉者食前，吐者無時。又名硃砂丸。</p>
<p>木香清膈飲子　治小兒痢。</p>
<p>木香　人參　甘草　厚朴　陳皮　茯苓　杏仁　雞蘇　縮砂　麥門冬</p>
<p>上㕮咀，薑棗煎服，效。</p>
<p>乳子詩</p>
<p>養子須調護，看承莫縱馳。乳多終損胃，食壅即傷脾。衾厚非為益，衣單正所宜。無風頻見日，寒暑順天時。</p>
<p>彭用光曰：凡嬰孩在襁褓中，及能笑語、行動之時，俱宜常見天日，並受地氣，則嬰孩氣血堅壯，易養成人，如高山之樹木堅實也。惟大暑、大寒、暴風、烈日、霜雪之時，則當保護迴避，所謂「無風頻見日，寒暑順天時」也。</p>
