<header data-type="book">
<h1>傷寒標本心法類萃</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉完素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM022</dd></div>
</dl>
</header>
<h2>卷上</h2>
<h3>（第一節）傷風</h3>
<p>傷風之證，頭疼項強，肢節煩疼，或目痛肌熱乾嘔鼻塞，手足溫，自汗出，惡風，其脈陽浮而緩，陰浮而弱，此為邪在表，已上傷風之證皆宜桂枝湯。第二次以解肌，傷寒汗出怕風，而加項強痛者，桂枝葛根湯。第三傷風及無汗者，雖已服桂枝湯反煩不解，而無裏證者，先刺風池風府，卻與桂枝葛根湯。服之不若通用雙解散五十一，免致有桂枝麻黃之悞。傷風自汗白虎湯二十二金匱方，太陽病無汗而渴者，不可與白虎湯。</p>
<h3>（第二節）傷寒</h3>
<p>傷寒之證，頭項病疼，腰脊強，身體拘急，惡寒不煩燥，無自汗或致頭面目疼，肌熱鼻乾或胸滿而喘，手足指末微厥，脈浮數而緊者，邪在表，以上傷寒之證，皆宜麻黃湯第一以發其汗，傷寒冒風，頭目痛，四肢拘倦，比金散四十六，不若通用天水散四十九，或雙解散之類五十一甚佳，無使藥不中病而益加害也。白虎合涼膈散二十三乃調理傷寒之上藥傷風甚妙。</p>
<h3>（第三節）中暑</h3>
<p>中暑之證，身熱頭痛背寒，面垢自汗，煩燥大渴，口乾倦怠而身不痛，或時惡寒，或畏日氣，脈虛而弱，無問表裏，通宜白虎。夏月感冒發熱煩渴，五苓散二十四，桂枝甘露飲三十四，黃連香薷飲五十二，或雙解散；或裏熱甚，腹滿而脈沉可下者，大承氣湯下之，或三一承氣湯尤妙。半表半裏者小柴胡、涼膈、天水散。</p>
<h3>（第四節）中濕</h3>
<p>中濕之證，一身盡疼重者，發黃，關節煩疼，發熱鼻塞時，或腹滿脹大便利，脈沉而緩，以上中濕之證，先用雙解散微微汗之，次用五苓散或淡滲散、桂苓甘露飲，曾用甘露飲不愈，卻用黃連解毒則愈，問曰：若劑止土之甘，此屬土，故以火劑燥土，其病則愈。</p>
<h3>（第五節）風寒俱中</h3>
<p>風寒俱中之證，頭痛項強肢體疼手足溫，為中風，反無汗惡寒脈浮緊，為傷寒也，或頭項疼腰脊強身體拘急，指末微厥不自汗，為傷寒，反煩燥而脈緩者，為傷風也。風則傷衛，寒則傷榮，榮衛俱傷則表裏熱甚者，通宜以大青湯，或雙解散最妙。</p>
<h3>（第六節）內外傷寒</h3>
<p>始得脈便沉，而裏病表和者，內傷也，脈浮而表病裏和者，外傷也，病在身體四肢為表病，病在胸腹之內為裏病，內傷通解散，外傷雙解散，內外一切所傷通神散，然不若雙解散，以子和為之，三法至神。</p>
<h3>（第七節）一切汗候</h3>
<p>風寒暑濕，飢飽勞逸，憂愁思慮恚恐悲怒，四時中外諸邪所傷，但覺身熱頭疼拘倦強痛，無問自汗無汗，增寒發熱，渴與不渴，微甚傷寒疫癘汗病，兩感風氣雜病，一切舊病發作，三日裏外並宜雙解散。設若感之勢甚本難解者，常服雙解散，三兩日間亦漸可減，並無所損，或裏熱極甚，腹滿實痛，煩渴譫妄，須可下者，三乙承氣湯為妙，或下後未愈，或下證未全，或大汗前後逆氣，或汗後餘熱不解，或遺熱復勞，或染他人病氣汗毒傳染，或中瘴氣羊氣牛氣一切穢毒，并漆毒酒毒食毒，一切藥毒及墜墮打撲傷損疼痛，或久患風眩頭疼，中風偏枯，破傷風，洗頭風，風癇病，或婦人產後諸疾，小兒驚風積熱，瘡瘍疹痘，無問日數，但以雙解散服之，周身中外氣血宣通，病皆除愈，然雙解乃通仙之藥，但除孕婦及產後月經過多，并泄瀉者勿與服之，惟年老人最宜，自有造化於中矣。</p>
<h3>（第八節）傳染</h3>
<p>凡傷寒疫癘之病，何以別之，蓋脈不浮者，傳染也，設若以熱藥解表，不惟不解，其病反甚而危殆矣。其治之法，自汗宜以蒼朮白虎湯，無汗宜滑石涼膈散，散熱而愈，其不解者通其表裏微甚，隨證治之，而與傷寒之法皆無異也。雙解散、益元散皆為神方。</p>
<h3>（第九節）表證</h3>
<p>凡表證脈浮，身體肢節疼痛，惡風惡寒者，可汗之，不可下也。傷寒無汗麻黃湯，傷風自汗桂枝湯。一法不問風寒通用雙解散，或天水散最妙。</p>
<h3>（第十節）裏證</h3>
<p>凡裏證脈實而不浮，不惡寒及惡風，身不疼，自汗譫語不大便，或咽乾腹滿者可下之，不可汗也，以上之證，宜小承氣湯，大承氣湯，調胃承氣湯，選而用之。一法不問風寒暑濕，或表裏兩證俱不見，但無表證，而有可下者，通用三乙承氣湯下之。此藥發峻效，使無表熱入裏而無結胸及痞之眾疾也。或熱結極深，而諸藥數下，畢竟不能利，不救成死者，大承氣湯加甘遂一錢匕下之，病在裏，脈沉細者，無問風寒暑濕，或表裏證俱不見，或內外諸邪所傷，有汗無汗，心腹痛滿，譫妄煩燥，畜熱內盛，但是脈沉者，宜三乙承氣湯合解毒湯下之，解毒調胃承氣湯能瀉大熱。</p>
<h3>（第十一節）表裏證</h3>
<p>表裏俱見之證，或半表或半在裏之證者，謂前表裏二證，病在相參，有欲汗之，而有裏病欲下之，而表病未解，汗之不可，吐之又不可，法當和解傷風，白虎湯。傷寒中風或兩感，小柴胡湯。一法不問風寒暑濕用涼膈散，天水散，二藥合一服用煎解之，或表熱多裏熱少，天水一涼膈半。或裏熱多表熱少，涼膈一天水半。表熱極，裏有微熱，身疼頭痛或眩或嘔，不可汗吐下者，天水涼膈散合和解之。解之又不能退其熱者，用黃連解毒湯。表裏之熱俱微者五苓散。表裏之熱俱盛者大柴胡湯微下之，更甚者大柴胡合大承氣湯下之，雙除表裏之熱，服雙解散之後，若不解，病已傳變，後三日，在裏法當下之，殊不知下之太早則表熱乘虛而入裏，遂成結胸虛痞懊憹發黃之證，輕者必危，危者必死。但宜平和之藥宣散其表，和解其裏，病勢或有汗而愈，或無汗氣和而愈，用小柴胡、涼膈、天水合和主之，病在半表半裏，用小柴胡、涼膈散合和而解之，或小柴胡合解毒湯。如服熱勢未退者，大柴胡合三乙承氣湯。表裏俱微，半表半裏若裏微者，宜大柴胡合黃連解毒湯合服。諸小柴胡湯證後病不解，表裏熱勢更甚，而心下急鬱微煩，或發熱汗出不解，心下痞鞕，嘔吐不利，或陽明病多汗，或少陰病下利清水，心下痛而口乾。或太陰病腹滿而痛，或無表裏症，但發熱七八日，雖脈浮而數，而脈在肌肉，實數而滑者，並宜大柴胡湯。病至七八日，裏熱已甚，表漸微，脈雖浮數，用三乙承氣湯合解毒下之。下證未全不可下者，用白虎湯或知母石膏湯。脈洪燥裏有微熱不可汗者，用黃連解毒湯。</p>
<h3>（第十二節）汗後不解</h3>
<p>凡是表證，法當汗之，依法汗之，其病又不解，汗後不解，其證前後別無異證者，通宜涼膈散調之，以退其熱，無使熱甚危極也。除此之外，遠勝小柴胡湯，兩感至此而已。汗後餘熱用益元散，或小柴胡湯，宣武人參石膏湯。傷寒大發汗，汗出不解，反無汗脈尚浮者，蒼朮白虎湯解之。傷寒用桂枝湯發半日許，復熱煩脈浮者，再宜桂枝湯。汗後不解，下證未全者白虎湯。汗後煩燥不得眠，微熱而渴五苓散。汗後不解中外有熱，口乾煩渴柴胡飲子。解表之後尚未愈者，解毒、涼膈、天水散，能調順陰陽，洗滌藏府。</p>
<h3>（第十三節）下後不解</h3>
<p>凡是裏證，法當下之，依法下之其病又不解，或大下後，或再三下後，熱勢尚甚而不退，本氣虛損而不能實，擬更下之，恐下晚而立死，不下之，則熱極而死，寒涼諸藥不能退其熱勢之甚者。或濕熱內餘，下利不止，熱不退者，或因大下後，濕熱利不止而熱不退，脈弱氣虛不可更下者，或諸濕熱內餘，小便赤澀，大便溏泄頻併少腹而急痛者，必欲作痢也，通宜黃連解湯以解之。傷寒下之太過胃中無熱，飲水無力，白朮散。又有大下之後，其熱不退，再三下之，熱愈甚，若下之不止，其人脈微氣虛氣弱，不加以法無可生之理，至此下之亦死，不下亦死，但用涼膈合解毒湯調之，陽熱退除陰脈漸生，為之妙法。下之前後無問日數，餘熱不解小柴胡湯。汗下後胃虛大橘皮湯。汗下後胸膈滿悶赤茯苓湯。</p>
<h3>（第十四節）在上涌之</h3>
<p>言病在膈者，當用瓜蒂散吐之，或表證罷，邪熱入裏結於胸中，煩滿而飢不能食，四肢微厥而脈乍急者，宜瓜蒂散吐之。傷寒頭疼久不愈，令人喪明，胸膈亦有宿痰故也，當先涌之，次以白虎湯加減。</p>
<h3>（第十五節）在下泄之</h3>
<p>言病畜熱下焦，則承氣、抵當之類泄之而可也。</p>
<h3>（第十六節）合病</h3>
<p>三陽合病，腹滿身重難以轉側，口燥面垢譫語遺尿，如誤發汗則譫語益甚，下之則便厥，額上汗出，後必發黃，白虎湯。</p>
<h3>（第十七節）兩感</h3>
<p>兩感，謂一日太陽少陰兩證俱見，二日陽明與太陰俱病，三日少陽與厥陰俱病，前六經之證是也，小柴胡湯，涼膈散，五苓散，天水散，通聖散，雙解散，大柴胡湯，可選用之。熱勢甚欲可下者，三乙承氣湯，或解毒合承氣湯。</p>
<h3>（第十八節）痓病</h3>
<p>痓之為病，發熱腹滿，口噤頭搖，瘈瘲不語，項強背直，腰身反強，或目痛或目赤，或閉或反目，或足溫或妄行，其脈沉弦而遲或帶緊者，無汗曰剛痓，有汗曰柔痓，通宜三乙承氣湯合解毒下之。</p>
<h3>（第十九節）頭疼</h3>
<p>頭疼之證，無問風寒暑濕雜病自汗頭疼，俱宜白虎湯，或加川芎荊芥尤妙。頭疼久不愈必致喪明，宜先涌痰，次用白虎加減。風眩痰逆喘嗽頭痛，半夏茯苓湯。頭痛肢體痛，黃連解毒湯。頭疼口乾桂枝、甘露飲。風痰喘嗽頭疼，白虎、半夏橘皮湯。風熱頭疼心煩昏憒，人參石膏湯。傷寒壯熱頭疼，不臥散。</p>
<h3>（第二十節）身疼</h3>
<p>身疼之證無問風寒，通解散。表熱甚，頭項肢體疼痛，黃連解毒湯。傷寒瘟疫遍身疼痛，少力頭旋腰腳麻重，嘔噦壯熱減食，三乙承氣，減硝，加貫眾、紫河車，入金銀煎名銀煎散。中濕身身盡痛，五苓散。</p>
<h3>（第二一節）腹脹滿痛</h3>
<p>腹脹滿，脈沉者，以三乙承氣湯合解毒下之，諸腹滿實痛煩渴譫妄，脈實數而沉者，無問日數，三乙承氣湯。少陽證腹中痛者，小柴胡去黃芩加芍藥湯。少陽證脇下痞鞕者，小柴胡去棗子加牡犡。太陰證腹滿時痛，桂枝加芍藥，痛甚加桂枝大黃。</p>
<h3>（第二二節）往來寒熱</h3>
<p>往來寒熱屬少陽，一日二三作，來往無期，用小柴胡湯主之。</p>
<h3>（第二三節）潮熱</h3>
<p>潮熱屬陽明，一日一發，日晡而作也。陽明裏熱極甚，或吐下後，不解大便五六日至十餘日，日晡潮熱，心胸煩熱而懊憹如瘧狀，脈沉實者，三乙承氣湯。陽明少陽合病，下利日晡發熱如瘧者，大柴胡湯，通宜三承氣合解毒。</p>
<h3>（第二四節）自汗</h3>
<p>自汗者，不發表解肌，自出汗也。傷風自汗也，傷風自汗桂枝湯。傷寒自汗脈沉數而實。表裏俱熱者，三陽合病。自汗者厥逆，自汗者頭疼，自汗者傷寒，自汗未解半入於裏者，中暑自汗脈虛者，俱宜白虎湯。傷寒寢汗不止，白虎湯加麻黃根浮麥。傷寒汗下後，自汗脈虛熱不已，白虎加人參蒼朮服之，汗止身涼通仙之法也。</p>
<p>中暑自汗白虎湯，後以澹滲湯調之。自汗多，宣武人參石膏湯。</p>
<h3>（第二五節）自利并悞下</h3>
<p>自利者，不經下藥攻裏而自利也。脈浮表不解，自利或小便不利者五苓散，一切瀉痢間作，桂苓甘露飲。溫濕內甚而作痢者，黃連解毒湯。或自利清水色純青，心下痞痛口燥者皆濕熱相傳於腸胃之內，而成下利者，三一承氣湯。當汗而反下，反不成結胸，而但下利清穀不化，表證在，表熱裏寒也，急以四逆湯溫裏利止，裏和急以桂枝解表，或用巴豆熱藥下之。而協熱利不止，皆宜五苓散止利兼解表。</p>
<h3>（第二六節）小便不利</h3>
<p>小便不利者，小便難而赤澀也。中暑并傷寒大發汗後，胃中乾煩燥不得眠，脈浮，小便不利，微熱煩渴者，口乾煩渴小便不利者，小便赤澀，通宜五苓散，桂苓甘露飲主之。</p>
<h3>（第二七節）嘔吐</h3>
<p>凡嘔吐者，火性上炎也。無問表裏通宜涼膈散。傷寒雜病一切嘔吐，調胃承氣湯。煩悶乾嘔，黃連解毒湯。嘔吐煩渴者，桂苓甘露飲，五苓散。眩咳嘔者，白虎加半夏橘皮。傷寒嘔吐四肢厥逆清冷，調胃散。濕溫內甚惡心嘔吐者，白虎解毒湯。</p>
<h3>（第二八節）吐瀉</h3>
<p>吐瀉者上吐下瀉，亦名霍亂也。一切吐瀉霍亂通宜五苓散，益元散，白朮散。吐瀉霍亂煩渴并中外諸邪所傷，而吐瀉腹滿痛悶者，並皆桂苓甘露飲，淡滲湯。</p>
<h3>（第二九節）喘嗽</h3>
<p>大熱喘嗽而滿者，黃連解毒湯，或熱甚咳嗽悶亂，三乙承氣湯。少陽咳者，小柴胡去人參大棗生薑加五味子乾薑。喘嗽頭疼者，茯苓半夏湯。咳嗽者，白虎湯加半夏桔梗。咳嗽不已，人參石膏湯，或宣武人參石膏湯。痰逆咳嗽，半夏橘皮湯。汗之後氣悶咳嗽，五味子湯。</p>
<h3>（第三十節）渴</h3>
<p>凡口乾煩渴者，傷寒汗出而渴者，飲水反吐，名曰水逆，俱宜五苓散。少陰病二三日，口燥咽乾三乙承氣湯。或裏熱燥甚，傷寒怫鬱，留飲不散，煩渴不止，則腹高起痛不可忍，但嘔冷涎，大渴不能飲，飲亦不能止其渴，喘急悶亂但欲死者，三乙承氣湯熱下咽，立止其渴，有若無病之人，須臾大汗而愈，至此往往多有不利，而汗出亦有藥力，但隨汗之宣通，不利而愈，或汗吐下後，煩渴口乾脈浮大，白虎湯加人參。煩燥多渴，涼膈散加滑石。</p>
<h3>（第三一節）煩燥</h3>
<p>傷寒煩燥多渴，涼膈散加滑石。中暑傷寒汗後煩燥，五苓散。一切火熱狂躁喘滿，黃連解毒湯。煩燥而渴，白朮散，或加滑石，甚者加薑汁。</p>
<h3>（第三二節）懊憹，虛煩，不得眠</h3>
<p>懊憹，煩心反復顛倒不得眠者，煩熱怫鬱於內，而氣不能宣通也，或胸滿結痛，或煩，微汗出，虛煩者梔子湯主之。或氣少者，加甘草一錢。或嘔者，及初誤以圓藥下者，加生薑半兩。凡懊憹虛煩者，皆用涼膈散甚佳，及宜湯濯手足，使心胸結熱宣散而已。心煩腹滿坐臥不安，梔子厚朴湯主之。或陽明病下之後，燥熱而懊憹者，三乙承氣湯。汗後煩燥不得眠，五苓散或涼膈散。口燥呻吟錯語不得眠，五苓散，黃連解毒湯。煩心者，涼膈散。少陽證胸中煩而不嘔者，小柴胡去半夏人參加瓜蔞實主之。</p>
<h3>（第三三節）留飲</h3>
<p>一切留飲不散，五苓散，桂苓甘露飲，黃連解毒湯，涼膈散，白虎湯，小陷胸湯，三乙承氣湯選用。傷寒表未罷，心下有水氣，乾嘔發熱而咳，或渴或利或噎，或小便不利小腹滿，或喘者小青龍湯。</p>
<h3>（第三四節）痞</h3>
<p>傷寒表裏俱熱，下證未全，法當和解，誤下之蚤，則成痞。心下痞滿而不痛，按之虛軟者痞，脈浮而尚惡寒者，表未解也，當先桂枝解表，已而後用大黃黃連瀉心湯攻痞也。或只用五苓散使除表裏甚良，或痞惡寒而汗出者，或痞而煩，小便不利者，或痞留飲濕熱下利者，或已成痞，因藥尚不止以其痞滿，誤更下之，其痞轉甚，嘔噦下利心煩躁者，無問痞脈浮沉並宜生薑煎湯調下五苓散，頻服之。或痞不已，則後亦濕熱煩滿，或譫妄脈沉，無他證者，宜大黃黃連瀉心湯，或小陷胸湯亦可，下早成痞，檳榔散。</p>
<h3>（第三五節）結胸</h3>
<p>結胸之證有三，不按而痛者名大結胸，按之而痛者名小結胸，心下怔仲頭汗出者，名水結胸也。汗下之後不大便五六日，舌乾而渴，日晡少有潮熱，從心下至小腹鞕滿而痛不可近，而脈沉緊滑數，或但關脈沉緊者，宜大陷胸湯，或陷胸員下之。或脈浮者表未罷也，不可下，下之則死，宜小陷胸湯，及小柴胡湯之類和解之，表罷者方可下之。或結胸雖脈浮而裏熱勢惡，須可下者宜三乙承氣湯，分作三次，約三時許服訖，得利甚良。雖未稍減脈必沉，病微者止用三乙承氣半服，按法而下之。裏熱甚者以大陷胸湯大半服而下之。或但結胸別無大叚熱證，但頭微汗出脈沉滑者，水結胸也，通宜大陷胸。小結胸，心下按之而痛，脈浮而滑，別無大叚熱證，及水結胸者，小陷胸湯。傷寒下之太早，結胸，黃連解毒湯加枳殼。傷寒結胸虛痞，涼膈散加枳穀桔梗，或但自熱結胸者，其胸高起，腹雖不滿而但喘急悶結，譫妄昏冒，關脈沉數而緊者，用大承氣湯加甘遂一錢匕下之。表證罷熱入裏結於胸中，煩滿而饑不能食，微厥而脈乍緊者，瓜蒂散吐之。太陽中風下利嘔逆，表證罷，乾嘔短氣不惡寒熱，熱汗發作有時，頭痛心下痞鞕滿，引脇下痛者，十棗湯。結胸而發黃者，茵陳湯、陷胸湯各半服下之。協熱下利不止，更結胸發黃，茵陳湯五分，陷胸湯三分，大承氣湯二分，下之為佳。脈浮不可下者，小陷胸湯合小柴胡湯。</p>
<h3>（第三六節）血證</h3>
<p>太陽病日深，表證仍在，循經熱畜於下焦，脈微而深，不結胸而發狂者，熱在下焦，小腹當鞕滿，小便自利也，血下而愈，宜攻之。或太陽病，身黃脈沉者，循經而畜熱下焦也。小腹鞕小便不利為無血，小便自利如狂者，瘀血症，或陽明畜熱內甚而喜妄或狂，大便雖鞕而反易其色者，有畜血也。或無表裏證，但發熱日深，脈浮者，亦可下，或已下後脈數，胃熱消穀善饑，數日不大便有瘀血也，並宜抵當湯下之。傷寒有熱，小腹滿小便自利者，為有血也，當下未敢用湯，用抵當丸最為穩當。太陽病不解而畜熱下焦，先以桂枝解表，已而下血，宜桃仁承氣湯，或抵當圓攻之。傷風汗下不解，熱鬱經絡隨氣湧泄為衂，或清道閉，流入胃脘，吐出清血及鼻衂吐血不盡，餘血停留以致面黃大便黑，犀角地黃湯，發狂加黃芩、大黃。</p>
<h3>（第三七節）譫語</h3>
<p>譫語發狂，三乙承氣湯合解毒湯下之。若傷寒過經譫語，以有熱也，當以湯下之。若利小便，大便當鞕，而下利脈和者，醫以圓藥下之，非其治也。若自利者腹當厥，今反和，此為內實，調胃承氣湯或涼膈散通用。</p>
<h3>（第三八節）發黃</h3>
<p>陽明病，表熱極甚，煩滿熱鬱，留飲不散以致濕熱相搏，而身體發黃，其候但頭汗出，身無汗齊頸而還，小便不利，渴飲水漿者，身體發黃，宜茵陳湯調下五苓散。結胸而發黃者，茵陳同陷胸湯各半下之。或誤服熱毒圓藥下之，反損陰氣，遂脇熱利不止，更或結胸而發黃者，用茵陳湯五分，陷胸湯三分，承氣湯一分下之，或兩感發黃者，用茵陳湯加黃連解毒湯，一服急下之。頭微汗小便利而發微黃者，濕熱微也，梔子柏皮湯。發黃甚者，茵陳合三乙承氣湯。</p>
<h3>（第三九節）發斑</h3>
<p>發斑，下證未全，涼膈散。未曾下，胃熱發斑，白虎湯加人參白朮。陽明胃熱發斑脈沉，須可下者，三乙承氣湯下之。傷寒胃熱發斑，涼膈散加滑石調五苓散甚妙。傷寒七八日，發黃有斑微熱腹滿者，或痰實壅上，雖諸承氣湯不過者，仲景曰寸脈浮滑者，可用瓜蒂散吐之。</p>
<h3>（第四十節）發狂</h3>
<p>傷寒，發狂奔走罵詈，不避親疏，此陽有餘陰不足。三乙承氣湯加當歸薑棗，名當歸承氣湯，以利數行，候微緩，以三聖散吐之，後用涼膈散，洗心散，黃連解毒湯調之，譫妄發狂，踰垣上屋赴井投河，皆為陽熱極甚，用三乙承氣合解毒下之，驚悸顛狂三乙承氣湯。發狂極甚投河入井者，三下不過，不可下攻，便當涌之，以瓜蒂散吐出痰涎宿物，一掃而愈，後以甘露飲之類調之。</p>
<h3>（第四一節）發戰</h3>
<p>凡熱病大汗將出，而反寒戰者，表之正氣與邪氣併甚於裏，火熱亢極而反兼水化，制之反為寒戰，脈微欲絕者，三乙承氣湯，或十棗湯下之。凡欲作汗，無問病之微甚，或已經新下者，或下證未全者，但以涼膈散調之，甚者黃連解毒湯。或下後二三日，或未經下，腹滿煩渴，脈沉實而有裏證者，三乙承氣湯下之，勢惡者加黃連解毒湯。或戰不快者，或戰後汗出不快者，或戰數次，經大戰而汗不當者，乃并之不甚，而法之不達，通宜三乙承氣湯，或更加黃連解毒湯下之，以散怫熱而開鬱結也。</p>
<h3>（第四二節）發厥</h3>
<p>或表熱極甚而恐承氣不能退者，或已下後而熱不退者，或畜熱內甚陽厥極深，以陽氣怫鬱，不能營運於身表四肢，以致通身清冷，痛甚不堪，項背拘急，目青睛疼，昏眩恍惚，咽乾，或痛躁渴虛汗，嘔吐下利，腹滿實痛，煩冤悶亂，喘急鄭聲，脈雖疾數，以其畜熱極深，而脈道不利，反致脈沉細而欲絕。俗未明其造化之理，而反謂其傷寒極陰毒者，或始得之陽熱暴甚，而便有此證候者，或兩感熱勢甚者，通宜解毒加大承氣湯下之，熱不退者，宜再下之。然雖古人云：三下之而熱未退即死矣，亦有按法以下三五次，利一二十行，熱方退而得活者，免致不下退其熱而必死也。下後熱少退而未愈者，黃連解毒湯調之，或失下熱極，以致身冷脈微，而昏冒將死者，若急下之，殘陰暴絕而死。蓋陽氣後竭而然也，不下亦死，宜涼膈散或黃連解毒湯，或二藥合服，或白虎合涼膈散，養陰退陽積熱漸以宣散，則心胸溫煖脈漸以生，至於脈復有力，方可以三乙承氣湯下之，或解毒加六一散調之。愈後宜服退熱之藥，忌發熱諸物。裏熱脈厥者，宜白虎湯。熱極厥深，而諸藥下，畢竟不能利者，不救必死，黃連解毒湯更加甘遂末一錢匕下之。</p>
<h3>（第四三節）循衣摸床</h3>
<p>陽明病，脈遲，汗出不惡寒，身重短氣，狂語如見鬼狀，劇者發則不識人，循衣摸床，惕而不安，直視微喘，三乙承氣湯。</p>
<h3>（第四四節）勞復食復</h3>
<p>汗下後勞復，柴胡飲子。飲酒復劇，黃連解毒湯或雙解加黃連，在裏者，三乙承氣湯，在表者，益元散或雙解散。半表半裏，大柴胡湯，小柴胡湯，涼膈散，解毒湯，隨證用之，食復，三乙承氣湯。</p>
<p>傷寒標本卷上終。</p>
<h2>卷下</h2>
<h3>麻黃湯　一</h3>
<p>麻黃（六錢），桂枝（四錢），甘草（二錢），杏仁（七枚）</p>
<p>右作二帖，水二鍾，煎八分，取汁。麻黃性熱，惟冬及春兼病人素虛寒者乃用，正方夏至之後，服之必發斑黃，須加知母半兩，石膏一兩，黃芩一分，桂枝加減，月令同。</p>
<h3>桂枝湯　二</h3>
<p>桂枝，芍藥（各二錢半），甘草（一錢半）</p>
<p>右作一帖，薑三片，棗一枚，煎服，取微汗，倍加芍藥，名桂枝芍藥湯。加大黃，名桂枝大黃湯。金匱方曰：太陽病自汗而小便數者，不可與桂枝湯。</p>
<h3>桂枝葛根湯　三</h3>
<p>桂枝，芍藥，甘草（各二錢半），生薑（四錢），大棗（二枚），葛根（五錢二分）</p>
<p>右作二服，水煎，取微汗。</p>
<h3>葛根湯　四</h3>
<p>葛根（一兩四錢），麻黃（三錢），生薑（三錢），桂枝，甘草，芍藥（各二錢），棗一枚</p>
<p>右作二帖，水煎服，衣覆取汗為度。</p>
<h3>升麻葛根湯　五</h3>
<p>升麻，乾葛，芍藥，甘草（各三錢）</p>
<p>右作二服，水煎，若大叚寒即熱，若熱即溫服，身涼為度。</p>
<h3>大青龍湯　六</h3>
<p>麻黃，石膏（各四錢半），桂枝（一錢半），甘草（同上），杏仁（三枚）</p>
<p>右作二帖，薑三片，棗一枚，水煎取微汗，不可大過，恐亡陽，以溫粉撲之。</p>
<h3>小青龍湯　七</h3>
<p>半夏（六分），北五味（一錢二分），麻黃，芍藥，細辛，甘草，乾薑，桂枝（各一錢八分）</p>
<p>右作二帖，生薑四片，水煎諸方，皆不用生薑。</p>
<h3>大柴胡湯　八</h3>
<p>柴胡（三錢），黃芩（一錢半），將軍（七錢），芍藥（錢半），半夏（一錢），枳實（二錢）</p>
<p>右作一帖，生薑五片，棗一枚，煎大柴胡，合三乙承氣湯，合黃連解毒湯，合大承氣湯。</p>
<h3>小柴胡湯　九</h3>
<p>柴胡（八錢），黃芩，甘草，人參（各三錢），半夏（二錢半）</p>
<p>右五錢，生薑五片，棗一枚煎，溫服。</p>
<p>一法本方合涼膈天水。</p>
<p>一法本方合涼膈散。</p>
<p>一法本方合解毒湯。一法本方去棗子加牡蠣。</p>
<p>一法本方去人參大棗生薑加五味子乾薑。</p>
<p>一法本方去半夏人參，加栝蔞實。</p>
<h3>大承氣湯　十</h3>
<p>大黃，芒硝（各二錢），厚朴（四錢），枳實（三枚）</p>
<p>右作一帖，水二鍾，先煎厚朴枳實，次下大黃，煎取八分，去滓入硝煎一二沸，放溫服。一法本方加甘遂末一錢匕。</p>
<h3>調胃承氣湯　十一</h3>
<p>大黃（三錢），芒硝（二錢），甘草（一錢半）</p>
<p>右作一帖，水二鍾煎，溫服。</p>
<h3>小承氣湯　十二</h3>
<p>大黃（三錢），厚朴（一錢半），枳實（一錢）</p>
<p>右作一帖，水二鍾煎，溫服。</p>
<h3>三乙承氣湯　十三</h3>
<p>大黃（二錢），芒硝（一錢半），厚朴（一錢半），枳實（一錢），甘草（二錢）</p>
<p>右作一帖，水煎溫服。</p>
<p>一法本方減硝，加貫眾紫河車，入金銀煎名銀煎散。</p>
<p>一法本方加當歸薑棗，名當歸承氣湯。</p>
<h3>桃仁承氣湯　十四</h3>
<p>桃仁（去皮尖），芒硝（錢半），大黃（二錢），桂枝，甘草（各一錢半）</p>
<p>右作一帖，水煎，空心服。</p>
<h3>犀角地黃湯　十五</h3>
<p>犀角，白芍藥，牡丹皮（各五分），生地黃（四錢）</p>
<p>右作一帖水煎，有熱加黃芩一錢。發狂血證加大黃。本方無大黃，血證內有。</p>
<h3>大陷胸湯　十六</h3>
<p>大黃（二錢），芒硝（二錢半），甘遂（一分些小便是）</p>
<p>右作一帖，水煎溫服。未快再服，勢惡不利，以意加之。</p>
<h3>大陷胸圓　十七</h3>
<p>大黃（半兩），芒硝（二錢半），葶藶（三錢炒另研），杏仁（十二枚炒）</p>
<p>右大黃末，下葶藶杵，羅研杏仁、芒硝如泥，圓如彈子大。每服一丸入甘遂末三字，白蜜半匙，水一鍾，煎至半鍾，溫服。當一宿未利，再服。</p>
<h3>小陷胸湯　十八</h3>
<p>半夏，黃連，栝蔞實（一枚四分用之）</p>
<p>右作一帖，水煎溫服，未利再服黃涎即愈。</p>
<p>一法本方合小柴胡湯。</p>
<h3>抵當湯　十九</h3>
<p>水蛭（炒），蝱蟲（各七箇去足翅炒），杏仁（七枚），大黃（二錢半）</p>
<p>右作二帖，水煎，再服。</p>
<h3>抵當圓　二十</h3>
<p>水蛭（炒），蝱蟲（各七箇去足翅炒），杏仁（七枚），大黃（二錢半）</p>
<p>右細末煉蜜作二圓，用水二鍾，煎一圓至六分，溫服，晬時血未下，再服。</p>
<h3>黃連解毒湯　二十一</h3>
<p>黃連，黃柏，黃芩，梔子</p>
<p>每服五錢，水煎溫服。本方合大承氣湯。一法本方加枳殼。本方合三乙承氣湯。一法本方加甘遂末一錢匕。本方合調胃承氣湯。一法本方合涼膈天水散。</p>
<h3>白虎湯（金匱方云：太陽病無汗而渴者，不可服）　二十二</h3>
<p>知母（一錢半），甘草（一兩），粳米（一合），石膏（四兩）</p>
<p>右五錢水煎溫服。一法本方加蒼朮。一法本方加人參蒼朮。一法本方加半夏橘皮。一法本方半夏桔梗。一法本方合解毒湯。一法本方加人參白朮。一法本方合涼膈散。一法本方加麻黃根浮麥。</p>
<h3>涼膈散　二十三</h3>
<p>連翹（一兩），黃芩（半兩），梔子（半兩），甘草（半兩），朴硝（一分），薄荷，大黃（半兩）</p>
<p>右五錢，水煎入蜜少許。一法本方合解毒湯。一法本方加滑石。一法本方加桔梗枳殼。一法本方合天水散。一法本方加滑石調五苓散。</p>
<h3>五苓散（金匱方云：陽明病，汗多而渴者，不可服）　二十四</h3>
<p>豬苓，茯苓，白朮（各五錢），桂心（一分），澤瀉（一兩）</p>
<p>右或調或煎。一法本方加生薑汁調服。</p>
<h3>澹滲湯（即五苓合益元是也）　二十五</h3>
<h3>瓜蒂散　二十六</h3>
<p>瓜蒂（細剉炒），赤小豆（等分又用茶少許）</p>
<p>右為末，豆豉半合，水一盞半，煮汁半盞，調下一錢匕，不吐加服。</p>
<p>頭痛加鬱金，脇痛加竭稍。</p>
<h3>三聖散（見吐門）　二十七</h3>
<p>食前先食薺汁半盞，後調藥服一半，用鵝翎探引吐出，如吐少，更以熱虀汁投之，不已，用麝香煎湯服半盞立止。</p>
<h3>梔子湯　二十八</h3>
<p>大梔子（七枚），豆豉（半合）</p>
<p>右以水煎梔子至一盞半，入豆豉煮至半盞，溫服。</p>
<h3>梔子柏皮湯　二十九</h3>
<p>大梔子（十五枚），黃柏（半兩），甘草（二錢半）</p>
<p>右㕮咀，水二鍾煎。</p>
<h3>梔子厚朴湯　三十</h3>
<p>大梔子（七枚），厚朴（半兩），枳實（二錢）</p>
<p>右㕮咀水煎。</p>
<h3>十棗湯　三十一</h3>
<p>芫花，大戟，甘遂（等分）</p>
<p>右為末，水一盞，棗十枚，劈開煮汁，半盞調藥末半錢匕，實者一錢匕。</p>
<h3>茵陳湯　三十二</h3>
<p>茵陳（一兩），大戟（半兩），梔子（十枚）</p>
<p>右五錢水煎。本方合陷胸湯。本方合大承氣湯。本方五分，陷胸湯三分，大承氣二分。本方解毒湯。</p>
<h3>大黃黃連瀉心湯　三十三</h3>
<p>大黃，黃連，黃芩（等分）</p>
<p>右五錢，水煎。</p>
<p>一法如生薑甚良。</p>
<h3>桂苓甘露飲　三十四</h3>
<p>（即五苓散加寒水石、石膏）</p>
<p>右為末或溫湯，或新水生薑湯調，或煎。一方不用豬苓，一方加甘草，一方有人參，藿香，木香，葛根，滑石，甘草，共一十三味，一名桂苓白朮散。</p>
<h3>人參石膏湯　三十五</h3>
<p>人參（二錢半），白朮（半兩），知母（半兩），黃芩（三錢），川芎（半兩），茯苓（半兩），半夏，山梔（三錢），甘草（一兩），石膏（三兩）</p>
<p>右㕮咀薑煎。</p>
<h3>崔宣武人參石膏湯　三十六</h3>
<p>人參（二錢），石膏（一兩），川芎（二兩），黃芩（二錢），茯苓，防風（各一錢），甘草（五錢）</p>
<p>右五錢，水煎。</p>
<h3>半夏橘皮湯　三十七</h3>
<p>半夏，陳皮，甘草，人參，茯苓，厚朴（各二錢半），葛根（半兩）</p>
<p>右五錢，薑五片。</p>
<h3>茯苓半夏湯　三十八</h3>
<p>茯苓，半夏，生薑（各一錢取汁，素問藥證用水一大盞，煎至四分絞汁，卻下生薑汁服）</p>
<p>右水煎。一方加黃芩，甘草，陳皮（各一錢）。</p>
<h3>大橘皮湯　三十九</h3>
<p>陳皮，甘草（各一兩），人參（二兩）</p>
<p>右五錢薑三片。</p>
<h3>赤茯苓湯　四十</h3>
<p>陳皮，甘草（各一兩），人參（二兩），半夏，白朮，川芎，赤茯苓（各半兩）</p>
<p>右五錢薑五片。</p>
<h3>檳榔散　四十一</h3>
<p>檳榔，枳殼（等分）</p>
<p>右為末三錢，黃連煎湯調下，或黃連解毒湯調下，或瀉心湯調下。</p>
<h3>白朮散　四十二</h3>
<p>白朮，茯苓，人參，藿香（各半兩），甘草，葛根（各一兩），木香（二錢半）</p>
<p>右末白湯調下二錢，熱加滑石，或加生薑。</p>
<h3>四逆湯　四十三</h3>
<p>甘草（一錢），乾薑（一分），附子（中者半箇）</p>
<p>水煎溫服。</p>
<h3>五味子湯　四十四</h3>
<p>五味子（半兩），麥門冬，人參，杏仁，陳皮（二錢）</p>
<p>右五錢薑棗煎。</p>
<h3>不臥散　四十五</h3>
<p>川芎（一兩半），石膏（七錢半），藜蘆（半兩），甘草，人參，細辛（各二錢半）</p>
<p>右為末，口噙水搐鼻少時，飲白湯半碗，汗出而解，一方無人參細辛。</p>
<p>川芎湯</p>
<p>川芎，藁本，蒼朮（等分）</p>
<p>右為末，湯調三錢，須臾嘔汗便解。</p>
<p>柴胡飲子</p>
<p>柴胡，人參，甘草，大黃，當歸，芍藥</p>
<p>右剉五錢，薑五片，水煎。崔宣武加半夏五味子桔梗。</p>
<h3>劉庭瑞方　四十六</h3>
<p>柴胡，甘草（二兩），黃芩，當歸，芍藥（一兩），參，半夏，大黃。</p>
<p>太勞熱五七分以為度。</p>
<h3>北金散　四十七</h3>
<p>荊芥，麻黃，白芷，細辛，何首烏，菊花，防風，石膏，川芎，薄荷，全蝎，草烏</p>
<p>右為末，各等分，每服一錢，煎服，或茶酒送下。</p>
<p>水銀，舶上硫黃</p>
<p>右研至黑，服一錢末飲下，重者二錢。</p>
<h3>通神散　四十九</h3>
<p>河間另有六神通解散，於此加麻黃發汗最佳，和劑方中蔥白散於此去黃芩，滑石，加川芎，白朮，乾葛，亦妙方也</p>
<p>蒼朮，石膏（四兩），甘草，黃芩（二兩），滑石（六兩）。</p>
<h3>益元散，即天水散　五十</h3>
<p>滑石（六兩），甘草（一兩）</p>
<p>右為末水調，或加蜜，或蔥豉湯調，一名天水散，又名六一散。</p>
<h3>通聖散　五十一</h3>
<p>防風，川芎，當歸，芍藥，大黃，薄荷，麻黃，連翹，芒硝（各半兩），石膏（一兩），黃芩，桔梗（各一兩），滑石（一兩），甘草（二兩），荊芥，白朮，梔子（各二錢半）</p>
<p>右剉五錢，薑五片，水煎。</p>
<h3>雙解散　五十二</h3>
<p>益元散，通聖散（各半兩）</p>
<p>右一兩，薑、蔥、豉水煎此藥，雙解加減在通聖散註中。</p>
<h3>黃連香薷飲　五十三</h3>
<p>香薷（一兩），厚朴（半兩），白扁豆（二錢半），香連（三錢）</p>
<p>右剉五錢，入酒少許，水煎，冷服。</p>
<p>治腰腳骨骱痛不止。</p>
<p>用葳靈仙煎酒，食前溫服極妙。</p>
<h3>無憂丸</h3>
<p>治一切食積，氣積，茶積，酒積，瀉痢，氣蠱腹脹膨悶，肚腹疼痛。</p>
<p>黑牽牛（一斤取末十二兩），檳榔（好者二兩），豬牙皂角（二兩），三稜（二兩），莪荗（二兩，各用好醋浸濕紙煨香，熟取出切碎）</p>
<p>右同前藥晒乾為末，又用大角二兩煎湯，打麵糊為丸，每服二錢半，白湯送下，茶亦可，薑湯下。</p>
<h3>太乙神鍼</h3>
<p>羌活，獨活，黃連（各四兩為末），麝香（二錢），乳香（二錢）</p>
<p>右用三月三日艾，四月八日亦可，曬乾打葺入前藥末和勻，用好白紙卷包前藥如箸大。治風痹或在腿，或在腰，在肱，灸七炷，二七炷，三七炷，甚妙。</p>
<p><b>治風蟲牙疼方</b>防風（去蘆），草烏（去尖），細辛（去葉），巴豆（去殼油各等分）</p>
<p>右各味等分為細末，擦牙痛處，涎出立止，切勿嚥下，如食飲，食以鹽湯灌漱飲，無礙。</p>
<h3>神效追蟲取積感應丸（廣大至道高士沉道寍傳）</h3>
<p>檳榔（半斤），樟柳根（半斤），管仲（半斤），大黃（半斤），三稜（四兩醋煮），雷丸（四兩醋煮），莪茂（二兩醋煮），木香（二兩），使君子（四兩取肉），芫花（一兩），苦楝根皮（八兩），黑牽牛（二斤半，取頭末十兩為衣），皂角，茵陳，藿香。</p>
<p>自檳榔至牽牛為末，外用皂角等三味濃煎汁為丸，如梧桐子大，每服三錢重。</p>
<h3>金刀如聖散（又名惡瘡方）</h3>
<p>茅山蒼朮（六兩米泔浸一日一夜），白芷（二兩），川烏（四兩去皮臍生用），防風（四兩淨生用），細辛（三兩去土淨），白朮（二兩五錢），草烏（四兩），本方用兩頭尖，無則川芎（四兩），雄黃（五兩另研細末入藥）</p>
<p>右件俱各生用，晒乾為末用度。</p>
<p>一切金瘡及多年惡瘡，用自己小便洗過，帖藥立效，破傷風緊急用好酒調藥半錢，或一錢服之。蛇傷入枯白礬少許調藥付之，蝎蜇傷用吐，服，蓋之汗也，如汗不出，再服，或涎出亦驗傷處，付藥可。</p>
<p>風狗咬傷處，口噙水洗淨，將藥貼傷處。</p>
<p>湯火傷盪者以新汲水調藥付之。</p>
<p>雷頭風并乾濕癬麻痹，每服半錢服之立效。</p>
<h3>蘆薈丸</h3>
<p>治小兒痞疾疳癆，肚大腹脹，面黃肌瘦，脾胃不和，驚積食積，並皆治之。</p>
<p>蘆薈，麥柏，胡黃連（各一兩），黃連（五錢），蕪夷，肉豆蔻，龍膽草，木香（各四錢），川楝子（五十箇取肉），三稜，蓬荗（各六錢），檳榔（八錢），使君子（六十箇），陳皮，青皮（各八錢），麝香（一錢半），神麯（一兩半），乾蝦蟆</p>
<p>右為細末，薄荷豬膽汁為丸，粟米大，每服一錢，空心米湯下。</p>
<h3>無價寶，一名壯陽丹</h3>
<p>專治五勞七傷，四肢無力，腳腿沉困，骨節酸疼，面目無光，陽痿不起，下元虛冷，夢失精液，服至十夜面目光滑，二十夜老轉少年，一月後陽道復原，四十夜增進飲食，至一百日萬病皆除，冬不寒，夏不熱，鬚髮不白，婦人服之強陰煖子宮，陰陽有益最有功效。</p>
<p>川楝子（二兩），牛膝（一兩酒浸），檳榔（一兩），白芍藥（五錢），菟絲子（一兩另研酒浸），蛇床子（一兩），乾薑（五錢），穿山甲（一大片酥炙），蓮肉（一兩不去心），乳香（三錢另研），沉香（三錢另研），白檀香（五錢另研），鹿茸（一兩炙），巴戟（一兩），大茴香（一兩），仙靈脾（三錢），破故紙（五錢），鳳眼草（三錢），胡蘆巴（五錢），人參（一兩），澤瀉（一兩），山藥（一兩），五味子（一兩），熟地黃（二兩），麥門冬，白蓯蓉，茯苓（各一兩）右二十七味除乳香，沉香，白檀香，菟絲子，四味另研為細末，其餘二十三味各搗爛為細末，同前四味煉蜜為劑，同搗一二百千杵，丸如梧桐子大，每服三十丸增至九十丸，好酒送下，以乾物壓之，修合之日再加丁香一錢。</p>
<h3>膏藥方（和尚傳）</h3>
<p>黃香（三斤），麻黃（半斤），穿山甲，白芨（二味各少許做點藥），蓽麻（四十九粒研細）。</p>
<h3>定子藥</h3>
<p>白礬（一兩火煆同信一處），信（五錢），乳香（二錢），沒藥（二錢），辰砂（五分）</p>
<p>麵糊為定。</p>
<h3>生肌散</h3>
<p>龍骨（火煆），赤石脂（火煆各半兩），乳香，沒藥，海鰾硝，輕粉，全蝎（洗焙乾各一錢），血竭（二錢），黃丹（一錢）</p>
<p>右為末，待瘡頭落盡，此藥填滿在瘡口上，以膏藥貼之一日，甘草湯洗二次，膏藥一二日一換。</p>
<h3>追風托裏散</h3>
<p>甘草，黃耆，當歸，芍藥，白芷，防風，川芎，官桂，瓜蔞仁，金銀花，桔梗</p>
<p>每服水酒共三鍾，煎至一鍾，空心服。</p>
<h3>象牙丸</h3>
<p>象牙（五錢），蜂房（三錢），蟬蛻（三錢），木香（三錢），沒藥（一錢），乳香（三錢），全蝎（一枚），僵蠶（三錢）</p>
<p>先將黃蠟半斤化開，待黑色過卻，將前藥為細末，入蠟內攪勻，傾入水內，取出冷定為丸，如棗大，每服空心一丸滾酒化開，連三日三服，待藥從漏痕出，隔三日再一服，第五日再服一丸，後下定子藥。</p>
<p>傷寒標本卷下終。</p>
