<header data-type="book">
<h1>經絡全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="沈子祿">沈子祿</data>、<data value="徐師曾">徐師曾</data>撰</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1576">公元1576年（明·萬曆四年）</data></dd></div>
</dl>
</header>

<h1>原序</h1>
<p>嘉靖末年，余友沈君承之，手一編見示曰：「此，予所述《經脈分野》也，子深於醫者，幸為我訂而序之。」予謝不能。沈君祈請再三，往復不置，乃應曰：諾。予時方注《禮記》，未有以應也。而沈君從計，偕士之京師居歲余，竟無所遇而還，鬱郁不得志，遂病以死。久之，《禮》注脫稿，乃受書而卒業焉。其書自巔放趾，條析分明，一本《內經》及諸大家之說，而時參以己見，可謂博治，君子稱名家矣。惜其引證繁複，補益太過，則其見托訂正之意，良非虛也。昔吳季子掛劍于徐君之墓，曰：吾已心許之矣，況於口諾者乎？竊惟先君蚤學斯道，洞究大旨，予不肖弗克，纘承先緒，改而從儒，儒幸晚成，猶及先君之存，旦夕過庭，每口授《內經》諸家之論，以為邪客諸脈，痰疾乃生。所謂脈者，非獨寸關尺之謂也，蓋脈之在人身也，有經、有絡、有筋。而經有常奇，絡有大小。又各有直、有支、有正、有別，有正別、諸陰之別，皆為正。而筋亦有直、有支、有別，其傳注之所，曰端、曰俞、曰上、曰下、曰內、曰外、曰前、曰後、曰中、曰間、曰側、曰交、曰會；傳注之名，曰上、曰下、曰出、曰入、曰徑、曰直、曰橫、曰邪、曰起、曰從、曰及、曰循、曰歷、曰注、曰行、曰走、曰之、曰去、曰乘、曰過、曰還、曰絡、曰繞、曰系、曰屬、曰結、曰合、曰交、曰貫、曰布、曰散、曰至、曰抵、曰並，曰挾、曰別、曰約、曰究、曰兼，以別表裡，以分虛實，以明營衛，以測傳變，以辨補瀉，以審汗下，以決死生，皆於是乎取之。彼寸、關、尺者，特以候之而已。針石灼艾，固以此為要，而湯液丸散亦必藉焉。苟不先尋經絡，而茫然施治，烏能中其肯綮，而收萬全之功哉？其說蓋與沈君合，固知此道淵微，唯精研者乃相契也。爰乘稍暇為之刪校，復述樞要，以續斯編，更名曰《經絡全書》，一以酬沈君見托之意，一以纘先君不傳之緒，一以裨後學蒐括之勤。雖間與沈君異同，要不失為忠臣矣！死者如可作也，吾將質之。</p>
<p><u>萬曆四年丙子五月望日，吳江徐師曾序</u></p>

<h1>凡例</h1>
<p>--醫學之道，以洞視臟腑為貴，非扁鵲有神授也。軒岐之書皆所以教人洞視者，後人竟忽焉而莫能察，其不至費人也幾希。所幸沈承之先生編為《經脈分野》，而臟腑鹹得以洞視矣！惜其書迄今將二百年未壽諸梓，雖有傳寫故得其益者尚寡，茲刻之所以不容己也。</p>
<p>--沈君之書，已經伯魯先生為訂正矣。伯魯以為引證繁複，故爰加刪校。予得是編，竊心喜而朝夕讀之。是以知其尚未備也，因僭加補訂，亦經三易稿矣。不謂戊辰冬，聞有吳君聘者，隱於西郊，予慕往就教焉。見予手訂，則曰：「非沈君之原本乎？」乃出其姻親顧君所增訂者示予，予不勝擊節先得君心之所同，然抑又幸也！由是採以所增，廣以未備，辨以訛，刪以復，庶可稱《全書》，洵為不易之典也。</p>
<p>--伯魯刪校之後，復續以《經絡樞要》，因名曰：《經絡全書》，似可謂盡善矣！然臟腑、經絡及筋，有正、有別、有直、有支之類，悉加詳註，不厭重複，務便讀者無遺憾焉。</p>
<p>--脈學之晦，不徒一高陽生也，編中間有正誤，以俟有識者鑑別之。</p>
<p>--醫學之書，通儒習之者甚罕，故魯魚虛虎謬戾，茲為最焉。今雖不暇字音句釋，其義有極難明者，則即注於本句之下，字有不恆見者，則即音於本文之簡端，庶令讀者可以無語塞之憂矣。</p>
<p><u>康熙戊辰臘月，無求子尤乘生洲氏識</u></p>

<h1>前編·分野</h1>

<h2>一、〔巔頂〕</h2>
<p>（頭頂心也）屬足太陽膀胱經（《靈樞》曰：足太陽之脈，起於目內眥，上額交巔。《素問》曰：三陽並至如風雨，上為巔疾，下為漏病。又曰：三陽者，至陽也，蓋足太陽之脈，上交巔上，下屬膀胱，故上為巔疾，下為漏病。且手足三陽，皆行於頭，陽氣親上，上實下虛，下虛則不固。楊上善曰：漏病，膀胱漏泄，言二便數而不禁守也。張潔古曰：巔頂痛，非藁本不能除，此足太陽本經藥也）。又屬足厥陰肝經、督脈之交會（《靈樞》曰：足厥陰之脈連目系，上出額，與督脈會於巔。又曰：營氣上額循巔，下項中，循脊入骶，是督脈也。《素問》曰：督脈與太陽起於目內眥，上額交巔。又曰：春脈太過，則令善怒，忽忽眩冒而巔疾。王海藏曰：巨陽從頭走足，唯厥陰與督脈會於巔，逆而上行。諸陽不得下，故令巔痛。錢氏瀉青丸，用羌活，以其氣雄，入太陽也。瀉青，乃足太陽、厥陰之藥。注：春脈，肝脈也。巨陽，即太陽也）。又屬手足少陽三焦、膽經（《靈樞》曰：手少陽之正，指天，別於巔，入缺盆，下走三焦，散於胸中也。又曰：足少陽之筋，其直者循耳後，上額角，交巔上）。又屬足少陰腎經（《素問》曰：頭痛巔疾，下虛上實，過在足少陰，巨陽甚，則入腎。沈承之曰：肺出氣，腎納氣，足太陽膀胱乃腎之府，腎虛則不能納氣歸原，反從足太陽，溯而上行，入額交巔，故頭痛也）。</p>

<h2>二、〔頭〕</h2>
<p>屬足太陽膀胱經、督脈之交會（《靈樞》曰：足太陽之脈，是動則病，沖頭痛，目似脫，項似拔。《素問》曰：傷寒一日，巨陽受之，故頭痛。七日，巨陽病衰，頭痛少愈。又曰：熱病始於頭首者，刺項太陽而汗出止。又曰：巨陽之厥，則腫首頭重，足不能行，發為眴僕）。又屬足陽明胃經。（《靈樞》曰：足陽明之別，循脛骨外廉，上絡頭項。又曰：胃氣上注於肺，其悍氣上衝頭者，循咽，上走空竅。《素問》曰：陽明所謂客孫脈，則頭痛、鼻鼽、腹腫。婁全善曰：病在胃而頭痛者，必下之，方愈也）。又屬足少陽膽經（《靈樞》曰：厥頭痛，頭痛甚，耳前後脈湧，有熱，瀉出其血，後取足少陽。李東垣曰：頭痛耳鳴，氣虛頭痛也，以人參、黃耆主之。朱丹溪曰：東垣青空膏，治少陽頭痛）。又總屬手足三陽經、陽維之脈（《靈樞》曰：手之三陽從手走頭，足之三陽從頭走足。又曰：頭半寒痛，先取手少陽、陽明，後取足少陽、陽明。《素問》曰：頭上五行，行五者，以越諸陽之熱逆也。王啟玄曰：三陽之脈，盡上放頭。頭者，三陽之會也。張子和曰：頭痛不止，乃三陽受病也。孫景思曰：今人頭風，亦由陽氣虛弱。沈承之曰：頭有五行，中行前自發際，循頂下項至大椎，屬督脈。前髮際上一寸，名神庭穴，屬足太陽膀胱、陽明胃經、督脈之會。後髮際上一寸，名風府穴；五分，名啞門穴，並屬督脈、陽維之會。第二行，去中行左右各開一寸五分，前後各以髮際為度，屬足太陽膀胱經。第三行，左右各直目瞳子上，前後亦以髮際為度，屬足太陽膀胱、少陽膽經、陽維之會）。又屬足厥陰肝經（《靈樞》曰：厥頭痛，頭脈痛，心悲善泣，視頭動脈及甚者，刺盡出血，後調足厥陰。《素問》曰：肝熱病者，其逆則頭痛員員，脈引沖頭也。又曰：徇蒙招尤，目眩耳聾，下實上虛，過在足少陽、厥陰。注：徇蒙者，如以物蒙其首，招搖不定；目眩耳聾，皆暈之狀也，此為肝厥，宜鉤藤散。王海藏曰：酒浸當歸，治諸頭痛。蓋頭痛皆屬肝木，故以血藥主之。朱丹溪曰：血虛頭痛，從魚尾上攻，相連頭痛者，當歸、川芎主之，蓋在足太陽、足厥陰也）。兼屬足少陰腎經（《靈樞》曰：厥頭痛，員員頭重而痛，瀉頭上五行，先取手少陰，後取足少陰。許知可曰：肝虛為上虛，虛則頭暈；腎虛為下虛，虛則頭痛。李東垣曰：有厥逆頭痛者，所犯大寒，內至骨髓。髓以腦為主，腦逆，故令腦痛齒亦痛，宜羌活附子湯）。又分屬足六經（李東垣曰：頭痛須用川芎。如不應，各加引經藥。太陽川芎、陽明白芷、少陽柴胡、太陰蒼朮、少陰細辛、厥陰吳茱萸。又曰：太陽頭痛，脈浮緊者，川芎、羌活、麻黃主之。少陽頭痛，脈弦細，寒熱往來者，柴胡、黃芩主之。陽明頭痛，自汗，發熱不惡寒，脈浮長者，升麻、葛根、石膏、白芷主之。太陰頭痛，必有痰，體重、腹痛、為痰癖，蒼朮、半夏主之。少陰頭痛，三陰三陽不流行，足寒氣逆為寒厥，其脈沉細，麻黃附子細辛湯主之。厥陰頭痛，或吐痰沫，冷厥，脈沉緩，吳茱萸湯主之）。</p>

<h2>三、〔囟〕</h2>
<p>屬足太陽膀胱經、督脈之會（囟在額上，入髮際二寸，囟會穴之分也，俗呼為囟門。《靈樞》曰：足太陽所生病者，頭囟頂痛也）。</p>

<h2>四、〔額〕</h2>
<p>屬足陽明胃經（額者，髮際之前，闕庭之上也。《靈樞》曰：足陽明之脈，耳前過客主人，循髮際至額顱。張潔古曰：白芷，治陽明頭痛在額，及諸風通用。王海藏曰：葛根湯，陽明胃經中風仙藥也。若太陽初病，未入陽明者，不可便服此湯發之）。又屬足太陽膀胱、厥陰肝經、督脈之交會（《明堂經》曰：神庭一穴，在髮際直鼻上，督脈與足太陽、陽明之會。主治腫氣，及風癇不識人。灸七壯至百壯，禁不可針。《靈樞》曰：熱病，面青腦痛。手足躁者，取之筋，索筋於肝也）。兼屬手少陰心經（《素問》曰：心熱病者，顏先赤。顏，額也。王海藏曰：頭汗出，劑頸而還，血症也。額上偏多者屬心部，亦血症也）。</p>

<h2>五、〔頭角〕</h2>
<p>屬足少陽膽經（頭角者，額之兩旁，直耳上突起之骨也。《靈樞》曰：足少陽之脈，起於目銳眥，上抵頭角。《素問》曰：上部天，兩額之動脈，以候頭角之氣。注：頭角之氣，在額兩旁，動應於手，足少陽脈氣所行也。張子和曰：額角上痛，俗呼偏頭痛者，足少陽經也。王叔和所謂「寸脈急而頭痛者」是也。如痛久不已，則令人喪目，以三陽受病，皆胸中有宿痰所致也。先以茶調散吐之，乃服川芎、薄荷辛涼清上之藥）。又屬手少陽三焦經（《靈樞》曰：手少陽之脈，耳後直上，出耳上角。又曰：手少陽之筋，其支者，循耳前，屬目外眥，上乘頷，結於角）。兼屬足太陽膀胱、陽明胃經、陽維脈之會（《靈樞》曰：足太陽之脈，其支者，從巔至耳上角。沈承之曰：直兩耳上，屬手足少陽三焦、膽經、足太陽膀胱經，陽維之會。兩耳前角上，屬手足少陽三焦、膽經、足陽明胃經之會。兩耳後角上，屬足太陽膀胱、少陽膽經之會）。</p>

<h2>六、〔枕骨〕</h2>
<p>屬足太陽膀胱、少陰腎經、督脈之會（《靈樞》曰：足太陽之筋，其直者結於枕骨。又曰：足少陰之筋，挾膂上至項，結於枕骨，與足太陽之筋合）。</p>

<h2>七、〔頒〕</h2>
<p>屬手少陽三焦經（頒，鬢間也。孟子所稱「頒白者」之頒即是，舊又重出鬢間，非。《靈樞》曰：手少陽之脈，從耳後，入耳中，出走耳前，過客主人）。又屬足少陽膽經、手太陽小腸經之會（《明堂經》曰：角孫二穴，在耳廓中間，開口有空，手太陽、手足少陽三脈之會也）。又足陽明胃經（《靈樞》曰：足陽明之脈，循頰車，上耳前）。</p>

<h2>八、〔⿱⿰步攵目〕</h2>
<p>（眉目之間，闕庭之部也。徐伯魯曰：沈承之注以為顏者，非也）屬足太陽膀胱經、衝脈、督脈之會（顧英白曰：亦名頏顙。《靈樞》曰：闕者，眉間也；庭者，頏也。黑色出於庭，大如拇指，必不病而卒死。又曰：足太陽之筋，上頭，下顏，結於鼻。又曰：頏顙者，分氣之所泄也。故人之鼻洞涕出不收者，頏顙不閉，分氣失也。又曰：衝脈上出於頏顙，滲諸陽，灌諸精）。兼屬足厥陰肝經（《靈樞》曰：足厥陰之脈，循喉嚨之後，上入頏顙。病甚，則嗌乾，面塵脫色）。</p>

<h2>九、〔面〕</h2>
<p>統屬足陽明胃經（《靈樞》曰：邪中於面，則下陽明。又曰：足陽明有挾鼻入於面者，名曰懸顱，屬口對，入系目本。《素問》曰：女子五七，陽明脈衰，面始焦，發始墮；丈夫六八，陽氣衰竭於上，面焦，髮鬢頒白。又曰：已食如飢者胃疸，面腫曰風，蓋陽明胃之脈，行於面故爾。又曰：陽明之厥，面赤而熱，妄見而妄言。《中藏》曰：胃熱則面赤如醉人。葉氏曰：人之面部，陽明之所屬也，故胃中有熱則面熱，升麻湯加黃連；胃中有寒則面寒，升麻加附子湯。若風熱內盛而上攻，令人面目腫，或風刺隱疹，隨其症而治之）。又屬手足太陽小腸、膀胱經（《靈樞》曰：手太陽之上，血氣盛，則有多須，面多肉以平；血氣皆少，則面瘦惡色。又曰：足太陽之上，血氣和，則美色。其肥而澤者，血氣有餘；肥而不澤者，氣有餘，血不足；瘦而無澤者，氣血俱不足）。又總屬諸陽經（《靈樞》曰：諸陽之會，皆在於面。中人也，方乘虛時，及新用力，若飲食汗出，腠理開而中於邪。又曰：十二經脈，三百六十五絡，其血氣皆上於面而走空竅；其精陽氣上走於目而為睛；其彆氣走於耳而為聽；其宗氣上出於鼻而為臭；其濁氣出於胃，走唇舌而為味。其氣之精液，皆上熏於面）。兼屬手少陰心經（《靈樞》曰：手少陰氣絕則脈不通，脈不通則血不流，血不流則髮色不澤，故其面色如漆柴者，血先死也。《素問》曰：心者，生之本，神之變也，其華在面。又曰：心之合，脈也；其榮，色也）。又以五色命五臟（《靈樞》曰：青為肝，赤為心，白為肺，黃為脾，黑為腎。又曰：色青者其脈弦也，黃者其脈代也，白者其脈毛，黑者其脈石。見其色而不得其脈，反得相勝之脈則死矣。得其相生之脈，則病已矣。又曰：五色之見也，各出其色部，部骨陷者，必不免於病矣。其色部乘襲者，雖病甚不死。夫青黑為痛，黃赤為熱，白為寒。《素問》曰：生於肝，如以縞裹紺，故青欲如蒼璧之澤，不欲如藍。生於心，如以縞裹朱，故赤欲如帛裹朱；不欲如赭。生於脾，如以縞裹栝蔞實，故黃欲如羅裹雄黃，不欲如黃土。生於肺，如以縞裹紅，故白欲如鵝羽，不欲如鹼。生於腎，如以縞裹紫，故黑欲如重漆色，不欲如地蒼。又曰：青如翠羽者生，如草滋者死；赤如雞冠者生，如衃血者死；黃如蟹腹者生，如枳實者死；白如豕膏者生，如枯骨者死；黑如烏羽者生，如炲者死）。</p>

<h2>十、〔眉〕</h2>
<p>屬足太陽膀胱經（《靈樞》曰：人之嚏者，補足太陽，榮眉本。又曰：足太陽之上，血氣盛則美眉，眉有毫毛；血多氣少則惡眉。朱丹溪曰：眉稜骨痛，屬風熱與痰，治類頭風，白芷、酒黃芩為細末，茶調下。徐伯魯曰：曾常患此，以川芎茶調散治之，神效）。又屬手太陰肺經、足厥陰肝經（《靈樞》曰：闕中者，肺也，闕者，眉間也。色起兩眉薄皮者，病在皮。戴復庵曰：有肝經痰飲一症，發則眉梭骨痛，眼不可開，晝靜夜劇，宜導痰飲或芎辛湯去芽茶，或二陳湯送青州白丸子，甚效）。</p>

<h2>十一、〔目〕</h2>
<p>統屬足厥陰肝經（《靈樞》曰：目者肝之官也，故肝病者眥青。又曰：肝氣通於目，肝和則目能辨五色矣。又曰：肝者，主為將，使之候外，欲知堅固，視目大小。又曰：五十歲，肝氣始衰，肝葉始薄，膽汁始減，目始不明。又曰：足厥陰之脈，連目系，上出額，其支者，從目系下頰。《素問》曰：東方青色，入通於肝，並竅於目，畏清。注：清，冷也。又曰：肝受血而能視。喬嶽曰：肝絕，則目澀欲睡。戴復庵曰：赤眼有數種，無非血壅肝經所致。宜黑神散、消風散等分，白湯調，食後睡時服）。又屬手少陰心經（《靈樞》曰：目者，心使也；心者，神之舍也，故神精亂而不轉，卒然見非常處，精神魂魄，散不相得，故惑也。又曰：手少陰之脈，其支者，從心系上挾咽，系目系。《素問》曰：心者，五臟之專精也；目，其竅也。又曰：心火太盛，則百脈沸騰，血脈逆行，邪害孔竅，天明則日月不明）。又屬足太陰脾經、陽明胃經（《素問》曰：諸有水氣，微先見於目。水者陰也，目下亦陰也，腹者至陰之所居，故水在腹者，必使目下腫也。《靈樞》曰：足陽明之筋，其直者結於鼻上，合於太陽，為目下綱。其病急者，目不合；熱則筋縱，目不開。孫景思曰：古人治目病，以神麯為君者，蓋目疾多因脾胃有痰，浸漬於肝，久則昏眩，故用神麯以健脾胃、消痰飲也。《醫說》曰：有人患赤眼腫痛，不能飲食，診其脈，肝盛脾弱。用涼藥以平肝，則損脾；用溫藥以益脾，則肝愈盛而加病，何以治之？曰：當以溫平藥倍加肉桂，勿用茶調，恐損脾也。肉桂殺肝而益脾，故一舉而兩得之。傳曰：木得桂而枯也）。又屬足太陽膀胱經（《靈樞》曰：足太陽之本，在跟以上五寸中，標在兩絡，根起於至陰，結於命門。命門者，目也。又曰：太陽之脈，其終也，戴眼，反折瘈瘲。又曰：足太陽之筋，其支者，為目上綱。《玄珠》曰：症有戴眼者，謂睛不轉而仰視也。灸崑崙穴，即隨下不戴，穴在兩足外踝骨、後跟骨上陷中，動脈應手。若灸之，仍戴不下者，此為太陽終。故曰：太陽之脈，其終也，戴眼）。兼屬足少陽膽經（《素問》曰：少陽絡者，其百節縱，目睘絕系。目系絕，故目不動而直視也。《靈樞》曰：診目痛，赤脈從上下者，太陽病；從下上者，陽明病；從外走內者，少陽病。注：診，視也，非診脈之診也。赤脈，乃赤筋在目也）。又以五色應五臟（《靈樞》曰：持其尺，察其肉之堅脆，大小滑澀，寒溫燥濕。因視目之五色，以知五臟而決死生。故目赤色者病在心，白在肺、青在肝、黃在脾、黑在腎，黃色不可名者，病在胸中。錢仲陽曰：目內症，赤者心熱，導赤散主之；淡紅者心虛熱，生犀散主之；青者肝熱，瀉青丸主之；黃者脾熱，瀉黃丸主之；無精光者，腎虛也，地黃丸主之）。義統屬諸臟腑（《靈樞》曰：五臟六腑之精氣，皆上注於目而為之精。精之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，其窠氣之精為白眼，肌肉之精為約束裹纈，筋骨血氣之精，而與脈併為系，上屬於腦，後出於項中。故邪中於項，因逢其身之虛，其入深，則隨眼系以入於腦。注：精氣，謂津液也）。</p>

<h2>十二、〔目睛〕</h2>
<p>（黑者謂之烏輪）屬足厥陰肝經（《靈樞》曰：筋之精為黑眼，肝則主筋也。又曰：瞳子黑眼法於陰，白眼赤脈法於陽，故陰陽合轉而精明也。婁全善曰：夏枯草治目珠夜疼，以苦寒藥點上反甚者，神效。蓋白眼疼屬陽，及晝則疼甚，點苦寒藥則效，黑眼疼屬陰，及夜則疼甚，點苦寒藥則反劇）。〔白睛〕屬手太陰肺經（《靈樞》曰：氣之精為白眼。注：肺則主氣也，亦名氣輪）。</p>

<h2>十三、〔瞳子〕</h2>
<p>（亦謂之瞳人）屬足少陰腎經（《靈樞》曰：骨之精為瞳子，腎則主骨也。又曰：五陰氣俱絕，則目系轉，轉則目運。目運者，為志先死；志先死，則遠一日半死矣。腎所以藏精與志也。又曰：足少陰之脈，是動則病目䀮䀮如無所見。又曰：反其目視之，其中有赤脈，上下貫瞳子，見一脈一歲死；見一脈半，一歲半死；見二脈，二歲死；見二脈半，二歲半死；見三脈，三歲死；見赤脈不下貫瞳子者，可治也）。又屬足太陽膀胱經（《素問》曰：瞳子高者，太陽不足，戴眼者，太陽已絕）。</p>

<h2>十四、〔目眶〕</h2>
<p>（瞼也，俗呼為眼胞）屬足太陰脾經、陽明胃經（《靈樞》曰：肉之精為約束裹纈，脾則主肌肉也。又曰：人之目窠上微腫，如新臥起狀，其頸脈動，時咳，按其手足上，窅而不起者，風水膚脹也。《玄珠》曰：上下瞼腫者，脾氣熱也。一曰：脾之候在瞼，瞼動則知脾能消化也。脾病，則瞼澀嗜臥矣。又曰：脾虛則瞼腫。朱丹溪曰：陽明經有風熱，則為爛眼眶。沈承之曰：直兩目瞳子上，接頭之第三行，屬手少陽三焦經、陽維之會。直目瞳子下七分，名承泣穴，屬足陽明胃經、任脈、陰蹺脈之會；一寸名四白穴，屬足陽明胃經）。兼屬手太陰肺經（《素問》曰：刺眶上陷骨中脈，為漏、為盲。注：眶骨中脈，目之系，肺之脈也。刺內陷，則目系絕，故為目漏。目脈漏，則盲也。喬嶽曰：肺主眼胞，肺絕則眼胞陷）。又屬足厥陰肝經（《素問》曰：肝風之狀，診在目下，其色青。注：診，視也。戴復庵曰：眼屬肝，有肝虛而痛，才見光明，則眶骨痛甚者，宜生熟地黃丸）。</p>

<h2>十五、〔目內眥〕</h2>
<p>（在內近鼻者，亦名為赤眥，睛明穴之分也）屬手少陰心經（《靈樞》曰：手少陰之正，出於面，合目內眥。又曰：血之精為絡其窠，心則主血脈也。）兼屬手足太陽小腸、膀胱經，足陽明胃經之合。（《靈樞》曰：足之陽明、手之太陽筋急，則口目為僻，眥急不能卒視。《素問》曰：風氣與陽明入胃，循脈而上，至目內眥。其人肥，則風氣不得外泄，則為熱中而目黃；人瘦則外泄而寒，則為寒中而泣出。王啟玄曰：太陽之脈，起於目內眥，太陽絕，則目內陷而死。沈承之曰：直目內眥上，屬足太陽膀胱經；直目內眥下，屬足陽明胃經、厥陰肝經之會）。又屬二蹺合脈（《靈樞》曰：陰蹺脈出人迎之前，入頄，屬目內眥，合於太陽、陽蹺而上行。氣並相還，則為濡目；氣不營則目不合。又曰：目中赤痛，從內眥始，取之陰蹺。《素問》曰：邪客於足陽蹺之脈，令人目痛，從目眥始。趙以德曰：陰蹺為病，陽緩而陰急；陽蹺為病，陰緩而陽急。二脈皆與交會於目內眥。陽脈交於陰則目閉，陰脈交於陽則目開）。</p>

<h2>十六、〔目銳眥〕</h2>
<p>（目眥之外決於面者）屬手足少陽三焦、膽經、手太陽小腸經之會（《靈樞》曰：手少陽所生病者，目銳眥痛。又曰：足少陽之筋，支者結於目眥，為外維。其病維筋急，從左之右，右目不開，上過右角，左右不開，名曰維筋相交。又曰：手太陽之筋，直者出耳後，下結於頷，上屬目外眥。沈承之曰：直目銳眥上，屬手足少陽三焦、膽經之會；直目銳眥下，兼屬手太陽小腸經之交會）。兼屬足太陽膀胱經、二蹺脈（《靈樞》曰：足太陽有通項入於腦者，正屬目本，名曰眼系。頭目苦痛取之，在項中兩筋間，入腦乃別。陰蹺、陽蹺，陰陽相交，陽入陰，陰出陽，交於目銳眥。陽氣盛，則瞋目，陰氣盛，則瞑目也）。</p>

<h2>十七、〔頞〕</h2>
<p>（鼻山根也，俗稱為鼻梁）屬足陽明胃經、太陽膀胱經、督脈之會（《靈樞》曰：足陽明之脈，起於鼻之交頞中，旁約太陽之脈。《素問》曰：膽移熱於腦，則辛頞鼻淵，傳為衄蔑瞑目。注：足太陽膀胱之脈，起目內眥，上額，交巔，絡腦。陽明脈起於鼻，交頞中，旁約太陽之脈。令腦熱，則足太陽遂與陽明之脈俱盛，薄於頞中，故鼻頞辛而痠痛也。鼻淵者，濁涕下而不止如水泉也。熱盛則陽絡溢，故衄，而鼻出汙血也，又謂之蔑。血出甚，則陽明、太陽脈衰，不能營養於目，故目瞑而暗也。宜服防風湯）。</p>

<h2>十八、〔鼻〕</h2>
<p>屬手太陰肺經（《素問》曰：西方白色，入通於肺，開竅於鼻，畏熱。《靈樞》曰：肺病者，喘息鼻張。又曰：肺氣通於鼻，肺和，則鼻能知香臭矣。喬嶽曰：肺絕則無涕，鼻孔黑燥。肝逆乘之，面色青。李東垣曰：傷風，鼻中氣出粗，合口不開，肺氣通於天也。王汝言曰：鼻塞不聞香臭，但略感風寒，不時舉發者，世俗皆以為肺寒，而用辛溫之藥。不知肺經素有火邪，火鬱甚，則喜得熱而惡見寒，故遇寒便塞也。法宜清肺降火為主，而佐以通氣之劑，服之自效。如素無鼻塞之症，一時偶感風寒而致者，當作風寒治。沈承之曰：其在小兒面部，謂之明堂。《靈樞》曰：脈見於寸口，色見於明堂。明堂者，鼻也。明堂廣大者壽，小者殆，況加疾哉？徐伯魯曰：按此語，即相家貴隆準之說也。然須視其面部何如，每見明堂雖小，與面相稱者，壽可七八十，要不可執一論也）。又屬手足陽明大腸、胃經、督脈之交會（《靈樞》曰：手陽明之脈，上挾鼻孔。又曰：胃脹者，腹滿，胃脘痛，鼻聞焦香，妨於食，大便難。《素問》曰：傷寒二日，陽明受之。陽明主肉，其脈挾鼻，故鼻乾不得臥。又曰：運氣陽明所至為鼽嚏。注：鼽，鼻窒也。嚏，噴涕也。《明堂經》曰：素髎，一名面王，在鼻柱上端，督脈氣所發也。劉河間曰：傷風於腠理，而鼻為塞者，寒能收斂，陽氣不通暢也。王海藏曰：石膏發汗，辛寒入手太陰經，仲景治傷寒陽明經症，乃用之者，何也？蓋胃脈行身之前，而胸為胃肺之室，邪熱在陽明，則肺受火邪，故以辛寒以清肺，所以號為白虎也。沈承之曰：挾鼻孔兩旁五分，名迎香穴，屬手足陽明大腸、胃經之會；直目瞳子，名巨髎穴，屬足陽明胃經、陰蹺脈之會）。兼屬手少陰心經（《素問》曰：正氣入鼻，藏於心肺，心肺有病，而鼻為之不利也。李東垣曰：鼻本主肺，而復能聞香臭者、鼻中有心，庚金生於己也，衛氣失守，寒邪客於頭面，鼻亦受之。不能為用，是不聞香臭矣，麗澤通氣湯主之）。又屬足太陰脾經（《素問》曰：脾熱病者鼻先赤）。又屬手足太陽小腸、膀胱經（《靈樞》曰：衄而不止，衃血流，取足太陽；衃血，取手太陽。又曰：足太陽之別，名曰飛揚，去踝七寸，別走少陰。實則鼽窒，頭背痛；虛則鼽衄，取之所別也。又曰：手太陽之脈，其支者，別頰，上䪼，抵鼻。又曰：面王以上者，小腸也；面王以下者，膀胱字子處也。男子色在面王，為少腹痛，下為卵痛，其圜直為莖痛，高為本，下為首，狐疝頹陰之屬也。女子色在面王，為膀胱字子處病，散為痛，薄為聚，方圓左右，各如其形色）。</p>

<h2>十九、〔䪼〕</h2>
<p>（頄也，俗呼顴骨）屬手足少陽三焦、膽經（《靈樞》曰：手少陽之脈，出耳上角，以屈下頰至䪼。又曰：足少陽之脈，其支者合手少陽，抵於䪼，下加頰車）。又屬手足太陽小腸、膀胱經之會（《靈樞》曰：手太陽之脈，其支者，別頰，上䪼，抵鼻。又曰：足太陽之筋，其支者，出缺盆，斜上出於頄）。又屬手陽明大腸、胃經（《靈樞》曰：手陽明之筋，其支者上頰，結於頄。又曰：足陽明之筋，上挾口，合於頄）。兼屬手少陰心經（《靈樞》曰：心痛者，顴赤。又曰：赤色出兩顴大如拇指者，病雖小愈，必卒死。喬嶽曰：心絕則虛陽上發，面赤如脂。徐伯魯曰：如女人以粉敷面，以丹敷顴也。夫白者，肺之候；丹者，心之候，發明謂之火剋金。是從所不勝來者，為賊邪，其病不治。注：敷，與附同）。又屬足少陰腎經（《靈樞》曰：腎病者，顴與顏黑。又曰：顴骨者，骨之本也，顴大則骨大，顴小則骨小）。</p>

<h2>二十、〔頰〕</h2>
<p>（面旁也）屬手足少陽三焦、膽經（《靈樞》曰：手少陽所生病者，目銳眥痛，頰痛。又曰：邪氣中於頰，則下少陽。又曰：少陽氣至，則齧頰。《素問》曰：少陽之厥，則暴聾，頰腫而熱。又曰：少陽之脈色榮頰，前熱病也。注：足少陽部在頰。色，赤色也。前，當依《甲乙經》作「筋」）。又屬手太陽小腸經、足陽明胃經之會（《靈樞》曰：足陽明之筋，其支者，從頰結於耳前。頰筋有寒則急，引頰移。《素問》曰：上部地，兩頰之動脈，以候口齒之氣。注云：在鼻孔下兩旁，近於巨髎穴之分，動應於手，足陽明脈氣所行也）。兼屬手太陰肺經、足厥陰肝經（《素問》曰：肝熱病者，左頰先赤；肺熱病者，右頰先赤。又曰：肝病氣逆則頰腫。《靈樞》曰：足厥陰之脈，其支者，從目系，下頰裡）。</p>

<h2>二十一、〔耳〕</h2>
<p>統屬足少陰腎經（《靈樞》曰：耳者，腎之官也。又曰：耳焦枯受塵垢者，病在骨。《中藏經》曰：腎者精神之舍，性命之根，外通於耳。《素問》曰：腎，在竅為耳。腎和則耳能聞五音矣。又曰：腎者，主為外，使之遠聽，視耳好惡以知其性。故耳好，前居牙車者腎端正。注：牙車，即頰車穴也，在耳下曲頷端陷中。耳偏高者，腎偏傾；耳高者，腎高；耳後陷者，腎下；耳堅者，腎堅；耳薄不堅者，腎脆。《玄珠》曰：耳薄而黑或白者，腎敗也。羅謙甫曰：夫耳卒聾者，由腎氣虛，為風邪所乘，摶於經絡，隨其血脈上入耳，正邪相摶，令卒聾也。腎虛有寒者，宜肉蓯蓉丸、燒腎散；腎虛有熱者，宜本事地黃丸）。又屬手少陰心經、厥陰心主經（《素問》曰：南方赤色，入通於心，開竅於耳。《靈樞》曰：手心主之正，循喉嚨出耳後，合少陽。趙以德曰：心在竅為舌，以舌非孔竅，因寄竅於耳。腎治內之陰；心治外之陽。愚按：手心主、手三焦之脈，皆心脈也。三焦之脈，入耳中，故心之竅通於耳。凡耳中腫痛之症，皆以心火治之。所謂治其陽也）。又屬手少陽三焦經（《靈樞》曰：手少陽之脈，上項系耳後，直上出耳上角。其支者，從耳後入耳中，出走耳前。是動則病耳聾，渾渾焞焞。又曰：手少陽之上，血氣盛，則耳色美；血氣皆少，則耳焦惡色。《素問》曰：上部人，耳前之動脈，以候耳目之氣。注：在耳前陷者中，動應於手，手少陽脈氣所行也。又曰：一陽獨嘯，少陽厥也，其終者耳聾。注：嘯者，耳中鳴如嘯聲也。膽及三焦脈皆入耳，故氣逆上，則耳中鳴）。又屬足少陽膽經（《靈樞》曰：足少陽之脈，其支者從耳後入耳中，出走耳前。又曰：足少陽之本，在竅陰之間，標在窗蘢之前。窗蘢者，耳也。《素問》曰：傷寒三日，少陽受之，則胸脅痛而耳聾；九日，少陽病衰，耳聾微聞。李東垣曰：少陽者，斜出於耳前後也。愚按此句，並證上文）。兼屬足厥陰肝經（《靈樞》曰：邪在肝，則兩脅中痛，行善掣，或時腳腫，取耳間青脈，以去其掣。《素問》曰：肝病氣逆，則頭痛，耳聾不聰。朱丹溪曰：耳聾屬熱，少陽、厥陰熱多，宜開痰、散風熱，通聖散、滾痰丸之類。羅謙甫曰：氣逆耳聾有三，肝與三焦、小腸也。治法宜四物湯，吞龍薈丸降火，及復元通氣散調氣是也。許培元曰：凡耳聾，耳中疼，皆屬少陽之熱，為易治。若耳聾，舌卷，唇青者，屬厥陰，為難治也）。又屬手足太陽小腸、膀胱經（《靈樞》曰：手太陽之脈，循頸出，走太陽之前，結於耳後完骨。其支者，入耳中；直者，出耳上，下結於頷。其病耳中鳴痛，又曰：手太陽當曲頰，所生病者耳聾目黃。又曰：足太陽之脈，其支者，從巔至耳上角。《素問》曰：太陽所謂耳鳴者，陽氣萬物盛上而躍，故耳鳴也）。又屬手足陽明大腸、胃經（《靈樞》曰：聾而不痛者，取足少陽；聾而痛者，取手陽明。又曰：陽明根於厲兌，結於顙大。顙大者，鉗耳也。又曰：耳者，宗脈之所聚也。胃中空則宗脈虛，虛則下溜。脈有所竭者，故耳鳴。補客主人。《素問》曰：頭痛耳聾，九竅不利，腸胃之所生也。又曰：邪客於手陽明之脈，令人耳聾，時不聞音）。又屬手足少陰、太陰，足陽明五絡之會（《素問》曰：手足少陰、太陰，足陽明之五絡，皆會於耳中，上絡左角。五絡俱竭，令人身脈皆動，而形無知也，其狀若屍，或曰屍厥。刺其足大趾內側，後刺足心，後刺足中趾，後刺手大指內側，後刺手心主、少陰銳骨之端，各一痏立已。不已，以竹管吹其兩耳，剃其左角之發方一寸，燔治，飲以美酒一杯。不能飲者，灌之立已。王啟玄曰：肺太陰之絡，會於耳中，肺虛則少氣，不能報息而耳聾）。</p>

<h2>二十二、〔曲頰〕</h2>
<p>（面旁也，在耳下，亦名蕃）屬足少陽膽經、手陽明大腸之會（《靈樞》曰：蕃者，頰側也；蔽者，耳門也。又曰：足少陽之脈，下耳後，合手少陽，抵於䪼，下加頰車。沈承之曰：曲頰前寸許，屬手陽明大腸；曲頰後，屬足少陽膽經）。又屬手少陽三焦經、太陽小腸經（《靈樞》曰：手少陽之筋，上肩，走頭，合手太陽。其支者，當曲頰，入系舌本。又曰：足少陽在耳下曲頰之後。手少陽出耳後，上結完骨之上。又曰：手太陽當曲頰）。兼屬足陽明胃經（《靈樞》曰：足陽明之脈，循頤後下廉，出大迎，循頰車入耳前）。</p>

<h2>二十三、〔頤〕</h2>
<p>（頤，顑也，亦作頷）屬足陽明胃經（《靈樞》曰：顑痛，刺足陽明曲周動脈，見血立已。《素問》曰：陽明虛，則寒慄鼓頷，終則口耳動作。又曰：病上衝喉者，治其漸，漸者，上挾頤也。王啟玄曰：陽明之脈，漸上頤而環唇，故名挾頤為漸，即大迎穴也。在曲頰下一寸三分，骨陷中動脈）。又屬手少陽三焦經、陽明大腸經（《靈樞》曰：手少陽之別者，上挾咽，出頤顑中。又曰：顑痛，刺手陽明，與顑之盛脈出血）。兼屬足少陰腎經。（《素問》曰：腎熱病者，頤先赤）</p>

<h2>二十四、〔人中〕</h2>
<p>（在鼻下，即水溝穴之分也）屬手足陽明大腸、胃經、督脈之會（《靈樞》曰：手陽明之脈，其支者，出挾口，交人中，左之右，右之左，上挾鼻孔。又曰：足陽明之脈，循鼻外，入上齒中。沈承之曰：挾人中兩旁五分，名禾髎穴，屬手陽明經）。又屬足太陰脾經（《靈樞》曰：足太陰氣絕者，則脈不榮肌肉。唇舌者，肌肉之本也。脈不榮，則肌肉軟。肌肉軟，則舌萎，人中滿。人中滿，則唇反。唇反者，肉先死，甲篤乙死，木勝土也。《玄珠》曰：人中腫者，脾絕也）。</p>

<h2>二十五、〔口〕</h2>
<p>〔吻附〕統屬足太陰脾經（《靈樞》曰：脾氣通於口。脾和，則口能知五穀矣。《素問》曰：中央黃色，入通於脾，開竅於口，畏風。李東垣曰：傷食，口無味，涎不納，鼻息氣勻，脾氣通於地也）。又屬足陽明胃經、陽蹺脈之會（《靈樞》曰：足陽明之脈，循鼻外，入上齒中，還出挾口，環唇，下交承漿。所生病者口喎唇胗。注：胗，唇瘍也。又曰：足陽明之筋，上頸，上挾口，合於頄。口有熱，則筋弛縱，緩不勝收。《素問》曰：胃熱則口澹。又日，陽明終者，口目動作，善驚妄言。注：口目動作，謂目睒睒而鼓頷也。陳良甫曰：足陽明之筋，上挾於口，凡人體虛受風，風入於筋，其筋偏急不調，故令喎急，謂之偏風。滑伯仁曰：陽蹺與手陽明會於肩端，又與足陽明會於口吻及鼻兩旁。沈承之曰：口吻兩旁四分，名地倉穴，屬手足陽明大腸、胃經、陽蹺脈之會）。兼屬手少陽小腸經（《素問》曰：小腸熱，則口瘡。又曰：膀胱移熱小腸，鬲腸不便，上為口糜。注：口糜，口生瘡而糜爛也，即口疳）。又屬足少陽膽經（《靈樞》曰：足少陽，是動則病口苦，善太息。注：是動者，氣也，詳見後編《營衛篇》。又曰：邪在膽，逆在胃。膽液泄，則口苦；胃氣逆，則嘔苦。《素問》曰：肝氣熱，則膽泄口苦。又曰：肝咳不已，則膽受之。膽咳之狀，咳嘔膽汁。又曰：肝者，中之將也，取決於膽，咽為之使。凡人數謀慮不決，則膽虛，氣上溢，則口為之苦，病名膽痹。治之以膽募、俞。注：膽募，日月穴也，在兩乳第二肋端，期門穴下五分。膽俞，臨泣穴也，在目上直入髮際五分陷中。朱丹溪曰：膽熱口苦，謀慮不決。口苦，小柴胡湯加麥門冬、酸棗仁、地骨皮、遠志）。又以五味辨五臟（《素問》曰：肝熱，則口酸；心熱，則口苦。口苦，又屬膽，兼屬肝。脾熱，則口甘；肺熱，則口辛；腎熱，則口咸。又曰：五氣之溢，名曰脾癉。夫五味入口，藏於胃，而脾為之行，故其精氣津液在脾。凡人數食肥甘，肥則令人內熱；甘則令人中滿。故其氣上溢，轉為消渴。治之以蘭，除陳氣也。朱丹溪曰：以三黃丸治之。《靈樞》曰：嗌乾，口中熱如膠，取足少陰。《素問》又曰：足少陰之厥，則口乾，溺赤。丹溪曰：胃虛谷少，則所勝腎水之氣，逆而乘之，反為寒中，脾胃虛衰之火，被迫炎上，作為口瘡。宜用理中湯加附子以治之）。</p>

<h2>二十六、〔唇〕</h2>
<p>統屬足太陰脾經（《素問》曰：脾者，倉廩之官，營之居也，其華在唇。《靈樞》曰：脾者，主為使之迎糧，視唇舌好惡以知吉凶。故唇上下好者，脾端正，唇偏舉者脾偏傾。揭唇者脾高。唇下縱者脾下。唇堅者脾堅，唇大而不堅者脾脆。脾病者，唇黃。脾絕者，唇四腫。《醫說》曰：口唇焦枯者，脾熱也；赤腫者，熱甚也；青黑者，冷極也）。又屬足陽明胃經（《靈樞》曰：陽明氣至則齧唇。又曰：足陽明所生病者，口喎唇胗。注：所生病者，血也。詳見後編《營衛篇》。《中藏》曰：胃中熱，則唇黑。唇色紫者，胃氣虛寒也。沈承之曰：上唇挾口，屬手陽明大腸經，下唇挾口，屬足陽明胃經）。兼屬手少陰心經、太陰肺經（《玄珠》曰：上下唇皆赤者，心熱也；上唇赤者，心熱也；上唇赤、下唇白者，腎虛而心火不降也。錢仲陽曰：肺主唇白，白而澤者生，白如枯骨者死。凡唇白當補肺。蓋脾者，肺之母也，子母皆虛，不能相營，其名曰怯，故當補。若深紅色者，則當散肺之虛熱也）。又屬衝任二脈（《靈樞》曰：衝任二脈，皆起於胞中，上循背裡，為經絡之海。其浮而外者，循腹右上行，會於咽喉，別而絡唇口。氣血盛，則充膚熱肉；血獨盛，則淡滲皮膚，生毫毛。今婦人之生，有餘於氣，不足於血，以其數脫血也。衝任之脈，不營唇口，故須不生焉。愚按此，則男子無須，亦由血不營於衝任也）。</p>

<h2>二十七、〔齒〕</h2>
<p>〔齗附〕統屬足少陰腎經（《靈樞》曰：足少陰氣絕者，則骨枯。少陰者，冬脈也，伏陰而濡骨髓者也。故骨不濡，則肉不能著也。骨肉不相親，則肉軟卻；肉軟卻，則齒長而垢，發無澤。發無澤者，骨先滅，戊篤已死，土勝水也。《素問》曰：丈夫八歲腎氣實，髮長齒更。五八腎氣衰，齒槁發墮。又曰：腎熱者，色黑而齒槁。少陰終者，面黑色，齒長而垢，腹脹閉塞，上下不通而終矣。戴復庵曰：腎虛牙浮而痛，甚則憎寒惡熱，全具如欲脫之狀。宜安腎丸、八味丸、黑錫丹之類）。</p>
<p>〔上齗〕（齗，齒根肉也。亦作齦）屬足陽明胃經。（《靈樞》曰：足陽明之脈，循鼻外，入上齒中。《針經》曰：上齒痛，喜寒而惡熱，取足陽明之原衝陽穴，在兩足跗上五寸，骨間陷脈中。丹溪以謂當灸三里穴。三里者，足陽明之合穴也，在膝下外側輔骨下三指地，離䯒骨外一指許，兩筋間宛宛中。又曰：足陽明之入頄遍齒者，名曰角孫，上齒齲取之。《素問》曰：邪客於足陽明之經。令人鼽衄。上齒寒，又繆傳引上齒，齒唇寒痛，視其手背脈血者，去之。足陽明中趾爪甲上一痏。李東垣曰：上齗隸於坤土，乃足陽明胃脈之所貫絡也。止而不動，故上爿牙疼，宜升麻散）。</p>
<p>〔下齗〕屬手陽明大腸經（《靈樞》曰：手陽明有入頄遍齒者，名曰大迎，下齒齲取之。又曰：手陽明之脈，其支者貫頰，入下齒中。《針經》曰：下齒痛，喜熱而惡寒，取手陽明之原合谷穴，在兩手大指、次指岐骨間陷中。丹溪以為當灸三間穴。三間者，手陽明之俞穴也，在兩手大指、次指本節後內側骨上縫中，赤白肉際。王啟玄曰：手陽明脈，貫頰入下齒，故手陽明脈中商陽、二間、三間、合谷、陽谿、偏歷、溫溜七穴，並主齒痛。李東垣曰：下齗嚼物，動而不休，手陽明大腸之所貫絡也，故下爿牙疼，宜白芷散。張潔古曰：秦艽去下牙痛，及除本經風濕。薛新甫曰：大腸熱而齗腫痛，清胃散治之，重則調胃湯清之）。</p>

<h2>二十八、〔舌〕</h2>
<p>統屬手少陰心經（《靈樞》曰：舌者，心之官也。故心病者，舌卷短，顴赤。又曰：心氣通於舌，心和則舌能知味矣。又曰：人之自齧舌者，此厥氣走上，脈氣軰至也。少陰氣至則齧舌。《素問》曰：心脈搏堅而長，當病舌卷不能言。喬嶽曰：心絕，則舌不能收、及不能語。一曰：舌無故常自痹者，勿便作風治，由心血之不足也，理中湯加當歸主之）。又屬足太陰脾經（《靈樞》曰：足太陰之脈，上膈挾咽，連舌本，散舌下。是動則病舌本強，所生病者舌本痛。又曰：足太陰之正，貫舌中。又曰：刺舌下中脈太過，血出不止為瘖。注：舌下脈者，脾脈也。《素問》曰：中央黃色，入通於脾，故病在舌本。東垣曰：舌者，心也，復能知味，是舌中有脾也。孫景思曰：舌者，心氣之所主，脾脈之所通。二臟不和，風邪中之，則舌強不能言；壅熱攻之，則舌腫不能轉。更有重舌、木舌、舌腫出血者，皆由心脾二經，風熱所乘而然也）。兼屬足陽明胃經（張雞峰曰：脾胃主四肢，其脈連舌本，而絡於唇口。胃為水穀之海，脾氣磨而消之，由是水穀之精，化為營衛，以養四肢。若起居失節，飲食不時，則脾胃之氣不足，而營衛之養不周，風邪乘虛而干之，則四肢與唇口俱痹，語言蹇澀，久久不治，變為痿疾。經云：治痿獨取陽明，謂足陽明也。治法亦多用脾胃藥，少服去風藥則可安矣）。又屬手少陽三焦經（《靈樞》曰：手少陽之筋，其支者當曲頰，入系舌本，其病舌卷。《素問》曰：邪客於手少陽之絡，令人喉痹舌卷，口乾心煩）。又屬足少陰腎經（《靈樞》曰：足之少陰，上繫於舌，絡於橫骨，終於會厭。又曰：舌縱涎下煩悗，取足少陰。《素問》曰：刺足少陰脈，重虛出血，為舌難以言。又曰：傷寒五日，少陰受之，故口燥舌乾而渴。《玄珠》曰：舌之下竅，腎之津液所朝也。東垣曰：下竅，廉泉穴，一名舌本，在頷下結喉上，足少陰也。治舌下腫，難言，舌縱，涎出，口噤，舌根急縮，下食難）。又屬足厥陰肝經（《靈樞》曰：肝者筋之合也，筋者聚於陰器，而脈絡於舌本。《素問》曰：厥陰絡者，中熱嗌乾，善溺心煩，甚則舌卷、卵上縮而終矣。沈承之曰：舌主五味，以營養於身，資於脾，以分津液於五臟。故心之本脈，繫於舌根；脾之本脈，繫於舌旁；肝脈，循陰器，絡舌本）。</p>

<h2>二十九、〔頦〕</h2>
<p>（一名地閣，即承漿穴）屬足陽明胃經、任脈之交（《靈樞》曰：足陽明之脈，環唇下，交承漿。又曰：牆基卑高，不及其地者，不滿三十而死；其有因加疾者，不及二十歲而死也）。又屬足少陰腎經（沈承之曰：其在小兒面部，屬足少陰腎經。《心鑑》曰：水性潤下，北方之應也）。</p>

<h2>三十、〔項〕</h2>
<p>（頸項也）屬足太陽膀胱經、督脈之交（《靈樞》曰：足太陽之脈，從膂上出於項。邪氣中於項，則下太陽。又曰：頸中央之脈，督脈也。《素問》曰：邪客於足太陽之絡，令人頭項肩痛。又曰：太陽所謂強上引背者，陽氣太上而爭也。注：強上，謂頭項禁強也。又曰：諸痙項強，皆屬於濕。注：痙，強急也，太陽傷濕。李東垣曰：脊痛項強，腰似折、項似拔者，此足太陽經不通行，以羌活勝濕湯主之。《素問》又曰：厥頭痛，項先痛不可俯仰，腰脊為應，先取天柱，後取足太陽）。又屬足厥陰肝經（《靈樞》曰：足厥陰之脈，循喉嚨之後，上入頏顙。《素問》曰：東風生於春，病在肝，俞在頸項。張雞峰曰：肝主項背與臂膊）。又屬手足少陽三焦、膽經（《靈樞》曰：手少陽之脈，其支者出缺盆，上項系耳後。又曰：足少陽之脈，循頸，行手少陽之前，至肩上。又曰：扶突次脈，足少陽脈也，名曰天牖。暴聾氣蒙，耳目不明，取天牖。沈承之曰：挾項兩旁大筋中，屬足太陽膀胱經；大筋外，屬足少陽膽經；大筋前、耳後，屬手少陽三焦經）。又屬手足陽明大腸、胃經（《靈樞》曰：手陽明之筋，直者從肩髃上頸。其病肩不舉，頸不可左右視。又曰：足陽明之別，循脛骨外廉，上絡頭項。又曰：足陽明是動，則病齒痛頸腫。李東垣曰：瘰癧繞頸，或至耳下曲頰，皆由胃經中來，以升陽調經湯治之）。又屬手太陽小腸經（《靈樞》曰：手太陽之脈，其支者，從缺盆循頸上頰。所生病者，頰腫，頭項痛。又曰：項痛不可俯仰，刺足太陽；不可以顧，刺手太陽也。又曰：手少陽之筋，上肩走頸，合手太陽。其病當所過者，即肢轉筋）。又屬足少陰腎經（《靈樞》曰：足少陰之正，直者系舌本，復出於項，合於太陽。王肯堂曰：人多有挫閃，及久坐失枕，而致項強，不可轉移者，皆由腎虛不能生肝，肝虛無以養筋，故機關不利。六味丸主之）。</p>

<h2>三十一、〔咽〕</h2>
<p>（嗌也，所以咽物者，水穀之道，在喉嚨後。舊注在喉嚨前者，非）屬足太陰脾、陽明胃經（《靈樞》曰：足太陰之正，上結於咽。《素問》曰：咽主地氣，地氣通於嗌，足太陰脈布胃中，絡於咽，故腹滿咽乾。又曰：陽明之脈通於心，循咽上口）。又屬手太陽小腸、少陰心經（《靈樞》曰：手太陽之脈，絡心，循咽下膈。是動則病嗌痛頷腫，不可以顧。又曰：手少陰之脈，其支者，從心系，上挾咽。是動則病咽乾心痛，渴而欲飲。沈承之曰：挾咽旁，屬手少陰心、足太陰脾經之會）。又屬足少陰腎經（《靈樞》曰：足少陰所生病者，口熱，舌乾，咽腫，上氣，嗌乾及痛。《素問》曰：邪客於足少陰之絡，令人嗌痛，不可納食，無故善怒，氣上走賁上。注：賁，膈也。賁上，賁門也。《難經》曰：胃為賁門。又曰：嗌中腫，不能納唾，時不能出唾者，刺然骨之前，足少陰之絡也。）兼屬足厥陰肝經、少陽膽經（《靈樞》曰：足少陽之正，別者上挾咽，出頤頷中。《素問》曰：肝者中之將也，取決於膽，咽為之使。又曰：一陰一陽代絕，此陰氣至心，上下無常，出入不知，咽喉乾燥，病在脾土。注：一陰，厥陰脈；一陽，少陽脈，並木之氣也。木剋土，故咽喉病，雖在脾土，實由肝膽之所為也。朱丹溪曰：手足陰陽合生見證，曰咽腫。足少陰、厥陰也）。</p>

<h2>三十二、〔喉〕</h2>
<p>（所以候氣者，俗云肺管，在咽前。舊謂齧後者，大非）屬手太陰肺經（《靈樞》曰：喉嚨者，氣之所以上下者也。會厭者，音聲之戶也。厭小而疾薄，則發聲疾，其開闔利，其出氣易；厭大而厚，則開闔難，其氣出遲，故重言也。人卒然無音者，寒氣客於會厭，則厭不能發，發不能下，其開闔不利，故無音。又曰：手太陰之正，出缺盆，循喉嚨。《素問》曰：肺主天氣，天氣通於肺，謂之肺系。又曰：秋脈不及，則令人喘。注：秋脈，肺脈也。又曰：呼吸少氣而咳，上氣見血，下聞病音）。又屬足陽明胃經、任脈之會（《靈樞》曰：足陽明之脈，從大迎前下人迎，循喉嚨，入缺盆。又曰：足陽明之別，合諸經之氣，下絡喉嗌。其病氣逆，則喉痹卒痛）。又屬手少陽三焦經、陽明大腸經（《靈樞》曰：手少陽，是動則病嗌腫喉痹。又曰：手陽明之正，上循喉嚨，出缺盆。又曰：喉痹不能言，取足陽明；能言，取手陽明。《素問》曰：邪客於手少陽之絡，令人喉痹舌卷，口乾心煩。又曰：二陰一陽結，謂之喉痹。注：二陰，心也；一陽，三焦也，二脈並絡於喉。氣熱內結，故為喉痹。又曰：手陽明、少陽厥逆，發喉痹，嗌腫，痙。朱丹溪曰：手足陰陽合生見證，曰喉痹。手足陽明、手少陽也）。兼屬手足少陰心經、腎經（《靈樞》曰：手少陰之正，上走喉嚨，出於面。又曰：足之少陰，上繫於舌，絡於橫骨，終於會厭。會厭之脈，上絡任脈，取之天突，其厭乃發也。《素問》曰：心咳之狀，咳則心痛，喉中介介如哽狀，甚則咽腫喉痹也）。又屬手足厥陰心包、肝經（《靈樞》曰：手心主之正，別循喉嚨，出耳後。沈承之曰：喉嚨後，屬手足厥陰心包、肝經）。</p>

<h2>三十三、〔人迎〕</h2>
<p>（結喉兩旁動脈）屬足陽明胃經（人迎，在結喉兩旁，應手之動脈也，又名天五會。《靈樞》曰：頸側之動脈，人迎。人迎，足陽明也，在嬰筋之前。又曰：人迎，此胃氣別走於陽明者也，故陰陽上下，其動也若一。故陽病而陽脈小者為逆，陰病而陰脈大者為逆。陰陽俱靜、俱動，若引繩相傾者病。又曰：大熱遍身，狂而妄見、妄聞、妄言，視足陽明及大絡取之。因令偃臥，居其頭前，以兩手四指，挾按頸動脈，久持之，卷而切推之，下至缺盆中，復止如前，熱去乃止。此所謂推而散之者也。王啟玄曰：胃脘之陽，人迎之氣也。胃為水穀之海，故候其氣而知痛處。其脈之動，常左小而右大。左小常以候臟，右大常以候腑。龐安常曰：察脈之要，莫急於人迎、氣口，二脈相應，如兩引繩。何謂人迎？喉旁取之，《內經》所謂別於陽者也。秦越人但取手太陰魚際後一寸九分，以配陰陽之數，而得關格之脈。然不盡取諸穴，不先求喉手引繩之義，則杳尺寸陰陽、關格之所起矣）。又統屬手足六陽經（《靈樞》曰：人迎一盛，病在足少陽，一盛而躁，病在手少陽；人迎二盛，病在足太陽，二盛而躁，病在手太陽；人迎三盛，病在足陽明，三盛而躁，病在手陽明；人迎四盛，且大且數，名曰溢陽，溢陽為外格，死不治。又曰：寸口主中，人迎主外，兩者相應，俱往俱來，若引繩大小齊等。春夏人迎微大，秋冬寸口微大，如是者名曰平人。人病，其寸口之脈與人迎之脈大小等，及其浮沉等者，病難已也。）</p>

<h2>三十四、〔肩端〕</h2>
<p>（即髆前髃骨也，俗呼為肩頭）屬手陽明大腸經、陽維脈之會（《靈樞》曰：手陽明之筋，從肩髃上頸。又曰：手陽明所生病者，肩前臑痛。又曰：手陽明之正，循膺乳，別於肩髃，入柱骨下）。又屬手足少陽三焦、膽經（《靈樞》曰：手少陽之筋，繞臑外廉，上肩走交頸，合手太陽。又曰：手少陽之脈，循臑外上肩，而出足少陽之後。又曰：足少陽之脈，循頸，行手少陽之後，至肩上，卻走手少陽之前，入缺盆之中）。又屬手足太陽小腸、膀胱經（《靈樞》曰：手太陽之正，指地，別於肩解，入腋走心。又曰：手太陽之別，上走肘，絡肩髃。實則節弛肘廢；虛則生肬，小者如指痂疥，取之所別也。又曰：足太陽之筋，其支者，從腋外後廉，結於肩髃，其病肩不舉）。</p>

<h2>三十五、〔髆〕</h2>
<p>（肩後骨也，亦謂之肩胛）屬手足太陽小腸、膀胱經之會（《靈樞》曰：手太陽之脈，循臑外後廉，出肩解，繞肩胛，至肩上。是動則病肩似拔，臑似折。又曰：手太陽之筋，繞肩胛，其病繞肩胛引頸而痛。又曰：足太陽之脈，循肩膊內，挾脊，抵腰中。李東垣曰，肩背痛不能回顧者，此手太陽氣鬱不行，以風藥散之）。又屬手陽明大腸經（《靈樞》曰：手陽明之筋，其支者繞肩胛）。</p>

<h2>三十六、〔臑〕</h2>
<p>（在肩之下，肘之上）〔外廉中間〕屬手少陽三焦經（《靈樞》曰：手少陽之脈，循臑外，上肩。所生病者，臑肘臂外皆痛。又曰：手少陽之筋，繞臑外廉）。</p>
<p>〔外前廉〕屬手陽明大腸經，〔外後廉〕屬手太陽小腸經。（《靈樞》曰：手陽明之脈，入肘外廉，上臑外前廉。又曰：手太陽之脈，出肘內側兩筋之間，上循臑外後廉。所生病者，肩臑肘臂外後廉為痛）。</p>
<p>〔內廉中間〕屬手厥陰心包經，〔內前廉〕屬手太陰肺經，〔內後廉〕屬手少陰心經。（《靈樞》曰：手厥陰之脈，循臑內，行太陰、少陰之間。又曰：手太陰之脈，循臑內，行少陰心主之前。所生病者，臑臂內前廉痛厥。又曰：手少陰所生病者，臑臂內後廉痛厥）。</p>

<h2>三十七、〔肘〕</h2>
<p>（臂節也，在臑之下，臂之上）屬手厥陰心包經（《靈樞》曰：手心主之脈，循中指內廉，以上至肘內廉，入於小筋之下。又曰：手心主之筋，與太陰之筋，並皆結於肘內廉）。</p>
<p>〔內上廉〕屬手太陰肺經，〔內下廉〕屬手少陰心經（《靈樞》曰：手太陰之脈，出於寸口，而行至於肘內廉，入於大筋之下。又曰：手少陰之筋，上結肘內廉，下為肘網。又曰：肺心有邪，其氣留於兩肘）。</p>
<p>〔外廉中間〕屬手少陽三焦經（《靈樞》曰：手少陽脈，出臂外兩骨之間，上貫肘。又曰：手少陽之筋，循臂，結於肘。又曰：手陽明、少陽之大絡，起於五指間，上合肘中）。</p>
<p>〔外上廉〕屬手陽明大腸經。〔外下廉）屬手太陽小腸經（《靈樞》曰：手陽明之脈，循臂上廉，入肘外廉。又曰：手太陽之筋，循臂內廉，結於肘內銳骨之後，彈之，應小指之上。又曰：肘所獨熱者，腰以上熱；手所獨熱者，腰以下熱；肘前獨熱者，膺前熱；肘後獨熱者，肩背熱；臂中獨熱者，腰背熱；肘後粗以下三四寸熱者，腸中有蟲。又曰：手陽明之筋，循臂，上結於肘外）。</p>

<h2>三十八、〔臂〕</h2>
<p>（肘之下，腕之上也）〔外廉中間〕屬手少陽三焦經，〔外上廉〕屬手陽明大腸經，〔外下廉〕屬手太陽小腸經（《靈樞》曰：病始手臂者，先取手陽明而汗出。朱丹溪曰：手足陰陽合生見證，曰臂外痛，手太陽、少陽也）。</p>
<p>〔內廉中間〕屬手厥陰心包經，〔內上廉〕屬手太陰肺經，〔內下廉〕屬手少陰心經（《靈樞》曰：手厥陰之脈，下臂，行兩筋之間。又曰：中於陰者，常從臂胻始。夫臂與胻，其陰皮薄，其肉淖澤，故俱受於風，獨傷其陰）。兼屬肝腎二經（張雞峰曰：臂細無力不任重，此肝腎氣虛，風邪客於營衛，使氣血不得周養於四肢，故有此症，宜專補肝腎）。</p>

<h2>三十九、〔氣口〕</h2>
<p>（在魚際後，當掌後上廉高骨，經渠、太淵穴之分也。一曰脈口，亦曰寸口）屬手太陰肺經（《靈樞》曰：手太陰之脈，循臂內上骨下廉，入寸口。又曰：手太陽之筋，循指上行，結於魚後，行寸口外也，側。又曰：肺氣從太陰而行之，其行以息往來，故人一呼脈再動，一吸脈亦再動，呼吸不已，故動而不止。又曰：經脈常不可見。其虛實也，以氣口知之，上工知相五色於目，有知調尺寸小大、緩急滑澀，以言所病也。脈急者，尺之皮膚亦急；脈緩者，尺之皮膚亦緩；脈小者，尺之皮膚亦減而少氣；脈急者，尺之皮膚亦賁而起；脈滑者，尺之皮膚亦滑；脈澀者，尺之皮膚亦澀。凡此變者，有微有甚，故善調尺者，不待於寸；善調脈者，不待於色。能參合而行之者，可以為上工。《素問》曰：中部天，手太陰也，以候脈。注：肺脈，在掌後寸口中，是謂經渠，動應於手。又曰：脈氣流經，經氣歸於肺，肺朝百脈，輸精於皮毛。毛脈合精，行氣於腑，腑精神明，留於四臟，氣歸於權衡。權衡以平，氣口成寸，以決死生。吳草廬曰：兩手寸、關、尺者，手太陰肺經之一脈也。脈行始於肺，終於肝，而復會於肺。肺為氣出入之門戶，故曰氣口，而為脈之大會，以佔一身焉）。又總屬手足六陰經（《靈樞》曰：脈口一盛，痛在足厥陰，一盛而躁，病在手心主；脈口二盛，病在足少陰，二盛而躁，病在手少陰；脈口三盛，病在足太陰，三盛而躁，病在手太陰；脈口四盛，且大且數，名曰陰溢。陰溢為內關，內關不通，死不治。又曰：人迎與太陰脈口，俱盛四倍以上，命曰關格。關格者與之短期。又曰：平人不病者，脈口人迎應四時也。又曰：持氣口、人迎以視其脈，脈堅且盛且滑者，病日進；脈軟者，病將下。諸經實者，病三日已。氣口候陰，人迎候陽也）。</p>

<h2>四十、〔掌銳骨〕</h2>
<p>（掌後下廉之踝骨，神門穴分也〔腕附〕）屬手少陰心經（《靈樞》曰：手少陰之脈，循臂內後廉，抵掌後銳骨之端。《素問》曰：中部人，手少陰之經也，以候心。注：心脈在掌後銳骨之端，神門之分，動應於手。《靈樞》又曰：諸邪之在於心者，皆在心之包絡。包絡者，心主之脈也，故獨無腧焉。其外經病而臟不病，故獨取其經於掌後銳骨之端。沈承之曰：祿按外經者，手厥陰心包經也。臟不病，謂心臟不可病。如少陰、厥陰心痛，引喉身熱，死不可治之類，非謂心不病也。《難經》曰：假令得心脈，其外證面赤，口乾，善笑，其病煩心，心痛，掌中熱而啘。有是者，心也；無是者，非也。此數症，皆手厥陰經是動所生病，而《難經》置之手少陰經者，正謂心主不可病，其病皆外經之意也。獨謂少陰無腧者，未詳其義。蓋五臟者有腧，心即銳骨神門二穴是也，今曰：無腧，不知何謂？姑闕疑以俟。顧英白曰：偉按《甲乙經》云，少陰八穴，其七有治，一無治者，邪弗能容也，故曰：無腧焉。《經》文心主無腧之說，大意止如是耳。前賢豈未見及此耶？外經者，心臟之經絡也，臟則在內，經則在外。大凡經絡有病，針灸皆得以治之。若至真臟受病，則皆為不可治之證，非獨心經然也。心包心主，本無二臟，彼以厥陰為少陰之外經者，乖謬殊甚）。又屬手太陽小腸經之會（《靈樞》曰：手太陽之脈，循手外側，上腕出踝中）。</p>

<h2>四十一、〔手掌〕</h2>
<p>（手表附）屬手厥陰心包經（《靈樞》曰：手厥陰之脈，循臂兩筋之間，入掌中。是動則病手心熱。又曰：掌中熱者，腹中熱；掌中寒者，腹中寒）。又屬手太陰肺經、少陰心經（《靈樞》曰：手太陰所生病者，掌中熱痛。又曰：手太陰之別，於腕上分肉間，並太陰之經，直入掌中；又曰：手少陰之脈，抵掌後銳骨之端，入掌內後廉。所生病者，掌內熱痛）。</p>
<p>〔手表中間〕屬手少陽三焦經（《靈樞》曰：手少陽之脈，循手腕表，出臂外兩骨之間）。</p>

<h2>四十二、〔虎口〕</h2>
<p>（大指、次指岐骨間，合谷穴之分也）屬手陽明大腸經（《靈樞》曰：手陽明之脈，循指上廉，出合谷兩骨之間，上入兩筋之中。《素問》曰：中部地，手陽明也，以候胸中之氣。注：大腸脈，在手大指、次指岐骨間合谷穴，動應於手）。又屬手太陰肺經（《靈樞》曰：手太陰之脈，循魚際，出大指之端；其支者，從腕後直出次指內廉，出其端）。</p>

<h2>四十三、〔魚〕</h2>
<p>（手大指本節後，肥肉隆起處，魚際穴之分也）屬手太陰肺經（《靈樞》曰：手太陰之脈，入寸口上魚。又曰：手太陰之別，散入於魚際。又曰：手太陰之筋，循指上行，絡於魚後。《素問》曰：刺手魚腹，內陷為腫。注：手魚腹內，肺脈所留，故刺之內陷則為腫也）。又屬手陽明大腸經（《靈樞》曰，魚絡血者，手陽明病。又曰：手陽明之下，血氣盛，則手魚肉以溫；血氣皆少，則手瘦以寒）。兼屬足陽明胃經（《靈樞》曰：凡診絡脈，脈色青則寒且痛。赤則有熱。胃中寒，手魚之絡多青矣，胃中有熱，魚際絡赤；其暴黑者，留久痹也。其有赤、有黑、有青者，寒熱氣也。其青短者，少氣也。一曰：魚上白肉，有青血脈者，胃中有寒，宜理中湯之類也）。</p>

<h2>四十四、〔指〕</h2>
<p>〔大指〕屬手太陰肺經（《靈樞》曰：手太陰之脈，循魚際，出大指之端。又曰：手太陰之筋，起於大指之上。又曰：肺出於少商。少商在手大指端內側，為井木）。〔大指次指〕屬手陽明大腸經（即第二指也，一名食指，又名鹽指。《靈樞》曰：手陽明之脈，起於大指次指之端。所生病者，大指次指痛不用。又曰：手陽明之筋，起於大指次指之端，結於腕上。又曰：大腸出於商陽，商陽在大指次指之端，為井金）。〔中指〕屬手厥陰心包經（一名將指。《靈樞》曰：手厥陰之脈，循中指出其端。其支者，別掌中，循小指次指出其端。又曰：手心主之筋，起於中指。又曰：心出於中衝。中衝，在手中指之端，為井木。顧英白曰：心包，亦名心主，而心脈即出於中衝，則手厥陰之與手少陰，同為心脈無疑也。厥陰脈之支者，循小指次指出其端，則手少陽之亦為心脈，可知矣。故中衝、關衝、少衝，三指之井穴皆以沖名，象火之有三焰也。讀者幸無膠柱而鼓瑟焉）。〔小指次指〕屬手少陽三焦經（即第四指也，今稱無名指。《靈樞》曰：手少陽之脈，起於小指次指之端。所生病者，小指次指不用。又曰：手少陽，出於關衝，在手小指次指之端）。〔小指內廉〕屬手少陰心經（小指，又名禁指。《靈樞》曰：手少陰之脈，循小指之內出其端。又曰：手少陰之筋，起於小指之內側）。〔小指外廉〕屬手太陽小腸經（《靈樞》曰：手太陽之脈，起於小指之端。又曰：手太陽之筋，起於小指之上。又曰：小腸，出於少澤。少澤，小指之端也。沈承之曰：小指赤白肉際，屬手太陽小腸經）。</p>

<h2>四十五、〔大顀〕</h2>
<p>（項上突起之大塊，百勞穴分也，又名天柱骨。顀，椎同）屬足太陽膀胱經、督脈之會（《靈樞》曰：天牖次脈，足太陽也，名曰天柱。暴攣癇眩，足不任身，取天柱。《素問》曰：厥頭痛，項先痛，不可俯仰，腰脊為應，先取天柱，後取足太陽）。兼屬足少陰腎經（《靈樞》曰：足少陰之脈，其直者出於項，合太陽。《脈經》注曰：腎絕，則天柱骨倒）。</p>

<h2>四十六、〔缺盆〕</h2>
<p>（結喉下，橫骨陷中是也）屬手太陰肺經（《靈樞》曰：手太陰之筋，從腋下出缺盆，結前肩髃，上結缺盆，下結胸裡。其病成息賁，脅急，吐血。又曰：手太陰，是動則病缺盆中痛）。又屬陰維、任脈之會（《靈樞》曰：缺盆之中，任脈也，名曰天突。《明堂經》曰：天突一穴，在結喉下，陷者宛宛中。是陰維、任脈之會。主咳嗽上氣，肺癰，喉口熱瘡，不得下食）。兼屬手足陽明大腸、胃經（《靈樞》曰：手陽明之脈，出於柱骨之會上，下入缺盆，絡肺，下膈入大腸。其支者，從缺盆上頸。又曰：足陽明之脈，循喉嚨，入缺盆。又曰：足陽明之筋，上腹而布，至缺盆而結。其病則腹筋急引缺盆及頰）。又屬手足少陽三焦、膽經（《靈樞》曰：手少陽之脈，上肩，而交出足少陽之後，入缺盆，布膻中。其支者，從膻中上出缺盆。又曰：足少陽之脈，循頸行手少陽之前，至肩上，卻交出手少陽之後，入缺盆。所生病者缺盆中腫痛）。又屬手足太陽小腸、膀胱經（《靈樞》曰：手太陽之脈，交肩上，入缺盆。其支者，從缺盆循頸，上頰。又曰：足太陽之筋，其支者腋下入缺盆。其病缺盆中紐痛，不可以左右搖）。又屬陰蹺脈（《靈樞》曰：陰蹺脈，循胸裡，入缺盆，上出人迎之前）。</p>

<h2>四十七、〔背〕</h2>
<p>統屬足太陽膀胱經（《靈樞》曰：足太陽所生病者，項背腰尻皆痛。《素問》曰：邪客於足太陽之絡，令人拘攣背急，引脅而痛。又曰：巨陽虛，則腰背頭項痛。又曰：足太陽脈，令人腰痛引項脊，尻背如重狀。楊上善曰：三陽為經者，謂足太陽之脈，從目內眥上頭，分為四道，下項，並正別脈，上下六道，以行於背，與身為經）。又屬手太陰肺經（《靈樞》曰：手太陰所生病者，氣盛有餘，則肩背痛，風寒汗出；氣虛，則肩背痛寒，少氣不足以息。又曰：巨肩及膺陷喉者肺高，合腋張脅者肺下；好肩背厚者肺堅，肩背薄者肺脆；背膺厚者肺端正，脅偏踈者肺偏傾也。《素問》曰：背為陽，陽中之陰肺也。又曰：西方白色，入通於肺，故病在背。又曰：秋脈太過，則令人逆氣，而背痛慍慍然。又曰：咳嗽喘逆，肩背痛，汗出。李東垣曰：肩背痛，風寒汗出，中風，小便數而少者，風熱乘其肺，使肺氣鬱甚也，以通氣防風湯主之可也）。兼屬足少陰腎經（《靈樞》曰：心痛引背不得息，刺足少陰。《素問》邪在腎，則病肩背痛，取之湧泉，崑崙，視有血者盡取曰：之。李東垣曰：腎氣不循故道，氣逆挾脊而上，致肩背作痛，宜和氣飲，加鹽炒小茴香半錢、川椒十粒）。又屬衝脈（《靈樞》曰：衝脈起於胞中，上循背裡，為經絡之海）。又總屬五臟（《靈樞》曰：五臟之俞，出於背者，胸中大俞，在杼骨之端，肺俞在三椎之間，心俞在五椎之間，膈俞在七椎之間，肝俞在九椎之間，脾俞在十一椎之間，腎俞在十四椎之間，皆挾脊相去三寸取。則欲得而驗之，按其處，應在中而痛解，乃其處也。灸之則可，刺之則不可。唐太宗曰：朕讀《明堂》針灸書，云人五臟之系，咸附於背，自今毋得笞囚背。「椎」舊作「膲」，古通用）。</p>

<h2>四十八、〔脊）</h2>
<p>（膂也，上自大顀，下至尾骶端，共二十一節）屬足少陰腎經、督脈之合（《靈樞》曰：足少陰之脈，貫脊屬腎。又曰：心痛引腰脊，欲嘔，取足少陰。又曰：督脈之別，當肩胛左右，別走太陽入貫膂。實則脊強，虛則頭重高搖之，挾脊之有過者，取之所別也。《素問》曰：足少陰令人腰痛，痛引脊內廉。又曰：冬脈太過，則令人解㑊，脊脈痛而少氣不欲言；其不及，則令人心懸如飲，䏚中清，脊中痛，少腹滿，小便變。冬脈者，腎脈也。注：太過者，來如彈石也。解㑊，不可名狀。腎太過，則強不強、弱不弱、寒不寒、熱不熱，解解㑊㑊然，不可名也。不及者，其去如數，清冷也。又曰：腎風之狀，多汗惡風，面龐然浮腫，脊病不能正立。又曰：腎瘧者，令人洒洒然，腰脊痛宛轉。《中藏》曰：腎之精微，脊與腰相引而痛。飢見飽減）。又屬手太陽小腸經（《靈樞》曰：小腹控睪，引腰脊上衝心，在小腸，取之育原以散之。李東垣曰：凡脊痛項強，不可回顧，腰似折，項似拔者，乃手足太陽症也，當用防風。沈承之曰：脊有三行，中行自大顀下至尾骶端，屬督脈，又屬足少陰腎經；膂二行，去中行左右，各開一寸五分，屬足太陽膀胱經、少陽膽經之會；膂三行，去中行左右各開三寸，屬手足太陽小腸、膀胱之會）。兼屬足太陰脾經（《靈樞》曰：足太陰之筋，其內者著於脊，其病脊內痛）。</p>

<h2>四十九、〔胂〕</h2>
<p>（挾脊兩旁隴起之肉也）屬足太陽膀胱經（《靈樞》曰：足太陽之脈，其支者，從髆內左右別下貫胂，挾脊肉，過髀樞。《素問》曰：腰痛，挾脊而痛至頂，頭沉沉然，目𥉂𥉂然，欲僵仆，刺太陽郄中出血絡）。</p>

<h2>五十、〔胸〕</h2>
<p>（膺也，又曰臆）統屬手少陰心經（《靈樞》曰：手少陰之脈，起於心中，出屬心系，下膈絡小腸。又曰：手少陰之筋，挾乳里，結於胸中，其病內急，心承伏梁。《素問》曰：南風生於夏，其髒心，俞在胸膈，其病內舍膺脅。又曰：心病者，胸中痛，脅支滿；虛則胸腹大，脅下與腰相引而痛。又曰：赤脈之至也，喘而堅。診曰：有積氣在胸中，時害於食，名曰心痹。得之外疾思慮而心虛，故邪從之）。又屬手厥陰心包經（《靈樞》曰：手厥陰之脈，起於胸中，出屬心包絡，下膈歷三焦；其支者，循胸出脅下。是動則病胸脅支滿，心中憺憺大動。又曰：手心主之別，名曰內關，去腕二寸，出於兩筋之間，循經以上，絡於心包，絡心系。實則心痛，虛則為頭強，取之兩筋間也）。又屬足少陰腎經（《靈樞》曰：足少陰之脈，其支者，從肺出絡心，注胸中。又曰：氣在腎者，止之膺與背俞。《素問》曰：邪客於足少陰之絡，令人卒心痛，暴脹，胸脅支滿）。又屬手足太陰肺經、脾經（《靈樞》曰：白脈之至也，喘而浮，上實下虛，驚，有積氣在胸中；喘而虛，名曰肺痹，寒熱，得之醉而使內也。《靈樞》曰：足太陰之脈，其支者，從胃別上膈，注心中。所生病者煩心，心下急痛。又曰：氣滿胸中，喘息，取足太陰，大指之端，去爪甲如韭葉。寒則留之；熱則疾之；氣下乃止）。兼屬手太陽小腸經（《素問》曰：心煩頭痛，病在膈中，過在手巨陽、少陰。注：巨陽之脈，從肩上入缺盆，絡心，循咽，下膈，抵胃，屬小腸。故心煩頭痛，病在膈中也）。又屬手足陽明大腸、胃經（《素問》曰：邪客於手陽明之絡，令人氣滿胸中，喘息而支胠，胸中熱。《靈樞》曰：足陽明，挾喉之動脈也，其俞在膺中。又曰：胃病者腹䐜脹，胃脘當心而痛。一曰：陽明所謂胸滿短氣者，水氣在臟腑也。水者陰氣也，陰氣在中，故胸痛少氣也。輕者五苓散，重者用張子和法治之。沈承之曰：胸有四行，中行自結喉下循鈐骨，抵𩩲骬，屬任脈；膺二行，去中行左右，各開二寸，屬足少陰腎經；膺三行，去中行左右，各開四寸，屬足陽明胃經；膺四行，去中行左右，各開六寸，屬足太陰脾經）。</p>

<h2>五十一、〔膻中）</h2>
<p>（胸中兩乳之間，即上焦之分也）屬手厥陰心包經、任脈之會（《靈樞》曰：膻中者，心主之宮城也。又曰：膻中者，為氣之海，其俞上在於柱骨之上下，前在於人迎。氣海有餘者，氣滿胸中，悗息面赤；氣海不足，則氣少不足以言。《素問》曰：任脈者，起於中極之下，以上毛際，循腹裡，上關元，至咽喉。又曰：膻中者，臣使之官，喜樂出焉。注：心主為君，以敷宣教令，膻中主氣，以分布陰陽，故官為臣使也。氣適志和，則喜樂由生矣）。兼屬手少陽三焦經（《靈樞》曰：營氣合少陽上行，注膻中，散於三焦。又曰：手少陽之脈，布膻中，散絡心包。其支者，從膻中，上出缺盆）。又屬足厥陰肝經（《靈樞》曰：厥陰根於大敦，結於玉莖，絡於膻中）。</p>

<h2>五十二、〔𩩲骬〕</h2>
<p>（臆前心蔽骨下尖頭軟骨，即鳩尾穴之分也，一名尾翳，言𩩲骬象鳩鳥之尾而蔽心也。如人無蔽骨者，可在兩岐骨下，增同身寸之一寸）屬手少陰心經、任脈之會（《靈樞》曰：五臟六腑，心為之主，缺盆為之道。䯏骨有餘，以候𩩲骬。無𩩲骬者心高，𩩲骬小短舉者心下；𩩲骬長者心下堅，𩩲骬弱小以薄者心脆；𩩲骬直下不舉者心端正，𩩲骬倚一方者，心偏傾也。又曰：任脈之別，名曰尾翳，下鳩尾，散於腹。又曰：膏之原，出於鳩尾，肓之原，出於脖胦）。</p>

<h2>五十三、〔乳〕</h2>
<p>屬足陽明胃經（《靈樞》曰：足陽明之脈，從缺盆下乳內廉。王啟玄曰：乳之上下，皆足陽明之脈也。《針灸經》云：乳中二穴當乳，足陽明脈氣所發。朱丹溪曰：胃經見證，胸旁過乳痛。《婦人良方》曰：乳癰者，由乳潼結聚，皮薄以澤而成。蓋陽明之脈主血，其血又歸厥陰之氣，血澀不通，氣結不散，故積聚成癰也）。又屬足厥陰肝經（《乳癰論》曰：乳房陽明所經，乳頭厥陰所屬。凡乳母不知調養，忿怒所逆，鬱閉所遏，厚味所釀，以致厥陰之氣不行，故竅不得通；而汁不得出，陽明之血沸騰，故熱甚而化膿。治法以青皮疏厥陰之滯，以石膏清陽明之熱，以生甘草節行汙濁之血，以栝蔞子或加沒藥、青橘葉、皂角刺、當歸、金銀花消腫導毒，隨症消息。然須以少酒佐之，加以艾火兩三壯於腫處，其效尤捷）。兼屬足少陽膽經、太陰脾經、陰維脈之會。（《靈樞》曰，足少陽之筋，走腋前廉，繫於膺乳，結於缺盆，其病季脅痛，上引缺盆膺乳。又曰：足太陰之筋，循腹裡，結於肋，散於胸中。沈承之曰：直乳下三寸五分，名期門穴，屬足厥陰肝經、太陰脾經、陰維之會；下四寸，名日月穴，屬足少陽膽經、太陰脾經、陰維脈之會）。</p>

<h2>五十四、〔虛里〕</h2>
<p>（乳根穴分也，俗謂之氣眼）屬足陽明胃經，（《甲乙經》曰：胃之大絡，名曰虛里，貫膈絡肺，出於左乳下，其動應手，脈之宗氣也。盛喘數絕者，則病在中；結而橫，有積矣；絕不至，曰死。《素問》曰：乳之下，其動應衣，宗氣泄也。顧英白曰：乳根二穴，左右皆有動氣，經何獨言左乳下？蓋舉其動之甚者耳，非左動而右不動也。其動應手，脈宗氣也。《素問》本無二義，馬玄臺因仿刻之誤，而謂應衣。應衣者，言病人肌肉瘦弱，其脈動甚，而應衣也，亦通。始讀《素問》，則心竅疑之，至讀《甲乙經》而疑遂釋然）。兼屬手少陰心經（《靈樞》曰：五穀入於胃也，其糟粕、津液、宗氣分為三隧，故宗氣積於胸中，出於喉嚨，以貫心脈，而行呼吸焉。張介賓曰：虛里跳動，最為虛損病本，故凡患陰虛勞怯，則心下多有跳動，及為驚悸者，人但知其心跳，而不知為虛里之動也。其動微者病尚淺，動甚者病則甚。凡患此者，常以純甘壯水之劑，填補真陰，活者多矣）。</p>

<h2>五十五、〔腋〕</h2>
<p>（臂下脅上際也）屬手厥陰心包經（《靈樞》曰：手厥陰之脈，其支者，循胸出脅，下腋三寸，上抵腋下，是動則病腋腫。又曰：手心主之正別，下淵腋三寸，入胸中。又曰：手心主之筋，結腋下。又曰：腋下三寸，手心主也，其名天池）。又屬手太陰肺經、少陰心經（《靈樞》曰：手太陰之脈，從肺系橫出腋下。又曰：手太陰之正，別入淵腋少陰之前。又曰：腋下動脈，臂太陰也，名曰天府。暴癉內逆，肝肺相搏，血溢鼻口，取天府。又曰：手少陰之脈，從心系卻上肺，下出腋下。又曰：手少陰之正，別入於淵腋兩筋之間，屬於心）。又屬足厥陰肝經、太陰脾之大絡。（《靈樞》曰：肝有邪，其氣留於兩腋。又曰：脾之大絡，名曰大包，出淵腋下三寸，布胸脅，實則腹盡痛，虛則百節盡皆縱。此脈若羅絡之血者皆取之。沈承之曰：腋間屬手足厥陰心包、肝經，腋前屬手太陰肺經，腋後屬手少陰之經，腋下屬足厥陰肝經，下六寸，屬足太陰脾之大絡）。兼屬手太陽小腸經、足少陽膽經（《靈樞》曰：手太陽之筋，結於腋下，其病腋下痛。又曰：足少陽之脈，從缺盆下腋，所生病者腋中腫。又曰：足少陽之筋，從季脅上走腋前廉。朱丹溪曰：手足厥陰合生見證，曰腋腫，手厥陰、足少陽也）。</p>

<h2>五十六、〔腹〕</h2>
<p>（俗謂之肚，中脘穴分，即中焦也）統屬足太陰脾經（《靈樞》曰：足太陰之脈，循膝股內前廉入腹。是動則病腹脹善噫，得後與氣，則快然如衰。又曰：太陰終者，腹脹閉，不得息，善噫善嘔；嘔則逆，逆則面赤，不逆則上下不通；上下不通則面黑，皮毛焦而終矣。又曰：足太陰之別，名曰公孫，去本節之後一寸，別走陽明，其別者入絡腸胃。厥氣上逆則霍亂；實則腸中切痛，虛則鼓脹，取之所別也。又曰：腹脹滿，食不化，腹響響然不能大使，取足太陰。《素問》曰：陰中之至陰，脾也。腹者，至陰之所居。又曰：脾病內舍心腹，外在肌肉四肢。又曰：黃脈之至也，大而虛，有厥氣在腹中。厥氣，名曰疝厥，女子同法。得之疾使四肢汗出當風。又曰：中氣不足，謂之脾虛，則腹滿腸鳴，飧泄，食不化。又曰：傷寒十日，太陰病衰，腹減如故，則思飲食。又曰：太陰之厥，則腹滿䐜脹，後不利，不欲食，食則嘔，不得臥。又曰：脾瘧者，令人寒則腹中痛，熱則腸中鳴，已汗出。李東垣曰：中脘痛者，太陰也，理中湯或建中湯，及草豆蔻丸之類主之）。又屬足陽明胃經（《靈樞》曰：足陽明之脈，其支者起於胃口，下循腹裡。所生病者，大腹水腫。《素問》曰：腹中鳴者，病本於胃也。薄脾，則煩不能食，食不下者，胃脘膈也。又曰：胃瘧者，令人善飢而不能食，食而支滿腹大。楊上善曰：足陽明脈，從鼻起，下咽，分為四道，並正別脈六道，上下行腹，綱維於身）。兼屬手太陽小腸經、少陽三焦經之會。（《素問》曰：腹暴滿，按之不下，取手太陽經絡者，胃之募也。注：胃募，中脘穴也，居蔽骨與臍之中，手太陽小腸、足陽明脈所生也）。又屬足少陰腎經、厥陰肝經（《靈樞》曰：腹滿，大便不利，腹大，亦上走胸嗌，喘息渴渴然，取足少陰。又曰：足之三陰，從足走腹。《素問》曰：腎病者，腹大脛腫，虛則胸中痛，大腹、小腹痛。又曰：肝熱病者，小便先黃，腹痛多臥，身熱）。又屬衝脈、任脈之會（《靈樞》曰：衝脈、任脈之浮而外者，循腹右上行，會於咽喉。又曰：任脈之別，散於腹。實則腹皮痛，虛則瘙癢，取之所別也。《素問》曰：衝脈挾臍上行，至胸中而散。故衝脈為病，則逆氣裡急也。沈承之曰：腹分四行，中行臍上五寸，名上脘穴，屬足陽明胃經、手太陽小腸經、任脈之會。臍上四寸，名中脘穴，又謂之上紀，屬手太陽小腸經、少陽三焦經、足陽明胃經、任脈之會。臍上二寸，名下脘穴，屬足太陰脾經、任脈之會。第二行去中行左右各開五分，屬足少陰腎經、衝脈之會。第三行去中行左右各開二寸，屬足陽明胃經。第四行去中行左右各開三寸五分，屬足太陰脾經、陰維脈之會）。</p>

<h2>五十七、〔脅肋〕</h2>
<p>（肋者，脅之骨，脅總而肋分也。舊云無骨曰脅者，大誤也）統屬足厥陰肝經（《靈樞》曰：足厥陰之脈，貫膈布脅肋。又曰：廣胸及骹者肝高，合脅兔骹者肝下；胸脅好者肝堅，脅骨弱者肝脆；膺腹好相得者肝端正，肋骨偏舉者肝偏傾也。又曰：邪在肝，則兩脅中痛。《素問》曰：其臟肝，其病內舍胠脅。又曰：青脈之至也，長而左右彈，有積氣在心下支胠，名曰肝痹。得之寒濕，與疝同法，腰痛、足清、頭痛。又曰：肝病頭目眩，嘔泄，脅支滿。又曰：肝脈搏堅而長，色不青，當病若搏。因血在脅下，令人喘逆。朱丹溪曰：脅痛，肝火盛，木氣實。肝火盛，以薑汁下當歸龍薈丸以瀉之；木氣實，以川芎、蒼朮、青皮、當歸之類泄之。又曰：去滯氣，用青皮，青皮乃肝膽二經之藥。人多怒，脅下有鬱積，固宜以此解二經之實。若二經氣不足者，當先補血，少加青皮可也。戴復庵曰：脅痛別無雜症，在左為肝經受病，宜用川芎、枳殼、甘草；在右為肝移熱於肺，宜用薑黃、枳殼、桂心、甘草）。又屬足少陽膽經（《靈樞》曰：足少陽之脈，其支者循脅裡出氣街。是動則病脅痛，不能轉側。《素問》曰：邪客於足少陽之絡，令人脅痛不能息，咳而汗出。又曰：少陽有餘，病筋痹脅滿。又曰：傷寒三日，少陽受之，其脈循脅絡於耳，故胸脅痛而耳聾。李東垣曰：兩脅痛，刺少陽丘墟。丘墟穴在兩足外踝下，微前骨縫陷中，乃足少陽經之原穴也）。兼屬足太陰脾經、太陽膀胱經（《靈樞》曰：足太陰之筋，循腹裡，結於肋，散於胸中，其病兩脅痛引膺中。沈承之曰：脅前屬足少陽膽經，脅後屬足太陽膀胱經）。</p>

<h2>五十八、〔季脅〕</h2>
<p>（脅下也）屬足少陽膽經（《靈樞》曰：足少陽之脈，循胸過季脅下。又曰：足少陽之別者，入季脅之間，循胸裡，屬膽）。又屬足厥陰肝經（《靈樞》曰：若有所大怒，氣上而不下，積於脅下，則傷肝。《素問》曰：肝病者，兩脅下痛引少腹，令人善怒。又曰：肝咳之狀，咳則兩脅下痛，甚則不可以轉，轉則兩胠下滿。《中藏》曰：肝虛冷，則脅下堅痛，目盲臂痛，發寒如瘧狀，不欲食，婦人月水不來，氣急，其脈左關上沉而弱者是也）。兼屬手太陰肺經（《靈樞》曰：手太陰之筋，合賁下，抵季脅，其病息賁脅急，吐血，治在燔針劫刺，以知為數。朱丹溪曰：左脅多因留血作痛，右脅悉是痰積作痛。痰氣亦有流注於左者，然必與血相搏而痛，不似右脅之痛無關於血也）。又屬五臟之會（《難經》曰：臟會於季脅。注：臟，五臟也。季脅，章門穴也，一名脅髎。在臍旁左右各九寸，直季脅，乃足厥陰之穴。帶脈發於此，脾之募也。脾受穀氣，播敷各臟，故臟會於季脅，不能食而熱，可灸章門。張潔古曰：脅痛者肝也，身熱而煩者心也，體重而滿者脾也。寒熱者肺也，足脛寒而逆者腎也）。</p>

<h2>五十九、〔䏚〕</h2>
<p>（季脅之下，挾脊兩旁空軟處也）屬足少陰腎經、帶脈之會（《靈樞》曰：足少陰之正，至腎，當十四椎出屬帶脈。王太僕曰：腎之外當䏚）。又屬足少陽膽經、太陽膀胱經（《靈樞》曰：足少陽之筋，其直者上乘䏚季脅，其病䏚季脅痛。《素問》曰：䏚絡季脅，引少腹而痛脹，刺譩譆。譩譆穴在肩膊內廉，挾第六椎下，以手厭之，令病人呼譩譆之聲，則指下動矣，此足太陽脈氣所發也）。</p>

<h2>六十、〔腰〕</h2>
<p>（尻上橫骨也）統屬足少陰腎經（《靈樞》曰：足少陰之別，並經上走於心包下，外貫腰脊。其病逆則煩心，實則閉癃，虛則腰痛。又曰：腎盛怒而不止，則傷志，志傷則善忘其前言，腰脊不可以俯仰屈伸，毛際色夭，死於季夏也。《素問》曰：北風生於冬，病在腎，俞在腰股。又曰：腎病內舍腰脊骨髓，外在溪谷踹膝。注：踹，腓腸也，又曰：腎脈搏堅而長，其色黃而赤者，當病折腰。又曰：腎熱病者，先腰痛脛酸，苦渴數飲，身熱，腰脊不舉，骨枯而髓減，發為骨痿。又曰：腎咳之狀，咳則腰脊相引而痛。又曰：腰者腎之腑，轉搖不能，腎將憊矣，得強者生，失強者死。又曰：因而強力，腎氣乃傷，高骨乃壞。注：高骨，腰高之骨也。朱丹溪曰：諸經皆貫於腎，而絡於腰脊。腎氣一虛，則凡衝風受濕，傷冷蓄熱，血澀氣滯，水積墮傷，與夫失志作勞，種種腰疼，疊見而層出矣。《三因方》云：腎著為病，其體重，飲食如故，小便自利，腰以下冷痛，如帶五千錢，治宜流濕，兼用溫散，腎著湯主之）。又屬足太陽膀胱經（《靈樞》曰：足太陽之脈，挾脊抵腰中。《素問》曰：足太陽之瘧，令人腰痛頭重，寒從背起。李東垣曰：太陽氣虛，則邪客之。邪者，風、熱、寒、濕皆然。寒濕多而風熱少，又有房勞傷腎而腰痛者，此由陽虛不能運動也，宜補陽。若膏粱之人，久服湯藥，醉以入房，損其真陰，腎氣熱，腰脊痛而不能舉，久則髓減骨枯，此由陰虛生內熱也，宜補陰。又曰：防風辛溫，氣味俱薄，浮而升陽也。若脊痛項強，不可回顧，腰似折，項似拔者，乃手足太陽症，正宜用之）。又屬足厥陰肝經（《靈樞》曰：足厥陰之脈，是動則病腰痛，不可以俯仰，丈夫㿉疝，婦人少腹腫。《素問》曰：厥陰之脈，令人腰痛，腰中如張弓弩弦。朱丹溪曰：腰軟者皆腎肝伏熱，治宜黃柏、防己）。兼屬足陽明胃經、少陽膽經（《靈樞》曰：腰痛、痛上寒，取足太陽、陽明；痛上熱，取足厥陰；不可以俯仰，取足少陽。《素問》曰：少陽令人腰痛，如以針刺其皮中，循循然不可以俯仰，不可以顧；陽明令人腰痛，不可以顧，顧如有見者，善悲。又曰：肉裡之脈，令人腰痛不可以咳，咳則筋縮急，刺肉裡之脈，為二痏，在太陽之外，少陽絕骨之後。又曰：同陰之脈，令人腰痛，痛如小錘居其中，怫然腫。注：同陰，足少陽之別絡也）。又屬足太陰脾經（《素問》曰：散脈令人腰痛而熱，熱甚甚煩，腰下如有橫木居其中，甚則遺溲。注：散脈，足太陰之別脈也）。</p>

<h2>六十一、〔命門〕</h2>
<p>（一名精宮，在背對臍，以竹竿立地量之，使無高下也）屬督脈（《明堂經》曰：命門穴，在第十四椎節下間，與腎相當，伏而取之，督脈氣所發也。病五臟熱，脈弦急者，當灸五十壯，老少增損之。如虛寒者，灸百壯）。又屬足少陰腎經（《難經》曰：十二經之脈，皆繫於生氣之原，生氣之原者，謂腎間之動氣，五臟六腑之本，三焦之原。呼吸之門也。一名守邪之神。根絕則枝葉枯矣，故有寸口脈平而死者，生氣獨絕於內也。注：腎間動氣，謂命門穴也。顧英白曰：命門居兩腎之中，故《脈訣》云左為腎，右為命門，非也。不知十二經脈，則有心包與三焦，而腹中臟腑，豈能以兩腎為二臟者。夫膀胱與腎為配偶，腎二而膀胱一，故曰孤之腑，後之人不可以憬然而誤歟？或又以命門為子戶，則愈謬矣！子戶在中極之旁，左亦名胞門，得毋以命門易心包之故而云然耶？可慨甚矣！丹田亦名曰命門，任脈所發也，為三焦之募，故命門專以配三焦。然《脈訣》之命門，則必屬督脈焉，為其可以通於腎也）。</p>

<h2>六十二、〔臍〕</h2>
<p>（神闕穴之分也，又名為氣舍）屬任脈、衝脈之會（《素問》曰：任脈者，起於少腹，直上貫臍中央。又曰：衝脈者，起於氣街，並少陰之經。挾臍上行，至胸中而散）。又屬足少陰腎經、太陰脾經（《靈樞》曰：熱病挾臍急痛，胸脅滿，取之湧泉。湧泉，足少陰之井穴也，又曰：足太陰之筋，上腹，結於臍。李東垣曰：臍腹痛，少陰也，四逆真武附子湯之類主之。故臍下或大痛，人中黑色者，不可治。《機要》曰：臍下發熱者，腎經病也，非熟地黃不能除，以其能補腎也。《心鑑》曰：脾絕者，臍突唇反）。又屬手足陽明大腸、胃經（《靈樞》曰：足陽明之脈，從乳內廉下挾臍，入氣街中。又曰：積著於陽明之筋，則挾臍而居，飽食則差，大飢則益也。又曰：胃中熱，則消穀，令人懸心善飢，臍以上皮熱。腸中熱。則出黃如糜，臍以下皮寒。胃中寒，則腹脹；腸中寒，則腸鳴飧泄。胃中寒，腸中熱，則脹而且泄；胃中熱，腸中寒，則疾飢，小腹痛脹。《素問》曰：人有身體髖股胻皆腫，環臍而痛者，病名伏梁，此風根也。其氣溢於大腸而著於肓；肓之原在臍下，故環臍而痛。《中藏》曰：冬日大腸，重感於寒，則腹中當臍而痛，鳴濯濯，不能久立，痛已則泄白物）兼屬足太陽膀胱經、厥陰肝經（朱丹溪曰：足太陽膀胱經見症，臍反出。沈承之曰：挾臍旁左右二寸名天樞穴，大腸之募也，屬足陽明胃經，會手陽明大腸經。臍下三寸，名關元穴，小腸之募也；四寸名中極穴，膀胱之募也，並屬足三陰脾、腎、肝經、任脈之會）。又以動脈分五臟（《難經》曰：臍左動氣屬肝，臍右動氣屬肺，臍上動氣屬心，臍下動氣屬腎，當臍動氣屬脾。又曰：臍上牢若痛，心內症也；臍下牢若痛，腎內症也；臍右牢若痛，肺內症也；臍左牢若痛，肝內症也）。</p>

<h2>六十三、〔少腹〕</h2>
<p>（一名小腹，即下焦也）屬足厥陰肝經、任脈之會（《靈樞》曰：足厥陰之脈，過陰器，抵小腹。又曰：肝脹者，脅下滿，而痛引小腹。又曰：小腹滿大，上走胃至心，淅淅身時寒熱，小便不利，取足厥陰。《素問》曰：厥陰之厥，則少腹腫痛，腹脹，涇溲不利。又曰：足厥陰之瘧，令人腰痛，少腹滿，小便不利如癃狀。李東垣曰：少腹痛，厥陰也，重則正陽散、回陽湯主之；輕則當歸四逆湯主之。王海藏曰：玄胡索，治心氣痛、少腹痛如神，入足厥陰也）。又屬手足太陽小腸、膀胱經（《靈樞》曰：小腸脹者，小腹䐜脹，引腰而痛。膀胱脹者，小腹滿而氣癃。又曰：小腸病者，少腹滿痛，腰脊控睪而痛，時窘之後，耳前熱。若寒甚，若肩上熱，及手小指次指間熱。膀胱病者，小腹偏腫而痛，以手按之，即欲小便而不得，肩上熱。又曰：小腹痛腫，不得小便，邪在三焦約。取之太陽大絡，視其絡脈，與厥陰小絡結而血者。顧英白曰：三焦約者，即膀胱也，故經又曰：三焦病者，腹脹滿，小腹尤堅，不得小便，時窘急，溢則水溜，此皆小腸、膀胱病也。蓋小腸者，膀胱之源；膀胱者，小腸之委。而心與小腸，實相為表裡，故心包與三焦，亦相為表裡。而膀胱、三焦，經文時並稱之耳，豈別有所謂三焦之腑哉）。又屬足少陰腎、太陰脾經（《素問》：黑脈之至也，上堅而大，有積氣在小腹與陰，名曰腎痹，得之沐浴清水而臥。注：清，冷也。又曰：邪客於足太陰之絡，令人腰痛，引少腹控眇，不可以仰息。《靈樞》曰：身有所傷，血出多，及中風寒，若有所墮墜，四肢懈墮不收，名曰體惰，取其小腹、臍、三交結。三交結者，陽明、太陰也）。</p>

<h2>六十四、〔髖〕</h2>
<p>（腰胯骨也，亦謂之踝。腰旁挾脊，平立陷者中，按之有骨機關處，動者是也）屬足少陽膽經（《素問》曰：挾髖為機，膕上為關。又曰：少陽厥逆，機關不利，腰不可以行，項不可以顧。又曰：腰痛引少腹控䏚，不可以仰，刺腰尻交者兩踝胂上，以月死生為痏數）。</p>

<h2>六十五、〔髀樞〕</h2>
<p>（即髀厭也，當環跳穴之分，謂之樞者，以楗骨轉動，如戶之樞也，亦曰髀關）屬足少陽膽經（《素問》曰：邪客於足少陽之絡，令人留於樞中，痛髀不可舉。朱丹溪曰：環跳穴痛，防生附骨疽）。又屬足太陽膀胱經（《靈樞》曰：足太陽之脈，挾脊內，過髀樞。又曰：兩肘兩腋，兩髀兩膕，此八虛者，皆機關之地，真氣之所過，血絡之所遊，邪氣惡血，固不得留住。留住，則傷筋絡，骨節機關不得屈伸，致病攣也）。兼屬足陽明胃經（《靈樞》曰：足陽明之筋，結於髀樞，上循脅，屬脊。又曰：足陽明之脈，至氣街中而合，以下至髀關，抵伏兔。顧英白曰：髀關一穴，是足陽明所發也，在髀樞之前廉。竇氏以腹下腿上為髀樞者，原非誤也。若髀樞之別名為髀關，則所謂楗後為關者耳，此止一穴之髀關也。承之但知一穴之髀關，而不知髀樞可以名髀關，而反以竇氏為誤也，宜矣。舊重出髀關者，大非）。</p>

<h2>六十六、〔楗骨〕</h2>
<p>（在髀輔骨上，腰橫骨下，股外之中，側立搖動取之，筋動應手者是也）屬足少陽膽經（《素問》曰：輔骨上，橫骨下為楗，楗上為機，楗後為關。又曰：蹇膝，伸不能屈，治其楗也）。</p>

<h2>六十七、〔毛際〕</h2>
<p>（少腹下，陰毛之邊際，氣街穴之分也）屬足少陽膽經、厥陰肝經之合（《靈樞》曰：足少陽之脈，繞毛際，橫入髀厭中。又曰：足厥陰之脈，循股陰入毛中。又曰：足少陽之正，繞髀入毛際，合於厥陰。又曰：足厥陰之正，別跗上，上至毛際，合於少陽。《素問》曰：下部天，足厥陰也，以候肝。注：肝脈在毛際外，羊矢下一寸陷中，五里穴之分，臥而取之，動應於手者是也）。又屬足少陰腎經、衝脈之會（《靈樞》曰：衝脈與足少陰之大絡，起於腎下，出於氣街）。</p>

<h2>六十八、〔陰器〕</h2>
<p>（〔交骨附〕男子曰玉莖，女子曰玉門，門之開合者曰交骨，即小便也。舊重出者非）統屬足厥陰肝經（《靈樞》曰：足厥陰之筋，循陰股，結於陰器，絡諸筋。其病陰器不用，傷於內，則不起；傷於寒，則陰縮入；傷於熱，則挺縱不收。又曰：足厥陰之脈過陰器所，生病者，遺溺、閉癃。《素問》曰：厥陰之脈者，絡陰器，繫於肝。《難經》曰：假令得肝脈，其病四肢滿，閉淋，溲、便難，轉筋，有是者肝也。李東垣曰：腎主大便，肝主小便。朱丹溪曰：陰莖痛，是厥陰經氣滯兼熱，宜用甘草梢以緩其氣。或問古今方論，以澀為收，芍藥本收劑，而云利小便，何謂也？東垣曰：芍藥能停諸濕，而益津液，以此補陰滋濕，故小便自行，非通利之謂也）。</p>
<p>又屬沖、任、督三脈之會（《難經》曰：沖、任、督與厥陰，會於曲骨，環陰器。《素問》曰：督脈者，起於少腹以下骨中央，女子入系廷孔，其孔溺器之端也。男子循莖下至篡，與女子等。又曰：衝脈者，經脈之海也，主滲灌溪谷，與陽明合於宗筋）。又屬足太陽膀胱經（《靈樞》曰：足三焦者，太陽之別也，並太陽之正，入絡膀胱約下焦。實則閉癃，虛則遺溺。《素問》曰：膀胱不約為遺溺，水泉不止，是膀胱不藏也。不利為癃，小便閉也。《中藏》曰：熱入膀胱，則其氣急而小便黃，膀胱寒，則小便數而清白。王海藏曰：小便不通，宜用滑劑利竅，以通水道。滑石入足太陽經，為至燥之劑，木通、豬苓、阿膠，皆滑劑也。朱丹溪曰：膀胱有熱者，宜用黃柏、知母之類以瀉之）。又屬手太陽小腸經（《靈樞》曰：手太陽，外合於淮水，內屬於小腸，而水道出焉。朱丹溪曰：凡小腸有氣則小便脹，有血則小便澀，有熱則小便痛；痛者為血淋，不痛者為溺血。陳良甫曰：小腸有熱，入於脬內，熱結甚，則小便不通。小便不通，則心脅小腹，氣澀而喘急）。又屬足少陰腎經（《靈樞》曰：足少陰之筋，並太陰之筋，而上循陰股，結於陰器。王海藏曰：凡服澤瀉散，人未有不小便多者，小便既多，腎氣安得復實。李東垣曰：渴而小便不利者，熱在上焦肺分故也，宜清肺散、豬苓湯。不渴而小便通者，熱閉於下焦，腎與膀胱也，宜滋腎丸、導氣除濕湯）。兼屬足少陽膽經（李東垣曰：小便淋溲者，邪在少陽、厥陰。徐伯魯曰：少陽者，足少陽膽與足厥陰肝，相為表裡也）。又屬手太陰肺經（《靈樞》曰：手太陰之別，名曰列缺，其病虛則欠㰦，小便遺數。《素問》曰：飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，合於四時，五臟陰陽，揆度以為常也。注：水土合化，上滋肺金，金氣通腎，故調水道。轉註下焦，膀胱稟化，以為溲矣。王海藏曰：或用梔子利小便，非利小便也，以清肺也。肺氣清而能化，膀胱為津液之腑，小便乃得出。李東垣曰：小便遺失者，肺金虛也，宜安臥養氣，禁勞役，以參耆之類補之。不愈，當責有熱，加生地、黃柏。朱丹溪曰：小便不通，如因肺燥，不能生水，則宜清金，此隔二之治，用車前子、茯苓之類。又曰：香薷屬金與水，而有徹上徹下之功，治水甚捷。肺得之，則清化行，而熱自下。又曰：一人小便不通，脈右寸濡滑，此積痰在肺也。肺為上焦，膀胱為下焦，上焦閉，則下焦塞，如滴水之器，必上竅通，而後下竅之水出焉。以法大吐之，病如失。又曰：肺中伏熱，水不能生，是絕小便之源也）。又屬足太陰脾經、陽明胃經之合（《靈樞》曰：足太陰之筋，聚於陰器。其病陰器紐痛，上引臍。又曰：足陽明之筋，聚於陰器，上腹。其病㿉疝，腹筋急。治在燔針劫刺，以知為數，以痛為腧。《素問》曰：前陰者，宗筋之所聚，太陰、陽明之所合。又曰：陽明者，五臟六腑之海，主潤宗筋，宗筋主束骨而利機關也。朱丹溪曰：人因脾濕不運，而精不升，則肺不能生水，而小便不通，法宜燥胃健脾。此隔三之治，用二術之類。又：琥珀屬陽金，以燥脾土有功，故古方利小便用之。蓋脾能運化，則肺自下降，而小便可通也。又曰：古方有脾約症，謂胃強脾弱，約束津液，不得四布，但輸膀胱，故小便數而大便難，於是制脾約丸以下脾之結燥。腸潤結化，津液入腎而愈。然既曰脾約，必陰血枯槁，內火燔灼，熱傷元氣。故津燥金虛，勢必竊母氣以自救，由是土受木傷，脾失轉輸，肺失傳送，宜乎大便閉而難，小便數而無藏蓄也。理宜滋養陰血，使陽火不熾，金行清化，脾土精健，津液入腎，腸潤而通矣。今此丸用之熱盛而氣血實，與西北方人，稟賦壯實者，固無不宜，若概用之東南方人，與熱雖盛而氣血不實者，雖得暫通，將見脾愈弱而腸愈燥矣。要之在西北以開結為主，在東南以潤燥為主）。</p>

<h2>六十九、〔陰囊〕</h2>
<p>（莖之垂也）屬足厥陰肝經（《素問》曰：厥陰之脈，循陰器而絡於肝，故煩滿而囊縮。張仲景曰：傷寒六日，厥陰受病，故舌卷囊縮。《靈樞》曰：厥陰者肝脈也，脈弗榮，則筋急，筋急則引舌與卵，故唇青，舌卷，卵縮。又曰：莖垂者，身中之藏，陰精之候，津液之道。故飲食喜怒不時，津液內溢，乃下留於睪，血道不通，日大不休，俯仰不便，趨翔不能也）。</p>

<h2>七十、〔睪〕</h2>
<p>（陰丸也）屬足厥陰肝經（《靈樞》曰：足厥陰之別，循莖上睪，結於莖。其病氣逆，則睪腫卒疝，實則挺長，虛則暴癢。《素問》曰：邪客於足厥陰之絡，令人卒疝暴痛。朱丹溪曰：疝氣者，睪丸連小腹急痛也，有痛在睪丸者，有痛在帶脈下二寸五樞穴旁者，或無形無聲，或有形如瓜，或有聲如蛙者皆是。此專主肝經，與腎經絕無干涉，自《素問》而下，皆以為寒也。然寒主收引，經絡得寒，則引而不行，所以作痛。殊不知此症，始於濕熱在經，鬱而至久，又得寒氣外束，不得疏散，故痛。若但作寒論，恐為未備，常見蹈水涉水，而終身不病此者，無熱在內故也。或問厥陰經鬱積濕熱，何由而致？曰：大勞則火起於脾，醉飽則火起於胃，房勞則火起於腎，大怒則火起於肝。火積之久，子能令母虛，濕氣便盛，濁液凝聚，併入血隧，流於厥陰。肝為將軍之官，其性急速，火性又暴，為寒所束，宜其痛之急也）。又屬足少陰腎經（繆仲淳曰：疝為腎虛，寒濕之邪，乘虛客之所致，丹溪以謂與腎無干，未盡然也。但有先因濕邪為病，後成濕熱者，藥宜分寒熱先後二途為得也）。</p>

<h2>七十一、〔骶〕</h2>
<p>（俗呼為尾骨，長強穴分也，一名橛骨，亦謂之窮骨）屬足太陽膀胱經、督脈之會（《靈樞》曰：督脈之別，名曰長強，挾膂上項，散頭上。又曰：內閉不得溲，刺足少陰、太陽，與骶上以長針）。又屬足少陰腎經。（《明堂經》曰：長強一穴，在脊骶端窮骨下宛宛中，乃督脈別絡，足少陰所結也。沈承之曰：脊骶端，屬足少陰腎、少陽膽經之結會也）。</p>

<h2>七十二、〔尻〕</h2>
<p>（即臀也，尻骨曰八髎骨。尻骨兩旁，各有四骨空，名上髎、次髎、中髎、下髎，左右各八穴，故曰八髎骨也）屬足太陽膀胱經、督脈、衝脈之會（《靈樞》曰：營氣合足太陽，循脊下尻。又曰：足太陽之脈，其支者從髆中下挾脊，貫臀，入膕中。所生病者，腰、尻、膕、踹、腳皆痛。《素問》曰：督脈之絡別繞臀，至少陰與巨陽中絡者合。又曰：太陽所謂腫腰脽痛者，注：脽，臀肉也。沈承之曰：人身有一谷八溪。肉之大會為谷，一谷者，臀也。肉之小會為溪，八溪者，二肘二膝四腕也。溪谷之間，以行營衛，以會大氣、故督脈之絡，別繞臀，衝脈為血海，主灌滲溪谷。顧英白曰：經言肉之大會，皆指諸經絡耳，經有十二，故大谷亦十二，孫絡三百六十五，除十二經之腧穴，故小溪三百五十三，非止一谷八溪也。況經無一谷之文，不知承之何據而云此）。兼屬足太陰脾經（《素問》曰：邪客於足太陰之絡，令人腰痛，引少腹控䏚，不可以仰息，刺腰尻之解，注：足太陰之絡，從髀合陽明，上貫尻骨中，與厥陰、少陽，結於下髎，而循尻骨內入腹，故腰痛則引少腹，控於䏚中也，腰尻骨間曰解是也）。又屬足少陰腎經、少陽膽經（《靈樞》曰：腎下則腰尻痛，不可以俯仰，為狐疝。腎偏傾，則苦腰尻痛也。又曰：足少陽之筋，前者結於伏兔，後者結於尻。其病膕筋急，引髀後，轉引尻）。</p>

<h2>七十三、〔魄門〕</h2>
<p>（即肛門也，又謂之下極。舊重出大便者非）屬手太陰肺經（孫景思曰：肛門者，肺之下口也，內通於肺，故曰魄門。肺與大腸為表裡，故肺實則大腸熱，熱則秘結；肺虛則大腸寒，寒則脫肛。《素問》曰：肺咳不已，則大腸受之，大腸咳狀，咳而遺矢。王海藏曰：賁門上主往來，魄門下主收閉，故肺與大腸為通道。注：賁門，胃門也）。又屬手陽明大腸經（《素問》曰：大腸者傳道之官，變化出焉。注：傳道，謂傳不潔之道。變化，謂變化物之形。王海藏曰：年高虛人，大腸燥結，不可過泄者，脈浮在氣，杏仁、陳皮主之；脈沉在血，桃仁、陳皮主之。所以俱用陳皮者，以手陽明與足太陰，俱為表裡也。朱丹溪曰：大腸為邪墜下之重，其重至圊後不減；大腸虛滑不收之重，其重至圊後隨減，以御米殼等澀劑，固其滑，收其氣，用亦愈也）。又屬足太陽膀胱經（《靈樞》曰：足太陽之正，別入於膕中，其一道下尻五寸，別入於肛。《中藏》曰：下焦實熱，則小便不通，大便難苦重痛；虛寒，則大小便泄下不止。李東垣曰：防己，大苦寒純陰，泄血中之濕熱，通血中之滯塞，補陰瀉陽，助秋冬，瀉春夏之藥也。下焦有濕熱，流入十二經，以致二陰不通，方可審用；若上焦濕熱，則不可用。陳良甫曰：臟腑氣實，皆生於濕熱，隨所停之處而成病。故熱結於大腸，則大便不通；熱結於小腸，則小便不通；若大小腸俱熱所結，則煩滿，而大小便俱不通也）。兼屬足少陰腎經（《靈樞》曰：厥氣走喉而不能言，手足清，大使不利，取足少陰。《素問》曰：北方黑色，入通於腎，開竅於二陰，畏濕。王太僕曰：腎氣化，則二陰通，二陰閟，則胃填滿。蓋腎者，胃之關也。王海藏曰：以在下言之，則便溺俱陰；以前後言之，則前氣後血：以腎言之，則總主大小便難。溺塞閉結，俱為水少。經言：熱淫於內，治以鹹寒，佐以苦辛。故用芒硝、大黃相須為使。戴復庵曰：每日五更初洞瀉者，此病在腎分，米飲下二神丸，或合五味子散，名為四神丸，治之尤妙）。又屬足太陰脾經、陽明胃經（《靈樞》曰：厥而腹中榖榖，便溲難，取足太陰。《素問》曰：倉廩不藏者，門戶不要也。注：倉廩謂脾胃，門戶謂魄門，要，謂禁要也。王海藏曰：汗多，胃熱，便難，三者皆因燥熱而亡津液，即所謂脾約症也。經云：燥者潤之。故張仲景用麻子仁入足太陰、手陽明，以潤二經之燥，腸結可通也。張潔古曰：臟腑之秘，不可一概治療。胃實而秘者，能飲食，小便赤，當以麻仁丸主之；胃虛不能食，小便清利，厚朴湯主之。實者秘物也，虛者秘氣也。戴復庵曰：痢疾，古名滯下，以氣滯成積，積以成痢，治法當以順氣為先，須當開胃，故曰無飽死痢疾）。又屬足厥陰肝經（《靈樞》曰：足厥陰所生病者，胸滿，嘔逆，飧泄。又曰：陰絡傷，則血內溢，血內溢，則後血。劉河間曰：大便澀滯，由火盛制金，不能平木，肝木生風，風能勝濕，熱能耗液故也）。</p>

<h2>七十四、〔纂間〕</h2>
<p>（前陰、後陰之間，會陰穴分也）屬任脈別絡，挾督脈、衝脈之會（《素問》曰：下陰別一。注：下陰，即會陰穴也，是任脈別絡，挾督脈、衝脈之會，故曰下陰別一也。又曰：屏翳兩筋間，為篡內深處，即下極之俞，是督脈之起處。又曰：督脈之絡，循陰器，合篡間，繞篡後）。</p>

<h2>七十五、（髀〕</h2>
<p>（股外骨也）屬足少陽膽經（《靈樞》曰：足少陽之筋，其支者，別起外輔骨，上走髀。又曰：足少陽之脈，過季脅，下合髀厭中，以下循髀陽）。〔前廉〕屬足陽明胃經（《靈樞》曰：足陽明之筋，循伏兔上結於髀樞，其病轉筋，髀前腫。《素問》曰：胃脈搏堅而長，其色赤，當病折髀）。〔後廉〕屬足太陽膀胱經（《靈樞》曰：足太陽脈，是動則病髀不可以曲）。兼屬足太陰脾經（《靈樞》曰：足太陰之筋，循陰股結於髀，其病陰股引髀而痛。又曰：脾有邪，其氣留於兩髀）。</p>

<h2>七十六、〔股〕</h2>
<p>〔中間〕（髀之內也）屬足厥陰肝經（《靈樞》曰：足厥陰之脈，上膕內廉，循股陰，入毛際中）。〔前廉〕屬足太陰脾經〔後廉〕屬足少陰腎經（《靈樞》曰：足太陰之脈，循脛骨後，交出厥陰之前，上膝股內前廉。又曰：足少陰之脈，出膕內廉，上股內後廉。所生病者，股內後廉痛。又曰：腎脹者腹滿，引背央央然，腰痹痛）。</p>

<h2>七十七、〔膝〕</h2>
<p>〔骸關附〕（股下䯒上，相接處也。膝解為骸關）統屬足厥陰肝經、少陰腎經（《素問》曰：厥陰之厥，好臥屈膝，陰縮腫，䯒內熱。李東垣曰：腳膝痿軟，行步乏力或痛，乃肝腎二經伏熱。王海藏曰：木瓜入肝，故益筋與血，病腰腎腳膝無力者不可缺也）。又屬足太陰脾經、陽明胃經（《靈樞》曰：足太陰之脈，上膝股內前廉，入腹。所生病者不能臥，強立，股膝內腫厥。又曰：足陽明之筋，上結於膝之外廉）。又屬足少陽膽經（《靈樞》曰：足少陽之筋，循脛外廉，結於膝外廉，其病膝不可屈伸。《素問》曰：少陽腰痛，刺成骨之端出血。成骨，在膝外廉之骨獨起者，夏無見血。沈承之曰：膝外廉輔骨，屬足少陽膽經；外前廉，屬足陽明胃經；內廉膝曲橫紋頭，屬足厥陰肝經；內前廉，屬足太陰脾經）。</p>

<h2>七十八、〔臏〕</h2>
<p>（膝蓋骨也，又名為連骸骨）統屬足厥陰肝經（《素問》曰：刺膝臏，出液為跛。注：膝為筋府，筋會於膝中，液出筋干，故跛也）。〔內廉〕屬足太陰脾經。〔外廉〕屬足陽明胃經（《素問》曰：刺散脈，在膝前骨肉分間絡外廉束脈，為三痏。注：絡外廉，則太陰之絡，色青而見者也。《靈樞》曰：足陽明之脈，抵伏兔，下膝臏中。所生病者，膝臏腫痛）。</p>

<h2>七十九、〔膕〕</h2>
<p>（膝之後曲處，委中穴分也）統屬足少陰腎經（《靈樞》曰：足少陰之正，至膕中，別走太陽而合。又曰：腎有邪，其氣留於兩膕。《素問》曰：膝痛若別，治巨陽、少陰滎。注：痛而膝如別離者，則治足太陽、少陰之滎穴。足太陽滎，通谷穴也；足少陰滎，然谷穴也）。又屬足太陽膀胱經（《靈樞》曰：足太陽之筋，循跟結於膕。又曰：足太陽之脈，是動則病膕如結。又曰：膕中外廉，名曰委陽，足太陽絡也。手少陽經也，三焦者，足少陽、太陽之歷絡，太陽之別也，上踝五寸，別入貫腨腸，出於委陽）。兼屬衝脈（《靈樞》曰：衝脈與少陰之大絡，循陰股內廉，斜入膕中）。</p>

<h2>八十、〔䯒〕</h2>
<p>（脛骨之近足而細於股內者也，亦名之為骬骨）。〔內廉〕屬足太陰脾經（《靈樞》曰：足太陰之脈，循內踝前廉，上腨內，循脛骨後，交出厥陰之前。《素問》曰：脾脈軟而散，色不澤者，當病足䯒腫，若水狀。又曰：太陰厥逆，䯒急攣，心痛引腹）。〔外廉〕屬足陽明胃經（《靈樞》曰：足陽明之脈，下循脛外廉。所生病者，骬外廉、足跗上皆痛。又曰：病始於足脛者，先取足陽明而汗出。《素問》曰：膝痛連䯒若折，治陽明中俞髎。注：陽明俞髎，三里穴也，在膝下三寸，骬骨外廉，兩筋間宛宛中是穴）。</p>

<h2>八十一、〔腨〕</h2>
<p>（腓腸也，俗呼為足肚）〔內廉〕屬足少陰腎經（《素問》曰：腎病，內舍腰脊骨髓，外在溪谷踹膝。《靈樞》曰：身有五部，伏兔一，腓二，腓者腨也，背三，五臟之俞四，項五。此五部有癰疽者死）。〔外廉〕屬足太陽膀胱經（《靈樞》曰：足太陽之脈，循髀外後廉，合膕中，以下貫腨內。是動則病腨如裂。又曰：足太陽之筋，其別者結於腨外。《素問》曰：三陽為病發寒熱，下為癰腫，及為痿厥腨㾓。注：三陽，謂太陽。㾓，痠疼也。又曰：刺腨腸內陷為腫。注：腨腸之中，足太陽脈也，太陽氣泄故為腫）。</p>

<h2>八十二、〔內踝〕</h2>
<p>屬足太陰脾經（《靈樞》曰：足太陰之脈，循大指內側白肉際，過核骨後，上內踝前廉。又曰：經脈十二者，伏行分肉之間，深而不見。其常見者，足太陰過於內踝之上，無所隱故也。諸脈之浮而常見者，皆絡脈也）。又屬足少陰腎經（《靈樞》曰：足少陰之本，在內踝下上三寸半中。《素問》曰：刺少陰於內踝上二痏，春無見血，出血太多，不可復也。全元起曰：內踝之上，陰交之出，通於膀胱，繫於腎。腎為命門，有以取之，以明吉凶也。）又屬足厥陰肝經。（《靈樞》曰：足厥陰之脈，循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後。沈承之曰：內踝骨中央上至腰，屬足厥陰肝經，上踝骨三寸，名三陰交穴。屬足三陰脾、腎、肝經之交會。內前廉，屬足太陰脾經；內後廉，屬足少陰腎經）。又屬陰蹺脈、衝脈（《靈樞》曰：蹺脈者，少陰之別，起於然骨之後，上內踝之上。又曰：衝脈並少陰之經。下入內踝之後，入足下。《難經》曰：陰蹺脈，起於跟中，循內踝，上行至咽喉）。</p>

<h2>八十三、〔外踝〕</h2>
<p>屬足少陽膽經（《靈樞》曰：足少陽之脈，抵絕骨之端，下出外踝之前。所生病者，外踝前及諸節皆痛。又曰：足少陽之筋，上結外踝上。又曰：足少陽之下，血氣盛，則脛毛美長，外踝肥；血氣皆少，則脛無毛，外踝瘦無肉。《素問》曰：膝痛淫濼脛酸，不能久立，治少陽之絡，在外踝上五寸。注：淫濼，謂似痠痛而無力也。外踝上五寸，乃足少陽之絡，光明穴也。沈承之曰：手足六經，散而為十二則，曰：自臑下臂，外廉之中，手少陽也；外之上廉，手陽明也；外之下廉，手太陽也。自髀下脛，外廉之中，足少陽也；外之前廉，足陽明也；外之後廉，足太陽也。自臑下臂，內廉之中，手厥陰也；內之上廉，手太陰也；內之下廉，手少陰也。自股下脛，內廉之中，足厥陰也；內之前廉，足太陰也；內之後廉，足太陰也。統而為六則，曰：外則三陽主之，中曰少陽，前曰陽明，後曰太陽；內則三陰主之，中曰厥陰，前日太陰，後曰少陰。約而為三則，曰：陽明與太陰為表裡，故並居於前；太陽與少陰為表裡，故並居於後；少陽與厥陰為表裡，故並居於中。在手為手經，在足為足經。雖若不齊，而實則一貫，學者知此，則易曉而不忘矣）。又屬陽蹺脈（《難經》曰：陽蹺脈，起於跟中，循外踝上行入風池）。</p>

<h2>八十四、〔跗〕</h2>
<p>（足面也）〔中間〕屬足陽明胃經（《靈樞》曰：足陽明之脈，循脛外廉，下足跗，入中趾內間。又曰：兩跗之上，脈堅陷者，足陽明病，此胃脈也。《素問》曰：身重難以行者，胃脈在足故也。張三錫曰：衝陽穴，在足跗上五寸陷中，暴厥脈伏者，有此可救，所謂有胃氣者是也）。又屬足太陰脾經（《素問》曰：下部人，足太陰也，以候脾胃之氣。注：胃脈在足跗上衝陽之分，動應於手，以候胃，兼候脾。又曰：飲食不下，舌本強；食則嘔，冷泄，腹脹；溏泄痢，水閉，病本於脾。衝陽絕，死不治也）。〔內廉〕屬足厥陰肝經（《靈樞》曰：足厥陰之脈，起於大趾叢毛之際，上循足跗上廉。又曰：陰中之少陽，肝也，其原出於太衝。太衝，足大趾上二寸陷者之中也，為輸。《素問》曰：丈夫㿗疝，婦人少腹痛，目眯眥，瘍瘡痤癰，病本於肝。太衝絕，死不治。沈承之曰：跗上有太衝穴，一名衝陽，又名跗陽，在兩跗上大趾次趾本節後二寸許，尋摸動脈陷中。穴中有脈則生，無脈則死。益由此穴乃足厥陰脈之所注，肝之輸也，足陽明脈之所過，胃之原也。肝為生髮之源，胃為五臟之本，以其能沖貫百骸，營養諸經，故謂之沖也。二經相須，未有肝死而胃獨生，胃絕而肝猶在者。故異經而同穴，不必分其孰為肝、孰為胃也。然須診太谿穴，以參決之。顧英白曰：太衝為足厥陰之輸穴，衝陽為足陽明之原穴，二穴雖相近，而實則各異。至於膽經之跗陽，又在外踝之上，承之乃合而為一，此愚之不能解者也。衝陽本屬胃，而兼以候脾之絕者，脾與胃相表裡，後人何得師心而自用耶）。〔外廉〕屬足少陽膽經（《靈樞》曰：足少陽之脈，循足跗上，入小趾次趾之間；其支者，別跗上，入大趾之間。又曰：足少陽之別，名曰光明，去踝上五寸，別走厥陰，下絡足跗。實則厥，虛則痿躄，坐不能起，取之所別也）。又屬衝脈（《靈樞》曰：衝脈之別者，斜入踝，出屬跗上，入大趾之間，注諸絡，以溫足脛，此脈之常動者也）。</p>

<h2>八十五、〔太谿〕</h2>
<p>屬足少陰腎經（《靈樞》曰：陰中之太陰，腎也，其原出於太谿。太谿，內踝之後，跟骨之上，陷者中也。為輸。《素問》曰：下部地，足少陰也，以候腎。注：腎脈在足內踝後，跟骨上陷中，太谿之分，動應於手。又曰：陰氣不用，飢不欲食，咳唾則有血數點，病本於腎。太谿絕，死不治。吳鶴皋曰：太谿者，腎脈也，真元之氣聚於斯。若此脈不衰，則元氣猶存，病雖危，尚可治也。沈承之曰：內踝骨下，略近後跟緣上，動脈陷者中，名太谿穴。此穴有脈則生，無脈則死。蓋腎者生氣之源，十二經之本，太谿則其輸穴也。其脈動而不息者，真氣充達於一身也。若真氣憊，腎氣絕，則其脈不動而死矣。縱衝陽有脈，尤能進食，亦主死也）。</p>

<h2>八十六、〔足心〕</h2>
<p>屬足少陰腎經（《靈樞》曰：足少陰之脈，起於小趾之下，斜走足心。所生病者，足下熱而痛。又曰：腎出於湧泉，湧泉者足心也，為井木。又曰：足少陰之筋，其病足下轉筋。《素問》曰：陰脈者集於足下，而聚於足心，故陽氣勝，則足下熱也。沈承之曰：足三陰之脈，集於足下，足少陰之經，聚於足心，陽勝則陰虛，故足下熱。丹溪曰：熱從足下起入腹者，虛之極也，正所謂陰虛也）。</p>

<h2>八十七、〔踵〕</h2>
<p>（足跟也）屬足少陰腎經（《靈樞》曰：足少陰之筋，斜走內踝之下，結於踵，與太陽之筋合。又曰：足少陰之別，名曰大鐘，當踝後繞跟，別走太陽。《素問》曰：腎痹者善脹，尻以代踵，脊以代頭。注：腎者，胃之關也。關不利，則胃氣不轉，故善脹。尻以代踵，謂足攣急也；脊以代頭，謂身踡曲也。腎氣不足而受邪，故不能伸展也。）又屬足太陽膀胱經。（《靈樞》曰：足太陽之筋，循足外側結於踵，又曰：足太陽之下，血氣盛，則跟肉滿，踵堅，氣少血多，則瘦，跟空，血氣皆少，則善轉筋，踵下痛）。</p>

<h2>八十八、〔趾〕</h2>
<p>（足趾也，大趾亦名拇趾）〔內廉〕屬足太陰脾經（《靈樞》曰：足太陰之脈，起於大趾之端。所生病者，足大趾不用。又曰：足太陰之筋，起於足大趾之端內側，其病足大趾支，內踝痛。又曰：脾出於隱白。隱白者，足大趾之端內側，為井木）。〔外廉〕屬足厥陰肝經（《靈樞》曰：足厥陰之脈，起於大趾叢毛之際。又曰：足厥陰之筋，其病足大趾支，內踝之前痛。又曰：肝出於大敦，大敦者，足大趾之端，三毛之中也，為井木）。又屬足陽明胃經、少陽膽經（《靈樞》曰：足陽明之脈，其支者別跗上，入大趾間。又曰：足少陽之脈，其支者別跗上，循大趾岐骨內出其端，還貫爪甲，出三毛）。〔第二趾〕屬足陽明胃經（第二趾，經亦稱大趾之次趾。《靈樞》曰：胃出於厲兌。厲兌者，足大趾次趾之端也，為井金）。〔中趾〕屬足陽明胃經（《靈樞》曰：足陽明之脈，循脛外廉，下足跗，入中趾中間；其支者，下廉三寸而別，下入中趾外間。所生病者，骭外廉、足跗上皆痛，中趾不用。又曰：足陽明之筋，起於中三趾，結於跗上，其病足中趾支，脛轉筋）。〔第四趾〕屬足少陽膽經（第四趾，經亦稱小趾之次趾。《靈樞》曰：足少陽之脈，循足跗上，入小趾次趾之間。所生病者，小趾次趾不用。又曰：足少陽之筋，起於小趾次趾，上結外踝上，其病小趾次趾支轉筋，引膝外。又曰：膽出於竅陰。竅陰者，足小趾次趾之端也，為井金）。〔小趾〕屬足少陰腎經（《靈樞》曰：足少陰之筋，起於小指之下，並足太陰之筋，卻走內踝之下，結於踵）。又屬足太陽膀胱經（《靈樞》曰：足太陽之脈，循京骨至小趾外側。所生病者，小趾不用。又曰：足太陽之筋，起於足之小趾，上結於踝，其病小趾支，跟腫痛。又曰：膀胱出於至陰。至陰者，足小趾之端也，為井金）。</p>

<h1>後編·樞要</h1>

<h2>原病篇第一</h2>
<p>婁全善曰：「天以陰陽五行化生萬物，人得其氣以有生。故血氣也，上下也，虛實也，寒熱也，皆一陰陽也，五臟也，六腑也，十二經也，五運六氣也，皆一五行也。病態千萬，皆不出此。故診病者，必先分別血氣、表裡、上下、臟腑之分野，以知受病之所在，次察所病虛實寒熱之邪以治之。務在陰陽不偏傾，臟腑不勝負，補瀉隨宜，適其病所，使之安痊。而已爾。」</p>
<p>《靈樞》曰：夫百病之始生也，皆生於風雨、寒暑、清濕、喜怒。風雨襲虛，則病起於上。清濕襲虛，則病起於下。喜怒不節，則傷臟，臟傷則病起於陰。蓋風雨寒熱，無虛則不能獨傷人。是故虛邪之中人也，始於皮膚，皮膚緩則腠理開，開則邪從毛髮入，入則抵深，深則毛髮立，毛髮立則淅然，故皮膚痛。留而不去，則傳舍於絡脈；在絡之時，痛於肌肉，其痛之時息，大經乃代。留而不去，傳舍於經；在經之時，灑淅喜驚。留而不去，傳舍於輸；在輸之時，六經不通四肢，則肢節痛，腰脊乃強。留而不去，傳舍於伏沖之脈；在伏沖之時，體重身痛。留而不去，傳舍於腸胃；在腸胃之時，賁響腹脹，多寒則腸鳴飧泄，食不化；多熱則溏出糜。留而不去，傳舍於腸胃之外、募原之間。留著於脈，稽留而不去，息而成積。或著孫脈。或著絡脈、或著經脈、或著輸脈、或著於伏沖之脈、或著於膂筋、或著於腸胃之募原，上連於緩筋。其著孫絡之脈而成積者，其積往來上下，臂手孫絡之居也，浮而緩，不能句積而止之。故往來移行腸胃之間，水溱滲注灌，濯濯有音，有寒則䐜䐜滿雷引，故時切痛。其著於陽明之經，則挾臍而居。飽食則益大，飢則益小。其著於輸之脈者，閉塞不通，津液不下，孔竅乾壅。其著於伏沖之脈者，揣之應手而動，發手則熱氣下於兩股，如湯沃之狀。其著於膂筋，在腸後者，飢則積見，飽則積不見，按之不得。其著於腸胃之募原也，痛而外連於緩筋，飽食則安，飢則痛。其著於緩筋也，似陽明之積，飽食則痛，飢則安，邪氣淫泆不可勝論。積之始生也，得寒乃生，厥乃成積。蓋厥氣生足悗，悗生脛寒，脛寒則血脈凝澀，血脈凝澀，則寒氣上入於腸胃，入於腸胃則䐜脹，䐜脹則腸外之汁沫，迫聚不得散，日以成積。卒然多食飲，則腸滿。起居不節，用力過度，則絡脈傷。陽絡傷則血外溢，血外溢則衄血；陰絡傷則血內溢，血內溢則後血。腸胃之絡傷，則血溢於腸外，腸外有寒汁沫，與血相搏，則併合凝聚，不得散，而積成矣，此病之起於陽者也。其傷臟而起於陰者，憂思傷心；重寒傷肺；憤怒傷肝；醉以入房，汗出當風，傷脾；用力過度，若入房汗出浴，傷腎。此內外三部之所生病者也（稍次《百病始生》篇文）。</p>
<p>《難經》曰：病從後來者為虛邪（謂生我者），從前來者為實邪（謂我生者），從所不勝來者為賊邪（謂克我者），從所勝來者為微邪（謂我克者）。自病，為正邪（本經自病，無他邪相干也）。假令心病（心經有病），中風，得之為虛邪（中風者，肝木先病，木生火，是從後來也。火中有木，木剋土，無土則水至矣，故為虛邪）。飲食勞倦，得之為實邪（飲食勞倦者，脾土先病，土生於火，是從後來也，火中有土，水不能至，則子能制鬼矣，故為實邪）。中濕。得之為賊邪（中濕者，腎水先病，水剋火，是從所不勝來也。既不能勝，故為賊邪）。傷寒，得之為微邪（傷寒者，肺金先病，火剋金，是從所勝來也，勝則不能為害，故為微邪）。傷暑得之為正邪（傷暑者，心火自病）。余仿此（稍次《五十難》文，末增一句）。</p>
<p>《素問》曰：諸風掉眩，皆屬於肝。諸寒收引，皆屬於腎（收斂也，引急也）。諸氣膹郁，皆屬於肺（膹，膹滿也。郁，奔迫也）諸濕腫滿，皆屬於脾。諸熱瞀瘈，皆屬於火（瞀，目不明也。瘈，筋跳掣也）。諸痛癢瘡，皆屬於心。固泄，皆屬於下（厥，氣逆也。固，禁固也。泄，不諸厥禁也。下，謂下焦肝腎氣也）。諸痿喘嘔，皆屬於上（上，謂上焦心肺氣也，肺熱葉焦，發為痿躄）。諸禁鼓慄，如喪神守，皆屬於火。諸痙項強，皆屬於濕（痙，強急也，太陽傷熱）。諸逆衝上，皆屬於火。諸脹腹大，皆屬於熱。諸躁狂越，皆屬於火。諸暴強直，皆屬於風。（陽內鬱而陰行於外）。諸病有聲，鼓之如鼓，皆屬於熱（上鼓，擊也。下鼓，如鼓聲也）。諸病胕腫，疼酸驚駭，皆屬於火。諸轉反戾，水液渾濁，皆屬於熱（反戾，筋轉也。水液，小便也，）諸病水液，澄徹清冷，皆屬於寒（上下所出，及吐出溺出也）。諸嘔吐酸，暴注下迫，皆屬於熱。故《大要》曰：謹守病機，各司其屬。〔有〕〔者〕〔求〕〔之〕，〔無〕〔者〕〔求〕〔之〕，〔盛〕〔者〕〔責〕〔之〕，〔虛〕〔者〕〔責〕〔之〕。必先五勝，疏其血氣，令其調達，而致和平，此之謂也（《至真要大論篇》。此言運氣病機也。婁全善曰：病機十九條，乃察病之要旨也。而有者求之四句，又要旨中之要旨。劉河間《原病式》，但以十九條立論，而遺此四句，譬之有舟無操舟之工；有兵無將兵之帥，不免臨病誤施，至人夭折。今僭引經傳而正之。夫諸風屬肝，為陽痓、急驚等病，治以涼劑固矣。然燥金勝則肝為邪攻，而病亦化風，如陽明司天，燥氣下臨，病掉振之類，是為陰痓、慢驚等病。不以溫劑治之，而亦與涼劑可乎？諸火屬心，為陽躁讝語等病，治以攻劑固矣。然寒水勝，則心為邪攻，而病亦化火熱，如歲水太過，病躁、悸、煩心、讝語之類，是為陰躁鄭聲等病，不以補劑治之，而亦與攻劑可乎？諸濕屬脾，為濡泄等病，仲景用五苓等劑去濕固矣。然風木勝，則脾為邪攻，而病亦化濕，如歲木太過，病飧泄之類，則當用錢氏宣風等劑，以去風可也，乃亦去濕可乎？諸氣屬肺，為膹郁寒喘等病，治以熱劑固矣。然火熱勝，則肺為邪攻，而病亦化膹郁。如歲火太過，病咳喘之類，則當如東垣以涼劑治熱喘可也，乃亦用熱劑可乎？諸寒屬腎，為屈伸不利等病，仲景用烏頭湯等劑固矣。然濕土勝，則腎為邪攻。而病亦化寒。如濕氣變病，筋脈不利之類，則當用東垣復煎散、健步丸等劑治之可也，乃亦用去寒之劑可乎？蓋其在太過，而化之病為盛，盛者真氣也。其在受攻，而化之病為虛，虛者假氣也。是故有其病化者必求之，恐其氣之假也。無其病化者，亦必求之，恐其邪隱於中，如寒勝化火之類也。其病之化似盛者，必責之，恐其盛之未的也；其病之化似虛者，亦必責之，恐其虛之未真也。病機皆用此四句為法。庶幾補瀉不差。今河間但以病化有者為盛，無者為虛，不復究其假者虛者，殊為未備。此則智者之一失也）。</p>
<p>又曰：氣實形實，氣虛形虛，此其常也。反此者病（氣，脈氣也。形，身形也。反，謂失其常也）。氣盛身寒，氣虛身熱，此謂反也。谷盛氣盛，谷虛氣虛，此其常也。反此者病（營氣之道，納穀為實）。谷入多而氣少（胃病不散），谷不入而氣多（腎氣外散，肺並之也）此謂反也。脈實血實，脈虛血虛，此其常也。反此者病（脈者血之府）。脈盛血少，脈少血多，此謂反也（經脈行氣，絡脈受血，經氣入絡，絡受經氣，候不相合，皆為反常）。（增損《刺志論》篇文）</p>
<p>又曰：五病所發：陰病發於骨，陽病發於血，陰病發於肉。（骨肉陰靜，故陰氣從之。血脈陽動，故陽氣乘之），陽病發於冬，陰病發於夏（冬陰氣盛，故陽病發於冬。夏陽氣盛，故陰病發於夏，各隨其少也），是謂五發。五邪所亂：邪入於陽則狂，入於陰則痹（邪居陽脈之中，則四肢熱盛而為狂邪。入陰脈之中，則六經凝澀不通而為痹），搏陽則為巔疾（巔，謂巔頂。邪內搏於陽，則脈流，故為上巔之疾。一云：諸家解巔作癲，陽附陰則癲。又云：搏當作傳，邪已入陰，復傳於陽、則為癲。其說不同，今並存之。《難經》曰：狂癲之病，何以別之？夫狂之始發，少臥而不飢。自高賢也，自辨智也，自貴居也，妄笑，好歌樂，妄行不休者是也。癲之始發，意不樂，直視僵仆，其脈三部，陰陽俱盛者是也），搏陰則為瘖（邪內搏於陰則脈不流，故令瘖不能言。一云：搏亦當作傳），陽入之陰則靜，陰出之陽則怒（之，往也。一云：怒者當作恐），是為五亂。（《宣明五氣篇》）</p>
<p>又曰：年長則求之於腑（年之長者，甚於味，味恣則傷腑），年少則求之於經（年之少者，勞於使；勞於使，則經中風邪），年壯則求之於臟（年之壯者，過於內；過於內，則耗散精氣）。（《示從容論篇》）</p>

<h2>陰陽篇第二</h2>
<p>《靈樞》曰，內有陰陽，外亦有陰陽。在內者，五臟為陰，六腑為陽。在外者，筋骨為陰，皮膚為陽（《壽夭剛柔篇》）。《素問》曰：陽受風氣，陰受濕氣，故陰氣從足上行至頭，而下行循臂至指端；陽氣從手上行至頭，而下行至足。故曰陽病者上行，極而下；陰病者下行，極而上（此所謂更逆更從也，然此特言其大概耳。若足太陰脈下行，則不與諸陰同矣）。（《太陰陽明論篇》）</p>
<p>李東垣曰：凡病晝則增劇，夜則安靜者，陽病有餘，乃氣病而血不病也。夜則增劇，晝則安靜者，陰病有餘，乃血病而氣不病也。凡熱病晝則發熱，夜則安靜者，陽氣自旺於陽分也。晝則安靜，夜則發熱煩躁者，陽氣下陷入陰中也，名曰熱入血室。晝夜皆發熱煩躁者，重陽無陰也，當亟瀉其陽，峻補其陰。凡寒病，夜則惡寒，晝則安靜者，陰血自旺於陰分也。夜則安靜，晝則惡寒者，陰氣上溢於陽中也。晝夜皆惡寒者，重陰無陽也。當亟瀉其陰，峻補其陽。晝則惡寒，夜則煩躁，飲食不入，名曰陰陽交錯者死矣。</p>

<h2>臟腑篇第三</h2>
<p>《內經》曰：五臟者，所以藏精神血氣魂魄者也，藏而不瀉，故滿而不實。六腑者，所以化水穀而行津液者也，傳而不藏，故實而不滿。所以然者，水穀入口，則胃實而腸虛，食下則腸實而胃虛。（隱括《靈樞·本藏》及《素問·五臟別論》兩篇文）</p>
<p>《難經》曰：臟者，陰也，陰病欲得溫，又欲閉戶獨處，惡聞人聲。腑者，陽也，陽病欲得寒，又欲見人。故以別知臟腑之病（陰病寒，故欲得熱。陰性好安靜，故閉戶獨處，惡聞人聲。陽病熱，故欲得寒。陽性好為煩擾，故欲見人）。臟病者止而不移，其病不離其處。腑病者彷彿賁響，上下行流，居處無常。（隱括《五十一、五十二難》兩篇文）又曰。經有十二，今五臟六腑，僅得十一，其一經，則手厥陰心包也（手少陰，真心經也。心包經，而名心主，乃真心之別脈，不與真心同經，蓋真心為君火，心包為相火。三焦為氣之父，心包為血之母，相為表裡，二者俱有其名，而無其形，故五臟六腑，更加手厥陰心包一經，而為十二也）。臟為有五，腑獨有六者，謂三焦也，其經屬手少陽，此外腑也（三焦合氣於腎，腎為原氣之正。三焦為原氣之別，主持一身之氣，有名而無形）。然臟亦有六，謂腎有兩臟也，左為腎，右為命門。命門者，精神之所舍也，男子以藏精，女子以系胞，其氣與腎通。（增損《三十八、三十九難》兩篇文）</p>
<p>《素問》曰：五臟所主：心主血脈（壅遏營氣，應息而動），肺主皮毛（包裹筋肉，間拒諸邪），肝主筋膜（束絡機關，隨神而運），脾主肌肉（覆藏筋骨，通行衛氣），腎主骨髓（張筋化髓，干以立身）。五臟所藏：心藏神（兩精相搏，謂之神），肺藏魄（並精而出入者，謂之魄），肝藏魂（隨神而往來者，謂之魂），脾藏意（心有所憶，謂之意），腎藏志（意之所存，謂之志。楊上善云：腎有二，左為腎藏志，右為命門藏精）。（稍增《宣明五氣篇》文）</p>

<h2>營衛篇第四</h2>
<p>《內經》曰：人受氣於谷，谷入於胃。其大氣之摶而不行者，積於胸中，名曰氣海，是謂宗氣。乃傳之肺，循喉咽以貫心脈，而行呼吸焉。呼則出，吸則入，天地之精氣，其大數常出三入一。其精微者，先出於胃之兩焦（兩焦謂中焦、下焦也），以溉五臟，五臟六腑，皆以受氣。別出兩行營衛之道，故水穀之氣，精而清者為營，泌其津液，注之經脈，化以為血，以榮四末，以應刻數焉（四末，四肢也。刻數，一日百刻之數也）；其悍而濁者為衛，悍疾滑利，先行於四末皮膚之中，分肉之間，熏於肓膜，散於胸腹，而不入經脈（皮膚之中，分肉之間，謂脈外也。肓膜，謂五臟間隔中膜也。以其氣浮盛，故能布散於胸腹之中，空虛之處，熏其肓膜，令氣先通也）；晝行於陽，夜行於陰，常從足少陰之分，間行於臟腑。故營在脈中，衛在脈外，周行不休，五十而復大會，陰陽相貫，如環無端。（隱括《靈樞·營衛生會》、《五味》、《邪客》、《衛氣》及《素問·痹論》五篇文）</p>
<p>《靈樞》曰：營行脈中，上應二十八宿，三十六分。人身行氣一周，十分身之八，二十八宿，凡千八分。氣行五十周而脈終，終而復始，是謂天地之記。故氣從太陰出，注手陽明，上行注足陽明；下行至跗，上注大指間，與太陰合；上行抵髀，從髀注心中，循手少陰出腋，下臂注小指，合手太陽；上行乘腋出䪼，內注目內眥，上巔下項，合足太陽：循脊下尻，下行注小趾之端，循足心，注足少陰；上行注腎，從腎注心，外散於胸中；循心主脈，出腋下臂，出兩筋之間，入掌中，出中指之端，還注小趾次趾之端，合手少陽，上行注膻中，散於三焦；從三焦注膽，出脅注足少陽，下行至跗上，復從跗至大趾間，合足厥陰，上行至肝；從肝上注肺，上循喉嚨，入頏顙之竅，究於畜門。其支別者，上額循巔下項中，循脊入骶，是督脈也；絡陰器，上過毛中，入臍中，上循腹裡，入缺盆，下注肺中，復出太陰。此營氣之所行也（《營氣篇》）。衛行脈外，亦應二十八宿。房至畢為陽，陽主晝；昂至尾為陰，陰主夜。故衛氣之行，晝行於陽二十五周，夜行於陰二十五周，一日一夜，亦五十周於身有奇。故平旦陰盡，陽氣出於目，目張則氣上行於頭，循項下足太陽，循背下至小趾之端；其散者，別於目銳眥，下手太陽，下至手小指之間外側；其散者，別於目銳眥，下足少陽，注小趾次趾之間；其散者，循手少陽之分側，下至小指之間；別者至耳前，合於頷脈，注足陽明，以下行至跗上，入五趾之間；其散者，從耳下，下手陽明，入大指之間，入掌中；其至於足也，入足心，出內踝，上行陰分，復合於目，故為一周。凡二十五周十分身之四，陽盡於陰，陰受氣矣。其始入於陰，常從足少陰注於腎，腎注於心，心注於肺，肺注於肝，肝注於脾，脾復注於腎為周。亦如行陽之二十五周有奇，而復合於目也。（婁全善曰：陽氣出目，而下行於手足三陽，皆一時分道並注，非有先後次第也。《衛行篇》稍加裁節，及依婁本改定。）婁全善曰：營氣之行，自手太陰始，至足厥陰終，一周於身也。詳其一周於身，外至身體四肢，內至五臟六腑，無不周遍。故其五十周，無晝夜陰陽之殊。衛氣之行則不然，晝但周行於身體四肢之外，不入臟腑之內，夜但周行於臟腑之內，不出身體四肢之外，故必五十周，至平旦方與營大會於肺手太陰也。</p>
<p>《靈樞》又曰：營出於中焦，衛出於下焦（《營衛生會篇》）。又曰：營衛者，精氣也。血者，神氣也。故血之與氣者，異名而同類焉（同上）。《素問》曰，太陽常多血少氣，少陽常少血多氣，陽明常多氣多血，少陰常少血多氣，厥陰常多血少氣，太陰常多氣少血，此天之常數也（《血氣形志篇》）。</p>
<p>《難經》曰：經言脈有是動，有所生病。是動者氣也，所生病者血也。邪在氣，氣為是動；邪在血，血為所生病。氣主呴之，血主濡之也（呴，熏蒸也。濡，濕潤也。人身經絡，氣主呴之而不閉，血主濡之而不枯，始得周流而不息，不呴不濡則病矣）。氣留而不行者，氣先病也；血滯而不濡者，血後病也。故先為是動，後所生也（邪由外入，先氣而後血，血依氣而升降，故氣受邪，必傳之於血。氣留則寒，其脈浮澀；血滯則熱，其脈沉澀）。（《二十二難》篇文）</p>

<h2>經絡篇第五</h2>
<p>《素問》曰：人有大谷十二分（肉之大會為谷。十二分者。十二經脈之部分也。），絡脈十四（十二經之絡，並任督二脈之絡，為十四也。按《難經》不言任督，而言陽蹺，陰蹺，與王注《素問》不同，又並脾之大絡，為十五。意者經以其起自於脾，故不及之歟），孫絡三百六十五（孫絡之脈別經者，其血盛而當瀉者，亦三百六十五脈，並注於絡，傳注十二絡脈，非獨十四絡也），小溪三百五十四，各少十二俞也（小絡所會，謂之小溪，本亦三百六十五，除十二俞，當三百五十三，今作四者誤）。溪谷之會，以行營衛，以會大氣（下會，《甲乙經》作舍）。（合《五臟生成》、《徵四失論》、《氣穴論》三篇文）</p>
<p>《靈樞》曰：經脈為里，支而橫者為絡，絡之別者為孫，諸脈之浮而常見者，皆絡脈也。不能經大節之間，又因絕道而出入復合於皮中，故其會皆見於外。經脈伏行分肉之間，深而不見，其虛實以氣口知之。其常見者，唯足太陰脾經脈，過於外踝之上，無所隱耳。（隱括《脈度》、《經脈》兩篇文。）（婁全善曰：滑伯仁著《十四經絡發揮》，釋經脈為曲，絡脈為直；經為營，絡為衛。故為手太陰脈，其支從腕後出次指端，交於手陽明者，為手太陰絡。手陽明脈，其支從列缺，上挾口鼻，交於足陽明者，為手陽明絡。凡十二經之支脈，伏行分肉者，皆釋為絡脈，與經言絡脈，浮而常見，必行絕道，不經大節，及不當數者，不同一也。又謂足少陽脈，走自銳眥，作三折；從目銳眥至完骨為一折，自完骨至睛明為一折，自睛明至風府為一折，與經言起於目內眥，上抵頭角，下耳後，不言曲折者不同二也。又謂氣行一萬三千五百息，脈行八百十丈，適當寅時，復會於手太陰，是以積於胸中，呼吸與營周相會之宗氣牽合，誤作晝行陽，夜行陰，與營五十周方會之衛氣，與經但言營衛，不及宗氣者不同三也。乖舛經義，惑亂來學，予故表而出之）。又曰：手之三陰，從臟走手（太陰從中焦至出大指，及次指之端。少陰從心中至出小指之端。厥陰從胸中至出中指之端）；手之三陽，從手走頭（陽明從大指次指之端，至上挾鼻孔。太陽從小指之端，至目內眥。少陽從小指次指之端，至目銳眥）。足之三陽，從頭走足（陽明從鼻至入中趾內間。太陽從目內眥，至小趾外側端。少陽從目銳眥，至入小趾次趾間），足之三陰，從足走腹（太陰從大指之端，至屬脾絡胃。少陰從足心至屬腎絡膀胱。厥陰從大趾聚毛至屬肝絡膽。足三陰，雖曰從足走腹，然太陰乃復上膈挾咽，散舌下，少陰復從腎上挾舌本；厥陰復上出額，與督脈會於巔。兼手太陰，從肺系橫出腋下；少陰從心系上肺，出腋下；厥陰從胸出脅，上抵腋下。此又秦越人所謂諸陰脈，皆至頸胸而還者也。而厥陰則又上出於巔。蓋厥陰，陰之盡者，也上出於巔，示陰無可盡也。猶《易》云：碩果不食，示陽無可盡也。然《易》之陰陽以氣言，人身之陰陽以臟象言；氣無形為陽，臟象有質為陰。此《易》所以貴陽，而醫則陰與陽並重）。（《逆順肥瘦篇》）王太僕曰：太陰為正陰，次少者為少陰，又次為厥陰。厥，猶盡也。太陽為正陽，次少者為少陽，又次為陽明，謂合明也。</p>
<p>《素問》又曰：三陰三陽，各有離合（離，別離，謂各正位於陰陽也。合，配合，謂表裡而為臟腑也）。內者為陰，外者為陽，聖人南面而立，前曰廣明（廣，大也。心臟在南，故曰廣明），後曰太衝（衝脈在北，謂之太者，督脈與衝脈合而盛大也）。太衝之地，名曰少陰（此明太衝脈與足少陰督脈相合而為表裡也）。少陰之上，名曰太陽（足少陰脈，腎臟也，起於小趾之下，斜趨足心。足太陽脈，膀胱腑也，循京骨至小趾外側，故太陽在少陰之上。太陽者，陰中之陽也，其根起於至陰，結於命門）。中身而上屬廣明。廣明之下，名曰太陰（廣明，心臟。其下則足太陰脾臟）。太陰之前。名曰陽明（足太陰脾脈。起於大趾之端，循趾內側白肉際，過核骨後，上內踝前廉，上腨內，循胻骨之後。足陽明胃脈，下膝三寸而別，以下入中趾外間。足陽明在太陰之前也。陽明者，陰中之陽也，其根起於厲兌）。厥陰之表，名曰少陽（足厥陰肝脈，起於足大趾聚毛之際，上循足跗上廉。足少陽膽脈，循足跗上，出小趾次趾之端。足少陽在厥陰之表也。少陽者，陰中之少陽也，其根起於竅陰）。是故三陽之離合也，太陽為開，陽明為闔，少陽為樞（開，司動；闔，司靜；樞，司動靜。言氣之不等也）。三經者，不得相失也。搏而勿浮，命曰一陽（言三陽如一也）。中為陰，其衝在下，名曰太陰（衝脈在脾之下，與足少陰之絡，皆起於腎下。上者過於胞中，是足太陰脾脈，在衝上也。太陰者，是陰中之陰也，其根起於隱白）。太陰之後，名曰少陰（足太陰脾脈，起於大趾之端，循趾內側，及上內踝前廉，上腨內，循胻骨後。足少陰腎脈，起於小趾之下，斜趨足心，出於然骨之下，循內踝之後，以上腨內。是少陰在太陰之下也。少陰者，陰中之少陰也，其根起於湧泉）。少陰之前，名曰厥陰（足少陰腎脈，循內踝之後，上腨內廉。足厥陰肝脈，循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上膕內。是厥陰在少陰之上也。厥陰者，陰之絕陰，言陰氣至此而盡也，其根起於大敦。陰之絕陽，兩陰相合，故曰陰之絕陽）。是故三陰之離合也，太陰為開，厥陰為闔，少陰為樞。三陰者，不得相失也，搏而勿沉名曰一陰。（隱括《陰陽離合論》篇文）</p>
<p>《內經》曰：兩陽合明於辰巳，陽合則明，故曰陽明。辰為三月，主左足之陽明；巳為四月，主右足之陽明。兩陰交盡於戌亥，陰交則幽，故曰厥陰。戌為九月，主右足之厥陰，亥為十月，主左足之厥陰。（隱括《素問·至真要大論》、《靈樞、陰陽系日月》兩篇文）</p>
<p>《靈樞》又曰：從腰以上者，手太陰（肺經），陽明（大腸經）皆主之，從腰以下者，足太陰（脾經）、陽明（胃經）皆主之（《終始篇》）。《素問》又曰：欲之皮部，以經脈為紀者，諸經皆然（循經脈行止，則皮部可知，十二經脈皆矣），上下同法，視其部中有浮絡者，皆陽明之絡也（上，謂手；下，謂足。後並同）。其色多青則痛，多黑則痹，黃赤則熱，多白則寒，五色皆見，則寒熱也。（此通言之，余經皆然）。絡盛則入客於經。陽主外，陰主內。少陽之陽，名曰樞持（為樞要，以主持之也），上下同法，視其部中有浮絡者，皆少陽之絡也，絡盛則入客於經。故在陽者主內，在陰者主出，以滲於內，諸經皆然（此申上文陽主外，陰主內之意，亦通言之也，上「內」字，讀曰「納」，對出而言也。陽絡主外納，故主外。陰絡雖主出，然滲於內，故主內）。太陽之陽，名曰關樞（謂關之樞也），上下同法，視其部中有浮絡者，皆太陽之絡也，絡盛則入客於經。少陰之陰，名曰樞儒（儒，順也，守要而順，陰陽開闔之用也。儒，《甲乙經》作「擩」），上下同法，視其部中有浮絡者，皆少陰之絡也，絡盛則入客於經，其入經也，從陽部注於經（此陰陽絡所同）；其出者，從陰內注於骨（此陰絡所獨著。此句以明上文在陰者主出，以滲於內之意。後並同）。心主之陰，名曰害肩（心包之脈，入腋下，氣不和，則妨害肩腋之運動），上下同法，視其部中有浮絡者，皆心主之絡也，絡盛則入客於經。太陰之陰，名曰關蟄（謂關之潛藏者。蟄，《甲乙經》作執），上下同法。視其部中有浮絡者，皆太陰之絡也。絡盛則入客於經。凡十二經絡脈者，皮之部也。是故百病之始生也，必先於皮毛，邪中則腠理開，開則入客於絡脈，留而不去，傳入於經，留而不去，傳入於腑，廩於腸胃（廩，積聚也）。邪之始入於皮也，溯然起毫毛，開腠理（溯，當作淅，寒貌。起，豎也）其入於絡也，則絡脈盛色變。（經之常色，心赤，肺白，肝青，脾黃，腎黑，陰絡之色應其經，陽絡之色變無常。變則生痛痹寒熱等病，詳見前陽明條）；其入客於經也，則感虛乃陷下；其留於筋骨之間，寒多則筋攣骨痛，熱多則筋弛骨消，肉爍䐃破，毛直而敗（䐃，肘膝後肉如塊者）。夫皮者，脈之部也（脈氣隨經行止，而皮則部主之），邪客於皮則腠理開，開則邪入客於絡脈，絡脈滿則注於經脈，經脈滿則入舍於腑臟也。故皮者有分部，不與而生大病也（不與，當依《甲乙經》作「不愈」。《皮部論》篇。按此篇本論客感，今以其詳於經絡，故附於此）。</p>
<p>張世賢曰：腹屬陰，五臟之募，皆在腹。肺之募曰中府（中府二穴，在雲門下一寸，乳上三肋間動脈應手陷中），心之募曰巨闕（巨闕一穴，在鳩尾下一寸），脾之募曰章門，（章門二穴，在大橫外直臍季脅端），肝之募曰期門（期門二穴，在不容旁一寸五分，直兩乳第二肋端），腎之募曰京門（京門二穴，在監骨腰中，季脅挾脊）。背屬陽，五臟之俞皆在背（肺俞二穴，在三椎下兩旁。心俞二穴，在五椎下兩旁。肝俞二穴，在九椎下兩旁。脾俞二穴，在十一椎下兩旁。腎俞二穴，在十四椎下兩旁。俱挾脊各去一寸五分）。風寒之邪外入在人之背，故陰病行陽。水穀之寒熱，感則害人六腑，傳於五臟，故陽病行陰。陰病行陽，當從陽引陰，其治在俞；陽病行陰，當從陰引陽，其治在募。</p>
<p>《難經》曰：五臟六腑，各有井、滎、輸、經、合，在穴所出為井（井者，若水之源也），所流為滎（水始出時，其流尚微，故謂之滎），所注為輸（水由上而注下，下復承而流之，故謂之輸），所行為經（水之所行經歷過處，故謂之經），所入為合（經過於此，乃入於臟腑，與眾經相會，故為之合同）。陽明之陽，名曰害蜚（蜚，生化之物，陽極則損生化六腑獨各增置一穴為六者，謂原穴也）。蓋臍下腎間動氣，乃人之生命，十二經之根本，故名曰原。三焦者，原氣之別使，主通行三氣，經歷於五臟六腑，所止輒為原，然三焦行於諸陽，腑為陽，故五臟即以輸穴為原，而腑獨增置原穴也（櫽括《六十六難》、《六十八難》兩篇文）。</p>

<h2>常經篇第六</h2>
<p>滑伯仁曰：脈有常奇，十二經者，常脈也。奇經八脈則不拘於常，故謂之奇。蓋常經滿溢，則流入奇經，譬猶聖人田設溝渠以備水潦，斯無濫溢之患也。婁全善曰：此滑氏據《難經》而言之也。《靈樞》曰：督、任、蹺脈在十二經，營氣周流十六丈二尺之內，與《難經》不同，未詳其意，姑闕以俟知者。</p>

<h3>一、〔肺〕</h3>
<p>（肺之為臟，六葉兩耳，四垂如蓋，附著於脊之第三椎，中有二十四空，行列分布諸臟清濁之氣，為五臟之華蓋）《靈樞》曰：手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈屬肺（起，發也。絡，繞也。還，復也。循，洽也。膈，心下膈膜也。屬，會也），從肺系橫出腋下，下循臑內（肺系，喉嚨也。肩下脅上際曰腋。肩下嫩耎白肉曰臑），行少陰、心主之前（心主，心包經也。臑內廉，凡有三脈，太陰居前，少陰居後，厥陰居中），下肘中（臂上臑下相接處曰肘），循臂內，上骨下廉（臑下掌上名曰臂，臂有上下二骨，今太陰脈循臂上骨之下廉也），入寸口（掌後陷中動脈，太淵穴也。寸口中動脈，經渠穴也），上魚（手大指本節後曰魚），循魚際（魚際，穴名，散脈中是），出大指之端（少商穴也）；其支者，從腕後，直出次指內廉出其端（支者，如木之有枝，此以正經之外，而復有旁通之絡也。臂掌之交曰腕，此本經別絡，從腕後上側列缺穴，直出次指之端，交商陽穴而接乎手陽明經也）。其別，名曰列缺，起於腕上分間，並太陰之經，直入掌中，散入於魚際（此下即十五絡穴也。不曰絡而曰別者，以本經由此穴而別走鄰經也。手太陰之絡名列缺，在腕後一寸五分，上側分肉間。太陰自此別走陽明者，其太陰本經之脈，由此直入掌中，散於魚際也。人或有寸、關、尺三部脈不見，自列缺至陽谿見者，俗謂之反關脈者是也，此經脈虛而絡脈滿，《千金翼》曰：陽脈逆，而反大於氣口三倍者是也）。其病實則手銳掌熱，虛則欠㰦，小便遺數，取之去腕半寸，別走陽明也（掌後高骨為手銳骨，實為邪熱有餘，故手銳掌熱。欠㰦，張口伸腰也，虛固肺氣不足，故為欠㰦。及小便遺而且數，通俗文曰：體倦則伸，志倦則㰦也。治此者取列缺。謂實可瀉之，虛可補之，後諸經皆準此。半寸，當作寸半，此太陰之絡，別走陽明，而陽明之絡曰偏歷。亦入太陰，以其相為表裡，故互為注絡以相通也，他經皆然）。其正別入淵腋，少陰之前，入走肺，散之大腸，上出缺盆，循喉嚨，復合陽明，此為六合（此大腸與肺相為表裡，經脈相為一合也。手陽明之正，循胸前膺乳之間；其內行者，別於肩髃，入柱骨，由缺盆下走大腸，屬於肺，其上者，循喉嚨，復出缺盆而合於陽明本經）。其筋起於大指之上，循指上行，結於魚後，行寸口外側（手大指上，少商之次也。魚後，魚際也。寸口外側，即列缺之次），上循臂，結肘中，上臑內廉，入腋下（上循臂，結於肘中尺澤之次，上臑內廉，天府之分，乃橫入腋下，與手少陰之筋合。此皆剛筋也），出缺盆，結肩前髃（此自腋下，上出缺盆，行肩上三陽之前，而結於肩之前髃也），上結缺盆，下結胸裡，散貫賁，合賁下，抵季脅（此上行者，自腋而上，並是三陽之筋，上結於缺盆；下行者，自腋入胸，結於胸裡，散貫於胃上口賁門之分，與手厥陰之筋合；下行抵季脅，與足少陽、厥陰之筋合也）。是動則病肺脹滿，膨膨而喘咳，缺盆中痛，甚則交兩手而瞀，此為臂厥。是主肺所生病者，咳嗽，上氣而喘渴，煩心，胸滿，臑臂內前廉痛，掌中熱。氣盛有餘，則肩背痛，風寒（寒字疑衍）汗出，中風，小便數而欠；虛則肩背痛寒，少氣不足以息，溺色黃變，卒遺失無度。盛者，寸口大三倍於人迎；虛者，寸口反小於人迎也。</p>

<h3>二、〔大腸〕</h3>
<p>（長二丈一尺，廣四寸，當臍右回十六曲）《靈樞》曰：手陽明之脈，起於大指次指之端（商陽穴也），循指上廉（本節前陷中二間穴，本節後陷中三間穴也），出合谷兩骨之間（合谷，穴名），上入兩筋之中（陽谿穴也），循臂上廉，入肘外廉（曲池穴也），上臑外前廉，上肩出髃骨之前廉（臑外前廉，肘髎、五里、臂臑也。肩端骨罅為髃骨，以上肩髃、巨骨也），上出於柱骨之會上（肩背之上，頸項之根，為天柱骨，六陽皆會於督脈之大椎，是為會上），下入缺盆，絡肺，下膈屬大腸（自大椎而前，入足陽明之缺盆，絡於肺中，復下膈，當臍旁天樞之分。屬於大腸，與肺相為表裡也）；其支者，從缺盆上頸貫頰，入下齒中（頭莖為頸。耳下曲處為頰。頸中之穴，天鼎、扶突也），還出挾口，交人中，左之右，右之左，上挾鼻孔（人中，即督脈之水溝穴，由人中而左右互交，上挾鼻孔者，自禾髎以交於迎香穴也。手陽明經止於此，乃自山根交承泣穴而接乎足陽明經也）。其別，名曰偏歷，去腕三寸，別入太陰；其別者，上循臂，乘肩髃，上曲頰偏齒；其別者，入耳合於宗脈。實則齲、聾，虛則齒寒、痹隔，取之所別也（手陽明之絡，名偏歷，在腕三寸上側間，別走手太陰者也。按：本經筋脈，皆無入耳上目之文，惟此別絡有之。宗脈者，脈聚於耳目之間者也。齲齒，蠹病也，此經上曲頰偏齒，入耳，絡肺，下膈，故實則為齒齲耳聾，虛則為齒寒內痹而隔。治此者，當取所別之偏歷）。其正從手循膺乳，別於肩髃，入柱骨，下走大腸，屬於肺，上循喉嚨，出缺盆，合於陽明（大腸與肺相表裡，經脈亦為一合。手陽明之正，循胸前膺乳之間，其內行者，別於肩髃，入柱骨，出缺盆，下走大腸，屬於肺。其上者，循喉嚨，復出缺盆，而合於陽明本經也）。其筋起於大指次指之端，結於腕，上循臂，上結於肘外，上臑，結於髃（大指次指之端，食指尖商陽之次也，歷合谷，結於腕上陽谿之次，循臂上廉，又結於肘外肘髎之次，乃上臑會，與足太陽之筋合，結於肩髃，此皆剛筋也）；其支者，繞肩胛，挾脊（此支自肩髃屈曲後行，繞肩胛，與手足太陽之筋合，兩挾於脊）；直者，從肩髃上頸（此直者，自肩髃行巨骨，上頸中天鼎、扶突之次）；其支者，上頰，結於頄（此支者自頸上頰，入下齒中，上結於手太陽顴髎之分）；直者，上出手太陽之前，上左角，絡頭，下右頷（此直者，自頸出手太陽天窗、天容之前，行耳前，上額左角，絡頭，以下右頷。此舉左而言，則右在其中，亦如經脈之左之右，右之左也。故右行者，亦上額右角，交絡於頭，下左頷，以合於太陽、少陽之筋）。是動則病齒痛，頸腫。是主津液所生病者，目黃口乾，鼽衄喉痹，肩前臑痛，大指次指痛不用。氣有餘，則當脈所過者熱腫，虛則寒慄不復。盛者，人迎大三倍於寸口；虛者，人迎反小於寸口也。</p>

<h3>三、〔胃〕</h3>
<p>（大一尺五寸，紆曲屈伸長二尺六寸）《靈樞》曰：足陽明之脈，起於鼻之交頞中（頞，鼻莖也，亦曰山根。交頞，其脈左右互交），旁納太陽之脈（納，入也。足太陽起於目內眥睛明穴，與頞相併。陽明由此下行，故入之也），下循鼻外，入上齒中（鼻外，即承泣、四白、巨髎之分），還出挾口環唇，下交承漿（環，繞也。承漿，任脈穴），卻循頤後下廉，出大迎（腮下為頷，頷中為頤，由地倉以下大迎也），循頰車，上耳前，過客主人，循髮際，至額顱（頰車本經穴，在耳下，上耳前，下關也。客主人，足少陽經穴，在耳前，循髮際以上頭維至額顱，會於督脈之神庭。額顱，髮際前也）；其支者，循大迎前，下人迎，循喉嚨，入缺盆，下膈，屬胃絡脾（人迎、缺盆，俱本經穴。屬胃，謂諸經之所屬也，絡脾，胃與脾為表裡也，此支自缺盆入內下膈當上脘，中脘之分，屬胃絡脾）；其直者，從缺盆下乳內廉）直者，直下而外行也，從缺盆行氣戶等穴以至乳中、乳根也），下挾臍（天樞等穴也），入氣街中（自外陵等穴，下入氣街，即氣衝，也在毛際兩旁，鼠鼷上一寸）；其支者。起於胃口，下循腹裡，下至氣街中而合（胃口，胃之下口，當下脘之分，《難經》謂之幽門者是也。循腹裡，過足少陰肓俞之外，此即上文支者之脈，由胃下行，而與直者復合於氣街之中也），以下髀關，抵伏兔下膝臏中（膝蓋曰臏），下循脛外廉（䯒骨曰脛），下足跗（足面曰跗），入中趾內間（髀，股也，抵，至也。髀關、伏兔，皆膝上穴名。膝脛外廉，即犢鼻、三里、巨虛等穴之次，乃循內庭，入中趾內間而出歷兌，足陽明經止於此）；其支者，下廉三寸而別，下入中趾外間；其支者，別跗上，入大趾間，出其端（廉，上廉。下廉三寸，即豐隆穴也，是為陽明別絡，故下入中趾外間。又有支者，自跗上衝陽，別行入大趾間，斜出足厥陰，循大趾出其端，而接乎足太陰經也）。其別，名曰豐隆，去踝八寸，別走太陰；其別者，循脛骨外廉，上絡頭項，合諸經之氣，下絡喉嗌。其病氣逆則喉痹瘁瘖，實則狂癲；虛則足不收，脛枯，而取之所別也（足陽明之絡，名豐隆，在外踝上八寸，別走足太陰者也。此經循喉嚨入缺盆，胃為臟腑之海，而喉嗌、缺盆，為諸經之孔道，故合之也）。其正上至髀，入於腹裡，屬胃散之脾，上通於心，上循咽，出於口，上頞䪼（䪼，顴也），還系目系，合於陽明（此脾胃二經表裡相為一合也。足陽明上至髀關，其內行者，由氣街入腹裡，屬於胃，散於脾，上通於心，循咽出於口，上頞䪼，入承泣之次，系目系，為目下網，以合於足陽明之本經也）。其筋起於中三趾，結於跗上，斜外上加於輔骨，上結於膝外廉，直上結於髀樞，上循脅屬脊（中三趾，即足之中趾，厲兌之旁也。結於跗上，衝陽之次，乃從足面斜行，出太陰、少陽兩筋之間，上輔骨，結於膝之外廉，直上髀樞，行少陽之前，循脅後，內屬脊）；其直者，上循骭，結於膝；其支者，結於外輔骨，合少陽（骭，足脛骨也。其直者，自跗循骬，結於膝下外廉三里之次，以上膝臏中；其支者，自前跗上斜外上行，結於外輔骨陽陵泉之分，與少陽經相合也）；其直者，上循伏兔，上結於髀，聚於陰器，上腹而布（此直者由膝臏直上，循伏兔髀關之分，結於髀中，乃上行聚於陰器，陰陽總宗筋之會，會於氣街，而陽明為之長也。乃自橫骨之分，左右挾行，循天樞、關門等穴而上布於腹，此上至頸皆剛筋也），至缺盆而結，上頸，上挾口，合於頄（即䪼也），下結於鼻，上合於太陽，太陽為目上網，陽明為目下網（自缺盆上頸中人迎穴，乃循頤頰，上挾口吻，與陽蹺會於地倉，上合於顴髎，下結於鼻旁，復上睛明穴，合於足太陽。太陽細筋，散於目上，故為目上網。陽明細筋，散於目下，故為目下網也）；其支者，從頰結於耳前（其支者，自頤頰間上結於耳前，會於足少陽之上關、頷厭，上至頭維而終也）。是動則病洒洒然振寒，善伸數欠顏黑；病至則惡人與火，聞木音則惕然而驚，心欲動。獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，是為骭厥。是主血所生病者，狂瘧濕溫汗出，鼽衄，口喎唇疹。頸腫喉痹，大腹水腫，膝臏腫痛，循膺、乳、氣街、股、伏兔、䯒外廉、足跗上皆痛，中趾不用。氣盛則身以前皆熱，其有餘於胃，則消穀善飢，溺色黃；不足則身以前皆寒慄，胃中寒則脹滿。盛者人迎大三倍於寸口，虛者人迎反小於寸口也。</p>

<h3>四、〔脾〕</h3>
<p>（廣三寸，長五寸，掩乎太倉，附著於脊之第十一椎）《靈樞》曰：足太陰之脈，起於大趾之端（隱白穴也），循趾內側白肉際（大都穴也），過核骨後（太白穴也，核骨在足大趾本節後約二寸，內踝骨前約三寸，如棗核，橫於足內側，赤白肉際者是也，竇太師指為孤拐骨者非），上內踝前廉（商丘穴也）。上踹內循脛骨後，交出厥陰之前（踹，足肚也，亦名腓腸。本經自漏谷上行，交出厥陰之前，即地機、陰陵泉也），上膝股內前廉（股，大腿也。一曰髀內為股。前廉，上側也，當血海、箕門之次），入腹，屬脾絡胃（自衝門穴入腹內行，脾與胃為表裡，故於中、下二脘之分，屬脾絡胃也），上膈，挾咽、連舌本，散舌下（咽以咽物，居喉之後，自胃脘上行至此，連舌本，散舌下而終。本，猶根也）；其支者，復從胃別上膈，注心中（足太陰外行者，由腹之四行。上府舍、腹結等穴，散於胸中，而止於大包。其內行而支者，自胃脘別上膈，注心中，而接乎手少陰經也）。其別，名曰公孫，去本節之後一寸，別走陽明；其別者，入絡腸胃。厥氣上逆則霍亂，實則腸中切痛，虛則鼓脹，取之所別也（足太陰之絡，名公孫，在足大趾本節後一寸，別走足陽明者也。厥氣者，脾氣失調而或寒或熱，皆為厥氣逆而上行，則為霍亂，本經入腹屬脾絡胃，故其病如此。治此者，當取所別之公孫也）。其正者上至髀，合於陽明，與別俱行，上結於咽，貫舌中，此為三合（此足太陰之正上股，內合於足陽明，與別者俱行上咽貫舌。是為六合之三者也）。其大絡者，名曰大包，出淵腋下三寸，布胸脅。實則身盡痛，虛則百節盡皆縱，此脈若羅絡之血者，皆取脾之大絡脈也（脾之大絡，名大包，在淵腋下三寸，布胸脅，出九肋間，總統陰陽諸絡，由脾灌溉五臟者也，故其為病如此。羅絡之血者，言此大絡，包羅諸絡之血，故皆取脾之大絡以去之。大絡，即大包）。其筋起於大趾之端內側，上結於內踝（大趾之端內側，隱白穴也，循核骨而上結於內踝，下商丘之次）；其直者，絡於膝內輔骨，上循陰股，結於髀，聚於陰器（絡，當作結，此自內踝直上，結於膝內輔骨陰陵泉之次。股之內側曰陰股，結於髀，箕門之次也。乃上橫骨兩端，與足厥陰會於衝門，橫繞曲骨，並足少陰、陽明之筋，而聚於陰器，皆剛筋也），上腹，結於臍，循腹裡，結於肋，散於胸中；其內者著於脊（其前行者，自陰器上腹，會手少陰之筋，結於臍，循腹裡，由大橫、腹哀之次，結於肋，乃散為柔細之筋，上行布於胸鄉、大包之次。其內行者，由陰器宗筋之間，並陽明、少陰之筋，而上著於脊之命門）。是動則病舌本強，食則嘔，胃脘痛，腹脹善噫，得後與氣則快然如衰（如衰，脾氣通也），身體皆重。是主脾所生病者，舌本強，體不能動搖，食不下，煩心，心下急痛，溏、瘕、泄，水閉，黃疸，不能臥，強立，股膝內腫，厥，足大趾不用。盛者，寸口大三倍於人迎；虛者，寸口反小於人迎也。</p>

<h3>五、〔心〕</h3>
<p>（形如未敷蓮花，居肺下膈上，附著於脊中第五椎）《靈樞》曰：手少陰之脈，起於心中（心為手少陰經，故脈發於心中），出屬心系（心當五椎之下，其繫有五：上系連肺，肺下繫心，心下三系連脾、肝、腎。故心通五臟之氣，而為之主也），下膈，絡小腸（心與小腸為表裡，故下膈，當臍上三寸下脘之分，絡小腸也）；其支者，從心系，上挾咽，系目系（支者，從心系出任脈之外，上行挾咽，系目系，以合於目內眥）；其直者，復從心系，卻上肺，下出腋下（直者，經之正脈也，此自前心系復上肺，由足少陽淵腋之次出腋下，上行極泉穴，手少陰經行於外始此），下循臑內後廉，行太陰、心主之後（臑內後廉，青靈穴也。手之三陰，少陰居太陰、厥陰後），下肘內，循臂內後廉（少海、靈道等穴）、抵掌後銳骨之端（手腕下踝為銳骨，神門穴也），入掌內後廉（少府穴也），循小指之內出其端（少衝穴也，少陰經止於此，乃交小指外側，而接乎手太陽經也）。其別，名曰通里，去腕一寸半，別而上行，循經入於心中，系舌本，屬目系。其實則支膈，虛則不能言，取之掌後一寸，別走太陽也（手少陰之絡，名通里，在腕後一寸陷中，別走手太陽者也。此經入心下膈，故邪實則支膈，謂膈間若有所支而不暢也。其支者上系舌本，故虛則不能言，當取通里，或補或泄，以治之也）。其正別入淵腋兩筋之間，屬於心，上走喉嚨，出於面，合目內眥，此為四合也（手少陰之正，自腋下二寸，足少陽淵腋之次，行兩筋之間，內屬於心，與手太陽之腋走心者合，乃上行挾於咽，出於面，合於目內眥，是當與足太陽睛明相會矣，此六合之四）。其筋起於小指之內側（少衝之次），結於銳骨（神門次也），上結肘內廉（少海穴也），上入腋（極泉之穴），交太陰，挾乳里（交手太陰之筋，斜絡挾乳內行。此經自指至腋，皆剛筋也），結於胸中，循臂（當作賁），下繫於臍（自乳里內行，結於胸中，與三陰之筋合。蓋心主、少陰之筋，皆與太陰合於賁而下行也）。是動則病嗌乾心痛，渴而欲飲，是為臂厥。是主心所生病者，目黃脅痛，臑臂內後廉痛厥，掌中熱。盛者寸口大再倍於人迎，虛者寸口反小於人迎也。</p>

<h3>六、〔小腸〕</h3>
<p>（長三丈二尺，左回疊積十六曲。胃之下口，小腸上口也，在臍上二寸，水穀於是入焉。再下一寸水分穴，則小腸下口也，至是泌別清濁，水液入膀胱，滓穢入大腸）《靈樞》曰：手太陽之脈，走於小指之端（少澤穴也），循手外側（小指本節前谷穴也，本節後陷中後谿穴也），上腕（臂下、掌上節處曰腕。腕前起骨下陷中腕骨穴也，當腕中陷處，陽谷穴之次），出踝中，直上循臂骨下廉，出肘內側兩筋之間（循臂骨下廉陽谷等穴，出肘內側兩骨尖陷中小海穴。此處捺之，應於小指之上），上循臑外後廉（行手陽明、少陽之外），出肩解，繞肩胛，交肩上（肩後骨縫曰肩解，即肩貞穴。肩胛，即臑俞、天宗等處也。肩上，秉風、曲垣等穴也。左右交於兩肩之上，會於督脈之大椎。滑氏曰：脊兩旁曰膂，膂上兩角曰肩解，肩解下成片骨曰肩胛，即肩膊也），入缺盆，絡心（自缺盆由胸下行，入膻中，絡心，心與小腸為表裡也），循咽，下膈，抵胃，屬小腸（自缺盆之下，循咽下膈，抵胃，下行當臍上二寸之分，屬小腸，此行於內者）；其支者，從缺盆循頸上頰，至目銳眥，卻入耳中（其支行於外者，出缺盆，循頸中之天窗，上頰後之天容，由顴窌以入耳中聽宮穴也，手太陽經止於此）；其支者，別頰，上䪼，抵鼻，至目內眥，斜絡於顴（目下為䪼。目內角為內眥。顴，即顴骨下顴窌穴，手太陽自此交目內眥，而接乎足太陽經）。其別，名曰支正，上腕、五寸，內注少陰；其別者，上走肘，絡肩髃。其正指地，別於肩解，入腋走心，系小腸。其筋起於小指之上，結於腕，上循臂內廉，結於肘內銳骨之後，彈之應小指之上，入結於腋下（手小指上外側，少澤穴也，上行結於手腕外側腕骨、陽谷之次，上循臂內側，結於肘下銳骨之後小海之次，但於肘尖下兩骨罅中，以指捺其筋，則痠麻應於小指之上是驗，又由肘上臑外廉，入結於後腋之下，皆剛筋也）；其支者，復走腋後廉，上繞肩胛，循頸出走太陽之前，結於耳後完骨（其支者，自腋下與足太陽之筋合，走腋後廉，上繞肩胛，行肩外俞、肩中俞，循頸中天窗之分，出走太陽經筋，自缺盆出者之前，同上結於耳後完骨之次）；其支者，入耳中；直者，出耳上，下結於頷，上屬目外眥（此支者，自頸上曲牙，入耳中聽宮之分；其直者，上行至耳上，會於手少陽角孫之分；其前而下者，循頤，結於頷，與手陽明經筋合；其前而上者，屬目外眥，瞳子窌之次，與手足少陽之筋合也）。是動則病嗌痛頷腫，不可回顧，肩似拔，臑似折。是主液所生病者，耳聾，目黃，頰腫，頸頷肩臑肘臂外後廉痛。盛者人迎大再倍於寸口，虛者人迎反小於寸口也。</p>

<h3>七、〔膀胱〕</h3>
<p>（重九兩二銖，縱橫九寸，居腎下之前，大腸之側，當臍上一寸水分穴之處、小腸下口，乃膀胱上際也，水液由是滲入焉）。《靈樞》曰：足太陽之脈，起於目內眥，上額交巔（其脈起於睛明穴，由攢竹上額歷曲差、五處等穴，自絡卻穴左右斜行，而交於頂巔之百會），其支者，從巔至耳上角（其支者，由百會旁行，至耳上角，過足少陽之曲鬢、率谷、天衝、浮白、竅陰、完骨，此皆為足太陽、少陽之會）；其直者，從巔入絡腦（自百會行通天、絡卻、玉枕，入絡於腦中也），還出別下項，循肩膊內，挾脊抵腰中（自腦後復出，別下項，由天柱而下會於督脈之大椎、陶道，卻循肩膊內，分作四行而下，此節言內兩行者，挾脊兩旁，各相去一寸半，自大杼行風門，及臟腑諸俞，而抵腰中等穴。中行椎骨曰脊。臀骨曰腰），入循膂，絡腎，屬膀胱（自腰中入膂絡腎，前屬膀胱，為表裡也。挾脊兩旁之肉曰膂）；其支者，從腰中下挾脊，貫臀，入膕中（從腰中循髖骨下挾脊，歷四窌穴，貫臀之會陽，下行承扶、殷門、浮郄、委陽，入膕之委中也。尻旁大骨曰臀。膝後曲處曰膕）；其支者，從髆內左右，別下貫胛，挾脊內（此支言肩膊內大杼下，外兩行也，左右貫胛，去脊各三寸別行，歷附分、魄戶、膏肓等穴，挾脊下行，由秩邊而過髀樞也），過髀樞，循髀外，從後廉下合膕中（過髀樞，會於足少陽之環跳，循髀外後廉，去承扶一寸五分之間，下行復與前之入膕中者相合），以下貫踹內，出外踝之後，循京骨，至小趾外側端（貫踹內者，由合陽以下承筋、承山等穴也。出外踝之後，乃崑崙、僕參等穴也。小趾本節後大骨曰京骨，而小趾外側之端曰至陰，足太陽經穴止此，乃交於小趾之下，而接於足少陰經也）。其別，名曰飛揚，去踝七寸，別走少陰。實則鼽窒，頭背痛；虛則鼽衄，取之所別也（足太陽之絡，名飛揚，在足外踝上七寸，別走足少陰者也。此經起於目內眥，絡腦，行頭背，故其為病如此。治此者，當取所別之飛揚）。其正，別入於膕中，其一道下尻五寸，別入於肛，屬於膀胱，散之腎，循膂當心入散；直者，從膂上出於項，復屬於太陽，此為一經（此膀胱與腎為表裡，故其經脈相為一合也。足太陽之正，入膕中，與少陰合而上行，其別一道下尻五寸，當承扶之次，上入肛門，內行腹中，屬於膀胱，散於腎，循膂當心入散，上出於項，而復屬於本經太陽，此內外同為一經也）。其筋起於足小趾，上結於踝，斜上結於膝（足太陽之筋，即其經脈所止之處，至陰穴次也。循足跗外側，上結於外踝崑崙之分，乃斜上附陽而結膝膕之分。結，聚也），其下循足外踝，結於踵；上循跟，結於膕（其下，足跗之下也。踵，即足跟之突出者。跟，即踵上之硬筋處，乃僕參、申脈之分，結於膕之委中穴也）；其別者，結於踹外，上膕中內廉，與膕中並（此即大筋之旁出者，別為柔軟短筋，亦猶木之有枝也。凡言別者、支者皆仿此。此支自外踝別行，由足踹肚之下尖處，行少陽之後，結於踹之外側絡穴飛揚之分，乃上膕內廉，合大筋於委中而一之也），上結於臀（尾骶之旁，會陽之分也），上挾脊上項（挾脊背分，左右上項，會於督脈之陶道、大椎，此皆附脊之剛筋也）；其支者，別入結於舌本（其支者，自項別入內行，與手少陽之筋結於舌本，散舌下。自此以上，皆柔軟之筋，而散於頭面）；其直者，結於枕骨，上頭下顏，結於鼻（其直，自項而上，與足少陰之筋合於腦後枕骨間，由是而上過於頭，前下於顏，以結於鼻下之兩旁。額上曰顏也）；其支者，為目上網，下結於頄（網，綱維也，所以約束目捷，司開闔者也。目下曰頄，頄即顴也。此支自通頂入腦者下屬目本，散於目上，為目上網，下行者結於頄，與足少陽之筋合），其支者，從腋後外廉，結於肩髃（又其支者，從挾脊循腋後外廉，行足少陽之後，上至肩，會手陽明之筋，結於肩髃）；其支者，入腋下，上出缺盆，上結於完骨（此支後行者，從腋後走腋下，向前斜出陽明之缺盆，乃從耳後直上，會手太陽、足少陽之筋，結於完骨。完骨，耳後高骨也）；其支者，出缺盆，斜上出於頄（此支前行者，同前缺盆之筋岐出，別上頤頷，斜行出於頄，與前之下結於頄者相合也）。是動則病沖頭痛，目似脫，項似拔，脊痛，腰似折，髀不可以曲，膕如結，腨如裂，是為踝厥。是主筋所生病者，痔瘧狂癲疾，頭囟頂痛，目黃，淚出鼽衄，項背腰尻膕腨腳皆痛，小指不用。盛者人迎大再倍於寸口，虛者人迎反小於寸口也。</p>

<h3>八、〔腎〕</h3>
<p>（左右各一枚，狀如石卵，色黑紫，當胃下兩旁，入脊膂，附脊之第十四椎，前後與臍平直）《靈樞》曰：足少陰之脈，起於小趾之下，斜走足心（湧泉穴也），出於然谷之下，循內踝之後，別入跟中（然谷，穴名，在內踝前起大骨下陷中。內踝後別入跟中，即太谿、太鍾等穴），以上踹內，出膕內廉（自復溜、交信，過足太陰之三陰交，以上踹內之築賓，出膕內廉之陰谷），上股內後廉，貫脊屬腎絡膀胱（上股內後廉，結於督脈之長強，以貫脊中，而後屬於腎，前當關元、中極之分，而絡於膀胱也。滑氏曰：由陰谷上股內後廉，貫脊，會於脊之長強穴，還出於前，循橫骨、大赫、氣穴、四滿、中注、肓俞，當肓俞之所、臍之左右屬腎，下臍過關元、中極而絡膀胱也）；其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本（滑氏曰：其肓俞屬腎處上行，循商曲、石關、陰都、通谷諸穴，貫肝，上循幽門，上膈，歷步廊入肺中，循神封、靈藏、彧中、俞府，而上循喉嚨，並人迎，挾舌本而終）；其支者，從肺出絡心，注胸中（其支者，自神藏之次，從肺絡心，注胸中。以上俞府諸穴，足少陰經止於此，而接乎手厥陰也。胸中，當兩乳之間，亦曰膻中）。其別，名曰大鐘，當踝後繞跟，別走太陽；其別者，並經上走於心包，下外貫腰脊。其病氣逆則煩悶，實則閉癃，虛則腰痛，取之所別也（足少陰之絡，名大鐘，在足跟後骨上兩筋間，別走足太陽者也。言本經從肺出絡心，此言上走心包，下外貫腰脊，故其為病如此。凡治此當取所別之大鐘也）。其正，至膕中，別走太陽而合，上至腎，當十四椎，出屬帶脈；直者，系舌本，復出於項，合於太陽，此為一合，成以諸陰之別，皆為正也（此膀胱與腎為表裡，故其經脈相為一合。足少陰之正，自膕中合於太陽，內行上至腎，當十四椎旁腎俞之次，出屬帶脈；其直者，上系舌本，復出於項，合於太陽，是為六合之一。然有表必有里，諸陽之正，必成於諸陰之別，非旁通交會也）。其筋起於小趾之下，並足太陰之筋，斜走內踝之下，結於踵，與太陽之筋合，而上結於內輔之下（足少陰之筋，起小趾下，斜趨足心；又斜趨內側，上然谷，並足太陰商丘之次，走內踝之下，結於跟踵之間，與太陽之筋合，由踵內側上行，結於內輔骨下陰谷之次），並太陰之筋而上循陰股，結於陰器（自內輔骨下，並太陰之筋，上循陰股，上橫骨與太陰、厥陰、陽明之筋合，而結於陰器者，皆剛筋也），循脊內挾膂上至項，結於枕骨，與足太陽之筋合（自陰器內行，由子宮上系腎間，並衝脈，循脊兩旁，挾膂上至項，與足太陽之筋合，結於枕骨，內屬髓海）。是動則病飢不欲食，面黑如地色，咳唾則有血，喝喝而喘，坐而欲起，目䀮䀮如無聽見，心如懸若飢狀，氣不足則善恐，心惕惕如人將捕之，是謂骨厥。是主腎所生病者，口熱舌乾，咽腫上氣，嗌乾及痛，煩心心痛，黃疸腸澼，脊臀股內後廉痛，痿厥嗜臥，足下熱而痛。盛者寸口大再倍於人迎，虛者寸口反小於人迎也。</p>

<h3>九、〔心包〕</h3>
<p>（一名心主，以臟象校之，在心下橫膜之上，豎膜之下，與橫膜相黏，而黃脂漫裹者，心也。其漫脂之外，有細筋膜如絲，與心肺相連者，心包也。心為君火，心包為相火，代君火行事。以用而言，則曰手心主；以經而言，則曰心包絡，一經而二名也）《靈樞》曰：手厥陰心包絡之脈，起於胸中，出屬心包（心為五臟六腑之大主，諸邪之在心，皆在心之包絡。包絡者，心主之脈也。胸中，當兩乳之間，而為心主之外衛）絡，下膈，歷絡三焦（三焦，為臟腑之外衛，諸經皆無歷字，獨此有之，蓋指上、中、下而言，上即膻中，中即中脘，下即臍下。故任脈之陰交穴，為三焦募也）；其支者，循胸出脅，下腋三寸（肋上際為腋，腋下三寸天池也，手厥陰經始此），上抵腋下，循臑內，行太陰、少陰之間（上抵腋下之天泉，循臑內行太陰、少陰之間，以手之三陰厥陰在中也），入肘中，下臂，行兩筋之間（入肘中，曲澤穴也，下臂行兩脈之間，郄門、間使、內關、大陵），入掌中指，循中指，出其端（入掌中，勞宮也。中指端，中衝也，手厥陰止於此），其支者，別掌中，循小指次指出其端（小指之次，即無名指也。其支者，自勞宮別行無名指端，而接乎手少陽也）。其別，名曰內關，去腕二寸，出於兩筋之間，循經以上繫於心包，絡心系。實則心痛，虛則為頭強，而取之兩筋間也（手厥陰之絡，名內關，在掌後去腕二寸兩筋間，別走手少陽者也。此經繫心包，絡心系，又出耳後，合少陽完骨之下。病取內關治之）。其正，別入淵腋三寸，入胸中，別屬三焦，出循喉嚨，出耳後，合少陽完骨之下，此為五合（手厥陰之正，其別而內行者，與少陰之脈同，自腋下三寸。足少陽淵腋之次，入胸中，屬三焦，乃出循喉嚨，行於耳後，合手、足少陽於完骨之下。此乃六合之五也）。其筋起於中指，與太陰之筋並行，結於肘內廉（中指端，中衝之次也。循指入掌中，至掌後大陵之次，並手太陰之筋，上結於肘內廉曲澤之次），上臂陰，結腋下，下散前後挾脅（上臂陰天泉之次，由曲腋間，並太陰之筋，結於腋下，當天池之次下行，前後布散挾脅，聯於手太陰、足少陽之筋。此經自掌至腋，皆剛筋也）；其支者，入腋，散胸中，結於臂（此支者，自天池之分，入腋內，散於胸中。臂，當作賁。蓋此支並太陰之筋，入散胸中，故同結於賁門也）。是動則病手心熱，臂肘攣急，腋腫，甚則胸脅支滿，心中憺憺大動，面赤目黃，喜笑不休。是主脈所生病者，煩心心痛，掌中熱，盛者寸口大一倍於人迎，虛者寸口反小於人迎也。</p>

<h3>十、〔三焦〕</h3>
<p>（上焦，在心下下膈，胃之上口。其治在膻中，直兩乳間陷者中。中焦，在胃中脘，當臍上四寸，不上不下，其治在臍旁。下焦，當膀胱上口，其治在臍下一寸。皆水穀之道路，氣之所終始也）《靈樞》曰：手少陽之脈，起於小指次指之端（關衝穴也），上出兩指之間（即小指次指之間，液門、中渚穴也），循手表腕（陽池穴也），出臂外兩骨之間（外關、支溝等穴），上貫肘（天井穴也），循臑外，上肩而交出足少陽之後（臑外，行手太陽之前，手陽明之後，歷清冷淵、消爍、臑會，上肩髎，過足少陽之肩井，自天髎而交出足少陽之後也），入缺盆，布膻中，散絡心包，下膈，循屬三焦（其內行者，入缺盆，復由足陽明之外，下布膻中，散絡心包，相為表裡，乃自上焦下膈，循中焦下行，並足太陽之正入絡膀胱，以約下焦，故足太陽經委陽穴，為三焦下輔俞也）；其支者，從膻中，上出缺盆，上項，系耳後，直上出耳上角，以屈下頰至䪼（其支行於外者，自膻中上行出缺盆，循天髎上項，會於督脈之大椎，循天牖，系耳後之翳風、瘛脈、顱息，出耳上角之角孫，過足少陽之懸釐、頷厭，下行耳、頰，至䪼，會於手太陽顴髎之分）；其支者，從耳後、入耳中，出走耳前，過客主人前交頰，至目銳眥（此支從耳後翳風入耳中，過手太陽之聽宮，出走耳前之耳門，過足少陽之客主人。交頰，循和髎，上絲竹空，至目銳眥，會於瞳子髎穴，手少陽經止於此，而接乎足少陽經也）。其別，名曰外關，去腕二寸，外繞臂，注胸中，合心主。病實則肘攣；虛則肘不收，而取之所別也（手少陽之絡，名外關，在腕後二寸兩筋間，別走手厥陰心主者也。此經繞臂，故為肘攣及不收之病。治此者，當取所別之外關）。其正，指天，別於巔，入缺盆，下走三焦，散於胸中也（三焦與心主，表裡經脈相為一合。指天者，天屬陽，運於地之外。手少陽之正，上別於巔，入缺盆，下走三焦，散於胸中，包羅臟腑之外，故曰指天而言也）。其筋起於小指次指之端，結於腕中，循臂結於肘，上繞臑外廉，上肩走頸，合手太陽（小指次指之端，無名指關衝穴也，上結於手腕之陽池，循臂外關、支溝之次，出臂上兩骨間，結於肘，自肘上臑外廉，由臑會行太陽之裡、陽明之外，上肩髎，走頸中天牖之分，與手太陽之筋合此，皆剛筋者也）；其支者，當曲頰入系舌本（其支者，自頸中當曲頰下，入系舌本，與足太陽之筋合）；其支者，上曲牙，循耳前，屬目外眥，上乘頷，結於角（又支者，自頰行曲牙，會足陽明之筋，循耳前上行，與手太陽、足少陽之筋屈曲交綰，而會於耳上之角孫，乃屬目外眥，而復會於瞳子髎之次。頷，當作額。蓋此筋自耳前行外眥，與三陽交會，上出兩額之左右，以結於額之上角也）。是動則病耳聾渾渾焞焞，嗌腫喉痹。是主氣所生病者，目銳眥痛，頰痛，耳後肩臑肘臂外皆痛，小指次指不用。盛者人迎大一倍於寸口，虛者人迎反小於寸口也。又曰：三焦各有所出，上焦出於胃口，上並咽，以上貫膈，而布胸中，走腋，循太陰之分而行，還至陽明，上至舌下。足陽明常與營俱行於陽二十五度，行於陰亦二十五度，一周也，故五十度而復會於手太陰。中焦亦並胃中，出上焦之後，此所受氣者泌糟粕，蒸津液，化其精微，上注於肺脈，乃化而為血，以奉生身，莫貴於此，故獨得行於經隧，命曰營氣。下焦者，別迴腸，注於膀胱而滲入焉。故水穀者，常並居於胃中，成糟粕，而俱下於大腸，而成下焦，滲而俱下，濟泌別汁，隨下焦而滲入膀胱焉。《難經》曰：上焦主內而不出，中焦主腐熟水穀，下焦主分別清濁，出而不內，以傳導。《素問》曰：上焦如霧（氣也），中焦如漚（血也），下焦如瀆（傳導也）。張潔古曰：霧不利而為喘滿，漚不利而為留飲，瀆不利而為腫脹。王海藏曰：頭至心為上焦，心至臍為中焦，臍至足為下焦。三焦有臟而無腑，其腑在氣街中衝脈是也。</p>
<p>又曰：手有三焦（不言所在），主持乎上；足有三焦（自臍下膀胱主足），主持乎下。右手尺脈為命門，與心包絡脈同診，亦有三焦之稱，為命門之火，遊行於五臟之間，主持乎內；三焦通為一氣，衛於一身，為外護，主持乎外。</p>

<h3>十一、〔膽〕</h3>
<p>（在肝之短葉間，重三兩三銖，藏津汁三合）《靈樞》曰：足少陽之脈，起於目銳眥，上抵頭角，下耳後，循頸行手少陽之前，至肩上，卻交出手少陽之後，入缺盆（自目銳眥，由聽會、客主人，上抵頭角，循頷厭，下懸顱、懸釐，從耳上髮際入曲鬢、率谷，歷手少陽之角孫，外折下耳後，行天衝、浮白、竅陰、完骨；又自完骨外折上行，循本神，前至陽白，復內折上行，循臨泣、目窗、正營、承靈、腦空，由風池而下行；自風池循頸，過手少陽之天牖，行少陽之前，下至肩上，循肩井，復交出手少陽之後，過督脈之大椎，會於手太陽之秉風，而前入於足陽明缺盆之外，其支又入耳）；其支者從耳後，入耳中，出走耳前，至目銳眥後（其支者，從耳後顳顬間，過手少陽之翳風，入耳中，過手太陽之聽宮，出走耳前，復自聽會至目銳眥後瞳子窌之分）；其支者，別銳眥，下大迎，合於手少陽，抵於䪼（其支者，別自目外眥瞳窌，下足陽明大迎之次，由手少陽之絲竹空、和窌，而下抵於䪼也）；下加頰車，下頸合缺盆（其下於足陽明者，合於下關，乃自頰車下頸，循本經之前與前之入缺盆者相合，以下胸中）以下胸中，貫膈，絡肝，屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中（其內行者，由缺盆下胸，當手厥陰天池之分貫膈，足厥陰期門之分絡肝，本經日月之分屬膽，而相為表裡，乃循脅裡，由足厥陰之章門下行，出足陽明之氣街，繞毛際，合於足厥陰，以橫入髀厭中之環跳穴也）；其直者，從缺盆下腋，循胸，過季脅，下合髀厭中（其直下而行於外者，從缺盆下腋，循胸，歷淵腋、輒筋、日月，過季脅，循京門、帶脈等穴下行，由居髎入足太陽之上髎、中髎、下髎，下行復與前之入髀厭者相合），以下循髀陽，出膝外廉，下行輔骨之前（髀陽，髀之外側也。輔骨，膝下兩旁高骨也。由髀陽行太陽、陽明之中，歷中瀆、陽關，出膝外廉，下行輔骨之前，自陽陵泉以下陽交等穴也），直下抵絕骨之端，下出外踝之前，循足跗上，入小指次指之間（外踝上骨際曰絕骨。絕骨之端，陽輔穴也，下行懸鐘，循足面上之丘墟、臨泣等穴，乃入小指次指之間，至竅陰穴，足少陽經止於此）；其支者，別跗上,入大指之間，循大指岐骨內，出其端，還貫爪甲，出三毛（足大指次指本節後骨縫為岐骨，大指爪甲後二節間為三毛。其支者，自足跗上別行入大指，循岐骨內，出大指端，還貫入爪甲，出三毛，而接乎足厥陰經也）。其別，名曰光明，去踝五寸，別走厥陰，下絡足跗。實則厥，虛則痿躄，坐不能起，取之所別也（足少陽之絡，名光明，在外踝上五寸，別走足厥陰者也，此經下絡足跗。凡痛厥與痿躄，治此者，當取所別之光明）。其正繞髀入毛際，合於厥陰；別者，入季脅之間，循胸裡屬膽，散之上肝，貫心，以上挾咽，出頤頷中，散於面，系目系，合少陽於外眥也（此肝、膽二經為表裡，經脈相為一合。足少陽，繞髀陽，入毛際，與足厥陰合。其內行而別者，乃自季脅入胸屬膽，散之上肝，由肝之上系貫心，上挾咽，自頤頷中出散於面，而上系目系，復合少陽本經於目外眥瞳子髎也）。其筋起於小趾次趾，上結外踝，上循脛外廉，合於膝外廉（小趾次趾，即第四趾竅陰之次。外踝，丘墟之次。脛外廉，外丘、陽交之次。膝外廉，陽陵泉、陽關之次。此皆剛筋也）；其支者，別走外輔骨，上走髀，前者結於伏兔之上，後者結於尻（膝下兩旁突出之骨曰輔骨。膝上六寸起肉曰伏兔。尾骶骨曰尻。此支自外踝骨上走於髀，分為二岐，前結陽明之伏兔，後結督脈之尻，至此剛柔相制，所以取臀膝而運樞機也）；其直者，上乘䏚季脅，上走腋前廉，繫於膺乳，結於缺盆（季脅下兩旁耎處曰䏚。胸上兩旁高處曰膺。此直，自外輸骨上走於髀，由髀樞上行乘䏚，循季脅上走腋，當手太陰之下，出腋前廉，橫繫於胸乳之分，上結於缺盆，與手太陰之筋相合，皆剛筋也）；直者，上出腋，貫缺盆，出太陽之前，循耳後，上額角，交巔上，下走頷，上結於頄（此直者，自上走腋處，直上出腋，貫於缺盆，與上之結於缺盆者相合，乃行足太陽經筋之前，循耳上額角，交太陽之筋於巔上，復從足陽明頭維之分，走耳前，下腮頷，復結於頄上也）；支者，結於目眥為外維（此支者，從顴上斜趨結於目外眥，而為目之外維，凡人能左右盼視者，正以此筋為之伸縮也）。是動則病口苦，善太息，心脅痛不能轉側，甚則面微有塵，體無膏澤，足外反熱，是為陽厥。是主骨所生病者，頭痛頷痛，目銳眥痛，缺盆中腫痛，腋下腫，馬刀俠癭，汗出振寒，瘧，胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛，小指次指不用。盛者人迎大一倍於寸口，虛者人迎反小於寸口也。</p>

<h3>十二、〔肝〕</h3>
<p>（肝之為臟，左三葉，右四葉，凡七葉。其治在左，其臟在右脅右腎之前，並胃著脊之第九椎）《靈樞》曰：足厥陰之脈，起於大趾叢毛之際（大敦穴也），上循足跗上廉（大趾間陷中，行間穴也。大趾本節後陷中，太衝穴也），去內踝一寸，上踝八寸，交出太陰之後（內踝前一寸，中封穴也），上膕內廉（曲泉穴也），循股陰，入毛中，過陰器，抵小腹，挾胃屬肝絡膽（股陰，內側也，循股內之陰包、五里、陰廉，上會於足太陰之衝門、府舍，入陰毛中之急脈，遂左右相交，環繞陰器，而會於任脈之曲骨，自陰上入小腹，會於任脈之中極、關元，循章門至期門之所，挾胃屬肝，下足少陽日月之所絡膽，而肝膽相為表裡也），上貫膈，布脅肋（自期門上貫膈，行足太陰食竇之外，大包之裡，散布脅肋，上足少陽淵腋、手太陰雲門之下，足厥陰經穴止於此），循喉嚨之後，上入頑顙，連目系，上出額，與督脈會於巔（頏顙，咽顙也。目內深處為目系。其內行而上者，自脅肋間，由足陽明人迎之外，循喉嚨之後入頏顙，行足陽明大迎、地倉、四白之外，內連目系，上出足少陽陽白之外，臨泣之裡，與督脈相會於巔頂之百會穴）；其支者，從目系，下頰裡，環唇內（此支者，從前目系之分，下行任脈之外，本經之裡，下頰裡，交環於口唇之內）；其支者，復從肝別貫膈，上注肺（又其支者，從前期門屬肝所，行足太陰食竇之外，本經之裡，別貫膈，上注於肺，下行至中焦，挾中脘之分，復接於手太陰肺經，以盡十二經之一周，終而復始也）。其別，名曰蠡溝，去內踝五寸，別走少陽；其別者，循脛上睪，結於莖。其病氣逆則睪腫卒疝；實則挺長，虛則暴癢，取之所別也（足厥陰之絡，名蠡溝，在足內踝上五寸，別走足少陽者也。本經絡陰器，上睪結於莖，故其所病如此。而治此者，當取所別之蠡溝）。其正，別跗上，上至毛際，合於少陽，與別俱行，此為二合也（足厥陰之正，別足跗上內行，上至陰毛之際，合於足少陽，與別者俱行，上布脅肋，是為六合之二也）。其筋起於大趾之上，上結於內踝之前（大趾上三毛際，大敦之次，行跗上與足太陰之筋並行，結於內踝前中封之次也），上循脛，上結內輔之下，上循陰股，結於陰器，絡諸筋（由內踝上足脛，循三陰交之分，上行並足少陰之筋，上結於內輔骨下曲泉之次，復並太陰之筋，上循陰股中五里、陰廉之分，上急脈，結於陰器。陰器者，合太陰、厥陰、陽明、少陰之筋，以及沖、任、督三脈皆聚於此，故曰宗筋。厥陰屬肝，肝主筋，故絡諸筋，而一之以成健運之用）。是動則病腰痛不可以俯仰，丈夫頹疝，婦人小腹腫，甚則嗌乾，面塵脫色。是主肝所生病者，胸滿嘔逆，洞泄狐疝，遺溺閉癃。盛者寸口大一倍於人迎，虛者寸口反小於人迎也（篇內是動、所生病皆謂經脈病也，若筋病則與此不同，散見前編各條，此不詳錄。又凡十二經脈，病盛則泄之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之，雖亦散見於前。而此復重錄者，以其大體所。欲從一關類，故不厭其詳也）。</p>

<h2>奇經篇第七</h2>

<h3>一、〔督〕</h3>
<p>（督之為言都也，行背部之中行，為陽脈之都綱。以其督領諸脈故名。其脈從骶至頭長四尺五寸）《難經》曰：督脈起於下極之腧（兩陰兩筋之間為篡，篡內深處為下極，其腧會陰穴也，一名屏翳），並於脊裡，上至風府（指穴在項後，入髮際一寸，大筋宛宛中），入屬於腦，上巔，循額，至鼻柱（附足太陽膀胱之脈，行抵齦交穴而終）。屬陽脈之海（自上巔至此十二字，滑伯仁所增）。為病脊強而厥。《素問》曰：起於少腹（起，非初起，亦猶任脈、衝脈，起於胞中），以下骨中央（下行於腰之橫骨圍之中央也），女子入系廷孔，其孔，溺孔之端也，其絡循陰器，合篡間，繞篡後，別繞臀（別絡也），至少陰與巨陽中絡者，合少陰上股內後廉，貫脊屬腎（足少陰之絡者，自股內後廉，貫脊屬腎。足太陽絡之外行者，循髀樞，絡股陽而下，其中行者，下貫臀，至膕中，與外行絡合）；與太陽起於目內眥，上額交巔上，入絡腦，還出別下項，循肩膊內，挾脊抵腰中，入循膂絡腎（接繞臀而上行）；其男子循莖下至篡，與女子等（自與太陽至此，皆督脈之別絡也）；其少腹直上者，貫臍中央，上貫心入喉，上頤環唇，上系兩目之下中央（自其少腹至此，並任脈之行而云，是督脈所繫，則知任脈、衝脈、督脈名異而同體也）。</p>
<p>按：《難經》滑氏言直行者，《素問》言別絡，所以不同，任脈仿此。為病脊強反折（脊強者，五痙之總名，其症卒口噤，背反張而瘈瘲。諸藥不已，可灸身柱穴）。《靈樞》曰：督脈之別，名曰長強（按：張世賢注《難經》以下極之腧為長強穴，則此云別，名曰長強者，何也？考之《圖經》，下極在篡中，為會陰之穴，長強，在脊骶端，居會陰之後，而東垣亦云，督脈出於會陰，根於長強，則其為兩穴明矣。張氏之說非也），扶膂上項，散頭上，下當肩胛左右，別走太陽，入貫膂。實則脊強，虛則頭重，有過者，取之所別也。</p>

<h3>二、〔任〕</h3>
<p>（任之為言妊也，女子得之妊養也，行腹部之中行，為人生養身之本。從胞中上注目，亦長四尺五寸）《素問》曰：任脈起於中極之下（中極，穴名，在臍下四寸。其下則曲骨穴也，亦會陰穴之分），以上毛際，循腹裡上關元（關元，在臍下三寸，附足厥陰肝經，為生化之原），至咽喉，上頤，循面入目（循承漿環唇，上至齦交分行，系兩目下之中央，會承泣而終。承漿、承泣，並穴名，承漿在唇下陷中，承泣在目下七分）。屬陰脈之海（滑伯仁增此句）。為病，男子內結七疝（內結腹裡，若結不通也。七疝者，一厥、二盤、三寒、四瘕、五附，六脈、七氣也），女子帶下瘕聚（瘕者，假物之形。其名有八，蛇瘕、脂瘕、青瘕、黃瘕、燥瘕、血瘕、狐瘕、鱉瘕也。聚者，聚而成塊無常處也。瘕聚於腹，多因停血所致）。</p>
<p>《靈樞》曰：任脈之別，名曰尾翳，下鳩尾，散於腹。實則腹皮痛，虛則癢搔，取之所別也（滑伯仁曰：督與任一原而二歧，督則由會陰而行背，任則由會陰而行腹。夫人身之有任督，猶天地之有子午。然人身之任督，以腹背言；天地之子午，以南北言，可以分可以合者也。分之以見陰陽之不雜，而合之以見渾淪之無間也，一而二，二而一者也。沈承之曰：任督二脈，上則交於齦交，下則會於會陰，此二穴者，實二脈之樞紐也，故修養家，以五更漱咽津液，蓋取二脈陰陽交會之氣也）。</p>

<h3>三、〔沖〕</h3>
<p>（以其起於氣衝故名。婁全善曰：衝脈亦行身之前，挾任脈兩旁，張世賢謂直衝於上者非）《素問》曰：衝脈起於氣街（即氣衝穴也，在少腹毛中兩旁各二寸），並少陰之經（足少陰腎經也）。挾臍上行，至胸中而散。為病逆氣裡急（逆氣，不上行也。裡急，腹脹痛也）。《靈樞》曰：衝脈者，五臟六腑之海也，五臟六腑皆稟焉。其上者，出於頏顙，滲諸陽，灌諸精；其下者，與少陰之大絡，起於腎下，出於氣街，循陰股內廉，斜入膕中，伏行骬骨內廉（骬骨，脛骨也），下至內股之後，入足下屬而別，斜入踝；其下者，並於少陰之經，滲三陰；其前者，伏行出屬跗上，下入大趾間，滲諸絡以為足脛，此脈之常動者也。故別絡結，則跗上不動，不動則厥，厥則寒矣（張世賢謂：《內經》言衝脈並足少陰之經，而《難經》卻言並足陽明之經，不同，何也？蓋足陽明胃經者，氣衝脈之所發；足少陰腎經者，氣衝脈之所行。一自其所行而言，一自其所發而言，故不同也。《靈樞》曰：任脈，衝脈，皆起於胞中，上循背裡，為經絡之海，其浮而外者，循腹右上行，會於咽喉，別而絡唇口，血氣盛則充膚熱肉，血獨盛，則澹滲皮膚，生毫毛）。</p>

<h3>四、〔帶〕</h3>
<p>（周如束帶，故名）《難經》曰：帶脈起於季脅，回身一周（季脅，章門穴也，一名脅髎。在臍旁九寸，直季脅端，脾之募穴也。故潔古以為太陰所主，東垣以為脾之附經）。為病腹滿，腰溶溶如坐水中。劉河間曰：婦人帶下，由下焦濕熱太甚，津液湧溢，從帶脈淋瀝而下也。</p>

<h3>五、〔陽蹺〕</h3>
<p>（蹺，捷也。兩蹺脈，各長八尺）《難經》曰：陽蹺脈，起於根中（根，足跟也），循外踝（申脈穴也，屬足太陽膀胱經），上行入風池（穴名，在項後髮際陷中）。為病陰緩而陽急（陰，曰里。陽，曰表。陰緩而陽急，里和而表病也，宜汗之）。滑伯仁曰：陽蹺本足太陽之別，合於太陽，其氣上行，與足少陰會於章門之下，又與手陽明會於肩端，又與手、足太陽、陽維會於肩髎，從胛骨上廉又與手、足陽明會於口吻，及鼻兩旁，又與任脈、足陽明會於目下。</p>
<p>婁全善曰：經獨言陰蹺而不及陽蹺，脫簡故也。凡陽蹺所會二十二穴：〔申脈〕（足太陽外踝下），〔附陽〕（足太陽外踝上），〔僕參〕（足太陽跟骨上），〔居髎〕（足少陽章門下），〔肩髃〕（手陽明肩端），〔巨骨〕（手陽明肩上），〔臑俞〕（手太陽肩胛上），〔地倉〕（足陽明口吻旁），〔巨髎〕（足陽明鼻旁），〔承泣〕（足陽明目下），〔睛明〕（足太陽目內眥）。</p>

<h3>六、〔陰蹺〕</h3>
<p>《難經》曰：陰蹺脈亦起於跟中，循內踝（照海穴也，屬足少陰腎經）上行，至咽喉，交貫、衝脈（與衝脈之浮於外者，會於咽喉也）。為病陽緩而陰急。《靈樞》曰：蹺脈者，少陰之別（足少陰也），起於然骨之後（然骨，俗呼孤拐骨），上內踝之上，直上循陰股入陰，上循胸裡，入缺盆，上出人迎之前，入頄，屬目內眥，合於太陽、陽蹺而上行。氣並相還則為濡目（句），氣不營則目不合（張潔古曰：肌肉之上，陽脈所行，通貫六腑，主持諸表，其名為陽蹺之絡。肌肉之下，陰脈所行，通貫五臟，主持諸里，其名為陰蹺之絡）。</p>
<p>《靈樞》曰：陰蹺之氣，獨行五臟，不榮六腑，何也？曰：氣之不得無行也，如水之流，如日月之不休，故陰脈榮其臟，陽脈榮其腑，如環之無端，莫知其紀，終而復始。其流溢之氣，內溉臟腑，外濡腠理。又曰：蹺脈有陰陽，何脈當其數？曰：男子數其陽，女子數其陰，當數者為經，不當數者為絡也（愚按：人之經脈，上下左右前後二十八脈，周身十六丈二尺，然必合蹺、任、督三脈計之，方得此數。若但十二為一周，則積數少二丈四尺矣。當數，謂當十六丈二尺之數也。男子以陽蹺當其數，則陽蹺為經，陰蹺為絡。女子以陰蹺當其數，則陰蹺為經，陽蹺為絡）</p>
<p>一云：兩足蹺脈各長七尺五寸，而陰蹺所生在照海，以交信為郄，陰蹺脈病者取此，凡四穴：〔然骨〕（即然谷之次），〔交信〕（足少陰內踝上），〔照海〕（足少陰內踝下，在然谷之後），〔睛明〕（足太陽目內眥）。</p>

<h3>七、〔陽維〕</h3>
<p>（維者，僅能維持經絡於身，盈溢積蓄，不能環流灌溉於諸經也）《難經》曰：陽維脈，起於諸陽會（諸陽皆會於頭，風池、風府是也。或曰金門穴者非。蓋風池乃足少陽、陽維之會，風府乃督脈、陽維之會，若金門則在足外踝骨下申脈穴下一寸，乃足太陽之郄，陽維之別屬也。安得謂之會哉）。為病苦寒熱（陽為衛氣主表，故病在表而苦寒熱）。</p>
<p>張潔古曰：陽維，七維絡諸陽。凡陽維所會二十四穴：〔金門〕（足太陽外踝下），〔陽交〕（足少陽外踝上），〔臑俞〕（手太陽肩之後），〔天髎〕（手少陽缺盆上），〔肩井〕（足少陽肩上），〔陽白〕（足少陽眉之上），〔本神〕（足少陽眉上），〔臨泣〕（足少陽眉上），〔正營〕（足少陽目窗上），〔腦空〕（足少陽枕骨下），〔風池〕（足少陽顳顬後），〔風府〕（督脈後髮際間），〔啞門〕（督脈風府後）。</p>

<h3>八、〔陰維〕</h3>
<p>《難經》曰：陰維脈，起於諸陰交（諸陰皆會於足築賓穴也，在內踝上踹分中）。為病苦心痛（陰為營血，心主血，故病則心痛）。張潔古曰：陰維八維絡諸陰（《難經》曰：陽維維於陽，陰維維於陰，陰陽不能自相維，則悵然失志，溶溶不能自收持。溶溶，緩慢貌），凡陰維脈會十二穴：〔築賓〕（足少陰內踝上），〔腹哀〕（足太陰乳下），〔大橫〕（足太陰腹哀下），〔府舍〕（足太陰少腹下），〔期門〕（足厥陰乳下），〔天突）（任脈喉下），〔廉泉〕（任脈舌本下）。</p>

<h2>人迎氣口篇第八</h2>
<p>〔人迎〕診在結喉旁一寸五分（經云：陰陽之定於喉手者也，此即人迎穴動脈，以候外感有餘之症，足陽明胃脈也。越人以左關前一分為診，正當肝膽之分，肝膽為風木之司，故曰人迎緊盛傷於風。夫寸關尺三部，各佔三分，共成寸口，左陽右陰，陽應乎外，故以候表焉。今兩存之）。</p>
<p>〔氣口〕（一名寸口，亦名脈口）診在右關前一分（脈候內傷不足之症，穴在兩手魚際穴後一寸，手太陰肺脈也。此越人不失經旨，專取魚後寸口，以決死生，乃不易之典）。</p>

<h2>三部篇第九</h2>
<p>《素問》曰：人有三部，有下部，有中部，有上部；部各有三候，有天、有地、有人。上部天，兩額之動脈（在額兩旁，動應於手，足少陽膽脈之所行也），以候頭角之氣（以其位在頭角之分也）；上部地，兩頰之動脈（在鼻孔下兩旁近於巨髎之分，動應於手，足陽明胃脈之所行也），以候口齒之氣（以其位近口齒也）；上部人，耳前之動脈（在耳前陷者中，動應於手，手少陽三焦脈之所行也），以候耳目之氣（以其位當耳前脈，抵於目內眥也）。中部天，手太陰也（謂肺脈也，在掌後寸口中，是謂經渠，動應於手），以候肺；中部地，手陽明也（謂大腸脈也，在手大指次指岐骨間，合谷之分，動應於手），以候胸中之氣（腸胃同候也）；中部人，手少陰也（謂心脈也，在掌後銳骨之端，神門之分，動應於手），以候心。下部天，足厥陰也（謂肝脈也，在毛際外，羊矢下一寸半陷中，五里之分，臥而取之，動應於手。女子取太衝，在足大趾本節後二寸陷中是也），以候肝；下部地，足少陰也（謂腎脈也，在足內踝後跟骨上陷中，太谿之分，動應於手），以候腎；下部人，足太陰也（謂脾脈也，在魚腹上趨筋間，直五里下，箕門之分，寬鞏足單衣，沉取乃得之，而動應於手），以候脾胃之氣（脾臟與胃，以膜相連，故以候脾，兼候胃也。候胃氣者，當取足跗之上衝陽之分穴中，動脈乃應手。次第《三部九候論篇》文）。</p>
<p>（顧英白曰：軒岐之所謂三部九候者，亦非如後世之謂三部九候也。人有三部，部有三候，是總人之一身，而分為上中下三部耳，豈第以氣口之一脈，而命為寸關尺之三部乎？一部之間，自有天地與人，三候之動脈耳，豈復以寸關尺之脈，而分為浮中沉之三候乎？若後人之說為是，則軒岐之說為非；軒岐之說為是，則後人之說為非矣！故不得不置一喙於其間也。浮之與沉，固無庸義矣，中則止有浮之中耳，奚能有沉之中乎？浮而無中，固曰無根，沉則必無中矣，何僅以為沉脈主裡，而無必死之證乎？蓋人但知有中正之中，而不知有中和之中。經言：真臟脈見者必死。脈無胃氣者，謂為真臟脈也。是除諸怪脈之外，皆得謂之有胃氣，皆得謂之有中脈耳。何棄其彰明較置之經文，而反以浮沉與中，索摸於不可知之陋習乎？此事之不能解者也。況診脈之法，或以手測，或以目視，而非徒事於按也。脈之緩者，其皮膚亦緩；脈之急者，其皮膚亦急；脈之滑者，其皮膚亦滑；脈之澀者，其皮膚亦澀；脈之大者，其皮膚亦賁而起；脈之小者，其皮膚亦減而少氣。聖人恫瘝乃身，爰諄諄以詔後世，而反置之不講，何不智若是耶？夫滑脈者，可以望，可以按，均不失夫脈之真者也。至於澀脈，則望之為甚易，按之則甚難，何也？但視其色之黑而悴者為澀脈，則孩童可以知矣。如必切其，沾沙刮竹而為澀，則雖有明智，若望洋焉。自扁鵲、倉公、仲景而下，沿襲至今，訛以傳訛。予嘗締繹經文，人迎止隸於喉旁。三部須兼乎首足，臟則候之於左手，腑則候之於右手，寸以候上，尺以候下，臟腑皆然，庶不使有纖毫之疑而容惑於其間也。彼七表八里九道之紛然，智又出扁鵲下矣。世多識之，故不贅焉）。</p>

<h2>診脈篇第十</h2>
<p>《素問》曰：診法常以平旦陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，故乃可診有過之脈（過，謂脈之異於常候者），切脈動靜而視精明（精明，謂視病人之目，舊注指睛明穴者非），察五色，觀五臟有餘不足，六腑強弱，形之盛衰，以此參決死生之分（《脈要精微論篇》）。</p>
<p>王海藏曰：凡診必先捫手心手背，手心熱則內傷，手背熱則外傷。次以脈別之，內傷手足不和，兩脅俱熱，先少陽也，從內之外者，先有形也；外傷一身盡熱，先太陽也，自外之內者，先無形也。人迎、氣口俱盛，或舉按皆實大，表發熱而惡寒，腹不和而口液，此內外兩傷也。</p>
<p>《素問》又曰：謹熟陰陽，無與眾謀。所謂陰陽者，去者為陰，至者為陽；靜者為陰，動者為陽；遲者為陰，數者為陽（《陰陽別論篇》）。又曰：尺內兩旁，則季脅也（通兩尺脈而言，季脅近腎，尺脈主之），尺外以候腎，尺裡以候腹中（里，亦內也。凡言外者，皆指臂之外側；凡言內者，皆指近臂筋。季脅之上，腎之分也，故以候腎。腎候有二，左尺以候腎、膀胱，右尺以候命門、三焦。季脅之內，腹之分也，故以候腹中）。附上，左（近手為上兩關脈，在尺之上。左，左關脈也）外以候肝，內以候鬲（鬲，與膈同，賁也，肝主賁）；右（右關脈也，不言附上者，蒙上文）外以候胃，內以候脾（脾居中，故以內候之，胃為市，故以外候之）。上附上，右（上，謂寸脈，又在關之上也。附上，即關也。右，右寸脈也）外以候肺，內以候胸中（肺葉垂外，故以外候之，胸中主氣管，故以內候之）；左（左寸脈也）外以候心，內以候膻中（心，心主，鬲中也。膻中，上焦也，在兩乳間）。前以候前（上前，謂左寸口。下前，謂胸之前膺及氣海也），後以候後（上後，謂右寸口，下後為胸之後背及氣海也）。上竟上者（竟盡也。上竟上，謂至魚際），胸喉中事也；下竟下者（謂盡尺脈動處），少腹腰股膝脛足中事也（《脈要精微論篇》）。婁全善曰：《內經》以寸關尺脈候臟腑者，止於如此。至《難經》始定寸關尺為三部，浮中沉為九候云。《難經》曰：脈有三部，寸、關、尺也，上部法天，主胸以上至頭之有疾；中部法人，主膈以下至臍之有疾；下部法地，主臍下至足之有疾。部有三候，浮中沉也，總為九候（櫽括《十八難》篇文）。</p>
<p>朱丹溪曰：肺主氣，其脈居右寸，脾胃、命門、三焦各以氣為變化運用，故皆附焉。心主血，其脈居左寸，肝、膽、腎、膀胱，皆精血之遂道筦庫，故皆附焉。男子病右脈充於左者，有胃氣也，雖重可治。女子病左脈充於右者，有胃氣也，雖重可治。反此者虛之甚也。</p>
<p>陳無擇曰：左手心部在寸，屬手少陰經，與小腸手太陽經會；肝部在關，屬足厥陰經，與膽足少陽經合；腎部在尺，屬足少陰經，與膀胱足太陽經合。右手肺部在寸，屬手太陰經，與大腸手陽明經合；脾部在關，屬足太陰經，與胃足陽明經合；腎部在尺，屬手厥陰心包絡，與三焦手少陽經合。</p>
<p>《難經》又曰：脈有三部，部有四經，手太陰、陽明屬金，生足太陽、少陰水，水流下行，而不能上，故在下部；足厥陰、少陽屬木，生手太陽、少陰火，火炎上行，而不能下，故在上部：手心主、少陽屬火，生足太陰、陽明土，土主中營，故在中部，此五行子母更相生養者也（稍節《十八難》篇文）。又曰：脈有陰陽，呼出心與肺，吸入腎與肝，呼吸之間，脾受穀味，其脈在中。浮者，陽也。沉者，陰也。心肺俱浮，何以別之？浮而大散者心也，浮而澀短者肺也。腎肝俱沉，何以別之？牢而長者肝也，按之濡，舉指來實者腎也。脾者中州，故其脈在中，是陰陽之法也（《四難》）脈有輕重，初持脈如三菽之重，與皮毛相胃者，肺部也（菽，大豆也）；如六菽之重，與血脈相得者，心部也；如九菽之重，與筋平者，肝部也；按之至骨，舉指來疾者，腎部也，是輕重之謂也（《五難》）。</p>
<p>《素問》又曰：諸浮不躁者皆在陽，則為熱（病在足陽脈之中，陽為火氣，故為熱）；其有躁者在手（病在手陽脈之中）。諸細而沉者皆在陰，則為骨痛（細沉而躁，則病生於手陰脈之中，陰主骨，故骨痛）；其有靜者在足（靜而不躁者，病生於足陰脈之中，《脈要精微論篇》）。又曰：三陽在頭，三陰在手，所謂一也（頭，謂人迎脈，在結喉兩旁一寸五分。手，謂氣口脈，在手魚際之後一寸。兩者相應，俱往俱來，若引繩大小齊等，名曰平人，故謂一也）。別於陽者知病忌時，別於陰者知死生之期（識氣定期，故知病忌。審明成敗，故知死生之期。《陰陽別論篇》）。《靈樞曰》：氣口候陰，主中，盛堅者，傷於食，人迎候陽，主外，盛堅者，傷於寒（櫽括《四時氣》、《論禁脈》、《五色》三篇文）。</p>
<p>《內經》曰：人迎一盛（一盛，謂人迎脈大於寸口脈一倍也。余盛法同）病在足少陽（膽經），一盛而躁病在手少陽（三焦經）；二盛病在足太陽（膀胱經），二盛而躁病在手太陽（小腸經）；三盛病在足陽明（胃經），三盛而躁病在手陽明（大腸經）；四盛且大且數，名曰溢陽，溢陽為外格（四倍以上，陽盛之極，故格拒吐逆，而食不得入）。脈口（即寸口）一盛，病在足厥陰（肝經），一盛而躁病在手厥陰（心包經）；二盛病在足少陰（腎經），二盛而躁病在手少陰（心經）；三盛病在足太陰（脾經），三盛而躁病在手太陰（肺經）；四盛且大且數，名曰溢陰，溢陰為內關（陰盛之極，故關閉而溲不得通也），內關不通死不治。人迎與太陰脈口俱盛四倍以上，命曰關格（脈口，亦太陰也，手太陰肺脈所行），關格之脈贏，不能極於天地之精氣則死矣（贏，與盈通。陰陽俱盛，盛極則衰而不相營，故名曰關格，言兼二病也。兼二病則不得盡期而死）。（合《靈樞·終始》、《素問·六節藏象論》兩篇文；龐安常曰：察脈之要，莫急於人迎、寸口，二脈相應，如兩引繩，陰陽均則繩之大小等。凡平人之脈，人迎大於春夏，寸口大於秋冬。何謂人迎？喉旁取之，《內經》所謂別於陽者也。秦越人但取手太陰之行度，魚際後一寸九分，以配陰陽之數，而得關格之脈，然不盡取之穴之脈，不先求喉手引繩之義，則昧尺寸、陰陽、關格之所起矣。夫寸四倍於尺，則上魚而為溢；溢者，寸倍尺之極也。溢之脈，一名外關，外關者，自關以上外脈也；一名內格，內格者，陰拒陽而外出也；一名陰乘之脈，陰乘者，陰生於寸，動於尺。今自關以上溢於魚際，而關以後脈伏行是為陰，壯乘陽，而陽竭則死，脈有是者死矣。此所謂寸口四倍於人迎，為關陰之脈者也。關以後脈當一寸而沉，過則尺倍於寸，至四倍則入尺而為覆，覆者，尺倍寸之極也。覆之脈，一名內關，內關者，自關以下內脈也；一名外格，外格者，陽拒陰而內入也；一名陽乘之脈，陽乘者，陽生於尺，動於寸。今自關以下，覆入尺澤，而關以前，脈伏行，是為陽元乘陰，而陰竭則死，脈有是者死矣。此所謂人迎四倍於寸口，為格陽之脈者也。雖然獨覆獨溢，則補瀉以生之。尺部一盛，瀉足少陽，補足厥陰；二盛，瀉足太陽，補足少陰；三盛瀉足陽明，補足太陰，皆二瀉而一補之；四盛則三陽極，導之以序，當進取少陽、太陽、陽明之穴；脈靜者取三陽於足，脈數者取三陽於手，瀉陽二，當補陰一。至寸而反之。且脈有九候者，取浮中沉於寸關尺也。越人不取十二經穴，但以足少陰、陽明二經，配合手太陰行度，自尺至寸九分之位，復分三部，部有浮中沉，以配天地人。又謂：中風木，傷寒金，溫水熱火。夫溫病起於濕，濕則土病，土病而諸臟受害，其本生於金木水火四臟之變。陽浮陰濡為風溫，陽數陰實為溫毒，陽濡陰急為濕溫，陰陽俱盛為溫瘧。其治之也，風溫取足厥陰木。手少陰火，溫毒取手少陽火，傷寒取手太陰金、手少陰火，濕溫取足少陰水。皆能辨其疑似而不亂，良由定陰陽於喉手，配覆溢於尺寸，寓九候於浮中沉，分四溫於傷寒，此皆越人開其端，予則參以《內經》諸篇考究而得其說，審而用之，順而治之，病不能逃矣（按：《內經》先外關者，循外、內之序，龐氏先內格者，順陰陽之義，要亦有見，而非立異於經也。其未言補瀉之方，辨四溫之治，尤能發前人所未發，學者宜究心焉）。《素問》又曰：脈有陰陽，知陽者知陰，知陰者知陽，所謂陰者真臟也（五臟屬陰，故陰為真臟），見則為敗，敗必死也（肝脈至中外急，心脈至堅而搏，肺脈至大而虛，腎脈至搏而絕，脾脈至弱而乍數乍疏，皆為脈見。見則臟敗，神去故必死）。所謂陽者，胃脘之陽也（人迎脈氣）。別於陽者，知病處，知病從來（據《玉機真藏論》增此四字）；別於陰者，知死生之期（《陰陽別論篇》）。又曰：九候之相應也，上下若一，不得相失。一候後則病，二候則病甚，三候後則病危。所謂後者，應不俱也（俱，猶同也，一也）。察九候獨小者病，獨大者病，獨疾者病（疾，速也，即數也），獨遲者病，獨熱者病，獨寒者病，獨陷下者病，形氣參伍不調者病。上下左右之脈，相應如參舂者病甚（參舂，謂脈大數而鼓，如參舂杵之上下也），形盛脈細，少氣不足以息者危。形瘦脈大胸中多氣者死，中部之候相減者死（減於上下兩部，亦是氣衰），中部乍疏乍數者死（氣之喪亂也），中部之脈雖獨調，與眾臟相失者死（與上下兩部不相應也），上下左右相失不可數者死（謂一息十至以上也），三部九候皆相失者死，脈不往來者死（精神去也），目內陷者死（太陽之脈，起於目內眥，目內陷者，太陽絕也），脫骨身不去者死（去，猶行也），形肉已脫，九候雖調猶死，皮膚著者死（骨乾枯也）。（次弟《三部九候論篇》文）</p>
<p>張仲景曰：寸脈下不至關為陽絕，尺脈上不至關為陰絕，此皆不治決死也，若計其餘命死生之期，以月節克之（陽絕死於春夏，陰絕死於秋冬，此言其應）。</p>

<h2>清濁篇第十一</h2>
<p>《靈樞》曰：人氣有清濁，受氣者清。清者注陰，故上注於肺（手太陰），其氣滑然；清者有濁，清之濁者，下行於經，內積於海。諸陰皆清，足下走於胃（足陽明），其氣澀然。濁者有清，濁之清者，上出於咽及口。諸陽皆濁，手太陽（小腸經）獨受其濁，此為陽濁獨甚也（次第《陰陽清濁》篇文）。</p>

<h2>虛實篇第十二</h2>
<p>《素問》曰：邪氣盛則實，精氣奪則虛。寸脈急而尺緩者，經絡皆實也。脈口熱而尺寒者，絡虛而經實也（脈口，即寸口）。尺脈滿，脈口寒澀者，經虛而絡滿也（滿，即實也）。大熱病，氣熱脈滿者，重實也（氣與脈俱實也）。脈虛（經云：脈虛者，不象陰也。然氣口脈之要會，手太陰之動也，故不象陰為脈應）、氣虛（經云：氣虛者無常也。謂膻中氣不定也，舊注謂寸脈動無常者非）、尺虛者（行步恇然），重虛也（櫽括《通評虛實論篇》文）。</p>
<p>《難經》曰：病有虛實，出者為虛，入者為實（從內之外為出，從外之內為入）。言者為虛，不言者為實（言者病而尚能言也，不言者病而不能言也）。緩者為虛，急者為實（緩急以病勢言）。脈有虛實，濡者為虛，緊牢者為實（濡者，陰金也，按之似有，舉之若無。緊者，陽木也，按之有餘，舉之甚數，狀若洪弦，三關通度。牢者，陰木也，尋之即無，按之卻有，沉而有力，動而不移）。診有虛實（診，視驗也，探病之通稱，兼望聞問切而言），濡者為虛，牢者為實（濡牢雖與脈相類，然此所包者廣）；癢者為虛，痛者為實（氣欲通則癢，不通則痛）；外通內快，為外實內虛，內痛外快，為內實外虛（快，爽也），此為三虛、三實（凡言虛者，謂精氣奪也，實者謂邪氣盛也）。（次第《四十八難》文）</p>
<p>《素問》又曰：五實死，五虛死（五，五臟也）。脈盛（心實），皮熱（肺實），腹脹（脾實），前後不通（腎實），悶瞀（肝實），此為五實；脈細（心虛），皮寒（肺虛），氣少（肝虛），泄利前後（腎虛），飲食不入（脾虛），此謂五虛。然時有生者，何也？漿粥入胃，泄注止，則虛者活；身汗得，後利，則實者活（稍次《玉機真藏論篇》文）。</p>

<h2>客感篇第十三</h2>
<p>《素問》曰：夫邪之生也，或生於陰，或生於陽，其生於陽者，得之風雨寒暑，其生於陰者，得之飲食居處陰陽喜怒（婁全善曰：此陰陽以內外言之，而總諸陰陽形氣之傷。東垣所謂內外傷也，寒暑風濕屬陽，為外傷；飲食男女喜怒屬陰為內傷）。故喜怒傷氣，寒暑傷形，暴怒傷陰，暴喜傷陽，寒傷形，熱傷氣，氣傷痛，形傷腫。故先痛而後腫者，氣傷形也；先腫而後痛者，形傷氣也（婁全善曰：即曰喜怒傷氣矣，又曰暴怒傷陰，暴喜傷陽；既曰寒暑傷形矣，又曰寒傷形，熱傷氣，言若矛盾而理則有歸。蓋統而言之，喜怒傷人，從內出而先發於氣，寒暑傷人從外入而先著於形。分而言之，則怒氣從下上而先發於陰，喜氣從上下而先發於陽，寒則人氣內藏，故寒之傷人先著於形，暑則人氣外溢，故暑之傷人，先著於氣也。櫽括《調經論》、《陰陽應象大論》兩篇文）。又曰：夫邪之客於形也，必先舍於皮毛，留而不去，入舍於孫脈，留而不去，入舍於絡脈，留而不去，入舍於經脈，內連五臟，散於腸胃，陰陽俱感，五臟乃傷。此邪之從，皮毛而入，極於五臟之次也。如此則治其經焉。亦有入舍於孫絡，留而不去，閉塞不通，不得入於經，流溢於大絡而生奇病者（大絡，十五絡也，病在血絡是為奇邪）。《繆刺論篇》又曰：天之邪氣，感則害人五臟；水穀之寒熱，感則害於六腑（寒傷腸及膽，熱傷胃及膀胱）；地之濕氣，感則害人皮肉筋脈（濕勝則營衛之氣不行，感則害於皮肉筋脈）。故善治者皮毛（止於萌也），其次治肌膚（救其已生），其次治筋脈（攻其已病），其次治六腑（治其已甚），其次治五臟。治五臟者，半死半生也（治其已成，病勢已成，可得半愈）。（稍次《陰陽應象大論篇》文）</p>
<p>《靈樞》曰：邪氣之中人也，無有常，中於陰，則溜於腑；中於陽，則溜於經。蓋身之中於風也，不必動臟。故邪入於陰經，則其臟氣實，邪氣入而不能客，故還之於腑（《邪氣臟腑病形篇》）。又曰：身半已上邪中之，身半以下濕中之（同上《病形篇》）。</p>
<p>《素問》又曰：犯賊風虛邪者，陽受之而入六腑，則身熱，不時臥，上為喘呼，食飲不節；起居不時者，陰受之而入五臟，則填滿閉塞，下為飧泄，久為腸（澼亦作癖，腸澼為痔。次第《太陰陽明論篇》）。又曰：春者，天氣始開，地氣始泄，凍解冰釋，水行經通，故人氣在脈。夏者，經滿氣溢，入孫絡受血，皮膚充實。長夏者，經絡皆盛，內溢肌中。秋者，天氣始收，腠理閉塞，皮膚引急。冬者蓋藏，血氣在中，內著骨髓，通於五臟。是故邪氣者，常隨四時之氣血，而入客也，至其變化不可為度，然必從其經氣，闢除其邪，除其邪則亂氣不生（《四時刺逆從論篇》）。</p>

<h2>傳變篇第十四</h2>
<p>《素問》曰：夫邪氣之客於身也，以勝相加，至其所不勝而甚（傳克我之經），至於所生而持（傳生我之經。持，相持也），至其所生而愈（傳我生之經），自得其位而起（居所旺處）（稍次《藏氣法時論篇》）。又曰：五臟受氣於其所生（謂受病氣於己之所生者），傳之於其所勝（謂傳於己之所克者），氣舍於其所生（謂舍於生己者），死於其所不勝（謂死於克己者，分位所傳不順，故死）。肝受氣於心，而傳之於脾，氣舍於腎，至肺而死。心受氣於脾，傳之於肺，氣舍於肝，至腎而死。脾受氣於肺，傳之於腎，氣舍於心，至肝而死。肺受氣於腎，傳之於肝，氣舍於脾，至心而死。腎受氣於肝，傳之於心，氣舍於肺，至脾而死。此皆氣之逆行也。故死一日一夜五分之，此所以占死生之早暮也（朝主甲乙，晝主丙丁，四季上主戊己，脯主庚辛，夜主壬癸。如肝死於肺，位屬秋，庚辛，則主脯時死，余仿此）。（稍次《玉機真臟論篇》）</p>
<p>《難經》曰：經言七傳者死，謂傳其所勝也（七傳者，傳數至七也。呂廣曰：七，當作次，謂諸病以次相傳也），假令心病傳肺，肺傳肝，肝傳脾，脾傳腎，腎傳心，一臟不再傷故死（此與下文皆以心部為例，心六傳，又至心，心當再傳於肺，肺不肯受，是謂一臟不再傷也。傳於所勝，謂之賊邪，故至死）。間臟者生，謂傳其所生也（間，隔也，間臟乃母傳於子），假令心病傳脾，脾傳肺，肺傳腎，腎傳肝，肝傳心，是子母相傳，周而復始，如環無端故生（心勝肺，今心病不徑傳於肺，而傳之於脾，是脾隔其所勝矣。脾傳腎，今不徑傳於腎，而傳之於肺，是肺隔其所勝矣。肺傳肝，今不徑傳於肝，而傳之於腎，是腎隔其所勝矣。腎勝心，今不徑傳於心，而傳之於肝，是肝隔其所勝矣。此間二臟而傳也。又如心隔肺而傳肝，肝又隔脾而傳腎，此間一臟而傳也。傳其所生謂之虛邪，無相勝之害，故得生也）。臟病難治，腑病易治，以此故也（櫽括《五十三、五十四難》兩篇文）。</p>

<h1>合刻二書後跋</h1>
<p>或曰：彼何人斯，敢操著述乎？予驟聆之，遂赧然障面而退。因自訟曰：謬矣，妄矣，幾乎將廢書矣！既而此心，若終有所未釋，復反覆閱之，不禁喟然嘆曰：噫，是出前賢往聖，精思極論，予不過表章發明，提其目，舉其綱而已，豈敢之著作乎？為慨世之徵逐者流，不學無術，鹵莽應世，自軒自岐，輕操司命，誇浮詞，駕高軒，日見其徵徵也，日見其逐逐也，日持刃以屠，而苦不自覺也，奈何世皆習焉不察，設有叵測，惟委於命於乎！豈不可痛可哀也哉？故每思得晨鐘一振，喚醒大地，所以奮然有合刻二書之舉，不吝變產鳩工，竭蹶從事，幸邀同志，共襄厥成，又作如是觀。效二氏福田利益之說，以異傳之遐邇，如暗室一燈，迷津有筏。庶鹵莽者，不輕為人司命；乞生者，亦令知所鑑別。不抒鄙人拯救之懷，上體造物好生之德，則未必無小補，云刻既成，復綴數語以見鄙志如此。知我罪我，其在斯乎！其在斯乎！</p>
<p><u>林屋無求子尤乘識</u></p>
