<header data-type="book">
<h1>本草便讀</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張秉成</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1887">公元1887年</data></dd></div>
</dl>
</header>

<h1>吳序</h1>
<p>人有恆言曰。用藥如用兵。以藥之不可輕用也。然苟用得其當。又未嘗不應手取效。藥到病除。是操何術以致哉。則曰非讀本草不為功。顧讀本草之難也。神農本草經尚已。然其中詞旨奧衍。義蘊宏深。往往皓首窮年。每苦未能得其要領。後世著本草者雜出。人自為說。學者既無所適從。且累牘連篇。雖有聰穎之儒。亦苦記誦之匪易。於此欲求一善本本草。使人人得而讀之。且讀之無不人人稱便者。蓋戛戛乎其難之。今年冬月。吳君靜甫以張君兆嘉先生所著本草便讀見示。並囑為弁言。余讀之。見其著墨無多。而一藥之中。凡性味氣質。以及經絡臟腑。與一切配合炒制之法。靡不備具。言雖簡而意自賅。學者讀之。既省記誦之煩。又悟指歸之趣。以此稱便。便何如矣。有志業醫者。果能守是編為楷模。將見用力少而成功多。由是玩而味之。更由是神而明之。夫如是各家之本草可以參。亦如是各家之本草可以廢。豈惟便於一時已哉。千百世之後。吾知因利乘便。陰受是編之福者當不少也。是為序。</p>
<p><u>光緒十六年歲在庚寅嘉平月賜進士出身同知銜知武進縣事愚弟吳炳拜撰</u></p>

<h1>惲序</h1>
<p>本草一書。名人著述甚多。而求其便於讀者不數覯也。東垣藥性賦。雲林藥性歌括。未嘗不簡便易讀。而考其所入臟腑。所行經絡。與夫一物而枝本異用。一名而種類異宜。均未詳列。則雖讀猶之不讀也。李士材醫宗必讀本草二卷。句聯字偶。縷晰條分。習醫家無不讀之稱便。然而臟腑經絡。未經組織。枝本種類。未盡周備。終不足使讀者快然。近時善本如陳修園之本草經讀。黃元御之長沙藥解。玉楸藥解。幾於家置一編矣。而經讀意存復古。句讀悉本經文。仍不便於讀也。長沙藥解。句斟字酌。便於讀矣。而玉楸藥解。不無參差之處。讀之而猶多未便。於以嘆本草讀本之盡善者。誠不易覯也。歲壬辰張君兆嘉。出所著本草便讀示余。屬為弁言。余讀之。見其於性味甚辨晰也。臟腑經絡甚周至也。枝本之用。種類之宜甚明備也。而字句之不錘自煉。對偶之不琢自工。非數十年積學深思。尋繹乎聖經。研求乎物理。而又具救世之苦心。存提攜後進之隱念者。未易臻此詣也。余欣喜過望。為世之讀本草者幸焉。是為序。</p>
<p><u>光緒十八年歲次壬辰愚弟惲思贊頓首拜撰</u></p>

<h1>盛序</h1>
<p>張君兆嘉著本草便讀共兩卷。既自序其書。邑侯安仁吳公。同邑惲竹坡大令。皆邃於醫者。亦序之。而從子宇懷。又為張君問序於余。夫干莫之寶。非張華不能審其氣。篪鍾之操。非鍾期不能識其曲。余不知醫。余烏乎序其書。雖然。固有不能已於言者。余自束髮受讀。壯歲挾策都下。歷官皖鄂浙三省。晚憩吳門。嘗見通人學士。著作如林。往往裒古今興衰治亂是非得失之要。與夫律歷方輿行陳戰守之略。中國四裔強弱向背之幾。緯以諸子。旁及稗野。匯為一編。系之論說。見者歡為經世才。一旦受事叢脞。立見貽笑後世。其於醫也亦然。蓋醫之為道。橐龠於農軒。發揮於岐跗。自是厥後。代有其賢。書亦大備。然而學者怵然於堂奧之深。津涯之廣。則相與掇拾糟粕以欺世。不復尋途索徑。由易入難。以幾於神化。是猶經濟家之矜奇好古而不適於用。良可慨也。余夙耳張君名。今歲之初。宇懷年七十。得痛痹疾甚劇。乃延張君治之。兩月而復。余方以為神。及讀是書。而知張君之為醫。固循循然示人以易者。於虖。其易也。其神也。庖丁一日解十二牛不頓芒刃。若張君者。微特善醫。亦可謂善著書矣。若夫是書之用。則前序已言之。余又奚言。</p>
<p><u>光緒二十有一年。歲次乙未季春之月。武進盛康拜撰。時年八十有二。</u></p>

<h1>程序</h1>
<p>先生余之姻婭也。少好讀書。及長得足疾。渡江求諸名醫治療。不得瘳。而家道中落。因銳志學醫。早夕研究。自以己疾不治。欲思操技以治天下之疾。先生之心亦良苦矣。同治甲子。家君宦閩乞歸。家君亦素邃於醫。日與先生相過從。尋繹經論參酌古今。往往心為之折。歲戊子。余以薄宦從事鄭州工次。暑雨祈寒。晨昏無間。幾成怯證。爰請假歸就先生治之。竟愈。先生出手鈔本草便讀兩冊示余。囑為訂誤。余輾轉奉讀。見其每味編作長短偶言。將所屬之性味。所入之臟腑。前後互辭。發明精當。考本草一書。向無善本可讀。即明季李士材著本草徵要一卷。習醫者皆奉為圭臬。然其間性味臟腑亦列之於前。且語句多不純。主治或不切。學者憾之。斯編簡而要。詳而明。不特便學者之讀。且足補醫林之缺。竊欲授梓以公同好。因匆促北上。即當領憑赴滇。事遂不果。然未嘗一日忘也。丁酉冬。余奉諱里居。知此書已為同里盛君我彭刊行鄂渚。足見有目共賞。十年宦海。素願遂償。因於讀禮之餘。謹序先生所以著此書之始末。與余所以景仰嚮慕之意。質諸我彭以廣流傳云。</p>
<p><u>光緒歲次戊戌春月姻愚侄程福海頓首拜序</u></p>

<h1>自序</h1>
<p>粵自神農嘗草木。著本草經。創始醫道。厥後神其技者。太古有岐伯少俞。中世有扁鵲秦和。漢興有太倉公張仲景。考方域之異宜。辨藥品之真偽。按陰陽五行君臣佐使之理。著書立說。以羽翼本經。魏晉以來。校修補注者。魏有李當之。梁有陶宏景。北齊有徐之才。唐有蘇恭。孫思邈。陳藏器。宋有劉翰。掌禹錫。唐慎微。寇宗奭。金元之間。有張劉李朱。皆其最著者也。但名作雖多。惜無善本。逮有明李時珍出。採輯藥品千九百種。綜覈群籍。八百餘家。集諸家之大成。著本草綱目一書。誠為廣大精微。盡善盡美。但初學者讀之。一如望洋觀海。即窮經皓首。亦無所折衷。其餘之簡便者。如備要。如從新。固能由博返約。但皆以所屬之性味。所入之臟腑。有毒無毒列之於前。記誦之難。無有甚於此者。（成）學醫二十餘年。力購本草數十家。朝夕研究。以為業醫者。若不先明藥之性味。氣之厚薄。質之寒溫。雖博覽群書。知方知病。而不知藥之性。其不致運用乖方。而草菅人命者幾希矣。故遇有一物之性味功用。確切不移。能與病相當而取效者。則每味擬一二聯或五六聯。置之案頭。數年來積成五百餘品。刪繁去復。編為排偶俚言。將各物性味所入所治。參差前後。不使學者混淆難誦。書成。仿李東垣指掌。陳嘉謨蒙筌之意。顏之曰本草便讀。亦非敢以管窺蠡測之見。與先哲爭衡也。不過欲引進後學。譬如行遠必自邇。登高必自卑耳。至其中詞句之不雅。對仗之不工。一則緣（成）之學業未深。短於文墨。一則限於藥品之性味主治。恐失本真。譾陋之由。實有所自。定知當世高明君子。必有起而正之者。故特序其原始如此。</p>
<p><u>光緒丁亥孟夏武進張秉成兆嘉氏自序於存誠堂</u></p>

<h1>凡例</h1>
<p>一、此書原為初學而設。並非全璧。採集諸家本草。參酌鄙見。共集藥品五百八十餘種。每種編成一二聯或三四聯。止論其性味主治確切不移者。其他一概不錄。</p>
<p>一、此書原取簡便易讀。故每藥一種。其聯句概從簡略。尚有意義未盡者。於每味下另增小注。讀者玩之。</p>
<p>一、此書有一物內附入數種者。於目錄一概標出。以便查閱。</p>
<p>一、此書所載藥品。不過五百八十餘種。皆尋常凡用之藥。其餘不常用之藥。以及有名未備之物。均未載入。學者欲窺全豹。自有他書具在。</p>
<p>一、此書於每類之前。附列李時珍綱目數語。以廣學者見聞。即仍本草綱目之舊。</p>
<p>一、此書仿諸家之式。起首先列用藥法程數則。一遵前人遺訓。略為增損。使學者可先明用藥之法。再讀後篇。自能運用。</p>
<p>一、此書始丁亥至戊戌。凡十易寒暑。已蒙諸大雅賜序付刊。尚有拙著成方便讀兩卷。分類註疏。當續出問世。</p>

<h1>用藥法程</h1>
<p>凡用藥須明五味。辛者能散能橫行。苦者能降能泄。甘者能補能緩中。酸者能收斂。咸者能潤下。能軟堅。能先知各藥之性。然後可以合於病情。</p>
<p>凡用藥須審質之輕重。性之有毒無毒。氣之寒熱溫涼平。然後可以知用之多寡。凡用藥當明其五色五臭。青入肝。黃入脾。赤入心。白入肺。黑入腎。臊入肝。焦入心。香入脾。腥入肺。腐入腎。然後可知其所入臟腑。</p>
<p>凡用藥須知質之輕者。能浮能升。可以上入心肺。質之重者。能沉能降。可以下行肝腎。中空者發表。內實者攻裡。為枝者達四肢。為皮者達皮膚。為心為乾者。內行臟腑。枯燥者入氣分。潤澤者入血分。酸鹹無升。辛甘無降。寒無浮。熱無沉。然後可定其升降浮沉。以類相從之用。</p>
<p>凡用藥當知有相反相畏相惡相使相須之別。惟相反不可合投。其餘即無從顧慮。故特將相反之藥。列於藥品之末。然後可知藥之宜忌。</p>
<p>凡用藥須知制炒之法。各有所宜。如酒炒則升提。姜炒則溫散。用鹽可入腎而軟堅。用醋則注肝而收斂。童便除劣性而降下。米泔去燥性而和中。乳能潤枯生血。蜜能甘緩益元。土炒藉土氣以補中州。麵煨抑酷性勿傷上膈。黑豆甘草湯浸。並能解毒和中。羊酥豬脂塗燒。使其滲骨易脆。去穰者免脹。去心者除煩。明乎制炒之法。然後可以運用治病。</p>
<p>凡用藥有宜陳久者。有宜新鮮者。陳者取其烈性漸減。火性漸脫。新者取其氣味之全。</p>
<p>功效之速。學者亦宜考求。然後立方可以靈應。</p>

<h1>草部</h1>
<p>（李時珍曰。草者。天地之所生也。剛柔相交。陰陽相蕩。而成根荄枝幹。葉萼屬陽。花實屬陰。由是得氣之粹者為良。得氣之戾者為毒。故同一物也。而各具五色五性五臭五味五氣之偏。即有相反相畏相惡相使相須之用。炎農嘗而辨之。軒岐述而著之。苟不察其精微。審其善惡。其何以權七方。衡十劑。而寄死生耶。）</p>

<h2>山草類</h2>

<h3>人參</h3>
<figure>
<img alt="人參">
</figure>
<p>性稟甘平。功資脾肺。氣純味厚。補真元而益血生津。助衛充營。安五臟而寧神益智。須則橫行支絡。補而下行。蘆堪嘔吐虛痰。苦能上達。黨參則出於西潞。甘平賴以培中。別直乃產自高麗。溫熱宜分種野。如補虛而清肺。西洋參甘苦性寒。</p>
<p>欲益氣以培脾。東洋參甘溫力厚。（人參產遼東吉林高麗等處。其草生山之北。背陽向陰。故收藏亦不喜見風日。地為陰。此物得土之旺。氣而生。故能大補中州元氣。以真元之氣。起於陰中。上及於肺。人參能從陰中補陽。使脾肺元氣皆旺。則臟腑氣血均受其蔭庇。自然陽生陰長。為補藥中純厚之品。同乾薑附子則補而兼溫。同石膏知母則補而兼清。古人發表攻裡諸方。每每加用。均有深意。至於得陳皮則益氣。得當歸則益血。何臟之虛。則用何臟之藥以引之。即可取效。由是觀之。可見人參之性。亦如土之性。土無定位。德備四隅之象矣。</p>
<p>○參鬚性味相同。善行脈絡。但補力不及耳。下行者亦如人參之從陰中補陽。自下而上也。又根鬚皆有向下之意。</p>
<p>○參蘆即參之生苗處。性升味苦性寒。主湧吐風痰在胸膈間而又兼虛者。</p>
<p>○黨參出山西潞安者為上。其餘所出者皆次之。甘平之性。用以培補脾肺元氣頗佳。若虛盛而危急者。亦非所宜。非人參之大力不能也。</p>
<p>○別直為高麗國所產。所出之參。其功用性味與人參相同。但補力稍不及。皆以野生者為佳。有一種種出者。土人以子播種。用硫黃等物沃土。則土肥易茂。服之每每腹脹。其性熱。</p>
<p>○西洋參出西洋。味苦而甘。性寒色白。其清養之力有餘。補助之功不足。大抵肺部虛熱者宜之。</p>
<p>○東洋參出東洋。色淡黃。味甘性溫。補脾胃中氣。其補力固不及人參別直。而較黨參為優。與西洋參有寒溫之各異耳。）</p>

<h3>丹參</h3>
<figure>
<img alt="丹參">
</figure>
<p>功同四物。能去瘀以生新。色合南離。善療風而散結。性平和而走血。須知兩達乎心肝。味甘苦以調經。不過專通於營分。（丹參雖有參名。但補血之力不足。活血之功有餘。為調理血分之首藥。其所以療風痹去結積者。亦血行風自滅。血行則積自行耳。）</p>

<h3>沙參</h3>
<figure>
<img alt="沙參">
</figure>
<p>補肺陰之不足。甘苦微寒。降金令之有餘。肅清上熱。疏痰利咳。南參力薄形松。體潤質堅。北者功優性滑。（沙參處處山原沙地皆有之。古無南北之分。然觀各家本草云。其色白。其根多汁等語。似指北參而言。若南參則質粗大而鬆。氣薄味淡。大抵甘寒入肺。清養之功。北遜於南。其潤降之性。南不及北耳。南北之分。亦各隨地土之所出。故大小不同。質堅質松有異也。）</p>

<h3>元參</h3>
<figure>
<img alt="元參">
</figure>
<p>入腎滋陰。皆取鹹寒歸下部。清咽利膈。都因潤降引浮陽。故又兼達肺經。除上焦之煩熱。且可潛消癍毒。退時氣之溫邪。性滑色玄。滯脾妨胃。（元參一名黑參。其色玄。其質潤。甘鹹而寒。功專入腎。其種種治法。皆不外乎壯水潛陽。肺不受火刑逼之意。至於溫疫癍疹。皆恐熱傷腎水。故可用之。古人有五參之名。以五色配五臟。此亦其一也。近道山谷處處有之。）</p>

<h3>苦參</h3>
<figure>
<img alt="苦參">
</figure>
<p>大苦大寒。純陰純降。達心脾而及腎。三經濕熱盡蠲除。治疥癩與諸瘡。下部火邪都渙散。夢遺精滑。皆緣濕火為殃。血痢腸紅。並是陽邪作咎。若治黃癉積聚。宣泄中州。至其逐水殺蟲。流通火腑。（苦參苦寒沉降之品。宜入腎臟血分。多服則腰重不能行立。以其降性太過。傷腎傷骨也。非下焦濕火熾盛者。不宜用之。其所以能治風殺蟲。亦熱生風濕生蟲耳。宜用於洗方丸方中為佳。若煎方不可多用。）</p>

<h3>蒼朮</h3>
<figure>
<img alt="蒼朮">
</figure>
<p>辛苦氣溫。燥濕強脾能發汗。芳香質壯。宣中解鬱並驅邪。破水結之澼囊。濁痰盡化。平胃中之敦阜。瘴癘全消。（蒼朮漢時名赤朮。處處山谷皆有之。而以江蘇茅山者為上。其形較白朮為小。切之內有硃砂點。其味辛苦。其氣香烈。燥散之性則有餘。補助之功則不足也。專入脾胃。陰虛血燥者忌之。）</p>

<h3>白朮</h3>
<figure>
<img alt="白朮">
</figure>
<p>補脾燥濕。法乾健之功能。冬採野生。隨坤土而運用。化水痰於胃脘。腰臍血結並能搜。進飲食於太倉。妊婦胎元均賴固。脾虛久瀉。溫燥多靈。痹著諸邪。苦甘有力。（白朮產浙江安徽等處。以於潛野生者為佳。土人皆用種法種之。冬採者為冬朮。以冬令則精華匯聚於根也。為補脾之正藥。脾喜溫燥。白朮之性氣溫而燥。能補脾而資其健運。脾健則運化有權。諸病皆愈耳。白朮雖燥。中有膏汁。雖日曬後即復還軟。剛中有柔。故脾陰不足者。亦可蜜炙用之。白朮之補脾燥濕。當與陳皮茯苓同用。否則恐有滯性。以其中含津液。是以能閉氣。故又宜土炒用之。）</p>

<h3>甘草</h3>
<figure>
<img alt="甘草">
</figure>
<p>味甘性平。和中解毒。生用退虛熱之功。補中寓瀉。炙服助脾元之力。守內有常。推其緩急多能。故諸病均堪相濟。且可協和群藥。而各方隨處咸宜。節醫腫毒成瘡。癰疽有驗。梢止陰莖作痛。淋濁無憂。（甘草色黃味甘屬土。為脾胃之正藥。能補諸虛。善解百毒。以諸藥遇甘則補。百毒遇土則化之意。凡甘藥皆能緩中。甘草味極甘。故熱藥得之緩其熱。寒藥得之緩其寒。同補藥則補。同瀉藥則瀉。緩一切火。止一切痛。惟中滿因於邪滯者不宜用之。外科方中最宜。但甘草味過於甘。若多服單服。則中氣喘滿。令人嘔吐。）</p>

<h3>黃耆</h3>
<figure>
<img alt="黃耆">
</figure>
<p>固衛氣而實皮毛。斂汗托瘡。宜生乃效。補中州以資脾肺。陽虛血脫。當炙為良。味甘性溫。色黃氣厚。（黃耆一作耆者老也。為補藥之長。故名。生者雖補中而善行衛分。能益氣固表。得防風則補而不滯。行而不泄。其功愈大。同當歸則和營達衛。炙用則大補中氣。有陽生陰長之理。黃耆之補。善達表益衛。溫分肉。肥腠理。使陽氣和利。充滿流行。自然生津生血。故為外科家聖藥。以營衛氣血太和。自無瘀滯耳。）</p>

<h3>遠志</h3>
<figure>
<img alt="遠志">
</figure>
<p>開心竅而泄熱搜邪。味屬苦辛。兼能散腫。通腎氣以安神益志。性含溫燥。並可療忘。（遠志苦辛而燥。專入心腎二經。所謂遠志者。以腎藏志。遠志能宣泄腎邪。邪著則志不定。邪去而志自遠大也。能通腎氣上達於心。使腎中之水。上交於離。成既濟之象。故能益智療忘。然畢竟宣泄之品。無補益之功。故一切癰疸外證。若因七情內鬱氣血不調者。外敷內服。並皆治之。）</p>

<h3>玉竹</h3>
<figure>
<img alt="玉竹">
</figure>
<p>補脾潤肺可填陰。有金玉威儀之象。散熱搜風不礙補。具甘平潤澤之功。（玉竹其根多節多須。如纓絡下垂之狀。而有威儀。故又一名葳蕤。色白微黃。味甘微苦。氣平質潤之品。培養脾肺之陰。是其所長。而搜風散熱諸治。似非質潤味甘之物可取效也。如風熱風溫之屬虛者。亦可用之。考玉竹之性味功用。與黃精相似。自能推想。以風溫風熱之證。最易傷陰。而養陰之藥。又易礙邪。惟玉竹甘平滋潤。雖補而不礙邪。故古人立方有取乎此也。）</p>

<h3>知母</h3>
<figure>
<img alt="知母">
</figure>
<p>退腎臟有餘之陽。能壯水清金。甘苦微辛質厚滑。清陽明獨勝之熱。治風消燥咳。沉陰且降氣純寒。（知母味苦。微帶辛甘。氣寒質潤。氣味俱厚。沉也陰也。故能入足少陰腎經。清有餘之相火。以其色白味甘。故又能清肺火。除胃熱。然陰寒潤滑之品。過用則有妨脾胃耳。按知母須肺胃腎三經火盛陰虧之證。或熱中消渴者。乃可用之。不可但知滋陰之功。而忘其損陽之害也。）</p>

<h3>貝母</h3>
<figure>
<img alt="貝母">
</figure>
<p>甘寒潤肺可消痰。當求川種。解鬱寬胸且散結。言採其虻。象貝之功。治咳還能解表。浙中所種。疏痰並可消癰。為肺燥之神丹。清心滌熱。乃脾濕之禁劑。微苦兼辛。（貝母川產野生者良。性味甘寒微苦。色白而潤。專入心肺。善解胸中鬱結之氣。蓋鬱則生熱。熱則生痰。故貝母治火痰燥痰有功。亦郁解則熱退。熱退則痰除。而肺咳自寧耳。今浙中所種者。形亦相象而較大。味兼苦劣。用亦稍異耳。又貝母以其有解鬱散結化痰除熱之功。故一切外證瘡瘍用之而效者。亦此意也。所謂毒者。即火結氣鬱所致。火解氣舒。又何毒之有哉。）</p>

<h3>秦艽</h3>
<figure>
<img alt="秦艽">
</figure>
<p>養血祛風。和營利水。疏肌解表。苦平略帶微辛。散熱潤腸。入肝又能達胃。濕勝風淫之證。賴以搜除。筋痹骨痿諸邪。仗其宣利。（秦艽出秦中。其根如羅紋相交。故名之。味苦而辛。性平質潤。雖有養血之能。畢竟散邪之品。然風邪在表宜用。解表者又非其所長。只可於營血中搜除風寒濕三氣痹閉之邪耳。又按秦艽苦勝於辛。全無甘味。苦能泄。辛能散。故本經稱其能散風逐濕。然散風濕之藥多燥。此獨偏潤。故又為風藥中潤劑。觀其質潤。羅紋相交。即知其祛風逐濕中。而能和營血行經絡矣。）</p>

<h3>白蘚皮</h3>
<figure>
<img alt="白蘚皮">
</figure>
<p>氣寒善行。味苦能降。清脾胃之濕熱。導水宣邪。治癬癩與瘋瘡。行皮達肺。（白蘚皮苦寒。直清肺脾濕熱下行。故本經能治女子淋瀝。陰中腫痛等證。亦謂其下行而祛濕熱也。肺主皮毛。脾主肌肉。肺脾之濕熱清。則皮肉之瘡瘍可愈耳。功用不過如此。又此藥味兼微咸。能行血分。然沉陰之性。若下部虛寒者。不可用之。且其根有膻濁之氣。又易敗胃。）</p>

<h3>升麻</h3>
<figure>
<img alt="升麻">
</figure>
<p>升至陰於下極。達胃疏風。鼓脾土以上行。入腸治利。辟邪解毒。辛甘發散為陽。治痘消癍。宣透松肌有效。帶下脫肛等證。陷者舉之。陰虛火動諸方。又當禁使。（升麻辛苦甘溫。氣味俱薄。升也陽也。觀本經辟邪殺鬼之治。其功可想。入脾胃二經。能升脾胃中清氣。使之不陷。解散脾胃表邪。解表生用。升氣蜜炙用。出川中。根色紫黑。削去外皮。則現青綠色。故又謂之綠升麻。此藥入陽明升散之力太過。當審慎用之。）</p>

<h3>柴胡</h3>
<figure>
<img alt="柴胡">
</figure>
<p>稟春氣以生升。轉旋樞機。主少陽表邪之寒熱。味苦寒而輕舉。通調上下。治厥陰熱蓄之譫狂。木鬱達之。疏土暢肝散結氣。銀柴性似。涼瘀滌熱理疳癆。（柴胡得春初生髮之氣以生。氣味雖微苦微寒。而力甚薄。故無降泄之性。而有生升之能。專入肝膽二經。能條達木鬱。疏暢氣血。解散表邪。如同補藥。用以升舉清氣。從左而上。宜蜜炙用之。銀柴別有一種。從來注本草者。皆言其能治小兒疳熱。大人癆熱。大抵有入肝膽涼血之切。性味與柴胡相似。故上古所不分耳。柴胡之用在升散。若陰虛火炎。氣升咳嗽嘔吐等證。不可用之。惟宜於春月時邪風溫等證。內應肝膽者。最為相宜。銀柴胡出銀州。其質堅。其色白。無解表之性。雖同是用根。性味相仿。上古雖不分。究竟各有所宜耳。）</p>

<h3>前胡</h3>
<figure>
<img alt="前胡">
</figure>
<p>辛能散風邪。苦以泄肺氣。寒堪清上。降可除痰。（前胡辛苦而寒。專入肺經。能解散外感風熱。外邪解則肺氣自降。痰火自除。故又能降氣下痰耳。前胡之解表邪。惟肺胃結氣有熱者可用之。）</p>

<h3>獨活</h3>
<figure>
<img alt="獨活">
</figure>
<p>芳香氣散。辛苦性溫。搜少陰之伏風。表邪可解。宣腎經之寒濕。痹病能除。可愈奔豚。並療諸疝。因其有風不動。無風反搖。故能散以搜風。風以勝濕。（獨活一莖直上。不為風搖。故名。羌活獨活。本一類二種。皆辛苦性溫。解散肌表風寒濕邪之藥。但獨活入足少陰。羌活入足太陽。然太陽與少陰為表裡。經絡相通。不過獨活之性細而優。羌活之性粗而劣。故一治伏邪。一治遊邪為異耳。獨活氣香質細。屬陰中之陽。沉而能升。緩而善搜。故入足少陰血分。從內至外。可治奔豚疝瘕。寒濕痹痛等證。又云獨活出川中。由此觀之。則羌活獨活之用可知矣。）</p>

<h3>細辛</h3>
<figure>
<img alt="細辛">
</figure>
<p>性味辛溫。能發少陰之汗。輕揚香烈。可宣肺部之邪。散心下之水停。蠲除嘔咳。解腎經之熱鬱。從治咽瘡。性屬純陽。用宜審慎。（細辛其根極細。其味極辛。故名。香竄溫熱之性。氣味俱厚。專入肺腎二經。解散風寒。宣利上焦諸竅浮熱。蠲除心下停飲。傷寒入足少陰經。並用此發之。細辛之與麻黃。猶獨活之與羌活耳。細辛產華山之北。其色黃。其中空。與麻黃相似。但麻黃用苗。細辛用根。細辛香而麻黃不香。故麻黃入足太陽氣分。細辛入足少陰血分。表裡各異也。）</p>

<h3>防風</h3>
<figure>
<img alt="防風">
</figure>
<p>走太陽兼達肺通肝。表解風疏。甘辛溫之力。得黃耆則寓宣於補。痹舒邪化。隨所引俱宜。且為脾胃引經。風能勝濕。都道卑微卒伍。潤可柔枯。（防風能通行一身。防禦外風。故名。為散藥中潤劑。太陽主一身之表。風氣通於肝。肺主皮毛。故皆入之。補脾胃藥用之為引者。以疏風則木不郁。濕去則土自健耳。非防風能補也。防風本足太陽發汗疏風之藥。而云能去經絡留濕者。濕從汗出也。黃耆固表。防風瀉表。黃耆畏防風。然得防風其功愈大。）</p>

<h3>羌活</h3>
<figure>
<img alt="羌活">
</figure>
<p>辛溫雄壯。散肌表八風之邪。獨走太陽。利周身百節之痛。濕留於表。由汗能宣。病在於顛。惟風可到。（羌活一云產自西羌胡地。其形較獨活為雄。其氣較獨活為猛。其主治雖與防風相似。而尤過之。以防風之散風。甘而潤。羌活之散風。辛而燥為異耳。余詳獨活條。羌活入足太陽氣分。雄而善散。以治遊風。與獨活之氣香。入足少陰血分。以治伏風者。辛苦溫燥則同。而主治不同也。）</p>

<h3>桔梗</h3>
<figure>
<img alt="桔梗">
</figure>
<p>為諸藥之舟楫。開提肺氣散風寒。掃上部之邪氛。清利咽喉平咳逆。升而復降。宣胸快膈有功。苦且辛平。泄郁消痰多效。（桔梗味苦而辛。性平入肺。一切肺部風寒風熱皆可用。此解散之從辛也。其降氣下痰從苦也。肺喜清肅。以下行為順。外邪固束。則肺氣不降。肺不降則生痰。桔梗能治之。惟陰虛氣升者不宜耳。桔梗色白。為肺之專藥。凡一切肺痿肺癰寒熱咳嗽皆可治耳。）</p>

<h3>黃連</h3>
<figure>
<img alt="黃連">
</figure>
<p>味苦性寒。體陰質燥。能化心脾濕熱。蘊留之痞滿全消。可除痢疫蟲瘡。黏膩之熱邪悉去。伏梁成積。可破可宣。目赤攀睛。能清能降。瘀鬱火邪均解退。口疳鼻䘌盡蠲除。（黃連味極苦。性極寒。質極燥。專入心脾。清有餘之實火。而化濕邪。治上焦則酒炒。治中焦用薑汁炒。治下焦以鹽水炒。欲其治何臟腑之濕火。則加各經引導之藥。然苦降之性為多。即其治痢治目治痞等法。非有濕熱實火者不可輕用。出川中雅州者更勝。氣味俱厚。惟心脾有濕熱瘀積者為宜。不特陽虛當禁。即陰虛有火邪者。亦不宜用。恐苦燥之氣。反助火化耳。）</p>

<h3>胡黃連</h3>
<figure>
<img alt="胡黃連">
</figure>
<p>沉寒入肝膽有功。治濕熱稽留。小兒疳積。苦燥與川連相似。理傷寒勞復。男子黃癉。（胡黃連從胡地來。其性與川連相似。而苦寒無川連之盛。古人雖稱其入肝膽二經。然苦寒之品。斷無不及於心脾者。觀其治小兒疳熱。大人勞復黃疸等病。非脾之濕熱而何。故用藥不可執泥也。大抵川連之與胡黃連。亦如柴胡之與銀柴胡。故銀柴胡胡黃連二物。每每並用。胡黃連其根外黃中黑。與黃連之純黃者不同。故此入肝膽之功。較川連為尤勝也。）</p>

<h3>黃芩</h3>
<figure>
<img alt="黃芩">
</figure>
<p>苦入心脾。堅腸胃而性燥。寒行肝肺。除濕熱之功多。質虛而空者為枯芩。上達可治心肺肌表之鬱火。色青而堅者為條芩。下行能除肝膽腸內之陽邪。同白朮可以安胎。火退則胎安之義。合白芍又堪止痢。熱除有痢愈之機。（黃芩處處山原皆有之。其根中心皆腐去。故外雖黃而內帶黑色。均為之枯芩片芩。惟條芩子芩。系新發之根。中實有心。而兼青色。雖有治上治下之不同。畢竟苦寒性燥之品。傷脾敗胃。非上中有濕熱邪火者。不可亂用。況又有久而增氣之說乎。黃芩之苦寒性燥。固與黃連相似。而黃連味厚。黃芩味薄。黃芩能入肝肺。行肌表。黃連則不能。固所稟形色氣質不同。故主治亦異耳。）</p>

<h3>天麻</h3>
<figure>
<img alt="天麻">
</figure>
<p>定虛風。理眩暈。因有有風不動之稱。達肝臟。味辛溫。當知質燥偏陽之品。（天麻其根如大芋。旁有小子十餘枚。離大魁數尺。周環衛之。其莖獨枝。如箭葉生其端。有風不動。無風反搖。故一名定風草。獨入肝經。能治一切虛風眩暈之證。凡水虧肝虛陽虛土敗者。易生內風。天麻能定內風。而不能散外風。又非羌防等可同日語也。此物同補藥則治虛風。同散藥則治外風。總之一切諸風。皆可賴以鎮定。既不能發散。又不能滋補。但天麻之性辛甘而溫。升也陽也。獨入肝經氣分。為定風之主藥。不特陰虛之風可用。即陽虛之風亦可用。內風可定。外風亦可定。各隨佐使而立功耳。）</p>

<h3>龍膽草</h3>
<figure>
<img alt="龍膽草">
</figure>
<p>苦澀氣寒。沉陰味劣。治淋治目。皆清肝膽之陽邪。消蠱消癉。總退下焦之濕火。（龍膽草其味苦如膽汁。其性大寒。專清肝膽一切有餘之邪火。蠱因濕熱而生。癉屬濕熱所致。如因虛而致病者。不可用之。此藥直泄下焦。如下虛之人誤服。每至遺滑不禁。胃虛者服之。即生嘔惡。傷陽敗胃。慎之。）</p>

<h3>茅根</h3>
<figure>
<img alt="茅根">
</figure>
<p>甘能益血。寒可涼瘀。導上熱以下行。消癉利水。去內心而外達。散熱除風。止渴通淋。清胃兼能清肺。潰癰治衄。茅針卻異茅花。（茅根此物自本經以下諸家本草皆未云可以發表。今人皆用之發表。未知何意。考其性味氣寒。味甘質潤。其所謂發表者安在哉。不過清養肺胃。涼瘀滌熱。是其所長。除風之說。亦血行風自滅之意耳。觀古人用茅針煎服。可以潰膿。茅花煎服。可以止血。皆所以入血分也。每見昔人治吐衄不止。用茅根搗汁服之即止。則茅根之用概可知矣。）</p>

<h3>延胡索</h3>
<figure>
<img alt="延胡索">
</figure>
<p>行血中之氣滯。質屬溫香。使氣順而血調。味兼辛苦。入胃搜除瘀冷痛。達肝通治婦人經。（延胡索辛苦而溫。色黃氣香。其形堅實。肝家血分藥也。能行血活血。而又能理血中氣滯。故一切氣血阻滯作痛者。皆可用之。若病不因氣血阻滯而涉虛者。又不宜用。延胡索木屬肝經血分之藥。而能治胃痛者。以肝邪瘀滯乘胃而作痛也。）</p>

<h3>地榆</h3>
<figure>
<img alt="地榆">
</figure>
<p>酸苦入營陰。肝與大腸皆可及。沉寒涼血分。火同濕熱總堪除。且能散腫疏風。瘡疹常用。並可療崩治痢。痔漏多宜。（地榆入肝涼血。是其本功。痔痢等證。雖由於大腸。然皆出於血分中之濕熱。地榆能除血中之熱。熱除則濕自去耳。地榆非疏風藥。不過血熱則生風。血涼則風自息矣。至其治崩者。亦由血為熱妄逼而行所致。當炙黑用之。如因脾虛肝鬱。不因血熱者。不可用也。）</p>

<h3>巴戟天</h3>
<figure>
<img alt="巴戟天">
</figure>
<p>能入腎肝血分。起痿強陽。質屬甘苦辛溫。益陰固下。疝瘕腳氣。藉以溫通。痹濕風寒。資其宣導。（巴戟天其根狀如牡丹。而結細過之。外赤內黑。去心用。專治肝腎陽虛。補而不滯。宣而不燥。故凡一切風寒濕痹於下焦腰膝諸證。皆可治之。其氣味甘溫之中。略兼辛苦。色紫質重。其功可想。觀巴戟之用。為下焦肝腎血分之藥。能補陰中之陽。若陰中真水不足而相火旺者不宜用。以其味兼辛苦氣溫。非純靜之藥耳。）</p>

<h3>肉蓯蓉</h3>
<figure>
<img alt="肉蓯蓉">
</figure>
<p>壯陽滋腎。甘鹹少帶微酸。補命通幽。溫潤且猶兼黑。鎖陽之性。主治相同。（肉蓯蓉草類也。其狀柔軟如肉。形有鱗甲如松枝。一云馬精遺地而生者。亦未知然否。甘鹹溫潤色黑。專入肝腎。能益精壯陽。但無峻補之力。卻有滑腸之能。故雖肝腎不足。而脾虛便溏者。不宜服之。鎖陽亦一類二種耳。鎖陽出處形質性味功用。皆與蓯蓉同。為腎經血分藥。能補下焦陽中之陰。與巴戟之補陰中之陽者略異。故凡老人陽中之陰不足。而致大便結燥者宜之。）</p>

<h3>淫羊藿</h3>
<figure>
<img alt="淫羊藿">
</figure>
<p>有助陽補火之功。辛味獨專。甘香並至。治腎弱肝虛等疾。寒淫所勝。痹痿咸宜。（淫羊藿一名仙靈脾。其葉似豆藿。羊食之則喜淫。辛溫之性。峻補命門之火。故凡下焦一切風寒濕痹之病。皆可治之。惟陰虛陽勝者。不宜服耳。此藥僅助火益陽。雖能補命門。然香燥之品。極易傷陰。較巴戟蓯蓉過之。）</p>

<h3>貫眾</h3>
<figure>
<img alt="貫眾">
</figure>
<p>闢時行之疫癘。入血除邪。化痘毒與癍疹。散瘀解熱。殺蟲化哽方多效。入胃行肝苦且寒。（貫眾多生山陰近水處。味苦性寒。有小毒。故本經主治腹中邪熱諸毒。殺三蟲等語。皆取寒能勝熱。以毒攻毒之意。其所以治諸血病者。亦血因熱結。用此寒散之力也。察其形性肝胃血分之藥。一根能貫眾枝。故名。皮黑肉赤。血分藥也。其根叢生。雖苦寒而能解散。有小毒而能解毒。凡遇時疫盛行。痘疹竊發。皆以此浸水缸中闢之。）</p>

<h3>金毛脊</h3>
<figure>
<img alt="金毛脊">
</figure>
<p>苦甘有強筋骨之功。腎肝並補。溫燥能利機關之疾。痹痿皆瘳。（金毛脊其根形如狗脊。或如狗形。有金黃毛。苦溫性燥。長於治風寒濕痹。利機關。強腰膝。是其本功。至益肝腎。壯筋骨。補性似不足耳。此藥苦中兼甘。性溫而燥。其色紫。如肝腎虛而有風寒濕邪痹著關節者。最為相宜。若純虛無邪。亦非其治也。）</p>

<h3>白芨</h3>
<figure>
<img alt="白芨">
</figure>
<p>清金治嗽。苦辛甘澀性平寒。止血生肌。散結斂瘡質膩滑。（白芨色白。味甘苦兼辛。氣平微寒。性滑。有汁極黏膩。得秋金之令。而主收斂。專入肺家血分。故止血止嗽生肌治瘡。皆取用之。然必虛而有熱者乃為相宜耳。白芨雖稟秋金收斂之性。而仍具苦泄辛散之意。與白蘞相近。故每相需而用。但非治病緊要之品耳。）</p>

<h3>黃精</h3>
<figure>
<img alt="黃精">
</figure>
<p>甘可益脾。使五臟豐盈。精完神固。潤能養血。從後天平補。辟穀充飢。（黃精得土之精氣而生。甘平之性。故為補益脾胃之勝品。土者萬物之母。母得其養。則水火既濟。金木調平。諸邪自去。百病不生矣。然滋膩之品。久服令人不飢。若脾虛有濕者。不宜服之。恐其膩膈也。此藥味甘如飴。性平質潤。為補養脾陰之正品。可供無病人服食。古今方中不見用之。）</p>

<h3>白薇</h3>
<figure>
<img alt="白薇">
</figure>
<p>鹹苦入陽明。寒能勝熱。芳香走血分。涼可除蒸。利水益陰。兼治癃淋成閉。產虛煩嘔。並醫血熱生風。（白薇其根色白。微細如絲。故名。味苦而咸。性寒而香。故能清解血分熱邪。凡一切時邪溫病。熱傳營分。下午為盛者。最宜。其所以益陰利水者。亦熱退則陰生。陰生則水利也。能入陽明者。因金匱竹皮大丸一方。用白薇以治產虛煩嘔之胃病耳。白薇花於夏。實於秋。採根於秋末。有由陽轉陰之意。故治表熱。解風溫。皆由里陰不守而來。皆可用此治愈者。亦陽歸陰之義。其所以能利水者。因其根似牛膝。有引熱下行之意。亦由陽歸陰也。</p>

<h3>參三七</h3>
<p>（一名山漆）</p>
<figure>
<img alt="參三七">
</figure>
<p>散血可和傷。入胃行肝。廣產野生種不一。行瘀並止痛。外敷內服。苦多甘少性偏溫。（參三七甘苦而溫。以其能合金瘡。如漆之黏物。出廣地山中。故名。功專散血。一切內服外敷之用。皆取其散血之功。陽明厥陰為多血之經。故入之。近時人家所種者。其類甚多。而皆不及廣產者良。廣產者苦多甘少。其形如參。故謂之參三七。無瘀者勿用。）</p>

<h3>白頭翁</h3>
<figure>
<img alt="白頭翁">
</figure>
<p>苦泄辛疏。能治傳裡傷寒。蘊成協熱痢。涼瘀解表。毋使外來溫疫擾亂少陽明。（白頭翁形似柴胡。春生苗葉。莖端有細白毛。一云近根處有白毛叢生。性味相近柴胡。形質相近白薇。故本經有主治溫瘧寒熱等證。然苦寒之中。有寓升發之意。故仲景治協熱下痢之證。有白頭翁湯。以其解表清裡。兩擅其長也。白頭翁散瘀逐熱。是其專功。至解表不過餘力而已。一云即柴胡中揀出根有白毛者。或一類二種。故性味亦相似也。）</p>

<h3>薺苨</h3>
<figure>
<img alt="薺苨">
</figure>
<p>甘能解毒。清金除消渴之邪。寒可退陽。入腎治強中之火。（薺苨即甜桔梗。甘寒入肺。專解金石草木藥毒蠱毒。以及瘡毒疔腫沙蝨禽獸諸毒。皆可服之。大清肺火。是其所長。至所治強中消渴等疾。亦清其源而流自潔耳。又其所以成消渴強中者。或恣意服餌金石燥毒等物。助陽肆欲。以致內火自焚。為害不淺。薺苨能解之。）</p>

<h3>仙茅</h3>
<figure>
<img alt="仙茅">
</figure>
<p>補腎壯陽除痼冷。味辛蠲痹理風邪。（仙茅其葉如茅。羊食之遍體化筋。人食此羊。大能溫補精血。可見仙茅之功。補命門。助陽道。其力頗雄。然畢竟辛溫有毒之品。用以搜除下焦風痹痼冷則可。欲服之補陽添精則不可也。仙茅之熱毒。能助下焦淫火。傷陰涸液。致發癰疽消渴強中之患。與桂附之補火益下。其性雖同。但一得其正。一得其偏耳。）</p>

<h3>白前</h3>
<figure>
<img alt="白前">
</figure>
<p>藉苦辛以降氣行痰。仗微寒而清金除熱。（白前其根形似北沙參。色白性寒。故功用亦相似。專入肺家。長於降氣下痰。非肺有壅實者不相宜。不如北沙參之養陰清熱。略有補性耳。）</p>

<h3>紫參</h3>
<p>色紫入肝。氣寒散血。行瘀破積。皆因微苦微辛。治痢通經。卻又能通能降。（紫參苦寒之性。略兼辛味。全無補益。只能入肝行血清血。凡血崩血痢。以及癰腫諸瘡。胸腹積聚而有瘀熱者。皆可用之。一名牡蒙。五月結實。六月採根。色紫形似丹參。用亦相近。但丹參性平有甘味。此則寒兼苦辛無甘味耳。）</p>

<h3>山慈菇</h3>
<figure>
<img alt="山慈菇">
</figure>
<p>殺蠱消癰。有毒而能解毒。行瘀散結。辛寒又帶甘寒。（山慈菇辛寒有毒。散瀉之品。只可用以外敷癰腫。然疔瘡之證。各有成病之由。當詳審用藥。雖卒中閉證。亦不可浪投毒藥。以攻擊取禍也。即金燈花根如慈菇。惟外科發散藥用之為多。服食方內。只玉樞丹用之。其餘不多見也。）</p>

<h2>隰草類</h2>

<h3>地黃</h3>
<figure>
<img alt="地黃">
</figure>
<p>生者甘寒入腎。涼血補陰。熟則溫厚培元。填精益髓。細生地。柔細和營。在外證可以養陰不膩。鮮生地。新鮮散血。雖壯水實則清胃偏長。（地黃出懷慶者佳。今河南河內等處皆種之。其根長四五寸。外赤內黃。得土之正氣。狀如胡蘿蔔之形。曬之則干而黑。今之所用生地黃。已得丙火煅煉。其寒性已退。養陰益血之功。不寒不膩。洵為上品。細者即旁生小枝。功雖相似。而無膩滯之性。有流動之機。故一切痘疹瘡瘍皆用之。生地未經蒸曬。即今之所為鮮生地。色黃味甘性寒。專入脾胃。散血清熱。凡熱邪內干營分。胃陰告竭者。頗屬相宜。熟地即生地蒸曬極熟。色黑如漆。味如甘飴。寒轉為溫。自能獨入腎家。填精補血。為培助下元之首藥。如脾虛有濕者。不宜用耳。）</p>

<h3>麥門冬</h3>
<figure>
<img alt="麥門冬">
</figure>
<p>養胃陰。具柔滑功能。療金燥受戕之咳。潤肺臟。兼苦甘性味。治上焦不戢之焚。若或拌入辰砂。驚煩可定。假使炒同元米。寒苦堪除。乳壅能通。便溏須禁。（麥門冬生山谷中。肥地叢生。其葉如韭。根如連珠形。一棵十餘枚。去心用。甘苦而寒。專入肺胃。以其柔潤多汁。故最能養陰退熱。然寒潤之品。只可用治肺胃陰液不足而有熱邪者。若陽虛多寒。便溏多濕之人。尤宜禁之。亦有連心用者。以其心如人之脈絡。一棵十餘枚。個個貫通。取其能貫通經絡之意。故生脈散用之者。以能復脈中之津液也。）</p>

<h3>牛膝</h3>
<figure>
<img alt="牛膝">
</figure>
<p>滋肝助腎。生者破血行瘀。鹽炒酒蒸。熟則強筋健骨。具苦酸平和之性。治拘攣痹著之邪。懷產者。象若枝條。下行力足。川產者。形同續斷。補益功多。（牛膝今江淮閩粵等處皆有之。惟以懷慶及川中所產者為良。亦地土之各有異宜。故功用亦有差等耳。性善下行。制炒則補益肝腎。生用則專去惡血。二者而已。懷牛膝根細而長。川牛膝根粗而大。欲行瘀達下則懷勝。補益肝腎則川勝耳。）</p>

<h3>紫菀</h3>
<figure>
<img alt="紫菀">
</figure>
<p>性溫利肺。治風寒咳逆之邪。色赤和營。療痿躄吐紅之疾。皆為苦能降氣。金肅則小便增長。因其辛可行瘀。結散則上焦無阻。（紫菀其根色紫而柔宛。故名。為肺家血分藥。但辛苦之性。疏邪降逆。是其所長。故一切風寒風熱咳嗽痰血等證。凡屬肺金之邪鬱而不宜者。皆可用之。惟潤養之力為不足耳。因紫菀根雖柔軟。然亦非潤藥。皆以辛散苦泄為功。若內無鬱結。外無表邪。肺陰不足。虛火上刑者。仍不可用。）</p>

<h3>川斷</h3>
<figure>
<img alt="川斷">
</figure>
<p>益肝腎。筋骨能強。利機關。勞傷可續。治帶脈之鬱結。暖子宮之虛寒。抑且補而能宣。味苦性溫瘀可散。況復行而不泄。婦人外證病咸宜。（川斷以其能接續斷絕筋骨諸傷損。故名。而筋骨主於肝腎。故專入肝腎。考其苦溫之性。以及本經主治。畢竟行散之力有餘。補益之功不足。婦人血脈因寒瘀阻。外科已潰未潰等證。皆可治之。川斷之性味主治。與牛膝相近。但下行之力。牛膝為長。宣補之功。川斷較勝耳。肝腎不足。風寒痹於下焦血分者。更宜。）</p>

<h3>車前子</h3>
<figure>
<img alt="車前子">
</figure>
<p>清邪火以下行。直達州都祛濕熱。味甘寒而降利。專清水道愈癃淋。治肝家有夢之遺精。精因火擾。導腎部諸般之留垢。垢盡虛回。滑可催生。黑能走血。（車前子甘寒滑利。性專降泄。故有去濕熱利小便之功。且色黑能走血分。治一切血淋胎產等證。皆取其滑利之功。詩云。采采芣苢。芣苢即車前也。言婦人樂有子而取其易產之意。此物味甘。略兼鹹味。與苦劣之味不同。且性又黏滑。故古人有降而不泄。行而有補之說。然亦須腎虛有邪熱者為宜。若陽虛有寒。元氣下陷之人。還當禁服。）</p>

<h3>萹蓄</h3>
<figure>
<img alt="萹蓄">
</figure>
<p>入膀胱專主分消。降利功偏化濕濁。行脾肺並療疥疾。苦平性燥殺蟲瘡。（萹蓄多生道旁。一名扁竹。如竹形布地。節間有粉。如花。苦平之性。善祛濕熱。殺諸蟲。觀本經主治浸淫疥瘙疽痔殺三蟲等語。即可想矣。）</p>

<h3>燈心</h3>
<figure>
<img alt="燈心">
</figure>
<p>清心肺煩蒸。味淡性寒輕且白。導小腸濕熱。通淋利水降而行。（燈心色白體輕。功專入肺。以其寒能清熱。淡可分消。故能祛除濕熱。通利水道。以其為心也。又能入心。凡屬上焦濕熱。致成癃淋等證。皆可用之。制輕元法。用燈心堅塞竹管內。燒紅透悶。隱即成黑灰。欲研粉須用米粉漿曬研末。入水取浮起者。）</p>

<h3>甘菊</h3>
<figure>
<img alt="甘菊">
</figure>
<p>味甘性寒。平肝疏肺。清上焦之邪熱。治目祛風。稟金水之精英。益陰滋腎。（甘菊其花稟秋金之氣而生。故能入肺。凡花皆散。故主疏風。風氣通於肝。故又能入肝。治一切目疾。但甘菊之用。可一言以蔽之曰。疏風而已。然雖系疏風之品。而性味甘寒。與羌麻等辛燥者不同。故補肝腎藥中可相需而用也。考菊花之性。入肝之用為長。以其甘寒能清金壯水。水壯則木有所生。金清則木有所制。故肝風可熄。肝火能平。一切肝病皆治。各隨佐使之藥以為用耳。）</p>

<h3>益母草</h3>
<figure>
<img alt="益母草">
</figure>
<p>入肝行血。辛苦微寒。消水逐風。敷圍散腫。花能外散兼行表。子則行中帶補陰。（益母草消瘀化水。是其所長。以產母必有瘀濁停留。此物能消之化之。邪去則母受益。故有益母之名。凡花皆散。故可兼表。凡子皆潤。而帶甘味。故可兼補。然一本之物。總不越消水行血。進退而已。無瘀滯者不宜用之。其子名茺蔚子。本經首言能明目。雖云行中有補。只可用於肝血瘀滯。及血灌瞳神之證。若無瘀滯而欲其補益。則未必耳。祛風者。亦血行風自滅之意也。）</p>

<h3>麻黃</h3>
<figure>
<img alt="麻黃">
</figure>
<p>走太陽寒水之經。功先入肺。為發汗輕疏之劑。性則偏溫。寒飲稽留。藉味辛而宣散。痰哮久痼。仗苦力以搜除。（麻黃其苗中空。味辛苦。氣味俱薄。升也陽也。專入肺家衛分。疏散風寒。達表由汗而出。麻黃本肺家衛分藥。仲景治寒傷營用麻黃湯者。以內有桂枝領之入營也。宣肺發表。麻黃之能足以盡之。故一切咳嗽宿哮等疾。凡屬肺中有風寒痰飲者。皆可用之。不必拘拘乎麻黃之但能出汗也。足太陽主一身之表。故入之。大抵寒邪輕而從口鼻入者。則傷肺。寒邪重而從表入者。則傷經。故雖所傷不同。而其治則一也。麻黃之功。首先入肺。若肺中有寒痰宿飲之疾。麻黃到肺。只能搜剔肺中痰飲。不能再發汗出表。猶用兵者。有一戰之功。無再戰之力也。）</p>

<h3>款冬花</h3>
<figure>
<img alt="款冬花">
</figure>
<p>治嗽化痰。性暖平和不燥。潤金疏肺。味辛略帶微甘。（款冬花。此花發於冬令。雖雪積冰堅。其花獨豔。陰中含陽。故性溫。凡花皆輕揚上達。故入肺。有邪可散。無邪可潤。故一切咳嗽。皆可取用。然性雖溫潤。畢竟疏散之品。無補養之功耳。用者審之。款冬花溫而不燥。潤而不寒。散而不泄。故無論虛實寒熱。一切咳嗽之屬肺病者。皆可用也。）</p>

<h3>冬葵子</h3>
<figure>
<img alt="冬葵子">
</figure>
<p>滑利通淋。下乳催生悉主治。甘寒入胃。二腸水腑並分消。（冬葵子甘寒滑利之品。入胃與大腸。故消乳癰。潤大便。滑胎利竅。是其所長。至通淋滲濕等治。不過旁及小腸膀胱之地耳。凡乳癰初起。用冬葵子二兩。酒水各半煎飲。即消。此物只可用於氣血燥澀之人。而不可施於虛羸中寒之體。以其甘寒滑利也。中虛氣陷者。尤宜禁之。）</p>

<h3>萱花</h3>
<p>服之利水。甘涼賴以和脾。樹以忘憂。香滑可供快膈。（萱花一名宜男草。又名忘憂草。即今之黃花菜也。產下隰之地。甘涼之性。善除濕熱利水。以其花有解散之功。雖利水去濕。而又潤而不燥。故可和中快膈耳。只可供菜食之用。雖有治病之力。非所擅長也。）</p>

<h3>白蒺藜</h3>
<figure>
<img alt="白蒺藜">
</figure>
<p>行瘀破滯。搜肝風有走散之功。味苦兼辛。瀉肺部而溫宣可貴。催生下乳。退翳除星。（白蒺藜狀如菱形。三角有刺。色白甚小。布地而生。善行善破。專入肺肝。宣肺之滯。疏肝之瘀。故能治風痹目疾。乳癰積聚等證。溫苦辛散之品。以祛逐為用。無補益之功也。）</p>

<h3>沙苑</h3>
<p>補腎固精。味苦多甘能攝下。益陰明目。性溫滋水卻生肝。（沙苑出陝西潼關等處。一名潼蒺藜。其形如豆。其色青綠。嚼之微有腥氣。味甘帶苦。其性微溫。故為補腎之藥。能治腰痛泄精等證。雖然力薄之品。而命門火熾。濕熱淋濁等證。仍不可用。以其性溫固攝也。）</p>

<h3>旋覆花</h3>
<figure>
<img alt="旋覆花">
</figure>
<p>咸以軟堅。蠲飲化痰都有效。苦能下達。通腸導水悉皆能。具宣行肺胃之功。噫氣不除。賴其辛散。有斡旋胸中之力。肝邪痹著。藉以溫通。（旋覆花一名金沸草。六月開細黃花。其香如菊。中有白毛。宜絹包用。鹹溫辛苦之性。能利大腸。軟堅痰。散結氣。搜肝瀉肺。由胃及腸。旋覆之功。皆在咸潤而已。旋覆花本為肺藥。以其散結氣。軟堅痰。金令下行。而能及肝與腸也。）</p>

<h3>紅花</h3>
<figure>
<img alt="紅花">
</figure>
<p>色赤而溫。心肝皆及。味甘且苦。辛散俱優。調血脈可去瘀生新。治折傷理胎前產後。（紅花行散之品。專入心肝血分。破瘀活血。是其所長。至於消腫治風。理傷療產等法。亦在人之善用耳。紅花開於盛夏。其味雖有辛甘。然畢竟苦溫色赤。為心之正藥。少用和血。多用行血。治風者亦凡花皆散。又血行風自滅也。）</p>

<h3>小薊</h3>
<figure>
<img alt="小薊">
</figure>
<figure>
<img alt="大薊">
</figure>
<p>破血行瘀。入心肝苦涼無毒。通淋治濁。走太陽分利有功。大薊則散力較優。消癰則功能為勝。（小薊功專破血治淋。心與小腸膀胱之藥。大薊則略帶辛味。雖能消癰。亦不過因其散血之用。苦涼之性皆同。所用之根亦一。惟莖葉之大小有異耳。大小薊兩種花葉皆相似。葉皆有刺。大薊生山谷高阜處。小薊生平澤低窪處。以此推想。則小薊之破血利水。又勝於大薊矣。）</p>

<h3>夏枯草</h3>
<figure>
<img alt="夏枯草">
</figure>
<p>雖稟純陽之氣。味仍辛苦而寒。獨走厥陰。能解肝家鬱火。功專散結。堪醫瘰癧瘡瘍。（此草冬至後生葉。至春而花。一到夏至即枯。故名。然各家皆言其苦寒。散結氣。治瘰癧。惟朱丹溪言其能有補養厥陰血脈之功。想此草得春氣最多。或可為助耳。觀此草得陽氣而生。得陰氣而死。似乎稟純陽之性。故雖屬陰寒。而陰中仍含陽氣。且皆取用其花。有春木發陳條達之意。雖苦寒而不遏耳。）</p>

<h3>葫蘆巴</h3>
<figure>
<img alt="葫蘆巴">
</figure>
<p>補腎壯元陽。辛苦溫通有效。入肝宣冷滯。疝瘕寒濕宜求。（葫蘆巴壯元陽。除下焦冷氣。味苦而辛。性熱而降。出胡地。蘿菔子也。入肝腎二經。故能治疝瘕腳氣等證。下焦陽虛有寒者可用之。陰虧者非所宜也。）</p>

<h3>牛蒡子</h3>
<figure>
<img alt="牛蒡子">
</figure>
<p>苦辛入肺。散結清咽。潤降松肌。消痰化熱。解風溫於上部。利膈疏邪。宣疹痘於周身。通肝達外。（牛蒡子一名大力子。三月生苗。初夏開花。至秋結子。故其子得秋金之氣。辛勝於苦。性平。專治肺病。兼通於肝。宣散潤降。均擅其長。一切咽喉痘疹諸病。凡屬於肺者。皆可用之。）</p>

<h3>艾葉</h3>
<figure>
<img alt="艾葉">
</figure>
<p>補命門以暖子宮。香達肝脾寒濕化。理血氣而療崩帶。溫通奇脈苦辛兼。可灸瘡疽。能薰蟲蝕。（艾葉入肝脾腎三經。芳香可以入血。辛熱可以解寒。故生者能理血氣。解散風寒濕邪。或炒黑。或揉熟。能溫暖下元。治婦人崩帶瘕疝胎產等證。屬於寒濕者。皆可用之。純陽之性。故可殺蟲辟惡。其灸瘡疽者。藉芳香辛熱以宣通氣血耳。艾葉入下焦血分。能溫陰中之陽。逐下焦血分寒濕濁氣。生溫熟熱。生者能散。熟者能守。亦若乾薑炮姜之用。但艾葉之功。辛苦而香。所用在葉。非乾薑之但辛熱而用根也。）</p>

<h3>木賊草</h3>
<figure>
<img alt="木賊草">
</figure>
<p>平肝疏肺。解肌發汗散風邪。味苦性平。退翳除星行血滯。（木賊草。此草中空有節。善能摩木。故能入肝。摩積宣邪。以其中空色白。故又能入肺。解肌發汗。炒黑又能治諸血病。或血為風擾。或肝血瘀滯。如血崩痔痢等證。因於風邪者。古方曾載及之。木賊本肝之專藥。肝藏血。故入血分。總之肝臟有風邪瘀滯者為宜。血虛者當禁。）</p>

<h3>豨薟草</h3>
<figure>
<img alt="豨薟草">
</figure>
<p>苦寒能除濕祛風。腎肝併入。制煉用酒蒸蜜拌。痹痿皆宜。（豨薟草能入肝腎。祛風除濕。是其本功。至於補益之說。必須取其枝葉洗淨。用蜜酒拌透。蒸曬九次。則苦寒濁惡之性皆去。清香甘美之味俱來。凡痿痹癱瘓等疾。由肝腎虛而風濕內襲者。悉可用也。此草有臊氣。故專入肝。肝藏血。故入血分。云入腎者。乙癸同源也。生者苦寒。能散血中風邪濕熱。一經制煉。則轉為甘溫。於祛風逐濕之中。有補益肝腎之功矣。）</p>

<h3>青蒿</h3>
<figure>
<img alt="青蒿">
</figure>
<p>得春初少陽之氣。味苦而香。行肝膽血分之經。氣升且散。辛能解表。營中鬱熱葉相宜。寒可除蒸。屍疰疳癆子可使。（青蒿稟春生之氣。其氣香。其味苦。其性寒。故能疏發肝膽血分熱邪。由表而出。其子功用性味皆相似。但無解表之能。而有潤降之用。至於治骨蒸屍疰蟲疳等證。大抵亦皆由血分鬱熱所致耳。青蒿苦多辛少。雖寒不傷脾胃。以有芳香之氣。故入肝膽血分。搜風逐熱。邪去則血不郁。故又能治血中瘀郁也。）</p>

<h3>茵陳</h3>
<figure>
<img alt="茵陳">
</figure>
<p>下通水道。治濕熱之黃癉。上入陽明。味苦寒而無毒。兼能達表。專主分消。（茵陳。此草似青蒿而不香。葉背色白。經冬不死。至春則更因舊苗而生新苗。故有因陳之名。性味苦寒。能升能降。功專發汗利水。為治濕病黃癉之要藥。然苦寒中亦兼有微辛微香。其形質性味。與青蒿相似。但青蒿不能治濕。此則治濕為長。一切表裡濕熱。皆可治之。惟虛寒黃癉小便自利者當禁之。）</p>

<h3>海金沙</h3>
<figure>
<img alt="海金沙">
</figure>
<p>利水通淋。行太陽之血分。性寒味淡。除瘀熱於胞宮。（海金沙其色黃赤如細砂。在草葉間。其草高一二尺。七月內收其全棵。於日中曝之。以紙襯之。以杖擊之。有細砂落紙上者是也。甘淡而寒。其性下降。可以入血分。故能治小腸膀胱濕熱瘀留血分而成淋痛等證。此草不開花。其氣皆鍾於葉。結為此砂。凡血淋石淋沙淋極有效驗。惟寒降之性。如肝腎虛寒。下元不固。以致遺滑淋濁。莖中不痛者。不可用也。）</p>

<h3>穀精草</h3>
<figure>
<img alt="穀精草">
</figure>
<p>得秋金谷氣以生成。溫可疏肝摩目翳。養中土胃陰而甘淡。輕能治上愈頭風。（穀精草田中收谷後。得谷之餘氣而生。叢生細莖。莖頭開小白花。其子亦白如椒實形。輕浮之質。性稟中和。故能兩入厥陰陽明。疏肝和胃。凡一切頭風目疾等證。皆治之。此草治目疾翳障。疏中有補。以其有穀氣也。）</p>

<h3>青黛</h3>
<p>清肝火之結邪。丹毒蟲瘡。青碧鹹寒歸血分。治兒疳之鬱熱。斑疹瘟疫。輕浮涼苦到金家。（青黛即靛青之沫。和石灰粉為之。無灰者絕少。大抵其功用與靛葉相近。雖色青入肝。而輕浮鹹寒之性。功用概可想見。故清火解毒。殺蟲治瘡。即可為青黛贊之。青黛本專入肝。治血分鬱火。以其輕浮上達。故又能入肺胃。降瘀熱。治溫疫斑疹。咽喉口舌等疾。如陰虛之火。及大便不實。脾胃不足者。勿用。）</p>

<h3>連翹</h3>
<figure>
<img alt="連翹">
</figure>
<p>苦先入心。寒能及肺。諸瘡各毒。皆緣邪火遊行。氣聚血凝。用此宣通表裡。（連翹其仁初生象心。若未開蓮花。熟則四解象肺。去心用殼。輕浮解散之品。味苦性寒。入心肺之分。以肺主一身之氣。心主一身之血。故能解散十二經血凝氣聚。而為癰疽瘡瘍之聖藥。但外證之屬寒者禁之。）</p>

<h3>馬鞭草</h3>
<figure>
<img alt="馬鞭草">
</figure>
<p>肝胃兩相宜。破血通淋消腫脹。苦寒偏稟劣。殺蟲散熱愈癰疽。（馬鞭草苦寒能入肝胃。長於破血殺蟲。至利濕通淋一語。亦旁及之耳。不過觀其主治各證皆在下部。故有此言也。）</p>

<h3>葶藶子</h3>
<figure>
<img alt="葶藶子">
</figure>
<p>功專苦降。氣屬辛寒。瀉肺氣以行痰。水滿上焦喘可愈。利二腸而治咳。熱從下導脹能消。（葶藶子苦辛寒。入肺家氣分。大瀉肺臟水邪。凡仁皆降。故能降氣行痰。肺臟熱結者宜之。若寒飲陰水等證。及虛弱者。不可用也。有甜苦二種。苦者性急下泄。甜者性緩。乃大瀉肺氣之藥。氣降則諸邪皆散耳。）</p>

<h3>王不留行</h3>
<figure>
<img alt="王不留行">
</figure>
<p>入陽明而達血。苦且辛平。通乳汁以行肝。走而不守。痹風淋痛。內服均除。癰腫金瘡。外敷並效。（王不留行多生麥田中。即俗名翹搖子。甘苦辛平。專入陽明血分。行血活血。是其專長。故能治風痹乳癰金瘡等證。用之外治。亦取其散血之功多。故能兼入肝經。以肝為藏血之地。故治經閉赤濁等證。總之此藥皆以滑利見長也。）</p>

<h3>瞿麥</h3>
<figure>
<img alt="瞿麥">
</figure>
<p>苦寒達膀胱以分消。功專利水。下降通小腸之閉結。力可行瘀。導濁須求。治淋有力。（瞿麥色黑。能入心肝小腸膀胱血分。苦寒之性。破血利竅。足以盡之。在用者領會耳。瞿麥之性下降。逐血頗猛。若小腸膀胱無血熱閉結。以及胎產虛人。皆當禁之。）</p>

<h3>地膚子</h3>
<figure>
<img alt="地膚子">
</figure>
<p>治太陽濕熱癃淋。性味苦寒陽自降。化脾部陰淫晦疾。功能分利水潛消。（地膚子苦寒性降。入脾胃。下行膀胱。祛下焦濕熱濁垢。利竅行水。是其本功。至於治皮膚瘡瘍。亦因濕熱所化。本經稱其補中益精氣。久服耳目聰明。輕身耐老等語。亦邪去正安之意。非地膚有補性也。）</p>

<h3>決明子</h3>
<figure>
<img alt="決明子">
</figure>
<p>微寒無毒。治水虛木實之邪。甘苦兼咸。療赤腫羞明之疾。（決明子一名馬蹄決明。其形如豆。色青黑。味甘苦鹹寒。入肝腎二經。略有補性。故本經尊之上品。大抵不外益腎水。清肝火。水生火退。則目自明。故有此名也。）</p>

<h3>青葙子</h3>
<figure>
<img alt="青葙子">
</figure>
<p>青碧入肝療目疾。苦寒退熱治風淫。（青葙子一名草決明。即野雞冠子。本經列之下品。但其主治僅有唇口青三字。然唇口屬脾。青色屬肝。顯系肝邪侮土之象。況此物性寒。其子青碧色而成於秋。宜其能清肝火治目疾也。青葙子只可治目疾之因熱邪者。屬虛者不宜用。不若決明子之兼有補性也。）</p>

<h3>紫草</h3>
<figure>
<img alt="紫草">
</figure>
<p>透肌涼血。甘寒咸滑相兼。宣竅通腸。包絡肝經併入。若或痘瘡熱結。清心下導於二腸。即使毒滯瘀凝。解裡外松夫肌表。（紫草味甘鹹而寒。入手足厥陰血分。涼血活血。通水道。利大腸。性極寒滑。故痘疹不出。由於血熱便閉者。宜之。陽虛便溏者。不可浪投。紫草三月下子。九月子熟。有藤色紫取苗用。即紫草茸也。故又能松肌解表。）</p>

<h3>土牛膝根</h3>
<figure>
<img alt="土牛膝根">
</figure>
<p>生汁灌沖。可吐風痰喉閉。煎湯飲服。能除結熱瘀留。入胃腑。味則辛苦而寒。有小毒。功可瀉熱散腫。子名鶴蝨同前性。治主驅蟲獨見長。（土牛膝根苦辛而寒。有小毒。入胃。功專破血下降。煎服與懷牛膝同功。而無補性。生搗汁服。能大吐風痰。其渣和醋調敷腫處。治喉風等證大效。鶴蝨即其子也。性味相同。殺蟲之功最優。或炒香為末。肉汁和服。又名臭花娘草。土牛膝即其根也。生升熟降。皆以散瀉為用。亦瞑眩之藥。其子如蝨有毛刺。善黏人衣。聞之有狐氣。比根葉為尤盛。殺蟲之外。無他長耳。）</p>

<h3>蘆根</h3>
<figure>
<img alt="蘆根">
</figure>
<p>性入陽明。甘寒清熱。功除煩嘔。潤降和陰。莖則清肅上焦。肺癰可愈。筍乃解消魚毒。膈熱能清。（蘆根甘寒。入胃清熱。熱則胃氣逆而不順。嘔吐反胃等證作矣。至於解毒。亦甘寒入胃之功。但蘆根主降。莖與筍有上升之意。故肺癰肺痿皆用之。蘆根寒能清熱。甘可養陰。故胃陰不足。而有火邪上逆為患者。最宜。胃寒便溏嘔吐者禁用。）</p>

<h3>旱蓮草</h3>
<figure>
<img alt="旱蓮草">
</figure>
<p>甘酸化陰。涼血有功於腎臟。沉寒色黑。烏須兼固夫齒牙。（旱蓮草甘酸而寒。折之中有汁出。其色黑。故入腎。能涼血補陰。斂營止血。然沉寒之性。陽虛便滑者。仍宜禁之。）</p>

<h3>大青</h3>
<figure>
<img alt="大青">
</figure>
<p>治傷寒陽毒斑疹。入心胃與肝。兼行肌表。療瘟疫時行熱病。味鹹寒微苦。直入營中。（大青鹹苦大寒。色青。專入心肝胃三經血分。治時行溫熱斑疹丹毒等病。皆因大熱入胃。擾亂營血所致。散血分邪熱。是其所長。方藥中亦不常用耳。）</p>

<h3>敗醬</h3>
<p>排膿消腫。腸癰藉辛苦之功。達胃行肝。瘀熱仗鹹寒之力。（敗醬辛苦鹹微寒。一名苦菜。葉如芥。其色青紫。能入血分。散血中瘀留結熱。入手足陽明厥陰。金匱用之治腸癰。亦取其排膿破血之意。）</p>

<h3>馬勃</h3>
<figure>
<img alt="馬勃">
</figure>
<p>辛平利肺部之邪。治咽痛喉瘡。功能散血。輕淡解上焦之熱。除口疳面腫。力可療瘟。（馬勃此亦菌類。由地上濕熱之氣。熏蒸蘊結而成。雖有輕清解散上焦邪熱之功。然濕熱熏蒸之毒。蟲虺之氣亦所難免耳。）</p>

<h3>蒼耳子</h3>
<figure>
<img alt="蒼耳子">
</figure>
<p>上通腦頂。外達皮膚。因能發汗以祛風。故可宣痹而散濕。鼻淵頭痛。均因苦降功能。疥疾癢瘡。又賴疏辛溫潤。（蒼耳子此物能升能降。善發汗。辛苦溫潤。專入肺脾。治風濕痹痛死肌疥瘡等疾。洗服皆良。鼻淵初起屬上焦濕熱者。用此辛散苦泄。故可治之。）</p>

<h3>劉寄奴</h3>
<figure>
<img alt="劉寄奴">
</figure>
<p>破血行瘀兼逐水。辛苦微溫。和傷消腫並調經。肝脾兩達。（劉寄奴苦辛微溫。入肝脾二經。專主破血下氣。以及血化為水而成腫脹者。皆可服之。金瘡折跌。敷服皆奇。）</p>

<h3>板藍根</h3>
<p>闢瘟解毒能涼血。逐疫祛邪並殺蟲。肝胃收功。苦寒降熱。（板藍根即靛青根。其功用性味。與靛葉相同。能入肝胃血分。不過清熱解毒。闢疫殺蟲。四者而已。但葉主散根主降。此又同中之異耳。一云即馬蘭根。未知孰是。）</p>

<h3>甘蕉根</h3>
<figure>
<img alt="甘蕉根">
</figure>
<p>外敷消腫。散熱毒而性屬陰寒。內服清煩。止消渴以蠲除煩悶。功能走肺胃。甘可保陰津。（甘蕉根味甘大寒。一名芭蕉。即人家所種之甘蘆也。主治消渴熱狂。一切金石丹毒。皆可搗汁飲之。外敷癰腫結熱。以及疔毒走黃。喉痹實火等證。其瀉熱解毒之功可想。）</p>

<h3>苧麻根</h3>
<figure>
<img alt="苧麻根">
</figure>
<p>益陰涼血。安胎則賴其退熱之功。滑竅通淋。治病總不離下行之性。味甘寒而無毒。入心主與小腸。（苧麻根甘寒養陰。長於滑竅涼血。血分有濕熱者。亦屬相宜。大抵胎動因於血熱者多。或因傷血瘀者亦有之。安胎之義。其即此乎。）</p>

<h2>蔓草類</h2>

<h3>天門冬</h3>
<figure>
<img alt="天門冬">
</figure>
<p>清金降火。苦寒味帶余甘。壯水強陰。潤澤性偏在膩。咳血可療癰痿愈。屍蟲盡化燥痰除。腸滑勿投。胃虛當禁。（天門冬甘苦而寒。色白潤降。清肺金。壯腎水。是其本功。本經稱其殺三蟲。去伏屍鬼疰者。大抵亦為瘀熱所化。熱退則病除耳。天冬較麥冬苦多寒盛。沉降之性過之。故兼能入腎經。治諸病總宜於陰不足而有火邪者。若脾胃虛寒便溏之人。禁勿用。）</p>

<h3>五味子</h3>
<figure>
<img alt="五味子">
</figure>
<p>五味俱備。酸溫獨多。收肺氣耗散之金。喘嗽咳紅上受益。滋腎經不足之水。遺精滑瀉下承扶。能斂汗液之耗亡。奠安君主。且治瞳神之散大。迴護元陰。表有風寒。須知禁用。里多邪滯。切禁輕嘗。（五味子雖有五味。究竟酸味獨專。故主治亦在酸斂之功。其性溫。五臟皆可導引而入。不獨肺腎也。凡一切氣血耗散脫竭之證。表裡無邪者。皆可同補藥用之。咳嗽遺滑。屬肺腎虛寒者。尤為相宜。）</p>

<h3>天花粉</h3>
<figure>
<img alt="天花粉">
</figure>
<p>清胸胃之煩熱。痰垢均除。解心肺之炎蒸。苦甘並濟。生津止渴。金燥宜求。行水消瘀。黃癉可治。消腫排膿結可散。澤枯潤槁性偏寒。（天花粉色白甘苦而寒。即瓜蔞根也。入肺胃血分。專清上焦邪熱。下降一切黃癉腫毒。皆從鬱熱水血互結而來。其能利水道。消瘀血。故主治如上。玉露霜即鮮天花粉。以水澄出之粉曬乾用。性味主治皆同。略分清濁耳。）</p>

<h3>瓜蔞</h3>
<figure>
<img alt="瓜蔞">
</figure>
<p>氣味相同花粉。治療各有偏宜。潤肺清腸。降痰火下行為順。消瘀滌垢。治結胸上實頗靈。用仁則潤滑腸中。用皮則清於肺部。（瓜蔞性味與花粉相同。惟潤降之功過之。故凡上焦鬱熱。垢膩痰火咳嗽等證。皆可用之。一切肺癰腸癰乳癰之屬火者。尤為相宜。但冷滑大腸。脾虛無火。大便不實者。不可用也。）</p>

<h3>木通</h3>
<figure>
<img alt="木通">
</figure>
<p>入心且及小腸。通淋利竅。導濕下行水道。味苦性寒。滌熱行瘀。源流無阻。催生下乳。關節皆通。（木通。苦寒之品。能入心與小腸。清濕熱。利九竅。能宣通上下氣血。其所以治淋治乳者。無非清心宣竅之功。以肺無熱逼。則氣化之源清而淋濁愈。胃為氣血之海。氣血宣通。則乳病愈耳。然性極苦寒。不可浪投。木通藤屬繞樹而生。吹之上下皆通。性雖苦。卻能宣通關節。或痛或腫等證。皆可治之。不獨降利之功而已也。）</p>

<h3>通草</h3>
<figure>
<img alt="通草">
</figure>
<p>色白性寒。體輕味淡。清金肅降。通肺胃而導心主之熱邪。利濕分消。達膀胱可無閉癃之阻滯。（通草。此係草類。一名通脫。木高丈許。中心所結白瓤。以其為心也。故可入心。其色白。故入肺。味淡性寒。與燈心功用相似。能清心肺上焦之熱。淡滲下行。通利水道。其通利之性。又能旁及陽明而下乳汁耳。）</p>

<h3>萆薢</h3>
<figure>
<img alt="萆薢">
</figure>
<p>祛風祛濕。微苦微溫。入肝胃兼入小腸。分清去濁。由膀胱內通腎臟。行水宣瘀。風寒痹濕可推求。腰膝痠疼當審用。（萆薢本經謂其苦平無毒。主治腰痛骨強。風寒濕痹。觀其大意。知其能入肝腎。治陽虛濕濁之藥。雖云能治下焦風寒濕痹。大抵萆薢之功。治濕為長。治風次之。治寒則尤其次也。痿病多屬陽明濕熱。萆薢之苦。能宣能泄。故又能入胃耳。）</p>

<h3>金銀花</h3>
<figure>
<img alt="金銀花">
</figure>
<p>其氣芳香入脾。其味甘寒解毒。通經入絡。取用其藤。治癤消癰。還當使蕊。或傳屍腹脹。各隨成法以推求。或治痢祛風。宜合古方而運用。（金銀花其氣芳香。其色赤白。而凡花皆散。有宣通氣血解散之功。且寒能解毒。甘不傷胃。故一切癰疽外證。推為聖藥。昔人用此治風除脹。治痢疾。逐屍疰為要藥。後世亦不知其用。足見此物之功。非特治瘡已也。）</p>

<h3>葛根</h3>
<figure>
<img alt="葛根">
</figure>
<p>解陽明肌表之邪。甘涼無毒。鼓胃氣升騰而上。津液資生。若云火鬱發之。用其升散。或治痘疹不起。賴以宣疏。治瀉則煨熟用之。又主兩陽合邪之下利。解酒則葛花為最。因有解表利便之功能。孕婦固當忌投。有故亦能無殞。（葛根甘涼入胃。其根寓升發之意。故能解散陽明肌表之邪。凡一切風溫熱病。邪鬱於表。熱勢內蒸。以致無汗口渴者。最為相宜。然畢竟氣涼之品。如風寒在表。以及內不熱而惡寒者。似又不宜也。煨熟則散性全無。即由胃入腸。不行陽明之表。但入陽明之裡。升清為用。亦如升麻之煨熟即升而不散。可以厚腸止瀉耳。）</p>

<h3>何首烏</h3>
<figure>
<img alt="何首烏">
</figure>
<p>稟中和之性。益腎培肝。得坤土之純。悅顏黑髮。固真陰而性澀。崩中遺滑堪醫。續後嗣以添精。堅骨強筋可賴。祛風養血。毒化瘡消。豆制酒蒸。延年卻病。藤可夜交熟寐。味則甘苦微溫。（何首烏味甘苦略兼澀味。有赤白二種。夜則苗蔓相交。年久則其根成形。得土之精氣而生。補肝腎。固精髓。以其赤白交互。故能長養氣血。氣血太和。則悅顏黑髮。風可去而瘡可愈耳。首烏之補肝腎陰血。與地黃相同。卻無地黃之凝滯。性雖固澀。而又流利血脈。大抵生用則流利。制用則固補。赤者名紅內消。專用於外科。概可想見。）</p>

<h3>馬兜鈴</h3>
<figure>
<img alt="馬兜鈴">
</figure>
<p>輕浮象肺。降痰嗽有解散之功。清肅歸金。平喘促得苦寒之力。（馬兜鈴藤蔓之屬。附木而生。葉脫時其實尚垂。狀如馬項之鈴。熟則四開象肺。苦寒輕舉。而又有下降之性。故能清肺熱。降肺氣。凡一切咳嗽痰喘屬於肺熱者。均可用之。兜鈴雖主清熱降氣。而又能散肺中結氣。以其苦而兼辛也。根名青木香。苦冷有毒。可作吐藥。不常用。）</p>

<h3>百部</h3>
<figure>
<img alt="百部">
</figure>
<p>治肺寒之咳嗽。甘苦微溫。除蟲積之稽留。功能獨擅。（百部其藤蔓生。其根如天門冬之形。百十連屬。若部伍然。但天門冬味甘而潤。百部味苦而枯。天門冬寒而百部熱。故雖皆入肺治嗽。一治寒嗽。一治熱嗽。為不同。其殺蟲之功。尤為百部所獨擅也。）</p>

<h3>菟絲子</h3>
<figure>
<img alt="菟絲子">
</figure>
<p>氣溫無毒。味甘且辛。補腎水以上騰。明目生津風可去。凝正陽而不動。精寒溺瀝病能痊。可堅骨以強陰。並扶羸而續絕。（菟絲子其藤蔓生田野中。初如細絲遍地。不能自起。得他草根則纏繞而生。其根漸離於地而寄空中。本經辛甘平無毒。主治續絕傷。補不足。益氣力。肥健人。大抵益肝腎。助筋脈。填精髓。是其所長。以肝主筋。其藤象筋。腎藏精。其子有歸束之意也。凡子皆潤降。故先入腎。菟絲子能溫養腎水。補肝虛。下焦得溫養之力。脾亦受益耳。故為平補足三陰之藥。）</p>

<h3>鉤藤</h3>
<figure>
<img alt="鉤藤">
</figure>
<p>入肝經以涼血祛風。退熱療驚。久煎無力。味甘寒而除邪定搐。治昏止眩。暫服為宜。（鉤藤甘寒色紫。獨入肝家。清肝熱。熱平則風息。風息則驚癇瘛瘲頭旋目眩等證皆愈耳。）</p>

<h3>覆盆子</h3>
<figure>
<img alt="覆盆子">
</figure>
<p>入腎兼酸苦之功。治專固攝。益下有封藏之力。味屬甘溫。（覆盆子因此子形似覆盆。故名。凡藤蔓之子。皆可併入肝腎。味甘而酸之品。皆能補而兼固。此物甘酸而溫。其能補攝肝腎可知。下焦固則遺滑等證皆可愈耳。覆盆入腎經血分。能溫補命門。益精固下。陰不足而相火旺者不宜。）</p>

<h3>防己</h3>
<figure>
<img alt="防己">
</figure>
<p>辛可散。苦可行。氣寒之品。熱可蠲。濕可導。性下之功。漢入下焦。行膀胱之血分。木宣經絡。疏風水於皮中。（防己出漢中。木防己即是其苗。味皆辛苦而寒。其根為之漢防己。入下焦瀉膀胱血分濕熱。木防己偏於治上治風。故凡屬水支飲等證。皆用之。大抵防己為瞑眩之藥。聞其氣則頗惡。下咽則使人身心煩亂。飲食減少。若善用之。能撥亂反正。可防己而禦敵。故取此名也。虛人禁之。）</p>

<h3>威靈仙</h3>
<figure>
<img alt="威靈仙">
</figure>
<p>性急且溫。味辛而散。微咸微苦。疏風邪走絡通經。可導可宣。治痹疾行痰去濕。（威靈仙味苦辛鹹。氣溫。善走風藥也。能宣通臟腑經絡。治痹啟閉。故一切胸腹冷滯。痰水癥瘕。瘀血濕邪等證。皆可用此行散。然疏利之性。若無風邪痰濕。恐損真氣。用者慎之。）</p>

<h3>紫葳花</h3>
<p>入心肝涼散行瘀。能去血中伏火。走營分酸鹹無毒。並療血熱生風。（紫葳花甘酸而咸。性寒色紫。手足厥陰血分藥也。功專涼血。故能去血中之伏火。凡婦人產乳余疾。癥瘕血閉寒熱等證。由於血熱者皆治之。又凡花皆散。故能治血中之風與夫血熱生風等證。）</p>

<h3>使君子</h3>
<figure>
<img alt="使君子">
</figure>
<p>入脾胃。用則治蟲治疳。味甘溫。服則或生或熟。（使君子味甘。性溫。氣香。質潤。雖為殺蟲之藥。而益脾胃。斂虛熱。凡小兒一切蟲疳等證皆可用之。服時忌飲熱茶。犯之即瀉。）</p>

<h3>山豆根</h3>
<figure>
<img alt="山豆根">
</figure>
<p>解肺家結熱之邪。化痹宣癰味最苦。殺蠱毒諸蟲之積。通腸消脹氣純寒。（山豆根苦寒入心。瀉熱解毒。心火降則肺金清。故一切喉證之屬於火者。得苦降之性。自然熱除病退。清肅之令下行矣。脾胃虛而大便不實者禁之。）</p>

<h3>白蘞</h3>
<figure>
<img alt="白蘞">
</figure>
<p>苦能瀉熱。辛可疏邪。散結行瘀。止為性寒能解利。消癰斂口。皆因毒火未潛消。（白蘞。苦辛而寒。散熱結。疏邪滯。並無酸斂之性。即本經亦無斂瘡口之句。但云主治癰腫瘡疽。散熱止痛等語。則後人用之斂瘡者。皆因火毒滯留營分。而肌肉不斂耳。）</p>

<h3>土茯苓</h3>
<figure>
<img alt="土茯苓">
</figure>
<p>利濕分消。皆謂邪留下部。舒筋定痛。多因毒伏經中。以能制輕粉之留邪。入胃通肝及腎。故為治下疳之良劑。性平味淡而甘。可助土以強脾。藉遺糧而當谷。（土茯苓一名仙遺糧。味甘淡而平。益脾胃。化濕邪。服之可當谷不飢。故有遺糧之名。今人概以治楊梅惡瘡。毒竄筋骨。肌肉潰爛等證。亦不過因土茯苓之味甘淡。甘能解毒。淡可分消。又能益脾胃。使土旺濕除。肌肉自愈之意。非土茯苓可以治瘡也。）</p>

<h3>茜草</h3>
<figure>
<img alt="茜草">
</figure>
<p>質稟鹹溫。入肝破血。味兼辛苦。行滯通經。（茜草。辛苦鹹溫。色赤性燥。入心肝血分。長於破血行血。本經稱其治黃癉。別錄言其治蠱毒。無不皆因瘀血而成。故又一名血見愁。即此義也。）</p>

<h3>木鱉子</h3>
<figure>
<img alt="木鱉子">
</figure>
<p>苦寒有毒。外治為多。散血熱以消癰。追風毒而達絡。塞鼻則拳毛頓起。吹耳則痘眼能移。點痛痔而即平。搽火瘡而立效。（木鱉子有番土兩種。皆屬苦寒。而番者為尤甚。其寒毒之性。服之使人筋脈拘急。身體振動。瞑眩之藥。不可妄投。或風毒竄入經絡。或癰疽欲其解散。必須配製得宜。酌量多寡而用。土木鱉雖能治疳積痞塊黃癉等證。究竟二鱉長於外治。非服食所宜也。）</p>

<h3>漏蘆</h3>
<figure>
<img alt="漏蘆">
</figure>
<p>入陽明下乳消癰。鹹苦性寒無毒品。清濕熱殺蟲涼血。祛除積久小兒疳。（漏蘆鹹苦性寒。入陽明血分。本經雖云服之益人。然畢竟疏利之品。故能下乳消癰。清濕熱。治疳積。皆屬陽明之病。觀其命名取義。則漏蘆之功。概可想見矣。）</p>

<h3>燕脂</h3>
<p>解痘毒以松肌。甘平入血。吹耳疳之蝕爛。炙黑和營。（燕脂即紅花汁。或紫草汁染帛而成。故功用與紅花紫草相仿。長於活血行血。血活則肌松。肌鬆則毒解故也。耳疳痘毒。無論內治外治。均可用之。能入心肝血分。甘平之性。無偏勝之弊耳。）</p>

<h3>牽牛</h3>
<figure>
<img alt="牽牛">
</figure>
<p>色形黑白宜分。瀉肺行痰。消脹逐邪於氣分。性味辛溫有毒。搜風導滯。通腸利水達胞宮。（牽牛味辛性熱。瀉肺氣利大腸。逐痰蠲飲。又能從治氣分濕熱堅結。但攻伐之品。肺與大腸無水濕邪滯堅結者。不可輕投。）</p>

<h3>藤黃</h3>
<p>散腫搜膿性毒烈。殺蟲逐濕味酸溫。（藤黃系藤汁煎煉而成。酸澀有毒。能殺蟲。以毒攻毒。皆外治之功。以其酸澀之性。有收束之意。斂極則散。故癰疽瘡瘍發散藥中。每每用之。）</p>

<h3>青風藤</h3>
<p>溫達肝脾。用使搜風兼勝濕。味歸辛苦。功能蠲痹並舒筋。（青風藤。凡藤蔓之屬皆可通經入絡。此物味苦平善治風疾。故一切歷節麻痹皆治之。浸酒尤妙。以風氣通於肝故入肝。風勝濕濕氣又通於脾也。）</p>

<h2>香草類</h2>

<h3>木香</h3>
<figure>
<img alt="木香">
</figure>
<p>燥脾土以疏肝。香利三焦破氣滯。味苦辛而散逆。溫宣諸痛解寒凝。理氣則生用摩沖。止瀉則麵煨取用。（木香苦辛而溫。芳香而燥。入肝脾氣分。宣散上下一切寒凝氣滯。溫中止痛。闢鬼除邪。然純陽之性。陰虛液涸者切勿沾唇。煨熟可止瀉利。因木香氣味俱厚。且熟則無走散之性。惟覺香燥而守。故能實大腸。凡治泄瀉恆用之。肝喜調達。脾喜溫燥。木香固為兩臟之所喜。而燥散太過。宜與補藥同用乃佳。）</p>

<h3>川芎</h3>
<figure>
<img alt="川芎">
</figure>
<p>辛甘微苦。力能解鬱調經。潤澤且香。功可和營理氣。愈頭風之偏正。性喜上升。補肝燥之虛衰。善通奇脈。溫宣之性。能疏血分風寒。走竄無方。防劫陰中元氣。（川芎。本名芎藭。因出川地。故名川芎。至於臺芎撫芎。皆因其地而名辛苦甘溫。芳香潤澤。血中氣藥也。然走散上升之性。惟血分有鬱滯者最宜。至若陰虛血少。宜靜不宜動者。不可用之。）</p>

<h3>當歸</h3>
<figure>
<img alt="當歸">
</figure>
<p>引諸血各歸其經。甘苦辛溫香且潤。雖理血仍能調氣。心肝脾臟暢而和。能解表以溫中。可養營而止痛。下行破血。尾力為強。補血守中。歸身獨得。調營血自然風滅。諸痹仗此以宣通。行臟腑旁及奇經。胎產須知能受益。（當歸性味與川芎相近。而甘味為多。不如川芎之走竄耗散。功專養血活血。能理血中之氣。同補藥則補。同瀉藥則瀉。雖為血病中之要藥。然總屬辛香走散。陰虛者仍宜禁之。腸滑者不宜用。雖能調經。婦人亦不可多服。易成淋滯等病。以其性滑耳。）</p>

<h3>白芍藥</h3>
<figure>
<img alt="白芍藥">
</figure>
<p>平肝斂營。氣逆汗多均可治。安脾御木。疝疼腹痛總堪投。退營熱以除煩。具酸苦甘寒之性。補脾陰而清肺。賴芳香潤澤之功。通補奇經。產後胎前需賴。和調諸痢。裡虛後重堪憑。若夫赤芍功能。專司行散。倘欲諸般制炒。隨病相宜。（白芍藥味苦微甘微酸微寒。雖白而略帶紅色。其氣芳香。故入肝脾血分。上至於肺。能平肝益脾。斂虛熱。護營陰。古人所用甚多。各隨佐使取效。赤芍性味。但苦不酸。從乎火化。色赤形槁。不若白芍之潤澤堅結。其功專司行散。無補益之功。凡癰疽瘡瘍一切血熱血滯者。皆可用之。赤白兩種。各隨其花而異。並非別有一種。今之所舊者。不知何物之根。）</p>

<h3>荊芥</h3>
<figure>
<img alt="荊芥">
</figure>
<p>邪風襲於血分者。可散可疏。浮熱客於上部者。能清能利。芳香之氣。用穗則更可上升。經產所需。炒黑又宜於營分。力可達肝而及肺。味則辛苦以微溫。（荊芥辛溫而香。入肝肺二經。疏風邪清頭目。風寒初客於表者可用以解散之。炒黑能入血分故又能宣血中之風。凡產後瘍潰血虛感風之證最宜。但辛香解散之品。陰虛無表邪者忌之。）</p>

<h3>紫蘇葉</h3>
<figure>
<img alt="紫蘇葉">
</figure>
<p>辛香快膈。宣脾肺以溫中。紫赤和營。行經絡而解表。子可消痰定喘。梗能順氣安胎。（紫蘇葉辛溫入脾肺。溫中快膈。發表散寒。色赤氣香。入血分。宣滯氣。與陳皮合用最為相宜。梗則專主順氣。氣順則一身通泰。猶梗之一身皆達也。子則專主潤降。故能治嗽化痰。因風寒在表而咳痰者最宜。）</p>

<h3>薄荷</h3>
<figure>
<img alt="薄荷">
</figure>
<p>輕清入肺。味辛溫而氣稟芳香。解散上焦。清頭目而善宣風熱。（薄荷辛溫香竄。體溫而用涼。入肺經輕浮上升。故能解散上焦風熱。為解表之藥。利咽喉。闢口氣。雖因其用涼而能治熱證。然畢竟辛散之品。陰虛有火者仍宜遠之。薄荷之性味功用。與冰片相似。體溫而用涼。其所謂清者。乃輕清之清。非清冷之清也。）</p>

<h3>白芷</h3>
<figure>
<img alt="白芷">
</figure>
<p>為胃經之表藥。祛寒燥濕味辛溫。宣肺部之風邪。散腫排膿功達遍。升浮之氣。頭目能清。香燥之功。崩淋可用。至若腸風臟毒。緣陽明濕濁為殃。即其澤面塗容。亦肌肉瘀邪之滯。（白芷辛溫香竄。色白。入手足陽明手太陰三經。祛風勝濕。是其所長。故為三經之表藥。以其上至肺而下至腸。故能上清頭目。下治崩帶腸風。至若排膿散腫乳癰等證。皆肌肉病。陽明主肌肉。故白芷又為陽明主藥也。）</p>

<h3>藁本</h3>
<figure>
<img alt="藁本">
</figure>
<p>辛能達表。溫可行經。風寒顛頂之疼。賴其解散。陰濕疝瘕之疾。藉此宣除。氣香獨走夫太陽。色紫堪行乎血分。（藁本根似川芎。色紫形虛。辛溫雄壯。氣香味烈。入足太陽經。兼通督脈。為發散風寒祛除寒濕之藥。功用同於羌活。而香性獨專。升性過之。至於治婦人寒濕疝瘕等證。亦督脈為病耳。）</p>

<h3>香薷</h3>
<figure>
<img alt="香薷">
</figure>
<p>解夏月之表邪。入肺疏寒能達外。味辛溫而無毒。和脾利水可行經。（香薷辛溫氣香。輕浮入肺。發表利水。闢口氣。和中焦。為夏月解表之藥。以長夏濕氣蒸騰。用此芳香宣上徹下。開鬼門。潔淨府。兩得其宜。若陰虛而感受暑熱者。不宜服之。其形似茵陳。功用亦相似。但性味各異。香薷長於解表。利水次之。茵陳反是。香薷溫而茵陳寒耳。）</p>

<h3>藿香</h3>
<figure>
<img alt="藿香">
</figure>
<p>辛能解表疏邪。入脾達肺。香可宣中快膈。醒胃清神。性屬微溫。能闢疫而止嘔。功頗善散。防助火以傷陰。（藿香。辛溫入肺。芳香入脾。快膈宣中。止嘔吐。平霍亂。以芳香脾胃所喜。故能開胃助脾。然畢竟辛香宣散之品。陰虛有火。雖有表證者。不宜用之。至若治口瘡。闢口氣。皆從治法耳。藿香紫蘇二味。性味功用。大抵相似。但紫蘇色紫。能行血分。藿香之香過於蘇。理氣之功勝之。行血之力不及。至於宣中解鬱。其理一也。）</p>

<h3>香附</h3>
<figure>
<img alt="香附">
</figure>
<p>入肝脾而開鬱。為血因氣滯之方。理胎產以調經。有氣順血行之理。其味辛甘帶苦。故生者有解表之功。其質香燥而溫。經制服得純和之妙。乃女科之聖藥。為氣病之專司。（香附一名莎草根。其草可為衰衣。香附即其根下子也。芳香辛苦。氣溫入肝脾兩經。兼入手太陰足太陽。散一切氣。解一切郁。芳香可以入血分。故又能理血中之氣。為婦人之聖藥。一切小腹膀胱冷痛疝瘕。以及胸脅閃氣刺痛等疾。皆可用之。同參術則補氣。同歸地則補血。得姜艾能溫氣血之寒。得梔連能清氣血之熱。或隨其佐使而用。酒醋鹽水童便以制之。然畢竟香燥之品。陰虛氣不滯者忌之。）</p>

<h3>白豆蔻</h3>
<figure>
<img alt="白豆蔻">
</figure>
<p>性熱氣香。入肺部宣邪破滯。味辛質燥。行胃中止嘔除寒。（白豆蔻辛熱。氣香色白。入肺。理上焦一切寒凝氣滯。故又兼入胃腑。散逆氣。凡嘔吐呃逆等證。因於寒滯者。皆可用之。然辛熱香燥之物。陰虛多火者。不可亂投。）</p>

<h3>草豆蔻</h3>
<figure>
<img alt="草豆蔻">
</figure>
<p>性味較白蔻為猛。芳香則中土偏宜。暖胃溫中。療心腹之寒痛。宣胸利膈。治嘔吐之乖違。又能燥濕強脾。可變胃闢除陳腐。兼解鬱痰肉毒。故和羹服食馨香。（草豆蔻產閩省。形如龍眼。皮淡黃而薄。仁如砂仁。其氣馨香而和。略帶甘味。其性熱。專入脾胃。故功用與白蔻相仿。而治上治中不同。然總屬辛香燥烈之品。陰不足者遠之。）</p>

<h3>草果</h3>
<p>治太陰獨勝之寒。辛溫入胃。破瘴癘瘧邪之積。剛猛宣中。質燥氣雄。味多濁惡。利痰解鬱。性卻瞑眩。（草果。滇廣所產。形如訶子。皮黑厚。其仁粗大。其氣辛烈而臭。其性熱。其所入所用雖與草豆蔻相仿。而剛猛惡濁之氣不同。故能破瘴癘之氣。發脾胃之寒。截瘧除痰。用為劫藥。然虛人服之。每易作吐耳。）</p>

<h3>肉豆蔻</h3>
<figure>
<img alt="肉豆蔻">
</figure>
<p>味屬苦辛。溫中散逆。質原香燥。入胃除邪。逐冷滯以下氣行痰。脾家所喜。治虛寒而厚腸止瀉。腎臟偏宜。（肉豆蔻形如草豆蔻。而肉厚皮皺。內有斑紋。如檳榔式。味苦辛。性溫無毒。能入脾胃與腎。宣導一切寒滯。煨熟又能實大腸。止瀉痢。但有火邪者禁之。至於平嘔吐。降痰氣。亦分所宜耳。）</p>

<h3>薑黃</h3>
<figure>
<img alt="薑黃">
</figure>
<p>入肝脾破氣行瘀。味苦辛蠲痹散腫。片子橫行肢臂。氣溫解逐風寒。（薑黃形似鬱金。但色黃為異。苦辛溫之性。入脾達肝。其苦能破氣行血。消癰腫。治癥瘕。其辛能橫行肢臂。故又能逐風痹寒濕等疾。形扁者為片子薑黃。非別有一種也。薑黃色黃氣香。血病藥也。能宣通血中之氣。使氣行而血無壅滯。而後知其治風痹等證。皆出於行血理氣之功耳。如風痹等證由於虛者忌之。）</p>

<h3>砂仁</h3>
<figure>
<img alt="砂仁">
</figure>
<p>啟脾胃以寬中。辛溫有效。逐寒凝而快氣。香燥多功。治嘔吐腹疼。結滯冷痰可解化。能導歸腎部。附根縮密有收藏。（砂仁形似龍眼而小。色黃專入脾胃。以其附根而生。故又入腎。辛溫香竄。和中散逆。醒胃強脾。止嘔吐。闢口氣。凡中焦一切寒凝氣滯之證。皆可用之。雖無草蔻白蔻之猛烈。而辛香燥散之性。陰不足者仍不宜用。砂仁密藏於根。能引諸氣歸束於下。故有縮砂密之名。今人用以制熟地。不特使之不膩。且有歸束密藏之意。合於腎耳。）</p>

<h3>鬱金</h3>
<figure>
<img alt="鬱金">
</figure>
<p>解鬱寬胸。心肺可通肝可及。辛開苦降。血瘀能逐氣能宣。因其質屬芳香。豁痰涎於心竅。卻謂性偏寒燥。療癲癇於肝家。廣產者色黃。善行氣而有功肺部。川產者色紫。能破血而兼達營中。（鬱金辛苦而寒。善宣善達。入上焦心肺二經。功專破血行氣。氣行血開。則鬱自解。痰自降。其所以祛心竅痰涎惡血者。皆無非辛散苦降之功。川產者色紫質堅。稍有區別耳。鬱金之功。皆取其苦辛香燥。逐瘀行氣力量。若病因虛而致者。不可用也。）</p>

<h3>莪朮</h3>
<figure>
<img alt="莪朮">
</figure>
<p>辛苦入肝脾。破氣行瘀磨積聚。溫香疏臟腑。除痰散滯逐寒凝。（莪朮肝經氣分藥也。能破氣中之血。辛苦而溫。性剛猛。善克削。攻一切痃癖積聚。血凝氣滯等證。每每與三稜並用。或嫌其峻厲。當以醋炒用之。）</p>

<h3>三稜</h3>
<figure>
<img alt="三稜">
</figure>
<p>味苦平用以入肝。能磨積攻堅。善破血中之氣。性克削。偏於傷正。雖消症化癖。還防病里之虛。（三稜肝經血分藥也。專於破血。而能行血中之氣。故每與莪朮相輔而行。其根形如鯽有稜。出楚荊地。故名。性苦平。無毒。破血積癥瘕等證。功與莪朮相似。而微有區別耳。）</p>

<h3>補骨脂</h3>
<figure>
<img alt="補骨脂">
</figure>
<p>興陽事。止腎泄。甘溫辛苦之功。固精氣。愈腰疼。益火消陰之力。虛寒咳嗽。補納有權。滑數便遺。攝虛可賴。夢遺濕火當須禁。便約津枯切勿投。（補骨脂一名破故紙。辛熱入腎。助火益陽。凡命門真火不足。以及五更泄瀉。腎冷精流等證。皆可服之。其所以治喘者。亦惟腎臟虛寒。真氣上逆之證。但辛熱香燥之物。善助濕熱。倘下焦有濕。陰虛有熱者。均須遠之。）</p>

<h3>澤蘭</h3>
<figure>
<img alt="澤蘭">
</figure>
<p>辛香無毒。甘苦微溫。行水消瘀。入肝脾而解散。除風逐濕。行經絡以分消。若夫另有佩蘭。開鬱功多。能省頭中垢膩。且可宣除陳腐。辛香較勝。堪醫脾病消癉。（澤蘭生澤旁。其葉如蘭而香。苦辛而溫。入肝脾二經消瘀行水。以其溫而帶甘。故不傷正氣。婦人多用之。治血化為水之證。尤為入彀。治風者亦血行風自滅耳。況兼味辛而為葉者乎。佩蘭一名省頭草。辛平氣香。入肺脾肝三經。功用相似澤蘭。而辛香之氣過之。故能解鬱散結。殺蠱毒。除陳腐。濯垢膩。辟邪氣。至於行水消瘀之效。二物亦相仿耳。但澤蘭治水之性為優。佩蘭理氣之功為勝。又為異也。）</p>

<h3>益智仁</h3>
<figure>
<img alt="益智仁">
</figure>
<p>補心脾。益火消陰。縮泉止唾。味辛苦。氣香性熱。固腎培元。暖胃祛寒。嘔可平而痛可止。溫中進食。滯能宣導郁能開。（益智仁味苦辛。性熱氣香。入心脾腎。補火生土。能攝納上下諸氣。縮泉止唾。惟芳香之氣。獨喜歸脾。故能啟脾胃。進飲食。開鬱結。散寒邪。而陰虛有火者為不宜耳。）</p>

<h3>蓽撥</h3>
<figure>
<img alt="蓽撥">
</figure>
<p>宣胃腑之沉寒。冷滯能消嘔吐散。治陽明之浮熱。頭風自愈齒疼安。呃逆腸鳴。辛熱且能下氣。吞酸痰阻。芳香自可宣中。（蓽撥大辛大熱。味類胡椒。入胃與大腸。陽明藥也。溫中散寒。破滯氣。開鬱結。下氣除痰。又能散上焦之浮熱。凡一切牙痛頭風吞酸等證。屬於陽明濕火者。皆可用此從治之。）</p>

<h3>良薑</h3>
<figure>
<img alt="良薑">
</figure>
<p>除寒止心腹之疼。辛溫有效。散逆治清涎之嘔。脾胃偏宜。（良薑辛溫入脾胃。逐寒邪。止腹疼。雖燥而無香烈之性。其所以平嘔吐。治清涎。溫脾暖胃四字足以盡之。）</p>

<h3>蛇床子</h3>
<figure>
<img alt="蛇床子">
</figure>
<p>助陽暖下。有祛除寒濕之功。入腎行脾。乃辛苦性溫之力。陰蝕蟲瘡等證。煎洗頗宜。風淫疥癩諸瘡。外敷有效。（蛇床子辛苦溫。微毒。入腎臟。補下元。祛寒濕。暖子宮。殺蟲疥。治陰痿囊濕等證。古人每用以內服。極云有效。今皆外治方多用之。或煎湯熏洗。或研末調敷。亦世俗之不同耳。）</p>

<h3>丹皮</h3>
<figure>
<img alt="丹皮">
</figure>
<p>清少陽血分之火邪。寒而更苦。散營分瘀留之熱結。香以兼辛。色丹併入乎心肝。可治有邪於經隊。性竄直通夫腎臟。能除無汗之骨蒸。（丹皮辛能散。苦能泄。寒能清。色赤能走血分。有香竄之性。入肝膽心腎三焦血分。能涼血散血。凡血分風熱瘀滯等證。悉可用之。因其寒而走散也。）</p>

<h3>甘松</h3>
<figure>
<img alt="甘松">
</figure>
<p>醫胃腑之寒疼。甘溫辟惡。散脾家之鬱結。香燥除邪。（甘松甘溫而香。入脾胃。開鬱結。雖無補養之力。卻有醒運之功。加入補脾藥中。甚為得力。至於辟惡氣。療腹痛。殺蟲治療。皆甘溫芳香之用耳。陰虛不宜燥散者忌之。）</p>

<h3>山柰</h3>
<figure>
<img alt="山柰">
</figure>
<p>性味相同前藥。略過於辛。治療頗似甘松。同歸乎散。滌邪解穢。濯髮香肌。（山柰一名山辣。味辛而溫。氣香而散。暖脾胃。治腹痛。闢瘴癘惡氣。合諸香藥皆用之。服食治病為少耳。）</p>

<h2>水草類</h2>

<h3>菖蒲</h3>
<figure>
<img alt="菖蒲">
</figure>
<p>為水草之精英。氣稟芳香質屬燥。治風痰之痹閉。味含辛苦性偏溫。開心竅以祛邪。資其宣導。利清陽之蒙閉。賴以聰明。（菖蒲辛苦而溫。芳香而燥。入心家。通神明。闢鬼魅。豁痰宣竅。以其生水石間。故又能散水邪。凡一切心積伏梁癲癇等證。皆可用之。宜產石上。其根一寸九節者良。出泥中大者不堪用。）</p>

<h3>澤瀉</h3>
<figure>
<img alt="澤瀉">
</figure>
<p>鹹寒入腎。治相火之陽邪。甘淡通淋。滲膀胱之濕熱。（澤瀉甘淡鹹寒。入腎與膀胱導下焦水濕垢濁。自然濕熱除。相火降。邪去則正受益。故補腎藥中。每每相兼用之。非澤瀉真有補性也。不過一於利水而已。）</p>

<h3>蒲黃</h3>
<figure>
<img alt="蒲黃">
</figure>
<p>破血涼瘀。生用可行熟可止。味甘性冷。損傷能散腫能消。入心肝以達脾。通經脈而治痛。（蒲黃即香蒲花之心也。色黃氣香。入心肝脾三經血分。其性甘涼。故能涼血散血。取凡花皆散之意。凡一切血分瘀滯之病。皆可用之。但輕香走散之品。似乎上焦病為尤宜。炒黑則能止血。以紅見黑則止。水勝火也。）</p>

<h3>海藻</h3>
<figure>
<img alt="海藻">
</figure>
<p>咸以軟堅。消癭利水。寒能入腎。退熱除痰。（海藻生海中。其葉如發。即水藻之屬也。鹹寒潤下之品。軟堅行水。是其本功。故一切瘰癧癭瘤頑痰膠結之證。皆可用之。然咸走血。多食鹹則血脈凝澀。生氣日削。致成廢疾不起者多矣。）</p>

<h3>昆布</h3>
<figure>
<img alt="昆布">
</figure>
<p>功用相同海藻。治療亦本鹹寒。（昆布生海中。其葉如布。性味主治與海藻相同。故每相兼而用。然有病則病當。若藥過病所。則非徒無益。而又害之。）</p>

<h3>浮萍</h3>
<figure>
<img alt="浮萍">
</figure>
<p>發汗以開鬼門。味辛有效。行水而潔淨府。性冷多功。輕浮入肺可祛風。行蹤無定。解散行經能勝濕。到處為家。（浮萍生水中。浮水面。其葉小而背紫。葉下有根如須。飄流水中。不著泥土。輕浮辛寒。入肺經。發汗之功。並於麻黃。但麻黃性溫。浮萍性寒為異。且浮萍利水之功。麻黃所不能耳。）</p>

<h3>箬葉</h3>
<p>血因熱逼妄行。治標炙研服。性本甘寒無毒。欲表水煎嘗。其功本屬輕揚。其用直清肺胃。（箬葉甘寒。入肺胃二腸。功與蘆根相似。若血因熱逼而妄行者。用此燒灰服之。亦寒能勝熱。黑可勝紅之意耳。箬葉雖寒降。而有輕揚解散之意。故與蘆根有根與葉之不同也。）</p>

<h2>石草類</h2>

<h3>石斛</h3>
<figure>
<img alt="石斛">
</figure>
<p>除陽明之虛熱。味甘鹹以微寒。悅胃厚腸。肺腎並清陰受益。金釵干霍。方宜所產力難齊。鮮者治病除邪。每相宜於時證。川者氣輕味薄。究功用之平常。（石斛味甘鹹。微寒。入肺胃腎三經。清虛熱。以其甘多寒少。故能悅胃厚腸。入陽明之力為多。然畢竟氣輕味薄之品。非可以御病也。）</p>

<h3>骨碎補</h3>
<figure>
<img alt="骨碎補">
</figure>
<p>苦能堅腎。溫可補虛。行瘀血以理勞傷。長鬚發併除風氣。（骨碎補一名毛薑。入腎補虛。腎主骨。故名。其苦溫之性。又能破瘀血。續絕傷。所以治風氣者。亦因腎虛痹著於骨也。浸水刷頭能長髮。）</p>

<h3>石葦</h3>
<figure>
<img alt="石葦">
</figure>
<p>導濕熱以通淋。甘苦微寒。下行火腑。清肺金而利水。分消降濁。直達州都。（石葦生石上。其葉如布。甘苦微寒。上清肺熱。下達膀胱。利濕熱。通淋濁。主治不過如此。亦不常用之物也。）</p>

<h3>絡石藤</h3>
<p>味苦性平。宣風通絡。（絡石藤凡藤蔓之屬。皆可通絡宣風。以風在絡中。則絡道閉塞。況苦平之性。又能宣發者乎。）</p>

<h2>毒草類</h2>

<h3>半夏</h3>
<figure>
<img alt="半夏">
</figure>
<p>性溫體滑。入陽明並走心脾。質燥味辛。治嘔吐專消痰飲。通陰陽而和胃。不寐堪醫。散逆氣以調中。郁邪可解。痰厥頭疼當取服。中風暴卒急宜求。辛潤通腸。半硫主津凝虛閉。溫宣消痞。製法系薑汁青鹽。（半夏味辛。質滑。性溫。有小毒。善劫痰水。導大便。痰水去則土燥。脾喜燥而惡濕。故宜之。味辛善散逆結之氣。故能解鬱調中。為治嘔吐蠲飲邪之聖藥。總之脾有濕邪者宜用。若陰虛血燥之人當為禁服。）</p>

<h3>南星</h3>
<figure>
<img alt="南星">
</figure>
<p>溫燥能行。逐風痰於肝臟。苦辛有毒。散堅結於脾家。性剛善走夫陽明。妊娠忌用。製法須藏乎牛膽。驚癇宜求。（南星一名虎掌。其根大如掌。四圍有子。形皆扁。故名。苦辛溫有毒。入太陰陽明厥陰。治風痰。散堅結。但性燥而緊。猛於半夏。能散血墮胎。用牛膽套之。制其燥烈之性。善治肝膽經風痰。為小兒癇痙等證要藥。）</p>

<h3>附子</h3>
<figure>
<img alt="附子">
</figure>
<p>味辛性熱。能回脾腎元陽。質燥氣剛。可逐下中寒濕。斬關奪門之將。痼冷何愁。善行疾走之功。沉寒立解。或溫經發汗。痹病賴此以宣通。或益氣調營。補藥仗之而有力。烏頭即附子之母。性猛祛風。天雄乃烏附之長。形單無附。均皆有毒。各自分名。（附子甘辛大溫。有毒。烏頭如芋婆。附子如芋子。從勞相附而生。入脾腎。助元陽。逐寒濕。其性剛猛。為剽悍之將。同表藥則發散。同補藥則溫補。烏頭之性味相同附子。但附子長於治寒。烏頭長於治風。附子可用於補藥中。烏頭則不能。故烏頭燥散之性。較附子為過之。天雄乃烏頭之形長。而四圍無附子者。故為之雄。性味主治。與烏頭相同。而方尤大。以上皆出川中。土人種植而貨也。另有一種草烏。系野出。雖能治大風頑痹等證。直前無往。見效固速。然辛熱大毒之物。不可輕用。）</p>

<h3>白附子</h3>
<figure>
<img alt="白附子">
</figure>
<p>入陽明治頭面之邪風。辛甘而苦。性燥毒治胃家之寒濕。溫散而升。（白附子辛甘而溫。有小毒。不若川附之剛猛。雖性味相同。而主治各異。其形似天雄而長。曬乾則有節。入陽明經。治風痰。燥寒濕。其功長於上焦。故能治頭面之遊風。非若川附之能達下焦。亦不及南星之散堅消腫。善行疾走。可入肝脾耳。）</p>

<h3>蚤休</h3>
<p>癰毒能消。味苦寒而散結。熱瘀可化。殺蟲積以通肝。（蚤休苦寒有毒。其苗一莖直上。每層七葉。至頂而花。根如菖蒲之根。入肝經。涼血散瘀。故能消癰殺蟲毒。至其能治驚痰等證。大抵亦因鬱熱而然耳。）</p>

<h3>大黃</h3>
<figure>
<img alt="大黃">
</figure>
<p>沉降下行。苦寒有毒。通腸滌胃。瀉實熱之稽留。破積行瘀。蕩諸邪之閉結。制炒偏通於小便。分消善導乎州都。（大黃苦寒沉降。氣味俱厚。入脾胃大腸血分。能盪滌瘀留結熱之實邪。長驅直下。破堅積。除癥瘕。若寒滯積結。有溫下之法。虛人挾積。有補瀉並行之法。故溫藥補藥。皆可相輔而行。相機而用。若經酒製蒸炒。則專行小腸膀胱。治濕熱癃閉等證。故生熟異用耳。）</p>

<h3>商陸</h3>
<figure>
<img alt="商陸">
</figure>
<p>苦辛有毒。入脾胃逐水通腸。沉降偏寒。疏臟腑散堅消腫。（商陸味苦辛寒。沉陰有毒。入脾胃大腸。瀉水消腫。其毒烈之性。與大戟甘遂相同。但可治陽水實邪。若脾腎虛寒而屬陰水者。不宜用之。有赤白二種。白走氣。赤走血。瀉水雖同。惟赤者可外敷癰腫耳。）</p>

<h3>芫花</h3>
<figure>
<img alt="芫花">
</figure>
<p>入肺脾而兼腎。窠囊水飲立蠲除。導上下以通腸。留伏濕痰頓解化。散瘀消腫。味苦而辛。治癖殺蟲。性溫有毒。（芫花味苦辛。色黃赤。性溫有毒。入脾肺腎三經血分。專瀉上下水邪。以其為花也。故能瀉而兼散。非比商陸之沉降。不能破血。且性之寒溫亦異耳。然有毒之品。不可輕投。）</p>

<h3>大戟</h3>
<figure>
<img alt="大戟">
</figure>
<p>通腸滌臟。味辛苦而沉寒。導水行瘀。入肝脾而達腎。亦能發汗。且可消癰。澤漆乃是其苗。陰毒之功類戟。（大戟稟天地陰毒之氣。其根色紫黑帶黃。味辛苦而寒。服之戟人咽喉。入肝脾腎三經血分。功專瀉水散結。通達臟腑。且能行瘀消腫。發汗治風。有毒而能攻毒。故又能治蠱毒疫毒等證。澤漆即大戟苗。性味功用。與大戟相同。似乎苗葉之功。長於治上。故金匱有治咳而脈沉者。澤漆湯主之之一法也。）</p>

<h3>甘遂</h3>
<figure>
<img alt="甘遂">
</figure>
<p>潔淨府而有功。入腎通腸。直達水邪所結處。宣經隊而無滯。性寒味苦。生成陰毒勿輕投。（甘遂此藥專於行水攻決為用。味苦能泄。寒勝熱。直達水氣所結之處。乃瀉水之聖藥。腎主水。故入腎經。能去痰者。以痰之本水也。但不可輕用耳。）</p>

<h3>蓖麻子</h3>
<figure>
<img alt="蓖麻子">
</figure>
<p>辛溫有吸引之功。宣風利竅。苦毒為外敷之藥。拔腐提膿。（蓖麻子辛苦微甘。性溫有毒。雖有宣風利水之能。然畢竟外用之物。長於吸引提拔。故凡口眼喎斜。以及婦人子宮下墜等證。皆可用此研塗。至於外科提膿化腐。尤為得力耳。）</p>

<h3>射干</h3>
<figure>
<img alt="射干">
</figure>
<p>瀉肺胃之結邪。苦降辛開。性平有毒。利咽喉之腫痛。消痰破血。力猛無餘。（射干辛苦平。微寒微毒。即扁竹根。專入肺兼達於肝。降火降痰。行瘀散結。能通利大腸。故凡肺癰喉痹之屬實火者。皆可用之。金匱鱉甲煎丸用之者。亦入肝之一驗也。）</p>

<h3>常山</h3>
<figure>
<img alt="常山">
</figure>
<p>服之吐利。劫肝胃蘊蓄之痰。味則苦辛。截痎瘧稽留之病。苗名蜀漆。宣發多功。氣屬腥寒。虛羸當禁。（常山辛苦性寒。有腥氣。入肝胃。劫痰蠲飲。能吐能利。或痰在上膈。或生用多用。或與甘草同用則吐。或痰飲在下。須同大黃並用。否則大便點滴而下。如痢者然。總之常山瞑眩之藥。不可妄用。惟截瘧用之者。以瘧必有老痰宿飲留聚其間。故用此劫劑耳。蜀漆即常山苗。性味主治相同。但宣發之功較勝。亦根與苗略異耳。）</p>

<h3>藜蘆</h3>
<figure>
<img alt="藜蘆">
</figure>
<p>辛苦大寒。沉陰有毒。專司湧吐。能宣胸胃之風痰。善殺蠱蟲。且愈肺脾之癬疥。（藜蘆其蘆有黑皮包之。其根如蔥。辛苦大寒。有毒。入肺胃。入口即吐。凡風痰在膈。以及蠱毒等證。與夫癲癇不愈。久瘧久哮者。皆可用之取吐。又能吹鼻取嚏。外敷疥癬。亦瞑眩之藥耳。）</p>

<h3>藘茹</h3>
<figure>
<img alt="藘茹">
</figure>
<p>散瘀積之稽留。烏鰂藘茹。經方有法。達肝家之脈絡。辛鹹寒毒。風癩兼宜。（藘茹即䕡茹。其根皮黃色。肉帶黑色。折之有汁出。辛鹹寒毒。入肝經。宣通脈絡中瘀血。血行風自滅。故本經又稱其能治大風。又能殺疥蟲。排膿血。蝕惡肉。除癥瘕。然寒毒之品。亦非可常用之物也。）</p>

<h3>續隨子</h3>
<figure>
<img alt="續隨子">
</figure>
<p>性稟辛溫。氣滯血瘀能盪滌。質原毒厲。水停積結盡消除。所入者肝肺二腸。所利者疫邪濁惡。（續隨子一名千金子。辛溫有毒。入肝肺二經。下水破血。利大腸。治蠱毒。服之即瀉。能下一切滯濁惡物。然用之不當。損人最速。）</p>

<h3>玉簪花根</h3>
<p>消腫軟堅功至速。取牙有毒味辛寒。（玉簪花根辛寒有毒。入腎。軟堅消腫。下骨哽。取蟲牙。故方士取牙方中多用之。但最易損齒。用之宜慎耳。）</p>

<h3>急性子</h3>
<p>透骨軟堅。當知味苦性溫。毒能消積。催生滑竅。須識行瘀化哽。降可寬喉。（急性子即鳳仙子。色黑。苦溫。入腎。凡子皆降。此子降性尤急。故名。透骨軟堅。催生滑竅。考其性能入血分。行瘀降氣。故能治大人噎膈。小兒痞積等證。又能闢蟲。以此草蟲不蛀。蜂蝶不過。其為有毒可知。似不宜於服食耳。）</p>

<h3>風茄花</h3>
<p>服食如麻。可止瘡瘍疼痛。辛溫大毒。能宣痹著寒哮。（風茄花一名曼陀羅花。味辛性溫。入肺。有大毒。主治大風頑痹一切諸痛。研末熱酒沖服五分。令人發麻。昏昏如醉。割瘡火炙。不知痛也。至於服之令人癲狂。則亦未必耳。總之治病之藥頗多。不必用此險惡之品也。）</p>

<h3>鬧羊花</h3>
<p>痹痛風寒須審用。辛溫毒烈勿輕投。（鬧羊花一名羊躑躅。羊食之即躑躅而死。故又名羊不食草。辛溫。有大毒。主治功用。與風茄花相似。雖古方治風痹癱瘓等疾。浸酒方中偶用之。然每每功未見而禍隨之。豈可妄用乎。）</p>

<h3>狼毒</h3>
<p>辛平苦毒。破僻積治蠱消瘀。陰蝕蟲瘡。有狼牙煎熏洗滌。（狼毒辛苦平。大毒。雖有破積殺蟲逐痰行血之功。然畢竟非內服之品。只可外治蟲癬等證。或洗或搽可也。狼牙苦寒大毒。其根形如牙。本經雖有除熱殺蟲諸功。然亦如狼毒之外用不宜內服也。）</p>

<h1>木部</h1>
<p>（李時珍曰。木者。五行之一也。性有宜土宜山原隰之不同。稟有或喬或香苞寓之殊異。是以堅脆美惡。同含太極之情。因之色味性形。各賦方宜之質。材充藥品。業醫者固當預悉其寒溫。實備果疏。衛生者豈可不審其良毒也哉。）</p>

<h2>喬木類</h2>

<h3>槐花</h3>
<figure>
<img alt="槐花">
</figure>
<p>稟天地陰凝之氣。涼血清肝。除下焦濕熱之邪。祛風療痔。虛寒當戒。角則降且通腸。酸苦宜知。花可散而達表。（槐花花與實性味雖同。主治略異。花色黃質輕。能入手足陽明血分。涼而帶散。故治腸風痔漏之外。又能治癰疽毒瘡。皮膚風濕等證。槐角則所結之子也。色紫質重。但入肝與大腸。下降之力為多。故治腸風痔漏之外。兼治崩帶下血。由於下焦血分有熱者。皆可用之。）</p>

<h3>黃柏</h3>
<p>苦寒堅腎。瀉相火以制陽光。辛燥入陰。除濕熱而安下部。（黃柏其質雖皮。其氣味皆苦寒沉降。故獨入腎與膀胱。清泄下焦濕火。而安腎水。至所以治口瘡。清肺部上焦之熱者。即用皮意。究非專治之藥。雖清上而仍賴其降下耳。）</p>

<h3>杜仲</h3>
<figure>
<img alt="杜仲">
</figure>
<p>氣溫而厚。味甘且辛。益腎培肝。腰膝虛疼用取治。除寒勝濕。筋皮連續類相求。（杜仲其樹一名木綿。杜仲即其皮也。折之有絲不斷。色紫獨入肝經。味辛甘而溫。善祛逐下焦寒濕。邪去則肝得溫養。以遂其生髮之性。乙癸同源。子實則母不虛。故又能補腎也。須知杜仲祛邪之力有餘。補養之功不足耳。）</p>

<h3>蕪荑</h3>
<p>治肺經蟲積疳癆。辛平無毒。去子臟風邪垢膩。洗服均良。（蕪荑其樹類榆。結實似榆莢。一名楩樹。蕪荑即其子也。辛平臭膻。入肺與大腸。專殺諸蟲。除一切鬱熱垢膩。以杜其生蟲之源耳。）</p>

<h3>厚朴</h3>
<figure>
<img alt="厚朴">
</figure>
<p>辛能達表。解風寒外客之邪。苦可宣中。破脘腹內留之滯。陰凝濕聚。燥可蠲除。平胃寬胸。溫能疏暢。（厚朴出川中。朴樹之皮。其皮甚厚。故名。辛苦而溫。性燥善散。入脾胃氣分。逐濕宣中。散胸腹一切陰凝滯氣。疏肌表一切風寒濕邪。溫燥破氣之品。虛人禁之。）</p>

<h3>海桐皮</h3>
<figure>
<img alt="海桐皮">
</figure>
<p>味苦性平。治痹疾諸邪。羈留下部。循經達絡。入腎肝血分。宣導沉疴。（海桐皮生南海山谷中。樹似桐。其皮黃白色。有刺。故一名刺桐。苦平無毒。沉降下行。能入肝腎血分。循經達絡。蠲除下焦風寒濕痹。為宣散之品耳。）</p>

<h3>合歡</h3>
<p>安五臟以益心脾。智足神充。功能夜合。味甘平而蠲忿怒。調營止痛。力主中和。（合歡一名烏樹。又名夜合。其樹如枸橘形。葉如皂莢葉。至夜即合。用皮用花。各隨所便。皮可行皮。花能養血。甘平之性。入脾胃。長肌肉。續筋骨。補而不滯。益神智。蠲忿怒。畢竟無甚治功。至於不寐一證。各有成病之由。不可因其有夜合之名而濫用之也。）</p>

<h3>秦皮</h3>
<figure>
<img alt="秦皮">
</figure>
<p>味苦氣寒。色青性澀。主少陽協熱之痢疾。逐水行皮。洗厥陰濕火之陽邪。祛風明目。（秦皮浸水色青。書紙不落。且不沾水。故入肝膽二經。以其性寒也。故專清肝膽之濕火。其主治一切之病。皆由肝膽濕火所致。至能益精者。亦邪熱去則精自益耳。）</p>

<h3>西河柳</h3>
<figure>
<img alt="西河柳">
</figure>
<p>性溫。味屬甘鹹。透發痧疹。具宣表松肌之力。化毒功歸脾胃。浴除風癢。有解酒利便之功。（西河柳。此柳遇天之將雨。望之必有鬱蒸之氣以應之。味甘鹹。微溫。入脾胃。行肌肉。通肢節。故能透發痧疹。蠲除風癢。皆在用之者取意耳。）</p>

<h3>榆白皮</h3>
<figure>
<img alt="榆白皮">
</figure>
<p>皮能入肺。性黏滑導滯通腸。榆令人瞑。味甘平和脾消水。（榆白皮性極黏滑。故香作用之。勝於膠漆。其性甘平無毒。入脾胃。利二腸。滑胎導滯。無非皆取滑利之功。然下降之物。不可因稽康有榆令人瞑一語而服之。其意不過欲令人之心神。如此物膠黏之狀方可耳。即觀其合歡蠲忿。萱草忘憂。豈以二物服之。果能蠲忿忘憂乎。考榆白皮之性。甘平無毒。畢竟非攻伐之品。故古人有榆羹榆面等服食諸法。可以充飢。可以辟穀。然其滑降之性多。恐耗津液耳。）</p>

<h3>大風子</h3>
<figure>
<img alt="大風子">
</figure>
<p>有殺蟲劫毒之功能。味辛性熱。為搽癬塗瘡之要藥。燥濕除風。（大風子辛燥有毒。雖有祛風殺蟲之功。然外治卻有奇效。總非內服之品耳。）</p>

<h3>巴豆</h3>
<figure>
<img alt="巴豆">
</figure>
<p>盪滌陰凝之物。銳利難當。攻消堅積之邪。直前無阻。沉寒痼冷。賴辛熱以宣通。化腐傷肌。仗膏丹而施用。脾胃大腸皆可入。剛雄有毒勿輕嘗。（巴豆辛熱有毒。盪滌臟腑。沉寒痼冷。留伏堅積。有勇猛直前斬關奪門之勢。破血爛胎。無所不至。生用則力速。炒黑則力緩。或少用緩攻之法。不傷正氣。在人運用得宜。如與大黃並用。則瀉反緩。以巴豆畏大黃也。總之用之得宜。則效如反掌。用不得宜。即參朮亦能為害。況巴豆乎。亦有用之取吐者。如仲景三白散。病在膈上者必吐。在膈下者必利之意。又有用巴豆油蘸紙燃火吹息。以煙燻鼻。能吐喉風痰閉。皆在用者之活變耳。）</p>

<h3>棕櫚皮</h3>
<figure>
<img alt="棕櫚皮">
</figure>
<p>吐血腸紅。達肝肺二經。入營止截。崩中帶下。味苦平性澀。炒黑功長。（棕櫚皮其皮有絲。縱橫如織。如人之絡。味苦澀。性平。入肝達肺。炒黑能入血分。止一切血。凡鼻衄吐血。腸風崩帶。內無邪熱者。皆可用之。然苦能泄熱。苦可下行。暴病亦有用之者。在乎運用耳。）</p>

<h3>皂角</h3>
<figure>
<img alt="皂角">
</figure>
<p>開關利竅。導滯宣風。滌垢行痰。殺蟲化食。或搐鼻而取嚏。或探吐以稀涎。或瘡毒用以外敷。或疫癘取其焚氣。性味竄通腑與臟。辛鹹潤下毒而溫。角刺純辛。力尤鋒銳。其搜風殺蟲之治。用若相同。而潰癰散毒之長。功能獨擅。角子燒灰。能通閉結。腸風致病。可仗鹹溫。（皂角辛鹹溫有毒。攻散峻厲之品。入肺與大腸。無邪不散。無堅不破。故能開關導滯。以其辛也。故能宣風利竅。以其咸也。故能潤下豁痰。又邪在上者用之。可以取吐。如喉痹喉風之屬。邪在下者用之。可以攻下。如食積痰結之類。至於外治之效。則殺蟲治癬。敷腫毒。止牙疼。信手拈來。頭頭是道。角刺則辛而不咸。其鋒銳之力。能直達病所。凡治外證。潰散之力頗多。角子鹹溫性降。善導大腸風閉燥結。疏通一切滯氣。皂有三種。形如豬牙者為牙皂。形長三四寸。肉厚多脂者為肥皂。形長七八寸。無肉而瘦者為皂莢。皆可用之。）</p>

<h3>訶子</h3>
<figure>
<img alt="訶子">
</figure>
<p>斂肺除痰。降逆溫通能下氣。固腸治痢。酸收苦泄各隨方。大腸有濕熱者忌投。肺部有火邪者勿用。（訶子苦降之力有餘。酸澀之性不足。故能下肺氣。除胸膈痰食結氣。仲景以之治氣痢。用之治氣也。後世但用以斂肺澀腸。而忘其除痰下氣。亦疏矣。總之此物同烏梅五味用。則斂。同陳皮厚朴用。則泄。各隨其宜耳。以其性溫。故宜寒病不宜熱病。）</p>

<h3>川楝子</h3>
<figure>
<img alt="川楝子">
</figure>
<p>清肝火。利小腸。濕熱疝瘕。專療熱厥痛。味苦寒。性有毒。溫邪蟲積。並治小兒疳。根皮達下殺諸蟲。性味相同無別用。（川楝子此樹處處有之。以川中者為佳。有雌雄兩種。雄者無子。根皮色赤。不可用。雌者有子。根皮色白。可用之。一云其子鳥不食者。不可用。苦寒之性。入心肝小腸膀胱。能導熱下行。治熱厥心痛。凡一切疝氣蟲疳等證。由於濕熱所致者。皆可用之。根皮專殺蟲積。洗服皆效。如煎服當去粗皮。以近泥有毒也。）</p>

<h3>樗白皮</h3>
<figure>
<img alt="樗白皮">
</figure>
<p>味苦兼澀。性燥且寒。固下有功。治痢療崩愈帶濁。入腸奏效。涼瘀逐濕愈風虛。（樗白皮即臭椿樹根皮也。此樹有二種。香者名椿。臭者名樗。苦寒性澀。入大腸能斷下。凡腸澼痢疾因於濕熱留結久而不愈者。皆可用之。時珍以椿皮色赤而香。入血分。其性澀。樗皮色白而臭。入氣分。其性利。故主治之功雖同。而澀利之性則異。諸家本草皆未言及。錄之以備參考。）</p>

<h3>郁李仁</h3>
<figure>
<img alt="郁李仁">
</figure>
<p>順氣搜風。燥結立開津易耗。通腸導水。腫浮頓退脹全消。辛苦甘酸。平和潤降。（郁李仁辛苦微甘微酸。性平。專主潤降。通大腸。潤燥結。導一切水閉風閉氣閉等證。但降利之性太過。恐結去而津耗耳。）</p>

<h3>蘇木</h3>
<figure>
<img alt="蘇木">
</figure>
<p>味甘鹹而平性。入心肝以達脾。活血行瘀。消風散腫。（蘇木此物專走血分。活血行血而無別用。雖味甘鹹平無毒之品。然血中無滯者。仍屬不宜。能治風。亦血行風自滅耳。）</p>

<h3>乾漆</h3>
<figure>
<img alt="乾漆">
</figure>
<p>破血消瘀。能續絕和傷。通行肝絡。辛溫有毒。除痹風寒濕。善殺蟲瘡。（乾漆。漆乃樹之津液。乾漆者。即漆店中桶內所結之漆也。辛苦鹹溫。有大毒。觀其能爛人肌膚。或生漆瘡。可知。本經稱其能續絕傷。安五臟。久服輕身延年等語。蓋蕩煉邪滯。則臟腑安。猶除暴即所以安良也。總之乾漆乃破血化積之品。殺蟲尤其餘事耳。）</p>

<h2>灌木類</h2>

<h3>五加皮</h3>
<figure>
<img alt="五加皮">
</figure>
<p>治下焦痹濕風寒。苦辛兼備。強腰膝虛羸痿躄。肝腎鹹溫。（五加皮其樹一枝五葉。有交加之象。故名。辛苦溫無毒。入肝腎。祛散下焦風寒濕痹。腰膝疼痛。腳氣痿弱等證。邪去則肝腎強。筋骨利。故能益精補虛。此物雖無純補之功。亦無損正之害。是以有久服輕身之說也。如肝腎虛。下部無風寒濕邪而有火者勿用。）</p>

<h3>蔓荊子</h3>
<figure>
<img alt="蔓荊子">
</figure>
<p>宣肺家風熱於上焦。頭目均沾清利益。散肝臟濕淫於肌表。功能皆賴苦辛平。（蔓荊子辛苦性平。雖屬子而體質輕浮。入肺經上行宣散。故能清利頭目。解表疏風。能搜肝風者。不特風氣通於肝即風藥亦能入肝也。又能治濕者。風能勝濕也。）</p>

<h3>桑白皮</h3>
<figure>
<img alt="桑白皮">
</figure>
<p>瀉肺火之有餘。降逆消痰嗽可愈。性甘寒而無毒。疏邪利水脹能松。子能養血生津。質甘且潤。枝可祛風活絡。味苦而平。（桑白皮刮去近土粗皮。取純白者用。甘寒微苦微辛。色白性寒。入肺善降。利大小腸。故能瀉肺中之火。降氣行水。如是則水腫痰嗽風氣諸病皆可愈耳。子名桑椹子。乃桑之精華所結。味甘色紅。熟則紫黑。能入肝經血分。養血補肝。血活則風散也。桑枝能達四肢。行經絡。利關節。助藥力苦平之性。為祛風良藥也。）</p>

<h3>桑葉</h3>
<p>得箕星之精氣。能搜肝絡風邪。稟青帝之權衡。善泄少陽氣火。眵淚羞明等證。仗此甘寒。豆風目眩諸般。藉其疏利。（桑葉經霜者佳。凡葉皆散。其紋如絡。故能入絡。疏風通肝達肺。桑乃箕星之精。箕好風。故尤為入肝搜風之要藥。肝膽相連。又能疏泄少陽氣分之火。凡一切目疾頭風等證。由於風熱者。皆可用之。）</p>

<h3>女貞子</h3>
<figure>
<img alt="女貞子">
</figure>
<p>賦楨幹不雕之性。具甘涼純靜之功。入腎臟以益陰。目昏復見。達下焦而退熱。發白重烏。（女貞子即冬青樹之子。色紫黑。味甘苦平。此樹凌冬不雕。稟少陰之精。故能入腎益陰。水足則目明熱退。如是則五臟可安。精神可養。故本經列之上品也。）</p>

<h3>蕤仁</h3>
<figure>
<img alt="蕤仁">
</figure>
<p>宣風熱於肝家。眼目有災。氣升宜降。散結痰於心腹。甘寒無毒。性滑偏陰。（蕤仁本經稱其甘溫。然觀其主治心腹邪熱結氣。又治目赤腫痛等證。非溫性之藥所宜。故別錄言其性寒。卻為有據。其潤降之性。由肺達肝之意可想也。）</p>

<h3>金櫻子</h3>
<figure>
<img alt="金櫻子">
</figure>
<p>味酸澀以性溫。達肝脾而入腎。澀精固氣。虛而無火則相宜。閉蟄封藏。病若有邪慎勿使。（金櫻子酸澀性溫。然須帶生採之。太熟則色紅味甘。全失澀味。且服之利人。故採藥當及時也。凡子皆降。可入下焦。其功全在固澀。凡一切久痢遺精。大小便不固。無邪熱者。皆可用之也。）</p>

<h3>山茱萸</h3>
<figure>
<img alt="山茱萸">
</figure>
<p>性斂偏溫。固精補腎。味酸而澀。壯水生肝。（山茱萸酸溫無毒。入肝腎。肝主疏泄。腎主閉藏。疏泄太過。則滑脫不禁。當用酸澀之劑以收之。況遺精便滑。小便不固。以及虛汗等證屬虛者哉。使元氣固則精血充。是以為之補也。此物如五味之酸味太甚。於人之氣血不甚相宜。雖虛脫者亦宜酌用。有邪火為患者。尤當禁之。）</p>

<h3>山梔</h3>
<figure>
<img alt="山梔">
</figure>
<p>味苦通心。導熱歸腸寒勝火。氣輕達肺。炒焦入血黑平紅。仁則解鬱熱於胃中。殼乃退陽邪於皮部。（山梔其形尖圓。色赤象心。其質輕浮入肺。苦寒性降。能清心肺上焦之邪熱。屈曲下行。從小腸膀胱而出。炒黑則能清血分鬱熱。若邪熱在胸膈蘊結不下。則生用。梔仁亦能取吐。非山梔為吐藥。不過引之作吐。以順病勢。所謂其高者因而越之也。）</p>

<h3>枳殼</h3>
<figure>
<img alt="枳殼">
</figure>
<p>利膈寬胸。辛苦性寒破氣滯。行痰逐水。和中化食入陽明。（枳殼亦橘類。逾淮而北為枳。南即為橘。此亦地道使然。因之性味主治各異。枳殼即枳實之大者。味苦辛。性寒。專主破氣。氣順則胸膈利。痰行水消。三焦通泰。邪熱蠲除耳。如欲制其燥性。助其消導。可炒黑用之。）</p>

<h3>枳實</h3>
<figure>
<img alt="枳實">
</figure>
<p>性味與枳殼相同。功力較老者更猛。瀉痰破積。承氣賴之以先聲。導水行瘀。金匱取之而下達。治痞堅之峻劑。攻氣分之神丹。（枳實即枳殼之初生而未熟者。如青皮陳皮之類。性味主治皆同。而功力頗猛。故破積行血。消食消痰。皆賴之以承其氣。或與補藥同用。或與瀉藥並投。在人之運用耳。）</p>

<h3>石楠葉</h3>
<figure>
<img alt="石楠葉">
</figure>
<p>入腎善宣風氣。苦辛平有毒須知。助陽可勝濕邪。筋骨肉無微不到。（石楠葉生山谷間石上。其樹皆向陽。故名。一云鴆鳥止於樹上。一云下有蝮蛇。故有毒。土人稱之為風藥。故善治風。其葉類枇杷葉。而背無毛。光而不皺。本經稱其養腎氣。別錄言女子久服思男。不過皆因其有助陽之功。然辛苦有毒之品。只可用之以治風寒痹著之邪。邪去則筋骨利。肝腎安。不可謂其補而喜服也。）</p>

<h3>木芙蓉</h3>
<p>敷圍一切癰疽。消腫排膿能止痛。涼散諸般瘀熱。味辛質滑性平和。（木芙蓉味辛性寒。入肺經。涼血散熱。其質黏滑。凡一切癰疽疔毒。無論已潰未潰。皆可敷之。極能消腫止痛。涼血解毒耳。）</p>

<h3>山茶花</h3>
<figure>
<img alt="山茶花">
</figure>
<p>色赤入營涼血分。味甘微苦散瘀邪。（山茶花其花開於冬月。故性寒。其色赤。故入血。凡花皆散。故能涼血散血可知。觀其能治吐血衄血。腸風下血等證。概可想見也。）</p>

<h3>密蒙花</h3>
<figure>
<img alt="密蒙花">
</figure>
<p>功歸肝膽。性屬甘寒。滌熱疏風。治目都因火氣逼。養營潤燥。凡花皆散障邪除。（密蒙花其色紫。故入肝。甘寒無毒。故能潤肝燥。養肝血。因其凡花皆散。故能散肝家之風熱。風熱得去。肝血得養。故一切目疾皆可除也。）</p>

<h3>枸杞子</h3>
<figure>
<img alt="枸杞子">
</figure>
<p>性平色赤。養肝補腎益真陰。質潤味甘。明目添精退虛熱。（枸杞子以甘肅甘州者為上。味甘。子少潤澤有脂。其餘土產者。子多味苦而劣。不堪用。其性平和。不寒不熱。凡子皆降。有收束下行之意。故能入肝腎。生精養血。精血充則目可明。渴可止。筋骨堅利。虛勞等證悉除矣。）</p>

<h3>地骨皮</h3>
<figure>
<img alt="地骨皮">
</figure>
<p>退伏熱以除蒸。深入黃泉。下歸腎部。降肺火而定喘。甘寒白色。清肅金家。（地骨皮即枸杞樹根。入土最深。故名之。去外粗黑皮。取白皮用。味甘。大寒。性降。入肺腎。退伏熱。肺熱降則喘咳除。腎熱除則骨蒸盜汗等病皆愈矣。）</p>

<h3>酸棗仁</h3>
<figure>
<img alt="酸棗仁">
</figure>
<p>入肝臟藏魂鎮攝。用療膽怯無眠。走心家斂液固虛。可治表疏有汗。性頗平滑。味屬甘酸。（酸棗仁凡仁皆可入心。酸者皆入肝。酸甘而平。潤澤之品。故能入心肝。斂液固虛。但善滑大腸。至於炒熟。治膽虛不眠。生用治膽熱好眠之說。亦習俗相沿。究竟不眠好眠。各有成病之由。非一物棗仁可以統治也。）</p>

<h3>鬼箭羽</h3>
<figure>
<img alt="鬼箭羽">
</figure>
<p>味苦氣寒能破血。殺蟲闢鬼並宣風。（鬼箭羽以其形似箭羽。故有鬼箭羽之名。其功能闢鬼魅。治中惡。殺蟲治蠱。然考其苦寒之性。枝葉之用。所入者肝肺兩經。所主者祛風破血耳。）</p>

<h3>川槿皮</h3>
<p>味苦性涼。雖潤燥和營。內方罕服。質黏色赤。可殺蟲治癬。外用多需。（川槿皮川產者佳。土產者即土槿皮。俗稱之謂槿茄。可捍可插。植之為藩籬者也。皮厚色紅。性極黏滑。味甘苦平。微寒。入心肝血分。雖能潤燥活血。治腸風血痢等證。然內服之方甚少。總以殺蟲治癬為外治耳。）</p>

<h2>香木類</h2>

<h3>肉桂</h3>
<figure>
<img alt="肉桂">
</figure>
<p>辛甘大熱。補命門助火消陰。紫赤多香。益肝腎通經行血。腹痛疝瘕等疾。可導可溫。風寒痹濕諸邪。能宣能散。（肉桂產南方粵西安南等處。種類甚多。大抵以色紫肉厚味甜有油者佳。然甜中帶辛。自有一股香竄溫暖之氣。入心肝脾腎四經血分。溫散血分寒邪。破血結。除癥瘕。同補腎藥用。能補命門元陽不足。如格陽戴陽等證。又能引火歸原。如欲補心陽。益脾陽。均可各隨佐使。桂水炒白芍。大能平肝。肉桂皮也。觀其性味。察其主治。無論內寒外寒。在於營分者。皆可治之。）</p>

<h3>桂枝</h3>
<p>體用可通肢。由衛入營宣腠理。辛甘能入血。溫經達絡散風寒。（桂枝即桂樹之枝。故性味與肉桂相同。而主治略異。藥之為枝者達四肢。故能走四肢。通經絡。解散營分風寒。由汗而出表。較肉桂輕清氣味為薄耳。）</p>

<h3>松節</h3>
<figure>
<img alt="松節">
</figure>
<p>治肢節有功。燥濕宣風痹可去。味苦溫無毒。骨強筋利病能除。惟松香具止痛之能。甘溫略異。除消腫與和營之外。功用相同。（松節。松乃木之長。故字從公。其質堅。其性燥。味苦而溫。節乃松之骨也。故能治骨節間風濕。凡一切痹痛腳氣等證。皆可治之。浸酒良。因其能利筋骨。故入肝腎可知。松香即松之脂也。苦而帶甘。其性本燥。其質變潤。故能活血止痛。治風殺蟲。古人煉服之法頗多。皆謂有輕身延年辟穀之功。而今人但知外治耳。）</p>

<h3>柏子仁</h3>
<figure>
<img alt="柏子仁">
</figure>
<p>補心脾而暢中快膈。味貴甘辛。定驚悸以益智安神。性平香潤。（柏子仁味甘辛平。芳香而潤。入心脾氣分。以其入心。故能益智安神。療驚悸。治健忘。以其入脾。故又能快膈調中。美顏色。澤肌膚。蓋柏稟堅貞之氣。而子乃柏之精英也。）</p>

<h3>側柏葉</h3>
<p>涼血消瘀。能入肺通肝。芳香且燥。宣風勝濕。可除崩止痢。甘苦而寒。治臟毒之難痊。醫腸風而易愈。（側柏葉萬木皆向陽。而柏獨西指。蓋稟西方之氣而有貞德者也。入藥惟取葉扁而側生者良。甘苦而寒。芳香而燥。入肝肺大腸血分。涼血燥濕。是其本功。故凡一切吐血衄血血痢血崩腸風臟毒等證。血中有濕熱瘀結者。皆可用之。金能制木。治風辟邪。又其餘事耳。）</p>

<h3>辛夷</h3>
<figure>
<img alt="辛夷">
</figure>
<p>稟春陽之氣。味薄而辛。具香竄之能。氣溫且散。開竅搜邪於肺部。鼻塞堪通。升清助胃於上焦。頭風亦愈。（辛夷一名木筆花。一云即玉蘭花蕊也。此物初生如筆。重重有毛。當去淨用。否則毛射肺中。令人咳嗽。稟春初生髮之氣。輕浮上升。辛溫香散。入肺胃二經。肺氣通於鼻。胃脈行於面。故主頭風鼻塞。開竅解肌。純乎解散上部風寒之物。虛而無邪者。不可用之。）</p>

<h3>丁香</h3>
<figure>
<img alt="丁香">
</figure>
<p>宣中暖胃。故味辛以且溫。達腎壯陽。因氣香而帶苦。並能療嘔吐呃逆。兼可醫痃癖奔豚。（丁香有公丁母丁兩種。公丁是花。母丁是實。公小而母大。一云樹有兩種。性味皆同。母者即雞舌香。古方多用之。今人所常用者。皆公丁香耳。辛溫芳香。色紫而潤。上溫脾胃。宣中辟惡。治嘔吐呃逆等證。下及腎肝。導氣祛寒。凡下焦一切奔豚痃癖瘕疝諸疾。如腎陽不足而有寒氣者。均可用也。）</p>

<h3>沉香</h3>
<figure>
<img alt="沉香">
</figure>
<p>暢達和中。脾胃喜芳香之味。辛溫入腎。下焦建補火之勳。腎虛氣逆痰升。賴其降納。脾困寒凝濕滯。用以宣行。（沉香出南越等處。以色黑質堅沉水者佳。辛溫香烈。入肺脾腎三臟。上至天而下至泉。三經氣分藥也。主脾肺氣逆。中惡腹痛。以及一切寒滯胸膈而為嘔吐等證。宣導氣分。則痰行水消。其沉降之性。故能壯腎陽。助命火。凡下焦虛寒。以致氣不歸元。上逆而為喘急者。皆宜用耳。）</p>

<h3>檀香</h3>
<figure>
<img alt="檀香">
</figure>
<p>氣香無毒。辛溫入肺胃之經。質燥有功。宣發理上中之氣。或除邪而辟惡。或暢膈以寬胸。（檀香出南番諸國。中土所出之檀。樹雖相類。但不香耳。味辛而溫。氣香色白。入肺胃上焦氣分。專理上焦一切滯氣逆氣。至其和中進食。闢鬼除邪等治。皆辛溫芳香之力耳。）</p>

<h3>降香</h3>
<figure>
<img alt="降香">
</figure>
<p>性味與檀木相同。形色較前香為異。入肝破血。堪除瘀滯之稽留。辟惡搜邪。可解時行之疫癘。（降香性味出產與檀香相同。但色紫為異。能入心肝血分。行瘀滯。療折傷。外敷內服。均有專效。至於辟邪解疫。與檀香一理耳。）</p>

<h3>蘇合香</h3>
<p>合諸香膏汁煎成。宣竅辟邪氣滯解。能主治心脾各病。中風痰閉病危安。味苦而甘。性溫無毒。（蘇合香。此香亦出諸番。一云樹脂。一云合諸香之汁煎成。未知孰是。味甘而略帶辛苦。其香烈較諸香為甚。性溫無毒。入心脾二經。開竅搜邪。凡一切中風中痰中氣屬邪陷內閉者。皆可用此開之。若類中屬虛而脫者。不可用也。）</p>

<h3>乳香</h3>
<figure>
<img alt="乳香">
</figure>
<p>和營定痛。活絡舒筋。香竄入心。辛溫兼苦。（乳香出諸番波斯等國。樹脂也。辛苦性溫。其香潤之質。能入心脾營分。和營舒筋。活血定痛。內用外用。其理一也。）</p>

<h3>沒藥</h3>
<figure>
<img alt="沒藥">
</figure>
<p>活血與乳香相仿。性利能宣。行瘀則沒藥為長。味平而苦。（沒藥亦樹脂也。味苦平。其治雖與乳香相仿。而行瘀散血。則沒藥獨擅其長。故能治金瘡杖瘡癥瘕癰腫等證。所以能止痛者。血瘀則痛。氣壅亦痛也。外科藥用之。其理概可想見。）</p>

<h3>血竭</h3>
<figure>
<img alt="血竭">
</figure>
<p>色赤入營。功可行瘀止痛。性收斂口。力能和血生肌。性平潤而甘鹹。入心肝之血分。（血竭亦樹脂也。色純赤。味甘鹹。性平無毒。入心肝血分。行瘀活血。是其所長。至若止痛生肌者。以血活則痛止。瘀去則新生也。故外科藥每用之。但性急卻能引膿。）</p>

<h3>冰片</h3>
<figure>
<img alt="冰片">
</figure>
<p>其體溫而用涼。其味辛而帶苦。香能達竅。內能透骨搜風。散可疏邪。外可通經宣毒。（冰片出波斯等國。樹脂也。一云深山窮谷中千年老杉未經傷損者。則有之。辛溫香烈。宣竅散氣。凡一切風痰諸中內閉等證。暫用以開閉搜邪。然辛香走竄之極。服之令人暴亡。惟外證點眼吹喉等藥用之。或藉其辛散。或賴其香開耳。）</p>

<h3>烏藥</h3>
<figure>
<img alt="烏藥">
</figure>
<p>上入肺脾。下通腎臟。性偏香竄。能疏氣閉之邪。味屬辛溫。可治血瘀之婦。冷氣腹疼宿疾去。疝瘕便數舊邪除。（烏藥出嶺南等處。一云出天台者為佳。樹根也。辛溫香竄。上行肺胃。下達腎與膀胱。通理上下一切諸氣。氣理則寒散瘀行。腹痛止。瘕疝愈耳。至其治小便頻數一證。亦止謂寒證之一端耳。）</p>

<h3>樟腦</h3>
<figure>
<img alt="樟腦">
</figure>
<p>芳香燥濕。資外治之需。辛熱殺蟲。為搽瘡之藥。（樟腦出韶州。用樟木煎成。辛熱氣香。能於水中發火。通關竅。散寒濕。殺蟲辟惡。卻有專長。然究非內服之品。只可外治疥癬腳氣。或洗或熏。或摻用其殺蟲收濕耳。）</p>

<h3>蘆薈</h3>
<figure>
<img alt="蘆薈">
</figure>
<p>除邪退熱。能潤下性味苦寒。明目涼肝。可殺蟲消除疳積。（蘆薈出波斯等國。狀如黑飴。樹脂也。苦寒潤下之品。除熱殺蟲之外別無所長。更衣丸用之。取其潤也。明目治疳者。取其寒也。考其氣質性味。能入脾胃大腸肝腎諸經。故主治亦不離此諸經耳。）</p>

<h3>阿魏</h3>
<figure>
<img alt="阿魏">
</figure>
<p>化積有功於脾胃。殺蟲獨稟夫辛溫。臭烈難聞。外消多效。（阿魏。出西番諸國。一云是樹脂。一云是草根煎成。未知孰是。辛溫氣臭。入脾胃。消積殺蟲。雖極臭而又能闢臭。凡口氣腋氣等證。皆可用之。然人之血氣。聞香則順。聞臭則逆。即使內外各方有效。而良藥甚多。亦不必喜功生事也。）</p>

<h3>安息香</h3>
<p>芳香開竅。有溫宣氣血之功。辛苦辟邪。擅暢達心脾之力。或安神而息魅。或煎服而焚香。（安息香出安南波斯等國。亦樹脂也。其質如桃膠。柔韌不斷。焚之能安息諸邪。故名。辛苦微溫。芳香無毒。入心脾二經。開竅辟惡。其芳香溫散之性。能使氣血宣行。通身通泰。則鬼疰蠱毒。卒中暴厥。心腹諸痛等證。皆可愈耳。）</p>

<h2>寓木類</h2>

<h3>茯苓</h3>
<figure>
<img alt="茯苓">
</figure>
<p>色本屬金。功先入肺。導膀胱而利水。無非氣化之神。清治節以行痰。專主分消之職。假松根之餘氣。甘淡平和。得坤土之精英。堅貞博厚。憂恚驚悸。皆緣痰結為殃。嘔吐怔忡。盡是飲邪作咎。均可審證而施治。自能對病以求方。抱根者為茯神。守臟寧心。安神獨掌。色紅者為赤茯。入營導赤。利水偏長。皮以行皮。性仍同性。（茯苓生大谷中。多年大松樹。經樵斫之後。松根精靈之氣。抑鬱不絕。結成此物。其精氣足者。離根較遠。亦有附根而生者。即為茯神。其色有赤有白。白者為佳。味甘淡。性平和。上入肺脾。下達小腸膀胱腎經。益元氣。通神明。能清肺脾虛熱下行。其淡滲燥利之性。故能化胸中痰飲。導下部濕邪。至於茯神赤茯等。其主治氣味皆同。不過安神利水之功。略有小異耳。）</p>

<h3>琥珀</h3>
<figure>
<img alt="琥珀">
</figure>
<p>本靈氣以生成。通心竅安神定魄。性淡平而鍾結。降肺金導水分消。色赤入營。兼可行瘀燥濕。味甘化毒。並能摩翳生肌。（琥珀乃松脂入土年久而成。其質堅。其色赤。平和甘淡。入心肺小腸膀胱四經血分。消瘀利竅。清肺滲濕。鎮心定魄。是其所長。畢竟淡滲下行之品。凡小腸膀胱血分濕熱。致成淋濁癃閉等證皆可用之。至於生肌摩翳藥中用之者。亦取其和營化濕耳。以其入土最久。百毒遇土則化。故能解毒耳。）</p>

<h3>桑寄生</h3>
<figure>
<img alt="桑寄生">
</figure>
<p>壯骨強筋。補肝腎虛羸。苦甘平潤。和營通絡。治痹風痛著。關節舒和。且其養血疏風。得附大桑之餘氣。又可安胎治產。都因寓木以生成。（桑寄生即桑樹上所附之藤。然種類不一。總以桑樹上者為佳。甘苦性平。凡藤類像筋。故入肝又及於腎者。乙葵同源也。以其得桑之餘氣。故能治風兼治濕者。風能勝濕也。統治筋骨間風寒濕痹。此物祛邪之力有餘。補養之功不足。所云補虛羸。益血脈者。亦邪除則正受益耳。）</p>

<h3>豬苓</h3>
<figure>
<img alt="豬苓">
</figure>
<p>淡滲分消。治各種癃淋。皆可自腸中下導。甘平赤黑。去諸般濕熱。卻能從釜底抽薪。（豬苓生楓樹下。得楓根之餘氣結成。狀如豬屎。故名。外黑內赤。甘淡性平。入小腸膀胱血分。分利濕熱。濕熱下降。則上焦之熱渴止。表部之溫疫解。亦裡和表解之意也。然畢竟淡滲燥利之品。耗亡津液。陰血不足者遠之。）</p>

<h2>竹類</h2>

<h3>雷丸</h3>
<figure>
<img alt="雷丸">
</figure>
<p>得竹之餘氣。苦寒能清熱殺蟲。感雷而成苓。陰毒可入肝達胃。（雷丸竹之苓也。生於竹下土中。如豬苓茯苓之類。乃竹之餘氣。得天地鬱蒸之氣而成。其形如丸。苦寒有毒。殺蟲辟邪之外。別無所長。其所入亦不過肝胃而已。）</p>

<h3>竹茹</h3>
<p>入胃清煩止嘔逆。用治多靈。行皮達絡埽邪氛。甘寒有力。（竹茹乃竹之二青。種類頗多。均以淡竹為佳。味甘淡。性寒入肺胃。散逆氣。清煩熱。凡一切嘔噦癰痿噎膈等證。屬上焦有熱者。皆可用之。至行皮達絡之意。亦以類相從耳。）</p>

<h3>竹瀝</h3>
<figure>
<img alt="竹瀝">
</figure>
<p>能豁痰而清熱。皮間膜外盡搜除。治類中與偏枯。經絡四肢都走遍。以其甘寒滑利。須同薑汁和沖。（竹瀝甘寒滑利。入胃腑。達大腸。功主清熱豁痰。以其為竹中之津液也。故凡經絡四肢及皮裡膜外痰熱壅滯者。非此不達不行。一切卒暴中風等證。經絡中皆有痰涎。均宜配入薑汁用之。不特熱以制寒。且薑汁亦有開痰宣散之功。一開一降。相輔而行也。）</p>

<h3>天竹黃</h3>
<figure>
<img alt="天竹黃">
</figure>
<p>甘寒能清熱豁痰。鎮心有效。驚癇因風淫邪擾。肅肺多功。（天竹黃乃大竹中脂膜結成黃片。積久而成。今藥店中所售者。皆如石塊。恐非也。甘涼上入心肺。清熱豁痰。其性味功用。雖與竹瀝相仿。而此則不能搜經絡皮膜之痰。亦無滑潤之性。惟鎮心定驚為獨得。故小兒驚癇方中多用之。治風者亦猶竹瀝之意耳。）</p>

<h3>淡竹葉</h3>
<figure>
<img alt="淡竹葉">
</figure>
<p>甘淡微寒。心肺火邪都下降。輕浮上達。太陽濕熱盡分消。（淡竹葉甘淡性寒。輕浮上達之品。解散上焦風熱。清心肺炎蒸。導小腸膀胱濕熱下降。清上導下。可升可降。陽中之陰也。）</p>

<h1>果部</h1>
<p>（李時珍曰。果者。木之實也。蓏者。草之實也。熟則可食。干則可脯。豐儉可以濟時。疾苦可以備藥。輔助粒食。以養民生。是以占書者。欲知五穀之收否。但看五果之盛衰。周禮職方氏辨五地之物。以時藏之。觀此則果蓏之土產當異。性味之良毒不齊。豈可縱嗜欲而不知物理乎。）</p>

<h2>果類</h2>

<h3>蓮子</h3>
<figure>
<img alt="蓮子">
</figure>
<p>平補心脾。下交腎水。安寧神智。上澤容顏。因其甘可調中。且厚腸而止瀉。皆謂澀能固脫。治遺濁以藏精。蓮房苦澀性偏溫。血室崩淋用宜炙。生藕消瘀滌熱。熟湯和血養陰。若論花須。甘澀固精可斂脫。欲知荷葉。苦平散水並升清。鮮者可解暑邪。用邊有效。乾者能宣脾胃。當炙為良。蒂則上升。舉清陽之下陷。節能止澀。固失血之妄行。（蓮子甘澀性平。入心脾腎三臟。補而兼固。故能補中治瀉。安神固遺。使水火相交。中土受益。治療服食兩者。均宜去心用。○蓮房苦澀溫。入心肝血分。專主澀血。凡一切下血溺血血崩等證。皆宜炙黑用之。大抵瘀者可消。而新者可固也。○生藕甘涼入胃。清煩熱。止嘔渴。大能開胃。其性善消瘀血。凡產後一切生冷皆忌。惟藕不忌。以其能消瘀也。蒸熟則白變為紫。涼變為溫。其消瘀滌熱之功。一變而為補陰養臟。亦如地黃之生熟異用也。○蓮鬚味甘澀。性平。入心腎。功專固攝。凡屬心腎不固之證。皆可用之。○荷葉苦平。氣香。色青。形仰。以其象震也。故能入肝。肝為藏血之地。故有散血升清之功。又能治水氣浮腫等證。亦血化為水之水。荷葉不特功專散血。且生於水而性不沾水。故亦能治水也。凡夏月之物。皆能解暑。況葉之輕浮在上。邊有舒散之意哉。乾荷葉又能生髮元氣。助脾開胃。故補脾胃藥往往用之。○荷蒂性同於葉。惟舉托之功。此為尤勝。凡清氣下陷。胎元不足者。亦均用之。○藕節味苦澀。性平。消瘀血。澀新血。消瘀是其本性。然味過於澀。故止血之力尤為長耳。）</p>

<h3>橘皮</h3>
<figure>
<img alt="橘皮">
</figure>
<p>入脾胃以和中。燥可消痰理氣滯。味苦辛而散逆。溫能快膈逐寒凝。留白則宣補中州。去白則流行肺部。核乃入肝療疝。理寒滯以頗靈。葉則治乳消癰。味苦平而無毒。絡能通絡甘寒用。瓤可生痰酸冷多。（橘皮種類甚多。惟廣產者最勝。陳者良。味苦辛。性溫。氣香。質燥。入脾胃氣分。燥濕理氣。散逆和中。同補藥則補。同表藥則表。同瀉藥則瀉。用鹽水炒極能治痰。以其能燥濕理氣。亦治痰之本也。○橘白去外一層紅皮。其味帶甘。其功固不如橘皮。而補脾胃藥中用之。自無燥散之咎。○橘紅則去盡內白。有輕浮之意。故能入肺。主治亦相似。○橘核苦溫。色青入肝。形類腎丸。故能治一切疝疾之因於寒者。用此宣散之。亦氣分藥也。○橘葉苦平氣香。輕揚上達。入肝胃。宣胸膈逆氣。消腫散毒。凡婦人一切乳證。皆可用之。○橘絡甘寒入絡。無甚功用。或可清絡中之餘熱耳。○橘瓤性寒。甘者可以潤肺。酸者即能生痰。一物之性各異。主治不同。豈可不省察哉。）</p>

<h3>青皮</h3>
<p>入肝經破滯削堅。辛能發汗。治疝疾闢寒理氣。苦可宣邪。下焦之肝氣可疏。胸脅之郁痰能解。性味與橘皮相仿。炒煎用醋水為良。（青皮乃橘之小者。色青氣烈。味苦辛。性溫燥。入肝膽氣分。能發汗散寒。行氣破積。如壯盛年少之人。其氣剽悍。故一切疝氣痰滯積聚等證。屬於肝膽者。皆可用之。用醋炒者緩之斂之。制其剽悍之性。引以入肝也。）</p>

<h3>大棗</h3>
<figure>
<img alt="大棗">
</figure>
<p>甘可緩中。溫能養血。補脾益胃。潤中州能益氣調營。止渴生津。和百藥而強神助脈。紅棗之功不及黑。入營之力勝於烏。（大棗。棗為脾果。種類甚多。大抵以肉厚多脂味甘核小者為佳。味甘性溫。入脾胃。補陰血。生津液。和營衛。強神益氣。實為中土之良藥。惟有濕熱者不宜服之。以其易助濕熱。易生蟲患耳。○紅棗性味相同。功力不及。惟入營和血。僅堪潤養耳。）</p>

<h3>芡實</h3>
<figure>
<img alt="芡實">
</figure>
<p>扶脾止瀉。治水則同氣相求。固腎益精。性味則甘平無毒。（芡實生於水而能治水。諸家本草皆謂甘平性澀。然嘗之似無澀味。僅覺甘淡而已。此亦邪水去而真水固也。味甘入脾。水屬入腎。扶土利水。是其本功。畢竟稱其能澀精固氣。恐亦未必。豈一物而有通澀二用哉。或此藥同山藥等味則補。同苡仁等味則利。同金櫻子等則澀。各隨其用耳。）</p>

<h3>烏梅</h3>
<figure>
<img alt="烏梅">
</figure>
<p>酸先入肝。肺絡脾經均可及。黑能走血。腸紅嗽疾久堪醫。因其溫澀之功。虛痢可療汗可斂。假此酸收之品。風痰能化噤能開。蛔厥難安。得酸則伏。惡瘡翻凸。搗貼能除。白霜梅。善豁痰涎。梅核膈。宜求含咽。（烏梅則青梅之半黃時用火燻黑者也。味酸性溫。專入肝家血分。脾肺大腸。皆其旁及者也。其功專主收斂止澀。故凡久咳久利。虛汗亡血等證。皆可用之。能安蛔者。蟲得酸則伏也。○白霜梅即青梅。用鹽水浸之。日曬夜浸。十日後。即有霜起乃成矣。味酸鹹。性平。入肝達胃。善豁頑痰。治中風喉痹。牙關緊閉等證。以酸鹹之性。咸能潤下。酸能湧泄也。開牙噤者。齒得梅則齼。肝氣以津液上泄之故。然最易傷腎。故多食損齒耳。）</p>

<h3>柿</h3>
<figure>
<img alt="柿">
</figure>
<p>解肺熱以生津。甘寒可口。滋腸燥而涼血。紅潤歸營。清肅輕揚。須柿霜化痰寧嗽。苦溫降納。宜柿蒂平呃除寒。（柿甘寒微澀。須置灰器中。待其紅熟。澀味盡去。方可食之。入肺胃大腸血分。清胸中煩熱。止渴生津。潤心肺。治咳血吐血。極能涼大腸。凡痔漏便血等證。由於血分有熱者皆宜。○柿霜乃柿餅上所結之霜。甘寒輕清之物。上入心肺。清熱化痰。治咽喉口舌諸證。○柿蒂苦溫。性降。入胃腑。治呃逆之因於寒者。有收束之意也。一物之性。寒熱不同如此。）</p>

<h3>荸薺</h3>
<figure>
<img alt="荸薺">
</figure>
<p>甘寒退熱消痰食。冷利除風毀頑銅。肺胃之丹毒堪除。胸膈之郁邪可解。能行血分。善達腸中。（荸薺。甘寒滑利。入肺胃大腸血分。除胸中熱痰。消風消食。治黃癉。止消渴。解丹石毒。能治血痢等證。含銅錢食之。則錢化。其克化寒滑之性。概可見矣。）</p>

<h3>枇杷葉</h3>
<figure>
<img alt="枇杷葉">
</figure>
<p>苦降和陰。清肺消痰定喘嗽。甘平散逆。除煩下氣退陽邪。（枇杷葉苦平入肺。其性善降。氣降則痰下。痰下則逆者不逆。嘔者不嘔。渴者不渴。咳者不咳矣。至於除煩潤燥。以其有清肅下行之令。氣降則火亦降耳。）</p>

<h3>甘蔗</h3>
<figure>
<img alt="甘蔗">
</figure>
<p>潤上部以清金。止渴解酲能導下。入中焦而和胃。消痰滋燥性甘寒。赤沙糖系蔗汁煎成。能和血而性溫稍異。（甘蔗甘平入脾胃。微寒。清肺。潤燥。化痰。和中。散逆。為解渴止酲之品。但多食能滑大腸。以蔗漿冷食。則熱去寒生也。○赤沙糖系蔗漿煎煉而成。其色變赤。其性轉溫。雖主治與甘蔗相同。而此能入血分。和血脈。然多食最能助濕熱。損齒生蟲耳。）</p>

<h3>桃仁</h3>
<figure>
<img alt="桃仁">
</figure>
<p>破瘀留於肝絡。味苦兼甘。通燥結於肺腸。性平且潤。可闢八方之鬼魅。乃緣五木之精英。（桃仁味苦兼甘。性平而潤。專入肝經。兼入肺與大腸。破血潤燥。殺蟲者。蟲因血裹而生也。祛風者。血行風自滅也。至其能治肝瘧鬼疰疼痛等證。均為肝病血結顯然。闢鬼除邪之說。自古相傳。故桃符桃枝桃梟桃核之類。皆有所取也。欲散連皮尖。欲降去皮尖。均研用。）</p>

<h3>杏仁</h3>
<figure>
<img alt="杏仁">
</figure>
<p>苦辛宣壅。能疏肺部風寒。溫潤下行善降大腸燥結。能寬胸而降氣。可治咳以搜痰。甜者因味屬甘平。用之則功多潤降。（杏仁味苦性溫。入肺經氣分。凡仁皆降。故功專降氣。氣降則痰消嗽止。能潤大腸。故大腸氣閉者可用之。考杏仁之性。似無辛味。似乎只有潤降之功。而無解散之力。但風寒外束。肺氣壅逆。不得不用此苦降之品。使氣順而表方得解。故麻黃湯用之。亦此意耳。桃仁杏仁。其性相似。一入肝經血分。一入肺經氣分。至於解毒殺蟲。彼此均可。在乎用者之神明耳。○甜杏仁別有一種。味甘性平。可供果食。主治亦皆相仿。用於虛勞咳嗽方中。無苦劣之性耳。）</p>

<h3>梨</h3>
<figure>
<img alt="梨">
</figure>
<p>性偏寒潤。味屬甘酸。解渴止酲。清心肺上焦之煩熱。消痰快膈。治胃腸內擾之風消。（梨味甘微酸。性寒滑。入肺胃。清煩熱。能利大腸。治熱咳燥咳。除胸中熱痰。解丹石毒酒毒。夫熱極則生風。故能治風消等證。但生用能清熱。熟用可養陰。亦如地黃之生熟異用耳。）</p>

<h3>橄欖</h3>
<figure>
<img alt="橄欖">
</figure>
<p>味酸澀。久乃香甘。專化魚豚哽毒。入肺胃。頓歸清肅。並療酒食煩蒸。炙核治痘毒以無憂。摩沖化骨哽而立效。性則寒熱不偏。氣卻平和為貴。（橄欖一名涼果。味甘澀。其香甜之味。久嚼自回。性溫。故多食能壅氣。因其香甜清郁之氣。故最能開胃氣。解酒毒。胃氣開則清肅之令行。故亦能解熱除痰。此物善解一切魚毒。及魚骨哽咽者。皆可食此化之。如無肉用核可也。）</p>

<h3>胡桃</h3>
<figure>
<img alt="胡桃">
</figure>
<p>補命門。潤腎燥。甘溫有攝納之權。斂肺部。保金家。喘咳起虛寒之疾。（胡桃產胡地。其形如桃。外有肉。胡桃乃其核也。故一名核桃。味甘性溫。入腎與命門。能溫補下焦。攝納元氣。其質潤。其皮澀。故能潤肺腎。澤肌黑髮。治虛寒喘嗽久不愈者。與補藥相併服之。性能制銅。胡桃與銅錢同食。即成碎粉。凡誤吞銅物者。多食自化。又食酸齒齼者。細嚼胡桃即解。此又物理之不可測者也。）</p>

<h3>龍眼肉</h3>
<figure>
<img alt="龍眼肉">
</figure>
<p>甘平無毒。悅胃氣以培脾。思慮傷神。養心營而益智。（龍眼肉味純甘。性平。微溫。皮黃肉赤。心脾藥也。專能補養心脾營血。心脾足則思慮勞傷驚悸健忘等證皆可愈耳。豈特安神益智而已哉。）</p>

<h3>山楂</h3>
<figure>
<img alt="山楂">
</figure>
<p>入方藥走脾達胃。有消磨克化之功。走厥陰治疝行瘀。具酸苦甘溫之性。（山楂味酸甘。氣溫。色赤。性緊。入肝脾血分。善能克化飲食。行瘀破血。因其性溫入肝。故能治疝氣等疾。痘疹方中用之者。以血活則肌松易於透表耳。總之山楂乃肝脾血分一種消導藥耳。故又能化肉積也。）</p>

<h3>榧子</h3>
<figure>
<img alt="榧子">
</figure>
<p>功可殺蟲潤肺。性屬味甘氣溫。（榧子肺家果也。味甘平。微溫。質潤。善殺蟲。能潤肺。多食滑大腸。如因蟲蝕肺臟咳嗽。或蟲蝕於肛。致成痔漏諸證。皆可用之。凡殺蟲藥皆苦。惟此與使君子皆甘潤不傷脾胃耳。）</p>

<h3>石榴皮</h3>
<figure>
<img alt="石榴皮">
</figure>
<p>甘澀治久傷之瀉痢。固腎攝腸。酸溫醫宿咳之虛寒。保金斂肺。腸紅吐血燒灰服。帶下崩中煎水嘗。榴花散心郁之吐紅。炙黑吹鼻中之衄血。（石榴皮味酸澀。微甘。性溫。入肺腎大腸血分。須炒黑用之。功專固攝。凡虛寒久咳。與夫下血崩帶等證。無一毫邪熱者。皆可用之。擦齒塗須染布。皆能變白為黑。與五倍子相似。澀人氣血。枯人腸胃。不可多用。○榴花取千葉者。色赤入心。凡花皆散。炙黑用之。取紅見黑則止之意。故能治吐血衄血也。）</p>

<h3>銀杏</h3>
<figure>
<img alt="銀杏">
</figure>
<p>潤降氣平。上斂肺金除咳逆。苦甘性澀。下行濕濁化痰涎。（銀杏味甘澀平。色白。性降。專入肺部。斂肺降濁。故能定喘嗽。降濁痰。其花夜開。人多不見。蓋稟陰毒之性。故又能殺蟲。蟲因濕濁而化也。但多食則氣壅。以其收令太過歟。）</p>

<h3>荔枝核</h3>
<figure>
<img alt="荔枝核">
</figure>
<p>散滯祛寒。治肝經之疝疾。味甘性熱。醫胃腑之瘀疼。（荔枝核味甘溫。色紫。肝經血分藥也。功專散滯祛寒。行血中之氣。且其形類睪丸。故治一切疝疾之因於寒者。其所以治心痛胃痛等證。亦寒凝血滯之意歟。）</p>

<h3>枳椇子</h3>
<figure>
<img alt="枳椇子">
</figure>
<p>服食甘平解酒毒。渴煩渙散助津生。肺胃雙收。醇醪盡敗。（枳椇子一名雞距子。其形屈曲。如雞之距也。又名龍爪。小兒嘗購食之。味甘。性平。入脾胃。生津液。解渴煩。專解酒毒。倘屋外植此木。屋內釀酒。均致敗壞。物性相制如此。）</p>

<h3>石蓮子</h3>
<p>治噤痢之濕蘊邪留。甘寒微澀。開胃氣而清心降濁。真偽宜分。（石蓮子即蓮子之老於房內。至冬墮入泥中。至春取出者。皮黑如石。味甘澀而寒。助脾胃。化濕熱。以其得水土之氣。故能治久痢噤口等證。今藥店中所售石蓮子。味極苦。不知何物也。）</p>

<h3>瓜蒂</h3>
<p>苦寒通於胃腑。吐膈上蓄聚之熱痰。研散納之鼻中。治頭內蘊留之水濕。（瓜蒂即甜瓜蒂。以色青味甜。可供果饌者為佳。待瓜熟後。取蒂連柄半寸許。曝乾用之。味苦性寒。入肺胃。功專消水化熱。治黃癉。殺蟲毒。其極苦之性。能降能湧。所謂在上者因而越之。在下者引而竭之之義。各因其病而利導。但其性甚緊。善引吐。為瞑眩之藥。非上焦有風痰實熱水蓄等證。不可用之。）</p>

<h3>西瓜</h3>
<figure>
<img alt="西瓜">
</figure>
<p>甘寒解暑熱。涼利退煩蒸。大腑之燥渴堪除。小便之清長可必。（西瓜性甘寒。生於夏月。凡夏月所生之物。皆能解暑。解暑之法。首在清心。利小便。此物食之。立能解煩渴。頓使小便清長。其功用概可想見。此物得酒氣。近糯米則易爛。貓踏之則易砂。經日曬則更冷。此亦物理之異耳。）</p>

<h3>檳榔</h3>
<figure>
<img alt="檳榔">
</figure>
<p>破至高之氣。消積消痰。攻下極之邪。入腸入胃。殺蟲截瘧。味則辛苦而溫。降氣寬胸。性則堅剛而峻。腳氣沉寒可引導。瘴邪蓄飲藉消除。（檳榔有兩種。一種形尖長。謂之尖檳榔。又名雞心檳榔。一種形圓扁。謂之大腹檳榔。即大腹子也。性味主治雖同。而尖者為勝。其性苦辛而溫。其質堅剛而峻。降一切氣。破一切滯。氣降則痰行水消。滯破則積除食化。由是推之。則疝氣腳氣均可愈。胸膈可寬。蟲患瘴毒盡除耳。此物專主降氣。凡一身臟腑之氣。凝滯不宣者。皆可用之。不必拘拘乎入腸與胃也。）</p>

<h3>大腹皮</h3>
<p>宣胸腹之邪氛。行脾達胃。散肺腸之氣滯。逐水寬中。辛苦而溫。輕疏有毒。（大腹皮即檳榔樹皮也。其皮有毒。當洗淨用之。性味主治與檳榔相同。但無檳榔之降氣。而有行皮宣發之功。故凡治皮水膚腫。以及溫瘧伏邪等證。皆可用之。）</p>

<h3>木瓜</h3>
<figure>
<img alt="木瓜">
</figure>
<p>香入肝肺。溫通經絡。氣因芳馥。筋急者得之即舒。味則酸收。筋緩者遇之即利。霍亂轉筋之證。用以疏和。風寒痹濕之邪。服能宣達。（木瓜處處皆有。而以宣城出者為佳。味酸澀。性溫。氣香。入肝脾二經。專治筋脈為病。急者可舒。以其香也。緩者即治。以其固也。凡霍亂轉筋。痹病腳氣等證。皆屬肝脾不和。筋脈為病。木瓜能疏肝和脾。舒利筋脈。故均可治也。）</p>

<h3>甜瓜子</h3>
<p>有開痰利氣之功。甘寒潤肺。具降濁排膿之效。滑利通腸。（甜瓜子。即夏月所食之金瓜子。今人概以菜瓜子代之。故無用。味甘性寒。功專清肺滑腸。故能治上焦之熱痰。腹內之壅結。西瓜子仁與之相同。）</p>

<h3>慄</h3>
<figure>
<img alt="慄">
</figure>
<p>益氣厚腸。耐飢補腎。味以甘鹹而無毒。服則溫滯以難消。（慄味甘鹹。溫腎之果也。雖有養胃厚腸耐飢補腎之功。然生食難消。熟食滯氣。畢竟非治病之藥。為食物中之一品耳。）</p>

<h3>香圓皮</h3>
<p>辛平快氣寬中。能宣脾肺。香苦消痰導滯。恐耗陰津。（香圓皮辛苦平。入脾肺。下氣消痰。寬中快膈。雖無橘皮之溫。而究屬香燥之品。陰虛血燥之人。仍當禁用耳。）佛手　理氣消痰。溫燥併兼酸苦。暢中散逆。辛香直達肝脾。（佛手味辛酸。性溫氣香。入肝脾。功專理氣快膈。惟肝脾氣滯者宜之。陰血不足者。亦嫌其燥耳。）</p>

<h3>金橘皮</h3>
<p>解酲止渴。辛甘可以醒脾。快膈和中。暢達頗能理氣。為果饌之足供。非藥石之所採。（金橘皮甘酸而平。辛香不燥。可供果饌之需。用以解酲止渴頗佳。即食之亦能下氣快膈。不過亦總非治病之物耳。）</p>

<h3>楊梅</h3>
<p>味屬甘酸行血分。可散可升。性專溫熱達肝家。止酲止痢。（楊梅水果也。甘酸可口。解酲止渴。固所宜然。但多食之。即覺氣升上壅。易致頭汗鼻衄。其為熱性可知。能治痢者。亦升散之意也。行血活血。亦意中事耳。）</p>

<h1>谷部</h1>
<p>（李時珍曰。谷者。民之所賴以生者也。周官有五穀九穀之名。詩人有八谷百穀之詠。谷之類可謂繁矣。然五方之氣不同。九州之產各異。若不辨其五色之異宜。五味之良毒。豈可終日食之。而不知其氣味損益乎。）</p>

<h2>穀類</h2>

<h3>山藥</h3>
<figure>
<img alt="山藥">
</figure>
<p>甘平入脾。潤白歸肺。養陰益氣。功純專養乎中州。止瀉固精。性澀又宜於腎部。清肺脾之餘熱。論出前賢。治風氣與虛勞。方由金匱。（山藥一名薯蕷。雖處處皆有。亦以懷產者為勝。色白。味甘。性平。略帶苦澀。入脾肺兩經。能養胃健脾。益肺陰。固腎脫。凡脾虛泄瀉。肺虛咳嗽。腎虛遺滑等證。皆可用之。不寒不燥。為補虛羸之藥品。但性偏膩澀。如脾虛濕勝之人。則不可用。山藥之能入腎者。因其味澀。澀可固脫。止泄瀉遺滑等證。故類及於腎耳。畢竟非腎之正藥也。）</p>

<h3>薏苡仁</h3>
<figure>
<img alt="薏苡仁">
</figure>
<p>清寒降肺。甘淡益脾。肅上部之邪氛。癰痿胸痹咳喘愈。導中州之水濕。拘攣腳氣濁淋痊。或生或炒之攸分。因病因方而施治。故經言治痿。有獨取夫陽明。而醫用舒筋。每相宜於服食。（薏苡仁甘淡性寒。入肺胃及脾。其功亦能健脾益胃。而不如山藥之補。清熱利濕。是苡仁所長。故上則肺癰肺痿。中則腫滿黃癉。皆可治也。至若拘攣腳氣痿躄等證。無不皆從肺熱胃濕兩端。以致筋脈受病耳。）</p>

<h3>百合</h3>
<figure>
<img alt="百合">
</figure>
<p>清心保肺。因甘寒微苦之功。治咳寧神。取述類象形之義。降上焦之邪熱。清肅多功。利二便以益陰。化源無阻。（百合味甘平。微寒微苦。入心肺。功專補虛清熱。其根以眾瓣合成。有裹束之義。其質味甚厚。故能寧神定魄。肺熱清則咳止腫消。二便清利矣。金匱百合病用之者。亦因病後餘熱留於肺部所致。故方中皆以百合為君也。）</p>

<h3>胡麻</h3>
<figure>
<img alt="胡麻">
</figure>
<p>木谷善祛風。養肝益血。甘平能潤燥。滋腎填陰。（胡麻一云巨勝子。一云即脂麻。有黑白兩種。而今之藥店中所備胡麻。又別有一種。未知孰是。甘平入肝腎。潤燥滑腸。入藥以黑者為勝。古人以麻為木谷。故能入肝治風。然亦只可治肝腎陰虧血燥之風。或肢體風淫癬癩等疾。用以滲入筋骨潤燥則可。若外來真中風邪。欲用此解散。則不可也。）</p>

<h3>麻仁</h3>
<figure>
<img alt="麻仁">
</figure>
<p>治脾約與津傷。甘平養肝血。能澤枯而潤燥。宣利導腸風。（麻仁一名火麻仁。其皮可組織為布。苧麻即此也。麻仁之性。與胡麻之性。皆屬甘平。皆為木谷。故其治風潤燥之力。大抵相同。而用者凡遇津虧脾約風燥便結等證。皆用麻仁。遇麻風癬癩等證。皆用胡麻。亦世俗相沿習慣耳。）</p>

<h3>飴糖</h3>
<p>緩中補虛。脾賴甘溫而建立。養金治咳。肺承澤潤以滋培。行瘀止衄必熬焦。化哽除痰宜噙化。（飴糖用糯米麥芽作成。味甘性溫。緩中補虛。潤肺止渴。是其所長。然多食助濕熱。傷腎氣。生蟲損齒。每每有之。故凡物有利必有弊也。）</p>

<h3>黑豆</h3>
<figure>
<img alt="黑豆">
</figure>
<p>活血宣風。色黑形腰歸腎部。益陰利水。除煩解毒性甘平。（黑豆味甘性平。腎之谷也。陳藏器曰。黑大豆生用性平。炒食則熱。煮食則寒。作豉則冷。亦物性之異也。考其性能入腎。則益陰利水是其本功。陰血足則行而不滯。故風可除也。至於解毒之功。亦古今方書中所尚耳。）</p>

<h3>豆豉</h3>
<p>性味則甘苦微溫。兩行肺胃。主治凡風寒時疫。專賴宣疏。能發汗以解肌。可吐邪而化腐。（豆豉用黑豆蒸熏而成。雖諸家本草言性寒者多。然既經蒸熏。則味甘者變苦。其性豈有寒冷之理。入肺胃。行上焦。有宜發升散之力。故凡一切時溫溫瘧等證。內有伏邪表裡不解者。均可用之。所謂在表者汗而發之。在上者因而越之。須知豆豉能化胸中陳腐之氣。則解表宣里之力。自可知矣。）</p>

<h3>豆卷</h3>
<p>甘平解毒宣風濕。筋脈舒攣逐水邪。（豆卷即黑豆浸水中生芽者也。其性味功用。與黑豆大同。然其浸水生芽。則有生髮之氣。故亦能解表。黑豆本入腎。腎者主水。再以水浸生芽。宜乎治上下表里水濕之邪。無遺蘊矣。至於宣風解毒。乃豆之本性。能舒筋者。亦因水濕所困耳。）</p>

<h3>赤小豆</h3>
<figure>
<img alt="赤小豆">
</figure>
<p>能通心與小腸。行瘀利水。可排膿而散腫。治豉消癉。味甘微酸。性平無毒。綠豆甘寒專解毒。蠲除水熱並和脾。其色可以入肝。其治似疑歸胃。（赤小豆即今之杜赤豆。以緊小色赤者為佳。今藥店中之赤小豆。半紅半黑。謂之相思子。即紅豆也。有毒不堪用。杜赤豆之性。甘酸而平。入心與小腸。功專消水行血。故內而水鼓血鼓。以及一切腳氣。外而癰疽腫毒。或服或敷。皆有神效。然總不過消水行血之功。古人言其多食令人消瘦者。概可想見矣。○綠豆味甘性寒。行水之功。相同赤豆。而清熱解毒。惟此為勝。故一切丹石諸毒。皆可解之。且能厚腸胃。非如赤豆之能令人消瘦也。）</p>

<h3>扁豆</h3>
<figure>
<img alt="扁豆">
</figure>
<p>味屬甘平。消暑益脾兼解毒。功歸胃腑。升清降濁並和中。花堪治痢以疏邪。皮可達飢而行水。（扁豆味甘平無毒。能養胃健脾。脾胃得治。則清濁可分。吐利可愈。凡夏月所生之物。皆能解暑。故又可以之解暑也。花性相同。赤者入血分而宣瘀。白者入氣分而行氣。凡花皆散。故可清暑散邪。以治夏月泄痢等證。皮以行皮。類相從耳。）</p>

<h3>麥芽</h3>
<figure>
<img alt="麥芽">
</figure>
<p>其味甘鹹。能溫胃助脾。消磨穀食。其功克化。去面停乳積。濁阻瘀留。（麥芽味甘鹹。性溫。入脾胃。能消能磨。化一切米麵諸穀食積。凡瘀留濁垢等物。皆可化之。觀造飴糖家用之。即可想見矣。若無積者用之。恐削人元氣耳。孕婦忌之。）</p>

<h3>穀芽</h3>
<p>且甘且溫。啟脾進食。或生或炒。消導和中。（穀芽味甘性溫。其功雖主消導。而消導之中。卻能啟脾開胃。進食和中。非若麥芽之專於克削。而尚能破瘀導濁也。）</p>

<h3>酒</h3>
<p>行經絡。御風寒。味苦甘辛多蓄熱。通血脈。壯心神。氣雄剛猛善消愁。（酒用糯米和酒麴釀成。種類頗多。味亦不一。具毒烈之性。有升散之能。少飲之固可行經絡。御風寒。壯神活血。過飲則耗散氣血。助濕生痰。其酒性雖退。而渣滓日積。留聚胃中。黏膩不化。飲食漸少。脾胃日虛。而成噎膈反胃者多矣。至若燒酒之性。大辛大熱。用以散寒開鬱。頗有捷效。雖無助濕生痰之害。而毒烈之性。較前為尤盛耳。）</p>

<h3>醋</h3>
<p>收斂有功。酸溫無毒。敷癰化積。得斂極則散之能。止暈固崩。具危而復安之法。（醋一名苦酒。米麥皆可為之。味酸微苦。性溫。入肝收斂。然斂極則散。故內而破癥瘕。化積聚。皆用醋炒。外而癰腫敷藥。皆用醋調。均有深意。或者欲攻欲散。必先斂之。使邪聚而攻散得力。亦是一法。總之當斂者用其斂。當散者用其散。神而明之。存乎其人耳。）</p>

<h3>罌粟殼</h3>
<p>止瀉痢以固精。腎臟虛羸需斂澀。收汗衄而寧嗽。肺家耗散賴酸溫。（罌粟殼其味酸澀。其性或言溫。或言寒。究竟酸澀屬陰。當作微寒為是。故每蜜炙用之。入肺大腸肝腎等處。以固澀為用。然酸收太緊。最易令人嘔逆。凡咳嗽瀉痢遺滑等證。有邪火者切勿用之。）</p>

<h3>浮麥</h3>
<p>甘鹹除虛熱。清冷斂心津。（浮麥即小麥。水淘浮起者。味甘鹹。性涼。入心經。退虛熱。汗乃心之津液。養心退熱。津血不為火擾。則可無自汗盜汗之慮矣。）</p>

<h3>小粉</h3>
<p>一切腫瘍。用醋敷圍可解散。諸般熱毒。隨方取用性酸涼。（小粉乃麥麩洗面筋時澄下之粉也。本屬甘涼之性。服之亦可養心神。益臟氣。功勝浮麥。因久則味變為酸。以之炒乾為末。用醋調敷。一切腫瘍。均可解散。亦斂極則散之意耳。）</p>

<h3>紅曲</h3>
<p>甘溫奪造化之功。行血和營兼治痢。蒸窨導中州之食。和脾助胃並調中。（紅曲其法以梗米蒸熏而成。色紅透徹。亦如人之飲食入胃蒸變而為血也。味甘性。溫入脾胃血分。導滯化食。行血和營。即其蒸熏變化之性。亦可想見其功用矣。）</p>

<h3>喬麥</h3>
<figure>
<img alt="喬麥">
</figure>
<p>降煉寬胸除積垢。甘平逐濕益脾元。（喬麥甘平無毒。凡穀麥之可充食者。皆能養胃助脾。惟喬麥能煉臟腑滓穢濁垢。一切帶濁痔漏。由於濕淫所勝。沉積腸胃之中者。皆可用此宣之導之。則降氣寬胸之理。自可知矣。且能壓丹石毒。醋調敷小兒丹毒赤腫等證。然則脾胃虛者。似又不宜也。）</p>

<h3>刀豆子</h3>
<figure>
<img alt="刀豆子">
</figure>
<p>溫中下氣。治呃逆有功。益腎歸元。味甘溫無毒。（刀豆子味甘性溫。下降入腎。能溫暖下焦。治腎虛氣不歸元。虛寒呃逆者。取刀豆子燒存性。白湯調服二錢即止。即其利腸胃。和中焦。亦固所宜也。）</p>

<h3>神麯</h3>
<p>配六藥以糊成。性味辛甘。溫中和胃。合五色而具備。消磨水穀。發表強脾。（神麯用白麵為君。再加赤豆杏仁青蒿蒼耳野蓼六種。拌和作餅。如窨醬黃法。待發熱。外生黃衣。曬乾收之。五味兼有。甘辛獨多。性溫入脾胃。消磨水穀。是其本功。發表者以其有鬱蒸之氣。性能升發也。穀食去則脾胃和。自可健運如常。消導炒用。發表生用。各隨其宜可也。）</p>

<h3>淮小麥</h3>
<figure>
<img alt="淮小麥">
</figure>
<p>甘涼養胃氣。潤澤益心神。（淮小麥麥為心谷。故能入心。南麥性溫。北麥性涼。以淮產者為佳。故無壅滯生熱之慮。卻有涼心潤燥之功。是以金匱甘麥大棗湯。治婦人臟燥一證。可想見矣。）</p>

<h3>秫</h3>
<p>治陰虛之不寐。性卻甘涼。利肺壅以通腸。質偏黏膩。（秫即今之細米粟。以謂之粱米。一云粟之黏者為秫。粳者為粟。亦猶黍稷黏者為黍。不黏者為稷。惟以上之物。皆可為糧。皆可養脾胃。古人以秫為肺谷。肺病宜食之。秫性甘寒。故能養肺陰。利大腸。治陰虛不眠等證。皆取益陰退陽。有黏緩之意也。）</p>

<h3>阿芙蓉</h3>
<p>澀精止利。虛邪氣痛立時瘳。醒睡助陽。毒烈苦酸傾刻效。（阿芙蓉即鴉片土。以罌粟花苞之津液煉成。本草皆言味酸溫。然究屬大苦大熱。其毒烈之性。竟與花殼不同。一物之性相反如此。亦異事也。此物可以治病。始於西人。故又謂之洋藥。止瀉痢。壯元陽。通氣血。卻有神效。然吸食一法。不知何人創始。固無性命之慮。然每每病根未除。煙癮已上。為終身之累。追悔莫及耳。）</p>

<h3>穭豆皮</h3>
<p>甘平無毒宣風氣。苦澀微溫行血瘀。（穭豆即今之野黑豆。緊小而黑。性味與大黑豆同。但略帶苦澀。其主治亦能入腎。活血祛風之力。似較大豆為過之。而尤以皮為力足耳。）</p>

<h3>陳倉米</h3>
<p>養胃除煩。甘淡藉穀氣之資助。和中進食。酸涼利濕熱以分消。（陳倉。米凡米之類。雖種數不同。而人皆可賴以生長。助脾益胃。但新者性溫。不無壅滯。陳者性涼疏利。故能和中焦。去濕熱。為病後虛人最相宜耳。）</p>

<h3>蒸餅</h3>
<p>消食養脾化積滯。性味甘溫。和中益氣利三焦。功能宣導。（蒸餅以面作餅。蒸熟陳久用之。寒食日作者。即為之寒食麵。糊丸藥用之。取其面性已過。不助濕熱。惟甘平之性。能和中消導。利水道。益脾胃而已。畢竟無他所長也。）</p>

<h1>菜部</h1>
<p>（李時珍曰。菜者。所以具五味。助五穀而充養者也。但五菜之良毒。各有不同。五味之所入。即多偏勝。故內則有訓。食醫有方。菜之於人。豈可不審擇用之哉。）</p>

<h2>菜類</h2>

<h3>蒲公英</h3>
<figure>
<img alt="蒲公英">
</figure>
<p>走陽明散熱疏邪。兼能解毒。味甘苦性寒滑竅。並可消癰。（蒲公英即黃花地丁。生平澤田園。莖葉如苦苣。中心抽一莖。莖端出一花。色黃如金錢。若單瓣菊之狀。味苦甘。性寒滑。專入陽明。散熱結。消癰毒。因此草色黃味甘屬土。性又滑利。故能入陽明。解毒滑竅而治婦人一切乳證也。）</p>

<h3>紫花地丁</h3>
<figure>
<img alt="紫花地丁">
</figure>
<p>瀉疔瘡之毒壅。味苦性寒。入包絡與肝經。通營破血。（紫花地丁即地丁草之莖。色紫而開紫花者。故性味主治與蒲公英相同。惟此能入手足厥陰血分。行瘀活血為略異。故紫花地丁治疔瘡毒壅為勝也。）</p>

<h3>白芥子</h3>
<figure>
<img alt="白芥子">
</figure>
<p>辛能發汗。熱可溫中。入肺胃以搜痰。並走皮間與膜外。寬胸膈而利氣。卻能散冷耗營陰。（白芥子此芥種類少異。莖葉青白色。其子黃白色。非如食芥之葉青綠色而子紫黑也。味大辛。性大熱。入肺胃二經。散寒下氣。寬胸膈。利風痰。其辛散之性。食之淚出。又能達肝。故治痰在脅下。及皮裡膜外者。非此不除。但耗陰散氣。昏目聖神。虛人禁用。）</p>

<h3>萊菔子</h3>
<figure>
<img alt="萊菔子">
</figure>
<p>下氣消痰。生服性升能湧吐。寬中化食。炒香氣降味辛溫。可消脹以利腸。能定喘而止嗽。（萊菔子辛甘溫。入肺胃。長於治痰。生用則能升能散。善吐胸膈風痰。炒熟則性降。氣降則痰消。一切喘嗽因痰者。皆可用之。能消面積。觀其在上在下。用生用炒。或吐或消。無不靈驗。亦物性之使然耳。根主治相同。）</p>

<h3>乾薑</h3>
<p>入脾胃。燥濕溫中。肺飲蓄痰嗽可愈。味辛熱。逐寒散冷。腎邪痹著重能輕。炮黑則味苦性和。血藥用為引導。服食可入營守內。補方賴以前驅。（乾薑即生薑之宿根老母姜。置流水中。浸三日。刮淨皮。曬乾為之。又名軍姜。辛熱性燥。不如生者之散表。而熱燥過之。入脾胃。逐寒燥濕。是其所長。與肺腎藥同用。亦能入肺腎。觀小青龍之治飲邪咳嗽。腎著湯之治寒濕腰痛可知。炮黑則辛少苦多。燥散之性已減。溫守之力獨優。能入血分。協助補藥之力。故營血虛寒而欲溫補者。非此不為功。即純虛而無寒者。亦可用之。不溫則虛不復也。）</p>

<h3>生薑</h3>
<figure>
<img alt="生薑">
</figure>
<p>達肺經。發表除寒。橫行有效。入胃腑。溫中止嘔。辛熱多功。去穢通神。化痰散逆。煨熟則緩而性降。治中焦腹痛之虛寒。蜜炙則潤以兼疏。散肺部風痰之咳嗽。薑汁豁痰通絡。體用頗殊。姜皮散水和脾。溫涼稍異。（生薑味辛性溫。入肺胃。散寒發表。善宣胸膈逆氣。故生薑為治嘔聖藥。能解半夏南星諸菌等毒。祛邪辟惡。故聖人有不撤姜食之說。然辛散過盛。多食耗氣血。助火邪。不可不慎。用濕紙包裹。煨熟則無發散之性。但能溫中降逆。治寒滯腹痛。如治肺受風寒咳嗽。又欲其散。又懼其辛。熱傷肺。取生薑蜜炙。用薑汁開痰宣絡。姜皮散水行皮。溫涼各異。主治不同。不可謂一物泛用也。）</p>

<h3>蔥白</h3>
<figure>
<img alt="蔥白">
</figure>
<p>行肺胃以通陽。可溫宣而發汗。味辛性熱。散氣昏神。（蔥白即蔥之近根處白莖也。味辛性溫。升浮上達。入胃肺二經。其中空。故能外散風寒。內通陽氣。又能行血散瘀。止腹痛。消腫毒。皆系行氣之功。所謂三焦相通一氣而已。但耗散昏目。損志傷神。虛人當審用也。）</p>

<h3>大蒜</h3>
<figure>
<img alt="大蒜">
</figure>
<p>辛溫氣臭。脾胃功多。能破積以散寒。可辟邪而殺鬼。陰疽痃癖。火灸有功。搗貼外敷。隨宜施用。雖有解暑治蠱之功。不無耗陰損目之害。（大蒜辛熱臭烈之性。盛於蘆韭。故為五葷之首。有小毒。雖極臭而又能闢臭。故凡一切腥臭之物。用此同煮。均可解之。入脾胃。辟惡氣。散寒邪。化肉積。除癥瘕。但剛猛之性。耗散為多。道家稱其服之能損神伐性。不如外治之功為善也。少食卻能開胃進食。）</p>

<h3>韭菜</h3>
<figure>
<img alt="韭菜">
</figure>
<p>熟食性味甘溫。助肝腎元陽。補中寓散。生汁卻專辛熱。治血瘀噎膈。脘內留邪。根鬚通絡行瘀。下行降濁。韭子固精暖腎。治帶療淋。（韭菜一名起陽草。其葉味辛而酸。性溫。入肝經血分。助陽氣。暖下元。行散之力有餘。固補之功不足。亦為五葷之一。但行瘀散血。韭汁為優。暖下固精。韭子為勝。根鬚之性。與葉相同。而下行之力為專。故凡病後勞復。與夫陰陽易之病。下部瘀濁阻滯者。皆可用之。）</p>

<h3>薤白</h3>
<figure>
<img alt="薤白">
</figure>
<p>辛滑通陽。開胸痹之痰血。苦溫散氣。治泄痢之邪氛。（薤白其葉如韭。其根如小蒜。色白如鈕。取根用。味辛而苦。性溫而滑。入胃與大腸。以其辛苦溫滑之性。故能通胸中陽氣。散胸中痰血。至其能治赤白痢者。亦由陽氣不宣而痰血交滯耳。）</p>

<h3>馬齒莧</h3>
<figure>
<img alt="馬齒莧">
</figure>
<p>酸辛色赤。散血行肝。苦滑性寒。利腸消腫。專長外治敷搽效。卻少煎方服食功。（馬齒莧一名五方草。又云即今之醬板草。李時珍言此草處處園野皆生。柔莖布地。其葉細細對生。葉青。梗赤。花黃。根白。子黑。故有五方之名。以此推之。似與醬板草相同也。味酸微辛微苦。性寒質滑。入肝與大腸。專能行血滑竅。利大腸。雖有內服諸法。然長於外治。故以之敷癰散腫。為尤貴耳。）</p>

<h3>絲瓜絡</h3>
<figure>
<img alt="絲瓜絡">
</figure>
<p>通經絡。涼血祛風。性甘寒。化痰解毒。（絲瓜絡味甘性寒。入經絡解熱邪。熱除則風去。絡中津液不致結而為痰。變成腫毒諸證。故云解毒耳。）</p>

<h3>石花菜</h3>
<p>味本甘鹹。導腸中濕熱。性因寒滑。利肺部膠痰。（石花菜即麒麟菜。生南海沙石間。狀如珊瑚。枝上有細齒。色白可作菜食。味甘鹹。性寒滑。清肺部熱痰。導腸中濕熱。陰虛濕熱痔血等證。皆可用之。虛寒者尤宜禁耳。）</p>

<h3>木耳</h3>
<p>性屬甘平。滋養營陰治吐衄。質兼涼黑。善療痔漏止腸紅。務宜知有毒無毒之不齊。當省察良木朽木之互異。（木耳生於朽木上。得濕熱而生。受陰晦之氣。不無小毒。味甘色黑。雖能治痔漏腸紅等證。畢竟非治病良藥。僅堪以供蔬食。況木之種類不一。不可不審耳。）</p>

<h3>香菌</h3>
<p>甘平調胃疏風氣。香潤和中行血瘀。（香菌或土出。或木生。種類不一。皆為濕熱鬱蒸而生。然此物香甘可口。故能調脾和胃。其香似可入血。其形似宜解散。故又能疏風耳。）</p>

<h2>味類</h2>

<h3>吳茱萸</h3>
<figure>
<img alt="吳茱萸">
</figure>
<p>散厥陰之寒。辛苦疏肝降冷濁。燥脾家之濕。芳香治嘔愈寒疼。故疝瘕腳氣相宜。而鬱結飲邪亦效。吞酸胸滿。能導以下行。痃癖奔豚。可用其溫散。（吳茱萸辛苦而溫。芳香而燥。本為肝之主藥。而兼入脾胃者。以脾喜香燥。胃喜降下也。其性下氣最速。極能宣散鬱結。故治肝氣鬱滯。寒濁下踞。以致腹痛疝瘕等疾。或病邪下行極而上。乃為嘔吐吞酸胸滿諸病。均可治之。即其辛苦香燥之性。概可想見其功。然則治肝治胃以及中下寒濕滯濁。無不相宜耳。）</p>

<h3>茶葉</h3>
<figure>
<img alt="茶葉">
</figure>
<p>能清心而入胃。滌垢除煩。可消食以行痰。解酲止渴。芳香清肅。甘苦陰寒。（茶葉處處有之。皆產山谷間。種類不一。大抵以嫩而色香味美者為佳。味苦而甘。性寒。入心肺脾胃四經。能蠲除上焦鬱熱垢膩。除痰化食。清頭目。利二便。令人少睡。若虛寒之人服之。戕敗脾胃。易成痰飲等證耳。）</p>

<h3>川椒</h3>
<figure>
<img alt="川椒">
</figure>
<p>氣香有毒。走脾腎燥濕祛寒。色赤入營。達胃肝破症解鬱。壯元陽而除痼冷。下焦之水腫堪除。仗辛熱以殺諸蟲。表裡之疫邪可闢。椒目乃善導水邪下降。苦辛則能使喘滿消除。（川椒辛熱香燥之品。與吳茱萸相似。亦能下氣散結。但川椒之色。可入血分。能下達腎經。腎主水。故能治下焦水濕等病。其餘治中下寒濕疝瘕諸病。與吳茱萸相似。但入胃散逆。則吳茱萸為優。辟惡殺蟲。又川椒為勝耳。去閉口者用。○椒目色黑味苦。功專入腎治水。一切腫滿。小便不利。而致氣逆喘上者。皆可用之。）</p>

<h3>胡椒</h3>
<figure>
<img alt="胡椒">
</figure>
<p>味辛性熱。入肺胃以散寒邪。下氣寬中。消風痰而宣冷滯。發瘡昏目。助火傷陰。（胡椒。味辛性熱。入肺胃二經。能宣能散。開豁胸中寒痰冷氣。雖辛熱燥散之品。而又極能下氣。故食之即覺胸膈開爽。又能治上焦浮熱口齒諸病。至於發瘡助火之說。亦在用之當與不當耳。殺一切魚肉鱉蕈毒。故食料多用之。）</p>

<h3>畢澄茄</h3>
<p>治療與胡椒相似。溫膀胱。治腎臟寒凝。性味卻辛苦不同。降逆氣。散胃中冷滯。（畢澄茄形如胡椒。味苦辛溫。不如胡椒之熱。但入脾胃。溫中散逆。下氣豁痰。又能治腎與膀胱冷氣。亦凡子皆降之意。大抵一物大同小異耳。）</p>

<h3>芫荽</h3>
<figure>
<img alt="芫荽">
</figure>
<p>辛溫善散。可宣肺胃之寒凝。香竄難聞。能起痘疹之滯遏。（芫荽一名胡荽。辛溫入肺胃。散寒快氣。食之爽口。腹闢穢惡。畢竟芫荽辛臭之品。故道家列為五葷之一。人之血氣。聞香則順。聞臭則逆。若痘疹不起。欲用此宣發。吾恐欲順反逆。不如求之他藥為穩耳。）</p>

<h3>蘹香</h3>
<figure>
<img alt="蘹香">
</figure>
<p>治腹痛。平嘔吐。理胃宣中。辛甘併合。療疝瘕。祛寒濕。疏肝暖腎。香燥偏優。（蘹香有大小二種。形如八角者為大茴香。如蛇床子者為小茴香。食料入藥。皆以大者為勝。今人但知食料用大茴香。其小茴香概作藥用。亦習俗相仍耳。二者俱屬辛甘溫。能入肝與脾胃。統治寒濕疝瘕小腸膀胱一切冷氣。至於宣中辟惡。開胃止嘔。亦皆辛香溫暖之力歟。）</p>

<h1>金石部</h1>
<p>（李時珍曰。石者。氣之核。土之骨也。大則為山岩。細則為砂塵。其精者。為金為玉。其毒者。為硇為砒。氣之凝也。則結而為丹青。氣之化也。則液而為礬汞。是以禹貢周官。列其土產。農經軒典。詳其性功。亦良相良醫之所當注意者也。）</p>

<h2>金石類</h2>

<h3>金</h3>
<figure>
<img alt="金">
</figure>
<p>安魂魄。鎮心肝。辛平無毒。定風痰。闢鬼魅。下墜有功。（金為土之精華所結。故出自土中。稟西方之氣。其質重。其性剛。故能降肺金。平肝木。凡金石之出於土中者。有美惡之不同。其美者得天地之正氣。正能辟邪。故除鬼魅。既得天地之正氣。即可無毒。其服之能殺人者。皆服其質。因重墜之過。故煎湯治病。僅用其氣。為無慮耳。）</p>

<h3>鉛</h3>
<figure>
<img alt="鉛">
</figure>
<p>味屬甘鹹。功歸肝腎。墜痰下氣。都因重鎮之功。明目烏須。卻稟寒涼之性。（鉛亦出土中。為五金之祖。其色黑。其味鹹。故有入腎重鎮之功。至降肺金。平肝木。大抵與金相仿。夫土之生物。美惡不同。即五金中亦各隨其所產之處而性異。是以功用亦不相同也。）</p>

<h3>自然銅</h3>
<figure>
<img alt="自然銅">
</figure>
<p>續筋接骨。為傷損良方。破滯消瘀。味辛平小毒。（自然銅出銅壙中。壙氣凝結而成。內有銅脈。雖經火煉難為器皿者。故入藥一經火煅醋淬。即可研細。便能續筋接骨。消瘀和傷。不特自然銅有功。即一切銅屑皆可。或醋煅內服。或研細外敷。每見銅匠偶遇前證用之即愈。）</p>

<h3>銅青</h3>
<figure>
<img alt="銅青">
</figure>
<p>吹喉可吐風痰。入肝臟酸平有毒。點眼堪醫弦爛。治濕瘡蟲蝕無憂。（銅青即銅之精華結於銅器上者。今人以醋製銅上生綠。收取曬乾用之。故主治皆酸苦湧泄。入肝搜風之用。）</p>

<h3>黃丹</h3>
<p>辛鹹性寒。沉陰走血。墜痰退熱。能鎮逆以療驚。止痛生肌。可殺蟲而固脫。（黃丹用鉛與硫硝製成。未知其法。大抵外治之功為長。其內服諸法。無非皆賴其鎮固之功。而沉陰質重之物。究非所宜。）</p>

<h3>密陀僧</h3>
<figure>
<img alt="密陀僧">
</figure>
<p>鎮心主。墜痰涎。內服皆憑質冷重。滅瘢痕。退皶鼻。外敷咸仗味辛鹹。（密陀僧一云熔銀冶中之爐底。其初銀鉛相雜。一經火煉。則鉛腳下滲。久而結成。一云即造黃丹之渣腳熬煉而成。未知孰是。大抵總不脫鉛性。故功用與鉛粉黃丹一類三種略有差別。凡外科熬煉膏藥。皆可用以收膏。生肌涼血。均見其長。又五金之中。皆可以鉛配入。製成種種銅錫。高下不等。然則鉛之為用大矣。宜乎為五金之祖也。）</p>

<h3>紫石英</h3>
<figure>
<img alt="紫石英">
</figure>
<p>能走心肝。溫營血而潤養。可通奇脈。鎮沖氣之上升。雖有五色之分。性味甘辛則一。（紫石英形似紫晶。玉之類也。其形有五色之分。而用者惟紫白二種。皆具溫養潤澤之功。不可火煉。若一經火煅。則失其溫潤之性。而有毒烈之禍矣。石藥之性悍信哉。能入心肝血分。暖子宮。鎮沖氣。且潤澤而有補性。故女子血海虛寒不孕者宜之。）</p>

<h3>硃砂</h3>
<figure>
<img alt="硃砂">
</figure>
<p>味甘性寒。鎮墜有功邪熱去。外丹內汞。癲狂無患癇痰除。能闢鬼以安神。可護心而解毒。（硃砂出湖南辰州山谷間。稟離火以生。外陽內陰。中含真汞。得坤土純粹精靈之氣。故無毒而能解毒。凡物之稟乎正者。皆可勝邪。石類亦然。忌火煅。專入心經血分。其主治不離甘寒重鎮四字。硃砂之功足以盡之。）</p>

<h3>水銀</h3>
<figure>
<img alt="水銀">
</figure>
<p>其質即硃砂之液。性極陰寒。其治則蟲蝕成瘡。毒偏重墜。還元返本。當知煅煉之得宜。拯逆扶危。須識配合之有法。（水銀用硃砂燒煉而出。沉寒大毒。得凡火煅煉。則飛騰靈變。得人氣熏蒸。則入骨鑽筋。絕陽蝕腦。莫此為甚。其得鉛則凝。得硫則結。銅得之則明。屍得之不腐。然古方拯逆救危。每每與鉛硫並用。取其鎮墜痰涎。還元返本。其功不可盡掩也。外治之法。尤甚效驗。）</p>

<h3>輕粉</h3>
<p>即水銀之升煉。辛寒劫內伏之痰涎。能燥而提膿。毒烈殺外瘡之蟲積。（輕粉用水銀食鹽明礬升煉而成。其燥烈升散之性。與升藥相同。善劫痰涎。每見下疳等瘡毒。服此則牙根腐蝕。或有冷涎從牙縫中出。下疳雖愈。毒留筋骨。致成敗證者多矣。然生肌燥濕。外治之功。不可掩也。）</p>

<h3>雄黃</h3>
<figure>
<img alt="雄黃">
</figure>
<p>稟陽精之氣以生。驅陰破血。具辛熱之功取效。入胃通肝。闢鬼除邪。化留聚痰涎之積。殺蟲治疥。塗外傷蟲虺之災。（雄黃生山之陽。得陽精之氣於地者也。以明如雞冠。內無砂石者良。其石黃薰黃等。或產處不同。或變化不透。氣味惡劣。只可殺蟲搽疥。與雄黃有別耳。忌火煅。入肝胃。破瘀血。化痰涎。以其稟純陽之氣。故能闢鬼邪。殺蛇虺。解一切毒耳。）</p>

<h3>石膏</h3>
<figure>
<img alt="石膏">
</figure>
<p>退肺胃之火邪。清暑除煩能止渴。解陽明之鬱熱。祛溫逐疫可消斑。性屬甘寒。質頗重鎮。（石膏大寒質重。味甘之物。直清肺胃。相傳解肌之說。皆因表有風寒。里有鬱熱。故正氣被郁。不得透達於表。鬱熱解則表裡通矣。大青龍之制。亦猶是耳。豈質重性寒味甘之品而能發汗者哉。）</p>

<h3>滑石</h3>
<figure>
<img alt="滑石">
</figure>
<p>甘淡性寒。清熱有功於肺胃。分消質滑。導邪直降於州都。除濕熱之稽留。宣表裡而無滯。（滑石其性寒。其體滑。其質重。沉降下行。祛濕熱。從小腸膀胱而出。有謂其燥者。亦濕去則燥之故。非滑石之性燥也。或謂其能解肌者。亦裡通而表解之意歟。）</p>

<h3>赤石脂</h3>
<figure>
<img alt="赤石脂">
</figure>
<p>固大腸。治久痢腸紅。療崩帶淋漓。甘酸溫腎。養心氣。可和營斂血。塗癩風蝕爛。敷貼生肌。（赤石脂此石其性最黏而有脂。用以固濟爐鼎甚良。其味甘酸。其質重鎮。凡用藥治病。皆宜察形觀色。度其性味。審其寒溫。自有得心應手之妙。不必拘拘乎本草諸說。總之其治能入心腎大腸血分。其功不外乎固澀重鎮。足以盡之。）</p>

<h3>爐甘石</h3>
<p>得金銀壙氣以結成。能入陽明專燥濕。用三黃煎水而煅煉。善療目疾可平肝。止血生肌。甘溫無毒。（爐甘石出金銀壙中。金銀之苗也。舐之亦黏舌。以其得金銀之氣。故能平肝。治一切目疾。用三黃煎水煅用。長於外治。無內服方法耳。）</p>

<h3>鐘乳石</h3>
<figure>
<img alt="鐘乳石">
</figure>
<p>上溫肺冷。下壯腎陽。質重性偏。補火強陰通乳汁。味甘氣熱。除寒治嗽理虛勞。（鐘乳石得石之津氣。鍾聚成乳。滴流成石。內則中空如管。故名。稟陽剛之性。凡藥性之偏者。皆可用於暫而不可久。況石藥之氣悍哉。昧者服之。頓覺陽氣倍充。飲食倍進。形體壯盛為慶。而不知暗損陰精。致成消渴癰疽之禍矣。凡肺虛寒嗽。久不愈者。用數分研細沖服神效。又果樹上作穴。納鍾乳末少許。封好。則子多而味美。其功概可想見矣。）</p>

<h3>海浮石</h3>
<figure>
<img alt="海浮石">
</figure>
<p>體質輕浮。化痰火癭瘤。清金利咳。鹹寒潤下。治濁淋積塊。摩翳開光。（海浮石海邊水沫結成。其質輕。其體空。其色白。其味鹹。化痰清肺。是其所長。治淋者以其鹹寒潤下。又金為水之上源。源清而流潔耳。）</p>

<h3>磁石</h3>
<figure>
<img alt="磁石">
</figure>
<p>引金氣以下行。氣納喘平。導歸水部。鎮腎虛之恐怯。耳聰翳退。性味鹹寒。（磁石。生於有鐵處。為鐵之母。中有鐵紋。善吸鐵。有子母相黏之象。一云年久則仍化為鐵。想鐵之未成者。火煅醋淬。善拔疔瘡。其功入腎。能養腎氣。鎮腎虛。又能引金氣下行。故腎虛濁泛。而為內障耳鳴等證。皆可治之。）</p>

<h3>青礞石</h3>
<figure>
<img alt="青礞石">
</figure>
<p>其色青碧入肝。其味鹹寒潤下。同焰硝而煅煉。化痰積之膠黏。（青礞石此石善化老痰癖積。沉降下行。吐痰在水上。以末摻之痰即隨水而下。同火硝煅煉者。取其疏利之性。則礞石之功。更為剽悍耳。獨入肝家。治驚癇痰涎膠黏不化。不外咸能軟堅。重以鎮邪之意。）</p>

<h3>花蕊石</h3>
<figure>
<img alt="花蕊石">
</figure>
<p>酸可入肝。消瘀化水。溫能治外。斂口生肌。（花蕊石此石性能斂血。而又能使血化為水。一如兵家攻寇之法。欲劫之而先聚之之意。金瘡出血。刮末摻之即合者。亦此意也。）</p>

<h3>食鹽</h3>
<figure>
<img alt="食鹽">
</figure>
<p>走血具鹹寒之性。熱可退而結可通。入腎有潤下之功。食可吐而蠱可化。除風堅齒。明目強陰。（食鹽為食用之需。不過藥中用為制炒引導。如胸中一時痰食閉結。用此作吐。亦只可暫服。至若殺蟲治瘡之功。均資外治。以咸走血。多食之則敗血傷肺。助水損人。）</p>

<h3>青鹽</h3>
<figure>
<img alt="青鹽">
</figure>
<p>性同鹽而不經煎煉。利水強陰。味帶甘而並可軟堅。退陽明目。功歸血分。治達腎家。（青鹽出土中。不經煎煉。性味皆同食鹽。而略帶甘味。能益腎而不助水邪。其一切主治之功。較食鹽為勝。）</p>

<h3>芒硝</h3>
<figure>
<img alt="芒硝">
</figure>
<p>咸以軟堅。辛苦併兼下至速。寒而潤燥。熱痰互結蕩無餘。元明粉雖屬輕清。瀉燥實均歸腸胃。（芒硝。生斥鹵鹽地。取以煎煉而成。在下者為朴硝。在上者為芒硝。以芒硝再經煎煉。在上者為之元明粉。懸風處化成粉者為之風化硝。其主治雖有輕清重濁之分。而鹹寒潤下之性。非腸胃實熱堅結者。不可亂投。硝皮作用此以硝牛羊之皮。與硝石之硝不同。）</p>

<h3>硼砂</h3>
<figure>
<img alt="硼砂">
</figure>
<p>柔五金。化痰垢。骨哽翳遮。皆可隨方應手。清胸膈。利咽喉。鹹寒辛苦。盡能取效由人。（硼砂此物亦滷石之類。一云由煎煉而成。故能熔化。凡五金之屬。必須用此熔之。極能盪滌上焦一切鬱熱垢膩。消痰破結。長於外治。吹喉點睛諸方。悉皆用之。一云出南海諸番。系滷液結成。）</p>

<h3>硫黃</h3>
<figure>
<img alt="硫黃">
</figure>
<p>酸辛鹹熱。補腎火以助元陽。救逆扶危。潤大腸可疏風閉。冷癖陰凝之證。內服則用以宣通。蟲瘡疥癩諸方。外治則取其毒烈。（硫黃有二種。一種石硫黃。出外番山谷間。秉陽火之氣。由石液結成。凡產石硫黃之處。必有溫泉作硫黃氣。一種土硫黃。出廣南煤壙中。以法熬煉而成。其色帶青。其氣帶臭。碾之有聲。只可作瘡藥火藥之用。若服食之方。用以扶危濟急。拯逆返元。皆宜以石者為上。辛酸鹹熱有毒之品。用不得宜。或過用偏勝之害。禍如反掌。硫黃火之精也。暖而能通。入腎與命門大腸。回陽破陰之功。自非淺鮮。）</p>

<h3>白礬</h3>
<figure>
<img alt="白礬">
</figure>
<p>酸澀而收。鹹寒且斂。化痰滌熱。劫黏滑以稀涎。燥濕殺蟲。蝕惡肉而解毒。除風卻水。治痢敷瘡。（白礬初生亦石也。經煎煉而成。有五色精粗之分。其酸斂之性。同吐藥則吐。同斂藥則斂。如稀涎散蠟礬丸之類。性善卻水。水化書紙上。干則水不能濡。損齒傷肺。雖金匱治女癆癉硝石礬石散一方。能劫除腎邪。然畢竟削伐之品。外治為優耳。）</p>

<h3>銀硃</h3>
<p>煉同硫汞。能燥濕以提膿。功並埽盆。可劫痰而破積。殺蟲治疥諸般治。毒烈辛溫外用長。（銀硃用水銀硫黃升煉而成。與輕粉之性寒溫略異。而主治卻又相同。其燥烈升散較猛。長於外治。不宜內服耳。）</p>

<h3>禹餘糧</h3>
<figure>
<img alt="禹餘糧">
</figure>
<p>入陽明血分有功。治利鎮虛。崩帶並療能固下。秉太乙土精無毒。色黃質重。甘平兼澀性中和。（禹餘糧出山谷池澤間。乃石中黃粉或土之未成石者。其質重。其色黃。其味甘澀。其性微寒。為手足陽明血分鎮固之藥也。）</p>

<h3>代赭石</h3>
<figure>
<img alt="代赭石">
</figure>
<p>噫痞能除。用治虛邪重以鎮。心肝併入。堪清血分苦而寒。（代赭石出代郡山谷間。一雲山上有赭。山下有鐵。故此石似有鐵形。其主治不過重以鎮虛。寒能除熱。色赤入營。為手足厥陰之藥耳。）</p>

<h3>砒石</h3>
<figure>
<img alt="砒石">
</figure>
<p>熱毒且剛。能燥痰而作吐。辛酸兼苦。可截瘧以除哮。枯痔殺蟲。腐瘡蝕肉。（砒石出信州。乃錫之苗。一云近銅山處亦有之。夫地之生石也。稟賦有良毒之不齊。出產有寒溫之各異。昆蟲草木皆然。不獨石也。砒石大熱大毒。經火煅為霜。則其性更烈。雖有內外諸方。皆劫疾之功用。取速效。然總不可亂投。致生禍患。）</p>

<h3>石蟹</h3>
<figure>
<img alt="石蟹">
</figure>
<p>性味鹹寒善解熱。點摩翳障並催生。（石蟹生南海。即尋常之蟹。在石穴中年深月久。與水沫相結。即化為石。近海州郡皆有之。鹹寒質重之性。故主治如上。）</p>

<h3>寒水石</h3>
<p>辛鹹重寒無毒。清肺胃。併入大腸。溫邪暑熱有功。解渴煩。且涼血分。（寒水石此石即古之方解石。敲之塊塊方解。其光潔如白石英。燒之不軟。大抵性寒質重。色白之品。與石膏主治相同。惟用者甚罕耳。古之寒水石。即凝水石。產於鹽地。入水即化。其鹹寒入腎。走血除熱之功。較方解石膏等石為勝耳。）</p>

<h3>元精石</h3>
<figure>
<img alt="元精石">
</figure>
<p>稟太陰癸水之精。鹹寒沉降。治上盛下虛之疾。迴護真元。（元精石出產鹽之地。系鹽之津液。滲入土中。年久結成石片。如龜背之形。色綠而明。稟積陰之氣。故能入腎鎮虛。填陰益下。來復丹用此。同硫黃硝石。治上盛下虛。有救陰助陽之功。使元陰不為硫黃所耗。則元精石之功可想矣。）</p>

<h3>膽礬</h3>
<figure>
<img alt="膽礬">
</figure>
<p>質本酸寒。湧吐風痰燥濕濁。功歸肝膽。點擦牙眼殺蟲疳。（膽礬生銅壙中。石類也。磨於鐵上即成銅色。得火煅則色紅而無汁出者真也。味酸苦寒有小毒。專入肝膽。湧吐膈上之風痰。頗為猛疾。其餘諸治。不過旁及而已。故醫者意也。若能格物之性。以意參之。自有藥到病除之效。）</p>

<h3>火硝</h3>
<p>咸以苦辛。溫而升發。散堅凝之冷積。攻㽲痛之沉寒。（火硝一名地霜。出北地。冬月地上有霜。掃取以水淋汁煎煉而成。能化五金八石。可作火藥。雖咸潤之品。極能盪滌宿垢瘀積。而性升屬火。其升發之力。較下奪之力為更猛也。）</p>

<h3>硇砂</h3>
<figure>
<img alt="硇砂">
</figure>
<p>軟堅痰。消宿食。咸熱可行瘀。內服須知性有毒。化肉積。除癥瘕。苦辛能散腫。外施頗覺效非常。（硇砂產炎方斥鹵之地。稟陰石之氣。含陰毒之精。以鼻聞之。自覺炎熱之氣蒸蒸外達。能化五金八石。腐爛腸胃。其咸熱之性。毒烈可知。功用皆外治為長。雖有內服諸方。然亦不可亂用也。西域有火山。每每有煙出自焚。山為之崩。甚至遠近人畜皆災。採硇砂者。須乘木履。若皮底即焦矣。）</p>

<h3>鉛粉</h3>
<p>殺蟲澤面辛寒重。退熱除痰外治多。（鉛粉化鉛為之。和入豆粉蛤粉。製成燒之。則成黑色。服之大便亦黑。所謂色壞還為鉛。復其本質也。但陰毒之性。究非服食所宜。用以熬膏貼瘡可也。）</p>

<h3>古文錢</h3>
<p>摩用退目中障翳。重鎮平肝。煎湯治產逆癃淋。辛平有毒。（古文錢大抵以五銖半兩等錢。其銅焦赤。而舊錢上起綠花者良。其主治。不過鎮逆平肝。辟邪點翳而已。）</p>

<h3>鐵落</h3>
<figure>
<img alt="鐵落">
</figure>
<p>平肝鎮卻。治驚風癲癇之痰。治怒療狂。為無毒辛平之品。（鐵落即鐵屑也。其主治性味。不過如上。）</p>

<h3>雲母石</h3>
<figure>
<img alt="雲母石">
</figure>
<p>甘平無毒。潤白歸金。飛補太陰。續絕堅肌顏悅澤。剿除牡瘧。除寒鎮卻正安舒。雖有煉服之功能。須知石藥之剽悍。（雲母石出山谷間。下有云母。上有云氣。乃山澤之精英。挾雲氣久久結成。色白屬金。但石藥之性悍。雖有煉服補益諸說。究不可信以為然。此石入火不焦。埋之不腐。故亦神其說云。）</p>

<h3>石燕</h3>
<p>味甘涼無毒。力可催生。治濕熱諸淋。功堪磨翳。（石燕出山谷中。如燕形。其腹有紋。石類也。不過甘涼清利之功。故主治如上。色白質重屬金。金能平木。故亦能退翳耳。）</p>

<h3>皂礬</h3>
<figure>
<img alt="皂礬">
</figure>
<p>燥濕化痰消食積。腫脹皆除。殺蟲潤下治瘡疳。酸涼並效。（皂礬一名綠礬。燒之則色紅。故又名絳礬。其出產性味主治。皆與白礬相同。惟此礬似出斥鹵之地。以其置陰濕處。即還潮。其色青綠。而燒之則紅。故能入肝家血分。平肝伐木。化積潤下之功。與白礬稍異。）</p>

<h3>針砂</h3>
<p>消水腫以除癉。散癭瘤而化積。辛鹹無毒。鎮墜多功。（針砂此乃作針家磨銼之細末也。醋煅用。長於平肝鎮逆。肝平則脾不受克。積聚水腫黃癉。皆可治也。醋煅醋調敷瘤。漸漸斂小。甚效。）</p>

<h1>土部</h1>
<p>（李時珍曰。土者。五行之主。坤之體也。具五色而以黃為正色。備五味而以甘為正味。是以禹貢辨九州之土色。周官辨十二壤之土性。其為德至柔而剛。至靜有常。生萬物而不與。化萬物而無方。其切於人用者大矣。豈可不審擇哉。）</p>

<h2>土類</h2>

<h3>伏龍肝</h3>
<p>味辛散逆以和中。治帶療崩。嘔家聖藥。質燥溫脾而暖胃。敷癰解魘。遠血良方。（伏龍肝即灶心土。須對釜臍下經火久煉而成形者。具土之質。得火之性。化柔為剛。味兼辛苦。其功專入脾胃。有扶陽退陰散結除邪之意。凡諸血病。由脾胃陽虛而不能統攝者。皆可用之。金匱黃土湯即此意。）</p>

<h3>墨</h3>
<p>止血有功。色黑入營內可服。行瘀無阻。辛溫消腫外能敷。（墨煙煤合膠水所成。以松煙者為佳。用陳者取其膠性漸脫。火氣漸退。然內服總宜煅用。方無膠滯之患。止血者不過紅見黑則止之意。畢竟辛溫散血之品。如血熱妄行之證。亦宜慎用。）</p>

<h3>百草霜</h3>
<p>療傷寒陽毒之邪。化積行瘀。斑狂從治。醫疔毒瘡癰等證。溫通辛散。崩帶宜求。（百草霜此乃灶額煙囪內所熏之煙煤也。其質輕細。故為之霜。大抵辛溫火化之物。其色黑。其體輕。能治上焦血分之疾。與釜臍墨等散血之功。主治相同。但有輕重之異耳。黑奴丸之治陽毒斑狂等證。亦謂疫邪深入血分。用此從治也。）</p>

<h3>黃土</h3>
<p>甘平解百毒而除蟲。絞痛因中州而成疾。（黃土須鄉間高潔處。去上層汙濁浮泥。掘深一二尺。至黃土為佳。解毒殺蟲之效。無出其右。其稼穡作甘之味。宜乎有益於脾胃也。）</p>

<h3>孩兒茶</h3>
<p>苦澀且微寒。能點痔而止血。熱痰仗清化。可定痛以生肌。（孩兒茶用細茶末。入竹筒中。堅塞兩頭。埋汙泥溝中。日久取出。搗汁熬製而成塊。小而潤澤者為上。大而焦枯者次之。生肌口瘡等藥。皆外治為多。內服雖有方法。亦不過藉其清化之力耳。然畢竟膠滯之物。用者亦罕。）</p>

<h3>煙膠</h3>
<p>頭瘡癬癩油風。調敷有效。性味辛溫微毒。內服無功。（煙膠。此係煎硝牛皮灶上所熏之煙煤黏結如膠者也。只堪外治。能潤肌膚之燥。治浸淫之瘡。殺蟲化濕。頗有效驗。）</p>

<h3>井底泥</h3>
<p>療陽狂熱病。塗湯火瘡瘍。外治所需。甘寒無毒。（井底泥稟至陰之性。以治諸陽熱之病。只有外治之法。而無內服之方。）</p>

<h3>釜臍墨</h3>
<p>溫可行瘀。破積消癰塗舌腫。辛能散血。驅邪辟蠱治金瘡。（釜臍墨即鍋底墨灰。其辛溫散血之性。與百草霜同。而輕重之質。略有差別。百草霜有輕揚解散之功。釜臍墨具辟惡消瘀之力。在用者之得其宜耳。）</p>

<h3>梁上塵</h3>
<p>辛苦微寒有小毒。辟惡行瘀。輕浮止血摻諸瘡。安胎治膈。（梁上塵即梁上倒掛塵。古方雖有用之者。然亦無甚深意。不免有蟲虺之毒。且對證之藥良多。不必拘拘乎偏僻之物也。）</p>

<h3>石鹼</h3>
<p>功消痰垢。其用則腐肉傷肌。味苦辛鹹。其性則微溫有毒。（石鹼採蒿蓼之屬。開窖浸水。再撈起曬乾。燒灰。仍以原水淋汁。每百斤入粉面二三斤。久則凝澱如石。然鹹苦惡劣之性。只可外用。不宜內服。）</p>

<h1>禽部</h1>
<p>（李時珍曰。禽者。蟲之一類也。毛協四時。色合五方。山禽岩棲。原鳥地處。其交也。或以尾臎。或以睛睨。其生也。或以翼胞。或以氣變。是以五鳩九扈。少皞取以名官。雄雉鴟鴞。詩人藉以觀感。聖人之於禽也豈徒然哉。）</p>

<h2>禽類</h2>

<h3>烏骨雞</h3>
<figure>
<img alt="烏骨雞">
</figure>
<p>補肝家血液之虧。理產治勞。甘平無毒。治肺腎虛羸之疾。白毛黑骨。金水相生。巽木屬風。能動風而發毒。內金化食。可消食以寬中。煅捕殼以調搽。磨翳敷瘡。下疳盡愈。煎矢白而酒服。通腸治鼓。性味鹹寒。雞冠氣稟純陽。治中惡且除客忤。雞子性平甘潤。安五臟尤養心神。（烏骨雞。雞之種類甚多。大抵以白毛黑骨。皮肉盡黑者良。雞為巽木。性味甘平。血肉有情之品。肝虛者宜食之。以其外白內黑。得金水相生之意。故肝肺腎三臟血液不足者最宜。然又能動風發毒。一切外證。一切風病人忌之。○雞內金。即雞硬肝內之黃皮也。凡雞所食之物。皆在此消化。炙黑用之。為消磨水穀之物。且能治淋濁。止遺尿。以雞無小便也。○煅孵殼研末。治目翳下疳諸瘡。皆取脫退之意也。○雞屎白。雄雞屎乃有白。鹹苦性寒。下行善降。入肝脾二腸。能消導一切水穀濕熱積滯。凡鼓脹蠱脹屬實熱者。皆可用之。金匱治轉筋入腹用之者。以肝邪乘脾。雞屎能利脾也。○雞冠血以丹雄者為良。味鹹平。得至高純陽之氣。故能闢陰邪。治中惡五絕等證。至於塗口目歪斜者。以其能入血透絡。雞為巽畜。可以治風也。○雞子生涼熟溫。內黃外白。入心肺。寧神定魄。和合熟食。亦能補益脾胃。生沖服之。可以養心營。可以退虛熱。在用者之神化耳。）</p>

<h3>鴨</h3>
<figure>
<img alt="鴨">
</figure>
<p>味合甘鹹。功兼肺腎。養金治嗽。扶久弱之虛勞。退熱滋陰。可流行於水府。生血專能解石毒。金銀砒葛都除。野鳧並可益虛羸。性味功能相似。（鴨一名鶩。有家野兩種。家者為鶩。野者為鳧。均以色白者為良。此水禽也。入肺腎兩臟。味甘微咸。性涼無毒。益陰利水。是其所長。然亦只可充烹飪。畢竟非治病之藥。○鴨血性味鹹寒。功專解毒。但須熱飲方佳。亦古今相傳之法耳。又治溺水死者。灌之即活。蚯蚓傷者。塗之亦愈。亦氣之相感也。）</p>

<h3>雀卵</h3>
<p>甘溫助腎。能益精以壯陽。酸暖補肝。治血枯之經少。當識白丁香。消癰破積。須求雄雀糞。退翳開光。潰膿治疝有成方。味苦鹹溫無毒品。（雀卵老而斑者為麻雀。小而黃者為黃雀。其性最淫。其卵系精血凝聚而成。甘酸性溫。故能補肝血。助腎陽。治一切痿弱不振等證。○白丁香即麻雀屎。以形尖長雄者為良。苦鹹溫。善消化。治腹中疝瘕積聚。肝腎腸胃之疾。外治退翳膜。決癰腫。皆取其能消散之意耳。）</p>

<h3>五靈脂</h3>
<figure>
<img alt="五靈脂">
</figure>
<p>通肝破血。鹹酸溫痛滯均瘳。消積除風。腥穢濁虛人當禁。崩淋漏帶。皆屬寒瘀。摩翳殺蟲。盡由肝病。（五靈脂即寒號蟲矢也。甘苦鹹溫。腥臭濁惡。能入肝破血消積。治一切疝瘕血滯諸證。然須病因於寒者為宜。翳與蟲皆由風木鬱滯而起。故均治之。極易敗胃。虛人禁用。）</p>

<h3>燕窩</h3>
<p>養肺胃之陰津。平和甘淡。治虛勞之痰嗽。補潤安寧。（燕窩出閩廣以南近海砂石之處。有燕名金絲燕。首尾似燕而甚小。毛似金絲。臨卵育子。群飛海邊有石處。啄食銀魚螺螄等物食之。復連津液嘔出。黏於石上。作成小窩。待小燕飛去。土人依時取之。味甘淡。性平和。潤養肺陰。蠲除虛熱。為虛勞咳嗽之聖藥。胃虛食少。以及脾腎陽虛者。均屬不宜。）</p>

<h3>夜明砂</h3>
<p>感陰氣之精。其目夜明善治瞽。稟鹹寒之性。其砂辛苦可行瘀。能理兒疳。堪摩腹積。（夜明砂即蝙蝠屎。蝙蝠俗所謂偷油老鼠也。其鼠善食蚊而睛不化。故屎皆蚊眼也。蚊為食血之物。故能入肝破血。此鼠晝伏夜飛。其目夜明。故能治雀目退翳膜。辛苦鹹寒之性。無非入肝以破血消滯為用耳。）</p>

<h3>鵜鶘油</h3>
<p>味本鹹溫。行經絡而達病所。功頗滑利。治風痹而通耳聾。（鵜鶘油即淘鵝油。此油最滲漏。不拘他物盛之。即滲漏。須仍用其嗉盛之乃可。味甘鹹。性溫。其主治塗癰腫風癉等證。只可用以外治。不堪內服。無非取其透達病所之意耳。）</p>

<h3>鴿</h3>
<p>解藥毒以補虛羸。性稟鹹平益血脈。稀痘瘡而用鴿卵。屎兼辛苦治蟲瘡。（鴿凡鳥皆雄乘雌。此乃雌乘雄。故其性善淫。鹹平無毒。益精補虛。解諸藥毒。凡瘡瘍痘疹疥癬等毒。皆可解之。○鴿卵專解痘毒瘡毒。小兒食之。可不出痘。即出亦稀。○鴿屎一名左盤龍。其屎皆左盤。故名。辛苦鹹溫。內服能消積殺蟲。外敷可治瘡治疥。各有攸宜耳。）</p>

<h1>獸部</h1>
<p>（李時珍曰。獸者。毛蟲之總稱也。山原者為之獸。豢養者為之畜。周制庖人供六畜以奉祭祀。獸人辦六獸以入王府。膻羊之問。宣父獨知。鼴鼠之對。終軍能究。聖人之於獸也。亦云詳矣。況物之性理萬殊。人之用舍宜慎。蓋不但多識其名而已也。）</p>

<h2>獸類</h2>

<h3>麝香</h3>
<figure>
<img alt="麝香">
</figure>
<p>辛溫香苦。能開竅以搜邪。驚癇風痰。治卒中之內閉。瓜果盡消酒毒解。腫瘍渙散蠱邪除。（麝其形似獐。小而色黑。麝香即其臍也。其所居之處。遠近草木皆香。然其地草木枝葉不茂。瓜果不實。辛溫香竄之性。通關開竅。辟惡除邪。無所不到。凡一切諸中無論臟腑經絡屬邪閉者。皆可用之。外證消腫毒。用之者亦取其能開毛竅。有辛香走散之功耳。）</p>

<h3>牛黃</h3>
<figure>
<img alt="牛黃">
</figure>
<p>甘苦微涼。芳香無毒。清心肝之煩熱。達竅搜邪。假靈氣以生成。疏風解毒。驚癇痰迷須取用。喉癉痘後最相宜。（牛黃有廣黃西黃兩種。以所出處之地而命名。然考此物大抵皆因牛病而成黃。每每結於肝膽之間。因殺病牛而得之膽中者亦多。無論諸獸病黃者。內皆有黃。人亦如是。故所治之病。一切風癇寒熱。安魂定驚。諸治皆屬肝膽之病。所謂即以其人之道。還治其人之身。正如人之淋石。復能治淋之意也。若必謂牛食仙草所生。恐亦未必。用者再審之。）</p>

<h3>阿膠</h3>
<figure>
<img alt="阿膠">
</figure>
<p>用濟水以煎成。滌垢行瘀。功專治嗽。藉驢皮之功用。補陰益血。力主祛風。且能潤燥化痰。味甘鹹而平性。並可入肝及肺。治痿弱與虛勞。（阿膠。用黑驢皮以阿井水煎成。阿井出山東。為濟水所伏流之處。其水清而且重。無論塵滓。皆可澄下。即以少許用攪濁水。亦能立清。黑驢皮皮可入肺。黑能入腎。血肉有情之品。使之金水相生。補養血液。肝為藏血之地。血足則肝木受榮。風邪自息。和合煎膠。為治虛勞咳嗽一切血證之要藥。味甘鹹平。以清脆明亮。不腥穢。不柔軟者為佳。）</p>

<h3>熊膽</h3>
<figure>
<img alt="熊膽">
</figure>
<p>性本苦寒。功歸肝膽。退熱邪而明目。耳疳鼻蝕並相宜。搽痔漏與諸蟲。驚癇牙疼悉主治。（熊膽。熊之種類甚多。膽之真偽不一。據云此膽善闢塵。試以淨水一盞。塵幕其上。投膽少許。其塵豁然而開者良。苦寒無毒。清心肝膽之熱。善治目。能殺蟲治痔。與夫耳疳鼻蝕等證。皆外用為功。無非取苦寒涼潤之力耳。）</p>

<h3>象皮</h3>
<figure>
<img alt="象皮">
</figure>
<p>鹹溫無毒。外治有功。長肌肉之神丹。合金瘡之要藥。象牙退管除星翳。性味甘寒闢魅邪。（象皮味甘鹹溫。此物臃腫頗盛。人以刀斧刺之。其合甚速。故用之。炙研細末。合金瘡。長肌肉。極效。外治有功。但真者絕少耳。○象牙甘寒無毒。磨屑用之。皆取脫退之意。故內服治痔漏之管。外用點新久之翳。塗諸刺之入肉。解諸獸毒。闢諸邪傷。以象為諸獸中巨擘耳。）</p>

<h3>鹿茸</h3>
<figure>
<img alt="鹿茸">
</figure>
<p>甘鹹入腎。補精髓以壯元陽。血肉有情。仗仙靈能通督脈。稟純陽之氣。健骨有功。含生髮之機。扶羸可賴。霜乃鹹溫力薄。膠則血液功優。生角酒摩。又能散血。麋茸制服。更可強陰。各種類同於性味。兩般須辨夫陰陽。（鹿茸乃鹿初生之嫩角。長不過一二寸。色紫而嫩。取茸時連腦骨切下。然後斃鹿。取其全生氣而血不散也。鹿為仙獸。其性純陽而好淫。首常向尾。能通督脈。角為精血所聚。鹿茸其最著者也。味甘鹹。性溫。大補腎臟精血。助元陽。通督脈。血肉有情之品。用補虛羸。似較他藥為勝。至於除邪辟鬼。亦因其純陽之性耳。○鹿角截成寸斷。洗剔盡淨。用烈火煮三日夜。其角自酥而膏生。去渣再煎。則成鹿角膠。如煎至角酥軟。尚未出膏。取出。為之鹿角霜。性味功用。與鹿茸相近。但少壯衰老不同。然總不外乎血肉有情之品。能溫補督脈。添精益血。如精血不足。而可受膩補。則用膠。若僅陽虛而不受滋膩者。則用霜可也。○如老角生用。則堅剛之性。又能破惡血。闢鬼邪。雖生熟老嫩。有所不同。而其壯陽道。續絕傷。不可全泯也。○麋茸乃麋之茸。與鹿茸同類。性味主治亦彷彿。但鹿居山。麋居澤。鹿屬陽。麋屬陰。鹿角至夏至逢陰而解。麋角至冬至逢陽而解。一補陽而一補陰。雖皆血液之屬。輕靈之品。而略有區別耳。）</p>

<h3>羊肉</h3>
<figure>
<img alt="羊肉">
</figure>
<p>味甘溫。入肝胃。補血功優。壯陽道。治虛勞。發風力猛。羊血生吞石毒解。羊肝丸服眼科良。（羊肉味甘氣膻。性熱無毒。入脾胃肝三經。以形補形。一切虛寒瘕疝腹中急痛等證。皆可服食。然亦宜脾胃未衰。能於運化者。否則膻濁之物。油膩之品。反為不美。且最能動風發毒。一切有外證有風毒者。不可用之。○羊血鹹平無毒。用白者熱飲良。解一切石毒。一切草毒。又能活血行血。治產後血悶血攻血瘀等證。○羊肝古方雖有用羊肝治目疾等法。然亦不過以肝入肝。假為引導。畢竟無甚功用。究不若用羊膽之為美也。）</p>

<h3>狗寶</h3>
<p>反胃噎膈均瘳。皆賴甘平之性。癰毒疔疽並愈。全憑寶氣之功。（狗寶生癩狗腹中。狀如白石。層疊可愛。雖有治反胃噎膈癰疽疔毒之功。畢竟狗之寶牛之黃。皆因病而生。如人之石淋石瘕。亦有此類。即人之病黃者。膽胃中亦有黃塊。由此觀之。所謂食仙草結成之說。自可想見。不過良毒美惡。皆有所用。如牛黃之入肝。狗寶之入心。用者以意度之可也。）</p>

<h3>虎骨</h3>
<figure>
<img alt="虎骨">
</figure>
<p>得西方金氣以平肝。治痛搜風能健骨。其性味辛溫而無毒。辟邪殺鬼並安魂。用以煎膠。功兼滋補。（虎骨。虎為諸獸之長。諸獸見之皆震恐。故能辟邪魅。安魂魄。定驚悸。虎之強悍。皆在於脛。雖死猶立不僕。故能強筋骨。益氣力。所謂風從虎者。風木也。虎金也。木受金制。焉能不從。故能追風毒。治骨節痹著等證。其骨煎煉成膠。又能於搜風健骨中。寓以滋補血液耳。）</p>

<h3>犀角</h3>
<figure>
<img alt="犀角">
</figure>
<p>鹹苦大寒。專入心家治血熱。輕靈解毒。善清胃腑退癍疹。治火鬱之吐紅。救痘瘡之陷黑。（犀角。犀為水獸。角者精靈之所聚。專解一切水毒。亦能鎮邪辟魅。味鹹性寒。入心胃血分。凡心胃血分有火邪焚灼。以致吐血衄血陽毒發癍狂亂熱極等證。皆可用之。且此藥寒而不遏。有輕清透發之意。故凡一切痘疹痧麻等疾。因內熱不透發者。最為相宜。）</p>

<h3>羚羊角</h3>
<figure>
<img alt="羚羊角">
</figure>
<p>清肝膽之熱狂。性稟輕靈。鹹寒解毒。治厥陰之風痙。功專明目。辟惡除邪。（羚羊角。諸羊屬火。而羚羊屬木。故獨入肝膽。羚之性靈。其角又為清靈之物。故亦能解毒辟邪。鹹寒之品。專清肝膽之火。凡一切目病驚癇肝風肝火諸病。因肝膽之火而成者。皆可用之。其餘透發痘疹等類。亦與犀角相同。）</p>

<h3>獺肝</h3>
<figure>
<img alt="獺肝">
</figure>
<p>闢魅殺蟲。療傳屍之鬼疰。通肝達胃。性有毒而甘溫。（獺肝。獺水之獸也。無甚功用。惟其肝可以療屍疰。殺瘵蟲。味甘鹹。性溫有小毒。據云諸獸肝葉皆有定數。惟獺肝一月一葉。至十二月有十二葉。未知然否。大抵以血肉之品。能入肝殺蟲闢魅耳。又獺善食魚。故燒灰酒服。可治魚骨哽亦效。）</p>

<h3>海狗腎</h3>
<figure>
<img alt="海狗腎">
</figure>
<p>補腎壯元陽。味鹹性熱。固精療屍疰。闢魅除邪。（海狗腎一名膃肭臍。出海中。獸之外腎也。味鹹性溫無毒。入腎經。能壯元陽。補精髓。陽氣壯則陰邪除。故療屍疰。闢鬼邪。與夫寒疝癥瘕等疾。皆可治耳。）</p>

<h3>白馬溺</h3>
<figure>
<img alt="白馬溺">
</figure>
<p>味辛寒而有毒。消症癖以殺蟲。（白馬溺。前人皆云能消癖殺蟲。治反胃噎膈腹痛等證。凡有蟲者皆可用。又能治熱證消渴者。皆因鹹寒下降。能導熱下行之意。其殺蟲一端。想因其辛而有毒耳。）</p>

<h3>豬脊髓</h3>
<figure>
<img alt="豬脊髓">
</figure>
<p>味甘而咸。質寒且膩。補虛勞之脊痛。除骨髓之煩蒸。心血共硃砂。入心而除驚癇。豬肺同薏苡。治痿以保肺金。胃可益脾。腎仍歸腎。豬膽有導便之功。豬蹄有下乳之用。膚能清上。豬膚湯取治咽喉。腸可潤腸。臟連丸用為引導。（豬脊髓味甘鹹性寒。通督脈。補精髓。凡陰虛骨蒸。五心夜熱。脊痛脊凸等證。皆可用之。以形補形也。○心血凡治驚癇癲狂藥中用為入心之引導。心為君主而藏神。故能寧神闢鬼。心主血。又能涼血熱。發痘瘡。亦鹹寒之力也。○肺甘寒入肺。同白芨煮食。則補肺虛。同苡仁蘸食。則治肺痿。亦假其導引之力耳。○胃甘溫屬土。能養胃健脾和中進食。古方多用之。○腎鹹寒無毒。雖有入腎治腰痛之說。然亦不過佐他藥以引導耳。○豬膽汁仲景治陰盛格陽之證。恐藥格拒不下。用此加入白通湯中。取其苦寒潤滑。有情血液之屬。降其虛陽。潤其津液。然後熱藥不致傷上。至於導大便。敷疔瘡。殺蟲治疳。亦皆取苦寒潤滑之意耳。○豬蹄甘鹹性寒。入胃經。善下降。血液之屬。服入胃中。自能溶洽血液。滲灌經絡。故有下乳汁之功也。○豬膚即燖豬時刮下黑膚。鹹寒入肺。仲景治少陰病下痢咽痛。皆由腎水不足。虛火刑金所致者。○豬腸甘寒。入腸潤燥。凡腸風臟毒痔漏等證。皆可用為引導。以上各種。如用入藥。均宜豭豬獖豬牡者為之。豭音加。去勢者為之。獖音文。）</p>

<h3>雄鼠屎</h3>
<p>甘寒導濁。陰陽易假以分消。鹹苦行瘀。鼠屎湯可療瘕疝。消乳癰而退翳。入少陰與厥陰。（雄鼠屎甘苦鹹寒無毒。入肝腎二經。功專導濁行滯。凡以上所主之病。皆由肝腎瘀滯而成。消之導之。其病自已。兩頭尖者為雄。雄者良。）</p>

<h3>刺蝟皮</h3>
<figure>
<img alt="刺蝟皮">
</figure>
<p>味苦氣平疏胃逆。寬腸療痔散瘀邪。（刺蝟皮處處有之。即俗所謂偷瓜狘。其皮如毫豬有刺。人近之則藏頭足於內。能刺人。苦平無毒。入胃與大腸血分。能疏胃中逆氣瘀滯。治腸中痔漏下血。考其功不過逐瘀滯。除漏管為最。平胃逆次之。如是而已。）</p>

<h3>山羊血</h3>
<p>活血祛傷。酒服可行可散。續筋接骨。鹹溫能走能和。（山羊血甘鹹溫。入心肝血分。凡折傷瘀留為患者。用此行之散之。無所不到。血液之屬。較草木之功為勝耳。）</p>

<h3>酥油</h3>
<p>潤五臟。利二腸。諸藥炙之能入骨。宣風痹。達經絡。性平無毒味純甘。（酥油即牛羊乳所結之面油也。甘平潤澤。乃血液之屬。凡臟腑經絡。皆能滲灌潤澤。故能宣風痹。除熱邪。故鱉甲龜板虎骨之類。用酥塗炙者。取其易脆而滲入骨髓耳。）</p>

<h1>鱗介部</h1>
<p>（李時珍曰。鱗介者。五蟲之各為其一也。有水陸之分。具良毒之性。鱗屬皆卵生。而蝮蛇胎產。水屬皆不瞑。而河豚目眨。月令伐蛟取鼉。登龜取黿。命漁師毋失其時。周禮春獻鱉蜃。秋獻龜魚。付醢人以供祭祀。然則鱗介之物。亦聖世供饌之所不廢者也。而況又可充藥品乎。）</p>

<h2>鱗介類</h2>

<h3>龍骨</h3>
<figure>
<img alt="龍骨">
</figure>
<p>性入東方。治肝臟魂無所附。功昭靈異。療驚風瘛痙難痊。斂瘡口以止遺。甘平性澀。固崩淋而闢魅。重鎮能收。（龍骨。一雲龍蛻骨。鹿蛻角。蛇蛻皮。蟹脫殼。則龍骨是所蛻之骨。一云出山谷間。是死龍。又云山谷間所生嫩石。得龍交感之氣而生。其形相似。有角齒三說。未知孰是。味甘澀。性平質重。舐之黏舌不脫。入肝腎大腸。鎮虛固脫。是其本功。一切外內諸治。皆從四字脫化而來。龍為靈物。故又能安神闢魅耳。龍為東方之神。故專入肝。肝藏魂。故魂不歸肝者。治之以龍骨。）</p>

<h3>牡蠣</h3>
<figure>
<img alt="牡蠣">
</figure>
<p>味屬鹹寒。退熱潛陽生可貴。性多澀固。療崩斂汗煅相宜。兼之燥濕軟堅。瘰癧結痰皆易散。且又益陰補水。骨蒸遺滑盡能瘳。（牡蠣。出海中。形如大螃。其殼只有一片。而無對偶。故為之牡。鹹寒入腎。能益陰潛陽。退虛熱。軟堅痰。煅之則燥而兼澀。又能固下焦。除濕濁。斂虛汗。具鹹寒介類之功。有重鎮攝下之意。外用內用。均可推想耳。）</p>

<h3>龜板</h3>
<figure>
<img alt="龜板">
</figure>
<p>補腎水。退骨蒸。鹹寒之力。通任脈。潛虛陽。介類之功。胎產崩淋。能調能順。癥瘕痔漏。可導可宣。（龜板。龜有數種。大抵以水龜為良。龜為北方之神。色黑味甘鹹。性寒。能入腎經。其首常藏在腹。故又通任脈。能導引胎息。故靈而多壽。以龜板為柔中之剛。有解脫之義。故能破癥瘕。治難產。至於崩淋痔漏陰蝕等證。皆任脈為病。腎陰不足所致也。總之壯腎水。退骨蒸。通任脈。潛虛陽。其主治不離乎此。煎膠更良。）</p>

<h3>鱉甲</h3>
<figure>
<img alt="鱉甲">
</figure>
<p>性本鹹寒。入肝達絡。功行瘀癖。退熱潛陽。（鱉甲色青入肝。鹹寒無毒。通經絡。散瘀血。為厥陰血分之藥。凡水族介類之屬。皆能益陰潛陽。鹹寒之性則同。其所入之處又各不同耳。）</p>

<h3>鯽魚</h3>
<figure>
<img alt="鯽魚">
</figure>
<p>屬土相宜於脾胃。因味甘以性溫。利水不及於鯉烏。能動風而發毒。（鯽魚味甘性溫。喜偎泥。故屬土。和脾養胃。是以凡病後虛弱之人。惟鯽魚可食。水族之類。皆能利水。魚腥之類。均可發風。亦事之常理也。至於外敷消腫毒者。一則取其土能解毒。一則取動能消散耳。）</p>

<h3>珍珠</h3>
<figure>
<img alt="珍珠">
</figure>
<p>得太陰精氣以生。清熱益陰專解毒。具甘淡鹹寒之性。鎮心定悸可療狂。治驚癇之痰迷。入肝明目。生肌肉而翳退。澤面塗容。（珍珠出大蚌中。感太陰月魄精華而生。故有中秋無月蚌無胎之說。甘鹹寒無毒。益陰解毒。是其本功。雖陰精之氣結成。而質稟堅剛。性含靈寶。故能鎮心墜痰。安魂定魄。至於退翳膜。治痘瘡。生肌澤面。皆取其靈寶鹹寒潤澤之力耳。）</p>

<h3>烏賊骨</h3>
<p>入肝經治血分之疴。帶下崩中。經方有考。去濕濁味鹹溫兼澀。蟲疳下痢。審證隨施。點眼則去翳摩星。貼瘡可燥膿收水。（烏賊骨一名海螵蛸。乃烏賊魚中之骨也。味鹹性溫。乃肝經血分藥。雖系血藥。而其質又燥。故能治女人崩帶淋濁。一切下部蟲疳淫泆之疾。內經雖云治血枯。然觀其經文全旨。畢竟非肝經之血枯。是肝經之濕濁。故又能點目翳。燥膿瘡。自可想見其功用耳。）</p>

<h3>瓦楞子</h3>
<figure>
<img alt="瓦楞子">
</figure>
<p>咸可軟堅。消老痰至效。寒行瘀結。治胃痛多靈。（瓦楞子一名魁蛤。出海中。形似蛤。其殼背如瓦屋之楞。味鹹性寒。入肺胃。軟堅痰。消瘀血。凡胸胃痛有老痰死血在內者。皆可用之。）</p>

<h3>石決明</h3>
<figure>
<img alt="石決明">
</figure>
<p>平肝除熱。明目潛陽。味鹹性寒。通淋益腎。（石決明出海中石崖上。形如長小蚌而扁。外皮甚粗。內則光曜。背則一行有細孔。或七孔。或九孔。惟一片而無對偶。凡海物皆味鹹性寒。此物能入肝。咸能軟堅。寒能清熱。又介類之屬。皆可潛陽入腎。故能建功於肝。肝閉竅於目。內服外點。皆決能明目也。通淋者。清肝家之濕火。以肝主疏泄。邪熱去而淋自愈也。）</p>

<h3>蟹</h3>
<figure>
<img alt="蟹">
</figure>
<p>通經絡。散瘀血。續筋骨。解漆瘡。有橫走之功。具鹹寒之性。動風發毒。解熱行胎。（蟹鹹寒有小毒。能橫行經絡。解散瘀血。治折傷。續筋骨。內服外敷。皆有神效。善解漆瘡。其黃能化漆為水。亦物之相制也。極能動風發毒。風家瘡家不可食之。此物為供食之品。凡見異形怪狀者。均有大毒。不可食。又不可與柿同食。有暴亡之慮。蟹爪又能墮胎孕婦忌服。）</p>

<h3>蛤蚧</h3>
<figure>
<img alt="蛤蚧">
</figure>
<p>補肺腎以納氣歸元。喘促頓平仗尾力。性鹹平而益精固下。虛勞並起奏全功。（蛤蚧出山間。或樹穴間。形如壁虎。首如蟾蜍。背有細鱗。尾修長。雄為蛤。雌為蚧。鳴聲亦然。此物善交。常相抱負。味鹹性平。有小毒。入肺腎二經。補虛勞。助陽道。能攝納元氣。下歸腎部。故肺虛咳嗽。腎虛喘逆者。皆可用之。其力在尾。然畢竟有毒之品。蟲虺之屬。雖有功效。亦無所取也。）</p>

<h3>淡菜</h3>
<p>味鹹溫。補陰益陽。治虛勞。填精養血。（淡菜出海中。形如小蚌。中有短毛少許。味甘鹹。性溫。介類陰象之物。故能入腎益陰。治精血衰少。以其性溫也。故又能養陰中之陽。然此物不過充食品。作菜饌。欲仗之為治病藥石。恐力有不及耳。凡介類之屬。性皆寒涼。而淡菜獨言溫者。似不盡然。）</p>

<h3>蘄蛇</h3>
<figure>
<img alt="蘄蛇">
</figure>
<p>透骨搜風。皆為鹹溫善走竄。治痹通絡。都因陰毒性輕靈。其皮有退管之功。並可驅風除翳。其治有殺蟲之用。還能吹耳敷瘡。（蘄蛇味甘鹹。性溫。有大毒。蛇性善竄善蛻。亦如風之善行數變。故透經絡。搜風邪。內走臟腑。外達皮膚。為治諸風諸痹一切癘癩等疾之藥。然治病良藥頗多。亦何必用此陰毒之物。以冀僥倖哉。○蛇皮性味大略相同。惟其為皮也。故善治皮膚。一切風淫疥癬之疾。性善脫。故又能退目翳。除漏管。然亦只可外用。無須用此為內服方耳。）</p>

<h3>甲片</h3>
<figure>
<img alt="甲片">
</figure>
<p>達病所以成功。入胃行肝。消癰發痘。性鹹寒而善竄。治痹散血。通絡搜風。善化蟻瘻。專通乳汁。（穿山甲亦鱗族之類。能水能陸。甲片即其鱗也。味鹹性寒。有小毒。入肝胃二經血分。治風痹。行經絡。能直達病所。故治一切癰疽未潰者。皆可解散。有膿者能使速潰。其所以治乳證者。以其能入胃經乳房屬陽明也。）</p>

<h3>蛤殼</h3>
<p>軟堅具介類之功。且潤燥化痰。兼能利水。入腎備鹹寒之性。並清金開胃。尚可行瘀。（蛤殼性味鹹寒。入腎經血分。軟堅痰。消宿血。清熱利水。皆取鹹寒潤下之意。至於養金開胃之功。亦以熱清痰降。肺胃受益耳。大抵與瓦楞子同功。煅粉用。又能燥濕。與煅牡蠣之用亦相似。）</p>

<h3>田螺</h3>
<figure>
<img alt="田螺">
</figure>
<p>甘寒降熱能明目。利水通淋解酒酲。治腳氣之上攻。點痔瘡而止痛。（田螺甘寒無毒。生於水中。故功專清熱利水。性能引熱下行。治腳氣上衝。療目熱赤痛。解酒治痔。外敷內服。均有神功。皆取肉用耳。）</p>

<h1>昆蟲部</h1>
<p>（李時珍曰。蟲者其類甚繁。生物之至微者也。雖不能與麟鳳龜龍為伍。而亦各具胎卵濕化之形。蠢動含靈。各具性氣。錄其功。明其過。故聖人辨之。是以蜩𧉃蟻蚳。可供饋食者。載於禮記。蠱蠹狐蜮。職令驅除者。見於周官。然則聖人且慎於微。學者可不究其物理而察其良毒乎。）</p>

<h2>昆蟲類</h2>

<h3>五倍子</h3>
<figure>
<img alt="五倍子">
</figure>
<p>酸澀輕浮。能斂肺化痰。須白還烏有染法。鹹寒苦降。可固腸治痢。汗多能止出良方。擦痔漏與金瘡。或調或摻。治癩風之疳蝕。收熱收膿。百藥煎又經造釀。清心肺而味帶余甘。化痰嗽。亦可生津。入上焦而功兼降火。（五倍子乃蟲所造也。生鹽膚木上。因蟲食樹汁。老則結球於枝葉間。遺種於內。其形圓長不一。味酸澀。微咸。性寒。入肺腎大腸。專主收斂。化痰者亦斂極則化之意。退熱者亦是虛熱。其餘內外諸治。皆是酸鹹斂澀之功。可以推想。○百藥煎用五倍子粗末一斤。好茶葉一兩。煎濃汁入酵糟四兩。拌和。置糠缸中窨之。待發起如發麵狀。即成矣。其性味與五倍子相仿。但經造釀後。體質輕虛。而味帶甘。故能治上焦心肺咳嗽痰飲熱渴等證。亦皆取其收肅之意耳。）</p>

<h3>蜂蜜</h3>
<p>甘平潤肺。滋大腸之結燥難通。香滑和中。悅胃氣而肌膚自澤。生則解毒而止痛。熟則緩脾以補虛。（蜂蜜。蜂所釀成。白者良。甘平無毒。調五臟。利二腸。和中緩急。毒可解。痛可止。無非皆甘潤之力。生則性涼。熟則性溫。故煉熟白蜜。又能補益脾胃耳。隨宜用之可也。）</p>

<h3>蠟</h3>
<figure>
<img alt="蠟">
</figure>
<p>淡且微溫。久痢滑遺可固。甘而兼澀。虛淋咳痿皆瘳。護內膜以安胎。白能入肺。摻金瘡而止血。斂可生肌。（蠟有蟲蠟蜜蠟兩種。蜜蠟系蜂蜜之底。蟲蠟乃有一種小蟲在樹而生。凝結樹上者。如五倍血竭產於樹枝者。同類兩種。蠟味皆甘淡而澀。性皆溫。入肺胃。療肺虛。養胃氣。凡咳嗽瀉痢遺精帶濁之屬於虛脫者。皆可用此固之澀之。外科用以護內膜。敷金瘡。亦此意耳。）</p>

<h3>露蜂房</h3>
<figure>
<img alt="露蜂房">
</figure>
<p>入陽明而質毒。疔瘡瘰癧宜求。味鹹苦而性平。癬癩頑風可治。風蟲牙痛。水漱為良。附骨癰疽。制方可採。雖本經可治驚癇諸邪。而服食總宜審詳慎用。（露蜂房生山林樹木間。大小不一。得雨露之氣。故名露蜂房。味鹹苦。微甘微辛。性平有毒。入陽明經。其用無論內服外敷。皆是以毒攻毒。去風痹。死肌。殺蟲治瘡。然亦止可外治。雖其功能治一切附骨疔疽乳岩等證。毒根連及臟腑者可用此拔之。但總屬有毒之品。不必為此僥倖之圖。而為內服之藥耳。）</p>

<h3>桑螵蛸</h3>
<figure>
<img alt="桑螵蛸">
</figure>
<p>鹹平無毒。和血強陰。固攝療遺。益精壯腎。（桑螵蛸即螳螂子。一名賴尿郎。以桑樹上者為佳。甘鹹平無毒。入腎經血分。益腎固精。是其本功。故凡小兒腎氣不足。夜多遺尿者。每每炙研服之。賴尿郎之名。即此之意。性能行血活血。故內服又能治女子血閉淋瀝。外敷可消癰腫痔漏也。本經又稱其利小便。似與固小便之說相反。或者亦如車前子之固者固其精氣。利者利其邪水耳。然一物總不能兼兩用。學者再當詳考可也。）</p>

<h3>五穀蟲</h3>
<p>性寒可治熱邪之毒痢。煅黑能醫疳積之孩兒。（五穀蟲即糞蛆。鹹寒無毒。功專清熱解毒。能導之下行。故可治熱邪之毒痢。蠕動之物。能消能磨。能行脾胃大腸。故炙研服之。可治小兒疳積也。凡唇疔用五穀蟲研末。香油調敷。鮮者更妙。取鹹寒解毒。蠕動攻散也。）</p>

<h3>蜈蚣</h3>
<figure>
<img alt="蜈蚣">
</figure>
<p>其性走而有毒。散腫行瘀。其味辛而且溫。搜風定搐。殺蛇闢蠱先行胃。治癇療驚又入肝。（蜈蚣辛溫有毒。其性善走善竄。能制蛇。故入肝經。截風定搐。與夫蛇蠱蛇傷等證。皆可炙研服之。至於行瘀血。散腫毒。敷治一切外證。皆取其以毒攻毒搜風殺蟲之功而已。）</p>

<h3>地龍</h3>
<figure>
<img alt="地龍">
</figure>
<p>性下行。利水通經。皆取鹹寒退火熱。治囊腫。毒因火附。須求蚯蚓淨泥砂。（地龍即蚯蚓。此物蟄於土。且所食者亦土。善竄穴下行。鹹寒無毒。入脾胃二經。凡一切大熱狂亂。大腹水腫。小便不通等證。皆可用此下導。又治濕熱腳氣上攻。內用外用各方。皆有神效。○蚯蚓泥即蚯蚓之矢。因其所食者泥土。故其矢亦泥。能解毒。能除熱。性味功用。與蚯蚓相同。但只作外治敷搽之藥耳。）</p>

<h3>殭蠶</h3>
<figure>
<img alt="殭蠶">
</figure>
<p>辛散風邪。咸可豁痰入肺部。溫行肝絡。輕能治上利咽喉。備宣疏攻托之能。療驚通乳。有結化痹開之效。消腫除疳。蠶砂燥濕並祛風。性味辛溫兼治渴。（殭蠶系蠶之病風者。雖死後僵而不腐。故為治風之藥。味辛鹹。性溫屬火。故能散結氣。開頑痰。以其得清化之氣。可從治上焦頭目風熱。入肺部。治喉風喉痹等疾。又行肝胃兩經。雖病僵之物。究屬蠕動之品。凡一切乳癰痰瀝之證。皆可用以攻托宣行。○蠶砂即蠶矢。晚者良。即二蠶也。味辛甘。性溫燥。祛風勝濕。兩者兼優。熨風痹。洗癮疹。香油調塗爛弦風眼。皆有效驗。至本經云治消渴一證。或取蠶之但食不飲耳。）</p>

<h3>斑蝥</h3>
<figure>
<img alt="斑蝥">
</figure>
<p>直走精宮。腐肉墮胎毒至猛。專行血室。通淋逐積味辛寒。治瘋犬之毒邪。達下竅而攻瀉。（斑蝥生豆葉上。八九月間取之。捕獲時尾後有惡氣射出。臭不可當。辛鹹性寒有大毒。走達下竅。至精溺之處。能蝕下敗物。如血塊爛肉粉片之屬。從小便而出。故本經稱其能破石淋。極能墮胎腐胎。至於拔瘰癧根。治瘋犬毒。服後能使病根從小便出。雖有方法。然終未免假借大毒之物。只可外用。蝕死肌。潰癰腫。搽瘋塗癬。卻有奇功。不堪內服耳。）</p>

<h3>蟾酥</h3>
<figure>
<img alt="蟾酥">
</figure>
<p>性毒質黏。能辟邪而開竅。味辛氣熱。可拔毒以消癰。外用傷肌。鼻聞取嚏。蟾皮可療疳積。能發瘡疹。性味卻屬甘涼。善行脾肺。（蟾酥即癩蝦蟆。眉間白汁。以法取之。陰乾用。味辛。性溫有毒。善開竅辟惡搜邪。惟諸閉證。救急諸藥方中用之。以開其閉。然服食總宜謹慎。試以少許。置肌膚。頓時起泡蝕爛。其性可知。研末時鼻聞之。即嚏不止。故取嚏藥中用之。此藥止可外用。散癰疽。消疔毒。殺蟲瘡。卻有功效耳。○蟾皮辛甘涼。有小毒。行皮達肺。治小兒疳積。蟾屬土。故又入脾。凡小兒疳積脾肺濕熱蘊結。此物能行濕氣。除熱邪。殺蟲積。服之能使蘊蓄之邪。發之於外。自脾及肺。病乃愈耳。）</p>

<h3>水蛭</h3>
<p>入肝家破血行瘀。其味苦鹹消腫脹。尋經絡搜邪摩積。其功寒毒墮胎元。（水蛭一名螞蟥。種類甚多。以水中短小腹有血者佳。味鹹苦。性寒。入肝破血行血。凡一切癥瘕積聚。折傷月閉。由於血瘀者。皆可用之。極易墮胎。不可輕用。況此物雖火炙為末。得水即活。其性之陰險可知。）</p>

<h3>虻蟲</h3>
<p>破積墮胎。味苦寒而有毒。入肝行血。瀉大便以推陳。（虻蟲即牛虻。形如蜂。專啖牛馬之血。五六月取之。曬乾用。苦寒有毒。入肝經。破血行血。與水蛭同性。但虻蟲之性剛而猛。故服下即暴瀉。藥過即止。水蛭之性陰而險。服後雖不即瀉。而延蔓之毒。未必即除。虻蟲居陸而飛走。水蛭居水而潛伏。故於臟腑經絡之間。緩急行守之治。又有不同也。亦能墮胎。）</p>

<h3>䗪蟲</h3>
<p>補接折傷通乳脈。性味鹹寒。搜尋癖積達肝家。通行經絡。（䗪蟲即地鱉蟲。鹹寒。有小毒。入肝經。功專搜逐一切血積。治折傷。續筋骨。功雖同於虻蛭。而性頗緩。通乳者亦行經活血之意耳。）</p>

<h3>螻蛄</h3>
<p>味鹹寒。性陰有毒。達下竅。逐水通淋。（螻蛄一名地狗。生於夏月。夜則出。喜燈光。鹹寒陰毒之品。善達下竅。利大小便。治一切水。通一切淋。須用下半截乃效。然治病之藥頗多。不必拘此陰毒之物。食功取過也。）</p>

<h3>蟬殼</h3>
<figure>
<img alt="蟬殼">
</figure>
<p>可解皮膚風熱。與驚痰乳壅。氣稟輕虛。善療翳膜癍疹。及胞阻產難。功能脫退。晝鳴夜息。治小兒之驚啼。味鹹性寒。化上焦之邪滯。（蟬殼夏月自土而出。沿樹而上。退殼於地。得風露清虛之氣。鹹寒入肺。專解皮膚風熱。宣發痘疹。治上部咽喉頭目口齒之病。退翳膜。治產難。取其善脫也。治小兒夜啼。取其晝鳴夜息之意耳。）</p>

<h3>蠍</h3>
<figure>
<img alt="蠍">
</figure>
<p>入肝臟以搜風。定搐療驚全力足。達經絡而蠲痹。愈癇治疝尾功長。味合辛鹹。性含陰毒。（蠍味辛鹹有毒。其力在尾。有單用尾者。亦有全用者。入肝搜風。走臟腑。行經絡。治大人中風。小兒驚癇。屬實邪者皆可用之。至於治疝治瘧。以及女人帶下陰脫等證。無不皆由於肝經風氣使然。以蠍產東方。色青屬木故也。）</p>

<h3>九香蟲</h3>
<p>壯脾腎之元陽。鹹溫無毒。理胸膈之凝滯。氣血雙宣。（九香蟲其蟲大如小指。狀如水蠅。青黑色。至冬藏於石下。土人取之以供人用。鹹溫無毒。觀其以香命名。其蟲之氣香可知。故能理氣滯。宣胸膈。咸能入腎。溫可壯陽。氣香歸脾。故為脾腎之藥。蠕動氣香味鹹之物。似又能流通血脈耳。）</p>

<h3>蜣螂</h3>
<p>鹹寒有毒。肝胃雙行。便閉蟲疳。腸積能攻癇疾愈。驚風痔漏。瘡瘍並治骨疽消。拔箭鏃之災傷。貼疔毒而病愈。（蜣螂一名推車蟲。即攻屎蟲也。喜入糞土中。以屎推成丸。雄曳雌推。置於坎中。覆之而去。數日即有小蜣螂出於中。此亦物類所感耳。味鹹性寒。有小毒。入肝胃大小腸。治驚癇者。皆由風熱客於經絡。蜣螂蠕動之物。以風勝則動。故能治風。以其寒也。故能除熱。小兒疳積一證。皆因濕熱閉結所致。蜣螂咸能軟堅潤下。以其善於攻屎。故能攻腸中堅結之屎。從便而出。則濕熱除而疳積愈耳。至於拔箭鏃。貼疔瘡。敷多骨疽瘍。治痔漏蟲蝕。皆外治方法。卻有效驗。亦不過取蟲之蠕動善攻。有清熱解毒之意已。）</p>

<h3>蝸牛</h3>
<p>鹹寒解熱能搽痔。涼潤清咽可治喉。敷瘰癧與疔瘡。點脫肛而通溺。（蝸牛即硬殼蜒蚰。背上負殼者。生於陰濕處。鹹寒有小毒。入肺腎。有清熱潤下之功。故能治一切喉證。與夫實熱消渴。以及火邪。小便不通者。皆可服之。至於搽痔瘡。點脫肛。取其鹹寒清潤。而性又善縮入也。敷瘰癧瘡癰等證。皆取寒清蟲動之意耳。陰晦之物。止可外治。不宜內服。）</p>

<h1>人部</h1>
<p>（李時珍曰。人者。倮蟲之長。萬物之靈也。良相良醫。皆由人理。治國治病。悉賴人為。是以人與天地並立為三。豈可與諸物為伍哉。但能無害於義。以無用之物。可作有用之藥者。則錄之。其殘忍邪穢者。則闕之。）</p>

<h2>人類</h2>

<h3>人發</h3>
<p>得血之餘氣。消瘀利水補真陰。味苦而微溫。達腎通肝入心臟。人牙則咸熱有毒。為痘瘡攻托之方。人乳則甘潤益陰。乃營血調和之品。若求童便。類屬鹹寒。導瘀熱以下行。吐紅可愈。退骨蒸而治嗽。勞瘵堪醫。秋石之功。即可滋陰除伏熱。鹹寒之質。亦能治咳理虛勞。金汁苦寒。專清熱毒。（人發得血之餘氣。故名血餘。味苦微溫。無毒。入心腎及肝與小腸。煅灰用。消瘀血。利水道。治血淋頗佳。且行瘀之中。仍有益陰之妙。以發乃血所化。燒之仍能還血。故本經有自還神化之說。而又能止血。凡吐血衄血便血。以及一切血出不止者。皆可內服外摻。所謂紅見黑則止也。○人牙齒者骨之餘。故能入腎。咸熱有毒。性能攻發。故治痘瘡倒陷。變黑歸腎之證。用此攻發腎臟之邪。其他內外諸方。亦不多見。用此亦罕耳。○人乳乃血所化。味純甘。性平。服之仍能補養陰血。潤澤臟腑。惟脾胃陽氣不足。而有濕滯者。不宜服之。且人乳尤宜選擇無病之乳。否則不潔之婦。七情之火。五味之毒。其乳汁或黃赤。或清稀。此等之乳。服之不但無益。而反有害也。○童便須用十三歲以前無病童子。不可食蔥韭腥膻之物。多用糖米湯飲之。助其水道。服時當去頭尾。乘熱飲。若冷而再燉。則臭穢矣。鹹寒無毒。先入肺部。引熱邪下行。從膀胱故道而出。凡一切肺熱咳嗽。骨蒸癆瘵等證。皆可用之。以此物得人之氣化。故能清降之中。而又有助元之力也。因其味鹹。故能走血。凡一切吐血衄血。及撲損跌打瘀血在內。或產後血悶等證。皆有奇效。總之童便之治諸證。皆陰虛有火者為宜。即血證而屬陽虛者。亦當禁耳。○秋石有陽煉陰煉兩種。即溺中白垢。或火煉。或水澄。皆以潔白為度。雖製法不同。其味皆咸。其性或寒或熱。隨其製法而異。所云能滋陰退熱。治虛勞咳嗽等證。惟陰煉者尚可用之。若陽煉一經火煅。反足以助火增病。此物究系溺濁煉成。與人中白相仿。止可用以潤下導濁。統治一切淋病。頗有效驗。而必欲仗此補陰益元。未可信也。○金汁用人糞瀝清汁。裝入壇內。封好。埋於人行處地下。年久取出。清若泉水。全無穢氣。愈久愈佳。賣花者用以接樹甚妙。鹹苦甘寒無毒。除一切熱。降一切火。解一切毒。無論誤食各種毒物。皆可用此解之。又名糞清。）</p>

<h3>紫河車</h3>
<p>假有情血肉之形。甘鹹入腎。療瘵疾虛勞之證。益下填陰。然與小兒感召相關。當為仁者革除禁用。（紫河車即人之胞衣。味甘鹹。性溫。前人皆謂能大補虛勞。以人有形精血之屬。仍能接補人之精血。所謂以形補形也。故有河車大造等方。信者固多。服者亦復不少。然此等形穢不潔之物。生氣已離。世間良藥頗多。何必舍彼而取此。且每每淫火之毒未泄。服之反致出痘等證者有之。況小兒之胞衣。宜藏安妥之處。或深埋緊築。令兒長壽。若為蟲蟻所食。兒即有病。足見氣相感召。稍具仁心者。有所不忍耳。）</p>

<h3>人中黃</h3>
<p>甘寒入胃。解火毒之陽狂。中白行瘀。味鹹涼而降熱。（人中黃以竹筒入甘草末於內。仍以竹木塞兩頭。冬月浸糞缸中。至立春取出。懸風處陰乾。破竹取草。曬乾用。甘寒清熱解毒。治天行熱狂中毒惡瘡等疾。無論一切內外諸證。及誤食諸物。凡有熱毒者。皆可用之。○人中白。即尿缸中澄結在下之白垢也。味鹹性寒。消瘀降火。仍從故道而泄。功同童便。凡喉齒口舌諸方。皆以此煅研。吹入有效。亦取其降火消瘀之力耳。）</p>

<h1>水部</h1>
<p>（李時珍曰。水者。天一所生。坎之象也。其紋橫而為☵。縱則為水。其體純陰。其用純陽。上則為雨露霜雪。下則為海河井泉。流止寒溫。氣之所鍾既異。甘鹹淡苦。味之所入不同。然則水之性味。尤慎疾衛生者。所當潛心也。）</p>

<h2>水類</h2>

<h3>雨霜雪露水湯</h3>
<p>春雨宜男。秋霜肅肺。雪能涼肺消癰毒。臘雪則專殺諸蟲。露還解暑退陽邪。花露則尤能潤肺。潦水乃輕清味薄。能除濕熱癉黃。逆流則湧吐功多。可治風痰喉閉。甘瀾水揚之萬遍。不助腎邪。順流水勢善下趨。可療腹疾。井泉新汲。煎之清熱養陰。地坎為漿。服則除煩解毒。阿井水疏痰利膈。麻沸湯通絡行經。至若水有陰陽。配宜生熟。可使調和霍亂。通利三焦。（春雨得春生升發之氣。有滋水生肝發育萬物之意。○秋霜得秋金肅殺之氣。故能入肺以行其清肅之令。凡皮毛瘡痱肌熱面赤等證。屬肺火者。皆可用之。○雪得天地陰凝之氣。較霜為盛。其色白。其質輕。故亦能入肺。其大寒之性。可清臟腑一切毒火。丹石諸瘡。然須臘雪為佳。冬至後第三戊為臘。最能殺蟲。故凡臘中有雪。則明年菜麥田禾。皆無蟲蝗之患。○露夏末秋初陰氣之液也。能滋養萬物。悅澤容顏。其解暑者。以白露降則炎暑退也。故凡治瘧藥煎成露一宿者。亦是解退伏暑之意。至於百花上露。雖有潤肺之功。然花有優劣之不同。尤宜審慎。○潦水道上無源之水也。時珍曰。即降注雨水。又淫雨為潦。大抵即天泉水灌注道塗者也。仲景治傷寒瘀熱在裡。身必發黃。用麻黃連翹赤小豆湯。煎用潦水。解者皆謂潦水輕清味薄。不助濕邪。然既謂淫雨灌注道上無源之水。則穢濁之物。豈可用以治病。或者潦水別有一種。否則潦水即勞水。音同字異。傳寫之誤。○逆流水。凡水之性皆望東流。自上下趨為順。逆流者系河道曲折之處。水不能直行向東。必迴環逆西。即謂之逆流水。煎吐藥最宜。○甘瀾水一名勞水。用長流水二斗。置大盆中。以杓揚之萬遍。有沸珠相逐。取其清者煎藥。蓋水性本咸而質重。勞之則甘而且輕。可以不助水邪而益脾胃也。故內經治不寐。仲景治奔豚。皆用之。○順流水即東流水。取其順趨於下。故能導胸腹之疾。直趨於下也。急流水即山澗中峻急直下之水。凡一切下焦腰足風痹等疾。及兼通二便之藥。皆可用之。○新汲水即平日所汲之水。取靜順沉潛之氣凝而未動。極清極淨。其甘寒之性。故能養陰清熱。夫水之為物。其質雖同。其性各異。不特江湖河海之水為然。即井水亦宜分別美惡。大抵以高潔者為上。卑汙處為下耳。○地漿掘黃土地為坎。深三尺。以新汲水沃之。攪渾澄清服之。專解一切熱毒。魚菌果菜等毒。以及倉卒中暑熱悶諸證。皆可服之。亦土能化毒。寒能除熱耳。○阿井水。此井在山東陽穀縣。為濟水之源。其水味甘鹹。性平。且性極趨下。清而且重。用攪濁水。則清一切濁膩之物。投之極易下墜。故煎膠有疏痰利膈之功也。○麻沸湯。即百沸湯。可以行經絡。助陽氣。宣風痹。仲景大黃黃連瀉心湯。與附子瀉心湯二方。皆用麻沸湯浸汁絞服。亦取上下宣行之意。取藥力之神速耳。○陰陽水即生熟水。其法以新汲水百沸湯各半相合服之。能分利陰陽。升降清濁。宜煎一切霍亂之藥。）</p>

<h1>十八反歌訣</h1>
<p>十八反歌貴賤殊。半蔞貝蘞芨攻烏。藻戟遂芫俱戰草。諸參辛芍叛藜蘆。</p>

<h1>跋一</h1>
<p>醫之為道。當望聞問切。詳審病源。病源未悉。用藥之當與不當。固不必論。苟能得其病源。而於藥性之溫補寒涼攻瀉升降。未能洞悉其微。差之毫釐。謬以千里。非徒無益於病。不又有害於病乎。則甚矣藥性之不可不察也。但古今來著本草者。不下數百家。若者甚詳。惜乎其未能精也。若者甚簡。惜乎其未能明也。豈非盡美不能盡善乎。姨丈兆嘉夫子。幼好讀書。經史百家。靡不窮究。而於岐黃之學。則肆力尤深。夙有不為良相。必為良醫之志。手訂本草便讀一帙。既將金石草木分門別類。復於各類中細加詳審。辨其氣味形色而為之縷晰條分。編成聯語。雖資魯者讀之。亦能一目瞭然。絕無冗繁遺漏雜亂混淆之慮。不誠精之又精。明之又明而為本草之善本乎。（寅）奉讀之餘。喜其不徒有便讀之名。而確有便讀之實。且不徒便於一人。而便於當世之凡學醫者。更不徒便於一時。而便於後來之凡學醫者。敬綴數語於簡末。以質同志云。</p>
<p><u>光緒十有三年歲次丁亥孟夏之月受業（姨甥）袁寅頓首</u></p>

<h1>跋二</h1>
<p>吾郡醫學名天下。遠方之人多就之者。若法氏、楊氏、錢氏、鄒氏、費氏。皆能世其家。又各有所著書行於世。其書或傳或不傳。顧其存者。陳義奧遠。學者病不得其用。楊氏本草述鉤元得其用矣。又患其浩博而難紀。且鋟版毀於兵。同治閒。郡人醵金用麻沙法印之。僅數日部。分而庋諸家。驟不可覓。遺文不彰。後起之士憾焉。兆嘉先生既愈家大人疾。出示是書。春頤受而讀之。其詞簡。其義賅。其用便於初學。而馴而致之以極於其成。於乎。是足以嗣美於諸家矣。亟出資付剞劂氏。以廣其傳。藉志感忱云爾。</p>
<p><u>光緒二十有二年春三月。盛春頤謹跋。</u></p>
