<header data-type="book">
<h1>傷寒論讀</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈又彭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1765">公元1765年</data></dd></div>
<div><dt>底本</dt><dd>杭州三三醫社版（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910015372">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>辨太陽病脈證</h1>
<p>病有發熟惡寒者發於陽也無熱惡寒者發於陰也發於陽者七日愈發於陰者六日愈以陽數七陰數六故也</p>
<p>天以陰陽五行化生萬物陰陽五氣和則能生物陰陽五氣乖即能殺物是論乃統論陰陽五氣之病人然五行一陰陽也故未論五氣先論陰陽首節</p>

<h1>辨陰病陽病之大綱</h1>
<p>病人身大熱反欲得近衣者熱在皮膚寒在骨髓也身大寒反不欲近衣者寒在皮膚熱在骨隨也</p>
<p>此辨內陰外陽內陽外陰病之變態以上二節辨病之陰陽</p>
<p>問曰脈有陰陽何謂也答曰凡脈大浮數動滑此名陽也沉澀弱弦微此名陰也凡陰病見陽腸者生陽病見陰脈者死</p>
<p>寸口脈浮為在表沉為在裡數為在府遲為在藏假令脈遲此為在臟也</p>
<p>此二節辨脈之陰陽</p>
<p>太陽之為病脈浮頭項強痛而惡寒</p>
<p>此是太陽病提綱一切邪氣犯太陽地面皆有脈浮頭項強痛惡寒證故曰提綱後稱太陽病三字皆有脈浮頭項強痛惡寒在內倘太陽病有脈不浮者條內必明書脈反沉或脈沉細倘太陽病有不惡寒者條內必明書不惡寒</p>
<p>太陽病發熱汗出惡風脈緩有名曰中風</p>
<p>此辨太陽中風之病脈證稱太陽病則頭項強痛惡寒在所必有更見發熱汗比惡風是中風病也稱太陽病則其脈必浮更見浮而緩者是中風脈也木論原序云撰用素難當即以素難釋之難經傷寒有五有中風有傷寒有濕溫有熱病有溫病此即素問寒暑燥濕風之五氣為病也本論悉遵難經於太陽論中五證並列挨次剖析並辨其所貌似而補其所未備素問在天為風在地為木風者木之氣也故風乃五氣之一而中風即傷寒宥五之一編傷寒者以痙濕涇喝為非傷寒也置之別論此固中風也亦非傷寒何幸獨存論首</p>
<p>太陽中風陽浮而陰弱陽浮者熱自發陰弱者汗自出嗇嗇惡寒漸漸惡風翕翕發熱鼻鳴乾嘔者桂枝湯主之</p>
<p>難經脈關前為陽關後為陰又云中風之脈陽浮而滑陰濡而弱此釋上中風脈病出方治之</p>
<p>太陽病發熱汗出者此為營弱衛強故使汗出欲救邪風者宜桂枝湯主之此明發熱汁出由於營弱衛強蓋衛為陽營為陰風傷衛則邪在衛素問云邪氣盛則實故衛強營無邪氣本自無病興衛相較自覺弱耳營弱衛強能令汗出者素問所謂陽加於陰謂之汗也</p>
<p>病人藏無他病時發熱自汗出而不愈者此為衛氣不和也光其時發汗則愈宜桂枝湯主之</p>
<p>藏字與有熱屬藏者攻之不令發汗同義皆指胃言藏無他病者言以手按胃不實鞕也時發熱者言今日某時熱明日亦到此時發熱也此承上文言發熱汗出固由於衛強但與陽明潮熱自汗相似故必藏無他病止見時熱汗出方為衛氣不和先其未發熱之時用桂枝湯發汗則愈時字指有定言從先時句看出</p>
<p>病常自汗出者此為營氣利營氣利者外不諧以衛氣不共營氣利諧故耳以營行脈中衛行脈外復發其汗營衛和則愈宜桂枝湯</p>
<p>此承上文言營弱非營病若營病則不能出汗今自汗出知營氣自利惟邪在衛則衛獨強不與營氣和諧耳非發汗則邪何從去衛何由和但營行脈中衛行脈外非桂枝湯發汗必至誅伐無辜故曰宜桂枝湯論中一言發汗則愈一言復發其汗皆用桂枝湯不知前輩何以稱桂枝止汗若桂枝止汗豈芍藥反能發汗耶蓋桂枝辛甘發散去在衛之風邪恐動其無病之營故用芍藥保營此桂枝湯之大略也</p>
<p>易水師弟用黃耆白朮防風等藥治有汗傷寒是誤認風傷衛為衛虛故用實衛藥不知風傷衛者猶言風入衛耳經云邪氣盛則實況本條內現有衛強二字而竟犯實實之戒亦千慮之一失耳</p>
<p>太陽病頭痛發熱汗出惡風者桂枝湯主之</p>
<p>此於提綱中獨舉頭痛而不言項強者以明中風宥項不強之證</p>
<p>病如桂枝證頭不痛項不強寸脈微浮胸中痞寒氣上衝咽喉不得息者此胸有寒也當吐之宜瓜蒂散</p>
<p>此辨桂枝證之似中風有頭痛而項不強者仍是枝湯主治今有頭項俱不強痛更覺氣上衝咽喉雖發熱汗出桂枝證具終非桂枝主治又屬胸中有寒常用瓜蒂散吐法論中無痰字此寒字即作痰字解</p>

<h1>右七節論中風</h1>
<p>太陽病或巳發熱或未發熱必惡寒體痛嘔逆脈陰陽俱緊者名曰傷寒</p>
<p>此是傷寒證據亦難經傷寒有五之一素問在天為寒在地為水寒者水之氣也　首節言無熱惡寒者發於陰寒為陰邪故有未發熱而先見惡寒體痛嘔逆者脈陰陽俱緊無不言浮以太陽病一句巳有浮字在內故不贅難經云傷寒之脈陰陽俱甚而緊澀是也</p>
<p>寸口脈浮而緊浮則為風緊則為寒風則傷衛寒則傷營營衛俱病骨節煩疼當發其汗也</p>
<p>此釋上丈脈浮緊以致體痛之故遂言治當發汗</p>
<p>脈浮而緊者名曰弦也弦者狀如弓弦按之不移也脈緊者如轉索之無常也此言緊臃與弦脈不同</p>
<p>太陽病頭痛發熱身疼腰痛骨節疼痛惡風無汗而喘者麻黃湯主之</p>
<p>此詳言傷寒病證出方治之</p>
<p>脈浮者病在表可發汗宜麻黃湯脈浮而數者可發汗宜麻黃湯</p>
<p>此詳言傷寒之脈如傷寒病證其即令脈不浮緊或但浮或浮數皆可用麻黃湯發汗</p>
<p>脈浮而數浮為風數為虛風為熱虛為寒風虛相搏則灑淅惡寒也</p>
<p>此釋上丈脈浮數可發汗之故</p>
<p>諸脈浮數當發熱而灑淅惡寒若有痛處飲食如常者蓄績有膿也</p>
<p>此辨麻黃證之似脈浮數發熱惡寒與傷寒同惟言有痛處則痛止一處與傷寒體痛異言飲食如常與傷寒不能食異故斷其為非傷寒是蓄積宥膿也</p>
<p>或曰傷寒不能食惟陽明證中有此語太陽證中未見曰即本條內一若字言外已見傷寒不能食矣何必遠引陽明</p>
<p>病有灑浙惡寒而復發熱者陰脈不足陽往從之陽脈不足陰往乘之假令寸口脈微名曰陽不足陰氣上入陽中則灑淅惡寒也尺脈弱名曰陰不足陽氣下陷入陰中則發熱也</p>
<p>此亦辨麻黃證之似惡寒發熱與麻黃證同脈之寸微尺弱與麻黃證異此乃陰陽兩虛自相乘侮非外感證也若不辨明一誤發汗禍不旋踵</p>
<p>太陽中風脈浮緊發熱惡寒身疼痛不汗出而煩躁者大青龍湯主之若脈微弱汗出惡風者不可服服之厥逆筋惕肉瞤此為逆也</p>
<p>論中發於陽者通名中風發於陰者遍名傷寒按三綱鼎立之說桂枝湯治風傷衛麻黃湯治寒傷營大青龍湯治風寒兩傷營衛其說創自許叔微相延至今不知其說似是實非也本論云寸口脈浮而緊浮則為風緊則為寒風則傷衛寒則傷營營衛俱病骨節煩疼當發其汗此即指麻黃證而言彼見麻黃證條內但云脈陰陽俱緊而不見浮字故認作有寒無風不知寒屬陰邪若不兼風不入太陽況太陽病一句已有脈浮在內不必再說至若大青龍條內云脈浮緊則風寒固所必有矣然使止有風寒何至煩而且躁況方內石膏其性大寒治暍熱之主藥也若云止有風寒而無熱邪則中風證有風無寒風為陽邪尚不用寒藥秪用桂枝以解肌而大青龍證風外加一寒邪豈反加石膏以助寒乎竊謂麻黃證已屬風寒兩傷營衛而大青龍證則外傷風寒而內伏暍熱也故脈浮緊發熱惡寒身痛無汗麻黃證全具自用麻黃湯方惟病增煩躁因加石膏以治內伏之暍熱加是則病脈方藥俱合若不審病證方藥徒泥於一脈妄作三綱鼎立則一誤無所不誤矣</p>
<p>自此至卒章皆論傷寒兼證</p>
<p>傷寒瘀熱在裡身必發黃麻黃連翹赤小豆湯主之</p>
<p>此論外傷寒而內濕熱證也濕熱主方本是梔子檗皮湯因外傷寒邪故用是湯主之</p>
<p>太陽病發熱頭痛脈反沉若不差身體疼痛常救其里宜四逆湯</p>
<p>此陽虛聚飲而外復感風寒證也因外感風寒故發熱頭痛仍見太陽病證因陽虛聚飲故脈反沉如見此證幸得陽氣來復寒飲解散弗藥可愈若其不羞雖身體疼痛不當治表宜通陽救里為急</p>
<p>問曰柯韻伯以此條為太陽陽虛則少陰之底板即露故用四逆回陽論殊直捷今添聚飲兩字反覺支離矣曰四逆湯中乾薑非補藥乃溫通寒水藥也故通脈四逆湯用乾薑三兩又云強人可四兩則非補藥可知如第謂太陽陽虛少陰之底板即露並無邪氣則溫補少陰自有附子湯在何須四逆四逆乃治寒飲之主方熟讀全論自知</p>

<h1>右十一節論傷寒</h1>
<p>太陽病發熱脈沉而細者名曰痙</p>
<p>病身熱足寒頸項強急惡寒時頭熱面赤目脈赤獨頭面搖卒口噤背反張者痙病也</p>
<p>痙病諸家所主不同有主濕者調其脈沉而細有類濕痹也然觀主治方中全無燥藥可疑有主燥者謂金匱方中用栝蔞根主治也然方中尚用麻桂溫散可疑有主血少者謂血虛則筋急也然方中不以補血藥偽君可疑有主兼病陽明者謂葛根湯本治兩陽合病且面赤口噤亦是陽明現證然條內不稱合病而獨稱太陽可疑竊為此即風傷衛之變局也經云肉之大會為穀肉之小會為谿谿谷之間以行營衛夫衛行脈外即在肌肉腠理間風邪中衛由太陽而入壅肌腠之間脈道擠小所以沉而細也脈這時通時塞所以卒口噤背反張也肌肉不能展舒所以項背強𠘧𠘧也陰陽不能升降所以頭熱足寒面赤目赤也方用葛根君桂枝湯以治柔痙者前輩云葛根象肌肉取其入肌肉以祛風耳即無汗之剛痙亦風多寒少病甚於脈外故不用麻黃湯中加葛根仍用桂枝湯中加麻葛存芍藥以保不病之營耳</p>
<p>太陽病發熱無汗反惡寒者名曰剛痙</p>
<p>太陽病發熱汗出不惡寒者名曰柔痙</p>
<p>此言痙有剛柔兩種全在有汗無汗上辨言痙則上項脈證俱在內如無上項脈證不得名痙</p>
<p>太陽病項背強兒幾無汗惡風者葛根湯主之</p>
<p>此言治剛痙之方</p>
<p>太陽病項背兒兒反汗出惡風者桂枝加葛根湯主之</p>
<p>此言柔痙之治</p>
<p>太陽病發汗大多因致痙</p>
<p>此言發汗大多亡其血液血虛則筋急亦能致痙又非前二方所主矣猶之傷寒證中陰陽不足之惡寒發熱非用麻黃湯主治也前輩泥於病機屬濕之條而云汗出多汗即是濕是痙病盡由於發汗多葛根方統可治也不思葛根二湯皆發汗之方也既因發汗太多而致病豈可復用發汗之藥以增病乎</p>
<p>右七節論痙病補難經所未備者也然即風寒之變證非五氣外添出太陽病關節疼痛而煩脈沉而細者此名濕痹之候其人小便不利大便反快但當利其小便</p>
<p>此論濕痹即難經之濕溫證也素問在天為濕在地為土濕乃土之氣也故濕為五氣之一濕溫乃傷寒有五之一難經云濕溫之脈陽濡而弱陰小而急與此少異</p>
<p>濕家之為病一身盡疼發熱身色如熏黃</p>
<p>丹溪云如造麴然濕熱鬱久則發黃也</p>
<p>傷寒身黃髮熱者梔子檗皮湯主之</p>
<p>梔檗湯清熱利小便治濕熱之主方也秪有濕熱而無風寒者宜之若外兼風寒又屬麻黃連軺赤小豆湯程扶生以麻連小豆湯為濕熱主方不思麻連小豆湯發汗之方也梔檗湯利小便之方也若以麻連湯為主方不惟梔檗湯無著落即條內但當利其小便句亦無著落</p>
<p>濕家病身上疼痛發熱面黃而喘頭痛鼻塞而煩其脈大自能飲食腹中利無病病在頭中寒濕故鼻寒納藥鼻中則愈</p>
<p>本論既以六經分表裡復以小便不利認水濕渴字認燥熱汗字判風寒自太陽拈出直貫六經縱橫辨別使邪無遁形讀論者當於此等著實處留心</p>

<h1>右四節論濕痹</h1>
<p>太陽中熱者暍是也其人汗出惡寒身熟而渴也</p>
<p>此是熱病證據素問在天為熱在地為火熱者火之氣也故熱乃五氣之一而熱病即傷寒有五之一本論以難經熱字恐與下文溫字相混故特指出曰暍是也感列日之氣而病即素問寒暑燥濕風之暑病或曰暍是陽邪暑是陰邪土潤溽暑熱兼濕言也似與暍有異曰寒往則暑來與寒對待非端言熱而河古人稱暑暍熱一也若濕熱並至之病難經名濕溫不名暑迨至隋唐後皆指濕熱為暑於是真暑之名失而暍之名更不知為何病矣</p>
<p>傷寒脈浮滑此表有熱里有暍白虎湯主之</p>
<p>暍刻本作寒如果里有寒何以反用石膏知毋表有熱即身熱也首節止言病名不言脈證此節詳言脈證出方主治兩節本是相承叔和較訂時此節</p>
<p>幸有寒字之說不被摘出若見暍字早巳摘置別論中矣程郊倩後條辨云暍病脈不浮不思本諭之暍即難經之熱病也難經云熱病之脈陰陽俱浮浮之而滑沉之散澀此是緊要處豈可模糊讀過　本條脈浮滑與難經熱病脈合則白虎的是熱病主方而寒字的是暍字之誤</p>
<p>傷寒無大熱口燥渴心煩背微惡寒者白虎加人參湯主之</p>
<p>背為陽背微惡寒者陽虛證也但陽有不同真水真火是腎中之陰陽也氣血是營衛之陰陽也此條口燥渴心煩則暍熱內熾仍是白虎證惟暍熱傷其衛氣致背微惡寒與腎陽全無關涉故止用人參補衛氣不用附子補腎陽至若少陰病口中和其背惡寒者則衛陽與腎陽並傷則人參與附子並用問同一背惡寒如何分別傷衛傷腎曰條內本自明白傷腎陽者口中和傷衛陽者口燥渴</p>
<p>傷寒脈浮發熱無汗其表不解者不可與白虎湯渴欲飲水無表證者白虎加人參湯主之</p>
<p>此承上文書煩渴背惡寒固當用白虎加參湯但亦有內中暍而外復傷風寒亦能令惡寒發熱脈浮更當於有汗無汗上辨表證解不解以定此方之可用不可用耳</p>
<p>傷寒脈浮緩身不疼但重乍有輕時無少陰證者大青龍湯主之</p>
<p>此承上文論有表證之治當與前條大青龍證合看前條云太陽中風脈浮緊發熱惡寒身疼痛不汗出而煩躁此稱傷寒則發熱惡寒無汗巳在其內如見此證即脈不緊而緩身不疼而重亦可用大青龍湯但少陰真武證亦四肢沉重疼痛恐人誤認故曰無少陰證者少陰證脈微細但欲寐也太陽中暍者身熱疼重而脈微弱此亦夏月傷冷水水行皮中所致也太陽中暍者汗出惡寒身熱而渴也身覺疼重而無汗為宥表證法宜大青龍湯主治但大青龍證脈不浮緊即見浮緩從無微弱者今見微弱非外感風寒證也乃因中暍暴渴過傷冷水水行皮膚所以身重也</p>
<p>太陽病發熱惡寒熱多寒少脈微弱者此無陽也不可更汗宜桂枝二越婢一湯</p>
<p>不可更汗對大青龍言此即治水行皮中證也蓋在天為寒在地為水本是一氣寒在皮膚與水在皮膚均當解散但脈微弱為無陽證故用此方較大青龍為制之小也問此與上節惟脈微弱三字相同並不明言中暍何必勉強湊合曰若非中暍亦不用石膏矣況此論經叔和顛亂安知原本不如此相接耶又何須重提中暍二字方作一例看也</p>
<p>太陽中暍者發熱惡寒身重而疼痛其脈弦細芤遲小便已洒洒然毛聳手足逆冷小有勞身即熱口開前板齒燥若發汗則惡寒甚加溫針則發熱甚數下之則淋甚</p>
<p>此言精氣素虧而中暍者</p>
<p>傷寒脈結代心動悸者灸甘草湯主之一名復脈湯脈按之來緩而時一止復來者名曰結又脈來動而中止更來小數中有還者反動名曰結陰也脈來動而中止不能自還因而復動名曰代陰也得此脈者必難治</p>
<p>此論精氣素虧而感微邪之治前節有脈證而無方治此未必即是前節主方然觀方中藥又甯必不可以治前證</p>

<h1>右九節論熱病</h1>
<p>太陽病發熱而渴不惡寒者為溫病</p>
<p>此是溫病證據難經傷寒有五之一亦火之氣也夫火特五氣之一乃分而為二者以陰陽之各異耳暍熱之火陽火也得之烈日故三時不病惟夏日太亢乃病溫病之火陰火也得之鬱熱四時皆有不要也素問分先夏至日為病溫後夏至日為病暑此第言其大略不若本論從脈證上分別尤確本條不言脈難經亦云溫病之脈行在諸經不知何經之病是憑證不憑脈之說也必欲擬脈當即於下文風溫脈推測之風溫之脈陰陽俱浮夫風脈本陽浮而陰弱是陽浮而陰不浮也今因風溫二氣並至所以陰陽俱浮若有溫無風則當陰浮而陽不浮矣陽即寸陰即尺素問云一呼脈三動一吸脈三動而躁尺熱曰病溫尺不熱曰病風亦以尺部辨溫矣蓋冬不藏精春必病溫藏精者腎尺外以候腎所以溫病應在尺部也是條有證而無治法條內不惡寒句已暗遞於陽明矣陽明論云病有得之一日不發熱而惡寒者即遙接此條顧不稱陽明而稱太陽者以未見胃家實而尚有頭項痛也故太陽病三日發汗不解蒸蒸發熱者屬胃也調胃承氣湯主治</p>
<p>若發汗已身灼熱者名曰風溫風溫為病脈陰陽俱浮自汗出身重多眠睡息必鼾語言難出若被下者小便不利直視失溲若被火者微發黃色劇則如驚癇時瘛瘲若火薰之一逆尚引日再逆促命期</p>
<p>溫熱二病古人往往互稱醫者秪須認定脈證擬河方治不必拘於名式難經云熱病之脈陰陽俱浮本條云風溫為病脈陰陽俱浮兩證脈相同也三陽合病但欲眠睡身重難以轉側本條身重多眠兩證病相似也熱病與合病俱主以白虎湯故此條無主治亦擬白虎湯主治</p>
<p>邪氣中人所入之道不同風寒由皮毛而入故自外漸及於里溫熱由口鼻而入伏於脾胃之膜原與胃至近故邪氣向外則由太陽少陽轉出邪氣向里則徑入陽明此吳又可溫疫論中語也彼自以為獨出心裁故於傷寒論反多辨駁不知傷寒論中於熱病則曰表有熱里有暍於溫病則曰發熱而渴不惡寒其曰不惡寒則邪不在表可知溫熱徑入於裡論中早已及之矣吳不能熟讀深思自詡創論其識亦淺矣哉</p>
<p>或問在天為燥在地為金燥亦五氣之一陽明非燥不病少陰急下三條皆燥氣為患太陽論中四氣俱已詳辨而獨不及燥豈燥獨不病太陽歟曰燥萬物者莫嘆乎火故火未有不燥而燥未有不從火來溫熱二證論火即所以論燥也若非論燥條內兩渴字從何處得來且熱病條云口燥渴明將燥字點出喻嘉言云古人以燥熱為暑故用白虎湯主治此悟徹之言也至若溫病條不惡寒三字早已露徑入陽明端倪其為燥病尤覺顯然論中端感一氣者惟風傷衛一證其餘皆數氣雜至之病麻黃證雖云寒傷營其實兼風梔聚證雖云濕痹其實兼熱則溫熱二證火氣兼燥夫復何疑可曰太陽中無燥論而竟疑燥不病太陽哉</p>
<p>右二節論溫病</p>

<h1>辨太陽病傳解</h1>
<p>傷寒一日太陽受之脈若靜者為不傳頗欲吐若臊煩脈數急者為傳也</p>
<p>傷寒五氣所傷之通稱如頭痛身熱不涼即調之傷寒至今猶然脈靜者陰邪也不傳他經躁煩脈數急者陽邪也勢必傳裡寒濕屬陰風熱燥屬陽</p>
<p>傳傳經也一日之傳始太陽終厥陰論稱傷寒一日太陽受之者謂始於太陽也傷寒二三日陽明少陽證不見為不傳者謂二日陽明三日少陽也傷寒三日三陽為盡三陰當受邪者謂四日太陰五日少陰六日厥陰也此傳經之日期也傳者如此遞彼之調非經經傳到方謂之傳注傷寒家皆謂不傳陽明少陽即不傳三陰必傳陽明少陽方傳太陰少陰厥陰故有傳則俱傳之謬說若然與陽明無所復傳句大相背謬矣因又創陽明有在經在附之不同以調停其說謂在級則傳在府則不傳也在俯者以胃家實作主在經者以身熱汗自出不惡寒反惡熱作主不思身熱汗出不惡寒證除卻胃實成何陽明胃實證除卻身熱汗出不惡寒豈反以身不熱汗不出惡寒者為陽明乎細思自得</p>
<p>行經典傳經不同病初起六日行太陽經縱有實邪未可大下次六日行陽明經如有實邪此時正當下之次六日行少陽經亦不可妄下論稱太陽病頭痛至七八日已上自愈為行其經盡者謂行盡太陽之經也七八日已上者六日也故曰初起六日行太陽經論又稱若欲作再經者針足陽明謂其已行盡太陽一經再欲行陽明一經也故曰次六日行陽明經至此已十二日矣自第十三日至十八日當行少陽經據論稱傷寒十三日不解此本柴胡證又云太陽病過經十日反二三下之後四五日柴胡證仍在者先與小柴相湯以小柴朋湯本少陽主方過太陽之經十日則十六日也正值行少陽之期故曰次六日行少陽經此行經日期也至若論稱過經所指不同陽明論中稱過經乃可下之者謂過太陽之經至陽期經中乃可下也傷寒十三日不解過經譫語者以譫語水陽明病今行過陽明之經而反譫語也太陽病過經十餘日反二三下之者過太陽之經也過經與行經日期同與傳經大不同也</p>
<p>傷寒二三日陽明少陽證不見者為不傳也</p>
<p>二日傳陽明之期三日傳少陽之期陽明篇中雲始雖惡寒二日自止傳陽明之證據也心中悸而煩者傳少陽之證據也若不見不惡寒不見心中煩悸為不傳陽明少陽也</p>
<p>傷寒二三日心中悸而煩者小建中湯主之</p>
<p>心中煩悸是將傳少陽之徵少陽主方本是小柴胡湯因未見口苦咽乾目眩尚在將入夫入之際故用小建中湯少陽論中傷寒陽脈澀陰脈弦法當腹中急痛先與小建中湯不瘥與小柴胡湯即此意也</p>
<p>太陽病三日發汗不解蒸蒸發熱者屬胃也調胃承氣湯主之</p>
<p>發汗後病不從汗解蒸蒸發熱者自內蒸出此傳入陽明之徵胃雖未實而邪已入胃故用調胃承氣湯</p>
<p>太陽病二三日不能臥但欲起心下必結脈弱者此本有寒分也反下之若利利止必作結胸未止者四日復下之此作協熱利也</p>
<p>此言太陽病二三日而煩躁者不必盡傳陽明有水緒胸一證不可不察當於脈之微弱上辨之寒分即水之凝結者本論無痰字此即痰也膈以上象天清陽所聚膈以下象地濁陰所聚故心下結鞕其病尚在膈上皆由痰飲阻滯清陽之氣使然非食物停滯也</p>
<p>太陽中風下利嘔逆表解者乃可攻之其人濈濈汗出發作有時頭痛心下痞鞕滿引脅下痛乾嘔短氣汗出不惡寒者此表解里未和也十棗湯主之上文論外中風而內有塞痰之證未有方治此復詳言病狀出方治之</p>
<p>問十棗湯未必即是治上節之病曰心下結見於誤汗吐下後者居多若未經汗吐下之心下結止此一證而治未經汗吐下之心下鞕亦止此一方況藥又對證非此而何</p>
<p>太陽病外證未解脈浮弱者復以汗解宜桂枝湯</p>
<p>上節言表解者乃可攻之倘表未解尚惡寒者未有方治此特補之傷寒三日陽明脈大</p>
<p>傷寒三日少陽脈小者欲已也</p>
<p>二節當作一句讀陽明脈本大少陽脈本小傷寒三日應傳陽明少陽日期而脈之大小加經知其不久自己也</p>
<p>傷寒三日三陽為盡三陰當受邪其人反能食而不嘔此為三陰不受邪也問曰傷寒三日脈浮數而微病人身涼和者何也答曰此為欲解也解以夜半脈浮而解者濈然汗出也脈數而解者必能食也脈微而解者必大汗出也問曰凡病欲知何時得何時愈答曰假令夜半得病明日日中愈日中得病夜半愈伺以言之日中得病夜半愈者以陽得陰則解也夜半得病明日日中愈者以陰得陽則解也</p>
<p>立夏得洪大脈是其本位其入病身體苦疼重者鬚髮其汗若明日不疼不重者不須發汗若汗濈濈自出者明日便解矣何以言之立夏得洪大脈是其時脈故使然也四時仿此</p>
<p>太陽病欲解時從已至未上</p>
<p>太陽病未解脈陰陽俱停必先振慄汗出而解但陽派微者先汗出而解陰脈微者下之而解若欲下之宜調胃承氣湯</p>
<p>問曰病有戰而汗出因得解者何也答曰脈浮而腎按之反芤此為本虛故當戰而汗出也其人本虛是以發戰以脈浮故當汗出而解也若脈浮而數按之不芤此人本不虛若欲自解但汗出耳不發戰也</p>
<p>脈弦而大弦則為減大則為也減則為寒芤則為虛寒虛相搏此名為革婦人則半產漏下男子則亡洫失精</p>
<p>前傷寒條內云脈浮而緊者名曰眩此曰大則為芤則弦大即上文浮而緊按之芤之脈也以是知半產漏下亡血失精即上文本虛二字註腳</p>
<p>問曰痛有不戰而汗出解者何也答曰脈大而浮數故知不戰汗出而解也</p>
<p>問曰病有不戰不汗出而解者何也答曰其脈自微此以曾經潑汗若吐若下若亡血以內無津液此陰陽自和必自愈故不戰不汗出而解也</p>
<p>以上十一節論病解之不同</p>
<p>傷寒四五日腹中痛若轉氣下趨少腹者此欲自利也</p>
<p>此言傳陰之候</p>
<p>傷寒四五日身熱惡風頸項強脅下滿手足溫而渴者小柴胡湯主之此言傳半表半裡之候不必見口苦止據脅下滿即當用小柴胡湯所謂柴胡證但見一證便是不必悉具也</p>
<p>傷寒五六日頭汗出微怨寒手足冷心下滿口不欲食大便脈細者此謂陽微結必有表復有里也脈沉亦在裡也汗出為陽微假令純陰結得復有外證悉入在裡此為半在裡半在外也脈雖沉緊不得為少陰病所以然者陰不得有汗今頭汗出故知非少陰也可與小柴胡湯設不了了者得屎而解</p>
<p>此與少陰病極相似惟頭汗出為異耳少陰病有汗者四俱兼下利二證可治二證不可治獨頭汗出者絕無</p>
<p>傷寒六七日發熱微惡寒支節煩疼微嘔心下支結外證未去者柴胡加桂枝湯主之</p>
<p>此言邪傳半表半裡而外證尚多之治</p>
<p>太陽病頭痛至七八日己上自愈者以行其經盡故也若欲作再經者針足陽明使經不傳則愈</p>
<p>傷寒三日一大關鍵謂三陽已盡三陰當受邪也陰不受邪可自解矣傷寒六日又是一大關鍵謂其六日行太陽一經已盡若不自解則或傳陽明或傳三陰之候也七八日已上者六七日也欲作再經者言已行盡太陽一經恐欲再行陽明一經也</p>
<p>傷寒六七日無大熱其人躁煩者此陽夫人陰故也</p>
<p>若脈和其人大煩目重臉內際黃者此為欲解也</p>
<p>病六七日手足三部脈皆主人煩而口噤不能言其人躁擾者必欲解也欲目解者必當先煩乃有汗而解何以知之脈浮故知汗出解也</p>
<p>己上四節辨入陰與欲解病脈證臉內際近鼻處是也</p>
<p>太陽病六七日表證仍在脈微而沉反不結胸其人如狂者以熱在下焦少腹當鞕滿小便自利者下血乃愈所以然者以太陽隨經瘀熱在裡故也抵當湯主之</p>
<p>此辨蓄血證也與水結胸辨不與陽明胃實辨陽明胃實其脈亦實與脈微而沉大不相似惟水結胸與蓄血證其脈皆微其證不能臥但欲起與如狂相尖故辨之然水蓄於下小便必不利水蓄於上其胸必結今既不結胸小便複利而脈微如狂非蓄血而何</p>
<p>太陽病身黃脈沉結少腹鞕小便不利者為無血也小便自利其人如狂者血證諦也抵當湯主之</p>
<p>為無血言無瘀血非血少也此與濕熱發黃證辨太陽病脈沉身黃與濕熱梔子檗皮證同惟小便利不利為異耳如小便不利則病在氣分不在血分為無瘀血也若小便自利則病不在氣分必在血分更有如狂現證其為瘀血明矣</p>
<p>傷寒有熱少腹滿應小便不利今反利者為有血也當下之不可余藥宜抵當丸</p>
<p>此與一切五苓豬苓等證辨也蓄血證亦不定現發黃惟少腹滿而小便利者斯為確據滿比鞕稍輕故用丸</p>
<p>太陽病不解熱結膀胱其人如狂血自下下者愈其外不解者尚未可攻當先解外外解已但少腹急結者乃可攻之宜桃核承氣湯</p>
<p>前條瘀血全無行動之意故用飛潛吮血之物活動其血以逐之此條血已自下不過乘其勢而導之使出故不假動血藥</p>
<p>太陽病外證未解不可下也下之為逆欲解外者宜桂枝湯主之</p>
<p>外證未解者尚惡寒也此補上文外證未解之治此條與十棗後治外證未解一條編傷寒者往往編在一處以為類敘法遂令顯序處有重複之嫌抽出處有缺文之恨故移正之</p>
<p>木發汗而復下之此為逆也若先發汗治不為逆本先下之而反汗之為逆若先下之治不為逆</p>
<p>此申明上文下之為逆句</p>
<p>脈陰陽俱緊至於吐利其脈獨不解緊去人安此為欲解若脈遲至六七日不欲食此為晚發水停故也為未解食自可者為欲解</p>
<p>此總提停水證起下四節</p>
<p>傷寒表不解心下有水氣乾嘔發熱而咳或渴或利或噎或小便不利少腹滿或喘者小青龍湯主之</p>
<p>傷寒心下有水氣咳而微喘發熱不渴服湯己渴者此寒去欲解也小青龍湯主之</p>
<p>服湯已即是小青龍湯非寒去欲解之後再用小青龍也以上論傷寒未解而停水者</p>
<p>中風發熱六七日不解而煩有表裡證渴欲飲水水入則吐者名曰水逆五苓散主之</p>
<p>表證即是發熱汗出惡寒里證即是停水</p>
<p>傷寒汗出而渴者五苓散主之不渴者茯苓甘草湯主之</p>
<p>渴者丹田有熱故五苓散中用澤瀉豬苓不渴者丹田無熱故茯苓甘草湯中不用澤瀉豬苓以上論中風未解而停水者</p>
<p>傷寒六七日不利便發熱而利其人汗出不止者死有陰無陽故也</p>
<p>陽氣大虧之證望其七日來復之期陽氣漸蘇陰邪漸退可自解也乃反增下利汗出是微陽已散陰邪獨留不死何待</p>
<p>發熱而厥七日下利者為難治</p>
<p>此較上條少一汗出證在可治不可治之間故曰難治治法不外遍脈四逆傷寒脈浮而緩手足自溫者系在太陰太陰當發身黃若小便自利者不能發黃至七八日雖暴煩下利日十餘行必自止以脾家實腐穢當去故也</p>
<p>脾屬太陰濕土凡傷於濕者內應太陰兼寒者吐利腹痛即太陰之正病兼熱者即濕痹發黃證若內濕熱而外復感風寒者即麻黃連翹赤小豆證丹溪以造麴比之謂濕熱鬱久則發黃故自汗出者謂之熱越不能發黃即不汗出而小便自利者亦不能發黃以濕熱分泄故也此條脈浮為有表證脈緩為屬脾不見吐利腹痛是濕熱非寒濕也即是麻黃連翹赤小豆證因小便自利故不發黃耳問曰既屬太陰如何不編入太陰內曰太陰病認證處全在腹滿而吐食不下自利益甚時腹自痛此條內一證不見若編入太陰內教人何處認證況脈浮的屬太陽證據如何混入太陰內七八日暴煩下利正是邪去欲解之候恐人誤作傳入陰經治故曰必自止當不治自解耳</p>
<p>傷寒八九日身黃如橘子色小便不利腹微滿者茵陳蒿湯主之</p>
<p>上言濕熱證小便自利者不發黃此論小便不利而發黃之治</p>
<p>脈浮而遲面熱赤而戰惕者六七日當汗出而解反發熱者差遲為無陽不能作汗其身必癢也</p>
<p>脈遲不同沉遲而尺中遲皆屬營氣不足新加湯主治沉遲面赤屬下虛自汗乃解此條脈浮而遲屬衛陽虛經云上焦開發若霧露之溉是為氣因少此加霧露者則不能作汗至於面赤亦有數條痙病與二陽並病皆由陽氣怫鬱在表治宜發汗本條屬衛陽虛而表未解又宜小劑發汗厥陰中戴陽一條聽其自汗乃解即少陰病中通脈四逆一證腎陽大虛仍用蔥以通陽氣參觀全論面赤一證未有不從汗解者</p>
<p>太陽病摒之八九日如瘧狀發熱惡寒熱多寒少其人不嘔清便欲自可一日二三度發脈微緩者為欲愈也脈微而惡寒者此陰陽俱虛不可更發汗更下更吐也而色反有熱色者未欲解也以其不能得小汗出身必癢宜桂枝麻黃各半湯</p>
<p>上半節是欲解之候自而色反有熱色以下與上條同上條無方此條比方主治不嘔與少陽辨太陽轉入少陽必嘔今不嘔非少陽之往來寒熱便調與陽明辨太陽轉入陽明必胃實不大便今便調非陽明之潮熱</p>
<p>傷寒八九日風濕相摶身體疼煩不能自轉側不嘔不渴脈浮虛而澀者桂枝附子湯主之若其人大便鞕小便自利者去桂枝加白朮湯主之</p>
<p>不嘔與少陽病辨誤下少陽胸滿煩驚一身盡重不可轉側與此證相似但少陽證喜嘔而此證不嘔為異耳不渴與三陽合病辨三陽合病身重難以轉側與此證相似但三陽合病治用白虎其證必渴而此證不渴為異耳恐人娛認故特提要處辨之</p>
<p>病者一身盡疼發熱日脯所劇者此名風濕此病傷於汗出當風或久傷取冷所致也</p>
<p>風濕相摶骨節煩疼掣痛不得屈伸近之則痛劇汗出短氣小便不利惡風不欲去衣或身微腫者甘草附子湯主之</p>
<p>本論云濕家之為病一身盡痛而有兼寒兼熱之異兼熱者脈來沉細無汗而發黃兼風寒者脈浮虛而澀多汗惡風寒而不發黃此皆有發熱證也故本論詳辨至若但痛而不發熱者俗名白虎歷節本論不具此證雖不發黃其中有熱者不少不可泥於經文寒勝為痛之句</p>
<p>太陽病脈浮緊無汗發熱身疼痛八九日不解表證仍在此當發其汗服藥已微除其人發煩熱目瞑劇者必衄衄乃解所以然者陽氣重故也麻黃湯主之</p>
<p>服藥已即是服麻黃湯此亦倒裝文法非已解後更用麻黃湯也</p>
<p>太陽病脈浮緊發熱身無汗自衄者愈</p>
<p>傷寒脈浮緊不發汗因致衄者麻黃湯主之</p>
<p>此條疑有誤處經云奪血者無汗本論云衄家不可發汗況上條明云自衄者愈似無再用麻黃湯之理</p>
<p>太陽病十日以去脈浮細而嗜臥者外已解也設胸滿脅痛者與小柴胡湯脈但浮者與麻黃湯</p>
<p>太陽病過經十日反二三下之後四五日柴胡證仍在者先與小柴朋湯嘔不止心下急鬱郁微煩者為未解也與大柴胡湯下之則愈</p>
<p>傷寒六日內太陽主氣第七日至十二日陽明主氣第十三日以後少陽主氣此言過太陽之經十餘日則病十七八日也值少陽主氣之期當用小柴胡主治若經誤下當先看小柴胡證仍在否再議治法</p>
<p>太陽病過經十餘日心中溫溫欲吐而胸中痛大便反滿腹微滿鬱郁微煩先此時自極吐上者與調胃承氣湯苦不爾者不可與但欲嘔胸中痛微溏者此非柴胡證以嘔故知極吐下也</p>
<p>嘔乃柴胡證據言以嘔故知極吐柴胡證也</p>
<p>傷寒發熱汗出不解心中痞鞕嘔吐而下利者大柴胡湯主之</p>
<p>傷寒十三日不解胸脅滿而嘔日晡所發潮熱己而微利此本柴胡證下之而不得利今反利者知醫以丸藥下之非其治也潮熱者實也先宜小柴胡湯以解外後以柴胡加芒硝湯主之</p>
<p>傷寒十三日不解過經譫語者以有熱也當以湯下之若小便利者大便當鞭而反下利脈調和者知醫以丸藥下之非其治也若自下利者脈當微厥今反和者此為內實也調胃承氣湯主之</p>
<p>傷寒十餘日熱結在裡復往來寒熱者與大柴胡湯但結胸無大熱者此為水結在胸脅也但頭微汗出者大陷胸湯主之</p>

<h1>辨誤汗病脈證</h1>
<p>太陽病三日已發汗若吐若下若溫針扔不解者此為壞病桂枝不中與也觀其脈證知犯何逆隨證治之</p>
<p>前太陽證中二十餘方皆療未經誤治之正病此以下皆論誤治之變證也凡病若發汗若吐若下若亡津液陰陽自和者必自愈此言雖被誤而亦有不治自愈者</p>
<p>太陽病初服桂枝湯反煩不解者先刺風池風府卻與桂枝湯則愈</p>
<p>風池足少陽經穴在耳後顳顬後腦空下發際陷中按之引於耳中手足少陽陽維之會風府足太陽經穴一名風門一名熱府在二椎下兩旁去脊各一寸五分正坐取之</p>
<p>喘家作桂枝湯加厚朴杏子仁佳</p>
<p>服桂枝湯大汗出脈洪大者與桂枝湯如前線若形似瘧日再發者汗出必解宜桂枝二麻黃一湯</p>
<p>服桂枝湯大汗出後大煩渴不解脈洪大者白虎加人參湯主之</p>
<p>此本白虎證而誤用桂枝湯也兩證相似當於渴不渴辨之</p>
<p>傷寒脈浮自汗出小便數心煩微惡寒腳攣急反與桂枝湯欲攻其表此誤也得之便厥咽中干煩躁吐逆者作甘草乾薑湯與之以復其陽若厥愈足溫者更作芍藥甘草湯與之其腳即伸若胃氣不和譫語者少與調謂承氣湯若重發汗更加燒計者四逆湯主之</p>
<p>問曰證象陽旦按法治之而增劇厥逆咽中干兩脛拘急而譫語師言夜半手足當溫兩腳當伸後如師言何以知之答曰寸口脈浮而大浮則為風大則為虛風則生微熱虛則兩脛攣病證象桂枝因加附子參其間增桂令汗出附子溫經亡陽故也厥逆咽中干煩躁陽明內結譫語煩亂更飲甘草乾薑湯夜半陽氣還兩足當熱脛尚微拘急重與芍藥甘草湯爾乃脛伸以承氣湯微溏則止其譫語故知其病可愈</p>
<p>論中止有陽明並無陽旦陽旦乃陽明傳寫之誤耳身熱自汗出小便利心煩如不惡寒反惡熱脈實者是陽明當下證若身熱自汗出小便利心煩而微惡寒脈尚浮者為表未盡解仍宜桂枝湯解外故曰按法治之而其所以增劇者現證較陽明多一腳攣急脈浮中多一大字實非陽明病乃系陽虛中風證也此條亦不甚難解何至有云非仲景書者有補陽旦湯者紛紛不一皆因平日曾看過傷寒論尚未熟讀傷寒論故也</p>
<p>柱枝本為解肌若其人脈浮緊發熱汗不出者不可與也當須識此勿令誤也</p>
<p>此論無汗之傷寒不可與桂枝湯以方中有芍藥故也至於桂枝則麻黃湯中亦自用之何嘗禁乎肌在脈外解肌者解脈外肌腠之邪也</p>
<p>凡服桂枝湯吐者其後必吐膿血也</p>
<p>酒客病不可與桂枝湯得湯則嘔以酒客不喜甘故也</p>
<p>以上三節論桂枝湯之禁</p>
<p>風家表解而不了了者十二日愈</p>
<p>以上皆論服桂枝湯後現證</p>
<p>傷寒發汗已解半日許復煩脈浮數者可更發汗宜桂枝湯主之</p>
<p>此本麻黃證而用麻黃髮汗藥已對證乃解而復煩脈浮數者藥未勝病也可更發汗只須桂枝足矣不宜再用麻黃湯</p>
<p>發汗已脈浮數煩渴者五苓散主之</p>
<p>汗已脈浮數更加煩渴則外邪未解內復停水宜五苓散兩解表裡又非桂枝湯主治矣</p>
<p>發汗後不可更行桂枚湯汗出而喘無大熱者可與麻黃杏仁甘草石膏湯主之</p>
<p>此本大青龍證而誤用麻黃湯之見證</p>
<p>發汗後飲水多必喘以水灌之亦喘</p>
<p>發汗後致喘不一不可檗用上方</p>
<p>脈浮數者法當汗出而愈若下之身重心悸者不可發汗當自汗出乃解所以然者尺中脈微此裡虛須天裡實津液自和便自汗出愈</p>
<p>此言下後不可發汗</p>
<p>下之後復發汗必振寒脈微細所以然者以內外俱虛故也</p>
<p>下之後復發汗畫日煩躁不得眠夜而安靜不嘔不渴無表證脈沉微身無大熱者乾薑附子湯主之</p>
<p>經有虛則相併之說畫日煩躁者我身之微陽感天之陽欲外出而與之並也夜乃天之陰我身微陽不敢外出故反安靜耳煩而兼嘔是少陽證煩而兼渴是白虎證故辨之無表證即在脈沉微無大熱上見</p>
<p>太陽病先下之而不愈因復發汗以此表裡俱虛其人因致冒冒家汗出自愈所以然者汗出表和故也得里未和然後復下之</p>
<p>此言虛而有表證者令其自汗</p>
<p>傷寒大下後復發汗心下痞惡寒者表未解也不可攻痞當先解表表解乃可攻痞解表宜桂枝攻痞宜大黃黃連瀉心湯</p>
<p>心下痞即上文里未和證也</p>
<p>心下痞復惡汗出者附子瀉心湯主之</p>
<p>病人脈數數為熱當消穀引食而反吐者此以發汗令陽氣微膈氣虛脈乃數也數為客熱不能消穀以胃中虛冷故吐也</p>
<p>前言脈浮數者當發汗此言亦有因汗而致數者脈數屬熱而熱有真假之分當於能食吐食上辨</p>
<p>脈浮緊者法當身疼痛宜以汗解之假令尺中遲者不可發汗何以知之然以營氣不足血少故也</p>
<p>發汗後身疼痛脈沉渥者桂枝加芍藥生薑各一兩人參三兩新加湯主之此承上文言不可發汗而發之則脈之尺中遲者變為六脈盡沉遲矣用此湯救之</p>
<p>病人脈陰陽俱緊反汗出者亡陽也此屬少陰法當咽痛而復吐利</p>
<p>脈陰陽俱緊無汗者麻黃證汗出者亡陽證故見此脈當於汗上辨之亡陽脈證不一脈有微細者有陰陽俱緊者有沉遲者有數者證有煩躁類少陽者有譫語類陽明者此條當於某證上辨彼條又當於某證上辨如脈數似熟而於反吐上見亡陽煩躁類少陽而不嘔上見亡陽逐條細辨方得病情豈可一例論哉</p>
<p>發汗後水藥不得入口為逆若更發汗必吐下不止</p>
<p>病人有寒復發汗胃中冷必吐蛔</p>
<p>此裡寒也表寒可發汗裡寒不可發汗</p>
<p>咽喉乾燥者不可發汗</p>
<p>淋家不可發汗發汗必便血</p>
<p>瘡家雖身疼痛不可發汗發汗則痙</p>
<p>此證既不可汗又有不得不汗之勢一友用葛根湯取效以葛根湯即痙病發汗方也</p>
<p>衄家不可發汗汗出必額上陷脈緊急目直視不得㫬不得眠亡血家不可發汗發汗則寒慄而振</p>
<p>咳而小便利若失小便者不可發汗汗出四肢厥逆冷大汗出若大下利而厥冷者四逆湯主之</p>
<p>汗家重發汗必恍惚心亂小便已陰痛與禹糧丸</p>
<p>發汗多若重發汗者亡其陽譫語脈短者死脈自和者不死</p>
<p>此證與陽明脈弦者生一條外證相似而病如水火此當溫補彼宜攻下皆死生在於頃刻倘有疑惑當以手按病人腹實硬者是陽明虛軟者是亡陽未持脈時病人又手自冒心師因教試令咳而不咳者此必兩耳聾無聞也所以燃者以重發汗虛故如此</p>
<p>發汗病不解反惡寒者虛故也芍藥甘草附子湯主之</p>
<p>此本桂枝證而誤用麻黃湯也</p>
<p>大汗出熱不去內拘急四肢疼又下利敝逆而惡寒者四逆湯主之</p>
<p>此誤汗甘草附子湯證也證本自汗出誤汗則大汗出證本發熱誤汗則熱不為汗減證本骨節煩疼不得屈伸誤汗則內拘急四肢疼證本大便反快誤汗則下利證本惡風不欲去衣誤汗則厥逆而惡寒</p>
<p>太陽病發汗遂漏不止其人惡風小便難四肢微急難以屈伸者桂枝加附子湯主之</p>
<p>此誤汗桂枝附子證也</p>
<p>太陽病發汗汗出不解其人仍發熱心下悸頭眩身瞤動振振欲擗地者真武湯主之</p>
<p>發汗後惡寒者虛故也不惡寒但熱者實也當和胃氣與調胃承氣湯</p>
<p>此辨汗後之虛實</p>
<p>發汗後其人臍下悸者欲作奔豚茯苓桂枝甘草大棗湯主之</p>
<p>此誤汗茯苓甘草湯證也郎用原方以棗易薑棗乃守中之聖藥中風乾嘔用棗守中使上焦之邪不得陷下奔豚用棗守中使下焦之邪不得上攻惟邪在中焦者禁用</p>
<p>發汗過多其人叉手自冒心心下悸欲得按者桂枝甘草湯主之</p>
<p>此亦誤汗茯苓甘草湯證也叉手冒心而耳不聾虛而未甚也心下悸者水氣仍在中上之間故仍用原方去茯苓以汗後不宜過滲也去生薑以邪及中州也</p>
<p>太陽病小便利者以飲水多必心下悸小便少者必苦裡急也</p>
<p>飲水多小便利者水不聚於下而聚於上小便少者水不聚於上而聚於下此釋上文心下悸也</p>
<p>大下後復發汗小便不利者亡津液故也勿治之得小便利必自愈</p>
<p>承上文言小便不利證有不同有水停而不利者亦有亡津液而不利者不可混治</p>
<p>太陽病發汗後大汗出胃中干煩燥不得眠欲得飲水者少少與飲之令胃氣和則愈若脈浮小便不利微熱消渴者與五苓散主之</p>
<p>上截論亡津液用法救之下截論停水出方治之</p>
<p>欲得飲水者非不渴又非大渴也大汗煩燥最似白虎證但白虎證大渴此則不大渴也煩燥不得眠又似乾薑附子證但姜附證不渴此則欲飲水</p>
<p>發汗後腹脹滿者厚朴生薑半夏甘草人參湯主之</p>
<p>此誤汗小青龍證也</p>
<p>傷寒發汗已身目為黃所以然者以寒濕在裡不解故也以為不可下也於寒濕中求之</p>
<p>此誤汗梔檗證及茵陳蒿證也</p>
<p>傷寒吐下後發汗虛煩脈甚微八九日心下痞鞕脅下痛氣上衝咽喉眩冒經脈動惕者久而成痿</p>
<p>辨誤下病脈證</p>
<p>太陽病下之其脈促不結胸者此為欲解也脈浮者必結胸也脈緊者必咽痛脈弦者必兩脅拘急脈細數者頭痛未止脈沉緊者必欲嘔脈沉滑者協熱利脈浮滑者必下血</p>
<p>首節總提</p>
<p>太陽病先發汗不解而復下之脈浮者不愈浮為在外而反下之故令不愈今脈浮故知在外當須解外則愈宜桂枝湯主之</p>
<p>脈浮而不結胸者邪不內陷仍宜桂枝湯</p>
<p>太陽病下之後其氣上衝者可與桂枝湯方用前法若不上衝者不可與之</p>
<p>凡經汗經下後外邪未解仍宜表散者雖本自麻黃證而來亦止用桂枝湯不用麻黃湯以汗下後虛故也其氣上衝邪有向外之機</p>
<p>太陽病下之微喘者表未解也桂枝加厚朴杏仁湯主之</p>
<p>此誤下桂枝加樸杏證下後微喘仍用原方</p>
<p>下後不可更行桂枝湯若汗出而喘無大熱者可與麻黃杏仁寸草石膏湯</p>
<p>此誤下大青龍證也</p>
<p>濕家下之額上汗出微喘小便利者死若下利不止者亦死</p>
<p>誤下濕證額上必有汗出其下利不止者死誤下桂枝附子證也其小便利者死誤下去桂加朮證也</p>
<p>濕家其人但頭汗出背強欲得被覆向火若下之早則噦或胸滿小便不利舌上如胎者以丹田有熱胸中有寒渴欲得水而不能飲則口燥煩也</p>
<p>此早下茵陳窩湯證也</p>
<p>太陽病下之後脈促胸滿者桂枝去芍藥湯主之若微惡寒者去芍藥方中加附子湯主之</p>
<p>上文言脈促不結胸者為欲解此言脈促雖不結胸而胸尚滿者邪未解也</p>
<p>本論凡胸滿者去巧藥</p>
<p>服桂枝湯或下之仍頭項強痛翕翕發熱無汗心下滿微痛小便不利者桂枝湯去桂加茯苓白朮湯主之</p>
<p>病發於陽而反下之熱入因作結胸病發於陰而反下之因作痞所以成痞者以下之太早故也</p>
<p>首諭云病有發熱惡寒者發於陽也無熱惡寒者發於陰也第論中邪傷太陽無熱之證絕少惟初起時則有之麻黃證是也耍之發於陽者即陽邪所發也發於陰者即陰邪所發也</p>
<p>脈浮而緊而復下之緊反入里則作痞按之自濡但氣痞耳</p>
<p>此謂誤下陰邪而成痞</p>
<p>心下痞接之濡其脈關上浮者大黃黃連瀉心湯主之本以下之故心下痞與瀉心湯痞不解艾人渴而口燥煩小便不利者五苓散主之</p>
<p>此言誤下五苓證亦致心下痞者當細察之</p>
<p>太陽病寸緩關浮尺弱其人發熱汗出復惡寒不嘔但心下痞者此以下之過也如其不下病人不惡寒而渴者此轉屬陽明也小便數者大便必鞕不更衣十日無所苦也渴欲飲水者少少與之但依治救之渴者宜五苓散</p>
<p>此言心下痞而有寸緩關浮尺弱者亦從誤下得來如其不下則脈象緩弱病從太陰漸轉陽明也但轉屬陽明小便數者濕氣漸消大便必鞕不更衣必有所苦不更衣十日一無所苦非轉屬陽明也脈象緩弱究非可下證如微渴欲飲者是亡津液所致少少與之令胃和則愈若微熱消渴小便不利者停水證也宜用五苓散</p>
<p>太陽病醫發汗遂發熱惡寒因復下之心下痞表裡俱虛陰陽氣並竭無陽則陰獨復加燒針因胸煩面色青黃膚瞤者難治今色微黃手足溫者易愈</p>
<p>太陽病者脈浮頭項強痛惡寒也發熱原不在內故諸證具而尚未發熱麻黃湯主治今醫用發汗最為合法但解而復煩邪猶未盡當用桂枝湯重發汗則愈醫乃誤認發汗不解蒸蒸發熱病已屬胃一證即用下法則謬以千里矣</p>
<p>發汗若下之病仍不解煩躁者茯苓四逆湯主之</p>
<p>此即愈之之法也是方陰陽並補兼化寒飲</p>
<p>發汗若下之而煩熱胸中窒者梔子豉湯主之</p>
<p>此亦愈之之法也是方濕熱在膈上者宜之</p>
<p>太陽病脈浮而動數浮則為風數則為熱動則為痛數則為虛頭痛發熱微盜汗出而反惡寒者表未解也醫反下之動數變遲膈內拒痛胃中空虛客氣動膈短氣躁煩心中懊憹陽氣內陷心下因鞕則為結胸大陷胸湯主之若不結胸但頭汗出余無汗劑頸而還小便不利身必發黃也</p>
<p>風熱未解而誤下之則成結胸濕熱未解而誤下之則發身黃皆有懊憹而煩之證其誤下濕熱證必頭汗出余無汗可據</p>
<p>發汗吐下後虛煩不得眠若劇者必反覆顛倒心中懊憹者梔子豉湯主之若少氣者梔子甘草豉湯主之若嘔者梔子生薑豉湯主之凡服梔子湯病人舊微溏者不可與服之也</p>
<p>此治誤下濕熱之方也濕熱主方本是梔子檗皮湯外兼風寒是即麻黃連軺赤小豆湯內入陽明即茵陳蒿湯若誤汗誤下後即此梔子豉湯</p>
<p>不利後更煩按之心下濡者為虛煩也宜梔子豉湯</p>
<p>此釋上文虛煩二字下利後者用下藥而大便通利後也雖煩亦當止若更煩者此誤下也按之心下濡者為虛煩也按之石鞕者結胸也</p>
<p>傷寒六七日結胸熱實脈沉而緊心下痛按之石鞕者大陷胸湯主之此釋上文結胸二字二節當合看</p>
<p>傷寒若吐若下後心下逆滿氣上衝胸起則頭眩脈沉緊發汗則動經身為振振搖者茯苓桂枝白朮甘草湯主之</p>
<p>此誤下茯苓甘草湯證也原方用苓桂姜甘四味前論誤汗欲作奔豚者中州虛無以坐鎮也故即於原方去姜加棗藉以守中也今論誤下不但客氣動膈而脈亦沉緊則水氣已陷八中州矣故用原方去姜加朮藉以除中州之水濕也</p>
<p>傷寒五六日大下之後身熱不去心中結痛者未欲解也梔子豉湯主之</p>
<p>傷寒醫以丸藥大下之身熱不去微煩者梔子乾薑湯主之</p>
<p>傷寒下後心煩腹滿臥起不安者梔子厚朴湯主之</p>
<p>太陽病重發汗而復下之不大便五六日舌上燥而渴日晡所小有潮熱從心下至少腹鞕滿而痛不可近者大陷胸湯主之</p>
<p>恐人誤認陷胸湯止治心下石鞕故指出心下至少腹俱鞕者並治之傷寒病若吐若下後七八日不解熱結在裡表裡俱熱時時惡風大渴舌上乾燥而煩欲飲水數升者白虎加入參湯主之</p>
<p>此誤下白虎證也</p>
<p>結胸證其脈浮大者不可下下之則死</p>
<p>結胸證悉具煩躁者亦死</p>
<p>寸口脈浮大而醫反下之此為人逆浮則無血大則為寒寒氣相搏則為腸嗚醫乃不知而反飲冷水令汗大出水得寒氣冷必相摶其人即關</p>
<p>問曰病有結胸有藏結其狀何如答曰按之痛寸脈浮關脈沉名曰結胸也何謂藏結答曰如結胸狀飲食如故時時下利寸脈浮關脈小細沉緊名曰藏結舌上白胎滑者難治</p>
<p>臟結無陽證不往來寒熱其人反靜舌上胎滑者不可攻也</p>
<p>病脅下素有痞連在臍旁痛引少腹入陰筋者此名藏結死</p>
<p>小結胸病正在心下按之則痛脈浮滑者小陷胸湯主之</p>
<p>寒實結胸無熱證者與三物不陷胸湯白散亦可服</p>
<p>傷寒發汗若吐若下解後心下痞鞕噫氣不除者旋覆代赭湯主之此娛下小青龍證也</p>
<p>傷寒五六日嘔而發熱者柴胡湯證具而以他藥下之柴胡證仍在者復與柴胡湯此雖已下之不為逆必蒸蒸而振卻發熱汗出而解若心下滿而鞕痛者此為結胸也大陷胸湯主之怛滿而不痛者此為痞柴胡不中與也宜半夏瀉心湯</p>
<p>此以下四節皆由誤下柴胡證得來誤下柴胡證分見三處者有不得不分之勢少陽論中雲若已吐下發汗溫針柴胡證罷此為壞病依法治之若柴胡證不罷者復與柴胡湯故存少陽論內者柴胡桂薑湯柴胡龍牡湯存過輕不解內者大柴胡湯柴胡加芒硝湯此數條皆柴胡證未盡罷者也至心下痞數條柴胡湯證已罷若不歸入誤下痞滿內如何比顯辨別況讀文氣本分三處少陽條內云凡柴胡湯證而下之若柴胡證不罷者復與柴胡湯必蒸蒸而振卻發熱汗出而解與此條同過經條內云柴胡湯證仍在者先與小柴胡湯亦與本節同惟其分在數處見故為遙應文法若並見一處則為重出矣</p>
<p>傷寒中風醫反下之其人下利日數十行穀不化腹中雷鳴心下痞鞕而滿乾嘔心煩不得安醫見心下痞謂病不盡復下之其痞益甚此非結熱但以胃中虛客氣上逆故使鞕也甘草瀉心湯主之</p>
<p>傷寒服湯藥下利不止心下痞鞕服瀉心湯已復以他藥下之利不止醫以理中與之利益甚理中者理中焦此利在下焦赤石脂禹餘糧湯主之複利不止者當利其小便</p>
<p>傷寒汗出解之後胃中不利心下痞鞕乾噫食臭脅下有水氣腹中雷鳴下利者生薑瀉心湯主之</p>
<p>心下痞未有不從誤下得來者故即汗出解後而就證論治不妨類敘於此太陽病桂枝證醫反下之利遂不止脈促者表未解也喘而汗出者葛根黃芩黃連湯主之</p>
<p>太陽病外證未除而數下之遂協熱而利利下不止心下痞鞕表裡不解者桂枝人參湯主之</p>
<p>此誤下十棗外未解之證也協熱利者發熱而利也故曰表裹不解傷寒醫下之績得下利清穀不止身疼痛者急當救里後身疼痛清便自調者急當救表救里宜四逆湯救表宜桂枝湯</p>
<p>被誤下利證見身疼痛即為表未解不必發熱凡汗下後即表未解止用桂枝湯不用麻黃湯論中皆如此清作圊字解周谷者完穀不化也圊便自調者大便如常也</p>
<p>下利清穀不可攻表汗出必脹滿</p>
<p>傷寒本自寒下醫復吐下之寒格更逆吐下若食入口即吐乾薑黃連黃芩人參湯主之</p>
<p>傷寒胸中有熱胃中有邪氣腹中痛欲矚吐者黃連湯主之</p>
<p>傷寒六七日大下後寸脈沉而遲手足厥逆下部脈不至咽喉不利唾膿血泄利不止者為難治麻資升麻湯主之</p>

<h1>辯誤吐病脈證</h1>
<p>太陽病吐之但太陽病當惡寒今反不惡寒不欲近衣此為吐之內煩也太陽病當惡寒發熱今自汗出不惡寒發熱關上脈細數者以醫吐之過也一二日吐之者腹中飢口不能食三四日吐之者不喜糜粥欲食冷食朝食暮吐以醫吐之所致也此為小（疑作吐）逆</p>
<p>傷寒吐後腹脹者與調胃承氣湯</p>

<h1>辯永逆病脈證</h1>
<p>病在陽應以汗解之反以冷水噀之若灌之其熱被郤不得去彌更益煩肉上粟起意欲飲水反不渴者服文蛤散若不差者與五苓散</p>
<p>傷寒大吐大下之極虛復極汗出者以其人外氣怫鬱復與之水以發其汗因得噦所以然者胃中寒冷故也</p>

<h1>辯火逆病脈證</h1>
<p>脈浮宜以汗解用火灸之邪無從出因火而盛病從腰以下必重而痹名為火逆也</p>
<p>形作傷寒其脈不弦緊而弱弱者必渴被火者必膽語弱者發熱脈浮解之當汗出愈</p>
<p>微數之脈慎不可灸因火為邪則為煩逆追虛逐實血散脈中火氣雖微內攻有力集骨傷筋血難復也</p>
<p>脈浮熱甚反灸之此為實實以虛治因火而動必咽燥唾血</p>
<p>太陽病以火熏之不得汗其人心躁到經不解必清血名偽火逆</p>
<p>太陽病二日反躁反熨其背而大汗出大熱入胃胃中水竭躁煩必發譫得十餘日振慄自下利者此為欲解也故其汗從腰以下不得汗欲小便不得反嘔欲失溲足下惡風大便鞕小便當數而反不數及不多大便已頭卓然而痛其人足心必熱穀氣下溜故也</p>
<p>太陽中風以火卻發汗邪風被火熱血氣流溢失其常度兩陽相熏灼其身發黃陽盛則欲衄陰虛則小便難陰陽俱虛竭身體則枯燥但頭汗出劑頸而還腹滿微喘口乾咽爛或不大便久則膽語甚者至噦手足躁擾捻衣摸床小便利者其人可治</p>
<p>傷寒脈浮醫以火迫卻之亡陽必驚狂起臥不安者桂枝去芍藥加蜀添牡蠣龍骨救逆湯主之</p>
<p>太陽傷寒者加溫針必驚也</p>
<p>火逆下之因燒針煩躁者桂枝甘草龍骨牡蠣湯主之燒針令其汗針處被寒核起而赤者必發奔豚氣從少腹上衝心者灸其核上各一壯興桂枝加桂湯更加桂三兩</p>

<h1>辯陽明病脈證</h1>
<p>陽明之為病胃家實也</p>
<p>此是陽明病提綱後稱陽明病三字俱有胃家實在內胃家實言以手按胃中實鞕也加大陷胸證按之石鞕即名實熱梔子豉證按之心下濡即名虛煩夫心下俱以濡鞕分虛實何獨於胃中不以濡鞕分虛實乎注傷寒家皆曰胃家本實所以病人陽明但此作推原入陽明之故則可若即作胃家實正面則本是實而可據之語反成空論救人無處認證此大不可也</p>
<p>問曰陽明病外證云何答曰身熟汗自出不惡寒反惡熱也</p>
<p>陽明病或發熱或潮熱總無身不熱之陽明身不熱而胃似實是太陰而非陽明矣或汗多或微汗總無不汗出之陽明不汗出而胃似實非兼外證即屬久虛與寒濕非真陽明病也夫惡寒太陽證也微惡寒不惡熱者猶未離乎太陽也惟不惡寒反惡熱乃是陽明的證注傷寒家皆以胃家實為在內之府病承氣湯主治以身熱汗出惡熱為在外之經病桂枝湯主治不思桂枝湯為惡寒而設若不惡寒反惡熱如何可用桂枝湯是經病之說謬也況以身熱汗出不惡寒分作經病則其所謂府病者必身不熱汗不出不惡熱反惡寒明矣而可用承氣湯以下之耶要之胃家實是在內之證據本節是在外之證據須內外俱備方是真陽明可下證若一證不具即非真陽明證雖非真陽明而胃實已皆不得不稱陽明稱陽明而類敘一處以便同中審異耳</p>
<p>問曰何緣得陽明病答曰太陽病發汗若下若利小便此亡津液胃中乾燥因明得陽明病之故由於誤治太陽病亡其津液即下文太陽陽明也</p>
<p>問曰病有得三日不發熱而惡寒者河也答曰雖得三日惡寒將自罷即自汗出而惡熱也問曰惡寒何故自罷答曰陽明居中土也萬物所歸無所復傳始雖惡寒二日自止此為陽明病也</p>
<p>此言陽明病不盡由誤治太陽亦有自入者邪熱熾甚逼汗大出此證從太陽病發熱而渴不惡寒之溫病進來即下文之正陽陽明也</p>
<p>問曰病有太陽陽明有正陽陽明有少陽陽明何謂也答曰太陽陽明者脾約是也正陽陽明者胃家實是也少陽陽明者發汗利小便已胃中燥煩實大便難是也</p>
<p>此言陽明病不盡由太陽正陽而來更有誤治少陽所致凡太陽亡津液之陽明皆稱脾約不獨麻仁丸一證已也蓋脾主行津液胃即燥則脾無津液之可行故曰約正陽陽明之胃家實不因誤治而自實也少陽陽明者由少陽而入陽明也止言發汗利小便而不言吐下者以吐下少陽或柴胡證未罷但增悸而驚者加龍牡主治或柴胡證已罷但心下痞者三瀉心主治皆不入陽明惟發汗則譫語煩悸而屬胃矣論中無利小便之禁豈誤利小便汗與誤之亡津液等與煩是心煩乃少陽本來面目汗利後見此知自少陽而來一見不惡寒即是調胃承氣證少陽亦是陽明來路喻嘉言認作陽明去路誤矣</p>
<p>脈陽微而汗出少者為自和也汗出多者為太過陽脈實因發其汗出多者亦為太過太過為陽絕於里亡津液大便因鞕也</p>
<p>關前為陽陽脈微法當自汗出但微汗則邪從汗解而津液不傷此為自和也若汗多則津液耗矣陽脈實法當無汗但邪在表自應發汗然發之太過則津液亦耗　衛氣為陽人之所知也津液為陽人之所未知也經云上焦出氣宣五穀味熏膚充身澤毛若霧露之溉是調氣衛氣即津液也故在外之津液少則曰無陽不能作汗在內亡津液則曰陽絕於里要之言陽也即言衛氣也即言津液也穀食在胃全賴津液充足方能滑潤下達若津液一枯穀食即燥結雖下故陽明非燥不病然燥者五氣之一而五氣中風與熱亦能致燥易曰燥萬物者莫熯乎火又曰風自火出此三氣皆因乎天者若人之致燥有二汗與小便是也苟過多則亦未有不燥者矣</p>
<p>脈浮而芤浮為陽芤為陰浮芤相搏胃氣生熱其陽則絕陽明病發熱汗多者急下之宜大承氣湯</p>
<p>言陽明證具不發汗而汗自多者此溫熱內入正陽陽明也燥熱熾盛津液有立竭之虞故下之宜急言急者以見緩即無及也因思下不嫌遲之說貽誤良多矣</p>
<p>陽明病脈遲汗出名微惡寒者表夫解也可發汗宜桂枝湯</p>
<p>言陽明病汗出多者非盡當急下也如果急下之證必不惡寒反惡熱矣今脈遲微惡寒者此風傷衛之多汗實由外邪未解非燥熱內熾之多汗也</p>
<p>陽明病脈浮無汗而喘者發汗則愈宜麻黃湯</p>
<p>言胃家雖實偏脈浮無汗而喘仍是風寒兩傷營衛假胃實證也蓋由上焦不通故喘不通則津液不下胃因不和而似乎實矣發汗則表寒一散胃亦得和故曰發汗則愈</p>
<p>發汗不解腹滿痛者急下之宜大承氣湯</p>
<p>腹滿不減減不足言當下之宜大承氣湯</p>
<p>發汗頂上桂枝麻黃兩證來發汗不解腹滿痛當作一句讀腹滿痛若因表邪未解得來一經發散則上焦得通津液得降腹滿痛立解矣倘汗後不能解腹滿痛或雖減而不大減是燥熱內盛不急下之津液有立竭之虞故宜大承氣未發汗時先有腹滿痛證所以編入陽明論中若是汗後增出又屬厚朴生薑半夏人參證非陽明承氣證矣</p>
<p>陽明病本自汗出醫更重發汗病已差尚微煩不了了者此大便必鞕故也以亡津液胃中乾燥故令大便鞕當問其小便日幾行若本小便日三四行今日再行故知大便不久出今為小便數少以津液當還入胃中故知不久必大便也</p>
<p>陽明病自汗出若發汗小便自利者此為津液內竭雖HF鞕不可攻之當須自欲大便宜蜜煎導而通之若土瓜根及人豬膽汁皆可為導</p>
<p>趺陽脈浮而澀浮則胃氣強澀則小便數浮澀相搏大便則難其脾為約麻仁丸主之</p>
<p>趺陽脈在足面上診此以上三節論誤汗亡津液後不可輕下</p>
<p>陽明病下之心中懊憹而煩腸中有燥屎者可攻腹微滿初頭鞕後必溏不可攻之若有燥屎者宜大承氣湯</p>
<p>此總提下後懊憹有可攻不可攻之別</p>
<p>大下後六七日不大便煩不解腹滿痛者此有燥屎也所以然者本有宿食故也宜大承氣湯</p>
<p>病人不大便五六日繞臍痛煩燥發作有時者此有燥屎故使不大便也病人小便不利大便乍難乍易時有微熱喘冒不能臥者有燥屎也宜大承氣湯</p>
<p>以上三節論有燥屎之據應上可攻句小便不利大便乍難乍易而可攻者此是變局宜識之</p>
<p>陽明病下之其外有熱手足溫不結胸心中懊憹飢不能食但頭汗出者梔子豉湯主之</p>
<p>此應上文下後懊憹之不可攻者前太陽入陽明因誤汗下利小便三條今汗下俱己詳論而獨不及利小便者豈以誤利小便之亡津液與誤汗同與陽明病不吐不下心煩者可與調胃承氣湯</p>
<p>此與下節論少陽陽明不吐不下心煩者言不因吐而內煩不因下而虛煩也此即誤汗少陽屬胃證</p>
<p>傷寒六七日目中不了了睛不和無表裡證大便難身微熱者此為實也急下之宜大承氣湯</p>
<p>此為二字是遙應少陽陽明綱中語前云煩實大便難是也上節專應煩字此應實與大便難字稱傷寒而不稱陽明者以按胃中不覺實也故曰無表裡證少陽病本目眩誤汗後變為目中不了了睛不和少陽病木在半表半裡故誤汗後亦無表裡證</p>
<p>病人無表裡證發熱七八日雖脈浮數者可下之假令己下脈數不解合熱則消穀善肌至六七日不大便者有瘀血也宜抵當湯若脈數不解而下不止必協熱而便膿血也</p>
<p>無表證不惡寒也無里證以手按胃不實也承上文言無表裡證更有不同陽明病其人喜忘者必有蓄血所以然者本有久瘀血故令喜忘屎雖鞕大便反易其色必黑宜抵當湯下之</p>
<p>此瘀血之證據</p>
<p>傷寒熱無汗嘔不能食而反千出濈濈燃者是轉屬陽明也</p>
<p>此以上三陽明之證治業已論盡此以下論不經誤治而轉屬陽明者即名並病此節是並病之提筆其未並之前本是風寒兩傷營衛之麻黃證而里有宿食者也其後發熱變為潮熱無汗變為自汗嘔變為不嘔不能食變為能食是寒邪解散風氣獨存內合宿食則轉屬陽明是並病也較之正陽陽明而轉屬差遲較之太陽陽明又不經誤治然當其方轉屬之際未必證證盡變但認汗出濈濈即轉屬之機也</p>
<p>前三陽明證或竟自入者或因誤治而入者其來也速故治宜急而此之並病以漸故病有一分未離太陽者即不可攻下故辨證宜細攻下宜緩</p>
<p>本太陽初得病時發其汗汗先出不徹因轉屬陽明也</p>
<p>推原所以轉屬之故</p>
<p>二陽並病太陽初得病時發其汗汗先出不徹因轉屬陽明績自微汗出不惡寒若太陽病證不罷者不可下下之為逆如此不可發汗若面色緣緣正赤者陽氣怫鬱在表當解之熏之若發汗不徹不足言陽氣怫鬱不得越當汗不汗其人躁煩不知痛處乍在腹中乍在四肢按之不可得其人短氣但坐以汗出不徹故也更發汗則愈何以知汗出不徹以脈澀故知也</p>
<p>承上論發汗不徹與陽氣怫鬱似同實異並提太陽病證不罷者不可下以起下文</p>
<p>陽明病面合赤色不可攻之發熱色黃小便不利也</p>
<p>承上言面赤不可攻並指出病證令人知來路去路此是寒邪外束之濕溫證也麻黃連翹赤小豆湯是其主方除卻惡寒即是梔子檗皮證再加腹微滿即是茵陳蒿證</p>
<p>陽明病脈遲雖汗出不惡寒者其身必重短氣腹滿而喘有潮熱者此外欲解可攻裡也手足濈然而汗出者此大便已鞕也大承氣湯主之若汗多微發熱惡寒者外未解也其熱不潮未可與承氣湯若腹大滿不通者可與小承氣湯微利胃氣勿令大泄下</p>
<p>此承上文太陽證不罷來言汗出不惡寒未必就是外解必須兼有潮熱方是外解以起下六節</p>
<p>病人煩熱汗出則解又如瘧狀日晡所發熱者屬陽明也脈實者宜下之脈浮虛者宜發汗下之與大承氣湯發汗宜桂枝湯</p>
<p>此言潮熱之狀又言汗出潮熱證具猶未盡是可攻證更當參之於脈</p>
<p>陽明病潮熱大便微鞕者可與大承氣湯不鞕者不與之若不大便六七日恐有燥屎欲之法少與小承氣湯湯入腹中轉矢氣者此有燥屎乃可攻之若不轉矢氣者此但初頭鞭後必溏不可攻之攻之必脹滿不能食也欲飲水者飲水則噦其後發熱者必大便復鞭而少也以小承氣湯和之不轉矢氣者慎不可攻也</p>
<p>潮熱亦有大便未鞭者當先與小承氣湯試之</p>
<p>傷寒噦而腹滿視其前後知何部不利利之則愈</p>
<p>此補上治噦法前部不利誤下濕溫證也宜梔豉湯後部不利早下轉屬證也俟大便復鞭後用小承氣湯噦冷呃也屬冷居多此曰通利前後乃變同也全在腹滿上看出</p>
<p>傷寒不大便六七日頭痛有熱者與承氣湯其小便清者知不在裡仍在表也當鬚髮汗若頭痛者必衄宜桂枝湯</p>
<p>上文言六七日不大便與小承氣湯觀矢氣之有無以驗矢之鞭否此言與湯後觀小便之清濁以驗邪之在表在裡</p>
<p>陽明病發潮熱大便溏小便自可胸脅滿不去者小柴胡湯主之</p>
<p>此言陽明病潮熱己見而大便反不試而自溏此不可攻明矣然小便自可又非小便不利大便反快之濕溫證且其人胃中既實而胸脅亦滿此由上焦不通因致胃氣不和當用小柴胡湯以通上焦顧稱陽明而不稱少陽者以按胃甚實而無口苦咽乾目眩證也太陽病中之小柴胡證仿此</p>
<p>二陽並病太陽證罷但發潮熱手足漐漐汗出大便難而譫語者下之則愈宜大承氣湯</p>
<p>此以潮熱汗出為太陽證罷總結上文提譫語二字以起下文</p>
<p>夫實則譫語虛則鄭聲鄭聲重語也</p>
<p>譫語鄭聲本自不同而易於相混然與其就一證上分辯難清不若合他證辨之尤為易見故論中諸條無鄭聲字不論虛實皆稱譫語於亡陽譫語條可見</p>
<p>汗出譫語者以有燥屎在胃中此為風也須下之過經乃可下之下之若早語言必亂表虛里實故也下之則愈宜大承氣湯</p>
<p>專傷於風則有汗若兼寒則無汗矣胃有宿食則陽明已有病根外傷風寒則太陽與陽明俱病矣其後惡寒漸退自汗漸出則寒邪散去風邪獨並陽明是謂並病並者必以淅而並也故必待六七日方見此證若胃有宿食而外感之邪有風無寒則病起即有汗出汗出則胃中燥即發譫語不待六七日也然譫語雖見而下之仍當六日後過太陽之經乃可否則表虛里實語不但譫而且亂矣</p>
<p>陽明病譫語發潮熱脈滑而疾者小承氣湯主之因與承氣湯一升腹中轉矢氣者更服一升若不轉矢氣勿更與之明日不大便脈反微澀者裡虛也為難治不可更與承氣湯也</p>
<p>譫語潮熱並見尚有不可攻之證更當參之於脈</p>
<p>脈浮而滑浮為陽滑為實陽實相搏其脈數疾衛氣失度浮滑之脈數疾發熱汗出者此為不治</p>
<p>釋上文脈滑而疾之義</p>
<p>傷寒四五日脈沉而喘滿沉為在裡而反發其汗津液越出大便為難表虛里實久則譫語</p>
<p>傷寒四五日尚在太陽經中喘滿而脈沉者當用小承氣微和胃氣</p>
<p>陽明病其人多汗以津液外出胃中燥大便必鞭鞭則譫語小承氣湯主之若一服譫語止更莫復服</p>
<p>以上二節言多汗後譫語屬津液內竭不可大攻</p>
<p>前誤汗中有發汗多若重發汗者亡其陽譫語脈短者死脈自和者不死其不死之法當從少陰治用四逆輩又非承氣輩治矣二證相似而實相反故不可不辯其辯證處全在按胃家實與不實耳</p>
<p>傷寒若吐若下後不解不大便五六日至十餘日日晡發潮熱不惡寒獨語如見鬼狀若劇者發則不識人循衣摸床惕而不安微喘直視脈弦者生澀者死微者但發熱譫語者大承氣湯主之若一服利止後服</p>
<p>微者較前證稍輕耳故亦治以大承氣湯</p>
<p>直視譫語喘滿者死下利者亦死</p>
<p>此言譫語之死證上文直視譫語微喘者尚生死參半此則喘而且滿法在必死</p>
<p>陽明病下血譫語者此為熱入血室但頭汗出者刺期門隨其實而瀉之濈然汗出則愈</p>
<p>期門足厥陰宮名在乳下三肋乳旁三指此承上言譫語下利者死下血者可治</p>
<p>婦人傷寒發熱經水適來晝日明瞭暮則譫語如見鬼狀者此為熱入血室無犯胃氣及上二焦必自愈</p>
<p>婦人中風發熱惡寒經水適來得之七八日熱除而脈遲身涼胸脅下滿如結胸狀譫語者此為熱入血室也當刺期門隨其實而瀉之</p>
<p>婦人中風七八日續得寒熱發作有時經水適斷者此為熱入血室其血必結故使如瘧狀發作有時小柴胡湯主之</p>
<p>以上四節言熱入血室亦有譫語者</p>
<p>陽明病若能食名中風不能食名中寒</p>
<p>言陽明病中風可下中寒不可下何以別之蓋能食者風不能食者寒應並病提筆中不能食句</p>
<p>陽明病不能食攻其熱必噦所以然者胃中虛冷故也以其人本虛故攻其熱必噦</p>
<p>陽明病譫語有潮熱反不能食者胃中必有燥屎五六枚也若能者但鞭耳宜大承氣湯下之</p>
<p>能食為中風可不不能食為中寒不可下此物論不譫語之胃實證耳若譫語有潮熱明明是胃中燥熱非中寒也放有燥屎者反不能食非大承氣攻之不下若能食者但鞭耳無燥屎也</p>
<p>得病二三日脈弱無太陽柴胡證煩躁心下鞭到四五日雖能食以小承氣湯少少與微和之令少安至六日與承氣湯一升若不大便六七日小便少者雖不能食但初頭鞭後必溏未定成鞭攻之必溏須小便利屎定鞭乃可攻之宜大承氣湯</p>
<p>前論過經乃可下此特申明之上截言四五日未過太陽經不可下下截言即過太陽經而小便少者濕氣未除亦不可攻拖起下文論小便諸節蓋五氣入陽明惟風燥熱二陽邪為可下略雜寒濕陰邪即不可下故不惡寒反惡熱念其寒邪退也自汗出小便利驗其濕邪退也然後可用大承氣下法陽明病心下鞭滿者不可攻之攻之利遂不止者死利止者愈</p>
<p>心下尚在膈上乃太陽地面非陽明胃也是水飲所聚非停食之所若誤下寒飲必至利不止而死</p>
<p>陽明病若中寒不能食小便不利手足濈然汗出此欲作痼必大便初鞭後溏所以燃者以胃中冷水穀不別故也</p>
<p>初鞭後溏以病之先後言非於一便之中分先後也此無方即下文四逆主治稱陽明自燃諸證悉具惟汗止在手足而不遍出為異耳且不能食而又無譫語潮熱則中寒明矣小便不利則濕無出路明矣所以大便雖鞭其後必溏必曰痼瘕假陽明也</p>
<p>脈浮而遲表熱裡寒下利清穀者四逆湯主之若胃中虛寒不能食者飲水則噦</p>
<p>表熱裡寒者言外雖發熱而里則有寒也</p>
<p>陽明病法多汗反無汗其身如蟲行皮中狀者此以久虛故也</p>
<p>陽明病反無汁而小便利二三日嘔而咳手足厥者必苦頭痛著不咳不嘔手足不厥者頭不痛</p>
<p>論中咳證除小青龍真武豬苓湯四逆散小柴胡湯之外絕少今言嘔而咳手足厥頭痛諸證並見似非小柴胡不能主治以上二節論陽明病之無汗者即帶出嘔字以下數節論嘔應並病提筆中嘔字</p>
<p>傷寒嘔多雖有陽明證不可攻之</p>
<p>此證非由胃中虛寒即屬少陽</p>
<p>食谷欲嘔者屬陽明也吳茱萸湯主之得湯反劇者屬上焦也</p>
<p>吳茱萸湯治胃中虛寒方也上文久虛條無方疑即此方主治得湯反劇但云屬上焦而亦無方治即是下文小柴胡湯蓋小柴胡通上焦方也</p>
<p>陽明病脅下鞭滿不大便而嘔舌上白胎者可與小柴胡湯上焦得通津液得下胃氣因和身濈燃而汗出解也</p>
<p>以上論嘔亦是不能食之證</p>
<p>陽明病欲食小便反不利大便自調其人骨節疼翕翕如有熱狀奄然發狂濈然汗出而解者此水不勝穀氣與汗其並脈緊叫愈</p>
<p>翕翕如有熱狀則身不大熱也濈然汗出而解則前此之時無汗也外證全不似陽明而得稱陽明病者以胃家按之實也然無汗小便不利水無出路胃中全是水濕並非燥實但胃中既有水濕自應作利而大便自調者以無寒邪故耳無寒故飲食欲食則穀氣勝可濈然解矣</p>
<p>陽明病欲解時從申至戌上</p>
<p>陽明病無汗小便不利心中懊憹者身必發黃</p>
<p>無汗小便不利濕鬱也心中懊憹熱瘀也此以下論濕熱二氣併入中州陽明病發熱汗出此為熱越不能發黃也但頭汗出身無汗劑頸而還小便不利渴引水漿者此為瘀熱在裡身必發黃茵陳蒿湯主之</p>
<p>申明上文出方主治</p>
<p>陽明病被火額上微汗出小便不利者必發黃</p>
<p>陽明病脈遲食難用飲飽則微煩頭眩必小便難此欲作谷疽雖下之腹滿如故所以然者脈遲故也</p>
<p>傷寒脈浮而緩手足自溫老是為系在太陰太隊當發身黃若小便自利者不能發黃至七八日大便鞭者為陽明病也</p>
<p>傷寒轉系陽明者其人濈然微汗出也</p>
<p>陽明太陰俱屬土同主中州而陰陽不同陽道實陰道虛之各異耳故陰陽五氣之偏犯著中州地面陽邪病陽陰邪病陰各從其類蓋風燥熱三氣天之陽也入中州必犯陽明寒濕二氣天之陰也入中州必犯太陰然人之專感一氣老少而數氣並感者多如濕熱二氣並感熱為陽邪入中州則犯陽明濕為陰邪入中州則犯太陰條內稱陽明病系在太陰者即濕熱並感證也其人但頭汗出身無汗小便不利濕熱內郁所以發黃茵陳湯主治若發熱汗出謂之熱越不能發黃或汗雖不出而小便自利者亦不能發黃總之濕熱右出路也其小便自利證至七八日或暴煩下利謂之脾家實腐穢當去必自愈倘腐穢不去小便日利則大便漸鞭即為陽明病矣但系在太陰者轉系陽明非僅小便利汗亦當濈然出也</p>
<p>陽明病脈浮而緊者必潮熱發作有時但浮者必盜汗出也</p>
<p>此言陽明病潮熱汗出雖似可下而脈浮究非可下證也蓋脈浮緊者必潮熱脈但浮者必盜汗此類頗多不可執定一端遽認作可下證以起下文諸節</p>
<p>傷寒腹滿譫語寸口脈浮而緊此肝乘脾也名曰縱刺期門</p>
<p>傷寒發熱嗇嗇惡寒渴欲飲水其腹必滿自汗出小便利其病欲解此肝乘肺也名曰橫刺期門</p>
<p>陽明中風口苦咽乾腹滿微喘發熱惡寒脈浮而緊若下之則腹滿小便難也</p>
<p>口苦咽乾少陽證也發熱悉寒脈浮而緊太陽證也雖稱陽明實未離乎太少故列之合病之前此陽邪內伏風寒外朿大青龍之類也</p>
<p>陽明病脈浮而緊咽燥口苦腹滿而喘發熱汗出不惡寒反惡熱身重若發汗則燥心憒憒反譫語若加燒針必怵惕煩躁不得眠若下之則胃中空虛客氣動膈心中懊憹舌上胎老梔子豉湯主之若渴欲飲水口乾舌燥者白虎加入參湯主之若脈浮發熱渴欲飲水小便不利老豬苓湯主之</p>
<p>此條當與風溫證及三陽合病參看皆無形之燥熱為病而胃無宿食也故未經誤治之時本是白虎湯主治不惡寒者豬苓證惡寒者五苓散</p>
<p>陽明病汗出多而渴者不可與豬苓湯以汗多胃中燥豬苓湯複利其小便故也</p>
<p>陽明病但頭眩不惡寒故能食而咳其人必咽痛若不咳者咽不痛</p>
<p>條內無方須擬方治論中咳病凡五惟真武頭眩柴胡目眩但云能食則所中陽邪也真武陽藥非宜而柴胡證又不能食因思頭眩亦聚水之據擬豬苓主治爰次豬苓之後</p>
<p>陽明病口燥但欲漱水不欲咽者此必衄</p>
<p>脈浮發熱口乾鼻燥能食者衄</p>
<p>陽明中風脈強浮大而短氣腹都滿脅下及心痛久按之氣不通鼻乾不得汗嗜臥一身及面目悉黃小便難有潮熱時時噦耳前後腫刺之小差外不解病過十餘日脈續「宜作弦」浮者與小柴胡湯脈但浮無餘證者與麻黃湯若不尿腹滿加噦者不治</p>
<p>太陽「脈浮頭項強痛惡寒」與陽明「胃家實」合病者必自下利葛根湯主之太陽與陽明合病不下利但嘔者葛根加半夏湯主之太陽與陽明合病喘而胸滿者不可下宜麻黃主之陽明「胃實」少陽「口苦咽乾目眩」合病必下利箕脈不負者順也負者失也互相剋賊名為負也脈滑而數者有宿食也當下之宜大承氣湯</p>
<p>論中論脈止以開前後分陰陽從不以左右分藏府今云互相剋賊名曰負則不得不以左右分配也蓋少陽脈本強細而反見於右關陽明部位陽明脈本緩大而反見於左關少陽部位所謂互相剋賊也部位本出素難仲景自敘云撰論用素難自揣此說不大背謬也</p>
<p>三陽合病脈浮大上關上但欲眠睡目合則汗</p>
<p>上關上寸脈也</p>
<p>三陽合病腹滿身重難以轉側口不仁而面垢譫語遺尿發汗則譫語下之則額上汗出手足厥冷若自汗出者白虎湯主之</p>

<h1>辨少陽病脈證</h1>
<p>少陽之為病口苦咽乾目眩也</p>
<p>此是少陽提綱</p>
<p>傷寒五六日中風往來寒熱胸脅苦滿默默不欲飲食心煩喜嘔或胸中煩而不嘔或渴或腹中痛或脅下痞鞭或心下悸小便不利或不渴身宥微執或咳者小茈胡湯主之</p>
<p>少陽屬火純寒純濕陰邪不能侵犯惟兼陽邪乃能犯之故傷寒必待五六日後寒邪微解方見此證若中風則雜陰邪故可直中不待五六日也是證內挾水氣與小青龍同惟邪在太小之各異耳</p>
<p>傷寒中風有茈胡證但見一證便是不必悉具</p>
<p>但見一證便是指或字以上諸證言</p>
<p>血弱氣盡腠埋開邪氣因入與正氣相搏結於脅下止邪分爭往來寒熱休作有時默默不欲飲食藏府相連其痛必下邪高痛下故使嘔也小柴胡湯主之此言病因藏府相連其痛必下明指肝膽言</p>
<p>傷寒陽脈澀陰脈弦法當腹中急痛先與小建中湯不差與小柴胡湯主之提綱中不言脈此曰陽脈澀陰脈弦後曰脈弦細又曰脈沉細脈沉緊合數條體認少陽之脈自得先與小建中湯者恐邪未盡傳少陽也</p>
<p>本太陽病不解傳入少陽者脅下鞭滿乾嘔不能食往來寒熱尚未吐下脈沉緊者與小柴胡湯服柴胡湯己渴者屬陽明也依法治之</p>
<p>脈沈緊不細從太陽轉入少陽未經吐下故得此脈既見柴胡證自然用柴胡湯和解然脈沉緊不細非少陽本脈既可轉入少陽即可轉入陽明若服柴胡湯己渴者又屬陽明不可泥於柴胡之治二節本是一條不可拆開若止云服柴胡湯而渴者未必即是陽明不見柴胡湯去半夏加栝蔞根倍人參一方亦治渴也</p>
<p>傷寒脈弦細頭痛有熱者屬少陽少陽不可發汗發汗則譫語此屬胃胃和則愈胃不和則煩而悸</p>
<p>脈弦細極似少陰然考內經少陰之脈不上頭故以頭痛認少陽也</p>
<p>少陽中風兩耳無所聞目赤胸中滿而煩者不可吐下吐下則悸而驚</p>
<p>此二節論少陽之禁</p>
<p>若己吐下發汗溫針譫語柴胡證罷此為壤病知犯何逆依沃治之</p>
<p>此為壞病句己遞入洽誤條</p>
<p>凡柴胡湯病證而下之若柴胡證不罷者復與柴胡湯必蒸蒸而振卻發熱汗出而解</p>
<p>復與柴胡湯下文柴胡桂薑湯柴胡龍牡湯皆是不必小柴胡也</p>
<p>少陽病欲解時從寅至辰上</p>
<p>傷寒五六日己發汗而復下之胸脅滿微結小便不利渴而不嘔但頭汗出往來寒熱心煩者此為末解也柴胡桂枝幹薑湯主之</p>
<p>胸滿微結大似結胸小便不利渴而不嘔大似五苓全不見柴胡證惟頭汗心煩往來寒熱為柴胡證之未罷者也</p>
<p>傷寒八九日下之胸滿煩驚小便不利譫語一身盡重不可轉側者茈胡加龍骨牡蠣湯主之</p>
<p>此誤下少陽傷其樞機者惟胸滿煩三字見少陽證未罷</p>
<p>得病六七日脈遲浮弱惡風寒手足溫醫二三下之不能食而脅下滿痛面目及身黃頸項強小便難看與柴胡湯後必下重本渴而飲水嘔者柴胡湯不中與也食谷者噦</p>
<p>此濕熱證系在太陰而貌似少陽者其系在太陰證據未下時於脈遲上見既下後於身黃上見其貌似少陽處在脅下滿痛一證恐人誤認少陽故辨之</p>
<p>太陽少陽並病心下鞭頸項強而眩者當刺大椎肺前肝俞慎勿下之肺前在大椎下第三節肝俞第五節去中行一寸半足太陽經穴</p>
<p>太陽少陽並病而反下之戒結胸心下鞭下利不止水漿不下其人煩心結胸者項亦強如柔痙狀下之則利宜大陷胸丸</p>
<p>太陽與少陽並病頭項強痛或眩冒時如結胸心下痞鞭者當刺大椎第一間肺前肝俞慎不可發汗發汗則譫語脈弦五六日譫語不止刺期門太陽與少陽合病自下利者與黃芩湯若嘔者黃芩加半夏湯主之</p>

<h1>辨太陰病脈證</h1>
<p>太陰之為病腹滿而吐食不下自利益甚時腹自痛若下之必胸下結鞭太陰陽明俱屬土同主中州病則先形諸腹陽明為陽土陽道實故病則胃家實而非滿也太陰為陰土道虛故病則腹滿而不能實也凡風燥熱三陽邪犯陽明寒與濕二陰邪犯太陰陽邪犯陽則能食而不嘔陰邪犯陰則不能食而吐陽邪犯陽則不大便陰邪犯陰則自利證俱相反可認若誤下則胃中空虛客氣動膈在陽邪則懊憹而煩在陰邪則胸下結鞭倘再誤攻必到利不止而死此太陰病之提綱也後稱太陰病俱指腹滿言</p>
<p>自利不渴者屬太陰以其藏有寒故也當溫之宜服四逆輩</p>
<p>自利者不因下而利也凡利津液下注外證多渴其不渴者屬太陰之寒病也上節無方此出方治以不渴兩字認太陰此是辨寒熱利之金針常須識此勿令誤也</p>
<p>太陰中風四肢煩疼脈陽微陰澀而長有為欲愈</p>
<p>凡陰邪病陰或四肢煩疼或身體疼痛俱為有表證即風邪也既稱太陰病無有不傷寒濕者略兼風邪即名太陰中風若止感風而無寒濕未有不發熱者並不入太陰也其欲愈之徵全在脈長上見以長則氣治也至若陽微陰澀仍是太陰病脈耳</p>
<p>太陰病欲解時從亥至醜土</p>
<p>太陰病脈浮者可發汗宜桂枝湯</p>
<p>脈浮表邪不少也雖見腹滿仍宜汗解</p>
<p>下利腹脹滿身體疼痛者先溫其里乃攻其表溫里宜四逆湯攻表宜桂枝湯</p>
<p>表裹不解有先里後表法</p>
<p>本太陽病醫反下之因而腹滿時痛者屬太陰也桂枝加芍藥湯主之大實痛者桂枝加大黃湯主之</p>
<p>此但腹滿時痛而無吐利證且本非太陰病從誤下太陽得來故可加芍藥加大黃否則溫之猶恐未效而可寒之乎</p>
<p>太陰為病脈弱其人續自便利設當行大黃芍藥者宜減之以其人胃氣弱易動故也</p>
<p>此言人平素本有太陰病雖感熱邪當行大黃芍藥者宜減用恐動脾氣也太陰為病若何其脈則弱其病則續自便利也即此可以見太陰病之本脈</p>

<h1>辨少陰病脈證</h1>
<p>少陰之為病脈微細但欲寐也</p>
<p>微薄也屬陽虛細小也屬陰虛但欲寐者衛氣行於陰而不能行於陽也此是少陰病之提綱凡稱少陰病必見但欲寐之證據而其脈或微或細見一即是不必並見少陰腎脈也真陰真陽寓焉陽虛則易受寒陰虛則易中熱第陽既虛矣而復受寒即微陽有立亡之勢陰既虛矣而復傷熱則微陰有立竭之虞故辨證既明治不宜緩微字作薄字解熟讀全論自明不必泥於儒家訓詁</p>
<p>少陰病始得之反發熱脈沉者麻黃附子細辛湯主之少陰病者但欲寐也此條雖屬陽虛受寒而始得之時脈尚沉而未微也故可發汗若脈既微則不可發汗矣少陰病不發熱者居多故曰反發熱腎中真陽光虧失於捍禦故邪得以犯之然寒邪雖能犯少陰終屬天氣必由外而入故少陰病始得之未入於裡者尚可護其陽而散之</p>
<p>少陰病得之二三日麻黃附子甘草湯微發汗以二三日無里證故微發汗也</p>
<p>里證見於病者吐利煩躁是也見於脈者沉細數是也二三日較始得之時日期巳深故雖發熱無里證者亦當去細辛之辛烈加甘草以保中</p>
<p>少陰病脈細沉數病為在裹不可發汗</p>
<p>脈細屬陰虛沉為在裡數則為熱此陰虛而熱邪入里也</p>
<p>少陰病得之二三日以上心中煩不得臥黃連阿膠湯主之</p>
<p>上節有脈而無證沽此詳言證治</p>
<p>少陰病但厥無汗而強發之必動其血未知從何道出或從口鼻或從目出是名下厥上竭為難治</p>
<p>此言誤汗而成難治之證</p>
<p>少陰病脈微不可發汗亡陽故也陽已虛尺脈弱澀者復不可下之</p>
<p>讀此見前條之可發汗者脈但沉而不微也</p>
<p>少陰中風脈陽微陰浮為欲愈</p>
<p>凡陽邪所病俱稱中風三陰經病惟感陽邪者可自愈</p>
<p>少陰負趺陽者為順也</p>
<p>少陰太谿脈也在足內踝之下跌陽陽明脈也在足而上少陰病則太谿脈自當小於跌腸為順也</p>
<p>少陰病欲解時從子至寅上</p>
<p>少陰病身體痛手足寒骨節疼脈沉者附子湯主之</p>
<p>手足寒者手指寒至腕足指寒至踝不遍四體也陰陽之氣不相順接使然蓋手三陰脈終於手指手三陽脈起於手指足三陽脈終於足指足三陰脈起於足指可見手足乃陰陽交接之所苟陰陽之氣不相順接則手足便為寒冷然有陽結陰結之異少陽論云傷寒五六日頭汗出微惡寒手足冷脈細者此為陽微結是陽不與陰順接也病在陽頭有汗出可據本條陰不與陽順接病在陰頭無汗出可據其病由陽氣虛而微感寒濕其感寒之證據在身體痛感濕之證據在骨節疼所以主治方中用參附芍以補陽退寒用苓朮以除濕</p>
<p>少陰病得之一二日口中和其背惡寒者當灸之附子湯主之</p>
<p>承上文言附子湯不可妄用如背為陽陽部惡寒陽虛明矣然人參白虎亦有背惡寒證惟口中燥渴為異耳故必口中和者乃可用附子湯</p>
<p>少陰病得之二三日口燥咽乾者急下之宜大承氣湯此非真少陰也以其證</p>
<p>見但欲寐故不得不稱少陰亦不得不合辨言但欲寐證有極寒極熱之邪在裡為患倘未形諸外者當於口中和與燥辨之尤為易見此條熱邪內熾津液有立竭之勢下之宜急與上節針鋒相對</p>
<p>少陰病二三日咽痛者可與甘草湯不差者與桔硬湯</p>
<p>少陰病咽痛七夏散及湯主之</p>
<p>少陰病咽中傷生瘡不能語言聲不出者苦酒湯主之誤汗條云亡陽屬少陰法當咽痛而復吐利可知咽痛不獨陰虛證方有而陽虛證更多蓋陽氣既虛則津液凝聚不化隨經壅塞於上故咽為之痛也</p>
<p>少陰湧下利咽痛胸滿心煩者豬膚湯主之</p>
<p>胸在膈上乃清陽地面此處滿悶皆屬痰飲閉塞清道亦瓜蒂證之類清道一閉必有咽痛心煩等病其不用瓜蒂吐法而用豬膚滑潤法者以下焦更有病故耳膚註疏作革外薄皮但此非滑潤之物細察膚宇形象在皮里肉外用者審之</p>
<p>少陰病飲食入口則吐心中溫溫欲吐復不能吐始得之手足寒脈弦遲者此胸中實不可下也當吐之若膈上有寒飲乾嘔者不可吐也急溫之宜四逆湯論乾嘔所因不同有津液凝聚而成痰者所謂胸中實此可吐不可下也有陽虛不能蒸化水飲聚於膈上所謂膈上寒飲者此可溫不可吐也然胸實之脈弦遲而寒飲之脈非眩渥也然則脈象何如可用急溫耶</p>
<p>少陰病脈沉者急溫之宜四逆湯</p>
<p>此補上寒飲之脈也兩節若分置兩處則上節有缺文而本條不承乾嘔來則脈沉亦未必即是急溫證</p>
<p>病人手足厥冷脈乍緊者邪結在胸中心中滿而煩飢不能食者病在胸中當須吐之宜瓜蒂散</p>
<p>詳言胸實脈證出方主治</p>
<p>少陰病二三日至四五日腹滿小便不利下利不止便膿血者桃花湯主之數條相似認證處在便膿血</p>
<p>少陰病二三日不已至四五日腹痛小便不利四肢沉重疼痛自下利者此為有水氣其人或咳或小便利或下利或嘔者真武湯主之</p>
<p>數條相似異處在四肢沉重疼痛</p>
<p>少陰病四逆其人或咳或悸或小便不利或腹中痛或泄利下重者四逆散主之</p>
<p>數條相似異處在四逆泄利下重</p>
<p>少陰病咳而下利譫語者被火氣劫故也小便必難以強責少陰汗也</p>
<p>數條相似此惟膽語為異然厥陰中亦有下利膽語須認定但欲寐三字方是此證</p>
<p>少陰病下利六七日咳而嘔渴心煩不得眼者豬苓湯主之</p>
<p>數條相似此惟口渴為異是先傷暑熱後傷水飲故較黃連阿膠湯證多一下利</p>
<p>少陰病欲吐不吐心煩但欲寐五六日自利而渴者屬少陰也虛故引水自救若小便色白者少陰病形悉具小便白者以下焦虛有寒不能制水故令色白也</p>
<p>此與上豬苓證極相似一熱一寒反掌生殺當於小便之白不白上辨</p>
<p>少陰病下利白遍湯主之</p>
<p>此即上條之方也</p>
<p>少陰病下利脈微者與白通湯利不止厥逆無脈乾嘔煩者白通加豬膽汁湯主之服湯脈暴出者死微續者生</p>
<p>讀此方知飲水自救是死生參半之證</p>
<p>少陰病六七日息高者死</p>
<p>少陰病下利止而頭眩時時自冒者死</p>
<p>藏府不運故利止微陽上脫故頭眩</p>
<p>少陰病下利若利自止惡寒而踡臥手足溫者可治</p>
<p>脾主四肢手足溫者中州之陽有來復之機所以利自止然真陽未能遽復必藉溫藥以復之故曰可治治之之法不外四逆輩</p>
<p>少陰病惡寒身踡而利手足逆冷者不治</p>
<p>少陰病四逆惡寒而身踡脈不至不煩而燥者死</p>
<p>煩乃心煩躁是身躁煩者陰邪內盛孤陽有不得自安之意不煩而躁者孤陽巳拒於外在內絕無陽氣也即不下利亦死</p>
<p>少陰病惡寒而踡時自煩欲去衣被者可治</p>
<p>微陽尚有故可治</p>
<p>少陰病下利清穀裡寒外熱手足厥逆脈微欲絕身反不惡寒其人面赤色或腹痛或乾嘔或咽痛或利止脈不出者通脈四逆湯主之其脈即出者愈</p>
<p>下利完穀不化則裡寒明矣而外反發熱謂之裡寒外熱手足雖冷身反不惡寒是陰盛格陽於外也然陽氣雖格於外尚在軀殼之間未曾散失逐退陰邪陽氣立返脈亦當即出故曰其脈即出者愈至若白通證身不發熟則陽氣內外俱微服藥後令陰漸退陽漸復則脈亦當漸出若暴出則微陽外散矣故曰暴出者死微續者生兩論不同各有意義</p>
<p>下利清穀裡寒外熱汗出而厥者通脈四逆湯主之</p>
<p>上條不言汗出此多一汗出證大抵見少陰病下利清穀裡寒外熱手足厥逆者無論有汗無汗均宜通脈四逆主治外有甘草瀉心一證亦完穀不化與此相似然有心下痞鞭乾嘔心煩可據</p>
<p>少陰病自利清水色純青心下必痛口乾燥急下之宜大承氣湯</p>
<p>火性急速迫水下行利中之獨異者</p>
<p>少陰病六七日腹脹不大便者急下之宜大承氣湯</p>
<p>論急下證類敘及之</p>
<p>少陰病下利脈微澀嘔而汗出必數更衣反少者當溫其上灸之</p>
<p>此陽氣下陷證也溫上灸百會也扁鵲灸虢太子之五會穴即此在頭頂陷中取內經下者舉之之義</p>
<p>少陰病脈微細沉但欲臥汗出不煩自欲吐至五六日自利復煩燥不得臥寐者死</p>
<p>少陰病脈緊至七八日自下利脈暴微手足反溫脈系反去者為欲解也雖煩下利必自愈</p>
<p>其自愈處未下利時全在脈緊上看出既下利後全在手足反溫上看出其下利之故與脾家實腐穢當去條同</p>
<p>少陰病吐利躁煩四逆者死</p>
<p>少陰病吐利手足厥冷煩躁欲死者吳茱萸湯主之</p>
<p>兩條證同而一死一可治者全在四逆與手足冷上分出蓋手指至肩足指至髀樞名四肢四逆者皿肢盡冷也手指至腕足至踝名手足手足冷者冷止在手足也輕重固自有分然何至死生各異不敢強解</p>
<p>少陰病吐利手足不逆冷反發熱者不死脈不知者灸少陰七壯</p>
<p>手足不逆冷較手足逆冷尤輕即吐利脈不至者亦不須通脈湯但灸少陰可愈</p>
<p>少陰病八九日一身手足盡熱者以熱在膀胱必便血也</p>
<p>上言手足不逆冷者可治因論及一身手足盡熱者少陰論中無便血方非缺文也其曰熱在膀胱已指出病根不必另議方治不見太陽論中雲熱結膀胱血自下下者愈早有桃核承氣湯主治不必再說論中僅有此遙遞法</p>
<p>少陰病下利便膿血者桃花湯主之</p>
<p>桃花湯凡兩見前條有腹滿小便不利證故與腹痛小便不利並錄此不言腹滿止言下利便膿血故次於便血後</p>
<p>少陰病下利便膿血者可刺</p>

<h1>辨厥陰病脈證</h1>
<p>厥陰之為病消渴氣上撞心心中疼熱飢而不欲食食則吐蛔下之利不止此厥陰病之提綱也然消渴氣上撞心心中疼熱飢不欲食食則吐蛔之外更有厥熱往來或嘔或利等證猶之陽明病胃家實之外更有身熱汗出不惡寒反惡熱等證故陽明病必須內外證合見乃是真陽明厥陰病亦必內外證合見乃是真厥陰其餘或厥或利或嘔而內無氣上撞心心中疼熱等證皆似厥陰而實非厥陰也</p>
<p>傷寒一二日至四五日而厥者必發熱前熱者後必厥厥深者熱亦深厥微者熱亦微厥應下之而反發汗者必口傷爛赤</p>
<p>此正邪分爭一大往來寒熱病也厥深熱亦深厥微熱亦微猶言寒重則發熱亦重寒輕則發熱亦輕論其常理也其有不然者可以決病之進退矣故下文即論厥少熱多厥多熱少不知注傷寒者皆以熱字作伏熱解遂令厥陰病有熱無寒矣不思烏梅丸是厥陰主方如果有熱無寒何以方中任用姜附桂辛椒大辛熱耶蓋厥陰為三陰之盡病及此者必陰陽錯雜況厥陰肝木於卦為震一陽居二陰之下是其本象病則陽泛於上陰伏於下而下寒上熱之證作矣其病藏寒蛔上入膈是下寒之證據也消渴心中疼熱是上熱之證據也況厥者逆也下氣逆上即是孤陽上泛其病多升少降凡吐蛔氣上撞心皆是過升之病治宜下降其逆上之陽取內經高者抑之之義其下之之法非必硝黃攻克實熱方為下劑即烏梅丸一方下法已具方中毋黃連烏梅黃檗苦酸鹹純陰為下降即附子直達命門亦莫非下降藥也下之而陽伏於下則陰陽之氣順而厥可愈矣倘誤認厥為外寒所束而反發其汗則心中疼熱之陽盡升於上而口傷爛赤矣以表藥多升而厥陰之脈環唇內也</p>
<p>傷寒病厥五日熱亦五日設六日當復厥不厥者自愈厥終不過五日以熱五日故知自愈</p>
<p>傷寒發熱四日厥反三日復熱四日厥少熱多其病當愈四日至七日熱不際者其後必便膿血</p>
<p>傷寒厥四日熱反三日復厥五日其病為進寒多熱少陽氣退故為進也傷寒始發熱六日厥反九日而利凡厥利者當不能食今反能食者恐為除中食已索餅不發熱者知胃氣尚在必愈恐暴熱來出而復去也後三日脈之其熱績在者期之旦日夜半愈所以然者本發熱六日厥反九日復發熱三日並前六日亦為九日與厥相應故期之旦日夜半愈後三日脈之而脈數其熱不罷者此為熱氣有餘必發癰膿也</p>
<p>除中者中氣除也喻嘉言謂之胃陽發露凡厥利當不能食忽然能食暴熱一來其陽即散立斃之候也</p>
<p>傷寒脈遲至六七日而反與黃芩湯徹其熱脈遲為寒今與黃芩湯復除其熱腹中應冷當不能食今反能食此名除中必死</p>
<p>此原除中病因</p>
<p>傷寒先厥後發熱而利者必自止見厥複利</p>
<p>此論其常理</p>
<p>傷寒先厥後發熱下利必自止而反汗出咽中痛者其喉為痹發熱無汗而利必自止若不止必便膿血便膿血者其喉不痹</p>
<p>此論其變態陽氣過亢上升下降之證</p>
<p>傷寒脈微而厥主七八日膚冷其人躁無暫安時者此為藏厥非蛔厥也蛔厥者其人當吐蛔命病者靜而復時煩此為藏寒蛔上入膈故煩須臾復止得食而嘔又煩者蛔聞食臭出其人當自吐蛔蛔厥者烏梅丸主之又主久利</p>
<p>蛔厥證中下二焦俱寒膈上獨熱治當下其逆上之陽此厥陰之正病也節首脈微藏厥與少陰有陰無陽之死證同</p>
<p>厥陰中風脈微浮為欲愈不浮為未愈</p>
<p>提綱中不言脈讀此可知厥陰脈本沉也又讀上條脈微為藏厥可知厥陰不甚微也</p>
<p>厥陰病欲解時從醜至卯上</p>
<p>厥陰病渴欲飲水者少少與之愈</p>
<p>凡厥者陰陽氣不相順接便為厥厥者手足逆冷是也</p>
<p>此推開說凡陰陽氣不相順接便為手足逆冷故不足冷他證尚未必即是厥陰病以起下諸條</p>
<p>傷寒脈促手足厥逆者可灸之</p>
<p>傷寒六七日脈微手足厥冷煩躁灸厥陰不還者死</p>
<p>灸厥陰脈起處足大指叢毛之際</p>
<p>傷寒脈滑而厥者里有熟也白虎湯主之</p>
<p>白虎證兼有消渴卻與厥陰病相似惟脈滑並無氣上撞心心中疼為異耳此巳下數條俱非厥陰正病因論手足厥冷故類敘及之以便同中審異耳後嘔論與下利仿此陽明論中非陽明而仍稱陽明者以皆有胃實證也使人就胃實中分別厥陰論中非厥陰即不稱厥陰而止稱傷寒者以無氣上撞心心中疼熱等證故也</p>
<p>傷寒厥而心下悸者宜先治水當且茯苓甘草湯卻治其厥不爾水漬入胃必作利也</p>
<p>諸四逆厥者不可下之虛家亦然</p>
<p>下攻下也虛家亦然者言虛家亦令四逆厥也起下三節</p>
<p>傷寒五六日不結胸腹濡脈虛復厥者不可下此為亡血下之死</p>
<p>病者手足厥冷言我不結胸小腹滿按之痛者此冷結在膀胱關元也論厥而兩言為結胸者以少陰論中有病人手足厥冷脈乍緊者邪結在胸中一條少陰論中手足冷者頗多皆不論獨取未經論者論之其白虎證雖經論過但前止去背惡寒而未及手足冷故復論人</p>
<p>手足厥寒脈細欲絕者當歸四逆湯主之若其人內有久寒者當歸四逆加吳茱萸生薑湯主之</p>
<p>上方治腹濡脈虛證下方治冷結在膀胱關元證叔和釋脈云細極謂之微叨此之脈細欲絕即與微脈混矣不知微者薄也屬陽氣虛細者小也屬陰血虛簿者未必小小者未必薄也蓋營行脈中陰血虛則實其中者少脈故小衛行脈外陽氣虛則約乎外者怯脈故薄況前人用微字多取薄字意試問微云淡河漢薄乎細乎故少陰論中脈微欲絕用通脈四逆主治回陽之劑也兩脈陰陽各異豈堪混釋</p>
<p>傷寒熱少厥微指頤寒默默不欲食煩躁數日小便利色白者此熱除也欲得食其病為愈若厥而便嘔胸脅煩滿者其後必便血</p>
<p>嘔而發熱者小柴胡湯主之</p>
<p>此即治上熱未除之證</p>
<p>嘔而脈弱小便複利身有微熱見厥者難治四逆湯主之</p>
<p>緩弱之脈多屬太陰非濕即寒今小便利非濕也嘔而厥寒也故用四逆乾嘔吐涎沫頭痛者吳茱萸湯主之</p>
<p>陽明論二三日嘔而咳手足厥者必苦頭痛若求咳不嘔手足不厥者頭不痛亦用吳茱萸湯今雲頭痛則嘔與咳在所必有</p>
<p>嘔家有癰膿者不可治嘔膿儘自愈</p>
<p>傷寒發熱下利厥逆躁不得臥者死</p>
<p>傷寒發熱下利至甚咳不止者死</p>
<p>二厥論下利發熱之死證</p>
<p>下利脈沉弦者下重也脈大者為未止脈微弱數者為欲自止雖發熱不死</p>
<p>此總論下利之脈喻嘉言執此發熱不死句以為與內經下利身熱則死相反因謂此之下利非內經之下利創制逆流挽舟偽法夭枉後人不思仲景何嘗不言下利發熱者死上文已兩言之矣獨是見此微弱數之脈雖發熱不死耳跟定上文發熱者死來雖字故有著落若照喻嘉言講雖字全無著落</p>
<p>下利有微熱而渴脈弱者令自愈</p>
<p>下利脈數有微熱汗出令自愈設復緊為未解</p>
<p>下利脈數而渴者令自愈設不差必清膿血以有熱故也</p>
<p>指出便膿血之病根以便施治其治熱利之方即白頭翁湯也便膿血不同少陰病便膿血桃花湯主治此之便膿血白頭翁湯主治認證處全在欲寐不欲寐上辨</p>
<p>下利寸脈反浮數尺中自澀者必清膿血</p>
<p>下利慾飲水者以有熱故也白頭翁湯主之</p>
<p>水冷水也欲飲水較渴更甚</p>
<p>熱利下重者白頭翁湯主之</p>
<p>熱利者或便膿血或未便膿血而已見脈數渴欲飲水等證也下重少陰四逆散證亦泄利下重然既稱陰必有但欲寐可認</p>
<p>下利譫語者有燥屎也宜小承氣湯</p>
<p>下利脈沉而遲其人面少赤身有微熱下利清穀者必鬱冒汗出而解病人必微厥所以然者其面戴陽下虛故他</p>
<p>下利後脈絕手足厥冷睟時脈還手足溫者生脈不還者死</p>
<p>下利手足厥冷無脈者灸之不過若脈不還反微喘者死</p>
<p>傷寒下利日十餘行脈反實者死</p>

<h1>平脈法</h1>
<p>脈法一篇方喻二家以為非仲景舊制而程郊倩獨尊信不疑抑何識見之迥異耶良以是篇原非出自一手故也嘗讀仲景原敘知是論引用有平脈辨證一書想撰論時所引用者採布六經其所不引用者不忍棄置附於論末仍名平脈法後被俗醫附會所以間雜鄙俚而叔和較訂時又將太陽中無六經字面及無方治數條併入所以愈增錯亂今將太陽中所不可缺者補入太陽其二脈法扔全錄不遣以備查考至若併入處附會處非敢臆斷謹於各條下注明證據與同志商之</p>
<p>問曰脈有三部陰陽相乘營衛血氣在人體躬呼吸出入上下於中因息遊布津液流通隨時動作效象形容春弦秋浮冬沉夏洪察色觀脈大小不同一時之間變無經常尺寸參差或短或長上下乖錯或存或亡病輒改易進退低昂心迷意惑動失紀綱願為具陳令得分明師曰子之所問道之根源脈有三部尺寸及關營衛流行不失衡銓腎沉心洪肺浮肝弦此是經常不失銖分出入升降漏刻周旋水下二刻一周循環當復寸口虛實見焉變化相乘陰陽相干風則浮虛寒則牢堅沉潛水畜支飲急弦詆則為痛數則熱煩設有不應知變所綠三部不同病各異端太過可怪不及亦然邪不空見中必有奸審察表裡三焦別焉知其所含消息診看料度府藏獨見若神為子條記傳與後人</p>
<p>師曰呼吸者脈之頭也</p>
<p>初持脈來疾去遲此出疾入遲名曰內虛外實也初持脈來遲去疾此出遲入疾名曰內實外虛也</p>
<p>問曰上工望而知之中工問而知之下工脈而知之願聞其說師曰病家人請云病人苦發熱身體疼病人自臥師到談及脈沉而遲者知其差也何以知之表有病者脈當浮大今脈反沉遲故知其愈也假令病人云腹內卒痛病人自坐師到脈之浮而大者知其差也何以知之東有病者脈當沉而細今脈浮大故知愈也</p>
<p>按太陽病發熱頭痛脈反沉此用四逆湯之重證豈可妄言愈乎此以下陽節定屬醜工附會</p>
<p>師曰病家人來請云病人發熱煩極明日師到病人向壁臥此熱已去也設令脈不和處言已愈</p>
<p>設令向壁臥聞師到不驚起而盼視若三言三止脈之嚥唾者此詐病也設令脈自和處言汝病太重當須服吐下藥針灸數百處</p>
<p>師持脈病人欠者無病也脈之呻者病也三言遲者風也搖頭言者里痛也行遲者表強也坐而伏者短氣也坐而下一腳者腰痛也裡實護腹如懷卵物者心痛也</p>
<p>上工望而知之者望其明堂闕庭蕃蔽等部位現何色則知何邪何藏之病以便施治如本論之臉內際黃者知為欲解是也若第云知病而究不知所以病將何以施治豈得謂之上工也哉</p>
<p>師曰伏氣之病以意候之今月之內欲有伏氣假令舊有伏氣當須脈之若脈微弱者當喉中痛似傷非喉痹也病人云實喉中痛雖爾今復欲下利</p>
<p>問曰人病恐怖者其脈何狀師曰脈行如循絲累累然其面白脫色也</p>
<p>人不飲其脈何狀師曰脈自澀唇乾燥也</p>
<p>人愧者其脈何類脈浮而面色乍白乍赤</p>
<p>問曰病有災怪何謂也師曰假令人病脈得太陽與形證相應因為作湯比還送湯如食頃病人乃大吐下利腹中痛師曰我前來不見此證今乃變異是名災怪問曰何緣作此吐利答曰或有舊時服藥今乃發作故為災怪耳</p>
<p>已上九節俱是江河訣斷非仲景語</p>
<p>問曰經說脈有三菽六菽重者何謂也師曰脈人以指按之如以三菽之重者肺氣也如六菽之重者心氣也如九菽之重者脾氣也如十二菽之重者肝氣也按之至骨者腎氣也假令下利寸口關上尺中悉不見脈然尺中時一小見脈苒舉頭者腎氣也若見損脈來至為難治</p>
<p>問曰東方肝脈其形河似師曰肝者本也名厥陰其脈微弦濡弱而長是肝脈也肝病自得濡弱者愈也假令得純弦脈者死何以知之以其脈加弦直此是肝藏傷故知死也</p>
<p>南方心脈其形何似師曰心者火也名少陰其脈洪大而長是心脈也心病自得洪大者愈也假令脈來微去大故名反病在裡也脈來頭小木大故名覆病在表也上微頭小者則汗出下微本大者則為關格不通不得尿頭無汗者可治有汗者死</p>
<p>西方肺脈其形何似師曰肺者金也名太陰其脈毛浮也肺病自得此脈若得緩遲者皆愈若得數者則劇何以知之數者南方火火克西方金法當壅腫為難治也問曰二月得毛浮脈何以處言至秋當死師曰二月之時脈當濡弱反得毛浮者故知至秋死二月肝用事肝屬木脈應濡弱反得毛浮者是肺脈也肺屬金金來剋木故知至秋死他皆仿此</p>
<p>師曰脈肥人責瘦痠人責浮肥人當沉今反浮瘦人當浮今反沉故青之</p>
<p>師曰寸脈下不至關為陽絕尺脈上不至關為陰絕此皆不治決死也若計其餘命生死之期期以月節克之也</p>
<p>師曰脈病人不病名曰行屍以無王氣卒眩僕不識人者短命則死入病脈不病名曰內虛以無穀神雖困無苦</p>
<p>已上七節議論雖不出素難但筆氣與仲景迥異</p>
<p>問曰脈有相乘有縱有橫有逆有順何謂也師曰木行乘火金行乘木名曰縱火行乘水木行乘金名曰橫水行乘金火行乘本名曰逆金行乘水木行乘火名曰順也</p>
<p>肝乘脾名曰縱肝乘肺名曰橫論中所引用</p>
<p>寸口脈諸微亡陽諸濡亡血諸弱發熱諸緊為寒諸乘寒者則為厥鬱冒不仁以胃無穀氣腳塞不通口急不能言戰而慄也</p>
<p>首四句是要言</p>
<p>問曰濡弱河以反適十一頭師曰五藏六府相乘故令十一</p>
<p>問曰何以知乘府何以知乘藏師曰諸陽浮數為乘府諸陰沉澀為乘藏也</p>
<p>問曰脈有殘賊何謂也師曰脈有強緊浮滑沉澀此六脈名曰殘賊能為諸脈作病也</p>
<p>兩節亦是緊要語</p>
<p>問曰翕奄沉名曰滑何謂也師曰沉為純陰翕為正陽陰陽和合故令脈滑關尺自平陽明脈微沉食飲自可少陰脈微滑滑者緊之浮名也此為陰實其人必股內汗出陰下濕也</p>
<p>論中脈浮滑用白虎湯主治是滑為熱也此云滑者緊之浮名且云陰實又以滑為寒也殊不可解</p>
<p>問曰會為人所難緊脈何從而來師曰假令亡汗若吐以肺裡寒故令脈緊也假令咳者坐飲冷水故令脈緊也假令下利以胃中虛冷故令脈緊也</p>
<p>偏失郤脈陰陽俱緊者名曰傷寒</p>
<p>寸口衛氣盛名曰高營氣盛名曰章高章相搏名曰綱衛氣弱名曰惵營氣弱名曰卑惵卑相搏名曰損衛氣和名曰緩營氣和名曰遲遲緩相搏名曰沉</p>
<p>論中論遲脈不一遲為無陽不能作汗尺中遲者不可發汗以營氣不足血少故也脈浮而遲表熱裡寒四逆湯主治脈遲為寒反與黃芩湯徹其熱則為除中厯觀數條止主虛寒從未有主營氣和者此條脈名俱已換過今即其不換過之脈辨之已如此謬解則換過名式之脈不必講矣</p>
<p>寸口脈緩而遲緩則陽氣長其色鮮其顏光其聲商毛髮長遲則陰氣盛骨髓生血充滿肌肉緊薄鮮鞭陰陽相抱營衛俱行剛柔相搏名曰強也</p>
<p>趺陽脈滑而緊滑者胃氣實緊者脾氣強持實擊強痛還自傷以手把刃坐作瘡也</p>
<p>以上三節出自一手無容再辨</p>
<p>寸口脈浮而大洋為虛大為實在尺為關在寸為格關則不得小便格則吐逆跌陽脈伏而澀伏則吐逆水穀不化澀則食不得入名曰關格</p>
<p>脈浮而大浮為風虛人為氣強風氣相搏必成癮疹身體為癢癢者名泄風久久為疥癩</p>
<p>此節議論醇正的是平脈之舊</p>
<p>寸口脈羽而遲弱者衛氣微遲者營中寒營為血血寒則發熱衛為氣氣微者心內肌肌而虛滿不能食也</p>
<p>跌陽脈大而緊者當即下利為難治</p>
<p>寸口脈弱而緩弱者陽氣不足緩者胃氣有餘噫而吞酸食卒不下氣填於膈上也</p>
<p>跌陽脈緊而浮浮為氣緊為寒浮為腹滿緊為絞痛浮緊相搏腸鳴而轉轉即氣動膈氣乃下少陰脈不出其陰腫大而虛也</p>
<p>寸口脈微而澀微者衛氣不行澀者營氣不足營衛不能相將三焦無所仰身體痹不仁營氣不足則煩疼口難言衛氣虛者則惡寒數欠三焦不歸其部上焦不歸者噫而吞酸中焦不歸者不能消穀引食下焦不歸者叫遺溲</p>
<p>跌陽脈沉而數沉為實數消穀緊者病難治</p>
<p>寸口脈微而澀微者衛氣衰澀者營氣不足衛氣衰面色黃營氣不足面色青營為根衛為葉營衛俱微則根葉枯稿而寒慄咳逆唾腥吐涎沫也</p>
<p>跌陽脈浮而芤浮者衛氣虛芤者營氣傷其身體□肌肉甲鉻浮芤相搏宗氣衰微四屬斷絕</p>
<p>寸口脈微而緩微者衛氣疏疏則其膚空緩則胃氣實實則谷消而水化也谷入於胃脈道乃行水入於經其血乃成營盛則其膚必疏三焦絕經名曰血崩跌陽脈微而緊緊則為寒微則為虛微緊相搏則為短氣少陰脈弱而澀弱者微煩澀者厥逆</p>
<p>跌陽脈不出脾不上下身冷腠鞭</p>
<p>少陰脈不至腎氣微少精血奔氣促迫上入胸膈宗氣反聚血結心下陽氣退下熱歸陰股與陰相動令身不仁此為屍厥當刺期門巨闕</p>
<p>寸口脈微尺脈緊其人虛損多汗知陰常在絕不見陽也</p>
<p>辨脈法</p>
<p>問曰脈有陰陽何論也答曰凡脈大浮數動滑此名陽也沉澀弱眩微此名陰也凡陰病見陽脈者生陽病見陰脈者死（編入太陽）</p>
<p>問曰脈有陽結陰結者何以別之答日其脈浮而數能食不大便者此為實名曰陽結也期十七日當劇其脈沉而遲不能食身體重大便反鞭名曰陰結也期十四日當劇</p>
<p>此論不大便也陽結即風熱入陽明之證陰結即寒濕假陽明之證想是平脈辨證中語仲景以其語焉不詳故不採入陽明論</p>
<p>問曰病有灑淅惡寒而復發熱者何答日陰脈不足陽往從之陽脈不足陰往乘之曰何謂陽不足答日假令寸口脈微名曰陽不足陰氣上入陽中則灑淅惡寒也曰何謂陰不足答日假令尺脈弱名曰陰不足陽氣下陷入陰中則發熱也（入太陽）陽脈浮陰脈弱者則血虛血虛則筋急也其脈沉者營氣微也其脈浮而汗出如流珠者衛氣衰也營氣微者加燒針則血流不行更發熱而煩躁也　脈藹藹如車蓋者名曰陽結也脈累累加循長竿者名曰陰結也脈</p>
<p>瞥瞥如羹上肥者陽氣微也脈縈縈如蜘蛛絲者陰氣衰也脈綿綿如瀉漆之絕者亡其血也脈來緩時一止復來者名曰結脈來數時一止復來者名曰促脈陽盛則促陰盔則結此皆病脈　陰陽相搏名曰動陽動則汗出陰動則發熱形冷惡寒此三焦傷也若數脈見於關上上下無頭尾如豆大厥厥動搖者名曰動也</p>
<p>陽脈浮大而濡陰脈浮大而濡陰脈與陽脈同等者名曰緩也（編入傳解）</p>
<p>脈浮而緊者名曰弦也弦者狀如弓弦按之不移也脈緊者如轉索無常也（編入太陽）</p>
<p>脈弦而大弦則為減大則為芤減則為寒芤則為虛寒虛相搏此名為革婦人則半產漏下男子則亡血失精</p>
<p>此是病脈辨證要語即下文浮而緊按之反芤之脈也大抵戰汗之裡虛未必不從此數證得來</p>
<p>問曰病有戰而汗出因得解者何也答日脈浮而緊拔之反芤此為本虛故當戰而汗出也其人本虛是以發戰以脈浮故當汗出而解也若脈浮而數按之不芤此人本不虛若欲自解但汗出耳不發戰也（編入傳解）</p>
<p>問曰病有不戢而汗出解者何也答曰脈大而浮數故知不戰汗比而解也（入傳解）</p>
<p>問曰病有不戰不汗出而解者何也答曰其脈自微此以曾經發汗若吐若下若亡血以內無津液此陰陽自和必自愈故不戰不汗出而解也（入傳解）</p>
<p>問曰傷寒三日脈浮數而微病人身涼和者何也答曰此為欲解也解以夜半脈浮而解者濈然汗出也脈數而解者必能食也脈微而解者必大汗出也（入傳解）</p>
<p>問曰脈病欲知愈未愈者何以別之答日寸口關上尺中三處大小浮沉遲數同等雖有寒熱不解者此脈陰陽為和平雖劇當愈（入傳解）</p>
<p>師曰立夏得洪大脈是其本位其人病身體苦疼重者鬚髮其汗若明日身不疼不重者不須發汗若汗濈濈自出者明日便解矣何以言之立夏得洪大脈是其時脈故使然也四時仿此（入傳解）</p>
<p>問曰凡病欲知何時得何時愈答日假令夜半得病者明日日中愈日中得病者夜半愈何以言之日中得病夜半愈者以陽得陰則解也夜牛得病明日日中愈者以陰得陽則解也（入傳解）</p>
<p>以上七條論欲解之候應在太陽論中想叔利較訂時見此數條既無六經字面又無方治所以摘置此處但摘還未盡與此相類者尚存數條在太陽中可據</p>
<p>寸口脈浮為在表沉為在裡數為在府遲為在藏假令脈遲此為在藏也（入太陽）</p>
<p>趺陽脈浮而滴少陰脈如經也其病在脾法當下利何以言之若脈浮大者氣實血虛也今跌陽脈浮而滴故知脾氣不足胃氣虛也以少陰脈弦而浮才見此為調脈故稱如經也若反滑而數者故知當屎膿也</p>
<p>寸口脈浮而緊浮則為風緊則為寒風則傷衛寒則傷營營衛但病骨節煩疼當發其汗也（編入太陽）</p>
<p>趺陽脈遲而緩胃氣如經也趺陽脈浮而數浮則傷胃數則動脾此非本病醫特下之所為也營衛內陷其數先微脈反但浮其人必大便鞭氣噫而除何以言之本以仿脈動脾其數先微故知脾氣不治大便鞭氣噫而除今脈反浮其數改微邪氣獨留心中則肌邪熱不殺穀潮熱發渴數脈當遲緩脈因前後度數如法病者則肌數脈不時則生惡瘡也</p>
<p>師曰病人脈微而澀者此為醫所病也大發其汗又數大下之其人亡血病當惡寒後乃發熱無休止時夏月盛熱欲著復衣冬月盛寒欲裸其身所以然者陽微則惡寒陰弱則發熱此醫發其汗使陽氣微又大下之令陰氣弱五月之時陽氣在表胃中虛冷以陽氣內微不能勝冷故欲著復衣十一月之時陽氣在裡胃中煩熱以陰氣內弱不能勝熱故欲裸其身又陰脈遲澀故知亡血也脈浮而大心下反鞭有熱屬藏者攻之不令發汗屬府者不令溲數數溲則大便鞭汗多則熱愈汗少則便雞脈遲尚未可攻</p>
<p>脈浮而洪身汗如油喘而不休水漿不下形體不仁乍靜乍亂此為命絕也又未知何藏先受其災若汗出發潤喘而不休者此為肺先絕也陽反獨留形體如又煙燻直視搖頭者此為心先絕也唇口反青四肢漐習者此為肝絕也環口黧黑柔汗發黃者此為睥絕也泄便遺失狂言目反直視者為此腎絕也又未知何藏陰陽先絕若陽氣前絕陰氣後竭者其人死身色必青陰氣前絕陽氣後竭者其人死身色必赤腋溫心下熱也</p>
<p>身色或青或赤禾死之前必以漸而來非死後突見也醫有望色一法真防微杜漸之意不可廢也因思藍斑一證即色青之漸實為陽絕之徵世反謂熱極胃爛重投寒藥是乃速絕其陽宜乎旦發夕死百無一生矣曾見一老醫大用參附奏效讀此始悟治法之有本益深欽服</p>
<p>寸口脈浮大而醫反下之此為大逆浮則無血大則為寒寒氣相搏則為腸鳴醫乃不知而反飲冷水令汗大出水得寒氣冷必相搏其人即䭇（入誤下）</p>
<p>趺陽脈浮浮則為虛虛浮相搏故令氣䭇言胃氣虛竭也脈滑則為噦此為醫咎責虛取實守空逼血脈浮鼻中燥者必衄也</p>
<p>諸脈浮數當發熱而灑淅惡寒若有痛處飲食如常者畜積有膿也（入太陽）脈浮而遲而熱赤而戰惕者六七日當汗出而解反發熱者差遲遲為無陽不能作汗其身必癢也（入傳解）</p>
<p>寸口脈陰陽俱緊者法當清邪中於上焦濁邪中於下焦清邪中上名曰潔也濁邪中下名曰渾也陰中於邪必內慄也表氣微虛里氣不守故使邪中於陰也陽中於邪必發熱頭痛項強頸攣腰痛脛痠所謂陽中霧露之氣故曰清邪中上濁邪中下陰氣為痠足膝逆冷便溺妄出表氣微虛里氣微急三焦相溷內外不通上焦怫鬱藏氣相熏口爛蝕斷也中焦不洽胃氣上衝脾氣不轉胃中為濁螢衛不通血凝不流若衛氣前通者小便赤黃與熱相搏因熱作使遊於經絡出入藏府熱氣所過則為癰膿若陰氣前遍者陽氣厥微陰無所使客氣內入嚏而出之聲溫咽塞寒厥相逐為熱所壅血凝自下狀如豚肝陰陽俱厥脾氣孤弱五液注下下焦不合清便下重令便數難臍築湫痛命將難全脈陰陽俱腎者口中氣出唇口乾燥踡臥足冷鼻中涕出舌上胎滑勿妄治也到七日以來其人微發熱手足溫者此為欲解或到八日以上反大發熱者此為難治設使惡寒者必欲嘔也腹內痛者必欲利也</p>
<p>脈陰陽俱緊至於吐利其脈獨不解緊夫人安此為欲解若脈遲至六七日不欲食此為晚發水停故也為未解食自可者為欲解（入傳解）</p>
<p>病六七日手足三部脈皆至大煩而口噤不能言其人躁擾者必欲解也若脈和其人大煩目重臉內際黃者此為欲解也（入傳解）</p>
<p>脈浮而數浮為風數為虛風為熱虛為寒風虛相搏則灑淅惡寒也（入太陽）</p>
<p>脈浮而滑浮為陽滑為實陽實相搏其脈數疾衛氣失度浮滑之脈數疾發熱汗出者不治（入陽明）</p>
<p>傷寒咳逆上氣其脈散者死謂貫形損故也</p>
<p>程郊倩稱二脈法為法祖百千法皆從此辨定余獨以為不盡然是論六經篇首必題辨某經病脈證是教人病脈參看方得真據不然則一面之詞矣況論中脈同而病異者不一而足即如同一陰陽俱緊無汗者當發汗汗出者為亡陽同一脈數能食者實熱吐食者胃冷夫當汗與亡陽實熱與胃冷證如冰炭而脈則毫無異處是知辨脈而不合參病證貽害尚可問哉</p>

<h1>方</h1>
<p>桂枝湯　桂枝（三兩去皮）　芍藥（三兩）　甘草（二兩炙）　大棗（十二枚劈）　生薑（三兩切）</p>
<p>右五味㕮咀水七升微火煮取三升去滓溫服一升須臾歠稀粥一升助藥力溫覆一時許取微汗勿令如水流漓一服差停後服若不汗更服依前法又不汗後服小促其期半日許令三服盡若病重者一日一夜服未愈更作禁生冷黏滑肉面五辛酒酪臭惡等物</p>
<p>桂枝加桂湯　即於桂枝湯中加桂（二兩）　成（五兩）</p>
<p>桂枝加厚朴杏仁湯　桂枝湯加厚朴（二兩）　杏仁（五十個去皮尖）</p>
<p>桂枝加葛根湯　桂枝湯加葛根（三兩）</p>
<p>桂枝加苟藥湯　桂枝湯倍芍藥共（六兩）</p>
<p>桂枝加大黃湯　於加芍藥方中加大黃（一兩）</p>
<p>小建中湯　加芍藥方中加膠飴（一升）</p>
<p>桂枝新加湯　桂枝湯加芍藥（一兩）　人參（三兩）</p>
<p>桂枝加附子湯　桂枝湯加附子（三枚）</p>
<p>桂枝去芍藥湯　桂枝湯去芍藥（一味）</p>
<p>桂枝去芍藥加附子湯　去巧藥方中加附子（一枚炮）</p>
<p>桂子附子湯　去芍藥方增桂（一兩）　加附子（三枚炮）</p>
<p>桂枝附子去桂加朮湯　前方去桂加朮（三兩）</p>
<p>桂枝去桂加苓朮湯　桂枝湯去桂加苓朮（各三兩）</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯　桂枝湯去芍藥加牡蠣（五兩熬）　龍骨（四兩）　蜀漆（三兩洗）</p>
<p>桂枝甘草龍骨牡蠣湯　桂枝（一兩去皮）　甘草（二兩炙）　龍骨（二兩）　牡蠣（二兩）　熬水五升煮取二升半去滓分三服</p>
<p>桂枝加桂湯更加桂三兩方　加桂湯更加牡桂（三兩）</p>
<p>桂枝人參湯　桂枝（四兩去皮）　甘草（四兩炙）　術（三兩）　人參（三兩）　乾薑（三兩）　水九升先煮四味取五升內桂更煮取三升去滓分三服</p>
<p>桂枝甘草湯　桂枝（四兩去皮）　甘草（二兩炙）　水煮一升頓服</p>
<p>甘草附子湯　甘草（二兩炙）　附子（二枚炮去皮臍破）　白朮（二兩）　桂枝（四兩）　水六升煮取三升去滓分三服</p>
<p>麻黃湯　麻黃（三兩去節）　桂枝（二兩去皮）　甘草（一兩炙）　杏仁（七十個去皮尖）　水九升先煮麻黃減二升去上沫內諸藥煮取二升半去滓服八合覆取微汗不須啜粥余如桂枝法</p>
<p>葛根湯　葛根（四兩）　麻黃（三兩去節）　桂枝（二兩去皮）　芍藥（二兩）　甘草（二兩炙）　生薑（三兩切）　大棗（十二枚劈）　水一斗先煮麻黃葛根減二升去沫內諸藥煮取三升去滓溫服一升</p>
<p>葛根加半夏湯　葛根湯加半夏半升洗</p>
<p>大青龍湯　麻黃（六兩去節）　桂枝（二兩去皮）　甘草（二兩炙）　生薑（三兩切）　杏仁（四十枚去皮尖）　大棗（十二枚劈）　石膏（如雞子大碎綿里）　水九升先煮麻黃減二升去沫內諸藥煮取三升去滓溫服一升取微似汗汗多者濕粉樸之</p>
<p>桂枝麻黃各半湯　桂枝（一兩十六銖去皮）　芍藥（一兩）　生薑（一兩）　甘草（一兩炙（　麻黃（一兩去節）　杏仁（二十四個去皮尖）　大棗（四枚）　水五升先煮麻黃一二沸去沫內諸藥煮取一升八合分三服</p>
<p>桂枝二麻黃一湯　桂枝（一兩十七銖去皮）　白芍（一兩六銖）　生薑（一兩六銖）甘草（炙二兩二銖）　麻黃（十六銑去節）　杏仁（十六個去衣尖）　大棗（五個劈）　煎如前法分二服</p>
<p>桂枝二越婢一湯　桂枝（十八銖去皮）　芍藥（十八銖）　甘草（炙十八銖）　麻黃（十八銖去節）　石膏（二十四銖碎綿里）　生薑（一兩三錢）　大棗（四枚劈）煎如前法分二服</p>
<p>麻黃杏仁甘草石會湯　麻黃（四兩去節）　杏仁（五十個去皮尖）　甘草（炙二兩）　石膏（半斤碎綿里）煎如前法分二服</p>
<p>麻黃連軺亦小豆湯　麻黃（二兩去節）　連軺（二兩）　大棗（十二劈）　赤小豆（一升）　杏仁（四十個去皮尖）　甘草（炙一兩）　生梓　白皮（一升）　生薑（一兩切）　水一斗先煎麻黃再沸去沫內諸藥煮取三升分三服半日服盡</p>
<p>麻黃附子細辛湯　麻黃（二兩去節）　附子（一枚炮）　細辛（二兩）　水一斗先煎麻黃減二升去沫內諸藥煮取三升去滓溫服一升日三服</p>
<p>麻黃附子甘草湯　麻黃（二兩去節）　附子（一枚炮）　甘草（二兩炙）煎如前法分三服</p>
<p>麻黃升麻湯　麻黃（二兩半去節）　升麻（一兩一分）　當歸（一兩一分）　甘草（六銖炙）　知母（十八銖）　黃芩（十八銖）　萎蕤（十八銖）　石膏（六銖碎綿里）　白朮（六銖）　天門冬（六銖）　乾薑（六銖）　白芍（六銖）　桂枝（六銖）　茯苓（六銖）　右十四味水一斗先煮麻黃一兩沸去沫內諸藥煮取三升去滓分三服相去如炊三斗米頃令盡汗出愈</p>
<p>小青龍湯　麻黃（三兩去筋）　芍藥（三兩）　五味子（半升）　乾薑（二兩）　甘草（三兩炙）　桂枝（三兩去皮）　半夏（半升洗）　細辛（三兩）　右八味水一斗先煮麻黃減二升去沫內諸藥煮取三升去滓溫服一升　微利者去麻黃加蕘花如雞於大熬令赤色　渴者去半夏加枯蔞根三兩　噎者去麻黃加附子一枚炮　小便不利少腹滿去麻黃加茯苓四兩　喘者去麻黃加杏仁半升去皮尖</p>
<p>小柴胡湯　柴胡（半斤）　半夏（半升洗）　黃芩（三兩）　人參（三兩）　甘草（三兩炙）　生薑（二兩切）　大棗（十二枚劈）　右七味水一斗二升煎取六升去滓再煎取三升溫服一升日三服胸中煩而不嘔去半夏人參加括婁實一枚渴者去半夏加人參合前成四兩半栝蔞根四兩腹痛去黃芩加白芍三兩脅下痞鞭去大棗加牡蠣四兩心下悸小便不利去黃芩加茯苓四兩不渴外有微熱去人參加桂枝三兩溫覆取微似汗愈咳去人參大棗生薑加五味子半升乾薑二兩</p>
<p>四逆散　柴胡　白芍　甘草炙枳實破水漬炙各十分等分搗篩白飲和服</p>
<p>方寸匕日三服咳加五味子乾薑各五分並主下利悸加桂枝五分</p>
<p>小便不利加茯苓五分腹中痛加附子一枚炮令折　池利下重先以水五升煮薤白三升煮取三升去滓以散三方寸七內湯中煮取一升半分溫再服</p>
<p>大柴胡湯　柴胡（半斤）　半夏（半升）　洗芍藥（三兩）　枳實（四枚）　黃芩（三兩）　大黃（二兩）　生薑（五兩）　大棗（十二枚劈）　右八味水一斗二升煮取六升去纖再煎至三升分三服</p>
<p>柴胡加芒硝湯　小柴胡湯中加芒硝六兩</p>
<p>柴胡胡加龍骨牡蠣湯　柴胡（四兩）　半夏（二合洗）　人參（一兩半）　生薑（一兩半切）　大棗（六枚劈）　茯苓（一兩半）　桂枝（一兩半）　龍骨（一兩半）　牡蠣（一兩半煆）　大黃（一兩）　鉛丹（一兩半）　右十一味水八升煮取四升內大黃切如棋子更煮一二沸去渣服一升</p>
<p>柴胡加桂枝湯　柴胡（四兩）　半夏（二合半洗）　黃芩（一兩半）　甘草（一兩炙）　人參（一兩半）　桂枝（一兩半）　白芍（一兩半）　生薑（一兩半）　大棗（六枚劈）　右九味水七升煮取三升去滓分三服</p>
<p>柴胡桂枝幹薑湯　柴胡（半斤）　桂枝（三兩）　乾薑（三兩）　枯婁根（四兩）　黃芩（三兩）　牡蠣（三兩熬）　甘草（二兩炙）　右七味水一斗二升煮取六升去滓再煎取三升溫服一升日三服初服微煩複服汗出便愈</p>
<p>茯苓甘草湯　茯苓（二兩）　桂枝（二兩）　生薑（三兩）　甘草（一兩炙）　水四升煮取二升取滓分三服</p>
<p>苓桂甘棗湯　茯苓（半斤）　桂枝（四兩）　大棗（十五個）　甘草（二兩炙）　甘瀾水一斗先煮茯苓減二升內諸藥煮三升去滓日三服作甘瀾水法以水置盆揚之數百遍水上有珠子數千顆即成</p>
<p>苓桂朮甘湯　茯苓（四兩）　桂枝（三兩）　白朮（二兩）　甘草（二兩炙）　水六升煮取三升去滓分三服</p>
<p>五苓散　澤瀉（一兩六銖）　豬苓（十八銖去皮）　茯苓（十八銖）　白朮（十八銖）　桂（半兩去皮）　為散白飲和服初方寸匕日三多服暖水汗出愈</p>
<p>豬苓湯　豬苓（一兩）　茯苓（一兩）　滑石（一兩碎）　澤瀉（一兩）　阿膠（一兩）　先煮四味取二升去滓內膠烊消分三服</p>
<p>梔子櫱皮湯　梔子（十五枚劈）　甘草（一兩炙）　黃檗（一兩）　水四升煮取一升半去滓分二服</p>
<p>梔子豉湯　梔子（十四枚）　劈香豉（四合）線里水四升先煮梔子得二升半煮取一升半去滓分二服得吐止後服</p>
<p>梔子甘草豉湯　梔豉湯內加炙甘草（二兩）</p>
<p>桅子生薑豉湯　梔豉湯內加生薑（五兩）</p>
<p>梔子乾薑湯　梔豉（十四枚劈）　乾薑（二兩）　右二味水三升半煮取一升半去滓分二服得吐止後服</p>
<p>梔子厚朴湯　梔子（十四枚劈）　厚朴（四兩）　姜（炙）　枳實（四兩）　湯浸去穰炒水三升半煮取一升半去滓分三服得吐止後服</p>
<p>大黃黃連瀉心湯　大黃（二兩）　黃連（一兩）　麻沸湯（二升）　漬之須臾絞去滓分溫再服</p>
<p>附子瀉心湯　大黃（二兩）　黃連（一兩）　黃芩（一兩）　附子（一枚炮去皮）　別煮汁麻沸一升漬三味須臾絞去滓內附子汁分兩服</p>
<p>甘草瀉心湯　甘草（四兩炙）　黃芩（三兩）　黃連（一兩）　乾薑（三兩）　半夏（半升洗）　大棗（十二枚劈）　右六味水一斗煮取六升去滓再煎取三升溫服一升日三服</p>
<p>半夏瀉心湯　半夏（半升洗）　黃芩（三兩）　黃連（一兩）　乾薑（三兩）　甘草（三兩炙）　大棗（十二枚劈）　人參（三兩）　右七味水一斗者取六升去滓煎煮三升溫服一升日三服　生薑瀉心湯　生薑（四兩）　黃芩（三兩）　黃連（一兩）　乾薑（一兩）　甘草（三兩炙）　大棗（十一枚劈）　人參（三兩）　半夏（半升洗）　右八味水一斗煮法同前</p>
<p>旋覆代赭石湯　旋覆花（三兩）　人參（二兩）　生薑（五兩）　切代赭石（一兩）　半夏（半升洗）　甘草（三兩炙）　大棗（十二枚劈）　右七味水一斗煮取六升去滓再煎取三升</p>
<p>溫服一升日三服</p>
<p>樸姜甘半參湯　厚朴（半斤去皮炙）　生薑（半斤切）　半夏（半升洗）　人參（一兩）　甘草（二兩炙）　右五味水一斗煮取三升去滓溫服一升日三服</p>
<p>瓜蒂散　瓜蒂（一分熬）　赤小豆（一分）　各別搗篩已合治之取一錢七以香豉一合熱湯七合煮作稀糜去滓取汁和散溫服不吐少加得快吐乃止亡血虛家禁用</p>
<p>十棗湯　芫花熬甘遂大戰等分別搗為散水一升半大棗肥者十枚煮取八合去滓內藥末強入一錢匕羸人半錢平旦溫服若下少病不除者明日更服加半錢得快利後糜粥自養</p>
<p>白散　桔梗（三分）貝母（三分）　巴豆（一分去皮熬黑研如妮）　二味先為末內巴豆更杵之白飲和服強人一錢贏者減之病在膈上必吐在膈下必利若不利進熱粥一杯倘利過不止進冷粥一杯</p>
<p>小陷胸湯　黃連（一兩）　半夏（半斤洗）　栝蔞實大者（一枚）　水六升先煮蔞取三升去滓內諸藥再煮取二升去滓分三服</p>
<p>大陷胸湯　大黃（六兩去皮）　芒硝（一升）　甘遂（一錢零研）　水六升先煮大黃取二升去滓內芒硝煮一二沸內甘遂末溫服一升得快利止後服</p>
<p>大陷胸丸　大黃（半斤）　葶藶（半升熬）　芒硝（半升）　杏仁（半升去皮尖熬黑）　先搗篩二味內杏仁芒硝合研如脂和散取如彈丸一枚別搗甘遂末一錢匕白蜜二合水二升煮取一升溫頓服一宿乃下如不下更服</p>
<p>大承氣湯　大黃（四兩酒洗）　厚朴（半斤去皮炙）　枳實（五枚炙）　芒硝（三合）　水一斗先煮二物取五升去滓內大黃煮取二升滓去內芒硝更上火一二沸分二服得下止後服</p>
<p>小承氣湯　大黃（四兩酒洗）　厚朴（二兩炙）　枳實（大者三枚炙）　右三味水四升煮取一升二合去滓分二服</p>
<p>調胃承氣湯　大黃（四兩酒浸）　芒硝（半斤）　甘草（二兩炙）　水三升煮取一升去滓內芒硝更上微火令沸少少溫服</p>
<p>桃核承氣湯　桃仁（五十個去皮尖）　桂枝（三兩去皮）　大黃（四兩酒洗）　芒硝（二兩）　甘草（二兩炙）　右五味水七升煮取二升半去滓內芒硝上火微沸先食溫服五合日三服當微利</p>
<p>抵當湯　水蛭（三十個熬）　虻蟲（三十個熬去翅足）　大黃（三兩酒洗）　桃仁（二十個去皮尖）　右四味為散水五升煮取三升去滓溫服一升不下再服</p>
<p>抵當丸　水蛭（二十個熬）　虻蟲（二十五個熬去翅足）　桃仁（二十個去皮尖）　大黃（三兩酒洗）　右四味杵分為四丸水一升煮一丸取七合服眸時當下血不下更服</p>
<p>茵陳蒿湯　茵陳蒿（六兩）　梔子（十四枚劈）　大黃（二兩）　右三味水一斗先煮茵陳減六升內二味煮取三升去滓分三服小便當利尿如皂角汁狀色正赤一宿腹減黃從小便去也</p>
<p>麻仁丸　麻子（二升）　芍藥（半斤）　枳實（半斤）　大黃（一斤去皮）　厚朴（一斤炙去皮）　杏仁（一斤去皮尖研如脂）　右六味為末煉蜜丸桐子大飲服十丸日三服漸加以和為度</p>
<p>蜜煎導方　蜜（七合）微火煎之稍凝似飴俟可丸冷水潤手稔作梃子令頭銳大如脂長二寸許內穀道中以手急抱欲大便任去之</p>
<p>土瓜根導方　生土瓜根削如梃內穀道中如蜜煎法</p>
<p>豬膽汁方　大豬膽（一枚）瀉汁和酷少許以灌穀道中如一食頃當大便出</p>
<p>乾薑附子湯　乾薑（一兩）　附子（一枚去皮生用破八片）　右二味以冰三升煮取一升去滓頓三服</p>
<p>白能湯　蔥白（四莖）　乾薑（一兩）　附子（一枚生用去皮破）　右三味水三升煮取一升去滓分三服</p>
<p>白通加豬膽汁湯　蔥白（四莖）　乾薑（二兩）　附子（一枚生用去皮破）　人尿（五合）　豬膽汁（一合）水三升先煮三味取一升去滓內膽汁人尿和勻溫分二服無膽汁亦可</p>
<p>四逆湯　甘草（二兩炙）　乾薑（一兩半）　附子（一枚炮）右三味水三升煮取一升二合分二服</p>
<p>通脈四逆湯　甘草（二兩炙）　乾薑（三兩）　強人可（四兩）　附子（大者一枚生去皮破人片）　右三味水三升煮取一升二合去滓分二服</p>
<p>面色赤者加蔥九莖　腹中痛者去蔥加芍藥（二兩）　嘔者加生薑（二兩）</p>
<p>咽痛者去芍藥加桔梗（一兩）　利止脈不出者去桔梗加人參（二兩</p>
<p>茯苓四逆湯　茯苓（六兩）　人參（一兩）　甘草（二兩炙）　乾薑（一兩）　附子（一枚生用去皮）　臍（切八片）　右五味水五升煮去三升去滓溫服七合日三服</p>
<p>真武湯　茯苓（三兩）　芍藥（三兩）　生薑（三兩切）　白朮（二兩）　附子（一枚炮去皮破）右五味水五升煮取三升去滓分四服</p>
<p>咳加五味子半升細辛乾薑（各一兩）　小便利去茯苓下利去芍藥加乾薑（三兩）　嘔去附子加生薑足成（半斤）　附子湯　附子（二枚去皮破）　茯苓（三兩）　人參（二兩）　白朮（四兩）　芍藥（三兩）　右五味水八升煮取三升去滓分三服</p>
<p>芍藥甘草附子湯　芍藥（三兩）　甘草（三兩炙）　附子（一枚炮去皮破）　右三味水五升煮取一升五合去滓分二服</p>
<p>芍藥甘草湯　芍藥（四兩）　甘草（四兩炙）　右二味水三升煮取一升五合去滓分二服</p>
<p>寸草乾薑湯　甘草（四兩炙）　乾薑（二兩炮）　右二味水三升煮取一升半去渣分二服</p>
<p>甘草湯　甘草（二兩一味水三升煮取一升半去渣分二服</p>
<p>桔梗湯　桔梗（一兩）　甘草（二兩）　二味水三升煮取一升半去渣分二服　半夏散及湯　半夏（洗）　桂枝（去皮）　甘草（炙）　三味等分別搗篩已合治之白飲和服方寸匕日三服不能服散者煮水一升內散兩方匕更煎三沸少少咽之</p>
<p>苦酒湯　半夏（如棗核大十四枚洗破）　雞子（一枚去黃）　內苦酒著雞子殼中內半夏著苦酒中以雞子殼置刀環中安火上令三沸去滓少少嚥下不羞更作三劑服之</p>
<p>豬膚湯　渚膚一斤水一斗煮取五升去滓加白蜜一升白粉五合熬香和相得溫分六服</p>
<p>黃芩湯　黃芩（三兩）　甘草（二兩炙）　芍藥（二兩）　大棗（十二枚劈）　上四味水一斗煮取三分去滓溫服一升日再夜一</p>
<p>黃芩加半夏生薑湯　上方加半夏半升洗生薑三兩切</p>
<p>白頭翁湯　白頭翁（三兩）　黃連（三兩去須）　黃櫱（三兩去皮）　秦皮（三兩）　右四味水七升煮二升去滓溫服一升未愈更服</p>
<p>桃花湯　赤石脂（一斤一半全用一半篩末）　乾薑（一兩）　粳米（一升）　上三味水七升米熟去滓溫服七合內石脂末方寸匕日三服若一服止余勿服　赤石脂禹餘糧湯　赤石脂（一斤碎）　禹餘糧（一斤碎）　上二味水六升煮取三升去滓分三服</p>
<p>禹丸糧</p>
<p>葛根黃連黃芩湯　葛根（半斤）　黃連（三兩）　黃芩（二兩）　甘草（二炙）　右四味水八升先煮葛根減二升內諸藥煮取二升去滓分兩服</p>
<p>乾薑黃連黃芩人參湯　乾薑（三兩）　黃連（三兩）　黃芩（三兩）　人參（三兩）　四味水六升煮取二升去滓分二服</p>
<p>黃連湯　黃連（三兩）　甘草（三兩炙）　乾薑（三兩）　人參（三兩）　桂枝（三兩去皮）　半夏（半升洗）　大棗（十二個劈）　右七味水一斗煮取六升去渣溫服一升日三夜一</p>
<p>黃連阿膠湯　黃連（四兩）　黃芩（一兩）　芍藥（二兩）　雞子黃（二枚）　阿膠（三兩）　水五升先煮三物取二升去渣內膠烊盡少冷內雞子黃攬勻溫服七合日三服</p>
<p>烏梅丸　烏梅（三百個）　黃連（一斤）　乾薑（十兩）　桂枝（六兩去木）　細辛（六兩）　附於（六兩炮）　人參（六兩）　黃櫱（六兩）　蜀椒（四兩出汗）　當歸（四兩）　右十味異搗篩研勻以苦酒漬烏梅一宿去核蒸之五升米下飯熟搗成泥入藥拌勻加蜜杵二千下圓如桐子先食下十丸日三稍加至二十丸禁生冷滑臭食物</p>
<p>當歸四逆湯　當歸（三兩）　白芍（三兩）　桂枝（三兩去皮）　細辛（二兩）　通草（二兩）　甘草（二兩炙）　大棗（二十五枚劈）　共七味水八升煮取三升去滓服一升日三服</p>
<p>當歸四逆加吳茱萸生薑湯　前方加吳萸（半升）　生薑（三兩）</p>
<p>吳茱萸湯　吳茱萸（一升洗）　人參（三兩）　生薑（六兩）　大棗（十二敉劈）　黃四味水七升煮取二升去渣分三服</p>
<p>炙甘草湯　甘草（四兩炙）　生薑（三兩切）　桂枝（三兩去皮）　麥門冬（半升）　麻子仁（半升）　大棗（十二枚劈）　人參（二兩）　地黃（一斤）　阿膠（二兩）　共九味以清酒七升水八升先煮八味取三升去渣內膠烊盡溫服一升日三服</p>
<p>白虎湯　知母（六兩）　石膏（一斤碎綿里）　甘草（二兩炙）　粳米（六合）　共四味水一斗煮米熟湯成去渣溫服一升日三服</p>
<p>白虎加人參湯　前方加人參（三兩）</p>
<p>文蛤散　文蛤（五兩）　為散沸湯（五合）　和散（一錢匕）</p>
<p>搐鼻散　瓜蒂一味為散令病人口先含水用散一字吹入鼻中須臾鼻中流出黃水愈</p>
<p>理中湯　人參　甘草（炙）　白朮　乾薑（各三兩）　共四味水八升煮取三升去渣溫服一升日三服　此方本論中雖未曾用然於心下痞條論過故錄之</p>
