<header data-type="book">
<h1>經穴纂要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="小阪營升">小阪營升</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1810">公元1810年</data></dd></div>
<div><dt>底本</dt><dd>*收錄於《皇漢醫學叢書》第十冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>蓋以人之軀殼。內有五藏六府。五藏六府之氣。發於外層。以為十二經。而十二經有三百六十五穴。此三百六十五穴。乃五藏六府之氣所相輸應處也。故謂之氣穴。又謂之輸穴也。是以人之有疾。劑草蘇草荄之枝。而治之於內。施灸焫砭針於溪谷之會。而治之於外。內外相須。而疾可瘳矣。此醫之所以有體療針灸之二科也。龜山醫負小阪元祐。自弱冠從先考藍溪先生而學體療之術。又從大膳大夫良益而受明堂孔穴之說。蓋其意在乎欲兼二科也。昔者祖考玉池先生受明堂之學於水藩良醫宮。本春仙翁而傳之於中島元春。元春傳之於藤井貞三。貞三傳之於良益。乃從春仙翁至元祐。凡為六傳矣。頃者元祐攜其所彙輯經穴纂要五卷。來余齋頭曰。某師事藍溪先生者。若千年矣。幸賴先生之靈。得筮仕於敝藩。安居自贍。惟懼不免屍素之罪。因竊願以嘗所學。著諸簡編。報君恩之萬一。然賦性拙劣。而嗇於才。雖寒膚嗛腹。屹屹惟勤。猶未有所闡發也。顧內科之為書。往哲近賢之所撰述。未知幾十百部。各病甄別診候處療之法。似無餘蘊矣。唯明堂一類。皇甫氏而降。至於挽近簿錄所著。僅僅不過數十部。況此間所傳亦無多矣。而經脈流注孔穴分寸諸說不一。學者不能無惑焉。於是僭不自量。原之於靈素甲乙。參之乎銅人資生諸書。師傳所承。愚慮所得。薈萃為編。前繪圖而後眾說。以便披覽。雖未能闖明堂之閫奧。或有所裨益於蒙士耶。及門數輩。將刻以布於世。請藉先生之言取信乎世也。余翻而瀏覽之而嘆曰。嗚呼。明堂之晦也久矣。方今醫家日趨簡便。如五藏六府經絡等之說。庋而不講。或有從事於此者。目以為迂腐鑿空之談。亦可勝嘆哉。今元祐憤發而有斯舉。十二經穴。則依於甄權所定。藏府形象。則仿於楊介存真。其稽考固博。而其用志誠勤矣。聞今從元祐而承其學者不少矣。若此書行。則不特傳傳相因。世顓針灸者。能讀是編。而明明堂之義。莫有孔穴乖處之弊。若針若灸。沉疴痼疾。草蘇草荄之枝所不及。有奏效於猝霍之間也。則濟弱扶危。其嘉惠後學者。不廣且大乎哉。則如玉池藍溪二先生。亦必首肯於無何有之鄉乎。為之序。</p>
<p><u>文化庚午歲中秋前一日丹波元簡廉夫撰</u></p>

<h1>自序</h1>
<p>古昔論經絡者。雖極眾多。其要皆本於素靈矣。而素靈之為書。幽遠簡古。多不可得而通曉者。則其本之之論。亦多不可得而通曉者。則固矣。故世人多以滑伯仁十四經發揮為便。而發揮亦藍本於金蘭循經。此書吾之所未見也。雖不能無疑。然滑氏之所注略。與甲乙經銅人經相符。則決不為無據者矣。予不肖。勤苦於此道有年。於茲亦以滑氏為基本。旁探群書。考異同取捨折衷。以便於推經絡。取腧穴。亦復自親解剖。所視內景。與古人所說異者。今新圖之。以示四方。併為五卷。名曰經穴纂要。冀四方之君子。有正予過。則何幸過之。</p>
<p><u>文化庚午秋七月小阪營昇元祐識</u></p>

<h1>凡例</h1>
<p>十四經發揮俞穴之數。凡三百五十四穴也。氣府論曰。氣穴三百六十五。以應一歲。氣穴論曰。凡三百六十五穴。針之所由行也。又曰。孫絡三百六十五穴。亦應一歲。又曰。溪谷三百六十五穴會。亦應一歲。又曰。三百六十五脈九針。十二原篇曰。節之交三百六十五會。針解論曰。人九竅三百六十五絡。又曰。除三百六十五節之邪氣。調經論曰。三百六十五節。乃生百病。邪氣藏府病形篇曰。十二經脈三百六十五絡。千金方曰。通十二經脈辨三百六十五孔穴。邪客篇曰。歲三百六十五日。人有三百六十五節。脈經曰。天有三百六十五日。人有三百六十五節。聖濟總錄曰。有骨三百六十五會。醫彀曰。孫絡生三百六十五骨節。骨節生三百六十五大穴。由是觀之。皆三百六十五之數也。發揮既脫十一穴。故今參考諸書。而補所脫漏之穴。以合於三百六十五之數也。</p>
<p>引用書明堂灸經則曰明堂。針灸甲乙經則曰甲乙。千金方則曰千金。千金翼則曰翼。外臺秘要則曰外臺。銅人腧穴針灸圖經則曰銅人經。古今醫疑則曰醫統。針灸資生經則曰資生。神應經則曰神應。針灸聚英則曰聚英。針灸大全則曰徐氏。又曰大全。類經則曰類。又曰張氏。又曰圖翼。醫學綱目則曰綱目。又曰醫綱。醫學入門則曰入門。注證發微則曰注證。又曰馬氏。又曰分寸歌。針灸六集則曰六集。又曰神照集。針灸大成則曰大成。醫宗金鑑則曰金鑑。醫學原始則曰原始。十四經合參則曰合參。其他皆全出書名。</p>
<p>俞穴中三角者禁針。四角者禁灸。</p>
<p>銅人形圖系彩。各以其藏府之色。由於素問經絡論也。藏經濃府經薄。今所彩肺經銀。大腸經胡粉。心經朱。小腸經薄赤。心包經紫。三焦經薄紫。腎經黑。膀胱經薄黑。脾經黃。胃經薄黃。肝經青。膽經綠青。督脈金。任脈銀。各視其系彩而可知藏府之經行矣。</p>

<h1>經穴纂要骨度</h1>
<p>醫統曰。人有大小長短不等。惟周身尺寸可以取之。人長則寸長。人短則寸短。嬰孺老幼皆然。又曰。今世之醫。惟取中指中節謂之同身寸。凡取諸穴。悉依之。其亦未之思耳。殊不知同身之義。隨身之大小肥瘦長短。隨處分折而取之。則自無此長短之弊。而庶幾乎同身之義有準矣。若以中指為法。如瘦人指長而身小。則背腹之橫寸豈不太闊耶。如肥人指短而身大。則背腹之橫寸。豈不太狹耶。古人所以特謂同身寸法者。蓋必同其身體隨在而折之。固無肥瘦長短之瘥訛也。）</p>
<p>頭之大骨圍二尺六寸。（銅人經六作八。非。）</p>
<p>胸圍四尺五寸。（兩乳間。）</p>
<p>腰圍四尺二寸。（平臍周圍曰腰。）</p>
<p>發所覆者顱至項一尺二寸。（甲乙經。尺字上有一字。）</p>
<p>類經曰。發所覆者。謂髮際也。前髮際為額顱。後髮際以下為項。前自顱後至項長一尺二寸。</p>
<p>明堂灸經曰。定髮際法曰。如是患人。先因疾患後脫落盡髮際。或性本額項無發。難憑取穴。今定患人兩眉中心。直上三寸為髮際。後取大椎。直上三寸為髮際。以此為準。</p>
<p>醫統曰。前髮際至後髮際。折作十二節為一尺二寸。前髮際不明者。取眉心直上三寸後。髮際不明者。取大椎上行三寸。前後共不明者。折作一尺八寸。頭部直寸。並依此法。</p>
<p>發以下至頤。長一尺。男子終折。</p>
<p>甲乙經。男作君。終作參。注。又作三折。馬氏曰。君子終折。言士君子之面部三停齊等。可以始中終而三折之也。眾人未必然耳。</p>
<p>結喉以下至缺盆中。長四寸。</p>
<p>營昇按。因頭之俯仰也。仰則其寸長。俯則其寸短。且自結喉尖頭量之。則其寸長。自結喉之下端量之。則其寸短也。今詳之。結喉下大骨兩突骨之中間是穴。</p>
<p>缺盆以下。至𩩲𩨗長九寸。過則肺大。不滿則肺小。</p>
<p>本藏篇曰。無𩩲𩨗者心高。𩩲𩨗舉者心下。𩩲𩨗長者心下堅。𩩲𩨗弱小以薄者心脆。𩩲𩨗直下不舉者心端正。𩩲𩨗倚一方者心偏傾也。</p>
<p>類經曰。𩩲𩨗一名尾翳。亦鳩骨蔽骨也。</p>
<p>𩩲𩨗以下至天樞。長八寸。過則胃大。不及則胃小。</p>
<p>銅人經曰。𩩲𩨗下至臍。長八寸。</p>
<p>神應經曰。人若無心蔽骨者。取岐骨下至臍心。共折九寸取之。</p>
<p>針方六集曰。上取岐骨。下至臍心。共折作九寸取之。</p>
<p>天樞以下至橫骨長六寸半。過則迴腸廣長不滿則狹短。橫骨長六寸半。</p>
<p>甲乙經陰交臍下一寸。氣海臍下一寸五分。石門臍下二寸。關元臍下三寸。中極臍下四寸。曲骨橫骨上中極下毛際陷者中。凡五寸。類經醫統神應經針方六集金鑑等。臍心下至毛際。橫骨穴折作五寸為是。</p>
<p>橫骨上廉以下至內輔之上廉。長一尺八尺。</p>
<p>圖翼曰。骨際曰廉。膝旁之骨突出者曰輔骨。內曰內輔。外曰外輔。</p>
<p>內輔之上廉以下至下廉。長三寸半。</p>
<p>內輔下廉下至內踝。長一尺三寸。</p>
<p>踝以下至地長三寸。</p>
<p>膝膕以下至跗屬長一尺六寸。</p>
<p>類經曰。膝後曲處曰膕。凡兩踝前後脛掌所交之處。皆為跗之屬也。張志聰曰。屬者概足面而言也。</p>
<p>跗屬以下至地長三寸。</p>
<p>角以下至柱骨長一尺。</p>
<p>銅人經曰。腦角下至柱骨長一尺。</p>
<p>類經曰。角頭側大骨耳上高角也。柱骨肩骨之頸。項之根也。</p>
<p>行腋中不見者。長四寸。</p>
<p>注證曰。自柱骨行於腋下之隱處。長四寸。</p>
<p>腋以下至季脅。長一尺二寸。</p>
<p>季脅以下至髀樞。長六寸。</p>
<p>髀樞以下至膝中。長一尺九寸。</p>
<p>膝以下至外踝。長一尺六寸。</p>
<p>外踝以下至京骨。長三寸。</p>
<p>京骨以下至地。長一寸。</p>
<p>耳後當完骨者。廣九寸。</p>
<p>耳前當耳門者。廣一尺三寸。</p>
<p>兩顴之間相去七寸。</p>
<p>注證曰。目下高骨為顴。</p>
<p>兩乳之間。廣九寸半。</p>
<p>營昇按。甲乙經曰。自氣戶俠輸府兩旁。各二寸下。行至乳根。凡十二穴。廣八寸。滑氏發揮曰。自膻中橫至神封二寸。神封至乳中二寸左右。合而得八寸也。圖翼醫統針方六集金鑑等。俱當折八寸為當矣。</p>
<p>兩髀之間廣六寸半。</p>
<p>足長一尺二寸。廣四寸半。</p>
<p>肩至肘。長一尺七寸。</p>
<p>營昇按。古人此骨度之說尤多。菊池玄藏安井元越等。自腋下橫文至曲池為一尺。宮本春仙中島元春等。自腋下至肘通計為一尺一寸。淺井賴母借。自肘至腕一尺二寸半之法用之。皆不可為準。則村上宗占骨度正誤曰。夫以骨度篇所謂人長七尺五寸者。橫直等謂也。如張氏之說。自肩端量則中乎。脊骨而相舍兩肩之間惡合骨度乎。可調張氏千慮之失也。介賓既如此。況後學乎。肩至肘一尺七寸。度之者。舉臂伸手於左右。而自大椎下脊中至肘尖。可為一尺七寸也。今人肩端肩髃至曲池。為一尺七寸。誤也。予謂宗占所謂人長七尺五寸。雖言橫直等謂。是亦不合也。又宗占所謂人長七尺五寸。謂橫直等。自大椎至肘一尺七寸。肘至腕一尺二寸半。自腕至中指本節長四寸。自本節至末四寸半。通計七尺六寸也。是亦不合於七尺五寸。故宗占私以為自本節至末四寸半。半字為衍文。遂削去之為七尺五寸。是亦無據。但宗佔一家之說已矣。惜哉宗占未嘗見針灸腧穴銅人圖經歟。針灸腧穴銅人圖經正面長七尺五寸。伏人長七尺五寸。側人長七尺五寸。橫直闊狹相去遠近骨格三折。各長七尺五寸據之橫直等謂也。然與骨度篇參考。則亦有異同。而合於通計七尺五寸之法。乃知宗占自大椎至肘為一尺七寸。橫直等謂者甚誤也。又針灸腧穴銅人圖經。兩肩相去二尺一寸。肩下至肘一尺七寸。因肩下二字觀之。自大椎至肘。非一尺七寸明矣。故張氏之言肩者。即肩端也。自肩髃至曲池。為一尺七寸。可從張氏之說。）</p>
<p>肘至腕。長一尺二寸半。</p>
<p>腕至中指本節。長四寸。本節至末。長四寸半。</p>
<p>類經曰。末指端也。</p>
<p>項發以下至背骨。長二寸半。</p>
<p>圖翼曰。自後髮際以至大椎項骨三節處也。</p>
<p>膂骨以下至尾骶二十一節。長三尺。上節長一寸四分分之一。奇分在下。故上七節至於膂骨。九寸八分分之七。</p>
<p>圖翼曰。背部折法。自大椎至尾骶。通折三尺。上七節。各長一寸四分一釐。共九寸八分七釐。中七節。各一寸六分一釐。共一尺一寸二分七釐。第十四節與臍平。下七節。各一寸二分六釐。共八寸八分二釐。總共二尺九寸九分六釐。不足四釐者。有零未盡也。</p>
<p>六書精蘊曰。𫈨力莒切。脊骨也。凡二十一部。如珠氣行一起一伏也。象上下相貫形。凡藏府皆繫於𫈨心系於五椎自十七椎至二十為腰監骨。所弇心之前。有蔽骨。天然之妙也。或從肉作膂脊之重。在骨不在肉也。</p>

<h1>卷一</h1>

<h2>手太陰肺經</h2>
<p>（內經知要曰。首言肺者。肺朝百脈也。循序相傳。盡於肝經。絡而復始。又傳於肺。是為一周。）</p>
<p>雲門　馬氏分寸歌曰。雲門璇璣旁六寸。</p>
<p>經脈篇馬注曰。挨穴之法。由天突起至璇璣。由璇璣至雲門。其法甚簡。（營昇按。諸書以為本經之穴始於中府。而標幽賦曰。穴出雲門抵期門。又蠡海集曰。人身經絡始於雲門。終入於期門。又錦囊秘錄曰。人之氣血。周行無間。始於手太陰出雲門穴。歸於足厥陰肝經入於期門穴。今考其經行之循序。則以雲門為始者是近。）</p>
<p>中府　雲門下一寸。乳上三肋間。動脈應手陷中。</p>
<p>天府　十四經合參曰。腋下三寸動脈中。以鼻取之。（營昇按。針方六集曰。一法以手伸直。用鼻尖點到處是穴。又法垂手與乳相平是穴。又醫學原始曰。取法用鼻尖點臂上。到處是穴。雖有此等之說。於腋下三寸動脈中取之為是。）</p>
<p>俠白　天府下。去肘五寸動脈中。（營昇按。壽世保元曰。先於乳頭上塗墨。令兩手直伸夾之。染墨處即是穴。雖有此說。於去肘五寸動脈中取之為是。）</p>
<p>尺澤　醫學原始曰。在肘中約紋上。與曲池相近動脈中。</p>
<p>孔最　去腕上七寸。</p>
<p>列缺　醫學原始曰。在腕骨上側一寸五分。取法以手交叉。食指點處是穴。兩骨罅中。</p>
<p>吳昆方考脈語曰。反關者不行於寸口。由列缺絡入臂後。手陽明大腸經也。以其不順行於關上。故名曰反關。有一手反關者。有兩手反關者。此得於有生之初已然。非為病也。</p>
<p>古今醫統曰。人有寸關尺三部。脈不見自列缺至陽谿見者。俗謂反關脈。此經虛而絡脈滿。</p>
<p>李士材診家正眼曰。脈不行於寸口。由列缺絡入臂後手陽明大腸經也。以其不正行關上。故曰反關。必反其手而診之。乃可見也。左手得之主貴。右手得之主富。左右俱反。富而且貴。男女皆然。</p>
<p>經渠　醫學原始曰。在手寸口脈陷中。一法用食指交叉列缺為準。次取食指爪甲角下是穴也。</p>
<p>大淵　神應經曰。在掌後內側橫紋頭動脈。</p>
<p>魚際　大指本節後內側散脈中。（營昇按。張介賓曰。手腕之前。大指本節之間。其起肉隆起形如魚者。統調之魚。寸口之前魚之後曰魚際穴也。此說為是。又張志聰曰。魚際者手足之白肉際隆起。所有如魚腹而穴在其際也。手之魚際。肺之脈氣所發。足之魚際。脾之脈氣所發也。又堀亢厚曰。凡手足分肉隆起而似臥魚之腹者。通呼謂之魚。又謂之魚腹。其四邊分際。總謂之魚際。）</p>
<p>少商　大指端內側去爪甲如韭葉白肉宛宛中。（營昇按。韭葉者言少許也。手太陽小腸經少澤穴去爪甲角一分。下皆仿此。）</p>
<figure>
<img alt="手太陰肺經圖">
</figure>
<p>手太陰穴。起自中府。中府在雲門下一寸。去任脈中行天突之下一寸璇璣。璇璣之旁六寸。乳上三肋間陷中動脈應手。仰而取之。循行臂臑內廉腋下三寸為天府。天府下去肘上五寸為俠白。肘中約文上屈肘橫文筋骨罅中動脈為尺澤。腕上七寸陷中為孔最。腕後側上一寸五分為列缺。寸口陷中為經渠。手掌後陷中為大淵。手大指。</p>
<figure>
<img alt="圖">
</figure>
<p>本節後內側陷中。又云散脈中白肉際為魚際。手大指內側端去爪甲角如韭葉白肉際宛宛中為少商。</p>
<figure>
<img alt="圖">
</figure>
<p>圖示兩手交叉。當食指盡處為列缺穴。針灸大成曰。手太陰絡別走陽明。去腕側上一寸五分。以兩手交叉。食指盡處。兩筋罅中。又醫學原始曰。經渠一法用食指交叉。列缺為準。次取食指爪甲角下是穴也。叉說文手指相錯也。</p>
<p>張介賓曰。寸口之前。魚之後。又醫彀曰。節後散脈里。此二說為是也。</p>
<figure>
<img alt="圖">
</figure>
<p>吳昇曰。手足黑白肉分之處。如魚腹色者曰魚際。又張志聰曰。魚際者謂手足之白肉隆起。所有如魚腹而穴在其際。</p>
<p>營昆按。神應經魚際穴奇俞大骨空在手大指第二節前尖上屈指當骨節中。恐神應經魚際穴此類歟。</p>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。手太陰起於中焦。受足厥陰之交也。由是循任脈之外。足少陰經脈之裡。以次下行。當臍上一寸水分穴之分。繞絡大腸。其支者。從肺系出而橫行。循胸部第四行之中府雲門。以出腋下。循臑內。歷天府俠白。行手少陰手心主之前。下入肘中抵尺澤穴也。</p>
<p>既下肘中。乃循臂內上骨之下廉。歷孔最列缺入寸口之經渠大淵。以上魚。循魚際。出大指之端。至少商穴而終也。</p>
<p>其支者從腕後列缺穴達次指內廉出其端。而交於手陽明。</p>

<h2>手陽明大腸經</h2>
<p>（入門曰。卯時自少商穴交與商陽。循肘上行至鼻傍迎香穴止。）</p>
<p>商陽　手大指次指內側去爪甲角如韭葉。（營昇按。甲乙經脈經子午經。手陽明大腸之脈。起於大指次指之端外側其穴。則甲乙經在手大指次指內側去爪甲如韭葉。諸書。皆有內側二字。故雖陽經姑從甲乙。）</p>
<p>二間　手大指次指末節前內側陷中。</p>
<p>醫學原始曰。在次指本節前內側橫紋尖盡處陷中。</p>
<p>三間　手大指次指本節後內側陷中。</p>
<p>醫學原始曰。在次指本節後內側橫紋盡處陷中。</p>
<p>合谷　手大指次指岐骨陷中。</p>
<p>陽谿針　方六集曰。在手腕上側橫紋前兩筋間陷中。</p>
<p>偏歷　十四經合參曰。手陽明絡別走太陰。在腕後三寸取之。又曰兩手交叉以中指盡處是穴。</p>
<p>溫溜　徐氏馬氏入門醫彀等在腕後五寸。（營昇按。甲乙經千金方針方六集。小士五寸。大士六寸。聖濟總錄銅人經聚英。大士五寸。小士六寸。發揮曰。小士六寸。大士五寸。聖惠方。腕後五寸六寸間。醫學綱目。小士大士乃小兒大人也。大士小士之說。諸書異未詳。小兒臂長指短。故曰小士六寸。大人臂短指長。故曰大士五寸乎。然以周身寸量之。則不可有大士小士之別。是以考之諸書。或言五寸。或言六寸。又五寸六寸之間。其說區區無一定之說矣。不可拘大士小士之說。但以腕後五寸為是。亦握手視之。有分肉如蛇頭之形。此地肌肉隆起。象似蛇頭。故以名此。即溫溜穴是也。一名蛇頭。）</p>
<p>下廉　圖翼曰。曲池下四寸。</p>
<p>上廉　圖翼曰。曲池下三寸。</p>
<p>三里　曲池下二寸。按之肉起。</p>
<p>曲池　太平聖惠方曰。在肘外輔骨曲肘橫文頭宛宛中陷者是其穴。（營昇按。徐氏大全醫學入門。肘外輔屈肘兩骨中紋頭盡處。明堂灸經神應經針灸大成醫宗金鑑千金方。肘外輔骨曲肘橫文頭陷中。本事方曰。臂相連處紋盡處是穴。此等說亦為是。）</p>
<p>肘髎　圖翼曰。在肘大骨外廉陷中。與天井相併。相去一寸四分。</p>
<p>五里　醫學原始曰。在肘上三寸。行向里大脈中央。一法在曲池橫紋尖盡上二寸是穴。（營昇按。五里穴氣穴論曰。大禁二十五在天府下五寸。王注曰。五里穴也。中島玄俊以五里穴移入於手太陰肺經。然不可從。）</p>
<p>臂臑　肘上七寸。</p>
<p>肩髃　肩端兩骨間陷者宛宛中。舉臂有空。</p>
<p>骨空論曰。舉臂肩上陷者灸之。（王注曰。謂肩髃。）</p>
<p>巨骨　肩端上行兩叉骨間陷中。</p>
<p>天鼎　醫宗金鑑曰。頸缺盆上直行扶突下一寸。</p>
<p>扶突　十四經合參曰。人迎後一寸五分。</p>
<p>禾髎　鼻孔下挾水溝旁五分。</p>
<p>迎香　醫學原始曰。在鼻孔兩旁直紋是穴。一法禾髎上一寸。鼻孔旁五分。</p>
<figure>
<img alt="手陽明大腸經圖">
</figure>
<p>手陽明經接太陰肺經而起。自食指內側去爪甲角如韭葉之商陽。循食指本節前內側陷中為二間。本節後內側陷中為三間。大指次指歧骨間陷中為合谷。手腕中上側兩筋間陷中為陽谿。手腕後三寸為偏歷。手腕後小士五寸大士六寸為溫溜。握手見肌肉長起如蛇頭者是也。</p>
<p>肘外輔骨。屈肘曲骨之中為曲池。曲池下二寸為三里。下三寸為上廉。下四寸為下廉。曲池上三寸為五里。上七寸為臂臑。曲池與五里之間。向外稍斜為肘髎。當膊骨頭肩端上兩骨罅陷中為肩髃。肩尖上行兩叉骨間陷中為巨骨。頸中人迎後一寸五分為扶突。扶突後一寸為天鼎。直鼻孔下夾水溝旁五分為禾髎。禾髎上一寸鼻孔旁五分為迎香。由人中而左右互交者也。</p>
<figure>
<img alt="圖">
</figure>
<p>醫學原始曰以手交叉食指點處是穴</p>
<p>十四經合參曰兩手交叉以中指盡處是穴</p>
<figure>
<img alt="圖">
</figure>
<p>握手見之有分肉如蛇頭之形此地肌肉長起象似陀頭故以名此則溫溜穴是也一名蛇頭</p>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。受手太陰之交行於陽之分也。由是循指上廉歷二間三間。以出合谷兩骨之間。復上入陽谿。兩筋之中。自陽谿而循臂上廉之偏歷溫溜下廉上廉三里。入肘外廉之曲池。循臑外廉歷肘髎五里臂臑絡臑會上肩至肩髃穴也。循巨骨穴上出柱骨之會。上會於大椎。</p>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。自大椎而下。入缺盆循足陽明經脈。外絡繞肺臟。復下膈當天樞之分會屬於大腸。</p>
<p>又曰。其支別者。自缺盆上行於頸。循天鼎扶突上貫於頰。入下齒縫中。復出夾兩口吻相交於人中之分。左脈之右。右脈之左。挾鼻孔循禾髎迎香而終以交於足陽明也。圖翼曰。缺盆為五臟六腑之道。</p>
<p>華佗內照圖曰。膻中名氣海。在兩乳之間。為氣之海也。氣所屬焉。能分布陰陽。氣者主源。乃命之主。</p>
<p>針方六集曰。膻中居兩乳間。是為氣之所會。</p>

<h3>足陽明胃經</h3>
<p>（醫學入門云。辰時自迎香交與承泣穴。上行至頭維。對人迎循胸腹。下至足指厲兌穴止。至真要大論曰。帝曰。陽明何謂也。岐伯曰。兩陽合明也。類注曰。陽之盛也。）</p>
<p>承泣　目下七分直瞳子。</p>
<p>王惟一銅人腧穴針灸圖經。徐三友銅人俞穴針灸圖經。針灸大成。施沛沛然經穴指掌圖。醫學原始。頭維下關頰車承泣循序醫學入門。程氏醫彀。自迎香交與承泣穴。上行至頭維。對人迎循胸腹。至足厲兌穴止。圖穴起自頭維。行氣實自承泣始也。</p>
<p>四白　目下一寸直瞳子。</p>
<p>巨髎　鼻孔旁八分直瞳子。</p>
<p>地倉　挾口吻旁四分。</p>
<p>大迎　曲頷前一寸三分。骨陷中動脈。</p>
<p>頰車　耳下曲頰端陷中。</p>
<p>下關　客主人下耳前動脈下廉。合口有空。開口則閉。</p>
<p>頭維　額角髮際本神旁一寸五分。神庭旁四寸五分。</p>
<p>人迎　頸大脈動應手挾結喉旁一寸五分。</p>
<p>寒熱病篇曰。頸側之動脈人迎。人迎足陽明也。在嬰筋之前。</p>
<p>滑氏曰。古以夾喉兩旁為氣口人迎。至晉王叔和直以左右手寸口為人迎氣口。</p>
<p>千金方外臺秘要針灸大成頸大脈動。應手夾結喉兩旁一寸五分。仰而取之。以候五藏氣。</p>
<p>水突　醫學入門云。直人迎下氣舍上二穴之中。</p>
<p>氣舍　頸直人迎下挾天突陷中。</p>
<p>缺盆　針方六集云。在肩上橫骨陷中。挾天突兩傍各四寸。</p>
<p>圖翼曰。為五藏六府之道。</p>
<p>氣戶　巨骨下俞府旁二寸陷中。</p>
<p>庫房　氣戶下一寸六分陷中。（營昇按。滑氏發揮曰。氣戶下一寸六分陷中。明堂灸經所謂輸府下一寸。即華蓋傍二寸也。華蓋穴甲乙經千金方銅人經外臺秘要資生經針方六集古今醫統醫學原始十四經合參諸書。為璇璣下一寸陷中。據於任脈觀之。六分二字宜削去。）</p>
<p>屋翳　醫學綱目云。庫房下一寸。</p>
<p>膺窗　屋翳下一寸六分陷中。</p>
<p>乳中　當乳是。（營昇按。此穴諸說甚多。聖濟總錄針灸大成為當乳中是。古今醫統。乳中。當乳之中。醫彀兩乳中心。名乳中。入門原始乳中即乳頭上此說為是。針灸聚英云。丹溪曰。乳房陽明胃所經。乳頭厥陰肝所屬。）</p>
<p>乳根　乳下一寸六分陷中。</p>
<p>醫學正傳曰。婦人在乳房下。起肉處陷中。</p>
<p>壽世保元曰。在正直乳下。容一指許。骨間陷中。婦人則屈乳頭度之。乳頭齊處是穴。</p>
<p>經絡全書曰。虛里乳根穴分也。俗謂之氣眼。甲乙經曰。胃之大絡名曰虛里。貫膈絡肺出於左乳下。其動應手。脈之宗氣也。</p>
<p>類注曰。宗氣不固而大泄於外。中虛之候也。虛里跳動。最為虛損病本。故凡患陰虛勞怯。則心下多有跳動。及為驚悸慌張者。即此證人。止知其心跳。而不知虛里之動也。但動之微者病尚微。動之甚者病則甚也。</p>
<p>不容　幽門旁相去各一寸五分。（營昇按。自不容至歸來去腹中行廣狹。諸賢之說不同。十四經發揮。徐三友銅人經。千金方。外臺。資生經。石本銅人經。金鑑。自不容至氣衝。去腹中行二寸。甲乙經聚英醫統大成。自不容至滑肉門。去腹中行三寸。自天樞至氣衝去中行二寸。針方六集。自不容至滑肉門二寸五分。自天樞至氣衝挾臍各二寸。千金方脾藏云。長谷俠臍相去五寸。明堂灸經聖惠方上管兩旁一寸。醫學原始。自不容至滑肉門去腹中行二寸。自天樞至氣衝去腹中行三寸。入門不容穴平巨闕傍三寸。天樞平臍傍三寸。諸說紛紛。不能無疑矣。十四經。千金方。外臺。聖濟總錄。銅人經。資生經。金鑑所說為是。）</p>
<p>承滿　不容下一寸。</p>
<p>梁門　承滿下一寸。</p>
<p>關門　梁門下一寸。</p>
<p>太乙　關門下一寸。</p>
<p>滑肉門　太乙下一寸。</p>
<p>天樞　挾臍二寸。</p>
<p>外陵　天樞下一寸。</p>
<p>大巨　外陵下一寸。</p>
<p>水道　針灸聚英十四經合參等。在大巨下二寸。</p>
<p>注證分寸歌曰。樞下四寸。</p>
<p>歸來　徐氏大全曰。水道下一寸。</p>
<p>氣衝　醫學綱目曰。臍下兩旁陰毛際。橫骨端宛宛中有動脈是也。</p>
<p>西方子明堂曰。引刺熱論注曰。在腹臍下橫骨兩端鼠鼷上一寸。動脈應手。</p>
<p>骨空論曰。毛際動脈人鏡經醫學原始等。曲骨旁三寸。來施沛沛然。經穴指掌圖。氣衝曲骨傍三寸求。程氏醫彀曰。曲骨傍三寸為是也。</p>
<p>髀關　圖翼馬氏歌等。膝上一尺二寸。</p>
<p>伏兔　膝上六寸起肉。正跪坐而取之。</p>
<p>陰市　膝上三寸。</p>
<p>梁丘　膝上二寸。</p>
<p>犢鼻　醫學入門曰。在膝頭眼外側大筋陷中。</p>
<p>醫宗金鑑曰。從梁丘下行。遇膝蓋骨䯒骨上陷中。俗名膝眼。此處陷中。兩旁有空。狀如牛鼻。在外側者。</p>
<p>三里　膝眼下三寸。又曰極重。按之則趺上動脈止矣。</p>
<p>得效方曰。以手約膝取中指梢。盡處是穴。</p>
<p>巨虛　三里下三寸。舉足取之。</p>
<p>條口　下廉上一寸。舉足取之。</p>
<p>巨虛下廉　上廉下三寸。舉足取之。</p>
<p>入門曰。三里下六寸。</p>
<p>豐隆　銅人針灸圖經曰。外踝上八寸。</p>
<p>甲乙經。千金方。聖惠方。資生經。外臺秘要。聖濟總錄等。外踝上八寸。</p>
<p>解谿　醫學原始曰。在足腕上衝陽後寸半系鞋處。一法去內庭上六寸半。（營昇按。此穴剌瘧論注。在衝陽後三寸半。氣穴論注。二寸半。甲乙經圖翼發揮醫學原始。以衝陽後一寸五分。去內庭上六寸半為是。）</p>
<p>衝陽　足趺上五寸。骨間動脈。去陷谷三寸。（營昇按。醫宗金鑑曰。足趺上腳面高骨間動脈。張氏曰。即仲景所謂趺陽脈是也。銅人經發揮等。去陷谷三寸。針灸大全醫學入門。去內庭五寸。俱為是。）</p>
<p>陷谷　針灸大成曰足大指次指外間本節後陷中。去內庭二寸。（營昇按。甲乙經。千金方。外臺秘要。聖濟總錄。針灸聚英。針灸資生經。神應經。針方六集。醫學入門等。皆云去內庭二寸。此說為是。醫學原始曰。在足二指內側。本節後陷中。去內庭一寸。此說非也。內側二字。恐誤。何則。足陽明胃經陽經也。取之內側。則屬陰經。謬誤可知也。針灸大成曰。足大指次指外間。本節後去內庭二寸。此說尤為得之。）</p>
<p>內庭　足大指次指外間。</p>
<p>厲兌　針方六集曰在足大指次指之端。外側向中指邊。去爪甲如韭葉。</p>
<figure>
<img alt="足陽明胃經圖">
</figure>
<p>足陽明經接自手陽明迎香穴而起於目下七分上直瞳子陷中之承泣。循目下一寸為四白。夾鼻孔旁八分為巨髎。夾口吻旁四分為地倉。在曲頷前一寸三分骨陷中動脈為大迎。在耳下曲頰端近前陷中為頰車。客主人下耳前動脈為下關。額角入髮際為頭維。頸下夾結喉旁一寸五分大動脈應手為人迎。頸筋前直人迎下夾氣舍為水突。下夾天突邊陷中為氣舍。在肩上橫骨陷者中為缺盆。巨骨下夾俞府兩旁各二寸。去中行四寸陷中為氣戶。氣戶下一寸六分為庫房。庫房下一寸六分為屋翳。屋翳下一寸六分為膺窗。當乳之中為乳中。乳中下一寸六分為乳根。第四肋端幽門旁一寸五分去中行二寸為不容。不容下一寸為承滿。承滿下一寸為梁門。梁門下一寸為關門。關門下一寸為太乙。太乙下一寸為滑肉門。夾臍旁二寸為天樞。天樞下一寸為外陵。外陵下二寸為大巨。大巨下三寸為水道。水道下二寸為歸來。歸來下鼠鼷上一寸。動脈應手</p>
<figure>
<img alt="圖">
</figure>
<p>宛宛中。去中行二寸為氣衝。膝上伏兔後交紋中為髀關。膝上六寸起肉間。正跪坐而取之為伏兔。膝上三寸。拜而取之為陰市。</p>
<figure>
<img alt="圖">
</figure>
<p>圖示正跪坐而取之。膝上有肉起如兔狀。即伏兔穴。膝上二寸兩筋間為梁丘。</p>
<figure>
<img alt="圖">
</figure>
<p>循膝臏下。胻骨上。骨解大筋陷中。形如牛鼻為犢鼻。膝眼下三寸胻骨外廉大筋內宛宛中為三里。三里下三寸為上巨虛。下五寸為條口。上廉下三寸兩筋骨陷中為下巨虛。外踝上八寸為豐隆。足跗上五寸高骨間動脈為衝陽。衝陽後一寸五分為解谿。足大指次指外間本節後陷中為陷谷。外間陷中為內庭。次指端去爪甲如韭葉為厲兌。</p>
<p>足陽明起於鼻兩傍迎香穴。由是而上。左右相交於頞中。過晴明之分。下循鼻外。歷承泣四白巨髎。入上齒中。復出循地倉。挾兩口吻環繞唇下左右相交於承漿之分也。自承漿卻循頤後下廉出大迎。循頰車上耳前歷下關過客主人循髮際行懸釐頷厭之分。經頭維會於額顱之神庭。</p>
<p>其支別者。從大迎前下人迎。從喉嚨歷水突氣舍入缺盆。行足少陰俞府之外。下膈當上脘中脘之分。屬胃絡脾。</p>
<p>其直行者。從缺盆而下。下乳內廉循氣戶庫房屋翳膺窗乳中乳根不容承滿梁門關門太乙滑肉門下。挾臍歷天樞外陵大巨水道歸來諸穴。而入氣衝中也。</p>
<p>自屬胃處起。胃下口循腹裡過足少陰肓俞之外。本經之裡。下至氣衝。與前之入氣衝者合。</p>
<figure>
<img alt="圖">
</figure>
<p>督脈　神庭足太陽陽明　膀胱經　晴明手足太陽少陽　任脈　上脘足陽明手太陽</p>
<p>督脈之會　足陽明五脈之會　任脈之會</p>
<p>膽經　客主人懸釐頷厭共手　任脈　承漿足陽明任脈之會　任脈　中脘手太陽少陽足　</p>
<p>陽明所生任脈之會　會　陽明所生任脈之會</p>
<p>既相合氣衝中。乃下髀關抵伏兔。歷陰市梁丘。下入膝臏中經犢鼻。下循䯒外廉之三里巨虛上廉條口巨虛下廉豐隆解谿。下足跗之衝陽陷谷入中指外間之內庭。至厲兌而終也。</p>
<p>其支者。自趺上衝陽穴。別行入大指間斜出。足厥陰行間穴之外。循大指下出其端。以交於足太陰。</p>
<figure>
<img alt="圖">
</figure>
<p>足陽明之別名曰豐隆去踝八寸別走太陰據此則本經自豐隆別出者不入中指外間者明矣</p>
<p>其支者自趺上衝陽穴別行入大指間斜出足厥陰行間穴之外循大指下出其端以交於足太陰</p>

<h2>足太陰脾經</h2>
<p>（醫學入門曰。巳時自衝陽過交與足指隱白。循腿腹上行至腋下大包穴止。）</p>
<p>隱白　足大指內側端。去爪甲角如韭葉。</p>
<p>大都　足大指本節後陷中。</p>
<p>大白　足內側核骨下陷中。</p>
<p>神應經曰。在足大指內側。大都後一寸下一寸。</p>
<p>公孫　徐氏大全曰。在大指內側。去本節後一寸。</p>
<p>醫學入門曰。太白後一寸陷中。</p>
<p>商丘　圖翼曰。內踝下微前陷中。前有中封。後有照海。此穴居中。（神應經針灸大成共同。）</p>
<p>三陰交　內踝上三寸骨下陷中。（營昇按。神農皇帝針灸圖。甲乙經。外臺秘要。聖濟總錄。銅人腧穴針灸圖經。針灸資生經。針灸聚英。醫學入門。針灸大成。醫學原始。醫宗金鑑等。皆云內踝上三寸骨下。千金方聖惠方明堂灸經。俱為內踝上八寸。神應經圖翼針灸經驗方。為內踝上除踝三寸骨下陷中。此穴千金翼方所謂內踝上一尺。名三陰交者。而今世俗稱手一束者是也。）</p>
<p>漏谷　內踝上六寸骨下陷中。</p>
<p>地機　醫學入門曰。膝下五寸大骨後。</p>
<p>陰陵泉　膝下內側。輔骨下陷中。伸足取之。</p>
<p>血海　醫學原始曰。在膝臏上內廉赤白際二寸。用手按於膝上。大指向內廉。中指向外廉。指頭盡處是穴。</p>
<p>箕門　針灸聚英。醫學入門。醫學原始。經穴指掌圖等。皆云血海上六寸陰股內動脈應手筋間。</p>
<p>衝門　上去大橫五寸。在府舍下橫骨端約中動脈。</p>
<p>府舍　腹結下三寸。</p>
<p>醫宗金鑑曰。衝門上七分。</p>
<p>腹結　大橫下一寸三分。</p>
<p>大橫　醫學入門曰。平臍傍四寸半。（營昇按。甲乙經。銅人經。千金方。外臺。金鑑。皆曰去腹中行三寸半。注證發微。十四經。針灸聚英。古今醫統大成。入門。資生經。去腹中行四寸半。針方六集。去腹中行四寸。甲乙經。外臺。針方六集。腹哀下三寸。銅人經。聖濟總錄。聚英發揮。大成。原始合參。腹哀下三寸半。醫學綱目。腹哀下二寸五分。千金方。腹哀下二寸八分。考腹哀下一寸五分。古今醫統。腹哀下一寸三分。以上諸說皆不同。腹哀穴在期門下二寸。期門下二寸即當臍上四寸也。或云腹哀下三寸五分為大橫穴。又云三寸。又云二寸五分。又云二寸。又云一寸五分。又云一寸三分。以上之說俱不合骨度。不可拘拘。今取入門所說。定為平臍傍四寸半。</p>
<p>腹哀　日月下一寸五分。（營昇按。日月穴期門下五分。期門巨闕旁四寸半。巨關臍上六寸也。分寸歌曰。腹哀期下方二寸。）</p>
<p>食竇　針灸大成曰。天溪下一寸六分。去胸中行各六寸。</p>
<p>天溪　胸鄉下一寸六分。仰而取之。對膻中。</p>
<p>胸鄉　周榮下一寸六分。仰而取之。</p>
<p>周榮　中府下一寸六分。仰而取之。</p>
<p>大包　淵腋下三寸。</p>
<figure>
<img alt="足太陰脾經圖">
</figure>
<p>足太陰經接足陽明厲兌而起於足大指內側端。去爪甲角如韭葉之隱白。循大指本節後內側骨縫白肉際陷中為大都。內側核骨下赤白肉際陷中為大白。內側本節後一寸內踝前陷中為公孫。內踝下微前陷中為商丘。內踝上三寸骨下陷中為三陰交。內踝上六寸骨下陷中為漏谷。膝下五寸內側骨下陷中為地機。膝下內輔骨下陷中為陰陵泉。膝臏上一寸內廉白肉際陷中為血海。魚腹上越兩筋間陰股內廉動脈應手為箕門。</p>
<figure>
<img alt="圖">
</figure>
<p>上去大橫五寸。當府舍下橫骨兩端約紋中動脈為衝門。腹結下三寸去腹中行三寸半為府舍。大橫下一寸三分為腹結。腹哀下三寸五分平臍為大橫。日月下一寸五分為腹哀。天溪下一寸六分陷中為食竇。胸鄉下一寸六分陷中為天溪。周榮下一寸六分陷中為胸鄉。中府下一寸六分陷中為周榮。</p>
<figure>
<img alt="圖">
</figure>
<p>圖示本經大包穴系在淵腋下三寸。與淵腋章門帶脈環跳諸穴。均從腋下毛際中橫紋中之心經極泉穴直下。</p>
<figure>
<img alt="圖">
</figure>
<p>足太陰起大指之端。隱白穴。受足陽明之交也。由是循大指內側白肉際大都穴。過核骨。後歷大白公孫商丘上內踝前廉之三陰交也。由三陰交上腨內循䯒骨後之漏谷。上行二寸交出足厥陰經之前。至地機陰陵泉。自陰陵泉上循膝股內前廉之血海箕門。經衝門府舍會中極關元。復循腹結大橫會下脘。歷腹哀過日月期門之分。循本經之裡。下至中脘下脘之際。以屬脾絡胃也。</p>
<p>由腹哀上膈循食竇天溪胸鄉周榮。由周榮外曲折向下至大包。又自大包外曲折向上會中府上行。行人迎之裡。挾咽連舌本。散舌本而終也。</p>
<figure>
<img alt="圖">
</figure>
<p>其支者。由腹哀別行。再從胃部中脘穴之外上膈。注於膻中之裡。心之分。以交於手少陰。</p>
<p>中極關元皆三陰任脈之會</p>
<p>下脘　足太陰任脈之會</p>
<p>日月　足太陰少陽陽維之會</p>
<p>期門　足太陰任脈之會</p>
<p>中府　足太陰之會</p>

<h2>手少陰心經</h2>
<p>（醫學入門曰。午時自大包交與腋下極泉。循臂行至小指少衝穴止。）</p>
<p>極泉　臂內腋下。筋間動脈。</p>
<p>醫學入門十四經合參等。無臂內二字。</p>
<p>青靈　醫學原始曰。在肘上三寸。伸肘舉臂取之。</p>
<p>甲乙經千金方外臺秘要。闕此穴。</p>
<p>少海　醫學入門醫學原始等。肘內廉橫紋頭盡處陷中。</p>
<p>靈道　掌後一寸五分。</p>
<p>通里　腕後一寸。</p>
<p>陰郄　掌後脈中去腕五分。</p>
<p>醫學原始曰。在神門後半分。</p>
<p>神門　掌後銳骨之端。</p>
<p>少府　大全曰。掌內手小指本節後。</p>
<p>醫統大成聚英等。手小指本節後骨縫陷中。</p>
<p>少衝　手小指內廉端去爪甲角如韭葉。</p>
<p>針方六集。醫學入門。針灸大成。醫學原始等。手小指內側去爪甲角如韭葉。</p>
<figure>
<img alt="手少陰心經圖">
</figure>
<p>手少陰經起自腋下筋間動脈之極泉。循肘上三寸為青靈。肘內廉節後陷中為少海。掌後一寸五分為靈道。腕側後一寸陷中為通里。掌後脈中去腕五分為陰郄。掌後銳骨端陷中為神門。小指本節後骨縫陷中為少府。小指內側端去爪甲角如韭葉為少衝。</p>
<figure>
<img alt="圖">
</figure>
<p>手少陰經起於心循任脈之外。屬心系。下膈當臍上二寸之分絡。</p>
<p>小腸。其支者從心系出任脈之外。上行挾咽系目系。</p>
<p>其直者復從心系直上至肺臟之分出。循腋下於極泉也。自極泉下循臑內後廉。行太陰。心主兩經之後。歷青靈穴下肘內廉抵少海。自少海而下循臂內後廉神門。入掌內廉。至少府。循小指端之少衝而終。以交於手太陽也。</p>
<p>心為君主之官。示尊於他藏。故其交經授受不假於支別云。</p>
<figure>
<img alt="圖">
</figure>
<p>手少陰經起於心循任脈屬心系下膈當臍上二寸之分絡小腸其直者復從心系卻上肺出腋下</p>
<p>其支者從心系上挾咽系目系</p>

<h1>卷二</h1>

<h2>手太陽小腸經</h2>
<p>（入門曰。未時自少衝交與小指少澤。循肘上行至面聽宮穴止。）</p>
<p>少澤　手小指外側端。去爪甲角一分陷中。</p>
<p>前谷　手小指外側本節前陷中。</p>
<p>後谿　手小指外側本節後陷中。</p>
<p>儒門事親曰。屈小指握紋盡處是穴。</p>
<p>醫學原始曰。屈掌外側橫紋尖盡處是穴。（圖翼大成聚英入門。手小指外側本節後陷中。握掌取之。大全節後橫紋尖上。）</p>
<p>腕骨　入門曰。掌後外側高骨下陷中。握掌向內取之。</p>
<p>陽谷　手外側腕中兌骨下陷中。</p>
<p>醫學原始曰。一取法大筋上大骨下紋尖當中是穴。</p>
<p>養老　手髁骨上一空仰手探之。則有髁骨上一空。即當腕後一寸。</p>
<p>支正　腕後五寸。</p>
<p>小海　大成曰。肘外大骨外去肘端五分陷中。屈手向頭取之。</p>
<p>經筋篇曰。彈之應小指之上。</p>
<p>類注但於肘尖下兩骨罅中。以指捈其筋。則痠麻應於小指之上。是其驗也。</p>
<p>肩貞　醫學原始曰。肩髃後兩骨罅間。（髃恐當作髎。）</p>
<p>入門曰。肩髃後兩骨罅陷是穴。</p>
<p>臑俞　挾肩髎後大骨下胛上廉陷中。</p>
<p>天宗　秉風后大骨下陷中。</p>
<p>秉風　天髎外肩上小髃後舉臂有空。（營昇按。此穴諸書未言寸法先膽經。肩井後一寸。三焦經取天髎穴。天髎後一寸。隔骨間取之。）</p>
<p>曲垣　肩中央曲胛陷中。按之應手痛。</p>
<p>肩外俞　肩胛上廉。去脊中三寸陷中。</p>
<p>肩中俞　肩胛內廉。去脊中二寸陷中。</p>
<p>神照集分寸歌。肩中大椎傍。</p>
<p>天窗　頸大筋前。曲頰下。扶突後動脈應手陷中。</p>
<p>天容　耳曲頰後。</p>
<p>顴髎　面頄骨下。廉兌骨端陷中。</p>
<p>聽宮　入門曰。耳前珠子傍。（營昇按。三焦經與膽經之聽會中間取之。）</p>
<figure>
<img alt="手太陽小腸經圖">
</figure>
<p>手太陽經接自手少陰之少衝而起於手小指外側端去爪甲角一分陷中少澤穴。循本節前陷中為前谷。</p>
<p>本節後外側橫紋尖上為後谿。手外側腕前起骨下陷中為腕骨。腕中銳骨下陷中為陽谷。手外髁骨上一空腕後一寸陷中為養老。腕後外廉五寸為支正。肘內大骨外去肘端五分陷中為小海。屈手向頭取之。</p>
<figure>
<img alt="圖">
</figure>
<p>圖示取養老穴。須仰手見踝上一空即是。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>在肩曲胛下兩骨解間肩髃後陷中為肩貞。肩髎後大骨下胛上廉陷中為臑俞。秉風后大骨下陷中為天宗。肩上天髎外小髃骨舉臂有空為秉風。肩中央曲胛陷中為曲垣。肩胛上廉去脊大椎旁三寸陷中為肩外俞。在內廉去椎二寸陷中為肩中俞。頸大筋前曲頰下扶突後動脈為天窗。耳下曲頰下後為天容。面頄骨下廉銳骨端陷中為顴髎。耳中珠子大如赤小豆為聽宮。</p>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。手太陽小腸經起小指端少澤穴。由是循手外側之前谷後谿上腕出踝中。歷腕骨陽谷養老穴也。自養老穴直上。循臂骨下廉支正穴出肘內側兩腎之間。歷小海穴上循臑外後廉行手陽明少陽之外上肩。循肩貞臑俞天宗秉風曲垣肩外俞肩中俞諸穴。乃會大椎。因左右相交於兩肩之上。自交肩上入缺盆。循肩向腋下行。當膻中之分。絡心循胃系下膈。過上脘中脘抵胃。下行任脈之外。當臍上二寸之分屬小腸。其支者別從缺盆。循頸之天窗天容上頰抵顴髎。上至目銳眥過瞳子髎卻入耳中。循聽宮而終。</p>
<p>其支者別頰上䪼抵鼻。至目內眥晴明穴以交於足太陽也。</p>
<figure>
<img alt="圖">
</figure>

<h2>足太陽膀胱經</h2>
<p>（入門曰。申時自聽宮交與晴明。循頭頸下皆腰臀腿。至足小指至陰穴止。）</p>
<p>晴明　明堂灸經曰。目內眥頭外一分。</p>
<p>醫學原始曰。目內眥直紋中是穴。</p>
<p>攢竹　眉頭陷中。</p>
<p>氣府論醫統兩眉頭少陷。</p>
<p>眉沖　入門曰。直眉頭上神庭曲差間。（營昇按。入門原始。共此穴屬於膀胱之經部。今據而補焉。）</p>
<p>曲差　針方六集曰。挾神庭兩傍開一寸五分。在髮際正頭取之。</p>
<p>五處　針方六集曰。在星穴兩傍各開一寸五分上曲差一寸。</p>
<p>承光　五處後一寸五分。</p>
<p>馬氏曰。承光發上二寸半。</p>
<p>通天　承光後一寸五分。</p>
<p>絡卻　通天後一寸五分。</p>
<p>玉枕　絡卻後一寸五分。挾腦戶傍一寸三分。枕骨上入髮際三寸。（營昇按。甲乙經云。絡卻後七分。千金方並聖惠方。絡卻後七分半。銅人經聖濟總錄針方六集入門大成發揮原始聚英。絡卻後一寸五分。又云入髮際三寸。或二寸。自曲差至絡卻五寸半。玉枕穴。絡卻後一寸五分。取之於前髮際。則其間通計七寸也。腦戶穴自神庭至百會五寸。自百會至腦戶四寸五分。即為自前髮際通計九寸五分。是無挾腦戶傍之理。若從挾腦戶之說。則入髮際二寸五分為是。或云。入髮際三寸。非是。）</p>
<p>天柱　原始曰。在項後髮際大筋外廉陷中。</p>
<p>大杼　神照集曰。在項後第一椎下。兩旁各開一寸五分陷中。正坐取之。（營昇按。八脈考釋音曰。椎音槌。脊之骨節也。背輸篇類注曰。集即椎之義。指脊骨之節間也。古謂之焦。亦謂之顀。後世作椎。去脊中行說甚多矣。甲乙經千金方外臺聖濟總錄發揮銅人經大全大成背部第二行。相去脊中一寸五分。第三行相去脊中為三寸。醫統資生經聚英類經金鑑入門背二行。除脊一寸半。相去脊中二寸背三行。相去脊中三寸半。諸說不同。背二行相去脊中一寸半。背三行相去脊中三寸為是。滑氏曰。自大杼至白環諸穴。並第二行。相去脊中各一寸五分。歌曰。自大杼至白環。相去脊中三寸間。夫既曰脊中。則自脊骨中間量取。而非骨外量取明矣。圖翼曰。脊骨內闊一寸。凡云第二行夾脊一寸半。三行夾脊三寸者。除脊一寸外。故在二行。當為二寸。在三行。當為三寸半。聚英曰。當除去脊骨一寸外量取之。此說不可從。）</p>
<p>風門　第二椎下。</p>
<p>肺腧　第三椎下。</p>
<p>厥陰腧　第四椎下。</p>
<p>心腧　第五椎下。</p>
<p>督俞　入門曰。第六節下。外一寸半。</p>
<p>大成金鑑入門原始。共此穴屬於膀胱之經部。今據而補焉。</p>
<p>膈腧　第七椎下。</p>
<p>肝腧　第九椎下。</p>
<p>膽腧　第十椎下。</p>
<p>脾腧　第十一椎下。</p>
<p>胃腧　第十二椎下。</p>
<p>三焦腧　第十三椎下。</p>
<p>腎腧　第十四椎下。</p>
<p>聚英醫統圖翼。自大杼至腎俞。凡十三穴。皆有正坐取之四字。千金方曰。以杖量至臍及當脊骨。然後相去各一寸半腎俞也。按之雖然肥人腹垂則抵。瘦人腹平則臍平。今不論肥瘦。均以杖量之未有準。</p>
<p>針灸大全曰。令患人平身垂手。正立於平正木石之上。目無斜視。無偏倚。去上衣服。用切直杖子。從地以至臍中央截斷卻回杖子於背上當脊骨中杖盡處。即十四柱命門穴也。以墨記卻用稗心取同身寸三寸摺作一寸五分。兩頭是腎俞穴也。</p>
<p>氣海俞　第十五椎下。</p>
<p>大成入門金鑑原始。共屬於膀胱之經部。今據而補焉。</p>
<p>大腸俞　第十六椎下。</p>
<p>關元俞　第十七椎下。</p>
<p>大成入門金鑑原始。共此穴屬於膀胱經部。今據而補焉。</p>
<p>小腸俞　第十八椎下。</p>
<p>膀胱俞　第十九椎下。</p>
<p>中膂內俞　第二十椎下。</p>
<p>白環俞　第二十一椎下。伏而取之。</p>
<p>聚英醫統圖翼。自大腸俞至白環俞。凡五穴。皆伏而取之。</p>
<p>上髎　入門曰。腰髁骨下第一空。挾脊兩旁陷中。餘三窌少斜。上闊下狹是也。</p>
<p>次髎　第二空挾脊陷中。</p>
<p>中髎　第三空挾脊陷中。</p>
<p>下髎　第四空挾脊陷中。（營昇按。甲乙經上窌在第一空腰髁下一寸。挾者陷者中。足太陽少陽之絡也。釋骨曰。骶之上俠脊十七節至二十一節起骨曰腰髁骨。圖翼曰。腰髁腰骻。自十六椎而挾脊附著之處也。甲乙經所謂在上髎腰髁下一寸是。則自十七椎二十椎之間。左右挾脊者各上闊下狹有四孔。即是為八髎穴既明矣。又金鑑曰。腰骨即脊骨十四椎下十五十六椎間。尻上之骨也。尻骨者。腰骨下十七椎十八椎十九椎二十椎二十一椎五節之骨也。上四節紋之旁左右各四孔。骨形凹如瓦。長四五寸許。上寬下窄。末節更小。如人參蘆形。名尾閭。一名骶端。一名橛骨。一名窮骨。又刺腰痛論王注曰。髁下尻骨兩傍四骨空左右八穴。俗呼此骨為八髎骨也。又東醫寶鑑曰。嘗見死人骸腰脊骨盡處。有一骨。廣如人面。大四空分兩行了然通透。乃是八髎骨也。又刺腰痛論注曰。上髎當髁骨下陷中餘三窌少斜下陷中是也。寬政庚戌冬予得刑人骸。解而視之。腰髁左右。果有上闊下狹有骨空者。與刺腰痛論醫學入門東醫寶鑑所說符矣。因從其說云。</p>
<figure>
<img alt="左右髖骨圖一">
</figure>
<figure>
<img alt="左右髖骨圖二">
</figure>
<p>會陽　尾髎骨兩旁（銅人經。尾髎骨作尾骶。甲乙經作陰毛骨。）</p>
<p>營昇按。甲乙經曰。在陰毛骨兩傍督脈氣所發。故堀元厚安井元越因謂此穴移入於督脈。氣府論甲乙經本經穴雖系督脈。然至銅人經系之足太陽經也。蓋二十一椎下腰俞而非長強也。尾髎骨即脊椎最下一骨。而更在二十一椎下。長強亦在其下端耳。圖翼曰。男子尖。女子圓而平。神照集曰。在陰尻骨兩傍。去長強一分。</p>
<p>承扶　尻臀下股陰上紋中。</p>
<p>殷門　圖翼曰。承扶下六寸膕上兩筋之間。</p>
<p>浮郄　委陽上一寸。展膝得之。</p>
<p>委陽　入門曰。膝腕橫紋外廉兩筋間委中外二寸。（營昇按。村上宗占所謂滑氏注十四經之時。直從甲乙經用承扶下六寸屈身取之九字。加於委陽之注者。可謂疏漏耳。承扶下六寸屈身取之九字衍文。可削去矣。承扶下六寸。則此當股之中央。安有屈身之理乎。不可不辨焉。樓英醫學綱目詳言委陽之尺寸。今以經文考之。當曰一尺六寸。銅人經委陽在承扶下六寸。銅人經蓋祖甲乙經。甲乙經元脫一尺二字耳。余私以為醫學綱目承扶下有一尺二字。則當定為承扶下一尺六寸無疑矣。委陽穴一說足太陽之前。少陽之後。膕中外廉兩筋之間。屈膝取之是也。此說為尤得之。由是視之。委中即膕中央。委陽即膕之陽分。約文盡處兩筋之間是也。又按醫學原始曰。委陽穴在膝腕橫脈尖外廉兩筋間。委中外二寸。屈身取之。又針方六集曰。膝後約紋中尖兩筋間動脈。其穴伏臥取之。其他入門神照集諸書。並宜參考焉。）</p>
<p>委中　膕中央約紋中動脈。</p>
<p>神照集曰。膝後約紋中央兩筋間動脈。是穴伏臥取之。（營昇按。足太陽膀胱經。自晴明而始上巔頂。下天柱大杼挾脊為第二行。歷諸穴循尻臀下委中也。是謂膀胱之本經也。第三行從天柱別而下附分從附分至秩邊。歷諸穴下行而下委中。合於本經也。是謂膀胱之大絡脈也。蓋此經從附分而下秩邊。從秩邊又橫行於環跳。下行於髀外側合委中。）</p>
<p>附分　神照集曰。在第二椎下附項廉。去脊兩旁。各開三寸。正坐取之。</p>
<p>魄戶　第三椎下。</p>
<p>膏肓　圖翼曰。此穴自晉以前所未有。乃後人之所增也。千金方以後有此屬奇俞。諸家屬膀胱。（營昇按。甲乙經千金翼發揮為四椎下五椎上。圖翼五椎上四椎下各三寸半。大成四椎下一分。五椎上二分。大全四椎下二分微多。五椎上一分微少。醫學原始四椎下二分。五椎上二分。神照集四椎下微帶。五椎骨上兩傍。各開三寸。正坐開肩取之。入門四椎微下一分。五椎微上二分。諸說紛紛。不能歸定於一矣。明堂灸經銅人經姜希銅人聖濟總錄資生經綱目萬病回春莊綽膏肓灸法葉元善等。為四椎下兩傍同身寸各三寸。似穩當焉。今從之。）</p>
<p>神堂　第五椎下。</p>
<p>譩譆　第六椎下。</p>
<p>膈關　第七椎下。正坐闊肩取之。（營昇按。甲乙經闊作開肘與肘併合。則肩胛開闊膏肓神堂譩譆又如此。不然則胛骨覆經不得其穴也。）</p>
<p>魂門　第九椎下。</p>
<p>陽綱　第十椎下。</p>
<p>意舍　第十一椎下。</p>
<p>胃倉　第十二椎下。</p>
<p>肓門　第十三椎下。</p>
<p>醫統曰。在十三椎下兩旁。相去脊中各三寸陷中。叉肋間與鳩尾相直。正坐取之。</p>
<p>志室　第十四椎下。並正坐取之。</p>
<p>自附分至此。皆正坐取之。故曰並。</p>
<p>胞肓　第十九椎下。</p>
<p>十四經合參曰。十九椎下。兩旁相去三寸。伏取之。</p>
<p>秩邊　甲乙經曰。第二十一椎下。兩旁各三寸陷者中。（營昇按。明堂灸經銅人經綱目發揮大成以二十椎為秩邊非也。甲乙原始資生經王冰注以二十一椎為秩邊為是。）</p>
<p>合陽　甲乙經在膝約文中央下二寸。（千金方聚英馬氏發揮金鑑原始膝約文中央下三寸。醫學入門徐氏大全歌委中下一寸。甲乙經外臺聖濟總錄銅人經醫統綱目圖翼神照集十四經合參膝膕約紋下二寸。以二寸為是。</p>
<p>承筋　外臺秘要曰。引救急云。以繩從腳心下度至腳踵。便截斷度。則回此度從腳踵縱量向上盡度頭。當腨下際宛宛中是穴。（營昇按。醫統曰。腨腸中央陷中。脛後從腳跟上七寸。又醫學原始脛後腨股中央。從腳跟上七寸。醫統原始。共腳跟上七寸非也。腨股中央凡委中下至跟一尺六寸。在於其中央承筋穴。自跟者為八寸也。七寸不合。故外臺之說為是。）</p>
<p>承山　醫學原始曰。腨腸下分肉間陷中。貼腳見人字影取之。</p>
<p>神照集曰。在足兌腨腸下分肉間陷中。伏臥用兩足大指堅挺乃取之。</p>
<p>飛陽　入門原始曰。外踝上七寸骨後。</p>
<p>跗陽　銅人經外踝上三寸飛陽下。</p>
<p>甲乙經神照集。足外踝上三寸。太陽前少陽後筋骨間。</p>
<p>崑崙　醫統曰。足外踝後五分跟骨上陷中。細脈動應手。</p>
<p>僕參　明堂經曰。足跟骨下白肉際陷中。拱足取之。</p>
<p>申脈　大成曰。外踝下五分。</p>
<p>神應經曰。在外踝下陷中。容爪甲白肉際。前後有筋。上有踝骨。下有軟骨。其穴居中。</p>
<p>金門　神應經曰。有外踝下少後丘墟後申脈前。</p>
<p>八脈考曰。外踝下一寸五分。</p>
<p>京骨　聚英大成足小指本節後大骨名京骨。其穴在骨中。</p>
<p>束骨　足小指外側。本節後陷中。</p>
<p>通谷　足小指外側。本節前陷中。</p>
<p>至陰　足小指外側。去爪甲角如韭葉</p>
<figure>
<img alt="足太陽膀胱經圖">
</figure>
<p>足太陽經接手太陽聽宮穴而起於目內眥外一分宛宛中之晴明。循眉頭陷者中為攢竹。入髮際為曲差。曲差後五分為五處。五處後一寸五分為承光。承光後一寸五分為通天。通天後一寸五分為絡卻。絡卻後一寸五分為玉枕。俠項後大筋外廉髮際陷中為天柱。</p>
<figure>
<img alt="圖">
</figure>
<p>圖示天柱穴之旁。挾髮際大筋。為督脈瘂門膽經風池三焦經天牖。</p>
<figure>
<img alt="圖">
</figure>
<p>頂後第一椎下兩旁相去脊中各一寸五分陷中。正坐取之為大杼。中為臟腑之俞穴。下抵白環俞。當二十一椎。伏而取之。</p>
<figure>
<img alt="圖">
</figure>
<p>圖示腰髁下一寸。自十七椎二十椎之間。左右挾脊者。各上闊丁狹有四孔。則是為八髎穴。</p>
<figure>
<img alt="圖">
</figure>
<p>在陰尾尻骨兩旁為會陽。尻臀下股陰上約紋中為承扶。承扶下六寸膕上兩筋之間為殷門。委陽上一寸為浮郄。膕中央約紋動脈陷中為委中。膕中外廉兩筋間為委陽。</p>
<figure>
<img alt="圖">
</figure>
<p>天柱下第二椎兩旁。各去脊三寸。諸穴附之。而至秩邊。下與委中穴合。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>膝膕約紋下二寸為合陽。腨腸中央陷中。腳跟上七寸為承筋。腨腸下分肉間陷中為承山。足外踝外七寸後陷中為飛陽。足外踝上三寸為跗陽。足外踝後五分跟骨上陷中為崑崙。跟骨下陷中為僕參。足外踝下五分陷中為申脈。足外踝下一寸為金門。足小指外側本節後大骨下赤白肉際為京骨。足小指外側本節後陷中為束骨。本節前陷中為通谷。足小指外側如爪甲角如韭葉為至陰。</p>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。足太陽起目內眥晴明穴上額。循攢竹過神庭歷曲差五處承光通天。自通天斜行左右相交於巔上之百會也。</p>
<p>支別者。從巔之百會抵耳上角。過率谷浮白竅陰三穴。直行者。由通天穴後循絡卻玉枕入絡腦後。出下頂抵天柱也。</p>
<figure>
<img alt="圖">
</figure>
<p>自天柱而下。過大椎陶道卻循肩膊內挾脊兩傍。下行歷大杼風門肺腧厥陰腧心腧膈腧肝腧膽腧脾腧胃腧三焦腧腎腧大腸腧小腸腧膀胱腧中膂內腧白環腧。由是抵腰中入循膂絡腎下。屬膀胱也。</p>
<p>支別者。循腰中從腰髁下挾脊。歷上髎次髎中髎下髎。下貫臀至承扶殷門浮郄委陽。入膕中之委中穴也。</p>
<figure>
<img alt="圖">
</figure>
<p>支者為挾脊兩傍第三行相去各三寸之諸穴。自天柱而下。從髆內左右別行。下貫胂膂。歷附分魄戶膏肓神堂譩譆膈關魂門陽綱意舍胃倉肓門志室胞肓秩邊。下歷尻膂循髀外里髀樞之裡承扶之外一寸五分之間。而下與前之入膕中者相合。下行循合陽穴。下貫腨內歷承筋承山飛陽跗陽。出外踝後之崑崙僕參申脈金門。循京骨束骨通谷至小指外側端之至陰穴。以交於足少陰也。</p>

<h2>足少陰腎經</h2>
<p>（入門云。酉時自至陰交與足心湧泉。循膝腹上行至胸俞府穴止。）</p>
<p>湧泉　足心陷中。屈足卷指宛宛中。</p>
<p>神照集一方曰。踡足第三縫中。與大指本節平等。</p>
<p>然谷　足內踝前大骨下陷中。</p>
<p>照海　足內踝下。</p>
<p>大成曰。足內踝下四分。前後有筋。上有踝骨。下有軟骨。其穴居中陰蹻脈所生。（營昇按。照海以下四穴。不同經行。舉於諸說。經行異已矣。甲乙經發揮外臺秘要銅人卷一聚英太谿太鍾照海水泉。千金方聖濟總錄銅人卷三資生經金鑑醫彀大全綱目入門醫學原始太谿太鍾水泉照海。銅人卷四太谿水泉太鍾照海。神照集太谿照海太鍾水泉。諸說紛紛。今從於圖翼湧泉然谷照海太谿水泉太鍾為是。）</p>
<p>太谿　圖翼原始大成等。足內踝後五分。跟骨上動脈陷中。</p>
<p>聚英大成等。男子婦人病有此脈則生。無則死。</p>
<p>類注曰。經脈十二。而三經獨多動脈。而三經之脈。則手太陰之大淵。足少陰之太谿。足陽明上則人迎。下則衝陽。皆動之尤甚者。赤水玄珠曰。腎者乃人身之命帶。真氣之所生。太谿脈不動而死。</p>
<p>診家正眼曰。太谿者。腎脈也。凡病勢危篤。當候太谿。以驗其腎氣之有無。蓋水為天一之元。資始之本。故經曰。太谿絕。死不治。</p>
<p>水泉　太谿下一寸內踝下。</p>
<p>太鍾　圖翼曰。足跟後沖中大骨上兩筋間。</p>
<p>復溜　足內踝上二寸動脈陷中。</p>
<p>交信　入門曰。復溜前三陰交後筋骨間。</p>
<p>神照集曰。在內踝上二寸。少陰前。太陰後。筋骨間居復溜之後二穴相平。前旁骨是復溜。後旁筋是交信。二穴止隔一筋。</p>
<p>築賓　聖濟總錄聚英醫統。內踝上五寸腨分中。</p>
<p>陰谷　入門曰。膝內附骨後大筋下小筋上。動脈屈膝取之。（營昇按。肝經曲泉穴在膝橫紋頭是也。陰谷穴與曲泉隔一筋。大筋下小筋上屈膝取之。）</p>
<p>橫骨　太赫下一寸。（營昇按。腹中行之寸法。諸說多十四經。醫統聚英馬氏自幽門至肓俞。去腹中行五分。自中注至橫骨。腹去中行一寸五分。大成自幽門至商曲。去腹中行一寸五分。自肓俞至橫骨去腹中行一寸。入門自幽門至橫骨去腹中行一寸半。氣府論甲乙經千金方聖濟總錄外臺六集圖翼金鑑八脈考原始。自橫骨至幽門去腹中行各五分。其廣狹不同曰五分。或曰一寸。或曰一寸五分而無一定也。氣府論曰。衝脈氣之所發者。二十二穴。俠鳩尾外各半寸。至臍寸一。腹脈法也。蓋二十二穴者。自幽門至橫骨十一穴。左右共二十二穴也。寸一者。謂每寸一穴也。由此視之。衝脈腎經相併明矣。去腹中行以五分為是。）</p>
<p>太赫　氣穴下一寸。</p>
<p>氣穴　四滿下一寸。</p>
<p>四滿　中注下一寸。</p>
<p>中注　肓俞下一寸。（甲乙經曰。肓俞下五分。水穴論注曰。臍下五分。共非。）</p>
<p>肓俞　商曲下一寸。去臍傍五分。（營昇按。此穴村上宗占所謂圖翼肓俞在商曲下一寸。當作二寸。直臍去臍中五分。張氏之說實是也。然氣府論衝脈氣所發者二十二穴。俠鳩尾外各半分。至臍每寸一俠臍下傍各五分。至橫骨每寸一云云。如此則張氏商曲下二寸者。不合也。滑氏之說。以一寸為是。）</p>
<p>商曲　石關下一寸。</p>
<p>石關　陰都下一寸。</p>
<p>陰都　通谷下一寸。</p>
<p>通谷　幽門下一寸。</p>
<p>幽門　銅人經在巨闕傍五分。（營昇按。諸書幽門俠巨闕傍五分。滑氏上脘在巨闕下一寸。當一寸五分。去蔽骨三寸。因是考之。巨闕臍上六寸五分。幽門亦臍上六寸五分。馬氏曰。巨闕言臍上六寸五分。此等之說。皆上脘者。因於巨闕下一寸五分之說。氣府論言。每寸各一。則幽門臍上五寸。上脘旁當焉。姑從此。）</p>
<p>步廊　神封下一寸六分。去中行二寸。仰臥取之。</p>
<p>神封　靈墟下一寸六分。</p>
<p>靈墟　神藏下一寸六分。</p>
<p>神藏　或中下一寸六分。（營昇按。此穴任脈紫宮傍二寸。明堂灸經紫宮在華蓋下一寸。因於此視之。六分二字。可削去。）</p>
<p>或中　俞府下一寸六分。（營昇按。此穴任脈華蓋傍二寸。資生經華蓋在璇璣下一寸。明堂經在輸府下一寸。由是視之。六分二字。可削去。）</p>
<p>俞府　巨骨下璇璣旁二寸。</p>
<p>廉泉　根結篇曰。足少陰根於湧泉結廉泉。</p>
<p>氣府論曰。足少陰舌下各一。王注足少陰舌下二。在人迎前陷中動脈前。是曰舌本。左右二也。足少陰脈氣所發。</p>
<p>口齒類要曰。舌下廉泉。此屬少陰。</p>
<p>刺瘧論曰。舌下兩脈者。廉泉也。一名舌下。</p>
<figure>
<img alt="足少陰腎經圖一">
</figure>
<figure>
<img alt="足少陰腎經圖二">
</figure>
<p>足少陰經接自足太陽至陰穴而起於足心陷中之湧泉。斜行足內踝前起大骨下陷者中為然谷。內踝下一寸陷中為照海。內踝後五分跟骨上動脈陷中為大溪。大溪下一寸為水泉。足跟後沖中大骨上兩筋間為大鐘內踝後上。除踝二寸陷者中為復溜。內踝上二寸少陰前太陰後筋骨間為交信。內踝後上腨分中為築賓。膝下內輔骨後大筋下小筋上為陰谷。</p>
<figure>
<img alt="圖">
</figure>
<p>太赫下一寸為橫骨。氣穴下一寸為太赫。四滿下一寸為氣穴。中注下一寸為四滿。肓俞下一寸為中注。商曲下一寸直臍傍為肓俞。石關下一寸為商曲。陰都下一寸為石關。通谷下一寸夾中脘為陰都。幽門下一寸夾上脘為通谷。夾巨闕兩傍各五分陷中為幽門。神封下一寸六分為步廊。靈墟下一寸六分為神封。神藏下一寸六分為靈墟。或中下一寸六分為神藏。俞府下一寸六分為或中。巨骨下夾璇璣旁二寸陷中為俞府。按根結篇云。少陰根於湧泉。結於廉泉。今補此。</p>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。足少陰起小指。下斜向足心之湧泉穴。由湧泉轉出足內踝然谷穴下。循內踝後太谿穴。別入跟中之太鍾照海水泉。乃折自太鍾之外。上循內踝行厥陰太陰之後。經復溜交信過三陰交上腨內循築賓。出膕內廉抵陰谷也。由陰谷上股內後廉貫脊會於脊之長強穴。還出於前循橫骨太赭氣穴四滿中注肓俞之所。臍之左右屬腎下。臍下過關元中極而絡膀胱也。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>其直行者。從肓俞屬腎處上行。循商曲石關陰都通谷諸穴貫肝。上循幽門上膈。歷步廊入肺中。循神封靈墟神藏或中俞府。而上循喉嚨。並人迎。挾舌本而終也。</p>
<p>其支者。自神藏別出。繞心注胸之膻中。以交於手厥陰也。</p>

<h2>手厥陰心包經</h2>
<p>（入門曰。戌時自俞府交與乳後天池。循手臂下行至中指中衝穴止。）</p>
<p>天池　腋下三寸。乳後一寸。</p>
<p>天泉　千金方曰。腋下二寸。舉腋取之。（營昇按。聖濟總錄銅人經卷之三資生經聚英醫統入門原始合參。曲腋下二寸。舉臂取之。銅人經卷之一甲乙經發揮。曲腋下去臂二寸。舉臂取之。銅人經卷之四。曲腋下去肩二寸。村上宗占謂去臂二字者。即曲澤上二寸為天泉無疑也。諸說由腋下二寸者。伺何由然哉。曲澤上不二寸。則又去臂二寸無由也。宗占說為是。千金方外臺聖濟總錄醫統資生經聚英入門原始合參。無去臂二字。唯銅人經四去肩二字而非去臂者明矣。）</p>
<p>曲澤　神應經曰。肘內廉陷中。屈肘得之。大筋內側橫紋中動脈。</p>
<p>郄門　掌後去腕五寸。</p>
<p>間使　入門曰。太陵後三寸。</p>
<p>內關　入門曰。太陵後二寸。</p>
<p>太陵　千金方曰。掌後第一橫紋後兩筋間。</p>
<p>勞宮　掌中屈無名指取之。</p>
<p>徐歌曰。勞宮橫紋在掌中。</p>
<p>資生經。一名掌中。</p>
<p>中衝　大全曰。手中指端內廉去爪甲如韭葉。</p>
<p>手厥陰心包經圖</p>
<p>手厥陰經接自足少陰之俞府。而起於乳後一寸腋下三寸之天池。循腋下去肩臂二寸為天泉。肘內廉橫紋陷中為曲澤。掌後去腕五寸為郄門。掌後三寸兩筋間陷中為間使。掌後去腕二寸兩筋間為內關。掌後骨下橫紋中兩筋間為大陵。掌中央動脈為勞宮。在手中指端去爪甲如韭葉為中衝。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。手厥陰受足少陰之交起於胸中。出屬心包。由是下膈歷絡於三焦之上脘中脘及臍下一寸。下焦之分。</p>
<p>支者。自屬心包。上循胸出脅下腋三寸天池穴。上行抵腋下。下循臑內之天泉穴。以介手太陰少陰兩經之中間。入肘中之曲澤也。由肘中下臂行臂兩筋之間。循郄門間使內關大陵入掌中勞宮穴。循中指出其端之中衝云。</p>
<p>支別者。自掌中勞宮穴別行。循小指次指出其端。而交於手少陽也。</p>

<h2>手少陽三焦經</h2>
<p>（入門曰。亥時自中衝交與手四指關衝。循臂上行至面耳門穴止。）</p>
<p>關衝　大成曰。小指次指外側去爪甲角如韭葉。</p>
<p>入門曰。手四指端外側去爪甲角如韭葉。</p>
<p>大全無名指外端。</p>
<p>液門　入門大全。小指次指本節前。</p>
<p>中渚　手小指次指本節後間陷中。</p>
<p>醫統大成。手小指次指本節後陷中。在腋門下一寸。</p>
<p>神應經入門大成。握掌取之。</p>
<p>陽池　入門曰。手掌背橫紋陷中。</p>
<p>外關　入門曰。陽池後二寸</p>
<p>支溝　入門曰。陽池後三寸。兩筋骨間。</p>
<p>會宗　入門曰。支溝外旁一寸空中。</p>
<p>神照集曰。在腕後三寸如外五分。（營昇按。外臺標註程敬通曰。腕後三寸空中腕。後空唯兩骨陷中耳。別無有空也。又支溝會宗腕後三寸。兩穴相併。會宗去支溝傍一寸。其間隔一筋。支溝在大指之方。會宗在小指之方。會宗近於手陽明。支溝近於手太陽。）</p>
<p>三陽絡　入門曰。陽池後四寸。</p>
<p>大成原始支溝上一寸。</p>
<p>徐氏馬氏腕後四寸。</p>
<p>四瀆　肘前五寸。外廉陷中。</p>
<p>天井　肘外大骨後上一寸。兩筋間陷中。屈肘取之。</p>
<p>清冷淵　金鑑曰。天井上行一寸。（營昇按。甲乙經肘上一寸。外臺銅人資生。俱肘上二寸。千金方大全綱目入門三寸。以肘上二寸。直天井上一寸為是。）</p>
<p>消濼　肩下臂外間腋斜肘分下行。（營昇按。此穴諸書未謂寸法。難得其穴。先清冷淵與臑會。當以其二穴正中。為本穴也。）</p>
<p>臑會　肩前廉去肩頭三寸。</p>
<p>肩髎　肩端臑上。舉臂取之。（營昇按。此穴大腸經肩髃與小腸經臑俞之中間。是穴。）</p>
<p>天髎　大成曰。肩缺盆中上毖骨際陷中。須缺盆陷處。上有穴起肉上是穴。（毖骨氣府論王注。作伏骨。即肩井後耎骨是也。）</p>
<p>圖翼曰。直肩井後一寸。</p>
<p>天牖　十四經合參曰。頸筋缺盆上天容後。天柱前。完骨下。入髮際四分。（營昇按。小腸經天容後。膽經風池前。完骨下發際。督脈瘂門。膀胱經天柱膽經風池。三焦經天牖。四穴相併取之。）</p>
<p>翳風　耳後尖角陷中。按之耳中痛。</p>
<p>瘛脈　耳本後。雞足青脈中。</p>
<p>大成合參。耳本後。雞足青格脈。（營昇按。瘛脈顱息之二穴。諸書未謂寸法。難求正穴。先定翳風角孫二穴。而後得之。其法取一繩當翳風穴自耳後斜上至角孫穴。截斷之。復以其繩三折之。第一折處瘛脈。第二折處顱息是也。）</p>
<p>顱息　大成合參。在耳後青絡脈。</p>
<p>角孫　耳郭中間上開口有空。</p>
<p>原始曰。在耳郭上中間。髮際下閉口有空。（營昇按。大成原始合參。絲竹空和髎耳門為循序。姑從於發揮經行已矣。）</p>
<p>耳門　耳前起肉當耳缺中。</p>
<p>和髎　耳前兌發下橫動脈。</p>
<p>絲竹空　眉後陷中。</p>
<figure>
<img alt="手少陽三焦經圖">
</figure>
<p>手少陽經接自手厥陰中衝而起於手四指端外側爪甲角如韭葉之關衝。循小指次指歧骨間陷中為液門。四指本節後間陷中為中渚。手表腕上陷者中為陽池。腕後二寸兩筋間為外關。腕後三寸兩骨間為支溝。支溝外旁一寸為會宗。臂上大交脈支溝上一寸為三陽絡。肘前五寸外廉陷中為四瀆。肘外大骨尖後肘上一寸兩筋間陷中為天井。肘上二寸為清冷淵。肩下臂外間腋斜肘分下行為消濼。臂前廉去肩端三寸為臑會。肩端臑上陷中為肩髎。缺盆中上毖骨際陷中為天髎。</p>
<figure>
<img alt="圖">
</figure>
<p>圖示清冷淵在肘上二寸。伸肘舉臂取之。天井在肘外大骨尖後肘上一寸兩筋間陷中。</p>
<figure>
<img alt="圖">
</figure>
<p>頸大筋外缺盆上天容後天柱前完骨下發際中上夾耳後一寸為天牖。耳後尖角陷中為翳風。耳本後雞足青絡脈中為瘛脈。耳後間青絡脈中為顱息。耳廓中間上髮際下開口有空為角孫。耳前起肉當耳缺處陷中為耳門。耳前兌發下橫動脈為和髎。眉後陷中為絲竹空。</p>
<p>滑氏曰。手少陽起小指次指端關衝穴上出次指之間。歷液門中渚。循手表腕之陽池。出臂外兩骨之間。循外關支溝會宗三陽絡四瀆。乃上貫肘。抵天井穴也。從天井上行。循臂臑之外。歷清冷淵消濼行手太陽之裡。陽明之外。上肩循臑會肩髎天髎。交出足少陽之後。過秉風肩井。下入缺盆。復由足陽明之外。而交會於膻中。散布絡繞於心包。乃下膈當胃上口。以屬上焦。於中脘。以屬中焦。於陰交。以屬下焦也。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>支者。從膻中而上出缺盆之外。上項過大椎循天牖上挾耳後。經翳風瘛脈顱息直上出耳上角。至角孫過懸釐頷厭。及過陽白晴明屈曲下頰。至䪼會顴髎之分也。</p>
<figure>
<img alt="圖">
</figure>
<p>支者。從耳後翳風穴入耳中。過聽宮歷耳門和髎卻出。至目銳眥會瞳子髎。循絲竹空而交於足少陽也。</p>
<figure>
<img alt="圖">
</figure>

<h1>卷三</h1>

<h2>足少陽膽經</h2>
<p>（入門曰。子時自耳門交與目眥瞳子窌。循頭耳側脅下行。至足小指竅陰穴止。）</p>
<p>瞳子髎　目外眥五分。</p>
<p>醫學原始曰。在眉梢頭尖下盡處。</p>
<p>聽會　大成曰。在耳微前陷中。</p>
<p>明下經曰。在耳微前陷者中。張口有穴。</p>
<p>圖翼曰。去耳珠下開口有空。側臥張口取之。</p>
<p>客主人　耳前起骨上廉。開口有空。動脈宛宛中。</p>
<p>頷厭　入門曰。對耳額角外。</p>
<p>懸顱　入門曰。斜上額角中。在懸釐間。</p>
<p>懸釐　入門曰。從額斜上頭角下陷。（營昇按。此三穴。諸書未言寸法。欲求其穴。則先定胃經頭維穴與曲賓穴而後得之。即以一繩當頭維穴曲賓穴截斷之。復以其繩四折之。第一折處是頷厭。第二折處是懸顱。第三折處是懸釐。）</p>
<p>曲賓　入門原始俱曰。耳上入髮際曲隅陷中。鼓頷有空。以耳掩前尖處是穴。經穴指掌圖孔穴歌曰。掩耳正尖上。</p>
<p>率谷　原始曰。在耳尖上入髮際。一寸五分。</p>
<p>銀海精微曰。將耳摺轉尖上比寸半。盡處。是率谷穴。</p>
<p>天衝　銅人經。耳後入髮際二寸。</p>
<p>浮白　耳後入髮際一寸。</p>
<p>竅陰　完骨上。枕骨下。搖動有空。（營昇按。天衝浮白竅陰三穴。雖有分寸。難得而取。故欲求其穴。則先以一繩當率谷穴向後。斜行至完骨。中央截斷。再以其繩為四折求三穴。率谷後第一折。入髮際二寸。是天衝穴也。天衝後第二折。入髮際一寸。是浮白穴也。浮白後第三折。是完骨上。完骨謂耳後之高骨也。枕骨謂腦後之橫骨也。骨空論。頭橫骨為枕者是也。言搖動有空。非謂俯仰鼓頷完骨邊。所動搖之謂也。）</p>
<p>完骨　耳後入髮際四分。</p>
<p>本神　原始曰。神庭各開三寸。曲差旁一寸五分。</p>
<p>陽白　眉上一寸直瞳子。</p>
<p>臨泣　醫統曰。目上直入髮際五分陷中。令患人正睛取穴。（營昇按。本神與曲差之中間。神庭旁二寸二分五釐為是。）</p>
<p>目窗　臨泣後一寸。</p>
<p>正榮　目窗後一寸。</p>
<p>承靈　正榮後一寸五分。</p>
<p>腦空　承靈後一寸五分。</p>
<p>風池　十四經合參曰。在腦空後髮際陷中。（營昇按。三焦經天牖與膀胱經天柱之中間是穴也。）</p>
<p>肩井　肩上陷中。缺盆上。大骨前一寸半。以三指按取之。當中指下陷中者是。</p>
<p>神照集曰。取法肩上陷是缺盆。其上一寸半是柱骨。如取左穴。用本人右手小指。按於左肩。柱骨尖上。平排三指。取中指下第一節中是穴。取右穴亦如是。</p>
<p>原始曰。以手小指頭節。按於巨骨上。取中指第二節橫紋是穴。</p>
<p>兼羅集曰。此穴五臟真氣所聚。</p>
<p>淵液　液下三寸宛宛中。舉臂取之。</p>
<p>輒筋　入門曰。淵液前一寸。</p>
<p>日月　期門下五分。</p>
<p>京門　圖冀曰。在臍上五分。傍九寸半。季肋本俠脊側臥屈上足伸下足。舉臂取之。</p>
<p>帶脈　注證曰。章門下一寸八分。</p>
<p>圖翼曰。在季脅下一寸八分陷中。一云臍旁八寸半。肥人九寸。瘦人八寸。如帶繞身。管束諸經。</p>
<p>大成曰。季肋下一寸八分。臍上二分。兩旁各七寸半。</p>
<p>五樞　帶脈下三寸。</p>
<p>經脈篇馬注曰。去帶脈三寸。季脅下四寸八分。（營昇按。聖濟總錄聖惠方甲乙經外臺千金方銅人經醫統資生聚英帶脈下三寸。水道傍一寸五分是。）</p>
<p>維道　章門下五寸三分。</p>
<p>甲乙經聖濟總錄千金方外臺聚英資生經醫統銅人經六集入門金鑑。章門下五寸三分。</p>
<p>居髎　氣府論。王注曰。在章門下四寸三分。骼骨上。原始神照集環跳上一寸。</p>
<p>環跳　神照集曰。在髀樞中側臥屈上足。伸下足以左手按穴。右手搖撼取之。穴在陷中。</p>
<p>風市　神照集曰。在膝上七寸。股外側兩筋間。垂手中指點到處是穴。</p>
<p>神農皇帝針灸圖資生經大全入門大成金鑑經穴指掌圖原始。共屬於膽經部分。據而補焉。</p>
<p>中瀆　神照集曰。在髀骨外膝上五寸。分肉間陷中。</p>
<p>陽關　徐氏大全入門等。陽陵泉上二寸。（營昇按。此穴屈膝於橫文之尖。點墨而後。伸足其點是穴。用此法則大率當陽陵泉上二寸。）</p>
<p>陽陵泉　原始曰。在膝品骨下一寸。外廉輔骨陷中。（營昇按。與足太陰經陰陵泉相對伸足取之。）</p>
<p>陽交　原始曰。在外踝斜七寸。一云與外丘並斜。向三陽分肉間。（營昇按。三陽異本三作二。二陽足陽明胃經。足太陽膀胱經也。胃經行前出於大指次指端厲兌穴。膀胱經行後出於小指外側端至陰穴。此膽經行前後兩經分肉之間。出於小指次指端竅陰穴。）</p>
<p>外丘　神照集曰。足外踝上七寸。與陽交平差後一寸。</p>
<p>光明　足外踝上五寸。</p>
<p>陽輔　入門曰。外踝上四寸。附骨前絕骨端。</p>
<p>一名絕骨（本義曰。絕骨一名陽輔。）一名絕骨（剌瘧論王注。陽輔。一名絕骨。）</p>
<p>懸鐘　足外踝上三寸動脈中。</p>
<p>一名絕骨（千金方原始聚英。）</p>
<p>營昇按。甲乙經曰。足外踝上三寸動者中。足三陽絡。按之陽明脈絕。乃取之。又千金方曰。懸鐘一名絕骨。在外踝上三寸動者中。足三陽絡。又針灸聚英曰。懸鐘一名絕骨。足外踝上三寸動脈中。千金方聚英原始。皆懸鐘一名絕骨。又刺瘧論王注。陽輔一名絕骨。又難經本義。絕骨一名陽輔。十四經發揮滑氏注。外踝以上為絕骨。竇漢卿外踝上為絕骨。是以骨位言也。非言穴名也。又千金翼曰。在足外踝上三指。當骨上取法。以草從手指中文橫三指令至兩畔齊。將度外踝從下骨頭與度齊。向上當骨點之。又千金方灸腳氣絕骨者。以一夫取之。是即腳氣八處灸法之絕骨也。世醫專治腳氣。或中風。或水腫。或膝脛痠麻疼痛。皆灸絕骨。予常考索懸鐘之主治。聖濟總錄銅人經。膝䯒筋瘛足不收。履坐不能起。又聖惠方。心腹脹滿。膝脛連腰痛。筋攣急腿胯膝脛痹麻。屈伸難。針方六集。腳氣心腹脹滿水腫百節痛左癱右瘓兩足不隨。又聚英。腳氣膝䯒痛筋骨攣痛足不收中風手足不隨。又入門。濕痹流腫筋急瘛瘲。又醫學原始。腳氣紅腫起坐艱難。因是觀之。懸鐘穴為絕骨可知也。）</p>
<p>丘墟　大成曰。在足外踝下。從前陷中骨縫中。去臨泣三寸。又俠谿穴中量上。外踝骨前五寸。</p>
<p>臨泣　神照集曰。在足小指次指本節外側後筋骨縫陷者。去俠谿穴一寸五分。</p>
<p>地五會　足小指次指。本節後陷中。</p>
<p>銅人經資生經聚英原始大全足小指次指。本節後陷中。去俠谿一寸。</p>
<p>俠谿　足小指次指岐骨間。本節前陷中。</p>
<p>竅陰　大成曰。在足小指次指端外側去爪甲角。</p>
<figure>
<img alt="足少陽膽經圖一">
</figure>
<figure>
<img alt="足少陽膽經圖二">
</figure>
<p>滑氏。此經頭部。自瞳子髎至風池。凡二十穴。作三折。自瞳子髎至完骨是一折。又自完骨外折上至陽白會晴明。是一折。</p>
<p>又自晴明上行。循臨泣風池是一折。足少陽經接自手少陽之絲竹空而起於目外去眥五分之瞳子髎。循耳前陷中客主人下一寸為聽會。耳前起骨上廉開口有空為客主人。耳前曲角顳顬上廉為頷厭。耳前曲角上顳顬之中為懸顱。顳顬下廉為懸釐。耳上入髮際曲隅陷中為曲髩。耳上入髮際一寸半陷中為率谷。耳後入髮際二寸為天衝。入髮際一寸為浮白。在完骨上枕骨下搖動有空為竅陰。耳後入髮際四分為完骨。曲差旁一寸五分為本神。眉上一寸直瞳子為陽白。</p>
<figure>
<img alt="頭部全經圖一">
</figure>
<figure>
<img alt="頭部全經圖二">
</figure>
<p>目上直入髮際五分陷中正睛取之為臨泣。臨泣後一寸為目窗。目窗後一寸為正營。正營後一寸五分為承靈。承靈後一寸五分為腦空。耳後顳顬後腦空下發際陷中為風池。</p>
<figure>
<img alt="圖">
</figure>
<p>足外踝上七寸斜屬三陽分肉間為陽交。外踝上七寸為外邱。外踝上五寸為光明。外踝上除骨四寸為陽輔。踝上三寸當骨尖前動脈中為懸鐘。外踝下陷中為邱墟。小指次指本節後間陷中去俠谿一寸半為臨泣。本節後去俠谿一寸為地五會。本節後歧骨間陷中為俠谿。小指次指端去爪甲如韭葉為竅陰。</p>
<figure>
<img alt="圖">
</figure>
<p>肩上陷解中缺盆上大骨前一寸半為肩井。腋下三寸為淵腋。復前行一寸著脅為輒筋。期門下五分為日月。監骨腰中季脅為京門。季脅下一寸八分陷中為帶脈。帶脈下三寸為五樞。五樞下五分為維道。章門下四寸三分為居髎。髀樞中側臥伸下足屈上足取之為環跳。髀骨外膝上五寸分肉間為中瀆。陽陵泉上三寸為陽關。膝上一寸外廉為陽陵泉。</p>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。足少陽經起目銳眥之瞳子髎。於是循聽會客主人上抵頭角。循頷厭下懸顱懸釐。由懸釐外循耳上髮際至曲賓率谷。由率谷外折下耳後循天衝浮白竅陰完骨。又自完骨外折上通角孫。循本神過曲差下至陽白會晴明。復從晴明上行。循臨泣目窗正營承靈腦空風池云。自風池循頸過天牖穴。行手少陽脈之前。下至肩上。循肩井卻左右相交。出手少陽之後。過大椎大杼秉風。當秉風前入缺盆之外。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>其支者。別自目外瞳子髎而下大迎。合手少陽於䪼當顴髎穴之分。下臨頰車下頸。循本經之前。與前之入缺盆者相合。下胸中天池之外貫膈。即期門之所絡。肝下至日月之分。屬於膽也。自屬膽處。循脅內章門之裡。出氣沖。繞毛際。遂橫入髀厭中之環跳也。直者從缺盆直下腋。循胸歷淵腋輒筋日月穴。過季脅循京門帶脈五樞維道居髎。由居髎入上髎長強。而下與前之入髀厭者相合。乃下循髀外。行太陽陽明之間。歷中瀆陽關。出膝外廉抵陽陵泉也。自陽陵泉下外輔骨前。歷陽交外丘光明。直下抵絕骨之端。循陽輔懸鐘而下出外踝之前。至丘墟循足面之臨泣地五會俠谿。乃入小指次指之間。至竅陰而終也。支者。自足跗上歸泣穴別行入大指。循岐骨內出大指端。還貫入爪甲出三毛。交於足厥陰也。</p>

<h2>足厥陰肝經</h2>
<p>（入門曰。丑時自竅陰交與足大指端大敦。循膝股上行至腹期門穴止。寅時復行於肺經也。）</p>
<p>至真要大論曰。帝曰。厥陰何也。岐伯曰。兩陰交盡也。</p>
<p>類注曰。厥盡也。兩陰交盡。陰之極也。</p>
<p>大敦　足大指。去爪甲如韭葉。及三毛中。</p>
<p>醫統聚英針灸六要。內側為隱白。外側為大敦。</p>
<p>行間　入門神照集原始。共足大指次指。岐骨間動脈陷中。</p>
<p>太衝　圖翼曰。足大指本節後行間上二寸。</p>
<p>至真要大論曰。太衝絕。死不治。又云。診病人太衝脈有無。可以訣死生。</p>
<p>中封　大成曰。足內踝骨前一寸。筋里宛宛中。</p>
<p>蠡溝　內踝上五寸。</p>
<p>中都　大成曰。內踝上七寸。胻骨中。與少陰相直。</p>
<p>膝關　神照集曰。在膝蓋骨下。內側陷中。與犢鼻平相去二寸。</p>
<p>大成曰。犢鼻下二寸旁陷中。（營昇按。此所稱犢鼻。非指穴而言。指犢鼻骨。）</p>
<p>曲泉　大成曰。膝股上內側輔骨下。大筋上。小筋下陷中。屈膝橫紋頭取之。</p>
<p>陰包　膝上四寸。股內廉兩筋間。</p>
<p>五里　氣衝下三寸。陰股中動脈。</p>
<p>陰廉　神照集曰。在羊矢下。羊矢者。膚中有核。如羊矢也。去氣衝二寸。動脈中。</p>
<p>急脈　氣府輪曰。厥陰毛中急脈各一。王注曰。有陰毛中。陰上兩旁。相去同身寸之二寸半。</p>
<p>圖翼曰。按此穴自甲乙經以下諸書。皆無是遺誤也。經脈篇曰。足厥陰循股陰入毛中過陰器。又曰。其別者。循脛上睪結於莖。然此實厥陰之正脈。而會於陽明者也。</p>
<p>章門　圖翼曰。肘盡處是穴。一云在臍上一寸八分。兩旁各八寸半。（營昇按。醫彀曰。章門臍上二寸量橫取八寸看兩傍。針灸經驗方臍上二寸。兩旁八寸。神照集曰。在大橫外直季脅端肘盡處是穴。俠下脘兩旁九寸。分寸歌章門下脘兩旁九寸。肘尖盡處。側臥取。聚英大橫外直季肋端臍上二寸。兩旁九寸。入門臍上二寸。橫取六寸。側脅季肋端。神應經臍上二寸兩旁。各六寸。金鑑大橫穴外季肋直臍軟骨端臍上二寸。兩旁開六寸。側臥取。肘尖盡處。原始臍上二寸。橫取六寸側。脅季肋端。聖惠方大橫外直臍季肋端是穴。必須側臥。伸下腳縮上腳。乃得穴也。甲乙經大橫外直臍季脅端。銅人經大橫外季肋端。十四經合參。季脅端臍上三寸兩旁開九寸。側臥肘尖盡處。諸說多端。不一定矣。要之因人有肥瘦。不能無少異同。姑以圖翼所說。臍上一寸八分兩旁八寸半肘尖盡處。為是。）</p>
<p>期門　分寸歌在巨闕旁四寸五分。無差矣。</p>
<figure>
<img alt="足厥陰肝經圖">
</figure>
<p>足厥陰經接自足少陽竅陰而起於足大指端去爪甲韭葉之大敦循大指間動脈應手陷中為行間。大指本節後二寸為大沖。足內踝前一寸筋里宛宛中為中封。踝上五寸為蠡溝。踝上七寸為中都。犢鼻下二寸旁陷者中為膝關。膝內輔骨下大筋上小筋下陷中為曲泉。膝上四寸股內廉兩筋間為陰包。氣衝下三寸陰股中動脈為五里。羊矢下斜里三分直上去氣衝二寸為陰廉。</p>
<p>急脈穴在陰毛中。陰上兩旁相去二寸半。按之隱指堅然。實厥陰之正脈。諸書不載。因補之。其在大橫外直臍季脅端為章門。在不容旁一寸五分上直乳第二肋端為期門。</p>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。足厥陰起於大指聚毛之大敦穴。循足跗上廉歷行間大沖。抵內踝一寸之中封也。自中封上踝過三陰交。歷蠡溝中都。復上一寸。交出太陰之後。上膕內廉至膝關曲泉。由曲泉上行。循股內之陰包五里陰廉。遂當衝門府舍之分。入陰毛中左右相交。環繞陰器抵小腹而上會曲骨中極關元。復循章門至期門之處。挾胃屬肝下日月之分。終於膽也。自期門上貫膈行食竇之外。大包之裡。散布脅肋。上雲門淵液之間。人迎之外。循喉嚨之後。上入頏顙。行大迎地倉四白陽白之外。連目繫上出額。行臨泣之裡。與督脈相合於巔頂之百會也。</p>
<figure>
<img alt="圖">
</figure>
<p>支者。從目系下行任脈之本經之裡。下頰裡交環於口唇之內。支從期門屬肝處。別貫膈行食竇之外。本經之裡。上注肺中。下行至中焦。挾中脘之分。以交於手太陰也。</p>

<h2>督脈</h2>
<p>身強　脊骶端。</p>
<p>刺熱篇王注曰。脊節之謂椎。脊窮之謂骶。</p>
<p>古今醫統曰。尾閭穴督脈下行盡處。是穴。</p>
<p>經絡全書東垣曰。督脈出於會陰。根於長強。則為兩穴明矣。</p>
<p>腰俞　第二十一椎節下間。</p>
<p>陽關　第十六椎節下間。（營昇按。甲乙經千金方外臺。無此穴。自十二椎至十七椎。凡四椎。為腰監骨所揜附。故無穴。）</p>
<p>命門　第十四椎節下間。</p>
<p>圖翼曰。平臍用線牽而取之。</p>
<p>千金方曰。腰痛不得動者。令病人正立以竹杖拄地度至臍。乃取杖度。背脊灸杖頭盡處。（營昇按。肥人腹垂則臍低。瘦人腹凹則臍昂。今不論肥瘦。用線而取之。以杖而度之。則未有準也。）</p>
<p>懸樞　第十三椎節下間。（營昇按。明堂上經作十二椎節間。又下經作十一椎下。脊中穴。既在十一椎下。不應懸樞。又在十一椎下。固知其誤。三字作二字也。）</p>
<p>脊中　第十一椎節下間。</p>
<p>中樞　氣府論王注曰。在第十椎節下間。俯而取之。督脈氣所發。（營昇按。此穴甲乙經千金方外臺秘要銅人經資生經。諸書皆闕之。）</p>
<p>筋縮　第九椎節下間。</p>
<p>至陽　第七椎節下間。</p>
<p>靈臺　第六椎節下間。（營昇按。甲乙經無此穴。出氣府論。王注。）</p>
<p>神道　第五椎節下間。</p>
<p>身柱　第三椎節下間。（倭俗謂之知利介艾灸通說曰。俗呼散氣。）</p>
<p>姜希銅人腧穴針灸圖經曰。在第二椎節下間。又云。背腧部在第三椎節下間。</p>
<p>陶道　大椎節下間陷中。自陽關至此諸穴。並俯而取之。</p>
<p>自陽關至陶道諸穴。俯而取之者。脊骨隆凸椎穴以明也。一說自長強至懸樞。並伏地而取之。自脊中至陶道。並俯而取之。</p>
<p>大椎　第一椎上陷中。</p>
<p>外臺秘要曰。大椎平肩斜齊高大者是。</p>
<p>醫學原始曰。在第一椎上。平肩陷中。（營昇按。八脈考釋音曰。椎音槌。脊之骨節也。又背腧篇類注曰。焦即椎之義。指脊骨之節間也。古謂之焦。亦謂之顀。後世作椎。又刺熱篇王注曰。脊節之謂椎。脊窮之謂骶。又類注曰。此取脊椎之大法也。項上三椎者。乃項骨三節。非脊椎也。三椎之下陷者中。方是第一椎節穴名大椎。由此而下數之。諸椎循次可得矣。注證分寸歌曰。自此項骨下脊骶。分為二十四椎。大椎上有項骨在。約有三椎。莫算之尾有長強。亦不算中間二十一可排椎。又項骨金鑑曰。頸莖骨之上三節圓骨也。釋骨曰。三節植頸項者。通曰柱骨。其隱節肉中者曰復骨。張氏復作伏氣府論。馬注曰。人之脊骨連項骨。共有二十四節者。應二十四氣亦有理。凡灸大椎。當以上項骨三節不算。但項骨比大椎更高。今人誤取高骨為大椎。則項骨非灸大椎也。又氣穴論馬注曰。今人灸大椎者。俱是項骨高起者。見其骨高而大。誤以為大椎而取之。愚今除項骨三節。則大椎又數為第一椎。千金方曰。取大椎之法。除項骨三節不在內。或人亦在項骨短而無可尋者。但當以平肩之處為第一椎。外臺曰。大椎平肩斜齊高大者是。針灸大全曰。以平肩取之。昧者習之。不論椎骨之昂低。偏與肩上平齊處為大椎。可不謬乎。然肩肉肥大者。妄以平肩取之。則穴道參差。多不中也。故除肉偏與肩尖平齊處。以手按之。使其回顧俯仰。則附頭而轉者為項骨。其不轉者為脊骨。方是第一椎下以算之。諸椎循次可得矣。又張介賓曰。凡取脊間督脈諸穴。當於骨節突處取之。但驗於魚骨。為可知也。若取於節下。必不見效。張氏之言如是。然前哲皆取節下。而無取骨節突處者。夫周身之俞穴。皆孔隙也。故或在大骨之際。或在小骨之下。大筋之下。小筋之上。骨際陷中。皆其處也。滑氏取脊骨之低處節下者是。猶欲詳之。試解剖人骨節而視之。益知予言之不謬。若張氏之說。孔隙之所不可在。故斷然不可從矣。）</p>
<figure>
<img alt="圖">
</figure>
<p>瘂門　氣府論王注曰。在項髮際宛宛中。去風府同身寸之一寸。</p>
<p>風府　項入髮際一寸。</p>
<p>腦戶　枕骨上強間後一寸五分。</p>
<p>強間　後頂後一寸五分。</p>
<p>後頂　百會後一寸五分。</p>
<p>百會　神應經曰。在頂中陷中。容豆許。去前髮際五寸。後髮際七寸。</p>
<p>馬歌曰。發上百會五寸央。</p>
<p>性理北溪陳氏曰。猶天之極星居北。</p>
<p>類經曰。此曰三才百會應天。璇璣應人。湧泉應地。</p>
<p>證治準繩。引湯氏曰。百會一穴。前後髮際兩耳尖折中。乃是穴也。</p>
<p>方書所載。但云頂上旋毛中。殊不審有雙頂者。又有旋毛不正者。庸醫之輩。習循舊本。誤人多矣。（營昇按。旋毛有昂者。有低者。有在旁者。在兩旁者。其地不一定。故由此求穴。則不中必矣。百會去前髮際五寸。入後髮際七寸。巔頂中央為是。）</p>
<p>前頂　囟會後一寸五分陷中。</p>
<p>囟會　上星後一寸陷中。</p>
<p>千金方曰。在神庭上二寸是。</p>
<p>上星　八脈考曰。囟會前一寸。</p>
<p>大成曰。神庭後入髮際一寸陷中。</p>
<p>兼羅集曰。有一取法。以掌後橫紋當鼻尖中指盡處是。</p>
<p>神庭　八脈考曰。囟前二寸。</p>
<p>印堂　刺瘧論曰。取眉間。</p>
<p>鼻交頞中　千金翼曰。在兩眥中間。（營昇按。此二穴諸書缺。今補入之。）</p>
<p>素髎　鼻柱上端。</p>
<p>水溝　鼻柱下人中。</p>
<figure>
<img alt="圖">
</figure>
<p>大成曰。鼻柱下溝中央。近鼻孔陷中。</p>
<p>兌端　入門曰。上唇中央尖上。</p>
<p>齗交　唇內齒上齗縫中。（齗音銀。）</p>
<p>華佗內照圖曰。任督二脈。為一身陰陽之海。又曰。齗交穴在唇內齒上縫。為任督二脈之會。一身之要也。</p>
<figure>
<img alt="督脈圖">
</figure>
<p>督脈之長強在脊骶骨端腰俞在二十一椎節下間。陽關在十六椎節下間。命門在十四椎節下間。懸樞在十三椎節下間。脊中在十一椎節下間。中樞在十椎節下間。筋縮在九椎節下間。至陽在七椎節下間。靈臺在六椎節下間。神道在五椎節下間。身柱在三椎節下間。陶道在大椎節下間。大椎在第一椎上陷者中。瘂門在項後入髮際五分。風府在入髮際上一寸。腦戶在入髮際上二寸。強間在後頂後一寸五分。後頂在百會後一尺五分。百會在頂中央。</p>
<p>前頂在囟會後一寸五分。囟會在上星後一寸。上星在鼻直上入髮際一寸。神庭在直鼻上入髮際五分。素髎在鼻端準頭。水溝在鼻下溝中央。近鼻孔陷中。兌端在上唇端。齗交在唇內上齒縫中。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。自屏翳而起。歷長強穴。並脊裡而上行。循腰俞陽關命門懸樞脊中筋縮至陽靈臺神道身柱。過風門。循陶道大椎瘂門至風府。入腦循腦戶強間後頂。上巔至百會。前頂囟會上星神庭。循額至鼻柱。經素髎水溝兌端至齗交而終焉。</p>

<h3>任脈</h3>
<p>會陰　甲乙經曰。大便前小便後。兩陰之間。</p>
<p>大成曰。兩陰間。任督沖三脈所起。督由會陰而行背。任由會陰而行腹。沖由會陰而行足少陰。</p>
<p>曲骨　神照集曰。在臍下五寸。中極下一寸。橫骨之上。毛際之中。動脈應手是穴。（營昇按。此橫骨非指腎經橫骨穴。陰上橫骨也。）</p>
<p>中極　關元下一寸。</p>
<p>經穴指掌圖書曰。自頭至足。兩折中也。</p>
<p>關元　臍下三寸。</p>
<p>一名丹田。（資生經集書）</p>
<p>經絡全書曰。為生化之原。</p>
<p>圖翼曰。在臍下三寸。此穴當人身上下四旁之中。故又名大中極。乃男子藏精。女子畜血之處。小腸募也。</p>
<p>六十六難集註曰。齊下腎間動氣者。丹田也。丹田者。人之根元也。精神之所藏。五氣之根元。太子之府也。男子藏精。女子主月水。以生養子息。合和陰陽之門戶也。</p>
<p>資生經曰。關元乃丹田也。諸經不言。惟難經疏曰。丹田在臍下三寸。又曰。臍下二寸。名石門。明堂載甲乙經。一名丹田。千金方素問注。亦謂丹田在臍下二寸。世醫因是。遂以石門為丹田。誤矣。丹田乃臍下三寸。難經疏論之詳。</p>
<p>石門　臍下二寸。</p>
<p>一名丹田。（甲乙經）</p>
<p>千金方曰。丹田在臍下二寸。</p>
<p>氣海　臍下一寸五分。</p>
<p>大成曰。臍下一寸半宛宛中。男子生氣之海。一名丹田。（本事方）</p>
<p>陰交　臍下一寸。</p>
<p>神闕　原始曰。臍中央。</p>
<p>水分　下脘下一寸。上臍一寸。（營昇按。千經方聚英醫統大成合參。下脘下一寸。臍上一寸。為是。）</p>
<p>下脘　建里下一寸。</p>
<p>建里　中脘下一寸。</p>
<p>中脘　甲乙經曰。上脘下一寸。居心蔽骨與臍之中。</p>
<p>上脘　醫統聚英。巨闕下一寸。臍上五寸。</p>
<p>神農皇帝針灸圖曰。在臍上五寸。</p>
<p>金鑑曰。從中脘上行在臍上五寸。（營昇曰。甲乙經外臺聖惠方針方六集。俱為巨闕下一寸五分。非。為一寸者是。）</p>
<p>巨闕　甲乙經曰。鳩尾下一寸。</p>
<p>千金方曰。灸心下三處。第一處去心下一寸。名巨闕。第二處去心下二寸。名上脘。第三處去心下三寸。名胃脘。然或人形大小不同。恐寸數有異。可繩度隨其長短寸數最佳。取繩從心頭骨名鳩尾。頭度取臍孔中屈繩取半。當繩頭名胃脘。又中屈半繩。更分為二分。從胃脘向上度一分。即是上脘。又上度取一分。即是巨闕。</p>
<p>金鑑曰。從上行在兩岐骨下二寸。（營昇按。甲乙經千金方外臺銅人經聚英醫統六集資生聖惠方大成原始。皆鳩尾下一寸。氣府論王注。巨闕上脘中脘建里下胺水分遞相去同身之一寸。共為是。）</p>
<p>鳩尾　金鑑曰。從巨闕上行一寸。（營昇按。醫統聚英蔽骨之端。在蔽骨下五分。無蔽骨者。從岐骨下行一寸。曰鳩尾。大成曰。兩岐骨下一寸。曰鳩尾者。言其骨垂下如鳩尾形。任脈之別。甲乙經外臺聖惠方資生經。皆在臆前蔽骨下五分。甲乙經注曰。蓋心上人無蔽骨者。從上岐骨度下行一寸半。人蔽骨有長者。有短者。又有無蔽骨者。故不可拘。蔽骨長短。惟巨闕上行一寸為是。）</p>
<p>中庭　膻中下一寸六分。</p>
<p>膻中　玉堂下一寸六分兩乳間。</p>
<p>華佗內照圖曰。膻中名氣海。在兩乳間。為氣之海也。氣所屬焉。能分布陰陽氣者。生源乃命之主。</p>
<p>類經曰。人有四海。胃者水穀之海。衝脈者十二經之海。膻中者氣之海。腦者髓之海是也。</p>
<p>玉堂　紫宮下一寸六分。</p>
<p>紫宮　明下曰。在華蓋下一寸陷者中。仰而取之。</p>
<p>華蓋　甲乙經資生經明下銅人經神照集原始。共璇璣下一寸。</p>
<p>璇璣　天突下一寸陷中。</p>
<p>天突　馬歌曰。璇上一寸天突起。（營昇按。銅人經卷二醫學綱目入門發揮。結喉下一寸。甲乙經資生經。結喉下二寸。類經神照集。結喉下三寸。氣府論氣穴論及骨空論王注銅人經卷一聚英醫統。結喉下四寸。千金方。外臺。結喉下五寸。八脈考。結喉下四寸半。明堂下經。結喉下五分。諸說分寸紛冗。不知所從。低頭度之。則分寸甚短。仰頭度之。則分寸甚長。故今定結喉下兩骨間璇璣上一寸為是。）</p>
<p>廉泉　原始曰。在頷下結喉上中央舌本間。</p>
<p>承漿　原始曰。在頤前下唇下宛宛陷中。開口取之。</p>
<p>齗基　骨空論曰。髓空一在齗基下。</p>
<figure>
<img alt="任脈圖">
</figure>
<p>任脈之會陰穴在前後陰正中。曲骨在橫骨上中極下一寸毛際。中極在臍下四寸。關元在臍下三寸。石門在臍下二寸。氣海在臍下一寸半。陰交在臍下一寸。神闕在臍中。水分在臍上一寸。下脘在臍上二寸。建里在臍上三寸。中脘在臍上四寸。上脘在臍上五寸。巨闕在鳩尾下一寸。鳩尾在臆前蔽骨下五分。中庭在膻中下一寸六分。膻中在玉堂下一寸六分。玉堂在紫宮下一寸六分。紫宮在華蓋下一寸六分。華蓋在璇璣下一寸。璇璣在天突下一寸。天突在結喉下三寸。廉泉在頷下結喉上中央舌本下。承漿在頤前下唇稜下陷中。齗基在唇內下齒縫中。</p>
<figure>
<img alt="圖">
</figure>
<p>滑氏曰。任脈起於中極之下。會陰之分也。由是循曲骨上毛際至中極。行腹裡。上循關元石門氣海陰交神闕水分下脘建里中脘上脘巨闕鳩尾中庭膻中玉堂紫宮華蓋璇璣天突廉泉上頤。循承漿環唇。上至齗交分行系兩目下中央會承泣而終也。</p>
<p>奇經八脈</p>
<p>滑氏曰。脈有奇常。十二經者常脈也。奇經八脈。則不拘於堂。故謂之奇經。</p>
<p>二十七難曰。脈有奇經八脈者。不拘於十二經何也。然有陽維有陰維。有陽蹻。有陰蹻有沖有督。有任有帶之脈。凡此八脈者。皆不拘於經。故曰奇經八脈。</p>
<p>虞氏曰。此八脈不繫正經陰陽。無表裡配合。別道奇行。故曰奇經也。</p>

<h2>陰維脈</h2>
<p>八脈考曰。陰維起於諸陰之交。其脈發於足少陰築賓穴。為陰維之郄。在內踝上五寸腨肉分中。上循股內廉。上行入小腹。會足太陰厥陰少陰陽明於府舍。上會足太陰於大橫腹哀。循脅肋會足厥陰於期門。上胸膈挾咽。與任脈會於天突廉泉。上至頂前而終。凡一十四穴。</p>
<p>築賓（足少陰腎經穴足內踝上五寸）</p>
<p>府舍（足太陰脾經穴衝門上七分去中行四寸半）</p>
<p>大橫（足太陰肺經穴臍旁四寸半）</p>
<p>腹哀（足太陰肺經穴膽經日月下一寸五分）</p>
<p>期門（足厥陰肝經穴任脈巨闕旁四寸半）</p>
<p>天突（任脈穴璇璣上一寸）</p>
<p>廉泉（任脈穴結喉上舌本）</p>

<h2>陽維脈</h2>
<p>八脈考曰。陽維起於諸陽之會。其脈發於足太陽金門穴。在足外踝下一寸五分。上外踝七寸。會足少陽於陽交。為陽維之郄。循膝外廉上髀厭。抵少腹側。會足少陽於居髎。循脅肋斜上肘。上會手陽明手足太陽於臂臑。過肩前與手少陽會於臑會天髎。卻會手足少陽足陽明於肩井。入肩後會手太陽陽蹻於臑俞。上循耳後會手足少陽於風池。上腦空承靈正營目窗臨泣下額與手足少陽陽明五脈會於陽白。循頭入耳。上至本神而止。凡三十二穴。</p>
<p>金門（足太陽膀胱經穴）</p>
<p>陽交（足少陽膽經穴外踝上七寸）</p>
<p>居髎（足少陽膽經穴）</p>
<p>臂臑（手陽明大腸經穴）</p>
<p>臑會（手少陽三焦經穴）</p>
<p>天髎（手少陽三焦經穴）</p>
<p>肩井（足少陽膽經穴）</p>
<p>臑俞（手太陽小腸經穴）</p>
<p>風池（足少陽膽經穴天牖與天柱中間）</p>
<p>腦空（足少陽膽經穴承靈後一寸五分）</p>
<p>承靈（同正營後一寸五分）</p>
<p>正營（同目窗後一寸）</p>
<p>目窗（同臨泣後一寸）</p>
<p>臨泣（同本神與曲差中間）</p>
<p>陽白（同眉上一寸）</p>
<p>本神（同神庭旁三寸）</p>
<p>十四經發揮。凡二十四次。無居髎臂臑承靈目窗四穴。</p>
<p>針灸節要曰。凡二十四穴。無居髎臂臑臑會目窗承靈五穴。有風府瘂門二穴。</p>

<h2>陰蹻脈</h2>
<p>八脈考曰。陰蹻者。足少陰之別脈。其脈起於跟中足少陰然谷穴之後。同足少陰循內踝下照海穴。上內踝之上二寸。以交信為郄。直上循陰股入陰上。循胸裡入缺盆。上出人迎之前。至咽嚨交貫衝脈入頄內廉。上行屬目內眥。與手足太陽足陽明陽蹻五脈會於晴明而上行。凡八穴。</p>
<p>然谷（足少陰腎經穴）　照海（同）</p>
<p>交信（同足內踝上二寸）　晴明（足太陽膀胱經穴目內眥）</p>
<p>十四經發揮。凡二穴。無照海晴明二穴。</p>
<p>經脈篇。凡四穴。有然骨交信照海晴明四穴。</p>
<p>針灸聚英針灸節要。無照海晴明二穴。</p>
<p>六集。無然谷晴明二穴。有照海交信二穴。</p>

<h2>陽蹻脈</h2>
<p>八脈考曰。陽蹻者。足太陽之別脈。其脈起於跟中。出於外踝。下足太陽申脈穴。當踝後繞跟以僕參為本上外踝上三寸。以附陽為郄。直上循股外廉。循脅後胛。上會手太陽陽維於臑俞。上行肩髆外廉會手陽明於巨骨。會手陽明少陽於肩髃上人迎夾口吻。會手足陽明任脈於地倉。同足陽明上而行巨髎。復會任脈於承泣至目內眥。與手足太陽足陽明陰蹻五脈會於晴明穴。從晴明上行入髮際。下耳後入風池而終。凡二十二穴。</p>
<p>申脈（足太陽膀胱經穴外踝微前）</p>
<p>僕參（同崑崙直下）</p>
<p>附陽（同外踝上三寸）</p>
<p>臑俞（手太陽小腸經穴肩髎後）</p>
<p>巨骨（手陽明大腸經穴肩尖上行兩叉骨）</p>
<p>肩髃（同肩端兩骨間）</p>
<p>地倉（足陽明胃經穴口吻旁）</p>
<p>巨髎（同鼻孔旁八分）</p>
<p>承泣（同目下七分）</p>
<p>晴明（足太陽膀胱經穴目內眥）</p>
<p>風池（足少陽膽經穴三焦經天牖與膀胱經天柱中間）</p>
<p>十四經發揮。凡二十穴。有居髎穴無晴明風池二穴。針方六集針灸聚英同。</p>

<h2>衝脈</h2>
<p>（二十八難楊注曰。沖者通也。言此脈下至於足。上至於頭。通受十二經之氣血。故曰沖焉。針方六集曰。凡十二穴。會陰衝脈之會。）</p>
<p>醫經原旨曰。衝脈起於胞中。上循背裡。為經絡之海。則前亦督而後亦任也。任脈循背。謂之督脈。自少腹直上者。謂之任脈。亦謂之督脈。是以背腹分陰陽而言任督。若三脈者。名雖異而體則一耳。故任沖督一源而三岐也。又曰。衝脈起於胞中。陽明會於前陰。故男女精血。皆由前陰而降者。以二經血氣總聚於此。故稱為五藏六府十二經之海。誠有非他經之可比也。</p>
<p>類注曰。衝任為經絡之海。其起脈之處。則在胞中。而上行於背裡。所謂胞者子宮是也。此男女藏精之所。皆得稱為子宮。惟女子於此受孕。因名曰胞。然衝任督脈。皆起於此。所謂一原而三岐也。</p>
<p>王啟玄曰。腎脈與衝脈。並下行循足合而盛大。故曰大沖。一云衝脈。起於氣衝。沖直而通。故謂之沖。</p>
<p>八脈考曰。沖為經脈之海。又曰血海。其脈與任脈皆起於少腹之內胞中。浮而外者。起於氣街。並足陽明少陰二經之間。循腹上行至橫骨俠臍左右各五分。上行歷太赫氣穴四滿中注肓俞商曲石關陰都通谷幽門至胸中散。凡二十四穴。</p>
<p>橫骨（足少陰腎經穴）</p>
<p>太赫（同）</p>
<p>氣穴（同）</p>
<p>四滿（同）</p>
<p>中注（同）</p>
<p>肓俞（同）</p>
<p>商曲（同）</p>
<p>石關（同）</p>
<p>陰都（同）　通谷（同）</p>
<p>幽門（同）</p>

<h2>任脈</h2>
<p>滑氏曰。任之為言妊也。行腹部中行。為婦人生養之本。</p>
<p>上古天真論曰。女子二七而天癸至。任脈通。太衝脈盛。月事以時下。七七任脈虛。太衝脈衰。天癸竭。</p>
<p>八脈考曰。任為陰脈之海。其脈起於中極之下。少腹之內。會陰之分。上行而外出。循曲骨上毛際至中極。同足厥陰太陰少陰並行腹裡。循關元歷石門氣海。會足少陽衝脈於陰交。循神闕水分。會足太陰於下脘。歷建里會手太陽少陽足陽明於中脘。上上脘巨闕鳩尾中庭膻中玉堂紫宮華蓋璇璣。上喉嚨。會陰維於天突廉泉上頤。循承漿與手足陽明督脈會。環唇上至下齗交復出分行。循面系兩目下之中央至承泣而終。凡二十七穴。</p>

<h2>督脈</h2>
<p>十四經發揮曰。督脈者。起於下極之俞。</p>
<p>五色篇曰。下極者心也。</p>
<p>四十四難曰。下極為魄門。</p>
<p>甲乙經曰。橫骨一名下極。</p>
<p>千金翼曰。第十五椎名下極俞。</p>
<p>圖翼曰。頞名下極。皆雖同名。所指異。非今所謂下極。</p>
<p>滑氏曰。督脈其脈起下極之俞。由會陰曆長強。</p>
<p>又曰。督脈由會陰而行於背。任脈由會陰而行於腹。衝脈由會陰出並少陰。而散於胸中。張景岳曰。三脈本同一體。督即任沖之綱領。任沖即督之別名耳。</p>
<p>丁德用曰。以下極為長強。是督脈經穴。以始於長強也。</p>
<p>八脈考曰。督乃陽脈之海。其脈起於腎下胞中。至於少腹。乃卻行於腰橫骨圍之中央。系溺孔之端。男子循莖下仍篡。女子絡陰器合篡間。（骨空論類注曰。篡。交篡之義。謂兩便爭行之所。即前後二間之間也。金鑑曰。篡者。橫骨下兩股之前。相合共結之凹也。前後兩陰之間。名下極穴。又屏翳穴會陰穴。即男女陰氣之所也。）俱繞篡後屏翳穴。別繞臀至少陰與太陽中絡者。合少陰上股內廉。由會陽貫脊會於長強穴。在骶骨端與少陰會並脊裡上行。歷腰俞陽關命門懸樞脊中中樞筋縮至陽靈臺沖道身柱陶道大椎與手足三陽會合。上瘂門會陽維。入舌本上至風府。會足太陽陽維。同入腦中。循腦戶強間後頂。上巔歷百會。前頂囟會上星至神庭。為足太陽督脈之會。循額中至鼻柱。經素髎水溝。會手足陽明至兌端。入齗交與任脈足陽明交會而終。凡三十一穴。督脈別絡自長強走任脈者。由小腹直上貫臍中央。上貫心入喉上頤。環唇上系兩目之下中央。會太陽於目內眥晴明穴。上額與足厥陰同會於巔。入絡於腦。又別自腦下項。循肩胛與手足太陽少陰會於大杼第一椎下。兩旁去脊中一寸五分陷中。內俠脊抵腰中。入循膂絡腎。</p>

<h2>帶脈</h2>
<p>張子和曰。十二經與奇經七脈。皆上下周流。惟帶脈起少腹之側。季脅之下。環身一周。絡腰而過。如束帶之狀。而衝任二脈。循腹脅夾臍旁。傳流於氣衝。屬於帶脈。絡於督脈。衝任督三脈。同起而異行。一源而三岐。皆絡帶脈。八脈考曰。帶脈者。起於季脅足厥陰之章門穴。同足少陽循帶脈穴圍身一周。如束帶然。又與足少陽會於五樞維道。凡八穴。</p>
<p>章門（足厥陰肝經穴季脅本）</p>
<p>帶脈（足少陽膽經穴章門下一寸八分）</p>
<p>五樞（同水道旁一寸五分）</p>
<p>維道（同五樞下五分）</p>
<p>十四經發揮。凡四穴。帶脈維道。</p>
<p>針灸大成。凡六穴。</p>
<p>帶脈五樞維道。</p>
<figure>
<img alt="陰維脈圖">
</figure>
<figure>
<img alt="陽維脈圖一">
</figure>
<figure>
<img alt="陽維脈圖二">
</figure>
<figure>
<img alt="陰蹻脈圖">
</figure>
<figure>
<img alt="陽蹻脈圖">
</figure>
<figure>
<img alt="衝脈圖">
</figure>
<figure>
<img alt="帶脈圖">
</figure>

<h1>卷四</h1>

<h2>內景</h2>
<p>蠡海集曰。天開於子。地開於醜。人生於寅。寅時手太陰之氣始動。其應在寸口。寸口以侯上部。肺居五藏之上部。獨為五藏之華蓋。所以管領一身之氣。</p>
<p>類經曰。肺朝百脈。以行陰陽。而五臟六腑皆以受。故十二經。以肺為首。循序相傳。盡於足厥陰肝經。而又傳於肺終。而後是為一周。痿論曰。肺者藏之長也。為心之蓋也。</p>
<p>張介賓曰。肺位最高。故謂之長。</p>
<p>高武曰。肺者朝百脈。故肺者藏之長。</p>
<p>馬氏曰。肺者為諸藏之華蓋。</p>
<p>華元化曰。肺者生氣之原。乃五藏之華蓋。</p>
<p>入門曰。肺形似人肩而為藏之蓋。</p>
<p>程氏醫彀曰。肺形如人肩。二布大葉。四垂如蓋。</p>
<p>醫經原旨曰。肺形似人肩。二布葉中。有二十四空。行列分布。諸藏清濁之氣。又應二十四氣也。</p>

<h2>肺前面全狀</h2>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>營昇按。其形如蜂窠。下無通竅。隨呼吸而盈虛。其色如藍光澤有斑紋。古人皆謂六葉兩耳。大概之言耳。古今說內形比之內形。殆有不相似者矣。入門醫彀原始等說。略近之。</p>
<p>肺系　聖濟總錄曰。喉嚨以下。為肺系骨者。累累然其十二。又曰。天蓋骨下為肺系之本。</p>
<p>藏府指掌圖書曰。錢豫齋曰。會厭綴於舌本之下。正應乎氣管之上。氣管即喉嚨也。居於前。主持呼吸。為聲音之門戶。故名吸門。共十二節。上三節微小。下九節微大。第四乃結喉也。</p>
<p>楊玄操曰。喉嚨空虛也。言其中空虛。可以通氣息焉。即肺之系。呼吸之道路。</p>
<p>金鑑曰。結喉者。喉之管頭也。其瘦者多外見頸前。肥人則隱於肉。肉多不見。</p>
<p>經釋曰。喉嚨即出聲之處。即俗名喉脘。</p>
<p>會厭　程氏醫彀曰。綴於舌本之上。正應於氣管之下。氣管即喉嚨也。</p>
<p>醫學原始曰。齒以後至會厭。深三寸五分。大容五合會厭為之吸門。其大如錢。為音聲之戶。薄則易於起。發音出快而便利。厚則起發音出慢而重舌也。久卒然無音者。寒氣客於厭。</p>
<p>金鑑曰。會厭者。覆喉管之上竅。似皮似膜。發聲則開。咽食則閉。故為聲音之戶也。</p>
<p>懸壅垂　金鑑曰。懸壅垂者。張口視喉上似乳頭之小舌。俗名碓嘴。</p>
<p>醫學原始曰。喉上如小舌而下垂者。曰懸壅。乃音聲之關也。</p>
<p>吳昆曰。懸壅吸門垂下肉乳也。</p>
<p>頏顙　金鑑曰。口內之上二孔目分。氣之竅也。</p>
<p>喉嚨　金鑑曰。喉嚨者喉也。肺之系也。</p>
<p>嗌　金鑑曰。嗌者咽也。胃之系也。</p>
<p>咽喉　憂恚無言篇曰。咽喉者。水道之道也。喉嚨者。氣之所以上下者也。</p>
<p>類注曰。人有二喉。一軟一硬。軟者居後。是謂咽喉。乃水穀之道。通於六府者也。硬者居前。是謂喉嚨。為宗氣出入之道。所以行呼吸通五藏者也。</p>
<p>鼻　陰陽應象大論曰。肺主鼻。又曰。在竅為鼻。</p>
<p>醫學原始曰。肺主鼻。鼻者肺之官。故肺和則鼻能知香臭矣。</p>
<p>皮毛　痿論曰。肺主身之皮毛。</p>
<p>皮部論曰。百病之始生也。必先於皮毛。邪中之。則腠理開。開則入。容於絡脈。留而不去。傳入於經脈。留而不去。傳入於府。</p>

<h2>腸</h2>
<figure>
<img alt="圖">
</figure>
<p>楊玄操曰。腸暢也。通暢胃氣。去滓穢者也。</p>
<p>醫學原始曰。廣腸一曰肛門。肛門言其處似車釭形。故曰肛門。即廣腸也。一名直腸。一名魄門。一名洞腸。亦名肛門。受大腸之谷而道出焉。</p>
<p>營昇按。大小腸古經皆以為二物。然解體親視之。唯一腸而有鉅細之分耳。今以曲尺度之。長二丈四五尺許。上屬於胃。下連肛門。其色白。帶淡紅。</p>
<p>四十二難十四經針灸聚英等。大腸當臍右。環十六曲。腸胃篇。當臍左旋。五藏別論曰。夫胃大腸小腸三焦膀胱。此五者。天氣之所生也。左旋。故二腸亦左旋。腸胃篇。當臍左旋是。</p>

<h2>胃</h2>
<figure>
<img alt="圖">
</figure>
<p>楊玄操曰。胃圍也。言圍受食物也。</p>
<p>玉機真藏論曰。五藏者。皆稟氣於胃。胃者五藏之本也。</p>
<p>刺瘧論曰。胃者六府之長也。</p>
<p>張介賓曰。胃者六府之長。而大腸小腸。皆與胃連。居胃下氣本一貫。故皆屬於胃。</p>
<p>醫學原始曰。口內通於腹中。只有二竅。前曰喉。是肺管。後曰咽。是食管也。即胃脘也。下即賁門。亦透膈而下是胃。胃下有幽門。即接小腸。小腸下是闌門。闌門接大腸。大腸透肛門。穢從此出。闌門之傍。有膀胱。連於前陰。而出溺。</p>
<p>醫學原始曰。紆曲屈伸長二尺六寸。大一尺五寸。徑五寸。盛谷二斗。水一斗五升。</p>
<p>藏府性鑑曰。咽至胃。長一尺六寸。通之咽門。</p>
<p>胃上口即為賁門。當中脘。主腐熟水穀。胃下口。即小腸上口。名曰幽門。</p>
<p>經脈別論曰。食氣入胃。其清純津液之歸於心。入於脈。變赤而為血。有餘則注於衝任。而為經水。經水者。陰水也。陰必從陽。故其色赤。稟火之色也。且沖為血海。任主胞胎。若媾男子之精。陰陽和合而成孕。則其血皆移蔭於胎矣。胎既產。則胃中清純津液之氣歸於肺。朝於脈。流入於乳房。變白而為乳。是稟肺金之色也。其或兒不自哺。陽明之竅不通。其胃中津液。仍歸於脈。變赤而復為月水也。</p>
<p>醫彀曰。婦人血與乳。俱脾胃所生。</p>

<h2>脾</h2>
<figure>
<img alt="圖一">
</figure>
<figure>
<img alt="圖二">
</figure>
<p>藏府性鑑曰。膈膜之下有胃。盛受飲食。而熟腐之。其左有脾。與胃同膜。而附其上。其色如馬肝赤紫。</p>
<p>又曰　磨胃食乃消化。</p>
<p>入門曰。居中脘一寸二分。上去心三寸六分。下去腎三寸六分。中間一寸二分。名曰中庭。在天為太陽。在地為太陰。在人為中黃祖氣。脾氣壯則能磨消水穀。以營養四藏。</p>
<p>滑氏曰。脾廣三寸。長五寸。掩乎太倉。附著於脊之第十一椎。</p>
<p>肉　痿論曰。脾主身之肌肉。</p>
<p>醫經原旨曰。脾屬土肉象地之體。故合肉也。脾氣通於唇。故榮唇也。又曰。肉屬眾體之土。</p>

<h2>心</h2>
<figure>
<img alt="圖一">
</figure>
<figure>
<img alt="圖二">
</figure>
<p>藏府性鑑曰。肺下即心。心有系。二繫於肺。肺受清氣。下乃灌注。其象尖長而圓。其色赤。</p>
<p>又曰。凡脾胃肝膽腎膀胱。俱各有一系。繫於包絡之旁。以通於心。</p>
<p>口問篇岐伯曰。心者五臟六腑之主也。</p>
<p>醫學原始曰。心為百體之君。元火府生命之根。靈神之寓。故四藏皆繫於心。而次第生焉。</p>
<p>又曰。心為靈君。萬念皆生於此。</p>
<p>又曰。心為一身之君主。稟虛靈而含造化。具一理以應萬幾。藏府百骸。惟所是命。故曰神明出焉。</p>
<p>醫學原始元命包曰。心者火之精成於五。故人心長五寸。</p>
<p>血　痿論曰。心主身之血脈。</p>
<p>陰陽應象大論曰。在竅為舌。（舌為心之苗。故主舌。）</p>
<p>靈樞決氣篇曰。何謂血。岐伯曰。中焦受氣取汁。變化而赤。是謂血。</p>
<p>發　醫學原始曰。頭上曰發。屬足少陰陽明。耳前曰鬢。屬手足少陽。目上曰眉。屬手足陽明。唇上曰髭。屬手陽明。頦下曰須。屬足少陰陽明。兩頰曰髥。屬足少陽。其經氣血盛。則美而長。氣多血少。則美而短。氣少血多。則少而惡。氣血俱少。則其處不生。氣血俱熱。則黃而赤。氣血俱少。則衰白而落。</p>
<p>浩然曰。驗小兒壽夭。亦視毛髮。兒發受母血而實。故名血餘也。母血充實。兒發則黑而光潤。母血虛弱。或胎漏敗墮。或縱欲多淫。兒發則黃槁焦枯。或生疳痍之患。俱關不壽之兆也。</p>
<p>萬病回春曰。發者血之餘也。</p>

<h2>舌</h2>
<figure>
<img alt="圖">
</figure>
<p>甲乙經曰。舌者心之官。心氣通於舌。心和則舌知五味。</p>
<p>又曰。舌重十兩。長七寸。廣二寸半。</p>
<p>陰陽應象大論曰。心在竅為舌。腎在竅為耳。此云開竅於耳。則耳兼心腎也。</p>
<p>醫彀曰。南方赤色。入通於心。開竅於耳。注曰。舌為心之官。當言於舌。用非竅。故云耳也。蓋手少陰之絡會於耳中故也。</p>
<p>楊玄操曰。舌者泄也。言可舒泄於言語也。</p>
<p>虞庶曰。舌者聲之機。</p>
<p>金鑑曰。舌者司味之竅也。</p>

<h2>膀胱</h2>
<figure>
<img alt="圖">
</figure>
<p>醫彀曰。膀胱者。與小腸脂蔓相聯。有下口。而無上口。其管直透前陰出溺。</p>
<p>藏府性鑑曰。心胃中熟腐水穀。其精氣。自胃之上口。曰賁門。上輸於肺。肺乃播於百脈。其滓穢。自胃之下口。曰幽門。傳於小腸。至小腸下口。曰闌門。泌別其汁。清者。滲出小腸。而滲入膀胱。滓穢之物。則轉入大腸矣。膀胱下無所入之竅。止有下口。</p>

<h2>腎全狀前面之圖</h2>
<figure>
<img alt="圖">
</figure>
<p>其色茶褐。中間白色。有兩枚。形圓長。長三寸許。著脊十四椎左右兩筋。下通於莖。精水由此通。其藏在腸胃之後。</p>
<p>橫割腎觀之。中間白色如人精。臭亦相類。有數緊。疑是精液所留乎。</p>

<h2>腎背面之圖</h2>
<figure>
<img alt="圖">
</figure>
<p>藏府性鑑曰。腎有系二條。上條繫於心包。下條過屏翳穴。後趨脊骨。</p>
<figure>
<img alt="子宮剝開之圖">
</figure>

<h2>頤生微論</h2>
<figure>
<img alt="圖">
</figure>
<p>李士材曰。父母構精。未有形象。先結河車中間。透起一莖如蓮蕊。初生乃臍帶也。蕊中一點。實生身立命之原。即命門也。自此天一生水。先結兩腎。夫命處於中。兩腎左右開合。正如門中根闑。</p>
<p>故曰命門。蓋一陽處於二陰之間所以成乎坎也。</p>
<p>按銅人圖。脊骨自上而下十四節。自下而上七節。有命門穴。兩旁有腎俞穴。則知中是命門。兩旁皆腎也。臍與命門生於百體之先。故命門對中。易曰。一陽陷於二陰之中。命門猶儒之太極也。</p>

<h2>醫學原始</h2>
<figure>
<img alt="圖">
</figure>
<p>浩然曰。人始生臍與命門。故命門為十二經脈之主。一曰真火。一曰真氣。一曰動氣。真火者。人身之太極。無形可見。先天一點之元陽。兩腎之間。是其息所。人無此火。則無以養生。曰真氣者。稟於有生之初。從無而有。即元氣之本體也。曰動氣者。蓋動則生。亦陽之動也。命門具而兩腎生。兩腎者。靜物也。靜則化。亦陰之靜也。命門者。立命之門。元火元炁之息所。造化之樞紐。陰陽之根帶。即先天之太極。四行由此而生。臟腑以繼而成。</p>

<h2>腎經</h2>
<figure>
<img alt="圖">
</figure>
<p>錦囊秘錄曰。兩腎俱屬水。左為陰水。右陽水以為命門。非命門在兩腎中間。命門左邊小黑圈。是真水之穴。命門右邊小白圈。是相火之穴。此一水一火。俱無形。日夜潛行不息。蓋命門居兩腎之中間。而不偏於右。而婦人子宮之門戶也。子宮者。腎藏藏精之府也。當開元氣海之間。男精女血。皆聚於此。為先天真一之炁。所謂坎中之真陽。為一身生化之源。在兩腎中間。而不可偏於右。兩腎屬水。有陰陽之分。命門屬火。在二陰之中。若謂左主於腎。而右偏為命門。此千古傳說之偽也。</p>
<p>質疑錄曰。內經初無命門之名。命門之說。始於越人之三十六難。而曰腎有兩。左為命門。男子藏精。女子系胞。夫右腎既藏男子之精。則左腎將藏何物。女子之胞。何獨偏繫於右。此其說之不能無疑也。命門居兩腎之中。而不偏於右。即婦人子宮之門戶也。子宮者。腎臟藏精之府也。當關元氣海之間。男精女血。皆聚於此。為先天真一元炁。所謂坎中之真陽。為一身生化之原。此命門在兩腎中間。而不可以獨偏於右。兩腎屬水。有陰陽之分。命門屬火。在二陰之中。故脈經以腎脈配兩尺。但當曰左腎。主真陰。右尺主真陽。而命門則為陽氣之根。隨三焦相火。以同見於右尺。則可。若謂左腎則主於腎。而右腎偏為命門。此千古訛傳之弊。而不得不亟正之者也。</p>
<p>耳　陰陽應象大論曰。腎主耳。又曰。在竅為耳。</p>
<p>骨　宣明五氣篇曰。腎主骨。</p>
<p>說文曰。骨者體之質也。肉之核也。</p>

<h2>頭顱骨</h2>
<figure>
<img alt="頭顱骨圖">
</figure>
<p>醫彀曰。男子骨色純白。婦人骨色淡黑。男子髑髏骨。自項及耳至腦後。共八片。腦後橫一縫。當正直下發際。別有一直縫。婦人只六片。腦後橫一縫。當正直下。則無縫。左右肋男十二條。八長四短。女十四條。八長六短。</p>
<p>類注曰。肋骨各十二條。八長四短。女人多擎夫二條。左右各十四條。</p>
<p>吳醫匯講曰。男子肋骨二十有四。女子肋骨二十有八。男子頭骨八塊。女子頭骨六塊。</p>
<p>類注曰。尾骶骨男子尖。女子者圓而平。</p>
<p>金鑑曰。顛頂骨男子三叉縫。女子十字縫。</p>
<figure>
<img alt="肋骨圖一">
</figure>
<figure>
<img alt="肋骨圖二">
</figure>
<figure>
<img alt="肋骨圖三">
</figure>
<p>齒　醫學原始曰。齒屬腎。腎乃骨之餘。上齗屬胃。下齗屬大腸。何少年齒密。老年齒疏。而齒性厚剛。故有收縮而致稀疏者乎。艾儒略曰。齒形上平寬。下稍銳。而人身百體之長。有時而止。惟齒則自少而壯。至老益加長焉。</p>

<h2>膽</h2>
<figure>
<img alt="圖">
</figure>
<p>楊玄操曰。膽敢也。言其人有膽氣。果敢也。</p>
<p>李中梓曰。膽者擔也。猶人正直無私。善擔當也。</p>
<p>藏府性鑑曰。膈膜之下。有肝。肝有獨葉者。有二三葉者。其系亦上絡於心包。為血之海。上通於目。下亦無竅。有膽附於短葉間。</p>
<p>六節藏象論曰。凡十一藏。皆取決於膽。類注曰。五藏六府。共為十一。稟賦不同。情志亦異。必資膽氣。庶得各其用。故皆取決於膽也。</p>
<p>又曰。膽稟剛果之氣。故為中正之官。而決斷所出。膽附於肝。相為表裡。肝氣雖強。非膽不斷肝膽相濟。勇敢乃成。</p>

<h2>肝</h2>
<figure>
<img alt="圖">
</figure>
<p>藏府性鑑曰。膈膜之下。有肝。肝有獨葉者。有二三葉者。</p>
<p>入門曰。肝之系者。自膈下著右脅肋。上貫膈入肺中。與膈膜相近。</p>
<p>人鏡經曰。肝藏主筋。膜之氣也。其位居右脅之前。並胃著脊之第九椎。</p>
<p>營昇按。肝者膈膜下。低於胃之右。其形大。約似肺藏。其色如蜀黍。上連心系。而垂膈下。上書所云。左三右四。未見其然否。</p>

<h2>肝後面</h2>
<figure>
<img alt="圖">
</figure>
<p>膽與肝相連。</p>
<p>風論曰。善怒時憎女子。</p>
<p>吳注曰。肝志怒。肝脈環陰器。肝氣治則悅色而欲女子。肝氣衰則惡色而憎女子。</p>

<h2>睪丸</h2>
<figure>
<img alt="圖">
</figure>
<p>圖翼曰。音高。陰丸也。</p>
<p>金鑑曰。睪丸者。男子前陰兩丸也。</p>
<p>陰器　張氏曰。陰器者。合太陽厥陰陽明少陰之筋。以及衝任督之脈。皆聚於此。故曰宗筋。厥陰屬肝。肝主筋。故絡諸筋而一之。以成健運之用。</p>
<p>廷孔　類注曰。女人溺孔。在前陰中橫骨之下。男子溺孔。亦在橫骨之下。中央為宗筋所函。故不見耳。馬氏曰。廷孔也。其孔即溺孔之端。蓋窈漏之中。有溺孔。其端正在陰廷。乃溺孔之端也。</p>
<p>醫學原始曰。前陰亦一而有兩竅者。廷孔與溺孔也。溺孔在前。廷孔在後。一道而兩用。在出之戶也。又曰。廷孔者。即出精之道。從尾閭上通兩腎之間。男子以藏精。女子以系胞。故曰腎間動氣。人之生命也。腎間者。兩腎之命門。真元之所也。此五臟六腑之本。十二經脈之根。呼吸之門。三焦之原。又曰。惟腎亦有系。通於前陰而泄精。</p>

<h2>眼目</h2>
<figure>
<img alt="圖">
</figure>
<p>人鏡經曰。肝氣通於目。目和則知黑白矣。</p>
<p>醫學原始曰。目為五官之尊。以視為職。又曰。目之上下生睫毛者。以飛塵之侵。即汗下亦不能注入也。又曰。暗中閉目。以手按摩。內光忽見何也。蓋目中原有自然之微光。不激動則不發見。以手按摩。則激動其光。世俗所謂神光爾。醫學原始曰。口問篇岐伯曰。心者。五臟六腑之主也。目者。宗脈之所聚也。</p>
<p>金匱真言論曰。東方青色。入通於肝。開竅於目。</p>
<p>醫學原始曰。人之情偽。先觀其目。此心捷報也。心有一情。目即露之。</p>
<p>筋　宣明五氣篇曰。肝主筋。</p>
<p>六節藏象論類注曰。人之運動。由乎筋力。</p>
<p>甲乙經曰。肝者筋之合也。筋者聚於陰器。而脈絡於舌本。故脈弗營則筋縮急。筋縮急則引卵與舌。故唇青舌卷卵縮。則筋先死。</p>
<p>爪　本藏篇曰。肝應爪。爪厚色黃者膽厚。爪薄色紅者膽薄。爪堅色青者膽急。爪濡色赤者膽緩。爪直色白無約者膽直。爪惡色黑多紋者膽結。</p>
<p>六節藏象論類注曰。爪者筋之餘。故其華在爪。</p>

<h2>腦髓</h2>
<figure>
<img alt="圖">
</figure>
<p>經脈篇曰。人始生。先成精。精成而腦髓生。</p>
<p>類注曰。精藏於腎。腎通於腦。腦者陰也。髓者骨之充也。諸髓皆屬於腦。故腦成而後腦髓生。</p>
<p>華本本草備要莘夷之條下金正希先生嘗語余曰。人之記性。皆在腦中。小兒善忘者。腦未滿也。老人健忘者。腦漸空也。凡人外物必有一形影留於腦昂思。今人每記憶往事。必閉目瞪而思索之。此即凝神於腦之意也。李時珍曰。腦為元神之府。</p>

<h2>胞衣表面</h2>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>胤嗣全書曰。胞之蒂起於兩腎中間。著脊而生。懸胎於胞。通母之氣血。內含漿水。以養兒身。頭與手足幡作一團。如卵之黃。其漿水如卵之白。使上下四旁。皆不得相礙。</p>
<p>時珍曰。胎在母腹。臍連於胞。胎息隨母。</p>
<p>人鏡經曰。臍帶一系。繫於兒臍懸兒於胞中。此通母之氣血。遺蔭之路也。</p>
<p>醫門秘旨曰。臍帶與母之真氣相連。如果生枝上。乃一身之根本也。</p>
<p>保產萬全書曰。按是連紫河車皮膜內含漿水。兒生下則四破。</p>
<p>經脈篇曰。人始生先成精。精成而腦髓生。</p>
<p>醫學原始曰。人之始生。先臍與命門。故為十二經脈之主。</p>
<p>千金方曰。人稟天地而生。故內有五臟六腑精氣骨髓筋脈。外有四肢九竅皮毛爪齒咽喉唇舌肛門胞囊。以總而成軀。</p>
<p>醫彀曰。有言其臟腑生成之次第者。若陰包陽者為男。先生右腎。陽包陰者為女。先生左腎。其次腎生脾。脾生肝。肝生肺。肺生心。以生其勝已。腎屬水。故五臟由是為陰。其次心生小腸。小腸生大腸。大腸生膽。膽生胃。胃生膀胱。膀胱生三焦。以生其已勝者。小腸屬火。故六腑由是為陽。其次三焦生八脈。八脈生十二經。十二經生十五絡。十五絡生一百八十系絡。系絡生一百八十纏經。纏經生三萬四千孫絡。孫絡生三百六十五骨節。骨節生三百六十五大穴。大穴生八萬四千毛竅。則耳目口鼻四肢百骸之身備矣。</p>
<p>脈經義解曰。小兒初生方赤子。</p>
<p>產論曰。凡兒生當長一尺六寸。重十七斤。</p>

<h2>七衝門</h2>
<p>（出於四十四難。評林曰。沖通也。要也。為衝要之地。）</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>唇為飛門。齒為戶門。會厭為吸門。賁門胃上口也。水穀自此入於胃。幽門為下口也。水穀滓穢。自此入於小腸。</p>
<p>醫彀曰。上接胃。即幽門。</p>
<p>原始曰。胃下有幽門。即接小腸。小腸下是闌門。接大腸。</p>
<p>瘡瘍經驗全書曰。咽門廣二寸半。至胃一尺六寸。喉嚨廣二寸。長一尺二寸。</p>
<p>原始曰。十二節上三節微小。下九節微大。第四節乃結喉也。</p>
<p>醫彀曰。闌門下通大腸。又曰。闌住水穀主泌別清濁故曰闌門。清者滲入膀胱。</p>
<p>醫彀曰。溺出前。其精管自兩腎脊骨間發來。繞大腸之右。溺管下。同出前陰而泄精。</p>
<p>醫學原始曰。齒以後至會厭。深三寸五分。大容五合會厭為之吸門。其大如錢。為音聲之戶。薄則易於起。發音出快而便利。厚則起發音出慢而重舌也。人卒然無音者。寒氣客於厭。則厭不能發。發不能下。</p>
<p>錢豫齋曰。會厭綴於舌本之下。正應乎氣管之上。氣管即喉嚨也。居於前。主持呼吸。為發音之門戶。故名吸門。共十二節。上三節微小。下九節微大。第四節乃結喉也。結喉可容得上三節於內。如飲食則結喉即起套於上三節之外。直抵於會厭之下。而揜之。令水穀不得而漏入焉。一或誤投之。即發嗆而不已矣。</p>
<p>醫學原始曰。惟腎亦有系。通於前陰泄精。</p>
<p>又曰。前陰亦一而有兩竅者。廷孔與溺口也。溺口在前。廷孔在後。一道而兩用。又曰。廷孔者。即出精之道。循尾閭上通兩腎之間。</p>
<p>評林曰。按內經並無七衝門。</p>
<p>又曰。今越人言七沖者。以飲食入於唇。碎於齒。受於會厭。腐熟太倉。而出下口。輸於小腸大腸。出肛門。衝要通達。以立命根。故謂衝門。</p>
<p>張世賢曰。沖者通也。要地也。此七衝門者。水穀衝要通利開闔之所。是也。謂之七衝門也。俗解曰。此七沖者。皆水穀變化。相沖出入之門路也。</p>
<p>評林曰。此則自唇至肛門。自上而下。凡飲食之既納。而出入衝要通達。非他處可擬也。故曰。七衝門也。</p>
<p>飛門（唇）　戶門（齒）　吸門（會厭）　賁門（胃之上口）　幽門（胃之下口）　闌門（小腸下口）　魄門（肛門）</p>
<p>張氏圖翼曰。命門氣門。新增入於二門。為九門。</p>
<p>命門（精血之門居前陰中）　氣門（溲溺之門居前陰中由氣化而出故曰氣門）</p>
<p>飛門　靈樞憂恚無言篇曰。口唇者。音聲之扇也。注曰。唇啟則聲揭。故謂之扇。</p>
<p>張世賢曰。兩唇動運。如物之飛。</p>
<p>楊氏曰。脾主於唇。為飛門也。飛者動也。言唇受水穀動轉入於門也。</p>
<p>戶門　俗解曰。飲食由此得入如家室之門戶也。</p>
<p>評林曰。齒之在人為戶門焉。凡物之大者。不得徑入。必得齒以碎之。然得入。其上下開闔。如室之有戶也。</p>
<p>會厭　丁氏曰。會厭為吸門者。咽喉為水穀下時厭接呼吸也。</p>
<p>俗解曰。會厭咽門也。吸入也。會厭為吸門。咽物吸入而不得復出。</p>
<p>評林曰。會厭在人為吸門焉。當咽物之時。咽物吸入。合掩喉嚨。不使食物誤入。以阻氣之噓吸出入。故謂吸門。</p>
<p>醫學綱目曰。咽與喉。會厭與舌。四者同在一門。而其用各異。喉以納氣。故喉氣通於天。咽以納食。故嚥氣通於地。會厭宮乎其上。以司開闔。掩其喉則其食下。不掩之其喉錯。必舌抵上齶。則會厭能閉其喉矣。四者交相為用。闕一則飲食廢而死矣。</p>
<p>賁門　俗解曰。胃為賁門。食飲下咽。賁向聚於胃也。滑氏曰。賁與奔同。言物之所奔向也。</p>
<p>幽門　俗解曰。太倉亦胃也。太倉下口為幽門。在臍上二寸。謂居幽暗之處也。</p>
<p>闌門　丁氏曰。大腸小腸。會為闌門。會者合也。大腸小腸合之處。分闌水穀精血。各有所歸。故曰闌門。</p>
<p>俗解曰。大腸小腸會為闌門者。是大腸小腸。各受物傳化而相會於此。分別清濁渣粕穢濁入廣腸。水液滲泄入膀胱。關闌分隔也。</p>
<p>評林曰。闌遮也。大腸小腸會為闌門焉。當小腸之下口。至是而泌泄清濁焉。水液入膀胱。渣滓入大腸。有遮闌之義。故曰闌門。</p>
<p>魄門　五臟別論曰。魄門亦為五藏。使水穀不得久藏。</p>
<p>丁氏曰。下極為魄門。大腸者。肺之府。藏其魄。大腸下名肛門。又曰魄門。</p>
<p>俗解曰。下極肛門也。下極為魄門。主出不主內。上通於肺。肺藏魄。故曰魄門。</p>

<h1>卷五</h1>

<h2>周身名位骨</h2>
<p>【囟】金鑑曰。顛前之頭骨。嬰兒腦骨未合。軟而跳動之處。曰囟門。人鏡經曰。頂𩕳前為囟。無冤錄曰。囟門在百會之前。【髮際】金鑑曰。囟前為髮際。【額囟】金鑑曰。額前髮際之下。無冤錄曰。首骨也。在囟門之下。經穴指掌圖書曰。顱下曰額。額郭也。即天庭也。無冤錄曰。額角在頭顱左右。【顏】釋骨曰。額之中曰顏。曰庭。六書故曰。自頞達兮顙為顏。靈樞五色篇曰。明堂者鼻也。闕者眉間也。庭者顏也。又云。庭首面也。釋骨自庭至下極。皆顏。說文曰。眉目之間。【闕】釋骨曰。眉間曰闕。【下極】釋骨曰。闕之下曰下極。【頞】金鑑曰。鼻梁即山根也。鼻亦下極。經絡全書。鼻山根也。俗呼為鼻梁。【鼻柱】金鑑曰。兩孔之界骨。名曰鼻柱。下至鼻之盡處。名曰準頭。釋骨曰。鼻骨曰鼻柱。曰明堂骨。【鼻孔】人鏡經曰。人中上兩旁為鼻孔。【人中】金鑑曰。鼻柱下唇。上名水溝。【唇】人鏡經曰。口沿為唇。【齒】人鏡經曰。口內前小者為齒。小兒方訣曰。自腦分入齦中。作三十二齒。而齒牙有不及三十二數者。變不足其常也。或二十八日即至長二十八齒。已下仿之。但不過三十二數。【牙】圖翼曰。前小者曰齒。後大者曰牙。人鏡經曰。齒旁大者為牙。【齗】人鏡經曰。根肉為齗。經絡全書曰。齒根肉也。亦作齦。【舌】人鏡經曰。齒內為舌。【舌本】金鑑曰。舌本者。舌根也。【懸癰】醫彀曰。舌本上為懸癰。【承漿】人鏡經曰。地閣上陷為承漿。【地閣】金鑑曰。即兩牙車相交之骨。又名頦。俗名下巴骨。經絡全書曰。頦一名地閣。【結喉】金鑑曰。喉之管。藏府指掌圖書曰。十二節上三節微小。下九節微大。第四節。乃結喉也。【額角】人鏡經曰。額顱前兩旁為額角。【頭骨】金鑑曰。額兩旁稜處之骨也。【鬢骨】經穴指掌圖曰。耳前動處。一名鬢骨。即顳顬。一名鬢骨。俗曰兩太陽。【曲隅】人鏡經曰。額角兩旁耳上髮際為曲隅。釋骨曰形曲。故曰曲角。【目】金鑑曰。目者。司視之竅也。口問篇曰。心者五藏六府之主也。目者宗脈之所聚也。【目眶】經絡全書曰。瞼也。俗呼為眼胞。【目綱】金鑑曰。綱者上下目胞之兩瞼邊。又名曰睫。司目之開闔也。【目胞】金鑑曰。目胞者。一名目窠。一名目裹。即上下兩目外衛之胞也。無冤錄曰。眼之裹胞也。俗呼眼蓋也。【目珠】金鑑曰。目睛之俗名也。【目系】金鑑曰。目睛入腦之系也。人鏡經曰。目內連深處為系。【宮骨】聖濟總錄曰。左睛之上為宮骨。【命門骨】聖濟總錄曰。右睛之上。為命門骨。【內眥】醫彀曰。內眥者。為睛明。【外眥】醫彀曰。外眥者。為銳骨。金鑑曰。內眥乃近鼻之內眼角。以其大而圓。故又名大眥。外眥目外者。近鬢前之眼角也。以其小而尖。故稱目銳眥。【䪼】釋骨曰。目下曰䪼。經穴指掌圖書曰。面秀骨。經絡全書曰。䪼者頄也。俗呼顴䪼。【面頄骨】釋骨曰。䪼下旁而大者。曰面頄骨。亦顴骨。亦曰頄。【關】釋骨曰。耳前曰關。【兌發】人鏡經。耳前髮腳為兌發。【蔽】金鑑曰。耳門也。【耳郭】金鑑曰。耳輪也。【頰】金鑑曰。耳前顴側面旁之稱。經絡全書曰。面旁也。在耳下。亦名蕃車。無冤錄曰。腮頰面旁。【大迎骨】釋骨曰。曲骨前齦而若逆。【顑】金鑑曰。顑者俗呼為腮。口旁頰前肉之空軟虛。【頷】金鑑曰。頦下結喉上兩側肉之軟處。無冤錄曰。頷頦在頤下。【頤】金鑑曰。口角後顑下。鄭玄曰。頤者口車之名也。【吻】金鑑曰。口之四周也。</p>
<p>金鑑曰</p>
<p>凡前曰</p>
<p>面凡後</p>
<p>曰背居</p>
<p>頭之前</p>
<p>故曰面</p>
<figure>
<img alt="圖">
</figure>
<p>【頂𩕳】人鏡經曰。巔前為頂𩕳。【巔】金鑑曰。頭頂也。巔頂骨也。俗名天靈蓋。【腦】金鑑曰。腦者。頭骨髓也。俗名腦子。【枕骨】釋骨曰。巔之後橫起者曰頭。橫骨曰枕骨。金鑑曰。後山骨。即枕骨也。【玉枕骨】釋骨曰。枕骨之兩旁最起者。曰玉枕骨。【完骨】釋骨曰。玉枕骨下高以長。在耳後曰完骨。金鑑曰。壽臺骨即完骨。在耳後。接於耳之玉樓骨者也。【柱骨】釋骨曰。三節植頸項者。通曰柱骨。【頸】金鑑曰。頸之莖也。又曰。頸者莖之側也。又曰。頭之莖骨。肩骨上際之骨。俗名天柱骨。【項】金鑑曰。頸後莖骨之上。三節圓骨也。【雞足青】金鑑曰。耳本脈中為雞足青。【耳上角】釋骨曰。耳之後上起者。</p>
<figure>
<img alt="圖">
</figure>
<p>【巨骨】釋骨曰。肩端前橫而大。圖翼曰。膺上橫骨。【缺盆】經穴指掌圖曰。結喉下巨骨上。缺陷處。若盆也。【䯏骨】釋骨曰。乃缺盆骨兩旁之端。則肩端骨。玉篇曰。骨端也。【胸】金鑑曰。缺盆下腹上有骨之處。圖翼曰。兩乳之間。【膺】金鑑曰。胸前兩旁高處也。【乳】金鑑曰。膺上突肉有頭。【𩩲𩨗】釋骨曰。蔽心者曰𩩲𩨗。曰鳩尾。曰心蔽骨。曰臆前蔽骨。【腹】金鑑曰。胸下。圖翼曰。臍上下。皆曰腹。【臍】金鑑曰。人之初生。胞帶之處也。【少腹】金鑑曰。臍下曰少腹。亦小腹。太平御覽曰。有小腹之別。臍下曰小腹。臍下旁曰少腹。保命歌括曰。臍以下曰水腹。水汋所聚也。又曰少腹。少小也。比於臍上為小也。【毛際】金鑑曰。小腹下橫骨間。叢毛之際也。【橫骨】釋骨曰。𩩲𩨗直下橫兩股間者曰橫骨。曰股際骨。經穴指掌圖曰。陰毛中有陷如偃月。【曲骨】釋骨曰。橫骨中央兩垂。而厭陰器者。【篡】金鑑曰。橫骨下。兩股之前。相合共結之凹也。前後兩陰之間。名下極穴。又屏翳穴。會陰穴。即男女陰氣之所也。人鏡經曰。篡內深處為下極穴。【陰廷】人鏡經曰。下極之前。男為陰廷。女為窈漏。陰廷下為陰器。【廷孔】類經曰。女人溺孔。在前陰中橫骨之下。男子溺孔。亦橫骨之下。中央為宗筋所函不見耳。馬注曰。廷孔也。其孔即溺孔之端。蓋窈漏之中。有溺孔。其端正在陰廷。乃溺孔之端也。【睪丸】金鑑曰。男子前陰兩丸也。【莖】張氏曰。陰器者。合太陽厥陰陽明少陰之筋。及衝任督之脈。皆聚於此。故曰宗筋。厥陰屬肝。肝主筋。故絡諸筋而一之。以成健運之用。說郛曰。陰莖屬足厥陰肝經。陰囊屬足厥陰肝經。睪丸屬足厥陰肝經。陰中。即陰戶之口。屬足厥陰肝經。陰戶即陰門之口。屬足厥陰肝經。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>【背】釋骨曰。項大椎之下二十一節。通曰脊骨。曰脊椎。曰膂骨。曰中𦛗。第一節曰脊大椎。形如杼。故亦曰杼骨。第十三節至十六節曰高骨。曰大骨。其以上七節曰背骨。則第八節以下乃曰膂骨。末節曰尻骨。曰骶骨。曰脊骶。曰尾骶。亦曰骶。曰尾屈。曰橛骨。曰窮骨。生氣通天論王注曰。高骨謂腰之高骨。是高骨。通謂腰間。脊骨之高者。　沈彤按。上七節皆背骨。而膂骨自八節以下明矣。又說文訓呂為脊骨。訓背為脊。而訓脊則兼背呂亦一脊。而分上背下呂之證。又氣穴論云。中𦛗兩旁各五穴。注謂起肺俞至腎俞。肺俞在第三椎下兩旁。腎俞在十四椎下兩旁。是。中𦛗云者。謂第三椎至十四椎。為膂之中也。此又以膂骨五骨。通稱為𦛗也。　六書精蘊曰。𫈨力莒切。脊骨也。凡二十一部。如珠氣行一起一伏也。象上下相貫形。凡藏府皆繫於𫈨。心系於五椎自十七至二十為腰監骨。所弇心之前有蔽骨。天然之妙也。或從肉作膂脊之重。在骨不在肉也。借為律呂之呂。　萬病回春曰。背倍也。在後稱也。又曰。脊積也。種續骨節終上下。　人鏡經曰。脊骨節為顀。顀骨下盡處為顀尾。顀尾銳為尾蛆骨。一名骶骨。又曰脊骨。除項骨三節二十一盡處為尾蛆骨。【扁骨】人鏡經曰。骶骨兩旁為扁骨。【尻】人鏡經曰。八髎盡分各處為尻。金鑑曰。尻骨者。腰骨下十七椎十八椎十九椎二十椎二十一椎五節之骨也。上四節紋之旁。左右各四孔。骨形凹如尾。長四五寸許。上寬下窄。末節更小。如人參蘆形。名尾閭。一名骶端。一名橛骨。一名窮骨。肛門後其骨上外兩旁形。如馬蹄附著。兩骨上端俗骻骨。【腰骨】金鑑曰。脊骨十四椎下。十五十六椎間。尻上之骨也。其形中凹。上寬下窄。方丹二三寸許。兩旁四孔。下接尻骨上際。醫彀曰。藍骨上為腰骨。一名䯠。【䯊】醫彀曰。䯠上為䯊。【腰踝】圖翼曰。腰髀即腰胯骨也。自十六椎而下。伏脊附著之處也。【腰藍骨】醫彀曰。尻上橫者為腰藍骨。【臀】金鑑曰。尻旁之大肉也。人鏡經曰。臀肉為脽。醫經原旨曰。凡形充而臀削者。必非福壽之兆。【胂】金鑑曰。腰下兩旁髀骨上之肉也。【三柱骨】醫彀曰。肩胛際會處為三柱骨。【䯋】醫彀曰。三柱之上。兩旁之前為䯋。【肩胛】醫彀曰。肩解下成片者為肩胛。一名膊。【肩解】金鑑曰。肩端之骨節解處也。【小髃】釋骨曰。肩前微起者。【髃骨】釋骨曰。缺盆骨兩旁之端肩端骨。醫彀曰。肩兩端骨間。為髃骨。【𦟘】醫彀曰。凡二十一節。通項骨三節。共二十四節。脊肉為𦟘。【膂】醫彀曰。𦟘兩旁為膂胛。又曰。膂肉為胛。一名脢。經典釋文脢武杯反。又音每。心之上。口之下也。鄭玄曰。背脊肉也。說文脢。背肉也。</p>
<figure>
<img alt="圖">
</figure>
<p>【腋】釋骨曰。肩之下。脅之上際。圖翼曰。腋下亦曰胳。玉篇曰。胳腋下也。【胠】說文胠腋下也。圖翼曰。腋下脅上。金鑑曰。胠統脅肋之總名曰胠。釋骨曰。乳三寸者。曰胠。胠骨五。左曰左胠。右曰右胠。其抱胸過乳而兩端相直者。曰膺中骨。【脅】釋骨曰。膺中骨之下。及胠外者曰脅骨。曰脅肋。胠及膺中骨之在乳下者。通曰脅。至真要大論注曰。脅謂兩乳之下。及胠外也。【橛肋】釋骨曰。脅骨之短。而在下者。曰橛肋三。【季肋】釋骨曰。橛肋最短俠脊者。曰季肋。其橛肋之第三條。曰季脅。【脅攴】釋骨曰。凡脅骨之端通曰脅。支亦曰攴。【骹】張志聰曰。胸脅交分之扁骨內膈。前連於胸之鳩尾。旁連於脅。後連於脊之十一椎。釋骨曰。脅支之端相交者曰骹。【䏚】玉機真藏論曰。季脅之下。俠脊兩旁空軟處也。金鑑曰。脅下無肋骨空軟處也。【楗】骨空論王注曰。髀輔骨上。橫骨下。股外之中。側立搖動。取之筋動應手。經絡全書曰。在髀輔骨上。腰橫骨下。股外之中側。立搖動取之。筋動應手是也。【髀樞】圖翼曰。楗骨下。髀之上。曰髀樞。當環跳穴。</p>
<p>【膝】釋名曰。膝伸也。可屈伸。金鑑曰。股中節上下交接處。【膝解】金鑑曰。膝之節解也。人鏡經曰。髀關下膝解為骸關。骨空論曰。膝解為骸關。注曰。膝外為骸關。集註。膝後分解之處。【臏骨】說文膝端也。釋骨曰。蓋骨也。膝蓋之骨。曰膝臏。經絡全書曰。膝蓋骨也。又名連骸骨。又釋骨曰。輔骨旁。不曰輔。曰連骸。骸上者。𩩋之上端也。說文曰。骸脛骨。圖翼曰。膝下內外側大骨。【䯣】說文膝脛間骨也。人鏡經曰。臏下通為䯣。【輔骨】人鏡經曰。䯣外為後輔骨。釋骨曰。俠膝之骨曰輔骨。內曰內輔。外曰外輔。【䯒】釋骨曰。在膝以下者曰䯒骨。䯒亦作胻。䯒者小股也。亦曰足𩩋。脛與𩩋同。曰骸。曰骭。類經曰。骭足𩩋骨骸。說文曰。脛骨。又曰骭骹骨。經絡全書曰。脛骨之近足而細於股內者。亦名之為骭骨。【成骨】釋骨曰。䯒外廉起骨成䯒者。曰成骨。剌腰痛論注曰。調膝外近下䯒骨上端。兩起骨相併間陷容指者也。䯒骨所成柱膝髀骨。故謂之成骨。【踝】釋骨曰。䯒下端起骨曰踝。內曰內踝。外曰外踝。【腕】人鏡經曰。脛下盡處。為曲節。一名脘。【跗】圖翼曰。足面也。人鏡經曰。岐骨上為跗。【岐骨】人鏡經曰。本節後為岐骨。【本節】人鏡經曰。聚毛後為本節。【京骨】釋骨曰。足外側大骨曰京骨。【束骨】釋骨曰小指。本節後曰束骨。【附屬】釋骨曰。外側近踝者曰附屬。類經曰。足面前後皆跗之屬。【跟】釋骨曰。兩踝後在踵者曰跟骨。圖翼曰。足根也。回春曰。足後曰跟。人鏡經曰。足掌後為跟。【三毛】人鏡經曰。大指爪甲之後。為三毛。【聚毛】人鏡經曰。三毛後橫紋為聚毛。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>【股】人鏡經曰。髀樞下股。一名胯股骨。為䯑䯖。說文曰。胯股也。金鑑曰。下身兩攴通稱也。俗名大腿小腿。【魚腹股】人鏡經曰。股下為魚腹股。【髀】人鏡經曰。魚腹股外為髀關。【髀關】人鏡經曰。伏兔後交文中。為髀關。【伏兔】人鏡經曰。髀之前膝上起肉為伏兔。【膕】人鏡經曰。膝後曲處為膕。金鑑曰。膝屈俗名腿凹也。【腨】說文曰。腓腸也。至真要大論王注曰。䯒後軟肉處也。金鑑曰。鏡者下腿肚也。一名腓腸。俗名小腿肚。【然骨】釋骨曰。內踝下前起大骨。【覈】釋骨曰。跗內下為覈骨。一名核骨。圖翼曰。足大指本節後。內側丹骨。醫學綱目曰。本節後約二寸。內踝前約三寸。如棗核。橫於足內踝赤白肉際者是也。【趾】金鑑曰。其數五。名為趾者。別於手也。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>【蹠】人鏡經曰。大指下為蹠。【跽】人鏡經曰。蹠下為跽。【板】人鏡經曰。跽後為板。【蹄】釋名曰。蹄底也。足底也。回春曰。蹄底也。乃足之底。【足心】人鏡經曰。板後為足心。【足掌】人鏡經曰。足心後為足掌。【踵】釋名曰。踵鍾也。鍾聚也。上體之所鍾聚也。金鑑曰。足下面。著於地之謂也。俗名腳底板。【膊】人鏡經曰。從肩解後之下為膊。【臑】人鏡經曰。膊下對腋為臑。金鑑曰。肩髆下內側對腋處高起耎白肉也。【臂】圖翼曰。肘之上下。皆名臂。一曰。自曲池以下為臂。金鑑曰。一名肱。俗名肐膊。說文曰。臂手上也。人鏡經曰。臑下為股。一名臂。【腕】人鏡經曰。臂骨盡處為脘。金鑑曰。臂掌骨接交處。以其宛居。故名也。當外側之骨。名曰高骨。一名銳骨。亦名踝骨。馬氏曰。掌後高骨為壅骨。【掌骨】金鑑曰。掌者手之眾。指之本也。手之眾骨。名壅骨。【手背】金鑑曰。手背者。手之表也。【岐骨】金鑑曰。凡骨之兩叉者。皆名岐骨。手足同。【虎口】人鏡經曰。岐骨前為虎口。【指】金鑑曰。指者。手指之骨也。第一大指。名巨指。第二名食指。第三中指。名將指。第四名無名指。第五為小指。圖翼曰。謂大指之次指。即食指也。足亦同。謂小指之次指。即無名指也。足同。【爪甲】金鑑曰。爪甲者。指之甲也。足趾同。【腡】玉篇曰。腡手理也。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>聖濟總錄曰。凡三百六十五骨也。天地相參。惟人至靈。其女人則無頂威骨。左洞右棚。乃初步等五骨止。三百六十骨。順骨之左為洞骨。順骨之右為棚骨。洞棚下中央為𩩲𩨗。直下為天樞骨。</p>
<p>髁骨之前。各有下刀骨。踝骨之後。各有京骨。下刀骨之前。各有釋歆骨。釋歆之前。各有起僕骨。起僕之前。各有襯甲骨。釋歆骨兩旁。各有核骨。起僕之下。各有初步骨。</p>

<h2>一穴有二名</h2>
<p>雲門（肺）　雲門（資生經）　大淵（肺）　太泉（千金方徐氏）</p>
<p>商陽（大腸）　絕陽（甲乙經）　二間（大腸）　間谷（甲乙經）</p>
<p>三間（大腸）　少谷（甲乙經）　合谷（大腸）　虎口（甲乙經）</p>
<p>陽谿（大腸）　中魁（甲乙經）　曲池（大腸）　鬼巨（千金方）</p>
<p>肘髎（大腸）　肘尖（外科樞要）　五里（大腸）　尺之五里（靈樞）</p>
<p>臂臑（大腸）　頭沖（千金方）　天鼎（大腸）　天頂（大全）</p>
<p>扶突（大腸）　水穴（外臺徐氏）　迎香（大腸）　衝陽（甲乙經）</p>
<p>大迎（胃）　髓孔（甲乙經）　缺盆（胃）　天蓋（甲乙經）</p>
<p>大巨（胃）　腋門（甲乙經）　歸來（胃）　溪穴（甲乙經）</p>
<p>氣衝（胃）　氣街（素問）　伏兔（胃）　外勾（大全）</p>
<p>陰市（胃）　陰鼎（甲乙經）　解谿（胃）　鞋帶（六集）</p>
<p>衝陽（胃）　會原（甲乙經）　漏谷（脾）　太陰胳（千金方）</p>
<p>地機（脾入門作箕）　脾舍（甲乙經）　陰陵泉（脾）　陰之陵泉（素問）</p>
<p>血海（脾）　百蟲窠（大全）　大橫（脾）　人橫（西方子明堂經）</p>
<p>少海（心）　曲節（甲乙經）　少衝（心）　經始（甲乙經）</p>
<p>少澤（小腸）　小吉（甲乙經）　天窗（小腸）　窗籠（甲乙經）</p>
<p>顴髎（小腸）　兌骨（甲乙經）　晴明（膀胱）　淚孔（甲乙經千金方晴作精外臺銅人作淚孔聚英醫統作淚空）　眉沖（膀胱）　小竹（資生經）</p>
<p>曲差（膀胱）　鼻沖（甲乙經）　督俞（膀胱）　高蓋（資生經）</p>
<p>白環俞（膀胱）　腰俞（經脈馬氏）　會陽（膀胱）　利機（甲乙經）</p>
<p>譩譆（膀胱）　五胠俞（刺瘧論王注）　崑崙（膀胱）　下崑崙（大全）</p>
<p>僕參（膀胱）　安邪（甲乙經）　金門（膀胱）　關梁（甲乙經聚英醫統作梁關）</p>
<p>束骨（膀胱）　刺骨（脈經）　湧泉（腎）　地衝（甲乙經）</p>
<p>照海（腎）　陰蹻（大全）　大溪（腎）　呂細（醫統）</p>
<p>橫骨（腎）　下極（神照集）　四滿（腎）　髓中（聚英）</p>
<p>商曲（腎）　高曲（千金方）　石關（腎）　右關（千金方）</p>
<p>幽門（腎）　上門（甲乙經）　天池（心包）　天會（甲乙經）</p>
<p>天泉（心包）　天溫（甲乙經）　間使（心包）　鬼路（千金方）</p>
<p>太陵（心包）　鬼心（千金方）　陽池（三焦）　別陽（甲乙經）</p>
<p>支溝（三焦）　飛虎（神照集）　瘛脈（三焦）　資脈（甲乙經）</p>
<p>顱息（三焦）　顱囟（聚英）　曲賓（膽）　曲發（聚英）</p>
<p>竅陰（膽）　枕骨（聚英）　陽白（膽）　楊白（入門）</p>
<p>目窗（膽）　至榮（甲乙經）　腦空（膽）　顳顬（甲乙經）</p>
<p>肩井（膽）　髆井（聚英）　淵液（膽）　泉液（千金方）</p>
<p>維道（膽）　外樞（甲乙經）　風市（膽）　垂手（醫學原始）</p>
<p>大敦（肝）　大順（正傳）　中封（肝）　懸泉（聚英）</p>
<p>中都（肝）　中郄（醫統千金外臺脈經以中郄為本名）　蠡溝（肝）　交儀（聚英）</p>
<p>陰包（肝）　陰胞（大全）　大椎（督）　百勞（大全）</p>
<p>強間（督）　大羽（甲乙經）　後頂（督）　交沖（甲乙經）</p>
<p>至陽（督）　肺底（醫學原始）　風府（督）　舌本（甲乙經）</p>
<p>神庭（督）　髮際（本事方）　兌端（督）　壯骨（甲乙經）</p>
<p>玉堂（任）　玉英（甲乙經）　中庭（任）　龍頷（千金翼）</p>
<p>齗基（任）　下頤（王注）</p>

<h2>一穴有三名</h2>
<p>承泣（胃）　鼷穴（甲乙經）　面窌（甲乙經）</p>
<p>頰車（胃）　機關（聚英）　曲牙（聚英）</p>
<p>地倉（胃）　會維（甲乙經）　胃維（外臺秘要）</p>
<p>人迎（胃）　天五會（甲乙經）　五會（銅人經）</p>
<p>水突（胃）　水門（甲乙經）　水天（甲乙經）</p>
<p>三里（胃）　下陵三里（靈樞）　鬼邪（千金方）</p>
<p>巨虛上廉（胃）　上廉（靈樞）　上巨虛（銅人經）</p>
<p>巨虛下廉（胃）　下廉（靈樞）　下巨虛（銅人經）</p>
<p>衝門（脾）　茲宮（甲乙經）　上茲宮（醫統）</p>
<p>腹結（睥）　腹屈（甲乙經）　腸窟（外臺秘要聚英作陽屈）</p>
<p>通天（膀胱）　天臼（甲乙經）　天伯（銅人經）</p>
<p>絡卻（膀胱）　強陽（甲乙經）　腦蓋（甲乙經）</p>
<p>承筋（膀胱）　腨腸（甲乙經）　直腸（甲乙經）</p>
<p>申脈（膀胱）　陽蹻（千金方）　鬼路（千金方）</p>
<p>太赫（腎）　陰維（甲乙經）　陰關（甲乙經）</p>
<p>氣穴（腎）　胞門（甲乙經）　子戶（甲乙經）</p>
<p>陰都（腎）　食宮（甲乙經）　石宮（銅人經）</p>
<p>勞宮（心包）　五里（甲乙經）　掌中（資生經醫學原始）</p>
<p>三陽絡（三焦）　通關（圖翼）　通間（王注）</p>
<p>臑會（三焦）　臑窌（甲乙經）　臑交（聚英）</p>
<p>絲竹空（三焦）　巨髎（甲乙經）　目髎（外臺秘要）</p>
<p>率谷（膽）　率骨（大全）　耳尖（銀海精微）</p>
<p>輒筋（膽）　神光（聚英）　膽募（聚英）</p>
<p>日月（膽）　神光（神照集）　膽募（神照集）</p>
<p>京門（膽）　氣府（甲乙經）　氣俞（甲乙經）</p>
<p>陽陵泉（膽）　陽之陵泉（靈樞）　陽陵（神應經）</p>
<p>陽交（膽）　別陽（甲乙經）　足窌（甲乙經）</p>
<p>陽輔（膽）　絕骨（刺瘧論王注）　分肉（氣穴論）</p>
<p>懸鐘（膽）　絕骨（千金方聚英醫學原始）　髓會（醫學原始）</p>
<p>命門（督）　屬累（甲乙經）　精宮（醫學原始）</p>
<p>脊中（督徐氏作柱）　神宗（銅人經）　脊俞（明堂經徐氏）</p>
<p>上星（督）　神堂（圖翼）　鬼堂（千金方）</p>
<p>素髎（督）　面王（甲乙經銅人王作正資生作上外臺作玉）　準頭（金鑑）</p>
<p>曲骨（任）　回骨（銅人經）　屈骨（千金方）</p>
<p>水分（任）　分水（神農皇帝針灸圖聖惠方）　中守（千金方）</p>
<p>上脘（任）　上管（徐氏大全）　胃脘（徐氏大全）</p>
<p>天突（任）　玉戶（甲乙經）　天瞿（徐氏大全）</p>
<p>廉泉（任）　木池（甲乙經）　舌本（醫統）</p>

<h2>一穴有四名</h2>
<p>溫溜（大腸）　逆注（甲乙經）　蛇頭（甲乙經）　池頭（資生經）</p>
<p>承扶（膀胱）　肉郄（甲乙經）　陰關（甲乙經）　皮部（甲乙經）</p>
<p>委中（膀胱）　郄中（刺瘧論王注）　委中英（靈樞）　血郄（醫統）</p>
<p>飛陽（膀胱）　厥陽（甲乙經）　厥揚（醫統）　飛揚（入門）</p>
<p>然谷（腎）　龍淵（甲乙經）　龍泉（千金方）　然骨（圖翼）</p>
<p>復溜（腎）　伏白（甲乙經）　昌陽（甲乙經）　伏曰（聚英）</p>
<p>瞳子髎（膽）　後曲（外臺秘要）　太陽（千金方）　前關（千金方）</p>
<p>聽會（膽）　聽呵（資生經大全作河）　後關（大全）　耳門（千金方）</p>
<p>陽關（膽）　寒府（骨空）　關陵（千金方）　陽陵（徐氏大全大成）</p>
<p>囟會（督）　囟門（八脈考）　鬼門（千金注）　項門（六集）</p>
<p>腦戶（督）　匝風（甲乙經）　會額（甲乙經）　合顱（外臺秘要）</p>
<p>水溝（督）　人中（資生經）　鬼客廳（千金翼）　鬼宮（千金翼）</p>
<p>中極（任）　氣原（甲乙經）　玉泉（甲乙經）　氣魚（黃帝蝦蟆經）</p>
<p>中脘（任）　太倉（甲乙經）　胃脘（圖翼）　上紀（圖翼）</p>
<p>膻中（任）　元兒（甲乙經）　上氣海（圖翼）　元見（大成）</p>
<p>承漿（任）　天池（甲乙經）　懸漿（銅人經）　鬼市（千金方）</p>

<h2>一穴有五名</h2>
<p>肩髃（大腸）　中肩中（千金方）　肩骨（明堂下經）　肩尖（外科樞要）　髃骨（王注）　</p>
<p>神門（心）　兌沖（甲乙經）　兌骨（難經注）　中都（甲乙經）　銳中（醫統）</p>
<p>承山（膀胱）　魚腹（甲乙經）　肉柱（甲乙經）　傷山（徐氏大全）　魚腰（神照集）</p>
<p>客主人（膽）　上關（銅人經）　客主（大全）　太陽（醫壘元戎）　容主（大全）</p>
<p>風府（督）　舌本（甲乙經）　惺惺（畫墁錄）　鬼穴（千金方）　曹溪（本事方）</p>
<p>瘂門（督）　瘖門（甲乙經）　舌橫（甲乙經）　橫舌（外臺秘要）　舌厭（甲乙經）</p>
<p>會陰（任）　屏翳（甲乙經）　平翳（大全）　下陰別（氣府論王注）　海底（神照集）</p>
<p>氣海（任）　脖胦（甲乙經）　下肓（甲乙經）　下氣海（馬注）　丹田（本事方）</p>
<p>鳩尾（任）　𩩲𩨗（甲乙經）　𩩲𩨗（聚英）　尾翳（甲乙經）　臆前（銅人經）</p>

<h2>一穴有六名</h2>
<p>禾髎（大腸）　䪼（外臺秘要）　長頻（銅人經）　長頰（聚英）　長顪（大成）　長髎（大全）</p>
<p>章門（肝）　長平（甲乙經）　脅窌（甲乙經）　肋髎（大全）　季肋（大全）　季脅（六集）</p>
<p>石門（任）　丹田（甲乙經）　利機（甲乙經）　精露（甲乙經）　命門（甲乙經）　俞門（針灸集書）</p>
<p>神闕（任）　臍中（甲乙經）　命蒂（危證簡便）　氣舍（外臺秘要）　氣合（大全）　維會（神照集）</p>

<h2>一穴有七名</h2>
<p>攢竹（膀胱）　始光（甲乙經）　員在（甲乙經）　夜光（甲乙經）　明光（甲乙經）　光明（銅人經）　元柱（醫統）</p>
<p>環跳（膽）　分中（神照集）　髖骨（神照集）　臏骨（大全）　髀樞（圖翼）　環谷（類經）　髀厭（人鏡經）</p>

<h2>一穴有八名</h2>
<p>腰俞（督）　髓空（甲乙經）　背解（甲乙經）　腰戶（甲乙經）　髓孔（聚英）　腰柱（聚英）　髓俞（大全）　背鮮（大全）</p>
<p>百會（督）　三陽五會（扁鵲傳）　三陽（大成）　巔上（聚英）　五會（大全）　天滿（神照集）　維會（衛生寶鑑）　泥丸宮（本事方）</p>

<h2>一穴有九名</h2>
<p>天樞　長谿（甲乙經）　谷門（甲乙經）　谷門（資生經）　長雞（資生經）　循際（千金方）　循元（醫學綱目）　長谷（千金方）　補元（醫學綱目）</p>

<h2>一穴有十七名</h2>
<p>長強　龜尾（聖惠方）　尾骨（千金翼）　橛骨（聚英）　尾閭（醫統）　尾蛆骨（人鏡經）　骶骨（人鏡經）　窮骨（金鑑）　為之（醫學原始）　陰郄（醫學原始）　龍虎（東醫寶鑑）　曹溪路（寶鑑）　三分閭（寶鑑）　河車路（寶鑑）　朝天巔（寶鑑）　上天梯（寶鑑）　氣之陰郄（甲乙經）</p>

<h2>一穴有二十七名</h2>
<p>關元　關原（神農皇帝針灸圖經）　丹田（資生經集註）　下紀（本事方）　次門（甲乙經）　大中極（資生經）　三結交（寒熱病論）</p>
<p>六十六難集註曰。丹田者。人之根本也。精神之所藏。五氣之根元。太子之府也。男子以藏精。女子主月水。以生養子息。合和陰陽之門戶也。在臍下三寸。方圓四寸。附著脊脈兩腎之根。名曰大海。一名溺水。一名大中極。一名大涃。一名崑崙。一名持樞。一名五堿。</p>
<p>類經曰。道家以先天真一之炁。藏乎此。為九還七返之基。故名之曰丹田。醫家以衝任之脈。盛於此。則月事以時下。故名之曰血室。又曰。凡人之生。唯氣為先。故又名為氣海。然而名雖不同。實則一子宮耳。子宮之下。有一門。其在女者。可以手探而得。俗人名為產門。</p>
<p>經脈發揮曰。關元一名下紀。一名脖胦。一名子處。一名次門。一名血海。一名血室。一名大中極。一名下肓。一名氣海。一名精露。一名利機。一名子戶。一名胞門。一名子宮。一名子腸。一名丹田。一名產門。一名三結交。一名肓之原。（營昇按。饗庭東庵經脈發揮。一名不知出處。故未詳。）</p>

<h2>同名穴</h2>
<p>頭臨泣（膽）　足臨泣（膽）　腹通谷（腎）　足通谷（膀胱）　手三里（大腸）　足三里（胃）　頭竅陰（膽）　足竅陰（膽）　背陽關（督）　足腸關（膽）　陰郄（心）　陰郄（長強一名）　陰關（承扶一名）　陰關（太赫一名）　陰關（膝關一名）　耳門（三焦）　耳門（聽會一名）　維會（百會一名）　維會（神闕一名）　陰都（腎）　陰都（針灸經驗方臍下一寸五分兩旁相去三寸）　別陽（陽交一名）　別陽（陽池一名）　獨陰（至陰一名）　獨陰（針灸經驗方曰在足大指次指內中節橫文當中東醫寶鑑曰在第二指節橫文）　中都（肝）　中都（神門一名）　中都（大成曰在手中指無名指間本節前岐骨間又名液門）　中魁（陽谿一名）　中魁（大成曰在中指第二節骨尖屈指得之）　利機（石門一名）　利機（會陽一名）　呂細（大溪一名）　呂細（神應經曰在內踝尖上）　龍虎（長強一名）　龍虎（大成曰在兩手側腕又紫脈上醫學綱目曰在列缺上青脈中）　大都（脾）　大都（大成曰在手大指次指間虎口赤白肉際）　太陽（客主人一名）　太陽（瞳子髎一名　赤水玄珠引洗錄曰眉際之末者太陽穴按即絲竹空　奇效良方曰眉後陷中太陽紫脈上是穴　東醫寶鑑曰在兩額角骨後紫脈上即瞳子髎　銀海精微曰在外眥五分　醫壘元戎曰客主人俗呼太陽穴　大成曰在眉後陷中太陽紫脈上穴是）　丹田（關元一名）　丹田（石門一名）　丹田（氣海一名）　關元（任）　關元（神照集曰在曲骨穴微上兩旁各開三寸是穴千金方曰關元兩旁相去三寸）　窗籠（天窗一名）　窗籠（根結篇曰窗籠謂聽宮穴）　通谷（腎）　通谷（千金方乳下二寸）　通關（三陽絡一名）　通關（針灸經驗方曰中腕旁五分）　臗骨（環跳一名）　臗骨（神照集曰梁丘兩旁各開五分大成曰梁丘兩旁各開一寸五分兩足共四穴醫經會元曰在膝蓋上梁丘外旁外開一寸）　外陵（胃）　外陵（景岳全書曰臍左右各開一寸半）　陽陵（陽關一名）　陽陵（陽陵泉一名）　血郄（血海一名）　血郄（委中一名）　血郄（針灸經驗方曰膝眼又名血郄）　血海（脾）　血海（關元一名）　溪穴（承泣一名）　溪穴（歸來一名）　五會（人迎一名）　五會（五會一名）　五里（大腸）　五里（肝）　五里（勞宮一名）　光明（攢竹一名）　光明（膽）　光明（銀海精微曰對瞳人上眉中是光明穴）　腋門（三焦）　腋門（大巨一名）　腋門（泉淵一名）　腋門（千金方曰在腋下攢毛中一寸）　兌骨（神門一名）　兌骨（顴髎一名）　天池（心包）　天池（承漿一名）　氣舍（胃）　氣舍（神闕一名）　金門（膀胱）　金門（千金方曰在穀道前囊之後當中央是也恐會陰穴也）　金門（癰疽神秘灸經曰掌後三寸半）　鬼路（間使一名）　鬼路（申脈一名）　氣堂（尺沢一名）　氣堂（千金方曰胸前喉下甲骨中是亦名氣堂）　魚腰（承山一名）　魚腰（大成曰在兩眉中間是穴神照集曰一名吊晴在兩眉中）　氣海（任）　氣海（關元一名）　氣海（資生經曰十五椎下兩旁各寸半）　氣衝（胃）　氣衝（千金方曰胸前喉下甲骨中是亦名氣堂　醫學綱目曰氣海旁各一寸半又名氣中）　命門（督）　命門（石門一名）　命門（根結篇曰命門者謂晴明穴）　命門（圖翼曰九門之內命門者精血之內居前陰中）　衝陽（胃）　衝陽（迎香一名）　衝陽（翼曰在肘外屈橫文外頭）　神堂（膀胱）　神堂（上星一名）　神光（日月一名）　神光（輒筋一名）　上關（幽門一名）　上關（客主人一名）　神庭（任）　神庭（脈經曰在龜尾下五分注龜尾一作鳩尾）　至陽（督）　至陽（醫學原始曰在足小指第二節）　舌本（廉泉一名）　舌本（風府一名）　石關（腎）　石關（衛生寶鑑曰在心下二寸兩旁各五寸）　精宮（命門）　精宮（入門曰十四椎各開三寸）　絕骨（懸鐘一名）　絕骨（陽輔一名）　髓孔（大迎一名）　髓孔（腰俞一名）　水分（任）　水分（醫學原始曰在分水旁各一寸半）</p>

<h2>阿是穴</h2>
<p>千金方曰。凡人吳蜀地遊官體上。當須三兩處灸之。勿令瘡暫瘥。則瘴癘溫瘧毒氣。不能著人也。故吳蜀行灸必法阿是之注。言人有病痛。即令揑其上。若里當其處。不問孔穴。即得便快成痛處。即云阿是。灸刺皆驗。故曰阿是穴。</p>
<p>阿是之名。出於唐之代。漢書東方朔傳師古注曰。今人痛甚。則稱阿雲云。師古唐人。蓋當時有此聲阿是。乃按而痛甚之處。為是之意也。又靈樞經筋篇曰。以痛為輸之類也。又素問王注曰。不求穴俞。而直取居邪之處。此類皆阿是也。又千金方曰。阿是穴。玉龍賦歌謂不定穴。但痛處就於左右穴。經所謂以痛為輸是也。又針方六集曰。不定穴但隨痛處。用針即天應穴。又醫學綱目曰。渾身疼疼。但於痛處針。不拘經穴。須避筋骨。穴名天應穴。又醫經會元曰。穴但痛處針名天應穴。</p>

<h2>人有四關</h2>
<p>（出於九針十二原篇）</p>
<p>合谷大沖。是曰四關。（馬氏曰。四關者。即手肘足膝之所關節之所繫也。）</p>

<h2>人有四海</h2>
<p>（醫學原始曰。海有東西南北。人亦有四海以應之。）</p>
<p>胃者水穀之海。　衝脈者十二經之海。　膻中者氣之海。　腦者髓之海是也。</p>

<h2>反關脈</h2>
<p>吳昆方考脈語曰。反關脈者。脈不行於寸口。由列缺絡入臂後。手陽明大腸經也。以其不順行於關上。故名曰反關。有一手反關者。有兩手反關者。此得於有生之初已然。非為病也。診法皆同。若病人平日正取有脈。一旦因得病伏匿者。此病脈種種不同。必原其證而治之。</p>
<p>古今醫統曰。人或有寸關尺三部脈不見。自列缺至陽谿見者。俗謂反關脈。此經脈虛而絡脈滿。</p>

<h2>神門脈</h2>
<p>李士材診家正眼曰。兩手尺中。乃神門脈也。王叔和曰。神門訣齗。兩在關後。人無二脈。病死不救。詳考其論。腎之虛實。俱於尺中神門以後驗之。蓋水為天一之元。萬物賴以資始也。故神門脈絕。即是腎絕。先天之根本。既無回生之日也。而脈微。謂為心脈者誤矣。彼因心經有穴。名曰神門。正在掌後兌骨之端。故錯認耳。殊不知心在上焦。豈有候於尺中之理乎。</p>

<h2>三經脈</h2>
<p>類經注曰。經脈十二。而三經獨多動脈。而三經之脈。則手太陰之大淵。足少陰之太谿。足陽明上則人迎。下則衝陽。皆動尤甚者也。</p>
<p>診家正眼曰。衝陽者胃脘也。一曰趺陽。在足面大指間五寸。骨間動脈是也。凡勢危篤。當候衝陽。以驗其胃氣之有無。蓋土為萬物之母。資生之本也。故經曰。衝陽絕。死不治。</p>
<p>又曰。太谿者。腎脈也。在足內踝後跟骨上陷中。動脈是也。凡病勢危篤。當候太谿。以驗其腎氣之有無。蓋水為天一之元。資始之本也。故經曰。太谿絕。死不治。</p>

<h2>十二經動脈</h2>
<p>人鏡經曰。十二經動脈。或時動時止而不常。惟手太陰為五藏之主。足陽明為六府之原。足少陰起於衝脈。為十二經之海。故常動不休。</p>
<p>手太陰肺經（動脈大淵）　手陽明大腸經（動脈陽谿）　足陽明腎經（動脈衝陽）</p>
<p>足太陰脾經（動脈衝門）　手少陰心經（動脈陰郄）　手太陽小腸經（動脈天窗）</p>
<p>足太陽膀胱經（動脈委中）　足少陰腎經（動脈太谿）　手厥陰心包經（動脈勞宮）</p>
<p>手少陽三焦經（動脈和髎）　足少陽膽經（動脈懸鐘）　足厥陰肝經（動脈太衝）</p>

<h2>頭上諸脈（出於吳醫匯講）</h2>
<p>蓋聞手之三陰。從臟走手。（手太陰肺。少陰心。厥陰心包。）手三陽從手走頭。（手少陽三焦。陽明大腸。太陽小腸。）足之三陽。從頭走足。（足太陽膀胱。陽明胃。少陽膽。）足之三陰。從足走腹。（足太陰脾。少陰腎。厥陰肝。）靈已遂一而分言。茲乃合端而便讀。膀胱之脈。交於巔。肝與督脈會於巔絡腦。須知膀督。（惟欲便於讀。故用簡字訣。余仿之。）髮際循乎胃脈。胃至額顱。（髮際下為額顱）膽抵頭角。上額者督與膀胱。（在內直上）出額者。其惟肝經。（在外直出）目系連於肝脈心之支者。並繫於目之內角。名目內眥。小支至而膀胱起胃經。還約於旁。（小腸之支者。至目內眥。膀胱之脈起於目內眥。胃脈起於鼻之交頞中旁。約太陽之脈。下循鼻外。）目之外角。名曰銳眥。膽接焦支。（三焦之支者。至銳眥。膽脈起於目銳眥。）小腸亦至目。下為䪼焦膽小腸而合至。（三焦俱支者。）兩旁為頰。大小膽焦而上下。（夾而橫骨為頰。大腸貫頰小腸之上頰。肝與三焦。俱下頰。四肢亦俱攴者。）小腸之支。斜絡於顴督脈。至於鼻柱。胃脈起於交頞。（即山根。）大腸之支。挾鼻孔而交中挾口。（從下齒還出挾口。交人中左之右。右之左。上挾鼻孔。至迎香穴而終。交足陽明經。）胃經之脈。循鼻外而挾口。環唇肝又環於唇內胃又交承漿。（下層陷中）胃經之脈。入上齒。大腸之支。入下齒。頷前大迎胃脈。出而膽支下。（顋下為頷。頷前一寸三分動脈陷中為大迎。乃胃經穴。）頷下為頤。胃脈循而任脈上。（胃經循頤後下廉。）耳之上角焦支出。而膽支至客主人穴。膽出走而胃脈過。（耳前上廉起骨曰客主人。乃膽經穴。膽脈之支者。出走耳前。至目銳眥後。胃脈上耳前過客主人。）三焦之孫脈。（靈樞曰。經脈為里。支而橫者為經。絡之別者為孫。此支之岐者。故曰。系脈後仿之。）出走客主人前。小腸與焦膽三支。並人耳中膽脈焦支系於耳後。膽支胃脈循在頰車。（耳下曲骨為頰車。）咽有小心脾腎之脈。（小腸脈循心脈之支者。挾咽脾脈挾咽腎脈至咽。）喉為胃支腎脈之循。（二脈循喉嚨。）肝循喉後而入咽顙。（肝脈循喉嚨之後。上入咽顙。○咽顙名頏顙。在上齶後。）脾連舌本而散舌下。腎脈挾乎舌本。胃支下在人迎。（結喉旁一寸五分動脈。）此為諸陽之會。先須大略而陳。</p>

<h2>在身諸脈</h2>
<p>原夫腦後為項。膀胱督脈。與焦支兩旁為頸。大小腸支同膽脈肩髃之前廉。大腸出之肩後之下。為膊膀胱循也。焦膽小腸交合於肩。（會於大椎者為肩。）腎經督脈並貫於脊。脊骨兩旁第一行。相去各一寸五分。挾脊肉為膂。膽脈循之而挾脊。脊骨兩旁第二行。相去各三寸。成片骨為胛。（音夾）小腸繞而膀支。貫至於肩前陷下。名曰缺盆。焦膽胃腸併入其中。是以膽脈循胸三焦布膻。（上焦而乳中間為膻中。）乳內廉乃胃經直下腋之中。分膽經包絡。（心包絡亦有直者支者之分。恐辭句繁複。故此處支者。僅云心包。下文正脈。乃用心包二字。以別文。）腋下為包絡之過心直下。而肺橫出脅裡。為膽脈。循心包出而肝經布脅骨之下為季脅。須識膽經之過臍下四寸為中極。當知任脈之起。（任脈起於中極之下。）然而任脈當臍沖。胃挾臍脾脈入腹胃支。循腹肝經。上抵乎小腹膽胃。出入於氣街。（臍下毛際兩旁動脈為氣街。一名氣衝。乃胃經穴。）膽繞毛際。（曲骨之外。為毛際。）肝環陰器。此在身軀之脈。所當臚列而明。</p>

<h2>臟腑中諸脈</h2>
<p>其在臟腑之脈。太陽與少陰為表裡。（手太陽小腸。少陰心。足太陽膀胱。少陰腎。）少陽與厥陰為表裡。（手少陽三焦。厥陰心包。足少陽膽。厥陰肝。）陽明與太陰為表裡。（手陽明大腸。太陰肺。足陽明胃。少陰腎。）凡此六經脈。皆互絡手足同。然無煩詳贅。（如肺脈絡大腸。大腸脈絡肺之類。十二經皆仿之。）更有肺之一臟。心直上而腎直入胃之一腑。肝脈挾而肺小循。（肝脈挾胃肺脈還。循胃口小腸之脈抵胃。）心有腎支之絡。肝有腎經之貫。脾支又注於心中。肺脈自起於中焦。心下有膈。惟膀胱為無涉。十有一經。皆上下而貫之。（心下膈膜遮隔。濁氣不使上薰心肺。惟膀胱之脈挾脊抵腰中。入循膂絡腎屬膀胱。故不貫膈。）此臟腑之間。並須熟諳者。</p>

<h2>手經諸脈</h2>
<p>論乎肩肘之間。乃號為臑。（音柔。俗名大骨。）臑之內廉有三肺。循前而心。循後包絡。恰循乎其間。臑之外廉有三小。循後而大。循前三焦。乃循乎其外臑。下為肘。三焦上貫內廉屍澤包絡入之。（包絡之支者。入肘內陷中尺澤穴。）肺則下於內。前心又下於內後。（肺脈下肘中。心脈下肘內。惟肺脈行前。心脈行後。心包行其中間。為別。）小腸出於內側。（兩筋之間。）大腸入於外廉。肘下為臂。包仍在中。（即上文支者。）大循上而小循下。心脈仍循內後廉。上骨下廉之內。仍循肺脈。臂外兩骨之間。還出三焦。肺入寸口而循魚際。（關前動脈為寸口。大指後肉隆起處為魚際。其間穴名。）心抵銳骨。而入後廉。（心脈掌後銳骨之端。入掌內後廉。）胞絡直入於掌中。（從曲澤行掌後。兩筋之間。橫紋中陷中。入掌中。）三焦仍循乎表腕。大腸出於合谷。而上入兩筋之中。（合谷俗名虎口。大腸經穴。）小腸循於外側。而出腕下之踝。（循手外側上腕出踝中。踝音華。上聲。腕外兌骨。）肺脈出於大指。包絡出於中指。次指為肺支腸脈之交。（肺脈之支者。直出次指內廉。出其端。大腸之脈。起於次指之端。）四指為包孫焦脈之接三焦。又上出小次之間。小指為心脈。小腸之接。所謂手經。大略如前。</p>

<h2>足經諸脈</h2>
<p>至如尻上為腰膀胱脈抵。（背脊下橫骨為腰。）腰下為臀。膀支貫之而旁捷骨之下。名髀樞。而膽橫膀過。（一名髀厭。膽脈橫入髀厭中。膀胱之支者過髀樞。）前面氣街之下。號髀關。而胃經直下股之內廉。前廉脾而後廉腎。又肝脈內循於股陰。股外為髀。後膀支而前胃脈。（髀前膝上六寸起肉為伏兔。胃脈抵之。）又膽脈下循於髀陽。（循髀外太陽陽明之間。）是以挾膝筋中為臏。（即膝蓋骨。）仍屬胃經之直下。而膝內脾經。（內前廉。）膝後曲處為膕。還是膀支之直入而腎出。肝上俱在內廉。（腎脈出膕內廉。肝脈上膕內廉。）腎脾上於腨內。（腨足肚也。二脈上腨內廉。）膀支貫於腨外。（從膕中下貫腨內出外踝之後。）膽下於外輔骨前。而直抵絕骨之端。（髀骨為輔骨外踝。上為絕骨。）肝斜於膽胻內側。而胃循脛外之廉內踝。有脾前腎後之分。外踝有膽前膀後之別。（踝上兩旁。內外曰踝。）大指節後為核骨。脾經脈過足。外側骨為京骨。膀脈支循腎入跟中。胃膽循跗跗上廉。乃肝經循處。足心中有腎脈斜過。（湧泉穴。）大指甲後屬膽。支肝脈之交大指內側為胃。支脾脈之接中指內外分胃直胃支之人四指之間。又膽經直入而絡膽。支至於小指之外。腎脈起於小指之下。足經之脈。又如此也。</p>
