<header data-type="book">
<h1>脈簡補義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周學海</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1892">公元1892年</data></dd></div>
<div><dt>底本</dt><dd>出自<a href="https://ctext.org/library.pl?if=gb&res=78946">《周氏醫學叢書》</a></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>診法直解</h2>

<h3>求脈大指</h3>
<p>《靈樞·邪氣臟腑病形篇》以緩、急、大、小、滑、澀立綱，而以微甚緯之，實開千古診法之奧。後世有以浮、沉、遲、數分綱者，則其義淺而不備矣。今擬合二者，共十字，而仍以微、甚緯之，則但於十字中，縱橫離合，而於二十八脈，不待擬議，而形狀瞭然矣。然此特其形狀耳，不足以盡脈理之妙也。滑氏曰：凡察脈，須識得上、下、去、來、至、止六字，詳見卷二。則脈之妙蘊幾於無遺。而講脈學者，可得所宗主矣。蓋求明脈理者，須將位、數、形、勢四字講得真切，便於百脈無所不賅，不必立二十八脈之名可也。位者，浮、沉、長、短也；數者，遲、數也；形者，虛、實、滑、澀也；勢者，即滑氏所謂上、下、去、來、至、止也。四者為經，更緯之以微、甚、兼、獨四字，百病之虛實寒熱，全從此八字上分合剖析。每診一人，即於各部中按此八字次第求之，反復尋之，則真假無遁情，而氣分血分之病，亦到指便見矣。此真泄天地之秘者也。指到脈上，即心先擬其脈，浮耶，沉耶，在寸、在尺耶；繼調其息，遲耶，數耶；繼察其體，長耶，短耶，虛耶，實耶，滑耶，澀耶：審此三者指下必已有定象。即就定象，上揣其微耶，甚耶，獨見一脈耶，兼見何脈耶，至此而象更定矣。於是，玩其上下起伏之盛衰，動止之躁靜，而本原無不迸露矣。大抵診脈，以察來去之勢為最要，此陰陽噓噏之機也。戴同甫分、合、偶、比、類五字說，與盧子由診法十則，即暢論位、數、形、勢四字義也，並見前編卷六。拙著《診家直訣》即發明位、數、形、勢、微、甚、兼、獨八法，此篇特提大意而已。</p>

<h3>審脈元機</h3>
<p>有是病即有是脈，脈在病後也。若夫病證未形，血氣先亂，則脈在病先，診脈而可以預知將來之必患某病也。如第三卷所論伏疾脈詳矣。然猶一脈主一病，病雖未形，脈象已定，故可據脈以決病也。更有脈象未定，診今日之脈，而可預決其明日之必變某脈，因亦今日，即可預決其明日之必變某證。此中機括，微乎其微，誠能透此，醫也，仙矣。如今日脈沉，而來勢盛去勢衰，可知其明日必變浮也。浮者，病機外出也。今日脈浮，而來勢衰去勢盛，即知其明日必變沉也。沉者，病機內向也。遲而有力，知必變數；數而少神，知必變遲。服瀉藥而脈勢不減，知來日之必進；服補藥而脈力不增，知來日之必減。昨見火脈，今見土脈，來日亦必是生脈；昨見木脈，今見金脈，來日亦必是克脈。明乎此，則脈之與病，有順有逆，而可預施防維，預知趨避矣。元機妙用，仍不離陰陽、五行、升降、生克之大義也。</p>

<h3>三部九候大義</h3>
<p>寸、關、尺候，身之上中下者也，浮、中、沉候，經絡臟腑之表裡者也。此以脈之縱橫之部位，主身之縱橫之部位，理之至顯而不易者。雖病之由上及下者，脈未嘗不由浮而沉；病之由表而里者，脈未嘗不由寸而尺。究之各有所主，則其中有必然，有或然，不可過泥，亦不容漫無分別也。故脈之自尺上湧於寸者，多主頭目暈眩、胸膈痞滿、咳嗽、嘔逆之證。脈之自沉鼓盛於浮者，多主溫病、內熱、汗出、內實、便秘之類。寸弱尺強，下實上虛；沉強浮弱，表虛里實。《內經》曰：上竟上者，喉、胸中事也；下竟下者，少腹、腰股、膝脛、足中事也。又曰：寸口脈浮而盛者，病在外；沉而堅者，病在中。睹斯二者，其大義可知已。</p>

<h3>氣分血分直言</h3>
<p>氣，無形也；血，有形也。氣，動也；血，靜也。動，則無形者形矣，靜者之形，亦因動而見矣。然推其本，則氣以動昭也，血以形顯也。故候氣者觀其動，候血者觀其形。夫脈之行也，以息往來，其動則氣也，其管則血之質也。病在氣分，候動之勢；病在血分，候脈之形。氣主呴之，血主濡之。血病當即累氣，故候形者必兼審勢；氣病久乃累血，故察勢者不必泥形。氣虛血實，脈雖弱，而按之必有形；血衰氣盛，脈雖空，而其來必有勢。血氣盛虛，分數各有多寡，總於形、勢、微、甚辨之，可以按指便見也。浮、沉、遲、數，皆氣也；緩、急、滑、澀，皆形也。風傷衛者，脈浮緩；寒傷營者，脈浮緊。又凡凝痰瘀血，其脈雖濡散，按之必有勁線，或有如珠粒。氣之升降不利，無論脈形虛、實、大、小，其動也，疏密不勻，強弱不均，或寸弱於尺，或尺弱於寸，或應指少力，或中道而還。血盛者，脈形必厚；血虛者，脈形必薄；牢實與芤革可推也。氣盛者，來勢必盛；氣衰者，來勢必衰；濡弱與洪滑可例也。氣周於外，血貫於中。故氣寒而血為所束，脈即細緊；血虛而氣無所歸，脈即微散也。氣鬱與血結必殊，血虛與氣弱不類，此分見者也；血熱即見氣脈，氣寒則見血脈，此又互見者也。</p>
<p>血，有形者也，故脈以形見，血實形實，血虛形虛。氣，有勢者也，故脈以勢見，氣盛勢盛，氣衰勢衰。病在氣分，未嘗不累及血分，究與正在血分者有別。如氣熱者，血未嘗不奔逸，然清其氣而血即平；若正入血分，則腫腐矣，但清其氣無功也。氣寒者，血未嘗不凝滯，然溫其氣而血即通；若正入血分，則頑塊矣，但溫其氣無功也。譬夫物近火，非不炙而溫，究與為所焚者殊也；物入水，非不漬而濕，究與為所潰者殊也。故吾常謂病之在經絡也，有氣分，有血分。其在臟腑也，止可以在氣分，而不可以在血分。前人每言病在某臟某腑血分者，仍指其經絡也，或指其血為氣累者也。果在血分，臟體壞而死矣。</p>

<h3>十二經動脈辨</h3>
<p>《難經》開口便說十二經皆有動脈，人多滑口讀過，究竟十二經之與動脈一耶？二耶？夫動脈者，氣管也；經絡者，血管也。大而在裡，徑行臟腑者為經；細而在表，互相連貫者為絡。經絡之中，所存者血。血之行也，充滿推移，無分翁闢。不能動者也，謂之脈，而不得謂之動脈。動脈者，氣管，其中無血。其動也，一翕一闢，以息往來。諸氣運行，以動脈之為領率，以呼吸為之鼓激，與血管本是二物。王勳臣《醫林改錯》有榮總管、衛總管之說，即此也。但衛氣散行於分肉腠理，氣管非衛氣也。人身之中，本有三氣。《靈樞·邪客》曰：五穀人於胃也，其糟粕、津液、宗氣分為三隧。宗氣者，榮衛之所合，氣之能動者也。故宗氣積於胸中，出於喉嚨，以貫心肺而行呼吸。脈之行也，以息往來，呼吸不已，故動而不止，常與營俱行於陰陽。營氣者，泌其津液，注之於脈，化而為血，以奉生身，莫貴於此。衛氣者，出其悍氣之慓疾，而行於四未、分肉、皮膚之間而不休者也。營行脈中，衛行脈外。動脈者，宗氣也；血脈者，營氣也。血管之中，榮氣帥血液而環流；氣管之中，榮氣並宗氣而噓吸。宗氣之管與營氣之管，兩管並行，而不相離，亦不相注，有此經之血管，即有此經之氣管，副之而俱行。王勳臣《醫林改錯》，家有其書，無庸贅述。近會稽趙晴初《醫話稿》中，述主制群微一則，正與此合，錄以備覽。曰：人身濕熱而已，熱恆銷濕，無以資養，則膚焦而身毀矣。故血者，資養之料也，血以行脈，脈有總曰絡，絡從肝出者二，一上一下，各漸分小脈，至細微。凡內而臟腑，外而膚肉，無不貫串，莫定其數。脈之狀似機，其順者因血勢而利導之，斜者留血毋退，橫者送血使進也。脈之力又能存血，不合則壞。合於痰乃克順流，合於膽乃克凝滯，合於體性之氣，乃啟諸竅，導之無閉塞也。從心出者亦有二大絡，一上一下，細分周身，悉與肝絡同。所不同者，肝引血、存血，此專導引熱勢及生養之路耳。心以呼吸進新氣，退舊氣，直合周身脈與之應，少間不應，輒生寒熱諸證。醫者必從三部躍動之勢，揣知病源，蓋以此也。按：此文全與《內經》相合，但《內經》十二經脈分屬五臟六腑，此則以心肝統之，而分達於臟腑耳。然《靈樞·邪客》曰：其餘脈出入屈折，其行之疾徐，皆如手少陰心主之脈行也。是《內經》已有此義矣。從肝出者血脈，從心出者氣脈，即動脈也。以呼吸進新氣，退舊氣，即所謂以息往來者也。而細分周身，悉與肝絡同。則吾所謂有此經之血管，即有此經之氣管副之而俱行，豈臆說而無徵者乎。下卷有「經脈續辨」引證更詳確。</p>

<h3>命門三焦說</h3>
<p>李瀕湖自言著有《命門考》、《命門三焦客難》二文，今皆不見。而其言曰以右腎為命門，越人之誤也，是未識《難經》之旨也。茲錄拙著《難經補義》、《脈經札記》二篇以備考。</p>
<p>三焦命門之說，聚訟紛紛，後人無可復置喙矣，今據《難經》釋之。命門為相火之本，腎間動氣是也，其氣與腎通。腎者，右腎也。少陽厥陰，皆相火遊行之部，而出入之機則在右腎。故右腎非即命門也，其氣之發動始於此也。命門居兩腎之間，不但為真火之本，亦即為真水之源，故《內經》不立命門之名，而凡言腎之處，皆具真陽之義。此以見水火同居，相合無間，不似心肝脾肺四臟各具一氣也。水之體陽，其在下也，動於左；火之體陰，其在下也，動於右。右腎非無水，而火為盛；左腎非無火，而水為盛也。三焦分診於三部，其說似是而實非。《內經》言三焦手少陽之經脈，病證多矣。細繹其詞，蓋有兩義：三焦者，本是腹內上中下三部之正名也，「營出中焦，衛出下焦」，「上焦如霧，中焦如漚，下焦如瀆」等語，皆指腹內之上中下三部，非指手少陽經也。手少陽之經，所以系之三焦者，以其脈遍屬三焦耳。亦如心脈之屬心，脾脈之屬脾，皆止一脈，非有三脈也。心脈屬心，脈中之氣即由心來，脾脈屬脾，脈中之氣即由脾來。手少陽之經遍屬三焦，而實非有三脈，則其脈中之氣不得分受於三焦，而必有一為之主。知此，斯知候於何部矣。其寸關尺三部分診者，是候腹內上中下三部之三焦，是三焦之腑也。寸部候胸，關尺候腹，與手少陽經何與哉？命門之原氣周行於三焦，而出入於右腎。手少陽受氣於命門，而借徑於右腎者也。命門，火也，三焦其焰之所及，右腎，其發焰之處也。手少陽受氣於發焰之處，而非受氣於其焰，則直以手少陽為命門之經可也。包絡之經氣通於心，故候於左寸；三焦之經氣通於腎，故候於右尺。其原皆出於命門者也。故二經為表裡，其不同候於一部者，何也？厥陰之經，受命門之氣，達於包絡，以代君火行事，二火同氣，相得罔間，其氣之動靜，聽命於心，而不必聽命於命門矣。少陽受命門之氣，雖遍屬三焦，其氣之盛衰，不聽命於三焦，而仍聽命於命門也。且少陽者，火之上升者也，上升者，其根在下；厥陰者，火之下降者也。下降者，其根在上。厥陰不降，則陰火上炎；少陽不升，則陽火下郁也。戴同甫作《脈訣刊誤》力辨兩尺皆腎，命門無經，三焦分候於寸關尺也。戴為名醫，臨證必多，其於手少陽經病分候三部，庸有當耶？是不可解也。</p>
<p>左屬腎，右為子戶，名曰三焦。原文詳見第一卷「分配臟腑篇」。夫子戶，命門也。命門之說，始於越人。予於《難經補義》中言之析矣。今讀名曰三焦，益確然有以自信其前說之不誣也。蓋命門之氣，內通於右腎，外候於右尺，其經手少陽。此章已於兩手寸部曰合於上焦，關部曰合於中焦，尺部曰合於下焦矣。復於右尺云名曰三焦者，見分候於三部者，三焦之腑；獨候於右尺者，三焦之經。而三焦之經，實稟氣於命門，其所以系之三焦者，以其脈遍屬三焦而名之耳。故手少陽實為命門之經，而名曰三焦也。右尺實為命門之候，而名曰三焦也。</p>
<p>徐靈胎以衝脈之根為命門之處，此即腎間動氣之義也。衝脈之根為命門之處，非衝脈之根即命門也。凡出入所由之謂門，男子以藏精，女子以系胞。男之施由此出，女之受由此人。其形如脂，眾筋所結，其位在少腹，略近脊，高下與兩腎平。其氣貫陰陽，徹表裡，而分為四隧：一注於太衝，達於五臟六腑，五臟六腑各有脈繫於太衝之脈，以受命門之氣也；《靈樞·逆順肥瘦》曰：衝脈者五臟六腑之海也，五臟六腑皆稟焉。一散於臟腑之外，空廓之處，充周於上中下之三焦也；一由手厥陰之經達於包絡，以致於心，助君火之運用也；一由手少陽之經行於身，以溫肌肉，通腠理也。其積於三焦者，亦滲溢於外，以行肌肉腠理，與手少陽同氣同用。盛則俱盛，衰則俱衰。故即以手少陽為三焦之經也，此命門形氣體用之大義也。其在脈也，必真火為之鼓激，而脈始動。脈管之形，則血之所成也。故以脈形之虛實，候真陰之虛實；以動勢之盛衰，候真火之盛衰。至當而不易者也，奚分左右尺耶？</p>

<h3>三關脈體考</h3>
<p>（反關脈、斜飛脈、臂外脈、叉脈、雙弦脈）</p>
<p>世謂寸口正取無脈，覆手取之而得者，謂之反關脈。近武進費伯雄又有斜飛脈之說。張石頑曰：脈之反關者，皆由脈道阻礙，故易位而見。有一手反關者；有兩手反關者；有從關斜走至寸而反關者；有反於內側近大陵而上者；有六部如絲，而陽谿、列缺別有一脈大於正位者；有諸部細小不振，中有一粒如珠者。所謂從關斜走至寸而反關者，外斜脈也。所謂反於內側，近大陵而上者，內斜脈也。所謂陽谿、列缺別有一脈大於正位者，似反關而非反關也，謂之臂外脈。蓋諸處本有細絡與手太陰脈通，而手太陰之正管，實由寸部透於反背，出於陽谿，趨於合谷。正管有阻，其氣不能直達，則散溢諸絡，迂道而達，非正管移於諸處也。《靈樞·邪客》曰：手太陰之脈出於大指之端，內屈，循白肉際至本節之後，太淵留以澹，外屈，上於本節下，內屈與陰諸絡會於魚際。數脈並注其氣，滑利伏行壅骨之下，外屈出於寸口而行，上至於肘內廉，入於大筋之下，內屈上行臑陰，入腋下，內走肺，此順行逆數之屈折也。此言手太陰脈，自大指外側內屈，下魚，抵太淵。太淵者，寸口，去本節甚遠，但正直本節之後耳。復自太淵外屈上於本節下，此即所謂外斜脈。大指本節下，合谷穴處也。自合谷內屈，會陰諸絡於魚際，伏行壅骨之下。壅骨，大陵穴處也。外屈，出於寸口者，自伏而出，斜行與前抵太淵者會，此即所謂內斜脈也。此脈與外斜之脈出於合谷者，雙歧如叉。《脈經》曰：從寸口斜入上者，名曰解。王冰謂：不合而歧出，如繩之解股是矣。外斜脈常與三關平等，而內斜脈常細。曾見有人時而內斜脈盛，時而外斜脈盛。其外斜脈盛無苦，而內斜脈盛即苦氣逆、胸滿。蓋嘗思之，其外邪脈盛無苦者，氣行之正經也；內斜脈盛即有所苦者，此與手心主相會之絡也，絡不當盛，必木火逆橫，致壅遏肺氣不得暢耳。又有三部別有一細脈，自尺至寸，與正脈並行者。此細脈或與正脈平排並行，指下如引二線也；或行於正脈之上，浮之只見細脈，沉之始見正脈也；或行於正脈之下，按之隱隱有一細脈，自動於正脈之內也。此等最宜留心，若正脈中自見細線挺然指下者，為寒、為痰、為瘀、為疒徵瘕。若別具一脈，動而流連，則是稟賦然矣。世謂雙弦脈指下如引二線者死，未足為據。蓋雖引二線，而指下來往流連者，乃是本象。其挺然指下，無來去者，即不二線，庸有濟乎？</p>
<p>張石頑曰：反關脈較平人細小者為常，較平人反大者絕少，不可以為指下變異，謂之怪脈也。凡遇反關，殊異常脈，即須細詢。其較之平時稍大，即為邪盛；較之平時愈小，即為氣衰。仍以所見諸證參之。更有正取反取俱無脈，細尋卻在手臂鼠肉之上者，亦反關之類也。但此脈已無常，似難憑脈，必須察其病證何如，元氣何如，以斷吉凶。此論極為精當。</p>

<h2>諸脈補真</h2>
<p>補者，補元峰輯說中偏而未備者也，若專讀此，則又疑其偏，議其未備矣。真者，所論皆從歷驗而來，無欺誑也。夫不肯受古人欺者，豈肯捏造以欺人耶！</p>

<h3>數脈</h3>
<p>（下卷痹數篇合看）</p>
<p>元峰於數脈，集前賢諸論，已無遺憾矣。獨於痹數一義，尚未暢發。夫痹者，血痹也，即俗所謂乾血勞也。《素問·平人氣象論》曰：人一呼脈三動，一吸脈三動而躁，尺熱曰病溫，尺不熱曰病風，脈澀日痹。《脈經》引《扁鵲脈法》曰：一息四至再動為一至。謂痹者，脫脈氣。夫痹何以脈數，則以脫脈氣故也。脈行十六丈二尺為一周，血痹則脈道阻塞，氣行不周，不及十六丈二尺而又至矣，所謂離經也，故曰脫脈氣也。數而細澀者，血液枯乾，脈管縮小故也。久則大氣即衛氣也。全不能外充而內陷，遂為大氣入臟，腹痛下淫，脫泄而死。明乎此，則知虛勞脈數之故，全與熱無涉，而所以治之者可得矣。</p>

<h3>浮脈</h3>
<p>《金匱要略》曰：病人脈，浮者在前，其病在表；浮者在後，其病在裡。此前後指尺寸言。腰痛背強不能行，必短氣而極也。經凡單言浮者，皆有來盛去衰之意，若再盛則為洪矣。其浮而怠緩，應指無力者，乃氣血兩虛之候，或氣虛之人患風濕，亦多見之。若再衰，則為澀，為散矣。總之，脈既曰浮，氣多上升而不下降，形體亦多近薄，雖按之不似芤脈全空，而其主病，莫非上實下虛，陽強陰弱也。短氣而極者，氣逼於上而不納也，陽噓而陰不能吸，非陷下也。《難經》曰：前大後小，即頭痛目眩；前小後大，即胸滿短氣。（此前後指脈來之首尾言。）此氣鬱於中，而不暢也。其義稍別，而亦自相通，皆脈力之能浮者也。</p>
<p>脈之由沉而浮也，陰氣上升，從陰交陽也。陰之所以能上升，有陽氣以鼓動之也。脈之由浮而沉也，陽氣下降，從陽和陰也。陽之所以能下降，有陰氣以吸引之也。浮為陽脈，有陰實而拒陽於外者，有陰虛而陽越於上者。陰實者，寒盛於內，治宜重用溫散，或導其水，或攻其食，或行其瘀血凝痰，力開結塞，略加清肅，以助浮陽之內合也。如白通加膽汁是矣。陰虛者，陰力薄不能吸陽，宜溫潤填補精血，略佐辛熱，從陰中透出和光，接納陽氣歸根也，如桂附八味丸是矣。嘗診一工作，發熱無汗，力作不休，數日疲憊求治，肌膚悗熱，喘促低昂，脈僅在皮毛之間，趯趯不分來去，不分至數，一息幾至十動，略按即無。此液竭而陰陽不交也，發汗必死矣。急用參附湯，再加溫元養液，大劑投之，略加細辛以透陰陽。二鼓服藥，黎明汗出如雨，見者驚惶。診其脈，則來去分明，浮沉有力矣。依仲景法以桂枝加附子湯與之，一劑而安。此法前人醫案中甚多，但施之力作之人而病外感則未見耳。其實正惟力作不休，邪熱內灼，故致陰陽兩竭也。《難經》謂：中風，陽浮而滑，陰孺而弱。濕溫，陽浮而弱，陰小而急。傷寒，陰陽俱盛而緊澀。熱病，陰陽俱浮，浮之而滑，沉之散澀。溫病，行在諸經，各隨所在而取之。是故浮為在表者，謂於浮分察其脈之變象，即可決其病之屬於何邪。非浮脈即為表病，表病僅見浮脈也。又或人有謂浮候經，沉候臟。此說原不必泥，然《素間·示從容》曰：脈浮大虛者，是脾氣之外絕，去胃，外歸陽明也。此則明明謂脈浮而按之無根者，是臟陰盡竭，元根脫離，浮越於外，不能內濟，而但遊溢於經絡之中而未散也。此非脈力之能浮，而脈氣之僅在於浮也。診得此脈，即大劑溫元固下鎮逆，猶虞其不返矣，而敢用表散乎！故外感慮其脈沉，沉者邪氣去經，而內攻於臟也；內傷惡其脈浮，浮者真氣去臟，而外越於經也。</p>

<h3>沉脈</h3>
<p>沉者，脈位之沉也。前人論之悉矣。亦有來往之沉，則昔人言之而未盡也。王冰「脈要精微論」注曰：推筋按之尋之而下，脈沉下掣，是陰氣有餘，故頭項痛也。「下掣」二字，微妙可思，即經所謂來不盛，去反盛者也，亦謂之來徐去疾，來近去遠。陽主噓，陰主吸，吸力大而陽不能噓之，則脈沉。此可到指而知也。若夫今日脈浮，而可測其明日之脈必變為沉。此何以知之？則於今日之脈，其勢下掣知之，此病機內向之兆也。</p>
<p>沉有寒束於外，熱鬱於內者，沉緊而數盛有力也，治宜涼散。外寒而內熱不盛者，沉緊而不數，是寒欲內陷也，治宜溫散。無寒，但氣虛下陷而沉者有三：宗氣衰而不能鼓動，則多見沉弱；衛氣衰而不能薰蒸，則多見沉緊；榮氣耗竭，脈道滯而氣不利。辨脈所謂其脈沉者，榮氣微也，則必兼見遲澀，甚或細數矣。宗氣者，動氣也，出於肺，參耆主之；衛氣者，熱氣也；出於命門，桂附主之；榮氣者，濕氣也，出於脾胃，歸術主之。昔人謂補火即是補氣，只說得衛氣一邊。</p>

<h3>遲脈（遲數不並見）</h3>
<p>張石頑曰：遲為陽氣失運，胸中大氣不能敷布之象。故昔人隸之虛寒，然多有熱氣內結，寒氣外郁，而見氣口遲滑作脹者。《脈經》曰：遲而滑者，脹。程郊情曰：遲脈有邪聚，熱結腹滿，胃實阻塞經隧而然者，癥瘕痃癖，尤多見之。竊謂凡此類者，其脈必中手有力，按之必實。凡診脈，必兼察體勢，若至數雖遲，而其勢強體厚者，不但可知其熱鬱於內，並可測其病之人於血分矣。經曰：遲為在臟。正以其病在血分也。在血分，則氣行緩，故出入遲也。所以然者，腑分淺，臟分深也。東垣云：諸氣化者，皆腑所主；諸有形血化者，皆臟所主。又先哲有言：濕溫暑熱初起，脈皆沉遲，此非虛寒也。濕熱鬱蒸之邪，口鼻吸入，從里而發，所以脈象模糊，至數不清，有類沉遲也。濕熱熏蒸，脈體散漫，應指少力，經以緩為熱者此也。夫從里而發，脈皆沉遲，以其深也。《內經》又言：躁者在手，靜者在足，手經近，足經遠也。《靈樞·經水篇》曰：手之陰陽，其受氣之道近，其氣之來疾。即此義也。腑數臟遲，其義不較然乎？向來醫家敘病脈，有言尺遲寸數者，左遲右數者，沉遲浮數者，即仲景書亦往往寸口、趺陽、遲數並見。夫遲則皆遲，數則皆數，不但左右、尺寸、浮沉不能有二，即周身動脈俱不能少有參差。故「三部九候論」曰：九候之相應也，上下若一，不得相失。三部九候皆相失者死，上下左右之脈相應如參春者病甚，上下左右相失，不可數者死，中部之候雖獨調，與眾臟相失者死。又祟脈亦有兩手遲數大小如出兩人者。非死非祟，則決無之。諸書遲數兩言者，仍指來勢一躁疾一怠緩耳，非真至數有多寡不齊也。</p>

<h3>虛實</h3>
<p>實，言脈體之厚也；虛，言脈體之薄也。無論何脈，凡輕診如此，重按而體勢不減者，即謂之實。輕診如此，略按而體勢頓減者，雖不全空，亦謂之虛。雖經云：邪氣盛則實，精氣奪則虛。究竟仍視所見何脈，如和緩而實，豈得曰邪？弦緊而實，乃真邪勝矣。大抵實脈多主血實，主病多在血分；虛脈亦主血虛，主病多在氣分。其形體堅厚，而勢之來去起伏不大者，血實氣虛，氣為血累者也，痰凝血結是也。形薄而又來去不大者，氣血兩虛，氣不生血者也。夫濡、弱、芤、微、散、澀皆虛也，洪、動、滑、弦、牢、長、緩皆實也。二者本無專脈，只是貫於諸脈之中，後人因叔和專立虛實二脈，遂欲於諸脈之外，別求虛實之專象，而終不可得。張石頑獨能知之，其言曰：二十八脈，但指下有力有神，皆謂之實；指下無力無神，皆謂之虛。庶乎近之。</p>
<p>《脈經》曰：關上脈澀而堅，大而實，按之不減，有力，為中焦實，有伏結在脾，肺氣塞實，熱在胃中。按之不減者，形之厚也，血之實也。有力者，勢之盛也，氣之實也。《內經》曰：脈弱以大，則欲安靜，用力無勞也。弱，氣虛；大，血虛。安靜無勞以養陰也。由此觀之，虛實雖各有陰陽，而實者多屬陽，虛者多屬陰。實不至於陽實，實猶未甚也。虛不至於陰虛，虛猶未甚也。</p>

<h3>濡弱</h3>
<p>形體泡松，應指少力，浮則為濡，沉則為弱，其實俱主氣血不足，並不能因浮沉分陰陽表裡也。二脈和緩，略無弦緊之意，老人與病後及稟賦素薄者咸宜之；不似微脈之極細而薄，應指模糊，為氣血兩敗之象也；又不似細脈之應指弦勁，為陰寒凝結之象也。但病後經汗吐下，乍見此脈，雖曰邪退，尤屬正虛，急宜扶養。若漸見勢微形細，便非佳兆。</p>

<h3>細脈</h3>
<p>細者，陽氣不充之候也。兼弦緊者，多見於浮，此元陽不足，陰寒盛於內外也。寒濕在內，風冷乘外，一身盡疼，兼以下利，必見此脈。兼滑數者，多見於沉，此熱邪內郁，而正氣不能升舉暢達也。故傷寒時行病後，餘熱未清，胸膈不暢，即見此脈。若病正熾時而見此脈，則邪在少陽也，三焦氣結，而升降出入之機不利也。沉細而遲，實寒內痼；浮細而數，虛陽上越。因氣寒而乍見脈細者，溫之而可復；因血痹而漸見脈細者，勞損已成也，血液不生，為虛熱所耗，而脈管縮小也。朱丹溪謂弦澀二脈，最難調治，予於細脈亦云。蓋久病脈細，未有不兼弦澀者也，若更加之以數，則氣血皆失其常矣。</p>

<h3>散脈</h3>
<p>何夢瑤曰：大而散漫滲開，脈與肉無界限，名散脈。形本圓斂，今散漫不收，蓋虛甚而四散者也。元廉夫曰：何氏又解秋脈，其氣來毛，而中央堅兩旁虛，曰虛者，是兩旁散而中央不散也。然常見真元不足，肝木有餘者，其脈中央一線緊細，而兩旁散漫，證屬不治，又不可不知也。此說前人未道，而實為閱歷之言。夫弦而中有勁線者，其病危；散而中有勁線者，其死近。秋脈毛而中央堅兩旁虛者，乃脈之中央厚，而兩旁漸漸薄也。散脈乃陰虛而陽無所戀，與亡陰之微脈一例。</p>
<p>《脈經》曰：滑而浮散，攤緩風。又曰：脈沉重而中散者，因寒食成瘕。脈直前而中散絕者，病消渴，一云侵淫痛。夫攤緩、消渴，為氣虛血耗，見散宜也。寒食成瘕及侵淫痛，為氣血凝滯，宜見弦澀，而云中散者，何也？又曰：關上脈襜襜大，而尺寸細者，其人必心腹冷積，癥瘕結聚，欲熱飲食。襜襜大，即散之義也。蓋瘕痛日久，氣行不暢，則舊血日耗，新血不生，血氣不相榮故也。此必久病，非初病即有此象也。且既雲散矣，又云沉重，云直前者，何也？此所謂散者，乃氣過指下有混混濁大之形，不能條直圓斂。「脈要精微」以軟而散與搏而長對言，正此義也。私嘗參互考證，散脈亦分虛實。實者，指下雖無定形，應指卻還有力，似結澀，而形體更見寬衍不聚也，即《脈經》諸條是也；虛者，浮薄模糊，軟弱無力，即亡陰之微是也。又有一種喘脈，輕按應指虛大，有來無去，重按指下即空，動於兩旁且漶漫，不似芤脈之有邊際也，此元根不固，氣散之象也。陰血虛燥不斂，即慎柔所謂虛洪者。</p>

<h3>緊脈（左右彈）</h3>
<p>元廉夫曰：緊脈，諸家皆謂與弦脈相似，非也。緊者，不散之謂也，其廣有界限，而脈與肉劃然分明者也。寒主收引，故脈道緊束，非弦之端直挺長也。仲景謂如轉索，左右無常者，蓋緊中兼見之脈，而非其正形也。元氏此說甚瑩，究竟收引緊束，即是轉索切繩之義。至於左右彈而無常者，脈體驟束，則氣來振撼，此惟寒束於外，熱氣內盛者有之。若內外皆寒，則堅細而澀，不能左右彈也。《素問·示從容論》中前謂切脈浮大而緊，後申釋曰：脈浮大虛者，是脾氣之外絕，去胃，外歸陽明也，二火不能勝三水，是以脈亂無常也。是明明以脈亂無常釋緊矣。且二火不勝三水，是明明熱為寒制矣。所謂脈亂無常，非謂至數疏數不一也，即左右彈是也，是緊脈固多兼左右彈也。而左右彈，則不必皆緊脈。《傷寒例》曰：脈至如轉索者，其日死。《素問·大奇論》曰：脈至如交漆，交漆者，左右旁至也，微見，四十日死。《金匱要略》曰：脾死臟，浮之大堅，按之中如覆杯，絜絜狀如搖者死。此非緊也，乃弦直。死陰之氣，挺然指下，而來去大小不勻，應指高下無定位也，此死脈之左右彈也。《素問》曰：青，脈之至也，長而左右彈，有積氣在心下支胠，名曰肝痹。《脈經》曰：脈直前左右彈者，病在血脈中，衃血也；脈後而左右彈者，病在筋骨中也。前後者，脈來之首尾也。左右彈者，應指動搖不定，氣結不暢故也。又曰：脈前部左右彈者，陽蹺也；中部左右彈者，帶脈也；後部左右彈者，陰蹺也。蓋此經有病，即見此象。此病脈之左右彈也，皆非緊也。然雖非緊，而其脈體卻必不軟弱，必有勁直之象，惟神理不同，此全重在左右彈，與寒盛之緊脈主病不侔也。寒脈之左右彈者，形堅而氣來踴躍也；死脈之左右彈者，形直而氣來有出無入，大小不一也；痹脈之左右彈者，脈絡滯澀不暢，氣來曲屈而達，以致左右振撼不定也，其氣似滑實非滑也。易思蘭曰：有患膈滿，寸關俱沉大有力，尺中三候俱緊，按之如搖擺之狀，此乃寒濕深入經絡，以致氣血凝結。脈來牽引振撼，是痰血裹於氣外，氣滯於痰血之中，即痹而左右彈者也。</p>

<h3>微脈</h3>
<p>（微與濡弱不同者，濡弱只是形體柔軟，而微則極細極薄又無力也，與散相近。）</p>
<p>微為氣血兩虛之候，而考諸經旨，屬血虛者尤甚。夫亡陰，亡陽皆有微脈。《靈樞·終始》曰：少氣者，脈口人迎俱小，而不稱尺寸也。陰陽俱不足，補陽則陰竭，瀉陰則陽脫。如是者，可將以甘藥，不可飲以至劑。《脈經》曰：脈小者，血氣俱少。又曰：脈來細而微者，血氣俱虛。凡浮而極薄，卻非極細，應指元力而模糊者，亡陰之微也，推其極則羹上肥也。沉而極薄，且又極細，似見弦勁，應指無力，不甚模糊者，亡陽之微也，推其極則蜘蛛絲也。極細極薄者，血虛也。應指無力者，氣虛也。（應指無力為弱脈，微乃弱之極，故更模糊也。）《脈經》曰：陽微則發汗，陰微則下利。（謂曾汗曾下也。）又曰：陽微則不能呼，陰微則不能吸，呼吸不足，胸中短氣。《傷寒論》曰：脈微而惡寒者，此陰陽俱虛，不可更發汗，更吐，更下也。此大法也。</p>
<p>仲景「辨脈」曰：其脈沉者，榮氣微也。加燒針則血流不行，更發熱而躁煩也。《傷寒論·太陽篇》曰：微數之脈，慎不可灸。因火為邪，則為煩逆，追虛逐實，血散脈中。《脈經》曰：陰數加微，必惡寒而煩撓不得眠也。此皆久病血虛，以致脈體浮薄而軟弱無力者也。「辨脈」曰：不戰不汗出而解者，其脈自微。此以曾經發汗、若吐、若下、若亡血，以內無津液，此陰陽自和，必自愈。又曰：脈微而解者，必大汗出也。（謂必曾大汗出。）此卒病經汗吐下，邪去而正亦虛者也。又曰：病人脈微而澀者，此為醫所病也。大發其汗，又數大下之，其人亡血。又曰：傷寒吐下後，發汗虛煩，脈甚微，八九日，心下痞硬，脅下痛，氣上衝咽喉，眩冒，經脈動惕者，久而成痿。此過用汗吐下，津液大傷，以致化燥化熱也，即加燒針與灸之流弊也。故曰：諸脈得數動微弱者，不可發汗，發汗則大便難，腹中乾，胃燥而煩，此皆亡陰之微也。</p>
<p>少陰病，下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤色，或腹痛，或乾嘔，或咽痛，或利止，脈不出者，通脈四逆湯主之。既吐且利，小便複利，而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。傷寒六七已，脈微，手足厥逆，煩躁，灸厥陰，厥不還者死。霍亂惡寒，脈微而複利，利止，亡血也，四逆加人參湯主之。此皆元陽大虧，寒毒太盛而脈微，雖當發汗下利後，津液必傷，而仍以回陽為急者也。故曰：寸口諸微亡陽，此微乃沉細之極，亡陽之微也。</p>
<p>統觀諸義，凡脈見此，只宜輔正，斷無攻邪，或養陰，或扶陽，總宜兼顧陰分，不可稍傷津液。故四逆本有甘草，而又有加人參之例也。少陰病，脈微細，但欲寐，此微字，只作沉字解。厥陰病，脈微緩，為欲愈，此只是微甚之微，非微脈也。既微矣，何所復見其緩耶？雖辨脈亦有寸口脈微而緩，趺陽脈微而緊之語，蓋以微指來去不大，應指無力，非形體模糊之微也。仲景書中，此類甚多，後人都牽作微脈，大謬。大抵亡陰之微，病勢緩而挽回甚難。亡陽之微，病勢急而恢復稍易。若夫下利脈微弱為欲愈，及前所謂汗吐下後脈微而解者，不過脈體軟薄應指無力，未至模糊欲絕也，仍是濡弱之甚者，非正微脈也。正微脈，必如羹上肥、蜘蛛絲者也。</p>

<h3>芤革牢</h3>
<p>《脈訣》曰：兩頭有，中間無。戴同甫駁之曰：如是則寸脈下不至關為陽絕，尺脈上不至關為陰絕，死脈非芤脈也。此乃有意攻擊之詞耳。芤脈浮大而軟，舉指三關俱有，微按之則指下無，而但動於每指之兩邊矣，此《脈經》之義也。重按之則三指指下全無，而但動於食指名指之兩頭矣。此《脈訣》之義也。即寸尺本位，且無脈矣，豈但不至關耶。陰絕陽絕者，脈自不至關也，芤脈中間無者，按之使無也，豈可溷耶。王子享曰：如浮而大，按之於指面之下中斷。語最明顯。史載之又謂：芤脈如按環子內面，兩頭有，中間曲而缺，非謂絕也。此蓋脈形寬大，指面不能盡壓脈上，故但指內缺而不動，指尖之外猶曲而見動也。凡脈皆有微有甚，稍按之不及，中候而斷者，芤之甚者也，為陰虛失精，亡血盜汗。按至中候而斷者，仲景所謂芤而有胃氣也。稟賦弱者，此為平脈，大病新瘥尤宜之，蓋此即濡弱之脈也。</p>
<p>凡失精亡血，脈必芤，固矣。但芤而內外上下勻淨如一，來往不大者，可峻用溫潤，以補其精血。若雖芤，而中有一細勁線，或寸關尺有一部獨大而鼓指，或來去大小不勻，此即虛中夾實，宜察其在氣在血，為寒為熱，設法疏之、散之、攻之、驅之，攻補兼施。須量邪正虛實之淺深，以定其緩急輕重也。</p>
<p>芤脈浮而薄，但指下不見弦勁，不過血虛而氣稍弱。若浮大弦急，則為革脈。仲景謂為虛寒相搏，蓋陰寒之氣僭居陽位，不但陰虛而陽更微，又以扶陽消陰，撥開陰翳為急，補血且從輕矣。</p>
<p>堅實者，脈體之實，血分之象宜在沉分；空虛者，脈體之虛，氣分之象宜在浮分。革脈，則實反在上，空反在下，其空固血虛也，其實非血實，亦非氣實，乃陰寒凝結自成形體，阻塞清道。非有形，亦非無形。如滿天陰霾，雨澤不降，治之仍在氣分。設法力透重陰，使陰氣下降而內守，旋即益陽以收功。</p>
<p>至於牢脈，極沉而遲，挺長堅實，不見起伏來去，此陰冷固結之象，肝腎二經氣冷血寒，宜以猛熱急驅沉痼，然有氣分血分之辨。在血分者，為癥瘕積聚，有形之痞塊，飲食寒冷之停滯，與夫久受寒濕，侵入筋骨者也；在氣分者，即肝腎冷氣，為疝痛，少腹引腰控睪也。其輕者，為胸腹氣結，呼吸不暢也。徐東皋謂：牢脈按之不移，即《脈訣》所謂辨息難也。瀕湖斥之，亦粗心而未之思矣。《素問·示從容》曰：浮而弦者，腎不足也。即革脈亡血失精之義也。又曰：沉而石者，腎氣內著也。仲景腎著湯，治腰重冷病如帶五千錢者，即尺脈牢而長，少腹引腰痛之義也。寒濕內結，不得陽氣以升發之。</p>
<p>革浮堅，牢沉實，在外感寒熱極盛之時得之。革即格陽，牢即關陰。蓋尺寸陰陽也，浮沉亦陰陽也，溢於寸與溢於浮無異也，覆於尺與覆於沉無異也。其來勢洶湧而形體滑大者，或汗或下猶可施治。若來勢怠緩無神，徒見形體堅搏勁急，此死陰之氣，非尋常虛寒可比，峻用溫補，猶恐未能挽回也。大抵脈中，革與散之浮，牢與微之沉，皆虛實之極致，陰陽之偏絕，雖有神丹，百難救一。</p>

<h3>長短</h3>
<p>長有來往之長，有形體之長。形體之長，弦緩相兼之謂也，稍勁即為弦矣。緩者，胃陽暢達也。緩而長者，中氣充足，水火停勻，升降流通，五臟百脈，一無凝滯虧欠，故形體圓滿，上下動靜首尾如一。《內經》長則氣治，即此義也。然有肝陽有餘，橫滿胸膈，兩脅虛脹，頭熱目昏，神識不清，其脈弦而體不甚勁者，以其無寒也。是其形體全與長無異，惟來盛去衰，浮多沉少，且輕撫於皮毛之間，必隱然挺亙不移也。此似長非長者一也。又有形體通長，而其勢怠緩，應指無力，全無精神，此為肝脾並至虛寒之敗象也，張景岳所謂緊而無力者，此似長非長者又一也。又脈體素弱者，肝邪發時，如頭痛、胸痛、疝痛、宿食停滯等證，往往不甚勁急，如所謂長而緩者，病在下是也。又風濕淫溢多見洪長，亦不勁急，皆病脈也。此又似長非長者，其類可推也。故形體之長，指下易見而主病甚多，難云全吉。惟來往之長，來高去深，動勢從容寬綽者，最為吉象，即有兼脈，病亦輕淺。總之，無病之長，其浮中沉一律勻柔，余雖形體通長，而或浮或沉，必有一部按之挺然指下，無甚來去起伏之勢也。</p>
<p>長有來往之長，則短亦有來往之短也。息之深深，達之亹亹，此所謂來往之長也。其短者，陽虛陰盛則噓力微，脈沉而掣掣於肌肉之下；陰虛陽盛則吸力微，脈浮而躍躍於皮膚之上，只分動止而無甚來去之勢也。亦有止縈縈於中候，而上不及浮，下不及沉者，此先天稟賦不足，或氣鬱而中樞升降不暢也。至於形體長短，已詳見第四卷本條及本卷結脈、動脈條內矣，茲更以《內經》、《脈經》證之。</p>
<p>「脈要精微論」曰：長則氣治，短則氣病。注曰：長者來往長，短者來往短。</p>
<p>「平人氣象論」曰：寸口之脈，中手短者，曰頭痛；中手長者，日足脛痛。此即所謂推而上之，上而不下，腰足清也；推而下之，下而不上，頭項痛也。《脈經》亦曰：短而急者，病在上；長而緩者，病在下。</p>
<p>「至真要大論」曰：陽明之至短而澀，太陽之至大而長。注曰：來往不遠是謂短也，來往遠是謂長也。</p>
<p>《靈樞·終始》曰：平人者，不病也，脈口人迎應四時也，上下相應而俱往來也，六經之脈不結動也。少氣者，脈口人迎俱小，而不稱尺寸也。俱往俱來，不結不動，所謂長則氣治也。不稱尺寸，謂不稱尺寸之常脈，即短則氣病也。（脈口似指尺以下，尺部在內，氣初出也，人迎似指寸以上，寸部在前，人與迎也。舊說似俱未允。已上《內經》。觀此經義，長短蓋皆以形體言之也，注乃多以來往釋之，可見隋唐之間，醫之於脈，猶以體察來往為務，至滑伯仁轉以上、下、去、來、至、止六字為創穫，蓋自宋以後，其義微矣。）</p>
<p>脈緊而長過寸口者，注病。（屍注，即勞瘵也，血脈干竭，肝風上鼓。）</p>
<p>脈緊上寸口者，中風。風頭痛亦如之。</p>
<p>脈弦上寸口者，宿食。降者，頭痛。（緊而浮盛，宿食化熱也。降者，浮盛稍減也。）</p>
<p>脈來過寸入魚際者，遺尿。（風邪煽肺，氣不下交，亦有肝心陽虛，脈細長而駛者。）</p>
<p>脈出魚際，逆氣喘息。（婦人血風，虛熱搏之，脈亦如此，頭痛顱脹，暈眩嘔吐。）</p>
<p>短而數，心痛心煩。（水邪凌心，其勢甚危。）</p>
<p>短疾而滑，酒病。（胃脈受傷，毒氣內蘊而血亂也，吐血即死。）</p>
<p>浮短者，其人肺傷，諸氣微少，不過一年，死，法當嗽也。</p>
<p>頭痛目痛，脈反短澀者，死。（此陰脫也，凡耳暴聾，目暴無所見，並同此例。）</p>
<p>腹痛，脈反浮大而長者，死。（下血下利，日久沉困，忌此脈證。新痛因風，不拘此例。）</p>
<p>四肢厥逆，脈反浮大而短者，死。（與汗多，重發汗亡陽譫語，脈短者死，同義。）</p>
<p>尺脈牢而長，苦兩脛重，少腹引腰痛，婦人腹滿，陰中急。（此寒疝也。寒濕深痼於肝腎之血脈，更有少腹兩旁大筋粗硬牽痛，下引睪丸及兩股者。）</p>
<p>脈沉重而直前絕者，病血在腸間。（沉而不揚，弦細上駛，是血瘀積與熱搏也。）脈沉重，前不至寸口，徘徊絕者，病在肌肉，遁屍。（短澀，伏寒在血。）脈累累中止，不至寸口，軟者，結熱伏留在小腸膜中。脈累累如貫珠，不前至，有風寒伏留在大腸。（已上《脈經》。）</p>
<p>統觀經義，皆形體之長短也。長即弦緊之類，短即結動滑澀之類。揍其義約有數端：風邪鼓於上，長必見於寸口，兼寒則緊，兼熱則洪；濕邪注於下，長必見於尺中，兼寒則牢，兼熱則緩；陽損於上，頭小本大，胸滿短氣；陰損於下，頭大本小，頭痛目眩；風熱錮於表，發為瘡疹，脈必三部長而兼洪；濕熱蘊於裡，發為腫痿，脈必三部長而兼緩；痰飲瘀血，格於中焦，發為喘逆，為結痛，脈必三部累累厥厥，斷續不勻。及其敗也，或溢或覆，或如引索，或如循長竿，或如循薏苡，或如麻子動搖，是皆長短之主病，且其病不皆輕淺也。蓋長短之形體有二：有三部內見者，有三部外見者。三部外見者，即上魚為溢，入尺為覆，是過於本位為長，不及本位為短之說也；三部內見者，即俱往俱來，不結不動，（三部齊起齊落，首尾如一。）是短則氣病，長則氣治之說也。後人每以過於本位、不及本位為詞，而其義則又取氣治氣病之義。夫過於本位，豈氣治耶？無怪窒而難通，而長短皆不診關之說，鑿而愈難也。至於來往之長短，經無明文，只見王注。竊嘗考之，經凡言大小者，多指來去之盛衰，而言長短者，皆指形體之伸縮也。故王氏之說，於理雖精，而以之注經則猶未合。</p>

<h3>弦脈</h3>
<p>弦為外陰內陽之象。東垣曰：脈弦皆陽氣衰弱，伏匿於陰中。舊說外陽內陰者，非也。蓋弦脈總見於浮，其沉弦者，牢也。弦既屬浮，總是陰陽不和，肝邪上逆。在風寒外侵，諸證病之淺者，元陽未虧，雖見寒緊之象，不宜過用溫藥，轉動內熱也。其久病亡陽，下利而見弦者，為火土兩敗，非重用桂附，不可挽回。又有弦脈寬大，細按中間更有一條勁線，隱隱挺於指下，此或脾腎二臟有一偏竭，或臟腑中有死血凝痰，陽氣不到之處。又有細緊有力，見於左手寸關之分，此為痰藏包絡，防作顛厥；見於右手寸關之分，此為痰結胃脘，防作噎隔，且並防胸膈急痛如刀切，及洞泄注下。熱則急痛，寒則注下也。見於兩尺者，肝氣入腎為疝痛，腰急不能俯仰也。大便久秘，有左關與右尺洪弦滑實者，肺燥肝熱，大腸郁濁也。弦者，形之勁也，為有餘，當指下有力，若無力者，凶矣。有風寒外感之弦，有痰血聚積之弦，有情思鬱結之弦，有肝陽亢逆之弦，有群陰瀰漫之弦。若此者，或在氣，或在血，或在經，或在臟，或寒，或熱，總是陰陽不和，互相格拒，乃致於此，故弦有實而無虛也。獨有燥弦，非寒非熱，津液耗竭，脾肺不濡，不能淫精於脈，飲食減少，大便秘結，肌肉消瘦，皮膚白屑，胸中窒窄，少腹拘急，偶爾陽越面赤，亦非肝邪。眩暈脈來，浮候弦勁，按之仍見濡弱，此津液不足，氣不化精之故，如物乾則堅，濕則柔是也。芤脈按之空，此按之不空。過在肺脾氣分，未動肝腎血分。氣亢而津液被灼，故外感風溫者，多見此象。即如仲景謂：寒傷營者，脈浮緊，浮緊即弦也；風傷衛者，脈浮緩，浮緩即燥弦之類也。所謂緩者，緩於緊，非更緩於常脈也。《內經》曰：風客淫氣，精乃亡，邪傷肝也。王冰注謂：風勝則熱起，熱起則水乾，水乾則腎氣不榮矣。李東垣曰：六脈中之下得弦細而澀，按之無力，此風熱大損寒水，燥金之復也。即此義也。夫燥弦者，實非弦也，胃脈本長，胃燥故長者勁而似弦也。瘦人無病，不足為苦，但須體認，勿致有病。臨診與弦同治。燥弦宜生津調氣，不可宣陽散陰也。</p>

<h3>緩脈</h3>
<p>（與長脈參看）</p>
<p>緩為胃氣脈，無論矣。有虛寒之敗脈近於緩，風熱時病之危脈近於緩，不可以不辨。虛寒之敗脈，即張景岳所謂緊而無力者也，形體弦長，來去怠緩，頗似從容不迫者，但無起伏動盪之致耳。此肝脾並至，色見目青顴黃，去死近矣。風熱時病而脈緩者，即經所謂滑而緩，曰熱中是也。風溫濕溫，愈熱愈緩，以風熱為陽邪也，愈緩則津液愈耗。若不知清熱養液，或誤認濕重而燥之、利之，旋變澀疾虛散，不可為矣。《三指禪》謂：噎膈反胃，脈多見緩。可見緩為濕熱化燥之象。昔人謂：六月見緩脈，為土剋水者，死。蓋其形寬長，怠緩無流暢之象，此津液內虛，浮陽外鼓也，頗有氣出不返之意。陰陽二氣相失而不復相維故也。緩為陽脈，無陰以和之，榮衛離散，氣與血分，故脈中不得遽見血家敗象。（嘗診冬病腰痛，面色黑黃，肢體倦怠，脈兩尺長緩，來去分明有力，獨肺脈短弱，脾脈亦不及。其人立春病，春分死。此上衰而陽氣熄於上，金衰而陰精涸於下也。水不生木則木虛，木者虛則喜賁，故至春即克脾肺，金又不足以制之，故病胸中結硬，下利不止，不能食也。木無水涵，則枯而生火，故臨死脈如湧泉也，是獨心之真臟矣。或曰：兩尺見長，木侮水也。不知木乘水，以子犯母，水氣未竭，脈氣按之必緊。緊者，水氣也。所危者，正以其緩而不緊耳。）</p>

<h3>洪脈</h3>
<p>浮洪，表熱多由陰虛；沉洪，裡熱多為寒束，前人言之矣。更有中洪之脈，浮沉俱見細弱，獨中候形體寬大，應指有力，此主脾陽不足，中氣不暢，胸滿腹脹之證，大致病根總由於濕。兼數則熱，兼遲則寒。濕寒而脈洪者，正以氣鬱中焦，陰霾充塞，陽氣不得宣行通暢，清濁升降不分也。嘗病濕熱，過服寒涼，脈見中洪，因從燥土溫火，佐以宣散而愈。東垣升陽除濕湯下，怠惰嗜臥，逆氣上衝，其脈緩而弦急，按之洪大，皆中之下得之。此心火乘脾，脾土受邪也。又補氣升陽和中湯治李正臣夫人，合目則遍身麻木，其脈六部皆中得弦，洪緩相合，按之無力。此陽氣不行，濕氣伏匿而作也。所謂心火乘脾者，即陽氣不行，鬱於中焦也。大抵洪脈本屬大熱，其熱為寒濕所郁者，中間必隱帶一分弦意也。若夫陰虛陽陷，內熱蘊蒸，脈見濁洪，則不必兼弦矣。如楊慄山曰：溫病邪從內發，其脈不浮不沉，中得洪長滑數，重濁不清，此津液枯乾，邪熱蘊結不散，脈見中洪者也。高鼓峰曰：有一種脈，重按有力卻不弦緊，從肌肉滲開，漫無界限，此近於浮洪豁大，是陰亡也。此即所謂喘脈，滿指虛動，不見正形，不見邊際。若按之有力，屬實，是肝腎之血熱；按之空豁無力，屬虛，是肝腎之陰燥也。實宜苦寒，虛宜甘潤。此陰虛之中洪脈也。又嘗見陰虛內燥，陽陷入陰，血熱沸騰，證見小便熱赤，大便秘結，五心悗熱，氣短食少，脈來沉弦滑數，應指有力，實大異常。喻嘉言論熱人血室曰：血熱交併，則脈見洪盛是也。此陰虛之沉洪脈也。投清熱養液，佐以宣疏，略兼健脾，提陽氣出陰歸陽，脈乃漸見和平。故葉天士曰：養陰不在補血，而在生津。王孟英謂為增水行舟之法也。凡洪大之脈，不宜空也，以其正氣當盛也；不宜過實，以其邪氣向外也；空則根不堅，實則邪內痼。</p>

<h3>促脈</h3>
<p>《脈訣》曰：指下尋之極數，並居寸口曰促。楊仁齋曰：貫珠而上，出於魚際。王子享曰：自尺上於寸口，促急有來無去。《素問·平人氣象論》曰：寸口脈中手促上擊者，肩背痛。《難經》上魚為溢，即促之甚者，不必數中一止也。此日本元氏《輯要》說也。曰並居，曰上擊，曰有來無去，皆氣爭於上而不下之義，《內經》所謂鼓且搏者類也，於促字義甚切。但與數中一止者，主病恐不相侔。數中一止者，陽氣上盛而下虛，不能接續也。傷寒誤下後見之。津液受傷，虛熱鼓動，來去躁疾，時見一止，非有湧沸上爭，源源不竭之勢也，惟陰虛也，故陽盛也。張石頑謂：為陽邪將欲內陷，亦以其陰氣不續也。氣並於上而不下者，其主病輕則胸膈逆滿，頭眩氣喘，重則癲厥或狂矣。「生氣通天論」：陰不勝其陽，脈流薄疾，並乃狂。薄者，迫也；疾者，躁也；並者，陰陽並行一道也。形大勢盛至於其極，血隨氣升奔逸於經隧之中，而百脈皆張矣，此乃洪之甚者也。傷寒太陽誤下兩條：（一日脈促胸滿者，桂枝去芍藥主之；一日利遂不止，脈促者，表未解也，喘而汗出者，葛根芩連湯主之。又一條曰脈促不結胸者，為欲解也，皆上擊之。義非止歇也。）</p>

<h3>滑澀動結促辨</h3>
<p>滑者，脈之浮沉起伏，婉轉流利也，形體條暢，浮沉皆得。若來如電掣，略按即空，此滑不直手，元氣將脫也。澀者，脈之將起未起之際，有艱滯難進之意，及其既至，亦頗有如擲如躍之時，但中間常於將來之頃，夾雜一二至，阻滯不暢耳。動脈全似滑脈：滑脈形體和軟而有起伏；動則形體堅搏，指下如豆，躁疾鶻突，幾於有來無去，起伏不明也。結脈即動脈之怠緩者，促脈即滑脈之兼洪者。此五脈，惟促脈主病氣分居多，餘四脈則氣血參半，而有寒熱虛實之殊。滑主濕熱，為痰飲，為宿食化熱，為胃滿不食，為多夢不眠，為裡急後重，其主病多在腸胃與肝、包絡之有餘，新病最為易治。若入血分，漸深則漸見弦勁矣。澀脈主血虛有熱，液燥不濡之候，其脈多空而薄。結脈即澀脈之實者，凡凝痰瘀血，寒食停滯，以及久坐久思，氣鬱血滯之屬於寒實者，悉主之。動主陰陽不和，寒熱相爭，氣為血滯而不能暢之候，卒病久病皆有之。卒病者力勁，久病者力漸衰，而近結矣。</p>

<h3>結脈</h3>
<p>「辨脈」曰：脈浮而數，能食，不大便者，此為實，名曰陽結；脈沉而遲，不能食，身體重，大便反硬，名曰陰結。此言證也，非言脈也。脈藹藹如車蓋，名曰陽結；累累如循長竿，名曰陰結。又脈來緩，時一止復來，名曰結脈；來數，時一止復來，名曰促。陽盛則促，陰盛則結，大抵皆主陰陽偏盛之候。自叔和專取緩中一止之義，而結遂專屬於陰矣。凡憂鬱、痰水、積聚、寒濕之脈，莫不見結。其形堅急不舒，而往來難也。緊而難謂之結。《傷寒·厥陰篇》瓜蒂散證，手足厥冷，脈乍緊者，邪結在胸中「可吐篇」載此文，作脈乍結，是二脈相類之徵也。緊為氣中血寒，結為血中氣滯。滯必兼寒，故結必見緊也。散而難，謂之澀。結主實，澀主虛。昔人有謂澀主凝痰瘀血等證者，皆結脈也。《內經》亦以澀主多血少氣，微有寒，血寒而壅，氣不足以行之。此正結脈之所出也。《內經》曰：六經之脈，不結動也。是結與動類也。《中藏經》論血痹曰：脈結而不流利，或如斷絕者是也。是結為氣鬱於血也。史載之曰：脈氣結而不勻，逐位間絕。又曰：結脈疾數而懸絕，累累如珠，而又不流利，與滑不同。但逐部位流通指下，如滴水起頭是也。此全是仲景所說動脈形狀。而此云結者，二脈形本相同，但動脈勢急，結脈勢緩耳。《脈經》曰：脈問來而急者，病正在心，癥氣也。夫略間而來急者，結脈也。西醫謂脈之動者，心動也，心氣不暢則脈息不調。故《脈經》曰：脈短而澀者，心痛。短而澀，即結脈也。諸痛瘡瘍，皆屬於心。故又曰：外結者，癰腫；內結者，疝瘕也。總是血中氣滯之候。</p>

<h3>動脈（累累如珠）</h3>
<p>拙著「辨脈章句篇」文已錄於前編矣，其有未盡余意，補著於此。前以陰陽相搏指浮沉，陰動陽動指尺寸是矣。繼而歷驗所診，又不必盡然。蓋陰陽相搏，只是推明動脈之根，由於陰陽氣血不和而相爭也。所以不和而爭者，陰陽不得其位也。陽抑於內，陰痼於外，故人病每多先形冷惡寒，而後發熱，而後汗出。因三焦之氣，不能達於周身，故形冷惡寒也。陰動者，沉分動也，陽抑在內，積不能平，而有發動欲透重陰之意也。陽氣發動，故發熱也。陽動者，浮分動也，是陽氣漸達於外，而陰將退讓矣，故汗出。汗者，陰氣之所泄也。如是則陽伸於外，陰復於內，故人病每汗出而解也。動脈有見於一部者，有見於三部者，指下各有如豆，其形與弦相反也，而主病竟有同源者。嘗診一瘧疾，正欲作寒矣，其脈左沉右浮，按之如珠，滾滾自尺上寸，左為尤甚，此肝脾氣鬱不和也。夫瘧脈必弦者，以寒濕搏於表，腠理不通，其氣束脈故弦。寒濕格於中，三焦不通，其氣激脈，故動也。三焦者，少陽也，正瘧邪之所據；形冷、惡寒、發熱、汗出，正瘧疾之形證。可知瘧脈亦不必弦矣。</p>
<p>陽動汗出，陰動發熱，蓋相搏而動。動必有勝，勝必有復，故或寒已而熱，或熱已而寒，勝而能復，正其勢均力敵然也。若本體有一虛，則其繼必不能復，而其始亦不至於動矣。故前人謂陰陽相搏，虛者則動，其說非也。相搏即動矣，何待虛者？此虛字只可作「輸」字看。本體不虛，猝致相爭，乍勝乍負，相搏而動，此時其機甚危。陰動勝陽之時誤服寒涼，遏其陽氣，則氣息奄奄，口不能言，急則一日，遠則五六日而死；陽動勝陰之時誤服燥熱，傷其陰液，則汗不得出，煩躁若狂，或汗出不止，而亡陽暴脫矣。此和解之法所以貴也。和解者，清疏也，此時最易誤認為熱而用涼下，以其脈滑數而實也。夫動者，陰陽相敵而不相和也，和之而已，不可有所偏助也。）《傷寒論》曰：諸脈得數動微弱者，不可發汗。）</p>
<p>何夢瑤曰：數而跳突，名曰動。大驚多見此脈。此誤會動為驚之說也。須知動為驚、為痛，均要從陰陽相搏上理會。夫大驚卒恐，脈多鶩暴，此喘而上爭，來盛去衰，大類促脈，非動脈也，氣虛神弱而常病恐懼者。平脈所謂如循絲累累然者是也，亦非動脈也。動者，陰陽不和，而力足以相敵，因而相戰，致脈見搏擊，漉漉如珠，不能條暢，成長直之形也。在新病，為寒濕格於三焦，故寒熱相爭；在痼疾，為痰涎格於胃與包絡，故氣血相激也。其為驚也，即如於睡夢中忽而驚掣之類也。其主痛亦必如《靈樞》所謂厥痛、痹痛，非尋常金瘡跌僕癰腫者也。「生氣通天論」曰：俞氣化薄，傳為善畏，及為驚駭。「陰陽別論」曰：二陽一陰發病，主驚駭。「大奇論」曰：脈至如數，使人暴驚。此皆動為驚之義，乃陰陽不和，無所見而身自驚惕者也。又所謂如驚癇狀，時瘛瘲是矣。「大奇論」曰：肝脈鶩暴，有所驚駭。此有所見而驚，即何氏說也。驚定即脈靜，非病也。又曰：腎肝並小弦為欲驚。此即平脈所云，乃氣怯神虛所致。《靈樞·邪氣臟腑病形》、《素問·藏氣法時》言肝膽病皆曰：虛則善恐，如人將捕之是也。至於腎為恐，腎水凌心則人善恐，此亦動脈所主也。陰陽無形之氣相搏，則脈動，氣與痰食諸有形之邪相搏，則脈亦動。私嘗新定動脈主證曰：為寒熱，為瘛瘲，為怔仲，為痹，為胃脘痛。（證不止此，詳見前編。）</p>
<p>《脈經》曰：寸口脈偏動者，從寸口至關，從關至尺，三部之位，處處動搖，各異不同，此病以仲夏得之，桃花落而死。此動脈之正象，心火受制於寒水者也。《脈訣》謂：不往不來，不離其處，即無頭尾也。三關指下礙沉沉，即厥厥也。可謂獨得真相，戴氏斥之過矣。《脈經》又曰：脈累累如貫珠，不前至，有風寒在大腸，伏留不去。脈累累中止，不至寸口，軟者，結熱在小腸膜中，伏留不去。觀此，則寒熱內結皆見此脈，總是氣鬱血分，不得宣暢之象，據大腸小腸云云，則五淋、白濁、痢疾、後重亦當有見此脈者。至於心平脈亦曰累累如貫珠，腎平脈亦曰喘喘累累，只是滑利之義。若堅急搏指不移，如循薏苡子，則真臟死脈矣。故又曰：三部脈累累如貫珠，長病得之死。又有脈來圓散如粒，轉轉自尺上寸，卻弱不任按，此真元虛寒，內有痰飲，中焦氣不暢達，以致斷續有痕，似動，似滑，似結，似澀。昔嘗病後見此，一息三至。《三昧》所謂平動、不鼓、牒牒而去也，重劑溫元，久而乃復。</p>

<h3>澀脈</h3>
<p>澀有血燥，亦有氣虛，故有虛澀，有實澀，有尺寸之澀，有浮沉之澀。自尺至寸，前進屢躓，此多由血液耗竭，經隧不利也。自沉至浮，外鼓遲難，此多由元陽衰弱，動力不暢也。又無論尺寸浮沉，來勢艱滯，但見應指有力，即由於實；應指無力，即由於虛。且脈之澀也，乃於他脈中雜以數至之來難也，非每至必澀也。須察其不澀之至：滑耶，痰也；數耶，熱也；遲耶，寒也；弦耶，郁也；結耶，血之凝也；微弱耶，氣之衰也；細小躁疾耶，火燥而液耗也。再察其正澀之至，應指之有力無力，而虛實無不了然矣。若每至必澀，是脈亂而死矣。大抵澀脈屬寒者多，倘兼見滑數，即防胃癰、腸癰、肺癰及惡瘡腫也。其元陽衰憊，應指過於無力者，與代相近。但代脈平平而來，忽然一止，無中途來往之艱滯，一專氣衰，一兼經阻也。</p>
<p>凡見於汗吐下後，及素善盜汗者，血虛之澀也。若《脈經》所謂澀而緊，痹痛；遲澀，中寒、有癥瘕與宿食。脈緊而澀者，血壅之澀也。緊而澀者，全似結脈，但結從來去之怠緩上見，每至皆怠緩也；澀從來去之艱澀上見，不必每至皆艱澀也。結脈病在氣分，宜溫元開鬱；澀脈病在血分，宜養液行瘀。前謂結主實，澀主虛，亦不必過泥。</p>

<h3>滑脈</h3>
<p>經曰：脈弱以滑，是有胃氣，命曰易治。既弱矣，豈得為胃氣？病脈兼此，是有胃氣也。又曰：緩而滑，曰熱中。緩滑皆胃氣脈也，而曰熱中，此必動勢盛大而不和平也。夫滑者，陽氣之盛也，其為病，本多主熱而有餘。故《脈經》曰：脈來疾者，風也。滑者，病食。滑躁者，有熱。澀者，病寒濕。《難經》謂：滑者，傷熱。澀者，中霧露，霧露即寒濕也。滑者，鬼疰。沉亦為注，緊而長過寸口者，亦為注。蓋沉緊長滑，四脈並見也。滑疾者，胃熱。遲而滑者，脹闢。大而滑，短氣。短疾而滑，酒病。浮而細滑，傷飲。浮滑而疾，食不消，脾不磨。關上緊而滑者，蚘動。尺中沉而滑者，寸白蟲。觀此諸說，概由濕熱。其言寒者，即《內經》陰氣有餘之義，非真寒也。況病有表寒裡熱，有裡寒表熱，有表裡俱熱，故滑而多有兼脈也。滑自主熱，其兼脈自主寒，非滑能正主寒也。又謂滑脈始為熱，終為虛。所謂熱者，血熱也；所謂虛者，血虛也。津液為熱所鼓盪，如長江大河滾滾不盡。熱滑大義，已詳上文矣。虛滑，即滑不直手，是津液竭盡，脈絡空虛，氣無所繫也。《素問·大奇論》曰：脈至如丸，滑不直手，按之不可得，是大腸氣予不足也，棗葉生而死。《傷寒》不可下篇曰：脈浮而大，浮為氣實，大為血虛，血虛無陰，孤陽獨下陰部者，小便利而汗大出，津液四射，榮竭血盡，干煩而不得眠，血薄肉消而成暴液。醫復以毒藥攻其胃，此為重虛，客陽去有期，必下如汙泥而死。《脈經》曰：脈浮而滑，其人外熱，風走刺，有飲難治，此皆虛滑之義。正氣無所歸宿，澀極之幻相也。夫毒藥攻胃者，是誤虛為實，以滑為痰而攻之者也。有飲難治者，正氣為痰飲格拒，不得歸根，邪風遊溢經絡，一身流走刺痛，正氣將散者也。《脈經》又謂：尺脈偏滑疾，面赤如醉，外熱刺痛。正此義也。「辨脈」曰：浮滑之脈數疾，發熱汗出者，不治。又溫病之壞證，其掣如電，按之即散者也。</p>

<h3>滑澀似動結</h3>
<p>滑為氣血有餘，澀為氣血不足，此滑澀正義也。濕熱化痰，氣鬱血壅，此滑而兼於動者也。痰凝氣聚，實寒相搏，此澀而兼於結者也。故於滑脈中分邪正，於澀脈中分虛實。《脈經》曰：澀而緊痹痛，遲澀中寒有癥瘕，浮緊且滑直者，外熱內冷，不得大小便。沉而滑，為下重，亦為背膂痛，氣鬱血滯之義顯然。故吾常謂前人之言滑脈，多夾雜動脈在中。「平脈」曰：滑者，緊之浮名。《脈訣》曰：滑者，三關如珠動是也。言澀脈多夾雜結脈在中。杜光庭曰：澀謂秋中多結脈是也。更有動久氣衰而近結，澀極氣脫而似滑，具慧眼者自能剖析毫芒，肆應不惑。</p>

<h3>滑澀並見</h3>
<p>（二脈主病相反相同）</p>
<p>《素間·脈要精微》曰：澀者陽氣有餘也，滑者陰氣有餘也。《靈樞；邪氣臟腑病形》曰：滑者陽氣盛，微有熱；澀者多血少氣，微有寒。《脈經》又以滑為多血少氣，澀為少血多氣。言若兩歧，理實一貫。蓋氣之力大於血，血為其所鼓動而無所留滯，故滑為氣盛也。血滯而氣不足以行之，則血壅而見多矣，故澀為多血少氣。猶曰：形瘦脈大，胸中多氣者死。豈真有多氣而死？正以氣壅而不通耳。此《靈樞》之義也。血主濡之，氣主呴之，氣為陽熱，能耗血者也。滑則津液充溢，熱勢不能耗之，故陰有餘也；澀則陰虛陽往，衛降榮竭，血液為壯火所灼，而不能充滿流動矣，故陽有餘也。陰有餘，故多血少氣；陽有餘，故少血多氣也。此《素問》與《脈經》之義也。二脈相反，不能並見。「平人氣象論」尺澀脈滑，謂之多汗。此指尺之皮膚，非並見於脈也。然《中藏經·虛實論》曰：診其左右尺中，脈滑而澀者，下虛也。巢氏「腸癰候」曰：脈滑澀者，小腸癰出血者也。至於《難經》所謂熱病之脈，陰陽俱浮，浮之而滑，沉之散澀者，其為並見，更屬無疑。夫脈固有浮之拍拍擊手似洪滑，沉之來難不調似澀，此主氣熱血虛也，華氏所論，其殆此耶；亦有浮之來難不調，沉之漉漉似滑疾，此氣鬱於血，血分熱沸也，巢氏所論，其殆此耶。凡癰疽既已出血，浮滑沉澀者逆，沉滑浮澀者順，但養液清熱和榮衛，自復矣。且澀脈乃於他脈中雜以數至之來難也，若每至必澀，則脈亂死矣。故澀脈必有兼脈，其氣弱血燥而虛澀者，兼見之脈多在軟弱一邊；其氣鬱血滯而實澀者，兼見之脈多在洪滑一邊。方其澀時，脈氣未能暢達，一達則湧沸而上也。此二脈所以多兼見也。又二脈主病略同，而有寒熱虛實之相反。如宿食、凝痰、瘀血等證，寒則澀，熱則滑；久則澀，新則滑；虛則澀，實則滑。故趙晴初曰：滑脈多主痰，以其津液壅盛也。然有頑痰阻塞氣機，脈道不利，反見脈澀者。開通痰氣，脈澀轉滑，見之屢矣。即仲景論宿食脈，亦或言滑數，或言緊澀，寒滯冷積則澀，蘊熱化痰則滑也。故《脈經》曰：脈緊而滑者吐逆，小弱而澀者胃反，胃反必吐逆也。而滑澀異脈者，實熱與虛寒異本也。尺脈滑而疾為血虛，尺脈澀，下血下利多汗，下血必虛血也。而滑澀異脈者，澀為本脈，其滑而疾者，陰虛陽往，衛降榮竭，所謂陰虛生內熱者也。《中藏經》以滑為虛，此其義也。</p>

<h3>代脈</h3>
<p>經言：色黃者，其脈代。又言：但代無胃氣曰死。是代為脾之本脈，只是軟弱之義耳。夫脾脈何以軟弱也，代脈又何以止歇也，人以為兩脈，吾以為仍是一義也。蓋人身之氣，左升而右降，臟腑之氣，肝腎升而心肺降，是皆脾氣居中，為之轉旋，上下更代之樞紐也。升之氣於是終，降之氣於是始，運動之機勢至此而有脫卸，即至此而有停頓，故脈遲緩而軟弱也。脾氣一絕，升降不續，則止歇見矣。故止代者，脾之真臟也。</p>
<p>代脈大義，已具前說矣。《內經·脈要精微論》曰：數動一代者，病在陽之脈也，泄及便膿血。《脈經·扁鵲脈法》曰：細而沉，不瘛瘲即泄，泄即腸澼，澼即脈代，乍至乍不至，是皆出於久病，榮血傷敗之象也。「三部九候論」曰：其脈代而鉤者，病在絡脈。「禁服篇」曰：代則乍痛乍止。《脈經·手檢圖》曰：脈來暫小暫大者，陽絡也。動苦肉痹，應時自發，身洗洗也；脈來暫大暫小者，陰絡也。動苦皮膚痛，下部不仁，汗出而寒也。其即《內經》病在絡脈之義耶，是皆氣血凝滯之象也。蓋代只是止，須視其不止之至，敗與未敗，以定吉凶。故《脈經》曰：熱病七八日，脈微細，小便不利，加暴口燥舌焦乾黑，脈代者死。又病瘡，寒熱瘛瘲，其脈代絕者死。又老人脈陰弱陽強，脈至而代，奇月死。又瘧疾代散則死。又右手尺中神門以後脈陰虛者，腎虛也，脈代絕，時不至。腎虛者，命門火敗也。此皆死脈，必別見敗證敗象，未嘗專以代主死也。《周慎齋脈法》曰：雜病傷寒，老人脈見歇止者，俱將愈之兆。惟吐而見歇止脈者死。陳友鬆解之曰：吐見止脈，是元氣竭於下，不能上供其泛逆也。趙晴初補之曰：將愈，脈見歇止，是和平脈中見歇止也。此又未嘗專以代主死也。果見敗象，不但忽止忽來，為氣亂無常；即不見止，而平脈中忽見一二至，微弱無力，亦代脈之必死者也。《脈經》曰：關上脈滑，而小大不勻，是為病方欲進，不出一二日復欲發動，其人慾多飲，飲即注利，利止者生，不止者死。又曰：關上脈，時來時去，乍大乍小，乍疏乍數者，胃中寒熱羸劣，不欲飲食，如瘧狀。合觀二節，是陰陽不和，寒熱夾雜之象。利止者，陽盛也；不止者，陰勝也。又曰：三部脈或至，或不至，冷氣在胃中，故令脈不通也。即此義也。昔人謂妊娠脈多代，歷診未見止代者，但見滑疾流利中，偶有一二至應指少力耳。此象雖為血盛氣壅，究宜細問有無氣血痹痛、半產夙疾，或新下利亡血，及腰腹痠疼等事，恐或胞傷欲墮也。</p>

<h3>促結澀代不同</h3>
<p>四脈皆有止而不同。促結之止，能自還者，本臟之氣未傷，但為邪氣阻礙，故其脈稍停，而仍自至於寸口，略遠於前至，而並於後至也；亦有並於前至，遠於後至者。代之止，不能自還，則本臟之氣已絕，不能復至於寸口，故其脈停之有頃，直少一至，待他臟之氣至，而後復動也。澀則或於遲脈中數至來略數，或於數脈中數至來略遲，所謂參伍不調也。數至不調謂之澀，一至不調謂之促結，一至獨絕謂之代，不必拘於止有定數無定數也。如五動一止者，雖或間以十動十五動而止，亦皆謂之五動而止，以其皆在以五紀數之處也。（數脈，間以來遲為澀是也。遲脈，間以來數，亦為澀者，以其氣不調也。）</p>

<h3>伏脈</h3>
<p>（脫脈最難診者，將伏將脫之際，故篇末詳之。）</p>
<p>伏者，兩手乍不見脈也，氣閉也，非氣脫也。然全身脈伏，則亦氣悶而絕矣。故寸關之脈既伏，則尺中之脈不可伏也；頭面之脈既伏，則心腹之脈不可伏也；兩手之脈既伏，則趺陽太谿之脈不可伏也。既伏者，無可診也。診其不伏之處，湧盛上爭，有踴躍之勢者，伏脈也。旋引旋收，轍亂旗靡，在反掣之意者，脫脈也。世謂伏脈推筋著骨而始見，是猶有可見，只可謂為沉之甚者，《難經》曰：伏者，脈行筋下。此乃沉之甚者。故主積聚久病，不主屍厥、霍亂急病也。細之甚者，微之甚者，而不得謂之伏，伏則兩手直不見脈也，主暴病實病。凡卒屍急痛者有之，若久病虛病不宜見此。故傷寒十三日以上不間，脈尺寸陷者危。陷者，突然脈沉小無力，此氣欲脫也。《脈經》曰：伏者，霍亂。此氣閉也。《難經》曰：遂入尺為覆，為內關外格，此陽乘之脈也。覆即伏也。諸家謂陰內閉而不出，陽外入以格拒之，非也。陽內閉而不出，陰外入以格拒之也。故曰：陽乘者，陽氣陷入陰位也。故治伏者，只宜宣散，必無熱補，以其外陰內陽，陽伏於內，實有物焉，而非虛也，故曰伏也。若內陰外陽，而至於無脈，是陰陽離絕，即脫矣。</p>
<p>《脈經》曰：心衰則伏，肝微則沉。此伏字，只是極沉而細者。然西醫謂脈之動者，以心動也，故脈不動者，心無氣也，故屍厥不知人，氣復反則生，不反則死。又《內經》曰：肝脈騖暴，有所驚駭，脈不至，若瘖，不治自己。此亦心氣乍失其所也。故吾常謂：伏者，有邪與正相迫，有正與正相迫。正與正相迫者，陰陽相爭而不相下，並行一道，氣機壅窒，不能旋轉，如兩人對行狹巷，牴觸而各不得進也，此升降乍亂，大怒甚恐者有之。若二氣有一偏盛偏衰，則讓開氣道，而不至於伏矣。邪與正相迫者，如大寒甚暑，中之者猝不知人，是邪氣猛來，格拒於外，使正氣不得通行也，此人元氣必實。若不實者，必為邪氣侵入，正氣滅矣。故伏者，陰陽邪正力能相敵而然也。故伏脈無虛病，治伏脈無補法。即如傷寒有通脈四逆證，此元陽大傷，陰邪上掩人心也，伏而幾於脫矣。藥用辛熱，補中仍寓宣散，此與房室感寒脈伏者治法相同，皆正氣內怯而脈伏。伏脈之虛證也，且不能純用溫固，況其他乎？若不任宣散者，即真脫矣。故少陰病，下利不止，厥逆無脈，用白通湯加豬膽汁服之。脈微續者生，暴出者死，為其近於脫也。若果伏脈，何不可暴出乎？</p>
<p>前謂診其身中有脈之處，湧盛上爭者，伏也，旋引旋收者，脫也。此係指病氣已定，寸口脈氣已伏之後言之。若當病之乍起，寸口脈氣未伏將伏之際，診之指下，總是旋引旋收，漸漸退縮之象。此時膻中大氣方亂，脫閉機括，本尚未定，其後有因閉而竟脫者，有本脫而生氣一線未盡，猶可挽回者。若必欲於萬難分辨之中，而曲為之辨，則惟以形細而弦，如絲髮梗梗，有起伏者，閉之象也；形散而斷，如麻子縈縈無起伏者，脫之象也。</p>
<p>《脈經》曰：頭痛脈短者死。據《素問》：寸口脈中手短者，頭痛。未嘗言死也。此短必是脈止於關，不能上寸，且其勢必是漸漸回縮，降入尺中。此陽氣下脫，不能上達於腦也，不但頭痛欲裂，亦必耳聾目昧，此脈正欲脫之候也，少遲診之，即無脈矣。故凡久病，診得伏脈短脈，恐是下脫，即宜詳問神識清濁、二便秘泄，以及飲食眠睡，有無異常，以定吉凶。且脈之脫也，有霎然自脫者，有久閉而漸脫者。嘗診一婦，久病喘嗽，至冬即發，始猶能食能言也。一日，聲微食減，便泄痰膠，肌熱如焚，重撫灼手，呼吸逼迫，悶塞煩躁，喉如曳鋸，午甚夜平，脈兩寸如絲，兩關後洪弦滑數，頻下後氣，不能自固，自覺頭上或胸中不知何處缺少一件本體。此肺中為痰涎貯滿，真氣下陷，不能到肺也。始由外感，繼傷真元，便滑氣泄，脾已敗矣。其脈必是由關漸縮，入尺而絕。辭之，尋歿。經曰自上損下，過脾則不治故也。亦有久服溫補，痰阻上焦，或過服寒涼，熱氣驟折，以致三部無脈，退縮尺後，此伏脈之類。其脈必鼓搏有力，與脫脈之旋引旋收者不同也，而不善治之，將漸脫矣。大抵因寒熱而脈伏者，為正伏脈，其證必鬱於中而不暢；因下利而脈伏者，為兼脫脈，其證必陷於下而不固；因喘嗽而脈陷脈縮者，久伏致脫，上下氣隔，陰陽已離也。</p>

<h3>喘躁駛三脈</h3>
<p>三脈，前人皆以數賅之，殊不知三脈有兼數者，有餘之實脈也；不兼數者，不足之敗象也。喘者，自沉而浮，有出無入，來勢逼迫，至浮分即止而不見，其氣之反吸也。氣之來也，如吹管而不復吸入也，此命門元根上脫，久病虛羸、失血脫泄之人忌見之。其兼數而實者，為痰火濕熱之病，應指振撼實大有力，出多人少也。《內經》曰：赤，脈之至也，喘而堅，有積氣在中，時害於食，名曰心痹。又曰：脈至如喘，名曰氣厥。氣厥者，不知與人言，此皆實而喘者也。躁者，亦自沉而浮，（亦謂之疾。）來去如電掣，而不相連續。其來也，有頃而一掣，其去也，有頃而一掣，一息不過四五至，而無循環容與之意。在虛勞久病，與代、散同論，為其氣不相接也；在新病實病，為痰凝氣鬱，與結、澀同論。大致是血液少而氣燥熱之象。駛者，自尺上寸，如箭之直而迅，（亦謂之駃，亦謂之弛。）而無浮沉起伏之勢。在新病，惟風寒咳嗽喘促者，不足為忌；若久病勞嗽及病困而見者，多是元根欲脫也。又有來勢略盛，而遜於喘，亦能吸入，惟應指時有戰慄之意，如左右彈者，此主中氣不足，為怔忡，為用力過度，為中焦停飲，為經絡阻滯，為元陽衰憊。仲景曰：脈見轉索者，即日死。舊解隸之緊脈，非也，緊脈如轉索者，如其轉之緊而勁也。此如轉索，如其索之動，高下左右無定也，即喘脈之無神者也。</p>

<h3>總說</h3>
<p>上二十七脈加喘、躁、駛三脈，凡三十脈。總以浮、沉、遲、數、虛、實、長、短八者為之提綱，得其綱則中有主宰，乃可應於無窮。故芤、革，浮也；牢、伏，沉也。代，遲也；促，數也。濡、弱、細、微，虛也；洪，促、牢、滑、動，實也；弦、緩，長也；動、結、滑、澀、緊、散，短也。沉而長者，實也；浮而短者，虛也。一脈有一脈之根原，一脈有一脈之主證，然形多相似，則原與證亦多相近。故芤、虛相似也，浮、洪相似也，微、散相似也，滑、促、動、短相似也，結、澀相似也，沉、緊、牢、實相似也，弦、長、緩相似也。芤、革本一脈，而以微甚分也。濡、弱本一脈，而以浮沉分也。此以其形言之也。推其根原，無非陰陽、血氣、寒熱、虛實而已。濡、弱、微、虛，氣血俱虛也。芤，血虛也；遲，氣虛也。伏，氣閉也；代、散，氣脫也。細、結，氣血俱寒也。革，陰盛於上也。牢，陰盛於下也；長、短同有氣鬱，氣橫於氣分則長，氣結於血分則短也。滑、澀同主血分，血寒則澀，血熱則滑，血虛則滑而芤，血實則澀而結也。促、洪，氣熱於氣分也；動、滑，氣熱於血分也。浮、數，氣熱於氣分也；沉、遲，氣寒於血分也。弦、革，氣寒於氣分也；結、緊，氣寒於血分也。細，血中氣寒也；緩，血中氣熱也。濡、弱、微，氣血俱虛，而有微甚之殊也。伏、代、散，俱屬於氣，而有脫閉之別也。散與結同主癥瘕，正氣未衰則結，正氣既衰則散也。亦有乍病停滯而脈散者，則以氣血新亂而未復也。此推其根言之也。是故脈之稱名，有可以互通者。濡弱本可互稱，細微亦可借用。緩而兼遲兼澀，則緩亦可言濡。弦而無力無神，則弦亦可言緊。浮與芤，濡與緩，本二脈也，而芤而緩亦可曰浮而濡。沉與實，滑與動，本二脈也，而沉而動亦可曰滑而實。此皆稱名之可以出入者也。亦有必不可不細辨者：本濡弱也，而或以為微：本微細也，而或以為伏；弦而無力也，竟以為緩而有胃氣；結而氣鬱也，竟以為澀而少血液。虛實既昧，攻補必差。故王叔和曰：謂沉為伏，則方治永乖；以緩為遲，則危殆立至。此又稱名之不可移易者也。凡求脈，必先能辨其近似，而知其確然各有所主也，然後能得其會通，而知其渾然皆出於一也。無他，明其義理而已。義理何在？曰：陰陽、血氣、寒熱、虛實而已。其於病也，外六淫也，內七情也，何臟何腑何經也，其來路從何來，其去路從何去也。凡此皆於脈測之，脈法顧不重乎？以脈測病，更以病證脈，讀書臨診，刻刻用心，何患不及古人耶？</p>
<p>病有相反而相似者，脈亦有相反而相似者。病相似者，寒極似熱，熱極似寒，實極似虛，虛極似實是也。脈則滑主痰，而痰亦見澀；弦主肝邪，而肝亦見濡；癥疝脈緊牢，而亦有遲澀而散；元根不固，上氣喘促，脈虛大也，而亦有應指洪實，來去分明；孕脈必滑利也，而亦有虛澀不調。又弦緩相反也，而風弦與熱緩相似；滑澀相反也，而熱澀與虛滑相似；傳與散相反也，而摶而累累不續，即與散同論；洪與伏相反也，而屍厥霍亂，伏與洪同斷；長與短相反也，而長而勁與短而摶，同主氣逆氣鬱。有以無脈為病所者，若芤脈浮大，按之中空，內主精血之虛也；有以有脈為病所者，若緊脈浮數，按之內減，外主風寒之傷也。尺不上關，邪遏於上也；寸不下關，陽越於上也。凡此惟能察神者，澄心渺慮，洞澈隱微，不為所惑。仲景云：脈不空見，中必有奸。常有病淺而見危脈，病危而見平脈，下病而脈見於上，上病而脈見於下，右病而脈見於左，左病而脈見於右，變化萬端，不可方物，惟在會心，難以言喻。</p>
<p>自然子評曰：予讀診書多矣，或剖析形狀，或羅列主病，至於義理，闕焉無聞。即或道及，亦不過泛論陰陽血氣而已。擇焉不精，語焉不詳，總由真境未明，胸無主宰，故字裡行間，欲吐仍茹。此獨一一緊靠本脈，從陰陽血氣各透發其所以然之故，使讀者恍然於脈象之所由變見，即曉然於各脈見證之所從來。蓋推明各脈變象之根原，而所見之證，與治之之法，舉賅其中，而不待他求矣。誠向來診書獨闢未有之境也。卷首諸篇，煌煌大文，如懸日月，固已揭出千古迷途矣。至如濡弱二脈，他人斤斤致辨，惟恐相紊也，此獨徑合為一。滑澀動結，世只知其相反也，此獨暢論其相同，而其不同之處，以一二語醒之，便自豁然。又謂澀代二脈，只於止中見之，須察其未止之時，脈象何如，以定吉凶。芤革二脈，一為陰虛，一為陰盛，迥不相侔，尤為深中肯綮，撥去雲霧而見白日，使人撫掌稱快者也。非讀書臨診，細心體察，孰能與於斯耶？世有知音，子豈阿好。</p>

<h3>潛初診脈部位</h3>
<p>左診心肝腎，右診肺脾命，而各系以所相表裡之腑。凡脈一手單見者，以之兩寸主上焦，兩關主中焦，兩尺主下焦；凡脈兩手同見者以之。此相沿之定法也。然其中有變焉，不獨命門一診，聚訟紛紛也。前著「三部九候大義」不議及此者，彼述天下之通義，此據一人之創見也。五臟惟心無候，何則？脈以候邪，有邪始有候，心不受邪，故無脈可候也。心受邪則死矣，故心至有可候，已無所候之矣。故吾以左寸候包絡，關候肝膽；右寸候肺，關候脾胃；兩尺以形體候腎水，以動勢候命火，不分左右也，此定位也。大小腸候兩寸，亦候兩尺，膀胱候尺，亦候兩寸，此以證參之者也。三焦一經，舊說分三部候之。夫三焦為命門相火之所充周也，前於命門三焦說詳之矣。其實命門為體，三焦為用，兩尺正候命門本體，兩寸關候命火之行於上中二焦者，皆以動勢為主。命門三焦固相通，三焦亦不能板分三部也。凡如此者，非好為異說也，考之聖經，驗之人事，而有以知其必然也。《素問》曰：腎脈喘喘，累累如鉤，按之而堅，曰平。夫按之而堅，腎脈也，水也。喘喘累累如鉤，心脈也，火也。心指包絡，下同。繫於腎者，君火與相火同氣也。《難經》亦曰：按之軟，舉指來疾者，腎也。非形勢並見耶。大小腸之無定候，已見前編卷一陳修園、何西池之說矣。膀胱亦候兩寸者，腎水凌心，膀胱之寒氣凌之也。小便赤澀，心火之盛而下郁也。故左寸沉遲，膀胱必寒；左寸細數，膀胱必熱。水之行也，肺氣運之也。故右寸上湧，小便不調也；右寸弱陷，小便不禁也。故肺氣充者，小便少而長，氣足以攝之也；肺氣虛者，頻而短，氣不足以攝之也。右寸沉實，而二便不通者，宣疏肺氣即通矣；右寸浮弦，而二便不通者，清降肺氣即通矣。《脈經》以膀胱候寸，以脾候尺，始未識也，更事既久，乃悟之矣。脾候尺者，《內經》所謂中氣不足，溲溺為之變是也。如脾家濕熱太甚，則克腎水，而兩尺必滑而緩矣。腎受脾邪，陰血燥熱，水沸漸涸，二便不調，遺精白濁強中，諸證蜂起，此危候宜急治者也。《脈訣》以尺滑主食注，（食即注下，《內經》謂之洞，亦曰暴食不潔，倉公謂之迵風。）為脾咎，戴氏斥之，不亦淺乎。夫女子經水不利，專候心肺之脈，義見「評熱病論」。而《脈經》以膀胱肝腎之病，候於兩寸者，不一而足，今其法失傳矣，然明者猶能以理測之。至於三焦之經，其氣傷於升降者，則逐位間隔，圓疾如豆。傷於出入者，則弦細而數，趯趯於中沉之分而不揚也。以脈之形勢，而不以部位矣。吾於診法，得力於滑氏之六字者最深，部位其淺焉者也。聊識於此，以備遺忘。（講脈學者，須先明部位之有定，而後漸漸悟入部位之無定，則庶幾矣。自古明賢，未嘗全泥定位，亦未嘗全棄定位也。）</p>

<h3>五臟六腑性情脈</h3>
<p>臟腑性情，腑陽多含母精，臟陰多見子氣。蓋臟腑五行之相生也，從陽入陰，從陰入陽，如水生木，必腎生膽，膽生肝也。木生火，必肝生小腸，小腸生心也。火生土，必心生胃，胃生脾也。土生金，必脾生大腸，大腸生肺也。金生水，必肺生膀胱，膀胱生腎也。陰陽以相間而相和也。故屬陽者，中含母精；屬陰者，中藏子氣。故膽雖陽也，以有水氣，故力弱而微；肝雖陰也，以有火氣，故力強而大。小腸脈洪而兼長，有木氣也；心包絡脈洪而兼緩，有土氣也。張仲景曰：心脈洪大而長是也。胃脈脾脈雖不可單見，而胃緩而浮，脾緩而靜，一含火熱，一具金寒也。大腸浮而長，有脾土之氣也。肺脈浮而短，有腎水之氣也。膀胱沉而寬薄，有肺金之氣也。腎脈沉而堅實，有肝木之氣也。杜光庭曰：嚴冬尺脈要沉弦是也。此五臟六腑之本脈也。至於病變，亦以母子相乘者為多，以其氣相親也。而直克反侮者，重病死病乃有之，以其氣相逆也。故腎病，有見肝脈，有見肺脈；肝病，有見心脈，有見腎脈；心病，有見脾脈，有見肝脈；脾病，有見肺脈，有見心脈；肺病，有見脾脈，有見腎脈。非必病氣，自彼臟傳來也，亦非必彼臟氣來相干也，本臟之中，自具此氣，病則氣有所偏而易見耳。仲景有五行相乘、縱橫逆順之說，又有治未病之法，吾之明此為治未病之法，亦必審真而後可用。五臟互見其氣，有不必病邪之相傳也。如心病見肝脈，並非肝邪來犯，妄為瀉肝，豈不誅伐無過耶？何以決其相傳與非相傳也？二臟脈氣相應不相應也？相應者，脈氣同見也，互見也；不相應者，二臟自見其本氣而靜也。同見者，如脾氣干肺，肺部脾部同見脾脈也，治宜脾肺兩瀉；互見者，肺部見脾脈，脾部轉見肺脈，或見他臟脈，而不自見其本脈也。此為捨己宮觀，適他鄉邦，治宜瀉肺補脾。自見本氣而靜者，肺部雖微見脾脈，而脾部自靜，無所太盛也。他臟仿此，此大法也。</p>

<h3>弦鉤毛石四時脈</h3>
<p>四脈惟弦之義最顯，石與毛次之，鉤最難解。石者，實也，沉而有力，往來不遠，而有平靜堅固之體也。人當盛暑，逐日泄汗，及秋而津液內虛矣。故脈體見薄，且新涼乍見，陽氣乍衰，來勢不能洪盛，故浮候其形，應指輕而如毛也。秋日下膚，稍按方能見，大非秋脈，僅見浮毛也。豈有秋脈反更浮於夏耶？夏脈洪也，而言鉤者，所以形容來盛去衰之象也。蓋冬脈之靜固者，至此盡發，故其來之根深而長，如鉤之柄也；其去不甚有力，不及來之深而長，如鈞之曲也。陽盛而陰之吸力少也。《脈經》曰：萬物洪盛，垂枝布葉，皆下垂如曲，故名曰鉤。正以上盛極而下折也。是以鉤之形狀，脈之來去之勢也，非以狀脈之形也。故洪鉤雖俱為夏脈之名，而實不同，洪但言其來盛，鉤並繪其去衰也。杜光庭曰：洪鉤夏脈居寸口，堪笑世人多不曉。脈若俱洪不帶鉤，鉤不應時血常走。可識洪鉤之為義矣。後人多以如握帶鉤釋之。夫操帶鉤，死脈也。自尺而上聚寸口，頭大尾空，按之頑梗而無起伏之勢也，以脈喻帶，以鉤喻寸口之死硬也，豈夏鈞之義耶？四脈惟夏鉤純以勢見，餘脈皆形勢並見。形，血也；勢，氣也。輕虛以滑，弦之勢也；端直以長，弦之形也。輕虛以浮，毛之形也；來急去散，毛之勢也。石，沉而搏。沉，形；搏，勢也。鉤則但曰來盛去衰，以勢為形也。後人概泥形而遺勢。故言弦者，疑輕虛以滑之不真也；言毛者，惡來急去散之不切也；言石者，議搏之太甚也。至於鉤，亦以形概之，窒而難通，不得不以握鉤含糊釋之。無怪口中筆下，囁嚅不清矣。</p>

<h3>表裡脈一</h3>
<p>論《難經》浮為在表，沉為在裡，數為在腑，遲為在臟。</p>
<p>《難經》曰：浮為在表，沉為在裡，數為在腑，遲為在臟。四者非主病之正脈也，乃表裡臟腑之主脈也。故表病診得表脈，其脈必於浮分見之，乃真在表而無疑矣；若不浮而沉，猶宜再審，恐其兼里也。里病診得里脈，其脈必於沉分見之，乃真在裡而無疑矣；若不沉而浮，猶宜再審，恐其兼表也。腑病診得腑脈，必於數中見之，乃真在腑而無疑也；臟病診得臟脈，必於遲中見之，乃真在臟而無疑也。腑病兼遲，必兼在臟可知也；臟脈兼數，必兼在腑可知也。是故浮沉遲數者，以定病之在表、在裡、在腑、在臟也，非以主表裡臟腑之病也。病固自有主脈也，病無定情，脈無單見，故亦有表病脈沉，里病脈浮，臟病脈數，腑病脈遲者，究竟亦必有其病不專在表、在裡、在腑、在臟也。後人讀書，死於句下，以為不問主病何脈，但以浮、沉、遲、數決臟腑表裡之病，無怪異議蜂起也。抑吾更有說焉。《脈經》引扁鵲曰：脈一出一入為平。再出一入為少陰，三出一入為太陰，四出一入為厥陰。再入一出為少陽，三入一出為陽明，四入一出為太陽。出者為陽，入者為陰。夫出入者，來去也。一二三四者，遠近也，遲數也。是故脈雖沉，而其勢極欲浮而不得浮，是即邪據於表也。脈雖浮，而其勢如不欲浮，是即正衰於內也。數則四出一入，是脈來之時多，而停於內者其時少，是氣聚於陽也。遲則四入一出，是脈來之時少，而停於內者其時多，是氣鬱於陰也。聚於陽，故在腑也；鬱於陰，故在臟也。此《難經》據其實者言之也。聚於陽，則陰不內斂，故為陰病也；鬱於陰，則陽不外振，故為陽病也。此扁鵲據其虛者言之也。故張景岳謂：外感初起，脈多沉緊而數。殊不知其緊數即是浮也。久病虛羸，脈多浮而濡弱，殊不知其濡弱即是沉也。古人立言，只擇其至正至廣者立之規矩，至於變化，在臨診自求而已。若但如《素問》所謂脈太過病在外，豈無表虛腑虛耶？但謂脈不及病在中，豈無裡實臟實耶？故浮沉遲數四者，絕不涉病脈，而但各從其氣之本體以立之綱，使臨診者，各以其所見之脈合之，而無不合也。此古人之精到不可及也。夫不求闡明古人言中之意，而務為攻擊，以為讀書得間，此經生浮誇之習也。操司命之權者，亦出於此也，而豈可哉！而豈可哉！</p>

<h3>表裡脈二</h3>
<p>（論太過不及，人迎氣口。）</p>
<p>「脈要精微」以脈強太過病在外，脈弱不及病在中。此「在」字當作「生」字解，謂病生於外邪，病生於內虛也。故曰：病在中，脈實堅；病在外，脈不實堅者，難治。表，言外感；里，言內傷。此表裡之一說也。《脈經》曰：沉而弦急者，病在中；浮而洪大者，病在外；脈實者，病在中；脈虛者，病在外。此病字統指外邪，謂外邪內侵則脈沉實，邪淺未深則按之猶虛也。故又曰：病在中，脈虛；病在外，脈澀堅者，難治。前以脈形之強弱言，此以脈位之浮沉言也。此表裡之又一說也。《靈樞·經脈篇》：陰經盛，則氣口大於人迎；陽經盛，則人迎大於氣口。所謂寸口主中，人迎主外也。汪石山曰：左脈不和，為病在表，為陽，主四肢；右脈不和，為病在裡，為陰，主腹臟。此表裡之一說也。王好古曰：傷寒以左為表，右為里；雜病以右為表，左為里。《慎柔五書》曰：嘗觀脾胃不足及久病之人，未有不左脈大過於右者。正東垣左脈克右脈之說，理勢使然。況脾土一虛，肺金益衰，水涸木枯，枯木生火，焉得左脈不大於右。此表裡之又一說也。其如是不同者，何也？蓋病有外感，有內傷，有氣分，有血分；病機有內向，有外向，有上行，有下行。如表病侵里，邪內陷則脈沉實；里病連表，邪湧盛則脈浮洪。氣口主中者，內之邪氣盛則氣口大，陰氣衰則氣口小。人迎主外者，外之邪氣盛則人迎大，陽氣衰則人迎小。又如陽盛者，有陰虛，有陰不虛；陰盛者，有陽虛，有陽不虛。變化萬端，未可概論。惟《靈樞》曰：陽病而陽脈小者為逆，陰病而陰脈大者為逆。二語最為周密，以脈測病，更以病證脈，斯推之而無不合矣。</p>

<h3>表裡脈三</h3>
<p>（論尺寸為表，關為里，並論病之表裡。）</p>
<p>有脈之表裡，有病之表裡。脈之表裡，如上二篇是也。病之表裡，陰陽臟腑是也。然《脈經》曰：脈有表無里，邪之所止，得鬼病也。何謂有表無里？尺寸為表，關為里，兩頭有脈，關中絕不至也。寸脈下不至關，為陽絕；尺脈上不至關，為陰絕，死不治。又曰：審切寸口之脈，知絕不絕，前後去為絕。前後去者，上下分絕也。此皆以尺寸為表，關為里也。病之表裡，亦有異者。《內經》曰：在內者，五臟為陰，六腑為陽；在外者，筋骨為陰，肌肉為陽。吾謂外感之六淫，在經絡為表，在臟腑為里；內傷之五味，在腸胃為表，在肌肉筋骨為里，謂敗氣敗血流於骨節筋會者也。劉河間謂：身表為遠，里為近是也。總以初傷者為表，輾轉漸入者為里而已。而脈以尺寸為表，關為里，其義難曉，不敢強解。豈以脾胃中焦為上下之樞，故為里耶？又有出為表，入為里，此即《難經》所謂呼者隨陽出，吸者隨陰入也。</p>

<h3>表裡脈四</h3>
<p>（申論左右表裡）</p>
<p>王海藏曰：傷寒以左脈為表，右為里；雜病以右脈為表，左為里。予初診不盡驗，心以為此特一法耳，固不可拘也。近二年來，深察病情脈象有可得而言者。凡外感風寒濕之邪，深者皆系左脈沉細於右，淺者但兩手浮弦，或右關前浮弦而已。外感暑熱之邪，深者皆系左脈弱散於右，淺者但兩手浮滑，或右關前浮大而已。溫病之由於伏氣內發者，前人皆以右大於左為詞，謂邪從中道，胃氣鬱濁之故。以吾歷診春溫、冬溫、喉痧、疫疹諸症，凡右大於左，而左脈不甚細弱者，真陰未損，治之易愈；若左脈沉細而數，斷續不勻，真陰已竭，十難救一。是當以左小於右，定正氣之成敗，不當專以左大於右，定邪氣之微甚也。又診夏行秋令，時疫有所謂癟螺痧者，其證先見頭痛心嘈，四肢麻冷，螺紋陷下，或吐或瀉，旋即昏厥，重者即死，輕者醒後越一二日而死。醒後心中煩悶，其苦難言，而神識清明，額汗不止。其脈皆兩手沉細，短伏關後，而左手尤甚，此天行肅殺之氣，傷其心肝生陽之氣，亦由其人生陽之本虛也。又診水腫之人，陰邪極盛，亦莫不左脈沉小於右。此外一切大病久病，邪氣深入者，莫非左陷於右；元氣虧甚者，亦莫非左弱於右；其將愈也。則又右脈先盛，左脈後復，必待左脈復盛，乃為元根充固，其病可無慮反復矣。病氣輕淺，左脈決不受傷，惟癥瘕積聚，其病雖深，必隨其經絡之部位而見於脈，不能拘於此例也。由此觀之，左里右表者，百病之通診，傷寒豈能獨異耶？故吾以左脈察邪氣之淺深，即以左脈察元氣之虛實，其脈象須各因病而定，不得專以大小二字賅之。寒邪以細而急為甚，熱邪以薄而散為甚，陰虛以浮散而短為甚，陽虛以沉細而短為甚。其敗也，總歸於躁疾散斷，全無神力而已矣。海藏之劈分傷寒、雜病者，彼蓋以雜病為勞倦內傷也。由氣分漸傷入血分，血傷而左脈敗矣，故左為里也。寒為陰邪，先傷於陽，內傳胃實，而右脈大矣，故右為里也。殊不知陽明證，乃陽氣之內鬱而盛，有撐邪外出之機，不得謂之寒邪內陷。寒邪陷者，少陰厥陰之寒證是也，是仍當在左手矣，況左右又有未可板分者。大凡病之始生也，屬陽虛與寒盛者，左脈常沉小於右；屬陰虛與熱盛者，右脈常浮大於左。若沉小之極，而右脈亦陷，則胃陽絕矣。浮大之極，而左脈亦散，則腎陰絕矣。故喉痧之死脈，皆右關與左脈同其短數。癟螺痧之治脈，皆右關緩滑有力，左脈雖伏而不見散斷者也。左脈重尺，右脈重關。盛啟東以新病之死生，主乎右手之關脈；久病之死生，主乎左手之關尺。義正如此。此皆取其偏重者言之也。若夫邪氣之猝至，雖兩手脈伏，尚不為凶。病久邪雜，陰陽臟腑俱困者，但一部脈壞，即為不吉，是又在於圓機應變者。</p>

<h1>卷下</h1>

<h2>經義叢談</h2>

<h3>經脈續辨</h3>
<p>（凡講脈學，須先識脈為何物，故一再致辨而不憚繁？）</p>
<p>前著十二經動脈辨，詳矣，今更取《內經》及西醫之論以質之。夫脈之動者，不待言矣，其不動者，在《素問·三部九候論》曰：以左手足上去踝五寸按之，右手當踝而彈之，其應五寸以上，蠕蠕然者不病。其應疾，中手渾渾然者病，中手徐徐然者病，其應上不能至五寸，彈之不應者死。此言針刺時，彈其經脈而使之動，以觀其氣之至不至也，非動脈也。《難經·七十八難》曰：先以左手厭按所針榮俞之處，彈而努之，爪而下之。其氣之來，如動脈之狀。即此義也。曰如動脈，則其脈之本不動可知也。「離合真邪論」曰：邪之去絡入經也，客於血脈之中。經之動脈其至也，亦時隴起。是明明有動脈、血脈之分矣。《靈樞·經脈》曰：脈之卒然動者，皆邪氣居之，留於本末。不動則熱，不堅則陷且空，不與眾同。曰：卒然動，則非常動可知也。「經脈別論」曰：食入於胃，濁氣歸心，淫精於脈，脈氣流經，經氣歸於肺，肺朝百脈。如是，則經與脈之為二物也，不曉然乎？或曰：西醫之論脈也，人身止有血脈，而無氣之專脈，百脈皆由肺以聚於心，由心以達於四肢百骸。脈之動者，心動也。動則氣推血行，愈行愈遠。遠則炭氣盛，而血質漸壞矣，於是由回血管，復返於肺，以達於心。回血管者，即藍色隱隱於皮膚之下者也。血既聚於心，由肺呼吸，以吐炭氣而納養氣，於是血之質復精，而復外達於四肢百骸。如是環周不已，皆氣行血中，非血自血，氣自氣也。人死，解而視之，有無血之管者，非本無血也，氣盡，故血亦因之而盡也。是說也，吾未信之。夫人死氣盡，血不推行，當壅脈中，何得血亦盡乎？蓋氣管本有細竅與血道通，所謂微絲管也。氣在管中，充塞滿溢，血不得滲入，氣盡而血遂滲入矣。故死後，氣管中有有血者，有無血者。且西醫有曰吸液管者，吸攝食物之精液，以達於周身，與脈同路，其中無血，千支百派，散布大小腸夾膜之間，食後少頃，內有精液，始見如白絲，一切吸管，附近小腸，會合為一，名曰吸液總管。附脊骨上行，至頸骨第七節，即屈轉而下，併入回血會管，達於心。此即王勳臣所謂衛總管者也。非氣管而何？是故經者血脈也，脈者氣脈也。血脈者不動，而氣脈動者也。專就動脈之中分辨氣血，則其形屬血，其動屬氣，統合人身之脈分辨氣血，則確有注氣之脈、注血之脈而不紊者也。</p>
<p>《全體闡微》曰：脈管回管之外，更有一類，曰吸管，以其能吸攝津液也，全體皆有，分淺深二類。深者與脈管同路，淺者與回管同路。總吸管由第二腰骨右旁小腸處起，有眾吸管來會，上行至總脈後，血總管也。展大如囊，中藏養汁；再上行，由膈總脈孔入胸膛，在肺中後峽間，在總脈上，總回管中，至第四背骨，岐分左右二總管，左者向背骨左，又上行食管左，至第四頸骨彎回而下，由左頸內回管，左鎖柱骨下，回管合處透入腋下，上下大，中小，有時中處分為二，復合一，門扇甚多，此左總吸管也。除頭右、心右、胸膛右、肺右、頸右及手肝等處，右吸管不入，其左諸吸管，莫不會入於此。其右總吸管，則接右諸吸管，至右鎖柱骨回管會入。其左諸吸管，亦不入也。周身吸管，中藏明汁，稀而咸，有味，無色，或微黃。由總吸管分數大吸管，更分無數小吸管，以至微絲管，分散如網，無微不至。或彼此復，相併為大管，無論大小淺深，統會總吸管，入首臂回管止，以達於心也。</p>
<p>案：西書之意，謂總吸管由小腸發原，貼近脊骨，五臟六腑皆有細管來會，上行，由左右鎖柱骨下透腋，分行兩臂，周身無微不到。其出也，與脈管同路；其回也，與回管同路。氣管、血管並行之說，不更信而有徵耶？西醫必謂動者血管，而吸管不動也，果何徵耶？蓋嘗思之，吸液管之微絲管，必通於血管之微絲管，藉氣之鼓激，送津液由微絲入血管，以滑利血之運行也。西醫謂小兒疳疾、婦人乾血勞，皆吸液管病，是氣亢津耗，不能透入血管也。二者脈象，皆見細數，吸管幹澀，事理皎然。西醫徒恃顯微鏡窺測，以赤者為血管，白者為液管，皆是據形言之。氣之無形，遂不知之矣。又按：液管貼近脊骨，血管貼近液管，考之《內經》，是液管即督脈，血管即衝脈矣，回血總管當配任脈，所謂任脈通，太衝脈盛，月事以時下是也。氣之發也，周身液管同時俱動，其回管則力衰不能動矣。《靈樞》曰：氣之離臟也，卒然如弓弩之發，上於魚以反衰，其餘氣衰散以逆上，故其行微。即此義也。</p>

<h3>榮行脈中、衛行脈外分診法</h3>
<p>（附再辨動脈非血脈，附辨吐血）</p>
<p>前著氣分血分，直言論氣血分診法悉矣，然皆在脈中者也。若所謂榮行脈中，衛行脈外者，又將何以診之？《靈樞·經脈篇》曰：經脈者，常不可見其虛實也。以氣口知之，此即所以診榮也。又曰：循其本末，察其寒溫，此即所以診衛也。人身之氣，濕熱而已，榮主濕，衛主熱，衛衰則身寒，故可據皮膚之寒溫，候衛氣之虛實也。本末者，尺膚上下也。《素問·通評虛實論》曰：經絡皆實，是寸脈急而尺緩也。絡氣不足，經氣有餘者，脈口熱而尺寒也。經虛絡滿者，尺熱滿脈口寒澀也。夫經實而脈急者，脈有管以束之，氣實於中，則脈繃急而挺起矣。絡實而尺緩者，絡散於肌膚者也，氣實於中，則尺膚豐盛而膹起矣。絡不足而尺寒者，衛不足以溫之也，且寒有蕭索之意，是消而著也。經有餘而脈熱者，非經中真氣有餘，乃脈外衛氣侵入，且熱有盛滿之意，是大而強也。《脈經》亦曰：衛氣先行皮膚，先充絡脈，絡脈先盛，故衛氣已平，營氣乃滿，經脈乃大盛。由此觀之，絡氣屬衛，經氣屬營，不皎然乎。「論疾診尺篇」曰：脈緩，尺之皮膚亦緩；脈急，尺之皮膚亦急；脈滑，尺之皮膚亦滑；脈澀，尺之皮膚亦澀；脈小，尺之皮膚亦減而少氣；脈大，尺之皮膚亦盛而膹起。此所謂榮衛相應者也，劉若金《本草述》黃耆條下亦云：分肉腠理之間，可以徵元氣之充與否。若分肉腠理，一有不充，即是膻中之氣化不足。由此觀之，切脈口以候榮，按尺膚以候衛，又何疑乎？大抵榮衛相隨，不宜偏勝。嘗憶先哲有言，脈貴有根，尤貴有神，即如五臟絕脈，惟肺如風吹毛，空而無根，其他臟絕脈，沉候與尺部皆按之鼓指，分外堅搏，如彈石，如循刀刃，如雀啄，如操帶鉤，皆無神而似有根者也。其有根而死者，何也？蓋木根深入地中而死者，不得氣故也。凡木根雖下垂，而根上旁須四面旋繞，得四方之土氣，氣盛方能旁見側出，枝葉四布。人之脈，隱於肌肉之內，不但下至尺，深至筋骨，亦必按之中間與肌肉相連一片，如是，則氣血交紐，榮衛未離，謂之有氣。有氣便是有根。嘗見陰虧之輩，以及年高之人，其脈若獨然一條扛起，似與肌肉不相連絡，陰與陽分，是無氣也。此段議論，明白曉暢，發前人所未發，而榮衛之診益皎然矣。老人皮著肉消，而脈獨挺亙指下，與將死者脈如湯沸，勢欲湧出皮膚之上，是非脈中之氣盛也，乃脈中之氣衰，而衛氣陷之，脈中之氣絕，而衛氣亂之也。前人只言脈與肌肉太無分別，謂之散脈，而不知脈與肌肉太有分別，又謂之絕脈。以有偏絕，故有偏勝也。是故常人之身，脈中脈外之氣，升降遲速，兩相應者也。一有不應，榮衛乖離，而寒熱往來之證作矣。古人所以診脈，必兼診尺者，正以調其榮衛也。仲景高章卑惵，以脈之浮主衛，沉主榮，脈之來主衛，去主榮，是陽升陰降，陽噓陰吸之義也。故專就動脈以分榮衛，則脈體之浮沉、呼吸形勢可分驗之。分脈中、脈外，以驗榮衛，則脈體之緩急，與尺膚之緩急，可合驗之。合驗於脈中，則分驗其浮沉、呼吸形勢也；分驗於脈外，則合驗其形體之緩急也。</p>
<p>榮衛雖相應，而不可相干。若宗氣者，榮衛之所合也，外主呼吸，內主動脈。是動脈，本夾雜悍氣在內，故能一動而周身悉應也。若在血管，則滯於有形，其應不能如是之神矣。（液亦極膩，但液管中虛，不似血管之滿實也。）苟或悍氣竄入血管，迫血妄行，血駛而無隙可泄，則為狂、為厥矣；有隙得泄，則為湧血、泄血，傾碗傾盆矣。狂者，血奔於大經之中，外行周身，而不得寧息者也。厥者，血迫於大經之中，內觸臟腑，而氣機乍窒者也。血上行，而遇隙則湧血；血下行，而遇隙則泄血。《內經》曰：衛氣慓悍滑疾，見開而出，即此義也。又曰：有病怒狂者，此名陽厥。何以知之？陽明者常動，巨陽、少陽不動，不動而動，大疾。此其候也。觀此則血脈斷不可動，而動脈之決不能有血也。審矣，陽明常動者，是陽明之氣脈見於俠喉兩旁也。巨少氣脈過頸者，不見於外，故不得動，非巨少無動脈也；其動大疾，是亂氣竄人巨少之血脈故也。</p>
<p>葉天士於吐血暴證，急泄肺氣，即泄衛之意也。近日盲醫惑於陳修園邪說，謬托法古，重用薑桂，自矜卓識，而人已死矣。血證可任薑桂者，乃咳嗽帶血，其血如絲如縷，因於下寒，血不歸經，《素問》所謂脈急則血泄者也。暴血湧出，脈多洪弦滑數，挺亙如索。嗽血，脈多弦澀沉遲寒緊之象也。久嗽，火亢陰虧，脈變細數，即不可治。此榮氣自病，非衛氣之來干也。</p>

<h3>奇經八脈體用病機治法</h3>
<p>夫沖、任、督三脈，為氣血之海，氣血先儲於此，乃分注十二經也。帶脈與二蹺、二維，則縱橫表裡於十二經之間，以受十二經之滿溢者也。《難經》謂八脈者，不拘於經也。譬之聖人圖設溝渠，通利水道，以備不虞。天雨降下，溝渠滿溢霶霈妄行，此時聖人不能復圖也。此絡脈滿溢，諸經不能復拘也。故奇經八脈者，十二經儲蓄之淵海，即十二經旋轉之樞機，十二經充滿壅實，得奇經以為之地，其氣機始得旋轉而通靈也。又謂沖督用事，則十二經不復朝於寸口。奇經者，異常之大脈，沖督又奇經之最大也，二脈壅實，是周身氣機窒而不轉矣。前人謂痙病，其脈直上下，即督脈壅窒之病也。十二經仰給於沖督，沖督空虛，十二經無所稟矣。是故十二經實，猶有奇經以融之，至奇經亦實，而周身氣機皆窒矣，故為痙、厥、癲癇也；十二經虛，猶有奇經以濟之，至奇經亦虛，而氣血本原全匱矣，故為虛損勞極，不治也。此奇經八脈之體用也。</p>
<p>奇經八脈病候，歷詳《內經》、《難經》、《脈經》悉矣。張潔古《藥注難經》，其於奇經治法，仍不外正經治法，今其書不存，而八脈之性情可測也。是故督脈行身之後，其性情在太陽、少陰之間，太陽行氣，少陰藏精，而督脈統領精氣者也。任脈行身之前，其性情在太陰、陽明之間，二脈主血，而任亦主血海者也。陽蹺、陰蹺行身之側，與少陽、厥陰同性，二脈主筋，二蹺亦主筋，故病緩急也。陽維主皮膚之氣，行身之表；陰維主脂膜之氣，行身之裡，故病寒熱內痛也。衝脈主三焦直行之氣，病則或上逆，或下陷也。帶脈主中焦橫行之氣，病則或濕熱流於肝經，或濕寒流於腎府也，昔賢謂帶脈主脾是矣。督脈為開，任脈為闔，二蹺為樞。觀《內經》論夜不能寐，陽不入陰必歸於二蹺，可知也。衝脈為開，帶脈為闔，二維為樞，此則經無明文，以意逆而得之。故氣寒傷督，血少傷任，鬱結傷沖，弛緩傷帶，而陰陽不和，開闔不利，上下不暢，表裡不通，則二蹺、二維傷矣。此奇經八脈之病機也。</p>
<p>督之治，多用鹿茸、附子、羌活、藁本，以通陽也。任之治，多用龜板、阿膠、熟地、枸杞，以養陰也。二蹺之治，從柴胡例，通表裡也。二維之治，從桂枝例，和營衛也。帶之治，健脾而兼強肝也。沖之治，獨有妙者。仲景治奔豚沖氣不用白朮，舊解謂其固氣，其說已未甚明晰。而所以必取桂枝、細辛者，舊解謂其和肝散水，殊不知氣有升降，有出入，橫絡出入不暢，而氣始直升矣。桂枝、細辛以通橫絡也，是即三焦、膀胱應於腠理、毫毛之義也。前人謂奇經諸病，屬於氣鬱、蓄熱之有餘者易治，惟針砭為最捷。屬於氣虛血損之不足者難治，雖龜、鹿而無功。大凡損及奇經，其填補須用加倍法，非有他訣，即治實邪亦然。《難經》曰：其受邪畜熱，砭射之。仲景曰：太陽病，服桂枝湯，反煩不解者，先刺風池、風府，卻與桂枝湯則愈。張石頑《傷寒纘論》引內編曰：服桂枝湯不解而煩，本方加羌、辛、藁本，通其督脈則愈。即刺風池、風府之意也。此所謂加倍治法也，此奇經八脈之治法也。</p>

<h3>脈有分看合看法</h3>
<p>所謂合看者，如脈浮而緊，即合為弦；脈弦而大，即合為革是也。所謂分看者，如弦脈有浮有緊，革脈有弦有大是也。由是浮主何證，緊主何證，即可知浮緊合之當主何證矣。弦主何證，如弦則為減，減則為寒也。大主何證，如大則為芤，芤則為虛也。即可知弦大合之當主何證矣。此入門之最捷法也。即如仲景脈浮而大，浮為氣實，大為血虛。脈濡而緊，濡則衛氣微，緊則榮中寒。是古人看脈決病，亦不離此法。</p>

<h3>脈有三部九候合參法</h3>
<p>三部九候者，診脈之定位也。故《素問》曰：知內者，按而紀之。謂輕重舉按，以審浮中沉之變象也。知外者，終而始之。謂上下循捫，以審寸關尺之變象也。常法：左手三部配心肝腎，右手三部配肺脾命，而各系以所相表裡之腑。《難經》又不分左右，不分三部，只以菽數之輕重，分主五臟。此法今世罕用。獨余自臨診以來，每遇疑難莫決之脈，即以二法互參，而其真立見。如三菽之重者，肺脈也，其象與右寸同，即肺病矣。六菽之重者，心脈也，其象與左寸同，即心病矣。看其何脈，而決其何病也。又如九菽之重者，脾脈也，其象與兩尺同，是水土同病矣。十二菽之重者，肝脈也，其象與左寸同，是木火同病矣。亦看其何脈，而決其何病也。且病之來蹤去跡，指下猝難辨別者，一經審度及此，亦往往豁然自明。故知古人之定三部九候也，非三部自三部，九候自九候也。學者苟能悟透此理，則胸中開朗，萬法莫不六通四闢矣，豈第一診脈而已哉？又有兩手同診，以審遲速大小之相應不相應者。凡遇急病危病，覺兩手脈來有異，即宜此法。此又兩手六部之合參也。又凡初學診脈察病者，先以兩手六部十八候，分作十八等脈，再看何部脈同，何候脈異，以推其中之生克順逆，而患者一身邪正，全局具在胸中矣。如此久久用熟，自然下指便見，無煩推測之勞，若起手不知剖析，只管鶻突恐終身無見真之日也。</p>

<h3>讀醫須先識各經主脈主證</h3>
<p>嘗謂學醫者讀經論，須是先將五臟六腑、十二經、內因、外因、不內外因，以及五臟相乘、六腑相乘各專證，一一類聚而詳記之。讀脈書，須是先將五臟六腑、十二經、內因、外因、不內外因，以及五臟相乘、六腑相乘各主脈，一一類聚而詳記之，則胸中有主，臨診可以不惑矣，斯為捷法。凡證之變有萬，無非各專證之所互乘也；脈之變亦有萬，無非各主脈之所互乘也。今讀《此事難知》，述東垣所論脈證大義，正與此合。因錄於下，以備省覽。</p>
<p>脈之相合，各有虛實，不可作一體視之。假令洪弦相合，洪客也，弦主也，子能令母實也；弦洪相合，弦客也，洪主也，母能令子虛也。餘臟可以類推。至於手足之經亦相合，假令傷寒脈浮緊而帶洪者，即手經病也。余仿此。假令侮所不勝者，挾其勢也，脈弦而入金之分，非挾火之勢，則不敢以侵金之分。</p>
<p>治病無問傷寒、畜血、結胸、發黃等病諸證，並一切雜證，各當於六經中求之。謂如發黃證，或頭痛、腰脊強、惡寒，即有太陽證也。或身熱、目疼、鼻乾、不得臥，即有陽明證也。其餘諸經仿此。更有六經相流入者。如手陽明流入足陽明，是上流下也。本非足經病，當於手經中求之，是知治足經者非也。亦有下而流上者，更有支別流入者，有同鄰為病者。鄰者，表裡相絡者是也。（更有氣類相感者，病在此經，本未傳入彼經，而氣息株連，致彼經亦不可得安。如素胃寒者，偶爾感冒，即口淡不思食也。葉天士亦謂病溫熱者，若腎水素虧，雖熱邪未入下焦，每多先自仿惶矣。）有夫婦各相傳者，即甲傳己，脾傳腎之類。假令腹痛，桂枝加芍藥、大黃，何為不直用芍藥、大黃，卻於桂枝湯內加之？大抵治病必求其本，此腹痛知從太陽中來，故以太陽為本也。（必太陽證仍在也。）</p>
<p>觀於東垣論脈與證治，則當先明主脈、主證、主治也，審矣。《內經》曰：先病為本，後病為標。有客氣，有同氣，謹察間甚以意調之。間者並行，甚者獨行。客氣者，謂既有先病，復感新邪而生後病。先者為主，後者為客也。同氣者，謂久病變證，一氣輾轉滋蔓也。並行者，謂病勢緩，則用多味，標本並治。獨行者，謂本急獨治本，標急獨治標，不得多味，勢分力緩也。如是者，設非明於各經主脈主證，則證變雜沓紛紜。何以見其為客氣，為同氣？孰當並行，孰當獨行耶？</p>

<h3>汗脈</h3>
<p>（正欲出汗，汗出不徹，發汗後脈證，皆引經文而申釋之。）</p>
<p>「論疾診尺」曰：脈盛而滑者，汗且出也。此即陽動則汗出之義。鬱氣盛發，鼓激津液外出，使榮衛和而邪去，是正汗法也。其初病，脈必沉緊；又有初脈浮緊，服藥後，兩手脈乍伏者；有沉不至伏，指下盛滑，頻見止歇者，此欲得戰汗也。若此者，有因陰虛乍復，有因陽虛乍充，是陰陽相交之機也。有因寒濕痰水將化，有因畜血將通，有因積食燥屎將下，是邪正相搏之機也。仲景謂：病六七日，三部脈皆至，其人大煩，口噤躁擾者，為欲解。此戰汗形證也。曰脈皆至，是汗正出之時，其脈仍歸於盛滑也。《傷寒論》曰：若汗之不徹，其人煩躁短氣，身上腹中不知痛處，宜更發汗則愈。葛根湯主之。以脈澀故也。王漢皋曰：發汗後，其脈輕診弱，重診強，是仍有未出之汗，雖止之而不能止也。夫同一汗出不徹也，而脈一澀一強者，一則陽氣能鼓汗自續出，《內經》所謂脈滑者，陰有餘，為多汗也；一則陽不能鼓，營氣不盛，必待用藥再發也。《溫熱論》曰：汗後，但診其脈虛軟和緩，雖倦臥不語，汗出膚冷，卻非脫證；若脈急疾，躁擾不臥，膚冷汗出，便為氣脫矣。大抵虛人病，鬚髮汗者，全恃汗前預安其根，使汗後脈平形靜，呼吸停勻。若汗出不止，或汗與大便並行，氣喘不續，脈大不斂者，獨參湯或生脈散、入參附救之。</p>

<h3>亡陰亡陽脈證辨</h3>
<p>徐靈胎曰：亡陰亡陽，相似而實不同。一則脈微，汗出如膏，手足厥逆，而舌潤；一則脈洪，汗熱不黏，手足溫，而舌乾。但亡陰不止，陽從汗出，元氣散脫，即為亡陽矣。然當亡陰之時，陽氣方熾，不可即用陽藥，宜收斂陽氣，不可不知也。亡陰之藥宜涼，亡陽之藥宜熱，一或相反，無不立斃。標本先後之間，辨在毫髮，舉世更無知者，故動輒相反也。此論可謂切矣，然有不得不辨者。《內經》曰：陽氣者，衛外而已固也。又曰：陰在內，陽之守也。陽脫者，必陰不能守，而後陽無所戀；陰脫者，必陽不能固，而後陰無所藏；二者存與俱存，亡與俱亡者也。故「辨脈」曰：脈浮而洪，汗出如油，喘而不休，形體不仁，此命絕也，是陰陽一時並脫之絕證也。若驟因發汗太過，腠理開泄，必陽先亡而陰隨之。未有陰在內，而轉先亡者也。徐氏以脈洪、肢溫為亡陰，謂其所見皆陽證也，殊不知陽氣外越即是亡陽；以脈微、汗冷為亡陽，謂其所見皆陰證也，殊不知陰液外泄即是亡陰。況且亡陰亡陽，以氣液分，不專以寒熱判，即如過汗亡陽，過下亡陰，亦不過各言所重。故凡先患寒下之證，陰凝於內，陽越於外，外熱裡寒，面赤足冷，如白通、四逆證，此過下而反宜用熱者也。大熱內結，氣血沸騰，喘汗大作，津液妄泄，如人參、白虎、承氣證，此過汗而反宜用涼者也。蓋嘗綜而論之：以證則四肢厥逆即亡陽也；繼見煩躁不得眠，是陰燥而陰又亡矣；身大熱而無汗，或汗不止，《內經》謂為陽脈之極，即亡陰也；大汗不止，而身熱，漸見厥逆，是陽絕而陽又亡矣。（先亡陰而後亡陽，溫熱病有之。）以脈則脈浮而洪，陽欲亡也；脈微如絕，陽已亡也。脈洪而按之無根，陰欲亡也；脈微而來如雀啄，陰已亡也。大抵先亡陽者，亡其陽之半，撤去陰之藩籬，然後陰亡，而陽即與之俱盡矣。先亡陰者，亡其陰之半，擾動陽之根株，然後陽亡，而陰即與之俱盡矣。其可及施治者，皆先亡其半之時也，其後陰陽同時並離，無從措手，而其證亦難剖析必陰必陽矣。（有經絡之陰陽，有臟腑之陰陽，先亡其半者，是經絡之陰陽也。）</p>
<p>亡陽藥用熱，是以熱為主，亡陰藥用涼，是以涼為主，非純熱純涼也。仲景於白通、四逆證，皆有加膽汁、人尿例，舊解謂慮其格拒，故熱因寒用也。殊不知此時真氣已微極矣，尚有何力能格拒耶？只因亡陽者陰必搖，若用純熱以回陽，則陰又被灼，而陽更無根矣。觀其云脈微續者生，暴出者死，不敢用純陽之劑，正預慮及此耳。亡陰之治，不可專用純涼，亦猶是矣。復脈救逆，皆其類也。（復脈救逆，是治傷陰，與亡陰尚隔一層。如汗後遂漏與惡寒者，桂枝附子湯主之，是亦傷陽之治也。）</p>

<h3>外感夾內傷脈辨</h3>
<p>陶節庵曰：外感夾內傷者甚多。有因勞力辛苦，內傷血氣，又兼外感寒邪，此為勞力傷寒。其脈必左手緊盛，右手雖數大而無力。其證必有骨髓痠疼、脅痛、微汗、頭疼、微渴、倦怠懶言，必以溫補兼發散藥中求之。有下證者，宜緩下之。（宜於下藥中佐以補氣生津。）有痰挾外感者，左寸緊盛，右關洪滑，或寸脈沉伏，其證兼有喘嗽、頭疼、骨節疼，即是夾痰傷寒。必以痰藥兼發散藥中求之，後以消痰降火之劑收功。（熱痰必煩躁譫語，治宜清火。寒飲必脅痛嗆咳，治宜溫中。）有食鬱夾外感者，其脈左右俱緊盛有力，其證必噫氣有酸，惡聞食臭，或胃口作痛，心下痞滿，噁心，或欲吐不吐。必以解表藥為先，後以消食繼之。（王叔和曰：食痹者，食物即痛也。傷熱物則能食。東垣亦有冷熱之辨，甚詳。）若兼見脅痛脹滿、體痛、氣鬱不舒、時自太息，左脈緊盛、右脈沉者，則知是夾氣傷寒也。兼見心胸脅痛、小腹有痛處不移、煩渴、小便自利，則知是血鬱內傷外感也。又有夾陰傷寒，脈沉、足冷、面赤、身熱或躁，此冷極於內，逼其浮陽上升也。與陰虛戴陽又不同，急用麻黃附辛湯溫散裡寒。醫者多不能識，誤死甚眾。有夾陰中寒，脈沉、足冷、面青、小腹絞痛，急以吳萸四逆湯溫之。有直中三陰傷寒，初起無頭疼身熱，口不渴，反惡寒，肢冷躇臥，或兼腹痛吐瀉，或戰慄，面如刀刮，或吐涎沫，輕則理中湯，重則即是中寒，四逆湯溫之。此陶氏條列，傷寒內虛之脈證悉矣。以予所診，外感雜病挾虛者甚多。所謂虛者，陰虛者也。今將脈象分別處，略具於下，以備遺忘。</p>
<p>凡風寒濕寒從上從表受者，其脈之浮分，必有一層皮殼，指下微硬，兩傍有邊成線，起伏不大，應指微有力；略按則皮殼不見矣，其脈即漸窄，反不及上面之寬矣，卻又兩傍無邊，散漫不能成線；再重按則不見脈矣。此外感寒輕，而內虛無邪者也。</p>
<p>若外感寒重者，即為傷寒。已略見前陶氏所論中，茲不復贅。但其脈浮分，皮殼甚厚，邊線甚勁，按之不能即斷耳。所謂浮分者，以指面初到脈上為準。凡寒重者，浮分多不見脈，故不可泥。</p>
<p>凡風寒濕寒從下受者，其脈之浮分，不見皮殼，或有邊，或無邊，應指無力，約略中線稍硬；略按則中線在指下漸勁，起伏不大，而脈形窄矣；再重按，則僅留中線如絲，指下梗梗，無起伏也。此下感於寒，而內虛無邪者也。所謂無邪者，無夾痰、夾食、夾宿疾、癥瘕、疝痛等病也。有之，則必見甚滑、甚弦、甚澀、甚細，與新病與本體不相應之脈。痰食為新邪，多見於中候；癥疝為痼疾，多見於沉候。見於浮分，與外感之寒合，其皮殼必更厚；見於沉分，與下受之寒合，其線必更勁。</p>
<p>凡久受風寒濕寒，漸漬筋骨之中，年深歲久，但覺遍身痠軟，骨節不便，漸漸內侵臟絡，時作嗆咳，胃陽被抑，漸成痰飲，口淡食少，四肢胕腫，日久脅痛、背痛、胃脘痛、肩胛、髀腨盡痛，時發寒熱，頗似外感，不禁風寒，不任勞苦，呼吸短氣，大便溏泄，小便赤澀，面色痿黃，神識昏迷，直與勞損相同。若加感新寒，便作咳嗽喘促。醫不知其寒濕深入骨髓，而仍用清肺，撲滅微陽，遂致哮逼不舒，下利不止而死矣。此病浸潤漸漬，非一朝夕之故。寒濕深入骨髓，其脈必細而勁，不能浮，不能沉，此寒痹、濕痹之痼疾也。治法惟用極溫散之峻藥，略佐溫補，緩服長服，使藥力搜入筋膜骨髓，則里證漸化為表證，邪可托出，而病愈矣。而近世病家，往往責效於湯劑數帖之間，醫家亦不能實抉其抵里，使病家深信，以成大功。可恨！</p>
<p>凡受風熱，則陰虛之人刻不可堪，如傷暑相似。自覺外而周身，內而三焦、五臟，皆開散而不能合，大氣無束，孔竅生煙，呼吸喘促，時時自汗。何者？陰虛則血液皆燥，不堪風熱之灼也。其脈芤而散，與暑脈亦近，治法卻不宜白虎，而宜葳蕤湯之類。</p>
<p>凡受濕熱，則陰虛之人必更四肢軟惰，胸膈痞悶，飲食不進，力咳痰稠，其脈轉見長緩，來去從容，亦能有力。乍診直是無病，而不知其人陰虛本脈，必是芤薄無力。今濕入而據其陰，斯芤薄變為緩軟矣；熱入而據其陽，斯無力變為有力矣；雖與平脈相近，而細審其來去往還之間，必有怠緩滯澀之意。又與常人陰分不虛者之傷風熱，其脈更有難辨者。大抵重按必有不同：常人傷風熱，其浮分鋪散，而沉分如常流利也。陰虛傷濕熱，其浮分當稍斂，而沉分必呆板不靈。熱勝於濕，更渾渾不清也。</p>

<h3>再論痹數之義</h3>
<p>郭元峰論虛數，拙著直解，補論痹數詳矣。今讀《傷寒》不可下篇二條，乃知氣結者脈多數，不獨痹也。愛錄其文而釋之曰：脈數者，久數不止，止則邪結，正氣不能復，正氣卻結於臟，故邪氣浮之與皮毛相得。脈數者不可下，下之則必煩，利不止。此謂脈數若真熱者，當久按而不止，今重按久之而漸衰，是非真內熱矣。止猶俗言有限，是數止見於浮也，因邪氣盤結，搏於肌表，正氣不得復其出入流行之常度，退避而內結於臟，故其脈之數，僅浮之與皮毛相得也。下之則傷在裡之正氣，而津傷氣陷矣，故煩而利不止也。又曰：脈濡而弱，弱反在關，濡反在巔，浮反在上，數反在下。浮為陽虛，數為亡血；浮為虛，數為熱；浮為虛，自汗出而惡寒；數為痛，振寒而慄。微弱在關，胸下為急，喘汗而不得呼吸，呼吸之中，痛在於脅，振寒相搏，形如瘧狀。醫反下之，故令脈數發熱，狂走見鬼，心下為痞，小便淋瀝，小腹甚硬，小便則尿血也。此謂單持，關前見濡，關後見弱，總按浮上見浮，沉下見數。夫浮與數，主病非一也。今浮為虛，其證自汗出而惡寒，是表氣不固也；數為痛，其證振寒而慄，是裡氣鬱積不暢，以致內痛而慄也。夫脈則微弱見於三關，內證則胸中為急，呼吸牽引脅痛；外證則寒熱如瘧。此陽氣不充，不能通行周身，而卻結於臟，其象顯然。醫者正當調其榮衛，如東垣補中益氣之意，乃反下之，津液愈傷，遂成胃虛之脈數，陽越之發熱，而變見氣脫血燥諸證矣。二條皆正氣內結，而一浮數，一沉數者，前條是表有邪而內不甚熱，其數乃邪氣不得出路，逼迫不安所致，所謂邪氣怫鬱在表也，治宜建中、桂枝之類；後條表無邪，乃衛氣衰微內陷，與內臟自起之微寒相搏也，確是補中益氣證。二者皆與痹數相發，其脈雖速，而來去必短，迫促不舒，故數或讀若促也。《金匱·水氣篇》數脈即止，義正如此。徐注謂衛氣止於下也，亦謂衛氣不能外鼓，由於寒氣內生，以致其脈來去逼迫，似有格拒，牴觸而止，不得前耳。</p>

<h3>數促音義並同</h3>
<p>自昔註釋脈書者，未嘗有數與促同之說。竊觀《內經》、仲景書中，此義多矣。促者，蹙也，迫也。促脈者，起伏不大，而其勢躁疾，《素問》所謂促上擊者是也。數之音索者，一息六至，與遲相反，音促，則其義即同促矣。書中音索者，多與大並言，與遲對言。音促者，多與動並言，與微對言。《素問》曰：數動一代者，病在陽之脈也。仲景曰：大浮數動滑，此名陽脈也；沉澀弱弦微，此名陰脈也。後人誤以數音索，而怪陰脈名中不列遲脈，亦未之思也。仲景曰：諸脈得數動微弱者，不可發汗。又曰：微數之脈，慎不可灸。又曰：傷寒咳逆上氣，脈數者死。謂其形損也。又曰：脈微而數，中風使然。又曰：百合病，其脈微數。以上諸文，試以促義解之，於事理不更順乎。且《金匱》曰：吸而微數，其病在中焦，實也。此非言脈也，而其義之為促，更皎然矣。孟子數罟不入洿池，讀作促，注謂密也。夫密者，以其相逼相擠而言之也。促之為脈，來去暴跳，迫促不舒，亦正有密之義。後世以促為數中一止，遂專於止中求促，而不知止者，促脈之偶然也，非促脈之本義也。（按古人促止之說，當即《金匱》數脈即止之義，非脈之自止，乃脈之躁疾暴跳。似有物以止之，而不得來高去深，如鳥之躑躇於樊籠，故詩日蹙蹙靡所騁。是否？他日遇高明質之。）</p>

<h3>再論散脈虛實</h3>
<p>上卷散脈條中，謂散有虛實。細讀《內經》、《脈經》散脈諸條，多主實證，則實散之義，不可不究也，試再論之。虛而散者，浮大而按之無根也，若如麻子，氣已絕矣；實而散者，其脈但兩邊滲開，與肌肉無界限，故嘗有浮候弦長，重按根腳鋪寬，不能圓斂者，此血虛內有蘊熱也。凡冬不藏精，伏溫感新邪而發病者，其脈莫不如此。又有肝腎血少內熱，元氣不能攝納，根本浮動，上氣喘促，脈來浮候軟弱，中沉散漫無邊，應指振撼如喘狀，是周身之氣皆喘動矣。《內經》所謂軟而散，喘而虛，皆是脈也。治宜得丹溪苦寒培生氣之意，若例用鹹溫甘熱，如腎氣丸之類，溫補下元，以冀攝納，是促其期矣。試思有氣血果寒，而脈形反能寬縱者乎？又有浮中渙散，重按卻見弦細者，此下有久寒，而脾肺氣鬱，化為燥熱也。治又宜溫下，佐以清上，斂肅浮陽，使之內合。又有浮沉俱不見脈，獨中候滿指俱動，一片模糊，稍按指下即斷如芤之伏，此肺腎之元氣皆虛，而中樞不運，升降不利，濁氣鬱於中焦者也。治又宜脾腎陰陽同補，建中納下並用是因虛而生實故也。凡風邪入中，皆令脈散。風善化熱化燥，故入肺則氣喘而脈散；入胃則嘔噦而脈散；入腸則飧泄下血而脈散，所謂腸風也；入肝腎則或少腹脹痛，或泄瀉癃秘，腰脊痠疼，此皆久風之化燥傷血者也。大抵虛散由於氣血之敗，實散由於氣血之燥。故其主病，為溫，為喘，為痿，為中暑，為癰疽瘡瘍癍疹。</p>
<p>上所論實散，皆指脈形寬泛者言之。更有脈體堅實，而指下斷續，不見條直之形，似有無數麻豆亂擊，卻又不得為死脈者。以其起伏分明，應指有力，此痰結胸中，大氣不能條暢者也。其主病，為咳，為痛，為隔噎，為痞滿，為驚悸怔忡，為魘寐，為多夢紛紜。前之散近於洪，而不數不盛；此之散近於動，而不滑不疾。</p>

<h3>脈弱非虛</h3>
<p>每見溫熱、傷寒、瘧疾，其人凝痰瘀血阻於經絡，宿食留飲塞於膻中，氣機不能流利，大氣不得旋轉，而抑鬱停結，脈來遲弱，應指無力，不知者以為邪實正虛，陽病陰脈，法在不治,　而其實非虛也。郁也，正氣抑而不得伸也，去其壅，則脈盛矣。且氣鬱之弱，與氣虛之弱，亦自不同。氣虛者，無論是沉是浮，其體必薄，其勢不甚內吸。氣鬱者，不見於浮，而見於中沉之分，其體按之不絕，而力能內吸，但為邪所阻，不得上挺耳。</p>
<p>前謂痰血食飲，是有形之邪也。亦有肝熱橫逆，胃濕薰蒸，肺氣失其清肅，不得下降，致令胸痹，難於布息者，此無形之邪也。其脈亦濡弱，且不甚內吸，而其勢總非頹然如不欲動者，甚或指下微見躁疾之意，此濕熱之病也。濕熱則筋絡縱弛，脈體本緩，而氣又鬱結，宜其弱也。故仲景曰：諸弱發熱，若寒而鬱者，脈必緊澀矣。</p>
<p>馬元儀《印機草》曰：三陽病，脈當浮大，而微弱不起者，以邪熱抑遏，不得外達，非陽衰脈微之比，待清其壅，則脈自起矣。此可謂通明之論矣。但不指明陽衰之弱與抑遏之弱所以不同之真象，將使後人何所據，而見其孰為壅，孰為衰耶？張石頑亦有治傷暑停食，六脈虛澀模糊，因胸硬舌刺，而決其內實者。至於邪去則正亦虛，而脈轉見弱，更為事理之宜，不足言矣。</p>

<h3>絃動細滑皆少陽脈</h3>
<p>少陽為樞，百病惟少陽一經脈證變幻最多。世謂少陽居半表半裡，此不必拘於部位言之也，當從半字上著想。所謂半者，以其雜也，凡病邪正相爭，虛實相錯，上下相間，內外相敵，寒熱相侵，陰陽相搏，氣血相亂，皆半之病也。凡脈兼見一陰一陽，一表一里，皆半之脈也。故人患六淫，二三日後邪氣稍內，陰陽戰矣，即屬吵陽。其脈多弦細滑數，見於中沉之分。若熱盛者，遂見動而大也。葉天士《溫熱論》曰：氣病有不傳血分，而邪留三焦，猶之傷寒之少陽病也。但數動與正傷寒不同，謂脈數而動，不似正少陽傷寒之弦細也，此可見少陽有動脈矣。夫絃動者，陰加於陽，細滑者，陽陷入陰，皆由膻中大氣不能上下表里流通之象也，即三焦之鬱而傷也。動者，其氣如有所制不得出，而又急欲出者也。史載之曰：人有兩脅下非時氣痛不安，如生積聚，此為肝涎與血相搏，其脈必洪大沉實而有骨力。凡肝熱生風而痛，脈當弦長，反洪大沉實者，此為涎伏之也。此絃動同胎之義也。車質中曰：滑之為脈，因其氣不得舒，故脈軋軋如珠。故凡內熱而寒伏之，則氣鬱勃於中，而脈見動矣。（上論絃動，下論細滑。）又有傷寒胸脅滿悶，飲食不下，口苦顱脹，寒熱時作，其脈細滑，見於中沉，指下趯趯來去不大。又有寒熱病後，津液未復，濁痰未降，胸膈不舒，每日仍略見潮熱，汗出口苦，其脈亦細滑。又有熱入血室，神昏譫語，或目閉不語，肢墮如屍，此包絡之津液，為熱所灼而燥結，神機不能清利也，其脈亦細滑。此皆三焦傷之類也。其所以細滑，不似動脈堅大者。動脈，三焦之郁，鬱於有形之濕熱；細滑，三焦之傷，傷於無形之燥，或病後之餘熱也。一津液壅而氣鼓之，一津液燥而氣陷之也，皆一陰一陽之兼脈也。夫陽虛而三焦之氣不行者，其脈弦。陽盛而陰氣制之，以致三焦之氣不行者，其脈動。陰虛而陽氣陷之，以致三焦之氣不行者，其脈細滑。</p>

<h3>釋鉤</h3>
<p>凡以軟皮作管，而以水激入其中，管中空淨無礙，則水能直達；若有阻滯，則必屈曲而進，而管亦為之屈曲矣。此有物掛礙於管內之兩邊者也，其形如蜿蜒；若阻閉於管之正中，氣至即衝開，節節有閉，節節沖之，氣行屢觸，而管為之振撼矣，其形如戰慄。故脈形之屈曲與脈勢之振撼，皆濕熱盛而痰多之人所常見之象，皆脈氣因滯而激者也。凡兩人以手引索而撼之，則其索之彈也，必不能正上正下，而或左或右矣。故左右彈者，緊脈之本象。寒氣束於脈外者，與屈曲戰慄，本非一類。前卷緊脈條內，有論蜿蜒屈曲之脈，附隸於左右彈者，以其相似而辨之，非以其同類而合之也。當時本從臨診體驗得來，非襲取舊說也。今讀張石頑書有曰：火盛之脈，若中宮有物阻礙，則關上屈曲而出，膈上有痰凝滯，則寸口屈曲而上，總謂之鉤。如無阻礙，決無屈曲之脈矣。又解脈來懸鉤曰：按之旁至，似有微曲之象。觀於此說，脈之有屈曲也，不校然乎。第以此已即夏鉤之脈，則有大謬不然者。《內經》以喘喘連屬，其中微曲為心病脈；以前曲後居，如操帶鉤為心死脈。所謂曲者，乃指脈氣之起伏循環，故《內經》謂鉤脈者來盛去衰，如夏日萬物既盛，皆垂枝布葉，下曲如鉤也。蓋脈氣起伏，高深如一，其勢圓轉如環。鉤脈去衰，不能及底，不似環之圓矣。鉤即環之缺其一面者也，是主起伏之高深，非主形體之曲直也。喘喘連屬，其中微曲，是其脈來連連上擊，旋伏即起，僅微見其還返耳。前曲後居，如操帶鉤，前後以脈氣之前至後至者，言是脈之初動，微有鼓伏，既應之後，即挺亙不移，以曲喻鉤，以居喻帶耳。曲與居對，居即不曲之謂也。且平心脈曰累累如連珠，病心脈曰喘喘連屬，其中微曲，而平腎脈亦曰喘喘累累如鉤，是鉤也，曲也，顯以其喘喘者言之也。喘喘者，未伏即起之象，加人之氣喘，出多入少者。若果指脈形之屈曲，其曲決不能如鉤之甚，經必不以鉤名之矣。何者？天下自古無形，曲如鉤之脈也，即病脈且無之，況為四時之正脈耶。且心病脈之，僅見微曲，心死脈之，竟至後居，皆以曲為善，以不曲為惡也。不察經文之意，而轉加罪於曲，將必脈氣有出無入，而後為正耶？自宋以來，講脈者只論形不論勢，故夏脈如鉤一語，各名家皆未嘗從來盛去衰上著想。且如石頑之說，無阻礙即無屈曲，然則夏脈之鉤，乃有阻礙之病脈耶？上卷論四時弦鉤毛石之文，作於五年之前，今復辨於此，以質之來者。冬脈如營，營乃牢固之義也。凡兵所駐日營盤，謂牢實盤踞也，此極淺之說，而遍讀前書，只論冬石，未有議及營字之何義者，豈以其易曉，無待詮釋耶？</p>
<figure>
<img alt="附圖">
</figure>

<h3>說神</h3>
<p>脈貴有神，由來舊矣，其說約有數端：一曰應指有力也，一曰來去從容也，一曰來去如一也，（亦曰陰陽俱停，陰陽同等。）一曰形體柔和也。四者固俱本聖經，而皆有似是而非之處，不可以不辨。所謂有力者，謂其氣來應指之際，充然有餘，而無怯然不進之象。若謂搏擊滑大，失本意矣。所謂從容者，謂其來去中途和緩，而無一擊即來，一掣即去，躁疾不安之象。若怠緩之脈，其氣來至中途而不欲前，去至中途而即欲止，豈從容之謂耶？所謂如一者，來能高滿於其分，去能深極於其底，而無來盛去衰與來不盛去反盛之嫌也。若來如釜沸，去如弦絕，則非是矣。形體柔和者，真氣充於脈中，而脈管之四傍，又與肌肉相親也。外緊中空，內結外散，均非是矣。獨是四者之義，乃指平脈之神，非病脈之神也。病者，正氣若虛，應指豈必有力，況乎陽盛陰衰，陰盛陽衰，血虛氣實，氣虛血實，又豈能來去從容如一而柔和耶？然則，何以見其神也？聖言神妙萬物，平脈之神，尚難揣摹，病脈之神，孰能擬議？神不可言，言神所見之處可乎？前人謂應指有力，是脈既動之後也。吾謂神不在既動之後，而在方動之初。其來也，意似浩然湧出無力，倦不能來，與迫欲急來，不安於內之情；其去也，意似坦然折入無怠，不欲去，與應指即散，不見其去之象。如此則應指即令無力，即令不能從容如一而柔和，而神自卓然在也。來去二者之中，又以去為尤要。何者？去乃真陰之內吸也。若回折有勢，如石投水，是陰氣猶全，元根未撼，此察神於方動之頃也。《內經》曰：靜者為陰，動者為陽。所謂靜者，脈氣方停，未來未去之間也。察其未來之先，停於下者之久暫，而知真陰之盈虧，即可知真陽噓力之盛衰也；察其既來之後，停於上者之久暫，而知真陽之衰旺，即可知真陰吸力之強弱也。此察神於未動之始也。方來也，方去也，未來也，未去也，皆神所流露之處也。聖經未嘗不明言之，但後人讀書，不能領會，今略為拈出，以俟來哲之發揮，豈敢謂義盡於此耶？至於神之發源，生於胃氣，本於命門，前人論之夥矣，不煩絮聒。</p>

<h3>動脈有強弱</h3>
<p>（附釋驚悸）</p>
<p>「辨脈」曰：陰陽相搏，名曰動。陽動則汗出，陰動則發熱。《金匱》曰：寸口脈動而弱，動則為驚，弱則為悸。夫動者，緊滑並見之脈也。緊為陰強，滑為陽實。凡寒熱邪正之相激，榮衛表裡之不和，多見此脈，故曰陰陽相搏也。前於少陽脈篇詳之矣，此固動之有力者。兩強不肯相讓而後動，何以有強有弱耶？蓋凡脈，皆有邪盛與正虛之兩途：動之形堅而力強者，邪盛也；動之力弱而形不堅者，正虛也。其病皆屬於寒熱與濕，皆在於心膽與三焦。熱邪入心，則發為驚狂。此心火本盛，而寒水之氣從外撲入，熱積於心，不得舒發，故其脈動而搏，是兩強激搏之所致也。心火自衰，寒水侵凌，陽氣不伸，其脈累累如珠，應指無力，其病為怔忡、嘈雜之證，故曰悸也，是痰飲淫泆膻中之所致也。二者皆謂之心痹。其兼證，必面色黧黑，夜寐夢魘。治宜溫宣心陽，散化水飲，三焦之氣通利，膻中之位廓然，氣化無格拒，脈象自無斷續矣。竊嘗綜紀臨診以來所見動脈主證：在左寸，為驚悸，為夢魘；在右寸，為咳嗽，為喘促。在左關，為水氣入肝，其證腰疼脅脹，冷氣上衝胸中，此里證，見者多難治，表證則寒熱往來如瘧也，上為嘔吐，下為淋濁。在右關，則為脾胃多痰，傷食嘔酸，勞倦，目胞下垂，肢怠思臥。在兩尺，為寒濕從下上犯，入於太陽少陰之經，髀腨胻足腰脊痠疼，甚者命火為寒濕所激而上衝，與心火相搏而為驚狂，下厥上冒，遂致兩脛厥冷，兩膝內痛，或內為疝氣、白淫矣。三部皆動，是為瘧疾，為痰飲腫脹，是三焦之氣皆逆也。癲癇、癥瘕積聚、疝氣、奔豚、中風、痿痹、夢交、精濁、勞損，皆有見動脈者，其機總不外鬱結與交爭而已矣。郁者解之，爭者和之，故吾謂動脈之治，宜從和解，但當細辨緊滑二脈之孰多孰少，以定用藥寒熱之輕重耳。《金匱》曰動曰弱云者，驚者，寒較多，則緊為甚；熱較多，則滑為甚，是邪正相爭也。悸者，邪氣盛則形堅而力稍弱，正氣衰則力弱而形亦不甚堅也。至於命火衰熄，寒水盛結之敗候，其脈必形甚堅而力又甚弱，起不能高，去不能深，起伏之間有搖擺之狀，如人之力弱舉重者然，是元根已拔，其病必不止驚悸矣。詳具《簡摩》第四卷「動脈篇」補引諸文中，茲不復贅。本集動結滑澀諸篇、散脈虛實篇、少陽脈篇，亦皆可參觀也。</p>
<p>驚者，語言舉動躁急無次，變其常度也。《內經》曰：因於寒，起居如驚。又曰：三陽一陰，太陽脈勝，一陰不能止，內亂五臟，外為驚駭。又曰：二陽一陰發病，主驚駭、背痛、善噫、善欠，名曰風厥。又曰：少陽所至為驚躁、瞀昧、暴痛。《傷寒論》曰：傷寒脈浮，醫以火迫劫之，亡陽，必驚狂，起臥不安者，救逆湯主之。此皆水火相激之事也。凡陰出之陽則怒，動者，怒之象也，故驚之證發於外。</p>
<p>《傷寒論》曰：發汗過多，其人叉手自冒心，心下悸，欲得按者，桂枝甘草湯主之。又曰：脈浮數者，法當汗出，若下之，身重心悸者，不可發汗。當自汗出，乃愈。所以然者，尺中脈微，此裡虛，須表裡實，津液自和，便自汗出愈。又曰：傷寒脈結代，心動悸者，炙甘草湯主之。代之為言弱也，結代即動之弱而無神者，此皆衛陽內陷，真火不揚之事也，故悸之證在於內。</p>

<h2>脈象叢說十條</h2>
<p>（按此十條，或論脈體，或論診法，或論病脈，皆前人未經暢發者。）</p>

<h3>脈有兩側</h3>
<p>「脈要精微論」曰：尺內兩傍，則季脅也。尺外以候腎，尺裡以候腹。中附上，左外以候肝，內以候膈；右外以候胃，內以候脾。上附上，右外以候肺，內以候胸中；左外以候心，內以候膻中。王冰云：兩傍，兩尺外側也。李中梓曰：內外二字，諸家皆說兩側，此必脈形扁闊，或有兩條，否則於義不通矣。觀易卦六爻，自下而上，上三爻為外卦，下三爻為內卦，則上下之為內外不昭然乎？故內者，每部之後半部也；外者，每部之前半部也。李氏之解經，誠新穎矣，然脈實有兩側診法，非扁闊與兩條之謂也。凡指平按脈上，其形如此，及側指內側拍之，而其形如彼，及側指外側拍之，而其形又如彼矣。此可以脈之緩急滑澀，察病之虛實寒熱。內側主裡，外側主表，只可取以與正脈合參，不能專恃此以決病，亦不能如正脈之分二十八脈，各有主病也。吾每診正脈微弱，側診弦而兼滑，則知有痰飲矣。其微弱，乃氣虛，又為痰飲所困耳。又如外側見弦，內側見滑，便是表寒裡熱，與浮弦沉滑同斷，余仿此。頃讀《韓氏醫通》有云：左寸指法，按如六菽之重，在指頂為陰，屬心，在指節為陽，屬小腸，餘部仿此。此即兩側診法也。但不言側指內、側指外，而言指頂、指節，似從正面平按，未免蹈李氏扁闊、兩條之消矣。</p>

<h3>脈有內曲外曲</h3>
<p>「脈要精微論」曰：推而外之，內而不外，有心腹積也；推而內之，外而不內，身有熱也。所謂外者，脈外近臂前廉，手陽明大腸脈之部也；所謂內者，脈內近大筋，手厥陰心包脈之部也。是脈形之弓曲，或外贏，或內朒也。寒結之，則脈形內曲，熱鼓之，則脈形外曲，與小兒診三關脈紋內外之法其義同。「陰陽別論」曰：陰陽結斜，多陰少陽，曰石水，少腹腫。向來注者，罔知斜曲之義。夫結者，堅而澀也；斜者，如弓之曲也。多陰少陽者，謂其斜之弓曲向內，近於少陰，而遠於陽明也。石水、少腹腫，是為單腹脹，即心腹寒積之類也。張石頑診趙明遠曰：左手三部弦大而堅，從人迎斜內向寸，是為三陽經滿溢，入陽維之脈也，當有顛仆不仁之虞。所謂斜內向寸者，必先外越，乃折而內向上寸也。三陽滿溢，即《內經》身熱之類也。</p>
<p>《脈經》曰：從尺邪入陽明者，大風、寒熱也。大風，歷風，亦曰寒熱。詳見「風論」。邪入少陰者，女子漏下赤白，男子溺血，陰痿不起，引少腹疼。是正氣虛則內曲，邪氣實則外曲也。《扁鵲脈法》曰：外勾者久癖也，內卷者十日以還。是又以內曲外曲，分食積之新久也。大抵脈之曲者，皆因於積，而又中氣虛也。偏於熱多則外撐，偏於寒多則內倚。嘗診一婦，病胃脘痛，過服泄氣之劑，右脈內倚，藏於筋下，左手弦勁。問之，曰：左腹素有塊也。用溫元補中二劑而脈復常矣。惜相信不終，病訖未愈。</p>

<h3>脈有兩歧三歧</h3>
<p>凡人寸口之脈，本有三歧，而向無三動。三歧者：一由寸口直上白魚也，一由寸口內入掌心也，一由寸口外上合谷也。詳見《靈樞·邪客篇》。已錄入前卷「三關脈體考」，茲不復贅。其動也，或見其一，或見其二，未見有三脈全動者。獨見一脈，其形多粗；兼見二脈，必然一大一細；倘兩脈並大，當有風火上壅之患矣。《脈經》曰：從寸口邪入上者，名曰解。脈來至，狀如琴瑟弦，苦少腹痛，女子經月不利，孔竅生瘡，男子病痔，左右脅下有瘡。《內經》腰痛論有解脈之名。王冰曰：不合而歧出，如繩之解股也。斜入上者，內竄包絡之脈也。諸證悉由火氣刑金，肺、大腸之傷也。大抵木火盛而亢逆於金，乃見此脈。有乍見此脈者，熱痰風火上壅無疑。即生而如此，其人亦必木火常干清道，如頭暈、心煩、燥渴、秘結之類。此條與「三關脈體考」參看乃全。</p>
<p>又按：巢氏《病源候論·黃疸候》曰：人肘屈，前臂上有三歧脈，其中脈名手肝脈。病疸者，若此脈壞而不見，則不治。此言絡脈，非動脈也。《脈經》曰：病疸，寸口近掌無脈，不治。此言動脈，非絡脈也。解者，或誤合為一，則失之。</p>

<h3>脈有雙線</h3>
<p>雙線與兩歧不同，上卷「三關脈體考」已言之矣。雙線必一大一細，未見有兩線並大者，或細脈加於大脈之上，或細脈伏於大脈之下，或兩脈平行，大居細外，細居大外。嘗診寒濕脾敗，下瀉上喘，浮之細脈滑疾，重按大脈堅牢挺亙，無甚起伏，此虛陽外浮，死陰內結也。又嘗診身生瘡疥，浮之細脈滑疾，重按大脈緩弱，此風熱搏於表也。又嘗診下部生瘡，浮之大脈散弱，重按細脈滑疾，此濕熱深蘊於營分也。故據此以辨表裡，尤為顯然而無遁者。其在平人，細脈常弱於大脈，重按即不見也。此條與「三關脈體考」合看乃全。</p>

<h3>脈有動搖</h3>
<p>此所謂動搖，是脈之本象，非加緊脈之因病而見也。扁鵲曰：少陽之脈，動搖六分，正月、二月王；太陽之脈，動搖九分，三月、四月王；陽明之脈，動搖三分，其至跳，五月、六月王；少陰之脈，動搖六分，七月、八月王；太陰之脈，動搖九分，九月、十月王；厥陰之脈，動搖三分，十一月、十二月王：此動搖之本於自然者也。夫常脈之動搖，人人所共有，亦人人所必有。必有動搖，而後見其氣來之盛也。須於指下，脈來應指初回之際，細審之，自見矣。泰西有《審脈表》：凡脈之起，而將落未落旋轉之際，必有振撼之跡。此氣之噓力大盛，與吸力兩相激盪之勢也。若緊脈，熱為寒束，其動搖即在脈勢初起之始，乃熱力與寒相搏，脈形挺亙，故動搖之勢益顯，世遂以動搖專屬之緊矣。（更有濕熱痰盛，氣鬱而搖者，氣不暢也；有腎熱水沸，氣喘而搖者，氣不靜也；有命火脫泄，氣怯而搖者，氣已無根，如人之力弱而舉重也。）</p>

<h3>脈有頭本</h3>
<p>《內經》曰：脈之動也，陽氣前至，陰氣後至。「辨脈」曰：脈來頭小本大者，名曰覆，病在表也。上微頭小者，則汗出；下微本大者，則為關格不通，不得尿。蓋脈之來也，自筋骨之分而上於皮膚之際，乍擊於指，引陽氣之前至也，謂之頭；既應於指，而脈尚未去，橫度指下，此陰氣之後至也，謂之本；有來之初勢有力，而旋即衰弱，不見脈氣之橫趨者，此頭大本小也；有來之初勢不甚有力，而旋見脈氣湧湧續上者，此頭小本大也。《脈如》曰：動前脈盛，氣有餘；動前脈衰，氣不足；應後脈盛，血有餘；應後脈衰，血不足。此正與頭本之義相發明也。故頭本者，就脈來之際分前後，以別陰陽氣血，非謂來為頭，去為本也。舊說有指為寸尺，指為浮沉者，皆未合云。</p>

<h3>脈有俯仰</h3>
<p>平人之脈，寸浮尺沉，關脈在中。診時食指略輕，名指略重，此常法也。若所謂俯仰者，或寸沉尺浮，是前俯後仰也；或寸更浮，尺更沉，是前仰後俯也。此三部之俯仰也。又有一部二部前後相為仰俯，此皆常有之事，業道者不可不知。《脈經》曰：從少陰斜至太陽者，陰維也。尺沉寸浮。動苦肌肉痹、癢、僵仆、羊鳴、手足相引，甚者失音不能言。從少陽斜至厥陰者，陰維也。尺浮寸沉。動苦癲癇、肌肉淫痹、汗出惡風，此前後俯仰之專脈也。二維有病，即見此脈。其實尋常診脈，多用此法，以審氣之升降強弱，奚必二維耶？又《內經》：陰陽結斜，多陰少陽。其義亦可通。此謂尺寸脈緊澀而傾斜，前仰後俯，浮少沉多，所謂肝腎並沉，為石水也。扁鵲曰：不俯不仰，不低不昂，此為平脈。此俯仰二字所本也。</p>

<h3>脈有散漫無邊</h3>
<p>脈體所以長直者，以有管束之也，無管則不成脈矣。故書以為脈而見散，其人必死，為其氣不充也。乃尋究生平所診，竟有生而脈體散漫，似其氣充管中，又溢管外，不見邊際者。此脈多見於關，亦有見於寸，獨尺部尚未之見。蓋尺部之內，肉多堅厚，寸關之分，皮薄肉淖，其脈管有因而寬弛者，浮沉俱無脈形，指下一片，滿指俱動，起伏有力，長年如此，略無病苦，非稟賦之獨殊耶？至於主病，則《脈經》有曰：關上脈襜襜大，而尺寸細者，其人心腹冷積，癥瘕結聚，欲熱飲食是也。至於患風熱濕熱者，脈多渾渾不清，中堅邊散。又見有病後，餘熱未清，濁氣未降，胸膈痞悶，飲食少思，其脈來弦細，見於中沉之分，指下堅滑，而正形之外，卻又有滿指振撼之勢，看似脈中之氣溢於脈外，實則脈外細絡，濁氣膹郁膨急，因為脈氣牽引而俱動也，謂之脈暈。診此者，不可疑是散脈。經曰：來調四布，欲病水也。四布即暈也，欲病水者，濕濁壅盛也。此濕盛氣滯，渾渾不清之脈也。</p>

<h3>脈有隱伏不見</h3>
<p>伏脈謂之六陰。有極沉細者，有並沉細而無者，皆常脈也。但有一手如此者，有兩手如此者，有六部正位如此，而尺澤之下仍見脈者。更有關尺見脈，而兩寸獨伏者，此當退一部診之，以關為寸，以尺為關，以尺後為尺也。又嘗診皮急肉堅者，兩尺脈藏肉下不見，診時須審關脈後半部，是否深與尺通，再單指重按尺部，以意測之。</p>

<h3>脈有無數細絲</h3>
<p>此痰脈也。氣過指下，似覺拖帶黏涎，宛然中有無數細絲，此心包絡與肺胃之有痰也。必有嘈雜惱憹，呼吸不利之證。此余所身歷者也。若常見此脈，且兼洪弦，又貪厚味，多房室，身肥項短，時覺骨節不便，胸膈不舒，眼目少神，夢寐不安，久必有類中風矣。此脈形勢，介在滑澀之間，而實不可以滑澀名也。痰多氣弱，故其形似滑，而其勢甚澀也。王叔和以系水交馳為死脈，真陽盡，而脈中津液悉化為痰也。系水者，懸水多股，即無數細絲也。（《素問》：脈至如弦縷。縷字止言其細，非言其多也。不可強為援據。）其絲忽斷忽續而不聚，故遂主死矣。</p>

<h2>讀脈雜說</h2>

<h3>說至</h3>
<p>《內經》、《脈經》論脈文中，有所謂「至」者，揆其義，不可以來至通也，私揣當訓「沉搏」，與「動」字之義相近。前人未嘗論及茲，請聚其文而觀之。「經脈別論」曰：二陰搏，至腎，沉不浮也。此言少陰脈搏而沉，以腎氣之本沉不浮，即所謂腎脈如石，其氣沉以搏者也。故又曰：鼓陽至而絕，曰石。絕，極也，謂脈來沉搏之極也。蓋並言搏至者，其義為沉，單言至者，且該沉搏矣。仲景曰：病六七日，三部脈皆至，其人躁擾者，為欲解也。此《內經》「陰出之陽則怒」之義也。《脈經》引扁鵲曰：附陽脈強，附陰脈弱，至即驚，實即瘛瘲。此謂凡平人脈，重按至沉，其形必弱，若不弱，而搏至緊實，即為諸病也。（《金匱要略》：動則為驚。）又《內經》曰：渾渾革至如湧泉。《脈經》曰：脈與肌肉相得，久持之，至者，可下之。是非沉搏之至，而可以來至之至通之耶。（《難經》損至之至，又別一義。）</p>

<h3>說懸絕</h3>
<p>懸，遠也，異也，甚也；絕，極也，絕類離群之意也。《內經》論脈有曰：懸澀、懸小堅者，即甚澀也，甚小堅也。曰盛喘數絕者，即盛喘而數極也。曰肝至懸絕急者，肝真臟脈至，異常之極弦也。其心至懸絕，脾至懸絕，肺至懸絕，腎至懸絕，四臟不繫本脈者，可例而知也。曰不懸絕而不繫脈象者，是渾言其不拘何脈，但不至異常之極也。曰弦急、懸不絕者，弦急之甚，而未至極也。懸猶輕，而絕至重，然凡單言絕者，其義往往或與懸同。單言懸者，其義亦往往賅絕在內。並言懸絕者，莫非極大極小，異常之逆脈也。若夫所謂絕不至，乃脈息之歇絕也。所謂如弦絕，如瀉漆之絕，又脈形之斷絕也。王冰於懸絕諸文，皆以如物之懸而斷絕釋之，恐未協耳。（《素問》此文甚多，不能備錄，僅舉其略如此。）</p>

<h3>說伏鼓</h3>
<p>鼓者，鼓搏有力之謂也。而伏鼓二字連稱，《素問·經脈別論》、「大奇論」屢見之，實不過去來之義耳。伏者，脈之去而伏也；鼓者，脈之來而鼓也。曰外鼓大者，即謂脈之來大也；曰沉鼓澀者，即謂脈之沉而來澀也。前人概以沉伏鼓搏釋之，於上下文義，每閡而難通。是求深反淺，不知古文迂拙之體也。</p>
<p>說雍滿</p>
<p>「大奇論」有腎雍、肝雍、腎滿、肝滿之文。滿之義為洪大，以脈言之；雍之義為壅實，亦以脈言之也。《甲乙經》作「癰」，後人遂以臟癰釋之矣。夫滿為勢盛，而其形未嘗不實；雍為形實，而其勢未嘗不盛。二者後世所謂弦大也。故主病為腫，為喘，而兩胠滿，為不得小便，為少腹滿，體胻大，為癇瘛筋攣。古文迂拙如此，後人以二十八脈，印定眼目，遂少見而多怪矣。仲景高章卑惵，亦猶是也。</p>

<h3>說微</h3>
<p>脈之微有二：形之微小也，力之微弱也，此皆作實字解。其作虛字解者，不甚之謂也。仲景書中微緊、微緩諸文，皆不甚之義，而後人每以微脈釋之，方中行已致辨矣。《素問》春胃微弦曰平。王冰注曰：微似弦，不謂微而弦也。是必當時已有誤解者，不然，此等淺文，何煩訓詁耶！</p>

<h3>說人迎氣口</h3>
<p>李東垣謂：古法以俠喉兩傍左為人迎，右為氣口。彭用光以魚際背骨縫中動脈，左為人迎，右為氣口。其說雖新，而皆無據，且背後脈，仍與寸口脈通，有何分別？</p>
<p>人迎氣口，聚訟紛紜，訖無濟於實用，以余歷診所驗，約有二端：其一即兩手分診法，是專指痿、厥、偏枯，虛損久病，榮衛積於一偏之所致也；其二當以關前關後分診之。《內經》惟「動腧篇」確以人迎屬之結喉。余如「至真要大論」言：人迎與氣口大小相應，命曰平人。下即接敘尺寸不相應之事。「終始篇」言：少氣者，脈口、人迎俱小，而不稱尺寸也。此與「通評虛實論」脈虛者，不象陰也，文氣相同。謂不稱尺寸之常脈也，不但主中、主外，及春夏人迎微大，秋冬氣口微大，俱幹事理相合。即人迎盛緊傷於寒，氣口盛緊傷於食，亦有合於尺寸之診也。且一倍二倍三倍，分候三陰三陽之義，亦覺有著落矣。況內關、外格，更與《難經》覆溢之旨協耶。</p>

<h3>說損至精消孤虛搏</h3>
<p>（至，極也，如人極馬倦之極。）</p>
<p>《難經》：損脈，極遲，真陽內減，故曰損也；至脈，極數，真陰外薄，故曰至也。《素問·脈要精微》：有餘為精，不足為消。應有餘，不足為精；應不足，有餘為消。精即至之義也，故曰有餘；消即損之義也，故曰不足。精，非真有餘也，脈之應有餘，而正氣實不足；消，非止不足也，脈之應不足，而邪氣仍有餘也。「玉版要論」：搏脈痹躄，寒熱之交。脈孤為消，氣虛泄為奪血。孤為逆，虛為從。此謂搏脈乃主痹痛、痿躄、寒熱交爭之事，是氣壅爭於脈中也。若脈孤者，是細緊，不與肌肉相親，《脈訣》所謂「寥寥入尺來」也，主陽氣之虛，故曰消也。泄利為奪血，陰虛，脈見虛大，乃為與病相從。見孤者，是陽亦熄矣，得不謂之逆乎。「大奇論」：脈至如搏，血衄身熱者死。脈來懸鉤浮，為常脈。此謂血衄身熱脈搏者，以其氣血之逆亂也。若但脈來甚鉤而浮，鉤乃來盛去衰之夏脈也，此血熱之常脈，不得謂之搏矣。以明搏脈堅擊無胃氣，與懸鉤浮不同也。此數書，舊解多未軒豁，聊記所見如此，待質高明而正之。（舊有以脈孤為消氣，虛泄為奪血，各五字作句者，未見允協。）</p>

<h3>說浮沉</h3>
<p>浮沉之義有三：一以部位言，一以動力言，一以指法言。部位者，脈之在浮、在沉也；動力者，脈之盛大，來極於浮，去極於沉也；指法者，無論脈之在浮、在沉，而以指力初按至脈皮為浮，重按至脈底為沉。即如浮緊身痛，沉緊內痛，其實二病，脈俱在沉，將何以辨之？吾嘗親審其脈，凡見指力初到脈皮，即見繃急，重按至脈底，反見泡軟，此即寒濕著於筋脈之身痛也。指力初到脈皮，脈形泡軟，或微見繃急，而按至脈底，甚見堅實者，此寒濕結於臟腑之內痛也。更有脈皮繃急，脈底鬆軟，中別挾一細線，此又寒束於外，而熱氣久郁，痰結於內也。故其證，表強而內喘滿。凡脈書，證同脈異、證異脈同之處，均當推見其同中之異、異中之同如此。</p>

<h2>脈法失傳</h2>
<p>脈學精要之義，失傳者多矣。然其理其法，猶或散見於《內經》、《難經》、《傷寒》、《金匱》、《脈經》、《千金方》諸書中，有志之士，猶有可考而見諸行事也。即至南政北政之少陰所在，其脈不應；人迎、氣口之以一倍、二倍、三倍分主三陰三陽，法已失考。前人所說，皆不適用。然猶有議及之者，獨有兩法，僅於《內經》、《脈經》及《倉公傳》中，略見端倪。遍考百家，都無所述，蓋遺忘之久矣。兩法維何？一，三陰三陽法也；一，分界法也。分界者，即分三陰三陽之界也。兩法或即一法，亦未可知，茲姑取經文條析而陳之。</p>
<p>《內經》之論三陰三陽者眾矣。其在脈也，「至真要大論」曰：厥陰之至，其脈弦；少陰之至，其脈鈞；太陰之至，其脈沉；少陽之至，大而浮；陽明之至，短而澀；太陽之至，大而長。是以風、寒、暑、濕、燥、火之六氣言之也。《難經》曰：少陽脈至，乍疏乍數，乍短乍長；太陽脈至，浮大以長；陽明脈至，浮大而短；少陰脈至，緊細而微；太陰脈至，緊大而長；厥陰脈至，沉短而敦。是以陰陽之太少言之也。二者皆氣化之事，其義皆有可尋，猶不得謂之失傳。惟夫所謂一二三也者，以紀數之多寡也，以紀次之先後也。不曰少陽厥陰，而曰一陽一陰；不曰陽明少陰，而曰二陽二陰；不曰太陽太陰，而曰三陽三陰，其必有道矣。「經脈別論」曰：太陽臟何象，象三陽而浮也。揍其詞義，是三陽之部，本不在浮，而此之太陽臟獨至者，乃其象屬於三陽，而又見於浮也。「陰陽別論」曰：鼓一陽曰鉤，鼓一陰曰毛。鼓者，脈之來而擊指也；鉤者，來盛去衰之夏脈也；毛者，浮澀之秋脈也。二脈皆在於浮，而曰一陰一陽，是一之為數，屬於浮矣。由是推之，中與沉亦當各有陰陽，二之數當屬於中，三之數當屬於沉矣。前所謂象三陽而浮者，是必三陽屬沉，故以而浮作轉語也。是陰陽之一、二、三，顯有屬於浮、中、沉者。《脈經》曰：寸後尺前，名曰關。陽出陰入，以關為界。陽出三分，陰入三分，故曰三陰三陽。陽生於尺，動於寸，陰生於寸，動於尺。夫關前為陽，關後為陰。自來說者，不過以為清濁高下之大義如此，豈必析為三分，分隸三陰三陽耶？《脈經》乃實指之，以故曰三陰三陽。兩「三」字，決非漫然言之也，是陰陽之一二三，又有屬於寸、關、尺者。果明此義，則夫所謂結陽者腫四肢，結陰者便血一升，再結二升，三結三升，二陽結謂之消，三陽結謂之隔，三陰結謂之水，一陰一陽結謂之喉痹，與夫三陰俱搏，二十日夜半死等文，皆當以部分之一二三辨之，而無與於陰陽之太少矣。遍考諸經，迄無證據，其如何按部決病之法，亦渺無可稽。王叔和九道之法，以九候分主足三陽與手足三陰，而獨無手三陽，其配合部位，亦與常法歧異，此脈法之失傳者一也。</p>
<p>分界之法，見於「倉公傳」者有四事，而分三義。齊侍御史成案曰：所以知其後五日癰腫，八日嘔膿死者，切其脈時，少陽初代，代者經病，病去過入，入則去，絡脈主病。（言脈代者，先由經病，後過經深入，入則去經，而絡脈主病矣。絡謂臟腑所繫於身之絡也。）當其時，少陽初關一分，故中熱而膿未發也；及五分，則至少陽之界；及八日，則嘔膿死。故上二分而膿發，至界而癰腫，盡泄而死，陽虛侯。相趙章案曰：法五日死。皆為前分界法。前即謂成案也。此二者，氣口脈法之分界也。曹山跗案曰：五日死者，肝與心相去五分，故五日盡。盡即死矣。此似指五臟膜絡相去之界也。宋建案曰：臣意見其色，太陽色干，腎部上及界要腰字。以下者，枯四分所，故以往四五日知其發也。此又面部之色界，《靈樞·五色篇》之義也。此三法者，今皆莫能用之，諸書亦無發明，獨《脈經》引扁鵲論脈之文，偶露此義。曰：寸口中，後大前兌，至陽而實者，癖食。小過陽一分者，七日癖，二分者，十日癖，三分者，十五日癖，四分者，二十日癖，四分中伏不過者，半歲癖，敦敦不至，胃陰一分，飲餔餌癖也。此段詞旨，殊不可曉，喻嘉言、程郊情、陳修園輩幸未得見，若得見之，必斥為妄語矣。殊不知《扁鵲脈法》之精真，有冠絕古今者。《脈經》所引扁鵲諸文，其詞氣頗與「倉公傳」相近，淵源有自，夫豈誣也。卒以句奇語重，欲喻莫由，分界之法不明，五臟之死期無據矣。此脈法之失傳者二也。</p>
<p>外此如扁鵲曰：出者為陽，入者為陰，一出一入，陰陽俱平，是為無病。二出一入為少陰，三出一入為太陰，四出一入為厥陰，二入一出為少陽，三入一出為陽明，四入一出為太陽。出入者，脈之來去也。出多入少則脈浮，為陰病；入多出少則脈沉，為陽病。《素問》曰：脈虛者，不象陰也。謂浮而按之不實也。《脈經》曰：妊娠得太陰脈為男，得太陽脈為女。太陰脈沉，太陽脈浮，是以太陰太陽為浮沉之通稱也。綜攬諸文，詞若可通，而法難施用。竊以鄙見懸揣其義，有無足重輕者，有至關切要者。如一陽曰鉤，一陰曰毛。苟得鉤毛之真象，即不知一陽一陰之名可也。二出一入為少陰，二入一出為少陽。苟得二出二入之真際，即不知少陰少陽之名可也。獨至三陰俱搏，決非手足太陰，右手之寸關也；二陰俱搏，決非手足少陰，左手之寸尺也。二陽結者，豈曰手足陽明，三陰結者，豈曰手足太陰。雖前賢莫不如此詮釋，而返之私衷，總覺理有可疑，法不足據。再四思維，彼言三陰者，不必專指三陰，而或賅一陰、二陰言之也。言二陽者，不必專指二陽，而或連一陽二陽言之也。浮、中、沉之三陰三陽者，當以極浮為三陽，次為二陽，次為一陽，次為一陰，次為二陰，極沉為三陰也。寸關尺之三陰三陽者，當以關前最近為一陽，次為二陽，上為三陽，關後最近為一陰，次為二陰，下為三陰。所謂陽生於尺，動於寸，陰生於寸，動於尺也。《內經》三陰三陽之文，似當以此二義測之。倉公分界之法，亦當以此二法推之。又有關前為陽，浮曰一陽，中曰二陽，沉曰三陽；關後為陰，浮曰一陰，中曰二陰，沉曰三陰。又有寸為一，浮曰一陽，沉曰一陰；關為二，浮曰二陽，沉曰二陰；尺為三，浮日三陽，沉曰三陰。其曰三陰急者，沉候之三部俱急也。二陽結者，浮候之前二部俱結也。一陰一陽結者，寸部之浮沉皆結也。卒以經無明訓，莫敢定見，苦心測度，終無實際，有志之士，所為撫斷文而太息者也。</p>

<h2>六氣脈義</h2>
<p>「五運行論」曰：天地之氣，何以候之？（天，司天；地，在泉。）岐伯曰：天地之氣，勝復之作，不形於診也。脈法謂天地之變，無以脈診是也。間氣何如？（間氣，左右四氣。）岐伯曰：隨氣所在，期於左右，從其氣則和，違其氣則病。（從違指下文，六氣本脈言。）不當其位者病，（見於他位。）迭移其位者病，（互易而見。）失守其位者病，（遞克而見。）尺寸反者死，（子、午、卯、酉四歲有之。反者，歲當陰在寸而反見於尺，陽在尺而反見於寸。若尺獨然，或寸獨然，是不當其位非反也。）陰陽交者死，（寅、申、已、亥、辰、戍、醜、未八歲有之。交者，歲當陽在左而反見右，陰在右而反見左。若左獨然，或右獨然，是不當其位而巳，非交也。）先立其年，以知其氣，左右應見，乃可以言死生之逆順也。</p>
<p>上提綱天地間氣，指逐年客氣言。所謂不診天地而診問氣者，非絕不診天地也，謂當隨六氣周流四時，遞遷以診之，不得專以天地之氣主診一歲也。故曰隨氣所在，期於左右，歲半之前，天氣主之，歲半之後，地氣主之。是言病機，非言常人脈氣如此也。三個「位」字，只作氣字解，「反」與「交」，乃專就尺寸左右之位言也。「至真要論」曰：厥陰之至，其脈弦；少陰之至，其脈鉤；太陰之至，其脈沉；少陽之至，大而浮；陽明之至，短而澀；太陽之至，大而長。至而和則平，至而甚則病，至而反者病，至而不至者病，未至而至者病，陰陽易者危。</p>
<p>上六氣脈，（已錄前第二卷，今更敘此以起下文。）是合主氣客氣言也。如大寒之後，厥陰風木主之。其時六脈當弦矣，是主氣也，歲歲不易也。若本歲客氣加臨少陰，則弦當兼鉤，加臨太陰，弦當兼沉矣。余類推。是客氣也，如據主客二氣當弦而鉤，而見他氣，即不當其位也。當弦而鉤，而見他氣，及他氣主令，又見弦鉤，即迭移其位也。他氣者，子氣母氣皆是也。初氣見短澀來克，二氣又見大長來克，如此遞往，即失守其位也。所謂位者，以一步之氣言，非司天主寸，在泉主尺，間氣分主左右，六氣一時並見於六部也。</p>
<p>「至真要論」曰：論言人迎與寸口相應若引繩，小大齊等，命曰平。陰之所在，寸口何如？岐伯曰：視歲南北，可知之矣。北政之歲，少陰在泉，則寸口不應；厥陰在泉，則右不應；太陰在泉，則左不應。南政之歲，少陰司天，則寸口不應；厥陰司天，則右不應；太陰司天，則左不應。尺候左右，依此推之。諸不應者，反其診則見矣。</p>
<p>義詳下文。反其診，舊解謂覆其手，又謂是反其尺寸，皆非也。覆手是診反關脈，此不應非其脈易而出於反關也。反其尺寸，其不應者自在也。殊不知經文反其診則見，謂反其診而後見其不應也。後人改作反其診則應，便難通矣。所謂反其診者，謂反其平日之常法，而從客氣上著想，則見諸脈皆隱隱合於客氣，而此部獨有不應也。經意乃以明不應云者，非脈之失其常氣也，乃脈之不應客氣也。</p>
<p>司天：是先立其年也。</p>
<p>子午之歲，上見少陰；丑未之歲，上見太陰；寅申之歲，上見少陽；卯酉之歲，上見陽明；辰戌之歲，上見太陽；巳亥之歲，上見厥陰。上，南也；下，北也。</p>
<p>司天左右間氣，是面北而命其位也。位，左右也，左西右東。</p>
<p>上見厥陰，左少陰，右太陽；上見少陰，左太陰，右厥陰；上見太陰，左少陽，右少陰；上見少陽，左陽明，右太陰；上見陽明，左太陽，右少陽；上見太陽，左厥陰，右陽明。</p>
<p>在泉左右間氣：是面南而命其位也。左東右西。</p>
<p>厥陰在上，則少陽在下，左陽明，右太陰。</p>
<p>少陰在上，則陽明在下，左太陽，右少陽。</p>
<p>太陰在上，則太陽在下，左厥陰，右陽明。</p>
<p>少陽在上，則厥陰在下，左少陰，右太陽。</p>
<p>陽明在上，則少陰在下，左太陰，右厥陰。</p>
<p>太陽在上，則太陰在下，左少陽，右少陰。</p>
<p>南政甲、已二歲，論脈則寸在南，尺在北。三陰司天，則兩寸不應。（太陰司天，左寸不應；厥陰司天，右寸不應；少陰司天，兩寸不應。）</p>
<p>三陰在泉，則兩尺不應；（太陰在泉，右尺不應；厥陰在泉，左尺不應。少陰在泉，兩尺不應。）</p>
<p>北政，丙、戊、庚、壬、乙、丁、辛、癸八歲，論脈則寸在北，尺在南。</p>
<p>三陰司天，則兩尺不應。（太陰司天，右尺不應；厥陰司天，左尺不應；少陰司天，兩尺不應。</p>
<p>三陰在泉，則兩寸不應。（太陰在泉，左寸不應；厥陰在泉，右寸不應；少陰在泉，兩寸不應。）</p>
<p>土運之歲，面南行令，木火金水運，面北受氣，故分南北政也。其左寸、右寸、左尺、右尺之左右字，是直以在左者為左，在右者為右，不似左右間氣，天泉兩截，各分左右也，故此二節左右字，與前節間氣左右字，微有不同。）</p>
<p>六氣主客圖說</p>
<p>六氣有主位，有客位。主者，萬古不易者也；客者，逐年遞遷者也。</p>
<figure>
<img alt="六氣主位圖">
</figure>
<p>（並南政北政左右尺寸不應圖）</p>
<p>「六微旨論」曰：顯明之右，君火之位也。君火之右，退行一步，火氣治之；復行一步，土氣治之；復行一步，金氣治之；復行一步，水氣治之；復行一步，木氣治之；復行一步，君火治之：此六氣主位之六步也。</p>
<p>又曰：少陽之右，陽明治之；陽明之右，太陽治之；太陽之右，厥陰治之；厥陰之右，少陰治之；少陰之右，太陰治之；太陰之右，少陽治之：此六氣客位之次序也，與前主位太陰少陽互異。</p>
<p>又曰：相火之下，水氣承之；水位之下，土氣承之；土位之下，風氣承之；風位之下，金氣承之；金位之下，火氣承之。君火之下，陰精承之。亢則害，承乃制，制則生化。外列盛衰，害則敗亂，生化大病。此六氣生制之精微，不從主位，不從容位，而專言其化者也。</p>
<p>五運主客圖說</p>
<figure>
<img alt="六氣客位圖">
</figure>
<figure>
<img alt="五運主位圖">
</figure>
<figure>
<img alt="五運逐年客位圖">
</figure>
<p>五運五行，配宮商角徵羽，以陰陽分太少，相間而行。如甲為陽土，初運起土，即為太宮，次少商，次太羽，次太角，次少徵而終矣。己為陰土，初運即為少宮，次太商，次少羽，次少角，次大徵而終矣。余運仿此。</p>
<p>上五行之客氣，分王四時，逐年遞遷者也。如甲己年土運，即土居初，而依次推之。乙庚年金運，即金居初，而依次推之。其四運之中，各貫以初運，視其生克，察其太少，又合主運以參之，而萬變莫外矣。</p>
<p>五運各以陽干為太過，陰乾為不及。太過者常先天，不及者常後天。若上見天符，陰乾亦為太過；若上見天刑，陽干亦為不及。（或曰二者平氣，未是。）</p>
<p>木運臨卯，（丁卯。）火運臨午，（戊午。）土運臨四季，（甲辰、甲戌、己丑、己未。）金運臨酉，（乙酉。）水運臨子。（丙子。）所謂歲會，氣之平也。</p>
<p>土運之歲，上見太陰；火運之歲，上見少陽、少陰；金運之歲，上見陽明；木運之歲，上見厥陰；水運之歲，上見太陽。是天與會也，名曰天符。</p>
<p>上加天符，下臨歲會，是為三合。名曰太一天符。乙酉歲，陽明司天之類是也。</p>
<p>陽干之歲，司地同氣，曰同天符。</p>
<p>陰乾之歲，司地同氣，曰同歲會。</p>
<p>干支俱與司地同氣，陽干亦曰同天符。如甲辰年，太陰司地是也。陰乾亦曰同歲會。如癸巳年，少陽司地是也。其僅地支同天同地者，均無所紀。</p>
<p>土運之歲，上見少陽、少陰；火運之歲，上見厥陰。凡如此者，是天生運也，謂之相得。</p>
<p>土運之歲，上見陽明；火運之歲，上見太陰。凡如此者，是運生天也。以子臨父，謂之不當位。</p>
<p>土運之歲，上見厥陰；火運之歲，上見太陽。凡如此者，是天不與會也，名曰天刑。</p>
<p>土運之歲，上見太陽；火運之虛，上見陽明。凡如此者，是運刑天也，謂之逆。</p>
<p>天符為執法，歲位為行令，太一天符為貴人。邪之中人也，中執法者，其病速而危；中行令者，其病徐而持；中貴人者，其病暴而死。（其氣愈盛，其邪愈重。）位之易也何如？曰：君位臣則順，臣位君則逆。逆則其病近，其害速；順則其病遠，其害微：所謂二火也。（舊說君火，君也；相火，臣也。）</p>
<p>按舊說，易位，六氣客位之遞遷也。少陰居少陽相火之位，則順；少陽居少陰君火之位，則逆。竊謂此說非也。本文位之易也句，正承天符歲會說下，蓋指非歲會非天符者言也。君位臣則順，臣位君則逆者；司天為君，運為臣；所不勝為君，所勝為臣。君位臣，即司天勝運也。如金居天，木居運。臣位君，即運勝司天也。如木居天，金居運。所謂二火者，因五行火居其二，其氣常亢而逆犯於天。舉此以例余也。</p>
<p>又按：詳所謂二火句，是合氣化以言步位也。逐歲司氣為君，司運為臣，臣奉君令，即使司運勝氣，而其年氣化，往往仍從司氣之化，而不見司運之化。如此則步位之加臨雖易，而氣化猶順也。惟二火主運之年，其氣常亢，而勝於司氣，是大逆矣。故民病較四運之年獨多也。</p>
<p>按：初氣初運，皆起大寒，此定法也。而吳草廬獨言歲氣起於子中，盡於子中。故子午之歲，冬至始燥金三十日，然後禪於寒水，以至相火，日各六十者五，而小雪以後，其日三十，復終於燥金，丑未寅申以下皆然。此一法也。車質中《傷寒第一書》又言：運氣並起冬至，（徑起冬至，與草廬首尾分得三十日不同。）其主氣次序，不以厥陰風木為初氣，而以太陽寒水為初氣；（起冬至，即不得不初寒水。）不以少陽相火為四氣，而以太陰濕土為四氣。（少陽、太陰互易其位，則主客六氣次序相同矣。）逐年客氣，不重司天，而重司泉。每一氣中，皆加在泉為之主宰。此又一法也。</p>
<p>按：運氣者，五行化氣之義也。所謂先立其年以知其氣，本重在氣字上。聖人特假此為的，使人有所據，以為講明之地。故曰治病者，必明六化分治，五味五色所生，五臟所宜，乃可以言盈虛，病生之緒也。夫善言人者，必有驗於天，此古聖所以發運氣之義也。善言天者，必有驗於人，後賢正當一一切合人身，方協立言本旨，況經明以天泉為人身之上下矣，其他不可例推乎？運氣說中最難通者：一南政、北政也；一少陰所在，其脈不應也。前人議論雖多，無關實用者，言天而不切於人也。竊揣南政、北政，蓋以稟賦之強弱言也。南政居北，北方風氣剛強，以比稟厚者，土德最厚，故以甲己屬之；北政居南，南方風氣柔弱，以比稟薄者，四氣遞嬗無常，故以乙、丙、丁、戊、庚、辛、壬、癸屬之。凡上熱下寒，上虛下實，皆其例也。少陰君火，其象為少火生氣，以比人身之正陽也。不應者，正氣有權，脈有常象，不隨客氣轉移也。少陰在天，即上盛也；在泉即下盛也。左右尺寸，是陰陽表裡升降之詞，陽陰之偏盛者也。且經文上言人迎、寸口相應，命曰平人，下即接敘陰之所在寸口何如？是陰之所在句，顯係指元氣之有偏者。不然，逐年司天在泉，必有一陰也，將終古無一人迎寸口相應之平人耶。至於運氣，二者之異同，其在人身，當以五運為人身之本氣，所謂五形之人也，六氣則天地四時之氣感於人身者也。《內經》謂天地相從，運居其中，而常先也。惡所不勝，歸所和同，隨運歸從，而生病也。是言天地之氣，隨人身五氣之盈虛而生病也。故五運只言太過不及，以人身之本氣言也；六氣分言天泉勝復，以時氣之升降言也。如經言水運之年，太陽司天而為病者即是說。水形與體寒之人，傷於天之寒氣也。黃帝既作甲子，而又通其義於醫。其言曰：天地陰陽者，不以數推，以象之謂也。明數與象其達矣乎！</p>
<p>至於六氣主客之義，正與五運六氣之辨相同。詳前運氣主客圖說中。蓋作者立言，各隨其意之所取而命之。故「六元正紀大論」以運氣立言，則六氣不復言主客矣；「至真要大論」以六氣主客立言，則不復言五運矣。五運之病，言內傷也；六氣之病，言外感也。主氣之病，言內傷也；客氣之病，言外感也。天泉，在內傷，則臟氣之亢於上，鬱於下也；在外感，則邪氣之中於上，中於下也。有勝即有郁，在內傷，為臟氣之相乘；在外感，為邪氣之直中。有復即有發，此久病之轉換也。在內傷，為虛實之夾雜；在外感，為邪氣之傳變。寒熱虛實真假之難辨，莫甚於此矣。故運勝氣為逆者，是元氣之升降浮沉不與天氣相應也，如仲景所謂夏欲得復衣，冬欲裸其體之類。氣勝運為從者，即常人之畏寒、畏暑者也。其在於病，亦不過畏寒、畏暑之較甚耳。主勝為逆者，真臟之獨見，如春得秋脈，夏得冬脈，秋得夏脈，冬得長夏脈，及春不沉，夏不弦，秋不鉤，冬不毛之類。客勝為從者，邪氣之外加四時外感之正病也。天符歲會，天氣人氣之相值也。如陰虛而傷於熱，陽虛而傷於寒之類。易位者，不相值也，即常人之時氣病也。然而聖人不直言其事，而必懸象於天者，氣化之事，通於萬物，探原立論，天地人物，舉賅其中。其以干支為言者，亦借干支字義中所屬之氣化耳。今之用者，只當以五運之郁發與太過不及，為人身氣化之升降盛衰也。六氣之勝復，為天地氣化之亢害承製也。此以運氣對待言之也。若以主客對待言之，則又以主勝為人氣內傷之病也，客勝為天氣外感之病也。故所謂客氣，奉天行令，主氣不得行令者，言人身氣化和平，當隨四時之升降浮沉而不得別自獨見，不順於時之化也。是說也，管見所及，其有當於經旨否耶？高明當有以鑑之。</p>
<p>按：六氣主客之外，又有六氣標本之義，是亦發明氣化病機脈象之傳變也。氣化之三陰、三陽，與經絡之三陰、三陽，其義不侔。前人乃混合立論，殊昧本旨，愛錄舊說而附辨之。</p>
<p>《素問·六微旨大論》云：少陽之上，火氣治之，中見厥陰；陽明之上，燥氣治之，中見太陰；太陽之上，寒氣治之，中見少陰；厥陰之上，風氣治之，中見少陽；少陰之上，熱氣治之，中見太陽；太陰之上，濕氣治之，中見陽明：所謂本也。本之下，中之見也；見之下，氣之標也；本標不同，氣應異象。《內經》此旨，深遂難測，（《內經》文義皆極淺，實後人有意求深，反致支離無當。）即王太僕所注，亦不過隨文敷衍，未見透徹，唯張景岳本張子和之說而發揮之，洵足發蒙破扃，豁人心目也。具圖於後，而臚其說焉。（以下見陳修園書。）</p>
<figure>
<img alt="上中下本標中氣圖">
</figure>
<p>六經之氣，以風寒熱濕火燥為本，三陰三陽為標。本標之中見者，為中氣。如少陽、厥陰為表裡；陽明、太陰為表裡；太陽、少陰為表裡；表裡相絡，則彼此互為中氣也。</p>
<figure>
<img alt="臟腑應天標本中氣圖">
</figure>
<p>臟腑經絡標本者，臟腑居里為本，十二經居表為標，表裡相絡者居中為中氣。所謂絡者，表裡互相維絡，如足太陽膀胱經絡於腎，足少陰腎經亦絡於膀胱也。余經同此。</p>
<p>「至真要大論」曰：少陽、太陰從本，少陰、太陽從本從標，陽明、厥陰不從標本，從乎中也。何者？少陽、太陰從本者，以少陽本火而標陽，太陰本濕而標陰，標本同氣，故當從本。少陽、太陰亦有中氣，而不言從中者，少陽之中，厥陰木也，木火同氣，木從火化矣，故不從中也。太陰之中，陽明金也，土金相生，燥從濕化矣，故不從中也。少陰、太陽從本從標者，少陰本熱而標陰，太陽本寒而標陽，標本異氣，故或從本或從標，而治之有先後也。少陰、太陽亦有中氣，以少陰之中，太陽水也，太陽之中，少陰火也，同於本則異於標，同於標則異於本，故皆不從中氣也。至若陽明、厥陰，不從標本從乎中者，陽明之中，太陰濕土也，亦以燥從濕化矣。厥陰之中，少陽火也，亦以木從火化矣。故陽明、厥陰不從標本，而從乎中氣也。要之，五行之氣，以木遇火，則從火化，以金遇土，則從濕化，總不離乎水流濕，火就燥，同氣相求之義耳。然六氣從化，未必皆為有餘，知有餘之為病，亦當知其不及之難化也。夫六經之氣，時有盛衰，氣有餘則化生大過，氣不及則化生不前。從其化者，化之常，得其常，則化生不息；逆其化者，化之變，值其變，則強弱為災。如木從火化也，火盛則木從其化，此化之太過也。陽衰則木失其化，此化之不前也。燥從濕化也，濕盛則燥從其化，此化之太過也。土衰則金失其化，此化之不前也。五行之氣，正對俱然，此標本生化之理所必然者。化而過者宜抑，化而不及者不宜培耶。（上並見陳修園書。按：經文只論六氣，未及六經，圖下首署六經之氣，便自界限不清，有昧正義。後圖更以臟腑經絡為標本，雖至理之可通，究非本義之所有，何得與六氣標本並列耶？極意求合，反致轇轕不清，使讀者不能得其真際也。謹附辨於下。）</p>
<p>按：標本之義，本無定指。六氣之標本，以氣化之正變言也；臟腑經絡之標本，以人身氣血運行之表裡言也；病氣之標本，以病之因與證言也，又以病之本證與變證言也。三者各有專指，不可互相牽合。即有時偶合，亦不可為典要者也。如病者傷於天之厥陰風木之氣，而患少陽相火之熱病，此自六氣傳化之木火也，於十二經之少陽、厥陰何與耶？病者，邪由少陽內傳厥陰，或由厥陰外及少陽，此自十二經之表裡也，於六氣之木火何與耶？至若病因於寒，而見熱證，因於熱，而見寒證，與夫始熱終寒，始寒終熱，又自病氣之傳變也，於六氣六經之陰陽何與耶？經所以重言標本者，是專指氣化，欲人明於六氣傳化之機，庶幾臨治可以逆知病氣將來之傳變，而預防之。即有時病見假象，亦可以推明病氣之本，然而對治之矣。故曰知標與本，用之不殆；明知逆順，正行無問。不知是者，不足以言診。故《大要》曰：粗工嘻嘻，以為可知，言熱未已，寒病復始，同氣異形，迷診亂經，此之謂也。觀於此言，經之正義，非以明六氣傳化，各有陰陽，欲臨診者，知其寒熱真假乎，彼斤斤以六氣扭合臟腑經絡者，適背經而亂道耳。</p>
<p>又按：經所論標本中氣之三陰三陽者，是直指六氣之性情與其傳化也。六氣之性情，各有陰陽，陰陽又各有太少之不同也。如風以氣言也，是為本，風之性有少陽，有厥陰，少陽、厥陰是直指風之性，不得復以少陽為火，厥陰為風也。有性情即有傳化。有從少陽而見陽化者，有從厥陰而見陰化者，其必別之曰標。曰中氣者，凡氣之行，有體，有性，有傳化。體即本也；性藏於體，所謂中也；傳化，其標也。化陰化陽，原無定象。大概本氣屬陽者，中氣化陽，而標化陰也。如木火之性屬陽，則以陽為中氣，而標為陰矣。本氣屬陰者，中氣化陰，而標化陽也。如金水之性屬陰，則以陰為中氣，而標為陽矣。近於本者，為中氣之化；遠於本者，為標之化。此亦推其理之當然。至於氣之傳化不測，豈盡拘此，然不知其常，安知其變？經特明其常例，欲人有所據，以為講明之地耳。或曰：風以少陽為中氣，厥陰為標。少陽，火也；厥陰，風也。子謂不得復以少陽為火，厥陰為風，是何義也？曰：三陰三陽者，六氣之性情也，本不得以少陽即火，厥陰即風，況今既以風為本矣，何得復以風為標耶？故知中、標之陰陽，皆據其性情，以指其傳化之象也。經曰：風勝則動，熱勝則腫，寒勝則浮，燥勝則乾，濕勝則濡泄，甚則水閉胕腫。此六氣之象也。傷於風者，見動之象，少陽、厥陰，皆動象也；傷乾燥者，見干之象，大陰、陽明，皆乾象也。象也者，以其似也，以其類也。</p>
<p>又按：經云：三陰三陽者，引之可十，推之可百，引之可千，推之可萬。又云：天地陰陽者，不以數推，以象之謂也。後世拘拘以六氣牽合六經，並分析手足之六經，見其不合，即指為從化。（經文止論氣化之常，尚未及其變也。）真穿鑿支離，無當實用者也。蓋嘗綜論經義，有方位之三陰、三陽，有氣化之三陰、三陽，此其綱領也，而大旨不外於氣與象之義。南面而立，陽明在前，其後太陰；太陽在後，其前少陰；少陽在側，其內厥陰：此方位之說也。由是合之人身，前為陽明，後為太陽，兩側為少陽矣。凡從方位起義者以之，春氣西行，始於東，為厥陰木；夏氣北行，始於南，為少陽、少陰火；秋氣東行，始於西，為陽明金；冬氣南行，始於北，為太陽水：此氣化之說也。由是合之人身，心為太陽，肝為少陽，肺為少陰，腎為太陰矣。凡從氣化起義者以之。是故推之人身之形層，極表為太陽，次為陽明，次為少陽，次為太陰，次為少陰，最內為厥陰，此從方位之三陰、三陽變化而出者也。是故推之六氣之標本，風為少陽、厥陰，是直指風氣之性屬於陽之少、陰之厥也；火為太陽、少陰，是直指火氣之性屬於陽之太、陰之少也；燥為太陰、陽明，是直指金氣之性屬於陰之太、陽之明也。此從氣化之三陰、三陽變化而出者也。方位即所謂象也，氣化即所謂氣也。象，從氣生者也。「至真要論」曰：從本者化生於本，從標本者有標本之化，從中氣者以中氣為化也。即繼之曰：脈從而病反者，其診何如？曰：脈至而從，按之不鼓，諸陽皆然。諸陰之反，其脈何如？曰：脈至而從，按之鼓甚而盛也。是故百病之起，有生於本者，有生於標者，有生於中氣者，此即所謂標本不同，氣應異象，是因氣以成象者也。如厥陰之至，其脈弦者，厥陰之上，風氣治之，弦為風脈矣。然風之中氣少陽，而標厥陰，若從少陽之中化，厥陰之標化，脈皆不專弦也。何者？少陽、厥陰，乃風之性情所傳化之象也。若復以厥陰為風，是六氣標本無有不同矣。何為氣應異象耶？是故以脈言之，所謂厥陰之至，其脈弦者，即風木之脈也；少陰之至，其脈鉤者，即君火之脈也；太陰之至，其脈沉者，即濕土之脈也；少陽之至，大而浮者，即相火之脈也；太陽之至，大而長者，即寒水之脈也；陽明之至，短而澀者，即燥金之脈也。所謂本也，中標之三陰、三陽者，是直指其本性與傳化也。少陰始陰也，太陰盛陰也，厥陰陰盡而陽欲動也，少陽稚陽也，太陽至陽也，陽明光之盛，氣之餘也。故曰少陽脈至，乍數乍疏，乍短乍長；太陽脈至，浮大以長；陽明脈至，浮大而短；少陰脈至，緊細而微；太陰脈至，緊大而長；厥陰脈至，沉短而敦。此即三陰三陽太、少、厥、明之脈也，非六氣之脈也。所謂中標也。（景岳亦云前分六氣之性情，此言陰陽之盛衰。）陰陽之太、少、厥、明者，即氣化之盛衰，而雅其名者也。上中下云者，非真有此定位也，量其傳化之先後而名之也。故明於中氣標本，而後病證可得其真假矣，脈象可得其虛實矣，治法可定其逆從矣。按：五運六氣之外，又有九宮，出《靈樞·九宮八風篇》，講運氣者必深考之。</p>
<figure>
<img alt="附九宮八風圖">
</figure>
<p>太一常以冬至之日，居葉蟄之宮四十六日，明日居天留四十六日，明日居倉門四十六日，明日居陰洛四十五日，明日居天宮四十六日，明日居玄委四十六日，明日居倉果四十六日，明日居新洛四十五日，明日復居葉蟄之宮，曰冬至矣。（此一歲周遊九官也。）</p>
<p>太一日遊，以冬至之日，居葉蟄之宮，數所在日，從一處至九日，復反於一，常如是無已，終而復始。太一移日，天必應之以風雨，以其日風雨則吉，歲美民安少病矣。先之則多雨，後之則多旱。（原作汗誤。此逐日周遊之九宮也。）</p>
<p>太一在冬至之日有變，佔在君；太一在春分之日有變，佔在相；太一在中宮之日有變，佔在吏；太一在秋分之日有變，佔在將；太一在夏至之日有變，佔在百姓。所謂有變者，太一居五宮之日，病風折樹木，揚沙石。各以其所主占貴賤。因視風所來而占之。風從其所居之鄉來，為實風，主生長養萬物；從其沖後來，為虛鳳，傷人者也，主殺，主害者。謹候虛風而避之。故聖人避虛邪之道，如避矢石然，邪弗能害。此之謂也。</p>
<p>正月朔日，太一居天留之宮，其日西北風，不雨，人多死矣。正月朔日，平旦北風，春，民多死。正月朔日，平旦北風行，民病多者十有三也。（十七字疑衍文。）正月朔日，日中北風，夏，民多死。正月朔日，夕時北風，秋，民多死。終日北風，大病死者十有六。正月朔日，風從南方來，命曰旱鄉，從西方來，命曰白骨，將國有殃，人多死亡。正月朔日，風從東方來，髮屋揚沙石，國有大災也。正月朔日，風從東南方行，春，有死亡。正月朔日，天和溫，不風，糴賤，民不病；天寒而風，糴貴，民多病。此所謂候歲之風，賤傷人者也。二月醜，不風，民多心腹痛。三月戌，不溫，民多寒熱。四月已，不暑，民多癉病。十月申，不寒，民多暴死。諸所謂風者，皆髮屋折樹木，揚沙石，起毫毛，發腠理者也。</p>
<p>民之歲皆同病者，此八正之候也。候此者，常以冬至之日，太一立於葉蟄之宮，其至也，天必應之以風雨者矣。風雨從南方來者，為虛風，賊傷人者也。其以夜半至也，萬民皆臥，而弗犯也，故其歲民少病。其以晝至者，萬民懈惰，而皆中於虛風，故萬民多病。虛邪入客於骨，而不發於外，至其立春，陽氣大發，腠理開，因立春之日，風從西方來，萬民又皆中於虛風，此兩邪相搏，經氣結代者矣。故諸逢其風而遇其雨者，命曰遇歲露焉。因歲之和，而少賊風者，民少病而少死。歲多賊風邪氣，寒溫不和，則民多病而死矣。</p>
<p>是故太一人徙立於中宮，乃朝八風，以占吉凶也。風從南方來，名曰大弱風。其傷人也，內舍於心，外在於脈，其氣主為熱。（太一徙立中宮，果在何日，經無明文。今曆書神煞出遊還位日期，與此不同。景岳以為土王用事之期，亦於數不合。竊思當是每徙一宮，必先入中宮，而後徙也，但未知其數耳。）</p>
<p>風從西南方來，名曰謀風。其傷人也，內舍於脾，外在於肌，其氣主為弱。</p>
<p>風從西方來，名曰剛風。其傷人也，內舍於肺，外在於皮膚，其氣主為燥。</p>
<p>風從西北方來，名曰折風。其傷人也，內舍於小腸，外在手太陽脈，脈絕則溢，脈閉則結不通，善暴死。</p>
<p>風從北方來，名曰大剛風。其傷人也，內舍於腎，外在於骨與肩背之膂筋，其氣主為寒也。</p>
<p>風從東北方來，名曰凶風。其傷人也，內舍於大腸，外在於兩脅腋骨下及肢節。</p>
<p>風從東方來，名曰嬰兒風。其傷人也，內舍於肝，外在於筋紐，其氣主為身濕。</p>
<p>風從東南方來，名曰弱風。其傷人也，內舍於胃，外在肌肉，其氣主體重。</p>
<p>此八風，皆從其虛之鄉來，乃能病人。三虛相搏，則為暴病卒死。兩實一虛，病則為淋露寒熱。犯其雨濕之地，則為痿。故聖人避風如避矢石焉。其有三虛而偏中於邪風，則為擊骨偏枯矣。</p>
<p>黃帝曰：其有卒然暴死、暴病者，何也？少師答曰：三虛者，其死暴疾也。得三實者，邪不能傷人也。黃帝曰：願聞三虛。少師曰：乘年之衰，逢月之空，失時之和，因為賊風所傷，是謂三虛。故論不知三虛，工反為粗。帝曰：願聞三實。少師曰：逢年之盛，逢月之滿，得時之和，雖有賊風邪氣，不能危之也，命曰三實。</p>
<p>有一脈生數十病者，或痛，或癰，或熱，或寒，或癢，或痹，或不仁，其故何也？曰：此皆邪氣之所生也。真氣者，所受於天，與穀氣並而充身者也。正氣者，正風也，從一方來，非實風，又非虛風也。邪氣者，虛風之賊傷人也，其中人也深，不能自去。正風者，其中人也淺，合而自去，其氣來柔弱，不能勝真氣，故自去。虛邪之中人也，灑淅動形，起毫毛而發腠理，其入深，內搏於骨，則為骨痹。搏於筋，則為筋攣。搏於脈中，則為血閉不通，則為癰。搏於肉，與衛氣相搏，陽勝者則為熱，陰勝者則為寒。寒則真氣去，去則虛，虛則寒搏於皮膚之間，其氣外發，腠理開，毫毛搖，氣往來行，則為癢。留而不去，則痹。衛氣不行，則為不仁。虛邪偏容於身半，其入深，內居營衛，營衛稍衰，則真氣去，邪氣獨留，發為偏枯。其邪氣淺者，脈偏痛也。</p>
<p>上八風主病也，其義有二：自太一常以冬至之日居葉蟄之宮以下五節，是論民之歲皆同病者，主時行瘟疫之事，其風必揚沙石，折樹木者也。太一徙立於中宮以下十一節，是論民之暴病暴死者，主中風偏枯之事。其所敘八風與前不同，不必揚沙石，折樹木者也。至於尋常避風之法，以風來之頭勢為最厲，如遇大風猝至，急宜入戶避之，在途即捫口鼻，並用力努掙，使陽氣充於皮毛以御之。風過之腰，力稍緩矣。若旋風，氣尤惡，而力尤勁，能刺人筋骨，壞人五臟，令暴死者也。又有隙風，是因有物以逼之，使其力堅銳，如矢石然。故《千金方》謂有牆十丈，不可臥其下，使人偏枯。其時有不病者，以血氣之有虛有不虛也。經稱三虛，其年衰，非謂衰老，謂生命與流年之剋制也。月空，義詳《素問·八正神明論》中。失時之和，非時之氣，所謂得四時之勝也。又「邪氣臟腑病形篇」曰：邪氣方乘虛時，及新用力，若飲食汗出，腠理開，而中於人也。風為百病之長，其變化能令人寒，能令人熱，能令人燥，能令人濕，入胃則令人狂吐，入肺則令人狂咳，寒熱灑淅，時時汗出。挾燥者，更痰厚如膿，氣味腥濁，兩脅脹痛，大便秘結，此燥氣伏於肺中，《內經》所謂勞風法在肺下也。近有誤以肺癰治之致死者。風能生蟲，蟲生怪證，久風不去，或蟲生於腸胃，或蟲生於血脈，而天下無名怪證作矣。大抵風性銳，其化最速。又風性動，其氣易散。若傷之淺者，頗視寒濕為易開，一與痰血相紐，刺入經脈之中，斯不可拔耳。</p>
