<header data-type="book">
<h1>腳氣概論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>岡田昌春等</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015279">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫雖小道。天下蒼生性命所繫。固已非末藝之可以比也。故能原於醫經經方之旨。精究其術而博施濟眾。始可稱醫也。近年腳氣之證最多。各家方論。撰述浩繁。日競新月爭奇。以唱一家之說。或背經訓而好自用。或泥故常而不知變通。如此而任人之生死。譬猶工之不費鍛鍊。農之不務耕耨。而求其利。希其秋。腳氣之治。嗚呼亦難矣哉。夫腳氣之為病。風會遷變。時有不同。近年嬰斯疾者益多。致橫夭者亦為鮮。恭惟朝廷至仁。涵育群生。痌瘝一體。以周救元元為念。於明治十一年六月。創立腳氣病院。以救民瘼。於是余輩深體聖意。謹奉官准。與高島祜啟（久也）下條貞固（通春）淺田子誠（惟斆）松山資剛（挺）等及有志諸子相議。以其八月開病院於本兩替坊。名曰博濟堂。推慄園淺田翁為院長。其年所療殆數百名。危候險證頗多。而上鬼籙者。僅百分之二。又足以見多年曆驗之實效矣。慄園翁尤為與有力焉。因輯其方論。里為一編。顏曰博濟堂腳氣概論。考證精核。該括古今。折衷群言。探源窮委。挈綱提要。辨別陰陽。較量風土。證分乾溼。治殊緩急。旁及婦人。並艾灼攝養之法。收採無遺。苟熟讀斯書。施之於實際。得通變活潑之妙。則於腳氣之治法。無復余蘊。豈唯為此院之模範耶。庶幾沐浴昭代深仁懿澤。萬一涓涘有補乎川岳。亦竊所為幸也。因今活字印刷。以貽同志。欲表博施濟眾之意。余輩淺學孤陋。濫竽衛生之家。而負專任之責。不能肯辭。遂忘駑鈍。記顛末以為序。</p>
<p><u>明治十二年五月岡田（昌春）柔克清川（玄道）念祖謹撰</u></p>

<h2>凡例</h2>
<p>一此書顓要知院中諸子治腳氣之軌範。故揭證候簡明。治法襯切而已。若夫證候明備。治法區別。則詳於千金。外臺。聖惠。聖濟。及本邦醫心方。萬安方。等書。宜就而參考。</p>
<p>一腳氣治方。仲景以降。歷代諸法。及本邦所傳亦頗多。然地異風殊。時移物換。自不能無損益。今特採切於施用者。是所以名概論也。</p>
<p>一腳氣證候多端。鮮有能分析之者。今提其要領。分為九道。以論說治法附之。以便覽觀。</p>
<p>一腳氣有並傷寒者。有並瘧痢者。有並停飲蛔蟲者。有並黴毒疥癬者。有大病產後並之者。宜審其本證。先治其急者而已。其稍涉輕緩。可以從容調理者。非此篇所關。故置不錄。</p>
<p>一每方出典。多隨見採摘。未遑一一尋究。恐未免差錯。且如本邦諸方。悉出於先哲實驗。而載籍未備。姑以本朝經驗四字標之。</p>
<p>一證有遲速重輕。藥有多寡緩急。務在臨時斟酌。故方劑藥量亦適其宜。而不可執滯。此篇所以分兩升合略之而不錄也。用者當視病輕重。察藥緊慢。酌古准今以裁之。</p>
<p>一如紫雪。黑錫丹。控涎丹靈砂丹之類。諸病通用套法。故不具錄。</p>
<p>一腳氣之外治。有針灸渫洗砭刺諸數方。然渫洗及熨注等。間有為大害者。而如針灸則在初起與少瘥後最效矣。故今揭其大法耳。</p>
<p>一腳氣證最要嚴禁忌。慎攝養。若犯之則雖處方適宜。不能獲效。此宜懇諭而深戒。</p>
<p>一此病老人小兒少患者。間有之。不如少壯急劇之證。故治法不別舉。若夫婦人自有與男子異治者。因附錄之。以俟臨證者酌其人之稟賦。病之主客。而變通焉。</p>

<h1>腳氣概論</h1>

<h2>腳氣統論</h2>

<h2>論腳氣異名</h2>
<p>千金方曰。黃帝云緩風濕痹是也。外臺引蘇長史論曰。晉宋以前。名為緩風。古來無腳氣名。後以病從腳起。初發因腫滿。故名腳氣也。醫說曰。腳氣古謂之緩風。又謂之厥者。是古今之異名也。楊大受曰。古無腳氣。內經名厥。兩漢名緩風。宋齊謂腳氣。張景岳曰。腳氣之說。古所無也。自晉蘇敬始有此名。然其腫痛麻頑。即經之所謂痹也。其縱衍緩不收。即經所謂痿也。其甚而上衝。即經之所謂厥也。</p>

<h2>論腳氣即古尰疾</h2>
<p>毛詩小雅巧言篇云。既微且尰。鄭玄箋云。此人居下濕之地。故生微腫之病。人憎惡之。故言女勇伊何。何所能也。是也。</p>

<h2>論腳氣即古重膇</h2>
<p>左傳韓獻子曰。郇瑕氏土薄水淺。其惡易覯。易覯則民愁。民愁則墊隘。於是乎有沉溺重膇之病。不如新田土厚水深居之不疾。有汾澮以流其惡。通鑑陸遜上疏云。郁霧冥其上。鹹水蒸其下。善生流腫。轉相汙染。胡三省注曰。流腫者謂毒氣下流足為之腫。古人謂之重膇。今人謂之腳氣。</p>

<h2>論腳氣即古呰窳</h2>
<p>史記曰。楚越之地。烹海為鹽。飰稻羹魚。地勢饒食。不待賈而足。以故呰窳。注呰弱也。窳病也。羸弱而足病也。枚乘七發云。手足隋窳。季善注曰。窳弱也。千金云。此病發初得先從腳起。因即脛腫。時人號為腳氣。深師云。腳弱者即其義也。按腳弱始見名醫別錄。及通鑑晉安帝義熙六年條。而腳氣名亦見梁武帝書。則其來尚矣。</p>

<h2>論腳氣即素靈痿厥</h2>
<p>生氣通天論云。秋傷於濕。上逆而咳。發為痿厥。王冰注云。陰陽應象大論曰。地之濕氣感。則害皮肉筋脈。故濕氣之資發為痿厥。厥謂逆氣也。異法方宜論云。中央者其地平以濕。天地所以生萬物也眾。其民食雜而不勞。故其病多痿厥寒熱。王冰注云。濕氣在下。故多病痿弱氣逆及寒熱也。按素靈稱痿厥者。皆當作蹶。後世所謂腳氣是也。王冰注曰。厥論云。厥謂氣逆上也。世謬傳為腳氣。廣飾方論焉。後人皆主王說。但林億千金方凡例云。古以蹶為腳氣。雞峰方云。夫中央者其地平以濕。法土德之用而生物也眾。故中國之人食雜而不勞。是以多痿厥。今考素問五藏生成論。血凝於足者為厥。及痿厥之厥。皆蹶字之義。竟與厥論所說之厥不同。說文蹶僵也。呂氏春秋盡數篇。處足則為痿為蹶。本生篇招蹶之機。重己篇多陰則蹶。多陽則痿。此後世所稱腳氣。而高誘注以逆。寒寒疾釋之。是以厥解蹶。謬也。按靈樞陰陽二十五人篇云。痿厥足痹亦同義。醫學綱目云。腳氣頑痹厥痛為痹厥。足痿軟不收為痿厥。腳氣衝心為厥逆。恐泥矣。</p>

<h2>論腳氣天下遍有</h2>
<p>千金云。近來中國士大夫。雖不涉江表。亦有居然而患之者。良由今代天下風氣混同。物類齊等所致之耳。外臺蘇長史論云。近入京以來。見在室女及婦人或少年學士得此病者。皆以不在江嶺。庸醫不識以為他病。皆錯療之。多有死者。風氣毒行。天下遍有。非獨嶺間也。</p>

<h2>論漢土腳氣古今異治</h2>
<p>劉茝庭曰。唐以上所謂腳氣。即今之腳氣。而宋以降所謂腳氣。蓋不過尋常腳痹腳痛等。而所為腳氣。殆非今之腳氣。豈風會變遷。時有不同乎。又曰焉知後來腳氣。更非今日之腳氣。醫者宜同時措施已。按本邦腳氣病。始見於日本後紀大同三年藤原緒嗣辭職表。而天元中丹波康賴著醫心方。立腳氣一門。鑿鑿論此病。降至嘉元之間。梶原性全著萬安方。亦載其治方百餘首。則知我邦千年以來。已有斯病也。厥後四海鼎沸。干戈相接。此病寥寥莫聞。迨近世再盛。其症候與晉唐所論同轍。是亦風會變遷。時有不同也。</p>

<h2>論本邦腳氣古今異證</h2>
<p>香川景與曰。腳氣之證。漢唐錯家。所論腳弱腫滿氣急衝心。及不仁麻痹等之症。吾邦振古以來曾無之。但有腳氣痹痛之症耳。故不別立一門。而附諸痛痹。先人已故。自寶曆年間。始有斯病。其證候全若漢唐諸家所論。然多發於夏秋之間。春冬稀有之。多在男子壯年之人。在弱齡之人。及婦人者甚鮮矣。爾來此病盛行。死者亦不少矣。蓋此病雖自足發。而病根在腹。故心下解豁者。縱令諸症重者多易愈。心下硬緊則難治。可觀其根在腹也。又有蓄瘀血瘀汁之人。兼時氣而發者也。恰如疥癬用速愈法。而內攻毒氣入腹水脹氣急者。故欲治此症者。不問足。須問腹如何。雖腫消麻解。而腹裡病不除。必再發。可不慎哉。</p>

<h2>論腳氣由風毒</h2>
<p>千金云。夫風毒之氣。皆起於地。地之寒暑風濕。皆作蒸氣。足常履之。所以風毒之中人也。必先中腳。久而不瘥。遍及四肢腹背頭項也。劉茝庭曰。今推真人意。蓋寒暑風濕鬱蒸傷人。皆名風毒。非別有風毒者。</p>

<h2>論腳氣因飲氣下流</h2>
<p>外臺許仁則曰。腳氣有數種。有飲氣下流以成腳氣。飲氣即水氣之漸。亦有腎氣先虛。暑月承熱。以冷水洗腳。濕氣不散。亦成腳氣。李東垣曰。夫乳酩醇酒者。濕熱之物。飲之屬也。加以奉養太過。亦滋其濕。水性潤下。氣不能呴。故下注於足脛。積久而成腫滿疼痛。此飲食下流之所致也。</p>

<h2>論腳氣由腎虛</h2>
<p>外臺蘇長史論云。腳氣之為病。本由腎虛多中肥溢肌膚者。無問男女。若瘦而勞苦。肌膚薄實。皮膚厚緊者。縱患亦無死憂。濟生方云。觀夫腳氣皆由腎虛而生。然婦人亦有病腳氣者。必因血海虛。乘宿塊嗔恚哀慼悲傷。遂成斯病。兼令婦人病此者眾也。知婦人血海虛而得之。與男子腎虛類矣。治婦人之法。與男子用藥固無異。但兼以治憂恚藥。無不效也。</p>

<h2>論腳氣有內外</h2>
<p>景岳全書云。腳氣之因有二。一則自外而感。一則自內而致也。自外而感者。以陰寒水濕雨霧之氣。或坐臥濕地。致令濕邪襲人皮肉筋脈。而凡清濕襲虛。則病始於下。致為腿足之病。此外因也。自內而致者。以肥甘過度。酒醴無節。或多食乳酪濕熱等物。致令熱壅下焦。走注足脛。面目漸腫痛。或上連手節者。此內因也。然在古人謂南方卑濕。病多外因。北方嗜酒酪。病多內因。此固一說。然北方亦有寒濕。南方豈少酒濕。此固不必分南北。按此說本出李杲醫學發明。醫學正傳。醫燈續焰。亦有說可參考焉。</p>

<h2>論腳氣有乾溼</h2>
<p>千金云。腳氣不得一面以腫為候。亦有腫者。有不腫者。其小腹頑痹不仁者。腳多不腫。小腹頑痹後不過三五日。即令人嘔者。名腳氣入心。如此者死在旦夕。外臺許仁則曰。有乾溼二腳氣。濕者腳腫。乾者腳不腫。漸覺枯燥。皮膚甲錯。聖濟云。腳氣有乾溼之異者。蓋陰陽所自分也。在藏為陰。在府為陽。然皆由風濕毒氣乘虛而入。其證大同小異。故乾腳氣之狀。血脈否澀。皮膚𤸷痹。脛細痠疼。食減體瘦。藏府秘滯。上衝煩悶。濕腳氣之狀。腳先腫滿。或下注生瘡。肌汁流下。兩腳熱疼。上攻心腹。咳嗽喘急。面浮膝腫。見食嘔吐。馮魯瞻曰。凡腫者名濕腳氣者。筋脈弛長而軟。或浮腫是也。治宜利濕疏風。如不腫者。名乾腳氣者。干即熱也。筋脈踡縮攣痛。枯細而不腫者是也。治宜潤血清燥。有從外感者。有從內傷者。其為濕熱則一而已。林氏活人編云。腳氣治法。乾腳氣初則疏散。中則和解。末則潤下。濕腳氣初亦疏散。中亦和解。未則宜乎清補。婦人腳氣亦有乾溼之別。顧氏曰。今揚地俗呼亦有公母之稱。公腳氣其痛也腫而色白。治之縱愈。不能望其生育。因其血氣大虧。經必過期而至。慳澀無多。母腳氣其痛也。腫而色紅。其熱如烙。經多先期而至。治之如法。尚可望其生育</p>

<h2>論腳氣脈異他病</h2>
<p>腳氣之脈。大抵浮弦起於風。濡弱起於濕。洪數起於熱。遲澀起於寒。沉而伏為毒在筋骨。指下澀澀不調。為毒在血分。而又有一種可惡之脈。巢源云。病人脈浮大而緊駃。此是三品之中最惡脈也。或沉細而駃者。此脈正與浮大緊者同是惡脈。浮大者病在外。沉細者病在內。治亦不異。當消息以意耳。其形或尚可。而手腳未及至弱。數日之內上氣即死。小品云。脈浮大者病在表。沉細者病在裡。脈浮大緊駃者。三品之中最惡脈也。按駃脈腳氣之外鮮觀。而嬰兒或傷寒問有之。傷寒總病論云。脈朝夕駃者實癖也。可下之。朝平夕駃者。非癖也。不可下。駃謂數脈六七至者也。幼幼新書引嬰童寶鑑云。兒三歲至七歲。其脈駃一息七八至為平。蓋嬰兒性聲高脈急。固非大人之比。而腳氣與傷寒。邪勢猖獗。不可摸捉。故現此脈狀也。</p>

<h2>論腳氣似傷寒</h2>
<p>郭雍曰。傷寒頭疼身熱支節痛。大便秘。或嘔逆。而腳屈弱者腳氣也。傷寒只傳六經。故症與腳氣相似。然終不同者。孫真人云。卒起腳屈弱不能轉動者。此為異耳。其脈弦而浮者起於風。濡而弱者起於濕。洪而數者起於熱。遲而澀者起於寒。風者汗而愈。濕者溫而愈。熱者下而愈。寒者熨而愈。腳氣之病。始得不覺。由他病乃知。毒氣入腹。則少腹頑痹不仁。令人嘔吐。死在旦夕矣。然腳氣之候。必先從腳起。或先緩弱疼痛。（寒勝為痛痹。）或行起忽倒。或兩脛腫滿。或不腫。腳膝枯細。或心中忪悸。或少腹不仁。（病久入深。營衛不榮。故為不仁。不仁者皮膚頑木不知是也。）或舉體轉筋。或見食吐。遂惡聞食氣。或胸滿氣急。或遍體痠疼。皆腳氣候。黃帝所謂緩風痹是也。頑弱名緩風。疼痛為濕風痹。（痹者閉也。而不仁故名痹。）朱肱云。頭疼身熱。支節痛。大便秘。或嘔逆。而腳屈弱者。此名腳氣也。傷寒只傳足經。不傳手經。地方寒暑風濕。皆作蒸氣。足當履之。遂成腳氣。所以病證與傷寒相近。林氏活人編云。腳氣與傷寒原屬二症。難以溷淆。只有寒熱嘔逆。及三陰三陽。傳變深淺。與傷寒相似。故曰類也。若論致死之因。凡風寒暑濕之邪。無不由於經絡。而傳於六腑以至五臟。自輕至重。自重至危。何獨腳氣為然。而必與傷寒並論哉。按腳氣與他病相併者。不止傷寒。如痢後瘧後產後。往往發之。蓋五內未調。氣血不健。而成麻痹痿弱。腳浮腫者。宜審其似者與並者。而為之處療矣。董西園醫級云。腳氣之候。傷寒有傷之名。謂其有寒熱巔疼之證也。然實則本於濕。因經言傷於濕者。下先受之。可見是證之要。總以治濕為主。但當分寒熱二者。當以赤腫者為熱。寒浮不赤為寒。兩辨既明。自無貽誤。</p>

<h2>論腳氣衝心候</h2>
<p>聖濟云。腳氣衝心之狀。令人胸滿。上氣喘急。甚者嘔吐是也。蓋風濕毒氣。初從足起。縱而不治。至於入腹。小腹𤸷痹不仁。毒氣上衝。是謂腎水尅。心火。故謂腳氣衝心。孫思邈曰。凡小覺病候有異。即須大怖畏。決意急治之。不可概以腫為候。亦有不腫者。正謂此也。按衝心之候。正在膻中。蓋其毒潛匿心胸。阻閡血隧。則血往而無所還。逆行而逼心。當此際動悸築築然見於膻中。譬猶奔泉之激石。洪流之觸洲。水怒浪翻。所以毒之衝心胸可徵矣。又當其初起。有忽然見動悸者。是尤惡候。其禍不可測。又雖有短氣嘔吐心胸煩悶等惡候悉備。然膻中無動者。必無衝心之虞矣。</p>

<h2>論腳氣壅疾</h2>
<p>外臺云。夫腳氣者壅疾也。消渴者宣疾也。春夏陽氣上。故壅疾發即宣疾愈也。秋冬陽氣下。故宣疾發壅疾愈也。審此二者。疾可理也。楊氏曰。腳氣是為壅疾。治當以宣通之劑。使氣不能成壅也。若壅既成而盛者。砭惡血以消腫熱。砭之後以藥治之。</p>

<h2>論腳氣色診</h2>
<p>橘元周曰。夫平人縱理致密。色黑有光。如脹不脹。循之不留。皮膚滑堅。時緩時急。其色亦不同。帶黑則毒盛。見白則毒緩。常或頭痛。或齒根痛。或目赤耳聾。時見衄血。腹裡拘攣。腰腳軟痛。且其人多性急過思慮。又灸瘡不發。乾枯落痂者。皆腳氣也。神機精微以言不可盡。明者其深察焉。又曰。古來諸書。皆以風寒暑濕外來客邪立論。故謂肥白肉軟難已。瘦黑肉硬易治也。今予說郁毒果在內非由外。譬猶痘瘡本胎毒。因有時氣所觸而發。腳氣亦本郁毒。因有時氣所觸而發。痘瘡為膿疱靨痂。故不復發。如腳氣無膿疱。故雖得瘥者。或至一二年。復更發動也。視有其時氣所觸。而以為風寒暑濕即病腳氣者。因循舊貫。無如之何耳。夫肥白肉軟者毒輕。其治早則易治。瘦黑肉硬者毒盛。其治晚則難愈。何必以黑白瘦肥為易難哉。予經試多有因郁毒而見皮膚黑脹者。唯是以毒之輕重決吉凶。不強拘肥白瘦黑也。今驗之病者。是說大信。</p>

<h2>論腳氣外發諸法</h2>
<p>凡腳氣得之於侵雨涉水。或坐臥濕地。或勞動中風。或飢飽不時。若大兵之後。若凶慊之時者。皆系外因。宜發泄表氣運輸水血之劑。若雖屬於內因者。苟有表證。宜效此法。聖惠云。縱甚羸亦須微微通泄。亦宜時取汗是也。</p>

<h2>論腳氣內疏急治諸法</h2>
<p>腳氣不內外二因。凡有里症者。宜疏氣利水。若緩忽失治。勢必衝突至攻心。故少覺心下痞悶動氣在胸腹。則宜瓜茱檳樸之類。若至煩悶嘔吐。上氣衝心。則非金石鎮墜之品。則不能救。所以有急治之設也。</p>

<h2>論腳氣內疏緩治諸法</h2>
<p>腳氣之疾。古人以急治為要。然其證緩者。方劑亦不無斟酌。所以有內疏緩治之法也。</p>

<h2>論腳氣滲利滌瀉諸法</h2>
<p>腳氣固忌大泄大補。然水毒劇甚。有滔天之勢者。非峻瀉則不能救一時之急。況其滲尿疏泄之劑。在所專用乎。</p>

<h2>論腳氣滋養諸法</h2>
<p>腳氣固忌補。古人有儆戒。然其人精氣虛。麻痹痿弱不振者。非滋補劑不能起之。濟生方云。入冬已後。須量人之盛衰。微加滋補。不然則氣血日衰。必使年年遇蒸熱而作。理之必然也。</p>

<h2>論腳氣灸法</h2>
<p>孫思邈王燾專用灸炳。蓋取之於溫導經脈。宣通壅塞。如𤸷痹麻木。痿躄緩縱。拘急轉筋者。宜灸其腰腳。凡灸而不覺熱者。其毒深也。灸至覺熱為佳。凡灸炳加多無妨。待身體輕捷。然後可休矣。</p>
<p>千金云。若欲使人不成病者。初覺即灸所覺處二三十壯。因此即愈不復發也。</p>
<p>又云。毒氣外滿。則灸漏其氣。內滿則藥驅之。</p>
<p>蘇恭曰。凡腳氣內須服藥攻擊。外須膏摩火灸發泄等。並是腳氣之要。</p>
<p>又云。凡人雖不患腳氣。但苦腳膝疼悶。灸此無不應手即愈。極為要穴。</p>
<p>又云。腳氣初發轉筋者。灸承山承筋二穴。（或云承山穴凡宜腳氣其效勝於八處穴）</p>
<p>外臺側子酒條云。須隨病內外灸三兩處以泄氣。</p>
<p>徐王曰。比見毒氣攻處疼痛如刺。隨病即灸。火徹便瘳。不拘上下。凡毒氣所沖。如賊欲出。得穴即出。豈在大門也。</p>
<p>唐論云。凡灸不廢湯藥。藥攻其內。灸泄其外。譬如開門驅賊。賊則易出。若閉戶逐之。賊無出路。當反害人耳。</p>
<p>丹溪心法云。外以附子末。津唾調敷湧泉穴。以艾灸之。引熱下行。</p>
<p>一閒齋云。腳氣初得腳弱痹疼。速可灸。並服越婢湯。惟急速治之。病輕者則愈。灸壯不多者。惟差復更發。或以年月日時發動者。至氣急殺人。慎之。</p>

<h2>論腳氣攝養法</h2>
<p>外臺云。不得露足當風。入水以冷水洗腳。雖夏月常須著綿裩。至冬寒倍令兩脛溫暖。得微汗為佳。常令按摩數勞動關節。令氣血通暢。此養生之要。拒風濕之法也。</p>
<p>養老新書云。湧泉穴在足心。濕氣皆從此入。日夕之間。常以兩足赤肉。更次用一手握指。一手摩擦數百。多時覺足心熱。即將腳指略略動轉。倦則少歇。或令人擦之亦得。終不若自擦為佳。腳力強健。無痿弱痠痛之疾矣。</p>
<p>東垣曰。凡飲食之後。宜緩行二三百步。疲倦即止。如此則不能成壅也。</p>
<p>腳氣所因有濕邪中足。壅塞經脈而致者。有腎氣不足。飲水失道而致者。有高粱過度。脾胃濕鬱而致者。故預防之法。忌久坐陰濕地。或著滋濕衣。或冒霧而行。或步久雨乍晴地氣蒸過之處。忌食魚鳥餅粢一切厚味。忌大酒及醉睡。忌欲事達度。及醉後入房。忌久坐久立。及行步勞動。俱失其節。慎茲五者。則不止腳氣。而諸病不生。誠久視之良訣也。（櫟蔭遺說）</p>

<h3>腳氣痹攣</h3>
<p>腳氣痹攣者。濕邪著筋脈也。濕邪著筋脈。則攣痹不能轉移。艱於步履。不可屈伸。是為腳氣初起之候也。</p>
<p>千金越婢加朮湯。治肉極。熱則身體津脫。腠理開。大汗泄。厲風氣。下焦腳氣。</p>
<p>即金匱越婢湯加朮。</p>
<p>按松原閒齋曰。初起膝脛不仁。痹不能行。腳弱歷節疼痛。或不能屈伸者。宜此方。</p>
<p>聖濟越婢湯。治風毒腳氣。痹攣行步不遂。</p>
<p>即金匱越婢湯加朮附子。</p>
<p>按張路玉曰。風毒腳氣。濕壅最甚。非藉附子之大力。無以開之。今以朮附匯入越婢湯中。即是近效。白朮附子。而兼越婢之制。得此金錍。何憚堅壘不克。</p>
<p>同風引湯。治腳氣痹攣。風毒攻注。腳疼痛。</p>
<p>獨活　防風　當歸　茯苓　大豆　人參　乾薑　附子　石斛</p>
<p>上九味</p>
<p>按張路玉曰。風引末疾。而四肢引動也。故立方專以朮附為主。而兼麻黃。越婢。麻附細辛。麻杏石甘。苓桂術甘。甘姜苓朮等之制。其金匱六石風引湯。千金更名紫石散。列之腸腑風癲門中。與此風馬牛不相涉也。蓋金匱風引湯。治腳氣。陳念祖悉之。說具於後。</p>
<p>同防己湯。治腳氣攣痹。或四肢攣腫。不可屈伸。</p>
<p>防己　桂　麻黃　茯苓　桑根白皮　芍藥　甘草</p>
<p>上七味</p>
<p>聖惠檳榔散。治腳氣春夏防發。宜此疏風調氣。</p>
<p>檳榔　獨活　茯苓　枳殼　羚羊角　沉香　大黃　芎藭　甘草　生薑</p>
<p>上十味</p>
<p>千金風緩湯。治腳氣舉體痹不仁。熱毒氣入臟。胸中滿塞不通。食即嘔吐。</p>
<p>獨活　麻黃　犀角　半夏　大棗　烏梅　桂枝　鱉甲　升麻　橘皮　枳實　甘草　吳茱萸　大黃　生薑　石膏　貝齒</p>
<p>上十七味</p>
<p>按此亦大鱉甲湯類方。腳氣用鱉甲。後人不詳其義。治療雜話云。瘧及腳氣之痞。非鱉甲則不能奏效。永田德本曰。腳氣之治。不在腳而在腹。此所以用檳榔鱉甲也。</p>
<p>同石膏湯。治腳氣風毒。熱氣上衝頭面。面赤矜急。鼻塞去來。來時使人昏憒。心胸恍惚。或苦驚悸。身體戰掉。手足緩縱。或酸痹。頭目眩重。眼反鼻辛。熱氣出口中。或患味甜諸惡不可名狀者。</p>
<p>石膏　龍膽　升麻　芍藥　貝齒　甘草　鱉甲　黃芩　羚羊角　橘皮　當歸</p>
<p>上十一味</p>
<p>聖濟小鱉甲湯。治身體微腫。心胸痞滿壯熱。小腹重。兩腳痹弱。</p>
<p>鱉甲　升麻　黃芩　麻黃　羚羊角　前胡　烏梅　杏仁　桂</p>
<p>上九味</p>
<p>按此方比風緩湯甚簡易用。宜斟酌增損而用之。</p>
<p>三因六物附子湯。治寒濕腳氣。痠痛不仁。兩尺脈來沉細者。此痹症也。此方主之。</p>
<p>附子　桂枝　白朮　甘草　防己　茯苓</p>
<p>上六味</p>
<p>按仲景甘草附子湯。千金名四物附子湯。云體腫者加防己四兩。悸氣小便不利。加茯苓三兩。陳氏據之合為一方也。</p>
<p>本朝經驗桂枝加朮苓附湯。治腳弱緩風。</p>
<p>即桂枝湯加朮。茯苓。附子。</p>

<h3>腳氣腳膝腫痛</h3>
<p>腳膝腫痛者。風寒濕氣客於經絡。氣血不能宣通。則壅滯為腫。凝塞為痛也。蓋邪氣初中。但在於下。而未及乎上。所謂傷於濕者。下先受之也。疏導其下。固護其中。法斯善矣。</p>
<p>聖濟防風湯。治風毒腳氣無力。𤸷痹疼痛。四肢不仁。失音不語。及風毒衝心。</p>
<p>防風　大棗　桂　麻黃　當歸　檳榔　犀角　茯苓</p>
<p>上八味</p>
<p>千金犀角麻黃湯。專治腳氣屬實熱者。</p>
<p>犀角　麻黃　防風　獨活　防己　芎藭　白朮　羚羊角　當歸　黃芩　石膏　生薑　甘草　杏仁　桂心</p>
<p>上十五味。一方有茯苓。附子。細辛。無獨活。羚羊角。杏仁。</p>
<p>按此方諸書載在衝心門。然專治腳氣。風毒腫痛屬實熱者效。本邦老醫傳云。治腳氣腫。脈數。小便赤澀。毒氣犯血而發熱者得之。</p>
<p>直指追風毒剉散。治腳氣熱多證。疏泄風毒。</p>
<p>羌活　檳榔　防風　桑白皮　郁李仁　大黃</p>
<p>上六味黑豆百粒煎服。</p>
<p>按犀角麻黃湯證。而屬裡實者宜此方。其效優於羌活導滯湯。</p>
<p>寶鑑當歸拈痛湯。治濕熱為病。肢體煩疼。肩背沉重。胸膈不利。下注於脛。腫痛不可忍。</p>
<p>羌活　茵陳　黃芩　甘草　知母　澤瀉　茯苓　豬苓　白朮　防風　人參　苦參　升麻　乾葛　當歸　蒼朮（吾門常去白朮人參不用）</p>
<p>上剉作一貼。水二盞。浸藥少時。煎至一盞。空心臨臥各一服。一相公領兵至南方。忽得腳氣。遍身微腫。其痛手不可近。足脛尤甚。內經云。飲發於中。胕腫於下。又云。諸痛為實。血實宜決之。以三稜針數刺其腫上。血突出高二尺余。漸漸如線。其色黑紫。頃時腫消痛減。以當歸拈痛湯服之。是夜得睡。明旦再服而愈。又云廉平章。體肥得腳氣微腫皆赤色。足脛腫痛不可忍。手不敢近。投以當歸拈痛湯一貼。其痛減半。再服腫痛悉除。</p>
<p>醫方大成檳蘇散。治風濕腳氣痛。疏通氣道。</p>
<p>即和劑局方。香蘇散加檳榔木瓜。</p>
<p>簡易普濟神效檳蘇散。治腳氣如神。</p>
<p>檳榔　蘇葉梗　防風　羌活　當歸　木瓜　乳香　沒藥</p>
<p>上薑蔥水酒煎。入片糖一指大溶化熱服。酒隨量飲為度。綿被蓋腳痛。待藥力尋到。痛處汗出避風。以有汗為愈。道按麻痹腨脹痛不可忍者。屢用屢效。婦人更效。</p>
<p>楊氏趁痛散。治濕攻注腰腳疼痛。行步少力。</p>
<p>沒藥　杜仲　延胡索　當歸　肉桂　萆薢</p>
<p>上六味為末</p>
<p>同攢風散。專治寒濕腳氣。先用此發散。</p>
<p>麻黃　甘草　淮烏　萆薢　杏仁</p>
<p>上五味</p>
<p>新效方防己飲。治風毒腳氣。</p>
<p>防己　蒼朮　黃柏　生地黃　川芎　木通　白朮　甘草　檳榔　黃連　犀角</p>
<p>上十一味</p>
<p>按丹溪心法。防己飲亦同之。壽世保元云。治腳氣憎寒壯熱者。此濕熱在足也。</p>
<p>醫學從眾雞鳴散。治腳氣第一品藥。不問男女可服。如感風濕流注。腳痛不可忍。筋脈腫者。並宜服之。加鹿茸者。其效如神。（時方歌括云。其服於雞鳴時奈何。一取其腹空。則藥力專行。一取其陽盛。則陽藥得氣也。其必冷服奈何。以濕為陰邪。冷汁亦為陰屬。以陰從陰。混為一家。先誘而後攻之也。）</p>
<p>即外臺唐侍中一方加桔梗。</p>
<p>拔粹方除濕丹。治諸濕客傳腰膝重痛。足脛浮腫。</p>
<p>檳榔　甘遂　威靈仙　芍藥　葶藶　乳香　沒藥　牽牛子　大戟　陳皮</p>
<p>上十味糊丸</p>
<p>金匱翼加味二妙丸。治兩腳濕痹疼痛。或如火燎。從足胕熱起。漸至腰胯。或麻痹痿軟。皆是濕熱為病。此藥主之。</p>
<p>蒼朮（四兩）　黃柏（二兩）　川牛膝（一兩）　防己　當歸尾　川萆薢　龜版（各一兩）</p>
<p>上為細末。酒煮麵極熟。糊丸如梧子大。每一百丸。空心姜鹽湯下。</p>

<h3>腳氣腫滿</h3>
<p>腳氣腫滿。漸成水狀者。濕邪壅塞氣血。水氣散溢。滲於皮膚。流遍四肢也。蓋水濕二氣。內外合邪。積而成滿。閉而成脹。則忽有衝心之虞。不可緩也。</p>
<p>聖惠漢防己散。腳氣通身浮腫。小便不利。氣壅煩悶。脅連膀胱虛脹。上氣喘促。坐臥不得。</p>
<p>漢防己　桑根白皮　澤瀉　茯苓　木通　郁李仁　豬苓　檳榔　紫蘇莖葉　生薑</p>
<p>上十味</p>
<p>拔粹方桑白皮散。治腳氣盛發。兩腳浮腫。小便赤澀。腹脅脹滿。氣急坐臥不得。</p>
<p>桑白皮　郁李仁　茯苓　木香　防己　大腹子　紫蘇子　木通　檳榔　青皮</p>
<p>上十味</p>
<p>按活人書云。治腳氣浮腫。尿澀氣急腹滿。驪家醫言云。治婦人腳氣。</p>
<p>外臺黑豆湯。療腳氣遍身腫。</p>
<p>黑豆　桑根白皮　檳榔　茯苓</p>
<p>上四味（同黑豆一合半。以水一升煮取六合。煮三味。取三合。為一劑。分三服。）</p>
<p>按聖濟去茯苓。加郁李仁。生薑。名黑豆飲。治一切風毒腳氣軟弱等。今本方加郁李仁。治腳氣周身洪腫欲衝心者。效。</p>
<p>聖濟赤小豆湯。治腳氣氣急。大小便澀。通身腫。兩腳氣脹。變成水者。</p>
<p>赤小豆　桑根白皮　紫蘇莖葉</p>
<p>上三味。除小豆外。為末。每服先以豆一合。用水五盞煮熟去豆。取汁二盞半。入藥末四錢。生薑一分碎煎至一盞半。溫服。</p>
<p>同柴胡豬苓湯。治腳氣緩弱。及痹腫滿。心下急。大便澀。</p>
<p>柴胡　豬苓　紫蘇葉　陳橘皮　防己　大麻子　郁李仁　桑根白皮</p>
<p>上八味</p>
<p>按雞峰柴胡湯。治風寒濕毒。腳氣痛。皮膚不仁。緩弱𤸷痹。足脛腫滿。心下急。大便澀。即本此。</p>
<p>活人編三陰腳氣主方。</p>
<p>薏苡仁　茯苓　防風　羌活　澤瀉　防己　大腹皮　生薑</p>
<p>上八味</p>
<p>按本書云。邪在三陰。誤用重濁之藥。則傷元氣。上方輕清利導。化濕清熱之平劑也。</p>
<p>本朝經驗九味檳榔湯。（經驗筆記）治腳氣腫滿短氣。</p>
<p>檳榔　大黃　厚朴　桂枝　甘草　木香　橘皮　紫蘇葉　生薑</p>
<p>上九味</p>
<p>按此方無厚朴。木香。蘇葉。有枳實。名七味檳榔湯。治腳氣氣血凝滯者。其原出於千金。云今本方去大黃。加吳茱萸。茯苓。每用得效。</p>
<p>本朝經驗石膏湯。（山本氏一名雙解散）治腳氣腫滿氣急。</p>
<p>即越婢湯。與唐侍中一方兩合。</p>
<p>按今用此方加茯苓。術。更效。</p>
<p>同禹水湯。（聿修堂）治腳氣腫滿胕腫者。</p>
<p>赤小豆（廿五錢）　檳榔（十五錢）　豬苓（廿錢）　澤瀉（十五錢）　麥芽（廿五錢）　神面（十錢）　木瓜（十錢）　木通（十錢）</p>
<p>上同炒焦。水煎溫服。一方加黑炒赤龍皮。效甚速。</p>
<p>同桑白皮飲（盤瀨氏腳氣論）</p>
<p>桑白皮　沉香　防己　木通　厚朴　茯苓　檳榔子　郁李仁　紫蘇子　犀角　生薑</p>
<p>上十一味</p>
<p>按此方系拔粹桑白皮散變制。而降氣之力特緊。故有折衝之效矣。</p>
<p>外臺桃花散　療腳氣及腰腎膀胱宿水。</p>
<p>按本草綱目云。痰飲宿水桃花散。收桃花陰乾為末。溫酒服一合取利。覺虛食少粥。不似轉下藥也。</p>

<h3>腳氣大小便不通</h3>
<p>腳氣大小便不通者。由風濕之氣搏於腳膝。上攻胸腹。脅肋填滿。榮衛否隔。三焦之氣升而不降。所以傳導變化皆不能出。而大小便不通也。</p>
<p>千金月令主腳氣大便澀方。</p>
<p>大黃（五兩）　大麻仁（二兩）</p>
<p>上二味先將大黃搗羅為末。入麻子仁研勻鍊蜜丸。</p>
<p>同茱萸散。主腳氣心悶不通。及乾霍亂等。</p>
<p>鍊成朴硝（一斤）　茱萸末（八兩）</p>
<p>上相和服一匙。</p>
<p>聖惠升麻散。治𤸷毒腳氣發動。心胸躁熱。悶亂氣急。口乾舌燋煩渴。</p>
<p>大小腸不利。</p>
<p>升麻　黃芩　茯苓　木香　犀角屑　朴硝　麥門冬　甘草</p>
<p>上八味</p>
<p>同麥門冬散。治腳氣大小便秘澀。發熱煩渴。口乾心躁。</p>
<p>麥門冬　茯苓　木通　大黃　黃芩　朴硝　枳殼　桑白皮　紫蘇</p>
<p>上九味</p>
<p>同治腳氣發動。大小便秘澀。肢節煩疼。頭目旋暈。氣壅昏沉。不欲飲食。宜服此方。</p>
<p>大黃　枳殼　旋覆花　芍藥　木通　紫蘇　犀角　朴硝　黃芩</p>
<p>上九味</p>
<p>究原方三脘散。治腳氣發腫。大便澀。氣滿。加大黃煎服。即三和散。</p>
<p>直指三和散。加木香枳殼。</p>
<p>永類鈐方三和散加減。</p>
<p>沉香　木香　羌活　芍藥　檳榔　甘草　撫芎　青皮　枳殼　紫蘇葉並子　木瓜</p>
<p>上十一味</p>
<p>按澹寮方。無方名。云治腳氣便秘。或入腹衝心。疼痛腫滿等證。得效三將軍圓。治腳氣入腹衝心。大便不通。</p>
<p>吳茱萸　木瓜　大黃（各等分）</p>
<p>上為末。米糊丸如綠豆大。每服五十丸。粳米枳殼湯下。</p>
<p>同木通散。治腳氣服熱藥太過。小便不通。淋閉臍下脹。</p>
<p>當歸　梔子仁　赤芍藥　赤茯苓　甘草</p>
<p>上五味</p>
<p>金匱翼木香湯。</p>
<p>青木香生黑豆皮　大黃　紫雪</p>
<p>上水煎五錢。入紫雪三錢。分二服頓再服。當下燥糞。</p>

<h3>腳氣小腹不仁</h3>
<p>腳氣濕淫之邪。自下侵上。下元氣弱不能御之。則漸入小腹而痹著不仁。至其最甚者。胸腹麻痹。遂及於兩手口吻。失知覺矣。蓋此症有二道。一為八味丸。一為三脘湯加薏苡仁也。</p>
<p>金匱八味丸。　乾地黃　山茱萸　薯蕷　茯苓　澤瀉　牡丹皮　附子　肉桂</p>
<p>上八味</p>
<p>濟生加味腎氣丸。治臂氣。腰重腳腫。小便不利。</p>
<p>即金匱八味丸。如車前子。川牛膝。</p>
<p>三脘湯加薏苡仁。治腳氣小腹不仁屬疝者。得效方云。腳氣稍愈。常服三脘散。弱人更宜朮附湯。</p>
<p>三因吳萸丸。治腳氣入腹。腹中不仁。喘急欲死。</p>
<p>吳茱萸（湯洗七次）　木瓜（去穰切片日乾等分）</p>
<p>上為末。酒糊丸梧子大。每服五十丸。至百丸。酒飲任下。或以木瓜蒸爛研膏為丸。尤妙。</p>

<h3>腳氣上氣</h3>
<p>腳氣上氣者。風毒濕氣循經。上入於肺故也。肺主氣而司呼吸。邪氣入之。則氣道奔迫。升降不順。故令上氣喘滿。甚不得偃臥也。</p>
<p>千金紫蘇子湯。</p>
<p>三因紫蘇子湯。治腳弱上氣。陰陽交錯。清濁不分。上重下虛。中滿喘急。嘔吐自汗。無復紀律。</p>
<p>即千金紫蘇子湯。</p>
<p>聖惠治濕腳氣上攻心胸。喘促悶絕。宜此方。</p>
<p>檳榔　吳茱萸</p>
<p>上二味</p>
<p>家寶四磨湯。治氣滯攻衝。心腹㽲痛。張景岳曰。腳氣上衝心腹。喘急不得眠臥者。宜此方。</p>
<p>沉香　木香　檳榔　烏藥</p>
<p>上濃磨水煎服。濟生有人參。無木香。名四磨湯。（治七情傷感。上氣喘急。妨悶不食。）</p>
<p>局方黑錫丹。徐靈胎曰。黑錫丹鎮納元氣。為治喘必備之藥。當蓄在平時。</p>

<h3>腳氣嘔逆</h3>
<p>腳氣風濕毒氣。上入侵胃中。則胃氣上逆。故令心胸妨滿。食飲不下。而為嘔逆也。嘔吐一證。為腳氣衝心之漸。最為可畏矣。</p>
<p>千金犀角旋覆花湯。治腳氣腫滿。或行起痿弱。小便秘澀。喘息氣衝。食嘔不下。</p>
<p>旋覆花　茯苓　橘皮　豆豉　蘇葉　犀角　生薑　大棗</p>
<p>上八味或去豆豉</p>
<p>按外臺崔氏去犀角。名旋覆飲子。</p>
<p>聖惠旋覆花散。治乾腳氣欲發。噁心頭旋。吐痰水。不思飲食。兩腳膝疼痛。漸漸心悶。</p>
<p>旋覆花　犀角屑　大腹皮　檳榔　前胡　茯苓　半夏　枳殼</p>
<p>上八味。入生薑薄荷水煎。</p>
<p>按此方系犀角旋覆花湯變制。用者斟酌可適其宜。</p>
<p>直指木香飲。治腳氣入腹攻心嘔。</p>
<p>木香　甘草　吳茱萸　木瓜　橘皮　紫蘇　檳榔</p>
<p>上七味</p>
<p>傷寒論吳茱萸湯。治腳氣攻心嘔吐甚者。</p>
<p>本朝經驗三靈湯。治腳氣嘔吐兼蛔。或諸藥不止者。</p>
<p>莎草　紅花　檳榔</p>
<p>上三味</p>
<p>局方靈砂丹。治腳氣嘔吐。水藥不入者。</p>
<p>靈砂</p>
<p>上一味為丸。棗湯服十粒。日一夜一間有損口者。勿治自然愈。病急者為散以冷水下之。</p>
<p>金匱小半夏加茯苓湯。治腳氣嘔吐甚。諸藥不納者。</p>
<p>按外臺。必效療腳氣方。及文仲療腳氣入心悶絕欲死者方。並用小半夏湯。但以薑汁代生薑耳。又直指方治諸水氣。用小半夏加茯苓湯。吾邦原南陽山田業廣。亦善用小半夏加茯苓湯。治腳氣險證。其治驗載在醫事小言。醫學管錐外篇。宜就而看焉。</p>

<h3>腳氣衝心</h3>
<p>腳氣衝心之候。令人心胸煩悶。嘔吐。氣急喘渴。人迎腫起。巨里動如奔馬。甚者脈絕不出欲死也。蓋風濕毒氣。初從足起。閉塞血氣。妨害筋脈。忽上衝心胃之分。最為危急。下氣除濕泄毒。不可緩也。外臺唐侍中療苦腳氣攻心。此方甚散腫氣。極驗。</p>
<p>大檳榔　生薑　橘皮　吳茱萸　紫蘇　木瓜</p>
<p>上六味</p>
<p>按萬安方引衛生良劑方。名檳茱湯。治風濕毒氣中於足脛。遂為腳氣。下注兩腳。腫脹疼痛。履地不得。及內攻心腹。手足脈絕。悶亂煩喘。氣不得息。極有神效。</p>
<p>外臺犀角湯。療腳氣冷毒悶。心下痞堅。背膊痛。上氣欲死者。</p>
<p>吳茱萸　檳榔　青木香　犀角　半夏　生薑</p>
<p>上六味方後云。破毒氣尤良。原無方名。</p>
<p>千金茱萸湯。治腳氣入腹。困悶欲死腹脹。</p>
<p>吳茱萸　木瓜</p>
<p>上二味方後云。此起死回生方。按澹寮方加大黃為丸。名三將軍丸。</p>
<p>千金半夏湯。治腳氣上入腹。腹急上衝胸。氣急欲絕。</p>
<p>半夏　桂心　乾薑　甘草　人參　細辛　附子　蜀椒</p>
<p>上八味</p>
<p>按劉桂山嘗用千金治痰飲。半夏湯。半夏生薑附子吳茱萸四味方。以治腳氣衝心危症。即此方之單捷者已。按張路玉曰。腳氣用補。乃證治之變。此以病久正氣傷憊。濁邪元劇。不得已而用四逆加人參湯。更加半夏蜀椒桂心細辛。專散入腹沖胸濁陰之氣為急。若兼攻外毒。則救里勢分。不能克濟專功矣。</p>
<p>同主風毒腳氣。多睡心驚悸。石發攻心方。</p>
<p>麥門冬　石膏　茯苓　人參　淡竹葉　生薑</p>
<p>上六味。道按。蘇恭方無人參。有小麥。</p>
<p>蘇恭犀角湯。風熱輕但毒氣入胃。唯心悶煩。索水灑胸面。乾嘔好叫喚。欲斷絕者。</p>
<p>犀角　羚羊角　射干　沉香　青木香　丁香　石膏　麥門冬　竹茹　麝香　人參　茯苓</p>
<p>上十二味</p>
<p>外臺紫雪。療腳氣毒遍內外。煩熱。口中生瘡。狂易叫走。</p>
<p>按活人書云。大煩躁者。紫雪最良。醫心方鑑真曰。若腳氣衝心。取一小兩。和水飲之。</p>
<p>良方木香散。治婦人腳氣卒發。衝心悶亂。</p>
<p>木香　郁李仁　赤芍藥　大腹皮　紫雪　桑白皮　桂心　檳榔　茯苓</p>
<p>上九味</p>
<p>聖惠治腳氣衝心。煩悶氣喘。坐臥不得方。</p>
<p>黑豆　生薑　杉木節　沉香　木瓜　紫蘇莖葉　檳榔　童子小便</p>
<p>上件藥細剉。先炒黑豆及生薑令熟。後入小便並諸藥。</p>
<p>聖濟沉香湯。治腳氣衝心。煩悶氣促。腳膝痠疼。</p>
<p>沉香　芍藥　紫蘇莖葉　木通　檳榔　吳茱萸　生薑</p>
<p>上七味入紅雪。</p>
<p>同赤茯苓湯。治腳氣衝心。煩悶膝痛。</p>
<p>赤茯苓　石膏　犀角屑　升麻　麥門冬　木香</p>
<p>上六味入竹瀝。</p>
<p>按金匱翼去升麻。加枳殼。沉香。紫蘇梗葉。檳榔。防風。名犀角散。治腳氣衝心。煩喘悶亂。頭痛口乾。坐臥不得。</p>
<p>同趁痛丸。治腳氣上攻。及風毒走注疼痛。</p>
<p>即控涎丹</p>
<p>婦人良方。治婦人腳氣衝心。悶亂不識人方。</p>
<p>紫蘇　松節　吳茱萸　檳榔　木瓜　橘皮</p>
<p>上六味入童子小便。</p>
<p>局方養生丹</p>
<p>按易簡方云。腳氣之患。入腹衝心。或見嘔吐之症。無法可療。不瘥。用養生丹。黑錫丹。來復丹之類。更須多服。以大便流利為度。腳氣無補法。此有利性。即非補藥。服之無疑。痃癖疝氣。膀胱奔豚之氣入腹者。亦宜用此。</p>
<p>萬安方。九味木香丸。治腳氣衝心。胸膈煩滿。喘急嘔吐。</p>
<p>木香　訶子皮　桂心　枳殼（各二兩）　檳榔（二兩半）　芍藥　柴胡（各一兩二分）　大黃（三兩）　厚朴（二兩半）</p>
<p>上細末蜜丸。大小便秘結。加牽牛子末二兩。赤茯苓一兩二分。尤神妙。</p>
<p>本朝經驗三鎮散。治腳氣衝心。</p>
<p>犀角　角石（各二錢）　檳榔（一錢）</p>
<p>上三味研末。暖水送下。</p>
<p>同沉香豁胸湯。治胸腹滿腫。氣急息迫喘咳者。</p>
<p>沉香　砂仁　香附子　甘草　吳茱萸　桑白皮　犀角　生薑</p>
<p>上九味</p>
<p>按局方沉香降氣湯云。患腳氣人毒氣上衝。心腹堅滿。肢體浮腫者。尤宜服之。今用此方。其效更優。百百漢陰曰。豁胸湯者。和田東郭所名。余屢試用。比之於外臺大犀角湯。其效差勝。然原取之大犀角湯。而其方單爾。</p>
<p>同大陷胸湯。治胸腹水邪充實。衝心苦悶者。</p>
<p>大承氣湯。治腳氣上入。腹滿不大便者。或云腳氣素系飲食濁氣。非此湯不能除之。</p>
<p>風引湯。陳修園曰。治腳氣入心。仲景用腎氣丸。通膀胱之氣。安其腎氣。不使攻心。巢氏用風引湯。取石性易於下達。勝其濕熱。不使攻心。二方皆為救急之神劑。一治腎氣之虛。一治濕熱之盛。宜憑症擇用之。</p>
<p>磠砂散。治腳氣攻心難解者。即一味水服。</p>
<p>按外臺。張文仲硇砂牛膝三物散。療腳氣上氣。即用硇砂。牛膝。細辛。各三兩為散。酒和服。又蘇恭腳氣散。主腳弱上氣。痹滿不食。常服方即於三物散方中。加丹參。白朮。郁李仁。今單服。其效更捷。</p>
<p>本朝經驗砂膽散。</p>
<p>硇砂（一分）　熊膽（一分）</p>
<p>上二味研合以單檳榔湯。或沉香降氣湯。送下。或加鐵砂為湯用之可。高島久也曰。其人衝心唇色青黑者。毒氣已深。不治。若唇口滋潤微赤者。早用此方。則可救矣。</p>

<h3>腳氣痿弱</h3>
<p>腳氣濕邪侵經絡。則筋弛縱而痠弱。自膝至腳已有不仁。或屈弱不能行。其初有肉削筋急而發之者。或有水氣去。衝心差後發之者。古謂之緩風。濕痹腳氣成功。概歸此一症。</p>
<p>八味丸料。金匱云。治腳氣上入。小腹不仁。醫通云。三陰受寒。濕著於腳膝上枯瘦色淡。小腹不仁。腹急痛疼。上氣喘氣。本方加沉香。有持希藻曰。每歲發者。徐徐服之。兼省膏粱。得免後患。</p>
<p>局方大防風湯。證治大還。治痢後腳痛。緩弱不能行步。或腿膝腫痛。有持希藻曰。腳氣日久。腳脛枯細。或癢或軟。嚲曳者。及痢後風。鶴膝風。附骨疽。一切腿膝腫毒。潰爛膿水不絕。其人虛羸者。皆治之。</p>
<p>同思仙績斷丸。治脾腎風虛毒氣流注。腿膝痠疼。艱於步履。小便餘瀝。大便後重。</p>
<p>防風　川烏頭　杜仲　木瓜　薏苡仁　牛膝　續斷　萆薢</p>
<p>上八味</p>
<p>按本事方去川烏木瓜。加五加皮羌活生薑。</p>
<p>本朝經驗健步丸。（天正記。菊亭右相方。）</p>
<p>鹿角（十錢）　白朮　防己（各五錢）　蘗皮（炒三錢）</p>
<p>上四味糊丸</p>
<p>四物湯加牛膝木瓜。醫學心悟云。腳不離乎濕熱。亦有兩足忽然枯細者。俗名乾腳氣。此為風燥之症。四物加牛膝木瓜主之。今帶腫氣者。去牛膝。加蒼朮薏苡仁更佳。</p>
<p>同桃核承氣湯。大防風湯。並治腳氣痿弱。（枳園方譜）</p>
<p>聖濟乳煎硫黃散。治腳氣久虛緩弱。</p>
<p>黃牛乳（三升）　硫黃（一兩）</p>
<p>上二味先將牛乳煎令減半。每服以乳五合入硫黃末二錢。調和服之。服畢宜厚以衣被。覆臥取汗。按牛乳治腳氣。其來尚矣。千金方云。宜生牛乳。生栗子。千金翼主腳氣初發。從足起至膝脛腫骨疼者方。烏牛尿一服一升。日二服。腫消止。羸瘦者。二分尿。一分牛乳。合煮乳結。乃服之是也。又有用此方。治腳氣衝心者。詳見於時還讀我書。清川道曰。備後福山豪商家。傳治腳氣衝心秘方。即以烏牛尿一合點服硫黃末一錢。蓋服烏犢牛尿方。多見外臺必要。名醫別錄云。牛溺治腳氣。據之用牛尿亦可。但有虛候者勿用。</p>

<h1>附錄</h1>

<h2>論婦人腳氣</h2>
<p>婦人腳氣證。聖惠及婦人良方詳論之。而厥後寥寥罕見。因謂腳氣病。男子最多。婦人特少者。以婦人月事以時下。濕邪無所凝滯也。蓋近來婦人患之者。間有之。而至今茲戊寅。余診療者頗多。按顧世澄瘍醫大全。江南揚州府。江都甘泉儀徵三縣。婦女腳氣。始自康熙五十年間。從前並無此證。此乃得於陰陽錯謬之沴氣。非上古男婦濕熱壅腫五痹之腳氣。蓋此類也。其感受也。皆由於富貴之家。情性驕傲。稍不如意。恚怒易生。安享太過。飲食無節。傷飢失飽。喜食生冷。亦有女子婚姻愆期。經事驟閉。配非其偶。抑鬱不舒。肝氣凝結。脾氣鬱泄。是以肝脾兩傷。肝血日虧。肝氣日增。肝無血養。筋脈拘攣。脾氣日困。胃陽不振。脾失健運。濕熱漸生。肚口不覺。加之飲食非時。七情自戕。初見症也。月事不調。肚口作痛。嘔吐酸水。綠水。痰涎。身體大腿作酸。小腿漸痛。臍下或左或右。必有或長或圓。氣塊作硬。拍拍跳動。由上而下。覺肚中稍寬。則疼痛至足脛趺。口熱如火烙。再則痛至足指。指甲縫中痛如針刺。日夜喊叫。欲生不可。欲死不能。忽而足痛稍定。則肚口依然脹悶。甚則面色呈青。目睛倒視。胸前非重手按捺。男子腳跟踹住。則昏厥不省人事。兩足非婦女替換揉搓。不能少定痛楚。更有四肢搐搦。頭項動搖。昏厥僵仆。有一二時而蘇。或半日而蘇者。無論體之強弱。但能清餓七日。其痛漸定。亦有十四朝。二十四朝。始能漸定者。此又在醫之用藥。善與不善。及病家妄與粥湯。吊住邪氣之所致也。此說今驗之於病者。有略似者。而至其治法。則亦與男子無異。但涉其血分者。有宜丹溪心法防己飲者。有宜醫學心悟四物湯加減者。有宜婦人良方牛膝散者。又有顧氏所謂因肝氣鬱結。脾氣鬱滯者。是當辨別加意而已。因抄出良方及顧氏方以備其證云。</p>
<p>良方牛膝散。治腳氣浮腫。心神煩悶。月候不通。</p>
<p>川牛膝　羚羊角　檳榔　大黃　芒硝　防己　桂心　牡丹皮　赤芍藥　甘草　桃仁</p>
<p>上十一味</p>
<p>顧氏解鬱湯。治婦女腳氣。因氣惱恚怒而發者。兩脅作脹。腿腳痠痛。</p>
<p>蘇葉　廣陳皮　半夏　當歸　鬱金　香附　白芍　遠志肉　白茯苓　青皮　鉤藤鉤</p>
<p>上白水煎</p>
<p>同鎮風湯。治婦女腳氣。肝風內鼓。搐搦拘攣。心中跳動。腳腿錐痛。面青厥逆。</p>
<p>橘紅　半夏　白茯神　鉤藤鉤　明天麻　白芍　當歸　秦艽　棗仁　川續斷</p>
<p>上白水煎</p>

<h1>跋</h1>
<p>右博濟堂腳氣概論刻成。或曰是書獨舉一病。而不復他及。其無嫌於博濟之名乎。余曰。否。奉官准也。余嘗周遊乎歐西諸國。歐西之人。就求治者眾矣。其症大抵與和漢之病症無異。而腳氣則絕罔見也。故歐西醫家。亦無有發明焉。是以官特創病院。以救療斯疾。吾黨之士。亦體斯旨。原古今之良法。集諸家之經驗。普施博試以著此編者。何傷其偏狹乎。且夫賀川子玄之於產論。池田錦橋之於痘利辨要。華岡青洲之於瘍科瑣言。皆嘔心鏤骨之所得。世以為圭臬。顧一握驪珠於腳氣病中。則百端疾疢皆為我使用。猶正統一歸則九夷八蠻悉受其正朔也。或唯唯而退。則書以為跋。明治十二年五月高島久也祜啟謹識</p>

<h1>博濟堂記</h1>
<p>夫堯舜大聖也。其德蕩乎巍乎。薄海蒼生咸蒙其澤。而孔子言其病諸者。深贊其能事極功之底於濟眾也。今欲以醫之小技。體天地之心。而成天地之大德。其責抑亦大矣。今茲明治十一年戊寅秋八月。岡田柔克。高島祜啟。下條貞固。清川念祖。淺田子誠。松山資剛等。奉官准。創病院於鳳闕之北本兩替坊。名曰博濟堂。蓋取諸孔子之語云。諸君推（惟常）為長。亦今（惟常）為之記。（惟常）固辭不可。乃記曰。恤孤養疾之典。本屬古制。管子曰。有痼疾不能自存者。官收而衣食之。南齊書文惠太子與金陵王子良。立疾館以養窮人。後魏書宣武詔太常立一館。使京畿內外疾者。咸令居處便醫治之。舊唐書武宗紀。廢天下僧寺。尋以悲田養病坊。僧尼還俗。無人主持。恐殘疾無以自給。乃命兩京量給寺田。諸州或七頃或十頃。擇本所耆老勾當。宋史徽宗紀。崇寧九年。置安濟坊。養民之貧病者。仍令諸郡縣給養。夷堅志亦云。崇寧間設孤老院以養孤老。安濟坊以養病人。自是周末迨六朝唐宋。已著為令甲。而未聞有醫人相會。以私力救活者也。今諸君與有志之徒相議。出力捐費創開此館。將體天地好生之大德。以舉博施普濟之法。可謂古今未曾有之義舉矣。古昔蘇軾知杭州。裒羨緡二千黃金五十兩。作病坊以處病者。常楙知廣德軍。亦置慈幼局。諸君抑其流亞耶。夫醫之處世。不為則已。苟為之。必濟疾苦施仁術。以成一世之軏乃足矣。況復創此院。以敬其德業。嘉惠後人。其功於此道果為如何。（惟常）老景頹唐。鹿鹿無所為。心恆歉焉。然幸遭此盛舉。深欣仰名賢后先濟美。合博濟人民之意。</p>
<p><u>故謹稽古典為之記慄園淺田惟常謹識</u></p>
