<header data-type="book">
<h1>春腳集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>孟文瑞</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1846">公元1846年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521060">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>昔宋廣平為郡守，號曰有腳陽春。論者謂愛民恤物，所至皆春，公卿大夫之能事，下此者難之。余曰：不然。天以好生為德，人以好生為心。施之無具，上之人無以推恩。行之有方，下之人可以廣惠。我澤如春，待人而行，不擇人而行也。潞河玉堂謝公，樂善人也。每歲刷印善書百餘卷，敬謹施送，時人多稱道之。而公既欲正人之性情，尤思救人之疾苦。乙巳春，手持《回生集》與《經驗集》各數冊，囑余擇其精粹者勒為一編，欲付梓人，以傳施於世。余應之。竊欣然喜曰：是誠物我同春而欲隨地施行者也。夫千萬易得，一效難求。金匱石室，美不勝收。然非用之而效屢用屢效者，施之亦復奚裨。余自入學後嗜岐黃術，凡有得心應手之方必秘錄之。或系家傳，或博採群書，或旁搜於名族大家所珍藏，劑之大小不一，分兩之輕重不等，要在每試必驗，其妙無窮。蓋三十年於茲矣，集方若干，未敢出以告人。承謝公之囑，而思助其樂善好施之心，爰於舊篋中檢出，因人身之部位，匯而輯之。其有不足者，即益以回生經驗之良方，共為一卷，以便施送，名曰《春腳集》。非敢謂著手成春，謂玉堂春滿，得此以導之，庶幾不脛而走爾。是為序。</p>
<p><u>道光二十六年丙午菊月泃陽孟文瑞荇洲氏書於京都澤春堂</u></p>

<h1>凡例</h1>
<p>是書只為救難濟急，非為學醫而設，亦非為行醫而設。往往窮鄉僻壤，無從延醫，以致臨症束手，殊堪扼腕，投以集中之方，真有捷於影響之效。此謝公施送之意，即鄙意亦只為此起見。至欲洞達夫陰陽造化之精，熟悉夫生人性命之蘊，懸壺以應世，則無須乎此。</p>
<p>是書因施送而成，擷精揭要，務期簡該，不至重大。而可以行遠，可以濟世，故良方雖夥，未便廣收，識者諒之。</p>
<p>因症分類，固名家著作體例。此則因人身部位彙輯，取其便於查閱，且簡而能該，庶免掛一漏萬之識。</p>
<p>周身部位後，隨錄諸方，以補前缺。其方更簡，其用更妙。分內外婦幼四科，亦使各有統屬，無相朦混。</p>
<p>每部位下約略註明數語，皆節錄前人集輯，非敢臆撰。惟專為不知醫者言之，故一歸簡明。</p>
<p>集中所錄，皆歷代大家成方，恐卷帙浩繁，故姓氏概不錄敘，非敢沒前人之長。</p>
<p>集中諸方，余已屢試屢驗，認清部位，自然投無不利。然毫釐千里，不可不慎，臨時認症，是所望於司命者。</p>
<p>集中丸散膏丹，其效如神。然必須平日按方炮製，蓄以待用，乃可收效於臨時。而限於資財者，又恐力不從心。倘仁人君子，製成施送，其功更無涯涘矣。</p>

<h1>卷之一</h1>

<h2>頭部</h2>
<p>頭為諸陽之首，位高氣清，必用輕清之劑，隨其性而達之，始見功效。</p>
<p><u>立愈湯</u>　治一切頭痛，不拘正痛，或左或右偏痛皆效。</p>
<p>何首烏（三錢）　土茯苓（一兩）　天麻（二錢）　當歸（二錢）　防風（二錢）</p>
<p>水煎服，連服三劑或四劑。</p>
<p><u>治半邊頭痛</u>　此症得之鬱氣不宣，又加風邪襲之。不拘左右皆效。</p>
<p>白芍（五錢）　川芎（一兩）　郁李仁（一錢）　柴胡（一錢）　白芥子（三錢）　香附（二錢）　白芷（五分）　生甘草（一錢）</p>
<p>水煎服。</p>
<p><u>治頭痛如破，流走無定處方</u>　此症多因飲酒之後。感受邪風之所致也。</p>
<p>川芎（一兩）　細辛（一錢）　白芷（一錢）</p>
<p>水煎服。</p>
<p><u>治頭風</u>　不拘偏正立刻止疼方。</p>
<p>琉黃（一錢）　真川椒（取紅色者，去淨黑子，為末，三分）</p>
<p>上二味，拌勻溶成小餅，左痛塞左鼻，清涕從右鼻出，右痛塞右鼻，清涕從左鼻出，正病左右俱塞，待清涕流盡即愈。</p>
<p><u>清空膏</u>　治諸般頭疼，惟血虛疼者不治。血虛痛者，服知柏地黃湯，或服頭痛奇方。其方在後。</p>
<p>生甘草（一兩五錢，蜜炙用）　黃芩（三兩，酒炒）　防風（一兩）　黃連（一兩，酒炒）　羌活（一兩）　柴胡（七錢）　川芎（五錢）</p>
<p>上共為細末，每服二錢，入茶汁少許，調成膏，臨睡時用白開水送下。</p>
<p><u>頭痛奇方</u></p>
<p>全當歸（用整的）　川芎（各五錢）</p>
<p>水煎服。</p>
<p><u>治一切頭風㗜鼻立愈方</u></p>
<p>兼熱者，用蓽茇（不拘多少），川豬膽汁拌勻候乾，研細末。每用少許，㗜鼻中作嚏立愈。</p>
<p>兼寒者，用瓜蒂、松蘿茶葉，各等分為末，㗜鼻出黃水立愈。</p>
<p><u>偏頭疼方</u>　正疼亦效。</p>
<p>新鮮蘿蔔搗取自然汁，加入冰片少許調勻，昂頭灌鼻孔，左痛灌左，右痛灌右，少時即愈。如無蘿蔔時，將蘿蔔子用涼水泡取汁。</p>
<p><u>治真頭痛方</u>　其症頭痛連腦，目睛紅赤，暴疼如破，不得良方，便痛死者。速煎此湯服即愈。</p>
<p>辛夷（三錢）　川芎（一兩）　蔓荊子（二錢）　細辛（一錢）　當歸（一兩）</p>
<p>水煎服。</p>
<p><u>治頭痛</u>　致耳邊發太陽痄腮，俱疼難忍。</p>
<p>生川軍末，用蔥汁調敷，四圍中露一頂，不日即愈。</p>
<p><u>頭風畏冷方</u></p>
<p>用陳蒿麥面二升，水調作二餅烙熱，貼於頭痛處，上用新綿蓋好，冷時再換一餅，俟頭上微有汗出，則風毒盡收入餅中，不過兩次即愈。</p>
<p><u>治腦漏</u></p>
<p>豬肺一個水洗淨，放鍋內水煮，加入開口花椒，照人年紀每歲三顆，煮熟食之。過七日食一個，連食三個即愈。</p>
<p><u>又方</u></p>
<p>蒼耳子　辛夷花（各三錢）</p>
<p>水煎服，三劑即愈。</p>
<p><u>鼻流臭氣方</u>　每日早晚，各溫飲數杯。</p>
<p>蘄艾（八兩）　黃酒（五斤）</p>
<p>煎服兩三料自愈。</p>

<h2>目部</h2>
<p>目為五臟之精華，一身之至要，蓋應乎五臟，而主乎肝者也。兩眥屬心，烏睛屬肝，白睛屬肺，眼胞上下屬脾，黑睛中間瞳人屬腎。</p>
<p><u>治暴發火眼宜南方</u>　名金液湯，言其和平中又有精妙處，如至寶之汁漿也。</p>
<p>前胡（一錢）　柴胡（一錢）　防風（一錢）　赤芍（一錢）　蔓荊子（七分）　薄荷（六分）　獨活（三分）　芥穗（五分）　黃芩（五分）　白桔梗（八分）　知母（五分）</p>
<p>水煎服。</p>
<p><u>治暴發火眼宜北方</u>　北平之人，日受風沙，夜臥熱坑，二氣交爭，況又地土寒冷，多食燒炙蔥韭蒜姜椒等物，以致內外交攻，併入於目，所以胞腫珠痛，多眵多淚，痛澀難開，白睛紅赤，或起粟瘡，黑睛昏暗，或起膜翳，種種風火交集之症，皆宜此方治之。</p>
<p>當歸（二錢）　小生地（三錢）　川芎（三錢）　赤芍（一錢五分）　黃芩（一錢五分）　黃連（一錢五分）　防風（二錢）　白蒺藜（三錢，炒）　連翹（三錢，淨）　羌活（一錢五分）　石膏（四錢，煅）　川軍（三錢）　芒硝（五錢）</p>
<p>水煎服。</p>
<p><u>開瘴去翳散</u>　真有翳瘴，方可點之。</p>
<p>黃連　黃芩　川軍　連翹　小生地　膽草　菊花　銀花　薄荷　木賊　川羌活　蟬蛻　赤芍　防風　荊芥　甘草　黃柏</p>
<p>上十七味各一錢，水煎濃湯，去淨渣土，澄清放碗中，揀上好羊腦蘆甘石一兩煅紅，淬入藥湯內，連煅淬三次，即將甘石浸在藥湯內，再將碗口用紙封好，勿令落塵，俟過數日後極干時，再加入。</p>
<p>銅綠（二分）　膽礬（二分）　硃砂（三分，水飛）　雄黃（三分，水飛）　硼砂（五分）　冰片（八分）　麝香（三分）</p>
<p>共研極細如塵，收磁瓶內封固口，用涼水骨簪點少許。</p>
<p><u>靈飛散</u>　消腫止淚，明目去翳，退赤解痛，收濕除爛。</p>
<p>（揀上好真）羊腦蘆甘石（火煅紅，用童便淬，如此七次，再用水飛淨曬乾聽用，每用一兩。）</p>
<p>好硃砂（水飛）　琥珀　珍珠　真牛黃　真熊膽</p>
<p>上五味各用一錢，另研成膩粉　靈藥（二錢）</p>
<p>共和研極細，磁瓶收固，每有骨簪挑少許點眼內，閉目片時，再點一次。</p>
<p>又閉目待藥性過，然後用簪撥去藥滓，溫水洗淨，每日點二三次，久閉為妙。</p>
<p>方內靈藥製法附後：</p>
<p>水銀（五分）　黑鉛（五分）　火硝（八錢）　硼砂（二錢）</p>
<p>先將鉛化開，入水銀作一家，再加硝硼研勻，入陽城罐內，鹽泥封固，打火三炷香時，先文後武，待冷取出聽用。</p>
<p><u>玉龍丹</u>　治一切火眼赤腫。</p>
<p>明礬（六分）　沒藥（二錢）　乳香（二錢半）　蘆甘石（一兩，煅，飛過）　黃丹（一兩，飛淨）　珍珠（一錢）　麝香（七分）　梅花片（三分）</p>
<p>共研細末，煉蜜為丸一錢重，銀珠（五分）為衣，收貯聽用。如用時，以井花涼水磨，塗眼皮外，立效。</p>
<p><u>散血膏</u>　治赤腫不能開，睛痛熱淚如雨。</p>
<p>紫荊皮　白芷　川柏　川軍　赤小豆　南星　寒水石　薑黃</p>
<p>各等分，為細末，用水泡小生地搗取汁，合成膏，敷眼四圍。</p>
<p><u>清涼膏</u></p>
<p>南星（生用）　蘇薄荷（各五錢）　荊芥　百藥煎（各一錢）</p>
<p>共為末，井水調成膏，貼眼角上，自然清涼。</p>
<p><u>搜風散</u>　治風熱眼，及腫痛。</p>
<p>川黃連　川軍　朴硝　黃丹</p>
<p>各等分，為末，用苦參煎湯，量兌白蜜（煉過）同調，敷眼四弦甚妙。</p>
<p><u>洗爛弦風赤紅眼方</u>　其效如神。</p>
<p>苦參（四錢）　五倍子（三錢）　芥穗（三錢）　防風（三錢）　黃連（三錢）　銅綠（五分）</p>
<p>共為細末，用蘇薄荷煎湯，丸如彈子。臨用時，以開水浸化洗眼，每日洗三次。</p>
<p><u>立應散</u>　治內外障翳昏澀，及暴赤眼，一切目疾皆效，每日㗜鼻。</p>
<p>躑躅花（一錢）　白芷（二錢）　當歸（二錢）　雄黃（二錢）　川附子片（二錢）　鵝兒不食草（二錢）</p>
<p>共為細末，入麝香少許和勻，含水㗜鼻內，多流濁涕眼淚為妙。</p>
<p><u>碧玉散</u>　治眼睛腫脹紅赤，昏暗羞明，癮澀難開，疼痛風癢，頭腫鼻塞，腦鼻痠痛，翳膜胬肉，眵淚稠黏，拳毛倒睫，一切眼症。</p>
<p>羌活　躑躅花　薄荷　川芎　防風　蔓荊子　細辛　陳荊芥　白芷　風化硝　石膏　青黛　黃連（各三錢）　鵝兒不食草（三兩）</p>
<p>共為細末，每用少許吹鼻中，一日吹三次。</p>
<p><u>青火金針</u>　治火眼赤腫，及頭痛牙痛者。</p>
<p>火硝（一兩）　青黛　蘇薄荷（淨葉）　川芎（各五錢）</p>
<p>上為細末，含水半口，令他人以管吹入鼻內，取濁涕熱淚流淨為愈。</p>
<p><u>赤火金針</u>　治赤眼頭風，冷淚鼻塞，耳鳴牙痛者。</p>
<p>火硝（一兩）　川芎　雄黃　乳香　沒藥　石膏（各一錢）</p>
<p>上為細末，每用一分許，如前方吹法，一日三次。</p>
<p><u>通頂散</u>　治風毒攻眼，並夾腦風。</p>
<p>白芷　細辛　藿香葉　川芎（各七錢）　躑躅花（三錢）</p>
<p>上為細末，每令病者。先含新汲涼水一口，再令他人用筒挑少許吹鼻內，以手擦兩太陽穴。</p>
<p><u>止痛乳香丸</u>　治眼痛頭痛，瘀血攻衝，遍身疼痛。</p>
<p>五靈脂（二錢）　乳香　沒藥　草烏　夏蠶砂（各五錢）　木鱉子（五枚）</p>
<p>上為細末，用老酒煮麵糊為丸，如梧桐子大。每服七丸，薄荷湯或茶清任下。如頭痛甚，三服即止。</p>
<p><u>目珠夜疼方</u>　治晝不覺痛，夜間痛甚者。</p>
<p>夏枯草（二兩，炒）　香附（二兩，醋炒）　生甘草（四錢，炒）</p>
<p>共為細末，每服一錢五分，清茶調下，下咽即止。</p>
<p><u>治雀盲眼效方</u></p>
<p>石決明，煅為細末，用三錢，或豬肝一個，或雞肝羊肝皆可，用竹刀剖破，將決明入內，再用麵包燒熟，任意食之，白開水送下。</p>
<p><u>治兩眼夜不見物</u></p>
<p>羯羊肝一副，不見水，不見鐵，以竹刀切開，加穀精草細末，入瓦罐內，煮熟不時服之。屢驗。</p>
<p><u>塵芒入目</u></p>
<p>以生藕搗取汁，將綿裹蘸滴入目中，即出。</p>
<p><u>飛絲入目</u></p>
<p>白菜搗取汁，用帕包滴汁二三點入目，即出。</p>
<p><u>火藥花炮沖眼目瞎</u></p>
<p>其人倒地，急令人解熱小便澆之。徐用自己小便，洗眼即明。</p>
<p><u>治小兒青盲眼</u></p>
<p>木賊草　白蒺藜</p>
<p>各等分，為末，炒豬肝食。</p>
<p><u>治疳盲眼瞎</u>　小兒最多此症，大人間亦有之。</p>
<p>川連（五錢，酒炒）　胡連（三錢，炒）　阿魏（三錢）　蘆薈（二錢五分）　陳六合神面（五錢，炒）</p>
<p>如脾胃弱者，加土炒白朮三錢，用雄雞肝十個，將前藥各為末，同蒸熟共搗勻，丸如萊菔子大。每服三五分，白開水送下，日三服。</p>
<p><u>又治疳疾眼症</u>　並治痘後斑疹，餘毒攻目奇效。</p>
<p>穀精草　石決明　牡蠣　蛤粉　夜明砂　木鱉子（去油）</p>
<p>各等分為末，每用一錢，取豬肝一塊，竹刀剖開，入藥在內，麻扎煨熟，連汁與食，不過十付，不止眼好，疳亦全愈。是方亦可治大人青盲。</p>
<p><u>又治痘後斑疹餘毒攻目方</u></p>
<p>決明子（一錢五分）　赤芍（一錢五分）　甘草（一錢）</p>
<p>為末，蜜湯調下。</p>
<p><u>又方</u>　治同上。</p>
<p>蜜蒙花（一錢五分）　青葙子（一錢）　決明子（五分）　車前子（五分）</p>
<p>共為末，取羊肝剖開，摻藥在內，濕紙包好，灰火煨熟，空心食之。</p>

<h2>咽喉門</h2>
<p>咽者，咽也。所以咽物者也。喉者，候也。所以候氣者也。咽則接三脘，以通胃。喉有九節，通五臟，以系肺。雖曰並行，各有主司，以別其戶也。蓋咽喉之症，皆起於肺胃兩經積熱，致令津液稠黏，痰涎壅盛，阻滯上竅，清氣不得升，濁氣不得降，於是內醞火邪，外感風邪，而諸症作焉。</p>
<p><u>紫正散合地黃散</u>　治咽喉諸症。凡喉中有症，即將此方，日服一劑，自始至末，勿離此湯。真能使險者化順，凶者轉吉。</p>
<p>荊芥穗（八分）　北防風（八分）　北細辛（四分，去茆）　京赤芍（八分）　牡丹皮（八分）　紫荊皮（二錢）　小生地（二錢）　蘇薄荷（六分）　牙桔梗（八分）　生甘草（六分）　淨茜草（一錢）</p>
<p>引加紅內消一錢，（即茜草藤，五月五日，採取陰乾。）燈心二十寸，用開水泡藥蒸服。孕婦去丹皮，加四物湯。熱盛者，加連翹、犀角。頭疼閉塞，加開關散。煩渴，加銀鎖匙。潮熱，加柴胡、黃芩。咳嗽，加麥冬、知母。大便秘結，小便赤澀，加木通。數日不大便，加元明粉。熱壅肺閉，致氣喘促，加麻黃五分，先滾去沫，再入藥內同蒸。痰稠，加貝母。陰虛，加四物湯。</p>
<p><u>開關散</u>　能清諸風，止頭目痛。</p>
<p>川撫芎（一錢）　杭白芍（八分）</p>
<p><u>銀鎖匙</u>　能止煩渴，退口燥。</p>
<p>天花粉（八分）　元參（一錢）</p>
<p><u>四物湯</u></p>
<p>生地（三錢）　當歸（二錢）　川芎（八分）　白芍（八分，酒炒）</p>
<p><u>辛烏散</u>　又名角藥</p>
<p>赤芍梢（一兩）　草烏（一兩）　桔梗（五錢）　芥穗（五錢）　甘草（五錢）　紫荊皮（一兩）　柴胡（三錢）　連翹（五錢）　細辛（五錢）　皂角（五錢）　赤小豆（六錢）　小生地（五錢）</p>
<p>上諸味不宜見火，置日中曬燥，共為細末，收入磁瓶，勿令走氣。臨用以冷水調噙口內，取風痰如神。若痰涎盛極，加摩風膏濃汁四五滴，其力更速。凡頸項及口外紅腫，即以此角藥敷之。亦可用此角藥作洗藥，另加入荊芥同煎湯，頻頻洗之。洗後仍調此角藥敷上。</p>
<p><u>摩風膏</u></p>
<p>川烏尖（即大附子之尖，每用一個，以乳缽底濃磨汁入角藥）　燈心灰（五分）</p>
<p><u>回生丹</u>　（即冰硼散。）治一切喉症有奇功。</p>
<p>大梅片（六釐）　麝香（四釐）　硼砂（一錢）　提牙硝（用蘿蔔煮再濾，入清水內，露一夜，沉結成馬牙者佳。）</p>
<p>共研極細，以潔淨為妙，收磁瓶封固。用挑少許吹患處。開關後，次日並體虛頭暈者，去麝香。（名品雪丹。）毒腫漸平，並用刀破後者，再去牙硝、麝香，（名呂雪丹。）加青黛。（名青雪丹。）</p>
<p><u>真功丹</u>　凡孕婦患喉症者，宜用此丹。</p>
<p>大冰片（一分）　真熊膽（一錢，陰乾，臨用時乳細末）　蘆甘石（一錢，用羌活煎湯，煅七次，飛去腳，曬乾用）　硼砂（一錢）　牙硝（二分）</p>
<p>共為極細末，吹患處。毒腫漸平，去硝，刀破後，須用呂雪丹。</p>
<p><u>消蘆散</u>　此方因患者畏刀針，以此熏破，然見效雖易，收功則遲。</p>
<p>茜草（一兩）　蘆根（二兩，去皮）　金毛狗脊（五錢）　唐蜜根（一兩，即紫荊皮根）</p>
<p>上用米醋同藥貯小罐內，以厚紙封口極固，放水中煮好，將口上開一小孔，如箸頭大，對腫處熏之。若一時未破，加巴豆七粒，去殼同煮再熏，即破。若破後不能速於收功，吹生肌散。</p>
<p><u>萬益丹</u>　凡誤用刀針，致血流不止，吹此丹即止。</p>
<p>滴乳香　沒藥（各一兩，去淨油）　真血竭（一兩）　硼硝（一兩）</p>
<p>研極細用少許，吹入刀針患處。</p>
<p><u>生肌散</u></p>
<p>乳香（一兩，去油）　沒藥（三錢，去油）　輕粉（二錢五分）　赤石子（一兩，水飛數次）　硼砂（二錢五分）　兒茶（二錢五分）　冰片（三分）　龍骨（一兩，火煅醋淬，水飛）</p>
<p>研極細末，每於患處，略用少許。</p>
<p><u>鎮驚丸</u>（一名四神丸。）凡喉症已平，兼服此丸。</p>
<p>山藥（四兩）　桔梗（二兩）　山梔炭（二兩）　甘草（一兩）</p>
<p>上氣者。加陳皮一兩。</p>
<p>共為細末，米糊為丸，如蓮子大。硃砂為衣，每服一丸，用薄荷燈心湯化下。</p>
<p><u>紫雪散</u>　治一切咽喉腫痛，及重舌重齶，舌疔等症。</p>
<p>犀角尖（一兩）　石膏（一兩）　升麻（八錢）　元參（一兩）　甘草（八錢）　沉香（五錢，銼末）　寒水石（一兩）　羚角（一兩）　木香（五錢）</p>
<p>用水五碗，煎至一碗，用絹濾去渣，再將湯煎滾，投入提淨朴硝三兩六錢，文火漫煎，俟水氣將盡，欲凝結之時，傾入潔淨碗內，加下硃砂三錢，冰片一錢，金箔一百張，各預研細和勻，將藥碗安入水盆中，候冷凝如雪俟干，再研細收固。凡大人每用一錢，小兒二三分，徐徐咽之。再用燈心湯化服，咽喉腫痛甚吹之。</p>
<p><u>蠟礬丸</u>　治喉風穿腮，出膿者。</p>
<p>黃蠟（一兩）　枯礬（五錢）　乳香（一錢五分，去油）　沒藥（一錢五分，去油）</p>
<p>後三味為末，用蠟化開為丸，每服二錢，開水送下。</p>
<p><u>消瘤碧玉散</u>　治喉瘤鬱熱之症。</p>
<p>硼砂（三錢）　冰片（三分）　膽礬（四分）</p>
<p>共為細末，用時以箸頭蘸藥點患處自效。</p>
<p><u>捷妙丹</u>　治雙單蛾風，神方。</p>
<p>牙皂角（一兩，切碎）　絲瓜子（一兩二錢）</p>
<p>二味，用新瓦文火炙乾為細末，加冰片少許收固，每吹入鼻中，打噴一二次即消。在左吹右，在右吹左，雙者左右俱吹。</p>
<p><u>嚴氏赤麟散</u>　治一切喉痹纏喉，雙單蛾，又喉惡症，吹之立吐痰涎，即時獲效，可代刀針，真仙方也。只喉癬喉瘡，虛症勿用。</p>
<p>真血竭（五錢）　巴豆（七粒，去殼）　明礬（一兩）</p>
<p>上三味打碎，同入新砂鍋，煉至礬枯為度，每兩加冰片三分，硼砂二錢，再合研極細收固，用時以冷茶漱淨口，吹患處立效。（樞扶氏曰：此環山方岫雲山人，家藏秘方也。治喉風諸症，實有奇功。）</p>
<p><u>雄黃解毒丸</u>　治一切急喉痹，極危症。</p>
<p>明雄黃（一兩）　川鬱金（一兩）　巴豆（十四粒，去殼並去淨油）</p>
<p>共為細末，醋煮麵糊為丸，如綠豆大。每服七丸，清茶送下，吐去痰涎立效。如至死者，心頭猶熱，須用針匙挖開口灌之。倘得下咽，便許生活。如小兒驚熱痰涎，或兩丸，或三丸，量大小加減服之，無不神效。</p>
<p><u>青冰散</u>　治喉閉，雙單蛾奇妙。</p>
<p>膽礬（二錢）　硼砂（二錢）</p>
<p>共為細末，取青魚膽一個，入藥末於中，陰乾去皮，再研極細，加冰片二分，收固。用時以男左女右，吹入鼻內，自效。</p>
<p><u>火刺仙方</u>　治一切喉痹纏喉，脹滿氣閉不通，命在頃刻者，須急用之。</p>
<p>法用巴豆油塗紙上，捻作條子，火上點著，煙起即吹滅，令病人張口，急刺於喉間。俄然吐出紫血，即時氣寬，能言，及食粥飲，再用藥治之，便立愈矣。</p>
<p><u>碧雪散</u>　治咽喉閉塞，痰涎壅盛。</p>
<p>燈心灰　硼砂</p>
<p>共為細末，每用少許，吹入喉中，即吐出痰涎自效。</p>
<p><u>碧玉丹</u>　治喉風急閉等症。</p>
<p>膽礬（三錢）　白殭蠶（六錢，炒去絲嘴，揀直者用）</p>
<p>上為細末，加麝香一分，收固，每用少許，吹入喉中立效。</p>
<p><u>絳雪</u>　治咽喉腫痛，咽物妨礙，及喉癬舌瘡等症。</p>
<p>寒水石（二錢）　硼砂（一錢）　辰砂（三錢）　冰片（三分）　孩兒茶（二錢）</p>
<p>為極細末，每用一錢，摻於舌上，津液咽之，或吹患處。真妙方也。</p>
<p><u>金鎖匙</u>　治喉閉纏喉風，痰涎壅盛，口禁不開，湯水難下等症。</p>
<p>火硝（一兩五錢）　硼砂（五錢）　冰片（三分）　雄黃（二錢）　白殭蠶（一錢）</p>
<p>各另研細，再合，研極細收固。每吹少許入患處，痰涎即出。</p>
<p><u>又方</u>　治纏喉風。</p>
<p>用白礬末五分，以烏雞子清一個，二味調勻細，灌入喉中即愈。</p>
<p><u>又方</u>　治喉內生瘡不破者，用藥吹之。咳嗽一聲即膿出。</p>
<p>乳香（五分，去油）　沒藥（五分，去油）　枯礬（五分）　出窩蠶繭（一個，燒灰）　五倍子（一個，燒灰）　人指甲（三分，炒）　壁蛛窩（一個，燒灰）　小紅棗（一個，燒灰）</p>
<p>各為細末，每用一字，吹之即效。</p>
<p><u>又鎖喉風閉方</u></p>
<p>凡遇此症，先於脰頸處搽香油，用錢一文括之。如刮痧樣，其痛稍緩，好乘熱進藥，再刺十指與少商穴，及四腕委中等穴，更妙。</p>
<p><u>又治雙單蛾神方</u></p>
<p>凡遇此症，先看頭頂上有雙紫泡即雙蛾，單紫泡即單蛾。先用銀針挑破，捏出紫血，則患勢稍衰矣。若看不出紫泡者，謂之隱蛾。先用桐油蘸於鵝翎上，在舌根下絞出痰涎，俟鼻中知桐油臭即止。再用涼水好醋各半，香油少許，食鹽一捻，共打數十下，每含半口漱之。</p>
<p><u>骨骾咽喉不下方</u></p>
<p>以南硼砂一塊，含化咽汁，即脫然而失。又法凡卡某魚之骨，即取某魚生眼珠，用腐皮裹好，用力吞之即愈矣。</p>

<h2>舌部</h2>
<p>舌者，心之苗也。心無舌則不能通暢其聲，舌非心則不能轉達其理。而脾者，舌之本也。脾和則知五味，脾熱則舌破生瘡，蓋舌性屬火，腎水不竭之人，則火得水制，氣血和平，病安從來。如無其制，則舌爍，舌強，舌瘡，舌脹，諸恙悉來矣。治舌要訣，降火滋陰四字耳。</p>
<p><u>黃連瀉心湯加味</u>　治舌上一切火熱症。</p>
<p>黃連（五分）　黃芩（五分）　連翹（五分）　山梔（五分）　元參（五分）　花粉（五分）　知母（五分）　生地（一錢半）　甘草（三分）</p>
<p>水煎服。</p>
<p><u>元參升麻湯</u>　治心脾壅熱，腮頰腫痛，舌本強硬等症。</p>
<p>元參（一錢五分）　升麻（一錢五分）　甘草（八分）</p>
<p>水煎服。</p>
<p><u>一方</u>　治舌腫色如豬肝，不能轉動，或滿口脹塞，湯水難入者。此心脾兩經壅熱症也。</p>
<p>其法先於舌尖或兩旁，刺出紫血，次用箸卷綿，蘸甘草湯，潤其唇舌，再用生蒲黃（三錢）　乾薑（一錢）　冰片（一分）</p>
<p>為細末，向四面頻吹，以杜其蔓延。若唇乾難吹，用蜜潤之，多加冰片，內服用元參（一錢五分）　升麻（一錢五分）　犀角（一錢五分）　枳殼（一錢五分，炒）　膽星（一錢）　甘草（八分）</p>
<p>水煎服。大便閉，加大黃。小便閉，加滑石。</p>
<p><u>一方</u>　治舌下生小舌，名重舌，又名子舌。痰也，熱也。</p>
<p>其法用桑皮、殭蠶等分，發灰減半為末，乾醋調敷舌下，用金丹吹之更妙。</p>
<p><u>金丹方</u>　消腫出痰，治喉舌一切熱症。</p>
<p>火硝（一錢八分）　生蒲黃（四分）　殭蠶（一錢）　牙皂（一分五釐）　冰片（一分）</p>
<p>共研極細末，收固。</p>
<p><u>一方</u>　治舌強，系脾經壅熱，或心脾受風，皆令舌強不語。</p>
<p>黃連　石膏　半夏　防風</p>
<p>四味分兩，斟酌用之。水煎服。</p>
<p><u>一方</u>　治舌縱，火與痰也。</p>
<p>黃芩（三錢）　殭蠶（一錢五分，炒）　膽星（一錢五分）　烏藥（一錢）</p>
<p>水煎，調竹瀝一錢服。</p>
<p><u>一方</u>　治舌麻，火也，痰也，血不足也。</p>
<p>黃連（五分）　黃芩（五分）　連翹（五分，淨）　赤芍（三分）　川芎（五分）　當歸（一錢）　生地（二錢）　殭蠶（八分，炒）　甘草（五分）</p>
<p>引加升麻二分，水煎服。</p>
<p><u>一方</u>　治舌燥，三焦蘊熱，咽內必干。</p>
<p>黃芩（一錢）　山梔（一錢）　薄荷（六分）　連翹（一錢）　元參（一錢）　花粉（一錢）　麥冬（二錢）</p>
<p>引加燈心一團，水煎服。</p>
<p><u>一方</u>　治舌粗，心脾熱動也。</p>
<p>黃連（五分）　生地（三錢）　木通（一錢）　滑石（二錢）　煅石膏（二錢）　甘草（一錢）</p>
<p>引加淡竹葉二分，燈心一團，水煎服。</p>
<p><u>一方</u>　治舌吐不收，名曰陽強，宜補陽，如黨參、黃耆之味，水煎服，外用生蒲黃（三錢）　冰片（一分）　為末，頻頻摻之。若舌出數寸，在傷寒產後，中毒大驚，四種傷寒，皆用冰片摻之。或用紙卷巴豆一粒，納鼻中自收。產後用硃砂末敷舌，余者用雄雞血浸之，或冬青濃汁浸之。</p>
<p><u>一方</u>　治舌縮不言，名曰陰強，宜補陰，如四物湯，或地黃湯，水煎服之。</p>
<p><u>四物湯方</u></p>
<p>當歸（三錢）　白芍（三錢）　生地（六錢）　川芎（一錢）</p>
<p><u>地黃湯方</u></p>
<p>熟地（八錢）　山藥（四錢）　山萸（四錢）　茯苓（三錢）　丹皮（三錢）　澤瀉（三錢）</p>
<p><u>一方</u>　治舌澀，亦風火痰也。</p>
<p>防風（一錢）　葛根（一錢）　薄荷（二錢）　茯苓（一錢）　半夏（一錢）　甘草（五分）</p>
<p>引加連翹三分，水煎服。</p>
<p><u>舌衄</u>　舌忽出血，心火鬱極，用槐花末摻之。若但破不出血，宜服黃連（五分）　犀角（五分）　童便（少許）</p>
<p><u>舌卷</u>　亦是傷寒見症，系足厥陰肝經，煩滿消渴，譫妄邪熱傳臟，宜下之。如承氣湯。</p>
<p>枳實（一錢）　厚朴（一錢）　大黃（一錢）　芒硝（五分）</p>
<p>水煎服。分兩輕重，量人之壯弱，病之淺深，斟酌之。若身無熱，四肢厥冷，過肘過膝，此為直中。真寒病，宜溫少陰，如附子、乾薑等藥。</p>
<p><u>舌腐潰爛</u></p>
<p>飲食難進，疼痛異常，取地龍（十條）　吳茱萸（五分）　和生白麵少許，醋調塗兩足心，以絹縛之，立效如神。</p>
<p><u>舌尖出血</u></p>
<p>以生蒲黃擦舌上，內服黃連（一錢，生用）　連翹（三錢）　燈心（二十根）</p>
<p>水煎服。</p>
<p><u>翣舌腫硬</u></p>
<p>此症卒然舌大硬腫，咽喉腫閉，即時氣絕，名曰翣舌。至危之症。急用皂礬不拘多少，以新瓦火煅紅色，放地上候冷，研細，以針鉗拗開牙關，將藥頻擦舌上，立效如神。再以真百草霜（三錢）　酒調服下。</p>
<p><u>治一切口舌生瘡</u></p>
<p>黃柏（八分）　黃連（五分）　兒茶（一分）</p>
<p>為末塗之。</p>
<p><u>舌忽脹大</u>　用雄雞冠血，浸舌嚥下，即消。</p>
<p>婦人難產，舌出不收，何也？用力以產子，而心為之甚懼，舌為心苗，故子下而舌出也。是舌出不收，因心氣過升之故耳。治法必須降氣為主，古人有以恐勝之者。然此症由於心過驚恐後，用大聲以增其懼，豈不重傷心氣乎。雖舌暫收，恐收後復出也。求妥當治法，宜服此鎮心湯。</p>
<p>人參（三錢）　茯神（二錢）　五味子（一錢）　九節菖蒲（五分）</p>
<p>水煎湯，調硃砂末（一錢）　含漱久之，然後嚥下，即收矣。連服兩三劑，更妥。</p>

<h2>牙齒部</h2>
<p>正中門牙，上下四齒，心包經也。兩旁上下四齒，肝經也。再上下四齒，胃經也。再上下四齒，脾經也。再上下四齒，肺經也。再上下四齒，腎經也。</p>
<p><u>治牙痛上品方</u>　不拘何經火痛，此方統治，其效如神。</p>
<p>元參（一兩）　生地（一兩）</p>
<p>水煎服。</p>
<p>火在心包，加黃連（五分）。在肝經，加炒梔子（二錢）。在胃經，加石膏（五錢）。在脾經，加知母（一錢）。在肺經，加黃芩（一錢）。在腎經，加熟地（一錢）。</p>
<p><u>一方</u>　治火疼。</p>
<p>牙硝（一錢）　樟腦（一錢）　硼砂（一錢）　青鹽（一錢）</p>
<p>共為細末，用涼水照患處擦立效。</p>
<p><u>一方</u>　治風火痛。</p>
<p>乳香（一錢）　沒藥（一錢）　雄黃（一錢）　血竭（一錢）　兒茶（一錢）　石膏（一錢，煅存性）　火硝（五錢）</p>
<p>共為細末，男左女右，用少許吸鼻內立止。</p>
<p><u>一方</u>　治冷疼。</p>
<p>胡椒（兩粒）　母丁香（兩粒）　皂礬（二分）</p>
<p>共為細末，用布包系，咬在痛處，流去黏水熱涎，其痛即止。</p>
<p><u>一方</u>　治牙疼不可忍神效。</p>
<p>輕粉（五分）　用布包緊，咬牙痛處，低頭流出涎沫。外再用獨頭蒜一頭，搗爛敷在手虎口上，男左女右，約一炷香時，揭去蒜，隨起一泡，立時止痛。</p>
<p><u>一方治蟲牙痛</u></p>
<p>川蒼耳（三十粒）　川椒（三十粒）　小黑豆（三十粒）</p>
<p>上臘陳醋一碗，煎至半碗，每溫熱漱之。即愈。</p>
<p><u>五靈至聖散</u>　治蟲牙疼。</p>
<p>五靈脂（三錢）　白薇（三錢）　細辛（五分）　骨碎補（五分）</p>
<p>共為極細末，如塵方好，先用滾水口含漱牙齒至淨，然後用此藥末五分，滾水調如稀糊，入口內漱齒半日，漱至氣急吐出，如是者三次，痛止而蟲亦絕矣。</p>
<p><u>走馬牙疳驗方</u></p>
<p>凡大人熱病之後，火毒留胃，及小兒痘疹之後，變患牙疳，白腐口臭，潰爛不堪，或發痛癢，齒脫腮硬，多致不救，用此治之即愈。</p>
<p>綠礬（一錢，炒紅）　石膏（三錢，煅）　兒茶（一錢）　蓬砂（一錢）　人中白（一錢）　人中黃（一錢）　冰片（二錢）</p>
<p>共為細末，以甘草湯浸，絹帕拭去腐肉，將舊筆頭蘸藥搽之。</p>
<p><u>治牙疳方</u></p>
<p>大紅棗去核，用人中白末，填滿，外用綿纏住，放火內燒焦，每棗一枚，加入麝香二釐，研細末，塗之立愈。</p>
<p><u>治走馬牙疳方</u></p>
<p>每見人糞內有人龍，取來放瓦上焙乾，研細末，加青黛、冰片各少許，向患處吹之即愈。</p>
<p><u>又治牙疳異功散</u></p>
<p>白霜梅（二錢）　人中白（五錢，火煅）　枯白礬（二錢）　大梅片（二分）</p>
<p>共為細末，先用韭菜根、松蘿茶，水煎濃汁，乘熱以雞翎蘸洗患處，去淨腐肉，見鮮血，再敷此藥。若爛至咽喉者，以筒吹之。</p>
<p><u>又方</u>　治牙疳，堅硬青紫，漸腐穿腮，齒動搖者。以此散擦之。</p>
<p>蘆薈（二錢）　黃柏（五錢）　白人言（五分，用紅棗五枚去核，每棗納入人言一分，火燒存性）</p>
<p>共為細末，先用米泔水漱淨疳毒，再敷齒患處。</p>
<p><u>治骨槽風方湯藥</u></p>
<p>熟地（一兩）　鹿角膠（三錢，石碎，隔水頓化，沖服）　好肉桂（一錢）　白芥子（二錢，炒研）　甘草（一錢）　炮姜（五分）　麻黃（五分）</p>
<p>水煎空心服。</p>
<p><u>治骨槽風方丸藥</u></p>
<p>好肉桂（一兩）　炮姜（五錢）　麻黃（三錢）</p>
<p>共為細末，煉蜜為丸，梧桐子大。每服二三錢。用半夏（三錢）　廣陳皮（三錢，去白）　白茯苓（二錢）　甘草（一錢）　白芥子（二錢）　生薑（三片）</p>
<p>水煎湯送下。</p>
<p><u>犀黃丸</u>　治一切骨槽風，並患乳岩瘰癧，痰核橫痃，肺癰小腸癰流注等症。</p>
<p>犀牛黃（三分）　真麝香（一錢五分）　乳香（一兩，燈心同炒，去油）　沒藥（一兩，制同上）</p>
<p>共為細末，取粟米飯一兩，搗為丸，如綠豆大。曬極干，忌烘。每服三錢，用熱陳酒送下。飲醉蓋被取汗，醒後癰消，而痛亦息矣。</p>
<p><u>一方</u>　治牙根腫爛，穿唇破頰，並一切口瘡極妙。</p>
<p>胡黃連（一錢）　膽礬（二分）　兒茶（二分）</p>
<p>為末擦之。</p>
<p><u>治牙根出血方</u></p>
<p>用草決明一兩，煎水噙之。即止。</p>
<p><u>治牙關出血如線</u></p>
<p>用槐花略炒為末，以指頭蘸末塗之，以止為度。</p>
<p><u>取痛齒法</u></p>
<p>用白馬尾，燒灰存性，研細點上，即落。但不可沾好齒。</p>
<p><u>牙根腫痛方</u></p>
<p>瓦松　白礬</p>
<p>等分。水煎漱之，立效。</p>
<p><u>牙根臭爛方</u></p>
<p>芥菜根燒存性，研末頻敷之，即愈。</p>
<p><u>牙宣露痛方</u></p>
<p>絲瓜蔓陰乾，火煅存性，擦之即止。</p>

<h2>口部</h2>
<p>口之於味也，皆統於脾。脾熱則口臭，脾燥則口裂，脾冷則口紫，脾敗則口黑，脾寒則口青，脾虛則口白，脾衰則口黃，脾熱則口冷，脾實則口紅。且唇為口之戶也，唇病即口病也。</p>
<p><u>赴筵散</u>　治赤白口瘡。</p>
<p>黃柏　青黛　蜜陀僧</p>
<p>各等分，為末，乾擦之。</p>
<p><u>治唇口生瘡方</u></p>
<p>唇口四圍生瘡，黃脂如蠟，諸醫不應。以旋覆花，煅存性，用香油調擦即愈。</p>
<p><u>治口舌糜爛方</u></p>
<p>用大紅薔薇花之葉，（無葉時可用根。）放瓦上微火焙燥，忌大火，炒為末，和冰片少許，擦之即愈。</p>
<p><u>治口疳方</u>　兼治喉癬喉癰。</p>
<p>橄欖核（三錢，燒存性）　鳳凰退（即小雞殼，三錢，燒存性）　兒茶（三錢）　冰片（二錢七分，另研）</p>
<p>塗患處，或吹入甚效。</p>
<p><u>口舌生瘡</u></p>
<p>茄蒂燒灰敷之。取其甘以緩火之義也。</p>
<p><u>滿口潰爛</u></p>
<p>用生薑汁頻頻漱吐亦可，為末塗之。</p>
<p><u>口出臭氣</u></p>
<p>用大茴香煮羹食，或含大茴香，生食之。</p>
<p><u>口瘡方</u></p>
<p>凡咽喉口舌生瘡，以吳茱萸為末，真米醋調貼兩腳心，過一夜即愈。</p>
<p><u>紅白口瘡方</u></p>
<p>蕊仁（五分，去油）　銀珠（五分）　冰片（一分）　熟棗（三枚，去皮核）</p>
<p>共合一處搗爛，攤烏青布上，貼頂心准一晝夜，去之。若干難去，用無根水排藥極效。</p>
<p><u>唇乾方</u></p>
<p>生地（三錢）　麥冬（三錢）　山藥（三錢）　當歸（二錢）　白芍（二錢）　黨參（一錢）</p>
<p>水煎，調白蜂蜜少許服。</p>
<p><u>唇裂方</u></p>
<p>煅石膏（三錢）　黃連（六分）　生地（五錢）　石斛（二錢）　甘草（一錢五分）　竹茹（六分）</p>
<p>水煎服。</p>
<p><u>唇瞤動不止方</u>　肝風乘脾也。</p>
<p>柴胡（一錢）　防風（一錢五分）　荊芥（一錢五分）　山梔（二錢）　薏苡仁（五錢）　當歸（三錢）　生甘草（一錢五分）　真赤小豆（二錢）</p>
<p>水煎服。</p>
<p><u>蠶唇方</u>　唇腫白，皮皺裂如蠶繭，或唇下如黑棗。</p>
<p>黨參（一錢五分，去蘆）　升麻（五分）　丹皮（八分，洗）　山梔（六分，炒）　白芍（一錢）　柴胡（八分）　甘草（一錢）　黃耆（一錢五分，炙）　白朮（一錢，土炒）　當歸（一錢，洗）　廣皮（六分）</p>
<p>引用生薑一片，大棗三枚，水煎服。</p>
<p><u>唇瘡方</u>　因食少，腸胃空虛，三蟲作祟，致令唇瘡，聲啞咽乾。</p>
<p>真犀角（一錢五分）　黃連（一錢五分）　烏梅（三枚）　木香（五分）　桃仁（五分）　雄黃（五分，水飛，沖服）</p>
<p>水煎服。</p>
<p>亦有因氣鬱生瘡者。用甑上滴下汗，敷之如神。或有白荷花瓣，貼之亦效。若小兒燕口瘡，有燕窩土搽之。或用發灰搽之。皆效。</p>

<h1>卷之二</h1>

<h2>耳部</h2>
<p>腎氣通耳。小腸脈、膽脈、三焦脈，俱入耳中。三經之邪，俱令耳病。胃脈上耳前，胃筋結耳前，膽脈、三焦脈，俱走耳前，三焦筋從耳前，屬目。小腸筋、膀胱筋，俱結耳後完骨。胃脈之支、三焦脈、膽脈，俱過耳後。</p>
<p><u>耳膿常流方</u></p>
<p>大人小兒耳內生瘡，膿水常流不幹，或傷水濕坐底，聤耳成膿，時流臭水者。俱用麥小粉，以醋煎滾，打如漿糊，晚上搽於耳之前後，留出耳上，不搽，以紙一張裂縫，套耳蓋之。免汙枕被，次早洗去，晚上再搽，三五次即愈。</p>
<p><u>耳內蟲痛方</u></p>
<p>如有蟲在內奔走，或血水流出，或干疼不可忍，以蛇蛻一條，熯存性，研細末，用鵝毛管吹入，立愈。或滴貓尿，或滴鹽滷，俱效。</p>
<p><u>諸般耳聾方</u></p>
<p>用北細辛一錢，研末，將黃蠟化為丸，如鼠糞大，以綿裹塞耳內，兩三次即愈。戒惱怒。</p>
<p><u>耳後出血方</u></p>
<p>凡人耳後髮際搔癢，小竅出血，用止血藥不效者，此名發泉。取多年糞桶箍燒灰，敷之立愈。如指縫出血亦然。或用炒甲片細末，罨之亦止。</p>
<p><u>五竅出血方</u></p>
<p>凡耳口目鼻一齊出血，名曰上虛下竭，死在須臾。不及用藥，先將冷水當面噀幾口，若婦女，急分開頭髮，以水噀之。若男子，無發可分，用粗紙數層，冷醋浸透，搭在囟門，其血即止。隨服補血湯炙黃耆一兩，當歸三錢。加沉香、童便服，血自歸經。再加調補，照式速救，多有生活。</p>
<p><u>耳中出血方</u></p>
<p>龍骨屑，吹入即止。</p>
<p><u>耳中出膿方</u></p>
<p>發灰，吹入即止。或用陳皮炭（一錢）　輕粉（三分）　麝香（五釐）　研極細末，吹入數次即干。</p>
<p><u>耳內濕結塊方</u></p>
<p>生豬脂　地龍糞　釜下墨　共研爛，和蔥汁捏如棗核，綿裹納入耳內，潤則換之。耳干痛，亦用此方效。</p>
<p><u>透竅丹</u>　治聾。</p>
<p>龍骨　真麝香　冰片　共研極細末，用雄鼠膽汁一枚，合作三丸，用綿裹塞耳內，不可取出，一夜即能通音。</p>
<p><u>耳忽大痛方</u>　如蟲在內，或流水，或干疼。</p>
<p>田螺（一個）　撥開蓋，入麝香（五分），自化成水，滴入即愈。</p>
<p><u>又方</u>　治同上。</p>
<p>每日平明，以大指食指，捏住鼻孔，勿令泄氣，咬牙弩目，閉口，使氣入耳，悶極放手。有間，即此行之，久則自效。</p>
<p><u>治耳內流膿腫疼方</u></p>
<p>番木鱉一個，磨水滴入耳內，即愈。</p>
<p><u>治耳內出膿水</u></p>
<p>海螵蛸（一錢）　枯礬（一錢）　麝香（一分）　干胭脂（五分，燒存性）</p>
<p>共為細末，吹入耳內，即效。</p>
<p><u>治小兒耳內出膿水久疼不止方</u></p>
<p>枯礬（一錢）　煅龍骨（一錢）　黃丹（一錢）　海螵蛸（一錢）　麝香（二釐）　干胭脂（七分，燒存性）</p>
<p>共為細末，先用綿拭乾膿水，再吹此藥。</p>
<p><u>螞蟻入耳</u></p>
<p>用精豬肉一塊，炙香，放耳邊，引出。或用川山甲，炒研細末，調水灌之。或用韭汁灌之。</p>
<p><u>蜈蚣入耳</u></p>
<p>用雞肉炒香，放耳邊，引出。或以薑汁灌之。</p>
<p><u>蜒蚰入耳</u></p>
<p>用羊乳滴入耳內，即化為水。或烙麻油餅貼耳上，其蟲亦出。或用鹽擦耳內，即化水。</p>
<p><u>飛蛾入耳</u></p>
<p>用鵝管極氣吸之，或擊銅器於耳邊。</p>
<p><u>諸蟲入耳</u></p>
<p>一用香油滴入，一用藍汁灌入，一用蔥汁灌入，一用人乳滴入，其蟲皆自出。用細蘆管入耳吸之，蟲隨出，用米醋滴入，蟲不出必死。</p>
<p>凡蟲毒入腹作脹，飲好酪酒二升，即化水，毒亦消。</p>
<p><u>耳內外生瘡方</u></p>
<p>五倍子（炒研），細末，水調塗之。</p>
<p><u>治耳閉方</u></p>
<p>細辛（一分）　石菖蒲（一分）　木通（一分）　麝香（一釐）</p>
<p>共為末，用綿裹塞耳中。</p>
<p><u>耳聾開竅奇方</u></p>
<p>活鯉魚一尾，不拘大小，劈取腦髓碗盛，飯上蒸出油來，用茶匙挑滴耳內數次，自然竅開。以後服補藥收功。</p>
<p><u>補藥方</u></p>
<p>故紙（一斤）　黑芝麻（一斤）　火酒（二斤）　童便（一斤）</p>
<p>上四味，同煮乾為度，取出曬極干，再將上二味，共炒香，不用芝麻，只將故紙為末，以老米醋打糊為丸，綠豆大。每服二三錢。用杜仲（二錢，炒去絲），知母（二錢），水煎湯送下，服一半即見效，功不可盡述。</p>

<h2>鼻部</h2>
<p>肺開竅於鼻。兩眉頭下為山根，山根曰下極，下極應心。足陽脈交山根，山根下為鼻柱。相家曰年壽應肝，年壽左右應膽，鼻柱下為面王，相家曰準頭，亦曰明堂，屬土應脾。明堂兩旁為方上，在迎香上曰鼻隧，相家曰蘭臺廷尉，應胃。胃脈起鼻兩旁，胃筋亦結鼻旁，鼻孔。大腸脈，挾鼻孔。小腸脈抵鼻。膀胱筋結鼻下兩旁。</p>
<p><u>鼻流清涕方</u></p>
<p>川椒　訶子肉　肉桂　生薑　乾薑　川芎　細辛　白朮</p>
<p>各等分，酒煎服。</p>
<p><u>鼻流濁涕方</u></p>
<p>用燒酒半壺煎極滾，鼻吸熱氣入腦即愈。</p>
<p><u>鼻乾無涕方</u></p>
<p>蒼耳子　桑白皮　元參　菊花　薄荷　川芎　絲瓜根（各等分）</p>
<p>水煎服。</p>
<p><u>治鼻淵方</u>　流濁涕經年累月不止，即腦漏也。當分別寒熱治之。涕濁味臭者，熱也。涕清而腥者，寒也。</p>
<p>屬熱者治法：</p>
<p>熟地（八錢）　山藥（四錢）　山萸（四錢）　丹皮（三錢）　茯苓（三錢）　澤瀉（三錢）　菊花（三錢）　薄荷（二錢）　元參（三錢）　蒼耳子（五錢）</p>
<p>共為細末，煉蜜合丸，梧桐子大。每服三錢，白開水送下。</p>
<p>屬寒者治法：</p>
<p>熟地（八錢）　山藥（四錢）　山萸（四錢）　丹皮（三錢）　茯苓（三錢）　川附子（一錢）　肉桂（二錢）　澤瀉（三錢）　川芎（三錢）　升麻（三錢）　蒼耳子（五錢）</p>
<p>共為細末，煉蜜合九，梧桐子大。每服三錢，白開水送下。</p>
<p><u>治鼻流黃臭水方</u>　俗名控腦砂，腦中有蟲也。</p>
<p>用絲瓜藤，近根三五寸，燒存性研末，酒調服二錢立愈。外用桃葉曬乾作枕。</p>
<p><u>又治鼻淵方</u></p>
<p>陳香櫞　木香　扁柏　砂仁　川芎</p>
<p>各等分，水煎服。</p>
<p><u>治腦漏鼻涕臭方</u></p>
<p>百草霜研細，空心冷水調服一錢，三五服即愈。</p>
<p><u>治鼻漏方</u>　鼻孔中長出一塊。</p>
<p>辛夷（四兩，去毛）　梔子（二兩）　枳實（二兩）　桔梗（二兩）　白芷（二兩）</p>
<p>共為細末，每服二錢，蘿蔔湯送下。</p>
<p><u>鼻中肉墜</u></p>
<p>用藕節有毛處一節，燒存性為末，吹患處。</p>
<p><u>鼻內生肉氣閉</u></p>
<p>辛夷　白芷　升麻　藁本　防風　川芎　細辛　木通　甘草（各一錢五分）</p>
<p>共為細末，每服三錢，茶調下。外用白礬燒灰，加硇砂少許，研末吹鼻中。</p>
<p><u>鼻中氣臭</u></p>
<p>赤芍（八分）　黃芩（八分）　藁本（八分）　生地（八分）　黃連（八分）　石菖蒲（八分）　遠志（八分）　甘草（三分，水浸）</p>
<p>清水煎服。</p>
<p><u>瘜肉痔癰</u>　鼻生瘜肉，氣息不通，香臭莫辨，痔癰亦然。皆胃家濕熱黛蒸所致。宜清氣化熱，疏邪利竅，內服。</p>
<p>茯苓　桔梗　山梔　黃芩　辛夷　白芷　木通　升麻　柴胡　防風　蒼朮　薄荷</p>
<p>各等分，每服用七八錢，清水煎服。</p>
<p><u>治瘜肉外方</u></p>
<p>瓜蒂（三錢）　細辛（二錢）　麝香（一分）</p>
<p>為末，每用一捻以綿裹塞鼻內，即化黃水。桃葉嫩心，亦可塞之。</p>
<p><u>治痔癰外方</u></p>
<p>雄黃　白礬　苦丁香</p>
<p>各等分為末，用霜梅肉搗膏作成條，入鼻內化水即愈。</p>
<p><u>齆鼻不聞香臭</u>　將鐵鎖磨石上取末，豬脂調綿裹塞鼻，肉出愈。又方　乾薑為末，蜜調塞鼻亦效。</p>
<p><u>因外感鼻塞</u>　兼咳嗽嚏者。</p>
<p>羌活（一錢）　前胡（一錢）　紫蘇（一錢）　桔梗（一錢）　旋覆花（一錢）　陳皮（一錢）　枳殼（一錢）　升麻（五分）　葛根（一錢）　甘草（五分）</p>
<p>水煎服。</p>
<p><u>無外感鼻塞</u></p>
<p>辛夷　川芎　木通　細辛　羌活　藁本　升麻　白芷　炙草（各等分）　蒼耳（減半）</p>
<p>水煎服。</p>
<p><u>鼻內生瘡</u></p>
<p>犀角（五分）　羚角（一錢五分）　天冬（一錢五分）　川貝母（一錢五分）　麥冬（三錢）　知母（二錢）　黃芩（二錢）　胡連（一錢五分）　甘草（一錢）</p>
<p>水煎，調牛黃研末一分服。外治用杏仁，去皮尖，研爛，和乳汁，不時用箸頭擦之。或用黃連（一錢），麝香（五釐），為細末擦之。</p>
<p><u>鼻血不止</u></p>
<p>茅花（一錢）　辛夷（五分）　當歸（三錢）　生地（三錢）　白芍（二錢）　木通（六分）　芥穗（一錢，酒炒黑，存性）</p>
<p>水煎服，服後即臥立止。外用白芨一兩，研細末，用陳醋調塗囟門，下至兩眉心。（上寬下窄，如胡蘿蔔形。）再用山梔仁、白芷等分為末，吹於鼻內，用此三法調治，無不愈者。</p>
<p><u>又方</u></p>
<p>黃芩（二兩）　白芨（二兩）</p>
<p>為末，水丸服。神效。</p>

<h2>頸項部</h2>
<p>頸前為十二經道路。項乃腎與膀胱所主。</p>
<p><u>利氣飲</u>　治閃挫或久坐，或失枕以致項痛。</p>
<p>乾薑（一分）　乾葛（五分）　升麻（五分）　蒼朮（五分）　桔梗（五分）　川軍（二分）　枳殼（一分）　芍藥（四分）　陳皮（七分）　甘草（七分）　半夏（三分）　白芷（三分）　茯苓（三分）　當歸（三分）　生薑（三片）</p>
<p>水煎溫服。</p>
<p><u>木瓜煎</u>　治項筋急不得轉側。</p>
<p>木瓜（一個，切兩半，去瓤）　沒藥（一兩，研）　乳香（一錢二分，半研）</p>
<p>將乳沒二味，共納入木瓜中，再將兩半合系扎定，在飯上蒸三四次，研成膏，每服三五茶匙，用地黃四五錢，黃酒煎湯，送下。</p>
<p><u>普濟消毒飲</u>　治疫邪傳染，項面腫，眾人一般者。</p>
<p>黃芩（三錢）　黃連（一錢五分）　陳皮（一錢五分）　元參（一錢五分）　甘草（一錢五分）　柴胡（一錢五分）　桔梗（一錢五分）　連翹（五分，淨）　蒡子（五分，炒研）　升麻（五分）　殭蠶（五分，炒）　大黃（或一錢，或五分，酒炒）</p>
<p>水煎服。</p>
<p><u>防風解毒湯</u>　治頸項結核浮腫，先寒後熱，是風寒所搏也。</p>
<p>防風（一錢）　荊芥（一錢）　桔梗（一錢）　蒡子（一錢）　連翹（一錢）　甘草（一錢）　石膏（二錢，煅）　薄荷（一錢）　枳殼（一錢）　川芎（一錢）　蒼朮（一錢）　知母（一錢）　燈心（三十寸）</p>
<p>水煎服。</p>
<p><u>連翹消毒飲</u>　治結核堅腫，色紅微熱者，是熱毒所致也。</p>
<p>連翹　陳皮　桔梗　元參　黃芩　赤芍　當歸　梔子　葛根　射干　花粉　紅花（各一錢）　甘草（五分）</p>
<p>若大便秘者，加大黃。水煎服。</p>
<p><u>加味藿香飲</u>　治頸項腫痛，寒熱頭眩者，氣毒也。</p>
<p>藿香　甘草　桔梗　青皮　柴胡　半夏　紫蘇　白朮　陳皮　茯苓　白芷　厚朴　川芎　香附　夏枯草（各等分，為粗末）</p>
<p>每服四五錢，水煎服。</p>
<p><u>滋榮散堅湯</u>　治結核累累，先小後大，初不疼，是瘰癧也。</p>
<p>川芎　當歸　白芍　熟地　陳皮　茯苓　桔梗　白朮　香附（各一錢）　甘草　海粉（各五分）　貝母　人參　昆布（各三分）　升麻　紅花（各二分）</p>
<p>水煎服。</p>
<p><u>又方</u>　治同上。</p>
<p>夏枯草（一斤）　水煎成膏，每服四五錢。用黨參　黃耆　白朮　當歸　棗仁（各一錢五分）　遠志　廣皮（各一錢）　甘草　木香（各五分）</p>
<p>引加圓肉五枚、淡竹葉五分，燈心三十寸。水煎調服。</p>
<p><u>通治瘰癧方</u>　治瘰癧，不分新久，表裡虛實，及諸痰結核。</p>
<p>陳皮　白朮　柴胡　桔梗　川芎　當歸　白芍　連翹　茯苓　香附（醋炒）　夏枯草　黃芩（各一錢）　藿香　半夏　白芷　甘草（各五分）</p>
<p>姜三片水煎，兌黃酒一小杯服。</p>
<p><u>芎歸養榮湯</u>　治瘰癧流注，及一切不足之症，不作膿，或已潰不斂，或身體發熱惡寒，肌肉消瘦，飲食少思，睡臥不寧，盜汗自汗，驚悸恍惚，並皆治之。</p>
<p>人參（一錢）　歸身（二錢）　黃耆　白朮　川芎　白芍　熟地（各一錢）　五味子　麥冬　遠志　甘草　茯苓（各五分）　丹皮　砂仁（各三分）</p>
<p>姜三片，棗二枚，水煎空心服。</p>
<p><u>大紅膏</u>　治瘰癧痰核，結塊，不分新久，但未破者並效。</p>
<p>南星　銀硃　血竭　硝石　潮腦　輕粉　乳香　貓頭骨（一具，煅）　石灰（一兩，用大黃片二錢同炒，俟石灰色紅，去大黃）</p>
<p>上共為細末，陳米醋熬稠，調藥敷核上，三日一換。看皮嫩微損者，另換紫霞膏貼之。其核自消。</p>
<p><u>紫霞膏</u>　治瘰癧初起，未成者，貼之自消。已成未潰者，貼之自潰。已潰核存者，貼之自脫。及治諸色頑瘡，濕痰濕氣，新久棒瘡，疼痛不已，並效。</p>
<p>明淨松香（淨末，一斤）　銅綠（淨末，二兩）</p>
<p>用香油四兩，銅鍋內先熬至滴水不散，方下松香熬化，次下銅綠熬至白煙將盡，其膏已成，候片時傾入罐內。凡用時放湯內頓化，旋攤旋貼。</p>
<p><u>治痰核癧𤶱單方</u></p>
<p>羊角（一斤）　鍘碎，新瓦炙黃研末，每早酒調服三錢，吃完即愈。</p>
<p><u>治已破瘰癧方</u></p>
<p>用砒，如米粒大，入破口內，以紙封之。神效。</p>
<p><u>治頸上癭瘤方</u>　不痛不癢，俱是痰結。</p>
<p>川黃柏（細末，一兩）　海藻（細末，一兩）</p>
<p>二味合勻收貯。每用五分，放手心上，以舌舔之。一日三五次，即消。</p>
<p><u>痰核</u>　用鯽魚，同山藥搗爛塗之。</p>
<p><u>治瘰癧秘方</u>　此方甚奇，世秘不傳，既擅神效，何妨共知。但大人瘰癧，方可用此。</p>
<p>自以合媾之精，當即接，塗之神效。潰爛者甚妙，只可行一二次。此方出自《續回生集》。</p>

<h2>肩手部</h2>
<p>肩下曰膊。膊下對腋處曰臑。臑盡處為肘。肘當臂腕，肘以下為臂。臂掌交接處為腕。腕以上大指節後，如肥魚隆起，統謂之魚。大指屬肺，肺脈自腋入臑，至大指出其端。食指屬大腸，大腸筋脈皆起於食指。中指屬包絡，包絡之脈自腋循臑入肘臂，至中指出其端。無名指屬三焦，三焦筋脈，俱起無名指外廉。小指內側屬心，外側屬小腸。肩大小腸，三焦筋脈，俱至肩。肺筋結前髃，膽脈至肩上，膀胱筋結肩髃。</p>
<p><u>治肩前面痛方</u>　大腸經地位也。風熱乘肺，肺氣鬱，其腑先病，所以肩前疼痛，宜通肺氣，散風熱。</p>
<p>防風（二錢）　川羌（二錢）　升麻（一錢五分）　柴胡（一錢五分）　桑皮（三錢）　貝母（三錢）　白蔻（一錢，去皮）　陳皮（一錢五分）</p>
<p>水煎服。若面白氣短，加參、耆。</p>
<p><u>治肩後面痛方</u>　小腸經地位也。因感風熱，氣不行耳。</p>
<p>防風（二錢）　川羌（二錢）　藁本（一錢五分）　蔓荊子（一錢五分）　木通（一錢五分）</p>
<p>水煎服。若心血虛，加大劑四物湯。</p>
<p><u>治肩背連臂痠痛方</u>　甚則兩手軟痹，由痰飲流入四肢也。</p>
<p>陳皮（二錢）　半夏（二錢）　茯苓（二錢）　南星（一錢五分）　木香（一錢）　薑黃（一錢）　甘草（五分）</p>
<p>生薑三片，水煎服。若因腎水虧，筋骨失養，以致痹，宜服大劑六味地黃湯。</p>
<p><u>治臂痛方</u></p>
<p>赤芍（一錢五分）　當歸（三錢）　黃耆（二錢）　川羌（二錢）　防風（二錢）　薑黃（一錢五分）　甘草（一錢）　生薑三片水煎服。</p>
<p><u>治臂痛不能舉方</u>　或痛無定處，由脾虛邪氣相搏耳，脈必沉細。</p>
<p>黨參（一錢五分）　炙耆（一錢五分）　白朮（一錢）　當歸（一錢）　陳皮（八分）　升麻（五分）　柴胡（七分）　桂枝（六分）　薑黃（一錢）　威靈仙（六分）　甘草（五分）</p>
<p>生薑三片，大棗三枚，水煎服。</p>
<p><u>又方</u>　治氣血凝滯，臂痛不能舉者。</p>
<p>薑黃（二錢）　赤芍（一錢五分）　當歸（一錢五分）　海桐皮（一錢五分）　白朮（一錢五分）　川羌（一錢）　甘草（一錢）　沉香（三四分，研末沖）</p>
<p>水煎服。</p>
<p><u>治手腫痛，或指掌連臂膊痛。名曰手氣。</u></p>
<p>當歸（一錢五分）　赤芍（一錢五分）　黃耆（一錢五分）　薑黃（一錢五分）　川羌（一錢五分）　甘草（五分）　薄荷（五分）　桂枝（五分）</p>
<p>水煎服。</p>
<p><u>手足生紫斑，白點枯厚破裂，名鵝掌風者。神效方。</u></p>
<p>白礬（三兩）　皂礬（三兩）　兒茶（五錢）　側柏葉（八兩生用）　苦參（二兩）　甘草（一兩）</p>
<p>先將患處，用桐油搽抹，再用桐油蘸紙捻點著，以煙焰薰之。片時，然後將前藥煎湯，盛入淨桶內，將手架上，以布蓋之。勿令走氣，熱時薰，溫時洗，洗至湯極冷，為度。忌七日，勿見湯水。</p>
<p><u>治手發背方</u></p>
<p>爛柿餅（一個）　蜈蚣（一條）　雄黃（少許）</p>
<p>共搗爛，塗患處。</p>
<p><u>大指蛇頭</u></p>
<p>雞蛋一個，加入雄黃，套指上，熱則另換。</p>
<p><u>羅疔</u>　指頭上初起水泡，或紅瘰大痛。</p>
<p>橄欖核（切兩段）</p>
<p>醋磨雞毛塗，須二十餘日消。</p>
<p><u>天蛇毒</u></p>
<p>用真鹽滷熬開，乘熱浸一周時，次日即愈。</p>
<p><u>又治手指頭天蛇瘡</u></p>
<p>生鴨蛋（兩個）　蜈蚣（一條）</p>
<p>將蜈蚣焙乾為末，用一半入蛋內，套在指上，候熱時再換一個。</p>
<p><u>指頭腫毒痛甚者</u></p>
<p>用烏梅肉，合魚鮓搗爛，封之極妙。</p>
<p><u>手足忽如火燃起紫白黃泡</u>　先用針挑破，太乙膏蓋之。挑破又生者，內服</p>
<p>防風（二錢五分）　牛蒡子（一錢五分）　山梔（一錢五分）　石膏（二錢，煅）　黃芩（一錢五分）　蒼朮（一錢五分）　甘草（一錢五分）　木通（一錢五分）</p>
<p>水煎服。</p>
<p><u>手足心腫</u>　風也。用花椒鹽醋和敷之。</p>
<p><u>手熱赤癢</u>　兩掌皮厚皺裂，皆肝脾血燥也。</p>
<p>薄荷（五分）　柴胡（五分）　當歸（三錢）　白芍（三錢）　白朮（二錢）　茯苓（二錢）　丹皮（一錢五分）　炒梔（一錢五分）　鉤藤（五錢）　大熟地（五錢）</p>
<p>水煎服。</p>
<p><u>治因提重物傷痛</u></p>
<p>潞黨　甘草　黃耆　當歸　白芍　熟地　陳膠　紫苑（各六分）　薑黃（五分）</p>
<p>黃酒一杯，兌水煎服。</p>

<h2>脊背部</h2>
<p>腎脈主脊，大腸筋挾脊，心脈與脊裡相貫，脾筋著脊，腎筋脈貫脊，膀胱筋脈挾脊。脊兩旁曰膂，膀胱脈循膂，腎脈循膂。背上兩角為肩解，小腸脈出肩解。肩解下成片肉為肩胛，大小腸筋脈俱繞肩胛。</p>
<p><u>治背惡寒方</u></p>
<p>黨參（三錢，去蘆）　白朮（二錢，土炒）　茯苓（三錢）　附子（五分，炮）　白芍（三錢，炒）</p>
<p>水煎服。</p>
<p><u>防風通氣湯</u>　治受風熱，肩背痛，小便數。</p>
<p>柴胡（一錢）　升麻（一錢）　黃耆（一錢）　防風（五分）　羌活（五分）　陳皮（五分）　黨參（五分）　甘草（五分）　藁本（三分）　青皮（三分）　黃柏（一分）　白蔻（二分）</p>
<p>水煎服。此方虛人勿服。</p>
<p><u>治肩背沉重痛</u>　濕熱所致。</p>
<p>川羌　甘草　黃芩　茵陳（各一錢）　黨參（四分）　苦參　升麻　葛根　蒼朮　當歸（各四分）　澤瀉　豬苓（各六分）　防風（六分）　知母（六分）　白朮（三分）</p>
<p>水煎服。</p>
<p><u>先脊背痛後及肩</u>　腎氣上逆也。</p>
<p>乾薑（一分）　乾葛（一錢）　熟軍（一錢）　枳殼（一分）　桔梗（二分）　蒼朮（二分）　升麻（二分）　白芍（七分）　陳皮（八分）　甘草（八分）　當歸（四分）　半夏（四分）　白芷（四分）　小茴香（五分）　川椒（十粒）　茯苓（四分）</p>
<p>水煎服。</p>
<p><u>虛弱心膈痛，牽引肋痛，走注及肩。</u>　發汗人患此甚多，乃元氣上逆也。</p>
<p>黃耆　人參　白朮　茯苓　炙草　當歸　川芎　白芍　熟地（各等分）　肉桂（減半）</p>
<p>水煎服。</p>
<p><u>背心一點痛</u></p>
<p>麻黃（一錢）　陳皮（一錢）　烏藥（一錢）　殭蠶（三分）　炮姜（三分）　川芎（五分）　枳殼（五分）　桔梗（五分）　白芷（五分）　炙草（五分）　羌活（六分）　茯苓（六分）　半夏（六分）</p>
<p>水煎服。</p>
<p><u>跌打肩背痛</u></p>
<p>桂心（四分）　桃仁（六分）　羌活（二錢）　獨活（一錢）　甘草（一錢）　川柏（五分）　麻黃（三分）　地龍（四分）　蘇木（六分）　歸尾（一錢）</p>
<p>酒水兌煎服。</p>

<h2>胸肋部</h2>
<p>胸上兩旁高處曰膺，胃脈到膺，膽筋系膺。結喉下曰缺盆，缺盆下曰胸，在膺之下，胸下曰𩩲骬，乃蔽心之骨也。心位在此，肺脈布胸中，肺筋結胸中，心筋結胸中，脾筋脈皆散胸中，肝脈上至胸，膽脈下胸中，腎脈入肺注胸中，胞絡脈起胸中，筋散胸中。肩下曰膊，膊下曰臑，臑對腋。肺筋脈入腋，心小腸結腋，膽筋走腋，胞絡脈抵腋。腋下為胠，胠下為脅。肝膽脈布脅，胞絡筋脈挾脅。脅後為肋。脾筋結肋，肝筋布肋。脅之下為季脅。肺筋抵季脅，膽筋脈乘季脅。季脅之下為䏚。膽筋乘䏚。乳房屬胃，乳頭屬肝。</p>
<p><u>旋覆湯</u>　治胸痛，常欲蹈壓其胸，當未痛之先，但欲飲熱湯水，病名肝著。</p>
<p>旋覆花（一錢）　枇杷葉（一錢）　川芎（一錢）　細辛（一錢）　赤苓（一錢）　前胡（一錢五分）</p>
<p>水煎服。</p>
<p><u>胸痛短氣</u>　水氣也。</p>
<p>蒼朮（三錢）　茯苓（二錢）　豬苓（二錢）　澤瀉（二錢）　肉桂（一錢）</p>
<p>水煎服。</p>
<p><u>胸痛痞塞</u>　痰氣也。</p>
<p>陳皮（二錢）　半夏（二錢）　茯苓（二錢）　甘草（五分）　食鹽（一分）</p>
<p>生薑三錢，水煎服。</p>
<p><u>痛不當心，橫於胸間者。名為膈痛。</u></p>
<p>白蔻（五分）　炙草（一錢二分）　木香（七分）　厚朴（三錢）　砂仁（一錢）　丁香（一錢）　青皮（一錢）　陳皮（一錢）　香附（三錢）</p>
<p>加鹽一分，姜三片，水煎服。</p>
<p><u>又方</u>　治同上。</p>
<p>牛黃（一分五釐）　狗寶（一分五釐）　麝香（一分五釐）　硃砂（五分）　沉香（五分）　赤石脂（一錢）　松香（煮化，入冷水中浸片時，再化再浸，三次為度，一錢）</p>
<p>共為細末，棗肉為丸，重四釐，用冷茶送下。</p>
<p><u>肋痛走注有聲</u>　痰飲也。</p>
<p>半夏（二錢）　南星（一錢）　枳實（一錢）　赤苓（一錢）　橘紅（一錢）　炙草（五分）　白芥子（一錢）</p>
<p>水煎服。</p>
<p><u>右肋痛方</u>　痰積氣滯也。</p>
<p>薑黃（一錢）　枳殼（二錢炒）　桂心（一錢）　甘草（四分）　陳皮（二錢）　木香（一錢）　青皮（八分）　川甲（四片，炒）</p>
<p>水煎服。</p>
<p><u>左肋痛方</u></p>
<p>枳實（二錢）　枳殼（二錢）　川芎（二錢）　柴胡（一錢五分）　陳皮（一錢五分）　白芍（一錢二分）　香附（一錢二分）　炙草（五分）</p>
<p>水煎服。</p>
<p><u>左肋痛不移處</u>　死血也。</p>
<p>桃仁　桂枝　芒硝　炙草（各一錢）　川軍（二錢）　鱉甲　青皮　柴胡　川芎　當歸（各八分）</p>
<p>水煎服。</p>
<p><u>肋痛有塊</u>　食積也。</p>
<p>山楂（二兩）　半夏　橘紅　神麯　麥芽（各一兩）　黃連　連翹　萊菔子（各五錢）　茯苓（一兩）</p>
<p>共為細末，水打丸服，早晚各三錢，白水下。</p>
<p><u>怒氣肋痛</u></p>
<p>香附（五錢）　川芎（二錢）　當歸（三錢）　柴胡（一錢）　青皮（一錢）</p>
<p>水煎服。</p>
<p><u>跌撲肋痛</u></p>
<p>柴胡（一錢五分）　花粉（一錢）　當歸（一錢）　紅花（八分）　甘草（八分）　川甲（八分）　川軍（三錢）　桃仁（二十個）</p>
<p>酒水兌煎服。</p>
<p><u>胸膈隱隱微痛</u>　是腎不納氣，氣虛不生血也。</p>
<p>山萸　當歸　五味子　山藥　黃耆　川芎　木瓜（各一錢五分）　熟地（五分）　白朮（五分）　獨活（一錢）　棗仁（一錢）</p>
<p>水煎服。</p>
<p><u>肋下一點痛</u>　名千肋痛。是酒色所致也，難治。將前方多服亦可好，然須忌酒遠色。</p>
<p><u>肋痞塞</u></p>
<p>沉香（五分）　人參（一錢）　檳榔（五分）　白朮　烏藥　麥芽　神麯　紫蘇　大腹皮　厚朴（各二錢）　訶皮（一錢）　香附（三錢）　薑黃　橘紅　甘草（各八分）　三稜（四錢）　益智（四錢）　紅花（八錢）　莪朮（四錢）</p>
<p>共為細末，每服二三錢，白開水調下。</p>
<p><u>乳腫硬先不痛後漸痛方</u></p>
<p>鹿角尖（煅存性，為末）</p>
<p>熱酒調服兩三服，即消。</p>
<p><u>吹乳雜方</u></p>
<p>發灰　礬灰　陳香櫞（各等分，酒調下）</p>
<p><u>又</u>　梳垢灰　發灰　鼠糞灰（各等分酒調下）</p>
<p><u>又</u>　雄羊糞，每粒改作三丸，面為衣曬乾，每服四十九丸，煮酒下盡醉，綿被蓋睡。</p>
<p><u>外治方</u>　萱花根搗爛塗，或蒲公英搗爛塗，俱效。</p>

<h2>臍腹部</h2>
<p>人心下有膈膜，前齊鳩尾，後齊脊骨十一椎周圍著脊，所以遮膈濁氣，不使上薰心肺，其名曰膈。十二經之脈，惟膀胱不貫膈，余皆能令膈疼。膈下為胃，上口在臍上五寸，上脘穴分，即上焦也。臍上四寸為中脘，即中焦也。肺脈起中焦在此，臍上二寸為下脘，即胃下口屬下焦。膈下為胃，上口曰賁門，在臍上五寸。臍上二寸為胃，下口曰幽門，傳入小腸。心脾筋結臍，胃之筋挾臍，肝脈抵小腹。</p>
<p><u>開鬱道氣湯</u>　治一切腹痛。</p>
<p>蒼朮（一錢）　香附（一錢）　川芎（一錢）　白芷（一錢）　茯苓（一錢）　滑石（一錢）　梔子（一錢）　神麯（一錢炒）　陳皮（五分）　炮姜（五分）　甘草（三分）</p>
<p>水煎服。</p>
<p><u>神驗丹</u>　治胃脘痛。</p>
<p>乳香　沒藥　木香　硃砂（各等分）</p>
<p>共為細末，每服二錢，薑湯調服。</p>
<p><u>鐵門閂</u>　治胃氣疼如神。</p>
<p>元胡　莪朮　良薑　五靈脂　當歸</p>
<p>各等分，每服或一錢或二錢，至多以三錢為度，用好陳醋，溫熱一杯調服。</p>
<p><u>遊山散</u>　治胃氣痛仙方</p>
<p>詩云：草果元胡索，靈脂並沒藥，酒調服三錢，一似手拈卻。</p>
<p>上四味，等分為末，每服三錢，溫酒調下，不拘時服。</p>
<p><u>治胃疼方</u></p>
<p>淡豆豉五錢，煎湯半茶鍾，服之立愈。</p>
<p><u>治胃脘大痛方</u></p>
<p>大梔子或（七九）個炒焦，用水二鍾，煎八分，加生薑汁二三分，服之立愈。</p>
<p><u>治胃氣冷痛方</u></p>
<p>白砂糖五錢，生薑一片，熬水熱服。</p>
<p><u>治冷氣搶心，一發即死，及久患心腹痛方</u></p>
<p>蓬莪朮（二兩，醋炒）　木香（一兩，煨）</p>
<p>共為末，每服五分，醋湯調下，從發時服至好後兩三日，一日服三四次。</p>
<p><u>大小男女一切心氣疼</u></p>
<p>馬兜鈴一個，燈心燒存性為末，溫酒調服立效。</p>
<p><u>胃脘血氣疼</u></p>
<p>紅花一大撮，水二鍾，煎一鍾服。</p>
<p><u>心如刀刺，口吐清水有蟲。</u></p>
<p>生艾杵汁一大碗，先半日勿吃晚飯，次日五鼓，先細嚼燒肉於口內，切勿吞下，口中水入肚，蟲聞香則頭向上矣，良久飲艾汁，立時打下蟲出。</p>
<p><u>神效散</u>　治心疼作酸，及水停心下，作聲如雷，口眼歪斜，不省人事。</p>
<p>膽礬（一分）</p>
<p>為末，溫黃酒送下，以吐盡痰為度。</p>
<p><u>治蟲鬧心痛</u>　牙關緊閉，勢將欲死。</p>
<p>老蔥白五莖，去皮及須，搗取汁，灌入喉中。如牙緊難開，用烏梅泡水，擦之自開。隨灌麻油四兩，但得下，咽即蘇，少頃蟲積皆化成黃水而下。</p>
<p><u>治中惡心腹痛</u></p>
<p>宰白毛烏骨雞，覆心口上即瘥，即死亦以此法治之。要骨俱黑者良，如鬼擊，用血塗之。或滴口中俱妙。</p>
<p><u>治心疼方</u></p>
<p>真芝麻油一鍾，煎熬極滾，入燒酒一小杯，乘熱飲。</p>
<p><u>治心疼方</u>　牙關緊閉，欲死，是因蟲之所致者。</p>
<p>用老蔥白五莖，去皮及須，搗爛取汁，用匙送入咽喉下，隨灌真香油四兩，但得下咽即蘇，少頃蟲積皆化黃水而下，極效。</p>
<p><u>治腹緊急疼痛，不辨何症。</u>　男婦並治。</p>
<p>用食鹽炒熱，以布裹熨之。其效如神。</p>
<p><u>治卒然肚現青黑色，</u>　不拘大人小兒。此乃血氣失養，風寒乘之。所變怪形，真危惡之敗症也。急用大青葉烘燥，研細。每服一錢五分，以好酒調下，黑退即愈。此起死回生之方也。</p>
<p><u>治絞腸痧方</u>　此症，夏日最多，肚腹急疼，唇指青黑者。是感受痧氣。然要看四肢彎彎處有青筋現露，急用針刺出惡血，立刻疼減。或用青銅錢沾涼水、香油各半，將前後心胸腹腰背筋骨縫處，及四肢彎彎處俱細細刮出痧子形來，疼痛即解大半，再用透明白礬研末，每服二錢。用生冷水熟熱水各半杯，兌勻調服，即愈。切忌薑湯茶葉大葷小米，及一切熱飲熱食，與諸生物。總之病愈後，要將肚腹多空幾個時辰才好，直待甚覺餓時，方食放冷稀粥，且此症務要辨明，倘是陰症。小腹疼者，萬不可用此法治。</p>
<p><u>治陰症小腹疼方</u>　預用生黃豆令病人嚼之，不知豆味。且細將本人問明，夜間有無房事，房事後或食生冷，或受外寒否。</p>
<p>枯白礬（棗子大，一塊）　帶須蔥白（切，一寸長，三個）　胡椒（按病人歲數一歲一粒）</p>
<p>用男孩吃之乳，量兌共合一處，搗做成一大丸，放肚臍上，一炷香時，疼痛即止。忌生冷要緊。</p>
<p><u>又治陰症神方</u></p>
<p>白明礬（一分）　胡椒（二分）　芒硝（一分）</p>
<p>共為細末，用鹽醋調和，攤男左女右手心，緊合陰處，蓋暖出汗即愈。其效如神。</p>
<p><u>又治陰症方名回春散</u></p>
<p>歌曰：一錢白礬八分丹，（即黃丹。）二分胡椒細細研。芒硝一分共四味，陳醋和來手內攤。男左女右合陰處，渾身出汗透衣衫。陰症此方如神效，不遇真人不與傳。（病甚重者宜加料治之。）</p>
<p><u>又治男婦房事後中寒肚疼方</u></p>
<p>用生薑、蔥白同搗爛，熱酒沖服，強睡片時，汗出即愈。如疾甚者，再另用蔥白頭搗爛炒熟，攤臍上，以艾火灸之，鼻尖出汗即愈。</p>
<p><u>純陽救苦湯</u>　治男婦陰症神效</p>
<p>大黑豆（三合，炒熟）　生薑（大塊約重二三兩，切片用）</p>
<p>水三碗，煮片時，去姜豆，取湯服，汗出即愈。</p>
<p><u>華佗救苦方</u>　治寒中三陰，口噤失音，四肢強直，攣急疼痛，狀似中風，及厥逆，唇青囊縮，無脈卒倒，屍厥脫陽等症。急用蔥白一握，微搗爛炒熱，用布包熨臍下，以三包更替熨之。甚者，再用艾火灸氣海、關元二三十壯，脈漸出，肢漸溫，乃可生也。</p>
<p><u>又治腹疼方</u>　不拘寒熱並效。</p>
<p>胡椒（四十粒）　綠豆（四十粒）</p>
<p>同研細碎，用滾酒浸服，疼痛立止。</p>
<p><u>又</u>　治小腹疼，諸藥不效者。用婦人油發燒灰三錢，酒調服。</p>

<h2>腰胯臀股部</h2>
<p>肝脈入腰，腎脈入腰，膀胱脈抵腰。膀胱脈貫臀，筋結於臀。臀下曰股。股肉屬脾，筋屬肝，骨屬腎。股之內側曰陰股，脾肝腎，三經筋脈俱循陰股。</p>
<p><u>六合散</u>　治腰痛因寒者，百試百驗。</p>
<p>羌活　獨活　大茴香　小茴香　杜仲　當歸（各三錢）　加破故紙二錢亦好。</p>
<p>黃酒一碗，煎露一宿，次早空心溫服，立愈。</p>
<p><u>又</u>　治腰痛因虛者，三服立愈。</p>
<p>杜仲（五錢）　故紙（四錢）　萆薢（三錢半）　當歸（二錢半）　續斷（二錢）　牛膝（二錢）　狗脊（二錢）　木瓜（一錢五分）　炙草（五分）</p>
<p>引用胡桃肉一兩五錢，一半同煎，一半嚼食，下藥。酒煎，加鹽一捻服。戒房事。</p>
<p><u>又</u>　治腰痛因風者，痛牽兩足，左右無常處。</p>
<p>獨活（二錢）　桑寄生（二錢）　杜仲（二錢）　牛膝（一錢）　細辛（一錢）　秦艽（一錢）　茯苓（一錢）　防風（一錢）　川芎（一錢）　當歸（八分）　白芍（八分）　地黃（八分）　甘草（八分）</p>
<p>水酒兌煎，沖桂心一錢，研細末服。</p>
<p><u>治腰痛因氣滯者</u></p>
<p>潞黨（一錢五分）　川芎（一錢五分）　桔梗（一錢五分）　白朮（一錢五分）　白芷（一錢五分）　陳皮（一錢五分）　枳殼（一錢）　烏藥（一錢）　炮姜（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p><u>治腰痛因閃挫跌傷者</u></p>
<p>大茴香（一錢）　山甲（一錢）　元胡（一錢）　黑醜（五分）　陳皮（五分）　炙草（五分）　木香（八分）</p>
<p>共為細末，黃酒調服二錢，一日服三次。如不效，是有滯血，服後方。</p>
<p><u>治腰痛因跌墜瘀血或大便不通</u></p>
<p>川軍（二錢）　全歸（二錢）　牛膝（二錢）　杏仁（二錢）　赤芍（一錢）　紅花（一錢）　生地（一錢）　羌活（一錢）　川芎（一錢五分）　桂枝（三分）</p>
<p>水酒兌煎服。</p>
<p><u>又治閃挫腰痛方</u></p>
<p>神麯用拳頭大一塊，火燒通紅，淬黃酒一碗內，少頃去神麯，飲黃酒即愈。</p>
<p><u>又六合散</u>　治腰痛因寒因虛，傴僂不能步履。</p>
<p>杜仲　肉蓯蓉（制）　巴戟（洗）　小茴香　補骨脂　淨青鹽（各一錢，共為細末）</p>
<p>用羊腰子二個，以竹刀剖開，散藥末在內，仍合住，外用熟麵包好，微火煨熟，好酒送下，日食一服。</p>
<p><u>治胯疼因濕寒者</u></p>
<p>蒼朮（一錢）　白朮（一錢）　炙草（一錢）　茯苓（二錢）　炮姜（二錢）　橘紅（二分半）　丁香（二分半）　白芍（四分）　青皮（四分）　檳榔（四分）</p>
<p>水煎服。</p>
<p><u>治胯痛因濕熱者</u></p>
<p>川柏（一錢，鹽炒）　澤瀉（七分）　蒼朮（一錢）　杜仲（七分）　白芍（七分）　牛膝（七分）　威靈仙（七分）　木瓜（七分）　陳皮（七分）　甘草（二分）　水煎，調乳香，沒藥（各去淨油，研細末各二分。）</p>
<p><u>補胯丸</u>　治久痛屬虛者。</p>
<p>黃耆（五錢）　獨活（五錢）　牛膝（五錢）　秦艽（五錢）　桑寄生（五錢）　石斛（五錢）　潞黨（一錢五分）　小茴香（一錢五分）　木瓜（一錢五分）　全當歸（七錢半）　蒼朮（七錢半）　杜仲（七錢半）　大熟地（一兩）　肉桂（一錢五分）</p>
<p>共為細末，煉蜜合丸，梧桐子大。每服四五錢，用溫黃酒送下。</p>
<p><u>治臀癰初起，紅赤腫痛，重墜大便秘。</u></p>
<p>川芎　當歸　防風　赤芍　蘇木　連翹　花粉　皂針　紅花　黃芩　枳殼（各三錢）　川軍（一錢五分）　乳香（五分，去油）</p>
<p>水煎服。</p>
<p><u>臀癰已成托裡排膿方</u></p>
<p>黃耆（二錢）　當歸（一錢）　川芎（一錢）　銀花（一錢）　皂針（一錢）　川甲（一錢）　甘草節（一錢）</p>
<p>水煎，入黃酒一杯服。</p>
<p><u>兩胯合縫處結腫，名魚口便毒方</u></p>
<p>歸尾（三錢）　甘草節（三錢）　川軍（三錢）　川山甲（三片）　殭蠶（一錢）　黑醜（一錢）　木鱉子（三個）</p>
<p>水酒兌煎服。俟便利四次後，食涼稀粥以補之。</p>
<p><u>又方</u>　治同上。名九龍丹。</p>
<p>兒茶　血竭　乳香（去油）　巴豆（去皮油）　木香（各等分）</p>
<p>共為細末，用蜂蜜合丸，如綠豆大。每服九丸，熱黃酒送下。甚者兩服必消。</p>
<p><u>又屢驗奇方</u>　治同上。</p>
<p>金頭蜈蚣一條（要全，研細）。同生雞蛋一個，從一頭打開指頂大一孔，將蜈蚣末入內，用銀簪攪勻，外用水濕紙厚裹之。向火內燒熟。晚睡時就熱黃酒食之。至次日周身欠爽，如重感冒病樣，勿恐。過一日即愈，疙瘩已全化矣。</p>
<p><u>治股痛因脾濕者</u></p>
<p>白朮（三錢炒）　防己（三錢）　牛膝（三錢，浸）　川附子（一錢，炮）</p>
<p>水煎，沖肉桂（一錢，研末），沉香（五分，研末），炒鹽一捻服。</p>
<p><u>治股痛，筋拘攣者。是肝腎受寒。</u></p>
<p>大熟地　山萸　山藥　丹皮　澤瀉　茯苓塊　附子　肉桂　川膝　車前子</p>
<p>水煎。沖沉香（五分，研末），炒鹽一捻，服。</p>
<p><u>治股裡面名陰股痛者</u></p>
<p>柴胡（一錢五分）　白芍（五錢）　當歸（五錢，洗）　白朮（三錢，土炒）　茯苓（三錢）　丹皮（一錢，洗）　炒梔（三錢）　青黛（一錢）　薄荷（五分）　龍膽草（五分）</p>
<p>水煎服。</p>

<h1>卷之三</h1>

<h2>前後二陰</h2>
<p>脾胃筋聚陰器，肝筋脈結陰器，腎筋結陰器。後陰肛門，是肺與大腸所主之地，肛門後尾骨尖，名尻尾，系膽筋結處。</p>
<p><u>治</u>　小便不通，點滴不能出，急悶特甚，心煩意燥，口渴，因心火亢極者。</p>
<p>蓮子青心（一錢）　麥冬（一兩）　茯苓（五錢）　車前子（三錢，夏布包煎）</p>
<p>水煎服。</p>
<p><u>治</u>　小便不通，眼睛突出，面紅耳熱，口渴煩躁，因膀胱火盛者。</p>
<p>王不留行（五錢）　澤瀉（三錢）　白朮（三錢）</p>
<p>水煎服。</p>
<p><u>治</u>　小便不通，少腹作脹，然不疼痛，上焦亦不煩躁，口亦不渴，舌亦不幹，繫命門火衰，膀胱之氣不化者。</p>
<p>大熟地（一兩）　山萸（五錢，蒸）　山藥（五錢）　茯苓（五錢）　丹皮（三錢）　澤瀉（三錢）　川附子（一錢，炮）　肉桂（二錢，研細沖服）</p>
<p>水煎服。</p>
<p><u>又方</u>　治小便不利，服利水藥不效，服此方即效。</p>
<p>升麻（一錢）　柴胡（一錢）　黃芩（一錢五分）　黃連（一錢五分）　黃柏（一錢五分）　山梔（二錢）　青皮（一錢五分）　木通（一錢五分）　通草（五分）</p>
<p>水煎服。</p>
<p>以上四方，皆治小水不通方也。因心火、膀胱火，或命火衰，或三焦與肝火、小腸火盛者。若夫淋瀝閉癃之症，宜開鬱行氣，養血滋陰，則用此　琥珀散　甚效。</p>
<p>川鬱金（一錢，搗）　青皮（一錢五分）　木通（一錢五分）　牛膝（三錢）　全歸（五錢）　大生地（一兩）　黃柏（三錢）</p>
<p>水煎，調琥珀（研末），一錢服。</p>
<p><u>又治小便不禁方</u></p>
<p>山萸肉（五錢）　五味子（三錢）　當歸（五錢）　白芍（五錢）　益智仁（三錢）　大熟地（八錢）　炒黃柏（二錢）</p>
<p>水煎服。</p>
<p><u>又</u>　治婦人咳嗽，即有溺出者。</p>
<p>潞黨（三錢）　麥冬（五錢）　白朮（三錢）　當歸（三錢）　柴胡（二錢）　黃芩（二錢）　青皮（一錢五分）　五味子（一錢五分）</p>
<p>水煎服。</p>
<p><u>又</u>　治小便出血，溺管痛不可忍者。</p>
<p>淡豆豉（五錢）</p>
<p>水煎湯，溫服。</p>
<p><u>又濕鬱白濁方</u>　凡少年思欲不遂，相火鬱結，兼受濕熱，致有此症。以川軍三錢，裹入無餡饅頭內蒸熟，晾燥，炒研細末，以生白酒調下即瘥。</p>
<p><u>又一方</u>　用六一散，涼開水調服三錢，日服三次亦愈。並治小兒溺尿如米泔者，減半服之，立效如神。（六一散，是六兩滑石，一兩甘草，同研末。）</p>
<p><u>又治白濁方</u>　欲過所致。</p>
<p>益智仁（二錢）　川萆薢（三錢）　石菖蒲（一錢五分）　烏藥（一錢五分）　茯苓（三錢）　甘草（一錢五分）</p>
<p>水煎服。</p>
<p><u>又治赤濁方</u>　虛熱所致。</p>
<p>遠志肉（一錢五分）　石菖蒲（一錢五分）　黃芩（一錢）　骨皮（一錢）　茯苓（一錢）　炙草（一錢）　石蓮子（一錢）　車前子（一錢）　麥冬（一錢）　黨參（一錢）　黃耆（一錢）</p>
<p>水煎服。</p>
<p><u>又治小便利如泔汁方</u>　腎虛所致。</p>
<p>桂心（一錢）　白石脂（二錢）　牡蠣（二錢，煅）　菟絲子（二錢）　黃瓜藤根（一錢）</p>
<p>共為細末，每服一錢，日三服，用大麥湯調下。</p>
<p><u>又治思慮過度，神不安，遺精白濁方</u></p>
<p>遠志肉（兩半）　茯神（一兩）　人參（六錢）　酸棗仁（五錢）　牡蠣（五錢）　五倍子（五錢）　枯礬（五錢）　龍骨（五錢，煅）</p>
<p>共為細末，棗肉為丸，梧桐子大。每服三錢，麥冬湯下。</p>
<p><u>豬肚丸</u>　治一切遺精。</p>
<p>白朮（五兩，土炒）　苦參（三兩）　牡蠣（四兩，煅）</p>
<p>共為細末，用雄豬肚一個，入藥末在內，煮爛放石臼中共搗為丸，梧桐子大。每服三錢，日三服，白開水送下。</p>
<p><u>又治</u>　虛損遺精，或兼筋骨痠軟，或兼盜汗皆效。</p>
<p>山藥（二兩）　枸杞（二兩）　黃耆（二兩）　石蓮肉（二兩）　知母（二兩，鹽炒）　黃柏（二兩，鹽炒）　五味子（二兩）　菟絲（二兩）　茯苓（二兩）　人參（兩半，去蘆）　瑣陽（一兩，酒洗酥炙）　蛤粉（二兩）　沙苑蒺藜（二兩）</p>
<p>共為細末，用白朮（三兩，土炒），山藥（三兩），水熬取汁成膏，和丸，梧桐子大。每服三錢，用淡鹽湯送下。</p>
<p><u>治</u>　忽心有所動，寐即遺精。</p>
<p>黃柏（四錢）　砂仁（二錢）　豬苓（五錢）　茯苓（五錢）　黃連（五錢）　白芷（五錢）　益智仁（五錢）　甘草（一錢）</p>
<p>共為細末，用芡實三兩，研末打糊為丸，梧桐子大。每服三錢，淡鹽湯下。</p>
<p><u>治</u>　才睡即泄</p>
<p>龍骨（煅）　韭子（各等分）</p>
<p>共為末，酒調服三錢。</p>
<p>治遺精心神不定，方名　妙香散　。</p>
<p>龍骨（五錢）　益智仁（五錢）　人參（五錢）　茯苓（三錢）　遠志（三錢）　茯神（三錢）　硃砂（一錢）　炙草（一錢）</p>
<p>共為末，酒調每服三錢。</p>
<p><u>治</u>　有所聞見，不待寐即出。亦用前妙香散方內，再加入</p>
<p>鍾乳粉（五錢，煉）　陽起石（五錢，煅紅，酒淬，放陰地上）　牡蠣（七錢，煅）　白石脂（五錢，瓦上煅紅）</p>
<p>共為細末，用糯米飯糊為丸，桐子大。放土上一日出火毒，每服二錢，用人參湯放涼送下。</p>
<p><u>保生丹</u>　治夢遺效方。</p>
<p>枸杞（八錢）　熟地（四錢）　柏子仁（四錢，去油）　蓮蕊（四錢，酒煮）　菟絲子（四錢）　芡實（四錢）　龍骨（二錢，煅）</p>
<p>共為細末，用金櫻子（去淨毛蟲刺，用淨肉），一兩四錢，水煎濃湯，和煉蜜為丸，桐子大。每服三錢，白開水送下。</p>
<p><u>治莖腫溺澀作痛方</u></p>
<p>萹蓄（四錢）　瞿麥（三錢）　滑石（二錢）　甘草（一錢）</p>
<p>燈心一子，水煎服。若便秘加大黃煎服。</p>
<p><u>治陽莖挺脹方</u>　甘草梢（二兩）　黑豆（半升）</p>
<p>水煎濃湯，空心服。</p>
<p><u>治腎漏</u>　長硬不痿，精出捏之。則脆癢如針刺。</p>
<p>補骨脂　韭子（各一兩）</p>
<p>研粗末，每服三錢，水煎服，一日服三次。</p>
<p><u>治莖紅熱腫生瘡</u></p>
<p>膽草（一錢）　連翹（一錢）　生地（一錢）　澤瀉（一錢）　車前子（五分）　木通（五分）　歸尾（五分）　山梔（五分）　川連（五分）　條黃芩（五分）</p>
<p>水煎服。便秘加大黃。</p>
<p><u>治腫破潰爛作痛</u></p>
<p>胡連（一兩）　黃連（一兩）　蘆薈（一兩）　蕪荑（一兩）　青皮（一兩）　雷丸（一兩）　鶴蝨草（一兩）　麝香（一錢）　木香（三錢）</p>
<p>蒸餅為丸，每空心服一二錢，白開水送下。</p>
<p><u>治下疳腐爛銀粉丹</u></p>
<p>錫（六錢）　硃砂末（二錢）</p>
<p>同炒至砂枯時，去砂，將錫化開，入水銀一兩，另用好粉一兩，研細，卷在紙條內，點火燒盡，去灰用粉，同前藥和勻，再入輕粉一兩，共研極細，糝患上止痛，生肌收斂。須先用甘草湯洗淨，後上此藥。</p>
<p><u>治</u>　腐爛疼痛，及新肉已滿，不能生皮。</p>
<p>靛花（一錢）　珍珠（二錢，用豆腐內煮）　輕粉（二兩）</p>
<p>共為極細末。若下疳初起皮損，搽之即愈。若日久爛者，用甘草水洗淨，用豬脊髓調搽。諸瘡不生皮，干糝亦好。</p>
<p><u>治</u>　婦女陰戶腫痛。肝家之濕熱所致也。</p>
<p>當歸（一錢）　白芍（一錢）　川芎（一錢）　生地（一錢）　山梔（一錢）　黃連（一錢）　連翹（一錢）　膽草（一錢）　柴胡（六分）　澤瀉（六分）　木通（六分）　滑石（一錢）　蘆薈（五分）　防風（八分）　甘草（三分）</p>
<p>引加淡竹葉一捻，燈心一子，水煎服。</p>
<p><u>治</u>　婦女陰中作癢</p>
<p>杏仁（去皮尖）　輕粉　水銀（鉛製）　雄黃（各一錢）</p>
<p>共為末，每用五分，以棗肉一枚和丸，用綿裹，留綿頭在外。先用威靈仙　苦參　蛇床子　歸尾　狼毒　鶴蝨草（各三錢）　水熬湯，入豬膽汁二枚，乘熱先薰後洗，洗後即將綿裹藥丸，安入陰中。每將小便時取出，溺完再安入。一日一換，以愈為度。至重者。亦不過五七丸。然內要每日煎一劑涼血湯服。</p>
<p><u>涼血湯</u>　此方湯藥，日服一劑，又可以治婦女陰中痛如淋症者。</p>
<p>當歸　川芎　白芍　生地　山梔　黃芩　黃連　木通　柴胡（上各一錢半）　茵陳　膽草　知母　麥冬（上各一錢）　甘草（五分）　川軍（三錢，便秘者加入，利者去之）</p>
<p>引用淡竹葉三分，燈心一子，水煎服。</p>
<p><u>治女人陰吹方</u>　前陰放空如撒屁之聲，名為陰吹，胃氣下泄也。</p>
<p>豬板油（八兩）　亂髮（用雞子大一團，以肥皂水洗淨）</p>
<p>放鐵勺內，火上熬至發烊，分兩次服。此方可兼治男女黃疸。</p>
<p><u>治</u>　大便氣秘，欲下不下，名陽秘，脈數能食者。</p>
<p>當歸（五錢，洗）　麻仁（三錢，研）　枳殼（二錢，炒）　檳榔（三錢）　木香（一錢）　陳皮（二錢）　杏仁（三錢，炒研）　刺蒺藜（五錢）　酸棗仁（五錢，研）</p>
<p>水煎服。</p>
<p><u>治</u>　大便糞結，陰液不足，腸燥肛裂，名陰結，脈沉遲，不欲食者。</p>
<p>當歸（五錢）　桃仁（二錢）　麻仁（三錢）　瑣陽（五錢）　肉蓯蓉（五錢）　刺蒺藜（三錢）　酸棗仁（三錢）</p>
<p>水煎，調豬脂（三錢），生蜂蜜（五錢），服。</p>
<p><u>又</u>　有風秘症，大便時聲如裂帛，壅塞不快者。</p>
<p>即將前治陽秘方內，加防風、紫蘇葉（各一錢五分），煎服。</p>
<p><u>又</u>　有似秘非秘症。年高人，久病人，多有之。因津虧血短耳。</p>
<p>熟地（八錢）　山萸（四錢）　山藥（四錢）　茯苓（三錢）　澤瀉（三錢）　丹皮（三錢）　瑣陽（五錢）　肉蓯蓉（五錢）　人參（一錢五分）　黃耆（一錢五分）</p>
<p>水煎，勻兩三次溫服，一日服一劑。</p>
<p><u>治</u>　大便出溺，小便出糞，名交腸病。</p>
<p>好阿膠（二錢，炒珠）　白朮（一錢二分，土炒）　茯苓（一錢二分）　豬苓（一錢二分）　澤瀉（一錢二分）　廣縮砂（八分）　藿香（一錢六分）　白蔻（四分，去皮）　公丁香（四分）　檀香（四分）　廣木香（四分）　炙草（一錢六分）</p>
<p>水煎，調肉桂末一錢二分服。</p>
<p><u>治</u>　痔初起腫痛</p>
<p>用皮硝一把，煎濃湯，熱薰溫洗，再用一烘熱舊布鞋底墊坐，再用豬大腸煮爛，蘸蜜空心徐徐食之。如此法連治七日，自愈。</p>
<p><u>治</u>　便血及痔瘡</p>
<p>烏梅（好醋煮爛，去核，半斤）　百草霜（即鍋底煙煤，刮下用，研末，三兩）　胡黃連（四兩，用豬大腸一節裝好，兩頭以綿縛固，在飯鍋內蒸，以腸爛為度，去腸曬乾，研細末用）　以上三味共搗成膏，再作丸桐子大。每日清晨服三錢，白開水送下，一料即愈。</p>
<p><u>治</u>　痔瘡疼痛</p>
<p>胡黃連研，用鵝膽汁調敷之。</p>
<p><u>治</u>　穿腸痔漏。諸痔皆效。</p>
<p>水安息香（要真的）</p>
<p>每日早晚用少許塗之，十數日即愈。</p>
<p><u>治</u>　痔漏，兼治牛皮癬。</p>
<p>黃蜂窩（一個，內有蜂子者方有力）　明礬（研細末）</p>
<p>以礬填滿蜂窩，用微火煅之，俟窩內礬滾透，窩亦成灰，研細，以香油調搽患處。</p>
<p><u>痔漏仙方</u></p>
<p>圓眼肉（四兩）　川黃連（一錢）　犀角尖（二錢）　白礬（二錢）</p>
<p>共搗為丸，如桐子大，硃砂為衣。每空心時即服七八粒，茶水任下。</p>
<p><u>治男婦久痔不痊，翻花疼痛難忍方</u></p>
<p>番木鱉（一個）　冰片（七釐）</p>
<p>用極粗碗底，以熱水研汁塗之，即愈。（每月塗一次。）</p>
<p><u>又方</u>　用真象牙（研細末）　豆腐皮水泡軟，裁成小塊，包五包，每包二分，早起空心喝豆腐漿一口，送一包，連服五包，約每日服象牙末一錢，連服十日，能多服更好。</p>
<p><u>內痔不出</u>　先用溫水洗淨肛門，隨用吐津調。</p>
<p>生草烏　枯礬（五錢）　刺蝟皮（一錢，燒灰存性）　麝香（五分）　冰片（二分）　食鹽（三錢，炒）</p>
<p>研細末，調三錢，填入肛門片時，痔即出，去此藥，上後藥。</p>
<p>痔出後再用此藥</p>
<p>白芨（三錢）　石膏（三錢）　黃連（三錢）　冰片（二分）　麝香（二分）</p>
<p>共研細末，以雞子清調成膏，圍護痔外邊，再上後藥。</p>
<p>圍護妥再用此藥塗瘡頂上</p>
<p>白礬（二兩）　蟾酥（二錢）　輕粉（四錢）　砒霜（一兩）　天靈蓋（煅紅，水淬七次，用四錢）</p>
<p>共為末，入鐵窩內蓋好，鹽泥封固，炭火煅二炷香時，俟冷開出，研末，磁瓶收貯。每日辰午申三個時辰，搽三次，臨搽先用溫水洗淨，將四圍塗前藥，再用此藥搽頂上，連搽七八日，看痔枯黑堅硬裂縫，待其自落，然後用後藥。</p>
<p>痔枯黑裂縫時，以此藥洗之。</p>
<p>黃連　黃芩　黃柏　梔子　川軍　防風　荊芥　槐角　苦參　甘草（各一兩）　朴硝（五錢）</p>
<p>分三次，水煎洗。痔真落，再上後藥以收功。</p>
<p>痔落孔竅不收，上此生肌。</p>
<p>乳香　沒藥　海螵　黃丹　赤石脂　龍骨　血竭　熊膽　輕粉　麝香　冰片　珍珠</p>
<p>研極細末，早晚搽二次，蓋膏漸斂，兼服補藥，半月收功。</p>
<p>外痔亦可照此法，除生草烏、刺蝟皮方不用。以下四方，皆按次第施治皆好。然均宜忌房事百日。</p>
<p><u>治脫肛方</u></p>
<p>先用肥皂水洗，再用五倍子研細末，塗以絹托而上之，連治十次。</p>
<p><u>治大便內穀道作癢方</u></p>
<p>先用雄黃，和艾葉燒煙燻之，日熏一次，連熏三次，再用蜣螂七個，預於五月五日收，臨用去足翅，炙焦為末，合新牛糞五錢，肥羊肉一兩炒香，共搗如膏，丸如蓮子大。炙熱以新綿薄裹，納穀道中半日，少吃飯，即大便蟲出，三五次全愈。</p>
<p><u>治肛門腫痛方</u></p>
<p>木鱉肉（五個）</p>
<p>研如泥，安盆內，以沸湯沖洗之。另用少許塗腫處。</p>
<p><u>治尻骨處腫痛將欲成瘡方</u></p>
<p>當歸（二錢）　白芍（一錢）　川芎（二錢）　生地（二錢）　柴胡（一錢六分）　黃芩（一錢六分）　知母（一錢六分）　川貝（一錢六分）　澤瀉（一錢）　地骨皮（一錢）　甘草（一錢）</p>
<p>生薑三片，水煎服。</p>
<p><u>治尻骨處已成瘡方</u></p>
<p>潞黨（二錢）　黃耆（二錢）　白朮（二錢）　陳皮（二錢）　茯苓（二錢）　當歸（二錢）　生地（二錢）　丹皮（一錢）　甘草（二錢）　沉香（一錢）</p>
<p>水煎服。</p>
<p><u>治尻骨處瘡破不收口方</u></p>
<p>黨參（二錢）　黃耆（二錢）　白朮（二錢）　茯苓（二錢）　當歸（二錢）　生地（二錢）　杜仲（二錢）　山萸（二錢）　丹皮（二錢）　桂心（一錢）　白附子（一錢）　甘草（一錢）</p>
<p>生薑三片，大棗三枚，水煎服。</p>
<p>治穀道前，腎囊後生瘡，名懸癰，又名騎馬癰。　驗方。</p>
<p>金銀花（四兩）　蒲公英（二兩）　天花粉（三錢）　全當歸（二兩）　生甘草（一兩）　好人參（五分）　川大黃（五錢）</p>
<p>水煎服。此方頗效，莫嫌分兩大。連服三四劑，即可全愈。</p>

<h2>腿膝足腳部</h2>
<p>肝脾腎三陰，統乎下體。膝屬肝脾腎，足肚名腨，屬膀胱。外臁屬足三陽，內臁屬足三陰。足大指外側屬肝，內側屬脾。中指屬胃。第四指屬膽。小指屬腎。足根屬膀胱腎。足心屬腎。</p>
<p><u>三因勝駿丸</u>　治下部一切痛，兼治鶴膝風。</p>
<p>當歸（洗）　天麻（煨）　牛膝（浸）　棗仁（炒）　熟地　防風（各二兩）　附子片（一兩，炮）　木瓜（四兩，洗）　全蠍　檳榔　萆薢　肉蓯蓉（制）　故紙　巴戟（洗）　蒼朮（各一兩，炒）　川羌　炙草　木香　乳香（去油）　沒藥（各五錢，去油）　麝香（一錢）</p>
<p>共為細末，蜜丸桐子大。每空心服三錢，鹽酒送下。</p>
<p><u>雷火針法</u>　治一切腿痛。</p>
<p>乳香　官桂　血竭　丁香　麝香（各六分）　杏仁（一分四釐）　真蘄艾（一兩）　木香（六分）　沉香（四錢）　檀香（四錢）</p>
<p>各為粗末，捲紙捻，用香油蘸點著吹滅，照穴道針之。</p>
<p><u>治</u>　膝蓋處痿軟無力，或痛如針刺。</p>
<p>熟地（八錢）　山萸（四錢）　塊苓（三錢）　澤瀉（三錢）　山藥（四錢）　丹皮（三錢）　牛膝（三錢）　車前子（三錢）</p>
<p>水煎服。</p>
<p><u>治</u>　下體痿病。手足痿軟無力，百節縱緩不收，下身瘦弱不能步趨，及手足戰搖不能握物，此血虛內熱故也。</p>
<p>潞黨（一錢五分）　黃耆（一錢五分）　黃連（一錢五分）　黃柏（一錢五分）　麥冬（一錢五分）　生地（一錢五分）　五味子（七分）　白朮（一錢五分）　白茯苓（一錢五分）　陳皮（一錢五分）　當歸（一錢五分）　豬苓（一錢五分）　澤瀉（一錢五分）　甘草（一錢）　升麻（七分）　柴胡（八分）　神麯（一錢）</p>
<p>水煎服。</p>
<p><u>又丸藥方</u>　治同上。</p>
<p>蒼朮（四兩，炒）　黃柏（四兩）　牛膝（二兩，浸）　歸尾（二兩，洗）　龜板（一兩，炙）　虎脛（一兩，炙）　防風（一兩）</p>
<p>共為細末，麵糊丸，桐子大。每服三四錢，薑湯加鹽少許下。</p>
<p><u>治臁瘡久不愈方</u></p>
<p>用獸醫剷下驢蹄片，砂鍋炒黑色存性，研末，濕則幹上，干則油調上。</p>
<p><u>又治臁瘡效方</u></p>
<p>用油紙一張，上灑乳香末二錢五分，雙摺了闊一寸，仍復豎折三折，以線扎兩頭，用甘草一兩二錢，水三碗，將藥紙入內，煮數滾取出，解開，再以輕粉一錢，灑乳香上，貼在壁上陰乾，隨患之大小，剪而貼之。三日一換，如貼後無水出，不換自愈。</p>
<p><u>治腳氣初起身痛便結先服方</u></p>
<p>當歸（一錢）　枳實（一錢）　羌活（一錢）　獨活（一錢）　防己（一錢）　酒軍（一錢半）</p>
<p>水煎服，大便利，再服後方。</p>
<p><u>治腳氣後方</u></p>
<p>黨參（四分）　苦參（四分）　升麻（四分）　葛根（四分）　蒼朮（四分）　炙草（一錢）　酒芩（一錢）　茵陳（一錢）　羌活（一錢）　當歸（五分）　知母（五分）　豬苓（五分）　澤瀉（五分）　白朮（五分）　防風（五分）</p>
<p>水煎服。</p>
<p><u>檳蘇散</u>　治腳氣過熱，腫痛衝心，坐臥不得。</p>
<p>檳榔（一錢）　桑白皮（一錢）　赤苓（一錢）　木通（一錢）　杏仁（七分半）　百合（七分半）　蘇葉（一錢）　軟前胡（七分半）　紫苑（七分半）　甘草（七分半）</p>
<p>痛加木香，腫加大腹皮，發熱加大黃、黃芩，生薑三片，水煎服。</p>
<p><u>治腳後跟痛方</u></p>
<p>牛膝（一兩）　薏米（兩半）　蒼朮（七錢半）　杜仲（五錢）　黃柏（五錢）　當歸（五錢）　石斛（五錢）　川萆薢（五錢）　木瓜（五錢）　秦艽（五錢）　木通（五錢）</p>
<p>共為粗末，分作三四付，水煎空心服。</p>
<p><u>治腳心痛方</u></p>
<p>檳榔（二錢）　陳皮（二錢）　木瓜（二錢）　吳萸（一錢六分）　紫蘇（一錢六分）</p>
<p>水煎服。</p>
<p><u>治腳底板紅腫熱疼方</u>　症名腳隱。敷藥效方。</p>
<p>大蒜頭（量用）　食鹽（大約蒜用一兩，鹽用三錢許）</p>
<p>搗成泥，敷一夜即愈。</p>
<p><u>治腳指縫腫爛方</u></p>
<p>用土牆上白螺螄殼煅研，如有五錢，加枯礬二錢五分，冰片二分五釐，共研細搽之。</p>
<p><u>治</u>　腳痛如火燎，從足跗熱至腰胯。</p>
<p>蒼朮（二兩，炒）　黃柏（一兩，酒炒）　牛膝（酒浸）　當歸（酒洗）　萆薢　防己　龜版（各五錢，酥炙）</p>
<p>共為細末，蜜小丸。每服三錢，白水下。</p>
<p><u>治雞眼疼方</u></p>
<p>地骨皮　紅花</p>
<p>各等分，研極細末，敷患處。</p>
<p><u>治婦人兩足痛方</u></p>
<p>當歸　熟地　白朮　牛膝（各一兩五錢）　川芎　蒼朮（各七錢五分）　白芍　茯苓（各一兩）　防風　羌活　獨活　南星　天麻　木瓜　防己　虎脛　沒藥（各五分）　乳香（二錢五分）</p>
<p>共為末，酒糊丸，桐子大。服三錢，白水下。</p>
<p><u>治婦女腳丫作癢方</u></p>
<p>枯礬（五錢）　石膏（三錢，煨）　輕粉（三錢）　黃丹（三錢）</p>
<p>共為細末，溫湯洗淨，搽之即愈。</p>
<p><u>治腳底起泡方</u></p>
<p>凡行遠路，足底起泡疼痛，用水調白麵塗之，一夜即平。又法：用蘿蔔子（炒，研末）　白礬末各等分，鋪鞋襪底上，即行遠路，永不作痛。</p>
<p><u>治</u>　腳趾脫疽。此症發於腳指，漸上至膝，色黑內陷，痛不可忍，逐節脫落，亦有發於手者。</p>
<p>土蜂房（煅，研細末）　好醋調搽，應手而愈，真仙方也。須內服保脫湯，其方</p>
<p>薏米（三兩）　茯苓（二兩）　白朮（一兩）　車前子（五錢）　桂心（一錢）</p>
<p>水煎空心服，要連服十劑，永無後患。</p>
<p><u>治</u>　腳丫潮爛</p>
<p>凡腳指丫縫，感受濕氣，紅赤腫癢，搔之疼痛，似如爛腐，步履難行。用烏柏嫩葉，水浸軟，抹燥，嵌貼丫內，立時痛止收燥而愈。如女子腳臁上，所受濕氣，忽起白泡，痛爛，亦以此貼之，即可止痛。</p>

<h2>皮膚部</h2>
<p><u>治麻症效方</u>　非癢非痛，肌肉之內如小蟲亂行，按之不止，搔之愈甚，如麻之亂者然。</p>
<p>枳殼（三錢，炒）　半夏（三錢）　防風（三錢）　羌活（二錢）　木通（三錢）　橘紅（六分）</p>
<p>引加豬牙皂角（五分），生薑（一兩），水煎服。在手臂，加桑枝。在腿足，加牛膝。方內再加殭蠶更妙。病減時，多服補中益氣湯。</p>
<p><u>治木症效方</u>　不癢不痛，自己肌肉，如他人肌肉，按之不知，搔之不覺，如木之厚者然。</p>
<p>阿膠（三錢，炒）　當歸（五錢，洗）　桃仁（一錢五分）　紅花（一錢五分）　肉桂（一錢五分）　川附子（七分，炮）　烏藥（二錢）　木香（一錢）　木通（三錢）　川山甲（三錢，炙）</p>
<p>引加豬牙皂角五分，黃酒一杯，兌水煎服。病減時，多服八珍湯。</p>
<p><u>治渾身麻木方</u>　先服此。</p>
<p>當歸　川芎　白芍　茯苓　桔梗（各八分）　蒼朮　白芷　厚朴　陳皮（各六分）　枳殼（七分）　麻黃　半夏（各四分）　肉桂　乾薑　桂枝　甘草（各三分）</p>
<p>引用蔥白一寸，生薑三片，水煎服。</p>
<p><u>治渾身麻木方</u>　後服此。</p>
<p>當歸　茯苓（各一錢）　川芎　熟地　陳皮　半夏　羌活（各七分）　白芍（八分）　黨參　秦艽　牛膝（各六分）　桂枝（三分）　防風（五分）　柴胡（四分）　炙草（四分）　白朮（三錢，土炒）</p>
<p>生薑三片，水煎服。</p>
<p><u>治</u>　口舌麻木，吐痰涎，或身麻有痰者。</p>
<p>黃連（五分）　半夏（一錢）　蔞仁（一錢）　黃芩（八分）　茯苓（一錢）　桔梗（六分）　枳殼（六分）　陳皮（五分）　天麻（八分）　細辛（五分）　南星（一錢）　甘草（五分）</p>
<p>血虛加當歸。氣虛加黨參。生薑三片，水煎服。</p>
<p><u>治痹症方</u>　痹者，閉而不通也。初因元氣內虛，外為風寒濕三氣所襲，不能隨時祛散，久則成痹。風氣勝者為行痹，寒氣勝者為痛痹，濕氣者為著痹，此三痹也。又有五痹，筋屈不伸為筋痹，血凝不流為脈痹，肌多不仁為肉痹，重滯不舉為骨痹，遇寒皮急為皮痹。此方統治諸痹，但直按症加減。</p>
<p>羌活　川芎　防風　蒼朮　秦艽　紅花　肉桂　細辛　續斷（各等分）</p>
<p>筋痹，加木瓜、柴胡。骨痹，加獨活、澤瀉。肉痹，加茯苓、陳皮、木香、砂仁。脈痹，加菖蒲、茯神、當歸。皮痹，加紫苑、杏仁、麻黃。水煎服。</p>
<p><u>治流注症方</u>　或四肢關節處，或胸腹腰臀處，或漫腫或結塊，以此方治之。未成即消，已成即潰。</p>
<p>陳皮（一錢）　半夏（一錢）　蘇葉（一錢）　茯苓（一錢）　青皮（一錢）　烏藥（一錢）　全歸（一錢）　黃耆（一錢）　川芎（一錢）　赤芍（一錢）　桔梗（一錢）　枳實（一錢）　防風（一錢）　木香（一錢）　大腹子（一錢）</p>
<p>水煎服。外用生蔥搗爛炒熱，貼患處，冷則易之。</p>
<p><u>治濕痰流注神驗方</u></p>
<p>用薑黃母子（是大薑黃身上小釘子是也。）</p>
<p>為末，用小紅棗去核，將末入內填平，再用絲綿紮緊，塞鼻孔內，男左女右，再隨量飲醉，蓋暖出汗，不拘已潰未潰，皆效。</p>
<p><u>治結核症方</u>　不拘周身何處，皮里肉外，如豆如榛，或如貫珠者。皆以此方治之。</p>
<p>薄荷　柴胡　當歸　白芍　茯苓　白朮　炒梔　丹皮　甘草（各等分）</p>
<p>在上部，加升麻、紫蘇。在下部，加牛膝。</p>
<p>水煎，日服一劑，連服二三十劑，更好。</p>
<p><u>治皮膚起疙瘩搔癢方</u>　如血風瘡症，服之亦效。</p>
<p>黃芩（二錢）　防風（二錢）　荊芥（二錢）　元參（五錢）　沙參（三錢）　連翹（三錢）　紫蘇（八分）</p>
<p>水煎服。</p>
<p><u>又</u>　治皮膚搔癢非常。</p>
<p>當歸（二錢，洗）　白芍（二錢）　生地（三錢）　川芎（一錢五分）　天冬（三錢）　麥冬（五錢，去心）　白蒺藜（三錢，去刺）　殭蠶（二錢，炒）　蟬蛻（二錢，去足）　蒡子（一錢，炒研）　威靈仙（一錢）</p>
<p>引用桑嫩枝二三錢，水煎服。外用蒼耳、地膚子、浮萍，水熬湯浴之。</p>
<p><u>又治皮膚疼痛方</u></p>
<p>桑白皮（二錢）　乾葛（一錢）　柴胡（一錢）　枯芩（一錢）　元參（一錢）　地骨皮（一錢五分）　天冬（一錢五分）　麥冬（一錢五分）　木通（四分）　甘草（四分）</p>
<p>引用蔥白三寸，生薑三片，水煎服。取微汗。</p>
<p><u>治</u>　遍身紅紫斑點，色若葡萄。</p>
<p>羚羊角（一錢五分）　防風（一錢五分）　麥冬（一錢五分）　元參（一錢五分）　知母（一錢五分）　黃芩（一錢五分）　甘草（五分）　牛蒡子（一錢五分，炒研）</p>
<p>水煎服。</p>
<p><u>治</u>　皮膚枯燥，如魚鱗狀者。</p>
<p>用牛骨髓，真酥油合煉一處，每日空心熱酒調二三錢。</p>
<p><u>治赤白遊風方</u>　皮膚間或赤暈如霞，或白暈如綿，遊走不定，有時瘙癢，得風則遊行，遇怒亦流動。</p>
<p>大熟地（八錢）　山萸（四錢）　山藥（四錢）　丹皮（三錢）　塊苓（三錢）　澤瀉（三錢）　五味子（一錢五分）　紫背浮萍（四錢）</p>
<p>水煎服。</p>
<p><u>治疥如神方</u></p>
<p>巴豆一兩，微炒去殼，合麻油蓖子三兩，同搗極爛，用磁罐收貯。遇有患疥者，必須長過一月之後，臨睡時用兩手中指，各挑藥一指頭肚互相塗在兩手心，內封將兩心背擦勻。已不見藥形，只有藥味耳。然後將周身用此藥手細細摸擦之。切忌頭脖以上及小便處，與婦女兩乳處，不可見此藥。男子忌兩處，婦女忌三處，千萬不可著手。擦完將手用白布包裹嚴密再睡，次早先用水洗淨手，再另用水淨面，如此摸擦三晚，將周身俱表出如痱子形即愈矣。</p>
<p><u>仙拈散</u>　治男女遠年風濕，血風皮蛀，寒濕浸淫，流水發癢，搔之疼痛，兩腿肌膚黑腫，似潰未潰，或時熱烘麻木等症。</p>
<p>寒水石（三兩，另研）　飛滑石（三兩，另研）　蛇床子（四兩，炒）　鱉甲（五兩，炙）　白薇（四兩，炒）　地膚子（四兩，炒）　白芷（三兩，曬）　川大黃（五兩，酒炒）　白蘚皮（三兩，炒）　百部（三兩，生蒸，再炒）　樟腦（臨用時加入同研）</p>
<p>共為細末，以麻油調搽，一日一換，不可用水淋洗，不可燥抹，直待結靨退後，方可淨洗，一月可愈。如黑影未退，須搽百日，才能斷根。此方神應，不可泛視。</p>

<h2>內科隨錄</h2>
<p><u>純陽救苦丹</u></p>
<p>藿香（一兩）　菖蒲（一兩）　砂仁（五錢，粒）　蒼朮（一兩）　梔子（八錢，炒）　遠志（八錢）　半夏（一兩，京）　木香（五錢）　青木香（五錢）　腹皮（一兩）　紫蘇（五錢）　神麯（五錢）　柴胡（八錢）　白礬（一兩）　玉金（五錢）　茯神（二兩）　陳皮（一兩）　當歸（二兩，全）　川芎（五錢）　木通（八錢）　木瓜（二兩）　厚朴（五錢）　香附（八錢）　黃芩（一兩）　麥冬（二兩）　羌活（五錢）　獨活（五錢）　青黛（五錢）　枳殼（五錢）　杏仁（一兩，去皮尖）　川連（五錢）　雄黃（五錢）　生地（二兩）　防風（一兩）　桔梗（八錢）　苦梗（八錢）　澤瀉（八錢）　甘草（五錢）　黃柏（五錢）</p>
<p>以上三十九丸，務揀買道地藥材，共研極細末，煉蜜為丸，每重二錢，好硃砂為衣。大人病重者，每服不過四丸，病輕者二丸。小兒十歲以外者一丸，十歲以內者半丸，周歲內外者，用一丸，燒黃土水泡開，灌飲十分之三四。茲將各病症，用引開後。</p>
<p>治婦女胎前，用當歸湯下。產後用紅花湯下，或桃仁為引亦可。催生佛手三錢湯下。</p>
<p>治婦人臨產不下，用酥龜板湯下。便血用阿膠湯下。胎漏用阿膠湯下。</p>
<p>治婦人不能生育，用當首湯下。紅白崩症紅症，用白狗尾花湯下。白症，用紅狗尾花湯下。</p>
<p>治婦女行經腹痛，用艾葉湯下。癥瘕，用紅花茨菇根湯下。</p>
<p>治婦女乾血勞症，用真紅花湯下。血虛，用當歸紅花湯下。</p>
<p>治幼童幼女，風續天花、痘疹等症，用薑蔥湯，加硃砂送下。痘疹不出，用三川柳湯下。</p>
<p>治小兒急慢驚風，食積胃熱，脾虛等症，用燒黃土浸水化服。</p>
<p>治瘋癲因痰，用蜜陀僧為引。若邪魔，用肥皂子一枚，燒灰同硃砂送下。</p>
<p>治瘋疾，加生麝香一二釐送下。瘟疫，用雄黃五分送下。</p>
<p>治寒嗽，用薑汁為引。喘嗽，用杏仁七個去皮尖煎湯下。勞嗽，用老米湯送下。</p>
<p>治久嗽，用杏仁七個，紅棗三枚，為引。傷寒，用防風紫蘇湯下。內熱，用竹茹為引。</p>
<p>治心口悶，用砂仁湯下。頭疼，用荷葉湯下。腰疼，用杜仲湯下。腿痛，用木瓜牛膝湯下。</p>
<p>治遺尿，用覆盆子煎湯下。尿糞結尿，用盤龍草，愈舊愈佳，煎湯下。結糞，用麻醬攪水送下。</p>
<p>治膈症，用開元錢醋酥煎湯下。此錢用荸薺切片同嚼下。吐血痢疾，薑蔥湯下。</p>
<p>治瘡疾瘰癧疥癬，無名腫毒，用菊花連翹湯下。瘧疾，薑蔥湯下。或貼十一節腰骨上，愈熱愈速好。</p>
<p>治勞傷黃病蠱症，用薑蔥湯，加地骨皮瞿麥送下。偏正頭疼，用藥為餅烤熱，貼兩太陽穴即愈。</p>
<p>治各種胃氣疼痛，用豆蔻一枚，杵碎，燒酒浸兌，生薑汁送下。</p>
<p>治小腸疝氣攻心疼痛，用川練七個湯下。若氣卵用茴香湯下。如暴得，用川連砂仁湯下。</p>
<p>治夏令受暑，山嵐瘴氣，自汗盜汗，翻胃嘔吐，單雙乳蛾喉閉，食積，水積，酒積。</p>
<p>治怔忡，中濕，腫脹，腹痛，脫肛，牙疼耳聾，暴發火眼，寸白蟲，破傷風。</p>
<p>治溺河輕生，手足冷痛，瘋狗咬傷，以上未經注引各症，俱用燒黃土浸水送下。</p>
<p><u>神應普濟丹</u></p>
<p>川大黃五兩（一酒製，一薑製，一鹽浸，一白礬浸，一浸酒，浸透，九蒸九曬）　元參（淨三兩，鹽水浸透）　紫蘇（三兩，淨末）　葛根（三兩）　柴胡（三兩）　香薷（三兩）　連翹（二兩五錢）　羌活（二兩）　白芷（二兩五錢）　防風（二兩）　荊芥（二兩）　黃芩（二兩，生一半，酒炒一半）　藿香（二兩）　枳殼（二兩）　天花粉（二兩）　薄荷（一兩五錢）　赤芍（一兩五錢）　生草（一兩五錢，麩炒）　威靈仙（一兩，酒炒）　細辛（六錢）</p>
<p>以上共為細末，用嫩青蒿尖搗汁，和陳倉米糊為丸，重三錢，隨症用引，開列於後。</p>
<p>時行瘟疫，斑點紫黑，舌唇紫黑，急用生大黃二三錢，石膏一二錢，煎引。</p>
<p>斑疹名紅布者。多腫咽喉，此九死一生之症也。速用牛蒡子三錢，烏梅二錢，青黛三錢，桔梗三錢，甘草一錢，煎湯齊飲，再以此藥為引，泡丸服之。</p>
<p>頭痛發熱無汗，蔥姜引。</p>
<p>身熱有癍點，而發疹者，升麻引。</p>
<p>時行瘟疫，大頭瘟者，牛蒡子、青黛引。</p>
<p>瘧疾，常山、草果引。</p>
<p>瘧疾，水瀉腹痛，木通引。</p>
<p>孕婦身熱發狂，麥冬、竹葉引。</p>
<p>凡傷寒發熱惡寒者，蔥姜引。</p>
<p><u>急救時疫良方</u>　專治天行時疫，不及周時之症。</p>
<p>天竹黃（二兩）　人中黃（二兩）　殭蠶（一兩）　全蠍（一兩，去鉤）　防風（二兩）　荊芥（一兩）　當門麝香（一錢）</p>
<p>以上各研細末，水發為丸，椒核大。男婦每服二十粒。十歲以外，十二粒。孩子六粒，薑湯送下。孕婦忌服。</p>
<p>凡此症初起，發寒發抖，或嘴唇內有塊如疔，或耳根後作痛，或肛痛，或氣喘作嘔，六脈微細，筋骨疼痛麻木，其象不一。遇此症，急將前藥服下，切勿睡倒。速挑手腳，頭背胸肋，痧筋之處，如已挑無血，急將老薑、晚蠶沙擦之。再挑放，有血出，便可無害。此症一起即治，方可無事。如遲則難挽回矣。再此藥一時不能即辦，而此症起發甚速，不能久待，望信善君子，預合施送。</p>
<p><u>十香返魂丹</u></p>
<p>公丁香（二兩）　木香（二兩）　乳香（二兩）　藿香（二兩）　蘇合香（二兩）　降香（二兩）　海沉香（二兩）　安息香（一兩）　麝香（一兩）　香附（二兩）　訶子肉（二兩）　殭蠶（二兩）　天麻（二兩）　玉金（二兩）　蔞仁（二兩）　礞石（二兩）　甘草（四兩）　建蓮心（二兩）　檀香（二兩）　硃砂（二兩）　琥珀（二兩）　京牛黃（一兩）　冰片（五錢）　大赤金（三百張）</p>
<p>共為細末，甘草膏兌白蜜為丸，重一錢，金衣蠟皮封固。</p>
<p>治男婦痰嗽中風，口眼歪斜，牙關緊閉，昏暈死去，或諸風狂亂。</p>
<p>見鬼神自言自語，或哭登高，薑汁送下。</p>
<p>行人夏月中暑，卒暈死者，香茹湯送下。</p>
<p>喜怒哀樂，七情所傷死者，燈心湯化下。</p>
<p>夜夢，怔忡，不寐，神魂遊蕩，重複又臥，醒後不知人事，燈心湯金子送下。</p>
<p>孕婦懷胎七八九月，忽然死去，此為胎暈，人參硃砂湯送下。</p>
<p>孕婦胎哭有聲，胎動，蓮子心湯送下。</p>
<p>男婦大小人如醉，赤金薑湯送下。</p>
<p>小兒急慢驚風，天吊仰視，口吐痰沫，手足抽吊，薄荷燈心湯送下。</p>
<p>男婦交合，脫陽脫陰死者，升麻湯送下。</p>
<p><u>萬應太平丹</u></p>
<p>南星　木香　細辛　羌活　硼砂（各五錢）　冰片（二錢）　蟾酥（三錢）　沉香　檀香　香櫞　白芷（各一兩）　佛手（二兩）</p>
<p>上藥俱為細末，切勿火烤，擇天醫日，設香案，虔合和勻，以磁瓶收貯，勿令泄氣。</p>
<p>此丹專治一切風寒時疫，胸膈不開，胃氣疼痛，四時痧脹等症，嗅之立效。兼治小兒急慢驚風，痰迷厥症，用化州橘紅湯送下，腹中如響，立刻回生。治赤白痢疾，以玫瑰膏拌之，開水送立止。以上諸症，效驗如神，幸勿輕視，虔制奉送，孕婦忌服。</p>
<p><u>立止瀉痢散</u></p>
<p>茅山蒼朮（八兩，土炒）　川厚朴（八兩，薑汁炒）　砂仁（一兩）　陳皮（八兩）　炙甘草（三兩）　藿香（二兩）</p>
<p>以上六味，研極細末。</p>
<p>此藥專治染受四時不正之氣，腹瀉紅白痢疾，頭痛身熱，胸脅脹滿，傷食停飲，嘔吐噁心，瘧疾邪穢，山嵐瘴氣等症，每服二錢，或三錢，用開水沖半盅溫服，其效甚速。</p>
<p><u>塘西痧藥方</u></p>
<p>凡痧脹痰厥，猝中寒暑，不省人事，及驚風險症，牙關緊急者，只以四五丸，研末吹入鼻內即蘇，再服六七丸即愈。</p>
<p>茅山蒼朮（三兩，色黑而小而硃砂點者為佳，米泔水浸軟，切片曬乾，為末）　丁香（六兩，不拘公母，為末）　明天麻（三兩六錢，切片，焙乾為末）　錦文大黃（六兩，切片，曬乾）　麻黃（三兩六錢，去節，細銼，曬乾）　蟾酥（九錢，好燒酒化，舌舐即麻者為真）　麝香（三錢，上好者）　甘草（二兩四錢，去皮，微研）　雄黃（三兩六錢，透明，細研，水飛）　硃砂（三兩六錢，細研，水飛，為衣用）</p>
<p>上藥十味，各研細末用，五月五日午時，或擇天醫吉日，於淨室中虔制，以蟾酥燒酒化為丸，如藥末不能膠黏，酌和以糯米漿丸，如蘿蔔子大，用硃砂為衣。曬乾磁瓶收貯。硃砂為衣，將兩碗對合，用手拋擲，使藥丸在內磨蕩，自能堅實而光。</p>
<p>中暑頭痛眼黑，及絞腸腹痛，一時閉悶不省人事，及斑痧等症，先用二丸，研細吹入鼻內，再將三丸，納之舌下發麻，陰陽水或涼水送下。</p>
<p>中寒驟然腹痛，陰陽反錯，睡臥不寧，轉筋吞瀉，手足厥冷，且吐瀉不出，猝然難安者。治法如前。</p>
<p>山嵐瘴氣，夏月途行，及空心觸穢，口噙三丸，邪氣不侵。</p>
<p>感冒風寒，噁心頭痛，肚腹飽脹，及風痰等症，治法如前。</p>
<p>癰疽疔毒，及蛇蠍毒蟲所傷，搗末，好酒調敷立效。</p>
<p>小兒發痘不出，閉悶而死，及痰涎壅盛等症，用藥二丸，研末吹入鼻內即蘇。</p>
<p><u>急救痧氣丸</u>　一名截痧丹。</p>
<p>真茅山蒼朮（米泔水浸三日，炒，研末）　嵮乾蟾酥　腰面雄黃（另研細）　丁香（另研細）　枯骨廣木香（微烘，勿炒，另研細）　飛滑石（另研細）　辰砂（水飛過，另研細，以上各一兩二錢）　麝香（三分，要取真原麝黃香佳）</p>
<p>上將諸末和勻，再碾千餘下，以燒酒浸烊，蟾酥搗為丸，如芥菜子大。每服三丸，陰陽水下。痧重者，加二丸。</p>
<p>凡修合完備，於太陽旺時，曬熱，盛大碗內，上蓋瓦盤，乘熱搖顛，丸色光亮，用瓶盛貯，備用，勿令泄氣。</p>

<h1>卷之四</h1>

<h2>內科</h2>
<p><u>觀音大士救苦神膏</u></p>
<p>偏正頭風，左患貼左，右患貼右，正患貼印堂，兼卷條塞鼻孔中，服甘草水。</p>
<p>眼科七十二症腫痛，將耳上角針刺出血，貼上。星翳膜倒睫，迎風流淚，將膏藥卷條，左患塞左鼻，右患塞右鼻中，常服甘草水。</p>
<p>喉嚨三十六症，單蛾雙蛾，喉半喉風，貼喉上，口含甘草水，要速效將膏含化吞下，不服甘草水。如喉腫閉急，將銀針刺破腫處，吐出黑血，再吞膏藥。</p>
<p>牙疼貼上即止，不服甘草水。</p>
<p>諸般疼痛，均貼患處，服甘草水。</p>
<p>中風癱瘓，左患貼左，右患貼右，服甘草水。不省人事，痰聲如鋸，作丸開水送下，其痰立下。如牙關緊閉，用烏梅擦牙即開，作條塞鼻中，真有起死回生之功。</p>
<p>癆瘵貼夾脊穴、尾間穴、肚臍，服甘草水七日，勞蟲盡死。咳嗽吐痰，貼前後心，仍服清痰降火補藥。此膏能攻病，不能補虛，不可吞服。</p>
<p>臌脹，水臌，氣臌，血臌，俱貼肚臍丹田，勿服甘草水。</p>
<p>噎膈，氣膈，食膈，俱貼胃口，肚臍，常服甘草水。如要速效，作丸服之，不服甘草水。</p>
<p>哮喘咳嗽，貼前後心，丹田，飲甘草水。如痰甚氣塞不通，作條塞鼻中，或作丸吞服，不服甘草水。</p>
<p>大便閉，小便閉，俱貼肚臍，服甘草水自通。如數日不通。危在旦夕，作丸送下，少腹用蔥搗敷，立下，不服甘草水。</p>
<p>傷寒時疫，貼肚臍、前後心，飲甘草水，一俟汗出而愈。五六日不大便者，作丸吞下，便解而愈。</p>
<p>瘧疾一日二日三日俱貼肚臍，服甘草水。如發過四五次者，作丸早晨服下，飲熱酒數杯，即日便止，不可服甘草水。如背發熱發寒，貼前後心。</p>
<p>婦人赤白帶下，貼臍下丹田，服甘草水。</p>
<p>各種痢疾，貼胃口、肚臍。四五日不愈，紅用龍眼殼核七個打碎煎湯，將膏藥作丸送下，白用荔枝殼核七個打碎煎湯，將膏藥作丸送下。紅白兼者，龍眼荔枝殼核同用。</p>
<p>婦人難產逆生，胞衣不下，作丸熱酒送下，立刻便生。產門小腹，煎甘草湯，頻洗，不可服。</p>
<p>小兒驚風翻目，上氣痰喘，氣塞不通，作條塞鼻，貼一膏於臍上，服甘草水。如急極作丸服之，不服甘草水。</p>
<p>小兒諸疳貼肚臍上，口疳貼牙床，不服甘草水。</p>
<p>婦人經閉不通，貼丹田、臍下，如病久作丸服之。小腹上用甘草末調蔥汁敷之，不服甘草水。</p>
<p>血塊痞積，貼臍處，並貼痞上，飲甘草水。人健壯者，作丸日服，便泄下矣。疔瘡內服外貼，飲甘草水。發背各癰疽毒，不必剪頭，貼患處，服甘草銀花水，未成者消，已成者潰，潰者拔膿生肌。神效。</p>
<p>臁瘡腳氣，攤上反貼，上蓋以紙，用帶縛定，一日洗換，十日愈矣。</p>
<p>大腸風下血，夢遺白濁，俱貼臍下，服甘草水。</p>
<p>小腸疝氣，有一股掣引小腹上痛者，貼痛處，再用葫蘆巴、大小茴末，沖酒服。</p>
<p>痔漏內則卷條插入，外則貼之。再用象牙末調雞蛋清，開水沖服，日三錢，半月全愈。</p>
<p>跌打損傷，貼患上，服甘草水。如重者。用透骨草，搗甜酒糟，內服外敷。</p>
<p>丸子癢如已潰爛，貼之拔膿生肌。倘未破者，不可貼，恐出頭也。</p>
<p>孕婦勿貼。</p>
<p><u>膏藥方</u></p>
<p>大黃（一兩）　香附（七錢）　三稜（一兩）　羌活（八錢）　厚朴（七錢）　芫花（七錢）　蜈蚣（十條，酥）　桃仁（七錢，研）　生地（一兩）　白芷（八錢）　檳榔（七錢）　黃柏（八錢）　大戟（八錢）　蛇蛻（五錢）　巴豆（八錢，研）　牙皂（八錢）　杏仁（七錢，研）　細辛（七錢）　麻黃（八錢）　黃連（五錢）　甘遂（二兩）　川烏（一兩）　莪朮（一兩）　枳實（八錢）　獨活（七錢）　防風（七錢）　全蠍（七錢，去鉤）　草烏（七錢）　元參（七錢）　甲珠（七錢）　萆麻子（二兩，研）　花粉（七錢）　五倍子（七錢）　當歸（一兩五錢）　木鱉子（二兩）</p>
<p>道地藥材，照方稱配，用真香油六斤，浸磁盆內五日，炭火微熬，候藥色枯黑，濾滓，加入淨黃丹三十六兩，陀僧末四兩，攪勻不住手，至滴水成珠，即停火微溫，加入好肉桂末八錢，即成膏矣。</p>
<p><u>宣化丸</u>　即景岳百順丸也。</p>
<p>治一切陽邪積滯，凡氣積血積，蟲積食積，傷寒實熱，閉結，並痢疾腹脹，初起疼痛，裡急後重，飲食不下等症。</p>
<p>錦紋大黃（切片，以好酒伴勻安飯鍋上蒸過，再曬，照式以九次為度）　牙皂（炒微黃，凡用大黃一斤，皂一兩六錢）</p>
<p>上依法制共磨為末，以蒸餅打糊為丸，或開水搗丸，或煉蜜為丸，俱可。每服或用三分，或五分，或一錢，或二三錢。量人虛實，隨宜斟酌加減。或投煎劑同煎，或用滾湯吞送，或隨症用引經湯送。</p>
<p><u>解毒六郁丸</u>　凡婦人有兒食乳吹氣，其奶脹硬作痛，或發寒熱，速以真廣皮一兩，煎湯調服一丸，頃刻消散。</p>
<p>治氣鬱，血鬱，痰鬱，火鬱，食鬱，濕鬱。六者之中，以氣為主，氣行則鬱散矣。兼治男婦觸受時行濕熱之氣，壅於四肢脈絡，發為癰腫，焮熱疼痛潰腐，及臁瘡赤痛等症。</p>
<p>香附（醋炒）　蒼朮（米泔水浸炒）　撫芎　神麯　梔子（炒黑）　陳廣皮　花粉　黃芩</p>
<p>上各等分，磨末，煉蜜為丸，每丸重三錢。如遇各證，每日早晚，用白滾湯各調送一丸。忌食豬肝發物。</p>
<p><u>白薇煎</u></p>
<p>治箭風痛，俗名鬼箭打。或頭項、肩背、手足、腰䏚、筋骨疼痛，遍身不遂等。嘗見鄉人用針挑起疙瘩，或微出血，其痛暫緩，過日復發，愈挑而痛發愈勤。此方一服即愈，永不再發。</p>
<p>東白薇（二錢）　澤蘭葉（三錢）　穿山甲片（一錢，炒黃，研）</p>
<p>上以好酒煎服。嘗揣此症，不過辛苦勞力之人，氣血不足，適受外感風邪，壅鬱脈絡不通，自易作痛，即使挑出微血，略通一處，所謂通則不痛也。余處未通，隨後復發。余制此方，端行血絡，通瘀透邪，奏效快捷。凡遇此症，毋忽視焉。</p>
<p><u>子龍丸</u>　一名妙應丸。即陳無擇《三因方》中之控涎丹也。</p>
<p>治人忽患胸背手足腰項牽引疼痛，走易不定，或手足冷痹，氣脈不通，此乃痰涎在胸膈上下，誤認癱瘓，非也。並治喉中結氣，狀似梅核，倏有倏無，沖咽悶絕，乃遍身或起筋塊，如榴如慄，皮色不變，不疼不痛，但覺痠麻，或自潰串爛，流水如涎，經年不愈，有若漏瘡。此乃痰結經絡所致，常服此丸，自能全愈。</p>
<p>甘遂（浸去綠水，一日一換，七日為度，曬乾，去心，研細，聽用）　大戟（去皮，曬磨，忌用火炒）　白芥子（炒）</p>
<p>上藥各等分為末，以神麯糊丸，梧桐子大，或蜜丸亦可。臨臥時以淡薑湯送下五七丸，至十丸。痰過者，加數丸。腳氣，加檳榔、木瓜、松枝、卷柏。驚痰，加硃砂、全蠍。驚氣成塊，加甲片、鱉甲、延胡、蓬朮。熱痰，加芒硝。寒痰，加胡椒，丁香，乾薑，肉桂。</p>
<p>李時珍曰：痰涎為物，隨升隨降，無處不到。入心則迷成癲癇。入肺則塞竅為喘咳，背冷。入肝則膈痛乾嘔，寒熱往來。入經絡則麻痹疼痛。入筋骨則牽掣釣痛。入皮肉則瘰癧癰腫。陳無擇《三因方》，並以控涎丹主之，殊有奇功。此乃治痰之本，痰之本，水也。濕也。得氣與火則結為痰。大戟能泄臟腑水濕，甘遂能行經隧水濕，直達水氣所結之處，以攻決為用，白芥子能散皮裡膜外痰氣。惟善用者，能收奇也。</p>
<p><u>五香丸</u>　專能消食消水，消積消痰，消痞消滯，消腫消疼，消血消痢，消蟲消隔，消脹消悶。一切有餘之症，服此即可消化。並治痰迷心竅。每付七八分，或一錢，薑湯送下，臨睡一付，次早一服。藥料尋常，功效甚大。奉勸樂善之人，修合施送，所費無多，其福德則甚大也。</p>
<p>五靈脂（一斤）　香附米（一斤）　黑醜（三兩）　白醜（二兩）</p>
<p>共為細末，一半微火炒熟，一半生用，再和勻，好醋為丸，如蘿蔔子大。</p>
<p><u>醒迷至寶丹</u>　治痰迷心竅，癡呆顛狂，不論新久甚效。</p>
<p>膽南星　生棗仁　遠志肉　茯神　柴胡（各三錢）　川貝母　半夏曲（各二錢）　廣陳皮　縮砂　甘草　廣木香（各一錢）</p>
<p>共為細末，蜜丸梧桐子，硃砂三錢共為衣，每清晨開水送下三四十丸甚效。</p>
<p><u>又方</u>　治豬羊癲瘋，時常跌倒，不省人事，竟成廢人。連服數付，即可除根。</p>
<p>皂礬（一兩，煅紅）　魚膠（一兩，切斷，麵炒）　鉛粉（一兩，炒黃）　硃砂（三錢）</p>
<p>共研極細末，每早空心，用陳酒調服三錢。</p>
<p><u>又抱膽丸</u>　治諸般瘋狂癲癇，痰迷心竅等症神效。</p>
<p>川鬱金（一兩）　天竺黃（一兩）　雄黃（五錢）　白礬（三錢）</p>
<p>上為細末，用不落水豬心血搗勻為丸，如桂圓肉大。每日以石菖蒲五分，煎湯調送一丸，藥用硃砂為衣。</p>
<p><u>遇仙丹</u>（即走方，鼎竄之一。）</p>
<p>治邪熱上攻，痰涎壅盛，反胃吐食，十隔五噎，齁喘酒積，蟲蠱積，血積氣塊，諸般痞疾，疼墊痛腫，或大小便不利，或婦人女子面色萎黃，兒胎癥瘕，食吞銅鐵銀物之類，悉皆治之。五更時用冷茶送下三錢，天明看所下之物，此藥有病去病，有蟲去蟲，不傷元氣，不損臟腑，功效不能盡述。小兒減半，孕婦忌服。</p>
<p>白醜（炒，令半生，取頭末，四兩）　白檳榔（一兩，炒）　鈴兒茵陳（五錢，炒）　牙皂角（五錢，去皮核，炙用）　蓬莪朮（五錢，醋炙）　京三稜（五錢，醋炙）</p>
<p>上依法制末和勻，以醋和糊丸，如綠豆大。依前法服之，大便行過之後，隨以溫粥啖之。忌食他物。</p>
<p><u>礞石滾痰丸</u>　治實熱老痰，怪症百病。汪訒庵曰：風木太過，剋制脾土，氣不運化，積滯生痰，壅塞上中二焦，回薄腸胃曲折之處，謂之老痰。變生百病，不可測識。非尋常藥餌所能療也，此丸主之。</p>
<p>青礞石（一兩）　沉香（五錢，研末）　川軍（八兩，酒蒸一次，研末）　黃芩（八兩，炒，研末）</p>
<p>上將青礞石打碎，用焰硝一兩，同入瓦罐鹽泥封固，曬乾，火煅兩日，石色如金為度，研細和諸藥末，水搗為丸，如綠豆大。每服三分，薑湯送下。量人虛實，加減分數。服後仰臥，令藥在胸膈之間，除逐上焦痰滯，不宜飲水行動。但礞石煅過無金星者，不堪用。且須預先煅好，愈陳愈佳，新煅恐硝毒未淨。</p>
<p><u>止嗽散</u>　治諸般咳嗽，即傷風不醒，脈非細數，未成弱症，悉皆治之。</p>
<p>桔梗（炒）　荊芥（炒）　紫苑（飯上蒸一次，再炒）　百部（飯上蒸一次，再炒）　白前（飯上蒸一次，再炒，以上各用八兩）　甘草（三兩，炒）　陳皮（四兩，水洗去白，炒）</p>
<p>上共為細末，每服三錢，臨睡時開水調下。初感風寒，生薑湯調下。</p>
<p><u>青礬散</u>　治濕熱黃疸，目睛指甲遍體盡成黃色，身體懶倦，胸腹飽悶，食下即脹等症。服此一料，即能退黃，肚飢思食。至重者，服兩料除根。</p>
<p>真青黛（篩去石灰，用一分）　潔白明礬（五分六釐）</p>
<p>共研極細，分作七付，每早空心用雞蛋一個，去黃瀝青，調服一付，藥完病愈。</p>
<p><u>又治黃病神方</u></p>
<p>皂礬（八兩）　面（一斤）</p>
<p>上二味，合作餅，入火煨焦，為度。</p>
<p>蒼朮（六兩，米泔浸）　厚朴（六兩，去皮，薑汁炒）　陳皮（六兩）　甘草（六兩）　川椒（十兩，去閉口者及目）</p>
<p>共為末，用棗肉三斤，核桃肉三斤，同搗成膏，和丸桐子大，每服三錢。初服覺香，至愈時，則聞藥臭矣。</p>
<p><u>追風散</u>　治大人小兒，或縱食瓜果生冷之物，以致胃寒生蟲，肚痛面黃肌瘦，唇生白點可驗。發作時叫號疼楚，食下即吐，或嘔涎沫，甚則暈厥。凡食甜物，其病立發。</p>
<p>黑醜（取頭末一兩五錢）　白醜（取頭末，一兩）　檳榔（一兩五錢）　鶴蝨（一兩）　雷丸（一兩）　史君子（去皮，切片，三十個）</p>
<p>共為細末，篩細重羅，每服五錢，五更以沙糖和水調服，至日中時，其蟲必從大便而出。隔五日再照法服一次，其根永斷。凡服此藥，要在上半個月蟲頭向上方效。</p>
<p><u>黃金丹</u>　治霍亂吐瀉，或絞腸疼痛，一切暑痧症候。</p>
<p>黃連（二兩四錢）　酒芩（二兩一錢）　澤瀉（三錢）　香附（三錢）　廣皮（三錢）　乾薑（二兩一錢）　公丁香（二錢）　川貝（六錢）　砂仁（三錢）　檳榔（六錢）　木香（六錢）　芥穗（三錢）　前胡（六錢）　麥芽（三錢）　蓽茇（三錢）　車前子（六錢）</p>
<p>為末，醋合丸，一錢重，每一丸，或兩丸，至重者三丸，用新汲涼水調下。</p>
<p><u>治瘧疾初起兩三次方</u></p>
<p>廣皮（一錢）　半夏（一錢，薑汁煮）　茯苓（一錢）　威靈仙（一錢）　厚朴（八分，乳拌炒）　蒼朮（八分，米泔浸炒）　柴胡（八分）　黃芩（八分）　廣青皮（六分）　檳榔（六分）　炙草（三分）　如兼頭痛加白芷（一錢）</p>
<p>姜三片，井水河水兌煎，飢時服。</p>
<p>若三四次後，猶未愈者，服第二方。</p>
<p>何首烏（二錢，生用）　廣皮（八分）　茯苓（八分）　白朮（一錢，土炒）　當歸（一錢）　威靈仙（一錢）　知母（二錢）　柴胡（八分）　黃芩（八分）　炙草（三分）　鱉甲（二錢，醋炙脆，研粉）</p>
<p>姜三片，井水河水兌煎，將好時加入黃酒一杯，再煎一滾，空心服。此方妙在補瀉互用，虛實得宜。不用人參、黃耆，屏去常山、草果，平平無奇，卻有神效。即極弱之人，極重之病，十劑之後，立有起色，但不可加減一二。</p>
<p><u>久瘧全消方</u></p>
<p>威靈仙（一兩）　蓬莪朮（一兩，醋炒）　炒麥芽（一兩）　生首烏（一兩，曬燥）　金毛脊（八錢）　青蒿子（五錢）　飛黃丹（五錢）　川甲片（五錢，水煮透炒）　炙鱉甲（五錢）　如小兒服加雞肫皮（五錢，炙）</p>
<p>共為細末，用山藥粉一兩，飴糖一兩，兌滾水一小碗，搗勻丸，如綠豆大。每服三錢，小兒二錢，或一錢。俟半飢時用薑湯送下，半料即全愈矣。</p>
<p><u>治痢疾神效方</u></p>
<p>黃連（一斤）　生槐米（二斤）　枳殼（斤半，炒）　黃芩（二斤）　白芍（三斤）　檳榔（一斤）　廣木香（一斤）　甘草（一斤）　川柏（二斤，酒炒）　厚朴（一斤，去粗皮）　桃仁（斤半，去皮尖）　歸尾（半斤，酒炒）　川軍（一斤，酒炒）　神麯（一斤，炒）</p>
<p>共為末，陳米糊為丸，桐子大。每服三錢或四五錢，早晚服兩次，白開水送下。若欲服湯劑，即將斤改為錢。</p>
<p><u>又治紅白痢疾效方</u></p>
<p>杜仲（炒）　檳榔　厚朴　紅曲</p>
<p>上藥四味，如用各一錢，紅棗即用一兩，如各二錢，紅棗即二兩，共用水煎服。</p>
<p><u>龍虎丸</u>　此方未曾試過，傳方人說其效非常。治一切吐血症，可保全愈。</p>
<p>龍骨（煅）　虎骨（煅）　川芎　當歸（洗）　桂圓肉（煮爛，搗膏）　熟地（煮爛，搗膏）　砂仁　木香　山楂　破故紙（鹽炒）　防風　廣皮　酸棗仁（炒）　杜仲（炒炭）　菟絲子　黃芩　貫眾（炒炭）　白蒺藜（各四兩，炒）　川膝（浸）　煅石膏　神麯（炒）　川貝（去心）　木通　甘草（各二錢）</p>
<p>上為細末，用方內桂圓膏熟地膏合煉蜜為丸，三錢重。每日早晚各服一丸，用藕湯送下。</p>
<p><u>秘製兔血丸</u>　治吐血，及男婦一切咳血，弩血，便血，溺血，崩漏帶下，產後惡露不行，或行血不止，或老婦倒開花症，並皆治之。連服三付即愈。但此藥不可見日月燈火三光，及婦人手。病好後忌房欲，腥辣、生冷百日。</p>
<p>藿香（二兩）　乳香（兩半）　沉香（兩半）　木香（一兩）　母丁香（四兩）　麝香（四錢）</p>
<p>共為細末，必於臘八日用活兔血，以手就蕎麥麵，再沾老酒為丸重五分，用無灰老酒送下，或一丸或二三丸，斟酌用之。</p>
<p><u>治吐血成鬥，命在須臾回生方</u></p>
<p>貫眾（為末，五錢）　黑頭髮（五錢，瓦上煅，研末用）　側柏葉（要用多多，以涼水浸透，搗爛，取汁一碗）</p>
<p>入末於汁內，隔湯煮一炷香時取出，加童便一茶鍾，黃酒一小鐘，徐徐飲之神效。</p>
<p><u>又方</u>　治同前</p>
<p>干藕節　炒黑蒲黃　黑頭髮（瓦上煅，各三錢）</p>
<p>共為極細末，用白開水調服立止。</p>
<p><u>治咳嗽吐血方</u></p>
<p>木耳（炒黑）　槐米（炒黑）　荊芥（炒黑）　炒黑蒲黃（各一兩）</p>
<p>共為末，每早用米湯調服三錢甚效。</p>
<p><u>黃疸吐血</u>　病後身面俱黃，吐血盛盆，諸藥不效者，服此方。</p>
<p>用田螺十個。</p>
<p>水漂去泥，搗爛露一夜，五更取清汁服二三次，即血止黃退而愈。</p>
<p><u>治便血奇方</u></p>
<p>黑荊芥（一錢五分）　苦參（一錢五分）　歸身（二錢）　黃連（一錢）　蓮蓬殼（一個）</p>
<p>水煎服，四五付即愈。</p>
<p><u>妊娠吐血</u></p>
<p>馬屁勃五分，研末，濃米湯調服即止。</p>
<p><u>治氣臌氣脹方</u></p>
<p>以蘿蔔子二兩研末，再以生蘿蔔搗爛，和子共絞取汁，將廣縮砂二兩，浸於汁內一宿，撈起曬乾，再浸再曬，七次為度，研為極細末，每服一錢，米飲調下立效。</p>
<p><u>又方</u>　治同前。</p>
<p>以薑汁炒遠志肉（五錢）</p>
<p>水煎服，下氣通即愈。</p>
<p><u>治噎隔方</u></p>
<p>糖坊內榨過頭造之糟一斤，加生薑四兩，共搗爛做作薄餅，曬乾磨末，磁罐盛貯。每早以開水調服二錢，其味最美，兼可泡湯，供客代茶。</p>
<p><u>又治隔氣方</u></p>
<p>硃砂　牛黃　木香　蜣螂　川貝　沉香　元明粉　青黛（各二分）</p>
<p>共研勻，每服三分，以萬年青根汁，三白酒各半杯，服一次開關，三次全愈。</p>
<p><u>治噎隔神效方</u></p>
<p>豬肺管（四兩）　舊羅底（羅面用日久者，一個）　鮮藕（四兩，無鮮時干藕節，亦可用）</p>
<p>以上三味，用砂鍋燒灰研細，用薑汁白霜糖各一兩。初服吐者，再三服之神效。服後忌各色豆十餘日。</p>
<p><u>許學士痛風方</u>　治歷節諸風走痛立效。</p>
<p>川烏（揀大者，去皮，用兩個，烘燥，研末）　黑豆（二十一粒，炒）　全蠍（二十一枚，水洗）　地龍（五錢，焙乾，去泥）　麝香（二分五釐）</p>
<p>共為細末，粉糊九，綠豆大，每服十丸，溫酒送下。</p>
<p>筋骨疼痛，似或絆緊　神效方</p>
<p>紫背浮萍　菖蒲根（三錢）　當歸（二錢）</p>
<p>黃酒煎服，出汗即愈。</p>
<p><u>神效九分散</u>　治跌打損傷，無論青腫，錯折破爛皆效。</p>
<p>馬前子（四兩，去毛皮）　麻黃（四兩，去節）　乳香（四兩，去油）　沒藥（四兩，去油）</p>
<p>上四味各研細，再合研極細，收磁瓶內，勿令泄氣。遇有受傷人，即與准九分服下，以無灰老酒調。（藥力甚大，服者萬不可過九分。）外傷處破者幹上。若未破止見青腫，用燒酒調塗。服藥後如覺胸中發鬧，周身發麻，此是藥力行動，勿恐。若受傷甚重，服後不見動靜，過一個半時辰，再用無酒灰調服九分。再服後仍無動靜，再過個半時辰，再服九分，如此敷服，無論何樣重傷，皆能起死回生。真破傷第一方也。孕婦忌服。</p>
<p><u>玉真散</u>　治破傷風，咬牙縮舌，腰背反張，勢在垂危，起死回生方。</p>
<p>天南星（薑汁炒）　防風　白芷　殭蠶（炒斷絲）</p>
<p>各等分，研極細末，每服三錢，童便和好酒調下。凡跌打損傷，內有瘀血者亦效。</p>
<p><u>又方</u>　治同前。</p>
<p>天南星（薑汁炒）　防風　天麻　羌活　白芷（以上各一兩）　白附子（十二兩）</p>
<p>共為細末，收磁瓶內，勿令泄氣。專治刀斧跌打等傷，將藥用涼開水調勻，敷在患處即愈。受傷過重者，先用藥敷好，再用無灰老酒，或白開水沖服三錢即愈，亦能除風。</p>
<p><u>又方</u>　治同前。此三方真仙方也。</p>
<p>荊芥（五錢）　黃蠟（五錢）　魚鰾（五錢，炒黃）　艾葉（三錢）</p>
<p>共入磁瓶內，泡黃酒一碗，封固口，隔水煮一炷香時取出，乘熱服下，蓋暖汗出即愈。百日內不可食雞肉、雞子。如抽風至奄奄一息進，將口挑開，用此藥細細灌下，亦可救活。受傷人傷處浮腫，及口眼歪邪者，惟此方可救。</p>
<p><u>展子明傳接骨方</u></p>
<p>旱公牛角（一個，在炭火上炙乾一層，刮一層）　榆樹皮白里（不拘多少，曬乾）　楊樹葉（不拘多少）　黃米麵（不拘多少，莜麵亦可）　花椒（七粒）</p>
<p>共為細末，以數年陳醋，熬成稀糊，青布攤貼，外再用薄木片纏住，時刻聞骨內響聲不絕，俟聲定即接好矣。如牛馬跌傷，及樹木被風颳折，亦能接上。</p>
<p><u>治</u>　跌僕筋攣，三四年不愈者，立效如神。</p>
<p>楊梅樹皮，曬燥研末，以滴花燒酒隔燉熟，調塗患處，以絹紮好，每日一換，不過三五次即愈。</p>

<h2>婦科隨錄</h2>
<p><u>三合保胎丸此方是保孕安胎之聖藥也。名三合進。是古之內補丸，杜仲丸，白朮散，三方合集成一方也。</u></p>
<p>大懷生地（十二兩，用砂仁三兩，老薑三兩，同地黃入砂鍋內，先用清水煮兩晝夜，俟地黃將爛，再入黃酒煮至極爛時，去砂仁、姜不用，將地黃搗成膏）　大當歸（八兩，去頭尾，取身，切片，酒洗，曬乾）　思仙術（十二兩，以細淨黃砂土拌，炒）　實條黃芩（枯飄者不用，揀妥，六兩，酒拌炒三次）　棉杜仲（十二兩，切片，鹽水拌炒斷絲用）　川續斷（十二兩，切片，酒炒）</p>
<p>上將後五味，炒乾為細末，以前地黃膏和勻再搗，少加煉蜜為丸，梧桐子大。每早用淡鹽湯吞三錢，臨睡用老酒送三錢。每日如此，不可間斷。服過七個月，方保無虞，此方甚效，不可加減。如不能飲酒，都用鹽湯送下亦可。</p>
<p><u>泰山磐石散</u>　保孕安胎與前方同，但偏於陰虛者宜服前方。若兼陽虛者，服此方為當。</p>
<p>人參（一錢，如無以黨參三錢代之）　黃耆（一錢，蜜炙）　川斷（一錢）　黃芩（一錢）　川芎（五分）　白芍（八分，酒炒）　熟地（八分）　白朮（二錢，土炒）　甘草（五分，蜜炙）　廣砂仁（五分，研）　糯米（二錢）</p>
<p>以上用泉水煎服，但覺有孕，隔三五日常服一付，過四周月方保無虞。其藥渣可傾河池令魚食米更好。以上二方，真能補天地化工之妙，但養法亦必須講究。何也？婦人懷孕在百天之內，胎如花果初發之萌芽，嬌嫩至極，況孕婦血室乍孕，亦猶新房初住客旅，尚未安置妥當，際此若不能靜戒，或努力，或暴怒，或恣用酒醋辛熱等物。尤其切要者，明知已有胎孕，在四個月嬌嫩至極之時，猶行房事，致令胎元根蒂損傷，焉得不半產墮落耶。若如此而歸咎於方藥之不靈，則此二方不任咎也。</p>
<p>異人傳授催生易產仙方</p>
<p>判曰：每觀收生婆遇有難產，以手摩探割取，多傷產母，深為恤憫，故受此方。凡遇橫生倒產，甚至七八日小兒不下，並胎衣不出，子死腹中，不拘時候，連服二付，活胎順生，死胎即下。萬不可聽收生婆動手妄為，致成胎害非輕。或於產前一二日，空心服一付，臨產必皆順利。此方歷驗，催生如有神助。</p>
<p>又曰：不拘月分，凡胎動不安，腰痠腹痛，一付即安，再付全愈。凡懷胎至七個月，預服一付。八個月服兩付。九個月服三付。十個月服三付。臨產一付。不論體之強弱，年之老少，斷無難產之患也。</p>
<p>當歸（一錢五分，酒洗）　川芎（一錢五分）　厚朴（七分，薑汁炒）　菟絲子（一錢五分，酒洗）　枳殼（六分，麩炒）　黃耆（八分）　蘄艾（七分，炒黑）　荊芥穗（八分）　羌活（五分）　白芍（一錢，酒炒）　甘草（五分）　川貝（一錢，去心，研末，沖服）</p>
<p>每味分兩要准，依法炮製，不可加減。生薑三片，水三鍾，煎剩八分，滿一鍾服。</p>
<p><u>開骨散</u>　專治難產，陰氣虛弱，交骨不開，真至小兒露頂時，甚至七八日不能生，服此一付，約人行五七里即生。如胎已死，加肉桂五分即下，屢試屢效。</p>
<p>當歸（一兩）　川芎（七錢）　龜版（手大一塊，醋炙，打碎）　本婦頭髮（三錢，洗淨，瓦上焙焦存性）</p>
<p>水二碗，煎一碗，溫服神效。</p>
<p><u>治難產奇方</u></p>
<p>凡橫逆難產，危在頃刻，符藥皆不靈者，急於本婦小指尖上灸三壯，用艾葉撮如麥粒大，點著灸之，即順產矣。指尖即至陰穴，蓋足指也。</p>
<p><u>胎衣不下方</u></p>
<p>無名異（三錢，即漆匠熬油之藥也）　以鴨蛋白調勻，陳米醋一茶鍾，煎滾沖服。胞衣縮如秤錘大即產下矣。如不下，不必驚惶，再一付，即萬無一失。</p>
<p><u>又方</u>　用黑豆三合，洗淨炒香熟，入醋一大碗，煎五六滾，去豆取汁，分二次服，即下。</p>
<p><u>又方</u>　將產婦頭髮塞口中，打一噁心即下。</p>
<p><u>治盤腸生腸不收方</u></p>
<p>枳殼三錢水煎服。</p>
<p><u>又方</u>　治同上</p>
<p>皂角末吹鼻中，打噴嚏即收。</p>
<p><u>又方</u>　治同上</p>
<p>醋半鍾，冷水七分，調勻，噴產婦面，三噴三收。</p>
<p>產後十八般雜症，及產後風破傷風。</p>
<p>石膏（半斤，為末）　白麵（六兩）　木香（一錢五分）</p>
<p>共合一處，溫水為丸，如大杏大，用風爐一個，桑木炭火，將丸放在火上燒透，以爐火盡為度，取丸為末。若有黑心，再燒之。不可用黑心的。每服二錢五分，黃酒浸服。見汗，忌生冷三兩天。治好多人，無不神效。</p>
<p><u>又治產後中風方</u></p>
<p>用黑豆一茶鍾，炒至煙起，再入連根蔥頭五個，同炒，隨入好酒一盅，水盅半，煎至一盅服，出汗即愈。屢驗方也。</p>
<p>治產後危急，血暈惡露攻心，將死方</p>
<p>延胡索　血竭　真沒藥（去油）　歸身（各等分）</p>
<p>醋水各半，煎服即愈。</p>
<p><u>治產血暈方</u></p>
<p>韭菜不拘多少，切入瓶中，沃以熱醋，令瓶嘴對鼻中即醒。如無韭菜時，用荊芥穗三錢，炒黑研末，童便送下。</p>
<p><u>治產後小便不止方</u></p>
<p>厚肉桂（一兩）　丁香（三錢）</p>
<p>為末，酒調作餅，放臍上即止。</p>
<p>治產婦大便不通，及老人虛人，諸虛人風秘不通，難行導藥者，服此最妙，最穩，效若影響。</p>
<p>蘇子　胡麻子（各半合）</p>
<p>研極細末，用水再研，取汁一碗，煮粥食徐徐服下，結糞漸得通利。極驗。</p>
<p><u>湧泉散</u>　治產母乳汁不通。</p>
<p>王不留行　天花粉　甘草（各三錢）　當歸（二錢，洗）　穿山甲（一錢五分，炙黃）</p>
<p>共為細末，每服三錢，豬蹄湯或熱黃酒送下。</p>
<p><u>通脈散</u>　治乳少或無乳。</p>
<p>生黃耆（一兩）　當歸（五錢）　白芷（五錢）</p>
<p>七孔豬蹄一對，煮湯吹去浮油，煎藥一大碗服之。覆面睡，即有乳。或未效，再一付，即效矣。若是新產無乳者，不用豬蹄湯，只用酒水兌煎服，體壯者加好紅花三分。</p>
<p><u>無乳</u></p>
<p>用牛鼻子作羹食之，即有乳且多。</p>
<p><u>乳吹乳滯方</u></p>
<p>蒲公英（一兩）</p>
<p>入無灰酒一斤，煎熟服，神效。</p>
<p><u>結乳敷藥方</u>　一婦患此症，諸藥不效，腫痛異常，以此方治之立效。</p>
<p>用鮮山藥，不拘多少，搗爛敷之。</p>
<p><u>吹乳仙方</u></p>
<p>蔥一大把，搗成餅，一指厚，攤乳上，用灰火一罐，覆蔥，須臾汗出，腫痛立消。</p>
<p><u>結乳方</u></p>
<p>蚯蚓糞，以陳醋調塗患處，即愈。</p>
<p><u>治婦女時行下𤺏症效方</u></p>
<p>秦艽（二錢半）　銀花（一錢半）　蟬蛻（一錢）　歸尾（一錢五分）　次生（一錢五分）　連翹（二錢半）　知母（一錢半）　川柏（一錢）　柴胡（一錢五分）　木通（一錢五分）　甘草（一錢）　蒼朮（一錢五分）</p>
<p>水煎服。頭煎二煎渣藥，加雄黃（一錢）　川椒（一錢）　用水熬湯洗之。</p>
<p>仙傳化𤺏錠</p>
<p>枯礬（三錢）　川連（五分）　雄黃（一錢）　川柏（一錢）　山梔（一錢）　蛇床子（三錢）　川烏（五分）　草烏（五分）</p>
<p>為末，煉蜜合作八丸，每日早服半丸，坐半丸服。用桔梗（三錢），薄荷（三錢），煎湯送下。</p>
<p><u>又洗藥方</u></p>
<p>雄黃（一錢）　硫黃（三錢）　芥穗（三錢）　明礬（三錢）　蛇床子（三錢）　白芷（三錢）</p>
<p>將前方用完，每日清早，煎湯洗患處。以上二方，要忌食倭瓜，及房事百日。</p>
<p><u>種玉酒</u>　治婦女經水不調，氣血乖和，不能受孕，或生過一胎之後，停隔多年，服此藥酒百日，即能懷妊。如氣血不足，經滯痰凝者，服至半年，自能見效。</p>
<p>全當歸（五兩，切片）　遠志肉（五兩，用甘草湯洗一次）</p>
<p>上二味，用稀夏布袋盛之，以甜三白酒十斤，安藥浸之蓋好。浸過七日後，晚上溫服，隨量飲之，慎勿間斷。服完照方再製，再月經來時，乾淨之後，每日用青殼鴨蛋一個，以針刺孔七個，用蘄艾五分，水一碗，將鍋安於艾水碗內，飯鍋上蒸熟食之。每月多則吃五六個，少則二三個亦可。</p>
<p><u>廣育方</u>　專治婦人經水不調，赤白帶下，久不孕育。　歸身（四兩，酒洗）　白芍（兩半，酒炒）　川芎（兩半，炒）　真阿膠（二兩，蒲黃炒珠）　續斷（二兩，鹽水炒）　杜仲（二兩，鹽水炒）　丹參（二兩，炒）　大地黃（四兩，酒煮乾）　黃耆（兩半）　廣皮（五錢）　元胡索（兩半，炒）　香附（四兩，醋米泔童便各制一兩）</p>
<p>共為細末，煉蜜為丸，如梧桐子大。每早服三錢，開水送下。行經時加二錢，每早服五錢。如經水不甚調者，平素服此丸，至行經日，即將此方改為湯劑服，將藥下之兩改用錢，錢改用分，每日一劑。經過仍服此丸。如經水前期來色紫者，加條黃芩八分，姜二斤，水煎服。如過期色淡，進加肉桂五分，炮姜五分，炒蘄艾五分，姜三片，水煎服。如經未至，腹痛者，另用丹參數兩，曬乾研末，自腹痛日，每早用黃酒溫調末二錢，服至經過日，仍服此丸藥。</p>

<h2>幼科選方</h2>
<p><u>太極丸</u>　凡疫癘流行之時，小兒作熱，即是染疫。乍有眼目上竄，角弓反張，手足搐掣，不可誤認驚風，但用此丸，治之自愈。</p>
<p>天竺黃（五錢）　膽南星（五錢）　酒川軍（二錢）　直殭蠶（三錢）　梅花片（二分）　真麝香（二分）</p>
<p>共為細末，端午日午時修合，煉蜜為丸，如芡實大，硃砂為衣。凡遇疫疾，用薑湯化服一丸神效。</p>
<p><u>消風丸</u>　能疏通腠理，清解表邪，發散皮毛，流通經絡。凡治小兒諸班癇症，先將此丸，日服一丸，連服七日。</p>
<p>南薄荷　羌活　獨活　防風　天麻　芥穗　川芎　細辛（以上各一錢）　膽星（三錢）</p>
<p>為末，蜜丸重一錢。每日服一丸，用薄荷湯化服。</p>
<p><u>定癇丸</u>　治小兒癇症，服前方不愈者，以此健脾補中方，久久服之。自然痰亦不生，而癇亦不作矣。</p>
<p>人參（一兩，切片，焙乾）　漂白朮（兩半，切片，土炒）　白雲苓（一兩，切片，薑汁蒸曬）　真廣皮（一兩，酒炒）　石菖蒲（五錢，用九節者，切片）　白當歸（一兩，酒洗，曬切片）　青化桂（五錢，去皮，潯桂不用）　杭白芍（一兩，酒炒）　漂蒼朮（一兩，用黑芝麻拌炒）　南木香（五錢，忌火）　真龍齒（一兩，火煅醋淬，研末，水飛過，曬乾，取五錢）　赤金箔（三十張）　半夏（一兩，法制）　鏡面砂（三錢，研末，水飛，曬乾，研細）</p>
<p>上藥，各依分兩炮製，合一處焙乾研細，煉蜜為丸，龍眼核大，以硃砂為衣，外貼金箔，曬乾磁瓶收貯。每日早午晚各服一丸，薑湯化服。</p>
<p><u>金粟丹</u>　專能疏風化痰，清火降逆，並治咳嗽上氣，喘急不定，嗽聲不轉，眼翻手搐。凡諸家截風定搐之方，皆不及此方之聖藥。</p>
<p>真九轉膽星（二兩）　明天麻（二兩，薑汁拌炒）　節白附（一兩，土炒）　淨全蠍（揀去尾足，以滾湯泡淨，去泥鹽，曬乾，一兩，炒）　明乳香（去油淨，二兩）　代赭石（火煅紅，以好醋淬之，煅七次淬七次，水飛，一兩）　赤金箔（五十張）　真麝香（二分）　梅花片（三分）</p>
<p>共為細末，煉蜜為丸，皂角子大，金箔為衣。每用一丸，薑湯化服。此方比抱龍金液、保命至寶、定命等方，功倍十倍。惟虛寒之痰，無根之氣，凡絕脫症候，不可再用此藥也。</p>
<p><u>沆瀣丹</u>　沆瀣，音亢械。北斗星夜半時，所降之甘露名也。</p>
<p>專治小兒一切胎毒，胎熱，胎黃，面赤目閉，鵝口口瘡，重舌木舌，喉閉乳蛾，渾身壯熱，小便黃赤，大便閉結，麻疹斑瘰，遊風癬疥，流丹癮疹，疾食風熱，痄腮面腫，十種火丹，諸般風搐神效。</p>
<p>杭川芎（九錢，酒洗）　錦莊黃（九錢，酒蒸）　實黃芩（九錢，酒炒）　黑牽牛（炒研，取頭末，六錢）　厚黃柏（九錢，酒炒）　薄荷葉（四錢五分）　粉滑石（水飛，六錢）　尖檳榔（七錢五分，童便洗）　陳枳殼（四錢五分，麩炒）　淨連翹（去淨心隔，六錢）　京赤芍（六錢，炒）</p>
<p>上各味，依方炮製，共焙燥研極細末，煉蜜為丸，如芡實大。月內之兒，每服一粒，稍大者兩粒，俱用茶湯化服。乳母切忌油膩。但覺微有泄瀉，則藥力行，病即減矣。如不泄再服之。重病每日三服，以愈為度。此藥實不峻厲，不峻厲不要疑畏。惟胎寒胎怯，面青白者忌服。</p>
<p><u>三仙丹</u>　專治小兒縱口飲啖，食物過多，以致有形之物，填塞腸胃之間，不能轉運傳送，脾氣抑鬱，所以發熱不退，眼閉難開，人事昏沉，四肢攤軟，儼然虛症之象，古人謂大實有羸狀，即此症也。昧者以為虛證，而峻補之。或疑為驚風，而鎮墜之。遂百無一活矣。速以此丸同沆瀣丹同服，待其下後，人事即清矣。又如痢疾症，誤用澀藥，閉其濕熱，比食物有之滯塞，殆有甚焉，宜速下之。不下即死，急服此丹。</p>
<p>五靈脂（二兩）　南木香（五錢）　巴豆仁（四十粒）</p>
<p>上將上兩味研細末，以巴豆剝去殼，取淨肉四十粒，再去其肉上嫩皮，用包水濕，入熳火極熟取起。另以綿紙包之，緩緩捶去其油，紙濕則另換，以成白粉為度，謂之巴霜。與前兩味和勻，醋打麵糊為丸，如綠豆大，以硃砂為衣，曬乾收貯。每服五丸或七丸，量兒大小加減，合沆瀣丹二三丸，同研爛，茶清送下。待其下後，其病立愈。此起死回生之藥，勿以常方視之。</p>
<p><u>理中丸</u>　專治小兒真是脾虛，中寒面青，腹痛寒嘔寒瀉，四肢厥冷，一切虛寒者。要看其頭額冷，手足冷，口中氣冷，面色暗淡，大便瀉者，乃系此丸所治之症。</p>
<p>官揀參（二錢，去蘆）　漂白朮（二錢，土炒）　乾薑炭（一錢五分）　炙甘草（一錢）</p>
<p>共為細末，煉蜜為丸。五分重，每服或一丸或二三丸，用大紅棗（去核蒂），水煎湯，放涼調服。</p>
<p><u>瀉清丸</u>　凡幼科方中，一切截風定搐之方，每用金石腦麝，無益有損。惟此方清心平肝，疏風涼血。凡小兒作熱不退，將成風搐，或已成風搐，但服此丸，其應如響，真是幼科截風定搐之第一良方也。</p>
<p>川羌活（一兩）　正川芎（一兩）　黑梔仁（一兩）　龍膽草（一兩）　全當歸（一兩）　北防風（一兩）　錦莊黃（五錢）</p>
<p>上藥合一處，以火烘燥，研細末，煉蜜為丸，青黛為衣，如大豆大。每一二丸，茶清化下。</p>
<p><u>消癖丸</u>　治癖在脅下，面黃肌瘦，午後發燒似瘧者。此攻補兼施之藥也，見功雖緩，然久服癖自愈。</p>
<p>官揀參（切片，焙乾）　漂白朮（土炒）　正廣皮（酒炒）　白雲苓（乳蒸）　杭青皮（醋炒）　川厚朴（薑製）　小枳實（麩炒）　法半夏（焙）　廣砂仁（酒炒）　六神麯（炒）　麥芽（炒，上十一味各二錢）　京三稜（一錢，煨）　蓬莪朮（一錢，煨）　南木香（二錢）　青化桂（一錢）　炮黑姜（一錢）　正雅連（二錢，薑汁炒）　九肋鱉甲（三錢，炙）</p>
<p>共為細末，米粉糊丸，小綠豆大。每服一二錢，米飲送下，以癖消藥止。</p>
<p><u>化癖丸</u>　治癖積心腹，內結如拳，及臍腹痛不可忍者。</p>
<p>錦莊黃（一兩，酒蒸）　炮黑姜（五錢）　熟附子（三錢）　九肋鱉甲（八錢）</p>
<p>用好醋，將鱉甲煮一炷香時取起，再用酥炙黃色，同上三味共為細末，以過三年老陳醋一升，熬至半升，合丸如綠豆大。每服十丸或十五丸，空心米湯下，取下積如魚腦敗血，爛肉青泥即愈，以後須用補脾藥調理。</p>
<p><u>又治小兒積症方</u>　小兒秉賦本弱，又兼乳食不足，或斷乳太早，不能不兼用飯面等物哺養。惟小兒腸胃薄微，有時不能運化，隨成五積六聚，始而面黃肌瘦，精神日少，繼則項細發稀，腹生痞塊，再久則生蟲上攻唇齒，遂成牙疳不治之症，服此神效。</p>
<p>海螵蛸（五兩）　米硃砂（一兩）　史君子肉（三兩）</p>
<p>共為細末（要極細，如飛塵方好。）每服一錢，用羊肝一塊，煮極熟，分小塊沾服。忌用鐵器。</p>
<p><u>治疳積生蟲神效方</u></p>
<p>雷丸（一錢）　檳榔（一錢）　黑醜（五分頭末）　五穀蟲（一錢，瓦上焙）　史君子肉（五個，切片焙）</p>
<p>共為細末，每服三分，以雞蛋一枚，打破空頭，納藥於內，外用濕紙封固，飯鍋上蒸熟，令兒食之，藥完病愈。</p>
<p><u>百選肥兒丸</u>　治小兒脾胃虛弱，飲食不消，肌膚瘦削，多服真能令兒肥胖，與別方肥兒丸不同也。</p>
<p>廣縮砂（六錢，酒炒）　漂白朮（一兩，土炒）　山楂肉（四錢，炒）　杭白芍（四錢，酒炒）　建蓮子（二兩四錢，去心皮炒）　廣陳皮（四錢，酒炒）　法半夏（四錢，炒）　真雅連（二錢，薑製）　苡仁米（六錢，炒）　官揀參（一錢，焙切片）　六神麯（六錢，炒）　炙草（二錢）　白雲苓（一兩，乳汁蒸曬）</p>
<p>共為細末，煉蜜為丸，彈子大，每早晚各服一丸，米飲送下。</p>

<h2>外科隨錄</h2>
<p><u>治無名腫毒神效方</u>　若初起時，連服一二劑即愈。</p>
<p>珠白芨（五錢）　澤蘭葉（五錢）　黃明膠（五錢，另用酒化沖服更好，同煎亦可）</p>
<p>水煎，點燒酒少許服，臨睡前服，服後接飲陳酒，能飲至酩酊更好。蓋被出汗為度。人身以臍為中，如患在臍以上及頭面者，加白芷（三錢）。臍以下者，加牛膝（三錢）。毒盛者，加川軍（三錢）。紅腫盛，加紫花地丁（三錢），蒲公英（三錢）。不紅而腫，加川芎（二錢），桃仁（三錢）。元氣虛者，加生黃耆（三錢），血虛，加當歸（五錢）。有濕，加炒焦川柏（二錢），蒼朮（三錢）。小便不利，加滑石（五錢）。大便不利，加川軍（三錢）。有外感，加蘇葉（三錢），桔梗、防風（各二錢），川羌（三錢）。</p>
<p><u>青龍丸</u>　治一切疔瘡腫毒，並跌僕閃肭，傷筋攣痛，貼骨癰疽，兼治男婦頸項瘰癧，及乳串結核，痰氣滯凝，硬塊成毒，小兒痘發癰等症，真仙方也。</p>
<p>馬前子（一名番木鱉，以米泔浸三日三夜，刮去皮毛，切片，晾燥，香油炒透，四兩）　川甲片（炒黃色，用一兩二錢）　白殭蠶（炒斷絲，用一兩二錢）</p>
<p>共為細末，以黃米飯搗勻為丸，梧桐子大。每服五分，量人虛實酌減。臨睡時按部位用引藥煎湯送下。蓋暖睡，勿冒風，如冒風，覺周身麻木抽掣，甚則發抖，不必驚慌，過片刻即安。毒初起者，一二服即消散。已成膿者，服此自能出毒，不必咬頭開刀，誠外科家第一妙方也。</p>
<p>各經引藥，用水煎湯送。頭面，川羌川芎各五分。肩背。角刺五分。兩臂，桂枝五分。胸腹，枳殼五分。兩肋，柴胡五分。腰間，杜仲五分。兩足膝，（牛膝、木瓜）各五分。咽頭，桔梗、甘草各五分。若系人年老氣血弱，及婦人新產半月以內者，止服四分。小兒周歲以內者服九粒，以外者十一粒，三歲者服十五粒，可歲長氣壯，漸加兩三粒。如不能吞送，以開水或甜酒調化服。又治男婦瘰癧痰毒，用夏枯草煎湯服，黃酒亦可。</p>
<p><u>治對口仙方</u>　此瘡名為夭疽，十有九死，可不慎乎。</p>
<p>鯽魚一尾，去鱗腸搗爛，入頭垢五六錢再搗勻，加蜂蜜三四兩攪勻，從外圖入裡面，留一孔出毒氣，二次全消，即時止痛。如已成形，有頭將要出膿，或他醫已治不效而出膿者，內服三香定痛飲，則能起死回生矣。</p>
<p><u>三香定痛飲</u>　原方無分兩，臨用延醫酌定。</p>
<p>木香　紫蘇　桔梗　厚朴　烏藥　川芎　當歸　芍藥　人參　黃耆　防風　白芷　甘草　官桂　沒藥　乳香</p>
<p>引用生薑三片，紅棗二枚，水煎食後服。</p>
<p>治對口發背，及一切癰疽潰爛，有回生功效。</p>
<p>官粉（一兩）　輕粉　銀珠　雄黃　乳香（去油）　沒藥（各二分五釐，去油）</p>
<p>共研極細末，聽用。先將好茶葉煎濃湯洗患處，後用豶豬腰子切開，糝藥五分於腰子上，蓋患處，待藥如蒸，良久取去，一日一次，拔毒減痛，潰出膿穢，不可用手擠，輕者二次愈，重者七八次愈。</p>
<p><u>呂祖治發背靈寶膏</u></p>
<p>桐盧一人，因母患發背，百治不痊，得此方愈。</p>
<p>大枯蔞五枚，取子，去殼　乳香五塊，如大棗大者</p>
<p>二味共研細末，以白蜜一斤，同熬成膏，每服三錢，溫黃酒化服。</p>
<p><u>治發背如神真秘方</u></p>
<p>狗牙（要大者，炒黑）</p>
<p>研末聽用，先將生蔥熬湯洗瘡，再將前末用好醋調敷患處，即愈。</p>
<p><u>梅花五氣丹</u>　治腦疽發背，諸般疔腫，初起寒熱交作，筋骨疼痛，有似傷風，噁心嘔吐，但未成膿者，並宜服之。</p>
<p>梅花片（五分）　輕粉（六分）　辰砂（六分）　當門子麝（五分）　乳香（一錢）　沒藥（一錢）　瓜兒竭（一錢）　明雄黃（一錢）　真酥散（預於端午前尋之，至午日取酥二錢，用頭男乳調膏。）</p>
<p>上藥各研極細，對準分數，於端午日辰時，制妥，候至午時，將上藥九味，和入蟾酥膏內，向日丸之，如茄內子大，一時內曬乾，用川椒二十七粒，燈心二十七段，同藥收於罐內，養之。以蠟封口，不泄藥氣為妙。凡遇惡瘡大毒，開器取出一枚，先用美饌食飽，次用無根水漱淨口內，再含水一口，少頃待溫，用蔥白五寸，同水嚼爛嚥下，隨將藥餅安放舌下，睡於暖處，以被覆蓋，藥化苦水，徐徐咽之。瘡勢大者，二三餅亦可。藥盡其汗即到如淋，諸病若失。如冬月寒天難汗，噙後將蔥白湯催之亦妙。凡治無有不效。如暗疔症，人所不知覺，及知覺而失治者，毒氣入里，人便昏沉，一中便倒，不能依法服藥，急用連須蔥白七個，煎老酒一杯，研藥五餅灌下，藥氣到心，其功如湯潑雪，患者即蘇，真外科第一方也。</p>
<p><u>蟾酥丸</u>　治疔瘡發背，腦疽乳癰，附骨臀腿等疽，一切惡症歹瘡，不痛或麻木，或嘔吐。病重者，必多昏憒。此藥服之，不起發即起發，不疼痛即疼痛，疼痛甚者即止，昏憒者即蘇，嘔吐者即解，未成者即消，已成者即潰，真有回生之功，乃惡症中至寶丹也。</p>
<p>蟾酥（二錢，酒化）　輕粉（五分）　枯礬（一錢）　寒水石（一錢，煅）　銅綠（一錢）　乳香（一錢）　沒藥（一錢）　膽礬（一錢）　麝香（一錢）　雄黃（二錢）　蝸牛（二十一個）　硃砂（三錢）</p>
<p>上各為末，稱准，於端午日午時，在淨室中，先將蝸牛研爛，再同蟾酥和研稠黏，方入各藥，共搗極勻，丸如綠豆大。每服三丸，用蔥白五寸，令患者自嚼爛，吐於男左女右手心，包藥在內，用無灰酒一茶鍾送下，蓋被暖臥一時許出汗即效。重者再進一服。修合時忌婦人雞犬等見。</p>
<p><u>立馬回疔丹</u>　治疔瘡初起，用針刺，後又或誤灸失治，以致瘡毒走散不住，乃疔走黃險惡症也。急用此錠插之。</p>
<p>蟾酥（酒化）　硇砂　輕粉　白丁香（各一錢）　蜈蚣（一條，炙）　雄黃　硃砂（各二錢）　乳香（六分）　麝香（七釐）　金頂砒（五分）</p>
<p>共為細末，糊成麥子大，要細要尖。凡看疔瘡針破，用此一粒，插入孔內，膏蓋之。次後追出膿血，疔根為效。</p>
<p>治一切癰疽大毒，發背對口，腰疽臂癰，腐肉黑暗死肌，堅硬臭穢難聞，用此摻之，膏蓋過夜，即周迴裂縫，與好肉分界，膿流肌活，癟（音瞥。肉色枯也。）色轉紅，疼痛稍緩，其腐肉自脫，不用刀鉗剪割，穢氣亦無，神效無比。此名　金素丹　，又名黃靈丹也。</p>
<p>生白礬（六錢）　枯白礬（三錢）　腰面雄黃（一錢）</p>
<p>共研極細，篩過再碾千餘下，其色愈美，裝磁瓶內。臨用取出，勿使染塵。</p>
<p>凡去腐肉，儘可用之。若新長肉上，摻之，要痛片刻。一見膿水濕氣，即不痛矣。如良腐間混，須先將後金花散，摻好肉面上腐處，再摻此丹，自不痛也。此丹用粉糊打條子亦可，去輕淺不彎之管屢試屢效。凡生盤根牙癰，毒勢串沿，滿口腐爛，其牙床骨竟有通身一扇脫落者。須用桑皮紙或棉條，摻此藥在上，卷作捻式，塞於牙根邊，久塞可保不脫。如遇飲食，可去藥條，日換數次，亦無妨礙。</p>
<p><u>金花散</u>　專治男婦新久爛腿，連年不愈，臭腐不堪，並治腳發臁瘡等症，及一切癰癤毒。用之亦能去腐生肌，長肉收功。外科書中，亦稱此藥為珍珠散。</p>
<p>煨石膏（一斤，研極細）　飛淨東丹（一兩）</p>
<p>上二味和勻，再篩再碾。如治爛腿臁瘡，用真香油調擦，上蓋油紙，一日一換，不可用茶水淨洗。如有膿水流開，只可抹好肉上，瘡口莫見濕氣。如婦女月信時瘡愈復發，再搽即愈。</p>
<p><u>珍珠散</u>　一名奇效八寶丹</p>
<p>治瘡毒膿腐已盡，用此摻上，即能生肌長肉，平口收功，神效無比。</p>
<p>珠母（拾取露天大蚌殼左顧者半片，括背後黑衣，安火上煅，研細末用）　蘆甘石（三兩，以黃連二錢煎汁，煅淬數次，研極細）　血竭（三錢）　粉口兒茶（一兩）　煨石膏（三兩）　赤石脂（三兩，煅）　陳年絲吐渣（一兩，煅存性）　梅花冰片（臨用時，凡藥五錢，兌入冰片一分）</p>
<p>上共研勻極細，碾如香灰式，磁瓶盛貯聽用。此藥比珍珠西黃八寶丹，功效倍之。幸勿輕忽。</p>
<p><u>治冷疔方</u>　一名兔齒，一名足跟痛。其患即腳後跟下，無頭無腦，不紅不腫，唯夜間內挑痛難忍，數月破頭即不治矣。</p>
<p>山甲（五分，炒）　皂刺（五分）　歸尾（二錢）　甘草（一錢）　銀花（三錢）　赤芍（一錢）　乳香（一錢，去油）　沒藥（一錢，去油）　花粉（一錢五分）　防風（一錢）　川貝（一錢去心）　白芷（一錢）　陳皮（一錢五分）　羌活（一錢）　川膝（一錢）　木瓜（一錢）　蒼朮（三錢）</p>
<p>黃酒兌水煎服，連服十劑。</p>
<p><u>復生湯</u>　治疔毒內攻，面腫欲死者。</p>
<p>蒡子　牡蠣　皂刺　銀花　梔子　花粉　木通　骨皮　乳香　沒藥　殭蠶　川軍（各等分）</p>
<p>便秘，加朴硝一錢，用磨刀鏽漿水一鍾，黃酒一鍾煎服。大便行一二次即蘇，出汗生，無汗危。</p>
<p><u>解毒清火湯</u>　治疔瘡誤灸，逼毒內攻，煩躁譫語者。此方與復生湯同功，可選用之。</p>
<p>元參　桔梗　知母　石膏　升麻　梔子　麥冬　木通　大青葉　人中黃（各一錢）</p>
<p>便秘加川軍，芒硝。悶亂加燒人糞。加淡竹葉（五分），燈心（三十寸），水煎服。</p>
<p>治腫毒初起時，疼痛不可忍方</p>
<p>紅花（五錢）　川甲（五錢，炒）　歸尾（三錢）　黃酒煎去淨渣，調阿魏（五分，研細末）　麝香（五釐，研細末）　服。</p>
<p><u>又方</u>　治同前。</p>
<p>用雞子一個，開一小孔，納入整斑蟊一個，以濕紙厚裹，燒熟連斑蟊食之即愈。見一人腿腫疼痛，服之即愈。然必於初起三日內服始妥。</p>
<p><u>接骨秘方</u>　亦名七釐散，能活血化瘀，止痛安神，真能續筋接骨，的系良方也。</p>
<p>乳香（二錢，去油）　沒藥（二錢，去油）　血竭（三錢）　猴姜（三錢，去毛）　硼砂（二錢）　熟軍（二錢）　自然銅（二錢，醋煅）　當歸（三錢，酒洗）　土鱉蟲（五錢，制）　半兩錢（如不能得，以開元錢代之，醋煅數次，用二錢）</p>
<p>共為極細末，每服七釐至多，萬不可過三分，用黃酒送下。</p>
<p>制土鱉蟲法：用瓦兩塊，先仰放一塊，上面鋪新鮮柏葉一指厚，將土鱉蟲肚向下放勻在柏葉上，然後以彼瓦合定，將瓦兩頭及兩旁縫處，用土泥封固，安置火爐上，俟柏葉盡焦，土鱉蟲盡出汗為度。</p>
<p>煅自然銅，要火煅醋淬七次。</p>
<p>煅半兩錢，須十餘次，因其銅性甚堅，不多經淬煅，則不能研末也。</p>
