<header data-type="book">
<h1>少林真傳傷科秘方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1900">公元1900年</data></dd></div>
</dl>
</header>

<h1>正文</h1>
<p>凡跌打損傷，十六歲以上者易治，血氣有餘故也。十六歲以下難醫，血氣衰弱故也。</p>
<p>凡傷七日之內，血氣未曾積聚，十四日之後者，血氣凝結，恐生別症。</p>
<p>春傷肝凶，夏傷心凶，秋傷肺凶，冬傷腎凶。傷肝者面紅紫黑，先服清肝止痛，後服中續命飲，再服順氣活血湯而愈。</p>
<p>傷心者，心下主熱，目閉、口不能言。先服護心養元湯，再服通聖飲，後服和中丸，不然主一日內死。</p>
<p>傷肺者，鼻內氣喘聲啞，發熱，睡如弓狀，著席如刀，此症主三日內死。先服通聖飲，後服降氣活血湯，再服清肺止痛飲。</p>
<p>傷腎者，兩耳必聾，耳角必黑。先服吉利散，後服中續命飲，再服補腎和血湯，不然一七必死。</p>
<p>傷心口者，必當胸迷悶，面黃發脹。先服降氣活血湯，再服通聖飲，再服順氣活血湯。</p>
<p>傷食肚者，即時氣升心迷。先服降氣活血湯，再服中續命飲，後服吉利散。不然一日內死。</p>
<p>凡傷者眼白者死，口臭者死，搖頭髮直者死，遺尿者死。</p>
<p><u>通聖飲　</u></p>
<p>通草（一錢）　紅曲（一錢五分，炒）　蘇木（一錢，炒）　生甘草（五分）　麥芽（一錢，炒）　紅花（一錢，炒）　香附（二錢，便制）　丹皮（八分）　山楂肉（八分）　歸尾（一錢，酒洗）　烏藥（一錢）　穿山甲（二錢，炙）　胡桃肉（五錢）　酒、水各兩杯煎兩鍾，不拘時服。</p>
<p><u>大續命飲　</u></p>
<p>桔梗（八分）　乳香（一錢，去油）　沒藥（八分，去油）　山楂肉（一錢）　麥芽（八分）　歸尾（二錢，酒洗）　桃仁（一錢，去皮尖）　官桂（八分）　生地黃（一錢）　紅曲（八分）　蘇木（六分）　通草（八分）　穿山甲（八分）紅花（八分）　香附（一錢，便制）　牡丹皮（八分）　陳皮（六分）　烏藥（八分）　甘草（六分）　酒水各三鍾，煎鍾半，不拘時服。</p>
<p><u>小續命飲　</u></p>
<p>紅曲（一錢五分，炒研）　甘草（五分）　蘇木（一錢二分）　山楂肉（一錢）　麥芽（一錢，炒）　通草（一錢）　當歸（一錢，酒洗）　牡丹皮（一錢）　烏藥（二錢）　紅花（五分）　香附（一錢，便制）　穿山甲（一錢，炙）酒、水各一碗，煎八分，不拘時服。</p>
<p><u>降氣活血湯　</u></p>
<p>紅花（八分）　蘇木（八分）　官桂（六分）　五加皮（一錢）　歸尾（一錢，酒洗）　杏仁（八分）　牛膝（六分）　赤芍（一錢）　桃仁（一錢，去皮尖）　酒一鍾，水半鍾，童便一鍾，煎一鍾服。</p>
<p><u>中續命飲　</u></p>
<p>紅花（八分）　川芎（六分）　赤芍（八分）　歸尾（一錢，酒洗）　桃仁（一錢，去皮尖）　蘇木（八分）　烏藥（六分）　穿山甲（一錢，炙）　神麯（六分）　麥芽（一錢）　陳皮（六分）　柴胡（八分）　莪朮（一錢）　官桂六分　紅曲六分）　枳殼（六分）　乳香（八分，去油）　沒藥（一錢，去油）　酒兩鍾，煎一鍾服。</p>
<p><u>護心養元湯　</u></p>
<p>歸身（一錢，酒洗）　川芎（一錢）　紫蘇（八分）　生甘草（六分）　香附（一錢，便制）　連翹（六分）　獨活（六分）　杜仲（一錢，炒去絲）　柴胡（六分）　青皮（八分）　枳殼（六分）　水兩鍾，煎八分服。不發熱者不用。</p>
<p><u>流傷飲　</u></p>
<p>劉寄奴（一錢）　骨碎補（五錢）　元胡索（五錢）　水兩鍾，煎一鍾，傾入童便一鍾沖服。</p>
<p><u>和中丸　</u></p>
<p>（五臟六腑內傷）</p>
<p>當歸（一兩，酒洗）　蘇木（六錢）　桃仁（一兩，去皮尖）　赤芍（五錢）　烏藥（六錢）　丹皮（八錢）　枳殼（六錢）　廣木香（四錢）　三稜（四錢）　香附（一兩，便制）　莪朮（四錢）　穿山甲（八錢）　檳榔（五錢）　沉香末（五錢）　甘草（四錢）　薑黃（六錢）　延胡索（六錢）　乳香（四錢，去油）　沒藥（四錢，去油）　降香末（四錢）麝香（五分）　地鱉蟲（五錢，燒酒入麝香浸、炙、淨末）　上為細末，煉蜜為丸，每丸重二錢，硃砂為衣，好酒空心送下。</p>
<p><u>跌打損傷膏藥方　</u></p>
<p>當歸　川芎　蒼朮　赤芍　木鱉子　大黃　川烏　草烏（各一兩）　上藥八味，用香油四斤，春秋浸五日，夏浸三日，冬浸七日，然後熬藥至枯，濾去渣，下瀝青八兩煉淨，松香八兩成膏，離火略冷，方下肉桂（淨末，二兩）　丹皮（淨末，二兩）　乳香（去油，淨末，四錢）　沒藥（去油，淨末二錢）　俱為極細末，用桑枝攪勻，用時先將生薑、胡椒擦患處令熱，然後貼之。</p>
<p><u>打傷腹中瘀血方　</u></p>
<p>當歸（二兩）　蒲黃（一升）　桂心（二兩）　共為細末，每服二錢，好酒送下。</p>
<p><u>損傷瘀血方　</u></p>
<p>大黃（一兩，酒蒸）　杏仁（三十七粒）　用水一碗煎八分，空心服。</p>
<p><u>奪命七釐散　</u></p>
<p>黃麻皮灰（一兩，存性）　生大黃（五錢）　桃仁（五錢，去皮尖）　自然銅（二錢，醋浸一夜，醋煅七次）地鱉蟲（火酒入麝香浸、炙，淨末，二錢）　共為細末，每服輕者七分，重者一錢，好酒送下。</p>
<p><u>輕傷小七釐散　</u></p>
<p>地鱉蟲（二錢，炙淨末）　乳香（一錢，去油）　沒藥（八分，去油）　骨碎補（一錢）　大黃（一錢）　血竭（一錢）　共為細末，每服七八釐，空心好酒送下。</p>
<p><u>打傷腫毒止痛方　</u></p>
<p>無名異（二兩）　上為細末，好酒送下，四肢血脈皆效（即傘店內土故紙）</p>
<p><u>內傷氣食方　</u></p>
<p>紅花　枳實　檳榔（各六分）　厚朴（八分）　莪朮　三稜　黃芩（各六分）　柴胡（八分）　當歸　桃仁（去皮尖）　青皮　大黃（各一錢）　水二鍾，煎八分，入朴硝七分，一沸即起，五更空心服，午後行。</p>
<p><u>打墜腰滯瘀血方　</u></p>
<p>破故紙（炒）　大茴香（炒）　辣桂（各五錢）　上為細末，每服一錢，好酒熱服，空心送下。</p>
<p><u>打傷接骨方　</u></p>
<p>乳香（去油）　沒藥（去油）　龍骨（真醋炙存性）　自然銅（醋浸炙存性）　地鱉蟲（炙末，各二錢）　共為細末，作二服，好酒送下。</p>
<p><u>大刑膏藥方　</u></p>
<p>真麻油（二兩）　黃蠟　鉛粉（各七錢五分）　輕粉　血竭（各二分半）　冰片（五釐）　先將油熬老，下黃蠟於油內，次下鉛粉，再下輕粉、血竭，離火略冷，方下冰片，老嫩得法為妙。</p>
<p><u>大刑煮酒方　</u></p>
<p>當歸　川芎　牛膝　生地　紅花　續斷　薏仁　防風　丹皮　五加皮　十大功勞　老君須　杏仁（去皮尖）　以上各三分　蜻蜓（兩隻）　小茴香（二分）　乳香（二分，去油）　沒藥（二分，去油）　蟬蛻（二分）　紫金皮（三分）　隔湯煮三柱香，取起，再加無灰白燒酒二斤於藥酒內，不時服之。</p>
<p><u>夾打預服護心丹　</u></p>
<p>乳香（去油）　沒藥（去油）　血竭（各五分）　兒茶（一錢）　木耳（二錢，焙乾）　白蠟（一錢）　辰砂（七分）　青木香（一錢）　琥珀（三分）　海螵蛸（五分）　天灰蓋（三分，煅）　上藥共為細末，砂糖為丸如芡實，每服三丸，好酒送下，受刑槌背即消矣。</p>
<p>詩曰</p>
<p>跌原防意外，打或遇災侵，損傷真堪憫，傷筋未易針，奇書真若玉，驗藥貴如金，全得蒼生命，方知重少林。</p>
<p>少林寺秘傳應驗跌打損傷奇方真本卷之終</p>

<h2>穴道</h2>
<p>囟門：即天庭蓋，骨碎出不治。</p>
<p>兩太陽：傷重難治。</p>
<p>截梁：即鼻梁兩眼對直處，打斷不治。</p>
<p>突：即結喉，打斷不治。</p>
<p>塞：即結喉下、橫骨上、空潭上，打傷不治。塞下為橫骨下直至人字骨懸，一寸三分為一節，下一節凶一節。</p>
<p>食肚：心坎下。</p>
<p>丹田：臍下一寸三分內即膀胱，倒插傷不治，一月而死。</p>
<p>外腎：捏碎不治。</p>
<p>腦後：與囟門同看。</p>
<p>百勞：與外對。</p>
<p>天柱骨：與突對，斷不治。</p>
<p>尾子骨：碎者不治。</p>
<p>兩腎：在脊左右，與前臍對，或哭不治。</p>
<p>海底穴：大小便兩界處，重傷不治。</p>
<p>軟肋：左乳下即合肚。</p>
<p>氣門：在乳上脈動處，傷即氣塞，救遲不過三時。</p>
<p>血海：右乳下軟肋。</p>
<p>兩乳上：左傷久必發咳，右傷久必發呃。</p>
<p>驗症吉凶</p>
<p>一看兩眼：內有瘀血，白睛必有血筋。血筋多，瘀血亦多；血筋少，瘀血亦少。眼及睛活動易治，否則難療。</p>
<p>二看指甲：掀其中指甲，放如即還血色易治，少頃後還原者病重，如紫色者不治。</p>
<p>三看陽物：不縮者可治，縮者難治。</p>
<p>四看足爪：與手指同看。</p>
<p>五看腳底：紅活者易治，色黃者難治。</p>
<p>以上為五絕，五絕全犯者不治，如犯一二件尚可醫治。</p>

<h2>拳傷辨</h2>
<p>向上為順氣，平拳為寒氣，倒插為逆氣最凶，各樣內傷總怕倒插。血隨氣轉，氣逆血只凝故也。心前背後相對處，傷久成怯，小膀肚腹打傷，久必成黃病。</p>
<p>凡人初打傷，七日之內血氣未曾積聚，只宜發散活血。十四日其瘀血或有停住在胸前，其勢方歸大腸，肚內作痛，要吃行藥。凡人打傷，要看指甲，黑亦有傷。其卵子上升，十分凶症。肝經脈數，胸傷有血，必然吐血。</p>

<h2>跌打損傷穴道要訣</h2>
<p>右胸名為痰穴，左胸名為氣穴，右肋名為血海，左肋名為食腑，胸前乃為龍潭穴，背脊為海底穴。左乳傷發咳，右乳傷發呃，兩腰為二珠穴。</p>
<p>凡跌打踢撲傷，男人傷上部者易治，傷下部難醫，以其氣上升故也。婦人傷下部者易治，傷上部者難療，以其血下降故也。凡傷須驗在何部，按其輕重，明其受傷新久。男子氣從左轉，左只屬陽。女人血從右轉，故右屬陰。要分氣血之辨，此症既受臟腑脈絡，又復驗其生死遲速，然後看症用藥，或竟服吉利散。</p>
<p>一，傷全體者死速，然按其輕重隨症用藥，先以砂仁泡湯，調吉利散服之，以順氣活血湯治之，仍以和傷丸糖酒下四五丸，再以調理藥酒，每朝飲下。輕者，竟以紅糖油和酒調，服吉利散而安。</p>
<p>二，傷肩背者，看其輕重。如重者先以砂仁湯調吉利散服下，次以和傷丸酒化服，再以調理藥酒更妙。如輕者，用紅糖油和酒調吉利散，服之而安。</p>
<p>三，傷左邊者，氣促面黃浮腫。傷右邊者，氣虛面白血少。即將行氣活血湯治之，再服調理藥酒全治。</p>
<p>四，傷背者，五臟皆繫於背，雖凶死緩。先多服吉利散治之，次服和傷丸，糖酒送下四五服，百日。見危須服調理藥酒為妙。</p>
<p>五，傷胸者，胸以血涵停流往來之所，傷久必發咳嗽，高氣迷悶，面黑髮熱，重三四日而死。先服蘇風理氣湯，次服行氣活血湯、吉利散。</p>
<p>六，傷肝者，面主紅紫，眼赤發熱，主七日死。先服蘇風理氣湯，次服吉利散，後服琥珀丸而愈。</p>
<p>七，傷心口者，面青氣少吐血，呼吸大痛，身體難於舒動，主七日而死。先服蘇風理氣湯，次服和傷丸，每日以一百合煎湯，不時飲之。</p>
<p>八，傷食肚者，心下捉陣而痛，發熱，高浮如鼓皮緊，飲食不進，氣促發熱，眼閉口臭，面多黑色，主七日死。先服蘇風理氣湯，次服和傷丸。</p>
<p>九，傷腎者，兩耳即聾，額角黑色，面浮白光，常如哭狀，腫如弓形，主半月死。先服蘇風順氣補血湯，次服補腎活血湯三四劑，再服吉利散，後服琥珀丸。</p>
<p>十，傷小腸者，小便閉塞作痛，發熱口乾，面腫氣急，不時作痛，口有酸水，主三日而死。先以水、酒各一鍾，煎蘇風順氣湯服之。次用吉利散，後服琥珀丸即安。如閉塞數日者不治。</p>
<p>十一，傷大腸者，糞後出紅急澀，面赤氣滯，主半月死。先服槐花湯，次服吉利散，後用和傷丸。又曰糞後有紅者傷重也，非大腸之火，看症者須斟酌，宜即用槐花散，尚宜加減為妙。</p>
<p>十二，傷膀胱者，小便痛澀，不時有尿滴出，脹腫發熱，主五日死。先服琥珀丸，次服行氣活血湯而安。</p>
<p>十三，傷陰囊陰戶（缺）。</p>
<p>十四，傷胸背俱傷者，面白肉瘦，食少發熱咳嗽，主半月死，先服蘇風理氣湯，後用和傷丸。</p>
<p>十五，傷氣眼者，氣喘大痛，夜多盜汗，身瘦食少，腫痛不寧，主一月內死。先用砂仁湯調吉利散，次以酒煎補腎活血湯服之，再服和傷丸可安。</p>
<p>十六，傷血海者，血多妄行，口常吐出，前後胸背板滯作痛，主一日內死。先服行氣活血湯，次服吉利散，再飲藥酒而安。</p>
<p>十七，傷兩肋者，氣喘大痛，腫如刀刺，面白氣虛，主兩月內死。先飲行氣活血湯，次服和傷丸而安。</p>
<p>十八，傷兩肋痛者，肝火有餘，氣實火盛之故，須用清肝止痛湯治之。</p>
<p>十九，或有清痰食積流注而兩肋痛者，須用清肺止痛飲，次服吉利散而安。</p>
<p>二十，登高跌撲損傷，瘀血凝滯而肋痛，急將大黃湯治之，次服吉利散，後用和傷丸即安。</p>
<p>二十一，醉飽房勞，脾土虛乏，肝脈得乘土位，而胃腕當心連兩肋痛者，急投歸原養血和傷湯，再以十全大補丸加減，每朝送下三錢為妙。</p>
<p>二十二，傷寒發熱兩肋痛者，以足少陽膽經、足厥陰肝經之病治，用柴胡湯。</p>
<p>二十三，左肋痛者，痰與食也。先須通利痰食氣，寬胸為主，再以活血止痛飲服之，更以琥珀丸化服而安。</p>
<p>二十四，瘀血疼痛者，傷處有紅腫高起，肥白者發熱而痛，多氣虛，瘦人發寒熱而痛，多怒內有瘀血兼腰痛。日輕夜重，此瘀血停止，故作痛也。速宜以琥珀散行之，後服和傷丸，再飲調理藥酒。</p>
<p>二十五，有受傷而不能開口者，即以牙皂細末吹入鼻中，一嚏即開。隨以韭白汁頓熱和童便灌入口內。如不納，此為難治之症。若納，同瘀血嘔出者，辨其輕重，先以吉利散用砂仁湯服，再服清心和氣湯，外貼接骨膏。至重者，又不吐血，頭又昏迷，將韭白汁和陳酒服下。如破碎損傷折骨者，用封口藥護之。如小便不通，琥珀散通之。如腹內疼痛，必有瘀血停住，急以大黃散行之，後當隨症加減用藥，戳入鼻內即涕，涕隨吐痰者，可無恙，否則凶症不治。</p>
<p>二十六，小便不通，澀滯脹痛，尿滴點而出，梗竅痛如刀刺，以琥珀散治之，後以蟋蟀乾研末，茶床子湯送下。</p>
<p>二十七，如有一切撲磕損傷，以至腹內停止瘀血，作痛不寧，竟以大黃散行之。</p>
<p>二十八，有受傷至首，骨碎損染破傷風者。夫人之首，原無舊骱，倘有跌撲折損之症，如腦髓出者難治。倘骨碎如黍粒者，可取出，大隻不可。先以止血定痛散敷之，使血不湧流。俟血少定，金瘡藥敷之。避風戒欲，患者自宜慎之。若染破傷風牙關緊閉，角弓反張之凶症，即以蘇風理氣湯服之，俟身不發熱，再投補中益氣湯，服之可安。</p>
<p>二十九，有鬥傷落珠之症，先將收珠散敷之，用銀針蘸井水將前收珠散點紅筋，次用絹溫湯挪進，速用還魂湯（即童便）飲之，平復再以明目生血飲，飲之即安。然餘五世未醫此症，非有迴天手不可也，倘後人或遇此症可以醫之。</p>
<p>三十，鼻梁折斷者，可捏正斷骨，先用止血散摻之，竟服壯筋續骨丹，其外自然平復，如不斷不破，惟用損傷膏貼之，內服吉利散而安。</p>
<p>三十一，有缺唇之症，先用代痛散敷之（即麻藥），小銅鉗鉗牢，將油棉線縫合。飲食不能進，當以參湯飲之，否以元米粉調薄粥湯飲之，切忌哭笑。合之後，即以金槍藥敷之，內服止痛活血散。縫時倘血冷，必須再用代痛散，以利刀略鐮，待熱血少流出而縫之，第一要手法快便為要。</p>
<p>三十二，人之頭，惟有下頦一骱，偶然落之不能上者，多腎虛之故得之。皆此骱如剪，復連環相扭。用絲棉裹大指入口，余指抵下推，緩緩捺上推進。而多服補腎活血湯，再將補腎丸調理為妙。</p>
<p>三十三，天井骨急難損折，有登高倒跌者，犯此惡症，其骨不綁縛，至有骨露於外者，此實凶候。務撳平其骨，先貼損傷膏，次服吉利散，以砂仁湯服下，使骨相對，用棉布連肩背絡之，又投提氣活血湯三四劑而安。</p>
<p>三十四，天井骨即頭頸骨也，此症如傷重者必死，折者不過三四時亦死。輕者覺無妨礙，用前藥治，可以收功。</p>
<p>三十五，肩骱與膝骱相似，膝骱送上有力，肩骱送下有力。可上之先，將一手上按住其肩，一手按住其手，緩緩轉動，使其筋舒，使患者坐於低處，叫一人抱住其身，醫者兩手又捏其肩，抵住其骨，將膝夾其手，齊力而上。綿裹用如鵝蛋大，落在胯下。外貼損傷膏，再以羌活桂枝煎湯，化服吉利散可安。（此骱上時，須仔細斟酌參用，不可孟浪。）</p>
<p>三十六，臂骱出於上，一手抬其灣，一手按住其脈踝，先掬其上，而後抬其挽，竟捏手湊攏可也。外貼損傷膏，內以經之劑煎湯調吉利散服，更以白布做圓眼，使恰柊其臂骨者，扎縛包裹可也。</p>
<figure>
<figcaption>布式</figcaption>
<img alt="布式">
</figure>
<p>此有孔，孔布必須做來正好為妙，兩頭帶兩條，要長布，亦須裹之四轉為妙。</p>
<p>三十七，手骱送出，可一手按住其五指，一手按住其臼，手掌掬起，手骱掬下，一伸而上。此乃會脈之所，即以川桂枝煎湯調吉利散服之。骱出不用綁束。如斷方須用貼接骨膏，綿布包裹，用闊板一塊按住患處，再以松板四片長三寸縛好，俟愈日方可放之。</p>
<p>三十八，手指有骱中節出者，有緒然易出易止，兩指捻伸即上。以桂枝煎湯調服活血上止散，外貼損傷膏，否最痛故也（忌下水）。</p>
<p>三十九，人之一身，十指最難，若傷破其一指，則連心之痛難忍，中指比別指尤難。若染破傷風，即將蘇風理氣湯服之，外將金瘡藥敷之。</p>
<p>四十，臂骱比諸骱最難，此臼出只觸在眼內。可使患者側臥，出內手隨內，出外手隨外，上手撳住其腰，下捧住其灣，將膝掬其上。出左，手扳於右，向右扳伸而上。出右，扳於左，向左扳伸而上，外貼損傷膏，內服生血補髓湯，仍用調理藥酒即安。</p>
<p>臂骱式<img class="字" src="_files/001.svg" alt=""><img class="字" src="_files/002.svg" alt="">出（左右脥墊藥枕，內蘄艾一兩、紅花五錢、肉桂三錢，麝香二分）。</p>
<p>四十一，易折者人之兩腿，一傷折即為兩段。醫在於綁縛，使患者側臥，與無病足取齊。次用損傷膏貼之，取布兩條，闊二寸長五尺，裹於膏藥外，將紙包好，用松木板八塊（即八片）長七寸，再以綿布條三條綁縛。內服活血定痛散三四劑，又以壯筋續骨丹，調理藥酒兼服而安。</p>
<p>四十二，膝骱，此臼與油盞骨在上，其骱送出於上。使患者仰臥，一人抬起腳踝，若使出於左，隨左而下。出於右，隨右而下。醫者緩緩雙手扶撳上手，挽住其膝，下手按住其足骻，使臼對膝，上手只撳膝，下手只抬起，必上矣。先貼接骨膏，次服壯筋續骨丹而安。</p>
<p>四十三，膝蓋骨又名冰骨，其骨如跌碎或二塊三塊。將腳伸直撳其手，復用薄篾片照膝大做一圈，以布卷之，再以布條四條扣於圈上，連下縛之著內，然後以布損傷膏貼之，不必換，即投止痛接骨丹治之。惟煮鴨可食，連湯與吃，以多為美，以受傷足於月內床上，切不可懸空掬起及下床。俟半月後，須用綿軟之物放於灣下，每日增高息起，如此日久，即可輓曲。如大解，須以餘桶照床高床擺之方可，俟好抬篾圈，忌下水，綁紮後以煎劑服之（附錄煎方）。</p>
<p>當歸　羌活　丹皮　乳香　續斷　陳皮　赤芍　加皮　沒藥　紅花（各一錢）　生地　木瓜　牛膝（各一錢五分）　如身發熱加柴胡　桔梗（各一錢五分）　腫加黃芩（一錢）　上用水酒各一鍾，煎一半，空心熱服。不拘幾帖，多隻七八劑，再以藥酒或丸調理為妙。</p>
<p>四十四，小膀有二骨，一大一小，折一根易治，二根俱斷難治。折之偶披者易治，平斷者難治。尚有骨觸皮破之凶症，又折又破急於外治，先以金瘡藥敷之，內服吉利散。如在暑天敷藥，一日換二次，冬天兩日換一次。醫者必自看為妥，若非此症與大腿同治，倘犯此症，骨必在皮肉之上，以骨鑲對，不可用湯薰洗，恐傷毒入內故也。速以金槍藥敷之。如骨折皮不破，撳骨平復，外竟貼接骨膏，然後照前綁紮，用松木板六塊長七寸，上骨折上長，下骨折下長各寸許，取其根力。但此症最痛，必先服止痛接骨丹數劑，次服壯筋續骨丹及藥酒調理可安。</p>
<p>四十五，腳踝骱易出易入，抬住腳跟，一手扳住其指，出右手偏於右，出左手偏於左，足指掬於上，足掬下，一伸可上。外貼損傷膏，內服寬筋散可復。</p>
<p>四十六，有男婦偶破足指，前半節或翻下斷，或翻上斷，醫者以左手按捏住其足之兩側，再以右捏手鑲上，外貼損傷膏，以腳帶裹紮。內服壯筋續骨丹，或竟服吉利散數劑即安。忌見水，外有促筋失枕、刀斧砍傷、碎骨補骨之奇，備詳於下。</p>
<p>四十七，槍戳者，看其傷處致命否，傷處深否，致命不深亦不為害。如傷在腹，必探其深淺，恐深處內傷臟與大腸耳，傷者難治。傷口直者，出血不止。先敷止血定痛散即安。大抵舒筋必用寬筋散煎湯，薰洗為主。手足之筋皆在指頭動處，指動者，必此筋也，就將此筋挪洗，緩緩伸舒可也。如骨節斷者，不可薰洗，戒之。失枕有臥而誤失者，使其低處，一手扳其手，一手扳其下頦，緩緩伸之可復。如要用藥，惟吉利散。如人受傷至重，以致大便不通者，須用皂角為末，以蜂蜜調和為丸，如橄欖式摔入便內即通。更有受陰極者，十皆九死，無藥可治。</p>
<p>四十八，刀斧砍傷頭顱額角者，防其身發寒熱，一見即以金槍藥敷之，護風為上。尤須診脈，沉細者生，易治；洪大者危，難醫。傷於硬處者，看骨損否，傷於軟處者，看傷內深淺。損骨先治骨，損肉只生肌。刀斧砍傷比觸傷不同，外敷金槍藥，內服護心托裡散為上，更宜詳究首論，原無舊骱內參用。</p>
<p>四十九，有人自以刀勒咽喉者，須觀刀口之平否，有灣者深，無灣者淺；兩刀者易治，一刀勒者難醫。如破食喉或破半片，或全斷者，以油綿線縫之。看其血出不止，將滑石、五倍各等分共為細末敷之，後將金槍藥封固，內服護風托裡散四五劑。使身不發寒熱，即服補中和氣湯，內加人參錢半即安。倘有水喉斷者，並穿破者，不治。</p>
<p>五十，肚腹皮傷並腸出外者，此症固險，而實無害。醫者當去指甲，恐傷破其腸耳。倘內臟不傷，藥湯飲食可進，可保無恙。將溫湯揉上，用油綿線縫合，金槍藥封固，內服通腸活血湯五六劑，再服補中益氣湯而安。</p>
<p>五十一，骨碎如粉者，看其傷處必有碎骨，當取出外，將金槍藥封固，內服生血補髓湯，再服壯筋續骨丹。如碎而不破，只捏平復，外將損傷膏貼之，內服壯筋續骨丹，再將藥酒調理。如不碎不破，竟以損傷膏貼之，內用吉利散，以紅糖油調酒，服下即安。</p>
<p>五十二，有登高墜下者，兼跌撲損傷，不拘上下背脊骨者。若破，看其骱出否，如其骱又出又破，即將碎骨輕撳上平復，即將止血定痛散敷之，後將金槍藥封固。恐傷風，急投蘇風理氣湯。如不發寒熱，即以補中益氣湯服下，全愈。如不觸出並不破碎，皮肉不損，外貼接骨膏，內服吉利散，次服調理藥酒，再用和傷丸即安。</p>
<p>五十三，登高跌撲折左右肋者，此骨難於綁縛，只撳其平，外貼損傷膏，內用接骨散，久服可復。</p>
<p>五十四，捏碎陰囊者，並卵子拖出者，卵子碎者不治。惟拖出者，以指輕輕掀進，以油棉線縫合，外以金槍藥封固。如不發熱，竟投吉利散治之，次服托裡止痛散。如發熱急，以蘇風理氣湯治之。</p>
<p>五十五，有捏傷陽物者，看其小便，若不通投琥珀散行之，後以吉利散治之。若通，竟以吉利散，外敷金槍藥，如不破不用。</p>
<p>五十六，踢傷肛門穀道者，有肛門可腫或內脹，或大便不通，或有血無血。如腫脹投以通腸活血湯，大便不通竟以大黃湯行之，如有血來紫者，不妨有吉利散治之，若鮮者只傷於大腸，急投槐花散，如隻身熱再服除熱之藥，恐用藥矣。大便不通血已止，竟服通腸活血湯五六劑，治之即安，後有總論。</p>
<p>五十七，被火燒槍炮打傷者，此症論之最重。何為最重，恐火毒入於內臟，不能飲食，更畏熱物，不時思飲冷水，乃見火毒入內太重之故也。急投清心去毒散。何為最輕，火毒未入臟腑，飲食如常，知火毒之輕也。傷破皮肉亦將去毒散投下，此乃小心之法，外將琥珀膏敷之可安。</p>
<p>五十八，斬落手臂、指、腳、腿、膀者，此症乘其被此血熱湊上妙，或手或臂以通身，如血冷者骨不能相對，此大不便於醫治矣。人雖不死，然不能完體矣。若能湊上，立將止血散敷之，再以金槍藥封固，內服托裡止痛散，再服調理之劑，並藥酒可安。</p>
<p>五十九，或斷橋梁、牆壁城垣傾倒壓折骨節者，若傷頭顱，可有碎骨否?如有，將銅鉗鉗去碎骨，如不去碎骨，恐有後患，不能收口。第一畏染破傷風，須投護風理氣湯，次服接骨丹。如傷兩太陽暈迷不蘇，飲食不下，口不能言，湯水不下，竟不能醫治。腦髓出者，不治。傷斷天井骨者，不治。如傷胸背以致傷五臟者，必不言語，飲食不進，尚可救之，何也?氣悶在心，急以吉利散，用砂仁湯調服，若受此藥尚可救治。如發寒熱，急投護風理氣湯，倘不受，再看兩日，再投吉利散，如前探之。如再不受，不治。若傷兩軟肋，看其輕重，飲食如常，不發寒熱，以吉利散治之。若發寒熱，投蘇風理氣湯。如傷腰子者，重竟不治，輕者如皮肉不破，外貼損傷膏，內服補腎和血湯，並藥酒調理而安。</p>
<p>六十，凡打傷倒插或紫，致命部穴受害，牙關緊閉，口眼不開者，先以砂仁炒研細末泡湯，令受傷人飲之順氣，次以吉利散淡薑湯調服。</p>
<p>六十一，傷頭顱，額角破損，昏迷不蘇，須用紅蘿蔔子炒研為末，泡湯飲之，次將淡薑湯調吉利散服下。如服傷最重者，用前散二錢，輕者一錢最宜。避風為上，此症恐染破傷風。服過砂仁湯，即以蘇風理氣湯投下一劑，護風為要。</p>
<p>六十二，小腸受踢，打撲跌傷痛者，傷處痛澀滯，小便閉塞，一步不能行走，其內必定有瘀血。急投歸通破血湯而安。如小便二三，尚可救治，否此大便可遲，遲久實難治矣，不久可治也。凡肛門穀道之中，陰囊之後，名曰海底穴，或被踢傷，或觸重傷，看其傷之輕重，或腫或青，或黑或紫，或紅或腫，而兼紅紫，痛及不忍者，內服行氣活血止痛湯一劑，外貼損傷藥，次服吉利散。如腫青黑，身發寒熱，小便不通，兩卵子不時升上升下，氣色迷悶，小腹疼痛，內必有瘀血。須服蘇風行氣活血湯，次服琥珀散，外貼損傷膏，亦服吉利散。穀道脹腫，大小便不通，日夜發熱，不思飲食，坐臥不寧，先服蘇風順氣湯，次服琥珀丸。氣喘發嗽，欲笑欲哭，小便滯澀，紅腫不消，作陣而痛，先服補腎活血止痛湯，次服吉利散，再以補腎調理藥酒。更有一經受傷即不能言語，人事不省，口出唾涎，喉鼻喘息，俱無六脈沉細，面白無光，此為凶症。胸腋有動，或可醫治，以豬牙皂末少許入鼻，否只以燈心蘸末吹入得涕，竟以砂仁湯送下，後仍用砂仁湯調吉利散服，再將蘇風理氣活血止痛湯服之。若身不發熱，不犯前症，但以補腎理氣順氣藥酒，久服可安。如犯，即照前度調治。傷處貼損傷膏，倘略疼微痛，只用吉利散砂仁湯調服，貼膏而愈。不必用他藥也。</p>

<h2>接骨膏</h2>
<p>（又名損傷膏）</p>
<p>當歸　川芎　赤芍　杜仲　白芷　殭蠶　銀花　川烏　草烏　羌活　獨活　防風　荊芥　山甲　大黃　黃芩　黃柏　蟬蛻　管仲　龜板　皂角　連翹（各一兩）　五倍子（五錢）　蜈蚣（五條）　松節（五錢）　薺泥（五錢，此一味可有可無）　加三七（三兩）　上用真豆油五斤，漸下諸藥，煎至滴油不散，候藥枯，濾淨去渣。將東丹兩包炒至紫色，以篩漸入調勻，滴入水內看老嫩，再加下乳香五錢、沒藥五錢、樟冰五錢、蟾酥末三錢，略蒸調勻，至半個時辰傾水中，逐隨水去火氣，聽候攤用。每膏重四錢，每張麝香二三分、桂心二分。</p>
<p><u>吉利散　</u></p>
<p>（治新舊一切損傷，又名七釐散，即黃末藥。）當歸（一兩）　川芎（四錢）　赤芍（一兩）　烏藥（八錢）　枳殼（六錢）　防風（八錢）　甘草（一錢）　陳皮（四錢）　香附（一兩）　紫蘇（一兩）　羌活（四錢）　獨活（四錢）　薄荷（一兩）　芨薰　藛陶（各三錢）　根廣（五錢）　上為細末，以紅糖、油、陳酒調，空心服。</p>
<p><u>封口金瘡藥　</u></p>
<p>（專治一切破損及刀斧砍傷，腐爛血流不止，久不封口。封之能生肌長肉，第一種藥也不可忽之。）</p>
<p>乳香（去油）　沒藥（去油，各五錢）　芸香（一錢）　瓜堨（錢半）　白芨（四錢）　白蠟（看老嫩隨量酌用，水銀五分）　地鱉蟲（五分）　艾（七分）　樟冰（一錢）　用豬油半斤熬淨去筋，另用菜油半斤炭火熬，先下白芨煎至枯，濾去渣，然後入豬油與菜油調勻，後下細藥，再以夏布濾淨，再下白蠟，調至極勻，候生油熱透，收貯瓷器內，五六日去火氣聽用。每用要油紙覆上，仍用青布或軟青絹扎縛。</p>
<p><u>琥珀丸　</u></p>
<p>歸身　蘇木　生地　熟地　羌活　丹皮　杜仲（鹽水炒）　以上各一兩　白朮（二兩，土炒）　赤芍　南星　陳皮　獨活　續斷（各一兩）　乳香（去油）　沒藥（去油，各一兩）　川芎　黃芩　桂枝青皮　白芍（各一兩）　牛膝　苡仁（各六兩）　琥珀（二錢）　桑枝（二錢）　加皮（四兩）　甘草（五錢）　柏木（三錢）　黑豆（二合）　桂肉（二錢）　上共研極細末，用紅糖為丸，重三錢，分兩次空心服，陳酒送下。</p>
<p><u>止血定痛散　</u></p>
<p>降香（一錢）　五倍（五分）　大色石（三分）　巾灰（五分）</p>
<p><u>琥珀膏　</u></p>
<p>（專能生肌長肉之良藥也）</p>
<p>歸身　生地（各一兩）　尖圓（五錢）　郭用（三錢）</p>
<p>上用真菜油四兩、板豬油二兩，將當歸、生地諸藥與菜油熬枯，濾去渣，將豬油熬烊調和，將黃占收。老嫩不拘多少，貯磁器內聽用。</p>
<p><u>代痛散　</u></p>
<p>（即麻藥）</p>
<p>蟾酥（三分）　麝香（二分）　乳香（六分，去油）　沒藥（六分，去油）　上研細末　乾摻二三釐，不可多用。</p>
<p><u>順氣活血湯　</u></p>
<p>歸身（一錢五分）　羌活　生地　紅花　丹皮　牛膝（各一錢）　桔梗　厚朴　木通（各八分）　陳皮（五分）　枳殼（五分）　甘草（三分）　上酒水各一鍾，煎八分，加砂仁末一錢，空心服。</p>
<p><u>調理藥酒方　</u></p>
<p>歸身　羌活　紅花　杜仲　牛膝　木瓜　續斷　骨碎補（各一兩）　陳皮　青皮　丹皮　乳香（去油）　沒藥（去油，各一兩）　虎骨　甘草（各五錢）　生地　熟地　山楂（各三兩）　加皮（四兩）　淫羊藿（二兩）　上以陳酒三十斤，加砂仁末一兩、胡桃肉四兩、大黑棗二十個，夏布包，入酒內煮三枝香，燒完為度。</p>
<p><u>行氣活血湯　</u></p>
<p>青皮　羌活　歸身　紅花　蘇木　生地　杜仲（各一錢）　木香　陳皮（各五分）　丹皮　木通川芎（各八分）　甘草（三分）　上水、酒各一鍾，加砂仁末一錢煎八分，空心服。如身發熱，加柴胡一錢。</p>
<p><u>蘇風理氣湯　</u></p>
<p>防風　羌活　陳皮　當歸　青皮（各一錢）　獨活　紫蘇　枳殼　細辛（各七分）　加皮（三錢）　蘇木（二錢）　甘草（三分）　川芎（六分）　紅花　黃芩（各五分）　威靈仙（一錢）　上火酒一鍾，煎八分，加砂仁末一錢，沖服，不拘時，渣再煎如前。</p>
<p><u>琥珀散　</u></p>
<p>赤芍　杜仲　荊芥　柴胡　陳皮　紫蘇　防風　木通　琥珀　桃仁（各一錢）　甘草（三分）　生大黃（一錢五分）　芒硝　羌活（各八分）　水、酒各一鍾煎，空心服。</p>
<p><u>補腎活血湯　</u></p>
<p>歸身（一錢五分）　川芎（一錢）　紅花（一錢五分）　熟地（二錢）　杜仲（二錢，炒）　加皮　白芍（各一錢）　陳皮（五分）　肉桂（六分）　甘草（三分）　靈仙（八分）　上水酒各一碗，煎八分，空心服，渣再煎。</p>
<p><u>槐花散　</u></p>
<p>槐花（八兩）　黃芩（四兩）　共研為末，每服三錢，空心燈心湯調下。</p>
<p><u>蘇風順氣補血湯　</u></p>
<p>當歸　赤芍　防風　白芷　苓鮮　熟地（各一錢）　陳皮（五分）　青皮（一錢）　牛膝（五分）　甘草（三分）　肉桂（六分）　川芎（八分）　杜仲（一錢五分，鹽水炒）　水兩碗，煎八分，空心服。</p>
<p><u>清肝止血湯　</u></p>
<p>當歸　羌活　柴胡（各一錢五分）　黃柏　丹皮　防風　紅花（各一錢）　乳香（六分，去油）　沒藥（六分，去油）　赤芍　桔梗（各八分）　陳皮（五分）　甘草（三分）　黃芩（八分）　水兩碗加姜三片，煎八分，空心服，渣再煎。</p>
<p><u>蘇風順氣湯　</u></p>
<p>青皮　木通　厚朴　澤瀉　枳殼　黃芩　防風　砂仁（各一錢）　陳皮　沒藥（各五分）　乳香（六分，去油）　甘草（三分）　水兩碗，煎八分，空心服。</p>
<p><u>活血湯　</u></p>
<p>歸身　紅花　生地　木通　丹皮　陳皮　青皮　香附　白芍（各一錢）　槐花（一錢五分）　烏藥（八分）　甘草（三分）　水兩碗，加砂仁末一錢，煎八分，空心服。</p>
<p><u>清肺止痛飲　</u></p>
<p>貝母　枳實　沙參　桔梗　靈仙　青皮　香附（各一錢）　陳皮　丹皮（各八分）　末冬（原文如此，一錢五分）　甘草（三分）　水兩碗，加燈心二十寸，煎八分，空心服。</p>
<p><u>大黃湯　</u></p>
<p>木通　桃仁　蘇木　羌活（各一錢）　陳皮（六分）　歸尾（一錢五分）　朴硝（一錢）　甘草（三分）　陰陽水各一碗，煎八分，空心服。</p>
<p><u>歸原養血和傷湯　</u></p>
<p>歸身　生地　羌活　紅花　加皮　木瓜　熟地　續斷　牛膝（各一錢）　陳皮　肉桂（各五分）川芎　黃芩（各八分）　青皮（六分）　杜仲（一錢五分）　甘草（三分）　水、酒各一碗，煎八分　空心服，渣再煎。</p>
<p><u>小柴胡湯　</u></p>
<p>柴胡　黃芩　半夏　人參　丹皮　甘草（各七分）　如心胸飽悶，加枳殼、黃連七分，水兩碗煎八分，空心服。</p>
<p><u>活血止痛飲　</u></p>
<p>當歸　青皮　羌活　末冬　生地　續斷　紅花　蘇木（各一錢）　川芎　白芷（各八分）　加皮乳香（去油）　沒藥（去油，各一錢）　陳皮　枳實　防風（各六分）　甘草（三分）　水酒各一碗，加燈心二十寸，煎八分，空心服。</p>
<p><u>清心和氣湯　</u></p>
<p>（打內傷者，吐血後用。）</p>
<p>麥冬　百合（一錢五分）　橘紅　紫菀　丹皮　蘇木（各一錢）　槐花（二錢）　山藥　厚朴　香附（各八分）　青皮（一錢）　甘草（三分）　水兩碗，加燈心二十寸，煎八分，空心服。</p>
<p><u>補中益氣湯　</u></p>
<p>人參　升麻　柴胡　橘紅　當歸　白朮　甘草（各五分）　黃耆（一錢）　水兩碗，煎八分，空心服，渣再煎。</p>
<p><u>明目生血飲　</u></p>
<p>生地　當歸　白芍　蒺藜（各一錢）　甘菊　川芎　羌活　茯苓　穀精　荊芥（各八分）　防風薄荷　連翹　細辛　山梔（各五分）　枳殼（六分）　甘草（三分）　水兩碗，燈心二十寸煎，久服。</p>
<p><u>壯筋續骨丹　</u></p>
<p>（癆症加黑棗、核桃浸酒。）</p>
<p>甘草　川芎　羌活　獨活　防風　當歸　紅花　香附　木通　陳皮　丹皮　生地　牛膝烏藥　青皮　枳殼　麥芽　白朮　桂枝　桃仁　木瓜　神麯　杜仲　元胡索（各五錢）　柴胡（三錢）黃芩（二錢）　荊芥（四兩）　加皮　續斷（二兩）　蘇木（一兩）　共研極細末，以紅糖油調熱酒過口服，大人每服五錢，小兒三錢，酌量加減。用此方亦可浸酒，更妙。不必研細。</p>
<p><u>活血止痛方　</u></p>
<p>當歸　羌活　獨活　荊芥　川芎　桃仁（各八分）　木通　烏藥　續斷　陳皮（各七分）　乳香（去油）　沒藥（去油）　加皮（各一錢）　紅花（五分）　防風（六分）　蘇木（一兩）　甘草（三分）　水酒各一碗，加燈心二十寸，煎一半，食遠服。</p>
<p><u>補腎養血湯　</u></p>
<p>生地　熟地　歸身　杜仲（各一錢五分）　白芍　紅花　川芎　白朮（土炒，各一錢）　陳皮（六分）　青皮（五分）　水、酒各一碗，加黑棗煎，空心服。</p>
<p><u>提氣活血湯　</u></p>
<p>川芎　桔梗　當歸　陳皮　蘇木　續斷　黃耆　加皮（各一錢）　紅花　桂枝（各五分）　羌活白芍（八分）　甘草（三分）　水兩碗，加元棗二枚煎，遠服。</p>
<p><u>退毒定痛散　</u></p>
<p>連翹　羌活　荊芥　花粉（各七分）　獨活　防風　川芎　銀花　續斷（各八分）　當歸　乳香（去油）　沒藥（去油，各一錢）　甘草（三分）　水、酒各兩碗煎，遠服。</p>
<p><u>生血補髓湯　</u></p>
<p>當歸　生地　熟地　白朮　枳殼　荊芥　白芍（各一錢）　續斷　蘄艾　香附　羌活　防風杜仲　陳皮　丹皮（各八分）　川芎　乾薑　牛膝　加皮　獨活（各七分）　紅花（五分）　甘草（三分）　茯苓（八分）　水兩碗，加黑棗二枚煎，遠服。</p>
<p><u>止痛接骨丹　</u></p>
<p>乳香（去油）　沒藥（去油）　當歸　續斷　紅花　羌活　加皮　蘇木（各一錢）　青皮　白芷丹皮（各八分）　甘草（三分）　酒、水各一碗，煎服。</p>
<p><u>寬筋活血散　</u></p>
<p>防風　羌活　獨活　香附　桃仁　加皮　蘇木　木瓜　當歸　木通　續斷（各一錢）　荊芥烏藥（各八分）　紅花（七分）　杜仲（一錢五分）　枳殼（六分）　甘草（三分）　酒水各一碗，燈心草二十寸，遠服。</p>
<p><u>護風托裡散　</u></p>
<p>羌活　生地　靈仙　黃芩　茯苓（各八分）　獨活　薄荷　花粉　細辛（各七分）　白芍　防風　川芎　荊芥　黃耆　當歸（各一錢）　殭蠶（五分）　甘草（三分）　水兩碗加姜一片，黑棗兩枚煎服。</p>
<p><u>補中和氣湯　</u></p>
<p>人參　柴胡　白朮　當歸　防風（各一錢）　升麻　陳皮　枳殼（各五分）　橘紅（八分）　甘草（三分）　水兩碗煎八分服。</p>
<p><u>通腸活血湯　</u></p>
<p>枳殼　陳皮　青皮　蘇木　烏藥　續斷　羌活　獨活　木通（各七分）　桃仁　紅花（各五分）當歸　大黃　元胡索　大腹皮（各一錢）　加皮（七分）　熟地（一錢）　甘草（三分）　酒、水各一碗煎服。</p>
<p><u>接骨丹　</u></p>
<p>續斷　羌活　木通　生地　香附　紅花　丹皮　加皮　乳香（去油）　沒藥（去油）　木瓜（八分）　肉桂（六分）　當歸（一錢五分）　甘草（三分）　酒、水各一碗煎，加砂仁末八分沖，空心服。</p>
<p><u>托裡止痛散　</u></p>
<p>生地　黃耆　歸身　羌活　續斷　紅花　乳香（去油）　沒藥（去油，各一錢）　陳皮　白朮（各八分）　桂枝（一錢五分）　肉桂（五分）　水兩碗，加砂仁末一錢，煎服。</p>
<p><u>清心去毒散　</u></p>
<p>防己　澤瀉　柴胡　元參　升麻　青皮　甘草（各一錢）　木通（二錢）　知母　桔梗　枳殼（各八分）　葛根　黃芩（一錢五分）　水兩碗，加淡竹葉五錢煎，空心服。</p>
<p><u>補腎和血湯　</u></p>
<p>熟地　杜仲（一錢五分）　黃耆　青皮　紅花　陳皮　丹皮　炙甘草　川芎（八分）　黃芩（七分）　當歸（一錢五分）　水兩碗，加黑棗數枚煎，空心服。</p>
<p><u>歸通破血湯　</u></p>
<p>歸尾（一錢二分）　木通　生地（一錢五分）　赤芍　澤瀉（各一錢）　木瓜　蘇木　桃仁（一錢）　陳皮　丹皮（各八分）　甘草（三分）　酒、水各一碗煎，空心服，渣再煎。</p>
<p><u>金槍乳香方　</u></p>
<p>乳香（一兩，去油）　沒藥（一兩三錢，去油）　血竭（一錢）　黃連（一錢，為末）　花蕊石（二錢）　珠末（二兩）　金箔（五片）　黃丹（一錢）　此方用好降香、節松脂加氈帽簷燒灰存性，加五倍子末用之。</p>
<p><u>治金瘡至重者　</u></p>
<p>天花粉（三兩）　薑黃（一兩）　赤石脂（二兩）　白芷（一兩）　上為末。凡筋斷脈絕血盡人危，須用繩索及絹帶扎住血路，然後用此藥以清茶調敷，以軟絹縛之，其血立止，其腫頓消。如金瘡著水番花者，可用韭菜汁調敷瘡兩旁，當以火微炙之，或用稻杆煙燻之，瘡口水出即愈。</p>
<p><u>治金瘡初傷者用避風止痛方　</u></p>
<p>當歸（五分，炒）　川椒（五分，炒）　澤瀉（五錢）　芎藭（一兩）　附子（一兩）　上搗為末，溫酒調一錢服，每一日三服。</p>
<p><u>治金瘡不可忍者　</u></p>
<p>防風　南星（湯泡）　二味切片，每服五錢，水、酒各一盞，生薑一片，煎八分，食遠服。</p>
<p><u>治金瘡血流不止者　</u></p>
<p>龍骨（銼微炒，一兩）　芎藭（一兩）　熟地（一兩）　烏樟根（三兩）　突厥白（一兩）　鹿茸（一兩，酥炙）上為末，敷瘡口上血即止。如服，以溫酒調下二錢，每日三服。</p>

<h2>附錄損傷方</h2>
<p><u>跌打損傷敷藥方　</u></p>
<p>乳香（去油）　沒藥（去油）　石脂（各二錢）　麒蠍　兒茶（各三錢）　後加龍骨一味，和前藥收口。</p>
<p><u>跌打損傷煎方　</u></p>
<p>乳香（去油）　沒藥（去油，各八分）　桂枝（四分）　川芎（七分）　當歸（一錢）　丹皮　續斷　獨活（各八分）　陳皮（一錢）　甘草（四分）　引陳酒。如登高跌下，形如死人，通身盡軟，心口猶動，此皆氣屏於胸。用蘄艾、野菊花二味，以滾水泡之灌下，片時以手朝上超其心胸，其氣即出，其人即蘇。若登高倒墜者，身有傷，如傷上身，握其手從大指拔到中指。若傷下身，從小指拔到中指。男左女右。再以蘄艾置於脈上，以火救之，其筋可舒。若身有痛處，以麥麩鍋炒，用醋烹剷起，即以希布裹之，運其痛處，其傷即出。</p>
<p><u>跌打損傷洗藥方　</u></p>
<p>巴山虎（四兩）　沉香（一兩）　木香（一兩）　臭花娘草梗（半斤）　秦國風（三兩）　腦骨草三兩，再加火酒三兩，滴醋三兩同煎。</p>
<p><u>治閃氣方　</u></p>
<p>火硝（二釐）　麝香（七釐）　共研細末，點眼大頭內即愈。</p>
<p><u>白濁方　</u></p>
<p>龍骨（五分）　牡蠣（三分）　硃砂（三分）　五倍子（二分）　吐涎為丸如桂圓大，按肚臍內，膏藥掩之。</p>
<p><u>治惡蛇咬方　</u></p>
<p>用新鮮仙鶴草搗汁，好陳酒沖服，渣敷立時效。</p>
<p><u>白升藥方　</u></p>
<p>水銀（一兩八錢）　明礬（一兩八錢）　皂礬（一兩八錢）　槍硝（一兩八錢）　食鹽（一兩）　文武火三柱香，香盡為度。</p>
<p><u>紅升藥黃升藥方　</u></p>
<p>水銀　明礬　槍硝（各一兩八錢）　文武火三柱香，香盡為度。</p>
<p><u>升砒方　</u></p>
<p>金頂砒　明礬（各一兩）　文武火同前。</p>
<p><u>降藥方　</u></p>
<p>水銀　明礬　綠礬　槍硝　食鹽　白砒（各一兩）　上藥研細，用羊城罐內，坐定紅炭火爐上，將藥慢慢投入罐內，用鐵鉗背背住罐口，先用不拘竹木棒調和，再用研墜和，至結成胎堅固，離火冷透。用水盆盛水少許，盆坐擂盆一個，罐既冷透，將罐合於擂盆之內，水盆外面架磚，磚上將碎瓦片砌百眼爐，砌至離罐高寸許，先用少許炭火放於罐底上，一炷五分香為文火。後用紅炭火放於百眼爐頂周圍，武火一炷五分香，香盡為度。</p>
<p><u>又白升藥方　</u></p>
<p>明礬　綠礬　食鹽（各一兩六錢）　水銀（六錢）　槍硝（二兩四錢）　文武火三炷香，香盡為度。</p>
