<header data-type="book">
<h1>楊敬齋針灸全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳言</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1591">公元1591年（明·萬曆十九年）</data></dd></div>
</dl>
</header>

<h1>卷之上</h1>

<h2>周身經穴賦</h2>
<p>手太陰肺大指側（少商、魚際）　兮（太淵）　穴（經渠）　兮（列缺、孔最）　兮（盡澤、俠白）　共（天府）　為僯（雲門）　與（中府）　相接</p>
<p>手陽明兮大腸之經循（商陽二間三間）　而行、歷（合谷陽谿）　之腧　過（偏歷溫溜）　之臏、（下廉上廉三里）而近、（曲池肘髎五里）之程（臑腢）　上於（巨骨天鼎）　紆乎（扶突禾窌）　唇連（迎香）　鼻迫、（胃）　乃足之陽明、（厲兌）　趨乎（內庭）　過（陷谷衝陽）之分　見（解谿豐隆）　之神　（下巨虛）　兮（條口）　陳（上巨虛）　兮（三里）　仍（犢鼻）　引入（梁丘陰市）　之下（伏兔）　上貫（脾關氣衝）　之經（歸來）　兮（水道、大巨）　兮（外陵）　運（天樞）　兮（滑肉）　禮　（太乙）　兮（關門梁門）　兮（承滿不容）　兮（乳根乳中）　之（膺、窗、屋翳庫房）　之（氣戶缺盆氣舍水突人迎、大迎地倉）　兮（巨髎）　績（四白）　兮（承泣）　分御、（頰車）　於（下關）　張（頭維）　於額垠</p>
<p>足太陰兮脾（中州、隱白）　出兮大指頭赴（大都）　兮瞻（太白）　訪（公孫）　兮至（商丘）　越（三陰）　之交、而（漏谷地機）　可即步（陰陵）　之泉、而（血海箕門）　是求入、（衝門）　兮（府舍）　軒豁解（腹結）　兮（大橫）　優遊　（腹哀食竇）　兮援（天溪）　而同派　（胸鄉周榮）兮綴（大包）　而如鉤、迨夫真心為手少陰、（少衝）　出乎小指（少府）　直乎（神門、陰郄過）　兮（靈道）　非遠（少海、青靈）　兮（極泉）何深</p>
<p>手太陽小腸之榮路（少澤）　步（前谷後谿）之隆道、遵（腕骨）　觀（陽谷養老）　之崇得（支正）於（小海）　逐（肩貞）　以相從、值（臑腧）　兮遇（天宗）　乘（秉風）　兮（曲垣）　中（肩外俞）　兮（肩中俞）　啟（天窗）　兮見（天容）、匪由（顴膠）　曷造（聽宮）</p>
<p>足膀胱兮太陽交、背部之二行窮　（至陰）　於（通谷）　之口尋、（束骨）　於（京骨）　之鄉、（中脈）　命（僕參）　以前導（崑崙）　闢（金門）　於踝傍、奮（附陽兌端）　之志轉、（承山承筋）　之行、至於（合陽委中委陽淨郄殷門）　以相從（扶承秩邊）　而（胞肓）　入（志室）　兮（肓門胃倉）　開（意舍）　兮振彼（陽綱）　出（魂門）　兮（膈關）　乃（譩譆）　乎（神堂膏肓）　兮在四椎之左右（魄戶）　兮隨（附分）　而（會陽下中次上）　之（窌、白環中旅）　之房（膀胱俞）　兮（小腸大腸俞）　兮在傍（三焦腎俞）　兮（胃俞）　接（脾膽、肝膈）　兮（心俞）當（厥陰肺俞）　之募（風門大杼）　之方（天柱）　豎兮（玉枕絡卻、通天）　豁兮見被（承光）自（五處曲差）　而下造（攢竹𭾲睛）　之場</p>
<p>足少陰兮腎屬（湧泉）　流於（然谷、大溪大鐘）　兮（水泉）　綠（照海復溜）　兮（交信）　續從（築賓）　兮上（陰谷）　掩（橫谷）　兮（大赫）　麓（氣穴四滿）　兮（中注、肓俞）　上通兮（商曲）　守（石關）　兮（陰都）　寧閉（通谷）　兮（幽門）　肅（步廊神封）　而（靈墟）　存（神藏、彧中）　而（俞府）　足</p>
<p>手厥陰心包之絡（中衝）　發中指之奇、自（勞宮大陵）　而往逐（內關、間使）　而馳叩（郗門）於曲澤、酌（天泉）　於天池</p>
<p>手少陽三焦之脈、在小指次指之端（關衝）　開乎（液門中渚陽池外關支溝會宗三陽絡、四瀆天井清冷淵、消濼臑會肩膠）　而相連（天髎）　處（天牖）　之下（眵風）　讓（瘈脈）　居先（顱額）定、而角孫近耳（絲竹空）　而禾酥倒懸（耳門）、既闢夏蚋聞焉</p>
<p>足少陽兮膽經穴、乃出乎（竅陰）　溯（俠谿）　兮（地五會）　過（臨泣）　兮（丘墟）　平（懸鐘）兮（陽輔、光乎明外丘）　兮（陽交、陰陵）　西出（陽關）　兮抵（中潰、風市）　之境（環跳）居（窌）　兮循（維道五樞）　之名、考夫帶脈詢至（京門、日月）　灑兮（輒筋）　榮（淵腋）　泄兮（肩井）　盈臨、風池兮（腦空）　鳴穹（竅陰）　兮（完骨）　明舉（浮白）　於（天衝）　接（承靈）　於（正宮、目窗）　兮（臨泣、陽白）　兮（本神率谷）　回兮（曲鬢）　出（懸釐）　降兮（懸顱）　承（頷厭）　兮佳（客主人、聽會）　兮（童子窌）迎</p>
<p>厥陰在足肝經所終起（大敦）　於（行間）　循（太衝）　於（中封蠡溝中節）　之會（滕關曲泉）之宮、襲（陰包）　於（五里）　兮（陰廉）　乃發尋（羊矢）　於（章門）　兮（期門）可攻</p>
<p>至若任脈行乎腹與胸（承漿）　泄兮（廉泉）　通窺（天突）　於（璇璣）　檮（華蓋）　於（紫宮）　登（玉堂）　兮（膻中）　逢集　（中庭）　兮（鳩尾）　沖瞻（巨闕）　兮（上脘中脘）　過（建里）　兮（下脘）　攸同（水分）　兮（神闕）　縹緲（陰交）　兮（氣海）　鴻濛（石門）　直兮（關元中極、曲骨）　橫兮（會陰）　乃終</p>
<p>督脈行乎背部中（兌臨）　接兮（齦交）　從（素膠）　在鼻兮（水溝）　疏通（神庭）　入發兮（上星）　膧朦（囟會）　現兮（前頂百會）　儼兮尊崇（後項）　轉兮（強間）　逢（腦空）　閉兮（風府）　空（啞門）　通於（大杼）　兮（陶道）　坦夷（身柱）　縹於（神道）　兮（靈臺）　穹窿（至陽）　立下（筋縮脊中、接脊懸、樞命門）　重、歌（陽關）　兮舞（腰俞）　願（長強）　兮壽無窮</p>

<h2>論一穴有二名</h2>
<p>後頂（一名交沖）　強間（一名大羽）　腦戶（一名合囟）　風府（一名舌本）　腦空（一名顒顬）　顱囟（一名顱息）　瘈脈（一名資脈）　素膠（一名面士）　水溝（一名人中）　承漿（一名懸漿）　廉泉（一名吉本）　睛明（一名淚孔）　巨髎（一名巨窌）　絲箜（一名目髎）　頰車（一名機關）　肩井（一名膊井）　臑會（一名臑髎）　大杼（一名百旁）　命門（一名屬累）　風門（一名熱府）　督俞（一名高蓋）　中膂內俞（一名脊內俞）　會陽（一名利機）　天窗（一名窗籠）　天鼎（一名天項）　扶突（一名水穴）　缺盆（一名天蓋）　人迎（一名五會）　天突（一名天衢）　玉堂（一名玉英）　腧府（一名輸府）　中府（一名府中俞）　天池（一名天會）　中脘（一名太倉）　水分（一名分水）　神闕（一名氣合）　會陰（一名屏翳）　四滿（一名髓府）　橫骨（一名屈骨端）　氣衝（一名氣街）　腹結（一名腸窟）　衝門（一名慈宮）　太淵（一名太泉）　商陽（一名絕陽）　二間（一名間谷）　三間（一名少谷）　合谷（一名虎口）　陽谿（一名中魁）　三里（一名於三里）　少衝（一名經始）　神門（一名兌沖）　少海（一名曲前）　少澤（一名小吉）　天泉（一名天溫）　陽池（一名別陽）　支溝（一名飛虎）　中封（一名懸泉）　蠡溝（一名交儀）　中都（一名中郄）　陰包（一名陰胞）　懸鐘（一名絕骨）　漏谷（一名太陰絡）　地機（一名牌舍）　血海（一名百蟲窠）下廉（一名下巨虛）　上廉（一名上巨虛）　陰市（一名陰鼎）　伏兔（一名外勾）　湧泉（一名地衝）　太谿（一名呂細）　然谷（一名龍淵）　照海（一名陰蹺）　申脈（一名陽蹺）　金闕（一名）　僕參（一名安耶）　崑崙（一名下崑崙）　付陽（一名附陽）　飛陽（一名厥陽）　環跳（一名臗骨）　然谷（一名然骨）</p>

<h2>論一穴有三名</h2>
<p>絡卻（一名強陽一名腦蓋）　禾髎（一名長類一名禾窌）　童子（一名太陽一名前關）　上關（一名客主人一名客主）　前關（一名太陽一名童子窌）　聽會（一名聽河一名後關）　肩髃（一名中肩井一名扁骨）　脊中（一名神宗一名脊俞）　膻中（一名亶中一名元見）　鳩尾（一名尾眵一名骭鶻）　上脘（一名上管一名胃脘）　關元（一名丹田一名太中桓）　氣海（一名脖胦一名下肓）　中極（一名玉泉一名氣原）　氣穴（一名胞門一名子戶）　太赫（一名陰維一名陰關）　天樞（一名長溪一名谷門）　日月（一名神光一名昭募）　京門（一名氣俞一名氣府）　溫溜（一名地頭一名逆注）　勞宮（一名五里一名掌中）　陽交（一名別陽一名足窌）　陽關（一名關陽一名關陵）　承筋（一名腨腸一名直腸）　復溜（一名昌陽一名伏白）</p>

<h2>論一穴有四名</h2>
<p>百會（一名三陽　一名天滿　一名五會）　啞門（一名喑門一名舌厭一名舌橫）　攢竹（一名矢光一名員柱一名光明）　章門（一名長平　一名脅髎一名季脅）　承山（一名魚腹一名傷山一名肉柱）　扶承（一名肉郄一名皮部一名陰開）</p>

<h2>論一穴有五名</h2>
<p>石門（一名利機一名精露一名丹田一名𠇮門）</p>

<h2>論一穴有六名</h2>
<p>腰俞（一名背解一名腰柱一名髓俞一名髓孔一名腰戶）</p>

<h2>論一名有二穴</h2>
<p>頭臨泣足臨泣　腰通谷足通谷　手三里足三里　頭竅陰足竅陰　背陽關足陽關</p>

<h2>金針賦·序</h2>
<p>大明洪武唐辰仲春（予）學針法初學於洞玄先生、孟仲傀公明年父沒過維陽、又學於東隱先生九思彭公深得二先生髮明竇太師針道之書、梓岐風谷飛經走氣補瀉之法遊江湖間以之參問他師皆不過能談其概及求精微之妙、百不一二、問有知者亦莫盡知其奧、予於是甚悅於心、則知世所得者鮮矣、固深胸臆寶而重之、數年間用而百發百中、無不臻效、永樂巳醜惜予遭誣、徙屬於民樂耕鋤之內、故退寓西河立其堂曰、資深其號曰泉石、心以遁守自娛過者皆曰、此讀書耕者之所也、凡有疾者求治不用於針、多用於灸、自是梓岐風谷之法荒廢、而名不聞非不以濟人之心為心、蓋不欲取譽於時矣令也、予年向暮、髭鬢皆霜、恐久失傳、拳拳在唸、正統巳未春末養疾之暇、閱其所傳針法之書、繁而無統於是、撮其簡要、不愧疏庸、編集成文、名曰金針賦、金乃世之寶也、非富貴不能得之豈貧賤所能有也名其金稱其貴也、貴能劫疾於頃刻之間、故以觀夫發端、而嗟夫結之則深嘆美其法、而有收效之捷異耳、篇中首論頭病取足、右病取右、男女早晚之氣、手足經絡順逆之理、次論補瀉下針調氣出針、之法、末論治病驅運氣血通接至微之妙、而又叮嚀勉其學者、務必以盡精誠、則可以起沉疴之疾、言雖直、其義詳明、尤且貫穿、次第有序、使後之學者易為記誦其傳不泯、俟他日有竇漢卿復出而攻之熟造之、深得於心、而目顯用光大必念乎今之刪繁撮簡、成文者、誰歟是亦遺言於後也、必學者敬之哉</p>
<p><u>時正統四年巳未歲八月既望</u>　謹識</p>
<p>此金針賦乃先師秘傳之要法得之者每每私藏而人必符價之金乃可得也予今以活人為心更不珍藏載於卷中與同智之士共知學者慎勿輕視若能熟讀詳味久當見之則用針之法盡於此矣</p>

<h3>梓岐風谷飛經走氣撮要金針賦</h3>
<p>觀夫針道捷法最奇須要明於補瀉方可起於傾危先分病之上下次定穴之高低頭有病而足取之左有病而右取之男子之氣早在上而晚在下取之必明其理女子之氣早在下而晚在上用之必識其時午前為早屬陽午後為晚屬陰男女上下憑腰分之手足三陽手走頭而頭走足手足三陰足走腹而胸走手陰升陽降出入之機逆之者為泄瀉為逆順之者為補為隨春夏刺淺者以瘦秋冬刺深以肥更觀原氣厚薄淺深之刺尤宜</p>
<p>原夫補瀉之法妙在呼吸手指男子者大指進前左轉呼之為補退後右轉吸之為瀉提針為熱插針為寒女子者大指退後右轉吸之為補進前左轉呼之為瀉插針為熱提針為寒左與右有異胸與背不同午前者如此午後者反之是故爪而切之下針之法搖而退之出針之法動而進之催針之法循而攝之行氣之法搓則去病彈則補虛肚腹盤旋捫為穴閉沉重豆許曰按輕浮豆許曰提一十四法針要所備補者一退三飛真氣自歸瀉者一飛三退邪氣自避補則補其不足瀉則瀉其有餘余者為腫為痛曰實不足者為癢為麻曰虛氣速效速氣遲效遲死生富貴針下皆知賤者硬而貴者脆生者澀而死者虛為之不至必死無疑</p>
<p>且夫下針之法先須爪按重而切之次令咳嗽一聲隨咳下之妙</p>
<p>凡補者呼氣初至針刺皮肉乃曰天才少停進之針刺至肉內是曰人才又停進針刺至筋骨之間名曰地才此為極處就當補之再停良久卻須退之針至人之分待氣沉緊倒針朝病進退往來飛經走氣盡在其中矣凡瀉者吸氣初針至天少停進針直至於地得氣之瀉丹停良久卻須退針復至於人待氣沉緊倒針朝病法同前矣其或暈針者神氣虛也以針補之以袖搗之口鼻而氣回熱湯與之略停少刻依前再施之</p>
<p>及夫調氣之法下針至地之後復人之分欲氣上行將針右捻欲氣下行將針左捻欲補先呼後吸欲瀉先吸後呼氣不至者以手循挕以爪切掏以針搖動進捻搓彈直待氣至以龍虎升騰之法按之在前使氣在後按之在後使氣在前運氣走至疼痛之所以納氣之法扶針直插復向下納使氣不回若關節阻澀氣不過者以龍虎龜鳳通經接氣大假之法驅而運之仍以循攝爪切無不應矣此通仙之妙況夫出針之法病勢既退針氣微松病未退者針氣如根推之不動轉之不移此為邪氣吸拔其針乃真氣未至不可出之出之者其病即復再須補瀉停以符之直候微松方可出針豆許搖而停之補者吸之去疾其穴急捫瀉者呼之去徐其穴不閉欲令湊密然後吸氣故曰下針貴遲大急傷血出針貴緩大急傷氣以上捻要於斯盡矣</p>
<p>考夫治病之法有八一曰燒山火治頑麻冷痹先淺後深用九陽而三進三退慢提緊按熱至緊閉插針除寒之有準二曰治肌熱骨蒸先深後淺用六陰而三出三入緊提慢按徐徐舉針退熱之可憑眥細細搓之去病準繩三曰陽中之陽先寒後熱淺而深以九六之法則先補後瀉也四曰陰中之陽先熱後寒深而淺以六九之方則先瀉後補也補者直須熱至瀉者務待寒侵猶如搓線慢轉針淺法在淺則用淺法在深則用深二者不可兼而紊之也五曰子午搗臼水蠱膈氣落穴之後調氣均勻針行上下九入六出左右轉之千遭自平六曰進氣之訣腰背肘膝痛渾身走注疼刺九分行九補臥針五七吸待氣上行亦可龍虎交戰左捻九而右捻六是亦住痛之針七曰留氣之訣痃瘕癖癥瘕刺七分用純陽然後乃直插針氣來深刺提針再停八曰抽添之諸癱瘓瘡癩取其要穴使九陽得氣提按搜尋大要運氣周遍扶針直插復向下納回陽倒陰指下玄微胸中活法一有未應反復岡施</p>
<p>若夫過關過節催運氣以飛經走氣其法有四一曰青龍擺尾如扶舡舵不進不退一左一右慢慢撥動二曰白虎搖頭似手搖鈴退方進九兼之左右搖而振之三曰蒼蠅探穴如入土之象一退三進鑽（剔）四方四曰赤鳳迎源展翅之儀入針至地提針至天候針自搖復進其元上下左右四圍飛旋病在上吸而退之病在下呼而進之</p>
<p>至夫久患偏枯通經接氣之法已有定息寸數手足三陽上幾而下十四過經四寸手足三陰上七而下十二過經五寸在乎搖動出納呼吸同法驅運氣血頃刻周流上下通接可使寒者暖而熱者涼痛者止而脹者消若開渠之決水立見時功何傾危之不起哉雖曰病有三因皆從氣血針分八法不離陰陽蓋經絡晝夜之循環呼吸往來之不息和則身體康健否則疾病而生譬如天下國家地方山海田園江河溪谷值歲時風雨均調則水道疏利民安物阜其或一方一所風雨不均遭以旱澇使水道湧竭不同災傷遂至人之氣血受蠲邪扶正故曰醫最奇者哉</p>
<p>嗟夫軒岐古遠盧扁死亡此道幽深非一言而可盡斯文細密在久習而能通豈世上之常辭庸流之乏術得之者若科之及弟而悅於心用之者如射之發中而進於目述自先賢傳之學用針之士有志於斯果能洞造玄微而盡其精妙則世之伏枕之疴有緣者遇針到病除隨而愈</p>

<h3>流注指微賦</h3>
<p>疾居榮衛扶救者針觀虛實於瘦肥辨四時之淺深是見取穴之法但分陰陽而溪谷迎風逆順須曉氣血而升沉</p>
<p>原夫指微論中顧義成賦知本時之氣開說經絡之流注每挾文而參其法篇篇之誓審存覆經而察其言字字之功明諭疑隱皆知虛實捻附移痛住疼如有神針下獲安暴疾沉疴至危篤刺之勿誤</p>
<p>詳夫陰日血引值陽氣流口溫針暖牢濡深求諸經十二作數絡脈十五為周陰俞六十臟主陽穴七十腑收陽刺經者可臥針而取奪血絡者先俾指而柔呼為迎而吸作補逆為鬼而從何憂淹疾延患著灸之由燥煩藥餌而求難拯必取八會壅腫奇經而蓄邪纖猶砭瘳</p>
<p>況夫甲膽乙肝丁心壬水生我者號母我生者名子春井夏滎乃邪在秋經冬合乃刺矣犯禁忌而病復用日衰而難已絲絡在於肉分血行出於支里悶昏針暈經虛補絡須然痛實癢虛瀉子隨母要指想夫先賢迅效無出於針今人愈疾豈離於醫徐文伯瀉孕於苑內斯由甚速範九思療咽於江夏聞見言稀大抵古今遺蹟後世皆師王篡針魅而立康獺從被出秋夫療鬼而馘效魂免傷悲既而感指幽微用針真竅齊於筋骨皮肉刺要痛察於久新臟腑寒熱接氣通經短長依法裡外之絕羸盈必別勿刺大勞使人氣亂而神墮慎妄呼吸防他針昏而閉血文以常尋古義由有藏機遇高賢真趣則超然得悟逢達人示教則表我扶危男女氣脈行分時合度養子時刻注穴穴須依今詳定疾病之儀神針法式廣搜難素之秘密文辭深考諸家之肘函妙臆故稱瀘江流注之指微以為後學之規則</p>

<h3>通玄指要賦</h3>
<p>必欲治病莫如用針巧運神機之妙功開聖理之深外取砭針能蠲邪而輔正中含水火善回陽而倒陰</p>
<p>原夫絡別支殊經交錯綜或溝渠溪谷以岐異或山海丘陵而隙共斯流派以難睽在條綱而有統理繁而眛縱補瀉有何功法捷而明曰迎隨而得用</p>
<p>且如行步難移太衝最奇人中除脊膂之強痛神門去心性之呆癡傷風項急始求於風府頭暈目眩要覓於風池耳閉須聽會而治也眼痛則合谷以推之胸結身黃瀉湧泉而即可腦昏目赤瀉攢竹以便宜若兩肘之拘攣仗曲池而平掃牙齒痛呂細堪治頭項強承漿可保太白宣導於氣衝陰陵開通於水道腹膨而脹奪內庭以休遲筋轉而疼瀉承山而在早</p>
<p>大抵腳腕痛崑崙解圍股膝疼陰市能醫癇發癲狂兮憑後谿而療理瘧生寒熱兮伏間使以扶持期門罷胸滿血膨而可以勞宮退胃翻心痛以何疑</p>
<p>稽夫大敦去七疝之偏墜王公謂此三里去五癆之羸瘦華佗言斯固知腕骨祛黃然谷溪腎行間治膝腫目疾尺澤去肘疼筋緊目昏不見二間宜取鼻塞無聞迎香可引肩井除兩臂之難任攢竹療頭疼之不忍咳嗽寒痰列缺堪治眵昏冷淚臨泣尤准臗骨並腿痛以祛殘腎俞腰痛而瀉泄以見越人治屍厥於維會隨手而蘇文伯能瀉死胎於陰交應針而殞</p>
<p>聖人於是察麻典痛分實典虛實則自外而入也虛則自內而出之是故濟母而禪其不足奪乎而平其有餘觀二十七之經絡一一明辨據四百四之病證件件皆除故得天柱都華濟斯民於壽域機微已判彰往古之玄書抑又聞心胸病求掌後之大陵肩背疼責肘前之三里冷痹賢余取定陽陰之上連臍腹痛瀉少陰之水脊間心後者針中渚而立痊脅下筋邊者刺陽陵而即止頭強痛擬後谿以安然腰背疼在委中而已矣夫人用之士於此理苟明者焉收祛邪之功而在乎捻指</p>

<h3>靈光賦</h3>
<p>黃帝岐伯針灸訣依他經里分明說三陰三陽十二經更有兩經分八脈靈光典注極幽深偏正頭疼瀉列缺睛明治眼胬肉扳耳聾氣痞聽會間兩鼻⿰鼻翁衄針禾窌鼻窒不聞迎香間治氣上壅足三里天突宛中治喘痰心痛手顫針少海少澤應除心下寒兩足拘攣覓陰市五般腰痛委中安脾俞不動瀉丘虛復溜治腫如神醫犢鼻治療風邪痰住喘腳痛崑崙愈後跟痛在僕參求承山筋轉並久痔足掌下去尋湧泉此法千金莫妄傳此穴多治婦人疾男蠱女孕而病痊百會鳩尾治痢疾大小腸俞大小便氣海血海療五淋中脘下脘治腹堅傷寒過經期門應氣刺兩乳求太淵大敦二穴主偏墜水溝間使治邪癲吐面定喘補尺澤地倉能止而流涎勞宮醫得身勞倦水腫水分炙即安五指不伸中渚取頰車可針牙齒愈陰蹺陽蹺兩踝邊腳氣四穴先尋取陰陽陵泉亦主之陰蹺陽蹺與三里諸穴一般治腳氣在腰玄機宜正取膏肓豈止治百病灸得玄切病須愈針灸一穴數病除學者尤宜加仔細悟得明師流注法頭目有病針四肢針有補瀉明呼吸穴應五行順四時悟得人身中造化此歌依舊是筌蹄</p>

<h3>席弘賦</h3>
<p>凡欲行針須審穴要明補瀉迎隨訣胸背左右不相同呼吸陰陽男女彆氣刺兩乳求太淵未應之時瀉列缺列缺頭疼及偏正重瀉太淵無不應耳聾氣痞聽會針迎香穴瀉功如神誰知天突治喉風虛喘須尋三里中手連肩脊痛難忍合谷針時要太衝曲池兩手不如意合谷下針宜仔細心疼手顫氣海間若要除根覓陰市但患傷寒兩耳聾金門聽會疾如風五般肘痛尋尺澤太淵針後卻收功手足上下針三里食癖氣塊憑此取鳩尾能治五般癇若下湧泉人不死胃中有積刺璇璣三里功多人不知陰陵泉治心胸滿針到承山飲食思大杼若連長強尋氣滯腰疼不能立橫骨大都宜急救氣海專能治五淋更針三里隨呼吸期門穴主傷寒患六日過經尤未汗但向乳根二肋間又治婦人生產難耳內蟬鳴腰欲折膝下明存三里穴若能補瀉五會間且莫逢人容易說睛明治眼未效時合谷光明安可缺人中治癇功最高十三鬼穴不須饒水腫水分兼氣海皮內隨針氣自消冷嗽先宜補合谷卻須針瀉三陰交牙齒腫痛並咽痹二間陽谿疾怎逃更有三間腎俞妙善除肩背消風勞若針肩井須三里不刺之時氣未調最是陽陵泉一穴膝間疼痛用針燒委中腰痛腳攣急取得其經血自調腳痛膝腫針三里懸鐘二陵三陰交更向太衝須引氣指頭麻木自輕飄轉筋目眩針獸腹承山崑崙立便消肚疼須是公孫妙內關相應必然瘳冷風冷痹疾難愈環跳腰間針與燒風府風池尋得到傷寒百病一時消陽明二日尋風府嘔吐還須上脘療婦人心痛心隆穴男子痃疼三里高小便不禁關元好大便閉澀大敦燒腕骨腿疼三里瀉復溜氣滯便離腰從來風府最難針卻用工夫度淺深倘若膀胱氣未散更宜三里穴中尋若是七疝小腸痛照海陰交曲泉針又是應時求氣海關元同瀉效如神小腸氣撮痛連臍速瀉陰交莫待遲良久湧泉針取氣此中玄妙少人知小兒脫肛患多時先灸百會次鳩尾久患傷寒肩背痛但針中渚得其宜肩上痛連臍不休手中三里便須求下針麻重即須瀉得氣之時不用留腰連膝痛必大便三里攻其隘下針一瀉三補之氣上攻噎只管針氣海定瀉一時立便瘥補自卯南轉針高瀉從卯比莫辭勞逼針瀉氣便須吸若補隨呼氣自調左右捻針尋子午抽針瀉氣自迢迢用針補瀉分明說更用搜窮本與標咽喉最急先百會太衝照海及陰交學者潛心宜熟讀席弘治病最名高</p>

<h3>標由賦</h3>
<p>拯救之法妙用者針</p>
<p>夫今人愈疾豈離於醫治劫病之功莫妙於針刺故經云拘於鬼神不可與言至德惡於針石者不可與言至巧正此之謂也</p>
<p>察歲時於天道</p>
<p>夫人身十二經三百六十節以應一歲十二月三百六十日歲時者春暖夏熱秋涼冬寒此四時之正氣苟或春應暖而反寒夏應熱而反涼秋應涼而反熱冬應寒而反暖是故冬傷於寒春必溫病春傷於風夏必飧泄夏傷於暑秋必痎瘧秋傷於濕上逆而咳岐伯曰凡刺之法必候日月星辰四時入正之氣氣定乃刺焉是故天溫日明則人血淖液而衛氣浮故血易瀉氣易行天寒日陰則人血凝滯而衛氣沉月始生則氣血始精衛氣始行月廓滿則氣血實肌肉生月廓空則肌肉減經絡虛衛氣去形獨居是以因天時而調血氣也天寒無刺天溫無凝月生無瀉月滿無補月廓空無治是謂得天時而調之若日月生而瀉是謂臟虛月滿而補血氣揚溢絡有留血名曰虛實月廓空而治是謂亂經陰陽相錯真邪不別沉以留止外虛內亂淫邪乃起又曰天有五運金水木火土也地有六氣風寒暑濕燥是也學者必察斯焉</p>
<p>定形氣於予心</p>
<p>經云凡用針者必先度其形之肥瘦以調其氣之虛實實則瀉之虛則補之必先去其血脈而後調之無問其病平調理期細察形氣得於心矣形盛脈細少氣不足以息者危形瘦脈大胸中多氣者死形氣相得者生不調者病相失者死是故色脈不順而莫針戒之戒之</p>
<p>春夏瘦而刺淺秋冬肥而刺深</p>
<p>經云病有沉浮刺有淺深各至其理無過其道過之則內傷不及則外壅壅則邪從之淺深不得反為大賊內傷五臟後生大病故曰春病在毫毛腠理夏病在皮膚故春夏之人陽氣輕浮肌肉瘦薄四氣未盛宜刺之淺秋病在肌肉脈冬病在筋骨秋冬則陽氣收藏肌肉肥厚血氣充滿刺之宜深又云春刺十二井夏刺十二榮季夏刺十二俞秋刺十二經冬刺十二絡合以配木火土金水理見子午流注</p>
<p>不窮經絡陰陽須逢刺禁</p>
<p>經有十二手太陰肺少陰心厥陰心包絡太陽小腸少陽三焦陽明大腸足太陰脾少陰腎厥陰肝大腸膀胱少陽膽陽明胃也絡有十五肺絡列缺心絡通里心包絡內關小腸絡支正三焦絡外關大腸絡偏歷脾絡公孫腎絡大鐘肝絡蠡溝膀胱絡飛揚膽絡光明胃絡豐隆陰蹺絡照海陽蹺絡申脈脾之大絡大包督脈絡長強任脈絡屏翳也陰陽者天之陰陽平旦至日中天之陽陽中之陽也日中至黃昏天之陽陽中之陰也合夜至雞鳴天之陰陰中之陰也雞鳴至平旦天之陰陰中之陽也故人亦應之夫言人之陰陽則外為陽內為陰言身之陰陽則背為陽腹為陰手足皆以赤白肉分之言臟腑之陰陽則五臟為陰六腑為陽是以春夏之病在陽秋冬之病在陰皆視其所在典施針石也又言背為陽陽中之陽心也陽中之陰肺也腹為陰陰中之陰腎也陰中之陽肝也陰中之至陰脾也此皆陰陽表裡內外雌雄相輸應也是以應天之陰陽學者苟不明此經絡陰陽升降左右不同之理如病在陽明反攻厥陰病在太陽反和太陰遂致賊邪未除本氣受弊則有勞無功禁刺之犯豈可勉哉</p>
<p>既論臟腑虛實須向經尋</p>
<p>臟者心肝脾肺腎也腑者膽胃大小腸三焦膀胱也虛者癢麻也實者腫痛也臟腑居於內經絡行乎外虛則補其母實則瀉其子如心病虛則補肝木實則瀉脾土又且本經亦有子母如心之虛取少海穴以補之實則取少府穴以瀉之諸經皆然並不離乎五行相生之理矣</p>
<p>原夫起自中焦水初下以太陰為始至厥陰而方終穴出雲門抵期門而最後</p>
<p>此言乎人氣象氣脈行於十二經一周為身除任督之外計三百九十三穴一日一夜有百刻分於十二時每一時有八刻二分每一刻計六十分一時共計五百分每日寅時太陰肺脈生自中焦中府穴出於雲門起至少商穴至卯時陽明大腸經自商陽穴至迎香穴辰時陽明胃經自頭維至厲兌巳時太陰脾經自隱白至大包午時少陰心經自極泉至少衝未時太陽小腸經自少澤至聽宮申時太陽膀胱經自睛明至至陰酉時少陰腎經自湧泉至俞府戌時心包絡經自天池至中衝亥時少陽三焦經自關衝至禾窌子時少陽膽經自童子窌至竅陰丑時厥陰肝經自大敦至期門而終</p>
<p>經十二別絡走三百餘支</p>
<p>十二經者即手足三陰三陽之正經也別絡者除十五絡又有橫絡絲絡孫絡不知其紀𤋲走於三百餘支之脈也</p>
<p>正側偃伏氣四有六百餘候</p>
<p>此言經絡或正或側或仰或覆而氣血循行孔一周於身榮行脈中三百餘候衛行脈外三百餘候</p>
<p>手足三陽手走頭而頭走足手足三陰足走腹而胸走手</p>
<p>此言經絡陰升陽降氣血出入之機男女無以異矣</p>
<p>要識迎隨須明逆順</p>
<p>迎隨者要知榮衛之流注經脈之往來也明其陰陽之經逆順而取之迎者以針頭朝其源而逆之隨者以針頭從其流而順之是故逆之為瀉為迎順之為補為隨若能知迎知隨令氣必和和氣之方必通陰陽升降上下源流往來逆順之道明矣</p>
<p>況夫陰陽氣血多少為最厥陰太陽少氣多血太陰少陰少血多氣而又氣多血少者少陽之分氣盛血多者陽明之位此言三陰三陽氣血多少之不同取之必記為最要也</p>
<p>先詳多少之宜次察應至之氣</p>
<p>言用針者先明止文氣血之多少次觀針氣之來應也</p>
<p>輕滑慢而未來沉澀緊而已至</p>
<p>輕浮滑虛慢遲也入針之後直此三者乃真氣之未到也沉重澀滯緊實入針之後直此三者是正氣之已到也</p>
<p>既至也量寒熱而留疾</p>
<p>留住也疾速也此言正氣既至必審寒熱而施之故經云刺熱須至寒者必留針陰氣隆至乃呼之去徐其穴不捫刺也須至熱者陽氣隆至針氣必熱乃吸之去疾一穴急捫</p>
<p>未至也據虛實而痏氣</p>
<p>此言針氣之未來也經云虛則推內進搓以補其氣實則循捫彈怒以引其氣</p>
<p>氣之至如魚吞釣餌之浮沉氣未至如閒處幽堂之深也</p>
<p>邃氣既至則針自澀緊似魚吞釣或沉或浮而動其氣不來針自輕滑如閒居靜室之中寂然無所聞也</p>
<p>氣至速而效速氣遲至而不治</p>
<p>言下針若得氣來速則病則痊而效亦速也氣若來遲則病難愈而有不治之憂故賦雲氣速效速氣遲效遲候之不至必死無疑矣</p>
<p>觀夫九針之法毫針最微七星可應眾穴主持</p>
<p>昔黃帝制九針者上應天地下應陰陽四時九針之名各不同形一曰鑱針以應天長一寸六分頭尖末銳去瀉陽氣二曰圓針以應地長一寸六分針如卯樣形揩磨分肉間不得傷肌肉以瀉分氣三曰鍉針以應人長三寸半鋒如黍粟之銳主脈勿陷以致其氣四曰鋒針以應四時長一寸六分刃三隅以發痼疾五曰鈹針以應五音長四寸廣二分半末如劍鋒以取大膿六曰員利針以應六律長一寸六分大如釐且員且銳中身微大以取暴氣七曰毫針以應七星長三寸六分尖如蚊虻喙靜以徐往微以久留之而癢以取痛痹八曰長針以應八風長七寸鋒利身薄可以取遠痹九曰大針以應九野長四寸其鋒微員尖如挺以瀉機關之水九針畢矣此言九針之妙毫針最精能應七星又為三百六十穴之備也</p>
<p>本形金也有蠲邪扶正之道</p>
<p>本形言針也針本出於金古人以砭石今人以鐵代之蠲除也邪氣盛針能除之扶輔也正氣衰針能輔也</p>
<p>短長水也有決疑開滯之機</p>
<p>此言針有長短猶水之長短也人之氣血凝滯而不通猶水之凝滯而不通也水之不通決之使流於湖海氣血不通針之使周於經絡故言針應水也</p>
<p>定刺象木或斜或正</p>
<p>此言木有斜正而用針亦有或斜或正之不同刺陽經者必斜臥其針無中其衛刺陰分者必正立其針毋傷其榮故言針應未也</p>
<p>口藏此火進陽補羸</p>
<p>口藏以針含於口也氣之溫如火之溫也羸瘦也凡欲下針之時必效方真人口溫針暖使榮衛相接進己之陽氣補彼之瘦弱故言針應火也</p>
<p>循機捫而可塞以象土</p>
<p>循者用手上下循之使氣血往來也機捫者針畢以手捫閒其穴如用上填塞之義故言針應土也</p>
<p>實應五行而可知</p>
<p>五行者金木水土也此結上文針能應五行之理可知矣</p>
<p>然是一寸六分包含妙理</p>
<p>言針雖但長一寸六分能巧運神機之妙中含水火回倒陰陽其理最玄妙也</p>
<p>或細𤙡於毫髮何貫多岐</p>
<p>𤙡針之干也岐氣血往來之路也言針之干雖如毫髮之微小能貫通諸經血氣之道也</p>
<p>可平五臟之寒熱能調六腑之虛實</p>
<p>平治也調理也言針能調治臟腑之疾有寒則溫之有熱則清之虛則補之實則瀉之</p>
<p>拘攣閉塞遣八邪而去矣</p>
<p>拘攣者筋脈之拘速也閉塞者氣血不通也八邪者所以候八風之虛邪也言疾有攣閉者必驅散八風之邪也</p>
<p>寒熱痛痹開四關而已之</p>
<p>寒者身作顫而發寒也熱者身作潮而發熱也痛疼痛也痹麻木也四關者五臟有六腑六腑有十二原十二原出於四關太衝合谷是也</p>
<p>凡刺者使本神朝而後入既刺也使本神定而氣隨神不朝而勿刺神已之而可施</p>
<p>凡用針者必使患人精神已朝而後方可入針既刺之必使疾者精神才定而後施針行氣若氣不朝、其針必輕滑、不知疼痛如插豆腐者莫與進之必死、之候如神、氣既至針自緊澀可與依法察虛實而施之</p>
<p>定腳處取氣血為主意</p>
<p>言欲下針之時必取陰陽氣血多少為主見上文</p>
<p>下手處認水木是根基</p>
<p>濟母裨其不足奪子平其有餘此言用針必先認子母相結之義舉水木而不及土金火者省文也</p>
<p>天地人三才也湧泉同璇璣百會</p>
<p>百會一穴在頭以應乎天璇璣一穴在胸以應乎人湧泉二穴在足掌心以應乎地是謂三才也</p>
<p>上中下三部也大包與天樞地機</p>
<p>大包二穴在乳後為上部天樞二穴在臍旁為中部地機二穴在足䯒為下部是謂三部也</p>
<p>陽蹺陽維並督脈主肩背腰腿在表之病</p>
<p>陽蹺脈起於足跟中循外踝上入風池陽維脈維持諸陽之會如腑會太倉之類督脈起自下極之腧並與春里上行風府過腦額鼻入齦交穴也言此奇經三脈屬陽主治肩背腰腿在表之疾也</p>
<p>陰蹺陰維任沖帶去心腹脅肋在裡之疑</p>
<p>陰蹺脈亦起於足跟循內踝上行至咽喉交貫衝脈陰維脈維持諸陰之交如足太陰之脈交出厥陰之前任脈起於中極之下循腹上至咽喉而終衝脈起於氣衝並足陽明之經夾臍上行至胸中而散也帶脈起於季脈回身一周如繫帶也言此奇經五脈屬陰能治心腹脅肋在裡之疾也</p>
<p>二陵二蹺二交似續而交五大也</p>
<p>二陵者陰陵泉陽陵泉也二蹺者陰蹺陽蹺也二交者陰交陽交也續接續也五大者五體也言此六穴遞相交接於兩手兩足並頭也</p>
<p>兩間兩商兩井相依而列兩支</p>
<p>兩間者二間三間也兩商者少商商陽也兩井者天井肩井也言此六穴相依而分別於手之兩支也</p>
<p>另見取穴之法有分寸先審自意次觀肉分</p>
<p>此言取量穴法必以男左女右中指與大指相屈如環取內側紋兩角為一寸各隨長短大小取之此乃同身之寸先審病者是何病屬何經用何穴於我意次察病者瘦肥長短大小肉分骨節髮際之間量度以取之</p>
<p>或伸屈而得之或平直而安定</p>
<p>伸屈者如取環跳之穴必須伸下足屈上足以取之乃得其穴平直者或平臥而取之或正坐而取之或直立而取之自然安定如承漿在唇下宛宛中之類也</p>
<p>在陽部筋骨之側陷下為真在陰分郄膕之間動脈相應</p>
<p>陽部者諸陽之經也如合谷三里陽陵泉等穴必取俠骨側指陷中為真也陰分者諸陰之經也如萁門五里太衝等穴在屈心之間必以動脈應指乃始為真穴也</p>
<p>取五穴用一穴而必端取三經用一經而可正</p>
<p>此言取穴之法必須點取五穴之中而用一穴則可為端的矣若用一經必雖取三穴而正一經之是非矣</p>
<p>頭部與肩部詳分督脈與任脈異定（異當作易）</p>
<p>頭部與肩部則穴繁多但醫者以自意詳審大小肥瘦而分之督任二脈值乎背腹行中而有分寸則易定也</p>
<p>明標與本論刺深淺之經</p>
<p>標本者非止一端也有六經之標本有天地陰陽之標本有傳病之標本夫六經之標本者足太陽之本在足跟上五寸標在目也足少陽之本在竅陰標在耳也足陽明之本在厲兌標在人迎頰挾項顙也足太陰之本在中封前上四寸標在背脾俞與舌本也足少陰之本在內踝上三寸中標在背腎俞與舌下兩脈也足厥陰之本在行間上五寸中所標在背肝俞也手太陽之本在手外踝後標在命門之上一寸也手少陽之本在小指次指之間上一寸標在耳後上角下外眥也手陽明之本在肘骨中上別陽標在額下合鉗上也手太陰之本在寸口之中標在腋內動脈也手少陰之本在銳骨之端標在背心俞也手厥陰之本在掌後兩筋之間二寸中標在筋下三寸也此乃十二經之行取也</p>
<p>經云病有標本刺有逆從淺深之理凡刺之方必別陰陽前後相應逆從得施標本相移故曰有其在標而求之於標有其在本而求之於本有其在本而求之於標有其在標而求之於本故治有取標而得者有取本而得者有逆取而得者有從取而得者故知逆從正行無問明知標本者萬舉萬當不知標本者從謂妄行夫陰陽標本逆從之道也小而言大一而知百病之害少而多淺而博可以言一而知百也以淺而知深察近而知遠標本易言而世人識見無能及也治反為逆治得為從先病而後逆者先逆而後病者先病而後生寒者先熱而後生病此五者俱治其本也先熱而後中滿者治其標先病而後泄者治其本先泄而後生他病者治其本必且調之乃治其他病先病而後中滿者治其標先中滿而後煩心者治其本大小便不利治其標大小便利治其本大小不利而病生病者治其本病發而有餘本而標之先治其本後治其標病發而不足標而本之先治其標後治其本又云得病日為本傳病為標也淺深者刺陽經必中榮須淺而臥針無傷於衛也刺陰分必中衛須深而立針無損於榮也此謂陰陽標本淺深之道也</p>
<p>住痛移疼取相交相貫之逕</p>
<p>此言用針之法有住痛移疼之功者必先以針左行左轉而得九數復以右行右轉而得六數此乃陰陽交貫之道也經脈亦有交貫如太陰肺之列缺交於陽明大腸之路陽明胃之豐隆別走於少陽之逕此之謂也</p>
<p>豈不聞臟腑病求門海俞募之類俞者五臟六腑之俞也</p>
<p>門海者如章門氣海之類俞者五臟六腑之俞也俱在背部二行中募者臟腑之募肺募中府心募巨闕胃募中脘肝募期門膽募日月脾募章門腎募京門大腸募天樞小腸募關元但三焦包絡膀胱而無募矣此言五臟六腑之有病必取此門海俞募之穴而刺之最微妙矣</p>
<p>經絡滯而求原別交會之道</p>
<p>原者十二經之原也別陽別也交陰交也會八會也夫十二原者膽原丘墟肝原太衝小腸原腕骨心原神門胃原衝陽脾原太白大腸原合谷肺原太淵膀胱原京骨腎原太谿三焦原陽池包絡原大陵八會者血會膈俞氣會膻中脈會太淵筋會陽陵泉骨會大杼髓會絕骨臟會章門腑會中脘也此言經絡血氣凝結不通者必取此原別交會之穴而刺之</p>
<p>更窮四根三結依標本而刺無不痊</p>
<p>根結者十二經之根結也靈樞經云太陰根於隱白結於大倉也少陰根於湧泉結於廉泉也厥陰根於大敦結於玉堂也太陽根於至陰結於目也陽明根於厲兌結於鉗耳也少陽根於竅陰結於耳也手太陽根於少澤結於天窗支正也手少陽根於關衝結於天牖外關也手陽明根於商陽結於扶突偏歷也手三陰之經下載不敢強注又云四根者耳根鼻根乳根腳根也三結者胸結肢結便結也此言能究根結之理依上文標本之法刺之則疾無不愈也</p>
<p>但用八法五門分主客而刺無不效</p>
<p>八法者奇經八脈也公孫仲脈胃心胸內關陰維下捻同臨泣膽經連帶脈陽維目銳外關逢後谿督脈內眥頸申脈陽蹺絡亦通列缺肺任行肺系陰蹺照海膈喉嚨五門者天地配合分於五也甲與己合乙與庚合與典辛合丁與壬合戊與癸合也主客者公孫主內關客也臨泣主外關客也後谿主申脈客列缺主照海客也此言若用八法必以五門推時取穴先主後客而無不效也詳載於後</p>
<p>八脈始終連八會本是紀綱</p>
<p>八脈者即奇經也注見上文八會者氣血脈筋骨髓臟腑之八會也亦注見前紀綱者如綱之有綱也此言奇經八脈起止連及八會本是人身經脈之綱領也</p>
<p>十二經絡十二原是一樞要</p>
<p>十二經十五絡十二原穴俱注見前此言十二原者乃十二經絡出入門戶之樞紐也一日取六十六穴之法方見幽微</p>
<p>六十六穴者即子午流注井榮俞原經合也陽於注腑三十六穴陰於注臟三十穴此成六十六穴具載後子午流注圖中此言經絡一日一周於身歷行十二經穴當此之時流注之中一穴用之則幽微之理可見矣</p>
<p>一時取一十二經之原始知要妙</p>
<p>十二經原注見於前此言一時之中當審此日是何經所主當此之時該取本日此經之原始穴而刺之則流注之法玄妙始可知矣</p>
<p>原夫補瀉之法非呼吸而在手指</p>
<p>此言補瀉之法非但呼吸而在乎手之指法也法分十四者循門提按彈捻搓盤推內動搖爪切進退出攝者是也法則如斯巧拙在人之活法備詳金針賦內</p>
<p>速效之功要交正而識本經</p>
<p>交正者如大腸與肺為傳送之府心與小腸為受盛之官脾與胃為消化之宮肝與膽為清淨之位膀胱合腎陰陽相通表裡相應也本經者受病之經如心之病必取小腸之穴兼之餘仿少言能識本經之病又要認交經正經之理則針之功必速矣</p>
<p>交經繆刺左有病而右畔取</p>
<p>繆刺也刺絡脈也右痛而刺左左痛而刺右此乃交經繆刺之理也</p>
<p>瀉絡遠針頭有病而腳上針</p>
<p>三陽之經從頭下足故言頭有病必取足穴而刺之</p>
<p>巨刺與繆刺各異</p>
<p>巨刺者刺經脈也痛在左而右脈病者則巨刺之左痛刺右右痛刺左中其經也繆刺者刺絡脈也身形有痛九候無則繆刺之右痛刺左左痛刺右中其絡也經云左盛則右病右盛則左病亦有移易者右痛未已而左脈先病如此者必巨刺之中其經非絡脈也故絡病其經與經脈繆處故曰繆刺此刺法之相同但一中經一中絡之異耳</p>
<p>微針與妙刺相通</p>
<p>微針者刺之巧也妙刺者針之妙也言二者之相通</p>
<p>觀部分而知經絡之虛實</p>
<p>言針入肉分則以天人地三部而進必察其得氣則內外虛實易見矣又云察脈之三部則知何經虛何經實也</p>
<p>視沉浮而辯臟腑之寒溫</p>
<p>言下針之後看針氣緩急可決臟腑之寒熱也</p>
<p>且夫先令針耀而慮針損次藏口內而欲針溫</p>
<p>言欲下針之時必先令針光耀看針莫有損壞次將針含於口內令針溫暖與榮衛相接無相觸犯也</p>
<p>目無外視手如握虎心無內慕如待貴人</p>
<p>此戒用針之士貴乎專心誠意而自重也令目無他視如握虎恐有傷也心無他想如待貴人恐有責也經云凡刺之道必觀其部心無別慕手如擒虎猶待貴人不知日暮著意留心不失其所此之謂也</p>
<p>左手重而多按欲令氣散右手輕而徐入不痛之因</p>
<p>言欲下針之時必先以左手大指爪甲於穴上切之則令其氣散以右手持針輕輕徐入此乃不痛之因也</p>
<p>空心恐怯直立側而多暈</p>
<p>空心者未食之前此言無刺飢人其氣血未定則令人恐懼有怕怯之心或直立或側臥必有眩暈之咎也</p>
<p>昏目沁掐坐臥平而後昏</p>
<p>此言欲下針之時必令患人勿視所針之處以手爪甲重切其穴或臥或坐而無昏悶之患也</p>
<p>椎於十干十變知孔穴之開闔</p>
<p>十干者甲乙丙丁戊己庚辛壬癸也十變者遂日臨時之變也備載靈龜八法之中故得時為之開失時為之闔苟能明此則知孔穴之得失也</p>
<p>諭其五行五臟察日時之旺衰</p>
<p>五行五臟俱注見前此言病於本日時之下得五行生者旺受五行克者衰知心之病得甲乙之日時者生旺遇壬癸之日時者克衰余皆仿此</p>
<p>伏如橫弩應若發機</p>
<p>此言用針之捷效如射之發中也</p>
<p>陰交陽別而定血暈陰蹺陰維而下胎衣</p>
<p>陰交穴有二一在臍下一寸一在足內踝上三寸名三陰之交也此言二穴能定婦人之血暈又言照海內關二穴能下產婦之胎也</p>
<p>痹厥偏枯迎隨俾經絡接續</p>
<p>痹厥者四肢厥冷麻痹也偏枯者中風半身不遂偏枯也言治此症必須接氣通經更以迎隨之法使血脈貫通經絡接續也</p>
<p>漏崩帶下溫補使氣血依歸</p>
<p>漏崩帶下者女子之疾也言有此症必須溫針待暖以補之使榮調和而歸依也</p>
<p>靜以久留停針待之</p>
<p>此言下針之後必須靜而久停之</p>
<p>必准者取照海治喉中之閉塞端的處用大鐘治心內之呆癡照海等穴俱載折量法中故不重錄</p>
<p>大抵疼痛實瀉癢麻虛補</p>
<p>此言疼痛者熱宜瀉之以涼癢麻者冷宜補以暖</p>
<p>體重節痛而俞居心下痞滿而井十二</p>
<p>俞者十二經中之俞穴井者十二經中之井也</p>
<p>心脹咽痛針太衝而必除脾冷胃疼瀉公孫而立愈胸滿腹痛刺內關脅痛肋疼針飛虎</p>
<p>太衝等穴俱載後面但飛虎穴即童門穴也又云是支溝穴以手於虎口一飛中指書處是穴也</p>
<p>筋攣骨痛而補魂門體熱勞嗽而瀉魄戶頭風痛刺申脈與金門眼癢眼痛瀉光明於地五瀉陰郄</p>
<p>止盜汗治小兒骨蒸刺偏歷利小便醫大人水蠱中風環跳而宜刺虛損天樞而可取地五者即地五會也</p>
<p>由是午前卯後太陰生而疾溫離左酉南月死朔而速冷</p>
<p>此以月生死為期午前卯後者辰巳二時也當此之時太陰月之生也是故月廓空無瀉宜疾溫之離左酉南者未申二時也當此時分太陰月之死也是故月廓盈無補宜速冷之將一月而比一日也經云月生一日一痏二日二痏至十五日十五痏十六日十四痏十七日十三痏漸退至三十日一痏也月望巳前謂之生月望巳後謂之死午前謂之生午後謂之死也</p>
<p>推捫彈弩留吸母而堅長</p>
<p>循者用針之後以手上下循之使血氣往來而已捫者出針之後以手捫閉其穴使氣不泄也彈弩者以手輕彈而補虛也留吸母者虛則補其母須待熱之至後留吸而堅長也</p>
<p>爪下伸疾呼子而噓短</p>
<p>爪下者切而下針也伸提者施針輕浮豆許曰提疾呼子者實則瀉其子務待寒至之後去之速而噓且短矣</p>
<p>動退空歇迎奪石而瀉涼</p>
<p>動退以針搖動而退如氣不行將針伸提而已空歇撒手而停針迎以針逆而迎奪即瀉其子也如心之病必瀉脾胃之子此言欲瀉必施此法也</p>
<p>推內進搓隨濟而補暖</p>
<p>推內進者用針推內而入也搓者猶如搓線之狀慢慢轉針勿令太緊隨以針順而隨之濟則濟其母也如心之病必補肝膽之母此言欲補必用此法也</p>
<p>慎之大凡危疾色脈不順而莫針</p>
<p>慎之者戒之也此言有危篤之疾必觀其形色更察其脈若相反者莫與用針恐勞而無功反獲罪也</p>
<p>寒熱風陰飢飽醉勞而切忌</p>
<p>此言無針大寒大熱大風大陰雨大飢大飽大醉大勞凡此之類決不可用針實大忌也</p>
<p>望不補而晦不瀉弦不奪而朔不濟</p>
<p>望每月十五日也晦每月三十日也弦有上下弦上弦或初七或十七下弦或二十二或二十三也朔每月初一日也凡值此二不可用針施法也暴忌之疾豈可拘於此哉</p>
<p>精其心而窮其法無灸艾而壞其干</p>
<p>此言灸也勉醫者宜專心究其穴法無著誤於著艾之功庶免干犯于禁忌而壞人之皮肉也</p>
<p>正其理而求其原勉投針而失其位</p>
<p>此言針也勉學者要明其針道之理察病之原則用針不失其所也</p>
<p>避灸處而和四肢四十有九禁刺處而除六腧二十有二</p>
<p>禁灸之穴四十五吏和四肢之井共四十九也禁針之穴二千二外除六腑之俞也俱載於前</p>
<p>抑又聞高年抱疾未瘥李氏刺巨闕而復甦太子暴死為厥越</p>
<p>人針維會而復醒一井曲池甄權刺臂痛而復射懸鐘環跳華佗刺躄足而立行秋大針腰俞而鬼免沉疴王纂針交俞而妖精立出取肝俞與命門使瞽士視秋毫之末刺少陽與交別俾聾夫聽夏蚋之聲此引先師用針有此立效之功以礪學者用心之誠耳且夫去聖逾遠此道漸墜或不得意而散其學或愆其能而犯禁忌愚庸智淺難契於玄言至道淵深得之者有幾偶述斯言不敢示諸明達者焉庶幾乎童蒙之心啟</p>
<p>此先師嘆聖賢之古遠針道之漸衰理法幽深難造其極復以謙遜之言以結之籲竇太師乃萬世之師窮道契玄尚且謙言以示後學世之徒知一二而自矜自伐者豈不愧哉</p>

<h1>卷之下</h1>

<h2>十二經脈歌</h2>
<p>手太陰肺中焦生下絡大腸出賁門上膈屬肺從肺繫系橫出腋臑中行肘臂寸口上魚際大指內側爪甲根支絡還從腕後出接次指屬陽明經此經多氣而少血是動則病喘與咳肺脹膨膨缺盆痛兩手交瞀為臂厥所生病者為氣咳喘渴煩心胸滿結臑臂之外前廉痛小便頻數掌中熱氣虛肩背痛而寒氣盛亦疼風汗出欠伸少氣不足息遺失無度溺變別</p>
<p>陽明之脈手大腸次指內側起商陽循指上連出合谷兩筋岐骨循臂肪入肘外廉循臑外肩端前廉柱骨傍從肩下入缺盆內絡肺下膈屬大腸支從缺盆上入頸斜賁頰前下齒當環出人中交左右上俠鼻孔注迎香此經血盛氣亦盛是動頸腫並齒痛所生病者為鼻衄目黃口乾喉痹生大指次指難為用肩臑外側痛相仍</p>
<p>胃足陽明交鼻起下循鼻起下循鼻外下入齒還出俠口繞承漿顧大迎頰車裡耳前髮際至額顱支下人迎缺盆底下膈入胃絡脾宮直者缺盆下乳內一支幽門循腹中下行直合氣沖逢遂由髀關抵膝臏䯒⿰骨付中指內關同一支下膝注三里前出中指外關通一支別走足跗指大指之端經盡矣此經多氣復多血是動欠伸面顏黑悽悽之惡寒畏見人忽聞木聲心振習登高而歌棄衣走甚則腹脹乃賁響凡此諸疾皆骭厥所生病者為狂瘧濕溫汗出鼻流血口喎唇裂又喉痹膝臏疼痛腹脹結氣膺伏兔䯒外廉足跗中指俱痛徹有餘消穀渴溺色黃不足身前寒振慄胃房脹滿食不消氣盛身前皆有熱</p>
<p>太陰脾起足大指上循內側白肉際核骨之後內踝前上臑循䯒脛膝里股內前廉入腸中屬脾絡胃與膈通俠喉連舌散舌下支絡從胃注心宮此經氣盛而血衰是動具病氣所為食入即吐胃脘痛更兼身體痛難移腹脹善噫舌本強得後與氣快然衰所生病者舌亦痛體重不食亦如之煩心下仍急痛泄水溏瘕寒瘧隨不臥強立股膝腫疽發身黃大指痿</p>
<p>手少陰脈起心中下膈直與小腸通支者還從肺系走直上咽喉系目瞳直者上肺出腋下臑後肘內少海從臂內後廉抵掌中兌骨之端注少衝多氣少血屬此經是動心脾痛難任渴欲飲水咽乾燥所生脅痛目如金脅臂之內後廉痛掌中有熱向經尋</p>
<p>手太陽經小腸脈小指之端起少澤循手外廉出踝中循臂骨出肘內側上循臑外出後廉直過肩解繞肩甲交肩下入缺盆內向腋絡心循咽益下膈抵胃屬小腸一支缺盆貫頸頰至目兌眥卻入耳復從耳前仍上頰抵鼻升至目內眥斜絡於顴別絡接此經少氣還多血是動則病痛咽嗌頷下腫兮不可顴肩如拔兮臑似欣所生病兮主肩臑耳聾目黃腫腮頰肘臂之外後廉痛部分猶當細分別</p>
<p>足經太陽膀胱脈目內眥上懸額尖支者巔上至耳角直者從巔腦後懸絡腦還出別下頂仍循肩膊俠脊邊抵腰膂腎膀胱內一支下與後陰連貫臀斜入委中穴一支膊左右別貫肺俠脊過脾樞臂內後廉膕中合下貫踹內外踝後京骨之下脂外側是經血多氣少也是動頭痛不可當項如拔弓腰似折髀謹痛徹脊中央膕如結兮腨如裂是為踝厥筋乃傷所生瘧痔小指廢頭囟頂痛目色黃腰尻膕腳痛連背淚流鼻衄及癲狂</p>
<p>足經腎脈屬少陰小指斜透湧泉心然骨之下內踝後別入跟中腨內侵出膕內廉上股內貫脊屬腎膀胱臨直者屬腎貫肝膈入肺循喉舌本尋支者從肺絡心內仍至胸中部分深此經多氣而少血是動病肌不欲食喘嗽喘血喉中鳴坐而欲起面如垢目視䀮䀮氣不足心懸如飢常惕惕所生病者為舌乾口熱咽痛氣賁逼股內後廉並脊疼心腸煩痛疽而澼痿厥嗜臥體怠惰足下熱痛皆腎厥手厥陰心主起胸屬包下膈三焦宮支者循胸出脅下下連腋三寸同仍上抵腋循臑內太陰少陰兩經中指透中衝支者別小指次指絡相通是經少氣原多血是動則病乎心熱肘臂攣急腋下腫甚則胸脅支滿結心中澹澹或大動善笑目黃面赤色所生之者為心煩心痛掌熱病之則發手經少陽三焦脈起自小指次指端兩指岐骨手腕表上出臂外兩骨間肘後臑外循肩上少陽之後交別傳下入缺盆膻中分散絡心膈高里穿者膻中缺盆上上項耳後角旋屈下至頤仍注頰一支出耳入耳前卻從上關交曲頰至目內眥乃盡焉斯經少血還多氣是動耳鳴喉腫痹所生病者汗自出耳後痛兼目銳眥肩臑肘臂外眥疼小指次指亦如廢</p>
<p>足脈少陽膽之經始從兩踝銳眥生抵頭循角下耳後腦空風池次第行手少陽前至肩上交少陽右上缺盆支者耳後貫耳內出走耳前銳眥循一支銳眥大迎下合手少陽抵項根下加頰車缺盆合入胸貫膈絡肝經屬膽仍從脅裡過下入氣街毛際索橫入髀厭環跳內直者缺盆下腋膺過季脅下髀厭內出膝外廉是陽陵外輔絕骨踝前過足跗小指次指分一支別從大指去三毛之際接肝經此經多氣乃少血是動口苦善大息心脅疼痛難轉移面塵足熱體無澤所生頭痛連銳眥缺盆腫痛並兩腋馬刀俠癭生兩旁汗出振寒痎瘧疾胸脅髀膝至䯒骨絕骨踝痛及諸節</p>
<p>厥陰足脈肝所終大指之端毛際叢足跗上廉太衝分踝前一寸入中封上踝交出太陰後循胭內廉陰股充環繞陰器抵小腹俠胃屬肝絡膽逢上貫膈里布脅肋俠喉項頸上系同脈上巔會督脈出支者還生目系中下絡頰裡還唇內支者便從膈肺通是經血多氣少焉是腰動疼俯仰難男疝女人小腹腫面塵脫色及咽乾所生病者為胸滿嘔吐同泄小便難或時遺溺並狐疝臨證還須仔細看</p>

<h2>十二經本一脈歌</h2>
<p>中焦肺起脈之宗出手大指之端沖大腸即起手次指上行環口交鼻里胃經源</p>
<p>又下鼻交出足大指之端毛脾脈絕起指端上注於心中少陰向心經中之入掌循手內端出小指行小腸從手小指起上斜絡肝目內眥膀胱經從目內生至足小指外側行腎脈動於小指下起注胸中過腹胯心包出處又連胸循手小指次指中三焦起手次指側環走耳前目銳息膽家接生目銳傍走足大指三毛上足肝就起三毛際注入肺中循不已</p>

<h2>經穴起止歌</h2>
<p>手肺少商中府起大腸商陽迎香二足胃屬兌頭維三脾部隱白大包四膀胱睛明至陰間腎經湧泉俞府位心包中衝天池隨三焦關衝耳門繼膽家竅陰童子窌厥肝大敦期門已手心少衝極泉來小腸少澤聽宮去十二經始終歌學者銘於肺腑</p>

<h2>十五脈絡歌</h2>
<p>人身絡脈一十五我今逐一從頭數手太陰絡為列缺手少陰絡即通里手厥陰絡名內關手太陽絡支正是手陽明絡偏歷當手少陽絡外關位足太陽絡號飛揚足陽明絡豐隆系足少陽絡是光明足太陰絡</p>
<p>公孫寄足少陰絡為大鐘足厥陰絡蠡溝配陽督之絡號長強陰任之脈絡屏翳脾之大絡大包是十五絡穴君須記</p>

<h2>經脈氣穴多少歌</h2>
<p>多氣多血經須記火腸手經足經胃少血多氣有六經三焦膽腎心脾肺多血少氣心包絡膀胱小腸肝所異</p>

<h2>禁針穴歌</h2>
<p>禁針穴道要先明腦戶囟會及神應絡卻玉枕角孫穴顱囟承泣隨承靈神道靈臺膻中忌水分神闕並會陰橫骨氣衝手五里箕門承筋及青靈更加臂上三陽絡二十二穴不可針孕婦不宜針合谷三陰交內亦通倫石門針炙應須知女子終身無妊娠外有云門並鳩尾缺盆客主人莫稱肩井深得人悶倒三里急補人還平</p>

<h2>禁針穴歌</h2>
<p>針灸之穴四十五承光啞門及風府天柱素髎臨泣上睛明攢竹迎香數禾窌顴窌絲竹空頭維下關與脊中肩貞心俞白環俞天牖人迎共乳中周榮淵腋並鳩尾腹哀少商魚際位經渠天府及中衝陽關陽池陽五會隱白漏谷陰陵泉條口犢鼻還陰市伏兔脾關委中穴殷門申脈承扶忌</p>

<h2>血忌歌</h2>
<p>行針須要明血忌正丑三寅二之末四申五卯六酉宮七辰八戌九居巳十亥十一午正當臘子更加逢日閉</p>

<h2>逐日人神閉</h2>
<p>初一十一廿一起足拇鼻柱手小指、初二十二廿二日外踝髮際外踝位、初三十三廿三、股內牙齒足及肝、初四十四廿四右腰間胃脘陽明手、初五十五廿五、並口內遍身足陽明、初六十六廿六、同手掌前又在胸、初七十七廿七、內踝氣衝及在膝、初八十八廿八、辰腕內股內又在陰、初九十九廿九在尻在膝脛後、初十二十三十日、腰背內踝足跣覓</p>

<h2>九宮尻神歌</h2>
<p>尻神所在足根由坤內外踝聖人留震宮牙腨分明記巽位還㞐乳口頭中宮肩骨連尻骨面目背從乾上游手膊兌宮難砭灸艮宮腰項也須齒宮膝肋針難下坎肘還肚脈求為聲精休尻神法萬病無于禁忌憂</p>
<figure>
<img alt="尻神之圖">
</figure>
<p><u>此乃神農所制一歲起坤二歲震逐年順飛九宮周而復始行年到處則所生敗體切忌針灸若誤犯之重則喪命輕則發癰疽之疾也</u></p>

<h2>大乙人神歌</h2>
<p>立春艮上起天留戊寅巳醜左足求春分左脅倉門震乙卯日見定為仇立夏戊辰巳巳異陰絡宮中左手愁夏至上天丙辰日正直應喉離首頭立秋玄委宮右手戊申巳未坤上游秋分倉果西方兌辛酉還從右脅謀立冬左足加新洛戊戌巳亥乾位收冬至坎方臨葉蟄壬子腰尻下竅流五臟六腑並臍腹招遙諸戊巳中州潰治癰疽當須避犯其天忌疾難瘳</p>

<h2>孫思邈針十三鬼穴歌</h2>
<p>百邪癲狂所為病針有十三穴須認凡針之體先鬼宮次針鬼信無不應一一從頭逐一求男從左起女從右一針人中鬼宮停左邊下針右出針第二手大指甲下名鬼信刺三分深三針足大指甲下名曰鬼壘入二分四針掌後大陵穴入寸五分為鬼心五針申脈名鬼路火針三下七鋥鋥第六卻尋大杼上入發一寸名鬼枕七刺耳垂下五分名曰鬼床要溫八針承漿名鬼市從左出右君須記九針間使鬼市上十針上星名鬼堂十一陰下縫三壯女玉門頭為鬼藏十二曲池名鬼臣火針仍要七鋥鋥十三舌頭當舌中此穴須名是鬼封手足兩邊相對刺若逢孤穴只單通此是先師真口訣狂猖惡鬼走無蹤</p>

<h2>長桑君天星秘訣歌</h2>
<p>天星秘訣少人知此法專分前後施若是胃中停宿食後尋三里起璇璣脾病血氣先合谷後刺三陰交莫遲如中鬼邪先間使手臂攣痹取肩髃卻若轉筋並眼花先針承山次內踝腳氣痠疼肩井先次尋三里陽陵泉如是小腸連臍痛先刺陰陵後湧泉耳鳴腰痛先五會次針耳門三里內小腸氣痛先長強後刺大敦不要忙足緩難行先絕骨次尋條口及衝陽牙疼頭痛兼喉痹先刺二間後三里胸膈痞滿先陰交針到承山飲食喜肚腹浮腫脹膨膨先針水分瀉建里傷寒過經不出汗期門三里先後看寒瘧面腫及腸鳴先取合谷後內庭冷風溫痹針行何處先取環跳次陽陵指痛攣急少商好依法施之無不靈此是桑君真口訣時常莫作等閒輕</p>

<h2>馬丹陽天星十二穴並治雜病歌</h2>
<p>三里內庭穴曲池合谷徹委中配承山太衝崑崙穴環跳與陽陵通里並列缺合擔用法擔合截用法截三百六十穴不出十二訣治病如神靈渾如湯澆雪北斗降真機金鎖教開徹至人可傳受匪人莫浪說</p>
<p>三里足膝下三寸兩筋間能除心腹痛善治胃中寒腸鳴並積聚腫滿腳胵酸傷寒羸瘦損氣蠱疾諸般人過三旬後針灸眼重觀取穴舉足取去病不為難</p>
<p>內庭足指內胃脘屬陽明善療四肢厥喜靜惡聞圭耳內喉鳴痛數穴及牙疼瘧疾不思食針後便醒醒</p>
<p>曲池曲肘里曲骨陷中求能治肘中痛偏風半不收彎弓開不得臂瘓怎梳頭喉閉促欲死發熱更無休遍身風迄䭇針後即時痊</p>
<p>合谷在虎口兩指岐骨間頭疼並面腫瘧疾熱又寒體熱身汗出目暗視朦朧牙疼並鼻衄口噤更難言針入看深淺令人病自安</p>
<p>委中曲膕里動脈正中央腰重不能舉沉沉俠脊梁風癇及筋轉熱病不能當膝頭難伸屈針入即安康</p>
<p>承山在魚腰臑腸分肉間善理腰疼痛痔疾大便難腳氣足下腫兩足盡寒酸霍亂轉筋急穴中刺便安</p>
<p>太衝足大指節後三寸中動脈知生死能除驚癇風咽喉腫心脹兩足不能動七疝偏墜腫眼目似云朦亦能療腰痛針下有神功</p>
<p>崑崙足外踝後跟微脈尋膊重腰尻痛陽踝更連陰頭疼脊背急暴喘滿中心踏地行不得動足即呻吟若欲求安好須尋此穴針</p>
<p>環跳在足髀則臥下足舒上足屈乃得針能廢毒軀冷風並冷痹身體似纏拘腿重腨痛甚屈伸轉側噓有病須針灸此穴最蘇危</p>
<p>陽陵泉膝下外廉一寸中膝腫並麻木起坐腰背重面腫胸中蒲冷痹與偏風努力坐不得起臥似衰翁針入五分後神功實不同</p>
<p>通里腕側後掌後一寸中欲言言不出懊憹在心中實則四肢重頭腮面頰紅平聲仍欠數喉閉氣難通虛則不能食咳嗽面無容毫針微微刺方信有神功</p>
<p>列缺腕側上臨指手交入專療偏頭患偏風肘水麻痰涎頰壅上口噤不開牙若能明補瀉應手疾如拿</p>

<h2>四總穴歌</h2>
<p>肚腹三里留腰背委中求頭項尋列缺面口合谷收</p>

<h2>千金十一穴歌</h2>
<p>三里內庭穴肚腹中妙訣曲池與合谷頭面病可徹腰背痛相連委中崑崙穴胸項如有痛後谿並列缺環跳與陽陵膝前兼腋脅可補即留久當瀉即疏泄三百六十名十一千金穴</p>

<h2>治病十一證歌</h2>
<p>攢竹絲竹主頭痛偏正皆宜向此針更去大都徐瀉動風池又刺三分深曲池合谷先針瀉水與除疴病不侵依此下針無不應管教隨手便安寧</p>
<p>頭風頭痛與牙疼合谷三間兩穴尋更向大都針眼痛太淵穴內用行針牙痛三分針呂細齒疼依前指上明更推大都左之右交互相迎仔細尋</p>
<p>聽會兼之與聽宮七分針瀉耳中聾耳門又瀉三分許更加七壯灸聽宮大腸經內將針瀉曲池合谷七分中醫者若能明此理針下之時便見功</p>
<p>肩背並和肩膊疼曲池合谷七分深未愈尺澤加一寸更於三間次第行各入七分於穴內少風二府刺心經穴內淺深依法用當時㹱疾兩之經</p>
<p>咽喉以下至於臍胃脘之中百病危心氣痛時胸結硬傷寒嘔噦悶涎隨列缺下針三分許三分針瀉到風池二足三間並三里中衝返刺五分依</p>
<p>幹出難來刺腕骨五分針瀉要君知獸際經渠並通里一分針瀉汗淋漓足指三開久三里大指各刺五分宜汗至如若通遍體有人明此是醫師</p>
<p>四肢無力中邪風眼澀難開百病攻精神昏倦多不語風池合谷用針通兩手三間隨後瀉三里兼之與太衝各入五分於穴內迎隨得法有神功</p>
<p>風池手足指諸間右瘓偏風左曰癱各刺五分隨後瀉更灸七壯便身安三里陰交行氣瀉一寸三分量病看每穴又加三七壯自然瘓癱即時安</p>
<p>瘧疾將針刺曲池經渠合谷共相宜五分針刺於二穴瘧病纏身方得離未愈更加三間刺五分深刺莫憂疑又兼氣痛增寒熱間使行針莫用遲</p>
<p>腿膝腰疼痞氣攻臗骨穴內七分窮更針風市兼三里一寸三分補瀉同又去陰交瀉一寸行間仍刺五分中剛柔進退隨呼吸去疾除疴捻指工</p>
<p>肘膝疼時刺曲池進針一寸是便宜左病針右右針左依此三分瀉氣哥膝痛三分針犢鼻三里陰交要七次但能仔細尋其理劫病之功在片時</p>

<h2>論子午注之法</h2>
<p>夫子午流注者剛柔相配陰陽相合氣血循環時穴開闔也何以子午言之曰子時一刻乃一陽之生至午時一刻乃一陰之生故以子午分之而得乎中也流者往也注者住也天干有十經有十二甲膽乙肝丙小腸丁心戊胃巳脾庚大腸辛肺壬膀胱癸腎余兩經者乃三焦包絡也三焦乃陽氣之父包絡乃陰血之母此二經雖奇於壬癸亦分派於十干且每經之中有井榮俞經合以配金水木火土是故陰井木而陽井金陰榮火而陽榮水陰俞土而陽俞木陰經金而陽經火陰合水而陽合土矣經中又有返本還原者乃十二經出入之門戶也陽經有原遇俞穴並過之陰經無原以俞穴即代之是以甲出丘墟乙太衝之例又按千金云六陰經亦有原穴乙中都丁通里巳公孫辛列缺癸水泉包絡內關也故陽日氣先行而血後隨也陰日血先行而氣後隨也得時為之開失時為之闔陽干注腑甲丙戊庚壬而重見者氣納於三焦陰乾注臟乙丁己辛癸而重見者血納包絡如甲日甲戌時以開膽井至戊寅時正當胃俞而又並過膽原重見甲申時氣納三焦榮穴屬水甲屬木是以水生木謂甲合還元化木又如乙酉時以開肝井至己丑時當脾之俞井過肝原重見乙未時血納包絡榮穴屬火乙屬木是以木生火也余皆依此俱以子母相生陰陽相濟也陽日無陰時陰日無陽時故甲與己合乙與庚合丙與辛合丁與壬合戊與癸合也何以甲與合曰中央戊己屬土畏東方甲乙之木所克戊方陽為兄己屬陰為妹戊兄遂將己妹嫁與木家於甲為妻庶得陰陽和合而不相傷所以甲與己合余皆然子午之法盡於此矣</p>

<h2>五虎建元日時歌</h2>
<p>甲己之日丙寅起乙庚之辰戊寅頭丙辛便從庚寅起丁壬壬寅順行求戊癸甲寅定時侯六十首法肋醫流</p>

<h2>十二經納天干歌</h2>
<p>甲膽乙肝丙小腸丁心戊胃己脾鄉庚屬大腸辛屬肺壬屬膀胱癸腎臟三焦亦向壬中寄包絡同歸入癸方</p>

<h2>十二經納地支歌</h2>
<p>肺寅大卯胃辰宮脾巳心午小未中申胱酉腎心包戌亥子三膽醜肝通</p>

<h2>十二經之原歌</h2>
<p>甲出丘墟乙太衝丙居腕骨是原中丁出神門原內過戊胃氣可通巳出太白庚合谷辛原本出太淵同壬歸京骨曲池穴癸出太谿大陵中</p>

<h2>子午流注十二經井榮俞原經合歌</h2>
<p>手大指內太陰肺少商為井榮際太淵之穴號俞原行入經渠尺澤類監指陽明曰大腸商陽二間三間詳合谷陽谿依穴取曲池為合正相當中指厥陰心包絡中衝掌中勞宮索大陵為俞本是原間使從容求曲澤無名指外是三焦關衝尋至液門頭俞原中渚陽池取經合支溝天井求手小指內少陰心少衝少府井縈尋神門俞穴為原穴靈道仍須少海真手小指外屬小腸少澤流於前谷內後谿腕骨之俞原陽谷為經合少海足大指內太陰脾井縈隱白大都推太白俞原商丘穴陰陵泉合要須知足大指端厥陰肝大都為井榮行間太衝為俞原都是經在中封合曲泉足第二指陽明胃厲兌內庭須要會陷谷衝陽經解谿三里膝下三寸是足掌心中少陰腎湧泉然谷天然定太谿腎俞不為原復溜陰谷能醫病足第四指少陽經竅陰為井俠谿榮衛原臨泣丘墟穴陽輔陽陵泉認真足小指外屬膀胱至陰通谷井榮當束府次尋京骨穴崑崙經合委中央</p>

<h2>子午流注逐日按時定穴歌</h2>
<p>甲日戌時膽竅陰丙子時中前谷榮戊寅陷谷明陽俞返本丘墟本在寅庚辰經注陽谿穴壬午膀胱委中尋甲申時納三焦求榮合天干取液門</p>
<p>乙日酉時肝大敦丁亥時榮少府心己丑太白太衝穴辛卯經渠是肺經癸巳腎宮陰谷合乙未勞宮水穴榮</p>
<p>丙日申時少澤當戊戌內庭治脹康庚子時在三間俞本原腕骨可祛黃壬寅經水崑崙上甲辰陽陵泉合長丙午時受三焦木中渚之中仔細詳</p>
<p>丁日未時心少衝己酉大都脾土逢辛亥太淵神門穴癸丑復溜腎水通乙卯肝經曲泉合丁巳包絡大陵中</p>
<p>戊日午時厲兌先庚申榮穴二間遷壬戌膀胱尋束骨衝陽土穴必還原甲子膽經陽輔是丙寅小海穴安然戌辰氣納三焦脈經火支溝刺必痊</p>
<p>己日巳時隱白始辛未時中魚際取癸酉太谿太白原乙亥中封內踝比丁丑時合少海心巳卯間使包絡止</p>
<p>庚日辰時商陽居壬午膀胱通谷中甲申臨泣為俞水合谷金原返本歸丙戌小腸陽谷火戊子時居三里宜庚寅氣納三焦合天井之中不用疑</p>
<p>辛日卯時少商本癸巳然谷何須付乙未太衝原太淵丁酉心經始道引己亥脾合陰陵泉辛丑曲澤包絡准</p>
<p>壬日寅時起至陰甲辰膽脈俠谿榮丙午小腸後谿俞返本京骨本原尋三焦寄有陽池穴返本還原似的親戌申時註解溪胃大腸庚戌曲池真壬子氣納三焦寄井穴關衝一片金關衝屬金壬屬水子母相生恩緣深</p>
<p>癸日亥時井湧泉乙丑行間穴必然丁卯俞穴神門是本尋腎水太谿原包絡大陵原並過己巳商丘內踝邊辛未肺經合尺澤癸酉中衝包絡連子午截時安定穴留傳後學莫忘言</p>
<p>上子午流注之法無以考焉雖針灸四書所載尤且不全還元返本之理氣血所納之穴俱隱而不具予今將流注按時定穴編成歌括一十首使後之學者易為記誦臨用之時不待思忖且後圖乃先賢所綴故不敢廢備載於後庶有所證耳原圖十二今分定十耳</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>

<h2>論經脈有奇經八脈</h2>
<p>難經云脈有奇經八脈者不拘於十二經何謂也然有陽維有陰維有陽蹺有陰蹺有沖有任有督有帶之脈凡此八脈皆不拘於經故曰奇經八脈也經有十二絡有十五凡二十七氣相隨上下何獨不拘於經也然聖人圖設溝渠通利水道以備不然天雨降下溝渠溢滿當此之時霶霈妄行聖人不能復圖也此絡脈滿溢諸經不能復拘也既不拘於十二經絡皆從何起何繼詳見下文</p>

<h2>奇經八脈周身交會歌</h2>
<p>督脈起自下極腧並與脊裡上風府過腦額鼻入齦交為陽脈海都綱要任脈起於中極底上覆循喉承漿里陰脈之海任所為衝脈出胞至胸止從腹會咽絡口唇女人成經為血室脈並少陰之腎經與任督本於陰會三脈並起而異行陽蹺起足跟之底循外踝上入風池陰蹺內踝循喉嗌本是陰陽脈別支諸陰會起陰維脈發足少陰築賓郗諸陽會起陽維脈太陽之郄金門是帶脈周四季脅問會於維道足少陽所謂奇經之八脈維繫諸經乃順常</p>

<h2>八脈交會八穴歌</h2>
<p>公孫衝脈胃心胸內關陰維下認同臨泣膽經連帶脈陽維自銳外關逢後谿督脈內眥頸申脈陽蹺絡亦通列缺肺任行肺系陰蹺照海膈喉嚨</p>

<h2>八脈配八卦歌</h2>
<p>乾屬公孫艮內關巽臨泣震外關還離居列缺坤照海後谿兌坎申脈間補瀉浮沉分逆順得時呼吸不為難祖傳秘訣神針法萬病如拈立便安</p>

<h2>八穴相配合歌</h2>
<p>公孫偏與內關合列缺能消照海疴臨泣外關分主客後谿申脈正相和左針右病知高下以意通經廣按摩補瀉迎隨分逆順五門八法是真科</p>

<h2>八法五虎建九日時歌</h2>
<p>申巳之辰起丙寅乙庚之日戊寅行丙辛便起庚寅始丁壬壬寅一順尋戊癸甲寅定時候五門得合是元回</p>

<h2>八法逐日乾支歌</h2>
<p>甲己辰戌丑未十乙庚申酉九為期丁壬寅卯八成數戊癸巳早七裁依丙辛亥子亦七數逐日支幹即得知</p>

<h2>八法臨時支幹歌</h2>
<p>甲己子午九宜用乙庚丑未八無疑丙辛寅申七作數丁壬卯酉六須知戊癸辰戌各有五巳亥單加四共齊陽日除九陰除六不及零餘穴下椎</p>
<figure>
<img alt="靈龜八法之圖">
</figure>
<p>假如甲子日戊辰時就數逐日支於內得十數子得七數又算臨時支幹內戊得五數辰得五數共成二十七數此是陽日該除二九一十八數除有九數是離九列缺穴也</p>
<p>又如乙丑日壬午時就算逐日支幹內乙得九數醜得十數又美臨時支幹內壬得六數午得九數共成三十九數此是陰日該除五六方三十數零有四數是巽四臨泣也余皆仿此</p>

<h2>飛騰八法歌（與前法不同）</h2>
<p>壬申公孫即是乾丙居艮上丙關然戊午臨泣生坎水庚屬外關震相連辛上後谿裝巽卦己癸申脈到坤傳己土列缺南離上丁居照海兌金全</p>
<p>其法只取本日天干為例假如甲乙日戊辰時即取戊午臨泣穴己巳時即列缺庚午時即外關余皆仿此</p>
<p>愚謂奇經八脈之法各有相同前靈龜八法有陽九陰六十干十變開闔之理用之得時無不捷效後飛騰八法亦明師所授故不敢棄亦載於前以俟示之學者</p>

<h2>八穴交會八脈</h2>
<p>（公孫二穴父通　衝脈　內關二穴母通　陰維脈）合於心胸胃</p>
<p>（後谿二穴夫通　督脈合於目內眥頸項耳肩膊小腸膀胱　申脈二穴妻通　陽蹺脈）</p>
<p>（臨泣二穴男通　帶脈　外關二穴女通　陽維脈）合於目銳眥耳後頰頸肩</p>
<p>（列缺二穴主通　任脈　照海二穴客通　陰蹺脈）合於肺系咽喉胸膈</p>

<h2>八穴主治病證</h2>
<p>公孫二穴通衝脈脾之經在足大指內側本節後一寸陷中令病人坐合兩掌相對取之主治三十六證</p>
<p>凡治後證必先取公孫為主次主各穴應之</p>

<h2>流注之穴手不過肘</h2>
<figure>
<img alt="手太陰肺經流注之圖">
</figure>
<p>少商二穴在手大指內側去爪甲如韭葉許　魚際二穴在手大指本節後內側散脈中　太淵二穴在掌後橫中陷中　經渠二穴在手掌後寸口脈中　列缺二穴在手側腕上指相叉指處是穴　尺澤二穴在手肘約紋中</p>
<figure>
<img alt="手厥陰心包絡經流注之圖">
</figure>
<p>中衝二穴手中指內廉之端去爪甲如韭葉許　勞宮二穴在手掌中心　大陵二穴在手掌後橫紋中　內關二穴在手掌後二寸中兩筋間　間使二穴去內間一寸在掌後三寸中　曲澤二穴在手肘內廉陷中曲肘得之</p>
<figure>
<img alt="手陽明大腸經流注之圖">
</figure>
<p>商陽二穴在手大指次指內側去爪甲角如韭葉許　二周二穴在此指本節前內側陷中　三間二穴在本節後內廉側陷中　合谷二穴在虎口岐骨之間陷中　陽谿二穴手腕上側陷中　曲池二穴在肘外輔骨屈肘曲骨之中</p>
<figure>
<img alt="手少陽三焦經流注之圖">
</figure>
<p>關衝二穴在手無名指端端廉去爪甲如韭葉許　液門二穴在小指次指本節前陷中　中渚二穴在本節後陷中握拳取之　陽池二穴在手表腕上陷中　支溝二穴在手腕後三寸兩筋骨之間　天井二穴在肘外大骨大骨後肘上陷中</p>
<figure>
<img alt="手少陰心經流注之圖">
</figure>
<p>少衝二穴在手小指內廉端去爪甲如韭葉許　少府二穴在手掌內小指本節後陷中有勞宮　神門二穴在手掌後兌骨之端　通里二穴在掌後一寸　靈道二穴在掌後一寸五分　少海二穴在肘內廉橫紋頭曲手取之</p>
<figure>
<img alt="手太陽小腸經流注之圖">
</figure>
<p><u>少澤二穴在手小指之端外產去爪甲一分</u>　前谷二穴在手小指外側本節前陷中　後谿二穴在外側本節橫紋尖上陷中　腕骨二穴在手外側腕前起骨下陷中　陽谷二穴在手外骨踝下　少海二穴在肘大骨外去肘端五分端中</p>
<figure>
<img alt="足太陰脾經流注之圖">
</figure>
<p>（流注之穴足不過膝）</p>
<p>隱白二穴在足大指內側端去爪甲角如韭葉　大都二穴在大指本節後陷中　太白二穴在大指面側核骨下陷中　公孫二穴在大指內側去本節後一寸　商丘二穴在足內踝微前　陰陵泉二穴在足膝下內側輔骨下陷中</p>
<figure>
<img alt="足厥陰肝經流注之圖">
</figure>
<p>大敦二穴在足大指端去中一分　行間二穴在大指外間動脈應手　太衝二穴在大指本節後二寸動脈中　中封二穴在內踝前一寸仰足取之　中都二穴在內踝上七寸　曲泉二穴在膝內輔骨下橫紋盡處</p>
<figure>
<img alt="足陽明胃經流注之圖">
</figure>
<p>厲兌二穴在足大指次指端去爪甲一分　內庭二穴在足次指間陷中　陷谷二穴在足次指本節後陷中去內庭二寸　衝陽二穴在附上去內庭五寸　解谿二穴在足腕上系草鞋線處陷中　三里二穴在膝下三寸大筋內宛宛中</p>
<figure>
<img alt="足少陰腎經流注之圖">
</figure>
<p>湧泉二穴在足掌心陷中屈足卷指取之　然谷二穴在足內踝前大骨下　太谿二穴在足內踝後踝上動脈之中　水泉二穴在太谿下一寸　復溜二穴在足內踝上二寸　陰谷二穴在足膝內輔骨後大筋下小宛宛中</p>
<figure>
<img alt="足少陽膽經流注之圖">
</figure>
<p>竅陰二穴在足第四指端去爪甲一分　俠谿二穴在足四指外岐骨間本節前　臨泣二穴在本節後去俠谿七分半　丘墟二穴在足外踝微前陷中　陽輔二穴在足外踝上四寸輔骨前絕骨端如前三分　陽陵泉二穴在膝下骨下宛宛中</p>
<figure>
<img alt="足太陽膀胱經流注之圖">
</figure>
<p>○至陰二穴在足小指外側去爪甲角一分　通谷二穴在足小指外側本節前陷中　束骨二穴在小指本節後陷中　京骨一穴在指外側大骨下赤白肉際　崑崙二穴在外踝後骨上　委中二穴在足膝腕內膕內約紋中</p>

<h2>周身折量法</h2>
<p>夫取穴之法必有分寸（予）幸遇明師口傳心受逐部折量謹按明堂銅人千金資生甲乙資經參考釘定孔穴集成歌括名曰周身折量法也使學者易於記誦則孔穴瞭然在目倘有未具以俟後之君子更加削正庶斯道之不朽云</p>

<h2>光論取同身寸法</h2>
<p>千金云尺寸之法依古者八寸為尺八分為寸仍取本人男左女右手中指上第一節為一寸又有取手大拇指第一節橫度為一寸以意消詳巧拙在人亦有長短不定者今考之以男左女右大指與中指相屈如環取中指中節橫紋上下相去長短為一寸謂之同身寸法為準</p>
<figure>
<img alt="屈指量寸法">
</figure>

<h2>頭部中行一十四穴</h2>
<p>平眉三寸定髮際大杼三寸亦如是卻來折作尺二寸發上五分神庭位庭上五分名上星星上一寸囟會真前頂云囟一寸五頂上寸半百會所神聰百會四花求各取一寸風癇主後頂會後寸半中強間項後過寸五腦戶去間寸五分戶後寸半定風府下五分啞門中門下五分發際終更有明堂一穴差諸經俱作上星穴頭部中行折量法</p>
<figure>
<img alt="頭部中行之圖">
</figure>

<h2>頭部二行左右一十四穴</h2>
<p>曲差俠庭寸半量五處仍俠上星旁處後承光寸半中寸半通天絡卻在玉枕橫紋於腦戶尺寸仍准銅人數天柱在頂後髮際大筋邊外廉陷中是眉沖二穴兩眉頭直上入髮際相求銅人經中不曾載明堂經載近曲差</p>
<figure>
<img alt="頭部二行之圖">
</figure>

<h2>頭部三行左右一十二穴</h2>
<p>臨泣二穴當兩目直入髮際五分屬目窗泣後量一寸正營一寸足承靈營後寸五分去靈寸半是腦空風池取少陽陽經督會已當陽三穴當瞳人直上入發一寸銅人經不載明堂載風眩鼻塞不可發也</p>
<figure>
<img alt="頭部三行之圖">
</figure>

<h2>側頭部左右二十六穴</h2>
<p>腦空上廉為頷厭腦空之中號懸顱釐腦空下廉取耳上三寸天衝居率谷耳上一寸半曲鬢耳上當曲隅角孫耳廓當中取開口有空治目齒竅陰耳上動有空白耳後入髮際一寸之中審端的顱囟耳後青絡脈瘈脈耳本後邊中雞足青脈上相逢完骨耳後四分際耳尖後陷是醫風</p>
<figure>
<img alt="側頭部之圖">
</figure>
<figure>
<img alt="鵝掌瘋圖">
</figure>
<figure>
<img alt="半身瘋圖">
</figure>
<figure>
<img alt="腳疾圖">
</figure>
<figure>
<img alt="腳疾圖">
</figure>

<h2>肩膀部左右二十六穴</h2>
<p>肩膊之穴二十六缺盆之上肩井當天髎盆上瑟骨際巨骨肩端上兩行肩之前廉為臑會肩顒膊骨陷中揣肩髎臑上舉臂取髃後肩貞當骨解脅腧胛上大骨中大骨之下名天宗天宗之前秉風穴肩中曲胛曲垣中肩外俞胛上廉折肩中俞胛內相逢</p>
<figure>
<img alt="背部中行之圖">
</figure>
<p>上有大杼下尾骶分為二十有一柱有來自有折量法同身三寸而取腧七寸八分分上七上之七節即是柱平肩大杼大骨下第二陶道三身柱四柱無穴神道五靈臺第六柱下數至陽七柱八又缺筋縮九柱十又歇脊柱十一十二無十三柱下號懸樞十四命門穴十五陽關十六柱下睹十七至二十俱無廿一柱名腰俞下去更有長強穴請君逐一細尋之間中七節長二分大要十四與平臍一尺二寸一分四後有密戶宜審思</p>
<figure>
<img alt="背部中行十三穴圖">
</figure>

<h2>背部二行左右四十六穴</h2>
<p>中行各開寸五分第一大杼二風門肺俞三柱厥陰四五柱之下是腎俞督俞六柱膈俞七八柱無俞肝九覓膽俞下十一脾俞二柱下胃俞知一焦腎俞氣海俞十三十四十五大腸俞關元俞怎量十六十七柱兩傍十八柱下小腸俞十九柱中是膀胱中膂內俞柱二十白環二十一柱量上窌次窌中與下一空二空俠腰踝此為背部之二行又有會陽陰尾傍</p>
<figure>
<img alt="背部二行圖">
</figure>

<h2>背部三行二十八穴</h2>
<p>去脊左右各三寸第二柱下名附分魄戶第三柱下取膏肓四柱下三分神堂第五譩譆六膈關七柱八魄門陽綱十意舍十一胃倉十二柱下覓肓門十三直肋間志室十四柱下看胞肓二穴十九取秩邊二十柱下止</p>
<figure>
<img alt="背部三行之圖">
</figure>

<h2>側頸部左右十八穴</h2>
<p>曲頰之後名天容缺盆之上尋天牖完骨之下發際上天柱之穴天容後頸上大筋是天窗扶突後寸天鼎雙扶突人迎後寸半缺盆肩下橫骨當人迎穴在頸大脈此穴禁灸令人傷水突穴在人迎下氣舍又居天突傍</p>
<figure>
<img alt="側頸部之圖">
</figure>

<h2>膺部中行七穴</h2>
<p>天突喉下宛宛中璇璣突下一寸逢璣下一寸華蓋穴蓋下寸六分紫宮穴玉堂宮下一寸六兩乳中間是膻中中庭膻下仍寸六四穴各寸六分同</p>
<figure>
<img alt="膺部中行之圖">
</figure>

<h2>膺部二行左右十二穴</h2>
<p>腧戶之傍仁寸所巨闕之下尋腧府府下寸六分彧中彧中寸六神藏逢神下寸六靈墟穴墟下寸六到神封封下寸六步即是膺部二行穴盡矣</p>
<figure>
<img alt="膺部二行之圖">
</figure>

<h2>膺部三行十二穴</h2>
<p>腧府之傍二寸尋穴名氣戶生胸襟庫房屋翳膺窗共各去一寸六分真乳中正當乳之上乳根乳下六分相</p>
<figure>
<img alt="膺部三行之圖">
</figure>

<h2>膺部四行十二穴</h2>
<p>氣戶兩傍二寸分巨骨之下尋雲門云下一寸是中府周榮穴下六分胸鄉天溪並食竇各下一寸六分同</p>
<figure>
<img alt="膺部四行之圖">
</figure>

<h2>側腋部八穴</h2>
<p>腋下三寸名淵腋腹前一寸名承筋天池在乳後一寸大包腋下六寸真</p>
<figure>
<img alt="側腋部之圖">
</figure>

<h2>腹部中行十五穴</h2>
<p>腹部中行尋鳩尾蔽骨之下五分是巨闕在尾下一寸尾下二寸上脘記尾下三寸中脘名尾下四寸是建里尾下五寸下脘中尾下六寸水分比神闕臍中氣舍真臍下一寸陰交是臍下寸半氣海中臍下二寸石門裡臍下三寸名關元臍下四寸中極底曲骨尾際陷中求會陰兩陰間是矣</p>
<figure>
<img alt="腹部中行之圖">
</figure>

<h2>腹部二行左右二十二穴並三行二十四穴</h2>
<p>幽門寸半巨闕邊下去一寸通谷然陰都石關及商曲肓俞中注四滿連氣穴大赫並橫骨各下一寸分明言幽門兩傍寸半是名曰不容依法取下有承滿與梁門關門太乙滑肉止以上各下一寸當天樞二穴俠臍傍樞下一寸外陵是陵下二寸名大巨水道在巨下三寸道下二寸歸來比氣衝又在歸來下鼠鼷之上一寸許</p>
<figure>
<img alt="腹部二行三行之圖">
</figure>

<h2>腹部四行左右十四穴</h2>
<p>期門在腹肝之募不容穴傍寸半取日月門下五分求腹哀穴下一寸所大橫哀下三分看府舍在結下三寸橫下五寸衝門斷</p>
<figure>
<img alt="腹部四行之圖">
</figure>

<h2>側脅部左右十二穴</h2>
<p>章門脾募季筋端臨骨腰中京門看帶脈腋下一寸八五樞帶下三寸安五寸三分章門下維道有穴真無價居髎合取八寸三脅堂二骨門腋下</p>
<figure>
<img alt="側脅部之圖">
</figure>
<figure>
<img alt="陽證中風不語痰涎壅塞圖">
</figure>
<p><u>先針無病手足</u></p>
<figure>
<img alt="陰證中風筋脈拘攣圖">
</figure>
<figure>
<img alt="中風不省人事圖">
</figure>
<figure>
<img alt="中風口噤不開圖">
</figure>
<p><u>手中指相合炙之尤妙</u></p>
<figure>
<img alt="中風口眼喎斜圖">
</figure>
<figure>
<img alt="半身不遂風圖">
</figure>
<figure>
<img alt="中風左癰右瘓圖">
</figure>
<figure>
<img alt="風痙症腰脊強圖">
</figure>
<figure>
<img alt="傷寒頭痛圖">
</figure>
<figure>
<img alt="傷寒頭項強圖">
</figure>
<figure>
<img alt="傷寒脅肋痛圖">
</figure>
<figure>
<img alt="傷寒胸膈痛圖">
</figure>
<figure>
<img alt="傷寒發熱圖">
</figure>
<figure>
<img alt="傷寒惡寒發熱圖">
</figure>
<figure>
<img alt="傷寒大熱不退圖">
</figure>
<figure>
<img alt="傷寒熱退再發圖">
</figure>
<figure>
<img alt="傷寒熱病圖">
</figure>
<figure>
<img alt="傷寒溫病圖">
</figure>
<figure>
<img alt="傷寒惡風自汗圖">
</figure>
<figure>
<img alt="傷寒無汗圖">
</figure>
<figure>
<img alt="傷寒汗不止圖">
</figure>
<figure>
<img alt="傷寒咳嗽圖">
</figure>
<figure>
<img alt="傷寒氣喘圖">
</figure>
<figure>
<img alt="傷寒咽喉閉圖">
</figure>
<figure>
<img alt="傷寒結胸圖">
</figure>
<figure>
<img alt="傷寒小便不通圖">
</figure>
<figure>
<img alt="傷寒大便閉圖">
</figure>
<figure>
<img alt="傷寒腰脊強痛圖">
</figure>
<figure>
<img alt="傷寒嘔吐圖">
</figure>
<figure>
<img alt="霍亂吐瀉轉筋圖">
</figure>
<figure>
<img alt="傷寒發強圖">
</figure>
<figure>
<img alt="傷寒發痓圖">
</figure>
<p><u>其證身體強直有汗者柔痓與汗者剛痓</u></p>
<figure>
<img alt="傷寒發斑圖">
</figure>
<figure>
<img alt="傷寒過絰不解圖">
</figure>
<figure>
<img alt="傷寒六脈俱無圖">
</figure>
<figure>
<img alt="傷寒陰毒圖">
</figure>
<p><u>腰背重痛心腹脹滿指甲黑舌卷唇黑四肢不語</u></p>
<figure>
<img alt="傷寒腹內脹滿圖">
</figure>
<figure>
<img alt="傷寒小腹脹大便閉結也圖">
</figure>
<figure>
<img alt="傷寒病後鼻清沸奉壘不密肺感寒邪所致其證圖">
</figure>
<figure>
<img alt="傷寒腹痛圖">
</figure>
<figure>
<img alt="傷寒譫語圖">
</figure>
<figure>
<img alt="雜病大寒大熱圖">
</figure>
<figure>
<img alt="中暑不省人事圖">
</figure>
<figure>
<img alt="發瘧寒熱圖">
</figure>
<figure>
<img alt="一切瀉肚圖">
</figure>
<figure>
<img alt="嘔吐圖">
</figure>
<figure>
<img alt="吐血衄血圖">
</figure>
<figure>
<img alt="翻胃吐食圖">
</figure>
<figure>
<img alt="頭面虛腫圖">
</figure>
<figure>
<img alt="水腫圖">
</figure>
<figure>
<img alt="四肢浮腫圖">
</figure>
<figure>
<img alt="小腹脹滿圖">
</figure>
<p><u>大小便結滯而脹非氣滿也宜下之</u></p>
<figure>
<img alt="蠱脹圖">
</figure>
<figure>
<img alt="癇證圖">
</figure>
<figure>
<img alt="喑啞之聲圖">
</figure>
<figure>
<img alt="癆瘵之證圖">
</figure>
<figure>
<img alt="頭風痛及身體痛圖">
</figure>
<figure>
<img alt="腎厥頭痛圖">
</figure>
<figure>
<img alt="頭眩眼目生花圖">
</figure>
<figure>
<img alt="赤眼腫痛圖">
</figure>
<figure>
<img alt="眼目內障圖">
</figure>
<figure>
<img alt="眼目昏花視物不明圖">
</figure>
<figure>
<img alt="弩肉極睛圖">
</figure>
<figure>
<img alt="鼻窒不聞香臭圖">
</figure>
<figure>
<img alt="腦寒鼻出臭圖">
</figure>
<figure>
<img alt="兩耳虛鳴圖">
</figure>
<figure>
<img alt="耳聾閉氣圖">
</figure>
<figure>
<img alt="耳紅痛腫圖">
</figure>
<figure>
<img alt="咽喉腫痛圖">
</figure>
<figure>
<img alt="手背紅腫圖">
</figure>
<figure>
<img alt="手掌紅腫圖">
</figure>
<figure>
<img alt="手臂冷風痛圖">
</figure>
<figure>
<img alt="心氣疾痛圖">
</figure>
<figure>
<img alt="胸膈疼痛圖">
</figure>
<figure>
<img alt="氣疾痛圖">
</figure>
<figure>
<img alt="氣喘急哮咳嗽圖">
</figure>
<figure>
<img alt="冷氣咳嗽久不愈圖">
</figure>
<figure>
<img alt="腸風臟毒圖">
</figure>
<figure>
<img alt="腕肛腫痛圖">
</figure>
<figure>
<img alt="小便不利圖">
</figure>
<figure>
<img alt="草鞋風腳攣風圖">
</figure>
<figure>
<img alt="兩腿風痛不能行步圖">
</figure>
<figure>
<img alt="四肢厥逆圖">
</figure>
<figure>
<img alt="發背癰疽圖">
</figure>
<figure>
<img alt="酒渣鼻赤圖">
</figure>
<figure>
<img alt="喉風圖">
</figure>
<figure>
<img alt="黃腫圖">
</figure>
<figure>
<img alt="腳膝鼓槌風圖">
</figure>
<figure>
<img alt="霍亂吐瀉圖">
</figure>
<figure>
<img alt="小兒驚風圖">
</figure>
<figure>
<img alt="小兒角弓反張圖">
</figure>
<figure>
<img alt="婦人血事不調　孕婦不可針灸圖">
</figure>
<figure>
<img alt="經水斷絕不行圖">
</figure>
<figure>
<img alt="婦人閉經圖">
</figure>
<figure>
<img alt="婦人胎冷無孕圖">
</figure>
<figure>
<img alt="婦人無乳圖">
</figure>
<figure>
<img alt="婦人乳癰腫痛圖">
</figure>
<figure>
<img alt="胎衣不下及死胎不出圖">
</figure>
<figure>
<img alt="產後惡血不下血塊痛圖">
</figure>
<figure>
<img alt="血崩漏下圖">
</figure>

<h2>定取四花穴法</h2>
<p>灸骨蒸癆瘵若人初得此疾即便如此法灸之無不效者但醫者多不得真穴以致有誤也今具直格使後學者一見了然無誤豈非活人之心哉</p>
<p>先用細繩一條約三四尺以蠟抽之勿令展縮令病人平身正立以繩頭男取左足女取右足從大拇指頭比齊從腳板底踏定引繩至腳跟中心向後直上腳肚貼肉至膝腕肉⿱秋月中大橫紋截斷次令患人解發分開兩邊要見頭縫自囟門平分至腦後乃平身正塵將前截索子一頭從鼻端齊按之引繩向上正循頭縫至腦後貼肉垂下當脊骨引繩向下至蠅盡處當脊骨以墨點記之（此墨點不是灸穴）別以稻稈心令病人合口將稈心按於口上兩頭至吻卻勾起稈心中心至鼻端根下如人中樣齊兩吻截斷將此稈展直於先在脊以墨記之取中橫墨勿令高下於稈心兩頭以墨點記之中是灸穴名曰患門二穴初灸七壯累灸一百壯妙初只灸此二穴以令患人平身正坐稍縮臂膊取一繩繞項向前平結喉骨後至大杼骨俱以點記向前兩垂與尾鳩尾齊即截斷</p>
<p>翻繩向後以繩原點結喉墨放大杼上大杼墨放結喉結喉放骨中雙繩頭齊會處以墨點記（此不是灸穴）別取稈心令其人合口無得動唉橫墨齊兩吻截斷之還於背上墨記處脊中橫量兩頭點之此是穴又將循脊直量上下點之此是灸穴名曰四花初灸七壯累灸至百壯迨瘡愈疾未愈依前法複穴故云累灸至百壯俱當脊骨上兩穴切宜少矣一次只可灸三五次多灸恐人蜷背凡灸此六穴亦要足三里以瀉火氣為妙若女人纏帛裹足以至短少所第一次患門穴難以准量但取右手肩髃穴貼肉量至中指為盡亦可不若只取膏肓穴灸之其穴備載於後次灸四花穴亦效予嘗觀人初有此疾即與依法灸之無有不效但恐病根深固依此灸之</p>
<figure>
<img alt="圖">
</figure>
<p><u>此上二穴</u>　名曰患門　下四穴名　四花故曰　四花六穴</p>
<figure>
<img alt="圖">
</figure>
<p><u>治癰疽騎竹馬灸法</u>　不問男女諸般發背癰疽奶癰並治</p>
<p>用竹片作圈仔闊二分頓在瘡上將藥填平以艾灸之第一先從男左女右臂腕中曲橫紋起薄篾一條量過中指肉盡處指甲不量剪斷</p>
<p>第二以男左女右中指屈中節兩紋頭剪斷為一寸此係同身寸法為則</p>
<p>先令病人脫去上下衣服以大竹槓一條跨定兩人隨徐徐扛起足要離地五寸許兩傍更以兩人扶定母令搖動不穩卻以前量長篾貼定竹槓豎起從尾骶骨貼脊量至篾盡處以筆點記不是灸穴卻用後取同身寸篾取兩寸平㫄自中穴橫量束各一寸方是穴可灸三七壯此二穴專治癰疽惡瘡發背瘰癧諸風灸之立效</p>
