<header data-type="book">
<h1>古今醫徹</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>懷遠</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1808">公元1808年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第五冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521055">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>予始識懷子抱奇時。方治帖括。自後天下苦兵革。生齒半瘡痍。予愧出而為吏。未能蘇疾苦。振窮厄。及退居鄉曲。知懷子隱於醫以自全。生活人無算。嗟乎。不為相則為醫。士君子利物濟民。有志者當如是矣。然而周官之於醫也。歲有考。月有稽。以其治療之多驗與否。定上中下之目。非如後世之人。自以為長桑而漫無准量者也。夫古今方伎匪一。惟醫則屬之。修短之數。利害攸寄。有人曰。我善用兵。兵不必孫吳。而勝之數少。敗之數多矣。有人曰。我善用藥。藥不必盧扁。而生之徒三。死之徒七矣。軒皇涿鹿之戰。開兵法之祖。乃素問一書。實為千古萬年續命之經。天道好生而惡殺。聖人以藥濟兵之窮。愚者乃姑妄試之。而刀圭竟為不祥之器。學醫人費。可不為寒心哉。語云。習方三年。無可醫之病。醫病三年。無可用之方。此言良醫別有慧悟。非必局於紙上陳言也。懷子則曰長沙易水諸大家。著書立言。發所未發以詔後人。皆大醫王慈照軟語。方不可執。法亦不可廢。第其中若者從。若者違。爭在絲髮之間。必能直追所見。自言其所當然。庶免史公疾多道少之譏。而治者稱至繁變莫傷寒若。故往往難之。懷子則出之以易。管令人約而可循。迄於雜症女科。爰悉舉其平昔已試之法。剴切詳盡。著為醫徹。吾知其於生人之道。真可告無罪於天下。譬之為民牧者。確有治譜可傳。稱為眾母無愧耳。</p>
<p><u>嘉慶戊辰季春青浦述庵王昶題</u></p>

<h1>序</h1>
<p>懷子抱奇氏。少治儒術。壯歲棄去。㠯家學濟世幾三十年。功大溥。頃之又㠯為施諸利濟。不若垂之於言。功益大溥。爰著傷寒醫徹一書。勒成一家言。自余雜症㠯次舉。遂貽顧子使討論之。願子乃言曰。嗟夫。古之君子。皆有神明之學。上窮下際。外察五運五氣之感。內洞三陰三陽五會之蘊。蓋有不待切脈望色聽聲㠯至寫形。莫不曉見生死。故其治人也。合表裡有餘不足順逆之法。參其人動靜與息相應。其道至於聞病之陽。論得其陰。聞病之陰。論得其陽。此至人之事。儒生學士。非所可與。僕中年來有志斯役。會人事閒之。忽忽不竟學。然竊見世人所害。莫亟於傷寒。而其變為甚。當漢中世。有仲景氏㠯神功聞。而所治多冬月犯邪。病在巨陽。率用麻黃取效。間立附子救里。不數數然也。厥後劉河間氏風行北地矣。切其大指。亦瀉伐之功百。溫平之功一。是二公者略相若。竊獨疑虛實嫌疑之辨。尚鐍而未啟。何也。至東垣李氏出。始發明兩感。分別內傷之因。繇是釋表不事。而建義補中。後之作者。方悟升陽導火。能救人於垂亡。而執例誤投者。往往不治。李氏之功。在內經豈小哉。今抱奇氏於諸家本末。詳哉言之。其為書也。於所患探其受者何陽何陰。或似是而非也。必有條也。於所治策其施者何標何本。或患同而治異也。必有別也。昔賢未發者補之。今人沿謬者正之。取所當療治多疑難而已效者。據證案末。可不謂體理燦然。博而有要哉。其勤至矣。僕因是有感焉。向嘗遊京師。意公卿大夫輻輳之地。必有國工若仲氏李氏。翱翔其中。比同舍生犯疾。延某診視。輒進大陷胸湯。越再宿結胸而逝。夫某者京師謂之良醫。所以致令譽繇此道也。乃一施之南人同舍生則死。斯固誤下之咎。或亦南北異稟。治北者不可移而之南乎。然不然也。抑因是又有感焉。憶兒童時。我郡多名家。所主治者盪滌而已。以人參立方什不得一。勉而少用。輒問曰。服參否也。而服者亦什不得一。今天下則毋論老幼。苟有疾必參。參不已必附。非是則言草木之汁不奏效也。計相去六十餘年耳。生民脆薄日㠯甚。視六十年前龐眉皓髮之侶。終身不進參附者。若太古然。豈天地元氣薄而不收。人生其時。雖大補而尚憂不足耶。然不然也。夫抱奇氏居中央斯量地氣之剛柔。和物化斯相古今之厚薄。既升仲氏之堂。旋入東垣之室。兼而濟之。各存其是。其書具在。儻所謂參其人動靜而與息相應。將在乎此。神而明之。豈伊異人與。僕私喜鄙言之有徵矣。時</p>
<p><u>嘉慶十三年在戊辰八月朔日同邑年家眷弟顧開雍拜手撰並書</u></p>

<h1>凡例</h1>
<p>一傷寒頭緒最繁。予盡削去。獨舉大綱。曉暢厥義。而條貫自達。</p>
<p>一傷寒向重表裡。而虛實為尤要。先哲已代明之。茲編特委曲詳盡。欲臨症者慎焉。</p>
<p>一是書專論傷寒。每引他症以相較。蓋他症既明。則不混於傷寒。而無妄治之失矣。</p>
<p>一凡先哲要旨。間取一二。以備參閱。蓋不敢私秘。欲公好於吾黨也。</p>
<p>一醫案僅舉一二。就正有道。匪敢矜其所得。效步邯鄲。務期有裨於大義而已。</p>
<p>一是集坦易簡直。然歷二十餘載。揣摩經驗。凡幾易稿始就。俟有識者採擇焉。</p>
<p>一雜症另附。取其明備。約於至當。不出先賢圍範。而亦不囿於圍範。有取之左右逢源之樂。故並載之。</p>
<p>一婦人科。凡調經胎前產後。最費調攝。得其指歸。仍易拾芥。茲編獨約而該。簡而明。參閱之自悉。</p>
<p>一原方備載。以便參考。有可遵守者。有宜變通者。在臨時裁酌。斷不應膠執以違病機。反致遺害也。</p>
<p>一醫學與他藝不同。毋論貴賤。為性命所倚托。非小可事也。必立心貴謹。處行欲方見聞期博。體驗惟精。庶足無愧。故並致篇末以告同志云。</p>

<h1>卷之一</h1>

<h2>傷寒</h2>

<h3>傷寒論</h3>
<p>經曰。人之傷於寒也。則為病熱。余始讀而疑之。謂既傷於寒。何以反病熱乎。蓋寒者天之陰氣也。熱者人之陽氣也。天以陰氣侵人。則拘急而畏寒。人以陽氣被郁。則蒸冒而發熱。然邪氣既盛。正氣不能拒之而出。須以辛溫之藥助之。使邪從汗解而愈。此發表之所由設也。重則麻黃。次則羌活。又次則紫蘇。皆當因其輕重而施之。中病即止。毋使過劑。過則邪氣既去。正氣反虛。種種變遷。不易枚舉。蓋汗者身之液也。始由寒閉腠理。無從發越。故藉汗以疏通。令氣和平斯已。今發之太過。則人身之津液既耗於外。必竭於內。無論汗多亡陽。而胃腑燥竭。腎陰消亡。煩渴秘結等症。總由一汗所致。諸謂其可泛視乎。故余嘗謂治傷寒法。不可不汗。不可輕汗。不可大汗。不可再汗。不可誤汗。明乎此者。庶入仲景之室而免文伯之恐也。</p>
<p>一太陽受冬月嚴寒。頭疼壯熱。畏寒拘急。脈緊盛而無汗者。仲景用麻黃二錢。桂枝一錢。甘草五分。杏仁八粒。生薑三片。棗一枚。水煎。名麻黃湯。治冬月正傷寒。此不可不汗也。</p>
<p>一前症雖具。或感非時暴寒。不可與麻黃湯用羌活紫蘇防風荊芥葛根廣皮川芎甘草等。量症加減。此不可大汗也。</p>
<p>一前症雖具。或元氣素弱。或向有雜病。及產後。痘後。失血後。兼勞倦內傷。並犯房欲者。果又冒寒。方與荊防蘇葛甘草陳皮。隨症加減。微解其表。若不因寒而發熱者。只治其本。此不可輕汗也。</p>
<p>一前症雖具。曾經發表出汗。不可復用發散。蓋邪既卻矣。而又汗之。能不傷正氣乎。此不可再汗也。</p>
<p>一凡惡寒發熱。雜症皆有。即一瘡一癤亦復如是。豈可不審何證所致概用發散。如余治一婦惡寒發熱。脈得洪數。詢之乃左乳腫痛。余竟治其乳。腫痛頓消。寒熱亦止。舉一可例其餘。此不可誤汗也。</p>
<p>余觀近時風尚。凡病家。醫士。及旁觀者一發寒熱。動以傷寒首戒。每必曰曾汗否。曾下否。使汗之下之而斃。縱無憾也。如不汗不下而痊。猶未愜志焉。此生民之厄運。未俗之波靡也。失哲代起而痛發之。相沿不覺。可勝悼哉。余習見勞倦陰虛雜症。胎前產後暑病等。妄發汗而死者。不可勝計。不得不深致焉。</p>

<h3>兩感論</h3>
<p>傷寒一經有一經之症。則有一經之治。或傷於陽。或傷於陰。固不同也。經何以言兩感哉。傷寒有並病矣。如雲太陽未已。復過陽明或少陽。並之已盡。則入里。未盡。猶在表。是陽與陽並也。烏知陰不與陰並耶。有合病矣。如雲太陽陽明齊病。陽明少陽齊病。或三陽合病。則自下利是陽與陽合也。烏知陰不與陰合耶。有傳經矣。如雲一日太陽受之。二日陽明受之。三日少陽受之。四日太陰受之。五日少陰受之。六日厥陰受之。然有始終只在一經者。有傳一二經而止者。有越經而傳者。有過經不解者。是由陽傳入陰也。若陰出之陽則愈矣。有直中矣。三陰受邪。始終不發熱。乃不從陽經傳入。是陰自受病也。則與陽不相侔矣。若此者。俱不可謂之兩感。而所謂兩感者。則一陰一陽同受病也。如雲太陽與少陰俱病。則頭痛口乾而煩滿。陽明與太陰俱病。則腹滿身熱不欲食譫語。少陽與厥陰俱病。則耳聾囊縮而厥。水漿不入。不知人。雖然。三陽之頭疼身熱耳聾。感於寒者。則誠有之。三陰之煩滿譫語囊縮。則是傳經熱證。若初感於寒。則固未之或見也。且傳經熱證。與兩感之證。既已相同。何以於傳經者。曰熱雖甚不死。於兩感者。曰必不免於死。余不能無辨焉。蓋傳經者。由三陽入三陰。始終發熱。乃脈與證相合者也。兩感者。則一陰一陽。外受寒為表實。內受寒為裡虛。必脈證不相合者也。如嗣真云太陽症得少陰脈。少陰症反發熱之例。差足以當之。故予嘗謂傳經之邪。感之者多實。故不即犯三陰而無慮其為甚。兩感之邪。受之者必虛。故即兼及三陰而觸之即不免。經雖不言虛實。而雖甚必不免之辭。不可充而見之哉。若嗣真注兩感篇。則依文配釋。求之病情。終不相符。故予以嗣真太陽少陰之例。推之於陽明太陰。少陽厥陰。當無不然。又何疑之有。</p>
<p>附嗣真少陰症似太陽太陽脈似少陰不同論</p>
<p>蓋太陽病。脈似少陰。少陰病。證似太陽。所以謂之反。而治當異也。今深究其旨。均自脈沉發熱。以其有頭疼。故為太陽病。脈當浮。今反脈不浮而沉者。以裡虛久寒正氣衰微所致。今身體疼痛。故宜救里。使正氣內強。逼邪外出。而乾薑生附。亦能出汗而解。假若里不虛寒。則見脈浮。而正屬太陽麻黃證也。均自脈沉發熱。以其無頭疼。故名少陰病。當無熱。今反寒邪在表。但皮膚鬱閉而為熱。如在裡。則外必無熱。故用麻黃細辛以發表間之熱。附子以溫少陰之經。假使寒邪惟在裡。當見吐利厥逆等症。而正屬少陰四逆湯證也。以此觀之。表邪浮淺。發熱之反尤輕。正氣衰微。脈沉之反為重。此四逆為劑。不為不重於麻黃附子細辛湯也。可見熟附配麻黃。發中有補。生附配乾薑。補中有發。所謂太陽少陰脈沉發熱雖同。而受病有無頭疼與用藥自別。故並言之耳。若誤治之。其死必矣。</p>
<p>按嗣真云。太陽症頭疼身熱。是太陽感寒也。脈當浮而反沉。是少陰脈。又非少陰感寒乎。用四逆湯。治少陰。救里為急。不慮太陽之邪不出也。又云少陰症脈沉。是少陰感寒也。不應熱而反發熱。是太陽症。又非太陽感寒乎。用麻黃附子細辛湯。兼治太陽。以發表熱。不慮少陰之經不溫也。雖然。太陽症而脈浮。復兼吐利。將獨治太陽乎。少陰脈沉而發熱。不兼太陽。則又當專主少陰矣。不可不知。由此推之。如陽明身熱潮熱。而脈微弱下利四肢厥冷。則又是太陰矣。寧獨主陽明也乎。不得不參附子理中等湯。救太陰之裡也。少陽寒熱往來。而脈細蛔厥煩躁腹疼。則又是厥陰矣。寧獨主少陽也乎。不得不參吳茱萸等湯。救厥陰之逆也。蓋陽症陽脈。易辨也。陽症陰脈。症假脈真也。又有症假而脈亦假者。如陰極發躁。欲投水中。脈來鼓指。重按全無。內真寒而外假熱也。更有脈澀肢冷。嘔逆便秘。伏熱於中。水極似火。火極亦似水也。凡此者又豈可與兩感同論哉。要之治其本者。百不一失。治其標者。百不一得。臨症者慎旃。</p>
<p>四逆湯</p>
<p>附子（二錢）　甘草　乾薑（各一錢五分）</p>
<p>水煎服</p>
<p>麻黃附子細辛湯</p>
<p>麻黃　細辛（各二錢）　附子（一錢）</p>
<p>水煎服</p>
<p>理中湯</p>
<p>人參　白朮　乾薑（各一錢）　甘草（八分）</p>
<p>水煎服。腹痛甚。加附子。寒而吐者。加生薑。小便不利。加茯苓。腎氣動者。去朮。</p>
<p>吳茱萸湯</p>
<p>吳茱萸　生薑（各三錢）　人參（一錢）</p>
<p>水鍾半。棗一枚。煎七分服。</p>

<h3>太陽論</h3>
<p>經曰。巨陽者。諸陽之屬也。其脈連於風府。故為諸陽主氣也。又曰。傷寒一日巨陽受之。頭項痛。腰脊強。以其經從頭項下肩膊挾脊抵腰中。其所統者大。其所循者遠。故易以犯。犯之則惡寒發熱。獨甚於他經。仲景以麻黃湯發之。此有是太陽症。用是太陽藥也。若在陽明。則熱多而寒少。無是症矣。在少陽。則寒往而熱來。亦無是症矣。傳入三陰。則有熱而無寒。更無是症矣。故惟太陽一經。寒獨甚。脈獨緊。汗獨無。未傳陽明。則口不渴。未傳少陽。則耳不聾。仲景用麻黃湯為太陽之正治。固非易老九味羌活湯之所能代也。若苟非太陽而陽明。則用葛根湯。非太陽而少陽。則用柴胡湯。均非麻黃湯之可假借也。雖然太陽一經。非獨冬時嚴寒。能觸犯之。而四時寒邪。皆能犯之。如犯之而身果寒。脈果緊。其症具在。即四時皆用麻黃可也。如犯之而寒不甚。緊不盛。其症雖具。即冬時不用麻黃可也。況作勞辛苦之人。及本元虧損之後。而偶冒寒邪。脈緊少力者。又當從權以治。不必執用麻黃可也。蓋以麻黃驍悍之性。攻邪固易。損正不難。一誤投之。為變不測。可不慎乎。</p>
<p>按麻黃湯。為太陽經正藥。余所以諄諄慎之者。蓋非其時。非其經。非其人之質足以當之。鮮不為害。請勿輕試。為天下幸甚。</p>
<p><u>治驗</u></p>
<p>一友積勞後。感寒發熱。醫者不審。以麻黃湯進。目赤鼻衄。痰中帶血。繼以小柴胡湯。舌乾乏津。余診之。脈來虛數無力。乃勞倦而兼陰虛候也。誤投熱藥。能不動血而竭其液耶。連進地黃湯三劑。血止而神尚未清。用生脈散及歸脾湯去耆朮投之。神雖安而舌仍不生津。予曰。腎主五液。而肺為生化之源。滋陰益氣。兩不見效。何也。余熟思之。乃悟麻黃性不內守。服之而竟無汗。徒傷其陰。口鼻見血。而藥性終未發泄。故津液不行。予仍以生脈散固其本。用葛根陳皮引之。遂得微汗。舌果津生。後以歸脾湯六味丸而痊。</p>
<p>一醫者素自矜負。秋月感寒。自以麻黃湯二劑飲之。目赤唇焦。裸體不顧。遂成壞症。</p>
<p>一藥客感冒風寒。自謂知藥。竟以麻黃五錢服之。吐血不止而斃。此二症雖進黃連解毒犀角地黃湯。終不挽回。大可駭也。</p>
<p>麻黃湯</p>
<p>麻黃（二錢）　桂枝（一錢）　甘草（五分）　杏仁（八粒）</p>
<p>加薑棗水煎</p>
<p>九味羌活湯</p>
<p>羌活　防風　蒼朮（各一錢）　甘草　白芷　川芎　生地黃　黃芩（各一錢五分）　細辛（七分）</p>
<p>加薑棗水煎</p>

<h3>陽明少陽論</h3>
<p>經曰。二日陽明受之。陽明主肉。其脈挾鼻絡於目。故身熱目疼而鼻乾不得臥也。三日少陽受之。少陽主膽。其脈循脅絡於耳。故胸脅痛而耳聾。夫同是受寒。不日一日。獨日二日三日者。蓋傳經之邪居多。而自感者少。自感則寒。傳經則熱。仲景用葛根湯小柴胡湯主二經之病。節庵一曰解肌。一曰和解。又謂不從標本從乎中治。固知非若太陽汗之而愈也。學者其可執乎。然二經亦有自感者。如陽明為邪。首面大腫。少陽為邪。耳前後腫。此不從太陽傳入。而發熱與傷寒無異。東垣用普濟消毒飲子。及鼠黏子湯。治之。蓋陽明主燥。少陽主火。非比太陽屬寒水之司。故治各不同也。</p>
<p>按寒邪入里。未有不傳陽明。乃陽明腑病。非陽明之經也。陽明者胃也。胃為水穀之海。一受寒邪。則水穀不行。為熱。為渴。為脹滿。甚則譫語狂言。皆其邪也。治之者。不可過汗以竭其液。一也不可早下以傷其陰。二也。不可寒涼以阻其化。三也。宜以葛根平胃加減調之。若少陽一經。屬木有火。為嘔。為聲。為寒熱往來。則以小柴胡湯為主。女子臨經即謂熱入血室。甚則譫語。加生地丹皮。乃至正之法也。尤不可汗下。</p>
<p>一陽明傳變至多。治之貴乎得宜。寒則凝而食不化。熱則燥而液愈亡。故止渴用葛粉以鼓舞胃氣。勝於花粉知母。平胃用厚朴以溫中州。非比木香豆蔻。如在上用桔梗枳殼。在下用枳實青皮。而甘草調中。陳皮理氣。山楂萊菔消滯之類。雖極平和。實至當不易之常理也。然有飲食伏於中。而不顯於脈症者。有脈症似乎飲食。而實非飲食為患。乃中氣虛所致。則又當細問其病因。察其脈色舌苔。按其胸腹有無痛處。大便曾解不解。或補或瀉。出一定之見以療之。方為得耳。</p>
<p>葛根湯</p>
<p>葛根（一錢半）　麻黃（一錢）　桂枝　芍藥　甘草（各六分）</p>
<p>加薑棗水煎。此方治太陽無汗惡風。太陽陽明合病。如陽明腑病。不可概用。</p>
<p>小柴胡湯</p>
<p>柴胡（二錢）　黃芩　人參　半夏（各一錢）　甘草（五分）</p>
<p>加薑棗水煎服。</p>
<p>加味小柴胡湯（即前方加生地丹皮各一錢）</p>
<p>普濟消毒飲子</p>
<p>黃芩（酒炒）　黃連（各八分焙）　人參　橘紅　玄參　甘草（生用）　連翹　牛蒡子（炒研）　桔梗　柴胡　殭蠶（炒）　薄荷（各五分）　板藍根　馬屁勃　升麻（各二分）</p>
<p>水煎服。（便秘酒煨大黃一錢）</p>
<p>鼠黏子湯</p>
<p>牛蒡子（焙研）　枳殼　甘草（炙）　柴胡　連翹　黃芩　桔梗（各一錢）　薄荷葉（二錢）</p>
<p>水煎</p>

<h3>三陰論</h3>
<p>經言六經。而即繼之曰。三陰三陽。五臟六腑皆受病。此何以說也。余請以三陰概之可乎。傷寒傳入三陰。已寒變為熱矣。蓋太陰者脾也。其經布胃絡嗌。故邪入之。則腹滿而嗌乾。然經既屬脾。經病則脾亦病。脾主消磨。亦失其職。況布於胃則食不化。而腹滿絡於嗌。則熱傷陰而嗌乾。且但曰滿。則邪猶在中焦。未可遽下。故腹滿平以厚朴陳皮。嗌乾和以葛根枳桔。此雖治太陰之經。實即治陽明之腑也。少陰者腎也。其經絡肺系舌本。故邪入之。則口燥舌乾。而渴。然經雖屬腎。土旺則水必虧。腎為胃關。亦失傳化。況絡於肺。則水不升而作渴。繫於舌。則津益亡而口燥。此時邪熱已深。仲景所謂忽下以存津液。故實則大小承氣下之。虛則六味地黃潤之。此雖治少陰之經。亦即治足陽明兼手太陽手陽明之腑也。厥陰者肝也。其經循陰器而絡於咽。故邪入之。則煩滿而囊縮。厥陰者。陰之盡也。經雖屬肝。此時胃邪下陷。陽亢陰渴。腎水既虧。肝火彌熾。蓄熱不解。則煩而且滿。陰氣已極。則囊縮少泄。如果大便未下。急與下之。下後不解。即與黃連解毒之類。宣散蓄熱。庶或有生。此雖治厥陰之經。實即治五臟六腑俱受之病也。不然。或謂邪入於臟。或謂邪入於腑。又為藏物之臟。紛紛不已。曷與正之。</p>
<p>按三陰邪熱。皆從三陽傳入。而陽明失治尤多。始而過汗以竭其液。繼而過下以損其陰。液者。氣之餘也。陰者。血之屬也。氣血既損。則煩滿燥渴等症作矣。況無陽則陰無以生。無陰則陽無以化。三陰既虧。則腐熟傳道化物之司。愈失其職。仲景欲急下以存津液。豈無有窺其微者耶。養葵先生出。直以六味補水。挽其源而治之矣。</p>

<h3>三焦論</h3>
<p>內經傳入三陰。止曰可泄而已。仲景以下字易之。立大小調胃三承氣湯。後人遵而用之。一汗之後。輒爾遽下。遺人夭殃者多矣。不知仲景分痞滿燥實堅。有上中下三焦氣血水穀之別。不精求其理。則其法不可得而施也。何以言之。上焦者。氣分也。主納而不出。病則不能主納矣。於是為痞。在上者因而越之。然有可吐者。有不可吐者。有吐後不減者須枳桔陳皮之屬。泄上焦之氣則得矣。中焦者。主腐熟水穀者也。病則不能主腐熟矣。於是為滿。腸胃為市。無物不受。宜各隨其所受而消之磨之。加以苦溫等藥。是泄中焦法也。下焦者。陰分也。主出而不納。病則不能主出矣。於是為燥實堅積。蘊熱既久。津液必亡。不能傳導。須以盪滌之。劑下之。斯愈矣。由是觀之。則上中下三焦。自有淺深次第。有治上焦而中焦得快者。或治中焦而下焦得通者。斷未有不泄上中二焦。而遽用承氣以下下焦之理也。觀其曰邪在中焦。不用枳實厚朴。恐傷上焦元氣。以甘草和中。名曰調胃。豈芒硝大黃。獨不傷元氣乎。又豈甘草一味所能調之乎。觀其曰上焦受傷。則痞而實。去芒硝。名小承氣。謂不傷下焦真陰。豈枳實厚朴大黃。果不伐其根本乎。觀其又曰。三焦俱傷。痞滿燥實堅俱全。用大承氣湯。將謂上不傷元氣。下不伐真陰乎。又豈可一概浪投者乎。必須以手按病人。自胸至少腹果有硬處。手不可近。不得已而施之可耳。雖然。其間有至理存焉。人之所藉以有生者命門也。其所以稟命而運行者。三焦也。命門為生氣之原。一名守邪之神。三焦者。出氣以溫肌肉。充皮膚。故寒邪侵犯。獨賴此火以御之。使不得深入肌膚。即發壯熱。而出納腐熟之司。則不能如平人令矣。所以傷寒獨不可食。食亦不化。正謂邪熱不殺穀也。宜用甘苦溫之藥助之方可。奈何反用苦寒以伐其生氣哉。否則此火一衰。寒邪直犯則為純陰症矣。豈能發熱乎。</p>
<p>按予一日讀東垣脾胃論。其詮解黃耆。謂除躁熱肌熱之聖藥。又云溫肉分。益皮毛。實腠理。以益元氣而補三焦也。似乎勞倦發熱。亦本之三焦。則余以傷寒發熱。歸於三焦。益非無據。然內傷不能食而可食。傷寒獨不可食。何歟。一則本氣自病。利用補。一則客氣來乘。利用攻也。</p>
<p><u>附時珍三焦辨</u></p>
<p>時珍曰。三焦者。元氣之別使。命門者。三焦之本原。蓋一原一委也。命門指所居之府。而名為藏精系胞之物。三焦指分治之部。而名為出納腐熱之司。蓋一以體名。一以用名。其體非脂非肉。白膜裹之在七節之旁。兩腎之間。二繫著脊。下通二腎。上通心肺。貫屬於腦。為生命之原。相火之主。精氣之府。人物皆有之。生人生物。皆由此出。胡桃仁頗類其壯。而外皮水汁皆青黑。能入北方。通命門。利三焦。愚按即胰脂也。聯絡臟腑。充周一身。皆藉此。</p>
<p>謂胃承氣湯</p>
<p>大黃（六錢酒洗）　芒硝（四錢）　甘草（一錢）</p>
<p>水煎。</p>
<p>小承氣湯</p>
<p>大黃（四錢）　厚朴（二錢炒）　枳實（一錢炒）</p>
<p>水煎。</p>
<p>大承氣湯</p>
<p>大黃（五錢）　厚朴（二錢炒）　枳實（一錢炒）　芒硝（四錢）</p>
<p>水煎。</p>

<h3>陰證論</h3>
<p>陰寒一症。向謂寒邪直中。便爾四肢厥逆。陽氣頓竭。身如被杖。腹中絞痛。下利清穀。脈微欲絕。急投四逆理中輩以溫之。猶恐不及。竊思人之一身。有衛氣營氣。宗氣元氣。春升之氣。水穀之氣。種種護持。發源於三焦命門。以為生生之用者也。何寒邪一犯。輒爾深入至此。不知此非外中之寒。乃本身無火。命門真原。早已衰絕。即不受寒。而陰慘之象。已具於身中。偶或觸之。而遂至是也。或以為陽氣暴絕。或以為生冷內傷。或以為大寒侵犯。皆言其標而不言其本。所以仲景取方。止曰救里。意可知矣。況此症生氣索然。變異頃刻。非薑桂參附。不足回垂絕之元陽。猶得藉口於外中也哉。一少陰下利清穀。手足厥逆。脈微欲絕。身反不惡寒。其人面赤色。或腹痛。或乾嘔。或咽痛。或利止脈不出者。通脈四逆湯。生附子一錢。炙甘草一錢。乾薑一錢五分。溫服。面赤。加蔥。腹痛。加芍藥。嘔。加生薑。咽痛。加桔梗。利止脈不出。加人參。</p>
<p>一傷寒已發汗。不解。反惡寒者。虛也。仲景用白芍藥三錢。炙甘草三錢。炮附子二錢補之。黃耆建中湯。亦可用。</p>
<p>一傷寒下後。又發其汗。晝日煩躁不得眠。夜而安靜。不嘔不渴。無表症。脈沉微。身無大熱者。乾薑附子湯溫之。</p>
<p>一傷寒陰盛格陽。其人必躁熱而不飲水。脈沉手足厥逆者。是此症也。孫兆用霹靂散。附子一枚。燒存性。為末。蜜水調服。節庵用回陽返本湯更勝。李東垣治馮翰林侄。陰盛格陽傷寒。面紅目赤。煩渴引飲。脈來七八至。但按之則散。用姜附湯加人參投入。兩服之。得汗而愈。此則神聖之妙也。</p>
<p>一夾陰傷寒。先因欲事。後感寒邪。陽衰陰盛。六脈沉伏。小腹絞痛。四肢逆冷。嘔吐清水。不假此藥。無以回陽。人參炮姜各一兩。生附子一枚。破作八片。水煎分服。脈出身溫而愈。吳綬曰。附子乃陰症要藥。凡傷寒傳變三陰。及中寒夾陰。雖身大熱而脈沉者。必用之。或厥冷腹痛。脈沉細。甚則唇青囊縮者。急須用之。有退陰回陽之力。起死回生之功。近世陰症傷寒。往往疑似。不敢用附子。直待陰極陽竭而用之。已遲矣。且夾陰傷寒。內外皆陰。陽氣頓衰。必須急用人參。健脈以益其元。佐以附子溫經散寒。拾此不用。將何以救之。</p>
<p>按陰寒之症。為害迅速。余所以詳列之者。蓋欲臨是症者。加意焉而不敢忽也。</p>
<p>通脈四逆湯</p>
<p>四逆湯加甘草一倍</p>
<p>乾薑附子湯</p>
<p>乾薑（二錢）　附子（三錢）</p>
<p>水煎服</p>
<p>回陽反本湯</p>
<p>熟附子　乾薑　甘草　人參　麥門冬　五味子　臘茶　陳皮</p>
<p>面戴陽者。下虛也。加蔥七莖。黃連少許。用澄清泥漿水煎。臨服。入蜜五匙。頓冷飲之。</p>
<p>黃耆建中湯</p>
<p>黃耆（蜜炙一錢五分）　芍藥（二錢炒）　肉桂（一錢去皮）　甘草（五分炙）加薑棗水煎。去渣。入餳一大匙。煎一沸服。若大便溏利。或嘔者。不用餳</p>
<p>參附湯</p>
<p>人參（半兩）　附子（炮去皮臍一兩）</p>
<p>分作三服。姜水煎。</p>

<h3>陰虛論</h3>
<p>夫陰寒者。腎中之真火衰也。陰虛者。胃中之真水虧也。真火衰。則有寒而無熱。真水虧。則有熱而無寒。經曰。陰虛則發熱是也。世或不察。見其發熱。動曰傷寒。舛誤悖謬。莫可言狀。殊不知與傷寒二字。絕不相干。試診其脈。則不緊而數。不實而虛。驗其症。或頭目眩暈。或引衣倦臥。或腰腿痠疼。或渴喜熱飲。身雖熱而未嘗惡寒。不喜食而未嘗脹滿。詢其因。非酒色過縱。必大勞大病後。不能謹欲。乃致此。急與六味地黃湯大劑飲之。則熱退而病卻矣。或畏寒口渴。則用七味湯。足冷脈弱。則與八味湯。或有畏其泥膈而不敢輕嘗者。蓋不知六味八味等湯。皆是腎經本藥。直達下焦。使果陰虛。急藉以益水補火。必不可缺。必不可緩之劑。更何疑之有。</p>
<p><u>治驗</u></p>
<p>一人年五旬。得發熱症。已曾服藥七八日矣。比予診之。脈來虛數。目赤唇焦。舌腫大無津。余曰。此腎陰水衰之候也。宜進地黃湯。彼家猶豫。復延醫者曰。脈虛甚矣。乃所用藥。則芩連梔粉清火之劑。余曰。若服此而津生。所不待言。服此而更甚。則非此藥所能療也。及服之愈甚。始信予言。遂進地黃湯一劑。覺少寐而舌和。二劑而津果生。後與生脈散相間服之得痊。</p>
<p>一人年五旬余。素不謹欲。冒寒發熱。他醫曾與解散。及余視之。則脈微細。面色通紅。目赤唇焦。舌黑而枯。予曰。此真陰衰竭。水火兩虧。宜以八味湯加五味子峻補方可。其家雖信。未肯輕投。余曰。不用此藥。則無救矣。急延吾友唐子松聲驗之何如。比至診之。謂余曰。此八味湯加五味子候也。其言若合符節。遂取而進服之。果舌有微津。連劑焦枯頓釋。又加人參。調理而安。後不守禁。半載後。犯房戒。用他藥以殞。</p>
<p>一徽商年二十八。病後不謹發熱。彼家以過啖厚味故復。醫者投小柴胡湯三劑。體倦。腰胯痛。不能轉側。余診之。脈微弱。曰此女勞復也。以七味湯加五味杜仲。連進二劑。即能轉側。又數劑。兼人參而痊。</p>
<p>六味地黃湯</p>
<p>懷熟地（三錢）　山茱萸（一錢五分去核）　茯苓（一錢）　淮山藥（一錢五分炒）　牡丹皮（一錢）　澤瀉（一錢）</p>
<p>水煎。</p>
<p>八味地黃湯（即前方）　加熟附肉桂（各五分）　去附子名七味湯</p>

<h3>內傷論</h3>
<p>內傷一門。東垣先生辨之詳矣。或勞役無節。或飢飽失時。或思慮過度。皆足傷其中氣而發熱焉。此與傷寒亦絕不相干。而治之者輒藉口而妄治。真大可嘆矣。診其脈。不辨其氣口弦大無力也。察其症。頭疼。不辨其時作時止也。惡寒不辨其得就溫暖即解也。發熱。不辨其四肢乏力無氣以動也。不食。不辨其口淡無味也。惡風。不辨其惟惡些小賊風也。喘急。不辨其氣耗而乏也。不寐。不辨其心血不足也。神昏。不辨其神氣浮越也。及用藥。又烏信東垣補中益氣湯。可止頭疼。可除寒熱。可進飲食。可定喘促。烏信濟生歸脾湯。可益心神。可調榮血。身雖大熱。而投之輒應。其神妙有如是乎。彼猶且揚揚驕人曰。此太陽症也。此陽明少陽症也。汗之不愈。表未解也。下之不愈。里未清也。直至敗壞。而醫者病者。終不覺悟。尚忍言哉。尚忍言哉。但東垣補中益氣湯。其加減法最詳。獨兼外感者。則慎用黃耆兼停滯者。則漸進參朮。惟在用之得宜耳。</p>
<p>按內傷症。必自汗。必體倦。必唇口淡白。必飲食無味。必脈大無力。縱使發熱。即與補中。倘兼風食。則先與解散。而後補之。若驟補。則邪反熾而難為療矣。此又不可不慎也。</p>
<p>補中益氣湯</p>
<p>人參　黃耆（蜜炙）　白朮（土炒各一錢五分）　甘草（炙五分）　當歸（一錢）　陳皮（五分）　柴胡　升麻（各三分）</p>
<p>加薑棗水煎。空心午前服。</p>
<p>歸脾湯</p>
<p>人參　白朮（土炒）　白茯神　黃耆（蜜炙）　棗仁（炒研各二錢）　遠志肉（甘草湯泡淨焙）　當歸（各一錢）　木香　甘草（炙各五分）　龍眼肉（二錢）</p>
<p>加薑棗水煎服</p>

<h3>表症論</h3>
<p>傷寒之用表藥。固其常也。而余獨鰓鰓慎之。何歟。蓋藥性有剛柔。人質有厚薄。喜用之則昌。不喜用之則危。匪細故也。即以麻黃論。味輕而浮。長於驅寒者也。而失之太熱。羌活獨活。利關節為最勝也。而失之過燥。如太陰之蒼朮。陽明之白芷。厥陰之川芎吳茱萸。少陰之細辛。太陽之藁本。氣味辛烈。亦復如是。故仲景立麻黃湯。潤以杏仁。和以甘草。果足敵麻黃桂枝之辛熱乎。易老九味羌活湯。匯諸燥味。以黃芩生地監之。寡不勝眾。又豈制方之善者乎。余獨不然。漫立一方以平易易之。紫蘇味之辛溫者也。足以去寒。防風荊芥。味之辛散者也。足以去風。柴胡性升。能除表熱。葛根性潤。長於解肌。廣皮辛苦。能散能降。甘桔味甘。合以生薑。辛甘發散。如是而寒有不除。風有不解者乎。如是而有耗其津液。損其真陰。亡其元陽者乎。若果脈緊無汗。則加麻黃羌活。脈細濕勝。則用蒼朮獨活。如吳茱細辛白芷藁本之屬。倘或對症。暫投則可。否則感冒輕者。稟質薄者。及病後。勞後。產後。酒色後。即惡寒發熱。豈可一概不審。而漫執古方以恣浪投者邪。即予所定之方。亦未必中肯綮也。</p>
<p>紫蘇飲</p>
<p>紫蘇（一錢五分）　防風　荊芥　柴胡　葛根　廣皮　桔梗（各一錢）　甘草（炙三分）　山楂（一錢五分）</p>
<p>加生薑三片水煎。頭痛。加川芎五分。夾食。加厚朴一錢薑製。枳殼一錢麩炒。如咳嗽。去柴胡。加前胡一錢。</p>
<p>按此方雖平易。虛者猶不能當。慎勿泛用多用。得汗即止。</p>

<h3>里症論</h3>
<p>傷寒傳裡。發熱口乾。胸滿。煩躁。甚則譫語揭衣。皆裡實也。攻之無疑。又何慎焉。不知攻裡之法。宜緩不宜速。宜平不宜峻。宜專不宜雜。宜升不宜降。宜潤不宜燥。何以言之。飲食入胃。消之者脾。腐之者中焦易易者。惟一為所阻。而藉藥以化之。則不能朝飲夕效。部分有上中下。用藥有深淺次第。如邪在上中二焦而遽下之。成結胸痞氣是也。所謂宜緩不宜速也。人之所籍以生者胃氣耳。既為風寒飲食所傷。而復藥以克之。是重傷也。惟用辛溫苦平之劑。令其克化足矣。非比大積大聚。必得蓬朮大黃等峻厲以蕩之。庶胃氣不大壞。而完復可俟也。所謂宜平不宜峻也。既傷於食。必審何物受傷。何藥能制。如山楂制肉。萊菔制面與豆。陳皮製蛋。杏仁制粉。葛根制酒。茗制穀氣之類。一物一治。用的為君。以他藥佐之。庶易見功。不然泛投取應。豈可得乎。所謂宜專不宜雜也。凡物之理。有升必有降。若降令太過。則壅塞而不行。胃氣喜升。葛根能鼓舞之。膽氣欲升。柴胡能條達之。而後加以內消之藥。則升降之道得。而物易以化矣。所謂宜升不宜降也。大腸主津。小腸主液。腎為胃關。又主五液。其所以能變化傳導者賴此耳。若辛熱躁烈之藥。有以竭之。則煩躁斑黃譫妄之所由作也。如平胃散中。厚朴。苦溫者也。同以葛根則潤。青皮枳實。苦而下降也。緩以甘桔則不峻。楂肉味酸。能調五味而化油膩。廣皮枳殼。能理氣而快膈。若婦人多怒。加香附以調之。故傷寒里藥。發表在前。汗液外泄。不可又用蒼朮木香草果豆蔻之屬。復竭其液也。觀其燥結。獨用膽汁蜜導。又可知矣。所謂宜潤不宜燥也。</p>
<p>枳樸湯</p>
<p>枳殼（麩炒）　厚朴（薑汁炒）　桔梗　柴胡　廣皮（各一錢）　山楂　葛根（各一錢五分）　甘草（二分炙）</p>
<p>加砂仁生薑。水煎。如寒未除。加紫蘇一錢。傷面。加卜子一錢。邪在下。加青皮枳實各一錢。去枳殼服四五劑。邪已變化。如未大便。用豬膽或蜜煎導之。</p>
<p>按上表里二法。最為穩當。惟不竭其津液也。豈待清火而後愈乎。蓋寒涼一早。食便不消。其熱愈熾。所謂點沸不如抽薪也。</p>

<h3>熱症論</h3>
<p>傷寒熱症煩躁口乾。耳聾目昏。唇焦舌赤。甚則發斑發黃。譫語狂妄。皆火為之芩連梔柏大黃之屬。非正治之藥乎。然而未可以驟也。如太陽表未解而脈浮數。火鬱則宜發之也。少陽寒熱嘔而口苦。木鬱則宜達之也。陽明胃實而熱者。上鬱則宜奪之也。惟邪熱已深。蓄而不解。脈洪且數。長而有力。上焦。涼膈散。中焦。白虎湯。三焦。黃連解毒湯。虛煩。梔子豆豉湯。斑毒。三黃石膏湯。發黃。茵陳梔子湯。導赤散。皆治火之劑也。殊不知有虛火實火之分。上焦虛渴。生脈散。中焦血虛發熱。症類白虎。當歸補血湯。下焦真水已竭。屢清不解。六味地黃湯。仲景恐腎水乾。急下以存津液。何不亟亟滋陰。尚恐不及。反用承氣以下之乎。余每治傷寒發熱不止。脈來虛數。大便或行或結。口燥咽乾。耳聾目瞀。胸中覺飢無所脹滿。即股六味地黃大劑飲之。無不應手獲效。真百發百中之神劑也。若以芩連梔柏。大苦大寒。反傷真氣。趙氏所謂以有形之水。沃無形之火。適足以傷生耳。安見其有濟也。</p>
<p>按清火。有直折。從治。升散。甘緩。壯水諸法。須看其形色脈候虛實。及進寒涼而彌甚者。不可不知變計也。東垣升陽散火。內經導火歸元。固有采其微者矣。</p>
<p>涼膈散</p>
<p>大黃　朴硝　甘草　黃芩　山梔　薄荷（各二兩）　連翹（四兩）</p>
<p>各為末。每服五七錢。水煎服。</p>
<p>白虎湯</p>
<p>石膏　知母（各三錢）　甘草（五分炙）　粳米（半合）</p>
<p>水煎服</p>
<p>黃連解毒湯</p>
<p>黃連　黃芩　黃柏　梔子（各等分）</p>
<p>水煎。</p>
<p>梔子豆豉湯</p>
<p>肥梔子（四枚）　香豉（五錢）</p>
<p>水二鍾。煎梔子一鍾。入豉煎至七分。去渣服。</p>
<p>三黃石膏湯</p>
<p>黃連　黃芩　大黃　石膏</p>
<p>水煎。</p>
<p>茵陳梔子湯</p>
<p>茵陳（三錢）　山梔　大黃（各二錢）</p>
<p>水煎。</p>
<p>導赤散</p>
<p>生地黃　木通　甘草（炙各一錢）</p>
<p>為末。每服一錢。竹葉湯調服。</p>
<p>升陽散火湯</p>
<p>升麻　獨活　羌活　防風　柴胡　葛根　人參　甘草　白芍藥</p>
<p>水煎。</p>
<p>生脈散</p>
<p>人參（二錢）　麥門冬（一錢半）　五味子（三分杵）</p>
<p>水煎。</p>
<p>當歸補血湯</p>
<p>黃耆（六錢蜜炙）　當歸（四錢）</p>
<p>水煎。</p>

<h3>舌論</h3>
<p>凡看傷寒傳變。首辨舌色。則寒熱虛實之理。昭然可見。如口之渴與不渴。津之有亡枯潤。色之紅赤淡白。苔之黃白焦黑。刺之多少。或易刮。或刮不去易生。腫之大小厚薄。伸縮之難易。飲之喜熱喜冷。皆不可不細審也。仲景云。邪在表不渴。傳裡則渴。直中三陰則口不渴。蓄血者口亦不渴。此渴與不渴之宜辨也。汗多則液亡舌乾。燥熱妄投。舌亦干。濕家氣不化。舌亦干。熱甚則津枯。陰竭津亦枯。此津之有無枯潤宜辨也。心火旺。則舌色赤。脾氣虛。則舌淡白。此色之紅赤淡白宜辨也。胸中有寒。則苔白而滑。有食。則苔黃。熱甚則苔黑。腎水竭。則苔亦焦黑。此苔之黃白焦黑宜辨也。邪熱淺則刺少。深則刺多。真陰衰亦刺多。又刺易刮者可治。刮不去易生者難治。此刺之多少難易宜辨也。濕熱甚。則舌腫大。腎液亡。則舌亦腫大。若干且厚語不清者難治。此腫之大小厚薄宜辨也。舌雖干。易伸如常者可治。舌縮不能伸不能言者不治。此伸縮之難易宜辨也。實渴則喜冷飲。恣而無厭。虛渴則喜熱飲。少與即止。此飲之寒熱多少宜辨也。以上分別。最宜詳細。而其尤要者。在兼脈與症。而察其虛實。施其補瀉。他不具論。只如舌黑焦枯。或腫或刺。群工視之不辨。而知其熱症。非黃連解毒。則大小承氣下之也。殊不知脈虛數。或微細。胸腹無脹滿。舌雖黑雖焦枯。雖腫雖生刺。乃真水衰竭。不能制火。惟以六味地黃大劑飲之。虛寒。加桂附五味子。則焦黑腫刺。渙若冰釋。若芩連花粉。愈投愈甚。此予所屢見。而親信其必然者也。又嘗治二人。入水發熱。濕氣大勝。舌乾無津。與平胃散加葛根飲之。舌遂生津。乃知脾胃受濕。則氣不化。津無以生。用蒼朮以燥其濕。則氣化而津生耳。</p>
<p><u>治驗</u></p>
<p>一婦人發熱旬余。舌乾生刺。診其脈。微細而軟。按其胸腹無苦。予曰。此過用克伐而胃氣虛也。急進米飲。俟三日胃氣當復。枯者可潤。而刺自去矣。且聞藥則嘔。若復攻之。死在旦夕。其母從之。遂以米飲進。覺甘美而嘔止舌稍和。三日而津果生。原醫者來視。猶囑曰。未可與米湯。尚宜消導。真所謂盲人騎瞎馬。半夜臨深池。此輩是也。</p>
<p>一柴客往上海取帳。勞役而過啖。遂發寒熱。及歸。醫與消導藥三劑。舌乾而不得臥。胸中如芒刺。比余診之。脈細而數。予曰此得之勞後使內。非關食邪也。與六味湯二劑頓愈。</p>
<p>附金鏡錄辨舌黑治法</p>
<p>曾禧治鄭汝東妹婿。患傷寒得黑舌。謂當用附子理中湯。人咸驚駭。遂止。亦莫能療。困甚。曾往視之。謂用前藥。猶有生理。其家拼從之。數劑而愈。金臺姜夢輝患傷寒。亦得此舌。手足厥冷。呃逆不止。眾猶作火治。幾至危殆。判院吳仁齋。用附子理中湯而愈。立齋曰。舌黑之症。有火極似水者。即林學士所謂薪為黑炭之意也。宜涼膈散之類。以瀉其陽。有水來剋火者。即曾醫士所療之人是也。宜理中湯以消陰翳。夫有是病。必用是藥。附子療寒。其效可數。奈何世皆以為必不可用之藥。寧視人之死而不救。不亦哀哉。至於火極似水之症。用藥得宜。效應不異。不可便謂為百無一治而棄之也。</p>
<p>平胃散</p>
<p>蒼朮（米泔浸透切炒）　厚朴（薑汁炒）　陳皮（各一錢）　甘草（炙四分）</p>
<p>水煎。</p>
<p>附子理中湯</p>
<p>人參　白朮（土炒）　甘草（炙）　附子（炮）　乾薑（炒各等分）</p>
<p>水煎。</p>

<h3>結胸論</h3>
<p>結胸痞氣。二者皆曰下早而成。但有輕重之分。實無陰陽之別。仲景以大小陷胸及瀉心湯主之。余不能不致疑其間也。夫既曰下之早。則邪或在表。或在上皆未可遽下者也。未可下而下之。則邪氣反結於胸中。有痛有不痛。或痞滿而不快也。試思所下之藥。必大黃芒硝峻厲等味。苟失其宜。則外邪內陷而不復出。中氣下陷而不復運。故為結為痞。豈有誤下乃結。因結復下之理乎。然則仲景大小陷胸等湯。何為而設也。仲景云。大結胸。手不可按。用大黃芒硝入甘遂末。名大陷胸湯。乃盪滌之劑。恐為失下者立。小結胸。用黃連半夏加栝蔞實。名小陷胸湯。乃痰熱為患。又豈曰下早所致乎。水結胸。半夏茯苓湯入薑汁。乃水停心下也。心下痞。腹鳴下利。半夏瀉心湯。人參半夏乾薑甘草大棗。因中氣傷也。同黃連黃芩。或熱猶未解乎。若然則結胸何法以治之。曰邪氣尚實仍與內消。中氣傷殘。只應溫補。理中湯加枳實主之。或藿香半夏甘草人參加炒枳實。隨症施之可耳。斷無復下陷胸之法也。</p>
<p>大陷胸湯</p>
<p>大黃（四錢）　芒硝（三錢）　甘遂末（二分）</p>
<p>水煎入甘遂末調服。</p>
<p>小陷胸湯</p>
<p>黃連（一錢五分）　半夏（三錢）　栝蔞實（二錢）</p>
<p>水煎服。</p>
<p>半夏茯苓湯</p>
<p>半夏（四錢）　白茯苓（二錢五分）</p>
<p>水煎。入薑汁服。</p>
<p>半夏瀉心湯</p>
<p>人參　半夏　乾薑　甘草　黃芩（各一錢）　黃連（五分）</p>
<p>加姜五片。棗五枚。水煎服。</p>
<p>枳實理中湯</p>
<p>枳實（麩炒）　乾薑　人參　白朮　茯苓　甘草（各等分）</p>
<p>水煎服。或為末。蜜丸彈子大。熱湯化下。連進二三服。</p>
<p>厚朴半夏甘草人參湯</p>
<p>厚朴　半夏（各一錢）　甘草　人參（各五分）</p>
<p>姜五片水煎。</p>

<h3>發狂譫語</h3>
<p>狂者。陽明邪熱所發。有實無虛也。譫語。則虛實參半焉。鄭聲。則虛多而實少矣。何以言之。陽明多氣多血。邪又乘焉。則亢陽無制上亂神明。躁擾狂越。不可名狀。故為大實大熱也。聖惠方。用大黃五兩。醋炒微赤為散。以臘雪水五升煎如膏。每服五匙。冷水下。蓋取其駿快之性。定祻亂以致太平。非此不能。譫語者。亦屬胃邪所致。然有熱入血室。或蓄血停痰。鬱結驚恐。種種不一。則虛實參之。鄭聲者。止將一事一物。重複諄諄。乃因心有所寄。情有所偏。兼以火邪。則虛多而實少矣。昔攖寧生治一人發狂。視人為鬼其脈累累如薏苡子。且喘且摶。曰此得之陽明胃實。以三化湯三四下之愈。此陽明發狂也。治一女患心疾。狂歌痛哭。裸裎詈罵。問之則瞪視默默。脈沉堅而結。曰得之憂憤沉鬱。食與痰交積胸中。湧之皆積痰裹血。復與火劑清上膈。此兼郁痰而狂也。橘泉翁治吳檢討子。年十八。眩暈狂亂。醫以為中寒。已而四肢厥逆。欲自投火中。有欲用烏附回陽者。翁曰。此心脾火盛。陽明內實。非熱藥可療。以瀉火解毒三劑得減。此兼火而狂也。汪石山治一婦。三十餘。忽病狂言。披髮裸形。不知羞惡。其脈浮緩而濡。曰此必忍飢或勞倦傷胃而然耳。經曰。二陽之病發心脾。二陽者胃與大腸也。忍飢過勞。胃傷而火動矣。延及心脾。則心所藏之神。脾所藏之意。皆為擾亂。失所依歸。安得不狂。此陽明虛也。法當補之。遂用獨參湯加竹瀝飲之痊。此因內傷而狂也。壺仙翁治發狂譫語。歌笑不倫。手足厥逆。身冷而掌有汗。兩手脈沉滑有力。曰陽勝拒陰。火極而伏。反兼勝已之化。亢則害。承乃制也。熱勝血菀。故發狂譫語。火性炎上故歌笑不倫。陽極則反。故身冷厥逆。泄其血則火除。抑其陽則神寧。乃用桃仁承氣湯下血數升。益以黃連竹瀝石膏之劑。大汗而解。此兼血而狂也。要知狂為危候。醫者到此。未便措手。輒曰下之。豈知有如是變幻。吾故表而出之。丹溪治一少年。秋初熱病。口渴而妄語。兩顴火赤。醫作大熱治。翁診之。脈弱而遲。告曰此作勞後病溫。惟當服補劑自已。今六脈時見搏手。必涼藥所致。竟以附子湯啜之。應手而瘥。又治憲幕傅氏子。病妄語。時若有所見。翁切其脈。告曰。此病痰也。然脈虛弦而沉數。蓋得之當暑飲醉。又大驚。傅曰。然。嘗夏因勞而甚渴。恣飲梅水一二升。又連得驚數次。遂病。翁以治痰補虛之劑處之。浹旬愈。</p>
<p>此二症又譫妄之異者。並載附焉。</p>
<p>二化湯</p>
<p>厚朴（薑汁炒）　大黃　枳實（麩炒）　羌活（各三錢）</p>
<p>水煎服。</p>
<p>獨參湯</p>
<p>人參（不拘多少分兩隨症）</p>
<p>拍破水煎服。</p>
<p>桃仁承氣湯</p>
<p>桃仁　肉桂　甘草（各一錢）　大黃（二錢半）　芒硝（一錢半）</p>
<p>水煎服。</p>

<h3>蓄血</h3>
<p>蓄血一症。治之非難。而辨之為難。辨之非難。而辨之之早為難也。當其發作時。與外感無異。醫者從而治之。竟不得愈。何故。蓋血病而氣不病也。其人或勞倦。或跌撲。或閃挫。或鬱怒。皆足以阻其血。而停蓄成瘀。蓄之久必發而寒熱乃作。節庵謂表邪當汗不汗。熱毒內積所致。則未必然也。又曰。凡見眼閉。目紅。神昏。語短。眩冒。健忘。煩躁。漱水。驚狂。譫語。鼻衄。吐紅。背冷。足寒。四肢厥逆。胸腹急滿。大便黑。小便數。皆瘀血症。雖有多般。不必悉具。但見一二。便作血症主張。此言最為得之。非節庵心體熟識。烏能辨此。治之維何。實者桃仁承氣湯加肉桂。虛者六味地黃湯加肉桂。蓋瘀血。死血也。寒則凝。熱則行。自然之理。又或用破血理氣之藥而效者。又或用犀角地黃湯治上焦。抵當丸治下焦。總之下盡黑物則愈爾。</p>
<p>按蓄血症。面色削瘦。白而無神。四肢無力。遍身發熱。用他藥不效者。必是此症。以小柴胡湯加丹皮生地澤蘭鉤藤治之。甚則加桃仁紅花。如血去多而中氣寒者。以理中湯加歸芍調之。</p>
<p><u>治驗</u></p>
<p>一徽商年十八。從遠歸。當晚忽暈倒。遍體俱冷。醫一作火治。一作痰治。俱不效。余診之。脈虛而芤。動則眩暈。不能起坐。忽吐出紫血。予曰。此瘀血症也。下出為順。用人參二錢。肉桂一錢。澤蘭二錢。丹皮當歸廣皮各一錢。一劑而血下行。三劑而身漸暖。數劑乃痊。</p>
<p>一男子發熱。面白無神。脈得微澀欲絕。大便黑。時頭眩。余曰此瘀血症而脈如此。何敢攻之。連進地黃湯四劑覺安甚。又加桂四劑。所去瘀血不計。但口乾舌燥。加五味子四劑。又下瘀血。腹中安舒。而脈與舌猶故。痰中見血。以門冬貝母生地丹皮等漸愈。蓋此症兼內傷元氣。賴溫補而效。肺經未免受克。故以保肺收攻。</p>
<p>和血導瘀湯</p>
<p>澤蘭（一錢五分）　牡丹皮（一錢）　當歸尾（一錢）　陳皮（一錢）　鉤藤鉤（一錢）　懷生地（一錢）　桃仁（七粒研）　紫厚朴（七分薑製）　炙甘草（三分）　紅花（五分）</p>
<p>加生薑一片。水煎。甚者加蘇木。虛者去桃仁紅花。</p>
<p>乾薑湯　治去血而嘔逆肢冷。</p>
<p>炮姜（一錢）　茯苓（一錢）　炙甘草（三分）　當歸（一錢）　澤蘭（一錢）　廣陳皮（一錢）　半夏（一錢）　鉤藤（一錢五分）</p>
<p>大棗二枚。水煎。</p>
<p>犀角地黃湯</p>
<p>犀角（一錢）　生地黃（四錢）　牡丹皮（一錢）　芍藥（一錢）</p>
<p>水煎。</p>
<p>抵當湯</p>
<p>水蛭　虻蟲　桃仁（各十枚）　大黃（八錢）</p>
<p>水煎。</p>

<h3>發癍</h3>
<p>癍者。陽明胃經邪熱所化。不發於表而發於里。不發於初而發於後。故陽明當汗不汗。當下不下。不當下而下。其蓄熱皆能成癍。點有大小稀密。色有紅淡紫黑。或隱或現。或易出易收。或不易出不易收。總以熱之微甚。為毒之輕重。無論粗者為癍。細者為疹。稀少為蚊跡。必須葛根托透為主。若仲景治赤癍。用阿膠大青湯。豆豉為君主發。而大青阿膠甘草。乃解毒化熱者也。治溫毒發癍嘔逆。用黑膏。生地倍豉。又加豬膏。純於解毒。入雄黃麝香為使。則又兼乎發者也。學者雖不可執其方。得此意而通之。則癍之宜托與化。治法從可推矣。余治一婦。夏月飲火酒。發癍面赤煩熱。診其脈絕無。予曰。此火鬱而熱極。用梔子豆豉湯加葛根厚朴黃連清之。癍大出而脈遂見矣。又一人傷寒。過經不解。遍體黑癍。唇口焦枯。脈大便結。以三黃石膏湯飲之痊。又一婦熱入血室。後發癍點。以小柴胡湯加生地丹皮獲愈。又一友嗜菸酒。常腹痛嘔逆。身發大塊。余以枳殼厚朴等平其濕熱。逾日忽變頭粒成癍。用解毒涼血而安。凡此皆火熱之變也。至於胃邪未清而發癍者。尤多。必脹悶不堪。則當內消為主。不可驟進寒涼。恐癍不出而邪反結也。如癍既出而熱不甚。無火症。則又不必化而自愈。切勿更投涼藥以傷之。學者其可執乎。</p>
<p>乾葛厚朴湯　治胃實胸膈脹滿。身發紅點。脈大有力。不可服涼藥。</p>
<p>葛根　厚朴（薑製）　枳殼（麩炒）　陳皮　桔梗（各一錢）　山楂（一錢半）　甘草（三分）</p>
<p>煩躁。加豆豉。實滿。加萊菔子。加姜。水煎。</p>
<p>阿膠大青湯　治赤癍。</p>
<p>大青　阿膠　甘草（各一錢）　豆豉（三錢）</p>
<p>水煎。</p>
<p>黑膏　治溫毒發癍嘔逆。使毒從皮中出。</p>
<p>生地黃（二兩六錢）　好豉（一兩六錢）</p>
<p>豬膏十兩。合露煎之。令三分減一。絞去渣。入雄黃麝香如豆大攪和。分三服忌蕪荑。</p>
<p>陽毒升麻湯　治陽毒赤癍。狂言。吐膿血。</p>
<p>升麻（一錢五分）　犀角（磨）　射干　黃芩　人參　甘草（各八分）</p>
<p>水煎。入犀角汁服。</p>
<p>玄參升麻湯　治咽痛發癍。</p>
<p>玄參　升麻（各一錢五分）　甘草（八分）</p>
<p>水煎服。</p>
<p>白虎人參湯（一名化癍湯）治赤癍。口燥煩渴。中暍。</p>
<p>知母　石膏（各三錢）　人參　甘草（各一錢）　粳米（一撮）</p>
<p>水煎。</p>

<h3>發疹（附）</h3>
<p>疹者。太陰肺經風熱所致。與癍絕不相同。而治法亦異。蓋疹之發也。乘於時氣。無論長幼男女。傳染不一。或呼瘄子。或稱麻子。吳俗則為之痧。總名曰疹。乃另一種。非癍疹之疹也。其形密似針頭。其色淡若桃花。頭面愈多者佳。以肺位至高也。上見咳嚏。下見泄瀉。以肺與大腸為表裡也。宜辛涼。不宜溫熱。以兌為燥勝也。宜辛散。不宜苦寒。以肺主皮毛也。溫之則火爍金而毒不解。寒之則熱內伏而邪不化。總以荊防薄荷大力葛根前桔之屬。發透為主。使毒盡出皮膚。而鮮內攻之患。最為上策。冬月大寒。不易出者。稍加麻黃。夏月大熱。不易解者。宜入連翹。胃氣弱。以米飲助之。邪不在胃也。中氣實。以枳樸平之。暫假則易也。至孕婦發痘而胎不宜墮者。痘喜內實也。發疹而胎不自固者。疹喜內虛也。然欲安之而卒不可得。又何故。蓋胞系於腎。金為之母。今發疹則肺家之血。盡出於外。腎經絕生化之源。而無以自養。故胎必墮而罕留也。又豈得與癍同日語哉。且癍以二三日之間。即化為輕。疹以六七日之內。漸沒為安。則又殊矣。</p>
<p>按憶自己丑及壬辰癸巳。疹症大行。無論長幼。闔境相沿。比余診之。則咳嗽噴嚏泄瀉。甚至目紅鼻衄咽痛聲啞。眾咸作癍治。予曰。此皆屬肺經症。乃疹而非癍也。考之方書。獨於幼科準繩得之。猶未愜意。內弟孫子大起專幼科。性嗜學。乃出朱惠民傳心錄示余。余讀之。見其方法井井。治驗昭昭。予遵而行之。百不爽一。任其變幻而總以發透為主。其間有停食者。有失血者。有胎孕者。略為加減。或兼消兼清。而孕未有不墮者。孕墮而疹未有不愈者。余於是時。莫不應手取效。又豈敢忘其所自哉。姑識之。</p>
<p><u>治驗</u></p>
<p>一女子食麵停滯。而疹甚稠密。余先與托疹。胸膈脹滿。加卜子厚朴而胸始寬。疹亦透。但能食者多。而此其百一耳。</p>
<p>一男人發疹。因服涼藥。腹痛泄瀉。疹色淡白。余與白茯苓炙甘草厚朴陳皮葛根桔梗薄荷煨姜二劑。腹痛止而疹紅綻乃愈。</p>
<p>一男子夏令發疹。幼科加麻黃羌活。鼻衄不止。咽痛聲啞。予與玄參連翹甘桔鼠黏薄荷等清涼而安。蓋疹不慮其多而慮其伏。伏則喘急鼻扇。甚則成疳痢勞瘵。多至不救。更有一人之身而二三發者。乃時氣所感。非比痘症終生一次不可不知。</p>
<p>荊防飲</p>
<p>防風　荊芥　鼠黏子（焙研）　前胡　桔梗　蘇薄荷　陳皮　葛根（各一錢）　甘草（二分）　山楂肉（一錢五分）</p>
<p>加生薑一片。芫荽一撮。無則用子。如發透。去荊防。胸膈不寬。加枳樸。痰多。加蘇子。瀉甚。去鼠黏。咽痛。加射干。火毒。加玄參。腹痛。加茯苓厚朴。二劑後。去荊防。加薄荷一錢。枳殼一錢。一疹本肺經。世俗動以羌活太陽藥燥之。一失也。其害則為咽痛煩躁尤輕。又以石膏湯寒其胃。一失也。其害則變異頃刻。立致其死。含冤者可不大畏哉。</p>

<h3>發黃</h3>
<p>夫雜症之發黃。多由於濕。傷寒之發黃。多由於熱。濕則黃色暗。而熱則黃色明也。濕則酒面魚腥之所化。故脹滿而不甚渴。熱則辛散燥烈之所致。故煩躁而不自寧。治之者亦不可一例而施也。脹滿者。平胃散為主。加以清水之劑。煩躁者。梔子豆豉湯為要。佐以生津之味。如干葛知母門冬花粉。皆所以滋陰也。山梔黃連黃芩黃柏。皆所以抑陽也。蒼朮秦艽茯苓車前。皆所以除濕也。至於食疸。則枳實萊菔之類。必不可缺。酒疸。則解酲五苓之中。又所急需。女勞疸。雖有礬石砂石散。不如地黃湯易生地。入車前牛膝尤勝。陰黃。四肢冷脈微。附子理中湯加茵陳。此先賢微妙之法也。又有蓄血發黃。桃亡承氣湯。止治其血而黃自退也。蓋此症受補者少。而不受補者多。不渴者易療。而渴者難療。久而不愈。中滿腹脹。便成不治之候矣。</p>
<p>茵陳梔子湯　治發黃。小便赤。</p>
<p>茵陳（二錢）　梔子（一錢炒）　黃連（一錢）　車前子（一錢炒）　澤瀉（一錢）　枳殼（一錢）　廣陳皮（一錢）　乾葛（一錢）</p>
<p>燈芯生薑水煎。或加秦艽豆豉花粉知母。</p>
<p>平胃散　治濕鬱發黃。</p>
<p>蒼朮（一錢米泔制）　厚朴（一錢薑汁炒）　廣皮（一錢）　甘草（三分）　山梔（一錢炒）　茵陳（二錢）　秦艽（一錢）　茯苓（一錢）　生地（一錢）　葛根（一錢）</p>
<p>燈芯生薑水煎。</p>
<p>枳實湯　治食疸。</p>
<p>枳實（一錢五分）　陳神麯（一錢炒）　萊菔子（一錢五分炒研）　青皮（一錢）　豆豉（一錢）　茵陳（一錢）　廣皮（一錢）　山梔（一錢炒）　黃芩（一錢）　厚朴（一錢薑製）</p>
<p>姜一片水煎。</p>

<h3>吐蛔</h3>
<p>蛔者依胃為養。贊助化物之需。故古方欲其安而不欲其動。用炮姜理中湯加川椒烏梅。所謂聞酸則靜。見苦則安也。吳綬謂蛔厥卻緣多飢。節庵謂妄發厥陰汗。胃冷蛔上。又謂吐蛔雖大熱。勿犯寒涼。則蛔厥之用溫中也必矣。及閱仲景烏梅丸。烏梅為君。人參附子細辛桂枝蜀椒當歸為佐。而柏皮之外。又加黃連。乃倍乾薑。豈寒因熱用。熱因寒用法乎。乃余見一婦。煩熱嘔酸。脈數吐蛔。欲投茱制黃連薑汁炒梔方可。奈醫者執用溫藥。隨飲隨斃。益信仲景烏梅丸倍黃連。早已開示後學一大法門。而習俗罕究也。又治二婦。食傷脹滿不堪。蛔竄十餘不止。氣口脈有力。竟投枳樸等。溫中內消而愈。蓋失飢與傷飽。又不可執一者乎。要之蛔在平人。宜有不宜無。宜少不宜多濕。熱甚。蛔蟲滋長。發胃脘痛。吐出則少愈。若胃敗吐蛔。色黑且腐。併成族來者。在不治例。</p>
<p>理中湯</p>
<p>人參　白朮（土炒）　乾薑（炮各一錢）　甘草（八分）　烏梅肉（二個）　川椒（十粒）</p>
<p>水煎。</p>
<p>烏梅丸　治蛔厥</p>
<p>烏梅（七十五個）　人參　附子（炮）　柏皮　桂枝　細辛（各一兩五錢）　乾薑（二兩五錢炮）　黃連（四兩）　蜀椒　當歸（各一兩）</p>
<p>十味各搗末。以苦酒漬烏梅一宿。去核飯上蒸之。飯熟搗梅成泥和勻</p>
<p>諸藥。蜜丸梧子大。米飲下十丸。漸加至二十丸。忌生冷滑物。</p>
<p>枳實湯　治胸滿。右關脈有力。吐蛔不止。</p>
<p>枳實（麩炒）　紫厚朴（薑製）　廣皮（各一錢）　山楂（一錢半）　柴胡（七分）　萊菔子（炒研一錢）</p>
<p>炒熟砂仁末五分。生薑一片。水煎。</p>
<p>清中湯　治脈數。嘔酸黃水。煩躁吐蛔。</p>
<p>山梔（炒）　半夏（各一錢）　黃連（七分）　茯苓　廣皮（各一錢）　炙甘草（三分）</p>
<p>竹茹一錢。川椒十粒。生薑一片。水煎。</p>

<h3>厥症</h3>
<p>陰陽二厥。節庵辨之詳矣。但寒厥易辨。而熱厥易忽。以其脈俱微細。四肢俱冷。則有以認熱為寒者矣。但寒厥腹疼而瀉。熱厥腹或疼而不瀉。寒厥則喜熱飲。熱厥則喜冷飲。寒厥喜暖與日火光。熱厥畏熱而不喜明。寒厥投熱藥或捍格而移時即安。熱厥服香燥而嘔逆彌甚。餘一日初秋冒暑。飲食未化。即便吐逆。少頃氣上壅。四肢漸冷。語言難布。及按脈則細微。自思吐之太甚。故氣逆不下。當晚以鐵鏽水磨下。覺少平。次日又出外不避暑。逾日復作。一友教以沉香磨服。氣不下。若見日光與火。便覺厭極。且終夜危坐。不能安寢。余乃思曰。此火逆衝上四肢故冷。是熱厥也。命取黑山梔三錢冷水調下。當飲便安。復治一女子。下痢艱迫。四肢冷。脈微細。一醫欲用理中加茱萸治。余曰。此火邪內伏。非寒也。竟以山梔芍藥黃連木香等而愈。況傷寒熱厥從傳經來。寒厥從直中來。又甚不侔者乎。</p>
<p>按二厥之外。有氣厥者。五志過極。氣鬱不伸。脈必沉伏。婦人多見之。蘇合香丸。烏藥順氣選用。有痰厥者。體肥痰盛。氣壅脈滑。宜導痰湯二陳湯。虛者倍加人參。有食厥者。發之必暴。飲食不化。填塞中焦。上部有脈。下部無脈。鹽湯探吐。最妙法也。有大吐血後或產後。去血過多。陽無所附。自汗手足冷。宜益氣。獨參湯理中湯之類。有真氣虛寒者。參附湯八味湯。益火之原。以消陰翳。</p>

<h3>痓症</h3>
<p>痓之為言痙也。痙直而不柔和也。凡病至此。實危且迫。仲景以有汗無汗分剛與柔。尤當以失汗過汗分實與虛可也。如雲太陽中風。重感寒濕則成痓。蓋濕傷筋則拘攣。寒入骨則強直。小續命湯。有汗去麻黃。無汗去附子治之。此因邪氣盛。而筋脈為之不利也。如雲大發濕家汗。則成痓。蓋濕流肢節。大發其汗。則濕氣復襲而侵之。筋脈重傷。關節不利。宜秦艽等舒筋利濕以和之。如雲發產後病後失血瘡家汗。則成痓蓋氣血既虧。復耗其液。則筋脈失所滋養。而角弓反張之症見。乃氣血大損故也。立齋以十全大補參附歸脾腎氣等湯。隨症選用。實有卓見。若作風治。則失之矣。</p>
<p>小續命湯</p>
<p>麻黃（去節）　人參（去蘆）　黃芩　芍藥（酒炒）　甘草（炙）　川芎　杏仁（去皮尖炒）　防己　官桂（各一兩）　防風（一兩半）　附子（炮去皮臍五錢）</p>
<p>每服五錢。姜五片。水煎服。剛痓去附子。柔痓減麻黃。</p>
<p>秦艽升麻湯</p>
<p>升麻　葛根　甘草（炙）　芍藥（炒）　人參（各五錢）　秦艽　白芷　防風　桂枝（各三錢）</p>
<p>每服一兩。蔥白三莖。水煎。</p>
<p>十全大補湯</p>
<p>肉桂（去皮）　甘草（炙）　芍藥（炒）　黃耆（蜜炙）　當歸（酒淨）　川芎　人參（去蘆）　白朮（土炒）　茯苓　熟地黃（各等分）</p>
<p>每服六錢。姜三片。棗二枚。水煎。</p>
<p>人參養榮湯</p>
<p>白芍藥（一錢五分酒炒）　人參　黃耆（蜜炙）　白朮（土炒）　炙甘草　陳皮　桂心　當歸（各一錢）　熟地黃　五味子（杵）　茯苓（各七分）　遠志肉（五分）</p>
<p>薑棗水煎。</p>

<h3>汗下不解</h3>
<p>夫汗之不解者。謂汗出不徹也。汗出不徹。則脈緊惡寒而表症仍在。尤宜汗之者也。然有汗愈出而愈不解者。如汗出而肢冷。陽氣衰也。汗出而脈躁。陰氣竭也。汗出而煩滿。胃液干也。所謂汗所當汗而不解者。失之不及者少。失之太過者多也。汗所不當汗而不解者。則認症不的。非因他證。則屬虛候也。凡此者均謂之不解。而症既懸絕。則治亦異珠。豈可以其汗出不為汗衰。而復汗之。一逆再逆。以夭人命乎。下之不解者。謂下之而腹滿如故。身熱如故。尤宜下之者也。然有愈下而愈不解者。如結胸痞滿下利等症。使復下之。則既已失下。而不可復下之。必也使不下之。則痞結不去。邪氣在而正氣虛也。差治者。調其元氣。而佐以除邪。不善治者。惟求盡劑。不顧人命。此時而議清議攻議補。俱在所難。惟以升陽益胃。兼消兼和。庶或冀其萬一。不然。則所云不解者。終不解矣。</p>

<h3>自利</h3>
<p>夫三陰之中寒。則下利清穀。仲景用理中姜附湯。三陽合病。則自下利。仲景以太陽少陽用黃芩湯。少陽陽明用承氣湯。蓋少陽則火鬱。而陽明則上郁也。雖然。三陽邪猶在表。何遽自利以邪鬱而不伸。則為飧泄也。故宜以升發之劑揚之。不得遽以黃芩承氣抑之可耳。然又有表邪未解。而早投下劑。則邪因而下陷。有表邪未清。而早用寒涼。則水因而旁及。均不可謂協熱而又清之。則邪愈不出而食愈不化矣。惟當進升發內消輕緩之劑。瀉上中之邪。而下焦自實矣。倘果脈數身熱。而下利逼迫。火性急速。方可用芩芍。緩中清火。而以枳樸甘草陳皮佐之。加柴葛上升。乃至當之法。今人不審所因。一遇下利。舍溫中而外。輒日協熱。將何以治之而得效也黃芩厚朴湯　治協熱下利。</p>
<p>黃芩（一錢五分）　白芍藥（炒）　厚朴（薑製）　枳殼（炒）　廣陳皮　葛根（各一錢）　甘草（五分炙）　柴胡（七分）</p>
<p>加姜一片。水煎。</p>

<h3>四氣論</h3>
<p>風寒暑濕。四氣為病。加燥火而六焉。則不得概以傷寒混治也。蓋寒傷經絡。足太陽經主之。風傷皮毛。手太陰經主之。而寒亦有傷肺風亦能犯太陽。總之以辛溫者治寒。辛涼者治風。其大較也。然麻黃雖熱。體輕反能入肺。故有三拗湯以瀉肺邪。桂枝辛甘。性熱反可祛寒。故入麻黃湯以調營衛。然世俗相沿。每用桂枝治風。不若以荊防為當。蓋肺屬金畏熱。嘗見投桂枝者。往往口鼻見紅。及咽痛等候也。抑寒傷形。暑傷氣。傷形者。邪有餘。則宜散。傷氣者。正不足。則宜補。故均有發熱。而自汗氣喘。體倦虛煩。及面垢前板齒燥泄瀉。種種不同。若兼感寒。則無是證矣。宜以十味香薷。清暑益氣大順散。分別以治。豈得混於寒哉。寒傷經絡。身熱而痛。濕傷筋骨。身重而痛。但濕流肢節或腰腳。脈必細或緩。兼寒則拘攣。兼熱則腫赤。甚為嘔逆。為煩滿。宜以羌活勝濕湯。蒼朮平胃散分內外治之。則又與寒迥別也。至於燥火二症。且甚懸絕者乎。</p>
<p>按寒與風異治者。蓋寒無汗而風有汗也。寒與暑異治者。寒欲發汗。而暑欲止汗也。寒與濕異治者。寒從汗解而濕不可大汗也。寒與燥火異治者。燥宜潤。得風藥而愈烈。火宜降。得風藥而彌熾也。</p>
<p>荊防湯　治傷風咳嗽</p>
<p>防風　荊芥　前胡　桔梗　廣皮　枳殼（各一錢）　甘草（三分）</p>
<p>生薑一片。水煎。</p>
<p>三拗湯　治肺風。痰喘初起無汗者。</p>
<p>麻黃（不去節）　杏仁（不去尖）　甘草（不炙各等分）</p>
<p>生薑水煎。</p>
<p>參蘇飲　治肺寒咳嗽。</p>
<p>人參　紫蘇　前胡　桔梗　陳皮　枳殼　葛根　半夏　茯苓　甘草（各等分）　木香（磨入一分）</p>
<p>棗一枚。姜一片。水煎。</p>
<p>香薷飲　治一切暑毒。霍亂吐瀉。</p>
<p>香薷（三錢）　茯苓　白扁豆（炒）　厚朴（薑製）　甘草（各一錢）</p>
<p>水煎服。加黃連名黃連香薷飲。</p>
<p>十味香薷散　治伏暑。身體倦怠。神昏頭重。吐瀉等症。</p>
<p>香藿（一兩）　人參　陳皮　白朮（土炒）　茯苓　甘草（炙）　木瓜　厚朴（薑製）　扁豆（炒）　黃耆（各半兩炙）</p>
<p>每服一兩。水煎冷服。</p>
<p>大順散　治納涼太過。飲冷太多。脾胃受寒。霍亂吐瀉。水穀不入。臟腑不調。此舍時從症之劑也。</p>
<p>甘草（二兩）　乾薑　杏仁（去皮尖）　肉桂（去皮各四兩）</p>
<p>上先將甘草炙熟。次入乾薑同炒令姜裂。又入杏仁同炒令杏仁不作聲為度。後入肉桂為末。每服二錢。井花水調下。沸湯點服亦得。</p>
<p>清暑益氣湯</p>
<p>蒼朮（錢半米泔浸炒）　黃耆（蜜炙）　升麻（各一錢）　人參　白朮（土炒）　當歸　陳皮　神麯（炒）　澤瀉（各五分）　乾葛　青皮　甘草（炙）　黃柏　麥冬（各三分）　五味子（九粒杵）</p>
<p>水煎服。</p>
<p>羌活勝濕湯</p>
<p>羌活　獨活　藁本　川芎　防風（各一錢）　甘草　蔓荊子（各三分）</p>
<p>水煎。</p>
<p>平胃散</p>
<p>茅朮（米泔浸炒）　厚朴（薑汁炒）　陳皮（各一錢）　甘草（三分炙）</p>
<p>水煎。</p>

<h3>夾食夾氣</h3>
<p>世俗有夾食夾氣夾驚夾痰。而亦加以傷寒之名者。夫既曰食氣痰驚。則宜從四者以治。又何復云傷寒為也。或者曰。因有是四者而復感寒。故云夾也。何以見之。如脈實而脹滿者。食也。應發熱而亦有惡寒者。如脈沉而不快者。氣也。不應發熱而亦有發熱者。如脈弦而作嘔者。驚也。不應寒熱而亦有寒熱往來者。脈滑而喘逆者痰也。不應寒熱而亦有寒熱大作者。以其兼寒也。故謂之夾也亦宜。殊不知因乎食者。消其食而寒自止。因乎氣者。下其氣而熱自退。因乎驚者。溫其膽而寒熱自已。因乎痰者。化其痰而寒熱頓除。初不必沾沾於傷寒。而亦將解其表而後治之也耶。如養葵先生有云。凡雜症有發熱者。皆有頭疼項強目痛鼻乾脅痛口苦等症。何必拘為傷寒局傷寒方以治之也。夫見是諸症。尚有不因傷寒者。況不見諸症。而欲強附以傷寒。則誠不可解者也。</p>
<p>厚朴湯　治因食。</p>
<p>厚朴（薑製）　枳殼（麩焙）　廣皮（各一錢）　山楂（二錢）　卜子（一錢焙研）　甘草（三分炙）　柴胡（七分）　葛根（一錢）</p>
<p>加熟砂仁末七分。姜一片。水煎。</p>
<p>順氣飲　治因氣。</p>
<p>木香（五分）　烏藥　陳皮　枳殼（炒）　茯苓（各一錢）　甘草（三分炙）　柴胡（五分）　桔梗（一錢）　香附（一錢便制）</p>
<p>加熟砂仁末一錢。姜一片。水煎。</p>
<p>溫膽湯　治因驚。</p>
<p>半夏　枳實　竹茹　茯苓（各一錢）　甘草（三分炙）　廣皮（一錢）　鉤藤鉤（二錢）</p>
<p>加棗一枚。姜一片。水煎。</p>
<p>二陳湯　治因痰。</p>
<p>蘇子（一錢半焙研）　半夏　茯苓　陳皮　杜仲（各一錢鹽水炒）　甘草（三分炙）　前胡　桔梗（各一錢）　杏仁（一錢湯泡去皮尖）</p>
<p>加姜一片。水煎。如有火。加栝蔞霜。</p>

<h3>附壞症</h3>
<p>凡傷寒時疫。不問陰陽老幼妊婦。誤服藥餌。困重垂死。脈沉伏。不省人事。七日以後。皆可服之。百不失一。此名奪命散。又名復脈湯。人參一兩。水二鍾。緊火煎一鍾。以井水浸冷服之。少頃鼻梁有汗出。脈復立瘥。蘇韜光侍郎云。用此救數十人。出王璆百一選方。</p>

<h3>附遺毒</h3>
<p>凡傷寒遺毒。發於耳之前後及項下腫硬。用見腫消草、生白芨、生白蘞、生大黃、生大薊根、野苧麻根。搗成餅。入芒硝一錢。和貼留頭。干即易之。若加金線重樓。及山茨菇尤妙。出傷寒蘊要。</p>

<h1>卷之二</h1>

<h2>雜症</h2>

<h3>中風論</h3>
<p>竊嘗怪凡病皆以所感名之。惟中風則以其象名之。遂啟後人之惑也。試觀夫中風者。恆於密室中。行住坐臥之頃。卒然仆倒。或痰涎上湧。昏不知人。或肢體痿廢。足不任身。或手足癱瘓。身半不遂。或口眼喎僻。筋脈牽引。斯時未嘗有風。而何從中之。即令虛邪賊風偶犯。亦不過現六經之症。侵冒肌膚已耳。何至昏倒不省。若斯之甚也。然則中風究何從而名焉。蓋人身譬猶樹也。人之四肢。猶樹之枝幹也。人之七情五志。猶天之疾風暴雨也。人之飢飽勞逸。猶樹之日剝月削也。人之憂愁思慮。猶樹之蠹蛀侵蝕也。人之恣欲不節。猶樹之斧斤砍伐也。假令一樹也。而剝之削之。侵之蝕之砍之伐之。即不待夫疾風暴雨。而罔不傾僕矣。偶遇大風拔木。而咎之於風可乎。人之中風。不猶是乎。河間謂五志過極。言其因也。東垣謂本氣自病。言其本也。丹溪謂濕熱生痰。言其標也。而究其根。則在於腎元不足所致。蓋腎元無虧。五志過極。即顯五志之證。元氣不足。即顯虛損之證。濕熱生痰。即顯痰熱之證。惟根本既虧。而五志乘之。勞役乘之。痰熱乘之。而卒然仆倒。遂莫之支爾。斯時也。逐其痰。痰愈熾。降其氣。氣愈逆。惟牙關緊閉者。暫用稀涎散開之。究無當於實際。立齋用三生飲投人參一兩。驅駕其邪而補助真氣。真斬關奪門之將也。河間立地黃飲子。治舌喑不言。足痿不行。專固其本。已頂門下一針矣。余每臨斯症。細求其故。未有不從心腎不交而得。蓋心不下交於腎。則用歸脾湯養育心神為主。而以八味丸為佐。腎不上交於心。則用地黃飲子補益真陰為主。而以獨參湯為佐。又必令病人卻七情。絕幃幕。輕者可復。重者可延。繼以歲月。鮮不安痊。若以風藥痰藥間之。捨本求末。安望其能生哉。</p>
<p>按中風肥人多見之。而瘦者間有。然肥人多氣虛。氣虛則生痰。苟根本不實。猶樹之扶疏而中空。則易於倒僕矣。治之須大進參朮。佐以痰藥。後補其腎可也。瘦人多血虛。血虛則有火。苟憂愁太過。猶樹之枝枯而葉萎。則無以滋養矣。治之須培益真陰。佐以開鬱。後補其氣可也。蓋脾肺腎肝。既有陰陽氣血之殊。自應分酌而治。矧心為神機開發之本。胃是穀氣充大之標。苟心思不遂。則飲食少用。而無以益其血脈。胃氣不充。則五臟少資。而無以灌其百骸。則是心與胃。又所宜講求者也。噫。中風一症。大率膏粱者多出於逸樂。則宜固其腎肝。蓋腎主閉藏而肝主疏泄也。藜藿者每見於縈愁。則宜助其心脾。蓋心主憂而脾主思慮也。此孰非醫者之權衡。所當潛心而體會哉。不然一遇此症。不求其因。識淺技窮。輒進牛黃丸。幾曾見有用之而得生者。不大可悟也夫</p>
<p>一中風五絕之症。如口開眼合。手撒遺尿。聲如齁睡者不治。治之無益。</p>
<p>一中風喎僻癱瘓。分左右之道路。而大補氣血。佐以舒筋豁痰。十補勿一瀉之。</p>
<p>一中風痱痿不用。宜八味十補還少等丹丸選用。佐以補中六君歸脾等湯調之。慎勿誤治。以夭人命。</p>
<p>一中氣中寒中暑中食。分別以治。不可誤認作中風一例而看。</p>
<p>稀涎散</p>
<p>江子仁（六粒每粒分作兩半）　牙皂（三錢細切）　明礬（一兩）</p>
<p>先將礬熔開。入二味攪勻。待礬枯為末。每用三分。</p>
<p>三生飲</p>
<p>生南星（一兩）　生川烏（半兩去皮）　生附子（半兩去皮）　木香（二錢）</p>
<p>每用共一兩。加人參一兩。水煎。</p>
<p>地黃飲子</p>
<p>懷熟地　巴戟（去心）　山茱萸（去核）　肉蓯蓉（酒淨）　附子（制）　石菖蒲　五味子（杵）　茯苓　麥門冬（去心）　遠志肉（去心甘草湯淨）　石斛（鹽水焙）　紫肉桂</p>
<p>各等分。每服五錢。入薄荷少許。薑棗水煎。</p>

<h3>虛損論</h3>
<p>虛損之症。越人言之詳矣。然有驟而損者。有漸而損者。驟而損者。如大勞大病脫氣脫血之診。其勢疾暴可畏。然苟察陰陽偏勝而調之。往往易於見功。此無他。形體雖壞。而臟真未竭也。漸而損者。如勞役所傷陰虛火動之候。其始若不經意。其繼猶或強持。日積月累。漸至於深入而不可救。此無他。臟真先虧。而形體徐壞也。夫然。則虛損之要。莫有過於陰陽。而治之者。有五失焉。方其始也。陽虛則惡寒。陰虛則發熱。醫者見其寒。輒思解之。見其熱。輒思清之一失也。其繼也。陽虛宜補陽。而反滋陰。陰虛宜滋陰。而反補陽。則陰陽愈乖。二失也。且陽虛有火。則甘溫之中。不宜燥熱。陽虛無火。則甘溫之中。不宜涼潤。陰虛有火。則壯水之中。勿雜燥味。陰虛無火。則益火之中。切禁苦寒。治者不守大法。三失也。又有陽先病。而溫之大過。陰後病者。陰先病而涼之太過。陽後病者。治者不知變計。四失也。況陽虛則陰無所統。病在陰而仍宜治其陽。陰虛則陽無所附。病在陽。而仍宜治其陰。治者不窺原本。五失也。此其間緩急進退之法。非可執一。宜深思而熟計之。不致變生而易轍。斯善爾。故治損之法。惟越人為最精。其曰損其肺者益其氣。即勞役所傷。而用補中益氣之類也。損其心者。調其榮衛。即思慮過度。而用濟生歸脾之類也。損其脾者。調其飲食。適其寒溫。即飲食失節。而用四君六君人參理中之類也。損其肝者。緩其中。即七情怫鬱。而用加味逍遙之類也。損其腎者益其精。即真陰失守。而用六味八味之類也。矧腎受五臟六腑之精而藏之。五臟盛。乃能瀉脾運水穀之精而日生之。以灌於臟腑可見先天之精。早已易竭。後天之精。生之實難而不知節者又妄用而不恤。於是精不能生氣。氣不能生神。而骨痿色悴。勞瘵之形成矣。雖有扁倉。能不卻走哉。</p>
<p>按虛損之症。未有不見於咳嗽。而咳嗽之因。則有多端。如形寒飲冷則傷肺。此時而即解之易易也。然有忽視而任之者。則邪內伏而正反虛有重視而屢發者。則氣益虛而嗽彌甚。於焉津液內亡。肺氣不能自固。而腎絕生化之源。更加之以不謹。而子母兩虧。陰益亡而竭矣。陰竭則火動。火動則金愈傷。燎原而不可遏。求其不為怯也難矣。於是療之者。始議降火。議清金。不知苦寒又壞胃。胃傷則脾亦傷。更絕其肺之母而死亡迫矣。故善治者。肺虛則補其氣。兼補其脾。使土得以生金。肺有火。則補其腎。使子不盜母之氣。而水足制火。火衰。則補其火。使不致金寒水冷而上泛為痰。仲景謂陰虛咳嗽者。用腎氣丸補而逐之。東垣謂脾虛生痰者。六君子補中益氣培而養之。如憂慮而傷心脾。歸脾湯主之。鬱怒而傷肝脾。加味逍遙歸脾主之。氣血兩虛。八珍人參養榮湯主之。此皆治咳嗽之大法。亙古而不可易者也。奈何世之醫者。一見咳嗽。不求其因。不顧其本。嗽家藥品。蒐括無遺。發散不效。繼之消痰。消痰不效。繼之降氣。降氣不效。繼之清火。清火不效。待斃而已。不亦重可哀哉。</p>

<h3>血症</h3>
<p>凡症之可畏者。莫甚於失血。使不急有以止之。則危亡隨焉。然止之而不得止。或屢止而屢發者何故。良由世之治者。執火載血上。錯經妄行之說。不求陰陽原委。漫以寒涼投之。設在火症。偶爾獲效。危亡者接踵矣。褚齊賢有服寒涼百不一生之嘆。豈過甚哉。竊念人之一身。內而臟腑。外而皮膚。而血潛行於中。豈容有發越也哉。惟傷於肺。則血縷帶於痰中。傷於脾。則血散漫於痰涎。傷於肝。則血凝結而紫黑。傷於腎。則血隨咳唾而出。傷於心與腎。則血暴吐而成盂。其間臟腑。雖有氣血多少之別。斷未有真陰足而妄動者。亦未有元氣充而不攝者。每見失血之人。非有大損於臟腑。則血不易以至。一至焉。則症不易以復。從可識矣。端賴求其原而療之。或補其陽。以固脾肺之氣。如面色黃白。而脈虛大空軟者是也。或補其陰。以固腎肝之氣。如面赤口乾。而脈虛細弦數者是也。然補陽無論矣。而補陰之中。又有火衰者。其症面青白而脈遲弱。或服寒涼而脈反鼓指者。皆當以導火歸元。如八味丸以消陰翳是也。不見立齋治張東谷。遇勞則吐血一二口。用補中益氣湯。加門冬五味山藥熟地茯神遠志。非補脾肺乎。丹溪每用炮姜止血。繆仲仁用四君六君加木香。謂古人治血多以胃藥收功。非補中焦乎。養葵謂心主血。脾裹血。肝藏血。歸脾湯。三臟之藥畢具。用之鮮不神效。非補心脾乎。余治一友。汪子軼干。應鄉試過勞。及歸。吐血。屢發屢止。遍服補陰藥。逾年不效。余見之面色白。脈虛數無力。體中未嘗畏熱。余曰此不特脾肺虛而命門之火亦衰。遂用歸脾湯加炮姜五味倍人參。而血勢少衰。偶加門冬。則又如故。繼以八味丸無間服之。血遂止。若八味少弛。則血又復。以後連獲二子。應試如初。非補命門乎。乃知有形之血。固於無形之氣。無形之氣。資於命門之火。所謂精足則氣旺。氣旺則神生。神者血之華也。不信然哉。及觀古人治脫血。必用大劑獨參湯以挽之。豈血未至於脫。而反不可用人參乎。此亦余之所不解矣。故余治失血症。上必顧其脾肺。下必滋其腎元。切禁苦寒以伐之。庶幾無愧於前哲。而不遺人夭枉也。</p>
<p>按上治五臟法也。胃多氣多血。暴吐成碗成盂。當火熾方盛時。必用四生丸。生地涼血。荷葉柏葉破血。假艾葉辛溫濟之。則血不復滯而歸經矣。胸中氣塞。血成紫塊者。此必血菀於上。宜桃仁枳殼陳皮香附之屬。破而降之。則氣平而血止矣。小便尿血。心移熱於小腸。清心蓮子加柏葉牛膝小薊主之。大便下血。元氣下陷。補中益氣加槐花槐角地榆主之。審其虛實而施治可也。至鼻衄。血沖清道。四生丸為最妙。虛則生脈散加黃耆芍藥以攝之。牙宣出血。六味丸加骨碎補。虛寒者。八味丸加骨碎補。生脈散亦效。此又豈法之所拘哉。</p>
<p>生地丹皮湯　治脈數內熱咳嗽痰血者。</p>
<p>懷生地　牡丹皮　川貝母（去心研）　麥門冬（去心）　廣陳皮（各一錢）　炙甘草（三分）　沙參（一錢）　（如不止加阿膠一錢蛤粉炒成珠）</p>
<p>加焙扁柏葉一錢。水煎服。如吐血。去門冬加荷葉艾葉。或加藕節童便。</p>
<p>當歸止血湯　治脈弦脅痛氣逆者。</p>
<p>當歸（一錢）　香附（一錢便制）　生地（一錢）　白芍藥（一錢酒炒）　牡丹皮（一錢）　蘇子（一錢）　炙甘草（三分）　廣陳皮（一錢）</p>
<p>加焙扁柏葉一錢。水煎服。</p>
<p>白芨湯　治內傷吐血。</p>
<p>白芨　茜草　生地　丹皮　牛膝　廣皮　歸尾（各一錢）</p>
<p>加荷葉蒂五個。水煎服。</p>
<p>補方見論內</p>

<h3>咳嗽</h3>
<p>咳嗽。微疾也。連綿不已。則又痼疾也。夫豈容渺視哉。然咳則有聲無痰。虛怯者恆見之。或時咳一聲。或連咳二三聲。日以為常。初不經意。而尫羸已成矣。蓋肺出氣。腎納氣。升降往來。舒徐不迫。惟縱欲以竭之。以耗散之。而真氣餒。於是假咳而上達。豈可久之道哉。嗽則有聲有痰。其因多端。外則六淫。內則七情。咸足以致之。經謂五臟六腑。皆令人咳。非獨肺也。而肺為之總司。然六淫之中。風寒尤易犯。以肺主皮毛。而開竅於鼻。形寒飲冷則傷之。留而不去。為寒為熱。變遷不一。須審其風則解之。寒則散之。中病即止。若過於解散。則腠理疏而邪復襲。愈襲愈解。愈解愈襲。脾肺虛而元氣憊。反變成他症而難療矣。況乎暑濕七情等因。又當隨感而施治者哉。竊思痰者。身之液也。外充皮膚。內滋臟腑。氣為之化。血為之輔。相為灌溉而不可竭者。若久嗽不已。則腑腑精華。肌肉血脈。俱為耗引。消竭於痰。比之脫氣脫血。何多遜焉。獨不觀久嗽者。始而色瘁。繼而肉消。繼而骨痿。皆津液不能敷布乃至此。夫豈容渺視哉。故療之者。乾咳。用地黃丸峻補其腎。兼進人參以滋化源。痰嗽。風則解以辛涼。寒則散以辛溫。暑則清之。濕則燥之。燥火則潤之。七情則隨所因而調之。而總以扶脾保肺為首務。幸毋沾沾於逐痰也。</p>
<p>按痰又有酒濕而生者。六君子加葛粉澤瀉之類。有食積而生者。枳朮加半夏曲陳皮甘草之類。有痰火而生者。二陳加栝蔞山梔黃芩之類。有肺燥而生者。二冬加貝母栝蔞百合之類。有氣逆而生者。二陳加蘇子桑皮杜仲之類。此皆治標之治法。隨症以投。第不可過甚耳。</p>

<h3>嘔吐</h3>
<p>凡病皆有虛實寒熱。而嘔吐為尤甚。良由治之者。喜溫暖而利攻伐。熱者熱之無遺。火症臨之愈劇。攻者攻之殆盡。胃氣因而轉傷。於是有嘔之不止。而吐之勿絕。其不至危殆者幾希。蓋緣寒與實易辨。而虛與熱易淆也。寒與實者。或內傷生冷。或客寒犯胃。或醉飽無度。或飲食失節。脈必沉緊弦滑。而中焦脹滿不安。不有以溫之。則寒不除。不有以攻之。則滯不化。宜乎藿香平胃之屬。奏績易易也。若夫寒鬱為熱。經曰諸逆衝上。皆屬於火。諸嘔吐酸。皆屬於熱。人咸知之。唯是不察其因。而漫以止吐藥投之。往往喜用香燥。殊不知嘔屬少陽。木中有火。火性炎上。肋之彌熾。甚至嘔綠水或如菜葉者。則膽中之汁也。使不急與梔連降之。則嘔逆何時而止耶。每見驚傷膽者。其病善嘔。先哲立溫膽湯。獨入竹茹。降氣降火。意可識矣。況乎胃屬土。畏木者也。木邪凌土。胃氣必傷。水穀不納。胃中之津液。竭盡無餘。而下焦之氣。逆而上攻。比比胸膈痞塞。有似乎實。醫者從而伐之。則一線之氣立斷矣。故凡遇久吐傷胃。則必於清火中加人參以扶胃氣。然後徐進米飲。方能納也。嘗見古人治虛寒吐逆。用熱藥恐其捍格。反入黃連童便為嚮導。下安陰分。矧在熱症。而反以火濟火乎。雖其間聲物俱出謂之吐。有聲無物謂之嘔。聲濁惡而長謂之噦。或七情之拂鬱。或六氣之交乘。或水土之不和。或關格之不利。種種懸殊。療非一致。然苟能於虛實寒熱體勘精切。亦可無遺蘊矣。</p>
<p><u>治驗</u></p>
<p>一女子積勞後。忽發寒熱。嘔吐不止。三日夜罔間。凡用藿香二陳伏龍肝之類。皆不效。嘔至如菜葉青汁。形神俱疲。余急進山梔人參神麯茯苓</p>
<p>一劑。其嘔漸止。後以人參調理而痊。</p>
<p>一女子因驚後。胃脘作疼。嘔逆不止。亦越三日矣。胸中時叫飢。但不能納穀味耳。且神昏譫妄。面見癍疹。及余按其脈則弦。而重取則空。弦者。驚傷膽之脈也。空者。胃氣虛之診也。癍疹者。火炎上之象也。余以遠志茯神棗仁安神養胃。木香陳皮止痛平氣。山梔童便降火。稍入柴胡引經。倍用鉤藤止驚。一劑嘔止癍退。神安思食。再劑而愈。</p>
<p>二陳湯</p>
<p>半夏　茯苓　廣皮（各一錢）　甘草（三分）</p>
<p>姜三片。水煎。如脈數煩熱嘔酸。加黃芩山梔鉤藤。甚則入黃連。如停滯。加厚朴萊菔子枳實。如畏寒。加藿香木香。如因驚。加竹茹。如中氣虛。加人參石斛。虛寒入炮姜熟附。</p>

<h3>瘧疾</h3>
<p>瘧之為言虐也。有如凌虐者然。故云瘧也。當其寒。則戰慄鼓頷。湯火不能溫。及其熱。則煩冤少氣。冰水不能寒。此無他。陰陽相併。邪正交爭也。並之陰則寒。並之陽則熱。正虛則怯。邪盛則肆。一身之內。有不聽令而任其摧殘者乎。然則何經主之。何藥制之。曰仲景傷寒少陽一經。寒熱往來。用小柴胡湯。可假之治也。方中柴芩除表裡之熱。姜半除表裡之寒。參甘大棗和陰陽而扶正氣。非瘧之的方乎。余擴而充之。寒多熱少。則入藿香。寒少熱多。則入知母。獨寒不熱。則去黃芩。獨熱不寒。則去半夏。氣虛則加苓朮。血虛則加歸芍。即此方而出入之。鮮不應手取效。以是知瘧之主少陽也明矣。其作有早晏。何也。經曰。衛氣一日夜。大會於風府。明日日下一節。故其作也晏。此客於脊膂。凡二十五日。下至骶骨。二十六日。其氣上行。九日出於缺盆之中。故作日益早。邪在陽分輕。陰分重。引出於陽分則散。其有日作間日作何也。經曰。邪入之淺則日作。入之深則間作。有三日作者。邪愈甚而正益衰也。有一日三四作。十數作。又何也。此不可作瘧論。而亦未始不可以瘧推之也。陽虛則寒。陰虛則熱。陰陽虛則寒熱交作。非大補氣血。則寒熱不止也。然經又言太陽之瘧。腰痛頭重。寒從背起。少陽之瘧。寒不甚。熱不甚。心惕惕然。汗出。陽明之瘧。先寒灑淅。久乃熱。熱去汗出。喜見日火光。太陰之瘧。好太息。不嗜食。多寒熱。汗出。善嘔。少陰之瘧。嘔吐。熱多。欲閉牖而處。其病難已。厥陰之瘧。少腹滿。如癃。數便。意恐懼。則是六經又各有治法也。雖然。瘧之發也。如火之熱。如風雨不可當。此時而欲止之。良工不能。必從未發時。陰未並陽。陽未並陰。因而調之。真氣乃安。邪氣乃出。此露姜飲所由設。可推而通之也。至於邪未盡。早截之。變必作。豈若調其陰陽之為愈乎。立齋治瘧發不止。用人參一兩。生薑五錢。未發前服之。瘧可立止則養正除邪勝著也。豈能為瘧困哉。</p>
<p>按瘧有云是脾疾。長夏暑熱所傷。至秋新涼束之。瘧乃作。故其發也有候。而一以理脾為主。平胃散六君子補中益氣。審虛實而施之可也。不知脾畏木者也。柴胡非疏肝乎。脾喜甘者也。人參甘草非補中州乎。脾惡濕者也。半夏非燥濕乎。脾畏熱者也。黃芩非清熱乎。使果因風與食。則疏之消之。寒與熱。則溫之清之。虛則補之。下陷則提之。學者神而明焉。又安得膠柱鼓瑟為也。</p>
<p><u>治驗</u></p>
<p>一儒者季秋發瘧。凡解表疏利之藥。遍嘗勿效。至四旬後。肢體俱冷。其汗如雨。猶是覆密不敢見風。此余診之。六脈皆弱。連進歸脾湯。大倍參耆。加熟附子五分。數劑而痊。繼以六君調理月餘。</p>
<p>一女子瘧疾。煩熱嘔吐。口乾飲水。獨熱不寒。有與和解不效。余診之。脈數且疾。此癉瘧也。得之肺素有熱。用門冬知母黃芩山梔花粉厚朴陳皮甘草。一劑而減。二劑而愈。</p>
<p>一人年五旬余。患痢半月。痢止瘧作。發則昏憒不支。余診之。脈空大無力。以補中益氣湯。倍人參加半夏。二劑而愈。</p>
<p>小柴胡湯</p>
<p>柴胡（二錢）　黃芩　人參　半夏（各一錢）　甘草（五分）</p>
<p>薑棗水煎。如口渴。加葛粉一錢。如右關有力。胸膈不寬。加厚朴萊菔子各一錢。煩渴。去半夏。脈不數。去黃芩。如氣虛。同四君子或補中益氣用。如陰虛。則以六味湯繼之。</p>

<h3>痢疾論</h3>
<p>大凡治瘧之法。宜先緩而後急。治痢之法。宜先急而後緩。何哉。瘧之始發也。其勢猛悍。而遽欲以止之。則邪不伏而反熾。使及其既衰。即須急以培焉。除邪養正。乃不至於遷延。所謂避其來銳。擊其惰歸。此一法也。痢之始作也。其來瀰漫。而不急以奪之。則浸淫而潰決。即當其少緩。尤須有以調焉。邪盡氣和。庶不成乎休息。所謂及鋒而用。善刀而藏。此又一法也。蓋痢古稱滯下。又名腸澼。分明指濕熱傷手太陽小腸。手陽明大陽。蘊釀而成。丙火自焚。庚金受囚。化物傳道之令俱廢。膿血稠黏。後重逼迫。滯而不舒也。仲景用大黃湯滌之。取其滋潤輕快。一洗而空。誠妙法也。特恐元氣有不勝耳。河間芍藥湯。用芩連清火。歸芍調血。木香檳榔。理氣止痛。甘草和中。或加肉桂為引。所云調血則便血自愈。理氣則後重自除。無論赤白。皆當遵此為法。若夫虛寒一症。腹痛頻迸。下積純白。或時兼赤。滑而不禁。脈微弱而畏寒。則人參附子理中湯。必不可少。至於久痢。元氣衰憊。下痢不止。肢體浮腫。脈來虛微。補中益氣。倍參加桂附肉果粟殼。又豈容須臾緩哉。更有下多亡陰。大腸不行收令。虛坐弩責。則於升提中。兼以滋陰為主。迨食積宜消。感寒宜發。暑濕宜清。又在臨症變通。難以執一見也。</p>
<p><u>治驗</u></p>
<p>一徐太夫人六旬患痢。噤口不食。服開胃等藥轉劇。六脈虛數。余以人參二錢。黃連一錢。連進四五次。遂能食而痢止。</p>
<p>一人年五旬。向有冷積痛。一日患痢。初起便滑。下積純白。診其脈微細。余即以人參理中湯。連進而愈。此不可以常格拘也。</p>
<p>一儒者場後患痢。醫與解表消導清熱罔效。餘切其脈軟弱。兩尺倍甚。以八味湯四劑漸減。後以人參調理。蓋痢未有不傷腎。況年少不禁者乎。</p>
<p>芍藥湯</p>
<p>芍藥（一錢半）　當歸　黃連　黃芩（各八分）　炙甘草（三分）　檳榔（一錢）　木香（五分）</p>
<p>水煎服。痛不止或加桂五分。痢不減漸加大黃。</p>
<p>真人養臟湯　治虛寒痢疾。久而不愈。</p>
<p>人參（三錢）　白朮（一錢半，土炒）　當歸（一錢）　白芍藥（一錢半）　木香（八分）　炙甘草（三分）　肉桂（八分）　肉果（麵裹煨）　粟殼（醋炙）　訶子肉（麵煨各一錢）</p>
<p>水煎服。</p>
<p>厚朴湯　治飲食停滯下積者。</p>
<p>厚朴（一錢薑製）　枳實（一錢麩炒）　萊菔子（一錢焙研）　木香（五分）　黃芩（一錢）　廣皮（一錢）　山楂（一錢半）　豆豉（一錢）　炙甘草（三分）　柴胡（七分）　檳榔（一錢）</p>
<p>加砂仁末七分。姜一片。水煎。</p>

<h3>泄瀉論</h3>
<p>泄瀉之因多端。而要以脾胃為本。脾胃者土也。處於中州。澆灌四旁。清濁以分。水穀以別。皆藉此健運之能。而升降開闔。由之布化。尚何瀝瀉之虞哉。惟中氣稍弛。風勝則飧瀉而完穀不化。寒勝則洞瀉而澄澈清冷。濕勝則濡瀉而糟粕不實。熱勝則火瀉而暴注下迫。更有食積痰飲。則腹中或痛或不痛。反得瀉而減也。大瘕瀉。則腹中有瘕。時作時止也。腎瀉。則每於子後發。余時則安也。蓋土旺則能制水。水旺亦足凌土。濕鬱則能成熱。熱鬱亦足助濕。濁氣則能侵上。清氣亦足陷下。故治瀉之法。不可一端而竟。扶脾正也。而有時乎平胃。分利常也。而有時乎升提。溫補當也。而有時乎清熱。況於食積宜消。痰積宜降。瘕聚宜調。腎虛宜補。且有面色黃白。似乎脾虛。而補之不效者。以濕熱之未清也。亦有久瀉不止。習以為恆。而止之反劇者。亦積熱之不解也。苟執脾土喜溫惡寒。喜燥惡濕之說。而概以溫熱行之。知常而不知變。知經而不知權。使遇中虛且寒者。誠然得矣。倘或蘊隆不解。不且益其邪而成痼疾也哉。至於治瀉九法。士材言之詳矣。余不及贅。</p>
<p>胃苓湯</p>
<p>蒼朮（米泔制）　厚朴（薑製）　陳皮（各一錢）　甘草（三分炙）　白朮（八分土炒）　茯苓　澤瀉（各一錢）　肉桂（三分）　豬苓（一錢）</p>
<p>加薑棗水煎。或分用合用皆可。</p>
<p>薷苓湯　治暑瀉。</p>
<p>香薷　黃連（薑汁炒）　厚朴（薑製）　扁豆（炒）　豬苓　澤瀉　白朮（土炒）　茯苓（各一錢）　甘草（三分）</p>
<p>姜三片水煎。</p>
<p>四神丸　治脾腎兩虛。飲食不思。子後泄瀉。</p>
<p>肉果（麵煨二兩）　補骨脂（胡桃制四兩）　五味子（二兩）　吳茱萸（浸炒一兩）</p>
<p>為末。生薑八兩。紅棗百枚。煮熟丸。</p>

<h3>霍亂論</h3>
<p>霍亂之候。其來暴疾。腹中絞痛。擾亂不寧。自吐瀉交作。有吐而不瀉。瀉而不吐。有不得吐。又不得瀉。則邪有上下淺深之分。而總以得吐為愈。邪有入必有出。鹽湯探吐。上妙法門。然後調其胃氣可也。蓋霍亂每傷於胃。雖風寒暑濕。四氣相乘。而中必先虛。故邪入焉。至飲食失和。穢邪觸感者尤多。胃氣一傷。清濁相干。邪不去則正不安。所以攻邪尤要於扶正也。即至肢冷脈伏。轉筋聲啞。亦必驅邪至盡。蓋邪去則正安。非比他症養正而邪自除也。及大吐瀉後。元氣既乏。手足厥冷。脈微欲脫者。參附理中湯。仍為吃緊。若早投之。則邪反固而難愈矣。所以當其發時。不可用米飲。先哲諄諄戒之。豈無謂哉。觀於乾霍亂。上不得吐。下不得瀉。亦因邪不能出。所以為甚。治者愈可思其故矣。</p>
<p><u>治驗</u></p>
<p>一男子恣飲梅水。吐瀉無度。手足厥逆。面色慘晦。聲音不出。而脈沉伏。小水點滴不通。服藥入口即吐。醫告技窮。余熟思半日。忽悟及梅者果屬也。其味酸主收。故小便癃閉。因思果得麝則敗。酒得麝則壞二語。且麝性香竄走竅。乃取麝半入臍中。半入鼻孔。病者即以手拂其鼻。曰此何物也。少頃小水大下二三行。忽如醉而醒。夢而覺。越日索粥漸安。</p>
<p>一女子大吐瀉後。四肢厥逆。六脈俱無。頭面帶陽。而反紅赤。凡藥入口即吐。余曰。此陰盛格陽。以仲景通脈四逆湯連劑。脈出肢暖始愈。</p>
<p>藿香湯　治霍亂吐利交作。</p>
<p>藿香　紫厚朴（薑製）　茯苓　木瓜　車前子（焙研二錢）　澤瀉　枳殼　廣皮　葛根（各一錢）</p>
<p>加生薑三片。有食。加砂仁末一錢。煩渴。去藿香。加紫蘇一錢。麵食。入萊菔一錢。著氣。入青皮七分。木香三分。切戒米飲。直待痛止覺飢。方可與之。</p>

<h3>膈噎論</h3>
<p>膈噎之症。內經止有三陽結謂之膈一句。子和從而釋之。謂三陽者。大小腸膀胱也。結則二陰不利。津液不行。故逆反而上。其言病機則得矣。而三陽所以致結之故。則未始推及。至張雞峰云是神思間病。惟內觀靜養。可以卻之。斯乃切中病情。蓋此恙多由憂愁思慮。傷於心脾。血液不生。日漸煎熬。肝火彌熾。腎水益枯。五臟之陰既竭。六腑之陽安得獨足。於是槁在上而為噎。槁在下而為膈。譬之江河阻塞。而餉道不通。有仰食不獲而待命矣。此時而浚其流。不若疏其源。然後水從天際而下。飛爇立送。復循故道也。故患膈噎者。欲噓既槁之血液而復生之。莫若屏七情。絕嗜好。遠幃幕。心似已灰木。身如不繫舟。奴枯禪老寂。而後靜能勝動。水升火降。津液漸行。庶出約有常。長享天命。誰謂治膈之大丹。不取諸身而足哉。舍此而欲他求。惟有養血生津。開鬱理氣。佐以降火。或一法也。李絳兵部手集。用人參三兩取汁。入粟米雞子白薤白。煮粥與啖。取其潤滑而通陽明。最稱神效。至王太僕以食剎即出。食入反出。分有火無火之別。尤當參而調之。畢竟此疾多得於憂患之人。而安逸者未嘗有。則知藥石之不勝病也。夏審矣。</p>
<p>地髓煎　治血枯便燥結。</p>
<p>生地黃（一斤）　鹿角膠（二兩四錢）　生薑（八錢絞汁）　白蜜（二合）　酒（四合）　紫蘇子（四錢酒研）</p>
<p>文武火煮地黃成膏。去滓。即以酒研蘇子入煎。一二十沸下膠。膠化。下薑汁蜜再煎。候稠。瓦器盛之。酒化下。</p>
<p>大半夏湯　治胃反嘔吐痰盛者。</p>
<p>半夏（五錢）　人參（三錢）　白蜜（二錢）</p>
<p>水二鍾。和蜜揚之百遍。煎服。</p>
<p>和胃湯</p>
<p>人參（一錢半）　黃連（六分土炒）　當歸（一錢）　黃芩（七分土炒）　白芍藥（一錢酒炒）　茯神（一錢）　石菖蒲（五分）　神麯（七分）　半夏（七分）　枳實（麩炒四分）　紅花（三分）　蘇子（一錢五分）</p>
<p>用陳壁土研細。攪入長流水。澄清煎藥。入薑汁白蜜少許。童便一二匙和服。</p>

<h3>腫脹論</h3>
<p>經曰。諸氣膹郁。皆屬於肺。諸濕腫滿。昏屬於脾。又曰。諸腹脹大。敲之如鼓。皆屬於熱。蓋氣鬱則生濕。濕鬱則生熱。濕熱相搏。肺失清肅之令。則水不行而為腫。脾失健運之司。則谷不磨而為脹。甚且清陽不走上竅。濁陰不走下竅。天地閉塞。金不平木。土不制水。由是肚大。青筋。臍突。背平。足心平。五臟之陰。越出於外。六腑之陽。反擾於內。斯時而不亟瀉其陽。則陰欲入而陽拒之。陽欲出而陰閉之。則陰陽愈乖。而腫脹益甚。譬之洪水氾濫。不事疏鑿。乃欲以土實之。則愈堤防而愈泛溢。此必然之勢也。子和出。立浚川禹功等法。非不峻烈可畏。然不有盪滌之。則水何由而行。所蓄者。何由而泄。陰陽失位者。何由而復奠厥居乎。余每見從事溫補者。一逢腫脹。輒進六君子。金匱腎氣等。豈不純正通達。卒至腫脹愈甚。迄無成功。及遇草澤醫。每以大攻大瀉藥投之。反恆奏績於俄頃。然後以參調之。以補濟之。善其後圖。乃可萬全。雖然。此為實熱者言也。若老人久病後。及腎元虧損者。病從陰而發。不從陽而入。前法又不可施。氣喘脈弱。喜溫惡寒。則金匱腎氣之用桂附。以牛膝車前為引。一則三焦為決瀆之官。水道所出。一則腎為胃關。開竅二陰。誰謂補中不帶瀉哉。學者擴而充之可也。</p>
<p>一傳鼓脹方</p>
<p>第一服</p>
<p>黑醜（二錢半生半熟）　沉香（五分）</p>
<p>共為細末。酒調送。</p>
<p>第二服</p>
<p>陳皮　青皮　五加皮　茯苓皮　大腹皮　萊菔子　蘇子　韭子　葶藶子　車前子（各一錢）　琥珀　沉香（各五分）　黑醜（六分半生半熟）　朴硝（三分）</p>
<p>共為細末。酒調送。</p>
<p>第三服</p>
<p>檳榔　厚朴　益智仁　木通　澤瀉　白芍藥　芫花（各一錢）　沉香　琥珀（各五分）　朴硝（三分）　黑醜（六分，半生半熟）</p>
<p>共為細末。酒調送。</p>
<p>舟車神祐丸　去一切水濕痰飲。</p>
<p>甘遂　大戟　芫花（各一兩，俱醋炒）　大黃（二兩）　黑牽牛（取頭末）　青皮　陳皮　木香　檳榔（各五錢）　輕粉（一錢）</p>
<p>為末。水丸椒目大。空心服五丸。日三服。痞悶者多服反煩滿。宜初服二丸。每服加一丸。快利為度。戴人每令病者先服百餘粒。繼以浚川等藥投之。五更當下。種種病出。輕者一二度。重者五六度。方愈。藥雖峻急。為效極神。弱者當依河間漸攻進。實者從戴人治之。</p>
<p>大聖浚川散</p>
<p>大黃（煨）　牽牛（取頭末）　郁李仁（各一兩）　木香　芒硝（各三錢）　甘遂（五分）</p>
<p>每服三錢。薑汁調下。戴人每言。導水丸必用禹功散繼之。舟車丸必用浚川散繼之。</p>
<p>神芎導水丸</p>
<p>黃芩（一兩）　黃連　川芎　薄荷（各五錢）　大黃（二兩）　滑石　黑醜（取頭末各四兩）</p>
<p>為末。水丸。有血積者。加桂五錢。</p>
<p>禹餘糧丸</p>
<p>蛇含石（三兩鐵銚盛燒通紅鉗取出傾入醋中候冷取出研極細）　禹餘糧石（三兩）　針砂（五兩淘淨炒乾用醋二鍾同餘糧銚內煮乾更用銚並藥燒紅傾淨磚地上候冷研極細）　羌活　川芎　木香　茯苓　牛膝（酒浸）　桂心　白豆蔻　大茴香　蓬朮（炒）　附子（炮）　炮姜　京三稜（炒）　青皮　白蒺藜（焙研去刺）　當歸（酒浸各五錢）</p>
<p>共為末。入前三味拌勻。蒸餅丸如桐子大。食前白湯下三十丸。至五十丸。前三味。非甘遂芫花之比。又有各藥扶持。虛人老人。亦可服也。是忌鹽。一毫入口。發疾愈甚。服藥後。即於小便內旋去。不動臟腑。每日三服。更以溫補藥助之。</p>
<p>金匱腎氣丸　治脾腎虛。腰重腳腫。小便不利。或肚腹腫脹。四肢浮腫。喘急痰盛。已成蠱症。其效如神。此症多因脾胃虛弱。治失其宜。元氣復傷而變症者。非此藥不能救。</p>
<p>白茯苓（三兩）　附子（五錢制）　牛膝　桂　澤瀉　車前子　山萸肉　山藥　牡丹皮（各一兩）　熟地黃（四兩）</p>
<p>上為末。和地黃加煉蜜丸。如梧子。每服三錢。空心米飲下。</p>

<h3>積聚論</h3>
<p>越人謂五臟為積。六腑為聚。積屬陰故靜。聚屬陽故動。靜則易伏。而動則易散也。然有所徵驗於外謂之癥。假物而成謂之瘕。痞塞不快謂之痞。藏於幽闢謂之癖。或云癥主食而瘕主血。痞主氣而癖主痰。四者分而言之可。合而言之亦無不可。惟在療之者。察其臟腑之陰陽。部分之高下。氣血之多寡。新久之淺深。元氣之厚薄。或十攻而一補。或半攻而半補。或十補而勿一攻。握一定之算。然後能取決於必勝也。近時士材立初中末三法。未嘗不善。而余則尤有商焉。積聚之生也以漸。匪朝伊夕之故。使苟元氣充。臟腑調。分布周列。何隙可容其蹯踞。令積聚實逼處此。妨礙於升降往來。惟其萌於有漸。始尚不覺。日以益大。漸至猖狂而不可遏。斯時緩攻之邪不去。峻攻之邪亦不去。即去矣。而邪之聚者。復散而變他症。蓋攻積之藥。必由臟腑腸胃。而後達病所。其清純之氣。有不傷乎。余立一法。以攻積丸累累加用。倍入人參湯監之。貧者以白朮膏代之。必使元氣勝乎邪氣。而邪自無容留地。否則專補元氣。復其健運之常。則所積者。所聚者。將不攻而自走。又必須其人。善自珍攝。愛護生命。而後可與施此術也。苟不然者。亦終無如何矣。</p>
<p>攻積丸</p>
<p>人參　京三稜（醋煮）　蓬朮（醋煮）　菟絲子（酒煮）　桃仁　當歸　香附（醋煮）　黃連（土炒）　青皮（醋炒）　枳實（麩炒）　茯苓　半夏（各一兩）　炮姜（五錢）　澤瀉（七錢）　肉桂（一兩不見火）</p>
<p>上為末。神麯為丸。濃煎人參湯下。每服二錢。不拘時服。</p>
<p>一肝之積曰肥氣。左脅下。如覆杯。嘔逆。脅痛。引小腹。宜扶脾抑肝。</p>
<p>逍遙散</p>
<p>加連制吳茱萸醋製鱉甲青皮撫芎桃仁以破其血。</p>
<p>一肺之積曰息奔。右脅下。如覆杯。氣逆。背痛。喘咳。宜人參茯苓廣皮蘇子款冬花半夏旋覆花桔梗炙甘草。兼脾弱。六君子以補其母。</p>
<p>一心之積曰伏梁。起臍上。大如臂。上至心下。煩心。用人參川連遠志菖蒲茯神肉桂柏子仁丹參乾薑。</p>
<p>一脾之積曰痞氣。在胃脘。大如覆杯。痞塞。吐瀉。不為肌膚。用四君子湯加麩炒枳實山楂炮姜藿香黃連蓬朮神麯麥芽。</p>
<p>一腎之積曰奔豚。稜於少腹。上至心。若豚狀。上下無時。久則骨痿少氣。宜安腎丸。地黃膏子丸。八味丸。或茯苓肉桂澤瀉苦楝子杜仲玄胡索香附茴香桃仁。</p>
<p>安腎丸</p>
<p>肉桂　桃仁　烏頭（各一分）　白蒺藜　巴戟　山藥　茯苓　白朮　石斛　肉蓯蓉　萆薢　補骨脂（各三分）</p>
<p>蜜丸。每服三錢。鹽湯下。</p>
<p>地黃膏子丸</p>
<p>血竭　沉香　木香　廣朮（泡）　玄胡索　人參　蛤蚧　當歸　川芎　白朮（土炒）　續斷（酒炒）　川楝子（麩炒）　全蠍　茴香　柴胡　沒藥　青皮　吳茱萸　桂（以上分兩無定數隨症加減用）</p>
<p>為末。地黃膏子丸。如梧子大。空心溫酒下二十丸。日加一丸至三十丸。</p>

<h3>痿痹</h3>
<p>痹之與痿。二者近似而實不同。蓋痹者從外而入。經謂風寒濕三氣雜至合而為痹是也。痿者自內而出。經謂諸痿皆生於肺熱是也。痹從外入。則風寒濕之三氣。由皮膚。而筋骨。而臟腑。其留皮膚間者易已。其留連筋骨間者疼久。其入臟者殆。然風寒濕之中。又分風勝為行痹。則走注疼痛。風自火出也。濕勝為著痹。則重著而關節不利也。寒勝為痛痹。則周身疼痛無已時也。三者之邪。既以雜合而至。即以雜合治之。又云痛屬火。腫屬濕。尤須察其所勝。而散風之中。間以清火。除濕之內。間以養血。理氣之中。間以豁痰。丹溪不一其治。殆深得病情者與。雖然。此未入於五臟也。若久而不已。內舍五臟。則喘嘔上氣。尻腫脊蜷。筋急肢懈諸症見焉。則邪已侵入陰分。而非復風寒濕之可驅除也矣。經所以即繼之曰。陰氣者。靜則神藏。躁則消亡。雖不言及治法。而已明示陰氣將欲消亡。不可復躁動之。而當靜養之。則所存一線之陰氣。不幾危且殆哉。且又曰飲食自倍。腸胃乃傷。又明示患痹者須薄滋味。以飲食居處為其病本故也。若痿則不然。當其發也。非有風寒濕之三氣為患。而惟一本於肺熱。又不獨一肺熱。而心肝脾胃四臟之氣。亦皆熱而上熏於肺。肺由是葉焦而生痿躄。原其由來。皆因於思想無窮。所求不得。或入房太甚。宗筋弛縱。或遠行勞役。坐臥濕地。種種侵犯。五臟之陰日耗。五臟之熱日熾。於是而為脈痿。為筋痿。為肉痿骨痿。而肺失治節之令矣。然治之獨取陽明。又何也。陽明總宗筋之會。主束骨而利機關。為五臟六腑之海。合衝脈而滲灌溪谷。又屬於帶脈。而絡於督脈。蓋陽明屬燥金喜潤。手太陰屬兌金。惡燥。明乎此則知治痿之法。以潤燥為第一義。試以天時觀之。秋令主燥。則草木黃落。地坼風勁。非假雨以潤之。則亢旱可虞。所以五臟之痿不同。未有不因精血虧損而得。非此痹症有風寒濕之雜合也。故以治痿之法治痹。則初終不同。以治痹之法治痿。則斷乎其不可。孰謂痹之與痿。可一視之哉。</p>
<p>按余向患行痹。每過勞及飲酒。便肢節腫痛。屈伸不利。手臂痛。用威靈仙當歸秦艽。酒芩枳殼生地陳皮乾葛茯苓甘草。足脛痛。加牛膝木瓜米仁黃柏蒼朮。投一二劑即減。以之治諸患痹者。有紅腫甚。入連翹花粉。痛甚。入羌活獨活。便閉。加桃仁紅花。出入加減。亦罔不效。至戊申初春。二人患此。痛不可忍。用前法。足能伸縮。獨手臂拳攣不開。周身大痛異常。非人撫摩。便不能安。如此者四五旬尋愈。余自二月中旬。亦構此疾。其痛倍甚。諸藥罕應。惟玄武膏瘥妥。痛至五十日。肌肉盡去。日飲粥數盞。若進人參葷菜則反劇。一友以木通湯進。服之腹中㽲悶。小便不利。大便反瀉。當晚昏昏默默。氣與俱脫矣。越二日。手足拘攣。有死無生。會一友原梅曹子。先數日詣余商定膏脂藥。以痛傷精血。用蓯蓉枸杞當歸生地遠志茯神棗仁石斛麥冬五味桂圓肉煎就。入玄武膏收貯。此時幸已煎成四五日矣。亟索飲之。連進三四盞。筋脈頓舒。其痛稍定。又煎三料。每日清晨飲一大盞。自後飲食倍增。閱月而起坐。又閱月而起立。又閱月而始步。肌肉方長。後進八味加蓯蓉為丸。調理半載余乃痊。此雖周痹症而以痿法治。向使不與峻補。焉能有更生之日哉。嗣後永不再發。</p>
<p>虎潛丸</p>
<p>龜板　黃柏（各四兩）　知母　熟地黃（各二錢）　牛膝（三兩半）　芍藥（一兩半）　鎖陽　虎骨（酥炙）　當歸（各一兩）　陳皮（七錢半）　乾薑（五錢）</p>
<p>為末。灑糊丸。加附子更妙。</p>
<p>蠲痹飲</p>
<p>秦艽（一錢）　酒芩（一錢）　羌活（六分）　蒼朮（七分）　酒柏（一錢）　獨活（八分）　威靈仙（一錢酒炒）　木瓜（一錢）　米仁（一錢）　紅花（三分）　當歸（一錢）　桃仁（七粒研）　枳殼（一錢）</p>
<p>加姜三片。水煎。</p>

<h3>消症</h3>
<p>聞之一毫竅中。皆有生氣。所云生氣者。則津液也。皮毛得之以潤。肌肉得之以滑。筋骨得之以柔。血脈得之以和。其所以充周一身者。固無乎不至也。然以含而不露者為生氣。出而不反者為死氣。故東坡謂涕淚汗溺皆咸。而惟舌下廉泉則甘。故藏而不竭。以灌溉於五臟六腑。則何上中下三消之有。然從何而生。從何而發源乎。或曰腎主五液。則生之者腎也。上焦如霧。中焦如漚。下焦如瀆。則發之者三焦也。而不知越人所謂腎間動氣者是。乃五臟六腑之本。十二經脈之根。呼吸之門。三焦之原。一名守邪之神。是氣之動。則上而蒸津液。肺得之而不渴。胃得之而不飢。膀胱得之而氣化。惟真火衰而真水竭。則不能上輸於肺。而肺反欲借救於水矣。不能中養於胃。而胃反欲藉助於食矣。不能下調膀胱。而膀胱反欲擾動於精府矣。於是引飲無度。多食肌虛。小便如膏。皆水火之不能相濟。乃至此將至自焚而死矣。故治之者。急宜壯水之主。以鎮陽光。兼進生脈散。滋其化源。此大法也。而尤恐寒水不能上達。立齋以大料六味。內肉桂一兩。益水中之火。使之蒸動而上布。所謂地氣上為云。天氣降為雨。而後甘霖沛遍。生氣盈宇矣。又何必分肺消膈消腎消。紛紛求治為哉。總之津液者。人之所賴以生。一日而不可竭者。人亦何苦自焦自煩。百計以竭之。迨竭矣。而假資放藥餌。又不窺其原本。譬之樹之滋膏既竭。欲灌其枯萎而復生之。不亦難之難哉。</p>
<p>上消麥門冬湯</p>
<p>人參（一錢）　麥門冬（一錢）　葛粉（一錢）　炙甘草（三分）　五味子（九粒）　知母（一錢）　天花粉（一錢）　原蠶繭（三個）</p>
<p>水煎服。</p>
<p>中消黃耆湯</p>
<p>黃耆（二錢）　人參（二錢）　石膏（二錢煨熱）　炙甘草（三分）　知母（一錢）　粳米（一撮）</p>
<p>竹葉五片。水煎。</p>
<p>下消六味湯</p>
<p>懷熟地（三錢）　牡丹皮（一錢）　澤瀉（一錢）　山茱肉（一錢半）　山藥（一錢半）　茯苓（一錢）　牛膝（一錢半）　車前子（一錢半）</p>
<p>水煎。火衰加肉桂五味。</p>

<h3>喘論</h3>
<p>嘗慨天地人。三才也。天地一日夜。凡二息。則亙古不弊。人一日夜。凡一萬三千五百息。則度百歲乃去。何若是之相懸哉。蓋天地之氣合。而人之氣分。天地之於人。又未始須臾而離。彼春之溫。為夏之熱。彼秋之忿。為冬之怒。人在氣交中。一呼則以天之氣而接人之氣。一吸則以人之氣而接天之氣。所謂天食人以五氣是也。況呼出心與肺。在上為陽。吸入腎與肝。在下為陰。脾居中州而調之。故徐而不迫。則合其一萬三千五百息之常度也。若有所勞倦。則氣耗而喘出於肺。有所憂慮。則氣結而喘出於心。有所飢飽。則氣餒而喘出於脾。有所暴怒。則氣逆而喘出於肝。有所縱欲。則氣竭而喘出於腎。故在脾肺者益其氣。氣得補而喘自止。在腎肝者滋其陰。陰得返而喘自定。雖有痰喘水喘火喘。及六淫之邪。為患最多。亦不過標者其暫。而本者宜固也。試觀之天地。有時而怒濤。有時而晦冥。有時而奔潰。有時而崩陷。其暴疾之可畏實同乎喘。而終古不壞者。不失其潮汐之常。而以清以寧者如故也。而人之患喘者。使其清升濁降。不改故常。即至諸邪交侵。亦安足慮哉。如余治喘證多矣。未有若儒者錢曾一室人。庚戌秋。患喘二旬余。始延治。比至。聞聲如痰哮。按脈則微促。心肺腎肝。壅逆而上。痛不可忍。上膈則實。下腹則空。檢方藥。消痰降氣無遺用。余因謂曰。此陰虛發喘。因喘而陰將絕矣。約以六味湯加杜仲阿膠。連進二十劑可愈。否則不救。當晚即進一劑。覺胸膈痛遂止。閱旦視之。謂曰。此藥不勝病。亟取煎劑。余坐進之。連飲二盞。胸次覺寬。遂命以一日三劑。由是喘定索粥。五臟安和。得保其生。可見天地間之理。固有至正不易者。而豈容泛泛哉。</p>
<p>一丙午季秋。幼兒患肺風痰喘。因避熱乘涼所致。痰喘四五日。胸骨俱高。消痰降喘藥。俱不效。延郡中曹子叔明視之曰。此雖天熱。而肺則受寒也。以麻黃三分。杏仁五粒。桔梗枳殼廣皮荊防前胡之屬。進一劑而得汗。喘稍定。余以貝母栝蔞霜連飲之。以保破殘之肺。獲安。向非叔明見之精切。則喘何由而定哉。因錄之以鳴感。且以示後之同患者。</p>
<p>三拗湯　治寒湍。</p>
<p>麻黃（一錢）　杏仁（十粒）　甘草（三分）</p>
<p>姜三片。水煎。</p>
<p>蘇子栝蔞湯　治痰火發喘。</p>
<p>蘇子（研）　桑白皮（蜜炒）　川貝母（去心研）　栝蔞霜（各一錢）　杜仲（一錢鹽水炒）　茯苓（一錢）　廣皮（一錢）　前胡（一錢）　桔梗（一錢）　甘草（三分炙）</p>
<p>姜一片。水煎。熱甚加黃芩。</p>
<p>二冬湯　治肺火而喘。</p>
<p>天門冬（一錢半去心）　麥門冬（一錢去心）　款冬花（一錢）　紫菀茸（一錢）　桔梗（一錢）　甘草（三分）　廣陳皮（一錢）　川貝母（一錢）　百合（一錢）　馬兜苓（一錢）　阿膠（一錢）</p>
<p>水煎。</p>
<p>半夏湯　治水逆而喘。</p>
<p>半夏（一錢）　茯苓（一錢）　炙甘草（三分）　桑白皮（一錢）　廣皮（一錢）　澤瀉（七分）　白朮（一錢）</p>
<p>薑棗水煎。</p>
<p>仲景用木防己湯</p>
<p>木防己（二錢）　石膏（二錢）　桂枝（一錢）　人參（二錢）</p>
<p>水煎。</p>

<h3>腳氣</h3>
<p>昌黎謂軟腳病。江南之人。常常見之。則西北希有。蓋東方濱海傍水。魚鹽之地。其民食魚嗜咸。令人熱中。南方地下。水土弱。霧露所聚。其民嗜酸食胕。病則攣痹。此則濕與熱合而成病也。然濕者類水。喜就下。而熱往從之。注於足脛。則赤腫而疼。乃妨步履。甚則逆而上攻。嘔惡不食。作寒熱而似外感。俗謂之腳氣傷寒。大可嗤也。夫寒傷經絡。從足走頭。故頭疼惡寒而名傷寒。濕從下受。害皮肉筋骨。故紅腫疼重而成腳氣。一天一淵。如風馬牛之不相及也。然有從內而感。則酒濕乳酪之所致。從外而入。則風雨霧露之所侵。不從內不從外而得。則肥壯人氣之所及。或濕痰下注。或陰火下流。種種不一。而要以祛濕熱為主。養血涼血次之。舒筋除燥次之。使不辨其方宜。不別其居處。不觀其勇怯。不調其氣血。而概以二妙投之。恐不克副其名也。將若何。</p>
<p>蒼朮除濕湯</p>
<p>茅山蒼朮（一錢泔制）　黃柏（七分酒炒）　生地（一錢）　宣木瓜（一錢）　米仁（二錢）　牛膝（一錢）　當歸（一錢）　獨活（七分）　廣皮（八分）　茯苓（一錢）</p>
<p>燈芯一握。生薑一片。水煎。飲酒人。加葛根澤瀉各一錢。或加漢防己。</p>
<p>白朮湯　治氣血虧損。足脛疼痛。</p>
<p>白朮（一錢土炒）　人參（一錢）　茯苓（一錢）　牛膝（一錢）　黃柏（一錢）　蒼朮（七分泔制）　當歸（一錢）　白芍藥（一錢酒炒）　木瓜（一錢）　柴胡（五分）　廣皮（一錢）</p>
<p>棗二枚。姜一片。水煎。</p>
<p>丹溪婦人足脛痛。用</p>
<p>紅花　牛膝（俱酒洗）　生地　黃柏　蒼朮　南星　龍膽草　川芎</p>
<p>水煎服。</p>
<p>又治腳軟筋痛。用</p>
<p>牛膝（二兩）　白芍藥（一兩半）　龜板（酒炙）　柏板（酒炒各一兩）　知母（炒）　甘草（各五錢）</p>
<p>為末。酒糊丸。</p>
<p>二妙丸</p>
<p>蒼朮（二兩米泔浸炒）　黃柏（二兩酒炒）</p>
<p>為末。神麯糊丸。</p>
<p>換腿丸　治足三陰經為風寒暑濕之氣所乘。發為攣痹緩縱。或上攻胸背。下注腳膝。疼痛發熱。行步艱辛。</p>
<p>薏苡仁　南星　石楠葉　石斛　檳榔　萆薢（酒拌）　牛膝（酒浸）　羌活　防風　木瓜（各四兩）　黃耆（蜜炙）　當歸（酒拌）　明天麻　續斷（酒炒各一兩）</p>
<p>右為末。酒糊丸。如桐子大。每服五十丸。鹽湯下。</p>

<h3>閉症</h3>
<p>人之九竅。陽七陰二。皆五臟主之。而六腑亡有。然清陽出上竅。濁陰走下竅。則有形無形之別。今腎既開竅於耳。何以復開竅於二陰哉。或曰膀胱者。州都之官。津液藏焉。氣化則能出矣。三焦者。決瀆之官。水道出焉。膀胱乃腎之腑。三焦為命門之使。故隸之也。小腸者。受盛之官。化物出焉。大腸者。傳道之官。變化出焉。腎為胃關。下部法地。故隸之也。況肺主通調水道。下輸膀胱。則是又隸於手太陰矣。脾主消磨五穀。倉廩所司。則是又隸於足太陰矣。又何以獨主於腎也。不知北方黑色。開竅於二陰。入通於腎者。蓋陰竅不侔於陽竅。五臟主藏而不瀉。故走空竅而無形。為精明之府。六腑主瀉而不藏。故走濁竅而有形。為傳化之路。究竟與腎何與。殆化之者陽。而所以化之者則陰。無陰則陽無以化。腎主五液是也。試觀之腎虛之人。小便必淋瀝。大便則燥結。又有腎泄遺尿之候。益信腎之主二便也彰彰矣。而小便閉。又甚於大便閉者。大便止苦精血虧損。艱澀之患。小便則脹悶不堪。氣不化而形壞矣。然則治之者。專主於腎與。不專主於腎與。曰因腎虛而致者。治其腎。因他臟而致者。治他臟。陰陽者。變化之父母。生殺之本始。上有病。下取之。下有病。上取之。或實或虛。或熱或寒。老少異病。久暫異候。緩急異宜。神而明之。存乎其人。是可與知者道也。</p>
<p>一老人年七旬。酒後不謹。患小便閉。及旬日。點滴不通。少腹脹滿。連至腰胯。坐臥不可。始延治。按其脈。或促或結。參伍不調。檢其藥。則五苓八正六一補中腎氣。遍嘗罔應。余因思虞天民用地膚草自然汁。治百藥不應者曾驗。即令其童採取之。時值初夏。其草尚嫩。遂收以搗汁。因以己意用鹽炒川萆薢一兩水煎。共汁飲之。以其能去膀胱宿水故也。試嘗之。小便湧決如泉。晝夜不止。其腹漸平。但陰囊為前醫所熏。赤腫如斗。延吾郡瘍科療之。用砭法出水。逾日復作。又延余治。余曰。小便不利。一劑取效。此囊癰之兆。當以六十劑約兩月全愈。老人曰。日服二劑何如。余曰。則一月愈。遂以炒黑龍膽草柴胡山梔當歸芍藥熟地茯苓澤瀉牛膝丹皮之屬。瀉肝補陰。果日消一日。如期而痊。</p>
<p>一老人年六旬。因幼年曾參禪。習危坐運氣法。得小便閉症。比時士材笠澤兩先生。以金匱腎氣丸投之不受。反覺悶絕者三日。及晚年來。每至冬至前一日。小便遂閉。極力攻出。解血塊如蜆肉狀。頃之復閉。三日不通。則悶絕不醒。余曰。此少腹有瘀滯。極力欲解。則氣反不化。故上攻而暈。余以人參三錢。琥珀一錢五分。牛膝一錢五分。丹皮一錢。車前子二錢。升麻五分。且攻且補。一降一升。用之取效。以後屢發。投此無不神應。若用他藥。便沒幹涉。</p>

<h3>疝論</h3>
<p>聞之男子之外腎。猶女子之兩乳。皆隸厥陰而司陽明。此靈樞分配十二支也。厥陰者肝也。主筋。而陽明主宗筋之會。猶女子乳頭屬肝。而乳房屬胃也。蓋女子類陰。故血主之。男子類陽。故氣主之。此疝之為患。所以攻衝脹滿。而疼痛時作。名曰疝氣。然肝火下注。則患左丸。肝性急速。故痛勝於腫。脾濕下流。則患右丸。脾性緩慢。故腫勝於痛。又有外寒鬱熱者。氣不宣通者。腎陰不足者。瘴癘所中者。勞倦所傷者。先天稟成者。所因多端。未有不本厥陰一經而述類象形。如荔枝橘核茴香棠球之屬。以類而推。在血分則桃仁玄胡。在氣分則枳實青皮。寒則烏頭。熱則梔子。濕則蒼朮以燥之。氣則香附以理之。虛則葫蘆巴以溫之。然此則散於外腎者也。若結聚於膀胱左右。攻衝時作。為患心腹。則又非前藥之所能療。須察其所因虛實。令患者戒馳驅。除惱怒。絕房事。靜以調之。俟以歲月。乃可安痊。否則歸咎於藥餌。多見其不知諒也。</p>
<p>梔子湯　治疝氣或左或右。疼痛腫大。</p>
<p>梔子（一錢炒黑）　山楂（二錢）　橘核（一錢）　荔枝核（一錢）　澤瀉（一錢）　枳實（一錢）　歸尾（一錢）　茯苓（一錢）　小茴香（一錢鹽水焙）　柴胡（七分）</p>
<p>姜水煎。</p>
<p>蒼朮湯　治濕氣鬱熱。睪丸腫痛。</p>
<p>蒼朮（一錢泔制）　葛根（一錢）　山梔（一錢炒黑）　茯苓（一錢）　澤瀉（一錢）　廣皮（一錢）　山楂（二錢）</p>
<p>燈芯一握。姜一片。水煎。</p>
<p>腎氣方</p>
<p>茴香　補骨脂　吳茱萸（各五錢）　葫蘆巴（七錢半）　木香（三錢半）</p>
<p>為末。籮卜搗汁丸。鹽湯下。</p>
<p>疝痛方</p>
<p>山楂（炒四兩）　枳核（炒）　茴香（炒）　山梔（炒各二兩）　柴胡　牡丹皮　桃仁（炒各一兩）　吳茱萸（炒五錢）　八角茴香（炒一兩）</p>
<p>上為末。酒糊丸。桐子大。每服五十丸。空心鹽湯下。</p>
<p>㿗疝方</p>
<p>南星　山楂　蒼朮（各二兩）　白芷　半夏　枳核　神麯（各一兩）　海藻　昆布（各五錢）　玄明粉　吳茱萸（各二錢）</p>
<p>為末。酒糊丸。</p>
<p>治疝痛作腹內塊痛方</p>
<p>三稜　莪朮（醋煮）　炒曲　薑黃　南星（各一兩）　山楂（二兩）　木香　沉香　香附（各三錢）　黃連（五錢茱制）　萊菔子　桃仁　山梔　枳核（炒各半兩）</p>
<p>為末。薑汁浸。蒸餅和丸。</p>
<p>丹溪治疝劫藥用</p>
<p>烏頭（細切炒）　梔子仁（炒黑）</p>
<p>為末。或加或減。白湯丸。</p>

<h3>關格</h3>
<p>關格一症。上則格而不入。下則閉而不通。乃陰陽偏勝之候。亦陰陽離絕之證也。陽偏勝則上逆。逆之久則陰從之。上逆故水漿不受。煩躁不寧。陰從之故出而不返。有升無降。陰陽於是乎離絕。頭汗出而四肢冷。脈無而死矣。不然。丹溪謂上竅通。則下竅之水出焉。此何以上愈通而下愈不出也。然素問云。無陽則陰無以生。無陰則陽無以化。今陽偏勝而陰往從之。則有陽無陰。灼然可知。經又曰。上焦主納。下焦主出。又曰三焦者。決瀆之官。水道出焉。今上不納而下不出。則三焦之火竭盡無餘。求其頭無汗而陽不上越。肢不冷而陰不下絕。其可得乎。扁鵲謂不得盡其命而死。後腎謂九死一生之候。誠難乎其為治矣。余獨思陰絕陽絕。誠不可療。使當其未竭絕之際。而欲得一挽回之法。非上有以回其陽。下有以挽其陰。烏克有濟。因悟仲景白通湯。用姜附純陽之藥。恐其陽上絕。而以人尿豬膽純陰之味引之。恐其陰下絕。使陰陽協於和而後已。斯則治法之善者也。及節庵擴而充之。立回陽返本湯。亦陰陽相濟欲底於平。加黃連臘茶以降火。姜附為反佐。而以人參五味復其津液元氣。使不致於離絕。則又法外之法也。嘉言出。立黃連進退湯。酌其陰陽之偏。而進退補救之。又從事於八味湯。復其陰陽之根。以立其命。可謂思窮而路絕矣。學者誠於此而會通焉。則關格一症。庶乎出萬死於一生。濟無窮之夭枉矣。按格之吐逆。與凡吐逆之不同。蓋凡吐逆則小便利。陽氣得以下榮。陰氣尚能留戀。則不至於上脫矣。關之小便不通。與凡小便不通之不同。蓋凡小便不利。則上不吐逆。陰氣縱不能化。陽氣尚未離絕。則不至於下脫矣。惟格則陰絕於上。故投熱藥而彌熾。須以陰藥濟之。則不捍格。關則陽絕於下。故投陰藥而厥逆。須以陽藥挽之。則能氣化。此陰陽俱病。須以陰陽相濟之藥救之。乃玄妙之門也。試驗小便不通。必小腹脹悶不堪。惟關症則但有急而欲解之狀。未嘗脹悶。可知陽氣耗而陰氣併為之竭矣。此時嘔逆甚而胸滿或痛。亦陰氣上竄之故。初非有實邪也。且腎主二便。又主水火。今氣不下納。根將絕矣。八味丸導火歸元。而能復真陰。非又要著也哉。</p>
<p>黃連進退湯</p>
<p>川黃連（薑汁炒）　炮姜　半夏　川牛膝（鹽水炒）　白芍（酒炒各一錢）　人參（錢半）　大棗肉（三枚）　童便（小半杯）</p>
<p>水煎。如陽虛肢冷。加熟附子一錢。減連五分。陰虛躁渴。加麥門冬一錢。去半夏。</p>
<p>白通湯</p>
<p>蔥白（二莖）　熟附子（三錢）　乾薑（錢半）</p>
<p>水煎。加人尿豬膽汁。</p>
<p>回陽返本湯（見陰症論）</p>

<h1>卷之三</h1>

<h2>雜症</h2>

<h3>頭風</h3>
<p>凡頭痛之候。感於六淫者。其發各以時。惟頭風發不以時。或月計。或歲計。虛則愈頻。獨可異者。素問云。當先風一日則痛甚。不可出內。至其風曰。則少愈。夫痛既以風而作。何先風反甚。風日反愈乎。蓋礎潤而雨。月暈而風。凡氣機之動。每先形於所感。在天為風者。在人為肝。肝者風木之臟。而血藏焉。惟血虛則發熱。熱甚則生風。一經感召。而病機之躍躍欲動者。則從少陽之火以上頭角。故頭風先患左半者以此。然木邪凌土。脾胃受克。頭痛甚者。必作嘔。乃由少陽入陽明。則侵及於右半者以此。可見頭風之疾。乃本肝經而作。腎水不能生肝木。肝木來乘脾土。惟以補中益氣。調中益氣。使清陽上升。入黃柏以降陰火。土生金。金平木。水制火。東垣先生深察病機。立方神應。非後人所幾及。於此見一班云。若漫作風治。去之不啻千里。希其效也得乎。</p>
<p>一大寒犯腦。頭痛齒亦痛。用補中益氣湯加麻黃附子細辛。</p>
<p>一頭痛耳鳴。九竅不利。腸胃之所生。用調中益氣湯。</p>
<p>一挾熱頭痛。煩躁不寧。用茶調散。</p>
<p>一痰厥頭痛。因誤服疏風。脾胃虛損。頭旋吐痰。身重肢冷。頭苦痛如裂者。用半夏白朮天麻湯。</p>
<p>一頭痛巔疾。下虛上實。過在足少陰巨陽。用黑錫丹。</p>
<p>一眉稜骨痛。風熱痰氣上攻者。用選奇湯。</p>
<p>調中益氣湯</p>
<p>升麻　柴胡　黃柏（酒炒）　川芎　甘草（各三分炙）　蒼朮（泔制）　人參　陳皮（各七分）　黃耆（蜜炙）　當歸　蔓荊子（各一錢焙研）</p>
<p>水煎。畏寒甚。加細辛三分。</p>
<p>茶調散</p>
<p>黃芩（酒浸炒，二兩）　川芎（一兩）　白芷（五錢）　荊芥（四錢）　薄荷　細茶（各三錢）</p>
<p>為細未。每服三錢。茶送下。巔頂及腦痛。加細辛藁本蔓荊子各三錢。</p>
<p>半夏白朮天麻湯</p>
<p>半夏　麥芽（各錢半）　乾薑（三分）　白朮（土炒）　神麯（各一錢炒）　黃柏（二分酒炒）　人參　蒼朮（米泔制）　天麻（煨）　黃耆（蜜炙）　陳皮　澤瀉　茯苓（各五分）</p>
<p>水煎</p>
<p>黑錫丹</p>
<p>沉香　附子（制）　葫蘆巴　肉桂（各五分）　茴香（焙）　補骨脂　木香　金鈴子　肉豆蔻　黑錫　硫黃（與黑錫結砂各一兩）</p>
<p>為末。研勻酒煮。面和丸。梧子大。陰乾。每服五錢。空心姜鹽湯送下。一方有陽起石五錢。巴戟一兩。</p>
<p>選奇湯</p>
<p>防風　羌活（各三錢）　黃芩（一錢酒炒）　甘草（三錢夏生冬炙）</p>
<p>每服三錢。水煎熱服。</p>

<h3>頭眩</h3>
<p>經言諸風掉眩。皆屬肝木。則眩者風之所作。而肝之所主。河間則責於火。火炎上而動搖也。丹溪則責於痰。痰流動而沖溢也。然治火併治痰。而眩如故者何耶。良緣火之有餘。本於水之不足。則壯水之主。錢氏六味丸加鹿茸是也。痰之所發。由於水之上泛。則益火之原。仲景腎氣丸補而逐之是也。使根本堅實。即枝葉扶蘇。孰得而震撼之哉。其次則莫如培土。木剋土。而實藉土以自栽。有如思慮太過。則調以歸脾。勞役不節。則益以補中。使心火寧而不盜母氣。肺金旺而化源益滋。更入杜仲枸杞山茱萸之屬。上病下取。則鮮有不安者也。蓋眩為中之始基。中為眩之究竟。其所以致此者。未有不戕。賊真陰而得。則又何容諱耶。</p>
<p>一體虛之人。外感六淫。內傷七情。皆能眩暈。當以脈證別之。</p>
<p>一氣虛者。乃清氣不能上升。或汗多亡陽而致。當升陽補氣。血虛者。乃亡血過多。陽無所附而然。當益陰補血。此皆不足之症也。痰涎郁遏者。宜開痰導郁。重則吐下。風火所動者。宜清上降火。外感四氣。散邪為主。此皆有餘之症也。劉宗厚辨之頗詳。要之素無病而忽眩者。當於有餘中求之。素不足而眩者。當於先後天分之。不得以氣血該也。</p>
<p>本事川芎散　治肝風眩暈。</p>
<p>山茱萸（一兩）　小川芎　人參　山藥　茯神　甘菊花（各半兩）</p>
<p>為末。每服二錢。酒調下。</p>
<p>鉤藤散　治肝火頭暈。兼有痰者。</p>
<p>鉤藤　陳皮　麥門冬　半夏　茯神　甘菊花　人參　防風　白茯苓（各半兩）　甘草（一錢）　石膏（一兩）</p>
<p>每服四錢。姜七片。水煎。</p>
<p>許學士二方。用意頗微。不可忽視。</p>

<h3>鼻淵</h3>
<p>鼻淵一名腦淵。以鼻之竅。上通腦戶。腦為髓海。猶天之星宿海。奔流到底。骨中之髓。發源於此。故髓減則骨空頭傾視深。精神將奪矣。李瀕湖云。鼻氣通於天。天者。頭也。肺也。肺開竅於鼻。而陽明胃脈。環鼻而上行。腦為元神之府。而鼻為命門之竅。人之中氣不足。清陽不升。則頭為之傾。九竅為之不利。然肺主皮毛。形寒飲冷則傷肺。治者但見其標。不求其本。往往喜於解散。散之過。則始流清涕者。繼成獨涕。漸而腥穢。黃赤間雜。皆由滲開腦戶。日積月累。而至尫羸矣。使非參耆益其陽。麥冬五味斂其陰。佐以辛荑透其竅。腦戶何由而固耶。虛寒少入細辛。內熱監以山梔。又須六味丸加鹿茸枸杞等。下填腎陰。則精足者髓自充。尚何漏卮之足云。</p>
<p>補中益氣湯</p>
<p>黃耆（一錢半蜜水炒）　人參　白朮（炒土）　當歸　麥冬（各一錢去心）　廣皮（七分）　柴胡　炙甘草　升麻　辛荑　山梔（各三分炒黑）　五味子（九粒杵）</p>
<p>薑棗水煎。</p>
<p>補腦丸　治鼻淵久不愈者。神效。</p>
<p>人參　麥門冬（去心）　茯苓　杜仲（鹽水炒）　肉蓯蓉（酒淨）　山藥（飯上蒸切）　熟地黃　山茱肉（各二兩）　黃耆（蜜水炒）　枸杞子　菟絲子（各三兩）　鹿茸（酒漿微炙切片）　五味子（各一兩）</p>
<p>為末。另搗蓯蓉枸杞熟地麥冬。略添煉蜜和丸。如桐子。每服四錢。白滾湯下。</p>

<h3>耳病</h3>
<p>陰陽之用。互合成體。有如陽竅七。奇數也。而五臟開之。則主受。陰竅二。偶數也。而六腑輸之。則主化。然陽竅中。心肺為陰中之陽。則口鼻之氣。升降往來。無形而之有形矣。腎肝為陰中之陰。則耳目之竅。虛實交參。有形而之無形矣。故五色則目收之。五味則舌辨之。五臭則鼻吸之。五音則耳納之。然目之光猶外發。木中有火也。耳之聰惟內受。水性潤下也。恆見腎氣足者。耳中之墨充塞。而聽愈聰。腎氣虛者。耳中空竅無礙。而聽愈背。明乎此理。可見少陰之氣。藏於耳中。而其外蔽者。則少陽之風火。擾亂相扇。驅其外邪斯得矣。若夫腎氣不充。少陰之脈不至。惟峻補真陰。入以鎮墜之品。則氣不上亂。復其司聽之職。則虛而能受。如空谷之音。響應立赴矣。不知者。妄以外導法。欲令氣通。則陰內陽外。豈能越出而失其常經乎。或又曰。心開竅於舌。寄竅於耳。凡用心過度。火為之擾。然鳴則有之。聾則未也。究之心腎不交。水不升故火不降耳。至痰火為患。耳如蟬鳴。降氣則痰下。益水則火息。亦不越攝氣歸元之旨也。</p>
<p>一色欲損腎。六味丸入杜仲牛膝沉香黃柏枸杞磁石。</p>
<p>一耳中乾結。耳鳴而聾。柴胡聰耳湯。</p>
<p>一上焦熱。耳鳴而聾。及出膿汁。蔓荊子散。耳痛生瘡。黍黏子湯</p>
<p>一停耳。耳中有膿。用桑螵蛸炒。入六味丸。</p>
<p>柴胡聰耳湯</p>
<p>連翹（四錢）　柴胡（三錢）　炙甘草　當歸　人參（各一錢）　水蛭（五分炒）　虻蟲（三個去殼足炒）　麝香（少許）</p>
<p>上除後三味別研外。作一服。加生薑三片。水煎去渣。入三味末再煎。食遠服。</p>
<p>蔓荊子散</p>
<p>甘菊　蔓荊子　桑白皮　麥門冬　生地　赤茯苓　赤芍藥　前胡（各一錢）　炙甘草　升麻　木通（各三分）</p>
<p>薑棗水煎。</p>
<p>黍黏子湯</p>
<p>昆布　蘇木　生甘草　蒲黃　龍膽草（各二分）　黍黏子　連翹　生地　炙甘草　當歸　黃芩　黃連（各三分）　柴胡　黃耆（各四分）　桔梗（一錢半）　桃仁（三個去皮尖）　紅花（少許）</p>
<p>水煎。</p>
<p>六味丸</p>
<p>懷熟地（八兩）　山茱萸　淮山藥（各四兩）　牡丹皮　澤瀉　茯苓（各三兩）　磁石（一兩醋煅七次）　沉香（五錢）　牛膝　杜仲（鹽水炒）　枸杞子（各二兩）　黃柏（一兩鹽水炒）</p>
<p>為末。添煉蜜糊丸。每服三錢。青鹽湯下。</p>

<h3>目病</h3>
<p>凡竅各司其一。而唯目。則五臟之精華。皆上注焉。其瞳子。則水之晶而火之用也。黑膏者。木之脂。白膏者。金之液。木火金水。合聚其彩。重重裹之。而神乃外發。故其光之所射。無遠不照。無微不察。猶天之有日月也。然人但知其發之用在木火金水。而不知其藏之妙獨在於土。土無光者也。而上下眼胞則主之。以司開闔。故晝則開而屬陽。夜則闔而屬陰。有陰之闔。正以濟陽之用。木火金水。皆藏於土中。乃發露而不窮。此造化之巧。本於能藏也。試觀之木膏入土。年久成珀。銅坑在土。空青乃生。井中水。則澄澈。石中火。則光焰。無在不藉土為用。東垣云。五臟六腑之精氣。皆稟受於脾土。貫於目。脾者諸陰之首。目者血脈之宗。脾虛則五臟之精氣。皆失所司。不能歸明於目矣。苟心煩事冗。飲食失節。勞役過度。則百脈沸騰。復感外邪。而諸病生焉。善治者。必理脾胃。養血安神。而驅風清火。治標之法。可暫而不可常者。若夫色欲損腎。則腎肝之陰。真水真火。不可一日而缺。尤急宜講求者也。</p>
<p>一目疾感風寒。脈浮洪或緊。宜發散。後加甘菊蒺藜決明枳殼。涼血。生地丹皮。</p>
<p>一日疾紅赤。不畏風寒。脈數疾者。用甘菊蒺藜決明山梔酒芩酒連當歸枳殼。</p>
<p>一眼胞浮腫。防風通聖散主之。微腫而虛。用蟬殼茯苓決明山藥木通麥冬或加白朮。</p>
<p>一目疾有星翳。用蒺藜木賊決明穀精當歸生地蔓荊子青葙子。</p>
<p>一眼目昏花。視物不明。因思慮者歸脾湯。勞倦者補中益氣湯。鬱怒者加味逍遙散。腎水不足。滋陰腎氣丸。真火不足。濟陰地黃丸。或八味丸加沙苑蒺藜枸杞子。</p>
<p>一瞳神散大。用遠志茯神棗仁人參枸杞山藥五味。</p>
<p>一肝腎氣虛。兩目昏暗。視物不明。用加減駐景丸。</p>
<p>一雀盲。至夜則目不見。用補中益氣湯加枸杞子山茱肉山藥。</p>
<p>一沿眶爛眼。用甘菊白芷各二錢。朴硝五錢。杏仁十七粒。膽礬三分。羌活一錢。水二鍾。煎一鍾。淨洗神應。</p>
<p>一東垣治飲食勞役所傷。視物昏花。用益氣聰明湯。</p>
<p>一婁全善治目珠疼。至夜尤甚。及點苦寒藥反疼者。用夏枯草四兩。香附末二兩。甘草四錢。清茶調服二錢良效。</p>
<p>防風通聖散</p>
<p>防風　川芎　當歸　薄荷　芍藥　大黃（炒）　麻黃　連翹　芒硝（各五錢）　石膏　黃芩　桔梗（各一兩）　滑石（六兩）　山梔　荊芥　白朮（各一兩土炒）　甘草（二兩）</p>
<p>為末。每服二錢。姜水煎服。</p>
<p>滋陰腎氣丸</p>
<p>熟地黃（三兩）　生地黃（四兩）　牡丹皮　當歸　山茱肉　山藥　柴胡　五味子（各五錢）　澤瀉　茯苓（各二兩五錢）</p>
<p>為末。蜜丸。每服三錢。淡鹽湯下。</p>
<p>濟陰地黃丸</p>
<p>五味子　麥門冬　當歸身　熟地黃　肉蓯蓉　山茱肉　乾山藥　枸杞子　甘菊花　巴戟肉（各等分）</p>
<p>為末。蜜丸。每服三錢。白湯下。</p>
<p>加減駐景丸</p>
<p>菟絲子（半斤酒製）　當歸　熟地黃（各五兩）　車前子（焙）　五味子　枸杞子（各二兩）　楮實子　川椒（炒各一兩）</p>
<p>為末。蜜丸。每服三錢。溫酒下。</p>
<p>益氣聰明湯</p>
<p>人參　黃耆（蜜水炒）　炙甘草（各五錢）　升麻　葛根（各三錢）　蔓荊子（錢半焙研）　芍藥（酒炒）　黃柏（各一錢）</p>
<p>每服三錢。水煎。</p>

<h3>口病</h3>
<p>中央黃色。入通於脾。開竅於口。胃脈挾口環唇。大腸脈還出挾口。厥陰脈下頰裡環唇內。又皆統之於脾矣。獨其邪之所侵。火熱則赤。木乘則青。氣虛則白。火極似水則焦黑。水極似火則裂坼。一寒一熱。判若天淵。胃熱脈洪。責於心火。內熾脾虛。脈弱本於陰寒上逼。清胃涼膈。所以徹熱。附子理中。所以溫里。今人一見唇焦。便指為熱。不知中氣虛寒。飲食不進。中焦失守。無根之火。逼而上浮。若以寒涼投之。則火愈不歸。而食愈不進。惟人參理中。溫其中氣。火奠厥位。而唇口坼裂。如久旱逢霖。立時潤澤矣。至乃舌為心苗。脾之絡。連舌本。散舌下。腎之脈。亦系舌本。傷寒家驗舌苔。以焦黑為胃熱。為水枯。則本此。若別口味之辛甘鹹苦酸。以察五臟之熱。尤其顯白者。則各以其臟治之。斯善耳。要之二陽之病發心脾。火土子母相關。豈淺鮮哉。</p>
<p>一口病實熱。脈洪數有力者。用清胃湯。</p>
<p>一口病飲食不進。脈微細軟弱者。用人參理中湯。或歸脾湯加炮姜。</p>
<p>一謀慮不決。上為口糜。用逍遙散。或升陽散火湯。大腸移熱。用秦艽升麻湯。</p>
<p>清胃傷　治胃火血燥唇裂。或為繭唇。或牙齦潰爛作痛。</p>
<p>黃連（炒）　生地黃　升麻（各一錢）　當歸（一錢二分）　牡丹皮（八分）</p>
<p>水煎。</p>

<h3>齒病</h3>
<p>五行之用。無在不彰。天一生水。水之凝者為石。其至堅者為金。而石可礱物。金能斷物。在人則齒應之。齒者胃之標。骨之餘。上齦屬胃。胃為艮土。故止而不動。下齦屬大腸。大腸主庚金。故動而不休。齒稟其氣。無物不摧。此造化之微。不可測也。腎中有水有火。足陽明喜寒畏熱。手陽明喜熱畏寒。其氣不齊。凡齒落動搖。主腎。齒齦腫潰。主胃與大腸。其間有風寒乘之。濕熱侵之。疳蟲蝕之。或散或清。或盪滌。法亦不等。然必以寒熱兼濟。藥乃有效者何也。緣水火不可偏廢。一勝則一負。土不可燥。金不可寒。即其所喜所畏。可得用藥之權衡。如細辛。少陰之熱藥也。黃柏。太陽之寒藥也。專用之。則各主一病。合用之。則止牙疼於俄頃。凡祛風解熱涼血劑中。皆不可缺。至真陰虧而水不足。元氣傷而火有餘。或益水中之火。或滋火中之水溯厥原而療之。能以常格論哉。</p>
<p>一東垣治劉經歷之內。齒痛不可忍。須騎馬外行。口吸涼風則痛止。至家復作。乃濕熱為邪。足陽明多血多氣。加以膏粱之味助之所致。因立方。不須騎馬。當令風寒之氣。生於齒間。黃連胡桐淚之苦寒。薄荷葉荊芥穗之辛涼。四味相合而作風寒之氣。治濕熱為主。新升麻之苦平。行陽明經為使。羊䯒骨灰補之為佐。麝香少許為引。細末擦之。痛減半。又以調胃承氣去硝加黃連治其本。下三兩行。痛不復作。</p>
<p>一齒惡寒熱。或蟲疳齦腫。出血痛穢。皆手足陽明。外感風寒。內蘊濕熱。風寒。用荊防湯。濕熱。用清胃散。甚則承氣湯。</p>
<p>一牙齒動搖脫落。本足少陰經。用六味丸。火衰者。八味丸。還少丹。七情所傷。隨症調之。</p>
<p>一風毒牙痛。或大寒所犯。用獨活散。</p>
<p><u>荊防湯</u>　治畏寒畏熱。</p>
<p>防風　荊芥　生地　枳殼　葛根（各一錢）　細辛（三分）　蔓荊子（七分焙研）　黃柏（五分酒炒黑）</p>
<p>水煎。</p>
<p><u>清胃湯</u>　治齦腫潰爛。</p>
<p>生地（一錢半）　石膏（二錢）　升麻（五分）　丹皮　防風　枳殼（各一錢）</p>
<p>水煎。</p>
<p>下齦甚者。加芍藥、黃芩。</p>
<p><u>涼膈散</u>　治胃有實熱。</p>
<p>大黃（酒蒸）　朴硝　甘草　山梔（炒黑）　黃芩　薄荷（各一兩）　連翹（四兩）</p>
<p>為末。每服五七錢。水煎。</p>
<p><u>獨活散</u></p>
<p>獨活　川芎　羌活　防風（各五分）　細辛　荊芥　薄荷　生地黃（各二錢）</p>
<p>每服五錢。水煎。</p>
<p>丹溪治小兒走馬牙疳。床一齊腐爛即死。用婦人尿桶中白垢。火煅一錢。入銅綠三分。麝香一分半。敷之立效。</p>
<p>立齋治中氣虧損。牙齒作病。用補中益氣、歸脾二湯。加酒炒黑黃柏。</p>

<h3>喉痹</h3>
<p>龍潛於海。雷藏澤中。則天以清。地以寧耳。及其發也。陰霾四際。光焰燭天。天氣閉塞。地氣冒明。所謂龍雷之火。迅不及掩。其勢疾暴可畏。一至風恬雨霽。則無所施其威矣。人之喉主天氣。咽主地氣。為身中之橐籥。水穀之道路。使無風火相扇。則金空而鳴。谷虛而納。何窒塞之與有。惟火發於內。風鬱於外。水波洶湧。而聚為痰。在外則喉風。纏絡胸膈。在內則喉痹。壅結兩傍。疼痛而食不得入。聲不得出。旦夕之際。危亡可待。斯時也而以陰寒藥投之。則其勢愈甚而火彌熾。痰彌盛矣。急須驅風豁痰。開通鬱結。糾纏頓釋。閉塞立開也。故喉風。殭蠶、半夏為君。佐以疏理。喉痹。射干、甘、桔為主。佐以辛涼。撤其風而火自息。祛其痰而風自寧。縱有龍雷之相火。安足患乎。此治之之要。首則探吐。次則解散。甚而從治。嚴用和蜜餞附子片。令吮其汁。因火不歸元。而足冷脈微。已成危險之候。有不得已而用者。</p>
<p>一喉痹。俗名乳蛾。生於兩傍。紅紫如錢。中黃如豆。或左或右曰單。左右俱有曰雙。嗌以上者可見。嗌以下者不可見。水穀難下。急須點破咯吐之。或以鵝翎蘸燈油腳攪吐之。</p>
<p>一喉痹。屬外感者。發散藥入射干。屬七情所傷者。歸脾、逍遙去耆、術。加射干、桔梗、薄荷開之。陰虛火動者。</p>
<p>六味湯入薄荷。</p>
<p>一喉痛久不愈。甚至潰爛。素曾患時瘡者。用萆薢散。</p>
<p>一喉風痰涎壅盛。聯布心胸。腫大紅赤。喘息難舒。用巴豆油染紙作捻子。點火吹滅。取煙透鼻內。即時口角流涎。並觸患處。急服殭蠶散。</p>
<p><u>射干湯</u>　治喉痹。</p>
<p>射干（一錢）　防風　荊芥　桔梗　薄荷（各一錢）　大力子（錢半焙研）　廣皮（八分）　甘草（三分）</p>
<p>加燈芯一握。生薑一片。水煎。火甚。加玄參、天花粉。肺虛。加川貝母、茯苓。</p>
<p><u>殭蠶散</u>　治喉風。</p>
<p>殭蠶（二錢湯淨）　半夏　防風　前胡　荊芥　桔梗　葛根　枳殼　玄參　薄荷（各一錢）　大力子（一錢半焙）　甘草（三分）</p>
<p>生薑一片水煎。</p>
<p><u>萆薢散</u>　治楊梅喉癬。</p>
<p>土茯苓（別名萆薢五錢）　當歸　金銀花　皂角刺　米仁（各二錢）　白鮮皮　白芷　木瓜　木通（各七分）　甘草（五分）</p>
<p>水煎。</p>

<h3>瘰癧</h3>
<p>經云。東方實。西方虛。瀉南方。補北方。此言治法也。而余取以治瘰癧。尤不易之法也。東方者。木也。足厥陰肝足少陽膽屬之。陰不足。則陽有餘。肝膽主節。筋無血養。則火自甚而金不能平。木反侮之。於是喉之兩傍。厥陰少陽經筋之所過。則鬱給成核。始則一二。繼則三五。或左或右。累累如貫珠。久則潰爛。膿血淋瀝。以致月消而敗矣。南方者。火也。實則瀉其子也。如夏枯草、連翹、黃芩、貝母、玄參之屬。清火消痰。使火不得以乘金。而金得以平木。將少陽之火。不復熾矣。而厥陰之血。從何養乎。則補北方是也。北方者。水也。水乃生木。乙癸同源。肝氣不宜助而肝血宜滋。況腎水既旺。而不盜金之氣。西方不虛。東方獨得實乎。故瀉南方者。治瘰癧之始。補北方者。救瘰癧之終。余因是而悟古人立法之巧。非後人所幾及。類如斯。</p>
<p>一瘰癧女子多見之。男子間有。有血虛內熱所致。有鬱怒傷肝而作。或感大行暑熱。或啖煎炙醇酒。熱生痰。痰成核。初則瀉火消痰。開鬱解毒。潰則補中益氣。滋養腎水。庶成者可消。而潰者可斂也。</p>
<p><u>夏枯草湯</u></p>
<p>夏枯草（三錢）　玄參　黃芩　土貝母　金銀花　連翹　天花粉　薄荷　桔梗（各一錢）　甘草節（三分）</p>
<p>燈芯一握。水煎。鬱怒。加香附、柴胡、鉤藤、遠志。血虛。加當歸、白芍藥。血熱。加生地、牡丹皮。氣虛者。加味歸脾湯入夏枯草。或逍遙散加貝母、夏枯草。飲食不入者。四君子湯加廣陳皮、香附、陳神麯。飲酒太過者。前方內加葛根、澤瀉、青皮。去香附。腎陰不足者。六味地黃丸。</p>

<h3>肺症</h3>
<p>西方白色。入通於肺。位居於兌為燥金。時列於秋為燥令。燥者火之餘氣也。所藉乎有以潤之。而不至於竭其液。則清肅下行。將天氣降而云物不為之擾矣。肺位至高。風寒易侵。鬱火於中。使復加之辛熱。則柔脆之金。一經消爍。有不損壞者乎。而肺癰於是乎作矣。又主元氣。治節一身。苟勞動喘乏。用而不息。將肺氣日促。口吐涎沫。無氣以動。而肺痿於是乎成矣。蓋二症者。一本外感。一本內傷。外感者。非遽至於癰也。良由治療失宜。過於解散。而以保之潤之為急。多有得生者。雖破殘之肺。可以復完。內傷者。則因酒色過度。酒入氣分。色傷陰分。辛熱之性。既以耗於上。又以竭於下。日漸月累。每成於不自覺。久乃痿躄聲嘶。肺氣敗壞而不復支。使欲噓其既槁而潤之。誠難為功。孰謂二症可不辨哉。</p>
<p>一肺癰能食者生。賴有胃氣。土為金之母也。其症咳唾稠痰。腥穢如膿。黃赤間雜。甚則咳出白血。白血者肺之葉也。手掌乾澀。皮膚不澤。脈數而疾。急以栝蔞仁湯。連進數劑。或一二十劑。未有不愈者。余屢治神驗。不易僕數。</p>
<p>一肺痿。咳唾涎沫。胸中隱痛。四肢乏力。無氣以動。用補中益氣湯去升麻、柴胡。加阿膠、桑皮、麥冬、五味、白芨。</p>
<p><u>治驗</u></p>
<p>一男子冬日咳嗽。自用發表。至春咳出臭痰。已七八日矣。晝夜不絕。脈得細數。展側不能。手如枯掌。但飲食猶進。余用栝蔞、貝母之屬。連進八劑。減半。又八劑。全愈。以六味丸調之。</p>
<p>一人夏月飲火酒。患赤痢。脈洪數。與芍藥湯服之。未愈更醫。至冬。漸變咳嗽臭痰。瘍科作肺癰治。延至於春。日吐紅血盂許。上結白沫。臭穢異常。又經月餘。咸謂必死。復延余診。脈猶洪大帶數。見其食雞子。連進七八枚。無恙。余因謂曰。可治。肺雖壞而胃氣未敗也。亦與前湯。服十六劑。果愈。繼以膏子藥。調理而痊。</p>
<p><u>栝蔞仁湯</u></p>
<p>栝蔞霜　米仁（各二錢）　川貝母（去心）　天門冬（去心）　金銀花　麥門冬（去心）百合（各錢半）　甘草節（三分）　桑白皮（蜜炙）　桔梗（各一錢）</p>
<p>水煎。久而不斂。加白芨、阿膠。去桑皮。寒月。加款冬花、紫菀。夏月。加生地、牡丹皮。若脾虛不食。用四君子湯。或六君子湯。但喘未除者。不可驟補。真陰不足。繼以六味丸加阿膠。</p>

<h3>乳症</h3>
<p>經云。怒則氣上。思則氣結。上則逆而不下。結則聚而不行。人之氣血。貴於條達。則百脈暢遂。經絡流通。苟或怫鬱。則氣阻者血必滯。於是隨其經之所屬而為癰腫。況乎乳房。陽明胃經所司。常多氣多血。乳頭。厥陰肝經所屬。常多血少氣。女子心性偏執善怒者。則發而為癰。沉鬱者則漸而成岩。癰之為患。乳房紅腫。寒熱交作。宜化毒為主。栝蔞、忍冬之屬。可使立已。岩之為病。內結成核。久乃穿潰。宜開鬱為要。貝母、遠志之類。不容少弛。若男子則間有。不似婦人之習見也。陳氏則云微有異者。女損肝胃。男損肝腎。肝虛血燥。腎虛精怯。血脈不得上行。肝筋無以榮養。遂結痛腫。似亦有見。至既潰之後。氣血必耗。惟以歸脾、逍遙、人參養榮無間調之。又必患者怡情適志。寄懷瀟灑。則毋論癰症可痊、而岩症亦庶幾克安矣。倘自恃己性。漫不加省。縱有神丹。亦終無如何也。</p>
<p>一乳癰。惡寒發熱。乳房紅腫。用橘葉散。</p>
<p>一乳吹。乳房作脹。枳殼散。乳汁不通。膨悶。王不留行湯。</p>
<p>一鬱怒傷肝。左乳結核。加味逍遙散。入貝母、金銀花、青皮、香附。思慮傷脾。右乳結核。加味歸脾湯。入貝母、金銀花。</p>
<p>一乳癤潰後不斂。人參養榮湯、歸脾湯、八珍湯。調養之。餘毒未解。入忍冬花。</p>
<p>一乳岩潰後。須前方久服勿輟。調和情性。若鬱結不舒者不治。</p>
<p><u>橘葉散</u></p>
<p>金銀花　栝蔞　青皮　當歸　皂針　連翹（各一錢）　橘葉（十片）　柴胡（七分）　甘草節（三分）</p>
<p>水煎。心思不遂者。加遠志、貝母。</p>
<p><u>枳殼散</u></p>
<p>枳殼　木通　生地　當歸　廣皮　金銀花（各一錢）　甘草（三分）　鉤藤（二錢）</p>
<p>燈芯一握。水煎。</p>
<p><u>王不留行湯</u></p>
<p>穿山甲（炒）　麥門冬（去心）　王不留行（炒）　當歸　白芍藥（酒炒）　熟地黃　茯苓　通草（各一錢）　川芎（五分）　甘草（三分）</p>
<p>用豬前蹄煮汁二碗煎藥。食遠服之。以熱木梳梳其乳房。其乳立至。</p>
<p><u>蓬朮湯</u>　治乳核。</p>
<p>蓬朮（七分醋煮）　甘草節（三分）　遠志肉（甘草制）　人參　金銀花　貝母（去心研）　香附（醋炒）　白芍藥（酒炒）　當歸身（各一錢）　水煎。</p>
<p><u>麥櫱湯</u>　消乳膨。</p>
<p>麥芽（一兩炒研）　川芎　白芍藥（酒炒）　熟地　當歸（各一錢）</p>
<p>水煎服。外用布緊束兩乳。以手揉按。乳自消退。</p>
<p>一方用栝蔞兩個。炒熟搗爛。酒水各半。煎服。癰腫初起者立消。</p>
<p>一方用蒲公英二兩。連根帶蒂。酒煎服。亦效。</p>
<p><u>治驗</u></p>
<p>一女子發熱七八日。脈數身熱口乾。諸醫作傷寒治。用發表消導藥。其勢益甚。延余診之。疑其陰血虧損。及細叩其有無痛處。則曰左乳紅腫作疼。余乃笑曰。此乳癰症。而誤認傷寒。焉得不至於此。急與米飲。兼進栝蔞、貝母、忍冬、茯神、遠志、鉤藤、麥冬、甘草。生津解毒。三劑而愈。</p>
<p>一女子產後乳癰。三四旬余。反發寒熱。延余診之。脈得耎弱。氣血二虧。用八珍湯數劑始痊。</p>

<h3>脅痛</h3>
<p>經曰。左右者陰陽之道路。蓋左屬陰而右屬陽也。陰為血而陽為氣也。左者肝也。肝藏血。性浮。喜條達而上升。有以抑之。則不特木鬱而火亦郁。故為痛。治之宜疏肝清火理血。左金兼桃仁、紅花、鉤藤、青皮之屬。虛人及季脅下疼者。六味湯滋其水以潤之。乙癸同源之意。亦由房勞所致也。右者肺也。肺主氣。性沉。喜清肅而下降。有以逆之。則肺苦氣上逆而為痛。治之宜降氣消痰。前、桔、枳殼、陳皮之屬。虛人歸脾湯去耆、術加延胡主之。以補其母。若香燥破血之藥。非其治也。且於中州無礙。不可克代。與外感無涉。不可發散。犯之則汗出發喘。促其斃矣。余每怪時流。一遇脅痛。不分左右陰陽。不彆氣血痰火虛實閃挫之因。動稱肝經受病。及用藥。又以外感法治之。致死不悟。深可悲憫。殊不知脅痛之候。治之一逆。貽禍甚速。即有知者。亦守痛無補法。害亦相等。幸臨症者慎焉。</p>
<p>王宇泰先生治一人。患左脅痛。外發紅丹數十顆。有投以龍膽瀉肝等湯。竟不效。先生曰。肝性燥苦急。宜甘以緩之。用單味栝蔞二兩。研霜煎飲。取其甘緩潤下。紅丹可一洗而愈也。果如先生言。余凡遇左脅疼。煩躁面赤。脈數痰色綠者。每加之輒驗。若無痰而陰虧脈虛數。汗出無氣以動。六味湯加鉤藤。屢獲奇效。若血凝氣滯。以桃仁、紅花、枳殼、醋製青皮、香附、延胡等。或加生地、芍藥、鉤藤佐之。實火。左金丸亦可選用。</p>
<p>一友右脅痛。以自知醫。用發散藥。痛愈甚。氣息難布。余診其脈則微弱。特慮其不受補。以單味貝母一兩。研細煎湯飲之。保其肺氣。使清肅下行。痛即如失。蓋栝蔞色綠入肝。有解毒之功。貝母色白入肺。有保殘之力。故治各不同也。夫貝母亦能解毒。用之以平肝則無濟。栝蔞亦能潤肺。用之於誤汗則太寒。學者不可不知。</p>
<p>一人患右脅痛。凡旬日。醫者誤用香燥。致不得坐臥。又延一友。不能治。反曰胸中有滯。止宜消導。若痛止。必不可救。及服其藥。果愈甚。病者求死。比余適止。見其苦。慰之曰。不難療。可一劑而愈。病者喜。伊兄云。痛未可止。余怪問其故。則曰。頃醫者有是言。故云。余笑曰。令弟苦痛不止欲死。醫者又苦痛止不治。何大相背也。檢其藥。仍用消導加半夏等燥劑。余即取素所歷效自制推氣散。加延胡索。命煎飲之。又適友人楊子武修至。余告其故。欣然同意。少頃。病者數日不解帶。不轉動。忽下榻曰。痛愈大半。欲解衣而睡矣。當晚遂安臥。越三日。痛雖愈。但因前久坐。氣不歸原。不能安枕。余以六味湯加杜仲引氣下行。二劑知。四劑已。繼六味丸調理而康。蓋右脅痛者。肺氣之逆也。以其真陰虧損。肺不能歸藏於腎水之中。故理肺之後。繼以滋陰。亦一法耳。</p>
<p>一人患右脅前岐骨下軟肉處痛。醫者用破氣血藥加酒煎。投三四劑。遂叫號不絕。余亦以推氣散加延胡飲之。瘥緩。但面赤脈數口乾。加入生地、茯苓。去前、桔。痛稍止。又因勞心。後加遠志、當歸、鉤藤、杜仲。去枳殼。乃愈。或問之曰。病名為何。余曰。此名閃肭痛。肭在臍之旁。季脅之前。曰何以知之。曰。膃肭臍乃海狗腎之別稱。則肭之命名。當在臍與腎之間也。若勞倦不節。色欲不謹。氣血有阻。則軟脅前痛。宜補而調之。勿投燥劑可也。</p>
<p><u>疏肝飲</u>　治左脅痛。</p>
<p>柴胡　當歸　黃連（各七分茱制）　青皮（醋炒）　枳殼（麩炒）　白芍（各一錢酒炒）　川芎　紅花（各五分）　桃仁（九粒研如泥）</p>
<p>姜一片。水煎。如兼痰喘者。不用此藥。</p>
<p><u>推氣散</u>　治右脅痛。神應勝原方。</p>
<p>枳殼（麩炒）　前胡　山楂（各錢半）　鉤藤（二錢）　甘草（三分）　廣皮　葛根　桔梗（各一錢）</p>

<h3>中脘痛</h3>
<p>胃脘近心之分。而與脾膜相連。故其疼也。俗指為心。而古則稱脾耳。蓋脾之脈貫於胃。而為之行其津液。故犯賊風虛邪者。陽受之。飲食不節。起居不時者。陰受之。於是發為中脘痛。方書分為九種。一曰客寒犯胃。一曰寒鬱為熱。則新與久之別也。一曰痰涎在膈。一曰蟲積在中。則嘔痰與清水之別也。一曰氣。一曰食。則脹與滿之分也。一曰血。一曰火。則喜熱與寒之分也。一曰虛。則與實殊者。喜手按不可按之分也。然此特其大概耳。要之胃氣。人之所賴而生者。依中焦以腐化。藉脾氣以消磨。一或阻隔。失其健運之常。則氣血食積痰飲。皆得乘之而為患。使徒知治標。而不探其本。將愈攻愈虛。雖或少寬於旦夕。實則致病於將來。以致觸而即發。久而彌劇者。未必非治之失宜故也。故凡療脾疼者。脈見耎弱。中氣已虛。即宜歸脾暫去當歸、耆、術。少加柴胡。或兼二陳。有食加枳實。有寒加炮姜。有熱加山梔。先固其中氣。則痛不致於傷胃。脾陰不竭。而胃陽有助。心君寧而肝不敢乘。腎獨能凌乎。一舉而諸善備焉。若夫治實之法。方書具在。</p>
<p>一客寒犯胃。或過食生冷。中脘疼痛。手足厥逆。脈見弦緊。用草豆蔻湯。</p>
<p>一心痛稍久。寒鬱為熱。煩躁嘔酸。面赤脈數者。山梔仁湯。</p>
<p>一痰涎在胸膈。嘔逆大痛不可忍。脈來洪滑者。枳縮二陳湯。</p>
<p>一蟲痛時作時止。口吐清水。或如咬狀。用川楝子湯。</p>
<p>一心痛因怒而發。心膈脹悶。脈沉伏。四股冷者。木香湯。</p>
<p>一心痛因麵食堅硬等味。過用不化。用萊菔子湯。</p>
<p>一心痛素喜食熱物者。瘀血停於胃口也。桃仁玄胡湯。</p>
<p>一中氣不足。思慮過度。飢飽失時。勞役不節者。歸脾湯、六君子湯。</p>
<p><u>草豆蔻湯</u></p>
<p>草豆蔻（煨）　高良薑　廣皮　陳神麯（炒）　吳茱萸（湯泡五分）　茯苓　半夏（各一錢）　炙甘草（三分）</p>
<p>煨姜一片。水煎。非脈實症寒者。勿輕用。</p>
<p><u>山梔仁湯</u></p>
<p>山梔（炒黑）　半夏　廣皮（各一錢）　竹茹（一團）　木香（五分）　甘草（炙三分）　黃連（七分茱制）</p>
<p>燈芯一握。水煎。</p>
<p><u>枳縮二陳湯</u></p>
<p>枳實（麩炒）　熟半夏（各錢半）　茯苓　砂仁（炒熟）　廣陳皮（各一錢）　炙甘草（三分）</p>
<p>姜三片。水煎。</p>
<p><u>川楝子湯</u></p>
<p>川楝肉（二錢）　木香（七分）　檳榔　熟半夏　枳實（曲炒）　廣皮（各一錢）　炙甘草（三分）</p>
<p>生薑水煎。入砂糖少許和服。</p>
<p><u>木香湯</u></p>
<p>木香　香附（醋炒）　青皮　廣皮　枳實（麩炒）　柴胡　蘇梗（各一錢）　炙草（三分）</p>
<p>炒熟砂仁末一錢。水煎。</p>
<p><u>萊菔子湯</u></p>
<p>萊菔子（焙研）　山楂（各錢半）　厚朴（薑製）　枳實　廣皮（各一錢）　蓬朮（八分醋製）　炙甘草（三分）</p>
<p>姜三片。水煎。</p>
<p><u>桃仁延胡湯</u></p>
<p>桃仁泥（十粒）　木香　炮姜（各五分）　炙甘草（三分）　香附（醋炒）　延胡索（醋煮）　廣皮（各一錢）　鉤藤　澤蘭（各錢半）</p>
<p>砂仁五分。水煎。</p>
<p><u>歸脾湯</u></p>
<p>人參　石斛（鹽水炒）　遠志內（甘草湯淨焙）　茯神　棗仁（炒熟研）　白退術（土炒各一錢）　炮姜　木香　石菖蒲（各五分）　柴胡　炙甘草（各三分）　當歸身（七分）</p>
<p>桂圓肉五枚。水煎。</p>
<p><u>六君子湯</u></p>
<p>人參　半夏　白朮（土炒）　茯苓　廣皮（各一錢）　鉤藤（一錢）　木香（五分）　甘草（炙三分）</p>
<p>棗二枚。姜三片。水煎。</p>

<h3>腹痛</h3>
<p>聞之背為陽。心肺主之。腹為陰。腎肝主之。人之初生。帶繫於臍。通命門。屬兩腎。為生氣之原。此錢氏有灸臍之法。而獨享遐齡也。蓋腎肝居至陰。喜溫惡寒。獨賴此真火藏於中。而為生生不息之用。苟有以撲滅之。則有陰無陽。外無以御。內無以充。寒邪直犯。委頓呻吟。而臍腹絞痛矣。即或稟賦厚者。真元未衰。過傷生冷。留滯於中。亦能為患。而綿綿痛無已時。緣氣因寒則凝。血因寒則結。痰食因寒則阻。故腹疼一症。大半從寒。而熱者間出也。至外受炎暑。內傷辛熱。腹痛則有休止。脈必數或促。二便閉而煩躁欠寧。又彰彰已。然而大要尤在乎虛實。虛者必寒。實者寒熱兼之虛。者分水火。實者辨氣血。食積其間。熱因寒用。寒因熱用。通因通用。塞因塞用。本緩標急。標緩本急。又在臨時變通之。如仲景用芍藥、甘草。甲與己合。以調腹痛。寒則加桂。熱則加芩。立一標準。余可類推。後學所宜取法者。</p>
<p>一腹痛食積停滯。脹滿不安。用厚朴、木香、青皮、枳殼、陳皮、山楂、甘草、砂仁、生薑。</p>
<p>一腹痛受寒。絞痛異常。或綿綿痛無增減。因肉桂、木香、芍藥、甘草、當歸、廣皮、炮薑、茯苓。</p>
<p>一腹痛乍痛乍止。或受暑熱。或嗜火酒。脈數或伏匿。投溫藥反劇者。用黃芩、山梔、芍藥、甘草、廣皮、葛根、澤瀉。</p>
<p>一腹痛觸犯穢氣。㽲痛不寧。作霍亂候。用探吐法。以霍亂治之。</p>
<p>一腹痛勞力所傷。喜手重按。困倦自汗。補中益氣湯加木香、芍藥。</p>
<p>一腹痛腰亦痛。色欲恐懼疾走所傷。六味湯加棗仁、杜仲、遠志。少入柴胡以提之。若火衰畏寒。以八味湯投之。</p>
<p><u>治驗</u></p>
<p>一男子過勞。患腹痛。醫與破氣藥益甚。余按其脈。耎細且弱。視其形氣。倦怠異常。竟與補中益氣湯而痊。</p>
<p>一男子患腹痛。五六日矣。延余侄視之。委頓殊甚。檢前所服。惟枳、樸、木香輩。毫不減可。乃連進八味湯而獲愈。</p>

<h3>少腹痛</h3>
<p>少腹隸於厥陰。厥陰者肝也。為陰中之至陰。中寒一症。少腹絞痛。唇青囊縮。非桂、附、吳茱萸不為功。肝乃藏血之臟。凡閃挫跌撲。有所損傷凝結者。少用必脹滿而疼。小便利。大便黑。非桃仁、澤蘭、紅花不為效。木曰曲直。曲直作酸。肝火下流。小便頻數。少腹拘急。或時作疼。非山梔、鉤藤、芍藥不為取。然而少腹之中。膀胱為之州都。故小便不利而脹者。當利其小便。小便自利而脹者。當治其血。二症又迥不同也。要之足三陰經太陰居上。則理中焦。少陰厥陰居下。則補下焦。大抵虛寒者十之七。實熱者十之三也。女人患此尤多。余每以桃仁、茱萸。一取其破血。一取其同氣。而調經恆效。蓋有所凝滯而然也。臨症者辨之。</p>
<p>一厥陰中寒。少腹絞痛。煩躁厥逆。或嘔。用仲景吳茱萸湯。</p>
<p>一閃挫作痛。用柴胡、鉤藤、當歸、丹皮、茯苓、甘草、延胡索之類。若困卷甚。四物湯加白朮、茯苓、牛膝、鉤藤、柴胡、杜仲。</p>
<p>一小腹蓄血。小便自利。大便色黑。桃仁承氣湯。如元氣弱者。去硝、黃。減甘草。加生地、澤蘭、紅花、丹皮。</p>
<p>一色欲過度而痛。六味湯加杜仲、柴胡。脈遲弱者加肉桂。</p>
<p>一濕熱滲注。少腹內痛。小便淋瀝者。用龍膽瀉肝湯。</p>
<p>一沖疝氣逆上攻。少腹左痛。用木香、川芎、山梔、吳茱萸、枳實、青皮、小茴香、廣皮。</p>
<p>一膀胱氣不化。小便不利而痛。五苓散加減。</p>
<p>一大便秘結。少腹脹滿而痛。在傷寒脈實。用承氣湯。老人血虛而秘。或病久元氣弱者。用滋養陰血。如麻仁、桃仁、杏仁、郁李仁之類。虛甚。六味湯加杜仲、牛膝、蓯蓉、鎖陽。</p>
<p>一元氣下陷。小腹重墮。多服補中益氣湯。</p>
<p>一男婦奔豚氣塊。用地黃膏子丸。</p>
<p><u>吳茱萸湯</u></p>
<p>吳茱萸（湯泡七次）　生薑　人參（各一錢）</p>
<p>棗一枚。水煎。或入桂、附。</p>
<p><u>桃仁承氣湯</u></p>
<p>桃仁（十個）　肉桂　甘草（各一錢）　大黃（二錢半）</p>
<p>水煎。去渣。入芒硝一錢五分。熱服。</p>
<p><u>龍膽瀉肝湯</u></p>
<p>龍膽草（酒炒）　柴胡　車前子（焙研）　澤瀉（各一錢）　木通　生地黃　歸尾　黃芩　生甘草　山梔（各五分）</p>
<p>水煎。</p>

<h3>癰症</h3>
<p>癰之發也。上下內外。無處不有。然發於清陽之分。危者十之八九。發於濁陰之分。危者十之一二。頭為諸陽之會。背隸心肺之野。以陰乘陽則逆。腹乃腸胃之司。足為筋骨之用。以陽乘陰則從。蓋因膏粱之子。過服丹石暴烈之性。灼耗真陰。則水不足以制火。直干清分。腦項肩背。任其糜爛。多至於不救者有之。辛勤之人。疲乏筋骨。四氣交侵。凝滯經絡。則血不足以輔氣。流於肢節尻股腰膝。隨其阻逆。每至於纏綿者有之。要之發於腎元者至重。以丹石爍腦髓也。發於心脾者次之。以抑鬱滯經絡也。發於筋骨皮肉者又次之。以六淫侵肌膚也。此毒之有輕重。主客之勢使然。又何疑哉。余因論列諸症。而旁及瘍科。偶舉一二言之。緣不明乎外。不足以知內。不別其症。不足以為治。使非熟識而詳辨之。其遺害可勝道耶。</p>

<h4>腸癰</h4>
<p>腹為陰。大小腸與之俱。乃傳導化物之司。何為而成癰。良由醉飽入房。或過啖生冷。勞頓所傷。凝而不化。因遂發焉。其症身皮甲錯。汗出惡風。小腹滿。脈數疾。薏苡仁湯牡丹皮、栝蔞、桃仁破血排膿。膿血大下即安。若潰而不斂。蠟礬丸護膜化毒。兼以補劑。鮮不愈者。</p>
<p><u>治驗</u></p>
<p>一男子歲除過啖荸薺。遠行疾走。內傷於腎。至新節遂發寒振振然。其家以傷寒召診。往候其脈。手不敢出衣被。汗泄脈數。小腹脹疼。余曰。此腸癰。非傷寒也。故頭不疼而汗出。脈不緊而腹滿耳。投薏苡仁湯。果得膿盂許。寒熱頓止。然未透也。翌日復欲下之。會伊戚延他醫。反用消食作外感治。增劇。復進以人參。遂致不起。</p>
<p>一女子新產過勞。積血未除。而成腸癰。少腹疼。下膿血。經月不止。有進龍膽瀉肝湯。彌甚。後以八珍入阿膠。用蠟礬丸稍緩。服參至二三斤。兼地黃丸而愈。</p>
<p><u>薏苡仁湯</u>　治初起。</p>
<p>薏苡仁　栝蔞仁（各三錢）　牡丹皮　桃仁（去皮尖各二錢）　白芍藥（一錢）</p>
<p>水煎。</p>
<p><u>蠟礬丸</u></p>
<p>白礬（一兩生研）　黃蠟（七錢）</p>
<p>上將蠟溶化和丸。梧子大。每服十丸。漸加至二十丸。熟水送下。未破者內消。已破者便合。每日中服近百粒則有效。不惟止痛生肌。能防毒氣內攻。護膜止瀉。托裡化膿之功甚大。服至半斤。尤佳。</p>
<p><u>七賢散</u>　治腸癰潰後疼痛。淋瀝不已。</p>
<p>人參　茯苓　熟地黃　山藥　山茱肉　牡丹皮（各一錢）　黃耆（二錢）</p>
<p>大棗二枚。煨姜三片。水煎。</p>

<h4>囊癰</h4>
<p>囊癰者。厥陰肝經濕熱所注。兼以陰虛而邪襲之也。故酖酒色者恆患此。蓋肝主疏泄。腎主閉藏。過飲醇酒厚味。則濕熱聚於宗筋。而肝者筋之合。下注為癰。紅腫疼痛。治之者。宜瀉肝經之濕熱。滋腎陰之不足。切勿投香燥藥。反助其邪。甚至潰爛。睪丸懸掛。如法療之。無有不痊。</p>
<p><u>治驗</u></p>
<p>一老人素好飲近色。一日囊中腫痛。瘍科醫作疝治。用茴香荔枝等溫藥。以火濟火。遂叫號不絕。身發大熱。余以山梔丹皮龍膽草等挽之。後兼滋陰尋愈。</p>
<p>清肝滲濕湯</p>
<p>當歸　白芍藥　生地　柴胡　龍膽草（酒炒）　澤瀉　山梔（炒黑各一錢）　川芎　甘草（各五分）</p>
<p>燈芯一握。水煎。</p>
<p>滋陰內托散　囊癰不能消者。用此托之。</p>
<p>黃耆　當歸　白芍藥　川芎　熟地（各錢半）　皂角針　穿山甲　澤瀉（各五分）</p>
<p>水煎。</p>

<h4>臀癰</h4>
<p>臀者。足太陽經之所屬。太陽一經。從足走頭。行身之背。所統者大。風寒暑濕。其邪易感。何獨於道遠位僻之地。氣血之所不及周者。而發為癰。不知久坐傷肉。久立傷骨。久行傷筋。兼之寒濕。外郁內凝。遂覺焮腫。究之起而不易成。成而不易潰。潰而不易斂。故其初時。切戒升托。惟欲疏散。如羌獨活利其關節。當歸茯苓杜仲秦艽續斷等。活血通經。使不至於壅滯。外以蔥熨法。導引其氣。便可消散。非比上中諸部分氣血周到。可托可攻。臨是症者。幸毋好事喜功也。</p>
<p><u>治驗</u></p>
<p>一人年五旬。體肥嗜酒。偶因作勞。忽發寒熱。尻臀腫疼。余先與解散一劑。寒熱止而腫未消。按其脈則空軟不數。余曰。氣血雖阻。斷不成癰。用滋補中。佐行經絡藥。氣和血行。則自散也。二旬余果如常。</p>
<p>行經活血湯</p>
<p>羌活　獨活　當歸　牛膝　茯苓　秦艽（各一錢）　熟地（二錢）　杜仲（一錢半鹽水炒）　紅花（五分）</p>
<p>加生薑一片。水煎。用二劑後。減羌活入酒炒續斷一錢。</p>

<h4>腿癰</h4>
<p>人之脾主四肢。肝主筋。腎主骨。下部發地。三陰主之。則腰足是也。苟或勞乏罷極。傷筋骨皮肉而風寒濕乘間入之。則腿中作疼。發於肌肉者淺。入於筋骨者深。使復加以風藥。則愈耗其陰。進以寒涼。則愈傷其氣。將至於穿潰而不可支矣。故治此患者。仍補勿瀉。仍溫勿寒。仍托勿斂。非比上三癰之喜攻喜瀉喜消也。如補中益氣湯八珍湯八味丸。或入木瓜肉桂杜仲牛膝等引經藥。氣血充裕。筋骨堅強。則易潰易斂也。若沾沾於解毒。則敗矣。</p>
<p><u>治驗</u></p>
<p>一男子素勤苦。犯寒濕。腿中疼痛。半月餘。除濕解散藥太過。腿腫成癰。叫號不絕。余因謂曰。陳氏云此症從腎經受寒非桂附不能通關節。非羌活防風牛膝。不能行閉滯。非參朮甘草。不能使脾氣達四肢。非四物紅花。不能養血活血。令恪守其法而行之。果膿潰而痊。</p>
<p>大防風傷</p>
<p>人參（二錢）　防風　白朮（土炒）　附子　當歸　白芍（酒炒）　川芎　杜仲（鹽水炒）　黃耆　羌活　牛膝　熟地（各一錢）　甘草（五分）</p>
<p>姜一片。水煎。</p>
<p>按癰屬陽而外發。疽屬陰而內陷。陽緩而陰危。夫人而知之矣。然陽症過寒涼。則毒不外發而反危。陰症能溫托。則毒反克化而得緩。又夫人而知之矣。殊不知治陽症者。疏散為上。解毒繼之。調補繼之。勿犯苦寒。致令倒戈。治陰症者。升托為主。溫補繼之。調養繼之。勿過辛熱。致令液竭。余雖不與是科。間嘗參觀其際。見有大溫大補。乃得膿成易斂。若血脈空虛。疼痛之久者。須氣血兼補。佐以養育心神。蓋心主血脈。脾主肌肉。膿血去多。必藉資養。不可一味熱藥以復耗之。是或一道也。</p>
<p>凡瘡瘍一科。競執解毒之名。不論其發於何部。屬於何經。或陰或陽。或外感六淫。或內傷七情。概以解毒為辭。即用芩連花粉苦寒藥。致令毒不化而邪內伏。變異頃刻者有之。終不起發者有之。故敗毒散中。惟人參敗毒散為良。不知火鬱發之開之。蘊毒托之化之。血熱涼之。氣虛補之。水衰益之。火衰溫之。種種不同。奈何甘蹈苦寒而不悔也。</p>
<p>人參敗毒散</p>
<p>人參　茯苓　羌活　獨活　前胡　柴胡　桔梗　枳殼（各一錢）　川芎（八分）　甘草（五分）</p>
<p>水煎。挾勞役者。倍用人參。加當歸芍藥。</p>
<p>化毒飲子　治七情怫鬱而發。</p>
<p>遠志肉（甘草制）　當歸　甘草節（五分）　連翹　川貝母（去心研）　金銀花（二錢）　白茯神　鉤藤（二錢）　牡丹皮（各一錢）</p>
<p>姜一片。水煎。或加柴胡木香香附。</p>
<p>仙方活命飲</p>
<p>穿山甲（蛤粉炒黃）　白芷　防風　赤芍藥　沒藥　甘草　當歸尾　乳香　貝母　天花粉　角針　陳皮（各一錢）　金銀花（三錢）</p>
<p>酒煎服。</p>
<p>人參內托散</p>
<p>人參（錢半）　黃耆（三錢）　當歸　川芎　穿山甲　白芷　廣皮（各一錢）　甘草（五分）</p>
<p>姜一片水煎。血虛。加熟地白芍藥。脾弱。加白朮茯苓。虛寒。加炮姜附子。化毒。加金銀花。</p>
<p>加減八味丸　治瘡疽發渴神效</p>
<p>懷熟地（八兩）　山藥　山茱萸（各四兩）　牡丹皮　茯苓　澤瀉（各三兩）　五味子　肉桂（各一兩）</p>
<p>為末。地黃和丸。薛氏書。五味用四兩。恐酸收太過也。</p>

<h3>續腫脹論</h3>
<p>嘗觀腫脹之疾。必發喘急。而喘病則有腫而不脹。脹而不腫者。又有先腫而後喘。先喘而後腫者。病情既殊。則治之者何可不為之別耶。試究詳之。大抵腫脹在脾。喘滿在肺。脹甚於腫。屬肝乘脾。腫甚於脹。屬腎乘肺。故治脹之法。先宜平肝。肝平則氣調。而不中滯。次用補脾斂肝。土旺則能健運。土中瀉木。白芍藥酸以收之。若過於快氣。則中州亦傷。而不能復其職矣治腫之法。先宜清肺。肺清則氣降。而不上逆。次用淡滲益陰。淡滲則能利竅。金藏水中。生地黃苦以堅之。若過於疏泄。則有陽無陰。而亦不能以化矣。然由腫脹而至於喘者。則求其腫脹之因而調之。不治喘而喘自寧。若由喘而至於腫脹者。則求其致喘之因而理之。不治腫脹而腫脹自愈。木火之與金水。易而為治。比之操刃。況乎土位於中。四氣昏得乘之也哉。善治者。必審臟腑所屬。而以苦欲補瀉求之。庶得乎病之情。而不膠於成法也。</p>
<p><u>治驗</u></p>
<p>一女人年三旬余。得氣喘症。身發腫脹。他醫療已逾年。竟罔效。延余診之。脈細帶數。行動喘乏。所服破氣藥無遺。余見其腫甚。用大腹皮陳皮茯苓澤瀉車前中。獨入生地白芍藥牡丹皮。以陰濟陽。上收其逆氣。而下得以化。不三劑減半。數劑乃愈。繼以八珍調之。</p>
<p>一男子年十六。近除得感寒症。余與發表消食。至新正四日。竟愈矣。余令之食粥。其家過慎。止與陳米湯飲。至二十日。復延治。上則發喘。下則發腫。由足跗至膝上。不惟腫。其色紅赤可怪。及按其脈。則微細。問其胸。覺飢甚。與粥飲入口便喘。余因謂曰。五氣養陽。五味養陰。今半月餘。止用陳久米飲。有氣無味。陰不濟陽。其何能化。然兩足通紅奈何。余乃謂曰。此必過食鹹味。咸走血就下。隨其水而外發。故至此。詢之。乃因口淡。任啖醃菜而然。余以為不必治。急索飯及葷菜。與之半盞竟安。病者歡甚。少頃又進半盞。易以他葷亦安。余竟教以如是調理。約旬日陰漸旺則陽化而腫自退果然。</p>

<h3>續膈噎論</h3>
<p>諺云。風勞鼓及膈。四證一犯。即難為療。噫。病則病矣。何遂至於若是耶。余請以膈申言之。人之身中。由咽至胸為上膈。由胸至心為中膈。由胃至肝為下膈。上膈者。稟上焦之氣而主納。中膈者。稟中焦之氣而主腐熟。下膈者。稟下焦之氣而主出。人之所以有生者。惟此出納腐熟之司。如天之運行不息。而地道之生長化收藏。寒燠不失其宜。乃能順令而布化也。苟或太早而失之敦阜則雲雨不施。而孤陽濁治。水澤為枯矣。苟或太澇而失之卑監。則沉霾閉塞。而凝陰慘淡。生氣索竭矣。故膈之始也。病在上。咽嗌不利。則食而噎。犯於上焦。地氣不升。天氣不降。將成亢旱之兆矣。然食猶能強之而使安也。繼犯中焦。雖食而中脘不下。下之而痛。稍久則吐痰水。胃液不藏。肝火乘之。則味變而酸。脾陰既竭。則納而不化。天氣愈不降。地氣愈不升。乃見痞塞之狀矣。則食不能強之而使安也。繼犯下焦。朝餐而夕吐。夕餐而朝吐。火氣漸消。孤陰獨存。陰陽不相為濟。五臟之液既竭。六腑無以資稟升降。出納俱廢。所云天氣地氣者安在哉。乃至絕粒而亡矣。然則絡無法以治之耶。曰。初須別其七情之所偏。繼須審其氣血之所竭。水火之所勝。唯在補其中氣。調其怫鬱。開其痰氣。熱者清之。寒者溫之。使協於平。而又察上中下受病之淺深。而為之斟酌焉。安見其不可療哉。獨所難者。患疾之人。不知死期將迫。而反復煎熬之。必至髓竭液亡。終不悔悟。吾且奈之何也。</p>
<p>按噎在咽嗌之所。膈在心胃之間。反則直從下而上矣。越人謂心肺在膈上。上焦在心下。下膈。胃上口。中焦在胃中脘。下焦在臍下。內經則以左附上。候肝與鬲。右附上。候脾與胃。則鬲之屬心下也明矣。余所以推而上之。又推而下之。非以其形而言。乃以其用而言也。猶三焦為水穀之道路。氣之所終始。而所云如霧如漚如瀆者。不以其用哉。矧內經止言膈。而不及噎與反。則以膈統上中下。又復何疑。然妙在與肝為配。蓋膈之一症。多由鬱怒傷肝而作。鬱則為熱。日漸煎熬。血液枯竭。心肺之陽。不得通行。腸胃之陰。不得下停。而膈病之所由作。患者治者。從此求之。思過半矣。</p>
<p>開鬱湯　治膈噎初起有火者。</p>
<p>山梔（炒黑）　陳神麯（炒）　桔梗　香附（醋炒）　川貝母（去心研）　茯苓　廣皮（各一錢）　撫芎（五分）</p>
<p>姜一片。荷葉蒂三個。水煎。</p>
<p>遠志湯　第二用。</p>
<p>遠志肉（甘草制）　茯神　白芍藥（灑炒）　熟半夏　廣皮（各一錢）　棗仁（一錢半）　人參（二錢）　鉤藤（三錢）</p>
<p>桂圓肉五枚。姜一片。水煎。有熱加山梔。寒加炮姜。氣加木香。燥加丹參柏子仁。</p>
<p>此中焦藥也。若在下焦。以八味消息之。</p>

<h1>卷之四</h1>

<h2>女科</h2>

<h3>調經論</h3>
<p>經曰。女子二七。天癸至。任脈通。太衝脈盛。月事以時下。七七。任脈虛。太衝脈衰少。天癸竭。地道不通。靈樞曰。婦人有餘於氣。不足於血。月下。數脫血。任沖並傷。又曰。二陽之病發心脾。有不得隱曲。女子不月。其傳為風消。為息賁者。不治。由是觀之。天癸者。天一所生之水也。月事者。月屬陰。其盈虧應潮汐。猶女子之月信也。任沖二脈。皆起於會陰。為經脈之海。故女子月事。以三經主之。經何以言二陽之病發心脾。則女子不月。蓋二陽者。乃指足陽明而非手陽明。足陽明者。胃也。心為之母。脾為之助。胃乃水穀之海。病則飲食少衰。而水穀不榮。以女子心思偏執。心不生血。而月事衰少。心火偏盛。而月事暴下。脾不統血。而月事過多。脾陰不足。而月事早絕。皆謂之不月。先期過期。血崩經閉。不以時下也。其傳為風消者。風屬肝木。病善怒。木有餘。則脾益不足。故肌肉消瘦。其傳為息賁者。土不生金。心火乘之。故肺氣喘促。而為不治之候也。明乎此而知天癸者。先天所稟之血脈。而衝任為之蓄泄。心脾者。後天所生之血脈。而陽明為之灌溉。故先天不足者。滋其腎陰。後天不足者。調其心脾。其理雖殊。而實一致。治法有能外之者哉。</p>
<p>一婦人多思慮。損傷於脾。月水過多。歸脾湯主之。兼鬱火。先期而至。加柴胡山梔牡丹皮。</p>
<p>一婦人多怒傷肝。經水或前或後。或發寒熱。或內熱口苦。脈弦數。小柴胡湯加當歸香附。如月水衰少。四物湯加香附續斷。月水過多。四物湯加香附阿膠白朮茯苓。</p>
<p>一婦人勞役所傷。面黃唇白。四肢乏力。經水過多。或暴下不止。補中益氣湯。加阿膠珠炮薑炭。五味子。經水衰少。十全大補湯。八珍湯。人參養榮湯。</p>
<p>一婦人陰虛火動。稟賦素弱。或骨蒸煩熱。用加味逍遙散。間進六味丸。或八珍湯加秦艽條芩香附阿膠之屬。</p>
<p>一婦人氣滯血凝。經水過期。至則腹痛。乃下焦有寒也。四物湯加吳茱萸桃仁肉桂牛膝澤蘭香附。</p>
<p>一婦人肥盛多痰。經行過多。六君子湯加歸芍阿膠。或腰痛。八珍湯加杜仲山茱肉。</p>
<p>一婦人虛寒。脾不統血。補中益氣湯加姜附山茱肉。兼進八味丸加五味子。或八珍湯加阿膠蘄艾。</p>
<p>一婦人心火熾甚。煩熱脈數。經水過多。加味歸脾湯加麥門冬。或清心蓮子飲加山梔。</p>
<p>一婦人臨經。感冒風寒。參蘇飲加減。寒熱往來。名熱入血室。小柴胡湯加丹皮生地。脈不數。加當歸香附。兼停食仍與內消。</p>
<p>一婦人臨經感氣。經反凝滯。逍遙散加木香廣皮香附。去白朮。或入撫芎。</p>
<p>一婦人臨經。因飲冷水。凝結不行。平胃散加芎歸。如久而不行。少腹脹痛。四物湯加肉桂牛膝茯苓廣皮。</p>
<p>一婦人受暑熱。經水過多。清暑益氣湯。虛者生脈散。實者香薷飲。</p>
<p>一婦人飲食不運。或失飢傷飽。血暴下崩。先理中氣。使食轉化。後與補脾。</p>
<p>一婦人血虛有火。月經耗損。漸至不通。日漸羸瘦。而生潮熱。慎毋以毒藥通之。宜用柏子仁丸澤蘭湯。</p>
<p>一婦人去血過多。惡寒發熱。作渴煩躁。用人參二兩。棗十枚。水煎服。</p>
<p>一師尼寡婦室女。乍寒乍熱。肝脈弦長而出魚際。用生地黃丸。</p>
<p>附時珍月經辨</p>
<p>李時珍曰。女人之經。一月一行。其常也。或先或後。或通或塞。其病也復有變常。而古人並未言及者。不可不知。有行期只吐血衄血。或眼耳出血者。是謂逆行。有三月一行者。是謂居經。俗名按季。有一年一行者。是謂避年。有一生不行而受胎者。是謂暗經。有受胎之後。月月行經。而產子者。是謂盛胎。俗名垢胎。有受胎數月。血忽大下。而胎不隕者。是謂漏胎。此雖以氣血有餘不足言。而亦異於常矣。女子二七天癸至。七七天癸絕。其常也。有女年十二十三而產子。如楮記室所載平江蘇達卿女。十二受孕者。有婦年五十六十而產子。如遼史所載亟普妻。生二男一女者。此又異常之尤者也。業醫者之於此類。恐亦宜留心焉。</p>
<p>歸脾湯</p>
<p>人參　白朮（土炒）　茯神　黃耆（蜜炙）　棗仁（炒研各二錢）　遠志（甘草湯淨焙）　當歸（各一錢）　木香　甘草（炙各五分）　龍眼肉（七枚）</p>
<p>薑棗水煎。加柴胡山梔牡丹皮。名加味歸脾湯。</p>
<p>逍遙散</p>
<p>白朮（土炒）　茯苓　當歸　白芍藥（酒炒）　柴胡（各一錢）　炙甘草（三分）</p>
<p>姜水煎。加山梔牡丹皮。名加味逍遙散。</p>
<p>八珍湯</p>
<p>人參　白朮（土炒）　熟地黃　當歸　茯苓（各一錢）　白芍藥（酒炒一錢）　川芎（五分）　炙甘草（三分）</p>
<p>薑棗水煎。</p>
<p>四物湯</p>
<p>當歸（一錢）　熟地黃（一錢）　白芍藥（酒炒一錢）　川芎（五分）</p>
<p>水煎。</p>
<p>六君子湯</p>
<p>人參　白朮（土炒）　茯苓　半夏　陳皮（各一錢）　炙甘草（三分）</p>
<p>薑棗水煎。</p>
<p>清心蓮子飲</p>
<p>黃芩　人參　麥門冬　蓮肉　柴胡　地骨皮　車前子（焙各一錢）</p>
<p>水煎。</p>
<p>柏子仁丸</p>
<p>柏子仁（焙研）　牛膝（酒拌）　卷柏（各半兩）　澤蘭　續斷（酒炒各二兩）　熟地黃（三兩）</p>
<p>為末。入地黃膏。丸桐子大。每服三十丸。空心米飲下。</p>
<p>澤蘭湯</p>
<p>澤蘭（三兩）　當歸（酒拌一兩）　白芍藥（酒炒一兩）　甘草（五錢）</p>
<p>為粗末。每服五錢。水煎服。</p>
<p>生地黃丸</p>
<p>生地黃（一兩酒拌杵膏）　秦艽　黃芩　柴胡（各五錢）　赤芍藥（一兩）</p>
<p>上為細末。入地黃膏。加煉蜜少許。糊丸。每服三十丸。烏梅湯下。日進二服。</p>

<h3>帶症論</h3>
<p>張子和曰。十二經與奇經七脈。皆上下周流。惟帶脈起少腹之側。季脅之下。環身一周。絡腰而過。如束帶之狀。而衝任二脈。循腹脅。夾臍旁。傳流於氣衝。屬於帶脈。絡於督脈。衝任督三脈同。起而異行。一源而三歧。皆絡帶脈。因諸經上下往來。遺熱於帶脈之間。客熱鬱抑。白物滿溢。隨溲而下。綿綿不絕。是為白帶。資生經載一婦。患帶下。有為灸氣海未效。次灸帶脈穴。在兩脅季肋下一寸八分。有鬼附耳云。昨日灸亦好。只灸我不著。今灸著我。我去矣。遂愈。</p>
<p>劉宗厚曰。帶下多本於陰虛陽竭。營氣不升。經脈凝澀。衛氣下陷。精氣積滯於下焦奇經之分。蘊釀而成。以帶脈為病得名。亦以病形而名。白者屬氣。赤者屬血。多因醉飽房勞。服食燥熱所至。亦有濕痰流注下焦者。腎肝陰淫濕勝者。或驚恐而木乘土位。濁液下流。或思慕無窮。發為筋痿。所謂二陽之病發心脾也。或余經濕熱。屈滯於少腹之下。或下元虛冷。子宮濕淫。治之之法。或下或吐。或發中兼補。補中類利。燥中兼升發。潤中兼溫養。或溫補。或收澀。諸例不同。亦病機之活法也。</p>
<p>帶下一症。素問歸於任脈。明堂歸於帶脈二穴。子和擴而充之。以帶為約束諸脈。而會合衝任督諸經。鬱熱淫溢。皆由帶脈滲漏而下。可謂原委燦然矣。而宗厚則本陰虛陽竭。及諸病機治法。至詳且悉。比之丹溪專重濕痰。子和單主濕熱。則懸絕也。然男子遺精之外。有赤白濁。女子崩漏之外。有赤白帶。而帶獨重於濁者。以女子七情偏勝。抑鬱為多。綿綿而下。無休止也。須察其五臟之偏甚。所感之虛實。或清或補。或升提下陷。大抵虛多而實少。熱多而寒者。亦不乏也。故子和所論者尋其原。而宗厚所列者盡其變。至立齋以帶分五色。則又推廣言之耳。</p>
<p>一崩帶向以崩為肝虛有火。而血不能藏。帶為脾虛有濕。而氣不能攝。然帶症而面青脈弦。多鬱怒者。能不調其肝乎。崩症而面黃脈弱。多倦怠者。能不補其脾乎。則又在於臨病變通矣。</p>
<p>一帶症元氣虛者。補中益氣湯歸脾湯加酒炒椿根皮最妙。真陰虧者。六味地黃湯加酥炙鹿茸。兼肝火。加味逍遙散入椿皮。或八珍湯加椿皮。作丸亦勝。內熱者加黃芩香附。半產者入杜仲阿膠。</p>
<p>一帶證肥人多因氣虛有痰。瘦人多因血虛有火。未有不從調補而愈者。若專主痰火。則失之矣。每見久而不止。去之過多。必致少腹重墜而痛。肌肉消瘦。虛症畢見。骨脈為枯矣。以是知帶之為物。精血所攝。所云濕熱者。乃言現症之標。而實本衝任帶所至。焉可不求其原而治之哉。</p>
<p><u>治驗</u></p>
<p>一儒者內室。素患帶下。時作時止。後因過勞。帶遂不止。腹重墜。疼痛異常。余以補中益氣湯。加肉蓯蓉山茱肉杜仲牡蠣粉。數劑得減。後以八珍丸加蓯蓉杜仲椿根皮。調理而愈。</p>
<p>一女子帶下半載。肌肉憔瘦。余以補中益氣湯加酒炒椿根皮。三四十劑。</p>
<p>以六味地黃丸相間服之。帶遂止而肌肉亦長。乃愈。</p>
<p>補中益氣湯</p>
<p>人參（一錢半）　黃耆（蜜炙一錢）　白朮（土炒一錢半）　甘草（炙三分）　當歸（一錢）　陳皮（八分）　柴胡（三分）　升麻（三分）</p>
<p>薑棗水煎。加椿根皮一錢半。酒炒。腰痛。加杜仲山茱肉肉蓯蓉。頭風。加藁本白芷各三分。濕熱。加蒼朮黃柏各五分。澤瀉七分。</p>

<h3>妊娠論</h3>
<p>女子之有娠也。構精於腎。受先天之氣以成。資養於脾。依後天之氣以長。則是腎與脾者。為始終生成之本也。而治之者。獨不專重二經。必始於清火而終於理氣。則胎氣得安而母氣得健者。此何以故。殊不知天非此火。不能生萬物。人非此火。不能有生。蓋男女構精。俱藉此命門之火。種於無形之先。而精血聚合。結於有形之後。此雖腎陰為主。而衝任厥陰之脈。皆資養於胞。而其火獨上衝而逆。所以女子重身。嘔惡阻味。月事不以下。蓋衝脈之血海衰。而胞絡之火熾。任脈之宗氣弱。而陽明亦不能獨旺。素問所謂諸逆衝上。皆屬於火。又曰少火生氣。壯火食氣。故當百日之內。亟亟補土而食反不下。往往清火平逆而反得安也。迨四五月來。飲食漸入。母氣日衰。母氣既衰。則不能約束於胎而胎氣寢大。必需白朮健母之氣。條芩益子之陰。加以陳皮利其氣。而胎始得安。又如子煩者。心火也。子嗽者。肺火也。子懸者。肝火也。子腫者。脾火也。均宜麥冬條芩桑皮紫菀生地知母之類。隨症選用。未有不從內熱所致。進而七八月。母氣愈弱。母血亦虧。又必須八珍兼補氣血。及阿膠條芩陳皮香附縮砂之屬。且固且利。則母氣健旺。而胎雖長。約束有制。蓋母之氣血有以運之。則不致胎氣滋大。母反不得展舒也。迄九十月矣。此時氣血必欲補。而胎氣又必欲利。蓋氣血不補。無以為生育之藉。而胎氣不利。未免有難產之虞。故丹溪謂八九個月內。服達生散數貼甚好。蓋達生散中。用大腹皮為君。使氣疏達於母腹之中。運行於胞胎之外。又以紫蘇陳皮佐之。參朮歸芍。補而不滯。有熱則加黃芩。煩躁則入生地。滋養陰血。始終不為火所銷鑠。而分娩之時。猶有慮其不易產者。吾未之聞。即或受胎以及彌月。間有外邪乘襲。七情所傷。當分輕重緩急。以固胎為主。兼以解利。隨症施治。內經所謂有故無殞。亦無殞也。若無故而誅伐之。又豈有不殞者哉。</p>
<p>一妊娠惡食。客曰阻惡。經云女子重身。百日惡味。且妊娠一二月。足厥陰少陽脈養之。厥陰少陽。屬木。有火。善嘔。婦人性又易怒。肝木有餘者多肝欲收。故喜食酸物。丹溪治一婦嘔逆不止。服參朮反甚。以抑青丸投之。遂平。蓋此意也。一方用藿香厚朴茯苓炙甘草廣皮竹茹。有熱加黃芩山梔。血虛加當歸芍藥。氣虛加人參白朮。或均入半夏。俗謂礙胎。蓋千金方每用之。及湯泡油焙亦可。</p>
<p>一妊娠三四月。手少陰太陽脈養之。少陰太陽。屬火。丹溪曰。火能消物。造化自然。故有三四月而墮胎者。必於滋補中兼清火。有患子懸者。胎上搶心。用條芩香附末各二錢調服即安。</p>
<p>一妊娠五六月。足太陰陽明脈養之。太陰陽明。屬土。胎盜脾氣以自養。則土益虛。束胎丸為安胎聖藥也。血虛加歸芍。氣虛加人參茯苓甘草。漏胎加阿膠。</p>
<p>一妊娠七八月。手太陰陽明脈養之。太陰陽明屬金。主氣。八珍湯加黃芩阿膠杜仲之類。或入紫蘇陳皮以利其氣。</p>
<p>一妊娠九十月。足少陰太陽脈養之。此時受氣將足。宜預服達生散及獨參湯。補助真氣。胎自易產。人參補肺氣。金生水而少陰益得力矣。</p>
<p>一妊娠子煩。用麥冬知母茯苓黃芩。子腫。用五皮飲加白朮車前條芩枳殼。隨症加減。子嗽。用門冬紫菀桑皮知母桔梗竹茹。有血加阿膠。其外感嗽者。仍與解利。</p>
<p>一妊娠外感瘧痢。嘔吐泄瀉。俱用常法。但不可峻利。及損胎氣耳。</p>
<p>一妊娠七情所傷。及飢飽勞役。仍用補中歸脾逍遙等湯加減施治。</p>
<p>一妊娠轉胞小便不利。用升提兼補氣血。如肝經鬱熱。小柴胡湯加山梔生地木通。如子宮下脫。亦屬肝火。兼升兼清。乃效。</p>
<p>一婦人素有虛寒。即懷娠不可寒涼者。仍須溫補。或過服寒涼。恣啖生冷而成病者。亦須以熱藥挽之。不得拘於常例也。</p>
<p>半夏湯　治妊娠阻惡不食。</p>
<p>半夏（一錢湯泡七次）　茯苓（一錢）　紫厚朴（五分薑製）　炙甘草（三分）　廣皮（一錢）</p>
<p>（內熱）條芩（一錢）　（胃寒）藿香（一錢）　（或加）人參（一錢）</p>
<p>竹茹一團。姜三片。熟砂仁末七分。水煎。</p>
<p>束胎丸</p>
<p>白朮　條芩　廣皮</p>
<p>各等分。為末。水發丸。虛者人參湯下。多怒者砂仁湯下。</p>
<p>知母湯　治子煩。</p>
<p>知母（一錢）　麥門冬（一錢）　竹茹（一團）　廣皮（七分）　炙甘草（三分）　茯苓（一錢）</p>
<p>燈芯二十根。姜一片。水煎。</p>
<p>紫菀湯　治子嗽。</p>
<p>紫菀茸（一錢）　桑白皮（一錢）　桔梗（七分）　麥門冬（一錢）　前胡（六分）　茯苓（一錢）　廣陳皮（七分）　炙甘草（三分）　阿膠珠（一錢）</p>
<p>姜一片。水煎。</p>
<p>黃芩湯　治子懸。</p>
<p>黃芩　香附（便制）</p>
<p>各等分。為末。水調二錢服。</p>
<p>大腹皮湯　治子腫。</p>
<p>大腹皮（一錢五分）　桑白皮（蜜炒一錢）　生薑皮（五分）　茯苓皮（一錢半）　廣陳皮（一錢）　白朮（土炒一錢）　條芩（七分）　車前子（二錢焙研）　木瓜（七分）</p>
<p>大棗二枚。水煎。</p>
<p>八珍湯　六七八月。用此養胎。</p>
<p>人參（一錢）　白朮（一錢土炒）　條芩（一錢）　阿膠（二錢蛤粉炒）　廣皮（一錢）　當歸（一錢）　杜仲（一錢鹽水炒）　白芍藥（一錢酒炒）　茯苓（一錢）　炙甘草（三分）　撫芎（三分）　香附（一錢酒炒）</p>
<p>加砂仁末五分。姜一片。水煎。</p>
<p>達生散</p>
<p>大腹皮（三錢）　人參　陳皮（各半錢）　白朮（土炒）　當歸（各一錢）　白芍藥（一錢酒炒）　炙甘草（三分）　紫蘇（五分）　白朮（土炒）　當歸（各一錢）</p>
<p>上作一服。入青蔥五葉。黃楊腦七個。或加枳殼砂仁。以水煎。食後服。於八九個月內服十數帖。甚得力。夏月。加黃芩。春月。加川芎。氣虛。加參朮。氣實。倍香附陳皮。血虛。加當歸熟地。形實。倍紫蘇。性急。加黃芩。有熱。加生地。有痰。加半夏。食積。加山楂。別有他症。以意消息。</p>
<p>抑青丸</p>
<p>連黃（四兩）</p>
<p>為末。蒸餅糊丸。服。</p>

<h3>小產論</h3>
<p>婦人正產。猶瓜粟之熟脫。乃候至而氣足。半產。如草木之催殘。乃枝萎則實落。蓋一順而一逆也。順則不計月之足否。總無礙於經絡。逆則無問月之多寡。均有傷於經絡。何以言之。如妊娠一二月。足厥陰少陽脈養之。三四月。手少陰太陽脈養之。五六月。足太陰陽明脈養之。七八月。手太陰陽明脈養之。九月。足少陰脈養之。十月。則受氣足而生矣。苟女子性不善調。動靜違和。既不遵乎胎教。乃輕率而躁妄。以致半產漏下。或三四月而墮者。則傷手少陰太陽。後至二經而必復墮。五六月而墮者。則傷足太陰陽明。後至二經而必復墜。甚且三四次。五六次。而終不成孕者有之。故凡遇半產者。必需兼補氣血。加阿膠香附。調養於被傷之餘。預固於復孕之日。使至其所傷之經而不墮。則不患復墮矣。且當其欲墮時。有因暴怒而傷。有因閃挫而損。或先見紅而胎未移。尚可固而安者。或腹疼甚而小腹墜。不可挽而留者。有小產後去血過多。元氣虛脫。而肢冷脈微。用大溫補而愈者。有小產後去之不盡。腹尚疼痛而琳瀝未止。兼破惡血而痊者。種種不一。或補或瀉。尤宜斟酌而不可忽耳。</p>
<p>一小產有一二月而墮者。俗以為過期。腹痛凝結而下。殊不知足厥陰少陽。受傷而孕不固也。治者宜膠艾八珍之類補之。不可誤認為凝經也。</p>
<p>一小產年壯氣盛。跌撲而傷。宜先去瘀而後補之。質弱經傷。屢墮而下。即當大補氣血。而兼以去瘀可也。</p>
<p>一小產下血不止。用補氣養血湯。心腹疼痛。用補血定痛湯。</p>
<p>一胎氣不固。時常小產。宜預服安榮湯。加人參以固胎元。</p>
<p><u>治驗</u></p>
<p>一儒者內室。初秋小產。去血過多。大汗如雨。肢泠脈微。以人參理中湯倍參。加黃耆歸芍。連進二三劑。四肢漸暖。汗止脈出。繼以人參調理而安。</p>
<p>一女子小產。腹中大痛。治者誤行溫補而愈甚。用補血定痛湯。復下瘀滯。腹痛遂減。</p>
<p>膠艾湯</p>
<p>阿膠（一兩蛤粉炒成珠）　艾葉（半兩）</p>
<p>水煎服。</p>
<p>補氣養血湯</p>
<p>人參　黃耆（蜜炙）　白朮（土炒）　當歸　白芍藥（酒炒）　阿膠珠　香附（各一錢酒炒）　艾葉　川芎　炙甘草（各五分）　青皮　砂仁（各七分）</p>
<p>水煎。</p>
<p>補血定痛湯</p>
<p>白芍藥　當歸　熟地　川芎（各一錢）　玄胡索（七分）　桃仁泥　紅花（各三分）　香附　青皮　澤蘭　牡丹皮（各五分）</p>
<p>水煎。</p>
<p>安榮湯</p>
<p>當歸　白芍　熟地　川芎　阿膠　香附　白朮　黃芩　縮砂　糯米　桑寄生</p>
<p>各等分。水煎。</p>

<h3>大產論</h3>
<p>婦人易產。由於氣血之強。則兒身之轉也捷。難產。由於氣血之弱。則兒身之轉也滯。捷則子安而母亦安。滯則子危而母亦危。故善治者。必扶元氣。而調血次之。疏利又次之。蓋女人懷娠十月。雖藉五臟之陰。六腑之陽。十二經脈養成而足。其實則元氣載之舉之也。且胞系於腎。肺為之母。子虛則補其母。陽生陰長。氣旺則期未及者能安。期既及者能送。故當彌月。必需大進人參。而臨期為尤要。抑兒之居母腹。朝夕與俱。寢食與共。入息與處。加以數月之久。譬如持重物而遠行。雖有勇者。我知其力怯而氣懦矣。世或不察。輒畏人參不敢服。謂補助胎氣。恐其娠大難產。不知氣旺。則胎有所束而展舒便。氣弱。則胎無所制而傳送艱。徒用葵子滑石脫穎等取其滑而利。遇氣血盛旺者亦可。氣血衰弱者。有不反耗其氣乎。故臨盆時。多服人參。佐以芎歸杜仲茯苓陳皮等。則庶乎其易產矣。</p>
<p>一孕婦只腹痛。未產也。連腰痛甚者。將產也。蓋腎候於腰。胞系於腎故也。</p>
<p>一分娩難產。及胞衣不下等。宜預服無憂散。</p>
<p>一妊娠因跌僕。子死腹中。惡露妄行。疼痛不已。口噤欲絕。用芎歸湯。</p>
<p>一分娩交骨不開。至五七日不下垂死者。用加味芎歸湯神效。婦人年長初孕。及素難產者。宜預備服。</p>
<p>無憂散</p>
<p>當歸　川芎　白芍藥（各七分）　木香　甘草（各五分）　炒枳殼　乳香（各一錢）　血餘灰（四分）</p>
<p>為末。分二服。水煎去渣用。</p>
<p>芎歸湯</p>
<p>當歸（一兩酒洗）　川芎（七錢）</p>
<p>分四服。水煎。將干。投酒盞半。煎五七沸溫服。若子死腹中。立便逐下。若腹痛隨止。子母俱安。又治臨產難生。胞衣不下。及產後血暈不省。惡露不止。身熱頭疼。一切等症。</p>
<p>加味芎歸湯</p>
<p>川芎　當歸（各一兩）　血餘（一握燒灰存性）　龜板（一個酥炙）</p>
<p>為末。每一兩。水煎。俟人行五里許立下。蓋此方覺難產。及雖產。兒不易下者。即須服之。有挽全保救之功。余曾屢試神效。幸廣傳之年長初產。及久患難產者。為天下幸甚。</p>

<h3>產後論</h3>
<p>新產之後。丹溪謂大補氣血。雖有他症。以末治之。其說甚善。然此謂惡露下盡而言則可。惡露未盡而言。則不可也。妊娠十月依經而養。其精粹則為孕育。其滓穢則為惡露。分娩之日。年壯氣旺。惡露易行。以六七日為期者有之。雜病相侵。或為阻滯。以一二十日未盡者有之。多產氣弱。時行時止。以一月淋瀝者有之。故其為患也。兩脅作疼。少腹脹滿。兒枕成塊。寒熱時作。甚至心神恍惚。發嘔不食。敗血流經等候。其害不一。故產後首重於此。其自行者所不待言。一或有阻而致他病。或因他病而致凝阻。必須芎歸益母楂肉去瘀為主。而佐以他藥。無論虛實。皆不可缺。而參耆補氣之藥。切勿早投。恐惡露上攻。變異頃刻。若去血過多。惡露已盡。腹無疼痛硬滿之處。半月一月以來。但見虛候。又須大補氣血。兼溫暖藥。以復其生氣。則又何疑之有哉。</p>
<p>一產後惡露不下。少腹疼痛。用芎歸益母楂肉香附陳皮玄胡索。或加桃仁紅花丹皮五靈脂。腰痛。加杜仲續斷。外感。加紫蘇。嘔惡。加藿香半夏茯苓甘草砂仁生薑。</p>
<p>一產後惡露少去。用四物湯加牛膝山楂杜仲益母茯苓陳皮香附。</p>
<p>一產後惡露未盡。脾氣又虛。破血則礙脾。補脾則礙血。用二陳湯入川芎益母香附木香。少加炒當歸。或倍入車前子。</p>
<p>一產後惡露未止。血虛發熱。四物湯加炮姜肉桂茯苓甘草廣皮杜仲續斷。</p>
<p>一產後脾虛。不進飲食或浮腫。用白朮茯苓炙甘草炮姜。入芎歸益母陳皮。</p>
<p>一產後心神恍惚。用遠志茯神棗仁丹參木香及芎歸益母杜仲甘草。</p>
<p>一產後外感。頭痛身熱。用荊防紫蘇川芎陳皮香附山楂。仍入當歸茯苓。</p>
<p>一產後停食。或因臨產不化。用厚朴枳殼陳皮山楂青皮香附萊菔子木香等。以輕重加減。仍入芎歸益母紅花。</p>
<p>一產後瘧疾。或因胎前所致。用白朮茯苓甘草陳皮半夏。加芎歸益母山楂。</p>
<p>一產後痢疾。或因胎前所致。用當歸芍藥川芎木香肉桂白朮茯苓炙甘草廣陳皮阿膠。</p>
<p>一產後諸症。惡露未盡。必須遵以上法萬無一誤。但寒涼之藥。切不可用。恐伐其生生之氣也。</p>
<p>一產後惡露已透。凡有雜症。隨病制宜。血氣虧損。或發寒熱。十全大補湯。補中益氣湯。怔忡驚悸。自汗不寐。歸脾湯。中氣虛寒。飲食不進。六君子加炮姜益智。或人參附子理中湯。血虛大便難。八珍湯加杜仲續斷。或六味湯加蓯蓉牛膝。</p>
<p>一胎前脈洪大滑疾為順。微小澀滯為逆。產後脈虛軟柔弱為順。弦大急疾為逆。故胎前宜清熱。而亦有用溫藥者。病之變也。產後宜溫補。而亦有用涼潤者。亦病之變也。治者守其常。而達其變。則病無遁情矣。</p>
<p>一丹溪云。雖有他症。以末治之。非不治也。如實症多。則瀉中帶補。虛症多。則補中帶瀉。如此則正氣不脫。而邪氣不熾矣。此用藥之權衡也。</p>
<p>益母草湯　產後惡露未盡。腹疼痛者。</p>
<p>益母草（一錢五分）　當歸（一錢）　杜仲（一錢鹽水炒）　牛膝（一錢）　川芎（五分）　丹皮（一錢）　香附（一錢醋炒）　茯苓（一錢）　山楂（一錢半）　廣皮（一錢）</p>
<p>炒熟砂仁末一錢。姜一片。水煎。甚者加桃仁延胡紅花。</p>
<p>黑神散　治產後發熱。惡露不下。</p>
<p>黑豆（三錢）　黑姜（一錢）　牛膝（二錢）　當歸（一錢）　川芎（五分）　熟地（二錢）</p>
<p>水煎。</p>
<p>加味六君子湯　治產後中氣大虛。惡露不下。</p>
<p>人參（一錢）　白朮（一錢土炒）　肉桂（一錢）　牛膝（一錢半）　茯苓（一錢）　炙甘草（三分）　半夏（一錢）　廣皮（一錢）　益母草（二錢）</p>
<p>砂仁末七分。姜一片。水煎。</p>
<p>遠志湯　治產後心神恍惚。惡露未盡。</p>
<p>遠志肉（一錢）　棗仁（一錢半）　茯神（一錢）　丹參（一錢）　石菖蒲（五分）　牛膝（一錢半）　廣皮（一錢）　杜仲（一錢）　益母草（一錢半）</p>
<p>桂圓肉五枚。姜一片。水煎。</p>
<p>黃耆補氣湯　治產後去血過多。自汗體倦。</p>
<p>黃耆（一錢半蜜炙）　人參（二錢）　白朮（一錢半土炒）　當歸（一錢）　芍藥（一錢）　炙甘草（三分）　茯苓（一錢）　肉桂（五分）　附子（五分制）</p>
<p>棗二枚。煨姜一片。</p>
<p>貝母湯　治產後內熱咳嗽。心神不寧。</p>
<p>川貝母（一錢半）　茯苓（一錢）　車前子（一錢半）　當歸（一錢）　炙甘草（三分）　廣陳皮（七分）　遠志肉（一錢）　棗仁（一錢）　鉤藤鉤（一錢）　牡丹皮（七分）</p>
<p>桂圓肉五枚。燈芯一握。</p>
<p>八珍湯　治產後氣血兩虛。四肢乏力。</p>
<p>人參（一錢）　白朮（一錢土炒）　茯苓（一錢）　炙甘草（三分）　川芎（五分）　熟地（一錢）　當歸（一錢）　白芍藥（一錢酒炒）　杜仲（一錢鹽水炒）　川續斷（一錢酒炒）</p>
<p>棗二枚。姜一片。水煎。</p>
<p>八味湯　治產後陰虛發喘。氣上逆者。</p>
<p>懷熟地（三錢）　山茱肉（二錢）　肉桂（五分）　熟附子（五分）　牡丹皮（一錢）　山藥（二錢）　川牛膝（一錢半）　茯苓（一錢）　澤瀉（一錢）</p>
<p>水煎。如汗出不止。兼進生脈散。</p>

<h3>續產後論</h3>
<p>產後之症。變怪百出。要不越乎虛實。實則瘀血凝滯。虛則去血過多。凝滯者攻之無難。去多者挽之匪易。此人參之可用不可用。判若天淵也。然有元氣大虛。而惡血未盡。則以四君子入芎歸肉桂益母。或去朮倍參。加二陳。一以補中氣。一以通血脈。庶有當乎。矧且其因多端。不易枚舉。有胎前受病而發。有坐草過艱而致。有雜病相侵而作。有本質柔弱而得。如胎前飲食停留。而產後不化。或感冒發熱。而產後彌甚。或瘧痢太乏。而產後益虛。或祈望得子。而不育滋戚。或產女已多。而中情鮮悅。或茹葷太早。而寒熱頓作。或起居驟聚。而外邪干侵。或驚恐偶得。而心神欠寧。或惱怒不謹。而肝氣怫鬱。凡此數者。毋論惡血之凝與不凝。皆足為產後之累。且男性急速。產母受病恆少。女性陰滯。產母受病恆多。元氣強壯。產母受病易愈。元氣素虛。產母受病難療。如余內子。戊戌年。得雙胎。產以前。自五月至彌月。形體削瘦。日進參三錢。可納穀半盞。若缺參一日。食便不入。臨產旬日。日進參兩許。果易產而安。產後亦經無恙。及甲辰春。復得一子。胎前未曾服參。產後大虛。二旬外。忽面青多怒。時昏暈不醒。脈得純弦而細。飲食不入。余知其真氣已衰。心脾既失所養。肝木從而凌肆。即以歸脾湯入參五錢。熟附一錢。投數劑。屢止屢發。益參至一兩。附二錢。亦如故。再加參五錢附三錢。其勢猶未定。乃益參至二兩。附四錢。怒始解。昏暈不作。以後參附漸減。調理兩月餘而愈。余始嘆人參之功。回元氣於無何有之鄉。亦能調臟氣於大不平之日。若使此症臨於病家。焉肯親信而服參不輟有如是耶。余故論產後。而實舉以告云。</p>
<p>一女子產後八朝。醫妄以滾痰丸進。遂上嘔下泄。晝夜不止。吳門周子云來療之。投參八錢加赤石脂禹餘糧嘔泄俱止。後其家。又有一生產者。醫作外感治。面赤氣喘。肢冷脈弱。乃延余診。云來亦至。余見其中氣空虛。欲以歸脾入炮姜與之。云來曰。先補陰後補陽何如。余曰。火氣即浮。斂之有何不可。遂以六味湯入肉桂遠志棗仁。氣漸平。脈漸出。余辭歸。忽復厥逆。復延余。余以他往不及。云來用人參四錢。附子八分進之。向安。因托吾友松聲唐子。復與云來商溫補而愈。但因年少。氣血偶衰。病雖痊。後發痔漏。用滋陰降火。每致纏綿。觀此知用藥之不可輕也。</p>
<p>一女子胎前發瘧。面色痿黃。余以六君子連進。瘧未止而產。產而瘧愈甚。惡露少行。一友進以炮姜。腹中大痛。惡血不下。余用延胡芎歸益母山楂陳皮一劑。痛止血行。再以六君子倍白朮。不數劑。脾氣漸旺。瘧乃止。</p>
<p>一女子產後。去血過多。乃發寒熱。肢冷脈微。余以八珍湯入姜附。一劑而寒熱止。數劑而食進神旺。遂得霍然。</p>
<p>一女子產後。以不遂願。兼怒而戚。惡露未透。身發寒熱。自汗如雨。時見譫妄。余以遠志茯神棗仁木香杜仲當歸益母。連進而汗止。但譫妄未除。以前藥入牛膝炮姜。下積血一塊。崑山鄭氏至。商加萎蕤四錢。貝母二錢。車前一錢。又三劑而神安。繼以調理而痊。</p>
<p>一女子產後發腫。加之喘滿。但惡露絕不下。與消腫藥不效。用五靈脂延胡索桃仁澤蘭紅花牛膝。惡露大下。喘止腫退。後用調補而愈。</p>
<p>一女子胎前腹痛。坐臥不寧。至夜半。氣息淹淹。脈遂歇止。胎亦不動。余慮其胎氣已損。急服無憂散一劑。痛稍止。胎未動。以芎歸湯當歸一兩。川芎五錢。血餘二錢。頓煎飲之。脈遂現。胎遽動。繼用獨參湯無憂散相間服之。乃產而安。</p>
<p>一女子素有病。余慮其難產。令預備。加味芎歸湯。及產時。胎果下而不遽下。穩婆告急無措矣。余令急煎前藥與之。未及半時。即得產矣。此皆余所親驗者。先哲立方。抑何神哉。</p>

<h2>五大病</h2>

<h3>心</h3>
<p>嘗聞之有所云天心者。仰而觀之。浩浩焉。邈邈焉天之大不可測也。而何從見其心。素問曰。南方赤色。入通於心。則疑以離為天之心矣。心果若是之虛且明乎。子思作中庸。首揭天命之謂性。而子輿氏則曰。盡其心者。知其性也。知其性則知天矣。則是又以天心即人心矣。可見心之為物。存者其誠。而發者其明也。忠者其體。而怒者其用也。若易誠而妄。則心之病一。易明而昧。則心之病二。易忠而欺。則心之病三。易恕而忍。則心之病四。試思天之所以貴乎人。與人之所殊乎物者。非此心乎。存之為君子。去之則異類。苟或不克操之。任其出入。而莫知其鄉。將何以立於天壞間耶。蓋天理者。人之所以為心也。惟在攝之正之。公之平之。以之立身。以之垂後。無不由於此中。人蓋可忽乎哉。</p>

<h3>肝</h3>
<p>喜怒者情之常。使必有喜而無怒。則矯矣。雖然。人情貴於坦適。尤貴於安和。苟乘一時之忤。執一己之偏。則未有不悔於事後者。經曰。肝者將軍之官。其病善怒。毋論乖違謀慮。傷於拂鬱。尤可言也。憤亂機務。敗於經緯。不可言也。故古來大怒必出於大忍。則有濟。輕怒必出於不忍。則多暌。任情一往。不審從違者。婦寺之見也。從容不迫。按節而動者。大度之舉也。是以器識宏遠之流。見天下無可怒之事。見天下無可嫉之人。及其怒且嫉也。如天之雷霆。然偶一發焉。而天下莫不懾服者。有以畏其不測也。然則人之喜怒不常者。其亦可以自反矣。</p>

<h3>脾</h3>
<p>今夫塊然者地耳。萬物於焉資生。賴大氣以舉之也。所謂具坤靜之德。而有乾健之運耶。於人則脾應之。而其要有三。一主飲食。人一日不再食則飢。陰之五宮。生在五味。陰之五宮。傷在五味。所云傷者。非不及之足患。而太過之足患。亦不特太過之足患。而不節之足患。惟養生者慎之。至云高梁之變。饒生大疔。可畏夫。一主四肢。出作入息。人之常也。思邈謂運樞不壞。流水不腐。每見安享之人。筋骨恆柔。辛勤之人筋骨恆強。第不堪過竭耳。一主思慮。事不廢思。凡經營猷業。鮮不從思中來。殆心之精華而運於脾者。使或竭於無益之鄉。而不留意正大之規。雖窮神竭慮曷貴焉。嗟嗟。吾人止此身耳。佛印有云。三十年功名富貴。過眼成空。何不猛與一刀割斷。余謂三十年功名富貴。過眼成空。何不猛與垂不朽業。否則大負此心思也矣。</p>

<h3>肺</h3>
<p>古人嗇氣。如持至寶。何若是之甚哉。孟子曰。我善養吾浩然之氣。夫是氣也。善養之則塞天地。配道義。不善養之。則自餒而已矣。素問云。一息不運。則機緘窮。一毫不續。則穹壞判。浮屠之言曰。一氣不至。何處安身立命。由是知氣之所繫大矣。而肺實主之。肺者相傅之官。治節出焉。治而出之以節。可見相傅之度。雍容不迫。無所事於囂張矣。及觀希夷先生。收視返聽。葆神毓精。而終日齁齁。惟默運於一息之中。乃能壽敝天地。無有終時。今人縱不能師一二。奈何多言損氣外。而所以暴殄之者。慮無不至。盍亦反而思諸。</p>

<h3>腎</h3>
<p>凡人有切於己者。無不珍恤。而獨至精至要之所。反不之恤者。色是也。男子二八精通。八八精絕。言其常也。以欲竭其精。以耗散其真。言其妄也。殊不知此真陰。賦於先天。則有盈怯。資於後天。則有薄厚。矧且情欲交攻。勞役並侵。益少損多。豈堪供無窮之耗哉。故無病者。嗜之而成病。有病者。犯之而致死。東坡謂傷生之事非一。而好色者。必亡也。至逐聲伎。干非分。敗德喪簡。失業亡家。為神人所誅。隱曲難問者。尤不可言。即或稟賦過度。奉養素豐。足以樂而忘倦。胡不將此精力。立德立功立言。以垂來茲。乃耗於無用之地而為快哉。則亦不思之甚矣。</p>

<h2>醫箴</h2>

<h3>療醫</h3>
<p>醫之為道。所繫非偶。人之寄也以死生。我之任也以陰隲。天下之至重惟命。一旦委付於我。則調劑之補瀉。性味之寒溫。草木之良毒。投之當則僕者起。骨者肉。夭者堅。奪造化之權。而不是過。否則見不審。識不精。稍或舛誤。有所害於人者。即有所害於己。人之父母妻子。與我無異。非病之必不可挽。而命數有盡。我忍聽其哀號也哉。故醫之臨病。勝於臨敵。運籌幃幄之中。決勝千里之外。良將是也。存乎呼吸之間。而遠退二豎之舍。良醫是也。察色不可不精。審聲不可不詳。持脈不可不靜。辨症不可不細。既責其有。又責其無。既求其始。又慮其後。既達其常。又通其變。必使有濟無損。有利無害。慊於己而無怨於人。庶陰德可積。冥譴可逃矣。噫。難言哉。</p>

<h3>心術</h3>
<p>醫本仁術也。見人疾苦。則起悲憫。伊之屬望既殷。非我救之而誰哉。臣棐董先生。恆謂余曰。凡療疾。藥救固遲。丹救亦緩。惟心救最靈。要非藥與丹之緩也。苟中心不切。則視之易忽。而審之不精。安能得病之本末。握而擒之。使必從我算而無遁情。惟心之既摯。則危亡之際。痛癢攸關。彼父母妻子所不及憂者。而我代憂之。彼患人所不及計者。而我代計之。甚至睡思夢覺。莫非設身伊地。或垂亡而拯之。或慮變而防之。謀深思遠。視一病而又虞一病之起。奏一效而更覺效之難憑。攻之時即為守地。守之時復為攻謀。一片婆心。無少寧息。天地可鑑。鬼神可通。而靈明生焉。每見時流。擇術不精。自恃炫耀。乘人之危。取人之財。不顧人命。惟思利己。為身計則得矣。其如冥報後報何。返而思之。有不通身汗下者非夫也。</p>

<h3>品行</h3>
<p>夫醫必自愛自重。而後可臨大病而足托。蓋我之學術優。而審病確。則彼之託於我者何事。而我之受於彼者何為。而敢易易出之。故凡希媚諂容。不邀而赴。以求悅於人者。其術固止於此也。或可治小疾。而不可治大疾。或可療常病。而不能療變病。其以輕為重。以重致危者多矣。噫。天下之人。以性命相委。而徒博此便習為哉。雖然。醫亦非以是驕人也。蓋我所見者。惟此病之若而已。我所憂者。唯去此病之苦而已。將救病之未遑。奚暇為苟容之計。希幸之圖哉。且醫之為道。無論富貴貧賤。閨閫有疾。必藉手焉。端方者視之。縱有隱曲。必求詳而始已。而患者亦直告之無憚。庶幾病得其真。投治獲濟。故品行不可不嚴也。</p>

<h3>明理</h3>
<p>夫醫理之無盡。猶之儒業。第文之不工。費其紙。醫之不工。費其人。大相越也。蓋古來生知者一二人。然炎帝之於百草。嘗而後知。軒轅之於經絡。問而始悉。所謂上竅天紀。下極地理。中知人事。使非有以窮之極之。而能知之哉。後此名流遞出。無不根究理道。參物類而儘性命。而後以術鳴當時。名垂奕祀。況下此者。智不及古人。而不窮搜博覽。罕所見於中。輒以人命自司。其不僨潰者幾希。故昔賢云。讀十年書。無病不可療。更讀十年書。無病可療。知言哉。</p>

<h3>應機</h3>
<p>凡病可以意料也。而不可以意逆。料則任彼之情形。逆則執己之臆見。有如素實者。而有一時之虛。則暫理其虛。素虛者。而有一時之實。則微解其實。此機之從緩者也。實症而攻之過甚。宜峻補以挽之。虛症而補之太驟。宜平劑以調之。此機之從急者也。熱者清之。及半即止。繼以益陰。寒者熱之。大半即安。繼以調和。此機之從權者也。實症久而似虛。其中有實。不任受補。虛症發而似實。其原本虛。不任受克。此機之從經者也。病在上。下取之。陽根於陰。病在下。上取之。陰從於陽。此機之從本者也。表症見。本質雖虛。猶解其表。里症見。元氣縱弱。猶攻其里。此機之從標者也。況乎病之來也無方。而我之應之也亦無方。千變而出之以萬慮。有能遁其情者無之。</p>

<h3>決擇</h3>
<p>夫醫有不忍之心者。而後可以言仁。有不忍而能忍之心者。而後可以言明。蓋仁所以處己。而明所以服物。凡病之必不可救者。而我從而救之。必有所見於中而驗於昔。究之終不如我欲者。亦勢之無如何也。與其無如何。寧決擇之矣。然其所以不決之故有二。一則溺於親愛。不忍遽舍。則百計以營之。思一慮之或得。從而腹悱者有焉。一則規以厚利。不肯遽斷。則巧言以彌之。冀僥倖於偶獲。從而召謗者有焉。故危篤之候。見之既確。則決之宜早。利與愛可勿問也。至有不明脈理。不審源流。而妄斷吉凶者。此庸陋之習。不足與於決擇之數者。又烏得托之以鳴高哉。</p>
