<header data-type="book">
<h1>保嬰金鏡錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="佚名">撰人不詳</data>，<data value="薛己">薛己</data>注</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1555">公元1555年</data></dd></div>
<div><dt>底本</dt><dd>日本承應三年（1654年）刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=d7b3c1ff644f45a9804415b223c36aa7fDcyNDc50&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>面部見色主症</h1>
<figure>
<img alt="面部見色主症圖">
</figure>
<p>凡小兒半周兩歲為嬰兒，三四歲為孩兒，五六歲為小兒，七八歲為齠齔，九歲為童子，十歲為稚子矣。</p>
<p>《全幼心鑑》云：小兒半歲之間，有病當於額前、眉端、髮際之間，以名、中、食三指橫按之，兒頭在左舉右手，在右舉左手，食指為上，中指為中，名指為下。若三指俱熱，主感受風邪，鼻塞氣粗，發熱咳嗽；若三指俱冷，主外感內傷，發熱吐瀉；若食、中指熱，主上熱下冷，若中指熱，主夾驚；食指熱，主胸膈氣滿，乳食不消。</p>
<p>竅謂額間赤色，主心經風熱，煩躁驚悸。若發熱作渴飲水，或發叫哭，屬本經實熱，用瀉心湯，以清心火。微赤則困臥而悸，發熱作渴飲湯，屬虛熱，用秘旨安神九，以生心血。青黑主驚風腹痛，或瘛瘲啼叫。青黑甚，主心腹疼，此寒水勝心，火為賊邪，用益黃散，以補脾胃。微黃皮躁，主驚疳，此心經疳症，用秘旨安神丸，以養心血。骨蒸作渴，盜汗，頭髮干黃，此為腎疳，用地黃丸，以滋補肝腎。</p>
<p>左臉青，或兼赤，乃肝經風熱，項強，頓間發搐，目札瘛瘲，用柴胡清肝散主之；虛熱，用地黃丸補之。青黑主肝克脾，虛寒驚搐腹痛，用六君、薑、桂溫之。微赤主潮熱，血虛心躁，用秘旨安神丸，佐以地黃丸。</p>
<p>右臉赤，主肺、大腸實熱，氣粗咳嗽，發熱飲水，用瀉白散。若哽氣出氣，唇白氣短，屬虛熱，用五味異功散；脾熱所傳，用清胃散；心火所刑，用人參平肺散。淡赤主潮熱心躁，或大便堅秘，用宣明柴胡飲子，以疏導其熱。如潮熱未止，更用鉤藤飲，以清肝補脾。色青白，主咳嗽噁心，先用惺惺散，解其表邪，健其脾土；繼以六君子湯，調補中氣。色青黑，主驚風腹痛，盤腸內吊，此肝木侮脾土，用六君子湯加釣藤鉤，以調補元氣，不宜治肝。</p>
<p>鼻色赤，主脾胃實熱，身熱飲水，飲食如常，用瀉黃散，清熱理脾。微赤主脾經虛熱，飲食難化，而不思食，用五味異功散，以補中健脾。色身黃主小便不通，鼻中乾燥，氣粗衄血，乃脾熱傳於肺腎，先用濟生犀角地黃湯，清熱養血；後用地黃丸，以滋益腎水。色淡白，乃脾氣虛弱，主泄瀉，飲食不化，用六君子以調補中氣。青色主脾土虛寒，肝木所勝，用五味異功散加木香、炮姜，溫中平肝。</p>
<p>頦間色赤，主腎與膀胱陰虛有熱，而小便不通，用四物湯加山梔，以養血清熱。赤甚主膀胱氣滯而熱結，用五淋散，以分利其邪。若鼻準微黃，兼右腮微赤，乃脾肺燥熱，不能化生腎水，用黃芩清肺飲；膀胱陰虛，陽無所生，用滋腎丸。若頦間微赤，乃膀胱陽虛，陰無所化，用六味地黃九。若兼小腹脹滿，或陰囊腫脹，屬陰虛濕熱壅滯，用六味丸，加車前子、牛膝。兼脾肺氣虛，不能通調水道劑，亦用前藥。其小便赤色，久而尿血，亦屬肝腎氣虛有熱，用六味地黃丸主之。不應，則用補中益氣湯，益脾肺，生腎肝。若小便後出白津，或莖作痛劑，屬肝經濕熱，先用龍膽瀉肝湯，後用六味地黃丸。</p>
<p>印堂色青黑，主腹痛夜啼，此脾經虛寒，脾屬至陰，故夜間腹痛而啼，用釣藤飲。色淡白主泄瀉，飲食不化，屬脾氣虛弱，用五味異功散加木香主之。</p>
<p>目內色青，主肝經風熱發驚。若直視叫哭，屬肝經實熱，用抑肝散；兼咬牙頓悶，屬虛熱，用六味地黃丸。色赤主心肝二經發熱，抽搐煩躁。若小便赤屬小腸實熱，用導赤散；若驚悸倦怠，屬肝經血虛，用六味地黃丸。色黃主脾積少食，夜間發熱，用四味肥兒丸。飲食停滯，吐瀉並作，用胃苓散去桂，加茵陳、山梔。目鮮發搐眼眨，屬風熱相搏，先用柴胡梔子散，後用六味地黃丸。眼泡微腫，主久咳噁心，或脾疳食積，用五味異功散，補脾肺，兼肥兒丸，以消積滯。或目視不明，或雀目揩拭眉眼，此欲生風也，急用抑肝散以解之。睛尾紅絲，乃肝木勝脾土，先用四君子加柴胡、山梔，後用地黃丸。</p>
<p>人中色黃，主傷食；青主乳食不化，噯噫酸腐。此脾虛停滯，用平胃散以消積和中。色青赤，主驚，肝氣傷脾，用五味異功散加柴胡，以平肝補中。</p>
<p>唇色白，主吐涎嘔逆，或吐血便血。乃脾氣虛弱，不能攝涎，統血歸源，急用六君子湯，調補中氣，則諸病自愈，切忌涼藥。若色赤乾燥而皺者，主脾經有熱，發熱作渴，口中氣臭，大便不通，煩躁不寐，先以清胃散治其熱，更以六君子湯加黃連、山梔，兼補其脾。色黃主脾經食積泄瀉，飲食不化，以六君子湯溫補中氣。色赤兼白，主衄血，乃脾肺虛熱，不能攝血，用聖濟犀角地黃湯，以清熱補血，兼用六君子以補脾。氣久不愈，用麥門冬散，或人參補肺湯。</p>
<p>口畔色黃，主脾經積熱，用清胃散，以理脾清熱。若唇口抽動，主驚熱不安，用五味異功散加山梔、釣藤鉤，以補脾平肝。若口流涎，唇色紫，乃胃氣虛寒也，用益黃散。若腹中痛，口吐涎水者，乃蟲痛也，先用蕪荑散，後用調中丸。不吐涎者，乃積痛也，但用五味異功散，調補胃氣。手足並冷，用理中湯加烏梅，溫補中氣，則蟲不動，而痛自止矣。亦有積痛者，或吐後痛止，或去後痛止者，宜用消積丸消導積滯，佐以異功散調補元氣。</p>
<p>耳前微赤，此少陽經風熱也，用柴胡梔子散，生肝血，清肝火。微黃主睡中驚悸咬牙，因肝脾虛熱，宜用四君子加芎歸以安神。</p>
<p>耳輪乾燥，主骨疳蒸熱，為腎經虛熱也，用六味地黃丸補之。若小便後出白津，或陰莖癢痛者，屬肝經濕熱也，先急用龍膽瀉肝湯，後用六味地黃丸。若稟氣不足，或早近女色，致小便澀滯，或作痛如淋者，急用六味地黃九、補中益氣湯，滋其化源。或大小便道牽痛者，尤為虛也，亦用前藥，加牛膝、車前子、肉桂救之。如手足逆冷，或畏寒飲食，陽氣虛寒也，急加附子，多有生者。</p>
<p>大抵小兒之症，多因稟賦臟氣不平，或乳食寒暑失宜，或妊娠飲食起居，六淫七情所致。若初病元氣無虧，乳食如常，發熱壯熱，二便秘結，作渴飲水，臥不露睛者，悉屬形病俱實，當治邪氣。若病久元氣已虧，食少發熱，口乾飲湯，嘔吐泄瀉，肢體畏寒，臥而露睛者，悉屬形病俱虛，當補正氣。況今之小兒元氣，與昔不同，用藥失宜，脾胃先傷，豈可泥古方而施治哉？余故考諸名家，宗諸東垣，於凡諸症，各補以方藥，治者能即色以驗其病，察病以固其本，斯無失矣。是以古之治病，望色為先也。且驚則氣散脈亂，不可專診，故必兼察色。《心鑑》云：若面色未盡，當參之以指脈；指脈未盡，當參之以面色。色脈兼盡，無餘蘊矣。</p>

<h1>治驗</h1>
<p>一個兒，瘛瘲啼叫，額間青黑，此驚風，肝木乘脾，腹中作痛也。先用六君子湯加木香、柴胡、釣藤鉤，啼叫漸緩。更加當歸，又二劑而安。</p>
<p>一小兒，嘔吐不食，手足搐搦，痰涎上湧，手足指冷，額黑唇青，此腎水勝心火也。用五味異功散，加木香、炮姜，頓安。乃去炮姜，再劑而愈。</p>
<p>一小兒，煩躁驚悸，熱渴飲冷，額間色赤，此心經實熱所致。先用瀉心湯，一服稍緩。又用柴胡梔子散而瘥。</p>
<p>一小兒，四肢消瘦，肝腹漸大，寒熱嗜臥，作渴引飲。余曰：症屬肝脾。名為丁奚晡露也。以白朮散為主，佐以徐氏十全丹，月餘諸症漸愈。乃以異功散加當歸，及六味丸，又月餘，尋愈。</p>
<p>一小兒，患前症，諸疳悉具，熱如火炙，病狀不能盡述。朝用異功散，夕用四味肥兒丸，月餘，諸病稍愈。佐以地黃丸，自能行立，遂朝以地黃丸，夕以異功散，及蝦蟆丸，數服而全愈。</p>
<p>一小兒，肢體消瘦，肚腹脹大，行步不能，狀如蜘蛛，頗能飲食，作渴發熱，去後臭穢，此脾藏傷也。以十全丹數服，諸症漸愈。又用異功散、肥兒丸調理，肢體如常。</p>
<p>一小兒，發熱拘急，或四肢瘛瘲，左腮色赤，此心肝二經風熱相搏。先用柴胡清肝散，以清心肝之熱；次用六味地黃丸，以生肝腎之血，頓安。</p>
<p>一小兒，發搐啼叫，手足指冷，左腮青黑，此肝脾虛弱，腎水反侮脾土。用六君子湯加薑桂，一劑頓安。又以四君子加芎歸，及補肝散而愈。</p>
<p>一小兒，潮熱煩躁，左腮青赤，此心肝血虛。用秘旨安神丸，及四物湯加防風、酸棗仁治之，尋愈。又用六味地黃丸，調補肝腎而痊。</p>
<p>一小兒，潮熱發搐，痰涎上湧，手足指冷，左腮至申酉時，青中隱白，手足時搐。此肝經虛弱，肺金所勝而潮搐，脾土虛弱而手足冷也。用補中益氣湯，以調補脾肺；用六味地黃丸，以滋補肝腎而愈。蓋病氣有餘，當認為元氣不足。若用瀉金伐肝，清熱化痰，則誤矣。</p>
<p>一小兒，發熱咳嗽，左腮色赤，此肺金有熱，用瀉白散而愈。復感冒風邪，前症更作，又加聲重流涕，用參蘇飲加杏仁、桑皮而愈。但右腮仍赤，兼額微赤，此兼心火乘肺金也，用人參平肺散，一劑遂痊。</p>
<p>一小兒，五歲作渴，右腮鼻準微赤，或飲冷水，或服涼藥，即時嘔吐。余曰：右腮微赤，肺經虛熱也。鼻準微赤，胃經虛熱也。此胃虛不能生肺耳。先用四君子加升麻，一劑服之而不吐。又用白朮散，二劑而不渴。再用四君子，四劑而安。</p>
<p>一小兒，潮熱煩渴，大便乾實，氣促咳嗽，右腮色赤，此肺與大腸有熱。用柴胡飲子，一服諸症頓退。後因微驚，又發搐咬牙，頓悶。此肝脾氣虛也，用四君子，加芎、歸、釣藤鉤而愈。</p>
<p>一小兒，咳嗽噁心，鼻塞流涕，右腮色青白。此脾肺氣虛，而外邪所乘。先用惺惺散，咳嗽頓愈。但飲食不思，手足指冷。此外症雖去，而元氣尚虛也。用六君子少加升麻，一劑而痊。</p>
<p>一小兒，腰曲啼叫，右腮色青黑，此臍腹內痛，即盤腸內吊也。因脾土虛寒，肝木來乘故耳。用六君子加木香、釣藤鉤，頓愈。</p>
<p>一小兒，發熱，飲食少思，大便不實，常服蘆薈等丸，視其鼻赤。此寒涼之劑，復傷脾土而虛熱也。用五味異功散，數劑而元氣復。</p>
<p>一小兒，小便不利，鼻乾衄血，鼻間色赤，屬脾肺有熱。用濟生犀角地黃湯，前症已愈，後頦間常赤，作渴有痰。此稟賦腎氣不足，用地黃丸，而諸症皆瘥。</p>
<p>一小兒，發熱作渴，用瀉黃散，大便重墜，口角流涎，仍欲瀉火。余曰：鼻準青白多而黃色少，屬脾胃虛寒，肝木所侮。蓋口角流涎，胃氣不能統攝也；大便重墜，脾氣不能上升也。不信，另用涼劑，果眉唇微動，四肢微搐。余曰：此虛極而變慢脾風也。用六君子加當歸、木香、炮薑、釣藤鉤，二劑益甚。意欲更劑。余曰：此藥力未及也。設前藥不對其症，禍在反掌矣。仍以前藥，加炮附子一片，服之即安。乃去附子，又二劑，調理而愈。</p>
<p>一小兒，小便不利，服五苓散之劑，不應，頦間及左腮色赤。乃肝腎虛熱，用四物湯加山梔而愈。後因感冒，誤用發汗，小便仍前不利。余用補中益氣湯加麥門、五味，調補脾肺而愈。</p>
<p>一小兒，小便不利，及莖中澀痛，或尿血石，此稟賦腎熱為患。此則五淋散以疏導，又用滋腎丸、地黃丸，補其肝腎漸愈。出痘後，小便短赤，頦間右腮或赤或白。屬肺腎氣虛而熱也，用補中益氣湯、六味地黃丸而痊。</p>
<p>一小兒，印堂青黑，至夜啼搐。余謂脾土虛寒，用釣藤飲而安。後因驚發搐夜啼，用釣藤飲，前症頓止。又用異功散而愈。</p>
<p>一小兒，八歲，腹腫脹，臍凸出，大便下血，糞亦似痢，小水短少，面目皆黃，兩腮兼赤。此食積傷脾，又兼肝木所侮脾土。蓋脾病則肺氣虛，而不能生腎水矣，故有是症。當先消導其積滯，遂用越鞠丸末加三稜、蓬朮三錢，以淡薑湯調和，入酒二匙服之，腹中鳴動，二便頓利。再服二錢，腹臍頓消。卻用大安丸末二錢，腹臍全消，便血亦止。自進薄粥杯許，腹中頓痞，噁心吐痰不出。此脾虛不能腐化而成痰滯也。用六君子末二錢，以薑湯和服，調補胃氣，飲食漸進。但日晡熱倦，腹中覺脹。此脾虛，故陰分而作，用補中益氣湯而痊。後復傷食，發熱腹脹，小便下血，保和丸四服而愈。</p>
<p>一小兒，目內色青，發搐，目直上視，叫哭不已。或用牛黃清心丸，不愈，反咬牙頓悶，小便自遺。此肝經血氣虛甚故耳。余用補中益氣湯，及六味地黃丸而痊。</p>
<p>一小兒，發搐目札，屬肝膽經風熱。先用柴胡清肝散，以清其肝；後用六味地黃丸，以補其腎而痊。</p>
<p>一小兒，眼泡微腫，咳嗽噁心，小便泔白。余謂脾疳食積，脾氣虛甚也。以五味異功散為主，佐以四味肥兒丸而愈。後不禁飲食，視物不明。余曰：此脾胃復傷，須補養為主。不信，乃服峻厲之劑。後變風症，竟為不起。</p>
<p>一小兒，人中青黃，噯腐酸氣，用平胃散一服，宿滯頓化。余云：不必多藥，但節其飲食自愈。不信，復傷食而噯腐，另用克治之藥，更加吐瀉，以致不救，惜夫！</p>
<p>一小兒，傷食嘔吐，服克伐之藥，嘔中見血；用清熱涼血之藥，又大便下血，唇色白而或青。問其故於余。余曰：此脾土虧損，肝木所乘而然也。令空心用補中益氣湯，食遠用異功散，以調補中氣，使涎血各歸其源而愈。</p>
<p>一小兒，五歲，食粽後，咬牙欲吐，頃間腹脹，昏憒，鼻青黃赤。此脾土傷，而心肝所動，食積發厥也。先令雞翎探吐出酸物，頓醒。節其飲食，勿藥而愈。</p>
<p>一小兒，生旬日，而目青黃。此胎黃症，娠妊胃熱也。用瀉黃散，乳調少許即愈。後復身黃吐舌，仍用前散而安。</p>
<p>一小兒，四歲，發熱飲冷，口內生瘡，額鼻黃赤，吐舌流涎。余謂心脾有熱，用導赤、瀉黃二散而愈。後復作，余因他往，服清熱化痰等藥，前症益甚，更弄舌。余用異功散加釣藤鉤而安，又用六君子湯而愈。蓋吐舌者，為脾經實熱，而舌長出也；弄舌者，乃脾經虛熱也，令舌時舒而即收也。治者審之。</p>
<p>一小兒，三歲，言步未能，牙發猶少，體瘦骨立，面赤作渴，服肥兒丸，不應。余謂此腎虛疳症，乃稟賦精氣不足故也。蓋肥兒丸，脾胃經之藥也，久服則腎益虛而疳益甚。不信，果牙發漸落。余用六味地黃丸加鹿茸、五味子，半載，元氣健而諸症愈。</p>

<h1>虎口三關脈紋主症</h1>
<figure>
<img alt="虎口三關脈紋主症圖">
</figure>
<p>《水鏡訣》云：陰陽運合，男女成形，已分九竅四肢，乃生五臟六腑。部位各分，逆順難明。若憑寸口之浮沉，必乃橫亡於孩子。須明虎口，辨別三關，消詳用藥，必無差誤。未至三歲，看虎口及三關。若脈見風關，初病則易治，交氣關則難治，交命關則病深死症。又當辨其色，如獸驚三關必青，水驚三關必赤，人驚三關必黑。若紫色主瀉痢，黃色是雷驚三關。脈通度是極驚之症，必死。或青或紅，有紋如線直者，是母食傷脾。左右一樣者，是驚與積齊發。紋有三條，是肺生風痰。或作齁䶎聲。色青是傷寒，主痰嗽。色紅主瀉。有黑相兼主下痢，紅多者赤痢，黑多者白痢；有紫相兼，虎口脈亂，乃脾胃不和。蓋脈紋見有五色，由其病甚。紋色更變，至於純黑者，不可得而治矣。又當參辨脈形主之。</p>

<h1>十三指形生症</h1>
<figure>
<img alt="十三指形生症圖">
</figure>
<p>愚謂：古人云：小兒為芽兒。如草之芽，如水之漚然也。蓋因臟腑脆嫩，口不能言，最難投劑。是以有察面色而知其所屬，次驗虎口以辨其所因矣。然猶未足以盡病之證，故余復注十三指形，實為治法之簡便爾。若流珠形者，主飲食所傷，內熱欲吐，或腸鳴自利，煩躁啼哭，用胃苓膏，消飲食，分陰陽。若食既消，而仍吐瀉腸鳴，用香砂助胃膏，溫補脾胃。○環珠形，主脾虛停食，胸膈張滿，煩渴發熱，用五味異功散加山楂、枳實，健脾消食。後用六君子湯，調養中氣。○長珠形，主脾傷積滯，肚腹作痛，寒熱不食，先用大安丸補其積滯，次以五味異功散健其脾氣。○來蛇形，主脾胃濕熱，中脘不利，乾嘔不食，此疳邪內作，用四味肥兒丸治疳，用四君子補脾。○去蛇形，主脾虛食積，吐瀉煩渴，氣短喘急，不食困睡，先用六君子湯加山楂、枳實健脾消積，次以七味白朮散調補胃氣。○弓反里形，主感冒寒邪，哽氣出氣，驚悸倦怠，四肢稍冷，小便赤色，咳嗽吐涎，先用惺惺散助胃氣，祛外邪，後以五味異功散加茯神、當歸，養心血，助脾氣。若外邪既解，而驚悸肢冷，乃脾氣尚虛，宜七味白朮散補之。若悶亂氣粗，喘促哽氣者，難治，肺虛甚也。○弓反外形，主痰熱，心神恍惚，夾驚夾食，或食癇風癇，脾肺氣虛，而風熱痰甚也，先以天麻防風丸祛外邪，又以五味異功散調中氣。○槍形，主風熱生痰，發搐驚風，先用抱龍丸，如未應，用牛黃清心丸。若傳於脾肺，或過用風痰之藥，而見一切諸症者，專調補脾胃，其病自愈。○魚骨形，主驚痰發熱，先用抱龍丸，如未應，屬肝火實熱，少用抑青丸，隨用六味地黃丸。或發熱少食，或痰盛發搐，乃肝木克脾土也，用六君子加柴胡，調補脾土而制肝木。○水字形，主驚風食積，胸膈煩躁，煩悶少食，或夜啼痰盛，口噤搐搦。此脾胃虛弱，飲食積滯，肝木克脾土也。初患用大安丸，消導飲食；次以六君子湯加釣藤鉤，補中清肝。若已服消食化痰等劑，反傷元氣者，用四君子加升麻、柴胡、釣藤鉤，以升補脾胃，平制肝木。○針形，主心肝熱極生風，驚悸頓悶，困倦不食，痰盛搐搦，先用抱龍丸祛風化痰，次用六君子湯加釣藤鉤，平肝實脾。○透關射指，主驚風痰熱，聚於胸膈，乃脾肺虧損，痰邪乘聚，先用牛黃清心丸，清脾肺，化痰涎，次用六君子湯加桔梗、山藥，補脾土，益肺金。○透關射甲，主驚風，脾土虧損，肝木剋制之敗症，急用六君子湯加木香、釣藤鉤、官桂，以溫脾土。未應，即加附於，以回陽氣，多得生者。</p>
<p>流珠，只一點紅色，環珠差大，長珠圓長。已上非謂圈子，總皆紅脈貫氣之如此。來蛇即是長珠散，一頭大，一頭尖。去蛇亦如此。分上下朝。故曰：來去角弓反張，向里為順，向外為逆。槍形直上，魚骨分開。水字，即三脈並行。針形，即過關一二粒米許。射甲命脈，向外透指，命脈曲里。雖然，余常治之，亦有不專執其形脈而投劑者。蓋但有是症，即服是藥而已。</p>

<h2>流珠形症</h2>
<p>一小兒，發熱吐瀉，腹脹不乳，其紋如流珠。此脾胃氣傷。先用香砂助胃膏，後用六君子湯全愈。</p>

<h2>長珠形症</h2>
<p>一小兒，寒熱作嘔，飲食不入，按其腹乃哭，脈紋如長珠。此飲食停滯也。先用大安丸，吐瀉宿滯遂安。但唇目抽動，大便稀黃，此病邪去而虛熱所迫也，用六君子湯加釣藤鉤而愈。</p>

<h2>環珠形症</h2>
<p>一小兒，胸腹膨脹，發熱頓悶，脈紋如環珠，以手按腹即哭。此屬脾胃虛，而飲食停滯也。先用保和丸一服，前症如失，更加煩渴，按其腹不哭矣。此宿食去，而脾胃復傷也。用五味異功散加柴胡治之，頓瘳。</p>

<h2>來蛇形症</h2>
<p>一小兒，不時於嘔，乳食不進，胸腹膨脹，其形如夾蛇。此脾胃虛而成疳也。用四味肥兒丸治疳，佐以四君子加蕪荑健中而痊。後傷飲食，吐瀉完穀，形氣甚困，四肢微搐，視其紋如去蛇。余曰：且不用藥。次日吐止，但搐而瀉青黃。此脾土虛而肝木勝，用六君子加釣藤鉤而瘥。</p>

<h2>去蛇形症</h2>
<p>一小兒，未及周歲，氣短喘急，乳食少進，時或吐乳，視其形如去蛇。乃脾傷而食積。先用六君子加山楂、枳實，漸愈。後乳食復傷，吐瀉作渴，候二日不止，與胃苓膏以治吐瀉，七味白朮散生胃氣而愈。</p>

<h2>弓反外形症</h2>
<p>一小兒，睡臥驚悸，發熱痰盛，脈形如弓之向外。此因驚木旺，傷脾而食不消也。先以天麻防風丸祛風定驚，後用五味異功散壯脾止搐而瘥。</p>

<h2>弓反里形症</h2>
<p>一小兒，沉默昏倦，肢冷驚悸，其紋如弓之向里。此脾肺氣虛，而外感寒邪也。先用惺惺散以解外邪，調胃氣，諸症頓愈。但手足逆冷，又用六君子湯調補元氣而安。</p>

<h2>槍形症</h2>
<p>一小兒，患咳嗽，服牛黃清心丸，加喘促腹脹。余視其右臉赤脈，紋形如槍，屬脾氣復傷，用六君子湯，頓安。</p>

<h2>魚骨形症</h2>
<p>一小兒，沉困發熱，驚搐不乳。視其脈紋，如亂魚骨。此風熱急驚之症也。先用抱龍丸少許，祛風化痰。後用六君子湯加柴胡，壯脾平肝而愈。</p>

<h2>針形症</h2>
<p>一小兒，咳嗽發熱，右臉赤色，作渴煩悶。倦怠少食，肚腹作脹，脈紋如針。此風邪傷肺，而飲食傷脾也。先用六君子湯加桔梗、杏仁、柴胡，一劑諸症少愈。後去杏仁、柴胡，再劑而安。</p>

<h2>水字形症</h2>
<p>一小兒，發熱夜啼，乳食不進，昏迷抽搐，痰盛口噤，脈紋如水字。此脾肺氣虛，風木聽乘，痰食積於胸腹也。先用大安丸，後用六君子加釣藤鉤而痊。</p>

<h2>透關射指形症</h2>
<p>一小兒，發熱，右臉赤，咳嗽痰盛，其脈紋透關射指。余以為風邪蘊結於肺而痰作，用二陳湯加桑皮、杏仁、桔梗治之。自用發散降火之劑，風痰不退，發熱益甚。余曰：此脾肺俱虛，治失其宜。遂用五味異功散加桔梗，四劑漸愈。又用六君子湯而痊。</p>

<h2>透關射甲形症</h2>
<p>一小兒，停食發熱，服芩、連、三稜、厚朴等劑，飲食日少，胸腹膨脹，其紋透至指甲。用補中益氣湯加木香、釣藤鉤，溫補脾氣，制肝本，數劑漸效。又用六君子湯加炮姜，治之而安。其泛用金石腦麝，祛逐之劑，變驚而歿者，不能枚舉。惜哉！</p>
<p>愚謂：凡小兒在月內外者，調補之劑，每服亦不過二三匙。若表散攻伐之藥，則每服只可匙許而已，過多則反傷元氣。余當量大小虛實加減。若乳母之疾，致兒為患，當治母為主，子少服之。後仿此。</p>
<p><u>錢氏瀉青丸</u>　治肝經實熱。急驚加搐。</p>
<p>羌活　大黃（煨）川芎　山梔仁（炒）龍膽草（酒炒）當歸　防風（各等分）</p>
<p>上為末，煉蜜丸，芡實大。每服半丸，煎竹葉湯，入砂糖化下。</p>
<p>愚按：前方足厥陰經解散肌邪，疏通內熱之藥也。若大便秘結，煩渴飲冷，飲食如常者，屬形病俱實，宜用此以瀉之。若大便調和，煩渴飲冷，屬病氣實而形氣虛，宜用抑肝散平之。若大便不實，作渴飲湯，飲食少思，肌體倦怠者，屬形病俱虛，宜用地黃丸補之。大抵前症，若肝經血虛風熱，先用四物湯加釣藤鉤，以生肝血；繼用四君子湯，以補脾土。若因肝經血燥痰盛，用地黃丸，滋腎水生肝木；四君子加芍藥，實脾土生肺金。若因肺金克肝木，用六君子湯加芍藥，實脾土以平肺金。若屢行攻伐，而脾土虛寒者，急服六君子湯加丁香、木香，補脾胃以培陽氣。若因乳母恚怒，肝火致兒為患者，母服加味逍遙散，子亦吮數滴。</p>
<p><u>錢氏地黃丸</u>　治肝疳白膜，遮睛瀉血，失音身瘦，瘡疥。又治腎祛不言，解顱行遲等症。一名六味地黃丸。</p>
<p>熟地黃（八錢，酒洗）山茱萸肉　乾山藥（各四錢）澤瀉　牡丹皮　白茯苓（各三錢）</p>
<p>上為末，用地黃膏，量加米糊，丸桐子大。每服二三十丸，空心白湯化下。其地黃用生者，自制杵膏。</p>
<p>愚按：前丸治肝經血虛燥熱，或腎經虛熱作渴，小便淋秘，痰氣上壅；或風客淫氣，患瘰癧結核；或四肢發搐，眼目瞤動；或咳嗽吐血，頭目眩暈；或咽喉燥痛，口舌瘡裂；或自汗盜汗，出血諸血；或稟腎不足，肢體瘦弱，解顱失音；或畏明下竄，五遲五軟，腎疳肝疳；或早近女色，精血虧耗，五臟齊損。凡屬腎肝諸虛不足之症，皆宜用此以滋化源，其功不能盡述。</p>
<p><u>瀉白散</u>　治咳嗽痰喘，面腫身熱。</p>
<p>桑根白皮（炒黃）地骨皮（各一兩）甘草（炒，五錢）</p>
<p>上為末，每服一二錢，入粳米百粒，水煎。</p>
<p>愚按：《活人方》云：喘者，肺氣盛而有餘。然氣盛當認作氣衰，有餘當認作不足，蓋肺氣盛者，肺中之火盛也。有餘者，肺中之邪有餘也。其脈右寸必浮而有力，右頰色赤，前藥所以瀉之。世之多不用人參，蓋泥於肺熱還傷肺之說，以致誤人多矣。前症若乳母感冒風寒，肺經蘊熱，致兒為患者，用十味參蘇飲。若乳母膏粱醇酒積熱，致兒為患，用加味清胃散。</p>
<p><u>錢氏瀉黃散</u>（一名瀉脾散）　治脾熱吐舌。</p>
<p>藿香（七錢）山梔仁（炒，一兩）石膏　甘草（炒，各五錢）防風（二兩）</p>
<p>上蜜酒微炒為末，每服一二錢，水煎。</p>
<p>愚按：前方治脾胃實熱之法也。若作渴飲水，肢體壯熱，元氣無虧者，宜用之。若作渴飲熱，弄舌體溫，元氣虛弱者，宜五味異功散。</p>
<p><u>錢氏瀉心湯</u>　治心經實熱。</p>
<p>黃連</p>
<p>上為末，每服一錢，臨臥溫湯調下。</p>
<p>愚按：前症若仰面而臥，叫哭，發熱飲水，或發抽搐，屬心經實熱，宜用前方。若合面而睡，驚悸，上竄咬牙，屬心經虛熱，宜用導赤散。若因乳母膏粱醇酒，致兒發熱者，用加味清胃散，令母服，子亦飲數滴。</p>
<p><u>錢氏益黃散</u>（一名補脾散）　治脾胃虛冷吐瀉。</p>
<p>陳皮（一兩）青皮　訶子肉（各五分）甘草（炙，五分）丁香（二錢）</p>
<p>上為末，每服二錢，水煎。</p>
<p>愚按：前症若脾土虛寒，或寒水侮土，而嘔吐泄瀉，手足並冷；或痰涎上壅，睡而露睛，不思乳食，宜用此方。若因脾土虛弱吐瀉者，用六君子湯加柴胡。如不應，或手足俱冷，屬虛寒也，更加木香、炮姜。若因乳母脾虛肝侮，亦治以前藥。若乳母鬱怒，致兒患前症，母服加味歸脾湯。</p>
<p><u>東垣人參安胃散</u>　治脾虛傷熱，乳食嘔吐瀉痢。</p>
<p>人參（一錢）黃耆（二錢）生甘草　炙甘草（各五錢）白芍藥（七分）白茯苓（四分）陳皮（三分）黃連（炒，二分）</p>
<p>上為末，每服二錢，水煎。</p>
<p>愚按：東垣先生云：益黃散，內有青皮、丁香，辛熱，蓋為寒水侮土而設也。若因熱藥巴豆之類，損其脾胃，或因暑熱，傷乳食而成吐瀉，口鼻氣熱，而致慢驚者，宜服前方。</p>
<p><u>錢氏異功散</u>　治吐瀉不食。凡虛冷症，先與數服，以正胃氣。</p>
<p>人參　茯苓　白朮　甘草（炒）陳皮（各等分）</p>
<p>上為末，每服二三錢，薑棗水煎。</p>
<p>愚按：前方治脾胃虛弱，吐瀉不食；或驚搐痰盛；或睡而露睛，手足指冷：或脾肺虛弱，咳嗽吐痰；或虛熱上攻，口舌生瘡，弄舌流涎。若母有症，致兒患此者，母亦當服之。</p>
<p><u>十全丹</u>　治丁奚晡露。</p>
<p>青皮　陳皮　莪朮（煨）川芎　五靈脂　白豆蔻　檳榔　蘆薈（各五錢）木香　使君子　蝦蟆（炙，各一錢）</p>
<p>上為末，豬膽汁浸糕糊丸，麻子大。每服二十丸，米飲下。</p>
<p>愚按：湯氏云：前症因乳哺不調，傷損脾胃，不思飲食，氣血日損，四肢日瘦，肚腹漸多，是名丁奚。呼吸少氣，汲汲苦熱，謂之哺露。屬形病俱虛，治以前藥，宜佐以異功散，壯脾胃以行藥勢，庶可得效也。</p>
<p><u>平胃散</u>　治乳食過傷，腹鳴嘔吐，或米穀不化。</p>
<p>厚朴（薑汁製）陳皮（各三兩）甘草（炙，二兩）蒼朮（五兩，米泔浸）</p>
<p>上為末，每服二錢，薑湯調。</p>
<p>愚按：前方若乳食停滯，噯腐吞酸，嘔噦噁心者，宜服此方。若飲食既消，脾胃虛弱，嘔吐噁心者，宜用四君子湯。</p>
<p><u>四君子湯</u>　治脾氣虛損，吐瀉少食。</p>
<p>人參　白朮　茯苓　甘草（各等分）</p>
<p>上每服二錢，薑棗水煎。</p>
<p>愚按：前方若脾胃虛弱，或因克伐之劑，致飲食少思，或食而難化，或欲作嘔，或大便不實者，尤宜用之。若兼痰嗽氣逆，肢體倦怠，面目浮腫，宜六君子湯。</p>
<p><u>六君子湯</u>　即四君子加陳皮、半夏。治脾胃氣虛，吐瀉不食，肌肉消瘦；或肺虛痰嗽，喘促惡寒；或肝虛驚搐、眩暈、自汗諸症，並宜服此，以滋化源。</p>
<p><u>二陳湯</u>　治脾虛中脘停痰，嘔吐噁心。</p>
<p>半夏（炮）陳皮（各五錢）茯苓（二錢）甘草（炙，一錢）</p>
<p>上每服二錢，姜水煎。</p>
<p>愚按：前方若脾虛痰飲，嘔吐噁心，用之良驗。若因飲食傷胃所致，宜用六君子湯，調補中氣。</p>
<p><u>胃苓湯</u>（為末，蜜丸，名胃苓膏）　治腸胃受濕，嘔吐泄瀉。</p>
<p>白朮　茯苓　澤瀉　厚朴　豬苓　陳皮　甘草（各等分）桂（少許）</p>
<p>上為末，每服二錢，姜水、燈心、陳皮煎湯調。</p>
<p>愚按：前方若停食吐瀉，小便短少，腹脹作痛，宜用此以分利之，更用六君子湯以調補脾胃。</p>
<p><u>釣藤飲子</u>　治一切驚風潮搐，目視昏迷。</p>
<p>釣藤鉤（二錢）蟬殼（五個，去翅足）獨活　防風　天竺黃　羌活　川芎（各三錢）升麻　麻黃　草龍膽　甘草（炙，各二錢）</p>
<p>上為末，每服二錢，水煎。</p>
<p>愚按：前方若外感風邪，形病俱實者，宜用之。若形氣虛而病氣實者，宜用惺惺散加釣藤、麻黃。若外邪既去，而形病俱虛者，宜用異功散。</p>
<p><u>肥兒丸</u>　治肝疳食積，肢體消瘦，二便不調。</p>
<p>黃連　神麯　木香（各一兩五錢）檳榔（二十個）肉豆蔻（煨，二兩）使君子（酒浸，去皮）麥芽（炒，各四兩）</p>
<p>上為末，神麯糊丸，麻子大。每服二三十丸，米飲下。</p>
<p>愚按：前方若食積五疳，發熱口渴，大便不調，小便不清；或頸項結核，發稀成穗，寒熱作渴，宜用之。若脾胃稍虛者，用五味異功散兼服；虛甚者，異功散為主，佐以前藥。</p>
<p><u>濟生犀角地黃湯</u>　治脾胃鬱熱，衄血吐血。</p>
<p>生地黃（五分）犀角（鎊）赤芍藥　牡丹皮（各一錢）</p>
<p>上水煎服。如無犀角，暫以升麻代之。</p>
<p>愚按：前方若肝脾虛熱，吐血，衄血，便血，或發熱作渴，大便秘，小便赤，宜用之。若熱既退，而渴血未止，或目晡益甚者，陰血虛也，四物湯加參朮主之。若熱既退，而飲食少思，肢體倦怠者，胃氣虛也，四君子加當歸主之。</p>
<p><u>徐氏惺惺散</u>　治外感風寒，鼻寒痰嗽，身體發熱。</p>
<p>桔梗　細辛　人參　白朮　甘草（炙）瓜蔞根　白茯苓（各等分）</p>
<p>上為末，每服二錢，入薄荷五葉，水煎。</p>
<p>愚按：前方若感寒邪，時氣風熱，痰壅咳嗽，或抽搐瘛瘲，痰氣喘促，用之。若外邪解，而病益甚，或更兼他症，但調補元氣。</p>
<p><u>徐氏加減抱龍丸</u>　治風痰咳嗽。去天麻，即錢氏抱龍丸。</p>
<p>雄黃　辰砂（各二錢）天竺黃（四錢）麝香（五分）天麻（六錢）牛膽南星（九錢）</p>
<p>上為末，煮甘草糊丸，皂角子大。二歲一丸，薄荷湯下。</p>
<p>愚按：前方若風熱痰嗽，或急驚發搐，昏睡咬牙，形病俱實，宜用此方。若初冒風寒咳嗽，痰盛氣喘者，屬客邪內作也，先用十味參蘇飲。若邪既解，而腹脹吐瀉，或發搐咬牙，睡而露睛，屬脾肺氣虛也，用五味異功散，切忌祛痰表散。若過服而致前症者，尤宜溫補脾肺。</p>
<p><u>十味參蘇飲</u>　治感冒發熱，頭疼傷風，咳嗽傷寒，痰飲凝滯。</p>
<p>人參　紫蘇（各八分）茯苓　陳皮　半夏　前胡　枳殼（麩炒）葛根　桔梗（炒，各六分）木香（五分）甘草（炒，五分）</p>
<p>上每服二三錢，姜水煎。</p>
<p>愚按：前方雖有參苓補氣，而表散之味或多。若病久元氣虛弱者，以六君子加桔梗、乾葛，補而散之。若因感外邪，而喘嗽腹脹，或飲食少思，大便不實者，此脾肺之氣虛也，必用六君子之類，庶無誤矣。</p>
<p><u>秘旨安神丸</u>　治發熱驚啼，頰赤壯熱。</p>
<p>麥門冬（去心焙）牙硝　白茯苓　乾山藥　寒水石（煅）甘草（各五錢）硃砂（一兩）龍腦（二分半）</p>
<p>上為末，煉蜜為丸，芡實大。每服半丸，滾湯化下。</p>
<p>愚按：前方若口舌生瘡，吐舌飲水，發熱驚搐，啼哭煩躁，面赤，屬心經實熱，宜用此瀉之。若目拽搐搦，面青寒熱，屬肝經風熱，用六味地黃丸。若惡寒飲湯，屬脾氣虛弱，用異功散。若前症益甚，兼手足並冷，睡而露睛，屬脾胃虛寒也，用六君加木香、炮姜補之。</p>
<p><u>四物湯</u>　治肝脾血虛，發熱驚搐，瘰癧丹毒。</p>
<p>當歸　川芎（各一錢）芍藥　熟地黃（各五分）</p>
<p>上水煎服。</p>
<p>愚按：前方若血虛發熱，或因失血，或因克伐，或因久病，致晡熱內熱，或煩躁不安，皆宜服之。經又云：血生於脾。若脾虛不能生血者，宜用四君子加當歸、酒炒白芍以補脾。</p>
<p><u>白朮散</u>　治積痛，和胃氣，生津液。</p>
<p>人參　白朮　藿香葉　木香　甘草　白茯苓（各一兩）乾葛（二兩）</p>
<p>上每服二錢，水煎。</p>
<p>愚按：前方若脾胃氣虛，作渴飲湯；或因吐瀉，津液虧損，煩渴引飲；或脾胃虛弱，腹脹瀉渴，弄舌流涎，手足指冷，宜服之以溫補脾氣，化生津汲。</p>
<p><u>人參平胃散</u>　治心火刑剋肺金，咳嗽發熱，口渴痰盛。</p>
<p>人參　陳皮　地骨皮　茯苓　甘草（各一錢半）五味子（杵，炒，四分）知母（炒，七分）青皮　天門冬（去心，各四分）桑白皮（炒，一錢）</p>
<p>上水煎服。</p>
<p>愚按：前方若心火克肺，傳為肺痿，咳嗽喘嘔，痰涎壅盛，胸膈痞滿，咽嗌不利，宜用之。若因肝木太過而致，當補肺經。若因腎水不足，當補脾肺。若因心火旺而自病，當利小便。</p>
<p><u>黃芩清肺飲</u>　治肺火燥熱，口渴便秘。</p>
<p>黃芩（炒，二錢）梔子（三個，杵碎，炒）</p>
<p>上水煎服。</p>
<p>愚按：前方治肺經陰虛火燥，而小便不通。若因脾經有熱，當清其脾。若因心火克肺，當制其心。</p>
<p><u>滋腎丸</u>　治稟父腎虛火燥，小便秘赤。</p>
<p>黃柏（酒炒）知母（酒炒，各一兩）肉桂（二錢）</p>
<p>上為末，水丸，桐子大。每服百丸，空心白滾湯下。</p>
<p>愚按：前方若稟父腎虛，發熱便赤，或足熱腿軟，熱在下焦血分，最宜此藥。如不應，或脾肺燥熱所致，並宜六味丸，以滋其化源。</p>
<p><u>清胃散</u>　治胃火牙痛，或連頭面。</p>
<p>升麻（五分）生地黃　牡丹皮　黃連（炒）當歸（各三分）</p>
<p>上水煎服。</p>
<p>愚按：前方治脾胃實火作渴，口舌生瘡；或唇口腫痛，齒齦潰爛，焮連頭面；或惡寒發熱；或重舌馬牙，吐舌流涎之類，子母並宜服。若因胃氣虛弱，或因寒涼克伐，胃氣虛弱，而口舌生瘡；或弄舌發熱，飲食少思；或嘔吐困睡，大便不實，流涎齦爛者，用五味異功散。</p>
<p><u>補中益氣湯</u>　治中氣虛弱，體疲食少，或發熱煩渴等症。</p>
<p>人參　黃耆（各八分）白朮　炙甘草　陳皮（各五分）升麻　柴胡（各二分）當歸（一錢）</p>
<p>上薑棗水煎，空心午前服。</p>
<p>愚按：前方若因藥克伐，元氣虛損，惡寒發熱，肢體倦怠，飲食少思；或兼飲食勞倦，頭痛身熱，煩躁作渴，脈洪大弦虛；或微細軟弱，右關寸獨甚，亦宜用之。大凡久病，或過服克伐之劑，虧損元氣，而諸症悉具者，最宜前湯調補。若母有前症，致兒為患者，尤宜用之。</p>
<p><u>天麻防風丸</u>　治驚風，生熱喘粗，多睡驚悸，手足搐掣。</p>
<p>天麻　防風　人參（各三兩）蠍尾（去毒，半兩）甘草　硃砂　雄黃（各一錢半）牛黃（一錢）麝香（五分）殭蠶（炒，一錢半）</p>
<p>上為末，煉蜜丸，櫻桃大，硃砂為衣，每服一丸，薄荷湯下。</p>
<p>愚按：前方若因外邪所感，風痰壅盛而患急驚者，宜用此藥驅散之。若因肝脾氣虛，風痰壅盛，而患似前症，用異功散調補之。若因脾氣虛，肝木所乘，而患慢驚者，宜用異功散加薑桂溫補之。不應，急加附子。</p>
<p><u>五淋散</u>　治膀胱有熱，水道不通，或小腹腫脹者。</p>
<p>赤茯苓　赤芍藥（各五分）山梔（炒）當歸（各三分）甘草（二分）</p>
<p>上用燈心十莖，水煎服。</p>
<p>愚按：前方果因積熱壅滯，而小便不通者，宜用此藥治之。若過用寒涼，損其陽氣，而不能化生者，用四君子以滋脾肺。若稟賦足，三陰虛損而患前症者，宜用六味地黃丸加車前子，補而通之。未應，更加牛膝。最忌疏導。</p>
<p><u>消積丸</u>　治食積面黃，大便酸臭。</p>
<p>砂仁（十二個）丁香（九個）烏梅（三個）巴豆（二粒，去油，取霜）</p>
<p>上為末，糊丸，黍米大。每服二三丸，溫水下。</p>
<p>愚按：前方溫胃消導之重劑。若食積既去，而脾氣虧損，發熱作渴，肢體倦怠，飲食少思者，當參前五味異功、七味白朮二方，按法主治。</p>
<p><u>溫脾散</u>　治脾氣虛寒，口角流涎。</p>
<p>半夏曲　丁香　木香（各一兩）乾薑（炮）白朮　陳皮（各半兩）</p>
<p>上為末，每服二錢，米湯調。</p>
<p>愚按：前方溫補脾胃之良劑。若口渴飲熱，肢體倦怠而流涎者，宜用異功散加炮姜。若肢體發熱作渴，飲水而流涎者，宜用瀉黃散。</p>
<p><u>保和丸</u>　治飲食停滯，胸膈痞滿，噯氣吞酸，或吐瀉腹痛。（加白朮即大安丸）</p>
<p>神麯（炒）山楂　半夏　茯苓（各一兩）陳皮　連翹　蘿蔔子（炒，各五錢）</p>
<p>上為末，粥丸，桐子大。每服二三十丸，白湯送下。</p>
<p>愚按：前方行氣克滯之劑。若元氣無虧，暴停乳食，而致斯症者，宜用此消導之。若元氣虛弱，而乳食所傷者，必調補胃氣為主，而佐以消導。若乳食已消而作嘔者，乃胃氣被傷，當用異功散補之。不宜仍用前藥，重損胃氣。治者審之。</p>
<p><u>助胃膏</u>　治脾胃虛寒，吐瀉等症。</p>
<p>人參　白朮（炒）白茯苓　甘草（炙）丁香（各五錢）砂仁（四十個）木香（三錢）白豆蔻（十四個）乾山藥（一兩）肉豆蔻（四個，煨）</p>
<p>上為末，蜜丸，芡實大。每服十丸，米飲化下。</p>
<p>愚按：前症若吐瀉酸穢，是乳食內停也，宜用保和丸以消導之。若吐瀉，乳食難化，是脾胃虛弱也，用異功散以調補之。若吐瀉少食，腹痛惡心，脾胃俱虛也，用六君子加木香以培補。若睡而露睛，手足並冷，或寒戰咬牙，脾胃虛寒也，用六君子加木香、炮姜以溫補。如不應，宜急加附子以回陽。</p>
<p><u>牛黃丸</u>　治風癇昏悶，抽搐潮熱。</p>
<p>牛黃（膽制）全蠍　蟬蛻（各二錢半）防風　白附子　天麻　殭蠶（炒，各錢半）麝香（少許）</p>
<p>上為末，煮棗肉杵丸，綠豆大。煎荊芥、生薑湯下。</p>
<p>愚按：前方兼治風痰咳嗽，喘促發熱，驚悸不寧，實祛風化痰散氣之藥。審有是症，而用之，其功效如影響也。若脾肺氣虛，而痰涎壅盛，肝脾血虛，而驚癇抽搐，必當以固本為主。不可泛用，恐虛其虛，而益其患也。治者慎之。</p>
<p><u>柴胡飲子</u>　治一切肌熱，蒸熱積熱，或汗後餘熱，即宜用柴胡飲子。</p>
<p>黃芩（炒）甘草　大黃（炒）芍藥（炒）柴胡　人參　當歸（各等分）</p>
<p>上姜水煎服。</p>
<p>愚按：前方若腸胃壅滯，大便秘結，作渴飲水，表裡實熱者用之。若汗後發熱，屬血虛，氣無所附，而浮於外，切不可用。治者審焉。</p>
<p><u>歸脾湯</u>　治脾血虧損，健忘驚悸等症。</p>
<p>人參　黃耆　茯神（去木，各一錢）甘草（炒，五分）白朮（炒，一錢）木香（五分）遠志（去心）酸棗仁（炒）龍眼肉　當歸（各一錢）</p>
<p>上水煎服。</p>
<p>愚按：前方若乳母憂思傷脾，血虛發熱，食少體倦；或脾不能攝血，以致妄行吐下；或健忘怔忡，驚悸少寐；或心脾作痛，自汗盜汗；或肢體腫痛，大便不調；或經候不準，晡熱內熱；或耳唇流注等症，致兒為患者用之，令子母俱服。</p>
<p><u>八味地黃丸</u>　即六味地黃丸加肉桂附子各一兩。</p>
<p>愚按：前方治稟賦命門火衰，不能生土，以致脾土虛寒，或飲食少思，或食而不化，臍腹疼痛，夜多漩溺等症。經云益火之源，以消陰翳，此之謂也。或乳母命門火衰，兒飲其乳，致前症者，子母並宜服之。</p>
<p><u>加減八味丸</u>　即六味地黃丸加肉桂一兩，五味子四兩。</p>
<p>愚按：前方治稟父腎陰不足，或吐瀉久病，津液虧損，口乾作渴；或口舌生瘡，兩足發熱；或痰氣上湧；或手足厥冷等症。</p>
<p><u>八寶湯</u>　即前四君、四物二湯合方也。</p>
<p>愚按：前方治氣血俱虛，陰火內熱；或因克伐之劑，脾胃虧損，肌肉消瘦等症。</p>
<p><u>十全大補湯</u>　即八寶湯加黃耆、肉桂。</p>
<p>愚按：前方治氣血弱虛，或稟賦不足，寒熱自汗，食減體瘦，發熱作渴，頭痛眩暈，最宜用之。</p>
<p><u>加味逍遙散</u>（去牡丹皮、山梔，名逍遙散）　治肝脾血虛等症。</p>
<p>當歸　甘草（炙）芍藥（酒炒）茯苓　白朮（炒）柴胡（各一錢）牡丹皮　山梔（炒，各七分）</p>
<p>上水煎服。</p>
<p>愚按：前方若乳母肝脾血虛內熱；或遍身搔癢寒熱；或肢體作痛，頭目昏重；或怔忡頰赤，口燥咽乾；或發熱盜汗，食少不寐；或口舌生瘡，耳內作痛；或胸乳腹脹，小便不利，致兒為患，尤宜用之。</p>
<p><u>九味龍膽瀉肝湯</u>　治肝經濕熱，或囊癰下疳，便毒，小便澀滯；或陰囊作痛，小便短少。（愚制）</p>
<p>龍膽草（酒炒，五分）車前子（炒）木通　當歸尾　澤瀉（各五分）甘草　黃芩（炒）生地黃　山梔（各三分）</p>
<p>上水煎服。（即龍膽瀉肝湯）</p>
<p><u>抑肝散</u>　治肝經虛熱，發搐；或發熱咬牙；或驚悸寒熱；或木乘土，而嘔吐痰涎，腹膨少食，睡臥不安。（愚制）</p>
<p>軟柴胡　甘草（各五分）川芎（八分）當歸　白朮（炒）茯苓　釣藤鉤（各二錢）</p>
<p>上水煎，子母同服。</p>
<p><u>梔子清肝散</u>（一名柴胡梔子散）　治三焦及足少陽經風熱，耳內作癢生瘡，或出水疼痛；或胸乳間作痛，寒熱往來。（愚制）</p>
<p>柴胡　梔子（炒）牡丹皮（各二錢）茯苓　川芎　芍藥　當歸　牛蒡子（炒，各七分）甘草（三分）</p>
<p>上水煎服。若太陽頭痛，加羌活。</p>
<p><u>柴胡清肝散</u>　治鬢疽，及肝膽三焦風熱怒火之症，或項胸作痛，瘡毒發熱。（愚制）</p>
<p>柴胡（一錢半）黃芩（炒）人參　川芎（各一錢）山梔（炒，一錢半）連翹　甘草（各五分）桔梗（八分）</p>
<p>上水煎服。</p>
<p><u>小柴胡湯</u>（加山梔、牡丹皮，名加味小柴胡）　治傷寒溫熱，身熱惡風，頭痛項強，四肢煩疼，往來寒熱，嘔噦痰實，中暑瘧疾，並服之。（閻注）</p>
<p>柴胡（二錢）黃芩（炒，一錢半）人參　半夏（各七分）甘草（炙，五分）</p>
<p>上姜水煎服。</p>
<p>愚按：前方若肝膽經風熱，肝火瘰癧，寒熱日晡，往來發熱，潮熱身熱，不欲飲食；或怒火，口苦耳聾，咳嗽；或脅痛胠滿，小便不利；或瀉泄，吐酸苦水；或肢體搐動，唇目抽札，並宜用之。</p>
<p><u>砭法</u>　治丹毒疔瘡，紅絲走散；或時毒，瘀血壅盛；或色赤走胤。用細磁器擊碎，取有鋒芒者，以箸劈開頭，夾之，麻線纏定，兩指輕撮箸，稍令磁芒正對患處，懸寸許，再用箸頻擊之，令毒血遇刺即出。凡毒血凝滯於外，真氣不能勝散者，急用此法以去之，否則為害甚矣。</p>
<p><u>蕪荑散</u>　治蟲動腹痛。</p>
<p>白蕪荑（炒）乾漆（炒煙盡，各等分）</p>
<p>上為末，每服三五分，發時米飲調下。</p>
<p>愚按：前症乃臟腑虛弱，或胃冷胃熱，而動往來，攻心作痛，叫哭仰身揮手，心神悶亂，吐涎沫，或清水肌瘦，沉默，皆其症也。《保生方》云：蛔蟲乃凡蟲之一，人腹中皆有之。其外症，腹上青筋，噁心吐水，面無正色，唇緩而白，目無睛光。若蟲食上部，則上唇內有白點。蟲食下部，則下唇內有白點。腹中諸蟲，朔日後其頭向上，望日後其頭向下。如急於用藥，先以肉物近兒烹炙，使聞香味，蟲頭亦向上。則藥易效。</p>
<p><u>調中丸</u>　治泄瀉青白，腹痛腸鳴，嘔吐酸水，不思乳食。</p>
<p>人參　甘草（炒）白朮（炒，各五錢）乾薑（四錢，炒）</p>
<p>上為末，薑汁麵糊丸，綠豆大。每服二三十丸，米飲下。</p>
<p>愚按：前方一名溫中丸，即人參理中丸也。若腎水侮土而虛寒旨，加半夏、茯苓、陳皮。或嘔吐，更加藿香。泄瀉加木香。</p>
<p><u>香連丸</u>　治諸痢並水瀉。</p>
<p>黃連（二十兩，淨）吳茱萸（十兩，淨）木香</p>
<p>上將前二味用熱水拌和，入磁器內，置熱湯，日同炒，黃連至紫色，去茱萸。用黃連為末，每末四兩，入木香末一兩，和勻，淡醋糊丸，黍豆大。每服二十丸，白湯下。</p>
<p><u>硃砂安神丸</u>　治心疳及怔忡，心下煩躁。</p>
<p>硃砂（四錢）黃連　生地黃（各五錢，杵膏）生甘草（二錢五分）</p>
<p>上為末，用米糊丸，黍米大。每服十丸，白湯下。</p>
<p><u>人參補肺湯</u>　治肺症，因腎水不足，虛火上炎，咳吐膿血，發熱作渴，小便不利。</p>
<p>人參　黃耆　白朮　茯苓　陳皮　當歸　山茱英肉　山藥　五味子（杵，炒）麥門冬　甘草（炒，各五分）熟地黃　牡丹皮（各一錢）</p>
<p>上作二三服，水煎。</p>
<p><u>補肝散</u>　治肝經氣虛，吐血失血；或兩脅脹滿，筋急面青，小腹脹痛；或兩目不明，不時叫喊。</p>
<p>山茱萸肉　當歸　五味子（炒，杵）山藥　黃耆（炒）川芎　木瓜（各五錢）熟地黃　白朮（各二錢）獨活　酸棗仁（炒，各一錢）</p>
<p>上為末，每服一錢，水煎。</p>
<p><u>越鞠丸</u>　治乳母六郁，傳兒為患，或胸滿吐酸，齒痛瘡疥等症。</p>
<p>蒼朮　神麯（炒）香附子　山楂　山梔（炒）撫芎　麥芽（炒，各等分）</p>
<p>上為末，水調神麯糊丸，桐子大。每服二三十丸，白滾湯下。子母並服。</p>
<p><u>麥門冬散</u>　治脾胃氣虛有熱，吐血衄血，久不愈者。</p>
<p>五味子（杵，炒，十粒）　麥門冬　黃耆（炒，各一兩）當歸　人參　生地黃（各五錢）</p>
<p>上分五服，水煎。</p>
<p><u>楊氏十全丹</u>　治丁奚哺露。（說見前十全丹下）</p>
<p>檳榔　枳殼（麩炒）青皮　陳皮　三稜（煨）蓬朮　砂仁（各一兩半）丁香（二錢半）木香（二錢）香附（一兩）</p>
<p>上為末，神麯糊丸，黍米大。每服二十丸，米飲下。</p>
<p><u>四味肥兒丸</u>（一名小肥兒丸）　治食積脾疳，目生雲翳；或兩耳出膿；或口舌生瘡，牙根腐爛，身瘦生瘡；或小便澄白，腹大筋青，一切疳症。</p>
<p>黃連（炒）蕪荑（炒）神麯　麥芽（炒，各等分）</p>
<p>上為末，水糊丸，桐子大。每服一二十丸，空心白滾湯下。</p>
<p><u>蟾蜍丸</u>　治無辜疳症。一服虛熱退，二服煩渴止，三服瀉痢愈。</p>
<p>蟾蜍（一枚，夏月溝渠中，取腹大、不跳不鳴、身多㿔者）</p>
<p>上取糞蛆一杓置桶中，以尿浸之，卻將蟾蜍跌死，投與蛆食，一晝夜。用布袋盛蛆，置急流中，一宿取出。瓦上焙乾為末，入麝香一分，粳米飯丸，麻子大。每服二三十丸，米飲下。其效如神。</p>
<p><u>柳葉散</u>　治熱毒口瘡。</p>
<p>黃柏（炒）蒲黃　青黛（真正者）人中白（煅，各等分）</p>
<p>上為末，敷之。</p>
<p><u>抱龍丸</u>　治傷風溫疫，身熱昏睡，風熱痰實壅嗽。又治驚風潮搐，及蠱毒中暑。</p>
<p>雄黃（二錢五分）辰砂（另研，五錢）天竺黃（一兩）牛膽南星（四兩）麝香（五分，另研）</p>
<p>上為末，煎甘草膏丸，芡實大。每服一丸，白湯化下。</p>
<p>愚按：前丸化痰祛邪清熱之功居多，屬肝心實熱而致者，用之殊效。若脾肺虛熱，而見昏睡痰嗽，當用寶鑑天麻散，以調補元氣。</p>
<p><u>製附子法</u></p>
<p>附子重一兩三四錢，有蓮花瓣頭，圓底平者。先備童便五六碗，將附子放在灶上，炙良久，乘熱投童便中，浸五七日。候潤透，揭去皮，切四塊，仍浸二三日。用粗紙數層包之，浸濕，埋灰火，半日取出，切片。檢有白星者，瓦上炙至無白星為度。如急用，即切大片，用童便炙二三沸，熱瓦熟，用之。</p>
