<header data-type="book">
<h1>養生類纂</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周守忠</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1220">公元1220年</data></dd></div>
<div><dt>底本</dt><dd>明成化甲午（十年，1474）錢塘知縣謝熲刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=d3d630bb67f84abf8a0b1b268cca34fefDczNzc20&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>凡有生者，不可不養，而知養之者，非明哲弗能也。周君既輯《養生月覽》，乃復有是書，其亦知重所養者乎。余因睹其大，有裨於用人，是並梓之以為有生者採焉。若夫貴心志，賤口腹，不以小害大，此又在明哲者類能之，獨予所當採者也。予何敢瑣瑣語人？顧是書條類雖多，一子輿氏，「寡欲」二字，足以蔽之矣，烏得種種泥之，予又不敢不語其要略如此。</p>
<p><u>時萬曆丙申季春望日錢塘胡文煥德父謹識</u></p>

<h1>卷上</h1>

<h2>養生部</h2>

<h3>總敘養生</h3>
<p>夫人稟二儀之氣，成四大之形，愚智貴賤，則別好養、貪生不異。貧迫者力微而不達，富貴者侮傲而難恃，性愚者未悟於全生，識智者或先於名利，自非至真之士，何能保養生之理哉？其有輕薄之倫，亦有矯情冒俗，口誦其事，行已違之。設能行者，不踰晦朔，即希長壽，此亦難矣。是以達人，知富貴之驕傲，故屈跡而下人；知名利之敗身，故割情而去欲；知酒色之傷命，故量事而樽節；知喜怒之損性，故豁情以寬心；知思慮之銷神，故損情而內守；知語煩之侵氣，故閉口而忘言；知哀樂之損壽，故抑之而不有；知情欲之竊命，故忍之而不為。若加之寒溫適時，起居有節，滋味無爽，調息有方，精氣補於泥丸，魂魄守藏，和神保氣，吐故納新，嗜欲無以干其心，邪淫不能惑其性，此則持身之上品，安有不延年者哉。（《雲笈七籤》）</p>
<p>形者，氣之聚也，氣虛則形羸。神者，精之成也，精虛則神悴。形者，人也，為萬物之最靈。神者，生也，是天地之大德。最靈者，萬物之首。大德者，為天地之宗。萬物以停育為先，天地以清淨是務。故君子養其形而愛其神，敬其人而重其生，莫不稟於自然，從於自在，不過勞其形，不妄役其神。（同上）</p>
<p>夫人只知養形，不知養神；不知愛神，只知愛身。不知形者載身之車也，神去則人死，車敗則馬奔，自然之至理也。（同上）</p>
<p>五色重而天下爽，珠玉貴而天下勞，幣帛通而天下傾。是故五色者，陷目之錐；五音者，塞耳之椎；五味者，截舌之斧。（同上）</p>
<p>譙國華佗，善養性。弟子廣陵吳普，彭城樊阿，授術於佗。倫嘗語普曰：人體欲得勞動，但不當使極耳。人身常搖動則穀氣消，血脈流通，病不生。譬猶屍樞不朽是也。（同上）</p>
<p>人所以得全生命者，以元氣屬陽，陽為榮；以血脈屬陰，陰為衛。榮衛常流，所以常生矣。亦曰榮衛。榮衛，即榮華氣脈，如樹木芳榮也。榮衛臟腑，愛護神氣，得以經營，保於生路。又云清者為榮，濁者為衛，榮行脈中，衛行脈外，晝行於身，夜行於臟，一百刻五十周，至平旦大會兩手寸關尺。陰陽相貫，常流如循其環，始終不絕。絕則人死，流則人生，故當運用調理，愛惜保重，使榮衛周流，神氣不竭，可與天地同壽矣。（《元氣論》）</p>
<p>樹衰培土，陽衰陰補，含育元氣，慎莫失度。注云無情莫若木，木至衰朽，即塵土培之，尚得再榮。又見以嫩枝接續老樹，亦得長生，卻為芳嫩。用意推理，陽衰陰補，是亦宜爾。衰陽以少陰補而不失，取其元氣津液，引於我身，即顏復童矣。童女少女，正氣未散，元和才一，遇之修煉，其功百倍，切忌自己元氣流奔也。（出《羅公遠三峰歌》）</p>
<p>人之情性，為利慾之所敗，如冰雪之曝日，草木之沾霜，皆不移時而消壞矣。冰雪以不消為體，而盛暑移其真；草木以不凋為質，而大寒奪其性。人有久視之命，而嗜欲滅其壽。若能導引盡理，則長罔極。（《保聖纂要》）</p>
<p>神者，魂也，降之於天。鬼者，魄也，經之於地。是以神能服氣，形能食味，氣清則神爽，形勞則魄濁。服氣者，綿綿而不死，身飛於天。食味者，混混而徂，形歸於地，理之自然也。（同上）</p>
<p>專精養神，不為物雜，謂之清。反神服氣，安而不動，謂之靜。制念以定志，靜身以安神，保氣以存精，思慮兼忘，冥想內視，則身神並一，身神並一，則近真矣。（《仙經》）</p>
<p>有者因無而生，形者須神則立，故有為無之宮。形者神之宅，莫不全宅以安生，修身以養神。若氣散歸空，遊魂為變。火之於燭，燭靡則火不居；水之於堤，堤壞則水不存。魂勞神散，氣竭命終矣。（同上）</p>
<p>我命在我，不在於天，但愚人不能知此道為生命之要，所以致百病。風邪者，皆由恣意極情，不知自惜，故虛損生也。譬如枯朽之木，遇風即折，將崩之岸，值水先頹，今若不能服藥，但知愛精節情，亦得一二百年壽也。（同上）</p>
<p>夫稟氣含靈，惟人為貴。人所貴者，蓋貴於生。生者，神之本，形者，神之具。神大用則竭，形大勞則死，若能遊心虛靜，息慮無為，候元氣於子候，時道引於閒室，攝養無虧，兼餌良藥，則百年嗜壽，足常分也。如恣意以耽聲色，役智而圖富貴，得喪縈於懷抱，躁橈未能自遣，不拘禮度，飲食無節，如斯之流，寧免天傷之患也？（《養生延命錄》序）</p>
<p>人生而命有長短者，非自然也，皆由將身不謹，飲食過差，淫泆無度，忤逆陰陽，魂神不守，精竭命衰，百病萌生，故不終其壽。（《養生延命錄》）</p>
<p>五穀充飢體而不能益壽，百藥療疾延年而不能甘口。充飢甘口者，俗人之所珍；苦口延年者，道士之所寶。（同上）</p>
<p>百病橫夭，多由飲食。飲食之患，過於聲色。聲色可絕之踰，雖飲食不可廢之一日，為益亦多為患。（同上）</p>
<p>體欲常勞，食欲常少，勞無過極，少無過虛。去肥濃，節鹹酸，減思慮，捐喜怒，除馳逐，慎房室，武氏行之有效。（同上）</p>
<p>人受氣雖不知方術，但養之得理，常壽一百二十歲。不得此者，皆傷之也。少復曉道，可得二百四十歲。復微加藥物，可得四百八十歲。（同上）</p>
<p>養壽之法，但莫傷之而已。夫冬溫夏涼，不失四時之和，所以適身也。重衣厚褥，體不堪苦，以致風寒之疾。厚味脯臘，醉飽厭飫，以致聚結之疾。美色妖麗，嬪妾盈房，以致虛損之禍。淫聲哀音，怡心悅耳，以致荒耽之惑。馳騁遊觀，弋獵原野，以致荒狂之失。謀得戰勝，兼弱取亂，以致驕逸之敗。蓋聖賢或失其理也，然養生之具，譬如水火不可失適，反為害耳。（同上）</p>
<p>喜怒損志，哀慼損性，榮華惑德，陰陽竭精，皆學道之大忌，仙法之所疾也。雖還精胎息，僅而補之，內虛已徹，猶非本真。（《真浩》）</p>
<p>善攝生者，臥起有四時之早晚，興居有至和之常制，筋骨有偃仰之方，閒邪有吞吐之術，流行營衛有補瀉之法，節宣勞逸有與奪之要。忍怒以養陰氣，抑喜以養陽氣，然後先將草木以救虧缺，服金丹以定不窮，養性之道盡於此矣。（《禁忌篇》）</p>
<p>食能排邪而安臟腑，神能爽志以資血氣。攝生者，氣正則味順，味順則神氣清，神氣清則合真之靈全，靈全則五邪百病不能幹也。故曰：水濁魚瘦，氣昏人病。夫神者生之本，本者生之具，大用則神勞，大勞則神疲也。（《攝生月令》）</p>
<p>食谷者，智慧聰明。食石者，肥澤不老，謂練五色食也。食芝者，延年不死。食元氣者，地不能埋，天不能殺。是故食藥者，與天地相配，日月並列。（《神農經》）</p>
<p>少不勤行，壯不競時，長而安貧，老而寡欲，閒心勞形，養生之方也。（《列子》）</p>
<p>或疑者云：始同起於無外，終受氣於陰陽，載形魄於天地，資生長於食息，則有愚、有智、有強、有弱、有壽、有夭，妖耶？人耶？解者曰，夫形生愚智天也，強弱壽夭人也，天道自然，人道自己。始而胎氣充實，生而乳食有餘，長而滋味不足，壯而聲色有節者，強而壽。始而胎氣虛耗，生而乳食不足，長而滋味有餘，壯而聲色自放者，弱而夭。生長全足，加之導養，年未可量。（《大有經》）</p>
<p>夫神者，生之本；形者，生之具也。神大用則竭，形大勞則斃，神形早衰，欲與天地長久，非所聞也。故人所以生者，神也，神之所託者，形也，神形離別則死，死者不可復生，離者不可復返，故乃聖人重之。夫養生之道，有都領大歸，未能具其會者，但思每與俗反，則闇踐勝轍，獲過半之功矣。有心之徒，可不察歟。（《太史公司馬論》）</p>
<p>世人不終，耆壽咸多。夭歿者，皆由不自愛惜。忿爭盡意，邀名射利，聚毒攻神，內傷骨髓，外乏筋肉，血氣將無，經脈便壅，內里空疏，惟招眾疾，正氣日衰，邪氣日盛矣。不異舉滄波以炷爝火，頹華岳而斷涓流，語其易也，甚於茲矣。（《名醫敘病論》）</p>
<p>晝無事者，夜不夢。張道人年百數十，甚翹壯也。云養性之道，莫久行、久坐、久臥、久聽，莫強食飲，莫大醉，莫大愁憂，莫大夜思，此所謂能中和。能中和者，必久壽也。（《慎子》）</p>
<p>人生大期，百年為限，節護之者，可至千歲，如膏之用小炷與大耳。眾人大言而我小語，眾人多煩而我少記，眾人悸暴而我不怒。不以人事累意，不修君臣之義，淡然無為，神氣自滿，以為不死之藥，天下莫我知也。無謂幽冥，天知人情；無謂闇昧，神見人形。心言小語，鬼聞人聲；犯禁滿千，地收人形。人為陽善，正人報之；人為陰善，鬼神報之。人為陽惡，正人治之；人為陰惡，鬼神治之；故天不欺人依以影，地不欺人依以響。（《養生延命錄》）</p>
<p>氣者身之根也，魚離水必死，人失道豈存？是以保生者，務修於氣；愛氣者，務保於精。精氣兩全，是名保真。（《延陵君修養大略》）</p>
<p>修身之法，保身之道，因氣養精，因精養神，神不離身乃常健。（《太上老君說內經丹》）</p>
<p>眼多視則貪資，口多言則犯難，身多動則淫賊，心多飾則奢侈，未有用此四多而天下成治者也。（《仙傳拾遺》）</p>
<p>五色令人目盲，五音令人耳聾，五味令人口爽，馳騁田獵令人心發狂，難得之貨令人行妨，是以聖人為腹不為目，故去彼取此。（《老子》）</p>
<p>道者，氣也，賓氣得道長存。秘者，精也，寶精則神明長生。精者，川脈之川流，守骨之靈神，精去則骨枯，骨枯則死矣。是以為道者，務寶其精。（《太平御覽》）</p>
<p>至道之精，窈窈冥冥。至道之極，昏昏默默。無視無聽，抱神以靜，形將自正，必靜必清，無勞汝形，無搖汝精，乃可以長生。日無所見，耳無所聞，心無所知，汝神淨守形表乃長生。（《莊子》）</p>
<p>聖人休休焉則平易矣，平易則恬淡矣，平易恬淡則憂患不能入，邪氣不能襲，故其德全而神不虧。（同上）</p>
<p>養生者忘形，養形者忘利，致道者忘心矣。（同上）</p>
<p>目欲聽色，耳欲聽聲，口欲察味，志氣欲盈人。上壽百歲，中壽八十，下壽六十。除病瘦、死喪、憂患，其中開口笑者，一月之中不過四、五日而已矣。天與地無窮，人死者有時。操有時之具，而托於無窮之間，忽然無異騏驥之馳過隙也。不能悅其志意，養其壽命者，皆非通道者也。（同上）</p>
<p>凝心虛形，內觀洞房，抱玄念神，專守真一者，則頭髮不白，禿者更須，未有以百思纏胸，寒熱，破神。營此官務，當此風塵，口言凶吉之會，身排得失之門，眾憂若是，萬慮若此，雖有真心為不篤，抱道不行，握寶不用，而自然望頭不白者，亦希聞也。（《真誥》）</p>
<p>眼者，身之鏡。耳者，體之牖。視多則鏡昏，聽眾則牖閉。面者，神之庭。發者，齒之華。心悲則面焦，腦減則發素。所以精元內喪，丹精損竭也。精者，體之神明，身之寶，勞多則精散，營竟則明消，所以老隨氣落，耄已及之。（同上）</p>
<p>虛妄者，德之病。華炫者，身之災。滯者，失之首。恥者，體之籥。遣此四難，然後始可以問道耳。（同上）</p>
<p>為道當令三關恆調，是根精固骨之道也。三關者，口為天關，足為地關，手為人關，謂之三關。三關調，則五臟安，五臟安，則舉身無病。（同上）</p>
<p>夫可久於其道者，養生也。常可與久遊者，納氣也。氣全則生存，然後能養至。養至則合真，然後能久登。生氣之二域，望養存之寂寂，萬物玄黃，盡假寄耳，豈可不勤之哉。氣全則闢鬼邪，養生則闢百害，入軍不逢甲兵，山行不觸虎兕，此之謂矣。（同上）</p>
<p>衰年體羸，多為風寒所乘。當深頤養，晏此無事。上味玄元，棲守絳津。體寂至達，心研內觀，屏波方累，蕩濯他念，乃始近其門戶耳。苦憂累多端，人事未省，雖復憩靈空洞，存心淡泊纏綿，亦弗能達也。漁陽田豫曰：人以老馳車輪者，譬猶鍾鳴漏盡，而夜行不休，是罪人也。以此喻老嗜好行，來屑屑與年少為黨耳。若今能誓不復行者，則立愈矣。如其不爾，則疢與年階，可與心共議耶？（同上）</p>
<p>《禮》年七十懸車。懸車者，以年薄虞淵，如日之亥，體氣就損，神候方落，不可復勞形軀於風塵，役方寸於外物矣。（同上）</p>
<p>夫學道，唯欲默然養神，閉氣使極，吐氣使微，又不得言語。大呼喚令人神氣勞損，如此以學，皆非養生也。（同上）</p>
<p>夫學生之道，當先治病，不使休有虛邪及血少腦減，津液穢滯也。不先治病，雖服食行氣，無益於身。（同上）</p>
<p>心欲安靜，慮欲深遠。心安靜則神策生，慮深遠則計謀成。心不欲躁，慮不欲淺。心躁則精神滑，慮淺則百事傾。</p>
<p>全汝形，抱汝生，無使汝思慮營營，若比緒年，或可以及此言出。亢倉子注云，營營，運動不息也，緒，終也。全形抱生，不運思慮，虛心冥寂，道自居之。若此年可及此言也。</p>
<p>水之性清，吐者扣之，故不得清人之性。壽物者扣之，故不得壽，扣亂也。人性壽者，為外物所亂，使不終天年，物也者，所以養性也。今代之盛者，多以性養物，則不知輕重也。是故聖人之於聲色滋味也，利於性則聖之，害於性則捐之，此全性之道也。（同上）</p>
<p>導筋骨則形全，剪情欲則神全，靖言語則福全。（同上）</p>
<p>夫香美脆味，厚酒肥肉，甘口而疾形，曼理皓齒，悅情而損精。故云，泰甚去泰，身乃無害。（《韓非子》）</p>
<p>水之性欲清，沙石穢之。人之性欲平，嗜欲害之。唯聖人能遺物反已。（《文子》）</p>
<p>夫喜怒者道之衰也，憂悲者德之失也，好憎者心之過也，嗜欲生之累也。人大怒破陰，大喜墜陽，薄氣發暗，驚怖為狂，憂悲焦心，疲乃成疾。人能除此五者，即合於神明。神明者得其內，得其內者五臟寧，思慮平，耳目聰明，筋骨勁強。（同上）</p>
<p>學道之人，聊且均調喜怒之情。雖有喜，勿至蕩動湛然之性；雖有怒，勿至結滯浩然之氣。（《耄智余書》）</p>
<p>遣妄情如刀之伐樹，非一斧可倒；求真理如食之充腸，非一口可飽。修道積功，大率如此。（同上）</p>
<p>灌園所以養蔬也，驅禽所以養果也。養生之士，豈不如養蔬、養果之人乎？較其理之輕重何如哉？（同上）</p>
<p>養生大要：一曰嗇神，二曰愛氣，三曰養形，四曰導引，五曰言語，六曰飲食，七曰房室，八曰反俗，九曰醫藥，十曰禁忌。過此以往，義可略焉。（《養生集》序）</p>
<p>人不欲使樂，樂人不壽。但當莫強為力所不任，舉重引強，掘地苦作，倦而不息，以致筋骨疲竭耳。然勞苦勝於逸樂也。能從朝至暮，常有所為，使之不息乃快。但覺極當息，息復為之，此與導引無異也。夫流水不腐，戶樞不朽者，以其勞動數故也。飽食不用坐與臥，欲得行步，務作以散之，不爾使人得積聚不消之疾及手足痹蹶、面目黧皺，必損年壽也。（《養生延命錄》）</p>
<p>先除欲以養情，後禁食以存命。是知食胎氣，飲靈元，不死之道，返童還年，此蓋聖人之所重也。（《太清中黃真經》）</p>
<p>我命在我，保精愛氣，壽無極也。（仙經）</p>
<p>無勞爾形，無搖爾精，歸心靜默，可以長生。（同上）</p>
<p>一陰一陽謂之道，三元二合謂之丹，溯流補腦謂之還，精化為氣謂之轉。一轉一易一益，每轉延一紀之壽，九轉延一百八歲。（同上）</p>
<p>陰陽之道，精液為寶，謹而守之，後天而老。（同上）</p>
<p>子欲長生，當由所生之門遊處得中，進退得所，動靜以法，去留以度，可以延命而愈疾矣。（同上）</p>
<p>以金理金，是為真金。以人理人，是為真人。人常失道，非道失人。人常去生，非生去人。要常養神，勿失生道，長使道與生相保，神與生相保，則形神俱失矣。（同上）</p>
<p>故性命之限，誠有極也。嗜欲之性，固無窮也。以有極之性命，逐無窮之嗜欲，亦自斃之而已矣。（《元氣論》）</p>
<p>德之形為車，道以氣為馬，魂以精為根，魄以氣為戶。形勞則德散，氣越則道叛，精銷魂散，氣勤魄微。是以靜形愛氣，全精寶視，道德凝密，魂魄固守。（《雲笈七籤》）天長生久視，未有不愛精保氣，能致之陰丹。內御之道，世莫得知，雖務於氣，而不解絕情欲，亦未免殃矣。（《切真先生服內元氣訣法》）</p>
<p>天地以生成為德。有生所甚重者，身也，身以安樂為本。安樂所以致者，以保養為本，世之人必本其本，則本必固。本既固，疾病何由而生，夭橫何由而至，此攝生之道，無逮於此。夫草木無知，猶假灌溉。矧人為萬物之靈，豈不資以保養？然保養之義，其理萬計，約而言之，其術有三，一養神，二惜氣，三堤疾。忘情去智，恬惔虛無，離事全真，內外無寄。如是則神不內耗，境不外惑，真一不雜，神自寧矣，此養神也。抱一元之本根，固歸真之精氣，三焦定位，六賊忘形，識界既空，大同斯契，則氣自定矣，此惜氣也。飲食適時，溫涼合度，出處無犯於八邪，寤寐不可以勉強，則身自安矣，此堤疾也。三者甚易行，然人自以謂難行而不肯行，如此雖有長生之法，人罕敦尚，遂至永謝。是以疾病交攻，天和頓失，聖人憫之。（《本草衍義》）</p>
<p>夫安樂之道，在能保養者得之。況招來和氣之藥少，攻決之藥多，不可不察也。是知人之生，須假保養，無犯和氣，以資生命。才失將護，便至病生，苟或處治，乖方旋見。顛越防患，須在閒日。故曰：安不忘危，存不忘亡，此聖人之預戒也。（同上）</p>
<p>攝養之道，莫若守中，守中則無過與不及之害。經曰：春秋冬夏，四時陰陽，生病起於過用。蓋不適其性而強云為，逐強處即病生。五臟受氣，蓋有常分，用之過耗，是以病生。善養生者，既無過耗之弊，又能保守真元，何患乎外邪所中也？故善服藥，不若善保養；不善保養，不若善服藥。世有不善保養，又不善服藥，倉卒病生，而歸咎於神天。噫！是亦未常思也，可不謹歟。（同上）</p>
<p>夫未聞道者，放逸其心，逆放生樂，以精神徇智巧，以憂畏徇得失，以勞苦徇禮節，以身世徇財利，四徇不置心，為之病矣！極力勞形，躁暴氣逆，當風縱酒，食嗜辛鹹，肝為之病矣。飲食生冷，溫涼失度，久坐久臥，大飽大飢，脾為病矣。呼叫過常，辯爭陪答，冒犯寒暄，恣食鹹苦，肺為之病矣。久坐濕地，強力入水，縱欲勞形，三田漏溢，腎為之病矣。五病既作，故未老而羸，未羸而病，病至則重，重則必斃。嗚呼！是皆弗思而自取之也。衛生之士，須謹此五者，可致終身無苦。經曰：不治已病治未病。正為此矣。（同上）</p>
<p>夫善養生者養內，不善養生者養外。養外者，實外以充快，悅澤貪欲，恣情為務，殊不知外實則內虛也。善養內者，實內使臟腑安和，三焦各守其位，飲食常適其宜。故莊周曰：人之可畏者，衽席飲食之間，而不知為之戒者過也。若能常如是畏謹，疾病何緣而起？壽考焉得不長？賢者造形而悟，愚者臨病不知，誠可畏也。（同上）</p>
<p>夫人之生，以氣血為本，人之病未有不先傷其氣血者。世有童男童女，積想在心，思慮過當，多致勞損。男則神色先散，女則月水先閉。何以致然？蓋愁憂思慮則傷心，心傷則血逆竭，血逆竭故神色先散，而月水先閉也。火既受病，不能榮養其子，故不嗜食。脾既虛則金氣虧，故發嗽。嗽既作水氣絕，故血肢干。木氣不充，故多怒，鬢髮焦，筋痿矣。五臟傳遍，故卒不能死，然後死矣。（同上）</p>
<p>黃帝問岐伯曰：余聞上古之人，春秋皆度百歲而動作不衰。今時之人，年至半百，而動作皆衰者，時世異耶？人將失之也？岐伯對曰：上古之人，其知道者，法於陰陽，和於術數。食飲有節，起居有常，不妄作勞，故能形與神俱，而盡終其天年，度百歲乃去。今時之人不然也。以酒為漿，以妄為常，醉以入房，以欲竭其精，以耗散其真。不知持滿，不時御神，務快其心，逆於生樂，起居無節，故半百而衰也。（《黃帝素問》）</p>
<p>大有四時五行，以生長收藏，以生寒暑燥濕風。人有五藏，化為五氣，以生喜怒悲憂恐。故喜怒傷氣，寒暑傷形，暴怒傷陰，暴喜傷陽，厥氣上行，滿脈去形，喜怒不節，寒暑過度，生乃不固。故重陰必陽，重陽必陰。故曰：冬傷於寒，春必病溫；春傷於風，夏必洩泄；夏傷於暑，秋必病瘧；秋傷於溫，冬必咳嗽。（同上）</p>
<p>王充年漸七十，乃作養生之書凡十六篇。養氣自守，閉明塞聰，愛精自補，服藥導引，庶幾獲道。（《會稽典錄》）</p>
<p>太上養神，其次養形，神清意平，百節皆寧，養生之本也。肥肌膚，充腹腸，開嗜欲，養生之末也。（《文子》）</p>
<p>神不注於外則身全，全之謂得。得者，得身也。（《韓非子》）</p>
<p>凡生之長也，順之也，使生。不順者，欲也，故聖人必先適欲，適節也。室大則多陰，臺高則多陽。多陰則蹶，多陽則痿。蹶者逆寒疾也，痿闢不能行，此陰陽不適之患也。是故先生不處大室，不為高臺，味不眾珍。春不輝熱則理塞，脈則閉結。理塞則氣不達，味眾珍則胃充，胃充則中大鞔，中大鞔則氣不達。以此求長生，其可得乎？（《呂氏春秋》）</p>
<p>天生陰陽，寒暑燥濕，四時之化，萬物之變。莫不為利，莫不為害，聖人察之，以便生故。精神安乎形而年壽長焉。長也者，非短而續之者也，畢其數也。畢數之務，在去乎害。何謂去害？大甘、大酸、大苦、大辛、大咸，五者充形，則生害矣。大喜、大怒、大憂、大恐、大哀，五者接神，則生害矣。大寒、大熱、大燥、大濕、大風、大霧，六者動精，則生害矣。諸言大者，皆謂過制。故凡養生，莫若知本，則疾無由至矣。（同上）</p>
<p>勞者，勞於神氣。傷者，傷於形容。飢飽過度則傷脾，思慮過度則傷心，色欲過度則傷腎，起居過常則傷肝，喜怒悲愁過度則傷肺。又風寒暑濕則傷於外，飢飽勞役則敗於內。晝感之則病榮，夜感之則病衛。經行內外交運而各從其晝夜，始勞於一，一起為二，傳於三，三通於四，四干其五，五復犯一。一至於五，邪乃深藏，真氣因失，使人肌肉消，神氣弱，飲食減，行步難。及其如此，則雖有命，亦不能生也。（《華佗中藏經》）</p>
<p>夫人稟天地陰陽而生者。蓋天有六氣，人有三陰三陽，而上奉之。地有五行，人有五臟五腑，而下應之。於是資生皮肉、筋骨、精髓、血脈、四肢、九竊、毛髮、齒牙、唇舌，總而成體。外則氣血循環，流注經絡，喜傷六淫。內則精、神、魂、魄、志、意、思，喜傷七情。六淫者，寒暑燥濕風熱是，七情者，喜怒愛思悲恐驚。若持護得宜，怡然安泰。役冒非理，百疴生焉。（《三因極一方論》）</p>
<p>物之最靈，惟其人也。身者，乃神化之本精於人也，若水浮航；氣於人也，如風揚塵；神於人也，似野馬聚空。水涸則航止，風息則塵靜，野馬散而大空長有。精能固物，氣能盛物，精氣神三者，心可不動其變化也。外忘其形，內養其神，是謂登真之路。嗜欲縱乎心，孰能久去？哀樂傷乎志，孰能久忘？思慮役乎神，孰能久無？利祿勞乎身，孰能久舍？五味敗乎精，孰能久節？酒醴亂乎情，孰能久絕？食佳餚，飲旨酒，顧以姝麗，聽以淫聲，精氣強而反禍於身，耳目快而致亂於神，有百端之敗道，夫一芥而希真，安有養身之驗耳？夫學道者，外則意不逐物移，內則意不隨心亂，湛然保於虛寂，造乎清淨之域。譬如起屋之勞，假一息之形氣，尚蘇神歸其清，而況契於道，保真丹所哉。（《崔真人天元入藥鏡》）</p>
<p>彭祖曰：養壽之道，但莫傷之而已。夫冬溫夏涼，不失四時之和，所以適身也。美色淑姿，幽閒娛樂，不致思欲之惑，所以通神也。車服威儀，知足無求，所以一志也。八音五色，以悅視聽，所以導心也。凡此皆以養壽，而不能斟酌之者，反以速患。古之聖人，恐下才之子，不識事宜，流遁不還，故絕其源。故有上士別床，中士異被，服藥百劑，不如獨臥。五音使人耳聾，五味令人口爽，苟能節宣其宜適、抑揚其通塞者不減年算而得其益。凡此之類，譬猶水火，用之過當，反為害也。不知其經脈損傷，血氣不足，內理空疏，髓腦不實，體已先病，故為外物所犯，因風寒酒色，以發之耳。若本充實，豈有病也？夫遠思強記傷人，汲汲所願傷人，陰陽不順傷人，有所傷者甚眾，而獨戒於房中，豈不惑哉？男女相成，猶天地相生也，所有導養神氣，使人不識其和，天地得交接之道，故無終竟之限。人失交接之道，故有殘傷之期。能避眾傷之事，得陰陽之術，則不死之道也。天地晝分而夜合，一歲三百六十交，而精氣和合，故能生產萬物而不窮。人能則之可以長存。次有服氣，得其道則邪氣不得入。治身之本，要其餘吐納、導引之術。及念體中萬神有含影守形之事，皆非真道。人能愛精養體，服氣煉形，則萬神自守其真。不然者，則榮衛枯悴，萬神目逝，非思念所留者也。（《神仙傳》）</p>
<p>上元夫人謂漢武帝曰：汝好道乎，勤而不獲，實有由也。汝胎性暴、胎性淫、胎性奢、胎性酷、胎性賊。暴則使氣奔而攻神，是故神擾而竭。淫則談精漏而魂疲，是故精竭而魂消。奢則使真雜而魄穢，是故命逝而靈臭。酷則使喪仁而攻目，是故失仁而眼亂。賊則使心鬥而口乾，是故內戰而外絕。此五事皆是截身之刀鋸，刳命之斧斤矣。雖復志好長生，不能遣滋五難，亦何為損性而自勞乎。去諸淫，養汝神，放諸奢，處至儉勤，齋戒，節飲食，絕五穀，去臭腥，鳴天鼓，飲玉漿，蕩華池，叩金梁，按而行之，當有冀耳。（《漢武內傳》）</p>
<p>夫道者，藏精於內，棲神於心，靜漠恬淡，悅穆胸中，廓然無形，寂然無聲。（《文子》）</p>
<p>靜漠恬淡，所以養生也。和愉虛無，所以據德也。外不亂內，即性得其宜靜不動，和即德安其位。養生以經世，抱德以終年，可謂能體道矣。（同上）</p>
<p>能尊主，雖富貴不以養傷身，雖貧賤不以利累形。（同上）</p>
<p>神養於氣，氣會於神，神氣不散，是謂修真。（《三茅真君訣》）</p>
<p>喜怒損性，哀樂傷神。性損則害生，故養性以全氣，保神以安身。氣全體平，心安神逸，此全生之訣也。（《元始太玄經》）</p>
<p>晉道成，自號崇真子，其論長生、養性之旨曰：其要在於存三抱一。三者，精氣神，其名曰三寶。抱元者，抱守元陽真氣也。守一，神靈也。神在心，心有性，屬陽，是為南方丙丁之火也。腎者，能生元陽為真氣。其泄為精，是為北方壬癸之水。水為命，命繫於陰也。此之謂性命焉。三一之道，在於存想，入下丹田，抱守元陽，踰三五年，自然神定氣和。神既定，則釋其四大，而無執焉。坦然修頤，其真功滿行畢，其道成矣。（《集仙傳》）</p>
<p>元牡既立，猶爪有蒂，暗注母氣，母呼即呼，母吸即吸，綿綿十月，氣足形圓。心是氣之主，氣是形之根，形是氣之宅，神是形之真。神用氣養，氣因神住，神行則氣行，神住則氣住，此經要妙之義也。（《達摩胎息經》）</p>
<p>藥各有性，人參久猶有毒，藥不可服也。人之身自有真藥，但患不能調攝耳。（集仙傳）</p>
<p>陽精魂立，陰精魄成，兩精相傳，而成神明。神以形用，形以神生，神去則形斃。神可全，形可延，神以道全，形以術延耳。（同上）</p>
<p>骨肉以精血為根，靈識以元氣為本，神氣乃性命之本也。神為氣之子，氣為神之母，子母不可以斯須離也。元氣湛然，止於丹田，則變化成矣。神能御氣，氣能留形。出息微微，入息綿綿，深根固蒂，長生久視之道也。故曰天門長開，地戶密閉，呼至於根，吸徹於蒂。子謂之神，丹謂之氣，如雞抱卵，如魚生水，法就聖胎，自然蟬蛻。（同上）</p>
<p>水丘子曰：人四大假合，雜乎芒芴之間。變而有氣，氣變而有形，形以心為君，心者神之所舍也。神從志，無志則從，意志致一之謂精。唯天下至精，能合天下至神，精與神一而不離，則變化在我矣，此長生久視之道也。顧不可以心湊泊焉，但情不附物，物自不能凝耳。（同上）</p>
<p>煉精者，煉元精，非淫泆所感之精。煉氣者，煉元氣，非口鼻呼吸之氣。煉神者，煉元神，非心意念慮之神。故此神氣精者，與天地同其根，與萬物同其體，得之則生，失之則死。以陽火煉之，則化成陽氣。以陰符養之，則化成陰精。故曰：見之不可用，用之不可見。（《君仙珠玉》）</p>
<p>發宜多梳，齒宜多叩，液宜常咽，氣宜精煉，手宜在面，此五者所謂子欲不死，修崑崙耳。（《黃庭內景》）</p>
<p>養耳力者常飽，養目力者常瞑，養臂指者常屈伸，養股趾者常步履。（《褚氏遺書》）</p>
<p>精者神之本，氣者神之主，形者氣之宅，故神大用則竭，精大用則竭，氣大勞則絕。是以人之生者，神也，形之託者，氣也，若氣衰則神耗，而欲長生者未之聞也。夫有者因無而生焉，形須神而立焉，有者無之館也，形者神之宅也。倘不全宅，以安生修身以養神，則不免氣散歸空，遊魂為變。仿之於燭，燭虛則火不居焉；譬之於堤，堤壞則水不存矣。身勞則神散，氣勞則命終，形疲則神斃，神斃則精靈遊矣。已逝者無返期，既朽者無生理。故神者魂也，魄者陰也，神能復氣，形能食味。氣清則神爽，形勞則氣濁。服氣者千百不死，故身飛於天。食谷者千百皆死，故形歸於地。人之死也，魂飛於天，魄落於泉，水火分散，各歸本源，生則同體，死則相捐，飛沉各異，稟之自然。何者？譬如根之木，以火焚之，煙則上升，灰則下沉，亦自然之理也。夫神明者，生死之本也。精氣者，萬物之體也。全其形則生，養其精氣神，則性命長生矣。（《保神氣精論》）</p>
<p>一人之身，一國之象，胸臆之設，猶宮室也。支體之位猶郊境也，骨節之分猶百川也，腠理之間猶四衢也，神猶君也，血猶臣也，氣猶民也，故志人能理其身，亦猶明君能治其國。夫愛其民，所以安其國，愛其氣，所以全其身。民弊即國亡，氣衰即身謝。是以志人上士，當施醫於未病之間，不追修於既敗之後。故知國難保而易喪，氣難清而易濁，審機權中以安社稷，制嗜欲可以保性命。若能攝生者當先除六害，然後可以延駐。何名六害？一曰薄名利，二曰禁聲色，三曰廉貨財，四曰損滋味，五曰屏虛妄，六曰除嫉妒。六者若存，則養生之道徒設耳，蓋未見其有益也。雖心希妙理，口唸真經，咀嚼英華，呼吸景象，不能補其促矣。誠者所以保和全真，當少思、少念、少笑、少言、少喜、少怒、少樂、少愁、少惡、少好、少事、少機。夫多思則神散，多念則心勞，多笑則臟腑上翻，多言則氣海虛脫，多喜則膀胱納客風，多怒則腠理奔浮血，多樂則心神邪蕩，多愁則頭面焦枯，多好則志氣潰溢，多惡則精爽奔騰，多事則筋脈乾急，多機則智慮沉迷。茲乃伐人之生，甚於斤斧；蝕人之性，猛於豺狼。無久行，無久坐，無久立，無久臥，無久視，無久聽。不飢強食則脾勞，不渴強飲則胃脹。體欲少勞，食欲常少，勞則勿過，少勿令虛。冬則朝勿虛，夏則夜勿飽，早起不在雞鳴前，晚起不過日出後。心內澄則真人守其位，氣內定則邪物去其身。行欺詐則神悲，行爭競則神沮，輕侮於人當減算，殺害於物必傷年。行一善則魂神歡，構一惡則魄神喜，魂神欲人生，魄神欲人死。常欲寬泰自居，恬淡自守，則神形安靜，災病不生。仙錄必書其名，死籍必消其咎，養生之理盡在此矣。至於煉瓊丹而補腦，化金液以留神，此上真之妙道，非食谷啖血越分而修之。萬人之中，得者殊少，深可誡焉。（出《老子養生要訣》）</p>
<p>養生有五難：名利不滅此一難也，喜怒不除此二難也，聲色不去此三難也，滋味不絕此四難也，神慮精散此五難也。五者必存，雖心希難老，口誦至言，咀嚼英華，呼吸太陽，不能不夭其年也。五者於無胸中，則信順日深，玄德日全，不祈喜而自福，不求壽而自延，此養生大理所歸也。（《嵇康養生論》）</p>
<p>聖人一度循軌，不變其宜，不易其常，放准修繩，曲因其當。夫喜怒者，道之邪也。憂悲者，德之失也。好憎者，心之過也。嗜欲者，性之累也。人大怒傷陰，大喜墜陽，薄氣發暗，驚怖為狂。憂悲多患，痛乃成積，好憎繁多，禍乃相隨。故心不憂，樂德之至也；通而不變，靜之至也；嗜欲不載，虛之至也；無所愛憎，平之至也；不與物散，粹之至也。能此五者，則通於神明。通於神明者，得其內者也。（《淮南子》）</p>
<p>夫孔竅者，精神之戶牖也。而氣志者，五臟之使佐也。耳目淫於聲色之樂，則五臟搖動而不定也。五臟搖動而不定，則血氣滔蕩而不休。血氣滔蕩而不休，則精神馳騁於外而不守矣。精神馳騁於外而不守，則禍福之至雖如丘山，無由識之矣。使耳目精明玄達而無誘慕，氣志虛靜恬愉而省嗜欲，五臟定寧充盈而不泄，精神內守形骸而不外越，則望於往世之前，而視於來事之後，猶未足為也，豈有禍福之間哉。故曰：其出彌遠，其知彌少，以言夫精神之不可使外淫也。故五色亂目，使目不明；五聲譁耳，使耳不聰；五味亂口，使口爽傷；趣舍滑心，使行飛揚，此四者天下之所養，性也，然皆人累也。故曰：嗜欲者，使人之氣越，而好憎者，使人之心勞，弗疾去則志氣日耗。夫人之所以不能終其壽命，而中道夭於刑戮者，何也？以其生生之厚，夫惟能無以生為者，則所以修得生也。（同上）</p>
<p>夫悲樂者，德之邪也，而喜怒者，道之過也，好憎者，心之暴也。故曰其生也夭行，其死也物化，靜則與陰俱閉，動則與陽俱開，精神澹然無極，不與物散，而天下自服。故心者形之主也，而神者心之寶也，形勞而不依則蹶，精用而不已則竭。是故聖人，貴而尊之，不敢越也。（同上）</p>
<p>君子行正氣，小人行邪氣，內便於性，外合於義，修理而動，不繫於物者，正氣也。推於滋味，淫於聲色，發於喜怒，不顧後患者，邪氣也。邪與正相傷，欲與性相害，不可兩立，一植一廢，故聖人損欲而從事於性。（同上）</p>
<p>凡治身養性，節寢處，適飲食，和喜怒，便動靜。內在已者得而邪氣日而不生，豈若憂癡疵之與痤疽之發，而預備之哉？（同上）</p>
<p>凡夫之徒，不知益之為益，乃又不知損之為損也。夫損易知而速焉，益難知而遲焉，而尚不寤其易，亦安能識其難哉？夫損之者，如燈火之消脂，莫之見也，而忽盡矣。益者，如禾苗之播殖，莫之覺也，而忽茂矣。故治身養性，務謹其細，不可以小益為不平而不修，不可以小損為無傷而不防，凡聚小所以就大，損一所以致億也。若能愛於微，成之於著者，則當乎知道矣。（《抱朴子》）</p>
<p>養生以不傷為本，此要言也。且才所不逮而困思之傷也，力所不勝而強舉之傷也，悲哀憔悴傷也，喜樂過差傷也，汲汲所欲傷也，慼慼所患傷也，久談言笑傷也，寢息失時傷也，挽弓引弩傷也，沉醉嘔吐傷也，飽食即臥傷也，跳走喘之傷也，歡呼哭泣傷也，陰陽不交傷也，積傷至盡則早亡，早亡非道也。是以養性之方，唾不及遠，行不疾步，耳不極聽，目不及視，坐不至久，臥不及疲，先寒而衣，先熱而解。不欲極飢而食，食不可過飽；不欲極渴而飲，飲不可過多。凡食多則結積聚，飲過則成痰癖也。不欲甚勞甚逸，不欲起晚，不欲汗流，不欲多睡，不欲奔車走馬，不欲極目遠望，不欲多啖生冷，不欲飲酒當風，不欲數數沐浴，不欲廣志遠願，不欲規造異巧。冬不欲極溫，夏不欲窮涼。不欲露臥星下，不欲眠中見扇，大寒、大熱、大風、大霧皆不欲冒之。五味入口，不欲偏多，故酸多傷脾，苦多傷肺，辛多傷肝，咸多傷心，甘多傷腎，此五行自然之理也。凡言毓者，亦不便覺也，謂久則損壽耳。（同上）</p>
<p>古之知道者，築壘以防邪，疏源以硫真。深居靜處，不為物攖，動息出入，而與神氣俱，魂魄守戒，謹窒其允，專一不分，真氣乃存。上下灌注，氣乃流通，如水之流，如日月之行而不休。陰營其臟，陽固其腑。流源泏泏，滿而不溢，沖而不盈，夫長之謂久生。（《日華子》）</p>
<p>里語有之：人在世間，日失一日，如牽牛羊以詣屠所，每進一步而去死轉近。此譬雖醜，而實理也。達人所以不愁死者，非不欲求，亦固不知所以免死之術，而空自煎愁，無益於事。故云：樂天知命，故不憂耳，非不欲久生也。且夫深入九泉之下，長夜罔極，始為螻蟻之糧，終與塵壤合體，令怛然心熱，不覺咄嗟。若心有求生之志，何可不審，置不急之事，以修玄妙之業哉？（《抱朴子》）</p>
<p>世人不察，惟五穀是嗜，聲色是耽。目惑玄黃，耳務淫哇，滋味煎其腑臟，體醪煮其腸胃，香芬腐其骨髓，喜怒悖其正氣，思慮消其精神，哀樂殃其平粹。夫以蕞爾之軀，攻之者非一途，易竭之身，而由外受敵身，非木石其能久乎。（《嵇康養生論》）</p>
<p>大凡著生，先調元氣。身有四氣，人多不明。四氣之中，各主生死。一曰乾元之氣，化為精，精反為氣，精者連於神，精益則神明，精固則神暢，神暢則生健。若精散則神疲，精竭則神去，神去則死。二曰坤元之氣，化為血，血復為氣，氣血者通於內，血壯則體豐，血固則顏盛，顏盛則生合。若血衰則發變，血敗則腦空，腦空則死。三曰庶氣，庶氣者一元交氣。氣化為津，津復為氣，氣運於生，生托於氣，陰陽動息，滋潤形骸，氣通則生，氣乏則死。四曰眾氣，眾氣者穀氣也。谷濟於生，終誤於命，食穀氣雖生，蘊穀氣還死。精能附血，氣能附生，當使循環，即身永固。乾元之陽，陽居陰位，臍下氣海是也。坤元之陰，陰居陽位，腦中血海是也。生者屬陽，陽貫五臟，喘息之氣是也。死者屬陰，陰納五味，穢惡之氣是也。氣海之氣，以壯精神，以填骨髓。血海之氣，以補肌膚，以流血脈。喘息之氣，以通六腑，以扶四肢。穢惡之氣，以亂身神，以腐五臟。（《普生論》）</p>
<p>形者生之氣也，心者形之主也，神者心之寶也。故神靜而心和，心和而形全。神躁則心蕩，心蕩則形傷。將全其形，先在理神。故恬和養神，則自安於內；清虛淒心，則不誘於外。神恬心清，則形無累矣。虛室生白，人心若空，虛則純白不濁，吉祥至矣。人不照於昧金而照於瑩鏡者，以瑩能明也；不鑑於流波而鑑於靜水者，以靜能清也。鏡水以清明之性，故能形物之形。由此觀之，神照則垢滅，形靜而神清。垢滅則內欲永盡，神清則外累不入。今清歌奏而心樂，悲聲發而心哀。夫七竅者，精神之戶牖也。志氣者，五臟之使候也。耳目誘於聲色，鼻口之於芳味，四體之於安適，其情一也，則精神馳騖而不守。志氣繫於趣，舍則五臟滔蕩而不安。嗜欲之歸於外，心腑壅塞於內，曼衍於荒淫之波，留連於是非之境，而不敗德傷生者，蓋亦寡矣！是以聖人清目而不視，聰耳而不聽，閉口而不言，棄心而不慮，貴身而忘賤。故尊勢不能動，樂道而忘貧；故厚利不能傾，容身以怡情。而遊一氣，浩然純白於衷，故形不養而神自全，心不勞而道自至也。（《劉子》）</p>
<p>身之有欲，如樹之有蠍，樹抱蠍則還自鑿，人抱欲而反自害。故蠍盛則木折，欲熾而身亡，將收情欲，先斂五關。五關者，情欲之路，嗜欲之府也。目愛彩色，命曰伐性之斤。耳樂淫聲，命曰攻心之鼓。口貪滋味，命曰腐腸之藥。鼻悅芳馨，命曰熏喉之煙。身安舉駟，命曰召蹶之機。此五者所以養生，亦以傷生。耳目之於聲色，鼻口之於芳味，肌體之於安適，其情也然。亦以之死，亦以之生，或為賢智，或為癡愚，由於處之異也。（同上）</p>

<h2>天文部</h2>

<h3>天</h3>
<p>勿指天地，以證鄙懷。（《太上感應篇》）</p>
<p>勿怨天。（同上）</p>

<h3>日月</h3>
<p>勿怒目視日月，令人失明。（《千金要方》）</p>
<p>久視日月，令人損目。（《瑣碎錄》）</p>
<p>勿輒指三光，久視日月。（《感應篇》）</p>
<p>日月當前莫作湤。（《袁天罡陰陽禁忌歷》）</p>
<p>凡行坐立，勿背日吉。（《千金要方》）</p>
<p>對三光濡溺，則折人年壽。（《西山記》）</p>
<p>對月貪歡成疾。（《華佗中藏經》）</p>
<p>凡小兒勿令指月，兩耳後生瘡欲斷，名月食瘡，掏蝦蟆末敷即差。（《雲笈七籤》）</p>

<h3>星</h3>
<p>久視星辰，令人損目。（《瑣碎錄》）</p>
<p>勿唾流星。（《感應篇》）</p>
<p>夜觀星斗，認取北斗中星者，則一生無眼疾也。（《瑣碎錄》）</p>
<p>俗傳識大人星，不患瘧。（同上）</p>

<h3>雲漢</h3>
<p>久視雲漢，令人損目。（《瑣碎錄》）</p>

<h3>風雨</h3>
<p>大風大雨不可出入。（《瑣碎錄》）</p>
<p>當風取涼，冒雨而行，成疾。（《華陀中藏經》）</p>
<p>凡在家，凡外行，卒逢大飄風暴雨，皆是諸龍鬼神行動經過所致。宜入室閉戶，燒香靜坐，安心以避之，待過後乃出，不爾損人。或當時雖未若，於後不佳矣。（《千金要方》）</p>
<p>勿訶風罵雨。（《感應篇》）</p>
<p>梅雨水洗瘡疥滅瘢，入醬令易熱，沾衣便腐，以梅葉湯洗之則脫。（《本草》）</p>

<h3>虹霓</h3>
<p>勿指虹霓。（《感應篇》）</p>
<p>螮蝀在東莫之敢指。（《毛詩》）</p>

<h3>霧</h3>
<p>王爾、張衡、馬均者，昔俱冒霧行，一人無恙，一人病，一人死。無恙者飲酒，病者食，死者空腹。（《博物志》）</p>
<p>且行大霧中，宜飲酒，酒勢辟惡也。（《本草》）</p>
<p>陰霧中不可遠行。（《千金要方》）</p>
<p>凡重霧三日，必大雨，雨未降，霧不可冒行。（《帝王世紀》）</p>

<h3>露</h3>
<p>柏葉上露主明目。（《本草》）</p>
<p>百花上露令人好顏色。（同上）</p>
<p>百草頭秋露水，愈百疾，令人身輕不飢，肌肉悅澤。（同上）</p>
<p>伏熱者，不可飲水；沖寒者，不得飲湯。（同上）</p>
<p>瀆寒而寢成疾。（《華陀中藏經》）</p>

<h2>地理部</h2>

<h3>地</h3>
<p>等閒刀畫地，多招不祥事。（《玄宗黃帝雜忌》）</p>
<p>掘地二尺以下，即有土氣，慎之為佳。（《千金要方》）</p>
<p>臥伏地大凶。（同上）</p>

<h3>山</h3>
<p>行山中，見小人乘車馬，長七八寸者，肉芝也。捉取服之，即仙矣。（《抱朴子》）</p>
<p>入名山必齋五十日，牽白犬，抱白雞，以白鹽一升，山神大喜，芝草、異藥、寶玉為出。未到山百步呼曰：林兵此山王，主者名知之。卻百邪。（《地鏡》）</p>
<p>入山，山精老魅，多來試之，或作人形，當懸明鏡九寸於背後，以闢眾惡。又百鬼老物，雖能變形，而不能使鏡中形影變也。其形在鏡中，則消亡退步，不敢為害也。（《雲笈七籤》）</p>
<p>諸山有孔，云：入採寶者，唯三月、九月，余月山閉，氣交死也。（《千金要方》）</p>
<p>入山之日，未至山百步，先卻行百步。反是乃登山，山精不犯人。眾邪伏走，百毒藏匿。（《神仙傳》）</p>
<p>如入山林，默唸「儀方」，不見蛇狼，念「儀康」不見虎。（《瑣碎錄》）</p>
<p>入深山，將後裙折三，指插於腰，蛇蟲不敢近也。（同上）</p>

<h3>江河</h3>
<p>渡江河者，朱書「禹」字佩之，免風濤，保安吉。（《瑣碎錄》）</p>
<p>渡江不恐懼法。旋取淨筆，研墨寫「土」字，或以手畫之亦可。（同上，又《袁天剛陰陽禁忌歷》云。過水手中書「土」字，自然渡浪不能翻。）</p>

<h3>水</h3>
<p>凡遇山水塢中出泉者，不可久居，當食作癭病。（《千金要方》）</p>
<p>深陰地冷，水不可飲，必作痎瘧。（同上）</p>
<p>凡山水有沙蝨處，勿在中浴，害人。欲渡者，隨驢馬後急渡，不傷人。（同上）</p>
<p>凡水有水弩處，射人影即死。欲渡水者，以物打水，其水弩即散，急渡不傷人。（同上）</p>
<p>遠行觸熱，途中逢河，勿洗面，生烏䵟。（同上）</p>
<p>深山大澤中，不可渡，恐寒氣逼人真氣。（《西山記》）</p>
<p>陂湖水，誤飲小魚入腹，即成魚瘕病。（《巢氏病源》）</p>
<p>井水沸，不可食之，害人。（《本草》）</p>
<p>屋漏水，誤食必成惡疾。（同上）</p>
<p>塚井水有毒，人中之者，立死。欲入塚井者，當先試之法：以雞毛投井中，毛直而下者，無毒。毛迴旋而舞，似不下者，有毒。以熱醋數斗，投井穴中，則可入矣。（同上）</p>
<p>甑氣水，主長毛髮，以物於炊飯時，承取沐頭，令髮長密黑潤。不能多得，朝朝梳小兒頭，漸覺有益好。（同上）</p>
<p>取日月不照自然水一升，與魴魚目三、七對，同和塗面，見鬼可指物無隱矣。（《墨子秘錄》）</p>
<p>以磨刀水洗手面，生癬，名刀癬。（《巢氏病源》）</p>
<p>狗舐之水，用洗手面，生癬白點，微癢是也。（同上）</p>
<p>盆盛水飲牛，用其餘水洗手面，生癬，名牛癬。（同上）</p>
<p>凡新汲水，必有塵垢，先淨洗一青石，置甕中，然後下水塵垢，皆聚於石上，水不復濁。三兩日一洗甕石，依前安石。若江水、並水已濁，便要吃時，研杏仁少許澆甕中，以杖攪十數匝，移時水自清。（《林泉備用》）</p>

<h3>冰</h3>
<p>冰大寒，暑夏盛熱，食此與氣候相反，恐入腹冷熱相激，卻致諸疾也。（《本草》）</p>
<p>凡夏用冰，正可隱快飲食，令氣冷，不可打碎食之，雖復當時暫快，久皆成疾。（《食譜》）</p>

<h2>人事部</h2>

<h3>身體</h3>
<p>五臟神喜香齋，則氣清神悅，百病不生。（《瑣碎錄》）</p>
<p>勿令發覆面，不祥。（《千金要方》）</p>
<p>勿舉足向火。（同上）</p>
<p>誤食耳垢，令人病耳聾，置之懷袖間治忘。（《瑣碎錄》）</p>
<p>極熱扇手心，五體俱涼。（同上）</p>
<p>若要安，三里不要干。患風疾人，宜灸三里者，五臟六腑也，溝渠也，常欲宣通，即無風疾。（同上）</p>
<p>凡五色皆損目，唯皂糊屏風，可養目力。（同上）</p>
<p>肝惡風，心惡熱，肺惡寒，脾惡濕，腎惡滲。（同上）</p>
<p>亂頭髮，不可頓璧縫房內，招祟。（《瑣碎錄》）</p>
<p>頭髮，不可在魚鮓中，殺人。（同上）</p>
<p>老翁須一大把，酒、水各一碗，煎服之，治瘰癧。（同上）</p>
<p>眼不點不昏，耳不斡不聾。（同上）</p>
<p>頭邊放火爐，久而發腦癰瘡癤。（同上）</p>
<p>張蒼，常服人乳，故年百歲余，肥白如瓠。（《本草》）</p>
<p>收自己亂頭髮洗淨，干，每一兩入椒五十粒，泥固封入爐，大火一煅，如黑糟，細研，酒服一錢匕，髭髮長黑。（同上）</p>
<p>劉君安，燒自己發，合頭垢等分，合服如大豆許三丸，名曰還精，令頭不白。（《服氣積義》）</p>
<p>取七歲男齒、女發與自己頸垢，合燒服之。一歲，則不知老。常為之，使老有少容也。（《劉根別傳》）</p>
<p>有飲油五斤以來，方始快意，長得吃得安，不爾則病。此是發入胃，被氣血裹了化為蟲。治用雄黃半兩為末，水調服，蟲自出。如蟲出活者，置於油中，逡巡間自耗。（《夏子益治奇疾方》）</p>
<p>去鼻中毛，神道往來，則為廬宅，晝夜綿綿，無休息也。（《黃庭經注》。又《雲笈七籤》：除鼻中毛，所謂通神路也）</p>
<p>誤食頭髮成發瘕病。（《巢氏病源》）</p>
<p>爪筋之窮不數截，筋不替。（《雲笈七籤》）</p>
<p>凡梳頭髮及爪，皆理之，勿投水火，正爾拋擲。一則敬父母之遺體，二則有鳥曰鵠鷤，夜入人家，取其爪發，則傷魂。（同上）</p>
<p>甲寅日，可割指甲，午日可割腳甲。此三尸遊處，故以割除，以制屍魄也。（同上又云，凡寅日去手甲爪，午日去足爪甲，名之斬三尸。）</p>

<h3>涕唾</h3>
<p>不可對北涕唾。（《感應篇》）</p>
<p>飲玉泉者，令人延年，除百病。玉泉者，口中唾也。雞鳴、平旦、晡時、黃昏、夜半，一日一夕，幾七漱玉泉飲之，每飲輒滿口，咽之延年。（《雲笈七籤》）</p>
<p>勿向西北唾，犯魁罡神凶。（《千金要方》）</p>
<p>咳唾，唾不用遠，或肺病令人手足重及背痛咳嗽。（同上）</p>
<p>遠唾不如近唾，近唾不如不唾。（《瑣碎錄》）</p>
<p>遠唾損氣，多唾損神。（同上）</p>
<p>勿咳唾，失肌汁。（《雲笈七籤》）</p>
<p>多唾令人心煩。（同上）</p>
<p>俗人但知貪於五味，不知有元氣可飲，聖人知五味之毒焉，故不貪，知元氣可服，故閉口不言，精氣息應也。唾不咽，則氣海不潤，氣海不潤，則津液乏。是以服元氣，飲醴泉，乃延年之本也。（同上）</p>
<p>若能竟日不唾涕者，亦可含一棗，咽津液也。（《王母內傳》。又《雲笈七籤》曰：人能終日涕唾，常含棗核咽之、令人受氣生津液也。取津液，非咽核）</p>
<p>亥子日不可唾，亡精失氣，減損年命。（《神仙傳》）</p>

<h3>汗</h3>
<p>大汗，急敷粉著。汗濕衣令人得瘡，大小便不利。（《養生要集》）</p>
<p>飲食炮甚，汗出於胃。飽甚胃滿，故汗出於胃也。驚而奪精，汗出於心。驚奪心精，神氣浮越，陽內薄之，故汗出於心也。持重遠行，汗出於腎。骨勞氣越，腎復過疲，故持重遠行，汗出於腎也。疾走恐懼，汗出於肝。暴役於筋，肝氣罷極，故疾走恐懼，汗出於肝也。搖體勞苦，汗出於脾。搖體勞苦，謂動作施力，非疾走遠行也。然動作用力，則穀精四布，脾化水穀，故汗出於脾也。（出《黃帝素問》）</p>
<p>勞傷，汗出成疾。（《華佗中藏經》）</p>
<p>汗出毛孔開，勿令人扇涼，亦為外風所中。（《四時養生論》）</p>
<p>人汗入諸肉，食之作下瘡。（《本草》。又《巢氏病源》云：人汗入諸肉食作癰癤。）</p>
<p>多汗損血。（《瑣碎錄》）</p>
<p>背汗倚壁，成遁注病。（《巢氏病源》謂：勞氣遁注經絡，四肢沉腹內痛也。）</p>
<p>大汗，勿偏脫衣，喜偏風，半身不遂。（同上）</p>

<h3>嚏</h3>
<p>向日取嚏法，欲得延年，洗面精神，至日更洗漱也。日出三丈，正面向日，口吐死氣，服日後便為之死氣，四時吐之也。鼻噏日精，須鼻得嚏便止，是為氣通。若不得嚏，以軟物通導之，使必得嚏也。以補精復胎，長生之方也。向日正心，欲得使心正常，以日出三丈，取嚏訖仍為之，錯手著兩肩上，左手在上，以日當心，開衣出心，令正當之，常能行之佳。（《雲笈七籤》）</p>
<p>食後，以小紙捻，打噴嚏數次，氣通則目自明。痰自化。（《瑣碎錄》）</p>

<h3>便溺</h3>
<p>不可對北溺。（《感應篇》）</p>
<p>忍尿不便，膝冷成痹。（《千金要方》）</p>
<p>忍大便不出，成氣痔。（同上）</p>
<p>小便勿努，令兩足及膝冷。（同上）</p>
<p>丈夫飢，欲坐小便。若飽，則立小便，慎之無病。（同上）</p>
<p>大便，不用呼氣及強努，令人腰疼，目澀宜任之佳。（同上）</p>
<p>夜間小便時，仰面開眼，至老眼不昏。（《瑣碎錄》）</p>
<p>忍小便成淋疾。（同上）</p>
<p>久忍小便，成冷痹。（《雲笈七籤》）</p>
<p>凡人求道，勿犯五逆，有犯者凶。大小便向南一逆，向北二逆，向日三逆，向月四逆，仰視天及星辰五逆。（同上）</p>

<h3>行</h3>
<p>行不得語，令人失氣。（《千金要方》）</p>
<p>凡欲行來，常存魁罡在頭上，所向皆吉。（同上）</p>
<p>夜行，用手掠腦後發，長精神，鬼魅不敢近。（《瑣碎錄》）</p>
<p>夜行損筋。（同上）</p>
<p>夜行常琢齒，琢齒亦無正限數也，然鬼邪畏琢齒聲，是故不得犯人。（《真誥》）</p>
<p>行不多言，恐神散而損氣。（《西山記》）</p>
<p>夜行及冥臥，心中恐者，存日月還入於明堂中，須臾百邪自滅，山居恆爾此為佳。（同上）</p>
<p>夜歸左手或右手，以中指書手心，作「我是鬼」三字，再握固，則不恐懼。（《瑣碎錄》）</p>
<p>久行傷筋，勞於肝也。（《黃帝素問》）</p>

<h3>立</h3>
<p>久立傷骨，勞於腎也。（《黃帝素問》）</p>
<p>久立則腎病。（《華佗中藏經》）</p>
<p>久立低濕成疾。（同上）</p>
<p>坐立莫於燈心後，使人無事被牽連。（《袁天罡陰陽禁忌歷》）</p>

<h3>坐</h3>
<p>久坐傷肉，勞於脾也。（《黃帝素問》）</p>
<p>坐臥於塚墓之間，精神自散。（《西山記》）</p>
<p>勿FG跂床懸腳，成血脾，兩足重，腰疼。（《千金要方》）</p>
<p>飽食終日，久坐損壽。（同上）</p>
<p>勿豎膝坐而交臂膝上，不祥。（《雲笈七籤》）</p>
<p>勿北向坐思惟，不祥起。（同上）</p>
<p>枯木大樹之下不可息，防陰氣觸人陽神。（同上）</p>
<p>坐臥莫當風，頻於暖處浴。（《孫真人枕中歌》）</p>
<p>暑日月曬處，雖冷石不可便坐，熱則令人生瘡，冷則成小腸氣。（《瑣碎錄》）</p>

<h3>早起</h3>
<p>清旦常言好事，勿惡言。聞惡事，即向所求方三唾之，吉。又勿嗔怒，勿叱吒咄呼，勿嗟嘆，勿唱奈何，名曰請禍。（《千金要方》）</p>
<p>凡雞鳴時，叩齒三十六遍訖，抵唇漱口，舌撩上齒，咽之三過，殺蟲補虛勞，令人強壯。（《瑣碎錄》）</p>
<p>早起先以左足下床，則一日平寧。（同上）</p>
<p>早起以左右手摩腎，次摩腳心，則無腳氣諸疾。或以熱手摩面上，則令人悅色。以手背揉眼，則明目。</p>
<p>煨生薑，早晨含少許，生胃氣，闢山瘴邪氣。（同上）</p>
<p>每日下床先左腳，念「乾元亨利貞」，下右腳念「日月保長生」，如此各念三遍，則終日吉。（同上）</p>
<p>晨興，以鍾乳粉入白粥中，拌和食之，極益人。（同上）</p>
<p>早起不可用刷牙子，恐根浮兼牙疏易搖，久之患牙痛。蓋刷牙，皆是馬尾為之，極有所損。今時出牙者，盡用馬尾灰，蓋馬尾能腐齒齦。（同上）</p>
<p>早起東向坐，以兩手相摩令熱，以手摩額上至頂上，滿二九止，名曰存泥丸。（《太平御覽》）</p>
<p>清旦初起，以兩手又，兩手極上下之二七止，令人不聾。次縮鼻閉氣，右手從頭上引左耳二七止，次引兩髮鬢舉之，令人血氣流通，頭不白。又摩手令熱，以摩身體，從上至下，名干浴。令人勝風寒，時氣寒熱，頭疼百病，皆除之。（同上）</p>
<p>凡人旦起常言善事，天與之福。（《雲笈七籤》）</p>

<h3>夜起</h3>
<p>夜起裸行不祥。（《雲笈七籤》）</p>
<p>夜起坐，以手攀腳底，則無筋轉之疾。（《瑣碎錄》）</p>

<h3>愁泣</h3>
<p>勿久泣神悲蹙。（《雲笈七籤》）</p>
<p>大愁氣不通。（同上）</p>
<p>多愁則心懾。（《小有經》）</p>
<p>學生之法，不可泣淚及多唾泄，此皆為損液漏精，使喉腦大竭。是以真人、道士，常吐納咽味，以和六液。（《真誥》）</p>
<p>不可對灶哭。（《感應篇》）</p>
<p>哭者，亦趣死之音，哀者，乃朽骨之大患，恐吾子未悟之，相為憂耳。（同上）</p>
<p>哭泣悲來，新哭訖，不用即食，久成氣病。（《巢氏病源》）</p>
<p>不可泣哭，便喉澀大渴。（同上）</p>
<p>憤懣傷神通於舌，損心則謇吃。（同上）</p>

<h3>怒叫</h3>
<p>勿朔旦號怒。（《感應篇》）</p>
<p>勿對北惡罵。（同上）</p>
<p>勿向灶罵詈，不祥。（《千金要方》）</p>
<p>勿卒呼，驚魂魄，勿恚怒，神不樂。（《雲笈七籤》）</p>
<p>多怒則百脈不定。（《小有經》）</p>

<h3>喜笑</h3>
<p>大樂氣飛揚。（《雲笈七籤》）</p>
<p>多笑則傷臟，多樂則意溢，多喜則忘錯昏亂。（《小有經》）</p>
<p>恣樂傷魂魄，通於目，損於肝，則目暗。（《巢氏病源》）</p>
<p>笑多則腎轉腰痛。（同上）</p>

<h3>歌舞</h3>
<p>不可晦臘歌舞。（《感應篇》）</p>
<p>不可對灶吟詠。（同上）</p>
<p>凡欲眠，勿歌詠，不祥。（《雲笈七籤》）</p>
<p>慎勿上床臥歌，凶。（同上）</p>

<h3>語言</h3>
<p>凡言語讀誦，常想聲在氣海中。（《千金要方》）</p>
<p>食上不得語，語而食者，常患胸背痛。（同上）</p>
<p>寢臥，不得多言，笑言，五臟如鍾磬，不懸則不可發聲。（同上）</p>
<p>行不得語，若欲語，須住乃語，行語則令人失氣也。（同上）</p>
<p>眠勿大語，損人氣力。（同上）</p>
<p>走不得大語。（《瑣碎錄》）</p>
<p>多語則氣爭。（《雲笈七籤》）</p>
<p>不得與女人語笑同處，致屍鬼，惑亂精神。（《太一真君》）</p>
<p>食不語，寢不言。（《論語》）</p>

<h3>思念</h3>
<p>勿念內，志恍惚。（《雲笈七籤》）</p>
<p>多忌，則神怠，多念，則神散。（《小有經》）</p>
<p>不可北向思惟，不祥起。（《雲笈七籤》）</p>
<p>思慮傷心，心傷則吐、衄血，發則發焦。（《巢氏病源》）</p>

<h3>睡臥（枕附）</h3>
<p>久臥傷氣，勞於肺也。（《黃帝素問》）</p>
<p>不可當風臥，不可令人扇之，皆臥得病也。（《千金要方》）</p>
<p>凡人臥，春夏向東，秋冬向西，頭勿北臥，及牆北亦勿安床。（同上）</p>
<p>凡欲眠，勿歌詠，不祥。（同上）</p>
<p>上床坐，先脫左足，臥勿當舍脊下。臥訖，勿留燈燭，令魂魄及六神不安，多愁怨。人頭邊勿安火爐，日久引水氣，頭重目赤，睛及鼻乾。（同上）</p>
<p>夜臥，當耳勿有孔，吹人即耳聾。（同上）</p>
<p>夏夜勿覆其頭，得長壽。（同上）</p>
<p>凡人眠，勿以腳懸踏高處，久成腎水損房足冷。（同上）</p>
<p>不得晝眠，令人失氣。（同上）</p>
<p>臥勿大語，損人氣力。（同上）</p>
<p>暮臥，常習閉口，口開即失氣，且邪惡從口入，久成消渴及失血色。（同上）</p>
<p>屈膝側臥，益人氣力，勝正偃臥。按孔子不屍臥，故曰：睡不厭踧，覺不厭舒。（同上）</p>
<p>凡人舒睡，則有鬼痛魔邪。（同上）</p>
<p>凡眠先臥心，後臥眼，一夜當作五度反覆，常逐更轉。（同上）</p>
<p>勿濕頭臥，使人頭風、眩悶、發禿、面黑、齒痛、耳聾、頭生白屑。（同上）</p>
<p>凡睡覺，勿飲水更眠，令人作水癖。（《巢氏病源》）</p>
<p>夜臥，或側或仰，一足伸屈不並，則無夢泄之患也。（《瑣碎錄》）</p>
<p>臨臥，用黃柏皮，蜜炙含少許，一生不患咽喉。（同上）</p>
<p>雷鳴勿仰臥。（同上）</p>
<p>人睡著，不可將筆畫面，其人神魂外遊，回視不認屍，有至死者。（同上）</p>
<p>臥處，不可以首近火，必有目疾。亦不可當風，必患頭風等疾。背受風則嗽，胸無禁。（同上）</p>
<p>多睡令人目盲。（《雲笈七籤》）</p>
<p>丈夫勿頭北向臥，令人神不安，多愁忘。（同上）</p>
<p>凡人臥，不用隱膊下，令人六神不安。（同上）</p>
<p>凡臥，欲得數側，語笑欲令至少，莫令聲高。（同上）</p>
<p>慎勿上床臥歌，凶。（同上）</p>
<p>暮臥，先讀《黃庭內景》、《玉經》一遍乃臥，使人魂魄自然制煉。常行此法，二十八年亦成仙矣。（《正一修真旨要》）</p>
<p>飽食便臥，損壽也。（同上）</p>
<p>人若睡，必須側臥蜷跼，陰魄全也。亦覺，即須展兩腳叉兩手，令氣通遍，渾身陽氣布也。（《雲笈七籤》）</p>
<p>寢無伏。（出《禮記》。又《雲笈七籤》云：始臥伏臥床，凶）</p>
<p>夜臥，自脛以下，常須覆薄被。不如此則風毒潛入，血氣不行，直至覺來，頑庳、癱緩、軟腳、偏風，因茲交至。（《四時養生論》）</p>
<p>睡不張口，恐泄氣而損神。《西山記》</p>
<p>臥濕當風，則真氣自弱。（同上）</p>
<p>夜臥，當耳勿得有孔，風入耳中，喜令口喎。（《巢氏病源》）</p>
<p>飽食仰臥，久成氣疾病頭風。（同上）</p>
<p>人見十步直牆，勿順牆而臥，風利吹人，必發癲癇及體重。（同上）</p>
<p>汗出不可露臥及浴，使人身振、寒熱、風疹。（同上）</p>
<p>麻黃末五分，日中面向南杵之，水調方寸匕，日可三服，不睡。若要睡，用糯米粥、葵菜湯解之依舊，此煉丹守爐之秘法也。（《墨子秘錄》）</p>
<p>煮通草茗飲之，不睡矣。（同上）</p>
<p>將麝香一劑，安於枕中，能除邪辟惡。（《狐剛子粉茴》）</p>
<p>決明子置之枕中最明眼。（《瑣碎錄》）</p>
<p>不可用菊花為枕，久之令人腦冷。（同上）</p>
<p>神枕法：昔太山下，有老翁者，失其名字。漢武東巡，見老翁鋤於道，背上有白光，高數尺。帝怪而問之：「有道術否？」老翁對曰：「臣昔年八十五時，衰老垂死，頭白齒落，有道士者，教臣服棗、飲水、絕谷，並作神枕法。中有三十二物。其三十二物中，二十四物善，以當二十四氣，其八物毒，以應八風。臣行之轉少，白髮返黑，墮齒復生，日行三百里。臣今年一百八十矣。不能棄世入山，顧念孫子，復還，食谷又已一十餘年，猶得神枕之力，往不復老。」武帝視老翁類狀，當如五十許，又驗問其鄰，皆云信然。帝乃從受其方作枕，而不能隨其絕欲飲水也。方用五月五日，七月七日，取山林柏以為枕，長一尺二寸，高四寸，空中容一斗二升，以柏心赤者為蓋，厚二分，蓋致之令密，又當使可開用也。又鑽蓋上為三行，行四十孔，凡一百二十孔，令容粟米大。其用藥芎藭、當歸、白芷、辛夷、杜衡、白朮、藁本、木蘭、蜀椒、桂、乾薑、防風、人參、桔梗、白薇、荊實、肉蓯蓉、飛廉、柏實、薏苡子、款冬花、白衡、秦椒、蘪蕪凡二十四物，以應二十四氣，加毒者八物應八風，烏頭、附子、藜蘆、皂莢、菵草、礬石、半夏、細辛。上三十二物各一兩，皆㕮咀，以毒藥上安之滿枕中。用布囊以衣枕，百日面有光澤。一年體中所疾，及有風疾，一一皆愈瘥，而身盡香。四年白髮變黑，齒落更生，耳目聰明。神方驗秘，不傳非其人也。藁本是老芎藭母也。武帝以問東方朔，答曰：昔女廉以此方傳玉青，玉青以傳廣成子，廣成子以傳黃帝。近者谷城道士淳于公枕此藥枕耳，百餘歲而頭髮不白。夫痛之來，皆從陽脈，今枕藥枕，風邪不得侵入矣。又雖以布囊衣枕，猶當復以幃衾重包之，須欲臥枕時，乃脫去之耳。詔賜老翁正帛，老翁不受，曰：陛下好善，故進之耳。帝止。（《雲笈七籤》）</p>
<p>益眼者，無如磁石，以為盆枕，可老而不昏，寧王宮中用之。（《豐寧傳》）</p>

<h3>夢</h3>
<p>夜夢惡不須說，旦以水面東噀之，咒曰：惡夢著草木，好夢成寶玉。即無咎矣。（《千金要方》）</p>
<p>說夢者凶。（《千金翼方》）</p>
<p>善夢可說，惡夢默之，則使人延命矣。（此出《雲笈七籤》。又《千金要方》云：夢之善惡皆勿說為吉。）</p>
<p>夜停燭而寢招惡夢。（《瑣碎錄》）</p>
<p>枕麝香一具於頸間，闢水注之，永絕惡夢。（《真誥》）</p>

<h3>魘</h3>
<p>人臥不悟，皆是魂魄外遊，為他邪所執錄，欲還未得，致成魘也。忌火照，火照則神魂遂不復入，乃至於死。而人有於煙光前魘者，是本由明出，是以不忌火也。（《巢氏病源》）</p>
<p>人魘勿燃明喚之，魘死不疑，闇喚唯好得遠喚，亦不得迫而急喚，亦喜失魂魄也。（同上）</p>
<p>夜臥，以鞋一覆一仰，亦無魘惡夢。（《瑣碎錄》）</p>
<p>枕北而寢，多魘。（同上）</p>
<p>夜魘之人，急取梁塵，吹鼻中，即醒。（同上）</p>
<p>取雄黃一塊，帶之不魘。（《墨子秘錄》）</p>
<p>人忽不寤，勿以燈照之，殺人。但痛齧拇指甲際，而唾其面，則活。取韭搗汁吹鼻中，薤汁亦得，冬月用韭根汁，灌於口中。（葛洪《肘後方》）</p>

<h3>沐浴</h3>
<p>沐浴未乾而熟睡成疾。（《華佗中藏經》）</p>
<p>俗冷水則生腎痹之疾。（同上）</p>
<p>新沐發訖，勿當風，勿濕縈髻，勿濕頭臥，使人頭風眩悶，發禿面黑，齒痛耳聾，頭生白屑。（《千金要方》）</p>
<p>夜沐發不食即臥，令人心虛，饒汗多夢。（同上）</p>
<p>熱泔洗頭，冷水濯之，作頭風。（同上）</p>
<p>飲水沐頭作頭風。（同上）</p>
<p>冬浴不必汗出霢霖。（同上）</p>
<p>時行病新汗方解，勿冷水洗浴，損心。（同上）</p>
<p>凡居家，不欲數沐浴。若沐浴必須密室，不能大熱，亦不得大寒，皆生百病。（同上）</p>
<p>沐浴後不得觸風寒。（同上）</p>
<p>飢忌浴，飽忌沐，沐訖，須進少許食飲乃出。（同上）</p>
<p>常以晦日浴，朔日沐吉。（同上）</p>
<p>沐浴忌三伏、二社、四殺日，宜擇申酉亥子日大吉也。（《瑣碎錄》）</p>
<p>人能一生斷沐，未無眼疾。（同上）</p>
<p>洗頭不可冷水，成頭風疾。（同上）</p>
<p>浴出不可和衫裙寢熟，恐成外腎疼，腰背拳曲。（同上）</p>
<p>有目疾，切忌酒後澡浴，令人目盲。（同上）</p>
<p>飽食沐發作頭風。（《巢氏病源》）</p>
<p>汗出，不可露臥及浴，使人身振、寒熱、風疹。（同上）</p>
<p>沐與浴同日，凶。（《千金翼方》又云：夫妻同日沐浴，凶。）</p>
<p>舊說眼疾不可浴，浴則病，甚至有失明者。白彥良云：未壯之前，歲歲患赤眼。一道人勸，但能斷沐頭則不復病此。彥良不沐，今七十餘，更無眼疾。（方勺《泊宅編》）</p>
<p>向午後陰氣起，不可沐發，令人心虛，饒汗多夢及頭風也。（《雲笈七籤》）</p>
<p>汗出不宜洗身，令人五臟干，少津液。（同上）</p>
<p>沐浴無常不吉。（同上）</p>
<p>新沐浴訖，不得露頭當風，不幸得大風、剌風疾。（同上）</p>
<p>五香沐浴者，青木香也。青木華、葉五節，五五相結，故辟惡氣，撿魂魄，制鬼煙，致靈蹟。以其有五五之節，所以為益於人耳。此香多生滄浪之東，東方之神人，名之為青木之香焉。（同上）</p>
<p>沐浴用五種香湯：一者白芷能去三尸，二者桃皮能辟邪氣，三者柏葉能降真仙，四者零陵能集靈聖，五者青木香能消穢召真。（《沐浴身心經》）</p>
<p>上元齋者，用雲水三斛，青木香四兩，真檀七兩，玄參二兩，四種合煮一沸，清澄適寒溫，先沐後浴。此難辦者，用桃皮、竹葉銼之，水一二斛，隨多少煮一沸，令有香氣，辟惡邪不祥。沐浴室令香淨，勿近圈圂，勿逼井灶，勿傍堂壇，勿用穢地。（《洞神經》）</p>
<p>甑氣水沐發，令髮長密黑潤。（《本草》）</p>
<p>沐用旬，浴用五。夫五則五氣流傳，浴之榮衛通暢，旬則數滿復還，真氣在腦，沐之則耳目聰明。若頻頻浴者，血凝而氣散，雖肌體光澤，而氣自損，故有癰疽之疾者，氣不勝血，神不勝形也。若頻頻沐者，氣壅於腦，滯於中，令人體重形疲，久而經絡不能通暢。故古人以陽養陽，陽不耗散，以陰煉陽，陽必損弱。（《西山記》）</p>
<p>數澡洗，每至甲子當沐。不爾，當以幾月旦，使人通靈。浴不患數，患人不能耳。蕩煉屍臭而真氣來入。（《正一平經》）</p>
<p>沐浴不數，魄之性也。違魄反真，是煉其濁穢，魄自亡矣。（《真誥》）</p>

<h3>洗面</h3>
<p>旦起勿開目洗面，令人目澀失明，饒淚。（《千金要方》）</p>
<p>盛熱中自日中來，不得用冷水沃面，恐成目疾也。（《瑣碎錄》）</p>

<h3>叩齒</h3>
<p>叩齒之法：左相叩名曰打天鍾，右相叩名曰捶天磬，中央上下相叩，名曰鳴天鼓。若卒遇凶惡不祥，當打天鍾三十六遍。若經凶惡辟邪威神大咒，當捶天磬三十六遍。若存思念道，致真招靈，當鳴天鼓。以正中四齒相叩，閉口緩頰，使聲虛而深響也。（《九真高上寶書神明經》）</p>
<p>夜行常琢齒，琢齒亦無正限數也，然鬼邪鬼常畏琢齒聲，是故不得犯人也。若兼之漱液、祝說亦善。昔鮑助者都不學道，亦不知法術，年四十餘，忽得面風氣，口目不正。炁入口而兩齒上下惟相切拍，甚有聲響，如此晝夜不止，得壽百二十七歲。（《真誥》）</p>
<p>齒，骨之窮。朝久琢齒，齒不⿰齒扁。（《雲笈七籤》）</p>
<p>齒宜數叩。（《黃庭內經》）</p>
<p>朝暮叩齒，以會身神。（《黃庭外經注》）</p>

<h3>櫛發（梳附）</h3>
<p>櫛頭理髮，欲得過多，通流血氣，散風濕也。數易櫛更番用之也。亦不可頻解發也，櫛之使多，而不使痛，亦可令侍者櫛取多也。於是血液不滯，髮根常堅。（《真誥》）</p>
<p>發宜多櫛。（《黃庭內經》）</p>
<p>發是血之餘，一日一度梳。（《瑣碎錄》）</p>
<p>發，血之窮，千過梳，發發不白。（《雲笈七籤》）</p>
<p>玳瑁梳能去風屑。（《瑣碎錄》）</p>
<p>孫思邈以交加木，造百齒梳，用之養生要法也。（《樵人直說》）</p>

<h3>漱口</h3>
<p>食畢當漱口數過，令人牙齒不敗，口香。（《千金要方》）</p>
<p>熱食訖，以酢醬漱口者，令人口臭。常臭作唇齒病。（同上）</p>
<p>汗出不宜洗身漱口，令人五臟干，少津液。（《雲笈七籤》）</p>
<p>熱湯不可漱口，損牙。（《瑣碎錄》）</p>
<p>進士劉遁，遇異人曰：世人奉養，往往倒置，早漱口不若將困而漱，去齒間所積，牙亦堅固。（同上）</p>

<h3>濯足</h3>
<p>濯足而臥，四肢無冷疾。（《瑣碎錄》）</p>
<p>足是人之底，一夜一次洗。（同上）</p>
<p>凡腳汗勿入水，作骨痹，亦作遁疾。（《雲笈七籤》）</p>
<p>井華水和粉洗足，不病惡瘡。（《巢氏病源》）</p>

<h3>交合</h3>
<p>凡夏至後丙丁日，冬至後庚辛日，皆不可合陰陽，大凶。（《千金要方》）</p>
<p>凡大月十七日，小月十六日，此名毀敗日，不可交合，犯之傷血脈。（同上）</p>
<p>大喜大悲，男女熱病未瘥，女子月血新瘥者，不可合陰陽。熱疾新瘥，交者死。（同上）</p>
<p>老子曰：凡人生多疾病者，是風日之子。生而早死者，是晦日之子。在胎而傷者，是朔日之子。生而母子俱死者，是雷霆霹靂日之子。能行步有知而死者，是下旬之子。兵血死者，是月水盡之子，又是月蝕之子。能胎不成者，是弦望之子。命不長者，是大醉之子。不癡必狂者，是大勞之子。生而不成者，是平曉之子。意多恐悸者，是日出之子。好為盜賊貪欲者，是禹中之子。性行不良者，是日中之子。命能不全者，是日映之子。好詐反妄者，是晡時之子。不盲必聾者，是人定之子。天地閉氣不通，其子死。夜半合陰陽生子，上壽賢明。夜半後合會，生子中壽，聰明智惠。雞鳴合會，生子下壽，克父母。此乃天地之常理也。（同上）</p>
<p>天老曰：人稟五常形貌而尊卑貴賤不等，皆由父母合會，稟氣壽也。得合八星，陰陽各得其時者上也，即富貴之極。得合八星，陰陽不得其時者中也，得中宮。不合八星，陰陽得其時者下也，得下宮。不合此宿，不得其時者，則為凡人矣。合宿交會者，非惟生子富貴，亦利身大吉。八星室參井鬼柳張房心一云：凡宿也，是月宿所在星，可以合陰陽。（同上）</p>
<p>醉飽交接，小者面䵟咳嗽，大者傷絕臟脈損命。（《千金要方》）</p>
<p>多食生葫，行房傷肝氣，令人面無色。（同上）</p>
<p>御女之法，能一月再泄，一歲二十四泄，皆得一百歲，有顏色，無疾病，若加以藥，則可長生。（同上）</p>
<p>患赤目須忌房事，不然令人患內障。（同上）</p>
<p>人年二十者，四日一泄，三十者八日一泄，四十者十六日一泄，五十者二十日一泄，六十者閉精勿泄。若體力猶壯者，一月一泄。凡人氣力，自有強盛過人者，亦不可強忍，久而不泄，致生癰疽。若年過六十，而有數旬不得交合，意中平平者，自可閉固也。（同上）</p>
<p>凡人習交合之時，常以鼻多內氣，口微吐氣，自然益矣。交會畢，蒸熱是得氣也。以菖蒲末三分，白梁粉敷摩令燥，既使強盛，又濕瘡不生也。（同上）</p>
<p>幾欲施瀉者，當閉口張目，閉氣握固，兩手左右上下，縮鼻取氣，又縮下部及吸腹，小偃脊膂，急以左手中兩指抑屏翳穴，長吐氣並琢齒千遍，則精上補腦，使人長生。若精妄出，則損神也。（同上）</p>
<p>交會者，當避丙丁日及弦望晦朔。大風、大雨、大霧、大寒、大暑、雷電、霹靂，天地晦冥，日月薄蝕，虹蜺地動，若御女者，則損人神，不吉。損男百倍，令女得病，有子必癲癡頑愚，瘖症聾瞶，攣跛盲眇，多病短壽，不孝不仁。又避日月、星辰、火光之下，神廟佛寺之中，井灶圊廚之側，墳墓屍樞之傍，皆悉不可夫交合。如法，則有福德大智善人降托胎中，仍令性行調須，所作和合，家道日隆，祥瑞競集。若不如法，則有薄福愚癡惡人來托胎中，仍令父母性行凶險，所作不成，家道日否，殃咎屢至。夫禍福之應，有如影響。此乃必然之理，可不再思之。（同上）</p>
<p>婦人不必顏色妍麗，但得少年，未經生乳，多肥肉益也。若細發，目睛黑白分明，體柔骨軟，肌膚細滑，言語聲音和調，四肢骨節皆欲足肉，而骨不大，亦益也。（同上）</p>
<p>婦人蓬頭蠅面，捶項結喉，雄聲大口，高鼻露齒，目睛渾濁，口頷有毛，骨節高大，發黃少肉，與之交會，皆賊命損壽也。（同上）</p>
<p>每月二十八日，人神在陰，節忌欲事。甚於甲子庚申十五日，人神在遍身，尤當戒之。（同上）</p>
<p>善攝生者，凡覺陽事轉盛，必謹而抑之，不可縱心竭意，以自賊也。若一度製得，則一度火滅，一度增油。若不能制，縱情施瀉，即是膏火將滅，更去其油，可不深自防？（同上）</p>
<p>房事忌五月五日、六日、七日、十五日、十六日、十七日、二十五日、二十六日、二十七日，為九毒日，犯之者不過三年。（《瑣碎錄》）</p>
<p>房事忌庚申甲子，本命生日，犯之者各滅二年之壽。朔日滅一紀，望日滅十年，二元日滅五年，四立二分二至社日各滅四年，三伏與晦日各滅一年，又切忌當此日辰，不可構婚姻之禮。（同上）</p>
<p>新沐浴及醉飽、遠行歸還、大疲倦，並不可行房室之事，生病，切慎之。（《雲笈七籤》）</p>
<p>夫妻晝合不祥。（同上）</p>
<p>終身之忌臥幙燃燭行房。（同上）</p>
<p>歷節疼痛，因醉犯房而得之。（《華佗中藏經》）</p>
<p>人有所怒，血氣未定，因以交合，令人發癰疽。（《黃帝雜禁忌法》）</p>
<p>不可忍小便交合，令人淋，莖中痛，面失血色。（同上）</p>
<p>遠行疲乏來入房，為五勞虛損。（同上）</p>
<p>婦人月事未絕，而與交合，令人成病得白駁。（同上）</p>
<p>夫學生之夫，必夷心養神，服食活病，使腦宮填滿，玄精不傾，然後可以存神服霞，呼吸二景耳。若數行交接，漏泄施瀉者，則氣穢身亡，精靈枯竭，雖復玄挺玉籙金書太極者，將亦不可解於非生乎。在昔先師，常誡於斯事云，學生之人，一接則傾一年藥勢，二接則傾二年藥勢，過三以往，則所傾之藥，都亡於身矣。是以真仙之士，常慎於此，以為生生之大忌。（《真誥》）</p>
<p>凡甲子庚申之日，是屍鬼競亂精神，躁穢之日也。不可與夫妻同席，及言語面會，當清齋不寢，驚備其日，遣諸可欲。（同上）</p>
<p>醉而交接，或致惡瘡。（《巢氏病源》）</p>
<p>醉飽莫行房，五臟皆反覆。（《孫真人枕中歌》）</p>
<p>精液流泉去鼻香。注云：陰陽交接，漏液失精，食飲無味，鼻失芳香。若交接不停，鼻必失氣，口不得味也。（《黃庭外經》）</p>
<p>雷電交合之子，必病癲狂。故曰：有不戒其容止者，生子不備也。（《玄女中房經》）</p>
<p>凡月二日、三日、五日、九日、二十日，此生日也，交會令人無疾病。（《千金翼方》）</p>

<h1>卷下</h1>

<h2>毛獸部</h2>

<h3>總獸</h3>
<p>家獸自死，共膾汁食之，作疽瘡。（《千金要方》）</p>
<p>野獸自死，比首伏地，不可食。（同上）</p>
<p>獸赤足者，不可食，有歧尾，不可食。（同上）</p>
<p>獸自死，無傷處，不可食。（同上）</p>
<p>甲子日勿食一切獸肉，大吉。（同上）</p>
<p>凡六畜五臟，著草自動搖，及得咸酢不變色，又墮地不汗，又與大犬不食者，皆有毒殺人。（同上）</p>
<p>六畜卒疲死，及夏病者，腦不中食，喜生腸癰。（《巢氏病源》）</p>

<h3>羊</h3>
<p>羊有一角，食之殺人。（《龍魚河圖》）</p>
<p>羊有一角當頂上，龍也，殺之震死。（《白澤圖》）</p>
<p>羊肉同膾酪食之，害人。（《食治通說》）</p>
<p>羊肝得生椒，破人臟。（同上）</p>
<p>羊肉共鮓，食之傷人，心亦不可共生魚酪和食之，害人。（《千金要方》）</p>
<p>凡一切羊蹄甲中，有珠子白者，名羊懸筋，食之令人癲。（同上）</p>
<p>白羊黑頭，食其腦，作腸癰。（同上）</p>
<p>羊肚共飯飲，常食久久，成反胃，作噎病。（同上）</p>
<p>甜粥共羊肚食之，令人多唾，喜吐清水。（同上）</p>
<p>青羊肝和小豆食之，令人目少明。（同上）</p>
<p>羊腦，男子食之，損精氣，少子。（同上）</p>
<p>彌忌水中柳木及白楊木，不得銅器中煮羖羊肉，食之丈夫損陽，女子絕陰。（同上）</p>
<p>羊肉其有宿熱者，不可食之。（《金匱要略方》）</p>
<p>青羊肝食之明目。（《藥性論》）</p>
<p>羊心有孔者，食之殺人。（《日華子本草》）</p>
<p>羊肝不可合豬肉及梅子、小豆食之，傷心，大病人。（同上）</p>
<p>凡羊肉不可久食，病人。（同上）</p>
<p>白羊肉，不可雜雞肉食之。（同上）</p>
<p>山羊肉，不可合雞子食之。（同上）</p>
<p>羊肝不可合烏梅、白梅食之。（同上）</p>
<p>山羊肉不可合鱉肉同食。（同上）</p>
<p>羊肝有竅者，食之害人。（《瑣碎錄》）</p>
<p>羊不醬吃之，久而閉氣，發痼疾。（同上）</p>
<p>鼻中毛出，晝夜可長五寸，漸漸粗圖如繩，痛不可忍。雖忍痛摘去，即復更生。此由食豬羊血過多，治用乳食，硇砂各一兩為末，以飯丸如桐子大，空心、臨臥各一服，水下十粒，自然退落。（《夏子益治奇疾方》）</p>

<h3>牛</h3>
<p>牛肉，不得和黍米、白酒食之，必生白蟲。（《食療本草》）</p>
<p>牛者，稼穡之資，不可屠殺。自死者，血脈已絕，骨髓已竭，不堪食。黃牛發病，黑牛尤不可食。（同上）</p>
<p>飲白酒，以桑枝貫牛肉炙食，並生慄，生寸白蟲。（《巢氏病源》）</p>
<p>烏牛自死北首者，食其肉害人。（《千金要方》）</p>
<p>一切牛，盛熱時奇死者，總不堪食，食之作腸癰疾。（同上）</p>
<p>患甲蹄牛，食其蹄中櫃篩之人，令人作肉刺。（同上）</p>
<p>獨肝牛肉食之殺人，牛食蛇者獨肝。（同上）</p>
<p>患病牛肉，食之令人身體癢。（同上）</p>
<p>牛肉共豬肉食之，必作寸白蟲。（同上）</p>
<p>大忌人下痢者，食自死牛肉，必劇。（同上）</p>
<p>一切牛乳汁及酪，共生魚食之，成魚瘕。（同上）</p>
<p>疫死牛，或目赤，或黃，食之大忌。（《金匱要略方》）</p>
<p>青牛腸，不可合犬肉食之，大忌。（同上）</p>
<p>牛肺，從三月至五月，其中有蟲如馬尾，割去之勿食，損人。（同上）</p>
<p>食牛人，不可食栗子。（《瑣碎錄》）</p>
<p>食牛肉損齒，用姜尤甚。（同上）</p>
<p>花牛最毒，患眼人吃雙盲。（同上）</p>
<p>食牛肉過多，不腹脹，卻服食藥。若脹者，但欲水自消。（同上）</p>
<p>食牛之人，生遭惡鬼侵陵，多染疫癘。死入地獄，受赦所不原之罪。（《戒殺編類》）</p>
<p>台州攝參軍陳昌，夢入東嶽，見廊下有數罪人，悉斷割肢體，號叫極甚。陳問陰吏，曰：此數人以食牛肉與殺害眾生故也。既覺，遂不食牛肉與雞。台州甚瘟疫，環城幾無免者，陳頗憂之。神人告曰：子不食牛肉，我常衛護，邪疫之氣無自而入，不必憂也，是年不染瘟疫。（同上）</p>
<p>今人有不食牛肉，而食䐑子者，亦是牛皮煎成，與牛肉何異？凡屬牛身之物，皆不可食，豈止戒肉而已。（同上）</p>
<p>好食牛肉，人壽祿皆減，百神皆散。不食牛肉，百神守之，鬼不敢近。（同上）</p>
<p>凡牛啖蛇，即毛向後順，有大毒，食之害人。（《食禁方》）</p>

<h3>馬</h3>
<p>白馬玄頭，食之殺人。（《魚龍河圖》。又《千金要方》云：白馬玄頭，食其腦，令人癲。）</p>
<p>白馬自死，食其肉害人。（同上）</p>
<p>白馬青蹄，不可食。（《千金要方》）</p>
<p>患疥馬肉，食之令人身體癢。（同上）</p>
<p>白馬鞍下烏色徹肉裡者，食之傷人五臟。（同上）</p>
<p>一一切馬汗氣及毛，不可入食中，害人。（同上）</p>
<p>馬腳無夜眼者，不可食之。（《金匱要略方》）</p>
<p>馬肉不可熱吃，傷人心。（同上）</p>
<p>馬鞍下肉，食之殺人。（同上）</p>
<p>白馬黑蹄者，不可食之。（同上）</p>
<p>馬肉、㹠肉共食飽醉臥，大忌。（同上。又《食禁方》云馬豬肉共食霍亂。）</p>
<p>馬肝有毒，食之殺人。（同上）</p>
<p>馬肉不可與倉米同食，必卒得惡疾，十有九死。不與姜同食，生氣嗽。（《食療本草》）</p>
<p>食駿馬肉，不飲酒，殺人。（《食禁方》。又《呂氏春秋》云：秦繆公失左駿，見野人殺食之。繆公笑曰：食駿馬肉而不飲酒，命恐傷，其性也，遍飲之而去。）</p>
<p>馬肉不可與蒼耳同食，傷人。（同上）</p>
<p>馬治𨿜欲深，春欲如伏龜。兩邊有回毛，曰騰蛇，殺主。口邊回毛，日御禍，妨主。白額入口，名曰的盧奴，乘客死，主乘棄市。回毛在目下，曰承淚，不利人也。（《伯樂相馬經》）</p>

<h3>驢</h3>
<p>驢肉食之動風，脂肥尤甚，屢試屢驗。《日華子》以謂：止風狂，治一切風。未可憑也。（《本草衍義》）</p>
<p>驢病死者不任用。（《食禁方》）</p>
<p>驢肉合豬內食之，成霍亂。（同上）</p>

<h3>麋</h3>
<p>孕婦見麋而子回目。（《淮南子》）</p>
<p>麋脂不可近男子陰，冷痿。（《千金要方》）</p>
<p>麋脂及梅、李子，若妊娠婦人食之，令子青盲，男子傷精。（《金匱要略方》）</p>
<p>麋骨可煮汁釀酒，飲之，令人肥白美顏色。（《本草》）</p>
<p>麋肉不可與雉肉同食。（同上。又《食禁方》云，麋雉肉同食令人髮腳氣。）</p>
<p>麋肉多食，令人弱房髮腳氣。（同上）</p>
<p>麋肉不可合獺肉同食，害人。（《食禁方》）</p>
<p>麋肉不可雜鵠肉食之。（同上）</p>
<p>麋肉不可合生菜食之。（同上）</p>
<p>麋肉不可合蝦蟆同食之。（同上）</p>

<h3>鹿</h3>
<p>鹿一千年為蒼鹿。又百年化為白鹿，又五百年化為玄鹿，玄鹿為脯食之，壽二千歲。（《述異記》）</p>
<p>鹿膽白者，食其肉害人。（《千金要方》）</p>
<p>白鹿肉，不可和蒲白作羹食，發惡瘡。（同上）</p>
<p>鹿豹文殺人。（《本草》）</p>
<p>鹿九月以後，正月以前，堪食。（《食療本草》）</p>
<p>鹿角錯為屑，白蜜五升淹之，微火熬令小變，曝乾，更搗篩，服之令人輕身，益氣，強骨髓，補絕傷。（同上）</p>

<h3>獐</h3>
<p>獐肉，不可合蝦及生菜、梅、李果實食之，皆病人。（《金匱要略方》）</p>
<p>獐肉，不可炙食，令人消渴。（《食禁方》）</p>
<p>獐肉，不可同蛤食，令人成癥病。（同上）</p>
<p>獐肉，八月至十二月食之勝羊肉，自十二月至七月動氣。（《食療本草》）</p>

<h3>麂</h3>
<p>麂多食，動人痼疾。（《本草》）</p>

<h3>麑</h3>
<p>生麑肉共蝦汁合食之，令人心痛。（《千金要方》）</p>
<p>生麑肉共雉肉食之，作痼疾。（同上）</p>

<h3>麕</h3>
<p>麕肉不可合鵠肉食，成癥病。（《本草》）</p>

<h3>麝</h3>
<p>麝肉共鵠肉食之，作癥瘕。（《千金要方》）</p>
<p>麝臍中香，治一切惡氣、疰、百疾，研服之，立瘥也。（《食療本草》）</p>

<h3>象</h3>
<p>象肉不可食，令人體重。（《本草》）</p>

<h3>豬</h3>
<p>白豕白蹄青爪不可食。（《養生要集》）</p>
<p>㹠肉不可久食，令人遍體筋肉碎痛乏氣。（《千金要方》）</p>
<p>純腦損男子陽道，臨房不能行事。（同上）</p>
<p>豬腎不可久食，令人少子精，發宿病，弱筋骨，閉血脈，虛人。肌有金瘡者食之，瘡尤甚。（同上）</p>
<p>豬腦，男子食之損精氣，少子。（同上）</p>
<p>豬肝、肺共魚膾食之，作癰疽。（同上）</p>
<p>豬肝共鯉魚腸、魚子食之，傷人神。（同上）</p>
<p>豬肺及𥹋和食之，發疽。（同上。又云：八月勿食豬肺，至冬時發疽。）</p>
<p>豬心、肝不可多食，無益，豬臨宰驚入心，絕肝也。（《瑣碎錄》）</p>
<p>豬肝、鵪鶉同食，令人面生黑點。（同上）</p>
<p>豬肉久食動風氣，令人暴肥，蓋風虛所致。（《本草》）</p>
<p>豬肉共羊肝和食之，令人心悶。（《金匱要略方》）</p>
<p>豬肉不可與生胡荽同食，爛人臍。（同上）</p>
<p>豬肉不可合龜、鱉肉食之，害人。（同上）</p>
<p>豬肉和葵食之，令人氣少。（同上）</p>
<p>豬肉不可合烏梅食之。（同上）</p>
<p>豬肉不可合雞子同食，令人氣滿悶。（同上）</p>
<p>食豬肉飲酒，臥秫稻穰草，令人發黃。（同上）</p>
<p>豬放田野間，或食雜毒物而死者有毒，或自死及疫死者，亦不可食之。（同上）</p>
<p>豬不姜吃之，中年氣血衰，面生黑䵟。（《瑣碎錄》）</p>
<p>食豬膏忌烏梅。（《本草》）</p>
<p>豬脂不可合梅子食之。（《金匱要略方》）</p>
<p>野豬青蹄者不可食之。（《食禁方》）</p>
<p>江豬多食者，令人體重。（《食療本草》）</p>
<p>豪豬不可多食，發風氣，令人虛羸。（《本草圖經》）</p>
<p>凡煮豬肉，用桑白皮、高良薑、皂莢、黃蠍各數小塊同煮，即食不發風。（《瑣碎錄》）</p>

<h3>犬</h3>
<p>白犬虎文，南鬥君，畜之可致萬石也。（《雜五行書》）</p>
<p>黑犬白耳，大王犬也，畜之令富貴。（同上）</p>
<p>黑犬白前兩足，宜子孫。（同上）</p>
<p>白犬黃頭，家大吉。（同上）</p>
<p>黃犬白尾，代有衣冠。（同上）</p>
<p>黃犬白前兩足，利人。（同上）</p>
<p>人家養犬，純白者凶。（《狗經》）</p>
<p>犬黑色者，養之能闢伏屍。舌青斑者，識盜賊則吠之。（《瑣碎錄》）</p>
<p>白犬合海鮋食之，必得惡病。（《千金要方》）</p>
<p>白犬自死不出舌者，食之害人。（同上）</p>
<p>犬肉不可炙食，令人患消渴病。（《本草》）</p>
<p>犬肉不與蒜同食，損人。（同上）</p>
<p>犬懸蹄肉，有毒殺人。（同上）</p>
<p>犬肉不熟，食之成瘕。（《龍魚河圖》）</p>
<p>吃狗肉人，減克年壽。（《戒殺編類》。又《真武啟聖記》云：食犬折壽祿，作事不利。）</p>
<p>白犬膽青大為妙，和通草、桂為丸服，令人隱形。（《食療本草》）</p>
<p>犬春月多狂。若鼻赤，起而燥者，此欲狂，其肉不任食。（《千金要方》）</p>

<h3>虎</h3>
<p>虎肉不可熱食，壞人齒。（《千金要方》）</p>

<h3>貓</h3>
<p>人家畜貓，一產止一子者，害其主，急棄，人乃免。又云雖一產三四，而皆雄或皆雌者，亦不可畜。（《瑣碎錄》）</p>

<h3>兔</h3>
<p>兔至秋深時則可食，金氣全也。（《本草衍義》）</p>
<p>兔肉和獺肝食之，三日必成遁屍。（《千金要方》）</p>
<p>兔肉共白雞肝、心食之，令人面失色，一年成癉黃。（同上）</p>
<p>兔肉共姜食，變成霍亂。（同上。又《金匱要略方》云，兔著乾薑食之成霍亂。）</p>
<p>兔肉共白雞肉食之，令人血氣不行。（同上。又《金匱要略方》云，令人面發黃。）</p>
<p>兔肉與干橘同食，令人卒患心痛，不可治。（《食療本草》）</p>
<p>兔死而眼合者，食之殺人。（《本草》）</p>
<p>兔肉不可與鵝肉同食，令人血氣不行。（《瑣碎錄》）</p>

<h2>鱗介部</h2>

<h3>龍</h3>
<p>忽見龍勿驚怪，亦勿注意瞻視。（《千金要方》）</p>
<p>龍肉以醢潰之則文章。（《博物志》）</p>

<h3>魚</h3>
<p>魚目有睫，殺人。（《本草》）</p>
<p>魚目得開合，殺人。（同上）</p>
<p>魚二目，殺人。（同上）</p>
<p>魚目合者不可食之。（《金匱要略方》）</p>
<p>魚白目不可食。（《千金要略方》）</p>
<p>魚目赤，作鮓食之，害人。（同上）</p>
<p>魚赤目，作膾食之，生魚瘕。（《巢氏病源》）</p>
<p>魚頭正白如連珠至脊上，食之殺人。（《食禁方》）</p>
<p>魚無鰓者殺人。（《食療本草》。又《千金要方》云，魚無全鰓發癰疽。）</p>
<p>魚赤鱗者，不可食。（《千金要方》）</p>
<p>魚連鱗者，殺人。（《本草》）</p>
<p>凡無鱗者，有毒。（同上）</p>
<p>食無鱗魚，不可吃荊芥，能害人。（《瑣碎錄》）</p>
<p>魚有角，食之發心驚，害人。（《千金要方》）</p>
<p>魚無腸、膽食之三年，丈夫陰痿不起，婦人絕孕。（同上）</p>
<p>魚腹內有白如膏，食之發疽。（《巢氏病源》）</p>
<p>魚白背不可食。（《食禁方》）</p>
<p>魚無須者食之發癩。（同上）</p>
<p>魚身有黑點者，不可食。（《千金要方》）</p>
<p>一切魚尾食之不益人，多食有句骨著人咽。（同上）</p>
<p>魚白鬚，殺人；腹下丹字，殺人；魚師大者有毒，食之殺人。（《本草》）</p>
<p>溪澗沙西中生者，魚有毒多在腦中，不得食頭。（同上）</p>
<p>凡魚羹以蔓菁煮之，蔓菁去魚腥。又萬物腦能銷身，所以餐膾食魚頭羹也。（同上）</p>
<p>魚不熟，食之成瘕。（《龍魚河圖》）</p>
<p>魚餒不食。（《論語》）</p>
<p>二月庚寅日，勿食魚，大惡。（《千金要方》）</p>
<p>六甲日，勿食鱗甲之肉。（《金匱要略方》）</p>
<p>凡食魚不可轉頭，恐為骨所鯁。（《瑣碎錄》）</p>
<p>魚投地塵上不汙，不可食。（《食禁方》）</p>
<p>魚不可合鸕鷀肉食之。（同上。又《食療本草》云，魚汁不可合鸕鷀肉食之。）</p>
<p>魚不得合雞肉食之。（《金匱要略方》。又《食禁方》云：凡魚不可合烏雞肉食之。）</p>
<p>一切魚共菜食之，作蛔蟲、蟯蟲。（《千金要方》）</p>
<p>凡食生魚後，即飲魚酪，發動則損人精氣，腰腳疼弱。（《食禁方》）</p>

<h3>鯉魚</h3>
<p>鯉魚至陰之物也，其鱗三十六，陰極則陽復。所以《素問》曰：魚熱中。王叔和曰：熱即生風，食之所以多發風熱。諸家所解並不言。《日華子》云：鯉魚涼。今不取，直取《素問》為正。萬一家風，更使食魚，則是貽禍無窮矣。（《本草衍義》）</p>
<p>修理鯉魚，可去脊上兩筋及黑血，毒。（《食療本草》）</p>
<p>炙鯉魚，切忌菸，不得令薰著眼，損人眼光，三兩日內，必見驗也。（同上）</p>
<p>食桂竟食鯉魚肉，害人。（《千金要方》）</p>
<p>鯉魚不可合犬肉食之。（《金匱要略方》）</p>
<p>鯉魚不可合蘩葦作羹。（《食禁方》）</p>
<p>鯉魚子，不可合豬肝食之，害人。（同上）</p>

<h3>鯽魚</h3>
<p>鯽魚不可合豬肝食。（《梅師方》）</p>
<p>鯽魚不可合猴、雉肉食之。（《金匱要略方》）</p>
<p>鯽魚宜合蓴作羹，主胃弱。（《本草》）</p>
<p>鯽魚子不宜與豬肉同食。（同上）</p>
<p>食鯽魚不可食沙糖，令人成甘蟲。（《食療本草》）</p>
<p>鯽魚不可合烏雞肉食之，食人發疽。（《食禁方》）</p>
<p>鯽魚不可與麥門冬同食，殺人。（《瑣碎錄》）</p>

<h3>鱸魚</h3>
<p>鱸魚肝有毒，食之中其毒，麵皮剝落。（《食禁方》）</p>
<p>鱸魚食之宜人，不甚發病。（《本草衍義》）</p>
<p>鱸魚多食宜人，作鮓尤良。一云多食發痃癖。（《本草》）</p>
<p>鱸魚不可與乳酪同食。（同上）</p>

<h3>白魚</h3>
<p>白魚新鮮者好食，若經宿者不堪食，令人發冷、生諸疾。（《食療本草》）</p>
<p>白魚多食泥人心。（同上）</p>

<h3>青魚</h3>
<p>青魚服術人勿啖。（《本草》）</p>
<p>青魚不可同葵蒜食，害人。（《齊人千金月令》）</p>
<p>青魚不可合小豆、藿食之。（《食禁方》）</p>

<h3>黃魚</h3>
<p>黃魚發諸病，不可多食，亦發瘡疥、動風。（《本草》）</p>
<p>黃魚不宜和蕎麥麵同食，令人失音聲。（《食禁方》）</p>

<h3>鯔魚</h3>
<p>鯔魚久食，令人肥健。（《食療本草》）</p>

<h3>鯧鱖魚</h3>
<p>鯧鱖魚腹中有子毒，令人痢下。（《本草》）</p>

<h3>鱘魚</h3>
<p>鱘魚，小兒食結癥瘕及嗽，大人久食，令人卒心痛，並使人卒患腰痛。（《食療本草》）</p>
<p>鱘魚不可與干筍同食，發癱瘓風也。（同上）</p>

<h3>鮆魚</h3>
<p>鮆癥魚多食發疥。（《本草》）</p>

<h3>比目魚</h3>
<p>比目魚多食動氣。（《本草》）</p>

<h3>鱖魚</h3>
<p>鱖魚益氣力，令人肥健，仙人劉憑常食之。（《食療本草》）</p>

<h3>黃顙魚</h3>
<p>黃顙魚醒酒，亦無鱗，不益人也。（《本草》）</p>
<p>食黃顙魚後，食荊芥湯，即時死。食他魚，亦宜禁之。（出《遯齊閒覽》。又《瑣碎錄》云：食黃顙魚不可食荊芥，令人吐血，取地漿飲之，即解也。）</p>

<h3>石首魚</h3>
<p>石首魚和蓴萊作羹，開味益氣。（《本草》）</p>

<h3>河豚魚</h3>
<p>河豚眼紅者，獨肝者，不可食。（《瑣碎錄》）</p>
<p>食河豚罷，不可啜菊頭茶。（同上）</p>
<p>豚魚肝及子有毒，入口爛舌，入腹爛腸。（《本草》）</p>

<h3>鮀魚</h3>
<p>鮀魚即鼉也，老者多能變化為邪魅，自非急勿食。（《本草》）</p>
<p>鮀魚能吐氣成霧致雨。梁周與嗣常食其肉，後為鼉所噴，便為惡瘡。此物靈強不可食。（同上）</p>

<h3>鰍魚</h3>
<p>鰍不可合白犬血食之。（《金匱要略方》）</p>

<h3>鱔魚</h3>
<p>鱔魚腹下黃者，世謂之黃鱔，此尤動風氣，多食令人霍亂。又有白鱔，稍大色白，皆動風。（《本草衍義》）</p>
<p>鱔魚不可合白犬血食之。（《金匱要略方》）</p>
<p>鱔是赤圂，形類聖蛇，宜放，不可殺食。（《真武啟聖記》）</p>
<p>食鱔折人壽祿，作事不利。（同上）</p>

<h3>鰻鱺魚</h3>
<p>趙州鏡湖邵長者，家女年十七八，染瘵疾累年不愈。女謂母曰：「妾無由脫此疾，可將棺木盛我，送長流水中。不依妾言，我即自盡。」父母依此語。有錢清江打魚趙十，見棺木，乃開見女子，遂抱下舡中，與飯並羹，後獲大安。趙十夫婦，尋送邵長者家。其遂驚喜，問女如何得命。女曰：趙十日日煮鰻羹供我食，食覺內熱之病皆無矣。邵長者遂酬趙十三百千。今醫所用鰻前乃此意也。（《名醫錄》。又《木草圖經》云，病瘵，鰻和五味採煮食。）</p>
<p>治蚊蟲，以鰻鱺魚乾者，於室燒之，即蚊子化為水矣。（《聖惠方》）</p>
<p>鰻鱺魚燒之熏氈中，斷蛀蟲。置其骨於箱衣中，斷曰魚諸蟲咬衣服。又燒之熏，合屋免竹木生蛀蟲。（《食療本草》）</p>

<h3>鮎魚</h3>
<p>鮎魚赤目、赤須、無腮者，食之並殺人。（《本草》）</p>
<p>鮎魚不可與牛肝合食，令人患風，多噎涎。（《本草圖經》）</p>
<p>鮎魚不可與野豬肉同食，令人吐瀉。（同上）</p>
<p>鯷魚即鮎魚也，不可合鹿肉食之，令人筋甲縮。（《食禁方》）</p>

<h3>黑鱧魚</h3>
<p>鱧魚，屬北方癸水，至夜朝北不動，項盤七點，只宜放，不可殺食。（《真武啟聖記》。又《埤雅》云：鱧魚與蛇通氣，其首戴星，夜則北向，益北方之魚也。）</p>
<p>鱧魚有諸瘡者，不可食，令瘢不滅，或白色。（《食療本草》）</p>
<p>鱧魚，腳氣、風氣人，食之，效。（同上）</p>

<h3>石斑魚</h3>
<p>南方溪澗中，有魚生石上，號石斑魚，作鮓甚美。至春含育則有毒，不可食，云與蜥蜴交也。（出《遯齊閒覽》）</p>

<h3>蛇</h3>
<p>已年不宜殺蛇。（《續酉陽雜俎》）</p>
<p>見蛇莫打，損壽。（《瑣碎錄》）</p>
<p>凡見蛇交則有喜。（同上）</p>
<p>若被蛇咬，不得用口呵，恐毒氣入口，能害人。（同上）</p>

<h3>龜</h3>
<p>龜肉共豬肉食之害人。（《千金要方》）</p>
<p>秋果菜共龜肉食之令人短氣。（同上）</p>
<p>飲酒食龜肉並菰白米，令人生寒熱。（同上）</p>
<p>六甲日，勿食龜肉，害人心神。（同上）</p>
<p>龜肉不可合瓜食之。（《食禁方》）</p>
<p>龜肉不可合莧菜食之。（同上）</p>
<p>龜肉不可合酒果食之。（同上）</p>

<h3>鱉</h3>
<p>鱉系四足，狀如神龜，只宜放，不宜殺食。（《真武啟聖記》）</p>
<p>大忌食鱉，折人壽祿，作事不利。（同上）</p>
<p>鱉腹下成王字不可食。（《千金要方》）</p>
<p>鱉三足食之害人。（同上）</p>
<p>鱉肉、兔肉和芥子醬，食之損人。（同上）</p>
<p>鱉肉共莧、蕨菜食之，作鱉瘕，害人。（同上）</p>
<p>鱉肉共豬肉食之害人。（同上）</p>
<p>六甲日，勿食鱉肉，害人心神。（同上）</p>
<p>鱉目四者不可食。食其肉，不得合雞、鴨子食之。（《金匱要略方》）</p>
<p>鱉肉多食作癥瘕。赤足者殺人，獨目者殺人，目白者殺人，腹下有卜字、五字不可食，頜下有骨加鱉不利。（《本草》）</p>
<p>鱉肉與雞肉食成瘕。（同上）</p>
<p>食鱉須看腹下，有蛇盤紋者，是蛇不可食。（《瑣碎錄》）</p>
<p>蔢荷煮鱉能殺人。（同上）</p>
<p>若買鱉，須縮頭者，頭若伸，皆先死後煮，不可食。（同上）</p>

<h3>鱟</h3>
<p>鱟黑而小者，謂之鬼鱟，食之害人。（《瑣碎錄》）</p>
<p>鱟多食發嗽並瘡癬。（《本草》）</p>

<h3>蟹</h3>
<p>蟹目赤者殺人。（《食療本草》）</p>
<p>蟹腹下有毛，腹中有骨，不利人。（《本草》）</p>
<p>蟹目相向，足斑者，食之害人。（《千金要方》）</p>
<p>食蟹食紅柿及荊芥，令人動風，緣黃下有一風蟲，去蟲食之不妨。（《瑣碎錄》）</p>
<p>糟蟹，如以紙燈照其瓶則沙而不可食。（同上）</p>
<p>蟹八月腹內有芒，真稻芒也，未被霜食，有毒。（《坤雅》）</p>
<p>秋蟹毒者，無藥可療，目相向者，尤甚。（《博物志》）</p>
<p>蟹極動風，體有風疾人，不可食。（《本草衍義》）</p>

<h3>蟛蜞</h3>
<p>蟛蜞不可食。蔡謨初渡江，不識而啖之，幾死。（《本草》）</p>

<h3>牡蠣</h3>
<p>牡蠣火上炙令沸，去殼食之甚美，令人細肌膚，美顏色。（《食療本草》）</p>

<h3>蛤蜊</h3>
<p>蛤蜊性冷，乃與丹石相反，服丹石人食之，令腹結痛。（《本草》）</p>

<h3>淡菜</h3>
<p>淡菜多食，少煩悶目暗，可微利即止。（《本草》）</p>
<p>淡菜燒食即苦，不宜人，與少米先煮熟，後除肉內兩邊鎖及毛了，再入蘿蔔，或紫蘇，或冬瓜皮，同煮即更妙。（同上）</p>

<h3>螺</h3>
<p>螺大寒，療熱醒酒，壓丹石，不可常食。（《食療本草》）</p>
<p>螺不可共菜食之，令人心痛。（《千金要方》）</p>

<h3>蚌</h3>
<p>蚌冷無毒。明目除煩，壓丹石藥毒。（《本草》）</p>
<p>蚌共菜食之，令人心痛。（《千金要方》）</p>

<h3>蚶</h3>
<p>蚶每食了，以飯壓之，不爾令人口乾。（《本草》）</p>
<p>蚶益血色，利五藏，健胃，可火上暖之令沸，空腹中食十數個，以飯壓之，大妙。（同上）</p>

<h3>蟶</h3>
<p>蟶與服丹石人相宜，天行病後不可食，切忌之。又云主胸中煩悶邪熱，止渴，須在飯食後食之佳。（《本草》）</p>

<h3>馬刀</h3>
<p>馬刀，京師謂之撞岸，發風痰，不可多食。（《本草衍義》）</p>

<h3>蜆</h3>
<p>蜆多食發嗽。（《本草》）</p>

<h3>蝦</h3>
<p>蝦無須及腹中通黑，煮之反白者，不可食。（《金匱要略方》）</p>
<p>蝦動風發瘡疥。（《食療本草》）</p>
<p>不可食生蝦鱠。（同上）</p>
<p>蝦不可合雞肉食之，損人。（同上）</p>
<p>凡蝦鱠共豬肉食之，令人噁心多唾，損精氣。（《食禁方》）</p>

<h2>米穀部</h2>

<h3>粳米</h3>
<p>粳米新者動氣，經年者亦發病。燒去芒春之，日火稻，食即不發病。唯陳倉米暖脾平胃。（《本草》）</p>
<p>干粳米飯，常食令人熱中，唇口乾。（同上）</p>
<p>粳米飯不可和蒼耳食之，令人卒心痛，即急燒倉米炭，和蜜漿服之，不爾即死。（同上）</p>
<p>粳米飯不可與馬肉同食之，發痼疾，陳倉米亦然。（同上）</p>

<h3>糯米</h3>
<p>糯米寒，唯作酒則熱，不可多食，令人身軟，緩人筋。</p>
<p>糯，脾之谷，味甘，脾病宜食，益氣止泄，治百病。（《明鑑圖》）</p>
<p>糯使人四肢不收，昏昏多睡，發風動氣，不可多食。霍亂後，吐逆不止，清水研一碗飲之，即止。（《食療本草》。又《本草》日、《華子》云：糯米止霍亂，取一合煮粥食即止。）</p>

<h3>黍米</h3>
<p>黍，肺之谷，味辛，肺病宜食，溫，主益氣，治百病。（《明鑑圖》）</p>
<p>黍米性寒，有少毒，不堪久服，昏五臟，令人好睡，緩人筋骨，絕血脈。（《本草》）</p>
<p>黍米不可久食，多熱，令人煩悶。（《食醫心鏡》）</p>
<p>黍米合葵菜食之成痼疾。（《食療本草》）</p>
<p>黍米中臟，脯臘食之，令人閉氣。（《千金要方》）</p>
<p>黍，七月陰乾，益中補氣。（《吳氏本草》）</p>
<p>黍米、白酒、生牛肉共食，作寸白蟲。（《食禁方》）</p>
<p>黍米不可合飴糖、蜜食之。（同上）</p>

<h3>稷米</h3>
<p>稷米，今謂之穄米，發故疾。</p>
<p>稷米，多食發冷氣，不可與川附同服。（《本草》）</p>
<p>稷米，服丹石人發熱，食之熱消。不與瓠子同食，令人發病，發則黍釀汁飲之，即瘥。（《食療本草》）</p>

<h3>胡麻</h3>
<p>胡麻一名苣蕂，服之不老，耐風濕、補衰老。（《抱朴子》）</p>
<p>胡麻九蒸九曝，末之，以棗膏丸，服之治白髮還黑。（《千金要方》）</p>
<p>胡麻補五內，益氣力，長肌肉，填髓腦，堅筋骨，久服輕身不老，明耳目，耐飢渴，延年。（《本草》）</p>
<p>胡麻葉可沐頭，令髮長。（《本草圖經》）</p>

<h3>油麻</h3>
<p>白油麻久食，消人肌肉，生則寒，炒熟則熱。（《本草圖經》）</p>
<p>白油麻與乳母食，其孩子永不生病。（《本草》）</p>
<p>白油麻治飲食物，須逐日熬熟用，經宿即動氣，有牙齒並脾胃疾人，切不可吃。（同上）</p>

<h3>大麻子</h3>
<p>麻，肝之谷，味酸，肝病宜服，治百病。（《明鑑圖》）</p>
<p>大麻子須隔年者，方可食。（《瑣碎錄》）</p>

<h3>大豆</h3>
<p>大豆，久服令人身重。（《本草》）</p>
<p>大豆，久食令人作癖。（《食禁方》）</p>
<p>大豆，每食後淨磨拭，吞雞子大，令人長生。初服時似身重，一年已後，不覺身輕，又益陽道。（《食療本草》）</p>
<p>大豆，一斗以新布盛，內井中一宿，出服七粒，闢溫病。（《傷寒類要》）</p>
<p>大豆糏，忌食豬肉。炒豆不得與一歲已上小兒食，食竟啖豬肉，必壅氣死。（《千金要方》）</p>
<p>蒸大豆一升，令變色，內囊中枕之，治頭項強，不得顧視。（同上）</p>
<p>醋煮大豆黑者，去豆煎令稠，敷發合發鬢。（同上）</p>

<h3>白豆</h3>
<p>白豆味鹹，腎之谷，腎病宜食，煞鬼氣。（《孫真人食忌》）</p>
<p>白豆合魚鮓食之，成消渴。（同上）</p>

<h3>青小豆</h3>
<p>青小豆合鯉魚鮓食之，令人肝黃，五年成干痟病。（《千金要方》）</p>

<h3>赤小豆</h3>
<p>赤小豆久服，令人枯燥。（《千金要方》）</p>
<p>赤小豆久食瘦人。（《本草》）</p>
<p>赤豆合魚鮓食之，成消渴。（《孫真人食忌》）</p>
<p>昔有人患腳氣，用赤小豆作袋，置足下朝夕輾轉踐踏之，其疾遂愈。（《本草圖經》）</p>
<p>丹毒，以赤小豆末和雞子白塗之，逐手即消。又諸腫毒欲作癰疽者，以水塗便可消散。（同上）</p>
<p>赤小豆和鯉魚爛煮食之，甚治腳氣。（《食療本草》）</p>
<p>暴痢後，氣滿不能食，煮赤小豆一頓服之，即愈。（同上）</p>
<p>熱毒下血，或食熱物發動，以赤小豆杵末，水調方寸匕。（《梅師方》）</p>

<h3>綠豆</h3>
<p>綠豆作枕，明目治頭風頭痛。（《本草》）</p>
<p>綠豆下氣，諸食發，作餅炙食之佳。補益，和五藏，安精神，行十二經脈，此最為良。又研汁煮飲服之，治消渴，去浮風，益氣力，潤皮肉，可長食之。（《食療本草》）</p>

<h3>扁豆</h3>
<p>扁豆久食頭不白。（《食療本草》）</p>
<p>白扁豆解一切草木毒，生嚼及煎湯服取效。（《本草》）</p>
<p>扁豆療霍亂，吐痢不止，末和醋服之。（同上）</p>

<h3>粟米</h3>
<p>粟米，胃冷者不宜多食。（《本草拾遺》）</p>
<p>小兒重舌，用粟補之。（《子母秘錄》）</p>
<p>消渴口乾，粟米飲飯食之良。（《食醫心鏡》）</p>

<h3>嬰粟</h3>
<p>嬰粟不可多食，食過度則動膀胱氣。（《本草圖經》）</p>
<p>療反胃不下，飲食嬰粟粥法：白嬰粟二合，人參末三大錢，生芋五寸長，細切，研三物，以水一升二合，入生薑汁及鹽花少許，攪勻分二服，不計早晚食之，亦不妨別服湯丸。（《南唐食醫方》）</p>

<h2>果實部</h2>

<h3>總果</h3>
<p>非時果實不可食，防帶邪氣入腹。（《西山記》）</p>
<p>時果有黶，或損，不可食。（《食治通說》）</p>
<p>勿食未成核果，發癰疽，不爾發寒熱，變黃，為泄痢。（《巢氏病源》）</p>
<p>自落地五果經宿，蚍蜉、螻蛄、蜣蜋游上，勿食。</p>
<p>果子生食生瘡。（《金匱要略方》）</p>
<p>一切果核中有兩仁者，並害人。（《千金要方》）</p>

<h3>棗子</h3>
<p>大棗，久服長生，不飢。（《千金要方》）</p>
<p>生棗，食多令人腹脹，多寒熱，羸瘦者不可食。煮食補腸胃，肥中益氣。干棗潤心肺，止嗽，和五藏，治虛勞損，除腸胃癖氣。（《本草》）</p>
<p>棗味甘補脾，脾病宜食，治百病。（《明鑑圖》）</p>
<p>軟棗不可多食，動人風氣，發冷病咳嗽。（《食禁方》）</p>
<p>棗合生蔥食之，令人病。（《金匱要略方》）</p>

<h3>梅子</h3>
<p>梅子多食壞人齒。（《千金要方》）</p>
<p>梅子多食傷骨，蝕脾胃，令人發熱。（《本草》）</p>

<h3>桃子</h3>
<p>桃味辛，肺病宜食，治百病。（《明鑑圖》）</p>
<p>桃多食令人有熱。（《千金要方》）</p>
<p>飽食桃，入水浴，成淋病。（同上）</p>
<p>桃生者食之損人。（《食療本草》）</p>

<h3>杏子</h3>
<p>杏味苦，心病宜食，治百病。（《明鑑圖》）</p>
<p>杏子熱，不可多食，損人筋骨，面皯。（《食療本草》）</p>
<p>杏多食令人目盲。（《修真秘旨》）</p>
<p>杏仁不可久服，令人目盲發落，動一切宿病。（《千金要方》）</p>

<h3>李子</h3>
<p>李，無毒，益氣，多食令人虛熱。（《本草》）</p>
<p>李子不可合雀肉食。（同上）</p>
<p>李不可合蜜食，損五藏。（《食醫心鏡》）</p>
<p>李不可多食，臨水上食，令人發痰瘧。（《食療本草》）</p>
<p>李味酸，肝病宜食，治百病。（《明鑑圖》）</p>
<p>李仁不可和雞子食之，患內結不消。（《本草》）</p>

<h3>梨子</h3>
<p>梨多食，令人寒中。（《千金要方》）</p>
<p>金瘡、產婦勿食梨，令人萎困，寒中。（同上）</p>
<p>胸中痞塞熱結，可多食生梨。（《本草》）</p>
<p>吃梨益齒損腎。（《瑣碎錄》）</p>

<h3>柰子</h3>
<p>柰子不可多食，令人虛病。（《食療本草》）</p>
<p>柰味苦，令人臆脹，病人不可多食。（《太平御覽》）</p>

<h3>柑子</h3>
<p>柑子食多，令人肺燥，冷中，發痃癖。（《食療本草》）</p>
<p>柑子多食發陰汗。（《本草》）</p>

<h3>橘子</h3>
<p>橘子，酸者聚痰，甜者潤肺。（《本草拾遺》）</p>
<p>橘柚不可多食，令人口爽，不知五味。（《食禁方》）</p>

<h3>橙子</h3>
<p>橙子不可多食，傷肝氣。（《本草》）</p>
<p>橙子不可與猵肉同食，令人頭旋噁心。（《食禁方》）</p>

<h3>松子</h3>
<p>取松子搗為膏，如雞子大，酒調下，日三服，則不飢渴。飲水，勿食他物，百日身輕。（《聖惠方》）</p>
<p>松子補虛羸、少氣、不足。（《本草》）</p>
<p>油松子不可吃，損人聲。（《瑣碎錄》）</p>

<h3>柿子</h3>
<p>紅柿摘下未熟，每籃將木瓜三、兩枚於其中，其柿得木瓜即發，並無澀味。（《瑣碎錄》）</p>
<p>紅柿飲酒令人心痛。（《本草》）</p>
<p>凡食柿，不可與蟹同，令人腹痛大瀉。（《本草圖經》）</p>
<p>牛奶柿至冷，不可多食。（同上）</p>
<p>椑柿久食令人寒中。（《本草》）</p>
<p>日乾柿溫補，多食去面皯，除腹中宿血。（同上）</p>

<h3>栗子</h3>
<p>慄味鹹，腎病宜食，治百病。（《明鑑圖》）</p>
<p>栗子生食治腰腳，蒸炒食之，令氣壅，患風水氣，不宜食。宜日中曝乾食，即下氣補益。今所食生慄，可於熱灰火中煨，冷汗出，食之良。不得通熱，即壅氣，生即發氣，故火煨投其木氣耳。（《食療本草》）</p>

<h3>林檎</h3>
<p>林檎多食，令人百脈弱。（《千金要方》）</p>
<p>林檎不可多食，發熱澀氣，令人好睡，發冷痰，生瘡癤，脈關不行。（《本草》）</p>

<h3>櫻桃</h3>
<p>櫻桃令人好顏色。美志性。（《千金要方》）</p>
<p>櫻桃多食令人吐。（《本草》）</p>
<p>櫻桃多食傷筋骨。（《金匱要略方》）</p>
<p>櫻桃多食發虛熱，有暗風人不可啖，啖之立發。（《本草圖經》）</p>

<h3>荔枝</h3>
<p>荔枝子止渴，益人顏色，如吃太多，用生蜜一匙，新汲水化吃。（《食療本草》）</p>
<p>荔枝子食之通神、益智、健氣，多食則發熱。（同上）</p>
<p>荔枝食之有益於人。列仙傳稱，有食其華，實為荔枝。仙人葛洪云：蠲渴補髓，或以其性熱，人有日啖千顆，未嘗為疾，即少覺熱，以蜜漿解之。（《荔枝譜》）</p>

<h3>龍眼</h3>
<p>龍眼久食，益智強魂，去毒安志。（《本草》）</p>
<p>生龍眼沸湯內焯過，食之不動脾。（《瑣碎錄》）</p>

<h3>胡桃</h3>
<p>胡桃發風，須以湯剝去肉上薄皮，過夏至不堪食。（《本草衍義》）</p>
<p>胡桃多食動痰飲，令人噁心、吐水、吐食。（《千金要方》）</p>
<p>胡桃多食利小便，能脫人眉，動風故也。（《本草》）</p>
<p>油胡桃不可吃，損人聲。（《瑣碎錄》）</p>
<p>食胡桃多者，令人吐血。（同上）</p>

<h3>安石榴</h3>
<p>石榴多食損齒。（《食療本草》）</p>
<p>安石榴多食損人肺。（《千金要方》）</p>

<h3>木瓜</h3>
<p>木瓜不可多食，損齒及骨，又臍下㽲痛。（《食療本草》）</p>

<h3>枇杷</h3>
<p>枇杷多食發痰熱。（《本草》）</p>
<p>枇杷和熱炙肉及熱麵食之，令人患熱毒、黃病。（同上）</p>

<h3>榲桲</h3>
<p>榲桲食之須淨去上浮毛，不爾損入肺。（《本草衍義》）</p>
<p>榲桲發毒熱，秘大小腸，聚胸中痰壅，不宜多食，澀血脈。（《本草》）</p>

<h3>楂子</h3>
<p>楂子損齒及筋，不可食之。（《食療本草》）</p>

<h3>楊梅</h3>
<p>楊梅多食令人發熱。（《本草》）</p>
<p>楊梅不可多食，甚能損齒及筋。（《食療本草》）</p>

<h3>橄欖</h3>
<p>橄欖食之必去兩頭，有大熱。（《能改齋漫錄》）</p>
<p>橄欖過白露摘食，庶不病瘧。（《瑣碎錄》）</p>

<h3>榧子</h3>
<p>榧子多食，能消穀，助筋骨，行榮衛，明目輕身。（《食療本草》）</p>
<p>榧子食之過多則滑腸。（《本草衍義》）</p>

<h3>榛子</h3>
<p>榛子益氣力，寬腸胃。（《本草》）</p>

<h3>葡萄</h3>
<p>葡萄久服輕身不老，可作酒服之，強力調志。不問土地，但收釀酒皆美好。或云，子不堪食，令人卒煩眼暗。（《食療本草》）</p>

<h3>蓮子</h3>
<p>蓮子食之宜蒸，生則脹人腹中，薏令人吐，食當去之。（《本草拾遺》）</p>
<p>蓮子不去心食成霍亂。（《孫真人食忌》。又《圖經》云蓮子苦薏食之令霍亂。）</p>
<p>蓮子性寒，生食微動氣，蒸食之良。（《食療本草》）</p>

<h3>藕</h3>
<p>藕生食，主霍亂後虛渴，煩悶不能食。蒸食甚補五藏，實下焦，與蜜同食，令人腹臟肥，不生諸蟲。（《食療本草》）</p>
<p>藕除煩，解酒毒，壓食及病後熱渴。（《本草拾遺》）</p>
<p>食藕用少鹽水，或梅水浸，供多食不損口。（《瑣碎錄》）</p>
<p>藕久服輕身耐老，止熱破血。（《千金要方》）</p>

<h3>雞頭</h3>
<p>雞頭，益精氣強志，令耳目聰明。久服輕身，不飢耐老。（《本草》）</p>
<p>雞頭，作粉食之甚妙，是長生之藥，與小兒食，不能長大，故駐年耳。生食動風冷氣。（《食療本草》）</p>
<p>雞頭實，食多不益脾胃氣，兼難消化。（《本草衍義》）</p>

<h3>菱</h3>
<p>菱性冷，不可多食。（《本草圖經》）</p>
<p>菱實令人臟冷，損陽氣痿莖，可少食。多食令人腹脹滿者，可暖酒和姜飲，一兩盞即消。（《食療本草》）</p>
<p>菱角食之不益脾。（《本草衍義》）</p>

<h2>菜蔬部</h2>

<h3>總菜</h3>
<p>菜不可生茹。（《食治通說》）</p>
<p>醃菜失覆不可食。（同上）</p>
<p>簷下滴菜有毒。（《酉陽雜俎》）</p>
<p>凡海中菜，有小螺子損人，不可多食。（《本草》）</p>
<p>凡一切菜，熟煮熱食。（《金匱要略方》）</p>
<p>夜食生菜不利人。（同上）</p>

<h3>蔥</h3>
<p>蔥多食昏人神。（《本草衍義》）</p>
<p>蔥初生芽者，食之傷人心氣。（《金匱要略方》）</p>
<p>夜食蔥傷人心。（同上）</p>
<p>生蔥和雄雞、雉、白犬肉食之，令人竅經年血流。（同上）</p>
<p>生蔥合棗食令人病。（同上）</p>
<p>生蔥不可共蜜，食之殺人。（《食禁方》）</p>
<p>食燒蔥並啖蜜，令人擁氣而死。（同上）</p>
<p>生蔥和雞子食，令人變嗽。（《本草》）</p>
<p>凍蔥，冬不死最善，宜冬月食，不宜多。虛人、患病者多食，發氣沖人，五臟悶絕。（《食療本草》）</p>
<p>蔥味辛，能通利肺壅，治百病。（《明鑑圖》）</p>

<h3>蒜</h3>
<p>凡食小蒜，不可啖生魚。令人奪氣，陰核疼。（《千金要方》）</p>
<p>小蒜不可久食，損人心力。（同上）</p>
<p>獨頭蒜不可共蜜，食之殺人。（《食禁方》）</p>
<p>凡蒜不可食，食之傷血。（同上）</p>
<p>啖蒜多，令人眼暗，昏沉好睡。（《四時養生論》）</p>

<h3>韭</h3>
<p>韭味酸，補肝，治百病。（《明鑑圖》）</p>
<p>韭春食則香，夏食則臭，多食則昏神。未出糞土為韭黃，最不益人，食之即滯氣。（《本草衍義》）</p>
<p>霜韭，凍不可生食，動宿飲，盛必吐水。（《千金要方》）</p>
<p>韭能充肝氣。（《食醫心鑑》）</p>
<p>韭初生芽者，食之傷人心氣。（《金匱要略方》）</p>
<p>韭多食昏神暗目，酒後尤忌，不可與蜜同食。（《本草》）</p>
<p>韭不可與牛肉作羹食之，成瘕疾。（《食禁方》）</p>
<p>食韭後，楊枝皮擦牙，用冷水漱之，即不作氣息。（《瑣碎錄》）</p>

<h3>薤</h3>
<p>薤味苦，補心，心病宜食，治百病。（《明鑑圖》）</p>
<p>薤不可共牛肉作羹，食之成瘕疾。（《千金要方》）</p>
<p>薤白色者最好，雖有辛氣，不葷人五臟，學道人長服之，可通神安魂魄，益氣續筋力。（《食療本草》）</p>
<p>凡用蔥薤，皆去青留白，云白冷而青熱也。（《本草圖經》）</p>

<h3>葫</h3>
<p>葫，大蒜也，久食損目明，又使人白髮早。（《本草》）</p>
<p>生葫合青魚鮓食之，令人腸內生瘡，腸中腫，又成疝瘕。（《食醫心鏡》）</p>
<p>生蒜多食傷肝氣，令人面無顏色。（同上。又《千金要方》云，多食生葫行房，傷肝氣、令人面無顏色。）</p>

<h3>姜</h3>
<p>生薑去痰、下氣、止嘔，除風邪寒熱，久服通神明，不可多食。（《本草》）</p>
<p>夜食姜，損人心。（《金匱要略方》）</p>

<h3>芥菜</h3>
<p>紫芥多食之動風。（《本草衍義》）</p>
<p>芥大葉者良，煮食之動氣，生食發丹石。其子有辛氣，能通利五臟，其葉不可食多。又細葉有毛者殺人。（《食療本草》）</p>
<p>芥菜不可共兔肉食，成惡邪病。（《千金要方》）</p>

<h3>茄子</h3>
<p>茄子不可多食，動氣及痼疾，熟者少食無畏。（《本草拾遺》）</p>
<p>茄子熟者，食之厚腸胃，動氣發疾。（《酉陽雜俎》）</p>

<h3>菘菜</h3>
<p>菘菜有小毒，不宜多食。然能殺魚腥，最相宜也。多食過度，惟生薑可解其性。（《本草圖經》）</p>
<p>藥有甘草而食菘，即令病不除。（《本草》）</p>
<p>菘菜多食發皮風瘙癢。（同上）</p>

<h3>莙薘</h3>
<p>莙薘不可多食，動氣，先患腹冷，食必破腹。（《本草》）</p>

<h3>苜蓿</h3>
<p>苜蓿安中利人，可久食。（《本草》）</p>
<p>苜蓿少食好，多食當冷氣入筋中，即瘦人。（《食療本草》）</p>

<h3>蘿蔔</h3>
<p>上床蘿蔔下床姜，蓋夜間蘿蔔消酒食，早起姜開胃也。（《瑣碎錄》）</p>
<p>蘿蔔能解面毒。（《洞微志》）</p>
<p>蘿蔔根，消食利關節，理顏色，練五臟惡氣，解面毒。凡人飲食過度，生嚼咽之，便消破如泥，和麵作餺飥佳。（《本草》）</p>
<p>蘿蔔和羊肉食，下五臟一切氣，令人肥白。如無羊肉，諸魚肉亦得用也。（《食療本草》）</p>
<p>蘿蔔久服澀榮衛，令人發早白。（《孫真人食忌》。又《本草衍義》云：服地黃、何首烏人食蘿蔔則髭發白。）</p>

<h3>薺菜</h3>
<p>薺菜久食視物鮮明。（《本草》）</p>
<p>薺和肝氣明目，凡人夜則血歸於肝，肝為宿血之臟，過三更不睡，則朝旦面色黃燥，以血不得歸故也。若肝氣和，則血脈通流，津液暢潤，瘡疥於此何有。君今患瘡，宜食薺。其法：取薺一二升許，淨洗入淘了米三合，冷水三升，生薑不去皮，挫兩指大，同入釜中，澆生油一蜆殼，當於羹面上不得觸，觸則生油氣，不得入鹽醋。此物以為幽人山居之祿，不可忽也。（《東坡尺牖》）</p>

<h3>蔓青</h3>
<p>蔓青菜中之最有益者，常食之通中益氣，令人肥健。（《本草圖經》）</p>

<h3>蓴菜</h3>
<p>食蓴菜能引疫氣，蓴菜上有水銀也。（《瑣碎錄》）</p>
<p>蓴菜多食動痔病。（《千金要方》）</p>
<p>蓴菜和鯉魚作羹，下氣止嘔，多食發痔，雖冷而補。熟食之，亦壅氣不下，甚損人胃及齒，不可多食，令人顏色惡。又不宜和醋食之，令人骨痿。少食補大小腸虛氣，久食損毛髮。（《食療本草》）</p>
<p>溫病起食蓴者多死。（《本草拾遺》）</p>

<h3>牛蒡</h3>
<p>牛蒡通十二經脈，洗五臟壅氣，可常菜食。（《食療本草》）</p>

<h3>莧菜</h3>
<p>莧菜動氣，令人煩悶，冷中損腹。不可與鱉肉同食，生鱉癥。其鱉甲挫以莧菜封裹置於土坑內，上以土蓋之，一宿盡成鱉兒也。（《食療本草》）</p>

<h3>葵萊</h3>
<p>葵菜傷人，百藥忌食心，心有毒。（《千金要方》）。</p>
<p>霜葵陳者生食之，動五種流飲。（同上）</p>
<p>葵菜和鯧魚鮓食之害人。（同上）</p>
<p>每十日一食葵，葵滑所以通五臟壅氣。又是菜之主，不用合心食之。（同上）</p>
<p>葵能充脾氣。又霜葵多食吐水，葵合鯉魚食害人。（《孫真人食忌》）</p>
<p>天行病後，食葵一頓便失目。（《食療本草》）</p>

<h3>菠薐</h3>
<p>菠薐久食，令人腳弱不能行，發腰痛。不與鯉魚同食，發霍亂吐瀉。（《本草》）</p>

<h3>蕓薹</h3>
<p>蕓薹，若先患腰膝，不可多食，必加極。又極損陽氣，發口瘡齒痛，又能生腹中諸蟲，道家時忌。（《食療本草》）</p>

<h3>瓠子</h3>
<p>甜瓠，患腰腳腫氣及虛腫者，食之永不差。（《孫真人食忌》）</p>

<h3>蘭香</h3>
<p>蘭香，不可多食，壅關節，澀榮衛，令血脈不行，又動風發腳氣。（《本草》）</p>

<h3>蕨</h3>
<p>蕨，久食令人腳弱不能行，消陽氣縮莖，多食發落，頭皮癢，鼻塞眼暗。腹中冷氣食之，當時肚脹。小兒不可食，立行無力。（《食療本草》）</p>
<p>郗鑑鎮丹徒二月出獵，有甲士折蕨一枝食之，覺心中成疾。後吐一小蛇，懸屋前漸幹成蕨，遂明此物不可生食。（《搜神記》）</p>
<p>蕨不可共鱉肉食，成鱉瘕。（《千金要方》）</p>

<h3>胡荽</h3>
<p>胡荽，不可久食，令人多忘。（《千金要方》）</p>
<p>胡荽，病人不可食。（《金匱要略方》）</p>
<p>胡荽，久食發腋臭，根發痼疾。（《本草拾遺》）</p>
<p>胡荽，不得與斜蒿同食，令人汗臭難瘥。（《食療本草》）</p>

<h3>胡蔥</h3>
<p>胡蔥，久食傷神損性，令人多忘，損目明，尤發痼疾。患狐臭人，不可食，令轉盛。（《本草》）</p>
<p>食胡蔥青魚，令人腸生蟲。（同上）</p>
<p>胡蔥，四月勿食，令人氣喘多驚。（《孫真人食忌》）</p>

<h3>胡瓜</h3>
<p>胡瓜不可多食，動寒熱，多瘧病，發百疾及瘡疥，髮腳氣。（《孫真人食忌》）</p>
<p>胡瓜，天行後不可食。小兒切忌，滑中生疳蟲。不與醋同食。（《本草》）</p>
<p>胡瓜食之發熱病。（《金匱要略方》）</p>

<h3>冬瓜</h3>
<p>白冬瓜即冬瓜也，此物經霜後，皮上白如粉塗。故云：白冬瓜也。益氣耐老，除胸中滿，去頭面熱。熱者食之佳，冷者食之瘦人。（《食療本草》）</p>
<p>冬瓜煮食之，練五臟，為下氣故也。（同上）</p>
<p>水病初得危急，冬瓜不限多少，任吃之，神效無比。</p>

<h3>甜瓜</h3>
<p>甜瓜，多食令人陰下癢濕，生瘡，發黃疸病。《千金要方》</p>
<p>凡瓜入水沉者，食之得冷氣，終身不瘥。（同上）</p>
<p>甜瓜，多食動寒熱，多瘧病。（同上）</p>
<p>瓜兩蒂兩鼻害人。（《本草》）</p>
<p>瓜苦有毒。（同上）</p>
<p>瓜除瓤食之不害人，若覺多，即入水自漬便即消。（同上）</p>
<p>甜瓜暑月服之，永不中暑氣。多食未有不下利者，貧下多食，至深秋作痢為難治，為其消損陽氣故也。（《本草衍義》）</p>
<p>甜瓜不可多食，動宿冷、病弱、腳手無力。《食禁方》食被霜瓜，向冬發寒熱及濕病。（《巢氏病源》）</p>

<h3>越瓜</h3>
<p>越瓜不可多食，動氣發諸瘡，令人虛弱不能行，不益小兒。天行病後，不可食。又不得與牛乳酪作鮓同食及空心食，令人心痛。（《本草》）</p>

<h3>芹菜</h3>
<p>水芹寒，養脾益力，令人肥健，殺藥毒，置酒醬中香美，和醋食之損齒。生黑滑地名曰水芹，食之不如高田者宜人。余田中，皆諸蟲子在其葉下，視之不見，食之與人為患。（《食療本草》）</p>
<p>芹菜患鱉瘕者不可食。（《本草拾遺》）</p>
<p>春秋二時，龍帶精入芹菜中，人遇食之為病，發時手青，腹滿不可忍，作蛟龍病，服硬糖二三升，日兩度，吐出如蜥蜴三、五，便瘥。（《金匱要略方》）</p>
<p>芹赤葉有毒。（《本草》）</p>
<p>芹菜益筋力，去伏熱，止血養精，保血脈，嗜食作齏菹，及煮食並得。（《食醫心鏡》）</p>

<h3>蔊菜</h3>
<p>蔊菜細切，以生蜜洗，或略煎，吃之爽口，妙，能消酒食發痼疾。（《瑣碎錄》）</p>

<h3>蕫蒿</h3>
<p>蕫蒿動風氣，燻人心，令人氣滿，不可多食。（《本草》）</p>

<h3>鹿角菜</h3>
<p>鹿角菜，不可久食，發痼疾，損經絡血氣，令人腳冷痹，損腰腎，少顏色，服丹石人食之，下石力，又能解面熱。（《本草》）</p>

<h3>昆布</h3>
<p>昆布多食令人瘦。（《本草》）</p>

<h3>紫菜</h3>
<p>紫菜多食，令人腹痛發氣，吐白沫，飲少熱醋之。（《本草》）</p>

<h3>決明</h3>
<p>決明葉，明目輕身，利五臟，作菜食之良。子主肝家熱，每日取一匙，將去空腹吞之，百日後夜見字。（《食療本草》）</p>

<h3>苦蕒</h3>
<p>苦蕒夏月宜食以益心。（《瑣碎錄》）</p>

<h3>萵苣</h3>
<p>萵苣多食昏人眼，蛇亦畏之，有人禁此一物不敢食，目不昏。（《本草衍義》。又《瑣碎錄》云：要得遠覷，莫出萵苣。）</p>
<p>萵菜有毒，百蟲不敢近，蛇虺過其下，誤觸之則目瞑不見物。中其毒者，唯生薑汗能解之。（《遯齋閒覽》）</p>

<h3>筍</h3>
<p>苦竹筍，主不睡，去面目並舌下熱黃、消渴、明目、酒毒，除熱氣健人。（《本草拾遺》）</p>
<p>筍箭，筍新者稍可食，陳者不可食。（《食療本草》）</p>
<p>淡竹筍，雖美口，發背悶腳氣。（同上）</p>
<p>筍動氣，發冷癥，不可多食。（同上。又《千金要方》：患冷之人食筍心痛。）</p>
<p>筍以蔢荷葉數片同煮，即無蘞味。（《瑣碎錄》）</p>
<p>煮筍二三日不爛，脾難克化，脾病者不宜吃。（同上）</p>

<h3>茭白</h3>
<p>茭白不可合生菜食之。（《食禁方》）</p>
<p>茭白多食發氣並弱陽。（《本草》）</p>
<p>茭白雜蜜食之發痼疾。（《本草拾遺》及《本草》云：茭白蜜食下痢。）</p>
<p>茭白，主心胸中浮熱動氣，不中食，發冷滋牙齒，傷陽道，令下焦冷，不食為妙。（同上）</p>

<h3>乾薹</h3>
<p>乾薹發諸瘡疥，下一切丹石，殺諸藥毒。不可多食，令人痿黃少血色。（《食療本草》）</p>

<h2>菌蕈</h2>
<p>地生者為菌，木生者為檽，江東人呼為蕈。夜中光者有毒，煮不熟者有毒，煮訖照人無影者有毒，採歸色變者有毒，有惡蟲有毒，欲爛無蟲者有毒。冬春無毒者，為蛇過也。（《本草》）</p>
<p>菌，槐樹上生者良，野田中恐有毒，發冷氣，令腹中微微痛。（《食療本草》）</p>
<p>菌仰卷及赤者不可食。（《金匱要略方》）</p>
<p>食楓樹菌而笑不止。（同上）</p>
<p>凡食新蕈有毛者，能殺人，以姜錢試之，姜黑則蕈有毒。又無裙者毒，用薑、椒、麻油、鹽，慢火熬數十沸，姜椒俱黑者有毒。（《瑣碎錄》）</p>
<p>菌下無紋者有毒，食之殺人。（同上）</p>
<p>蕈，桑、槐樹上者良，治風破血益心力。其餘樹上者多動風，發痼疾，痔病，令人兩肋下急痛，損經脈，又令人背膊悶。（《藥性論》）</p>
<p>蕈如彈圓，未敷者為珍，時有毒者，先以生薑同煮，色變者不可食。不幸中毒，急飲地漿乃解。地漿者，掘黃土也深尺余，投新水其中熟攪，俟其稍澄，挹取飲之。（《忘倦錄》）</p>
<p>如掘土中，其下多因有朽壤乃生，遇震雷謂之雷菌。嫩者極珍，雖有土氣，味至多。有毒者往往殺人，不可不慎也。凡有折中多細白蟲，宜先以油湯灌之，其蟲立出。（同上）</p>

<h3>木耳</h3>
<p>木耳赤色及仰生者勿食。（《金匱要略方》）</p>
<p>木耳寒，利五臟。宣腹胃熱壅毒，亦不可多食，服丹石人熱發，和蔥頭煮作羹食之，即止。（《食療本草》）</p>

<h2>草木部</h2>

<h3>松黃</h3>
<p>松花上黃粉名松黃，山人及時拂取，作湯點之甚佳，但不堪停久。（《本草圖經》。又《本草》云，松黃酒服能輕身療病。）</p>

<h3>桃花</h3>
<p>酒漬桃花飲之，除百病，益顏色。（《太清諸草木方》）</p>

<h2>橘花</h2>
<p>橘花不得便聞，蓋花上有姜毒，亦謂之雞距子，有人曾聞，害鼻臭不可近。（《瑣碎錄》）</p>

<h3>茉莉</h3>
<p>茉莉花，莫安床頭，引蜈蚣。（《瑣碎錄》）</p>

<h3>槿花</h3>
<p>木槿花，小兒不可摘弄，能令人病瘧，俗謂槿為瘧子花。（《瑣碎錄》）</p>

<h3>菊花</h3>
<p>菊花作枕明目。（《本草》）</p>
<p>白菊味苦，染髭發令黑，和苣蕂、茯苓、蜜，尤主頭風眩，變白。不老，益顏色。（《本草拾遺》）</p>

<h3>蠟梅</h3>
<p>蠟梅花，不可便聞，恐生鼻痔。（《瑣碎錄》）</p>

<h3>萱草</h3>
<p>萱草嫩苗及花跗作菜食，利胸膈，甚佳。（《本草圖經》）</p>
<p>萱草名宜男，妊婦佩其花，必生男。（《風土記》）</p>

<h3>蒲黃</h3>
<p>蒲黃，即蒲花中蕊屑也。細若金粉，當其欲開時便取之，以蜜搜作果實，甚益小兒。（《本草圖經》）</p>

<h3>芭蕉</h3>
<p>人家不可多種芭蕉，久而招祟。（《瑣碎錄》）</p>

<h3>桑椹</h3>
<p>桑椹食之益精神，久食可以代糧不飢，能變白髮為黑。（《東坡物類相感志》）</p>
<p>桑椹補五臟，明耳目，利關節，和經脈，通血氣。取黑椹一升，和虼蚪一升，和之瓶中，密封口，於屋東懸之，百日盡化為泥，可染白髮，終不復白。（《食療本草》）</p>
<p>桑椹暴乾和蜜食之，令人聰明，安魂鎮神。（《本草圖經》。又《食療本草》云：桑椹曝乾，末，蜜為丸。每服四十丸，久服良。）</p>

<h3>探子</h3>
<p>探子熟者，和蜜食之去嗽。（《本草》）</p>

<h3>楮</h3>
<p>立截楮木作枕，六日一新者能治頭中白屑。（《瑣碎錄》）</p>
<p>楮實，益氣，充肌膚，明目，久服不飢不老。（《本草》）</p>

<h3>黃精</h3>
<p>黃精根如嫩薑黃色，二月採，蒸過，曝乾用。令通八月採山中人，九蒸九曝，作果甚甜美。初生苗時，人多采為菜茹，謂之筆菜，味極美。（《本草圖經》）</p>

<h3>枸杞</h3>
<p>枸杞冬採根，夏採葉，可作羹，味小苦。補益陽事，令人長壽。（《本草》）</p>
<p>十月內，採枸杞子紅熟者，去蒂，水淨洗，瀝乾，砂盆內爛研，以細布袋盛，濾去滓不用，沉清一宿去清水。若天氣稍暖，更不待經宿。入銀石器中，慢火熬成膏，不住手攪之黏底，候稀稠得所瀉，向新垍瓶中盛之，蠟紙封，勿令透氣，每日早朝溫酒下二大匙，夜臥再服，百日身輕，氣壯耳目聰明，鬢髮為黑。（《林泉備用》）</p>

<h3>菖蒲</h3>
<p>菖蒲久服聰明益智。甲子日取菖蒲一寸九節，陰乾百日，為末，服方寸匕，日三服。（《千金要方》）</p>
<p>七月七日，取菖蒲酒服三方寸匕，飲酒不醉，不可犯鐵，令人嘔逆。（同上）</p>
<p>食菖蒲忌𥹋糖、羊肉。（《本草》）</p>

<h3>地黃</h3>
<p>地黃初採，水浸沉者是也。採生者去白皮，瓷鍋上柳木甑蒸之，攤冷氣歇，拌酒再蒸，又出令乾，勿令犯銅鐵器，令人腎消，並白髭發，男損榮，女損衛也。（《本草》）</p>
<p>乾地黃補五藏，通血脈，益氣力，利耳目。生地黃搗飲之，久服輕身不老。（同上）</p>
<p>造生地黃法：地黃一百斤，揀擇肥好者六十斤，有須者去之，然後淨洗灑干，暴三數日令微皺，乃取陳退四十斤淨洗漉干，於柏木臼中熟搗，絞取汁如盡，以酒投之更搗絞，即引得余汁盡，用拌前六十斤乾者，日中暴乾。如天陰，即於通風處薄攤之，夜亦如此，以干為服。此法比市中者氣力數倍，頓取汁恐損，隨日搗絞用，令當日使盡為佳。（《忘懷錄》）</p>
<p>造熟地黃法，斤數、揀擇一準生法度，訖候晴日便早蒸之，即暴日中，夜置汁中，以物蓋之，明朝又蒸，古法九遍止。今但看汁盡色黑，熟蒸三、五遍亦得。每造皆須春秋二時，正月、九月，冷緣寒氣，方可宿浸，二月、八月，拌而蒸之，不可宿浸也。地黃汁經宿，恐酸，不如日日搗取汁。用暴藥皆須以床架上置薄簟等，以通風氣，不然日氣微弱，則地氣浸也。於漆盤中最好，簟多汗又損汗。（同上）</p>
<p>造乾地黃法：九月末掘取肥大者，去須熟蒸，微暴乾，又蒸暴乾，食之如蜜可停。（同上）</p>

<h3>薯蕷</h3>
<p>薯蕷日乾，搗細篩為粉，食之大美，且愈疾而補。（《本草》）</p>
<p>薯蕷於砂盆中細研，然後下於銚中，先以酥一大匙，熬令香，次旋添酒一盞，煎攪令勻，空心飲之，補虛損益顏色。（《聖惠方》）</p>
<p>薯蕷和麵作餺飥食之良，微動氣為不能毒也。（《食療本草》）</p>

<h3>茱萸</h3>
<p>井上宜種茱萸，葉落井中，飲此水者，無瘟病。（《民要錄》）</p>
<p>舍東種白楊茱萸三根，增年益壽，除患害也。又懸茱萸子於屋內，鬼畏不入也。（同上）</p>
<p>茱萸殺鬼疰氣，又閉目者不堪食。（《食療本草》）</p>
<p>茱萸多食沖眼，兼又脫髮。（《本草圖經》）</p>

<h3>百合</h3>
<p>百合二月八月採，暴乾蒸食之甚益氣。（《本草圖經》）</p>
<p>百合蒸過，蜜和食之，作粉尤佳。紅花者名山丹，不堪食。（《食療本草》）</p>

<h3>檳榔</h3>
<p>檳榔多食發熱。（《食療本草》）</p>

<h3>胡椒</h3>
<p>胡椒多食傷肺。（《本草》）</p>

<h3>蜀椒</h3>
<p>蜀椒久食令人乏氣失明。（《千金要方》）</p>
<p>椒色白者有毒。（《本草》）</p>
<p>椒口閉者殺人。（同上）</p>
<p>凡用椒，微火炒之，令汗出有勢力。（同上）</p>

<h3>椰子</h3>
<p>椰子取其殼為酒器，如酒中有毒則沸起。今人皆漆其里，則全失用椰子之意。（《本草衍義》）</p>
<p>椰子多食動氣。（《南海藥譜》）</p>
<p>椰子肉益氣去風，漿服之主消渴，塗頭益發令黑。（《本草》）</p>

<h3>預知子</h3>
<p>預知子，其殼中有二子取，三子者莫取，為偏氣不足故。二子者，陰陽和合，能除一切蠱毒，如採構其間，有爆鳴似人兩爪相擊，即佩帶於衣領，如入蠱毒之鄉人家，則其籲鳴，爆其警覺蠱，靈驗可知。（《物類相感志》）</p>

<h3>皂莢</h3>
<p>鐵物捶皂莢，皂莢無力，兼令人患瀝液。（《續酉陽雜俎》）</p>

<h3>枳</h3>
<p>枳椇多食發蛔蟲。昔有南人，修舍用此，悟一片落在酒甕中，其酒化為水味。（《食療本草》）</p>
<p>蜜曲陸木，俗呼枳椇，為蜜曲陸作枕，醉後臥之即醒。（《瑣碎錄》）</p>

<h3>覆盆子</h3>
<p>覆盆子，益腎藏縮小便，服之當覆其溺器，如此取名。食之多熱。（《本草衍義》）</p>

<h3>紫蘇</h3>
<p>紫蘇背面皆紫者佳，令人朝暮湯其汁飲為無益，醫家以謂芳草，致豪貴之疾者，此有一焉。脾胃寒人飲多泄滑，往往人不覺。（《本草衍義》）</p>
<p>紫蘇子研汁煮粥良，長服令人肥白身香，葉可生食，與一切魚肉作羹良。（《藥性論》）</p>

<h3>荊芥</h3>
<p>荊芥多食燻人五藏神。（《食療本草》）</p>
<p>荊芥動渴疾。（《孫真人食忌》）</p>

<h3>蔢荷</h3>
<p>蔢荷閜，新大病差人不可食，以其能發汗，恐虛人牙。（《本草圖經》）</p>

<h3>甘蔗</h3>
<p>甘蔗汁煮粥，空心漸食之，日一二服，極潤心肺，治咳嗽。（《養老奉親書》）</p>
<p>不可燒甘蔗渣，令人目暗。（《瑣碎錄》）</p>
<p>甘蔗不可共酒食，發痰。（《食療本草》）</p>
<p>甘蔗食後吃之解酒毒。（《食醫心鏡》）</p>

<h3>芋</h3>
<p>芋益氣充飢，惠州富此物，然人食者不免瘴。吳遠遊曰：此非芋之罪也。芋當去皮，濕紙包煨之，火過熟乃熱啖之，則松而膩，乃能益氣充飢，今惠州人皆和皮煮，令啖堅頑少味，其發瘴固宜。（《蘇沈良方》）</p>
<p>芋有六種，有青芋、紫芋、真芋、白芋、連禪芋、野芋。其青芋細長毒多，初煮要須灰汁易水煮熟，乃堪食爾。白芋、真芋、連禪芋、紫芋毒少。並在爾蒸煮啖之，又宜冷啖，療熟止渴，其真、白、連禪三芋，兼肉作羹大佳，野芋大毒，不堪啖。（《本草》）</p>
<p>芋園圃中種者可食，余者有大毒，不可容易食，生薑煮又換水煮方可食，和魚煮甚，下氣補中調虛。（《日華子本草》）</p>
<p>芋寬腸胃，主肌肉，令人悅澤。白色者無味，紫色者破氣，煮汁飲之即止渴，十月後曝乾收之，冬月食不發病，他時月不可食。又和鯉、鯽魚作臛良，久食令人虛勞無力，又煮汁洗膩衣白如玉，亦可浴去身上浮風，忌風半日。（《食療本草》）</p>
<p>芋多食動宿冷。（《千金要方》）</p>

<h3>烏芋</h3>
<p>烏芋又名𦽏茨，可作粉食，明耳目。若先有冷氣，不可食，令人腹脹氣滿；小兒秋食，臍下當痛。（《食療本草》）</p>

<h3>茨菰</h3>
<p>茨菰冷有毒，多食發虛熱及腸風、痔瘻、崩中、帶下、瘡癤，煮以生薑御之佳，懷孕人不可食。（《日華子本草》）</p>
<p>茨菰不可多食，令人患腳，又髮腳氣、癱緩風、損齒，令人失顏色，皮肉乾燥，卒食之令人嘔冷。（《食療本草》）</p>

<h2>服餌部</h2>

<h3>服日月</h3>
<p>《太上玄真訣》服日月法，東卿司命君曰：先師玉君，昔見授《太上明堂》、《玄真上經》，清齋休糧，存日月在口中。晝存日，夜存月，令大如環。日赤色有紫光，九芒；月黃色，有白光，十芒，存咽。服光芒之液，常密行之，無數苦不修。存時令日月住面明堂中，日居左，月居右，令二景與目童氣合通也。此道以攝，運生精理，魂神六丁，奉侍天兵，衛護此上真道也，大都口訣正如此。（《雲笈七籤》）</p>
<p>服日月之精華者，欲得常食。竹筍者，日華之胎也，一名大明，又欲常食鴻脯者，月胎之羽烏也，一名月鷺，欲服日月，當食此物，氣感運之。太虛真人曰：鴻者羽族之總名也，其鴻、雁、鵝、鷗皆曰鴻鷺也。（同上）</p>

<h3>服日月芒</h3>
<p>常存心中有日象大如錢，在心中赤色，又存日有九芒，從心中出喉至齒間，而芒回還胃中，如此良久，臨目存自見，心胃中分明，乃吐氣漱液，服液三十九過止，一日三為之，行之十八年得道，行日中無影。恆存日在心中，月在泥丸宮。夜服月華，如服日法，存月十芒，白色從腦中下入喉，芒亦未出齒，而回入胃。（《雲笈七籤》）</p>

<h3>服日月氣</h3>
<p>服日氣法，以平旦採日華，以夜半存之，去面前九寸，令萬景照我泥丸下，及五藏洞徹一形，引氣入口，光色蔚明，良久乃畢，則常得長生矣。（《雲笈七籤》）</p>
<p>又法夜半生氣時，若雞鳴時，正臥閉目，存左目中出日，右目中出月，並徑九寸，在兩耳之上，兩耳之上名為六合，高窗也。令日月使照一身，內照泥丸下，照五臟腸胃之中，皆覺見了了，洞徹內外，令一身與日月光合，良久畢，叩齒九通，咽液九過，乃微祝曰：太上玄一，九皇吐精，三五七遍，洞觀幽冥，日月垂光，下徹神庭，使照六合，太一黃寧，帝君命簡，金書不傾，五老奉符，天地同誠，使我不死，以致真靈，卻遏萬邪，禍害滅平，上朝天皇，還老反嬰，大帝有制，百神敬聽。畢乃開目，名為日月，練根三元，校魂以制，御形神闢，諸鬼氣之來侵，使光長生不死，多存之矣。（同上）</p>
<p>又法又存，左目為日，右目為月，共合神庭之中，卻上入於明堂，化生黃英之體醴，下流口中，九咽之，以哺太一，常以生氣時存之。畢，微祝曰：日月上精，黃水月華，太一來飲，神光高羅，使我長生，天地同柯。五日一行之。口中舌上為神庭，存日月既畢，因動，舌覺有黃泉，如紫金色，從舌上出流，卻入明堂，為黃英之醴也，存思之時，常閉目施念。（同上）</p>

<h3>服日精</h3>
<p>吞日精者，用日出卯時，坐西面看東，想日如車輪形，想而吞之，七十二口，亦如河車拗起，昂頭搬運入項後，為枕枕之，如小乘人有圓光也。每日吞之，七十二口畢，方吞月華，龍虎大丹。（出《生死訣》）</p>

<h3>服月華</h3>
<p>吞月華者，須是過上弦八日晚後，背日向月坐，想月華入於口內，八十一咽，至二十三日，下弦即罷之，至後月八日，依前法吞之，龍虎大丹。（出《生死訣》）</p>
<p>噏月精，凡月初出時，月中時，日入時，向月正立，不息八通，仰頭噏月精，八咽之，令陰氣長。婦人噏之，陰精益盛，子道通。（《雲笈七籤》）</p>
<p>吸月光精，婦人至四十九已上還生子，斷緒者，即有子。久行不已，即成仙矣。</p>

<h3>服霧</h3>
<p>東海東華玉妃淳文期，授含真臺女真張微子服霧之法：常以平旦，於寢靜之中，坐臥住已，先閉目內視，彷彿使如見五臟畢，因口呼出氣二十四過，臨目為之，使目見五色之氣，相纏繞在面上，郁然咽入口內此五色氣，五十過，畢；咽液六十過，畢，乃微祝曰：大霧發暉靈霧，四遷結氣瑰屈，五色洞天神煙，含啟金石華真，藹郁紫空練形，保全出景藏函，五靈分化合明，扇虛時乘六云，和攝我身上升九天，又叩齒七通，咽液七過，乃開目事訖。此道神妙。又神州玄都，多有得此術者，久行之常乘雲霧而遊也。（《真誥》）</p>

<h3>服五星</h3>
<p>存五星當按八素，以五星為始，存以生氣，時若不玉，星先出者，故宜不先存五也。至於視星入室任意耳，唯以勤感為上耳，亦不必須都見星，然後速通也，視之益審耳。清靈君告存思要法：當覺目觀五星於方面並乘芒而下行，我然後依五星下，而存五星，但吞嚥一芒畢，又當鎮星下，又存鎮星良久，搃五星各一芒，使俱入口而咽之，如鎮星星過數也。（《真誥》）</p>

<h3>服三氣</h3>
<p>範幼沖恆服三氣，三氣之法，存青氣、白氣、赤氣各如綖，從東方日下來，直入口中，拒之九十過，自飽便止，為之十年，身中自有三色氣，遂得神仙，此高元君太素內景法，旦旦為之，臨目施行，視日益佳。（《真誥》）</p>

<h3>服玉</h3>
<p>《玉經》曰：服玉者壽如玉也。又曰服玄真者，其命不極。玄真者，玉之別名也，令人身飛輕舉，不但地仙而已，然其道遲成，服一二百斤，乃可知耳。玉可以烏米酒及地榆酒化之為水，可以蔥漿消之為𥹋，亦可餌以為丸，亦可燒以為粉，服之一年已上，入水不沾，入火不灼，刃之不傷，百毒不犯也。不可用已成之器，傷人無益，當得璞玉乃可用也。得於闐國白玉尤善，其次有南陽除善亭部界中玉，及日南盧容水中玉，亦佳。（《抱朴子》）</p>
<p>赤松子以玄蟲血漬玉為水而服之，故能乘煙上下也。（同上）</p>

<h3>服玉屑</h3>
<p>玉屑服之與水餌之，俱令人不死，所以為不及金者，令人數數發熱，以寒食散狀也。若服玉屑者，宜十日輒一服，雄黃、丹砂各一兩圭，散發洗沐，迎風而行，則不發熱也。董君異常以玉糟與盲人服之，目旬日而愈。（《抱朴子》）</p>

<h3>服銀</h3>
<p>銀不及金玉耳，可以地仙也。服之法以麥漿化之，亦可以朱草酒餌之，亦可以龍膏煉之。然三年輒大如彈丸者，又非清貧道士所能得也。（《抱朴子》）</p>

<h3>服真珠</h3>
<p>真珠僅一寸以上可服，服之可以長久。酪漿漬之皆化如水銀，亦可以浮石水蜂窠，鱟化包形，蛇黃合之，可引長三四尺丸服之，絕谷服之，則不死而長生也。（《抱朴子》）</p>

<h3>服雲母</h3>
<p>上白雲母二十斤薄擘，以露水八斗作湯，分半洮洗雲母，如此再過，又取二斗作湯，內芒硝十斤，以雲母木器中漬之二十日，出絹袋盛懸屋上，勿使見風日令燥，以水漬鹿皮為囊揉挺之，從旦至中，乃以細絹下篩，滓復揉挺，令得好粉五斗，余者棄之，取粉一斗，內崖蜜二斤，攪令如粥，內生竹筩中薄削之，漆固口埋北垣南岸下，入地六尺，覆土，春夏四十日，秋冬三十日。出之當如滓為成，若洞，洞不消者，更埋三十日出之，先取水一合，內藥一合，攪和盡服之，日三，水寒溫自在，服十日，小便當便黃，先先療勞氣風疹也。二十日腹中寒癖消，三十日齲齒除，更新生，四十日不畏風寒，五十日諸病皆愈，顏色日少，長生神仙，吾自驗之，所以述錄。（《千金要方》）</p>
<p>服五云之法。或以桂蔥水玉化之以為水；或以露於鐵器中，以玄水熬之為水；或以硝石合於竹筩中，埋之為水；或以蜜溲為酪；或以秋露漬之百日韋囊梴以為粉；或以無巔草樗血合餌之，服之一年，則百病愈，三年老翁反成童子，五年則役使鬼神，入火不燒，入水不濡，踐棘不傷，與仙人相見。又他物埋之即朽，燒之即燋，而五云以內猛火中經時終不燃，埋之永不腐，故能令人長生也。又云服之十年，雲氣常覆其上，服其母以致其子，理自然也。又向日看之，醃醃純黑色起者，不中服，令人病淋，發瘡，雖水餌之，皆先以茅屋霤水，若東流水、露水漬之百日，淘汰去其土石，乃可用取中山衛叔卿服之，積久乃乘雲而行，以其力封之玉匣之中，仙去之後，其子名世，及漢使者梁伯得而按方合服，皆得仙去。（《抱朴子》）</p>
<p>雲母取上上白渾者，細擘以水淘淨，漉出蒸之，一日一夜下之，復更淘淨，如前去水，令乾率雲母一升，鹽三升，硝石一斤，和雲母搗之一日，至暮取少許，掌上泯著，不見光明為熟，出安盆甕中以水漬之令相得，經一炊久，澄去上清水，徐徐去之盡，更添水如前，凡三十遍，易水令淡如水味，即漉去。其法，一如研粉澄取沉，然後取雲母，旋徐徐坐絹袋中濾者，單上暴令乾即成矣。久服輕身延年，強筋脈，填髓滿，落齒更生，瘢痕消滅。光澤人面，不老耐寒暑，志高可至神仙。（《千金要方》）</p>
<p>又方雲母擘薄，淘淨去水余濕，砂盆中研萬萬遍，以水淘淨取淚，見此法即自保愛修而服之。（同上）</p>
<p>凡服雲母粉治百病，皆用粳米粥和服之，慎房室、五辛、油膩、血食、勞作。（同上）</p>
<p>凡服雲母秘澀不通者，以蕪菁葅汗下之，即秘通之。（同上）</p>

<h3>服石中黃子</h3>
<p>石中黃子，所在有之，泌水山為尤多。其在大石中，則其石常潤濕不燥，打其石有數十重乃得之。在大石中，赤黃溶溶如雞子之在其殼中也，即當飲之。不飲則漸堅凝成石，不復中服也。法正當及未堅時飲之，既凝則應未服也。破一石中，多者有一升，少者有數合，可頓服也，雖不得多，相繼服之，其計前所服，合成三升，壽則千歲。但欲多服，唯患難得耳。（《抱朴子》）</p>

<h3>服石腦芝</h3>
<p>石腦芝生滑石中，亦如石中黃子狀，但不皆有耳。打破大滑石千許，乃可得一枚。初破之其在石中，五色光明而自動，服一升，得千歲矣。（《抱朴子》）</p>

<h3>服石硫黃芝</h3>
<p>石硫黃芝，五嶽皆有，而箕山為多，其方言許由就此服之而長生名流丹者。石之赤精，蓋石硫黃之類也，皆浸溢於崖岸之間，其濡濕者可丸服，其已堅者可散服。（《抱朴子》）</p>

<h3>服木芝</h3>
<p>木芝者，松柏脂淪入地，千歲化為茯苓，萬歲其上生小木，名曰木威，喜芝夜視有光，持之甚滑，燒之不燃，帶之闢兵，以帶雞而雜以他雞十二頭共籠之，去之十二步射十二箭，他雞皆傷，帶威喜芝，終不傷也。從生門上採之，於六甲陰乾之百日，末服方寸匕，日三。盡一枚，則三千歲也。（《抱朴子》）</p>

<h3>服松子</h3>
<p>神仙餌松實，用七月取松實，過時即落難收，去木皮搗如膏，每服如雞子大，日三服，如服及百日身輕，二百日日行五百里，絕谷久服昇仙，渴即飲水，亦可以煉了松脂同服之。（《聖惠方》）</p>
<p>七月七日採松子，過時即落不可得，治服方寸匕，日三四。一云服三合，百日身輕，三百日日行五百里，絕谷服昇仙。渴飲水，亦可和脂服之。若丸如梧桐子大，服十丸。（《千金要方》）</p>
<p>取松實末之服三合，日三則無飢渴，飲水勿食他物，百日身輕，日行五百里，絕谷昇仙。（《千金翼方》）</p>

<h3>服松脂</h3>
<p>松脂以真定者為良，細布袋盛以清水，百沸湯煮，浮水面者，以新簟籬掠取投新水中，久煮不出，煮皆棄不用，入生白茯苓，不制但削去皮，搗羅為細末拌勻，每旦取三錢匕，著口中用少熟水攪漱，更以指點如常法揩牙，揩畢用少熟水咽，水仍灌漱如常法，大能牢齒駐顏烏髭也。（《仇池筆記》）</p>
<p>百鍊松脂下篩，以蜜和內筒中，勿令中風，日服如博棋一枚，博棋長二寸方一寸，日三，漸漸，月別服一斤。不飢延年，亦可淳酒和白蜜如湯，日服一二兩至半斤。凡取松脂老皮，自有聚脂者最第一，其根下有傷折處，不見日月，得之名曰陰脂彌良。惟衡山東行五百里，有大松皆三四十圍，乃多脂。又法五月刻大松陽面，便向下一十四株，株可得半升，亦煮老節根處者，有脂得用。《仙經》云：常以三月入衡山之陰，取不見日月松脂煉而餌之，即不召而自來，服之百日耐寒暑，二百日五藏益補，服之五年即見西王母。《仙經》又云：諸石所生三百六十五山，其可食者，滿谷陰懷中松脂耳。其谷正從衡山巔直東四百八十里，當橫挺正在橫嶺，東北行過其南，入谷五十里，窮穴有石城白鶴，其東方有大石四十餘丈，狀如白松，松下二丈有小穴，東入山有丹砂可食。其南方陰中有大松，松大三十餘圍，有三十餘株，不見日月，皆可取服之。（《千金要方》）</p>
<p>服松脂法，欲絕谷服三兩，飢後更服，取飽而止，可至一斤。不絕谷者，服食一兩，常先食，須藥力盡，乃餘食，錯者即食不安而吐也。久服延年百病除。（《千金要方》）</p>
<p>又方：松脂一斤，松實二斤，柏實三斤，菊花五斤，上四味下篩，蜜和服之，如梧子三十丸，分為三服。一百日以上不復飢，服之一年，百歲如三十四十者。久服壽同天地。（同上）</p>
<p>又方：以夏至日，取松脂日食一升，無食他物，飲水自恣，令人不飢。長服可以終身。河南少室山，取陰處斷之，置器中蒸之，膏自流出，煉出去苦氣，白蜜相和，食日一升，二日後服如彈丸，渴飲水，令人不老。取無時。（同上）</p>
<p>又方：松脂五斤，羊脂三斤，上二味先煉松脂令消，內羊脂，日服博棋一枚不飢，久服神仙。（同上）</p>
<p>又方：白松脂七斤，三遍煉白蠟五斤，白蜜三斤，茯苓粉三斤，上三味合蒸一石鬥，頃服如梧子大十丸，飢復取服，日一丸，不得食一切物，得飲酒不過一合，齋戒。㕮咀五香以水煮一沸，去滓以藥投沸中。又欲致神女者，取茅根治取汁以和之，蒸服之，神女至矣。（同上）</p>
<p>又方松脂、桑灰，煉百遍色正白，復內之飴蜜中，數反出之，服一丸如梧子，百日身輕，一年玉女來侍。（同上）</p>

<h3>採松脂</h3>
<p>指松脂法，以日入時破其陰以取其膏，破其陽以取其脂，脂膏等分食之，可以通神靈。鑿其陰陽為孔，令方五寸，深五寸，還以皮掩其孔，無令風入，風入則不可服。以春夏時取之，取訖封塞勿泄，以泥塗之。（《千金要方》）</p>
<p>取松脂法：斫取老枯肥松細擘長尺余，置甑中蒸之，滿甑脂下流入釜中，數數接取脂，置水中凝之盡，更為。一日可得數十斤，枯節益佳。（《千金翼方》）</p>
<p>又法：取枯肥松，細破於釜中煮之，其脂自出，接取，置冷水中凝之，引之則成。若以五月就木取脂者，對刻木之陰面，為二三刻，刻可得數斤。秋冬則依煮法取，勿煮生松者，少脂。（同上）</p>

<h3>煉松脂</h3>
<p>松脂七斤，以桑灰汁一石，煮脂二沸，接置冷水中凝，復煮之，凡十遍脂白矣，可服。今谷在衡州東南攸縣界，此松脂與天下松脂不同。（《千金要方》）</p>
<p>又法：松脂二十斤為一劑，以大釜中煮水，加甑其上，塗際勿泄，加茅甑上為藉，復加生土茅上，厚一寸，乃加松脂於上，炊以桑薪，湯減添水，接取停於冷水中凝，更蒸之如前法。三蒸畢止，脂色如白玉狀，乃用和藥，可以丸菊花、茯苓服之。每更蒸易土如前法，以銅鑼承甑下，脂當入鑼中如膠狀下，置冷水中凝，更蒸欲出銅器於釜中，時預置小繩於脂中，乃下，停於水中凝之，復停於炭須臾，乃四過皆解，乃可舉也，盡更添水，以意斟酌其火勿大猛，常令不絕而死。（《千金翼方》）</p>
<p>又法：煉松脂，十二過易湯不能者，五六過亦可服之。（同上）</p>
<p>又法：薄淋桑灰汁，以煮脂一二沸，接取，投冷水中引之凝，復更煮，凡千過，脂則成。若強者，復以酒中煮三四過則柔矣。先食服一兩，日三，十日不復飢，飢更服之，久服去百病，禁一切肉、鹹菜、魚醬、鹽等。（同上）</p>
<p>又方：松脂十斤，用桑薪灰汁二石，內釜中，加甑於上，甑中先鋪茅茨、鋪黃沙土，可三寸蒸之，脂少間流入釜中，寒之凝，接取復蒸。如前三上，更以清水代灰汁，復如前三上去水，更以陰深水一石五斗煮甘草三斤，得一石汁，去滓，內牛酥二斤，加甑釜上，復炊如前，令脂入甘草汁中凝，接取復蒸，又下，如此三上即成。苦味皆去，甘美如飴膏，服如彈丸，日三，久服，神仙不死。（同上）</p>
<p>又方：好松脂一石，石灰汁三石，上二味於淨處為灶，加大釜斬白茅為藉，令可單上以脂，內甑中炊之，令脂自下入釜，盡去甑，接內冷水中，以扇扇之，兩人引之三千過，復蒸如前，滿三遍三易。灰汁復以白鮓醬三石煉之，三易酢醬也。復以酒煉之一過，亦如上法訖，以微火煎之，令如飴狀，服之無少長。（同上）</p>
<p>煉松脂春夏可為，秋冬不可為。絕谷，治癩第一，欲食即勿服，亦去三尸。（同上）</p>
<p>伏虎尊師篇煉松脂法，千斤松脂，五度以水煮過，令苦味盡。取得後，每一斤煉了松脂，入四兩茯苓末，每晨水下一刀圭，即終年不食，而復延齡，身輕清矣。（《野人閒語》）</p>

<h3>粉松脂</h3>
<p>松脂十斤，丹黍灰汁煮沸，接置冷水中二十過即末矣，亦可雜雲母粉，丸以蜜，服之良。（《千金翼方》）</p>

<h3>服松葉</h3>
<p>服松葉令人不老，身生綠毛，輕身益氣，久服不已，絕谷不飢渴。松葉不拘多少，細切更研，每日食前以酒調下二錢，亦可粥汁服之，初服稍難，久自便矣。（《聖惠方》）</p>
<p>服松葉法，細切餐之，日三合，令人不飢。（《千金翼方》）</p>
<p>又方：細切之如粟，使極細，日服三合。四時皆服生葉治百病，輕身，益氣，還白，延年。（同上）</p>
<p>又法：四時採，春東、夏南、秋西、冬北至治，輕身益氣，令人能風寒，不病痹，延年。（同上）</p>

<h3>服柏子</h3>
<p>凡採柏子以八月，過此零落又喜蟲。頓取之，又易得也，當水中取沉者。八月取。並房曝乾，末，服方寸匕，稍增至五合，或日一升半。欲絕谷咨口取飽，渴飲水一方，柏子服不可過五合。（千金翼方）</p>

<h3>服柏脂</h3>
<p>五月六日刻其陽二十株，株可得半升，煉服之。欲絕谷者增之至六兩，不絕谷者一兩半。禁五辛、魚、肉、菜、鹽、醬。治百病，久服煉形延年，煉脂與松脂法同。（《千金翼方》）</p>

<h3>服柏葉</h3>
<p>高子良服柏葉法：採無時，以葉切，置甑中，令滿覆盆，甑著釜上蒸之，三石米頃，久久亦善，蒸訖水淋百餘過，訖，陰乾。若不淋者，蒸訖便陰乾。服一合後食，日三服，勢力稍少增，從一合始，至一升。令人長生益氣，可辟穀不飢。（《千金翼方》）</p>
<p>又方：取大盆內柏葉者，盆中水漬之，一日一易水，易水者扶甕出水也。如是七日以上，若二七日為佳。訖，覆盆蒸之，令氣徹便上，曝乾，下篩末，一石以一斗棗膏，搜如作乾飯法，服方寸二匕，日三服，以水送下，不飢，飢即服之，渴飲水。以山居讀誦，氣力不衰，亦可濟凶年。（同上）</p>
<p>又方：柏葉取近上者，但取葉勿雜枝也，三十斤為一劑，當得好不津器，內柏葉於中，以東流水漬之，使上有三寸，以新盆覆上泥封之。三七日出，陰乾，勿令塵入中，干便治之，下篩，以三升小麥，淨擇，內著柏葉汁，須封五六日乃出，陰乾，燥復內之，封五六日出，陰乾令燥，磨之下篩。又取大豆三升，炒令熟取黃，磨之下篩。合三物攪調相得，內韋囊中盛之。一服五合，用酒水無在，日三，食飲無妨。治百病，病自然消，冬不寒，顏色悅澤，齒脫更生，耳目聰明。賜實服此，食不食無妨。（同上）</p>
<p>又方：取柏葉三石，熟蒸曝乾，下簁大麥一升，熬令變色，細磨之，都合和服，多少自在，亦可作粥服之，可稍飲酒。（同上）</p>
<p>又方：取柏葉二十斤，著盆中，以東流水漬三七日，出，曝乾。以小麥一斗漬汁，三四日出，曝乾，熬令香。柏葉亦然。鹽一升亦熬之令黃。上三味搗下篩，以不中水豬膏二升，細切著末中攪，復篩之。先食方寸匕，日三匕，不用食良，亦可兼服之。（同上）</p>
<p>又方：取陰地柏葉，只取陰面皮，㕮咀蒸之，以釜下湯灌之，如是至三，陰乾百日，下篩，大麥末、大豆末，三味各一斤，治服方寸匕，日三匕，以絕谷不食，除百病延年。（同上）</p>
<p>又方：柏葉三石熟煮之，出置牛筥中以汰之，令水清乃止，曝乾以白酒三升溲葉，微火蒸之熟一石米頃，息火復曝乾。治大麥三升熬令變色，細治，曝，搗葉下篩，合麥屑中，日服三升，以水漿若酒送之。止谷療病，闢瘟癘惡鬼，久久可度世。（同上）</p>
<p>又方：柏葉十斤，以水四斗漬之一宿。煮四五沸，漉出去汁，別以器閣之，干以小麥一升漬柏葉汁中，一宿出，曝燥，復內之，令汁盡。取鹽一升，柏葉一升，麥一升，熬令香，合三味末之，以脂肪一斤，合溲酒服方寸匕，日三。病自消減，十日以上便絕谷。若乘騎，取一升半水飲之，可以涉道路不疲。（同上）</p>

<h3>服桂</h3>
<p>桂可與蔥涕合蒸作水，可以竹瀝合餌之。亦可以先知君腦，或云龜和服之，七年能步行水上，長生不死也。（《抱朴子》）</p>

<h3>服楮實</h3>
<p>楮木實之赤者，服之一年，老者還少，令人徹視見鬼。昔道士梁須年七十，乃服之轉更少，至年百四十歲，能夜書行及奔馬，後入青龍山去。（《抱朴子》）</p>
<p>楮實初夏生，如彈丸青綠色，至六七月漸深紅色，乃成熟。八月，九月採，水浸去皮、欀，取甲子日乾。仙方草服其實，正赤時收取，甲子陰乾，篩末水服二錢匕，益久乃佳。（《本草圖經》）</p>

<h3>服槐實</h3>
<p>槐子，以新瓦合泥封之，二十餘日其表皮皆爛，乃洗之如大豆，日服之，此物主補腦，久服令人發不白而長生。（《抱朴子》）</p>
<p>槐子明目黑髮，於牛膽中漬，陰乾百日，食後吞一枚，七日輕身，三七日白髮黑，百日內通神。（出《本草》）</p>
<p>槐者虛星之精，以七月上已日採子，服之去百病，長生通神。（《太清草木方》）</p>

<h3>服桑椹</h3>
<p>桑椹利五臟關節，通血氣，久服不飢，多收曝乾，搗末蜜和為丸，每日服六十丸，變白不老。取黑椹一升，和蝌蚪子一升，瓶盛封閉，懸屋東頭一百日，盡化為黑泥，染白鬚如漆。又取二七枚，和胡桃脂，研如泥，拔去白髮，點根中即生黑者。（《本草拾遺》）</p>

<h3>服桃膠</h3>
<p>桃膠以桑灰汁漬，服之百病愈。久久服之，身輕有光明，在晦夜之地，如月出也。多服之則可斷谷。（《抱朴子》）</p>

<h3>服杏仁</h3>
<p>杏仁五月採，破核去雙仁者，自朝蒸之，至午而止，便以慢火微蒸烘至七日，乃收貯之。每旦腹空時，不拘多少任意啖之，積久不止，駐顏延年。云是夏姬法。然杏仁能使人血溢，少誤之必出血不已，或至委頓，故近人少有服者。（《本草圖經》）</p>
<p>杏仁酥主萬病，除諸風虛勞冷。方取家杏仁，其味甜。杏，特忌用山杏仁，山杏仁慎勿用，大毒害人也。家杏仁一石，去尖皮、兩仁者，揀完全者，若微有缺壞，一顆不得用。微火炒，作細末，取白酒二石，研杏仁取汁一石五斗，上一味以蜜一斗，拌杏仁汁煎，極令濃，與醴相似，內兩石甕中攪之，密封泥，勿令泄氣，三十日看之，酒上出酥也。接取酥，內瓷器中封之。取酥下酒，別封之，團其藥如梨大，置空屋中作閣安之，皆如飴脯狀，甚美，服之令人斷谷。（《千金翼方》）</p>

<h3>服椒</h3>
<p>生椒擇去不折者，除去黑子，用四十粒，以梨水浸，經一宿，盡令口合，空心新汲水下，去積年冷，暖臟腑。久服則能駐顏，黑髮明目，令人思飲食。（《斗門方》）</p>

<h3>服漆</h3>
<p>淳漆不枯者服之，令人通神長生。餌之法，或以大蟹十枚投其中，或以雲母水，或以玉水合服之，凡蟲悉下，惡血從鼻出，一年六甲行廚至也。（《抱朴子》）</p>
