<header data-type="book">
<h1>本草和名</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>深江輔仁</dd></div>
<div><dt>年份</dt><dd><data value="0918">公元918年</data></dd></div>
<div><dt>底本</dt><dd>日本萬延元年今尾道醇影寫古鈔本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀006532–006533）</dd></div>
</dl>
</header>
