<header data-type="book">
<h1>伏瘟證治實驗談</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>蔣樹杞</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1920">公元1920年</data></dd></div>
<div><dt>品質</dt><dd>85%</dd></div>
<div><dt>底本</dt><dd>《三三醫書：精校本》〈伏瘟證治實驗談〉，中國醫藥科技出版社2016/10/01出版，ISBN: 9787506786898。（已簡轉繁）</dd></div>
</dl>
</header>

<h1>《伏瘟證治實驗談》序</h1>
<p>通天、地、人謂之儒。凡百藝術，皆士君子所宜究心，況疾病為性命所寄，生死攸關，豈不學無術者所可從事！是故不知天之道，不辨地之宜，不究人之情，皆不可以為醫。所謂醫者，固非通儒莫屬也。自後世爭尚功利，目醫為小道，鄙醫為賤技，而學醫者半出於無聊之徒為謀衣覓食計，只記藥品數味、方書數卷，自詡知醫，競相誇耀，幸中則功歸於已，偶失則罪嫁於人。更有忘本逐末，舍近圖遠，醉心歐化，慕西醫以解剖，為實驗則驚為神奇，視中醫以氣化，作真詮則嗤為陳腐，問其運氣之加臨、水土之異宜、性情之偏畸，則茫然撟舌，救人者轉以殺人。目擊流弊，能無感喟！際此醫術支離之日，而欲求其貫三才之儒，相與之講明醫道，恆不數數。覦吾友蔣君璧山，積學士也，舉凡堪輿、星卜之書，無不通曉，而尤精於醫，蓋其得力於家學者深矣。近復涉獵西書，互相印證，衰中參西，多所發明。臨證處方，皆有法度可觀。未申兩歲冬春之交，伏瘟盛行，死亡枕藉。每見此病觸發，醫者貿然施治，詫為棘手，既不識其病因，更何論乎治法。蔣君慨然憂之，以謂世之人死於疾者少，而死於醫者多，爰本當日得於實驗者，筆之於書，名日《伏瘟證治實驗談》，蓋欲以救醫者之失也。余觀近世，市舶交通，種族複雜，感受異氣，怪病叢生，病機日出不窮，即治療亦雜糅不一。彼泥古者，墨守成規；趨時者，徒尚新法。削足就履，毀方為圓，吾未見其不立敗也。蓋伏氣之病，已載於醫經，而伏瘟之名，雖不概見，其精義散見於各書，非讀書得間，不能鈎玄而提要。今蔣君此編，論受病之原因，詳治法之次第，亦猶葉氏論三時伏氣，獨闡不傳之秘。援古證今，中西並貫，而伏瘟治法，毫無遺義。子輿氏曰：大匠誨人，必以規矩，不能使人巧。若蔣君者，殆得其巧矣。吾知是編一出，其裨益於世，曷有窮極。自維簡陋，莫測高深，何敢妄贊一辭！見仁見智，惟格致之儒，自能神而明之。余每於蕭齋岑寂，一燈瑩然，展卷尋研，追維疇昔，深悔已往之多疏，用作將來之補救。世之人其亦同抱此疚心否乎？是為序。</p>
<p><u>民國九年歲次庚申重九後八日世愚弟翁汝梅雪耕氏拜撰</u></p>

<h1>例言</h1>
<p>一、己未之冬，庚申之春，伏瘟症狀為自來醫籍所未載。若不原始要終，發明治法，異日發生同樣病態，何以率循治療，此不可以不記也。</p>
<p>一、《內經》醫理無不具備，後世醫籍雖汗牛充棟，然皆各就所見以立言，故所見之外，仍多缺略。今此疫症來自來醫籍所未載，仍不出《內經》之範圍，故此部治法悉遵《內經》，數典不忘祖也。</p>
<p>一、此部治法，悉臨診經驗所得，必有確實徵信者，方敢留存底稿，匯集成冊，所以存實驗也。</p>
<p>一、自歐風東漸，好異者崇尚西數，而鄙棄中醫，並未臟腑、經絡之有錯，五行生剋之無憑，不知西人只憑目見，以有形物質為徵信，無形氣化多忽略而不講。是故西人所知者，俱屬形下之器；若形上之道，精深高遠，非所知也。鄙人此部，推闡病原、症狀、診斷、治療上之學理，悉本《靈》、《素》聖經，原原有自，鑿鑿可徵，並與治驗上有交互之印證，無虛妄之歧談。潛心研究，自知醫學上之價值，中精密而西粗疏，中高深而西卑淺也</p>
<p>一、西醫血清之創造，必待臨時，而又難猝辦。今春聞每人注射至愈，必須銀數百兩之多，價值太昂而難施於貧病，如一時無覓，惟有坐視其死而已。若中藥則隨地可辦，價又不貴，且針灸一術，並不須藥，由便於貧人。以利便言之，亦中勝於西者多矣。</p>

<h1>病原</h1>

<h2>伏瘟病原推本於時令說</h2>
<p>己未秋冬之交，自寒露至冬至，三月不雨，兩間燥烈之氣達於極點。人身一小天地，天地既燥，人處其間，亦未有不燥者。經云：秋之為病在肺，燥氣上受，首先犯肺，肺病不己，逆傳心胞，此燥氣之邪感於前，伏於上焦心肺之間，為發生疫症之本因也。自小寒以後，至庚申春之春分，三月之間恆雨恆風，昕夕不休，寒冽之氣，逼人太甚，間或雷霆大震，陽氣暴泄，肌腠不密，感邪更易，際此時間，倘能慎起居，時飽暖，節勞作，戒色欲，可永保健康之福，自無罹瘟疫之災。一或不慎，邪必乘之，此冬寒之邪感於後，中於表層太陽之經，為發生疫症之續因也。如其人先感秋燥之邪，伏藏體內，再傷於寒，其病即發，此己未冬月發生疫症之原因也。如其人未傷於燥而傷於寒，其寒邪亦伏留而不即發，至春重感於寒，其病亦即發，此庚申春月發生疫症之原因也。</p>

<h2>己未冬月病原推本於運氣說</h2>
<p>《內經》丑未之歲，太陰司天，太陽在泉。自秋分至立冬六十日，是謂五之氣，主氣、客氣並屬陽明，燥金司令，陽明本燥而標陽，適值天時久旱，燥令太過，經曰：秋傷於燥，冬生咳嗽。此秋燥伏氣傷於肺金本臟之為病也。又自小雪至大寒六十日，是為六之氣，主氣、客氣並屬太陽，寒水司令，適值下半年在泉之氣又同為太陽，寒令太過，故是年冬月，天氣寒冽異常，然太陽本寒而標陽，又有陽明燥氣伏藏在內，燥金之下，火氣承之，嚴寒之中伏藏火氣，故是時冰雪之間，雷霆大震，非時不正之氣，莫此為甚。凡夙有伏燥之人，兼感冬寒者，症見惡寒、背冷、頭痛、項強，是太陽傷寒之本病也。初起嘔吐，繼則發熱、日渴、譫語、便秘，是陽明伏燥之本病也。衛出上焦，榮出中焦；衛出於肺，榮通於心，陽明乾涸，則榮衛之源絕。溫邪犯肺，逆傳心胞，燥氣亦然，此昏厥之原因也。〈生氣通天論〉曰：秋傷於燥，上逆而咳，發為痿厥。〈至真要大論〉曰：燥淫所勝，木乃晚榮，筋骨內變，民病左脅，此氣逆咳嗽、筋攣骨痹及半身不遂之原因也。</p>

<h2>庚申春月病原推本於運氣說</h2>
<p>《內經》：寅中之歲，少陽司天，厥陰在泉，少陽本火而標陽，中見厥陰，標本同氣。自大寒至驚蟄六十日，主氣厥陰風木司令，客氣少陰君火加臨。歲運主客，木火同氣，木從火化，火氣太過。〈至真要大論〉曰：少陽之勝，熱客於胃，煩心欲嘔，譫妄消灼，草萎水涸。〈六元正紀大論〉曰：寅申之歲，初之氣，溫病乃起。此歲氣、時氣為本病之原因也。〈陰陽應象大論〉曰：重陰必陽，重陽必陰，冬傷於寒，春必病溫。去冬天氣嚴寒，中人膚腠，鬱久化熱，消灼真陰，至春重感於寒，乃激之而發現，此伏氣為本病之原因也。</p>

<h1>症狀</h1>
<p>一種肺金本臟之現症：初起惡寒，旋即發熱，咳嗽，胸悶，喘急不得臥，痰多、嗌燥，咯不得出，口渴不多飲，食思缺乏，頭部有汗，大便或秘或泄。狀甚危急，然死者不過十之二三。</p>
<p>一種太陽兼陽明之現症，分為二類：一類初起惡寒，嘔吐，旋即發熱、頭痛、身痛、項筋強硬，舌乾口渴，目赤，胸悶，神昏譫語，脊部強直、不能轉側，手足亂動，食思缺乏，大便秘結，小便短少，兩手脈浮部弦硬、沉部澀數；一類口噤不語，軀體、手足不知運動；或身體發熱，目閉昏睡、不省人事；或身無寒熱，目開、稍知人事，但不言語；或初起一二日兩手俱無脈者。此二類最為危險，死者十之七八。</p>
<p>一種太陽、陽明、少陽三經合病者：初起惡寒，嘔吐，旋即發熱，項筋痙孿最甚，頭部疼痛尤劇，有半日或一日即昏厥而死者；有昏厥復甦，潦纏一二旬或一二月而仍死者；有左右各半身不遂者；有能食粥一二碗，而軀體、手足痿痹不能起立者；有一二月後，精神仍然呆鈍，或耳聾，或目盲，或語言無序者。此一種吾臨海流行最廣、最盛、亦最延長，死者亦最多數。</p>

<h1>診斷</h1>
<p>定名為伏氣瘟症，亦名痙瘟，亦名熱疫，此皆就其症狀之危險名之也。若質直言之，實系時感傷寒引動內伏之症也，或混稱為冬溫、為春溫，皆未切當。</p>
<p>《內經》病機曰：諸氣膹郁，皆屬於肺；諸痿喘嘔，皆屬於上。喻嘉言以此二條，明指燥病耍言。〈生氣通天論〉曰：秋傷於燥，上逆而咳，發為痿厥。燥屬金氣，肺屬金臟，同氣相求，必從其類。故燥氣為患，首先犯肺，肺氣上逆，則生喘咳；肺氣不宣，則肢體萎廢，此己未冬月之病原：於伏燥之氣傷及肺臟，而發為咳逆、痿厥也。</p>
<p>〈五常政大論〉曰：少陽司天，火氣下臨，肺氣上從，咳嚏鼻塞，厥逆膈不通，火氣下臨，金從所制，肺逆不降，故咳嚏諸症以起，此庚申春月之病原：於時感風溫之邪，首先犯肺，而發為咳嗽也。</p>
<p>〈六微旨大論〉曰：陽明之上，燥氣治之，中見太陰。去秋主、客與天空三氣皆燥，燥氣太過，故從中見濕化，而從標本。陽明本燥而標陽，燥陽合氣，其化為火。仲景《傷寒論》以脾陰消爍為脾約，屬太陽陽明症；以胃家實，屬正陽陽明症；以胃中燥煩實、大便難，屬少陽陽明症。此己未冬月之病，皆由此秋燥伏氣之為禍也。</p>
<p>〈六微旨大論〉曰：少陽之上，火氣治之，中見厥陰，標本同氣，亦從火化。《傷寒論》曰：少陽之為病，日苦、咽乾、目眩也。少陽經脈，始從兩目銳皆，上抵頸角，下耳後，過頰車，循頸下腋，至季脅。故少陽經病有目赤、咽乾、口噤、頭痛、腰痛、不能食諸證。且春令主氣為厥陰，風木歲氣，中見亦同為厥陰風木。火乘風勢，厥氣上逆，故氣上衝心，則昏厥不省；氣上衝腦，則頭如裂；木萎不榮，則筋骨痙攣，半身不遂。此庚申春月之病，皆由此歲時、主、客三氣加臨之為患也。</p>
<p>仲景《傷寒論》有太陽陽明少陽三陽合病之症，為腹滿身重、難以轉側，口不仁而面垢，譫語，遺尿。如此症狀，自冬及春，最屬普通，是有歲氣與伏氣合併為病之原因也。</p>
<p>《傷寒論》云：太陽之病，脈浮，頭項強痛而惡寒。太陽經脈起於目內眦，上額交巔，絡腦下項，挾脊抵腰中。自冬及春，症狀初起，即惡寒，頭痛如裂，項筋強硬，腰脊疼重不可轉側，此實太陽傷寒之症。但在己未冬月，為時令傷寒，在庚申春月，為伏氣傷寒，病態雖同，而治法微有異也。</p>
<p>己未冬月，陽明為伏氣之病，太陽為時感之病，少陽相火為燥金復氣之病；庚申春月，太陽為時感與伏氣之並病，少陽為主氣之病，陽明為太陽傳化及少陽制侮之病。自冬及春，三陽皆病，故所患亦大率皆同也。</p>

<h1>與冬溫春溫風溫三症異同辨</h1>
<p>經云：秋傷於燥，冬生咳嗽。此伏燥化火，肺陰受傷，適遇冬失閉藏之令，天氣大溫，人處此陽擾之時，伏邪外泄，而發為溫病，名曰冬溫。又云：冬傷於寒，春必病溫。此伏寒化熱，少陰受傷，適值春陽上升之令，天氣大泄，人處此氣交之中，木火內燃，而發為溫病，名曰春溫。故仲景所云：發熱而渴，不惡寒者為溫病是也。以其內已化熱，故初病即渴；以邪非外感，故不惡寒。《素問》云：陰氣先絕，陽氣獨發。此冬春二溫發生之原因也。至於風溫之症，則又異是。風溫，章虛谷謂四時皆有。當氣候溫暖之時，毛竅腠理開泄，偶感虛風賊邪，即時成病，是為風溫。風為陽邪，故初起即發熱而惡風；風為輕清之邪，故先傷表分，非熱久內陷，必無昏厥之險也。今此症狀初起，必惡寒，口不即渴，及鼻塞、頭痛、項強者，實系當時感冒之症，亦即仲景傷寒之症也。但傷寒症必二日傳陽明，始有發熱、譫語、喘滿而死之惡候；今此惡寒，三五點鐘即發熱，或身不甚熱，遂致神昏、痙厥者，則明非純系傷寒之症矣。蓋此症所感之邪極為複雜，為從前醫籍所不載，苟非明眼人當之，鮮有不目迷心亂、醫藥雜投而致死者。以故莫不眾口一詞，曰瘟疫也，天災也，殊不知為醫者實難辭其咎也。</p>

<h1>治療</h1>
<p>秋燥本氣屬涼，謂之次寒，故《素問》有「燥淫於內，治以苦溫，佐以甘辛，以苦下之」之說，此秋燥勝氣之治法也。又云：燥金之下，火氣承之，燥之對化為火。故《素問》又言：燥化於火，熱反勝之，治以辛寒，佐以苦甘之說，此秋燥復氣之治法也。二法截然不同，不相假借，如此己未冬月之症，乃系復氣之為病，況邪氣內伏，久必化火；陰液虛耗，亦生內熱，當遵《素問》辛寒、苦甘及喻氏、葉氏辛涼、甘潤諸治法，庶合正規。昧著咸以羌活、防風、桂枝、獨活、川朴、枳殼諸苦溫辛熱之藥投之，故多致氣逆喘急而死。此一節論己未冬月症正治之法也。</p>
<p>仲景以發熱而渴、不惡寒者為伏寒化熱之溫病。既化熱，定必傷陰，故初即渴、即不惡寒，此庚申春月之病，亦當遵《內經》治燥之例以治之，故仲景治太陽病，發汗後大熱不解、大渴飲水者，及三陽合病，腹滿身重難以轉側，口不仁而面垢，譫語，遺尿者，並用白虎湯主之。石膏辛寒，辛能解肌，寒能降火；辛能升通，寒能沉降，並擅上下內外之能，故以為君；知母苦潤，苦以瀉火，潤以滋燥，故以為佐；且用甘草、粳米稼穡，作甘之味，調和於中宮，寒劑得之緩其沉寒，苦劑得之化其苦劣，能收滋陰之益，不受傷陰之害，即《素問》治以辛寒、佐以苦甘之旨，此聖人立法所以為善也。此一節論庚申春月症正治之法也。</p>
<p>當初起時期，惡寒、鼻塞、嘔吐、舌白、頭痛、項強，純系外感風寒之症，其內伏之邪尚未發動，宜速用辛平發汗散寒諸劑，透澈外邪，病可立愈。但為時無幾，一轉瞬而發熱、口渴、舌紅，既已引動其內伏之邪，表裡化合，混和并發，當此時期，外寒而內熱，外濕而內燥。徒攻其外，則真陰立涸；若滋其裏，則邪去無期。宜以辛平解肌，甘涼安內，一舉兩得，庶可保全。自茲以往，外邪既隨內伏而化熱，燎原之勢，無待躊躇，則救內應較攘外而彌急，宜治以辛涼甘寒，佐以微咸、微苦，用手經輕清之劑，大隊並進，津液得復，邪氣自除。至於足經鹹苦重濁諸劑，咸在禁忌。咸性作瀉，苦性降下，必傷其氣；咸令人渴，苦從火化，必傷其液。燥病日久，元氣、津液所存無幾，若更以鹹苦沉降之藥下其氣、竭其液，其人尚有生理乎？惟舌苔黃濁，裏結實甚者可暫之，非正治也。</p>
<p>或曰：此症發現起因，既由傷寒為導線，傳經見症，仍由太陽、陽明、少陽為轉歸，則仲景遺法具在，若麻黃湯、承氣湯、小柴胡湯，子皆棄之而不用，何也？答曰：仲景《傷寒論》乃傷寒即發、按日傳經之治法也，故仲景另以傷寒不即發，伏留化熱者名曰溫病，論中未出方劑。今此症由於伏氣，與仲景所謂溫病者同一類，故傷寒諸方無所用之也。或曰：伏邪發動之後，其治法不遵《傷寒論》既得聞命矣，若初起惡寒、頭項強痛，純系太陽表症，子何不用麻黃湯乎？答曰：初起時期，內伏雖未發動，然必要預防，當使潛消，不令暗長，乃為上策。麻黃、杏仁氣分藥，猶可用之；若桂枝，其色紫赤，其性人心、入血，能引助君火之氣以遊行於周身榮衛之間，今內伏雖未發動，徜驟入桂枝為導火線，則伏邪未有不隨引而暴發者。鄙人每易以紫金錠輩與服，無不應手取效，蓋紫金錠一面以麝香一散表邪，一面以硃砂涼鎮心火，故收效加神也。</p>

<h2>一種肺臟現症之治法</h2>
<p>初起惡寒咳嗽，頭痛鼻塞，脈浮緊者，宜杏蘇散加減主之</p>
<p>杏仁（三錢）　蘇葉（一錢）　牛蒡子（三錢）　桔梗（錢半）　前胡（錢半）　淡豆豉（三錢）　蔥白（三支）　生甘草（一錢）</p>
<p>此初感風寒，尚未觸動內伏，急宜治以辛平苦甘之劑，發汗利氣，一鼓盪平，不使留遺後患，是為得之。</p>
<p>初起惡寒發熱，鼻塞咽乾，痰黏不出，咳嗽喘急，倚息不得臥，脈浮候弦、沉候數者，宜仲景麻杏石甘湯主之。</p>
<p>麻黃（錢半）　杏仁（三錢）　石膏（六錢）　炙廿草（錢半）　水煎服。一二劑可愈。</p>
<p>此燥火內伏，寒邪外束，當遵仲景以辛瀉肺之旨，用辛溫散寒，辛寒清燥表裡兼顧法。</p>
<p>數日後不惡寒，但身熱或熱不甚，頭痛，口微渴，飲水後痰易咯出，喘急不得臥，脈弦數而澀者，宜吳鞠通辛涼輕劑桑菊飲主之。</p>
<p>桔梗（錢半）　杏仁（錢半）　蘇薄荷（錢半）　冬桑葉（三錢）　杭菊花（三錢）　連翹殼（三錢）　淡蘆根（三錢）　麥冬（四錢）　生甘草（一錢）</p>
<p>舌苔白滑，唇齒乾枯，燥在氣分者，加石膏；舌尖絳赤，燥在榮分者，加玄參、丹皮、鮮生地；譫語者加廣鬱金，便秘者加括婁皮，喉痛者加綠豆殼、山梔皮，服二三劑即愈。</p>
<p>日久無惡寒發熱，但諸氣膹郁，諸痿喘嘔，脈虛數者，宜喻氏清燥救肺湯去阿膠加菊花主之。</p>
<p>石膏（八錢）　冬桑葉（二錢）　杭菊花（三錢）　枇杷葉（三錢）　麥冬（六錢）　胡麻仁（三錢）　京杏仁（一錢）　北沙參（錢半）　生甘草（一錢）　痰多者加貝母（三錢）　便秘者加瓜蔞（三錢）服三五劑即愈。</p>
<p>此表邪已去，內燥未清，去阿膠恐其滯也。</p>

<h2>一種太陽陽明少陽三經現症之治法</h2>
<p>初起期，惡寒鼻塞，嘔吐，舌苔白，頭項強痛或喘悶昏厥者，宜紫金錠及諸葛行軍散並主之。</p>
<p><b>紫金錠方</b>（原缺）</p>
<p>紫金錠　每服一錢（約十塊），口中嚼細或研末，開水送下。未愈再服，一日內接服二三次，無不神效。十歲內小兒減半，五歲內小兒再減半，紫金錠一名玉樞丹，亦名萬病解毒丹，初起惡塞未發熱時服之，百發百中，無一失者，真神方也。</p>
<p><b>諸葛行軍散方</b>（原缺）</p>
<p>諸葛行軍散  每服一分，開水送下，未愈再服或加至一分半。</p>
<p>一日內接服二三次，無不神效，小兒酌減。</p>
<p>（方論）此症純為外感時期，寒邪外束，表氣不通，宜用辛溫諸劑，發汗透邪，利中利氣。表邪得澈，裡氣得通，則伏邪亦可化為烏有，此初起期內第一要著也。若惡寒已罷，通體發熱者，不可與也。</p>
<p>初起期，惡寒發熱，嘔惡，頭痛，項筋拘急，舌白、尖紅者，宜泄衛護榮湯主之。</p>
<p><b>泄衛護榮湯方</b></p>
<p>桔梗（三錢）　葛根（三錢）　蘇薄荷（錢半）　橘紅（錢半）　茅朮（錢半）　秦艽（錢半）　廣鬱金（錢半）　米仁（六錢）　元參（三錢）　鮮生地（三錢）　金銀花（三錢）　連翹（三錢）　服一二劑即愈。</p>
<p>（方論）風傷太陽，衛氣不行於頭，則必頭痛；寒中經絡，榮氣不充於裡，則必拘急；濕閉三焦，陽氣不達於表，則必惡塞。嘔惡者，胃有寒也；舌白者，表有寒也。陰邪外束，陽氣不得外泄，必致內竄，表邪外激，內伏乘機發動，必致合化。身熱、舌尖紅者，此邪漸入榮，引動伏熱，勢將昏厥之兆。急用辛平之劑，泄衛以徹表邪；甘涼之劑，護榮而增陰液。養正攻邪，內外兼顧，衝鋒急進，一鼓可以蕩平。真神方也。</p>
<p>初起期，惡寒發熱，項強筋急，頭腦疼痛最為劇烈，口微渴，舌尖紅者，宜疏風清腦飲主之。</p>
<p><b>疏風清腦飲方</b></p>
<p>杭菊花（三錢）　荷葉（三錢）　淡豆豉（三錢）　川藁本（錢半）　蘇荷葉（錢半）　丹皮（錢半）　玄參（二錢）　晚蠶砂（五錢）　鉤藤（五錢）　鮮銀花藤（七錢）　蔥白連須（七支）水煎服。二三劑即愈。</p>
<p>（方論）足太陽經及督脈同起於目內眦，上額交巔，絡腦間，下項挾脊，抵腰中。太陽為病，頭痛，脊痛，腰如折，項似拔；督脈為病，脊強反折。治宜藁本、蔥白，以疏達其經氣；足厥陰經從目系出額，會督脈於巔頂，肝風煽動，邪火上炎，直衝犯腦，則腦痛而筋攣，治宜菊花、薄荷、丹皮、玄參以疏火清火，豆豉、蠶砂以升清降濁，再加銀花藤、鈎藤通脈絡、解疫毒，使外襲之邪一齊達表，斷無續後內陷之危矣。</p>
<p>中泛期，發熱口渴，唇舌焦燥，頭腦劇痛，頸背痙攣，精神恍惚，譫語驚妄，或昏沉不省者，宜救陰清心湯加至寶丹主之。</p>
<p><b>救陰清心湯方</b></p>
<p>鮮生地（八錢）　鮮石斛（三錢）　麥冬（八錢）　金銀花（六錢）　玄參（四錢）　天竺黃（三錢）　淡竹葉（三錢）　龍齒（三錢）　廣鬱金（三錢）　遠志（錢半）</p>
<p>加至寶丹一顆磨沖服。</p>
<p>手指蠕動者加羚羊角（一錢）　鈎藤（三錢）　脈弱甚者加西洋參（一錢）。輕則一劑，重則二劑即愈。百發百中，決無一失，真神方也。</p>
<p>（方論）伏邪化熱，真陰虧耗，心神已處可危之地點；又復外邪內竄，逆犯心胞，心君乏抵抗之能力，飽受驚惶，所以有恍惚譫驚之狀態。此時邪氣方張，元氣將絕，存亡呼吸之間，最危險、最張皇之時期也，急宜治以大劑辛涼甘寒、佐以微苦微鹹、芳香靈異諸品，清熱降火，育陰和陽，通神明，化穢濁，大隊並進，庶可迴天。切忌芩、連、知、柏苦劣沉寒諸藥，傷陰劫液以化燥；三甲、驢膠、足經鹹寒諸藥，引邪深入下焦，如水益深，如火益熱，遂致不起，無可挽救，惜哉！</p>
<p>中泛期，又有發熱神昏，沈睡無語，不知痛苦，不能轉側者，宜前方加九節蒲、生黃耆主之。</p>
<p><b>前救陰清心湯加至寶丹方</b></p>
<p>再加九節蒲錢半、生黃耆錢半。</p>
<p>（方論）此症陰傷而陽亦受困，用九節蒲、生黃耆以發動其心陽，服一劑即能言語，但未免有恍惚胡言之候，宜除去九節蒲、生黃耆，再服前方一劑即可神清矣。</p>
<p>中泛期，又有舌潤，身涼，脈弦遲或伏，眼或開或閉，口噤不能言，不知痛苦，不能轉側者，宜喻嘉言滌痰湯加減與之。</p>
<p><b>喻氏滌痰湯加減方</b></p>
<p>制南星（三錢）　明麻（三錢）　九節蒲（三錢）　廣鬱金（三錢）　茯神（三錢）　製半夏（三錢）　茅朮（錢半）　橘紅（錢半）　生黃耆（錢半）　枳實（錢半）　炙甘草（一錢）　京竹油（一鍾）　薑汁（半鍾）　蘇合香丸（一顆 磨沖服）</p>
<p>虛者加高麗參錢半。水煎服。二三劑即愈。</p>
<p>（方論）此症風痰寒濕凝滯脈絡，良由素性寒涼，伏邪未能化熱，重感於邪，陽氣痹困太甚，宜用辛香諸品通陽利氣，則風痰寒濕之邪自能流通而無滯矣。</p>
<p>中泛期，身微熱，口噤筋攣，四肢抽搐，口眼喎斜，神識昏迷，脈弦滑、舌苔黃濁者，宜熄風安神湯主之。</p>
<p><b>熄風安神湯方</b></p>
<p>明麻（三錢）　茯神（三錢）　竺黃（三錢）　鈎藤（三錢）　龍齒（三錢）　薑竹茹（三錢）　全蠍（七條）　膽星（錢半）　川連（八分）　九節蒲（錢半）　橘絡（錢半）　琥珀（一錢，研沖）　辰砂（八分沖）加金器一具</p>
<p>水煎服。一二劑即愈。</p>
<p>（方論）此風邪直中厥陰，引動伏風從火化，風火相煽，氣升痰湧，阻滯竅絡，故見症如是。宜急以熄風清火、宣竅通絡、降氣化痰治之，邪氣廓清，而心君自泰矣。</p>
<p>中泛期，身熱口渴，心煩喘悶，頭疼身重，舌苔焦黃、濁厚、垢膩，胃中痞實，不知飢，不大便者，宜調胃承氣湯或涼膈散微下之。</p>
<p><b>調胃承氣湯方</b></p>
<p>大黃（三錢）　芒硝（五錢）　炙甘草（三錢）</p>
<p>水煎服，大便下即止。</p>
<p>（方論）此濁邪熾盛，盤踞中宮，以致上下脈絡痞隔不通，不得不遵《內經》熱淫、火淫之例，治以鹹寒，佐以苦甘，通順腸胃，則濁降清升，而諸症悉退矣。若舌雖然黑而苔薄不膩者，此伏氣化火無形燥熱，此方不可與也，宜仿吳鞠通增液湯法，於應用方內重加麥冬、玄參，大便自下矣。</p>
<p><b>涼膈散方</b></p>
<p>桔梗（錢半）　蘇薄荷（一錢）　淡竹葉（三錢）　連翹（三錢）　山梔（一錢）　黃芩（一錢）　大黃（三錢）　芒硝（二錢）　生甘草（二錢）　生蜜（一匙）</p>
<p>水煎服。</p>
<p>（方論）同前條。</p>
<p>終後期，心神清醒後身熱未清，口渴舌燥，頭痛甚劇，項筋疼脹，身不轉側，身有汗，右關脈洪數者，白虎湯主之；身無汗，但頭汗出，左關脈弦數者，宜養液通痹湯主之。</p>
<p><b>白虎湯方</b></p>
<p>生石膏（八錢）　知母（二錢）　白粳米（一合）　生甘草（一錢）</p>
<p>脈弱者加西參（一錢）</p>
<p>（方論）足陽明胃經脈上耳前，循髮際，至額顱，凡頭前額痛者，乃由陽明悍氣上衝，宜石膏、知母辛通苦降之劑，鎮墜其上衝之悍氣，抑令下降，然恐其沉降太過，致傷中氣，特佐以粳米、甘草緩滋清之品，養胃和中，以劑其平，所以為主治陽明溫熱病之最大有力者也。</p>
<p><b>養液通痹湯方</b></p>
<p>蘇薄荷（錢半）　杭菊花（三錢）　冬桑葉（三錢）　荷葉（三錢）　鮮生地（五錢）　鮮石斛（錢半）　麥冬（四錢）　金銀花（四錢）　京玄參（三錢）　原蠶砂（三錢）　米仁（六錢）　萆薢（三錢）　秦艽（錢半）</p>
<p>大便不通者麥冬、玄參、銀花可各加至五六錢。服一二劑即身涼，疼止，甚效。</p>
<p>（方論）此症頭痛、項疼，為前、中、後三期必有之特徵，大概前期多屬太陽，中後二期多屬陽明、厥陰。蓋太陽主表，屬外感傷寒症，陽明主中，屬傳裡化熱症；厥陰主裡，屬內風煽火症。太陽宜開，治以麻黃、羌活、藁本、薄荷之類；陽明主通降，治以白虎、增液、承氣之類；厥陰宜闔，治以鮮生地、丹皮、骨皮、菊花、桑葉、蠶沙之類，選取加入，自有卓效。太陽、陽明症治，前條既詳，茲不復贅。但厥陰治法，前人多用龜板、鱉甲、阿膠、牡蠣、地黃、白芍、五味、磁石酸收膩補、質重沈寒之物，今皆摒棄不用者，蓋此症純由五運六氣在天輕清之邪伏化而成，繼以肝風內起，煽動伏火，直犯上部清虛之體，震撼神經，重則必致昏厥，故治法亦宜仿此，而用微辛、微苦、微甘、微寒之劑，質輕味薄，氣清性平之品，端入上部清虛之處，使之鎮熄於無形，乃為善法。若厚重黏膩之藥，不達病所，非所治也。</p>
<p>終後期，神清身涼，軀體強直、重著、疼痛，不能轉側，脈弦硬而澀者，宜宣絡通痹湯主之。</p>
<p><b>宣絡通痹湯方</b></p>
<p>生黃耆（三錢）　當歸尾（三錢）　赤芍藥（三錢）　桂枝（錢半）　秦艽（錢半）　獨活（一錢）　片薑黃（錢半）　炙甘草（三錢）</p>
<p>加韭汁（半鍾）沖服。三五劑即愈。</p>
<p>（方論）此痹症也，誤服足經鹹苦沉寒之藥太過，以致風寒痰濕諸邪留滯經絡，瘀不動而成，宜治以辛甘通陽、導氣消痰、化瘀，而病自愈。</p>
<p>終後期，身微熱，口微渴，頭項微痛，四肢委廢，不能起坐，脈數而微弱者，宜益衝養榮湯主之。</p>
<p><b>益衛養榮湯方</b></p>
<p>鮮生地（四錢）　麥冬（六錢）　天冬（三錢）　金石斛（三錢）　杭菊花（三錢）　金銀花（三錢）　米仁（六錢）　桑寄生（三錢）　冬桑葉（三錢）　玄參（三錢）</p>
<p>筋骨疼痛者加萆薢、秦艽、通草，手指蠕動者加鈎藤，臂痛者加嫩桑枝一尺。</p>
<p>（方論）此痿也。宜治以甘寒，佐以微辛，清肺氣以益衛，滋胃液以養榮，飲食漸進，脈絡自通，則病即霍然矣。</p>
<p>終後期，左半肢體痿痹者，燥傷肝血也。痹症屬血瘀，宣絡通痹湯亦治之（見前）；痿症屬血虛，宜喻氏人參丸加減治之。</p>
<p><b>喻氏人參丸加減方</b></p>
<p>高麗參（錢半）　炙黃耆（三錢）　當歸身（二錢）　尖生地（三錢）　麥冬（四錢）　茯神（三錢）　龍齒（三錢）　石菖蒲（錢半）　遠志（錢半）　奎員肉（三錢）　炙甘草（三錢）</p>
<p>終後期，右半肢體痿痹者，燥傷肺胃之液也。痹症屬濕痰凝滯，脾氣不行，喻氏滌痰湯加減亦治之（見前）；痿症屬肺胃陰傷，益衛養榮湯亦治之（見前）；終後期，身涼，進食，但覺四肢痿弱不能起立行走者，宜補榮通俞飲主之。</p>
<p><b>補榮通俞飲方</b></p>
<p>北沙參（三錢）　原淮藥（四錢）　石蓮肉（五錢）　生苡仁（六錢）　麥冬（四錢）　天冬（三錢）　藿山斛（錢半）　淡蘆根（三錢）　生穀芽（三錢）　佩蘭梗（二錢）　括蔞殼（八分）　佛手柑（八分）　生甘草（八分）</p>
<p>（方論）此症治不得法，纏綿一二月，雖幸諸症俱退，必致肢體痿弱，不能起立行走，此臟陰虧耗，不榮筋脈，故緩從不收也。治法必以養陰為先，養必以納穀為要。《內經·痿論》云：治痿獨取陽明。陽明者，五臟六腑之海，主潤宗筋宗筋，束骨而利機關，故陽明虛則宗筋緩縱，帶脈不引故足痿不用也。宜各補其榮，而通其俞，調其虛實，和其順逆，則病已矣。補榮者，補養五臟之陰也；通俞者，通利五臟之熱也。榮出中焦，水穀入胃，取汁化赤而為血，以奉生身，行於經隧，故養陰之道，宜注意納穀之漸多，胃液之漸足，則庶幾矣。方中諸味，皆所以長胃液，助胃用，預期納穀之地也。</p>
<p>終後期，身涼，進食，或二三月後尚然，精神呆鈍，語言蹇澀，步履困難，脈弦細而澀者，宜天王補心丹主之。</p>
<p><b>天王補心丹方</b></p>
<p>高麗參（錢半）　當歸身（三錢）　小生地（六錢）　酸棗仁（三錢）　白茯神（三錢）　麥冬（三錢）　天冬（三錢）　丹參（三錢）　柏子仁（錢半）　遠志（錢半）　桔梗（錢半）　玄參（錢半）　五味子（一錢）　加燈芯（一個）</p>
<p>（方論）心液、腦汁久為燥火煎熬，傷耗已甚，故神經衰弱，知覺、運動俱處困難，陳修園曰：以生地黃補水，使水上交於心；以玄參、丹參、二冬瀉火，使火下交於腎，又佐參、苓以和心氣，當歸以生心血，二仁以安心神，遠志以宣其滯，五味以收其散，更假桔梗之浮為嚮導，榮氣通於心，心得所養，則靈機自轉，經脈自和，尚何疾病之有哉。</p>
<p><b>食復救治法</b></p>
<p>此症自初起至終愈，只宜食稀粥，大忌食飯，即復原後，亦宜逐漸增加，犯者病必即時回復。治法宜於應用方內加雄鼠糞，以利腸胃即愈。雄鼠消化力最優，食物下咽，不移時即變糞而下出，故用治食復，其效甚佳。本草云：貑鼠糞，甘、微寒，治傷寒勞復發熱，按當是。食復之誤犯酒食、油膩、燒炙之物者，加細茶葉可以解之。</p>
<p><b>勞復救治法</b></p>
<p>此症初愈，宜戒勞作，犯者其病即時回復。治法宜於應用方內加竹瀝一匙，以清經絡中之汙熱即愈。本草云：竹瀝，氣味甘、大寒，療風痹，止煩悶、消渴、勞復是也。</p>
