<header data-type="book">
<h1>瘋門全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>肖曉亭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1836">公元1836年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序一</h1>
<p>瘋門全書上下二卷。由廬陵王霞九自江西寄至粵東。言在江西已活數百人。囑為刻印廣傳。校訂者為高要何石卿茂才傳瑤也。石卿見此書驚喜。謂廣東多麻瘋。醫治者多系單方。從未見有如此書之明備者。石卿知醫。因校訂此書。已治愈一家三人。喜極。請急付之梓。予謂此書於各症。條分縷析。非單方治病者可比。必將全書瞭然於胸中。用藥方能得當。務望見此書者。多傳於知醫之人。施送日多。愈傳愈廣。活人功德。可限量耶。粵東多好善君子。諒必與鄙人有同心也。</p>
<p><u>道光二十五年歲次乙巳春正月敬業堂重刻謹志</u></p>

<h1>序二</h1>
<p>鈐陽劉全石先生。博雅士也。亦端愨人也。自棄去舉子業。究心於天文地理。醫卜星數。特見精妙。垂老時在舍親歐陽質中昆季家。得挹其道範。數相把晤。忘年結契。並其家嗣東昌君。亦得間與道款。往時與廬陵廩膳生蕭君曉亭先生相友善。曉亭邃於醫。於治癘一門。尤屬專家。癘門本少傳書。亦乏良方。乃遵仲景六經之法。苦心冥索。三易寒暑。分列綱目。詳加註釋。成書二卷。名曰癘疾輯要。癘疾備要。以之治癘。百不失一。嘗言全活不下數百人。欲刻行世。未遂厥志。以其書托全石先生梓行。以先生敦氣誼。重然諾。謂能不負所托。後先生商諸家孝廉春臺君。春臺偕同志慫恿就梓。未及付剞劂。而先生捐館舍矣。春臺亦頻歲留滯京邸。此舉遂不果。今歲之暮春。東昌君已將是編授諸梓人。因丐一言以識顛末。行見書成。不脛而走天下。天下之染是疾者。立起沉疴。何厚幸也。東昌君可謂克廣德心。能成父志矣。全石先生真可謂有子。並幸能不負死友矣。事之成廢有時。殆亦有數存乎其間。信夫。</p>
<p><u>道光十六年暮春月宜陽曉村袁壯輿謹識</u></p>

<h1>序三</h1>
<p>疾病之最慘最酷最易傳染而不忍目睹者。曰瘟疫。曰癘瘋。仲景瘟疫論。兵燹後盡失其傳。賴姑蘇吳又可特闢手眼。破叔和之藩籬。接長沙之心傳。參伍錯綜。委曲詳明。至今兆民賴以生全。獨癘瘋幾千百年。明哲代出。無不為之束手。聖如丹溪。治效四人。後三人猶復發而斃。以故患是疾者。戚里惡聞。骨肉遠避。痛苦之餘。求死不能。求生不得。甚至有投水懸梁。自戕其命。而銜冤地下者。則癘瘋之慘酷。比之瘟疫。殆尤甚矣。乾隆嘉慶間。是疾吾省罕見。今則村落中十里五里。處處咸有。天地殺厲之氣。愈積愈盛。或目為正報。或諉為劫運。余竊非之。夫病各有因。外而六淫。因乎天也。內而七情。因乎人也。癘瘋則地氣所主。而天與人從此應之。大抵染是疾者。惟東南最盛。大河以北未有也。豈非東南地勢卑下。魚鱉龍蛇之蟠踞。濕極生熱。熱極生濕。二氣互蒸。常則為嵐為霧為煙瘴。變則另有一種濁氣穢氣毒氣。與夫似濁非濁。似穢非穢。似毒非毒之氣。從地而起。人在氣交中。如魚在水。無隙可避。輕則傷及肌膚。重則傷及筋骨。又重則傷及臟腑。苟非有人焉。仰觀俯察。洞見其源。而設法以救之。豈能使民無夭札哉。余賦性素懶。攻舉子業。亦不求甚解。而於岐黃術獨好深湛之思。每念百病皆有方法。何癘瘋一門。獨無專書行世。豈天道之好殺與。抑人事有未盡與。嘗以此語質之全石劉席觀先生。先生曰。是書吾家藏有善本。系廬陵蕭君曉亭所手著。治經千人。應如桴鼓。嘗欲刊印萬本。遍送鄉場應試諸公。惜有志未逮。臨終以其書授余。謂余能不負所托。今老矣。恐此書不成。無地見曉亭矣。子其有意乎。余聞而喜出望外。急索其書而讀之。見其論證精細。處藥和平。而又曲盡變態。得心應手。洞垣窺牆之技。不是過矣。爰集同人注而梓之。斯亦儒者隨地濟人之端乎。抑余因之有感矣。方今天下經驗奇方。當不止此。如蕪湖之藥酒。通州之眼藥。以及化痞諸膏。要皆私諸一家。以為子孫射利之途。曉亭不傳其後嗣而獨傳先生。先生亦不傳其後嗣而獨傳余。非曉亭不能知先生。非先生亦不能不負曉亭。而諸君子之慷慨好義。俾余與先生與曉亭終相與有成也。亦非偶然矣。是為序。</p>
<p><u>道光十二年庚寅秋後一日鈐陽春臺袁世熙序</u></p>

<h1>序四</h1>
<p>先大父醒初公。素稱博雅。廷試南歸。由蘇杭書肆。購有古今奇書。除經史百家外。如天文地理以及醫卜星數。無不精通其術。先君子曉亭公。幼承庭訓。口授最真。而於醫道更詳。蓋以醫乃仁術。可以濟人。誠如范文正公所謂願為良醫也。嗣是先君子醫人神效。素不受謝。遠近踵門求方者益眾。惟治癘一途。尤殫精竭力。旁搜遠索。又得各家秘本。斟酌損益。歷數寒暑而始集其成。而更遵仲景六經之法治之。以故醫癘百不失一。欲公諸世。誠恐傳非其人。或以此為射利之門。一再傳後。有失其真者矣。鈐陽劉全石先生孝友成性。古道照人。與先君子氣誼相投。為知心交。而於天文地理醫卜星數。互相參稽。如是者有年。歲辛酉。先君子病篤。遣價迎全石先生於分宜。至則縱論古今。其病若失。一夕謂先生曰。爾我治癘一法。所活不下數百人。欲將所注癘疾輯要。及所記癘疾備要二卷。俟歲貢後。刊刻萬本。即在江西鄉場分送應試者。又聞粵東多癘。亦印送萬本。遍送鄉試諸公。今墓木拱矣。無後望矣。若成此事。非君未有可托者。乃檢出輯要備要二書。再拜而授之。先生亦再拜而受之。二人握手淚下。馨等亦泣而志之不敢忘。不逾月先君子捐館舍矣。厥後全石先生罕至吉州。而馨等兄弟亦橐筆遨遊羊城十有九年。飢軀依人。未能刊布其書。今仲夏先生命其主器東昌君冒暑來舍。道及同邑孝廉袁春臺先生。欲集同人刊布此書。馨聞喜甚愧甚。愧者愧馨兄弟徒讀父書。不能成先志也。喜者喜善與人同。得有全石先生與孝廉袁君也。乃檢先君子手定原稿。交東昌君。其再拜授受亦如前。他日刊刻成書。分布天下。俾癘疾不降。民無夭札。是即全石先生與孝廉袁君之功也。亦即吾祖父之志也。而馨等兄弟何有焉。是為序。</p>
<p><u>道光十年歲次庚寅季夏朔日廬陵一山氏蕭桂馨謹識</u></p>

<h1>序五</h1>
<p>余自幼愛治岐黃術。謂醫雖小道。有裨於人己。讀書人所宜旁及。顧不登門不索謝。據六經之法而治之。求方者日益眾。嗣以有妨舉業。乃力辭而置之矣。惟治癘則尤汲汲不遑。常恐其不我遇。夫癘疾也。得之者。父子離散。夫妻暌違。戚友避之。行道叱之。非若他疾只傷一人。癘實傳染常多。或傷鄰友。或傷一家。至於無與為婚而絕嗣者不少。張子云。疲癃殘疾。皆吾兄弟之顛連而無告者也。不其然乎。顧治是疾。古今既少專書。方亦寥寥。而庸輩偶得一二方。私為秘本。挾此以索重資。及叩以病源藥性。茫然不知其故。精醫之士。又或畏其穢汙而不經心。或目為正報而托於緣定。使抱是病者。有病無藥。致自縊投水死者。往往有之。余甚憫焉。究心多年。治不下數百餘人。爰著此編。舉其綱。張其目。條分縷晰。三易寒暑。頗費苦心。閱是編者。豈惟可以治癘。亦於分經治病之道。可得其概矣。有心者廣而行之。亦吾輩隨地利人之一端也歟。</p>
<p><u>嘉慶元年孟夏月初九日曉亭主人書</u></p>

<h1>述古八則</h1>
<p>素問脈要精微論曰。脈風。成為癘風。又風論曰。風寒客於脈而不去。名曰癘風。癘風者。營衛熱胕。其氣不清。故使鼻柱壞而色敗。皮膚瘍潰。</p>
<p>長刺篇論曰。大風骨節重。鬚眉墮。名曰大風。</p>
<p>靈樞曰。癘風者。數刺其腫上。已刺。以銳針針其處。按出其惡氣。腫盡乃止。常食方食。毋食他食。千金翼耆婆治惡病曰。疾風有四百四種。總而言之。不出五種。即是五風所攝云。何名五風。一曰黃風。二曰青風。三曰白風。四曰赤風。五曰黑風。其風合五臟。故曰五風。五風生五種蟲。黃風生黃蟲。青風生青蟲。白風生白蟲。赤風生赤蟲。黑風生黑蟲。此五種蟲。食人五臟。若食人脾。語變聲散。食人肝。眉睫墮落。食人心。遍身生瘡。食人肺。鼻柱崩倒。鼻中生息肉。食人腎。耳鳴啾啾。或如車行雷鼓之聲。食人皮。皮膚頑痹。食人筋。肢節墜落。五風合五臟。蟲生至多。入於骨髓。來去無礙。壞於人身。名曰疾風。疾風者。即癘病之根本也。病之初起。或如針椎所刺。名曰刺風。如蟲走。名曰遊風。遍身掣動。名曰瞤風。不覺痛癢。名曰頑風。肉起如桃李小棗核。從頭面起者。名曰順風。從兩腳起者。名曰逆風。如連錢團圓。赤白青黑斑駁。名曰癘風。或遍體生瘡。或如疥癬。或如魚鱗。或如榆莢。或如錢孔。或癢或痛。黃汁流出。肢節壞爛。悉為膿血。或不癢不疼。或起或滅。青黃赤白黑。變易不定。病起之由。皆因冷熱交通。流入五臟。通徹骨髓。用力過度。飲食相違。房室不節。虛動勞極。汗流遍體。因此積熱。風熱徹五臟。飲食雜穢。蟲生至多。食人五臟骨髓皮肉筋節。久久壞敗。名曰癘風。</p>
<p>丹溪云。癘疾須分在上在下。在上者以醉仙散。取臭惡血於齒縫中出。在下者以通天再造散。取惡物蛔蟲於穀道中出。所出雖有上下道路之異。然皆不外於陽明一經而已。看其證之上先見。上身多者。病在上也。下先見。在下身多者。病在下也。上下同得者。病在上下也。何則。陽明主胃與大腸。無物不受。多氣多血。邪風之傷人也。氣受之。上身多。血受之。下身多。氣血俱受。上下皆多。自非醫者神手。病者鐵心。罕有效者。夫氣為陽為衛。血為陰為營。身半以上。陽先受之。身半以下。陰先受之。是故再造散治病在陰分。用皂角刺逐風毒於營血中。肝藏血。惡血留注不能運動。故蟲生焉。必用此以治其臟氣殺蟲為主。以大黃引入腸胃。利出瘀惡蟲物。醉仙散治病在陽分。用牛蒡子驅風毒惡瘡於遍身。胡麻逐風補肺。潤皮膚。蒺藜去惡血。身體風癢。通鼻氣。防風治諸風。栝蔞根治瘀血。消熱腫。枸杞消風熱。解毒瘡。蔓荊子逐賊風。苦參解熱毒。然必藉輕粉為使。逐出胃腑惡毒臭穢之物。殺所生之蟲。循經上行。至牙齒軟薄之分。而出其臭毒之涎水。服藥後。若損齒。則以黃連末揩之。或先佐入劑中。以解輕粉之毒。輕粉在醉仙散中。有奪旗斬將之功。遂成此方之妙用。非他方所可並及者。薛新甫曰。癘瘍所患。非止一臟。然其氣血。無有不傷。而其證亦無有不雜。況積久而發現於外。須分經絡之上下。審氣血之虛實。不可概施攻毒之藥。當先助胃壯氣。使根本堅固。而後治其瘡可也。</p>
<p>癘瘍當知有變有類之不同。而治法有汗下砭刺灸補之不一。蓋類證當審輕重。變證當詳真偽。而治法又當量其人之虛實。究其病之源委。而施治焉。夫虛者正氣虛也。實者邪氣實也。</p>
<p>癘瘍針砭之張子和。以一汗抵千金。蓋以針血不如發汗之周遍也。發汗針血。二者一律。若惡血凝滯在肌表經絡者。宜刺宜汗。取委中出血則效。若惡毒蘊結於臟。非盪滌其內。則不能療。若毒在外者。非刺遍身患處。及兩臂腿腕手足指縫。其毒必不能散。若表裡俱受其毒者。非外針內泄。其毒決不能出透。若上身患多。宜用醉仙散。使內蓄惡血於齒縫中出。又刺十指甲並臂腕。以去肌表毒血。下身患多。宜用再造散。令惡血蛔蟲於穀道出。仍針足指縫並腿腕。隔一二日再刺之。以血赤為度。如有寒熱頭痛等證。又當因證而施治焉。</p>

<h1>麻瘋二十一論</h1>
<p>麻瘋者。古人呼為癘風。又名惡疾。廣東呼為大麻瘋。又名疙瘩。外省或呼為大皮瘋。又曰癩皮瘋。染是疾者。夫妻兄弟子女離散。戚友避之。行道叱之。顛連無告。至此極矣。醫者不知受病之源。或言傳染。或言風水。雖非無因。然未必皆此之故也。蓋東南地卑近水之處。此疾尤甚。天氣較炎。地氣卑濕。濕熱相搏。乘人之虛。入於營衛。衛氣受之。則上身證多。營血受之。則下身證多。營衛俱受。上下俱多。此其大概也。究之無論上下。必氣虛。邪始乘之而入。血虛。邪始乘之而凝。結於筋絡。積於肌肉腠理之間。郁久生熱。故此病血熱居多。又或臥於濕地。受其熏蒸。或汗出後浴洗冷水。或濕衣沾身。或房勞後浴冷臥濕。皆能受病。初則血滯不行。漸生麻痹。日久漸大。不知痛癢。針之不痛。今年發手。明年發足。或如癬形。或如瘡癩。或似蟲行。或筋痛肉跳。久則傷形變貌。面生紅堆。耳或長大。時如蟬鳴。臉如酒醉。又如油塗。手拳腳跛。口喎眼斜。鼻塌唇翻。不早治。成廢疾矣。</p>
<p>癘風古無法治。丹溪止用醉仙散。再造散二方。但服輕粉。多生輕粉毒。恐一疾未愈。又添一疾。又有大黃皂刺牽牛之類。然惟實者可用。氣血虛者。反耗元氣。東垣海藏。各有數方。亦兼他病而治之。至耆婆所列各方。藥多難制。外此方書所載。亦殊寥寥。若薜新甫癘瘍機要。詳於變證類證。而略於正治。要之濕熱相搏。邪氣乘虛而入。總以涼血和血為主。驅風驅濕為佐。審元氣之虛實。按六經以分治。斯治癘之要道也。病之輕者。背腰手足之間。形如疥癬。不痛不癢。頭面或似蟲行。或手足骨節間。撞之如刺痛。或時作熱。拭之又無。病之重者。手足生瘡。肉中結核。臉紅耳腫。口喎眼斜。至年久病深。壞形變貌。鼻塌肉崩。手指脫落。足底爛穿。則難治矣。又身有麻木。數月即發外。雖重易治。丹溪謂麻木乃癘疾之本是也。又手有痹肉。則虎口肉珠必焦。左手痹則左虎口肉焦。右手痹則右虎口肉焦。輕則肉珠瘦小。重則肉珠消陷。若兩手俱無痹肉。則虎口肉珠俱全。此法止可看手之輕重。面背腿足之疾。不驗之於此。面帶紫色。常如醉人。且如油塗。俱有微浮。或黑而枯瘦。或黃而有浮光。其人身上。必有麻木。或數月即發。或數年或數十年始大發。近發易愈。遠發難治。原於初起不信之故耳。</p>
<p>南人謂藥治不過三五年。後必復發。俗云。此病只好治邪。不能除根。皆不通之論也。大凡染病者多貧。藥餌難繼。或半痊而囊空。或痊後不戒食物。不守禁忌。或治之未盡。有一二點痹肉未活。或痹肉活而皮色未復原。以致復作。此疾最忌房事。蓋精乃骨髓。精泄則毒氣乘虛而入。若不斷此。必不能治。愈後不再戒。一年必復發。</p>
<p>輕者腳未吊。手未拳。鼻未塌。肉未崩。證本可治。而服藥無效。或氣虛未補其氣。血虛未補其血。又或兼有別證。當詳審之。</p>
<p>病在外而浮者易愈。在內而沉者難痊。氣血盛者易治。衰者難治。在外而浮者。麻木不久尚淺。重扭則痛。毒發在外。或癬或紅堆。即遍身濕爛。亦可速愈。在內而沉者。痹肉沉內。稍稍緣開面上。手足背腿。各處紅紫之色。浸入肉內。不但現於皮膚。重扭不疼。針刺不知。治之必須一二年方可全愈。</p>
<p>死肉紅堆。刺淺即覺痛者。不必爛。刺深不知痛。刀割不知疼。鼠咬不覺。宜用藥爛去。然後用膏藥貼之。用生肌藥敷之。即易平復。未見疾而有臭氣逼人。此種一發必甚。亦易傳染。蟲乃肝經風熱所生。肝不受病則無蟲。謂瘋病無蟲固非。謂瘋病有蟲亦謬。損筋者。手拳足痿。手拳不硬。以手按之即直。治之得法。手可復伸。硬者難伸。腳吊痿者。不焦可復舊。焦者難復。手焦亦然。折骨者手足脫落。四肢如冰。骨節挺露。形如枯樹。名為濕墜。</p>
<p>濕閉久而生熱。熱鬱久而生痰。輕則鼻塞。重則聲啞。法宜清利肺經。痰自息。塞自通。啞自開。肺主氣。肝藏血。氣行則血行。血凝因氣滯。肺主皮毛。肝主經絡。肝盛而脾胃亦病。故現於面。面屬陽明胃也。發於四肢。四肢脾也。筋弛皮癢。肝之本證。聲啞鼻塞。肺之本證。折骨則腎病也。其初必由肝肺而致。又肝木能自生風生蟲。肺失治節。故眉落筋弛。治瘋者。當以肝肺二經為主。</p>
<p>大小便不同器。人皆知之。外此。病人吃煙。亦宜避之。不病人吃煙。見病人亦宜避之。病人之尿。不可淋菸草。淋則吃者必生瘋病。此則人所不知。或謂人之氣血。各歸其經。豈能傳染他人。不知疥癬尚有傳染。何況瘋乎。父精母血。交媾成形。而所生男女。或染或否。何也。病在內者無不傳。病在外者間有不傳。未病而先生子。能禁忌者不傳。至云瘋病無及子女者。則非也。精血交媾。夫妻豈有不傳。男傳女者少。女傳男者多。何則。女人因月水下而能泄其毒。故瘋病者少。或言婦人賣瘋之說。理亦可信。又言地土所產。室女亦必賣瘋。則終身不患此病。而所買之人則生瘋。若果有此。當於室女經水初至時。即用藥治之。以去血熱為主。以平祛肝經自生之風為佐。但得一次現面則毒出矣。切不可用瘋門套藥。用之反致成瘋。存此以質高明。</p>
<p>氣血俱實。脈實而有力。表劑汗之。使從表解。峻劑下之。使從二陰而出。次以清熱驅風養血之劑為丸。相間而服。又重者。用藥煎水熏洗。自當速效。若氣血俱虛者。以補血和血為主。佐以涼血驅風之品。緩緩治之。亦無不效。大凡治瘋發出者。易治。服藥即發亦易愈。</p>
<p>熏洗之法。務要露出頭面。凡痹肉無汗者。血死濕閉故無汗。汗即血也。血枯之人。不可大汗。先養其血。血漸復。則可熏洗。若多服丸藥。久久汗出如常。不熏洗亦可。</p>
<p>痹者肉木而不痛。若不針出死血。勢必潰爛。膿血淋漓。但針出黑血。不妨再針。若針出鮮血。即止。須一次針一處。不可連針數處。恐去血過多。血盡而人亡也。大抵爛之則效速。不若針之效雖遲較為穩當也。灸法。先將痹處以墨點記。然後以生薑一片貼上。用艾丸灸之。覺痛即止。但痹少則可灸。痹多則不勝其灸。當以服丸藥為主。</p>
<p>死肌痹肉。寒濕永結。久則遍身發泡。爛而為瘡。膿水淋漓。名曰風瘡。又名疙瘩。須用藥撒之。令膿水乾。則結痂。久之痂自脫落。亦有服藥得法。泡破而無膿水者。至狀若豆瘡。硬如牛乳肉豆。結核者。不妨針出惡血。針而不愈。以藥爛之。爛後以膏藥貼之。</p>
<p>男人血少。以養血和血為主。驅風行滯為佐。女人血多。以活血行血為主。驅風燥濕為佐。男人忌房事。女人尤忌。女不禁房事。恐受胎一二月。尚不知其虛實。投以瘋藥。而胎墜矣。胎墜則血氣俱虛。毒更乘虛而入。而病愈重。況男女交接。毒又必傳染乎。又凡女人。必兼一二味調經之品。</p>
<p>癘雖惡疾。治之得法。即常用平和之藥。亦無不效。蛇蠍猶可用。至若砒霜、蜈蚣、斑蝥、輕粉之劑。病之極重者。不得已而用之。不可恃此以為常。川烏、草烏、附子、肉桂。虛寒之人。病愈後以之結功則可。以之治病則不可。蓋辛熱之品。能燥血耗血。血虧而病愈加。不可不知。</p>
<p>發毒之物助毒。生冷之物凝血。凝滯之物固毒。煎炒之物助火。皆宜切戒二三年。若自死禽獸之肉。終身宜戒。母豬肉亦然。</p>
<p>瘋疾傳染。事故常有。但迴避可也。不共用器。不同飲食。各房各床。盡力求治。寬以歲月。無不全愈。否則亦當調停處置。令衣食不缺。若夫妻離棄之事。切莫勸解。</p>

<h1>麻瘋三十六種辨症圖說</h1>

<h2>大麻瘋</h2>
<figure>
<img alt="大麻瘋">
</figure>
<p>唇翻齒露。眼扯腳吊。手足指脫。鼻梁崩塌。損形變顏。種種惡狀。年深病重。無藥可治。必用毒藥攻之。久久方效。蒺藜散之類主之。此麻瘋也。</p>

<h2>暑濕瘋</h2>
<figure>
<img alt="暑濕瘋">
</figure>
<p>手足先有麻木。次則身有死肉。或如瘡疹。或似疥癬。或皮肉常似蟲行。或耳腫長大。或虎口肉焦。身有紅塊紅堆。臉有紅雲油光。筋跳肉痛。遍身瘙癢。或起白屑。或起黑皮。此大麻瘋之次也。小神散主之。此麻瘋也。</p>

<h2>紫𤺺瘋</h2>
<figure>
<img alt="紫𤺺瘋">
</figure>
<p>手足無痹。耳臉紅光。身有云斑。或有紫塊。或有紅塊。內紅外白。時浮時沉。或出風珠。或出風團。用前方主之。此似麻瘋。而實非麻瘋也。</p>

<h2>白𤺺瘋</h2>
<figure>
<img alt="白𤺺瘋">
</figure>
<p>遍身花白點。仍有痹肉。狀似汗斑。白轉紅。紅轉白。痹肉不甚死。非風濕。即輕粉毒也。治之當兼擦洗。立效。此非麻瘋。似是實非也。</p>

<h2>紫癜瘋</h2>
<figure>
<img alt="紫癜瘋">
</figure>
<p>皮血光亮如油珠狀。近火必紅。眉須先脫。手足麻痹。肉中結核。穿爛成瘡。愈而復發。以小神丸治之。此非麻瘋。宜遵醫宗金鑑紫癜瘋治之。</p>

<h2>白癜瘋</h2>
<figure>
<img alt="白癜瘋">
</figure>
<p>毛髮俱白。臉如敷粉。自少至老。發於遍身。四體一色。手足軟弱。間有紅粒。一發不治。又有輕粉毒。亦類於此。此非麻瘋。遵醫宗金鑑白癜瘋治之。</p>

<h2>隱瘋內發</h2>
<figure>
<img alt="隱瘋內發">
</figure>
<p>染者不覺。勞熱則紅。近火則光。耳臉常熱。足有痹肉。臉似蟲行。拭之不見。隱隱而出。一發即爛。小神丸主之。此非麻瘋。初起照各經得病之因。用藥治之即愈。</p>

<h2>干瘋</h2>
<figure>
<img alt="干瘋">
</figure>
<p>身有粗皮。臉淡紅色。身有痹肉。手足焦枯。此非麻瘋。照症用藥治之。</p>

<h2>豬頭瘋</h2>
<figure>
<img alt="豬頭瘋">
</figure>
<p>臉紅耳腫。磊磊紅團。手足腫痹。身熱痰多。鼻塞聲啞。發之甚凶。治之易愈。此非麻瘋。不可妄指。擇方治之。</p>

<h2>拔髮瘋</h2>
<figure>
<img alt="拔髮瘋">
</figure>
<p>眉發脫盡。然後痰出。手足麻痹。身有紅塊。預穿腳底。耳熱眼跳。手拳足吊。癢痛無時。蒺藜散主之。此麻瘋也。</p>

<h2>侵熱瘋</h2>
<figure>
<img alt="侵熱瘋">
</figure>
<p>初起勢驟。遍體蒸熱。然後病發。用通瀉之劑。佐以涼血。如臉有紅塊。以八寶丹治之。此非麻瘋也。審症用藥。治無不愈。</p>

<h2>侵寒瘋</h2>
<figure>
<img alt="侵寒瘋">
</figure>
<p>體既虛弱。因受地氣。地濕所侵。初亦不覺。身有痹肉。手足焦枯。肢體拘攣。蒺藜散主之。此非麻瘋。</p>

<h2>癩癬瘋</h2>
<figure>
<img alt="癩癬瘋">
</figure>
<p>患如癬癩。遍身瘙癢。身多死肉。皮多麻木。久則拘攣。眉發脫落。蒺藜散主之。此麻瘋也。</p>

<h2>癩皮瘋</h2>
<figure>
<img alt="癩皮瘋">
</figure>
<p>如豬癩。有密疹。耳臉俱發。手足破爛。眉發稀少。搔之皮飛。身體瘦弱。輕用搜風散。重則蒺藜散。此麻瘋也。</p>

<h2>牛皮瘋</h2>
<figure>
<img alt="牛皮瘋">
</figure>
<p>皮破色淡。抓之如竹殼。不知痛癢。色如牛皮。面蒼黃。手足瘦削。輕用蒺藜散。重則不治。此麻瘋也。</p>

<h2>蛇皮瘋</h2>
<figure>
<img alt="蛇皮瘋">
</figure>
<p>身如蛇鱗。足有破爛。紅而兼黑。身體瘦削。手足麻木。且多痰嗽。輕用蒺藜散。重則不治。或吃蛇中毒。亦致此病。此麻瘋也。</p>

<h2>牛蹄瘋</h2>
<figure>
<img alt="牛蹄瘋">
</figure>
<p>風癢多年。十指脫落。筋骨損傷。狀如牛蹄。不治。此麻瘋也。因失治誤治。以致於此。可不慎之。</p>

<h2>雞爪瘋</h2>
<figure>
<img alt="雞爪瘋">
</figure>
<p>受病多年。血不榮筋。麻木不仁。十指拳曲。狀如雞爪。蒺藜散主之。此似瘋而非瘋。失治誤治。以至於此。照書中治之。</p>

<h2>面遊瘋</h2>
<figure>
<img alt="面遊瘋">
</figure>
<p>面如蟲走。拭之不覺。身如蝨咬。尋之又無。漸漸麻木。微發紅塊。大麻瘋之根也。用搜風散治之。此非麻瘋也。若誤治失治。則成麻瘋。</p>

<h2>金錢瘋</h2>
<figure>
<img alt="金錢瘋">
</figure>
<p>紅圈如錢。內紅外白。麻木不知。或則痛癢。婦人多患此症。因月事時受濕而發。或經水滯於皮膚。狗寶丹治之。此非麻瘋也。急早治之。不致成瘋。</p>

<h2>銀錢瘋</h2>
<figure>
<img alt="銀錢瘋">
</figure>
<p>塊如錢大。內紅外白。刺之無血。白色如銀。先發於身。後上面部。隱隱在內。輕用狗寶湯。重用蒺藜散。此似瘋而非瘋。急照書治之。</p>

<h2>胎毒瘋</h2>
<figure>
<img alt="胎毒瘋">
</figure>
<p>父精母血。遺毒子女。治法不一。相證用藥。此非麻瘋也。</p>

<h2>淫毒瘋</h2>
<figure>
<img alt="淫毒瘋">
</figure>
<p>夫妻傳染。身覺多痛癢。臉如蟲行。面時作熱。用八寶丹。或狗寶湯。此偶傳染。而非麻瘋。急治則愈。</p>

<h2>肺毒瘋</h2>
<figure>
<img alt="肺毒瘋">
</figure>
<p>大腸燥結。風痰時發。臉如酒醉。又現紅雲。眉毛先脫。四肢浮腫。用小神丸。此非麻瘋。照肺經相症用藥。</p>

<h2>心毒瘋</h2>
<figure>
<img alt="心毒瘋">
</figure>
<p>心經受病。面多紫雲。且多鼻衄。此非麻瘋。照心經得病。用藥治之。重則照方法治之。</p>

<h2>肝毒瘋</h2>
<figure>
<img alt="肝毒瘋">
</figure>
<p>厥陰受病。傷目損筋。肉中結核。皮膚燥裂。或穿爛成瘡。以小神丸治之。此似麻瘋。而非麻瘋。初起急治。小神丸最妥。</p>

<h2>脾毒瘋</h2>
<figure>
<img alt="脾毒瘋">
</figure>
<p>太陰受病。四肢焦枯。虎口無肉。身多麻木。遍身紅癬。刺之又無血。發稀足裂。輕用小神散。重則蒺藜散。本非麻瘋。初起失治。延久則成。照方治之。</p>

<h2>腎毒瘋</h2>
<figure>
<img alt="腎毒瘋">
</figure>
<p>少陰受病。腳底先穿。骨節疼痛。多因房勞傳染。或病已發。不禁房事。此症多因風俗。婦女賣瘋。而所買者。則成瘋。因貪淫傳染。不禁房事。法在不治。若能改過遷善。向書中求之。按症用藥方妥。</p>

<h2>血熱瘋</h2>
<p>（又名血瘋）</p>
<figure>
<img alt="血熱瘋">
</figure>
<p>濕熱相搏。血凝氣滯。結於皮膚。發泡生瘡。且多痹肉。小神丸。八寶丹主之。此非麻瘋也。</p>

<h2>疹毒瘋</h2>
<figure>
<img alt="疹毒瘋">
</figure>
<p>痘麻失調。餘毒流於肌肉。又或臥濕浴冷。麻木少而疹痘多。雖無甚利害。卻難斷根。此非麻瘋。切不可指為麻瘋。其過不少。審症治之。</p>

<h2>瘕毒瘋</h2>
<p>（一名松子瘋一名珍珠瘋）</p>
<figure>
<img alt="瘕毒瘋">
</figure>
<p>面有油光。疹粒如珠。身有死肉。重者粒大臉紅。用蒺藜散。粒小者小神丸。此似是而非。初起速治。照上方主之。</p>

<h2>軟腳瘋</h2>
<figure>
<img alt="軟腳瘋">
</figure>
<p>身上病少。濕熱入筋。足痿難行。雖屢針刺。不知疼痛。蒺藜散主之。此濕熱入於筋。足痿難行。雖針刺不知痛。可照濕痹治法。或參上方。此非麻瘋也。</p>

<h2>破傷瘋</h2>
<figure>
<img alt="破傷瘋">
</figure>
<p>打破跌傷。致風寒暑濕。客於經絡支節之間。年深月久。遂成痹肉。或紅或腫。治法不一。相症用藥。並治病源。此非麻瘋也。因久失治。以成此症。急照書中。參酌方法治之。</p>

<h2>暗滯瘋</h2>
<figure>
<img alt="暗滯瘋">
</figure>
<p>手足有痹。遍身淡點。眉疏皮癢。足似蛇行。染者不覺。小神丸主之。此非麻瘋也。審症用藥。或以上方治之。</p>

<h2>流毒瘋</h2>
<figure>
<img alt="流毒瘋">
</figure>
<p>前因染病。曾餌輕粉。屢發瘡疹。因成麻木。仍有紅塊。或破或爛。眉稀發少。前方治之立效。此非麻瘋也。初起治之即愈。</p>

<h2>感癘瘋</h2>
<figure>
<img alt="感癘瘋">
</figure>
<p>純是熱毒之氣。裹於皮膚之間。濕氣又藏骨肌之內。皮紅生點。鬚眉盡落。遍體腐爛。臭氣不可聞。以補腎健脾。散風去濕之劑主之。此感瘴癘之氣。而成大麻瘋也。</p>
<p>按以上三十六瘋。種類雖多。苟能審其表裡虛實。察其病根之淺深。寒熱之輕重。系何經之證。兼何經之部位。以何藥為主。何藥為使。引入某經。有是證即用是藥。又何必區別其名目哉。（曉亭識）</p>

<h1>五不治（輕亦可治）</h1>
<p>一皮死麻木不仁（易治）　二肉死刀剖不斷。（患處少亦可治）　三血死潰爛。膿水淋漓。（可治）　四筋死手足脫落。（不治）　五骨死鼻梁崩塌。（難治即治亦不能復原）　耳聾聲全啞者。（難治）　陽事不起者。（難治）　不斷房事者。（不必治）　正報者必不可治。又肝經受病。先損其目。不治。（曾以目疾各方治之亦無不愈）</p>

<h1>五主治</h1>
<p>心經受病。面起紫雲。梔仁主之。重則遍身生瘡。上損眼目。黃連主之。</p>
<p>肺經受病。眉毛先脫。聲破鼻塞。梔仁桑皮主之。重則鼻梁崩塌。聲啞語變。或生息肉。黃芩主之。外加杏仁。脾經受病。遍身如癬。苦參鮮皮主之。重則語變聲散。土不能生金。四肢浮腫。甘草補之。蒼朮燥之。肝經受病。眉睫先落。皮膚瘙癢。面發紫泡。荊芥川芎主之。重則損目。蔓荊菊花主之。荊芥為使。若手足拘攣。乳香沒藥主之。鉤藤天麻為佐。</p>
<p>腎經受病。耳鳴啾啾。枸杞首烏主之。重則足底先穿。黃柏玄參為主。</p>

<h1>內治九法</h1>
<p><u>一、統治</u></p>
<p>寶鑑換肌散　海藏愈風湯　當歸飲　胡麻散　白花蛇丸　行藥方　乳香丸　防風天麻丸　大麻仁酒　紫茄子根散　人參消風散（以上古方）</p>
<p>八號丸　通聖散　三黃解毒湯　寬胸行氣散　蒺藜苦參丸　除根蒺藜丸（即小神丸）　大神丸　涼血　八寶湯　行藥方　巴豆散　曾氏水藥方　丸藥方（以上今方）</p>
<p><u>二、分治</u>　病究其源。藥疏其流。曰分治。</p>
<p>分五臟經絡酌用引藥　瀉青　瀉白　瀉黃　逍遙散</p>
<p><u>三、緩治</u>　本氣不足。或由藥壞。若求速效。則病愈深。緩以治之。</p>
<p>何首烏散　獨活寄生湯</p>
<p><u>四、峻治</u>　受病既久。投緩劑則藥不靈。峻以治之。</p>
<p>蒺藜散　雷丸散</p>
<p><u>五、補治</u>　或本氣不足。或因藥壞汗下所至。治之宜補。此條多采薛氏。</p>
<p>氣虛　血虛　血氣虛　陽虛　陰虛　陰陽虛</p>
<p><u>六、瀉治</u>　氣血凝滯。濕熱相搏則蟲生。濕熱鬱久則痹甚。治之宜瀉。</p>
<p>行藥方　追命散　通天再造散　三黃敗毒散</p>
<p><u>七、兼治</u>　先患癘而兼他證。或因病而成癘。病雜藥雜。故曰兼治。</p>
<p>如眼目之類　分六經傷寒　婦人調經</p>
<p><u>八、類治</u>　似癘非癘。非癘實癘。其病不同。其理則一。治以類合。故曰類治。</p>
<p>痘麻後餘毒　赤白癜　烏白癩　癮疹</p>
<p><u>九、餘治</u>　為山九仞。功虧一簣。非計之得也。治雖曰余。到頭一著。幸毋忽視。</p>
<p>除其根　善其後　補其血氣　壯其筋骨</p>

<h1>外治六法</h1>
<p>（結於筋絡。凝於皮膚。患處既多。勢難攻裡。宜治其外。）</p>
<p><u>針法</u>　灸法　燒法　熏洗法　爛法　敷法</p>

<h1>瘋門總論</h1>
<p>痲瘋古人名為癘瘋。又名惡疾。黑白癩。赤白癜。皆其類也。但癜癩有麻木者少。痲瘋斷無不麻木者。丹溪云。麻止淅淅然。尚有氣血攻衝之狀。木則氣血已痹而不仁。莫知其痛癢也。癘瘋初起者。其手足必先麻木。而後皮膚傷潰。靈樞曰。衛氣不行。則為麻木。素問曰。營氣虛則不仁。衛氣虛則不用。營衛俱虛。則不仁且不用。又素問脈要精微論。脈風成為癘瘋。又風寒客於脈而不去。名癘瘋。癘瘋者。營衛熱胕。其氣不清。薛氏則又以為外邪所乘。衛氣內伏。濕熱日久。血隨火化而致。故治者當以涼血和血為主。驅風驅濕為佐。以各經引藥為使。少加清熱解毒之品。無不全愈。但宜分輕重內外治之。</p>

<h1>瘋門總藥</h1>
<p>此為瘋門中活法。悟後則隨證加減。觸手生春。若膠柱鼓瑟。反失制方本意。</p>
<p>風子肉　赤芍藥　香獨活　白蘚皮　金銀花　胡麻仁　土麻仁（即火麻仁）　白蒺藜　條黃芩　白苦參　北防風　薄荷葉　威靈仙　梔子仁　當歸尾　川黃連　真蘄蛇　川羌活　白殭蠶　明天麻　大川烏　荊芥穗　厚黃柏　黑玄參　老枳殼　浙白朮　漂蒼朮　大秦艽　香白芷　真川芎　錦大黃　鮮紅花　牡丹皮　紅棗皮酸棗皮俱系山萸肉</p>

<h1>正治諸方</h1>
<p><u>小神丸</u>　改名蒺藜苦參丸。統治三十六種惡疾。</p>
<p>白蒺藜（去刺二兩）　北蟬蛻（去頭足三錢半）　北全蠍（米汁洗糯米水炒二錢半或薑汁炒）　荊芥穗（二錢半）　北防風（二錢半）　大風子肉（殼不用黑豆煮七次去淨油否則傷目二錢半）　大羌活（五錢）　全當歸（酒洗三錢半）　大川芎（酒洗二錢半）　土麻仁（一兩半）　白苦參（酒洗錢半無癬者此味不用）</p>
<p>血熱。加生地。胃熱現面。加白芷知母。鼻塞。加桑皮黃芩。陰虛。加首烏。肝熱。加丹皮。目昏。加蔓荊菊花。痹多。加元參。面多紅雲紅堆。或油光。加白附殭蠶。血枯。加丹參。面腳浮腫。加防己。拘攣。加鉤藤鉤。或茯神白朮。</p>
<p>上為末。老米飯搗爛和為丸。每服四五錢。茶下。早晚各一次。空心服。間時方進飯食。並忌熱湯熱茶。</p>
<p>丸藥亦不可多服。恐丸藥難化。服完。未發外者即發。已發外者或更甚。蓋毒既攻出。即遍身潰爛。亦無妨。但要麻木處。漸輕漸狹。即漸浮漸闊。或別處再發一二處。亦是藥力攻散之功。勿疑。</p>
<p>又須知小神丸服十日。即停三日。此三日服行藥丸十粒。三日三次。後又服小神丸。俱照此例。若大瀉。即停勿服。（行藥方列二卷）</p>
<p><u>大神丸</u>　服小神丸後尚未除根。服此以斷根。倘毒氣再發。外復施針灸熏洗各法治之。</p>
<p>熟川烏（黑豆水煮五錢）　制草烏（薑汁甘草水煮五錢）　大風子（去油殼淨五錢）　白殭蠶（三錢）　北全蠍（薑汁炒五錢）　北蟬蛻（五錢）　穿山甲（土炒成珠五錢）　明雄黃（二錢）　臺烏藥（五錢）　漂蒼朮（童便浸一宿五錢）　北防風（四錢）　荊芥穗（四錢）　蘇薄荷（四錢）　綠升麻（二錢半）　全當歸（五錢）　大川芎（四錢）　大秦艽（酒洗五錢）　條甘草（去皮五錢）</p>
<p>又加羌活（七錢）　生地黃（四錢半）</p>
<p>上老米飯為丸。梧桐子大。加減同前小神丸法。每服百丸。茶送下。忌鐵。倘服藥欲嘔。須煮烏豆一勺食之。若全愈。明年再服小神丸一料。連服二三年。病根永除。</p>
<p><u>搜風散</u>　治三十六種惡疾。臉起紅雲。身有紅塊。四肢麻木。神驗。</p>
<p>白附子（麵粉包煨二兩）　白蒺藜（炒去刺二兩）　熟川烏（一兩）　草烏（二烏用黑豆煮一兩）　北全蠍（洗去泥沙薑汁炒一兩）　豬牙皂（一兩）　白頭翁（一兩）　釵石斛（一兩）　條甘草（一兩）</p>
<p>上為細末。每服一錢。酒送下。</p>
<p><u>驅毒疏風方</u>　涼肝八寶湯治內。此方治外。</p>
<p>大羌活（五分）　捶鹿茸（八分）　川烏（濕紙包煨三錢）　草烏（黑豆煮三錢）　風子肉（去油淨二錢）　漂蒼朮（八分）　大秦艽（八分）　白殭蠶（炒去絲八分）　北全蠍（洗去泥沙薑汁炒一錢）　北蟬蛻（洗去泥六分）　荊芥穗（五分）　北防風（六分）　炒梔仁（二錢）　揀歸身（八分）　大川芎（八分）　蘇薄荷（六分）　條甘草（三分）</p>
<p>上燈心引。與八寶丹相間服之。俱一日各一次。覆渣時又送八寶丸百粒。</p>
<p><u>活血解熱湯</u>　服小神丸。毒必攻出。服此以驅熱毒。</p>
<p>全當歸（五錢）　大生地（二錢）　白苦參（三錢）　京赤芍（一錢）　川黃連（一錢）　炒梔仁（一錢）　荊芥穗（一錢）　北防風（一錢）　蘇薄荷（一錢）　石菖蒲（五分）　明雄黃（研末沖服一錢）　條甘草（三錢）</p>
<p>燈心引。或加綠豆半杯。</p>
<p><u>涼肝八寶丹</u></p>
<p>生犀角（銼末一兩）　羚羊角（為末一兩）　真阿膠（酒化一兩）　好京墨（一兩）　大生地（酒浸二兩）　全當歸（酒浸四兩）　大川芎（酒洗二兩）　杭白芍（酒炒二兩）　威靈仙（兩半）</p>
<p>上先將阿膠京墨入銅杓內好酒熔化。入各藥末搗勻。再入米糊為丸。每服百丸。茶送下。</p>
<p><u>涼血狗寶丹</u>　專治積熱與氣血相搏。久成癩癘。此方大能涼血清熱。除濕回痹。平肝之妙劑。</p>
<p>芭蕉頭（去泥四兩）　苦楝根皮（洗淨四兩）　新桑根皮（四兩）　綠豆子（四兩）　白雲苓（一兩）　豬後腿精肉（半斤）　小狗子（一隻產下二十日止滿月者不用以繩吊死去毛切作四塊）</p>
<p>上用酒三升。入大銅杓內。或砂罐。炭火細細煨之。煨至肉爛。約湯二三碗。即住火。夜半飲之。勿使人知。次日將肉加酒。再煎。半夜再飲。服此湯後。當忌油膩。只好吃綠豆白米粥。外用苦楝子皮。或葉亦可。搗爛。加生薑二片再搗。布包擦各患處。輕者無不全愈。</p>
<p>又此方治婦人血蠱紅崩。神效。</p>
<p><u>舒筋蒺藜散</u>　治麻瘋筋拳骨折。十指脫落。或指曲不伸。身多死肉。外有粗皮。黑如蛇鱗。白似魚鱗。口喎眼歪。鼻塌聲啞。足底潰爛。已成不治。惟此能治之。但非病重難瘳。不可輕投也。</p>
<p>白砒霜（四兩）　黑鉛（八兩）　真麝香（一錢）　蜈蚣蟲（去足炒五錢）　地龍（去泥焙乾二錢）　土狗子（焙乾五十隻）　番木鱉（炒黃十個，即馬錢子主治熱病痹痛痞塊然必去淨毛豆腐制過再炒焦方可用否則傷人）</p>
<p>上將黑鉛打扁。分作數塊。砒霜亦碾為末。用一堅厚土罐。口小身長者。將鉛一塊放下罐內。令平。鉛上放霜一層。上又放鉛一塊。鉛上又放霜。如此放完。再用新燈盞一隻。仰蓋罐口。鐵絲扎定。用黃泥封固。盞內不用泥。若是陽城罐。不須泥封。再取鐵釘三個釘地上。作品字樣。以罐架釘上。初將炭火細燒。待泥將干。加文武火。及至盞內熱極。時以筆點水。搽濕盞心。引砒霜氣上升。候三炷香完。徐徐退火。仍以筆蘸水搽盞心。候冷方揭。次日開罐。鉛熔在底。藥升在盞下。取脫砒霜。再取梨汁一盞。入銅杓內共煮。如無梨汁。燒酒代之。將余藥共為細末。入砒霜再碾。瓷罐收貯。照後法服之。</p>
<p>服藥法。體實者。每次五釐。日二次。體虛。日一次。冷茶調下。服後。勿食熱飲食。十歲以上。每日服一次三釐。十歲以下服二釐。五歲上下。難治。</p>
<p>服藥至六七日。遍身俱腫。飲食減少。即服後涼血解毒湯。三日一劑。若牙齦臉頸齊腫。齒縫蟲出者勿畏。亦勿停藥。此以毒攻毒。故毒氣發外。服至百日。方腫消皮脫。指直筋舒。一切油膩魚肉。鹽醋椒醬及菜蔬各物。俱宜戒之。只好綠豆煮白米粥食。</p>
<p><u>涼血解毒湯</u>　服蒺藜散。腫惡特甚。不可停藥。惟間服此方解之。</p>
<p>白苦參（錢半）　大生地（錢半）　牡丹皮（錢半）　炒梔仁（錢半）　北防風（錢半）　白蒺藜（錢半）　條甘草（一錢）</p>
<p>加綠豆一合。燈心四十條為引。不拘服。三日一帖。</p>
<p><u>防風通聖散</u>　治癘疾先服此藥三五劑。連服丸藥。至十日又停丸藥三日。每日服一劑。三日三劑。後仍服丸子。如此接續間服。</p>
<p>北防風　荊芥　白附　白芷　白蒺藜　殭蠶　蒼朮　白蘚皮（無癬不用）　靈仙　苦參（無癬去之）　元參　赤芍　川芎　黃柏（足痹作熱用之）　川連　焦梔　檳榔　銀花　牛子　大黃　苦硝　枯芩　生石膏　條甘草　燈心</p>
<p>大黃苦硝二味。俟起藥時放下。令二三沸止。若大便洞泄。去硝黃。相證加減。</p>
<p><u>何首烏散</u>　治癘疾。</p>
<p>首烏（一斤米汁浸十日逐日換水竹刀切片九蒸九曬）　胡麻子（四兩九蒸九曬）</p>
<p>上為末。每服二錢。食前酒調服。或薄荷湯送下。</p>
<p><u>羅氏何首烏散</u>　統治癘疾諸證。蜜丸亦可。</p>
<p>首烏　枸杞　苦參　石菖蒲　甘菊　蔓荊子　靈仙　荊芥</p>
<p>上末。每服三四錢。酒調下。茶清蜜調亦可。此為癘疾之總方。</p>
<p>血熱。加丹皮梔仁。潰爛。加牛子骨皮。拘攣拳曲。加天麻鉤藤。麻木甚。加蒺藜土麻仁。面上紅雲紅堆。加白附殭蠶。面如油光。加白附蟬蛻。鼻塞聲散。加桑皮黃芩。肉痹。加元參。足麻木潰爛。加黃柏銀花土茯苓。骨節疼痛。加獨活。瘙癢。加丹皮蟬蛻。癬多。加鮮皮浮萍。紅堆紅圈。加山甲皂刺。熱甚。加川連。遍身麻木。非花蛇不能。</p>
<p>若作散。足少陽。加柴胡。太陽。加羌活防風。陽明。加白芷。厥陰。加柴胡川芎。少陰。加獨活細辛。手太陰。加浮萍。甚則麻黃。足太陰。加苦參。熱甚痹不回者。用硝芩水藥。以各法加減通聖散服之。</p>
<p>但方曰苦參。非脾經實熱之證勿用。</p>
<p><u>初服九味羌活湯</u></p>
<p>羌活　細辛　蒼朮　白芷　防風　生地　川芎　赤芍　黃芩　粉草　姜皮</p>
<p>燈心引。服五劑。</p>
<p><u>二服防風通聖散</u></p>
<p>薄荷　元參　黃芩　焦梔　荊芥　赤芍　大黃　枳殼　北防風　條甘草</p>
<p>身上燥癢。加紅花、蒺藜、苦參、鮮皮、姜皮。燈心引。五劑。</p>
<p><u>三服三黃解毒湯</u></p>
<p>黃連　黃柏　黃芩　赤芍　枳殼　木通　元參　獨活　防風　薄荷　甘草</p>
<p>姜皮燈心引。</p>
<p>三方俱食遠服。</p>
<p><u>初服磨風丸</u>　此方看何經病重。照前方加減。若未發可依方用藥。</p>
<p>真蘄蛇（酒洗三次用肉三兩）　大風子（用紙淨油四兩）　白藜蒺（去刺微炒八兩）　北防風（二兩二錢）　土麻仁（淘淨土泥炒六兩）　片黃芩（酒炒兩半）</p>
<p>蜜丸桐子大。每日早午晚三次。各服一錢。茶送下。服一匕。遍身發燥。骨節疼痛為驗。後食後腿精肉一二斤止之。食肉之日。不必服丸。次日照前再服。</p>
<p><u>二服追風丸</u>　重服二料。輕止服一料。</p>
<p>蘄蛇肉（二兩）　風子肉（四兩）　白蒺藜（四兩）　北防風（一兩）　土麻仁（六兩）　胡麻仁（二兩）　片黃芩（酒浸二兩）　尾赤芍（酒炒一兩）</p>
<p>蜜為丸。服法照前。</p>
<p><u>三服解熱除毒丸</u>　此方可常服。</p>
<p>川黃連（薑汁拌炒八兩）　片黃芩（酒蒸一兩二錢）　黑元參（乳蒸一兩五錢）　土麻仁（三兩）　淨銀花（酒蒸一兩一錢）　川羌活（二兩一錢）　白蒺藜（炒去刺四兩）　白蘚皮（酒蒸一兩一錢）　真蘄蛇（二兩）　風子肉（四兩）</p>
<p>米糊。冬蜜四兩為丸。服法照前。</p>
<p><u>四服搜風潤腸丸</u>　去六腑積熱。舒暢經絡。可常服。</p>
<p>紋大黃（酒拌九蒸九曬三兩）　家桃仁（開水泡去皮尖淨油一兩）　淨銀花（酒蒸一兩）　片黃芩（一兩）　郁李仁（取淨肉五錢）　土麻仁（炒一兩）　胡麻仁（炒一兩）　黑元參（一兩）　嫩苦參（酒蒸一兩）　威靈仙（酒蒸一兩）　香獨活（二兩）　白蘚皮（酒蒸一兩）　京赤芍（酒炒一兩）　白蒺藜（三兩）　陳枳殼（一兩）</p>
<p>蜜為丸。每日早晚服二次。每次三錢。滾水送下。</p>
<p><u>五服收功斷根丸</u></p>
<p>白殭蠶（一兩）　胡天麻（一兩）　川黃連（三味俱薑汁蒸五錢）　北全蠍（去頭尾炒八錢）　川獨活（酒蒸一兩）　土麻仁（炒三兩）　白芷梢（一兩）　北防風（一兩）　白蒺藜（四兩）　風子肉（四兩）　制首烏（五錢）</p>
<p>首烏鬚髮出五經後收斂。方可用。若未出現。減去不用。</p>
<p>米糊和冬蜜為丸。日三服。每服三錢。甘草湯送下。</p>
<p><u>六服復原固本丸</u>　此方生氣血。扶元神。健筋骨。活經絡。回痹水。潤顏色。年四十以上。六脈微細。氣血衰敗。方可服。</p>
<p>北枸杞（一兩）　紅棗皮（兩半）　蓮花須（一兩）　淮牛膝（一兩）　川續斷（上皆酒蒸一兩）　揀歸身（兩半）　牡丹皮（二味酒洗二兩）　川杜仲（一兩）　光澤瀉（兩半）　川萆薢（土鹽水洗二兩）　北五味（蜜蒸一兩）　白雲苓（乳蒸一兩）　天門冬（去心兩半）　淮山藥（微炒一兩）　芡實米（微炒一兩）　熟地黃（一兩）　川黃柏（一兩）　敗龜板（酒炙十兩）　真虎骨（酒炙十次十兩）</p>
<p>將骨板二味打碎。用佳酒二十四碗。熬至三四碗。去滓取汁。預將余藥為末。入汁內。打糊為丸。每早空心服四錢。或內加節參更妙。</p>
<p><u>瘋病愈後平常浸酒方</u>　此方伸筋活血。滋腎明目。回痹理脾。潤顏色。</p>
<p>浙白朮　淮熟地　絲杜仲　破故紙　淮山藥　苡仁米　全當歸　川牛膝　節羌活　香獨活　威靈仙　大秦艽　川萆薢　尋風藤（即青風藤主治風濕麻痹）　北防風　漢防己　五加皮　杭白芍　廣木香　小甘草</p>
<p>加烏豆殼一撮。紅棗數粒。酒浸三日。空心服。</p>
<p><u>蘄蛇酒</u></p>
<p>真蘄蛇（一條）　北秦艽（五錢）　香獨活（五錢）　威靈仙（五錢）　嫩桑枝（兩半）　蔓荊子（一兩）　川萆薢（一兩）　甘菊花（一兩）　淨銀花（一兩）　百部（一兩）　大生地（二兩）　白苦參（一兩）　丹參（一兩）　當歸（一兩）　赤芍（一兩）　赤茯苓（一兩）　枸杞（一兩）　黃柏（一兩）　牡丹皮（一兩）</p>
<p>佳酒煮。退火七日飲。</p>
<p><u>生熟地黃丸</u></p>
<p>大熟地（三兩）　乾生地（三兩）　淮山藥（乳蒸兩半）　柏子仁（炒二兩）　遠志肉（甘草水蒸四兩）　敗龜板（童便炙四兩）　白雲苓（乳蒸兩半）　光澤瀉（鹽水炒兩半）　牡丹皮（酒蒸兩半）　丹參（酒蒸一兩）　全當歸（酒洗二兩）　杭白芍（酒炒二兩）</p>
<p>上為細末。用釵石斛四兩。銀花十二兩。熬膏煉蜜為丸。每早淡鹽湯吞四錢。</p>
<p><u>吉水李先生傳瘋病經驗方</u>　相證加減。</p>
<p>真蘄蛇（一條中十二兩）　白蒺藜（水洗淨八兩）　大風子（淨油四兩）　白殭蠶（二兩）　威靈仙（一兩半）　川黃連（炒二兩）　厚黃柏（二兩）　黑梔仁（三兩）　土麻仁（洗淨焙乾為末六兩）</p>
<p>蜜為丸。早晚茶送各六錢。先三日服水藥三帖。方服丸藥十日。即停三日。一日服水藥一帖。</p>
<p><u>水藥方</u></p>
<p>川羌活（一錢）　香獨活（一錢）　白蒺藜（錢半）　白附子（一錢）　北防風（錢半）　荊芥穗（錢半）　白蘚皮（錢半）　川芎（一錢）　赤芍藥（錢半）　川黃連（錢半）　厚黃柏（二錢）　梔子仁（三錢）　土麻仁（錢半）　滑石末（三錢）　熟石膏（二錢）　老枳殼（一錢）　川厚朴（錢半）　淨銀花（三錢）　黑牽牛（一錢）　生大黃（二錢）　石朴硝（錢半）</p>
<p>燈心引。硝黃後下。</p>
<p><u>丸藥方</u></p>
<p>大花蛇（十二兩）　白蒺藜（七兩）　白附子（二兩）　白殭蠶（去絲二兩）　風子肉（二兩）　威靈仙（二兩半）　川羌活（二兩）　香獨活（二兩）　小云連（一兩）　黑元參（二兩半）　炒丹參（四兩）　土麻仁（五兩）　續斷（三兩）</p>
<p>蜜為丸。早晚各服五錢。</p>
<p><u>水藥方</u></p>
<p>威靈仙（錢半）　川羌活（一錢）　香獨活（一錢）　荊芥穗（錢半）　蔓荊子（一錢）　白蒺藜（三錢）　石菖蒲（一錢）　白菊花（錢半）　白苦參（酒炒錢半）　炒丹參（三錢）　胡麻仁（炒二錢）　何首烏（三錢）　甘枸杞（三錢）</p>
<p><u>丸藥方</u></p>
<p>白花蛇（三兩）　香獨活（二兩）　白蒺藜（八兩）　風子肉（二兩）　白附子（二兩半）　白殭蠶（三兩半）　威靈仙（一兩半）　黑元參（二兩）　土麻仁（六兩）　黃連（四兩）　焦梔子（二兩）　厚黃柏（二兩）</p>
<p>蜜為丸。各服五錢。</p>
<p>水藥方</p>
<p>防風（錢半）　荊芥（錢半）　白芷（一錢）　羌活（錢半）　靈仙（一錢）　元參（錢半）　梔仁（一錢）　黃柏（一錢）　黃芩（一錢）　連翹（錢半）　滑石（三錢）　枳殼（一錢）　厚朴（一錢）　牛子（錢半）　丑牛（七分）　大黃（錢半）　芒硝（錢半）　甘草（六分）</p>
<p>服三劑。硝黃二味。另包後下。</p>
<p><u>瘋病經年滿身紅腫燥癢潰爛水不幹方</u></p>
<p>北綿耆（蜜炙五錢）　北直參（三錢）　白苦參（酒蒸曬半乾炒一錢）　地骨皮（甘草水浸炒乾如此三次一錢）　炒丹參（酒炒三錢）　木鱉子（一錢）　土茯苓（錢半）　香附米（薑汁製一錢）　綠升麻（五分）　白附子（陳壁土炒一錢）　直殭蠶（茶泡炒去絲一錢）　香白芷（一錢）　炙甘草（一錢）</p>
<p>木鱉子。丹參二味。生過楊梅瘡者用之。否則減去。水煎。服十劑。</p>
<p><u>滿面紅塊遍身癢點方</u></p>
<p>白苦參（酒浸炒三兩）　何首烏（四兩）　土麻仁（炒另研四兩）　黑梔仁（酒炒二兩）　牡丹皮（酒炒三兩）　牛蒡子（酒炒三兩）　漂蒼朮（兩半）　威靈仙（米泔浸一夜曬乾另研二兩）　白蒺藜（連刺研六兩）　白附子（二兩）　白菊花（炒二兩）　白芷（兩半）　直殭蠶（二兩）　荊芥穗（三兩）</p>
<p>蜜為丸。米糊亦可。</p>
<p><u>兩手麻痹方</u></p>
<p>明乳香（去油勿令黑三兩）　鉤藤鉤（二兩）　威靈仙（二兩半）　石菖蒲（二兩）　明天麻（二兩）　北防風（二兩）　荊芥穗（三兩）　黑元參（酒炒去白二兩半）　白苦參（酒炒錢半）　炒丹參（三錢）　何首烏（三錢）　甘枸杞（三錢）　白菊花（錢半）</p>
<p>水煎。服三劑。</p>
<p><u>手足自搖筋弛痿痹不仁方</u></p>
<p>真虎骨（兩半）　上關茸（四兩）　上肉桂（兩半）　炒丹參（三兩）　炒續斷（二兩半）　川牛膝（兩半）　宣木瓜（兩半）　胡麻仁（三兩）　制川烏（兩半）　沒藥（去油二兩）　茯神木（二兩）　威靈仙（三兩）　白蒺藜（三兩）　香獨活（兩半）　明天麻（兩半）　桑寄生（三兩）　明乳香（去油二兩）</p>
<p>煉蜜為丸。陰虛者去肉桂、川烏。加五加皮、歸身、川芎。</p>
<p><u>新墟里曾克廣梓行方</u>（序）</p>
<p>昔在萬安縣百嘉地方。遇一良醫。善治瘋癩惡疾。活人甚眾。余甚奇之。具金百餘。求得此方。歸家後。適鄉鄰有患此證者。依方用之。不數月而愈。頻年以來。遠近用此方者。十愈八九。屢試屢驗。真神妙方也。今特付梓。以廣其傳。諒亦不無小補云。</p>
<p><u>初服方</u></p>
<p>節羌活　漂蒼朮　荊芥穗　北防風　銀柴胡　黑元參　京赤芍　片黃芩　白蘚皮　老枳殼　淨銀花　條甘草</p>
<p>水煎。服四劑。</p>
<p><u>次服方</u></p>
<p>羌活　細辛　白芷　生地　條防風　知母　黃芩　川芎　甘草</p>
<p>水煎。服二劑。</p>
<p><u>三服方</u></p>
<p>大黃　朴硝　銀花　桃仁　枳殼　云連　黃柏　黃芩　元參</p>
<p>水煎。服三劑。</p>
<p><u>四服方</u></p>
<p>荊芥　北防風　川烏（童便浸後米汁煮）　白附子（薑汁蒸）　天麻　殭蠶（薑汁蒸）　蒺藜（水提過炒去刺）　獨活　元參　風子　土麻仁（洗去土炒）　苦參　赤芍　黃柏　銀花　條甘草　枳殼</p>
<p>水煎。服十劑。以上依次空心服。俱不加引。</p>
<p><u>五服方</u></p>
<p>元參（二兩）　赤芍（一兩）　土麻仁（一斤）　枳殼（二兩）　銀花（一兩）　蒺藜（一斤）　白芷（二兩）　獨活（二錢）　風子（一斤）　制川烏（一隻）　北防風（十兩）　蘄蛇（十二兩）</p>
<p>蛇去頭尾。用熱酒浸二三日。秋冬浸六日。浸松後去骨蒸熟。焙乾研末。和前藥蜜為丸。每日早午晚三次。各服四錢。茶送下。</p>
<p><u>麻木不仁方</u></p>
<p>有麻木而未出現者。此數方治之。然不若何首烏散尤妙。</p>
<p>白花蛇（二錢）　蒺藜（七錢）　白附子（兩半）　殭蠶（一兩）　靈仙（一兩）　風子肉（一兩）　土麻仁（六兩）　元參（一兩）　川連（五錢）　焦梔仁（一兩）</p>
<p>蜜為丸。早晚各服五錢。茶送下。服此丸十日。即服宣毒去風湯三五劑。連續間服勿停。</p>
<p><u>宣毒去風湯</u></p>
<p>川連　黃柏　黃芩　元參　赤芍　梔仁　續斷　花檳榔　大黃　朴硝　石膏末　銀花　荊芥　北防風　鮮皮　獨活</p>
<p>燈心引。朴硝後下。</p>
<p><u>不仁丸</u>（第二）</p>
<p>白花蛇（二兩）　白附子（五錢）　殭蠶（五錢）　蒺藜（七兩）　風子肉（五錢）　靈仙（五錢）　土麻仁（六兩）　元參（一兩）　黃柏（一兩）　梔子（一兩）</p>
<p>蜜為丸。照前服法。</p>
<p><u>不仁神效丸</u></p>
<p>豨薟草　蒼耳子　靈仙　北防風　白附子　殭蠶　黃柏　黃芩　川樸　赤芍　梔仁　銀花　歸尾　黑丑牛　生大黃　朴硝　甘草　石膏</p>
<p>燈心引。</p>
<p><u>初服方</u></p>
<p>羌活　靈仙　獨活　防風　薄荷　菖蒲　苦參　黃柏　烏藥　枳殼　木通　牛膝　桃仁　大黃　朴硝　甘草</p>
<p>水煎。燈心四十根為引。空心服五六劑。即服再造散。</p>
<p><u>三花飲</u></p>
<p>菊花　銀花　紅花　艾絨　藿香　甘松　白芷　蟬蛻　殭蠶　薄荷　防風　荊芥　羌活　獨活　蒺藜　蔓荊　川芎　歸尾　甘草</p>
<p>燈心引。</p>
<p><u>解毒湯</u>　輕者服此。</p>
<p>荊芥　蒼朮　羌活　白芷　黃柏　黃芩　丹皮　赤芍　大黃　當歸　川芎　枳殼　澤瀉　甘草　銀花</p>
<p>燈心引。食遠服。</p>
<p><u>二次解毒湯</u>　不必下者服此。下後亦服此。</p>
<p>荊芥　防風　白芷　鮮皮　元參　歸尾　赤芍　丹皮　黃柏　黃芩　木通　銀花　甘草</p>
<p>燈心引。</p>
<p><u>涼血解毒湯</u>　服丸藥毒出於外。服此解之。</p>
<p>當歸　生地　苦參（有癬者用之）　元參　赤芍　丹皮　梔仁　黃連（熱不甚者勿用）　銀花　牛蒡子　菖蒲　防風　荊芥　蒺藜　甘草</p>
<p>燈心引。或加綠豆。半杯。亦可。</p>
<p><u>神授麻黃散</u>　統治三十六種惡疾。</p>
<p>捶麻黃　制草烏　川芎　甘草</p>
<p>上為末。每服一錢。燒酒調下。兼進驅風活血丸。</p>
<p><u>驅風活血丸</u></p>
<p>皂角刺（二兩）　山甲珠（二兩）　酥油（一兩搽入藥內）　蟾酥（二兩）　地龍（去泥二兩）　蛇床子（洗二兩）　青葙子（六兩）　蒼耳子（炒去尾刺二兩）　風子肉（煮七次淨油六兩）　五加皮（二兩）　苡仁米（二兩）　香白芷（二兩）　明天麻（薑汁炒三兩）　北防風（二兩）　蘇薄荷（二兩）　制草烏（豆腐煮一兩）　淨蟬蛻（洗去泥二兩）　北全蠍（洗淨鹽炒二兩）　白蒺藜（二兩）　川芎（二兩）　乾生地（酒浸三兩）　朽龜板（酥油炙二兩）　京赤芍（炒二兩）　胡麻仁（炒四兩）　赤茯苓（去皮二兩）　川牛膝（去蘆二兩）　條甘草（一兩）　內宜加黃連（二兩）　元參（三兩）</p>
<p>上將各味研末。如無蟾酥。將藥末用紙貼於筲箕內。取癩蝦蟆十隻。活抑在筲箕內。放箕在鍋內。漫火蒸炕。少時酥出。流入藥末內。再將風子末攤在筲箕內。架放鍋內。蓋蒸半炷香久。傾入臼內。擂爛。加全蠍。再搗。方入前末。老米打糊為丸。每日服二錢。麻黃散。只服一料。此方未全愈者。須再製一料。服藥七日。須用熏洗諸法治之。</p>
<p><u>第一萬字丸</u>　加減同何首烏散。</p>
<p>白花蛇（去頭皮腑骨一條）　白蒺藜（七兩）　白殭蠶（一兩）　白附子（一兩）　威靈仙（一兩）　風子肉（一兩）　土麻仁（六兩）　川黃連（乳蒸五錢）</p>
<p>蜜為丸。早晚空心各服五錢。如紅暈不退。加白附子五錢。殭蠶五錢。茶下。</p>
<p><u>第二驗字丸</u>　如服此方不驗。必加人參一錢。象皮二兩。用甘草水炒過。或又加土茯苓一兩。五味子一兩。老者加枸杞一兩。肉桂一兩。方內蒺藜土麻仁每味減二兩。添在後生扶之藥。其效如神。</p>
<p>白花蛇（一兩）　白蒺藜（去刺七兩）　風子肉（七兩）　胡麻仁（六兩）　小川連（五錢）</p>
<p>蜜為丸。照前吞服。</p>
<p><u>第三靈字丸</u></p>
<p>白苦參（生用脾經無病勿用三兩）　白花蛇（一兩）　白蒺藜（七兩）　風子肉（一兩）　土麻仁（六兩）　小云連（五錢）</p>
<p>蜜為丸。吞服同前。</p>
<p><u>第四感字丸</u></p>
<p>白花蛇　白蒺藜　白殭蠶　白蘚皮　風子肉　荊芥穗　北防風　香白芷　漂蒼朮　蘇薄荷　香獨活　白苦參　土麻仁　大熟地　杭酒芍　當歸尾　小川連　厚黃柏　片黃芩　焦梔子　牡丹皮　川芎　花檳榔　淨銀花　條甘草</p>
<p>米糊為丸。茶送下。</p>
<p><u>寬胸行氣散</u>　服上藥後。胸前覺滯且多痰。間服此。</p>
<p>桔梗　木通　枳殼　香附　烏藥　芥子　杏仁　陳皮　川芎　酒芍　甘草</p>
<p>燈心引。</p>
<p><u>第五神字丸</u>　服四劑。紅點紅堆不退。再投此以收功。</p>
<p>豨薟草　穀精草　白菊花　鮮紅花　威靈仙　蔓荊子　直殭蠶　蒼耳子　五味子　朽龜板　黑元參　赤芍藥　厚黃柏　枯黃芩　牛蒡子</p>
<p>米糊為丸。早晚各三錢。茶送下。</p>
<p><u>第六丹字丸</u></p>
<p>龜板（一斤醋炙七次）　黃芩（二兩酒炒）　梔仁（二兩酒炒）　防風（二兩）</p>
<p>蜜為丸。照前服二次丸後。間服三黃解毒湯。</p>
<p><u>三黃解毒湯</u></p>
<p>川連　黃柏　枯芩　赤芍（慎用）　苦參　元參　枳殼　檳榔　川芎　大黃　銀花　蒺藜　鮮皮　獨活　甘草</p>
<p>熟石膏二錢為引。服三劑。</p>
<p><u>第七普字藥酒方</u>　酒浸斷根。</p>
<p>熟地黃（八錢）　全當歸（二錢）　杭白芍（五錢）　川芎（三錢）　炒杜仲（八錢）　破故紙（八錢）　續斷（八錢）　甘枸杞（五錢）　遠志肉（五錢）　山萸肉（五錢）　堅雲苓（二錢）　真虎骨（五錢）　朽龜板（一兩）　牡丹皮（八錢）　松節（五錢）　寬筋藤（五錢）　天仙藤（五錢）　厚黃柏（三錢）　五加皮（一兩）　條甘草（三錢）</p>
<p>上共浸冬酒十升。加龍眼肉三錢。紅棗一二兩。老薑煨過五錢。黑豆微炒二兩。冬浸七日。春秋五日。夏三日。復渣加酒五升。每日早晚各服一次。手足冷者。去黃柏。加肉桂、川烏五錢。</p>
<p><u>第八濟字丸</u>　如病已愈。只皮膚不能復原光潤。或骨節間有痠疼。服此以去餘毒。</p>
<p>羌活（二錢）　獨活（二錢）　防風（二錢）　荊芥（二錢）　豨薟（二錢）　靈仙（二錢）　桑寄生（二錢）　白芷（錢半）　殭蠶（錢半）　細辛（一錢）　首烏（一兩）　龜板（五錢）　枸杞（五錢）　當歸（五錢）　川芎（二錢）　白芍（二錢）　元參（二錢）　丹皮（二錢）　烏藥（五錢）　檳榔（二錢）　銀花（二錢）　牛蒡子（二錢）</p>
<p>有熱。加川連錢半。黃柏錢半。米糊為丸。每次二錢。早午晚三次。茶送下。</p>
<p><u>胡麻散</u>　治風熱癮疹瘙癢。或兼赤暈。發寒惡熱。形病俱實者。</p>
<p>胡麻仁　白苦參　何首烏（各八兩）　白菊花　威靈仙　蔓荊子　白蒺藜（去刺）　荊芥穗　北防風　石菖蒲　牛蒡子　條甘草</p>
<p>共為末。酒調下三錢。</p>
<p><u>天麻散</u>　治一切癘疾。</p>
<p>天麻子（二兩）　威靈仙　白蒺藜　蔓荊子　荊芥穗　石菖蒲　薄荷葉　甘菊花　何首烏　胡麻子　白苦參（慎用）　地骨皮　牛蒡子</p>
<p>上為末。每服三錢。酒調下。或茶送下。食前服半月。食後服半月。</p>
<p><u>防風天麻散丸</u>　治癘疾癩疾。此方神仙所傳。一年中常療數人。初服藥有嘔吐者。不可怪。再服即安。其效如神。</p>
<p>防風（去蘆）　天麻　升麻　靈仙　細辛　蔓荊子　蜈蚣（二對）　山甲　首烏　人參　丹參　苦參　川芎　白附子　元參　紫參</p>
<p>每藥末二兩。先將胡麻一斤。淘淨曬乾。炒香熟。另研為末。與各藥末和勻。蜜為丸。共九十九丸。細嚼。溫漿水送下。日三服。大忌房事。將息慎口。食淡白粥一百二十日。</p>
<p><u>蔓荊子散</u>　治肺臟蘊熱風毒。如癇。變成惡風。</p>
<p>蔓荊子（生用）　甘菊花　明天麻　天南星　胡麻子　枸杞子　白苦參</p>
<p>上為末。每服二錢。荊芥煎湯送下。或茶送下。日服二錢。</p>
<p><u>透經解攣湯</u>　亦治風熱筋骨痛。</p>
<p>山甲珠（二錢）　鮮紅花（七分）　蘇木（七分）　羌活（七分）　防風（七分）　白芷（一錢）　明天麻（七分）　蟬蛻（七分）　當歸（七分）　川芎（五分）　炒連翹（五分）　條甘草（七分）　荊芥穗（七分）</p>
<p>水與酒各半煎服。</p>
<p><u>海藏愈風丹</u>　治癘病手足麻木。眉毛脫落。遍身生瘡。及癘風癮疹。皮膚瘙癢。搔破成瘡。並皆治之。</p>
<p>黃花蛇（去頭尾腸酒浸取淨內曬乾為末）　白花蛇　烏梢蛇（制同上）　白苦參（一斤取末四兩）　皂角（一斤銼寸許無灰酒浸一宿以水一碗搗成汁去渣入砂罐中文武火熬）</p>
<p>上為末。成丸梧子大。每服六七十丸。煎通聖散。空心送下。後食乾物壓之。日三服。間日浴身。汗出為度。準繩曰。果系癘風。用之必效。若肝經血熱。脾經血虛。腎經虛火。脾肺氣虛。遍身作癢。搔破成瘡。或內熱生風。而眉毛脫落。或皮膚赤暈。或搔起白屑而類癘風者。服之反成癘風矣。</p>
<p>按癘風。必有死肉麻木。針之不痛。然後發現於外。甚則破爛。若無麻木。非癘也。類癘者。當審何經之風熱。何經之部位。用藥治之。氣虛則補氣。血虛則補血。外有火衰作癢一證。並無紅點。亦無白屑。當重用附桂。大補元陽則善矣。</p>
<p><u>人參消風散</u>　治面毒瘙癢。或眉毛脫落。耳鳴鼻塞。皮膚頑痹。並婦人血風。頭皮腫癢。眉骨疼。旋欲倒。痰逆噁心。凡風上攻者皆治之。</p>
<p>人參　川芎　茯苓　厚朴　廣皮　藿香　羌活　防風　荊芥　蟬蛻　殭蠶　甘草</p>
<p><u>羌活當歸散</u>　治風熱傷血。遍身疙瘩。及癮疹瘙癢。</p>
<p>羌活　荊芥　防風　白芷　升麻　黃連　黃芩　連翹　牛蒡子　當歸　川芎　甘草</p>
<p>手指拳曲。加鉤藤。血虛者。佐以加味逍遙散。加鉤藤。氣虛者。佐以補中益氣湯。加皂刺鉤藤。或並服逍遙散。</p>
<p>上用酒拌。曬乾。水煎服。</p>
<p><u>寶鑑換肌散</u>　治癘久不愈。眉毛脫落。鼻梁崩陷。</p>
<p>白花蛇　黑花蛇（各三兩酒浸）　木鱉子　地龍　草烏頭　漂蒼朮　木賊　北細辛　威靈仙　蔓荊子　香白芷　白蒺藜　定風草　荊芥穗　甘菊花　石菖蒲　大川芎　不灰木　白苦參　沙參　紫參　天門冬　赤芍藥　全當歸　何首烏　胡麻子　粉甘草（各一兩）</p>
<p>俱為末。每服五錢。溫酒下。食後酒送尤妙。</p>
<p><u>樺皮散</u>　保命</p>
<p>樺皮（去瓤燒存性四兩）　荊芥穗（二兩）　枳殼（去瓤存性四兩）　杏仁（水煎取出令乾研末二兩）　</p>
<p>上為末。每服三錢。食後溫酒調下。</p>
<p><u>醉仙散</u>　寶鑑</p>
<p>北防風　蔓荊子　白蒺藜　白苦參　胡麻子（炒）　枸杞子　牛蒡子　栝蔞根（各五錢）</p>
<p>上為細末。每一兩五錢。入輕粉二錢。拌勻。每服一錢。茶清調。晨午各一服。至五七日。於牙縫中出臭涎。令人如醉。或下膿血。病根乃除。仍量病之輕重用藥。如病重。先以再造散下之。候元氣將復。方用此藥。此藥忌一切炙爆厚味。只可食淡粥。時菜諸蛇。以淡酒蒸熟食之。可以助藥勢。</p>
<p>按非重證難治。輕粉不可用。</p>
<p><u>瀉清丸</u></p>
<p>羌活　防風　當歸　川芎　膽草　梔子　煨大黃</p>
<p>上各等分。研末。煉蜜為丸。如雞頭大。每服一丸。煎竹葉湯。同沙糖溫水化下。按膽火不甚大。宜去膽草。加赤芍。</p>
<p><u>瀉白散</u></p>
<p>桑白皮（二兩）　地骨皮（二兩）　粉甘草（五錢）</p>
<p>上為末。每服二錢。水一碗。入粳米百粒煎服。易老方。加黃連。</p>
<p><u>瀉黃散</u>　錢氏　海藏云。此劑瀉肺熱。</p>
<p>藿香（七錢）　防風（四兩）　石膏（五錢）　梔仁（二兩）　甘草（二兩）</p>
<p>上銼。同蜜酒微炒香為細末。每服二錢。水一盞。煎沸調下。</p>
<p><u>雷丸酒</u></p>
<p>紫石英（細研水飛過五錢）　雷丸（一兩）　硃砂（研水飛過一兩）　阿魏（二兩）　雄黃（細研水飛過七錢半）　雌黃（細研七錢半）　藜蘆（五錢）　犀角屑（五錢）　斑蝥（去頭足翅芝麻炒二十個）　芫青（去頭足翅用芝麻一合同炒二十個去芝麻不用）　硝石（一兩細研）</p>
<p>上為細末。取苦參四五兩。同硝石搗碎。用生絹袋盛入瓷瓶內。用無灰酒一斗。浸七日。每服一中盞溫過。食前調雷丸散二錢。</p>
<p><u>雷丸散</u>　神效</p>
<p>阿魏（二錢半）　雷丸　雄黃　硃砂　滑石　紫石英　牛黃（研各五錢）　斑蝥　芫青（各二十個同糯米炒）　白蘞（二錢半）　犀角屑（五錢）</p>
<p>上二方。皆本耆婆而增損之。以藥有難致。拘方取足。則畢生不得矣。小有出入。亦何不可。故備列焉。準繩。</p>
<p><u>白花蛇丸</u>　丹陽荊上舍得癘疾。一僧療之而愈。以數百求方。秘不肯傳。館賓袁生窺知藏納衣領中。因醉之而竊錄焉。用者多效。</p>
<p>白花蛇（一條）　烏梢蛇（一條並去頭尾生用）　北防風（二兩）　荊芥穗（兩半）　白蒺藜（一兩）　北全蠍（一兩醋浸一日去鹽味）　北蟬蛻（二兩去土）　北細辛（一兩）　蔓荊子（一兩）　威靈仙（一兩）　何首烏（一兩）　生地黃（二兩）　白苦參（二兩）　大川芎（二兩）　枸杞子（二兩）　胡麻子（一兩炒香）　金毛狗脊（一兩）　川牛膝（一兩）　烏藥（一兩）　天花粉（一兩）　漏蘆（半斤去苗洗淨四兩）　小川連（一兩）　枯黃芩（一兩）　山梔仁（一兩）　厚黃柏（一兩）　北連翹（一兩）　槐花（二兩）　牛蒡子（炒一兩）　淨銀花（二兩）</p>
<p>上頭面者。加白芷一兩。肌膚潰爛者。加大皂角一兩。一加尋風藤一兩。共研末。米糊為丸。桐子大。每服五六十丸。茶送下。午後臨臥各一服。</p>
<p><u>乳香丸</u></p>
<p>明乳香（二十兩）　白苦參（四兩去蘆肥者好）</p>
<p>先用好酒五升。浸苦參。將瓶入湯煮一伏時。當用文武火漫熬。令小沸為候。一伏時。取出濾去渣。將酒浸乳香。於銀砂石器內煎如餳。入天麻末四兩。火麻仁二兩。於乳香膏內攪令勻。漫火熬之。可丸即丸。如梧子大。每服二十丸。用火麻仁酒送下。空心服。早晚二次。</p>
<p><u>火麻仁酒</u></p>
<p>用火麻仁三升。水淘淨。候乾。以酒一斗。浸一宿。和酒研取白汁。用生絹濾過。入瓷瓶中。重湯煮數沸。即止。每服一小盞。溫過下藥。仍兼紫茄子根散。相間服之。</p>
<p><u>紫茄子根散</u></p>
<p>紫茄子根（一斤細切曬乾搗為末）　白芍（二兩）　炙草（兩半）</p>
<p>上為末。每服二錢。溫湯送下。日進三服。自早至晚。常令均勻服之。</p>
<p><u>神仙退風丹</u></p>
<p>知母　貝母　烏梅肉　海桐皮　金毛狗脊</p>
<p>上各等分為細末。煉蜜為丸。如桐子大。每日早晨。日中。臨睡。各服三十丸。又每夜第一次睡醒時。急於頭邊取三十丸便服。並用羊蹄根自然汁下。大忌酒及房事。一切發風之物。只吃淡粥一百日。皮肉漸皆復舊。半年後。尤忌房事。服藥時每夜專用一二勤慎人。在睡處坐守。等候第一次睡覺時。便扶起吃藥一次。華宮使親見林承務服之。取效。但不守禁忌者。毫無益耳。</p>
<p><u>張真君麻瘋方</u>　出洞天奧旨</p>
<p>茅山蒼朮（一斤）　蒼耳子（三兩）</p>
<p>研末。米飯為丸。日三服。每服二錢。服一月。即全愈。須忌房事。犯則不救。</p>
<p><u>白鹿洞方</u>　治大麻瘋眉毛脫落。手足拳攣。皮肉潰爛。後翻眼綻。口歪身麻。肉不痛癢。面生紫斑。並治如神。</p>
<p>風子肉（四兩淨細）　明天麻（四兩酒浸）　北防風（四兩）　香白芷（四兩酒浸）　香獨活（六兩）　蘇薄荷（六兩）　北全蠍（六兩洗去鹽）　直殭蠶（六兩炙去足）　蟬蛻（六兩去足）　金頭蜈蚣（二兩炙去頭足）　真蘄蛇（八兩去皮骨酒浸焙乾）　穿山甲（燒二兩）　金毛狗脊（四兩去毛酒浸）　白菊花（四兩）　漢防己（四兩）　何首烏（四兩忌鐵）　川當歸（四兩酒浸）　好苦參（四兩）　大川芎（二兩）　京赤芍（六兩）　山梔仁（炒二兩）　北連翹（二兩）　白蘇（二兩）</p>
<p>共為末。酒糊為丸。梧子大。每服七八十丸。空心好酒送下。臨臥再一服。忌氣怒房事。油膩煎炒。雞、魚、蝦、蟹、芋頭、山藥、糟、魚、肉、鵝、生冷。春酸食。冬冷物。冬月亦不可烘火。宜綿暖淨室坐定。保守性命。節飲食。斷妄想。服藥時宜仰臥。令藥力遍行有功。如不守禁忌。徒勞心力。亦無效也。服此藥只宜食鴨鰂魚牛肉。俱宜淡食。</p>
<p><u>秘傳漆黃蟾酥丹</u></p>
<p>鮮螃蟹（四斤）　真生漆（一斤）　真蟾酥（二兩）　明雄黃（二兩）</p>
<p>先將瓷鐔裝蟹。次入漆封口。埋在土中。十四日足。方取開看。二物俱化成水。去渣淨。將水入鍋。熳熳火煮焙乾。為細末。方入雄黃蟾酥二味末攪勻。瓷罐收之。每日空心臨臥各一服。好酒送下二錢。不過一月。其瘡全好。除根。妙不可言。治大麻瘋。如手取之妙。況所費不多。莫輕忽修合。亦勿妄傳匪人。秘之。</p>
<p><u>六香散</u>　耆婆</p>
<p>零陵香　甘松（去土）　茅香　香白芷　制香附　藿香　川芎（各二錢）　山柰子（五錢）</p>
<p>上除三柰子另研。餘七味分作四劑。每一劑。以水六大碗。煎成三碗。去渣。入三柰攪勻。乘熱洗瘡。若瘡不破者。用鎞針於疙瘩瘍上刺破。令惡血出盡。然後淋洗。一伏時洗一番。浴室毋令透風。臥處須令火暖得宜。一月之間。不可出外。若熱不可飲冷。水洗淨拭乾。用八金散點之。</p>
<p><u>八金散</u></p>
<p>禹餘糧石　金精石　銀精石　陽起石　元精石　磁石　石膏　滑石</p>
<p>上件各等分。研末。入金銀鉗鍋子內盛之。用鹽泥固濟口。以文武火煅煉透紅。放冷。研為粉。入水銀五錢。輕粉一錢。研令不見星。令患人先洗瘡拭乾。便用小油調稠。硬作餅子。於有瘡處搽上。忌飲水。以口中涎出為度。涎出。即用貫仲四兩。黑豆半升。煮湯。急漱其口。切不可嚥下藥汁。見效即止。</p>
<p><u>神效清目飲</u>　惡疾攻目。以此治之。並治惡疾。　</p>
<p>白菊花（二錢）　白蒺藜（錢半）　蔓荊子（錢半）　荊芥穗（錢半）　綠升麻（五分）　麻黃（一錢表證輕者不用）　靈仙（一錢）　石菖蒲（五分）　何首烏（二錢）　苦參（一錢無癬不用）　黑梔仁（一錢）　枯黃芩（一錢）　小川連（一錢）　肥知母（一錢）　條甘草（六分）</p>
<p><u>明目解毒湯</u>　目昏目赤目斜。急服此湯。不致損目。</p>
<p>菊花　荊芥　防風　羌活　草決明　蔓荊子　薄荷　柴胡　蒺藜　川連　穀精草　連翹　芍藥　車前　土麻仁　甘草</p>
<p>生薑二片引。</p>
<p><u>豬肝散</u>　凡目內起白翳者。服之神效。</p>
<p>石決明　夜明沙（水淘去土）　白蒺藜　川木賊　白菊（去梗蒂）　蟬蛻（去足翅）　穀精珠</p>
<p>痘疹。加望月沙。各等分。用豬肝二兩。切薄片入藥。滾水沖。蓋定甑內蒸。取出。先熏後吃。並肝與藥汁吃之。渣入罐內再煮。</p>
<p><u>又豬肝散</u></p>
<p>石決明（二錢）　夜明沙（二錢）　豬肝（二兩）</p>
<p>上二味和勻。以竹刀切肝作二片。或三四片亦可。但令相連勿斷。以藥末敷於肝內。以線紮緊。勿令泄出。取米泔水一碗。入砂罐內。併入豬肝同煮。臥時連肝服之。</p>
<p><u>又方</u></p>
<p>石決明　天鼠矢　白蒺藜　木賊草　菊花　蟬蛻　穀精珠（各等分）</p>
<p><u>麻木不仁方</u></p>
<p>豨薟草　威靈仙　條防風　白附子　白殭蠶　赤芍藥　梔子仁　片黃芩　厚黃柏　川厚朴　蒼耳子　當歸尾　淨銀花　紋莊黃　石朴硝　黑丑牛　甘草（硝黃二味各包另下）</p>
<p>石膏燈心引。空心服十劑。若瘋病身上有癩癬。另用銅綠、松香、黃柏各五錢。研末油調塗。</p>
<p><u>麻木不仁丸藥方</u></p>
<p>真蘄蛇（五錢）　風子肉（五錢）　蒺藜子（一斤）　土麻仁（一斤）　白附子（兩半）　白殭蠶（一兩）　威靈仙（一兩）　杭元參（一兩）　川黃連（五錢）</p>
<p>蜜斤半為丸。初服此丸一半。即服宣下去風解毒藥五帖。然後服丸藥。服完之後。又服宣下去風解毒藥五帖。</p>
<p><u>宣下去風解毒方</u></p>
<p>白蘚皮　荊芥穗　北防風　香獨活　黑元參　厚黃柏　赤芍藥　片黃芩　花檳榔　川續斷　梔子仁　大莊黃　石朴硝　川黃連　金銀花（各一錢）</p>
<p>石膏燈心引。空心服十劑。</p>
<p><u>又第二丸子方</u></p>
<p>真蘄蛇（五錢）　風子肉（五錢）　白附子（五錢）　白殭蠶（五錢）　蒺藜子（八兩）　威靈仙（五錢）　土麻仁（八兩）　黑元參（一兩）　厚黃柏（二兩）　川黃連（三錢）</p>
<p>蜜一斤。照前制服。</p>

<h1>變治諸方</h1>
<p>果系氣血兩虛。身上並未潰爛。略有麻木似風。初起者宜之。若風病已成。須相證加減。如補中益氣湯。或加蔓荊子、麻仁、蒺藜、苦參、風子肉等藥。六味丸。或加續斷、靈仙、枸杞、虎脛骨等藥。神而明之。存乎其人。至病因藥壞。雖桂附亦在所不拘。取以回陽起痿丸終焉。</p>
<p><u>神效黃耆湯</u></p>
<p>北綿耆（二兩）　人參（二兩）　白芍（一兩）　陳皮（五錢去白）　蔓荊子（二錢）　甘草（炙一兩）</p>
<p>有熱。加黃柏。小便淋澀。加澤瀉。</p>
<p><u>當歸飲</u></p>
<p>白當歸（錢半）　生地黃（錢半）　大川芎（錢半）　杭白芍（錢半）　何首烏（一錢）　北綿耆（一錢炙）　白蒺藜（錢半）　北防風（錢半）　荊芥穗（一錢）</p>
<p>水煎服。</p>
<p><u>生脈散</u></p>
<p>北五味　肥麥冬　揀人參</p>
<p><u>清涼飲</u>　一名四順飲子。</p>
<p>大黃（酒蒸）　甘草（炙）　當歸（酒洗）　芍藥（酒炒）</p>
<p>上㕮咀。每服五錢。用水一盞半。薄荷十葉。同煎至七分。去渣。溫服。若過服克伐之藥而渴者。氣血虛也。急用八珍湯、六味丸等劑。</p>
<p><u>小柴胡合四物湯</u>　治寒熱往來。或耳聾。脅痛。肝木熾盛者宜之。</p>
<p>揀人參（錢半）　當歸身（錢半）　大生地（錢半）　京赤芍（錢半）　大川芎（錢半）　生薑（三片）　法半夏（錢半）　大棗（三枚）　枯黃芩（一錢）　炙甘草（一錢）</p>
<p>水煎服。拘攣。加鉤藤。</p>
<p><u>獨活寄生湯</u></p>
<p>桑寄生　香獨活　大秦艽　北防風　北細辛　揀歸身　杭白芍　熟地黃　北杜仲　川牛膝　堅雲苓　揀人參　肉桂心　炙甘草</p>
<p><u>清心蓮子飲</u></p>
<p>天門冬（去心）　石蓮子　堅雲苓　條黃芩　地骨皮　車前子　北黃耆　揀人參　炙甘草（各一錢）</p>
<p>一方。加遠志、石菖蒲各一錢。另用天門冬二十粒。水二盞。煎一鍾。水中沉冷。空心溫服。發熱。加柴胡、薄荷。</p>
<p><u>潤腸丸</u>　東垣</p>
<p>當歸尾（五錢）　胡麻子（一兩）　淨桃仁（一兩去皮尖）　煨大黃（一兩）　節羌活（五錢）</p>
<p>研末。蜜為丸。如桐子大。每服三十五丸。空心白湯送下。若腸胃氣虛血虛不通。用十全大補湯。若肝膽邪盛。脾土受侮而不能輸化者。用小柴胡湯加山梔、郁李仁、枳殼治之。若燥在直腸而不通者。用豬膽汁灌入穀道導之。</p>
<p><u>竹葉石膏湯</u>　仲景</p>
<p>石膏（一斤）　竹葉（二把）　門冬（一升）　粳米（半升）　人參（三兩）　半夏（半斤）　炙草（二兩）</p>
<p>上七味。以水一斗。煮取六升。去滓。內粳米煮熟湯成。去米。溫服一升。日三服。</p>
<p><u>人參平肺散</u>　東垣　治肺受熱而喘。</p>
<p>揀人參（二錢炒）　天門冬（一錢去心）　肥知母（錢半）　桑白皮（二錢炒）　地骨皮（一錢）　珠青皮（六分）　廣陳皮（六分）　五味子（三十粒）　炙甘草（錢半）</p>
<p>生薑五片引。食遠溫服。</p>
<p><u>四君子湯</u></p>
<p>揀人參　堅雲苓　焦白朮　炙甘草</p>
<p><u>四物湯</u></p>
<p>揀歸身　大川芎　杭白芍　懷熟地</p>
<p><u>六味丸</u></p>
<p>懷熟地　懷山藥　酸棗皮　堅雲苓　牡丹皮　光澤瀉</p>
<p><u>八味丸</u></p>
<p>熟附片　土肉桂　懷熟地　淮山藥　牡丹皮　堅雲苓　光澤瀉　酸棗皮（即山萸肉）</p>
<p><u>補中益氣湯</u></p>
<p>北黃耆　揀人參　揀歸身　炙甘草　廣陳皮　銀柴胡　綠升麻　焦白朮</p>
<p>凡癘疾初起。非虛弱者。忌耆朮。以耆固表壅中。為潰瘍所忌。</p>
<p><u>十全大補湯</u></p>
<p>肉桂　黃耆　雲苓　焦術　炙草　熟地　歸身　川芎　白芍　人參</p>
<p><u>歸脾湯</u></p>
<p>茯神　龍眼肉　淨棗仁　北綿耆　揀人參　炒於朮　廣木香　炙甘草</p>
<p>生薑紅棗引。薛氏加遠志肉、當歸各一錢。</p>
<p><u>養血湯</u></p>
<p>揀北耆（一兩）　揀歸身（五錢）</p>
<p><u>人參理中丸</u></p>
<p>人參　白朮　乾薑　甘草</p>
<p><u>四神丸</u></p>
<p>肉豆蔻（二兩）　補骨脂（四兩）　五味子（二兩）　吳茱萸（一兩浸炒）　老薑（八兩）</p>
<p>紅棗百粒。煮熟。取棗肉和末為丸。如桐子大。每服五十丸。白湯下。</p>
<p><u>清暑益氣湯</u></p>
<p>北耆（錢半）　人參（五分）　白朮（五分）　蒼朮（錢半）　歸身（三分）　五味（九粒）　黃柏（三分）　神麯（五分）　陳皮（五分）　青皮（三分）　澤瀉（五分）　升麻（三分）　葛根（三分）　甘草（三分）</p>
<p>食遠服。</p>
<p><u>癘疾回陽起痿方</u></p>
<p>附片（二兩）　肉桂（一兩）　破故紙（一兩）　續斷（兩半）　蛇床子（兩半）　首烏（二兩）　枸杞（二兩）</p>
<p><u>升麻湯</u>（補）</p>
<p>升麻（三分）　防風（三錢）　官桂（二錢）　人參（三錢）　雲苓（三錢）　羌活（二錢）　犀角（二錢）</p>
<p>共為末。每服四錢。</p>
<p><u>小兒麻木遍身多癬方</u>（補）</p>
<p>苦參（三兩）　當歸（二兩）　川芎（二兩）　元參（二兩）　土麻仁（四兩）　防風（二兩）　蟬蛻（一兩）　羌活（二兩）　全蠍（二兩）　風子肉（二兩）　蒺藜（六兩）　大黃（兩半煨）</p>
<p>老米糊為丸。早晚各四錢。茶送下。</p>
<p><u>四生散</u>　兼治耳目癢。腳膝生瘡。及遍身生癬。</p>
<p>北綿耆　節羌活　白蒺藜　節白附（生用各等分）</p>
<p>上為末。每服五錢。薄荷湯送下。如腎臟風。下腫生瘡。以豬腰子劈開入藥二錢。合定紙包煨熟。空心細嚼。鹽湯送下。</p>

<h1>攻下諸方</h1>
<p><u>通天再造散</u>　與小神丸相連間服。虛者慎用。</p>
<p>煨大黃（七錢）　鬱金（三錢）　皂刺（兩半）　丑牛（六錢即牽牛子）</p>
<p>上為末。早起面東服五錢。酒調下。食後必瀉出惡物。及各色蟲。先服三早。次服小神丸。至十日。又停三日。每日服末藥一次。三日後。又服丸藥如前。</p>
<p><u>追命散</u>　此方較通聖散稍緩而力勇。</p>
<p>川大黃（斤半）　皂角刺（斤半）　川鬱金（五兩）</p>
<p>上為末。酒調。每服三錢。量人虛實加減。瀉下赤蟲。其病日近。瀉下黑色者日久。隔五六日服一次。以蟲盡為度。勿令病人知。恐藏匿不出。</p>
<p><u>二聖散</u>　保命</p>
<p>大黃（半兩）　皂角刺（三錢）</p>
<p>先將皂角刺燒灰為末。用大黃煎湯。調下二錢。早服樺皮散。中以升麻湯下瀉青丸。晚服二聖散。</p>
<p><u>行藥方</u></p>
<p>巴豆肉（五錢淨油）　生大黃（一錢）　明雄黃（一錢）　廣木香（一錢）</p>
<p>上將巴豆肉搗爛。取老米飯數合。醋煮。擂爛成糊。入各藥杵勻為丸。如桐子大。每服十丸。茶送下。如大瀉。即停勿服。服小神丸十日。即停三日。每日服行藥丸十粒。三日三次。後又服小神丸。以後俱照此例。又服小神丸。當兼針灸熏洗諸法治之。令病易愈。宜謹守戒忌。</p>
<p><u>汗後下藥方</u>（補）</p>
<p>家桃仁（一錢）　京赤芍（一錢）　當歸尾（八分）　尖檳榔（一錢）　老枳殼（錢半）　淮木通（錢半）　條黃芩（八分）　小甘草（八分）</p>
<p>姜皮燈心引。另包大黃四錢。芒硝三錢。沖服。</p>

<h1>外治諸方</h1>
<p><u>洗癘瘡方</u></p>
<p>蓖麻皮　苦楝皮　馬齒莧　槐樹皮（各四兩）</p>
<p>煎水洗。</p>
<p><u>又洗藥方</u></p>
<p>豨薟草　蒼耳子　北防風　鮮松毛　杉葉　左纏藤　側柏葉　荊芥　銀花</p>
<p>共煎水洗。</p>
<p><u>發汗方</u>　洗同。非遍身麻木。但洗可也。</p>
<p>蔓荊（一兩）　荊芥穗（一兩二錢）　威靈仙（兩半）　麻黃（兩半）　蛇床（一兩）　北細辛（八錢）　白芷（六錢）　蒼朮（一兩）　川花椒（一兩）　嫩苦參（一兩）　川黃柏（一兩）　何首烏（八錢）</p>
<p>此方宜洗不宜服。</p>
<p>外加苦參皮、過牆草、側柏葉、家艾葉、同煎水洗之。後用川花椒五錢。為末。醋調擦身。除蟲止癢。</p>
<p><u>平常熏洗方</u></p>
<p>淨銀花　花椒葉　老松毛　側柏葉　蒼耳草　老艾葉　過牆草　苦楝皮</p>
<p>同煎水洗。</p>
<p><u>洗大麻瘋方</u></p>
<p>蒼耳草　朴硝</p>
<p><u>熏洗方</u>　洗法見後</p>
<p>鮮松毛（一斤）　蘇葉（四兩）　九里明（四兩）　苦瓜葉（四兩）　金銀花（六兩）　紫浮萍（二兩）</p>
<p>洗後即服八寶丹二百粒。次日。仍服前小神丸。</p>
<p><u>專退紅雲方</u>　治臉上紅雲。及遍身紅點紅堆。</p>
<p>蓖麻子（二錢取肉）　杏仁（二錢去皮）　生川烏（三錢研末）　水銀（五錢擂不見星）　雄黃（三錢研末）　松香（三錢要老紅色者）　膽礬（三錢）</p>
<p>先將水銀同川烏擂爛。若水銀難擂。即入松香同擂。候水銀不見星時。再入蓖麻子、杏仁、雄黃、明礬。共研細末。每次以豬膽調稀。每夜睡時。薄薄敷於臉上紅處。次早必干。仍剝落放在碗內。再加豬膽汁擂。次夜再敷。其藥可用三次。若身上紅雲紅堆。用薑汁調塗。久用自愈。若不愈。用針刺法。</p>
<p><u>又吉水李先生傳方</u></p>
<p>良薑　南星　薄桂　生川烏　生草烏　蒼朮　艾絨　殭蠶　香附　桂皮　蔥</p>
<p>共研。入鍋炒熱。用好醋淬入。乘熱同敷痹肉處。冷則再炒再敷。愈多愈妙。</p>
<p><u>又方</u></p>
<p>水銀（四錢）　錫花（二錢）　銅綠（二錢）　輕粉（二錢）</p>
<p>外採野菊花四五斤。搗爛榨汁。倒落鍋內熬成膏。加豬膽三四個。取汁再熬。將水銀四味。共擂為末。拌入膏內和勻。每夜照法敷之。藥干。再加豬膽汁浸濕。擂用。</p>
<p><u>又方</u></p>
<p>生牡蠣（二兩研末）　生黃柏（一兩研末）　生南星（五錢）　生大黃（五錢）　苦參（一兩研末）　甘草節（五錢）</p>
<p>共為細末。雞子白調敷。好醋亦可。藥只好調一次。</p>
<p><u>又方</u></p>
<p>野芋</p>
<p>量芋多少。刮去皮洗淨搗爛。加入酒糟一大杯。每夜搗敷患處。或更加紅腫無妨。切忌敷臉。恐藥入目。即前二方。亦宜絹帛扎眼。結於腦後。恐藥入目傷明。</p>
<p><u>擦退紅雲紅塊方</u>　並治白癬癜及頑癬疥瘡。</p>
<p>信石（五錢去腳）　草烏（五錢去蘆）　白附（五錢）　輕粉（二錢）　膽礬（二錢）　樟腦（二錢）　雄黃（五錢）</p>
<p>共為細末。清油薑汁調勻。擦患處。一日一次。以愈為度。勿使藥入口目。並勿沾腎囊。</p>
<p><u>擦痹肉方</u></p>
<p>生川烏（五錢）　生草烏（五錢）　芥菜子（五錢生研）　韭菜頭（一兩）</p>
<p>共搗爛。入清油拌。濕搽二三次。肌肉復生。死肉即爛。若愈後復痹。再搽之。</p>
<p><u>回痹方</u></p>
<p>良薑（五錢）　山柰（五錢）　肉桂（五錢）　丁香（二錢）　草蔻仁（三錢）</p>
<p>上為末。濃酒煮熟。敷患處。先以艾絨敷患處。以熨斗運之。覺熱去艾葉。敷藥即回。如不回。再敷一次。</p>
<p><u>塗頑癬方</u></p>
<p>銅綠（五錢）　松香（五錢）　黃柏（五錢）</p>
<p>研末。桐油調塗。</p>
<p><u>治紅堆方</u></p>
<p>土茯苓</p>
<p>先以針三根。夾入食箸內。紮緊露鋒半分許。刺紅堆出血。方用土茯苓末和酒酺糟炒熟。趁熱敷上患處即愈。</p>
<p><u>治心經面起紅雲紅點不退方</u></p>
<p>白枯礬（一錢）　香白芷（一錢）　上潮腦（一錢）　上黃丹（一錢）　白附子（二錢）　鉛粉（二錢）　硃砂（五錢）</p>
<p>共研末。每夜將白果汁調搽上。酒腳亦可。</p>
<p><u>治脾經遍身癢癩如松皮疼痛方</u></p>
<p>硫黃（二兩）　豬大腸（半條）</p>
<p>先將硫黃研末。貫入腸內。連油兩頭紮緊。放砂鍋內。久煮爛。同搗成膏如泥。粗布兜揩遍身。</p>
<p><u>又治脾經遍身癢癩瘡汁不幹方</u></p>
<p>棉花子（八兩炒）　老松毛（八兩）　老桐葉（八兩）　家艾葉（四兩）</p>
<p>共焙乾。捶爛。分作糰子數十個。每夜取二三個入桶內。用缽盛著火燒之。人坐其上。候煙久熏為妙。</p>
<p><u>治腎經腳先破傷久不幹水方</u></p>
<p>川黃連（五分）　川黃柏（一錢）　黑元參（一錢）　當歸身（一錢）　軟防風（一錢）　荊芥穗（一錢）　薄荷葉（一錢）　上血結（一錢）　堅白蘞（一錢）　白芷梢（一錢）　蛇床子（八分）　山甲珠（三錢）　蜈蚣（一條）　小甘草（三分）</p>
<p>上用牛尿。不拘多少。將前藥末用小罐熬至一半。除渣。又熬成膏。加滴乳香、明沒藥各八分。白龍骨火煅。真象皮壁土炒成珠、淨黃丹、赤石脂火煅各一錢。真輕粉五分。冰片八分。麝香一分。共擂細末。候膏藥溫冷。將藥末傾入。攪勻。瓷罐收好。先將鹽茶洗腳破傷處候乾。用此藥敷上。油紙紮定。一夜一換。</p>
<p><u>又方</u></p>
<p>麻黃（四兩）　白蠟（三錢）　黃蠟（三錢）</p>
<p>先將三味熳火熬成珠。後加黃丹一兩半。又攪成膏。再加滴乳香、明沒藥、上血結、白虎骨、真象皮、細乳茶各八分。上冰片、麝香各一分。共擂細末。候膏藥溫冷。加入在內攪勻。開成膏藥貼患處。</p>
<p><u>治手足麻木不知痛癢或火炙傷或湯水泡傷如斑蝥蟲泡已破汁水不幹方</u></p>
<p>川黃柏（一兩生用）　赤石脂（五錢）　白枯礬（三錢）　淨黃丹（三錢）　公豬膽（一枚）</p>
<p>和前藥濕透三四次。炙三四次。焙乾研末。搽傷處。</p>
<p><u>搽方</u></p>
<p>青皮（甘草水浸炒再浸再炒三次）　兒茶（各一錢）　冰片（一分）　殭蠶（泡去絲一錢）　苦參（酒炒一錢）</p>
<p>雞蛋白調塗患處。一日五六次。</p>
<p><u>敷爛腳方</u>　此方射火燒爛。或風自爛。俱可搽。</p>
<p>乾薑（二錢）　山柰（三錢）　肉桂（二錢）　麝香（一錢）　雄黃（二錢）　明礬（三錢燒）　蛇床子（三錢）　木鱉子（十粒）</p>
<p>先用桐油蘸紙條燒。知痛後。醋調藥末塗之。立效。</p>
<p><u>又敷爛足方</u>　即腳底穿者。敷之無不愈。</p>
<p>乳香（二錢）　沒藥（一錢去油）　龍骨（三錢竹葉包定水濕火煨）　黃丹（三錢）　白蠟（五錢另研）　冰片（二錢）　爐甘石（二錢煅紅黃連荊芥黃柏水煎淬七次陰乾）</p>
<p>研末和勻。將藥末撒上患處。外用雞子白、麻油煎餅。如閒常煮蛋皮法。量患處大小煎一塊。蓋上。布裹紮住。次日解開。用蔥煎湯洗。或銀花湯洗亦可。再撒藥。貼蛋餅。不旬而愈矣。</p>
<p><u>敷足上爛肉方</u></p>
<p>黃柏　大黃　黃芩　硫黃　銀花　蛇床子</p>
<p>研末。麻油調敷。以布扎住。三四日勿解。如不愈。再敷一次。即效。</p>
<p><u>大白膏</u></p>
<p>肉痹不知痛癢。針灸燒割。不若以此藥摩之。一日三五次。</p>
<p>白芷（二兩）　白朮（二兩）　前胡（二兩）　吳萸（二兩）　川芎（一兩）　川椒（一兩）　當歸（七錢）　桂心（七錢）　細辛（七錢）</p>
<p>上以苦酒二升。浸一宿。取出。下水豬油二斤半。銅器煎油。去渣。入各藥。俟白並黃色。膏成。以瓷瓶貯之。隨病處摩之即愈。若遍身生瘡。膿血潰爛。作大黑膏摩之。</p>
<p><u>大黑膏</u></p>
<p>烏豆　川芎　雄黃　胡粉　防己　升麻　黃連　雌黃　藜蘆　礬石（各兩半）　杏仁（去皮尖）　巴豆（各四十粒）　黃柏（一錢八分）　松脂（如雞子大）　亂髮（如雞子大）</p>
<p>上搗篩為末。以豬油二斤合藥。煎亂髮消盡。膏成用塗瘡上。先以鹽湯洗。拭乾。然後塗藥。若患眉睫墮落不生者。服藥後。經百日外。即以鐵漿洳其眉睫處。一日三度洗之。生毛則速出。一大半眉睫與不患時同也。</p>
<p><u>當歸膏</u></p>
<p>當歸（一兩）　生地（一兩）　紫草（五錢）　麻黃（五錢）　防風（五錢）　木鱉子（五錢去殼）　大風子（五錢淨油）　黃柏（五錢）　元參（五錢）　麻油（八兩）　黃蠟（二兩）</p>
<p>先將九味入麻油熬枯。去渣。再將油復入鍋內熬。至滴水成珠。再下黃蠟。試水中不散為度。候稍冷。傾入蓋碗內。坐水中出火毒。三日聽用。</p>
<p><u>生眉毛方</u></p>
<p>側柏葉（炒香）　乾薑　皂刺　肉桂</p>
<p>上製造為末。醋和。加老薑汁一匙。每日搽眉處二次。</p>
<p><u>側柏葉丸</u>　須脫者照法服之。亦能再生。</p>
<p>側柏葉不拘多少。九蒸九曬。研末。蜜為丸。每服四錢。早晚二次。夜一次。白湯下。</p>
<p><u>生眉散</u></p>
<p>皂角刺（焙乾）　新鹿角（燒存性各等分）</p>
<p>為末。薑汁調塗。一日塗一二次。不數日而眉生。</p>
<p><u>瘋後生眉毛妙方</u></p>
<p>天南星　卷黃柏（曬乾）　老幹姜　皂角刺　厚肉桂</p>
<p>每味制二錢。醋和老薑汁搽塗即效。</p>
<p><u>生眉毛方</u></p>
<p>附子　黑芝麻油　丁香　木香　鐵生末　生薑汁　羊糞（三十粒）　垣衣（即磚牆城牆上苔衣七錢半）　訶黎勒皮</p>
<p>研末。入油薑汁。以不津器盛。於馬糞中埋三七日。取藥。用中指在生鐵器內摩三七分。即塗上熱揩之。</p>
<p>以干為度。十五日內。眉須皆生。</p>
<p><u>畫眉丹</u></p>
<p>石燕（一對火煅醋淬三四次）　黃丹（二錢）</p>
<p>共研末。薑汁調搽二眉根上。眉自復生。</p>
<p><u>治口橫縱方</u></p>
<p>鱔魚血（一合）　麝香（半分）</p>
<p>研末調勻。左縱塗右。右縱塗左。每塗三次。三五日勿洗去。神效。</p>
<p><u>白丁香散</u>　治癘疾眼生胬肉。</p>
<p>白丁香　川貝母</p>
<p>研末。入乳汁調勻。點眼內。</p>
<p><u>洗眼方</u>　即煎神效清目飲、明目解毒湯、豬肝散、又豬肝散皆可服。</p>
<p>北蟬蛻　白蒺藜　草決明　白甘菊　川連　丹皮　甘草</p>
<p>加桑葉三五片。煎水熏洗。</p>
<p><u>通鼻塞方</u></p>
<p>巴豆肉不拘多少。研為細末。用姜一塊。去皮如指大。拌藥末少許。納入鼻中。勿令取出。一夜即通。</p>
<p><u>細辛散</u>　治鼻齆息肉。不聞香臭。</p>
<p>北細辛　瓜蒂</p>
<p>研末。綿裹如豆大。塞鼻中。</p>
<p><u>又方</u></p>
<p>雄黃（錢半）　瓜蒂（一錢）　白礬（一錢）　細辛（一錢）</p>
<p>研末。搐鼻齆。</p>
<p><u>通關散</u>　治腦風鼻息不通。不聞香臭。或流清涕。</p>
<p>白附子　益智子　白蒺藜　蘇薄荷　白苦參　蠶蛾</p>
<p>瓦焙乾。共研末。每服三錢酒下。</p>
<p><u>鼻赤秘方</u></p>
<p>梔子　苦參　蒼朮（各等分）</p>
<p>研末。每服一錢。酒調。白湯送下。早服之去左邊赤。晚服去右邊赤。神效。外以生白礬末。每洗面時置少許。掌中滴酒搽患處。數日即白。</p>
<p><u>又鼻赤方</u></p>
<p>硫黃　白礬（各等分）</p>
<p>茄子汁調搽。</p>
<p><u>椿根湯</u>　治疳食目鼻。</p>
<p>椿根（去皮切一升）　蔥白（細切半升）　豆豉（半升）　鹽（半合）　川椒（半合）</p>
<p>上和以醋及清泔三升。煎數十沸去渣。約一升。分三服即效。服此有惡物下出。病自愈矣。</p>
<p><u>爛肉妙方</u></p>
<p>新石灰水　靛水（各等分）</p>
<p>調勻塗上自爛。</p>
<p><u>去面上紅黑點方</u></p>
<p>白芷　白附</p>
<p>共研末干搽。</p>
<p><u>草藥涼血方</u></p>
<p>九里明（即野菊）　採取不拘多少。去枝根用葉。入酒少許。搗爛。以布絞出汁。煎服。每飲三四碗。外將渣敷患處。神效。</p>
<p><u>又方</u></p>
<p>馬鞭草不拘多少。摘葉洗淨。搗爛加酒絞汁。每日服之。</p>

<h1>針法</h1>
<p>服小神丸一匕。即用灸法燒法。如痹處死肉不能盡燒。當於手彎足彎或腿膝青筋處。針出黑血。實者五六日針一次。虛者半月、一月一次。針出紫黑血。不妨再針。若出鮮血即止。須一次針一處。不可連針數處。</p>

<h1>灸法</h1>
<p>擦蘄艾成條。大者如筆管。小者如食箸。按痹處灸之。每處灸五六壯。艾丸宜長半寸以上。</p>

<h1>燒法</h1>
<p>裁紙作條。大者如食箸。入清油中浸透取出。放杉木上滲干。燃時如不爆。先將各處死肉。以簪試之。不痛。即以墨點記。次用油紙條燃火。照墨點記燒。燒起火泡。更妙。泡破爛即以膏藥貼之。</p>

<h1>熏洗法</h1>
<p>（藥方在前）</p>
<p>用木盆一隻。上放一橫板。兩頭長過盆弦二三寸。先搗生薑蔥。搽病人遍身令周。更令病人飽吃飯食。即將藥水乘熱傾入盆內。令病人坐在橫板上。又以一板擱腳。外用席圍住。外又用厚被蓋住。勿令藥氣走泄。但要露出頭面。俟水稍冷。緩緩揭開。令病人自洗其身。即服八寶丹一百丸。次日仍服小神丸。用新石灰、靛水調勻。塗紅塊上。藥將干時。以指按其痛否。如痛勿再塗。亦勿撥去。若不痛。刮去原藥。再塗新藥。即覺痛矣。不可撥動。任其自生新肉。上面自脫。若一撥動。愈後有泡。此方不但痹肉紅雲紅塊紅堆。即面上黑痣。頸上瘰癧包瘤等恙。治無不驗。又無膿水。數日脫靨。自然平復。</p>

<h1>點痣法</h1>
<p>（附）</p>
<p>石灰、鹼水和勻。略帶硬。以糯米十粒。插入灰內。少時略發。即以米黏在痣上。每一痣一粒。令其自脫。則黑皮黏在米上。</p>

<h1>瘰癧爛法</h1>
<p>（附）</p>
<p>瘰癧在頭上。及兩腋胸前者。皆可爛。但爛一二處即止。俟脫落後再爛別處。其法於有瘰癧處。以黑圈點。塗藥圈內。久則痛。不痛再塗一次。以痛為度。勿去其藥。稍有黑陷。第三日癧核自出。若搖動難脫者。用巴豆四粒。飯一撮。搗成綿條。圍在覈上。外以膏藥封之。三日一換。自然脫落。尋以生肌散敷之。不旬日而愈。又頸上皮光肉嫩之處。搽上即爛。若肉厚處不妨厚塗。蓋薄塗則爛淺。厚塗則爛深也。</p>

<h1>雷火針法</h1>
<p>（補）</p>
<p>蘄艾葉放在箕內。擦成絨。以紙緊包成條。如筆管大。先以粗紙折二三重。置各患處。以艾條燃火。按患處隔紙燒射。知痛即止。如泡起用針挑破。水乾自愈。如爛即以松香膏貼之。外江呼為射火。醫家又名雷火。針凡瘋痹鶴膝風腫痛風之類皆用之。</p>
<p>服初次丸。即以艾擦條圈圍燒死肌肉。不可空一絲。勿燒穴火。服至第二次丸。便要灸穴火。上兩肩井、兩曲池、招搖、虎口。如風氣已收。即要灸對眼二穴。下身兩風門、三里、魚肚、解肌、斷根各穴。相時勢。每穴三五壯或七八壯。</p>
<p><u>對眼穴</u>　在腦後對眼處。</p>
<p><u>肩井穴</u>　提起手來。肩膀後自有一窩。即是穴。</p>
<p><u>曲池穴</u>　在手兩肱關節處。</p>
<p><u>招搖穴</u>　在手掌背上關節處。</p>
<p><u>虎口穴</u>　在大指食指中間。</p>
<p><u>風門穴</u>　在中股交骨間。要其人平身立定。以手中指陷入處即是。</p>
<p><u>三里穴</u>　有內外兩穴。今所灸乃外三里。其人自手從膝上屈下。以手指掏入有窩處即是。</p>
<p><u>魚肚穴</u>　在腳膝彎下。似魚肚樣不窩處即是。</p>
<p><u>解肌穴</u>　在腳背上總筋有穴處。</p>
<p><u>斷根穴</u>　在腳大拇指二指中間。</p>

<h2>戒口歌</h2>
<p>六畜自死肉。豬狗與牛羊。馬鹿鵝雞等。東黃二瓜妨。大菜及茄芋。黃豆同椒姜。團魚並鱔蝦。水族總髮瘍。麵食及番薯。生冷兼諸香。煎炒偕滯氣。生鹽與醋醬。菜油並麻油。不食始為良。冬酒宜少飲。燒酒莫舉觴。更宜切戒者。夫妻莫同房。</p>

<h2>宜食歌</h2>
<p>豬肉後腿美。海參老鴨嘗。海帶偕木耳。綠黑二豆良。蘿蔔莧菜美。豆角苦瓜芳。萵苣自可食。苦蕒白菜香。魚惟青魚好。鹽炒乃無妨。茶油堪烹飪。食料此中詳。</p>

<h1>千金方</h1>
<p>（附）</p>
<p><u>治大麻瘋惡疾方</u></p>
<p>𦱌豆　用細粒烏豆。擇取摩之皮不落者。取三月四月天雄烏頭苗及根。淨去土。勿洗。搗絞取汁。漬豆一宿。漉出曬乾。如此七次。始堪服。初服三枚。漸加至六七枚。日一服。禁房室。豬魚雞蒜。畢身毛髮即生。犯者不瘥。衍義。𦱌豆黑色通腎。制以天雄烏頭。力破風毒。故治為之首推。</p>
<p><u>岐伯神聖散</u>　治癘病癰疽。癩疥癱風痿。骨肉疽敗。百節痛。眉毛髮落。身體隱隱躍躍癢。目痛眥爛。耳聾齒齲。痔漏方。</p>
<p>天雄　白附　茵芋（外臺作茵草）　躑躅　細辛　烏頭　石南　乾薑（各一兩）　川椒　防風　菖蒲（各二兩）　白朮　獨活（各三兩）</p>
<p>共研末篩。酒服方寸匕。日三。勿增之。</p>
<p>衍義。驅除風毒之峻藥。萃聚方中。非岐伯不能創。非千金不能用。惟形壯氣實邪正俱旺者為宜。</p>
<p><u>狼毒散</u></p>
<p>狼毒　秦艽（各等分）</p>
<p>共研末篩。酒服方寸匕。日三服。五十日愈。</p>
<p>衍義。狼毒殺蟲闢毒。秦艽逐濕痹。允為癘風專藥。</p>
<p><u>又方</u></p>
<p>煉松脂投冷水中二十遍。蜜為丸。服二兩。遇飢即服之。日三。鼻柱斷離者二百日服之瘥。斷鹽及雜食房室。又以天門冬酒服百日愈。</p>
<p>衍義。松脂去風燥濕。天門冬酒服。取其潤燥也。</p>
<p><u>石灰酒</u>　主生毛髮鬚眉。去大風。</p>
<p>石灰（一石酒拌濕蒸令氣足）　松脂（煉成十斤為末）　上曲（鬥二升）　黍米（一石）</p>
<p>上四味。先以大鍋內炒石灰。以木扎箸灰中。火出為度。以枸杞根銼五斗。水一石五斗。煮取九斗。去渣。以淋石灰三遍澄清。以石灰汁和漬曲。用汁多少。如釀酒法。訖。封四七日開服。常令酒氣相及為度。百無所忌。不得觸風。其米泔及飯糟一事。不得使人畜及犬鼠食之。皆令深埋。此酒九月作二月止。恐熱。隔上熱者。服後進冷飯三五口壓之。婦人不能飲食。黃瘦積年。及蓐風。不過一石即瘥。其松脂末初釀酒攤飯時。均散著飯上。待飯冷乃投之。此酒飯宜冷。不爾即醋。宜知之。</p>
<p>衍義。石灰烈火煅出。性最暴。故本經治疽瘍毒熱惡瘡。痼疾。死肌。墜眉殺蟲。去黑子。息肉。松脂貫歷風霜。質乘剛強。燥散。本經治癰疽惡瘡。腳攣手摺。頑瘍白禿。配以枸杞根之甘寒。本經有五內邪氣。熱中消渴。周痹。風濕。久服堅筋骨。用以釀酒。能生眉發。非去大風之明驗乎。</p>
<p><u>商陸根方</u>　治大風。眉發落。赤白癩病。八風十三痹。筋急肢節緩弱。水腫癰疽。疥癬惡瘡。腳攣手摺。眼暗洞泄。痰飲宿澼寒冷諸證。</p>
<p>商陸根　蒼耳子（各二十五斤）　曲</p>
<p>以三味。合於甕中。水一斛漬之。炊黍米一石。釀如家法。使曲米相淹。三釀畢。密封三七日開視。曲浮酒熟。澄清。溫服三升。輕者二升。藥發吐下為佳。宜食軟煮飯。牛羊鹿羹。禁生冷醋骨及豬犬雞魚等。</p>
<p>衍義。前石灰酒。治大風頑痹。此商陸酒。治大風痹爛。然惟血氣未憊。形體浮腫。可勝盪滌。宜之。</p>
<p><u>治瘋身體如蟲行方</u></p>
<p>用鹽一斗。水一石。煎減半。澄清。溫洗浴三四遍。並治一切風熱。</p>
<p><u>又方</u></p>
<p>淳灰汁洗面。不過一月即愈。</p>
<p><u>又方</u></p>
<p>以大豆漬飯漿水。旦旦溫洗面。洗頭髮。不淨少加面。勿以水濯之。不過十度。</p>
<p><u>又方</u></p>
<p>雄黃　松脂（各等分）</p>
<p>合煉和蜜為丸。如桐子大。飯水下十丸。日三服。百日愈。忌酒肉鹽等。</p>
<p>衍義。鹽湯浴體。取其導水。灰汁洗面。取其逐濕。燥濕通痹。大風惡疾之專藥也。</p>
<p><u>治身體瘙癢白如癬狀方</u></p>
<p>楮子（三枚）　豬𦚠（一具）　鹽（一升）　礬石（一兩合搗燒）</p>
<p>上四味。以苦酒一升合搗。令熱。拭身日三次。</p>
<p><u>又方</u></p>
<p>以三年陳醋磨烏賊骨。先以布拭肉令赤。敷之。</p>
<p><u>又方</u></p>
<p>以醋摩硫黃塗上。集驗方磨硫黃、附子使熱。將臥。以布拭病上。乃以藥敷之。</p>
<p><u>又方</u></p>
<p>蜣螂搗爛塗之。當揩令熱封上。一宿瘥。</p>
<p><u>又方</u></p>
<p>白蘞　薰陸香（即乳香）</p>
<p>共為末揩上。並水服之。</p>
<p><u>又方</u></p>
<p>硫黃　水銀　槲皮（燒各等分）　蛇蛻（一具）</p>
<p>上四味。搗篩。以清漆合和。薄塗白處。欲塗先以巴豆半截拭白處。皮微破。然後敷之。不過三兩度即愈。</p>
<p><u>又方</u></p>
<p>硫黃　水銀　礬石　灶墨（各等分）</p>
<p>搗末。內研槽中。以蔥涕和研。臨臥敷病上。</p>
<p>衍義。風毒襲於氣分。血不榮於肌膚。而成瘙癢者。白癜證也。方用楮實入腎去風。豬𦚠礬石。闢除穢毒。烏賊骨散血脈中風也。石硫黃破陰邪毒。蜣螂拔毒消腫。白蘞、乳香。解毒散結。硫黃、水銀、礬石、灶墨。蔥涕調敷。滌垢化蟲。皆白癜瘋外治之法。</p>
<p><u>九江散</u>　治白癜瘋。及二百六十種大風方。</p>
<p>當歸（七分）　石南藤（六分）　白附子（一錢六分）　羊躑躅（一錢六分）　秦艽（一錢六分）　菊花（一錢六分）　乾薑（一錢六分）　防風（一錢六分）　雄黃（一錢六分）　丹砂（一錢六分）　麝香（一錢六分）　斑蝥（一錢六分）　川椒（八分）　連翹（八分）　鬼箭羽（八分）　石長生（八分）　知母（八分）　鬼臼（八分）　人參（一錢二分）　王不留行（一錢二分）　石斛（一錢二分）　天雄（一錢二分）　烏頭（一錢二分）　獨活（一錢二分）　防己（一錢二分）　莽草（一錢二分）　水蛭（百枚）　蜈蚣（三隻）　虻蟲（十粒）　地膽（十粒）</p>
<p>諸蟲皆去足翅。熬炙令熟。同各末藥為散。酒服方寸匕。日再服。其病入發令發白。服之百日愈。發還黑。</p>
<p><u>又方</u></p>
<p>以酒服生胡麻油一合。日三服。稍稍加至五合。忌生冷豬雞魚蒜等。百日服五斗瘥。</p>
<p><u>又方</u></p>
<p>天雄　白蘞　黃芩（各三兩）　乾薑（四兩）　白附子（一兩）　商陸　羊躑躅（各一升）</p>
<p>以上七味。研末篩。酒服五分匕。日三服。</p>
<p><u>治白癜瘋</u></p>
<p>礬石　硫黃（各等分）</p>
<p>為末。醋調敷。</p>
<p><u>又方</u></p>
<p>平旦以手掉取蔥頭露塗之。極效。</p>
<p><u>又方</u></p>
<p>蘿摩草煮汁拭之。</p>
<p><u>又方</u></p>
<p>蛇脫皮熬摩數百遍。棄置草中。</p>
<p><u>又方</u></p>
<p>樹空中水洗。桂末唾和塗之。日三。</p>
<p><u>又方</u></p>
<p>水銀數數拭之令熱。即消。瘥乃止。</p>
<p><u>又方</u></p>
<p>凡身諸處白駁漸漸長似癬不瘥。取鰻鱺魚脂塗之。先揩病上使痛。然後塗之。</p>
<p><u>又方</u></p>
<p>灸左右手中指節去延外宛中三壯。未瘥敷之。</p>
<p>衍義。九江散中。類集祛風破血。散結闢毒諸藥。散白癜風之諸藥。風毒入發。令人發白。服之百日還黑。豈非風毒去而氣血復之一驗乎。方以雄黃。乾薑散結。白蘞。黃芩解毒。商陸。躑躅破水。味雖簡略。而功力較前方不殊。礬石、硫黃。闢除陰毒。蔥頭上露。滋燥散血。蘿摩揩拭。祛風軟堅。石灰。松脂。通痹逐濕。蛇皮專於祛風。桂末力能破血。水銀殺蟲闢毒。鰻鱺脂亦能化蟲。兼可滋血。</p>
<p><u>去皮中紫赤疵痣去靨穢方</u></p>
<p>乾漆　雌黃　礬石（各三錢）　雄黃（五兩）　巴豆（十五粒）　炭皮（一斤）</p>
<p>上六味。治末節。雞子白和塗故帛。貼病上。日二易。</p>
<p><u>治赤疵方</u></p>
<p>京墨　大蒜　鱔血</p>
<p>共塗患處。</p>
<p><u>治贅疵痣方</u></p>
<p>礬石　巴豆　䕡茹　藜蘆　雄黃　硫黃　珍珠（各一兩）</p>
<p>上七味。研末篩。以真漆合和如泥。塗點病上。須成瘡。及去面皯皮中紫。不耐漆人不宜用。以雞子白和之。衍義。風毒入傷血分。瘀滯搏於皮膚。而成疵痣者。紫雲風也。方用乾漆散血。二黃闢毒。礬石逐垢。巴豆破頑。炭皮散火。雞子解毒。並和諸藥之性。又以蒜穢通濁。鱔血散瘀。炭皮散火之義。贅疵專須闢毒破頑。真漆力倍於漆。不耐漆者。仍以雞子白和之。</p>
<p><u>去疣目方</u></p>
<p>松柏脂合和塗之。一夜失矣。</p>
<p><u>又方</u></p>
<p>石硫黃揩六七遍。</p>
<p><u>又方</u></p>
<p>杏仁燒黑。研膏塗之。</p>
<p><u>又方</u></p>
<p>以豬脂癢處揩之。令少許血出。即瘥。</p>
<p><u>又方</u></p>
<p>苦酒漬石灰六七日。滴取汁點疣上。即落。</p>
<p><u>又方</u></p>
<p>牛口涎數塗自落。</p>
<p><u>又方</u></p>
<p>蘄艾炷疣目上灸之。三壯即除。</p>
<p>衍義。松柏之脂。並能燥濕。石硫黃闢除陰毒。杏仁灰專闢垢膩。豬脂滋燥解毒。苦酒漬石灰。善落死肉。牛口中涎。滋化毒熱。不若艾灸最捷。</p>
<p><u>治凡有瘡疥腰胯手足皆生疵疥方</u></p>
<p>栝蔞根（四兩）　薔薇根（三兩）　雀李根皮（三兩）　宣黃連（三兩）　川黃柏（三兩）　芍藥（三兩）　北綿耆（二兩）　當歸（二兩）　黃芩（二兩）　白苦參（二兩）　石龍芮（二兩）　大黃（一兩）　續斷（一兩）</p>
<p>上十三味。研末。蜜為丸。如桐子大。以薔薇飲服二十丸。日三服。加至三十丸。瘥乃止。若干疥白癬勿服。千金翼云。癰疽皆可服之。</p>
<p><u>治寒熱瘡及風疥諸雜瘡方</u></p>
<p>韭根（一兩）　礬石（一兩）　雄黃（一兩）　藜蘆（一兩）　瓜蒂（一兩）　白蜜（一兩）　豬脂（一斤）　䕡茹（二兩）　巴豆（十四粒）</p>
<p>上九味。先煎松。令消盡。納松脂白蜜。三上三下納末。更一沸上敷之。</p>
<p><u>又方</u></p>
<p>水銀　礬石　川連　雄黃　蛇床子　藜蘆　䕡茹（各一兩）</p>
<p>為末。以豬脂合相攪。不見水銀為熟。敷之。凡諸瘡疥癬。久不瘥者。皆用水銀、豬脂。研合極細塗之。</p>
<p><u>治指節彎曲漸至脫落方</u>（補）　接前六香散用。</p>
<p>蓖麻子（去殼）　黃連（各一兩）</p>
<p>用水泡浸。水漸添。春夏二日。秋冬五日。取蓖麻抓破。平旦面東以浸藥水。服一粒。漸加四五粒。微利。忌豬油。</p>
<p><u>治肺經口眼喎斜方</u>（補）</p>
<p>防風　黃芩　草決明　柴胡　歸身　銀花　芍藥　蔓荊子　羌活　薄荷　甘草</p>
<p>燈心引。服五劑。</p>
<p><u>補氣泄營湯</u></p>
<p>升麻　連翹（各六分）　蘇木　當歸　全蠍　川連　地龍　北耆（各五分）　黃芩（分半）　甘草（分半）　人參（二分）　生地（四分）　桃仁（五分）　桔梗（五分）　麝香（三釐）　桐淚（一分）　水蛭（三條）　虻蟲（三個）</p>
<p>上銼如麻豆大。去連翹。另銼梧桐淚。研白豆蔻二分。為細末。二味另放。麝香、虻蟲、水蛭、三味。為末。另放。外都作一服。水二大盞煎。酒一匙。入連翹煎至一盞六分。再入梧桐淚、白豆蔻二味。並麝香等三味。再上火煎一二沸。去渣。稍熱。早飯後午飯前服。忌酒油麵生冷硬物。活法機要云。先樺皮散從少至多。服五七日。灸承漿穴七壯。灸瘡愈再灸。再愈。三灸之後。服二聖散。泄熱祛血去邪戒房室。三年病愈。此先治其衛。後治其營也。試效方治段庫使用補氣泄營湯。此治營多於衛也。</p>
<p><u>解砒霜黴方</u>　（補）</p>
<p>米醋　芝麻油</p>
<p>生綠豆末。敷砒瘍患處作痛或腐潰。用濕泥頻塗換之。若毒入胸膈苦楚。或作吐泄。飲米醋三杯。即止。多少不妨。或生綠豆。芝麻油俱可。</p>
<p><u>解雄黃毒方</u>（補）</p>
<p>敷貼雄黃藥悶亂或吐泄。用防己煎湯解之。</p>
<p><u>解川烏草烏毒方</u>（補）</p>
<p>大豆　遠志　防風　甘草</p>
<p>蓋中其毒者。悶亂流涎。或昏憒嘔吐。或出血吐血。仍用四味煎湯解之。未應。用生薑汁甘草解之。</p>
<p><u>解巴豆毒方</u>（補）</p>
<p>生川連</p>
<p>敷貼巴豆之藥。患處作痛。肌肉潰爛。用水調末敷之。若毒入內。吐泄頻作。急以水調二錢飲之。或赤小豆菖蒲汁可。</p>
<p><u>解藜蘆毒方</u></p>
<p>敷貼。毒入內。急煎生蔥湯解。</p>
