<header data-type="book">
<h1>病機沙篆</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="李中梓">李中梓</data>撰，<data value="尤乘">尤乘</data>增輯</dd></div>
<div><dt>年份</dt><dd><data value="1667">公元1667年</data></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>一、中風</h2>
<p>類中、中寒、中氣、中食、中暑、中熱</p>
<p>風之為言中也，肥人氣居於表，中氣必虛，土不生金，金氣漸薄，肝無所畏，風木乃淫，復來乘土，中氣益敗，乘其中虛，外邪襲之，則為真中。西北方風高，往往有之。若但因中虛，不犯外邪，則為類中。東南方柔弱，往往有之。</p>
<p>《內經》曰：風者百病之長。又曰：風者善行而數變。故客於脈，則為厲風；客於臟腑之俞，則為偏風；風氣循風府而上，則為腦風；自腦戶而合於太陽則為目風；飲酒見風汗出，則為漏風；入房汗出當風，則為內風；入於腸胃，則為腸風；外客腠理，則為泄風。正風、邪風，各不相同。經云：正風者，從一方來。即合時之正者也。其中人也淺，合而自去。邪風者，沖後來者也。謂之虛邪賊風。其中人也深，不能自去。</p>
<p>經曰暴疾卒死，皆屬於火。東垣以卒然昏僕責之氣虛。蓋火即氣、氣即火，同物而異名者也。當卒僕之時，以竹瀝薑汁灌蘇合香丸或三生飲加人參、竹瀝、薑汁灌之。如抉口不開，進藥且緩，以細辛、皂角為末，吹鼻取嚏即蘇；無嚏者不治。痰涎壅盛者，宜與吐之。用牙皂四枚、明礬一兩，各為細末和勻。輕者五分、重者三字，溫水調灌，此名稀涎散。服之不大嘔吐，但微微令涎自口角流出即醒。或橘紅一斤，煎湯數碗，多灌取吐。</p>
<p>口開心絕，手撒脾絕，眼合肝絕，遺尿腎絕，聲如鼾者肺絕。此虛極而陽脫也。五症不全見者，速以大劑參、耆、朮、附，並急灸臍下關元、氣海，可救十中之一。</p>
<p>髮直吐沫、搖頭上攛、面赤如妝、汗出如珠，皆死症矣。</p>
<p>經曰：虛邪客於身半其入深，……榮衛稍衰，則真氣去，邪氣獨留，發為偏枯。又曰：身偏不用而痛，言不變、志不亂，病在分腠之間。……益其不足，損其有餘，乃可復也。即中腑症。名曰痱之為病也，身無痛處，但四肢不收，志亂不甚，其言微知，可治；甚則不能言，不可治也。即中臟症。外有六經形症，則以小續命湯加減及疏風湯治之。小續命亦麻黃桂枝之變，麻桂二湯施於溫熱之症，必致殺人，不可執也。後列。</p>
<p>太陽經，無汗惡寒者，麻黃、防風、杏仁、甘草；有汗惡風者，桂枝、防風、芍藥、甘草。陽明經，無汗身熱不惡寒者，白芷、石膏、知母、甘草；有汗身熱不惡風者，葛根、桂枝、黃芩，甘草。如在太陰經則無汗身涼，乾薑、附子、麻黃，防風。少陰經則有汗無熱，桂枝、附子、甘草、麻黃、杏仁、防風。若無此四經之症，或在少陽、厥陰，柴胡、防風、羌活、甘草、連翹。如上症真中者，分表裡施治，而在裡者，則便溺阻隔，宜三化湯，枳實、厚朴、羌活、大黃；若表裡俱見者，先與解表而後攻裡；若外邪已解內邪已除，而語言蹇澀、半身不遂，未能即愈，以六君子湯加羌、防、歸、地、芍藥、秦艽久久服之，營衛自和，即古所云大藥是也。再加麻黃即一旬之微汗，加大黃即一旬之微利。如望春大寒之後，加半夏、人參、柴胡、木通，迎而奪少陽之氣也；如望夏穀雨之後，加石膏、知母、黃芩，迎而奪陽明之氣也；如季夏濕土主令，加防己、白朮、茯苓，勝脾土之濕也；如望秋大暑之後，加厚朴、藿香、官桂，迎而奪太陰之氣也；望冬霜降之後，加桂、附、當歸，勝少陰之寒也。</p>
<p>治風之法不過解表、攻裡、行中道，三法盡矣。然風氣不齊，稟賦各別，七情異起，六氣殊傷，活法處治，不可膠執也。</p>
<p>古人用牛黃丸、至寶丹、活命金丹，品類皆辛香走竄，為斬關奪門之將，原為中臟之閉症設也。牛黃入脾治肉，麝香入腎治骨，冰片入肝治筋，此惟邪氣深入者乃為出矣。若施之於中腑、氣虛脫絕之症，反掌殺人，如人既入井而又下石，安得不立斃乎。</p>
<p>類中之症，其卒倒偏枯，語言蹇澀，痰涎壅盛，皆與真中風相類，故曰類中，但無六經形症為異耳。此惟中氣虛憊，故虛風內煽所致。東垣主虛誠為合論。河間主火、丹溪主痰，其言各殊。而不知其虛也，故無根之火發焉；惟其虛也，故逆上之痰生焉。東垣舉其本，河間、丹溪道其標，似異而實同也。心火，涼膈散；肝火，小柴胡湯；水虛火炎，六味地黃湯。類中之卒倒偏枯，症類雖有多種，總由真氣不周充，血液因而逆泣也。參、耆君之，歸、地佐之，更以秦艽，茯神、竹瀝、人乳、薑汁、梨汁最為穩當。</p>
<p>凡治中風須分陰陽。陰中者，其色青，或黑或白，痰喘昏迷，眩冒多汗，甚則手足厥冷；陽中者，面赤唇焦，牙關緊急，上視強直，掉眩煩渴。凡人大指次指麻木不仁，三年之內必患中風，須預防之。宜慎起居、節飲食、遠房幃、調性情，更以十全大補湯加羌活，久久服之，經歲不輟，則潛移默奪，弭災卻疾矣。若用古法天麻丸、愈風丹開其玄府、漏其真液，適足以招風取中耳，預防云乎哉。</p>
<p>口噤不開　足陽明頷頰之脈偏急，則口噤不能開，肝風乘胃故也。皂角、乳香、黃耆、防風，煎湯熏之。須大作湯液，如蒸如霧乃得力耳。再以南星、冰片為細末，擦其牙根；或藜蘆、鬱金為末，搐鼻；或明礬一兩、飛鹽五錢，研勻擦牙，又可將錢許棉裹安牙盡處。又法：甘草五寸，截作五段，麻油浸透火炙，抉口令人咬之，約人行十里許，又換一截，從此灌藥為便。</p>
<p>口眼喎斜　耳鼻常靜，故風息焉；口鼻常動，故風生焉。風搖則血液衰耗無以榮筋，故筋脈拘急、口目為僻、眥急不能卒視。人參、黃耆、當歸、白芍、升麻、秦艽、葛根、防風、鉤藤、紅花、蘇木，水煎和酒服；外用桂枝三兩，酒煎濃汁，以故布浸之，乘熱左歪搨右、右歪搨左；再以乳香二兩、皂角一兩銼拌勻，燒煙燻之。</p>
<p>語言蹇　澀經曰：足太陰之脈，連舌本，散舌下。病則舌本強。又：足少陰之直者，挾舌本。又曰：內奪而厥則為喑俳。又腎脈之氣不上循喉嚨挾舌本，則不能言。用地黃飲子（地黃、巴戟、蓯蓉、茱萸肉、桂枝、附子、薄荷、麥冬、五味、茯苓、菖蒲、遠志、石斛）。脾土不足，痰涎壅盛，言蹇澀者，六君子湯加南星、木香、乾葛、枳實、遠志、竹茹；挾熱者，山梔、連、芩、花粉、薄荷。</p>
<p>四肢不舉耳其　其脈緩大有力者，土太過也，平胃五苓散主之；其脈細小無力者，土不及也，補中益氣湯主之。隨症加減：身體疼痛，挾濕熱者，當歸拈痛湯，羌、防、升、葛、知、茯、草、豬、澤、茵陳及苦參、人參、二朮、當歸、並湯名拈痛有奇勳。挾寒者，鐵彈丸，乳、沒各一兩、烏頭泡去皮、靈脂酒淘淨，加麝、薄荷宜。挾虛者，十全大補湯加秦艽。身重，氣虛也，補中八味治之。周身盡痛者，蠲痹湯，歸、芍、薑、黃與羌活、甘草、黃耆、薑、棗煎。身重之症，時師止知燥濕，而不知補虛，按《素問·示從容論》篇歷言肝虛、腎虛、脾虛皆令人體重煩冤。是以身重乃虛症也，不止於濕可盡耳。</p>
<p>痰涎壅盛　星香、二陳為主，蓋治痰以順氣為先，挾虛者加參、耆、竹瀝；挾寒者桂、附、薑汁。養正丹鎮安元氣、下墜痰涎，實者星香湯送下、虛者六君子湯送下。</p>
<p>遺尿不禁　脾虛下陷者，補中益氣湯加益智；腎虛不能收攝者，地黃飲子合參麥散。</p>
<p>善飢多食風木太過，凌虛中州，脾土受攻，求助於食，法當瀉肝安脾，則復其常矣。青皮、芍藥、柴胡、山梔、人參、白朮、甘草、茯苓。更當隨時審症而為之變通也。</p>
<p>神氣昏冒　痰涎逆衝於上，心主被障，故昏不知人。此係中臟而非中腑，閉症而非脫症，宜牛黃丸清心肺等治之。人參、麥冬、茯神、膽星、山藥、白朮、甘草、羚羊角、犀角、雄黃、硃砂、牛黃、冰、麝、金箔、大棗，打膏加蜜為丸；或至聖保命丹，管仲一兩，生地七錢，大黃五錢，青黛、板藍根各三錢，硃砂、雄黃、川鬱金、薄荷各一錢五分，珍珠、冰片各一錢五分，麝一錢，煉蜜丸，金箔為衣；煎方宜六君子湯加南星、木香、菖蒲、遠志肉、竹瀝、薑汁服之。又有厥逆昏迷，因醉飽過度而得，名曰食中，莫作中風中氣治之。外治急救涎潮方：凡男婦卒然中倒、涎潮於心、不省人事，當時即扶入室中，令其正坐，用好醋斤許焠入炭火中熏之，令其氣入口鼻，其涎自歸經，其人漸醒。切不可用薑湯及滴水入口，如水一入，逆其痰涎，永繫於心，成痼疾矣。</p>
<p>史國公酒方：治左癱右瘓、四肢頑麻、骨節痠痛，一切寒濕風氣及腎虛足膝無力，並宜服之。當歸、羌活、虎脛骨、防風、鱉甲、秦艽、萆薢、牛膝、杜仲、蠶砂各二兩，枸杞一面，白茄根八兩，無灰酒一斗，絹袋盛藥入酒浸十日，重湯煮三香，又窨五日，服之無間，頗收效驗。</p>
<p>中寒之症，相似中風，比之傷寒更為深重。身體強直，或口噤戰慄，甚則厥逆無知，先以薑汁、好酒或加冰、麝灌之。如輕用麻黃、蒼朮、枳、樸、薑、桂或薑汁湯；重則薑汁湯並以艾灸丹田穴。腹中痛加木香，筋急加木瓜。凡中寒之人，先宜與溫水，若遽與熱水及近火，即死。</p>
<p>中氣　七情所傷，氣逆痰潮，卒然昏僕，與中風相類。但中風身溫多痰涎、脈浮應人迎；中氣身冷無痰涎、脈沉應氣口。以氣藥治風則可，風藥治氣則不可。急以蘇合香丸灌之，候蘇，用八味順氣散，白朮、茯苓、人參、甘草、青皮、陳皮、烏藥、白芷，加香附、薑、棗，或木香調氣散。有痰者，星香散。如其人本虛，痰氣上逆、關格不通，宜養正丹，水銀、硃砂、鉛、硫四味等分，用鐵器熔鉛，入水銀以柳木杵和勻，次下硃砂，再和勻，不見星入硫，急研成汁，有焰用醋灑之，候冷細研，糯米糊丸如綠豆大。若作中風治之誤矣。經曰：無故而喑，脈不至者，不治自已。謂氣暴逆也，氣復自愈。當與厥症互看。如因風寒者，藿香正氣散，白芷、茯苓、紫蘇、腹皮、藿香、厚朴、白朮、半夏、陳皮、桔梗、甘草、薑、棗煎服。</p>
<p>中暑　因在暑月，其症卒暴，面垢，冷汗出，手足微冷，昏暈，或吐或瀉，或喘或滿，以來復丹治之。硝石同硫一面為末，入磁器內，微火熔，柳條攪，用火不可太旺，恐傷藥力。再研極細，名曰二氣丹。加太陰玄精石（水飛）、五靈脂（水飛）、青皮、橘紅各二兩。先用青皮、橘紅、靈脂為末，次入玄精及二氣末，好醋打糊為丸如豌豆大，每服三十丸。或蘇合丸，用白朮、犀角、木香、香附、檀香、沉香、硃砂（水飛）、訶子（煨去皮）、麝香、丁香、蓽茇、安息（用酒熬膏）、龍腦、熏陸香（另研）、蘇合油各一兩，上除安息膏、蘇合油煉蜜和劑，其餘共為末，丸如茨子大，以蠟固匱。用時取出，湯調灌之即蘇。稍蘇，再以香薷、扁豆、厚朴、陳皮煎服。此症外陽而內陰，故用辛溫，取其通竅也。</p>
<p>中熱僵仆　勿與涼水及涼物，如寒氣一逼即死，須安置於近日暖處，取路上熱土，放其臍上作窩，令人溺尿於中；或用大蒜研爛，同熱土為湯，去渣灌之，或將日曬熱瓦熨其心腹及臍下。勞役動作之人多得之。</p>
<p>中暑靜而逸者得之，陰症也，頭疼惡寒、拘急、肢節痛、煩心無汗、無大熱，宜大順散，乾薑、甘草、杏仁、厚朴、香薷；動而得之為中熱，陽症也，身熱煩燥惡熱、大渴多汗、無氣以動，宜蒼朮白虎湯，蒼朮、石膏、知母、甘草、粳米。虛人以補中益氣湯為主。虛人有房勞者，禁香薷。</p>
<p>中暑忽然不省人事，宜灸百會、中脘、三里、脾俞、合谷、人中、陰谷、三陰交斟酌用，或針亦可。</p>
<p>冒暑大熱、霍亂吐瀉，百勞、委中、合谷、曲池、三里、十宣等穴，酌選針灸。</p>
<p>左右癱瘓、痹厥偏枯、半身不遂、筋攣痰涎，針用肩髃、合谷、曲池、環跳、風市、足三里、絕骨、崑崙、陽陵泉。</p>
<p>中風痰涎壅盛、聲如牽鋸、服藥不下者，宜灸關元、丹田二穴，多灸之為妙。</p>
<p>忽然中風，不知人事，宜以十宣穴出血即醒。乃十指頭端並穴。</p>

<h2>二、虛勞</h2>
<p>（咳嗽吐血、傳屍瘵症）</p>
<p>黃帝曰：陽虛則外寒，……不知其所由然也。岐伯曰：陽受氣於上焦，以溫皮膚分肉之間，今寒氣在外，則上焦不通，上焦不通，則寒氣獨留於外，故寒慄。帝曰：陰虛生內熱奈何？岐伯曰：有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通。胃氣熱，熱氣熏胸中，故內熱。帝曰：陽盛生外熱奈何？岐伯曰：上焦不通利，則皮膚緻密，腠理閉塞，玄府不通，衛氣不得泄越，故外熱。帝曰：陰盛生內寒奈何？岐伯曰：厥氣上逆，寒氣積於胸中而不瀉，不瀉則溫氣去，寒獨留，則血凝泣，凝則脈不通，其脈盛大以澀，故中寒。</p>
<p>夫人之生也，陰血為營，陽氣為衛，二者運行而無壅滯，病安從生。若力用不休，則龍雷二火逆僭至高，故勞字從火。曲運神機則心勞，而為虛汗怔忡；縱情房室則腎勞，而為骨蒸遺泄；恣睢善怒則肝勞，而為痛痹拘攣；形冷悲哀則肺勞，而為上氣喘嗽；動作傷形，思慮傷意則脾勞，而為少食多痰、形羸神倦。故勞者必至於虛，虛者必因於勞。</p>
<p>古稱五勞、七傷、六極、二十三蒸，症狀繁多，令人眩惑，但能明先天后天根本之治，無不痊安。蓋簡而不煩，約而無漏者也。夫人之虛非氣即血，五臟六腑莫能外焉。然血之源頭在乎腎，蓋水為天一之元，而人資之以為始者也，故曰先天；氣之源頭在乎脾，蓋土為萬物之母，而人資之以為生者，故曰後天。二臟安和，則百脈受調；二臟虛傷，則千疴競起。至哉斯言，可為後學司命之指南也。</p>
<p>土為金母，而金為主氣之官，故肺氣受傷者，必先求助於脾家；水為木母，而木為藏血之地，故肝血受傷者，必由藉資於腎府。虛勞之症，扶脾保肺兩不可缺，然脾之性喜溫喜燥，而溫燥之劑不利於保肺；肺之為性喜涼喜潤，而涼潤之劑不利於扶脾。兩者並列而論，脾有生肺之能，肺無扶脾之力，故曰土壯而生金，勿拘拘於保肺。瀉火之亢，以全陰氣；壯水之主，以鎮陽光，法當並行。然瀉火之品，多寒而損陽氣；壯水之劑，多平而養陰血。兩者並列而論，苦寒過投，將有敗胃之憂；甘平恆用，卻無傷中之患。故曰水盛而火自熄，勿亟亟於寒涼。症如煩渴、喘呼、脈見數大有力，當潤肺為主而扶脾佐之；症如食少、善泄、脈見細數無力，當扶脾為主而保肺佐之，甚則保肺之劑不利於脾，當盡去之，卻宜補土之母庶可冀其回春。全在明辨其症之何如，變通以治之可也。</p>
<p>春夏之令主生長，秋冬之令主肅殺，人皆知之。殊不知藥之溫者，行天地發育之德；藥之寒者，象天地肅殺之刑。如四物加知柏，舉世奉為滋陰上品、降火神丹，不知秋冬之氣，非所以住萬物者也。涼血之藥常膩滯，非痰多食少者所宜；涼血之藥常滋潤，必至滑滯腸鳴。況知、柏苦寒，苦先入心，久而增氣，反能助火。至於滑泄敗胃，所不待言。丹溪云：實火可瀉，虛火可補。試問勞症之火，屬之虛乎？屬之實乎？瀉之可乎？昔有云：畏知柏如鳩毒，恐伐吾命根耳。如病初起而相火正隆，或燥渴而右尺滑大，亦暫投之卻無妨也，若久用之則斷乎不可。或問：血主濡潤，四物湯豈非濡潤而為血虛者之要藥乎？答曰：血虛而燥用四物以濡之，未嘗非合劑也，但恐用之久而多，則在上有泥膈奪食之憂，則在下有滑腸泄瀉之患。且主秋冬之令，鮮發育之功也。或問：氣有餘便是火，補氣之藥能無助火乎？古云：正氣與邪氣原不兩立，猶低、昂然，一勝則一負，正氣旺則邪氣無所容，如滿座皆君子，一小人自無容身之地。</p>
<p>或問：人參補氣，至王好古言其肺熱傷肺，至節齋謂虛勞症服參者必死，天下皆稱人參有毒，視參如蠍，其說是否？答曰：肺家本經有火，右寸大而有力，東垣謂熱鬱在肺者勿用。若肺虛而虛火乘之，肺已被傷，苟非人參，何以救之乎？故好古之說猶為近理，節齋之言膠柱鼓瑟，千古之罪人也。至謂人參有毒，庸俗多有是言，不知誰為作俑，真堪噴飯。</p>
<p>或問：血虛自應補血，專以氣藥為主，得無左乎？答曰：血虛應投血藥，乃為正法，但專用多用，中州有礙。至於以氣藥為主，似乎相左，不知《素問》無陽則陰無以生，仲景曰身熱、亡血、身涼、脈凝、血虛，並加人參。蓋血脫者須益氣，為血不自生，須得陽和之藥乃生，陽生而陰長也。若只用血藥，則血無由而生矣。東垣云：人參甘溫補脾，脾氣旺則四臟之氣皆旺，精自生而形自盛也。白飛霞雲：人參多服，回元氣於無何有之鄉。凡病後氣虛及肺虛喘嗽者，並宜用之。若氣虛有火，宜與麥冬同服。楊起云：人參功載《本草》，人所共知。古方治肺寒以溫肺湯，肺熱以清肺湯、中滿分消湯，血虛養營湯，皆用人參，庸醫每謂人參不可輕用，誠哉庸也。自《本經》以至諸家諄諄言之，以氣藥有生血之功，血藥無益氣之理。可謂詳切著明，奈何人不悟耶。</p>
<p>人有先後二天，補腎補脾，法當並行。然以甘寒補腎恐妨脾氣、以辛溫快脾恐妨腎水，須衡其緩急而為之施治。或滋腎而佐以沉香、砂仁，快脾雜以山藥、五味，機用不可不活也。脾具坤順之德而有乾健之運，故遊溢精氣，上輸於肺，通調水道，下輸膀胱，水精四布、五經並行，則水源從此沃矣。且脾不下陷則精氣固而二便調，俾少陰奉之，得以全閉蟄封藏之本，故脾安則腎愈安矣，此許學士所以補腎不如補脾之說也。腎兼水火，水不挾肝上浮而陵卑監；火能益土善運而奉精微，故腎安而脾愈安矣，此孫思邈所以有補脾不若補腎之說也。此兩說者，皆有見於根本重地，亟有提防，特為虛家設一大炬也。</p>
<p>五臟之熱，各自不同。肺熱者，輕手即得，略重全無，肺主皮毛也。日西尤甚。其症喘咳灑淅、善嚏善悲，缺盆痛、胸中痛、肩背痛、臂痛、臍右脹痛，小便頻數，皮膚痛及麻木。實則夢兵戈，虛則夢田野。實則瀉之，桑皮、葶藶、枳殼、蘇子、防風之屬；虛則補之，人參、黃耆、麥冬、五味、茯苓、山藥、百合、紫苑之屬；形寒飲冷則傷肺，溫之以乾薑、款花、木香、豆蔻之屬；涼之以沙參、元參、知母、貝母、黃芩、山梔、花粉、兜鈴之屬。</p>
<p>心熱者，微按之皮毛之下、肌肉之上乃得，加力按之則全不熱，心主血脈也。日中尤盛。其症煩心心痛，掌中熱而噦，善忘、善笑、善驚，不寐，築築然動，舌破，消渴，口苦，心胸間汗。實則夢驚、憂、怖、恐；虛則夢煙火、焰火。虛則補之以丹參、圓眼、茯神、麥冬、當歸、山藥；實則瀉之以黃連。憂愁思慮則傷心，溫之以桂心、益智、菖蒲、柏子仁；涼之以犀角、牛黃、竹葉、硃砂、連翹。</p>
<p>脾熱者，輕手固不熱，重按亦不熱，熱在不輕不重之間，脾土主肌肉也。遇夜尤甚。其症怠惰嗜臥，四肢不收，無氣以動，泄瀉便秘，面黃，舌強痛，口甘，吐逆不嗜食、不化食，搶心，善寐善飢善噫，當臍痛，腹脹腸鳴，肉痛足腫。實則夢歡歌快樂，虛則夢飲食相爭。飲食勞倦思慮則傷脾，虛則以人參、黃耆、白朮、茯苓、甘草、山藥、扁豆、苡米、陳皮補之；實則以蒼朮、厚朴、枳實、山楂、青皮、檳榔、大黃、芒硝瀉之。薑、附、丁、桂溫之；元明粉、石膏、滑石、黃芩涼之。</p>
<p>肝熱者，按之肌肉之下、筋骨之上乃得，肝主筋也。寅卯時尤甚。其症多怒多驚，便難，轉筋攣急，四肢困熱，滿悶，筋痿不能起，頭痛耳聾，頰腫面青，目痛，兩脅痛，小腹痛，嘔逆作酸，睪疝，冒眩，善瘛。實則夢山林大樹，虛則夢細草苔蘚。阿膠，山藥、棗仁、木瓜補之；青皮、芍藥、柴胡、龍膽、青黛、黃連、木通瀉之。怒則傷肝，木香、肉桂、吳茱萸溫之；甘菊、車前。山梔、柴胡、黃芩涼之。</p>
<p>腎熱者，輕手捫之不熱，重按至骨乃熱，亥子時尤甚，腎主骨也。其症腰膝脊俱痛，耳鳴遺泄，二便不調，骨痿不能起，眇中清，目昏，面黑，口乾，咯血，飢不欲食，腹大脛腫，臀股後痛，小腹氣逆下腫，腸澼，陰下濕癢，手指青黑厥逆，足下熱，嗜臥，坐而欲起，善怒，四肢不收。實則腰脊解軟，虛則夢泄及渡水恐懼。地黃、枸杞、桑螵蛸、龜版、山藥、山萸、牛膝、杜仲、五味子補之；澤瀉、知母瀉之。肉桂、附子、補骨脂、肉蓯蓉、鹿膠、沉香溫之；知母、黃柏、丹皮、骨皮涼之。強力坐濕則傷腎，腎傷須重補之，骨碎補、補骨脂、虎脛骨、何首烏、地黃之屬。</p>
<p>經曰：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，其傳為息賁者，死不治。三陽為病發寒熱，下為癰腫，及為痿厥腨㾓，其傳為索睪，其傳為頹疝。一陽發病，少氣善咳善泄，…其傳為膈。二陽謂足陽明胃、手陽明大腸也，二陽之病發心脾，心在上焦，病則不利，故不得隱；脾在中焦，病則脹滿，故不得曲。然心為生血之元，脾為運化之府，若在女子必不月。奚不月？經水不下也。傳曰：九傳變也，言土病日久則木必乘虛而克賊之，脾土日虧而肌肉日見消削，故名風消。心病日久則傳於肺，金受火邪則息氣不利而奔迫，故名息賁。脾土虛而受木克，心火盛而克肺金，皆不治之症矣。三陽謂手太陽小腸。足太陽膀胱也，為病不發於他臟，自為寒熱也。小腸為丙火，膀胱為壬水故耳。水病則凝結，火病則糜爛，故下為癰腫也。無力為痿，逆冷為厥。腨，足腹也。㾓，痠疼也。其傳為索睪，睪，腎丸也，索引丸而痛也。頹疝者，頑大而不疼也。一陽謂手少陽三焦、足少陽膽也，二經病發皆是火，火盛則少氣，金虛則咳作也。膈，塞也，上焦不行，下脘不通，鬲塞於中，故名膈也。</p>
<p>經曰：春夏則陽氣多而陰氣少，秋冬則陰氣盛而陽氣衰。……以秋冬奪於所用，下氣上爭，不能復，精氣溢下，邪氣因從之而上也。下氣，身半以下之氣；上爭者，陽搏陰激也，身半以下之氣亦引而上爭；不能食，謂不能復歸其經也；溢下者，陰精之氣湧溢泄出；而上，因中部氣衰從之而上乘其虛，故奪也。氣因於中，陽氣衰，不能滲其經絡，陽氣日損，陰氣獨在，故手足為之寒也。四肢諸陽之本，衰則俱衰，故合手足為寒厥也。岐伯曰：酒入於胃，則絡滿而經脈虛，脾主為胃行其津液者也，陰氣虛則陽氣入，陽氣入則胃不和，胃不和則精氣竭，精氣竭則不營其四肢也。陰，五臟之陰。陽，四肢之陽。陰氣竭，五臟之陰竭也。此人必數醉若飽以入房，氣聚於脾中不得散，酒氣與穀氣相搏，熱盛於中，故熱遍於身內而溺赤也。夫酒氣盛而慓悍，腎氣有衰，陽氣獨勝，故手足為之熱。慓悍，強暴也；腎氣，陰氣也。岐伯曰：皮毛者，肺之合也，皮毛先受邪氣，邪氣以從其合也。邪，寒邪也。其寒飲食入胃，由肺脈上至於肺則肺寒，肺寒則外內合邪因而客之，則為肺咳。所云形寒飲冷則傷肺也。五臟各以其時受病，非其時各傳以與之。如春肝用事則肝先受邪，若是寒邪則傳以與肺。肺咳之狀，咳而喘息有音，甚則唾血。心咳之狀，咳則心痛，喉中介介如梗狀，甚則咽腫喉痹。肝咳之狀，咳則兩脅下痛，甚則不可以轉，轉則兩胠下滿。脾咳之狀，咳則右脅下痛，陰陰引肩背，甚則不可以動，動則咳劇。腎咳之狀，咳則腰背相引而痛，甚則咳涎。五臟之久咳，乃移於六腑。脾咳不已，則胃受之，胃咳之狀，咳而嘔，嘔甚則長蟲出。肝咳不已，則膽受之，膽咳之狀，咳嘔膽汁。肺咳不已，則大腸受之，大腸咳狀，咳而遺矢。心咳不已，則小腸受之，小腸咳狀，咳而失氣，氣與咳俱失。腎咳不已，則膀胱受之，膀胱咳狀，咳而遺溺。久咳不已，則三焦受之，三焦咳狀，咳而腹滿，不欲食飲，此皆聚於胃，關於肺，使人多涕唾而面浮腫氣逆也。三焦者，人身上、中、下元氣之所在，其氣即火，故名三焦。久咳不巳，則傷其元氣而邪受之，故咳而腹滿不欲食。所以然者，三焦火衰不能生胃土也。土虛則三焦虛，邪皆入於胃。而萬物歸土之義關於肺者，言關係於肺也。土虛而不能制水，故多涕吐；肺衰則不能施降下之令，故面目浮腫而氣逆也。</p>
<p>張仲景曰：五勞虛極羸瘦，腹滿不能飲食，食傷、憂傷、飲傷、房室傷、飢傷、勞傷、經絡營衛氣傷，內有乾血，肌膚甲錯，兩目黯黑，緩中補虛，大黃䗪蟲丸主之。大黃、䗪蟲、桃仁、乾漆、虻蟲、水蛭、蠐螬以破瘀；地黃、芍藥以潤其乾燥；甘草緩中；黃芩、杏仁利肺，蓋肺主行營衛陰陽者也，肺氣利則乾血去而營衛行，營衛行則肌肉充而虛勞補矣。按虛勞發熱未有不由七情之內傷者，人之起居飲食之間，一失其節，即有所傷，何況拂逆心志、鬱結暴怒，豈無血畜耶？故以滋潤之品治乾枯，以啖血之物行死血，死血既去、病後可從事於滋補。仲景為醫方之祖，不可不繹其言也。</p>
<p>《活法機要》云虛損之疾，有寒有熱，皆因虛而感也。感寒則損陽，陽虛則陰盛，故損自上而下。一損損於肺，故皮聚而毛落；二損損於心，故血脈虛衰，不能營養臟腑，女人則月水不行；三損損於胃，故飲食不為肌膚。治之宜以辛甘淡。感熱則損陰，陰虛則陽盛，故損自下而上。一損損於腎，故骨痿不能起於床；二損損於肝，故筋緩不能自收持，三損損於脾，故飲食不能消化也。按心肺損則色弊，肝腎損則形痿，脾胃損則穀不化也。如肺損而皮聚毛落者宜益其氣，四君子湯；心肺俱損，皮聚毛落而血脈虛耗，宜益氣和血，八珍湯；心肺胃俱損，飲食不為肌膚，十全大補湯；腎損骨痿者宜益精，金匱丸；肝損筋緩宜緩中，牛膝丸；肝腎脾俱損，益精緩中消穀，溫腎丸；陽盛陰虛，肝腎不足，宜八味丸；瘦弱困倦，未辨陰陽，夏月宜六味丸，春秋宜加減八味丸，冬月八味丸。</p>
<p>肺熱鼻乾，紫菀、二冬、烏梅等；皮膚熱舌白吐血，桑皮、石膏；肌膚熱昏寐嗜臥，丹皮、骨皮；氣熱喘促鼻乾，人參、黃芩、桅子；大腸熱右鼻孔干痛，芒硝、大黃等；脈熱吐血，經絡脈溢，緩急不調，生地、當歸；心熱舌乾，生地、黃連；血熱發焦，地黃、當歸、桂心、童便；小腸熱下唇焦，木通、赤茯、生地；脾熱上下唇俱焦，芍藥、木瓜、苦參；胃熱食無味而嘔、煩躁不安，芍藥；口熱舌下痛，石膏、竹葉、大黃、芒硝、葛根、粳米；肝熱眼黑，川芎，生地、前胡；筋熱甲焦，生地黃、川芎；膽熱眼白失色，柴胡、栝蔞；三焦熱乍寒乍熱，煨石膏、竹葉；腎熱兩耳焦，石膏、知母、生地、元參；腦熱頭眩悶暈，羌活、防風、荊芥、地黃、薄荷、甘菊；髓熱骨髓中沸熱，二冬、鱉甲、生地、骨皮、元參、知母、當歸；骨熱齒黑、腰痛足冷、疳蟲蝕臟，骨皮、鱉甲，生地、當歸；肉熱肢細趺腫，臟腑俱熱，石膏、黃柏；胞熱小便黃赤，生地、滑石、木通、茯苓、燈草；膀胱熱左耳焦，澤瀉、茯苓、滑石。《玄珠》云：一水既虧，不勝五火，虛症蜂起，當先和解微下，次則調補。若邪氣未除，便行補劑，邪入經絡，良可嘆也。惟無邪無積之人，按脈無力者，方可補之。</p>
<p>陳藏器諸虛用藥例：虛勞頭痛身熱，枸杞、萎蕤；虛而欲吐，人參、萎蕤；虛而不寧，人參、茯神；虛而多夢，龍骨、人參、圓眼；虛而多熱，地黃、甘草、牡蠣、地膚子；虛而冷，川芎、當歸、乾薑；虛而損，巴戟、蓯蓉、鍾乳；虛而大熱，天冬、黃芩；虛而多忘，遠志、茯神；虛而口乾、麥冬、知母；虛而吸吸，柏子仁、胡麻、覆盆子；虛而驚怖，龍齒、沙參、小草；若兼冷，紫石英、小草；虛而多氣兼微咳，五味、大棗；虛而客熱，沙參、龍齒、天冬；虛而腰間不利，杜仲、狗脊、磁石；虛而多冷，桂、附；虛而小便赤，黃芩；虛而有痰復有氣，半夏、陳皮；虛而便失，龍骨、桑螵蛸；虛而溺白，厚朴；虛而小便不利，人參、茯苓、澤瀉；髓竭，地黃、阿膠、當歸、枸杞；肺虛，二門冬、五味；心虛，人參、茯神、菖蒲、圓眼、丹參、棗仁、當歸；肝虛，川芎、天麻、當歸；脾虛，白朮、白芍、山藥、益智；腎虛，熟地、丹皮、遠志；膽虛，細辛、地榆、棗仁；神昏，硃砂、茯神。</p>
<p>五臟雖皆有勞，心腎為多。心主血、腎主精，精竭血枯則勞成矣，惟宜滋養培補，調心益腎。雄、附之性峻烈，內乏精血，何堪當此。雖云壯火適足以發其虛陽，然又不可因其熱而純用寒涼以傷胃氣。若過用熱藥者，猶釜中無水而進火也；過用寒涼者，猶釜下無火而添水也，非徒無益而反害之。宜十全大補湯、養榮湯、建中湯皆可選用。如左尺獨虛者，六味丸壯水之主以制陽光；右尺不足者，八味丸益火之元以消陰翳。</p>
<p>丹溪之論勞瘵主乎陰虛，未嘗非也。陰虛之熱，以其在午後子前，諺云朝涼暮熱也。陰虛則汗從寐時盜出也；陰虛無以制火，則火氣逆上，喘嗽而吐痰也；陰虛則脈浮大或沉虛也。四物湯加黃柏、知母主之。以四物補血，血為陰；又以知、柏降火，理固然也。不知後人以此概施，多致夭枉，不察變通而累丹溪也。蓋川芎上竄，非火炎者所宜；地黃膩滯，非痰多食少者所宜；知母易於滑腸，黃柏易於敗胃，暫投猶可，久用必傷。予今制一主方，以苡米、茯苓扶胃，且切降下之功；以桔根、陳皮行氣，且有健脾之力；麥冬、五味保肺而有滋化之原；骨皮、丹皮除蒸而無寒涼之害；痰喘以桑皮、川貝；止血以童便、藕汁；泄瀉以山藥、蓮肉；燥結以人乳、犁汁。此以甘涼之品，行降收之令，為初病者設也。若久病而百脈空虛，虛火亢炎，非甘溫之品，不能復其真元，宜異功散是也；非濡潤之物，不能滋其枯朽，地黃丸是也。若少氣懶言、目昏面白，宜生脈散及甘桔湯頻頻啜之；若病久而結痰成積，腹脅常熱，惟頭面手足於寅卯時乍涼，宜六君子湯加薑汁、竹瀝送滾痰丸三錢，先以湯潤丸，令其易化，可分三次服，不得頓而過多。有面色不衰，肌膚不瘦，外若無病，內實虛傷，俗名桃花疰，須察其現在何症何臟受傷，而後治之。勞症久嗽咽痛失音，此乃下傳上也；不嗽不痛，溺濁脫精，此乃上傳下也，皆非吉兆。形色尪羸，陽事不禁，脈細無根，脈數無倫，死在旦夕矣。吐血分五臟：悲憂所致咳嗽吐血者，出於肺，二冬、二母、甘、桔主之；思慮所致痰涎帶血者，出於脾，石斛、生地黃、丹皮、甘草、陳皮、茯苓、黃耆、葛根主之；因驚所致而吐血者，出於心，丹參、生地、麥冬、當歸、山藥、茯神主之；因怒所致而吐血者，出於肝，柴胡、芍藥、山梔、生地、丹皮、當歸、沉香、棗仁主之；因房勞而咯血者，出於腎，生地、丹皮、黃柏、知母、阿膠、遠志、茯苓主之；因中氣失調，邪熱在中而嘔血者，出於胃，犀角、地黃、丹皮、甘草、元明粉主之。陽經之血色鮮紅，陰經之血色豬肝。血本屬陰，靜而定者其常也，其行則潛如水流，而在下者亦常也，上行外出其變也。七情妄動，形體疲勞，陽火相迫，以致妄行。脈洪、口渴、便結者，宜行涼藥；若使氣虛挾寒，陰陽不相為守，血亦妄行，必有虛冷之狀，蓋陽虛則陰亦走也，宜理中湯加木香、烏藥；若飲食傷胃，上逆吐衄，宜理中湯加香附、砂仁、山楂、神麯調之。</p>
<p>《內經》論，凡寒暑燥火六氣之變，皆能失血，各當求責，若不察其所因，例以寒折，變乃生矣。</p>
<p>吐血之初，多宜大黃下之。夫血以下行為順，上行為逆，蓋因曲而為直也。然又曰亡血虛家，切禁下之，何也？宜下者，下於畜妄之初。禁下者，禁於亡失之後。不可不明辨也。</p>
<p>積勞吐血及久病之餘，吐而多且不止者，並以獨參湯主之，血脫補氣之法也；如血從九竅齊出，亦脫也，以發灰、生薊汁、人參湯調服止之；或血溢及觸破被傷，遂如泉湧，惟用十全大補湯頻頻多服。</p>
<p>血症既久，古人多以胃藥收功，加烏藥、沉香、大棗，此虛家神劑也。氣有餘，便是火，血隨氣上，補水則火自降，順氣則血不升。生地、牛膝、丹皮，補水之藥也；橘紅、蘇子、沉香，順氣之藥也。童便者，濁陰歸下竅，兼有行血之能；藕汁者，達血使無滯，更有止澀之力。脈來沉實，腹痛中滿，必有瘀畜，紅花、桃仁、赤芍、玄胡、當歸、蓬朮、降香之屬。</p>
<p>怒傷肝木，則血菀於上，令人薄厥，沉香、木香、丹皮、青皮、芍藥之屬；勞傷心神，以麥冬、棗仁、柏仁、蓮心、茯神、遠志、丹參、竹葉之後；飲酒所傷，以葛根、白蔻、砂仁、側柏葉、茅花之屬；房勞所傷，以地黃、牛膝、枸杞、杜仲、人參之屬；血中有火，生地、丹皮、芩、連之屬。</p>
<p>止血分治：熱者涼之，以山梔灰、黃連灰、血灰；瘀者行之，以大黃灰、靈脂灰、漆灰、血灰；寒者溫之，乾薑灰、血灰；滑者澀之，棕櫚灰、荷葉灰；虛者補之，地黃灰、當歸灰、發灰之類。藥性不同，三七、鬱金行血中之氣；花蕊石能化瘀為水，側柏葉涼血中之熱；大、小薊行血中之滯；茅根導之下行；百草霜取其黑色，以制其紅而止之也。</p>
<p>傳屍勞者，鬼作蟲而為祟者也。凡人之元氣虛衰，或因弔喪問疾，登塚入廟，邪祟乘虛，憑依為患，漸至生蟲，蟲在身中，食人腑臟，五日一退，方其猖獗，神氣昏悶，無處不疼，其退則還穴，睡五日如蠶之眠也，病則乍靜，治之候其退睡時可也。一月之中，上旬十日，蟲頭向上；中旬十日，蟲頭向內；下旬十日，蟲頭向下。須在上旬治之，易為力也；中、下二旬，治之無功。先食人脂膏，故蟲色白，皮聚毛落肺受侵傷。七十日後，食人血肉，蟲色黃赤，肌肉損壞，枯索尪羸。百二十日後，血肉食盡，蟲色紫黑，食人精髓，腎敗骨痿。諸蟲日久遍身生毛，毛色五采，傳之三人即自能飛，狀如禽獸，品類甚多，出入自如，隱現莫測。大抵至食精髓，雖有良法亦不能治。經云：六十日治，十得七八；八十日治，十得三四；過此以往，焉保生全。惟當搜逐，為後日人除害耳。</p>
<p>傳屍之症，沉沉默默，無一而可，經年累月，漸就羸困，至於死亡。又傳旁人，乃至滅門，又傳他姓，慘毒之禍，聞者駭心。辨驗之法，須用乳香焚熏病者之手，令其仰掌，以帛覆之，熏之良久，手背生毛長至寸許，白而黃者可治，紅者則難，青黑者死。若熏之良久無毛者，非傳屍也，乃是尋常虛勞之症。又法，用燒安息令煙出，與病人吸之，嗽不止者乃傳屍也，不嗽者非傳屍也，嗽不甚者亦非也。</p>
<p>驅蟲方：室女頂門活發，洗去油垢，一兩，紙燃燒存性，川芎五錢，當歸五錢，木香、桃仁各三錢，安息香、雄黃各一錢，全蠍二枚，大黑魚頭一枚（醋炙），上為末，分作四服，每服以井水一大碗，於淨室中煎至七分，入降香末五分，燒北斗符入藥，月初五更空腹向北仰天咒曰：瘵神瘵神，害我生人，吾奉帝敕，服藥保身。急急如律令，咒五遍面北服藥畢，東面吸生氣入口腹中，燒降香置床下。午時又如前服藥唸咒。生氣，即太陽真氣也。</p>
<figure>
<img alt="北斗符式圖">
</figure>
<p>用黃紙一方，將新筆一支，淨水研硃砂，書此符。書時亦須念前咒，俟干，將火焚於湯藥中，面北唸咒服之，服畢向東吸太陽氣入口腹。</p>
<p>上依法服之，厚蓋取汗，汗中有細蟲，以軟絹拭之，即用火焚其絹。如大便，用淨桶盛之，急鉗取蟲，烈火煅過，取灰收入罐內，以雄黃末蓋上，再用瓦油盞合口，鐵線扎定，泥固封好，埋於遠僻絕人行處，深三尺為度。</p>
<p>瘵蟲為患，最易傳染。人能謹戒七情，嚴避六氣，常遠房室，節飲酒食，蟲不可得而染也。若縱欲恣情，精血內耗，邪祟外入。凡覺元氣稍虛或飢餒時，勿近瘵疾之家及衣服器皿，而皆能染觸之。或有婦病思男、男病思女，一見其面，隨即染傷，不可不知也。治瘵之法，固本為先，驅蟲為次，安息、阿魏、蘇合、沉香、冰、麝、犀角、硃砂、雄黃，皆有法邪伐惡之能，更須以天靈蓋助之。蓋屍氣淹纏，得枯骨導之，使鬼氣飛越，於是乎瘥。外則以虎牙、貍骨、水獺、穿山甲、全蠍、蜈蚣，皆猛厲之品，可以奪屍蟲之魄，要之先以芎、歸、血餘散之於根本之地為要。</p>
<p>驅蟲灸法：用鬼眼穴。令病人舉手向上，略轉後些，則腰間有兩陷可見，即鬼眼也，以筆點記，於六月癸亥日亥時灸此穴七壯，勿令人及病人先知乃靈。其外肺俞二穴，同膏肓二穴，亦能祛蟲。</p>
<p>虛勞吐血及咳逆上氣，灸上脘、肺俞，如年壯。</p>
<p>鼻血不止，急於項後髮際兩筋間宛宛中，灸三壯，立止。蓋血由此而上，入腦注鼻也，灸之則截其路。即啞門穴也。</p>
<p>咳嗽針肺俞、列缺、天淵；痰多屬濕者取豐隆穴；氣逆作喘取三里降氣，灸丹田七壯。</p>
<p>夫人但知血熱妄行，不知血寒亦吐，乃陰乘於陽名。心肺二經嘔吐者，灸用三陰交、心俞、鬲俞、少商、神門。</p>
<p>冷嗽補合谷、瀉三陰交。寒嗽不愈灸取膏肓、肺俞、天突、三里。</p>
<p>肺癰吐血膿，灸取膻中、肺俞、支溝、大陵。</p>
<p>咳嗽紅痰，列缺、百勞、肺俞、中脘、足三里，針、灸皆可。</p>

<h2>三、痰喘</h2>
<p>痰火上壅，喘嗽發熱，足反熱者，服消痰降火藥必死，宜量其輕重，用人參一兩，少則三、五錢，佐以桂、附，煎湯候冷飲之，立愈。韓懋所謂假對假、真對真也。然此實由腎中真水不足，火不受制而炎上。歸、附火類也，下咽之初，借其冷意暫解鬱熱，及至下焦熱性始發，從其窟宅而招之。同氣相求，火必下降，自然之理也。苟非人參君之，則不能奏功。</p>
<p>或問寒因熱用、熱因寒用，何謂也？寒熱和而平氣，寒熱離而為病氣，因用者，則是寒熱過脈處也。</p>
<p>喘主肺郁，痰與氣搏，肺竅壅塞或脾胃氣虛，金失所養，故呼吸不相續而為喘也。又寒主遲緩、熱主急數，寒則息遲氣凝、熱則息數氣急故喘。</p>
<p>丹溪曰：喘急者，氣有火鬱而有積痰於脾胃也。</p>
<p>程玠曰：痰嗽者，嗽便有痰出；勞嗽者，盜汗面赤；火嗽者，乍進乍退；寒嗽者，鼻塞聲重。</p>
<p>治渴必須益血，蓋血即津液所化，津液既少，其血必虛，故須益血。凡吐血之後，多必發渴，病生於血虛也。</p>
<p>針法見前。</p>

<h2>四、噎膈反胃</h2>
<p>噎膈反胃，多因於內傷憂鬱失志及恣意酒食、縱情勞欲，以致陽氣內結，陰血內枯而成也。經曰：三陽結謂之膈。三陽者手太陽小腸、手陽明大腸、足太陽膀胱也。蓋小腸熱結，則小水短少而火氣不泄；大腸熱結，則大便不利而鬱熱難除；膀胱熱結，則津液不行而道路蹇澀。三陽並結，則前後之氣不行，下既不行，邪火上逆，火上逆則煎液生痰，痰液生則往來之氣愈阻，而嘔逆噎膈之症起矣。且也重傷之以七情，更感之以六氣，或不戒炙煿肥厚之物，或妄投辛香燥熱之劑，遂致邪火愈熾，津液愈結，病情愈深，豈易療哉！須分上、中，下三焦以治之。夫咽嗌梗塞、氣不順利、水飲可行、食物難入，其槁在吸門，名之曰膈。其或食下則胃脘痛作、煩悶不安、須臾吐出，食出而安，其槁在賁門，名之曰噎。二者屬上焦。其或食雖可下，良久復出，其槁在於幽門，名曰反胃，此屬中焦。其或朝食暮吐、暮食朝吐，所出完谷，小便赤、大便硬或如羊矢，其槁在闌門，亦名翻胃，此屬下焦。然壯者猶或可治，當用透膈疏氣、化痰清火、健胃和脾之劑。經又曰：噎膈多生於血乾，反胃亦生於脾弱。東垣曰：脾，陰也；血亦陰也。陰主靜，內外兩靜，則腑臟之火何陰而生？金水二臟有養，陰血自生，腸胃津液傳化合宜，何噎膈之有哉。</p>
<p>夫張雞峰之論噎膈也，其言曰此症是神思間病，治須內觀靜養，乃始得旨。蓋百病之因多兼六淫而成，噎膈則惟以七情所致，由於飲食者，亦間有之。治之之法，非無開胃止吐、養陰潤燥之方。然病在神思，所謂心病還須心藥也。內養者外之對，此症向來事外忘內，未嘗收攝，此心或為利鎖名韁，或為酒沉色困，以致五臟空虛，氣無所主，食不能入，入亦反出，若不垂簾返照，及忙裡偷閒，濃中著淡，何以屏絕諸魔？然以眼觀內，則眼雖閉而神或外馳；以心觀內，則心有定而眼可不閉。夫是之謂內觀。靜者動之對，此症素因多動少靜，不能恬逸此心，非見誘於大喜大怒而致傷神傷肝，間被牽於勞思過恐而遂傷脾傷腎，以致五火叢起，血無由生，胃脘乾枯，大腸結燥，今當一切排遣，物過不留，務期安養休息，故強制其形，即地僻山深，只稱跡隱，寧靜其志，雖車轟馬驟，亦自心清。夫是之謂靜養。能此二者，則膈自通而食飲進，逆自順而嘔吐止，燥者自潤而陰血生，結者自開而二便利，其亦賢於蛇腹鼠、杵頭糠之類遠矣。</p>
<p>噎者飲食入咽，阻滯不通，梗塞難下，皆咽喉閉塞之貌，由於悲思過度、憂怒不節，則氣機凝阻、清濁相干，違其運行之常，乃成噎塞。張雞峰所云噎是神思間病，當靜觀內養，以寧其心志，心君泰然，則五火退聽，營衛安和矣。</p>
<p>噎則必兼塞症，故東垣云：堵塞咽喉，陽氣不得上出者，名曰塞，五臟之所生，陰也、血也；陰氣不得下降者曰噎，六腑之所生，陽也、氣也。夫噎塞於胸膈之間，令諸經不行，口張目瞪、氣悶欲絕，當先用辛甘氣味升陽之藥，引胃氣以治其本，參、耆、升、柴、當歸、益智、草豆蔻之類；加通塞之藥以治其標，木香、麥芽、青皮、陳皮之類。寒月陰盛，加吳茱萸以瀉陰寒之氣；暑月陽盛，加青皮、陳皮、益智、黃柏散寒氣、泄陰火之上逆。經曰：清濁相干，亂於胸中，是謂大悗。氣不宣通，最為急症，不急治之，諸變生矣。噎與塞，皆由陰中伏陽而作也。</p>
<p>夏三月，陽氣在外，陰氣在內，噎症值此時，天助正氣而挫其邪氣，不治自愈。如不愈者，陰氣極甚，正氣不伸耳，乃以四君子湯送利膈丸，木香、檳榔各七錢五分，大黃、厚朴各二兩，人參、當歸、甘草、藿香、枳實各一兩，共為細末，水和丸，煎湯送三錢。每飲食入胃，復吐涎沫如雞子白者，蓋脾主涎，脾虛不能約束津液，故涎沫自出，非用人參、白朮、益智等，不能攝也。</p>
<p>冬三月，陰氣在外，陽氣內藏，外助陽氣不得發汗，內消陰火勿令泄瀉，此閉藏固密之大要也。吳茱萸主之，同益智、草蔻、陳皮、黃耆、人參、升麻、當歸、甘草、青皮、木香、半夏、麥芽、澤瀉、薑黃等，為末蒸餅丸，生薑湯送三錢。</p>
<p>古人指噎塞為津液乾枯，故水液可行，乾物難進，為病在上焦是矣。愚謂若果津液枯涸，何以湯飲才下，涎即上湧乎？明系咽膈之間，交通之氣不得相入，皆衝脈上行，逆氣所為也。惟氣逆，故水液不得居潤下之常，隨其逆上之氣湧耳。若以為乾枯而用潤劑，豈不反益其邪乎？貴深原其故，擬立一主方，而隨症加減，在圓機者通變也。七情所傷，當多用辛，以橫行而散，半夏、白蔻、益智、陳皮、生薑之類。然中氣既傷，徒與散泄，邪未得除，正反受困，必須調養中宮，以全資生之本，參、耆、朮、草之類不可少也。喉中如有物不下者，痰氣也，俗云梅核膈，加訶子、昆布；膈間作痛，必是瘀血，歸尾、桃仁、韭汁、童便，甚者宜加大黃微利之。</p>
<p>噎而聲不出者，竹茹、五味子、生薑；挾寒脈沉遲者，桂、附；挾熱脈洪數者，黃連、木通。噎而白沫大出，糞如羊矢，此二症為不治矣。如食飲方下，痰涎聚住不得入者，雖入而涎沫隨出者，先以來復丹控去其痰，（方見中暑門。）更以半夏、茯苓、枳殼、竹瀝、元明粉、牙皂、枯礬（少許），生薑汁為丸治之。如大便燥結、糞如羊矢，自制開關利膈丸，人參、當歸、木香、檳榔、枳殼、大黃為末，水泛丸服，並用人乳或牛羊乳、梨汁、松子仁啖之。脈緊而芤，緊為寒，芤為虛，虛寒相搏，脈為陰結而遲，其人則病噎膈。</p>
<p>反胃者，真火衰微，胃寒脾弱，不能消穀，朝食暮吐、暮食則朝吐。設飲食入胃，既抵胃之下脘，復反而出者，理中湯，甚者加附子。若脈數，為邪熱不殺穀，乃火性上炎，多升少降，與異攻散加黃連、生地、當歸、沉香。此症至口吐白沫、糞如羊矢為危極矣，必須養氣以培其陽，益血以滋其陰，則金無畏火之炎，腎有生水之漸，脾胃健旺，飲食消磨矣。</p>
<p>咽喉閉塞、胸膈滿悶，暫用香砂枳樸以開滯疏結，然破氣太過，中氣因而不運，當異功散加香、砂，使氣旺則能健運；反胃氣逆，久閉不開，攻補兼施，小青龍丸，漸次加之，其扃自透，宜人參利膈丸，木香、檳榔、枳實、厚朴、生地、當歸、大黃、人參、甘草為末，水泛丸用。然服通利之品過多，血液益加耗竭，其結更倍，宜用杏仁去皮尖四兩，炒遼松仁四兩，壯豬脂熬淨一鍾，白蜜四兩，熔蜜餞橘柚四兩，同打和成丸。不時嚼食，大妙。再以人乳進之更妙。</p>
<p>火衰不能生土而反胃者，其脈沉遲，八味丸減熟地，加砂仁、沉香；瘀血阻隔而反胃者，抵當丸以湯作丸如芥子大，每服三錢，去枕仰臥，細細嚥之；有蟲聚而反胃者，宜檳榔、雄黃、牽牛、大黃，丸服調治得宜。反胃新愈，切不可便與粥飯，每日用人參一兩、陳皮三錢、焦倉米三錢煎湯細呷之，後可小試陳米飲及糜粥。如倉廩未固，驟貯米穀，往往敗事，多致不救。</p>
<p>噎者，陰氣不得下降也；膈者，陽氣不得上行也。飲食有下有不下，有吐有不吐，故與反胃不同。杵頭糠、人參末、柿霜、石蓮子末、元明粉各等分，以舌舐食。如血槁者，用生熟地黃、麥門冬、當歸、萎蕤、倉米煎膏，入韭汁、人乳或牛乳、桃仁泥、蘆根汁，和勻細呷，緩緩噙化。</p>
<p>膈噎服藥無效者，用巧婦窠燒灰為末，每服三錢，溫酒調下。服完此一窠末必痊。</p>
<p>噎症有瘀血者，王宇泰立代抵當丸，用大黃（醋炒）四兩，朴硝一兩，桃仁六十粒（炒），歸尾、生地、山甲（炙）各一兩，核五錢，為末蜜丸。上焦膈者，如芥子大，臨臥就枕，仰以津液下錢許；中、下焦膈者，空心服。</p>
<p>噎膈灸法：憂噎心俞、思噎天府、勞噎膈俞、氣噎膻中、食噎乳根，各七壯。五噎五膈，食飲不下，並灸膻中、中脘、內關、食倉、三里、膏肓六穴。</p>
<p>反胃吐食，灸用脾俞、膈俞、中脘、氣海、下脘、三里。</p>
<p>命門火衰，不能熟腐水穀，朝食暮吐，須灸腎俞、肩井、命門、中脘、關元、食關各七壯。</p>
<p><u>附嘔吐噦</u></p>
<p>嘔吐與噦皆屬於胃，但以氣血多少為異耳。嘔者，陽明也，陽明多血多氣，故有聲有物，氣血俱病也。吐者，太陽也，太陽多血少氣，故有物無聲，乃血病也。噦（音越）者，少陽也，少陽多氣少血，故有聲無物，乃氣病也。三者皆因脾虛有火，或由客寒犯胃、傷食停痰、逆氣瘀血亦有之耳，因火與痰為多。治之以氣逆者，辛散為主，生薑、半夏、茯苓、陳皮；客寒者，藿香、丁香；痰火者，竹茹、蘆根、竹瀝、生薑之類。詳其所因，不可混也。</p>
<p>邪在上脘之陽，則氣停而水積，故飲之清濁混亂而為痰為飲為涎為唾，變而為嘔。邪在下脘之陰，則血滯而谷不消，故食之清濁不分，為噎塞為痞滿為痛為脹，變而為吐。邪在中脘之氣交者，二脘之嘔與吐俱見矣。</p>
<p>胃膈熱甚則嘔，火氣炎上之象。嘔從氣病，法天之陽，動而有聲，與飲俱出，猶雷震必雨注也。吐從血病，法地之陰，靜而無聲，與食俱出，象萬物之於地也。嘔吐則氣血俱病，法飲食之氣交，而飲食皆出。然上脘非不吐食也，設陽中之陰亦病，則食入即吐，非若中脘之食已而吐、下脘之食久而吐也。下脘非不嘔也，設陰中之陽亦病，則吐與嘔齊作，然嘔少於吐，不若上脘之嘔多於吐也。上脘之食入即吐，生薑半夏湯，薑、半等分。中脘之食已即吐，橘半湯，陳皮、薑、半等分。下脘食久而吐，為反胃，脈沉而無力，理中湯；脈滑而實，半夏生薑大黃湯下之。</p>
<p>仲景治嘔谷不得下，半夏一升，生薑八兩，茯苓四兩，半夏、生薑之辛但治上焦氣壅表實；若胃虛者，惟宜益胃，推蕩穀氣而已，用參、術，忌用辛瀉，故服小半夏湯不愈者，必用大半夏湯立愈，是即甘瀾水也，半夏二升，人參三兩，白蜜一升，水一斗三升，和蜜揚二百四十遍者，藥取三升，分三次服。寒吐者，喜熱惡冷，肢冷脈細而滑，用理中湯，水冷服之，冷遇冷，相入不致吐出。如用理中湯到口即吐，去白朮、甘草之壅，加沉香、木香、丁香立止。熱吐者，喜冷惡熱，煩渴，小便赤澀，脈洪而數，二陳湯加梔、連、竹茹、蘆根汁、薑汁。怒中飲食作嘔，胸滿膈脹，二陳加青皮、木香、砂仁、豆蔻、薑、棗。中脘素有痰積，遇寒即發，丁香、豆蔻、砂仁、乾薑、半夏、陳皮，加白芥子汁、薑汁各半杯許。</p>
<p>痰滿胸喉，粥藥入口即吐，先以薑湯送下養正丹，候藥可進，則以二陳湯加枳實、砂仁、桔梗、厚朴、薑汁服之；虛者加人參。本因中寒，用熱藥太過，以致嘔逆，二陳加白蔻、沉香。因七情而得者，理中加木香、沉香、烏藥主之。陰虛而龍雷之火亢道，宜理中加薑汁、炒熟地、檳榔、黃柏、沉香，導之使下。如中氣久傷因而嘔吐，宜焦米、人參、神麯、陳皮、薑、棗調和胃氣，冀期自止。</p>
<p>漏氣者，身熱臂痛，食入則先嘔而後瀉，此上焦傷風，閉其腠理，經氣失道，邪氣內著，麥門冬湯，麥冬、人參、蘆根、竹茹、陳皮、白朮、茯苓、甘草、萎蕤、生薑、陳倉米主之。</p>
<p>走吐者，下焦實熱，二便不通，氣逆嘔吐，人參湯，人參、白朮、茯苓、陳皮、石膏、知母、豬苓、萎蕤、蘆根汁主之。</p>
<p>食已暴吐，脈浮而洪，此上焦火逆也，宜桔梗、枳殼、厚朴、陳皮、木香、檳榔、半夏、白朮、茯苓。氣降則火自清、吐漸止，加用人參。芍藥補之。下閉上嘔，亦因火在上焦，宜以桔梗、陳皮、木香、大黃微利之。</p>
<p>乾嘔，宜橘紅湯，橘紅一味煎湯，入薑汁、甘蔗汁，細細呷之。噁心心中央央，欲吐不吐，多屬胃虛，宜半夏、陳皮、白朮、茯苓、生薑主之。仲景云：欲吐不吐者，不可下。又云：用大黃治食已即吐，何也？曰欲吐者，病在土，因而越之可也。逆之使下，則必憒亂而益甚。若既吐矣，當吐折之，使其下行，故用大黃。丹溪云凡病吐者切不可下，近於固矣。</p>
<p>噦之為症，方書僅言其屬火，乃一端耳。亦有胃寒、胃熱、傷食、停痰、逆氣、瘀血，人當消息而治，因火與痰為多。</p>
<p>嘔苦，邪在膽經，膽木上乘於胃上，則逆而嘔膽汁，故苦也，宜吳茱萸、黃連、黃芩、茯苓、生薑主之。</p>
<p>嘔酸，《內經》云：諸嘔吐酸，皆屬於熱。東垣又以為寒。何也？若胃中濕氣鬱而成積，則濕中生熱，故從木化而味酸，法當清之。若久而不化，則肝木日盛，胃土日衰，經云木欲實，金當平之。辛為肺金之味，故辛可勝酸，辛則必熱，辛以制東方之實熱，以扶中土之衰。倘濁氣不降而曰以寒藥投之，非其治也。</p>
<p>大抵吐酸一症，宿食滯於胃脘，平胃散加香、砂、曲、楂。若停飲所致，蒼、半、茯、陳最宜。嘔清水而渴欲飲水，水入即吐，名曰水逆，以五苓散主之。赤石脂搗末，服方寸匕，漸添至三匕，服盡一斤，終身不吐痰水，亦可無終身泄瀉之症。</p>
<p>吐涎沫，六君子湯加益智、生薑，或以半夏、乾薑等分為散。吐膿，仲景云：夫嘔家有癰膿，不必治嘔，膿儘自愈。或地黃湯。胃脘癰，黃耆三錢、白朮三錢、葵根一兩主之。</p>
<p>嘔蟲吐蛔，為胃中冷，理中湯加川椒、黃連、檳榔、烏梅。蛔見苦則安、見椒則伏、見酸則不咬也。</p>
<p>命門火衰，不能腐熟水穀，朝食暮吐、暮食朝吐，須灸腎俞、肩井、命門、中脘、關元、食關各七壯。</p>

<h2>五、痿</h2>
<p>諸痿之症，未有不因陽明虛而致者。《靈樞》云：真氣者，所受於天，與穀氣並而充身也。《素問》云：陽明者，五臟六腑之海也。四肢不能稟水穀氣，陰道不行，筋骨肌肉無氣以生，故不用焉。蓋真氣者，天之道也；穀氣者，地之道也。地非天不生，天非地不成，故真氣與穀氣並而後生身也。陽明虛，五臟無所稟受，則不能行氣血、濡筋骨、利關節，故肢體中隨其不得受水穀氣處則病痿，故古人治痿獨取陽明也。</p>
<p>丹溪云：肺屬金，性燥，居上而主氣，畏火者也；脾屬土，性濕，居中而主四肢，畏水者也。若嗜欲無節，則水失其養，火寡於畏而侮其所勝，肺得火邪而熱矣。木性剛急，肺受熱邪則金失所養、木寡於畏而侮其所勝，脾得木而傷矣。肺熱則不能管攝一身，脾傷則不能運行四肢而病痿矣。瀉南方則金清，而東方不實，何脾傷之有？補北方則心火降，而西方不虛，何肺熱之有？故陽明不虛，則潤宗筋、束筋骨、利機關矣。駱龍吉云：風火相熾，當滋腎水。東垣以黃柏為君、黃耆為佐，而無一定之方。有兼痰積者、有濕多者、有濕熱相半者、有挾寒者，活潑制方，其善於治痿者乎！然藥雖中竅，而將息失宜，終不可愈也。故休息精神、淡泊滋味為頂門金針。五痿論云：有所失亡，所求不得，則肺熱葉焦，皮毛虛弱而生痿躄。宜參、耆、二冬、石斛、百合、山藥、犀角、通草、桔梗、梔子、黃苓、杏仁、秦艽。悲哀太甚，則胞絡絕。心氣熱，則下脈厥而上，上則下脈虛，虛則生脈痿，樞折挈，脛縱而不任地。宜鐵粉、銀屑、黃連、苦參、龍膽、石蜜、牛黃、龍齒、秦艽、蘚皮、丹皮、骨皮、雷丸、犀角。思慮無窮，入房過度，熱入於肝，則膽泄口苦，筋膜乾，則筋急而攣，發為筋痿，宜生地、天冬、百合、紫葳、白蒺藜、杜仲、牛膝、萆薢、菟絲、防風、芩、連、木瓜。感於卑濕，則脾氣熱，胃干而渴，血液不生，致肌肉不仁，發為肉痿，宜二陳、二朮、參、耆、苓、草。勞倦熱渴，陰氣內乏，熱舍於腎，則腰脊不舉，骨枯而髓減，發為骨痿，宜金剛丸，萆薢、杜仲、蓯蓉、菟絲等分，用豬腎酒煨，搗糊丸服。</p>
<p>夫皮毛、筋、脈三痿為內因，而骨、肉二痿為外感，又《素問·生氣通天論》云：因於濕，首如裹，濕熱不攘，大筋軟短，小筋弛長，軟短為拘，弛長為痿。亦有外感者矣，丹溪以痹為外感風寒邪實，痿為內因濕熱本虛。愚謂痹乃正氣本和，因外感風寒冷濕，為剛烈之邪，當以有餘名之。痿乃正氣自虛，致成濕熱拂鬱懈惰，為柔緩之邪，當以不足名之。或者初傷七情及飲食厚味，中焦鬱積，淫氣不清，濕熱乘虛為痿者有之；或者初感濕痹，郁久成熱，氣血漸虛為痿者有之。不可執也。至如治法，濕勝者亦必有脾胃虛濕之症，脈微而緩弱，宜用人參養胃湯及藿香散主之。熱勝者，亦必有內傷之症，脈虛而浮大，宜四君子、補中益氣等加二妙散以滲濕清熱，此祖《內經》治痿觸取陽明之法也。若肝腎精血虛而濕多者，謂之正虛，宜溫補，茸、膠、桂、附，金匱丸、八味丸俱可用。內雖有熱，乃為虛熱，補之自除，所謂甘溫能除大熱也。若真火熱勝者，謂之偏虛，脈必沉數，及兼遺精、白濁、陰汗等症，宜四物湯、坎離丸類滋陰降火。熱甚者宜服瀉火表劑，芩連解毒湯之類，時時呷之，以救肺熱，此丹溪治痿瀉南補北之法也。有用愈風湯吞健步丸以治濕熱相半之痿，然止可施之挾風邪甚者又為痹矣。</p>
<p>屬濕痰者，二陳加黃柏、白朮、竹瀝、薑汁；屬死血者，紅花，赤芍、桃仁，歸稍；有屬脾土太過，令人四肢不舉，四君子湯加芎、歸，倍白朮。</p>
<p>痿發於夏，俗呼疰夏，宜清暑益氣湯。一屬腎與膀胱，經云：三陽為病發寒熱，下為癰腫及為痿厥。前方主之。又一屬脾濕傷腎，經曰：秋傷於濕，上逆而咳，發為痿厥。致有目昏花、耳聾鳴、腰膝無力，當歸、生地、桂、附、防己、柴、羌、苦參；或用虎潛丸，熟地、歸、芍、知、柏、乾薑、陳皮、鎖陽、牛膝、龜板、虎骨，加附子，治痿厥如神。亦有濕痰瘀血阻滯經絡，天麻、白附子、烏頭、羌活、牛膝、芎、歸、乳、沒、木鱉、山甲為末服。又云，人參一斤，浸酒服之，治腳膝痿弱，可逐奔馬。</p>
<p>灸法：兩手太熱為骨厥，灸湧泉三壯，立安。</p>
<p>針法：隨前症所屬何經，取各經穴刺之。</p>

<h2>六、痹</h2>
<p>經曰：風寒濕三氣雜至，合而為痹。風勝為行痹，痛無定處，俗名「流火」，又名「走注痛」，今呼為「鬼箭風」是也。古云「歷節風」，又曰「白虎歷節風」，皆此類也。宜防風、羌活、葛根、秦艽、桂枝、杏仁，赤茯、當歸、黃芩、甘草、生薑，煎和酒服。寒勝為痛痹，痛有定處，或四肢攣、關節腫，名曰「痛風」。加減五積散，白芷、茯苓、半夏、芎、歸、甘、桔、麻、枝、芍、蒼、薑、樸煎服；或四物湯加桂枝、乾薑、麻、蒼、芷、殼、薑、黃、陳、秦。濕氣勝為著痹，麻木不仁，宜蒼、芷、麻、防、芎、歸、芍、草、桑皮、官桂、赤苓。以冬遇為骨痹，春遇為筋痹，夏遇為脈痹，以至陰遇為肌痹，秋遇為皮痹，此又所遇之時而名，非行痹、痛痹、著痹之外，又有皮脈筋骨之痹也。風寒濕三氣襲人，入於骨則重而不舉，入於脈則血凝而不流，入於筋則屈而不伸，入於皮則寒，入於肉則不仁。久而不已，則入五臟，煩滿喘嘔者肺也；上氣咽乾厥脹者心也；多飲數溲、夜臥則驚者肝也；尻以代踵、脊以代頭者腎也；四肢惰倦，發咳嘔沫者脾也。大抵臟症見，則難治矣。</p>
<p>風痹者，遊行上下，隨其虛邪與血氣相搏，聚於關節，筋脈弛縱，宜防風湯。防、葛、羌、秦、歸、芩、甘、桂、赤茯、杏仁、姜，煎入酒服。濕脾者，流而不移，汗多，四肢緩弱，皮膚不仁，精神昏塞，茯苓川芎湯。赤苓、桑皮、川芎、官桂、麻黃、蒼朮、歸、芍、甘草、黑棗，煎服。寒痹者，四肢攣痛，關節浮腫，加減五積散，即前方。熱痹者，臟腑移熱，復遇外邪，故肢體痿痹發熱，唇口反裂，皮膚色變，宜升麻湯。升、防、羌、麻、參、犀、羚、桂、甘、苓，煎，入竹瀝服。腸痹者，數飲而小便不通，氣滯喘泄，五苓散加麥冬、桑皮、木通。胞痹者，少腹膀胱按之內痛，若沃以湯，澀於小便，上為清涕，宜腎瀝湯。杜仲、五加皮、犀角、桔梗、赤芍、木通、桑皮、螵蛸，入羊腎一個，煎服。血痹者，邪入於陰，若被風吹，骨弱勞疲，汗出臥則搖動，宜當歸湯。赤芍、羌、獨、赤茯、防、秦、芩、草、桂心、生薑。周痹者，周身俱痛，蠲痹湯。歸、耆、羌、防、薑黃、甘草，加薑、棗。麻痹者，手足麻痹，躄痛不能舉，此支飲也，多睡眩冒，忍尿不便，膝冷成痹，茯苓湯。用赤苓、半夏、陳皮、枳殼、甘、桔，加姜煎服。</p>
<p>五臟痹宜五痹湯。人參、白朮、茯苓、甘草、白芍、當歸、細辛、五味、黃芩。如肝痹加柴胡、棗仁；心痹加茯神、犀角；脾痹加枳殼、曲、陳、砂仁；肺痹加杏仁、麻黃、紫菀；腎痹加獨活、川萆薢、杜仲、牛膝、官桂。</p>
<p>行痹者，走注無定，羌、防、葛、艽、蒼、桂、芎、歸、威靈、赤茯。濕氣傷腎，腎不生肝，肝風挾濕，流走四肢宥髃，苡仁散。苡仁、芎、歸、薑、桂、羌、獨、麻、防、川烏、朮、草。肢節腫痛，日夜並重，和血散痛湯及沒藥散，專理走注。沒藥二兩，虎骨醋炙，等分為末，酒下五錢。又痛痹因於風者，即痛風也，加減烏藥順氣散。烏藥、麻黃、陳皮各二錢，川芎、白芷、殭蠶、枳殼、桔梗、甘草各五錢，薑、棗煎服。因於濕者，天陰尤甚，身體沉重，除濕蠲痹湯。蒼朮二錢，羌、茯、澤、術各錢半，甘草五分，陳皮一錢，竹瀝、薑汁和服；在上加桂枝、桔梗、靈仙；在下加防己、牛膝、木通。因痰者，豁痰湯。半夏、南星、陳皮、厚朴、柴胡、黃芩、羌活、薄荷、枳殼、人參、紫蘇，竹瀝、薑汁為丸亦可；甚者控涎丹。因火者，三黃湯加生薑。虛者，四物湯中多加酒炒黃柏、薑汁、竹瀝。因濕熱者，二妙散。蒼朮、黃柏等分為末，薑汁湯調服。血虛者，四物蒼朮各半湯，四物五錢，蒼朮五錢，煎湯加酒服。血瘀者，芎、歸、桃仁、紅花、靈仙煎，入麝少許。晝靜夜發，痛如虎咬，名曰白虎風，亦有掣者多寒，腫者多濕，汗者多風。虎骨、犀角、骨碎補、羌活、秦艽、青木香、沉香、歸、芍、桃、膝等煎，臨服入麝少許。寒多加桂、姜；濕多加蒼、茯；風多加防、耆。如下肢腫痛，一味木通二兩，煎服立效，必遍身發出紅丹或汗出至足而愈。</p>
<p>熨法：用好陳醋五大碗，煎沸入蔥白一斤，再煮沸去醋，將爛蔥白裹患處熨之。</p>
<p>著痹即麻木不仁，血氣據虛所致也。《靈樞》云：衛氣不行，則為不仁。宜十全大補湯加升、柴。</p>
<p>針法：手指拘攣，麻痹掣痛，肩膊痠疼，合谷、中渚、陽池、腕骨、外關、肩髃、肩井、手上廉、曲池、尺澤，已上隨症選用。</p>
<p>灸法：膏肓、肩井、肩髃，灸之無有不效。</p>
<p>肩背痛不能回顧，此手太陽氣鬱不行，肩貞、肩外俞、肩中俞、肩髃；藥用風劑散之。下部足腿膝處冷痹，即俗呼筋寒鶴膝風；陰陵泉宜刺不宜灸；陽陵泉針灸皆宜；環跳、風市選用。</p>

<h2>七、水腫</h2>
<p>臍腹四肢悉腫者，為水；但腹滿四肢不甚腫，為脹滿也。先頭足腫後腹大者，水也；先腹脹大後四肢腫者，脹滿也。皮厚色蒼，或一身盡腫、或自上而下者，多屬氣；皮薄色白，或自下而上者，多屬水。水本畏土，因土虛不能制水，則寒水侮所不勝，及乘脾土氾濫為邪。其始初起，必從陰分漸次而升。夫水雖受制於脾，而實主於腎，腎本水臟，而元氣寓焉。若腎中陽虛，則命門火衰，既不能自制陰寒，又不能溫養脾土，陰陽不得其正，則化而為邪。然氣即火也，陰即水也。氣之與水，本為同類，但在化與不化耳。故陽旺則化，而精能為氣；陽衰則不能化，而水即為邪。火盛水虧則病燥；水盛火虧則病濕。故障火不能化，則陰不從陽，而陰氣皆化為水。所以水腫之症，多屬陽虛，丹溪乃云：清濁相混，壅塞為熱，熱留為濕，濕熱相生，遂成脹滿。治宜補脾，又須養金以制木，使脾無賊邪之患；滋水以制火，使肺得清化之權。其意以制火為主，誠制火固可保金，獨不虞其害土乎？以此治熱猶可，以此治陽虛而氣不化者，豈不反助陰邪哉！必當察其果系實邪，則直以清火滋陰為極易。凡挾於虛，須從溫補，俾可還元；或虛實未明，寧先行治虛之法，若治而不瘳，不妨易轍，猶無大害。倘藥未到病未痊，仍須詳察：若以治有餘之法，誤治虛人，則真氣復傷，雖施合劑，不能起矣；或從清利，暫見平復，終不補元，雖目前稍愈，久必危亡，可不謹哉！（以手指按其腹，隨手而滿者，水也；如凹而不起，腹色不變者，脹滿也。）</p>
<p>《盧砥醫鏡》治水腫以肺金盛而生水，水溢妄行，氣閉機壅，必導腎水，以決去之。肺乃腎之母，其氣清肅，果由肺盛生水，則將奉行降令，通調水道，下輸膀胱，水精四布，五經並行，尚安得有水腫哉？肺盛生水之說，斷無是理。</p>
<p>腎氣不化，多因四氣相乘，或濕熱盛而傷之，或燥金斂澀之，風水鼓激之，與夫恣情閨房，勞役應酬，六氣七情，皆足以損腎。</p>
<p>胃之關，不惟因腎氣不化而後閉，即胃之病，而關亦自閉矣；水之聚，不待腎水而後成，即所飲之水，而亦自聚矣。胃主中焦，為水穀之海，胃和則升降出納之氣行，水穀各從其道輸泄焉。胃不和，則出納之機滯，水穀之液皆能畜積而為水也。經曰：胃所生病，大腹水腫，膝臏腫痛。又曰：五穀之津液，因陰陽不和，則氣道不通，四海閉塞，三焦不瀉，津液不化，水穀並行腸胃之中，……留於下焦，不得滲入膀胱，則下焦脹，水溢而為水脹。又曰：腎者，牝臟也。地氣上者，屬於腎臟而生水液也，故曰至陰。勇而勞甚則腎汗出，腎汗出逢於風，內不得入於臟腑，外不得越於皮膚，客於玄府，行於皮里，傳於胕腫，本之於腎，名曰風水。由是推之，而水溢之病，未有不因胃虛所致。設使不顧其虛，輒攻其水，乃重虛其陰也。經云肝腎脈並浮，為風水。蓋肝腎同處下焦，腎屬陰，主靜，其脈常沉；肝屬陽，主動，其脈常浮。二臟俱有相火，動於腎者，猶龍火之出於海；動於肝者，猶雷火之出於澤。龍起而火隨，風發而水湧。今水之從風，猶言腎脈本沉，因從肝化而與之俱浮。仲景有石水、風水之分，腎肝之脈並沉為石水，宜海蛤丸。海蛤（煅）、防己各七錢五分，陳皮，郁李仁（去皮炒）各五錢，赤茯、桑皮、葶藶、故紙（焙）一兩，為末蜜丸，米飲下。肝腎之脈並浮為風水，身重汗出，惡風，宜防己黃耆湯。防己一兩，黃耆一兩三錢，白朮七錢，甘草（炙）一錢，薑、棗煎服。自汗出無大熱，惡風，一身悉腫，越婢湯。麻黃六兩，石膏八兩，甘草一兩，生薑三兩，大棗十五枚（擘），水六升煎服。</p>
<p>水腫陰陽之辨：陽水者，遍身腫，煩渴，小便赤澀，大便多閉，輕則用四磨、五苓，重則用疏鑿飲子。陰水者，遍身腫，不煩渴，大便自調或溏瀉，小便雖少而不赤澀，用實脾飲。或小便如常，有時赤有時不赤，晚則微赤，即無赤澀者，亦屬陰也，未可遽用補劑。先用木香、香附、烏藥、茯苓、豬苓；次用復元丹，附子，木香、茴香、川椒、厚朴、獨活、檳榔、白朮、陳皮、茱萸、桂心、澤瀉、肉果。有一身惟面及足俱腫，早則面甚，晚則足甚，面腫為風，足腫為水，須察其大小便通閉，別其陰陽而治之。</p>
<p>有耳內疳瘡，以致耳腫及面與上半身甚者，羌活、白芷、升麻、防風、蘇葉；下半身甚者，五苓散加木通、二術。大病後腫，明系脾虛不能通調水道，補中益氣湯送六味丸。腎水不足，虛火爍金，不生小便者，六味丸兼與補中益氣湯互用，久服自效。誤與疏氣行水，將有性命之憂，亟與金匱腎氣丸，尚有可救者。</p>
<p>行水法：赤豆同大蒜煮粥，以豆豉啖之。冬瓜日日可吃，用鯉魚重斤許以上者，和冬瓜、蔥白作羹食。青頭鴨、白鴨俱可作羹，同赤豆粥空腹時食。目窠微腫如臥蠶者，水也；足腫甚者，水也；頸脈動者及痰咳喘者，亦水也。</p>
<p>脈沉主水，水病脈浮者死，洪大者生，細微者死。五傷者死：唇黑肝傷，缺盆平心傷，臍突脾傷，背心平肺傷，足心平腎傷。切忌魚肉雞面羊酒鹽，不忌必甚。</p>
<p>九種水病根源症治：一、清水，先從兩脅腫起，根在肝，大戟主之；二、赤水，先從舌根起，根在心，葶藶主之；三、黃水，從腰腹起，根在脾，甘遂主之；四、白水，從足腫起，根在肺，桑皮主之；五、黑水，從外腎起，根在腎，連翹主之；六、綠水，從面頰起，根在外腎，芫花主之；七、風水，從四肢起，根在膀胱，藁本主之；八、高水，從少腹腫起，根在小腸，巴霜主之；九、氣水，或盛或衰，根在三焦，赤豆主之。上九種藥等分，主某經者倍之，為末蜜丸。赤茯苓湯送錢許下，日三服，忌鹽醬一月，又忌魚肉蝦蟹羊雞鵝面及一應毒物、生冷、房室、憂勞、醉飽。</p>
<p>「開鬼門」：麻黃、羌活、防風、柴胡、牛蒡、忍冬、蔥白、柳枝、蒼朮、荊芥、蘇葉梗，並可煎湯浴洗。</p>
<p>「潔淨府」：木通、澤瀉、香茹、甘草、燈心、冬葵子、蜀葵子、海金沙、葶藶、防己、海藻、昆布、茯苓、赤豆、豬苓、青蛙、海蛤、綠頭鴨、白螺、鯉魚、白魚、鱸魚、鯽魚，已上俱用秋石代咸煮食，或加田螺二個滾酒內煮食。</p>
<p>「去菀陳莝」：商陸同赤粳米煮飯，日常食之，甚效。又用甘遂、芫花、續隨子、牽牛，同大麥面作面吃。老絲瓜、巴豆拌炒，又同冬朮炒，去豆、術，為末丸服。大戟煎湯服。巴豆同杏仁炒，去豆食。郁李仁酒食四十九粒，或為末和丸作餅吃。</p>
<p>「宣布五陽」：附子、肉桂、乾薑、吳萸、黃白雄雞，並同赤豆煮食，其外戍肉亦可食。</p>
<p>血腫成水：紅花、劉寄奴、澤蘭、益母、紫草。</p>
<p>水脹方：羯雞矢八合，炒微黑，好酒三碗，煎取汁，五更熱服，於辰巳二時，行二三次，二日有皺紋起於足，再服妙。此《素問》方也。</p>
<p>禹餘糧丸：治水腫聖劑。蛇含石三兩，鐵銚盛燒紅，醋淬研極細，禹餘糧三兩，針砂五兩淘淨炒，醋二碗，同禹糧入銚煮乾，連銚燒紅，傾地上，出火氣，研細聽用。以羌活、木香、茯苓、川芎、牛膝、桂心、白蔻、大茴、蓬朮、青皮、附子、乾薑、三稜、白蒺藜、當歸各五錢為末，入前三味拌勻，蒸餅丸桐子大。空心滾水下三十丸，虛人亦可用，不傷元氣，所大忌者，獨鹹味耳，一毫入口，病發更甚，只去小便，不去大便，每日三服，更以溫補煎方助之，真神方也。</p>
<p>外治方：大戟、芫花、甘遂、海藻等分為末，醋調和麵少許，攤於綿帛上，貼腫處，口咬甘草，不過兩三時，水即下矣。</p>
<p>鋪臍方：好輕粉二錢，巴豆四兩，生硫磺一錢，研勻成餅，先以新綿鋪臍上，次鋪藥餅，外以帛緊束之。如人行十里許，即下水，待行三、五度，即去藥，以溫粥補之，一餅可治十人。</p>
<p>灸法：中脘二七壯，在臍上四寸，上下一寸，居歧骨與臍之分中。又炙水分穴如年壯。在臍上一寸，禁刺，刺之則水盡即死。又法神闕以鹽填滿臍中，著艾灸，如年壯或二七壯。</p>

<h2>八、瘧</h2>
<p>夫風寒暑濕四氣，皆能客而為瘧，或客於腸胃之外，或客於營氣之舍，或客於脊骨之間，或客於五臟之募原，深淺不同，故先寒後熱、或先熱後寒、或寒多熱少、或熱多寒少、或但寒不熱、或但熱不寒，往往夏傷風暑，秋涼束之，寒熱為瘧。淺者病在三陽，一日一發；深者病在三陰，間日一發，或三日一發。病愈深則發愈遲。陳無擇曰：內傷七情，外感六氣，皆能鬱而成痰，著而成瘧，內外所傷之邪，皆客於營氣之舍，故發有常期。夫營衛之舍，猶人之傳舍也，營衛日行一周，歷十二經之界分，內薄之邪與日行之衛氣相會則瘧發，離則瘧止。其發也，不惟脈外之衛虛，是陽明與營俱行者亦虛。陽明虛則天真因水穀而充者亦虛，故瘧發之際，且勿服藥，恐反傷胃氣與天真之氣也。必俟陰陽並極而退其營衛，天真營衛離而復集過此邪客之合，然後治之；或當其未發，迎而奪之。有外邪者，必須汗解。若是虛人，先以人參、白朮實其胃氣，然後取汗，須至足乃佳。取汗不必汗藥，但開通經郁，則邪自散、汗自透矣。</p>
<p>發於子後午前，是陽分受病，其病易愈；發於午後寅前，陰分受病，其病難愈。別陰陽氣血、察形色衰旺以治之。形壯色澤者，病在氣分，則通經開鬱以取其汗；色稍夭者，必先補而取之；挾痰者，必先實其胃，方與劫劑；形弱色枯者，不可取汗，亦不可劫，但養正氣，微與和解。形壯色黑者，病在血分，須行其阻滯；色枯者，補血調氣。至於取汗不得汗，理血而瘧不痊，則當更與精恩詳切，深中病情，方收十全之效。</p>
<p>寒瘧：先寒後熱，用紫蘇、羌活、細辛、白芷、生薑以散太陽之邪。溫瘧：先熱後寒，體重痛，嘔逆脹滿，胃苓湯，二朮、厚朴、茯苓、豬苓、澤瀉、陳皮、甘草，加羌活、紫蘇煎服。癉瘧：但熱不寒者，肺素有熱，發於盛暑，用知母、石膏（煨）、人參、麥冬、甘草；發於秋涼之候，柴胡、陳皮、黃苓、半夏、甘草、薑、棗。牝瘧：但寒無熱者，陽虛陰盛也，桂枝，羌活、柴胡、紫蘇、木香、生薑。食瘧：飢不能食，食即脹滿嘔吐腹痛，二朮、檳榔、草果、豆蔻、山楂、青皮、香附、砂仁、神麯、麥芽之類。瘴瘧：嶺南嵐嶂之毒，發時迷悶，涎聚於脾，血瘀於心，檳榔、草果、柴胡、半夏、黃芩，大黃、木香、薑、棗。癆瘧：素虛不足，久瘧成癆，參、耆、苓、朮、歸、芍、地、草、首烏、鱉甲、葛根、烏梅。瘧母：邪伏少陽，結塊於肋，人參、朮、苓、草、蓬、半、青、陳、肉桂、鱉甲。時行鬼瘧：蒼、樸、甘、陳、桃仁、木香、升麻、雄黃。三日瘧：本於三陰不足，參、朮、芎、歸、柴、芍、首烏、烏梅、陳皮、薑汁。發於子午卯酉為少陰瘧，加丹參、圓肉；寅申巳亥日為厥陰瘧，加丹皮、木香；辰戌丑未日為太陰瘧，加白豆蔻、茯苓。然三陰受病，皆謂之溫瘧，發於處暑後冬至前，此傷之重遠而深者也；三陽受病，皆謂之暴瘧，發在夏至後處暑前，此傷之淺者近而暴也。</p>
<p>瘧分南北：東南瀕海，海風無常，多食魚鹽，人多停飲，故多風瘧及食瘧，烏頭、草果、陳皮、半夏為宜。西北高曠，寒則水冰地裂，熱則爍石流金，人多中寒伏暑，故多暑瘧與寒瘧，香茹、柴胡、常山、草果、檳榔等為宜。審知胸中有飲，陳皮鹽湯吐之，若不吐，便可抑之，檳榔、青皮、枳實。瘧家多宿痰，惟常山吐之利之，大有奇功；次以大黃佐之，大瀉數行，其病若失。大凡寒熱乍已之時，胸中滿悶不退，皆痰涎之故也。若衄血或便血，婦人或月候適來，皆是血症，劑中加元胡索、桃仁、蓬朮。挾水者逐水，挾血者攻血，隨症施治，未有不效者也。若病不甚而用常山，不取其吐利，當以酒浸炒之，雖用一、二錢，毫不吐也。世有畏之如螫，蓋未明其性耳。瘧發已多，遍治無功，意非外邪，亦無內滯，惟用人參、生薑各一兩煎湯，發時五更服必止，甚者連進三服，無不愈者。如在貧者，白朮可代；夜發加當歸，無不奏功。</p>
<p>瘧母者，頑痰挾血挾食，結為癥瘕，用小柴胡湯加鱉甲五錢、莪朮二錢五分，俱以醋製，服之必驗。</p>
<p>瘧久不痊，必有留滯，須加鱉甲消之。</p>
<p>截瘧之法，種種不同，《內經》論刺最詳，乃至用藥攻邪存正、調營衛之偏、和陰陽之逆是矣。今以檳榔去痰、穿山甲透經絡、常山破痰癖，用此截瘧，如精兵據其險要，萬無不截之理。如本無痰涎，止於暑，結營分，貴在鱉甲、香茹、生薑，而前藥為無益有損也。若元氣虛極，止宜補正，如常山、山甲皆為戈矛矣。傷寒有往來寒熱如瘧，並虛損有往來寒熱如瘧，謂之如瘧，非真瘧也。傷寒之寒熱也，始則必惡風惡寒，發熱頭疼體痛，自太陽傳至少陽半表半裡，故往來寒熱也。虛損勞病之寒熱也，其初必五心煩熱，咳嗽倦怠微微，日久陽虛生外寒，陰虛生內熱，故寒熱時作也，即痰飲、㿗疝、積聚、停食、暑濕、燥火、癰疽、瘡毒，亦皆有寒熱之候，豈得盡謂之瘧乎？須細問其病原，有何病因，投治無誤。大凡寒熱有常期者，瘧也；無常期者，雜症也。在太陽經者，謂之風瘧，治多汗之；在陽明經者，謂之熱瘧，治多下之；在少陽經者，謂之風熱瘧，治多和之。</p>
<p>常山截瘧丸：常山酒浸一宿，炒透為末，烏梅肉為丸，每服二錢，發日五更用；一加檳榔、山甲、鱉甲，醋炙為末，烏梅肉為丸，每服三錢，薑湯下。</p>
<p>外治方：蛇退塞耳，或生半夏塞鼻，男左女右，立止。</p>
<p>針法：間使穴，在手掌下臂上三寸，兩筋間是。</p>
<p>瘧疾久不止：百勞、間使、後谿、足三里針之。</p>

<h2>丸、痢</h2>
<p>痢症起於夏秋，濕熱鬱蒸因乎天也，生冷停滯由乎人也。當炎暑之令，不能保攝脾胃，大食瓜果肥甘，土氣受傷，無以制濕，濕蒸熱壅以致怫逆，氣不宣通，因而腸胃反窒，裡急後重，小便赤澀，宜以苦寒之藥燥濕滌熱，佐之以辛溫，便能開鬱運氣，故行血則便膿自愈，調氣則後重自除。然虛實寒熱、淺深新久之不同，未可以一例治也。</p>
<p>心者血之主也，肺者氣之主也，凝滯則傷氣，鬱熱則傷血，氣血既病，則心肺亦病矣。而小腸，心之合也；大腸，肺之合也。二經皆出納水穀、轉輸糟粕之官也，而胃又為大小腸之總司也。肺移病於大腸，則氣凝泣而成白痢；心移病於小腸，則血凝泣而成赤痢；大小腸俱病，則赤白互下；胃土傳濕熱於大小腸，痢色兼黃。至於色之黑者，分為二經：如焦黑之黑者，此熱極反兼勝己之化也；如黑漆之黑者，此瘀血凝久而然也。</p>
<p>「治痢從腸胃」，此籠統之說也。不知在腸胃者，乃屬標病，其所感之邪與所受之經，乃本病也。若腸胃自感而病，亦當分邪正：或正氣先虛而受邪；或邪氣干犯而致虛。則以先者為本，後者為標。積有新舊，舊積者，氣血食痰所化也；新積者，舊積已去，未幾復生者也。然舊積宜下，新積禁下，其故何也？蓋腸胃之熟腐水穀，轉輸糟粕，皆是營衛灑陳於六腑之功，今腸胃有郁，則營衛運行之常度因之阻滯，不能施化，故衛氣鬱而不舒，營血注而不行，於是飲食結痰停於胃，糟粕留於腸，與所郁之氣血相雜而成滯下之症矣。必當下之，以通其壅塞。既下之後，升降仍不行，清濁仍不分，則衛氣復郁，營血復注，又成新積，烏可復下乎！但理衛氣以開通腠理，和營血以調順陰陽，則升降合節，積雖不治而自化矣。然舊積亦有不可下者，或先因腸胃之虛不能轉輸其食積，必當先補正氣，然後下之，庶無失耳。但能耗氣損血，用之不已，氣散血亡，五臟損而死期至矣。其固澀之方又足以增其氣血之壅滯，變為腫脹、變為喘嗽，如此死者，醫殺之耳。丹溪云：滯下逼迫，正合承氣症，但氣口脈虛，平昔胃傷，寧忍兩三日辛苦，遂與參，朮、歸、芍、陳、甘補劑，兩日後胃氣稍復，方與承氣，苟不先補而遽攻之，難免後患乎。戴復庵云：氣滯成積，故治痢以順氣為先，又須當養胃，故曰無飽死痢疾也。</p>
<p>痢初發時，裡急後重，頻欲登圊，及去而所下無多，才起則腹急，皆濕熱凝滯之故也，宜藿香正氣散加木香、枳殼、黃連，砂仁，或加檀香、乳香、麝香、冰片。血色紫黯，屢服涼藥，所下愈多，當作冷痢，宜理中湯加木香、肉蔻。如純下血而色鮮紅者，此心家伏熱也，犀角屑二錢、硃砂二錢、牛黃三錢、人參三錢，丸如麻子大，麵糊拌，每用一錢，燈心圓眼湯下。仲景云：小腸有寒，其人下重便血，以乾薑燒黑存性，磁碗合，放地上出火氣，取為末，每服一錢，米飲調下。</p>
<p>裡急而至圊反不能即出者，氣滯也，疏通為主；裡急而頻見汙衣者，氣脫也，補澀為主。後重而至圊稍減者，火迫也，黃連為主；後重至圊而轉增者，下陷也，升麻為主。積如膠凍或如鼻涕，此為冷痢，先用木香、沉香、豆蔻、砂仁、厚朴，次用理中湯加木香。</p>
<p>冒暑而成自汗發熱、面垢、嘔渴、腹痛、小便不通，香薷飲加黃連或五苓散、藿香正氣散加香薷、黃連。老人深秋患痢嘔逆者，黃柏末、陳米飲為丸，人參、白朮、茯苓、甘草湯送下。</p>
<p>冷痢不能食，肉蔻、陳米為末，米飲調服。入秋而痢，白豆蔻、厚朴自不可缺。肺經之氣鬱大腸，桔梗、蘇子為君，以痢藥佐之。脹滿惡食腹痛者，實也，木香、黃連、芍藥、枳殼、檳榔、枳實、厚朴。煩渴喜冷飲，脈堅大滑數，熱也，芩、連為君。濕熱，二朮、二苓、芩、連。氣滯，木香、藿香、枳殼、厚朴、枳實、蘇子、陳皮、砂仁、豆蔻、檳榔。和血則便膿自愈，四物可用。久而虛滑者，補中益氣加肉蔻、訶子、北五味。新起而實且澀滯者，檳黃丸；色焦黑者，檳黃加香、連、芩、芍；如漆之黑者，歸尾、赤芍、桃仁、大黃、枳實、芒硝、厚朴。裡急不快者，香、連、檳、實、芎、歸；裡急汙衣，參、朮、訶、蔻、烏、味、甘、桔。後重得解轉甚，參、耆、朮、草、升、柴；後重得解即減，芩、連、香、砂、檳、黃。虛坐努責，久圊不解，血虛也，歸、地、芍、紅。口腹怕冷，脈沉細，寒也，理中加香、蔻。肝氣逆上，吳萸、黃連、木香、青皮、白芍。噤口痢食到便吐，上焦火逆也，黃連、木香、茯苓、桔梗、枳殼、陳皮、半夏、菖蒲、生薑。噤口虛者，陳米三錢，蓮肉五錢，人參一錢，煎好入薑汁少許，細細呷之，如吐出，再呷，但得一呷下咽便開。</p>
<p>久瀉無度，腹痛者，禹餘糧五錢，赤石脂、白朮各三錢，訶子、肉蔻各一錢五分。腹痛，芍藥甘草湯，戊己化土，此仲景方也。挾虛者，建中湯，然古人以建中湯治痢，不問赤白新久，用之皆效。</p>
<p>一方治腹痛神妙，黃連、枳殼等分，槐花一兩浸水，拌上二味，炒乾去槐花，只用二味，煎好，入乳香、沒藥各八分服。</p>
<p>久虛大滑，服藥不效者，大斷下丸，龍骨，枯礬、赤石脂、薑、附、訶、蔻為末，醋糊丸，米湯下，即因用澀味，亦須倍以砂、陳以利其氣，恐太澀則腸胃不利，反作痛也。灸天樞、氣海，大能止瀉。病在中州脾土，只須薑、蔻理之。若病在腎家，以赤石脂、禹餘糧、補骨脂、北五味有功也。</p>
<p>大孔作痛，亦有寒熱之分，挾熱者，檳榔、茯苓、香、連；挾寒者，以炒鹽熨之，或枳實為末炒熱熨之，內服人參、乾薑、甘草、陳皮、當歸作湯用。</p>
<p>脫肛一症，最難用藥，熱則肛門閉，寒則肛門脫，磁石為末，食前米飲下二錢，外用鐵鏽湯洗之。</p>
<p>屢止屢發，名曰休息痢。多因用澀止太早，或不能節飲食、戒嗜好，所以時作時止，宜四君子，或補中益氣加香、連或肉蔻。審無積滯，惟見虛滑，椿根皮三錢，粟殼二錢，參、術各一兩，木香、粳米各二錢，煎服。有五更及午前甚者，屬腎，補骨脂、山藥、北五味、龍骨，丸服；午後甚者，屬脾，吳茱萸、肉蔻、白朮、甘草，丸服。</p>
<p>蟯蟲痢，其形極細，腸虛則生，從穀道出，或作癢者，內服桃仁、蕪荑、槐子、雄黃丸，外用苦參、黃連、桃仁、青葙子、雄黃，為末，艾汁丸如小指大，棉裹納肛門中。</p>
<p>先瀉後痢者，脾傳腎，為賊邪，難愈；先痢後瀉者，腎傳脾，為微邪，易治。虛則補脾土，虛甚則當補土母是也。</p>
<p>久痢已成壞症，變態百出，勿論其脈，勿論其症，只宜以參、附、耆、朮、香、砂補脾健胃，常有得生者。</p>
<p>痢後變成痛風，周身流注，皆屬虛症，調攝失宜也，補中益氣加羌、獨、寄生、虎骨、松節，或加乳、沒、蒼、柏、桃仁、紫葳煎服。</p>
<p>死症：下純血者死，如屋漏水者死，大孔如竹筒者死，唇若塗朱者死，發熱不休者死，如魚腦、如豬肝半死半生。</p>
<p>脈法：沉小細微者吉；洪大滑數者凶；脈大為未止；微弱為欲止，身雖發熱不死。</p>
<p>針灸法：久痢不止，中脘、脾俞、天樞、足三里、三陰交。裡急後重，下脘、天樞、照海。虛寒久瀉，關元、中極、天樞、三陰交。</p>
<p>附：氣痢方，牛乳半斤，蓽撥三錢同煎，減半空心頓服良。</p>

<h3>十、水瀉</h3>
<p>經曰：春傷於風，夏生飧泄。又曰：春傷於風，邪氣留連，乃為洞瀉。《難經》云：濕多成五泄，一曰胃泄，色黃，食不化，輕者香、砂、枳、樸，重者枳、樸、硝、黃；二曰脾泄，腹脹注泄，食即嘔吐，理中湯加肉蔻、訶子、升麻；三曰大腸泄，食已窘迫，大便色白，腸鳴切痛，附、薑、朮、草；四曰小腸泄，溲澀而便膿血，少腹作痛，樸、殼、檳、芍、芩、通、大黃；五曰大瘕泄，裡急後重，數至圊而不能便，莖中痛，芍、歸、樸、殼、芩、檳、木香、大黃。東垣云：胃氣和平，飲食入胃，精氣輸於脾土，上歸於肺，而後行營衛也。飲食一傷，起居不時，損其胃氣，則上升清華之氣，反下降而為飧泄矣，久則太陰傳少陰而為瘕。寒冷之物傷中，腹滿而脹，傳為飧泄，宜溫熱以消導之；濕熱之物傷中，下膿者，宜苦寒以內疏之；風邪下陷，升舉之；濕氣內盛者，分利之。裡急者下之；後重者調之；腹痛者和之；洞泄腸鳴脈細微者溫之、收之；膿血稠黏，每至圊不能便，脈洪大有力者下之、涼之。大抵治病而求其所因，察何氣之勝，取相制之藥治之，因其所利而利之，以平為期，此治法也。</p>
<p>瀉利久不止及暴下者，皆太陰受病，不可少白朮、甘草、芍藥，是以聖人之法。若四時下利者，前方中：春加防風，夏加黃芩，秋加厚朴，冬加桂、附。然須更詳外症，或虛實寒熱之殊為主，倘自汗、手足厥冷、氣微，雖盛夏必投薑、桂，或煩熱躁渴脈實，即隆冬亦用硝、黃，是在智者之通變耳。</p>
<p>戴復庵云：水瀉而腹不痛者，濕也，六君子湯加平胃散。飲食入胃，輒下完穀者，氣虛也，補中益氣湯；亦有風邪入胃，清陽在下，升陽除濕湯。腹痛瀉水，腸鳴，痛一陣，瀉一陣者，火也，香、連、甘、芍、通、滑。洞泄多下清水，胃苓湯。或多或少，痰也，平胃散加半夏。腹痛而瀉，瀉後痛減者，食積也，平胃加楂，芽、神麯。溏泄者，汙積黏垢，濕兼熱也，柴苓湯、胃苓湯。鶩泄者，所下皆澄澈清冷，小便清白，濕兼寒也，理中湯加肉蔻。濡泄者，體重軟弱，瀉下多水，濕自甚也，補中合除濕。滑泄者，久下不能禁，濕甚氣脫也，補中加訶、蔻、赤石脂止澀之。飧泄即洞泄也，水穀不化，濕兼風也，升陽除濕湯或平胃散加羌、防治之。</p>
<p>東垣云：夏間淫雨陰寒，時行瀉利。予一日體重肢冷瀉利，小便秘塞，思其治法，經云：諸泄小便不利，先分利之。又云：治濕不利小便，非其治也。必用淡滲以利之，是其法也。噫，聖人之法，布在方策，其不盡者，可以意求乎。若年已五十以上者，降氣多而升氣少，得淡滲之品，是降而又降，更益其陰而重竭其陽，必用升陽補氣之劑，同升、柴、羌、獨、甘、防用之，所謂濕寒之勝，以風平之。又曰下者舉之，是因曲而為直也，若不達升陽之道，一概施治，安得取效乎。</p>
<p>瀉有寒熱，寒則脈遲身冷，不獨溲清白，或綿綿腹痛，附子理中湯加肉蔻，仲景云下利不止，與理中而利益甚。夫理中惟理中焦，此利下焦，故加附子及赤石脂、禹餘糧治之，藥與食入口即瀉者，直腸瀉也，不治。熱則脈大，口渴，便少，六一散或胃苓湯加黃連；瀉而脈滑堅者，大承氣湯。</p>
<p>凡泄瀉，津液既去，口中必渴，小便自少，不可便作熱論，須以脈參之。伏暑瀉，玉龍丸，硝、硫、礬、滑四味為末，水丸服；盛暑通於外，陰冷傷其中，連理湯治之；氣虛瀉者，四君子加升、柴、訶、蔻；傷食瀉，必噯氣如敗卵，治中湯加香、砂、枳、朮、楂、芽，再煨所傷之物，存性為末調服；傷酒瀉，葛知解酲湯；傷麵食瀉，必用卜子、曲、芽、蒼、樸；痰瀉，二陳湯加海石、神麯、青黛、竹瀝、薑汁丸服。</p>
<p>五更時瀉屬腎虛，必用補骨脂、茱萸肉、五味、山藥、茴香、茯苓、肉桂治之。其瀉已愈，至明年屆期復發者，有積也，又脾主信故耳，香砂枳朮丸加蓬、稜；虛者倍白朮加人參。</p>
<p>灸法：大瀉氣脫，不知人事，口眼俱閉，呼吸欲絕，急灸氣海如年壯，大進人參、附子，稍緩則不及救矣。又法：加灸天樞。泄瀉水穀不分，灸水分七壯，此穴能分水穀、利小便也。久痢體重，滑泄不止，用止澀諸藥不效，宜灸天樞、氣海二穴，即止。水漬入胃名曰溢飲，滑泄不止，渴而飲水，水下又泄，泄又大渴，此無藥，症宜急灸大椎。腸鳴不已，時上衝心，灸神闕。裡急後重，灸下脘、天樞、照海。下利手足厥冷，無脈者，急灸天樞、氣海。灸之不溫，脈亦不至及微喘者死。</p>

<h2>十一、厥有八症</h2>
<p>陽氣衰乏者，陰必湊之，令人五指至膝上皆寒，名曰寒厥，是寒氣逆於上也，宜六物附子湯主之。附子、肉桂、防己、炙甘草、白朮、茯苓。</p>
<p>陰退則陽進，故陰氣衰於下則陽往湊之，故令人足下熱也，熱甚則循三陰經而上逆，謂之熱厥，宜大補丸主之。黃柏一味，炒褐色為末作九。</p>
<p>肝藏血而主怒，怒則火起於肝，載血上行，故令血菀於上，是血氣亂於胸中，相薄而厥逆也，謂之薄厥，宜蒲黃湯主之。蒲黃一兩，炒褐色，清酒十大杯熱沃之，溫服。</p>
<p>諸動屬陽，故煩勞則擾乎陽而陽氣張大，陽氣張大則勞火亢矣，火炎則水乾，故令精絕，是以遷延闢積，至於夏月，內外皆熱，水益虧而火益亢，孤陽厥逆，如煎如熬，故曰煎厥，宜人參固本丸主之。人參二兩，天麥二冬、生熟二地各四兩為末，蜜丸桐子大。</p>
<p>五屍之氣，暴注於人，亂人陰陽血氣，上有絕陽之絡，下有破陰之紐，形氣相離，不相順接，故令暴厥如死，名曰屍厥，宜二十四味流氣飲及蘇合香丸主之。流氣飲：丁香、肉桂、草果、麥冬、赤茯、木通、檳榔、枳殼、厚朴、木瓜、青皮、陳皮、大腹皮、木香、蓬莪朮、人參、白朮、甘草、白芷、紫蘇、香附、菖蒲、半夏（制）、藿香。蘇合香丸：沉香、青木香、烏犀角、香附子、丁香、硃砂、白朮、訶黎勒、白檀香、麝香、蓽茇、龍腦、安息香、蘇合香各二兩，熏陸香一兩，為末，蜜丸聽用。</p>
<p>寒痰迷困，四肢逆冷，名曰痰厥，宜姜附湯主之。</p>
<p>胃寒即吐蛔蟲，名曰蛔厥，宜理中湯加川椒五粒，檳榔五分，吞烏梅丸。</p>
<p>姜附湯：乾薑、生附子煎服。烏梅丸：烏梅（去核）三十個，人參、細辛、黃柏、附子（炮）、桂枝各六錢，乾薑（炮）一兩，當歸、蜀椒（淨）各四兩，為末蜜丸。理中湯：人參、甘草，白朮、乾薑，水煎。送烏梅丸。</p>
<p>氣為人身之陽，一有怫鬱，則陽氣不能四達，故令手足厥冷，與中風相似，但風中身溫，氣中身冷耳，名曰氣厥，宜八味順氣散主之。白芷、臺烏藥、青皮、陳皮、人參、白朮、茯苓、甘草，水煎服。</p>
<p>針法：四肢厥逆，脈伏，宜用圓利針，針復溜穴，針至骨處，候回陽脈出針。</p>
<p>灸法：氣海、腎俞、肝俞。</p>

<h1>卷下</h1>

<h2>一、頭痛</h2>
<p>頭者，天之象也，陽之分也，六腑清陽之氣，五臟精華之血，皆朝會於高巔。天氣所發六淫之邪，人氣所變五賊之逆，皆能犯上而為酷害，或矇蔽其清明，或壅遏其經隧，與正氣相薄。鬱而成熱，脈滿而痛，是皆為實也。若寒濕所侵，雖正氣衰微，不與相搏而成熱，然邪襲於外，則血凝澀而脈攣縮，收引小絡而痛，得溫則痛減，是為虛也。因風而痛，抽掣惡風，或自汗出，川芎、細辛、羌活、防風、升麻、柴胡、荊芥穗，乾葛、薄荷、甘菊、藁本、天麻、蔓荊子、白芷。因暑而痛，或有汗無汗，惡熱，香薷、扁豆、藿香、黃連、厚朴、甘菊。因痰飲而痛，昏重憒憒欲吐，眼黑頭旋，天麻、半夏、白朮、陳皮、甘草、芩、連。因濕熱頭痛，頭必重，遇天陰尤甚，令人煩心，川芎、細辛、蒼朮、芩、連、羌、防、甘草。冬月厥逆而痛，大寒犯腦，深入骨髓，故頭痛齒亦痛，麻黃、羌、防、升、芷、蒼、柏、黃耆、附子、殭蠶。氣虛痛，耳鳴，九竅不利，遇勞則甚，參、耆、歸、朮、升麻、芎、芍、細辛、蔓荊子、陳皮、甘草。血虛痛，自魚尾眉尖後近髮際上，川芎、生地黃、薄荷、當歸，用沸湯泡，乘熱吸之，候溫服。氣血俱虛，參、耆、苓、朮、芎、歸、升，柴、蔓荊、細辛。凡治頭痛，皆取風藥者，乃東垣所云高巔之上惟風可到。味之薄者，陰中之陽自地生天者也。然有三陰三陽之別，太陽惡風寒，脈浮緊，頭頂痛，用麻黃、川芎、獨活、藁本、杏仁、甘草；少陽頭角痛，脈弦，寒熱，柴胡、黃芩、半夏、甘草；陽明頭額痛，自汗，發熱，不惡寒，脈浮長緩實，升、葛、芷、甘、石膏；太陰頭痛，體重，有痰，脈沉緩，蒼朮、半夏、南星、茯苓、陳皮、甘草；少陰頭痛，足冷，脈沉，氣逆為厥，麻黃附子細辛湯；厥陰頭項痛，吐涎沫，冷厥、脈浮緩，人參、吳茱萸、大棗、生薑。</p>
<p>陰經頭痛，可用溫藥，附、桂、薑、萸。風濕生熱頭痛，上壅損目，及偏正頭風，年深不愈，並宜空青膏，芩、連、羌，防、芎、柴、甘、荊。如陽明發熱惡寒而渴，白虎湯加白芷。頭旋眼黑者，必用安神散，羌、防、升、柴、知、柏、芩、連、生地、甘草；或川芎散，芎、羌、柴、細，荊、薄、菊、草、茵陳、香附、槐子、石膏。熱厥頭痛，時當嚴冬，猶喜風寒，略見溫暖，其痛便甚，清上瀉火湯，荊、防、羌、本、細、蔓、參、歸、耆、朮、紅，生甘，苓、知、柏、芩、連、升等共十九味；次服補氣湯，參、耆、辛、歸、甘、丁、麻、升，煎服。風熱頭痛，石膏散，麻黃、石膏、乾葛、首烏。頭痛及胸痛，食少寒冷，咽嗌不利，左寸弦急，宜麻黃吳萸湯，麻、吳、蒼、羌、升、藁、柴、芩、連、柏、芎、細、半、蔓、紅、甘、陳。新沐中風為首風，頭面多汗惡風，當先一日，則病甚，至其風日則少愈，大川芎湯，川芎、天麻二味為末，蜜丸，茶送下。風氣循風府而上，則為腦風，項背惡寒，腦戶極冷，神金散，麻黃、細辛、乾葛、藿香等分為末，酒下；因發散太過，宜酸收而斂之，乳香落盞散，甘、桔、陳、柴、乳香、粟殼，末服。</p>
<p>腎厥頭痛，玉真丸，硫磺二兩，石膏、半夏、硝石各一兩為末，薑汁丸，薑湯送，再灸關元百壯。寒甚者去石膏，用鍾乳或黑錫丹。痰厥頭痛，眼黑頭旋，噁心煩悶，半術天麻湯。</p>
<p>徇蒙招尤，目眩耳聾，肝風虛動也，鉤藤散，鉤藤、陳皮、半夏、麥冬、人參、茯苓、甘草、甘菊、石膏、防風。傷食頭痛，胸滿惡食，吞酸喛腐，香、砂、枳、朮、楂、曲、麥、卜；或紅丸子，三稜、莪朮、青、陳、薑、椒，醋糊丸，礬紅為衣。傷酒頭痛，葛母解酲湯，葛根、知母、參、苓、砂、蔻、青、陳、香、曲、豬苓、生薑，煎服。怒氣傷肝頭痛，宜以沉香降氣散，沉香、青、陳、柴、蘇、細、芍。臭毒頭痛，香附炒，煎服。偏頭風，總屬於痰，又左屬風，荊芥、薄荷；右屬血虛，芎、歸、地、芍。雷頭風之痛而成核塊者是也，或如雷鳴，清震湯，荷葉、升麻、蒼朮，腫核宜刺出血。亦有屬痰熱者，痰熱生風也，半夏一兩（皂角，薑汁煮），大黃二兩（酒浸紙包煨三次），殭蠶、連翹、橘紅、桔梗、天麻各五錢；黃芩七錢，薄荷三錢，白芷、粉草、礞石、硝（煅）各一錢，共為末，蒸餅丸，臨臥茶吞二錢。真頭痛，天門真痛，上引泥丸，夕發旦死，旦發夕死。腦為髓海，真氣所聚，本不受邪，一受不治，古方用參附湯，可救十之一。然天柱折及手足青至節者，則難為力矣。又法參附湯送黑錫丹，灸百會穴，或有得生者。黑錫丹：沉香、附子、胡蘆巴、茴香、肉桂各五錢，補骨脂、肉豆蔻、木香各一兩，硫、黑鉛各二兩，熔砂子二兩，酒煮，麵糊丸梧子大，陰乾，布袋擦令光瑩。每服四十丸，空心姜鹽湯下。</p>
<p>傷寒頭腫如斗，多屬天行疫病。東垣云：身半以上，天氣主之；身半已下，地氣主之。此雖邪熱客於心肺，若以承氣下之，是誅伐無過矣，宜消毒普濟飲。芩、連瀉心肺之火，橘紅、苦參、生甘草瀉火而兼補氣、牛蒡、連翹、薄荷、葛根、殭蠶、馬屁勃解毒，升麻引經，桔梗為舟楫，白湯調末，時時服少許。海藏論大頭痛者，感四時不正之氣，大抵足陽明邪熱，實資少陽相火而益熾，視其腫在何部，隨其經而治之。濕熱為腫，風木為痛，以先見者為主，治之宜早不宜遲，恐過其病所也。頭分受邪，見於至高之分，當先緩而後急。先緩者，不用重劑也，更須緩服，若急服，則不能去病。凡藥性味形體，皆宜緩施，及寒藥須酒浸炒之，其意皆是也。後急者，謂已經高分之邪，得瀉入於中焦，染於有形質之地，若不速去，反損陰也，此謂客邪，當急去之，是治客以急也，甘桔湯加石膏、白芷、牛蒡、連翹、大黃、延胡、殭蠶，荊芥。眉稜骨痛，眉骨者，目系所過，上抵於腦，諸陽經挾外邪，郁成風熱，毒上攻腦，下注目睛，遂從目系過，眉骨相併而痛；若心肝壅熱，上攻目睛而痛，亦目系與眉骨牽引而痛；風痰上攻者亦然；若脾家濕氣內郁，寒迫下焦，痛流於項，互引眉骨，有痰者、有抽掣者、有重者、有悶者，各審明而治之，選奇湯最妙，羌活，防風各三錢，酒芩一錢，甘草三錢，水煎，分三服。如因風熱者，祛風清上散，酒芩二錢，白芷一錢五分，茱萸、防風、柴胡各一錢，川烏一錢二分，荊芥八分，甘草五分，水煎服；因痰者，二陳湯加芩、芷；因風寒者，羌烏散，羌、細各一錢，川烏、草烏（俱用童便浸一宿）各一錢，酒芩、炙草各五分，共為末服。戴復庵分為二症，皆屬於肝，一作肝氣傷，發則頭引眉骨俱痛，眼不能開，晝靜夜劇，導痰湯加川烏，細辛；又作肝虛痛，若一見光明即發，生熟地黃丸主之。</p>
<p>偏正頭痛，搐鼻瓜蒂散，藜蘆、川芎、蒼耳、薄荷、焰硝，雄黃各一錢，天竺黃一錢五分，上為末，含水口中，搐鼻一七立效。治卒頭痛方：皂莢末搐鼻取嚏；又鵝兒不食草陰乾為末，取嚏亦妙。秘方貼兩太陽穴，治火熱痛，大黃為末，加焰硝等分，以井泥和捏，作餅貼之。</p>
<p>頭風塞鼻方：蓽茇、細辛為末，以豬膽汁拌，紙條蘸於鼻內塞之。又方：胡椒為末，吹之。又法：蓖麻肉五錢，大棗十五枚，共打和，塗紙上，用竹筋卷上，去筋，將此入鼻孔良久，取下清涕，即止。又法：生萊菔汁，仰臥注鼻中，左注右，右注左。　針灸經云：頭痛，頭風、頭運，皆有風、有火、有痰，亦多屬虛。如《本事方》曰：腎虛則頭痛下虛也，肝虛則頭運上虛也，均宜補之。若灸百會、囟會，而丹田、氣海必不可缺。而痛腦頂陷至泥丸者，此真頭痛，旦發夕死，夕發旦死。</p>
<p>頭痛筋攣，驚不嗜臥，謂之腎厥頭痛，宜灸關元百壯，服用玉真丸。偏正頭痛，刺絲竹空二穴，風池二穴，合谷二穴，內捻針吸氣三口，又內捻針吸氣五口，患人自覺針下有痛，一道如線，上至頭為度，長呼氣一口出針，立愈。</p>
<p>東垣云：高巔之上，惟風可到。故味之薄者，陰中之陽，自地昇天者也。所以頭痛皆用風藥治之，總其大體而言也。然患痛者，血必不足，而風藥最能燥血，故有愈治而愈甚者，此其要尤在養血，不可不審也。一人往返燕京，感受風寒，遂得頭疼，數月不休。凡頭風之藥，無所不服，其痛更甚，肢肉瘦削，扶策踵門，求予療治。予思此症明系外邪，如何解散不效，語有之曰：治風先治血，血行風自滅。本因血虛，而風寒入之，今又疏泄不已，烏能愈乎？又聞之：痛則不通，通則不痛，故以當歸生血活血，木通利脈道而行當歸之力。問患者能酒乎？曰：能，而且可多，近為醫戒，不敢飲。因令用斗酒入二味於中，浸三日夜，重湯煮滾，乘熱飲之，至醉，醉則去枕而臥，臥覺疼若失。所以取酒者，欲引二藥之性，上升於頭。至醉乃臥者，醉則挾肌膚淪骨脈，藥力方到，臥則血有所歸，其神安也。有志活人者，推此用之，思過半矣。然又有火鬱於上而痛者，經云火淫所勝，民病頭痛，治以冷劑，宜酒芩、石膏之類，治之不可泥於此法也。又有一方，用芎、歸、熟地、連翹各二錢，水煎去渣，以龍腦薄荷葉二錢放碗底，將藥乘沸衝下，鼻吸其氣，俟溫即服，服即安臥，其效甚速，然亦為血虛者所設耳。</p>
<p>腦者髓之海，髓不足，則腦為之痛，宜茸珠丹之類治之。如用風藥，久之必死。</p>
<p>目痛另有專科方藥。今附針灸法於後：眼暴赤紅腫痛，合谷、攢竹、睛明、臨泣；迎風流淚，上星、風池、肝俞、大小骨空、攢竹、臨泣、時谷針灸，二間灸。目生翳障，上星、時谷、風池、睛明、瞳子窌。目昏，肝俞灸七壯，一法灸足三里引火下降，目自明也。雀目，神庭、上星、百會、前頂、囟會五穴，宜出血，以鹽塗之。小兒肝積眼，灸時谷五壯，第一大效穴。偷針眼，視其背上有紅點如瘡，以鋒針刺破，即瘥。</p>

<h2>二、眩暈</h2>
<p>眩在眼，黑而花；暈如轉運之運。俗名頭眩、頭旋。《內經》論暈屬肝木，為上虛；仲景主痰；丹溪主火與虛。風則脈浮有汗，川芎散，川芎、白芷、防風、甘菊、人參、茯神、山茱萸、山藥、陳皮；寒則脈緊，無汗，抽掣而痛，不換金正氣散，蒼朮、厚朴、甘草、陳皮、乾薑、丁香、棗、姜。肝木上虛而眩，四物湯加天麻、甘菊、枸杞；腎虛上則頭眩，六味丸加牛膝、沉香、肉桂，納火歸元之法也。伏痰嘔逆，旋覆花湯，參、苓、朮、草、橘、半、乾薑、旋覆。因火者，茶調散或酒炒大黃末茶調服。七情所傷，半夏、茯苓、陳皮、棗仁、遠志肉、藿香、木香、肉桂、青皮。有虛在氣分或汗多亡陽而眩者，宜補中益氣加芎、地、天麻。或腦虛而眩，用鹿茸為末，同六味湯服。</p>
<p>針法：用上星、風池、合谷、神庭、肝俞、腎俞、足三里、解谿等穴，斟酌選用。</p>
<p>防眩湯：人參三錢，白朮、熟地、當歸各一兩，川芎、山萸五錢，白芍一兩，半夏三錢，天麻一錢，陳皮五分，水煎服。蓋眩暈似乎小症，卒然眼花倒僕而不可救者，治之不可不早，故曰防眩，多服受益，不可一二劑不見功而止也。</p>

<h2>三、心痛</h2>
<p>心為君主之官，丙丁之元，神靈之舍，邪氣不得而犯之。其受傷者，乃包絡也。包絡引邪，真犯心臟，謂之真心痛，必死不治。怵惕思慮則傷神，神傷則虛，而邪干之，故胞絡受邪而痛也。心主諸陽，又主陰血，故因邪而陽氣鬱抑者痛，陽虛而邪勝者亦痛；因邪而陰虛凝注者亦痛，陰虛而邪勝者亦痛。方論分為九種，曰飲、風、冷、熱、血、食、悸、蟲、疰，俱未述《內經》之旨，如《內經》論六淫為邪，乘心而痛，各有病形，故《靈樞》曰：與背相控，善瘛，如從後觸其心，傴僂者，腎心痛也。茴香、胡蘆巴、肉桂、地黃、附子、川楝、沉香、茯苓。腹脹胸滿，心尤痛甚，胃心痛也。香附、茯苓、枳、樸、蒼、陳。痛如錐針，脾心痛也。白朮、菖蒲、乾薑、歸、芍、枳、樸、香、砂、甘、陳。色蒼蒼如死狀，終日不得太息，肝心痛也。青、沉、木香、芍、桂、連、甘、吳萸。能俯不能仰，動作痛益甚，肺心痛也。白蔻、紫菀、天冬、桔梗、枳殼、乾薑。痛引小腹，上下無定，溲便難，則病心疝，取足厥陰，藥用茴香、川楝、青木香、木香，肉桂、歸，地；心痛腹脹，大便閉，枳、樸、香、菖、大黃；心痛引腰，吞欲嘔，取足少陰；心痛引背，不得息，刺足少陰，不已，取手少陽；心痛腹脹嗇嗇然，大便不利，取足太陰；心痛引背不得息，刺手太陰。如五運六氣，上下勝復相乘於心而痛，亦必有諸痛狀，苟未能悉，何以施治哉。五臟失調，皆為心痛，刺治分經，理甚明悉，至如舍針用藥，尤宜詳察其義。腎心痛者，多由陰邪上衝，故善瘛，如從後觸其心；胃心痛者，多由停滯中焦，故胸腹脹滿；脾心痛者，多由寒犯中焦，故其痛尤甚；肝心痛者，多由木火之郁，病在血分，故色蒼蒼如死狀；肺心痛者，多由上焦不清，病在氣分，故動作則痛益甚。知其在氣則順之，在血則行之，鬱則開之，滯則逐之，火多實則或散或清，寒多虛則或溫或補。若犯真心痛，乃不可治，其餘能得其情，應手而愈，易如探囊也。</p>
<p>胃脘痛，今呼心痛也，其在蔽骨之下，所謂胃脘當心而痛。胃為濕土，位列中焦，多氣多血，是水穀之海，五臟六腑皆於此受氣。而天人所感之邪，壯者氣行自愈，怯者著而成病，沖和之氣，變為偏寒偏熱，因而水穀不消，停留與中氣相薄為痛。惟肝木之相乘者為甚，木性暴疾，兼之正克也。其痛必上支兩脅，飲食不下，咽膈不通，則為食痹，謂食入即痛，吐出乃止也。腎氣之厥，心痛厥氣上逆，則寒邪犯胃而痛也。或滿或脹，或不能食，或嘔吐，或吞酸，或大便難，或泄瀉，及面色浮黃，四肢倦怠，皆本病在胃也。其天人相襲之邪，大抵與厥心痛者相仿，但與胃病兼見也。《難經》曰：陰維為病苦心痛。陰維行諸陰而主營，營為血，血屬心，故苦心痛也。潔古云：其治在足少陽三陰交。仲景太陰症則理中湯，少陰症則四逆湯，厥陰症則當歸四逆湯、吳茱萸湯。又云：按之心下滿痛者為實，大柴胡湯下之；脈堅實不大便，腹滿不可按，承氣湯下之。丹溪云：外受寒者當溫散，內受寒者當溫利。病久屬郁，鬱則熱，用山梔為溫藥之嚮導，則邪氣易伏。寒客於胃，則卒然而痛，外吸涼風，內食涼物，二陳湯加草果、豆蔻、吳萸、乾薑之類。</p>
<p>卒心痛，脈洪數，黃連一味煎，頓服。大熱作痛，清中湯，黃連、山梔、半夏、陳皮、茯苓、甘草、草豆蔻、生薑。有按之痛減者，是屬虛，宜酸斂而養之，不宜辛散。死血作痛，脈澀壯盛者，抵當丸。虛弱人四物湯加桃仁，桂心、蓬朮、山甲、降香。又有痰積作痛，南星安中湯。痰重者，加白螺螄殼或海蛤殼煅存性一錢調服。心膈大痛，發厥嘔逆，藥不納者，趁勢以鵝毛探吐，痰盡而痛止。食積作痛，山楂、草果、曲、芽、青、陳。酒積作痛，白蔻，砂仁、乾薑。痰火痛，白礬、硃砂等分為末，醋和丸，薑湯下。寒氣痛，菖蒲、良薑、草蔻、砂仁、厚朴等分煎服。腎氣逆上，衝心而痛，韭汁和五苓散為末作丸，茴香湯下。蟲痛則面有白斑，唇紅能食，或口吐沫，先以肉汁及糖，引蟲向上，然後用妙功丸空心服，方見癇門。因蝟作痛，痛有作止，令人吐蛔或渴，與飲轉入轉吐，蛔動故也，川椒、烏梅、檳榔、黃連煎服，氣刺痛，沉香降氣散，沉香、砂仁、甘草，薑汁和丸，湯下二錢；或四磨湯，木香、烏藥、沉香、鬱金等分，各水磨和酒服。</p>
<p>脈法：浮大結宜降氣，沉澀宜和血，沉細遲易治，堅大實長滑數者難治。</p>
<p>針灸法：心脾疼痛，灸上中脘、脾俞、胃俞、腎俞、足三里，刺內關、三里、三陰交、內庭、公孫。心痛欲絕，一時無藥，急灸大拇足指甲，男左女右，三壯立效。</p>

<h2>四、腹痛</h2>
<p>經脈者，天真流行之道路也。水穀之精，散為營衛，行於脈之內外，調和五臟，灑陳六腑，法四時升降浮沉之氣，以成生長化收藏，皆天真之妙用也。故曰：氣血者，人之神，不可不謹養。養之則邪不能傷，失之則營衛解散，諸邪乘虛客入矣。於是氣停積聚，為積為痰，血瘀血畜，當邪正相搏，故作痛也。</p>
<p>脾胃內舍心腹，心肺內舍胸膺，兩脅胠內舍肝膽，小腹腰內舍小腸與腎，大小腸、衝任皆在小腹，此臟腑所舍之部位也。</p>
<p>《靈樞》曰：風雨傷於上，清濕傷於下。傷於上者，病從外入內，從上而下也，次傳經傳輸，六經不通四肢，則肢節痛腰背強，或著孫脈，或著絡脈，或著經脈，或著輸脈，或著伏沖之脈，或著於腸胃之募原，皆能成積而痛。傳於下者，病起於足，故積之始生，得寒乃生，厥乃成積，厥氣生於足之下脛，寒之則血脈凝，注寒氣上入腸胃而腹脹，腸外汁沫之道，聚不得散，日以成積。又曰傷於臟者，病起於陰，多飲則腸滿；起居不節，用力過度，則絡脈傷，陽絡傷則血外溢而衄血，陰絡傷則血內溢而尿血，腸胃之絡傷則血溢於腸外，有寒汁沫與血相搏，則積成矣。卒然外中於寒，內傷憂怒，則氣逆，上下凝結不通而積成矣。未至於結塊，乃汁沫聚也。至於七情氣逆，營衛不行，則液聚血凝，及飲食用力過度亦然，不必陰與冷始作痛也。又《素問》有云：胃實血虛，其脈軟散，當治食痹。</p>
<p>《素問》云：歲土太過，濕淫所勝而痛。有言衝脈之病氣溢於大腸，繞臍而痛；有脾傷傳腎，少腹冤然而痛；有肝熱腹痛；有腎虛腹痛；有太陰厥心痛引背。則諸邪竟入作痛，何必與寒氣相關明矣。</p>
<p>《難經》曰：臍上痛，心症也；臍下痛，腎症也；臍右痛，肺症也；臍左痛，肝症也。若厥心痛，與五邪相乘而痛。更有五臟之疝，不幹睪丸，止在腹作痛者。種種察之，庶為醫之能事，則病無遁情矣。臍下忽大痛，人中黑者，多死。</p>
<p>《素問·舉痛論》敘腹痛十四條，屬熱者僅一條，須審正氣之虛實、別邪之盛衰最為切要。</p>
<p>中脘痛，太陰脾也，實者，香、砂、枳、朮、連、樸、蒼、蓬、附、蔻；虛者，參、朮、歸、芍、耆、茯、甘、陳、益智、乾薑、飴糖。</p>
<p>臍腹脊痛者，少陰腎也，薑、桂、茴、附。少腹痛者，厥陰肝也，歸、芍、歸、辛、甘、通、薑、棗；痛甚者，正陽散，附、薑、皂角、甘、麝，或仲景芍藥甘草湯，甲己化土，真神方也；如綿綿而痛，喜熱喜按，香砂理中湯；寒痛得溫藥不效，用神保丸，木香、胡椒各二錢五分，巴豆十粒（去皮心，研去油），蠍七個，蒸餅丸椒目大，硃砂三錢為衣，每服七丸，空腹津唾下。</p>
<p>時痛時止，脈洪數，用芩、連、梔、芍、香、殼，樸、陳、甘、蒼。如冒暑宜香茹飲加參、苓、朮、草；如感濕而痛，小便癃，大便溏，脈細，胃苓散；如蟲痛，烏梅丸、感應丸治之。</p>
<p>小腹痛，因蓄血，桃仁承氣湯加山甲、桂；因寒者，木香、茴、桂、吳萸、青；死血痛，脈沉澀，降、桂、桃、歸、山甲、大黃、胡索；因疝痛者，茴、桂、川楝、青皮、木香、青木香。若甲錯腹皮急或繞臍痛及生瘡，乃小腸癰也，脈數為膿，用大黃、葵根下之，更以太乙膏丸服。脈細小遲者生，堅大疾數浮長者死，大痛而喘、人中黑者死。</p>
<p>針法：凡刺腹痛，須針足三里，下氣為良。脾虛腹滿，腸鳴切痛，內關、中脘、三里、三陰交。繞臍痛，大腸病也，天樞、三里。胃脘痛，內關、脾俞、胃俞。臍下冷疼，灸氣海。脾虛䐜脹，公孫、三里、內庭。霍亂吐瀉欲死及小腹滿痛，委中刺出血。</p>

<h2>五、腰痛</h2>
<p>經曰：腰者腎之府，轉搖不能，腎將憊矣。又云：巨陽虛，則腰背頭項痛。此二條言正氣之虛也。又云：膀胱之脈，挾脊抵腰，故挾脊痛，腰似折。此一條，言邪之實也。膏梁之人，久服熱劑，醉飽入房，損其正氣，則腎熱腰脊病，久則髓減骨枯，發為骨痿。夫足之三陽，從頭走足，足之三陰，從足走腹，經筋所過，皆能為痛，治之者須審系何經，方得應手取效，若專腎虛，或有寒濕風為病者，毋乃固乎？然虛為本，而風寒濕熱為標，亦有瘀血、滯氣、痰飲為病者。風痛者，浮脈，或左或右，痛無定處，牽引兩足，宜防風、蒼朮、白芷、桔梗、陳皮，桃仁、芎、歸、樸、殼；甚者加全蠍。濕痛者，久坐水濕或著雨露，脈必帶緩，天陰尤甚，體亦沉重，宜用腎著湯，茯苓、白朮、乾薑、甘草；或滲濕湯，二朮、二苓、丁香、乾薑、甘草。如挾風加獨活、寄生。如挾寒加栓枝，並用摩腰膏，附子、烏頭尖、南星各三錢五分，丁香、樟腦、硃砂、雄黃各三錢五分，乾薑一錢、麝香五分，蜜丸如圓眼大，薑汁化如厚粥，塗掌上烘熱，摩腰中，即以熱綿裹之。挾濕熱者，羌活勝濕湯。感寒者，腰間如水溶溶，脈必浮緊，得熱則減，見寒則增，宜用麻黃、白芷、桂、附、芎、桂、樸、蒼、陳、姜，並用摩腰膏。傷熱痛者，脈必洪數，口渴、便秘，甘豆湯，甘草二錢，馬料黑豆二合，加天麻、續斷。因閃僕傷痛，乳香散，虎脛骨、敗龜版各二兩，血竭、赤芍、乳、沒、歸、防、白附、蒼耳、自然銅、骨碎補、肉桂、乾薑各三兩，牛膝、天麻、檳榔、五加皮、羌活各二兩為末，酒下一錢；甚者加桃仁、全蠍，或用黑豆神散，黑豆半升炒取皮，芎、歸、芍、地、薑、桂、甘草、蒲黃為末，童便和酒下二錢。如不效，瘀血甚也，宜五積散加桃仁、紅花、大黃、蔥白煎服。痰注痛者，用二陳湯加南星、烏藥、香附、枳殼。氣滯痛者，脈沉，宜沉香、砂仁、香附、烏藥、枳殼、桂。怒氣傷肝及腎痛者，芎、歸、牛膝、杜仲、木瓜、細辛、半夏、菖蒲、甘草、棗仁煎服。思憂傷脾及腎痛者，歸脾湯加香附，烏藥、沉香、砂仁。抑鬱失志，七氣湯，人參、半夏、肉桂、胡索、乳香、甘草、薑、棗煎服。腰痛連引足膝者，杜仲、續斷，牛膝、骨碎補、補骨脂、胡索、靈仙、桃仁等分為末，酒糊加核桃仁打勻丸，酒下五錢。</p>
<p>凡諸腰痛，俱系腎虛，而挾邪者，須去其邪，無邪則從補可也。肉桂為引導之藥，鹿茸、羊腎亦可。腎藏志，盛怒傷志而致腎敗者，則腰脊強，不能轉搖而死。</p>
<p>針法：腰痛脊強，宜人中、委中。腰疼及頭項強，回顧不便，委中、承漿、腰俞、腎俞。腰痛不可俯仰，如坐水中，穴取如上。腰背內引痛，不得屈伸，近上合谷，近下崑崙。挫閃腰並脅痛，尺澤、曲池、陽陵泉、委中、人中、崑崙。腰背俱疼，合谷、崑崙，風池。腰及足疼，委中出血。腎虛腰痛久不已，肩井、腎俞。</p>
<p>《素問·刺腰痛論》曰：腰痛不可舉者，申脈、僕參主之，此太陽之穴，陽蹻之本也。又曰：「會陰之脈令人腰痛，痛上漯漯然汗出，汗乾令人慾飲，飲已欲走，刺直陽之脈上三痏，在蹻上郄下五寸橫居，視其盛者出血。何謂直陽？足太陽之脈，循腰下會於後陰，故曰會陰，直陽之脈，即陽蹻所生之申脈穴也，蹻上郄下承筋穴也，即腨中央如外陷者中也，太陽脈氣所發，禁刺，但視其兩腨中央血絡，乃刺之出血。</p>
<p>又曰：昌陽之脈令人腰痛，痛引膺，且䀮䀮然，甚則反折，舌卷不能言，刺內筋為二痏，在內踝上大筋前，太陰後上踝二寸所。此內筋即蹻之郄，交信穴也。（痏音委。）</p>

<h2>六、癲狂</h2>
<p>顛屬腑，痰在包絡，故時發時止。</p>
<p>狂屬臟，痰入於心，故發而不止。</p>

<h3>癲證</h3>
<p>顛之為症，多因抑鬱不遂，侘傺無聊，精神恍惚，語言錯亂，或歌或笑，或悲或泣，如醉如癡，語言有頭無尾，穢汙不知，經年不愈，俗呼「心風」，有狂之意，不至狂之甚也。暴病曰狂，久病曰顛。故越人云：重陽者狂，重陰者顛也。侘傺音嗏掣，失意之狀。《內經》云：顛疾始生，先不樂，頭重痛，目赤身熱，上實下虛，已而煩心。骨顛疾者，顑齒諸俞分肉皆滿，而骨居，汗出煩悗，嘔多沃沫，氣下泄，死不治；筋顛疾者，身踡攣急，嘔多沃沫，氣下泄，不治。脈顛疾者，暴僕，四肢之脈皆脹而縱，嘔多沃沫，氣下泄，不治。顛發如狂，死不治；下泄不治。顛發如狂不治者，由心之陽不勝其陰氣之逆，神明散亂，陽氣暴絕，故發如狂，猶燈將滅而復明也。下泄不治者，因其邪入於陰，陰氣滿閉塞於下，則逆而上，今氣下泄，腎氣虛脫故也。《難經》云：脈有陰陽，更有相乘相伏也。脈居陰部，反見陽脈，為陽乘陰，雖沉澀而短，為陽中伏陰；脈居陽部，反見陰脈，為陰乘陽，雖浮滑而長，為陰中伏陽也。王叔和《脈經》云：陰附陽則狂，陽附陰則顛。陽附陰者，腰以下至足熱，腰以上寒也；而陰附陽者，腰以上至頭熱，腰以下寒也。蓋陰氣虛，不能治於內，則附陽而上升，陽無承而不下降，故上熱而下寒；陽氣虛，不能衛於外，則附陰而下陷，放下熱而上寒。</p>
<p>脈法：堅實者生，沉細者死。</p>
<p>治法：先宜以吐劑，湧吐其痰涎，用控涎丹，甘遂、大戟、白芥子等分糊丸，淡薑湯下七丸，壯者倍之，下其痰涎。然後用安神之劑，人參、茯神、琥珀、菖蒲、遠志、棗仁、乳香、硃砂等。</p>
<p>因驚而得者，宜抱龍丸。水銀二兩，乳香一兩，黑鉛一兩五錢，將鉛入銚內，下水銀結成珠子，次下硃砂、乳香，乘熱研勻，如芡實大，每用一丸，空心，井花水下。</p>
<p>因思慮而得者，歸脾湯主之，兼用天地膏酒服之。有因心經畜熱煩躁，眼鼻如放火，宜芩、連、花粉、竹葉、丹參、麥冬、茯神、遠志、菖蒲、牛黃之類。或因七情所致，郁痰為熱者，宜鬱金七兩，明礬三兩，細末，薄荷湯泛為丸，每服二錢，菖蒲薑湯下。或因氣滯痰迷，用四七湯，半夏一錢五分，茯苓一錢，蘇葉六分，厚朴九分，薑、棗煎服。如初起，宜吐其痰，苦瓜蒂為末一錢，井水調一盞服，得大吐後熟睡，切勿呼醒。吐時或令人目翻，須以手掩之。吐不止，用麝香少許，溫湯調下，即止。吐後須人參、茯神、棗仁、遠志、琥珀、南星、半夏、木香煎服。</p>
<p>附：孫兆治一僧患顛，半年不愈，但盡以咸物食之，待其發渴，可來取藥，今夜得睡，明日便愈，如法治之，僧睡兩晝夜而愈。倘一驚覺，不可復治。用酒調靈苑辰砂散，辰砂一兩，棗仁、乳香各五錢，加人參為末，調酒，恣飲取醉，令臥淨室，病淺半日或一日，病深者三兩日醒。惜人不能用此，人但知安神，而不知昏其神則神始安。得睡者，酒力也，醉則神昏而反安矣。一婦人發顛，用心藥不效，投養正丹二服，乳香湯送下，更以三生飲佐之，生川烏、生南星、生附子，加木香，治愈。一人發顛，脈喘且搏，以承氣湯數下之而安。</p>
<p>針法：神門、內關、人中、足三里、陰蹻、陽蹻、鳩尾、心俞、膽俞、勞宮、間使選用。</p>
<p>灸法：小兒驚癇如狂，金門、僕參灸三壯，炷如麥大，用針入一分。又灸崑崙三壯，炷同，用針入三分。</p>

<h3>狂症</h3>
<p>狂之為症，皆因陽邪過極，故猖狂剛暴。若有邪附，殺人不避水火，罵詈不避親疏，登高而歌，棄衣而走，逾牆上屋，非力所能。或言未嘗見之事，少臥而不飢，自高貴也，自辨智也，自負倨也。故越人云「重陽者狂」也，《素問》帝曰：有怒狂者，此病安生？岐伯曰：生於陽也……陽氣者，因暴折而難決，故善怒，名曰陽厥。陽明者常動，巨陽少陽不動，而動太疾，此其候也。奪其食即已。夫食入於陰，長氣於陽，故奪其食即已，使之服生鐵落為飲，以其下氣疾也。陽氣抑鬱而不能疏越，少陽膽木挾三焦相火與太陽陰火而上逆，使人發怒如狂；奪其食者，不使火助邪也，飲以生鐵落者，全以制木也，木平則火降，故曰下氣疾也。</p>
<p>帝曰：陽明……病甚則棄衣而走，登高而歌，或至不食數日，逾牆上屋，皆非其素所能也，病反能者，何也？岐伯曰：四肢者諸陽之本也，陽盛則四肢實，實則能登高也。熱盛於身，故棄衣欲走也。上焦實者，從高抑下，生鐵落飲。生鐵四十斤，入火燒赤，砧上捶之，有花墜地，是名鐵落，用水二斗，煮取一斗，入後藥：石膏三兩，龍齒、茯苓、防風各一兩五錢，元參、秦艽各一面，入鐵汁中煮取五升，加竹瀝二合，飲之自愈。</p>
<p>在上者越之，瓜蒂散見前。陽明實則脈伏，大承氣下之。虛者補之，寧志膏，人參、棗仁、辰砂、乳香，白蜜丸，薄荷湯下。或一醉散，硃砂五錢，曼陀羅花二錢五分，末服二錢，酒送下。若醉便臥，勿驚之。</p>
<p>經云：悲哀動中則傷魂，魂傷則狂妄不精，不精則不正。當以喜勝之，以溫藥補魂之陽，驚氣丸主之。附子、木香、殭蠶、花蛇、天麻、麻黃、橘紅、乾葛各五錢，蘇葉一兩，南星五錢，硃砂為衣，入冰、麝少許，蜜丸圓眼大，一丸金箔薄荷湯下，又防己地黃湯，防己一錢，桂枝、防風各三錢，甘草二錢，酒浸一宿絞取汁，生地二斤，酒浸亦取汁，和勻服，以補魂之三陽。喜樂無極則傷魄，魄傷則狂。當以恐勝之，以涼藥補魄之陰，辰砂丸主之，辰砂、白礬、鬱金為末蜜丸；或以苦參一味為末蜜丸，薄荷湯下十丸，補魄之三陰。婦人熱入血室，發狂不認人者，牛黃丸。牛黃二錢五分，硃砂、丹參、丹皮、鬱金各三錢，冰片、甘草各一錢，為末蜜丸，新汲水化服。又方：一味大黃為末，童便調服。</p>
<p>凡症類癲狂，脈候乍大乍小，乍有乍無，忽如常脈，忽如鵲啄、屋漏、魚戲，皆祟脈也。秦承祖先以蘇合香丸湯調灌之，稍蘇，用木香、烏藥、白蔻、檀香、砂仁、藿香、蒼朮、厚朴、陳皮、甘草、生薑煎服。又取東向桃柳枝各七寸，煎湯灌之，可蘇。虛人蘇後，以歸脾湯調理之。</p>
<p>凡中鬼祟，卒然仆地，切勿移動其屍，宜令人圍繞，打鼓，焚燒諸品名香，香氣不斷，候蘇，方可移動。</p>
<p>癲狂哭笑、悲歌、妄言、登高、棄衣，多稱鬼神邪言，灸百會三壯，針人中三分，心俞、間使、神門。</p>
<p>灸屍厥秘法：用繩圍患人，男左女右，臂腕截斷，將繩從大椎上度下，脊上繩頭盡處，七七壯，立蘇。</p>
<p>扁鵲取三陽五會，更熨兩脅下，虢太子即蘇。</p>
<p>屍厥暴死，不省人事，百會、人中、啞門、合谷。</p>

<h2>七、癇症</h2>
<p>癇病發時昏不知人，卒然倒僕，甚而瘛瘲抽掣、目上視或口眼喎斜，或作六畜聲，將醒時，口吐涎沫。有連日發者，有日三、五次發者。中風、中寒、中暑、中熱則僕時無聲，醒時無涎，不復發也。痙病亦屢發熱，身體強直，角弓反張，不知癇之身軟或為六言之鳴也。痙舊作「痓」，傳寫之誤也。此症面赤目赤，頭搖口噤，背反弓張或頸項強急者，世多認作驚癇治之，夭枉者比比耳。痙亦有二症，熱為寒抑，無汗之痙也；濕蒸為熱，有汗之痙也。明者別之。</p>
<p>癇症之發，厥由腎中龍火之上升，而肝家雷火相從而助也。惟有肝風，故作搐搦，搐搦則通身之脂液逼迫而上，隨逆氣而吐出於口也。陰氣虛，不能寧謐於內，則附陽而上升，故上熱而下寒；陽氣虛，不能周衛於外，則附陰而下陷，故下熱而上寒。《脈經》曰：寸口脈前部左右彈者，陽蹻也，動苦腰背痛又為癲癇，僵仆羊鳴，惡風偏枯，麻痹身體強。又曰：微澀為風癇，並取陽蹻，在外踝上三寸，值絕骨，是穴即輔陽穴也。又曰：寸口脈後部左右彈者，陽蹻也，動苦癲癇寒熱，皮膚淫痹，又為少腹痛，裡急，腰及髖窌下相連陰中痛，男子陰疝，女子漏下不止。髖，髀骨也；窌，腰下穴也。張潔古曰：二脈起於足，使人蹺捷也。陽蹻之絡為病，陽急則狂走，目不寐，表病里和，陽病則寒，可針風池、風府，風府在項後入髮際一寸，大筋內宛宛中。陰蹻為病，陰急則陰厥，脛直，五絡不通，表和里病，陰病則熱，可灸照海穴及陽陵泉，在膝下一寸，䯒外廉陷中。又曰：癲癇晝發灸陽蹻，夜發灸陰蹻。</p>
<p>王叔和《脈經》曰：寸口脈從少陰斜至太陽，是陽維脈也。動苦肌肉痹癢，皮膚痛，下部不仁，汗出而寒，又苦顛仆羊鳴，手足相引，甚者失音不能言，宜取客主人，在耳前起骨上廉，開口有空，乃手足少陽、陽明之會。又曰：寸口脈從少陽斜至厥陰，是陰維脈也。動苦顛癇僵仆羊鳴，又苦僵仆失音，肌肉痹癢，應時自發，汗出惡風，身洗洗然也，取陽白、金門。僕參。</p>
<p>又曰：尺寸俱浮，直上直下，此為督脈腰脊強痛，不得俯仰，大人顛病，小兒風癇。又脈來中央浮，直上直下動者，督脈也，動苦腰背膝寒，大人顛，小兒癇，宜灸頂上三壯。即腦戶之類。張仲景《金匱》云：脊強者，五痙之總名，其症卒口噤，背反張，諸藥不已，可灸身柱、陶道、大椎穴。又云：痙家脈築築而弦，直上下行。《難經》曰：督之為病，脊強而厥。王海藏云：此病宜用羌活、獨活、防風、荊芥、細辛、藁本、黃連、大黃、附子、烏頭、蒼耳之類。</p>
<p>巢氏不達《內經》、叔和之旨，妄立五癇之說，一曰陽癇，二曰陰癇，三曰風癇，四曰馬癇，五曰濕癇。不知癇症之發，由腎肝龍雷上衝，如從標而得者，止在經脈不通；從本而得者，邪入腎間動氣。夫兩腎間動氣是生氣之本、臟腑之根、呼吸之門也。所謂生氣者，陽從陰極而生，即蒼天之氣所自起之分也。故經曰：蒼天之清淨，則志意治，順之則陽氣固，雖有賊邪不能害也。或經脈引入外感，內傷於本，即傷其生化之原，而命門相火自下逆上，塞其音聲，迫出遍身之鳴，與脾之涎沫湧出於口，潮入於心，故卒倒無知，而古今論治，皆不審《內經》之旨，深可慨也。</p>
<p>劉河間以為熱甚而風燥，其兼化也，專清涼為主。三因分：六氣為外因，七情為內因，飲食為不內不外因。</p>
<p>丹溪主痰與熱，用星、半、芩、連為主，熱多者清心，痰多者行吐，然後用安神平肝之劑調之。歸、地、芎、柴、硃砂、青黛、牛黃、金箔之類。</p>
<p>張子和法汗、吐、下並行，虛而不勝三法者，宜星、香、苓、參、菖蒲、門冬、全蠍、竹瀝；或龍腦安神丸，犀角、茯神、人參、麥冬各二兩，冰、麝、牛黃各三錢，馬牙硝二錢，甘草、骨皮、桑皮各一兩，金箔三十五片，蜜丸彈子大，薑湯下，日三服。因火熱者，黃連、麥冬、茯神、竹葉、半夏、南星、柏子仁、菖蒲。元氣實者，滾痰丸，大黃二兩，黃芩三兩，沉香一兩，礞石、硝石同煅一兩，水澄竹瀝、薑汁、神麯糊丸；或參朱丸，虛實可用最妙，以人參、蛤蚧、硃砂等分為末，豬心血為丸，金銀湯送下。</p>
<p>晝發治陽蹻，宜升麻湯，麻黃（連節）八錢，蒼朮一兩五錢（炒），防風八錢，炙甘草五錢，空心煎服。夜發治陰蹻，宜四物湯加柴胡、栝蔞、半夏、南星、菖蒲、遠志、棗仁、知母、黃柏，空心煎服。</p>
<p>晨朝發者，病在足厥陰肝；平旦發者，病在足少陽膽；日午發者，病在足太陽膀胱；黃昏發者，病在足太陰脾；人定時發者，病在足陽明胃；半夜發者，病在足少陰腎。前方中依發時加引經藥治之。</p>
<p>《千金方》云先身熱、瘛瘲、驚啼而後發，脈浮大者，為陽癇，在腑易治；先身冷、不驚掣、不啼叫而病發，脈沉細者，名曰陰癇，在臟難治。</p>
<p>劉宗厚云：陰陽癇即急慢驚也。</p>
<p>陽癇者，痰熱客於心胃，聞驚而作，若痰熱甚者，雖不驚觸亦作也，宜用涼劑。陰癇者，亦本於痰熱，而用寒涼太過，損傷脾胃，變而成陰，法宜溫補，以燥濕之品治之。病久而痰成窠囊，須與厚朴丸。厚朴、川椒、川烏各一兩半，紫菀、吳萸、柴胡、菖蒲、桔梗、茯苓、官桂、皂角、乾薑、人參各二兩，黃連二兩半，巴霜五錢，蜜丸桐子大，每服五七十丸，薑湯下。春夏加黃連二兩，秋冬加厚朴二兩，外加人參、菖蒲、茯苓各一兩五錢。窠囊日久必至生蟲，宜妙功丸服之。木香、丁香、沉香、各五錢，乳香、麝香、熊膽各二錢五分，白丁香三百粒，輕粉四錢五分，雄黃、青皮、芩、連、胡連各五錢，黑醜、三稜、蓬朮、雷丸、鶴蝨、甘草、陳皮各一兩，大黃一兩半，赤豆三百粒，巴豆七粒，蕎麥麵兩半作糊，每丸重一錢，硃砂為衣，陰乾，溫水化開服。輕者即愈，童者不三服，用治諸癇俱效。然須防其再發，宜十全大補湯加棗仁、遠志、麥冬、硃砂、金銀箔補其心氣，經年不輟，可保不發；而六味丸亦不可少，如脈沉小急實，虛而弦急者，皆不治。</p>
<p>灸法：狂言不避水火，間使三七壯，百會九壯。癲癇瘛瘲，不知所苦，二蹻主之，男陽蹻，女陰蹻。晝發取陽蹻申脈，夜發取陰蹻照海。失志癡呆取神門、鬼眼、百會。凡灸兩蹻各二七壯，必先用藥下之乃灸，否則痰氣壅塞必殺人。小兒急慢驚癇，切不可執持，其發搐又不可混灸，愚謂風癇可灸，驚熱不可灸，風癇之痰，若灸著穴，痰去心清，可漸安矣。每見人無術，輒投艾火，不惟失穴，兒反增悸，且小兒經絡脈道未全，戒之。小兒驚癇，先怖恐啼叫乃發也，用炷如麥大，灸頂上旋毛中三壯及耳後青絡脈。風癇先出手指，如數物狀，乃發也，灸髮際宛宛中三壯。豬癇病如屍厥，口吐清沫，灸巨闕三壯。羊癇目瞪吐舌，羊鳴，灸第九椎下間三五壯。馬癇張口搖頭，身反折，馬鳴，灸僕參左右各三壯。牛癇善驚反折，手掣手搖，灸手少陰掌後去腕五分陷中。</p>

<h2>八、怔忡驚悸恐</h2>
<p>人之所主者心也，心之所主者血也。心血消亡，神氣失守，則宅舍空虛，痰因以客，此怔忡之所由作也。心中惕惕然跳，築築然動，怔怔忡忡，不能自安，即所謂悸也，一屬虛，一屬飲。虛由陽氣內虛，心神不足，內動為悸，宜人參、白朮、黃耆、甘草、茯神以養心氣；虛由陰氣內虛，火即妄動而悸，宜參、麥、生地、歸身、龍眼以養心血。飲由水停心下，侮其所勝，心君畏水不能自安，故惕惕而悸，宜茯苓、白朮、半夏、橘紅、茯神以清其痰飲；或有汗吐下後，正氣內虛，以致怔忡者，宜參、耆、朮、草、歸、芍之類以補其耗散之氣血；亦有邪氣攻擊而悸者，宜審其為何邪而攻去之。又有脈來結代，是營衛不行，非補氣血生津液者不能治也。</p>
<p>心為君火，包絡為相火，火為陽，陽主動，君火之下，陰精承之，相火之下，水氣承之，如是則動得其正。而清淨光明為生之氣也，若之所承，則煩熱而為怔忡，當補其不足以安其神氣，未瘥則求其屬以衰之，壯水之主以制陽光也。各臟有疾，皆能與包絡之火合動而為怔忡，隨其所犯而補瀉之，更須從包絡而調之平之。如各臟移熱於心，以致胞絡火動者，治亦如之。</p>
<p>有所憂慮便怔忡者，屬虛，歸脾湯主之。有時作時止者，痰因火動也，溫膽湯加黃連，或二陳加枳實、香茹。瘦人多血虛，肥人多氣虛或痰飲。陰火上衝，怔忡不已者，甚則頭運眼花，齒髮脫落，或見異物鬼神之類，或腹中作響，皆宜滋陰降火，宜六味加知、柏、茯神、棗仁養心之品。日服降火藥不愈者，是無根失守之火，宜八味丸。亦有所求不遂或過縱自悔，噓嗟夜語，若有所失者，宜以溫膽湯加人參、柏子仁為丸，辰砂為衣，日三服。胸中否塞，不能飲食，心中如有所怯者，喜居暗室或倚門後，見人即畏避無地，此名卑惵之病，專由於血不足也，宜人參養營湯加藿香、穀芽。</p>
<p>驚、悸、恐各有不同。驚者，卒然驚觸，不自知也。悸者，本無所驚，心自動而不寧，即怔忡也。恐者，自疑若人將捕，不能獨坐臥也。治之之法，悸則祛其痰，驚則安其神，恐則定其志。心為離火，內陰而外陽；腎為坎水，內陽而外陰。心以神為主，腎以志為主。陽火陰水，心腎既濟，神志自寧，全在陰精上奉以安其神，陽氣下藏以定其志。</p>
<p>驚氣入肝。黃帝問曰：足陽明之脈病，惡人與火，聞木音則惕然而驚。岐伯曰：陽明者胃脈也，胃者土也，聞木音而驚者，土惡木也。因大驚而成者，脈必動如豆粒而無頭尾，以黃連安神丸鎮之，硃砂、黃連、生地、歸頭、甘草，為末蜜丸。腎虛而恐，人參、黃耆、白朮、元參、黃柏（鹽水炒）、當歸、熟地等。膽虛而恐，人參、枸杞、棗仁，柏子仁、熟地、五味、桂、半夏、茯苓、陳皮。肝膽俱虛，百藥不效，鹿角膠酒化，空腹下五錢，極妙。古人所謂肝無虛，不可補，補腎即所以補肝也。肝藏血，血不足則恐，四物湯加山萸、棗仁、丹參、圓肉；胃虛則恐，必宜六君子湯主之；怵惕思慮則傷神，神傷則恐懼自失，歸脾湯主之。經云：精氣並於腎則恐。地黃、天冬、枸杞、遠志、茯苓。健忘者，腸胃實而心虛，心虛則營衛留於下，久之不以時上，故善忘，歸脾湯加升、柴、大棗。腎盛怒而不止則傷志，志傷則喜忘其前言，地黃、歸、芍、丹皮、遠志、茯、杞、天冬。思慮過度，痰迷心竅而善忘者，歸脾湯加橘、半、枳、朮、茯神、硃砂。心腎不交宜朱雀丸，沉香五錢，茯神二兩，蜜丸，參湯送下；或交泰丸，黃連一兩，肉桂一錢，為末蜜丸，淡鹽湯送下。</p>
<p>針法：心中虛惕，神思不安，膽俞、心俞、內關、通里。怔忡健忘不寐，手少陰心虛，內關針五分灸三壯，神門針三分灸二七壯，少海針一分。</p>

<h2>九、健忘</h2>
<p>經云：上氣不足，下氣有餘，腸胃實而心肺虛，虛則營衛留於下，久之不以時上，故善忘也。又曰：腎盛怒而不止則傷志，志傷則喜忘其前言。血並於下，氣並於上，亂而喜忘，宜代抵當丸去其瘀血。大黃四兩，生地、歸尾、桃仁、山甲、元明粉各一面，桂三錢，為末蜜丸。</p>
<p>思慮傷脾，歸脾湯，挾痰加薑汁、竹瀝。精神短少，人參養營湯，參、耆、術，草、熟、芍、歸、苓、桂心、遠志、五味、陳皮、薑、棗。痰迷心竅，導痰湯，二陳加膽星、枳實；或二陳送壽星丸，琥珀、膽星、硃砂、豬心血、薑汁丸，參湯送下。上盛下虛，以丹參、麥冬、茯神、遠志、人參、黃耆、甘草、升、柴。水火不交，宜朱雀丸，見前。稟賦不足以致健忘，孔聖枕中丹，遠志肉、石菖蒲、龍骨、龜甲，等分為末，酒服三錢。又方，石菖蒲、遠志肉等分為末，戊子日服二錢，令人不忘。丁酉日密自往市，買遠志，戴帽中歸，然後為末，酒調服，勿令人知，治忘如神。</p>

<h2>十、不能寐</h2>
<p>經曰：衛氣留於陽，則陽氣滿，不得入於陰，則陰氣虛，故目不瞑也。衛氣留於陰，則陰氣盛；不得入於陽，則陽氣虛，故目閉也。《難經》云：老人臥而不寐，少壯寐而不寤。少壯者，血氣盛，肌肉滑，氣道通，營衛之行不失於常，故晝日精夜不寤也。老人血氣衰，氣肉不滑，營衛之道澀，故晝日不能精，夜不得寐也。經曰：諸水病者，故不得臥，臥則驚，驚則咳甚。陰虛目不瞑，《內經》飲以半夏湯一劑，陰陽已通，其臥即安，以流水千里以外者八升，揚之萬遍，取五升，炊以葦薪，沸則置秫米一升，半夏五合，徐炊，令竭為一升半，去滓飲汁一小杯，日三服，以知為度。病新發者，覆杯則臥，汗出已矣。久者三飲而已矣。又云：胃者六腑之海，其氣下行，陽明逆，不得從其道，故不得臥也。故曰胃不和則臥不安，此之謂也。白朮、陳皮、茯苓、砂仁、生薑。仲景治虛煩不眠，酸棗湯主之，棗仁、甘草、知母、茯苓、川芎、生薑。振悸不得眠，半夏（制）、茯苓、陳皮、甘草、芡實、竹茹。虛勞煩熱不得眠，棗仁二兩（研），水二盞，絞汁同半夏二合煮糜，入地黃汁一合再煮，時時與服。煩躁不得眠，六一散加牛黃。脾虛不眠，寒也，棗仁炒末，竹葉湯調服。膽實多睡，熱也，棗仁研末，薑茶湯調下。臥而多驚，邪在肝膽，羌活勝濕湯，參、耆、甘、苓、羌、獨、芎、藁、防、蔓、辛、薄、柴等治之。大凡怔忡失志，驚悸健忘，心風不寐，皆系膽涎沃心，或因心氣不足，反以涼心大過，心火益微，痰涎愈盛，惟以理痰順氣為第一義，導痰、二陳加枳殼、南星，菖蒲。喘不得臥，蘇子、橘紅、桔梗、甘草、竹茹。厥陰不得臥，宜牛膝、丹皮、苡仁、沉香、官桂、木通之類。總之補肝和胃二法盡之矣。</p>
<p>針法、灸法：見前怔忡門。</p>

<h2>十一、不能食</h2>
<p>胃氣盛，則能食而不傷，過時而不飢；脾胃俱虛，不能食而瘦；脾胃俱旺，則能食而肥。凡不能食，必作虛論，一作火衰。脈緩怠惰，肢重泄瀉，濕也，二朮、茯苓、陳皮、甘草、厚朴、薑、棗；脈弦氣弱，自汗，肢熱泄瀉，毛枯發脫，虛而熱也，虛火可補，參、耆、朮、草、苓、芍、山藥、陳皮之品。脈虛氣弱，四君子加半夏、炮姜：虛而有痰，六君子加薑汁；痰積痞膈而不能食，皂角燒存性，研末酒下。脾虛不運而不能食，切不可消克，宜以異功散調之；或嗜食太過，脾胃痞滿不食，枳朮丸，亦不可多服；或服補藥未效，加香、附；老年食滯，宜用木香乾姜丸，白朮二兩，枳實一兩，乾薑七錢，木香五錢，荷葉煎湯，調打神麯糊為丸。或以補骨脂、肉豆蔻各二兩，神麯糊丸服。又方，菟絲子淘淨酒浸，曬乾為末，酒服三錢，十日外飲啖如湯沃雪。或用八味丸補命門之火，以壯脾土，為進食妙劑，中焦是治，自無前症矣。亦有心腎不交，以致脾失健運，宜鹿茸橘皮煎丸，橘皮十兩，去白為末，又用五斤不去白，於磁鍋煮汁，去渣如飴聽用，鹿茸、菟絲、吳萸、乾薑、厚朴、蓯蓉、巴戟、附子、萆薢、石斛、牛膝、杜仲、陽起石各三兩，炙草一兩，已上各如法制，共為末，入前飴並皮末，搗和丸桐子大，空心鹽湯下三十丸。惡聞食臭，大劑參、術，各須用薑汁拌炒煎服，宜資生丸，人參、白朮、苡米仁各三兩，橘紅、山楂、神麯各二兩，白茯苓、芡實各兩五錢，山藥、麥芽、白扁豆、蓮肉各二兩，黃連、肉蔻各三錢半，桔梗、藿香、甘草各五錢，蜜丸重二錢。每一丸空心細嚼，薑湯下。</p>
<p>針法：內關、中脘、足三里、內庭、公孫。又法：灸間使三十壯。若四肢厥冷，脈沉不至，乾嘔不食，粥藥皆吐，灸之快通，此起死回生之法也。</p>

<h2>十二、自汗盜汗</h2>
<p>《內經》云：陽氣有餘為身熱無汗，陰氣有餘為多汗身寒，陰陽有餘，則無汗而寒。此平人也。又云：飲食飽甚，汗出於胃；驚而奪精，汗出於心；持重遠行，汗出於腎；疾走恐懼，汗出於肝；搖體勞苦，汗出於脾。臥而出汗，醒則倏收，名曰盜汗。不因發表，不因動作，自然汗出。名曰自汗。</p>
<p>夫心之所藏在內者為血，發於外者為汗。自汗之症，未有不因心腎俱虛而致。若陰陽虛，則腠理髮熱自汗，此陰陽偏勝而致。又有傷風中暑，驚恐房勞，歷節風濕，腸癰，痰飲，產褥諸症，亦能自汗。</p>
<p>仲景云肉極則津脫腠開汗大出，巢氏曰勞症陽虛津泄多汗，又云心熱則腠理開而汗出。</p>
<p>蓋心之陽不能衛外而為固，則自汗出；腎之陰不能退藏而為密，則盜汗出。肺主氣，又主皮毛，司腠理，肺虛則表不能衛而自汗出。邪在於內則玄府不閉，則汗從腎府出；邪在於表則腠理不肥，而汗從經絡出。臟腑之陰拒格衛氣，浮散於外，無所依從，則汗出。胃虛水穀之氣脫散，則自汗出。</p>
<p>陰虛陽必湊，故發熱自汗，當歸六黃湯主之；陽虛陰必乘，故發厥自汗，黃耆建中湯主之。身冷自汗，陰躁欲坐臥於泥水中，脈浮而數，按之如無。經曰：脈至而從，按之不鼓，諸陽皆然。此陰盛格陽也，真武湯水冷與服。</p>
<p>尺膚澀而尺脈滑，營血自涸者，多汗；又津脫者，汗大泄，宜調衛湯。痰多汗自出，痰消汗自止，理中降痰湯。火氣上蒸，胃濕作汗，涼膈散。氣不順則汗，小建中湯加木香、芍藥、官稜、炙草、薑、棗。飲酒中風則為漏風而多汗，白朮散，牡蠣、白朮、防風、黃耆。病後氣血俱虛，或產後氣血俱虛自汗者，十全大補湯。別處無汗，惟心孔一片有汗，此必思慮傷心也。獖豬心一具，破開帶血，入人參、歸身各一面，用線縫煮熟，去藥食心，仍以艾湯調茯苓末服，如是三服取效。倘諸藥止汗不效，但理心血液汗乃止，十全大補湯加棗仁、遠志肉、五味、硃砂，鎮攝心神為主。若汗出如珠如膠而淋漓，揩試不逮者，皆不可治。</p>
<p>頭汗出，齊頸而還，血症也。額上偏多者，首為六陽之會，蒸熱而汗也。左頰屬肝，右頰屬肺，鼻屬脾土，頦屬腎，額屬心。三焦之火涸其腎水，其外溝渠之水陽否隔，上下奔迫。治迫而上行於心，故額偏多，而心血不足也，丹參、當歸、生地、茯神、棗仁、白芍、黃耆、枸杞、圓肉。手足汗多，氣熱也，白朮、黃連、牡蠣；亦有氣弱者，汗多冷，十全大補湯；或挾風痰者，加白附子、川烏。</p>
<p>盜汗，陽衰則衛虛，所虛之衛行於陰，當目瞑之時，無氣以固其表，則腠理疏而汗；醒則行陰之氣而復於表，汗自止，故名盜汗，又名寢汗。</p>
<p>傷寒陽明病，脈沉實有力，潮熱自汗，脈略浮者，必盜汗。又三陽合病，因合則汗。傷寒盜汗非雜症之責，其陰虛也，邪在半表半裡，小柴胡；火氣上蒸，胃濕自汗，亦非陽虛，宜以涼膈散。自汗陰蒸於陽，玉屏風散。盜汗陽蒸於陰，當歸六黃湯；虛人加黃耆，減芩、連，身熱加骨皮、秦艽，肝虛加棗仁，肝實加膽草，煩心加連、辰砂、麥冬、竹葉，脾虛加朮、芍、山藥，去芩、連。</p>
<p>灸法：諸汗灸膏肓、大椎、復溜，針列缺、雲門。傷寒自汗及當汗不汗，補合谷。傷寒汗多不止，瀉內庭、合谷，補復溜、百勞。傷寒無汗及自汗發黃，瀉復溜、內庭，補合谷。虛弱人盜汗不止，瀉合谷，補復溜。</p>

<h2>十三、關格</h2>
<p>關者，陰盛之極，故關閉而溲不得通也；格者，陽盛之極，故格拒而食不得入也。經曰：上下不通，則暴憂之病也。又曰：傳化不行，上下不並，良醫弗為。身半以上，陽氣常在，則熱為主病；身半以下，陰氣常在，則寒為主病。忽然生逆，二便不通，甚則煩亂，身冷無脈，此氣閉也，與大承氣湯則便通吐止脈和矣。脈虛人倦，人參、茯苓、半夏、陳皮、甘草、生薑，水煎，入冰、麝少許服。脈沉細肢冷，參、附加冰、麝，為末糊丸，每服十丸。脈數有熱，五苓散加梔子、大黃、厚朴、枳殼、檳榔、木通、陳皮、生薑，水煎，入冰、麝少許服。又法：皂角燒存性為末，米湯送或豬脂二兩煮食。</p>

<h2>十四、呃逆</h2>
<p>刺鼻取嚏即止，遇大驚亦止</p>
<p>傷寒汗吐下後，與瀉利日久或大病後氣呃，中氣虛也。虛而熱者，人參、竹茹、陳皮、甘草、生薑、大棗；虛而寒者，人參、白朮、甘草、乾薑、附子、丁香，柿蒂。大便閉，脈沉數者，調胃承氣。呃而心下悸者，半夏、陳皮、茯苓、甘草、南星、木香、竹瀝、薑汁、丁香、柿蒂煎服。久病虛人，見之為危。火呃水煎乾柿湯，加老生薑服。呃呃連聲為實，可治；呃間半時再呃為虛，難治；肺脈散大者死。</p>

<h2>十五、霍亂</h2>
<p>霍亂者，心腹脹痛，嘔吐泄瀉，憎寒壯熱，頭痛眩暈，先心痛則發吐，先腹痛則發瀉，心腹俱痛，吐瀉並作，或手足冷，或自汗，甚則轉筋，入腹則死。多因中氣不足或內傷七情，外感六氣或傷於飲食，往往發於夏秋，陽熱迫於外，陰寒伏於內，使人陰陽反戾，清濁相干，陽氣暴升，陰氣頓墜，陰之之法，滲脾胃之濕，散諸邪之氣，然脾胃有虛有實，感邪有陰有陽，宜消息施治。</p>
<p>《內經》云：太陰所至為霍亂。又曰：土鬱之發，民病霍亂。又歲土不及，風乃大行，民病霍亂。又足太陰之別……，厥氣上逆則霍亂。且巢氏《病源》乃曰：霍亂由清濁相干，亂於腸胃，因飲食而發者，心腹絞痛；因風寒而發者，身體疼痛；因於心者，但心腹痛而已。如是而《內經》之旨，不復問矣。</p>
<p>劉河間專主火熱，張子和則以風濕暍三氣合為病邪，蓋土濕為風木所克，又為炎暑鬱蒸，致嘔吐者，暑熱之變也；泄瀉者，土濕之變也；轉筋者，風木之變也。合眾論而參治，庶為活法，安可執一說以誤人耶！</p>
<p>羅謙甫於牆陰掘地約二三尺深，取土入新汲水，攪之澄清，名曰地漿，服之則氣和而吐瀉自止。若多食涼水瓜果所致，宜藿香、木香、厚朴、陳皮、蘇葉、生薑。若四肢重著，骨節煩疼，因於濕也，二朮、樸、陳、茯、澤、車前。若七情鬱結，宜烏藥、香附、木香、枳殼、厚朴、陳皮、蘇子。若手足厥逆，氣少神清者，寒也，四逆湯加食鹽。如轉筋者，風木克脾土也，平胃散加木瓜。如身熱煩渴，氣粗口燥，面垢者，暑也，香薷、黃連、厚朴、陳皮、甘草、生薑，煎好澄冷服。如食滯者，腹痛不可近，香、砂、二朮、枳實、豆蔻。在上者吐之，食鹽湯；在下者，加大黃瀉之。通用藿香、香薷、砂仁、厚朴、半夏、茯苓，甘草、陳皮、生薑。復庵用蘇合香丸以通其否塞，次進藿香正氣散加木香，煎吞來復丹。若瀉甚則勿用來復丹；若瀉而不吐，胸悶，濃鹽湯探吐；如已吐未吐，並可用正氣散或間進蘇合香丸；如吐而不瀉，心腹大痛，頻欲登圊，苦於不通，宜木香、枳殼、枯梗，煎服；若膈而不下，來復丹引導下行；吐瀉不止，元氣耗散，病勢危篤，或米粒不入，或口渴喜冷，或惡寒戰掉、手足逆冷，或發熱煩躁、揭去衣被，此內虛陰盛，不可以其喜冷去被為熱，宜附子理中湯，甚則四逆湯，並須冷服。霍亂已透，而余吐余瀉未止，腹有餘痛，宜一味扁豆葉煎服。如胸痛甚，因吐不透，橘紅、鹽各一兩服。大吐瀉後，虛煩而渴，津液枯竭，人參、麥冬、花粉、乾葛、甘草、茯苓，煎服。乾霍亂，飛鹽四、五錢，調童便服，此良法也，遲則難救。所謂乾霍亂者，心腹脹痛，煩躁憒亂，不吐不瀉是也，俗名攪腸沙，此土鬱不發泄，火熱內熾，陰陽不交，皆為火極之故。或云方論皆言宿食與寒氣相搏，何以獨指火乎？曰悶亂煩痛，故經云諸躁狂越，皆屬於火者乎。又卒暴之病，亦屬於火者乎？但攻之太過，則反悍格，須反佐以治，然後火可散耳。古法有用鹽煎童便，非第用其降火，亦兼取其行血，故妙。</p>
<p>妊孕霍亂，先吐或腹痛吐瀉，是因於熱也。頭疼體痛發熱，是挾風。若風犯皮膚，則氣不通，而風熱上衝，必為頭疼；若風入脾胃，則瀉利嘔吐，甚則手足逆冷。妊婦患此，多致損胎。薛立齋云：如內傷飲食，外感風寒，霍香正氣散；若只因食滯，半胃散；若陽氣虛寒，手足逆冷，溫補為急，理中湯。</p>
<p>產後霍亂，腑臟虛損，飲食不消，感冒風冷所致，若熱而欲飲水者，五苓散；若寒而不欲飲水者，理中湯；虛冷者，理中湯加附子或來復丹。</p>
<p>凡霍亂初起及新愈，不可便與穀氣，每致殺人。如吐瀉已多，元氣困極，審無邪在，須米飲補養。脈洪大者吉；如脈見微細，而舌卷囊縮者，不治。</p>
<p>霍亂之後，陽氣已絕，或遺尿，或氣乏不語，或汗出如珠，或躁欲入水，或四肢不收，皆為死症。</p>
<p>霍亂欲死灸法：肘尖七壯。取令病人端坐，又手平胸，肘後突出尖骨罅中是穴，用指甲按切，酥酥麻為真，背後灼艾。</p>
<p>針法：將委中出血。</p>
<p>又法：以水將手拍兩腿彎，立止。</p>

<h2>十六、脹滿</h2>
<p>黃帝曰：心腹滿，旦食則不能暮食，此為何病？岐伯曰：名為鼓脹。夫鼓之為脹，其中空無物，外皮繃急，取譬而氣虛滿者，乃為切當。又曰：厥氣在下，營衛留止，寒氣逆上，真邪相攻，兩氣相搏，乃合為脹也。《脈要精微論》曰：胃脈實則脹；《本神》篇曰：脾氣實則腹脹，經溲不利；《陰陽應象大論》曰：濁氣在上，則生䐜脹。此《內經》論實症有三也。《經脈》曰：是太陰之別，……虛則鼓脹。按公孫穴道。《太陰陽明論》曰：食飲不節，起居不時者……入五臟則䐜滿閉塞。此《內經》論虛症有二也。《經脈》篇曰：胃中寒則脹滿。《異法方宜論》曰：臟寒生滿病。《風論》曰：胃風……鬲塞不通，腹善滿，失衣則䐜脹。《六元正紀大論》曰：太陰所至為稸滿。此《內經》論寒症有四也。《至真要大論》曰：少陰之司天，少陰之勝復；少陽之司天，少陽之勝復。又曰：熱勝則腫。又諸脹腹大皆屬於熱。此《內經》論熱症有四也。</p>
<p>脹有五臟六腑。經曰：心脹者，煩心短氣，臥不安；肺脹者，虛滿而喘咳；肝脹者，脅下滿而痛引小腹；脾脹者，善噦，四肢煩悗，體重不能勝衣，臥不安；腎脹者，腹滿引背央央然，腰髀痛。胃脹者，腹滿，胃脘痛，鼻聞焦臭，妨於食，大便難；大腸脹者，腸鳴而痛濯濯，冬日重感於寒，則飧泄不化；小腸脹者，少腹䐜脹，引腰而痛；膀胱脹者，少腹滿而氣癃；三焦脹者，氣滿於皮膚中，輕輕然而不堅；膽脹者，脅下痛脹，口中苦，善太息。然臟腑雖各有脹，而無不本於肺、脾、腎三臟者。肺屬金，主氣；脾屬土，主運化；腎屬水，主五液。故五氣所化之液，咸本於腎；五液所行之氣，咸本於肺；轉輸於金、水二家，以制水而生金者，咸本於脾。是以腫脹之症，無不由此三者。但陰陽虛實，治法各殊。</p>
<p>先脹於內，後發於外，多實；先腫於外，後甚於里者，多虛。小便黃赤，大便猶結者，多實；小水清白，大便稀溏者，多虛。脈滑數有力者，多實。形色紅黃，氣息粗長者，多實。容顏枯槁，音聲短促者，多虛。已上諸症，不可不辨。</p>
<p>實熱論治：濁陰出下竅，不病之常也。膏粱酒客，濕熱內郁，陰火上衝，濁陰不降，三焦不通，二便不利，脹乃生焉。經乃所云：中滿者瀉之於內。又曰：下之則脹已。又曰：治平權衡，去菀陳莝，開鬼門，潔淨府，宣五陽，巨氣乃平。如硝、黃、實、樸，去菀陳莝之劑也；豬、澤、通、茯、醜、戟、芫、遂，潔淨府之劑也；桂、附、薑、吳，宣布五陽之劑也。然熱有重輕，實有大小，及致病之由，此當明辨，隨症施治。仲景云腹滿不足，不當下之；腹滿發熱，飲食如故者下之。</p>
<p>虛寒論治：脾為太陰，司地道陰水之化。脾陰太過，違天道陽火之化。蓋無陽不能運行三焦、腐熟水穀，乃為脹滿，治宜辛熱分消湯，黃耆、吳萸、厚朴、草蔻、黃柏，益智、木香、半夏、升麻、人參、茯苓、當歸、黃連、澤瀉、麻黃、乾薑、附子，畢澄茄。附子理中湯、金匱腎氣丸皆可用之。</p>
<p>治脹三法：陰從下逆上而盛於中者，先抑之，而後調其中，此血不足而火亢之症。陽從上降下而盛於中者，先舉之，則調其中，此氣不足而陽陷之症。邪從外入內，而盛於中者，先治其外，而調其內，此六氣成脹也，藿香正氣散，藿香、腹皮、紫蘇、白芷、厚朴、桔梗、陳皮、半夏、茯苓、甘草，加生薑，燈心煎服。如七情成脹，沉香降氣散，沉香、烏藥、香附、砂仁、甘草，加食鹽或木香調氣散，木香、藿香、砂仁、豆蔻、甘草，加生薑煎服。如飲食傷成脹者，香砂調中湯、二陳、平胃與香、砂、枳實、青皮、山楂、神麯。如畜血成脹者，青紫筋見，小水仍利，代抵當丸，桃仁、蓬朮、大黃、生地、當歸、芒硝。女人先因經斷而後腫脹，血結胞門，病發於下，血分丸，椒仁、甘遂、續隨子、附子、吳萸、郁李、黑醜、靈脂、元胡、歸尾各五錢，芫花一錢，蚖青十枚（去頭翅足、米炒），螌蝥十枚，膽礬、砒各一錢，石膏二錢，為末，糊丸芡實大，陳皮湯送一丸。</p>
<p>腸覃者，寒氣客於腸外，與衛氣相搏，瘜肉乃生。小如雞卵，大如懷妊，月事以時下。宜氣藥調之，氣脹方，雞內金（大雄雞者，炙）五錢，真沉香八錢，砂仁一兩，為末，薑湯送下。（覃音尋。）</p>
<p>石瘕者，生於胞中，寒氣客於子門，惡血留止，日以益大，月事不以時下。宜以血藥行之，血脹方，蓬朮、元胡、鬱金、五靈脂、黑醜、牛膝、穿山甲、肉桂，為末，醋糊丸，酒送下。</p>
<p>女人屬氣分脹者，先病脹而後經水斷，心胸堅大，病發於上，宜治氣分，枳殼、陳皮、桔梗、木香、檳榔、香附、烏藥、砂仁、白朮、蒼朮、半夏、茯苓、紫蘇、官桂、生薑，煎服，為末亦可。</p>
<p>脹病必喘，喘則必脹，二症相因。但先脹而後喘治在脾，先喘而後脹治在肺。治脾用蒼白朮、厚朴、枳實、腹皮、砂仁、木香、沉香；治肺用桑皮、葶藶、白蔻、枳殼、蘇子、桔梗、陳皮。如利小便用木通、車前、豬苓、茯苓、通草、防己、澤瀉，名潔淨府也；如欲發汗，用麻黃、羌活、葛根、防風、紫蘇，名開鬼門也。如人強能食，少年初病，其脈有力者，可暫投硝、黃、遂、戟與商陸、芫花等，亦宜酌用。</p>
<p>脹起於旬日之間，忽然因七情六氣而成者，實也，當疏利為主，已上諸法可用。</p>
<p>脹起於經年累月，先腫於外，後脹於內，小便淡黃，大便不結，色澤枯槁，神倦懶言，脈細無力，虛寒症也。人參、白朮、茯苓、甘草、陳皮以補脾也；黃耆、桔梗、苡仁、山藥以補肺也；沉香、木香、砂仁、陳香圓以理氣也；五苓散以利小便；升、柴以開鬼門。如虛盛多寒者，桂、附、薑、吳俱宜審用，人參、白朮須大劑頻投方能有救，金匱腎氣丸是乃切要之方。至於以白芍於土中瀉木，忍冬能和緩下氣，赤豆、木瓜利水與下氣交長，片腦、雞金寬膨與溫中並用，牙皂角燒灰為末、假神麯糊為丸取利甚捷。雞屎白炒熱、袋盛、浸酒須空腹而飲，下水大奇。青蛙入豬肚中烹為佳饌，野雞和椒茴末面作餛飩，皆海藏之仙方，屢用之而屢效。</p>
<p>脈實大浮洪者，易治；沉細微小者，難痊。身熱脈大腹脹為逆；腹脹便血脈大為逆；發熱不休、寒熱如瘧，皆不治。或腹大、肢冷、泄瀉三症並見，不及一時死。若脹則上嘔而喘咳，下而泄瀉，脈微或大，為逆不治。</p>
<p>腹脹多是氣虛不斂，用辛散之品反甚，宜以酸收之白芍、五味之屬，少佐益智以其能收攝三焦元氣也。朝寬暮急，以當歸為主；暮寬朝急，以人參為主；朝暮俱急，二味並用。按之有痛處，乃瘀血也，加行血藥。經云：濁氣在上，則生䐜脹。又云：下之則脹已。謂宜以沉降之品，引濁氣在上者而下之，非通利大府之謂也。凡腫脹初起，痰多發喘，小便不行，服濟生腎氣丸無不效。</p>
<p>脾胃氣虛、心腹脹滿灸法：取太白、足三里、水分、氣海。又法：先灸中脘七壯，引胃中生髮之氣上行陽道，兼服東垣木香順氣湯，使濁陰降而脹平矣。</p>
<p>虛勞浮腫，針太衝、腎俞樸之；小腹脹滿，三陰交、三里、內庭；單脹，石門、氣海、內庭；雙脹，合谷、曲池、支溝、氣海、三陰交。一切水腫，針水溝，灸用水分、氣海、天樞。</p>

<h2>十七、肩背痛</h2>
<p>經曰：西風生於秋，病在肺，俞在肩背。其分野所屬故也。又云：肺氣有餘則肩背痛。風寒汗出，虛則肩背痛而寒，少氣不足以息。又云：少陰司天，熱淫所勝，痛在肩背、缺盆。又云：邪在腎，則肩背痛。是腎氣逆上也。</p>
<p>歲火太過，肩背熱痛，即少陰司天，金為火賊故也，宜二冬、知、地、甘、桔、歸、芩。如風寒汗出，肩背痛，小便數，宜防風湯，升、柴、羌、藁、參、耆、青、陳、白蔻、黃柏；虛者去柏，加桂枝。肩背痛不可回頭，此小腸氣鬱也，宜用風藥散之。有因看書對弈所致者，宜十全大補湯加枳殼、桔梗理其滯氣。風熱乘肺而痛，宜荊、防、牛蒡、粉芩、桔、殼。如短氣小便自遺者，虛也，補中益氣湯。濕熱項強連背者，宜拈痛當歸湯，羌、防、升、葛、二朮、歸、甘、參、桂、知、芩、澤、茵、苦、陳。常肩背冷痛，一片痰飲凝積也，宜消之，導痰湯加木香、香附、桔、枳開散，倍以白芥子。腎氣逆上，痛引肩背，沉香、肉桂、青鹽、牛膝、川椒、小茴、茯苓。膀胱夾脊脈道，六味湯加肉桂、苡仁、芡實。</p>

<h2>十八、臂痛</h2>
<p>六經分治：兩手伸直，貼身垂下，大指居前，小指居後。屬前廉系陽明，升麻、乾葛、白芷；後廉系太陽經，羌活、藁本；外廉系少陽，柴胡；內廉系厥陰，柴、青；內前廉系太陽，升麻、蔥白、白芷；內後廉系少陰，細辛、獨活。</p>
<p>痛有風濕所搏、寒邪所襲者，宜白芷、荊芥、芎、歸、甘、桔、枳、樸、芍藥、乾薑、蒼朮、桂枝。痛有挈重傷筋，宜八珍湯加官桂、丹皮、胡索、寄奴、木瓜、片薑黃。痛有痰飲流注患處，冷而不熱，輕者導痰湯加木瓜、片薑黃；重者控涎丹。</p>
<p>針法：肩膊背及兩臂，紅腫痠疼，俯仰不便，牽引作楚，用肩外俞、肩井、肩髃、脾縫、曲池。</p>
<p>灸法：凡背痛多作勞所致，技藝辛苦之人與士子攻苦及閨閣針指女工者有之，亦有色勞者，如晉之景公是也。風濕流注於太陽，未必非勞苦時所感也，大凡背及肩背痠疼，當灸膏肓、肩井、肩髃，無不效驗。背脊心紅腫痛，肩井、肺俞、風門、五樞，宜與痛痹門參看。</p>

<h2>十九、脅痛</h2>
<p>肝合於胠脅，故脅屬肝，然筋經所過則挾邪而痛，亦有多端，不可執也，且左右為陰陽之道路，故肝主陰血而屬左脅，肺主陽氣而隸於右脅。左脅多怒傷或瘀血作痛，右脅多痰氣或鬱結作痛，其間七情六淫之犯、飲食勞動之傷，皆足以致痰凝氣結血留，不可以痰氣專主於右、左脅專主瘀血，要知痰氣與血相搏而為痛也。</p>
<p>肝氣宜順而不宜逆，逆則痛，痛不止而死矣。故治脅痛必須平肝，平肝必須補腎，腎水足而後肝木有養，其氣自平，而脅痛止矣。宜肝腎兼資湯，熟地一兩，白芍二兩，當歸一兩，白芥子三錢，梔子（炒）一錢，山萸肉五錢，甘草三錢，水煎服，此方補腎為主，滋肝佐之，兼理痰火，一劑而脅痛止。</p>
<p>傷寒少陽脅痛，小柴胡湯，不大便加枳殼。不因傷寒脅痛，身體發熱，枳殼、桔梗、細辛、川芎、防風、乾葛、甘草。蓋枳殼為脅痛的劑，所以諸方皆用之。脅痛而氣喘，分氣紫蘇飲，紫蘇、桑白皮、五味、桔梗、腹皮、草果、茯苓、陳皮、甘草、姜，煎服。怒氣傷肝，柴胡疏肝散，川芎、柴胡、香附、芍藥、枳殼、陳皮、甘草，煎服。悲傷肺氣而脅痛，推氣飲，薑黃、枳殼、桂心、甘草為末，薑棗湯送下。瘀血痛者，日輕夜重，午後發熱，脈澀而短，桃仁承氣湯加鱉甲、青皮、白芥子。僕跌傷，方同上。痰飲脈沉滑弦，導痰湯加白芥子，甚者控涎丹下之。食積脅痛，必有一條扛起，香砂枳朮加楂、樸、曲、芽，末丸服。痃癖脅痛，煮黃丸，巴豆（炮、去皮心）五錢（略去油），雄黃一兩，同研如泥，入白麵二兩，水丸麻子大，每用十二丸，湯煮，入冷漿，湯沉冷一晝夜，盡十二丸冷漿下，微利為度，不必盡劑。附治驗：一人受暑脅痛，皮黃髮泡，清肝理氣俱不效，用大瓜蔞搗爛，加粉草、紅花少許，入口而痛即止。又讀王字泰《筆塵》所載：秦文山掌教平湖，與家兄同官，因勞而兩脅痛，清晨並飢時尤甚，以書介家兄求余方，余意其肝虛，當補其子母，用耆、朮、芎、歸、萸、熟、棗、藥、柏仁之類，仍以細辛、防風各少許，薑、棗、煎服，叮嚀此方勿示他醫，恐令其笑不合口也。無何而秦君貽書來謝云：服不數劑而痛止。余家長安時，聞魏昆溟吏部之變，亦因投謁，忍飢歸而脅痛，他無所苦，而粗工以青皮、枳殼之類雜投，遂至不起。籲！可不鑑哉。司命者貴識圓通也，執成說之害大矣。</p>
<p>針法：怒傷肝氣，血不歸原，脅痛不止，取行間、期門。肝積氣塊脅痛，及臟腑虛冷，兩脅刺痛，取支溝、章門、陽陵泉、臨泣。</p>
<p>胸脅痛不可忍，取章門、期門、行間，丘墟。</p>
<p>兩脅下痛，奄奄欲絕，此為奔豚。急以熱湯浸兩手足，頻頻易之。次灸氣海、關元、期門各百壯。</p>

<h2>二十、腳氣</h2>
<p>腳氣之病，前古未聞，起於後世。其頑麻腫痛者，經所謂之痹厥也。其衝心者，經所謂厥逆也。其痿軟不收者，經所謂痿厥也。東垣云：腳氣實由水濕，然亦有二焉，一則南方卑濕，經曰：清濕襲虛，則病起於下。此自外而感者也。北方常食牛乳或飲酒過度，脾胃有傷，不能運化，水濕下流，此自內而致者也。楊大受云：腳氣為壅疾，治宜宣通，不使壅也。壅既成者，砭去惡血，然後服藥。南方腳氣，外感寒濕；北方腳氣，內傷濕熱。此前人所未發者。《千金方》云：腳氣之病，初起甚微，人多不覺，而飲食如故，獨卒然腳弱或腫痛。</p>
<p>腳氣之病，初發頗似傷寒，有壯熱頭疼，惡食嘔吐，或腹不快，或二便秘，或腹痛下利，或昏憒錯亂，或轉筋攣急，或頑麻緩縱，或上腫，或下反不腫，或少腹不仁，皆其候也，並作腳氣治。</p>
<p>腫者為濕腳氣，不腫者為乾腳氣，總以除濕湯為主，半夏、蒼朮、厚朴、藿香、茯苓、陳皮、白朮、甘草、木瓜、檳榔、薑、棗煎服。乾者加卜子；濕者加青皮。前廉陽明經，白芷、升麻、葛根；後廉太陽經，羌活、防風；外廉少陽經，柴胡；內廉為厥陰經，青皮、吳萸、川芎；內前廉太陰經，蒼朮、白芍；內後廉少陰經，細辛、獨活。風勝者，自汗、走注、脈浮弦，越婢加朮湯，麻黃湯合芍藥、甘草、薑、棗。如惡風加附子。脈微弱風引湯，參、苓、朮、附、薑、桂，同麻黃、石膏、甘草、川芎、吳萸、獨活、秦艽、細辛、杏仁、防己、防風。寒勝者，無汗、攣急掣痛、脈沉澀，小續命湯，麻黃、防己、防風、桂、附、參、芎、芍、芩、杏，加薑、棗；或牛膝丸，牛膝二兩，川椒五錢，附子一錢，虎脛骨五錢，末丸酒服。濕勝者，腫疼重著，脈濡細，除濕湯，見前。暑勝者，煩渴身熱，脈洪數，用清暑益氣湯加參、麥各三分，五味五粒。腳氣雖宜宣通，太過反能下注損脾，如初發一身盡痛，便溺阻隔，先用導氣羌活湯，羌、獨、己、實、歸、黃，加耆、蒼、升、柴。後用當歸拈痛湯，羌、防、升、葛、二朮、茵陳、甘、苦、知、豬、澤、歸，加參。如飲食不消，心下痞悶，開結導飲丸，朮、半、苓、陳、曲、芽、青、實、乾薑，末丸服。腳氣衝心，火氣逆上也，丹溪用四物加炒柏，又用附子末，津調湧泉穴。虛熱者，《金匱》腎氣丸；實症，檳榔為末，童便調服，或檳榔、木通、牛膝、沉香為末，薑湯送下。</p>
<p>養正丹下氣甚捷，宜酌用。</p>
<p>針法：一切寒濕腳氣，三里、陽陵泉、風市、三陰交、丘墟、絕骨、崑崙。兩膝紅腫，膝關、膝眼、三里、委中、陰陵泉。腳背紅腫，崑崙、丘墟、臨泣、太衝、行間。</p>
<p>腳氣，風冷搏於經絡也，風毒之中人，因汗出，腠理空疏，邪得乘之而入，或先中手足十指，或先中足心足根，或中膝脛，初覺即宜急灸所覺處二三十壯，或三里、絕骨為要穴也。</p>
<p>灸法：腳氣灸風市五百壯，不復發，一日灸之。忽覺有蟲自足心行至腰間，即暈絕，久方甦醒，此真腳氣也。</p>
<p>附：兩足轉筋，灸陽陵泉、承山、三陰交。一法灸腳踝上一壯。內筋急，灸內踝四十壯；外筋急，灸外踝四十壯。又法用照海。</p>

<h2>二十一、遺精</h2>
<p>《內經》曰：腎者主水，受五臟六腑之精而藏之。又曰：腎者主蟄，封藏之本，精之處也。又曰：（厥氣）客於陰器，則夢接內。蓋陰器者，宗筋之所繫也，而脾胃肝腎之筋，皆結聚於陰器。然厥陰主筋，故諸筋統屬於肝也，腎為陰，主藏精；肝為陽，主疏泄。故腎之陰虛則精不藏；肝之陽強則腳氣不固，若遇陰邪安於其竅，與所強之陽相感，則精脫失而成夢泄矣。病之初起，亦有不在腎肝而在心肺，及在心肺脾胃之不足者，然必傳於腎肝，而後精遺也。陽虛者補其氣，陰虛者益其精，陽強者泄其火，隨其因而俾其偏。夢失之因於真陽不固，故精脫之後，其氣未能卒復；不比人之內接而氣易可復也。</p>
<p>思慮傷神則流淫不止，又思想無窮，所欲不得，而為白淫，治法有五：神氣浮游，用辰砂、龍骨、磁石之類，以鎮墜之。思久氣結成痰，心竅閉塞，宜豬苓丸，半夏一兩（破如豆大），豬苓一兩，同拌，炒勿焦，為末，糊丸桐子大，空心鹽湯下。思想傷陰，大鳳髓丹，黃柏二兩，砂仁一兩，甘草五錢，豬苓、半夏、茯苓。蓮鬚、益智各二錢半，芡實糊為丸。思想傷陽，宜鹿茸。蓯蓉。鎖陽、菟絲之類，陰陽俱虛者，人參、茯神、遠志、棗仁、蓮子、芡實、菖蒲、當歸、生地、麥冬、菟絲、知母、黃柏。又思欲不遂，宜妙香散，黃耆、遠志、山藥、茯神各二兩，人參、甘草、桔梗各五錢，木香二錢五分，辰砂三錢，麝一錢，為末，熔黃蠟四兩，加茯苓末四兩，作塊同煎服。色欲過度，腎虛不禁，四君子湯加山藥、黃耆、五味、遠志，枸杞、巴戟、鹿茸、龜甲；或六味丸加五味、牡蠣、龍骨、人參、蓯蓉、菟絲。又有壯年盛滿，寡欲而溢泄者，黃柏、知母、生地、茯苓、黃連、蓮子、菖蒲、遠志、澤瀉。大凡身熱而脈洪或滑，皆因於熱，知、柏、豬、澤、二冬、茯神、生地、蓮子、竹葉、木通之類。凡屬積滯瘀熱等疾，貴在疏泄，不知其理，但用固澀，反增其病矣。惟滾痰丸下之最宜，更與滋腎丸及木通、豬苓之類，無不立愈，或用豬苓丸亦可。脾胃濕熱之人及飲酒厚味太過，痰火為患，多致遺泄，宜蒼白二陳加知、柏、升、柴，俾清升濁降，脾胃健而遺泄止矣。又有鬼魅相感之症，由正氣本虛，欲心妄動，邪因乘之，其狀不欲見人，如有晤對，或言笑歌哭，脈息乍大乍小，乍有乍無，或兩手如出兩人，或尺寸各為一等，或脈來綿綿不知度數，而顏色不變，皆鬼邪之候也。人參、茯神、遠志養其正；生地、當歸、棗仁安其神；硃砂、雄黃、沉香、安息香、麝香、鬼箭羽、虎頭骨闢其邪；移寢室於向陽，用多人作伴，焚奇香不絕，乃其治也。仲景治手足煩熱、咽乾口燥，或為悸衄，此陽上升而不降，陰獨居而在內，則為夢失，小建中湯和之。此世俗昧也。凡脫精不止，固澀無功，當瀉心火，清理不愈則用升舉，升、柴、二活；甘以緩之，甘草、大棗；酸以收之，茱萸、五味、棗仁、烏梅之類；蓮鬚、金櫻子、桑螵、海螵、龍骨、牡蠣固澀之品；知、柏、二冬，芩、連、竹葉、山梔清降之屬。虛而不禁，氣衰火微，益智、茱萸、人參、黃耆、枸杞、骨脂、蓯蓉、胡桃、韭子、鹿茸、桂、附之屬，擇而用之可也。</p>
<p>夢失久而玉關不閉，精竭而命亡矣，俗惟以澀為事，如澀而不止奈何？始於未甚之時，大用補氣補精之藥，不至於久而不禁。此方保精用芡實、山藥各一兩，蓮肉五錢，茯神二錢，棗仁（炒）三錢，人參一錢，水煎服，先將湯飲之，後加白砂糖五錢，拌入渣內同食，日日連服，不半月而止矣。品味平和，淡而不厭，收功獨神也。</p>
<p>針灸法：遺精白濁，心俞、腎俞，膏肓、三里、關元、中極、氣海、三陰交、精宮。即關元之對背脊處是穴。</p>

<h2>二十二、赤白濁</h2>
<p>《內經》無赤白二濁之名，但云思想無窮，所願不得，意淫於外，入房太甚，發為白淫。又曰脾移熱於腎，則赤白從溲而下。此濁之源流也。《靈樞》云：中氣不足，溲便為之變。考《內經》之論，雖屬腎家精氣下流，因於脾病者亦復不少。夫腎主閉藏，以慳用事，志意內治，則精藏而固；若勞逐於外，思竭於內及脾熱移殃，氣濕下陷，則精氣離宮，淫泆不守，輒隨溲溺而下，為濁病也。濁之為症，莖中熱痛，渾如火灼刀刺，而溲溺仍清，惟竅端時流穢濁如膿，淋瀝不斷，由敗精瘀腐者十之七八，由濕熱流注與脾虛下陷者十之二三。不知其故，以五苓、八正雜投，因而增劇者，而卒不改，殊可嘆也。</p>
<p>赤者屬小腸火，本於心虛有熱，由思慮而得之，生地、麥冬、骨皮、竹葉、黃耆、山藥、五味。夫精亦血所化，有濁去太多，精化不及，赤未變白，故成赤濁，此虛之甚也。曾見天癸未至，強力好淫，而所泄之精，則繼之以血有之。若溺不赤，無他熱症，不以赤濁為熱也，參、耆、朮、草、歸、地、杞、味、萸、芡、菟、須、遠、神、山、棗。或有心經伏暑而赤濁者，四苓散加香薷、麥冬、人參、蓮肉。</p>
<p>白者屬大腸金，本於氣分，系腎虛有寒，由嗜欲過度而得，澀而痛者疏之，茯、豬、耆、朮、山、甘、芡、蓮、牛膝；不痛者澀之，菟絲、萸肉、五味、覆盆、金櫻、芡須、骨脂、甘草。有濕痰流注者，蒼朮二陳湯加升、柴。胃虛氣陷者，補中益氣。有小便如常，少傾即泛濁者，或溺如米泔，萆薢分清飲，益智、萆薢、菖蒲、茯苓、山藥、菟絲、烏藥，加鹽煎服。有稠黏如膠，莖中痛甚，此非熱淋，乃敗精瘀塞，加味清心飲，苓、車、澤、牛、麥冬、菖蒲、益智、遠志、蓮心、人參、骨皮、黃芩。曾見白濁人服清利之藥不效，以八味丸溫之而愈。或發口渴，腎水枯也，六味湯合生脈散治之。</p>
<p>便溺泛濁如米泔，此三消症也，宜玄菟丹，乃遺精白濁之聖藥，亦治三消。菟絲十兩（酒浸搗焙為末），玄參四兩，五味七兩（酒浸另為末），白茯、蓮心肉各二兩，山藥六兩，共末，將前所浸酒打糊拌為丸，米飲下四錢。消渴有三，總系腎水虛以致渴也，不必分上中下而合治之，熟地三兩，茱萸二兩，麥冬二兩，玄參一兩，車前子五錢，水煎日日服之，三消自愈。尺脈滑數宜清利，浮虛急疾者難治，遲者補之。</p>
<p>小便黃赤，有寒熱虛實之別，《素問》曰諸病水液渾濁，皆屬於熱。宜知、柏之類治之，此熱症也。《脈經》云：尺澀足脛逆冷，小便赤，宜服附子四逆湯。此寒症也。《靈樞》曰：胃足陽明之脈……氣盛則身以前皆熱，其有餘於胃，則消穀善飢，溺色黃。宜降胃火。又云：肝熱病者，小便先黃。宜降肝火。此實症也。又曰：手太陰之肺脈，氣虛則肩寒痛，少氣不足以息，溺色變。宜補中益氣湯之類以補肺氣。又曰：冬脈者，腎脈也。冬脈不及，則令人眇清脊痛，小便變。宜地黃丸之類以助腎脈，此虛症也。</p>
<p>小便遺失，責在肺而不在腎。蓋肺者腎之上源，又其母也。上源治，則下流約矣。《甲乙經》曰：肺脈不及，則少氣不足以息，卒遺失無度。故東垣謂宜安臥養氣，禁勞役，以黃耆、人參之類補之。不愈，當責有熱，加黃柏、生地。</p>
<p>遺精淋濁灸法：關元、膏肓、腎俞、精宮、三里、三陰交、丹田、氣海。</p>
<p>大茴香丸治白濁出髓條：大茴、人參、白茯、益智、白朮、骨脂、棗仁各炒，左顧牡蠣（煅），等分為細末，用青鹽、酒糊丸梧子大，每服二十九，食前米飲下。治虛憊便濁滴地，成霜丸，遠志肉、蓮肉、干藕節、龍骨各一兩，白礬（煅）、硃砂各二錢五分，為末，糯糊為丸，如桐子大，每服十五丸，空心白湯下。</p>

<h2>二十三、赤白帶</h2>
<p>《明堂》曰：女人少腹痛，裡急瘛瘲，月事不調，赤白帶下。越人曰：帶脈為病，腹滿，腰溶溶如坐水中。按帶脈起於季脅，圍身一周，如束帶然。楊氏曰：帶脈總束諸脈，使不妄行，如人束帶而前垂，此脈若固，無帶下漏經之症矣。</p>
<p>女子帶下，與男子精滑大同小異。有胃中濕痰滲入膀胱，宜健脾土，燥濕化痰，二陳、二朮、升、柴之類。如久而氣虛，加參、耆。肥人多濕，前方加炒黃柏；瘦人多火，夜熱脈數，四物加炒黃柏、青黛、滑石、蛤粉、樗皮、黃耆。氣滯者，加葵花（赤用赤花，白用白花）。滑脫不禁，加牡蠣、龍骨、赤石脂。有寒自覺，加炮薑、桂、附。若帶下小腹作痛者，是鬱結痰氣下注也，須兼辛收，茴香、炮姜之類。赤者四物加椿根皮、赤葵花、炮薑、升、柴，為丸，椒目湯送下；熱用燈心湯送下。白者用二朮、白葵花、白芍，為丸，空心二陳湯下。凡帶下多起於氣鬱，辛能開之，郁久必熱，故佐以黃柏清之，皆有微意。輕者正治升舉之；重者或通之劫之，不可執一；甚者宜吐以提其氣，有下注頻頻，腰腹以下如在冰雪中，厚覆火烘猶冷，肌如骨立，面如枯魚，小便與帶下不分，眼目䀮䀮，步履欹側，食少痞悶，是上、中、下三焦俱病，宜大補之。又云：女人帶下，其色有五，皆因風邪入於胞門而傳傷臟腑所致也。若傳於足厥陰肝經，帶色如青泥；傳手少陰心經，帶色如紅津；傳手太陰肺經，帶色如白涕；傳手太陰脾經，帶色如爛瓜；傳足少陰腎經，帶色黑如衃血。人有帶脈，圍於腰間，如束帶之狀，此病由此經而來，故名帶下。白者屬氣，赤者屬血，各經見症。有五色相雜者，如陽氣下陷，補中益氣湯。濕痰下注，加茯苓、蒼朮、半夏、黃柏。濕熱宜涼燥，白芍椿皮丸，白芍五錢，椿根皮兩五錢，炒黃柏二錢（炒焦），乾薑三錢（炮黑），共為末，粥丸，每服三五十丸，空心米湯下。又方：蒼朮（鹽水炒）、乾薑（煨）、滑石（炒）、枳殼、地榆（炒）、神麯、酒麴（炒），各等分為末，丸服，米湯下。或因七情所傷，脈來急數者，加黃連、香附、木香。寒濕宜溫燥，用草果去殼，入麝少許，以麵包火炮焦存性，同面為末。每用二錢，陳皮湯調下，重者三錢。又方：椒目、白芷為末，米飲下；又伏龍肝、梁上塵各炒，令煙盡，出火毒，棕櫚燒存性，研勻，入冰，麝各少許，每服三錢，溫酒或淡醋湯下，患十年者，半月可愈。</p>

<h2>二十四、疝</h2>
<p>《內經》曰：任脈為病，．男子內結七疝，女子帶下瘕聚。又曰：三陽為病發寒熱，……其傳為頹疝。足陽明筋為病，為㿉疝。面黃脈大，有虛有積，名厥疝。脾傳邪之腎，名曰疝瘕。上衝心，痛不得前後，為沖疝。邪客於足厥陰之絡，為卒疝。厥陰之陰盛，脈脹不通，為㿗癃疝也。肝所生病為狐疝。心脈搏滑急為心疝，肺脈沉搏為肺疝。肝脈滑甚為㿉疝，脾脈微大為疝氣，腎脈滑甚為癃㿉。又云：少陰滑則病肺風疝，大陰滑則病脾風疝，太陽滑則病腎風疝，少陽滑則病肝風疝。歷觀《內經》總是任脈為病，而肝則佐任脈之生化者也。任之陰氣為疝，肝之陽氣為風，是以風疝並稱也。凡內邪外邪之感，皆能使陰陽不和，陰勝則寒氣衝激，陽勝則熱氣內盛，悉致任脈為疝。如其邪不從任脈起，而諸經所受之邪亦必犯任脈也，攻於臟腑，則為腹中之疝；會於陰器，則為睪丸之疝。</p>
<p>張仲景治寒疝腹中痛及脅痛裡急者，當歸生薑羊肉湯主之，《本草衍義》稱其無不應驗，豈非補肝之力與？余每治病甚氣上衝心，危急者，以八味丸投之立應，又補腎之一驗也。又大便不通，當利大便，如許叔微、羅謙甫皆用芫花是已。小便不通者，當利小便，如許叔微治宋荀甫以五苓散是已。今如《纂要》言：不幹腎經則五苓不當用。又言疝不當下，則芫花不可用。其所列者，惟數味破氣之藥，苦辛雜收，寒熱無別，既不能補肝腎之真陰，又不能通行二竅，使邪有所泄而徒耗其氣於冥冥之中，且日趨於危而不覺也。豈不悖哉，深可痛也。</p>
<p>夫丹溪發明醫理頗多，而臨症處方又多以扶植元氣為主。孰意人遭厄運，其手書皆不傳，而傳於世者，皆為盲夫俗子裁剪增續，疵繆實多。《纂要》一書，其行尤甚，凡丹溪長處皆為刪去，大可恨也，即如疝症一門，首載云專主肝經，與腎絕無相干。而不知世所患者，皆由腎虛而致，肝乃腎之子，而前陰則腎之竅也。欲補其肝，能無顧其母乎。又世俗執肝無補法之說，逢一疝症，輒謂肝實，過用征伐，死者多矣。今《纂要》中全不載一補法，時師既無自悟之明，又無他書足考，焉得而不誤也。按丹溪云：疝有挾虛者，脈不沉緊而豁大，當以參、術為主，疏導佐之，非補法乎。巢氏所敘七疝者，厥逆心痛，飲食不下，曰厥疝；腹中滿痛，氣積如臂，曰癥疝；得寒飲食，脅腹皆痛，曰寒疝；腹中乍滿乍減而痛，曰氣疝；痛在臍旁，曰盤疝；臍下有積，曰胕疝；小腹引陰而痛，大便難，曰狼疝。皆由陰氣積於內，為寒氣所加，營衛不利，故成疝也。又小兒啼哭不止，動於陰氣，結聚不散，則陰核腫大而病㿉疝。又有飲食不節，喜怒不時，津液內結，而為㿗疝。</p>
<p>張子和云巢氏所立之疝與經旨不合。及其立論，但辨陰器，與小腸、膀胱、腎了不相干，專屬肝經受病，亦分七疝之名：一曰寒疝，陰囊冰冷，結硬如石，陰莖不舉，控睪而痛，得於坐臥寒濕之處，或冬月涉水，或遇風雨，畏熱貪涼，使內過勞，無子多欲，宜溫劑下之；二曰水疝，腎囊腫痛，陰汗如流，囊如水晶，或出黃水，或小腹之內，按之如水，得之醉而使內，汗出當風，濕邪注於囊中，宜逐水之劑下之；三曰筋疝，陰莖腫脹，或潰或痛，裡急筋攣，或莖中作痛，或癢或挺縱不收，或精隨溲下，得於房勞太過及邪術所使，宜清心之藥下之；四曰血疝，小腹兩旁壯如黃瓜，得於春夏之月燠濕之氣，並勞於使內，氣血流溢入胞囊中，積成癰膿，宜和血之劑下之；五曰氣疝，上連腎區，下及陰囊，得於忿怒啼哭，則氣鬱而脹，怒號即罷，氣亦隨消，宜散氣之劑下之，小兒亦有此疾，得於父衰陽瘻，強力入房，因而有子，胎稟病也，法無治，治亦不效；六曰狐疝，臥則入於小腹，行立則出腹入囊，與狐之日出夜入相類，故曰狐疝，宜逐氣流經之藥下之；七曰㿗疝，陰囊腫大如斗，不痛不癢，得於地氣卑濕，宜去濕之藥下之。凡諸疝下後，或調或補，更有陰盛，腹脹內有血膿，小便不通，㿉癃疝也。</p>
<p>按子和之意，亦忘《內經》任脈為疝之本，此其失一也。《靈樞》云：小腸病者，小腹痛，腰脊控睪丸而痛。然則果有膀胱之症，又安得不從此二經而成乎？其失二也。因執病在下者，引而竭之，必主下之，不問虛人，亦必與之攻下，禍不旋踵，此其失三也。</p>
<p>丹溪云：睪丸連小腹急痛，或有形無形，或有聲無聲，皆以為經絡得寒收引而痛，不知其始於濕熱壅遏，又外感濕熱被郁，故作痛也，宜枳實、桃仁、山梔、吳萸、山楂、生薑。濕勝成㿗疝，加荔核；痛甚加鹽炒大茴；痛處可按者加桂枝，此亦前人所未備者也。大凡疝症，受熱則挺縱不收，受寒則牽引作痛，受濕則腫脹下墜，三者之間審其熱之多少而治之，亦一法也。</p>
<p>腎有二，睪丸亦有二，又名外腎，左屬水，水生肝木，木生心火，三者皆司血分，而統納左之血者，肝之職也；右屬火，火生脾土，土生肺金，三者皆司氣分，而統主右之氣者，肺之職也。故諸寒收引則血液迫泣，下注於左丸；諸憤鬱氣則濕歸肺，下注於右丸。此睪丸所絡之經，非盡厥陰一經，而太陰、陽明之經亦入絡也。往往見偏患左者，則痛多腫少；偏患右者，則痛少腫多，此亦血氣之明驗也。痛多腫少，當歸、白芍、木香、茴香、青皮、肉桂、木通之類治之；痛少腫多，二朮、半夏、茯苓、木香、烏藥、枳殼、豬苓、荔核、木通之類治之。《發明》云：男子疝氣，女子瘕帶，皆任脈所生也。肝腎受病，治法相同，宜丁香楝實丸。川楝子、附子、茴香、歸尾各一兩，酒二鍾，同煮乾，再焙為末。每末一兩，入丁香、木香各二錢，為末，延胡索五錢，全蠍十三枚（去足翅，炙），又為末，入前項末拌勻，酒打糊為丸，每服一錢，酒送下。凡疝氣、帶下皆屬於風，全蠍乃治風之藥，川楝、茴香能入小腸，當歸、延胡活血止痛，疝氣、帶下皆寒邪積聚入於小腸，故用附子佐之，丁香、木香為嚮導也，若臍下撮急及周身皆痛，小便數而清，諸脈急而虛，獨腎脈不急而無力，名曰腎疝，丁香疝氣丸，烏藥與丁、茴、延胡、防、桂、歸、羌、麻，同蠍、草，酒糊，送春回。</p>
<p>疝因虛得，不宜驟補，先去其邪，然後補之，天台烏藥散，烏藥及良薑、青、檳、茴、木香、川楝，同巴炒，初起效如向；川楝散，川楝三十個，巴豆半同炒，菖蒲、青木香一兩，共相搗，荔枝核甘枚，萆薢五錢，加好麝少許，和鹽湯二錢調，此治因感寒，故借巴豆炒，此惟初起者二方所宜，不可施於虛人。</p>
<p>疝因鬱熱痛而便澀，脈數者，山梔二錢，吳萸（炒）、桃仁二七，楂實（炒），生薑三片，水同煎，內郁之熱多散了。</p>
<p>小腸氣，小腹引睪丸，必連腰脊而痛。小腸虛，則風冷乘間而入，邪氣入則厥而上衝肝肺，控引睪丸，上而不下，茴香、川楝、吳萸、陳皮、馬藺花（醋炒）各一兩，芫花（醋炒）共末，醋糊丸，每服一錢，加至二錢，酒送。又方：益智、蓬朮各五錢，大茴、山萸、牛膝、續斷、川芎、胡蘆巴、防風、牽牛（炒）、甘草各二錢五分，為末。每服三錢，水煎，空心連滓服，湯調不煎亦得。</p>
<p>膀胱氣，小腹腫痛，不得小便是也。五苓散一兩，分三服，蔥白一莖，小茴一錢，鹽八分，水一鍾，煎七分，服三服後，當下小便如墨汁。續用硇砂丸，木香、沉香、巴豆肉各一兩，青皮二兩，同慢火炒紫色，去巴豆，為末，入硇砂一錢，銅青三錢，同研勻，蒸餅丸梧子大。每服七丸至十丸，鹽湯空心下。</p>
<p>大凡各方多用燥濕之劑，丹溪以為濕熱。蓋太勞則火起於筋，醉飽則火起於胃，房勞則火起於腎，大怒則火起於肝。火鬱之久，濕氣便盛，濁液凝聚，併入血隧，流於厥經，肝性急速，為寒所束，尤其痛甚，此亦補前人之未備。要知痛處喜按而減者為虛，用桂枝、山梔，與川烏頭等分為末，薑汁糊丸，以川烏治外束之寒，梔子治內郁之熱，然不可守為揆度也。</p>
<p>針灸法：大敦通主七疝，兼以三陰交，及灸水道尤妙。女人瘕聚即男子疝氣同原，胃俞、氣海、行間。腹中氣脹，引脊作痛，食飲反多，身體消瘦，灸脾俞、章門各七壯。女人淋帶，腎俞、中封各五十壯，或三陰交及中極、氣海、腎俞，已上女人赤白帶下俱治。</p>

<h2>二十五、癥瘕積聚痞癖痃疝</h2>
<p>或曰：癥瘕與痞癖痃疝積聚，有何分別，其病相似，請得其詳，並論其治。曰：癥者徵也，又精也，以其所徵驗及久而成精萃也。王叔和《脈經》云：左手脈橫，癥在左；右手脈橫，癥在右。昔人患癥癖死，遺言令剖腹視之，得腹中病塊如石，文理具五色，後將削成刀柄，因以刀刈三稜，柄消為水，乃知三稜可療癥也。一方，蓬莪朮、荊三陵，酒煨，煎服效。又人疾體瘦，喜飲鮮血，謂之蝨癥，無藥可療，須千年木梳燒灰服，或飲黃龍浴水乃瘥。瘕者假也，又遐也，以其假借氣血而成形，又歷年遐遠之謂也。癥瘕腹中積塊堅者曰癥，有物形曰瘕。《史·倉公傳》：蟯瘕為病，得之酒，且內飲以芫花一撮，出蟯可數升，病已。《正義》曰：犬狗魚鳥，不熟食之成瘕病。方書云：腹中雖硬，忽聚忽散，無有常准，謂之瘕。言病瘕而未及癥也。經曰：小腸移熱於大腸，為伏瘕。痞者否也，如天地不交之否，內柔外剛，萬物不通之義也。物不可以終否，故否久而成脹滿，而莫能療焉。積者跡也，挾痰血而成形跡，亦鬱積至久之謂耳。聚者緒也，依元氣以為端緒，亦聚散不常之意也。痃癖者，懸絕隱僻又玄妙莫測之名。《六書》故云：癖積，弦急也。本草陳藏器曰：昔有患痃癖者，取大蒜合皮，截去兩頭吞之，名曰內灸，果獲效。疝者詵也，詵詵然上入而痛也。《素問》黃帝曰：診得心脈而急，此為何病？岐伯曰：病名心疝，少腹當有形也。又脈急者曰疝瘕少腹痛。《史·倉公傳》：臣意診之曰湧疝也，今人不得前後，溲中熱，故溺赤。又牡疝在鬲下，上連肺，病得之內，切其脈，得番陽，番陽入虛里處，且日死一番一絡者，牡疝也。方書曰：三陽急為瘕，三陰急為疝。《難經》曰：任之為病，其內苦結，男子為七疝。七疝者，寒、水、筋、血、氣、狐、㿗七者是也。凡治七疝，先灸大敦穴，一名大順，在足大拇指，離爪甲如韭菜葉大，乃足厥陰井也。灸三壯愈。大抵痞與痃癖，乃胸鬲間之候；積與聚，為肚腹內之疾。因屬上中二焦之病，故多見於男子。其癥與瘕者，獨見於臍下，是為下焦之疾，故常得於婦人。凡腹中積聚如塊，俱為惡候，切勿視為尋常而不求蚤治。若待脹滿已成，胸腹鼓擊，雖倉、扁復生，亦莫能救，遘斯疾者，可不懼乎。蚤治之法，不可損傷胃氣，當用和解軟堅，積消痞開，白朮五兩，茯苓三兩，神麯二兩，地慄粉八兩，人參五錢，甘草一兩，白芍三兩，半夏一兩，白芥子一兩，卜子五錢，厚朴五錢，肉桂三錢，附子一錢，當歸二兩，鱉甲一斤（另為細末），已上俱為細末，煉蜜丸，每服五錢，臨臥鹽湯下，即以美食壓之使下，一料盡未有不療者。一方，枳殼去穰，入巴豆一粒，以麻皮扎之，煮爛，去巴豆，焙為末，治一切痞良。</p>
<p>針灸法：食積血瘕痛，胃俞、氣海、行間。小兒痞氣久不愈，灸中脘、章門各七壯，臍後脊中七壯。痞塊悶痛，大陵、中脘、三陰交。脾積氣塊痛，脾俞、天樞、中脘、氣海、三里。腹中有積作痛，大便閉，灸神閥，用巴豆肉為餅，填入臍中，灸三壯、五壯。</p>

<h2>二十六、淋閉癃</h2>
<p>淋之為病，腎虛而膀胱熱也。腎氣虛則便數；膀胱熱則溺竅塞窒，淋瀝不快，小腹弦急，痛引於臍，分有石淋、勞淋、血淋、氣淋、膏淋、冷淋之別。砂石淋，如湯瓶結鹼，尿難卒出，宜清熱，用如聖散，馬藺花、麥冬、茅根、冬葵子、葶藶、枳實、連翹；或石韋、瞿麥、滑石之類。勞淋者，遇勞即發，痛引氣衝，純宜補之，參、耆、歸、芍、茯苓、遠志、鹿茸、牛膝、條芩、生地、車前之類。血淋者，心遺熱於小腸，甚則血與溺俱下，候其鼻色黃者，小便難也，牛膝、側柏、藕節、生地、赤芍、小薊、歸尾、車前之類。氣淋者，胞內氣脹，小腹堅滿，溺有餘瀝，石韋（去毛）、赤芍藥、茅根、冬葵、木香、木通、瞿麥、滑石、枳殼、芒硝之類。膏淋者，液如脂膏，精、溺俱出，菟絲，桑螵蛸、茯苓、澤瀉、鹿角霜之類。冷淋者，冷客下焦，先寒戰而後便數成淋，蓯蓉、地黃、山藥、石斛、牛膝、檳榔、官桂、附子、細辛、黃耆、黃連、甘草。至於小便艱難，不痛而癢，虛也，八味丸加鹿茸、人參。小腹膀胱按之內痛，若沃以湯，澀於小便，上為清涕，此名胞痹，赤苓、細辛、防風、白朮、桂、附、耆、芍、紫菀、生地、花粉、甘草、山茱、山藥、牛膝、半夏、獨活、共為末，蜜丸；或腎著湯、見腰痛門。腎瀝湯。見痹門。胞痹灸法：三陰交三壯，宜脈大而實，忌虛小而澀。虛人宜補氣血，勿利小便。恐竭其水也。</p>
<p>小便不禁，系肺氣虛，不能統攝而致下陷，則遺失也，宜用雞䏶胵、龍骨、遠志、菟絲、人參、牡蠣、五味、海螵蛸；睡而遺尿，為下元冷，桑螵蛸、韭子、菟絲、鹿茸、人參之屬。</p>
<p>小便閉癃，暴為閉，則點滴不通；久為癃，則淋漓頻數。點滴不通，為病最急。《內經》曰：肝之脈，過陰器，所生病者閉癃。又云：督脈者……，女子入系廷孔，男子循莖至篡，所生病者不得前後。又言：三焦下腧……，入絡膀胱，實則閉癃，虛則遺溺。又云：膀胱不利為癃，不約為遺溺。此四經而主出者，肝與督脈及三焦耳，然膀胱為州都之官，津液藏焉，氣化則能出矣，其形有上口而無下口。夫主氣化者，太陰肺也，若使肺燥，不能生水，則氣化不及州都，法當清金潤肺，紫菀、麥冬、桑皮、茯苓、車前之類；如脾濕不運而精不上升，故肺不能下輸，法當健胃燥脾，二朮、茯苓、半夏之類；如腎水涸熱，膀胱不利，法當滋腎滌熱，知、柏、元參、地黃、澤、茯之類。夫滋腎瀉膀胱，名為正治；清金潤燥，名為隔二之治；健胃燥脾，名為隔三之治。又或有水液只滲大腸，小府因而涸竭，宜以淡滲之品分利之，茯苓、豬苓、通、澤之類；或有氣滯不能通調水道，下輸膀胱，宜順氣為主，枳殼、橘紅、木通之類。人有實熱者，非與純陰之品則陽無以化，上熱，梔子、黃芩；中熱，黃連、芍藥；下熱，黃柏、知母。有大虛者，非與溫補之劑則水不能行，如金匱八味丸及補中益氣湯是也。</p>
<p>東垣治一人小便不通，目突腹脹，皮膚欲裂，用淡滲藥不效，東垣曰：疾急，灸膀胱之腑，必氣化乃出；服淡滲而病甚，是氣不化也。無陽則陰無以生，無陰則陽無以化，淡滲氣薄，皆陽藥也，孤陽無陰，欲化得乎？以滋腎陰之品，投之立愈。丹溪曰：吾以吐法通小便，譬如滴水之器，上竅閉，則下竅無以自通，必上竅通而下竅之水出焉。氣虛者，補中益氣湯先服後吐；血虛者，芎歸湯先服後吐；痰多者，二陳湯先服後吐；氣閉者，香附、木香探吐，更有瘀血而小便閉者，牛膝、桃仁為要藥。《別錄》云：小便不利，審是氣虛，獨參湯如神。由是觀之，則受病之源自非一途，若不從望、聞、問、切察之明審之當，而浪投藥劑，幾何不以人命為戲耶。</p>
<p>附：氣閉不通方　陳皮去白，末服三錢，酒調下，外用鹽入臍孔，蔥白頭十餘根扎，切指厚，艾火灸之。</p>

<h2>二十七、前陰諸疾</h2>
<p>督脈、肝脈、任脈，皆前陰所過之脈；又太陰、陽明之所合，俱聚於陰器，男子為玉莖，女人為玉門，所關甚大也。寒則筋縮，收入腹內，此危候也，桂、附、柴，芍、歸、苓之屬；熱則挺縱不收，小柴胡湯、龍膽瀉肝湯，甚者小承氣湯下之。陰痿者，腎虛肝傷，八味丸主之；或保真丸，熟地、杜仲、姜（蜜炒）、山藥、茯苓（乳拌，曬七次）備二兩，鹿膠八兩（切豆大），同鹿角霜炒成珠，菟絲（酒煮，曬）、山萸肉各一兩半，牛膝（酒蒸）、五味（炒）、益智、小茴（鹹水炒）、川楝（酥炙）、遠志（甘草湯泡去心）、巴戟（酒浸去心）各一兩，補骨脂、胡蘆巴、柏子肉、山甲（酥炙）、沉香各三錢，全蠍（去足尾）錢五分，嫩蓯蓉四兩（酒洗去甲及膜，淨二兩）酒煮成膏，煉蜜和前藥末搗為丸如桐子大。每服三錢，酒送下。</p>
<p>前陰冰冷有汗，宜補肝湯，參、耆、苓、草、羌、防、柴、葛、升、知、柏、澤、蒼、歸、翹、曲、豬、陳，煎服。陰汗不止，青蛾丸，杜仲四兩，補骨脂四兩，胡桃肉三十枚（研膏），入煉蜜和前末丸桐子大。每服五錢，砂仁湯送下，外用蛇床子末同密陀僧末撲之良。前陰濕癢，椒粉散，麻黃、蛇床、狗脊、豬苓、川椒、紅花、當歸、肉桂、輕粉，共為末，乾摻之；內服方，大蒜煨去皮研，入江西淡豆豉和丸，硃砂末為衣，燈心湯下錢許。</p>
<p>陰囊濕癢，先用吳茱萸湯洗之，後用吳茱萸五錢，黃柏末、硫黃末各二錢，寒水石三錢，蛇床、澤瀉各五錢，檳榔、枯礬、白芷各三錢，輕粉一錢，為末，撲之良。</p>
<p>陰腫痛，風熱也，沉香、檳榔、丹參、白蒺藜、枳殼、茯苓、赤芍、苦參、芩。腫而有氣攻衝上下，木香、赤茯、丹皮、澤瀉、防風、檳榔、郁李仁，末服。女人陰腫痛，枳實切片炒熱，絹包熨，冷即易，熨數次效。</p>
<p>陰吹者，婦人胃氣下泄，陰吹甚喧，豬油八兩，亂髮如拳大，油煎化為度，分二服，病從小便出。</p>
<p>陰寒，吳茱萸、丁香，為末塞之，硫黃煎洗。陰腫痛，肉蓯蓉、牛膝煮酒服，蛇床煎洗。女人疝瘕痛，白芷、藁本、蓽茇、白蘚皮、羌活、陽起石可服。陰脫，萆麻子研膏，貼頂心及臍，半夏為末，搐鼻則上。產門不合，石灰炒熱淬水洗。</p>

<h3>二十八、後陰諸疾</h3>
<p>脫肛，有瀉痢而脫者，有痔漏而脫者，屬虛也，宜補而澀之，五棓子末敷之託入，如此五、七次，不復脫；煎湯洗亦上。有大腸受熱受寒皆能脫肛，熱者，五棓朴硝湯洗；寒者，香附荊芥湯洗；木賊燒灰存性，麝少許，大便後同棓末敷之。氣虛下陷，用補中益氣湯。大腸熱者，四物湯加荊、防、芩，連。瀉久脫出，補中益氣加五味、訶子，蓮肉煎服。</p>
<p>腫痛屬熱者，生地、芩、連、梔、柏、升、柴；挾寒者，香附、砂仁、肉桂、荊芥、防風。日久不愈，訶子、龍骨各二錢五分，沒石子二個，粟殼、赤石脂各二錢，為末，米飲下一錢，外用鱉頭灰敷。</p>
<p>痔漏作痛，蜈蚣焙研，入片腦敷之；或香油煎過，入五棓末調塗；又田螺入片腦，取水搽；又孩兒茶同麝少許，唾調敷。痔腫，燈火淬之腫消，枳殼水煎熏洗，旱蓮汁塗之良。</p>
<p>反花痔，木瓜末，鱔涎調敷；桃葉杵坐，密陀僧同銅青塗。</p>
<p>漏孔，無名異火煅醋淬研塞；水銀同棗研塞。</p>
<p>腸鳴，有虛、有水飲、有蟲積。脾虛，四君子湯加薑、連。肺移寒於腎為湧水，水者按之腹不堅，水氣客於大腸，疾行則鳴如囊裹水之聲，葶藶、澤瀉、椒目、桑皮、杏仁、豬苓各五錢，為末，蔥白湯送五分，以利為度。胃寒作瀉腸鳴，升陽除濕湯加益智、半夏。相火激動真水，二陳湯加配三黃、梔子。痰飲腹內雷鳴，大戟主之。心腹邪氣，上下雷鳴，幽幽如走水，海藻、昆布、女萎並主之。</p>

<h2>二十丸、交腸</h2>
<p>大小便易位而出，或因醉飽，或因大怒，臟腑垂張，不循常道，當吐以提其氣，使闌門清利，得泌別之職司，服五苓散加木香、枳殼即愈。</p>
