<header data-type="book">
<h1>金針秘傳</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>方慎庵</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>一、論針灸學之淵源及真傳之難得</h1>
<p>世人每以針灸學術，久已失傳。又有謂針灸家多守秘密，靳其術而不傳，此皆未悉針灸學之甘苦，是以有此想當然之說耳。無論何種學術，凡可以文字相傳者，多屬其中之糟粕。若其精華所在，絕非文字可以相傳。其中之曲折奧妙，非由耳提面命不可，甚至可以意會而不可以言傳。孟子所謂大匠誨人，能與人規矩，不能使人巧。非故靳其術而不傳，實有千言萬語，而不能領略一二者。即孟子之所謂巧，乃學術之精華也。針灸之學，精華多而糟粕少。所以數千年來，能得其真傳者，一代不過數人，職此故也。</p>
<p>即以文字可傳者而論，似乎《內經》、《難經》所有之文字，即由上古相傳而來，必無謬誤，無如五代以前，印書之學，尚未發明，各種書籍皆有手抄，甚為難得。又易錯落舛誤，一經世亂，往往焚燬無遺，此相傳之一難也。秦漢以上，各種學術率以口耳相傳，未能筆之於書，人存則學存，人亡則學亦亡，此相傳之二難也。有此二難，是以上古學術，存於今者，十不逮一，並非故守秘密，靳而不傳也。</p>
<p>針灸一道，首重經絡穴道，次即手法針法。如《靈樞》、《素問》、《難經》等書，皆為針灸家之祖籍。數千年來，無能出其範圍，但某經某穴、主治某病、即已略而弗詳。至某穴應如何下針，某病應如何寒溫補瀉，更不得其要領，何也？考《內經》、《難經》而外，專論經絡穴道及主治病症者，據《隋書經籍志》尚有《明堂孔穴》五卷、《明堂孔穴圖》三卷。《唐志》有《黃帝內經明堂》十三卷、《黃帝十二經脈明堂五臟圖》一卷、《黃帝十二經明堂偃側人圖》十二卷、《黃帝明堂》三卷。又隋之楊上善《黃帝內經明堂類成》十三卷、楊元孫《黃帝明堂》三卷，皆足以補《內》、《難》之不足。無如今世一字無存，如但守《內經》、《難經》，即各經穴道，尚不能備，何論其他。</p>
<p>幸有晉人皇甫士安，當漢魏經籍散亡之後，以上各書尚未殘缺，得以蒐羅纂輯。著為《甲乙經》十二卷，垂示後人。至今學針灸者，能知某經有若干穴，某穴確在某處，某病宜取某穴，及各穴應如何下針，皆以《甲乙經》為根據，除此以外，更無可考。是以《甲乙經》之有功於醫，直與《內經》、《難經》並垂不朽。針灸家更宜奉為金科玉律，不可不熟讀而深究也。</p>
<p>由晉宋以迄隋初，百數十年之間，大亂迭興，學術道喪，醫學尤荒。除王叔和之《脈經》、葛洪之《肘後方》、褚澄之《褚氏遺書》、巢元方之《病源》以外，更無他種醫書流傳。針灸之書，更無有起而述之者。至唐初孫思邈真人著《千金方》，始稍稍論及針灸，而王燾著《外臺秘要》，即以針灸為絕無所用，惟於六朝人之方劑，則廣收博採，一字不遺。因此有唐一代，談針法者絕少，《內》、《難》、《甲乙》之學，至此幾乎失傳矣。史雖盛稱狄梁公腦後下針，贅疣立墜，僅堪播為美談，並無一字撰述，此則深可痛惜者也。</p>
<p>趙宋崛興，居然為醫設學，定考醫程式，造就醫學人才。命林億、高保衡等，校正《內經》、《傷寒論》、《金匱要略》等書傳世，官家著有《惠民和劑局方》、《聖濟總錄》諸書，嘉惠醫林。於針灸一科，並極留意，朝廷以世傳針砭之法，方術不同，易滋訛舛，於是命尚藥奉御王惟一等，考求古代明堂氣穴經絡之說，鑄有銅人二具，天聖五年十月製成。奉詔一置醫官院，一置大相國寺仁濟殿。又命纂集舊聞，訂正訛謬，著為《銅人腧穴針灸圖經》三卷，刊刻頒布，俾資遵守。前代失傳之《明堂圖說》，至是始復傳於世。凡讀《內》、《難》、《甲乙》者，可以有所考鏡矣。</p>
<p>又據周密《齊東野語》云：舅氏章叔恭，倅襄州日，嘗獲銅人背面二器，相合則渾然全身。後由趙南仲歸之內府，叔恭嘗寫有銅人背面二圖云云，則宋時內府銅人不止王惟一所制一種。王制之銅人，當為全身，故可分置二處，此為兩面相合而成，不知何時何人所作，其異同優劣如何，俱不可考。即章叔恭所繪之圖，亦不可得見，至為可惜，今言孔穴圖者，惟《銅人腧穴圖經》略存梗概耳。</p>
<p>王惟一所制，章叔恭所繪，皆只有正背二面，側伏尚不完全。惟世傳《明堂灸經》所繪之圖，兼及側面伏面，足補兩種銅人之不足，益可寶貴。惟此書不題著書人姓名，惟題西方子撰，想系宋之高人隱士，精於灸術，不屑以醫著名者之所為也。</p>
<p>元明之間，針灸之學益微，歷代傳習不廢者，只有席氏一家。考明陳會著有《神應經》一卷，卷首列有宗派圖，稱梓桑君席宏達得針灸真傳，世世專精，九傳而至席華叔，十傳而至席信卿，十一世始傳於陳會。會即廣傳其術，共授二十四人，得其真傳者有二人，一為康叔達，一為劉瑾。書中有席宏達傳授誓詞，謂傳道者必盟天歃血，立誓以傳，當於宗派圖下注其姓名。如或妄傳非人，私相付度陰有天刑，明有陽譴云云，此針灸家誓守秘密之明證。但《內經》即有勿傳非人之語，當以針法易習難精，深恐無識之徒，得其皮毛，肆意圖利，貽害病人，故鄭重傳授，藉以垂戒耳。</p>
<p>明季大江南北，以針名世者，尚有二家。一為姑蘇凌漢章，其於周身穴道，不須按揣，隔衣針之，亦百不失一，所謂目無全牛者也。一為六合李千戶，針法亦極精，但其按穴必須去衣折量，先以墨點記其應針之穴，然後下針。其術不同，而神乎其技，則初無二致，人謂其異曲同工。</p>
<p>元明之間，有一秘密之針灸書，得之者視如枕中鴻寶，名曰《衛生針灸元機秘要》。萬曆中太醫院官楊繼洲得其書，謂當公之於世，乃為之補輯刊刻，易其名曰《針灸大全》。同時有高武者，著有《針灸聚英》、《針灸節要》諸書。凡歷代相傳之針法灸法，及針灸家之備歌各賦，多蒐括無遺。元王國端之《扁鵲神應針灸玉龍經》，亦多錄私相傳誦之歌括歌賦。蓋皆熱心針灸學，惟恐古法失傳，同抱一普及公開之思想者也。</p>
<p>吾師黃石屏先生為人治病，亦隔衣下針，無須留意揣量穴道，而自然百無一誤。蓋與明季凌漢章所傳針法，為一脈相傳，固由於周身穴道爛熟胸中，無須臨時脫衣挨按，然其隨手下針百無一誤者，另有取穴準確之法，較之脫衣挨按，尤為迅速。故鄙人平生治病亦遵吾師之法，隔衣下針，並非故為所難，亦由習之既久反較脫衣為易。此等處可以意會，而不可以言傳。將來實習時，吾師所傳隔衣下針之法，當可望其普及也。</p>
<p>習針科者，對於暈針及吸針之解法，務宜講明有素，庶不致臨事倉皇。暈針固險，而吸針尤險而危。昔朱丹溪有一門人，為病者用針，針為氣所吸，牢不可拔，而吸入甚速。其人急趨丹溪求教，丹溪聞之變色曰：吾不能解，惟速求可久先生。葛至，急於他穴下一針，其吸入之針，應手射出。可見針法自有真傳，到此緊要關頭，絲毫不容假借矣。</p>

<h1>二、醫經錄要</h1>
<p>《漢書藝文志》醫經者錄凡七家，二百一十六卷。計《黃帝內經》十八卷、《外經》三十七卷、《扁鵲內經》九卷、《外經》十二卷、《白氏內經》三十八卷、《外經》三十六卷、《旁篇》二十五卷。今傳於世者，只《靈樞》九卷、《素問》九卷，合為《黃帝內經》十八卷，扁鵲《難經》二卷。其餘各家，久已湮沒失傳。嘗謂醫經傳自上古，其時方劑未興，所賴以治病者，惟恃針灸而已。古聖針灸之術，存於今之《內》、《難》兩經者，已十不逮一。居今日而講求針灸之學，斷未有不讀《內》、《難》，而能洞悉原委者。以《內》、《難》諸經為一切針法所自出，方脈家尚在必讀，針灸家更不可不詳考貫通。但今之習針灸者，如責其先讀《內》、《難》諸經，未有不望洋而嘆。茲擇其最關重要，為針灸家所萬不可不知者，於《內經》選錄數篇，《難經》則錄自六十二難以後二十條，為學者立一基礎，較之毫無根底，以訛傳訛者，固有天壤之別。倘由此而探本尋源，推求經義，其造詣更未可限量也。</p>

<h2>（一）《靈樞·經脈》篇</h2>
<p>此篇為醫學之大本原，無論方脈針灸兩家，皆不可不熟讀深思，心知其意。凡人身臟腑經絡，如何貫通，如何聯絡，十二經之界限起止，以及分經辨症之所以然，皆歷歷分明，絲毫不紊。非上古之神聖，何由推測而知。針灸家如不讀此篇，非但不知辨症，且亦無從下手，真乃針灸家之金科玉律，萬不可不讀之大文也。</p>
<p>雷公問於黃帝曰：禁服之言，凡刺之理，經脈為始，營其所行，制其度量，內次五臟，外別六腑，願盡聞其道。黃帝曰：人始生，先成精，精成而腦髓生，骨為幹，脈為營，筋為剛，肉為牆，皮膚堅而毛髮長，谷入於胃，脈道以通，血氣乃行。雷公曰：願卒聞經脈之始生。黃帝曰：經脈者，所以能決死生，處百病，調虛實，不可不通。</p>
<p>肺手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈屬肺，從肺系橫出腋下，下循臑內，行少陰心主之前，下肘中，循臂內上骨下廉，入寸口，上魚，循魚際，出大指之端；其支者，從腕後直出次指內廉，出其端。是動則病肺脹滿膨膨而喘咳，缺盆中痛，甚則交兩手而瞀，此為臂厥。是主肺所生病者，咳，上氣喘渴，煩心胸滿，臑臂內前廉痛厥，掌中熱。氣盛有餘，則肩背痛，風寒汗出中風，小便數而欠。氣虛則肩背痛寒，少氣不足以息，溺色變。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大三倍於人迎，虛者則寸口反小於人迎也。</p>
<p>大腸手陽明之脈，起於大指次指之端，循指上廉，出合谷兩骨之間，上入兩筋之中，循臂上廉，入肘外廉，上臑外前廉，上肩，出髃骨之前廉，上出於柱骨之會上，下入缺盆絡肺，下膈屬大腸；其支者，從缺盆上頸貫頰，入下齒中，還出挾口，交人中，左之右，右之左，上挾鼻孔。是動則病齒痛頸腫。是主津液所生病者，目黃口乾，鼽衄，喉痹，肩前臑痛，大指次指痛不用。氣有餘則當脈所過者熱腫，虛則寒慄不復。為此諸病，盛則瀉之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大三倍於寸口，虛者人迎反小於寸口也。</p>
<p>胃足陽明之脈，起於鼻之交頞中，旁約太陽之脈，下循鼻外，上入齒中，還出挾口環唇，下交承漿，卻循頤後下廉，出大迎，循頰車，上耳前，過客主人，循髮際，至額顱；其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈屬胃絡脾；其直者，從缺盆下乳內廉，下挾臍，入氣街中；其支者，起於胃口，下循腹裡，下至氣街中而合，以下髀關，抵伏兔，下膝臏中，下循脛外廉，下足跗，入中指內間，其支者，下廉三寸而別，下入中指外間；其支者，別跗上，入大指間，出其端。是動則病洒洒振寒，善呻數欠，顏黑，病至則惡人與火，聞木聲則惕然而驚，心欲動，獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，是為骭厥。是主血所生病者，狂瘧溫淫汗出，鼽衄，口喎唇胗，頸腫喉痹，大腹水腫，膝臏腫痛，循膺、乳、氣街、股、伏兔、骭外廉、足跗上皆痛，中指不用。氣盛則身以前皆熱，其有餘於胃，則消穀善飢，溺色黃。氣不足則身以前皆寒慄，胃中寒則脹滿。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大三倍於寸口，虛者人迎反小於寸口也。</p>
<p>脾足太陰之脈，起於大指之端，循指內側白肉際，過核骨後，上內踝前廉，上踹內，循脛骨後，交出厥陰之前，上膝股內前廉，入腹屬脾絡胃，上膈，挾咽，連舌本，散舌下，其支者，復從胃，別上膈，注心中。是動則病舌本強，食則嘔，胃脘痛，腹脹善噫，得後與氣則快然如衰，身體皆重。是主脾所生病者，舌本痛，體不能動搖，食不下，煩心，心下急痛，溏、瘕、泄、水閉、黃疸，不能臥，強立股膝內腫厥，足大指不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大三倍於人迎，虛者寸口反小於人迎也。</p>
<p>心手少陰之脈，起於心中，出屬心系，下膈絡小腸；其支者，從心系上挾咽，系目系；其直者，復從心系卻上肺，下出腋下，下循臑內後廉，行手太陰心主之後，下肘內，循臂內後廉，抵掌後銳骨之端，入掌內後廉，循小指之內出其端。是動則病嗌乾心痛，渴而欲飲，是為臂厥。是主心所生病者，目黃脅痛，臑臂內後廉痛厥，掌中熱痛。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大再倍於人迎，虛者寸口反小於人迎也。</p>
<p>小腸手太陽之脈，起於小指之端。循手外側上腕，出踝中，直上循臂骨下廉，出肘內側兩筋之間，上循臑外後廉，出肩解，繞肩胛，交肩上，入缺盆絡心，循咽下膈，抵胃屬小腸；其支者，從缺盆循頸上頰，至目銳眥卻入耳中；其支者，別頰上䪼抵鼻，至目內眥，斜絡於顴。是動則病嗌痛頷腫，不可以顧，肩似拔，臑似折。是主液所生病者，耳聾目黃頰腫，頸頷肩臑肘臂外後廉痛。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大再倍於寸口，虛者人迎反小於寸口也。</p>
<p>膀胱足太陽之脈，起於目內眥，上額交巔；其支者，從巔至耳上角；其直者，從巔入絡腦，還出別下項，循肩膊內，挾脊抵腰中，入循膂，絡腎屬膀胱；其支者，從腰中下挾脊貫臀，入膕中；其支者，從髆內左右，別下貫胛，扶脊內，過髀樞，循髀外從後廉下合膕中，以下貫踹內，出外踝之後，循京骨，至小指外側。是動則病沖頭痛，目似脫，項如拔，脊痛腰似折，髀不可以曲，膕如結，踹如裂，是為踝厥。是主筋所生病者，痔瘧狂癲疾，頭囟項痛，目黃淚出鼽衄，項背腰尻膕踹腳皆痛，小指不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大再倍於寸口，虛者人迎反小於寸口也。</p>
<p>腎足少陰之脈，起於小指之下，邪趨足心，出於然谷之下，循內踝之後，別人跟中，以上踹內，出膕內廉，上股內後廉，貫脊屬腎絡膀胱，其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本；其支者，從肺出絡心，注胸中。是動則病飢不欲食，面如漆柴，咳唾則有血，喝喝而喘，坐而欲起，目䀮䀮如無所見，心如懸若飢狀，氣不足則善恐，心惕惕如人將捕之，是為骨厥。是主腎所生病者，口熱舌乾，咽腫上氣，嗌乾及痛，煩心心痛，黃疸腸澼，脊股內後廉痛，痿厥嗜臥，足下熱而痛。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。灸則強食生肉，緩帶披髮，大杖重履而步。盛者寸口大再倍於人迎，虛者寸口反小於人迎也。</p>
<p>心主手厥陰心包絡之脈，起於胸中，出屬心包絡，下膈，歷絡三焦；其支者，循胸出脅，下腋三寸，上抵腋，下循臑內，行太陰少陰之間，入肘中，下臂行兩筋之間，入掌中，循中指出其端，其支者，別掌中，循小指次指出其端。是動則病手心熱，臂肘攣急，腋腫，甚則胸脅支滿，心中憺憺大動，面赤目黃，喜笑不休。是主脈所生病者，煩心心痛，掌中熱。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大一倍於人迎，虛者寸口反小於人迎也。</p>
<p>三焦手少陽之脈，起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘，循臑外上肩，而交出足少陽之後，入缺盆，布膻中，散落心包，下膈，循屬三焦；其支者，從膻中上出缺盆，上項，系耳後直上，出耳上角，以屈下頰至䪼；其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳眥。是動則病耳聾渾渾焞焞，嗌腫喉痹。是主氣所生病者，汗出，目銳眥痛，頰痛，耳後肩臑肘臂外皆痛，小指次指不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大一倍於寸口，虛者人迎反小於寸口也。</p>
<p>膽足少陽之脈，起於目銳眥，上抵頭角，下耳後，循頸行手少陽之前。至肩上，卻交出手少陽之後，入缺盆；其支者，從耳後入耳中，出走耳前，至目銳眥後；其支者，別銳眥，下大迎，合於手少陽，抵於䪼，下加頰車，下頸合缺盆以下胸中，貫膈絡肝屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中；其直者，從缺盆下腋，循胸過季脅，下合髀厭中，以下循髀陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入小指次指之間，其支者，別跗上，入大指之間，循大指岐骨內出其端，還貫爪甲，出三毛。是動則病口苦，善太息，心脅痛不能轉側，甚則面微有塵，體無膏澤，足外反熱，是為陽厥。是主骨所生病者，頭痛頷痛，目銳眥痛，缺盆中腫痛，腋下腫，馬刀俠癭，汗出振寒，瘧，胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛，小指次指不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之，盛者人迎大一倍於寸口，虛者人迎反小於寸口也。</p>
<p>肝足厥陰之脈，起於大指叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上膕內廉，循股陰入毛中，過陰器，抵小腹，挾胃屬肝絡膽，上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔；其支者，從目系下頰裡，環唇內；其支者，復從肝別貫隔，上注肺。是動則為腰痛不可以俯仰，丈夫㿉疝，婦人少腹腫，甚則嗌乾，面塵脫色。是肝所生病者，胸滿嘔逆飧泄，狐疝遺溺閉癃。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大一倍於人迎，虛者寸口反小於人迎也。</p>
<p>手太陰氣絕則皮毛焦，太陰者行氣溫於皮毛者也，故氣不榮則皮毛焦，皮毛焦則津液去皮節，津液去皮節者則爪枯毛折，毛折者則毛先死，丙篤丁死，火勝金也。手少陰氣絕則脈不通，脈不通則血不流，血不流則髦色不澤，故其面黑如漆紫者，血先死，壬篤癸死，水勝火也。足太陰氣絕者則脈不榮肌肉，唇舌者肌肉之本也，脈不榮則肌肉軟，肌肉軟則舌萎人中滿，人中滿則唇反，唇反者肉先死，甲篤乙死，木勝土也。足少陰氣絕則骨枯，少陰者冬脈也，伏行而濡骨髓者也，故骨不濡則肉不能著也，骨肉不相親則肉軟卻，肉軟卻故齒長而垢，發無澤，發無澤者骨先死，戊篤己死，土勝水也。足厥陰氣絕則筋絕，厥陰者肝脈也，肝者筋之合也，筋者聚於陰氣，而脈絡於舌本也，故脈弗榮則筋急，筋急則引舌與卵，故唇青舌卷卵縮則筋先死，庚篤辛死，金勝木也。五陰氣俱絕則目系轉，轉則目運，目運者為志先死，志先死則遠一日半死矣。六陽氣絕，則陰與陽相離，離則腠理發泄，絕汗乃出，故旦占夕死，夕占旦死。</p>
<p>經脈十二者，伏行分肉之間，深而不見；其常見者，足太陰過於外踝之上，無所隱故也。諸脈之浮而常見者，皆絡脈也。六經絡手陽明少陽之絡，起於五指間，上合肘中。飲酒者，衛氣先行皮膚，先充絡脈，絡脈先盛，故衛氣已平，營氣乃滿，而經脈大盛。脈之卒然動者，皆邪氣居之，留於本末；不動則熱，不堅則陷且空，不與眾同，是以知其何脈之動也。雷公曰：何以知經脈之與絡脈異也？黃帝曰：經脈者常不可見也，其虛實也以氣口知之，脈之見者皆絡脈也。雷公曰：細子無以明其然也。黃帝曰：諸絡脈皆不能經大節之間，必行絕道而出，入復合於皮中，其會皆見於外。故諸刺絡脈者，必刺其結上，甚血者雖無結，急取之瀉其邪而出其血，留之發為痹也。凡診絡脈，脈色青則寒且痛，赤則有熱。胃中寒，手魚之絡多青矣；胃中有熱，魚際絡赤，其暴黑者，留久痹也；其有赤有黑有青者，寒熱氣也，其青短者，少氣也。凡刺寒熱者皆多血絡，必間日而一取之，血盡而止，乃調其虛實；其小而短者少氣，甚者瀉之則悶，悶甚則僕不得言，悶則急坐之也。</p>
<p>手太陰之別，名曰列缺，起於腕上分間，並太陰之經直入掌中，散入於魚際。其病實則手銳掌熱，虛則欠㰦，小便遺數，取之去腕半寸，別走陽明也。手少陰之別，名曰通里，去腕一寸半，別而上行，循經入於心中，系舌本，屬目系。其實則支膈，虛則不能言，取之掌後一寸，別走太陽也。手心主之別，名曰內關，去腕二寸，出於兩筋之間，循經以上繫於心，包絡心系。實則心痛，虛則為頭強，取之兩筋間也。手太陽之別，名曰支正，上腕五寸，內注少陰；其別者，上走肘，絡肩髃。實則節弛肘廢，虛則生肬，小者如指痂疥，取之所別也。手陽明之別，名曰偏歷，去腕三寸，別入太陰；其別者，上循臂，乘肩髃，上曲頰偏齒，其別者，入耳合於宗脈。實則齲聾，虛則齒寒痹隔，取之所別也。手少陽之別，名曰外關，去腕二寸，外繞臂，注胸中，合心主。病實則肘攣，虛則不收，取之所別也。足太陽之別，名曰飛陽，去踝七寸，別走少陰。實則鼽窒頭背痛，虛則鼽衄，取之所別也。足少陽之別，名曰光明，去踝五寸，別走厥陰，下絡足跗。實則厥，虛則痿躄，坐不能起，取之所別也。足陽明之別，名曰豐隆，去踝八寸，別走太陰；其別者，循脛骨外廉，上絡頭項，合諸經之氣，下絡喉嗌。其病氣逆則喉痹瘁喑，實則狂巔，虛則足不收脛枯，取之所別也。足太陰之別，名曰公孫，去本節之後一寸，別走陽明，其別者，入絡腸胃。厥氣上逆則霍亂，實則腸中切痛，虛則鼓脹，取之所別也。足少陰之別，名曰大鐘，當踝後繞跟，別走太陽；其別者，並經上走於心包，下外貫腰脊。其病氣逆則煩悶，實則閉癃，虛則腰痛，取之所別者也。足厥陰之別，名曰蠡溝，去內踝五寸，別走少陽；其別者，徑脛上睪，結於莖。其病氣逆則睪腫卒疝，實則挺長，虛則暴癢，取之所別也。任脈之別，名曰尾翳，下鳩尾，散於腹。實則腹皮痛，虛則癢搔，取之所別也。督脈之別，名曰長強，挾膂上項，散頭上，下當肩胛左右，別走太陽，入貫膂。實則脊強，虛則頭重，高搖之，挾脊之有過者，取之所別也。脾之大絡，名曰大包，出淵腋下三寸，布胸脅。實則身盡痛，虛則百節盡皆縱，此脈若羅絡之血者，皆取之脾之大絡脈也。凡此十五絡者，實則必見，虛則必下，視之不見，求之上下，人經不同。絡脈異所別也。</p>

<h2>（二）《靈樞·本輸》篇</h2>
<p>此篇為針灸家依經認穴，扼要治病之祖，其十二經五臟六腑之井滎俞經合各穴之發明。非開天明道之聖人不能通曉，非後世言解剖者，所能幾其萬一。凡人周身之穴道，及用針灸治病之方法，俱由此篇逐漸發明，尤為針灸家不可不讀。</p>
<p>黃帝問於岐伯曰：凡刺之道，必通十二經絡之所終始，絡脈之所別處，五輸之所留，六腑之所與合，四時之所出入，五臟之所溜處，闊數之度，淺深之狀，高下所至。願聞其解。岐伯曰：請言其次也。肺出於少商，少商者，手大指端內側也，為井木；溜於魚際，魚際者，手魚也，為滎，注於太淵，太淵，魚後一寸陷者中也，為腧；行於經渠，經渠，寸口中也，動而不居，為經，入於尺澤，尺澤，肘中之動脈也，為合，手太陰經也。</p>
<p>心出於中衝，中衝，手中指之端也，為井木；溜於勞宮，勞宮，掌中中指本節之內間也，為滎；注於大陵，大陵，掌後兩骨之間方下者也，為腧；行於間使，間使之道，兩筋之間，三寸之中也，有過則至，無過則止，為經，入於曲澤，曲澤，肘內廉下陷者之中也，屈而得之，為合，手少陰也。</p>
<p>肝出於大敦，大敦者，足大指之端及三毛之中也，為井木；溜於行間，行間，足大指間也，為滎；注於太衝，太衝，行間上二寸陷者之中也，為腧；行於中封，中封，內踝之前一寸半，陷者之中，使逆則宛，使和則通，搖足而得之，為經；入於曲泉，曲泉，輔骨之下，大筋之上也，屈膝而得之，為合，足厥陰也。</p>
<p>脾出於隱白，隱白者，足大指之端內側也，為井木；溜於大都，大都，本節之後，下陷者之中也，為滎；注於太白，太白，腕骨之下也，為腧；行於商丘，商丘，內踝之下，陷者之中也，為經，入於陰之陵泉，陰之陵泉，輔骨之下，陷者之中也，伸而得之，為合，足太陰也。</p>
<p>腎出於湧泉，湧泉者，足心也，為井木；溜於然谷，然谷，然骨之下者也，為滎，注於太谿，太谿，內踝之後，跟骨之上，陷中者也，為腧；行於復溜，復溜，上內踝二寸，動而不休，為經，入於陰谷，陰谷，輔骨之後，大筋之下，小筋之上也，按之應手，屈膝而得之，為合，足少陰經也。</p>
<p>膀胱出於至陰，至陰者，足小指之端也，為井金；溜於通谷，通谷，本節之前外側也，為滎；注於束骨，束骨，本節之後，陷者中也，為腧；過於京骨，京骨，足外側大骨之下，為原，行於崑崙，崑崙，在外踝之後，跟骨之上，為經；入於委中，委中，膕中央，為合，委而取之，足太陽也。</p>
<p>膽出於竅陰，竅陰者，足小指次指之端也，為井金；溜於俠谿，俠谿，足小指次指之間也，為滎；注於臨泣，臨泣，上行一寸半陷者中也，為腧；過於丘墟，丘墟，外踝之前下，陷者中也，為原；行於陽輔，陽輔，外踝之上，輔骨之前，及絕骨之端也，為經；入於陽之陵泉，陽之陵泉，在膝外陷者中也，為合，伸而得之，足少陽也。</p>
<p>胃出於厲兌，厲兌者，足大指內次指之端也，為井金；溜於內庭，內庭，次指外間也，為滎；注於陷谷，陷谷者，上中指內間上行二寸陷者中也，為腧；過於衝陽，衝陽，足跗上五寸陷者中也，為原。搖足而得之；行於解谿，解谿，上衝陽一寸半陷者中也，為經，入於下陵，下陵，膝下三寸，胻骨外三里也，為合；復下三里三寸為巨虛上廉，復下上廉三寸為巨虛下廉也，大腸屬上，小腸屬下，足陽明胃脈也，大腸小腸，皆屬於胃，是足陽明也。</p>
<p>三焦者，上合手少陽，出於關衝，關衝者，手小指次指之端也，為井金；溜於液門，液門，小指次指之間也，為滎；注於中渚，中渚，本節之後陷者中也，為腧，過於陽池，陽池，在腕上陷者之中也，為原；行於支溝，支溝，上腕三寸，兩骨之間陷者中也，為經；入於天井，天井，在肘外大骨之上陷者中也，為合，屈肘乃得之，三焦下腧，在於足大指之前，少陽之後，出於膕中外廉，名曰委陽，是太陽絡也。手少陽經也，三焦者，足少陽太陰之所將，太陽之別也，上踝五寸，別入貫腨腸，出於委陽，並太陽之正，入絡膀胱，約下焦，實則閉癃，虛則遺溺，遺溺則補之，閉癃則瀉之。</p>
<p>手太陽小腸者，上合手太陽，出於少澤，少澤，小指之端也，為井金；溜於前谷，前谷，在手外廉本節前陷者中也，為滎；注於後溪，後谿者，在手外側本節之後也，為腧；過於腕骨，腕骨，在手外側腕骨之前，為原；行於陽谷，陽谷，在銳骨之下陷者中也，為經；入於小海，小海，在肘內大骨之外，去端半寸陷者中也，伸臂而得之，為合，手太陽經也。</p>
<p>大腸上合手陽明，出於商陽，商陽，大指次指之端也，為井金；溜於本節之前二間，為滎；注於本節之後三間，為腧；過於合谷，合谷，在大指岐骨之間，為原，行於陽谿，陽谿在兩筋間陷者中也，為經，入手曲池，在肘外輔骨陷者中，屈臂而得之，為合，手陽明也，是五臟六腑之腧，五五二十五腧，六六三十六腧也。六腑皆出足之三陽，上合於手者也。</p>
<p>缺盆之中，任脈也，名曰天突，一。次任脈側之動脈，足陽明也，名曰人迎，二。次脈手陽明也，名曰扶突，三。次脈手太陽也，名曰天窗，四。次脈足少陽也，名曰天容，五。次脈手少陽也，名曰天牖，六。次脈足太陽也，名曰天柱，七。次脈頸中央之脈，督脈也，名曰風府。腋內動脈，手太陰也，名曰天府。腋下三寸，手心主也，名曰天池。</p>
<p>刺上關者，呿不能欠，刺下關者，欠不能呿。刺犢鼻者，屈不能伸，刺兩關者，伸不能屈。</p>
<p>足陽明挾喉之動脈也，其腧在膺中。手陽明次在其腧外，不至曲頰一寸。手太陽當曲頰。足少陽在耳下曲頰之後。手少陽出耳後，上加完骨之上。足太陽挾項大筋之中髮際。陰尺動脈在五里，五腧之禁也。</p>
<p>肺合大腸，大腸者，傳道之府。心合小腸，小腸者，受盛之府。肝合膽，膽者，中精之府。脾合胃，胃者，五穀之府。腎合膀胱，膀胱者，津液之府也。少陽屬腎，腎上連肺，故將兩臟。三焦者，中瀆之府也，水道出焉，屬膀胱，是孤之腑也。是六腑之所與合者。</p>
<p>春取絡脈諸滎大筋分肉之間，甚者深取之，間者淺取之。夏取諸腧孫絡肌肉皮膚之上。秋取諸合，余如春法。冬取諸井諸腧之分，欲深而留之。此四時之序，氣之所處，病之所舍，藏之所宜。轉筋者，立而取之，可令遂已。痿厥者，張而刺之，可令立快也。</p>

<h2>（三）《靈樞·九針十二原》篇</h2>
<p>此篇為《內經》言針法之祖。雖所用之針，古今沿革不同，而所云針法之精微奧妙，萬世不能出其範圍。針灸家不讀此篇，是數典而忘其祖，不知其如何措手矣。</p>
<p>黃帝問於岐伯曰：餘子萬民，養百姓，而收其租稅。余哀其不給，而屬有疾病。余欲勿使被毒藥，無用砭石，欲以微針通其經脈，調其血氣，營其逆順出入之會。令可傳於後世，必明為之法，令終而不滅，久而不絕，易用難忘，為之經紀。異其章，別其表裡，為之終始。令各有形，先立針經。願聞其情。岐伯答曰：臣請推而次之，令有綱紀，始於一，終於九焉。請言其道。小針之要，易陳而難入，粗守形，上守神，神乎，神客在門，未睹其疾，惡知其原。刺之微，在速遲，粗守關，上守機，機之動，不離其空，空中之機，清靜而微，其來不可逢，其往不可追。知機之道者，不可掛以發，不知機道，叩之不發，知其往來，要與之期，粗之暗乎，妙哉工獨有之。往者為逆，來者為順，明知逆順，正行無問。迎而奪之，惡得無虛，追而濟之，惡得無實，迎之隨之，以意和之，針道畢矣。</p>
<p>凡用針者，虛則實之，滿則泄之，宛陳則除之，邪勝則虛之。大要曰：徐而疾則實，疾而徐則虛。言實與虛，若有若無，察後與先，若存若亡，為虛與實，若得若失。</p>
<p>虛實之要，九針最妙，補瀉之時，以針為之。瀉曰：必持內之，放而出之，排陽得針，邪氣得泄。按而引針，是謂內溫，血不得散，氣不得出也。補曰隨之，隨之意若妄之，若行若按，如蚊虻止，如留如還，去如弦絕，今左屬右，其氣故止，外門已閉，中氣乃實，必無留血，急取誅之。持針之道，堅者為寶，正指直刺，無針左右，神在秋毫，屬意病者，審視血脈者，刺之無殆。方刺之時，必在懸陽，及與兩衛，神屬勿去，知病存亡。血脈者，在腧橫居，視之獨澄，切之獨堅。</p>
<p>九針之名，各不同形：一曰鑱針，長一寸六分，二曰員針，長一寸六分，三曰鍉針，長三寸半；四曰鋒針，長一寸六分；五曰鈹針，長四寸，廣二分半；六曰員利針，長一寸六分；七曰毫針，長三寸六分，八曰長針，長七寸，九曰大針，長四寸。鑱針者，頭大末銳，去瀉陽氣。員針者，針如卵形，揩摩分間，不得傷肌肉，以瀉分氣。鍉針者，鋒如黍粟之銳，主按脈勿陷，以致其氣。鋒針者，刃三偶，以發痼疾。鈹針者，末知劍鋒，以取大膿。員利針者，大如氂，且員且銳，中身微大，以取暴氣。毫針者，尖如蚊虻喙，靜以徐往，微以久留之而養，以取痛痹。長針者，鋒利身薄，可以取遠痹。大針者，尖如挺，其鋒微員，以瀉機關之水也。九針畢矣。</p>
<p>夫氣之在脈也，邪氣在上，濁氣在中，清氣在下。故針陷脈則邪氣出，針中脈則濁氣出，針太深則邪氣反沉，病益。故曰：皮肉筋脈各有所處，病各有所宜，各不同形，各以任其所宜。無實無虛，損不足而益有餘，是謂甚病，病益甚。取五脈者死，取三脈者恇；奪陰者死，奪陽者狂，針害畢矣。</p>
<p>刺之而氣不至，無問其數；刺之而氣至，乃去之，勿復針。針各有所宜，各不同形，各任其所為。刺之要，氣至而有效，效之信，若風之吹雲，明乎若見蒼天，刺之道畢矣。</p>
<p>黃帝曰：願聞五臟六腑所出之處。岐伯曰：五臟五腧，五五二十五腧。六腑六腧，六六三十六腧。經脈十二，絡脈十五，凡二十七氣，以上下，所出為井，所溜為滎，所注為腧，所行為經，所入為合，二十七氣所行，皆在五腧也。節之交，三百六十五會，知其要者，一言而終，不知其要，流散無窮。所言節者，神氣之所遊行出入也，非皮肉筋骨也。睹其色，察其目，知其散復；一其形，聽其動靜，知其邪正。右主推之，左持而御之，氣至而去之。</p>
<p>凡將用針，必先診脈，視氣之劇易，乃可以治也。五臟之氣已絕於內，而用針者反實其外，是謂重竭，重竭必死，其死也靜，治之者，輒反其氣，取腋與膺；五臟之氣已絕於外，而用針者反實其內，是謂逆厥，逆厥則必死，其死也躁，治之者，反取四末。刺之害中而不去，則精泄；害中而去，則致氣。精泄則病益甚而恇，致氣則生為癰瘍。</p>
<p>五臟有六腑，六腑有十二原，十二原出於四關，四關主治五臟。五臟有疾，當取之十二原，十二原者，五臟之所以稟三百六十五節氣味也。五臟有疾也，應出十二原，而原各有所出，明知其原，睹其應，而知五臟之害矣。陽中之少陰，肺也，其原出於太淵，太淵二，陽中之太陽，心也，其原出於大陵，大陵二。陰中之少陽，肝也，其原出於太衝，太衝二。陰中之至陰，脾也，其原出於太白，太白二。陰中之太陰，腎也，其原出太谿，太谿二。膏之原，出於鳩尾，鳩尾一。肓之原，出於脖胦，脖胦一。凡此十二原者，主治五臟六腑之有疾者也。脹取三陽，飧泄取三陰。</p>
<p>今夫五臟之有疾也，譬猶刺也，猶汙也，猶結也，猶閉也。刺雖久，猶可拔也；汙雖久，猶可雪也；結雖久，猶可解也；閉雖久，猶可決也。或言久疾之不可取者，非其說也。夫善用針者，取其疾也，猶拔刺也，猶雪汙也，猶解結也，猶決閉也。疾雖久，猶可畢也。言不可治者，未得其術也。</p>
<p>刺諸熱者，如以手探湯；刺寒清者，如人不欲行。陰有陽疾者，取之下陵三里，正往無殆，氣下乃止，不下復始也。疾高而內者，取之陰之陵泉，疾高而外者，取之陽之陵泉也。</p>

<h2>（四）《靈樞·小針解》</h2>
<p>此篇乃前篇之註解，與《素問·針解篇》大同小異，皆古聖針法之真傳。恐後世以訛傳訛，故特著此二篇，以防後世之貽誤。凡習針法者，萬不可不讀。</p>
<p>所謂易陳者，易言也，難入者，難著於人也。粗守形者，守刺法也。上守神者，守人之血氣有餘不足，可補瀉也。神客者，正邪共會也。神者，正氣也。客者，邪氣也。在門者，邪循正氣之所出入也。未睹其疾者，先知邪正何經之疾也。惡知其原者，先知何經之病所取之處也。刺之微在數遲者，徐疾之意也。粗守關者，守四肢而不知血氣正邪之往來也。上守機者，知守氣也。機之動不離其空中者，知氣之虛實，用針之徐疾也。空中之機清淨以微者，針以得氣，密意守氣勿失也。其來不可逢者，氣盛不可補也。其往不可追者，氣虛不可瀉也。不可掛以發者，言氣易失也。扣之不發者，言不知補瀉之意也，血氣已盡而氣不下也。知其往來者，知氣之逆順盛虛也。要與之期者，知氣之可取之時也。粗之暗者，冥冥不知氣之微密也。妙哉！工獨有之者，盡知針意也。往者為逆者，言氣之虛而小，小者逆也。來者為順者，言形氣之平，平者順也。明知逆順，正行無問者，言知所取之處也。迎而奪之者，瀉也。追而濟之者，補也。所謂虛則實之者，氣口虛而當補之也。滿則泄之者，氣口盛而當瀉之也。宛陳則除之者，去血脈也。邪勝則虛之者，言諸經有盛者，皆瀉其邪也。徐而疾則實者，言徐內而疾出也。疾而徐則虛者，言疾內而徐出也。言實與虛若有若無者，言實者有氣，虛者無氣也。察後與先若亡若存者，言氣之虛實，補瀉之先後也，察其氣之已下與常存也。為虛與實若得若失者，言補者佖然若有得也，瀉則怳然有失也。夫氣之在脈也邪氣在上者，言邪氣之中人也高，故邪氣在上也。濁氣在中者，言水穀皆入於胃，其精氣上注於肺，濁溜於腸胃，言寒溫不適，飲食不節，而病生於腸胃，故命曰濁氣在中也。清氣在下者，言清濕地氣之中人也，必從足始，故曰清氣在下也。針陷脈則邪氣出者，取之上。針中脈則濁氣出者，取之陽明合也。針太深則邪氣反沉者，言淺浮之病，不欲深刺也，深則邪氣從之入，故曰反沉也。皮肉筋脈各有所處者，言經絡各有所主也。取五脈者死，言病在中，氣不足，但用針盡大瀉其諸陰之脈也。取三陽之脈者，唯言盡瀉三陽之氣，令病恇然不復也。奪陰者死，言取尺之五里五往者也。奪陽者狂，正言也。睹其色、察其目、知其散復、一其形、聽其動靜者，言上工知相五色於目，有知調尺寸小大緩急滑澀，以言所病也。知其邪正者，知論虛邪與正邪之風也。右主推之，左持而御之者，言持針而出入也。氣至而去之者，言補瀉氣調而去之也。調氣在於終始一者，持心也。節之交三百六十五會者，絡脈之滲灌諸節者也。所謂五臟之氣已絕於內者，脈口氣內絕不至，反取其外之病處與陽經之合，有留針以致陽氣，陽氣至則內重竭，重竭則死矣，其死也無氣以動，故靜。所謂五臟之氣已絕於外者，脈口氣外絕不至，反取其四末之輸，有留針以致其陰氣，陰氣至則陽氣反入，入則逆，逆則死矣，其死也陰氣有餘，故躁。所以察其目者，五臟使五色循明，循明則聲章，聲章者，則言聲與平生異也。</p>

<h2>（五）《靈樞·營氣》篇</h2>
<p>此篇論營血之專行於經隧，循環無端，而成十二經脈，須與第一篇參看，其理益明。</p>
<p>黃帝曰：營氣之道，內谷為寶。谷入於胃，乃傳之肺，流溢於中，布散於外，精專者行於經隧，常營無已，終而復始，是謂天地之紀。故氣從太陰出，注手陽明，上行注足陽明，下行至跗上，注大指間，與太陰合，上行抵髀。從脾注心中，循手少陰出腋下臂，注小指合手太陽，上行乘腋出䪼內，注目內眥，上巔下項，合足太陽，循脊下尻，下行注小指之端，循足心注足少陰，上行注腎，從腎注心，外散於胸中。循心主脈出腋下臂，出兩筋之間，入掌中，出中指之端，還注小指次指之端，合手少陽，上行注膻中，散於三焦，從三焦注膽，出脅注足少陽，下行至跗上，復從跗注大指間，合足厥陰，上行至肝，從肝上注肺，上循喉嚨，入頏顙之竅，究於蓄門。其支別者，上額循巔下項中，循脊入骶，是督脈也，絡陰器，上過毛中，入臍中，上循腹裡，入缺盆，下注肺中，復出太陰。此營氣之所行也，逆順之常也。</p>

<h2>（六）《靈樞·營衛生會》篇</h2>
<p>此篇論營衛之所由生，及三焦生化之原理。凡針法皆借營衛以為用，如不明營衛循行與三焦相關之理，則區區毫芒之針，如何發生效力。且所謂刺營無傷衛，刺衛無傷營者，果如所指，又果何以措手耶。</p>
<p>黃帝問於岐伯曰：人焉受氣？陰陽焉會？何氣為營？何氣為衛？營安從生？衛於焉會？老壯不同氣，陰陽異位，願聞其會。岐伯答曰：人受氣於谷，谷入於胃，以傳與肺，五臟六腑，皆以受氣，其清者為營，濁者為衛，營在脈中，衛在脈外，營周不休，五十而復大會。陰陽相貫，如環無端。衛氣行於陰二十五度，行於陽二十五度，分為晝夜，故氣至陽而起，至陰而止。故曰：日中而陽隴為重陽，夜半而陰隴為重陰。故太陰主內，太陽主外，各行二十五度，分為晝夜。夜半為陰隴，夜半後而為陰衰，平旦陰盡而陽受氣矣。日中為陽隴，日西而陽衰，日入陽盡而陰受氣矣。夜半而大會，萬民皆臥，命曰合陰，平旦陰盡而陽受氣，如是無已，與天地同紀。</p>
<p>黃帝曰：老人之不夜瞑者，何氣使然？少壯之人不晝瞑者，何氣使然？岐伯答曰：壯者之氣血盛，其肌肉滑，氣道通，營衛之行，不失其常，故晝精而夜瞑。老者之氣血衰，其肌肉枯，氣道澀，五臟之氣相搏，其營氣衰少而衛氣內伐，故晝不精，夜不瞑。</p>
<p>黃帝曰：願聞營衛之所行，皆何道從來？岐伯答曰：營出於中焦，衛出於下焦。黃帝曰：願聞三焦之所出。岐伯答曰：上焦出於胃上口，並咽以上貫膈而布胸中，走腋，循太陰之分而行，還至陽明，上至舌，下足陽明，常與營俱行於陽二十五度，行於陰亦二十五度一周也，故五十度而復大會於手太陰矣。</p>
<p>黃帝曰：人有熱飲食下胃，其氣未定，汗則出，或出於面，或出於背，或出於身半，其不循衛氣之道而出何也？岐伯曰：此外傷於風，內開腠理，毛蒸理泄，衛氣走之，固不得循其道，此氣慓悍滑疾，見開而出，故不得從其道，故命曰漏泄。</p>
<p>黃帝曰：願聞中焦之所出。岐伯答曰：中焦亦並胃中，出上焦之後，此所受氣者，泌糟粕，蒸津液，化其精微，上注於肺脈，乃化而為血，以奉生身，莫貴於此，故獨得行於經隧，命曰營氣。黃帝曰：夫血之與氣，異名同類，何謂也？岐伯答曰：營衛者，精氣也。血者，神氣也。故血之與氣，異名同類焉。故奪血者無汗，奪汗者無血，故人生有兩死而無兩生。</p>
<p>黃帝曰：願聞下焦之所出。岐伯曰：下焦者，別迴腸，注於膀胱而滲入焉。故水穀者，常並居於胃中，成糟粕，而俱下於大腸，而成下焦，滲而俱下，濟泌別汁，循下焦而滲入膀胱焉。</p>
<p>黃帝曰：人飲酒，酒亦入胃，谷未熟而小便獨先下何也？岐伯答曰：酒者，熟谷之液也，其氣悍以清，故後谷而入，先谷而液出焉。黃帝曰：善。余聞上焦如霧，中焦如漚，下焦如瀆，此之謂也。</p>

<h2>（七）《素問·離合真邪論》篇</h2>
<p>此篇論審症候氣，引針補瀉之法，至詳且盡，為後世針家所宗祖，亟錄之以示模範。</p>
<p>黃帝問曰：余聞九針九篇，夫子乃因而九之，九九八十一篇，余盡通其意矣。經言氣之盛衰，左右傾移，以上調下，以左調右，有餘不足，補瀉於滎輸，余知之矣。此皆榮衛之傾移，虛實之所生，非邪氣從外入於經也。余願聞邪氣之在經也，其病人何如？取之奈何？岐伯對曰：夫聖人之起度數，必應於天地，故天有宿度，地有經水，人有經脈。天地溫和，則經水安靜；天寒地凍，則經水凝泣；天暑地熱，則經水沸溢；卒風暴起，則經水波湧而隴起，夫邪之入於脈也，寒則血凝泣，暑則氣淖澤，虛邪因而入客，亦如經水之得風也，經之動脈，其至也亦時隴起，其行於脈中循循然，其至寸口中手也，時大時小，大則邪至，小則平，其行無常處，在陰與陽，不可為度，從而察之，三部九候，卒然逢之，早遏其路。吸則內針，無令氣忤，靜以久留，無令邪布，吸則轉針，以得氣為故，候呼引針，呼盡乃去，大氣皆出，故命曰瀉。帝曰：不足者補之奈何？岐伯曰：必先捫而循之，切而散之，推而按之，彈而怒之，抓而下之，通而取之，外引其門，以閉其神，呼盡內針，靜以久留，以氣至為故，如待所貴，不知日暮，其氣以至，適而自護，候吸引針，氣不得出，各在其處，推闔其門，令神氣存，大氣留止，故命曰補。帝曰：候氣奈何？岐伯曰：夫邪去絡入於經也，舍於血脈之中，其寒溫未相得，如湧波之起也，時來時去，故不常在。故曰方其來也，必按而止之，止而取之，無逢其沖而瀉之。真氣者，經氣者，經氣太虛，故曰其來不可逢，此之謂也。故曰候邪不審，大氣已過，瀉之則真氣脫，脫則不復，邪氣復至，而病益蓄，故曰其往不可追，此之謂也。不可掛以發者，待邪之至時而髮針瀉矣，若先若後者，血氣已盡，其病不可下，故曰知其可取如發機，不知其取如扣椎，故曰知機道者不可掛以發，不知機者扣之不發，此之謂也。帝曰：補瀉奈何？岐伯曰：此攻邪也，疾出以去盛血，而復其真氣，此邪新客，溶溶未有定處也，推之則前，引之則止，逆而刺之，溫血也。刺出其血，其病立已。帝曰：善。然真邪以合，波隴不起，候之奈何？岐伯曰：審捫循三部九候之盛虛而調之，察其左右上下相失及相減者，審其病藏以期之。不知三部者，陰陽不別，天地不分。地以候地，天以候天，人以候人，調之中府，以定三部，故曰刺不知三部九候病脈之處，雖有大過且至，工不能禁也。誅罰無過，命曰大惑，反亂大經，真不可復，用實為虛，以邪為真，用針無義，反為氣賊，奪人正氣，以從為逆，榮衛散亂，其氣已失，邪獨內著，絕人長命，予人天殃，不知三部九候，故不能久長。因不知合之四時五行，因加相勝，釋邪攻正，絕人長命。邪之新客來也，未有定處，推之則前，引之則止，逢而瀉之，其病立已。</p>

<h2>（八）《素問·刺要論》篇</h2>
<p>此篇與下篇《刺齊論》，全元起本原為一篇，王冰分而為二。統論刺法之淺深，戒以過深致害，針家不可不知。</p>
<p>黃帝問曰：願聞刺要。岐伯對曰：病有浮沉，刺有淺深，各至其理，無過其道。過之則內傷，不及則生外壅，壅則邪從之。淺深不得，反為大賊，內動五臟，後生大病。故曰：病有在毫毛腠理者，有在皮膚者，有在肌肉者，有在脈者，有在筋者，有在骨者，有在髓者。是故刺毫毛胰理無傷皮，皮傷則內動脈，肺動則秋病溫瘧，泝泝然寒慄。刺皮無傷肉，肉傷則內動脾，脾動則七十二日四季之月，病腹脹煩不嗜食。刺肉無傷脈，脈傷則內動心，心動則夏病心痛。刺脈無傷筋，筋傷則內動肝，肝動則春病熱而筋弛。刺筋無傷骨，骨傷則內動腎，腎動則冬病脹腰痛。刺骨無傷髓，髓傷則銷鑠胻酸，體解㑊然不去矣。</p>

<h2>（九）《素問·刺齊論》篇</h2>
<p>義已見前。</p>
<p>黃帝問曰：願聞刺淺深之分。岐伯對曰：刺骨者無傷筋，刺筋者無傷肉，刺肉者無傷脈，刺脈者無傷皮，刺皮者無傷肉，刺肉者無傷筋，刺筋者無傷骨。帝曰：余未知其所謂，願聞其解。岐伯曰：刺骨無傷筋者，針至筋而去，不及骨也。刺筋無傷肉者，至肉而去，不及筋也。刺肉無傷脈者，至脈而去，不及肉也。刺脈無傷皮者，至皮而去，不及脈也。所謂刺皮無傷肉者，病在皮中，針入皮中，無傷肉也，刺肉無傷筋者，過肉中筋也。刺筋無傷骨者，過筋中骨也。此之謂反也。</p>

<h2>（十）《素問·刺禁論》篇</h2>
<p>此篇論禁刺之要害，凡針家皆宜三複之。</p>
<p>黃帝問曰：願聞禁數。岐伯曰：臟有要害，不可不察，肝生於左，肺藏於右，心部於表，腎治於裡，脾為之使，胃為之市。鬲肓之上，中有父母，七節之傍，中有小心，從之有福，逆之有咎。刺中心，一日死，其動為噫。刺中肝，五日死，其動為語。刺中腎，六日死，其動為嚏。刺中肺，三日死，其動為咳。刺中脾，十日死，其動為吞。刺中膽，一日半死，其動為嘔。刺跗上中大脈，血出不止死。刺面中溜脈，不幸為盲。刺頭中腦戶，入腦立死。刺舌下中脈太過，血出不止為喑。刺足下布絡中脈，血不出為腫。刺郄中大脈，令人僕脫色。刺氣街中脈，血不出，為腫鼠僕。刺脊間中髓，為傴。刺乳上，中乳房，為腫根蝕。刺缺盆中內陷，氣泄，令人喘咳逆。刺手魚腹內陷，為腫。無刺大醉，令人氣亂。無刺大怒，令人氣逆。無刺大勞人，無刺新飽人，無刺大飢人，無刺大渴人，無刺大驚人。刺陰股中大脈，血出不止死。刺客主人內陷中脈，為內漏為聾。刺膝髕出液，為跛。刺臂太陰脈，出血多立死。刺足少陰脈，重虛出血，為舌難以言。刺膺中陷中肺，為喘逆仰息。刺肘中內陷，氣歸之，為不屈伸。刺陰股下三寸內陷，令人遺溺。刺掖下脅間內陷，令人咳。刺少腹中膀胱溺出，令人少腹滿。刺腨腸內陷，為腫。刺匡上陷骨中脈，為漏為盲。刺關節中液出，不得屈伸。</p>

<h2>（十一）《素問·刺志論》篇</h2>
<p>此篇以氣血隨谷脈為虛實，叮嚀反復，以免誤針。可見針灸家於虛實寒熱補瀉之道，亟應講求，不得籠統施治。</p>
<p>黃帝問曰：願聞虛實之要。岐伯對曰：氣實形實，氣虛形虛，此其常也，反此者病。谷盛氣盛，谷虛氣虛，此其常也，反此者病。脈實血實，脈虛血虛，此其常也，反此者病。帝曰：如何而反？岐伯曰：氣虛身熱，此謂反也。谷入多而氣少，此謂反也。谷不入而氣多，此謂反也。脈盛血少，此謂反也。脈小血多，此謂反也。氣盛身寒，得之傷寒。氣虛身熱，得之傷暑。谷入多而氣少者，得之有所脫血，濕居下也。谷入少而氣多者，邪在胃及與肺也。脈小血多者，飲中熱也。脈大血少者，脈有風氣，水漿不入，此之謂也。夫實者，氣入也。虛者，氣出也。氣實者，熱也。氣虛者，寒也。入實者，左手開針空也，入虛者，左手閉針空也。</p>

<h2>（十二）《素問·針解》篇</h2>
<p>此篇與《靈樞·小針解》大同小異，後半所釋，非《九針十二原》篇之文。疑另有九針一篇，或在外經，今佚不傳。篇末百二十四字，王冰已稱義理殘缺，莫可尋究，因上古之書，故且載之，以示一字千金之義。</p>
<p>黃帝問曰：願聞九針之解，虛實之道。岐伯對曰：刺虛則實之者，針下熱也，氣實乃熱也。滿而泄之者，針下寒也，氣虛乃寒也。菀陳則除之者，出惡血也。邪勝則虛之者，出針勿按。徐而疾則實者，徐出針而疾按之。疾而徐則虛者，疾出針而徐按之。言實與虛者，寒溫氣多少也。若無若有者，疾不可知也。察後與先者，知病先後也。為虛與實者，工勿失其法。若得若失者，離其法也。虛實之要，九針最妙者，為其各有所宜也。補瀉之時者，與氣開闔相合也。九針之名，各不同形者，針窮其所當補瀉也。刺實須其虛者，留針陰氣隆至，乃去針也。刺虛須其實者，陽氣隆至，針下熱乃去針也。經氣已至，慎守勿失者，勿變更也。深淺在志者，知病之內外也。近遠如一者，深淺其候等也。如臨深淵者，不敢墮也。手如握虎者，欲其壯也。神無營於眾物者，靜志觀病人，無左右視也。義無邪下者，欲端以正也。必正其神者，欲瞻病人目制其神，令氣易行也。所謂三里者，下膝三寸也。所謂跗之者，舉膝分易見也。巨虛者，蹺足䯒獨陷者。下廉者，陷下者也。帝曰：余聞九針，上應天地四時陰陽，願聞其方，令可傳於後世以為常也。岐伯曰：夫一天、二地、三人、四時、五音、六律、七星、八風、九野，身形亦應之，針各有所宜，故曰九針。人皮應天，人肉應地，人脈應人，人筋應時，人聲應音，人陰陽合氣應律，人齒面目應星，人出入氣應風，人九竅三百六十五絡應野。故一針皮，二針肉，三針脈，四針筋，五針骨，六針調陰陽，七針益精，八針除風，九針通九竅，除三百六十五節氣，此之謂各有所主也。人心意應八風，人氣應天，人發齒耳目五聲應五音六律，人陰陽脈血氣應地，人肝目應之九。九竅三百六十五。人一以觀動靜，天二以候五色，七星應之，以候發毋澤。五音一以候宮、商、角、徵、羽，六律有餘不足應之。二地一以候高下、有餘。九野一節，俞應之，以候閉節。三人變一、分人候齒，泄多血少，十分角之。變五分以候緩急，六分不足，三分寒關節。第九分四時，人寒溫燥濕，四時一應之，以候相反，一四方各作解。</p>

<h2>（十三）《難經》錄要</h2>
<p>六十二難曰：藏井滎有五，府獨有六者，何謂也？然：府者，陽也。三焦行於諸陽，故置一俞，名曰原。所以府有六者，亦與三焦共一氣也。</p>
<p>共一氣，謂亦行於諸陽，非謂其氣皆出於三焦也。</p>
<p>六十三難曰：《十變》言，五臟六腑滎合，皆以井為始者，何也？然：井者，東方春也，萬物之始生。諸蚑行喘息，蜎飛蠕動，當生之物，莫不以春生。故歲數始於春，日數始於甲，故以井為始也。</p>
<p>《靈·本輸》篇：臟之井皆屬木，腑之井皆屬金。此言臟腑之井皆屬木，越人或另有所本。《難經》有與《內經》互異之處，皆註明於每難之後，以俟考訂。</p>
<p>六十四難曰：《十變》又言，陰井木，陽井金，陰滎火，陽滎水；陰俞土，陽俞木；陰經金，陽經火；陰合水，陽合土。陰陽皆不同，其意何也？然：是剛柔之事也。陰井乙木，陽井庚金。陽井庚，庚者，乙之剛也，陰井乙，乙者，庚之柔也。乙為木，故言陰井木也；庚為金，故言陽井金也。余皆仿此。</p>
<p>後半言陰陽配合之道，義頗精當。</p>
<p>六十五難曰：經言所出為井，所入為合，其法奈何？然：所出為井，井者，東方春也，萬物之始生，故言所出為井也。所入為合，合者，北方冬也，陽氣入藏，故言所入為合也。</p>
<p>六十六難曰：經言肺之原，出於太淵；心之原，出於大陵；肝之原，出於太衝；脾之原，出於大白；腎之原，出於太谿；少陰之原，出於兌骨；膽之原，出於丘墟，胃之原，出於衝陽；三焦之原，出於陽池；膀胱之原，出於京骨；大腸之原，出於合谷；小腸之原，出於腕骨。十二經皆以俞為原者，何也？然：五臟俞者，三焦之所行，氣之所留止也。三焦所行之俞為原者，何也？然：齊下腎間動氣者，人之生命也，十二經之根本也，故名曰原。三焦者，原氣之別使也，主通行三氣，經歷於五臟六腑。原者，三焦之尊號也，故所止輒為原。五臟六腑之有病者，皆取其原也。</p>
<p>《靈·本輸》篇：心出於中衝，為井木云云，乃以手厥陰包絡之穴，為心所出入之處。因心為人身之主，精神所舍，其臟堅固，邪弗能客，故邪在心者，皆在包絡。故以大陵為心之原。然《甲乙經》以少衝為心之井云云，是以心經，仍以本經之穴為井滎俞經合，實兩經之所無。此以兌骨為少陰之原，或即甲乙之所本。</p>
<p>六十七難曰：五臟募皆在陰，而俞皆在陽者，何謂也？然：陰病行陽，陽病行陰。故令募在陰，俞在陽也。</p>
<p>六十八難曰，五臟六腑，皆有井滎俞經合，皆何所主？然：經言所出為井，所流為滎，所注為俞，所行為經，所入為合。井主心下滿，滎主身熱，俞主體重節痛，經主喘咳寒熱，合主逆氣而泄。此五臟六腑井滎俞經合所主病也。</p>
<p>六十九難曰：經言虛者補之，實者瀉之，不實不虛，以經取之。何謂也？然：虛者補其母，實者瀉其子，當先補之，然後瀉之。不實不虛，以經取之者，是正經自生病，不中他邪也，當自取其經，故言以經取之。</p>
<p>《內經》補瀉之法，或取本經，或取他經，或先瀉後補，或先補後瀉，或取一經，或取三四經，其法不一。若概以補母瀉子為定法，則未必然也。</p>
<p>七十難曰：春夏刺淺，秋冬刺深者，何謂也？然：春夏者，陽氣在上，人氣亦在上，故當淺取之；秋冬者，陰氣在下，人氣亦在下，故當深取之。春夏各致一陰，秋冬各致一陽者，何謂也？然：春夏溫，必致一陰者，初下針，沉之至腎肝之部，得氣，引持之陰也。秋冬寒，必致一陽者，初內針，淺而浮之至心肺之部，得氣，推內之陽也。是謂春夏必致一陰，秋冬必致一陽。</p>
<p>七十一難曰：經言刺榮無傷衛，刺衛無傷榮。何謂也？然：針陽者，臥針而刺之；刺陰者，以左手攝按所針滎俞之處，氣散乃內針。是謂刺榮無傷衛，刺衛無傷榮也。</p>
<p>臥針即《靈·官針》篇浮刺之法。攝按散氣，即《素問·離合真邪論》捫而循之等法。此取之以為刺陰、刺陽之道，亦簡當可法。</p>
<p>七十二難曰：經言能知迎隨之氣，可令調之。調氣之方，必在陰陽。何謂也？然：所謂迎隨者，知榮衛之流行經脈之往來也。隨其逆順而取之，故曰迎隨。調氣之方，必在陰陽者，知其內外表里，隨其陰陽而調之，故曰調氣之方，必在陰陽。</p>
<p>七十三難曰：諸井者，肌肉淺薄，氣少，不足使也，刺之奈何？然：諸井者，木也；滎者，火也。火者，木之子。當刺井者，以滎瀉之。故經言補者不可以為瀉，瀉者不可以為補。此之謂也。</p>
<p>六十九難以別經為子母，此又以一經子母，義各殊而理極精。</p>
<p>七十四難曰：經言春刺井，夏刺滎，季夏刺俞，秋刺經，冬刺合者，何謂也？然：春刺井者，邪在肝；夏刺滎者，邪在心；季夏刺俞者，邪在脾；秋刺經者，邪在肺；冬刺合者，邪在腎。其肝、心、脾、肺、腎，而繫於春、夏、秋、冬者，何也？然：五臟一病，輒有五也。假令肝病：色青者肝也，臊臭者肝也，喜酸者肝也，喜呼者肝也，喜泣者肝也。其病眾多，不可盡言也。四時有數，而並繫於春夏秋冬者也。針之要妙，在於秋毫者也。</p>
<p>七十五難曰：經言東方實，西方虛，瀉南方，補北方，何謂也？然：金木水火土，當更相平。東方木也，西方金也。木欲實，金當平之；火欲實，水當平之；土欲實，木當平之；金欲實，火當平之，水欲實，土當平之。東方肝也，則知肝實；西方肺也，則知肺虛。瀉南方火，補北方水。南方火，火者，木之子也；北方水，水者，木之母也，水勝火。子能令母實，母能令子虛，故瀉火補水，欲令金得平木也。經曰：不能治其虛，何問其餘。此之謂也。</p>
<p>六十九難：虛則補母，實則瀉子。今實則瀉子補母，虛則反補其子，未詳何故。</p>
<p>七十六難曰：何謂補瀉？當補之時，何所取氣？當瀉之時，何所置氣？然：當補之時，從衛取氣；當瀉之時，從榮置氣。其陽氣不足，陰氣有餘，當先補其陽，而後瀉其陰。陰氣不足，陽氣有餘，當先補其陰，而後瀉其陽。榮衛通行，此其要也。</p>
<p>七十七難曰：經言上工治未病，中工治已病者，何謂也？然：所謂治未病者，見肝之病，則知肝當傳之與脾，故先實其脾氣，無令得受肝之邪，故曰治未病焉。中工者，見肝之病，不曉相傳，但一心治肝，故曰治已病也。</p>
<p>《金匱要略》首篇云上工治未病節，與此正合，而不見於《靈》、《素》兩經。想仲景即引越人所說，而越人又另有所本也。</p>
<p>七十八難曰：針有補瀉，何謂也？然：補瀉之法，非必呼吸出內針也。知為針者信其左；不知為針者，信其右。當刺之時，先以左手厭按所針滎俞之處，彈而努之，爪而下之，其氣之來，如動脈之狀，順針而刺之。得氣因推而內之，是謂補；動而伸之，是謂瀉。不得氣，乃與男外女內。不得氣，是為十死不治也。</p>
<p>呼吸出納為補瀉之法，即《素問·離合真邪論》所云是也。越人以為補瀉之法，不止於死，故以信左信右之說發揮之。</p>
<p>七十九難曰：經言迎而奪之，安得無虛？隨而濟之，安得無實？虛之與實，若得若失；實之與虛，若有若無。何謂也？然：迎而奪之者，瀉其子也；隨而濟之者，補其母也。假令心病，瀉手心主俞，是謂迎而奪之者也，補手心主井，是謂隨而濟之者也。所謂實之與虛者，牢濡之意也。氣來實牢者為得，濡虛者為失，故曰若得若失也。</p>
<p>《內經》針法，候其氣之呼吸出入，及針鋒之所向，以為補瀉，是皆以一穴之順逆為迎隨。此則以針本經來處之穴，為迎為瀉，針去處之穴，為隨為補，是以本穴之前後穴為迎隨矣。義相近而法各殊。</p>
<p>八十難曰：經言有見如入，有見如出者，何謂也？然：所謂有見如入者，謂左手見氣來至，乃內針，針入見氣盡，乃出針。是謂有見如入、有見如出也。</p>
<p>此節內如字皆讀作而字，其義自明。</p>
<p>八十一難曰：經言無實實虛虛，損不足而益有餘。是寸口脈耶？將病自有虛實耶？其損益奈何？然：是病，非謂寸口脈也。謂病自有虛實也。假令肝實而肺虛，肝者木也，肺者金也，金木當更相平，當知金平木。假令肺實而肝虛微少氣，用針不補其肝，而反重實其肺，故曰實實虛虛，損不足而益有餘。此者中工之所害也。</p>

<h1>三、骨度尺寸圖說</h1>
<figure>
<img alt="仰人骨度部位圖">
</figure>
<figure>
<img alt="伏人骨度部位圖">
</figure>

<h2>（一）周身骨部名目</h2>
<p>巔，（頂巔也。）腦，（頭中髓也。）囟，（音信，腦蓋骨也。嬰兒腦骨未合，軟而跳動之處，謂之囟門是也。）額顱，（顱前為髮際，髮際前為額顱。）顏，（額上曰顏。《說文》曰眉目之間也。）頞，（音遏，鼻梁，亦名下極，即山根也。）䪼，（音拙，目下為䪼。）顳顬，（顳，柔涉切。顬間儒。耳前動處，蓋即俗所云兩太陽也，一曰鬢骨。）顑，（音坎，又海敢切。《釋義》曰飢而面黃，與經義未合，詳見經絡類部分。）頄，（音求，顴頰間骨。）頰，（耳下曲處為頰。）頣，（音移，頷中為頤。）頷，（何敢切，腮下也，虎頭燕頷義即此。）目系，（目內深處脈也。）目內眥，（目內角也。）目銳眥，（目外角也。）人中，（唇之上，鼻之下也。）齒牙，（前小者曰齒，後大者曰牙。）舌本，（舌根也。）咽，（所以通飲食，居喉之後。）喉，（所以通呼吸，居咽之前。）嗌，（音益，喉也。）會厭，（在喉間，為音聲啟閉之戶。）肺系，（喉嚨也。）頏顙，（頏音杭，又去上二聲。顙，思黨切，咽顙也。）頸項，（頭莖之側曰頸；頭莖後為項，又腦後曰項。）天柱骨，（肩骨上際，頸骨之根也。）肩解，（膂上兩角為肩解。）肩胛，（胛音甲，肩解下成片骨也，亦名肩膊。）巨骨，（膺上橫骨。）膺，（音英，胸前為膺，一曰胸兩旁高處為膺。）胸中，（兩乳之間也。）膈，（膈膜也，膈上為宗氣之所聚，是為膻中。）腋，（脅之上際。）腹，（臍之上下皆曰腹，臍下為少腹。）季脅，（脅下小肋。）胠，（區去二音，腋之下，脅之上也。）鳩尾，（蔽心骨也。𩩲骬，音結於，即鳩尾別名。）⿰牜⿱宀隹中，（⿰牜⿱宀隹音秒，季脅下兩旁空軟處也。）脊骨，（脊音即，椎骨也。）胂，（音申，膂內曰胂，夾脊肉也。）膂，（呂同，脊骨曰呂，象形也，又曰夾脊兩旁肉也。）髃骨，（髃音魚，端也，肩端之骨。）腰骨，（尻上橫骨也，）腰髁，（髁，苦瓦切，中原雅音作去聲。即腰骻骨，自是六椎而下，俠脊附著之處也。）毛際，（曲骨兩旁為毛際，其動脈即足陽明之氣衝也。）睪，（音高，陰丸也。）篡，（初貫切，屏翳兩筋間為篡，篡內深處為下極。）下極，（兩陰之間，屏翳處也，即會陰穴。）臀，（音屯，機後為臀，尻旁大肉。）機，（挾腰髖骨兩旁為機。）髖，（音寬，尻臀也，一曰兩股間。）尻，（開高切，尾骶骨也，亦名窮骨。）肛，（音工，又好綱切，俗作綱，大腸門也。）臑，（儒、軟二音，又奴刀切，肩膊下內側對腋處，高起耎白肉也。）肘，（手臂中節也，一曰自曲池以上為肘。）臂，（肘之上下皆名為臂，一曰自曲池以下為臂。）腕，（臂掌之交也。）兌骨，（手外踝也。）寸口，（關前後兩手動脈處，皆曰寸口。）關，（手掌後動脈，高骨處曰關。）魚際，（在手腕之前，其肥肉隆起處形如魚者，統謂之魚。寸之前，魚之後，曰魚際穴。）大指次指，（謂大指之次指，即食指也，足亦同。）小指次指，（小指之次指，即無名指也，足亦同。）髀，（比、婢二音，股也，一曰股骨。）髀關，（伏兔上交絞處，曰髀關。）髀厭，（捷骨之下為髀厭，即髀樞中也。）髀樞，（捷骨之下，髀之上，曰髀樞，當環跳穴。）股，（大腿也。）伏兔，（髀前膝上起肉處，曰伏兔。）臏，（頻、牝二音，膝蓋骨也。）膕，（音國，膝後曲處，曰膕。（輔骨，（膝下內外側大骨也。）成骨（膝外廉之骨獨起者。）臑，（音篆，一名腓腸下腿肚也。）腓腸，（腓音肥，足肚也。）胻骨，（胻音杭，又形敬切，足脛骨也。）骭，（音干，足脛骨也。）脛，（形景、形敬二切，足莖骨也。）絕骨，（外踝上尖骨曰絕骨。）䐃，（劬允切，筋肉結聚之處也。直音云腸中脂。王氏曰肘膝後肉如塊者。）踝骨，（踝，胡寡切，足跗後兩旁圓骨，內曰內踝，外曰外踝，俗名孤拐骨。手腕兩旁圓骨亦名踝骨。）跗，（附、敷二音，足面也。）內筋，（內踝上大筋，在太陰後，上踝二寸所。）足岐骨，（大指本節後曰岐骨。）跟（音根）骨，（足根也。）覈骨，（覈，亥陌切，又胡骨。亥，不二切。一作核骨。足大指本節後，內側圓骨也。）踵，（足根也。）踹，（音煅，足根也，本經與腨通用。）臚，（閭、盧二音，皮也。一曰腹前曰臚。）三毛，（足大指爪甲後為三毛，毛後橫紋為聚毛。）</p>
<figure>
<img alt="仰人骨度尺寸圖">
</figure>
<figure>
<img alt="伏人骨度尺寸圖">
</figure>

<h2>（二）骨度</h2>
<p>（下文皆《骨度》篇古數，然骨之大者則大，過小者則不及，此亦言其則耳）</p>
<p><u>頭部</u></p>
<p>頭之大骨圍二尺六寸。發所覆者，顱至項一尺二寸。（顱額顱覆者，言前髮際至後項髮際也。）發以下至頤長—尺。（頷中為頤，頷，腮也。）兩顴相去七寸。角以下至柱骨，長一尺。（耳上側旁曰角。肩膺上際頸根曰柱骨。）耳前當耳門者，廣一尺三寸。耳後當完骨者，廣九寸。（完骨，耳後髮際高骨也。）項發以下至背骨長三寸半。（自後髮際以至大椎項骨三節處也。）頭部折法。以前髮際至後髮際折為一尺二寸。如髮際不明。則取眉心直上後至大杼骨折作一尺八寸。此為直寸。橫寸法，以眼內角至外角比為一寸。頭部橫直寸法。並依此。</p>
<p>督脈神庭至太陽曲差，曲差至少陽本神，本神至陽明頭維，各開一寸半。自神庭至頭維，共開四寸半。</p>
<p><u>胸腹部</u></p>
<p>結喉以下至缺盆中，長四寸。（此以巨骨上陷中而言，即天突穴處。）缺盆以下至𩩲骬之中，長九寸。𩩲骬中至天樞，長八寸。（天樞，足陽明穴名，在臍旁，此指平臍而言。）天樞以下至橫骨，長六寸半。橫骨橫長六寸半。（毛際下骨曰橫骨。按：此古數，以今用上下穴參較多有未合，宜從後胸腹折法為當。）胸圍四尺五寸，腰圍四尺二寸，兩乳之間，廣九寸半。（當折八寸為當。）兩髀之間，廣六寸半。（此當兩股之中，橫骨兩頭之處，俗名髀縫。）胸腹折法：直寸，以中行為三。自缺盆中天突穴起，至岐骨際上中庭穴止，折作八寸四分。自𩩲骬上岐骨際下至臍心，折作八寸。臍心下至毛際曲骨穴，折作五寸。橫寸，以兩乳相去折作八寸。胸腹橫直寸法。並依此。</p>
<p><u>背部</u></p>
<p>膂骨以下至尾骶二十一節，長三尺。（膂骨，脊骨也。脊骨外小而內巨，人之所以能負任者，以是骨之巨也。脊骨二十四節，今云二十一節者，除項骨三節不在內。尾骶骨，男子者尖，女子者平。）背部折法：自大椎至尾骶，通折三尺。上七節，各長一寸四分一釐，共九寸八分七釐；中七節，各一寸六分一釐，共一尺一寸二分七釐，第十四節與臍平；下七節，各一寸二分六釐，共八寸八分二釐。總共二尺九寸九分六釐。不足四釐者，有零未盡也。直寸依此，橫寸用中指同身寸法、脊骨內闊一寸，凡云第二行夾脊一寸半，三行夾脊三寸者，皆除脊一寸外，淨以寸半、三寸論。故在二行，當為二寸。在三行，當為三寸半。</p>
<p><u>側部</u></p>
<p>自柱骨下行腋中不見者，長四寸。（柱骨，頸項根骨也。）腋以下至季脅，長一尺二寸。（季脅，小肋也。）季脅以下至髀樞，長六寸。（大腿曰股。股上曰髀。捷骨之下，大股之上，兩骨合縫之所，曰髀樞，當足少陽之環跳穴處也。髀樞下至膝中，長一尺九寸。）</p>
<p><u>四肢部</u></p>
<p>肩至肘長一尺七寸。肘至腕長一尺二寸半。（臂之中節曰肘。）腕至中指本節長四寸。（臂掌之交曰腕。）本節至其末，長四寸半。（指之後節曰本節。）橫骨上廉下至內輔之上廉，長一尺八寸。（骨際曰廉。膝旁之骨突出者，曰輔骨。內曰內輔，外曰外輔。）內輔之上廉以下至下廉，長三寸半。（上廉、下廉可摸而得。）內輔下廉下至內踝，長一尺三寸。踝骨（義見前。）內踝以下至地，長三寸。膝以下至外踝，長一尺六寸。外踝以下至京骨，長三寸。京骨以下至地，長一寸。膝膕以下至跗屬，長一尺二寸。（膕，腿彎也。跗，足面也。膝在前，膕在後。跗屬者，凡兩踝前後，脛掌所交之處，皆為跗之屬也。）跗屬以下至地，長三寸。足長一尺二寸，廣四寸半。手足折量並用後中指同身寸法。</p>
<p><u>同身寸法說</u></p>
<p>同身寸者，謂同於人身之尺寸也。人之長短肥瘦，各自不同，而穴之橫直，尺寸亦不能一。如今以中指同身寸法一概混用，則人瘦而指長，人肥而指短。豈不謬誤？故必因其形而取之，方得其當。如標幽賦曰：取五穴用一穴而必端，取三經用一經而可正。蓋謂並鄰經而正一經，聯鄰穴而正一穴。譬之切字之法，上用一音，下用一韻，而夾其聲於中，則其經穴之情，自無所遁矣。故頭必因於頭，腹必因於腹，背必因於背，手足必因於手足，總其長短大小而折中之，庶得謂之同身寸法。法附前各條之下，而後之所謂中指同身寸法者，雖不可混用。而亦有當用之處，並列於後。</p>
<p><u>中指同身寸法</u></p>
<p>以男左女右手大指中指，圓曲交接如環，取中指小節橫紋兩頭盡處，比為一寸。凡手足尺寸及背部橫寸，無折法之處，乃用此法，其他不必混用。</p>
<p><u>古今尺寸不同說</u></p>
<p>《骨度》篇曰：人長七尺五寸者，其骨節之大小長短各幾何？伯高曰：頭之大骨圍二尺六寸。蓋古之尺小，大約古之一尺，得今之八寸。其言七尺五寸者，得今之六尺，其言二尺六寸者，得今之二尺零八分也，其餘仿此。然骨大者，必有太過；骨小者，必有不及。凡用折法者，但隨人之大小而為盈縮，庶盡其善。</p>

<h1>四、經脈孔穴起止圖說</h1>
<figure>
<img alt="仰人經脈孔穴起止圖">
</figure>
<figure>
<img alt="伏人經脈孔穴起止圖">
</figure>

<h2>經絡次序</h2>
<p>十二經絡始於手太陰，其支者，從腕後出次指端而交於手陽明。手陽明之支者，從缺盆上挾口鼻而交於足陽明。足陽明之支者，從跗上出大指端而交於足太陰。足太陰之支者，從胃別上膈，注心中而交於手少陰。手少陰無支者，直至本經少衝穴而交於手太陽。手太陽之支者，別頰，上至目內眥而交於足太陽。足太陽之支者，從膊內左右別下合膕中，下至小指外側端而交於足少陰。足少陰之支者，從肺出注胸中而交於手厥陰。手厥陰之支者，從掌中循小指次指出其端而交於手少陽。手少陽之支者，從耳後出至目銳眥而交於足少陽。足少陽之支者，從跗上入大指爪甲，出三毛而交於足厥陰。足厥陰之支者，從肝別貫膈上注肺，入喉嚨之後，上額循巔行督脈。絡陰器，過毛中，行任脈。入缺盆，下注肺中，而復交於手太陰也。</p>

<h2>十二經脈起止歌</h2>
<p>經始太陰，而厥陰最後，穴先中府，而終則期門。原夫肺脈，胸中始生，出腋下而行於少商，絡食指而接乎陽明。大腸起自商陽，終迎香於鼻外。胃歷承泣而降，尋厲兌於足經。脾自足之隱白，趨大包於腋下。心由極泉而出，注小指之少衝。小腸兮起端於少澤，維肩後上絡乎聽宮。膀胱穴自睛明，出至陰於足外。腎以湧泉發脈，通俞府於前胸。心包起乳後之天池，絡中衝於手中指。三焦始名指之外側，從關衝而絲竹空。膽從童子髎穴，連竅陰於足之四指。肝因大敦而上，至期門而復於太陰肺經。</p>

<h2>周身經絡總訣（有小序）</h2>
<p>治病須分經絡，古人以經界喻之，猶夫射之的，御之範也。《靈樞·經脈》一篇，為我醫所必讀，惟是其文參差繁複，習者苦之。東垣編為歌訣，國朝汪訒庵更為諧暢，可謂記誦無難矣。惟是熟此經脈，於逐經之起止，循行雖已了了，而人之身體每一處有兩三經，或四五經，錯綜循及者，皆散見於各經之下，臨證倉卒，未免或遺。茲不揣愚陋，竊以人身自巔至足，凡十二經絡行及之所，匯而輯之。再奇經八脈，除帶脈及陰陽維蹺、皆簡明易曉、可無纂輯外，其衝任督三經亦為摘入。仿四六之體，編為俚句，而不拘拈對，不嫌粗俗，惟求便於記誦。俾人之身體四肢，一云某處，便識為某經某絡，實為臨證辨經分經議治之捷徑，但不敢曰熟此總訣，竟可置經文而不讀也。譬之《本草綱目》既已按藥而治病，復有《本草類方》為之按病以集方，二者縱橫為用，尤為心目瞭然耳。</p>
<p><u>頭上諸脈</u></p>
<p>蓋聞手之三陰，從臟走手；（手太陰肺，少陰心，厥陰心包。）手之三陽，從手走頭。（手少陽三焦，陽明大腸，太陽小腸。）足之三陽，從頭走足；（足太陽膀胱，陽明胃，少陽膽。）足之三陰，從足走腹。（足太陰脾，少陰腎，厥陰肝。）《靈》已逐一而分言，茲乃合編而便讀。膀胱之脈交於巔，肝與督脈會於巔，絡腦須知膀督。（惟欲便於誦讀，故用簡字訣。余仿此。）髮際循乎胃脈，胃至額顱。（髮際下為額顱。）膽抵頭額，上額者督與膀胱，（在內直上。）出額者其惟肝脈。（在外直出。）目系連於肝脈，心之支者並系目之內角，名曰內眥。小支至而膀胱起，胃經遠約於其旁。（小腸之支者，至目內眥，膀胱之脈、起於目內眥、胃脈起於鼻之交頞中，旁約太陽之脈、下循鼻外，約一作納。）目之外角，名曰銳眥，膽接焦支。（三焦之支者至目銳眥，膽脈起於目銳眥。）小腸亦至目下為䪼，（音拙。）焦膽小腸而合至。（三脈俱支者。）兩旁為頰，大小肝焦而上下。（夾面橫骨為頰。大腸貫頰，小腸上頰，肝與三焦俱下頰，四脈亦俱支者。）小腸之支，斜絡於顴。督脈至於鼻柱，胃脈起於交頞。（即山根。）大腸之支，挾鼻孔而交中挾口。（從下齒還出挾口，交人中，左之右，右之左，上挾鼻孔，至迎香穴而終，交足陽明經。）胃經之脈，循鼻外而挾口環唇，肝又環於唇內，胃又交於承漿。（下唇陷中。）胃經之脈入上齒，大腸之支入下齒，頷前大迎，胃脈出而膽支下。（腮下為頷，頷前一寸三分動脈陷中為大迎，乃胃經穴。）頷下為頤，胃脈循而任脈上。（胃脈循頤後下廉。）耳之上角，焦支出而膀支至，客主人穴，膽出走而胃脈過。（耳前上廉起骨曰客主人，乃膽經穴。膽脈之支者出走耳前，至目銳眥後。胃脈上耳前，過客主人。）三焦之孫脈，出走客主人前。（《靈樞》云：經脈為里，支而橫者為絡，絡之別者為孫，此支之岐者，故曰孫脈，後仿此。）小腸與焦膽，三支併入耳中。膽脈焦支，繫於耳後，膽支胃脈，循在頰車。（耳下曲骨為夾車。）咽有小心，脾腎之脈。（小腸脈循咽，心脈之支者挾咽，脾脈挾咽，腎脈至咽。）喉為胃支，腎脈之循。（二脈循喉嚨。）肝循喉後而入咽顙。（肝脈循喉嚨之後，上入咽顙。咽顙一名頏顙，在上齶後。）脾連舌本而散舌下，腎脈挾乎舌本。胃支下在人迎。（結喉旁一寸五分動脈。）此為諸陽之會。先須大略而陳。</p>
<p><u>在身諸脈</u></p>
<p>原夫腦後為項，膀胱督脈與焦支。兩旁為頸，大小腸支同膽脈。肩髃骨之前廉，大腸出之。肩後之下為膊，膀胱循也。焦膽小腸，交合於肩。（會於大椎者為肩。）腎經督脈，並貫於脊。脊骨兩旁第一行，相去各一寸五分。挾脊肉為膂，膀胱循之而挾脊，脊骨兩旁第二行，相去各三寸。成片骨為胛，（音夾。）小腸繞而膀支貫。至於肩前陷下，名曰缺盆，焦膽胃腸，併入其中。是以膽脈循胸，三焦布膻。（上焦兩乳中間為膻中。）乳內廉乃胃經直下，腋之中分膽經包絡。（心包絡，亦有直者支者之分，恐辭句繁複，故此處支者僅云包絡。下文正脈，乃用心包二字以別之。）腋下為包絡之過，心直下而肺橫出。脅裡為膽脈之循，心包出而肝經布。脅骨之下為季脅，須識膽經之過。臍下四寸為中極，當知任脈之起。（任脈起於中極之下。）然而任脈當臍，沖胃挾臍。脾脈入腹，胃支循腹。肝脈上抵乎小腹，膽胃出入於氣街。（臍下毛際兩旁動脈，為氣街，一名氣衝，乃胃經穴。）膽繞毛際，（曲骨之外為毛際。）肝環陰器。此在身軀之脈，所當臚列而明。</p>
<p><u>臟腑中諸脈</u></p>
<p>其在臟腑之脈，太陽與少陰為表裡；（手太陽小腸，少陰心。足太陽膀胱，少陰腎。）少陽與厥陰為表裡；（手少陽三焦，厥陰心包；足少陽膽，厥陰肝。）陽明與太陰為表裡。（手陽明大腸，太陰肺。足陽明胃，太陰脾。）凡此六經、脈皆互絡，手足同然，無須詳贅。（如肺脈絡大腸，大腸脈絡肺之類，十二經皆仿此。）更有肺之一臟，心直上而腎直入，胃之一腑，肝脈挾而肺小循。（肝脈挾胃，肺脈還循胃口，小腸之脈抵胃。）心有腎支之絡，肝有腎經之貫，肝支又注於心中，肺脈自起於中焦，心下有膈，惟膀胱為無涉，十有一經，皆上下而貫之。（心下膈膜，遮隔濁氣，不使上薰心肺。惟膀胱之脈，挾脊抵腰中，入循膂，絡腎屬膀胱，故不貫膈。）此屬臟腑之間，並須熟諳者。</p>
<p><u>手經諸脈</u></p>
<p>論乎肩肘之間，乃號為臑。（音柔。俗名大臂。）臑之內廉有三，肺循前而心循後，包絡恰循乎其間。臑之外廉有三，小循後而大循前，三焦乃循乎其外。臑下為肘，三焦上貫內廉，尺澤包絡入之，（包絡之支者，入肘內陷中尺澤穴。）肺則下於內前，心又下於內後，（肺脈下肘中，心脈下肘內，惟肺脈行前。心脈行後，心包行其中間為別。）小腸出於內側，（兩筋之間。）大腸入於外廉。肘下為臂，包仍在中。（即上文支者。）大循上而小循下，心脈仍循內後廉，上骨下廉之內，仍循肺脈，臂外兩骨之間，還出三焦。肺入寸口而循魚際，（關前動脈為寸口，大指後肉隆起處為魚際，魚際其間穴名。）心抵銳骨而入後廉，（心脈抵掌後銳骨之端，入掌內後廉。）包絡直入於掌中，（從曲澤行掌後兩筋之間，橫紋陷中，入掌中。）三焦仍循乎表腕，大腸出於合谷，而上入兩筋之中。（合谷俗名虎口，大腸經穴。）小腸循於外側，而出腕下之踝。（循手外側，上腕出踝中。踝，音華，上聲。腕，外兌骨。）肺脈出於大指，包絡出於中指，次指為肺支、腸脈之交。（肺脈之支者，直出次指內廉出其端。大腸之脈，起於次指之端。）四指為包絡、焦脈之接，三焦又上出小、次之間。小指為心脈、小腸之接。所謂手經，大略如斯。</p>
<p><u>足經諸脈</u></p>
<p>至如尻上為腰，膀胱脈抵。（背脊下橫骨為腰。）腰下為臀，膀支貫之。兩旁捷骨之下名髀樞，而膽橫膀過。（一名髀厭，膽脈橫入髀厭中。膀胱之支者過脾樞。）前面氣街之下號髀關，而胃經直下。股之內廉，前廉脾而後廉腎，又肝脈內循於股陰。股外為髀，後膀支而前胃脈，（髀前膝上六寸，起肉為伏兔，胃脈抵之。）又膽脈下循於髀陽。（循髀外行太陽、陽明之間。）是以挾膝筋中為臏。（即膝蓋骨。）仍屬胃經之直下，而膝內脾經，（內前廉。）膝外膽脈，（外廉。）膝後曲處為膕，還是膀支之直入，而腎出肝上，俱在內廉。（腎脈出膕內廉，肝脈上膕內廉。）脾腎上於腨內，（腨，足肚也，二豚上腨內廉。）旁支貫於腨外。（從膕中下貫腨內，出外踝之後。）膽下於外輔骨前，而直抵絕骨之端。（脾骨為輔骨，外踝上為絕骨。）肝斜於脛胻內側，而胃循脛外之廉。內踝有脾前腎後之分，外踝有膽前膀後之別。（跟上兩旁，內外曰踝。）大指節後為核骨，脾經脈過。足外側骨為京骨，膀脈支循。腎入跟中，胃膽循跗，跗上廉乃肝經循處。足心中有腎脈斜趨。（湧泉穴。）大指甲後，屬膽支肝脈之交。大指內側，為胃支脾脈之接。中指內外，分胃直胃支之入。四指之間，又膽經直入而終。膀支至於小指之外，腎脈起於小指之下，足經之脈，又如此也。</p>

<h1>五、周身孔穴總圖</h1>
<figure>
<img alt="前面頸穴總圖">
</figure>
<figure>
<img alt="胸腹總圖">
</figure>
<figure>
<img alt="後頭頂穴總圖">
</figure>
<figure>
<img alt="背部總圖">
</figure>
<figure>
<img alt="側頭肩項總圖">
</figure>
<figure>
<img alt="側脅肋總圖">
</figure>
<figure>
<img alt="陰手總圖">
</figure>
<figure>
<img alt="陽手總圖">
</figure>
<figure>
<img alt="陰足總圖">
</figure>
<figure>
<img alt="陽足總圖">
</figure>

<h1>六、十二經孔穴圖及歌括</h1>

<h2>（一）手太陰肺經穴圖及歌括</h2>
<figure>
<img alt="手太陰肺經穴圖">（十一穴）
</figure>
<p><u>肺經諸穴歌</u></p>
<p>手太陰，十一穴，中府雲門天府列，俠白下尺澤，孔最見列缺，經渠太淵下魚際，抵指少商如韭葉。（古離爪甲如韭，今如米許。）</p>
<p><u>肺經穴分寸歌</u></p>
<p>太陰肺兮出中府，雲門之下一寸許，雲門璇璣旁六寸，巨骨之下二骨數，天府腋下三寸求，俠白肘上五寸主，尺澤肘中約橫紋，孔最腕上七寸取，列缺腕側一寸半，經渠寸口陷中主，太淵掌後橫紋頭，魚際節後散脈舉，少商大指端內側，相去爪甲韭葉許。（雲門，巨骨下，俠氣戶旁二寸陷中，去中行任脈六寸。氣戶，巨骨下，俞府兩旁各二寸陷中，去中行任脈四寸，去膺窗四寸八分。俞府，巨骨下，璇璣旁二寸陷中。璇璣，天突下一寸。天突，結喉下四寸宛宛中。右挨穴之法，自天突起至璇璣，自璇璣至雲門，其法甚簡，後仿此。）</p>

<h2>（二）手陽明大腸經穴圖及歌括</h2>
<figure>
<img alt="手陽明大腸經穴圖一">（二十穴）
</figure>
<figure>
<img alt="手陽明大腸經穴圖二">
</figure>
<p><u>大腸經諸穴歌</u></p>
<p>手陽明，廿穴名。循商陽二間三間而行，歷合谷陽谿之俞，過偏歷溫溜之濱，下廉上廉三里而近，曲池肘髎，五里之程，臂臑肩髃，上於巨骨，天鼎紆乎扶突，禾髎唇連，迎香鼻迫。</p>
<p><u>大腸經穴分寸歌</u></p>
<p>商陽食指內側邊，二間來尋本節前，三間節後陷中取，合谷虎口岐骨間，陽谿上側腕中是，偏歷腕後三寸安，溫溜腕後去五寸，池前五寸下廉看，池前三寸上廉中，池前二寸三里逢，曲池屈骨紋頭盡，肘髎大骨外廉近，大筋中央尋五里，肘上三寸行向里，臂臑肘上七寸量，肩臑肩端舉臂取，巨骨肩尖端上行，天鼎喉旁四寸真，扶突天突旁五寸，禾髎水溝旁五分，迎香禾髎上一寸，大腸經穴是分明。（左右共四十穴。）</p>

<h2>（三）足陽明胃經穴圖及歌括</h2>
<figure>
<img alt="足陽明胃經穴圖一">（四十五穴）
</figure>
<figure>
<img alt="足陽明胃經穴圖二">
</figure>
<figure>
<img alt="足陽明胃經穴圖三">
</figure>
<figure>
<img alt="足陽明胃經穴圖四">
</figure>
<p><u>胃經諸穴歌</u></p>
<p>足陽明，四十五。是承泣四白而數，巨髎有地倉之積，大迎乘頰車之夥，下關頭維及人迎，水突氣舍與缺盆，氣戶兮庫房屋翳，膺窗兮乳中乳根，不容承滿，梁門關門，太乙滑肉，天樞外陵，大巨從水道歸來，氣衝入髀關之境，伏兔至陰市梁邱，犢鼻自三里而行，上巨虛兮條口，下巨虛兮豐隆，解谿衝陽入陷谷，下內庭厲兌而終。</p>
<p><u>胃經穴分寸歌</u></p>
<p>胃之經兮足陽明，承泣目下七分尋，四白目下方一寸，巨髎鼻孔旁八分，地倉夾吻四分迎，大迎頷下寸三分，頰車耳下八分穴，下關耳前動脈行，頭維神庭旁四五。（神庭，督脈穴，在中行髮際上五分。頭維，去神庭四寸五分。）人迎喉旁寸五真，水突筋前迎下在，氣舍突下穴相乘，（氣舍在水突下。）缺盆舍下橫骨內，各去中行寸半明，氣戶璇璣旁四寸，至乳六寸又四分，庫房屋翳膺窗近，乳中正在乳頭心，次有乳根出乳下，各一寸六不相侵，（自氣戶至乳根六穴，上下相去一寸六分，去中行任脈各四寸。）卻去中行須四寸，以前穴道與君陳。不容巨闕旁三寸，（巨闕，任脈穴，在臍上六寸五分。）卻近幽門寸五新，（幽門，腎經穴，巨闕旁一寸五分，在胃經、任脈二脈之中。）其下承滿與梁門，關門太乙滑肉門，上下一寸無多少，共去中行三寸尋。天樞臍旁二寸間，樞下一寸外陵安，樞下二寸大巨穴，樞下四寸水道全，樞下六寸歸來好，共去中行二寸邊。氣衝鼠鼷上一寸。（鼠鼷橫骨盡處。）又去中行四寸專。髀關膝上有尺二，伏兔膝上六寸是，陰市膝下方三寸，梁邱膝上二寸記，膝臏陷中犢鼻存，膝下三寸三里至，膝下六寸上廉穴，膝下七寸條口位，膝下八寸下廉看，膝下九寸豐隆系，卻是踝上八寸量，比那下廉外邊綴。解谿去庭六寸半，（庭，內庭也。）衝陽庭後五寸換，陷谷庭後二寸間，內庭次指外間現。（足大指、次指外間陷中。）厲兌大指次指端，去爪如韭胃井判。（左右各四十五穴，共九十穴。）</p>

<h2>（四）足太陰脾經穴圖及歌括</h2>
<figure>
<img alt="足太陰脾經穴圖一">（二十一穴）
</figure>
<figure>
<img alt="足太陰脾經穴圖二">
</figure>
<p><u>脾經諸穴歌</u></p>
<p>足太陰，脾中州，二十一穴隱白遊，赴太都兮瞻太白，訪公孫兮至商邱，越三陰之交，而漏谷地機可接，步陰陵之泉，而血海箕門是求，入衝門兮府府舍軒豁，解腹結兮大橫優遊，腹哀食竇兮，接天溪而同派，胸鄉周榮兮，綴大包而如鉤。、　脾經穴分寸歌</p>
<p>大指內側起隱白，節後陷中求大都，太白內側核骨下，節後一寸公孫呼，商邱內踝陷中遭，踝上三寸三陰交，踝上六寸漏谷是，踝上五寸地機朝，膝下內側陰陵泉，血海膝臏上內廉，箕門穴在魚腹取，動脈應手越筋間，衝門期下尺五分，（期門，肝經穴，巨闕旁四寸五分。巨闕，任脈穴，臍上六寸五分。）府舍期下九寸判，腹結期下六寸八，大橫期下五寸半，腹哀期下方二寸，期門肝經穴道現，巨闕之旁四寸五，卻連脾穴休胡亂。自此以上食竇穴，天溪胸鄉周榮貫，相去寸六無多寡，又上寸六中府換，（肺經穴。）大包腋下有六寸，淵液腋下三寸絆。（左右共四十二穴。）</p>

<h2>（五）手少陰心經穴圖及歌括</h2>
<figure>
<img alt="手少陰心經穴圖">（九穴）
</figure>
<p><u>心經諸穴歌</u></p>
<p>手少陰，九穴成。極泉青靈少海行，自靈道通里而達，過陰郄神門而迎，抵於少府，少衝可尋。</p>
<p><u>心經穴分寸歌</u></p>
<p>少陰心起極泉中，腋下筋間脈入胸。（臂內腋下，筋間動脈入胸。）青靈肘上三寸取，少海肘後五分容，（肘內廉節後大骨外，去肘端五分，屈節向頭得。）靈道掌後一寸半，通里腕後一寸同，陰郄腕後方半寸，神門掌後兌骨隆，少府節後勞宮直，小指內側取少衝。（凡九穴，左右共十八穴。）</p>

<h2>（六）手太陽小腸經穴圖及歌括</h2>
<figure>
<img alt="手太陽小腸經穴圖一">（十九穴）
</figure>
<figure>
<img alt="手太陽小腸經穴圖二">
</figure>
<p><u>小腸經諸穴歌</u></p>
<p>小腸穴，十九中。路從少澤，步前谷後谿之隆，道循腕骨，觀陽谷養老之崇，得支正於小海，逐肩貞以相從，值臑俞兮遇天宗，乘兼風兮曲垣中，肩外俞兮肩中俞，啟天窗兮見天容，匪由顴髎，曷造聽宮。</p>
<p><u>小腸經穴分寸歌</u></p>
<p>小指端外為少澤，前谷外側節前覓，節後捏拳取後谿，腕骨腕前骨陷側，兌骨下陷陽谷討，腕上一寸名養老，支正腕後量五寸，小海肘端五分好，肩貞胛下兩骨解，（曲胛下，兩骨解間，肩髃後陷中。）臑俞大骨下陷保，（大骨下，胛上廉，舉臂取之。）天宗秉風后骨中，秉風髎外舉有空，（天髎外，肩上小髃後，舉臂有空。）曲垣肩中曲胛陷，外俞胛後一寸從，（即外肩俞，肩胛上廉，去脊三寸陷中。）肩中二寸大杼旁，天窗扶突後陷詳。（頸大筋間，前曲頰下，扶突後，動脈應手陷中。）天容耳下曲頰後，顴髎面頄銳端量，聽宮耳端大如菽。（耳中珠子大，如赤小豆。）</p>

<h2>（七）足太陽膀胱經穴圖及歌括</h2>
<figure>
<img alt="太陽膀胱經穴圖一">（六十三穴）
</figure>
<figure>
<img alt="足太陽膀胱經穴圖二">
</figure>
<figure>
<img alt="足太陽膀胱經穴圖三">
</figure>
<p><u>膀胱經諸穴歌</u></p>
<p>足太陽，六十三。睛明攢竹，詣曲差五處之鄉，承光通天，見絡卻玉枕之行，天柱高兮大杼抵，風門開兮肺俞當，厥陰心膈之俞，肝膽脾胃之臟，三焦腎兮大腸小腸，膀胱俞兮中膂白環，自從大杼至此，去脊中寸半之旁。又有上次中下四髎，在腰四空以相將。會陽居尻尾之側，始了背中二行，仍上肩胛而下，附分二椎之旁，三椎魄戶，四椎膏肓，神堂噫嘻兮鬲關，魂門兮陽綱，意舍兮胃倉，肓門志室，秩邊胞肓，承扶浮郄與委陽，殷門委中而合陽，承筋承山到飛揚，附陽崑崙到僕參，申脈金門，探京骨之場，束骨通谷，抵至陰小指之旁。</p>
<p><u>膀胱經穴分寸歌</u></p>
<p>足太陽兮膀胱經，目內眥角始睛明，眉頭陷中攢竹取，曲差發際上五分，五處發止一寸是，承光發上二寸半，通天絡郄玉枕穴，相去寸五調勻看，玉枕夾腦一寸三，入發二寸枕骨現。天柱項後髮際中，大筋外廉陷中獻。自此夾脊開寸五，第一大杼二風門，三椎肺俞厥陰四，心俞五椎之下論，膈七肝九十膽俞，十一脾俞十二胃，十三三焦十四腎，大腸十六之下推，小腸十八膀十九，中膂內俞二十椎，白環廿一椎下當，以上諸穴可排之，更有上次中下髎，一二三四腰空好，會陽陰尾尻骨旁。背部二行諸穴了，又從脊上開三寸，第二椎下為附分，三椎魄戶四膏肓，第五椎下神堂尊，第六噫嘻膈關七，第九魂門陽綱十，十一意舍之穴存，十二胃倉穴已分，十三肓門端正在，十四志室不須論，十九胞肓廿秩邊，背部三行諸穴勻。又從臀下陰文取，承扶居於陷中主，浮郄扶下方六分，委陽扶下寸六數，殷門扶下六寸長，膕中外廉兩筋鄉，委中膝骨約紋里，此下三寸尋合陽，承筋腳跟上七寸，穴在腨腸之中央，承山腨下分肉間，外踝七寸上飛揚，輔陽外踝上三寸，崑崙後跟陷中央，僕參亦在踝骨下，申脈踝下五分張，金門申脈下一寸，京骨外側骨際量，束骨本節後陷中，通谷節前陷中強，至陰卻在小指側，太陽之穴始周詳。（計六十三穴，左右共一百二十六穴。）</p>

<h2>（八）足少陰腎經穴圖及歌括</h2>
<figure>
<img alt="足少陰腎經穴圖一">（二十七穴）
</figure>
<figure>
<img alt="足少陰腎經穴圖二">
</figure>
<p><u>腎經諸穴歌</u></p>
<p>足少陰兮廿七，湧泉流於然谷，太谿大鐘兮水泉綠，照海復溜兮交信續，從築賓兮上陰谷，撩橫骨兮大赫麓，氣穴四滿兮中注，肓俞上通於商曲，守石關兮陰都寧，閉通谷兮幽門肅，步廊神封而靈墟存，神藏或中而腧府足。</p>
<p><u>腎經穴分寸歌</u></p>
<p>足掌心中是湧泉，然骨踝下一寸前，（內踝前一寸。）太谿踝後跟骨上，大鐘跟後腫中邊，（足跟後腫中大骨上，兩筋間也。）水泉溪下一寸覓，照海踝下四寸安，復溜踝上前二寸，交信踝上二寸聯，一穴止隔筋前後，太陽之後少陰前。（前旁骨是復溜，後旁骨是交信，二穴止隔一條筋。）築賓內踝上踹分，陰谷膝下曲膝間，橫骨大赫並氣穴，四滿中注亦相連，各開中行止寸半，上下相去一寸便。上膈肓俞亦一寸，肓俞臍旁半寸邊，肓俞商曲石關來，陰都通谷幽門闢，各開中行五分俠，六穴上下一寸裁，步廊神封靈墟存，神藏或中俞府尊，各開中行計二寸，上下寸六六穴分，俞府璇璣旁二寸，取之得法自然真。</p>

<h2>（九）手厥陰心包絡經穴圖及歌括</h2>
<figure>
<img alt="手厥陰心包絡經穴圖">（九穴）
</figure>
<p><u>心包絡經諸穴歌</u></p>
<p>手厥陰心包之脈，計有九穴而終。自天池天泉為始，逐曲澤郄門而通，間使行於內關，大陵近乎勞宮，既由掌握，抵於中衝。</p>
<p><u>心包絡經穴分寸歌</u></p>
<p>心包起自天池間，乳後一寸腋下三，（腋下三寸，乳後一寸。）天泉曲腋下二寸，曲澤屈肘陷中央，郄門去腕方五寸，（掌後去腕五寸。）間使腕後三寸量，內關去腕止二寸，大陵掌後兩筋間，勞宮屈中名指取，（屈中指無名指，兩者之間取之。）中指之末中衝良。</p>

<h2>（十）手少陽三焦經穴圖及歌括</h2>
<figure>
<img alt="手少陽三焦經穴圖一">（二十三穴）
</figure>
<figure>
<img alt="手少陽三焦經穴圖二">
</figure>
<p><u>三焦經諸穴歌</u></p>
<p>手少陽三焦之脈，二十三穴之間。關衝液門中渚，陽池外關通連，支溝會宗三陽絡，四瀆天井清冷淵，消濼臑會，肩髎相聯，天髎處天牖之下，翳風讓瘈脈居先，顱息定而角孫近耳，絲竹空而禾髎接焉，耳門已畢，經穴已全。</p>
<p><u>三焦經穴分寸歌</u></p>
<p>無名之外端關衝，液門小次指陷中，中渚液下去一寸，陽池腕上之陷中，外關腕後方二寸，腕後三寸支溝容，腕後三寸內會宗，空中有穴用心攻，腕後四寸三陽絡，四瀆肘前五寸著，天井肘外大骨後，骨罅中間一寸摸，肘後二寸清冷淵，消濼對腋臂外落，臑會肩前三寸量，肩髎臑上陷中央，天髎缺盆陷處上，天牖天容之外旁，（天牖，頸大筋外缺盆上，天容後，天柱前，完骨下，髮際上。）翳風耳後尖角陷，（耳後尖角陷中，按之引耳中。）瘈脈耳後青脈現，（耳本後雞足青絡脈。）顱囟亦在青絡脈，角孫耳廊中間上，耳門耳前起肉中，（耳前起肉，當耳缺陷中。）禾髎耳前動脈張，欲知絲竹空何在，眉後陷中仔細量。（計二十三穴，左右共四十六穴。）</p>

<h2>（十一）足少陽膽經穴圖及歌括</h2>
<figure>
<img alt="足少陽膽經穴圖一">（四十三穴）
</figure>
<figure>
<img alt="足少陽膽經穴圖二">
</figure>
<figure>
<img alt="足少陽膽經穴圖三">
</figure>
<figure>
<img alt="足少陽膽經穴圖四">
</figure>
<figure>
<img alt="足少陽膽經穴圖五">
</figure>
<p><u>膽經諸穴歌</u></p>
<p>足少陽兮四十三，瞳子髎近聽會間，客主人在頷厭集，懸顱懸釐曲鬢前，率谷天衝見浮白，竅陰完骨本神連，陽白臨泣目窗近，正營承靈腦空焉，風池肩井兮淵液，輒筋日月京門聯，帶脈五樞而下，維道居髎相沿，環跳風市抵中瀆，陽關之下陽陵泉，陽交外邱光明穴，陽輔懸鐘穴可瞻，丘墟臨泣地五會，俠谿竅陰膽經全。</p>
<p><u>膽經穴分寸歌</u></p>
<p>足少陽兮四十三，頭上廿穴分三折，起自瞳子至風池，積數陳之次序說。瞳子髎近眥五分，耳前陷中聽會穴，客主人名上關同，耳前起骨開口空。頷厭懸顱之二穴，腦空上廉曲角下，（腦空，即顳顬。頷厭、懸顱二穴在曲頰之下，腦空之上。）懸釐之穴異於茲，腦空下廉曲角上，曲鬢耳上髮際隅。（耳上髮際曲隅陷中。）率谷耳上寸半安。天衝耳後入發二，（耳後入髮際二寸。）浮白入發一寸間，竅陰即是枕骨穴，完骨之上有空連。（在完骨上，枕骨下，動搖有空。）完骨耳後入髮際，量得四分須用記。本神神庭旁二寸，入發一寸耳上系。陽白眉上方一寸，發上五分臨泣是，（目上直入髮際五分陷中。）發上一寸當陽穴，發上寸半目窗至，正營發上二寸半，承靈發上四寸諦，腦空發上五寸半，風池耳後發陷寄。（在耳後顳顬後，腦空下發際陷中。至此計二十穴，分作三折向外而行。始自瞳子髎至完骨，是一折。又自完骨外折上至陽白，會睛明，是一折。又自睛明上行，循臨泣、風池，是一折。緣其穴曲折，多難以分別，故此作至二十次第言之。歌曰：一瞳子髎二聽會，三主人兮頷厭四，五懸顱兮六懸釐，第七數兮曲鬢隨，八率谷兮九天衝，十浮白兮之穴從，十一竅陰來相繼，十二完骨一折終。又自十三本神始，十四陽白二折隨，十五臨泣目下穴，十六目窗之穴宜，十七正榮十八靈，十九腦戶廿風池，依次細心量取之，膽經頭上穴吾知。肩井肩上陷中求，大骨之前一寸半。肩上陷中，缺盆上，大骨前一寸半，以三指按取，當中指陷中。）淵液腋下方三寸，輒筋期下五分判，期門卻是肝經穴，相去巨闕四寸半，日月期門下五分。京骨監骨下腰絆，（監骨，下腰下季脅，本夾脊，腎之募。）帶脈章門下寸八，五樞章下寸八貫，（五樞去帶脈三寸，季脅下四寸八分。）維道章下五寸三，居髎章下八寸三，章門緣是肝經穴，下脘之旁九寸含。環跳髀樞宛宛中，（髀樞中，側臥屈上足，伸下足，以右手摸穴左，搖撼取之。）屈上伸下取穴同。風市垂手中指盡，膝上五寸中瀆逢，陽關陽陵上三寸，陽陵膝下一寸從，陽交外踝上七寸，外邱踝上六寸容，踝上五寸光明穴，踝上四寸陽輔通，踝上三寸懸鐘在，丘墟踝前之陷中，此去俠谿四寸五，卻是膽經原穴功。臨泣俠谿後寸半，五會去溪一寸窮，夾溪在岐骨內，竅陰四五二指中。（計四十三穴，左右共八十六穴。）</p>

<h2>（十二）足厥陰肝經穴圖及歌括</h2>
<figure>
<img alt="足厥陰肝經穴圖">（十三穴）
</figure>
<p><u>肝經諸穴歌</u></p>
<p>足厥陰，一十三穴終。起大敦於行間，循太衝於中封，蠡溝中都之會，膝關曲泉之宮，襲陰包於五里，陰廉乃發，尋羊矢於章門，期門可攻。</p>
<p><u>肝經穴分寸歌</u></p>
<p>足大指端名大敦，（內廁為隱白，外側為大敦。）行間大指縫中存，太衝本節後二寸，跟前一寸號中封，（足內踝骨一寸，筋里宛宛中。）蠡溝踝上五寸是，（內踝骨前上五寸。）中都踝後七寸中，（內踝上七，䯒骨中。）膝關犢鼻下二寸，曲泉曲膝盡橫紋，陰包膝上方四寸，（股內廉兩筋間，蜷足取之，看膝內側必有槽中。）氣衝三寸下五里，（氣衝下三寸，陰股中動脈應手。）陰廉衝下有二寸，羊矢衝下一寸許，氣衝卻是胃經穴，鼠鼷之上一寸主，鼠鼷橫骨端盡處，相去中行四寸止。章門下脘旁九寸，肘尖盡處側臥取，期門又在巨闕旁，四寸五分無差矣。</p>

<h1>七、奇經八脈孔穴圖說及歌括</h1>

<h2>（一）奇經八脈總說</h2>
<p>凡人一身有經脈、絡脈，直行曰經，旁支曰絡。經凡十二，手之三陰、三陽，足之三陰、三陽是也。絡凡十五，乃十二經各有一別絡，而脾又有一大絡，並任督二絡，為十五絡也。（《難經》作陰絡陽絡。）共二十七氣，相隨上下，如泉之流，如日月之行，不得休息，故陰脈營於五臟，陽脈營於六腑，陰陽相貫如環無端，莫知其紀，終而復始。其流溢之氣，入於奇經，轉相灌溉，內溫臟腑，外濡腠理。奇經凡八脈，不拘制於十二正經，無表裡配合，故謂之奇。蓋正經猶夫溝渠，奇經猶夫湖澤，正經之脈隆盛，則溢於奇經。故秦越人比之天雨降下，溝渠溢滿，滂霈妄行，流於湖澤。此發《靈》、《素》未發之秘者也。八脈散在群書者，略而不悉，醫不知此，罔探病機，仙不知此，難安爐鼎。茲參考諸說，以備學仙學醫者，筌蹄之用云。</p>

<h2>（二）奇經八脈總歌</h2>
<p>正經經外是奇經，八脈分司各有名。任脈在前督屬後，衝起會陰腎同行，陽蹺跟外膀胱別，陰起跟前隨少陰，陽維維絡諸陽脈，陰維維絡在諸陰，帶脈圍腰如束帶，不由常度號奇經。脈有奇常。十二經者，常脈也。奇經則不拘於常，故謂之奇也。奇經有八。曰任、督、沖、帶、陽蹺、陰蹺、陽維、陰維是也。任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海。衝脈起於會陰，夾臍而行，直衝於上，為諸脈之衝要，故曰十二經脈之海。帶脈則橫圍於腰，狀如束帶，所以總約諸脈也。陽蹺起於跟中，循外踝上行於身之左右，陰蹺起於跟中，循內踝上行於身之左右，所以使機關之蹺捷也。陽維起於諸陽之會，由外踝而上，行於衛分；陰維起於諸陰之交，由內踝而上行於營分，所以為一身之綱維也。是故任沖主身前之陰，督主身後之陽，以南北言也。帶脈橫束諸脈，以六合言也。陽蹺主一身左右之陽，陰蹺主一身左右之陰，以東西言也。陽維主一身之表，陰維主一身之裡，以乾坤言也。是故醫而知乎八脈，則十二經、十五絡之大旨得矣。仙而知乎八脈，則龍虎升降，玄牝幽微之竅妙得矣。</p>

<h2>（三）任脈穴圖</h2>
<figure>
<img alt="任脈穴圖">（二十四穴）
</figure>

<h2>（四）任脈穴歌</h2>
<p>（經脈之循於身以前、身以後者憑任、督二脈，以分上下左右）</p>
<p>任脈二十四，穴行腹興胸。會陰始兮曲骨從，中極關元石門通，氣海陰交會，神闕水分逢，下脘建里兮，中脘上脘，巨闕鳩尾兮，中庭膻中，玉堂上紫宮華蓋，璇璣上天突之宮，飲彼廉泉，承漿味融。</p>
<p>任脈穴分寸歌</p>
<p>任脈會陰兩陰間，曲骨毛際陷中安，中極臍下四寸取，關元臍下三寸連，臍下二寸石門穴，臍下寸半氣海全，臍下一寸陰交穴，臍之中央號神闕。臍上一寸為水分，臍上二寸下脘列，臍上三寸名建里，中脘臍上四寸許，臍上五寸上脘在，巨闕臍上六寸五。鳩尾蔽骨下五分，中庭膻中寸六取，膻中卻在兩乳間。膻上寸六玉堂主，膻上紫宮三寸二，膻上華蓋四八舉，（四寸八分。）膻上璇璣五寸八，璣上一寸天突起，天突喉下約四寸。廉泉頜下骨尖已，承漿頤前唇稜下，任脈中央行腹裡。（行腹中央共二十四穴。）</p>

<h2>（五）督脈穴圖</h2>
<figure>
<img alt="督脈穴圖一">（二十七穴）
</figure>
<figure>
<img alt="督脈穴圖二">
</figure>
<figure>
<img alt="督脈穴圖三">
</figure>

<h2>（六）督脈穴歌</h2>
<p>督脈在背之中行，二十七穴始長強，舞腰俞兮歌陽關，入命門兮懸樞當，脊中筋縮造至陽，靈臺神道身柱詳，陶道大椎至啞門，風府腦戶強間分，後頂百會兮前頂，囟會上星兮神庭，素髎至水溝於鼻下，兌端交斷交於內唇。</p>
<p>督脈穴分寸歌</p>
<p>督脈齦交唇內鄉，兌端正在唇端央，水溝鼻下溝中索，素髎宜向鼻端詳。頭形北高面南下，先以前後髮際量，分為一尺有二寸，發上五分神庭當，發上一寸上星位，發上二寸囟會良，前頂發上三寸半，百會發上五寸央，（在頂中央旋毛中，兩耳尖上，可容爪甲。性理北溪陳氏曰：略近些北，猶天之極星居北。夫言一尺有二，而其數止一尺一寸者，何也？蓋前後髮際無穴，而必以前後髮際量起，則有一寸在也。）會後寸半即後頂，會後三寸強間明，會後腦戶四寸半。後發入寸風府行，項後髮際入一寸，大筋內宛宛中，疾言其肉立起，言休立止，即百會後五寸半也。發上五分啞門在，後髮際上五分，項中央宛宛中，仰頭取之，入系舌本。）神庭至此十穴真。自此項骨下脊骶，分為二十有四椎。大椎上有項骨在，約有三椎莫算之，尾有長強亦不算，中間廿一可排椎。大椎大骨為第一，二椎節後陶道知，第三椎間身柱在，第五神道不須疑，第六靈臺至陽七，第九身內筋縮思，十一脊中之穴在，十二懸樞之穴奇，十四命門腎俞並，十六陽關自可知，二十一椎即腰俞，脊尾骨端長短隨。（共二十七穴。）</p>

<h2>（七）衝脈穴圖</h2>
<figure>
<img alt="衝脈穴圖">（十一穴）
</figure>

<h2>（八）衝脈穴歌</h2>
<p>衝脈俠臍起橫骨，太氣四注肓俞同，商石陰通幽門穴，至胸散布仍流行。</p>
<p>衝脈穴分寸見足少陰腎經。</p>

<h2>（九）陽蹺脈穴圖</h2>
<figure>
<img alt="陽蹺脈穴圖">（十一穴）
</figure>

<h2>（十）陽蹺脈穴歌</h2>
<p>陽蹺穴起申僕陽，居髎肩髃巨骨鄉，臑俞地倉巨髎泣，終於睛明一穴強。</p>
<p>陽蹺脈分寸歌</p>
<p>陽蹺脈起足大陽，申脈外踝五分藏，僕參後繞跟骨下，附陽外踝三寸鄉，居髎監骨上陷取，肩髃一穴肩尖當，肩上上行名巨骨，肩胛之上臑俞坊，口吻旁四地倉位，鼻旁八分巨髎疆，目下七分是承泣，目內眥出睛明昂。</p>
<p>蹺者足也，奇經涉於足者之名也。曰陽者，以其所行陽經也。陽蹺者，謂足太陽經之別脈也。起於足太陽膀胱經，足外踝下五分陷中申脈穴，繞後跟骨下僕參穴，又前斜足外踝上三寸附陽穴，又與足少陽會於季脅軟骨端下八寸三分居髎穴，又與手陽明會於膊骨頭肩端上肩髃穴，又上行肩尖上兩叉骨巨骨穴，又與手足太陽、陽維會於肩後大骨下胛上廉臑俞穴，又與手足陽明會夾口吻旁四分地倉穴，行於鼻孔旁八分巨髎穴，又與任脈、足陽明會於目下七分承泣穴，又與手足太陽、足陽明、陰蹺會於目內眥外一分睛明穴也。</p>

<h2>（十一）陰蹺脈穴圖</h2>
<figure>
<img alt="陽蹺脈穴圖">（三穴）
</figure>

<h2>（十二）陰蹺脈穴歌</h2>
<p>陰蹺起於然骨後，上行照海交信列，二穴原本足少陰，足之太陽睛明接。</p>
<p>陰蹺脈分寸歌</p>
<p>陰蹺穴起足少陰，足內踝前然骨後，踝下一寸照海真，踝上二寸交信列。</p>
<p>陰蹺者，以其所行陰經，為足少陰之別脈也。起於腎經足內踝前，大骨下陷中，然骨後，上循內踝之下一寸照海穴，又循太谿郄於足內踝之上二寸，直行交信穴。從交信上循至目內眥，合於太陽。陽蹺，上行氣並相還，則為濡目之用矣。此陰蹺循行之經穴也。</p>
<p>考正陰蹺穴道</p>
<p>《靈樞·脈度》篇曰：蹺脈者少陰之別脈，起於然谷之後，上內踝之上，直上入鳩，屬目內眥，合於太陽、陽蹺而上行。非謂起於然谷穴，而終於睛明穴也。而李時珍乃謂起於然谷穴，終於睛明穴。張介賓《類經》亦紀然谷、交信、照海、睛明四穴。《金鑑》孚而合之，獨《針灸大成》只有照海、交信二穴，左右凡四穴。予甚駭然，悉難為則，沉思細考圖經，交信為陰蹺之郄，照海乃陰蹺所生，然谷無生郄會之語。而睛明穴下《氣府論》注曰：手足太陽、陽明、陽蹺五脈之會。並無陰蹺會屬之文，無他，時珍先生之謂起於然谷穴者，是誤看後字也，終於睛明穴者，是誤看屬目內眥，合於太陽之合字也，介賓先生之紀四穴者，是著書之繁冗，失細諦之思也。何者？陰蹺之穴，紀四而蹺脈分男女注內，按有云陰蹺為少陰之別脈，起於照海穴。由此觀之，矛盾不期而見之也。二先生者，俱為後學之指南，而著作猶有差失。籲！著作之難，不誠然哉。予不揣遵圖經之交信、照海為陰蹺之郄會者，而繪紀之。不知有小補於陰蹺之當否。</p>

<h2>（十三）陽維脈穴圖</h2>
<figure>
<img alt="陽維脈穴圖">（十七穴）
</figure>
<p><u>外關：三焦經穴在掌背去腕二寸骨縫兩筋陷中伏手取之主風寒經絡皮肢病與臨泣主客相應凡治必先取外關而刺之</u></p>

<h2>（十四）陽維脈穴歌</h2>
<p>陽維脈起穴金門，陽交日月臑俞經，臂臑肩井天髎過，風池腦空接承靈，正營目窗並臨泣，陽白仍還循本神，風府啞門會督脈，左右三十四穴成。</p>
<p>陽維脈分寸歌</p>
<p>陽維穴起足太陽，外踝一寸金門藏，踝上七寸陽交郄，肋端日月會少陽，肩後胛上尋臑俞，臂臑肘上七寸當，肩上陷中肩井地，天髎穴在缺盆鄉，耳後陷中風池會，枕骨之下腦空彰，腦前寸五承靈市，靈前一寸正營場。目窗只隔正一寸，入發五分臨泣詳，陽白眉端一寸度，本神入發四分量，項後啞門入髮際，入發一寸風府疆。</p>
<p>考正陽維穴道</p>
<p>粵稽陽維穴道，《類經》凡十三穴，則無日月、臂臑、承靈、目窗四穴。李時珍左右凡三十二穴，有居髎、臑會而無日月、風府、啞門三穴。又考《針灸大成》穴凡三十四，有臑會而無臂臑。合諸家稽之《圖經》穴道，無陽維之會郄者去之，有陽維之會郄者紀之，實得一十七穴，左右亦成三十四矣。今遵圖經穴屬，逐一而縷明之。金門穴足太陽之郄，陽維別屬也。起足外踝下一寸，行於足少陽經之足外踝上七寸。陽蹺穴乃陽維之郄也，三肋端橫之。日月穴，足太陰、少陽、陽維之會。又與手足太陽及蹺脈會於肩後大骨下，胛骨上，廉臑俞穴也。肘上七寸之臂臑，是手足太陽、陽維之會。又會於肩上陷中肩井穴，缺盆中上毖骨際之天髎穴，乃手足少陽、陽維之會也。耳後陷中之風池，枕骨下之腦空，腦前寸五之承靈，靈前一寸之正營，隔營一寸之目窗，眉上一寸之陽白，入發四分之本神，俱屬少陽、陽維之會。足太陽、少陽、陽維三脈之會者，入發五分之臨泣穴也。項後入發之啞門，入發一寸之風府二穴者，系督脈、陽維之會也。約上諸穴，實陽維之左右三十四穴也。晰明於此，求正後之賢者。</p>

<h2>（十五）陰維脈穴圖</h2>
<figure>
<img alt="陰維脈穴圖">（七穴）
</figure>
<p><u>內關：心包經穴去掌二寸兩筋間緊握拳取之主心膽脾胃之病與公子小主客相應凡治必先取內關而刺之</u></p>

<h2>（十六）陰維脈穴歌</h2>
<p>陰維之穴起築賓，府舍大橫腹哀循，期門天突連舌本，此是陰維脈維陰。</p>
<p>陰維脈分寸歌</p>
<p>陰維脈起足少陰，內踝之上尋築賓，少腹之下稱府舍，大橫平臍是穴名，此穴去中三寸半，行至乳下腹哀明，期門直乳二肋縫，天突結喉下一寸，喉上中央舌本下，穴名廉泉通腎津。</p>
<p>陰維起於諸陰之交者，謂起於足少陰腎經之內踝後上腨分中築賓穴，與足太陰交於少腹下去腹中行三寸半府舍穴，又平臍去中行三寸半大橫穴，又行至乳下二肋端縫之下二寸腹哀穴，又與足厥陰交於乳下二肋端縫期門穴，又與任脈交於結喉下一寸宛宛中天突穴，從天突上行，在頷下結喉上，口中舌本下廉泉穴而終。此陰維脈氣所發也。</p>

<h2>（十七）帶脈穴圖</h2>
<figure>
<img alt="帶脈穴圖">（六穴）
</figure>
<p><u>臨泣：二穴足少陽經穴少陽所注為腧主四肢頭項耳目齒咽諸病與外關主客相應凡治必先取臨泣而刺之</u></p>

<h2>（十八）帶脈穴歌</h2>
<p>帶起少陽帶脈穴，繞行五樞維道間，京門之下居髎上，周迴季脅束帶然。</p>
<p>帶脈穴分寸歌</p>
<p>帶脈部分足少陽，季脅寸八是其鄉，由帶三寸五樞穴，過章五三維道當。</p>
<p>帶脈穴在季脅下一寸八分，從帶脈穴下三寸即五樞穴也。從五樞下行，過肝經之章門穴下五寸三分，即維道穴也。</p>
<p>考正帶脈穴道</p>
<p>帶脈之穴，李時珍謂起於季脅之章門，循帶脈又與足少陽會於五樞、維道，左右凡八穴。張介賓《類經》謂脈氣所發，在季脅下一寸八分，穴名帶脈。又與足少陽會於維道，凡四穴。《金鑑》與《針灸大成》均言帶脈五樞、維道凡六穴。考之《圖經》帶脈、五樞、維道三穴，屬帶脈之會。章門穴，乃脾之募藏之會，非帶脈之會也。時珍穴之四，介賓穴之二，較之《圖經》俱有差失。今遵《圖經》、《金鑑》、《大成》穴屬，而縷繪之，以質後之賢者。</p>

<h1>八、針法秘傳</h1>
<p>（針法手法，不傳之秘，盡在此卷，學者其盡心焉）</p>

<h2>（一）註解標幽賦</h2>
<p>此賦自宋元以來，即相傳不廢，針灸法之全體大用，包括無遺。在針灸各歌各賦中，最關重要。各書中亦多載有此賦，但文多不全，且無註解，於讀者甚為不便。茲照古本錄其全文，並加詳註，以供學者之探討。</p>
<p>拯救之法，妙用者針。察歲時於天道，定形氣於予心。春夏瘦而刺淺，秋冬肥而刺深。不窮經絡陰陽，多逢刺禁；既論臟腑虛實，須向經尋。</p>
<p>（第一韻專論針刺之當謹慎，不可造次，須辨經絡陰陽、臟腑虛實而行補瀉也。）</p>
<p>原夫起自中焦，水初下漏，太陰為始，至厥陰而方終；穴出雲門，抵期門而最後。</p>
<p>（第二韻專明十二經脈常行之度，一日一周，自寅手太陰之脈穴出雲門為始，至醜足厥陰之脈穴出期門為終。周而復始，相為循環，與滴漏天度無差，號曰鬥合人統也，）</p>
<p>正經十二，別絡走三百餘支；</p>
<p>（十二經絡，督任兩經，貫串三百六十餘穴，以同日度，並諸絡十二經、奇經八脈，皇絡、孫絡、橫絡、絲絡，未盡取名。然不過一晝夜脈行一萬三千五百息，血行八百一十丈一周而已矣。）</p>
<p>正側仰伏，氣血有六百餘候。</p>
<p>（背為陽，行於陰俞，腹為陰，行於陽俞，總三百六十餘穴，左右協助，合穴六百餘候。）</p>
<p>手足三陽，手走頭而頭走足，手足三陰，足走腹而胸走手。</p>
<p>（手三陽從手走至頭，足三陽從頭走至足，足三陰從足走至腹，手三陰從胸走至手，《難經》所載明矣。）</p>
<p>要識迎隨，須明逆順。</p>
<p>（順經絡而刺，是謂補。逆經絡而刺，是謂瀉。手法在人，依經用度。）</p>
<p>況乎陰陽，氣血多少為最。厥陰太陽，少氣多血，太陰少陰，少血多氣；而又氣多血少者，少陽之分；氣盛血多者，陽明之位。先詳多少之宜，次察應至之氣。</p>
<p>（氣血多少，已注經絡，不必重論。）</p>
<p>輕滑慢而未來，沉澀緊而已至。</p>
<p>（指彈其穴，穴下氣輕滑慢，氣未至也，勿刺。待氣至，方可刺也。穴下氣來沉澀而急，即可刺也。）</p>
<p>既至也，量寒熱而留疾；未至者，據虛實而候氣。</p>
<p>（氣至也，可留則留，可速則速，寒則留，熱則速，不可失時，候氣未至，或進或退，或按或提，等引氣至，方可刺也。）</p>
<p>氣之至也，若魚吞鉤餌之浮沉；</p>
<p>（氣至穴下，若魚吞鉤，若蟻奔走，或浮或沉也。）</p>
<p>氣未至也，似閒處幽堂之深邃。</p>
<p>（穴下氣不至，若虛堂無人，刺之無功，不可刺也。）</p>
<p>氣至速而效速，氣至遲而不治。</p>
<p>（氣之至也，刺之即愈。氣未至也，如刺繡工，徒勞人爾。）</p>
<p>觀夫九針之法，毫針最微，七星可應，眾穴主持。</p>
<p>（古針有九名，毫針按七星，斡運璇璣，最為常用。）</p>
<p>本形金也，有觸邪扶正之道；</p>
<p>（金者，剛健中正之性，可以去邪，扶持正氣也。本形言針之為物。）</p>
<p>短長水也，有決凝開滯之機。</p>
<p>（水有開山穿石之力，以潤下為功。針之短長深淺，如水之用也。）</p>
<p>定刺象木，或斜或正；</p>
<p>（針刺可曲可直可斜可正，猶木之曲直也。）</p>
<p>口藏比火，進陽補羸。</p>
<p>（口溫針熱，補調榮衛，毋令冷熱相傷，猶火之能炎上也。）</p>
<p>循機捫而可塞以象土，實應五行而可知。</p>
<p>（土可以塞水，針可以塞病源，是以象土也。一針之用，五行俱全。）</p>
<p>然是一寸六分，包含妙理，雖然擬於毫髮，同貫多歧。</p>
<p>（恆所用者，毫針也。按黃帝銅人流注之法，肘前膝下一寸六分，止有八分為針柄，是針二寸四分也。按氣血經絡，變化無方，惟針所治。）</p>
<p>可平五臟之寒熱，能調六腑之虛實。</p>
<p>（臟腑要分表裡虛實寒熱，針法在斯矣。）</p>
<p>拘攣閉塞，遣八邪而去矣；寒熱痛痹，開四關而已之。</p>
<p>（太乙移宮之日，八風之邪，主人寒熱頭痛。若能開闢四關，病可除也。四關者，兩手兩足，刺之而已矣，正所謂六十六穴之中也。）</p>
<p>凡刺者，使本神朝而後入，既刺也，使本神定而氣隨。神不朝而勿刺，神已定而可施。</p>
<p>（神者脈也，脈息見於穴下，氣至可刺之。脈息不至則不均，不全則不定，穴下氣分，不可刺也，至慎至慎！）</p>
<p>定腳處，取氣血為主意；下手處，認水土是根基。</p>
<p>（先佔口鼻，呼吸勻者可刺。水土者，太谿、衝陽也，絕則勿刺焉。）</p>
<p>天地人，三才也，湧泉同璇璣、百會；</p>
<p>（百會在頂，應天，主乎氣；湧泉在足底，應地，主乎精；璇璣在胸，應人，主乎神。得之者生，失之者亡，應乎三才者也。）</p>
<p>上中下，三部也，大包與天樞、地機。</p>
<p>（上中下三部，謂之三要。大包在腋下三寸，主脾之大井。相依乎手足四肢也，上下左右前後內外交平，而百病可治也。）</p>
<p>陽蹺、陽維並督帶，主肩背腰腿在表之病；陰蹺、陰維、任、衝脈，去心腹脅肋在裡之疑（疑者，疾也）。二陵、二蹺、二交，似續而交五大；兩間、兩商、兩井，相依而別兩支。</p>
<p>（二陵者，陰陵泉、陽陵泉也。二蹺者，陰蹺、陽蹺也。二交者，陰交、陽交也。續，接續也。五大者，五體也。言此六穴，遞相交接於兩手，兩足並頭也。兩間者，二間三間也。兩商者，少商、商陽也。兩井者，天井、肩井也。言六穴相依而分別於手之兩支也。）</p>
<p>大抵取穴之法，必有分寸，先審字意，次觀肉分；或伸屈而得之，或平直而安定。在陽部筋骨之側，陷下為真；在陰分郄膕之間，動脈相應。</p>
<p>（取穴莫熟於分寸，詳字意最緊。手背、足背、脊背陽部分，在兩筋之旁，以指按陷下者是穴。手心、腳底、肚腹陰之分，在筋骨郄膕之間，以指下動脈應之是穴也。）</p>
<p>取五穴用一穴而必端，取三經使一經而可正。</p>
<p>（取五穴者，謂如陽經用甲丙戊庚壬時，取一時分井榮俞經合，五穴既定，然後取一穴得時刺之，三經者，假令膽經受病，宜取肝經。拘關又取脾經，甲膽與己脾為奇耦，三經只取一經，余同此例。）</p>
<p>頭部與肩部詳分，督脈與任脈易定。</p>
<p>（此言經絡須要精熟。督脈任脈，一陽一陰，在明師手指，不可造次。）</p>
<p>明標與本，論刺深刺淺之經；住痛移疼，取相交相貫之逕。</p>
<p>（日法寅卯辰上為標，申酉戌下為本，巳午未上為標，亥子醜下為本。故知標病大，本病輕淺也。交貫之路，謂陰交陽會，走經走絡，配合之處也，皆可互標而刺之。）</p>
<p>豈不聞臟腑病而求門、海、俞、募之微；</p>
<p>（門海，出入之道。俞募，終始之處，五臟各有俞募。）</p>
<p>經絡滯而求原、別、交、會之道。</p>
<p>（陰俞陰謂之交，陽原陽謂之會。）</p>
<p>更窮四根三結，依標本而刺無不痊；</p>
<p>（《靈樞》云：太陽根於至陰，結於命門。陽明根於厲兌，結於顙大。少陽根於竅陰，結於窗籠。太陰根於隱白，結於太倉。少陰根於湧泉，結於廉泉。厥陰根於大敦，結於玉英。此謂三結四根，有足太陽根於至陰，溜於京骨，注於崑崙，入於天柱、飛揚也，足少陽根於竅陰，溜於丘墟，注於陽輔，入於天容、光明也。足陽明根於厲兌，溜於衝陽，注於下陵，入於人迎、豐隆也。手太陽根於少澤，溜於陽谷，注於少海，入於天窗、支正也。手少陽根於關衝，溜於陽池，注於支溝，入於天牖、外關也。手陽明根於商陽，溜於合谷，注於陽谿，入於扶突、偏歷也。手太陰根於少商，溜於太淵，注於列缺，入於迎香。手少陰根於少衝，溜於神門，注於通里，入於極泉。手厥陰根於中衝，溜於大陵，注於內關，入於天池、郄門也。按《靈樞》此篇，不載後一段。）</p>
<p>但用八法、五門，分主客而針無不效。</p>
<p>（用針八法者，迎隨一也，轉針二也，指法三也，針頭四也，虛實五也，陰陽六也，提按七也，呼吸八也。補虛瀉實，損益在此八法。五門者，井、滎、俞、經、合也。春刺井，夏刺滎，秋刺經，冬刺合，四季月刺俞穴。五門一月一同，一日亦有五門，同年辰例。客者，客邪也。主者，主氣也。知之者，刺之無有不效。）</p>
<p>八脈始終連八會，本是紀綱；十二經絡十二原，是為樞要。</p>
<p>（甲光明走乙肝，乙蠡溝走甲膽，丙腕骨走丁心，丁通里走丙小腸，戊豐隆走己脾，己公孫走戊胃，庚偏歷走辛肺，辛列缺走庚大腸，壬飛揚走癸腎，癸大鐘走壬膀胱，三焦與包絡相為表裡，此為十二原穴。八脈者，奇經也。有督脈、任脈、衝脈、帶脈、陰維、陽維、陰蹺、陽蹺，是為八脈也。八會者，腑會中脘，臟會章門，筋會陽陵泉，髓會絕骨，血會鬲俞，骨會大杼，脈會太淵，氣會膻中。此八穴陰通八脈，相符而用。）</p>
<p>一日刺六十六穴之法，方見幽微；一時取一十二經之原，始知要妙。</p>
<p>（一日刺六十六穴之法，用甲丙戊庚壬五穴，每時相配乙丁己辛癸。一時十穴，五六三十，兩手兩足相對，共計六十穴。一時平取十二經之原，亦可偏經而已矣。）</p>
<p>原夫補瀉之法，非呼吸而在手指；速效之功，要交正而識本經。</p>
<p>（經云：寧失其穴，勿失其經；寧失其時，勿失其氣。古人云：有八法，彈、拈、循、捫、攝、按、爪、切。用此如神，故下再執呼吸也。）</p>
<p>交經繆刺，左有病而右畔取；瀉絡遠針，頭有病而腳上針。</p>
<p>（手足大病，左因右侵凌，右因左攻擊。黃帝云：是動則病，經氣更取，所生者病，血絡更然。故上下前後左右腹背交經平刺也。）</p>
<p>巨刺與繆刺各異，微針與妙刺相通。</p>
<p>（巨微妙毫針之刺繆，交平而刺巨，隨氣色而針之，故不同也。）</p>
<p>觀部分而知經絡之虛實，視浮沉而辨臟腑之寒溫。</p>
<p>（此言三部九候，刺虛實寒熱表裡也，而後刺法行焉。）</p>
<p>且夫先令針耀而慮針損，次藏口內而欲針溫。</p>
<p>（古人云：口溫針暖，毋令針冷。與皮肉相和，故不損折也。）</p>
<p>目無外視，手如握虎，心無內慕，如待貴人。左手重而多按，欲令氣散；右手輕而徐入，不痛之因。</p>
<p>（手法之原，先要左手，穴在重按有準。右手輕拈至分寸，自不痛也。）</p>
<p>空心恐怯，直立側而多暈；背目沉掐，坐臥平而沒昏。</p>
<p>（此明用針規矩法式也。）</p>
<p>推於十干十變，知孔穴之開闔；論其五行五臟，察日時之旺衰。伏如橫弩，應若發機。陰交陽別而定血暈，陰蹺陽維而下胎衣。</p>
<p>（三陰之交，與三陽別走陰蹺陽維，皆治產難下胎血暈，此之謂也。）</p>
<p>痹厥偏枯，迎隨俾經絡接續；漏崩帶下，溫補使氣血依歸。</p>
<p>（風科有一，痹言風寒濕冷而為痹也，接續刺包焦諸穴。女人血下有四：崩者急下，漏者點滴下，滲者浸浸而下，帶者隨便溺而下。榮衛氣息安定，方可刺之。）</p>
<p>靜以久留，停針候之。</p>
<p>（用針刺產難崩漏淹涎等病，皆可停針留法，罔不效也。）</p>
<p>必准者取照海，治喉中之閉塞。端的處用大鐘，治心內之呆癡。</p>
<p>（照海通陰蹺，足少陰經也，可刺喉閉。大鐘走足太陽，可刺失心之病。）</p>
<p>大抵疼痛實瀉，癢麻虛補。體重節疼而俞居，心下痞滿而井主。</p>
<p>（百病麻癢不仁、清冷者虛也，可補之。疼痛者實也，可瀉之。五門所主不同，並主心下滿悶，滎主氣熱恍惚，俞主體節疼痛，經主寒熱喘嗽，合主氣逆泄利也。）</p>
<p>心脹咽痛，針太衝而必除；脾冷胃疼，瀉公孫而立愈。胸滿腹痛刺內關，脅疼肋痛針飛虎。筋攣骨痛而補魂門，體熱勞嗽而瀉魄戶。頭風頭痛，刺申脈與金門；眼癢眼疼，瀉光明與地五。瀉陰郄止盜汗，治小兒骨蒸；刺偏歷利小便，醫大人水蠱。中風環跳而宜刺，虛損天樞而可補。</p>
<p>（此一節俞穴明注，不必重解。）</p>
<p>由是午前卯後，太陰生而疾溫；離左酉南，月朔死而速冷。</p>
<p>（子醜寅三時者，陰中之少陽，不足為用也。午前卯後，乃辰巳之時，陽中之老陽，可治萬病之虛寒。酉戌亥三時，陰中之老陰，不足生髮也。離左酉南，乃未申之時，陽中之少陰，可治萬病之煩躁者。溫其虛寒，則針而補之，灸而呵之。冷其煩燥，則針而瀉之，灸而吹之。以丈夫同室女，婦人比童子治之。）</p>
<p>循捫彈怒，留吸母以堅長；爪下伸提，疾呼子而噓短。</p>
<p>（此言八法虛補其母，實瀉其子也。）</p>
<p>動退空歇，迎奪右而瀉涼；推內進搓，隨濟左而補暖。</p>
<p>（此明左右轉針補瀉，取手俯手仰法也。）</p>
<p>慎之！大患危疾，色脈不順而莫針，寒熱風陰，飢飽醉勞而切忌。</p>
<p>（天有六氣，陰陽風雨晦明；地有六邪，風寒暑濕溫燥；人有六情，喜怒哀樂好惡，共十八事，皆禁忌不可針也。）</p>
<p>望不補而晦不瀉，弦不奪而朔不濟。</p>
<p>（望日魂魄皆滿，血氣堅盈，不可補也。晦日月空已盡，人氣亦衰，不可瀉也。朔，日月會也。月之陰魄未成，日之陽魂始生，人氣亦然，故不可瀉也。上弦月始生，氣血始結，衛氣始行，不可奪也。下弦月始減，人氣血亦空，不可迎也。古聖有云：針刺之法大禁，一月之內，晦朔弦望四日，謂之四忌。）</p>
<p>精其心而窮其法，無灸艾而壞其皮；正其理而求其源，免投針而失其位。（位者胃也。）</p>
<p>（灸不當其穴，損傷榮血，肝也。刺不中其法，喪敗衛氣，胃也。）</p>
<p>避灸處而和四肢，四十有九。禁刺處而除六腧，二十有二。</p>

<h2>（二）禁針穴歌</h2>
<p>禁灸穴道要先明，腦戶囟會及神庭，絡卻玉枕角孫穴，顱息承泣隨承靈，神道靈臺膻中忌，水分神闕並會陰，橫骨氣衝手五里，箕門承筋並青靈，更加臂上三陽絡，二十二穴不可針。孕婦不宜針合谷，三陰交內亦同論，石門針灸應須忌，女子終身無妊娠。外有云門並鳩尾，缺盆客主人莫深，肩井深時令悶倒，三里急補命還平。</p>

<h2>（三）禁灸穴歌</h2>
<p>禁灸之穴四十五，承光啞門並風府，天柱素髎臨泣上，睛明攢竹迎香數，禾髎顴髎絲竹空，頭維下關與脊中，肩貞心俞白環俞，天牖人迎共乳中，周榮淵液並鳩尾，腹哀少商魚際同，經渠天府中衝位，陽關陽池地五會，隱白漏谷陰陵泉，條口犢鼻並陰市，伏兔髀關及委中，殷門申脈承扶忌。</p>

<h2>（四）古針法歌</h2>
<p>先說平針法，含針口內溫，按揉令氣散，掐穴故教深，持針安穴上，令他嗽一聲，隨嗽歸天部。停針再至人，次提針向病，針退天地人，補必隨經刺，令他吹氣頻，隨吹隨左轉，逐歸天地人，待氣停針久，三彈更熨溫，出針口吸氣，急急閉其門。瀉欲迎經取，吸則內其針，吸時須右轉，依次進天人，轉針仍復吸，依法要停針，出針吹出氣，搖動大其門。</p>

<h2>（五）古穴法歌、論暈針吸針解救法</h2>
<p>汪紹達先生曰：穴法歌傳世已數百年，並未說明何用，但云相應而已。昔嘗舉以問老友濮云依，據轉述其師陸九芝先生云：此針灸家一大秘密也。凡救暈針及拔針不出種種危險，皆於此相應諸穴下針，但從未有註明何穴救暈針，何穴救吸針，致後人無從措手。然果能明於各經脈中之氣機，某經與某經互相貫通，此穴法歌中所云某穴與某穴互相為應者，有如何關係，自不難由此例彼，推類而知也。愚按：吾師石屏先生於救暈針各穴，多至十餘處，皆與此歌所云之各穴相符。蓋吾師之針法，傳於異人聶君，聶君又傳於濟寧州之高僧，除傳授針法外，尚須授以煉氣運氣諸法，故能於極柔之金針，運以剛勁之真氣，由孔穴以入經絡，濟危救急，指揮如意，又不僅在穴道之相應已也。</p>
<p>汪先生又云：古法救暈針者，但取奪命穴救之。其穴在手膊上側筋骨陷中，從肩至肘正在當中，即是蝦蟆兒上邊也。今各穴相應之法，既經發明，救急之法益廣。愚按：吾師石屏先生於百會、人中、曲池、合谷、足三里、三陰交，皆能隨時取以救治暈針之危急。信乎吾師門之所發明者，於古歌若合符節，尤足徵淵源之有自矣。</p>
<p>承漿應風府，風池應合谷，迎香應上星，翳風應合谷，聽會應合谷，啞門應人中，攢竹應大陽，大陰應合谷、睛明，內迎香應合谷，人中應委中，腎腧應委中，髖骨應風市，足三里應膏肓，肩井應足三里，陽陵泉應支溝，崑崙應命門，崑崙應行間，申脈應合谷，太衝應崑崙，髖骨應曲池，肩井應支溝，尺澤應曲池，肩髃應髖骨，間使應百勞，關衝應支溝，中渚應人中，少衝應上星，後谿應百勞，神門應後谿，通里應心腧，百勞應肺腧，膏肓應足三里，風門應列缺，照海應崑崙，鳩尾應神門，中極應白環腧，天樞應脾腧。</p>

<h2>（六）今世所傳之針法</h2>
<p>《內經》、《難經》所傳之針法，通乎造化之理者也。今世所傳之針法，率多無稽之言，豈可相提並論。然古經文意深奧，必須沉潛玩味，乃能得其精微。今人喜簡厭繁，貪求淺近。其於聖經視同虛文，孰肯留心於此。茲為普及針法計，取今世針法之近理，而為歷代所傳習，施之病人確有實效者，擇要論列，以便入門。所論各法，雖多為他書所同有，然於他書傳訛之處，概行訂正。故針法之名稱雖同，而所述之方法多異，學者幸勿以其近而忽之。</p>

<h3>宏綱陳氏補瀉針法</h3>
<p>取穴既正，用左手大指掐穴，右手置針穴上，令嗽一聲，隨嗽內針，至分寸候，針數穴畢。停少時，用右手大指及食指持針，細細動搖，進退搓拈，如手顫之狀，謂之催氣。約行五六次，覺針下沉緊，卻用瀉法。令病人呼氣一口，隨呼轉針，如針左邊，以右手持針，大指推前，食指向後，輕提針頭左轉，如針數處，具依此法。轉畢，仍用右大指食指持針，卻用食指連搓三下，謂之飛。卻輕提住針頭左轉，略退半分許，謂之三飛一退。依此行至五六次，覺針下沉緊，是氣至極矣。再輕提住針頭左轉一二次，如針右邊，以左手大指食指持針，大指向前，食指向後依前法輕提針頭右轉，是針右邊瀉法。欲出針時，令咳一聲，隨咳出針，此謂之瀉。</p>
<p>補法則依前法催氣畢，覺針下氣至，令病人吸氣一口，隨吸轉針。如針左邊，捻針頭轉向右邊，以我之右手大指食指持針，以大指向後，食指向前，仍捻針深入一二分，使真氣深入肌肉之分。如針右邊，捻針頭轉向左邊，以我之左手大指食指持針，食指向前，大指向後，仍捻針深入一二分。若針數穴，俱依此法。行畢，停少時，卻用手指於針頭上輕彈三下，如此三次。仍用我之左手大指食指持針，以大指連搓三下，謂之飛。將針深入一二分，輕提針頭，轉向左邊，謂之一進三飛。依此法行五六次，覺針下沉緊，或針下氣熱，是氣至足矣。令病人吸氣一口，隨吸出針，急以手按其穴，此謂之補。</p>

<h3>三才法</h3>
<p>補者，呼氣初針，刺至皮內，號曰天才。少停進針，刺至肉內，號曰人才。又停進針，刺至筋骨之間，號曰地才。得氣補之，再停良久，退針人部，待氣沉緊，倒針朝病，進退往來，飛經走氣，盡在其中。瀉者，吸氣針至天部，少停直至地部，得氣瀉之。再停良久，退針人部，待氣沉緊，倒針朝病，施法同前。</p>
<p>少停者，三息也。再停者，五吸也。</p>

<h3>候氣法</h3>
<p>病未退者，針下如根，推之不動，轉之不移，此為邪氣吸拔其針。未可出針，出則病復，再須補瀉，停以待之，直候病勢已退，針下微松，如魚吞餌之狀，乃真氣至也，方可出針豆許，搓而停之，補者吸之去疾，急捫其穴，瀉者呼之去徐，不閉其穴。</p>

<h3>近世針家十四法</h3>
<p>（以下各法，諸家之書不同。茲從實驗後考訂改正，其緊要異同之處，識者自能辨之）</p>
<p><u>一切</u></p>
<p>凡欲下針之時，用兩手大指甲，於穴旁上下、左右四圍，掐而動之，如刀切割之狀，令血氣宣散。次用爪法，爪者掐也，用左手大指甲著力掐穴，右手持針，插穴有準，此下針之法也。</p>
<p><u>二搖</u></p>
<p>凡退針出穴時，必須擺撼而出之，所謂青龍擺尾者，即搖法也。故曰搖以行氣，此出針法也。</p>
<p><u>三退</u></p>
<p>凡施補瀉，出針豆許，補時出針，宜瀉三吸，瀉時出針，宜補三呼。再停少時，方可出針。又一瀉法，一飛三退，邪氣自退。其法一插至地部，三提至天部，插針宜速，提針作三次出，每一次停三吸，宜緩提時，亦宜吸氣，故曰退以清氣。飛者進也。</p>
<p><u>四動</u></p>
<p>凡下針時，如氣不行，將針搖之，如搖鈴之狀。動而振之，每穴每次，須搖五息，一吹一搖，按針左轉，一吸一搖，提針右轉，故曰動以運氣。所謂白虎搖頭者，亦用此法。又曰飛針引氣，以大指次指拈針來去上下也。</p>
<p><u>五進</u></p>
<p>下針後氣不至，男左女右，轉而進之，外轉為左，內轉為右。春夏秋冬，各有淺深。又有補法，一退三飛，真氣自歸。其法一提至天部，三進入地部，提針宜速，進針三次，每停三息宜緩，進時亦宜吹氣。故曰進以助氣。</p>
<p><u>六循</u></p>
<p>下針後氣不至，用手上下循之。假如針手陽明合谷穴，氣若不至，以三指平直，將指面於針邊，至曲池上下往來撫摩，使氣血循經而來。故曰循以至氣。</p>
<p><u>七攝</u></p>
<p>下針之時，氣或澀滯，用大食中三指甲，於所屬經分，來往攝之，使氣血流行。故曰攝以行氣。</p>
<p><u>八努</u></p>
<p>下針至地，復出人部，補瀉務待氣至。如欲上行，將大指次指拈住針頭，不得轉動，卻用中指將針腰輕輕按之，四五息久，如撥努機之狀。按之在前，使氣在後，按之在後，使氣在前。氣或行遲，兩手各持其針，仍行前法，謂之龍虎升騰，自然氣血搬運。故曰努以上氣。</p>
<p>一說：用大指次指拈針，名曰飛針，引氣至也。如氣不至，令病人閉氣一口，著力努之，外以飛針引之，則氣至矣。</p>
<p><u>九搓</u></p>
<p>下針之後，將針或內或外，如搓線之狀。勿轉太緊，令人肥肉纏針，難以進退。左轉插之為熱，右轉提之為寒，各停五息久。故曰搓以使氣。</p>
<p>按《內經》云：針入而肉著者，熱氣因於針則針熱，熱則肉著於針，故堅焉。茲謂轉緊纏針，與經不同。</p>
<p><u>十彈</u></p>
<p>補瀉之時，如氣不行，將針輕輕彈之，使氣速行。用大指彈之，象左補也；用次指彈之，象右瀉也，每穴各彈七下。故曰彈以催氣。</p>
<p><u>十一盤</u></p>
<p>如針腹部軟肉去處，只用盤法，兼子午搗臼提按之訣。其盤法如循環之狀，每次盤時，各須運轉五次。左盤按針為補，右盤提針為瀉，故曰盤以和氣。如針關元穴，先刺入二寸五分，退出一寸，只留一寸五分，在內盤之。且如要取上焦之病，用針頭迎向上，刺入二分，補之使氣攻上。臍下之病，退出二分。</p>
<p><u>十二捫</u></p>
<p>補時出針，用手指掩閉其穴，無令氣泄。故曰捫以養氣。一說：捫者因痛處未除，以手捫摩痛處，外以飛針引之，除其痛也。</p>
<p><u>十三按</u></p>
<p>欲補之時，以手緊捻其針按之，如診脈之狀，毋得挪移再入。每次按之，令細細吹氣五口。故曰，按以添氣，添助其氣也。</p>
<p><u>十四提</u></p>
<p>欲瀉之時，以手捻針，慢慢伸提豆許，無得轉動再出。每次提之，令細細吸氣五口，其法提則氣往。故曰，提以抽氣。</p>

<h3>通關過節等十六法</h3>
<p><u>青龍擺尾</u></p>
<p>如扶船舵，不進不退，一左一右，慢慢撥動。又云：青龍擺尾行氣，龍為陽屬之故。行針之時，提針至天部，持針搖而按之，如推船舵之緩。每穴左右各搖五息，如龍擺尾之狀，兼用按者，按則行衛也。</p>
<p><u>白虎搖頭</u></p>
<p>似手搖鈴，退方進員，兼之左右搖而振之。又云：行針之時，開其上氣，閉其下氣，氣必上行。開其下氣，閉其上氣，氣必下行。如刺手足，欲使氣上行，以指下抑之，欲使氣下行，以指上抑之，用針頭按住少時，其氣自然行也。進則左轉，退則右轉，然後搖動是也。又云：白虎搖頭行血，虎為陰屬之故。行針之時，插針地部，持針提而動之，如搖鈴之狀，每穴每施五息。退方進員，非出入也，即大指進前往後，左右略轉，提針而動之，似虎擺頭之狀。兼行提者，提則行榮也，龍補虎瀉也。</p>
<p><u>蒼龜探穴</u></p>
<p>如入土之像，一退三進，鑽剔四方。又云：得氣之時，將針似龜入土之狀，緩緩進之，上下左右而探之。（上下出內也，左右拈針也。）又云：下針時三進一退，將兩指按肉持針，於地部右盤，提而剔之，如龜入土，四圍鑽之。盤而剔者，行經脈也。</p>
<p><u>赤鳳迎源</u></p>
<p>展翅之儀，入針至地部，提針至天部。候針自搖，復進其源，上下左右，四圍飛旋。病在上，吸而退之；病在下，呼而進之。（吸而右退，呼而左進，此即上下左右也。）又云：下針之時，入天插地，復提至天，候氣入地，針必動搖。又復推至人部，持住針頭左盤，按而搗之，如鳳衝風擺翼之狀。盤而搗者，行絡脈也，鳳補龜瀉也。以上四法，所謂通關過節者也。</p>
<p><u>龍虎交戰</u></p>
<p>下針之時，先行龍而左轉，可施九陽數足，後行虎而右轉，又施六陰數足，乃首龍尾虎以補瀉。此是陰中引陽，陽中引陰，乃反復其道也。又云：先於天部施青龍擺尾，左盤右轉，按而添之，亦宜三提九按（即九陽也），令九陽數足。後於地部行白虎搖頭，右盤左轉，提而抽之，亦宜三按六提（即六陰也），令六陰數足，首龍尾虎而轉之。此乃陰陽升降之理，住痛移痛之法也。</p>
<p><u>龍虎升騰</u></p>
<p>先於天部持針，左盤按之，一回，右盤按之，後一回用中指將針腰插之，如撥弩機之狀，如此九次，像青龍純陽之體。卻推針至地部，右盤提之，一回，左盤提之，後一回，用中指將針腰插之，如此六次，像白虎純陰之體。按之在後，使氣在前，按之在前，使氣在後。若氣血凝滯不行，兩手各持其針行之，此飛經走氣之法也。</p>
<p><u>子午搗臼</u></p>
<p>下針之後，調氣得勻，以針上下行九入六出之數。左右轉之，道引陰陽之氣，百病自除。諺云：針轉千遭，其病自消。此除臌膈膨脹之疾也。</p>
<p><u>燒山火</u></p>
<p>針入先淺後深，約入五分，用九陽，三進三退，慢提緊按，熱至緊閉針穴，方可插針，令天氣入，地氣出，寒可除矣。又云：一退三飛，飛，進也。如此三次，為三退九進，則成九矣。其法：一次急提至天，三次慢按至地，故曰疾提慢按。隨按令病人天氣入，地氣出，謹按生成息數，病愈而止。一說：三進三退者，三度出入，三次，則成九矣。九陽者，補也。先淺後深者，淺則五分，深則一寸。</p>
<p><u>透天涼</u></p>
<p>先深後淺，約入一寸，用六陰，三出三入，緊提慢按。寒至徐徐退出五分，令地氣入，天氣出，熱可退也。又云：一飛三退，如此三次，為三進六退，即六陰數也。其法：一次疾插入地，三次慢提至天，故曰疾按慢提。隨提令病人地氣入，天氣出，謹按臟腑生成息數，病自退矣。一說：一度三進三退，則成六矣。六陰者，補也。</p>
<p><u>陽中隱陰</u></p>
<p>先寒後熱，淺以深，針入五分，行九陽之數，熱至便進針一寸，行六陰之數，乃陽行陰道之理，則先補後瀉也。</p>
<p><u>陰中隱陽</u></p>
<p>先熱後寒，深而淺，先針一寸，行六陰之數。寒至便退針五分之中，行九陽之數，乃陰行陽道之理，則先瀉後補也。補者，直須熱至。瀉者，直待寒侵。</p>
<p><u>抽添法</u></p>
<p>針入穴後，行九陽之數，氣至慢慢轉換，將針提按，或進或退，使氣隨針到於病所，扶針直插，復向下納，回陽倒陰。又云：抽添即提按出納之狀。抽者，拔而數拔也。添者，按而數推也。取其要穴，先行九陽之數，得氣隨吹按添，就隨吸抽提，其實在乎動搖出內呼吸同法。以動搖出內呼吸相兼併施，故曰同法。謹按生成息數足效也，此治癱瘓半身不遂之疾。</p>
<p><u>調氣法</u></p>
<p>下針至地，復出於人。欲氣上行，將針右拈；欲氣下行，將針左拈。欲補先呼而吸，欲瀉先吸後呼。氣不至者，以手循攝，以爪切掐，以針搖動進退搓拈，直待氣至。以龍虎升騰之法，按之在前，使氣在後，按之在後，使氣在前，運氣走至病所。再用納氣之法，扶針直插，復向下納，使氣不回。若關節阻滯，氣不過者，以龍虎龜鳳四法，通經接氣，驅而運之，然後用循攝爪切，無不應矣。</p>
<p><u>進氣法</u></p>
<p>針入天部，行九陽之數，氣至速臥倒針。候其氣行，令病人吸氣五七口，其針氣上行。此乃進氣之法，可治肘臂腰腳身疼。亦可龍虎交戰走注之病，左拈九，右拈六，是亦住痛之針。</p>
<p><u>納氣法</u></p>
<p>下針之時，先行進退之數，得氣便臥倒針。候氣前行，催運到於病所，便立起針，復向下納，使氣不出。又云：下針之後，如真氣至，針下微微沉緊，如魚吞餌之狀。兩手持針，徐徐按倒，令針尖向病，使氣上行至病所，扶針直插，復向下納，使氣上行不回也。</p>
<p><u>留氣法</u></p>
<p>用針之時，先進七分之中，行純陽之數。若得氣，便深入，伸提之，卻退至原處。又得氣，依前法，可治痃癖癥瘕之病。</p>

<h1>九、十二經四肢各穴分經主治病症</h1>
<p>（此即十二經井滎俞經合各穴之主治也）</p>

<h2>（一）手太陰肺經</h2>
<p>（左右手及臂凡一十八穴）</p>
<p>1．少商：二穴木也，在手大指端內側，去爪甲角如韭葉。手太陰之脈所出也，為井。治煩心，善噦，心下滿，汗出而寒，咳逆，痎瘧，振寒，腹滿膨膨，唾沫，唇乾，引飲不下，手攣指痛，寒慄鼓頷，喉中鳴。以三稜針刺之，微出血，泄諸藏熱湊。唐刺史成君綽，忽腮頷腫大如升，喉中閉塞，水粒不下三日。甄權針之立愈。不宜灸。</p>
<p>2．魚際：二穴火也，在手大指本節後內側散脈中。手太陰脈之所流也，為滎。治灑淅惡風寒。虛熱，舌上黃，身熱，頭痛，咳嗽，汗不出，痹走胸背，痛不得息，目眩，煩心，少氣，腹痛，不下食，肘攣，支滿，喉中乾燥，寒慄鼓頷，咳引尻痛溺出，嘔血，心痹悲恐。針入二分。留三呼。</p>
<p>3．太淵：二穴土也，在手掌後陷中。手太陰脈之所注也，為腧。治胸痹，逆氣，寒厥，善噦，嘔飲水，咳嗽，煩怨，不得臥，肺脹滿膨膨，背內廉痛，目生白翳，眼眥赤筋，缺盆中引痛，掌中熱，數欠，喘不得息，噫氣上逆，心痛，唾血，振寒咽乾，狂言口噼。可灸三壯，針入二分。</p>
<p>4．經渠：二穴金也，在寸口陷中。手太陰脈之所行也，為經。治瘧寒熱，胸背拘急，胸滿膨膨，喉痹，掌中熱，咳嗽上氣，數欠，熱病汗不出。暴痹喘逆，心痛，嘔吐。針入二分，留三呼。禁不可灸，灸即傷人神。</p>
<p>5.列缺：二穴去腕側上一寸五分，以手交叉，頭指末筋骨罅中，手太陰絡別走陽原。療偏風口喎，手腕無力，半身不遂，咳嗽，掌中熱，口噤不開，寒瘧，嘔沫，善笑縱唇口，健忘。針入二分，留三呼，瀉五吸即可，灸七壯，慎酒面生冷物等。</p>
<p>6.孔最：二穴在腕上七寸，手太陰郄。治熱病汗不出，此穴可灸，三壯即汗出。咳逆，臂厥痛，針入三分，灸五壯。</p>
<p>7．尺澤：二穴水也，在肘中約上動脈中。手太陰脈之所入也，為合。治風痹肘攣，手臂不得舉，喉痹，上氣，舌乾，咳嗽，唾濁，四肢暴腫，臂寒，短氣。針入三分，可灸五壯。</p>
<p>8．俠白：二穴在天府下，去肘五寸動脈中。治心痛，乾嘔，煩滿。針入三分，可灸五壯。</p>
<p>9．天府：二穴在腋下三寸動脈中，以鼻取之。治逆氣喘不得息，目眩遠視䀮䀮，卒中惡鬼疰，不得安臥。禁不可灸，使人逆氣。今附刺鼻衄血不止，針入四分，留三呼。</p>

<h2>（二）手陽明大腸經</h2>
<p>（左右手及臂凡二十八穴）</p>
<p>1．商陽：二穴金也，一名絕陽，在手大指次指內側，去爪甲角如韭葉。手陽明脈之所出也，為井。治胸中氣滿，喘咳支腫，熱病汗不出，耳鳴且聾，寒熱痎瘧，口乾，頤頷腫，齒痛，惡寒，肩背急相引缺盆痛，目青盲。可灸三壯，右取左，左取右，如須食，立已。針入一分，留一呼。</p>
<p>2．二間：二穴水也，一名間谷，在手大指次指本節前內側陷中。手陽明脈之所流也，為滎。治喉痹，頷脛肩背痛，振寒，鼻鼽衄血，多驚，口喎。針入三分，可灸三壯。</p>
<p>3．三間：二穴木也，一名少谷，在手大指次指本節之後內側陷中。手陽明脈之所注也，為腧。治喉痹，咽中如鞭，齒齲痛，嗜臥，胸滿，腸鳴洞泄，寒瘧，唇焦口乾，氣喘，目眥急痛。針入三分，留三呼，可灸三壯。</p>
<p>4．合谷：二穴，一名虎口，在手大指次指岐骨間陷中。手陽明脈之所過也，為原。療寒熱瘧，鼻鼽衄，熱病汗不出，目視不明，頭痛，齒齲，喉痹、痿臂，面腫，唇吻不收，喑不能言，口噤不開。針入三分，留六呼，可灸三壯。今附右婦人妊娠，不可刺之，損胎氣。</p>
<p>5．陽谿：二穴火也，一名中魁，在腕中上側兩筋陷中。手陽明脈之所行也，為經。治狂言喜笑，大見鬼，熱病，煩心，目風赤，厥逆頭痛，胸滿不得息，寒熱，瘧疾，喉痹，耳鳴，齒驚，掣肘，臂不舉，痂疥。針入三分，留七呼，可灸三壯，慎如前法。</p>
<p>6．偏歷：二穴，手陽明絡，在腕後三寸，別走太陰。治寒熱，瘧風，汗不出，目視䀮，癲疾，多言，耳鳴，口喎，齒齲，喉痹嗌乾，鼻鼽衄血。針入三分，留七呼，可灸三壯。</p>
<p>7．溫留：二穴，一名逆注，一名蛇頭，在腕後大士六寸，小士五寸，手陽明郄。治口喎，腸鳴腹痛，傷寒身熱，頭痛，噦逆，肩不得舉，癲疾吐涎，狂言見鬼，喉痹而虛腫。針入三分，可灸三壯。</p>
<p>8．下廉：二穴在輔骨下，去上廉一寸，輔兌肉其分，外斜。治頭風，臂時痛，溺黃。針入五分，留五呼，灸三壯。</p>
<p>9．上廉：二穴在三里下一寸，其分獨抵陽明之會，外斜。治腦風頭痛，小便難、黃赤，腸鳴，氣走疰痛。針入五分，可灸五壯。</p>
<p>10．三里：二穴在曲池下二寸，按之肉起，兌肉之端。治手臂不仁，肘攣不伸，齒痛，頰頷腫，瘰癧。可灸三壯，針入二分。</p>
<p>11．曲池：二穴土也，在肘外輔骨屈肘曲骨之中，以手拱胸取之。手陽明脈之所入也，為合。治肘中痛，偏風，手身不遂，刺風，癮疹，喉痹不能言，胸中煩滿，筋緩捉物不得，挽弓不開，屈伸難，風臂肘細而無力，傷寒餘熱不盡，皮膚乾燥。針入七分，得氣先瀉後補之，灸亦大良，可灸三壯。</p>
<p>12．肘髎：二穴在肘大骨外廉陷中。治肘節風痹，臂痛不可舉，屈伸攣急。可灸三壯，針入三分。</p>
<p>13．五里：二穴在肘上三寸，行向里大脈中央。治風勞，驚恐，吐血，肘臂痛，嗜臥，四肢不得動搖，寒熱，瘰癧，咳嗽，目視䀮䀮，痎瘧，心下脹滿。可灸十壯，禁不可針。</p>
<p>14．臂臑：二穴在肘上七寸䐃肉端，手陽明絡。治寒熱，頸項拘急，瘰癧，肩背痛不得舉。可灸三壯，針入三分。</p>

<h2>（三）手少陰心經</h2>
<p>（左右手及臂凡一十八穴）</p>
<p>1．少衝：二穴木也，一名經始，在小指內廉之端，去爪甲角如韭葉。手少陰脈之所出也，為井。治熱病煩滿，上氣，心痛，痰冷少氣，悲恐善驚，掌中熱，胸中痛，口中熱，咽中酸，乍寒乍熱，手攣不伸，引肘腋痛。針一分，可灸三壯。</p>
<p>2．少府：二穴火也，在小指本節後陷中，直勞宮。手少陰脈之所流也，為滎。治煩滿少氣，悲恐畏人，掌中熱，肘腋攣急，胸中痛，手卷不伸。針入二分，可灸七壯。</p>
<p>3．神門：二穴土也，一名兌沖，在掌後銳骨之端陷中。手少陰脈之所注也，為腧。治瘧心煩，心煩甚欲得飲冷，惡寒則欲處溫中，咽乾，不嗜食，心痛，數噫，恐悸，少氣不足，手臂寒，喘逆，身熱，狂悲哭，嘔血，上氣，遺溺，大小人五癇。可灸七壯，炷如小麥大，針入三分，留七呼。</p>
<p>4．陰郄：二穴在掌後動脈中，去腕五分。治失喑不能言，灑淅振寒，厥逆心痛，霍亂，胸中滿，衄血，驚恐。針入三分，可灸七壯。</p>
<p>5.通里：二穴在腕後一寸。治熱病卒心中懊憹，數欠頻伸，悲恐，目眩，頭痛，面赤而熱，心悸，肘臂臑痛，實則支腫，虛則不能言，苦嘔，喉痹，少氣，遺溺。針入三分，可灸三壯。</p>
<p>6．靈道：二穴金也，去掌後一寸五分或一寸。手少陰脈之所行也，為經。治心痛悲恐，相引瘛瘲，肘攣，暴喑不能言。可灸三壯，針入三分。</p>
<p>7．少海：二穴水也，一名曲節，在肘內廉節後。又云肘內大骨外去肘端五分。手少陰脈之所入也，為合。治寒熱，齒齲痛，目眩，發狂，嘔吐涎沫，項不得回顧，肘攣，腋脅下痛，四肢不得舉，針入三分，可灸三壯。甄權云：屈手向頭取之。治齒寒。腦風頭痛。不宜灸，針入五分。</p>
<p>8．青靈：二穴在肘上三寸，舉臂取之。治肩臂不舉，不能帶衣，頭痛，振寒，目黃，脅痛。可灸七壯。</p>
<p>9.極泉：二穴在腋下筋間動脈入胸。治心痛，乾嘔，四肢不收，咽乾煩渴，臂肘厥寒，目黃，脅下滿痛。可灸七壯，針入三分。</p>

<h2>（四）手太陽小腸經</h2>
<p>（左右及臂凡一十六穴）</p>
<p>1．少澤：二穴金也，一名小吉，在手小指之端，去爪甲下一分陷中。手太陽脈之所出也，為井。治瘧，寒熱，汗不出，喉痹，舌強，口乾，心煩，臂痛，瘛瘲，咳嗽，頸項急不可顧，目生膚翳覆瞳子。可灸一壯，針一分。</p>
<p>2．前谷：二穴水也，在手小指外側本節之前陷中。手太陽脈之所流也，為滎。治熱病汗不出，痎瘧，癲疾，耳鳴，頷腫，喉痹，咳嗽，衄血，頸項痛，鼻塞不利，目中白翳，臂不得舉。可灸一壯，針入一分。</p>
<p>3．後谿：二穴木也，在手小指外側本節後陷中。手太陽脈之所注也，為腧。治瘧寒熱，目赤生翳，鼻衄，耳聾，胸滿，頸項強不得回顧，癲疾，臂肘攣急。可灸一壯，針入一分。</p>
<p>4．腕骨：二穴在手外側，腕前起骨下陷中。手太陽脈之所過也，為原。治熱病汗不出，脅下痛，不得息，頸頷腫，寒熱，耳鳴，目冷淚生翳，狂惕，偏枯，臂肘不得屈伸，痎瘧，頭痛，煩悶，驚風瘛瘲，五指掣。可灸三壯，針入二分，留三呼。</p>
<p>5．陽谷：二穴火也，在手外側腕中，兌骨之下陷中。手太陽脈之所行也，為經。治癲疾狂走，熱病汗不出，脅痛，頸頷腫，寒熱，耳聾耳鳴，齒齲痛，臂腕外側痛不舉，妄言左右顧，瘛瘲，目眩。可灸三壯，針入二分，留二呼。</p>
<p>6．養老：二穴在手踝骨上一空，腕後一寸陷中，手太陽郄。治肩欲折，臂如拔，手臂疼不能自上下，目視不明。可灸三壯，針入三分。</p>
<p>7．支正：二穴在腕後五寸，別走少陰。治寒熱，頷腫，肘攣，頭痛目眩，風虛，驚恐狂惕，生肬目。可灸三壯，針入三分。</p>
<p>8．小海：二穴土也，在肘內大骨外，去肘端五分陷中。甄權云：以屈手向頭取之。手大陽脈之所入也，為合。治寒熱，齒齦腫，風眩，頸項痛，瘍腫，振寒，肘腋腫，少腹痛，四肢不舉。可灸三壯，針入二分。</p>

<h2>（五）手厥陰心主脈</h2>
<p>（左右手及臂凡一十六穴〕</p>
<p>1．中衝：二穴木也，在手中指端，去爪甲如韭葉陷中。手厥陰心主脈之所出也，為井。治熱病煩悶，汗不出，掌中熱，身如火痛，煩滿，舌強。針入一分。</p>
<p>2．勞宮：二穴火也，在掌中央動脈中，以屈無名指取之。手厥陰脈之所流也，為滎。治中風，善怒，悲笑不休，手痹，熱病三日汗不出，怵惕，胸脅痛不可轉側，大小便血、衄血不止，氣逆嘔噦，煩渴，食飲不下，大小人口中腥臭，胸脅支滿。黃疸目黃，可灸三壯。</p>
<p>3．大陵：二穴土也，在掌後兩筋間陷中。手厥陰脈之所注也，為腧。治熱病汗不出，臂攣腋腫，善笑不休，心懸如飢，喜悲泣、驚恐，目赤，小便如血，嘔逆，狂言不樂，喉痹，口乾，身熱，頭痛，短氣，胸脅痛。針入五分，可灸三壯。</p>
<p>4．內關：二穴在掌後去腕二寸，別走少陽。治目赤，支滿，中風，肘攣，實則心暴痛，虛則心煩惕惕。針入五分，可灸三壯。</p>
<p>5．間使：二穴金也，在掌後三寸兩筋間陷中。手厥陰脈之所行也，為經。治心懸如飢，卒狂，胸中澹澹，惡風寒，嘔吐，怵惕，寒中，少氣，掌中熱，腋腫肘攣，卒心痛，多驚，喑不得語，咽中如鯁。可灸五壯，針入三分。岐伯云：可灸鬼邪。</p>
<p>6．郄門：二穴去腕五寸，手厥陰郄。治心痛，衄血，嘔噦，驚恐畏人，神氣不足。針入三分，可灸五壯。</p>
<p>7．曲澤：二穴水也，在肘內廉陷中，屈肘取之。手厥陰脈之所入也，為合。治心痛善驚，身熱煩渴口乾，逆氣嘔血，風疹，臂肘手腕善動搖。可灸三壯，針入三分，留七呼。</p>
<p>8．天泉：二穴，一名天濕，在曲腋下二寸，舉臂取之。治心病，胸脅支滿，咳逆，膺背胛間臂內廉痛。針入六分，可灸三壯。</p>

<h2>（六）手少陽三焦經</h2>
<p>（左右手及臂凡二十四穴）</p>
<p>1．關衝：二穴金也，在手小指次指之端，去爪甲角如韭葉。手少陽脈之所出也，為井。治喉痹，舌卷，口乾，頭痛，霍亂，胸中氣噎，不嗜食，臂肘痛不可舉，目生翳膜，視物不明。針入一分，可灸一壯，慎豬、魚、酒、麥、生冷之物。</p>
<p>2．液門：二穴水也，在手小指次指間陷中。手少陽脈之所流也，為滎。治驚悸妄言，咽外腫，寒厥，手臂痛不能自上下，痎瘧，寒熱，目眩，頭痛，暴得耳聾，目赤澀，齒齲痛。針入二分，可灸三壯。</p>
<p>3．中渚：二穴木也，在手小指次指本節後間陷中。手少陽脈之所注也，為腧。治熱病汗不出，目眩，頭痛，耳聾，目生翳膜，久瘧，咽腫，肘臂痛，手五指不得屈伸。針入一分，可灸三壯。</p>
<p>4．陽池：二穴，一名別陽，在手表腕上陷中。手少陽脈之所過也，為原。治寒熱瘧，或因折傷手腕，捉物不得，肩背痛不得舉。針入二分，留三呼，不可灸，慎生冷物等。</p>
<p>5．外關：二穴手少陽絡，在腕後二寸陷中。治肘臂不得屈伸，手五指盡痛，不能握物，耳聾無所聞。可灸三壯，針入三分，留七呼。</p>
<p>6．支溝：二穴火也，在腕後三寸兩骨之間陷中。手少陽脈之所行也，為經。治熱病汗不出，肩臂酸腫，脅腋痛，四肢不舉，霍亂，嘔吐，口噤不開，暴啞不能言。可灸二十七壯，針入二分，慎酒、麥、生冷豬魚物。</p>
<p>7．會宗：二穴在腕後三寸，空中一寸。治肌膚痛，耳聾，風癇。針入三分，可灸三壯。</p>
<p>8．三陽絡：二穴在臂上大交脈，支溝上一寸。治嗜臥，身體不欲動，耳卒聾，齒齲，暴啞不能言，可灸七壯，切記不可針。</p>
<p>9．四瀆：二穴在肘前五寸外廉陷中。治暴氣耳聾，齒齲痛。可灸三壯，針入六分，留七呼。</p>
<p>10．天井：二穴土也，在肘外大骨後，肘後上一寸兩筋間陷中，屈肘得之。手少陽脈之所入也，為合。甄權云：曲肘後一寸，叉手按膝頭，取之兩筋骨罅。治心胸痛。咳嗽上氣，唾膿，不嗜食，驚悸，瘛瘲，風痹，臂肘痛，捉物不得。可灸三壯，針入三分，慎如常法。</p>
<p>11．清冷淵：二穴在肘上二寸，伸肘舉臂取之。治臑縱肩臂不舉，不得帶衣。可灸三壯，針入三分。</p>
<p>12．消濼：二穴在肩下臂外腋，斜肘分下行。治寒熱，風痹，項痛，肩背急。針入六分，可灸三壯。</p>

<h2>（七）足厥陰肝經</h2>
<p>（左右足及股凡二十二穴）</p>
<p>1．大敦：二穴木也，在足大指端，去爪甲如韭葉及三毛中。足厥陰脈之所出也，為井。治卒疝，小便數，遺溺，陰頭中痛，心痛，汗出，陰上入腹，陰偏大腹，臍中痛，悒悒不樂，病左取右，右取左。腹脹腫滿，少腹痛，中熱，喜寐，屍蹶狀如死，婦人血崩不止，可灸三壯，針入三分，留六呼。</p>
<p>2．行間：二穴火也，在足大指間動脈應手陷中。足厥陰脈之所流也，為滎。治溺難，又曰濁，寒疝，少腹腫，咳逆，嘔血，腰痛不可俯仰，腹中脹，心痛，色蒼蒼如死狀，終日不得息，口喎，四肢逆冷，嗌乾煩渴，瞑不欲視，目中淚出，太息，癲疾，短氣。可灸三壯，針入六分，留十呼。</p>
<p>3．太衝：二穴土也，在足大指本節後二寸，或一寸半陷中。今附凡診大沖脈，可訣男子病死生。足厥陰脈之所注也，為腧。治腰引少腹痛，小便不利狀如淋，㿉疝，少腹腫，溏泄，遺溺，陰痛，面目蒼色，胸脅支滿，足寒，大便難，嘔血，女子漏血不止，小兒卒疝，嘔逆，發寒，嗌乾，肘腫，內踝前痛，淫濼䯒酸，腋下腫，馬刀瘍瘻，唇腫。針入三分，留十呼，可灸三壯。</p>
<p>4．中封：二穴金也，在足內踝前一寸，仰足取之陷中，伸足乃得之。足厥陰脈之所行也，為經。治痎瘧，色蒼蒼，振寒，少腹腫，食怏怏，繞臍痛，足逆冷，不嗜食，身體不仁，寒疝引腰中痛，或身微熱。針入四分，留七呼，可灸三壯。</p>
<p>5．蠡溝：二穴在足內踝上五寸，別走少陽、足厥陰絡。治卒疝，少腹腫時少腹暴痛，小便不利如癃閉，數噫，恐悸，少氣不足，腹中痛，悒悒不樂，咽中悶如有息肉狀，背拘急不可俯仰。針入二分，留三呼，可灸三壯。</p>
<p>6．中都：二穴，一名中郄，在內踝上七寸䯒骨中，與少陰相值。治腸澼，㿉疝，少腹痛，婦人崩中，因產惡露不絕。針入三分，可灸五壯。</p>
<p>7．膝關：二穴在犢鼻下二寸陷中。治風痹，膝內痛引臏不可屈伸，喉咽中痛。針入四分，可灸五壯。</p>
<p>8．曲泉：二穴水也，在膝內輔骨下，大筋上小筋下陷中，屈膝取之。足厥陰脈之所入也，為合。治女子血瘕，按之如湯浸股內，少腹腫，陰挺出，丈夫㿉疝，陰股痛，小便難，腹脅支滿，癃閉，少氣，泄利，四肢不舉，實即身熱，目眩痛，汗不出，目䀮䀮，膝痛，筋攣不可屈伸，發狂，衄血，喘呼，少腹痛引喉咽。針入六分，灸三壯。又云：正膝屈內外兩筋間宛宛中，又在膝曲橫紋頭。治風勞，失精，身體極痛，泄水，下利膿血，陰腫，䯒痛。可灸三壯，針入六分，留十呼。</p>
<p>9．陰包：二穴在膝上四寸，股內廉兩筋間，足厥陰別走。治腰尻引中腹痛，遺溺不禁。針入六分，可灸三壯。</p>
<p>10．五里：二穴在氣衝下三寸，陰股中動脈。治腸中滿、熱閉不得溺。可灸五壯，針入六分。</p>
<p>11．陰廉：二穴在羊矢下，去氣衝二寸動脈中。治婦人絕產若未經生產者。可灸三壯，即有子。針入八分，留七呼。</p>

<h2>（八）足少陽膽經</h2>
<p>（左右足及股凡二十八穴）</p>
<p>1．竅陰：二穴金也，在足小指次指之端，去爪甲如韭葉。足少陽脈之所出也，為井。治脅痛，咳逆不得息，手足煩熱汗不出，轉筋，癰疽，頭痛，心煩，喉痹，舌強，口乾，肘不可舉，卒聾不聞人語。可灸三壯，針入一分。</p>
<p>2．俠谿：二穴水也，在足小指次指岐骨間本節前陷中。足少陽脈之所流也，為滎。治胸脅支滿，寒熱汗不出，目外眥赤，目眩，頰頷腫，耳聾，胸中痛不可轉側，痛無常處。可灸三壯，針入三分。</p>
<p>3．地五會：二穴在足小指次指本節後陷中，去俠谿一寸。治內傷唾血，足外皮膚不澤，乳腫。針入二分，不可灸，灸則使羸瘦，不出三年卒。</p>
<p>4．臨泣：二穴木也，在足小指次指本節後間陷中，去俠谿一寸五分。足少陽脈之所注也，為腧。治胸中滿、缺盆中及腋下腫，馬刀瘍瘻、善齧頰、天牖中腫，淫濼䯒酸，目眩，枕骨合顱痛，灑淅振寒，婦人月事不利，季脅支滿，乳癰，胸痛，周痹痛無常處，厥逆氣喘不能行，痎瘧日發。可灸三壯，針入二分。</p>
<p>5．丘墟：二穴在足外踝下，如前陷中，去臨泣三寸。足少陽脈之所過也，為原。治胸脅滿痛不得息，久瘧，振寒，腋下腫，痿厥坐不能起，髀樞中痛，目生翳膜，腿䯒酸，轉筋，卒疝，少腹堅，寒熱，頸腫。可灸三壯，針入五分，留七呼。</p>
<p>6．懸鐘：二穴在足外踝上三寸動脈中，足三陽之大絡，按之陽明脈絕乃取之。治心腹脹滿，胃中熱不嗜食，膝䯒痛，筋攣，足不收履，坐不能起。可灸五壯，針入六分，留七呼。</p>
<p>7．陽輔：二穴火也，在足外踝上四寸，輔骨前絕骨端。如前三分，去丘墟七寸。足少陽脈之所行也，為經。治腰溶溶如坐水中，膝下膚腫，筋攣，諸節盡痛，痛無常處，腋下腫瘻，馬刀喉痹，膝䯒酸，風痹不仁。可灸三壯，針入五分，留七呼。</p>
<p>8．光明：二穴在足外踝上五寸，別走厥陰，足少陽終。治身解寒，淫濼䯒酸，不能久立，與陽輔療病法同。熱病汗不出，卒狂，虛則痿痹，坐不能起，實則足䯒熱膝痹，身體不仁，善齧頰。可灸五壯，針入六分，留七呼。</p>
<p>9．外丘：二穴在足外踝上七寸，少陽所生。治膚痛，痿痹，胸脅脹滿，頸項痛，惡風寒，癲疾。針入三分，可灸三壯。今附狾犬所傷，毒不出，發寒熱，速以三壯。又可灸所齧之處，立愈。</p>
<p>10．陽交：二穴，一名別陽，陽維郄，在足外踝上七寸，斜屬三陽分肉之間。治寒厥，驚狂，喉痹，胸滿，面腫，寒痹，膝䯒不收。灸之三壯，針入六分，留七呼。</p>
<p>11．陽陵泉：二穴土也，在膝下一寸，外廉陷中。足少陽脈之所入也，為合。針入六分，得氣即瀉。又宜灸留針為要也。治膝伸不得屈，冷痹，腳不仁，偏風，半身不遂，腳冷無血色。又以蹲坐取之，灸亦良，日可灸七壯至十七壯即止。</p>
<p>12．陽關：二穴在陽陵泉上三寸，犢鼻外陷中。治膝外痛不可屈伸，風痹不仁。針入五分，不可灸。</p>
<p>13．中瀆：二穴在髀骨外膝上五寸，分肉間陷中，足少陽絡。治寒氣入於分肉之間，痛攻上下，筋痹不仁。可灸五壯。針入五分，留七呼。</p>
<p>14．環跳：二穴在髀樞中，側臥伸下足，屈上足取之。治冷風，溫痹，風疹，偏風，半身不遂，腰胯痛不得轉側。可灸五十壯，針入一寸，留十呼，忌熱面、豬、魚、生冷物等。</p>

<h2>（九）足太陰脾經</h2>
<p>（左右足及股凡二十二穴）</p>
<p>1．隱白：二穴木也，在足大指端內側，去爪甲角如韭葉。足太陰脈之所出也，為井。治腹脹喘滿，不得安臥，嘔吐食不下，暴泄，衄血，卒屍蹶不識人，足寒不能溫。針入三分。今附婦人月事過時不止，刺之立愈。</p>
<p>2．大都：二穴火也，在足大指本節後陷中。足太陰脈之所流也，為滎。治熱病汗不出，手足逆冷，腹滿善嘔，煩熱悶亂，吐逆，目弦。可灸三壯，針入三分。</p>
<p>3．太白：二穴土也，在足內側核骨下陷中。足太陰脈之所注也，為腧。治身熱煩滿，腹脹食不化，嘔吐，泄膿血，腰痛，大便難，氣逆霍亂，腹中切痛。可灸三壯，針入三分。</p>
<p>4．公孫：二穴在足大指本節後一寸，別走陽明、太陰絡。治寒瘧，不嗜食，卒面腫，煩心，狂言，腹虛脹如鼓。可灸三壯，針入四分。</p>
<p>5．商丘：二穴金也，在足內踝下微前陷中。足太陰脈之所行也，為經。治腹脹，腸中鳴不便，脾虛令人不樂，身寒，善太息，心悲氣逆，痔疾，骨疽蝕，絕子，魘夢。可灸三壯，針入三分。</p>
<p>6．三陰：二穴在內踝上三寸，骨下陷中，足太陰、厥陰、少陰之交會。治痃癖，腹中寒，膝股內痛，氣逆，小便不利，脾病身重，四肢不舉，腹脹腸鳴，溏泄，食不化，女子漏下不止。可灸三壯，針入三分。昔有宋太子性善醫術，出苑逢一懷娠婦人。太子診曰：是一女也。令徐文伯亦診之，此一男一女也。太子性急，欲剖視之。臣請針之，瀉足三陰交，補手陽明合谷，應針而落，果如文伯之言。故妊娠不可刺也。</p>
<p>7．漏谷：二穴，亦名太陰絡，在內踝上六寸骨下陷中。治痃癖冷氣，心腹脹滿，食飲不為肌膚，濕痹不能久立。針入三分。</p>
<p>8．地機：二穴，亦名脾舍，足太陰郄，別走上一寸空，在膝下五寸。治女子血瘕，按之如湯沃股內至膝，丈夫溏泄，腹脅氣脹，水腫腹堅，不嗜食，小便不利。可灸三壯，針入三分。</p>
<p>9．陰陵泉：二穴水也，在膝下內側輔骨下陷中，伸足取之。足太陰脈之所入也，為合。又曲膝取之。治腹中寒，不嗜食，膈下滿，水脹腹堅，喘逆不得臥，腰痛不得俯仰，霍亂，疝瘕，小便不和，氣淋，寒熱不節。針入五分。</p>
<p>10．血海：二穴在膝臏上內廉白肉際二寸中。治女子漏下惡血，月事不調，逆氣腹脹。可灸三壯，針五分。</p>
<p>11．箕門：二穴在魚腹上越筋間，動脈應手在陰股。《內經》一云在股上起筋間。治淋，遺溺，鼠鼷腫痛，小便不通。可灸三壯。</p>

<h2>（十）足陽明胃經</h2>
<p>（左右及股凡三十穴）</p>
<p>1.厲兌：二穴金也，在足大指次指之端，去爪甲如韭葉。足陽明脈之所出也，為井。治屍厥口噤氣絕，狀如中惡，心腹脹滿，熱病汗不出，寒熱瘧，不嗜食而腫，足胻寒，喉痹，齒齲，惡風，鼻不利，多驚好臥。針入一分，可灸一壯。</p>
<p>2．內庭：二穴水也，在足大指次指外間陷中。足陽明脈之所流也，為滎。治四肢厥逆，腹脹滿，數欠，惡聞人聲，振寒，咽中引痛，口喎，齒齲痛，瘧不嗜食。可灸三壯，針入三分。</p>
<p>3．陷谷：二穴木也，在足大指次指之間本節後陷中，去內庭二寸。足陽明脈之所注也，為腧。治面目浮腫及水病，善咽，腸鳴腹痛，熱病汗不出，振寒瘧疾。針入三分，留七呼，可灸三壯。</p>
<p>4．衝陽：二穴在足跗上，去陷谷三寸。足陽明脈之所過也，為原。治偏風，口眼喎斜，肘腫，齒齲痛，發寒熱，腹堅大，不嗜食，振寒，久狂登高而歌，棄衣而走，足緩履不收。針入五分，可灸三壯。</p>
<p>5．解谿：二穴火也，在衝陽後一寸五分，腕上陷中。足陽明脈之所行也，為經。治風面浮腫，顏黑。厥氣上衝，腹脹，大便下重，瘈驚，膝股胻腫，轉筋，目眩，頭痛，癲疾，煩心悲泣，霍亂、頭風，面目赤。針入五分，可灸三壯。</p>
<p>6．豐隆：二穴在外踝上八寸下廉，胻外廉陷中，別走太陰。治厥逆，胸痛如刺，腹中切痛，大小便難澀，厥頭痛，面浮腫，風逆，四肢腫，身濕，喉痹不能言。針入三分，可灸三壯。</p>
<p>7．下廉：二穴，一名下巨虛，在上廉下三寸，當舉足取穴。治少腹痛，飧泄，次指間痛，唇乾，涎出不覺，不得汗出，毛髮焦，脫肉少氣，胃中熱不嗜飲食，泄膿血，胸脅少腹痛，暴驚狂言非常，女子乳癰，喉痹，胻腫，足跗不收。針入八分，可灸三壯。</p>
<p>8．條口：二穴在下廉上一寸，舉足取之。治膝胻寒痠痛，足緩履不收，濕痹，足下熱。針入五分，可灸三壯。</p>
<p>9．上廉：二穴，一名上巨虛，在三里下三寸，當舉足取之。治飧泄，腹脅支滿，狂走，夾臍腹痛，食不化，喘息不能行。可灸三壯，針入三分。甄權云：治藏氣不足，偏風，腿腲手足不仁，可灸以年為壯。</p>
<p>10．三里：二穴土也，在膝下三寸，䯒外廉兩筋間，當舉足取之。足陽明脈之所入也，為合。治胃中寒，心腹脹滿，胃氣不足，聞食臭，腸鳴腹痛，食不化。秦承祖云：諸病皆治，食氣，水氣，蠱毒，痃癖，四肢腫滿，膝䯒痠痛，目不明。華池云：療五勞羸瘦，七傷虛乏。胸中瘀血，乳癰。《外臺》、《明堂》云：人年三十以上，若不灸三里，令氣上衝目。可灸三壯，針入五分。</p>
<p>11．犢鼻：二穴在膝臏下，䯒骨上，俠解大筋中。治膝中疼痛不仁，難跪起，膝臏臃腫，潰者不可治，不潰者可療。若犢鼻堅硬，勿便攻，先以洗熨，即微刺之愈。</p>
<p>12.梁丘：二穴在膝上二寸兩筋間。治大驚，乳痛，寒痹，膝不能屈伸。可灸三壯，針入三分。</p>
<p>13．陰市：二穴，一名陰鼎，在膝上三寸，伏兔下，若拜而取之。治寒疝，少腹痛，脹滿，腰已下伏兔上寒如注水。針入三分，不可灸。</p>
<p>14．伏兔：二穴在膝上六寸起肉，一本云膝蓋上七寸。治風勞氣逆，膝冷不得溫。針入五分，不可灸。</p>
<p>15．髀關：二穴在膝上伏兔後交分中。治膝寒不仁，痿厥，股內筋絡急。針入六分。</p>

<h2>（十一）足少陰腎經</h2>
<p>（左右足及股凡二十穴）</p>
<p>1．湧泉：二穴木也，一名地衝，在足心陷中，屈足卷指宛宛中。足少陰脈之所出也，為井。治腰痛，大便難，心中結熱，風疹，風癇，心痛，不嗜食，婦人無子，咳嗽身熱，喉痹，胸脅滿，目眩，男子如蠱，女子如妊娠，五指端盡痛，足不得踐地。可灸三壯，針入五分，無令出血。淳于意云：漢北齊王阿母患足下熱，喘滿。謂曰：熱厥也。當刺之足心，立愈。</p>
<p>2．然谷：二穴火也，一名龍淵，在足內踝前起大骨下陷中。足少陰脈之所流也，為滎。治咽內腫，心恐懼如人將捕，涎出喘呼少氣，足跗腫不得履地，寒疝。少腹脹，上搶胸脅，咳唾血，喉痹，淋瀝，女子不孕，男子精溢，䯒酸不能久立，足一寒一熱，舌縱，煩滿，消漏，初生小兒臍風口噤，痿厥，洞泄。可灸三壯，針入三分，不宜見血。</p>
<p>3．太谿：二穴土也，在足內踝後，跟骨上動脈陷中。足少陰脈之所注也，為腧。治久瘧咳逆，心痛如錐刺其心，手足寒至節，喘息者死。嘔吐，口中如膠，善噫，寒疝，熱病汗不出，默默嗜臥，溺黃消癉，大便難，咽腫唾血。今附痃癖，寒熱，咳嗽，不嗜食，腹脅痛，瘦脊，手足厥冷。可灸三壯，針入三分。</p>
<p>4．大鐘：二穴在足跟後沖中，走太陽，足少陰絡。治實則小便淋閉灑淅，腰脊強痛，大便秘澀，嗜臥，口中熱。虛則嘔逆多寒，欲閉戶而處，少氣不足，胸脹喘息，舌乾，咽中食噎不得下，善驚恐不樂，喉中鳴，咳唾血。可灸三壯，針入二分，留七呼。</p>
<p>5．水泉：二穴少陰郄，去太谿下一寸，在內踝下。治月事不來，來即多，心下悶痛，目䀮䀮不能遠視，陰挺出，小便淋瀝，腹中痛。可灸五壯，針入四分。</p>
<p>6．照海：二穴陰蹺脈所生，在足內踝下，治嗌乾，四肢懈惰，善悲不樂，久瘧，卒疝，少腹痛，嘔吐，嗜臥，大風偏枯，半身不遂，女子淋瀝，陰挺出。針入三分，可灸三壯。</p>
<p>7．復溜：二穴金也，一名昌陽，一名伏白，在足內踝上二寸陷中。足少陰脈之所行也，為經。治腰脊內引痛，不得俯仰起坐，目䀮䀮，善怒多言，舌乾，涎自出，足痿不收履，䯒寒不自溫，腹中雷鳴，腹脹如鼓，四肢腫，十水病，溺青赤黃白黑，青取井，赤取滎，黃取腧，白取經，黑取合，血痔，泄後腫，五淋，小便如散，大骨寒熱，汗注不止。可灸五壯，針入三分，留三呼。</p>
<p>8．交信：二穴在內踝上二寸，少陰前，太陰後廉前筋骨間，足陰蹺之郄。治氣淋，㿉疝，陰急，股引腨內廉骨痛，又泄利赤白，女子漏血不止。可灸三壯，針入四分，留五呼。</p>
<p>9．築賓：二穴在內踝上，腨分中。治小兒胎疝，痛不得乳，癲疾狂言，嘔吐沫，足腨痛。可灸五壯，針入三分。</p>
<p>10．陰谷：二穴，水也。在膝內輔骨後，大筋下，小筋上，按之應手，屈膝乃取之。足少陰脈之所入也，為合。治膝痛如離，不得屈伸，舌縱涎下，煩逆溺難，少腹急引陰痛，股內廉痛，婦人漏血不止，腹脹滿不得息，小便黃，男子如蠱，女子如妊娠。可灸三壯，針入四分，留七呼。</p>

<h2>（十二）足太陽膀胱經</h2>
<p>（左右足凡三十六穴）</p>
<p>1．至陰：二穴，金也。在足小指外側，去爪甲角如韭葉。足太陽脈之所出也，為井。治目生翳，鼻塞頭重，風寒從足小指起，脈痹上下帶胸脅痛無常，轉筋，寒瘧，汗不出，煩心，足下熱，小便不利，失精。針入二分，可灸三壯。</p>
<p>2．通谷：二穴，水也。在足小指外側本節前陷中。足太陽脈之所流也，為滎。治頭重目眩，善驚，引鼽衄，頸項痛，目䀮䀮。甄權云：結積留飲，胸滿，食不化。可灸三壯，針入二分。</p>
<p>3．束骨：二穴，木也。在足小指本節後陷中。足太陽脈之所注也，為腧。治腰如折，腨如結，耳聾，惡風寒，目眩，項不可回顧，目內眥赤爛。可灸三壯，針三分。</p>
<p>4．京骨：二穴，在足外側大骨下，赤白肉際陷中。足太陽脈之所過也，為原。治膝痛不得屈伸，目內眥赤爛，發瘧，寒熱，善驚，不欲食，筋攣，足䯒酸，髀樞痛，頸項強，腰背不可俯仰，鼽衄血不止，目眩。針入三分，可灸七壯。</p>
<p>5．申脈：二穴，陽蹺脈所出，在外踝下陷中，容爪甲，白肉際。治腰痛不能舉體，足䯒寒，不能久立坐，若下舟車中，痛疾。針入三分。</p>
<p>6．金門：二穴，一名梁關。在足外踝下，足太陽郄，陽維所別屬也。治霍亂，轉筋，膝䯒酸，身戰不能久立，癲癇屍厥，暴疝，小兒發癇，張口搖頭，身反折。可灸三壯，炷如小麥大，針入一分。</p>
<p>7．僕參：二穴，一名安邪。在跟骨下陷中，拱足得之。治足跟痛不得履地，腳痿，轉筋，屍厥如中惡狀，霍亂吐逆，癲癇，狂言見鬼。針入三分，可灸七壯。</p>
<p>8．崑崙：二穴，火也。在足外踝後，跟骨上陷中。足太陽脈之所行也，為經。治腰尻痛，足端腫不得履地，鼽衄，腳如結，踝如裂，頭痛，肩背拘急，咳喘，暴滿，陰腫痛，小兒發癇瘛瘲。炷如小麥大，可灸三壯，針入三分。</p>
<p>9.付陽：二穴在足外踝上三寸，太陽前，少陽後筋骨間。陽蹺之郄，治痿厥風痹，頭重䪼痛，髀樞股䯒痛，瘛瘲，風痹不仁，時有寒慄，四肢不舉。可灸三壯，針入五分，留七呼。</p>
<p>10．飛揚：二穴，一名厥陰，足太陽絡，別走少陰。在外踝上七寸。治野雞痔，歷節風，足指不得屈伸，頭目眩，逆氣，鼽衄癲疾，寒瘧。可灸三壯，針入三分。</p>
<p>11．承山：二穴，一名魚腹，一名肉柱。在兌腨腸下分肉之間陷中。治腰背痛，腳腨重，戰慄不能立，腳氣，膝下腫，霍亂轉筋，大便難，久痔腫痛。可灸五壯，針入七分。</p>
<p>12．承筋：二穴，一名腨腸，一名直腸。在腨腸中央陷中。治寒痹轉筋，肢腫，大便難，腳腨酸重引少腹痛，鼻鼽衄，腰背拘急，霍亂。可灸三壯，禁針。</p>
<p>13．合陽：二穴在膝約中央下二寸。治腰脊強引腹痛，陰股熱，膝酸痠重履步難，寒疝，陰遍痛，女子崩中。針入六分，可灸五壯。</p>
<p>14．委中：二穴，土也。在膕中央約紋動脈陷中。足太陽脈之所入也，為合。治腰俠脊沉沉然，遺溺，腰重不能舉體，風痹，髀樞痛，可出血，痼疹皆愈。今附：委中者，血郄也。熱病汗不出，足熱，厥逆滿，膝不得屈伸，取其經血立愈。</p>
<p>15．委陽：二穴，三焦下輔腧也。在足太陽之後，出於膕中外廉兩筋間，屈伸取之，承扶下六寸，足太陽脈之中。治腋下腫痛，胸滿膨膨，筋急身熱，飛屍遁注，痿厥不仁，小便淋瀝。可灸三壯，針入七分。</p>
<p>16．浮郄：二穴在委陽上一寸，展膝得之。治小腸熱，大腸結，股外經筋急，髀樞不仁，可灸三壯，針入五分。</p>
<p>17．殷門：二穴在肉郄下六寸。治腰脊不可俯仰舉重，惡血注之，股外腫。針入七分。</p>
<p>18．承扶：二穴，一名肉郄，一名陰關，一名皮部。在尻臀下，股陰衝上紋中。治腰脊相引如解，久痔，尻睢腫，大便難，陰胞有寒，小便不利。針入七分。</p>

<h1>十、頭面偃伏正側各部各經穴主治病症</h1>

<h2>（一）偃伏頭部中行</h2>
<p>（凡一十穴）</p>
<p>1．神庭：一穴在鼻直，入髮際五分。督脈、足太陽陽明三脈之會。治癲疾風癇，戴目上不識人，頭風目眩，鼻出清涕不止，目淚出，驚悸不得安寢。可灸二七壯，至七七壯止。岐伯曰：凡欲療風，勿令灸多，緣風性輕，多即傷。惟宜灸七壯至三七壯止，禁不可針，針即發狂，忌生冷、雞、豬、酒、面、動風物等。</p>
<p>2．上星：一穴在鼻直上，入髮際一寸陷中，督脈氣所發。治頭風，面虛腫，鼻塞不聞香臭，目眩，痰瘧振寒，熱病汗不出，目睛痛不能遠視。以細三稜針刺之，即宣泄諸陽熱氣，無令上衝頭目。可灸七壯，不宜多灸。若頻灸，即拔氣上，令人目不明，忌如前法。</p>
<p>3．囟會：一穴在上星後一寸陷中，可容豆，督脈氣所發。治目眩，面腫，鼻塞不聞香臭，驚癇，戴目上不識人。可灸二七壯，至七七壯。初灸即不痛，病去即痛，痛即罷灸。若是鼻塞，灸至四日漸退，七日頓愈。針入二分，留三呼，得氣即瀉。頭風，生白屑，多睡，針之彌佳。針訖，以末鹽、生麻油相和揩髮根下，頭風即永除。若八歲以下，即不得針。蓋緣囟門未合，刺之不幸令人夭。忌熱面、豬、魚物等。</p>
<p>4．前頂：一穴在囟會後一寸五分骨陷中，督脈氣所發。據甄權《針經》云是一寸，今即依《素問》一寸五分為定。療頭風目眩，面赤腫，小兒驚癇，風癇瘛瘲，發即無時，鼻多清涕，頂腫痛。針入一分，可灸三壯，至七七壯即止，忌如前法。</p>
<p>5．百會：一穴，一名三陽五會。在前頂後一寸五分，頂中央旋毛中，可容豆。督脈、足太陽交會於巔上。治小兒脫肛久不瘥，風癇中風，角弓反張，或多哭，言語不擇，發即無時，盛則吐沫，心煩驚悸，健忘痎瘧，耳鳴耳聾，鼻塞不聞香臭。針入二分，得氣即瀉。可灸七壯，至七七壯即止。唐秦鳴鶴刺微出血，頭痛立愈。凡灸頭頂，不得過七七壯，緣頭頂皮膚淺薄，灸不宜多。</p>
<p>6．後頂：一穴，一名交沖。在百會後一寸五分，枕骨上，督脈氣所發。治目䀮䀮，頸項惡風寒，目眩，頭偏痛。可灸五壯，針入三分。</p>
<p>7．強間：一穴，一名大羽。在後頂後一寸五分，督脈氣所發。治腦旋目暈，頭痛不可忍，煩心，嘔吐涎沫，發即無時，頸項強左右不得回顧。可灸七壯，針入二分。</p>
<p>8．腦戶：一穴，一名合顱。在枕骨上，強間後一寸五分，督脈、足太陽之會。禁不可針，針之令人啞不能言。治目睛痛不能遠視，面赤目黃頭腫。可灸七壯，亦不可妄灸，令人失喑。</p>
<p>9．風府：一穴，一名舌本。在項髮際上一寸，大筋內宛宛中，疾言其肉立起，言休立下，督脈、陽維之會。禁不可灸，不幸使人失喑。治頭痛頸急不得回顧，目眩鼻衄，喉咽痛，狂走目妄視。針入三分。</p>
<p>10．啞門：一穴，一作「喑」，一名舌橫，一名舌厭，在項中央，入髮際五分宛宛中，督脈、陽維之會，入系舌本，仰頭取之。禁不可灸，灸之令人啞。治頸項強，舌緩不能言，諸陽熱氣盛，鼻衄血不止，頭痛，風汗不出，寒熱，風痙脊強反折，瘛瘲癲疾，頭重。針入二分。</p>

<h2>（二）偃伏頭部第二行</h2>
<p>（左右凡一十四穴）</p>
<p>1．曲差：二穴在神庭傍一寸五分，入髮際，足太陽脈氣所發。治心中煩滿汗不出，頭頂痛，身體煩熱，目視不明。針入二分，可灸三壯。</p>
<p>2．五處：二穴在上星旁一寸五分，足太陽脈氣所發。治目不明，頭風目眩，瘛瘲，目戴上不識人。針入三分，留七呼，可灸三壯。</p>
<p>3．承光：二穴在五處後一寸五分，足太陽脈氣所發，治鼻塞不聞香臭，口喎，鼻多清涕，風眩頭痛，嘔吐心煩，目生白膜。針入三分，禁不可灸，忌如前法。</p>
<p>4．通天：二穴在承光後一寸五分，足太陽脈氣所發。治頸項轉側難，鼻塞悶，偏風口喎，鼻多清涕，衄血頭重。針入三分，留七呼，可灸三壯。</p>
<p>5．絡卻：二穴，一名強陽，又名腦蓋。在通天後一寸五分，足太陽脈氣所發。治青風內障，目無所見，頭旋耳鳴。可灸三壯。</p>
<p>6．玉枕：二穴在絡卻後一寸五分，俠腦戶旁一寸三分，起肉枕骨，入髮際上三寸，足太陽脈氣所發。治目痛不能視，腦風疼痛不可忍者。可灸三壯。</p>
<p>7．天柱：二穴俠項後髮際，大筋外廉陷中，足太陽脈氣所發，治足不任身體，肩背痛欲折，目瞑視。今附：治頸項筋急不得回顧，頭旋腦痛。針入五分，得氣即瀉立愈。</p>

<h2>（三）偃伏頭部第三行</h2>
<p>（左右凡一十二穴）</p>
<p>1．臨泣：二穴在目上，直入髮際五分陷中，足太陽、少陽之會。治卒中風不識人，目眩鼻塞，目生白翳多淚。針入三分，留七呼，得氣即瀉，忌如前法。</p>
<p>2．目窗：二穴在臨泣後一寸五分，足少陽、陽維之會。治頭面浮腫痛，引目外眥赤痛。忽頭旋，目䀮䀮遠視不明。針入三分，可灸五壯。今附三度刺目大明。</p>
<p>3．正營：二穴在目窗後一寸，足少陽、陽維之會。治牙齒痛，唇吻急強，齒齲痛，頭項偏痛。針入三分，可灸五壯。</p>
<p>4．承靈：二穴在正營後一寸五分，足少陽、陽維之會。治腦風頭疼，惡風寒，鼽鼻塞，息不利。可灸三壯。</p>
<p>5．腦空：二穴，一名顳顬。在承靈後一寸五分，俠玉枕骨下陷中，足少陽、陽維之會。治腦風頭痛不可忍，目瞑心悸，發即為癲風，引目眇，勞疾羸瘦，體熱，頸項強不得回顧。針入五分，得氣即瀉，可灸三壯。魏公苦患頭風，發即心悶亂目眩，華佗當針而立愈。忌如前法。</p>
<p>6.風池：二穴在顳顬後，髮際陷中，足少陽、陽維之會。治灑淅寒熱，溫病汗不出，目眩，苦頭痛，痎瘧，頸項痛不得回顧，目淚出，欠氣，多鼻鼽衄，目內眥赤痛，氣發耳塞目不明，腰傴僂，引項筋無力不收。針入七分，留七呼，可灸七壯。</p>

<h2>（四）側頭部</h2>
<p>（左右凡二十六穴）</p>
<p>1．頷厭：二穴在曲周下，顳顬上廉，手足少陽、陽明之交會。治頭風眩，目無所見，偏頭痛，引目眥急，耳鳴多嚏，頸項痛。針入七分，留七呼，可灸三壯。忌如前法。</p>
<p>2．懸顱：二穴在曲周上，顳顬中，足少陽脈氣所發。治熱病煩滿汗不出，頭偏痛，引目外眥赤，身熱齒痛，面膚赤痛。針入三分，留三呼，可灸三壯。忌如前。</p>
<p>3．懸釐：二穴在曲周上，顳顬下廉，手足少陽、陽明之交會。治熱病汗不出，頭偏痛，煩心不欲食，目銳眥赤痛。針入三分，可灸三壯。</p>
<p>4．天衝：二穴在耳上如前三分。治頭痛，癲疾風痙，牙齦腫，善驚恐。可灸七壯，針入三分。</p>
<p>5．率谷：二穴在耳上，入髮際一寸五分，足太陽、少陽之會。治膈胃寒痰，傷酒，風發腦兩角強痛，不能飲食，煩滿嘔吐不止。可灸三壯，針入三分。</p>
<p>6．曲鬢：二穴在耳上髮際曲陷中，鼓頷有空，足太陽、少陽之會。治頰頷腫，引牙車不得開，急痛口噤不能言。灸亦良，可灸七壯，針入三分。</p>
<p>7．角孫：二穴在耳廓中間上，開口有空，手足少陽之會。治目生膚翳，齒齦腫。可灸三壯。明堂別無療病法。</p>
<p>8．竅陰：二穴在枕骨下，搖動有空，足太陽、少陽之會。治勞疸發厲，項痛引頭目痛。針入三分，可灸七壯。</p>
<p>9.浮白：二穴在耳後，入髮際一寸，足太陽、少陽之會。治發寒熱，喉痹，咳逆痰沫，胸中滿不得喘息，耳鳴䐜䐜無所聞，頸項癰腫及癭氣，肩背不舉，悉皆治之。針入五分，可灸七壯。</p>
<p>10．顱息：二穴在耳後間青絡脈，足少陽脈氣所發。治身熱頭重，脅痛不得轉側，風痙耳聾，小兒發癇瘛瘲，嘔吐涎沫，驚恐失精，瞻視不明。不宜針，即可灸七壯。</p>
<p>11．瘈脈：二穴，一名資脈。在耳本後雞足青絡脈。刺出血如豆汁，不宜出血多。治頭風耳鳴，小兒驚癇，瘛瘲，嘔吐，泄痢無時，驚恐眵瞢，目睛不明。可灸三壯，針入一分。</p>
<p>12．完骨：二穴在耳後。入髮際四分。治頭痛煩心，癲疾，頭面虛腫，齒齲，偏風，口眼喎斜，頸項痛不得回顧，小便赤黃，喉痹頰腫。針入五分，可灸七壯。</p>
<p>13．翳風：二穴，在耳後陷中，按之引耳中，手足少陽之會。治耳聾，口眼喎斜，失欠脫頷，口噤不開，吃不能言，頰腫，牙車急痛。針入七分，可灸七壯。</p>

<h2>（五）正面部中行（凡六穴）</h2>
<p>1．素髎：一穴，一名面正。在鼻柱之端，督脈所發，此穴諸方闕治療法。《外臺》云不宜灸。《千金》治鼻塞，瘜肉不消，多涕，生瘡。針入一分。</p>
<p>2．水溝：一穴，在鼻柱下，一名人中，督脈、手陽明之會。治消渴飲水無度，水氣遍身腫，失笑無時，癲癇語不識尊卑，乍喜乍哭，牙關不開，面腫唇動，狀如蟲行，卒中惡。針入四分，留五呼，得氣即瀉。灸亦得，然不及針。若灸，可小雀糞大為艾炷目，可穴三壯，至七壯即罷。風水面腫，針此一穴，出水盡，即頓愈。忌如前法。</p>
<p>3．兌端：一穴在唇上端。治癲疾吐沫，小便黃，舌乾消渴，衄血不止，唇吻強，齒齦痛。針入二分，可灸三壯，炷如大麥，出《千金》、《外臺》、《甲乙經》。</p>
<p>4．齦交：一穴在唇內齒上齦縫筋中。治面赤，心煩痛，頸項急不得回顧。新附：治小兒面瘡，癬久不除，點烙亦佳。鼻塞不利，目淚眵汁，內眥赤癢痛，生白膚翳，鼻中瘜肉，蝕瘡。針入三分，可灸三壯。</p>
<p>5．承漿：一穴，一名懸漿，在頤前唇下宛宛中，足陽明、任脈之會，療偏風口喎，面腫消渴，口齒疳蝕生瘡。灸亦佳，日可灸七壯至七七壯，止灸即血脈通宣，其風應時立愈。其艾炷不用大，一依小竹箸頭作炷。脈粗細狀如細線，艾炷破肉，但令當脈，灸亦能愈疾。凡灸臍下久冷疝瘕，痃癖氣塊，伏梁積氣，宜艾炷大。故《小品》諸方云：腹背宜灸五百壯，四肢則但去風邪，不宜多灸，七壯至七七壯止，不得過隨年數。如巨闕、鳩尾雖是胸腹之穴，灸不過七七壯，艾炷不須大，以竹箸頭作炷，正當脈上灸之。若灸胸腹，艾炷大灸多，令人永無心力；如頭頂穴若灸多，令人失精神；臂腳穴灸多，令人血脈枯竭，四肢細瘦無力。既復失精神，又加於細瘦，即脫人真氣。針入三分，得氣即瀉。忌如前法。</p>
<p>6．廉泉：一穴，一名舌本，在頷下結喉上，陰維、任脈之會。治舌下腫難言，舌縱涎出，咳嗽，上氣喘息，嘔沫口噤，舌根急縮，下食難。可灸三壯，針入三分，得氣即瀉。</p>
<p>以上六穴，忌並如前法。</p>

<h2>（六）正面部第二行</h2>
<p>（左右凡一十穴）</p>
<p>1．攢作：二穴，一名始光，一名光明，一名員柱。在兩眉頭陷中，足太陽脈氣所發。治目䀮䀮視物不明，眼中赤痛及臉瞤動。針入一分，留三呼，瀉三吸，徐徐而出針。不宜灸，宜以細三稜針刺之，宣泄熱氣，三度針，目大明。忌如前法。</p>
<p>2．睛明：二穴，一名淚孔。在目內眥，手足太陽、少陽、足陽明五脈之會。治攀睛翳膜覆瞳子，惡風淚出，目內眥癢痛，小兒雀目疳眼，大人氣眼冷淚，䐴目視物不明，大眥胬肉侵睛。針入一寸五分，留三呼，禁不可灸。雀目者，宜可久留針，然後速出針。忌如前法。</p>
<p>3．巨髎：二穴俠鼻孔傍（一作旁）八分，直目瞳子，蹺脈、足陽明之會。治青盲目無所見，遠視䀮䀮，白翳覆瞳子面，風寒鼻塞，䪼上腫壅痛。瘛瘲口喎。針入三分，得氣而瀉。灸亦良可，灸七壯。</p>
<p>4．迎香：二穴在禾髎上一寸，鼻孔傍五分，手足陽明之會。治鼻有瘜肉，不聞香臭，衄血，偏風口喎，面癢浮腫，風動葉，葉狀如蟲行，或癢腫痛。針入三分，留三呼，不宜灸。忌如常法。</p>
<p>5．禾髎：二穴，在鼻孔下，俠水溝傍五分，手陽明脈氣所發。治鼻衄血不止，鼻清涕，生瘡，口噤不開。針入二分。</p>

<h2>（七）正面部第三行</h2>
<p>（左右凡一十穴）</p>
<p>1．陽白：二穴在眉上一寸，直目瞳子，足少陽、陽維之會。治頭目痛，目眵，背腠寒慄，重衣不得溫。可灸三壯，針入二分。</p>
<p>2．承泣：二穴在目下七分，直目瞳子陷中，蹺脈、任脈、足陽明之會。治口眼喎斜，目瞤，面葉葉動牽口眼，目視䀮䀮，冷淚，眼眥赤痛。禁不宜針，針之令人目烏色。可灸三壯，炷如大麥。忌如常法。</p>
<p>3．四白：二穴在目下一寸，足陽明脈氣所發。治頭痛目眩，眼生白翳，微風目瞤動不息。可灸七壯，針入三分。凡用針，穩審方得下針。若針深，即令人目烏色。</p>
<p>4．地倉：二穴俠口吻傍四分外，如近下有脈微微動，蹺脈、手陽明之交會。若久患風，其脈亦有不動者。治偏風口喎，目不得閉，失喑不語，飲食不收，水漿漏落，眼瞤動不止，病左治右，病右治左。針入三分，留五呼，得氣即瀉。灸亦得，日可灸二七壯，重者七七壯。其艾作炷，大小狀如粗釵腳大。灸炷若大，口轉喎卻，灸承漿七七壯即愈。慎豬、魚、熱面、房勞等。</p>
<p>5．大迎：二穴在曲頷前一寸二分，骨陷中動脈，又以口下當兩肩，足陽明脈氣所發。治寒熱頸痛，瘰癧口喎，齒齲痛，數欠氣，風痙口噤，牙疼，頰頷腫，惡寒，舌強不能言。針入三分，留七呼，可灸三壯。今附：風癕面浮腫，目不得閉，唇吻瞤動不止，當針之頓愈。</p>

<h2>（八）正面部第四行</h2>
<p>（左右凡八穴）</p>
<p>1．本神：二穴在曲差傍一寸五分，一曰直耳上入髮際四分，足少陽、陽維之會。治目眩，頸項強急痛，胸脅相引不得轉側，癲疾，嘔吐涎沫。針入三分，可灸七壯。</p>
<p>2．絲竹空：二穴，一名目髎。在眉後陷中，手少陽脈氣所發。禁不可灸，不幸使人目小，又令人目無所見。治目眩，頭痛目赤，視物眩眩，風癇，目戴上不識人，眼睫毛倒，發狂吐涎沫，發即無時。針入三分，留三呼，宜瀉不宜補。</p>
<p>3．瞳子髎：二穴在目外眥五分，手太陽、手足少陽之會，治青盲無所見，遠視䀮䀮，目中膚翳白膜，頭痛，目外眥赤痛。可灸三壯，針入三分。</p>
<p>4．顴髎：二穴在面頄骨下廉，銳骨端陷中，手少陽、太陽之會。治口喎面赤，目黃，眼瞤動不止，䪼腫齒痛。針入二分。</p>

<h2>（九）側面部</h2>
<p>（左右凡一十六穴）</p>
<p>1.頭維：二穴在額角入髮際，本神傍一寸五分，足少陽、陽明脈之交會。治頭偏痛，目視物不明。今附：治微風眼瞼瞤動不止，風淚出。針入三分，禁不可灸。</p>
<p>2．客主人：二穴，一名上關。在耳前，起骨上廉，開口有空，動脈宛宛中，足陽明、少陽之會。治唇吻強，耳聾，瘛瘲，口沫出，目眩，牙車不開，口噤，嚼食鳴，偏風，口眼喎斜，耳中狀如蟬聲。可灸七壯，艾炷不用大，箸頭作炷。若針必須側臥，張口取之乃得，禁不可針深。問曰：何以不得針深？岐伯曰：上關若刺深，令人欠而不得㰦，下關不得久留，針即㰦而不得欠，牙關急。是故上關不得刺深，下關不得久留針也。</p>
<p>3．下關：二穴在客主人下，耳前動脈下廉，合口有空，開口即閉，足陽明、少陽之會。療聤耳有膿汁出，偏風口目喎，牙關脫臼。其穴側臥，閉口取之，針入四分，得氣即瀉，禁不可灸。牙齦腫處，張口以三稜針出膿血，多含鹽湯即不畏風，慎如前法。</p>
<p>4．和髎：二穴在耳前銳發下橫動脈，手少陽脈氣所發。治牙車引急頭重痛，耳中嘈嘈，頷頰腫。針入七分，可灸三壯。</p>
<p>5．聽會：二穴在耳前陷中，上關下一寸，動脈宛宛中，張口得之，足少陽脈氣所發。治耳聾，耳中狀如蟬聲，通耳食，牙車脫臼相離一二寸。其穴側臥張口取之，針入七分，留三呼，得氣即瀉，不須補。灸亦良，日可灸五壯至二七壯止，十日後依前報灸之即愈。忌食動風、生冷、豬、魚物等。</p>
<p>6。耳門：二穴在耳前起肉，當耳缺者。治耳有膿汁出，生瘡，𤹀（都禮切，）耳聤，耳鳴，耳如蟬聲，重聽無所聞，齒齲。針入三分，留三呼，可灸三壯。</p>
<p>7．聽宮：二穴在耳中珠子大如赤小豆，手足少陽、太陽三脈之會。治耳聾如物填塞無所聞，耳中嘈嘈，心腹滿，臂痛，失聲。針入三分，可灸三壯。</p>
<p>8．頰車：二穴在耳下曲頰端陷中，足陽明脈氣所發。治牙關不開，口噤不語，失喑，牙車疼痛，頷頰腫，頸強不得回顧。其穴側臥開口取之，針入四分，得氣即瀉。灸亦良，日可灸七壯，至七七壯止，炷如大麥，慎如常法。</p>

<h1>十一、肩膊背腧各部各經穴主治病症</h1>

<h2>（一）肩膊部</h2>
<p>（左右凡二十六穴）</p>
<p>1．肩井：二穴在肩上陷，缺盆上，大骨前一寸半，以三指按取之，當中指下陷中者是。一名膊井，手足少陽、陽維之會。治五勞七傷，頸項不得回顧背膊間，兩手不得向頭，或因撲傷腰髖疼，腳氣上攻。《甲乙經》云：只可針入五分，此膊井足陽明之會，乃連入五臟氣。若刺深，則令人悶到不識人。即速須三里下氣，先補不瀉，須臾平復如故。凡針肩井，皆以三里下其氣。若婦人墮胎後，手足厥逆，針肩井立愈。若灸更勝針，可灸七壯。</p>
<p>2．天髎：二穴在肩缺盆中，上毖骨之際陷中央，手少陽、陽維之會。治肩肘痛引頸項急，寒熱，缺盆中痛，汗不出，胸中煩滿。針入八分，可灸三壯。</p>
<p>3．巨骨：二穴在肩端，上行兩叉骨間陷中，手陽明、蹺脈之會。治背膊痛，胸中有瘀血，肩臂不得屈伸而痛。灸五壯，針入一寸。</p>
<p>4．臑會：二穴，一名臑髎。肩前廉，去肩頭三寸，手陽明之絡。治項癭氣瘤，臂痛不能舉，氣腫痓痛。針入七分，留十呼，得氣即瀉，可灸七壯。</p>
<p>5．肩髃：二穴在肩端兩骨間，陷者宛宛中，舉臂取之，手陽明、蹺脈之會。療偏風，半身不遂，熱風癮疹，手臂攣急，捉物不得，挽弓不開，臂細無力，筋骨痠疼。可灸七壯至二七壯，以瘥為度。若灸偏風不遂，七七壯止，不宜多灸，恐手臂細。若風病筋骨無力，久不瘥，當灸，不畏細也。刺即泄肩臂熱氣。唐庫狄欽若患風痹，手臂不得伸引，諸醫莫能愈。甄權針肩髃二穴，令將弓箭向垛射之，如故。</p>
<p>6．肩髎：二穴在肩端臑上陷中，舉臂取之。治肩重不可舉臂肘。可灸三壯，針入七分。</p>
<p>7．肩貞：二穴在肩曲胛下兩骨解間，肩髃後陷中。治風痹，手臂不舉，肩中熱痛。針入五分。</p>
<p>8．臑腧：二穴在肩髎後，大骨下、胛上廉陷中，手足太陽、陽維、蹺脈之會。治寒熱，肩腫引胛中痛，臂酸無力。針入八分，可灸三壯。</p>
<p>9．天宗：二穴在秉風后，大骨下陷中，手太陽脈氣所發。治肩胛痛，臂肘外後廉痛，頰頷腫。可灸三壯，針入五分，留六呼。</p>
<p>10．秉風：二穴在肩上小髃後，舉臂有空，手太陽、陽明、手足少陽之會。治肩痛不能舉。可灸五壯，針入五分。</p>
<p>11．曲垣：二穴在肩中央曲胛陷中，按之應手痛。治肩痛，周痹，氣注，肩膊拘急疼悶。可灸三壯，針入五分。</p>
<p>12．肩外腧：二穴在肩胛上廉，去脊三寸陷中。治肩胛痛熱而寒至肘。可灸三壯，針入六分。</p>
<p>13．肩中腧：二穴在肩胛內廉，去脊二寸陷中。治寒熱，目視不明，咳嗽上氣唾血。針入三分，留七呼，可灸十壯。</p>

<h2>（二）背腧部中行</h2>
<p>（凡一十三穴）</p>
<p>1．大顀：一穴，一本作椎。今從頁作顀，余皆仿此。在第一椎上陷中，手足三陽、督脈之會。療五勞七傷，溫瘧痎瘧，氣疰，背膊拘急，頸項強不得回顧，風勞，食氣。針入五分，留三呼，瀉五吸。若灸以年為壯。《甲乙經》云：大椎下至尾骶骨，二十一椎，長三尺，折量取腧穴。凡度周身孔穴，遠近分寸，以男左女右，取中指內紋為一寸，《素問》云同身寸是也。又多用繩度量孔穴，繩多出縮，取穴不準。今以薄竹片點量分寸，療病準的。</p>
<p>2．陶道：一穴，在大椎節下間，俯而取之，督脈足太陽之會。治頭重目瞑，灑淅寒熱，脊強，汗不出。可灸五壯，針入五分。</p>
<p>3．身柱：一穴，在第三椎節下間，督脈氣所發。治癲疾，瘛瘲，怒欲殺人，身熱狂走，譫言見鬼。針入五分，灸七七壯。</p>
<p>4．神道：一穴，在第五椎節下間，俯而取之，督脈氣所發。治寒熱頭痛，進退往來，痎瘧，恍惚悲愁，健忘驚悸。可灸七七壯，至百壯止。小兒風癇瘛瘲，可灸七壯。</p>
<p>5.靈臺：一穴，在第六椎節下間，俯而取之，督脈氣所發。經闕療病法，出《素問》。</p>
<p>6.至陽：一穴在第七椎節下間，俯而取之，督脈氣所發。治寒熱，解散，淫濼，脛酸，四肢重痛，少氣難言。可灸三壯，針入五分。</p>
<p>7．筋縮：一穴在第九椎節下間，俯而取之，督脈氣所發。治。驚癇，狂走癲疾。脊急強，目轉上視。可灸三壯，針入五分。</p>
<p>8．脊中：一穴，一名神宗。在第十一椎節下間，俯而取之，督脈氣所發。治風癇，癲邪，溫病，積聚，下利。禁不可灸，灸則令人腰背傴僂。針入五分，得氣即瀉。</p>
<p>9．懸樞：一穴在第十三椎節下間，伏而取之，督脈氣所發。治積氣上下行，水穀不化，下利，腰脊強不得屈伸，腹中留積。針入三分，可灸三壯。</p>
<p>10．命門：一穴，一名屬累。在第十四椎節下間，伏而取之，督脈氣所發。治頭痛不可忍，身熱如火，汗不出，瘛瘲裡急，腰腹相引痛。針入五分，可灸三壯。</p>
<p>11．陽關：一穴在第十六椎節下間，伏而取之。針入五分，可灸三壯。闕療病法，出《素問》。</p>
<p>12．腰腧：一穴，一名背解，一名腰柱，一名腰戶。在第二十一椎節下間宛宛中。以挺身伏地舒身，兩手相重支額，縱四體，然後乃取得其穴。督脈氣所發。治腰髖疼，腰脊強不得迴轉，溫瘧痎瘧。針入八分，留三呼，瀉五吸。可灸七壯至七七壯。慎房勞，舉重強力。《甲乙經》云：針入二寸，留七呼，灸七七壯。</p>
<p>13．長強：一穴，一名氣之陰郄，督脈絡別。《甲乙經》云：在脊骶端，足少陰、少陽所結會。治腸風下血，五種痔，疳蝕，下部䘌。針入三分，抽針以太痛為度。其穴跌地取之乃得。灸然不及針，日灸三十壯，至二百壯止。此痔根本是冷，慎冷食、房勞。《甲乙經》云：針入二寸，留七呼。</p>

<h2>（三）背腧部第二行</h2>
<p>（左右凡四十四穴）</p>
<p>1．大抒：二穴在項後第一椎下，兩傍相去各一寸五分陷中。《甲乙經》云足太陽、少陽之會。療瘧，頸項強不可俯仰，頭痛，振寒，瘛瘲，氣實脅滿，傷寒汗不出，脊強喉痹，煩滿風勞，勞氣咳嗽，胸中鬱郁，身熱目眩。針入五分，可灸七壯。</p>
<p>2．風門：二穴，一名熱府。在第二椎下，兩旁相去各一寸五分，督脈、足太陽之會。治傷寒，頸項強，目瞑多嚏，鼻鼽出清涕，風勞，嘔逆上氣，胸背痛，喘氣，臥不安。針入五分，留七呼。今附：若頻刺，泄諸陽熱氣，背永不發癰疽，可灸五壯。</p>
<p>3．肺腧：二穴在第三椎下，兩傍相去各一寸五分，足太陽脈氣所發。治上氣嘔吐，支滿不嗜食，汗不出，腰背強痛，寒熱，喘滿虛煩，口乾，傳屍，骨蒸勞，肺痿，咳嗽。針入三分，留七呼，得氣即瀉，出《甲乙》。甄權《針經》云：在第三椎下兩傍，以搭手左取右，右取左，當中指末是穴。治胸中氣滿，背僂如龜，腰強，頭目眩，令人失顏色。針入五分，留七呼，可灸一百壯。</p>
<p>4．厥陰腧：二穴在第四椎下，兩傍相去各一寸五分。治逆氣嘔吐，心痛留結，胸中煩悶。針入三分，可灸七七壯，出《山眺經》。</p>
<p>5．心腧：二穴在第五椎下，兩傍相去各一寸五分。治心中風，狂走，發癇，語悲泣，心胸悶亂煩滿，汗不出，結積，寒熱，嘔吐，不下食，咳唾血。針入三分，留七呼，得氣即瀉，不可灸。</p>
<p>6．膈腧：二穴在第七椎下，兩傍相去各一寸五分。治咳而嘔逆，膈胃寒痰，食飲不下，胸滿，肢腫，兩脅痛，腹脹，胃脘暴痛，熱病汗不出，喉痹，腹中積癖，默默嗜臥，四肢怠情不欲動，身常濕，不能食，食則心痛，周痹身皆痛。針入三分，留七呼，可灸三壯。</p>
<p>7．肝腧：二穴在第九椎下，兩傍相去各一寸五分。治咳引兩脅急痛不得息，轉側難，撅脅下與脊相引而反折，目上視，目眩，循眉頭痛，驚狂，鼽衄，起則目䀮䀮，目生白翳，咳引胸中痛，寒疝，少腹痛，唾血短氣。針入三分，留六呼，可灸三壯。</p>
<p>8．膽腧：二穴在第十椎下，兩傍相去各一寸五分。治心腹脹滿，嘔則食無所出，口苦舌乾，咽中痛，食不下，目黃，胸脅不能轉側，頭痛振寒，汗不出，腋下腫。針入五分，可灸三壯。</p>
<p>9．脾腧：二穴在第十一椎下，兩傍相去各一寸五分。治腹脹引胸背痛，食飲倍多，身漸羸瘦，黃疸善欠，脅下滿，泄利體重，四肢不收，痃癖積聚，腹痛，不嗜食，痰瘧，寒熱。針入三分，留七呼，灸三壯。</p>
<p>10．胃腧：二穴在第十二椎下，兩傍相去各一寸五分。治胃中寒，腹脹不嗜食，羸瘦，腸鳴腹痛，胸脅支滿，脊痛筋攣。針入三分，留七呼。可灸，隨年為壯。</p>
<p>11．三焦腧：二穴在第十三椎下，兩傍相去各一寸五分。治腸鳴腹脹，水穀不化，腹中痛，欲泄注，目眩頭痛，吐逆，飲食不下，肩背拘急，腰脊強不得俯仰。針入五分，留七呼，可灸三壯。</p>
<p>12．腎腧：二穴在第十四椎下，兩傍相去各一寸五分，與臍平。治虛勞羸瘦，耳聾，腎虛水藏久冷，心腹䐜脹，兩脅滿引少腹急痛，目視䀮䀮，少氣溺血，小便濁出精，陰中疼，五勞七傷，虛憊，腳膝拘急，足寒如冰，頭重身熱，振慄，腰中四肢淫濼，洞泄食不化，身腫如水。針入三分，留七呼，可灸以年為壯，慎如前法。</p>
<p>13．大腸腧：二穴在第十六椎下，兩傍相去各一寸五分。治腰痛，腸鳴腹脹，繞臍切痛，大小便不利，洞泄食不化，脊強不得俯仰。針入三分，留六呼，可灸三壯。慎豬、魚、酒、面、生冷物等。</p>
<p>14．小腸腧：二穴在第十八椎下，兩傍相去各一寸五分。治小便赤澀淋瀝，少腹㽲痛，腳腫短氣，不嗜食，大便膿血出，五痔疼痛，婦人帶下。針入三分，留六呼，可灸三壯。</p>
<p>15．膀胱腧：二穴在第十九椎下，兩傍相去各一寸五分，足太陽脈氣所發。治風勞，腰脊痛，泄利腹痛，小便赤澀，遺溺，陰生瘡，少氣，足䯒寒拘急，不得屈伸，女子瘕聚，腳膝無力。針入三分，留六呼，可灸三壯。</p>
<p>16．中膂腧：二穴，一名脊內腧，在第二十椎下，兩傍相去各一寸五分，俠脊起肉。治腸冷赤白痢，腎虛消渴，汗不出，腰脊不得俯仰，腹脹脅痛。針入三分，留十呼，可灸三壯。</p>
<p>17．白環腧：二穴在第二十一椎下，兩傍相去各一寸五分，足太陽脈氣所發。治腰脊攣急痛，大小便不利。《甲乙經》云：針如腰戶法同，挺腹地端身，兩手相重支額，縱息令皮膚俱緩，乃取其穴。針入八分，得氣即先瀉訖，多補之。治腰髖疼，腳膝不遂，溫瘧，腰脊冷疼，不得安臥，勞損虛風，不宜灸。慎房勞，不得舉重物。</p>
<p>18．上髎：二穴在第一空腰髁下，夾脊陷中，足太陽、少陽絡。治腰膝冷痛，嘔逆鼻衄，寒熱瘧，婦人絕嗣，陰挺出不禁。針入三分，可灸七壯。</p>
<p>19．次髎：二穴在第二空，夾脊陷中。治疝氣下墜，腰脊痛不得轉搖，急引陰器痛不可忍，腰以下至足不仁，背腠寒，小便赤淋，心下堅脹。可灸七壯，針入三分。</p>
<p>20．中髎：二穴在第三空，夾脊陷中，厥陰、少陽所結。治丈夫五勞七傷六極，腰痛大便難，腹脹下利，小便淋澀，飧泄，婦人絕子帶下，月事不調。針入二分，留十呼，可灸三壯。</p>
<p>21．下髎：二穴在第四空，夾脊陷中，足太陽、厥陰所結。治腰痛不得轉側，女子下蒼汁不禁，陰中痛，引少腹急疼，大便下血，寒濕內傷。針入二分，留十呼，可灸三壯。</p>
<p>22．會陽：二穴，一名利機。在陰尾骨兩傍，督脈氣所發。治腹中冷氣，泄利不止，久痔，陽氣虛乏，陰汗濕。針入八分，可灸五壯。</p>

<h2>（四）背腧部第三行</h2>
<p>（左右凡二十八穴）</p>
<p>1．附分：二穴在第二椎下，附項內廉，兩傍相去各三寸，手足太陽之會，正坐取之。治肩背拘急，風冷客於腠理，頸項強痛不得回顧，風勞，臂肘不仁。可灸五壯，針入三分。</p>
<p>2．魄戶：二穴在第三椎下，兩傍相去各三寸，正坐取之，足太陽脈氣所發。治背髆痛，咳逆上氣，嘔吐煩滿，虛勞肺痿，五屍走疰，項強不得回顧。針入五分，得氣即瀉，又宜久留針。灸亦得，日可灸七壯，至百壯止。忌豬、魚、酒、面、生冷物等。</p>
<p>3．膏肓腧：二穴在第四椎下，兩傍相去各三寸。主無所不療，羸瘦虛損，夢中失精，上氣咳逆，發狂健忘。又取穴之法：令人正坐曲脊，伸兩手，以臂著膝前，令正直，手大指與膝頭齊，以物支肘，勿令臂得動搖也。從胛骨上角，摸索至骨下頭，其間當有四肋三間，灸中間。從胛骨之裡，去胛容側指許，摩𦛗去表肋間空處按之，自覺牽引於肩中，灸兩胛中一處，至百壯，多至三百壯，當覺下嚨嚨然流水之狀，亦當有所下出。若得痰，疾則無所不下也。如病人已因不能正坐，當令側臥，挽上臂令前，取穴灸之。又以右手從左肩上住，指頭所不及者，是穴也，左取亦然，乃以前法灸之。若不能久坐，當伸兩臂，令人挽兩胛骨使相離。不爾，即胛角覆其空，灸之無驗。此灸訖後，令人陽氣康盛，當消息以自補養。論曰：昔在和緩不救晉候之疾，其在膏之上，肓之下，針藥不能，即此穴是也。人不能求得此穴，所以宿病難遣，若能用心，此方便求得。灸之無疾不愈，出《千金》、《外臺》。</p>
<p>4.神堂：二穴在第五椎下　兩傍相去各三寸，正坐取之，足太陽脈氣所發。治肩痛，胸腹滿，灑淅寒熱，背脊強急。可灸五壯，針入三分。</p>
<p>5．噫嘻：二穴在肩髆內廉，俠第六椎下，兩傍相去各三寸，正坐取之，足太陽脈氣所發。以手痛按之，病者言噫嘻，針入六分，留三呼，瀉五吸。治腋拘攣，暴脈急引脅痛，熱病汗不出，溫瘧，肩背痛，目眩鼻衄，喘逆腹脹，肩髆內廉痛不得俯仰。可灸二七壯，至百壯至。忌莧菜、白酒物等。</p>
<p>6．膈關：二穴在第七椎下，兩傍相去各三寸陷中，正坐取之，足太陽脈氣所發。治背痛惡寒，脊強俯仰難，食飲不下，嘔噦多涎唾，胸中噎悶。可灸五壯，針入五分。</p>
<p>7．魂門：二穴在第九椎下，兩傍相去各三寸陷中，正坐取之，足太陽脈氣所發。治食飲不下，腹中雷鳴，大便不節，小便赤黃。可灸三壯，針入五分。</p>
<p>8；陽綱：二穴在第十椎下，兩傍相去各三寸陷中，正坐取之，足太陽脈氣所發。治腹滿䐜脹，大便泄利，小便赤澀，身熱目黃。可灸三壯，針入五分。</p>
<p>9．意舍：二穴在第十一椎下，兩傍相去各三寸陷中，正坐取之，足太陽脈氣所發。治腹滿虛脹，大便滑泄，背痛惡風寒，食飲不下，嘔吐不止，消渴，目黃。可灸五十壯至一百壯，針入五分。</p>
<p>10．胃倉：二穴在第十二椎下，兩傍相去各三寸，足太陽脈氣所發。治腹內虛脹，水腫，食飲不下，惡寒，背脊不得俯仰。可灸五七壯，針入五分。</p>
<p>11．肓門：二穴在第十三椎下，兩傍相去各三寸叉肋間。異經云：與鳩尾相直，治心下肓大堅，婦人乳有餘疾。可灸三十壯，針入五分。</p>
<p>12．志室：二穴在第十四椎下，兩傍相去各三寸陷中，足太陽脈氣所發。治腰脊強痛，食飲不消，腹中堅急，陰痛，下腫，失精，小便淋瀝，針入五分，灸三壯。</p>
<p>13．胞肓，二穴在第十九椎下，兩傍相去各三寸陷中，伏而取之，足太陽脈氣所發。治腰痛，惡寒，少腹堅急，癃閉下重，不得小便澀痛，腰背卒痛。可灸五七壯，針入五分。</p>
<p>14．秩邊：二穴在第二十椎下，兩傍相去各三寸陷中，伏而取之，足太陽脈氣所發。治腰痛不能俯仰，小便赤澀，腰尻重不能舉，五痔發腫。針入五分，可灸三壯，慎如前法。</p>

<h1>十二、側頸項膺腧側腋各部各經穴主治病症</h1>

<h2>（一）側頸項部</h2>
<p>（左右凡一十八穴）</p>
<p>1．天容：二穴在耳下曲頰後，手太陽脈氣所發。治喉痹寒熱，咽中如鯁。針入一寸，可灸三壯。</p>
<p>2．天牖：二穴在頸筋缺盆上，天容後，天柱前，完骨下，髮際上，手少陽脈氣所發。治頭風面腫，項強不得回顧，針入一寸，留七呼，不宜補之，亦不宜灸。若灸之，面腫眼合。先取噫嘻，後針天牖、風池，其病即瘥。若不先針噫嘻，即難瘳其疾也。</p>
<p>3．天窗：二穴，一名窗籠。在頸大筋前，曲頰下，扶突後動脈應手陷中，手太陽脈氣所發。治耳鳴，聾無所聞，頰腫，喉中痛，暴喑不能言，肩痛引項不得回顧。可灸三壯，針入三分。</p>
<p>4．天鼎：二穴在頸缺盆直扶突後一寸，手陽明脈氣所發。治暴喑氣哽，喉痹咽腫，不得息，飲食不下，喉中鳴。可灸三壯，針入三分。</p>
<p>5．扶突：二穴，一名水穴。在人迎後一寸五分，手陽明脈氣所發。治咳多唾，上氣，咽引喘息，喉中如水雞鳴。可灸三壯，針入三分。</p>
<p>6．缺盆：二穴，一名天蓋。在肩下橫骨陷中。治寒熱，瘰癧，缺盆中腫，外潰則生，胸中熱滿，腹大水氣，缺盆中痛，汗出喉痹，咳嗽。可灸三壯，針入三分，不直刺，太深使人逆息也。</p>
<p>7．人迎：二穴，一名五會。在頸大脈動脈應手，俠結喉傍，仰而取之，以候五臟氣，足陽明脈所發。禁不可灸，灸之不幸傷人。治吐逆霍亂，胸滿，喘呼不得息，項氣悶腫，食不下。針入四分。</p>
<p>8．水突：二穴在頸大筋前直人迎下，氣舍上，一名水門，足陽明脈氣所發。治咳逆上氣，咽喉癕腫，呼吸短氣，喘息不得。針入三分，可灸三壯。</p>
<p>9．氣舍：二穴在頸直人迎，俠天突陷中，足陽明脈氣所發。治咳逆上氣，瘤癭喉痹，咽腫，頸項強不得回顧。針入三分，可灸三壯。</p>

<h2>（二）膺腧部中行</h2>
<p>（凡七穴）</p>
<p>1．天突：一穴，在結喉下一寸宛宛中，陰維、任脈之會。針入五分，留三呼，得氣即瀉。治咳嗽上氣，胸中氣噎，喉中狀如水雞聲，肺癰咯唾膿血，氣咽乾，舌下急，喉中生瘡，不得下食。灸亦得，即不及針。其下針直，橫下不得，低手即五臟之氣傷人。慎如前法，忌辛酸物等。</p>
<p>2．璇璣：一穴，在天突下一寸陷中，仰頭取之，任脈氣所發。治胸皮滿痛，喉痹咽腫，水漿不下。可灸五壯，針入三分。</p>
<p>3．華蓋：一穴，在璇璣下一寸陷中，仰頭取之，任脈氣所發。治胸脅支滿，痛引胸中，咳逆上氣，喘不能言。可灸五壯，針入三分。</p>
<p>4．紫宮：一穴在華蓋下一寸六分陷中，仰頭取之，任脈氣所發。治胸脅支滿，胸膺骨疼，飲食不下，嘔逆上氣，煩心。可灸五壯，針入三分。</p>
<p>5．玉堂：一穴在紫宮下一寸六分陷中，一名玉英，任脈氣所發。治胸滿不得喘息，胸膺骨疼，嘔吐寒痰，上氣，煩心。可灸五壯，針入三分。</p>
<p>6．膻中：一穴，一作亶，一名元兒。在玉堂下一寸六分，直兩乳間陷中，仰臥取之，任脈氣所發。治肺氣咳嗽上喘，唾膿，不得下食，胸中如塞。可灸七七壯。今附：療膈氣，嘔吐涎沫，婦人乳汁少。其穴禁不可針，不幸令人夭折。慎豬、魚、酒、面物等。</p>
<p>7．中庭：一穴在膻中下一寸六分陷中，任脈氣所發。治胸脅支滿，噎塞，食飲不下，嘔吐食還出。可灸五壯，針入三分。</p>

<h2>（三）膺腧部第二行</h2>
<p>（左右凡一十二穴）</p>
<p>1．腧府：二穴在巨骨下，璇璣傍各二寸陷中，仰而取之，足少陰脈氣所發。治咳逆上喘，嘔吐胸滿，不得飲食。可灸五壯，針入三分。</p>
<p>2．或中：二穴在腧府下一寸六分陷中，仰而取之，足少陰脈氣所發。治胸脅支滿，咳逆喘不能食飲。針入四分，可灸五壯。</p>
<p>3．神藏：二穴在或中下一寸六分陷中，仰而取之，足少陰脈氣所發。治胸脅支滿，咳逆喘不得息，嘔吐胸滿不嗜食。可灸五壯，針入三分。</p>
<p>4．靈墟：二穴在神藏下一寸六分陷中，仰而取之，足少陰脈氣所發。治胸脅支滿，痛引胸不得息，咳逆嘔吐，胸滿不嗜食。針入三分，可灸五壯。</p>
<p>5．神封：二穴在靈墟下一寸六分，仰而取之，足少陰脈氣所發。治胸滿不得息，咳逆，乳癰，灑淅惡寒。可灸五壯，針入三分。</p>
<p>6．步郎：二穴在神封下一寸六分陷中，仰而取之，足少陰脈氣所發。治胸脅支滿，鼻塞不通，呼吸少氣，喘息，不得舉臂。針入三分，可灸五壯。</p>

<h2>（四）膺腧部第三行</h2>
<p>（左右凡一十二穴）</p>
<p>1．氣戶：二穴在巨骨下，腧府兩傍各二寸陷中，仰而取之，足陽明脈氣所發。治胸脅支滿，喘逆上氣，胸背急不得息，不知食味。針入三分，可灸五壯。</p>
<p>2．庫房：二穴在氣戶下一寸六分陷中，仰而取之，足陽明脈氣所發。治胸脅支滿，咳逆上氣，多唾濁沫膿血。可灸五壯，針入三分。</p>
<p>3．屋翳：二穴在庫房下一寸六分陷中，仰而取之，足陽明脈氣所發。治咳逆上氣，呼吸多唾濁沫膿血，身體腫，皮膚痛不可近衣，淫濼，瘛瘲，不仁。可灸五壯，針入三分。</p>
<p>4．膺窗：二穴在屋翳下一寸六分，足陽明脈氣所發。治胸滿短氣，唇腫，乳癰，寒熱，臥不安。可灸五壯，針入四分。</p>
<p>5．乳中：二穴當乳，是足陽明脈氣所發。禁不可灸，灸不幸生蝕瘡，瘡中有清汁膿血可治；瘡中有瘜肉若蝕瘡者死。微刺三分。</p>
<p>6．乳根：二穴在乳下一寸六分陷中，仰而取之，足陽明脈氣所發。治胸下滿痛，臂腫，乳癰，悽慘寒熱，痛不可按抑。可灸五壯，針入三分。</p>

<h2>（五）膺腧部第四行</h2>
<p>（左右凡一十二穴）</p>
<p>1．雲門：二穴在巨骨下，俠氣戶傍各二寸陷中，動脈應手，手太陰脈氣所發。治喉痹，胸中煩滿，氣上衝心，咳喘不得息，胸脅短氣，肩痛不得舉臂。《甲乙經》云：可灸五壯，針入三分，刺深使人氣逆，故不宜深刺。</p>
<p>2．中府：二穴肺之募，一名膺中腧。在雲門下一寸，乳上三肋間，動脈應手，足太陰之會。治肺系急，胸中痛悚悚，膽熱，嘔逆上氣，咳唾濁涕，肩背痛風，汗出腹脹，食不下，喉痹，肩息，膚骨痛，寒熱。針入三分，留五呼，可灸五壯。</p>
<p>3．周榮：二穴在中府下一寸六分陷中，仰而取之，足太陰脈氣所發。治胸脅支滿，不得俯仰，飲食不下，咳唾稠膿，針入四分。</p>
<p>4．胸鄉：二穴在周榮下一寸六分陷中，仰而取之，足太陰脈氣所發。治胸脅支滿，引胸背痛，臥不得轉側。針入四分，可灸五壯。</p>
<p>5．天溪：二穴在胸鄉下一寸六分陷中，仰而取之，足太陰脈氣所發。治胸中滿痛，乳腫賁膺，咳逆上氣，喉中作聲。針入四分，可灸五壯。</p>
<p>6．食竇：二穴在天溪下一寸六分，舉臂取之，足太陰脈氣所發。治胸脅支滿，膈間雷鳴，滀陸滀陸，常有小聲。針入四分，可灸五壯。</p>

<h2>（六）側腋部</h2>
<p>（左右凡八穴）</p>
<p>1．淵腋：二穴在腋下三寸宛宛中，舉臂得之，治胸滿無力，臂不舉。禁不宜灸，灸之不幸，令人生腫蝕。馬瘍內潰者死，寒熱者生，馬瘍可治，針入三分。</p>
<p>2.輒筋：二穴在腋下三寸，復前一寸著脅，足少陽脈氣所發。治胸中暴滿，不得臥喘息也。可灸三壯，針入六分。</p>
<p>3．大包：二穴在淵腋下三寸，脾之大絡，布胸脅中，出九肋間。治腹有大氣，氣不得息，胸脅中痛，內實則其身盡寒，虛則百節皆縱。可灸三壯，針入三分。</p>
<p>4．天池：二穴在乳後一寸，腋下三寸，著脅直腋撅肋間。一名天會，手心主、足少陽脈之會。治寒熱，胸膈煩滿，頭痛，四肢不舉，腋下腫，上氣，胸中有聲，喉中鳴。可灸三壯，針入三分。</p>

<h1>十三、腹部及側脅各經穴主治病症</h1>

<h2>（一）腹部中行</h2>
<p>（凡一十五穴）</p>
<p>1．鳩尾：一穴，一名尾翳，一名𩩲骭。在臆前蔽骨下五分。治心風驚癇發癲，不喜聞人語，心腹脹滿，胸中滿，咳逆數噫，喘息，喉痹咽壅，水漿不下。不可灸，灸即令人畢世少心力。此穴大難針，大好手方可此穴下針，不然取氣多，不幸令人夭。針入三分，留三呼，瀉五吸，肥人可倍之，忌如前法也。</p>
<p>2．巨闕：一穴，心之募也。在鳩尾下一寸。鳩尾拒者少，令強一寸中人，有鳩尾拒之，任脈氣所發。治心中煩滿，熱病，胸中痰飲，腹脹暴痛，恍惚不知人，息賁，時唾血，蛔蟲心痛，蠱毒，霍亂，發狂不識人，驚悸少氣。針入六分，留七呼，得氣即瀉。灸亦佳，可灸七壯，至七七壯止。忌豬、魚、生冷、酒、熱面物等。</p>
<p>3．上脘：一穴，在巨闕下一寸，當一寸五分，去蔽骨三寸，任脈、足陽明、手太陽之會。治心中熱煩，賁豚，氣脹不能食，霍亂吐利，身熱汗不出，三焦多涎，心風驚悸，心痛不可忍，伏梁氣狀如覆杯。針入八分，先補後瀉之神驗。如風癇熱病，宜先瀉後補，其疾立愈。灸亦良，日可灸二七壯至一百壯，未愈更倍之，忌如常法。</p>
<p>4．中脘：一穴，一名大倉，胃之募也。在上脘下一寸，手太陽、少陽、足陽明所生，任脈之會。上紀者，上脘也。治心下脹滿，傷飽食不化，霍亂，出泄不自知，心痛，溫瘧，傷寒，飲水過多，腹脹氣喘，因讀書得賁豚氣上攻，伏梁心下狀如覆杯，寒癖結氣。針入八分，留七呼，瀉五吸，疾出針。灸亦良，可灸二七壯，至一百壯止。忌豬、魚、生冷、酒、面等物。</p>
<p>5．建里：一穴，在中脘下一寸。治心下痛不欲食，嘔逆上氣，腹脹身腫。針入五分，留十呼，可灸五壯止。</p>
<p>6.下脘：一穴，在建里下一寸，足太陰、任脈之會。治腹痛，六腑之氣寒，谷不轉，不嗜食，小便赤，腹堅硬，癖塊，臍上厥氣動，日漸羸瘦。針入八分，留三呼，瀉五吸。灸亦良，可灸七七壯，至二百壯乃止。</p>
<p>7．水分：一穴，在下脘下一寸，臍上一寸，任脈氣之所發。治腹堅如鼓，水腫，腸鳴，胃虛脹，不嗜食，繞臍痛，沖胸不得息。針入八分，留三呼，瀉五吸。若水病灸之大良，可灸七壯，至百壯止。禁不可針，針水盡即斃。</p>
<p>8．神闕：一穴，一名氣合，當臍中是也。治泄利不止，小兒奶利不絕，腹大，繞臍痛，水腫鼓脹，腸中鳴，狀如流水聲，久冷傷憊。可灸百壯，禁不可針，慎如常法。</p>
<p>9．陰交：一穴，一名橫戶。《素問》云：在臍下一寸。任脈氣所發。治臍下㽲痛，寒疝引少腹痛，腰膝拘攣，腹滿，女子月事不絕，帶下，產後惡露不止，繞臍冷痛。針入八分，得氣即瀉，可灸一百壯止。</p>
<p>10．氣海：一穴，一名脖胦，一名下肓。在臍下一寸五分，任脈氣所發。治臍下冷氣上衝，心下氣結成塊，狀如覆杯，小便赤澀，婦人月事不調，漏下崩中，因產惡露不止，繞臍㽲痛。針入八分，得氣即瀉，瀉後宜補之，可灸百壯。今附：氣海者，是男子生氣之海也。治藏氣虛憊，真氣不足，一切氣疾久不瘥，悉皆灸之，慎如常法。</p>
<p>11．石門：一穴，一名利機，一名精露。在臍下二寸，三焦之募，任脈氣所發。治腹脹堅硬，支滿，婦人因產惡露不止，遂結成塊，崩中漏下。灸亦良，可灸二七壯，至一百壯止。婦人不可針，針終身絕子。</p>
<p>12．關元：一穴，在臍下三寸，小腸之募，足太陰、少陰、厥陰三陰、任脈之會。下紀者，關元也。治臍下㽲痛，小便赤澀，不覺遺溺，小便處痛，狀如散火，溺血，暴疝痛，臍下結血，狀如覆杯，轉胞不得尿，婦人帶下，瘕聚，因產惡露不止，月脈斷絕，下經冷。針入八分，留三呼，瀉五吸。灸亦良，可灸百壯，至三百壯止，慎如常法。</p>
<p>13．中極：一穴，一名玉泉，一名氣原。在關元下一寸，膀胱之募，足三陰、任脈之會。治五淋，小便赤澀，失精，臍下結如覆杯，陽氣虛憊，疝瘕，水腫，賁豚搶心，甚則不得息，恍惚屍厥，婦人斷緒，四度針，針即有子，故卻時任針也。因產惡露不止，月事不調，血結成塊。針入八分，留十呼，得氣即瀉，可灸百壯，至三百壯止。</p>
<p>14．曲骨：一穴，在橫骨之上毛際陷中，動脈應手，任脈、足厥陰之會。治少腹脹滿，小便淋澀不通，㿉疝，少腹痛，婦人赤白帶下，惡合。可灸七壯至七七壯，針入二分。</p>
<p>15．會陰：一穴，一名屏翳。在兩陰間，任脈別絡，俠督脈、衝脈之會。治小便難，竅中熱，皮疼痛，穀道搔癢，久痔相通者死，陰中諸病，前後相引痛，不得大小便，女子經不通，男子陰端寒衝心佷佷。可灸三壯。</p>

<h2>（二）腹部第二行</h2>
<p>（左右凡二十二穴）</p>
<p>1.幽門：二穴俠巨闕兩傍各一寸五分，衝脈、足少陰之會。治胸中引痛，心下煩悶，逆氣裡急，支滿，不嗜食，數咳健忘，泄利膿血，少腹脹滿，嘔沫吐涎，喜唾，女子心痛，逆氣善吐，食不下。可灸五壯，針入五分。</p>
<p>2．通谷：二穴在幽門下一寸，衝脈、足少陰之會。治失欠口喎，食飲善嘔，暴啞不能言。針入五分，可灸五壯。</p>
<p>3．陰都：二穴，一名食宮。在通谷下一寸，衝脈、足少陰之會。治身寒熱，瘧病，心下煩滿，氣逆。可灸三壯，針入三分。</p>
<p>4．石關：二穴在陰都下一寸，衝脈、足少陰之會。療脊強不開，多唾，大便秘澀，婦人無子，藏有惡血上衝，腹中㽲痛不可忍。可灸三壯，針入一寸。</p>
<p>5．商曲：二穴在石關下一寸，衝脈、足少陰之會。治腹中積聚，腸中切痛，不嗜食。可灸五壯，針入一寸。</p>
<p>6．肓腧：二穴在商曲下一寸，臍傍各五分，衝脈、足少陰之會。治大腹寒疝，大便乾燥，腹中切痛。可灸五壯，針入一寸。</p>
<p>7．中注：二穴在肓腧下一寸，衝脈、足少陰之會。治小腹有熱，大便堅燥不利。可灸五壯，針入一寸。</p>
<p>8．四滿：二穴，一名髓府。在中注下一寸，衝脈、足少陰之會。治臍下積聚，疝瘕，腸癖切痛，振寒，大腹石水，婦人惡血㽲痛。針入三分，可灸三壯。</p>
<p>9．氣穴：二穴在四滿下一寸。一名胞門，一名子戶，衝脈、足少陰之會。治月事不調，泄利不止，賁氣上下引腰脊痛。可灸五壯，針入三分。</p>
<p>10．大赫：二穴，一名陰維，一名陰關。在氣穴下一寸，衝脈、足少陰之會。治男子陰器結縮，女子赤帶。可灸五壯，針入三分。</p>
<p>11．橫骨：二穴在大赫下一寸。此穴諸經闕療病法。《外臺》云：治腹脹，小便難，陰器縱伸痛，可灸三壯。</p>

<h2>（三）腹部第三行</h2>
<p>（左右凡二十四穴）</p>
<p>1．不容：二穴在幽門兩傍各一寸五分，去任脈二寸，直四肋端，足陽明脈氣所發。治腹滿痃癖，不嗜食，腹虛鳴，嘔吐，胸背相行痛，喘咳口乾，痰癖，脅下痛，疝瘕。針入五分，可灸五壯。</p>
<p>2．承滿：二穴在不容下一寸，足陽明脈氣所發。治腸鳴腹脹，上喘氣逆，食飲不下，肩息，唾血。可灸五壯，針入三分。</p>
<p>3．梁門：二穴在承滿下一寸，足陽明脈氣所發。治脅下積氣，食飲不思，大腸滑泄，穀不化。可灸五壯，針入三分。</p>
<p>4．關門：二穴在梁門下一寸，足陽明脈氣所發。治遺溺，善滿，積氣腸鳴，卒痛泄利，不欲食，腹中氣遊走俠臍急，痰瘧振寒。針入八分，可灸五壯。</p>
<p>5.太乙：二穴在關門下一寸，足陽明脈氣所發。治癲疾狂走，心煩吐舌。可灸五壯，針入八分。</p>
<p>6．滑肉門：二穴在太乙下一寸，足陽明脈氣所發。治癲疾，嘔逆，吐舌。可灸五壯，針入八分。</p>
<p>7．天樞：二穴，大腸之募穴，一名長溪，一名谷門。去肓腧一寸五分，夾臍傍二寸，足陽明脈氣所發。療夾臍切痛，時上衝心，煩滿嘔吐，霍亂，寒瘧，泄利，食不化，女子月事不時，血結成塊，腸鳴腹痛，不嗜食。可灸百壯，針入五分，留七呼。</p>
<p>8．外陵：二穴在天樞下一寸，足陽明脈氣所發。治腹中痛，心如懸，引臍腹痛。可灸五壯，針入三分。</p>
<p>9．大巨：二穴在外陵下一寸，足陽明脈氣所發。治少腹脹滿，煩渴㿉疝，偏枯，四肢不舉。可灸五壯，針入五分。</p>
<p>10．水道：二穴在大巨下三寸，足陽明脈氣所發。治少腹滿，引陰中痛，腰背強急，膀胱有寒，三焦結熱，小便不利。可灸五壯，針入二寸五分。</p>
<p>11．歸來：二穴在水道下二寸。治少腹賁豚，卵縮，莖中痛，婦人血藏積冷。可灸五壯，針入八分。</p>
<p>12．氣衝，二穴，一名氣街。在歸來下，鼠鼷上一寸，動脈應手宛宛中，足陽明脈氣所發。治腸中大熱，不得安臥，腹有逆氣上攻，心腹脹滿，淫濼，月水不利，身熱，腹中痛，㿉疝陰腫，難乳子，上搶心痛，不得息，氣衝腰痛不得俯仰，陰痿，莖中痛，兩丸蹇痛不可忍。可灸七壯立愈，炷如大麥，禁不可針。</p>

<h2>（四）腹部第四行</h2>
<p>（左右凡一十四穴）</p>
<p>1．期門：二穴，肝之募。在不容傍一寸五分，直兩乳第二肋端，足太陰、厥陰、陰維之會。治胸中煩熱，賁豚上下，目青而嘔，霍亂泄利，腹堅硬大，喘不得安臥，脅下積氣，女子產後余疾，食飲不下，胸脅支滿，心中切痛，善噫。若傷寒過經不解，當針期門，使經不傳。針入四分，可灸五壯。</p>
<p>2．日月：二穴，膽之募。在期門下五分，足太陰、少陽、陽維之會。治太息善悲，小腹熱，欲走多唾，言語不正，四肢不收。可灸五壯，針入七分。</p>
<p>3．腹哀：二穴在日月下一寸五分，足太陰、陰維之會。治大便膿血，寒中，食不化，腹中痛。針入三分。</p>
<p>4．大橫：二穴在腹哀下三寸五分，直臍傍，足太陰、陰維之會。療大風，逆氣，多寒，善悲。可灸五壯，針入七分。</p>
<p>5．腹結：二穴在大橫下三分，一名腸窟。治繞臍痛，上衝搶心，腹寒泄利，咳逆。針入七分，可灸五壯。</p>
<p>6．府舍：二穴在腹結下三寸，足太陰、厥陰、陰維之交會。此三脈上下三入腹，絡肝脾，結心肺，從脅上至肩，此太陰郄三陰、陽明支別。治疝痛，脾中急痛，循脅上下搶心，腹滿積聚，厥氣，霍亂。針入七分，可灸五壯。</p>
<p>7．衝門：二穴，一名慈宮。上去大橫五寸，府舍下橫骨兩端，約中動脈，足太陰、厥陰之會。治腹寒氣滿，積聚疼，淫濼，陰疝，難乳子，上衝心，不得息。針入七分，可灸五壯。</p>

<h2>（五）側脅部</h2>
<p>（左右凡一十二穴）</p>
<p>1．章門：二穴，脾之募，一名長平，一名脅髎。在大橫外，直季脅肋端。側臥，屈上足，伸下足，舉臂取之，足厥陰、少陽之會。治腸鳴盈盈然，食不化，脅痛不得臥，煩熱口乾，不嗜食，胸脅支滿，喘息，心痛，腰不得轉側，傷飽，身黃羸瘦，賁豚，腹腫，脊強，四肢懈惰，善恐少氣厥逆，肩臂不舉。可灸百壯，針入六分，忌如常法。</p>
<p>2．京門：二穴，腎之募，一名氣腧，一名氣府，在監骨下腰中，季脅本俠脊，治腰痛不得俯仰，寒熱，䐜脹引背不得息，水道不利，溺黃，少腹急腫，腸鳴洞泄，髀樞引痛。可灸三壯，針入三分，留七呼。</p>
<p>3．帶脈：二穴在季脅下一寸八分。治婦人少腹堅痛，月事不調，帶下赤白，裡急，瘛瘲。可灸五壯，針入六分。</p>
<p>4．五樞：二穴在帶脈下三寸，一云在水道傍一寸五分。治男子寒疝，陰卵上入小腹痛。針入一寸，可灸五壯。</p>
<p>5．維道：二穴在章門下五寸三分，足少陽、帶脈之會。治嘔逆不止，三焦不調，水腫，不嗜食。針入八分，可灸三壯。</p>
<p>6．居髎：二穴在章門下八寸三分，監骨上陷中，陽蹺、足少陽之會。治腰引少腹痛，肩引胸臂攣急，手臂不得舉而至肩。灸三壯，針入八分。</p>

<h1>十四、或問</h1>
<p>予編《秘傳》竟，或有進而問者曰：諸家所言某穴主某病，某病必宜取某穴，其說確不可易乎？曰：此不過示以大概，其實治病無定穴也。大凡邪中於人，與正周流上下，或在氣分，或在血分，無有定止，故喻用針正如用兵，彼動則此應，或出以奇，或守以正，無有定製。如醫者不究病因，不察傳變，惟守某穴主某病之說，執中無權，按譜施治，譬之狂潦泛溢，欲塞下流而獲安者，亦偶然耳。夫病變無窮，針法亦無窮，病或在上而從下取之，病或在下而從上取之，或正取，或直取，審經與絡，分氣與血，病隨經而在，穴隨經而取，庶得隨機應變之理。予所以選錄《靈樞》、《素問》、《難經》置於卷首，使人熟讀深思者，正欲人知此隨機應變之理，而得圓機活法也。</p>
<p>或又曰：圓機活法，既得聞命矣，但學者望洋無下手處，奈何？曰：譬猶匠者教人以規矩，取方圓也。規矩之法在師，方圓之法則在弟子矣。夫聖人之於針，非經絡孔穴，無以教後學。後學非經絡孔穴，無以受之師。苟不知變通，徒執孔穴，所謂按圖索驥，安能盡其法哉！故曰：粗守形，上守神，粗守關，上守機，機之動，不離其空，此之謂也。</p>
<p>或曰：今有專取奇穴治病，亦多有效，究竟是否？曰：人身正經十二，奇經有八，大絡十五，小絡三百餘，皆所以行氣血也。聖人取穴三百六十有六，按歲之三百六十六日也，後人以為未盡，更取奇穴，是猶置閏月也。奇穴者，絡穴六，經穴二。余絡余經，置而不用，速求巧捷，遂悖聖經。又有六十六穴，拘於日時開合用之，猶未周備，而況拘於八穴者乎。蓋八穴病在氣分，則有可劫之功。若在血分，徒損元氣，病何由安，正是血病而瀉氣也。邪在血分，則直求病之所在而取之可也。今人泥而不用，豈非可笑。</p>
<p>或曰：針灸宜避天忌日，何也？曰：經云：左足應立春，其日戊子己丑。左脅應春分，其日己卯。左手應立夏，其日戊辰己巳。膺喉首頭應夏至，其日丙午。右手應立秋，其日戊申己未。右脅應秋分，其日辛酉。右足應立冬，其日戊戌己亥。腰尻下竅應冬至，其日壬子。六腑膈下三藏應四季中州，其日戊己。大禁太乙所在日（即前所云）。凡此九者，善候八正所在之處，所主左右上下身有癰腫者欲治之，無以其所值之日潰治之，是謂天忌日也。</p>
<p>或曰：後世有子午流注之說，始於南唐何若愚。謂三焦是陽氣之父，心包絡是陰氣之母，二經尊重，不繫五行所攝，主受納十經氣血養育，故只言十經陰陽二脈，逐日各注井滎俞經合，各五時，晨畢。每日遇陽干合處，注於三焦，遇陰乾合處，注於包絡，此二經亦各注井滎俞經合五穴，陽干注府，陰乾注藏。如甲日甲戌時，膽氣初出為井，乙日乙酉時，肝出穴為井云云，其說甚長。蓋謂左轉從子，能外行諸陽，右轉從午，能內行諸陰，其說於經亦有據乎？曰：此皆臆說。《內經》、《難經》所不載，不惟悖其經旨，而所說亦自相矛盾者多矣。彼謂陽日陽時陽經穴開，故甲子日甲戌時甲膽竅陰井開，此固然矣。丙子時屬於乙丑日辰，乃陰日陽時也，而謂丙小腸前谷滎穴開，其與陽日陽時之說，合乎否乎？舉此一端，其餘可推類而知，其自相矛盾不待言矣。經言榮衛之氣，五十度大會於手太陰。終古不改其常度，此謂陽日氣先血後，陰日血先氣後，其亂經旨也大矣，豈可為法於天下後世哉！</p>
<p>或曰：針灸家動謂各有秘法，不輕示人，信乎？曰：傳世所傳十四法、十六法，如青龍擺尾云云，可謂已盡之矣。舍此謂更有神秘，吾未之信也。況此等法，證之於經，則有悖於經，質之於理，則有違於理，彼以為神，我以為詭，彼以為秘，我以為妄。此編雖亦羅列諸法於前，因既為世俗之所通行，固不可不知其法。且外間所傳者，往往名是而實非，予故為之考證其說，歸於至當，免其以訛傳訛，且可與《內》、《難》諸法，考究異同，俾能實驗於針下。如果精研經旨，深明古法，則於近世之所謂秘密，雖全棄而不可用也。</p>
<p>或曰：諸家針科書所載，某穴針幾分，留幾呼，灸幾壯，出於經歟否歟？曰：此多出於後世，於經並無考也。經曰：病有浮沉，刺有淺深。淺深不得，反為大賊。過之則內傷，不及則生外壅。古人治法，惟視病之浮沉，而為刺之淺深，豈以定穴分寸為拘哉！又謂某穴宜留幾呼，悻理尤甚。經曰：刺實須其虛者，留針，陰氣隆至（針下寒），乃去針也。經氣已至，慎守勿失。又曰：刺之而氣不至，無問其數，刺之而氣至，乃去之，勿復針。針各有所宜，各不同形，各任其所為。刺之要，氣至而有效，效之信，若風之吹雲，明乎若見蒼天。豈留呼而可為定準耶？經又云：靜以久留，以氣至為故，不以息之多數而便去針。是古人用針，惟以氣至為期，而不以呼之多少為候。若依留呼之說，氣至則可，氣若不至，亦依呼數而去針，徒使破皮損肉，有何益於病哉。故曰：凡刺之害，中而不去則精泄，不中而去則致氣，精泄則病甚而恇，致氣則生為癰疽也。又謂某穴宜灸幾壯，亦非至言，惟當視其穴俞肉之厚薄，病之輕重，而為灸之多少大小則可耳，不必守其成規。所言某穴針幾分，灸幾壯，謂病宜針某穴，則宜入幾分，病宜灸某穴，則宜灸幾壯。針則不灸，灸則不針。不知其說者，既針復灸，既灸復針，為害不淺。</p>
<p>或曰：《內經》明言足陽明者，五臟六腑之海也，其脈大血多氣甚熱壯。刺此者，不深不散，不留不瀉也。足陽明刺深六分，留十呼；足太陽深五分，留七呼；足少陽深四分，留五呼；足太陰深三分，留四呼；足少陰深二分，留三呼，足厥陰深一分，留二呼。手之陰陽，其受氣之道近，其氣之來疾，其刺深者，皆無過二分，其留皆無過一呼，灸之亦然。灸而過此者，得惡火則骨枯脈澀；刺而過此者，則脫氣，此皆古法也。如先生所說，則經中所論，並皆非歟？曰：此古人特論其理之常如此耳。凡用刺法，自有所宜，初不必以是為拘也。經曰：邪氣在上，濁氣在中，清氣在下。故針陷脈則邪氣出，針中脈則濁氣出。針太深則邪氣反沉而病益。又曰：少長小大肥瘦，以心撩之。又曰：其可為度量者，不甚脫肉，而血氣不衰也。若夫瘠瘦而形肉脫者，惡可以度量刺乎？審切循捫按，視其寒溫盛衰而調之，是謂因適而為之真者是也。</p>
<p>或曰：近世針法，刺左邊之穴，將針右拈而氣上行，將針左拈而氣下行，刺右邊則反之。欲補先呼後吸，欲瀉先吸後呼，其法亦可師歟？曰：經絡周於人身，無有左右上下之別。今針左右不同如此，將謂左之經絡，與右之上下兩不相同耶？經曰：刺不知經絡之往來，血氣之流行，不足以為工。此亦可謂不知經絡之往來矣。</p>
<p>或問近世補瀉之法，男用大指進前左轉，呼之為補，退後右轉，吸之為瀉，提針為熱，插針為寒；女用大指退後右轉，吸之為補，進前左轉，呼之為瀉，插針為熱，提針為寒，午前如此，午後反之。其法是耶非耶？曰：經云：冬至四十五日，陽氣微上，陰氣微下，夏至四十五日，陰氣微上，陽氣微下。此論一年陰陽之升降也，即此一日陰陽之升降，午前陽升陰降，午後陰升陽降，無分於男女也。考之《內》、《難》，男女臟腑經絡穴俞血氣晝夜周流，無不同。今言午前午後，男女補瀉顛倒錯亂如此，悖經旨也甚矣。故曰：診不知陰陽逆從之理，此治之一失也。又曰：刺實須其虛者，針下寒也，刺虛須其實者，針下熱也。曰寒曰熱，以針下為候，何嘗以提按而分男與女哉！</p>

<h1>十五、針驗摘錄</h1>

<h2>（一）頭風</h2>
<p>袁總統身體素來甚好，其思想與記憶力亦遠過常人。冬日不怕寒，頭更不畏冷，在小站練兵時，於溯風凜烈之中，常光頭出外。初不以為意，後因受風過久，時覺頭痛，一遇思想太過即發。民國初年，遇有不如意事更甚，但不過數日即瘥。三年之春，因某項事逆意，而痛增劇至三十餘日不愈。南通張季直先生電保石屏先師，力言可愈此疾。得京電覆時，適慎庵在滬，師囑隨行。其病系前後腦痛，第一日針百會，第二日針風池、風府，皆以泄風泄熱為主。每一針刺入，袁即感覺腦中發有大聲沖牆倒壁而出，再針如服巴豆、大黃直扶腸胃而下。師曰：此即風散熱降之象，應手而愈。袁總統稱奇不置，厚謝而歸。</p>

<h2>（二）陽痿</h2>
<p>南通張澀老，中年即痿而不興，其時尚未生子。病原由於幼年用腦過度，可見性與腦最有關係，不盡由於性病也。耳石屏師名，情托請治。其時石屏師為富安場鹽大使，情不可卻。為針腎俞、關元、氣海、中極數穴，即日見效。後每覺疲勞時，必延往治。石屏師罷官後，常駐於通，皆澀老為東道主也。一次隨師往，見其僅針關元一穴。因詢一針足乎？師曰：此補精而活其氣，不宜太過，過之則興奮，過甚反於年老陽強陰弱之體不宜。予亦承賜一聯（能以金針引痾起　曾從黃石受書來），並長跋於側，今尚什襲藏之耳。</p>

<h2>（三）中風</h2>
<p>戊辰之秋，張盛全病中風不語。在中西醫束手之時，余為之針百會一穴而蘇，其時人皆以余為善治中風。其實中國之針，何病不可治。己巳春，櫪城曹幼珊先生，忽中風而神昏不語，由張盛全急邀余往，脈已停止，兩目緊閉，呼之不應。詢其家人知病發僅一小時，數日前已覺口眼歪斜。此乃實症，不可誤認為虛，乃為針肩井、三里等處，其脈立出，口已能言。詢其本人，則云四肢麻甚。余復針頭之風府。足之湧泉，三日即能起坐。復刺口角之地倉而口正，刺目眥之睛明而眼不斜，七日即康復如常。八年來體健身輕，雖七十有一，視之如五十許人也。曾以神針壽我四字為贈。</p>

<h2>（四）臂痛</h2>
<p>臂痛不能舉，在醫理上緣因甚多，虛實寒熱皆可使其病也。初起人不留意，後至半身不遂，全體不用，大病造成，治之已遲，此星星之火可以燎原也。褚德彝先生之夫人，臂痛經年，中西雜治，百藥無靈，最後就診於余。其右手不能平肩，日夜酸楚無寧息，斷為肺絡之痰阻滯血脈。為針曲池、合谷，應手而瘥。是以褚先生贈聯（疢石名言徵呂覽　針俞神術闡倉公），有一針而愈之跋，所以紀實也。</p>

<h2>（五）手麻</h2>
<p>吳興陸連奎先生體健無疾，惟左手常麻，曾經中西雜治而不效，皆云防作風疾。前年其夫人因患偏頭風痛為余治愈。而信金針必可療斯疾，針手三里即愈。是以本書序文中曾道及也。凡手足微麻，人都不在意，而不知風症之初多有此類現狀。如不即早圖之，引起他症以至不救者甚多，如腦充血、腦裂、心臟病等。在中醫醫理上追本窮源，皆中風一症之分門別類也。</p>

<h2>（六）盲腸炎</h2>
<p>庚午冬，余受蘇州朱姓之請，頻行有竺氏者來延治盲腸炎，有急不待緩之勢。而朱姓之中風又不能略遲，不得已允以當夜歸來。夜返申時，在站為其迎往。病人年三十許，服務於滬寧鐵路。道其家人曾患盲腸炎剖腹而死。其父羲庵先生年七十有八，見其子病而焦灼，惶急之象，溢於言表。病象在右少腹奇痛，右足不能伸。予只針歸來、三里、氣海數穴，其痛立時即止，足亦能直。三次後即行走如常，來寓就診，五日其病如失。羲庵先生仁和旺族，善繪事而能詩。因其子鹿奇先生之疾，即寫竹屏四幅，中有一詩，「橫截風煙竹兩竿，黃山白岳出群看，金針度盡人間厄，太乙真傳不用丹」之句，乃見其子大病之愈出乎意外，極其高興，故詩畫皆生氣勃勃也。</p>

<h2>（七）中風</h2>
<p>師君蘭亭老而健，某年來滬，寓於浦應仙家。夜半睡醒，忽口眼歪斜，語言難出而半身肢體同時麻痹。延西醫王某治之，謂此病西法並無專藥。如延余診，當有效。師仍遊疑，復請某國醫博士，多方療治，猶不見輕，乃請余治。予謂病在少陰，痱症也。為針氣海、環跳、腎俞等穴。頃刻之間，麻痹半身即能自行轉側，十日即完全告愈。某西醫聞之曰奇矣。師君時已六十有三，次年又生一子。</p>

<h2>（八）腸癖</h2>
<p>書家顏二民患腸癖十餘年，其苦萬狀，中西醫治終未能愈。乙丑余由陝軍謝職歸，遇於邗上，殷殷求治。為針手陽明數穴，以瀉其熱而通其壅，數日而愈。顏書一聯（鐵騎威邊徼　金針度世人）以志感謝。腸癖之症，虛實並有，顏乃實，故效速。如屬虛症，則養陰補脾，清胃固脫，缺一不可。甚矣，同一用針，同一治病，而其難易相差如此。是故學針易，識症難也。</p>

<h2>（九）腳面毒瘀</h2>
<p>甲戌春，往上海某醫院，為某姓治第四期梅毒入絡。因其心臟衰弱，該院無法療治，而由某君求余針之，是以間日必一往。一日聞女病室中，有北方口音之女子，嚶嚶作泣。余問故，某君謂此是警局董隊長之妻，今將鋸腿，是以悲泣。詢其病狀，則云腳面紅腫而痛，已住院六月不瘥。某君慫恿予為之設法，余憐此婦如無足幾等於死，即往詳詢病情，始知由鬱熱而兼外感，邪留經絡，中西雜治，藥石亂投。斷以溫補之劑，邪不能出，下注於足，以致紅腫大痛，氣上衝心，日夜不安，寢食俱廢者數月。余謂此病無需鋸腿，可用別法以救之。而該院之某醫，謂君能愈此病乎？余雲中西醫皆能愈，獨君不識此症耳。先以提毒散瘀外治之法，即在委中放毒血盈升，針三里、懸鐘、三陰交等穴，次日即安，十日大愈。節至中天，惠我角黍金丸，夫妻同來，叩謝再生之恩也。</p>

<h2>（十）肩背痛</h2>
<p>葉氏媼，六十又三，患肩背痛，由頸循督脈而下七八寸，轉側不能，因此兩臂亦痛不能舉，日夜呼號，慘不忍聞。診其脈沉遲，舌絳滑。《靈樞》雲氣勝有餘肩背痛，適在督脈之上，肺實可知。先瀉其肺俞，當夜即能安睡，再針肩井、肩髃、曲池而愈。</p>

<h2>（十一）胸痛</h2>
<p>朱右，年四十二，體素弱，中脘常隱隱作痛已十餘年，時發時愈。近月連痛不已，甚且至於昏厥。初以手按之，痛可暫止，繼則拒按，似覺有一氣塊由下而上，如至鳩尾處則大痛，再至咽間則厥矣。脈大而數，舌黃黑且垢膩，斷為濁陰之氣結於胃脘不散。為針中脘、三里而痛漸止，再刺關元、照海，即下黑色如慄之矢若干粒而愈。</p>

<h2>（十二）子宮岩</h2>
<p>老友解梅生兄之夫人，少腹中硬痛拒按，某西醫謂為子宮生岩。一再檢驗，確定無疑，舍解剖之外更無生理，以此病商之餘。余謂子宮岩乃新病名，其實乃氣血所凝，到處皆可成岩，不獨子宮，宜以氣化之。為針氣海、腎俞諸穴，當日痛止，更數日而塊消。凡有形之病，皆宜設法消散為上策，實在不能消散，再設他法以解之。去塊之法甚多，有急治，有緩治，病實無妨用猛劑以攻之，病虛亦有助其中氣，使其輔正祛邪，亦可漸收大效。</p>

<h2>（十三）腎不納氣</h2>
<p>南海莫君敏莊，僑居燕北有年，平生喜藏金石，是以蒐羅甚富。庚午以臂痛不舉，向余求治。見其行動即喘，脈大而空，兩尺尤少力，入夜則口渴咽乾，小溲頻數。余告以君之本病，乃腎氣不能收納，其臂痛不舉，乃標症也。如不根本治之，花甲之年，豈有腎虛而能延壽者。即針腎俞、關元等穴，並書專門補斂腎氣之方為丸治之。二月之後，本標各病全愈。莫君以其收藏之歷代帝王玉璽印成四屏，並跋予為治病經過以留記念云。</p>

<h2>（十四）臂痛</h2>
<p>宋子良先生患左臂痛，連帶至手，延至三年，百方醫治而無效。後由某外醫為之解剖，先後六次，痛勢仍不少減，且不能確指此症究屬何病。最後延余治之，身強體壯，一望而知為康健之體，脈亦堅實，飲食起居，無一不好。惟右手掌背之肌肉瘦削異常，僅餘皮骨，以虎口萎縮尤甚。多處穴道，無法下針，只好先針曲池，去針以後，云甚鬆快。次日告余曰：往日多為痛醒，今晨居然醒而不痛。計針三日，痛勢全愈。惜合谷一穴，因肌肉縮盡，僅餘上下二層皮，無受針之餘地。蓋解剖之術只能施之於有形，可以割而棄之。若經絡之氣為邪所傷，無形無影，於此而加以剖割，此在高明之西醫或可優為之，而在中醫之治法中，則殊不能贊一詞也。</p>

<h2>（十五）心癢</h2>
<p>丙寅春，余來遊滬，時下榻同益公。其司賬何紹全，邗人也，素有心癢病，聞余至，欣然向予求治。自述病起於八年前，初覺癢時，異常難受，百治不效。後為癢所逼，狂奔多時，居然癢止。起初二三月一發，後即愈來愈勤，現在一日一夜之中亦屢發不止。雖嚴冬亦不暇著衣，癢發時，非速奔不快。予謂此乃心氣鬱結，血液過膩所致。狂奔則結氣解散，血亦轉清，此所以有效也。為針肺經雲門，心包絡天池、內關各穴，專用瀉氣散血之法。二次以後，癢不復發，此亦奇疾之一也。</p>

<h2>（十六）腰痛</h2>
<p>甘鏡先律師，留歐美有年，飲食起居皆有西洋化，以致遇有疾病，亦無不用外醫。一日其夫人病腰痛不能輾轉，注射電療諸法無不用盡，終歸無效。余素與甘友善，甘乃詢以斯疾足下金針能愈否。余答金針無病不治，何況區區腰痛。乃刺腎俞，一補而瘥，鏡先以神術目之。夫腰痛之起因甚多，虛實寒熱皆有，須看準病原，自然發無虛射。甘夫人乃腎虛腰痛，如認為實症，用力去邪，殆矣。如孫東吳俞逸芬諸子，皆患此病，無不病隨針去，而針法亦各不同。蓋皆按照各人病原針之，不是千篇一律也。</p>

<h2>（十七）膈食</h2>
<p>姚守仁先生之夫人，肝木不和，體又素弱，于歸十載，未經生育，以此肝脾之病影響於胃，發生膈症。三年來不能進粒米，僅以流汁度其生命，咽中如有物窒塞，腹雖覺飢而不能下咽，夜來必有潮熱，經亦不調而多帶。細思非舒肝和脾，不能開其生機，徒治胃病，如以石投水。乃先刺期門，再針膈俞、白環俞、中脘、中極等穴，食欲大增，升能經調帶止。今年已育麟兒，此乃病理中應有之效，並非出乎意外也。</p>

<h2>（十八）胃病</h2>
<p>曾則生任滬保安處副處長時，曾病胃疾，食不甘味，中脘作痛，日漸瘦削，臥床數月，幾無生理。解震皋先生與則生有師生之誼，往探其病，而則生淚出，以為生機絕望。震皋先生以其侄梅生兄曾有痼疾，為余所愈，令延予治之。詢其經過，中西雜治，補瀉兼施，終無起色。予只為針中脘、關元諸穴，其疾良已。蓋曾君之病，不過胃陽不足，消化不良，以致失其營養。治法雖多，毫不中病，誅伐無過，安得生機。予不過為之撥動機關，令其胃陽暢遂而已，豈有其他妙巧哉！</p>

<h2>（十九）蛇蠱</h2>
<p>蠱症江浙不多見，余隨宦在川滇及遊歷兩廣，曾有聞見放蠱害人之說。謂由五毒蠱合而為一，飲食起居坐臥之地，皆能傳毒，此齊東野語，不見經傳之談。然亦有受山嵐瘴氣，腹中便爾成形，或水土不宜，初到水遠山遙之地，體質與風土不合，亦易發生此病。庚午，奧人陳姓，肢痛治愈後，其家一區姓媼云有胃疾，余以為普通胃病，囑其來寓針之可也。越日媼來求治，自云病已七年，而中脘墳起，腹飢則痛，多吃不易消化之物則安。七年來，日漸加重，人則奇瘦，其脈大小不一，頃刻異狀，其舌滿布紅白相間，雜之小點，而如蒙以一層灰白之薄苔，斷為蠱症無疑，試針數處。次日再來，云不針尚可，針後雖多食而痛不能止。即為再針中脘，不十分鐘而狂呼大痛，欲自拔其針，禁之則云要吐，口即噴出奇臭之水，隨出一物，類似蛇形，長逾一尺。蠕蠕而動。同時診室中之病者，皆帶針而逃，一時秩序大亂，而區媼暈矣。頃刻即蘇，七年痼疾，經此一針，病根全去，良深快慰。憐其貧困，乃以藥物助其調理，不久即平復如常。</p>

<h2>（二十）乾血</h2>
<p>曹女年十七，忽停經九月，人漸瘦，脈沉實，舌白，口渴心燒，中脘痛，少腹左脅下痛而拒按，夜來潮熱盜汗，便結溲少而熱，微咳無痰，皮膚枯燥，肌如甲錯，無一不是乾血癆之症狀。但室女停經與婦人稍異，治法亦各有不同，較之曾經生育之婦人尤為棘手。乃一方用去瘀之法，刺其肝脾各經之穴，其腹痛拒按之狀漸解，一方又以培養新血之法，從期門等穴啟其生機，心燒潮熱等症亦退。前後月餘，其經復至，諸病霍然。</p>

<h2>（二十一）死脈</h2>
<p>一日在蔣某家治疾，有附診者一。三十許之婦人，云日來偶覺胃納不健，請書一開胃方劑，按其脈大異之。詢其有無他狀，云無。余未書方而告其家人曰：殆矣。其脈二十至必一停，停後不能復還，繼而復動，則與前後不能接續。經云一息不運則生機窮。此在脈法中謂之代脈，雖無大病，必難久存。蔣某以余故神其說，未之信。十餘日後，忽患氣塞而沒，是乃氣脫，非真窒塞也。至此方信余言之不謬。</p>

<h2>（二十二）小腸氣</h2>
<p>名畫師金健吾，乙丑春病小腸氣，左囊腫大，寒熱交作，轉側不能者有日矣。余因嗜畫，耳其名，由友人之請託而往診。乃為針歸來、腎俞、氣海諸穴，數日即愈，今已十餘年而未一發。夫小腸氣之病，雖似有形，而實為氣所結，其氣一散，其形立消。今之醫家，誤認為實。在有形之病，可以割而棄之，豈知此等病朝割去而夕復生，屢生屢割，不死不止。不揣其本而齊其末，即在他事，且猶不可，況病關生死，豈可草率從動，用剖割草菅人命。因論小腸氣，而可悟其他類似之病狀治法矣。</p>

<h2>（二十三）齒痛</h2>
<p>黃金榮先生病齒痛二十餘日，遍服清瀉苦降之劑，始終不效，寢食為之不安。余適有他事往謁，問此病針法能治否？余謂舍蛀齒外皆可治也。即為針合谷、呂細等穴，針去痛除。先生云金針治病如此神速，悔不早用之，致多受二十餘日之痛楚云。</p>

<h2>（二十四）腰痛</h2>
<p>中外醫家商討金針醫學時，有同文書院院長大內暢三先生在坐，詢及金針能治年久腰痛否？余曰可。間日邀診，謂餘年六十有二，病已十又三年，平日起居坐臥均感不便，惟陰雨之先，節氣之前，不但不能轉側，且腰部膚冷如冰。中西雜治，終未離去痛苦。前曾一度歸國，請其國中著名針灸家治之，亦無大效。言次即以手臂腰腿等處之灸疤出視。余謂《內經》云太陽所至為腰痛。太陽，膀胱府也。又云腰為腎之府，轉側不能，腎將憊矣。今既不能轉搖，而腰部肌肉又異常覺冷，其為腎陽衰敗無疑，宜溫通腎府，以去寒濕而助元陽。即針腎俞，腰部立覺奇暖，去針後即起立如常，謂十餘年之痛苦去於一針，何神速乃爾，即書東亞神術四字為贈。</p>

<h1>跋</h1>
<p>《金針秘傳》為吾師合肥方先生慎庵手著。師世家子嫺兵法，總師千軍旅之餘，得黃公石屏金針秘訣，十年來蔽蓰尊榮，行道海上，起死人而肉白骨何可勝紀。竊惟一命之士必懷濟人利物之心，良相良醫本有異途同歸之趣。誦古人一將成功萬骨枯之句，則舍彼就此，人爵何如天爵乎！癡佛浮沉宦海，無補時艱，一官匏繫非所願也。前年函求方師指示金針大法，蒙恩開導，遙沐春風，獲其餘緒，頗有奇效。推吾師之學而廣之，不亦足以濟世活人耶。今師將黃公石屏所授秘訣及歷代針經之奧妙，著成此書，則活人功德垂百世而無替也。</p>
<p><u>中華民國二十六年一月弟子趙癡佛謹書于山東高等法院</u></p>
