<header data-type="book">
<h1>保赤新書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>惲鐵樵</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>1936年上海章句膺醫寓發行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-002462125">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>
