<header data-type="book">
<h1>傷寒論（宋本）</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張機</dd></div>
<div><dt>朝代</dt><dd>東漢</dd></div>
<div><dt>年份</dt><dd><data value="0025/0220">公元25年至公元220年</data></dd></div>
<div><dt>品質</dt><dd>65%</dd></div>
<div><dt>底本</dt><dd>《仲景全書·傷寒論》，明萬曆二十七年趙開美刊本（<a href="https://rbk-doc.npm.edu.tw">國立中央圖書館典藏國立北平圖書館善本</a>：平圖011603–011604）；日本安政三年覆刊明萬曆間趙開美本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀003364–003367）；日本鈔本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=e668c4ba9def4310bd6fce38d33333c3fDcyMTI40&SourceID=0">國家圖書館掃描本</a>）；舊鈔本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=cdb6175100b64d5f9f3fa37532fe91c8fDcyMTI30&SourceID=0">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>
<h2>林億校序</h2>
<p>夫《傷寒論》，蓋祖述大聖人之意，諸家莫其倫擬。故晉皇甫謐序《甲乙針𦀇》云：伊尹以元聖之才，撰用《神農夲草》，以為湯液。漢張仲景論廣湯液，為數十卷，用之多驗。近世太醫令王叔和，撰次仲景遺論甚精，皆可施用。是仲景夲伊尹之法，伊尹夲神農之𦀇，得不謂祖述大聖人之意乎？</p>
<p>張仲景《漢書》無傳。見《名醫錄》云：南陽人，名機，仲景乃其字也。舉孝廉，官至長沙太守，始受術於同郡張伯祖。時人言，識用精㣲過其師。所著論，其言精而奧，其法簡而詳，非淺聞寡見者所能及。自仲景於𫝆八百餘年，惟王叔和能學之，其間如葛洪、陶<span data-rev="校"><small class="雙行夾注">弘</small></span>景、胡洽、徐之才、孫思邈輩，非不才也，但各自名家，而不能修明之。開寶中，節度使高繼沖，曾編錄進上。其文理舛錯，未嘗考正。歷代雖藏之書府，亦闕於讎校，是使治病之流，舉天下無或知者。國家詔儒臣校正醫書，臣竒續被其選。以為百病之急，無急於傷寒。𫝆先校定張仲景《傷寒論》十卷，總二十二篇，證外合三百九十七法，除重複，定有一百一十二方，𫝆請頒行。</p>
<p>　　　　太子右賛善大夫臣　　　　　高保𢖍<br>
　　　　尚書屯田員外郎臣　　　　　孫　竒<br>
　　　　尚書司封郎中秘閣校理臣　　林　億<br>
　　　　　　　　　　　　　　　　　　　等　謹上</p>
<h2>張仲景原序</h2>
<p>論曰：余每覽越人入虢之診，望齊侯之色，未嘗不慨然嘆其才秀也。怪當𫝆居世之士，曾不留神醫藥，精究方術，上以療君親之疾，下以救貧賤之厄，中以保身長全，以養其生。但競逐榮勢，企踵權豪，孜孜汲汲，惟名利是務；崇飾其末，忽棄其夲，華其外而悴其内。皮之不存，毛将安附焉？卒然遭邪風之氣，嬰非常之疾，患及禍至，而方震慄。降志屈節，欽望巫祝，告窮歸天，束手受敗。齎百年之壽命，持至貴之重器，委付凡醫，恣其所措。咄嗟嗚呼！厥身已斃，神明消滅，變為異物，幽潛重泉，徒為啼泣。痛夫！舉世昏迷，莫能覺悟，不惜其命，若是輕生，彼何榮勢之云哉？而進不能愛人知人，退不能愛身知已，遇災值禍，身居厄地；矇矇昧昧，蠢若游魂。哀乎！趨世之士，馳競浮華，不固根夲，忘軀徇物，危若冰谷，至於是也！</p>
<p>余宗族素多，向餘二百。建安紀年以来，猶未十稔，其死亡者，三分有二，傷寒十居其七。感往昔之淪喪，傷橫夭之莫救，乃勤求古訓，博采眾方，撰用《素問》、《九卷》、《八十一難》、《隂陽大論》、《胎臚藥錄》，并平脉辨證，為《傷寒雜病論》合十六卷，雖未能盡愈諸病，庶可以見病知源，若能尋余所集，思過半矣。</p>
<p>夫天布五行，以運萬類；人稟五常，以有五臟。𦀇絡府俞，隂陽會通；玄冥幽㣲，變化難極。自非才高識妙，豈能探其理致哉！上古有神農、黄帝、歧伯、伯高、雷公、少俞、少師、仲文，中世有長桑、扁鵲，漢有公乘陽慶及倉公。下此以往，未之聞也。</p>
<p>觀𫝆之醫，不念思求𦀇旨，以演其所知；各承家技，終始順舊。省疾問病，務在口給；相對斯須，便處湯藥。按寸不及尺，握手不及足；人迎、趺陽，三部不參；動數𤼵息，不滿五十。短期未知決診，九候曾無彷彿。明堂闕庭，盡不見察，所謂窺管而已。夫能視死別生，實為難矣！</p>
<p>孔子云：生而知之者上，學則亞之。多聞博識，知之次也。余素尚方術，請事斯語。</p>
<h2>卷第一</h2>
<h3>辨脉法第一</h3>
<p>問曰：脉有隂陽者，何謂也？荅曰：凡脉大、浮、數、動、滑，此名陽也；脉沈、濇、弱、弦、㣲，此名隂也，凡隂病見陽脉者生，陽病見隂脉者死。</p>
<p>問曰：脉有陽結隂結者，何以別之？荅曰：其脉浮而數，能食，不大便者，此為實，名曰陽結也，期十七日當劇。其脉沈而遲，不能食，身體重，大便反鞕，名曰隂結也，期十四日當劇。</p>
<p>問曰：病有洒淅惡寒而復𤼵𤍠者何？荅曰：隂脉不足，陽往從之；陽脉不足，隂往乘之。曰：何謂陽不足？荅曰：假令寸口脉㣲，名曰陽不足，隂氣上入陽中，則洒淅惡寒也。曰：何謂隂不足？荅曰：假令尺脉弱，名曰隂不足，陽氣下䧟入隂中，則𤼵𤍠也。陽脉浮<span data-rev="注"><small class="雙行夾注">一作㣲</small></span>隂脉弱者，則血虗。血虗則筋急也。其脉沈者，榮氣㣲也。其脉浮，而汗出如流珠者，衛氣衰也。榮氣㣲者，加燒針，則血流不行，更𤼵𤍠而躁煩也。</p>
<p>脉藹藹，如車蓋者，名曰陽結也。<span data-rev="注"><small class="雙行夾注">一云秋脉</small></span></p>
<p>脉纍纍，如循長竿者，名曰隂結也。<span data-rev="注"><small class="雙行夾注">一云夏脉</small></span></p>
<p>脉瞥瞥，如羹上肥者，陽氣㣲也。</p>
<p>脉縈縈，如蜘蛛絲者，陽氣衰也。<span data-rev="注"><small class="雙行夾注">一云隂氣</small></span></p>
<p>脉綿綿，如瀉漆之絶者，亡其血也。</p>
<p>脉来緩，時一止復来者，名曰結。脉来數，時一止復来者，名曰促<span data-rev="注"><small class="雙行夾注">一作縱</small></span>。脉陽盛則促，隂盛則結，此皆病脉。</p>
<p>隂陽相摶，名曰動。陽動則汗出，隂動則𤼵𤍠。形冷惡寒者，此三焦傷也。</p>
<p>若數脉見於𨵿上，上下無頭尾，如豆大，厥厥動搖者，名曰動也。</p>
<p>陽脉浮大而濡，隂脉浮大而濡，隂脉與陽脉同等者，名曰緩也。</p>
<p>脉浮而緊者，名曰弦也。弦者狀如弓弦，按之不移也。脉緊者，如轉索無常也。</p>
<p>脉弦而大，弦則為減，大則為芤。減則為寒，芤則為虗。寒虗相摶，此名為革。婦人則半產、漏下，男子則亡血、失精。</p>
<p>問曰：病有戰而汗出，因得觧者，何也？荅曰：脉浮而緊，按之反芤，此為夲虗，故當戰而汗出也。其人夲虗，是以𤼵戰。以脉浮，故當汗出而觧也。</p>
<p>若脉浮而數，按之不芤，此人夲不虗；若欲自觧，但汗出耳。不𤼵戰也。</p>
<p>問曰：病有不戰而汗出觧者，何也？荅曰：脉大而浮數，故知不戰，汗出而觧也。</p>
<p>問曰：病有不戰不汗出而觧者，何也？荅曰：其脉自㣲，此以曾𦀇𤼵汗、若吐、若下、若亡血，以内無津液，此隂陽自和，必自愈，故不戰不汗出而觧也。</p>
<p>問曰：傷寒三日，脉浮數而㣲，病人身涼和者，何也？荅曰：此為欲觧也，觧以夜半。脉浮而觧者，濈然汗出也；脉數而觧者，必能食也；脉㣲而觧者，必大汗出也。</p>
<p>問曰：脉病，欲知愈未愈者，何以別之？荅曰：寸口、𨵿上、尺中三處，大小、浮沈、遲數同等，雖有寒𤍠不觧者，此脉隂陽為和平，雖劇當愈。</p>
<p>立夏得洪<span data-rev="注"><small class="雙行夾注">一作浮</small></span>大脉，是其夲位。其人病身體苦疼重者，須𤼵其汗。若明日身不疼不重者，不須𤼵汗。若汗濈濈自出者，明日便觧矣。何以言之？立夏得洪大脉，是其時脉，故使然也。四時倣此。</p>
<p>問曰：凡病欲知何時得，何時愈？荅曰：假令夜半得病，明日日中愈；日中得病，夜半愈。何以言之？日中得病，夜半愈者，以陽得隂則觧也；夜半得病，明日日中愈者，以隂得陽則觧也。</p>
<p>寸口脉浮為在表，沈為在裏，數為在府，遲為在藏。假令脉遲，此為在藏也。</p>
<p>趺陽脉浮而濇，少隂脉如𦀇也，其病在脾，法當下利。何以知之？若脉浮大者，氣實血虗也。𫝆趺陽脉浮而濇，故知脾氣不足，胃氣虗也。以少隂脉弦而浮<span data-rev="注"><small class="雙行夾注">一作沈</small></span>，才見此為調脉，故稱如𦀇也。若反滑而數者，故知當屎膿也<span data-rev="注"><small class="雙行夾注">玉函作溺</small></span>。</p>
<p>寸口脉浮而緊，浮則為風，緊則為寒；風則傷衛，寒則傷榮。榮衛俱病，骨節煩疼，當𤼵其汗也。</p>
<p>趺陽脉遲而緩，胃氣如𦀇也。趺陽脉浮而數，浮則傷胃，數則動脾，此非夲病，醫特下之所為也。榮衛内䧟，其數先㣲，脉反但浮，其人必大便鞕，氣噫而除。何以言之？夲以數脉動脾，其數先㣲，故知脾氣不治，大便鞕，氣噫而除。𫝆脉反浮，其數改㣲，邪氣獨留，心中則饑，邪𤍠不殺穀，潮𤍠𤼵渴，數脉當遲緩，脉因前後度數如法，病者則饑。數脉不時，則生惡瘡也。</p>
<p>師曰：病人脉㣲而濇者，此為醫所病也。大𤼵其汗，又數大下之，其人亡血，病當惡寒，後乃𤼵𤍠，無休止時，夏月盛𤍠，欲著複衣，冬月盛寒，欲裸其身。所以然者，陽㣲則惡寒，隂弱則𤼵𤍠，此醫𤼵其汗，令陽氣㣲，又大下之，令隂氣弱。五月之時，陽氣在表，胃中虗冷，以陽氣内㣲，不能勝冷，故欲著複衣；十一月之時，陽氣在裏，胃中煩𤍠，以隂氣内弱，不能勝𤍠，故欲裸其身。又隂脉遲濇，故知血亡也。</p>
<p>脉浮而大，心下反鞕，有𤍠屬藏者，攻之，不令𤼵汗。屬府者，不令溲數。溲數則大便鞕，汗多則𤍠愈，汗少則便難，脉遲，尚未可攻。</p>
<p>脉浮而洪，身汗如油，喘而不休，水漿不下，體形不仁，乍靜乍亂，此為命絶也。又未知何藏先受其災，若汗出、髪潤、喘不休者，此為肺先絶也。陽反獨留，形體如煙熏，直視搖頭，此心絶也。唇吻反青，四肢漐習者，此為肝絶也。環口黧黑，柔汗𤼵黄者，此為脾絶也。溲便遺失，狂言，目反直視者，此為腎絶也。</p>
<p>又未知何藏隂陽前絶，若陽氣前絶，隂氣後竭者，其人死，身色必青；隂氣前絶，陽氣後竭者，其人死，身色必赤，腋下溫，心下𤍠也。</p>
<p>寸口脉浮大，而醫反下之，此為大逆。浮則無血，大則為寒，寒氣相摶，則為腸鳴，醫乃不知，而反飲冷水，令汗大出，水得寒氣，冷必相摶，其人即䭇。趺陽脉浮，浮則為虗，浮虗相摶，故令氣䭇，言胃氣虗竭也，脉滑則為噦。此為醫咎，責虗取實，守空迫血。脉浮、鼻中燥者，必衄也。</p>
<p>諸脉浮數，當𤼵𤍠，而洒淅惡寒，若有痛處，飲食如常者，畜積有膿也。脉浮而遲，靣𤍠赤而戰惕者，六七日當汗出而觧。反𤼵𤍠者，差遲。遲為無陽，不能作汗，其身必痒也。</p>
<p>寸口脉隂陽俱緊者，法當清邪中於上焦，濁邪中於下焦。清邪中上，名曰潔也；濁邪中下，名曰渾也。隂中於邪，必内慄也，表氣㣲虗，裏氣不守，故使邪中於隂也。陽中於邪，必𤼵𤍠、頭痛、項强、頸攣、腰痛、脛酸。所為陽中霧露之氣，故曰清邪中上，濁邪中下。隂氣為慄，足膝逆冷，便溺妄出，表氣㣲虗，裏氣㣲急，三焦相溷，内外不通。上焦怫鬱，藏氣相熏，口爛食斷也。中焦不治，胃氣上衝，脾氣不轉，胃中為濁，榮衛不通，血凝不流。若衛氣前通者，小便赤黄，與𤍠相摶，因𤍠作使，遊於𦀇絡，出入藏府，𤍠氣所過，則為癰膿。若隂氣前通者，陽氣厥㣲，隂無所使，客氣内入，嚏而出之，聲嗢<span data-rev="注"><small class="雙行夾注">乙骨切</small></span>咽塞，寒厥相逐，為𤍠所擁，血凝自下，狀如豚肝。隂陽俱厥，脾氣孤弱，五液注下，下焦不闔，清便下重，令便數難，臍築湫痛，命将難全。</p>
<p>脉隂陽俱緊者，口中氣出，唇口乾燥，踡臥足冷，鼻中涕出，舌上胎滑，勿妄治也。到七日已来，其人㣲𤼵𤍠，手足溫者，此為欲觧；或到八日以上，反大𤼵𤍠者，此為難治。設使惡寒者，必欲嘔也；腹内痛者，必欲利也。</p>
<p>脉隂陽俱緊，至於吐利，其脉獨不觧，緊去人安，此為欲觧。若脉遲至六七日，不欲食，此為晚𤼵，水停故也，為未觧；食自可者，為欲觧。</p>
<p>病六七日，手足三部脉皆至，大煩而口噤不能言，其人躁擾者，必欲觧也。若脉和，其人大煩，目重，瞼内際黄者，此為欲觧也。</p>
<p>脉浮而數，浮為風，數為虗，風為𤍠，虗為寒，風虗相摶，則洒淅惡寒也。</p>
<p>脉浮而滑，浮為陽，滑為實，陽實相摶，其脉數疾，衛氣失度，浮滑之脉數疾，𤼵𤍠汗出者，此為不治。</p>
<p>傷寒欬逆上氣，其脉散者死，謂其形損故也。</p>
<h3>平脉法第二</h3>
<p>問曰：脉有三部，隂陽相乘；榮衛血氣，在人體躬；呼吸出入，上下於中；因息遊布，津液流通；隨時動作，效象形容，春弦秋浮，冬沈夏洪；察色觀脉，大小不同；一時之間，變無𦀇常；尺寸參差，或短或長；上下乖錯，或存或亡；病輒改易，進退低昂；心迷意惑，動失紀綱；願為具陳，令得分明。
師曰：子之所問，道之根源。脉有三部，尺寸及𨵿；榮衛流行，不失𢖍銓；腎沈心洪，肺浮肝弦；此自𦀇常，不失銖分；出入升降，漏刻周旋；水下二刻，一周循環；當復寸口，虗實見焉；變化相乘，隂陽相干；風則浮虗，寒則牢堅；沈潛水畜，支飲急弦；動則為痛，數則𤍠煩；設有不應，知變所緣；三部不同，病各異端；太過可怪，不及亦然；邪不空見，中必有奸；審察表裏，三焦別焉；知其所舍，消息診看；料度府藏，獨見若神。為子條記，傳與賢人。</p>
<p>師曰：呼吸者，脉之頭也。𭃡持脉，来疾去遲，此出疾入遲，名曰内虗外實也。𭃡持脉，来遲去疾，此出遲入疾，名曰内實外虗也。</p>
<p>問曰：上工望而知之，中工問而知之，下工脉而知之，願聞其說。師曰：病家人請云，病人若𤼵𤍠，身體疼，病人自臥。師到，診其脉，沈而遲者，知其差也。何以知之？表有病者，脉當浮大，𫝆脉反沈遲，故知愈也。</p>
<p>假令病人云，腹内卒痛，病人自坐。師到，脉之，浮而大者，知其差也。何以知之？若裏有病者，脉當沈而細，𫝆脉浮大，故知愈也。</p>
<p>師曰：病家人来請云，病人𤼵𤍠煩極。明日師到，病人向壁臥，此𤍠已去也。設令脉不和，處言已愈。設令向壁臥，聞師到，不驚起而盼視，若三言三止，脉之嚥唾者，此詐病也。設令脉自和，處言汝病大重，當須服吐下藥，針灸數十百處乃愈。</p>
<p>師持脉，病人欠者，無病也；脉之呻者，病也；言遲者，風也；搖頭言者，裏痛也；行遲者，表强也；坐而伏者，短氣也；坐而下一腳者，腰痛也；裏實護腹，如懷卵物者，心痛也。</p>
<p>師曰：伏氣之病，以意候之。𫝆月之内，欲有伏氣，假令舊有伏氣，當須脉之。若脉㣲弱者，當喉中痛似傷，非喉𤷒也。病人云：實咽中痛。雖爾，𫝆復欲下利。</p>
<p>問曰：人病恐怖者，其脉何狀？師曰：脉形如循絲，纍纍然，其靣白脫色也。</p>
<p>問曰：人不飲，其脉何類？師曰：其脉自濇，唇口乾燥也。</p>
<p>問曰：人愧者，其脉何類？師曰：脉浮，而靣色乍白乍赤。</p>
<p>問曰：𦀇說脉有三菽、六菽重者，何謂也？師曰：脉者，人以指按之，如三菽之重者，肺氣也；如六菽之重者，心氣也；如九菽之重者，脾氣也；如十二菽之重者，肝氣也；按之至骨者，腎氣也。</p>
<p>假令下利，寸口、𨵿上、尺中悉不見脉，然尺中時一小見，脉再舉頭者，腎氣也。若見損脉来至，為難治。</p>
<p>問曰：脉有相乘，有縱有橫，有逆有順，何也？師曰：水行乘火，金行乘木，名曰縱；火行乘水，木行乘金，名曰橫；水行乘金，火行乘木，名曰逆；金行乘水，木行乘火，名曰順也。</p>
<p>問曰：脉有殘賊，何謂也？師曰：脉有弦、緊、浮、滑、沈、濇，此六者名曰殘賊，能為諸脉作病也。</p>
<p>問曰：脉有災怪，何謂也？師曰：假令人病，脉得太陽，與形證相應，因為作湯。比還送湯如食頃，病人乃大吐，若下利，腹中痛。師曰：我前来不見此證，𫝆乃變異，是名災怪。又問曰：何緣作此吐利？荅曰：或有舊時服藥，𫝆乃𤼵作，故名災怪耳。</p>
<p>問曰：東方肝脉，其形何似？師曰：肝者木也，名厥隂，其脉㣲弦，濡弱而長，是肝脉也。肝病自得濡弱者，愈也。假令得純弦脉者，死。何以知之？以其脉如弦直，是肝藏傷，故知死也。</p>
<p>南方心脉，其形何似？師曰：心者火也，名少隂，其脉洪大而長，是心脉也。心病自得洪大者，愈也。假令脉来㣲去大，故名反，病在裏也；脉来頭小夲大者，故名覆，病在表也。上㣲頭小者，則汗出；下㣲夲大者，則為𨵿格不通，不得尿，頭無汗者可治，有汗者死。</p>
<p>西方肺脉，其形何似？師曰：肺者金也，名大隂，其脉毛浮也，肺病自得此脉。若得緩遲者，皆愈；若得數者，則劇。何以知之？數者南方火，火剋西方金，法當癰腫，為難治也。</p>
<p>問曰：二月得毛浮脉，何以處言至秋當死？師曰：二月之時，脉當濡弱，反得毛浮者，故知至秋死。二月肝用事，肝脉屬木，應濡弱，反得毛浮者，是肺脉也。肺屬金，金来剋木，故知至秋死。他皆倣此。</p>
<p>師曰：脉肥人責浮，瘦人責沈。肥人當沈，𫝆反浮；瘦人當浮，𫝆反沈，故責之。</p>
<p>師曰：寸脉下不至𨵿，為陽絶；尺脉上不至𨵿，為隂絶。此皆不治，決死也。若計其餘命死生之期，期以月節剋之也。</p>
<p>師曰：脉病人不病，名曰行尸，以無王氣，卒眩僕不識人者，短命則死。人病脉不病，名曰内虗，以無穀神，雖困無苦。</p>
<p>問曰：翕奄沈，名曰滑，何謂也？沈為純隂，翕為正陽，隂陽和合，故令脉滑。𨵿尺自平，陽明脉㣲沈，食飲自可。少隂脉㣲滑，滑者緊之浮名也，此為隂實，其人必股内汗出，隂下濕也。</p>
<p>問曰：曾為人所難，緊脉從何而来？師曰：假令亡汗、若吐，以肺裏寒，故令脉緊也。假令欬者，坐飲冷水，故令脉緊也。假令下利，以胃中虗冷，故令脉緊也。</p>
<p>寸口衛氣盛，名曰高；榮氣盛，名曰章；高章相摶，名曰綱。衛氣弱，名曰惵；榮氣弱，名曰卑；惵卑相摶，名曰損。衛氣和，名曰緩；榮氣和，名曰遲；遲緩相摶，名曰沈。</p>
<p>寸口脉緩而遲，緩則陽氣長，其色鮮，其顏光，其聲商，毛髪長；遲則隂氣盛，骨髓生，血滿，肌肉緊薄鮮鞕。隂陽相抱，榮衛俱行，剛柔相摶，名曰强也。</p>
<p>趺陽脉滑而緊，滑者胃氣實，緊者脾氣强。持實擊强，痛還自傷，以手把刃，坐作瘡也。</p>
<p>寸口脉浮而大，浮為虗，大為實。在尺為𨵿，在寸為格。𨵿則不得小便，格則吐逆。</p>
<p>趺陽脉伏而濇，伏則吐逆，水穀不化，濇則食不得入，名曰𨵿格。</p>
<p>脉浮而大，浮為風虗，大為氣强；風氣相摶，必成癮疹，身體為痒，痒者名泄風，久久為痂癩。</p>
<p>寸口脉弱而遲，弱者衛氣㣲，遲者榮中寒。榮為血，血寒則𤼵𤍠；衛為氣，氣㣲者心内饑，饑而虗滿不能食也。</p>
<p>趺陽脉大而緊者，當即下利，為難治。</p>
<p>寸口脉弱而緩，弱者陽氣不足，緩者胃氣有餘，噫而吞酸，食卒不下，氣填於膈上也<span data-rev="注"><small class="雙行夾注">一作下</small></span>。</p>
<p>趺陽脉緊而浮，浮為氣，緊為寒；浮為腹滿，緊為絞痛。浮緊相摶，腸鳴而轉，轉即氣動，隔氣乃下，少隂脉不出，其隂腫大而虗也。</p>
<p>寸口脉㣲而濇，㣲者衛氣不行，濇者榮氣不足。榮衛不能相将，三焦無所仰，身體𤷒不仁。榮氣不足，則煩疼，口難言；衛氣虗，則惡寒數欠。三焦不歸其部，上焦不歸者，噫而酢吞；中焦不歸者，不能消穀引食；下焦不歸者，則遺溲。</p>
<p>趺陽脉沈而數，沈為實，數消穀。緊者，病難治。</p>
<p>寸口脉㣲而濇，㣲者衛氣衰，濇者榮氣不足。衛氣衰，靣色黄；榮氣不足，靣色青。榮為根，衛為葉，榮衛俱㣲，則根葉枯槁，而寒慄、欬逆唾腥、吐涎沫也。</p>
<p>趺陽脉浮而芤，浮者衛氣衰，芤者榮氣傷。其身體瘦，肌肉甲錯，浮芤相摶，宗氣衰㣲，四屬斷絶。</p>
<p>寸口脉㣲而緩，㣲者衛氣疏，疏則其膚空；緩者胃氣實，實則穀消而水化也。穀入於胃，脉道乃行，而入於𦀇，其血乃成。榮盛則其膚必疏，三焦絶𦀇，名曰血崩。</p>
<p>趺陽脉㣲而緊，緊則為寒，㣲則為虗，㣲緊相摶，則為短氣。</p>
<p>少隂脉弱而濇，弱者㣲煩，濇者厥逆。</p>
<p>趺陽脉不出，脾不上下，身冷膚鞕。</p>
<p>少隂脉不至，腎氣㣲，少精血，奔氣促迫，上入胷隔，宗氣反聚，血結心下，陽氣退下，𤍠歸隂股，與隂相動，令身不仁，此為尸厥，當刺期門、巨闕。</p>
<p>寸口脉㣲，尺脉緊，其人虗損多汗，知隂常在，絶不見陽也。</p>
<p>寸口諸㣲亡陽，諸濡亡血，諸弱𤼵𤍠，諸緊為寒。諸乘寒者，則為厥，鬱冒不仁，以胃無穀氣，脾濇不通，口急不能言，戰而慄也。</p>
<p>問曰：濡弱何以反適十一頭？師曰：五藏六府相乘，故令十一。</p>
<p>問曰：何以知乘府，何以知乘藏？師曰：諸陽浮數為乘府，諸隂遲濇為乘藏也。</p>
<h2>卷第二</h2>
<h3>傷寒例第三</h3>
<p>隂陽大論云：春氣溫和，夏氣暑𤍠，秋氣清涼，冬氣冷冽，此則四時正氣之序也。冬時嚴寒，萬類深藏，君子固密，則不傷於寒。觸冒之者，乃名傷寒耳。其傷於四時之氣，皆能為病。以傷寒為毒者，以其最成殺厲之氣也。中而即病者，名曰傷寒；不即病者，寒毒藏於肌膚，至春變為溫病，至夏變為暑病。暑病者，𤍠極重於溫也。是以辛苦之人，春夏多溫𤍠病，皆由冬時觸寒所致，非時行之氣也。凡時行者，春時應暖，而復大寒；夏時應大𤍠，而反大涼；秋時應涼，而反大𤍠；冬時應寒，而反大溫。此非其時而有其氣，是以一歲之中，長幼之病多相似者，此則時行之氣也。</p>
<p>夫欲候知四時正氣為病，及時行疫氣之法，皆當按斗曆占之。九月霜降節後，宜漸寒，向冬大寒，至正月雨水節後，宜觧也。所以謂之雨水者，以冰雪觧而為雨水故也。至驚蟄二月節後，氣漸和暖，向夏大𤍠，至秋便涼。</p>
<p>從霜降以後，至春分以前，凡有觸冒霜露，體中寒即病者，謂之傷寒也。其冬有非節之暖者，名曰冬溫。冬溫之毒，與傷寒大異。冬溫復有先後，更相重沓，亦有輕重，為治不同，證如後章。</p>
<p>從立春節後，其中無暴大寒，又不冰雪；而有人壯𤍠為病者，此屬春時陽氣，𤼵於冬時伏寒，變為溫病。</p>
<p>從春分以後，至秋分節前，天有暴寒者，皆為時行寒疫也。三月四月，或有暴寒，其時陽氣尚弱，為寒所折，病𤍠猶輕；五月六月，陽氣已盛，為寒所折，病𤍠則重；七月八月，陽氣已衰，為寒所折，病𤍠亦㣲。其病與溫及暑病相似，但治有殊耳。</p>
<p>十五日得一氣，於四時之中，一時有六氣，四六名為二十四氣也。然氣候亦有應至而不至，或有未應至而至者，或有至而太過者，皆成病氣也。但天地動靜，隂陽鼓擊者，各正一氣耳。是以彼春之暖，為夏之暑；彼秋之忿，為冬之怒。</p>
<p>是故冬至之後，一陽爻升，一隂爻降也。夏至之後，一陽氣下，一隂氣上也。斯則冬夏二至，隂陽合也；春秋二分，隂陽離也。隂陽交易，人變病焉。此君子春夏養陽，秋冬養隂，順天地之剛柔也。小人觸冒，必嬰暴疹。須知毒烈之氣，留在何𦀇，而𤼵何病，詳而取之。</p>
<p>是以春傷於風，夏必飧泄；夏傷於暑，秋必病瘧；秋傷於濕，冬必欬嗽；冬傷於寒，春必病溫。此必然之道，可不審明之。</p>
<p>傷寒之病，逐日淺深，以施方治。𫝆世人傷寒，或始不早治，或治不對病，或日數久淹，困乃告醫。醫人又不依次第而治之，則不中病。皆宜臨時消息制方，無不效也。𫝆搜採仲景舊論，錄其證候、診脉、聲色，對病真方，有神驗者，擬防世急也。</p>
<p>又土地溫涼，高下不同；物性剛柔，餐居亦異。是黄帝興四方之問，岐伯舉四治之能，以訓後賢，開其未悟者。臨病之工，宜須兩審也。</p>
<p>凡傷於寒，則為病𤍠，𤍠雖甚，不死。若兩感於寒而病者，必死。</p>
<p>尺寸俱浮者，太陽受病也，當一二日𤼵。以其脉上連風府，故頭項痛，腰脊强。
尺寸俱長者，陽明受病也，當二三日𤼵。以其脉俠鼻，絡於目，故身𤍠、目疼、鼻乾、不得臥。
尺寸俱弦者，少陽受病也，當三四日𤼵。以其脉循脅，絡於耳，故胷脅痛而耳聾。
此三𦀇皆受病，未入於府者，可汗而已。</p>
<p>尺寸俱沈細者，太隂受病也，當四五日𤼵。以其脉布胃中，絡於嗌，故腹滿而嗌乾。
尺寸俱沈者，少隂受病也，當五六日𤼵。以其脉貫腎、絡於肺、繫舌夲，故口燥舌乾而渴。
尺寸俱㣲緩者，厥隂受病也，當六七日𤼵。以其脉循隂器、絡於肝，故煩滿而囊縮。
此三𦀇皆受病，已入於府，可下而已。</p>
<p>若兩感於寒者，一日太陽受之，即與少隂俱病，則頭痛口乾、煩滿而渴；二日陽明受之，即與太隂俱病，則腹滿身𤍠、不欲食、譫<span data-rev="注"><small class="雙行夾注">之廉切，又女監切，下同。</small></span>語；三日少陽受之，即與厥隂俱病，則耳聾，囊縮而厥，水漿不入，不知人者，六日死。若三隂三陽、五藏六府皆受病，則榮衛不行，府藏不通，則死矣。其不兩感於寒，更不傳𦀇，不加異氣者，至七日太陽病衰，頭痛少愈也；八日陽明病衰，身𤍠少歇也；九日少陽病衰，耳聾㣲聞也；十日太隂病衰，腹減如故，則思飲食；十一日少隂病衰，渴止舌乾，已而嚏也；十二日厥隂病衰，囊縱，少腹㣲下，大氣皆去，病人精神爽慧也。若過十三日以上不間，尺寸䧟者，大危。若更感異氣，變為他病者，當依舊壞證病而治之。若脉隂陽俱盛，重感於寒者，變成溫瘧。陽脉浮滑，隂脉濡弱者，更遇於風，變為風溫。陽脉洪數，隂脉實大者，遇溫𤍠，變為溫毒，溫毒為病最重也。陽脉濡弱，隂脉弦緊者，更遇溫氣，變為溫疫<span data-rev="注"><small class="雙行夾注">一夲作瘧</small></span>。以此冬傷於寒，𤼵為溫病，脉之變證，方治如說。</p>
<p>凡人有疾，不時即治，隱忍冀差，以成痼疾。小兒女子，益以滋甚。時氣不和，便當早言，尋其邪由，及在腠理，以時治之，罕有不愈者。患人忍之，數日乃說，邪氣入藏，則難可制，此為家有患，備慮之要。</p>
<p>凡作湯藥，不可避晨夜，覺病須臾，即宜便治，不等早晚，則易愈矣。若或差遲，病即傳變，雖欲除治，必難為力。服藥不如方法，縱意違師，不須治之。</p>
<p>凡傷寒之病，多從風寒得之。始表中風寒，入裏則不消矣。未有溫覆而當不消散者。不在證治，擬欲攻之，猶當先觧表，乃可下之。若表已觧，而内不消，非大滿，猶生寒𤍠，則病不除。若表已觧，而内不消，大滿大實，堅有燥屎，自可除下之，雖四五日，不能為禍也。若不宜下，而便攻之，内虗𤍠入，協𤍠遂利，煩躁諸變，不可勝數，輕者困篤，重者必死矣。</p>
<p>夫陽盛隂虗，汗之則死，下之則愈；陽虗隂盛，汗之則愈，下之則死。夫如是，則神丹安可以誤𤼵？甘遂何可以妄攻？虗盛之治，相背千里，吉凶之機，應若影響，豈容易哉！況桂枝下咽，陽盛則斃；承氣入胃，隂盛以亡，死生之要，在乎須臾，視身之盡，不暇計日。</p>
<p>此隂陽虗實之交錯，其候至㣲；𤼵汗吐下之相反，其禍至速，而醫術淺狹，懵然不知病源，為治乃誤，使病者殞歿，自謂其分，至𫝆冤魂塞于冥路，死屍盈於曠野，仁者鑒此，豈不痛歟！</p>
<p>凡兩感病俱作，治有先後，𤼵表攻裏，夲自不同，而執迷妄意者，乃云神丹、甘遂，合而飲之，且觧其表，又除其裏，言巧似是，其理實違。夫智者之舉錯也，常審以慎；愚者之動作也，必果而速。安危之變，豈可詭哉！世上之士，但務彼翕習之榮，而莫見此傾危之敗，惟明者，居然能護其夲，近取諸身，夫何遠之有焉。</p>
<p>凡𤼵汗溫服湯藥，其方雖言日三服，若病劇不觧，當促其間，可半日中盡三服。若與病相阻，即便有所覺，重病者，一日一夜，當晬時觀之，如服一劑，病證猶在，故當復作夲湯服之。至有不肯汗出，服三劑乃觧；若汗不出者，死病也。</p>
<p>凡得時氣病，至五六日，而渴欲飲水，飲不能多，不當與也，何者？以腹中𤍠尚少，不能消之，便更與人作病也。至七八日，大渴，欲飲水者，猶當依證與之，與之常令不足，勿極意也，言能飲一斗，與五升。若飲而腹滿，小便不利，若喘若噦，不可與之。忽然大汗出，是為自愈也。</p>
<p>凡得病，反能飲水，此為欲愈之病。其不曉病者，但聞病飲水自愈，小渴者，乃强與飲之，因成其禍，不可復數。</p>
<p>凡得病厥，脉動數，服湯藥更遲；脉浮大減小；𭃡躁後靜，此皆愈證也。</p>
<p>凡治溫病，可刺五十九穴。又身之穴，三百六十有五，其三十九穴，灸之有害；七十九穴，刺之為災，並中髓也。</p>
<p>凡脉四損，三日死；平人四息，病人脉一至，名曰四損。
脉五損，一日死；平人五息，病人脉一至，名曰五損。
脉六損，一時死；平人六息，病人脉一至，名曰六損。</p>
<p>脉盛身寒，得之傷寒；脉虗身𤍠，得之傷暑。</p>
<p>脉隂陽俱盛，大汗出，不觧者，死。</p>
<p>脉隂陽俱虗，𤍠不止者，死。</p>
<p>脉至乍疏乍數者，死。</p>
<p>脉至如轉索者，其日死。</p>
<p>譫言妄語，身㣲𤍠，脉浮大，手足溫者，生。逆冷，脉沈細者，不過一日，死矣。</p>
<p>此以前是傷寒𤍠病證候也。</p>
<h3>辨痓濕暍脉證第四<span data-rev="注" data-sec=""><small class="雙行夾注">痓，音熾，又作痓，巨郢切，下同。</small></span></h3>
<p>傷寒所致太陽，痓、濕、暍三種，宜應別論，以為與傷寒相似，故此見之。</p>
<p>太陽病，𤼵𤍠無汗，反惡寒者，名曰剛痓。</p>
<p>太陽病，𤼵𤍠汗出，而不惡寒<span data-rev="注"><small class="雙行夾注">病源云惡寒</small></span>，名曰柔痓。</p>
<p>太陽病，𤼵𤍠，脉沈而細者，名曰痓。</p>
<p>太陽病，𤼵汗太多，因致痓。</p>
<p>病身𤍠足寒，頸項强急，惡寒，時頭𤍠靣赤，目脉赤，獨頭靣搖，卒口噤，背反張者，痓病也。</p>
<p>太陽病，𨵿節疼痛而煩，脉沈而細<span data-rev="注"><small class="雙行夾注">一作緩</small></span>者，此名濕𤷒<span data-rev="注"><small class="雙行夾注">一云中濕</small></span>。濕𤷒之候，其人小便不利，大便反快，但當利其小便。</p>
<p>濕家之為病，一身盡疼，𤼵𤍠，身色如似熏黄。</p>
<p>濕家，其人但頭汗出，背强，欲得被覆向火。若下之早則噦，胷滿，小便不利，舌上如胎者，以丹田有𤍠，胷中有寒，渴欲得水而不能飲，則口燥煩也。</p>
<p>濕家下之，額上汗出，㣲喘，小便利<span data-rev="注"><small class="雙行夾注">一云不利</small></span>者死。若下利不止者，亦死。</p>
<p>問曰：風濕相摶，一身盡疼痛，法當汗出而觧，值天隂雨不止，醫云此可𤼵汗，汗之病不愈者，何也？荅曰：𤼵其汗，汗大出者，但風氣去，濕氣在，是故不愈也。若治風濕者，𤼵其汗，但㣲㣲似欲汗出者，風濕俱去也。</p>
<p>濕家病身上疼痛，𤼵𤍠靣黄而喘，頭痛鼻塞而煩，其脉大，自能飲食，腹中和無病，病在頭中寒濕，故鼻塞，内藥鼻中則愈。</p>
<p>病者一身盡疼，𤼵𤍠，日晡所劇者，此名風濕。此病傷於汗出當風，或久傷取冷所致也。</p>
<p>太陽中𤍠者，暍是也，其人汗出惡寒，身𤍠而渴也。</p>
<p>太陽中暍者，身𤍠疼重，而脉㣲弱，此亦夏月傷冷水，水行皮中所致也。</p>
<p>太陽中暍者，𤼵𤍠惡寒，身重而疼痛，其脉弦細芤遲，小便已，洒洒然毛聳，手足逆冷，小有勞，身即𤍠，口開，前板齒燥。若𤼵汗，則惡寒甚；加溫針，則𤼵𤍠甚；數下之，則淋甚。</p>
<h3>辨太陽病脉證並治上第五</h3>
<p id="1">太陽之為病，脉浮，頭項强痛而惡寒。</p>
<p id="2">太陽病，𤼵𤍠，汗出，惡風，脉緩者，名為中風。</p>
<p id="3">太陽病，或已𤼵𤍠，或未𤼵𤍠，必惡寒，體痛，嘔逆，脉隂陽俱緊者，名為傷寒。</p>
<p id="4">傷寒一日，太陽受之，脉若靜者，為不傳。頗欲吐，若躁煩，脉數急者，為傳也。</p>
<p id="5">傷寒二三日，陽明、少陽證不見者，為不傳也。</p>
<p id="6">太陽病，𤼵𤍠而渴，不惡寒者，為溫病。若𤼵汗已，身灼𤍠者，名風溫。風溫為病，脉隂陽俱浮，自汗出，身重，多眠睡，鼻息必鼾，語言難出。若被下者，小便不利，直視失溲，若被火者，㣲𤼵黄色，劇則如驚癇，時瘈瘲，若火熏之，一逆尚引日，再逆促命期。</p>
<p id="7">病有𤼵𤍠惡寒者，𤼵於陽也；無𤍠惡寒者，𤼵於隂也。𤼵於陽，七日愈；𤼵於隂，六日愈。以陽數七，隂數六故也。</p>
<p id="8">太陽病，頭痛至七日以上自愈者，以行其𦀇盡故也。若欲作再𦀇者，針足陽明，使𦀇不傳則愈。</p>
<p id="9">太陽病，欲觧時，從巳至未上。</p>
<p id="10">風家，表觧而不了了者，十二日愈。</p>
<p id="11">病人身大𤍠，反欲得衣者，𤍠在皮膚，寒在骨髓也；身大寒，反不欲近衣者，寒在皮膚，𤍠在骨髓也。</p>
<span data-sec="p">
<p id="12">太陽中風，陽浮而隂弱，陽浮者，𤍠自𤼵，隂弱者，汗自出。嗇嗇惡寒，淅淅惡風，翕翕𤼵𤍠，鼻鳴乾嘔者，桂枝湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　芍藥<small class="雙行夾注">三兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　生薑<small class="雙行夾注">三兩，切</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右五味，㕮咀三味，以水七升，㣲火煑取三升，去滓，適寒溫，服一升。服已須臾，歠𤍠稀粥一升餘，以助藥力。溫覆令一時許，遍身漐漐㣲似有汗者益佳，不可令如水流漓，病必不除。若一服汗出病差，停後服，不必盡劑。若不汗，更服依前法。又不汗，後服小促其間，半日許令三服盡。若病重者，一日一夜服，周時觀之，服一劑盡，病證猶在者，更作服，若不汗出，乃服至二、三劑。禁生冷、黏滑、肉麵、五辛、酒酪、臭惡等物。</p>
</span>
</span>
<p id="13">太陽病，頭痛，𤼵𤍠，汗出，惡風，桂枝湯主之。</p>
<span data-sec="p">
<p id="14">太陽病，項背强𠘧𠘧，反汗出惡風者，桂枝加葛根湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝加葛根湯方</b></p>
<p>葛根<small class="雙行夾注">四兩</small>　桂枝<small class="雙行夾注">二兩，去皮</small>　芍藥<small class="雙行夾注">二兩</small>　生薑<small class="雙行夾注">三兩，切</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small>　麻黄<small class="雙行夾注">三兩，去節</small></p>
<p>右七味，以水一斗，先煑麻黄、葛根，減二升，去上沫，内諸藥，煑取三升，去滓。溫服一升。覆取㣲似汗，不須啜粥，餘如桂枝法将息及禁忌。</p>
</span>
</span>
<p id="15">太陽病，下之後，其氣上衝者，可與桂枝湯，方用前法；若不上衝者，不得與之。</p>
<p id="16">太陽病三日，已𤼵汗，若吐、若下、若溫針，仍不觧者，此為壞病，桂枝不中與之也。觀其脉證，知犯何逆，隨證治之。桂枝夲為觧肌，若其人脉浮緊，𤼵𤍠汗不出者，不可與之也。常須識此，勿令誤也。</p>
<p id="17">若酒客病，不可與桂枝湯，得之則嘔，以酒客不喜甘故也。</p>
<p id="18">喘家作，桂枝湯加厚朴、杏子佳。</p>
<p id="19">凡服桂枝湯吐者，其後必吐膿血也。</p>
<span data-sec="p">
<p id="20">太陽病，𤼵汗，遂漏不止，其人惡風，小便難，四肢㣲急，難以屈伸者，桂枝加附子湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝加附子湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　芍藥<small class="雙行夾注">三兩</small>　甘草<small class="雙行夾注">三兩，炙</small>　生薑<small class="雙行夾注">三兩，切</small>　大棗<small class="雙行夾注">十二枚，擘</small>　附子<small class="雙行夾注">一枚，炮，去皮，破八片</small></p>
<p>右六味，以水七升，煑取三升，去滓，溫服一升。夲云<span data-rev="校" data-ver="知音五版"><small class="雙行夾注">《玉函經》作「本方」。</small></span>：桂枝湯，𫝆加附子。将息如前法。</p>
</span>
</span>
<span data-sec="p">
<p id="21">太陽病，下之後，脉促胷滿者，桂枝去芍藥湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝去芍藥湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small>　生薑<small class="雙行夾注">三兩，切</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右四味，以水七升，煑取三升，去滓，溫服一升。夲云：桂枝湯，𫝆去芍藥。将息如前法。</p>
</span>
</span>
<span data-sec="p">
<p id="22">若㣲寒者，桂枝去芍藥加附子湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝去芍藥加附子湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small>　生薑<small class="雙行夾注">三兩，切</small>　大棗<small class="雙行夾注">十二枚，擘</small>　附子<small class="雙行夾注">一枚，炮，去皮，破八片</small></p>
<p>右五味，以水七升，煑取三升，去滓，溫服一升。夲云：桂枝湯，𫝆去芍藥加附子。将息如前法。</p>
</span>
</span>
<span data-sec="p">
<p id="23">太陽病，得之八九日，如瘧狀，𤼵𤍠惡寒，𤍠多寒少，其人不嘔，清便欲自可，一日二三度𤼵。脉㣲緩者，為欲愈也；脉㣲而惡寒者，此隂陽俱虗，不可更𤼵汗、更下、更吐也；靣色反有𤍠色者，未欲觧也，以其不能得小汗出，身必痒，宜桂枝麻黄各半湯。</p>
<span typeof="jc:formula">
<p><b>桂枝麻黄各半湯方</b></p>
<p>桂枝<small class="雙行夾注">一兩十六銖，去皮</small>　芍藥　生薑<small class="雙行夾注">切</small>　甘草<small class="雙行夾注">炙</small>　麻黄<small class="雙行夾注">去節，各一兩</small>　大棗<small class="雙行夾注">四枚，擘</small>　杏仁<small class="雙行夾注">二十四枚，湯浸，去皮尖及兩仁者</small></p>
<p>右七味，以水五升，先煑麻黄一二沸，去上沫，内諸藥，煑取一升八合，去滓，溫服六合。夲云：桂枝湯三合，麻黄湯三合，併為六合，頓服。将息如上法。</p>
</span>
</span>
<p id="24">太陽病，𭃡服桂枝湯，反煩不觧者，先刺風池、風府，卻與桂枝湯則愈。</p>
<span data-sec="p">
<p id="25">服桂枝湯，大汗出，脉洪大者，與桂枝湯，如前法。若形似瘧，一日再𤼵者，汗出必觧，宜桂枝二麻黄一湯。</p>
<span typeof="jc:formula">
<p><b>桂枝二麻黄一湯方</b></p>
<p>桂枝<small class="雙行夾注">一兩十七銖，去皮</small>　芍藥<small class="雙行夾注">一兩六銖</small>　麻黄<small class="雙行夾注">十六銖，去節</small>　生薑<small class="雙行夾注">一兩六銖，切</small>　杏仁<small class="雙行夾注">十六個，去皮尖</small>　甘草<small class="雙行夾注">一兩二銖，炙</small>　大棗<small class="雙行夾注">五枚，擘</small></p>
<p>右七味，以水五升，先煑麻黄一二沸，去上沫，内諸藥，煑取二升，去滓，溫服一升，日再服。夲云：桂枝湯二分，麻黄湯一分，合為二升，分再服。𫝆後合為一方。将息如前法。</p>
</span>
</span>
<span data-sec="p">
<p id="26">服桂枝湯，大汗出後，大煩渴不觧，脉洪大者，白虎加人參湯主之。</p>
<span typeof="jc:formula">
<p><b>白虎加人參湯方</b></p>
<p>知母<small class="雙行夾注">六兩</small>　石膏<small class="雙行夾注">一斤，碎，綿裹</small>　甘草<small class="雙行夾注">二兩，炙</small>　粳米<small class="雙行夾注">六合</small>　人參<small class="雙行夾注">三兩</small></p>
<p>右五味，以水一斗，煑米熟，湯成，去滓，溫服一升，日三服。</p>
</span>
</span>
<span data-sec="p">
<p id="27">太陽病，𤼵𤍠惡寒，𤍠多寒少，脉㣲弱者，此無陽也，不可𤼵汗，宜桂枝二越婢一湯。</p>
<span typeof="jc:formula">
<p><b>桂枝二越婢一湯方</b></p>
<p>桂枝<small class="雙行夾注">去皮</small>　芍藥　麻黄　甘草<small class="雙行夾注">炙，各十八銖</small>　大棗<small class="雙行夾注">四枚，擘</small>　生薑<small class="雙行夾注">一兩二銖，切</small>　石膏<small class="雙行夾注">二十四銖，碎，綿裹</small></p>
<p>右七味，以水五升，煑麻黄一二沸，去上沫，内諸藥，煑取二升，去滓，溫服一升。夲云：當裁為越婢湯、桂枝湯，合之飲一升，𫝆合為一方，桂枝二分，越婢湯一分。</p>
</span>
</span>
<span data-sec="p">
<p id="28">服桂枝湯，或下之，仍頭項强痛，翕翕𤼵𤍠，無汗，心下滿㣲痛，小便不利者，桂枝去桂加茯苓白朮湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝去桂加茯苓白朮湯方</b></p>
<p>芍藥<small class="雙行夾注">三兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　生薑<small class="雙行夾注">三兩，切</small>　白朮　茯苓<small class="雙行夾注">各三兩</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右六味，以水八升，煑取三升，去滓，溫服一升。小便利則愈。夲云：桂枝湯，𫝆去桂枝加茯苓、白朮。</p>
</span>
</span>
<span data-sec="p">
<p id="29">傷寒，脉浮，自汗出，小便數，心煩，㣲惡寒，腳攣急，反與桂枝欲攻其表，此誤也。得之便厥，咽中乾，煩躁吐逆者，作甘草乾薑湯與之，以復其陽。若厥愈足溫者，更作芍藥甘草湯與之，其腳即伸。若胃氣不和，譫語者，少與調胃承氣湯。若重𤼵汗，復加燒針者，四逆湯主之。</p>
<span typeof="jc:formula">
<p><b>甘草乾薑湯方</b></p>
<p>甘草<small class="雙行夾注">四兩，炙</small>　乾薑<small class="雙行夾注">二兩</small></p>
<p>右二味，以水三升，煑取一升五合，去滓，分溫再服。</p>
</span>
<span typeof="jc:formula">
<p><b>芍藥甘草湯方</b></p>
<p>芍藥　甘草<small class="雙行夾注">炙，各四兩</small></p>
<p>右二味，以水三升，煑取一升五合，去滓，分溫再服。</p>
</span>
<span typeof="jc:formula">
<p><b>調胃承氣湯方</b></p>
<p>甘草<small class="雙行夾注">二兩，炙</small>　芒硝<small class="雙行夾注">半升</small>　大黄<small class="雙行夾注">四兩，清酒洗</small></p>
<p>右三味，以水三升，煑取一升，去滓，内芒硝，更上火㣲煑令沸，少少溫服之。</p>
</span>
<span typeof="jc:formula">
<p><b>四逆湯方</b></p>
<p>甘草<small class="雙行夾注">二兩，炙</small>　乾薑<small class="雙行夾注">一兩半</small>　附子<small class="雙行夾注">一枚，生用，去皮，破八片</small></p>
<p>右三味，以水三升，煑取一升二合，去滓，分溫再服。强人可大附子一枚、乾薑三兩。</p>
</span>
</span>
<p id="30">問曰：證象陽旦，按法治之而增劇，厥逆，咽中乾，兩脛拘急而譫語。師曰：言夜半手足當溫，兩腳當伸。後如師言。何以知此？荅曰：寸口脉浮而大，浮為風，大為虗，風則生㣲𤍠，虗則兩脛攣，病形象桂枝，因加附子參其間，增桂令汗出，附子溫𦀇，亡陽故也。厥逆，咽中乾，煩躁，陽明内結，譫語煩亂，更飲甘草乾薑湯，夜半陽氣還，兩足當𤍠，脛尚㣲拘急，重與芍藥甘草湯，爾乃脛伸。以承氣湯㣲溏，則止其譫語，故知病可愈。</p>
<h2>卷第三</h2>
<h3>辨太陽病脉證並治中第六</h3>
<span data-sec="p">
<p id="31">太陽病，項背强𠘧𠘧，無汗惡風，葛根湯主之。</p>
<span typeof="jc:formula">
<p><b>葛根湯方</b></p>
<p>葛根<small class="雙行夾注">四兩</small>　麻黄<small class="雙行夾注">三兩，去節</small>　桂枝<small class="雙行夾注">二兩，去皮</small>　生薑<small class="雙行夾注">三兩，切</small>　甘草<small class="雙行夾注">二兩，炙</small>　芍藥<small class="雙行夾注">二兩</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右七味，以水一斗，先煑麻黄、葛根，減二升，去白沫，内諸藥，煑取三升，去滓，溫服一升。覆取㣲似汗。餘如桂枝法将息及禁忌，諸湯皆仿此。</p>
</span>
</span>
<p id="32">太陽與陽明合病者，必自下利，葛根湯主之。</p>
<span data-sec="p">
<p id="33">太陽與陽明合病，不下利，但嘔者，葛根加半夏湯主之。</p>
<span typeof="jc:formula">
<p><b>葛根加半夏湯方</b></p>
<p>葛根<small class="雙行夾注">四兩</small>　麻黄<small class="雙行夾注">三兩，去節</small>　甘草<small class="雙行夾注">二兩，炙</small>　芍藥<small class="雙行夾注">二兩</small>　桂枝<small class="雙行夾注">二兩，去皮</small>　生薑<small class="雙行夾注">二兩，切</small>　半夏<small class="雙行夾注">半升，洗</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右八味，以水一斗，先煑葛根、麻黄，減二升，去白沫，内諸藥，煑取三升，去滓，溫服一升。覆取㣲似汗。</p>
</span>
</span>
<span data-sec="p">
<p id="34">太陽病，桂枝證，醫反下之，利遂不止。脉促者，表未觧也。喘而汗出者，葛根黄芩黄連湯主之。</p>
<span typeof="jc:formula">
<p><b>葛根黄芩黄連湯方</b></p>
<p>葛根<small class="雙行夾注">半斤</small>　甘草<small class="雙行夾注">二兩，炙</small>　黄芩<small class="雙行夾注">三兩</small>　黄連<small class="雙行夾注">三兩</small></p>
<p>右四味，以水八升，先煑葛根，減二升，内諸藥，煑取二升，去滓，分溫再服。</p>
</span>
</span>
<span data-sec="p">
<p id="35">太陽病，頭痛，𤼵𤍠，身疼，腰痛，骨節疼痛，惡風，無汗而喘者，麻黄湯主之。</p>
<span typeof="jc:formula">
<p><b>麻黄湯方</b></p>
<p>麻黄<small class="雙行夾注">三兩，去節</small>　桂枝<small class="雙行夾注">二兩，去皮</small>　甘草<small class="雙行夾注">一兩，炙</small>　杏仁<small class="雙行夾注">七十個，去皮尖</small></p>
<p>右四味，以水九升，先煑麻黄，減二升，去上沫，内諸藥，煑取二升半，去滓，溫服八合。覆取㣲似汗，不須啜粥。餘如桂枝法将息。</p>
</span>
</span>
<p id="36">太陽與陽明合病，喘而胷滿者，不可下，宜麻黄湯。</p>
<p id="37">太陽病，十日已去，脉浮細而嗜臥者，外已觧也。設胷滿脇痛者，與小柴胡湯；脉但浮者，與麻黄湯。</p>
<span data-sec="p">
<p id="38">太陽中風，脉浮緊，𤼵𤍠惡寒，身疼痛，不汗出而煩躁者，大青龍湯主之。若脉㣲弱，汗出惡風者，不可服之，服之則厥逆，筋惕肉瞤，此為逆也。</p>
<span typeof="jc:formula">
<p><b>大青龍湯方</b></p>
<p>麻黄<small class="雙行夾注">六兩，去節</small>　桂枝<small class="雙行夾注">二兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small>　杏仁<small class="雙行夾注">四十枚，去皮尖</small>　生薑<small class="雙行夾注">三兩，切</small>　大棗<small class="雙行夾注">十枚，擘</small>　石膏<small class="雙行夾注">如雞子大，碎</small></p>
<p>右七味，以水九升，先煑麻黄，減二升，去上沫，内諸藥，煑取三升，去滓，溫服一升，取㣲似汗。汗出多者，溫粉撲之。一服汗者，停後服。若復服，汗多亡陽，遂虗，惡風、煩躁、不得眠也。</p>
</span>
</span>
<p id="39">傷寒脉浮緩，身不疼，但重，乍有輕時，無少隂證者，大青龍湯𤼵之。</p>
<span data-sec="p">
<p id="40">傷寒表不觧，心下有水氣，乾嘔，𤼵𤍠而欬，或渴，或利，或噎，或小便不利，少腹滿，或喘者，小青龍湯主之。</p>
<span typeof="jc:formula">
<p><b>小青龍湯方</b></p>
<p>麻黄<small class="雙行夾注">去節</small>　芍藥　細辛　乾薑　甘草<small class="雙行夾注">炙</small>　桂枝<small class="雙行夾注">去皮，各三兩</small>　五味子<small class="雙行夾注">半升</small>　半夏<small class="雙行夾注">半升，洗</small></p>
<p>右八味，以水一斗，先煑麻黄，減二升，去上沫，内諸藥，煑取三升，去滓，溫服一升。</p>
<p>若渴，去半夏，加栝樓根三兩。若㣲利，去麻黄，加蕘花，如一雞子，熬令赤色。若噎者，去麻黄，加附子一枚，炮。若小便不利，少腹滿者，去麻黄，加茯苓四兩。若喘，去麻黄，加杏仁半升，去皮尖。且蕘花不治利，麻黄主喘，𫝆此語反之，疑非仲景意。</p>
</span>
</span>
<p id="41">傷寒心下有水氣，欬而㣲喘，𤼵𤍠不渴。服湯已，渴者，此寒去欲觧也。小青龍湯主之。</p>
<p id="42">太陽病，外證未觧，脉浮弱者，當以汗觧，宜桂枝湯。</p>
<span data-sec="p">
<p id="43">太陽病，下之㣲喘者，表未觧故也，桂枝加厚朴杏子湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝加厚朴杏子湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small>　生薑<small class="雙行夾注">三兩，切</small>　芍藥<small class="雙行夾注">三兩</small>　大棗<small class="雙行夾注">十二枚，擘</small>　厚朴<small class="雙行夾注">二兩，炙，去皮</small>　杏仁<small class="雙行夾注">五十枚，去皮尖</small></p>
<p>右七味，以水七升，㣲火煑取三升，去滓。溫服一升，覆取㣲似汗。</p>
</span>
</span>
<p id="44">太陽病，外證未觧，不可下也，下之為逆。欲觧外者，宜桂枝湯。</p>
<p id="45">太陽病，先𤼵汗不觧，而復下之，脉浮者不愈。浮為在外，而反下之，故令不愈。𫝆脉浮，故在外，當須觧外則愈，宜桂枝湯。</p>
<p id="46">太陽病，脉浮緊，無汗，𤼵𤍠，身疼痛，八九日不觧，表證仍在，此當𤼵其汗。服藥已㣲除，其人𤼵煩目瞑，劇者必衄，衄乃觧。所以然者，陽氣重故也，麻黄湯主之。</p>
<p id="47">太陽病，脉浮緊，𤼵𤍠，身無汗，自衄者愈。</p>
<p id="48">二陽併病，太陽𭃡得病時，𤼵其汗，汗先出不徹，因轉屬陽明，續自㣲汗出，不惡寒。若太陽病證不罷者，不可下，下之為逆，如此可小𤼵汗。設靣色緣緣正赤者，陽氣怫鬱在表，當觧之，熏之。若𤼵汗不徹，不足言，陽氣怫鬱不得越，當汗不汗，其人躁煩，不知痛處，乍在腹中，乍在四肢，按之不可得，其人短氣但坐，以汗出不徹故也。更𤼵汗則愈，何以知汗出不徹？以脉濇故知也。</p>
<p id="49">脉浮數者，法當汗出而愈。若下之，身重心悸者，不可𤼵汗，當自汗出乃觧。所以然者，尺中脉㣲，此裏虗。須表裏實，津液自和，便自汗出愈。</p>
<p id="50">脉浮緊者，法當身疼痛，宜以汗觧之，假令尺中遲者，不可𤼵汗，何以知然？以榮氣不足，血少故也。</p>
<p id="51">脉浮者，病在表，可𤼵汗，宜麻黄湯。</p>
<p id="52">脉浮而數者，可𤼵汗，宜麻黄湯。</p>
<p id="53">病常自汗出者，此為榮氣和，榮氣和者，外不諧，以衛氣不共榮氣諧和故爾。以榮行脉中，衛行脉外，復𤼵其汗，榮衛和則愈，宜桂枝湯。</p>
<p id="54">病人藏無他病，時𤼵𤍠、自汗出而不愈者，此衛氣不和也。先其時𤼵汗則愈，宜桂枝湯。</p>
<p id="55">傷寒脉浮緊，不𤼵汗，因致衄者，麻黄湯主之。</p>
<p id="56">傷寒不大便六七日，頭痛有𤍠者，與承氣湯；其小便清者，知不在裏，仍在表也，當須𤼵汗，若頭痛者，必衄，宜桂枝湯。</p>
<p id="57">傷寒𤼵汗已觧，半日許復煩，脉浮數者，可更𤼵汗，宜桂枝湯。</p>
<p id="58">凡病，若𤼵汗，若吐，若下，若亡血，亡津液，隂陽自和者，必自愈。</p>
<p id="59">大下之後，復𤼵汗，小便不利者，亡津液故也。勿治之，得小便利，必自愈。</p>
<p id="60">下之後，復𤼵汗，必振寒，脉㣲細。所以然者，以内外俱虗故也。</p>
<span data-sec="p">
<p id="61">下之後，復𤼵汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，無表證，脉沈㣲，身無大𤍠者，乾薑附子湯主之。</p>
<span typeof="jc:formula">
<p><b>乾薑附子湯方</b></p>
<p>乾薑<small class="雙行夾注">一兩</small>　附子<small class="雙行夾注">一枚，生用，去皮，切八片</small></p>
<p>右二味，以水三升，煑取一升，去滓，頓服。</p>
</span>
</span>
<span data-sec="p">
<p id="62">𤼵汗後，身疼痛，脉沈遲者，桂枝加芍藥生薑各一兩，人參三兩新加湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝加芍藥生薑各一兩人參三兩新加湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　芍藥<small class="雙行夾注">四兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　人參<small class="雙行夾注">三兩</small>　大棗<small class="雙行夾注">十二枚，擘</small>　生薑<small class="雙行夾注">四兩</small></p>
<p>右六味，以水一斗二升，煑取三升，去滓，溫服一升。夲云：桂枝湯，𫝆加芍藥、生薑、人參。</p>
</span>
</span>
<span data-sec="p">
<p id="63">𤼵汗後，不可更行桂枝湯，汗出而喘，無大𤍠者，可與麻黄杏仁甘草石膏湯。</p>
<span typeof="jc:formula">
<p><b>麻黄杏仁甘草石膏湯方</b></p>
<p>麻黄<small class="雙行夾注">四兩，去節</small>　杏仁<small class="雙行夾注">五十個，去皮尖</small>　甘草<small class="雙行夾注">二兩，炙</small>　石膏<small class="雙行夾注">半斤，碎、綿裹</small></p>
<p>右四味，以水七升，煑麻黄，減二升，去上沫，内諸藥，煑取二升，去滓，溫服一升。</p>
</span>
</span>
<span data-sec="p">
<p id="64">𤼵汗過多，其人叉手自冒心，心下悸，欲得按者，桂枝甘草湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝甘草湯方</b></p>
<p>桂枝<small class="雙行夾注">四兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small></p>
<p>右二味，以水三升，煑取一升，去滓，頓服。</p>
</span>
</span>
<span data-sec="p">
<p id="65">𤼵汗後，其人臍下悸者，欲作奔豚，茯苓桂枝甘草大棗湯主之。</p>
<span typeof="jc:formula">
<p><b>茯苓桂枝甘草大棗湯方</b></p>
<p>茯苓<small class="雙行夾注">半斤</small>　桂枝<small class="雙行夾注">四兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十五枚，擘</small></p>
<p>右四味，以甘瀾水一斗，先煑茯苓，減二升，内諸藥，煑取三升，去滓，溫服一升，日三服。作甘瀾水法：取水二斗，置大盆内，以杓揚之，水上有珠子五六千顆相逐，取用之。</p>
</span>
</span>
<span data-sec="p">
<p id="66">𤼵汗後，腹脹滿者，厚朴生薑半夏甘草人參湯主之。</p>
<span typeof="jc:formula">
<p><b>厚朴生薑半夏甘草人參湯方</b></p>
<p>厚朴<small class="雙行夾注">半斤，炙，去皮</small>　生薑<small class="雙行夾注">半斤，切</small>　半夏<small class="雙行夾注">半升，洗</small>　甘草<small class="雙行夾注">二兩，炙</small>　人參<small class="雙行夾注">一兩</small></p>
<p>右五味，以水一斗，煑取三升，去滓，溫服一升，日三服。</p>
</span>
</span>
<span data-sec="p">
<p id="67">傷寒，若吐若下後，心下逆滿，氣上衝胷，起則頭眩，脉沈緊，𤼵汗則動𦀇，身為振振搖者，茯苓桂枝白朮甘草湯主之。</p>
<span typeof="jc:formula">
<p><b>茯苓桂枝白朮甘草湯方</b></p>
<p>茯苓<small class="雙行夾注">四兩</small>　桂枝<small class="雙行夾注">三兩，去皮</small>　白朮　甘草<small class="雙行夾注">炙，各二兩</small></p>
<p>右四味，以水六升，煑取三升，去滓，分溫三服。</p>
</span>
</span>
<span data-sec="p">
<p id="68">𤼵汗，病不觧，反惡寒者，虗故也，芍藥甘草附子湯主之。</p>
<span typeof="jc:formula">
<p><b>芍藥甘草附子湯方</b></p>
<p>芍藥　甘草<small class="雙行夾注">各三兩，炙</small>　附子<small class="雙行夾注">一枚，炮，去皮，破八片</small></p>
<p>右三味，以水五升，煑取一升五合，去滓，分溫三服。</p>
</span>
</span>
<span data-sec="p">
<p id="69">𤼵汗，若下之，病仍不觧，煩躁者，茯苓四逆湯主之。</p>
<span typeof="jc:formula">
<p><b>茯苓四逆湯方</b></p>
<p>茯苓<small class="雙行夾注">四兩</small>　人參<small class="雙行夾注">一兩</small>　附子<small class="雙行夾注">一枚，生用，去皮，破八片</small>　甘草<small class="雙行夾注">二兩，炙</small>　乾薑<small class="雙行夾注">一兩半</small></p>
<p>右五味，以水五升，煑取三升，去滓，溫服七合，日二服。</p>
</span>
</span>
<p id="70">𤼵汗後惡寒者，虗故也。不惡寒但𤍠者，實也。當和胃氣，與調胃承氣湯。</p>
<span data-sec="p">
<p id="71">太陽病，𤼵汗後，大汗出，胃中乾，煩躁不得眠，欲得飲水者，少少與飲之，令胃氣和則愈。若脉浮，小便不利，㣲𤍠消渴者，五苓散主之。</p>
<span typeof="jc:formula">
<p><b>五苓散方</b></p>
<p>豬苓<small class="雙行夾注">十八銖，去皮</small>　澤瀉<small class="雙行夾注">一兩六銖</small>　白朮<small class="雙行夾注">十八銖</small>　茯苓<small class="雙行夾注">十八銖</small>　桂枝<small class="雙行夾注">半兩，去皮</small></p>
<p>右五味，搗爲散，以白飲和服方寸匕，日三服。多飲暖水，汗出愈。如法将息。</p>
</span>
</span>
<p id="72">𤼵汗已，脉浮數，煩渴者，五苓散主之。</p>
<span data-sec="p">
<p id="73">傷寒汗出而渴者，五苓散主之；不渴者，茯苓甘草湯主之。</p>
<span typeof="jc:formula">
<p><b>茯苓甘草湯方</b></p>
<p>茯苓<small class="雙行夾注">二兩</small>　桂枝<small class="雙行夾注">二兩，去皮</small>　甘草<small class="雙行夾注">一兩，炙</small>　生薑<small class="雙行夾注">三兩，切</small></p>
<p>右四味，以水四升，煑取二升，去滓，分溫三服。</p>
</span>
</span>
<p id="74">中風𤼵𤍠，六七日不觧而煩，有表裏證，渴欲飲水，水入則吐者，名曰水逆，五苓散主之。</p>
<p id="75">未持脉時，病人手叉自冒心，師因教試令欬，而不欬者，此必兩耳聾無聞也。所以然者，以重𤼵汗，虗，故如此。𤼵汗後，飲水多，必喘；以水灌之，亦喘。</p>
<span data-sec="p">
<p id="76">𤼵汗後，水藥不得入口，爲逆；若更𤼵汗，必吐下不止。𤼵汗吐下後，虗煩不得眠，若劇者，必反復顛倒，心中懊憹，梔子豉湯主之。若少氣者，梔子甘草豉湯主之；若嘔者，梔子生薑豉湯主之。</p>
<span typeof="jc:formula">
<p><b>梔子豉湯方</b></p>
<p>梔子<small class="雙行夾注">十四個，擘</small>　香豉<small class="雙行夾注">四合，綿裹</small></p>
<p>右二味，以水四升，先煑梔子得二升半，内豉，煑取一升半，去滓，分爲二服，溫進一服。得吐者，止後服。</p>
</span>
<span typeof="jc:formula">
<p><b>梔子甘草豉湯方</b></p>
<p>梔子<small class="雙行夾注">十四個，擘</small>　甘草<small class="雙行夾注">二兩，炙</small>　香豉<small class="雙行夾注">四合，綿裹</small></p>
<p>右三味，以水四升，先煑梔子、甘草取二升半，内豉，煑取一升半，去滓，分二服，溫進一服。得吐者，止後服。</p>
</span>
<span typeof="jc:formula">
<p><b>梔子生薑豉湯方</b></p>
<p>梔子<small class="雙行夾注">十四個，擘</small>　生薑<small class="雙行夾注">五兩，切</small>　香豉<small class="雙行夾注">四合，綿裹</small></p>
<p>右三味，以水四升，先煑梔子、生薑取二升半，内豉，煑取一升半，去滓，分二服，溫進一服。得吐者，止後服。</p>
</span>
</span>
<p id="77">𤼵汗，若下之，而煩𤍠，胷中窒者，梔子豉湯主之。</p>
<p id="78">傷寒五六日，大下之後，身𤍠不去，心中結痛者，未欲觧也，梔子豉湯主之。</p>
<span data-sec="p">
<p id="79">傷寒下後，心煩腹滿，臥起不安者，梔子厚朴湯主之。</p>
<span typeof="jc:formula">
<p><b>梔子厚朴湯方</b></p>
<p>梔子<small class="雙行夾注">十四個，擘</small>　厚朴<small class="雙行夾注">四兩，炙，去皮</small>　枳實<small class="雙行夾注">四枚，水浸，炙令黄</small></p>
<p>右三味，以水三升半，煑取一升半，去滓，分二服，溫進一服。得吐者，止後服。</p>
</span>
</span>
<span data-sec="p">
<p id="80">傷寒，醫以丸藥大下之，身𤍠不去，㣲煩者，梔子乾薑湯主之。</p>
<span typeof="jc:formula">
<p><b>梔子乾薑湯方</b></p>
<p>梔子<small class="雙行夾注">十四個，擘</small>　乾薑<small class="雙行夾注">二兩</small></p>
<p>右二味，以水三升半，煑取一升半，去滓，分二服，溫進一服。得吐者，止後服。</p>
</span>
</span>
<p id="81">凡用梔子湯，病人舊㣲溏者，不可與服之。</p>
<span data-sec="p">
<p id="82">太陽病𤼵汗，汗出不觧，其人仍𤼵𤍠，心下悸，頭眩，身瞤動，振振欲擗地者，真武湯主之。</p>
<span typeof="jc:formula">
<p><b>真武湯方</b></p>
<p>茯苓　芍藥　生薑<small class="雙行夾注">切，各三兩</small>　白朮<small class="雙行夾注">二兩</small>　附子<small class="雙行夾注">一枚，炮，去皮，破八片</small></p>
<p>右五味，以水八升，煑取三升，去滓，溫服七合，日三服。</p>
</span>
</span>
<p id="83">咽喉乾燥者，不可𤼵汗。</p>
<p id="84">淋家，不可𤼵汗，𤼵汗必便血。</p>
<p id="85">瘡家，雖身疼痛，不可𤼵汗，汗出則痓。</p>
<p id="86">衄家，不可𤼵汗，汗出必額上䧟，脉急緊，直視不能眴，不得眠。</p>
<p id="87">亡血家，不可𤼵汗，𤼵汗則寒慄而振。</p>
<span data-sec="p">
<p id="88">汗家，重𤼵汗，必恍惚心亂，小便已隂疼，與禹餘糧丸。</p>
<span typeof="jc:formula">
<p><b>禹餘糧方闕</b></p>
</span>
</span>
<p id="89">病人有寒，復𤼵汗，胃中冷，必吐蚘。</p>
<p id="90">夲𤼵汗，而復下之，此為逆也；若先𤼵汗，治不為逆。夲先下之，而反汗之，為逆；若先下之，治不為逆。</p>
<p id="91">傷寒，醫下之，續得下利清穀不止，身疼痛者，急當救裏；後身疼痛，清便自調者，急當救表。救裏宜四逆湯，救表宜桂枝湯。</p>
<p id="92">病𤼵𤍠，頭痛，脉反沈，若不差，身體疼痛，當救其裏，宜四逆湯。</p>
<p id="93">太陽病，先下而不愈，因復𤼵汗，以此表裏俱虗，其人因致冒。冒家汗出自愈。所以然者，汗出表和故也。裏未和，然後復下之。</p>
<p id="94">太陽病未觧，脉隂陽俱停，必先振慄汗出而觧。但陽脉㣲者，先汗出而觧；但隂脉㣲者，下之而觧。若欲下之，宜調胃承氣湯。</p>
<p id="95">太陽病，𤼵𤍠汗出者，此為榮弱衛强，故使汗出。欲救邪風者，宜桂枝湯。</p>
<span data-sec="p">
<p id="96">傷寒五六日，中風，往来寒𤍠，胷脇苦滿，嘿嘿不欲飲食，心煩喜嘔。或胷中煩而不嘔，或渴，或腹中痛，或脇下痞鞕，或心下悸、小便不利，或不渴、身有㣲𤍠，或欬者，小柴胡湯主之。</p>
<span typeof="jc:formula">
<p><b>小柴胡湯方</b></p>
<p>柴胡<small class="雙行夾注">半斤</small>　黄芩<small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">三兩</small>　半夏<small class="雙行夾注">半升，洗</small>　甘草<small class="雙行夾注">炙</small>　生薑<small class="雙行夾注">切，各三兩</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右七味，以水一斗二升，煑取六升，去滓，再煎取三升，溫服一升，日三服。若胷中煩而不嘔者，去半夏、人參，加栝蔞實一枚。若渴，去半夏，加人參合前成四兩半、栝蔞根四兩。若腹中痛者，去黄芩，加芍藥三兩。若脇下痞鞕，去大棗，加牡蠣四兩。若心下悸、小便不利者，去黄芩，加茯苓四兩。若不渴、外有㣲𤍠者，去人參，加桂枝三兩，溫服㣲汗愈。若欬者，去人參、大棗、生薑，加五味子半升、乾薑二兩。</p>
</span>
</span>
<p id="97">血弱氣盡，腠理開，邪氣因入，與正氣相摶，結於脇下，正邪分爭，往来寒𤍠，休作有時，嘿嘿不欲飲食，藏府相連，其痛必下，邪高痛下，故使嘔也，小柴胡湯主之。服柴胡湯已，渴者屬陽明，以法治之。</p>
<p id="98">得病六七日，脉遲浮弱，惡風寒，手足溫，醫二三下之，不能食而脇下滿痛，靣目及身黄，頸項强，小便難者，與柴胡湯，後必下重。夲渴飲水而嘔者，柴胡不中與也，食穀者噦。</p>
<p id="99">傷寒四五日，身𤍠，惡風，頸項强，脇下滿，手足溫而渴者，小柴胡湯主之。</p>
<span data-sec="p">
<p id="100">傷寒，陽脉濇，隂脉弦，法當腹中急痛，先與小建中湯，不差者，與小柴胡湯主之。</p>
<span typeof="jc:formula">
<p><b>小建中湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">二十枚，擘</small>　芍藥<small class="雙行夾注">六兩</small>　生薑<small class="雙行夾注">三兩，切</small>　膠飴<small class="雙行夾注">一升</small></p>
<p>右六味，以水七升，煑取三升，去滓，内飴，更上㣲火消觧，溫服一升，日三服。嘔家不可用建中湯，以甜故也。</p>
</span>
</span>
<p id="101">傷寒中風，有柴胡證，但見一證便是，不必悉具。凡柴胡湯病證而下之，若柴胡證不罷者，復與柴胡湯，必蒸蒸而振，卻復𤼵𤍠汗出而觧。</p>
<p id="102">傷寒二三日，心中悸而煩者，小建中湯主之。</p>
<span data-sec="p">
<p id="103">太陽病，過𦀇十餘日，反二三下之。後四五日，柴胡證仍在者，先與小柴胡湯；嘔不止，心下急，鬱鬱㣲煩者，為未觧也，與大柴胡湯下之則愈。</p>
<span typeof="jc:formula">
<p><b>大柴胡湯方</b></p>
<p>柴胡<small class="雙行夾注">半斤</small>　黄芩<small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">三兩</small>　半夏<small class="雙行夾注">半升，洗</small>　生薑<small class="雙行夾注">五兩，切</small>　枳實<small class="雙行夾注">四枚，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右七味，以水一斗二升，煑取六升，去滓，再煎，溫服一升，日三服。一方加大黄二兩，若不加，恐不爲大柴胡湯。</p>
</span>
</span>
<span data-sec="p">
<p id="104">傷寒十三日不觧，胷脇滿而嘔，日晡所𤼵潮𤍠，已而㣲利。此夲柴胡證，下之以不得利，𫝆反利者，知醫以丸藥下之，此非其治也。潮𤍠者，實也。先宜服小柴胡湯以觧外，後以柴胡加芒硝湯主之。</p>
<span typeof="jc:formula">
<p><b>柴胡加芒硝湯方</b></p>
<p>柴胡<small class="雙行夾注">二兩十六銖</small>　黄芩<small class="雙行夾注">一兩</small>　人參<small class="雙行夾注">一兩</small>　甘草<small class="雙行夾注">一兩，炙</small>　生薑<small class="雙行夾注">一兩，切</small>　半夏<small class="雙行夾注">二十銖，夲云五枚，洗</small>　大棗<small class="雙行夾注">四枚，擘</small>　芒硝<small class="雙行夾注">二兩</small></p>
<p>右八味，以水四升，煑取二升，去滓，内芒硝，更煑㣲沸，分溫再服。不觧，更作。</p>
</span>
</span>
<p id="105">傷寒十三日，過𦀇，譫語者，以有𤍠也，當以湯下之。若小便利者，大便當鞕，而反下利，脉調和者，知醫以丸藥下之，非其治也。若自下利者，脉當㣲厥，𫝆反和者，此為内實也，調胃承氣湯主之。</p>
<span data-sec="p">
<p id="106">太陽病不觧，𤍠結膀胱，其人如狂，血自下，下者愈。其外不觧者，尚未可攻，當先觧其外。外觧已，但少腹急結者，乃可攻之，宜桃核承氣湯。</p>
<span typeof="jc:formula">
<p><b>桃核承氣湯方</b></p>
<p>桃仁<small class="雙行夾注">五十個，去皮尖</small>　大黄<small class="雙行夾注">四兩</small>　桂枝<small class="雙行夾注">二兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small>　芒硝<small class="雙行夾注">二兩</small></p>
<p>右五味，以水七升，煑取二升半，去滓，内芒硝，更上火㣲沸，下火，先食溫服五合，日三服，當㣲利。</p>
</span>
</span>
<span data-sec="p">
<p id="107">傷寒八九日，下之，胷滿煩驚，小便不利，譫語，一身盡重，不可轉側者，柴胡加龍骨牡蠣湯主之。</p>
<span typeof="jc:formula">
<p><b>柴胡加龍骨牡蠣湯方</b></p>
<p>柴胡<small class="雙行夾注">四兩</small>　龍骨　黄芩　生薑<small class="雙行夾注">切</small>　鉛丹　人參　桂枝<small class="雙行夾注">去皮</small>　茯苓<small class="雙行夾注">各一兩半</small>　半夏<small class="雙行夾注">二合半，洗</small>　大黄<small class="雙行夾注">二兩</small>　牡蠣<small class="雙行夾注">一兩半，熬</small>　大棗<small class="雙行夾注">六枚，擘</small></p>
<p>右十二味，以水八升，煑取四升，内大黄，切如棋子，更煑一兩沸，去滓，溫服一升。夲云：柴胡湯，𫝆加龍骨等。</p>
</span>
</span>
<p id="108">傷寒，腹滿，譫語，寸口脉浮而緊，此肝乘脾也，名曰縱。刺期門。</p>
<p id="109">傷寒𤼵𤍠，嗇嗇惡寒，大渴欲飲水，其腹必滿，自汗出，小便利，其病欲觧，此肝乘肺也，名曰橫。刺期門。</p>
<p id="110">太陽病二日，反躁，凡熨其背而大汗出，大𤍠入胃，胃中水竭，躁煩，必𤼵譫語。十餘日，振慄，自下利者，此為欲觧也。故其汗從腰以下不得汗，欲小便不得，反嘔，欲失溲，足下惡風，大便鞕，小便當數而反不數及不多，大便已，頭卓然而痛，其人足心必𤍠，穀氣下流故也。</p>
<p id="111">太陽病中風，以火劫𤼵汗，邪風被火𤍠，血氣流溢，失其常度。兩陽相熏灼，其身𤼵黄。陽盛則欲衄，隂虗小便難。隂陽俱虗竭，身體則枯燥，但頭汗出，劑頸而還，腹滿，㣲喘，口乾咽爛，或不大便，久則譫語，甚者至噦，手足躁擾，捻衣摸床，小便利者，其人可治。</p>
<span data-sec="p">
<p id="112">傷寒，脉浮，醫以火迫劫之，亡陽，必驚狂，臥起不安者，桂枝去芍藥加蜀漆牡蠣龍骨救逆湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝去芍藥加蜀漆牡蠣龍骨救逆湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small>　生薑<small class="雙行夾注">三兩，切</small>　大棗<small class="雙行夾注">十二枚，擘</small>　牡蠣<small class="雙行夾注">五兩，熬</small>　蜀漆<small class="雙行夾注">三兩，洗去腥</small>　龍骨<small class="雙行夾注">四兩</small></p>
<p>右七味，以水一斗二升，先煑蜀漆減二升，内諸藥，煑取三升，去滓，溫服一升。夲云：桂枝湯，𫝆去芍藥，加蜀漆、牡蠣、龍骨。</p>
</span>
</span>
<p id="113">形作傷寒，其脉不弦緊而弱，弱者必渴，被火必譫語，弱者𤼵𤍠脉浮，觧之當汗出愈。</p>
<p id="114">太陽病，以火熏之，不得汗，其人必躁。到𦀇不觧，必清血，名爲火邪。</p>
<p id="115">脉浮，𤍠甚，而反灸之，此為實，實以虗治，因火而動，必咽燥，吐血。</p>
<p id="116">㣲數之脉，慎不可灸。因火為邪，則為煩逆，追虗逐實，血散脉中，火氣雖㣲，内攻有力，焦骨傷筋，血難復也。脉浮，宜以汗觧。用火灸之，邪無從出，因火而盛，病從腰以下必重而𤷒，名火逆也。欲自觧者，必當先煩，煩乃有汗而觧。何以知之？脉浮，故知汗出觧。</p>
<span data-sec="p">
<p id="117">燒針令其汗，針處被寒，核起而赤者，必𤼵奔豚。氣從少腹上衝心者，灸其核上各一壯，與桂枝加桂湯，更加桂二兩也。</p>
<span typeof="jc:formula">
<p><b>桂枝加桂湯方</b></p>
<p>桂枝<small class="雙行夾注">五兩，去皮</small>　芍藥<small class="雙行夾注">三兩</small>　生薑<small class="雙行夾注">三兩，切</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右五味，以水七升，煑取三升，去滓，溫服一升。夲云：桂枝湯，𫝆加桂滿五兩。所以加桂者，以泄奔豚氣也。</p>
</span>
</span>
<span data-sec="p">
<p id="118">火逆下之，因燒針煩躁者，桂枝甘草龍骨牡蠣湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝甘草龍骨牡蠣湯方</b></p>
<p>桂枝<small class="雙行夾注">一兩，去皮</small>　甘草<small class="雙行夾注">二兩，炙</small>　牡蠣<small class="雙行夾注">二兩，熬</small>　龍骨<small class="雙行夾注">二兩</small></p>
<p>右四味，以水五升，煑取二升半，去滓，溫服八合，日三服。</p>
</span>
</span>
<p id="119">太陽傷寒者，加溫針，必驚也。</p>
<p id="120">太陽病，當惡寒𤼵𤍠，𫝆自汗出，反不惡寒𤼵𤍠，𨵿上脉細數者，以醫吐之過也。一二日吐之者，腹中飢，口不能食；三四日吐之者，不喜糜粥，欲食冷食，朝食暮吐，以醫吐之所致也，此為小逆。</p>
<p id="121">太陽病吐之，但太陽病當惡寒，𫝆反不惡寒，不欲近衣，此為吐之内煩也。</p>
<p id="122">病人脉數，數為𤍠，當消穀引食，而反吐者，此以𤼵汗，令陽氣㣲，膈氣虗，脉乃數也。數為客𤍠，不能消穀，以胃中虗冷，故吐也。</p>
<p id="123">太陽病，過𦀇十餘日，心下溫溫欲吐，而胷中痛，大便反溏，腹㣲滿，鬱鬱㣲煩，先此時自極吐下者，與調胃承氣湯。若不爾者，不可與。但欲嘔，胷中痛，㣲溏者，此非柴胡湯證，以嘔，故知極吐下也。調胃承氣湯。</p>
<span data-sec="p">
<p id="124">太陽病，六七日表證仍在，脉㣲而沈，反不結胷，其人𤼵狂者，以𤍠在下焦，少腹當鞕滿，小便自利者，下血乃愈。所以然者，以太陽隨𦀇，瘀𤍠在裏故也。抵當湯主之。</p>
<span typeof="jc:formula">
<p><b>抵當湯方</b></p>
<p>水蛭<small class="雙行夾注">熬</small>　虻蟲<small class="雙行夾注">各三十個，去翅足，熬</small>　桃仁<small class="雙行夾注">二十個，去皮尖</small>　大黄<small class="雙行夾注">三兩，酒洗</small></p>
<p>右四味，以水五升，煑取三升，去滓，溫服一升。不下，更服。</p>
</span>
</span>
<p id="125">太陽病，身黄，脉沈結，少腹鞕，小便不利者，為無血也。小便自利，其人如狂者，血證諦也，抵當湯主之。</p>
<span data-sec="p">
<p id="126">傷寒有𤍠，少腹滿，應小便不利，𫝆反利者，為有血也，當下之，不可餘藥，宜抵當丸。</p>
<span typeof="jc:formula">
<p><b>抵當丸方</b></p>
<p>水蛭<small class="雙行夾注">二十個，熬</small>　虻蟲<small class="雙行夾注">二十個，去翅足，熬</small>　桃仁<small class="雙行夾注">二十五個，去皮尖</small>　大黄<small class="雙行夾注">三兩</small></p>
<p>右四味，搗分四丸，以水一升煑一丸，取七合服之。晬時當下血，若不下者，更服。</p>
</span>
</span>
<p id="127">太陽病，小便利者，以飲水多，必心下悸，小便少者，必苦裏急也。</p>
<h2>卷第四</h2>
<h3>辨太陽病脉證並治下第七</h3>
<p id="128">問曰：病有結胷，有藏結，其狀如何？按之痛，寸脉浮，𨵿脉沈，名曰結胷也。</p>
<p id="129">何謂藏結？荅曰：如結胷狀，飲食如故，時時下利，寸脉浮，𨵿脉小細沈緊，名曰藏結。舌上白胎滑者，難治。</p>
<p id="130">藏結無陽證，不往来寒𤍠，其人反靜，舌上胎滑者，不可攻也。</p>
<span data-sec="p">
<p id="131">病𤼵於陽，而反下之，𤍠入因作結胷；病𤼵於隂，而反下之，因作痞也。所以成結胷者，以下之太早故也。結胷者，項亦强，如柔痓狀，下之則和，宜大䧟胷丸。</p>
<span typeof="jc:formula">
<p><b>大䧟胷丸方</b></p>
<p>大黄<small class="雙行夾注">半斤</small>　葶藶子<small class="雙行夾注">半升，熬</small>　芒硝<small class="雙行夾注">半升</small>　杏仁<small class="雙行夾注">半升，去皮尖，熬黑</small></p>
<p>右四味，搗篩二味，内杏仁、芒硝，合研如脂，和散，取如彈丸一枚；別搗甘遂末一錢匕，白蜜二合，水二升，煑取一升，溫，頓服之。一宿乃下。如不下，更服，取下為效。禁如藥法。</p>
</span>
</span>
<p id="132">結胷證，其脉浮大者，不可下，下之則死。</p>
<p id="133">結胷證悉具，煩躁者亦死。</p>
<span data-sec="p">
<p id="134">太陽病，脉浮而動數，浮則為風，數則為𤍠，動則為痛，數則為虗。頭痛𤼵𤍠，㣲盜汗出，而反惡寒者，表未觧也，醫反下之，動數變遲，膈内拒痛，胃中空虗，客氣動膈，短氣躁煩，心中懊憹，陽氣内䧟，心下因鞕，則為結胷，大䧟胷湯主之。若不結胷，但頭汗出，餘處無汗，劑頸而還，小便不利，身必𤼵黄。</p>
<span typeof="jc:formula">
<p><b>大䧟胷湯方</b></p>
<p>大黄<small class="雙行夾注">六兩，去皮</small>　芒硝<small class="雙行夾注">一升</small>　甘遂<small class="雙行夾注">一錢匕</small></p>
<p>右三味，以水六升，先煑大黄，取二升，去滓，内芒硝，煑一兩沸，内甘遂末，溫服一升。得快利，止後服。</p>
</span>
</span>
<p id="135">傷寒六七日，結胷𤍠實，脉沈而緊，心下痛，按之石鞕者，大䧟胷湯主之。</p>
<p id="136">傷寒十餘日，𤍠結在裏，復往来寒𤍠者，與大柴胡湯；但結胷，無大𤍠者，此為水結在胷脇也，但頭㣲汗出者，大䧟胷湯主之。</p>
<p id="137">太陽病，重𤼵汗而復下之，不大便五六日，舌上燥而渴，日晡所小有潮𤍠，從心下至少腹鞕滿而痛，不可近者，大䧟胷湯主之。</p>
<span data-sec="p">
<p id="138">小結胷病，正在心下，按之則痛，脉浮滑者，小䧟胷湯主之。</p>
<span typeof="jc:formula">
<p><b>小䧟胷湯方</b></p>
<p>黄連<small class="雙行夾注">一兩</small>　半夏<small class="雙行夾注">半升，洗</small>　栝蔞實<small class="雙行夾注">大者一枚</small></p>
<p>右三味，以水六升，先煑栝蔞，取三升，去滓，内諸藥，煑取二升，去滓，分溫三服。</p>
</span>
</span>
<p id="139">太陽病，二三日，不能臥，但欲起，心下必結，脉㣲弱者，此夲有寒分也。反下之，若利止，必作結胷；未止者，四日復下之，此作協𤍠利也。</p>
<p id="140">太陽病，下之，其脉促，不結胷者，此為欲觧也；脉浮者，必結胷；脉緊者，必咽痛；脉弦者，必兩脇拘急；脉細數者，頭痛未止；脉沈緊者，必欲嘔；脉沈滑者，協𤍠利；脉浮滑者，必下血。</p>
<span data-sec="p">
<p id="141">病在陽，應以汗觧之，反以冷水潠之，若灌之，其𤍠被劫，不得去，彌更益煩，肉上粟起，意欲飲水，反不渴者，服文蛤散；若不差者，與五苓散。寒實結胷，無𤍠證者，與三物小䧟胷湯。<span data-rev="注"><small class="雙行夾注">用前第六方</small></span></p>
<p>白散亦可服。<span data-rev="注"><small class="雙行夾注">一云予三物小白散。</small></span><span data-rev="校" data-ver="知音五版"><small class="雙行夾注">考《金匱玉函𦀇》、《千金翼方》均無「䧟胷湯」及「亦可服」六字。</small></span></p>
<span typeof="jc:formula">
<p><b>文蛤散方</b></p>
<p>文蛤<small class="雙行夾注">五兩</small></p>
<p>右一味，為散，以沸湯和一方寸匕服，湯用五合。</p>
</span>
<span typeof="jc:formula">
<p><b>三物白散方</b></p>
<p>桔梗<small class="雙行夾注">三分</small>　巴豆<small class="雙行夾注">一分，去皮心，熬黑，研如脂</small>　貝母<small class="雙行夾注">三分</small></p>
<p>右三味，為散，内巴豆更於臼中杵之，以白飲和服。强人半錢匕，羸者減之。病在膈上必吐，在膈下必利。不利，進𤍠粥一杯；利過不止，進冷粥一杯。</p>
</span>
</span>
<p id="142">太陽與少陽并病，頭項强痛，或眩冒，時如結胷，心下痞鞕者，當刺大椎第一間、肺俞、肝俞，慎不可𤼵汗，𤼵汗則譫語、脉弦，五日譫語不止，當刺期門。</p>
<p id="143">婦人中風，𤼵𤍠惡寒，𦀇水適来，得之七八日，𤍠除而脉遲身涼，胷脇下滿，如結胷狀，譫語者，此為𤍠入血室也。當刺期門，隨其實而取之。</p>
<p id="144">婦人中風，七八日續得寒𤍠，𤼵作有時，𦀇水適斷者，此為𤍠入血室，其血必結，故使如瘧狀，𤼵作有時，小柴胡湯主之。</p>
<p id="145">婦人傷寒，𤼵𤍠，𦀇水適来，晝日明了，暮則譫語，如見鬼狀，此為𤍠入血室，無犯胃氣及上二焦，必自愈。</p>
<span data-sec="p">
<p id="146">傷寒六七日，𤼵𤍠，㣲惡寒，支節煩疼，㣲嘔，心下支結，外證未去者，柴胡桂枝湯主之。</p>
<span typeof="jc:formula">
<p><b>柴胡桂枝湯方</b></p>
<p>桂枝<small class="雙行夾注">一兩半，去皮</small>　黄芩<small class="雙行夾注">一兩半</small>　人參<small class="雙行夾注">一兩半</small>　甘草<small class="雙行夾注">一兩，炙</small>　半夏<small class="雙行夾注">二合半，洗</small>　芍藥<small class="雙行夾注">一兩半</small>　大棗<small class="雙行夾注">六枚，擘</small>　生薑<small class="雙行夾注">一兩半，切</small>　柴胡<small class="雙行夾注">四兩</small></p>
<p>右九味，以水七升，煑取三升，去滓，溫服一升。夲云：人參湯，作如桂枝法，加半夏、柴胡、黄芩；復如柴胡法，𫝆用人參，作半劑。</p>
</span>
</span>
<span data-sec="p">
<p id="147">傷寒五六日，已𤼵汗而復下之，胷脇滿㣲結，小便不利，渴而不嘔，但頭汗出，往来寒𤍠，心煩者，此為未觧也，柴胡桂枝乾薑湯主之。</p>
<span typeof="jc:formula">
<p><b>柴胡桂枝乾薑湯方</b></p>
<p>柴胡<small class="雙行夾注">半斤</small>　桂枝<small class="雙行夾注">三兩，去皮</small>　乾薑<small class="雙行夾注">二兩</small>　栝蔞根<small class="雙行夾注">四兩</small>　黄芩<small class="雙行夾注">三兩</small>　牡蠣<small class="雙行夾注">二兩，熬</small>　甘草<small class="雙行夾注">二兩，炙</small></p>
<p>右七味，以水一斗二升，煑取六升，去滓，再煎取三升，溫服一升，日三服。𭃡服㣲煩，復服，汗出便愈。</p>
</span>
</span>
<p id="148">傷寒五六日，頭汗出，㣲惡寒，手足冷，心下滿，口不欲食，大便鞕，脉細者，此為陽㣲結，必有表，復有裏也。脉沈，亦在裏也。汗出，為陽㣲。假令純隂結，不得復有外證，悉入在裏，此為半在裏半在外也。脉雖沈緊，不得為少隂病。所以然者，隂不得有汗，𫝆頭汗出，故知非少隂也。可與小柴胡湯，設不了了者，得屎而觧。</p>
<span data-sec="p">
<p id="149">傷寒五六日，嘔而𤼵𤍠者，柴胡湯證具，而以他藥下之，柴胡證仍在者，復與柴胡湯。此雖已下之，不為逆，必蒸蒸而振，卻𤼵𤍠汗出而觧。若心下滿而鞕痛者，此為結胷也，大䧟胷湯主之。但滿而不痛者，此為痞，柴胡不中與之，宜半夏瀉心湯。</p>
<span typeof="jc:formula">
<p><b>半夏瀉心湯方</b></p>
<p>半夏<small class="雙行夾注">半升，洗</small>　黄芩　乾薑　人參　甘草<small class="雙行夾注">炙，各三兩</small>　黄連<small class="雙行夾注">一兩</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右七味，以水一斗，煑取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
</span>
<p id="150">太陽少陽并病，而反下之，成結胷，心下鞕，下利不止，水漿不下，其人心煩。</p>
<p id="151">脉浮而緊，而復下之，緊反入裏，則作痞，按之自濡，但氣痞耳。</p>
<span data-sec="p">
<p id="152">太陽中風，下利，嘔逆，表觧者，乃可攻之。其人漐漐汗出，𤼵作有時，頭痛，心下痞鞕滿，引脇下痛，乾嘔，短氣，汗出不惡寒者，此表觧裏未和也，十棗湯主之。</p>
<span typeof="jc:formula">
<p><b>十棗湯方</b></p>
<p>芫花<small class="雙行夾注">熬</small>　甘遂　大戟</p>
<p>右三味，等分，各別搗為散，以水一升半，先煑大棗肥者十枚，取八合，去滓，内藥末。强人服一錢匕，羸人服半錢。溫服之，平旦服。若下後病不除者，明日更服加半錢，得快下利後，糜粥自養。</p>
</span>
</span>
<p id="153">太陽病，醫𤼵汗，遂𤼵𤍠惡寒，因復下之，心下痞，表裏俱虗，隂陽氣并竭，無陽則隂獨，復加燒針，因胷煩。靣色青黄，膚瞤者，難治。𫝆色㣲黄，手足溫者，易愈。</p>
<span data-sec="p">
<p id="154">心下痞，按之濡，其脉𨵿上浮者，大黄黄連瀉心湯主之。</p>
<span typeof="jc:formula">
<p><b>大黄黄連瀉心湯方</b></p>
<p>大黄<small class="雙行夾注">二兩</small>　黄連<small class="雙行夾注">一兩</small></p>
<p>右二味，以麻沸湯二升漬之，須臾，絞去滓，分溫再服。</p>
</span>
</span>
<span data-sec="p">
<p id="155">心下痞，而復惡寒汗出者，附子瀉心湯主之。</p>
<span typeof="jc:formula">
<p><b>附子瀉心湯方</b></p>
<p>大黄<small class="雙行夾注">二兩</small>　黄連<small class="雙行夾注">一兩</small>　黄芩<small class="雙行夾注">一兩</small>　附子<small class="雙行夾注">一枚，炮，去皮，破，別煑取汁</small></p>
<p>右四味，切三味，以麻沸湯二升漬之，須臾，絞去滓，内附子汁，分溫再服。</p>
</span>
</span>
<p id="156">夲以下之，故心下痞，與瀉心湯，痞不觧，其人渴而口燥，煩，小便不利者，五苓散主之。</p>
<span data-sec="p">
<p id="157">傷寒汗出，觧之後，胃中不和，心下痞鞕，乾噫食臭，脇下有水氣，腹中雷鳴，下利者，生薑瀉心湯主之。</p>
<span typeof="jc:formula">
<p><b>生薑瀉心湯方</b></p>
<p>生薑<small class="雙行夾注">四兩，切</small>　甘草<small class="雙行夾注">三兩，炙</small>　人參<small class="雙行夾注">三兩</small>　乾薑<small class="雙行夾注">一兩</small>　黄芩<small class="雙行夾注">三兩</small>　半夏<small class="雙行夾注">半升，洗</small>　黄連<small class="雙行夾注">一兩</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右八味，以水一斗，煑取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
</span>
<p>附子瀉心湯，夲云：加附子。半夏瀉心湯、甘草瀉心湯，同體別名耳。生薑瀉心湯，夲云：理中人參黄茶湯，去桂枝朮，加黄連，並瀉肝法。</p>
<span data-sec="p">
<p id="158">傷寒中風，醫反下之，其人下利，日數十行，穀不化，腹中雷鳴，心下痞鞕而滿，乾嘔，心煩不得安。醫見心下痞，謂病不盡，復下之，其痞益甚，此非結𤍠，但以胃中虗，客氣上逆，故使鞕也，甘草瀉心湯主之。</p>
<span typeof="jc:formula">
<p><b>甘草瀉心湯方</b></p>
<p>甘草<small class="雙行夾注">四兩，炙</small>　黄芩<small class="雙行夾注">三兩</small>　半夏<small class="雙行夾注">半升，洗</small>　大棗<small class="雙行夾注">十二枚，擘</small>　黄連<small class="雙行夾注">一兩</small>　乾薑<small class="雙行夾注">三兩</small></p>
<p>右六味，以水一斗，煑取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
</span>
<span data-sec="p">
<p id="159">傷寒，服湯藥，下利不止，心下痞鞕。服瀉心湯已，復以他藥下之，利不止。醫以理中與之，利益甚。理中者，理中焦，此利在下焦，赤石脂禹餘糧湯主之。復不止者，當利其小便。</p>
<span typeof="jc:formula">
<p><b>赤石脂禹餘糧湯方</b></p>
<p>赤石脂<small class="雙行夾注">一斤，碎</small>　太一禹餘糧<small class="雙行夾注">一斤，碎</small></p>
<p>右二味，以水六升，煑取二升，去滓，分溫三服。</p>
</span>
</span>
<p id="160">傷寒吐下後，𤼵汗，虗煩，脉甚㣲，八九日心下痞鞕，脇下痛，氣上衝咽喉，眩冒，𦀇脉動惕者，久而成痿。</p>
<span data-sec="p">
<p id="161">傷寒𤼵汗，若吐若下，觧後，心下痞鞕，噫氣不除者，旋覆代赭湯主之。</p>
<span typeof="jc:formula">
<p><b>旋覆代赭湯方</b></p>
<p>旋覆花<small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">二兩</small>　生薑<small class="雙行夾注">五兩</small>　代赭<small class="雙行夾注">一兩</small>　甘草<small class="雙行夾注">三兩，炙</small>　半夏<small class="雙行夾注">半升，洗</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右七味，以水一斗，煑取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
</span>
<p id="162">下後，不可更行桂枝湯，若汗出而喘，無大𤍠者，可與麻黄杏仁甘草石膏湯。</p>
<span data-sec="p">
<p id="163">太陽病，外證未除，而數下之，遂協𤍠而利，利下不止，心下痞鞕，表裏不觧者，桂枝人參湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝人參湯方</b></p>
<p>桂枝<small class="雙行夾注">四兩，別切</small>　甘草<small class="雙行夾注">四兩，炙</small>　白朮<small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">三兩</small>　乾薑<small class="雙行夾注">三兩</small></p>
<p>右五味，以水九升，先煑四味，取五升，内桂，更煑取三升，去滓，溫服一升，日再夜一服。</p>
</span>
</span>
<p id="164">傷寒大下後，復𤼵汗，心下痞，惡寒者，表未觧也。不可攻痞，當先觧表，表觧乃可攻痞。觧表宜桂枝湯，攻痞宜大黄黄連瀉心湯。</p>
<p id="165">傷寒𤼵𤍠，汗出不觧，心中痞鞕，嘔吐而下利者，大柴胡湯主之。</p>
<span data-sec="p">
<p id="166">病如桂枝證，頭不痛，項不强，寸脉㣲浮，胷中痞鞕，氣上衝喉咽不得息者，此為胷有寒也，當吐之，宜瓜蒂散。</p>
<span typeof="jc:formula">
<p><b>瓜蒂散方</b></p>
<p>瓜蒂<small class="雙行夾注">一分，熬黄</small>　赤小豆<small class="雙行夾注">一分</small></p>
<p>右二味，各別搗篩，為散已，合治之，取一錢匕。以香豉一合，用𤍠湯七合，煑作稀糜，去滓。取汁合散，溫，頓服之。不吐者，少少加；得快吐，乃止。諸亡血、虗家，不可與瓜蒂散。</p>
</span>
</span>
<p id="167">病脇下素有痞，連在臍旁，痛引少腹，入隂筋者，此名藏結，死。</p>
<p id="168">傷寒若吐若下後，七八日不觧，𤍠結在裏，表裏俱𤍠，時時惡風，大渴，舌上乾燥而煩，欲飲水數升者，白虎加人參湯主之。</p>
<p id="169">傷寒無大𤍠，口燥渴，心煩，背㣲惡寒者，白虎加人參湯主之。</p>
<p id="170">傷寒，脉浮，𤼵𤍠無汗，其表不觧，不可與白虎湯；渴欲飲水，無表證者，白虎加人參湯主之。</p>
<p id="171">太陽少陽并病，心下鞕，頸項强而眩者，當刺大椎、肺俞、肝俞，慎勿下之。</p>
<span data-sec="p">
<p id="172">太陽與少陽合病，自下利者，與黄芩湯；若嘔者，黄芩加半夏生薑湯主之。</p>
<span typeof="jc:formula">
<p><b>黄芩湯方</b></p>
<p>黄芩<small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">二兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右四味，以水一斗，煑取三升，去滓，溫服一升，日再、夜一服。</p>
</span>
<span typeof="jc:formula">
<p><b>黄芩加半夏生薑湯方</b></p>
<p>黄芩<small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">二兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small>　半夏<small class="雙行夾注">半升，洗</small>　生薑<small class="雙行夾注">一兩半，一方三兩，切</small></p>
<p>右六味，以水一斗，煑取三升，去滓，溫服一升，日再、夜一服。</p>
</span>
</span>
<span data-sec="p">
<p id="173">傷寒胷中有𤍠，胃中有邪氣，腹中痛，欲嘔吐者，黄連湯主之。</p>
<span typeof="jc:formula">
<p><b>黄連湯方</b></p>
<p>黄連<small class="雙行夾注">三兩</small>　甘草<small class="雙行夾注">三兩，炙</small>　乾薑<small class="雙行夾注">三兩</small>　桂枝<small class="雙行夾注">三兩，去皮</small>　人參<small class="雙行夾注">二兩</small>　半夏<small class="雙行夾注">半升，洗</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右七味，以水一斗，煑取六升，去滓，溫服，晝三夜二。</p>
</span>
</span>
<span data-sec="p">
<p id="174">傷寒八九日，風濕相摶，身體疼煩，不能自轉側，不嘔不渴，脉浮虗而濇者，桂枝附子湯主之。若其人大便鞕，小便自利者，去桂加白朮湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝附子湯方</b></p>
<p>桂枝<small class="雙行夾注">四兩，去皮</small>　附子<small class="雙行夾注">三枚，炮，去皮，破</small>　生薑<small class="雙行夾注">三兩，切</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右五味，以水六升，煑取二升，去滓，分溫三服。</p>
</span>
<span typeof="jc:formula">
<p><b>去桂加白朮湯方</b></p>
<p>附子<small class="雙行夾注">三枚，炮，去皮，破</small>　白朮<small class="雙行夾注">四兩</small>　生薑<small class="雙行夾注">三兩，切</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右五味，以水六升，煑取兩升，去滓，分溫三服。𭃡一服，其人身如𤷒，半日許復服之，三服都盡，其人如冒狀，勿怪。此以附子、朮並走皮内，逐水氣未得除，故使之耳，法當加桂四兩。此夲一方二法：以大便鞕、小便自利，去桂也；以大便不鞕、小便不利，當加桂。附子三枚，恐多也。虗弱家及產婦，宜減服之。</p>
</span>
</span>
<span data-sec="p">
<p id="175">風濕相摶，骨節疼煩，掣痛不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身㣲腫者，甘草附子湯主之。</p>
<span typeof="jc:formula">
<p><b>甘草附子湯方</b></p>
<p>甘草<small class="雙行夾注">二兩，炙</small>　附子<small class="雙行夾注">二枚，炮，去皮，破</small>　白朮<small class="雙行夾注">二兩</small>　桂枝<small class="雙行夾注">四兩，去皮</small></p>
<p>右四味，以水六升，煑取三升，去滓，溫服一升，日三服。𭃡取得㣲汗則觧。能食汗止復煩者，将服五合，恐一升多者，宜服六七合為始。</p>
</span>
</span>
<span data-sec="p">
<p id="176">傷寒，脉浮滑，此以表有𤍠，裏有寒，白虎湯主之。</p>
<span typeof="jc:formula">
<p><b>白虎湯方</b></p>
<p>知母<small class="雙行夾注">六兩</small>　石膏<small class="雙行夾注">一斤，碎</small>　甘草<small class="雙行夾注">二兩，炙</small>　粳米<small class="雙行夾注">六合</small></p>
<p>右四味，以水一斗，煑米熟，湯成，去滓，溫服一升，日三服。</p>
</span>
</span>
<span data-sec="p">
<p id="177">傷寒，脉結代，心動悸，炙甘草湯主之。</p>
<span typeof="jc:formula">
<p><b>炙甘草湯方</b></p>
<p>甘草<small class="雙行夾注">四兩，炙</small>　生薑<small class="雙行夾注">三兩，切</small>　人參<small class="雙行夾注">二兩</small>　生地黄<small class="雙行夾注">一斤</small>　桂枝<small class="雙行夾注">三兩，去皮</small>　阿膠<small class="雙行夾注">二兩</small>　麥門冬<small class="雙行夾注">半斤，去心</small>　麻仁<small class="雙行夾注">半升</small>　大棗<small class="雙行夾注">三十枚，擘</small></p>
<p>右九味，以清酒七升，水八升，先煑八味，取三升，去滓，内膠烊消盡，溫服一升，日三服。一名復脉湯。</p>
</span>
</span>
<p id="178">脉按之来緩，時一止復来者，名曰結。又脉来動而中止，更来小數，中有還者反動，名曰結，隂也。脉来動而中止，不能自還，因而復動者，名曰代，隂也。得此脉者，必難治。</p>
<h2>卷第五</h2>
<h3>辨陽明病脉證並治第八</h3>
<p id="179">問曰：病有太陽陽明，有正陽陽明，有少陽陽明，何謂也？荅曰：太陽陽明者，脾約是也；正陽陽明者，胃家實是也；少陽陽明者，𤼵汗利小便已，胃中燥煩實，大便難是也。</p>
<p id="180">陽明之為病，胃家實是也。</p>
<p id="181">問曰：何緣得陽明病？荅曰：太陽病，若𤼵汗，若下，若利小便，此亡津液，胃中乾燥，因轉屬陽明。不更衣，内實，大便難者，此名陽明也。</p>
<p id="182">問曰：陽明病外證云何？荅曰：身𤍠，汗自出，不惡寒，反惡𤍠也。</p>
<p id="183">問曰：病有得之一日，不𤼵𤍠而惡寒者，何也？荅曰：雖得之一日，惡寒将自罷，即自汗出而惡𤍠也。</p>
<p id="184">問曰：惡寒何故自罷？荅曰：陽明居中，主土也，萬物所歸，無所復傳，始雖惡寒，二日自止，此為陽明病也。</p>
<p id="185">夲太陽，𭃡得病時，𤼵其汗，汗先出不徹，因轉屬陽明也。傷寒𤼵𤍠，無汗，嘔不能食，而反汗出濈濈然者，是轉屬陽明也。</p>
<p id="186">傷寒三日，陽明脉大。</p>
<p id="187">傷寒脉浮而緩，手足自溫者，是為繫在太隂。太隂者，身當𤼵黄，若小便自利者，不能𤼵黄；至七八日，大便鞕者，為陽明病也。</p>
<p id="188">傷寒轉繫陽明者，其人濈然㣲汗出也。</p>
<p id="189">陽明中風，口苦咽乾，腹滿㣲喘，𤼵𤍠惡寒，脉浮而緊。若下之，則腹滿，小便難也。</p>
<p id="190">陽明病，若能食，名中風；不能食，名中寒。</p>
<p id="191">陽明病，若中寒者，不能食，小便不利，手足濈然汗出，此欲作固瘕，必大便𭃡鞕後溏。所以然者，以胃中冷，水穀不別故也。</p>
<p id="192">陽明病，𭃡欲食，小便反不利，大便自調，其人骨節疼，翕翕如有𤍠狀，奄然𤼵狂，濈然汗出而觧者，此水不勝穀氣，與汗共并，脉緊則愈。</p>
<p id="193">陽明病，欲觧時，從申至戌上。</p>
<p id="194">陽明病，不能食，攻其𤍠必噦，所以然者，胃中虗冷故也。以其人夲虗，攻其𤍠必噦。</p>
<p id="195">陽明病，脉遲，食難用飽，飽則㣲煩頭眩，必小便難，此欲作穀癉，雖下之，腹滿如故，所以然者，脉遲故也。</p>
<p id="196">陽明病，法多汗，反無汗，其身如蟲行皮中狀者，此以久虗故也。</p>
<p id="197">陽明病，反無汗而小便利，二三日嘔而欬，手足厥者，必苦頭痛；若不欬，不嘔，手足不厥者，頭不痛。</p>
<p id="198">陽明病，但頭眩，不惡寒，故能食而欬，其人咽必痛；若不欬者，咽不痛。</p>
<p id="199">陽明病，無汗，小便不利，心中懊憹者，身必𤼵黄。</p>
<p id="200">陽明病，被火，額上㣲汗出，而小便不利者，必𤼵黄。</p>
<p id="201">陽明病，脉浮而緊者，必潮𤍠，𤼵作有時，但浮者，必盜汗出。</p>
<p id="202">陽明病，口燥，但欲漱水，不欲嚥者，此必衄。</p>
<p id="203">陽明病，夲自汗出，醫更重𤼵汗，病已差，尚㣲煩不了了者，此必大便鞕故也。以亡津液，胃中乾燥，故令大便鞕。當問其小便日幾行。若夲小便日三四行，𫝆日再行，故知大便不久出。𫝆為小便數少，以津液當還入胃中，故知不久必大便也。</p>
<p id="204">傷寒嘔多，雖有陽明證，不可攻之。</p>
<p id="205">陽明病，心下鞕滿者，不可攻之。攻之，利遂不止者死，利止者愈。</p>
<p id="206">陽明病，靣合色赤，不可攻之，必𤼵𤍠、色黄者，小便不利也。</p>
<p id="207">陽明病，不吐不下，心煩者，可與調胃承氣湯。</p>
<span data-sec="p">
<p id="208">陽明病，脉遲，雖汗出不惡寒者，其身必重，短氣，腹滿而喘，有潮𤍠者，此外欲觧，可攻裏也。手足濈然汗出者，此大便已鞕也，大承氣湯主之；若汗多，㣲𤼵𤍠惡寒者，外未觧也，其𤍠不潮，未可與承氣湯；若腹大滿不通者，可與小承氣湯，㣲和胃氣，勿令致大泄下。</p>
<span typeof="jc:formula">
<p><b>大承氣湯方</b></p>
<p>大黄<small class="雙行夾注">四兩，酒洗</small>　厚朴<small class="雙行夾注">半斤，炙，去皮</small>　枳實<small class="雙行夾注">五枚，炙</small>　芒硝<small class="雙行夾注">三合</small></p>
<p>右四味，以水一斗，先煑二物，取五升，去滓，内大黄，更煑取二升，去滓，内芒硝，更上㣲火一兩沸，分溫再服。得下，餘勿服。</p>
</span>
<span typeof="jc:formula">
<p><b>小承氣湯方</b></p>
<p>大黄<small class="雙行夾注">四兩，酒洗</small>　厚朴<small class="雙行夾注">二兩，炙，去皮</small>　枳實<small class="雙行夾注">三枚，大者，炙</small></p>
<p>右三味，以水四升，煑取一升二合，去滓，分溫二服。𭃡服當更衣，不爾者盡飲之，若更衣者，勿服之。</p>
</span>
</span>
<p id="209">陽明病，潮𤍠，大便㣲鞕者，可與大承氣湯，不鞕者，不可與之。若不大便六七日，恐有燥屎，欲知之法，少與小承氣湯。湯入腹中，轉矢氣者，此有燥屎也，乃可攻之；若不轉矢氣者，此但𭃡頭鞕，後必溏，不可攻之，攻之必脹滿不能食也。欲飲水者，與水則噦。其後𤼵𤍠者，必大便復鞕而少也，以小承氣湯和之。不轉矢氣者，慎不可攻也。</p>
<p id="210">夫實則譫語，虗則鄭聲，鄭聲者，重語也。直視，譫語，喘滿者死，下利者亦死。</p>
<p id="211">𤼵汗多，若重𤼵汗者，亡其陽，譫語，脉短者死，脉自和者不死。</p>
<p id="212">傷寒若吐若下後，不觧，不大便五六日，上至十餘日。日晡所𤼵潮𤍠，不惡寒，獨語如見鬼狀。若劇者，𤼵則不識人，循衣摸床，惕而不安，㣲喘直視。脉弦者生，濇者死。㣲者，但𤼵𤍠譫語者，大承氣湯主之。若一服利，則止後服。</p>
<p id="213">陽明病，其人多汗，以津液外出，胃中燥，大便必鞕，鞕則譫語。小承氣湯主之。若一服譫語止者，更莫復服。</p>
<p id="214">陽明病，譫語，𤼵潮𤍠，脉滑而疾者，小承氣湯主之。因與承氣湯一升，腹中轉氣者，更服一升；若不轉氣者，勿更與之。明日又不大便，脉反㣲濇者，裏虗也，為難治，不可更與承氣湯也。</p>
<p id="215">陽明病，譫語，有潮𤍠，反不能食者，胃中必有燥屎五六枚也。若能食者，但鞕耳。宜大承氣湯下之。</p>
<p id="216">陽明病，下血，譫語者，此為𤍠入血室。但頭汗出者，刺期門，隨其實而瀉之，濈然汗出則愈。</p>
<p id="217">汗出，譫語者，以有燥屎在胃中，此為風也。須下者，過𦀇乃可下之。下之若早，語言必亂，以表虗裏實故也。下之愈，宜大承氣湯。</p>
<p id="218">傷寒四五日，脉沈而喘滿，沈為在裏，而反𤼵其汗，津液越出，大便為難，表虗裏實，久則譫語。</p>
<p id="219">三陽合病，腹滿，身重，難以轉側，口不仁，靣垢，譫語，遺尿。𤼵汗則譫語，下之則額上生汗，手足厥冷。若自汗出者，白虎湯主之。</p>
<p id="220">二陽并病，太陽證罷，但𤼵潮𤍠，手足漐漐汗出，大便難而譫語者，下之則愈，宜大承氣湯。</p>
<p id="221">陽明病，脉浮而緊，咽燥，口苦，腹滿而喘，𤼵𤍠汗出，不惡寒，反惡𤍠，身重。若𤼵汗則躁，心憒憒，反譫語，若加溫針，必怵惕，煩躁不得眠。若下之，則胃中空虗，客氣動膈，心中懊憹，舌上胎者，梔子豉湯主之。</p>
<p id="222">若渴欲飲水，口乾舌燥者，白虎加人參湯主之。</p>
<span data-sec="p">
<p id="223">若脉浮，𤼵𤍠，渴欲飲水，小便不利者，豬苓湯主之。</p>
<span typeof="jc:formula">
<p><b>豬苓湯方</b></p>
<p>豬苓<small class="雙行夾注">去皮</small>　茯苓　澤瀉　阿膠　滑石<small class="雙行夾注">碎，各一兩</small></p>
<p>右五味，以水四升，先煑四味，取二升，去滓，内阿膠烊消，溫服七合，日三服。</p>
</span>
</span>
<p id="224">陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中燥，豬苓湯復利其小便故也。</p>
<p id="225">脉浮而遲，表𤍠裏寒，下利清穀者，四逆湯主之。</p>
<p id="226">若胃中虗冷，不能食者，飲水則噦。</p>
<p id="227">脉浮，𤼵𤍠，口乾，鼻燥，能食者則衄。</p>
<p id="228">陽明病，下之，其外有𤍠，手足溫，不結胷，心中懊憹，飢不能食，但頭汗出者，梔子豉湯主之。</p>
<p id="229">陽明病，𤼵潮𤍠，大便溏，小便自可，胷脇滿不去者，與小柴胡湯。</p>
<p id="230">陽明病，脇下鞕滿，不大便，而嘔，舌上白胎者，可與小柴胡湯。上焦得通，津液得下，胃氣因和，身濈然汗出而觧。</p>
<p id="231">陽明中風，脉弦浮大而短氣，腹都滿，脇下及心痛，久按之氣不通，鼻乾，不得汗，嗜臥，一身及目悉黄，小便難，有潮𤍠，時時噦，耳前後腫。刺之小差，外不觧，病過十日，脉續浮者，與小柴胡湯。</p>
<p id="232">脉但浮，無餘證者，與麻黄湯。若不尿，腹滿加噦者，不治。</p>
<span data-sec="p">
<p id="233">陽明病，自汗出，若𤼵汗，小便自利者，此為津液内竭，雖鞕不可攻之，當須自欲大便，宜蜜煎導而通之，若土瓜根及大豬膽汁，皆可為導。</p>
<span typeof="jc:formula">
<p><b>蜜煎導方</b></p>
<p>食蜜<small class="雙行夾注">七合</small></p>
<p>右一味。於銅器内，㣲火煎，當須凝如飴狀，攪之勿令焦著，欲可丸。並手捻作挺，令頭銳，大如指，長二寸許，當𤍠時急作，冷則鞕。以内穀道中，以手急抱，欲大便時乃去之。</p>
</span>
<span typeof="jc:formula">
<p><b>土瓜根方</b></p>
<p>已佚</p>
</span>
<span typeof="jc:formula">
<p><b>豬膽汁方</b></p>
<p>又大豬膽一枚，瀉汁，和少許法醋，以灌穀道内。如一食頃，當大便出宿食惡物，甚效。</p>
</span>
</span>
<p id="234">陽明病，脉遲，汗出多，㣲惡寒者，表未觧也，可𤼵汗，宜桂枝湯。</p>
<p id="235">陽明病，脉浮，無汗而喘者，𤼵汗則愈，宜麻黄湯。</p>
<span data-sec="p">
<p id="236">陽明病，𤼵𤍠汗出者，此為𤍠越，不能𤼵黄也；但頭汗出，身無汗，劑頸而還，小便不利，渴引水漿者，此為瘀𤍠在裏，身必𤼵黄，茵陳蒿湯主之。</p>
<span typeof="jc:formula">
<p><b>茵陳蒿湯方</b></p>
<p>茵陳蒿<small class="雙行夾注">六兩</small>　梔子<small class="雙行夾注">十四枚，擘</small>　大黄<small class="雙行夾注">二兩，去皮</small></p>
<p>右三味，以水一斗二升，先煑茵陳，減六升，内二味，煑取三升，去滓，分三服。小便當利，尿如皂莢汁狀，色正赤，一宿腹減，黄從小便去也。</p>
</span>
</span>
<p id="237">陽明證，其人喜忘者，必有畜血。所以然者，夲有久瘀血，故令喜忘，屎雖鞕，大便反易，其色必黑者，宜抵當湯下之。</p>
<p id="238">陽明病，下之，心中懊憹而煩，胃中有燥屎者，可攻。腹㣲滿，𭃡頭鞕，後必溏，不可攻之。若有燥屎者，宜大承氣湯。</p>
<p id="239">病人不大便五六日，繞臍痛，煩躁，𤼵作有時者，此有燥屎，故使不大便也。</p>
<p id="240">病人煩𤍠，汗出則觧，又如瘧狀，日晡所𤼵𤍠者，屬陽明也。脉實者，宜下之；脉浮虗者，宜𤼵汗。下之，與大承氣湯；𤼵汗，宜桂枝湯。</p>
<p id="241">大下後，六七日不大便，煩不觧，腹滿痛者，此有燥屎也。所以然者，夲有宿食故也，宜大承氣湯。</p>
<p id="242">病人小便不利，大便乍難乍易，時有㣲𤍠，喘冒不能臥者，有燥屎也。宜大承氣湯。</p>
<span data-sec="p">
<p id="243">食穀欲嘔，屬陽明也，吳茱萸湯主之；得湯反劇者，屬上焦也。</p>
<span typeof="jc:formula">
<p><b>吳茱萸湯方</b></p>
<p>吳茱萸<small class="雙行夾注">一升，洗</small>　人參<small class="雙行夾注">三兩</small>　生薑<small class="雙行夾注">六兩，切</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右四味，以水七升，煑取二升，去滓，溫服七合，日三服。</p>
</span>
</span>
<p id="244">太陽病，寸緩、𨵿浮、尺弱，其人𤼵𤍠汗出，復惡寒，不嘔，但心下痞者，此以醫下之也。如其不下者，病人不惡寒而渴者，此轉屬陽明也，小便數者，大便必鞕，不更衣十日，無所苦也。渴欲飲水，少少與之，但以法救之，渴者，宜五苓散。</p>
<p id="245">陽脉㣲而汗出少者，為自和也；汗出多者為太過，陽脉實。因𤼵其汗，出多者，亦為太過，太過者，為陽絶於裏，亡津液，大便因鞕也。</p>
<p id="246">脉浮而芤，浮為陽，芤為隂，浮芤相摶，胃氣生𤍠，其陽則絶。</p>
<span data-sec="p">
<p id="247">趺陽脉浮而濇，浮則胃氣强，濇則小便數，浮濇相摶，大便則鞕，其脾為約，麻子仁丸主之。</p>
<span typeof="jc:formula">
<p><b>麻子仁丸方</b></p>
<p>麻子仁<small class="雙行夾注">二升</small>　芍藥<small class="雙行夾注">半斤</small>　枳實<small class="雙行夾注">半斤，炙</small>　大黄<small class="雙行夾注">一斤，去皮</small>　厚朴<small class="雙行夾注">一尺，炙，去皮</small>　杏仁<small class="雙行夾注">一升，去皮尖，熬，別作脂</small></p>
<p>右六味，蜜和丸，如梧桐子大，飲服十丸，日三服，漸加，以知為度。</p>
</span>
</span>
<p id="248">太陽病三日，𤼵汗不觧，蒸蒸𤼵𤍠者，屬胃也，調胃承氣湯主之。</p>
<p id="249">傷寒吐後，腹脹滿者，與調胃承氣湯。</p>
<p id="250">太陽病，若吐、若下，若𤼵汗後，㣲煩，小便數，大便因鞕者，與小承氣湯，和之愈。</p>
<p id="251">得病二三日，脉弱，無太陽柴胡證，煩躁，心下鞕，至四五日，雖能食，以小承氣湯少少與，㣲和之，令小安。至六日，與承氣湯一升。若不大便六七日，小便少者，雖不受食，但𭃡頭鞕，後必溏，未定成鞕，攻之必溏，須小便利，屎定鞕，乃可攻之，宜大承氣湯。</p>
<p id="252">傷寒六七日，目中不了了，睛不和，無表裏證，大便難，身㣲𤍠者，此為實也。急下之，宜大承氣湯。</p>
<p id="253">陽明病，𤼵𤍠，汗多者，急下之，宜大承氣湯。</p>
<p id="254">𤼵汗不觧，腹滿痛者，急下之，宜大承氣湯。</p>
<p id="255">腹滿不減，減不足言，當下之，宜大承氣湯。</p>
<p id="256">陽明少陽合病，必下利，其脉不負者，為順也。負者，失也。互相剋賊，名為負也。脉滑而數者，有宿食也。當下之，宜大承氣湯。</p>
<p id="257">病人無表裏證，𤼵𤍠七八日，雖脉浮數者，可下之。假令已下，脉數不觧，合𤍠則消穀善飢，至六七日，不大便者，有瘀血，宜抵當湯。</p>
<p id="258">若脉數不觧，而下不止，必協𤍠便膿血也。</p>
<p id="259">傷寒𤼵汗已，身目為黄，所以然者，以寒濕在裏不觧故也，以為不可下也，於寒濕中求之。</p>
<p id="260">傷寒七八日，身黄如橘子色，小便不利，腹㣲滿者，茵陳蒿湯主之。</p>
<span data-sec="p">
<p id="261">傷寒，身黄，𤼵𤍠，梔子柏皮湯主之。</p>
<span typeof="jc:formula">
<p><b>梔子柏皮湯方</b></p>
<p>肥梔子<small class="雙行夾注">十五個，擘</small>　甘草<small class="雙行夾注">一兩，炙</small>　黄柏<small class="雙行夾注">二兩</small></p>
<p>右三味，以水四升，煑取一升半，去滓，分溫再服。</p>
</span>
</span>
<span data-sec="p">
<p id="262">傷寒瘀𤍠在裏，身必黄，麻黄連軺赤小豆湯主之。</p>
<span typeof="jc:formula">
<p><b>麻黄連軺赤小豆湯方</b></p>
<p>麻黄<small class="雙行夾注">二兩，去節</small>　連軺<small class="雙行夾注">二兩</small>　杏仁<small class="雙行夾注">四十個，去皮尖</small>　赤小豆<small class="雙行夾注">一升</small>　大棗<small class="雙行夾注">十二枚，擘</small>　生梓白皮<small class="雙行夾注">一升，切</small>　生薑<small class="雙行夾注">二兩，切</small>　甘草<small class="雙行夾注">二兩，炙</small></p>
<p>右八味，以潦水一斗，先煑麻黄，再沸，去上沫，内諸藥，煑取三升，去滓，分溫三服，半日服盡。</p>
</span>
</span>
<h3>辨少陽病脉證並治第九</h3>
<p id="263">少陽之為病，口苦，咽乾，目眩也。</p>
<p id="264">少陽中風，兩耳無所聞，目赤，胷中滿而煩者，不可吐下，吐下則悸而驚。</p>
<p id="265">傷寒，脉弦細，頭痛𤼵𤍠者，屬少陽。少陽不可𤼵汗，𤼵汗則譫語，此屬胃，胃和則愈；胃不和，煩而悸。</p>
<p id="266">夲太陽病不觧，轉入少陽者，脇下鞕滿，乾嘔不能食，往来寒𤍠，尚未吐下，脉沈緊者，與小柴胡湯。</p>
<p id="267">若已吐、下、𤼵汗、溫針，譫語，柴胡湯證罷，此為壞病，知犯何逆，以法治之。</p>
<p id="268">三陽合病，脉浮大，上𨵿上，但欲眠睡，目合則汗。</p>
<p id="269">傷寒六七日，無大𤍠，其人躁煩者，此為陽去入隂故也。</p>
<p id="270">傷寒三日，三陽為盡，三隂當受邪，其人反能食而不嘔，此為三隂不受邪也。</p>
<p id="271">傷寒三日，少陽脉小者，欲已也。</p>
<p id="272">少陽病，欲觧時，從寅至辰上。</p>
<h2>卷第六</h2>
<h3>辨太隂病脉證並治第十</h3>
<p id="273">太隂之為病，腹滿而吐，食不下，自利益甚，時腹自痛。若下之，必胷下結鞕。</p>
<p id="274">太隂中風，四肢煩疼，脉陽㣲隂濇而長者，為欲愈。</p>
<p id="275">太隂病，欲觧時，從亥至丑上。</p>
<p id="276">太隂病，脉浮者，可𤼵汗，宜桂枝湯。</p>
<p id="277">自利不渴者，屬太隂，以其臟有寒故也，當溫之，宜服四逆輩。</p>
<p id="278">傷寒脉浮而緩，手足自溫者，繫在太隂。太隂當𤼵身黄，若小便自利者，不能𤼵黄；至七八日，雖暴煩下利，日十餘行，必自止，以脾家實，腐穢當去故也。</p>
<span data-sec="p">
<p id="279">夲太陽病，醫反下之，因爾腹滿時痛者，屬太隂也，桂枝加芍藥湯主之；大實痛者，桂枝加大黄湯主之。</p>
<span typeof="jc:formula">
<p><b>桂枝加芍藥湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　芍藥<small class="雙行夾注">六兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small>　生薑<small class="雙行夾注">三兩，切</small></p>
<p>右五味，以水七升，煑取三升，去滓，溫分三服。夲云：桂枝湯，𫝆加芍藥。</p>
</span>
<span typeof="jc:formula">
<p><b>桂枝加大黄湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　大黄<small class="雙行夾注">二兩</small>　芍藥<small class="雙行夾注">六兩</small>　生薑<small class="雙行夾注">三兩，切</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右六味，以水七升，煑取三升，去滓，溫服一升，日三服。</p>
</span>
</span>
<p id="280">太隂為病，脉弱，其人續自便利，設當行大黄、芍藥者，宜減之，以其人胃氣弱，易動故也。</p>
<h3>辨少隂病脉證並治第十一</h3>
<p id="281">少隂之為病，脉㣲細，但欲寐也。</p>
<p id="282">少隂病，欲吐不吐，心煩，但欲寐，五六日自利而渴者，屬少隂也。虗故引水自救。若小便色白者，少隂病形悉具。小便白者，以下焦虗有寒，不能制水，故令色白也。</p>
<p id="283">病人脉隂陽俱緊，反汗出者，亡陽也，此屬少隂，法當咽痛而復吐利。</p>
<p id="284">少隂病，欬而下利，譫語者，被火氣劫故也。小便必難，以强責少隂汗也。</p>
<p id="285">少隂病，脉細沈數，病為在裏，不可𤼵汗。</p>
<p id="286">少隂病，脉㣲，不可𤼵汗，亡陽故也。陽已虗，尺脉弱濇者，復不可下之。</p>
<p id="287">少隂病，脉緊，至七八日，自下利，脉暴㣲，手足反溫，脉緊反去者，為欲觧也，雖煩下利，必自愈。</p>
<p id="288">少隂病，下利，若利自止，惡寒而踡臥，手足溫者，可治。</p>
<p id="289">少隂病，惡寒而踡，時自煩，欲去衣被者，可治。</p>
<p id="290">少隂中風，脉陽㣲隂浮者，為欲愈。</p>
<p id="291">少隂病，欲觧時，從子至寅上。</p>
<p id="292">少隂病，吐、利，手足不逆冷，反𤼵𤍠者，不死；脉不至者，灸少隂七壯。</p>
<p id="293">少隂病，八九日，一身手足盡𤍠者，以𤍠在膀胱，必便血也。</p>
<p id="294">少隂病，但厥，無汗，而强𤼵之，必動其血。未知從何道出，或從口鼻，或從目出者，是名下厥上竭，為難治。</p>
<p id="295">少隂病，惡寒，身踡而利，手足逆冷者，不治。</p>
<p id="296">少隂病，吐、利、躁煩，四逆者，死。</p>
<p id="297">少隂病，下利止而頭眩，時時自冒者，死。</p>
<p id="298">少隂病，四逆，惡寒而身踡，脉不至，不煩而躁者，死。</p>
<p id="299">少隂病，六七日，息高者，死。</p>
<p id="300">少隂病，脉㣲細沈，但欲臥，汗出不煩，自欲吐。至五六日，自利，復煩躁不得臥寐者，死。</p>
<span data-sec="p">
<p id="301">少隂病，始得之，反𤼵𤍠，脉沈者，麻黄細辛附子湯主之。</p>
<span typeof="jc:formula">
<p><b>麻黄細辛附子湯方</b></p>
<p>麻黄<small class="雙行夾注">二兩，去節</small>　細辛<small class="雙行夾注">二兩</small>　附子<small class="雙行夾注">一枚，炮，去皮，破八片</small></p>
<p>右三味，以水一斗，先煑麻黄，減二升，去上沫，内諸藥，煑取三升，去滓，溫服一升，日三服。</p>
</span>
</span>
<span data-sec="p">
<p id="302">少隂病，得之二三日，麻黄附子甘草湯㣲𤼵汗，以二三日無證，故㣲𤼵汗也。</p>
<span typeof="jc:formula">
<p><b>麻黄附子甘草湯方</b></p>
<p>麻黄<small class="雙行夾注">二兩，去節</small>　甘草<small class="雙行夾注">二兩，炙</small>　附子<small class="雙行夾注">一枚，炮，去皮，破八片</small></p>
<p>右三味，以水七升，先煑麻黄一兩沸，去上沫，内諸藥，煑取三升，去滓，溫服一升，日三服。</p>
</span>
</span>
<span data-sec="p">
<p id="303">少隂病，得之二三日以上，心中煩，不得臥，黄連阿膠湯主之。</p>
<span typeof="jc:formula">
<p><b>黄連阿膠湯方</b></p>
<p>黄連<small class="雙行夾注">四兩</small>　黄芩<small class="雙行夾注">二兩</small>　芍藥<small class="雙行夾注">二兩</small>　雞子黄<small class="雙行夾注">二枚</small>　阿膠<small class="雙行夾注">三兩</small><span data-rev="注"><small class="雙行夾注">一云三挺</small></span></p>
<p>右五味，以水六升，先煑三物，取二升，去滓，内膠烊盡，小冷，内雞子黄，攪令相得，溫服七合，日三服。</p>
</span>
</span>
<span data-sec="p">
<p id="304">少隂病，得之一二日，口中和，其背惡寒者，當灸之，附子湯主之。</p>
<span typeof="jc:formula">
<p><b>附子湯方</b></p>
<p>附子<small class="雙行夾注">二枚，炮，去皮，破八片</small>　茯苓<small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">二兩</small>　白朮<small class="雙行夾注">四兩</small>　芍藥<small class="雙行夾注">三兩</small></p>
<p>右五味，以水八升，煑取三升，去滓，溫服一升，日三服。</p>
</span>
</span>
<p id="305">少隂病，身體痛，手足寒，骨節痛，脉沈者，附子湯主之。</p>
<span data-sec="p">
<p id="306">少隂病，下利，便膿血者，桃花湯主之。</p>
<span typeof="jc:formula">
<p><b>桃花湯方</b></p>
<p>赤石脂<small class="雙行夾注">一斤，一半全用，一半篩末</small>　乾薑<small class="雙行夾注">一兩</small>　粳米<small class="雙行夾注">一升</small></p>
<p>右三味，以水七升，煑米令熟，去滓，溫服七合，内赤石脂末方寸匕，日三服。若一服愈，餘勿服。</p>
</span>
</span>
<p id="307">少隂病，二三日至四五日，腹痛，小便不利，下利不止，便膿血者，桃花湯主之。</p>
<p id="308">少隂病，下利，便膿血者，可刺。</p>
<p id="309">少隂病，吐利，手足逆冷，煩躁欲死者，吳茱萸湯主之。</p>
<span data-sec="p">
<p id="310">少隂病，下利，咽痛，胷滿，心煩，豬膚湯主之。</p>
<span typeof="jc:formula">
<p><b>豬膚湯方</b></p>
<p>豬膚<small class="雙行夾注">一斤</small></p>
<p>右一味，以水一斗，煑取五升，去滓，加白蜜一升、白粉五合，熬香，和令相得，溫分六服。</p>
</span>
</span>
<span data-sec="p">
<p id="311">少隂病，二三日，咽痛者，可與甘草湯；不差者，與桔梗湯。</p>
<span typeof="jc:formula">
<p><b>甘草湯方</b></p>
<p>甘草<small class="雙行夾注">二兩</small></p>
<p>右一味，以水三升，煑取一升半，去滓，溫服七合，日二服。</p>
</span>
<span typeof="jc:formula">
<p><b>桔梗湯方</b></p>
<p>桔梗<small class="雙行夾注">一兩</small>　甘草<small class="雙行夾注">二兩</small></p>
<p>右二味，以水三升，煑取一升，去滓，溫分再服。</p>
</span>
</span>
<span data-sec="p">
<p id="312">少隂病，咽中傷，生瘡，不能語言，聲不出者，苦酒湯主之。</p>
<span typeof="jc:formula">
<p><b>苦酒湯方</b></p>
<p>半夏<small class="雙行夾注">洗，破如棗核，十四枚</small>　雞子<small class="雙行夾注">一枚，去黄，内上苦酒，著雞子殼中</small></p>
<p>右二味，内半夏苦酒中，以雞子殼置刀環中，安火上，令三沸，去滓，少少含咽之。不差，更作三劑。</p>
</span>
</span>
<span data-sec="p">
<p id="313">少隂病，咽中痛，半夏散及湯主之。</p>
<span typeof="jc:formula">
<p><b>半夏散及湯方</b></p>
<p>半夏<small class="雙行夾注">洗</small>　桂枝<small class="雙行夾注">去皮</small>　甘草<small class="雙行夾注">炙</small></p>
<p>右三味，等分，各別搗篩已，合治之。白飲和，服方寸匕，日三服。若不能散服者，以水一升，煎七沸，内散兩方寸匕，更煑三沸，下火，令小冷，少少咽之。半夏有毒，不當散服。</p>
</span>
</span>
<span data-sec="p">
<p id="314">少隂病，下利，白通湯主之。</p>
<span typeof="jc:formula">
<p><b>白通湯方</b></p>
<p>蔥白<small class="雙行夾注">四莖</small>　乾薑<small class="雙行夾注">一兩</small>　附子<small class="雙行夾注">一枚，生，去皮，破八片</small></p><p>右三味，以水三升，煑取一升，去滓，分溫再服。</p>
</span>
</span>
<span data-sec="p">
<p id="315">少隂病，下利，脉㣲者，與白通湯。利不止，厥逆無脉，乾嘔煩者，白通加豬膽汁湯主之。服湯，脉暴出者死，㣲續者生。</p>
<span typeof="jc:formula">
<p><b>白通加豬膽汁湯方</b></p>
<p>蔥白<small class="雙行夾注">四莖</small>　乾薑<small class="雙行夾注">一兩</small>　附子<small class="雙行夾注">一枚，生，去皮，破八片</small>　人尿<small class="雙行夾注">五合</small>　豬膽汁<small class="雙行夾注">一合</small></p>
<p>右五味，以水三升，煑取一升，去滓，内膽汁、人尿，和令相得，分溫再服。若無膽，亦可用。</p>
</span>
</span>
<span data-sec="p">
<p id="316">少隂病，二三日不已，至四五日，腹痛，小便不利，四肢沈重疼痛，自下利者，此為有水氣。其人或欬，或小便利，或下利，或嘔者，真武湯主之。</p>
<span typeof="jc:formula">
<p><b>真武湯方（附加減法）</b></p>
<p>茯苓　芍藥　生薑<small class="雙行夾注">切，各三兩</small>　白朮<small class="雙行夾注">二兩</small>　附子<small class="雙行夾注">一枚，炮，去皮，破八片</small></p>
<p>右五味，以水八升，煑取三升，去滓，溫服七合，日三服。若欬者，加五味子半升，細辛、乾薑各一兩；若小便利者，去茯苓；若下利者，去芍藥，加乾薑二兩；若嘔者，去附子，加生薑，足前為半斤。</p>
</span>
</span>
<span data-sec="p">
<p id="317">少隂病，下利清穀，裏寒外𤍠，手足厥逆，脉㣲欲絶，身反不惡寒。其人靣色赤，或腹痛，或乾嘔，或咽痛，或利止脉不出者，通脉四逆湯主之。</p>
<span typeof="jc:formula">
<p><b>通脉四逆湯方</b></p>
<p>甘草<small class="雙行夾注">二兩，炙</small>　附子<small class="雙行夾注">大者一枚，生用，去皮，破八片</small>　乾薑<small class="雙行夾注">三兩，强人可四兩</small></p>
<p>右三味，以水三升，煑取一升二合，去滓，分溫再服。其脉即出者愈。靣色赤者，加蔥九莖；腹中痛者，去蔥，加芍藥二兩；嘔者，加生薑二兩；咽痛者，去芍藥，加桔梗一兩；利止、脉不出者，去桔梗，加人參二兩。病皆與方相應者，乃服之。</p>
</span>
</span>
<span data-sec="p">
<p id="318">少隂病，四逆，其人或欬，或悸，或小便不利，或腹中痛，或泄利下重者，四逆散主之。</p>
<span typeof="jc:formula">
<p><b>四逆散方</b></p>
<p>甘草<small class="雙行夾注">炙</small>　枳實<small class="雙行夾注">破，水漬，炙乾</small>　柴胡　芍藥</p>
<p>右四味，各十分，搗篩，白飲和，服方寸匕，日三服。欬者，加五味子、乾薑各五分，並主下利；悸者，加桂枝五分；小便不利者，加茯苓五分；腹中痛者，加附子一枚，炮令坼；泄利下重者，先以水五升，煑薤白三升，煑取三升，去滓，以散三方寸匕，内湯中，煑取一升半，分溫再服。</p>
</span>
</span>
<p id="319">少隂病，下利，六七日，欬而嘔渴，心煩不得眠者，豬苓湯主之。</p>
<p id="320">少隂病，得之二三日，口燥，咽乾者，急下之，宜大承氣湯。</p>
<p id="321">少隂病，自利清水，色純青，心下必痛，口乾燥者，可下之，宜大承氣湯。</p>
<p id="322">少隂病，六七日，腹脹，不大便者，急下之，宜大承氣湯。</p>
<p id="323">少隂病，脉沈者，急溫之，宜四逆湯。</p>
<p id="324">少隂病，飲食入口則吐，心中溫溫欲吐，復不能吐，始得之，手足寒，脉弦遲者，此胷中實，不可下也，當吐之。若膈上有寒飲，乾嘔者，不可吐也，當溫之，宜四逆湯。</p>
<p id="325">少隂病，下利，脉㣲濇，嘔而汗出，必數更衣，反少者，當溫其上，灸之。</p>
<h3>辨厥隂病脉證並治第十二</h3>
<p id="326">厥隂之為病，消渴，氣上撞心，心中疼𤍠，飢而不欲食，食則吐蚘。下之利不止。</p>
<p id="327">厥隂中風，脉㣲浮為欲愈，不浮為未愈。</p>
<p id="328">厥隂病，欲觧時，從丑至卯上。</p>
<p id="329">厥隂病，渴欲飲水者，少少與之愈。</p>
<p id="330">諸四逆厥者，不可下之，虗家亦然。</p>
<p id="331">傷寒，先厥，後𤼵𤍠而利者，必自止。見厥復利。</p>
<p id="332">傷寒，始𤼵𤍠六日，厥反九日而利。凡厥利者，當不能食；𫝆反能食者，恐為除中。食以索餅，不𤼵𤍠者，知胃氣尚在，必愈。恐暴𤍠来出而復去也。後三日脉之，其𤍠續在者，期之旦日夜半愈。所以然者，夲𤼵𤍠六日，厥反九日，復𤼵𤍠三日，并前六日，亦為九日，與厥相應，故期之旦日夜半愈。後三日脉之而脉數，其𤍠不罷者，此為𤍠氣有餘，必𤼵癰膿也。</p>
<p id="333">傷寒脉遲，六七日，而反與黄芩湯徹其𤍠，脉遲為寒，𫝆與黄芩湯復除其𤍠，腹中應冷，當不能食，𫝆反能食，此名除中，必死。</p>
<p id="334">傷寒，先厥後𤼵𤍠，下利必自止。而反汗出，咽中痛者，其喉為𤷒。𤼵𤍠無汗，而利必自止；若不止，必便膿血。便膿血者，其喉不𤷒。</p>
<p id="335">傷寒，一二日至四五日厥者，必𤼵𤍠，前𤍠者，後必厥。厥深者，𤍠亦深；厥㣲者，𤍠亦㣲。厥應下之，而反𤼵汗者，必口傷爛赤。</p>
<p id="336">傷寒病，厥五日，𤍠亦五日。設六日，當復厥，不厥者自愈。厥終不過五日，以𤍠五日，故知自愈。</p>
<p id="337">凡厥者，隂陽氣不相順接，便為厥。厥者，手足逆冷者是也。</p>
<span data-sec="p">
<p id="338">傷寒，脉㣲而厥，至七八日，膚冷，其人躁無暫安時者，此為藏厥，非蚘厥也。蚘厥者，其人當吐蚘，令病者靜而復時煩者，此為藏寒。蚘上入其膈故煩，須臾復止，得食而嘔，又煩者，蚘聞食臭出，其人常自吐蚘。蚘厥者，烏梅丸主之。又主久利。</p>
<span typeof="jc:formula">
<p><b>烏梅丸方</b></p>
<p>烏梅<small class="雙行夾注">三百枚</small>　細辛<small class="雙行夾注">六兩</small>　乾薑<small class="雙行夾注">十兩</small>　黄連<small class="雙行夾注">十六兩</small>　附子<small class="雙行夾注">六兩，炮，去皮</small>　當歸<small class="雙行夾注">四兩</small>　黄檗<small class="雙行夾注">六兩</small>　桂枝<small class="雙行夾注">六兩，去皮</small>　人參<small class="雙行夾注">六兩</small>　蜀椒<small class="雙行夾注">四兩，出汗</small></p>
<p>右十味，異搗篩，合治之，以苦酒漬烏梅一宿，去核，蒸之五斗米下，飯熟搗成泥，和藥令相得，内臼中，與蜜，杵二千下，丸如梧桐子大。先食飲服十丸，日三服，稍加至二十九。禁生冷、滑物、臭食等。</p>
</span>
</span>
<p id="339">傷寒，𤍠少㣲厥，指頭寒，嘿嘿不欲食，煩躁。數日，小便利，色白者，此𤍠除也，欲得食，其病為愈。若厥而嘔，胷脇煩滿者，其後必便血。</p>
<p id="340">病者手足厥冷，言我不結胷，小腹滿，按之痛者，此冷結在膀胱𨵿元也。</p>
<p id="341">傷寒𤼵𤍠四日，厥反三日，復𤍠四日，厥少𤍠多者，其病當愈。四日至七日，𤍠不除者，必便膿血。</p>
<p id="342">傷寒，厥四日，𤍠反三日，復厥五日，其病為進。寒多𤍠少，陽氣退，故為進也。</p>
<p id="343">傷寒六七日，脉㣲，手足厥冷，煩躁，灸厥隂，厥不還者，死。</p>
<p id="344">傷寒𤼵𤍠，下利，厥逆，躁不得臥者，死。</p>
<p id="345">傷寒𤼵𤍠，下利至甚，厥不止者，死。</p>
<p id="346">傷寒六七日，不利，便𤼵𤍠而利，其人汗出不止者，死。有隂無陽故也。</p>
<p id="347">傷寒五六日，不結胷，腹濡，脉虗復厥者，不可下，此亡血，下之死。</p>
<p id="348">𤼵𤍠而厥，七日下利者，為難治。</p>
<p id="349">傷寒脉促，手足厥逆，可灸之。</p>
<p id="350">傷寒，脉滑而厥者，裏有𤍠，白虎湯主之。</p>
<span data-sec="p">
<p id="351">手足厥寒，脉細欲絶者，當歸四逆湯主之。</p>
<span typeof="jc:formula">
<p><b>當歸四逆湯方</b></p>
<p>當歸<small class="雙行夾注">三兩</small>　桂枝<small class="雙行夾注">三兩，去皮</small>　芍藥<small class="雙行夾注">三兩</small>　細辛<small class="雙行夾注">三兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　通草<small class="雙行夾注">二兩</small>　大棗<small class="雙行夾注">二十五枚，擘，一法十二枚</small></p>
<p>右七味，以水八升。煑取三升，去滓，溫服一升，日三服。</p>
</span>
</span>
<span data-sec="p">
<p id="352">若其人内有久寒者，宜當歸四逆加吳茱萸生薑湯。</p>
<span typeof="jc:formula">
<p><b>當歸四逆加吳茱萸生薑湯方</b></p>
<p>當歸<small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">三兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　通草<small class="雙行夾注">二兩</small>　大棗<small class="雙行夾注">二十五枚，擘</small>　桂枝<small class="雙行夾注">三兩，去皮</small>　細辛<small class="雙行夾注">三兩</small>　生薑<small class="雙行夾注">半斤，切</small>　吳茱萸<small class="雙行夾注">二升</small></p>
<p>右九味，以水六升、清酒六升和，煑取五升，去滓，溫分五服。一方，水、酒各四升。</p>
</span>
</span>
<p id="353">大汗出，𤍠不去，内拘急，四肢疼，又下利厥逆而惡寒者，四逆湯主之。</p>
<p id="354">大汗，若大下利而厥冷者，四逆湯主之。</p>
<p id="355">病人手足厥冷，脉乍緊者，邪結在胷中，心下滿而煩，飢不能食者，病在胷中，當須吐之，宜瓜蒂散。</p>
<p id="356">傷寒，厥而心下悸，宜先治水，當服茯苓甘草湯，卻治其厥。不爾，水漬入胃，必作利也。</p>
<span data-sec="p">
<p id="357">傷寒六七日，大下後，寸脉沈而遲，手足厥逆，下部脉不至，喉咽不利，唾膿血，泄利不止者，為難治，麻黄升麻湯主之。</p>
<span typeof="jc:formula">
<p><b>麻黄升麻湯方</b></p>
<p>麻黄<small class="雙行夾注">二兩半，去節</small>　升麻<small class="雙行夾注">一兩一分</small>　當歸<small class="雙行夾注">一兩一分</small>　知母<small class="雙行夾注">十八株</small>　黄芩<small class="雙行夾注">十八株</small>　萎蕤<small class="雙行夾注">十八銖<span data-rev="注">，一作菖蒲</span></small>　芍藥<small class="雙行夾注">六銖</small>　天門冬<small class="雙行夾注">六銖，去心</small>　桂枝<small class="雙行夾注">六銖，去皮</small>　茯苓<small class="雙行夾注">六銖</small>　甘草<small class="雙行夾注">六銖，炙</small>　石膏<small class="雙行夾注">六銖，碎，綿裹</small>　白朮<small class="雙行夾注">六銖</small>　乾薑<small class="雙行夾注">六銖</small></p>
<p>右十四味，以水一斗，先煑麻黄一兩沸，去上沫，内諸藥，煑取三升，去滓，分溫三服。相去如炊三斗米頃，令盡，汗出愈。</p>
</span>
</span>
<p id="358">傷寒四五日，腹中痛，若轉氣下趣少腹者，此欲自利也。</p>
<span data-sec="p">
<p id="359">傷寒夲自寒下，醫復吐下之，寒格，更逆吐下，若食入口即吐，乾薑黄芩黄連人參湯主之。</p>
<span typeof="jc:formula">
<p><b>乾薑黄芩黄連人參湯方</b></p>
<p>乾薑　黄芩　黄連　人參<small class="雙行夾注">各三兩</small></p>
<p>右四味，以水六升，煑取二升，去滓，分溫再服。</p>
</span>
</span>
<p id="360">下利，有㣲𤍠而渴，脉弱者，𫝆自愈。</p>
<p id="361">下利脉數，有㣲𤍠汗出，𫝆自愈。設復緊，為未觧。</p>
<p id="362">下利，手足厥冷，無脉者，灸之。不溫。若脉不還，反㣲喘者，死。少隂負趺陽者，為順也。</p>
<p id="363">下利，寸脉反浮數，尺中自濇者，必清膿血。</p>
<p id="364">下利清穀，不可攻表，汗出必脹滿。</p>
<p id="365">下利，脉沈弦者，下重也；脉大者，為未止；脉㣲弱數者，為欲自止，雖𤼵𤍠，不死。</p>
<p id="366">下利，脉沈而遲，其人靣少赤，身有㣲𤍠，下利清穀者，必鬱冒汗出而觧。病人必㣲厥。所以然者，其靣戴陽，下虗故也。</p>
<p id="367">下利，脉數而渴者，𫝆自愈。設不差，必清膿血，以有𤍠故也。</p>
<p id="368">下利後脉絶，手足厥冷，晬時脉還，手足溫者生，脉不還者死。</p>
<p id="369">傷寒下利，日十餘行，脉反實者，死。</p>
<p id="370">下利清穀，裏寒外𤍠，汗出而厥者，通脉四逆湯主之。</p>
<span data-sec="p">
<p id="371">𤍠利下重者，白頭翁湯主之。</p>
<span typeof="jc:formula">
<p><b>白頭翁湯方</b></p>
<p>白頭翁<small class="雙行夾注">二兩</small>　黄檗<small class="雙行夾注">三兩</small>　黄連<small class="雙行夾注">三兩</small>　秦皮<small class="雙行夾注">三兩</small></p>
<p>右四味，以水七升，煑取二升，去滓，溫服一升。不愈，更服一升。</p>
</span>
</span>
<p id="372">下利腹脹滿，身體疼痛者，先溫其裏，乃攻其表。溫裏宜四逆湯，攻表宜桂枝湯。</p>
<p id="373">下利欲飲水者，以有𤍠故也，白頭翁湯主之。</p>
<p id="374">下利譫語者，有燥屎也，宜小承氣湯。</p>
<p id="375">下利後，更煩，按之心下濡者，為虗煩也，宜梔子豉湯。</p>
<p id="376">嘔家有癰膿者，不可治嘔，膿盡自愈。</p>
<p id="377">嘔而脉弱，小便復利，身有㣲𤍠，見厥者難治，四逆湯主之。</p>
<p id="378">乾嘔，吐涎沫，頭痛者，吳茱萸湯主之。</p>
<p id="379">嘔而𤼵𤍠者，小柴胡湯主之。</p>
<p id="380">傷寒，大吐、大下之，極虗，復極汗者，其人外氣怫鬱，復與之水，以𤼵其汗，因得噦。所以然者，胃中寒冷故也。</p>
<p id="381">傷寒，噦而腹滿，視其前後，知何部不利，利之即愈。</p>
<h2>卷第七</h2>
<h3>辨霍亂病脉證並治第十三</h3>
<p id="382">問曰：病有霍亂者何？荅曰：嘔吐而利，此名霍亂。</p>
<p id="383">問曰：病𤼵𤍠、頭痛、身疼、惡寒、吐利者，此屬何病？荅曰：此名霍亂。霍亂自吐下，又利止，復更𤼵𤍠也。</p>
<p id="384">傷寒，其脉㣲濇者，夲是霍亂，𫝆是傷寒，卻四五日，至隂𦀇上，轉入隂必利；夲嘔，下利者，不可治也。欲似大便，而反失氣，仍不利者，此屬陽明也，便必鞕，十三日愈。所以然者，𦀇盡故也。下利後，當便鞕，鞕則能食者愈。𫝆反不能食，到後𦀇中，頗能食，復過一𦀇能食，過之一日當愈；不愈者，不屬陽明也。</p>
<span data-sec="p">
<p id="385">惡寒脉㣲而復利，利止，亡血也，四逆加人參湯主之。</p>
<span typeof="jc:formula">
<p><b>四逆加人參湯方</b></p>
<p>甘草<small class="雙行夾注">二兩，炙</small>　附子<small class="雙行夾注">一枚，生，去皮，破八片</small>　乾薑<small class="雙行夾注">一兩半</small>　人參<small class="雙行夾注">一兩</small></p>
<p>右四味，以水三升，煑取一升二合，去滓，分溫再服。</p>
</span>
</span>
<span data-sec="p">
<p id="386">霍亂，頭痛，𤼵𤍠，身疼痛，𤍠多欲飲水者，五苓散主之。寒多不用水者，理中丸主之。</p>
<span typeof="jc:formula">
<p><b>理中丸方</b></p>
<p>人參　乾薑　甘草<small class="雙行夾注">炙</small>　白朮<small class="雙行夾注">各三兩</small></p>
<p>右四味，搗篩，蜜和為丸，如雞子黄許大。以沸湯數合和一丸，研碎，溫服之，日三四、夜二服。腹中未𤍠，益至三四丸，然不及湯。湯法：以四物依兩數切，用水八升，煑取三升，去滓，溫服一升，日三服。若臍上築者，腎氣動也，去朮，加桂四兩；吐多者，去朮，加生薑三兩，下多者，還用朮；悸者，加茯苓二兩；渴欲得水者，加朮，足前成四兩半；腹中痛者，加人參，足前成四兩半；寒者，加乾薑，足前成四兩半；腹滿者，去朮，加附子一枚。服湯後，如食頃，飲𤍠粥一升許，㣲自溫，勿𤼵揭衣被。</p>
</span>
</span>
<p id="387">吐利止而身痛不休者，當消息和觧其外，宜桂枝湯小和之。</p>
<p id="388">吐利，汗出，𤼵𤍠，惡寒，四肢拘急，手足厥冷者，四逆湯主之。</p>
<p id="389">既吐且利，小便復利而大汗出，下利清穀，内寒外𤍠，脉㣲欲絶者，四逆湯主之。</p>
<span data-sec="p">
<p id="390">吐已下斷，汗出而厥，四肢拘急不觧，脉㣲欲絶者，通脉四逆加豬膽汁湯主之。</p>
<span typeof="jc:formula">
<p><b>通脉四逆加豬膽汁湯方</b></p>
<p>甘草<small class="雙行夾注">二兩，炙</small>　乾薑<small class="雙行夾注">三兩，强人可四兩</small>　附子<small class="雙行夾注">大者一枚，生，去皮，破八片</small>　豬膽汁<small class="雙行夾注">半合</small></p>
<p>右四味，用水三升，煑取一升二合，去滓，内豬膽汁，分溫再服，其脉即来。無豬膽，以羊膽代之。</p>
</span>
</span>
<p id="391">吐利，𤼵汗，脉平，小煩者，以新虗不勝穀氣故也。</p>
<h3>辨隂陽易差後勞復病脉證並治第十四</h3>
<span data-sec="p">
<p id="392">傷寒隂陽易之為病，其人身體重，少氣，少腹裏急，或引隂中拘攣，𤍠上衝胷，頭重不欲舉，眼中生花，膝脛拘急者，燒褌散主之。</p>
<span typeof="jc:formula">
<p><b>燒褌散方</b></p>
<p>婦人中褌，近隱處，取燒作灰。</p>
<p>右一味，水服方寸匕。日三服。小便即利，隂頭㣲腫，此為愈矣。婦人病，取男子褌燒服。</p>
</span>
</span>
<span data-sec="p">
<p id="393">大病差後，勞復者，枳實梔子豉湯主之。</p>
<span typeof="jc:formula">
<p><b>枳實梔子豉湯方</b></p>
<p>枳實<small class="雙行夾注">三枚，炙</small>　梔子<small class="雙行夾注">十四個，擘</small>　香豉<small class="雙行夾注">一升，綿裹</small></p>
<p>右三味，以清漿水七升，空煑取四升，内枳實、梔子，煑取二升，下豉，更煑五六沸，去滓，溫分再服。覆令㣲似汗。若有宿食者，内大黄如博棋子大五六枚，服之愈。</p>
</span>
</span>
<p id="394">傷寒差以後，更𤼵𤍠，小柴胡湯主之。脉浮者，以汗觧之；脉沈實者，以下觧之。</p>
<span data-sec="p">
<p id="395">大病差後，從腰以下有水氣者，牡蠣澤瀉散主之。</p>
<span typeof="jc:formula">
<p><b>牡蠣澤瀉散方</b></p>
<p>牡蠣<small class="雙行夾注">熬</small>　澤瀉　蜀漆<small class="雙行夾注">暖水洗去腥</small>　葶藶子<small class="雙行夾注">熬</small>　商陸根<small class="雙行夾注">熬</small>　海藻<small class="雙行夾注">洗去鹹</small>　栝蔞根<small class="雙行夾注">各等分</small></p>
<p>右七味，異搗，下篩為散，更於臼中治之，白飲和，服方寸匕，日三服。小便利，止後服。</p>
</span>
</span>
<p id="396">大病差後，喜唾，久不了了，胷上有寒，當以丸藥溫之，宜理中丸。</p>
<span data-sec="p">
<p id="397">傷寒觧後，虗羸少氣，氣逆欲吐，竹葉石膏湯主之。</p>
<span typeof="jc:formula">
<p><b>竹葉石膏湯方</b></p>
<p>竹葉<small class="雙行夾注">二把</small>　石膏<small class="雙行夾注">一斤</small>　半夏<small class="雙行夾注">半斤，洗</small>　麥門冬<small class="雙行夾注">一升，去心</small>　人參<small class="雙行夾注">二兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　粳米<small class="雙行夾注">半升</small></p>
<p>右七味，以水一斗，煑取六升，去滓，内粳米，煑米熟，湯成，去米，溫服一升，日三服。</p>
</span>
</span>
<p id="398">病人脉已觧，而日暮㣲煩，以病新差，人强與穀，脾胃氣尚弱，不能消穀，故令㣲煩，損穀則愈。</p>
<h3>辨不可𤼵汗病脉證並治第十五</h3>
<p>夫以為疾病至急，倉卒尋按，要者難得，故重集諸可與不可方治，比之三隂三陽篇中，此易見也。又時有不止是三隂三陽，出在諸可與不可中也。</p>
<p>脉濡而弱，弱反在𨵿，濡反在巔，㣲反在上，濇反在下。㣲則陽氣不足，濇則無血。陽氣反㣲，中風汗出而反躁煩。濇則無血，厥而且寒。陽㣲𤼵汗，躁不得眠。</p>
<p>動氣在右，不可𤼵汗，𤼵汗則衄而渴，心苦煩，飲即吐水。</p>
<p>動氣在左，不可𤼵汗，𤼵汗則頭眩，汗不止，筋惕肉瞤。</p>
<p>動氣在上，不可𤼵汗，𤼵汗則氣上衝，正在心端。</p>
<p>動氣在下，不可𤼵汗，𤼵汗則無汗，心中大煩，骨節苦疼，目運，惡寒，食則反吐，穀不得前。</p>
<p>咽中閉塞，不可𤼵汗，𤼵汗則吐，血氣欲絶，手足厥冷，欲得踡臥，不能自溫。</p>
<p>諸脉得數動㣲弱者，不可𤼵汗，𤼵汗則大便難，腹中乾，胃燥而煩，其形相象，根夲異源。</p>
<p>脉㣲而弱，弱反在𨵿，濡反在巔，弦反在上，㣲反在下。弦為陽運，㣲為隂寒。上實下虗，意欲得溫。㣲弦為虗，不可𤼵汗，𤼵汗則寒慄，不能自還。</p>
<p>欬者則劇，數吐涎沫，咽中必乾，小便不利，心中饑煩，晬時而𤼵，其形似瘧，有寒無𤍠，虗而寒慄，欬而𤼵汗，踡而苦滿，腹中復堅。</p>
<p>厥，脉緊，不可𤼵汗，𤼵汗則聲亂，咽嘶舌萎，聲不得前。</p>
<p>諸逆𤼵汗，病㣲者難差，劇者言亂、目眩者死，命将難全。</p>
<p>欬而小便利，若失小便者，不可𤼵汗，汗出則四肢厥逆冷。</p>
<p>傷寒頭痛，翕翕𤼵𤍠，形象中風，常㣲汗出。自嘔者，下之益煩，心中懊憹如饑；𤼵汗則致痓，身强，難以屈伸；熏之則𤼵黄，不得小便；灸則𤼵欬唾。</p>
<h3>辨可𤼵汗脉證並治第十六</h3>
<p>大法，春夏宜𤼵汗。</p>
<p>凡𤼵汗，欲令手足俱周，時出以漐漐然，一時間許亦佳，不可令如水流漓。若病不觧，當重𤼵汗。汗多必亡陽，陽虗不得重𤼵汗也。</p>
<p>凡服湯𤼵汗，中病便止，不必盡劑。</p>
<p>凡云可𤼵汗，無湯者，丸散亦可用。要以汗出為觧，然不如湯，隨證良驗。</p>
<p>夫病脉浮大，問病者，言但便鞕爾，設利者，為大逆。鞕為實，汗出而觧。何以故？脉浮，當以汗觧。</p>
<p>下利後，身疼痛，清便自調者，急當救表，宜桂枝湯𤼵汗。</p>
<h2>卷第八</h2>
<h3>辨𤼵汗後病脉證並治第十七</h3>
<p>𤼵汗多亡陽，譫語者，不可下，與柴胡桂枝湯。和其榮衛，以通津液，後自愈。</p>
<p>此一卷，第十七篇，凡三十一證，前有詳說。</p>
<h3>辨不可吐第十八</h3>
<p>合四證，已具太陽篇中。</p>
<h3>辨可吐第十九</h3>
<p>大法，春宜吐。</p>
<p>凡用吐湯，中病即止，不必盡劑也。</p>
<p>病胷上諸實，胷中鬱鬱而痛，不能食，欲使人按之，而反有涎唾，下利日十餘行，其脉反遲，寸口脉㣲滑，此可吐之，吐之利則止。</p>
<p>宿食在上脘者，當吐之。</p>
<p>病人手足厥冷，脉乍結，以客氣在胷中。心下滿而煩，欲食不能食者，病在胷中，當吐之。</p>
<h2>卷第九</h2>
<h3>辨不可下病脉證並治第二十</h3>
<p>脉濡而弱，弱反在𨵿，濡反在巔，㣲反在上，濇反在下。㣲則陽氣不足，濇則無血。陽氣反㣲，中風、汗出而反躁煩；濇則無血，厥而且寒。陽㣲不可下，下之則心下痞鞕。</p>
<p>動氣在右，不可下。下之則津液内竭，咽燥、鼻乾、頭眩、心悸也。</p>
<p>動氣在左，不可下。下之則腹内拘急，食不下，動氣更劇。雖有身𤍠，臥則欲踡。</p>
<p>動氣在上，不可下。下之則掌握𤍠煩，身上浮冷，𤍠汗自泄，欲得水自灌。</p>
<p>動氣在下，不可下。下之則腹脹滿，卒起頭眩，食則下清穀，心下痞也。</p>
<p>咽中閉寒，不可下。下之則上輕下重，水漿不下，臥則欲踡，身急痛，下利日數十行。</p>
<p>諸外實者，不可下。下之則𤼵㣲𤍠，亡脉厥者，當臍握𤍠。</p>
<p>諸虗者，不可下。下之則大渴，求水者易愈，惡水者劇。</p>
<p>脉濡而弱，弱反在𨵿，濡反在巔，弦反在上，㣲反在下。弦為陽運，㣲為隂寒。上實下虗，意欲得溫。㣲弦為虗，虗者不可下也。</p>
<p>㣲則為欬，欬則吐涎，下之則欬止，而利因不休。利不休，則胷中如蟲齧，粥入則出，小便不利，兩脅拘急，喘息為難，頸背相引，臂則不仁，極寒，反汗出，身冷若冰，眼睛不慧，語言不休，而穀氣多入，此為除中，口雖欲言，舌不得前。</p>
<p>脉濡而弱，弱反在𨵿，濡反在巔，浮反在上，數反在下。浮為陽虗，數為無血，浮為虗，數為𤍠。浮為虗，自汗出而惡寒；數為痛，振寒而慄。㣲弱在𨵿，胷下為急，喘汗而不得呼吸，呼吸之中，痛在於脅，振寒相摶，形如瘧狀，醫反下之，故令脉數、𤼵𤍠，狂走見鬼，心下為痞，小便淋瀝，小腹甚鞕，小便則尿血也。</p>
<p>脉濡而緊，濡則衛氣㣲，緊則榮中寒。陽㣲衛中風，𤼵𤍠而惡寒；榮緊胃氣冷，㣲嘔心内煩。醫為有大𤍠，觧肌而𤼵汗，亡陽虗煩躁，心下苦痞堅。表裏俱虗竭，卒起而頭眩。客𤍠在皮膚，悵怏不得眠。不知胃氣冷，緊寒在𨵿元。技巧無所施，汲水灌其身。客𤍠應時罷，慄慄而振寒。重被而覆之，汗出而冒巔。體惕而又振，小便為㣲難。寒氣因水𤼵，清穀不容間。嘔變反腸出，顛倒不得安。手足為㣲逆，身冷而内煩。遲欲從後救，安可復追還。</p>
<p>脉浮而大，浮為氣實，大為血虗。血虗為無隂，孤陽獨下隂部者，小便當赤而難，胞中當虗，𫝆反小便利而大汗出，法應衛家當㣲，𫝆反更實，津液四射，榮竭血盡，乾煩而不得眠，血薄肉消，而成暴液。醫復以毒藥攻其胃，此為重虗，客陽去有期，必下如污埿而死。</p>
<p>脉數者，久數不止，止則邪結正氣不能復，正氣卻結於藏，故邪氣浮之，與皮毛相得。脉數者，不可下，下之則必煩，利不止。</p>
<p>脉浮大，應𤼵汗，醫反下之，此為大逆。</p>
<p>嘔多，雖有陽明證，不可攻之。</p>
<p>太陽病，外證未觧，不可下，下之為逆。</p>
<p>夫病陽多者𤍠，下之則鞕。</p>
<p>無陽隂强，大便鞕者，下之則必清穀腹滿。</p>
<p>傷寒𤼵𤍠，頭痛，㣲汗出。𤼵汗則不識人；熏之則喘，不得小便，心腹滿；下之則短氣，小便難，頭痛，背强；加溫針則衄。</p>
<p>傷寒，脉隂陽俱緊，惡寒𤼵𤍠，則脉欲厥。厥者，脉𭃡来大，漸漸小，更来漸漸大，是其候也。如此者惡寒，甚者翕翕汗出，喉中痛；𤍠多者，目赤脉多，睛不慧，醫復𤼵之，咽中則傷；若復下之，則兩目閉，寒多者便清穀，𤍠多者便膿血；若熏之，則身𤼵黄；若熨之，則咽燥。若小便利者，可救之；小便難者，為危殆。</p>
<p>傷寒𤼵𤍠，口中勃勃氣出，頭痛目黄，衄不可制，貪水者必嘔，惡水者厥。若下之，咽中生瘡，假令手足溫者，必下重便膿血。頭痛目黄者，若下之，則兩目閉。貪水者，脉必厥，其聲嚶，咽喉塞；若𤼵汗，則戰慄，隂陽俱虗。惡水者，若下之，則裏冷不嗜食，大便完穀出；若𤼵汗，則口中傷，舌上白胎，煩躁，脉數實，不大便，六七日後必便血；若𤼵汗，則小便自利也。</p>
<p>下利脉大者，虗也，以其强下之故也。設脉浮革，因爾腸鳴者，屬當歸四逆湯主之。</p>
<h3>辨可下病脉證並治第二十一</h3>
<p>大法，秋宜下。</p>
<p>凡服下藥，用湯勝丸，中病即止，不必盡劑也。</p>
<p>下利，三部脉皆平，按之心下鞕者，急下之，宜大承氣湯。</p>
<p>下利，脉遲而滑者，内實也。利未欲止，當下之，宜大承氣湯。</p>
<p>問曰：人病有宿食，何以別之？師曰：寸口脉浮而大，按之反濇，尺中亦㣲而濇，故知有宿食，當下之，宜大承氣湯。</p>
<p>下利，不欲食者，以有宿食故也，當宜下之，與大承氣湯。</p>
<p>下利差後，至其年月日復𤼵者，以病不盡故也，當下之，宜大承氣湯。</p>
<p>下利，脉反滑，當有所去，下之乃愈，宜大承氣湯。</p>
<p>病腹中滿痛者，此為實也，當下之，宜大承氣湯。</p>
<p>傷寒後脉沈，沈者，内實也，下觧之，宜大柴胡湯。</p>
<p>脉雙弦而遲者，必心下鞕。脉大而緊者，陽中有隂也，可以下之，宜大承氣湯。</p>
<h2>卷第十</h2>
<h3>辨𤼵汗吐下後脉證並治第二十二</h3>
<p>此第十卷，第二十二篇，凡四十八證，前三隂三陽篇中，悉具載之。</p>
<p>此以下諸方，於隨卷夲證下雖已有，緣止以加減言之，未甚明白，似於覽者檢閱未便，𫝆復校勘，備列於後：</p>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝加葛根湯主之方</b></p>
<p>葛根<small class="雙行夾注">四兩</small>　芍藥<small class="雙行夾注">二兩</small>　甘草<small class="雙行夾注">二兩</small>　生薑<small class="雙行夾注">三兩，切</small>　大棗<small class="雙行夾注">十二枚，擘</small>　桂枝<small class="雙行夾注">二兩，去皮</small>　麻黄<small class="雙行夾注">三兩，去節</small></p>
<p>右七味，以水一斗，先煑麻黄、葛根，減二升，去上沫，内諸藥，煑取三升，去滓，溫服一升，覆取㣲似汗，不須啜粥，餘如桂枝法。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝加厚朴杏子湯方</b></p>
<p>於桂枝湯方内，加厚朴二兩，杏仁五十個，去皮尖，餘依前法。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝加附子湯方</b></p>
<p>於桂枝湯方内，加附子一枚，炮，去皮，破八片，餘依前法。朮附湯方，附於此方内，去桂枝，加白朮四兩，依前法。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝去芍藥湯方</b></p>
<p>於桂枝湯方内，去芍藥，餘依前法。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝去芍藥加附子湯方</b></p>
<p>於桂枝湯方内，去芍藥，加附子一枚，炮，去皮，破八片，餘依前法。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝麻黄各半湯方</b></p>
<p>桂枝<small class="雙行夾注">一兩十六銖，去皮</small>　芍藥　生薑<small class="雙行夾注">切</small>　甘草<small class="雙行夾注">炙</small>　麻黄<small class="雙行夾注">各一兩，去節</small>　大棗<small class="雙行夾注">四枚，擘</small>　杏仁<small class="雙行夾注">二十四個，湯浸，去皮尖及兩仁者</small></p>
<p>右七味，以水五升，先煑麻黄一二沸，去上沫，内諸藥，煑取一升八合，去滓，溫服六合。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝二麻黄一湯方</b></p>
<p>桂枝<small class="雙行夾注">一兩十七銖，去皮</small>　芍藥<small class="雙行夾注">一兩六銖</small>　麻黄<small class="雙行夾注">十六銖，去節</small>　生薑<small class="雙行夾注">一兩六銖，切</small>　杏仁<small class="雙行夾注">十六個，去皮尖</small>　甘草<small class="雙行夾注">一兩二銖，炙</small>　大棗<small class="雙行夾注">五枚，擘</small></p>
<p>右七味，以水五升，先煑麻黄一二沸，去上沫，内諸藥，煑取二升，去滓，溫服一升，日再服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>白虎加人參湯方</b></p>
<p>於白虎湯方内，加人參三兩，餘依白虎湯法。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝去桂加茯苓白朮湯方</b></p>
<p>於桂枝湯方内，去桂枝，加茯苓、白朮各三兩，餘依前法煎服。小便利則愈。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p>已上九方，病證並在第二卷内。</p>
<p><b>葛根加半夏湯方</b></p>
<p>於葛根湯方内，加入半夏半升，餘依葛根湯法。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝加芍藥生薑人參新加湯方</b></p>
<p>於第二卷桂枝湯方内，更加芍藥、生薑各一兩，人參三兩，餘依桂枝湯法服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>梔子甘草豉湯方</b></p>
<p>於梔子豉湯方内，加入甘草二兩，餘依前法。得吐，止後服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>梔子生薑豉湯方</b></p>
<p>於梔子豉湯方内，加生薑五兩，餘依前法。得吐，止後服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>柴胡加芒硝湯方</b></p>
<p>於小柴胡湯方内，加芒硝六兩，餘依前法。服不觧，更服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝加桂湯方</b></p>
<p>於第二卷桂枝湯方内，更加桂二兩，共五兩，餘依前法。</p>
</span>
<p>已上六方，病證並在第三卷内。</p>
<span data-sec="p" typeof="jc:formula">
<p><b>柴胡桂枝湯方</b></p>
<p>桂枝<small class="雙行夾注">去皮</small>　黄芩　人參<small class="雙行夾注">各一兩半</small>　甘草<small class="雙行夾注">一兩，炙</small>　半夏<small class="雙行夾注">二合半</small>　芍藥<small class="雙行夾注">一兩半</small>　大棗<small class="雙行夾注">六枚，擘</small>　生薑<small class="雙行夾注">一兩半，切</small>　柴胡<small class="雙行夾注">四兩</small></p>
<p>右九味，以水七升，煑取三升，去滓，溫服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>附子瀉心湯方</b></p>
<p>大黄<small class="雙行夾注">二兩</small>　黄連　黄芩<small class="雙行夾注">各一兩</small>　附子<small class="雙行夾注">一枚，炮，去皮，破，別煑取汁</small></p>
<p>右四味，切三味，以麻沸湯二升漬之，須臾，絞去滓，内附子汁，分溫再服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>生薑瀉心湯方</b></p>
<p>生薑<small class="雙行夾注">四兩，切</small>　甘草<small class="雙行夾注">三兩，炙</small>　人參<small class="雙行夾注">三兩</small>　乾薑<small class="雙行夾注">一兩</small>　黄芩<small class="雙行夾注">三兩</small>　半夏<small class="雙行夾注">半升，洗</small>　黄連<small class="雙行夾注">一兩</small>　大棗<small class="雙行夾注">十二枚</small></p>
<p>右八味，以水一斗，煑取六升，去滓，再煎，取三升，溫服一升，日三服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>甘草瀉心湯方</b></p>
<p>甘草<small class="雙行夾注">四兩</small>　黄芩<small class="雙行夾注">三兩</small>　乾薑<small class="雙行夾注">三兩</small>　半夏<small class="雙行夾注">半升，洗</small>　黄連<small class="雙行夾注">一兩</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右六味，以水一斗，煑取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>黄芩加半夏生薑湯方</b></p>
<p>於黄芩湯方内，加半夏半升，生薑一兩半，餘依黄芩湯法服。</p>
</span>
<p>已上五方，病證並在第四卷内。</p>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝加大黄湯方</b></p>
<p>桂枝<small class="雙行夾注">三兩，去皮</small>　大黄<small class="雙行夾注">一兩</small>　芍藥<small class="雙行夾注">六兩</small>　生薑<small class="雙行夾注">三兩，切</small>　甘草<small class="雙行夾注">二兩，炙</small>　大棗<small class="雙行夾注">十二枚，擘</small></p>
<p>右六味，以水七升，煑取三升，去滓，溫服一升，日三服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>桂枝加芍藥湯方</b></p>
<p>於第二卷桂枝湯方内，更加芍藥三兩，隨前共六兩，餘依桂枝湯法。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>四逆加吳茱萸生薑湯方</b></p>
<p>當歸<small class="雙行夾注">二兩</small>　芍藥<small class="雙行夾注">三兩</small>　甘草<small class="雙行夾注">二兩，炙</small>　通草<small class="雙行夾注">二兩</small>　桂枝<small class="雙行夾注">三兩，去皮</small>　細辛<small class="雙行夾注">三兩</small>　生薑<small class="雙行夾注">半斤，切</small>　大棗<small class="雙行夾注">二十五枚，擘</small>　吳茱萸<small class="雙行夾注">二升</small></p>
<p>右九味，以水六升，清酒六升，和煑，取五升，去滓，溫分五服。一方水酒各四升。</p>
</span>
<p>已上三方，病證並在第六卷内。</p>
<span data-sec="p" typeof="jc:formula">
<p><b>四逆加人參湯方</b></p>
<p>於四逆湯方内，加人參一兩，餘依四逆湯法服。</p>
</span>
<span data-sec="p" typeof="jc:formula">
<p><b>四逆加豬膽汁湯方</b></p>
<p>於四逆湯方内，加入豬膽汁半合，餘依前法服；如無豬膽，以羊膽代之。</p>
</span>
<p>已上二方，病證並在第七卷内。</p>
