<header data-type="book">
<h1>對山醫話</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>毛祥麟</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1902">公元1902年</data></dd></div>
</dl>
</header>

<h1>卷一</h1>
<p>古以五氣、五色、五聲，視人生死，蓋即誠中形外之義，亦可見疾。雖伏而未發，其臟腑已先受傷，故必現於形聲動作，譬室有火患，初不及覺，馴至煙焰滿中，則勃發而不可御矣。然為曲突徙薪之計者，近醫亦罕。《說部》載宋神宗精醫理，有內侍病腫，太醫言不治。帝為診之曰：陰雖衰，陽未竭，猶可療也。令食蒜煮團魚而愈。熙寧初，京尹呂溱上殿進扎，郎中周約隨趨。帝問：呂體中無恙否？呂以無對，頃之復問，且問周見呂如何？周對如呂。既退，呂引鏡自照，顧周曰：面有晦色否？周曰：龍圖無自疑，容彩安靜。未幾，溱果病，遂不起。噫！如神宗者，可云望而知之矣。</p>
<p>切脈、辨證、立方，為醫家三要，而脈尤重。蓋脈既切明，自能辨證，而投藥不難也。今醫者，苦於脈理難憑，乃竟盡棄不究。惟學寫醫案，作門面語，論證則以活脫為能，用藥惟以和平為貴，自謂勝於偏執好奇孟浪自喜者。不知用藥如用兵，貴乎神速，若遲疑不進，使邪勢蔓延，必至救援不及，致危殆而後已。夫偏執好奇，誠為醫家所忌，然或因其立法乖異，在病家尚不輕信；若和平之劑，人即知其未必效，亦取其無害而就之。豈知因循兩字，誤人不淺，在尋常之症，弗藥亦愈；若生死關頭，其可須臾耽待乎？</p>
<p>余初讀《靈》、《素》諸書，覺其經義淵深，脈理錯雜，每若望洋意沮，繼並心一志，遍覽前賢註釋，有所疑，則整日默坐苦思而力索之，乃漸通五運六氣，陰陽應象之理。每調氣度脈浪，決人生死，亦時或有驗。憶昔避兵鄉里，對巷有吳某晨起方灑掃，忽仆地不語，移時始醒。延余診視，仍能起坐接談，按脈則勢急而銳，真有發如奪索者，蓋腎氣敗也，危期當不越宿。遽辭以出，人咸不之信，詎日未昃而氣絕矣。又，布商周某，偶感微疾，就余診視。余曰：今所患勿藥可愈，惟按心脈獨堅，濕痰阻氣，氣有餘即是火，火鬱不散當發癰。時周腦後生細瘡，累累若貫珠。余曰：君以此無所苦，一旦勃發，為害非淺，亟宜慎之。彼終不為意。及明春，果以腦後毒發而死。據此則憑脈決證，似乎如響斯應矣，豈知脈理微茫，又有不可臆斷者。余有戚某過余齋，形色困憊，詢知患咳經月，行動氣喘，故來求治。診其脈至而不定，如火薪然，竊訝其心精已奪，草枯當死。戚固寒士，余以不便明言，特贈二金，惟令安養。時已秋半及霜，寒木落往探之，而病已痊。細思其故，得毋來診時，日已西沉，行急而咳亦甚，因之氣塞脈亂，乃有此象歟？然惟於此而愈，不敢自信矣。脈理淵微，固未易絲分縷析，而世之醫家病家，咸以脈為首務，豈知脈居四診之末。上士欲求其備，原難捨脈以言病，而亦不能離病以就脈也。蓋凡臨證，必先詢其病之所在，與受之所由，察虛實，觀氣色，俟胸有成見，而後按脈以決其疑。若脈不合症，必更求病之所以然，與脈之所以異，准此立方，或可無出入之慮。本不專以三部九候為憑也。矧今世粗工，略知脈理，便強作解事，謂病之原，本按脈能知。在病家亦信其造詣甚深，指下自能洞見。孰知古之宗工，亦無此本領乎？余為是言，非輕視夫脈也，正以理甚淵微，未容偽託耳！</p>
<p>胎產非患，惟稽古雜誌有異胎五則，稱不救。而方書恰未之載，五者何？一曰束，胞帶緊束不解也；一曰沖，臨產時，沖逆不下也；一曰挺者，橫截腹中，手足不露；一曰捧心，子捧母心，心隨胎落；一曰，卷腸，腸斷始脫。遇此五者，母子得存其一幸矣。至懷胎之遲速，亦甚不同，有三四年而後生者，此胎氣使然。靜待固無所害，若見腹膨既久，誤認為病，以藥攻之，必至胎損而墮，悔何及哉？更有七月五月而生者，考孕生五月，古名賅胎，以父母稟氣之旺，陽生而陰即長，故先期而產。此如向陽花木，得氣在先，十月即華，不待三春始發耳。俗子不明此理，妄有誹訕，至產母忿不欲生，良可痛恨。昔余家有墳丁趙德隆者，娶鄰女未六月而產一男，戚黨咸竊笑，幸趙知妻素端方無疑問。子後漸長，聲音笑貌，酷類德隆，於是群疑始釋。又有孕終不產者。《元人說部》所載：南邑下砂四灶，鹽丁顧壽五，妻王氏，始笄適顧，子女已生其五，而於至大辛亥復有孕。及期，臨蓐七日不娩，後仍如故。每囑家人死必焚我，勿待盡，須檢視腹中物，以明何疾。繼於至正庚寅十月，腹驟動，痛極而死。越二日，家人遵遺言以火化之，取物視，則胞帶纏束甚緊，剖之乃一男胎，其肋骨堅如鐵石，計懷胎四十年。其婦以甲戌生，死年七十有七。胎產常事，有怪異若此者，其故固不可解也。</p>
<p>古云：讀書不明其義，不如不讀。言恐反為書惑也。而在醫為尤甚。蓋古人方論，惟言一症，不能隨其傳變，故可意會，而不可拘執。即如虛損一症，丹溪謂陽常有餘，陰常不足，主治在心腎。以心主血，腎主精，精竭血燥，火盛金衰，而成勞怯。故治以四物六味，補益真陰，俾火自降，而肺金清肅。在東垣則又以脾胃為本，言土厚則金旺，而腎水亦足，故以補中益氣為主。後世咸宗李而以朱為誤，謂造化生機，惟藉此春溫之氣，若專用沉陰清化之品，則生生之氣索然。是蓋未知上損從陽，下損從陰之義矣。按《金匱》云：脈大為勞。極虛亦為勞。脈大指損及心脾，營血虧而氣分泄越，宜歸脾建中益氣養營為要；極虛則言精血內奪肝腎，陰不能自立，宜以四物八味，壯水化源。乃知前賢立方，本各有見；後人不分陰陽，不察脈理，但言治損而茫不知其損之所在也。嗟乎！藥能治病，亦能致病。昔人有言：不遇良醫，不如不藥。蓋治病猶易，治藥為難耳。有友僻居鄉曲，每言其處，苦無醫士，無藥肆。余謂：果爾，亦未必非一鄉之福也。</p>
<p>凡治病必察虛實，勿盛盛，勿虛虛，疏其血氣，令其調達而致和平。此《素問》審治之義也。今之醫士，每遇年老之人，輒投溫補。而補之一字，又為人所樂聞。不知老人脾氣既衰，飲食入胃，輸化不清，蒸變為痰，氣機阻遏，氣有餘即是火。故治老人，略同幼稚，當以清通為主，是即經旨六腑傳化不藏，以通為用也。徐靈胎曰：千年之木，往往自焚，蓋陰盡火炎，物理然也。余謂積穢溝渠，必多擁塞。人能味此，老人之疾，非純以溫補為法矣。昔金壇王肯堂，年逾八旬，患脾泄，經年不愈。醫投溫補而轉劇，延我邑李士材診之，用巴豆霜下痰涎數升而愈。此非李之明於辨證不能用，非王之知醫，亦不敢服耳。張子和曰：良工先治實，後治虛；粗工或治實。或治虛；謬工則實實虛虛；惟庸工能補其虛，不敢治其實也。</p>
<p>昔有人乘舟遇風而患心疾，醫者取多年船柁於手汗所積處，銼末飲之而愈。醫以意用，初似兒戲，往往巧發奇中，有未易致詰者。廬陵嘗舉此語坡公，公笑曰：然。以才人之筆燒灰飲學者，當疔昏惰。推之飲伯夷之盟水，即可救貪；食比干之飯，即可愈佞，舐樊噲之盾，亦可治怯；臭西子之珥，亦可愈惡疾乎。廬陵亦大笑。余謂：是固不可太泥。古人用藥，每取形質相類，性氣相從，以達病所，亦有純以意運，如弩牙速產，杵糠下噎，月季調經，扇能止汗，蛇性上竄而引藥，蟬膜外脫而退翳。所謂醫者意也，殆即此類。本不當以常理格，亦未可以必愈，其如或執而不通，適為坡老所笑耳。</p>
<p>今醫士每見身熱脈數，輒投柴葛，以為邪散則安。不知六淫感證，固非一端，見症雖略相同，治法則自有別。蓋溫邪忌表，濕家忌汗，前賢固有明訓。王晉三古方選注，集傷寒百十三方，攻補溫涼，無所不備，豈僅以解表為事哉？即足經綸，治表散亦不宜太過。蓋病中大汗，最能暗耗元陽，致病後每多損怯。嘗《閱說》部所載，範云仕梁為治議時，武帝有九錫之命，期在旦夕，而云適病疫，乃召徐文伯診之，欲求速愈。文伯曰：此甚易，但恐二年後不復能治。云曰：朝聞道夕死何妨？況二年乎。文伯乃以火煅地，布桃柏葉於上，令云臥之，汗大泄，翌日遂愈。後二年，云果暴卒。宣解之不宜過甚如此。治病不難用藥，而難於辨證，辨證既明，則中有所主，而用藥自無疑畏。如明永樂中東宮妃張氏，經阻閱十月，疑有孕。上命太醫盛啟東診之，盛謂非孕，進方多破血品，東宮怒曰：早晚望誕育，豈宜服此？即屏退〉閱月病益劇，復召診，仍疏前方，東宮禁盛於別室，而後服其方。盛家惶怖無地，事恐不免，而盛洋洋若不經意。越三日，家人忽聞門外呼殿聲甚喧，出視則盛已紅棍前引，獲厚賞歸矣。詢之知妃服藥後，下血數斗，疾漸平復。可見識病既真，下藥終無疑畏，如盛者於醫，無愧為良矣。</p>
<p>《太素》之脈，析五運之微，窮造化之理，能決人富貴利達，貧賤壽夭，此無他，至於理而止耳。蓋人稟天地之氣以生，故五行之氣，隱於五臟，通於六腑，呼吸之間，陰陽開合，造化玄微，靡不畢見。嘗考《太素》諸書，首重心脈。心，主也，一身之動定系焉。凡人貴賤，惟在輕清重濁，其詞曰：心脈分明緊秀洪，自然祿位至三公，清調三按俱無絕，福壽綿綿紫誥隆。蓋脈清則神清，脈濁則氣俗，得先天氣厚，故神旺氣充，脈必明秀而無雜亂至貴也。大抵男子以肝木巽位為主，女子以肺金兌位為先。清如玉之溫潤，應指分明，不沉不濡，調調不絕；濁則粗燥無神，息數混雜，按之不顯，如撒干砂，此貴賤之所由分也。然脈分六部，變應萬端，其間陰陽聚散，生克無窮，義奧同於易理，非有宿慧者，豈能參其機要哉？</p>
<p>藜藿之軀，不數服藥，藥故易於見功；膏粱之體，未病先藥，既病而藥難取效。常見富人染病，一日數醫，醫者爭奇，冀得偶中，方藥亂投，致多誤事。有挽顯者詩曰：堂深人不知何病，身貴醫爭試一方。大抵富人病多誤於亂藥，貧人病多誤於因循。</p>

<h1>卷二</h1>
<p>抱朴子曰：服金者壽如金，服玉者壽如玉。然煉服之法，失傳已久，世人未得其術而輕試之，淺則骨痿，久則致命。是欲延年，而反促其算矣。後魏·李預餐玉致疾，謂其妻曰：服玉當屏居山林，排棄嗜欲，而我酒色不絕，自致於死，非藥之過。然雖死而屍體必當有異，宜勿遽令人知餐服之功。時在七月中，長安毒熱如沸，而屍停四日，體仍不變，口亦無穢。昔人有臨死服玉屑五斤，死經三年，膚殼如生者。李時珍曰：服玉未必能令生者不死，惟能使死者不朽耳。東坡晚年好燒煉之術，多與方外遊。嘗遇靈智道人，授以煉服丹法。云：於二至後常吸鼻液漱咽，獨居淨室，溺則封置瓷器中，滿月開視，當有細砂結其上，如浮蟻然，以絹濾取，用新汲水淘淨，棗肉為丸，此名陽丹陰煉。又，取人乳入銀鼎，慢火熬煉如淡金色為丸，此名陰丹陽煉。蓋此二物須經煅煉，始有陰陽相濟之功，得成九轉還丹之力。坡翁謂靈智妙用，沉機捷法，非其人不輕泄也。</p>
<p>成天地者，氣也。天地成而萬物生，氣固為生生之本。凡血肉之物，氣生則生，氣盡則化，此自然之理。術家有服氣之法，不過能卻病延年，亦不能令人不飢不食。然按孔子家語：食石者，肥澤而不老；食水者，耐寒而若浮；食肉者，勇而悍；食谷者，智慧而夭；食氣者，神明而壽；不食者，不死而神。是食氣固能不死也。嘗閱《宋人雜說》，嘉祐間河北大飢，有民襁負一子，覓食他方，中途迫於飢困，遂棄子於空塚中。亂定歸鄉，過其處，欲收埋殘骨，則兒未死，肥健愈於棄時。視塚中空無所有，惟見一蟾蜍，大如車輪，氣咻咻然出穴中。抱兒歸，與之食不食。六七歲肌膚如玉。其父攜至京師，以示兒科醫者，言物之有氣者能蟄，燕蛇蝦蟆之類是也，能蟄則能不食而壽，此千歲蝦蟆也；兒得氣故不飢，若聽其不食，終身不娶，後必成道，無須藥也。《東坡集》亦載其事，諒非子虛。然思兒在塚中，得其氣而不死，或然；既出穴，仍不食不飢，其理殊不易解。</p>
<p>昔在京邸，遇東魯宋老人太初，年九十有四，鬚髮皓然，顏如童子。下榻福清道院，日惟靜坐一室，三餐之外，無所嗜好。余曾叩其攝生之術，曰：飲食但取益人，毋求爽口，弗食與體相妨之物。自言幼時，脾胃素弱，故生平不食瓜果油膩炙眊，雖佳品羅列，未嘗朵頤，故能保此殘年。縱口腹而不自惜其身，不可為智。此言勝藥石，余嘗志之。昔人言病有六不治，驕恣不論於理，輕身重財，衣食不適，惡言形羸，不肯服藥，信巫不信醫。六者有一，則為難治。余友沈子涵孝廉，丁未春來滬，嘗顧余齋，見其神色衰奪，問之，曰：去冬患咳，至今未復耳。按其脈左堅細搏指，右關微澀，余曰：此屬陰分有虧，木失水涵，冬令少藏，升逆太過，夏三月防有失血之患。子涵曰：尚能食飯兩碗，固無懼也。余曰：雖然，還當安閒靜養，服藥調之。曰：藥補不如食補，我有肥雞爛肉，何用藥為？余遂不復言。未幾航海入都，果咳甚，嘔血未及一年，卒於京。嗟乎！是時尚可治，因不信醫藥，以致不救，惜哉！</p>
<p>眼科一症，前人雖有五輪八廓七十二症之義。然以余言之，其要不過辨其陰陽虛實，急則治標，緩則治本耳。東坡當日與歐陽叔弼、晁無咎、張文潛同在戒壇時，坡公病目，嘗以熱水洗之。文潛曰：目忌點洗，目有病當存之，齒有病當勞之，不可同也。魯直有言：眼惡剔決，齒便漱潔。治目當如曹參之治民，治齒當如商鞅之治軍，斯為得之。余謂：此特以養目言也，若火熱壅結，赤腫腐爛，翳膜遮蔽，譬之鏡受汙垢，必當磨洗，非存養所能愈。余少時嘗患目赤，初不甚苦，仍於燈下觀書，以致腫極而生翳膜，割剔數次始退，然稍不避風，其患立至，目光因之大損。後有友人傳一方，於立冬日多覓野菊曬乾作枕，自後得無目疾矣。</p>
<p>時下庸淺醫流，有三惡習：寫方作狂草，用藥好奇異，不問病情，妄言知脈。不思醫稱司命，當如何鄭重，而率意如此，其道亦概可知矣。要知此輩固未嘗讀書識字，略知藥性溫涼，便欲以寒投熱，恐人識其學淺，而必強書脈案；又慮多別字，故作行草以混字跡。不慮肆人莫辨，不顧病者安危，忍心大膽，莫此為甚。方中每用習見之品，有本草所不載者，余嘗考其所本，不但不明出處，且未辨其氣味。不知古人常用之藥，不過數十味，如六君四物六味等，百世不刊之方，試問有異常之藥否？聲色證脈為五診，故必聞聲觀色，辨證察形，復以脈合病情，庶幾胸有成竹。然亦有脈證兩岐者，故前人有取症不取脈，取脈不取症之義。按：人身脈絡，肖乎天地流行，達乎陰陽造化，但可測其常，不能盡其變也。晉太醫令王叔和撰《脈經》，猶未能盡泄其奧。蓋脈理淵深，惟求於微茫，呼吸之間，豈能瞭如指掌哉？陶節庵曰：指下難明者，真言也；誇言通曉者，但能言而不能行也。其所著《傷寒全生集》；惟取浮中沉，以分陰陽虛實病之傳變，但求於動靜躁盛之間，此亦宗仲景只別陰陽之意也。藏器曰：勿使一日失穀氣。蓋五穀得天地中和之氣，能益人脾胃，故以食為主也。然有非餐霞服氣，數十年不穀食而安然無恙者，是亦奇矣。余戚家一婦，絕粒三十餘年，日不過食蔬菜半碟，或果餌數枚，其起居動作，無異平時，今年逾六旬，猶能調羹縫紉，此或胃氣使然，故不治亦無害也。《吹影編》云：仲弟芝庭，年十四，得奇疾，不食五穀，聞氣則嘔，家人陰進米汁，乃氣逆欲絕，時或長嘯以舒氣，其聲如雷鳴。日惟啖羊豕肉一器，食畢即飲冷茶三四甌，暑月則飲水，亦無腹滿作瀉之患。有時連旬不食肉，只食瓜果數枚而已；飲酒勝常人，體更肥胖，精神倍於昔時。娶妻生二子一女，家人以為常，亦不強其食也。如是者十五六年。一日忽思食麵，食之頗安，後遂能食，而漸羸瘦，不逾年而歿。時蘇城吳正功，我邑王協中，皆得醫名，吳診視莫名其症，王則曰食掛，然亦未詳其義。余謂：是或痰之為患耳，痰留胃脘，故不食不飢；痰阻氣道，故欲揚聲以舒之；氣有餘即是火，久之火盛風生，痰亦為之消爍，而體瘦能食。前十餘年強力支持，皆氣火為之用耳，痰火雖消，而氣機亦絕矣。臆度如是，未識然否，存之以質君子。</p>
<p>醫以意取，非可言傳。每有病情相似，而藥有驗不驗者，此當深究其理也。嘗閱《南唐書》載：烈祖食飴，喉中噎，國醫莫能愈，吳廷紹請進楮實湯，一服而安。群醫他日取用，皆不效。叩廷紹，但言噎因甘起，故以此治之。李時珍曰：楮實久服使人骨軟，故能治骨哽。此亦軟堅之義也。余謂：飴味過甘，而能動火生痰，食飴致噎，蓋為痰火所阻。楮實性寒而利，故得開其壅滯。此吳深求克勝之理。故作取驗，豈一味楮實，而可通治噎患哉？群醫之昧，亦可概見矣。</p>
<p>南方卑濕，民苦濕熱。每當春冬，必陰雨連綿，入夏則暑熱驟降，地氣上蒸，人感之，入秋不病濕溫，即患瘧痢。蓋初感雖微，而濕久則成熱，熱久又能化濕，昔人言濕熱交互，如面入酥，乃言最難分理也。余於夏秋，每患濕病，入冬始愈，故曾有「潦倒微軀夏復秋，病因暑濕最淹流，方書屢檢翻滋惑，藥性多偏未易投」之句。亦言其淹纏難治耳。蕪湖徐紹裘傳一方，秋半清曉，於殘荷葉上收清露，以鮮佩蘭葉浸二日，去葉取露，瓷瓶貯之，封固。明年入夏，晨起服一二茶匙，常食薏苡粥，可除此患，試之果驗。</p>
<p>古方有藥只一味者，名曰單方。蓋取其力專而效速也，用之往往有奇驗。金陵賈人莫麗春，避兵來滬，僦居城南，與余居近。有子七齡，好食瓜果，因患腹痛，日夜號哭，肌肉盡削。一日有行腳僧過其門，見之曰：此孩腹有蟲，今尚可治，再延一月，即不救。居士肯舍香金五百，當為療之。莫即首肯，僧於囊中出藥草一束，令煎服，是晚瀉出白蟲升許，腹痛遂止。莫乃以所餘草一莖，袖來問余。視之粗如筆管，折之則不斷，葉疏而色紅，余曰：得非本草所謂赤藤者乎？《綱目》言其能殺蟲，而狀亦相似。並引《夷堅志》所載：趙子山寸白蟲病，醫令戒酒，趙不能禁。一日醉歸，夜已半，口渴甚，見廡下甕水頗清，即連飲數勺而寢。迨曉見蟲出盈席，心腹頓寬。異之，視所飲水，乃僕浸赤藤以織草履者也，以古證今，其說若合。特吳中素無此草，未嘗見其苗葉，亦不敢言其必然也。</p>
<p>病非習見，自古醫書所不載，往往於雜說中得之，時或有驗。邑有剃髮工孫某，於肉汁中誤吞短髮，初不為意，年餘覺胸次隱痛，久而痛甚，肢體厥冷。孫嚐出入余家，求余診治。按其脈兩手俱平靜，自言飲食二便如常，細視患處，皮色無少異。余曰：汝非營衛間病。因詢其平日好食何物。曰：無所好。又問：曾食異常之物否？曰：無之，惟於二年前，曾誤吞短髮。余曰：病在是矣。因令食菜油，連進四五杯，乃大吐，遂出短黑蟲無數，似發略粗，入水能動，浸二日仍化為發，病遂愈。或問：油能殺蟲乎？曰：惟取以探吐，且無骨之蟲，見油則狀，故得隨吐而出。然非無本，《談藪》所載：宋明帝宮人，患腰痛牽心，發即氣絕，群醫以為肉症。徐文伯曰：此發瘕也。以油灌之，吐物如發，稍稍引之，長三尺。頭已成蛇，懸柱上水滴盡，仍一發也。偶憶是說，因以試之，不意果驗。</p>
<p>人當年衰，齒牙搖動欲脫，或在壯歲，為風火所侵，因而作痛者，最難禁受。余中年多齒患，偶閱《玉壺清話》，有固齒烏髭藥歌，試之果驗，特錄於此。歌曰：豬牙皂角及生薑，西國升麻蜀地黃；木律旱蓮槐角子，細辛荷葉要相當；青鹽等分同燒燬，研細將來使最良；揩齒牢牙髭鬢黑，誰知世上有仙方。並云：方得諸西嶽蓮化峰頂張師正，年五十時，齒已疏搖，不便咀嚼，既得此方，巨臠大胾，利如刀截，而搖者復固矣。以方授僧文瑩，時僧亦危如懸蒂，試之輒復固，遂傳於世云。</p>
<p>古之醫士能破脅取症，割股療毒，筋斷能續，骨斷能接；今世雖罕見，然能通其技者，宇內猶有其人，不過得傳者少，而遇之難耳。昔客武林，舍範氏之藏松閣，主人有子才六齡，墮樓折脛，遍召醫人，咸為束手。有新安鄭某，自言能治。令取牛筋劈細，揉熟如絲，以束斷骨，出藥末少許，散骨上，以雞皮封之，兩月能起立，經年平復。余嘗詢其技之所授，云：有祖傳抄本書十頁，皆傷科秘法。然其藥草非肆中所有，入山採取，往往終歲不得，倘得此藥，便可接骨。惟損及臟腑，則不能治矣。嘗閱《翼駉稗編》載：蔣紫真，精於醫。武進周某，其母劚筍傾跌，竹鋒入腹腸已斷，求治於蔣，曰：創雖可治，十年後當有異疾。遂出藥敷腸，以線縫紉納腹中，研藥一丸令服，夜半而蘇，一月創合，後八年乃死。或問：十年後如何？曰：續處必生肉蕈，飲食渣滓，即從此出耳。觀此雖臟腑之損，亦可治也。</p>
<p>曹吉云太史，於道光乙巳釋褐旋里，行抵山東，其僕墜車折脛，羈旋覓醫。聞五十里外有某醫能治，遂繞道訪之。所居甚幽僻，聚族數十家皆業農，醫者年已半百，鬚髮間白，草履葛衫，吐屬溫厚。略詢邦族，謂行途遭此，洵可憐也。細視傷痕，言骨雖斷，尚可續。先出水一匙，令飲，更以藥塗之，約越日痛緩，一月可瘥，但必一年不可行遠。始復故步耳，酬以四金，亦無不足意，後果如期而愈。可見僻壤荒村，亦有能手，即其舉重若輕，而不矜其技，是亦世俗所難耳。嗣於友人席間談及此事，濟南徐季良太常，言所飲之藥，名木乃伊，凡人骨斷，得此能續。既閱陶九成《輟耕錄》載：天方國人，有年七八十歲，願捨身濟眾者，即絕飲食，日惟澡身，啖蜜經月，而便溺皆蜜。既死，國人殮以石棺，仍用蜜滿浸，鐫其年月，識而瘞之，俟百年後起封，則成蜜劑，遇傷肢體者，服少許立愈，蓋即木乃伊也。然甚可貴，雖在彼國，亦不易得云。據此，徐子所言，信有因矣。</p>
<p>泰西醫士言善治跌撲損傷，不知此技莫過於蒙古。乾隆時，越東俞孝廉澄，北上墮車，折斷脅骨四根。蒙古醫生，取驢骨易之，束以帛，半年而愈，惟戒終身弗食驢肉。又，齊次風侍郎，趨值圓明園，墜馬破腦，腦漿流溢，僅存一息。延蒙古傷科治之，刲羊腦以補之，調藥末敷其外，一日夜少蘇，然視物皆倒懸，以鼓於腦後敲數十捶，視物始正，八閱月而平復。今中外醫人，恐未必有此神技也。</p>
<p>元時有剛哈刺咱慶王在上都，嘗因墜馬，致兩目黑睛俱無，而舌出幾至胸，諸醫束手。時惟廣惠司卿聶某，言識此症，乃以剪刀去其舌，少頃復出一舌，復去之，並於兩旁各去一指許，用藥塗之，越夕而目睛如舊，更無疾苦。事見楊瑀《山居新話》，謂：聶某親與言之，其剪下之舌尚存也。按：廣惠司乃回回醫人，所隸聶某或曾見此症，故能為之治，惜當日元誠先生曾未一詢其病由也。</p>
<p>失血之症，弱年易犯，而治之頗難。繆仲淳言其要有三：一、宜行不宜止，行則血循經絡，不止自止，止則血凝發熱，病日痼矣；二宜養肝，不宜伐肝。蓋血藏於肝，吐則肝失其職，故惟養之，使氣平而血有所歸，伐則虛不能藏，血愈不止也；三宜理氣，不宜降火。氣有餘即是火，氣順則火降，血隨氣行，自不溢出。若欲降火，必用寒涼，致傷脾胃，脾氣既傷，尚能統血而安絡乎？斯論甚明，學者大可於此取則。昔人言凡治血證，服寒涼藥十無一生，服童便百無一。因能降火滋陰，消瘀甚速也。余謂：飲童便不如飲自便為佳，既可隨便飲使，不失真氣，且得因之食淡，而遠辛鹹。夫淡食亦生新之一助也。</p>
<p>醫者意也，能知變，而後能使草木。每見同是一方，或分兩有差，或少加一引，有驗不驗之異者。蓋藥之輕重，必量其病之淺深，使適達患所，不及則不驗。若夫一引之加，似無關係，然如千里行軍，不可無一向導也。宋徽宗夏月食冰，遂病脾泄，國醫進藥未效，召楊介診之。介用大理中丸，帝曰：服之屢矣。介曰：病因食冰，臣以冰煎藥，是治受病之原也。服之果愈。此正經言：必伏其所主，而先其所因，其始則同，其終則異矣。</p>

<h1>卷三</h1>
<p>中醫用藥，惟憑氣味以扶偏制勝，乃今藥肆所售，竟有形似而實非者，倘非常品，必親嘗而後用之。蓋投藥如遣將，若未知其人之性情賢否而任之，鮮不僨事。憶昔在鄉近鎮有王某，病火腑秘結，便阻五十餘日，余用更衣丸，以未效而疑之。幸病家細心，服時留取數枚以示，余嘗之，味甚甘。駭曰：是丸僅用蘆薈、硃砂二味，取其苦滑重鎮；今味反甘，乃偽耳。因書方令自合，一服即通。知鄉間藥肆，其不可靠有如此者。昔人言用藥有三忌，謂從未經驗，臭穢猛毒，氣味異常也。知此三者，庶可驅使草木耳。</p>
<p>無為程生，夏月露坐，夜既深，覺小腹重滯而微痛，久則如有物攻，群醫莫名其症。近村有老儒能醫而不名，程延以診視。乃令市諸藥料，以次熏腹，至雄黃而腹鳴如雷。曰：此蛇膨也。是必坐處有蛇窟，夜深將出，觸其所吐之氣，致成此疾，經歲腹膨如鼓，至臍中出水，則不可救矣。遂以雄黃和酒令飲，閱三日頓瀉綠水斗余而愈。按：本草載雷丸之治應聲蟲，與此相類。蓋物必有制，因其畏而投之，故能取效。法雖異，理自一也。</p>
<p>世俗有云：若要小兒安，須帶三分飢與寒。蓋言衣絮弗使過暖，飲食弗令過飽，庶無蘊熱停滯之患，是亦保嬰之一法也。凡襁褓之兒，內證多痰火，外感多風熱，每患口舌腫毒，投以辛涼化毒自安。近有推驚婆子，指為螳螂子，言過一周即不救，每用利刀剔兒兩頤，以出血塊。是惟江浙有之，而吳中為甚，他處未聞有此患也。然孩提之子，肌膚嬌薄，即欲稍泄風熱，以針略刺猶可，切勿用刀割裂，以傷血絡，致不能乳食，可不慎歟？</p>
<p>世言以醋泥塗火燒瘡，取驗最速。其言恰非無本，蓋《北夢瑣言》中載：孫光憲家人，方作煎餅，一婢抱兒傍玩，失手落兒火上，遽以醋泥塗之，至晚即愈，並無瘢痕。可見當時已有此說，故能應手取效，然則世俗相傳，固不厭多聞也。</p>
<p>桐城俞澹香言，其族子昔患水脹，腹膨如鼓，漸至手足面目皆腫，危殆已甚，自問無生理。一日，聞鄰家蔥煎豆腐甚香，思食之，因自煮一碟，食頗快口，而小便覺爽，遂連食數日，溺更大通，腫漸消，腹亦漸小，不半月而愈。俞謂：水蠱重症，而以蔥腐獲痊，殊不可解。余曰：凡人感疾，皆由氣味相觸，內阻流行之機，感時雖微，久能致病，惟遇氣味相投之物，一動其機，雖痼疾亦或可瘳。如《內經》言：臨病人問所便。即是此理，非臆說也！</p>
<p>感豐初，黃嚴葉某，賈於滬。一夕偕友小飲，歸時已三鼓，倏有旋風颳地起，風過，葉仆地不起，同伴扶掖回寓，逾時氣絕。其友徐姓者，嘗謂余曰：葉年壯盛，氣體素強，何病之驟，而死之速也？余曰：此殆非病，或因驚散生魂耳。問：是時尚可救否？曰：按本草以腰刀鞘二三寸燒末服，謂可救。明年，徐赴蘇郡，泊舟黃渡，晚餐方畢，聞岸上喧呶聲，往觀見一人倒地，因詢其何病，其家人曰：本無疾苦，黃昏出門，欲往友家，半行未里，遽踣於此。徐憶余言，令以刀鞘試之，移時漸蘇，頃即起坐，自言初至此，聞樹頭鳥聲亂噪，陰風起林間，使人毫髮皆豎。忽來一巨人，揮拳猛擊，駭極狂竄，正不識路，繼聞前面鋒刃聲甚厲，意巨人持械復來，遂回身而走，不知何以仍在此也。觀此，可見古書所載奇方異疾，若治之得中，固無不驗者。然此理甚微，頗不易解。</p>
<p>嘗觀《拮奇集》載：黑犬遍體無雜毛，目如丹朱者，名風夷，能治飛頭之疾。初不知飛頭何疾，閱《搜神記》吳時將軍朱桓一婢，每夜臥，頭輒飛去，將曉復還；又《酉陽雜俎》言，嶺南溪洞中，往往有飛頭者，故有飛頭獠子之名。頭飛一日，前頸有痕，匝項如紅縷，妻子咸守之，其人及夜，狀如病，頭忽離身而去，將曉還復，如夢覺云。噫！此固疾耶！奇甚矣！未識何由而得。遍閱諸書，無從考證耳。</p>
<p>宋·徐文伯入山採藥，遇二老人，鑿石取水自飲。文伯渴甚，欲乞一盂，老人曰：此玉液也，非汝可飲。過懇之，授半盞，方入口，齒即相擊，下咽覺冷不可耐。一老曰：何自苦乃爾，遂摘樹葉三片使食，食之即覺溫暖異常，老人復授書一冊，曰：歸習之，能療世人疾。文伯暮年遂神其技。嘗於路旁見一人倒地死，腹大如甕，文伯曰：此人為爆蛇擊死，氣雖絕，神未離，尚可活也。乃取藥丸，納其鼻孔，頃之腹鳴便泄而蘇。眾問所施何藥，曰：骨篤犀也。按：骨篤犀乃巨蛇角，能解諸毒。又，明帝時有內侍，患頭痛如破，發即厥絕，群醫以為風，文伯曰：此腦蛆也。以藥點兩眼角，頃則鼻中出蛆無數，乃取以搗汁，入藥少許，令服，曰：此腦髓所化，非此不能補耳。自後病遂不發。</p>
<p>吐衄諸血症，今人每宗仲景瀉心法，不知其所謂瀉心者，實瀉手厥陰、足厥陰、太陰、陽明四經之邪火有餘也。大黃峻利之品，用得宜，取效固捷；若施之體弱之人，禍可立待。梁武帝時姚僧坦以醫擅名，值帝病熱，欲服大黃，姚言至尊年高，不可輕用快藥，帝不從，幾殆。其後元帝得心疾，群醫擬進補心之品，姚言脈洪而實，蓋有宿妨，非大黃不瘥，劑進立愈。觀此，知大黃之用，必有把握，未可混施。</p>
<p>華亭費秋谷母，驟腹痛頻危者再，聞天馬山有道人能醫，乃親往延治。途遇一老翁，同憩於亭，問何適，費以延醫對，翁於囊中出一方，曰：此孫思邈所得龍宮方也，服之當有效。費於忽迫間，不辨何藥，即市歸進母，一服而愈。後以方示人，蓋即《千金方》溫脾湯也。是方寒熱並用，補瀉兼施，信非凡子所能定。按：唐段成式《酉陽雜俎》：思邈嘗隱居終南，時逢大旱，有西域僧奏請於昆明池結壇祈雨，凡七日，池水驟縮。忽有老人夜詣思邈室，曰：弟子昆明池龍也，今胡僧利弟子腦，詭言祈雨，實欲殺我，望先生憐而救之。孫曰：余知昆明龍宮有仙方三十首，爾授我將救汝。老人曰：此方上帝不許妄傳，今事急，何敢吝？孫得方，遂別撰三十卷，每捲入一方，致後世莫辨。老翁所授，蓋即真方也。</p>
<p>醫學十三科，惟針科效最速。然非精其技者，不可輕試。經云：形氣不足，陰陽俱虛，刺則重傷其陰陽，老者絕滅，壯者不復矣。東垣曰：脈浮數而發熱，咽乾舌赤，時作渴者，熱在外也，灸則災害立至。據此，知虛寒忌針，實熱忌灸。未明虛實者，針與灸豈可妄使哉！唐·狄梁公性嫺醫藥，尤精針術。顯慶中應制入關，路出華州，闤闠之北，稠人廣眾，聚觀如堵。梁公引轡遙望，有巨牌大書，能療此疾，酬絹千匹。就觀之，有兒年可十四五，臥牌下，鼻端生贅，大如拳石，根蒂綴鼻，才如食筋。或觸之，痠痛刻骨，雙目為贅所繩，目睛翻白，痛極欲絕。公惻然久之，乃曰：吾能為也。其父母暨親屬叩顙祈請。公令扶病者起，即於腦後下針寸許，乃詢針氣已達痛所乎？病人頷之，公遽出針，疣贅應手而落，病頓失。其家人且泣且拜，遂奉縑物。公笑曰：吾哀爾命之危，非鬻技也。不顧而去。然行針之法，必達乎陰陽，分別穴道，倘失毫釐，則差以千里。如公者，始可行其伎矣。</p>
<p>咸豐初，鄧作夫都閫，奉檄徵皖南，左額受槍傷，時賊勢方熾，鄭枕戈露宿，以至腫勢日甚。醫者謂是破傷風，邪已內閉不能治。有一老兵，取桑條數十莖，以火燒其中，取汁和酒，令服遂愈。此法曾見之方書，不意其奇驗果如此。然則應驗諸方，醫家亦不可不諳也。《齊諧記》載：江夏郭坦有兒，於病後忽能食，日必需米斛余，閱五年，家至罄。坦乃驅使自覓食，兒因飢不可忍，乃取圃中韭啖之，竟盡二畦，旋覺悶極，因大嘔，陡出一物，狀如龍，撮飯著物，即化為水，而其病頓愈。物則恰莫能試云。及觀閭閻僧《睡余偶筆》言：秦有化谷蟲，長僅數寸，於谷筆中投其一，不二三日，谷盡化水。始悟郭兒所嘔，或即此蟲。是必採藥時，未經洗淨，誤吞其子，致有此患，韭能解蛇蟲諸毒，故得療此異疾。</p>
<p>諺云：走馬看傷寒。蓋言轉眼變更，治之不容稍緩也。若令晨服藥一劑，明晚再服，中間已隔兩晝一夜，經絡已傳，藥力有所不及，則難取效矣。故古方有日三服，甚則晝夜服六次，使藥不間斷，始能制病。若危急之症，死生於旦暮之間，用藥尤當不失其時。近日有一等醫人，日則高臥，晚始出診，以為延者眾，而深夜猶不得安息。一至病家，故作匆忙之態，聊且疏方，告其病情，則閉目不答，似厭其言之多也。嗟乎！病者求醫，望之甚切，早延夕至，一日虛過，以致鞭長莫及。此誰之過歟？其心安乎哉？</p>
<p>有友病疝，嘗問方於余，余按前人治疝，各有所偏，立方不無錯雜。仲景以寒為名，故主溫散，調營補虛，不入氣分之藥；而子和又以辛香流氣為主，謂肝得疏泄，病將自愈也；巢氏言：陰氣內積，復加寒氣，蓋由營衛失調而致；陳無擇亦言：女血因寒濕而為瘕，男氣因寒聚而成疝，是以疝屬寒者固多。然此病亦有起於濕熱者。蓋濕熱在經，郁遏即久，外復感冒，寒氣收束，絡脈不行，所以作痛。若專作寒論，恐未盡然。近惟葉氏有暴疝多寒，久疝多熱之議，發前人所未發，後學似當深味。今友患此有年，且多目疾，維友疝病，治肝十居八九，因以辛甘化風為治，而附其說於此。</p>
<p>經云：濕多成五泄。水濕侵脾固多注下，然因風病泄者，亦習見焉。蓋腸有風則飧泄，胃有風則濡泄，肝為風臟，故厥陰症每多作瀉。今之俗工不察病情，以為健脾導濕，治瀉之要，用藥大都香燥。不知肝為剛臟，必甘柔酸斂以和之，燥則劫津，香能耗散，不反增其病乎？《竹樓間筆》載：宋時有朝貴，患痢經年，群醫每進升陽理脾之劑，而病轉劇。蜀醫唐慎微診之曰：此腸風也。投以育陰之品，不旬而瘥。余每治腸風泄瀉，亦以柔肝獲效，故特筆之。</p>
<p>痢疾古稱滯下，蓋濕熱內阻，氣失流行，久成積滯。昔人每以導氣分消為主，此誠治夏秋時痢之常法。然風淫火迫，寒侵積痰，亦能致痢，治之又當分別。更有脾腎交虧，飲食入胃，輸化不清，積留於腸回曲折之間，入秋氣，收藏不固而下泄者。道光丁酉先君年七十有三，仲秋患痢，晝夜百餘次，初延醫診視，進苦辛調氣之劑，因循十餘日，病益甚。聞谷即嘔，雖湯飲亦不能下咽，滿口白縻而作呃忒，舉家惶惶，余方寸已亂，漫無意見，惟日夜祈禱，因思得一人與之共商，庶可放膽立方。越日，適毗陵莊生至，莊號春冶，曾從余學醫，頗有機變，因令診。春冶蹙額曰：尊年營衛既虧，痢疾大下，陰液已涸，今口縻呃逆，胃氣將絕，實難措手，惟有扶持元氣，兼養胃陰，冀得胃氣稍醒，以圖轉機，未識是否？余曰：子言頗合。遂與定生脈佐芍藥、銀花、陳皮、炙草等味，以糯稻根煎湯代水，春冶用黨參。余曰：是方所重在參，黨參氣味平淡，僅可調補常病，豈能恃以為治。乃用吉林上好山參，每服五分，日進藥一次，參則晝夜四次，如是者五日，旁症悉除，漸能進粥，旬余而痢亦止。然仍不撤參藥，至冬初，大啖肉食，盤餐羅列，無不稱美。春初，始起床步履，然能食不充肌肉，余竊慮之。氣候漸暖，飲食漸減，夏日惟食粥數次，至秋而痢復作，悉依前法治之遂愈。次年秋病又作，仍進參藥，先君謂麟曰：汝素知醫，豈不知攻補有時？前者初病，曾服利導之劑，繼用參藥，是以有效。去年病即服參，積滯未清，故今秋復發，參藥斷不可再用。余心知非參不可，而又不敢違命，日夜苦思，忽憶先君昔患肝疾，得蘇郡醫生阮仁昌治愈，先君每稱其能。乃稟知延請，星夜著人赴蘇，閱五日而阮至。診之曰：濕熱內蘊，參藥姑緩。乃用芩、苓、楂、樸等治痢之藥，先君索方觀之，深以為然，命速煎。余不能措一詞，時已申分，服後未及半時，即覺氣促神亂，延至亥刻，遽爾見背。嗚呼痛哉！可見二載之一息綿存，皆人參之力，一旦受此耗散，氣泄不能再續，今日思之，未嘗不飲泣而痛恨焉。</p>
<p>余作醫話，不過藉此遣興，非沾沾於五運六氣而言也。適閱楊瑀《山居新話》載一事死不以病，而疑為病死。余故話不涉醫，而亦登醫話，其略言錢塘韓介石巨室也，延祐某年夏，雷雨驟至，令庖僮登樓閉窗，雨過覓僮，則已僵斃。因疑中風猝死，而觀身佩之刀，絛鞘如故，刃則銷鑠過半矣，楊言其故，殊不可解。余謂此必雷死，非病死也。嘗見西人於高樓及藏火藥處，每坎地豎鐵桿，上出屋宇，以引雷火流入地中，而其旁必盡去五金之屬，言能引雷。由此證之，是僮之死，亦以刀鐵引雷入室而然也。猝中雲乎哉！</p>
<p>蘇郡葉天士，良醫也。有孫六齡發痘，葉視之曰：絕症無生理，不必服藥，其子婦只生一子，不忍坐視，因延兒科診之，遂疏方進藥，余病良已。兒科頗自得，謂其家人曰：老先生道雖高，究非專科，臨症不多，誤為逆候。其子若婦，亦甚德之，以為乃翁固不若也。葉聞謂其子曰：兒痘果愈耶，某先生力也，當設筵演劇，以酬其勞。子遂折柬招之，兒科盛服往葉出，眾客咸稱喜。乃顰蹙曰：喜恐不能終席耳。眾初不解，及開宴，金鼓一聲，兒嗷然哭，遂絕。葉乃歡曰：吾蚤知其必死也。兒科恧然問故。曰：此兒先天既薄，感氣又深，不能外達，今未兼旬，勉強收結，所泄乃陽明之毒也。腎經所伏，仍然不動，聞震響則心驚，心火既動，內迫腎水，水火互沖，毒即激發，而莫可御矣。兒科慚而退，眾始服其明也。又我邑醫士王惠昭，亦名冠一時，四方求治者，趾相接。一日隨僕行郭外，見隔溪一女子，耘于田，王熟視良久，顧僕曰：汝可跣足涉溪，以泥水塗面，突前緊執女手，作拖其下水之勢，任伊號哭，不可捨去。僕曰：百步外有耕者聞聲來救，恐難脫身。王曰：有我在，無害也，僕如其言，女大駭，極聲呼救，其父持梃狂奔而來。王忽止之曰：是若女耶，將發痘，非此一驚無活理，三日後必見點，以驗我言。其父雖未深信，然素慕王名，姑俟之，至期果然。亟延診視，且問故。王曰：此腎經症也。猝然震駭，可使轉入心經，今無妨矣。遂為定方，不兩旬而愈。或曰：二症皆發於腎經，一則因驚致死，一則因駭得生，何皆言之驗也？余曰：葉子年幼質弱，感氣既重，正不勝邪，毒終不能外達，故發即死。村女身大氣旺，一發即透，透則生驚者，皆欲觸其速發也，然惟葉之能決其必死於初發之時，王能取法於未發之際，是非三折肱者，其能如是哉！</p>
<p>古人嘗以水火治病，其效速如熨炙之類，今尚有之。以水療疾者，世所罕見也。按後漢時有婦人，臥疾經年，諸藥無效。華佗令坐石槽中，用冷水灌頂，云當百，始及半，已冷顫欲死，灌者懼而欲止，佗弗許，灌至七十，覺有熱氣，繼而氣若蒸釜，水若沸湯，滿百灌，乃使溫褥厚覆而臥，醒來病若失矣。又《南史》載將軍房伯玉，服五石散，因以致疾，常覺寒慄，雖夏月必披裘，徐嗣伯診之曰：伏熱也，須以水發之，然非冬月不可。迨至十一月，水滴成冰，平旦令伯玉解衣坐石上，取新汲冷水，從頂澆之，盡二十斛，口噤氣絕，家人啼哭請止，嗣伯怒叱。盡水百斛，伯玉始能動，背上彭彭有氣，俄而起坐曰：熱不可忍。乞冷飲，嗣伯以水一升飲之，疾頓愈。自後肢體常暖，冬月猶服單衣。時珍曰：此皆伏熱之證。火鬱則發之。必於冬月者，蓋冬至後陽氣在內，平旦亦陽氣方盛之時，折之以寒，使熱氣鬱遏至極而激發之。《米真神靈驗篇》云：有人患風疾，掘坑令解衣坐坑內，以熱湯淋之，良久以簟蓋之，汗出而愈。宗奭云：四時暴泄，肢冷腹痛，令坐熱湯中，浸至腹上，頻頻揉擦，生陽諸藥，無速於此。二者皆以水療疾，冷熱雖殊其理一也。</p>
<p>蜘蛛之毒，甚於蛇蠍。余嘗見友家一婢，左臂為蛛所齧，腫如甕，痛極悶絕。或令以羊血沖酒灌之，使醉昏睡一日夜，腫始退。閱劉禹錫傳信方，載判官張延賞為斑蛛傷頸，初不覺，越宿首大如斗，有二赤紋繞項下，至心前，幾至不救。有方士取大藍汁，入麝香、雄黃，以蛛投之即化為水，遂以汁點咬處，兩日悉平。本草言蜘蛛能制蜈蚣蛇傷，其性毒可知，古方有蜘蛛散，取能定幽暗之風，以治陰疝。吳門王晉三《古方選注》云：蜘蛛有毒，人咸畏之，而長邑宰林公瑛，山海衛人，壯年調理方多用之，久亦無害。言有毒者，或南北地異所產不同耳。物理相制，多有不可解者，顧但知其相制處，亦可救一時之急。鄰有幼孩，為群蜂所螫，頃刻腫甚，或令搗芋艿敷之而消。按《沈括筆談》言處士劉陽居王屋山，時見一蜘蛛，為蜂螫墜地，其腹如鼓欲裂，乃徐行入田間，齧芋梗，以瘡就磨之，良久腹頓消。然則以芋治螫，或亦本於此耳。</p>
<p>乾隆初，郡城某紳，患腹痛，發必昏厥，勢甚危篤。四方醫士，延聘殆盡，諸藥畢投，竟無一驗。乃榜示通衢，有能治者酬千金。時逢歲試，士子咸集郡中。金邑有周生者，性好博，場後與發，薄資盡罄，招覆，案發，周不與，同寓亦大半散去，周坐困族邸，欲歸不時。忽夢亡師某謂曰：汝已得取，不負此來。周曰：昨已出案，門生無分，先生尚未知耶。某曰：汝案在紅箋上。周方欲再問，某遽起曰：速取看案。周醒，以為妄想所致，晨起無聊，遂至貢院，見案傍果有紅箋，視之，乃某官招醫帖也。因思正無歸計，姑就之，倘有機會，亦未可料。遂貿然往略，一診視，詭言此症非湯藥可療，余手製靈丹，方期有效。約以翌日，回寓沉思，必得一物，庶可偽為丹藥，因徘徊戶外，見牆邊有半朽蒲包，乃以黃土封固，炙為灰，分作數包，袖以往。曰：越兩時可一服，不過三服，病當愈，然是非尋常藥肆中物，價值昂貴，必先稍償藥資。主人言若有驗，不靳重酬，預付不能應命。周不得已，爽然反寓。越日，有干僕數輩，輦金而至。曰：先生妙藥，昨進三服，即吐一血塊，腹痛頓愈，聊奉薄酬，還求覆診。周曰：今病根已去靜養自安，無須用藥，余有急務欲歸，不克再往，為我謝覆可也。時我邑楊介眉，醫名重海內，紳延伊調理，稱周術之神。楊令將所吐之物，洗去血汙，置清水內，頃之蠕蠕自動，引之長四五寸，乃一螞蝗也。曰：此必飲水誤吞入腹，幸未生子，故得一吐而盡。然私慕周之技，乘間往訪，登堂肅拜，執弟子禮甚恭。周駭曰：先生醫道，誰不敬服，僕素無學問，何敢當此。楊曰：願聞所以知某紳之患而治之。周見其誠，遂實告。楊曰：蒲包灰尚有否？周乃取余灰出，楊嘗之曰：是已，此鹽包也，鹽能殺蛭，故有此驗耳。</p>
<p>古有防風粥，以真珠蘭碎金犀取油，煮五香稻為糜耳，一盂價值一金。白居易在翰林日，上嘗賜一甌，食之口香七日，云可除風去濕。是亦芳香逐濕之意也。</p>
<p>按《梁州雜記》餳醋能消介類。憶《說部》載有少年眼中嘗見一鏡，醫者言其必吃鱠太多，有魚鱗在胸，致眼生花耳。乃設芥醋一瓶，令於飢時啜之，疾遂愈。又有為魚骨所鯁，幾廢飲食，後服白餳而解。證此則餳醋之可消介類，其說信然。</p>
<p>走方醫賣藥市中，或曰：一日必療一病，雖未必然，而亦時有驗者。邑有李跛，開魚行於東門外，自言其幼時，足背生細瘡數顆，無甚痛苦，絕不為意。夏月赤足坐門首，有走方醫目之曰：此非癬疥疾也，毒伏陽明已久，亟宜外達，不治當發腸癰，此足廢矣。伊父怒其妄而叱之，遂去。不逾月病發，醫藥半年始愈，而足果廢。可見走方祝由之類，雖多以小術惑人，訛取財物，而於方藥所不能療之痼疾，往往以符咒草藥取效，即此可見其非全妄也。</p>

<h1>卷四</h1>
<p>神農以赭鞭鞭百草，盡去其毒，而後辨其氣味，察其寒溫，著《本草經》三卷。後雖積漸增加，然至漢末，亦僅傳三百六十五種，至明東璧氏，彙集諸家，輯《綱目》書，多至一千八百十二種，而歧誤亦多。余謂古書簡而多闕，今書繁而多訛，近惟澉水吳氏之《從新》，去取適中，便於檢閱，宜為人所膾炙。然屆今甫百年，而品味已多變，異甚至有是名而無是物，肆中遂以他藥代之。在醫者但知某藥治某病，泛取而浪用之，貽誤尚有窮乎。余不揣固鄙，嘗欲明出處，辨氣味，詮真偽，去所無，補所闕，更勒一書，名曰《本草時宜》，以切於用。然必考證詳確而後筆之，故二十年來，僅得七十餘種。今年逾周甲慮不能竟其事，倘得假吾數年，庶於是書無憾云。</p>
<p>人參在古本草云，生上黨山谷及遼東，形長而色黃，狀如防風。產百濟者，形細而堅白，氣味薄於上黨，此皆言黨參也。瀕湖李氏輯《本草綱目》廣搜諸品，而未及於參，至我朝澉水吳氏，訂《從新》一書，如分人參、黨參為兩種，知明時尚無人參。百濟、新羅、高麗等國，來中土互市者，皆上黨之類。按《談苑》載邵化及為高麗國王治藥，言參質極堅，用斧斷之，香馥一殿。又《涵海續編》云，遼東有韃參，色紅澤，體實有心，味甘微苦，斷之有金井玉闌紋，人銜之走，氣息自若，則都指人參而言矣。時以中國未行，故不入內地，國初始見用，其名乃著於時，嗣後採者多而產漸少，入山每無所得，至棄其業。道光初，近山農戶取子種之，偽充人參，遂以亂真，漸至真者幾絕，醫家以是物多偽，亦將棄此勿用，是亦參之一厄也。今寧古塔參，久已罕見，惟船廠為上，鳳凰城次之。風產質嫩而糖重，故價亦較賤，但昔以光圓短熟為佳，今則以糙熟兼均為貴，是又參之小變。嘗觀《甌北集》云，曩閱國史，我朝以參貿高麗，定價十兩一斤，迨定鼎中原，售者多而價漸貴。然考康熙甲午查悔余謝揆愷功惠參詩，有十金易一兩，蓋是時參價不過十倍。乾隆十五年，余應京兆式，慮精力不支，以白金一兩六錢，易參一錢，二十八年，因病服參，則其價貴已過半，三十年來，何啻更增十倍云云。按今之市價，雖不甚相懸，而物產則遠不如前矣。余嘗悉心辨別，始知是物真偽，固非難識。在今之醫士，尋常草木尚不深求氣味，況非習見之品，有終其身未嘗一堵廬山面目者，猶何可與言哉！究之真非絕無，特其價過昂，識者亦罕，故非富貴家，素講服餌者，鮮克知其味矣。然於痘科產科，及元氣欲脫之症，實有起死回生之力，斷非他藥所能代也。憶昔某戚婦，每產血必大下，服參則止。道光壬辰復娩時，次參甚行，某置兩許，意十倍服之，功力足以相抵，及服，崩血愈甚，氣竭欲脫，急市山參一錢，服之即止。按參之功用，固在諸藥之上，行之中土，百有餘年，活人無算。自為奸民私種，以致魚目混珠，遂見疑於世，而弗可不惜哉！</p>
<p>經云：五穀為養，五蔬為充。蔬者收也，所以佐穀氣而疏通壅滯也。時珍曰：凡草木之可茹者，為韭、薤、葵、蔥、藿五菜。然菜固不止於五，說原蔬植三百有六十，《綱目》僅收一百五種，余俱不可考。今民生日用之常，更不及十之三四耳。按蔬品惟蒜、胡荽、苜蓿。漢時得之西域，唐貞觀中泥婆羅國，又獻菠薐菜、渾提蔥，至今傳種不絕。近通泰西諸國，其蔌果攜入內地，土人覓種植之，市以獲利，而華人亦有以之充饌者。今略摘數種，辨其氣味，以備考證。捲心菜，俗名哈喇菜，葉卷如球，色青，經霜後微紫，去數層，內葉嫩黃脆美，俟其自放，其大如蓋，氣味甘平，利腸清胃，大抵似菘而味不及耳。花菜來自花旗，故名，葉缺刻如細芥，色淺黃，味甘淡，潤肺化痰，性亦和平。筍，色白細長形如玉箸，味淡微辛，中實無節，固非竹類，土人因其形似筍芽，故名之耳。然南菘北植，即化蕪菁，今隔數萬里重洋，而仍不失色味，是亦不可解也。</p>
<p>古人春食涼夏食寒以養陽，秋食溫冬食熱以養陰，此四時之宜，以合陰陽，而安六腑。然天生果品，亦應候以益人，如春生梅，酸斂以平肝木；夏生瓜，甘寒以清暑熱；秋生梨，甘涼以肅肺金；冬熟杞，甘溫以益腎水。此即經言五果為助，五味為色，以應五臟也。</p>
<p>方伎之流，以法取童女初行經水，謂之紅鉛。多方制煉以惑人，而尤盛行於明末，有術士制一粒丹，用乳調勻，使人仰臥，從鼻灌之，美其名曰進大藥，朝貴多趨之。李可灼紅丸之案，即此物也。按婦人月水咸熱有毒，服之傷腦，術士之言，豈足信哉！觀蕭了真金丹詩，亦可悟矣。</p>
<p>竹根木屑，賢者注意，世固無棄物也，惟醫亦然。苟明其意，凡物皆可療疾。如徐嗣伯嘗以棺中死人枕，治屍疰、石疣，及多見鬼物，均應手取效。或問三症不同，何皆用枕而瘥？嗣伯曰：屍疰鬼氣也，伏而未起，故令人沉滯，以枕治之，魂氣飛越，不附體矣；石疣甚僻，蟲性轉堅，非藥石可遣，因亦以鬼物驅散之；至眼痛而見魍魎者，邪氣入肝也，以邪引邪，固當用枕鉤之。三者不相同而適相似，得其意之所在而治之，故皆驗也。大抵自宋以前，未嘗用此，嗣後靈鞋屍席，與自經死繩，咸用以治病，而本草亦收之耳。</p>
<p>藥有雷丸之名，本草謂與雷斧雷楔。皆霹靂擊物時，精氣所化。若埋於向陽之處，數年後即大如卵，堅如鐵矣。按雷火本地中濕蒸之氣，郁久勃發，隨地氣升起，泄為陰中之陽。雷丸得其餘氣，故能除胃火，散皮中結熱。然久服則令人陰痿，蓋亦性陰所致。元至正間，邑農家有老嫗，為雷擊死，頃之復甦，口中含藥一丸，吐以示人。比鄰俞某，意為神丹，奪而吞之，遂患喉痛。物格格然若不化，後因怒咳，隨痰以出，視之狀如李核，質光潤而色黃，斧擊不碎，數年之咽痛遂止。意此即雷丸之類。俞吞時，其升騰之氣方盛，迫火上炎，故患咽痛。迨為怒所激，隨氣湧出，物既去，宜其痛之頓失也。</p>
<p>古無煙草，昔閩人自海外得淡巴菰燃之，以管吸其煙，云能闢瘴。故明時徵滇軍中咸服之，至我朝始盛行於內地。今雖擔夫農工之家，無不備以供客。按本草云，其性純陽，能得能散，故可化濕禦寒，其氣入口，頃刻而周一身，令人通體俱快。然火氣熏灼，大損肺氣，今之多患喉舌諸瘡，未必非嗜煙所致。近人慾避其火熱，以銅為器，置水於中，使煙從水底起，名曰水菸袋。以為得既濟之法，一吸三吸，更傷氣分。衛生者，還宜遠之。</p>
<p>蜀地產椒分五色，以按五行。服餌家謂是草中之大丹，煉服能堅齒髮，調關節耐寒暑，久則輕身益壽。按椒性辛熱，能損肺泄氣，煉服亦非所宜。今人因其馨香快膈，每用以蘸食腥膻，不知其助火動血，因以致病者夥矣。浙寧陳彥生好食椒，年未五十齒落，此其驗也。</p>
<p>諸凡含血之物，其骨皆難長。在人自胚胎至成人，必二十年，方堅骨髓。惟麋鹿角自生至堅，不過兩月，計一日夜能長數寸。雖草木之易生，猶不能及。所以能堅筋骨，強陽道，益精髓。舊有髓道士斑龍丸歌曰：尾閭不禁滄海竭，九轉靈丹都慢說，惟有斑龍頂上珠，能補玉堂並下穴。其丸蓋鹿茸所合也。但鹿則喜山而屬陽，故夏至解角；麋乃喜澤而屬陰，故冬至解角。今採茸不分麋鹿，豈知陰陽既別，功用亦殊，而可混用乎？</p>
<p>四時草木，應候而生，採取亦必及時。非其時則氣味異，而功用亦差。即血肉之品，亦不宜生取，以失其性。嘗聞今之市麝臍者，生而割之，其香未蘊，臍穢尚腥，入藥多至損人。按麝食芳草，至冬香蘊於臍，入春臍癢，自以爪剔出，採芳婦女，拾以相贈馨香染袖，經年不退，名曰生香，頗不易得。今山中獵戶，嘗取麝糞曝乾，得麝生割臍香，以糞實之，或取飛虻去首足翅，入臍封固，久之香亦不散，名曰當門子，是以一麝而獲五臍之利也。虻且有毒，不良可知，以之和香料猶可，若入藥餌，不反有所損乎？</p>
<p>今市賣有所謂醋鱉者，云出普陀山。似螺而扁，大如豆粒，言能催生。產婦於臨蓐時吞之，兒即持以出。然余嘗試之，恰無驗也。按《海槎余錄》謂是相思子，生海中，好事者，取藏篋笥，終歲不壞，出投醋中，則能轉旋不已，而無催生之說。據此蓋耍物耳，正如閩部疏載莆田所產小白石，狀如杏仁，擘之腹文如蟲，取兩石離立碟中，須臾自相迎合，名曰雌雄石。近亦有市賣者，謂能治目疾，且可合媚藥，其價故甚昂貴，而不知其藉此愚人，亦無佐驗也。</p>
<p>木鱉子，本草言其無毒，能治瀉痢疳積，而發明下又載薊門人有二子，服此俱斃，特著為戒。近聞南門外有農人曹某，年已半百，子僅九齡，患腹痛，時發時止，經年不愈。或言此疳積，木鱉可療，曹即市五文，盡數煎與其子服，不逾時乃肉顫筋弛，骨節盡解而死。按木鱉有二種，一產南中，形細而底凸，又名木蝨子。昔人用以治痢，審其性味，不過苦參子之類耳。此種今已絕少，現肆中所賣者，皆番木鱉，出回回國，外科嘗用以敷瘡，服之能殺人，切勿入藥以嘗試也。</p>
<p>夏子益曰：天地川樹木，皆有脂。此係陰陽氣化之餘，結而成髓。飲天脂者，成上仙；地脂成地仙，山川樹木之脂，壽俱無量。《鬼谷子語仙錄》云：取天脂須於危峰絕頂，人跡罕到之處，置金盤盛明珠，每於寅卯之交往探，有清露即傾去，得漿色白，芳香不散，味極清甘者，是也。地脂於地脈流行聚合之處，從土湧出，不收仍入地。大抵天地之脂，每六十年一泄，山脂即鍾乳之類，鍾乳乃石之汗液，脂其髓也。水脂出大海中，高噴百丈，還落水中，介類吞之得為神。樹脂數千年老樹，枯而復榮者再，始有脂，能化嬰兒，遊行不定，頗不易得。《方鎮編年》載高展為井州判官，一日見砌間沫出，以手撮之，試塗一老吏面上，皺皮頓改，顏色如少。展問承天道士，曰：此名地脂，食之不死，展乃發磚，已無有矣。</p>
<p>國朝康熙間，順德有民入山樵採。忽聞樹頂有兒啼聲，仰視，見古木上有氣縷縷如煙，飛鳥過之皆墮，斫視其中有人，狀類凝脂，問之不應，拂之則笑。一同伴曰：此名樹脂，非惡物也。遂蒸食，食已覺熱，尋浴溪中，肉盡潰裂而死。余謂仙佛之書，大都渺茫，固不足信。凡異常之物，智者不食，信然。</p>
<p>使君子之名，相傳有潘州郭使君，療小兒腹痛，每用此取效，因有是稱。按小兒腹痛，蟲患為多，而凡殺蟲藥多苦辛，惟使君子味甘，孩提服餌，不損脾胃，故尤相宜也。至民俗謂蟲無盡殺，盡則無以消食，此真愚俗之言。李時珍嘗譬之樹有蠹；屋有蟻；國有盜，是福是禍，不問可知矣。余亦謂修養之家，必以去三尸，即此類推，蟲固宜殺而不宜留也。</p>
<p>今人好食白淪雞子，言能安五臟，益氣血，而不知其頗不易化，非煮之極熟，多致停滯。《南史》載李道念一病五年，發治未效，丞相褚澄診之曰：非冷非熱，當是過食白淪雞子耳。煮蒜令食。遂吐一物，形如卵，視之雞雛也，翅足俱全。澄曰：未盡以蒜更吐之。計出十二枚而愈。又李時珍嘗見一朝貴，每晨必進雞子數枚，久而無恙。因詢其庖，此外尚有何好？庖言食不撤蒜。李曰：賴有此耳。觀此足知是物不宜多食，而蒜之能消肉積，亦信然矣。</p>
<p>釋道家有五辛之禁，道以韭、薤、蒜、芸、薹、胡荽為五葷，而釋家則葫小蒜興渠慈蔥茖蔥也。所禁雖有異同，然皆辛熏之品，生食增恚，熟食發淫，以其有損性靈，故屏絕也。</p>
<p>絲瓜《本蔬》中佳品，世俗相傳，其性至寒，食之敗陽。按本草言甘平能除熱，利腸解毒通絡，而《生生編》又謂暖胃助陽。余嘗考其性味，不過甘涼之品。因其涼血，故治腸風崩漏；其絡貫串如人脈絡，故能通絡；其質軟滑，故曰敗陽。暖胃之說，抑何反也。</p>
<p>狗蠅牛蝨，古方未嘗用之，而近世醫家每以此治痘，蓋出齊東野語。周密言同僚括蒼陳坡，老儒也，其孫三歲出痘，半漿倒壓，勢已不治。遇一士授藥少許，服之移時即紅潤，乃乞其方以壽世。蓋用狗蠅和醅，以酒調服耳。按藥中蟲蟻，不過取其飛揚走散之功，故多施於傷科外症，以通血閉。痘症全賴氣血以成漿結痂，元虛之症，必當以參、耆培養元氣，切勿以此為法也。</p>
<p>嘗見幼科取青蒿中蟲和藥，以治小兒急慢驚風，云有奇驗。遍閱古方，未見用此。惟《保嬰集》極言其功效，並有詩云：一半硃砂一半雪，其功只在青蒿節，任教死去也還魂，服時須用生人血。蓋用朱粉和之，乳汁點服也。</p>
<p>今人冬月，每以酒和牛乳燉食，而薛立齋言酒不可與乳同飲，蓋乳汁下咽，得酒則凝，頗不易化。若以酒燉食，乳已熱而成塊，本無害也。胡筱園太守晨起食乳，不耐膻氣，急呼酒飲，遂覺膈間痞悶，一日夜不思飲食，服神麯、麥櫱俱無效。余令取酥與消導藥服之遂愈。酥本乳之精華，得同氣以相引，故能取效也。</p>
<p>世言楙有百益一損，梨則百損一益。按楙即木瓜，不過藉酸澀之性，得以舒筋伐木，豈若梨之甘能養胃，涼可清心，潤燥化痰，除煩解熱，且渙風邪而消癰毒哉？嘗閱陳鵠《舊續聞》載湖南崔孝廉，道出泗州，聞呂某精太素脈，俾診之。呂曰：君來年可得官，秋髮癰毒，不可治。崔求預處一方，呂謝不能，固請之。乃曰：京師有大馬劉者可訪也。明年崔果登第，遂訪劉。劉令日啖梨，至二百餘顆，乃遍生小瘡，而無他患。又《類篇》載有士人狀若有疾厭厭然，日無聊賴。醫者楊吉老診之，言氣血為熱鑠，此去三年，當以疽死。士人慮之，聞茅山有忌士能醫，不輕為人治，乃易青衣，投執薪水，役久以實告。道士亦令食梨而愈。考經疏言，膏粱之家，厚味濃酒，縱肆無節，不病痰火，必有癰疽卒中之患。唯頻食佳梨，能轉重為輕，變危為安。據此則梨之功能，夫豈淺鮮，損益之說，抑何相反如此也耶！</p>
<p>腰膝無力，腎氣不足也。慄形如腎，故能補腎虛。每於冬月，以袋盛生慄懸高處使干之，晨起吃數顆，再以豬腎粥助之，久則奇效。然須細嚼，連液吞嚥。若頓食至飽，反致傷脾滯氣。蘇子由詩：老去自添腰腳病，山翁服慄舊傳方，客來為說晨興後，三咽徐收白玉漿。是得食慄之訣矣。</p>
<p>櫻桃味甘性熱，故王維有「飽食不須愁內熱，大官還有蔗漿寒」句。張子和言：舞水一富家有二子，好食紫櫻，日啖一二升，半月後長者發肺痿，幼病肺癰，相繼而殤。嗟乎！天生百果，所以養人。倘縱其嗜欲，反滋其害。邵堯夫云：爽口物多終作疾，真格言也。</p>
<p>蓬氣味辛苦，功專殺伐，古人用之，必輔以參、術，慮其耗氣也。今人用以破積滯，治胸脅諸痛，取其能散氣中之血耳，而好古言亦能益氣。然審其性味，亦猶厚朴、檳榔之類，益氣之說，切弗輕信。本草載王執中久患心脾痛，服醒脾藥反脹，用蓬、術炮以水醋，煎服立愈。余謂脘痛，每多肝木犯胃，蓬朮苦辛泄降，兼之醋味酸收，正合治肝之法，是以效也。</p>
<p>元素曰：芍、芎上行頭目，下行血海，能散肝經之風，為少陽厥陰血虛頭痛之聖藥。余按：芎藭性味辛溫，以佐地芍，而使不寒不滯，故四物湯用以為使，此如六味之有澤瀉也，其非專任之品可知矣。今人每用以為君，治少陽厥陰症，不知陰弱之人多虛熱，挾肝膽之火上炎，而致嘔逆痰咳，頭痛氣喘，是宜甘緩育陰，而使火風自滅，豈可用升散之品以助其勢乎？虞摶謂骨蒸多汗及氣弱者不可久服，蓋芎藭能令真氣走泄，而陰愈虛也。李時珍曰：芎藭肝經藥也，若單服久服，則辛喜歸肺，肺氣偏勝，金來賊木，而肝必受邪，久則偏絕，使人夭亡。故醫者貴乎格物也。</p>
<p>昔人言生薑調中益胃，能除肺經諸病，而為嘔家聖藥。按姜性辛溫，用以宣肺氣，開寒痰，平嘔逆，若為肺胃必需之品則不然。蓋胃為陽土，性喜甘柔，肺應秋金，亦宜清肅，辛散之品，恐非所宜。余謂但可用以醒胃，不當用以益胃。或問：本草言夜間勿食姜，食之令人氣閉，何也？曰：肺以氣順為安，臥則氣血寧靜，若以辛溫劫之，使痰氣上壅，而阻氣道。諺云：早除蘿蔔夜除姜。亦此意也。</p>
<p>牡蠣一名蠔山，附石而生，磈磊相連如房，故亦名蠣房。以是海氣所化，體用皆陰，本草故言能治虛損煩熱。余嘗用以潛陽，較勝於鰒。陶隱居《本通典》：老鵰入海化為珬。云是百歲雕所化。按：珬即螺類，然蠣生石間，堅實不動，類雖屬介，迥異螺蚌。說恐未然，近人疏方，每書左牡蠣，蓋以左顧為牡也。陳海藏嘗非之，謂是鹹水結成，塊然不動，陰陽之道，何由而生？考《南州志》蠣房贊，亦有牝牡異斑句，似牝牡又可以斑辨矣，顧余嘗驗之。所謂左右者，以其附石不移，順流旋轉，水激成紋，非真有雌雄之別也。</p>
<p>蟹為江鄉美品，而吳俗尤多嗜之，每至三秋，不撤此味。昔人言蟹能解結散血，故其字從解言。考其性味鹹寒，能動風耗血，味雖美，多食恰能損人，埤邪言未被霜者不可食。昔余家治屋，工人掘地疏溝，獲一巨蟹，重斤余。烹食之，夜半腹大痛。洞泄而死。蟹譜震澤漁者，綱得螃蟹，其大如頭，以螯剪綱皆斷，怒欲烹之。其侶有老於漁者曰：嘗聞龜蟹之殊類者，是江湖之使，烹必有禍。乃令釋之。然凡物之異於常者，食多殺人，豈獨龜蟹而已哉。</p>
<p>菌之種類甚多，閩粵間人所植楠木，沃以米汁而生者，名曰香菌，乃可充饌。若生墟落穢濕之地，則本鬱蒸之氣所化，其性多毒，食之殺人。我邑新橋鎮，昔有農人於竹園中得鮮菌數枚，甚肥白，煮而食之，竟以腹瀉死。憶道光己酉春，淫雨經月，遍地生菌，友人謝月屏家於庭角忽生一菌，大如盆，色淺紅，其紋隱有鳥獸形，謝以為瑞芝，邀余往觀。余曰：此毒菌也，不久當萎。越夕果漸小，未幾而蔦。謝以人咸為芝，而余獨曰菌，且知其敗之速，謂必有所見。余曰：嘗閱珍珠船所載李涼公鎮朔方時，耕甿於園，樹下產菌一本，大數尺，上有樓臺，中間二叟對博，併成三字曰朝榮觀。公聞而疑之，乃令甿掘其地。僅三四尺，即有巨蟒穴，其下目光如鏡，口吐沫成菌。今觀君家所生，疑即此類，見背有蓑紋，故知非芝，以氣化必易萎也。</p>
<p>閩產桂圓，味甘肉厚，能悅胃養營，凡勞損心脾而血耗者宜食之。因其形如龍目，故又名龍眼。道家每取肉細嚼，待滿口生津，汩汩下咽，名飲玉泉。余嘗試之，頗益。昔華亭陸平泉宗伯，享壽百齡，日惟食龍眼數千，顏色如少時。然其味過甘，多食令人中滿，有痰熱者，似亦不甚宜也。</p>
<p>初摘鮮蓮，氣清味美，能和中養心氣；煮粥食之，益人脾胃。昔人言生食須去心，否則恐患霍亂。按蓮子中青心，能清心去熱，霍亂之說，不知何據。惟今肆中所賣石蓮，產粵東樹上，其味大苦。曾見食之而作嘔者，今人每用以治痢，誤矣。</p>
<p>側柏代茗，別有一種清芳之氣。當春末夏初，嫩葉方長時採服之，能除風濕。但其性味苦燥，非壯水之品，而丹溪以為補陰要藥，說恐未然。咸豐癸丑洞庭陸秋谷販於陝遇盜迷入山谷，行數里，杳無人跡，忽聞林間人語，周視恰無所見，惟有大柏一株，枝幹修偉，高出雲際。時腹中甚餒，因採葉食之，遂忘飢渴。今年逾周甲，鬚髮未斑，步履飲啖，一如少時，每言食柏之驗。曩閱《涵海續編》，廣成子取雲陽液以療世人疾苦，雖垂死可活。初不知雲陽液為何物，後觀抱朴子，山中樹能人語者，非樹語，乃雲陽為之，注云陽樹精也。陸之所食，或唧此耳。</p>
<p>王宇泰云，病酒者，當服枳懼。按枳懼一名木密，又名金鉤，樹似白楊，其子著枝端，長才盈寸，駢生如指，屈曲相連，春生秋熟，霜後味甘如飴。昔人有造酒庫而以枳懼木架屋者，其後一室之酒皆淡薄無味。余少時曾傷酒發熱，取汁服之，反覺中滿，是或味甘所致耳。</p>
<p>鴆，毒鳥也。邕州朝天鋪及深山處有之，其種有二，一大如鴉，黑身赤目；一大如鶚，毛紫綠色，頸長七八寸。雄曰運日，雌曰陰諧，聲如羯鼓。遇毒蛇，則鳴聲邦邦，蛇入石穴，禹步作法，石裂蛇出。秋冬解羽蟄穴，熏之出走，暈眩而斃。以法取膽，盛以銀瓶，倘染指，指即斷；用作毒矢，著人立死。鴆羽瀝酒，犀角即解。凡鴆穴處必多犀，天地所以制殺機也。</p>
<p>蘇君世業藥材，精於辨別，同業咸推巨眼。同治間賈於滬，有航海客攜犀角一箱托售。某開視，遂邀同市共觀。曰：此名天馬角，偽物也。以此販楚鄂間，可獲利十倍，然殺人亦如之。余若不言，恐售偽者踵至，且慮嗣後無識者，害何底止。遂以百金易之，對眾焚燬，客甚感愧。</p>
<p>冬季大鯖魚膽入川貝末懸壁間，俟干取末，以治咽喉之疾。而鄺湛若赤雅又云：其膽治目，功比空青。魚大膽小者上；魚大膽大者次之；魚小膽大者下矣。粵東花懸漁者到得魚懸親剖，官稅其膽，始敢出市，開私者杖。故其詩有：金環殉吉鷯，花縣稅鯖魚，之句。今藤江所市者，皆以𩸩膽灌黃藤膏偽為之耳。辨之不精，必見笑於魚目矣。杜詩豈無青精飯，使我顏色好。青精一名南天燭，又名墨飯草，用以煮飯，色純黑。仙經云：草木之正，氣與神通，食青燭之精，命不復殞，是也。</p>

<h1>補編</h1>
<p>是編乃毛對山先生墨余錄談醫之說，關於醫理，多有發明，故附錄醫話之末，以資同志之研究。</p>
<p><u>鄞縣曹炳章識</u></p>

<h2>徐何辨症</h2>
<p>蘇城徐秉楠，青浦何書田，皆精軒岐術，名重一時。時金閶劉氏饒於財，而僅有一子，春患傷寒，勢已危，群醫束手，遂以重金延二人。徐至，診視久之曰：「傷寒為百病長，死生繫於數日之內，苟識病不真，用藥不當，則變異立見。古有七日不服藥之說，非謂傷寒不可服藥，謂藥之不可輕試也。若見之未審，寧不用藥，豈可妄投以速其殆。故醫者必先辨六經之形症，切其脈理，察其病情，究其病之所在，而後能治。如太陽陽明，表症也，宜汗之；少陽則半表半裡，宜和解之；太陰邪入於裡，少陰入里尤深，均宜下之。若手足厥冷，自汗亡陽者，又宜溫之。至厥陰病，則寒邪固結，非投大熱之劑不能除。此等症勢雖危，但能對病用藥，始終無誤，不難治也。今診少君之症，為兩感傷寒。兩感者，如太陽受之，即與少陰俱病，以一臟一腑，同受其邪，表症里症，一齊舉發。兩邪相迫，陰陽皆病。救表則里益熾，救里則表益急，譬之外寇方張，而生內亂，未有不覆其國者。察其形症，變在旦夕，雖和緩復生，能措手乎。言未已，閽人報何先生至，徐退入夾室。何入診之曰：「冬傷於寒，而春病溫，蓋寒必從熱化，今身反不熱，而脈形潛伏，此熱邪深陷，勢將內閉矣。頃按脈時，曾於沉伏中求之，左手尺寸得弦，右則微緩，見症耳中聾，脅痛，寒熱若有若無，兼之中滿囊縮，時或身冷如冰。夫脈弦而耳聾脅痛者，病在少陽，蓋脈循於脅絡於耳也；病中滿囊縮，右脈微緩者，病在厥陰，蓋脈循陰器而絡於肝也。邪入陰分既深，故身冷如冰耳。辨其形症，是少陽厥陰俱病也。古人治少陽症，謂用承氣下之，反陷太陽之邪，麻黃汗之，更助裡熱之熱，故立大柴胡湯一方，解表攻裡，兩得其宜。今齒枯舌短，陰液已竭，若投柴胡承氣解表峻下之劑，則更劫其陰，是速其殆也。若以厥陰論治，而進桂、附等回陽之品，是抱薪救火耳，若用石膏、黃連苦寒之藥，非惟不能撥動其邪，正助其冰擱之勢。然醫家必於絕處求生，方切脈時，兩手雖奄奄欲絕，而陽明胃脈，一線尚在。因思得一線之脈，即有一線之機，反覆研求，惟有輕可去實一法，以輕清之品，或可宣其肺氣，冀得津液求復，神志略清，可再圖別策。勉擬一方，服之，天寅卯之交有微汗，則可望生機，否則勢無及矣。」是時徐獨坐室中，使僕往探，索方觀之，乃大笑曰：「是方能愈是病耶！果然，可將我招牌去，終身不談醫道矣。」言為何僕竊聞，達於主。何謂劉曰：「聞徐先生亦在此，甚善。今晚雖不及相見，明日立方必與共，千萬為我留。」何舟泊河沿。遂下宿。徐欲辭歸，劉苦留之。服藥後，至四鼓，果得汗，形色略安。天未明，何至復診，喜形於色曰：「尺脈已起，可望生矣。但必留徐先生，余為郎君療此病，徐若去，余亦去耳。」劉唯唯。徐悉病有轉機，無以自容，急欲辭歸。劉曰：「何曾有言，先生去彼必不留，兒命懸於先生，惟先生憐之，雖日費千金，亦不吝。」徐聞，知前言之失，默然無語。何一日登岸數次，不數日，病者已起坐進粥，乃謂劉曰：「今病已愈，我將返棹，徐先生已屈留多日，諒亦欲歸，但前有招牌一說，或余便道往取，或彼自行送來，乞代一詢。」徐遂丐劉周旋，劉設席相勸，至為屈膝，始得解。何歸，適侄某亦患傷寒，病劇，舉家皇皇，何診之，形症與劉似，曰：「易耳。」遂以前法進一劑，不應，再進而氣絕矣。何爽然曰：「今日始知死生在命，非藥之功醫之能也。」因函致徐，自陳其事，而請罪焉。由是閉門謝客，不言醫者數年。</p>
<p>兩蒼氏曰：軒輊處，妙無墨痕。備載兩醫論，略未刪翦，疑若不經意，何雖奏績，而有末段顢頇，則仍案而不斷。及將兩論細讀，始悟備載之下，蓋有不待斷者，束處直是有意瞞人，借作疑陣耳。妙妙。</p>

<h2>李中梓</h2>
<p>李中梓，字士材，邑諸生也。有文名，並精醫理，名重一時。時金壇王肯堂（字泰）亦精岐黃術，年八十，患脾泄，群醫咸以年高體衰，輒投滋補，病愈劇。乃延李診視，診畢，語王曰：「公體肥多痰，愈補則愈滯，當用迅利藥盪滌之，能勿疑乎？」王曰：「當世知醫，惟我二人，君定方，我服藥，又何疑？」遂用巴豆霜下痰涎數升，疾頓愈。魯藩某病寒，時方盛暑，寢門重閉，床施氈帷懸貂帳，身覆貂被三重，而猶呼冷。李往診之，曰：「此內熱也，古有冷水灌頂法，今姑通變用之。」乃以石膏三斤，濃煎作三次服，一服去貂被，再服去貂帳，服三次，而盡去外圍，體蒸蒸流汗，遂呼進粥，病若失矣。其醫之神效類如此，特素自矜貴，非富貴家不能致也。</p>
<p>童菽原曰：是亦一時之雋，但非富貴人不能致，則與集中姚蒙異。雖情性各別，未可強同，而品地實於斯判。</p>

<h2>姚蒙</h2>
<p>姚蒙字以正，居邑之百曲港，明時以醫名於世，尤精太素脈。言人生死禍福，每奇中，而性特異。其所可意者與之談，娓娓不倦，至廢寢食，否即白眼仰觀，呼之不答，鎮日可無一語。是時醫名重海內，求者戶常滿。姚於貧人，每施方藥，卻酬金。證如危險，每日診視二三次不吝。至富者欲延，則於禮貌間苟不當意，往往勿顧。或問其故，曰：「此輩庫有銀，倉有粟，死亦何害？若貧者自食其力，妻孥賴之，安可死耶？」時都御史鄒來學巡撫江南，召蒙視疾。蒙欲辭，邑宰某迫之行。及入撫署，見鄒高坐不為禮，蒙即直視，噤不發言。鄒曰：「汝亦有疾乎？」蒙曰：「有風疾。」曰：「何不自療？」曰：「是胎風，不可療也。」鄒即引手令診，蒙卻不前。鄒悟，呼座坐之。診畢，曰：「大人根器上別有一竅，常流汙水，然乎？」鄒大驚，曰：「此予隱疾，事甚秘，汝何由知？」曰：「以脈得之。左手關脈滑而緩，肝第四葉合有漏，漏必從下泄，故知之耳。」鄒始改容謝，且求方藥。蒙曰：「不須藥也，至南京即愈。」以手策之，曰：「今日初七，得十二日可到」鄒遂行，屆十二日晨，抵南京，竟卒。</p>
<p>兩蒼氏曰：貧富異視，時賢往往有此，但恨與姚相反耳。至以醫論，則其相去者，又未可以道里計矣。</p>

<h2>與袁綺香譚醫</h2>
<p>甲辰客槜李，與西安袁綺香徵君寓齋較近。袁固知醫，好服藥餌。余初往訪，見方書藥碗，狼藉几案，蓋其修合炮製，咸所自為。嚐出一方示余曰：「此亦出名人手，因其藥味平易，又少補益，故姑置之。」余曰：「君知補字之義乎？凡物缺則補，譬冠服未損，而欲補之使堅厚，則反為疵累矣。藥能利人，亦能損人。若果察其陰陽，辨其氣味，偶舉一二，用之通神，豈必以方奇品異為能哉。晝長多暇，姑述一二經驗之症，以醒睡魔。曩治繆理堂司馬細君，經阻年餘，腹形漸大，嘔不納穀，日僅飲藕汁一二杯，已待斃矣。延余往診，見其弱不勝衣，喘不成語，按脈左三部細若遊絲，而右關獨大，知病在厥陰，而損及太陰。閱前醫立案，或言氣聚，或曰癥瘕，雜投辛香燥散，以至危殆。爰以甘緩之劑，一進而逆止，再進而食增，繼以育陰益氣，經月而脹滿悉除矣。是症初不過液枯氣結，木乘中土，惟攻伐過甚，陰液日涸，遂至肝陽莫制，陽明受困。夫陽土喜柔，甘能緩急，進甘緩者，治肝即所以救胃，此一舉兼備法也。又癸丑寓鄉，有舵工子，夏患瘡瘍，醫投苦寒之品，至秋漸至浮腫。繼延幼科，更進利導，腫勢日甚。病及半年，僅存一息，絕食已二日矣。其父上鎮市棺，將為待死計，或謂余知醫，遂踵門求治。余鑑其誠，往視。腫勢已甚，面目幾不可辨，脈亦無從據按。因思病久必虛，且多服寒涼，脾土益衰而及於腎，腎水泛溢，三焦停滯，水滲皮膚，注於肌肉，水盈則氣促而欲脫，擬急進獨參湯，以助肺氣，蓋肺主一身氣化，且有金水相生之義也。時逆氛未靖，鄉間無從覓參，乃以仙居術一兩，令濃煎徐服，盡一器，喉間痰聲覺漸退。於是疊進六君，重用參、術，甫半月而腫盡消。此二症皆以平淡取效，可見方不在奇，在用之得當耳」袁曰：「君用法良善，未悉業受何人，法宗何派？」余曰：「幼年病弱，悉屏經史子集，食飽睡余，惟以方書消遣，其時已略能理會，迨侍疾椿庭，杜門不出者數年，因遂搜採群書，究心《靈素》，而於切脈調劑之法，亦漸通貫，此業之所由成也。嗣是偶有所得，筆以記之，積為一十二卷，名曰《侍親一得》，暇當就正也。」翌日袁過余齋，遂以書授，厥後屢以醫學問。余謂凡人受病，雖不離乎寒熱虛實，然有虛中實，實中虛，寒化熱，熱生寒之異，臨症施治，必求其剋制之功，與相生之義，使之並行不悖，乃為善耳。至調劑之法，不過藉氣味偏勝以圖功。如《內經》咸勝苦，苦勝辛之類。蓋醫者意也，方者法也。必讀古而不泥於古，採方而不囿於方，神明其意於法之中，研窮其理於意之外，斯則化裁之妙，存乎其人矣。袁極稱善。明春，袁適有楚南之行，遂別。嗣以兵阻斷音問，近始得函，悉此管窺所著，竟欲代付手民，自笑於前賢諸籍，未能兼綜條貫，矜其一得，適足貽笑方家。然如袁君之嘉善，至老不袁，遭此紛亂，而拙本襲藏，俾不散佚，感何如乎。特筆所譚，以志相交之有自云。</p>
<p>兩蒼氏曰：余不知醫，但嘗聞醫通於易。夫易之為義，自不易外，交易變易，動而不居。可見醫無執著處，既宜多哀前言，尤貴不拘成法，實其腹而虛其心，應以自然，而非出於必然，醫如是，亦庶幾矣。篇中所論，恰如我意所欲出，其殆有相視而笑，目逆於心者歟。</p>

<h2>古西醫</h2>
<p>滬有泰西醫士，設肆市藥，其治恆施刀針，不按脈，不立方。嘗見一鄉人病膈求治，醫授藥數粒，歸服之，覺腸胃燥裂，遍體如焚，頃吐二物，狀類螢，而大倍之，蠕蠕尚動。明日復診，詢得其故，曰：症不可療矣。腹中似此者無數，服藥則吐出者應死，內伏者亦死，今雖吐出，而物尚生，是非藥所能殺矣。鄉人涕泣求救，醫出一函，並銀餅四枚，令至某處，轉求某醫。鄉人持往，某閱書竟，徐出藥水少許，塗其兩乳下，及回前醫。即令仰臥於椅，椅有機鈕，手足如系。醫出利刀，割塗藥處，以指探覓，而無所得，復用藥封之。鄉人自言受刃時，心雖戰慄，恰不甚痛，然病仍未愈也。又一人，以目疾求治，醫匣出二蟲，形似蝗而小，置目食翳膜殆盡，而舊患頓失。然其法大都以霸力勝，內症固非所宜，即瘡瘍之屬，每見其在肉削肉，強壯者尚可，若施於衰弱之體，正恐為禍轉烈耳。</p>
<p>兩蒼氏曰：讀《素》、《靈》等書，知醫必窮陰陽之奧。至漢末華元化，以刀斧易藥石，究是醫家外乘。今已不傳其書，西醫殆得其一體，而術不甚驗，則猶似是而非歟。</p>

<h2>電氣治病</h2>
<p>有患暴絕及中風麻木，肢體不仁者，電能療之。法以電線按患處，若針灸然，或蓄電於筒，令患者身貼而手按之，即取效。蓋電能隨人筋絡，以運行骨節間，其功固甚速耳。</p>

<h2>聽肺木</h2>
<p>泰西醫士有聽肺木，長不過尺，遇患肺疾者，一頭依病者胸前，醫者枕其一端而聽之。隨聽隨移，審其呼吸，辨其部位，能知病之所在而施治云。</p>

<h2>戒菸良方</h2>
<p>鴉片煙為中國四千年來未有之毒，今竟於數萬裡外傳染及之，抑且日變月異，幾不知遷流所極，在受其害者，既難屈數，即言其害者，率多痛哭流涕，不能更贅一詞。然其間亦有創深痛鉅，悔之甚而仍不戒者，則以煙有癮而未易脫也。是欲戒菸，當先除癮，而欲除癮，必先覓方。今肆中所售戒菸藥，品目種種，服之似皆有效，而不知其仍用煙膏，故不服而癮如故。近於友人處得方，藥以易而價廉，功雖緩而無損。據云已救多人，如浙寧葉某，煙癮本大，如法制服，不半年而戒絕矣，其方惟用粗大粉甘草一味，不拘兩數，熬膏如煙。初以煙九分，入甘草膏一分，照常吸之。繼則煙遞減，而膏漸增。至膏有八九分，煙僅一二分，則癮自斷矣。所願有志之士，咸起而試之。如果有效，則是方也，不誠煙瘴世界中之特健藥哉！</p>
<p>兩蒼氏曰：余嘗集方十餘，出試諸人，初無不驗，而卒無一能脫。靜思其故，知凡人幹事，皆氣為之帥，但煙之為癮，恰非一日，而氣之所用，多在一時，再而衰，三而竭，及氣餒而癮猶未絕，則攻敗矣。昔人謂慷慨殉節易，從容赴義難，亦此意也。然則當如何？曰：法宜恆久，更忌因循。必絕之甚確，而持之又甚堅，然後選方服藥。如是而猶不驗，我不信矣。又嘗聞之友人曰：卉本棉花，初產西藏，元世祖謂可以被天下，因欲帶入中原。時有老僧止之曰：利與害常相因。是物雖甚利賴，然願陛下姑舍之，若必傳種入內，恐五百年後。復有一物踵此而進，為華人害，世祖不聽，棉遂盛傳，而其所謂為害者，由今思之，疑即鴉片。故或於花時擇棉之雄者，取根搗汁飲之，即可止癮，似乎物理相制，其間原有交關云云。據此則鴉片之害，或不盡由人事，倘得天去其疾，陡絕來源，則是癮也，豈待戒而始除哉。</p>

<h2>聖治丸方論</h2>
<p>夏令暑熱炎蒸，濕濁上騰，人在蒸淫熱迫中，設或正氣不足，最易感病。矧南方地卑氣薄，更多中痧吐瀉之症。推其致病之原，或過於貪涼，風寒外受；或困於行路，暑濕相干；或口腹不慎，為冷膩所滯；或飲食不節，使輸化失宜；或感時行疫癘之邪；或觸穢惡不正之氣，皆能致脾土不運，陰陽反戾，升降失司，卒然腹痛，上下奔迫，四肢厥冷吐瀉並作，津液頓亡，則宗筋失養，故足攣筋縮，先起兩腿，或見四肢，名曰霍堆亂轉筋。生死瞬息，年來此症大行，我邑地窄人稠，互相傳染，甚有一家數人而同時告斃者，深可畏也。茲故不揣鄙陋，爰擬一方，名曰聖治，入夏可預合備用。如遇疫癘時行，痧暑並觸，或感穢氣，或入病家，心懷疑慮，胸覺痞悶時，即以一丸入口，藉以解穢卻邪，勿亂其氣。方用正號仙居野術（烘燥勿令焦黑）二兩，真川厚朴二兩，白檀香（研細末）一兩，降真香（研細末）一兩，新會皮（鹽水炒）二兩，以上五味，再同研為極細末，以廣藿香六兩，煎濃湯泛丸，如大黃豆大，每服二三丸，細嚼和津嚥下。野術味甘能和脾，苦能燥濕，定中止嘔，扶正卻邪，開胃氣以除積飲，故用以為君；樸苦辛，能瀉實而化濕，平胃調中，消痰行水，兼治瀉痢嘔惡，陳皮為脾肺氣分之藥，能快膈導滯，宣通五臟，並可除寒散表，故用此二味為臣；檀香調脾利膈，正氣驅邪，降香能闢穢惡怪異之氣，故用為佐使；藿香稟清和芬芳之氣，為達脾肺之要藥，氣機通暢，則邪逆自定，故用為引。其曰聖治者，以聖人有治病治未病之旨，蓋思患預防，莫若服藥於未病之先，使輕者解散，而重者化輕，未必非卻病養生之一助云。</p>
<p>童菽原曰：是方出而修合者頗多，服之有驗，藥似平易，而其詳審氣味，精悉功能，足稱盡善，固非泛然者所能企及也。</p>
