<header data-type="book">
<h1>醫門補要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>趙濂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1883">公元1883年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521062">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自序一</h1>
<p>業醫者多矣，而醫書尤多，大都繁徵博引，專執一偏，尊信太深，誤人匪淺。又或臚列方症，論緒弗詳，用以治人，率皆不驗，比比者更未易屈指數。蓋書多而無補生人之用，即謂之無書焉可也。憶余自侍皇太后疾，辭都門，由海上歸故里，過京口，攬金焦之秀，獲晤竹泉趙君。談醫竟日，於《靈》、《素》、越人、長沙、《千金》、《外臺》，暨元明諸老作，靡不淹貫。信於斯道三折肱者，夙深欽佩。今君以所著《醫門補要》示，余受而讀之，如誦白香山詩，老嫗都能解說，而又擷經之腴，搜方之秘，其言甚簡，而其治甚驗，洵醫林之寶筏，壽世之奇珍也。爰屬付剞劂氏而僭弁數語於簡端云。</p>
<p><u>光緒二十三年秋八月上浣孟河文植馬培之拜手書序</u></p>

<h1>自序二</h1>
<p>立言有裨於世，足為千古可重而不廢者，必性命之學，經濟之文，所以歷久而彌彰也。然無益之說，雖長篇屢牘，焉得人人而重之至若可重者，欲其見諸實事，大則體國經野，澤被下民而靡窮，小則拯急恤災，徵諸日用而最切。蓋莫近乎醫，醫能去病，人不能無病，病不能不醫，以醫有起死回生之力也。醫豈易言乎哉？苟醫者胸無洞見，拘定舊規，不知變通，經治必然功少，是以醫貴乎精，學貴乎博，識貴乎卓，心貴乎虛，業貴乎專，言貴乎顯，法貴乎活，方貴乎純，治貴乎巧，效貴乎捷，知乎此，則醫之能事畢矣。抑知古今內症之書，已極浩瀚，果能潛心考究，加以臨症經歷，自可日進乎神明。非比外科必須傳授，另多手法奇方，或有專長之症，試之必奏其神。又往往秘其術而藏其方，不肯一白諸人。殆欲矜其獨得，以為射利與傳家之具也。余不憚數十年心瘁，搜求前賢之義蘊，並所歷各症之情形，更將師傳以後化出諸法，彙輯成帙，以災棗梨。愧無深文綺語，以供稱許，要使閱者，瞭然心目。一得之愚，未必於醫林無小補云爾。</p>

<h1>卷上</h1>

<h2>外症用刀針法</h2>
<p>針灸為醫門一科，須得名師傳授，遇病始能按穴刺灸，立起沉疴。奈其人罕觀，余曾得異傳，用銀絲長五寸，銼尖兩頭，每逢痞塊，癥瘕，腹痛，陰疽，風寒濕痹，周身串疼等症，非針不效。患者肉厚可刺寸許，肉薄者約刺四五分。次以紙疊折寸半厚，中錐一孔，套入針內，又以生薑厚片，亦中錐一孔，套加紙上，安艾絨灸之。雖經時久不覺疼痛，且易愈病。出針後按症貼膏藥，並進湯藥。</p>
<p>陽癰焮腫，有日漸覺抽痛，以右食指遍捺患上，有一點軟陷處，內膿已成。用右食指與大指，掐住披刀（響銅打的披刀）之口，向上輕輕斜刺患上，肉厚者刺深，肉薄者刺淺，捺盡膿水，插藥紙捻於孔內，貼以膏藥。倘癰勢延大，膿孔兜住難出，待數日後，皮肉穿薄，順其下流處，再開一口，泄淨膿毒，方易收功。果膿未熟，門開過早，有翻花腫凸之害。若肌肉太厚，刀不能透，以火針在燈火上燒紅，一烙孔口，插藥捻，外貼膏藥。背與腹用火針，要斜刺方不傷內膜害人，惟手足針可直入。凡頭面，及疔瘡，對口，搭背等症，俱不可用火針，閉毒助火生變。</p>
<p>陰疽多堅腫，驟難成膿，不易消退。惟烙以細火針，以回其陽。其針數多寡，量病形之大小，外敷溫散藥，過四日一換。如胸背生症，用針斜刺為要。驗膿熟之訣，以右食指，捺有軟處，須粗火針烙之。（陰疽附骨·披刀不能透。）孔內插藥捻，隨貼膏藥。倘膿兜塞，數日後，順下流處再烙，則膿易淨。若針處肉厚烙口不張，以骨針穿透其口，即插藥捻貼膏藥，過二三日，方能見膿。若患口內膿多壅塞難出，果然皮肉薄者，隨插拔膿管，釣動膿勢，自從管中湧出。管式另詳。背部與胸膺，刺艾針當以左食指與大指，捏起患處厚皮，然後量意針入二三分。因臟腑皆繫於背，而胸前為心之宮城，肌肉澆薄，恐有傷犯。惟腹肚內空，可刺寸許。其餘之處臨針時，均宜用大指掐緊穴道，讓過大筋再刺，遂不知疼，亦無所礙。</p>
<p>凡用刀針時，令患者口內先含桂元肉八枚，以接補元氣，方不暈脫。若老人幼孩，及病久虛體者，皆難忍痛，不可草率動手，猝有昏脫之變。</p>
<p>喉內舌下兩邊，生起累累疙瘩，吞吐不快，名曰甸氣。或舌根當中，生肉球如櫻桃，此為梅核，皆肝氣所致。用烙鐵，在燈火上燒紅，以左手執，捺舌，捺開口，右手持烙鐵，輕輕烙之，以烙平為度。內進逍遙散，外吹冰硼散，半月平復。</p>
<p>烙鐵，用鐵打成，烙頭如半粒小蠶豆大，烙柄以棉線繞緊，燒紅時，方不燙手。若以銅烙燒紅多熔化入喉，傷入性命，決不可用。</p>
<p>大火針陰疽放膿，所用先以筆桿竹長二寸為柄，次用粗鐵絲三寸，插入竹內，外餘一寸，銼尖竹杆兩頭，用細鐵絲塞牢，方不脫落。若發散陰疽，用細火針，但以細鐵絲，仿上做法，亦在燈火燒紅，看疽勢大小。（量意用針幾下。切不可用銅火，針見火，易熔化，誤人不淺。</p>
<p>艾針，用細銀絲寸許，或二寸長者，一頭銼尖，一頭繞銅絲作柄。每遇寒濕，侵入經絡肢體，走串痠痛，安艾炷灸之。</p>
<p>喉內諸症，不可輕漫用刀刺，恐日後易於復發。果腫處膿熟，必起軟小點，或生小白頭，方可用刀，刺出膿血，立時能見鬆快。</p>

<h2>火針不可輕用</h2>
<p>火針（又名燔針）為外症所必用，能決膿癰，消散陰疽，惟紅腫焮痛，火毒旺者。誤用，更腫痛深潰。頭面為諸陽總會，一用火針，引火閉邪，使輕病轉危矣。</p>

<h2>治筋縮法</h2>
<p>隱曲處，生癰疽，膿水日久潰多。夫膿為血液，與肌肉所化而成。血脈已枯，束骨之筋，失其滋養，故筋縮，不得屈伸。待完口時，外以青蔥新艾，煎湯，先熏後洗，內進十全大補湯。俾氣旺血充，筋得舒潤，再加時常以手揉抹患上或扯之左，或拽之右，或伸之前，或屈之後，不拘手足身體，如此行之無間，約月餘則骨節可活，氣血可通，筋脈可舒，自必復原歸舊。若肌肉爛深，大筋已斷，雖然肌生口斂，必有曲無直，或直不得曲，終成廢疾。</p>

<h2>治足筋縮法</h2>
<p>腿足生癰疽，膿水去多，筋無榮養，故易短縮。乘完口時，用二尺長酒杯粗竹子一段，帶於身旁，時常放地上，將患足蹋其上，推轉來去，活動筋脈，約月餘，即和活如舊矣。</p>

<h2>浮皮兜膿須剪開</h2>
<p>癰疽潰膿，日久內肉爛空，外皮浮軟，上下有孔流膿，中間薄皮，搭住如橋，使毒護塞，不能儘性摻藥，難以完功。用剪刀將浮皮剪開，自可任意上藥，易於收口。</p>

<h2>升藥所忌</h2>
<p>手背乃三陽經脈之部，生瘡忌用升藥，助火蝕肌，宜清火燥濕藥摻之。膝蓋下至足背生瘡，皆濕熱下注居多，尤忌用升藥，閉濕生火，須以利水清火藥外摻。</p>

<h2>背部濕痰塊</h2>
<p>背為陽部，又督脈循行之道，人身氣為陽，而血為陰。若陽衰而陰偏盛，脈絡因之不暢，每入飲食，所化精微，不歸正化，而變為痰，留滯經絡，走注於背，致漫腫隱痛，最難消散。體壯者，潰膿雖遲，猶可收功。體弱者，十中難保二三。</p>

<h2>痔漏</h2>
<p>大腸盡處為肛門，肺與大腸相表裡，氣主於肺。蓋勞碌忍飢，或負重遠行，及病後辛苦太早，皆傷元氣。氣傷則濕聚，濕聚則生熱，熱性上炎，濕邪下注，滲入大腸而成漏，時流膿水。由咳嗽延為漏者難治。體實者與其刀割掛線，不若內服消漏丸（方見後），久久自效。</p>

<h2>臁瘡</h2>
<p>兩脛內外廉骨，每有脾虛，濕盛化熱，蘊於血分，而成臁瘡。初發紅片，破流臭水，極其延綿難效。或有氣虛下陷，而患口難斂者。但壯實婦女患此，而瘡口常血出不止者，由天癸將臨，經血錯行，不循正軌，尤不易效，宜內投涼血清熱之劑。春夏時，陽氣升泄，治多費手。交秋冬後，人身肌膚固密，始易為力。外摻用黃靈丹、勝濕丹。方載《青囊集》。</p>

<h2>雞胸症</h2>
<p>腎主骨，肺主氣，先天屬腎，腎虛必盜肺氣，肺損不能下蔭，子母交戕，故病後失調。或咳久傷氣，使胸前忽生高骨，漸凸成患者。男婦容或有之，惟小兒稟質不足，得此者居多。初起外在骨尖處灸之（切忌針刺，）內服補肺養陰湯方見後。</p>

<h2>龜背症</h2>
<p>父母之體素虧，所生之嬰孩先天早為不足。若襁褓中失宜，或多病致傷，或早令強坐，則脆嫩筋骨，易於戕損，使背中脊骨痿突。初發如梅，漸高似李，甚則傴僂。亦有風水所召者，極其難效。每見男女，由腎虛腰痛而得者，惟久服益陰煎（方見後），保其天年，從未見有全愈者。</p>

<h2>虛人有病易昏憒</h2>
<p>虛人氣血，必是兩虧。若遇外感之邪，乘空橫擾，正氣不能抵禦，任邪鴟張，直犯胞絡，神智為之不明，語言錯亂，起臥無以自主，須於本症方中，略加扶正之品，（即黨參、玉竹之類。）始得載邪以出。不然正虛邪陷，未免奄奄之慮。胖人同法。</p>

<h2>病挾氣鬱宜審</h2>
<p>善怒多思之體，情志每不暢遂。怒則氣結於肝，思則氣並於脾，一染雜症，則氣之升降失度，必加嘔惡胸痞脅脹煩冤。在本病應用之藥，量意加入舒氣解鬱幾味，（如佩蘭、佛手、鬱金、沉香、木香、香附之類。）徒以見病治病，不求其本，焉能有效？</p>

<h2>治少壯婦女病要法</h2>
<p>女子以肝為先天，肝藏血。少壯時，經水適來適去，忽然生病，其邪必陷入血室。血屬陰，搏結邪氣莫出，身體必重，令人昏昏默默，不知所苦。延久不退，當於所用方內，加以嚮導之品，（如桃仁、胡索、歸尾之類。）破其血壘，搗其巢穴，不難迎刃而解。孕婦忌用，防其傷胎。老姬天癸已涸，可置勿論。</p>

<h2>治孕婦病法</h2>
<p>孕婦若有病，所懷腹內之胎，早具人性，故一人生殃，兩人有慮，一人服藥，兩人消受，醫藥之所繫也大矣哉！稍有不慎，一犯胎元，易使隕落，傷及二命。欲得兩可之道，在臨症時，應用方藥，常宜加安胎數味於內，（如當歸、白芍、枳殼、蘇梗。）有熱加黃芩，有寒加肉桂，胸悶加川樸、木香，腹脹加大腹皮，體虛加白朮，無不應手奏效。其餘參病酌用，自可保全母子兩安。</p>

<h2>時疫捷法（先看兩肩有紅點）</h2>
<p>天地間每有厲氣流行，觸人鼻竅。肺主鼻，由肺傳胃，先犯上焦氣分，起初惡寒，隨後發熱，舌苔白滑，渴不欲飲，獨右寸關脈洪數，邪熱上熏則嘔，熱勢下注則瀉。蓋肺司皮毛，脾主肌肉，熱邪漸次傳裡，蘊而日熾，爍營耗液，逼邪達表，皮膚現出如蚊齧紅細點為疹，隱於肌肉紅點為斑，赤亮者吉，紫黑者凶。常發於春夏秋三時，冬令間或有之。初宜用豆豉、荊芥、桑葉、殭蠶、西河柳、鬱金、桔梗、蟬蛻、升麻之類，升透其邪。兩三帖後，當清其營，以柴胡、連翹、紫草、地骨皮、丹皮、象貝、山梔、赤芍。兩三帖後，倘壯熱大渴喜飲，舌苔燥裂，急救其陰，投犀角地黃湯、白虎湯，或荸薺汁、甘蔗汁、枇杷果梨汁。如是渴未能解，乃少少飲以冷水，入腹後不作嘔，任其飲足，隨出汗而解，亦有邪隨汗出，惡寒戰慄而解者。退病早者一候外（七日來復之謂也），有延至二候三候始退者，不可不知。</p>

<h2>產後治法大略</h2>
<p>產後百脈皆空，不宜發表。並大寒大熱之劑，傷敗氣血，再虛其虛。雖有他症，皆以調血為主。若惡露未盡腹痛者，以當歸炭、五靈脂、桃仁、泥炮姜，血虛暈脫者，以當歸炭、白芍炭、杞子、川斷、阿膠珠、淡蓯蓉、丹參、香附、太子參、茺蔚子。有風者，加荊芥炭、桔梗、川芎。有寒者，加肉桂。發熱口渴舌燥者，加黃芩、麥冬、丹皮。不思食者，加石斛、穀芽、炒苡仁。凡有雜症臨時斟酌，參以婦科書諸法，始無差誤矣。</p>

<h2>溫病舌驗</h2>
<p>溫邪方發，兩三日舌便燥裂而縮，言語呢喃，神識半明半昧，飲不解渴，或渴不欲飲，即投育陰清熱之藥，病勢全然不退。此腎氣將絕，水枯無以上潮，心陽散越不斂，難過一候之期。</p>
<p>溫邪一見舌燥，大渴引飲，皆知進清熱養陰法。煩渴雖暫解，移時仍渴，舌雖回潤，隨復燥裂，止壯熱不見汗出，脈象躁疾不靜。此生化之源已竭，不能引邪外出，百無一生。</p>
<p>溫病初起，舌苔白滑如粉，至六七日，雖煩躁神昏，渴不思飲，而舌苔不見乾燥，此邪直犯心胞，不幹陽明之腑，十中難救一二，惟以參麥散（方見後），以希萬一。</p>
<p>初病，舌遂黃白相兼而滑，或止黃而不燥，或邊白中黃，或中白邊黃，皆不乾裂。此乃脾濕與穢濁上蒙胞絡，其人多時明時昏，渴不多飲，多凶少吉。</p>
<p>溫邪至五六日，舌苔見灰白而潤，或灰黑夾黃而不燥，神志模糊。此腎氣敗絕，上凌心君，水極似火之象。非津液枯耗，無以上濡。若用苦寒濟陰，是促其危，勉與炙甘草湯（方見後），聊盡人事而已。</p>
<p>病至數日，舌苔乍黃乍灰黑，為值邪盛之時，舌又忽轉白潤，乃值邪退之頃，一日迭變。此由正氣本虛，邪來與之交戰，故舌亦現幻象。人事皆沉不醒，雖煩不渴，姑以輔正清邪一法，以俟天命何如？</p>
<p>有種時邪並病，久之，人神氣清爽，尚能起動，口又不作渴，舌苔忽現嫩黃光潤色。此胃氣欲絕，以胃屬中央，黃乃土之正色，中氣外泄，真色不能內藏，不出四五日當死。</p>

<h2>診婦人宜先問</h2>
<p>凡診有夫之婦病脈，先詢其經水何時宜行，何時而止。若逐月應期者，不關經水與妊娠之事。倘經已停兩三月，非天癸有故，即恐懷孕之兆。用藥中須加和營順胎之味，始不與理相悖。忌大熱破血（桃仁、附子）之類，傷胎損命。</p>

<h2>病退緩進飲食</h2>
<p>病將退去，胸中多嘈雜難安，乃胃經浮火沖激，欲得食物來填始快。但病中消耗臟腑脂膏，腸胃必為枯細，務忍餓一日周十二時，待胃氣漸回。若遽與之食，恐脾土虛，不克磨化，則無形餘邪，必藉有形穀氣為依附，遂搏結不散，而微焰又能復熾。壯熱神昏，治實難於初病，每致深陷不救，仲景謂之食復症，主以枳殼梔子湯（方見後），再加消滯清熱藥。俟四五日方漸退，亦有延遷不起者。凡既餓一日，先須進米飲二三日，再食稀粥可也。</p>

<h2>楊梅瘡發源</h2>
<p>天地之道，陽施陰受，男女起興，皆憑相火而發。凡一婦女交合男子過多，其所受精氣邪火蘊釀為毒，伏於衝任二脈。腎開竅於二陰，肝主疏泄，相火內寄於肝，人身氣血流貫百骸。若交媾時，便攝一身之血至命門，化精而出，所以骨節舒張，心神坦蕩，元氣從茲暗耗，嗜欲則精竭，精竭則氣餒，氣餒則神衰，往往成癆成痿。在婦人是肝腎久受之毒，倘男子與此等婦女歡接，則邪毒必乘泄精後，氣血虛時而內襲，此為欲染者。先從下部生小紅疙瘩，或大如梅，或隨腐臭，或筋骨痠痛，或小便淋澀，周身皆能患生，一時難效，久服仙遺糧散可愈（方見後），若聞生梅毒者氣味，或食穢物而發者，此為氣化易治。</p>

<h2>濕溫辨</h2>
<p>每年交夏至後，天上之暑熱流動，地中之濕氣蒸騰，人處天地間，適受交迫之鬱氣，先侵肺胃，初病頭覺裹痛，身困重而板疼，惡寒，午後微熱，胸悶不作渴，舌苔白滑，面色淡黃，脈濡而弦，甚則昏沉懶語。蓋濕邪損人陽氣，肺賴胃土以生，氣主於肺，胃母肺子，肺傷則氣難化，子病傳母，胃損則津不布，故神倦煩冤，以三白湯（方見後），開通肺氣，則濕自化也。醫者每難捉摸為何病？若認暑熱，使其輾轉沉綿有日矣。</p>

<h2>老人病治法</h2>
<p>人至年老，未有氣血不虧者。一染外感，則邪熱蒸迫，使陽益衰而陰益涸，舌苔雖潤，則臟腑已燔炙難支。初宜用輕揚之品以疏表，如桔梗、杏仁、鬱金、牛子、荊芥、桑葉、葛根、豆豉。過虛者，量意稍加黨參。若猛浪投（麻黃、白芷、羌活、防風、桂枝、細辛、獨活辛竄燥烈藥，再伐其生氣，縱表邪一時暫退，有旋變煩亂喘促暈脫者，司命者可不慎歟？）</p>

<h2>診外感起初法</h2>
<p>凡有外感諸症，入手總宜宣達肌表之藥，使邪有路而出。若不詳審，便與苦寒湯劑，則經絡日阻，邪氣愈為局錮，無由外透，病之輕者轉重，重者轉危。但寒涼藥，用於邪已化熱，舌現乾裂，渴欲涼飲，脈象洪數，斯時為救液靈丹，猶旱魃之遇甘霖也。至有喜以熱藥當先者，每遇病者，不究其何因，輒以熟識幾味暖性填寫紙上，其人果是寒邪，原合病勢，出乎偶爾幸中，不足為功。若療溫症，何異抱薪救火？更劫其陰，旋變狂躁喘急之患。若極虛人生病不受重劑克伐，須於疏散方中微加黨參，輔助正氣，托邪易出，不可拘執初病無補法。試觀貧乏之輩，非濟以資財，烏能支持家道乎？若夾食滯之病，非添消導藥不效。總之首貴辨症，辨症既明，投方無誤。辨症不明，舉手便錯，誤人匪輕矣。</p>

<h2>耳痔</h2>
<p>腎與三焦濕火上騰，使耳中氣脈阻閉，或先干癢有日，繼而焮疼異常，初生小紅肉，逐漸塞滿竅內，甚至拖出耳外，時流臭血水，名曰耳痔。正如濕地熱蒸而生菌也。宜針刺出汙血水，搽硇砂散（方見後），內服龍膽瀉肝湯（方見後）。</p>

<h2>鼻痔</h2>
<p>鼻為肺竅，天氣通於肺經，以膽移熱於腦，則辛額鼻淵。乃外由風寒侵入腦戶，蘊久化熱生痔，不聞香臭，甚而外掛。先以針刺破，隨將棉花蘸硇砂散塞鼻中。五日一次，漸化為水而消。此如爐火上炎，而成煤也。內服羚羊角散（方見後），防面赤腫起火走串。若鼻流清涕為腦寒，治宜溫散，但生半鼻者可治，倘由鼻淵而成者，難消盡矣。</p>

<h2>虛火鼻衄</h2>
<p>虧弱之體，太歷辛苦，或病後未曾復元，氣血不充，肺主氣，脾統血，肺虛氣不外護，脾虛血失中守。若陰絡一傷，逼血上溢，清道而出，以補肺益脾飲（方見後），二帖自已。</p>

<h2>蝦蟆瘟</h2>
<p>時行厲氣，遏於膽胃二經，致耳下浮腫不堅，或由左串右，或由右串左，外宜貼清涼膏藥，內進普濟消毒飲（方見後）。若化熱成膿，按癰疽治法。倘誤用火針必赤腫可畏。若耳根痰腫，至數日後多堅大，不能左右相串。</p>

<h2>痹症</h2>
<p>痹者，閉也。風寒濕外受，則經絡閉塞，四末失其滋養，手足麻木緩縱，周身痠痛。有因勞傷筋骨而成者，有因坐臥濕地者，有因浸入涼水者，有因衝犯雨雪者，皆宜針灸多次，內常服祛風濕活血脈藥酒，痛處常貼膏藥。遷連之病，亦有治之不應成廢疾者。痹脈沉緩或澀，先宜辨明。</p>

<h2>似痹非痹</h2>
<p>營分不足，無以榮筋，筋急作痛者，有肌表不密，外風內乘，久郁化熱，耗營燥絡，使筋脈枯澀，周身軟弱，串疼無休者，脈數而弦，以養陰潤燥湯（方見後）。緩治自效。</p>

<h2>陰斑陽斑宜辨</h2>
<p>陰寒內伏，逼其浮火外散，舌潤脈沉遲而虛，發斑如蚊咬痕，當服理中湯（方見後）。若夫時邪所發為陽，初時寒熱，或脈靜身涼，或又嘔惡煩亂，渴不喜飲，頭疼有汗，是邪陷胃腑，而逼營分熱蒸液耗而然（治法見前）。設早誤苦寒藥，使營氣冰凝，則斑內隱，神昏譫語，恐無救法。</p>

<h2>寒濕腫腿</h2>
<p>奔走熱足驟入冷水浸洗，或在水中勞作。凡人動則毛孔開，寒濕之氣內襲，致脈絡阻滯，氣機為之不運，難以蒸變，陰液為血所聚。隧道者，皆水，肌肉呆板腫亮，日大不得汗泄。初時艾針刺灸，佐進藥酒，或可退細，延久成患足。</p>

<h2>解顱</h2>
<p>先天不足之嬰孩，若吮乳汁，不為肌膚，則精氣無以上充髓海，肢體消瘦，惟頭顱日見胖大亮白，令人可駭，有發此症未日久而殤者，亦有延數年者，治之徒費手無功。昔見鹽商之子，用真人參研末，做棉帽冬夏久戴，長成者，只可廣人之見聞，天下能有幾鉅富者，其力皆可購參乎？況真者覓於何處乎？他孩用之，果能皆效乎？</p>

<h2>瘰癧</h2>
<p>瘰為小者，癧為大者。症原與治法，前賢論之極詳，究難遍試。大都多由肝經忿鬱，胃腑痰瘀，經絡不暢，則痰隨氣上升至頸。蓋氣也痰也，皆能蘊而為熱也。氣遇痰則凝，痰有熱則腫，結久不散乃成。推之動者，烙以火針。及已潰爛者，俱常貼五苔頭草膏，（方見《青囊集》，一膏貼十日。）內服清肝化痰丸（方見後），非治數月不痊。推之不動，並串至胸脅者難治。有食鼠食剩物，與虛體勞傷而生者。</p>

<h2>拔膿管式說</h2>
<p>其管以薄銅卷如象筋粗式，長二寸余，要中空似細竹，緊焊，其縫一頭銼平，一頭銼斜尖式，用時要尖頭插患孔內，少頃則膿自管中射出如箭。</p>

<h2>鵝口瘡</h2>
<p>脾胃鬱熱上蒸，口舌白腐，疊如雪片，在小兒名鵝口瘡。先以牛桔湯（方見後），升發其火。若苦寒藥用早，則冰伏火勢。有喉爛氣喘聲嗄之危。</p>

<h2>虛火牙疳</h2>
<p>病後陰陽兩虛，中焦浮火上炎，致牙根腐臭，當六味加肉桂湯（方見後），引火下降，非比實火，可用苦寒，以制其勢。</p>

<h2>痞塊治分虛實</h2>
<p>腹脅內之痞塊，初生如梅，漸大如杯，堅脹作痛，乃病後脾虛，一食雞肉葷腥麵食糯米，不能磨化，停於臟腑之外，軀殼之內，加以血脈日裹，膠錮難散。體壯者可針灸數次，投消堅散（方見後），緩緩消去。如虛體食少者，誤針必轉中滿不治。</p>

<h2>腿脛濕熱</h2>
<p>大凡膝蓋以下，乃濕聚之地，濕盛生熱，熱結腐肌癢痛交作，血水雜流治不易效，直如卑窪之處，日照難乾，以推行散（方見後），清血熱利濕邪。</p>

<h2>發物忌食</h2>
<p>一切發物為外症，尤當戒。誤犯者，隨加焮腫潰痛，斂者復爛。醫者須囑咐病家宜先。若小兒痘後犯之，肢體骨節，隱痛漫腫，卻如注痰，延綿難效，有發症隨死者，有成殘疾者，即如牛羊肉、魚、蟹、蝦、蚌、雞、鴨、海味、豬首、王瓜、芥菜、芹菜、茄子、番瓜，扁豆，甜菜、菠菜、芋頭、芫萎、菌子、香蕈、金針、赤豆、竹筍、豆腐、麵食、豆粉、麵筋、鴨蛋、烏豇豆各味。</p>

<h2>病後口瘡</h2>
<p>小兒病久，肺胃大虛，無根之火上浮，滿口生瘡爛腐，面黃身腫，或腫如饅口。流涎者可治，無涎者難治。（以六味湯加肉桂，方見後。）</p>

<h2>婦人腹痛宜辨</h2>
<p>婦女有滿腹串痛者，有痛在一處不移者。有寒留胃脘作痛者，宜溫散中焦。有蟲擾腹痛者，宜安其蛔。有肝氣閉塞痛者，宜平肝和胃。有氣裹水，腹中漉漉，有聲而痛者，宜導吐痰涎，或行針灸。有血瘀氣滯，腹內生癖痛者，宜理氣逐瘀，加以針灸數次。有胃汁枯槁痛者，宜甘潤胃陰。有中氣虛損，不運而痛者，宜補中氣。有臟氣欲絕，痛無止時，服藥不應者，不治。</p>

<h2>注痰塊</h2>
<p>寒濕與痰液，阻滯經絡，隨處可注為痰塊。先在腫硬處，宜細火針烙之，宣通其氣即消去者。有消此處而串彼處者，有針孔略流清水仍腫者，內進陽和湯（方見後）。若患上焮紅，此由濕火所聚，外宜敷清涼藥，內以清利法，不可行火針。此症輕者一二月，重者半載一年，有潰後難斂成廢疾者。有此症，並搭背，因腫痛傷胃，致氣血虛，不能鼓動肌肉，托毒外出，忽軟陷不痛，亦少膿血，當溫補扶助正氣。服藥後不高起化膿，與不生肌者難治。有誤進苦寒敗胃陽而成者，急宜溫中醒胃。</p>
<p>有一日發注痰十數塊，或發二十餘塊，（亦有數日內發二十多處。）若是者，乃氣虛不能運血流貫經絡，故隨注隨腫。甚至不知疼。如針刺及投藥不應者不治。</p>
<p>有因注痰，服瀉痰物致虛者，宜服溫脾湯（方見後）。有壯實之體生痰塊，初以芫花末三錢，整大棗三枚去核，為丸，服下瀉稀痰而消者。有此症，潰膿日久，脾胃已敗，極難收功。今定藥粉方（方見後），補中開胃，則內肉漸生而斂，徐徐而效。</p>
<p>有小兒頸項生注痰若串，至喉立死，若一日渾身發一二十塊者不治。</p>
<p>有小兒身有隱痛，未能自言，其故延至月久，忽見膿潰，終難完口，惟久服八仙粉（方見後）可效。倘入冷水，則三陰經即受濕氣，一犯房欲，則腎精耗而肌肉腫，在舊患上即作痛，潰膿水，雖治寡效，每因此成勞而死者。</p>
<p>有虛體欲後易受風寒，壅於隧道，初知隱痛，漸腫成注痰，治難速效。</p>

<h2>似注痰非注痰</h2>
<p>體虛者，若過於勞苦，傷損氣脈，則經絡因之不和，周身每有浮腫不痛，不可針刺，更傷血脈，內進調補藥，外敷溫和之品，緩治方得成功。</p>

<h2>大麻風認法</h2>
<p>麻風，初起處必麻木不仁，毛孔閉而無汗，有紅暈碎塊，稍腫如雲片者，有皮白生屑如癬者，有用針刺出黑血者。</p>

<h2>大麻風針法</h2>
<p>先在好肉與病肉分界處，用墨筆畫一隔界圈，凡患處，或分圈，或合圈，皆圈定。次在圈中，次第點成黑點，每點相離些許，後以九個二號針，各眼穿線，卷圓，外包布條紮緊，須露針尖在外，每黑點刺三十六下。隔界圈，亦刺三十六下。即用麝香、冰片、牛黃（各數分研末）入薑汁、米醋內和勻，磨墨塗刺，過黑點上，再在黑界圈上，刺三遍，亦隨塗藥水一次。未愈仍照前法刺圈內。未刺之處，若足痹腫，須砭去汙水盡而止。若已破皮淌血水者，不治。既刺忌鹽醬一百二十日，方不復發。</p>

<h2>久旱疫</h2>
<p>久旱不雨，則亢厲之氣，流行天地間，在夏月尤甚。河井之水，亦被燥熱。蒸耗人處，斯際內受水泉之毒，外迫炎熯之邪，易生時疫，互相傳染。更有勞傷之輩，元氣早虛，加以飢餓，剝其臟腑，境況擾其情懷，其陰分未有不先虧者？初病疏散方中，稍加潤藥，以卻亢勢。繼以甘寒，大養陰液。若莽投溫散，劫陰致變，舌乾口渴，譫語神昏，狂躁不安，恐為不救。抑知熱邪，先干肺胃，肺金忌燥，胃土喜潤，病由陽邪，治以陰潤，陽原足以傷陰，陰亦可以制陽，陽衰則熱去，熱去則陰生，於是亢陽，得與柔陰，相為濟美，則太和之氣，鼓舞身中，而病倏然遠退矣。</p>

<h2>久雨疫</h2>
<p>雨降連綿，久鮮日照，則陰霾之邪，迷漫宇宙，地中濕氣上騰，人身之陽易伏，而陰獨盛。凡見邪熱化斑病，始終總宜輕散。雖延有日，壯熱煩悶，舌不燥，口不渴，似化熱未傷陰，乃陰滯於內，而格陽於外，故熱止發於皮膚，不曾傷及胃腑，惟有透陽以和陰，不當助陰以困陽。若與涼劑，即神昏亂語，煩躁不休矣。且雨澤多，淫濕生寒，每傷脾土，則中氣不運，常見瘧痢痹痛霍亂等症，用藥喜溫忌涼。</p>

<h2>喉痧論</h2>
<p>喉繫於肺，肺開竅於鼻，則鼻外通天氣，一觸非時厲氣，由肺傳胃，先見鼻塞，咳嗽，惡寒，發熱，遂喉腫痛腐，其病似喉風。傳染他人，甚則耳下漫腫，或腫串左右，牙關緊脹，痰壅氣急，或身發紅斑，（腫處宜貼清散膏藥。）治法見《青囊集》。下手誤進苦寒藥，冰伏風熱，隨轉沿爛，聲啞嗆咳。（大人費手，小兒不救。）</p>

<h2>療瘡食葷味散黃</h2>
<p>疔症初起，一疙瘩如粟米，覺麻木癢痛，誤食葷腥，即助火生痰，閉毒不出，愈加腫硬，作疼，是為走黃。有毒走串他處，發如注痰者。（誤刺火針成不治。）輕者可治，毒重者不救。俟至十日外，膿熟痛減，無妨。並搭背，對口，一切火毒，致病皆忌葷腥。</p>

<h2>伏毒梅瘡</h2>
<p>有男女染毒，知欲發瘡，畏恥不言，只求速效。每有用輕粉一錢，或升藥一錢，加大棗肉數枚，為丸，分數次，令病人服下者。則患者口舌破腐，咽喉腫痛，難進湯水，時吐唾涎，十數日，喉口方松，毒收入骨，如油和麵。瘡雖暫愈，後或數月，或隔幾年，毒又外透。隨處生核，或小，或大，皮色如常，隱痛漸破，黑爛極臭，豎頭壞肉深嵌，在上部，用升藥、生石膏、黃連、大黃，研細末摻之，貼膏藥漸愈。如落膝蓋下，暫痊，必屢發。多服敗毒方。可知輕粉、升藥，皆水銀煉成，性烈助火，入胃灼陰殆盡。醫者臨此症，詢其生梅毒否，服截毒丸否？方有把握。至此遂遺毒於後嗣。苦邪淫濕火，不由下泄，每炎炎上爍肺系，喉中腫痛，並無寒熱，可進飲食。（倘喉風發寒熱，難進飲食。）爛形似蜂窠，或有臭味，或腫爛及帝丁，甚而爛脫，漸串至鼻，或有鼻爛脫，盡串至唇口，面目爛者。或有毒攻腦戶，爛延頭額，此名開天窗者，或有滿舌臭爛，如蜂窠，此名舌疳者。或止鼻孔腫痛，生小紅瘡，此為鼻疳者。或先由鼻串爛，唇口漸爛通喉者。或止喉爛，為喉疳者。吹以青霜散，加升藥擂勻，方見《青囊集》。外摻遇仙丹，見《青囊集》。外貼膏藥，常服仙遺糧散，以降其毒（方見後）。或止由上唇，外邊先爛腐後，便豁嘴串鼻者，不治。</p>

<h2>梅毒乳癰</h2>
<p>婦女梅毒，犯於陽明，致乳房爛深似陷，全不腫痛，時流臭清水，乳汁常通，以此可辨。</p>

<h2>梅毒臁瘡</h2>
<p>梅毒下注三陰，腿脛爛黑或紫暗色，時淌臭水，中有豎頭肉，凸凹如嵌珍珠形，大小不定，名落底結毒，極難全效。</p>

<h2>野楊梅</h2>
<p>兵興日久之處，必有惡厲氣橫亙其間，兼有馬溺流入河井，虛體及勞傷人，易受其毒。入於肺胃，淫於肌肉，達於皮膚。先發小紅疙瘩，漸如梅李，臭爛翻花，內有豎頭肉，為野楊梅者。不由精氣傳染而來，治法同梅瘡。易效。</p>

<h2>下疳</h2>
<p>玉莖有爛至逐段脫去平根者，外搽珠黃散，內服敗毒方，漸可收功。若腫硬臭爛，治之不應者，難廖。若腫似豬肝色者，不治。</p>

<h2>霍亂時邪宜辨</h2>
<p>霍亂，頭額與周身全不發熱，只有頭眩煩悶，上吐下瀉者。若不吐瀉，惟腹痛甚，為攪腸痧。果時感頭面身腹總髮熱，醫者須用右手按摸病人頭與胸腹方知。若婦女，令彼自家內眷按摸可也。</p>

<h2>用降藥條宜審</h2>
<p>癰疽潰膿日久，患口時淌稀膿，或流清水，終難完口。或完口未久又發，必膿毒瘀結成管。用降藥條插患口中，貼膏藥，過七日管自出，再上收口藥可愈。夫降藥用水銀降成，其性與砒霜相等，猛烈爛痛，不可輕用。少壯者，可少用。若幼孩老人及虛體者，用之生變。但痛甚，則浮火上攻，口舌與牙根糜爛者，用生麥益陰煎（方見後）。凡口中、眼邊、耳中、鼻內，並心窩、腰眼、玉莖、紅筋聚處，血瘤、氣瘤，總不可用，關人性命。從來只知其利，未知其害。今有一變險為平法，用降藥三分，生石膏七分，糯米飯汁搗和作條，亦能追拔惡腐收口，內宜投調養方。若外症潰膿旬余，用白降條，極易全功。</p>

<h2>不可用三品一條槍害人</h2>
<p>三品一條槍者，用砒霜經火鍛鍊，加糯米飯汁和成細條。其性悍烈熱極，誤用則爛肉斷筋，腫痛難忍。每有爛通經脈，血出不止害人者。獨《外科正宗》載此方，可速刪去，幸諸醫籍未選入耳。</p>

<h2>㿹皮瘡</h2>
<p>起初皮膚紅亮焮痛，隨見細黃水泡，沿散渾身，名㿹皮瘡。誤用水洗即串爛不救。惟用黃柏、大黃、生石膏、青黛、芙蓉葉，研末，白蜜、米醋和敷，過二日一換，遂愈。</p>

<h2>治外吹乳法</h2>
<p>乳孩，隨母身邊，夜臥鼻孔之氣，易使吹入乳房，則乳內竅孔壅閉，乳汁不通，腫硬作痛。一乳形有七瓤，後多串腫，潰膿延綿。凡乳有病，其汁多苦，孩不肯吮，須倩大人吮五六日，乳汁一通，方可收口。</p>

<h2>冬溫辨</h2>
<p>冬令本寒，而反溫和，則陽氣不藏，使人腠理疏縱，易傳為病。有汗不惡風，乍發熱，乍不發熱，咳則引胸隱痛。有一候即解者，有二三候方解者，治法同時疫。</p>

<h2>夏日傷風辨</h2>
<p>初起惡風，發寒發熱，頭痛有汗，欲衣被覆。蓋身體困束，不渴，嘔惡，煩悶，脈浮洪，不似暑症。壯熱口渴汗多，只可輕涼方，即桔梗、白菊、葛根、枇杷葉、薄荷、杏仁，以逐其風，不可過涼過暖之，弊致變。</p>

<h2>先審病人稟性用藥</h2>
<p>人體質有虛實之分，稟性有寒熱之異。屬寒體者，病時宜用涼藥中微加溫和之品以監之。若太苦寒敗胃，有致吐瀉胃寒腹痛之患。屬熱體者，病時宜用熱藥者，惟溫平品以緩治，若太燥烈，恐激起本原之火，致煩渴狂暴失血之患。屬實體者，或因病變虛，宜用補帖些少與之。若太呆補，致不食腹脹中滿逆氣之患。屬虛體者，病時宜克伐，尤宜性緩品。若太峻厲，致虛脫多汗，肢冷，懶言煩躁，欲入水之患。</p>

<h2>痧痘後與病後宜戒口味</h2>
<p>痧痘後與病後，氣血皆虛，則肌膚薄嫩。若犯一切動風，鮮味，發物葷腥，助火生風，或轉走馬牙疳，或風疹，癢瘡，或外癰，遺毒。每有愈後，值其痧痘所發，節氣復發。凡乳孩，須乳母戒口為要。</p>

<h2>小兒疊發風疹</h2>
<p>小兒乃脆嫩弱質，淫風厲氣，每能侵犯而發風疹。壯熱，咳嗽，鼻塞，作嘔，眼如含淚，煩躁易啼，身現似針尖紅點，此名風疹，非痧也。治法同痧。有一月發兩次者，有連接發三四次者。病孩與乳母，皆宜戒發物。</p>

<h2>爛皮野痘</h2>
<p>夏秋間，濕熱蒸爍，浸淫人之肌表，發膿窠瘡。皮薄起殼，頂空漿清，形似痘粒，易破流水。但水淋處，爛如剝鱔，一用水洗，則串爛難圖。他人黏近其瘡，亦焮腫爛皮，治同㿹皮瘡。</p>

<h2>虛火牙衄</h2>
<p>病後中虛，使脾不統血，無根之火，逼血上湧牙縫而出，脈虛弦，用六味湯加肉桂三分，（方見後。因口不臭為別。）引火下降。誤與苦寒制火，反大涌出不治。若胃經實火口臭，脈數有力，宜投犀角地黃湯。</p>

<h2>毒藥不可入口腹</h2>
<p>凡單方、毒藥，非常用之品，誤入腹不救。即如斑蝥、番木鱉、砒霜、煅雄黃、馬蝗、水銀、硇砂、河豚、巴豆、輕粉、莽草、鴉片，此類尚多。</p>

<h2>審病用藥不拘日期</h2>
<p>有種外感，初被涼藥冰伏，邪氣不出，使人煩悶，嘔吐胸痞，多汗壯熱，渴喜熱飲，舌面雖黃，舌底潮潤，小便黃赤，皆邪內擾而然，不問一候外，或已二三候，仍宜用輕揚品升托其邪，如桔梗，葛根、升麻、桑葉、蘇梗、香附，一二帖自愈。</p>

<h2>煉白降丹法</h2>
<p>水銀、明礬、食鹽、皂礬、火硝，各一兩研末，用大銷銀罐，在火爐上，慢慢少許挑藥入罐內，攪不停手，漸漸結堅，直至藥硬，面起黃色，此為結胎。火候已到，其法極難看老嫩得宜，在此一刻間，（如過嫩過老，覆罐煉時皆落下，無用。）速𫼘離火爐，次用比銀罐稍大小瓦盆一個，將罐口，對覆盆內，再以皮紙浸鹽水封罐口四面，然後以砂灰護圍罐半截，隨安放平地。即在盆周圍，以板磚圍與盆平，遂用火炭放罐底，逐漸放周圍，先文火，後武火，煉至三炷線香時，待冷，開罐刮下盆底藥片，用清水漂淨，曬乾研末。要冷天煮糯米飯，搗熔和藥，做條粗如線香，長一二寸聽用。煉時須靜室，忌人出入。</p>

<h2>看外症內陷法</h2>
<p>癰疽至氣血兩敗，不能托毒外泄，化腐生肌，則毒內陷。患處肉爛如棉軟，低凹流汙水，不與四面之肉相黏。或紫黑如炭，全無活色。或爛肉棉軟難脫，或腐脫淨，不生鮮紅，如石榴子肉。或爛如深洞，只流血水，臭味如屍。或膿如豆腐腦，傾入水中有油花泛泛，或紫如豬肝色。皆正氣內敗，惟補托一法，以盡人力。</p>

<h2>結喉疽</h2>
<p>結喉骨生疽，極難潰膿，或腫硬不通氣，不進湯水者危，或潰後不得斂口成漏者。</p>

<h2>瘌痢頭</h2>
<p>皮虛血熱，風濕內蘊，上攻於頭。風盛則癢，濕熱重則靨厚屑多，有傳染而成者，須戒發物，時用湯洗。每早用麻油搽患上，每晚以生薑片擦之，（麻油潤皮膚，生薑開毛孔。）務一二月勿間斷，無不愈。</p>

<h2>病中大便下黑血</h2>
<p>病中肝脾兩敗，肝不藏血，脾不統血，正氣下陷，故下黑血，或下大黑血塊，為壞血，皆不治。</p>

<h2>戲藥</h2>
<p>（是病久胃虛，易生變幻，雖醫藥頻更，始則中焦猶暫受，繼則氣力莫能當，無非盡其人事耳）</p>
<p>有病日久，初服此醫之方一二帖頗效，再服則不效。又延彼醫，不問藥對症與不對症，初服一二帖亦效，再服又不效。及屢更數十醫皆如此，為戲藥，終不治。</p>

<h2>經絡滯痛似痹</h2>
<p>凡肌枯肉瘦，則氣不能行血，血不能輔氣，經絡阻礙，周身痠痛，串走似痹，或漫腫如注痰，針之無膿血，消之不退，飲食日減，精神日敗，多見不治。</p>

<h2>針後勞動病轉重</h2>
<p>內外諸症，經針灸後，即勞動傷筋脈。若外症則僵腫不消，毒氣四散，又難化膿。外敷散藥，內進和營活絡方，非一兩月不得愈。</p>

<h2>骨槽癰</h2>
<p>風熱上壅陽明，致耳下漫腫，牙關脹痛，為骨槽癰。以針刺牙根盡處，出血即松。內服清散方。若牙關緊閉，滴水不入，名骨槽風。若牙痛見牙根，腫凸一點，即是牙疔。</p>

<h2>疥瘡結毒成臁</h2>
<p>疥瘡濕毒下注，腿脛外結黃靨，內淌脂水，照濕熱臁治法。</p>

<h2>破皮瘡</h2>
<p>病久脾虛，濕邪浸淫肌肉周身，皆可破皮流水，色黑形陷，不肯生肌，是土氣已敗，遷綿難愈。</p>

<h2>辛香氣味宜避</h2>
<p>辛香氣味，性最溫竄，透入鼻竅，內達臟腑，元氣暗被銷耗，令人不覺，每見成癆。凡佩香袋香珠，及焚闢穢諸香，皆宜棄去。惟阿魏能制香氣。因此致虛者，多服補劑為佳。</p>

<h2>治疤孔法</h2>
<p>（先用針刺破其處）</p>
<p>蓋人面部疤孔，乃為破相。流年值此部位，蹭蹬，用陳降丹、生石膏，乳細摻疤孔內，須薄貼膏藥，過七日，疤孔肉果俱腐起。太深者，只薄摻生肌散一次，貼膏藥後，多貼無藥膏藥。疤孔淺者，不可上藥，只貼膏藥。倘疤孔內未腐，仍薄摻降藥，貼膏藥。待疤肉見腐，要貼膏藥四十日，自長平復。或先貼膏藥五日，使疤肉回嫩易腐。千古妙方。</p>

<h2>鐵針入肉</h2>
<p>鐵戳入肉不見，取癩蝦蟆眼珠四個，搗敷戳口，三日針現頭，可鉗出。（冷天在河內取蝦蟆。）或戳口上降丹貼膏藥，過一月針自原口吐出，或大吸鐵石吸之亦出。</p>

<h2>骨傷斷</h2>
<p>人過四五十歲，若手足骨跌斷，骨中精髓已堅滿，一時難接。或須經年，方可復原。年少骨中空薄，月餘可歸舊。</p>

<h2>鴉啖瘡</h2>
<p>初起紅腫，隨轉紫黑，沿爛深嵌，時流脂水，似鴉喙所啄形，故名鴉啖瘡。周身可生，乃脾肺濕熱過盛，溢於經隧所致。摻藥方。（見《青囊集》。）</p>

<h2>經水倒行</h2>
<p>婦女若臨經期下竅阻閉，反見血從口鼻湧行，此氣旺血熱，引之逆出上竅，惟降氣涼血，自循常道歸經。</p>

<h2>囊癰自爛卵落可治</h2>
<p>濕盛熱熾者，每下注腎囊，失於療治，則易腫易潰。常有爛穿囊皮，脫去一卵者，或落下兩子者，無容驚畏，只內進清熱利濕方，外摻兩元散，（方見《青囊集》。）貼以膏藥，一二月可全功。若刀棍傷落者，立死。</p>

<h2>肢肉傷治不可遲</h2>
<p>人之肢體肌肉，及手足指，設被刀斧傷落，不在斃命之處，尚有皮連或皮已斷，先宜止其血，速趁血未冷，氣未散，安整原位，不可稍有歪斜，即在傷口摻生肌藥，外貼膏藥，加以布條紮緊，不使移動，隔三四日一換，月餘可痊。尚傷落之肢肉一過遲，而血枯氣散，雖如法安放上藥，必難接續歸原。因生氣已去，豈有復長之理？至接斷骨，妙在手法，當考傷科書自知。</p>

<h2>咯血圓點不治</h2>
<p>吐血雖多，由肺胃肝來者，十中可治七八。惟咯血乃痰帶血絲，蓋由咳久肺傷，或脾虛無以生肺，或風遏化火刑金。初時易治，延綿多費手。最危者，痰見圓紅珠，形神飲食尚未大敗，實腎水將枯，龍火震動，營分溢於上竅。以圓為天，天一生水，腎者水臟，水中火爍，越位侵肺，故咯圓點血星，十症十死。</p>

<h2>抓碰成惡瘡</h2>
<p>人有頭面肢體，每因抓碰，傷破肌肉。或被刀斧傷斫，初無關礙，乃不戒葷腥發物，致患處焮赤腫痛，轉成疔瘡惡毒。病者與醫家。昧於不知其由。宜速忌口味。依外症施治。延遲難救。</p>

<h2>氣虛成瘤</h2>
<p>每有病後，體虧氣虛，不能上升，使頭巔之氣機不運，凝腫如瘤，按之綿軟，或大如杯，或小如桃，不可動刀針，只宜峻補正氣，月餘自消。又有初生小兒，先天不足，亦有此瘤，不必施治，兩月後自愈。</p>

<h2>病時病後要省勞節欲</h2>
<p>人當病來，一觸忿怒，勞動並嗜欲憂思，能使輕症轉重，而重症入危，至病將愈，尤宜屏去外緣，方易強健。若不禁戒，變象蜂起，誰之咎歟？</p>

<h2>病中轉病</h2>
<p>有因內病將愈，隨轉外症者。亦有先由外症欲痊，旋起內病者。更有輕病變重，而重時又轉輕，迭相循環者。又見病日未久，傳變不定，而病象無常者。皆由臟腑早敗，精血散離，不能斂束，而神氣無所依據，現出幻端，其亡可立而待也。</p>

<h2>砒霜切不可用入藥</h2>
<p>砒霜本大熱大毒，禁用之品，一入藥中進腹則腸胃炸裂，立時見斃。若以搽頭蝨，則頭面赤腫裂痛。用擦疥癩，則渾身肉腫皮綻，或腐肌剝膚，輕則使人殘疾，重則殞命。中其毒者，內多服清敗藥，外以生軍、綠豆粉、青黛、黃連為末，老桐油和敷。</p>

<h2>人忽反常</h2>
<p>人有素性好靜，少怒忽變為多怒而常動，此陰已虧，而陽將亢。有性嗜動善怒，忽轉成寡怒而求靜，此陽不足而陰有餘。凡七情之喜懼愛憎，迨乎居室衣服飲食玩好，皆與平昔迥乎相反者，殆非禍兆，即是病機。他人只可迎其意，而婉然勸解。勿可再拂其性，而使更劇也。</p>

<h1>卷中</h1>

<h2>鼻淵</h2>
<p>腦戶久為濕熱上蒸，外被風寒裹束，鼻通於腦，氣亦壅塞，時有腥膿滲下，如釜底常有薪炊，則釜中自生變味，氣水涓涓而滴，名曰鼻淵。乃肺腦實火，以清肺飲（方見後），引加豬膽汁（一個）沖服。膽可通腦，以有情入無情，轉能制病。十數服自效。</p>

<h2>下疳宜食淡味</h2>
<p>患下疳與鼓脹病，皆忌鹽醬，因鹹味斂濕助火凝痰，使外症腫痛腐爛。然食淡味，人易衰軟。以秋石充鹽為食最妥。</p>

<h2>肺熱極便爛臭</h2>
<p>表邪遏伏於肺，失於宣散，並嗜菸酒，火毒上熏，久鬱熱熾，爍腐肺葉，則出穢氣，如臭蛋逼人，雖延遷終不治。</p>

<h2>膿氣味如臭蛋</h2>
<p>癰疽成膿日久，未經開放，愈釀則熱愈盛，熱愈盛則蒸灼腐肉變味，愈熱愈熟必穿決而膿出，其氣臭過於臭蛋，在四肢總拖連難斂，在身體者難治。</p>

<h2>腎氣遊風</h2>
<p>脾腎兩虛，氣血錯亂，濕邪內擾，每臨暑濕之令，外濕激動內濕，使足脛皮膚，紅腫墜痛，為腎氣遊風。用針刺出濕水，將黃柏末、豆腐和敷，內服防己湯。（方見後）。</p>

<h2>赤白遊風</h2>
<p>表虛風入，兼血熱皮燥，致皮癢搔落白屑，或生水窠，或有黃白靨，遊走不定，（赤者名赤遊風，白者名白遊風。）治不易效，久進祛風丸，可退。（方見後。）</p>

<h2>狗咬毒易走散</h2>
<p>常犬咬破皮肉，即上戌毒丹貼膏藥，（方見《青囊集》。）四五日可愈。倘不速治，及不戒口，其毒易散，紅腫焮痛，爛深淌膿，在上身者，按癰腫治法。在膝蓋下者，先提毒三日，再按臁瘡治法。若瘋犬咬者，治法見《青囊集》。</p>

<h2>辨痧疹腹痛</h2>
<p>小兒痧疹，熱毒未達，伏於腸胃，常悠悠腹痛，頭與胸腹皆發熱，或全下發熱，其身腹有紅紫塊點，或隱或現，脈浮數，宜疏散其表。如誤以暖藥，入腹不救。若蛔犯中胃作痛，痛有止息，尺脈沉滑，忽大忽小。若寒邪腹痛，脈沉遲，此二症皆不發熱。</p>

<h2>頭面頸項外症不可針灸</h2>
<p>頭面頸項生瘍，乃風熱上壅居多。頭又諸陽所會，誤用針灸，似救火沃油，遂漫腫難挽，至肉桂、麝香，溫暖膏藥，尤不可貼，亦助火為腫，可畏。</p>

<h2>粗筋多處忌針</h2>
<p>勞苦之輩，腿足多有粗筋盤曲，則筋內即血管或濕氣盛，與血分過熱者，雖發外瘍，誤用刀針，恐血淌不止無救。</p>

<h2>外症忌食燕窩</h2>
<p>燕窩是海燕銜小魚黏於石上而成，藉燕口含之元氣，清補肺陰。乃海味發物，若外症誤食，補塞毛孔，毒遂內陷不出，串腫潰爛不可收拾也。</p>

<h2>濕腳氣（又名腎臟風）</h2>
<p>肺司皮毛，脾主肌肉，二臟虛損，濕邪留連，化熱下注，熱甚則皮赤而發熱，濕甚則腫胖而惡寒，多在盛夏，陽氣發揚，濕暑流布，生於虛體安逸之輩，而足脛先腫而後痛，是血傷氣，名濕腳氣。或先足彎一點紅腫，或自足指與足脛先起，而後串腫一腿，或串及兩腿脛者，七日可退。若腳氣上衝，乃水來凌火，則嘔吐不止，喘急不休者逆也。以當歸拈痛湯。（方見後。）</p>

<h2>乾腳氣</h2>
<p>足脛不腫而痛，蜷縮枯細，乃熱甚傷血，為乾腳氣，宜涼血清燥湯。（方見後。）</p>

<h2>外瘍腐肉脫時凶象</h2>
<p>外症脫腐之時，膿血去多，正氣難支，患底肉如灰色，全無生氣。或患上驟變，乾枯無膿，四邊皮色，焮紅起暈，鎖住患口。或針刺刀割，並不知痛，口渴唇燥，心神慌張，形色呆板，脈象弦硬。皆胃氣敗絕，血枯肉死，無根浮火外泄，陰陽兩離，殆四五日之命。</p>

<h2>腰痛日久成龜背痰</h2>
<p>脾腎兩虧，加之勞力過度，損傷筋骨，使腰胯隱痛，惡寒發熱，食少形瘦。背脊骨中凸腫如梅，初不在意，漸至背傴頸縮。蓋腎衰則骨痿，脾損則肉削，其龜背痰已成，愈者甚寡，縱保得命，遂為廢人。宜久服補腎湯。（方見後。）</p>

<h2>吸洋菸人病難復元</h2>
<p>吸鴉片者，氣血日被煙火熏耗，腎水漸枯，脾陽不振，所以食少肉削，皮焦神憊，遇病即昏。迨病已退，多軟弱難起色，要靜心培養。倘性躁，欲速痊，恐有不能。</p>

<h2>脅肋生核</h2>
<p>肝氣鬱結，並虛體勞苦太過者，脅肋生核，遇勞動腫硬尤甚，或潰流清水，堅腫依然，若此未有不成癆者。</p>

<h2>痔瘡</h2>
<p>濕熱下注大腸，從肛門先發小疙瘩，漸大潰膿，內通大腸，日久難斂，或愈月餘又潰，每見由此成癆者，乘初起服清熱內消散（方見後）數帖，可愈。若無咳嗽而成漏者，不治。</p>

<h2>孕婦病須保胎</h2>
<p>孕婦病忌熱藥，須應用方中入清熱順胎，步步保護。若熱甚陰傷，胎已墜下，多分不救。</p>

<h2>血瘀格食</h2>
<p>噎格日久，格拒飲食不納，則胃之上口或有瘀血攔截，滴水不進，或吐紫血塊二三口者，或吐鮮血杯許，立刻亡者，或數日後方死者，或延弱極而死者。</p>

<h2>上格</h2>
<p>憂悶傷肝，致帝丁兩旁凸起紫筋數條，束緊咽喉，似物撐塞，吐不出，咽不下，名為上格。用長披刀，刺斷其筋，內投平肝散（方後見）自松。再動肝氣必發。</p>

<h2>糞毒致病</h2>
<p>田圃種植，必以糞為滋培。每交三夏，烈日炎威所照，蒸起地中濕毒，則農作之男婦，手足易染其毒。始癢痛赤腫，隨串爛。用蒜頭、青松果、甘蔗、萵苣皮，煎洗數次可愈。倘以染毒手指拈食物入口，則毒易染物，犯肺必發喘咳，治不能效。</p>

<h2>濕水歸腎囊</h2>
<p>脾虛不能制水，則水下聚於腎，溢於子囊，腫大亮如水晶。將細鐵針眼穿頭髮一根，在囊總筋兩邊，順下流勢處，各穿通發一針，將針過孔口，各留髮兩段，在外拖掛，使針孔不閉，則水自易流盡，內宜服溫補利水方。</p>

<h2>眼腫難睜</h2>
<p>眼目腫閉熱毒內灼，生翳爛珠，用竹片二條，長與眼齊，寬二分許。先以綿線，紮緊竹片。一頭即將竹片夾住眼上胞內眥，又以長線紮緊竹片外端，留線拴於耳上，則眼可睜，以泄火氣，腫痛可退。數日後所夾之肉，腐脫無妨。</p>

<h2>取牙宜慎</h2>
<p>牙齒痛久，其根雖極動搖，內有血筋綰束，若草率動手取落，傷動血筋，則血湧出不止，有性命之憂。投犀角地黃湯（方見後），如不止者，加西洋參二錢。</p>

<h2>多骨症</h2>
<p>骨槽風與牙疔，初起食葷腥，必助火閉毒，堅腫串潰，連及面頸，牙關緊閉，最為延遷，每成多骨，待多骨結聚拔去之。凡外瘍不戒葷鮮，患口難斂，則膿凝結於內，日久堅硬，遂為多骨。</p>

<h2>疔症復腫</h2>
<p>疔瘡方愈，遂食葷腥，患處新肉，薄嫩未堅，每復焮腫，潰穿膿水，否則患頂生胬肉，如釘硬，治難除根。</p>

<h2>瘋犬咬</h2>
<p>瘋犬與蛇咬，傷口愈後多麻木不仁。若咬毒復發，渾身尤麻癢，亂串至心則死。瘋犬初咬時，頭頂有紅頭髮三根，以燈火照之，拔去紅髮，則不發。忌發物、麻味、鑼聲。</p>

<h2>不敬鬼神致病</h2>
<p>凡有褻慢神祇，或染邪祟，或前身冤孽來纏，其發內症，神昏煩亂，乍發熱，乍不發熱，夜間專言鬼神事，身重串痛，不能轉動，眼斜少寐。若生搭背、對口、流注，止漫腫，或硬堅，不見根盤，痛無休息，潰流血水，刀針深刺不疼。患者後須積善，早為懺悔，或焚冥鏹，自可挽救，孔聖云：敬鬼神而遠之。是當虔誠以盡禮，非可諂瀆以邀福也。</p>

<h2>眼疾食葷生翳</h2>
<p>暴患眼疾，皆受風邪，蘊而化熱，上擾清竅。若食肉味，助火生痰，壅滯邪路。風乘火威，消耗目中膏脂，或起白膜紅絲，或胬肉牽攀，使目無全光，或至失明。先服決明消翳散數帖，後繼服羚羊角湯。（二方見後。）久患目疾，不在此論。</p>

<h2>胃絕舌鑑</h2>
<p>男女大小諸症，數日間舌底滑潤，舌面罩滿薑黃色，或大便時下蛔蟲，此胃土欲絕，蟲無所附，乘便時而出。土乃黃色，舌因土之敗，氣上衝故黃，四五日當亡。</p>

<h2>肌肉如鐵</h2>
<p>胸腹串痛，按之有跳躍之處，肌肉似鐵石，針刺不得入，此真氣已竭，血不流行，則肌肉呆板，速死之象。</p>

<h2>足底僵疔</h2>
<p>足底初有一點頂痛，漸若堅石，日久亦或化膿，或五六月，或一二年，行走頂疼，按之僵硬似鐵。從旁邊以刀刺開，或以火針當頂烙之，插降藥條，拔去老根。收功後忌葷腥兩月，以免復發。醫書未載此症。</p>

<h2>時感忌貼溫竄膏藥</h2>
<p>時疫病，渾身每有腫痛處，暖性膏藥貼之，雖用於外，亦能引動內火，劫陰助陽，致肢體色紫膚冷，脈伏神脫氣喘，不旋踵而危者。</p>

<h2>乳不浮腫</h2>
<p>向來體虛，再加勞動太過，真氣多為不足，每乳下浮腫如杯，初時不覺，漸因動作，及咳喘引痛，消之不去，易延癆怯不治。</p>

<h2>溫病反常</h2>
<p>溫邪發即神昏不語，毫不發熱，或手足抽搐，或一二日後，稍明能言，漸轉神煩，微熱無汗不渴，此邪直犯心胞，未傳肺胃，先宜看胸背有紅斑否？並舌苔乾燥否？（小兒亦有此症。）</p>
<p>溫邪一起，遂妄躁狂奔，語言煩亂，坐臥不安，或舌苔燥裂生刺。此熱勢炎甚，擾動心胞，陰虧無以上濟，進救陰方，得脈靜神安，舌潤可治。如狂暴依然，乃心神散越，陽離陰竭，治之何功？</p>

<h2>龜頭皮裹</h2>
<p>大人小孩，龜頭有皮裹包，只留細孔，小便難瀝。以骨針插孔內，逐漸撐大。若皮口稍大，用剪刀，將馬口旁皮，用鉗子鉗起，量意剪開，速止其血。或用細針穿藥線在馬口旁皮上穿過約闊數分，後將藥線打一活抽結，遂漸收緊，七日皮自豁，則馬口可大矣。</p>

<h2>癰疽腫硬如石</h2>
<p>癰疽初腫即硬如石，或漸大，或不大。誤用刀針，便血流不止，或淌清水，患口翻凸難治，投平肝補脾法，猶可延年。</p>

<h2>潰癰</h2>
<p>治潰癰，日久難斂。倘孔內老膿成多骨，須降丹條提去方收口。有膿血去多，氣血虛不斂者，有甫收口，皮肉尚嫩，遂勞苦太早，復腫潰流清膿，或臭汙水，皆脾土傷敗，須培補節勞欲可瘥。有潰久穿通，骨筆成漏無治者。</p>

<h2>癰疽正氣虛</h2>
<p>癰疽浮腫如棉，皮色如常，大如杯，或發盤，痛無休止，治療不應，此氣虛血竭，所以絡脈阻滯作疼，忌刺刀針。若潰流青黃水，或淌黑血，腫痛仍在，或患口翻凸，或腫消不收口者，延久食少形削，皆無法施。</p>

<h2>食疸</h2>
<p>病發時，及病後，脾胃甚虛，不戒食物，則中焦多停滯，極難消化，遏伏化熱，生濕生痰。脾胃為倉廩之官，痰聚濕蒸，猶乎盦醬曲然，無能外泄溢於肌膚，使面目肢體皆黃，宜化滯滲濕法。</p>

<h2>交節令發舊病</h2>
<p>曩時所患諸病，雖皆暫退，每遇交節前一二日，舊病照常復發，或加沉重。蓋天地換節氣，萬物為之變色，人身臟腑，亦因氣候，而觸其舊病傷處而生病，治更較於初起難愈者，或臥病不救者。</p>

<h2>病似癆怯</h2>
<p>男女幼年過勞，壯時心境不遂，至老來未有他病，只微寒不發熱，胸悶常不思食，神安力怯，少食腹便脹。此向來精氣衰微，今加中宮生化之源欲絕，不過久延而已。</p>

<h2>腎絕死病</h2>
<p>凡男婦稍發熱頭暈舌即干短，言謇神清，不渴飲，投救陰法，熱退舌潤，但形神削脫，此真陰先絕，淨陽欲離，數日之壽耳。</p>

<h2>虛暈</h2>
<p>元氣素虧之體，若作勞太過，或負重忍飢，或氣腦傷中，或病後不慎，或房欲過度，或多思深慮，或大暑大寒時遠行並煩勞，皆損人精氣，豈非虛中加虛？故每昏暈猝倒，無寒熱表象，無吐瀉里患，須大補益方，以培真元。</p>

<h2>赤遊丹</h2>
<p>小孩生下數日，渾身發紫紅塊，大小不一，走散極速，為赤遊丹。急砭去惡血可救。或高腫如癰，一二日即成膿，速宜刺放，遲則內潰。因在胎中受父母熱毒，生下外熱觸動而發也。</p>

<h2>小孩頭顱浮軟非癰</h2>
<p>小孩之頭顱，每浮軟如杯，或如碗，按之不痛。若癰毒一按即疼，頗似癰疽膿熟之狀。此先後天皆虧，或久病傷氣，氣傷無以固血，血虛無以輔氣，所以氣不上升，血瘀而腫。誤用刀針，則血出不止，立危。以益氣固陰湯（方見後）緩治，自然頭皮堅硬。</p>

<h2>脾虛身面淡黃</h2>
<p>胃主容納，脾主消化，居人身中，屬土色黃，蒸腐水穀，分別清濁而行升降，以生氣血而助精神，一失常度，即易生病，身面虛浮而色淡黃，如目珠不黃，並非黃疸病，乃脾虛，補土為治。</p>

<h2>爛皮毒癰</h2>
<p>皮膚焮腫似癰，按之不堅，或發如痘，皮爛水淌，作疼發寒熱。倘貼膏藥及誤敷藥，立串爛流水，名爛皮毒癰。不可水洗，以生石膏、黃豆炭、川柏末、烏梅炭，研細，川蜜、米醋和敷。</p>

<h2>皮膚串痛</h2>
<p>周身皮膚，作痛不止，串走不定，並不浮腫，此氣滯血燥，經絡閉塞不通，不治之症。</p>

<h2>肋疽</h2>
<p>脅肋初來隱痛，乍輕乍重，隨後高腫，潰流血水，久不收口，恐醫無效。</p>

<h2>小兒潰疽哭則淌血</h2>
<p>小兒生外症已潰膿口，稍逆其意，則啼哭，擾動肝火，牽引血脈，使血自患口湧出，不須以藥止塞，安慰其不哭，則血自止。</p>

<h2>肝鬱筋梗</h2>
<p>鬱悶傷肝，肝主筋，位部於左，每有肚臍左邊，相離寸許，梗起一條，粗筋如箸，隱於皮內，日夜跳躍，上下串痛，或作或止。刺以艾針數次可止痛，內投蔥白丸（方見後）。倘皮肉僵硬，針不能入，只延留月日而已。</p>

<h2>黑殼刺下疳</h2>
<p>勞苦之流，先受濕熱之毒，復與不潔婦交，致玉莖先腫痛，後生黑芒刺，外皮包住。其形似毛慄之殼。內進瀉肝湯，外敷清疳散。（二方見後。）</p>

<h2>甘疽內潰</h2>
<p>左右乳上堅腫，皮色如常，由氣悶而成者多，或由血瘀者，或由肺氣不降者，消之不去，潰膿極遲。若膿向口鼻出者，無妨。惟綠色臭膿者無救。</p>

<h2>內膜穿破</h2>
<p>癰疽釀膿，日久未泄，先穿內膜，後始外潰，雖不作疼，不見凶象。惟潰口似蟹咋沫，百無一生。</p>

<h2>乳心堅腫</h2>
<p>婦女乳心堅腫，先小後大，寒熱不退，痛不止，不焮紅，延至日久，方潰膿水。因此症成癆者有之矣。</p>

<h2>虛人勞動痿症</h2>
<p>肥人多氣虛，及體弱之輩，或病後未復元，突有勞動傷損經脈，手足因之軟痿，不得舉動。須緩用大補氣血自效，如服散藥難痊。（方見後。）</p>

<h2>病死牛肉有毒</h2>
<p>病死之牛，必有毒聚之處，誤食其毒處之肉，遂腹痛不止，無藥針治，待死必矣。</p>

<h2>肛脫不收</h2>
<p>肛脫日久不收，則脂液必干，尤難猝上，乃氣虛不固，內進益氣湯，提下陷之氣，外以熏洗方，（二方見後。）但內腸得暖，可收，遇冷則墜也。須月餘方復原。</p>

<h2>病中忌食諸豆</h2>
<p>鼓脹並諸病時，脾胃必衰，則消磨之權早失，誤食雜豆，壅閉中焦，陰霾愈結，清陽難升，遂多喘滿不救者。</p>

<h2>孕婦水腫</h2>
<p>脾虛不能約水，水溢皮膚，致周身浮腫，名為子腫。加以腹中孕孩日吸母血，中氣更虛，水積愈甚，所以產時水下成桶，產婦與嬰兒皆脫不救，須未產三月前，投補氣順胎方，（方見後）。直至臨產而止，可保二命。如產後誤補，阻塞惡露生變。</p>

<h2>嬰兒舌連下唇</h2>
<p>嬰兒生下，舌底總筋，連及下唇，不能吮乳。用剪刀，在下唇剪至舌底總筋處而止，速止其血。一傷總筋，血流不止，則傷其命。</p>

<h2>肛門皮包</h2>
<p>初生嬰兒，肛門有薄皮包裹無孔，用剪刀剪開薄皮，以藥速止其血，則肛自通。</p>

<h2>病久目瞎背跎足跛手軟</h2>
<p>小孩元氣未充，再加病久失調，臟腑尤虧，遂致目光失明，或致背跎，或使足跛手軟，種種殘疾，不如早為補救猶可，不至缺陷。</p>

<h2>肝癰</h2>
<p>左乳下隱疼，牽引脅肋咳嗽，與大便時亦痛，硬腫難潰，不能著左邊臥。由肝氣鬱結，或努力血瘀，謂之肝癰，以消堅散。（方見後。）</p>

<h2>肝火沖肺作咳</h2>
<p>肝經火旺，上衝肺絡，即木擊金鳴乃咳，左關脈洪數，以柔肝宣肺湯。（方見後。）</p>

<h2>陰濕鼓脹</h2>
<p>寒濕留著中焦，清陽不布，滿腹堅脹，面黃，不渴，不食，脈沉遲，宜通陽湯。（方見後）。</p>

<h2>水泡風</h2>
<p>肝經風熱，與腎經水濕，搏結肌肉間，先由手足發水泡，延及腕脛，初只爛筋，後即脫骨，或愈後又發，每至於死，宜用三稜、莪朮各五錢，為末，分三次溫水和服。</p>

<h2>虛人勞力傷氣音啞</h2>
<p>腎為聲音之根，肺乃聲音之戶，虛人勞力，損傷元氣，氣海空浮，丹田真氣不與在上肺氣相接，故喉啞難出聲，內投金水八物湯。（方見後）。</p>

<h2>傷食症</h2>
<p>傷食症頭不大疼，不甚熱，胸腹飽悶，只腹上亢熱，以手細按之自明。</p>

<h2>癰疽潰串過大難斂</h2>
<p>癰疽潰串，太大難斂。患上皮薄者，以藥線穿貫兩頭，打一活抽結，每日束緊線，七日自豁，再以藥收口。如肉厚孔深，或有多骨瘀塞者，量意上白降丹，後用生肌法可也。</p>

<h2>腎囊用刀針法</h2>
<p>腎囊腫脹成膿，及濕水注於囊，腫亮，不速刺放，即爛脫難治。先以左手指推腎子上入，隨以右手持刀針，在腫脹下流勢之處，刺放膿水。若誤刺腎子，立危。</p>

<h2>真黃病</h2>
<p>凡黃病面目皆黃，手指甲白色，心須跳躍，頭眩腹膨，乏力，脈洪數有力。不必服煎藥，惟進丸劑可效。</p>
<p>黨參　冬朮　茯苓　陳皮　苦參　半夏　煅皂礬　煅針屑</p>
<p>各藥研末，用黑棗煮熟去皮核搗溶，和藥為丸。</p>

<h2>舌苔驗</h2>
<p>凡舌苔浮面灰黑，而底面滑潤，非實火傷陰，乃腎氣欲絕，散越於外，必死不治。若實火舌黑，必乾燥起刺，得涼藥即退黑回潤。</p>

<h2>痔漏掛線法</h2>
<p>用細銅針穿藥線，右手持針插入漏管內，左手執粗骨針（要圓禿，頭鐫深長槽一條，以便引針）。插入肛門內，釣出針頭，與藥線打一抽箍結，逐漸抽緊，加鈕釦系藥線梢，墜之七日管豁開，摻生肌藥一月，收口。如虛人，不可掛線，易成癆不治。</p>

<h2>禁食宜辨</h2>
<p>人生皆賴穀氣入胃，化生氣血以長精神，半日不食則氣衰，一日不食則氣少，斷食七日則死。惟時疫霍亂，邪盛裡實，食滯當禁。其餘有挾虛症，須得穀氣以助藥力，烏可不辨，一概禁與，致傷人命哉？迨餓極患者，惡聞食味，不能下咽矣。要在少食淡食，勿使傷食耳。故傷寒時疫，食滯霍亂，初起若進飲食，則邪氣內閉難出。至病果退，頭額與胸腹，決不發熱，正氣虛弱，難以出言，須灌稀米飲，接補元氣，一二日再進糜粥。若徒恃藥力，何異操刃殺人。</p>

<h2>骨槽風不治症</h2>
<p>有種骨槽風，潰膿後牙關仍腫閉不開，或不腫閉，牙根又無腫爛處，患口已合，只耳下有一細孔，靜時並無所見，每逢言笑，稍流清水。惟呷飲食，則脂水津津不絕，治亦無效，乃終身痼疾。</p>

<h2>踝骨疽壞症</h2>
<p>內外踝本為三陰發源之地，若受陰濕及浸冷水，使血脈冰凝，肌肉堅腫作疼，不止一起，烙以火針，內投溫經燥濕之方可效。若日久失治，更加高硬漫串，恐名醫束手。</p>

<h2>手臂癰疽治法</h2>
<p>手臂為三陽之部，凡生癰疽，最易腫串一手，不可輕用刀針，只宜先敷對病之藥，過三日一換，待根盤收束，膿水已成，始可開放。</p>

<h2>煉升藥法</h2>
<p>用火硝、明礬各一兩，研末，入小鐵鍋內，以炭火化開，待轉成乾硬，結於鍋底，再加入水銀一兩，在硝礬硬胎上，後覆一大碗於碗內，又以棉紙條蘸鹽水塞緊碗四圍，勿使走氣，復用沙灰護碗半截，用秤錘一個，壓住碗底，以棉花少許，置碗底，先文火，後武火，升三炷香時，看棉花焦黑，是藥已成，熄火待冷，揭碗刮下藥聽用。</p>

<h2>降藥不痛配法</h2>
<p>陳降藥（五錢）　生半夏（三錢）　蟾酥（一錢）　</p>
<p>上各研末，或用糯米飯捶溶和作條，聽用，不覺痛。</p>

<h2>用刀針宜審</h2>
<p>癰疽之膿未熟，不可輕動刀針，破傷出血，反使腫痛，毒氣走散加重。至患上四圍腐肉已成，須得爛透，方可用銅鉤搭起剪刀，輕緩剪去。一覺痛處，切不可剪。再待腐熟剪之，至見鮮紅肉。若犯，動則痛作血流，尤難收口，慎之。</p>

<h2>針灸飲酒忌症</h2>
<p>凡紅腫焮痛外症，最忌火針艾灸，並飲酒漿。不然，助火串毒，更痛腫異常，疔瘡尤忌，犯之便走黃延腫，不可治療。</p>

<h2>合藥說</h2>
<p>外科應用諸藥，總宜現配現用，氣力始足，易於去病。若是陳久，失其本性，鮮能應效，豈不誤人？獨降藥愈陳愈妙。</p>

<h2>驗肺癰法</h2>
<p>咳嗽有日，口乾喉燥，舌下生細粒，胸膈微痛延遷，痰帶白膿，腥臭味。</p>

<h2>流注初起治法</h2>
<p>風寒與痰濕，走竄脈絡，結為流注，愈者將愈，發者又發，延綿不已，多進陽和湯可效。若皮色紅者，不可用熱藥。（附方：）</p>
<p>熟地（一兩）　白芥子（二錢，研）　鹿角膠（三錢）　肉桂（一錢）　炮姜（五分）　麻黃（五分）　生甘草（一錢乳岩加土貝母五錢）　陳酒（一杯）</p>

<h2>癰疽驗膿法</h2>
<p>放膿拔刀用響銅打成，臨時以右手大指與食指，掐住刀口，向上臥刺，方不傷好肉，要膿口順下流勢之處，淺深量意。口欲大則刀斜出，口欲小則刀直出。膿深放淺，則內膿不出，反泄好血。膿淺放深，則內膿雖出，好肉已傷。輕捺病處，便痛皮熱，重者膿淺而稠。重按方痛，皮稍熱者，膿深而稀。遍捺患上，有一點軟陷不起者，或皆硬不痛者，膿未熟，或瘀血，若放早，必傷氣血，而膿難成。捺之軟而即起者，或皆軟不痛者，膿己熟，或濕水，若不放，則腐爛深，而瘡難斂。腫高而軟者，發於肌肉，放宜淺。腫低而硬者，發於筋脈，放宜深。腫平皮色不變者，毒著於骨，當火針烙之。體虛者，先補而後放。有起一二日，皮色照常，已有膿者。或十數日，皮色紫黑，尚無膿者。有數月之久，仍須刀放者。亦有不待放而死者。故用刀針宜審。</p>

<h2>潰膿難斂處</h2>
<p>兩乳上下處，並膻中心窩，以及肚臍之上，一發外瘍，潰膿後不易收功。乃氣脈升降要途，而精血難停於助長也。</p>

<h2>頸斷治法</h2>
<p>人之頸項，中有二管，或自刎與刀傷，若斷前管，為食管，可治。先止其血，摻生肌藥，貼以膏藥，外用布條纏好，常令仰面靜臥勿語，頭後墊高，要使傷口合住，不可離開，過三日上藥一次，每日用米粉做細圓子吞食，不可飲湯水，及齒相呷，月餘全功。若斷後管，為氣管，立時殞命。</p>

<h2>盤舌癰</h2>
<p>滿舌腫硬，難於語言進食，為盤舌癰。由濕火熏灼心君而然，內服犀角湯，待五六朝，看舌上中心起高點，以刀刺出血，又刺舌下或出膿血，自可漸鬆。</p>

<h2>肛癰辨</h2>
<p>肛門四圍紅腫作痛，速宜涼血利濕藥消之。若消不去，一處出膿者為肛癰，每易成漏。有數處潰開者，名盤肛癰，甚至大小便不通。須早順下流勢之處開門，免使潰大淌糞，不可收拾。如在大小便之介中處潰孔者，即海底漏，極難收口。總當培養本元，外插提膿藥，往往獲痊者，不一而足。</p>

<h2>惡阻似病，只順胎即平</h2>
<p>婦人月經，若閉至四五十日，遂覺頭眩，目昏身困重，常懶怯，胸悶嘔吐痰水，虛者尤甚，不欲飲食，或擇食物，嗜臥面色如故，脈緩滑，每誤認是病，治多不效，抑知經停血虛，則胎氣上逆，中焦為之壅塞，是惡阻也。須順胎方數劑，乃安。</p>
<p>當歸　白芍　枳殼　蘇梗　香附　厚朴　木香　陳皮　有寒加砂仁　有熱加黃芩</p>

<h2>辨痿症</h2>
<p>有小兒忽軟弱無力，手足不能舉動，初無寒熱，亦無痛腫，若痹症，應有隱疼，至大人亦每有之。乃陰虛熱蘊，上熏肺金，使肺葉焦損，則生痿躄，失治遂成廢人，須養陰清熱，徐圖自效。（附方）</p>
<p>熟地　制首烏　生龜板　女貞子　丹皮　黑料豆　阿膠　生白芍　沙苑子　北沙參</p>

<h2>時邪四季辨</h2>
<p>醫者不先辨症施治，何能取效？即如冬令之傷寒，始由足經血分傳入氣分，脈浮緊無汗惡風，先惡寒，後發熱是也。傷風，有汗，惡風，脈浮緩也。其餘傳變諸症張長沙已詳言之。以及治法，備載傷寒書中。若夫時邪，始由手經氣分，傳入血分，右脈洪數過於左脈，（若脈沉弱為陽病陰脈，多不治。）亦先惡寒，後發熱，其熱自內達表，午後熱甚，頭痛煩悶，初宜辛涼透表，輕劑可得，戰汗而解。（汗後脈靜者生，煩躁脈疾者死。）國朝葉君天士卓識炯見，補千古之未備，須玩索其書而有得焉。蓋初春所發者，為春溫。若鼻塞，咳嗽，聲重濁煩悶，為風溫，當輕疏其邪。至春末夏初而發者，為溫邪，以溫者熱之漸也。交夏至後，發者為熱病，此時病端雜出，當細辨明。李笠翁不云乎，使天只有春秋冬三時而無夏，則人之病也必稀，以天時熱盛，則損人元氣，人之皮毛因而虛張，百病易於乘機而竊發。熱病者，微惡寒，後發熱，頭痛煩渴，或起病即壯熱，或數日後現斑點者，若傳染諸人者，為瘟疫也。若頭重，鼻塞，咳嗽，微煩熱者，風暑也。當輕疏風邪，兼解其暑。若發熱畏寒，頭重，煩渴，汗大出，脈虛者，靜中傷暑也，宜香薷飲。又有勞苦烈日中而得者為中熱，身熱而痛，大汗煩躁，宜審虛實用藥。更有每逢立夏後似乎有病，右脈虛大，微發熱，身倦，頭昏，煩悶，不思飲食者，疰夏病也，當清暑益氣湯。若頭如裹痛，四肢沉困，身重板痛胸痞，縱病有日，舌不幹燥，因天之炎暑一盛，地之濕氣上升，暑濕交併，著於人身，由初夏所發者，始名濕溫。直至秋末，乃無此病，他時不得混稱也。治莫妙於三白湯。夫初秋所發者，為秋邪，治病莫難於此時。以天地之暑濕，久伏人身，新涼甫臨，人之毛孔，驟為收密，則外涼引動內邪所發之症，治難速效。一不得法，便入險途，若秋時過於旱燥，便出咳嗽發熱，名秋燥症，當清燥救肺湯。乃燥能生火，刑剋當令，肺金而成病也。到深秋而發頭痛，煩渴面赤者，謂之伏暑晚發。更屬遷綿，須法活心靈，方可見功。每逢冬令，固多傷寒。設冬當寒而反溫，感此溫厲氣而發者，遂為冬溫，不宜辛熱藥劫散，只須輕宣其表。至於時邪初起，即壯熱，神昏譫語，或懶言神倦，或微發熱，不識人，皆由正虛陰弱，而熱勢擾亂神明者，此猶可治。若見病即神昏不語，手足抽搐，牙關緊閉者，或一病即見斑點者，或有病三四日，出斑不多，過二三日又發斑，比前更密者，此皆難救。有起病神清，至七八日後忽神昏妄語，暴躁不安者，此邪犯心胞，惟仲景復脈湯（去肉桂）滋其化源，兼至寶丹或紫雪丹三分，涼水和服，藉辛香通竅，逐穢，或有效者。若有病數日忽氣喘（邪熱熏肺，）呃忒，（腎氣下竭，）手足掣搐（邪熱傷肝），肢冷（熱陷陰分，）牙緊，舌苔灰黑，（不幹燥，腎陰欲絕。）凡得此者，速死之候，多發於體虛之人也。若病至六七日，發熱腹滿，拒按，大便閉小便澀，或神昏譫語，脈沉數有力者，當承氣湯下之。腑氣一通，其病可解。</p>

<h2>梅毒喉疳</h2>
<p>喉症有難辨，不可不辨者。凡男婦臟腑內蘊梅毒，周身雖未現瘡點，及小孩胎中受遺毒，忽發喉痛，不甚赤腫，帝丁四面便爛，幾處白腐深孔，病者自昧不知，醫者須詢其染梅毒否？得其病根，治始有效。內進苦寒藥清降其火，外以冰硼散，少加輕粉、升藥，乳吹。遲則損落帝丁，隨穿鼻孔，並連唇口爛開，每使傷命。或爛透囟門，為開天窗，變成破相。若癆症之虛火灼肺，雖喉疼只爛浮皮，無深孔，多不治，如風熱喉症，其爛處在喉兩旁耳。</p>

<h2>癰疽逆象</h2>
<p>癰疽潰經日久，不得收功。患口日見凸陷翻花，或小者如梅如李，或大者如碗如盤，僵硬作痛，瘡勢可畏，或膿水腥臭，逼人難近，或患上起有白腐厚皮，然後皮面又生密密芒刺，及變一切奇形怪狀，世所罕見者，皆罪孽所致，無藥可療，總歸延遲月日而已。</p>

<h2>瘋犬毒述</h2>
<p>效野每逢夏令，多出土灰蛇，其穴外，有蛇吐毒沫，犬之口鼻，一觸其毒，遂成瘋狂。亦有因食臭屍，或飢餓太過而瘋者。倘人被咬破傷，或止咬衣服，皆有毒內犯，即作犬吠聲，數日乃斃。有一月或二月如覺周身麻木，神氣昏亂，或見飲食嗅鼻有聲者，雖多治法，未有能生者。</p>

<h2>乳心疽</h2>
<p>婦女乳中心生結核，初如梅，漸如李，不大痛，延久始能化膿，名乳心疽。若寡居室女，便成乳岩，並男子患此，均難治，當以化堅湯多服。</p>
<p>黨參　當歸　青皮　玉竹　香附　殭蠶　白芍　佛手　鬱金</p>

<h2>鐵鉤入肛門</h2>
<p>長鐵絲魚鉤插入肛門，鉤之背必圓，可入內，而鉤尖向外，鉤住內肉，拖之難出，痛苦無休。用細竹子照患者肛門之大相等，打通竹內節為空管，長尺許，削光竹一頭，將管套入在外之鉤柄，送入肛門內，使鉤尖收入竹管內，再拖出竹管，則鉤隨管而出。</p>

<h2>虛人外症當補</h2>
<p>（若陰疽，外宜隔蒜艾灸法以回陽）</p>
<p>老人與體虛者，生癰疽、搭背、對口諸瘡，雖外皮紅硬，不甚高腫，脈浮大無力，或脈沉弱，蓋由真陽式微，浮火發越於外，先宜荊防敗毒散數劑，或衛生湯疏散其邪隨後。不可拘諸瘡屬火。一用補藥，助火閉邪，擁毒難出。抑知前賢審症果虛，非藉參、耆補氣，歸、芍養血，少加附子、肉桂，蒸釀元陽，扶正托毒，多易內陷，不能全功？或有陰虧無以斂陽者，須陽八味法滋陰以煦陽。倘是實火，脈必洪數有力，煩渴便結者，當服內疏黃連湯。惟疔瘡梅毒，始終無用補之理。</p>

<h2>小孩不可食孕婦乳</h2>
<p>女子二七，天癸至，月事以時下，凡至有孕，則癸水內壅以養胎，迨生孩後上行為乳汁，後再有妊，前余之乳汁，遂為胎氣蒸遏，悉化熱毒清水，小孩一吮此乳，必變內熱面黃，便瀉常哭諸病。</p>

<h2>大小便結脹及腎囊腫亮</h2>
<p>老人及病久者，大小便結脹難行，乃虛氣下陷，不能泌別糟粕，運騰水濁，而出下竅。若陰囊玉莖腫亮不消者，是脾傷無以約水，下注於囊。如此之症，莫冀其生。</p>

<h2>用藥宜審分兩為先</h2>
<p>小兒之體最嫩，服藥分兩較大人當用藥一錢者，只可二三分，以次加減。如藥味過大，樹皮草根，船小何能重載？反損真氣。至老人與體虛者，縱藥可合機，亦宜小其劑數。以其氣質本衰，無能抵禦藥力，宣達臟腑，充貫脈絡，易使氣壅胸塞，嘔惡神傷，未收本病之效，先發變端。合機之藥尚如此，不合病之大劑，其不至誤人，果誰信哉？故分兩不可不慎。且古之一兩，乃今時七分六釐，簡編久載。古人稟賦強實，每用一藥，不過數分，每服一方尚分數次，而今運會日下，人身較於古時倍見孱弱，無如醫者漫喜大劑浪投，不辨症之虛實，不究分兩之重輕。任情率意，恬不自悔，病家昧於不知，罹其夭札者，不一而足，何啻暗中以刃殺人？惜未經人發明者，良足致慨，倘病陰寒，非大溫劑，不足以回其陽。大時熱，非大涼藥，不足以救其陰。驟脫症，非重用參耆，不足以接其元陽。與夫壯實之輩，非輕劑所能勝其病，又非可一例論也。</p>

<h2>龜背症治法</h2>
<p>龜背症起於小兒，筋骨脆弱，加以先天不足，或病後失調，或跌傷碰損，大人腎虛腰痛，每成此症。由脊骨第一節數至第十四節下，兩傍各一寸五分為腎俞穴，入之兩腰，乃腎經發源，即在此一點，先天生命所繫，陰陽之變化出焉。今十四節椎骨腫凸如梅，痛連腎俞，使腰屈而不能直，久則腫大，傴僂不治。乘初起用長尺許寬五寸布膏藥，再摻觀音救苦膏末藥（方見《青囊集》）於上，外貼腫處連兩腰眼，半月一換，內服方看體質虛實，輕者半年，重者一載屢效。此法亦可治雞胸痰。</p>

<h2>癰疽潰後能收功不能收功法</h2>
<p>凡癰疽潰後，腐肉漸盡，患口大者，尚流厚黃膿，礙動患底之肉，即流鮮血，口小孔深者，必插藥捻，插至見紅血者，以及日久漏管，既經提拔，膿管已去，後插生肌藥，亦覺肌生血見者，俱可收功於遲早。以上各症，或潰淌稀膿汙黑汁，或流黃水白漿者，是氣血早傷，肌肉腐敗，陰陽之機，不能鼓盪，其生髮無功，於無中為有。安望斂肌完口，可指日而待哉？</p>

<h2>肛門內生蟲奇癢</h2>
<p>素來濕盛熱熾者，或嗜酒生濕，或喜食辛辣之物熱結臟腑之內，日久皆能盦伏生蟲，流入大腸，盤踞肛門，奇癢異常。雖服煎藥，外施熏洗，終不見功。今有驗方列下。</p>
<p>杏仁（二錢）　輕粉（一錢）　黃連（二錢）　蕪荑（一錢）　蛇床子（二錢）　花椒（一錢）　朝腦（一錢）　枯礬（一錢）　黃柏（三錢）　</p>
<p>共研細末，用黑棗肉同搗爛，做如筆桿粗，約長寸許，曬乾，外裹絲棉，以棉線一根，繫緊藥條端打結，插入肛門內，留線拖於外。一日一換，數日除根。</p>

<h2>濕邪困脾</h2>
<p>人受濕邪內困，肢體便覺頑重，無寒無熱，面色不澤，精神委頓，一見飲食，心中即泛泛欲嘔，不飢不食，日久難退，此當專責之於脾，不關於胃。蓋脾喜香燥，燥脾則濕去，猶之地上濕潤，一得日照風吹，其濕立干。非比胃經濕熱，宜滲宜潤。至濕滯於脾，尤不可用補膩，以窒悶中宮者也。治方附後。</p>
<p>炒焦　赤苓（三錢）　焦苡米（三錢）　焦神麯（三錢）　焦扁豆皮（三錢）　焦澤瀉（一錢）　焦冬瓜子（三錢）　焦茵陳（錢半）　焦車前子（三錢）</p>
<p>引用焦陳米一酒杯，布包煨。</p>

<h2>不先辨症亂用藥引</h2>
<p>男女春日所發之病，有春溫、風溫。夏時發者，有暑熱、斑疹、濕溫、霍亂。秋季發者，有秋邪。冬令發者，有冬溫，以及小兒痧疹。凡由風熱而得者，總宜先以輕平之藥，疏達氣分，不難隨手取效。奈世俗不究病之陰陽，即遇陽症，猶投陽藥，更喜常用青蔥、生薑為引，不知蔥性溫散傷陰，姜味辛熱耗氣，使人藥甫入腹，旋增煩躁昏蒙，譬如抱薪救火，竟變輕病為重，重病入危，尚然執迷不悟，比比皆是，將必歸咎，病起不治，非人力可為，豈不冤哉？</p>

<h2>眼中生翳舐法</h2>
<p>眼中生翳，用點消藥不能去者，須用一人先以清水漱口，次將舌尖在眼翳上輕輕舐之。不可過重，防傷脂膜，約十數下，再以清水漱口，復輕巧舐之。如此十數遍，每日無間，以翳舐淨為度，絕效之法。但月日太久之翳，舐之無功。初起翳膜薄嫩者，舐之多消。</p>

<h2>止血湧射法</h2>
<p>勞苦之輩，手足前後廉，每有粗筋梗起，或筋累累盤曲，果若是而生外瘍者，不可誤用刀針，刺損其筋，使血湧出，立時殞命。蓋筋主於肝，肝藏血，人身血管與筋相通，倘逢破傷血射，而用止血藥不應者，速用大缸盛入冷水，令患者破處浸在水中，再加棉花捺緊患口，不使血流，約半時許，則血自止，故血脈得寒逼，則凝澀不行，遇熱迫則衝擊而散決也。待血已停，再以應用之藥而治。凡血出難止者，皆可行此法。</p>

<h2>救人被跌壓法</h2>
<p>人有突從高處墜下者，或被重物壓磕者，若損傷筋骨，不在致命處，雖昏沉無語，或軟弱難動，只要胸口尚溫，手足未冷，速用兩人扶起患者，攙其兩手，緩緩行走兩時之久，因其跌壓使氣閉血凝，一經走動，則氣血可以運行，漸次回生。倘棄置不問，則瘀血奔心，必死。而輕者血停胞絡，成為癡駿。至於骨斷出筍者，須按整骨法施治。</p>

<h2>腎囊癰爛落卵子可治</h2>
<p>常見濕盛熱重之人，下注於腎，使子囊腫痛潰膿，竟至爛脫卵子者，或單或雙，不可棄而不治，內進利濕清熱藥，外摻二元散，（方見《青囊集》。）月餘皆可完全，獨猝被傷破卵蛋者，立死。</p>

<h2>應用諸方</h2>
<p><u>消漏丸</u>　治濕熱盛成痔漏。</p>
<p>生地　苦參　銀花　地榆　槐米　胡黃連　川柏　龜板</p>
<p><u>補肺養陰湯</u>　治雞胸症。</p>
<p>熟地　玉竹　百合　山藥　貝母　阿膠　白芍　北沙參　沙苑子　引梨肉　熱甚加麥冬　枇杷膏（沖服）</p>
<p><u>益陰煎</u>　治龜背症。</p>
<p>熟地　巴戟天　破故紙　淡蓯蓉　杜仲　杞子　菟絲子　山萸　覆盆子　引葡萄肉　鹿角霜</p>
<p><u>枳殼梔子湯</u>　治食復。</p>
<p>枳殼　梔子</p>
<p><u>仙遺糧散</u>　治楊梅瘡。</p>
<p>土茯苓　銀花　靈仙　川柏　知母　白菊花　蘆薈　胡黃連　羌活　獨活　龍膽草　槐花　引陳酒</p>
<p>火毒重者加芒硝、大黃，虛者加人參。</p>
<p><u>三白湯</u>　治濕溫。</p>
<p>杏仁　苡仁　通草　滑石　鬱金　厚撲　半夏　豆豉</p>
<p><u>龍膽瀉肝湯</u></p>
<p>當歸　黃芩　梔子　木通　龍膽草　澤瀉　柴胡　生地　車前子　生甘草</p>
<p><u>羚羊角散</u>　治鼻痔。</p>
<p>知母　生石膏　梔子　羚羊角　元參　麥冬　蒼耳子　黃芩</p>
<p><u>補肺益脾飲</u>　治虛火鼻衄。</p>
<p>黨參　玉竹　山藥　白朮　百合　黃耆　淮牛膝　當歸　引大棗</p>
<p><u>普濟消毒飲</u>　治蝦蟆瘟。</p>
<p>桔梗　薄荷　馬勃　柴胡　殭蠶　升麻　黃芩　荊芥</p>
<p><u>養陰潤燥湯</u>　治似痹非痹。</p>
<p>鉤藤　制首烏　阿膠　白菊花　當歸　丹皮　生地　白芍　沙苑子　元武板　女貞子　絲瓜絡</p>
<p><u>清肝化痰丸</u>　治瘰癧。</p>
<p>生地　丹皮　海藻　貝母　柴胡　昆布　海帶　夏枯草　殭蠶　當歸　連翹　梔子</p>
<p><u>牛桔湯</u>　治鵝口瘡。</p>
<p>牛子　桔梗　薄荷　葛根　象貝　柴胡　生甘草　枳殼</p>
<p><u>六味加肉桂湯</u>　治虛火牙疳。</p>
<p>熟地　丹皮　山藥　茯苓　澤瀉　加肉桂（少許）　或加人中黃</p>
<p><u>消堅散</u>　治痞塊。</p>
<p>歸尾　桃仁　厚僕　三稜　莪朮　乳香　沒藥　玄胡索　地慄粉　水紅子　蜣螂　建曲</p>
<p><u>推行散</u>　治腿足濕熱。</p>
<p>茵陳　苦參（炒）　木通　川柏（炒）　當歸　防己　丹皮　獨活　車前子</p>
<p><u>藥粉</u>　治注痰潰後不斂。</p>
<p>黨參　山藥　百合　茯苓　白朮　生耆　玉竹　當歸　蓮子</p>
<p>將藥曬脆，加炒熟粳米數升，和藥磨末。每早加洋糖調食。</p>
<p><u>生麥益陰煎</u>　治虛火致口舌牙根破爛。</p>
<p>生地炭　麥冬炭　北沙參　元參炭　元武板　人中黃　熟石膏　黑料豆　</p>
<p><u>清肺飲</u>　治鼻淵。</p>
<p>生地　生石膏　麥冬　知母　梔子　黃芩　蒼耳子　丹皮　川芍　引豬膽汁　</p>
<p><u>防己湯</u>　治腎氣遊風。</p>
<p>蒼朮　川柏（炒）　防己　苡仁　獨活　赤苓　防風　萆薢　豨薟草　車前子　</p>
<p><u>祛風丸</u>　治赤白遊風。</p>
<p>苦參　當歸　白蒺藜　熟地　羌活　獨活　靈仙　大胡麻　制首烏　蟬衣　火麻仁　天麻　紫浮萍　黑芝麻</p>
<p>研末，白蜜為丸。</p>
<p><u>當歸拈痛湯</u>　治濕腳氣。</p>
<p>苦參（炒）　海南子　當歸　茵陳　獨活　木通　防己　川柏（炒）　蘇葉　蒼朮　知母　木瓜</p>
<p><u>涼血清燥湯</u>　治乾腳氣。</p>
<p>熟地　阿膠　白芍　川柏（炒）　當歸　丹皮　茵陳　鹿銜草　元武板　女貞子</p>
<p><u>補腎湯</u>　治腰痛成龜背症。</p>
<p>當歸　熟地　菟絲子　杜仲　破故紙　巴戟天　山萸　杞子　山藥　淡蓯蓉　淮牛膝　葡萄肉</p>
<p><u>清熱內消散</u>　治痔瘡初起。</p>
<p>生地　銀花　槐花　澤瀉　胡黃連　地榆　苦參　川柏　丹皮</p>
<p><u>平肝散</u>　治上格。</p>
<p>當歸　佩蘭　鬱金　桔梗　香附　玫瑰化　白芍　木香　陳皮　柴胡　枇杷葉（炙）</p>
<p><u>犀角地黃湯</u>　治牙根出血不止。</p>
<p>生地　丹皮　犀角　白芍　麥冬</p>
<p><u>決明消翳散</u>　治目生翳。</p>
<p>荊芥　蟬衣　桑葉　蕤仁　木賊草　石決明　穀精草　白菊花　青葙子</p>
<p><u>羚羊片散</u></p>
<p>羚羊角　夜明砂　草決明　木賊草　桑皮　木通　丹皮　赤芍　歸尾</p>
<p><u>益氣固陰湯</u>　治小兒頭軟塊。</p>
<p>黨參　玉竹　白朮　熟地　川續斷　沙苑子　杞子　黃耆（炙）　當歸　白芍　</p>
<p><u>蔥白丸</u>　治肝氣筋梗。</p>
<p>歸尾　枳殼　厚朴　青木香　三稜　蘇梗　玄胡索　香附　青皮　沉香</p>
<p><u>清疳散</u>　治下疳。</p>
<p>青黛（三錢）　掃盆（二錢）　川柏末（五錢）　柏油（八錢）　麻油（一兩）</p>
<p>燉溫，和勻入藥末，攪勻搽之。</p>
<p><u>益氣湯</u>　治肛門下墜。</p>
<p>當歸　黨參　白朮　陳皮　柴胡　黃耆（炙）　升麻　甘草（炙）　紅棗</p>
<p><u>熏洗痔瘡脫肛方</u></p>
<p>蛇床子　明礬　烏梅　槐花　地榆　防風　青蔥</p>
<p>煎滾先熏後洗。</p>
<p><u>柔肝宣肺湯</u>　治肝火沖肺咳。</p>
<p>石決明　羚羊角　丹皮　白菊花　白前　杏仁　蘇子　桑葉　象貝　枇杷葉</p>
<p><u>通陽湯</u>　治寒濕鼓脹。</p>
<p>茯苓　附子　乾薑　草果　陳皮　厚朴　車前子　椒目</p>
<p><u>金水八物湯</u>　治喉啞因傷氣。</p>
<p>北沙參　玉竹　山藥　白朮　黃耆　百合　桂元肉　燕窩</p>

<h2>補遺方</h2>
<p><u>白虎湯</u>　治時邪熱甚，大渴舌燥。</p>
<p>生石膏　知母　甘草　粳米　</p>
<p><u>生脈散</u>　治暑傷氣弱。</p>
<p>西洋參　生地　麥冬　五味</p>
<p><u>炙甘草湯</u>　治時邪昏陷。</p>
<p>甘草（炙）　西洋參　生地　麥冬　阿膠　火麻仁</p>
<p><u>大補氣血湯</u></p>
<p>黨參　黃耆　當歸　玉竹　白朮　杞子　白芍　山萸　杜仲　淮牛膝　桂元肉</p>
<p><u>消堅散</u>　治肝癰。</p>
<p>鬱金　歸尾　玄胡索　木香　青皮　佛手　香附　澤蘭　殭蠶　新絳</p>
<p><u>豬心丸</u>　治痰火入心發狂。</p>
<p>豬心（一個，不下水，切片，焙脆研末。）　甘遂（三錢）　石菖蒲（錢半）　</p>
<p>為未，用貝母（三錢）煎湯作丸，每早以生鐵落（二兩）煎湯送下。虛人小兒，須服少許。</p>
<p><u>人咬方</u>（人齒每呷各物，加之胃火日夜熏灼，其毒甚重。凡被咬之處，最易腫爛作痛。）</p>
<p>黃升藥（五分）　生石膏（三錢）　人糞炭（二錢）　黃連末（一錢）</p>
<p>乳至無聲摻咬處，外貼膏藥三日一換。</p>
<p><u>玉莖生黑刺方</u></p>
<p>柏油（八錢）　麻油（一兩）　青黛（三錢）　掃盆（二錢）　黃柏（五錢）</p>
<p>研末，同油和勻搽之。</p>
<p><u>吐血神方</u></p>
<p>雞血藤膏（二錢）　三七（一錢）　茜根（錢半）</p>
<p>煎服，輕者一帖，重者三帖，除根。</p>
<p><u>香薷飲</u></p>
<p>香薷　扁豆　厚朴　茯苓</p>
<p><u>清暑益氣湯</u></p>
<p>黃耆　黨參　白朮　蒼朮　神麯　青皮　陳皮　甘草　麥冬　五味　當歸　黃柏　澤瀉　升麻　葛根</p>
<p><u>清燥救肺湯</u></p>
<p>杏仁　麥冬　生石膏　甘草　火麻仁　阿膠　桑葉　條參　枇杷葉</p>
<p><u>復脈湯</u></p>
<p>炙甘草　西洋參　火麻仁　生地　麥冬（去肉桂）</p>
<p><u>承氣湯</u></p>
<p>大黃　芒硝　枳實　厚朴</p>
<p><u>荊防敗毒散</u></p>
<p>荊芥　防風　羌活　獨活　柴胡　桔梗　枳殼　黨參　茯苓　甘草</p>
<p><u>神授衛生湯</u></p>
<p>羌活　防風　白芷　紅花　歸尾　角針　乳香　甲片　花粉　連翹　銀花　甘草</p>
<p><u>內疏黃連湯</u></p>
<p>黃連　當歸　白芍　桔梗　黃芩　薄荷　連翹　山梔　木香　甘草</p>
<p><u>陽八味湯</u></p>
<p>熟地　山藥　萸肉　茯苓　丹皮　澤瀉　附子　肉桂</p>
<p><u>消痔漏神方</u></p>
<p>每日用黑棗十六個，或二十個，每個剖開去核，填滿棉子仁，外以線紮緊煨熟，清早食之，月餘收功。</p>

<h1>卷下</h1>

<h2>醫案</h2>
<p>一人背脊正中長三寸，寬一寸，癢不可忍，每日必搔刮，皮破血流始快，名百腳風。醫以桐油和石灰捶熔，做如患上一樣長寬，當中做一空槽式，將有底一面放患上，次以煎滾香油，傾入空槽內熨之，熨至痛不可忍方止，三次愈。</p>
<p>一少婦寒邪與痰濕留於三陰經，使腹疼不止，頻進溫通理氣藥不應，改用。</p>
<p>吳萸　肉桂　乾薑　木香　烏藥　陳皮（研末，溫陳酒下三錢，立愈。）</p>
<p>一少婦，每懷孕至三月則墜。三月心脈養胎，心屬火主血，胎藉血養，木火之體，又值火臟，胎脈兩火交併，灼血耗液，胎元枯澀，內臟難系故墮，猶乎瓜繫於藤，藤枯瓜落，以清營順胎方，超墮期前一月，隔兩三日服一帖，服過五月七月期方止。蓋胎皆隕於單月，單為陽屬火也。若虛體胎隕者，宜補氣血。</p>
<p>生地　當歸　白芍　熾殼　黃芩　麥冬　梔子　元參　知母　川柏　或加川連</p>
<p>一嫗小便點滴難下，痛如刀刺，小腹墜脹，乃龍雷之火。與濕熱結於小腸，宜瀉肝熱，利濕邪，十數帖全好。</p>
<p>龍膽草　胡黃連　蘆薈　滑石　梔子　丹皮　片芩　苦參　澤瀉　通草　瞿麥　車前子　引琥珀屑</p>
<p>一老人濕熱蘊於大腸，日久化生寸白蟲，奇癢不堪，以驅蟲法，清早服四帖除根。</p>
<p>使君子　蕪荑　雷丸　楝子　槐角　貫眾　鶴蝨　川柏　烏梅　引黃土（一兩）</p>
<p>一老人形容瘦小，偶診其脈全無，自云生來無脈，一世未嘗有病，此天下所罕見者，志之以廣醫林耳目一新。</p>
<p>一嫗素常失血，忽因勞力吐血盈盆，諸治不效，後以降氣化瘀方，立止。此氣鬱化火，逼血妄行耳。</p>
<p>蘇子　歸尾　鬱金　旋覆花　青皮絡　香附　三七　荊芥炭　玄胡索　橘絡　降香末　引（佛手　玻珀　藕節）</p>
<p>一人哮病，冒風寒而發，或勞力而發者，宜小青龍湯。</p>
<p>麻黃　桂枝　蘇子　細辛　白芍　杏仁　桔便　乾薑</p>
<p>一童過食鹹成哮者，（或過食甜，亦成哮。）以緩劫法。</p>
<p>輕粉（八分研末）　白麵（八兩）　和作燒餅（八個）　</p>
<p>分八清早食之。（小兒減半）</p>
<p>一人體虛，勞動而哮作，脈細弱，以宣肺扶土方。即平。</p>
<p>杏仁　南沙參　玉竹　太子參　茯苓　蘇子　橘紅　半夏　引冰糖</p>
<p>一婦有梅瘡毒，發時筋骨痠痛，渾身生出紅疙瘩，隨潰膿水，屢發屢愈，奈毒根太深，不得全好。</p>
<p>一人手腕生三堅硬核，大如棋子，由惱怒傷肝，氣分鬱結，痰凝絡脈所致，烙以燔針出黃膠水，此為痰瘤。插入降條，提出堅核。大凡瘤，皮有紅絲纏繞，即是血瘤。若用刀針，則血流不止而死。若按瘤棉軟，或大或小，乃是氣瘤。誤用刀針，真氣立散而危。有種筋瘤，其筋似蚯蚓蟠結形，不禁刀針，易使筋縮難伸。惟骨瘤、肉瘤，初起可用火針，插進降條，化盡其根可愈。至已腫大如桃李，決不可動刀針害人。</p>
<p>一老人背疽漫腫，瘡頭無數分清，雖出膿水，但年老氣血虛，非補托不可，進十全大補十帖，根腳消而瘡反高起，用刀剪開，流去膿血，調治八旬始痊。（凡老人背疽雖愈，不出三五年多死。）</p>
<p>一老人生陰搭背，僵硬如盤，痛不可耐，先搗蒜頭鋪患上，加艾絨灸之，使溫通血脈，轉為陽，內服陽八味加黃耆、黨參，扶助正氣，三日後烙以火針，隨插藥捻，又三日，硬悉化腐漸脫，百日外始完口。</p>
<p>一人夏月足底生疔，誤食豬肉，立刻走黃毒散，由腿至肋，數處腫如注痰塊，大小不等，痛不可忍。照疔治法，一日疼止。切不可作痰塊治，用火針立危。待膿熟放以刀，約月餘方痊。</p>
<p>一女孩生下無肛門，先用藥線，穿掛肛上羃皮，四日吊豁，隨以披刀，挑破肛之正門，外用細木尖長寸許，裹以薄棉，插入刀口，三日使皮肉不得復連，乃成完全人矣。</p>
<p>一孩生下，舌下中筋與下牙床相連，不能掉動，用剪刀剪至舌下正筋處而止，以藥止其血，即愈。</p>
<p>一少年夏日，常赤身將背坐倚有石之牆，圖其清涼適意，豈知陰冷凝澀經脈，未幾覺背痠痛，日劇一日，療治不效，延半載乃逝。</p>
<p>一童周身生骨瘤，堅硬貼骨，小大不一，肌肉日瘦，由母腎虛，與骨月至戚苟合，胎感其氣而成，久服腎氣湯，自消。</p>
<p>熟地　菟絲子　萸肉　破故紙　杞子　當歸　昆布　海帶　淮牛膝　乳香　覆盆子　陳皮</p>
<p>一婦氣鬱不舒，使左乳結核三枚，如棋大，方一月，下以火針，隨插降條，隔六日一次，數次化盡核而止。此症宜早治。若大如桃李，或潰血水及翻花，皆不可治。</p>
<p>一人膝蓋漫腫，痛不可當，飲食不入，外搗敷社花根紮好，兩日一換，內投溫經燥濕藥，一月全功。</p>
<p>一老嫗腿生痰塊，初覺隱痛，二旬外高腫疼甚，腿胖如屍，形容日瘦，烙以火針，全不知痛，乃脾敗肉死尋亡。</p>
<p>一少年面浮黃，神氣弱，背中並乳旁有痰塊，漫腫光亮，脹痛之極，針出黃水，此脾虛濕泛，至兩月將斂口，忽渾身浮腫，瘡口迸裂，已而遂殂。</p>
<p>一人病後，浮火熏肺，致音啞難言，投六味湯尋愈。</p>
<p>一婦耳下始隱痛，漸腫大，經治後腫雖退，而牙關仍緊，延已兩月，頤下有一孔流膿，是骨槽風之膿毒，結成多骨，抵拒牙關，用刀刺牙床後盡處，插入降丹少許，閉口半日勿食，免藥毒入喉傷人，提出多骨，乃痊。</p>
<p>一嫗牙關不能開，牙床一深孔流臭水，飲食不入，終為不治之症。</p>
<p>一婦產後血虛生風，身癢搔起白屑，發落目瞀，與祛風潤燥涼血丸，半年病如失。</p>
<p>一人肚臍腫爛，時流黃水，乃腸胃濕熱從臍而出，內進清利濕熱藥，外摻黃提丹，漸腫消水乾而愈。</p>
<p>一婦面黃瘦，每見生米，口即流涎，得啖始快。此脾虛濕盛，化熱生蟲，與烏梅　楝子　鶴蝨　貫仲　槐角　雷丸　蕪荑　川連　檳榔　花椒　以黃土煎湯煨藥，十劑後無恙。</p>
<p>一女瘦弱不堪，常食臭抹布，及臭汙泥。此腹內有蟲窠，與殺蟲藥，十數帖除根。</p>
<p>一人病後遺毒，牙關脹硬，牙齦臭爛，時流赤黑水，不進飲食，投藥不應而亡。</p>
<p>一人起居如常，時喜吃金鐵、土石物，毫無所礙，此肝胃火旺極生蟲，故能磨比堅剛之物，以大青葉煎飲二旬，專清肝火乃愈。</p>
<p>一人因數日夜賭博大輸，致相火上沸，擾亂心宮，將舌齧去一截，尚不自知，遂投降火安心藥而痊。</p>
<p>一人自六歲生痰塊，背上至臀破潰十八處，時出黃水不絕，延及三十歲未愈，形色雖敗，飲食尚可，大約是起初多進涼藥，冰凝肌肉，所以治亦無效。</p>
<p>一孀婦心懷不遂，鬱火上蒸，使舌根生數孔，時出臭味，謂之嗪舌，治數年總無功。</p>
<p>一人牙關初腫閉，他醫令其食葷腥發物，則風熱被葷味助火滯毒，腫硬愈甚，牙關永緊，只進稀粥，成骨槽風錮疾，終身不治。</p>
<p>一人手中指生疔，食豬肉飲酒，走黃，毒重，腫痛已三年不稍退。先令飲洋參、桂圓湯一碗，固其元氣，隨以快刀將患指根節筍處剁去，刀口摻止血藥，即浸手冷水內，後乃提盡餘毒，一月全功。</p>
<p>一人緣動怒，使肺氣阻閉，湯水難入，初作喉風治，不應。余以舒肝理氣藥，（蘇梗　佩蘭　枳殼　沉香　玫瑰花　鬱金　香附　木香　佛手）　四帖遂平。</p>
<p>一人被火藥，將頭面並兩手轟燒，皮膚欲腐，兼起水泡，隨用生軍末，調老桐油敷，外貼皮紙，過二日一換，一月全愈。</p>
<p>一人休息痢，二十餘年，先投培補正氣藥六劑，繼進大承氣三帖，攻其老積，遂下血團一個，（此積滯為血所搏，藏於大腸隱曲處，每有觸動則發，屢發屢止。）後調補月餘乃痊。</p>
<p>一孩環跳穴生疽，因多服涼藥，致肌肉冰凝成漏，時消清膿，一足已跛，終成不治。</p>
<p>一婦內踝骨生疽，形如剝鱔，腐流臭水，（人身濕多下注。）摻勝濕丹，須外紮緊，則藥方不從水淌去，後遂獲痊。</p>
<p>一人生左足發背，爛開臭腐極痛，足背至下之處，難於升發，收口甚遲，摻勝濕丹，紮緊，隔四日一次，五旬奏功。一婦手足遍生紫疙瘩，焮疼或潰黃水，名紫癜風。乃濕熱留於血分而然。以刀砭去毒血，外將老桐油調清涼散敷之，內進涼血摻濕藥，隨手取效。</p>
<p>一孩上牙床縫中，常流臭膿，此為牙漏。用銀條探試，奈其漏上通於鼻，無法可施矣。</p>
<p>一人內目眥成漏，以探條試之通外，先插陳降條，化去管，次將利剪豁開，上生肌藥，貼膏藥一月完全。若通眼內，決不可治。</p>
<p>一婦口角生疔，誤食豬肉走黃，唇腫翻硬，刀刺無血，極痛煩燥嘔惡，此毒內閉。又串至脅肋，漫腫三處，如流注，（若用火針立死。）內服疔毒復生湯（方載《外科正宗》）十二劑，唇上膿潰腫退，但脅肋至月餘始有膿，百日乃完口。</p>
<p>一人患縮腳痰已好，誤食赤豆，使毒復萌，患腿痠痛難忍，僵硬如鐵，療治不靈，延年許，聊可伸動，卒成跛躄。</p>
<p>一人患流注三處，臥床一月未見膿，獨尾閭穴已深爛，是名席瘡。乃肌肉先死，辭不可治，尋亡。</p>
<p>一老人冬溫發熱，煩躁有汗，大便泄，舌板硬燥裂，全不渴飲，脈象細弱，陽病陰脈。此真陰告匱，不得上潤，立見神昏，勉投救陰法，不應而逝。</p>
<p>一婦對口，腐已脫盡，瘡中黑凹腥臭，不肯生肌，此為內陷壞症，竟死無救。</p>
<p>一婦素忤逆，一日罵姑不堪，忽被雷神提至空中，陡然摔下，嚇得心神恍惚，如醉如癡，與柏子仁、遠志、當歸、熟棗仁、茯神、丹參、麥冬，夜合花、九節菖蒲、龍齒、金針菜，六帖而安。</p>
<p>一人手碗生肉瘤，大如杏，經針後隨耘田，傷及筋脈，一手漫腫作疼，連破數孔出膿，仍不消腫，治有二年，方腫退口斂，手指終拘攣。（凡針灸後，一犯勞動，必見腫痛。）</p>
<p>一老人患陰搭背，腫硬如盤，皮色不變，先搗蒜頭鋪瘡上，再加艾灸，如此兩次，根腳雖收小，正頭堅黑，刀刺嗝叭有聲，此肌肉僵死如石，冤譴之症，更數醫終死。</p>
<p>一婦冬月冒雪遠行，又赤足涉水過渡，使陰寒之邪內逼，隨髮直中傷寒，身冷頭髮熱而痛無汗，周體青紫，六脈沉伏，辭不立方，三日乃殂。</p>
<p>一兵剿寇凱旋，因心喜急，奔路五十里，俾五內之火，沸湧上騰，逼傷陰絡之血妄行，由口眼耳鼻而出，奄奄一息，猶出不止，與犀角地黃湯，甫入腹，血即止，（此方治實火，不可治虛火。）調息數日而康。</p>
<p>一婦大瘧數年，脾胃虛極，中氣不運，周身浮腫，食入作脹，與補中消滿法，雖暫效，已而腫甚於前，乃土敗不勝藥力，後延半載沒世。</p>
<p>一婦乳房臭爛，中有豎頭紫肉，並不腫硬，乳汁又通，此楊梅遺毒，照梅瘡治法乃愈。</p>
<p>一孩痧疹，熱盛熏爛肺葉，每張口有臭蛋氣觸人，治亦無效。（若大人口有臭蛋氣之病，未有生者。）</p>
<p>一婦產後風邪，乘入太陽，上踞清道，頭疼如破，或作或止，延及廿年，針灸頭維二穴四次，內服當歸、川芍、黃耆、白芍、黨參、羌活、冬朮、細辛、防風、白芷，十二帖除根。</p>
<p>一婦生反唇疔，因食勞葷走黃，滿頭赤腫，毒延至背，潰流膿水，從二月療已近愈，至五月仍然昏卒。</p>
<p>一人秋邪，三日忽昏厥如屍，胸次尚溫，脈且流利，細詢，因素嗜洋菸，斷煙數日，值癮到時，無煙殺癮，正氣又被邪氣暗耗，所以難支。先用煙膏二釐，衝開水灌下，接過其癮，旋投祛邪輔正方而愈。</p>
<p>一人患秋燥，誤服燥藥三帖，致陰傷液涸，遂神昏舌短，不得出言，先進梨汁潤其臟腑，尋投清燥養陰湯，五日遂瘳。</p>
<p>一人脘痛不止，形脫食少，已延一年，乃寒邪蒙閉中焦，氣機呆滯難運，與黨參，官桂、丁香、烏藥、木香。草果、吳萸、陳皮、附子，烏梅，三十帖，疼減其半，又三十帖，覺心中嘈雜，更以枳殼，半夏、砂仁、茯苓、白朮、黨參、陳皮、山藥、甘草、木香，八帖，病如失。</p>
<p>一婦遍身痠痛，手腕高腫數塊如棉，肢痿食少，乃脾虛血弱，經脈流行不暢，風襲筋急，謂之痛痹，用當歸、冬朮、白芍、山藥、黃耆、桂枝、木瓜、靈仙、秦艽、防風、貝母、川斷，四十帖，腫疼減半，又四十帖而平。</p>
<p>一人脘痛，左乳下漉漉有聲，如囊裹漿，脈象滑數，此痰蓄中，胃挾肝火上犯，先以瓜蒂散五分，開水調下，立吐痰水兩碗，繼投楝子、吳萸、半夏、木香、薑汁炒川連、茯苓、乾薑、烏梅、陳皮、白芥子，二十劑全可。</p>
<p>一人冬月常五更沖寒遠行，則寒氣阻閉經絡，手足多生青紫塊，麻痹難動，議桂附理中湯，加溫通藥八帖乃痊。</p>
<p>一老嫗體虛痰盛，忽昏厥聲如拽鋸，稱為痰中，投三生飲加味，黨參、冬朮，橘紅、薑汁、附子、南星、木香、竹瀝沖灌，頃刻神稍清，脈總弦急，延八日竟死。</p>
<p>一人因服硃砂、青鹽，神呆語澀，面赤口渴，起坐不安，此苦燥烈性，擾犯心神，陰傷火熾無制，投大劑白虎湯加犀角，八帖遂平。</p>
<p>一人見食碗至前，嗅鼻發驚狀，此瘋犬毒內伏。詢其被瘋犬咬否？彼云曾有瘋犬咬傷，並未發作，咬口已平。囑其速辦後事，入夜果亡。</p>
<p>一人腹脹如鼓，月餘只飲稀糜，先以舟車丸三錢，開水下，移時瀉濕水積滯半桶，腹脹便消，後進枳殼、麥芽、冬朮、神麯、山楂、陳皮、苡米，調理一月復元。</p>
<p>一老人春溫二日，便神昏譫語，時輕時重，脈十動一止，或廿動一止，諸醫皆辭不治，此年老正虛，不能與邪相抵，至一候（七日也）邪退正回自好。</p>
<p>一人因傷食起病，脈七動一止，在法無治，至八日發出斑疹而愈。此風熱早伏，藉傷食更閉，難於外達，故昏沉懶言。至一候經絡已周，而症乃現。</p>
<p>一老嫗常頭痛引腦鼻，淌臭涕，此膽熱移於腦，煎灼陰液，滲泄而下，名為鼻淵，當清熱透腦法，與辛夷、羚羊角、藿香、蒼耳子、知母、梔子、生石膏、川芎、生地、黃芩、豬膽汁，八帖病除。</p>
<p>一人上下牙床隱痛腐爛，脈象遲細。此陰虛浮火上炎，以熟地、澤瀉、茯苓，肉桂、丹皮、山藥、萸肉，八帖即痊。第虛火如雨中雷電之火，見日則消，六味中加肉桂，引火歸原，乃雨中電火而見日光矣。倘用苦寒，陰霾反盛，更益其病。</p>
<p>一人牙縫忽生肉條，挺出口外，名為髓溢，先以鐵烙燒熱烙平，內進生地、蓯蓉、骨碎補、菟絲子、阿膠，萸肉、杜仲、線魚膠、淮牛膝、龜膠、豬脊髓，十二帖不發。</p>
<p>一人舌腫硬難言，脹疼不入湯水，即紫舌脹。舌中乃凸起一點，以刀刺出血，投三黃湯，三帖遂消。</p>
<p>一婦大瘧，延至體虧，在法當補以六君湯，入腹便昏暈，詢其素不受絲毫補益，反與克削藥始蘇，此稟賦之異者。</p>
<p>一婦每生病，六脈全無，迨疾退脈亦漸起。向來孱弱，不能載邪，故脈沉伏不現。惟見病治病，不必憑脈可也。</p>
<p>一婦季夏在田中農作，值烈日蒸起，埡糞濕邪，兩足侵染其毒，遂赤腫作腐，痛癢難當，常欲以手摩擦，致手亦染其毒，乃用手持物吃，則毒徑犯喉系，隨時咳喘，甘蔗、蒜頭煎飲可效。但糞毒咳，失治無救。</p>
<p>一孕婦因濕熱上衝，頭疼欲死，先刺風池兩穴，太陽兩穴，痛稍減，脈來洪數，與膽草、澤瀉、夏枯草。白菊、滑石、山梔、桑葉、羚羊片、黃芩、知母，四帖，後不復發。</p>
<p>一孕婦六月受暑發痧，誤飲生薑湯，遂腹疼不止，（凡痧忌姜，暑天尤宜戒。）用白王瓜皮煎飲，再刺痧症諸穴，立定痛而瘳。</p>
<p>一老人病久陰傷，相火震動無制，玉莖破皮流血痛甚，外搽珍珠散，進生地、元參、川柏，生首烏、山梔、丹皮、知母、龜板、女貞子、麥句，廿帖漸斂口矣。</p>
<p>一婦腹痛，引陰不止。凡溫通理氣去瘀殺蟲，及平肝針灸諸法，均不應。乃臟結症，數日溘逝。</p>
<p>一嫗臍腹咬痛，便泄晝夜無度，諸治罔驗，亦臟結症，故疼常無休息，旬日遂亡。</p>
<p>一老婦左臀被針戮旋腫，疼似流注，日夜呼號，眾醫束手，延月餘方死，此傷人神。何者謂人神？人身氣血會聚之源也。</p>
<p>一農夫每勞動便胃脘板痛，得食稍定，此中虛，因勞而氣難運，故疼，投黨參、白朮、陳皮、木香、草蔻、黃耆、山藥、肉桂、乾薑、吳萸，六帖痛止，驟難除根。</p>
<p>一人慾後，髓空陽虛，便入水捕魚，陰寒乘間直入三陰，周身掣痛，竟無定時，因經絡悉為寒邪阻閉不通，六脈沉伏，與四逆湯加桂枝，當歸，不應，三日遂卒。</p>
<p>一婦生顴疔，散黃面腫如斗，作痛昏瞀，症勢瀕危，以疔毒復生湯不應，乃加琥珀一錢，疼止，腫漸退。</p>
<p>一人右顴腫硬，皮色如故，旬余未化膿。此風熱上壅，其名顴瘍，最屬遷綿。以牛子、薄荷、山梔、連翹、殭蠶、丹皮、桔梗、黃芩，外敷清涼散漸退。</p>
<p>一人口生紫泡，牙床臭爛，手足發紅暈斑，壯熱煩躁，與薄荷、山梔、羚羊角、麥冬、知母、生石膏，片芩，三帖全退。</p>
<p>一婦生外踝疽，淌膿五年不斂，因骨筍空隙處為之穿潰，常一細孔流水，不能入藥。終成痼疾不治。</p>
<p>一童跌豁上唇嘴，摻生肌散，用棉帶紮緊，拴於耳後，四日一換，只進稀粥，不可言笑，靜養一月平復。</p>
<p>一人忽喉痛不腫，痛牽耳下難忍，惡寒壯熱，滴水難入，從午初至申刻便死。此風邪閉滿肺絡，脈來促急，乃緊喉風也。</p>
<p>一人喉不腫痛，忽痰壅不出，氣塞難通，湯藥滴不能進，《內經》謂一陰一陽結為喉痹，延三日乃死。</p>
<p>一婦腿內側生流注，治不得法，年餘始潰，每出膿盈碗，已六載未收口。乃骨縫空隙已被爛通，藥不能到，肌肉為之空浮，稍勞動即胖腫，諸治無效。</p>
<p>一嫗生數處流注，烙以火針，毫不知痛，此肌肉早死，遂辭不治，二日後果死。</p>
<p>一人年幼腿生流注，療十數載方愈。及壯，夏月入水，陰濕又乘三陰，初覺舊患處隱痛，兩月後只潰清水，（因肌肉久虛，故無厚膿。）與生耆、白朮、芡實、蓮子、山藥、黨參、附子，合炒老黃秈米磨屑，加紅糖調食，接補正氣，四月餘雖痊，旋又完姻，精氣更加暗耗，復因入水，舊患仍作，諸治不驗而逝。（凡久病體虧，戒欲為要。）</p>
<p>一人曾染妓毒，幾年後因有病正虛，淫毒乘間竊發，龜頭生如翻花菌，大小十數枚，逐一用藥線扣住，過一日收緊線一次，待落下，隨上生肌散而痊。</p>
<p>一婦大瘧，延久形瘦脾虛，過於作勞，忽口鼻俱出血不止，乃脾虛不能統血，上溢清道而出，以黃耆、白朮、玉竹、黨參、山藥、當歸、茯神、牛膝，二帖，便止。或因此發牙衄者，治方同。</p>
<p>一女頭頂被碰跌，由頭至額，腫軟如棉，此氣凝血瘀所致，用活絡膏藥貼自消。</p>
<p>一孩跌破眼睫流血，當時未洗淨，遂上下睫長為連合，尚有一孔通光，用刀割開眼縫，隨止其血，目可照舊。惜目珠閉合年餘，生翳難除。</p>
<p>一女孩額上跌破，初起失治，數月來滿面皆膿，串空起殼，汙水不斷，逐漸插降條化毒，並生肌散而痊。</p>
<p>一嫗鼻中生痔，挺出不通，先刺破受藥力，次以棉花蘸硇砂散塞之，復加棉花塞緊，難落，隔五日一次，化盡，服生地、丹皮、知母、梔子、元參、花粉、條芩、川連，則面方不起火。</p>
<p>一老人表虛血弱，筋失營養，常覺左腳底有氣一條串至胸肋，脹悶欲絕，移時串上頭頂，又從頭頂走至右邊胸肋，亦復脹悶，移時串至右腳底，氣止人安。每日數次，不堪其苦。先以腎氣湯，加理氣藥卅帖，再用當歸、杜仲、黨參、黃耆、杞子、菟絲子、巴戟天、白芍、淮牛膝、海桐皮、川斷、葡萄肉、破故紙、毛脊、五加皮，陳酒隔水煮一支香，服四月悉平。</p>
<p>一人生搭背，常要刀剮去患上肉方快，隨出蜈蚣數條，直至剮盡背肉，出蜈蚣無數乃死。其人作孽太重，冤仇相報耳。</p>
<p>一人左肋生流注未完口，因遠行跌倒，碰傷患口，竟出血不止。乃遠奔則浮火必騰，使經脈錯亂，逼血而出，投犀角地黃湯入腹即止。</p>
<p>一婦中虛痰盛，使痰隨經絡流串遍身，或凝結多處，腫軟如瘤，按之不疼，癱弱不得轉動者年餘，用川貝母四兩，陳酒六斤，隔水煮服，漸能行走矣。（人身多痰，氣血盛則痰化為血，氣血衰則血化為痰也。）</p>
<p>一童勞苦傷中，脾氣鬱結，化熱生痰，凝於舌下，左邊成為痰包，腫脹，致言語飲食俱難，以刀放出膠痰杯許，插陳降條少微化去根，方不復腫。</p>
<p>一嫗玉戶腫痛，不得大小便，飲食不入，此濕熱注於膀胱，移於小腸，將成蚌疽，投龍膽湯加利濕藥三帖，潰流紫血盈盆，外摻清涼散，又前方五帖全愈。</p>
<p>一嫗刀傷破左食指皮，自摻藥剛收口，忽一手腫痛不止，飲食欲絕，或而昏憒，脈象疾硬，治不應手，此傷人神者，四日故亡。</p>
<p>一人食牛肉、便腹脹壯熱，以山楂、建曲，青皮、檳檳、厚朴、麥芽、枳殼、蒼朮，加稻草為引，因牛喜食草，物理當然，覆杯則消。</p>
<p>一童食蛋停滯，致心窩腫凸如李，食少形削，將近十載，用手提起腫塊，使離內膜，免傷胞絡，以針輕緩刺下灸之，服化積方，十日針一次，一月除根。</p>
<p>一婦心窩生疽，月餘不潰，僵臥食少，用細火針，輕緩眠側刺少許，方不傷內膜，插入藥捻拔盡膿乃愈。（直刺針必險。）</p>
<p>一嫗生喉蛾，膿出甚多，遂太勞動，大損肺氣，忽音啞無言，別無所苦，早服燕窩湯接補，晚投益土生金方旬余，言能高朗矣。</p>
<p>一人霍亂，三日仍吐瀉，使中氣敗竭，而陰陽已倒行逆施，則大便自口而出，此胃底已翻，四肢厥冷，煩躁不安，至七日而亡。</p>
<p>一產婦血虛風燥，周身串痛，幾處浮腫如桃，筋漸短縮難動，脈來浮數，以生地、鉤藤、阿膠、白芍、大胡麻、丹皮，當歸、沙苑、首烏、女貞子、生龜板、絲瓜絡。十帖復原。</p>
<p>一人針戳手掌肉內，用細繩紮緊手腕，使不上走，（針隨血脈走至心則死。）未嘗剮割，一月針從原口而出。</p>
<p>一人喉生疊肉，狀似雞冠，攪塞要路，惟進米飲，症名喉岩，以火烙烙平，服解鬱方乃消。三月後翻腫勝昔，難語難食，時流鮮血，知是冤報，未久遂卒。</p>
<p>一婦傷子過悲，致肝脾氣鬱，智慧不靈，神昏不語，不食不大小便，直臥如屍，已旬半，惟目尚靈，脈遲細，以鬱金、佩蘭、木香、佛手、蘇梗、夜合花、茯神、九節菖蒲、橘紅、遠志、沉香、煅磁石、香附，解鬱安神通竅，八帖，遂起坐如常。</p>
<p>一嫗肝鬱喉間梗阻，湯飲可進，硬食難入，帝丁左右有筋扛起，撐脹不爽，即是上格，用刀刺筋上，多不出血，服平肝理氣方，數次便松。</p>
<p>一老人搭背，潰後見代脈，此膿腐去多，元氣不相接續之故，與十全大補十日，外脈如常，瘡口已斂，忽雙足痿軟，不能動，仍進大補法，二旬如舊。</p>
<p>一人滿頸起痰核十數枚，先烙火針，疏通其結，進柴胡、貝母、蔞仁、海藻、海浮石、荸薺、香附、橘紅、昆布、丹皮、海蜇頭，十帖，外全消。</p>
<p>一婦乳癰已痊，因勞動，便焮腫流膿，將逾二載，投八珍湯卅帖，乃不復發。</p>
<p>一人慾後下床小便，寒邪乘虛侵入腎經，玉莖腫亮不痛，與杞子、巴戟天、韭子、菟絲子、蓯蓉、熟地、覆盆子、山萸、破故紙、鹿膠，六帖腫退。</p>
<p>一婦臨產，去血過多，忽然昏暈，肢冷脈絕，立時不及備醋、炭與火盆，先以火紙卷粗卷，點火藉煙燻鼻，接透陽氣立醒，內進調理方獲痊。</p>
<p>一人滿腿腫亮作痛，乃脾虛濕邪溢於肌表，其名冬瓜痰，用針刺出黃水，敷沖和膏而愈。（若用火針，便爛難斂。）</p>
<p>一人大腿生流注，三月餘方潰膿，競諸治法，不得完功，因人腿只一條大骨，（名成骨。）另有兩條脆骨，（名輔骨。）夾扶大骨於肉中，今被膿爛穿骨縫空隙，藥不能入，常流膿水終身。</p>
<p>一婦天寒臨產，兒先出一手，經一晝夜不下，用艾葉一斤煎湯，傾盆中，令產婦坐盆上，四圍密護莫走氣，俾熱氣熏透，玉門交骨得暖方開，兒遂奔生而下。</p>
<p>一人肝鬱化火，上升頭巔，火滯血瘀，結成肉條，長及三寸，紅亮豎凸，觸之痛極，用青黛、川蜜和敷，月餘全消。</p>
<p>一女喉外結核脹疼，治已將痊，繼音啞難言，以蘇子、叭杏、苡米、蘿菔子、象貝、桔梗、蔞仁、紫菀、炙杷葉，十二帖，聲漸透如初。</p>
<p>一人玉莖浮腫破爛流膿，延有半載，以生地、胡黃連、川柏、銀花、車前子、知母、土茯苓、梔子、澤瀉、甘草梢，十二帖，外搽珍珠散，皮斂腫未消，並不疼，袖住馬口如嬰孩，自言如此腫已十年，故難消。</p>
<p>一童痢下日久，痢雖止而脾胃敗極，忽右手癱軟難動，與當歸、熟地、黨參、白朮、白芍、山藥、杞子。黃耆、茯苓、紅花，廿帖，復原。</p>
<p>一孩腸澼延久，穀食甚少，正氣耗傷，致目眶內陷，日珠生膜，投熟地、萸肉、太子參、冬朮，菟絲子、杞子、山藥、淮牛膝，當歸、陳皮，調治一月，膜消復明。</p>
<p>一幼女左肋生肝癰潰破，兩月餘失治，穿透內膜，患口如蟹作沫，每摻藥隨被膜內氣煽去無存，必死之症，數日而夭。</p>
<p>一人牙根作痛，漸爛穿牙床，日見深嵌，延開及腮，仍痛不休，此為牙岩，禁用刀刺，辭不可治，延年餘死。</p>
<p>一人龜頭腫痛，色如煙煤，馬口閉塞，爛至尿管，溺從爛孔流出，臭不可近，此肝腎濕毒結久所致，治之不應而亡。</p>
<p>一婦生鎖口疔走黃，滿面紅腫，四日漸消，以刀刺疔頭，流汙水不知痛，其毒忽走至手臂及臀，腫如流注，（忌用火針並暖藥。）煩亂昏憒三日乃殂。</p>
<p>一孩日暮內喉脹痛，急進疏散方不應，至平旦氣促神呆而殤。此風熱內閉，是緊喉風也。</p>
<p>一婦因寒凝氣滯腹痛，以溫通理氣方，六帖不效，次用吳萸、肉桂、木香、附子、陳皮，研末，溫陳酒沖服，痛立止。（蓋末藥尚存原性，故治速效，不似煎劑，性已淡，故鮮效。）</p>
<p>一人項下漫腫，氣喘吐涎，湯水難入，是風痰內閉，服藥無功，三日便卒。</p>
<p>一婦小產去血太多，血虛液涸，火灼臟燥，擾動心神，悲喜不知自主，似神鬼所憑數伸欠者，以甘麥大棗湯，當歸、阿膠、紅花、丹參、柏子仁、大棗二枚、甘草、白芍、杞子、小麥二合，入腹即平。</p>
<p>一女少腹隱痛，不能仰臥，小便下膿血，乃小腸癰，以歸尾、苡米，澤蘭、沒藥、玄胡索、桃仁、蔞仁、乳香、木通、車前子，十二帖全安。</p>
<p>一嫗臀生流注，不甚高腫而疼，引及半身，不納飲食，不過六日乃亡。</p>
<p>一老人由牙床爛穿過腮，深陷可畏，並無膿水，亦無臭味，其名牙岩，諸醫推辭，年餘方死。</p>
<p>一婦胃痛廿餘年，右乳下硬如覆杯，漉漉聲響，此痰積於軀殼內臟腑外空處，先以瓜蒂散（五分），湧吐其痰，服黨參、乾薑、半夏、烏藥、吳萸、木香、白芥子，橘紅、草蔻、白朮、官桂，十二帖除根。</p>
<p>一童跌豁上口唇，先以細火針穿通兩邊豁唇，次以絲線針，自火針孔穿出收緊豁口，摻生肌散，貼以膏藥，三日一換，惟飲稀粥，禁止言笑，一月復原。</p>
<p>一人龜頭忽生皮包住，只一線之孔通馬口，小便極難，用細鵝毛管寸許，插入孔內，後漸換粗毛管插之，外以布袋套住玉莖，欲溺去之，溺過仍然包插，久久其孔可寬，小便自暢。</p>
<p>一孩瘧久轉痢，瀉如莧菜汁，此脾虛不能統血，陽虧不能蒸血變赤，服藥不效，四日而殤。</p>
<p>一婦腹疼月餘，轉成腹脹氣促痰鳴，湯藥入口即吐，用銅鐵鑰匙廿四把煎飲，至夜半瀉水甚多，脹消能納飲食。</p>
<p>一婦生鎖口疔，食葷走黃，唇硬如石，面腫如斗，刀刺不疼，口中氣臭，神昏譫語，湯水難進，不肯化膿，此毒內閉，十四朝而死。</p>
<p>一童因驚恐，每夜夢一紅衣人與黑衣人相鬥，至天明方退，延及三月。夫黑色屬腎，紅色屬心，心火獨亢，腎水不充，水不制火，心腎不交而然。投生水安神方，（熟地　柏子仁　茯神　白芍　龍齒　石菖蒲　丹參　夜合花　遠志　棗仁　金箔　金針）　二帖不復見。</p>
<p>一婦產後少腹板痛，小便難出，是氣血壅閉，與寒邪交結，成小腸癰，（若大便結，乃大腸癰。）延已三月仍痛，甚難轉動，只進米飲，肚臍腫突出膿，摻提膿丹，針灸少腹數次，以歸尾、桃仁、沒藥、蔞仁，五靈脂、木香、澤蘭、乳香、苡米、香附、玄胡索、肉桂，十帖後漸起床矣。</p>
<p>一人舌左畔生兩個硬尖叉，不便伸縮言語，漸至爛穿半舌，不得納食，名為舌岩。因心緒太煩，水虧火旺所致，無何便亡。</p>
<p>一人玉莖赤腫，尖頭爛若蜂窠，時流膿血，後中段又破，一孔出膿，溺從此孔而出，馬口堵塞，色似豬肝，（此血肉早死。）延半載方死。</p>
<p>一老人滿舌腫脹作疼，不能進食，名盤舌癰，勢甚危殆，先用通關散，嗅鼻開通其氣，（凡喉舌病皆可用嗅鼻法。）舌本立松，吐痰甚多，次以刀刺舌下出血，進清火化痰方尋愈。</p>
<p>一孀婦乳房腫硬如石，此體虛氣鬱而得，貼消堅膏藥，服佩蘭，當歸、象貝，黃耆、鬱金、茯神、香附，青皮、黨參、白朮、遠志、陳皮，一月全消。</p>
<p>一婦善怒悶，氣痹於上焦，致呃逆之聲達於戶外，作呃忒治不效，以杏仁、蘇梗、沉香，鬱金、枇杷葉、桔梗、紫菀、佛手、佩蘭、降香，症乃肺痹，十帖漸好。或加金沸草、丁香、代赭石、柿蒂，經治數人皆效。</p>
<p>一婦常腹疼串至滿腹，聲如雷鳴，嘔惡不食，臥床難起，以黑醜、枳殼、建油、白芥子、桃仁、黨參、沉香、玄胡索，煎汁送滾痰丸三錢，下痰水甚多。或舟車丸三錢，或三聖散，防風、瓜蒂各三兩，黍蘆一兩，為末，齏汁下一錢，皆能逐痰。</p>
<p>一童右手痠痛，用冷水浸漬，以希定疼，豈知血脈被冷水冰澀已死，隨現紫黑斑片，漸加竄爛，筋肉腐落，後至指肘爛脫，形削不食而死。</p>
<p>一婦往田刈麥，刀傷左脛皮約寸許，彼時未嘗介意，三日後一足赤腫如屍，連腹皮有紫黑起泡，破流黃水，壯熱神昏，譫語不食，痛難轉動，此因刀染蛇毒，皮肉一近，毒從血脈走串，一日便卒。</p>
<p>一婦傷子過悲，舌尖生一紅菌，其大如豆，蒂小痛極，妨礙飲食，名曰舌菌。先以藥線，扣住線頭，將膏藥貼藏於面，便於進食，漸收線緊，七日菌枯而落，次以火烙，燙平菌根，乃愈。</p>
<p>一婦往園圃摘取王瓜，滿手旋串，爛及腕臂，時流脂水，療及半年始痊，此手沾蛇蟲之毒也。</p>
<p>一人右足背，有蚊一齧，便腫連膝脛，麻木不疼，敷清涼散加雄黃，服敗毒藥六帖而消。此蚊先吸蛇蟲毒血，故移毒於人。</p>
<p>一婦產後暴怒，震動肝火，耗竭陰血，血舍空虛，神志瞢亂，言語顛倒，不識親疏，飲食如常，投當歸、丹參、蓯蓉、白芍、杞子、玉竹、佩蘭、遠志、萸肉、紅棗、鬱金、香附、阿膠，八帖霍然。</p>
<p>一婦秋邪，月餘昏沉，不言不食，臥不能動，大便久結，胸次灼熱，惟目珠尚靈，正虛邪氣里結，以大承氣加高麗參三錢，扶正通便，服藥半日，大便行，神漸醒，隨進米飲接補元氣漸痊。</p>
<p>一婦時邪，六旬昏睡，不語不食，大小便利，不渴微熱，詢其經水適來，發病經即停，此熱入血室。形容枯弱，目珠靈活，以生地、丹皮、山梔、片芩、柴胡、桃仁、赤芍、元參，三帖病退。</p>
<p>一人溫邪六日，無汗壯熱，大小便通，大渴煩躁。臥轉不休，舌苔白滑帶黃，脈象洪數。此邪熱內陷，與井水一杯，甫入腹，大汗淋漓，熱退人安無病矣。</p>
<p>一嫗哮症數十年，冒風寒則發，喘促不得臥，湯水不入，語言難出，神昏舌強，奄奄待斃，以蘇子、附子、乾薑、肉桂、茯苓、杏仁、橘紅、白芥子，三帖乃平。</p>
<p>一人秋邪八日，發熱形脫無汗，臥不能動，舌白潤，脈細數，已穿齊衣服，待氣下入櫬。先與梨汁半杯，入腹後煩躁大作，略與涼水，飲下更渴，一日夜計食梨卅斤，井水一大桶，遂溱溱大汗，病如失，此症罕有遇之者。</p>
<p>一人冬月，賭博數夜，忽神昏跌倒，不省人事，目閉不言，便泄無度，脈象沉微，與桂枝、厚朴、藿香、砂仁、蒼朮、附子、陳皮、木香，三帖遂起。</p>
<p>一婦因夫歐後腹疼，十日未止，遂服鴉片自盡，當遭救醒，腹疼更甚，連進跌打理氣方不效，加紫棉秸二兩入原方中，煎服立愈。</p>
<p>一人咯痰帶血，三年來左脅板痛，漸串至胸，腹脹形紫，瘦不食，痛處喜風，吹之方快爽，若是無風即用扇自扇，百治不靈，死時十指捲起，兩足蜷縮。</p>
<p>一人用人言搽入發中蝨，俾頭面與身赤腫裂痛，皮膚乾燥，敷清涼散，服清火敗毒方三日消去。</p>
<p>一人小便六日不通，用桃枝、柳枝、槐枝、水蔥煎滾，傾桶內患者坐桶上，四圍密護，熏蒸一時，竅開溺如注。</p>
<p>一人用人言、水銀搽疥瘡，致周身皮燥開拆，白屑脫落不絕，以當歸、杏仁、生地、桃仁、火麻仁、柏子仁、丹皮、阿膠、紫草、山梔、郁李仁、麥冬，廿帖稍好，原方為丸收功。</p>
<p>一人體胖，勞動太過，胖者多虛，忽手足疲軟，不能舉動，故勞則氣傷，氣傷難以運血，血滯不得貫通脈絡，當補氣和血方，（黨參　當歸　白朮　川斷　五加皮　黃耆　紅花　玉竹　白芍　陳皮）六帖，行動便能。若作痹症。用散藥則癱矣。</p>
<p>一婦產方八日，其夫即與交合，遂嘔惡頭重，癱軟畏動，懶言，服當歸炭、太子參、蓯蓉、菟絲子、冬朮、炒丹參、炒白芍、杞子、阿膠珠、乾薑、山藥、陳皮，八帖安然。此傷衝任為重，補奇經所以效。</p>
<p>一婦因夫時熱症初退，與之接合，隨發熱不安，腹痛難忍，名陰陽易。投鬱金、香附、小樸、公鼠糞十四粒、枳殼、殭蠶、藿梗、韭根五錢，二劑乃效。</p>
<p>一人稍勞動便肛脫寸許，坐臥不安，此體胖氣虛下陷使然，進益氣湯加槐米、地榆，另以獨活、當歸、側柏葉、烏梅、倍子、青蔥，煎滾傾桶內，坐上熏之，數次乃收上。</p>
<p>一婦陡然渾身麻木，手足抽搐，神困不言，似肝風非肝風也，是胖人多虛，加以產多血耗，乃氣不行血，血不榮筋耳。投歸脾湯，六帖而退。</p>
<p>一妊婦時疫告危，先只用門面藥不效，余進生地、枳殼、山梔、片芩、麥冬、蘇梗、連翹、花粉、當歸、元參，二帖，因加順胎藥，故神驗。</p>
<p>一婦懷孕已六月，乃感時疫，壯熱胸悶腹墜，口出臭氣，知胎已死，用蒼朮、陳皮、厚朴、甘草，加芒硝三錢，夜半果下一死胎，熱亦退，調治而痊。</p>
<p>一婦妊足十月，口鼻皆血出，三日未止，氣微神憊難動，湯飲入口則嘔，進順胎涼血方，生地、蘇梗、麥冬、小樸、沉香、白芍、枳殼、知母、山梔、元參，三時許，隕下死孩便安。</p>
<p>一老人年近九旬，生中搭手，赤腫作疼，二候尚僵黑未化膿，以八珍湯加附子五分，四帖，扶正助陽，痛止得膿，腐亦漸脫，繼以六君調治全功。</p>
<p>一人右乳下生流注，堅腫作痛，不食神敗，身不能轉，二旬外口中吐膿數碗，（此必膜內之膿。）後腫處亦出膿，（此必膜外之膿。）延至半年收口，（蓋未穿破內膜。）故而得痊，稀有之症也。</p>
<p>一人左耳下發馬刀癧，大如杯狀，焮硬痛甚，加之染患時疫，晝夜昏躁不安，忽口鼻俱淌膿數碗，（此馬刀膿從內潰而來。）翌日而斃。</p>
<p>一人休息痢，延半載轉為每日瀉綠水四次，食少軀削，此痢久脾虛，肝木來侮。夫木色綠，木強陽弱，失其蒸騰之力，故而腸泄，以破故紙、冬朮、蓯蓉、菟絲子、黃耆、續斷、巴戟天、山藥、杞子、淮牛膝、黨參、萸肉，加生薑、紅棗，卅劑而止。</p>
<p>一老人左耳下生馬刀癧，漫腫如李，不覺焮疼，此由肝氣與痰凝滯而成，（若用針刺，立疼痛速死。）以逍遙散。後誤於刀刺，便脹痛而死。</p>
<p>一人目珠與面身純黃色，食少倦怠，脈遲細，此陰濕發黃疸，以茵陳、苡米、澤瀉、附子、赤苓、蒼朮、肉桂，五劑而退。</p>
<p>一人突受大驚，精神恍惚，目珠與身面皆黃，脈虛促，此膽因驚而裂，膽汁流於經絡，運及一身之故，無法可治，已而乃逝。</p>
<p>一人兩眼及身面都黃色，不時煩躁，能食脈數，此濕熱盦伏成為陽黃，進茵陳、梔子、木通、車前子、滑石、澤瀉、萹蓄、川黃柏，四帖，色皆轉白。</p>
<p>一孩患瘧，誤服截散藥多劑，使元氣損敗，面色晃白，汗出不止，神脫難言，肢冷脈絕，目珠獨靈，先以高麗參二錢，煎米飲灌之，接續陽氣，隨進補益方而愈。</p>

<h1>附載</h1>

<h2>採集先哲察生死秘法</h2>

<h3>頭部</h3>
<p>頭低無神者死，頭低視深者死，頭搖不止者死，頭上攛者死，頭重視身者死，項筋展長者死，聳肩動形者死。</p>

<h3>面部</h3>
<p>天庭光潤者傷風，天庭晦暗者傷寒。面青黑者為寒，面紫黑者為熱。發汗後面赤甚者，邪未出，當再表散。陰盛格陽面赤者為戴陽，當溫之。五色精華盡發於外，而內無所畜者凶，面赤目上視者死。面黑頭汗出不流者死。面淡黃者，脾胃傷。肢痿腹脹，面黃如熏者，濕盛黃疸。面黃如橘者，多熱。面黃挾青紫者，脈芤瘀血在胃，或脅有塊。面多白點者，蟲積。面黃不潤，多蟹爪紋者，蟲積。面黃不一者食積。面赤目黑者死。面黑目黃者死。面黃白眼胞腫者，谷疸胸痞。面黃目青者，傷酒。面目有黃色者，有胃氣吉。面赤吐沫者死。面青伏枕者死。顴赤者心痛。左顴赤者，肝熱病。右顴先赤者，肺熱病，兩顴赤色，如指大者，病小愈必死。顴黃黑者，腎病。傷寒汗不出，顴赤氣喘者死。面青舌卷囊縮者死。面青小腹痛者陰寒。面青唇黑者死。面青目黃，面青目赤，面青目白，面青目黑者皆死。病人與無病人遠望似青，近看似黑者死。面青者風寒。面黃者小便難，胸中寒，面黃而光潤者，濕熱及痰飲蓄血。面黃而枯暗者，寒濕食積。面黃而黑者，脾胃衰。面目身皆黃，小便澀者濕熱。面目身皆黃，小腹脹痛，小便利者蓄血。面黃而赤者風熱。面黃目青，面黃目赤，面黃目白，面黃目黑者，皆不死。面赤者風熱。面赤目青，面赤目白者，皆死。面赤脈虛數者，假熱。面赤脈沉細者，假熱。面赤脈弦數者，少陽病。面通赤者，陽明病。面頰午後赤者，虛火。顴現赤色者死。顴及耳目起赤色者，五日死。面白者氣虛。面白無神者，病後及脫血多汗。面白如搽殘汗粉者死。面白形瘦，身熱下血壞者死。面白目黑者死。面白而黑者，寒痛。顴現青色者死。面白顴赤者死。面黑目青，面黑目白者，皆死。面黑者，傷寒及勞。久病面焦黑者腎熱。面黑唇青者死。面黑皮枯牙根露者死。面黑目直視，惡風者死。面黑兩脅難轉動者死。面黑而腫者死。天庭黑者死。顴與髮際鼻梁黑者，五日死。耳目口鼻起黑色者死，面黑而腫，唇焦者死。病人及無病人面黑，又起白色在耳目口鼻者，三日死。病中面肉瘦削見腮者死。面無精彩，不受飲食者，四日死。面光不暗者，傷風。面暗不光者，傷寒。面如錦紋斑者，熱毒。面垢如油，喘促多汗者，中暑。面垢生塵，灑然畏涼，毛聳者，中暑。面浮腫者死。失睡之人，神若飢。喪亡之人，神色呆。面赤者，心熱絡脈溢。面青者肝熱爪枯。面黃者，脾熱肉蠕動。面白者，肺熱毛敗，面黑者，腎熱齒枯。面色深暗者，內病與重病久病。面色淺亮者，外病與新病輕病。</p>

<h3>目部</h3>
<p>目昏，及目赤、目黃者，皆邪熱入里。開目見人者，陽病。閉目不欲見人者，陰症。橫目斜視者，死。瞪目直視者死。目忽不明者，脫陰及脫血。目青目赤，目白目黑者，皆凶。自上視者，為戴眼。目黑頰赤者，痰熱。目睛黃者，酒疸。目黑行走哼聲者，骨節痛甚。目黑麵黃，肢痿難屈伸者，風痰。眼下青者，挾陰傷寒。目黃心煩，脈和者，病欲愈。目黃小腹脹痛，小便利，大便黑者，蓄血。目黃頭汗出者，欲發黃疸。兩目皆黃者，病欲愈。目暗黃者，濕熱。目赤唇焦者，熱病。兩目眥紅者，欲發瘡疹。目白睛黃者，欲發癉熱。目白睛黃，脈沉細者陰症。目眶黑者，為痰。目下灰黑者，痰飲。目睛稍定即轉動者，為痰。目暗者，欲衄血。目暗鼻燥者，熱邪。目濛濛者，熱邪。目光亂者為痰。目睛不轉，白珠黃者，欲衄血。目直視喘氣，下痢者死。目梢生黑氣，牽入太陽者死。目睛定不轉者死。目無精彩，牙齒黑者死。目胞腫者為水。目睛恍惚者死。目眶陷下者死。目瞳子高者死。目直視肩垂者死。目直視耳聾，及百節皆直者死。閉目惡人，脈短澀者死。目昏不識人，目反上視，目瞪睛小，目睛圓正，目反折者皆死。目轉運者死。</p>

<h3>鼻部</h3>
<p>鼻微黑者，痰飲。鼻色黃者，濕熱。鼻欲嚏不能者，為寒。鼻孔乾黑，如煙煤者，陽毒熱，極凶。鼻孔黑潤出冷氣者，陰毒冷極。產婦鼻內黑及衄血者危。鼻塞，口中黑者死。鼻出氣多，入氣少者死。鼻色赤者風熱。鼻尖青黃色者，為淋。鼻色鮮紅者，留飲。鼻紫暗者，時病。病人鼻尖山根明亮，目眥黃者，病欲愈。無病人現黑色，忽起於耳目口鼻邊者凶。明堂目下青者房勞，或精神不快，即夜未睡。鼻色青者，腹痛肢冷死。鼻色黃者，小便難，及痰飲濕熱。胸中寒，鼻色黃黑而亮者，小腹兩脅痛及蓄血。鼻色白者，失血氣虛。鼻色黑者，房勞及痰飲水氣。鼻痛者，風火。鼻流清涕者，肺寒。鼻塞流濁涕者，風熱。鼻鼾難言者，風溫。鼻鳴乾嘔者，傷風。鼻孔滿脹者，風熱。鼻孔乾燥脈浮數者，欲衄血。鼻孔色黑滑冷者，陰症。鼻上出汗如雨者，心胃病。鼻孔扇張者死。人中平滿者死。</p>

<h3>唇部</h3>
<p>唇黑痰多者死。唇卷喉痛者死。唇乾焦者，邪在肌肉。唇反舌卷者死。唇燥舌乾者，脾熱。焦唇黑者死。唇青黑者寒症。唇黃者血虛。唇反肉腫者死。唇口生瘡聲啞者，蟲積。唇青舌卷囊縮者死。唇吻青者死。唇黃者，脾熱血虛。唇赤而腫者熱症。唇焦赤者，脾熱。唇焦紅者吉。唇紫者蟲積。唇白者失血及嘔吐。唇淡白者氣虛。唇口俱黑者死。唇齒焦黑者燥屎。唇青人中平滿者死。怒氣上衝唇青者，當平肝和胃。吐後唇白者，當養胃調氣。唇燥裂者脾熱。唇口舌苔有斷紋者死。唇縮氣喘者死。唇腫齒焦者死。唇反舌縮者死。唇吊齒燥下痢者死，人中反不語者死。</p>

<h3>口部</h3>
<p>口中紅吐血，又有痰涎而息輕者死。口如魚嘴尖起者死。口中氣出不返者死。口噤難言者痙症，及痰厥中寒。環口黧黑者死。口酸者肝熱。口甜者，脾熱及痰。口苦者，心熱及膽熱。口乾者胃熱。口臭及口淡者胃熱。口辣者，肺熱。口咸咽乾者，腎熱。口有血腥味者，胃熱。口不知食味者，津液傷。口中不仁者，外感。口難出言者，血少。口張氣直出者，死。口張腳腫，脈絕者，五日死。口目動搖不止者死。口燥齒乾形脫者死。口渴眼張，譫語身熱，肢冷脈沉細者死。口語死者死。</p>

<h3>齒部</h3>
<p>初病齒縫流血，痛者胃火。齒燥脈虛者，胃痛。齒燥無津者熱病。齒焦黑無垢者死。齒垢灰色者死。齒如枯骨者死。齒生垢，發枯者死。齒長，發枯者死。</p>

<h3>喉部</h3>
<p>喉不腫，干痛難忍，氣促者死。喉痛，頭汗出者死。喉干痛無痰者死。喉聲如雷及嗆食者死。孕婦喉痛，脈浮者死。</p>

<h3>耳部</h3>
<p>耳痛耳腫，與耳痛耳聾者，皆膽病。耳痛，耳鳴者，三焦病。耳痛耳輪黃者，類傷寒。耳聾舌卷，唇青者，肝病險。耳聾發狂者，陽虛病。兩耳枯焦者死。耳上起青筋者，肝風。耳輪枯薄而青，耳輪枯薄而黑，耳輪枯薄而白者，皆腎敗。</p>

<h3>舌苔部</h3>
<p>舌潤如常，未生苔者，邪在表。苔見白滑者，邪入里。白苔滑者，邪在膽經。白苔燥者，邪熱。舌苔淡白者，裡寒。白厚苔，如煮熟色者，寒積脾絕。白苔中黃者，邪入胃。乾白苔，中心黑者死。白苔起雪花片者，脾冷閉危。白苔尖生灰色刺者，十中救五。舌尖白苔，根黃及根黑，或半邊干半邊濕者，膽病。半邊白苔，半邊黃黑苔者，危。白苔中有黑點者，十中救二。（白苔多而滑，黃黑苔少者，多表邪。黃黑苔多而乾白苔少者，多里症。）白苔中兩條黑者死。舌尖白苔，根黃苔者危。舌尖與根白苔，中心黑者死。舌尖白苔，中紅苔，根黑苔者死。白苔外煩躁欲坐臥泥水中，脈虛大者，是陰寒逼其無根之火上擾，當溫之。舌白色者失血。白苔膩者脾熱。黃苔而滑者，熱未盛。黃苔而乾者，熱已盛。黃苔生芒刺黑點者，十中救二。黃苔起裂瓣者，胃液干。舌中黃苔，兩邊白苔者，邪入內。舌兩邊黃苔，中心白苔者，邪入大腸。舌根黃苔，尖白苔，舌短縮者，胃熱濕痰及宿食。黃苔帶黑苔者，肝熱。黃苔帶紅色者，小腸熱。厚濕黃苔，中心青紫色者，陰症。黃苔帶灰色者，胃熱。黃苔帶黑色者危。外感挾內傷五六日，黃苔中心干，兩邊潤者。裡熱（未重）。滿舌黃黑苔燥者，裡熱已甚，當急潤之。舌色黃者血虛。</p>
<p>舌紅者暑症。舌紅極者溫毒。舌紅中帶白色者寒邪。舌紅中夾兩條灰色者，溫疫挾寒食。舌紅有黑者，熱毒入腎。舌紅極有黃芒刺者，熱毒入胃。舌中紅暈，四邊黑者熱極。舌紅如蟲咬者，火旺。舌紅生大點者，胃熱挾濕。舌紅有白點者，心胞邪。舌紅尖黑者腎虛。舌紅有黑點者，胃熱。舌紅起乾裂紋者肝熱。舌紅脹爛者，濕熱入脾。舌紅生白泡者，火旺。舌生紫瘡者，火鬱。舌生紅點者，火炎。舌紅嫩如新生，望之似潤，摸之乾燥者，乃妄行汗下，津液竭死。</p>
<p>舌絳（深紅色也）者，熱入血分。舌絳兼白黃苔者，氣分邪未盡。舌絳中心乾者，心胃火旺。舌絳望之似干，摸之濕者，津虧濕熱盛欲蒙心胞。舌絳黏膩者穢濁。舌絛光亮者，胃津亡。舌絳乾燥者，火邪傷營。舌絛生黃白碎點者，欲發牙疳。舌絳干縮者，腎陰竭，十中救二。舌尖干絳者，心火旺。舌底絳面有白苔者，濕熱遏伏。初病舌便乾，神清者，宜扶正透邪。（如神便昏者不治。）舌邊絳，中白如粉而滑者，邪在表。舌絳難伸者，痰阻舌根。舌赤者裡熱。舌紫暗摸之濕者，瘀血挾熱。舌紫腫大者酒毒。舌紫暗而乾者，肝胃絕。舌紫黑者陰寒。舌紫有紅點，舌紫帶干黃，舌紫短縮者，皆熱毒。舌淡紫帶青而滑者，陰寒。舌紫帶灰黑苔而滑者，邪傷血分。舌乾紫如煮熟豬肝者死。</p>
<p>舌苔黑潤，不發熱不渴者，陰寒，當溫之。黑苔而燥者，熱病。黑苔而滑，發熱者，暑症。黑苔生干芒刺，刮去底色紅者生，底色黑者死，刮去又生者死。青苔者寒極。舌卷乾黑者熱病。冬月黑苔者死。黑苔舌爛者心腎絕。舌根黑舌尖白者，胃火犯腎。舌根黑，舌尖紅者，腎邪。白苔有黑點者胃熱。舌黑而縮者肝絕。舌黑生紫泡者肝絕。舌心一條黑燥，兩邊或白或黃者，兩感症。舌心一條黑潤，兩邊白者，表裡皆虛。舌黑帶紅者，腎虛挾邪。舌半黑半黃，或半黃半白，或中干邊潤，或尖干根潤者，傳並之邪。舌紅露黑紋數條者，陰症。舌外紅內黑者，熱極。外白內黑，外黃內黑者，皆熱極。</p>
<p>舌灰黑者陰邪。灰黑苔而乾者熱傳裡。舌灰色薄潤者，陰寒。舌灰黃乾裂者，熱病。舌灰色中有黑暈者，邪入腎。舌中灰黑，四邊微紅者，邪入大腸。熱毒內傳一次者，見灰黑暈一重，（熱毒內傳二三次者，見灰黑暈二三重。）不治。初病舌便灰色無苔者，寒食痰水。感冒妄行汗下，二便通，舌灰黑而滑或乾者，虛火上炎。白苔中心漸黑者，熱傳裡。紅苔漸黑者，熱病險。舌沖醬色者，夾食傷寒。</p>
<p>舌強難動者危。舌生干糙裂刺者危。舌收斂如干荔枝肉者危。舌亮如鏡面無苔者，胃絕。舌現人字紋者死。舌藍色者肝絕。舌吐出數寸者危。舌吐出難收者熱極。舌縮入喉，難言者寒極。舌短者宿食，危。舌腫大者，熱極，急砭之。舌硬者為痰，危。舌枯縮者心絕，舌瘦而長者心絕。齧舌者死。餂舌者危。舌卷神昏者危。汗出不流，舌卷者死。傷寒，舌吐出者死。</p>

<h3>身部</h3>
<p>病人身輕能轉側者為輕。身重難轉側者為重。身重難移，惡寒肢腹痛，自利，閉目怕亮，不欲見人者，陰症。身痛如被杖，身重如山難動者，陰症。身輕易動，發熱體痛，骨節痛者，表症。身重骨節腫痛難伸動，自汗者，風濕。身重痛，骨節不活者濕痹。手足抽搐，身反向後者，痙病。身目皆黃者黃疸。身如蟲行者表虛。肉動筋急汗多者氣虛。臂多青筋者失血。手背熱，與背上熱者外感。手心熱，與小腹熱者內傷。渾身惡寒者傷寒。背稍惡寒者氣虛。足冷而暈者氣虛。發熱而暈者熱厥。背曲肩垂者腑敗。腰難轉動者腎敗。形肥白者夭。形黑瘦有神者壽。形肥者邪氣實。形瘦者邪氣虛。肥人氣虛生痰，難以周流，痰凝生火，故多中風暴厥。瘦人陰虛血少，相火易亢，故多勞咳。病人形瘦喘促狂亂者死。形肥大皮膚寬緩者壽。形肥大皮膚緊急者夭。血實氣虛者則肥。氣實血虛者則瘦。肥人耐寒不耐熱。瘦人耐熱不耐寒。胃經氣血旺者，髯美而長。胃經氣血弱者，髯少。胃經氣血不足者，無髯，坐欲伏者，氣少。坐欲下一足者，腰痛。行遲者，痹症。息引胸中氣上逆者，咳息。張口短氣者，肺痿吐沫。叉手摸心閉目者，心虛。手心冷者，腹中寒。手心熱者，虛火旺。形肥者，氣虛。形瘦者，氣促。形肥者，脈細。形瘦者，脈疾。形潤者，脈澀。形澀者，脈滑。形大者，脈小。形長者，脈短。形矮者，脈長。</p>
<p>四肢不收者死。身肉不仁者死。寒熱往來，形瘦脈澀者死。喘促發熱者死。鼻衄發熱者死。濕痹身難動，時膝後高肉破，發熱者死。氣虛發熱脈澀者死。身重尿不止者死。身反向後抽搐者死。皮膚著骨者死。骨肉相離者死。大肉陷下者死。大骨枯槁者死。咳嗽，尿血，形瘦脈小硬者死。婦人乳縮者死。心痛，氣弱，著床者死。臥床遺尿不覺者死。形肥，脈細，氣少者死。形瘦脈大氣多者死。心促肢冷者死。手孔生灰者死。背脊骨腫痛者死。形肥食少為痰，肥人摸之如絮，為無氣者死。形瘦食多為火，瘦人肉乾著骨者死。</p>

<h3>胸部</h3>
<p>胸前未脹痛者，邪在表。胸脹滿者，邪在半表半裡。既下後，下部痛甚者防結胸。胸脹氣急，大小便不通者死。心畏懼，胸前紅甚者死。</p>

<h3>腹部</h3>
<p>小腹未硬痛者，邪在表。小腹硬痛者，邪入里。小腹繞臍硬痛，小便短縮者，燥屎。小腹痛，脈沉遲者陰寒，當溫之。腹脹大小便閉者死。腹脹閉，不得氣息者死。腹脹時減，而痛綿綿者，里症未實，大便通為虛。內外無寒者，為陽實熱利，大便閉為實。內外無熱者，為陰結便閉。小腹硬痛，小便自利，大便黑者，蓄血，小腹脹痛，大便如常，小便不利者，溺澀。小便紅為熱，淺紅淡黃者陰虛。小便白為寒。渾白如米泔者為濕熱。腹脹氣少者死。腹脹而瀉，脈大者死。腹脹而鳴，肢冷而瀉，發熱形瘦，脈大者死。腹脹乾嘔煩熱，大小便閉，脈沉細者死。吐血腹脹，脈疾者死。氣喘大小便閉者死。浮腫喘氣，脈細者死。瀉利氣喘者死。瀉利，發熱脈大者死。溺多心煩者死。臍腫反出者死。陰囊龜頭皆腫者死。內熱喉干，溺多心煩者死。泄瀉不止者死。</p>

<h3>手足部</h3>
<p>手大指在外（男順女逆），手大指內握（女順男逆），手熱足冷，頭痛發熱者，挾陰症。手熱足冷，汗多妄言者，暑濕病。手冷足熱者，陰虛陽弱。數手指者死。兩手撮空者死。指甲白者死。手足指甲內肉黑者死。指爪枯毛折者死。足胕腫，兩膝腫如斗者死。足胕腫，頭重作吐者死。手足抽搐，目上視，身反向後者虛風。額上及手足冷者陰症。不能久立，行則掉動者骨敗。膝難伸動，行則曲附者筋敗。循衣摸床者死。抽衣撮空者死。驚駭筋束者死。循衣縫譫語者死。</p>

<h3>死診</h3>
<p>鬚髮焦枯善怒者死。眉與發豎起者死。髮直如妝者死。汗出發潤氣喘者死。汗出如油者死。汗出如珠不流者死。冷汗發黃者死。大肉盡脫者死。大躁欲入水者死。吐血不止者死。咳不止，吐白沫者死。咳嗽挾便血者死。嘔逆不止者死。氣少不語者死。善忘善悲者死。善驚妄言者死。或靜或亂者死。起坐不定者死。神明失守，聲啞者死。神昏妄語者死。熱病可治。中風發直吐沫噴藥者死。鼻衄不止，脈大者死。氣喘脈疾者死，寒熱往來妄言者死。熱病脈靜者死。如死屍臭者死。揹人面飲食者死。陰脫者目盲，陽脫者見鬼。</p>

<h3>五色診</h3>
<p>面赤色，與黃色者風熱。赤如壞血與赭色者死。黃如土色曾枳實者死，青黑色，與白色者，陰寒與痛。青如草滋與藍色者死。白如枯骨黑如煙煤與地蒼者死。骨與鹽色者死。黑色甚者，麻痹拘攣。淡黑色者寒水。淡白色者失血。淡黃色者虛病。頰赤色者虛勞。新病受邪未久，脈變色不變。久病邪已深，色變脈不變。新病正能受邪，色脈俱不變。久病正不勝邪，色脈俱變。色深者內病，色暗者久病與重病。色淺者外病。色亮者新病與輕病。色如雲散者，病將愈。或色紅，或色白，脈浮氣怯者，心中羞愧。</p>

<h3>五行病診</h3>
<p>心病面黑，壬癸日死。肝病面白，庚辛日死。脾病唇青，甲乙日死，肺病顴赤面腫，丙丁日死，腎病唇黃面腫，戊己日死。</p>

<h3>五臟見症</h3>
<p>心病色紅舌赤。舌深赤，干卷者實邪。淺紅潤短者，正氣虛。實則口乾心煩，喜笑胸痛，健忘驚悸，臍有動氣，發狂昏冒。虛則好悲，手心熱。</p>
<p>肝病面青。實則抽搐轉筋，脅痛耳聾，疝瘕便閉，淋濁善怒。虛則目䀮䀮無所見，如有人將捕之驚。</p>
<p>脾病面黃。實則身重，腹脹便閉，善噫。虛則善思，腸鳴泄利，嗜臥怠倦，骨節痛食少。</p>
<p>肺病面白，實則胸痹脅痛，善嚏悲愁。虛則喘咳惡寒，氣少不能接。</p>
<p>腎病面黑，耳黑。實則善恐，善欠氣逆，脛冷，喘不得臥，二便不利，小腹脹痛泄瀉，臍下氣動水蓄，背與骨節痛。虛則心空如飢。</p>

<h3>五臟絕症</h3>
<p>心絕面赤肩垂，目直視，目回視，掌腫無紋，亂語熱悶，口張，一日死。</p>
<p>肝絕面青腫，舌卷囊縮，目視不見人，汗出如雨，好伏眠，四肢無力，泣不止，抽搐眼合，八日死。</p>
<p>脾絕面黃腫，頭脹口冷，腹熱臍跗腫，泄利無度，汙衣不覺，唇反肉粗，手撒，十一日死。</p>
<p>肺絕面白，口張氣直出不收，皮熱爪枯，聲如鼾，三日死。</p>
<p>腎絕面黑目黃，齒枯發焦，汗不止，腰折齒痛，骨肉相離，目盲遺尿，四日死。</p>

<h3>六腑絕症</h3>
<p>膽絕眉垂，七日死。胃絕腰重脊痛，難反覆，五日死。小腸絕，髮直如麻，汗出不止，六日死。大腸絕，泄利無度，利止則死。筋絕，手足指甲青，或脫落，呼罵不休，九日死。骨絕腰痛難轉，齒落，脈浮無根，十日死。肉絕，舌腫腳腫，身重，大便赤，尿血，六日死。</p>

<h3>看法</h3>
<p>口鼻之氣粗，疾出疾入者，外感，邪有餘。口鼻之氣微，徐出徐入者，內傷，正氣虛。發熱靜默默者，邪在表。發熱動躁，譫語者，邪已入里。向里睡者陰症。向外睡者陽症。仰臥及伸腳者，熱症。覆臥及蜷腳者，寒症。全覆衣被不露手足者，非惡寒，即表症及陰寒。揭去衣被，揚手露足者，非發熱，即邪已入腑，或形逸心勞，或形勞心苦，或鬱悶傷中，或病脫後皆耗營氣，名為脫營，或先富後貧，憂愁內結，精神喪失，名為失精。暴喜傷氣，暴怒傷血。</p>

<h3>聞聲</h3>
<p>新病小病聲不變。久病大病聲乃變。寒病無聲。熱病多語。出言懶怯，先輕後重者，虛症，出言雄壯，先重後輕者，外感邪盛。哼聲蹙眉者，頭痛。哼聲不能行立者，腰腳痛。叫喊用手摸心者，脘痛。搖頭用手托腮者，唇齒痛。言遲者風。言急者火。聲重鼻塞者傷風。聲如從甕中出者，中濕。聲啞不出而咳者，水寒傷肺。聲如破而咳者，外寒裡熱。言而弱，終日乃復言者，氣虛。衣被不覆，言語善惡，不避親疏者，神明亂。言語遲懶者內傷。氣少不足以息者氣虛。氣喘煩躁譫語者實邪。連聲者精氣竭。忽然聲啞喉痛，不腫紅，不發熱，二便清利者，陰寒。語聲細小而長者，頭中痛。語聲喑喑不透者，心胸病。語聲寂寂喜呼者，骨節痛。聲如拽鋸者死。失音不能言者死。聲啞不出，冷厥不回，二便不通者死。病在上焦者吸促。病在下焦者吸遲。病在中焦者，吸數，當下之，虛者死。喘息不止者死。呼吸動搖者死。張口氣短呼息者肺痿。呼息引胸中氣上者，咳嗽。行遲者腰腳痛。嘆氣者悶氣。扭身者腰痛。聲啞形瘦，喉有肺花瘡者，勞病死。聲啞者血敗，久病危。暴啞聲者，風痰伏火，或暴怒叫喊。坐而氣促者，哮喘痰火，久病危。中年人聲濁者痰火。獨言獨語者，思慮傷神。氣促喘急不足以息者，虛極。平時無寒熱，氣短不足以息者痰火。</p>

<h3>辨症</h3>
<p>胃病喜冷飲。胃熱者口爛，心空如飢。胃寒者肢冷，腹脹而病。</p>
<p>腸病喜熱飲。腸熱者，溺黃加粥。腸寒者，溺白便瀉腸鳴。從面先腫者，陽水。從足先腫者，陰水。若手腫至腕，足腫至跗，面腫至頸，皆氣虛不還，死症。</p>
<p>食多氣少，非胃火，即病新愈。食少氣多，非胃虛，即氣逆。虛熱喜熱飲。實熱喜冷飲。虛寒喜冷飲。實寒喜熱飲，人左乳下，為胃之大絡，名虛里穴，以驗宗氣，若微動者，宗氣虛，不動者死。</p>

<h3>問因</h3>
<p>先問何等人？或男或女或老或幼，或婢妾童僕，或室女寡婦。次問得病之日，受病之因。飲食何如？大小便何如？曾服何藥？日間何如？夜寐何如？胸膈悶脹否？問之不答，必耳聾。再問其左右，平日如何？不然是病久，或傷汗下致聾。問而懶答或點頭，皆虛。昏憒不識人，非暴厥，即久病，如女人多氣結。婦人先問月經如何？寡婦、室女、尼姑，氣血凝滯，兩尺脈多滑，不可誤斷為胎。腹脹疼問新久，問喜食何味何物？或葷，或素，或茶，或酒。喜酸肝虛，喜甜脾弱。頭身臂足作痛，問曾生惡瘡否？曾服何藥否？</p>

<h3>孕婦生死</h3>
<p>面赤，舌下脈青，舌反，身冷者，母活子死。面青，舌下脈赤者，母死子活。面與舌下脈皆青，或皆白，吐沫者，母子皆死。面黃黑，舌乾短者，急刺之，十中救二。舌色潤則安，舌色敗則死。欲產之脈，沉細而滑。弦緊者生，沉澀者死。浮大者難產。臨產，左中指中節脈跳動產男，右中指中節脈跳動產女。</p>

<h3>診暴病絕脈</h3>
<p>脈兩動一止者，四日死。三四動一止者，六日死。五動一止者，八日死。脈不往來者死。脈伏絕者死。脈或遲或數者死。脈變反關者，半年死。</p>

<h3>五實</h3>
<p>脈大，發熱，腹脹，大小便閉，昏蒙，五實死。</p>

<h3>五虛</h3>
<p>脈虛惡寒，氣弱，大小便瀉利，飲食不入，五虛死。</p>

<h2>五運六氣全圖要訣</h2>

<figure>
<figcaption hidden>十年干化氣圖</figcaption>
<img src="_files/001.png" alt="十年干化氣圖">
<p>逐年司天客氣，加於在泉主氣，每氣管六十日零八十七刻半。克泄主氣者禍。生比主氣者福。</p>
</figure>

<figure>
<figcaption hidden>逐年主運圖</figcaption>
<img src="_files/002.png" alt="逐年主運圖">
<p>每運各主七十五日零五刻。</p>
<p>大寒　立春　雨水　驚蟄　春分　清明　穀雨　立夏　小滿　芒種　夏至　小暑　大暑　立秋　處暑　白露　秋分　寒露　霜降　立冬　小雪　大雪　冬至　小寒</p>
</figure>

<figure>
<figcaption hidden>逐年客運圖</figcaption>
<img src="_files/003.png" alt="逐年客運圖">
<p>前哲未肯將運氣全圖輕泄者，恐人未必深信。愚不揣譾陋，和盤托出，以公同志者，果能熟玩各圖，每到各月節氣，逐一參詳，即可預知所發何病居多，欲求性命之學者所不可廢也。幸毋忽諸。</p>
</figure>

<h3>推司天五運十年干客氣法</h3>
<p>以甲子年為例，如甲己化土，初客氣，即土也。土生金，二客氣金也。金生水，三客氣水也。水生木，四客氣木也。木生火，五客氣火也。余仿此。</p>

<h3>十年干化氣主病</h3>
<p>化氣少陰君火，主病瘡瘍，寒熱驚惑，譫語悲哀，鼻衄。</p>
<p>化氣太陰濕土，主病痞格，中滿霍亂，胕腫積飲。</p>
<p>化氣少陽相火，主病瘡瘍，驚躁嘔嚏，矇昧喉痹，耳鳴暴瀉，抽搐暴死。</p>
<p>化氣陽明燥金，主病浮虛，鼻流清涕，尻股膝足皆病，脅痛鼻嚏。</p>
<p>化氣太陽寒水，主病骨節不利，腰痛盜汗，項強遺泄。</p>
<p>化氣厥陰風木，主病脅痛吐瀉，肛墜筋急，筋軟。</p>

<h3>逐年主運主病</h3>
<p>主運木被金克，主病善怒，眩冒巔疾，脅痛吐甚。</p>
<p>主運火被水克，主病胸脅痛，肩背臂痛，骨痛皮膚疼。</p>
<p>主運土被木克，主病善搐，四肢不舉，肉縮胸滿，食少腹痛，腸鳴便瀉，足痛。</p>
<p>主運金被火克，主病喘咳，肩背尻股膝胕皆病，吐血。</p>
<p>主運水被土克，主病腹滿腸鳴，便瀉食不化，妄冒。</p>

<h3>逐年客運主病</h3>
<p>客運木氣所克，脾土受病，泄瀉身重，煩躁腸鳴腹脹。</p>
<p>客運火氣所克，肺金受病，瘧疾，少氣咳喘，吐血便血便瀉，喉燥耳聾。</p>
<p>客運土氣所克，腎水受病，腹痛身重，足冷煩躁。</p>
<p>客運金氣所克，肝木受病，脅痛胸痛腹疼，目病耳聾，身重煩躁。</p>
<p>客運水氣所克，心火受病，喘咳盜汗，心煩，厥冷昏亂心痛，腹腫脛腫。</p>

<figure>
<figcaption>子午二年六氣主客圖</figcaption>
<img src="_files/004.png" alt="子午二年六氣主客圖">
<p>少陰君火司天，陽明燥金在泉。</p>
</figure>

<figure>
<figcaption>丑未二年六氣主客圖</figcaption>
<img src="_files/005.png" alt="丑未二年六氣主客圖">
<p>太陰濕土司天，太陽寒水在泉。</p>
</figure>

<figure>
<figcaption>寅申二年六氣主客圖</figcaption>
<img src="_files/006.png" alt="寅申二年六氣主客圖">
<p>少陽相火司天，厥陰風木在泉。</p>
</figure>

<figure>
<figcaption>卯酉二年六氣主客圖</figcaption>
<img src="_files/007.png" alt="卯酉二年六氣主客圖">
<p>陽明燥金司天，少陰君火在泉。</p>
</figure>

<figure>
<figcaption>辰戌二年六氣主客圖</figcaption>
<img src="_files/008.png" alt="辰戌二年六氣主客圖">
<p>太陽寒水司天，太陰濕土在泉。</p>
</figure>

<figure>
<figcaption>巳亥二年六氣主客圖</figcaption>
<img src="_files/009.png" alt="巳亥二年六氣主客圖">
<p>厥陰風木司天，少陽相火在泉。</p>
</figure>

<p>子午二年少陰君火司天，主病胸煩，喉干脅痛，皮膚痛，喘咳失血便血，瘡瘍胕腫心痛腹滿，肩背臂目痛，肺脹嚏嘔。陽明燥金在泉，主病善嘔，心脅痛，喉干，足外熱。</p>
<p>丑未二年太陰濕土司天，主病骨痛，痹症，胕腫，腰脊頭項皆痛，頭眩便難，飢不欲食，咳血，心如懸。太陽寒水在泉，主病疝引心痛，失血喉痛，頷腫。</p>
<p>寅申二年少陽相火司天，主病頭痛，瘧疾，皮膚痛，水腫瘡瘍，咳血心煩，下痢胸熱，鼻衄，鼻流清涕。厥陰風木在泉，主病傷風，脅脹心痛，喉腫腹脹，善噫身重，多屁。</p>
<p>卯酉二年陽明燥金司天，主病瘧疾，腹痛腹鳴，腹痛便瀉，心疼喉干，腰痛㿗疝，目眜瘡瘍。少陰君火在泉，主病氣喘，腹鳴，皮膚痛，目下腫，目瞑齒痛，腹痛，腹腫，瘧疾。</p>
<p>辰戌二年太陽寒水司天，主病善悲，瘡瘍心痛，失血鼻衄，便血眩僕，善噫喉干，胸腹滿，肘攣腋腫。太陰濕土在泉，主病飲積心痛，耳聾喉腫，喉痹，便血，溺閉，腹腫痛，頭痛，腰膝痛難動，足肚痹。</p>
<p>巳亥二年厥陰風木司天，主病脘痛，喉腫舌強腹脹，便瀉，成瘕。少陽相火在泉，痢疾，腹痛，溺血。</p>

<h3>五運六氣述</h3>
<p>每年有化氣，又有五主運，復有五客運，加以司天，又加以在泉，更有六氣之主氣，六氣之客氣，七者會聚於一時，總以客氣所克者受邪，若客氣是木，即脾生病也。余仿此。</p>
<p>歲運與司天，相會合為天符，如木運之歲，又遇厥陰風木司天，火運之歲，又遇少陽相火司天，乃奉天行令，謂之熱法，故中其病者，危而速也。</p>
<p>歲運與年支相會值，為歲會，如木運逢寅卯年支，火運逢巳午年支，乃平氣，而主一年，譬方伯之行令，故中其病者，徐而持久也。</p>
<p>歲運與司天及年支三者會合。如火運之歲，遇少陰君火司天，又遇年支是午，即戊午年也。土運之歲，遇太陰濕土司天，又遇年支是丑未，即己丑己未年也。如金運之歲，遇陽明燥金司天，又遇年支是酉，即乙酉年也。乃為天符歲會。</p>
<p>又為太乙天符，又為貴人。偏勝之時，故中此偏勝之邪者，暴而死也。又有值其日，而中其邪，戊子日為天符，戊午日即為太乙也。</p>

<h2>脈訣纂要</h2>

<h3>切脈捷訣</h3>
<p>（人之鼻氣一出一入為息，切脈時數之，即能辨脈）</p>
<p>脈浮輕按可得，浮而旺大為洪，洪而有力為實，浮大遲軟為虛，虛大散漫為散，浮大而軟為芤。直硬為弦，浮而弦芤為革。小軟如絲為細，浮細為軟，細軟如無為微。沉脈重按始得，沉而弦硬為牢，沉至著骨為伏，沉細為弱。一息三至為遲，遲細為澀，遲而一止為結，一息四至為緩。一息六至為數，數而流動為滑，數而弦硬為緊，數而亂轉為動，數而一止為促，促而一止為代。一息七至為疾。過於本位為長，不及本位為短。寬闊為大，細狹為小。</p>

<h3>脈象主病</h3>
<p><u>浮</u>　寸風頭痛，痰聚在胸，關主胃弱，尺浮二便，不得相通。</p>
<p>浮脈表病，有力為風，無力血虛，浮遲表寒，浮數風熱。</p>
<p>浮緊風寒，浮緩風濕，浮虛傷暑，浮芤失血，浮洪虛火。</p>
<p>浮微癆症，浮濡陰虛，浮散虛極，浮弦痰食，浮滑痰熱。</p>
<p>浮細氣虛，浮澀血弱。</p>
<p><u>沉</u>　寸痰在胸，關冷脘痛，尺沉腰痛，遺濁瀉利。</p>
<p>沉脈里病，主寒主積，有力痰食，無力氣鬱，沉遲虛寒。</p>
<p>沉數伏熱，沉緊冷痛，沉緩水蓄，沉牢痼冷，沉實熱極。</p>
<p>沉弱陽虛，沉細濕痹，沉弦飲痛，沉滑宿食，沉伏吐利，陰毒積聚，沉澀血結，沉主骨。</p>
<p><u>遲</u>　寸寒上焦，關胃冷痛，尺腰腳病，七疝便瀉。</p>
<p>遲主臟病，有力冷痛，無力虛寒，遲澀血少，遲緩寒濕，遲滑脹滿，浮遲表寒，沉遲裡寒，冷積癥瘕。</p>
<p><u>數</u>　寸喉嘴病，咳嗽失紅，關肝胃火，尺數陰虛。</p>
<p>數脈腑病，主吐主狂，有力實熱，無力虛瘡，浮數表熱，沉數里熱，虛數肺痿，右寸數實肺癰。</p>
<p><u>滑</u>　寸痰嘔吐，吞酸咳嗽，關滑宿食，肝脾經熱。（尺中淋濁，便瀉利疾。）</p>
<p>滑主痰食，上為吐逆，下為蓄血，浮滑風痰，沉滑食痰。</p>
<p>滑數痰火，滑短宿食，滑大陰痛，滑散癱瘓，血旺脈滑。</p>
<p><u>澀</u>　寸澀心虛，又為胸痛，關中脅脹，尺傷精血，淋濁便紅。</p>
<p>澀主血少，或傷寒濕，澀大實熱，澀弱虛火，氣旺脈澀，反胃結腸，自汗厥逆，亡陽寒濕，女人育孕胎傷，無孕血敗。</p>
<p><u>虛</u>　寸虛血虧，關中腹脹，尺傷精血，骨蒸痿痹。</p>
<p>脈虛血虛，氣虛病弱，自汗怔忡，陰虛發熱，驚悸傷暑，久病脈虛者死。</p>
<p><u>實</u>　寸面風熱，喉痛氣填，關中胸悶，尺實腰痛，大便不通，實緊寒結，實滑痰凝，脈實血實，水穀為病，鬱火發狂，譫語頻吐，陽毒傷食，糞結氣痛。</p>
<p><u>長</u>　胃經熱重，陽毒癲癇。長脈屬肝，宜於春。</p>
<p>長則氣旺，浮長瘋癇。</p>
<p><u>短</u>　寸短頭痛，關傷酒食，尺短腰痛。</p>
<p>短脈屬肺宜於秋。</p>
<p>短主氣痛，沉短宿食。</p>
<p><u>洪</u>　寸洪失血，關中肝火，胃虛脘痛，尺部腎損。</p>
<p>洪主陰虛，下痢失血，脹滿反胃，脈洪形瘦，多氣者死。若久咳者忌之。</p>
<p><u>微</u>　寸微氣急，又主心驚，關中腹脹，尺損精血。</p>
<p>浮微惡寒，沉微發熱，男微虛損，女微崩帶。</p>
<p><u>緊</u>　左寸緊傷冷，右寸緊傷食，關心腹痛，尺疝奔豚。</p>
<p>緊主冷痛，浮緊表寒，沉緊裡寒，緊數鬼祟，喘咳瘋癇，中惡浮緊，咳嗽沉緊皆死。</p>
<p><u>緩</u>　寸緩風邪，關中胃弱，尺主便瀉，痿痹風秘。</p>
<p>浮緩為風，沉緩為濕，緩大風虛，緩細濕痹，緩弱氣損，緩澀血傷，緩滑濕痰，血虛氣旺。</p>
<p><u>芤</u>　寸芤血瘀，關腸胃癰，尺主便血，赤淋崩漏。</p>
<p>久病脈芤者生，新病脈芤者死。</p>
<p><u>弦</u>　寸弦頭痛，胸膈有痰，左弦癥瘕，右心腹痛，尺主七疝，手足拘攣。</p>
<p>浮弦頭痛，沉弦腹痛，弦數多熱，弦遲多寒，弦大主虛。</p>
<p>弦細拘急，單絃飲痛，雙弦寒痼，痰飲瘧疾，脈弦不食者，為木剋土，不治。</p>
<p><u>革</u>　女人半產崩漏，男子陰脾夢遺。</p>
<p><u>牢</u>　心腹寒痛，疝氣癥瘕，失血脈浮大者死。</p>
<p><u>濡</u>（讀軟）　寸濡自汗，又主氣虛，關中氣損，尺傷精血，骨蒸受濕。</p>
<p>寸弱氣虛，關中胃弱，尺主陰虛。</p>
<p><u>弱</u>　弱主氣虛，惡寒發熱，筋骨萎弱，驚悸自汗，弱主筋。</p>
<p><u>散</u>　左散怔忡，右知自汗，左關痰飲，右主足腫，尺多死象。</p>
<p><u>細</u>　寸細嘔吐，關中腹脹，尺部遺精，便瀉虛冷。</p>
<p>細為氣血皆衰，濕傷腰腎，憂勞過度吐衄，脈沉細者生。</p>
<p><u>伏</u>　寸伏食滯，關知腹痛，尺主疝氣。</p>
<p>霍亂頻吐，宿食老痰，脈伏因火邪內郁，陽極似陰，必大汗而解，夾陰傷寒，先內有伏寒，又外感寒，陰盛格陽，肢冷脈伏，須投姜附。</p>
<p><u>動</u>　便瀉拘攣，腹痛驚悸，女人帶漏，男子遺精。</p>
<p>浮動盜汗，沉動發熱。</p>
<p><u>促</u>　陽旺脈促，促為氣鬱，喘咳痰積，發狂斑點，肺癰熱毒。</p>
<p><u>結</u>　陰旺脈結，氣血兩凝，癰腫疝瘕，老痰久停。</p>
<p><u>代</u>　代脈氣衰，瘡疽膿血，嘔吐腹痛，下利霍亂，跌打悶絕，女胎三月。</p>

<h3>脈象吉凶</h3>
<p>中風之病，脈喜浮遲，硬大疾實，其凶可知。傷寒熱病，脈喜浮洪，沉細弦澀，症反必凶。汗後脈靜，身涼自安。汗後脈疾，熱病難痊。脈陽症陰，命必多殆。陰症陽脈，雖困無害。勞倦內傷，右關虛弱。汗出脈疾，死症可必，瘧脈多弦，弦數者熱，弦遲者寒，代散則死。泄瀉痢疾，沉細緩滑，弦實浮數，發熱則卒。嘔吐反胃，浮滑者昌，弦數細澀，結腸者亡。霍亂之症，代脈勿訝，洪滑是順，細澀可嗟。咳脈多浮，浮滑者生，弦疾沉澀，伏大者殂。喘急氣逆，浮滑者順，沉澀疾大，肢寒逆症。火旺之症，洪數為宜，細數無神，魂魄欲離。骨蒸發熱，洪數為虛，熱而澀細，必殞其軀。癆病諸虛，浮細虛大，沉澀弦數，其死可必。失血脈芤，緩細卻宜，數實弦疾，此症堪憂。蓄血之病，牢大可醫，沉澀而細，速愈者稀。三消之脈，數大者生，短澀細散，到手生驚。小便淋閉，鼻色現黃，實大可療，澀細乃亡。遺精白濁，遲細易治，浮虛疾大，危期恐至。大便不通，疾散者凶。心腹之痛，細遲速愈，浮大弦疾，必是延久。疝為肝病，脈必弦疾，弦牢者生，弱疾者死。黃疸濕熱，洪數為宜，細澀口渴，便利難醫。脹腫痞滿，浮大弦實，沉細而虛，岐黃無術。積聚癥瘕，臟腑分治，實大可生，沉細難愈。狂癲之症，浮洪不妨，沉細弦實，必見凶殃。頭痛浮弦，短澀難治，汗脈細遲，緊數者死。昏厥肢冷，沉弱可畏。鬱悶之脈，數滑相當，沉牢弦澀，此病多亡。痙脈弦緊，角弓反張，沉伏而細，病必喪亡。筋脈拘急，浮弱者生，弦實疾大，必然病增。中毒腹脹，細緊無妨，浮大如何，命乃危亡。鬼祟之脈，或大或小，細緊何憂，浮大可愁。癰疽未潰，脈宜洪大，及其已潰，短散有害。肺癰數實，肺痿數弱。面白無神，脈宜短澀。浮大相逢，氣血損失。腸癰實熱，滑數主吉，沉細無根，其死可測，婦人之脈，細澀難產，浮弱血虛，沉遲經閉，滑疾懷胎，欲產沉散，新產宜緩，弦實必凶。血崩虛遲，數大者危。帶下浮弦，疾實者死。心絕之脈，硬疾而牢，一日可憂。肝絕之脈，硬疾而弦，八日而亡。脾絕之脈，虛疾而散，四日難留。肺絕之脈，短澀而散，三日而沒。腎絕之脈，硬疾而散，四日莫挽。其有過期者，能食故也。</p>

<h3>六脈配節氣預知病訣</h3>
<figure>
<img src="_files/010.png" alt="六脈配節氣預知病訣圖">
</figure>
<p>脈得獨（大、小）、獨（浮、沉），獨（長、短）則病，如左關脈弦大，知驚蟄後有風熱之病。蓋弦主風，而大主熱也。如右尺脈緩大，知芒種後有濕熱之病。蓋緩主濕，而大主熱也。久病之人，有寸脈緩，餘部滯知，立冬後愈。</p>

<h3>脈受剋死期</h3>
<p>心脈洪大，肝脈濡弱，肺脈浮毛，腎脈沉滑。若二月宜得濡弱肝脈，反得浮毛肺脈，至秋應死，金來剋木，秋令金旺故也。</p>
