<header data-type="book">
<h1>眼科闡微</h1>
<dl class="元資料">
<div><dt>年份</dt><dd><data value="1700">公元1700年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>生人之身，耳司聽而目司視，故五官之用，耳目居多，而耳與目較，即目尤較重。何也？眯於目，而以耳代目者為廢人，不聰於耳，而以明兼聽者，不失為全士也。昔者炎帝憫天下人之苦於疫癘，而傷夭札也，取草木之實，含英咀華，辨其寒溫燥熱之性，識其君臣佐使之宜，製為方書，民有疾痛，藥輒愈。而書乃何獨疏於療目耶？蓋上古嗜欲未源，葆命有利，目之受病極少。厥後知識日啟，內搖其心，外憾其精。心有疾則血不養目，腎有病則瞳人昏暗，肺有症則白珠血絲日生，肝有患則翳膜變起。此皆情欲所感，初不自覺，積久而視乃昏，始知目之為病源也。嗚呼！釁民之生，要無過不利當途，如問炎帝之時，其有此乎？故百書多略之者，非疏也。孫真人著《眼科秘訣》，以補炎帝方書之未備，而其本常秘，未能廣其傳矣。於云從少時，力學過苦目傷，醫不得愈，禱於城隍之神，夢授書四帙，覺而遇王覆萬傳真人書，宛然如夢中，云從輒依其方治之，目得瘥。如人有病目者，亦辨其所受病復治之，罔弗療。云從乃更為《闡微》、《入門》傳之天下後世，得諸馮隋昆鐵樹梨棗。嗚呼！是書一出，又豈在炎帝方書下哉？予宦遊三十餘年，簿書難章，目勞神疲，短於視，云從為予藥之，得復其元，云從之功也。今云從老矣，幸其書得傳，吾願世之讀是書者，望其寶之如方書，而勿忘云從之功為焉，則感矣。</p>
<p><u>時康熙辛巳春王吉旦奉直大夫知膠州事平陵王基昌序</u></p>

<h1>敘</h1>
<p>馬君云從者，齊之淄青人也。其先與勝國宗潢家迭為姻戚，世有顯聞。云從當髫齓時，穎慧過他童子，就外傳目輒數行下。宗䣊閭里，咸敬憚之，卜為英物。少長，補博士弟子員，蜚聲黌序間，人皆以云從功名可立致。即云從亦雅自負。無何，以攻苦過，時時病目，庸醫藥之日甚，且幾於盲，因禱諸神，如有所賜。既覺，心志之，遂遇江左王君覆萬，邂逅間，授孫真人《眼科秘訣》一書，宛然若得諸夢中也。醫如其方，罔不效，久而復明，目是以得不廢。顧云從遭世亂，罹家道中落，不能置身青雲，居常怏怏，已而自解曰：「大丈夫處世，不為良相，必為良醫。曏者神人所授，曷不即以此問世？」於是，如其法以療人，能使瞽者復見天日，屏障翳以開蒙者，不可勝數。而云從又懼夫身之老且死，法或不得傳，愛取真人書紬繹，反復討究詳解，謀登梨棗，力未能達。遇諸馮隋君昆鐵，云從為言其狀，隋君慷慨捐貲，付剞劂以壽世。嗚呼！真人眼科一書，云從宣其秘，厥功偉矣，而昆鐵復廣其傳，亦不在云從下也。予遊膠西，得接云從之為人，醇正朴茂，其容粹如，其言藹如。予走四方，閱人多矣，而云從實今人中所難。受其書而讀之，抉精披奧，能發真人之所未發，以曉愚昧，洵乎不朽之絕業也，而可以與燮理者參矣。語曰：「仁人之言，其利溥哉！」云從雖不得售於時，而功已施於天下後世。後之子孫，昌大前業，固可操券以待，云從亦可以自慰也夫！</p>
<p><u>時康熙辛巳春仲上浣華亭王用汲長孺氏頓首謹序</u></p>

<h1>卷之一·元集</h1>

<h2>總論</h2>
<p>眼有五輪八廓，十二經絡，三百六十脈絡，皆一身精氣上升，入通靈空竅，而為光明。其中輪廓、經絡、表裡、陰陽、氣血、生克等論，各家眼科或編歌詩，或列像圖，詳悉明白，故不復著。至於病分內、外七十二症，是古人因形定名，示後人看症用藥，不致差錯。然往往按症用藥，小病或愈，大病難痊，即眼前雖效，久則必犯者，何也？亦以治外而不治內，治標而不治本，根源之地未明故也。所以眼科外障雖有四十九種，內障雖有二十三候，其病源皆起子肝、肺，傳於五臟六腑，達於十二經絡，隨其所感，變化多端，而七十二症之名出焉。然其中有虛、實不同，須要反本窮源，辨別明白。審得內外障，凡系實症，當除風散熱，用孫真人吹沖之法，凡系虛症，當養血安神，用杞實粥補益諸方。庶幾由博反約，不致症多方亂也夫。</p>

<h2>辨眼症虛實論</h2>
<p>眼有七十二症，大要不外虛、實二者而已。虛者眼目昏花，腎經真陰不足；實者暴赤腫疼，肝經風熱有餘。治虛症宜滋真陰、補氣血，所以益其不足；治實症宜散風熱、泄火毒，所以損其有餘。間有虛實相半之症，則滋腎、散熱，兼而用之。夫何眼疾之不瘳哉！</p>
<p>每見世之治目者，不審虛實，不究來歷，不按經絡，凡遇眼目昏花，直曰熱邪熏蒸，誤以涼藥投之，不知寒涼傷胃，生意不能上升，變成青盲等內障矣。凡遇暴赤腫疼者，直曰火盛水衰，誤以補腎之藥投之，不知補腎生肝之氣，肝氣上衝，則翳膜更生，變成玉翳浮瞞等外障矣。此皆用藥之差，而非目病之原不可治也。嗚呼！舉世迷路，混亂用藥，輕病治為重病，重病治成壞病，堂堂七尺之軀，竟作廢人，可嘆可嘆！余故為切切辨之，實症點白玉錠（方見三卷）、點掃霧丹（方見《秘訣》）。虛症不點。</p>

<h2>辨眼疼有虛實論</h2>
<p>眼疼屬火，有虛火、實火不同。暴疼為實，久痛為虛；腫起為實，細小沉陷為虛，實痛腫且脹，虛痛陷且澀。此眼疼虛實之辨也。</p>
<p>治實痛則泄其火，治虛痛則養其氣、生其血。泄火不可驟用寒涼，補氣不可遽為助長。且眼以氣血為主，養血不可損血，補氣不可動火。然氣乃陽明之火，補氣焉得不動火？蓋氣實則熱，氣虛則寒，氣平則溫。故補氣無動其火，而溫補之，何動火之有，是以止痛之法，亦不外補、泄二端矣。實疼外用拈痛散（方見四卷），內點元靈丹（方見《秘訣》），虛痛點白玉錠。</p>

<h2>辨藥宜忌論</h2>
<p>治目之法多端，切忌刀針、割肉、刺血、生硇生信諸般伯道。刀針易損精水，刺血易傷瞳人，信、硇中毒入深。且敗血之藥固當戒，涼血之藥亦不過多。敗血藥多，而生黑暗之疾患；涼血藥多，而生青黃之障翳。是木賊、蒺藜之類，雖止痛除風，能傷肝與腎，可宜佐用，不宜久服，密蒙、穀精之類，雖能明目，止可暫用為君，佐以養血和陽，方可通行。</p>

<h2>辨熱症有虛實氣不同論</h2>
<p>大抵眼熱之症，有虛熱、實熱、氣熱之不同。苟一概視之，而昧昧從事，則熱閉於中，精光因而失神。今分指其詳，大約虛則生寒、實則生熱，補泄之法，宜按症參之。</p>
<p>虛熱者，乃新病後失保養，或房事勞傷，虛耗元陽，相火炎上，熏蒸脾胃，以致兩目赤澀，羞明怕光。其目惟赤而不腫，故治法以血分為主，滋腎為佐，兼除胃熱，使邪火下降。此治虛熱之法也。</p>
<p>實熱者，其人稟氣厚，或飲酒過多，或怒氣衝上，或動心火。心火既動，火剋金，金剋木，以致兩目赤腫難開，故治法宜泄心、平肝氣、涼血為主。此治實熱之法也。</p>
<p>氣熱者，時氣也。其疾多發於三伏秋後之際，人不謹慎、感天地邪熱之氣，以致暴發赤腫，如火刺痛，熱淚流溢。治法宜發散降火之劑為主，先用白芍、柴胡、乾葛等類，次養血之藥繼之。此治氣熱之法也。</p>
<p>虛熱點白玉錠、點元靈丹（方見《秘訣》）；實熱點梨汁膏（方見三卷）、掃霧丹。洗用小棗兒（方見三卷）。氣熱點賽寶丹（方見一卷）、賽空青（方見二卷）。</p>

<h2>辨五輪病源用藥論</h2>
<p>夫兩眼角紅絲穿入白珠如線者，乃心火克肺金也。當用柴胡、黃連、菊花以瀉心火，肺金自得其平。</p>
<p>白珠紅赤灌入黑睛，乃肺金克肝木也。當用桑白皮、枳殼、黃芩以瀉肺火，肝木自得其平。</p>
<p>黑珠凸出脹痛，兩胞紅腫難開，乃肝木克脾土也。當用赤芍、膽草、生地、麥冬以瀉肝火，脾土自得其平。</p>
<p>兩胞腫，黑珠下陷難開，是脾土克腎水也。當用梔子、石膏以瀉脾土，腎水自得其平。</p>
<p>三症俱先點白玉錠，次點元靈丹，有云點至寶丹（方見三卷）。</p>

<h2>辨五輪生克論</h2>
<p>五輪者、金、木、水、火、土也。相生則無病，相剋則有病。</p>
<p>何謂相生？如肺屬金為氣輪，腎屬水為水輪，肝屬木為風輪，心屬火為血輪，脾屬土為肉輪。金生水。水生木，木生火，火生土，土生金，金復生水，生生不絕，何病之有？</p>
<p>何謂相剋？若五臟不平，郁發心火，克於肺金，肺金克肝木，肝木克脾土，脾土克腎水，腎水克心火，心火復克肺金，剋剋不已，萬病生焉。</p>
<p>治法須明生克之理，自然藥到成功。故五輪、八廓，各屬一經，治疾先詳根源，然後對症加減。</p>

<h2>辨心火克肺金白珠生赤絲論</h2>
<p>五輪分部云：白睛屬肺。凡白睛生紅絲，皆因心火克肺，肺經積熱無處消散，隨肺之經絡上入於目，遂生紅絲，盤結於白睛。延及二載，即長白脂皮一層，將紅絲瞞著；脂皮外又長紅絲一層，如此數層，其病成矣。</p>
<p>初見紅絲時，宜利小便，令心火由小便而出，心與小腸為表裡也。邪火既去，肺不受侵矣。若病止在肺經，未入於肝經，間用寒涼藥亦無妨，以烏睛尚未生雲翳也；點掃霧舟、至寶舟，用《秘訣》吹沖法。</p>

<h2>辨肺金克肝木黑睛生翳膜論</h2>
<p>五行生剋云金剋木。肝屬木，肺屬金，木受金傷，枯燥生火，肝上因生脂膜如豆腐皮，黏延纏擾不清。熱毒隨肝之經絡上升於目，而生紅絲，自白睛而入黑睛，睛上雲翳如稱星，如絲縷，如梅花，時長時退，甚至遮蔽瞳人。</p>
<p>治法宜服發散、和解之藥，清熱退翳為妙。</p>
<p>合觀二症，黑白珠上未生翳膜，肝、肺上先生翳膜，如何鉤割得？先點掃霧丹，次用《秘訣》吹沖法，點賽寶丹（方見《秘訣》）。</p>

<h2>辨眼內生雲翳用涼藥難退論</h2>
<p>目不因火則不病，是火為受病之源也。</p>
<p>雲翳因火而生，退雲翳又不可遽然清火。何也？心火積久，白珠生雲翳，肺經一團熱血也；肺毒蘊深，入肝經，烏珠生翳，肝經一團熱血也。此時誤用寒涼，將熱血冰住不得流通，經絡阻塞，雲翳赤絲死於眼睛上，為不退之翳，俗名為冷翳是也。治法當相其虛實，活血養血，發散清火，緩緩治之可也。夫雲翳猶之舟也，火猶之水也，舟以水來，亦以水去，若先徹水，舟落泥中矣。雲翳因火而生，還借火而退，火與雲翳一齊退，是良法也。點掃霧丹、至寶丹，亦用《秘訣》吹沖法，點賽寶丹。</p>

<h2>辨眼珠生翳膜滋腎更甚論</h2>
<p>世之眼科，遇人眼症，無論虛實，輒用寒涼之劑，久而不愈，又用補腎之藥。以為腎水不足，火因上行，宜補腎水。殊不知腎乃肝之母，補腎生肝之氣，肝氣上衝，腦鬥下墮，翳膜轉生，為病更甚。往往治目用滋腎明目丸，助火上升，正坐此弊。</p>

<h2>辨退紅絲雲翳有先後次第論</h2>
<p>夫眼內紅絲是雲翳之根，雲翳是紅絲之苗。紅絲滿目，各有經絡。若不循經絡，一概用退翳之藥，則不效矣。</p>
<p>如翳自內眥而出，手太陽、足太陽病也，宜服羌活勝風湯加蒼朮、蔓荊子；翳自銳眥而入，客主人斜下者，足少陽、手少陽、手太陽之病也，加膽草、藁本。人參，翳自目絲而下，足厥陰、手少陰病也，倍加柴胡、黃連；翳自抵過而上，手太陽之病也，加五味子、木通。各按經絡加減，自然隨手奏效。</p>
<p>須欲退雲翳，先退紅絲，看那一經紅絲先到，開手退後到的。三年之絲紫紅色，二年之絲木紅色，一年之絲鮮紅色。先退鮮紅，次退木紅，後退紫紅。按經施治，自有奇功。勝風湯方見真人《秘訣》。既有云翳紅絲，用《秘訣》吹法並點法。</p>

<h2>辨眼中雲翳未退不宜先利大小便論</h2>
<p>眼當暴發腫痛、熱氣炙人時，紅絲雲翳未生，宜利大小便，火由大小便而去，令火有出路，不上攻於目，則病除矣。若到紅絲雲翳已生，開手遽然用涼藥通利大小便，寒涼冰住雲翳，即成錮疾。往往見治目者，不論翳障有無，開手即用瀉火之劑，以致寒涼傷胃，生意不上升，諸病生焉，且僅雲翳不退已哉？初用梨汁膏，次用白玉錠，末用掃霧丹點。</p>

<h2>辨治年久眼病先補氣血論</h2>
<p>經云目得血而能視，是血之精粹上注於目而為明也。病久，過用寒涼，傷其脾胃；過於發散，耗其精華。以致氣血不能流通，雲翳遂不能去。治年老或日久雲翳，必先補氣養血。氣血足，雲翳自然活動易退。血不足，固是目不得血也；火盛血耗，亦是目不得血也。不宜點。</p>

<h2>辨眼珠下陷風輪有痕不作虛論</h2>
<p>閱各家眼科所載，有蟹睛突出者，有旋螺高起者，人人皆知為有餘之症。至於全珠下陷，庇小有凹痕者，不知其為有餘，誤用補藥，以火助火，火氣太盛，耗卻神膏，致眼珠全壞者有之。至於風輪上有凹痕如豆大，或如瓜子大，俱有餘之症，不可不知。當用發散之劑。蟹睛、旋螺不敢點平下去，乃敢點下陷有痕等症，用白玉錠、元靈丹點。</p>

<h2>辨瘡毒上攻於目白睛有結胞論</h2>
<p>按瘡毒上攻於目，結毒於眼，病不同。眼症生紅絲雲翳，時長時消。瘡毒結翳如胞，堅硬不退，輕則昏花，重至如盲。急宜散除邪熱，須看胞自何經而來，當服羌活勝風湯加減治之。有傷寒出汗而愈者，有解毒毒盡而愈者，種種不一，點元靈丹、掃霧丹。</p>

<h2>辨瘰癧毒氣上攻於目白睛有瘀血論</h2>
<p>此症眼有瘀血，堆積於白睛上，四周比黑睛高起。治若稍緩，血滿睛珠，便成危症。宜服羌活勝風湯加破瘀藥治之，眼愈而瘰癧亦愈。此症不腫不疼，只是血絲一片，突兀驚人也。除賽寶丹、老膜散外，各點藥俱宜點。</p>

<h2>辨眼無雲翳視物昏暗風輪枯黃肝血少論</h2>
<p>按：此症肝血少也。風輪屬肝，如烏睛黑色，微帶淡黃，影影耀耀，光彩可觀，是肝血足也，若枯黃繞睛，內里澄清，看見黑毛或蜓蚰，如線圈在瞳人，是肝血枯也。肝血既枯，膽汁亦虧，瞳人或散大，或焦小，自然昏花。宜先用四物湯加腎之藥；次用地黃丸等劑。肝血足，膽、腎兩經亦足，視物自明矣。若誤服寒涼，便成青盲之病，慎之慎之！不宜點。</p>

<h2>辨金井中腎水不滿神光短論</h2>
<p>按：金井者，在黑睛中間，一個小圈如胡椒大，是膽汁約束神水，一條黃線。若腎水足，則金井滿；腎水少，則金井虧。神水不足，焉能照物？法當養肝血以滋膽，清肺金以生水，則愈矣。先吃杞實粥（方見二卷）、四物湯加枸杞子、五味，地黃湯加枸杞、五味子。不宜點。</p>

<h2>辨瞳人散大肝血少膽汁遊走論</h2>
<p>此症由陰精、腎氣兩衰，相火邪行無制，火熱熏蒸膽汁，膽汁虧損，遂致神光散大。亦有腦疼致瞳子散大，暴怒致瞳神散大，頭風、痰厥致瞳子散大，食辛辣、炙爆過多致瞳子散大，種種不一。大約因風、火、氣、痰散大者，宜用《元機啟微》所載濟陰地黃丸收小，再用地黃明目丸，腎虛散大者，先服四物湯加枸杞、五味子，次用地黃湯加枸杞、五味子，瞳人自收小矣。無論虛實，宜服千金磁朱丸，不宜點，點則失明。</p>

<h2>辨腎水不養神膏神膏干論</h2>
<p>神膏乃目中包涵之膏液也。由膽中精汁積成，涵養瞳神者。膏中一點黑瑩，是腎、膽所聚之精華，能照萬物。如血不滋膏，神膏干矣。故滋膏須以養肝血為主。白睛有赤絲等症，當清肺火，使不克肝，肝家無火消耗，於以養血無難矣。先服四物湯，加滋腎藥，次服地黃湯，加養血藥；再用地黃明目丸。不點。</p>

<h2>辨眼見五色花論</h2>
<p>眼見五色花者，內虛也。蓋因腎水不足，君、相二火反來侵水，水火激搏，諸影變幻，隨各臟所受之邪，因臟現形。見黃色者，土之邪火侵也，見紅花者，心之邪火侵也；見青藍等花者，木之邪火侵也。如水照物，各有其形。人身中有君火、相火、化火，群火侵水，總由腎水失散之故。治法急宜收斂為妙。大約腎經之水，弱不能配火，邪火侵犯腎水，是以見五色花也。先吃杞實粥，次用四物湯養肝血，再用地黃湯滋腎水。不點。</p>

<h2>辨眼見黑白花結成一定花樣隨眼珠上下往來遮瞳神論</h2>
<p>見黑白花者，因偏正頭疼，日久有此症，內障之實也。初病時，視覺微昏，漸睹空中有黑花，如垂蟻、懸珠、蠅飛、蝶舞，如銀釘、銀絲、水銀珠子，連串不斷；形如掃帚，如羅網，如屋上灰塵，結線數條不斷；又如揚場麥糠，塵土自天而下，結成黑白一定花樣：遂眼珠不定，遠看則大，近看則小。因循日久，翳遮瞳人，不見陽光。宜用孫真人吹沖之法，揭盡肝、肺凝結翳膜，方有補益，若泛投除風散熱、滋補腎水之藥、百無一效者也。外無雲翳不點。</p>

<h2>辨眼中神光自現論</h2>
<p>人有自見神光，眼前如電光閃掣，甚如火焰霞明，時發時止，與瞻視有色之一定者不同。此乃陰精虧損，孤陽飛越，而神光欲散，久則失明。宜補腎水、寧心神。火不妄動，光自消除矣。宜服生、熟地各二錢，白芍、當歸、麥冬、茯神各一錢五分，五味子三十粒，生甘草六分。水煎空心溫服。不宜點。</p>

<h2>辨眼黑夜睛明論</h2>
<p>此症謂夜間開目，倏忽看見火光，如燈頭、香頭，時有時無，金黃撩亂。此腎水不足，虛火上炎，以致目之神光失序，蕩揚不定耳！宜服地黃丸，原分兩，加遼五味烘乾兩半，肉桂去皮、不見火一兩。蜜丸桐子大。每服三錢，空心鹽湯下。不點。</p>

<h2>辨眼中神膏神水神光真血真氣真精皆滋目之液論</h2>
<p>神膏，即睛珠中包涵瞳神者，外有堅殼數重，中則清脆，內包黑稠神膏一函是也。</p>
<p>神水者，由三焦發源，先天真一之氣所化，在目中不可見也。</p>
<p>神光者，目中自視之精華，原於命門，通於膽，發於心，火之用事也。</p>
<p>真血者，肝中升運於目，輕清之血，乃滋目經絡之血也。</p>
<p>真氣者，目絡往來生動之氣，乃先天真一發生之原陽也。</p>
<p>真精者，先、後二天元氣所化之精汁，先起於腎，次施於膽，而後及乎瞳神也。</p>
<p>凡此數者，皆滋目津液。人少壯，滋目之液盛，則目明；衰老，滋目之液減，則目昏暗。往往見治者，針刺血出，以致傷目。豈知目中有神膏、神水、神光、真血、真氣、真精為何物乎？愚者欣受而不悟，可嘆可嘆！</p>

<h2>辨眼珠脹硬如石黑珠偏向鼻骨內不見瞳人論</h2>
<p>此症是氣血壯盛，熱毒深蘊，兩便不利，火毒無處消散，壅勝於上，攻衝日久，目絲牽急，將瞳人正面番於內，內面轉於外，凶危異症也。急宜發散風熱，通利三焦，開導兩便，庶堅硬消，而目珠正，瞳人如舊矣。或有日久出膿而愈者，亦有爆出目珠，流血傷目者，須早治之。宜白玉錠泡水洗，至寶丹泡水洗。</p>

<h2>辨眼疼甚烏睛高起如黑豆或似峰窩白皮尖出眼皮外論</h2>
<p>此症是肝火太盛，蒸傷膽汁，膽汁遊走，火入腎經，無處消散，所以黑睛瞳人突出，堅硬難消。又或有白薄皮尖突，如棗核尖舒出眼外，內包惡水者。趁火毒未消，發散清火，和血解毒，緩緩調治之可也。若氣血定而經絡冷，則為不治之症矣。白玉錠多加水泡洗，當用真人吹沖揭障之方，則熱散平復矣。</p>

<h2>辨暴發赤腫疼過用寒涼下元虛冷又用參桂補養下元壯健雲翳錮蔽不退當用何藥論</h2>
<p>此症雲翳高厚，堆積瞳人上，籠罩不開。先服杞實粥調養胃氣，胃氣壯，自然生氣生血，氣血之精粹上升於目，鼓動邪熱，使錮蔽雲翳活動；再服四物湯加減，令氣血流動充足，仍用羌活勝風湯發散，即點掃霧丹，雲翳漸退。至於老翳厚膜難退，再用豬肝脯，真人吹沖法，即全愈矣。如發紅即以寒涼降之，不惟雲翳不退，熱毒逼住在經絡中不得出，將來毒入神膏，為終身疾矣。點掃霧丹，吹沖時點賽寶丹、引神丹（方見二卷）。</p>

<h2>辨女子癸水行後又不行眼目紅腫生雲翳赤絲手指足拘攣論</h2>
<p>此症因心火克肺金，肺金克肝木，肝火盛，血少無以滋筋，筋拘攣不伸、是以有此症。當先服羌活勝風湯，點掃霧丹，再用瀉青丸，清肝火、養肝血，則手足不拘攣，而目病痊愈矣。點白玉錠、元靈丹、掃霧丹，至寶丹，或點或多加藥泡水洗。</p>

<h2>辨眼病者性急不能耐久半途而廢論</h2>
<p>大凡雲翳之生也，由肝、肺積熱年久，然後上升於目，結成紅絲、雲翳等症。此病非朝伊夕，豈能鹵莽奏效。治斯病者，有點法，有歇法，有服藥之日，有不服藥之日。服藥、點藥是去邪熱；不服、不點是扶正氣。且肝、肺上雲翳之根，要先用孫真人吹沖之法除去，眼中紅絲、雲翳方可漸退。此須俟以日月，次第施治，所謂王道無近功也。往往見病者惜小利慾速成，以致半途而廢，難曰天命，實人為之耳！</p>

<h2>辨醫者急收功遺後患論</h2>
<p>眼症到二、三年，已成錮疾，先扶正氣，後去邪氣，非歲月之功不能告成。每見世之治目者，用刀剪磨蕩之法，去其雲翳，服寒涼降火之藥，逼住熱毒，速於取效，而終身之病根由此成矣。此固無高明指教，亦好利之心為之也。殊不知有心留病，甚於庸醫殺人，獲罪冥冥，禍延子孫。業斯道者，可不慎輿！</p>
<p>上三十二段，從孫真人《秘訣》中，經歷五十餘年變化出來，作為俗論，以指迷路，令病者斟酌用藥，共登光明之域，無負孫真人傳方之意，則幸矣！云知眼科則未也。</p>

<h1>卷之二·亨集</h1>

<h2>老年眼症</h2>
<p>孫真人秘傳，治少年、中年氣血壯盛者，屢有奇效。若年老日久，氣血衰弱，外而翳膜遮睛，內而瞳神昏暗者，俱不能治。</p>
<p>至丙辰年，遇江左熊飛張公，授余治老年眼科書一冊。凡遇老年諸症，按方加減調理，果有奇驗。因刻以廣其傳，為返老還童之一助云。</p>
<p>夫人之有目，如天之日月。若雲霧干於空中，則日月之光蔽矣。人之眼目昏暗，亦邪干空竅，而清明之光塞耳。</p>
<p>經云：肝開竅於目，目得血而能視。肝木不平，則目病矣。今之治目者，遵《銀海》、《龍樹》等書，講五輪、八廓之說，分五行生剋之論。內服之藥，用除風散熱、行氣活血者居多；外治之法，用金、石、片、麝者居多。輕則點洗，重則磨蕩，甚則針刺。如此治法，施之少年氣血充實者，猶獲其效；若年衰日久，氣虛弱者，則為瞽矣。何也？內服除風之藥過多，則榮衛枯燥；行氣太過，則真氣耗散；活血太過，則真陰散而不聚，外點太過，甘石性燥而耗血，金石損肌肉而堅凝，片麝味香而散氣。加之磨蕩，則傷血肉，針刺則損元氣。以致靈竅痞塞，氣血耗散，絡定珠陷。惜哉！</p>
<p>不思《內經·靈樞》言目病者無多語，只云肝開竅於目，目得血而能視；天明則日月不明，邪干空竅等語，並無五行生剋之論。《素》、《難》目病，皆屬肝者，言其本也；《銀海》等書，言五輪、八廓者，言其標也。蓋肝屬木，在卦為巽，木勝則心火有餘，風火交作，氣血沸騰，而成蟹睛、旋螺、胬肉攀睛等障矣。如初發紅腫，疼痛不已，宜除風散熱之劑。若日久不痛，又非此法所能治也。是腎水不足，不能癊養心火，亦徵氣血之精粹不能上注於目，而成青盲昏暗內障矣。治法宜補肝滋腎，引神通竅為主。前外障日久，雲翳不退者，亦用此法。常見治目者，雖用補藥而不能效者多矣，只說內障及年老日久，不能全復光明，無如之何也矣。</p>
<p>丙辰年，余在汶陽朱太守衙內，有女目病，黑睛白翳，堅硬若冰，朝暮點磨，而弗能奏效。因請江左張君字熊飛者至，其治法無不神明乎《內經》之旨，真發前賢之所未發，不越月而獲效七、八。予欲求此方濟世，張君慷慨盡泄元機於予，則世之無瞽目，賴有此也。各治法開後：</p>
<p>一張君之法，先通竅而後補。補中觀其氣血、寒熱加減，佐以明目退翳之藥，內外夾攻，令藥氣不斷，而兼養神，神靜則陰生，陰生則目明也。</p>
<p>一論退翳之法。翳者乃目中通靈之竅閉塞，氣血、津液凝而不行，結聚以成雲翳。先宜通竅為主，竅通則氣血流行，補養退翳之藥方能入也。</p>

<h3>開竅引</h3>
<p>好石菖蒲（君）　南穀精草（臣）　枸杞子（臣）　菊花（佐）　有火加小青為使，如無以玄參代之。</p>
<p>水煎，食後服，日二次。觀目中雲翳厚薄，藥劑大小，量度用之。忌鐵，恐傷肝也。藥俱宜酒洗，取上行入目也。內服五、七劑。外用熏洗之劑，開其毛竅。</p>

<h3>熏洗湯</h3>
<p>石菖蒲　地錦草　菊花　各等分，煎湯。先以熱氣熏之，後溫而洗之，內外攻之五、七日。通竅之後，宜補養其精血。夫精血必借胃氣生，胃乃五臟六腑之原，開發神機之本。必先調胃氣，宜服杞實粥（方見《秘訣》）；次補其肝、腎，腎乃瞳神之本，肝乃精光之原。宜用：</p>
<p>豬肝脯</p>
<p>豶豬肝一具，不用水洗，竹刀切片。</p>
<p>南穀精草（二兩酒洗）　枸杞子（七錢酒洗）　甘菊花（一兩酒洗）</p>
<p>如有紅絲加黑參，酌紅絲多少加之。如紅絲、雲翳不退，用真川椒四十九粒，徐徐添之，眾藥合一處，用黑瓷罐一個，一層藥一層肝，肝上撒秋石末，如此三、四層，入黃酒兩、三盅，封固，不透氣，重湯蒸熟候冷，去藥存肝，日吃三、四次，並湯飲之。秋石研極細，一錢或二錢，先調入肝內亦可。老年或中年氣血兩虛者，加八物湯同煮。</p>
<p>氣血兩虛，昏朦不識道路，又感弱症，元氣不復，加十全大補湯同煮。</p>
<p>數年不通路，尚見燈火日月者，六味地黃料加枸杞子、全當歸、牛膝、菊花同煎。吃三、五具後不見光明，是氣不能行血，或血虛脾虛，又加十全大補湯同煎。氣障者，加石菖蒲、香附米（醋炒一兩），同煮。老年不加。</p>
<p>血貫者，加石菖蒲、歸尾、赤芍、紅花、蘇木各三錢，同煮。老年不加。</p>
<p>有云翳，加蟬蛻、木賊、烏魚骨各五錢，同煮。</p>
<p>目中有翳，其目必癢，或悶，不用手揉擦。宜用：</p>

<h3>菊花煎</h3>
<p>菊花（君）　菖蒲（臣）　白礬（使生用）　三味煎湯，浸真青絹搽之。</p>
<p>若雲翳自根而退，必待目中神光外射，方退雲翳，久閉覆神光，必引而方出。宜用：</p>

<h3>引神丹</h3>
<p>穀精草（君）　石菖蒲（君）　枸杞（臣）　草決明（佐）　黑參（臣）　菊花（臣）　蟬蛻（使）　木賊（使）　共用河水煎湯，瓷罐內封固，重湯煮黏為度，入好金墨末、白礬末，調勻曬乾，再研廣膠水些須作錠。用人乳磨點，一日三、四次，或五、七次。大約墨一錠，生白礬一分，生用。</p>
<p>若目內雲翳退時，必有熱氣目眵，宜外引。</p>

<h3>賽空青</h3>
<p>生白礬（三分）　雪梨（一枚去皮核）</p>
<p>先將礬研細末，入梨片內共研，絹濾過成汁，加淨蜜些須，攪勻，封固，重湯煮過，待冷，掃眼皮內外，日五、七次。</p>
<p>原方盡此。神而明之，存乎其人。在高明者，變通善用之可也。不宜執泥，亦不可妄作聰明。欲用此法，必先回避生客，戒言語，絕嗜欲，清淡口味，閉目靜養，庶幾成功。不然，通竅之後，激動邪火，沸騰於上，將虛靈之孔阻滯，是求明而反暗也。慎諸！</p>

<h3>開竅引解釋</h3>
<p>（馬化龍注）</p>
<p>治老年眼症，宜滋補之藥。此方下手不用滋補，先用開竅引者，何也？</p>
<p>夫人之眼病日久，邪熱、痰涎，瘀滯於肝、肺二經，漸漸將通明孔竅閉塞，經絡壅滯，氣血不能升降流行，以滋於目，則諸病生焉。先用開竅之藥，將道路通利，使無阻礙。虛者還其虛，靈者還其靈，一用滋補之劑，即可直入腎經，助出光明。是以開竅為先，蓋竅通而補養流行之藥始能入也。若竅不開，遽用補益之藥，反助邪火上行，其病更甚。</p>
<p>大約開竅引與真人吹沖之法，殊途同歸。往往用補不效者，皆關竅不開之故耳！如外無雲翳、赤絲，內無邪氣障蔽，只昏花視物不真者，純虛之症也。此通靈之孔竅毫無阻滯，服地黃、枸杞、參、耆之類，便可直入腎經，轉暗為明，不必用開竅之藥。</p>

<h3>熏洗湯解釋</h3>
<p>開竅之後，即用熏洗湯者，何也？</p>
<p>夫人五臟六腑、十二經絡、三百六十脈絡，其精氣皆上注於目而為明。今內外之邪氣鬱結既久，自然頭目中清陽之竅為邪氣所乘矣。必用熏洗之藥，將輪廓中之積滯，使其活動；經絡中之結熱，使其通利。蓋瞳神中有大絡五，心、肝、脾、肺、腎是也，久病則五絡皆病矣；有中絡六，膀胱、大小腸、三焦、膽、包絡是也，久病則六絡中皆病矣。必須熏洗以開毛竅，令經絡中邪氣外散，正氣好復。</p>

<h3>杞實粥解釋</h3>
<p>內、外之竅既開，宜用參、耆、熟地等藥，以滋補之。今不用此，而用杞實粥者，何也？</p>
<p>夫人一身氣血之精粹者，上注於目而為明。老者氣血兩虛，精粹者不能上升於目。食杞實粥以養胃氣，胃乃五臟六腑之源，開發神機之本；欲養精血，先調胃氣，胃氣一壯，自然生氣生血；氣血既足，則氣血之精粹者，自然上升於目，而光明生焉。</p>

<h3>豬肝脯解釋</h3>
<p>用杞實粥以養精血矣，又用豬肝脯者，何也？</p>
<p>肝為腎之子，補腎之藥，由肝而入，肝開竅於目也。肝血以養膽汁，膽汁以滋神膏，神膏涵養瞳神，神水滋潤神膏。肝、膽、神膏、腎水，俱以肝血為主，故《內經》云目得血而能視也。至於精生氣、氣生神、神生明、明能視物，指肝、膽、神膏、腎水、真血、真氣、真精而言，不是獨言腎水，可見肝為瞳神之本，腎乃精光之源也。</p>

<h3>菊花煎解釋</h3>
<p>目中有翳，其目必癢或悶者，何也？</p>
<p>虛竅中結的翳膜積滯，俱活動外轉，而風邪之阻於毛孔者皆開，是正氣鼓動著邪氣，經絡中不能容，自然作癢、沉悶。煎此藥浸青絹搽之，則毒氣外散，經絡中空洞無滯，光明不期然而復，所謂清陽上升，濁陰下降者，此也。</p>

<h3>引神丹解釋</h3>
<p>老年青陽之氣微弱，邪氣易於上升而行空竅，感之輕而為外障，感之重而成內障。外障則蔽錮日久，內障則瘀塞日深，以致經絡之虛者實矣，通者塞矣。前用杞實粥養精血，豬肝脯補肝腎，五臟六腑、十二經中清明之氣將上升於目，此時神光微弱，不能外射，必用引神丹引之，則精華漸復，神光自露。此引神丹之妙用也。</p>

<h3>賽空青解釋</h3>
<p>始用熏洗湯以開毛竅，收功用賽空青者，何也？</p>
<p>食杞實粥以養胃氣，胃能生氣生血，氣血生則經絡活動。吃豬肝脯以開肝竅，而腎經之光明自通。到此時，正氣復而邪氣自退，經絡中所積陰濁、汙穢之熱毒，時時流出，而為眵淚，便是雲翳化開的。火盛則眵稠結而為翳，火退則結翳散而為稀眵。如眵涎黏泥於眼內不爽，必用賽空青時時洗之，解熱氣，散眵淚，就有羞明怕日的光景，而病已愈矣。收功之後，用加味地黃丸等，以固其本。</p>
<p>加味地黃丸（滋陰固精明目，不寒不熱，平和之劑，久服延年。）</p>
<p>懷地（八兩）　茯苓（乳拌曬乾）　山萸肉（酒洗焙乾）　山藥（各四兩）　澤瀉（三兩）　菊花（三兩）　枸杞子（六兩焙乾）　丹皮（三兩酒洗炒）　遼五味（焙二兩半）　蒺藜（炒去刺三兩）</p>
<p>除地黃膏另入，余為細末，煉蜜為丸，如桐子大。每三、四錢，空心淡鹽湯下。虛甚，地黃丸內加紫河車一具，酒洗淨，盛瓷罐內，酒水煮爛，搗如泥，或焙乾為末入丸。晚服天王補心丹。二方朝夕並服，久久自效。今之治目多補腎，不知補心，然心者君火也。</p>

<h3>加味明目地黃丸</h3>
<p>熟地（八兩）　山藥（六兩飯上蒸過）　山萸（六兩去核淨蒸）　澤瀉（三兩面煨）　茯苓（三兩去皮）　全當歸（六兩酒洗）　菊花（二兩用白的）　丹皮（三兩）　枸杞（六兩去蒂淨酒洗炒）</p>
<p>蜜丸桐子大。空心鹽湯下五、七錢，自二錢起，漸加至四錢，恐動火也。如不能收全功，晚用十全大補湯（或丸）亦可。用此者，恐氣不能行血，或血虛脾虛，一概補之。</p>

<h1>卷之三·利集</h1>

<h2>時行赤眼症</h2>
<p>幾時行病目，少年宜服寒涼等藥。若中年後氣血不盛，用寒涼過多，眼疾愈後，神光漸減，視物昏花。以其寒涼傷胃，精氣不能上升也。惟醉仙湯補瀉相兼，老少可服，終身無昏花之患。</p>
<p>醉仙湯（治時行害眼，並暴發赤腫，疼痛凶狠，如觸睛者。）</p>
<p>羌活　防風　柴胡　蒼朮　白芷　川芎　當歸　生地　黃柏（鹽水炒）　牛膝　杜仲（鹽水炒）　香附（醋炒）　白茯苓各一錢，如小兒各七分。有云翳加白蒺藜、木賊。羞明加天麻。</p>
<p>上用醇黃酒一碗，水一碗，煎至一碗，加食鹽七釐，攪勻溫服。如能飲者，再飲酒兩、三杯，使血行可速愈也。</p>
<p>按時症有熱勝、風勝、風熱俱勝之不同，不可不辨。</p>
<p>熱勝者，火壅壯熱，頭目昏眩、疼痛，熱氣上衝，口舌唇焦，咽喉腫痛，心神煩躁，多渴，小便赤澀，大便秘滯。熱勝之病如是也。</p>
<p>風勝者，頭痛鼻塞，腫脹涕淚，腦巔沉重，眉骨痠痛，外翁如雲霧、絲縷、秤星、螺蓋。風勝之病如是也。</p>
<p>風熱俱勝者，風毒上攻，暴作目赤，腫疼難開，癮澀，眵淚交流。風熱俱勝之病如是也。</p>
<p>三症大同小異，用藥易混，須要分晰明白，然後用藥。若是熱勝，先清火；風勝，先除風；風熱俱勝，除風散熱兼之。庶幾濁陰之氣盡降，而清陽之氣盡復，如無病之初矣。</p>
<p>世之目疾，久而不愈，或愈而復犯者，皆由初時用藥之誤，以致臟腑鬱結，濁氣上升，清陽失位。至一年則目昏暗，二年則生紅絲，三年則長翳障，延及五、七載，則失光明，亦知皆由初時用藥之差也哉！</p>
<p>熱勝者，先服洗心散，次服瀉熱黃連湯。</p>

<h3>洗心散</h3>
<p>大黃（煨）　生甘草　當歸　白芍　麻黃　荊芥穗（各六錢）　白朮（五錢）</p>
<p>共為末，每服三錢，生薑、薄荷湯煎下。</p>

<h3>瀉熱黃連湯</h3>
<p>黃連（酒炒）　黃芩　膽草　生地　柴胡（各一錢）　升麻（五分）</p>
<p>水煎食後熱服。</p>
<p>風勝者，先服羌活勝風湯，次服降火明目丸。</p>
<p>羌活勝風湯（方見真人《秘訣》），降火明目丸（方見後）。</p>
<p>風熱俱勝者，先服洗肝散，次服瀉青丸。</p>

<h3>洗肝散</h3>
<p>薄荷葉　當歸　羌活　炙甘草　生大黃（酒淨）　防風　炒梔仁　川芎（各等分）</p>
<p>上為末，每服三錢，食遠滾湯調下。</p>
<p>瀉青丸（方見貞集）</p>
<p>兩目赤腫疼，舌上生瘡、出血，舌硬疼，大眥赤，此心火上炎也。宜服：</p>

<h3>瀉心湯</h3>
<p>當歸　白芍　生地　梔子（炒）　黃連（各一錢）　犀角薄荷　甘草（各五分）　麥冬（二錢）</p>
<p>水煎食遠溫服。宜點白玉錠、元靈丹。</p>
<p>鼻孔乾燥，生瘡腫痛，白珠赤，此肺火也。宜服：</p>

<h3>瀉肺湯</h3>
<p>黃芩　連翹　赤芍　麥冬　桔梗　桑白皮　梔子　荊芥　薄荷（各一錢）　生甘草（三分）</p>
<p>水煎，食遠溫服。點白玉錠、賽寶丹。</p>
<p>兩目紅腫疼痛、此肝火也。宜用：</p>

<h3>瀉肝湯</h3>
<p>當歸　川芎　白芍　柴胡　連翹　梔仁　青皮　膽草（各一錢）　生甘草（五分）</p>
<p>水煎，食後溫服。點掃霧丹、至寶丹。</p>
<p>口燥煩渴，舌上生瘡，胃中積熱，消穀善飢，此脾火也。宜服：</p>

<h3>瀉脾湯</h3>
<p>白芍　黃連（酒炒）　連翹　薄荷　梔子（炒）　石膏（煅各一錢）　甘草（三分）</p>
<p>水煎，食後溫服。點元靈丹。</p>

<h3>止疼消腫湯</h3>
<p>（治暴發赤腫，二三日、五七日用。）</p>
<p>黃連　生地　赤芍　歸尾　赤茯苓　防風　細辛（各一錢）　大黃　桑白皮（各二錢）　甘菊　穀精草　生甘草（各三錢）</p>
<p>為末，每服三錢，煎服。</p>

<h3>清熱消腫湯</h3>
<p>（初得病宜服，日久則熱毒隱於經絡中生翳。）</p>
<p>黃連　當歸　生地　赤芍　梔子　川芎　黃芩　大黃　甘菊　木賊　白蒺藜　木通　甘草（各等分）</p>
<p>水煎，溫服。</p>

<h3>明目流氣飲</h3>
<p>（倒睫赤爛，時行暴赤，悉治之。）</p>
<p>當歸　川芎　生地　赤芍　甘菊　膽草　防風　防己　甘草　香附　決明子　密蒙花　木賊　或加黃連</p>
<p>水煎，食遠服。除賽寶丹外，一切點藥俱用。</p>

<h3>除翳明目湯</h3>
<p>（雲翳初結，翳嫩火盛者用。）</p>
<p>黃連　生地　赤芍　歸尾　赤茯苓　防風　細辛　大黃　桑白皮（各二錢）　南穀精草　甘菊花　生甘草（各三錢）</p>
<p>水煎，食遠服，點掃霧丹。</p>

<h3>明目退翳湯</h3>
<p>（目病已久，帶紅絲、浮翳、薄霧者用。）</p>
<p>生地　黃連　木賊　甘菊　膽草　石膏　鬱金　旋覆花　青葙子　白蒺藜　蟬蛻各等分</p>
<p>水煎、溫服。點元靈丹、至寶丹。</p>

<h3>導赤散</h3>
<p>（治心經實熱）</p>
<p>木通（二錢）　生地（三錢酒洗）　丹皮（二錢酒洗）　犀角末（一錢）　生甘草（一錢）　加竹葉（九片）</p>
<p>水煎服。洗小棗兒、礬連膏。</p>
<p>心經實熱者，兩大眼角有外現紅絲，漸入白睛，瘀血堆積不散。洗賽空青、白玉錠。</p>

<h3>瀉肺湯</h3>
<p>（治肺經實熱）</p>
<p>地骨皮（二錢）　桑白皮（一錢蜜炙）　麥冬（二錢）　山梔（一錢）　甘草（七分）</p>
<p>上水煎服。點元靈丹、至寶丹。</p>
<p>肺經實熱者，白睛有赤絲盤結，漸入烏睛，小眼角或有瘀住青筋，是毒之甚也。如大便乾，加大黃、芒硝。</p>

<h3>瀉肝湯</h3>
<p>（治肝經實熱）</p>
<p>膽草（一錢酒洗）　當歸　黃芩（酒炒）　甘草（各一錢）　車前子（炒）　木通（各八分）　澤瀉　生地（各七分）</p>
<p>上水煎服。</p>
<p>肝經實熱者，黑睛生赤絲，烏氣籠罩瞳人，服此藥退肝火，再服羌活勝風湯，發散瞳人上烏氣，痊愈矣。</p>

<h3>瀉黃散</h3>
<p>（治脾經實熱）</p>
<p>防風　藿香　陳皮　白芍　甘草（各一錢）　大黃（七分）　石膏（煅三錢）</p>
<p>上水煎服。</p>
<p>脾經實熱者，上下眼皮內生瘡如粟米，或盤筋瘀血等。用手法除後，服此藥。</p>

<h3>洗心涼血湯</h3>
<p>（此降火之劑，壯盛者服。）</p>
<p>當歸　赤芍　生地　黃連　菊花　木通　枯芩　梔子（各五分）　甘草（四分）</p>
<p>上水煎熱服。</p>
<p>眼痛極紅者，用二、三劑。皮腫加大黃。</p>

<h3>瀉脾散</h3>
<p>（暴赤腫痛，一劑而愈）</p>
<p>蒼朮　枳殼　赤芍　歸尾　川芎　黃連　柴胡　香附　甘草（各五分）　大黃　朴硝（各一錢）</p>
<p>上水煎，溫服。</p>
<p>眼赤腫疼，大便堅實者，用二、三劑。</p>

<h3>清肝明目消障湯</h3>
<p>（專治風熱紅腫、雲翳。）</p>
<p>川羌活（九節者中曲者不用）　真川芎　防風　赤芍（酒炒）　黃連　青葙子　白茯苓　九製大黃　柴胡（各四分）　生地（一錢）　全當歸　草決明　車前子　蒼朮　蔓荊子（各六分）　甘草（三分）　密蒙花（蜜水拌曬酒炒）　燈心（三十寸）</p>
<p>水二鍾，煎八分，食後熱服。目病綿纏，三、五月風熱不退，遂生浮翳，多用此藥。</p>

<h3>明目和血飲</h3>
<p>（眼有翳膜，兼風火。）</p>
<p>硃砂　當歸　生地　川芎　赤芍　菊花　防風　防己　香附　甘草　龍膽草　草決明（各四分）　有翳加密蒙花、木賊。</p>
<p>上水煎，將藥倒出，硃砂細末加入，食遠溫服。</p>
<p>病至一年，雲翳遮瞳人，風火隱於經絡中，血虛不能鼓動邪氣外散，多用此方。</p>

<h3>加減四物湯</h3>
<p>（病似虛弱）</p>
<p>生地　當歸（各一錢五分）　川芎　白芍（各一錢）　穀精草　白蒺藜（炒）　海螵蛸（各八分）　久病羞明，加天麻一錢。</p>
<p>上水煎熱服。血虛翳膜不退，多用此藥。</p>

<h3>清胃降火湯</h3>
<p>（眼皮紅腫）</p>
<p>防風　薄荷　赤芍　黃連　山梔（各八分）　石膏（煅一錢五分）　黃柏　黃芩（各八分）　甘草（三分）</p>
<p>水煎，食後熱服。</p>

<h3>立效飲</h3>
<p>（一切實熱，裡急後重，臟毒下血。酒毒，膈熱，肚疼，赤眼。）</p>
<p>黃連（二錢一半生用、一半酒炒）　黃芩（二錢）　芒硝（一錢）　薄荷葉（三錢）　大黃（三錢一半生用、一半酒炒）　連翹（一錢）　梔子（二錢）　甘草（五分）</p>
<p>水煎，食後溫服。</p>

<h3>防風羌活湯</h3>
<p>（痰勝入於經絡，壅塞通明孔竅。清氣不得上升，漸生雲翳。）</p>
<p>防風　羌活　細辛　黃芩　南星　半夏　白朮　甘草（各等分）</p>
<p>水煎，食後溫服。</p>

<h3>前胡散</h3>
<p>（咳嗽，涕唾稠黏，心胸不利，時煩熱沖攻目赤。）</p>
<p>前胡　桑白皮　川貝母　杏仁（去皮尖炒各一兩）　麥冬（一兩五錢）　甘草（炙二錢半）</p>
<p>合為散，每服四錢，姜一片，水煎溫服。</p>

<h3>清咽寧肺湯</h3>
<p>（咽喉不清，火氣上炎。）</p>
<p>桔梗（二錢）　山梔（炒）　黃芩　桑白皮　甘草　前胡　知母　貝母（各一錢）　陳皮　半夏（各八分）</p>
<p>水煎，食後服。</p>

<h3>香蓮湯</h3>
<p>（眼夜痛甚）</p>
<p>香附米（童便浸炒六錢）　旱蓮草（五錢）　當歸（二錢）　一方用夏枯草更妙。</p>
<p>水煎服。</p>

<h3>芍藥清肝散</h3>
<p>（眵多眊矂緊澀羞明，赤脈貫睛，臟腑秘結。）</p>
<p>白朮　石膏（煅）　川芎　防風　桔梗　滑石（各三錢）　前胡　赤芍　荊芥穗　蘇薄荷　甘草（各二錢五分）　柴胡　黃芩　知母　山梔仁　羌活（各二錢）　芒硝（三錢五分）　大黃（四錢）</p>
<p>共末，每三錢，水二鍾，煎一盅，食遠熱服。</p>

<h3>加減雙解散</h3>
<p>（暴赤腫痛，白珠血片，甚至瘀血包珠。）</p>
<p>防風　荊芥　薄荷　桔梗　麻黃　黃芩　山梔　連翹　當歸　芒硝　大黃　赤芍　滑石　石膏（各一錢）　川芎　甘草（各五分）　白朮（八分）</p>
<p>姜三片，水煎服。</p>
<p>大便滑，去大黃、芒硝，加澤瀉：有汗，去麻黃，加桂枝；咳嗽，加桑白皮、杏仁；痰多，加栝蔞、貝母；兩脅疼，加柴胡、青皮；食少，加陳皮、茯苓；身熱加羌活；腳腿疼，加防己、木香；脾虛，倍加白朮，去石膏。</p>

<h3>散風清火湯</h3>
<p>（肥人眼症，乃是風熱。）</p>
<p>防風　羌活　荊芥（各一錢）　酒芩（二錢）</p>
<p>水煎服。</p>

<h3>歸芎湯</h3>
<p>（瘦人眼症，乃血少兼熱。）</p>
<p>當歸（一錢五分）　川芎（一錢）　防風　荊芥　菊花　生地（酒洗各八分）　玄參（七分）</p>
<p>水煎服。如久痛昏暗，亦以當歸、熟地為君，防風。菊花類佐之。</p>

<h3>四物龍膽湯</h3>
<p>（老人目赤暴疼）</p>
<p>當歸　川芎　芍藥　生地（各二錢半）　羌活　防風（各一錢半）　防己　膽草（各一錢）</p>
<p>共為片，水煎，加酒半鍾，溫服。大虛者加熟地二錢。</p>

<h2>四季犯發眼症</h2>
<p>大凡眼疾愈後，時常發作者，是經絡中餘毒未淨，當用羌活勝風湯，外點白玉錠、掃霧丹。有每年按四時發作者，是因病時不治，捱熬忍待自愈，風熱客於經絡，欲戒有犯，觸其經絡，遂致深入，又不治之，致邪正擊搏，不得發散，如花如潮，至期而發，過期又愈，久而不治，必變重症矣。須按時調治，百無一失。如發於春者，毒在肝經也。宜服：</p>

<h3>洗肝散</h3>
<p>歸尾（酒洗）　川芎　蘇薄荷　甘草（減半）　生地　羌活　膽草　防風　炒梔仁　大黃（煨）　各等分</p>
<p>共為末，滾白水調下三錢。</p>
<p>發於夏者，毒在心經也。宜服：</p>

<h3>洗心湯</h3>
<p>黃連　生地　木通　炒梔子（各一錢五分）　歸尾　菊花（各一錢二分）　甘草（三分）</p>
<p>水二鍾，煎八分，溫服。</p>
<p>發於秋者，毒在肺經也。宜服：</p>

<h3>泄肺湯</h3>
<p>羌活　玄參　黃芩（各一錢五分）　桔梗　地骨皮　大黃　芒硝（各一錢）</p>
<p>水煎，食遠服。</p>
<p>發於冬者，腎水虛不能制火也。宜服六味地黃丸。</p>

<h2>眉骨疼眼症</h2>
<p>凡眉稜骨痛甚，此肝虛而痛也。宜服生地黃丸。</p>
<p>有目不能開，晝靜夜劇，此痰勝而痛也。宜服導痰丸、二陳湯、青州白丸子。</p>

<h3>香附散</h3>
<p>（治目珠、眉稜骨及頭半邊痛。）</p>
<p>夏枯草（三兩）　香附（二兩）　甘草（四錢）</p>
<p>共為末，每錢半，清茶調服下。嚥下則疼減半，五服全止。</p>

<h3>黃柏散</h3>
<p>（治眉骨風熱痛）</p>
<p>黃芩（酒洗二錢）　白芷（一錢）</p>
<p>共為末，臥時清茶調服。</p>

<h3>二烏散</h3>
<p>（治眉骨冷風入疼）</p>
<p>川烏　草烏（二味俱童便浸炒去毒）　細辛　甘草　羌活　黃芩（各等分）</p>
<p>共為末　每二錢，茶下。用除風湯熏頭法，方在後。</p>

<h2>火盛眼症</h2>
<p>醫眼要訣，全在臨症審病，因淺深、病形、大小、病勢輕重，遂機更變，用藥不可執一。</p>
<p>如兩大眼角生胬肉，赤絲貫白珠，是心之病形也。其因在小腸，用八正散利小便，而心火退矣。以心與小腸為表裡也。</p>
<p>如白睛赤色，紅絲漸入黑睛，是肺之病形也。其因在心，用導赤散瀉心火，而肺火退矣。以心火克肺金也。</p>
<p>如黑睛生白翳，時隱時顯，是肝之病形也，其因在肺，用泄肺湯泄肺火，而肝火退矣。以肺金克肝木也。餘臟用藥皆然。</p>
<p>若病在心經，誤用泄肺之藥，徒損肺氣，而心火益甚；病在肺經，誤用瀉肝之藥，徒傷肝氣，而肺火益熾。以致臟腑不平，鬱而生涎，濁氣上升，漸生翳膜，纏綿日久，病勢成矣。非湯劑、點藥所能治療，須用真人吹沖之法，方可痊愈。</p>

<h3>育神夜光丸</h3>
<p>（明目、去翳障神效。）</p>
<p>當歸（三兩）　遠志（一兩五錢）　牛膝（酒洗二兩五錢）甘菊　枸杞子　地骨皮（各二兩）　菟絲子　生地　熟地（各三兩）</p>
<p>煉蜜為丸，空心鹽湯下三、四錢。</p>

<h3>清肺湯</h3>
<p>（治眼多紅絲，熱在心肺者。）</p>
<p>桑白皮（蜜水泡三兩）　地骨皮（去骨生甘草水泡三兩）　麥冬（五兩）　梔仁（二兩炒）　川黃連（用紅花二錢酒煎湯泡炒八錢）　車前子（微炒八錢）　熟大黃（二兩）</p>
<p>上為末，菊花煎湯，丸如綠豆大。早飯後或臨臥，滾白水下三錢。紅退為度。</p>

<h3>膽連丸</h3>
<p>（治火眼如神）</p>
<p>干綠豆粉（四兩為末）　黃連（細末四錢）</p>
<p>二味盛於盅內，用猔豬膽四個，取汁入末內，加麥面和勻，丸綠豆大。每日十五丸，鹽湯下。服三日，再不必服。如口瘡，噙一丸，一日即愈。</p>

<h3>降火明目丸</h3>
<p>（治目病發散過多，則火不降。）</p>
<p>黃連（酒炒）　黃芩（炒）　黃柏（炒如褐色）　梔子（連皮搗炒）　甘菊（各等分）</p>
<p>為末，清水滴為丸，綠豆大。每服五、七十丸，白湯下。</p>
<p>以上三方，降火之藥也。若生翳者不宜。</p>

<h2>痰盛眼症</h2>
<p>凡目病皆起於火，火盛則生痰，痰積久則胸隔不利，濁氣上升於目，輕則昏花，重則雲翳。宜服：</p>

<h3>清氣化痰丸</h3>
<p>橘紅（二兩去白）　枳殼（麩炒）　黃芩（酒炒）　半夏（微炒）　赤茯苓（各四兩）　梔仁（炒四兩）　桔梗（二兩五錢）　滑石（飛四兩）　歸尾（酒洗四兩）　生甘草（二兩半）　連翹（二兩半）　天花粉（四兩）　薄荷葉（二兩）　荊芥穗（二兩）</p>
<p>共為末，水為丸　綠豆大。食遠茶下三、四錢。腸胃燥實，加酒炒大黃、芒硝各一兩。</p>

<h3>噙化丸</h3>
<p>（治眼胞腫硬、疼痛難忍。）</p>
<p>當歸　川芎　木賊　天麻　干菊花　白蒺藜　黃連　藁本　羌活　獨活　青葙子　褚實子　荊芥　蒼朮　甘草　夜明砂（各等分）</p>
<p>為末，煉蜜為丸指頂大。噙化，早晚各一服。一日腫消，二日疼止，三日痊愈。</p>

<h3>噙化玉液丹</h3>
<p>凡眼赤昏，少神采，必咽喉痰涎不利，尤宜清痰火。</p>
<p>五倍子一斤（打開去穰蟲）　用真六安茶四兩，熬濃汁，浸半月後，看倍子上出白毛，倒出倍子，研如泥。每倍子一兩，加白硼砂二錢，真川貝母四錢，真柿霜四錢，兒茶三錢，粉草三錢，烏梅二錢，薄荷二錢。各為末極細，搗五倍子內，煉蜜為丸、元眼核大。每取一丸噙化，立刻痰化、涎清、目明。點眼時噙化此藥。</p>
<p>時眼害久，有浮翳，不敢點重藥，用：</p>

<h3>連礬膏洗</h3>
<p>細梨一枚，去核，入黃連末二錢，生白礬末一錢，仍用梨蓋，竹釘釘住，外以麵餅包住，入乾飯上蒸三次，取出，去面，將梨搗爛，濘汁入碗內，露一宿，任意點之，浮翳清火如神。</p>
<p>風爛眼皮及內外障，宜用：</p>

<h3>碧霞丹洗</h3>
<p>當歸（酒洗）　沒藥（去油各二錢）　血竭　白丁香　硼砂（火煅）　冰片　麝香　皮硝（馬牙者佳）　乳香（去油各五分）　銅綠（一兩五錢為衣）　川連（三錢）</p>
<p>共為末，黃連膏為丸，如芡實大。用一丸入茶鍾內，新汲水化開，不時洗。一丸可洗二十日，大病不過一月，小病半月，爛眼、冷淚洗三日即效。泡藥水不可多，洗干再添水。</p>
<p>惡眼疼極，宜用：</p>

<h3>歸連湯</h3>
<p>當歸　黃連　黃芩（各一錢）　銅綠　皮硝　白礬（各七分）</p>
<p>以絹袋盛，煎湯洗。</p>
<p>又方：</p>
<p>黃連（五分切碎）　膽礬（少許研細）　薑汁拌黃連內，焙乾，用人乳半茶鍾，將末入內蒸熟，有黃沫，取起，冷定。乳清一滴入眼，熱淚湧出，不出一日效。洗時忌菸，洗完忌風。</p>

<h3>清熱光明液</h3>
<p>（洗點眼腫爛）</p>
<p>秋白大梨一枚，去皮，截上少許作蓋，將核去淨，入黃連末三錢，仍用梨蓋之，四圍竹釘釘住，入碗內，重湯煮爛，濘汁，銅勺內熬，不必太老，冷定，加冰片三分，硼砂煅六分，攪勻，骨簪點之。眼甚腫爛，熱氣炙人，不敢用點洗者，用此立效。</p>

<h3>白玉錠</h3>
<p>上號爐甘石，裝入銀鍋，上蓋瓦片，大火煅，起金花，鉗出，浸入童便內片時，澄去童便，又以黃連煎汁，將石飛一、二次，至次日去連水，紙封曬乾，再用群藥取汁入內。群藥開後：</p>
<p>當歸　川芎　蔓荊子　草決明　柴胡　羌活　防風　薄荷　密蒙花　荊芥穗　白芷　黃芩　蒼朮　木賊　檳榔　蟬蛻　菊花　甘草　每甘石一兩，群藥各五分。煎汁澄一夜，入甘石內，攪數十遍，紙糊碗口，曬乾為丹頭。</p>

<h3>配藥法</h3>
<p>制過爐甘石（七錢）　升過硼砂（三錢）　大冰片（七分）　真麝香（二分）</p>
<p>共研細，煉蜜為錠，黏成條，官粉為衣，裝入鵝翎內，封固。</p>

<h3>煉蜜法</h3>
<p>新竹竿截筒，將白蜜裝入內，濕豆腐皮封口，再加鹽面封固，布裹，麻繩紮緊，煮一晝夜，取出調藥。</p>

<h3>點法</h3>
<p>如時行熱眼，或暴發赤腫疼痛，癮澀羞明等症，取藥條麥粒大一塊，手心內用骨簪蘸冷水和勻，不稀不稠，點入眼角內，每晚點二、三次即愈。如小兒一歲至七歲眼症，取藥一條入酒鍾內，加水些須，化乳汁，新羊毛筆蘸藥汁，洗眼內外，一日夜數次，洗完避風。</p>
<p>兼治牙疼：取藥半條，手心內和開，抹牙上，其疼即止。</p>
<p>耳底流膿出血：取藥半條，入酒杯內，清水些須泡開，灌耳內，即止。</p>
<p>蠍蜇蛇咬、口瘡，俱抹患處，其效如神。</p>

<h3>至寶丹</h3>
<p>（點風火流淚、紅爛、雲翳、腫脹、疼痛等症。）</p>
<p>當歸　生地　白勺（各五錢）　梔子　黃連　薄荷　白菊花（各一錢五分）　防風　白芷　荊芥　黃芩　連翹（各二錢）　細辛（一錢）</p>
<p>用砂鍋水煎，去渣，再熬汁一茶鍾，入蜜五錢熬成膏調後細藥為錠子，或為小丸子。</p>
<p>爐甘石（一兩煅紅），入黃連水淬飛過，加冰片、熊膽各三分，琥珀（生研）、象牙（煅）、珍珠、乳香、沒藥（去油）各四分，真麝香一分五釐。共為細末，入爐甘石同研極細，用前膏調成小丸子。點時將藥一粒，淨水在手掌和勻，銀簪或骨簪點入兩眼角。暴發過三日，點一次即好。風火爛眼等症，點三晚即愈。雲翳點好為度。</p>

<h3>老膜散</h3>
<p>（點老翳厚膜、不通道路重病。）</p>
<p>硇砂（明亮潔白刺舌者，瓦上微焙五分）　龍骨（極白者，火煅研細三錢）　巴豆（去油，甘草水煮過一分）　白丁香（用白尖四分）</p>
<p>共研極細末，每晚點二、三次。</p>
<p>歌曰：老膜經年不放光，浮雲蔽日有何妨，巴豆去油甘草煮，硇砂龍骨白丁香。</p>

<h3>九製大黃</h3>
<p>（退火如神）</p>
<p>川大黃（十二斤，打作小塊，加好黃酒十斤，浸泡透，煮酒曬乾）　桑葉（十斤，取汁，浸大黃，透蒸曬）　槐葉（十斤）　黃芩（一斤）　姜（一斤）　生甘草（一斤）　廣陳皮（一斤）　車前子（一斤）　黃連（八兩）</p>
<p>上俱取汁，浸泡透蒸，曬極干，備用。</p>
<p>凡眼赤疼流淚，頭痛面熱，咽喉腫痛，痰火上炎，不咽津唾，飲酒過多，口瘡舌硬，肚疼嘔吐，兩便不利，取豆大一塊，口內噙化，火由小便而出，立愈。</p>
<p>牙痛，指頂大一塊咬著，立刻痛止。</p>
<p>小兒大腸結閉，數日不通，用二、三錢打爛，冷水泡化。</p>
<p>色欲後，頭目不清，早飯後噙化，濁陰降，清陽升，終身目不昏花。</p>
<p>大凡發背惡瘡，皆五臟積毒所致。常噙此物，十二經絡清淨，一切熱毒不生。</p>
<p>按：時症照前醉仙湯諸方治之。如日久翳重，照十大將軍吹沖法治之。</p>
<p>虛症照杞實粥滋補法治之。</p>
<p>又有因他病而成眼症者，不敢用真人吹沖法，不宜用滋補法，當照後方斟酌用之，庶病無遺漏。傳方者，無遺憾也。</p>

<h2>頭痛眼症</h2>
<p>偏正頭痛日久，漸成內障，宜用：</p>

<h3>除風湯</h3>
<p>細辛　殭蠶　白芷　藁本　羌活　獨活　細茶花粉各等分，蔥頭七個，水煎，先熏後吃。</p>
<p>血虛眩暈用八物湯。</p>

<h3>熏頭疼方</h3>
<p>兒茶　川芎　菊花（各二錢，重者三錢）</p>
<p>水二大碗，煎數沸，趁熱氣熏頭疼處。上用夾被蓋頭，藥冷仍矇頭，睡避風。輕者熏一、二次，重者熏三、四次。</p>
<p>按：頭疼，賊風乘虛入腦也，日久變為內障，人往往忽而受害，宜早治之。</p>
<p>痰盛，頭眩、目昏者，宜用：</p>

<h3>天麻湯</h3>
<p>天麻　白蒺藜（炒）　廣陳皮（鹽制各等分）</p>
<p>水煎，食後服之。</p>

<h2>鵲目症</h2>
<p>鵲目宜用：</p>

<h3>糯米丸</h3>
<p>絲瓜葉煮爛，糯米粉調蒸，作餅如圓眼，吃數日即愈。</p>
<p>決明夜靈散（治目至夜則昏，燈火不明。）</p>
<p>夜明砂（另研二錢）　石決明（醋煅研二錢）　羯羊肝（一兩生用）</p>
<p>藥末和勻，竹刀切肝作二片，將藥末撒肝上，二肝合之，麻扎住，勿泄氣，砂罐內淘米泔煮，肝熟，臨臥並煮肝水吃之。</p>

<h2>大病後眼症</h2>
<p>病後目昏，或婦人生育出血過多，精氣不足，目昏。先服仙人靈應膏，次服補益之劑。</p>

<h3>靈應膏方</h3>
<p>懷生地（三兩）　熟地（三兩）　麥冬　當歸（各四兩）　枸杞（五兩）　黃耆（四兩）　懷牛膝（五兩酒蒸三次）　白朮（土炒四兩）　葳蕤肉（三兩）　白茯苓（二兩）　真阿膠（三兩炒）</p>
<p>上共為細片，煎汁去渣，加煉蜜六兩，熬至滴水成珠，入罐內水浸一夜，取起封好。每日不拘時吃三、五茶匙，或白湯、元眼湯、參湯調服。</p>

<h2>勞目力後眼症</h2>
<p>讀書勞目力，年過四十，陰氣半衰，神光漸減，兩目昏花，宜用：</p>

<h3>枸杞膏</h3>
<p>枸杞二、三斤，肥大赤色者，乳拌蒸爛搗膏，加水煎，濘出濃汁，去渣加蜜，又熬成膏，貯瓷器內。每早用滾水，或元眼、參湯，調下四、五茶匙。夏月加遼五味子二兩。</p>

<h2>物撞眼症</h2>
<p>目珠被物撞打，疼痛，眼眶停留瘀血，宜用：</p>

<h3>地黃膏</h3>
<p>生地（二兩）　黃連（一兩）　黃柏　寒水石（各五錢）　歸尾　紅花（各二錢）</p>
<p>先將地黃酒浸，搗爛如泥。和藥成餅，攤油紙上，貼目上下。</p>
<p>此膏不但撞損瞳人可用，凡風熱赤目、淚出等眼，皆可用。其性涼血，其功行血，且去熱毒。內服：</p>

<h3>決明散</h3>
<p>石決明　草決明　防風　赤芍　柴胡　白芷（各八分）　菊花（一錢二分）　川芎　羌活　蒺藜　紅花（各五分）　當歸（一錢）　梔子（六分）</p>
<p>加姜皮些須，燈心二十寸，水二鍾，煎八分，食遠溫服。</p>
<p>目因物撞，瘀血蓄內，致生翳障，疼痛昏花。先用通血散，次服經效散、還睛丸。</p>

<h3>通血散</h3>
<p>生地　赤芍　當歸（各一錢）　川芎　防風　蘇木（各六分）　荊芥（八分）　菊花（一錢五分）　紅花　炙甘草（各五分）</p>
<p>蔥頭二個，水二鍾，煎八分，食後溫服。</p>

<h3>經效散</h3>
<p>大黃　白芍　連翹　粉草（各一錢）　當歸　柴胡（各二錢）　犀角末（五分）</p>
<p>水二鍾，煎八分，食後溫服，然後服還睛丸。</p>

<h3>還睛丸</h3>
<p>草決明　當歸　菊花（各一兩）　木賊　蟬蛻（各二錢）　川芎（三錢）　青葙子（炒）　防風　山梔　白蒺藜（炒）　白芍　粉草（各五錢）</p>
<p>上為細末，煉蜜為丸，如桐子大。每服三十丸，麥冬湯下。</p>
<p>打傷頭目，十分重症，宜用：</p>

<h3>除風益損湯</h3>
<p>當歸　白芍　熟地　川芎（各一錢）　藁本　前胡　防風（各七分）</p>
<p>水二鍾，煎一鍾，熱服。</p>
<p>傷眉骨，加黃連；傷目中，加柴胡；傷額、交巔、耳上角及腦，加蒼朮；傷耳前後、耳角，加枳殼；傷頭角、耳前後，加膽草；傷額角及巔，加五味子；有熱，加黃芩：大便乾加大黃。</p>
<p>神水散大者，不治。如初散，用四物湯加五味子、枸杞、人參、棗仁等藥收之。</p>

<h2>小兒通睛</h2>
<p>小兒雙眼通睛呆轉，欲看東則見西，宜用：</p>

<h3>牛黃膏</h3>
<p>牛黃（三錢）　犀角（一錢）　赤芍（一錢）　防風（二錢）　菊花（二錢）　天竹黃（五分）　佛面金（五張）　佛面錢（五張）</p>
<p>上為細末，煉蜜為丸如桐子大。每服七粒，薄荷、薑湯下。</p>

<h2>爛眼生蟲症</h2>
<p>爛眼有蟲，其癢不可當，宜用：</p>

<h3>取蟲膏</h3>
<p>覆盆子葉，不拘多少，為末，水調成膏，攤紗絹上，貼眼片時，其中即出。</p>
<p>大凡眵淚、熱淚、風淚，俱點掃霧丹。惟秋冬迎風流淚，並時常流冷淚，此虛淚也。用：</p>
<p>枸杞子八兩，搗爛裝絹袋內，入大瓶中，加好黃酒一瓶，待七日，每早飲熱酒兩、三鍾，獖豬肝竹刀切，蒸熟，蘸花椒鹽吃，淚即止。</p>

<h2>風砂入目</h2>
<p>風砂入目，黏睛不脫，疼痛癮澀流淚，閉目不開，日久生雲翳，赤絲瘀血堆聚。先用細海浮石削如筆頭，安筆筒上，蘸涼水打磨。瘀血積滯散了，然後服通靈散。眼皮內砂粟，並珠上厚翳，俱用此打磨。</p>

<h3>通靈散</h3>
<p>瞿麥（一錢）　歸尾（酒洗）　赤芍（酒洗）　羌活　生地（酒洗）　花粉　石決明　草決明（炒）　黃芩（酒炒）　黃柏（各八分）　紅花（酒洗）　蘇木（酒洗各五分）　甘菊（一錢二分）　連翹（七分）</p>
<p>水二鍾，煎八分，燈心作引，食後熱服。</p>

<h2>白睛黑色症</h2>
<p>眼白珠俱黑者，血憒也。藥力到，呆癡少許，即愈。宜用：</p>

<h3>五靈散</h3>
<p>五靈脂（三錢）　</p>
<p>研末，熱黃酒調服。</p>

<h2>痰喘眼症</h2>
<p>胸膈痰喘有聲，兩目昏暗，宜用：</p>

<h3>五仙湯</h3>
<p>（老年虛弱不用）</p>
<p>細茶（一兩五錢）　山楂　甘草　廣陳皮（各五錢）　老薑（一錢）</p>
<p>水二鍾，煎八分，溫服。片時即吐出痰涎，重則三、四碗，輕吐一、二碗。吐完以小米湯止之。五、七日後，痰火清，目自明矣。如痰不淨，停幾日再服。</p>

<h2>睡起目赤症</h2>
<p>睡起目赤良久者，此血熱也。用生地黃半斤，搗汁，浸粳米半升，三浸三曬，每早煮粥一盞，食之即愈。</p>

<h2>痰火昏蒙症</h2>
<p>膈上有痰，目赤昏，用蛤粉一兩，青黛一兩，為末，蜜丸圓眼核大。每一丸噙化，痰化為水，目自明。若痰不清，火不降，日久生翳，外障成矣。凡眼病皆因痰起，痰因火生也。</p>
<p>眼病遺精者，用六味地黃丸全料，加牡蠣燒紅。水淬，為末，焙乾。一料用三兩。</p>

<h2>傷寒後眼症</h2>
<p>傷寒後餘邪不散，上走空竅，兩眼癮澀，赤脹，生翳，羞明，頭疼，宜用：</p>

<h3>人參補胃湯</h3>
<p>人參　白茯苓　炙甘草　白朮　黃耆　羌活　獨活（各六分）　白芍　生地　澤瀉（各三分）　熟地　歸身（各四分）　柴胡　防風（各五分）</p>
<p>白水二鍾，煎一鍾，熱服。四物湯、地黃湯俱宜服：</p>

<h2>出血過多眼症</h2>
<p>出血過多目病，男子衄血、便血，婦人產後崩漏，亡血過多，致睛珠疼痛，羞明酸澀，眼睫無力，眉角太陽痠痛，宜用：</p>

<h3>芎歸補血湯</h3>
<p>生地　天冬（各四分）　川芎　牛膝　白芍　炙草　白朮　防風（各五分）　熟地　歸身（各六分）</p>
<p>上劑水鍾半，煎七分，溫服。噁心不進飲食，加生薑二片。</p>

<h2>婦人胎前產後眼症</h2>
<p>按婦人胎前、產後眼症，與常人不同，須要審症的而用藥當，庶幾無傷胎之患。</p>
<p>夫胎前產後，多因氣血失調，以致燥火上攻，陰陽澀滯，或風邪乘虛，邪火浸淫，七情抑鬱，六氣引邪。不必拘泥其翳膜紅疼，胎前惟有安胎清火，產後惟用養榮散郁。二症須分有餘不足，在氣分宜調之、散之，在血分宜補之、行之，自然愈矣。最避硝、黃等峻藥破血及泄小腸之藥。用疏利藥不妨。以婦人懷孕，其病多有餘也。孕婦心脾壅熱，目赤，咽膈渴苦，煩悶多驚，用：</p>

<h3>簡易知母飲</h3>
<p>赤茯苓　黃芩　麥冬　知母　桑白皮　黃耆　細甘草（各等分）</p>
<p>上劑白水煎，加竹瀝一小鐘，碗內沖服。</p>
<p>孕婦蘊熱，兩目忽然失明，宜用：</p>

<h3>天門冬飲子</h3>
<p>羌活　白茯苓　人參（各八分）　天冬　知母（鹽水炒）　茺蔚子（各一錢二分）　防風　五味子（各五分）</p>
<p>水煎熱服。</p>
<p>孕婦外感風寒，渾身壯熱，眼花頭昏，宜用：</p>

<h3>芎蘇散</h3>
<p>紫蘇　川芎　麥冬　白朮　陳皮　乾薑（炒黑）　白芍（各一兩）　甘草（五錢）</p>
<p>上為末，每五錢，姜三片，蔥頭三段，水煎溫服。</p>
<p>孕婦頭眩目昏，視物不見，蓋因胎氣有傷，熱毒上攻所致。宜服：</p>

<h3>消風散</h3>
<p>石膏　防風　菊花　羌活　川芎　荊芥　白芷　當歸　羚羊角　甘草　大豆黃卷（炒各等分）</p>
<p>為末茶調，食後下三錢。</p>
<p>孕婦臨月，兩目忽然不見，燈火不明，頭疼目昏，肝臟壅熱。宜服：</p>

<h3>天冬飲子</h3>
<p>天門冬　知母　茺蔚子　防風　遼五味　茯苓　熟地　羌活　荊芥　川芎　白芍　當歸</p>
<p>上劑加姜三片，水煎，食後服。</p>
<p>胎前產後，眼內血翳流出，爛弦、羞明。雲翳等症，宜用：</p>

<h3>生黃散</h3>
<p>生地　茺蔚　川芎（各二錢）　桑白皮　當歸　菊花（各一錢）　赤芍（四錢）　薄荷　黃芩　黑參　白芷　木賊　防風（各三錢）　桔梗（六錢）　知母　甘草（各五錢）</p>
<p>上為細末，清茶下三錢。</p>
<p>產後目病者，血少肝虛也。蓋產則百脈皆動，氣血俱傷，虛而不足，風邪易入。肝虛則發生之氣弱，血少而膽失滋養。精汁少，則目中精膏、氣液皆失化源，所以目症者多。</p>
<p>產後眼昏頭暈，煩渴口乾，氣少腳軟，宜服：</p>

<h3>熟地黃湯</h3>
<p>熟地（八分）　糯米（一撮）　人參（一錢）　麥冬（一錢五分）　炙甘草（五分）　天花粉（三錢）</p>
<p>姜一片，棗二枚，煎八分，溫服。</p>
<p>產後，自午後至夜，昏花不明，宜服：</p>

<h3>四物補血湯</h3>
<p>熟地（二兩）　香附米（酒製）　川芎　白芍（酒洗炒）　歸身（酒洗炒）　甘草（四分）　夏枯草（八分）</p>
<p>共為細末，食後白湯下三錢。</p>
<p>產後崩漏，亡血過多，致睛珠疼痛，經水不調等症，宜服：</p>

<h3>四制香附丸</h3>
<p>香附（八兩分四分，酒、醋、鹽、便各煮過曬乾）　黃柏（酒炒）　熟地（各一兩）　澤蘭葉　川芎（酒炒）　白芍（酒炒）　當歸（炒各兩半）　益母草（四兩忌鐵）</p>
<p>共為末，煉蜜丸桐子大。每服三錢，空心淡鹽湯下。食遠亦可服。</p>

<h2>婦人行經眼症</h2>
<p>婦人行經，去血過多，眼疼，黑眼花翳白陷，此血衰肝虛也。宜服：</p>

<h3>補血當歸湯</h3>
<p>當歸　菊花（各五錢）　川芎　白朮　細辛　茺蔚子　白芍　羌活　薄荷　大黃（各二錢）　甘草（三錢）　車前（三錢）　防風（二錢半）　白蒺藜（三錢）</p>
<p>上為末，燈心湯下（一錢五分。）</p>
<p>婦人室女，經逆上行，血灌瞳人，此血熱也。或患久，血死在目珠，而生胬肉。以通經為主，宜服：</p>

<h3>通經散</h3>
<p>當歸　生地　梔子　薄荷　赤芍　黃芩（酒洗各一兩）　大黃（八錢）　紅花（二兩）　黃連（六錢）　川芎（六錢）　羌活（六錢）　甘草（三錢）　蘇木（六錢）　木賊（五錢）</p>
<p>上為末極細，姜皮湯下二錢。</p>
<p>婦人眼酋紅，血熱逆於上也。宜服：</p>

<h3>破血紅花散</h3>
<p>川芎　紅花（各二錢）　當歸　赤芍　山梔（各一兩）　黃連（三錢）　蘇木（三錢）　枳殼　沒藥（去油）　連翹　黃芩（各八錢）　大黃（八錢）　白芷（五錢）　薄荷（六錢）　犀角（二錢）</p>
<p>共為末，姜皮湯下二錢。</p>
<p>上因他病而成眼病數條，有紅腫雲翳類外障者，卻用不的治外障藥；有昏暗不明如內障者，卻用不的治內障藥。只看病從何而起，因微知著，隨病施治。</p>
<p>如瘡毒入目，生紅絲、雲翳，宜解瘡毒也；打傷血凝，生紅絲、雲翳，宜行滯血也；傷寒後生紅絲、雲翳，宜扶正氣也：婦女逆經，血湧於目，生紅絲、雲翳，宜破血通經也。若見形像，概曰熱也，竟以寒涼之藥投之，則傷目矣。</p>
<p>如頭疼而目昏暗不明，宜除風散熱也；痰盛而目昏暗不明，宜清痰利竅也；虛弱而目昏暗不明，宜滋腎養血也；胎前產後而目昏暗不明，宜養血補肝也。若觀外貌，概曰虛也，竟以補益之藥投之，則傷目矣。</p>
<p>病症多端，難以縷指，特舉似有餘而非有餘，似不足而非不足數症，使人知所變通，而無執固之失也。</p>
<p>洗眼紅棗兒（不論年久爛弦風眼，俱可洗。）</p>
<p>皮硝一斤，滾水泡化，澄清去渣，用上號紅棗一斤，去核，入硝汁內浸一日，取出曬乾，又浸，汁盡為度。將棗兒一個，裝黃連末三分，仍舊合之，勿令泄氣。用時取棗一個，投滾水湯泡之，不時洗眼，極效。</p>

<h1>卷之四·貞集</h1>

<h2>小兒眼症</h2>
<p>按小兒目病，與大人不同。大人目病，多因憂患、惱怒、七情、色欲所致，內傷於臟腑，外發於眼目。至於小兒目病，不過胎毒、血熱之故。症既不同，治法亦異。</p>
<p>蓋小兒秉受天真不足，氣血嫩弱，間有云翳障膜，極難治療。若發散過則精氣散；寒涼多則脾胃傷。誤針則光明立失；點重則易於傷瞳。須認症真切。內服之藥，要極和平；外點之藥，勿涉猛烈。優遊漸進，調理得宜，日久自然消磨。不然，心粗手滑，鮮有不傷目者。每見嬰兒目病，自壞者十之一、二，治傷者十之八、九。余故表而出之，為世之為人父母與業斯道者留心焉。</p>
<p>小兒目赤，心經實熱也。宜服：</p>

<h3>導赤散</h3>
<p>生地　生甘草　木通　黃芩　赤芍　羌活（各等分）</p>
<p>共為末，每服二錢，燈心煎湯下。點元靈丹。</p>
<p>小兒目淡紅，心經虛熱也。宜用：</p>

<h3>生犀散</h3>
<p>生犀角末（二錢）　赤芍　柴胡　地骨皮　乾葛（各一兩）　甘草（五錢）</p>
<p>共為末，每二錢，水一鍾，煎七分，溫服。點白玉錠。</p>
<p>小兒赤眼，多淚睛疼，心躁，並熱翳、急驚、發搐等症，此肝熱也。宜服：</p>

<h3>瀉青丸</h3>
<p>當歸　川芎　防風　膽草　大黃（濕紙煨）　羌活　梔仁（各等分）</p>
<p>一方加甘草、赤芍。</p>
<p>共為末，蜜丸芡實大。每一丸，沙糖調下。點掃霧丹。治大人，每服三錢。</p>
<p>小兒目黃，脾經熱也。宜服：</p>

<h3>瀉黃散</h3>
<p>藿香葉（七錢）　炒梔仁（一兩）　石膏（煅）　甘草（各五錢）　防風（四錢）</p>
<p>上同蜜、酒微炒，為末、每二錢，水煎服。洗礬連膏。</p>
<p>小兒目無精彩，腎虛也。用地黃丸，不能吃丸藥，服地黃湯。</p>
<p>小兒鬥睛症，因誤失築打，兼倒撲，致驚風，遂使兩目鬥睛。宜用：</p>

<h3>牛黃丸</h3>
<p>（不用點）</p>
<p>牛黃　白附子　肉桂　全蠍　川芎　石膏（煅各一錢五分）　白芷　藿香（各五錢）　辰砂　麝香（各少許）</p>
<p>上為末，煉蜜丸桐子大。臥時薄荷湯化三、五丸。乳母忌口。</p>
<p>小兒疳毒患眼，閉目不開，羞明怕日及內障，宜用。</p>

<h3>生熟地黃丸</h3>
<p>（不用點）</p>
<p>生地（酒洗）　熟地　麥冬（各一錢）　當歸　枳殼　炙甘草　防風　杏仁（去皮尖炒）　赤芍（各五分）</p>
<p>加黑豆七粒，煎豆熱為度，去渣服。</p>
<p>小兒熱毒患眼，宜眼：</p>

<h3>小防風湯</h3>
<p>熟大黃　山梔　防風　赤芍　當歸　羌活　炙甘草（各等分）</p>
<p>共為末，每二錢，水煎服。點白玉錠、元靈丹。</p>
<p>小兒風毒患眼，宜服：</p>

<h3>小流氣飲</h3>
<p>蟬蛻　炙草　羌活　天麻　當歸　赤芍　防風　大黃　薄荷　杏仁（去皮尖各等分）</p>
<p>共為末，每服二錢，水煎，食後溫服。點掃霧丹。</p>
<p>小兒積毒患眼，宜用：</p>

<h3>小菊花膏</h3>
<p>黃連　黃芩　大黃　菊花　羌活　蒼朮　防風　荊芥穗（各等分）</p>
<p>上為末，蜜丸芡實大。每一丸，白滾湯下。點元靈丹、賽金丹。</p>
<p>小兒瀉後目閉，用健脾、養胃、補血、滋腎等藥。</p>
<p>小兒諸毒入目，宜用：</p>

<h3>密蒙花散</h3>
<p>蒙花（一錢）　青葙子　決明子　車前子（各五分）</p>
<p>為末，用羊肝一個，批開，摻藥在內，線扎紙包，水濕入炭火中煨，肝熟，空心吃。點掃霧丹。</p>
<p>小兒積熱上攻，血灌瞳神，宜服：</p>

<h3>車前子散</h3>
<p>密蒙花　羌活　車前子　粉草（炒）　白蒺藜（炒）　黃芩（炒）　草決明　菊花　膽草（炒）</p>
<p>各等分，共為末。每二錢，食後飯湯下。洗白玉錠。</p>
<p>小兒頭枕骨疼，閉目不開，宜服：</p>

<h3>通頂散</h3>
<p>川芎　薄荷（各五錢）　茵陳　甘草（各四錢）　朴硝（三錢，甜硝亦可）</p>
<p>上為細末，用少許，葦筒吹入鼻中，病者口含涼水一口，吹後吐水，幾次愈。點白玉錠。</p>
<p>小兒卒然驚悸，眼目翻騰，宜用：</p>

<h3>鉤藤飲子</h3>
<p>鉤藤（炙五分）　麻黃（去節）　甘草（炙各三分）　天麻　川芎　防風　人參（各七分）　全蠍（炒去毒一錢）　殭蠶（一錢二分炒）</p>
<p>水二鍾，姜三片，煎八分，不拘時服。</p>
<p>小兒頭眩，覺地屋俱轉，閉目不開，宜用：</p>

<h3>人參湯</h3>
<p>人參　麥冬　當歸　白朮　防風（各八分）　白芍　獨活　黃耆（各一錢二分）　官桂（去皮七分）</p>
<p>共為劑，水二鍾，煎八分，食遠服。點至寶丹。</p>
<p>小兒手循領，亂捻物，目直視，肝臟實熱也。宜用：</p>

<h3>瀉青丸</h3>
<p>（方見前，用竹葉湯化下。）</p>
<p>小兒因驚後，瞳人不正，宜用：</p>
<p>人參（一錢）　阿膠（糯米炒成珠各一錢）</p>
<p>水二鍾，煎七分，溫服。明日再服，效。</p>
<p>小兒卒暴中風，不省人事，目直視，痰壅塞也。宜用：</p>

<h3>牛黃丸</h3>
<p>石燕（火煅醋淬九次，飛過）　雄黃（研飛）　蛇黃（煅醋淬九次）　辰砂（研飛）　磁石（煅醋淬九次）　石綠（各一兩飛）　輕粉　牛黃　粉霜　麝（各五分）　金銀箔（一百張為衣）</p>
<p>共研極細，酒煮，麵糊為丸雞頭子大。每一丸，薄荷湯並酒磨下。</p>
<p>小兒十歲以下，一丸分作四服，蜜水磨下，四歲以下，一丸分為五服，未滿一歲，一丸分為七服。如牙關緊急不開，以物斡開灌下。洗白玉錠。</p>
<p>小兒痰涎壅塞，牙關緊急，目直視，宜用：</p>

<h3>碧霞丹</h3>
<p>石綠（煅制如前十兩）　附子尖（去皮）　烏頭尖（去皮）　蠍稍（各七十個）</p>
<p>三味為末，入石綠令勻，麵糊丸如雞頭子大。每用薄荷汁化下一丸，更入酒少許，溫暖服之。須臾，吐出涎痰，然後隨證治之。如牙關緊急，斡開灌之，立效。洗至寶丹。</p>
<p>小兒目睛瞤動，此血不足，風火內生也。宜用四物湯益其血，加柴胡、山梔清其肝。陰血內榮，則虛風自熄，目不瞤動矣。</p>
<p>小兒兩目連劄，肝經有風也，風入於目，上下左右如風吹，故目連劄也。宜用：</p>

<h3>四物肥兒湯</h3>
<p>黃連（炒）　蕪荑　神麯　麥芽（炒各等分）</p>
<p>上為末，水糊成丸桐子大。每二十丸，空心白湯下。不能吃丸，研化亦可。</p>
<p>小兒眼目癮澀，稍覺眊矂，視物微昏，內眥開竅如針，目痛，按之膿浸出。有兩目俱病者，有一目獨病者。宜服：</p>

<h3>竹葉瀉經湯</h3>
<p>柴胡　梔仁（炒）　川羌活　升麻　甘草（炙）　川黃連（各五分）　澤瀉　白茯苓　赤芍　草決明　車前（各四分）　黃芩　大黃（各六分）　青竹葉（十片）</p>
<p>水二鍾，煎一鍾，食後溫服。</p>

<h3>蜜劑解毒丸</h3>
<p>山梔仁（炒十兩）　杏仁（泡去皮尖取霜二兩）　錦紋大黃（五兩）　石蜜（一斤煉熟）</p>
<p>共為末，蜜丸桐子大。每服三十丸，加至百丸，茶湯送下。此症俗名「漏睛」、久而不治，竟枯兩目。大人亦多此症。</p>
<p>小兒初生下，眼不開者，由產母過食辛熱等物，致成斯疾。當以熊膽少許，蒸水洗眼，一日七次。如三日不開，用生地黃散。凡小兒不洗淨，則穢浸漬於目眥中，使眼赤爛，至長不瘥。</p>
<p>小兒五、七歲，目閉不開者，足太陽經為目上綱，足陽明經為目下綱，熱則筋縱，目不開。宜服：</p>

<h3>助陽活血湯</h3>
<p>炙甘草　黃耆　當歸　防風（各一錢）　蔓荊子　白芷（各五分）　柴胡　升麻（各七分）</p>
<p>水二鍾，煎一鍾，稍熱服。</p>
<p>大人眼睫無力，常欲睡閉，無疼痛而癮澀難開。此服寒涼太多，而真氣不能通九竅也。宜用此方。</p>
<p>小兒目上下睫癮起內疣，用手法除後，服：</p>

<h3>防風散結湯</h3>
<p>防風　羌活　歸尾　白芍（各六分）　紅花　蘇木（各少許）　蒼朮　白茯苓　獨活　前胡　黃芩（各五分）　細甘草　防己（各四分）</p>
<p>水二鍾，煎一鍾，食後大熱服。渣再煎。病在上睫加黃連、柴胡；病在下睫加藁本、蔓荊子。</p>
<p>此病初起，或在上眼皮內，或在下眼皮內。初如豆，如白果大，速服此藥即消。日久堅硬如石，非刀割去不消。若因循不治，長如桃，如杯，如盞，高大疼痛則傷命。大人亦有此症者，屢治過，俱以此方收功，神效。</p>

<h2>小兒痘後目症論</h2>
<p>目為五臟之精華，五臟精氣皆上注於目，故陰陽合德而為精明也。丹溪曰：目病屬風熱血少。夫痘蘊非常之熱，自里而達於外。苟氣血弱，不能逐毒外出，則毒火內蘊而血脈逆行，斯痘毒攻於目矣。</p>
<p>按小兒眼症，偶感風熱，無傷於通靈虛竅，治療尚易。至於痘毒入目，輕則雲翳遮蔽瞳人，重則烏珠突出下陷，極難調理。因將張體仁、傅仁宇、翟玉華諸前輩治療痘後眼症諸方，詳列於後，令嬰兒目病者，照驗過成方，加減服之，庶幾轉暗為明，復見天日。大約氣血未定，經絡未冷時，早治可痊，久恐不能也。為兒父母者，往往悠忽，多不留心，殊不知一時失治，即成終身黑暗之苦，豈不深可嘆哉！</p>
<p>痘後目赤腫不開，宜用：</p>

<h3>洗肝散</h3>
<p>川芎　當歸　防風　羌活　薄荷　山梔　甘草（各等分）</p>
<p>水煎，食後服。</p>
<p>睛疼昏暗，加石膏、南穀精草、綠豆皮。</p>
<p>睛有翳膜，加蟬蛻、白蒺藜。</p>
<p>實熱便秘，加大黃。</p>
<p>按川芎、當歸入肝經，養肝血。肝主乎風，防風、羌活、薄荷，皆風藥也。肝者火之母，一火動則五火俱煽而動，梔子、甘草所以清肝火也。諸藥皆滌盪之品，故曰洗肝散。洗礬連膏。</p>
<p>痘後目不赤腫疼，黑暗處則開，見陽光則淚出，癮澀難開，宜用：</p>

<h3>洗肝明目散</h3>
<p>當歸　川芎　羌活　防風　山梔　膽草　柴胡　蒙花　木賊（各等分）</p>
<p>為末，每一錢，沙糖水調下。過百日，點至寶丹。</p>
<p>按此方當歸、川芎以補其血，目得血而能視；羌活、防風以散其熱，熱退則目明；甘草、梔子、柴胡入肝經，以清肝火，肝清則目赤清；蒙花、木賊治拳毛倒刺，眼中流淚，不可少之藥也。</p>
<p>痘後翳膜遮睛，宜用：</p>

<h3>地黃散</h3>
<p>熟地　當歸　防風　蟬蛻　羌活　白蒺藜（炒）　木賊（各一錢）　黑參（五分）　南穀精草（一錢）　沙苑蒺藜（一錢）　黃連　大黃　炙甘草（各一錢五分）　犀角末（一錢）</p>
<p>共為末，每服二分，大人五分，煎羊肝湯，食後調服。點退雲散。</p>
<p>按此方涼血之藥居多，邪熱蘊於血分中者，用此清之。</p>
<p>痘後翳膜遮睛，淚出羞明，宜用：</p>

<h3>龍膽草湯</h3>
<p>膽草（五分）　菊花　白蒺藜（炒）　白芷（各三分）　防風　黃連（各二分）　蟬蛻　木賊（各四分）</p>
<p>水半茶鍾，煎兩沸溫下。點退雲散。</p>
<p>按此方邪熱見於目者，加蔓荊子（炒）、蒙花主之。</p>
<p>痘毒入目，一切翳膜，宜服：</p>

<h3>兔糞丸</h3>
<p>兔糞四兩（炒）　石決明（七孔炙一兩）　草決明（八錢）　木賊（一兩）　白芍（一兩）　當歸（五錢）　防風（一兩）　穀精草（二錢）</p>
<p>共為末，蜜丸綠豆大。每二十丸，荊芥湯下。過百日，點退雲散。</p>
<p>凡痘毒入目，成雲翳，常服兔糞一味蜜丸，即效。</p>
<p>痘後翳掩瞳人，因失調養，痘毒入目。多在收靨之時，滿面痘瘡破爛，重複腫灌，而膿血膠固，毒攻於目，或痘出太密，成就遲緩，過用辛熱之藥，亦令毒入目，或收靨後，啖辛炒之味，俗謂之干漿。以致二火相煽，亦令毒入目。生翳在白睛者，久自退。若黑晴上掩瞳人，急用：</p>

<h3>望月砂散</h3>
<p>南穀精草　密蒙花　蟬蛻（各五錢）　望月砂（一兩炒）</p>
<p>上為細末，用豶豬肝，竹刀劈破，將藥一錢，掠在肝內，水煮肝熟，飲汁食肝。</p>
<p>痘毒極深，沖攻於目，黑睛凸凹不平者，須緩緩用藥，令黑珠平復如常，再點療退翳可愈，急則不能。見三光者可治，若不見三光，是膽汁遊走，神膏枯乾，腎水與神膏混淆，為不治之症矣。</p>
<p>痘後餘毒不散，生翳障，宜用：</p>

<h3>清肝解毒退翳湯</h3>
<p>防風（五分）　白芍（酒炒六分）　柴胡（六分）　蟬蛻（淨八分）　穀精草（八分）　甘草（三分）　牛蒡子（炒碾六分）　金銀花（六分）　車前子（八分）　桔梗（炒五分）　廣陳皮（五分）　山藥（八分）　密蒙花（蜜炒六分）　青葙子（六分）　黃連（酒炒三分）</p>
<p>上加綠豆皮一錢，水二鍾，煎八分，食後熱服。忌白蘿菔、韭、蒜、胡椒、蝦米、鮮蝦、牛、羊、豬首、鵝、驢、公雞、一切海味、煎炒炙爆之物。</p>

<h3>加味平肝解毒退翳丸</h3>
<p>揀白芍（酒炒一兩）　兔糞（細研）　夜明砂（水淘淨）　白扁豆（炒各二兩）　穀精草（淨澀）　山藥（各一兩）　蟬蛻（淨六錢）　粉草蜜（水炒五錢）　草決明（鹽酒炒一兩）　黃連（酒炒五錢）　生地芡實　麥冬　密蒙花（蜜水拌炒）　人參　白豆蔻（各一兩）　木賊（蜜水拌炒三錢）　青葙子（炒六錢）　白茯苓（乳制一兩）</p>
<p>上為末，煉蜜丸，龍眼大，重一錢，早晚各一丸，滾水化下。忌口同前。</p>
<p>痘後目珠不紅，眼皮弦生小顆，甚至眼毛上發一白胞，宜服：</p>

<h3>疏風湯</h3>
<p>荊芥穗　蟬蛻　桔梗　歸尾　甘草稍（各五分）　防風　白芷（各四分）　石膏（煅一錢二分）　白芍（七分）　茯苓　連翹　蒼朮（各六分）</p>
<p>上為劑，蔥白一段，大米一撮，水二鍾，煎七分，去滓，食後熱服。點白玉錠。百日內只洗眼皮。</p>
<p>痘後目生星翳，宜服：</p>

<h3>通竅散</h3>
<p>辰砂（三錢）　珍珠　琥珀（各二錢）　麝香（一分）　瑪瑙（一錢五分）　冰片（五分）</p>
<p>上研細，若翳在右目吹左耳，翳在左目吹右耳，若兩目有翳，即吹兩耳。蓋以吹耳能通心、肺二竅也。</p>
<p>痘後睛珠突出，宜用：</p>

<h3>胎兔丸</h3>
<p>（不點）</p>
<p>胎兔（去毛，洗淨，用陰陽瓦焙乾為末，每用一兩二錢）　蔓荊子（去膜炒）　菊花（各一兩）</p>
<p>共為末，煉蜜為丸。量孩大小，不拘錢分，滾湯化下。</p>
<p>痘後神光不清，水不滋子，宜用：</p>

<h3>清解散</h3>
<p>（早服）</p>
<p>南穀精草（一兩）　石決明（煅八錢）　白菊花（洗七錢）　綠豆皮（六錢）</p>
<p>共為末，每服二錢，用大陳柿餅一個，去蒂核，米泔水鍾半，煎半乾，空心食柿餅，原汁並服。不點。</p>

<h3>補元散</h3>
<p>（晚服）</p>
<p>夜明砂（淨一兩）　真蛤粉（五錢）</p>
<p>共為末，每服二錢，用公豬肝一大片，竹刀批開，搽藥在內，米泔水煮熟，任意食之，原汁湯下。每日早晚服。過一七再服：</p>

<h3>加味地黃丸</h3>
<p>懷生地（四兩）　山萸肉　山藥　白茯苓（各二兩）　澤瀉　牡丹皮（各兩半）　菊花　麥冬　當歸（各一兩）　五味（五錢）</p>
<p>共為末，煉蜜丸。空心淡鹽湯化下，量兒大小為丸。如少年火旺，加黃柏、知母各五錢，俱用鹽水制。如目生翳，內服前藥，外用退雲散點之。</p>

<h3>退雲散</h3>
<p>紅珊瑚　珍珠　辰砂　硼砂（各等分）</p>
<p>俱生用，研細極無聲，每日點二次。</p>
<p>癍疹未滿二十一日，而目疾作，宜用：</p>

<h3>消毒化斑湯</h3>
<p>柴胡　藁本　生地黃　連翹　細辛　黃柏（酒製）　川黃連　當歸　甘草（各四分）　花粉　吳茱萸　白朮　蘇木　陳皮　乾葛根（各二分）　麻黃　防風　升麻　川羌活（各五分）　黃芩（酒製）　蒼朮（泔水制）　川芎（各三分）</p>
<p>水二鍾，煎一鍾，去渣，溫服。</p>
<p>痘後雙目開而復閉，宜用：</p>

<h3>解熱飲</h3>
<p>黃丹（飛）　軟石膏末（各二錢）</p>
<p>入酒杯內，加涼水，羊毛筆蘸藥水，塗上下眼皮，一日數次。勿令藥水入眼內。不點。</p>
<p>痘後眼暴疼，宜用：</p>

<h3>拈疼散</h3>
<p>生白礬，核桃大一塊，研細，入茶杯內，雞蛋清調，雞翎掃眼皮上下，幹了再掃，四、五次，其疼立止。不宜入眼內。凡眼疼俱用。</p>
<p>痘後，雙目黑白分明，不能見物，宜用四物湯，次用地黃湯。</p>
<p>痘後見風早，眼皮赤爛，宜用十二將軍二聖散（方見真人《秘訣》）。</p>
<p>痘後目中無病，眼不開，宜用仙人靈膏（方見三卷）。</p>
<p>痘後眼胞腫，不能展縮開合，宜用礬連膏洗（方見三卷）。</p>
<p>小兒痘出之時，用干胭脂蜜調勻，抹眼眶，痘毒不入於目。痘後不出百日眼病，不宜點片、麝眼藥。若誤用片、麝，走散正氣，則傷命矣。宜點退雲散（方在前）。</p>

<h2>小兒疳傷眼症論</h2>
<p>按疳症皆因飲食無節、飢飽失調，以致腹大、面黃，重則傷命，輕則傷目。勿治其目，竟治其疳，目病自愈。切忌油麵、炙爆等物。</p>
<p>按小兒疳眼，無論肥瘦，但見白珠先帶黃兼白色皺起，後微紅生眵，怕亮不睜，上下眼皮頻頻劄動不定，黑珠上有白膜，成如此樣<img class="字" src="_files/001.svg" alt="">圈，堆起白暈，暈內一黑一白，亦有肥瘦不同，疳眼無疑也。但肥疳大便如豆腐渣糟粕相似，瘦疳大便小如粟，硬結燥，乃疳積入眼矣。宜照後方治之。</p>
<p>小兒疳眼，流膿生濕熱。宜服：</p>

<h3>升麻龍膽飲</h3>
<p>羌活　黃芩（炒）　龍膽草　青蛤粉（各五分）　穀精草　蛇蛻　甘草（炙）　川鬱金（各四分）　麻黃（分半）　升麻（二分）　</p>
<p>茶清下二錢。點元靈丹。</p>
<p>小兒易飢而渴，瘦瘠腹脹不利，作嘶嘶聲，目病生翳，睫閉不開，眵淚如糊，久而流膿，俗為疳毒。宜用：</p>

<h3>茯苓泄濕湯</h3>
<p>柴胡（四分）　白朮　甘草（炙）　蔓荊子　人參　枳殼（麩炒）　茯苓　薄荷葉（各二分）　前胡　獨活　蒼朮（各三分）　羌活　真川芎　防風（各三分半）　澤瀉（一分半）</p>
<p>水一鍾半，煎至六分，去滓溫服。洗白玉錠。</p>
<p>小兒疳毒，眼生白膜翳。宜服：</p>

<h3>雞肺散</h3>
<p>雄雞一隻（重一斤三、四兩者，取其塔脊血一塊，即名雞肺，將肺同後藥共研爛）　辰砂（三分）　冰片（三釐）</p>
<p>研細如膏，用無灰酒燉滾，入藥攪勻，食之即愈。點掃霧丹。</p>
<p>小兒齦毒成疳，肝經積熱，齒蝕爛齦，透頰腮，耳內生瘡出水，小便出津，大便不調，消瘦，眼中生翳。宜服：</p>

<h3>九味蘆薈丸</h3>
<p>蘆薈　木香　胡黃連　宣黃連（炒）　青皮　鶴蝨　白雷丸　白蕪荑（炒各一兩）　麝（三分）</p>
<p>共為細末，神麯糊為丸麻子大。每服五分，空心米湯送下，量病者大小用之。忌一切生冷、油麵、炙爆等物。</p>
<p>小兒疳眼，白膜遮睛，緊閉不開，羞明怕日，合面而臥，肉色青黃，發豎筋青，壯熱羸瘦。宜用：</p>

<h3>生熟地黃丸</h3>
<p>生地黃　熟地黃（各五錢）　川芎　杏仁（泡去皮尖）　赤茯苓　胡黃連（微炒）　半夏（泡製）　天麻　地骨皮　當歸身　枳殼（麩炒）　甘草（各二錢半）</p>
<p>大黑豆四十五粒，煮熟去皮，再煮爛，同汁搗膏，和前藥末，後加煉蜜為丸如龍眼大。空心滾湯化下。點掃霧丹。</p>
<p>小兒三焦、肝、膽積熱，結瘰癧，耳內生瘡，腹膨脹，口內有瘡，牙齒爛，腮頰爛，目生雲翳。宜用：</p>

<h3>龍膽蘆薈丸</h3>
<p>蘆薈　胡黃連（炒）　龍膽草（各一兩）　川芎（六錢）　蕪荑（六錢）　當歸身　白芍藥（各一兩半）　木香（八錢）　甘草（炙，五錢）</p>
<p>上煉蜜丸，每兩勻作十丸，滾湯化下。白玉錠一條，泡水灌耳內。和白玉錠搽牙上。亦點眼內。</p>

<h3>五疳明目退翳法</h3>
<p>（此方能退眼中一切翳膜，並瀉泄小兒五疳之症。）</p>
<p>檳榔（用雄雌兩樣）　白蒼朮（杵淨皮，米泔水浸炒）　三稜（刮淨毛，入火燒，搗碎，醋炒）　遠志（去骨，甘草湯浸）　木鱉子（去殼，各一錢）</p>
<p>共搗細末，用公豬肝四片，手摺碎，皮硝水洗，捏干，將藥按肝大小分為四處，撒肝內，左麻線纏緊，用砂鍋加一篾梁擱鍋口上，鋪濕布一塊，將肝擱布上，用一盆蓋住，周圍使土培著，桑柴火燒二炷香，冷定取出，再使皮硝水洗，將肝露一夜，任便食之。食久，眼內雲翳即退。點賽寶丹。</p>

<h2>秘傳開瞽復明仙方</h2>
<p>神農嘗百草，岐伯制方書。藥有酸甜苦辣，病有寒暑溫冷。或因四氣外感，或為七情內傷，夏畏熱而臥濕，冬懼寒而眠炕，過食煎炒爆炙，苦心書典傷神。偶沾目有毫疾，酒色謹忌當先。初則紅腫痛澀，重則熱障漸生。二十三般內障，四九外障有名。痘疹月風損胞，爛弦倒睫漸生。土損痘傷成翳，亦有妙法能全。</p>
<p>予得仙傳妙訣，且述藥性功能：甘石製法微妙，乃眼中之主藥；硃砂清瞳固珠，亦能起陷填坑。珍珠拘翳膜而固精瞳，琥珀祛血筋而分黑白。鷹糞去諸翳，鵝不食、千里光同效。大黑蜘蛛開翳，不如花蜘蛛更美。欲開諸翳用蟬蛻、鳳退、蠶退、人退、蛇退。要除重膜，二磠有功。片麝腦開壅塞，風火功重；硼砂治羞明，癮澀效先。玄明粉極退諸熱，秋石能掃白雲。石燕、石蟹退翳而治拳毛，銅綠、水粉收弦而除風淚。螵蛸能除熱淚，輕粉收水汪洋。文火有薰風之效，硇砂有爛肉之功，制宜得訣。千里光諸方可用，鵝不食草眾藥同功。雄黃除熱障，人乳能養血虛。久染爛弦，翳根不斷，須用吐蛔蟲，久年青盲，黑白如故，獨用空青。多時風障癢難當，洗用清明揚葉，久患上皮蓋下皮，塗用魚鰾。冬桑葉好洗粟米，石決明更治諸云。製藥藥方，口訣師傳。驟發火眼，雖熱不可用涼劑，久起翳暗，宜涼不可太熱。堪哂俗術，火眼速刺太陽；又笑庸醫，雲翳便以鉤割。眼要養血，稻用水澆。刀割針挑，致人百年廢疾；火暴草洗，害人一世殘生。籲！庸醫有損太上好生之德，可不慎乎！數行俚語，其味深長，同道高明，用心詳察，勿使誤人眼目。</p>

<h3>制甘石</h3>
<p>（配法仿後）</p>
<p>甘石不拘多少，輪迴酒製九次，方入陽城罐，鹽泥封固，打火一炷香，取起冷定，分作四號。</p>

<h3>孝字號火批</h3>
<p>黃連（一兩，為君）　鵝不食草　千里光　車前子　羌活　生地　甘草（少許）　胡黃連　百部　大黃　朴硝　黃芩　黃柏　梔子　連翹　川芎　藁本　荊芥　薄荷　歸尾　赤芍　膽草（各六錢）</p>
<p>以上二十二味，同煮濃汁，制甘石三次，又用蔥、姜自然汁煮一次，曬乾聽用。此乃治一切火症之主藥也。</p>

<h3>弟字號風批</h3>
<p>蘄艾（一兩，為君）　鵝不食草　千里光　天麻　羌活　菊花　荊芥　薄荷　夏枯草　白芷　細辛　獨活　苦參　楓子肉　紫蘇葉（各六錢）</p>
<p>以上十五味，同煎濃汁，調甘石入盞內，用重湯煮數次。此乃治一切風症之主藥也。</p>

<h3>忠字號日批</h3>
<p>木賊草（一兩，為君）　鵝不食草　千里光　青葙子　白蒺藜　菊花　草決明　密蒙花　牛蒡子　威蕤仁　蟬蛻　穀精草　川芎　當歸　檳榔　蔓荊子　石決明（各六錢）</p>
<p>以上十七味，同煎濃汁，制甘石三次，聽用。此乃大撥雲之主藥也。</p>

<h3>信字號月批</h3>
<p>石決明（一兩為君）　鵝不食草　千里光　夜明砂　川芎　當歸　生地　枸杞　褚實子　青鹽　知母　葛花　甘草　遠志　穀精（各六錢）</p>
<p>以上十五味，同煎濃汁，制甘石三次，聽用。此乃清目復明之主藥也。必待翳盡復明，方用此配藥。</p>

<h3>升打靈藥法</h3>
<p>汞　鉛（各二兩二錢）　青鹽　硼砂　硇砂（各二兩四錢）　枯礬　皂礬　火硝（各一兩五錢）　先用防風　荊芥　木賊　靈仙　膽草　石決明　歸尾（各三錢）</p>
<p>水六碗，煎數十滾，濾去渣，入枯礬、火硝、皂礬三味，煮乾為則，細研，同五味入陽城罐，升打六炷香，文武火，冷定取出。升上者專點胬肉，其效甚速。</p>
<p>大撥雲主藥，每甘石一錢，加靈藥一分，翳厚再加，翳薄再減。火批主藥一錢，加冰片一分，雄黃三分，硃砂三分，硼砂二分，玄明粉二分。以上治一切火障眼。</p>
<p>風批主藥一錢，硃砂三分，冰片一分，制過銅綠一分。以上治風障。</p>
<p>如拳毛倒睫，加石燕、石蟹，燒紅醋淬為末，各用二分半，入煎藥和勻點之。</p>
<p>如迎風流淚，加螵蛸末分半，輕粉五釐，入主藥內。</p>
<p>如痘風、月家風、爛弦等眼，用蘄艾熏過，銅綠、水粉以乳汁調搽眼弦。不宜令入眼內。如弦好了，內有紅赤，用前風批藥點之。</p>
<p>日批大撥雲主藥一錢，加桑霜五分，珍珠三分，丁香五分，空白三分，硃砂三分，花蛛二分半，五退一分，秋石一分，靈藥一分。共為細末，點外障厚雲翳，胬肉攀睛多年，血翳、垂簾、倒睫，一切厚云、頑翳為主。只待云盡，見珠瞳人。方用清珠復明散，下月批主藥是也。</p>
<p>月批小撥雲主藥一錢，加硃砂三分，珍珠三分，丁香五分，空白三分，蠶霜五分，花蛛二分。共為細末，點外障發翳，以此為主。</p>

<h3>復明散</h3>
<p>月批主藥（一錢）　珍珠（三分）　琥珀（二分）　硼砂（一分）　秋石（一分）　玄明粉（一分）　冰片（一分）　硃砂（三分）</p>
<p>共和勻點之。</p>

<h3>制蠶霜法</h3>
<p>用晚蠶燒灰數升，將童便煎滾淋汁，熬干放煙，令白成霜收起，配小撥雲主藥。每甘石一錢，加霜五分。</p>

<h3>制桑霜法</h3>
<p>用桑柴灰，以童便照前製法，放煙，取霜，配大撥雲主藥。每甘石一錢，加霜五分。</p>

<h3>制珍珠方</h3>
<p>用鹽水濕疏紙干，包珠，將瓦燒紅取出，將紙試之，無黑色，方將珠安瓦上，半刻時，取起擂細，每一錢入好硃砂三分，聽用。</p>
<p>又法：以紙包夾脅下一時，即可研末。</p>

<h3>制空白法</h3>
<p>（即鷹糞）</p>
<p>取野外者，將瓦燒火熱，用疏紙鋪瓦上，將空白放紙上，以氣盡為則，研細，聽用。</p>

<h3>制白丁香</h3>
<p>（即麻雀糞）</p>
<p>將雀糞研細，去粗渣，以檳榔磨乳汁黑色，浸濕透，入銅器，曬乾，聽用。</p>

<h3>制蛔蟲法</h3>
<p>將蛔蟲入蔥管內，用紙包之，燒磚二塊，蛔蟲安入中間，制干存性，聽用。</p>
<p>取蛔蟲法：空心頭服沙糖半盞，少頃以皂礬吞之，自從口吐出。</p>

<h3>制花蜘蛛法</h3>
<p>將大花蜘蛛數枚，瓦上焙乾為末，聽用。蜘蛛合碗內，待蜘蛛死，方焙，活用不效。</p>

<h3>制玄明粉法</h3>
<p>用芒硝二、三斤，以蘿菔汁、豆腐漿煮去鹹味，待生起硝來，取出曬乾，入罐封固，打火半炷香，取出聽用。</p>

<h3>制秋石法</h3>
<p>童便煎乾，以麻油煮過，再用雪水或露水連煮數次，熬干取起，入罐封固，打火半炷香，冷定，取出聽用。</p>

<h3>制五退法</h3>
<p>蟬蛻、蛇退、人退、鳳退（各用醋炒）　蠶退（焙乾）</p>
<p>以上俱為細末，等分，和勻，又用童便、薑汁炒之，收貯聽用。每大撥雲主藥一錢，加退末一分。</p>

<h3>常用點藥</h3>
<p>火批（七分）　風批（三分）　冰片（二分）　硃砂　雄黃（各半分）　琥珀（半分）　硼砂（半分）　石決明（三分）　</p>
<p>共和勻，點一切昏暗等眼如神。</p>

<h2>看眼法</h2>
<p>夫療眼疾，先以內障為主。內障黑白分明，而瞳人之間則昏。外障有翳膜，凡觀翳膜，平見三光者可治；如疔翳不見三光不治；如滑翳厚膜，點三、四次，覺翳轉色者可治；如專用銅匙掠翳，不可許他速效。</p>

<h2>點眼法</h2>
<p>凡點火眼，只點大、小眼角，不可點在珠上；如點翳膜，必要點珠。如點風爛弦眼，只點眼皮外；如點重翳，必須滿眼俱點。要久閉，必待藥力行盡方開，若睜不開，再閉良久，清水掠去渣，隨即又點。每日點十餘次。覺翳發眼腫，只管攻點，切莫懼怕，只待翳化無形為則。如翳薄用藥少些，只點大、小眥角，白珠、黑珠替換點之；如疼只點風批內障藥數次，其疼即止，再用點翳點之；倘翳重用忠字號藥，輕則信字號藥。諸字號配法，俱在前後三七；加減，摠在人心上以活法調度用。大凡點翳眼，其翳將盡，重藥內加清珠藥，以防傷珠，如點浮雲，亦用些清珠藥固珠甚美。但重批是木硇，不可久兌；風火批亦不可多兌，久則藥性緩矣。但升打之批，久放無礙，亦要常曬，恐生潮潤。若點內障火眼等症，淚出不能受藥，須仰面點之，若有風粟疱子，不可針挑燈草打洗，須用冬桑葉水洗之，翻轉眼皮點之。如點火眼，先以手按額上，如冷，用蔥、姜搗打之冷汗出，點藥更美。如患眼十年者，亦可治。只要瞳人在，凡事俱在臨時機變，看人老少虛實加減用藥，內服、外點夾攻，無有不愈者也。點發眼藥，忠、信二號用扁簪，孝、弟二號用圓簪點之。大凡內外翳瘴膜，看綠者、藍者、大者、小者、白者、紅黃者、死者，以三光辨之。如不見三光者，不治之症；但見三光者，皆可治。</p>

<h3>治痘風爛眼方</h3>
<p>蕤仁（去淨油一錢）　官粉（二錢五分）。</p>
<p>共研一處，乳汁化開，搽患處。</p>

<h2>認眼歌訣</h2>
<p>氣主昏朦不足，虛則流淚昏花。</p>
<p>熱則赤腫疼痛，風則腫癢偏加。</p>
<p>內障多因色欲，食毒眵膜來遮。</p>
<p>胬肉攀睛皆起，酒浸心肝傷些。</p>
<p>上下拳毛倒睫，脾虛風遊堪誇。</p>
<p>此般症候易識，明翳用藥無差。</p>

<h2>眼冷熱歌</h2>
<p>肝冷時時流淚，腎冷大小瞳人，</p>
<p>脾冷閉目不開，肺冷氣爽神清，</p>
<p>膀膀冷而昏暗，心冷氣不調停，</p>
<p>大腸冷而近視，胃冷視物不明。</p>
<p>心熱血灌瞳人，肝熱胬肉攀睛，</p>
<p>脾熱閉目難開，胃熱時時刺痛，</p>
<p>腎熱瞳人無光，肺熱上下胞腫，</p>
<p>膀胱熱倒睫拳毛，大腸熱赤脈生瘡。</p>

<h2>雜方</h2>

<h3>六神開瞽散</h3>
<p>甘石八兩，打碎如豆，入銅鍋內，用白童便浸出二指，桑柴煮乾，取起，再浸再煮，如此七次，嘗苦鹹味方止。如淡再煮。每次要焙乾，取起聽用。除二兩在外，以：</p>
<p>龍砂六兩（制），入陽城罐內封固，桑柴火煅紅，一炷香畢，取出，冷成膩粉，只有三兩五、六錢。將一兩六錢入硃砂一錢五分，共研極細，是謂五烹。</p>
<p>其餘二兩，另制虎液。</p>
<p>紫蘇　薄荷　防風　荊芥　羌活　連翹　蘄艾</p>
<p>以上七味，用水五碗煎濃汁，濾去渣，再用水二碗，煎至一碗，去渣，共入一處，澄去沙泥。將前留下甘石二兩，共入銅鍋內。入汁之時，以不見甘石為度。每次煅干，如此數次，汁盡為度。再以生薑汁煮三次，煅干，不必紅，恐傷藥性，此謂虎液。入硃砂一錢五分，聽用。</p>
<p>又云：紫蘇，羌活，加細辛、夏枯草，治風眼主藥。</p>
<p>又云：單用大黃，治火眼主藥。</p>

<h3>制龍砂法</h3>
<p>蠶砂一斗，合千里光燒灰，以滾童便淋汁五碗，將前留下甘石二兩，入銅鍋內，桑柴火徐徐煮至汁盡為度，煅紅，冷成膩粉。入硃砂一錢五分，聽用。</p>

<h3>兌藥法</h3>
<p>五烹一兩，入冰片七分。龍砂一兩，入冰片一錢。虎液一兩，入冰片一錢三分。</p>
<p>凡赤腫痛疴癢，俱系內症。重者，虎液為主，用七分；龍砂為輔，用三分；五烹為佐，用二分。如內症輕者，五烹為主，用五分；虎液為輔，用三分；龍砂為佐，用二分。</p>
<p>凡云膜胬肉、赤白翳障，俱系外障。重者，龍砂為主，用七分，虎液為輔，用三分；五烹為佐，用二分。</p>

<h3>點眼法</h3>
<p>凡點藥，飯後點大眼角，不可近黑珠。每日點十餘次。如珠上有薄雲障，以：</p>
<p>鳳麟膏為主，用一錢，珍珠三分，琥珀二分，龍砂二分，虎液一分，赤金二十張。共研細點之，即退。</p>

<h3>治鳳麟膏法</h3>
<p>荊芥薄荷並玄參　防風白芷及蕤仁</p>
<p>白芍梔子與乾葛　連翹當歸共黃芩</p>
<p>柴胡升麻車前子　生地木賊加細辛</p>
<p>枸杞桑白夏枯草　黃連菊花石決明</p>
<p>蒺藜白朮香附米　黃柏共煎各等分</p>
<p>二十八味䕋風藥　撥雲降火效如神</p>
<p>以上各一錢，共煎濃汁，去渣。將前制過龍砂、虎液各五錢，入銅鍋內，將汁縷續投下，以汁盡藥干為度。此為鳳鹿膏。加制過甘石一錢，白丁香一錢，鵝不食草二錢。去翳如神。</p>

<h1>跋</h1>
<p>聞之左氏云：「去疾莫如盡。」余於病目之餘，而知斯言也。不僅為病者之針砭，而實治病者之龜鑑也。嘗見世之庸俗療目疾者，不睹真人《秘訣》真傳，輒以人知病者之急欲痊也，投之劫劑，以取效於旦夕，後病復作，治如前法，常自詡於人曰：「某也屢病，除余莫能療也。」病者亦心佩之，曰：「先生屢活我。」不窮其本，而圖速成之功，往往致沉痼焉。惟益都馬雲從先生則異。是先生本儒生，中年得孫真人神方，遂以治目鳴東海。五十年間，仰金鎞而睹日月者，指不勝屈。復以秘枕諸方，剞劂已久，未印成集。余同姐丈王子懋功，樂出囊金，廣印以公海內，俾審病印方，即獲奇效焉。余簡閱至再，大抵窮原晰微，無欲速以媚世，蓋深得乎「去疾務盡」之一言，而龍宮密受，適足以神其調劑也。余病目纏綿多年，時發時愈，亦受愚於盲醫。今先生賜神樓一七，數日輒開爽。余欣謝之，先生曰：「未也，此庸人索謝時耳。欲芟其根，當以月計。」果調息至數月而愈。先生曰：「五內氣清，無復余患矣。」自此瞻青仰白，皆先生賜也。余固佩先生之德，而並以己之受治，非祈速效者，為同人告，使知儒者之術，其利溥哉！</p>
<p><u>癸未孟春關中張瑋敬跋</u></p>
