<header data-type="book">
<h1>外科心法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1528">公元1528年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00584_0034/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>脈證名狀二十六種所主病症（見《外科精義》）</h2>
<p>浮脈之診，浮於指下，按之不足，舉之有餘。再再尋之，狀如大過。瞥瞥然見於皮毛間。其主表證，或為風，或為虛。浮而大散者心也，浮而短澀者肺也，浮而數者熱也。浮數之脈應發熱，其不發熱而反惡寒者，瘡疽之謂也。</p>
<p>洪脈之診，似浮而大，按舉之則泛泛然滿三部，其狀如水之洪流，波之湧起。其主血實積熱。瘡腫論曰：脈洪大者，瘡疽之病進也。如瘡疽結膿未成者，宜下之。膿潰之後，脈見洪大，則難療。若自利者，不可救治也。</p>
<p>滑脈之診，實大相兼，往來流利如珠，按之則累累然滑也。其主或為熱，或為虛。此陽脈也。瘡疽之病，膿未潰者，宜內消也；膿潰之後，宜托裡也。所謂始為熱，終為虛也。</p>
<p>數脈之診，按之則呼吸之間動及六至，其狀似滑而數也。若浮而數，則表熱也；沉而數，則裡熱也。又曰：諸數為熱。仲景曰：脈數不時見，則生惡瘡也。又曰：肺脈俱數，則生瘡也。診諸瘡洪數者，里欲有膿結也。</p>
<p>散脈之診，似浮而散，按之則散而欲去，舉之則大而無力。其主氣實而血虛，有表無里。瘡腫膿潰之後，而煩痛尚未痊退者，診其脈洪滑粗散，難治也。以其正氣虛而邪氣實也。又曰：肢體沉重，肺脈大則斃。謂浮散者也。</p>
<p>芤脈之診，似浮而軟，按之中央空，兩邊實。其主血虛，或為失血瘡腫之病。診得芤脈，膿潰後易治。（以其脈病相應也。）</p>
<p>長脈之診，按之則洪大，而長出於本位。其主陽氣有餘也。傷寒得之，欲汗出自解也。長而緩者，胃脈也，百病皆愈。謂之長，則易治也。</p>
<p>牢脈之診，按之則實大而弦，且沉且浮，而有牢堅之意。若瘰癧結腫，診得牢脈者，不可內消也。</p>
<p>實脈之診，按舉有力而類結，曰實。經曰：邪氣勝則實，久病則虛。人得此最忌。瘡疽之人，得此宜急下之。以其邪氣與臟腑俱實故也。</p>
<p>弦脈之診，按之則緊而弦，其似緊者為弦，如按弦而不移，緊如內繩而轉動，以此為異。春脈浮弦而平，不時見，則為飲為痛，主寒主虛。瘡疽論曰：弦洪相搏，外緊內熱，欲發瘡疽也。</p>
<p>緊脈之診，似弦而緊，按之如切繩而轉動。其主切痛積癖也。瘡腫得之，氣血沉澀也。亦主痛也。</p>
<p>澀脈之診，按之則散而復來，舉之則細而不足。脈澀則氣澀也，亦主血虛瘡腫。潰後得之，無妨也。</p>
<p>短脈之診，按舉則不及本位。《內經》曰：短則氣病。以其無胃氣也。諸病脈短皆難治。瘡腫脈短，真氣短也。</p>
<p>細脈之診，按之則縈縈，如蜘蛛之絲而欲絕，舉之如無而似有。細而微，其主亡陽衰也。瘡腫之病，脈來細而沉，時值者裡虛，而欲變證也。</p>
<p>微脈之診，按之則軟，小而至微，主虛也。真氣復者生，邪氣勝者危。瘡腫之病，潰後脈微而勻，舉自瘥也。</p>
<p>遲脈之診，按舉來遲，呼吸定息，方得三至。其狀似緩而稍遲，痼疾得之則善。新疾得之則正氣虛憊。瘡腫得之，潰後自痊。</p>
<p>緩脈之診，按舉似遲，而稍駛於遲。仲景曰：陽脈浮大而濡，陰脈浮大而澀，陰陽同等，謂之緩，脈見長緩，百疾自瘳。凡諸瘡腫潰後，其脈澀遲緩者皆易愈。以其脈候相應，是有胃氣也。</p>
<p>沉脈之診，舉之不足，按之方見如爛綿。主邪氣在藏也。水氣得之則逆。此陰脈也。瘡腫得之，邪氣深也。</p>
<p>伏脈之診，比沉而伏，舉之則無，按之至骨。方得與沉相類，而邪氣益深矣。</p>
<p>虛脈之診，按之不足，遲大而軟，輕舉指下豁然而空，經曰：脈虛則血虛，血虛生寒，陽氣不足也。瘡腫脈虛，宜托裡和氣養血也。</p>
<p>軟脈之診，按之則如帛在水中，極軟而沉細。亦謂之軟。其主胃氣弱。瘡腫得之，補虛排膿托裡。</p>
<p>弱脈之診，似軟而極微，來遲而似有。仲景曰：微弱之脈，綿綿如瀉漆之絕。其主血氣俱虛，形精不足。大抵瘡家，沉遲濡弱，皆宜托裡。</p>
<p>促脈之診，按之則去數，來時一止而復來。仲景曰：陽盛則促。主熱畜於裡也。下之則和。瘡腫脈促，亦急下之。</p>
<p>結脈之診，按之則往來遲緩，時亦止而復來。仲景曰：陰盛則結。經曰：促結則生，代則死。</p>
<p>代脈之診，按之則往來，動則中止，不能自還，因而復動者，曰代脈也。代者氣衰也，諸病見之不祥。大凡瘡腫之病，脈促結者難治，而況見代脈乎。</p>
<p>動脈之診，見於關上，無頭尾，如豆大，厥厥然而動搖者是也。《脈經》曰：陰陽相搏，故謂之動。動於陽，則陽氣虛而發厥，動於陰，則陰氣虛而發熱。是陽生於尺，而動於寸；陰生於寸，而動於尺。不可不辨也。</p>

<h2>脈相類二十四首（見《醫經小學》。）</h2>
<p><u>浮與芤相類</u></p>
<p>脈浮猶如水漂木，表有餘兮里不足。浮而無力則為芤，傍實中空應淖衄。</p>
<p><u>浮與洪相類</u></p>
<p>洪脈蕩蕩浮泛泛，力薄為浮厚者洪。浮洪二象由來異，迷於專言易拙工。</p>
<p><u>弦與緊相類</u></p>
<p>弦似張弓緊似經，經方體駛十分精。緊言其力弦言象，識見超然付老成。</p>
<p><u>滑與數相類</u></p>
<p>滑脈往來極流利，指下如珠圓替替。數則專言至數加，分明滑數非同類。</p>
<p><u>革與實相類</u>（革為牢）</p>
<p>實大而長指下全，按如鼓革最牢堅。較之實脈不應別，隱指仍強幅幅然。</p>
<p><u>沉與伏相類</u></p>
<p>舉無按有脈名沉，伏極其沉深復深。沉伏要知真脈象，淺深深淺細斟尋。</p>
<p><u>微與澀相類</u></p>
<p>小之又小號微脈，短細遲難是為澀。良工診候倘逢之，細密精詳為消息。</p>
<p><u>軟與弱相類</u>（軟為濡）</p>
<p>軟脈優柔其力薄，極軟如無則為弱。莫教軟弱一般論，一脈才差一切錯。</p>
<p><u>緩與遲相類</u></p>
<p>脈遲一息來三至，緩比之遲仍小駛。遲為病冷緩為和，緩大虛風之病起。</p>
<p><u>軟與遲相類</u></p>
<p>力柔為軟本非遲，軟與形合細推之。軟則但將其力取，遲來三息又何疑。</p>
<p><u>弦與長相類</u></p>
<p>出三關者是為長，弦則非然但滿張。弦脈與長爭較遠，良工尺度自能量。</p>
<p><u>洪與虛相類</u></p>
<p>脈洪真似湧波濤，細細而來氣勢高。虛脈廓然微曠蕩，消詳分析在絲毫。</p>
<p><u>洪與實相類</u></p>
<p>脈號於洪力不輕，其中微曲似鉤形。只緣舉按皆強盛，實脈於焉別立名。</p>
<p><u>滑與動相類</u></p>
<p>厥厥動搖如豆大，脈名為動幾曾停。圓圓轉轉低名滑，脈脈誰知有徑庭。</p>
<p><u>浮與虛相類</u></p>
<p>表病脈浮輕手得，所以為虛為無力。毫髮差殊便不同，工意之人自能識。</p>
<p><u>虛與弱相類</u></p>
<p>脈來無力號為虛，外象豁然中則枯。弱比虛來虛更甚，按之如有亦如無。</p>
<p><u>微與細相類</u></p>
<p>微似絲忽細似線，細大於微殊易辨。應之指下得之心，心內瞭然皆洞見。</p>
<p><u>微與弱相類</u></p>
<p>依依細細為微脈，弱則虛之而又虛。弱是體虛微細小，細尋真象莫模糊。</p>
<p><u>遲與澀相類</u></p>
<p>三五不調名曰澀，如雨沾沙短且難。遲惟一息二三至，非短非難力但覺。</p>
<p><u>短與澀相類</u></p>
<p>短於本部為不及，短服遲難為澀脈。休將短澀一般看，短自時長滑時澀。</p>
<p><u>散與大相類</u>（散為浮大，為洪之別名也）</p>
<p>脈形渙漫名為散，有表那堪里卻無。大則其中還翕翕，好將二脈較錙銖。</p>
<p><u>結與代相類</u></p>
<p>緩而時止復來者，便可將為結脈呼。止不能回方是代，結生代死必殊途。</p>
<p><u>促與代相類</u></p>
<p>脈來既數復中止，便呼為促莫狐疑。陰盛而然非能代，須知止脈易差池。</p>
<p><u>伏與絕相類</u></p>
<p>伏則全無絕則然，過饒厥逆命難全。按之隱隱其形伏，不覺開通病便痊。</p>

<h2>怪脈一首（見《醫經小經》）</h2>
<p>雀啄連來三五啄，屋漏半日一點落，彈石硬來尋即散，搭指散亂真解索，魚翔似有一似無，蝦游靜中跳一躍。寄與醫仔家細看，六脈一見休餌藥。</p>

<h2>妊娠服藥（見《醫經小學》）</h2>
<p>蚖斑水蛭及虻蟲，烏頭附子配天雄，野葛水銀並巴豆，牛膝薏苡與蜈蚣，三稜代赭芫花麝，大戟蛇蛻黃雌雄，牙硝芒硝牡丹桂，槐花牽牛皂角同，半夏南星與通草，瞿麥乾薑桃仁通，硼砂乾漆蟹甲爪，地膽茅根莫用好。</p>

<h2>引經藥報使</h2>
<p>小腸膀胱屬太陽，藁本羌活是本鄉。三焦膽與肝包絡，少陽厥陰柴胡強。大腸陽明並足胃，葛根白芷升麻當。太陰肺脈中焦起，白芷升麻蔥白鄉。脾經少與肺部異，升麻兼之白芍詳。少陰心經獨活主，腎經獨活加桂良。通經用此藥為使，豈有何病到膏肓。</p>

<h2>十八反（見《醫經小學》）</h2>
<p>本草名言十八反，半蔞貝蘞及攻烏（謂半夏、栝蔞、貝母、白及、白蘞與烏頭相攻，）藻戟遂芫俱戰草（海藻、大戟、芫花、甘遂俱與甘草相反，）諸參辛芍叛藜蘆（苦參、人參、沙參、玄參、細辛、芍藥俱與藜蘆相反，湯藥丸散中不可合用也，欲令反而吐者可不忌。）</p>

<h2>用藥法象一首（見《醫經小學》）</h2>
<p>天有陰陽彰六氣，（風寒暑濕燥火，）溫熱涼寒總於四。（溫熱者天之陽，涼寒者天之陰，此天之陰陽四時也。）地有陰陽化五行，（金木水火土，）生長收藏五味成。（辛甘為地之陽，酸苦鹼為地之陰也。）輕清成象親乎上，（味薄者本乎天，親上，）重濁成形本乎地。（味厚者本乎地，親下。）辛甘發散氣為陽，酸苦湧泄陰為味。（輕清重濁之分，氣味厚薄之異。）清之清者發腠理，陽中之陽厚之氣。（附子氣之厚者，乃湯中之陽，故經云發熱。）清之濁者實四肢，陽中之陰薄氣使。（茯苓淡，為在天之陽也。陽當上行何為利水而泄下。經云：氣之薄者，乃陽中之陰。所以茯苓利水而下行。然而泄下亦不雜乎陽之體也，所以其性入手太陰。）濁之濁者走五臟，陰中之陰乃厚味。（大黃味之厚者，乃陰中之陰。故經云泄下。）濁之清者歸六腑，陰中之陽薄味爾。（麻黃苦，為在地之陰也，陰當下行，何為發汗而升上。經云：味之薄者，乃陰中之陽。所以麻黃髮汗而升上，亦不離乎陰之體，故入足太陽。）辛散酸收淡滲泄，咸軟苦泄甘緩結。（各有所能，或散或收，或緩或急，或堅或軟，四時五臟病，各隨五味之所宜也。）橫行直達要消詳，五味之能須悉別。（藥有橫行者，若辛苦之類；直達者，若酸苦之類。）身半上病藥取根，身腰以下梢宜用。根升梢降合天真，述類象形堪妙應。炮炙制度劑所宜，熱降生升毒須制。（藥有火炮、湯炮、煨、炒者，皆制其毒也。用酒蒸、焙、蜜炒，皆欲上騰也。酒浸洗、醋浸、薑製、酥炙，皆欲行經活血。如去皮、去心、取核、去蘆節枯朽之類，皆不可達其製法也。）藥味專精大得能，新陳粗細擇須備。（品物薄，則用近新者，擇揀勿用腐朽之類。）湯散丸方分兩銖，（湯者蕩也，去新久病皆能之。散者散也，去急病用之。丸者舒緩而治之也。古者方劑分兩，與今不同。如㕮咀者，銼若麻豆大是也。云一升者，今之一大盞也。云銖者，六銖乃一分，即二錢半。云三兩者，今之一兩。二兩者，今之六錢半也。）君臣佐使從其制。（主病為君，佐君之謂臣，應臣之謂使。）服藥有法及有期，（病在上，不厭頻而少；在下病則頓而多。病在上，先食而後藥；病在下，先藥而後食。病在四肢，宜飢食而在旦；病在骨髓，飽食而服藥在夜。）升降浮沉補瀉之，（如肝膽之病，以辛味補之，咸瀉氣，溫補涼瀉之類也。）重輕氣味施當審，勿伐天和歲氣時。（必先歲氣，勿伐天和。藥例見後證例中。）</p>

<h2>十二經脈（循歷並見見證《醫經小學》）</h2>
<p>手太陰肺中焦生，下絡大腸出賁門，上膈屬肺從肺系，系橫出腋臑中行，肘臂寸口上魚際，大指內側爪甲根。支給還從腕後出，接次指屬陽明經。此經多氣而少血，是動則病喘與咳。肺脹膨膨缺盆痛，兩手交瞀為臂厥。所生病者為氣嗽，喘渴煩心胸滿結。臑臂之內前臑痛，小便頻數掌中熱。氣虛肩背痛而寒，氣盛亦疼風汗出，欠伸少氣不足息，遺失無度溺變別。</p>
<p>陽明之脈手大腸，次指內側起商陽，循指上連出合谷，兩筋歧骨循臂肋，入肘外臁循背外，肩端前廉柱骨傍，從肩下入缺盆內，絡肺下膈屬大腸，支從缺盆直上頸，斜貫頰前下齒當，環出人中交左右，上俠鼻孔注迎香。此經氣盛血亦盛，是動頸腫並齒痛，所生病者為鼻衄，目黃口乾喉痹主，大指次指難為用，肩前臑外痛相仍。</p>
<p>胃足陽明交鼻起，下循鼻外上入齒，還出俠口繞承漿，頤後人迎頰車裡，耳前髮際至額顱，支下人迎缺盆底，下膈入胃絡脾宮，直者缺盆下乳內。一支幽門循腹裡，下行直合氣沖中，遂由髀關抵膝臏，䯒跗中指內關同。一支下膝注三里，前出中指外間通。一支別走足跗指，大指之端經盡已。此經多氣復多血，是動欠伸面顏黑，悽悽惡寒畏見人，忽聞木音心震懾，登高而歌棄衣走，甚則腹脹仍賁響。凡此諸疾皆肝厥，所生病者為狂瘧，濕溫汗出鼻流血，口喎唇胗又喉痹，膝臏疼痛腹脹結，氣膺伏兔䯒外廉，足跗中指俱痛徹。有餘消穀溺色黃，不足身前寒振慄，胃房脹滿食不消，氣盛身前皆有熱。</p>
<p>太陰脾起足大指，上循內側白肉際，核骨之後內踝前，上腨循䯒經膝里，股內前廉入腹中，屬脾絡胃與膈通，俠喉連舌散舌下，支絡從胃注心宮。此經氣盛而血衰，是動其病氣所為，食入即吐胃脘痛，更兼身體痛難移，腹脹善噫舌本強，得後與氣快然衰。所生病者舌亦痛，體重不食亦如之，煩心心下仍急痛，泄水溏瘕寒瘧隨，不臥強立股膝腫，疽發身黃大指痿。</p>
<p>手少陰脈起心中，下膈直與小腸通，支者還從心系走，直上咽喉系目瞳，直者上肺出腋下，臑後肘內少海從，臂內後廉抵掌後，銳骨之端注少衝。多氣少血屬此經，是動心脾痛難任，渴欲飲水咽乾燥，所生脅痛目如金，脅臂之內後廉痛，掌中有熱向經尋。</p>
<p>手太陽經小腸脈，小指之端起少澤，循手外側出踝中，循臂骨出肘內側，上循臑外出後廉，直過肩解繞肩甲，交肩下入缺盆內，向腋絡心循咽嗌，下膈抵胃屬小腸。一支缺盆貫頸頰，至目銳眥卻入耳，復從耳前仍上頰，抵鼻升至目內眥，斜絡於顴別絡接。此經少氣還多血，是動則病痛咽嗌，頷下腫方不可顧，肩如拔兮臑似折。所生病主肩臑痛，耳聾目黃腫腮頰，肘臂之外後廉痛，部分猶當細分別。</p>
<p>足經太陽膀胱脈，目內眥上起額尖，支者巔上至耳角，直者從巔腦後懸，絡腦還出別下項，仍循肩膊俠脊邊，抵腰膂腎膀胱內。一支下與後陰連，貫臀斜入委中穴。一支膊內左右別，貫胛俠脊過髀樞，臂內後廉膕中合，下貫端內外踝後，京骨之下指外側。是經血多氣猶少，是動頭疼不可當，項如拔兮腰似折，髀強痛徹脊中央，膕如結兮腨如裂，是為踝厥筋乃傷。所生瘧痔小指廢，頭囟頂痛目色黃，腰尻膕腳疼連背，淚流鼻衄及顛狂。</p>
<p>足經腎脈屬少陰，小指斜趣湧泉心，然骨之下內踝後，別入跟中腨內侵，出膕內廉上股內，貫脊屬腎膀胱臨。直者屬腎貫肝膈，入肺循喉舌本尋。支者從肺絡心內，仍至胸中部分深。是經多氣而少血，是動病飢不欲食，喘嗽吐血喉中鳴，坐而欲起面如垢，目視䀮䀮氣不足，心懸如飢常惕惕。所生病者為舌乾，口熱咽痛氣賁逼，股內後廉並脊疼，心腸煩痛疸而癖，痿厥嗜臥體怠情，足下熱病皆腎厥。</p>
<p>手厥陰心主起胸，屬包下膈三焦宮，支者循胸出脅下，脅下連腋三寸同，仍上抵腋循臑內，太陰少陰兩經中，指透中衝支者別，少指次指絡相通。是經少氣原多血，是動則病手心熱，肘臂攣急腋下腫，甚則胸脅支滿結，心中澹澹或大動，善笑目黃面赤色。所生之者為煩心，心痛掌中熱之病。</p>
<p>手經少陽三焦脈，起自小指次指端，兩指歧骨手腕表，上出臂外兩骨間，肘後臑外循肩上，少陽之後交別傳，下入缺盆膻中分，散絡心膈鬲里穿。支者膻中缺盆上，上項耳後耳角旋，屈下至願仍注頰。一支出耳入耳前，卻從上關交曲頰，至目內眥乃盡焉。是經少血還多氣，是動耳鳴喉腫痹。所生病者汗自出，耳後痛兼目銳眥，肩臑肘臂外眥疼，小指次指亦如廢。</p>
<p>足脈少陽膽之經，始從兩目銳眥生，抵頭循角下耳後，腦空風池次第行，手少陽前至肩上，交少陽右上缺盆。支者耳後貫耳內，出走耳前銳眥循。一支銳眥大迎下，合手少陽抵項根，下加頰車缺盆合，入胸貫膈絡肝經，屬膽仍從脅裡過，下入氣衝毛際縈，橫入髀厭環跳內。直者缺盆下腋膺，過季脅下髀厭內，出膝外廉是陽陵，外輔絕骨踝前過，足跗小指次指分。一支別從大指去，三毛之際接肝經。此經多氣乃少血，是動口苦善太息，心脅疼痛難轉移，面塵足熱體無澤。所生頭痛連銳眥，缺盆腫痛並兩腋，馬刀挾癭生兩旁，汗出振寒痎瘧疾，胸脅髀膝至䯒骨，絕骨踝痛及諸節。</p>
<p>厥陰足脈肝所生，大指之端毛際叢，足跗上廉太衝分，踝前一寸入中封，上踝交出大陰後，循膕內廉陰股充，環繞陰器抵少腹，俠胃屬肝絡膽逢，上貫膈里布脅肋，俠喉頏顙目系同，脈上巔會督脈出。支者還生目系中，下絡頰裡環唇內。支者便從膈肺起。此經血多氣少焉，是動腰疼俯仰難，男疝女人少腹腫，面塵脫色及咽乾。所生病者為胸滿，嘔吐洞泄小便難，或時遺溺並狐疝，臨症還須仔細看。</p>

<h2>汗之則瘡已（見《衛生寶鑑》）</h2>
<p>丁巳，委予從軍，回住冬於曹州界。以事至州，有趙同知謂予曰：家舅牛經歷病，頭目赤腫，耳前後尤甚，疼痛不可忍，發熱惡寒，牙關緊急，涕唾稠黏，飲食難下，不得安臥。一瘍醫於腫上砭刺四五百餘針，腫赤不減，其痛益甚，不知所由。願請君一見。予遂往診視，其脈浮緊，按之洪緩。此證乃寒覆皮毛，郁遏經絡，熱不得升，聚而益腫。經云：天寒則地凍水冰，人氣在身中，皮膚緻密，腠理閉，汗不出，血氣強，肉堅澀。當是之時，善行水者，不能往冰；善穿地者，不能鑿凍；善用鐵者，亦不得取四厥。必待天溫，冰釋凍解，而後水可行，地可穿。人脈亦猶是也。又云：冬月閉藏，用藥多而少針石也。宜以苦溫之劑，溫經散寒則已。所謂寒致腠理，以苦發之，以辛散之。宜以托裡溫經湯。麻黃苦溫，發之者也，故以為君。防風辛溫，散之者也；升麻苦辛，葛根甘平，解肌出汗，專治陽明經中之邪，故以為臣。血流而不行者則痛，以香白芷辛溫，當歸身辛溫，以和血散滯；濕熱則腫，蒼朮辛甘溫，體浮力雄壯，能泄膚腠間濕熱，人參、甘草甘溫，白芍藥酸微寒，調中益氣，使托其里，故以為佐。依方餌之，以薄衣覆其首，以厚被覆其身，臥於暖處，使經血溫，腠理開，寒乃散，陽氣升，大汗出，後腫減八九分。再服，去麻黃、防風，加連翹、鼠黏子，腫痛悉去。經言：汗之則瘡已。信哉斯言！或人以仲景言瘡家雖身痛，不可發汗，其理何也？予曰：此說乃營氣不從，逆於肉理而生瘡腫作，身疼痛，非外感寒邪而作疼痛。故戒之以不可發汗，汗之則成痓也。又問：仲景言鼻衄者不可發汗，復言脈浮緊者，當以麻黃湯發之，衄血自止，所說不同，其故何也？願聞其說。予曰：此議論血，正與瘡家概同。且夫人身血之與汗，異名而同類。奪汗者無血，奪血者無汗。今衄血妄行，為熱所逼，更發其汗，反助邪熱，重竭津液，必變凶證，故不可汗。若浮脈則為在表，脈緊則為寒。寒邪郁遏，陽不得伸，熱伏榮中，迫血妄行，上出於鼻，則當麻黃湯散其寒邪，使陽氣得舒，其衄自止，又何疑焉！或者嘆曰：知其要者，一言而終。不知其要，流散無窮。潔古之學，可謂知其要者矣。</p>
<p><u>托裡溫經湯</u>　治寒覆皮毛，郁遏經絡，不得伸越，熱伏榮中，聚而為赤，腫痛不可忍，惡寒發熱，或相引肢體疼痛。</p>
<p>人參（去蘆）　蒼朮（各一錢）　白芍　甘草（炙，各一錢半）　白芷　當歸身　麻黃（去根節，各二錢）　防風（去蘆）　葛根（各三錢）　新升麻（四錢）</p>
<p>上㕮咀，每服一兩，用水三盞，先煎麻黃，令沸去沫，再下余藥同煎，至一盞，去渣。大溫服。訖臥於暖處，以綿衣覆之，得汗而散。</p>

<h2>凡治病必察其下（見《衛生寶鑑》）</h2>
<p>戊午冬，予從軍，住冬於成武縣。有賈倉使父，年逾六旬，冬至後數日，疽發於背，五七日，腫勢約七寸許，不任其痛。瘍醫曰：視之膿已成，可開發矣。彼懼不從。越三日，醫曰：不開恐變證生矣。遂以燔針開之，膿泄痛減。以開遲之故，迨二日變症果生，覺重如負石，熱如焫火，痛楚倍常，六脈沉數，按之有力。此膏粱積熱之變也，邪氣酷熱，固宜以寒藥治之。時月嚴凝，復有用寒遠寒之議。急作清涼飲子加黃連，秤一兩五錢，作一服。服之利下，兩行痛減七分。翌日，復進前藥，其證悉除。後月餘平復。又陳錄判母，年七十有餘。亦冬至後腦出疽形，可甌面大。命瘍醫診視，俟瘡熟，以針出膿。因怒笞侍女，瘡輒內陷凹，一韭菜許，面色青黃不澤，四肢逆冷，汗出身清，時復嘔吐，脈極沉細而遲。蓋緣衰老之年，嚴寒之時，病中苦楚，飲食淡薄，已滌肥膿之氣，獨存瘦瘁之形，加之暴怒，精神愈損，故有此寒變也，病與時同，與瘍醫議制五香湯一劑，加丁香、附子各五錢。劑盡，瘍復大發，隨證調治而愈。《內經》曰：凡治病必察其下。謂察時下之宜也。諸痛瘡瘍，皆屬心火，言其常也。如瘡盛形羸，邪高痛下，始熱終寒，此反常也。固當察時下之宜而權治。故曰：經者常也，法者用也，醫者意也。隨所宜而治之，可收十全之功矣。</p>

<h2>舍時從證（見《衛生寶鑑》）</h2>
<p>至元壬午，五月二十八日，王伯祿年逾五旬有七，右臂膊腫盛，上至肩，下至手，指色變，皮膚涼，六脈沉細而微。此乃脈證俱寒。予舉瘍醫孫彥和視之。曰：此乃附骨癰，開發已遲。以燔針啟之，膿清稀解。次日，肘下再開之，加吃逆不絕。彥和與丁香柿蒂散，兩腿稍緩。次日，吃逆尤甚，自利，臍腹冷痛，腹滿，飲食減少，時發昏憒。於左乳下黑盡處，灸二七壯。又處托裡溫中湯，用乾薑、附子、木香、沉香、茴香、羌活等藥，㕮咀，一兩半，欲與服。或者曰：諸痛癢瘡瘍，皆屬心火，又當暑之盛時，用乾薑附子可乎？予應之曰：理所當然，不得不然。《內經》曰：脈細皮寒，瀉利前後，飲食不入，此謂五虛。況吃逆者，胃中虛寒故也。諸痛癢瘡瘍，皆屬心火，是言其定理也。此證內外相反，須當舍時從證也。非大方辛熱之劑急治之，則不能愈也。遂投之，諸證悉去，飲食倍進，瘡勢溫，膿色變。知者之事，知常而不知變。細事因而取收者，亦多矣，況醫乎哉！守常知變，豈可同日而語哉！</p>
<p><u>托裡溫中湯</u>　治瘡為寒變而內陷者，膿出清解，皮膚涼，心下痞滿，腸鳴切痛，大便微溏，食則嘔逆，氣短促，呃逆不絕，不得安臥，時發昏憒。</p>
<p>沉香　丁香　益智仁　茴香　陳皮（各一錢）　木香（一錢半）　甘草（炙，二錢）　羌活　乾薑（炮，三錢）　黑附子（炮去皮臍，四錢）</p>
<p>上㕮咀，作一服。水三盞，生薑五片，煎至一盞，去渣。溫服，無時。忌一切冷物。</p>
<p>《內經》云：寒淫於內，治以辛熱，佐以苦溫。故以附子、乾薑大辛，熱溫中外，發陽氣自里之表，故以為君。羌活味苦辛溫，透關節。炙甘草甘溫，補脾胃，行經絡，通血脈。胃寒則嘔吐呃逆，不下食，益智仁、丁香、沉香大辛，熱以散寒，為佐。瘡氣內攻，氣聚而為滿，木香、茴香、陳皮苦辛溫，治痞散滿，為使也。</p>

<h2>論診候肺疽肺痿法（見《外科精義》）</h2>
<p>夫肺者，五臟之華蓋也，處於胸中，主於氣，候於皮毛。勞傷血氣，腠理虛而風邪乘之，內感於肺也，則汗出惡風，咳嗽短氣，鼻塞，項強，胸脅脹滿，久久不瘥，已成肺痿也。風中於衛，呼氣不入，熱至於榮，則吸而不出。所以風傷皮毛，熱傷血脈，風熱相搏，氣血稽留，蘊結於肺，變成瘡疽。診其脈候，寸口脈數而虛者，肺痿也；數而實者，肺疽也。肺痿之候，久嗽不已，汗出過度，重亡津液，便如爛瓜，下如豕脂，小便數而不渴，渴者自愈，欲飲者將瘥。此由肺，多唾涎沫而無膿者，肺痿也。其肺瘡之候，口乾，喘滿咽燥而渴甚，則四肢微腫，咳吐膿血，或腥臭濁沫，胸中隱隱微痛者，肺疽也。上肉微起者肺瘡也。又《聖惠》曰：中府隱隱而微痛者，肺疽也。中府者，穴也，在雲門下一寸六分，乳肋間動脈應手陷中也。是以候，始萌則可救，膿成則多死。若欲知有膿者，但診其脈。若微緊而數者，未有膿也；緊甚而數者，已有膿也。又《內經》曰：血熱則肉敗，榮衛不行，必將為膿。大凡肺瘡，當咳嗽短氣，胸滿，時吐膿血，久久如粳米粥者，難治。若嘔膿而不止者，亦不可治也。其嘔膿而自止者，自愈。其脈短而澀者，自痊。浮大者，難治。其面色當白，而反面赤者，此火之剋金，皆不可治。</p>

<h2>辨瘡疽善惡法（見《外科精義》）</h2>
<p>夫瘡疽證候，善從惡逆，不可不辨。從來醫瘡，概舉五善七惡，殊不知此特謂腸胃之內，臟腑瘡疽所論之證也。發背、腦疽，別有善惡之證，載之於後。蓋七惡者，煩躁時漱，腹痛渴甚，或泄痢無度，或小便如淋者，一惡也。膿血既泄，腫焮尤甚，膿色敗臭，痛不可近，二惡也。目視不正，黑睛緊小，白睛青赤，瞳子上看，三惡也。喘粗短氣，恍惚嗜臥，四惡也。肩背不便，四肢沉重，五惡也。不能下食，服藥而嘔，食不知味，六惡也。聲嘶色敗，唇鼻青赤，面目四肢浮腫者，七惡也。動息自寧，飲食知味，一善也。便利調勻，二善也。膿潰腫消，水鮮不臭，三善也。神彩精明，語聲清亮，四善也。體氣平和，五善也。病有證合七惡，皮急緊而如善者；病有證合五善，而皮緩如惡者。夫如是者，豈淺識之所知哉？只知五善並至，則善無以加矣；七惡並至，則惡之極矣。愚意裁之，凡患瘡疽之時，五善之中，乍見一二善證，瘡可治也。七惡之內，忽見一二惡證，宜深懼之。大抵證候，瘡疽之發，虛中見惡證者，不可救也；實證無惡候者，自愈。大凡膿潰之後，而煩疼尚未痊者，診其脈洪滑粗散者，難痊；微澀遲緩者，易痊。此善惡之證，於診脈之中，亦可知也。發背腦疽，及諸惡瘡，別有五逆之證者：白睛青黑而眼小，服藥而嘔，傷痛渴甚，膊項中不便，音嘶色敗者，是為五逆。其餘熱渴痢嘔，蓋毒氣入里，臟腑之傷也，當隨證以治之。</p>

<h2>追蝕瘡疽腫法（見《外科精義》）</h2>
<p>夫瘡瘍生於外，皆由積熱蘊於內。《內經》謂血熱肉敗，榮衛不行，必將為膿。留於節腠，必將為敗。蓋瘡疽膿潰爛之時，頭小未破，瘡口未開，或毒氣未出，疼痛難任者，所以立追蝕膿之方法，使毒氣外泄而不內攻，惡肉易去，好肉易生也。若其瘡紝其血出不止者，則未可紝於瘡上摻追蝕之藥，待其熟可紝方紝。若其瘡紝之痛應心根者，亦不可以強紝之。誤觸其瘡，其焮痛必倍於變證。不無不可不慎也。若瘡癤膿成未破，於上薄皮剝起者，即當用破頭代針之劑安其上，以膏貼之。膿出之後，用搜膿化毒之藥，取效如神矣。若膿血未盡，便用生肌斂瘡之劑，務其早愈。殊不知惡肉未盡，其瘡早合，後必再發，不可不慎也。</p>

<h2>止痛法（見《外科精義》）</h2>
<p>夫瘡疽之證候不同，寒熱虛實，皆能為痛。止痛之法，殊非一端。世人皆謂乳沒珍貴之藥，可住疼痛。殊不知臨病制宜，自有方法。蓋熱毒者之痛，以寒涼之劑折其熱，則痛自止也；寒邪之痛，以溫熱之藥熨其寒，則痛自除也。因風而有痛，除其風；因濕而痛者，導其濕。燥而痛者潤之，塞而痛者通之，虛而痛者補之，實而痛者瀉之。因膿鬱而閉者開之，惡肉侵潰者引之，陰陽不和者調之，經絡秘澀者利之。臨機應變，方為上醫。不可執方而無權也。</p>

<h2>用藥增損法（見《外科精義》）</h2>
<p>古人用藥，因病制宜。治不執方，隨病增損。療積聚，補益可生，丸藥以從舊，不改方增損。蓋瘡疽危急之際，證候多種，安有執方之論。固可臨時加減，以從其法。只如發背腦疽，惡丁腫膿，潰前後虛而頭痛者，於托裡藥內加五味子。恍惚不寧，加人參、茯苓。虛而發熱者，加地黃、栝蔞根。往來寒熱者，並潮熱者，加柴胡、地骨皮。渴不止者，加知母、赤小豆。大便不通者，加大黃、芒硝。小便不通者，加木通、燈草。虛煩者，加枸杞子、天門冬。自利者，加厚朴。四肢厥逆者，加附子、生薑。嘔逆者，加丁香、藿香。多痰者，加半夏並陳皮。膿多者，加當歸、川芎。痛甚者，加芍藥、乳香。肌肉遲生者，加白蘞、官桂。有風邪者，加獨活、防風。心驚怯者，加丹砂。口內瞤動者，加羌活、細辛。愚雖不才，自幼及老，凡治瘡疽，常依此法，加減用藥，取效如神。後之學者，宜詳細焉。</p>

<h2>療瘡腫權變通類法（見《外科精義》）</h2>
<p>夫瘡疽之病，治療多方。總而論之，各有所宜。補瀉淋塌，及敷掃貼熁，針鐮炙烙，用之不同。蓋知其道也，舉治必效。昧於理者，利害不無。嘗見以寒療熱，以熱療寒，古今之通論也。又有檢方療病，妄制加減，以意裁之，自以為可。殊不知病有逆從，治有緩急，法有正權，方有奇偶，用有輕重。夫醫者意也，得其意，然後能變通也。達其變通，悟其道而審其理也，則左右逢其原矣。愚雖不才，略陳萬一。嘗見治寒以熱，而寒彌甚；治熱以寒，而熱彌熾者。何也？蓋不知五臟有陰陽之性，其可因其類而取之也。假如心實生熱者，當益其腎，腎水滋，熱將自除。腎水虛生寒，當補心，心火降，寒將自除。此所謂寒之而熱者取之陰，熱之而寒者取之陽也。又寒因熱用，熱因寒用，要在通其理類而已。又聞微者逆之，甚者從之，何謂也？蓋治寒以熱，必涼而行之；治熱以寒，必溫而行之。此亦欲其調和也。其間有正有權者何也？蓋病有微有甚，微者逆治，理之正也；甚者從治，理之權也。然為瘡科，於補瀉汗下，標本逆從，正權之理，烏可闕而不知也。大凡治療瘡疽之要法，曰：初覺熱毒發熱，鬱結而作瘡疽，一二日，宜先服五利湯，盪滌邪氣，疏通臟腑，令內消也。古今湯法，謂切銼、㕮咀，如麻豆大，以猛火急煎，無令過熟，欲其速利也。次有丸散宣導，血脈漸次消磨，令緩散也。助以淋溻，調和榮衛，行經絡也。更當膏潤溫養，兼磨傳四畔，貼熁之藥，順其陰陽也。追蝕托裡，汗下調補，臨時制宜。淺深緩急，自有等差。男女貴賤，亦當別論。晉尚書仲澄曰：寡婦尼僧，異於妻妾。雖無房室之勞，而有憂思之苦。此深達其情者也。又仲景云：物性剛柔，餐居亦異，治亦不同也。所以黃帝興四方之問，岐伯舉四治之能。況病之新舊，形志樂苦，豈可執方無權，以求其愈疾哉。亦有瘡疽腫痛，初生一二日，便覺脈沉細而煩悶，臟腑弱而皮寒，邪毒猛暴，恍惚不寧，外證深沉者，亦宜即當用托裡散，或增損茯苓湯，及溫熱之劑，以從治之。</p>

<h2>論時毒（見《外科精義》）</h2>
<p>夫時毒者，為四時邪毒之氣，而感之於人也。其候發於鼻、目、耳、項、咽喉，赤腫無頭，或結核有根，令人增寒發熱，頭痛，肢體痛甚者，恍惚不寧，咽喉閉塞，人不識者。將謂傷寒，便服解藥，一二日，腫氣增益，方悟，始召瘡醫。原夫此疾，古無方論，世俗通為丹瘤。病家惡言時毒，切恐傳染。考之於經曰：人身忽經變赤狀，如塗丹，謂之丹毒。此風熱惡毒所為，謂之丹瘤。與夫時毒，特不同耳。蓋時毒者，感四時不正之氣，初發狀如傷寒，五七日之間，乃能殺人，治者宜精辨之。先診其脈，滑數浮洪，沉緊弦澀。皆其候也。蓋浮數者，邪氣在表也。沉澀者，邪氣深也。認是時毒氣實之人，急服化毒丹以攻之。熱實以不利，大黃湯下之。其有表證者，解毒升麻湯以發之。或年高氣軟者，五香連翹湯主之。又於鼻內㗜通氣散，取十餘嚏作效。若搐藥不嚏者，不可治之。如嚏出膿血者，治之必愈。如左右看病之人，日日用㗜藥嚏之，必不傳染，切須忌之。其病人每日用嚏藥三五次，以泄熱毒。此治時毒之良法也。經二四日不解者，不可大下，猶宜和解之，服犀角散、連翹散之類。至七八日，大小便通利，頭面腫起高赤者，可服托裡散、黃耆散；宜針鐮砭割出血，泄其毒氣，十日外不治自愈也。此病若五日已前，精神昏亂，咽喉閉塞，語聲不出，頭面不腫，食不知味者，必死之候，治之無功矣。然而此疾，有陰有陽，有可汗有可下。嘗見粗工，但云熱毒只有寒藥。殊不知病有微甚，治有逆從，不可不審矣！</p>

<h1>卷二</h1>

<h2>辨瘡腫淺深法（見《外科精義》）</h2>
<p>夫瘡候多端，欲辨淺深，直須得法。若不素知方論，而妄生穿鑿者，如大匠舍其繩墨，以意度量，安能中於規矩哉。嘗聞古人有言曰：多則惑，少則得。簡而論之，則瘡疽概舉有三：腫高而軟者，發於血脈。腫下而堅者，發於筋骨。肉皮色不相辨者，發於骨髓。又曰：凡療瘡疽，以手按搖瘡腫，根平而大者深也，根小而浮者淺也。又驗其人，初生瘡之時，便覺壯熱惡寒，拘急頭痛，精神不寧，煩躁飲冷者，其患瘡疽必深也。若人雖患瘡疽，起居平和，飲食如故，其瘡浮淺也。惡瘡初生，其頭如米粟，微似有痛癢，誤觸破之，即焮，展覺有深意，速服犀角湯及漏蘆湯、通氣等藥，取通利疏暢，兼用浴毒湯溻潰之類。若浮淺者，纖貼膏求瘥。以此推之，淺深之辨，始終之次者也。</p>

<h2>辨膿法（見《外科精義》）</h2>
<p>夫瘡腫之疾，毒氣已結者，不可論內消之法。即當辨膿生熟淺深，不可妄開視其可否，不至於危殆矣。凡瘡疽腫大，按之乃痛者，腫深也；小按之便痛者，膿淺也；按之不甚痛者，膿未成也。若按之即復起者，有膿也；不復起者，無膿也，非膿必是水也。若發腫都軟而不痛者，血瘤也。發腫日漸增長而不大熱，時時牽痛者，氣瘤也。氣結微腫，久而不消，後亦成膿，此是寒熱所為也。留積經久，極陰生陽，寒化為熱，以此潰必多成瘻，宜早服內寒散以排之。諸癃瘤疣贅等，至年衰皆自內潰。若於年壯，可無後憂也。又凡療癰疽，以手掩其上，大熱者，膿成自軟也；若其上薄皮剝起者，膿淺也；其腫不甚熱者，膿未成也。若患瘰癧結核，寒熱發渴，經久不消者，其人面色痿黃，被熱上蒸，已成膿也。至於臟腑腸胃內瘡內疽，其疾隱而不見，目既不見，手不能近，所為至難。可以診其脈而辨之，亦可知矣。有患胃脘癰者，當候胃脈。人迎者胃脈也，其脈沉細者，氣迎則甚，甚則熱聚胃口，而不行胃脘，而為癰也。若其脈洪數者，膿已成也。設脈遲緊，雖膿未就，已有瘀血也，宜急治之。不爾，則邪毒內攻，腐爛腸胃，不可救也。又肺癰論曰：始萌則可救，膿成即死。不可不慎也。若久咳，膿如粳米粥者不治。嘔膿而止者，自愈也。又腸癰論曰：或繞臍生瘡，膿從瘡出者，有出臍中者。惟大便下膿血者，自愈也。</p>

<h2>托裡法（見《外科精義》）</h2>
<p>夫瘡疽丹腫，結核瘰癧，初覺有之，即用內消之法。經久不除，氣血漸衰，肌寒肉冷，膿汁清稀，毒氣不出，瘡口不合，聚腫不赤，結核無膿，外證不明者，並宜托裡。膿未成者，使膿早成。膿自潰者，使新肉早生。血氣虛者，托裡補之。陰陽不和，托裡調之。大抵托裡之法，使瘡無變壞之證。凡為瘡醫，不可一日無托裡之藥。然而寒熱溫涼，煩渴利嘔，臨證宜審其緩急耳。</p>

<h2>論癰疽（見《外科精義》）</h2>
<p>夫瘡腫之患，莫大乎癰疽。然而癰疽何以別之？經所謂榮衛稽留於經脈之中，則澀不行，血脈不行，則陽氣鬱遏而不通，故生大熱。熱毒之氣騰出於外，蓄結為癰。久而不散，熱氣乘之，腐化為膿。然而骨髓不焦枯，腑臟不傷敗，可治而愈也。何為疽？五臟風毒積熱，毒熱熾甚，下陷肌膚，骨髓皆枯，血氣兩竭，其腫色大堅，如牛領之皮，故命曰疽。癰者其腫皮薄以澤，此其候也。癰疽之生，有內有外。內生胸腹臟腑之中，外生膚肉筋骨之表。凡此二毒，發無定處，而有常名。夫鬱滯之本，始於喜怒憂樂不時，飲食居處不節，或金石草藥之發動，寒暑燥濕之不調，使陰陽之不平，而蘊結於外，使榮衛凝澀而腐潰。輕者起於六腑，浮達而為癰，氣行經絡而浮也。重者發於五臟，沉瀝而為疽，氣行經絡而沉也。明乎二者，腫毒丹疹，可以類推矣。</p>

<h2>論疔瘡腫（見《外科精義》）</h2>
<p>夫疔瘡者，以其狀瘡形，如丁蓋之狀者是也。古方論之，凡有十種。華元化載之五色丁。《千金方》說丁者有十三種。以至《外臺秘要》神巧萬全，其論頗同。然皆不離於氣客於經絡五臟，內蘊毒熱。初生一頭凹，腫痛，青黃赤黑，無復定色，便令煩躁悶亂，或增寒頭痛，或嘔吐心逆，以針刺瘡，不痛無血，是其候也。其候本因甘肥過度，不慎房酒，以致邪毒蓄結，遂生丁瘡。《內經》曰：膏粱之變，足生大丁。此之謂也。其治之法，急以艾炷灸之。若不覺痛者，針丁四邊，皆令血出。以回瘡錠子從針孔紝之上，用膏藥貼之。仍服五香連翹湯、漏蘆湯等劑，疏下之為效。若或針之不痛無血者，以猛火燒鐵針通赤，於瘡上烙之，令如焦炭，取痛為效。亦紝前錠子，用膏藥貼之。經一二日，膿潰根出，服托裡湯散，依常療之，以取平復。如針不痛，其人眼黑，或見火光者，不可治也。此邪毒之氣，入臟腑故也。《養生方》云：人汗入肉食，食之則生丁瘡，不可不慎也。</p>

<h2>時毒治驗（見《東垣試效方》）</h2>
<p>羅謙甫云：泰和二年，先師監濟源稅。時四月，民多疫癘。初覺增寒體重，次傅頭面腫盛。目不能開，上喘咽喉不利，舌乾口燥，俗云大頭天行。親戚不相訪問，染之多不救。張縣令侄亦得此病，至五六日，醫以承氣加藍根下之，稍緩。翌日其病如故。下之又緩，終莫能愈，漸至危篤。或曰：李明之存心於醫，可請治之。遂請診視，具說其由。先師曰：夫身半以上，天之氣也。身半以下，地之氣也。此邪熱客於心肺之間，上攻頭目，而為腫盛。以承氣下之，瀉胃中之實熱，是誅罰無過，殊不知適其所至為故。遂處方，用黃芩、黃連，味苦寒，瀉心肺間熱以為君；橘紅苦平，玄參苦寒，生甘草甘寒，瀉火補氣以為臣；連翹、鼠黏子、薄荷葉苦辛平，板藍根味苦寒，馬勃、白殭蠶味苦平，行少陽、陽明二經氣不得伸；桔梗味辛溫，為舟楫，不令下行。共為細末。半用湯調，時時服之。半蜜為丸，噙化之。服盡良愈。因嘆曰：往者不可追，來者猶可及。凡他所有病者，皆書方以貽之，全活甚眾。時人皆曰：此方天人所制。遂刊於石，以傳永久。</p>
<p><u>曰普濟消毒散</u></p>
<p>黃芩　黃連（各半兩）　人參（三錢）　橘紅　玄參　生甘草（各二錢）　鼠黏子　板藍根　馬勃（各錢）　白殭蠶（炒，七分）　升麻（二錢）　柴胡（二錢）　桔梗（二錢）</p>
<p>上件為細末。服餌如前法。或加薄荷、川芎、當歸身，㕮咀，如麻豆大。每服秤五錢，水二鍾，煎至一鍾，去滓。稍熱，時時服之。食後如大便硬，加酒煨大黃一錢，或二錢，以利之。腫熱甚，宜砭刺之。</p>
<p>愚按：時行疫疾，雖由熱毒所染，其氣實之人，下之可愈。氣虛者概下之，鮮不危者。故東垣先生製為此方，以救斯人，其惠博矣。</p>

<h2>治瘡大要三法（見《玉機微義》）</h2>
<p>《病機機要》云：瘡瘍者火之屬，須分內外，以治其本。若其脈沉實，當先疏其內，以絕其源也。其脈浮大，當先托裡，恐邪氣入內也。有內外之中者，邪氣至盛，遏絕經絡，故發癰腫。此因失托裡，及失疏通，又失和榮衛也。治瘡之大要，須明托裡、疏通、和榮衛之三法。內之外者，其脈沉實，發熱煩躁，外無焮赤痛深於內，其邪氣深矣，故疏通臟腑，以絕其源。外之內者，其脈浮數，焮腫在外，形證外顯，恐邪氣極而內行，故先托裡也。內外之中者，外無焮惡之氣，內亦臟腑宣通，知其在經，當和榮衛也。用此三法之後，雖未差，必無變證，亦可使邪氣峻減而易愈。</p>

<h2>論瘡瘍攻補法（見《玉機微義》）</h2>
<p>《元戎》云：陷脈為瘻，留連肉腠，營氣不從，逆於肉理，乃生癰腫。榮逆血鬱，血鬱則熱聚為膿。《正理論》曰：熱之所過，則為癰腫。營氣不從，亦有不熱者乎？答曰：膏粱之變，芳草之美，金石之過，氣血不盛，榮衛之氣充滿，而抑遏不能行，故閉塞血氣，腐而為癰也，當泄之以奪盛熱之氣。若其人飲食疏，精神衰，氣血弱，肌肉消薄，榮衛之氣短促而澀滯，故寒薄腠理，閉鬱而為癰腫也，常補之以接虛怯之氣，亦當以脈浮沉別之。既得盛衰，泄之則連翹、大黃，補之則內托之類是也。</p>
<p>按：辨瘡瘍，因熱因寒，及氣血鬱而成，當攻補之法不同，宜與前後諸篇兼看，始無餘蘊矣。但世俗昧此理，而云是瘡不是瘡，且服五香連翹湯。然或中或否，致誤者多。蓋不審形氣虛實，瘡毒淺深，發表攻裡，所因不同故也。今以丹溪先生《外科精要發揮》諸法之義，附於後例之下，庶學者而有所鑑焉。</p>

<h2>論瘡瘍灸法（見《玉機微義》）</h2>
<p>《元戎》云：瘡瘍自外而入者不宜灸，自內而出者宜灸。外入者托之而不內，內出者接之而令外。故經云：陷者灸之。灸而不痛，痛而後止其灸。灸而不痛，先及其潰，所以不痛。而後及良肉，所以痛也。灸而痛，不痛而後止其灸。灸而痛者，先及其未潰，所以痛。而次及將潰，所以不痛也。</p>
<p>按：此亦約法，因以東垣等法附於左，宜參用之。凡人初覺發背，欲結未結，赤熱腫痛，先以濕紙覆其上，立視候之。其紙先干處，即是結癰頭也。取大蒜切成片，如二三錢厚薄，安於頭上，用大艾炷灸之三壯，即換一蒜片。痛者灸至不痛，不痛灸至痛時方住。最要早覺、早灸為上。二日三日，十灸十活。三日四日，六七活。五六日，三四活。過七日，則不可灸矣。若有十數頭作一處生者，即用大蒜研成膏，作薄餅鋪頭上，聚艾於蒜餅上燒之，亦能活也。若背上初發赤腫，一片中間有一片黃粟米頭子，便用獨蒜切去兩頭，取中間半寸厚薄，正安於瘡上，著艾灸十四壯，多至四十九壯。</p>
<p>按：謂癰疽所發宜灸之也。然諸瘡患久成漏者，常有膿水不絕。其膿不臭，內無歹肉。尤宜用附子浸透，切作大片，厚三二分，於瘡上，著艾灸之。仍服內托之藥。隔三二日再灸之。不五七次，自然肌肉長滿矣。至有膿水，惡物漸潰根深者，郭氏治用白麵、硫黃、大蒜，三物一處搗爛，看瘡大小，捻作餅子，厚約三分，於瘡上，用艾炷灸二十一壯，一灸一易。後隔四五日，方用翠霞錠子，並信效錠子，互相用之，紝入瘡內，歹肉盡去，好肉長平。然後貼收斂之藥，內服應病之劑調理，即瘥矣。蓋不止宜灸於瘡之始發也。大抵始發宜灸，要汗、下、補養之藥對證。至灸冷瘡，亦須內托之藥切當。設有反逆，不惟不愈，恐致轉生他病。</p>

<h2>瘡分三因（見《玉機微義》）</h2>
<p>陳無擇云：發背癰疽者，該三因而有之。論曰：癰疽瘰癧，不問虛實寒熱，皆由氣鬱而成。經亦云：氣宿於經絡，與血俱澀而不行，壅結為癰疽。不言熱之所作而後成癰者，此乃內因喜怒憂思，有所鬱而成也。身有熱被風冷搏之，血脈凝泣不行，熱氣壅結而成；亦有陰虛，陽氣湊襲，寒化為熱，熱成則肉腐為膿者，此亦外因寒熱風濕所傷而成也。又服丹石，及炙爆酒面，溫床厚被所致；又盡力房室，精虛氣節所致者，此乃因不內外所傷而成也。故知三因備也。</p>
<p>按：所分三因雖備，但未具瘡瘍之邪在經在表在裡之異，故其治法亦不能詳備也。</p>

<h2>論陰滯於陽則生癰陽滯於陰則生疽（見《玉機微義》）</h2>
<p>丹溪曰：《精要》云，陽滯於陰，脈浮洪弦數；陰滯於陽，脈沉細弱澀。陽滯以寒治之，陰滯以熱治之。切詳其意，陽滯陰滯，當作熱治寒治。求之寒熱，固可作陰陽論。於陰於陽，分明是於氣於血，他無可言也。熱滯於氣，固無寒滯耶。寒滯於血，固無熱滯耶。何寒不能傷氣，熱不能傷血耶？以予觀之，氣為陽行脈外，血為陰行脈內，相併分派，周流循環，一身無停止，謂之脈。一呼脈行三寸，一吸脈行三寸，呼吸定息，共得六寸，一身通行八十一丈。得熱則行速而太過，得寒則行遲而不及。五味之厚，七情之偏，過氣為滯，津液稠厚。積而久也，為飲為痰，滲入脈內。血為所亂，因而凝濁，運行冱泣，或為沸騰，此陰滯於陽也，正血滯於氣也。氣病，今人或以藥助邪，病上生病，血之病日增，溢出脈外，隧道隘塞，升降有妨，運化失令，此陽滯於陰也，正氣滯於血也。病分寒熱者，當是稟受之素偏，虛邪之雜合，豈可以陽為熱，陰為寒耶？浮洪弦數，氣病之脈也，豈可遽此作熱論？沉細弱澀，血病之脈，豈可遽此作寒論？此萬病之根本，豈止疥癬、瘡瘍、癰疽而已。幸相評其是否。</p>

<h2>明瘡瘍之本末（見《玉飢微義》）</h2>
<p>東垣曰：生氣通天論云：營氣不從，逆於肉理，乃生癰腫。又云：膏粱之變，足生大丁，受如持虛。陰陽應象論云：地之濕氣，感則害人皮肉筋脈。是言濕氣外傷，則營氣不行榮衛者，皆營氣之所經營也。營氣者，胃氣也，運氣也。營氣為本，本逆不行，為濕氣所壞而為瘡瘍也。膏粱之變，亦是言厚滋味過度，而使營氣逆行，凝於經絡，為瘡瘍也。此邪不在表，亦不在裡，惟在其經中道病也。以上《內經》所說，俱言因營氣逆而作也。遍看諸瘡瘍論中，多言二熱相搏，熱化為膿者；有隻言熱化為膿者；又言濕氣生瘡，寒化為熱而為膿者。此皆瘡疽之源也。宜於所見部分用引經藥，併兼見證中分陰證陽證，先瀉營氣是其本。本逆助火，濕熱相合，敗壞肌肉而為膿血者，此治之次也。宜遠取諸物以比之。一歲之中，大熱無過夏。當時諸物，皆不壞爛者，交秋濕令大行之際也。近取諸身，熱病在身，止頭熱而不敗壞肌肉，此理明矣。標本不得，邪氣不服。言一而知百者，可以為上工矣。</p>
<p>營氣不從，逆於肉理，乃生瘡癰。且營氣者胃氣也，飲食入於胃，先輸於脾，而朝於肺。肺朝百脈，次及皮毛，先行陽道，下歸五臟六腑，而氣口成寸矣。今富貴之人，不知其節，以飲食肥醲之類，雜以厚味，日入太過。其氣味俱厚之物，乃陽中之陽，不能走空竅，先行陽道，反行陰道，逆於肉理，則濕氣大勝，則子能令母實，火乃大旺，熱濕既盛，必來克腎。若雜以不順，又損其真水。腎既受邪，積久水乏，水乏則從濕熱之化而上行，其瘡多出背出腦，此為大丁之最重者也。若毒氣行於肺，或脾胃之部分，毒之次也。若出於他經，又其次也。濕熱之毒，所止處無不潰爛。故經言膏粱之變，足生大丁，受如持虛。如持虛器以受物，物無不受。治大丁之法，必當瀉其營氣。以標本言之，先受病為本，非苦寒之劑為主為君，不能除其苦楚疼痛也。諸瘡瘍有痛，往往多以乳香、沒藥，雜以芳香之藥止之，必無少減之理。若使經絡流通，臟腑中去其壅滯，必無痛矣。苦寒之劑，除其疼痛，藥下於咽，則痛立已。此神品藥也。</p>
<p>瘡瘍食肉，乃自棄也。瘡瘍者，乃營氣而作也，今反補之，而自棄何異？雖用藥施治而不能愈。地之濕氣，自外而入內者瘡癤，當先服藥而用針。如瘡癤小，不欲飲藥，或嬰兒之瘡，先當溫衣覆蓋，令其凝泣壅滯，血脈溫和，則出血立已者。不如此，血脈凝滯，便針則邪毒不瀉，反傷良肉，又益其瘡勢也。瘡瘍及諸病面赤，雖伏大熱，禁不得攻裡。為陽氣怫鬱，邪氣在經，宜發表以去之。故曰：火鬱則發之。雖大便數日不見，宜多攻其內，以發散陽氣，少加潤燥之藥以潤之。如見風脈風證，只可用發表風藥，便可以通利，得大便行也。若只乾燥秘澀，尤宜潤之，慎不可下也。瘡瘍鬱冒，俗呼昏迷是也，宜汗之則愈。驗瘡名色，治之當從《素問》、《針經》、《聖濟總錄》、易老瘡論，及諸家治瘡用藥法度。此為緊要，臨病之際，宜詳審焉。按《聖濟總錄》，能悉諸瘡之名色，但其用藥，則多主寒涼，而無通變之法。惟已上易老、東垣等言，深擷針經之大法，陳脈病治例之要，學者能熟此等議論，則臨證處方，便自胸中瞭然明白。</p>

<h2>論腸癰</h2>
<p>陳無擇云：癰疽初無定處，隨其所發即命名。在外則為發背、發腦，在內則為腸癰、內癰、心癰、肺癰、臍癰等證。得其法則生，失其法則死。外證易識，內證難明。不可不備述也。腸癰為病，身甲錯，腹皮急按之濡，如腫狀，腹無聚積，身無熱，脈數。此為腸內有膿，久積陰冷所成也。故《金匱》有用附子溫之。小腹腫痞，按之痛如淋，小便自調，發熱身無汗，復惡寒，其脈遲緊者，膿未成，可下之，當有血。洪數者，膿已成，不可下。此以內結熱所成也，故《金匱》有用大黃利之。甚者腹脹大，轉側聞水聲，或繞臍生瘡，或膿從臍出，或大便出膿血，不治必死。其如五內生瘡，亦止分利陰陽而已。不比外癰，須依四節八事之次第也。《脈經》引官羽林婦病，醫診之其脈滑而數，滑則為實，數則為熱，滑則為榮，數則為衛，衛數下降，榮滑上升，榮衛相干，血為濁敗，少腹痞堅，小便或澀，或時汗出，或復惡寒，膿為已成。設脈遲緊，即為瘀血，血下即愈。更《內經》所載，有息積病，此見有得之二三年，遍身微腫，續乃大腸與臍連日出膿，遂致不救。此亦腸癰之類也，不可不審。</p>
<p>按：言內癰、腸癰等候，語約而精。《脈經》與此大同小異，宜並詳審可也。</p>
<p><u>東垣黃連消毒散</u>　治癰疽發於腦項，或背太陽經分，腫勢外散，熱毒焮發，麻木不痛者，宜先灸之。或痛而發熱，並宜服此。</p>
<p>黃連（制）　羌活（各一錢）　黃芩　黃柏（各半錢，酒製）　生地黃　知母（制）　獨活　防風　當歸尾　連翹（各四分）　藁本　防己　桔梗（各半錢）　黃耆　蘇木　陳皮　澤瀉（各二分）　人參　甘草（各三分）</p>
<p>上㕮咀，水煎。</p>
<p>按：好問記云：素飲酒，於九月中，患腦之下、項之上出小瘡。後數日，腦項麻木，腫勢外焮，瘍醫遂處五香連翹。至八日不下，而云不可速療，十八日得膿，俟膿出用藥；或砭刺，三月乃可平，四月如故。予記《醫經》凡瘡見膿，九死一生。果如醫言，則當有束手待斃之悔矣。乃請明之診視，且謂膏粱之變，不當投五香。五香已無及，當先用火攻之策，然後用藥。以大艾炷，如兩核許者，攻之至百壯，乃痛覺。次為處方，云是足太陽膀胱之經，其脈逆，當反治。脈中得弦緊，按之洪大而數，又且有力，必當仗其所主，而先其所因。其始則同，其終則異。可使破積，可使潰堅，可使氣和，可使必已。必先歲氣，無伐天和。以時言之，可收不可汗，經與病禁下法，當結者散之，咸以軟之，然寒受邪而禁咸。諸苦寒為君為用，甘寒為佐，酒熱為因，用為使。以辛溫和血，大辛以解結為臣。三辛三甘，益元氣而和血脈。淡滲以導酒濕，扶持秋令，以益氣瀉火。以入本經之藥和血，且為引用。既以通經為主用，君以黃芩、連、柏、生地黃、知母，酒製之；本經羌活、獨活、防風、藁木、防己、當歸、連翹以解結；黃耆、人參、甘草，配諸苦寒者三之一多，則滋營氣補土也。生甘草瀉腎之火，補下焦元氣；人參、橘皮以補胃，蘇木、當歸尾去惡血；生地黃補血。酒製防己除膀胱留熱；澤瀉助秋，去酒之濕熱。凡此諸藥，必得桔梗為舟揖，乃不下沉。投劑之後，疽當不痛不折，食進體健。如言服之，投床大鼾，日出乃寤。以手捫瘡腫，減七八。至瘡痂斂，都十四日而已。世醫用技，豈無取效者。至於治效之外，乃能歷數體中不言之秘，平生所見，惟明之一人而已。（詳見《東垣方》）</p>

<h2>馬益卿先生癰疽論（見《外科精要》）</h2>
<p>論曰：夫人有四肢五臟，一覺一寐，呼吸吐納，精氣往來。流而為榮衛，暢而為氣色，發而為聲音。陽用其形，陰用其精。此人常數之所同也。至其失也，蒸則生熱，否則生寒，結而為瘤贅，陷而為癰疽，凝而為瘡癬，憒則結癭，怒則結疽。又五臟不和，則九數不通，六腑不和，則留結為癰。皆經絡澀滯，氣血不流，腸風毒乘之而致然也。</p>
<p>一人面白神勞，脅下生一紅腫如桃，或教用補劑。不信，乃用流氣飲、十宣散，血氣俱憊而死。以上二證，乃少陽經，多氣少血之部分也。</p>
<p>一人形瘦膚厚，憂患作勞如色。左腿外側廉上生一紅腫，大如慄。醫以大府實，用承氣湯二貼下之。又一醫與大黃、硃砂、甘草、麒麟竭二貼，大事去矣。此證乃厥陰經，多氣少血之部分也。</p>
<p>一士人，於背臀腿，節次生疽，用五香連翹湯、十宣散而愈。後腳弱懶語，肌起白屑，脈洪浮稍鼓。予以極虛處治，作參耆歸術膏，以二陳湯化下。盡藥一斤半，白屑沒大半，呼吸有力。其家嫌緩，自作風病治之而死。</p>
<p>一老人，背發疽徑尺，已與五香十宣散數十貼，嘔逆不睡。素有淋病。急以參耆歸術膏，以牛膝湯入竹瀝飲之，止淋思食。盡藥四斤，膿自湧出而愈。</p>
<p>一人發背疽，得內托十宣多矣。見膿，嘔逆發熱，又用嘉禾散加丁香。時天熱，脈洪數有力，此潰瘍尤所忌。然形氣實，只與參膏、竹瀝飲之。盡藥十五六斤，竹百餘竿而安。後不戒口味，夏月醉坐水池中，經年餘，左脅旁生軟塊，二年後成疽。自見脈證，嘔逆如前，仍服參膏等而安。若與十宣，其能然乎！</p>
<p>臀癰，臀居小腹之後，在下，此陰中之陰也。道遠位僻，雖曰多血，然氣運不到，血亦罕來，中年後尤慮患此。才有腫痛，參之脈證，但見虛弱，便與滋補。氣血無虧，可保終吉。</p>
<p>癰疽因積毒在臟腑，當先助胃壯氣，使根本堅固；而以行經活血藥為佐，參以經絡時令，使毒氣外發。施治之早，可以內消。此內托之意也。</p>
<p>癰疽發渴，乃氣血兩虛，用參、耆以補氣，當歸、地黃以養血，或忍冬丸、黃耆六一湯。</p>
<p>附骨疽者，皆因久得厚味，及酒後涉水得寒，故寒深入髀樞穴，左右積痰瘀血，相搏而成也。</p>
<p>一女，髀樞穴生附骨疽，在外側廉少陽經之分，始未悉用五香湯、十宣散。一日惡寒發熱膈滿，猶大服五香湯，一夕喘死。此升散太過，孤陽發越於上也。</p>
<p>內疽者，皆因飲食之火、七情之火，相鬱而發。飲食陰受之七情者，臟腑受之，宜其發在腔子而向內，非肝、腸、胃、肓膜也。</p>
<p>肺癰先須發表。《千金方》曰：病咳唾膿血，其脈數實，或口中咳，胸中隱痛，脈反滑數者，為肺癰。其脈緊數，為膿未成。緊去但數，膿為已成。</p>
<p>肺癰治法，《要略》先以小青龍湯一貼，以解表其風寒邪氣；然後以葶藶大棗瀉肺湯、桔梗湯、葦葉湯，隨證用之以取膿。此治腫瘍之例也。終以韋宙獨行方（名黃昏湯，見附方），以補里之陰氣。此治潰瘍之例也。</p>
<p>肺癰已破，入風者不治。或用太乙膏丸，服以搜風湯吐之。吐膿血，如肺癰狀，口臭，他方不應者，宜消風散入男子發灰，清米飲下。兩服可除。</p>
<p>一少婦，胸膺間潰一竅，膿血與口中所咳相應而出。以參、耆、當歸，加退熱排膿等藥而愈。（余按此因肺痿所致）</p>
<p>腸癰作濕熱積滯，入風難治。</p>
<p>腸癰，《千金》謂妄治必殺人。其病小腹重強，按則痛，小便似淋，時時汗出，復惡寒，身皮甲錯，腹皮急如腫，脈數者，微有膿也。巢氏云：洪數已有膿。脈若遲緊者，未有膿。甚者腹脹大，轉側有水。或繞臍生瘡，或膿自出，或大使膿血。問曰：羽林婦何以知腸有膿？師曰：脈滑而數，滑則為實，數則為熱；滑則為榮，數則為衛。衛數下降，榮滑上升，榮衛相干，血為敗濁，小腹堅滿，小便或澀，自汗，或惡寒，膿為已成。設脈遲緊，則為瘀血，血下則安。</p>
<p>腸癰治法：《要略》以薏苡仁附子敗毒散。《千金》以大黃牡丹湯。《三因》以薏苡湯治之。《千金》又有灸法，曲兩時，正肘頭銳骨灸百壯，下膿血而安。</p>
<p>一婦腸中痛甚，大便自小便出。李生診之曰：芤脈見於陽部，此腸癰也。以雲母膏作百十圓，煎黃耆湯吞之，利膿數升而安。李生曰：寸芤積血在胸，關芤為腸癰。（此丹溪引《王氏余話》）</p>
<p>一女子腹痛，百方不治，脈滑數，時作熱，腹微急。孫曰：痛病脈當沉細，今滑數。此腸癰也。以雲母膏一兩為丸，如梧桐子大，以牛皮膠溶入酒中，並水吞之。餉時服盡，下膿血愈。</p>
<p>乳癰，用蒲公英同忍冬藤，入少酒煎服，即欲睡，是其功也。及覺而病安矣。</p>
<p>囊癰者，濕熱下注也。有作膿者，此濁氣下順，將流入滲道。因陰道或虧，水道不利而然。膿儘自安，不藥可也，惟在善於調攝耳。又有因腹腫，漸流入囊，腫甚，而囊自裂開，睪丸懸掛水出，以輔炭末傅之，外以紫蘇包裹，仰臥養之。</p>
<p>癰疽入囊者，予嘗治數人，悉以濕熱入肝經施治，而用補陰佐之。雖膿潰皮脫，睪丸懸掛，皆不死。</p>
<p>一少年，玉莖挺長，腫而痿，皮塌常潤，磨股難行，兩脅氣衝上，手足倦弱。先以小柴胡加黃連大劑，行其濕熱，少加黃檗，降其逆上之氣，腫漸收，莖中有堅塊未消。以青皮為君，少佐以散風之藥末服之，以絲瓜子汁調五棓子末傅愈。</p>
<p>本草言夏枯草大治瘰癧，散結氣，有補養厥陰血脈之功，而經不言。觀其能退寒熱虛者，可仗。若實者，以行散之藥佐之，外以艾灸，亦漸取效。（以上見《丹溪纂要》）</p>
<p>《外臺秘要》：人之肉，脾所主。人之皮膚，肺所管。膚肉受病，皆由衣服滋味。衣服厚暖則來易，滋味過多則臟腑生熱。臟腑既壅塞，則血脈不流，而毒氣偏注，湊於俞穴之所，陰陽會津，邪承虛伏守，必煮其血。血散則潰肉，肉腐則成膿。實則為癰，浮則為腫。若堅腎肝虛熱，遂成癧矣。疽則附骨，癧則著筋。</p>
<p>經曰：火鬱發之。雖大便數日不通，宜多攻表，發散陽氣，少加潤燥潤之。如風脈風證，只用發表風藥，亦可通利。若干燥秘澀，尤宜潤之，不可下。</p>
<p>劉守真曰：瘡腫因內熱外虛，風濕所乘。然肺主氣、皮毛，脾主肌肉。氣虛則膚腠開，風濕所乘。脾氣濕而內熱，即生瘡也。腫者由寒熱毒氣，客於經絡，使血澀壅結成腫。風邪內作者，即無頭無根。氣血相搏作者，有頭有根。赤核腫則風氣流會。瘡以痛為實，癢為虛者，非謂虛寒，謂熱之微甚。</p>
<p>仲景云：數脈不時，則生惡瘡。注：脈不時者為數，當改而復，復不微是邪氣。但郁營氣中，必出自肌肉而生惡瘡。《千金》云：諸浮數脈，應當發熱，而反灑淅惡寒，若有痛處，當發為癰。癰疽膿已成，十死一生，故聖人弗使已成。其已成膿血者，砭石被鋒所取也。</p>
<p>《素問》：血實宜決之，氣虛宜導引之。地有高下，氣有溫涼。高者氣寒，下者氣熱故也。濕熱瘡，汗之則瘡已。經曰：治癰腫者，刺癰上，視小大深淺刺，冬則閉塞。閉塞者，用藥多而少針石。所謂少針石者，非癰疽之謂也。</p>
<p>經曰：癰疽不得頃時回，回者遠也。言癰疽遠頃時而不瀉，則爛筋骨穿臟腑矣。</p>
<p>《靈樞》云：癰疽不問虛實寒熱，皆由氣鬱而成。經云：氣宿於經絡，與血俱澀而不行，壅結而成，此因喜怒憂思也。身有熱，被風冷搏之，血脈凝泣不行，熱氣壅結而成，此外因也。有陰虛陽氣湊襲，寒化為熱，熱盛則肉腐為膿，此寒熱風熱所傷也。有因服丹石、炙爆、面濕、床被厚者，有因盡力房室，精虛氣節者。《爾雅》云：癤者節也，癰者壅也，疽者沮也。是言陰陽不和，有所壅節，皆成癰疽也。又云：陰滯於陽則發癰，陽滯於陰則發疽。此二毒發無定處，當以脈辨之。浮洪滑數則為陽，微沉緩澀則為陰。陰則熱治，陽則冷治。治法有四節八事：初覺則宜消熱，癰毒已潰則宜排膿止痛，膿盡則消惡肉，惡肉盡則長傅痂。次序既明，又須別其因以施治，觀病淺深凶吉，寒則溫之，熱則涼之，虛則補之，實則瀉之，導以針，灼以艾，破毒潰堅，以平為期也。</p>
<p>《太平聖惠方》：癰疽已破，泄其膿。煩痛尚未全退，診其脈洪滑粗散者難療，微澀遲緩者易瘥。諸緊數之脈，應發熱而反惡寒者，癰疽也。</p>
<p>東垣云：瘡疽之發，其受之有內外之別，治之有寒溫之異。受之外者，法當托裡以溫劑，反用寒藥，則是皮毛始受之邪，引入骨髓。受之內者，法當疏利以寒劑，反用溫劑托裡，則是骨髓之病，上徹皮毛。表裡通潰，共為一瘡，助邪為毒，苦楚百倍，輕則危殆，重則死矣。予聞潔古老人曰：瘡瘍之生也，表裡不同，或攻或發，少有差舛變證，隨為殺人，尤苦痛於傷也。針灸施治，隨宜所用之藥，又當明入五臟君臣，是其法也。</p>
<p>李氏云：小兒純陽多熱，心氣鬱而多瘡瘍，胎食過而受熱毒，犀角散為最。余如常法，大下恐傷其胃。</p>
<p>《千金方》云：治發背已潰未潰，豆豉水和，搗成硬泥，依腫大小，作餅三四分厚。如已有瘡孔，勿覆瘡孔上。四布豉餅子，列艾其上灸之。使微熱，勿令破肉。如熱痛，急少起。日火二度。如先有瘡孔，孔出汗即瘥。</p>
<p>丹溪云：漏瘡須先服補藥，以生氣血，即參、耆、朮、歸、芎大劑為主服。以炮附子末，唾津和為餅，如三錢厚，安瘡上，以艾炷灸之。漏大艾炷亦大，漏小艾炷亦小。但灸令微熱，不可令痛。干則易之，如困則止。來日如前法再灸，直至肉平為效。亦有用附片灸，仍前氣血藥作膏藥貼之。</p>
<p>《中藏經》云：癰疽瘡腫之作，皆五臟六腑蓄毒不流，非獨榮衛壅塞而發。其行也有處，其主也有歸。假令發於喉舌者，心之毒；皮毛者，肺之毒；肌肉者，脾之毒；骨髓者，腎之毒。發於下者，陰中之毒；發於上者，陽中之毒。外者六腑之毒，內者五臟之毒。故內曰壞，外曰潰；上曰從，下曰逆；發於上者得之速，發於下者得之緩；感於六腑者則易治，感於五臟者則難治也。</p>
<p>《此事難知》：論中定癰疽死之地分。</p>
<p>一茯菟，二腓腨，三背，四五臟俞，五項上，六腦，七髭，八鬢，九頤。</p>
<p>按《素問》、《靈樞》諸篇，具瘡瘍之由，生死之要，針治之法甚詳，宜玩本文。大抵已上所言地分，皆脈絡所會，內系腑臟。然患者得而早言，醫者審證，按法治之，則皆為不死矣。設不早治，治不對證，雖發於不死之地分，吾恐亦致死矣。</p>

<h2>論背疽其源有五（見《外科精義》）</h2>
<p>天行一，瘦弱氣滯二，怒氣三，腎氣虛四，飲法酒、食炙爆物、服丹藥熱毒五。蓋治背疽，不可一概。將為熱毒，其治之難易，當自一而至五。</p>

<h1>卷三</h1>

<h2>瘡瘍用藥總論</h2>
<p>夫人之病不同，藥之性亦異。有是病而宜用是藥，不可以誤施也。且如瘡疽，痛息自寧，飲食知味，脈證俱緩，緩則治本，故可以王道平和之藥，徐而治之，亦無不愈。若脈沉焮腫，寒熱煩躁，此脈症俱實，宜瀉之，非硝黃猛烈之劑不能除，投以王道之劑，則非也。若瘡瘍聚腫不潰，潰而膿水清稀，或瀉利腸鳴，飲食不入，嘔吐無時，或手足並冷，此脈證俱虛，非大補之藥不能平，投以硝黃攻伐之劑，亦非也。當推《內經》本旨，而虛者補之，實者瀉之，熱者清之，寒者溫之，隨證用藥，臨機應變，庶不誤耳。大抵瘡瘍之證，皆由臟腑不和，氣血凝滯，喜怒不常，飲食不節，或腠理不密，邪氣客於經絡，或服丹石之藥，及膏粱厚味，不慎房室，精虛氣竭所致。故治其證者，當辨其表裡虛實，隨宜治之。若不推陰陽逆順，氣和攻守，率爾投藥，以致實實虛虛。或概以王道為萬全，猶執一而無權，適以害之矣。謹錄所嘗試而驗者於右。以告同志。</p>

<h2>膿潰論</h2>
<p>夫癰疽瘡癤，皆由氣血壅滯而生也。當推其虛實表裡，而早治之。可以內消，此即托裡之意也。若毒氣已結者，勿泥此內消之法，當辨膿之有無淺深：若按之即復起者，有膿也；不復起者，無膿也；大按方痛者，膿深也；小按便痛者，膿淺也。急酌量刺之，緩則穿通臟腑，腐爛筋骨，可不慎哉。但病者多喜內消，而醫者即用十宣散，及敗毒散、流氣飲之類。殊不知十宣散雖有參、耆，然防風、白芷、厚朴、桔梗皆足以耗氣，況不分經絡時令，氣血多小，而概用之乎。敗毒散乃表散之藥也，雖有表證，不過一二服，況非表證而用之乎？流氣飲乃行氣散血之劑，若服之過度，則氣虛血耗，何以為膿？此三藥者，不可輕用明矣！若夫瘡既成膿，皮膚不得疏泄，昧者待其自穿。殊不知少壯而充實者，或能自解；若老弱之人，氣血枯槁，兼或攻發太過，不行針刺，膿毒乘虛內攻，穿腸腐膜，鮮不誤事。如沈氏室乳癰膿成，予為針刺及時，不月而愈。黃上舍腿癰膿熟，惡針，幾至危殆，予為刺之，大補三月而愈。練千兵腿癰，脈證俱弱，亦危甚矣。予治以托裡得膿，急使針刺。彼固不從，致膿水開泄淋漓，不能收斂而久。王安人發背，待其自破，毒氣內攻。王貴腹癰，潰透腹脅，穢從瘡口而出。予謂其決不起，果然。大抵瘡瘍之證，感有輕重，發有淺深。淺者腫高而軟，發於血脈。深者腫下而堅，發於筋骨。然又有發於骨髓者，則皮肉不變，膿成之時，氣血壯實者或自出，怯弱者，不行針刺，鮮有不誤。東垣云：毒氣無從而解，膿瘀無從而泄，過時不烙，反攻於內，內既消敗，欲望其生，豈可得乎？茲舉一二，與同道裁之，使患者知所慎云。</p>

<h2>生肌止痛</h2>
<p>夫肌肉脾之所主也，潰後收斂遲速者，乃氣血盛衰使然。世之治者，但知生肌用龍竭之屬，止痛用乳沒之屬，恪守不移。余謂不然。蓋生肌之法，當先理脾胃，助氣血為主，則肌肉自生，豈假龍竭之屬？設若膿毒未盡，就用生肌，反增潰爛。壯者輕者，不過復潰或遲斂而已。怯者重者，必致內攻，或潰爛而不斂，亦危矣！蓋止痛之法，熱者清之，寒者溫之，實者損之，虛者補之。膿郁者開之，惡肉侵蝕者去之。如是則痛自止，豈假乳沒之屬？如黃汝耘背發，毒氣未盡，早用生肌，竟致潰爛，予以解毒藥治之得愈。許序班患此，毒氣始發，驟用生肌，其毒內攻而死。王汝道患腿癰，因寒作痛，與乳香定痛丸。周朝儀母患時毒，因熱作痛，與防風通聖散。丁蘭患臀癰膿潰，因虛作痛，與益氣養榮湯。劉貴患腹癰，因實作痛，與黃連內疏湯。王州守患腿癰，膿成作痛，予為刺之。楊千兵母發背，腐肉侵蝕作痛，予為取之，痛各自止。嗟夫！以寒治熱，以熱治寒，損實補虛，此用藥者之繩墨。若專用龍竭生肌，乳沒止痛，予恐其功不奏也。</p>

<h2>惡肉論</h2>
<p>夫惡肉者腐肉也。大凡癰疽瘡腫潰後，腐肉凝滯必取之，乃推陳致新之意。若壯者筋骨強盛，氣血充溢，真能勝邪，或自去，或自平，不能為害。若年高怯弱之人，血液少，肌肉澀，必先迎而奪之，順而取之，是謂定禍亂以致太平。設或留而不去，則有爛筋腐肉之患。如劉大尹、汪太夫人取之及時，而新肉即生，得以全愈。金工部、陸舍人取之稍遲，幾至不救。鄭揮使取之失期，大潰而斃。予嘗見腐肉既去，雖少壯者不補其氣血，尚不能收斂。若怯弱者，不取惡肉，不補氣血，未見其生也。患者慎之。</p>

<h2>瘡瘍舍時從證</h2>
<p>張通北友人，年逾四十，夏月腋下患毒，潰後不斂，膿出清稀，皮寒脈弱，腸鳴切痛，大便溏泄，食下則嘔。此寒變而內陷也，治法宜以大辛溫之劑。遂投以托裡溫中湯二貼，諸證悉退。更以六君子湯加炮乾薑、肉桂數劑，再以十全大補湯而愈。陳揮使年逾五十，冬月腿患癰，脈數煩躁，引冷便秘，腫痛焮甚。此熱淫於內也，法當以苦寒之藥。投以清涼飲倍加黃芩治之，其勢頓退，更以四物湯加黃芩而痊。又胡生耳後患毒，脈證俱實，以內疏黃連湯治之。彼以嚴冬，不服寒劑，竟至不起。殊不知羅謙甫曰：用寒遠寒，用熱遠熱，有假者反之，雖違其時，以從其證。又云：凡治病必察其下，謂察時下之宜而權治之。故曰經者常也，法者用也，醫者意也。隨其所宜而治之，可收萬全之功矣。</p>

<h2>用十宣敗毒流氣宣泄藥</h2>
<p>鄭大理伯興髀骨患疽，背左右各一，竟背重如負石，兩臂如墜，瘡頭皆如大豆許。其隱於皮膚如粟者，不計其數。瘡色黯而不起。已七日，口乾作渴。予診之，脾胃脈甚處。彼云昨日所進粥食，今尚不消作酸。予意此難治之證。因與素善者，籌其治法。以隔蒜灸二十餘壯，其背與臂動覺少便。隨用六君子湯，加薑汁、炒山梔及吳茱萸，連服數劑，吞酸遂止，飲食多進。但口乾，瘡仍不起，色亦不赤，亦無膿。復如前法，灸二十餘壯，背臂頓便，瘡遂發。其時適秋，又投以大補之劑，及生脈散，以代茶飲。○少宗伯顧東江，腳患疽，色黯，口乾作渴。予曰：此精氣虛，宜預補，以顧收斂。○一男子，背疽不起發，脈浮，按之則澀。此血氣俱虛，故不能發，非補劑不愈。○一男子，腦疽發而不腐。余曰：此人血氣，止能發出，不能腐潰，須大補乃可。○一男子，素嗜欲，且勞神，惡熱喜冷，仲冬始衣綿，乃患瘰癧，脈洪大無力。余曰：此陰氣耗散，陽無所附，陽氣浮散於外，而惡熱也。敗毒散加芩、連、山梔，四劑少愈。再以四物湯加芩、連、白芷、桔梗、甘草、金銀花，數劑而消。○張錦衣，年逾四十，患發背，心脈洪數，勢危劇。經云：心脈洪數，乃心火熾甚。諸痛癢瘡瘍，皆屬心火。心主血，心氣滯則血不行，故生癰也。騎竹馬灸穴，是心脈所由之地，急灸之以瀉心火，隔蒜灸以拔其毒，再以托裡消毒，果愈。</p>

<h2>潰瘍有餘</h2>
<p>一男子，年逾三十，腹患癰腫，脈數喜冷。齊氏云：瘡瘍腫起堅硬，瘡疽之實也。河間云：腫硬木悶，煩躁飲冷，邪氣在內也。遂用清涼飲，倍用大黃，三劑稍緩；次以四物湯加芩、連、山梔、木通，四劑而遂潰；更以十宣散去參、耆、肉桂，加金銀花、天花粉，漸愈。彼欲速效，自服溫補藥，遂致肚腹俱腫，小便不利。仍以清涼飲治之，膿潰數碗，再以托裡藥治之而愈。東垣云：瘡疽之發，其受之有內外之別，治之有寒溫之異。受之外者，法當托裡以溫劑，反用寒藥，則是皮毛始受之邪，引入骨髓。受之內者，法當疏利以寒劑，反用溫劑托裡，則是骨髓之病，上徹皮毛。表裡通潰，共為一瘡，助邪為毒，苦楚百倍，輕則幾殆，重則死矣。</p>
<p>張都憲夫人，性剛多怒，胸前作痛，肉色不變，脈數惡寒。經云：洪數之脈，應發熱而反惡寒，瘡疽之謂也。今脈洪數，則膿已成。但體豐厚，故色不變，似乎無膿。以痛極，始肯用針入數寸，膿出數碗。遂以清肝消毒藥，治之而愈。設泥其色而不用針，無可救之理矣。</p>
<p>趙宜人，年逾七十，患鬢疽已潰，焮腫痛甚，喜冷，脈實，大便秘澀。東垣云：煩躁飲冷，身熱脈大，精神昏悶者，皆臟腑之實也。遂以清涼飲，一劑腫痛悉退；更以托裡消毒藥，三十餘劑而平。若謂年高潰後，投以補劑，實實之禍不免矣。</p>

<h2>腫瘍不足</h2>
<p>汪太常太夫人，年逾八十，腦疽已潰，發背繼生，頭如粟許，脈大無力，此膀胱經濕熱所致。夫脈無力，乃血氣衰也。遂以托裡消毒藥，數服稍可；更加參、耆之劑，雖起而作渴。此氣血虛甚，以人參、黃耆各一兩，當歸、熟地各五錢，麥門冬、五味子各一錢，數服渴止，而不府能言，氣血能告，豈能省悟。病者至死，皆歸於命。深可哀也。又有患者，氣質素實，或有痰，不服補劑。然不知膿血出多，氣血並虛，豈不宜補？余嘗治瘡，陰用參耆大補之劑，陽書敗毒之名與服之，俱不中滿，瘡亦有效。虛甚者尚加薑桂，甚至附子，未嘗有不效也。</p>

<h2>服薑桂附子補益藥</h2>
<p>留都鄭中翰，仲夏患發背，已半月，瘡頭十餘枚，皆如粟許，漫腫堅硬，根如大盤，背重如負石。即隔蒜灸五十餘壯，其背頓輕。彼因輕愈，不守禁忌，三日後大作，瘡不起發，喜得作痛。用活命飲四劑，勢少退。用香砂六君子湯四劑，飲食少進。彼恃知醫，自用敗毒藥二劑，飲食益少，口流涎沫，若不自知。此脾虛之甚也，每用托裡藥，內參、耆各三錢，彼密自揀去大半。後雖用大補藥加薑、桂亦不應。遂令其子以參、耆各一斤，歸朮、各半斤，乾薑、桂、附各一兩，煎膏一罐，三日飲盡，涎頓止，腐頓潰，食頓進。再用托裡健脾藥，腐肉自脫而愈。○崑山張舉人元忠，孟秋患腰疽，瘡頭如大豆粒，根大三寸許，微腫略赤，虛證悉具。用桑枝灸患處，服活命飲一劑，腫起色赤，飲食仍少。用香砂六君子湯，四劑食漸進。後用大補藥，膿雖成而不潰。於補藥內每劑加附子一片，二劑後，膿自湧出，旬日而愈。○張侍御，患背瘡三枚，皆如粟。彼以為小毒，服清熱化痰藥，外用涼藥敷貼，數日尚不起，色黯不焮，胸中氣不得出入，其勢甚可畏。連用活命飲二劑，氣雖利，膿清稀，瘡不起。欲用補劑，彼泥干素有痰火，不受參、術之補。因其固執，陽以敗毒之劑與視之，而陰以參、耆、歸、術各五錢，薑、桂各二錢。服二劑，背覺熱腫起，腐肉得潰，方信余言，始明用大補藥，乃愈。○南都聘士葉公玉表兄聶姓者，患發背，時六月，腐肉已去，瘡口尺許，色亦不焮，發熱不食，欲嘔不嘔。服十宣散等藥，自為不起。葉請余決之。其脈輕診則浮而數，重診則弱而澀，此潰後之正脈；然瘡口開張，血氣虛也；欲嘔而不嘔，脾胃虛也；色赤焮腫，虛火之象也。尚可治。遂與十全大補湯，加酒炒黃柏、知母、五味、麥門，及飲童便，飲食頓進，肌肉頓生。服至八劑，瘡口收如粟許。又惑於人言，又服消毒藥二劑，以為消餘毒，反發熱昏憒。急進前藥，又二十餘劑乃愈。後兩月，因作善事，一晝夜不睡，致勞發熱，似睡不睡。與前藥二劑，愈加發熱，飲食不進，惟飲熱湯。後以前藥加附子一錢，二劑復愈。○高秋官貞甫，孟秋發背，色黯而硬，不痛不起，脈沉而細，四肢逆冷。急用大艾隔蒜灸三十餘壯，不痛。遂用艾如慄大者七壯，著肉灸，始知痛。與六君子湯二劑，每劑入附子二錢，不應。後劑又加肉桂二錢，始應。○石武選廉伯，患發背，內服防風通聖散，外敷涼藥，汗出不止，飲食不進，且不寐，瘡盈尺，色黯而堅硬，按之不痛，氣息奄奄。此陽氣已脫，脈息如無。急隔蒜灸時許，背頓輕，四圍高不知痛，中央肉六寸許一塊已死。服香砂六君子湯一劑，翌日復灸一次，痛處死血得解，令砭去。余歸後，又為他醫所惑，未砭，其血復凝。又敷辛溫活血藥，翌日依余言砭之，出黑血二盞許。彼云：背強頓去。以前藥加薑、桂服一鍾，即鼾睡。覺來肢體少健，但飲食仍不思，吞酸仍有，瘡仍不痛。彼以為陰毒，乃如此。余曰：此氣血虛極，寒邪淫於內，無陽營於患處，故肌肉死也，非陰毒。若陽氣一回，胃氣即省，死肉即潰，可保無慮矣。以前藥二劑，各加薑、桂、附子二錢。服之略進米飲，精神復舊，患處覺熱，脈略有力，此陽氣略回矣。是日他醫謂瘡瘍屬火證，況今暑令，乃敷芙蓉根等涼藥，即進粥二碗，服消毒藥，死肉即潰。余意芙蓉乃寒涼之藥，與脾胃何益？飲食即時而進，消毒乃辛散之劑，與陽氣何補？死肉即時而潰，此蓋前桂、附之功至，而脾胃之氣省，故飲食進，陽氣旺，死肉腐也。苟虛寒之人，若內無辛熱回陽之藥，輒用寒涼攻毒之劑，豈可得而生耶？若以為火令屬陽之證，內有熱而施辛溫補益之劑，豈不致死，而反生耶？殊不知此乃舍時從證之治法也。○一聘士，流注久潰，肌肉消瘦，發熱作渴，惡寒飲食。予以六君子加歸、耆、附子，服數劑，患處遂紅活。又服十全大補三十餘劑，膿漸稠而愈。後惑於人言，謂盛暑不宜用附子，彼又因場屋不遂，意復患前證，專服敗毒流氣之劑，元氣消爍，肌肉日瘦。醫以為不治，自分不起。其師滕洗馬雲：曏者病危，得附子藥而起。今藥不應，以致危篤，何不仍服附子藥？遂復求治。其脈微細，證屬虛寒，並無邪毒，仍用附子藥乃愈。○庚辰年，少司馬楊夫人，傷寒誤服附子藥一鍾，即時咽喉赤腫，急邀余治。余謂仲景先生云，傷寒證桂枝下咽，陽盛則斃，何況附子乎？辭不治。是日果死。○甲申年，一男子，時疫發厥，誤以為陰症，服薑、桂藥一鍾，發狂溺水而死。○壬午仲冬，金臺一男子，腹痛，服乾薑理中丸，即時口鼻出血，煩躁發狂，入井而死。○辛卯年，一吏，傷寒，誤用附子藥一鍾，下咽發燥，奔走跌死。夫盛暑之際，附子、薑、桂三藥並用，連進三四劑無事。嚴冬時令，三藥單用一味，止進一劑者卻死，可見羅謙甫先生舍時從證，權宜用藥之妙。余宗此法，冬間瘡證，如脈沉實，或洪數，大便秘，瘡焮痛煩躁，或飲冷不絕者，即用硝黃、芩連之劑攻之。雖夏令，脈虛弱，或浮大，瘡不潰，膿清稀，惡飲寒者，即用薑、桂、參、耆之劑補之。如脈沉細，瘡不痛不潰，作吃逆，手足冷，大便不實，或瀉利，或腹痛，更加附子，皆獲大效。昧此理者，反以為非，惑亂患人，恪守常法，冬用溫和，夏用清涼，以致誤人，深可哀也。</p>

<h2>瘡瘍裡虛去後似痢</h2>
<p>一男子，發背膿始潰，腫未消，已十七日，脈微而靜。余曰：膿毒未盡，脈先弱，此元氣虛，宜補之，不則從必生變。彼惑於人言，乃服敗毒藥，腐肉雖潰，瘡口不完。忽腹中似痛，後去白垢，肛門裡急。復求治。余曰：此裡虛然也，非痢非毒，當溫補脾胃為善。因諸瘍醫皆以為毒未盡，仍服敗毒藥而死。○賀少參朝儀，背胛患疽，大如豆粒。根畔木悶不腫，肉色如常。余曰：此氣虛毒甚之證，雖用補劑，亦不能收斂。先用活命飲二劑，背強少和。又二劑，疽少赤。用大補劑，瘡出黑血杯許，繼有鮮血，微有清膿。余曰：可見氣血虛極矣。他醫以為屬氣血有餘之證，密用攻毒藥一鍾，即嘔逆，腹內陰冷而死。○少司冠周玉嚴，背患疽在腫，已四日，瘡頭如粟，重如負石，堅硬不起。自以為小恙，外敷涼藥，內服連翹消毒散。去後四次，形體倦怠，自汗盜汗，口乾無寐。請余治。余曰：瘡不宜硬，色不宜黯。公曰：初起時赤而軟，自用前二藥，以致如此。余曰：凡瘡外如麻，內如瓜，毒結於內，非小患耳。脈輕診似數，按之則微。未潰脈先弱，主後難斂。因與鄉雅不能辭，遂隔蒜灸二十餘壯，乃知痛。又十餘壯，背覺少和。服六君子湯加黃耆、藿香、當歸、麻黃根、浮麥，二劑渴止，汗少斂，瘡色仍黯堅硬。又服辛溫活血之藥，瘡始起，渴止汗斂，所結死血得散。良久汗復出，口復干。又服數劑，外皮雖潰清膿，尚未潰通於內，膿欲走別處，彼用藥圍之。余曰：裡虛而膿不能潰，於外圍藥，逼毒入內。至十二日，脈浮按之如無，再用前藥二劑，加薑、桂服之，即安寐。又二日，脈忽脫，再於前藥加附子七分，服二劑。公曰：背今日始屬吾也。形體亦健，頗有生意。因余先日有言，難以收斂，屢更醫治，乃雜用清熱解毒及敷涼藥，遂致裡虛，元氣下陷，去後如痢，用治痢消毒藥市死。○姜舉人，發背十日，正腐潰作渴，喜熱湯飲。此中氣虛，不能生津液而口乾。宜預補之，否則不能收斂。後瘡口果不收，猶以毒為未盡，用敗毒藥，兩月瘡口不完，清利腹痛，又服清涼之藥而死。○王序班發背，元氣虛弱，用托裡藥而始起，用大補藥而始潰。彼惑他議，敷涼藥，致腹內不和，裡急後重，去後如痢，大孔作痛。余曰：此裡虛，非痢，仍用敗毒治痢藥而死。凡瘡大潰之後，大便後有白膿，或止便白膿，或瀉痢，此腸胃氣虛也。裡急後重，血虛也。若果痢，亦不可用清涼敗毒之藥。況仲景先生云：治痢不止者，當溫之。下痢腹痛，急當救里，可與理中、四逆、附子輩。大孔痛，當溫之。東垣先生治痢，元氣陷下者，未嘗不用溫補之藥。然瘡膿潰既久，血氣既弱，不用溫補，吾不得而知也。</p>
<p>客問：瘡瘍脈洪數，身作熱，為陽證，亦有死者？書去：陰滯於陽則生癰，脈見沉細弱澀；陽滯於陰則生疽，脈見浮洪弦數。此氣血為證，瘡疽屬陰屬陽之論也。彼瘡疽雖因積熱所成，若初起來成膿，脈洪數，乃陰虛陽亢之證。若膿潰於內，不得發泄於外，身必發熱，故脈洪數，瘡疽之病進也。膿既去，則當脈靜身涼，腫消痛息，如傷寒表證之得汗也。若反發熱作渴，脈洪數者，此真氣虛而邪氣實也，死無疑矣。○嘗治賈閣老子，患流注，脈數作渴，不喜飲冷，膿水清稀，面帶赤色。予曰：此氣血虛而兼火也，治難奏功。彼以為迂，別服燥濕分利之劑兩月餘，反加煩渴，寒熱往來。復邀治，形體已脫。予曰：雖治亦無功矣。後果不起。○邵黃門子，手合骨處患一核，半年後潰一小孔如粟，又年餘不合，日出膿清數滴，或止三四滴，面上赤，脈數，口乾，夜則發熱，晝則惡寒，行履如故。此氣血俱虛也，辭不治。月餘後他處相會，彼云：小兒有不藥之功矣。余曰：過火令方為喜也。已而果斃。○一男子，年四十餘歲，發背未潰即作渴，脈數，腫高色紫，面赤，小便如膏。予以加減八味丸料，加酒炒知母、黃柏為丸，每日空心並食前以童便送下百丸；用八珍湯加五味子、麥門冬、黃耆、酒炒知母、赤小豆，食遠煎服；逐日又以童便代茶飲之，渴止瘡潰而愈。吾治得生者，此人耳。</p>
<p>客問：人素多食，肌肉不壯，患癰後，出清膿，食少而瘦，服附子藥瘡愈。若數日不服，飲食仍少難化，不知附子藥可常服否？</p>
<p>東垣先生云：胃中元氣盛，則能食而不傷，過時而不飢。脾胃俱旺，則能食而肥也。脾胃俱虛，則不能食而瘦。或少食而肥，雖肥而四肢不舉，蓋脾實而邪氣盛也。又有善食而瘦者，胃伏火邪於氣分也則能食，脾虛則肌肉削，即食㑊也。然瘡口不合，膿水清稀，氣血俱虛也。飲食少而難化，脾胃虛寒也。肌體瘦弱，面色痿黃，膽氣不行也。非參、耆、歸、術之類不能補，非附子不能助其功。今飲食進少，且難消化，屬脾胃虛寒。蓋脾胃屬土，乃命門火虛不能生土而然。不宜直補脾胃，當服八味丸，補火以生土也。○嘗治山西曹主簿，年逾四十，夏間患附骨癰，服托裡藥而愈。至秋飲食少思，痰氣壅盛，口舌生瘡。○一男子素弱，惡寒食，雖熱食亦少，作脹吞酸，日消瘦。服參、苓等藥，及灸脾腧等穴，不應。余以八味丸治之，並愈。此亦真氣不足，不能生土，虛火炎上之證也。</p>

<h2>敷貼寒涼藥</h2>
<p>施二守項右患一核，用涼藥敷貼，頸皆腫。又敷之，腫胤胸腋，冷應腹內。不悟涼藥所致，尚以為毒盛。形體疲憊，自以為不起，請余治。敷藥處熱氣如霧，急令去藥，良久瘡色變赤，刺出膿，用托裡藥而愈。○汪夫人，發背用敷藥，冷胤胸內欲嘔。急令洗去，用托裡，尋愈。○張侍御，發背專用敷藥，瘡黯不起，胸膈痞悶，氣不能呼吸，自分不治。余用托裡辛溫藥而愈。○一男子患腦疽，腫高作痛，腫處敷藥，痛雖止而色變黯，腫外作痛。仍敷之，肉色亦黯，喉內作痛。不悟此為涼藥所誤，反盡頸敷之，其頸皆潰而死。○一婦人，乳內結核，年餘不消，口乾倦怠，脈澀少食。余曰：此肝脾二經血氣虧損之證。○一男子，因怒左脅腫一塊，不作痛，脈澀而浮。余曰：此肝經邪火熾甚，而真氣不足為患，皆宜培養氣血為主。皆用草藥敷貼，俱致不救。○劉太宰紫嚴太夫人，發背，元氣不足，用托裡藥而起。○王安人，發背正潰時，欲速效，俱敷草藥，即日而死。○一男子，臀癰腐潰，肌肉不生，用藥敷之，四沿反硬。予診之，脈澀而弱。此氣血虛不能營於患處，故敷涼藥反硬，乃氣血受寒凝結，而非毒也。用大補藥愈矣。大抵瘡之起發潰斂，皆氣血使然。各人元氣虛實不同，有不能發出而死者，有發出不能成膿而死者，有成膿不能腐潰而死者，有腐潰不能收斂而死者。敷貼之法，但可應酬輕小之證耳。若血氣已竭，其患必死。不但數貼不效，且氣血喜溫而惡寒，腠理喜通而惡塞，氣血因而愈滯，腫患因而愈盛，邪氣因而愈深，腐潰因而愈大。怯弱之人，取敗多矣。況瘡瘍乃七情相火，或食膏粱，或餌金石，以傷陰血，陽盛陰虛，受病於內，而發於外。若不彆氣分血分，陰陽虛實，腐潰淺深，服藥尚不能以保生，可敷貼而已乎？</p>

<h2>注夏患瘡瘍</h2>
<p>一男子，年四十三歲，自四十以來，每至夏發熱而倦，日午益甚，晚涼少可，面生瘡癗，耳下筋微腫，更結小核三四枚，附筋上。余曰：此火令不慎房勞，虧損腎水，不能制火然也，名曰注夏。彼不信，服降火敗毒藥，加口乾倦怠，夜間熱甚，午後腿軟，足心熱，筋牽痛。復來問治。余曰：口乾倦怠，此中氣陷下也。夜間發熱，陽氣陷於陰分也。午後腿痠足熱，陰虛火甚也。耳下筋牽痛，血虛不能潤筋也。先以補中益氣湯，少用柴胡、升麻，加五味子、麥門冬、熟地黃治之，諸證頓退。更服滋腎丸而痊。若以每至火令而然，用敗毒涼藥，鮮不危矣。四月屬巳，五月屬午，為火太旺，火旺則金衰。六月屬未，為土大旺，土旺則水衰。況腎水以肺金為母，故《內經》諄諄然資其化源也。古人以夏月必獨宿而淡味，兢兢業業，愛護保持金水二藏，正嫌火王之時耳。《內經》又曰：藏精者，春不病溫。十月屬亥，十一月屬子，正火氣潛伏閉藏，以養其本然之真，而為來春發生之本。若干此時不自戕賊，至春生之際，根本壯實，氣不輕浮，焉有濕熱之病？又云：春末夏初，患頭痛腳軟，食少體熱。仲景云春夏劇，秋冬差，而脈弦大者，正世俗所謂注夏病也。</p>

<h2>汗多亡陽</h2>
<p>劉大尹，年將五十，陸路赴京，兼喪子，患發背盈尺，中六寸許，不痛，發熱口乾，惡寒自汗，少食，大便不禁，且氣促，脈浮大，按之空虛。余用補中益氣湯加半夏、茯苓四劑，又以隔蒜灸之。彼云背童已去，形氣少健，但吞酸，前日所進飲食，覺仍在腹。又以前藥加薑、桂，服二劑，飲食少進，吞酸已止，始得睡，瘡且不痛不潰，疑為陰證。余曰：此陽氣虛，不能營於患處，故所患肉死，而不痛不潰也。若胃氣回，飲食進，死肉即潰矣。仍服前藥，六劑，飲食漸進，患處漸潰，脈有力。余曰：此陽氣回矣。後惑於他醫，云必服飛龍奪命丹，出汗為善。遂進一服，汗大出，三日不止。復請治。余曰：汗多亡陽，無能為也。強曰：諸書云汗之則瘡已，豈能為患？後果死。東垣先生云：瘡瘍因風熱鬱於下，其人多怒，其瘡色赤，腫高結硬而痛，左關脈洪緩而弦，是邪客於血脈之上，皮膚之間。故發其汗，而通其榮衛，則邪氣去矣。○謙甫先生治瘡瘍，冬月脈浮緊，按之洪緩，乃寒覆皮毛，郁遏經絡，熱不得升聚而赤腫。蓋冬月乃因寒氣收斂皮膚，緻密腠理，汗不得出而設也。況發汗乃陰盛陽虛，寒邪不能自出，必得陽氣泄，汗乃出，是助陽退陰之意也。且前證未潰，其氣血既虛，潰後氣血愈虛。凡瘡雖宜汗，然元氣虛者不宜。況所見之證，俱屬不足，豈可汗邪？○留都機房紀姓者，背瘡，胃氣虛，用溫補藥而飲食進，大補藥而腐瘡愈，後患腿痛。余用養血化痰之劑，少止。彼嫌功緩，他醫以為濕熱，服麻黃左經湯，一劑，汗出不止。余曰：必發痓而死。已而果然。</p>

<h2>下多亡陰</h2>
<p>王德之，患發背，脈浮數，按之則澀，大便五六日不行，腹不加脹。余曰：邪在表不在裡，但因氣血虛，飲食少，故大便不行，非熱結也。宜生氣血為主。彼泥積毒在內，用大黃之藥下之，遂連瀉三四次，更加發熱。來日又服一劑，瀉遂不止，飲食不化，吃逆不絕，手足背冷。予診之，脈已脫，辭不治。其子曰：瀉之能為害乎？余曰：服利藥而利不止者死。不當瀉而強瀉，令人開腸，洞泄不禁者死。下多亡陰者死。曰：瘡瘍乃積毒在藏，若不驅逐其毒，何以得解？余曰：瘡瘍雖積毒在臟腑，治法先當助胃氣，使根本堅固，參以行經活血時宜之藥，非專用大黃也。今病在表，而反以峻利之劑，重奪其陰，其可乎哉？故曰：表病里和，而反下之，則中氣虛，表邪乘虛而入，由是變證百出。雖云脈浮數，邪在表，屬外因，當用內托復煎散，其間黃芩、蒼朮亦不敢用；脈沉實，邪在內，屬內因，當用內疏黃連湯，其中大黃、檳榔亦不敢用。況浮、數、澀，三脈皆主血氣俱虛，邪既在表，而反用峻利之劑，重瀉其里，誅伐無過，不死何俟。</p>

<h2>瘡瘍有餘</h2>
<p>維揚俞黃門，年逾三十，冬月鬢患毒，腫焮煩躁，便秘脈實。此膽經風熱壅上而然也。馬氏云：瘡瘍之證，熱壅而不利者，大黃湯下之。遂以一劑，便通瘡退。更以荊防敗毒散二劑，再以十宣散去桂加天花粉、金銀花，數劑而愈。太宗伯羅公，耳後髮際患此，焮痛脈數，以小柴胡湯、桔梗、牛蒡子、金銀花，四劑而愈。</p>
<p>趙州守，北方人，年逾四十，頭而生瘡瘍數枚，焮痛飲冷，積日不潰。服清熱消毒藥，不應。診其脈數，按之則實。予以防風通聖散，三劑頓退。又以荊防敗毒散而愈。又一男子，患在四肢，審其脈證，亦屬有餘，以黃連解毒湯治之亦愈。</p>
<p>楊百戶胸患毒，腫高焮赤，發熱脈數，大小便澀，飲食如常。齊氏曰：腫起色赤，寒熱疼痛，皮膚壯熱，頭目昏重，氣血之實也。又云：大便硬，小便澀，飲食如故，腸滿膨脹，胸膈痞悶，肢節疼痛，身熱脈大，精神昏塞，臟腑之實也。遂以黃連內疏湯二劑，諸證漸退。更以荊防敗毒散加芩、連、山梔，四劑少愈。再以四物湯加芩、連、白芷、桔梗、甘草、金銀花，數劑而消。</p>
<p>張錦衣，年逾四十，患發背，心脈洪數，勢危劇。經云：心脈洪數，乃心火熾甚。諸痛癢瘡瘍，皆屬心火。心主血，心氣滯，則血不行，故主癰也。騎竹馬灸穴，是心脈所由之地，急灸之，以瀉心火，隔蒜灸以拔其毒，再以托裡消毒，果愈。</p>

<h2>潰瘍有餘</h2>
<p>一男子，年逾三十，腹患痛腫，脈數喜冷。齊氏云：瘡瘍腫起堅硬，瘡疽之實也。河間云：腫硬木悶，煩躁飲冷，邪氣在內也。遂用清涼飲，倍用大黃，三劑稍緩。次以四物湯，加芩、連、山梔、木通，四劑而遂潰。更以十宣散，去參、耆、肉桂，加金銀花、天花粉，漸愈。彼欲速效，自服溫補藥，遂致肚腹俱腫，小便不利。仍以清涼飲治之，膿潰數碗。再以托裡藥治之而愈。東垣云：瘡疽之發，其受之有內外之別，治之有寒溫之異。受之外者，法當托裡以溫劑，反用寒藥，則是皮毛始受之邪，引入骨髓。受之內者，法當疏利以寒劑，反用溫劑托裡，則是骨髓之病，上徹皮毛，表裡通潰，共為一瘡，助邪為毒，苦楚百倍，輕則幾殆，重則死矣。</p>
<p>張都憲夫人，性剛多怒，胸前作痛，肉色不變，脈數惡寒。經云：洪數之脈，應發熱而反惡寒，瘡疽之謂也。今脈洪數，則膿已成。但體豐厚，故色不變，似乎無膿。以痛極，始肯用針入數寸，膿出數碗，遂以清肝消毒藥治之而愈。設泥其色而不用針，無可救之理矣。</p>
<p>趙宜人，年逾七十，患鬢疽已潰，焮腫痛甚，喜冷脈實，大便秘澀。東垣云：煩躁飲冷，身熱脈大，精神昏悶者。皆臟腑之實也。遂以清涼飲一劑，腫痛悉退。更以托裡消毒藥，三十餘劑而平。若謂年高潰後，投以補劑，實實之禍不免矣。</p>

<h2>腫瘍不足</h2>
<p>汪太常太夫人，年逾八十，腦疽已潰，發背繼生，頭如粟許，脈大無力。此膀胱經濕熱所致。夫脈無力，乃血氣衰也。遂以托裡消毒藥，數服稍可。更加參、耆之劑，雖起而作渴。此氣血虛甚，以人參、黃耆各一兩，當歸、熟地各五錢，麥門冬、五味子各一錢，數服渴止而不潰。以前藥加肉桂十餘劑，膿成針之，瘀肉漸腐，徐徐取去，而膿猶清不斂。投以大劑十全大補湯，加白蘞、貝母、遠志，三十餘劑，膿稠而愈。設若不加峻補，及不去腐肉，以渴為火，投以涼藥，欲保其生也難矣。</p>
<p>居庸關王揮使，臂腫一塊，不痛不赤，惟脈弱，懶食時嘔。以六君子湯加藿香、酒炒芍藥治之，嘔止食進。再以八珍湯二十餘劑，成膿刺之，又以十全大補而愈。次年傷寒後，此臂仍腫，微痛，乃傷寒餘毒也，然無表證，但虛弱。先用十宣散四劑，取參、耆、芎、歸扶助元氣，防風、桔梗、白芷、厚朴行散腫結，肉桂引經破血，腫退三四。再以八珍湯，膿潰而愈。至冬臂復作痛，因服祛風藥，反筋攣痛甚。予謂此血虛不能養筋，筋虛不能束骨，遂以加味十全大補湯，百貼而愈。</p>
<p>崑山高舉人，年逾三十，夏月熱病後，患頤毒，積日不潰，氣息奄奄，脈診如無，飲食少思，大便不禁。《脈經》云：脈息如無似有，細而微者，陽氣衰也。齊氏云：飲食不入，大便滑利，腸胃虛也。遂以六君子湯，加炮乾薑、肉豆蔻、破故紙數劑，瀉稍止，食稍進。更加以黃耆、當歸、肉桂，潰而膿水清稀。就於前藥，每服加熟附子一錢，數劑瀉止食進，膿亦漸稠。再以十全大補湯，用酒炒芍藥，加白蘞月餘痊。</p>
<p>句容曹水部文兆，年逾四十，髀𩨹患毒已半月，餘頭甚多，狀如粟許，內痛如刺，飲食不思，怯甚脈歇。至此元氣虛，疽蓄於內也，非灸不可，遂灸二十餘壯。余以六君子湯，加藿香、當歸數劑，瘡勢漸起，內痛頓去，胃脈漸至。但瘡色尚紫，瘀肉不潰。此陽氣尚虛也，燃桑柴灸之，以補接陽氣，解散其毒。仍以前藥，加參、耆、歸、桂，色赤膿稠，瘀肉漸腐，取去，兩月餘而愈。夫邪氣沉伏，真氣怯弱，不能發起，須灸，灸而兼大補。投以常藥，待其自潰，鮮有不誤者。</p>
<p>一男子，因勞發熱，脅下腫痛，脈雖大而按之無力。此氣血虛，腠理不密，邪氣襲於肉裡而然也。河間云：若人飲食疏，精神衰，氣血弱，肌肉消薄，榮衛之氣短促而澀滯，故寒薄腠理，閉塞而癰腫也，當補之，以接虛怯之氣。遂以補中益氣湯加羌活，四劑少可。去羌活，又十餘劑而愈。又一男子，年二十，遍身微痛，腰間作腫痛甚，以前藥加茯苓、半夏，並愈。</p>
<p>朱文鼎母，因忿鬱腋下結一核，二十餘年。因怒加腫痛，完穀不化，飲食少思。東垣云：瀉利不止，飲食不入，此腸胃虛也。遂以六君子湯，加砂仁、肉桂、乾薑、肉豆蔻，瀉雖止而膿清，瘡口不合，氣血俱虛也。以十全大補湯，月餘而愈。</p>
<p>一男子，素好酒色，小腹患毒，脈弱微痛，欲求內消。予謂當助胃壯氣，兼行經活血藥佐之，可消，不宜用敗毒等藥。彼欲速效，自用之，病勢果盛，瘡亦不潰，飲食少思。迨兩月餘，復請予治。診其脈愈弱，盜汗不止，聚腫不潰，肌寒肉冷，自汗色脫。此氣血俱虛也，故不能發腫成膿。以十全大補湯，三十餘劑，遂成膿。刺之反加煩躁脈大，此亡陽也。以聖愈湯二劑，仍以前湯，百貼而愈。</p>
<p>一男子，脅腫一塊，日久不潰，按之微痛，脈微而澀，此形證俱虛也。經曰：形氣不足，病氣不足，當補不當瀉。予以人參養榮湯治之。彼不信，乃服流氣飲，虛證悉至，方服前湯，月餘少愈，但腫尚硬。以艾葉炒熱熨患處，至十餘日膿成。以火針刺之，更灸以豆豉餅，又服十全大補湯，百劑而愈。蓋流氣飲通行十二經，則諸經皆為所損。況膽經之血原少，又從而損之，幾何不至於禍邪？凡一經受病，則當主幹其經。苟不察其由，泛投克伐之劑，則諸經被戕，能無危乎？河間云：凡瘡止於一經，或兼二經者，止當求責其經，不可干擾余經也。</p>
<p>張通府，耳後髮際患腫一塊，無頭，肉色不變，按之微痛，彼以為痰結，診其脈，軟而時見數。經云：脈數不時見，則生瘡也，非痰結。仲景云：微弱之脈，主血氣俱虛，形精不足。又云：沉遲軟弱，皆宜托裡。遂以人參、白朮、黃耆、當歸、川芎、炙甘草以托裡，少加金銀花、白芷、桔梗以消毒。彼謂不然，內飲降火化痰，外貼涼藥，覺寒徹腦，患處大熱，頭愈重，飲食愈少。復請治，以四君子湯加藿香、炮乾薑數劑，飲食漸進。膿成刺之，更以十全大補湯去桂，及灸以豆豉餅，又月餘而愈。</p>
<p>山西曹主簿，年逾四十，夏間患附骨癰，予以火針，刺去瘀血，更服托裡藥而愈。至秋忽不飲食，痰氣壅盛，勞則口舌生瘡，服寒藥腹痛，彼疑為瘡毒。診之脾腎脈輕，診似大，按之無力。此真氣不足，虛火炎上故也。遂投以八味丸治之。彼謂不然，自服二陳、四物，幾殆。復請予，仍以前丸治之而愈。有脾土虛不能剋制腎水，多吐痰而不咳者，尤當用此丸也。</p>
<p>平氏室，患發背，以托裡消毒藥，二十餘劑而潰。因怒頓吐血五六碗許，氣弱脈細。此氣血虛極也，遂令服獨參膏斤許，稍緩。更以參、耆、歸、朮、陳皮、炙甘草，三十餘劑，瘡口漸合。設投以犀角地黃湯沉寒之藥，鮮有不誤。</p>
<p>一男子年，逾四十，胃氣素弱，面常生瘡，盜汗發熱，用黃耆建中湯少愈，更以補中益氣湯而平。東垣云：氣虛則腠理不密，邪氣從之，逆於肉理，故多生瘡。若以甘溫之劑，實其根本，則腠理自固，即無他疾。</p>
<p>一男子，神勞多怒，頸腫一塊，久而不俏，諸藥不應。予以八珍湯加柴胡、香附，每日更隔蒜灸數壯，及日飲遠志酒二三盞而漸消。</p>
<p>宜興徐符卿，年逾四十，患發背，五日不起，肉色不變，脈弱少食，大便不實。予以凡疽未潰脈先弱，難於收斂，用托裡消毒散，二劑方起發。彼惑一嫗言，貼膏藥，服攻毒劑反盛，背如負石。復請予治，遂以隔蒜灸三十餘壯。彼云：背不覺重，但癢痛未知。更以托裡藥，知痛癢，膿清。仍以前藥，倍加參、耆，佐以薑、桂，膿稍稠。又為人惑，外用豬腰子，貼抽膿血，內服硝黃劑，遂流血五六碗許，連瀉十餘行，腹內如冰，飲食不進。不得已，速予診之，脈進，脫已不可醫矣。蓋其證屬大虛，不足之甚，雖一於溫補，猶恐不救，況用攻伐之劑，不死何俟？</p>
<p>沈侍御文燦，患臀腫痛，小便不利。彼謂關格症，以艾蒸臍，大便亦不利。以降火分利之藥治，不應。予診其脈數膿成，此癰患也。遂針之，出膿數碗許，大便即利。五日陰囊腫脹，小便不行，仍針之，尿膿大泄，氣息奄奄，脈細，汗不止，潰處愈張。復用大劑參、耆、歸術之藥猶緩。俾服獨參湯至二斤，氣稍復。又服獨參膏至十餘斤，兼以托裡藥，兩月餘而平。大抵瘡瘍膿血之泄，先補血氣為主，雖有他病，當從末治。</p>
<p>一男子，年四十餘，患腰痛，服流氣飲、寄生湯不應，以熱手熨之少可。蓋脈沉弦，腎虛所致，以補腎丸愈之。</p>

<h2>潰後發寒熱</h2>
<p>一男子，患腿癰，膿已成。予針之，出二碗許。飲以托裡藥一劑，大發熱。更以聖愈湯，二劑而止。翌日，惡寒不食，脈細如絲，以人參一兩，熟附子三片，薑棗煎，再服而愈。但少食不寐，更與內補黃耆湯而平。</p>
<p>一婦人，患乳癰，愈後發熱，服養氣血藥不應，與八珍湯加炮乾薑，四劑而止。仍以前湯加黃耆、香附，三十餘劑，氣血平復。</p>
<p>一婦人，瘰癧愈後，遍身作癢，以十全大補湯倍加香附，治之而愈。</p>
<p>一男子，腿腫，發熱畏寒，以補中益氣湯治之。彼以為緩，乃服芩、連等藥，熱愈盛。復請治。予與人參養榮湯，二十餘劑而潰。更以參、耆、歸、朮、炙甘草、肉桂，又月餘而斂。夫火之為病，當分虛實。芩、連苦寒，能瀉心肺有餘之火。若老弱，或飲食勞倦而發者，此為不足，當以甘溫之劑治之。未嘗有實熱而畏寒，虛熱而喜寒者，此其驗。</p>
<p>一婦人，患瘰癧，延至胸腋，膿水淋漓，日久五心煩熱，肢體疼痛，頭目昏重，心忪頰赤，口乾咽燥，發熱盜汗，食少嗜臥，月水不調，臍腹作痛。予謂非瘡故，乃血虛而然也。服逍遙散月餘，少可。更服八珍湯加牡丹皮、香附子，又月餘而經通。再加黃耆、白蘞，兩月餘而愈。</p>
<p>一室女，臂患腫，潰久不斂，寒熱交作，五心煩熱，飲食少思，月水不通，亦與前藥，經行瘡愈。一婦人，月水不行，潮熱咳嗽，肌體日瘦，胸膈不利，頸腫一塊，日久不消，亦服前藥，熱退腫消，經行而愈。</p>
<p>一婦人，因怒傷不思飲食，發熱倦怠，骨肉痠痛，羸瘦面黃，經水積漸不通，頸間結核。以逍遙散、八珍湯，治之少可。彼自誤服水蛭等藥，血氣愈虛，遂致不起。良甫云：憂愁思慮則傷心，心傷則血逆竭，血逆竭則神色先散，而月水閉。火既受病，不能榮養其子，故不嗜食。子虛則金氣虧，故發嗽嗽。既作水氣絕，故四肢干，水氣不克。又云：經候微少，漸漸不通，手足骨肉煩痛，日漸羸瘦，潮熱，其脈微數。此由氣虛血弱，陽往乘之，少水不能滅盛火，故火逼水涸，亡津液。當養血益陰，用柏子丸、澤蘭湯為主，勿遽通之。</p>

<h2>潰瘍作痛</h2>
<p>丁蘭，年二十餘。股內患毒日久，欲求內消，診其脈滑數，知膿已成。因氣血虛不潰，遂刺之。膿出作痛，以八珍湯治之少可。但膿水清稀，更以十全大補湯，加炮附子五分，服數劑漸愈。仍服十全大補湯，三十餘劑而痊。丹溪云：膿出而反痛者，虛也。河間亦云：有僧股內患腫一塊，不痛不潰，治以托藥二十餘劑，膿成刺之作痛。予謂腫而不潰，潰而反痛，此氣血虛甚也，宜峻補之。彼雲氣無補法。予謂正氣不足，不可不補，補之則氣化，則庶邪自除。遂以參、耆、歸、朮、熟地黃治之。兩月餘而平。大凡瘡瘍之作，先發為腫，氣血鬱積，蒸肉為膿，故多痛。膿潰之後，腫退肌寬，痛必漸減。而痛愈盛者，此氣血不足也。亦丹溪、河間虛甚之說。</p>

<h2>潰瘍不痛</h2>
<p>陳監生，年逾三十，左腿微腫痛，雖日久，肉色如故，不思飲食。東垣云：瘡瘍之證，腫下而堅者，發於筋骨。此附骨疽，乃真虛，濕氣襲於肉裡而然。蓋諸腫皆稟於胃，食少則胃弱，法當助胃壯氣。遂以六君子湯加藿香、當歸，數劑，飲食漸進。更以十全大補湯而愈。</p>
<p>山西宋琰，年逾三十，臂患癰潰而不痛，膿稀脈弱。丹溪云：疽潰深而不痛者，胃氣大虛，而不知痛也。東垣云：膿水清稀，瘡口不合，氣血俱虛也。當以大補藥治。彼不聽，服消毒藥，氣血虛甚，遂不救。丹溪云：才見腫痛，參之脈症虛弱，便與滋補。氣血無虧，可保終吉。又云：潰瘍內外皆虛，宜以補接為主。</p>

<h2>熱毒作嘔</h2>
<p>劉貴，腹患癰，焮痛，煩躁作嘔，脈實。河間云：瘡瘍者火之屬，須分內外，以治其本。若脈沉實者，先當疏其內，以絕其源。又云：嘔噦心煩，脈沉而實，腫硬木悶，或皮肉不變，邪氣在內，宜用內疏黃連湯治之。然作嘔脈實，毒在內也。遂以前湯，通利二三行，諸證悉去。更以連翹消毒散而愈。</p>
<p>金臺王時亨，年逾四十，臂患毒，焮痛作嘔，服托裡消毒藥愈甚。予以涼膈散，二劑頓退。更以四物湯加芩、連，四劑而消。</p>

<h2>胃寒作嘔</h2>
<p>張生，患膝瘡作嘔，由中氣弱，漆毒侵之。予以六君子湯加砂仁、藿香、酒炒芍藥治之。彼不信，另服連翹消毒散，嘔果盛。復邀治。仍以前藥，外以麻油調鐵鏽末，塗之而愈。</p>
<p>王文遠，臂患毒作痛，服寒涼藥，遂致食少，大便不實。予以理中丸二服，更以六君子湯加砂仁、藿香治之，再以托裡藥，膿潰而愈。大凡瘡痛甚者，如稟厚有火，則宜苦寒之劑。若稟薄者，則宜補中益氣湯加芩連之類，在下加黃柏。人肥而瘡作痛者，宜用荊防羌獨之類，蓋取其風能勝濕也。</p>
<p>顧浩室，年逾四十，患發背，治以托裡藥而潰，忽嘔而瘡痛，胃脈弦緊。彼以為餘毒內攻。東垣云：嘔吐無時，手足厥冷，臟腑之虛也。丹溪云：潰後發嘔不食者，濕氣侵於內也。又云：膿出而反痛，此為虛也。今胃脈弦緊，木乘土位，其虛明矣。予欲以六君子湯，用酒炒芍藥、砂仁、藿香治之。彼自服護心散，嘔益甚。復邀治，仍用前藥，更以補氣血藥，兩月而愈。大抵濕氣內侵，或感穢氣而作嘔者，必喜溫而脈弱；熱毒內攻而作嘔者，必喜涼而脈數。必須辨認明白。亦有大便不實，或腹作痛，或膨脹，或嘔吐，或吞酸噯腐，此腸胃虛寒也，以理中湯治之。如不應，加熟附子二三片。有侵晨作瀉者，名曰腎瀉，以二神丸治之。有食少漸瘦者，為脾腎虛也，尤宜服二神丸。是又治夢遺，生肌肉之要藥也。予嘗飲食少思，吞酸噯腐，諸藥不應，唯服理中湯及附子理中丸有效。蓋此症皆因中氣虛寒，不能運化鬱滯所致。故用溫補之劑，中氣溫和，自無此證矣。</p>
<p>河南張承祖，年逾二十，腋下患毒十餘隻，腫硬不潰，脈弱時嘔。予謂腫硬不潰，脈弱，乃陽氣虛；嘔吐少食，乃胃氣弱。先以六君子湯加藿香、砂仁治之。彼曰：腫瘍時嘔，當作毒氣攻心治之；潰瘍時嘔，當作陰虛補之。予曰：此丹溪大概言也。即諸痛癢瘡，皆屬心火。如腫赤痛甚，煩躁，脈實而嘔，為有餘，當下之；腫硬不潰，脈弱而嘔，為不足，當補之。亦有痛傷胃氣，或感寒邪穢氣而嘔者，雖腫瘍尤當助胃壯氣。彼執不信，飲攻伐藥，愈病。復請診，其脈弱微而發熱。予謂熱而脈靜，脫血脈實，汗後脈躁，皆危殆。後果歿。夫腫瘍毒氣。內侵作嘔，十有一二；潰瘍濕氣內侵作嘔，十有八九，豈可混為一途。</p>
<p>一人胃弱痰盛，口舌生瘡。彼服滾痰丸愈盛，反瀉不止，噁心困倦。此胃氣被傷也。予以香砂六君子湯，數劑少可。再以補中益氣湯加茯苓、半夏，二十餘劑而愈。夫胃氣不足，飲食不化，亦能為痰。補中益氣，乃治痰之法也。苟虛證而用峻利之劑，鮮不危哉。</p>
<p>周上舍，脾胃虛，服養胃湯、枳朮丸，初有效而久反虛，口舌生瘡，勞則愈盛，服敗毒藥則嘔吐。此中氣虛寒也。以理中湯治之，少愈。更以補中益氣湯加半夏、茯苓，月餘而平。夫養胃湯，香燥之劑也。若飲食停滯，或寒滯中州，服則燥開胃氣，宿滯消化，少為近理。使久服則津液愈燥，胃氣愈虛。況胃氣本虛而用之，豈不反甚其病哉？亦有房勞過度，真陽衰憊，或元稟不足，不能上蒸，中州不運，致食不進者，以補真丸治之。若丹田之火，上蒸脾土，脾土溫和，中焦自治，飲食自進。又云：食飲不進，胸膈痞塞，或食而不消，大腑溏泄，此皆真火衰，不進蒸運脾土而然也。若腎氣壯，則丹田之火，上蒸脾土，即無此病矣。</p>
<p>有人因勞倦，耳下焮腫。惡寒發熱，頭疼作渴，右手脈大而軟。此不足證也，當服補中益氣湯。彼反用發表藥，遂致嘔吐，始悟。予以六君子湯治之，更服補中益氣湯而愈。大抵內傷者榮衛失守，皮膚間無氣以滋養，則不能任風寒；胃氣下陷，則陰火上衝，氣喘發熱，頭痛發渴而脈大。此乃不足之證也。大抵飲食失節，勞役過度，則多成內傷不足之證。若誤以為外感表實，而反瀉之，豈不致虛虛之禍哉？東垣云：凡內傷，為飲食勞役所傷，則右手脈大於左手；外感風寒，則左手脈大於右手，當以此辨之。</p>
<p>一婦人，年二十餘，飲食後，每因怒氣吞酸噯腐，或兼腿根焮腫，服越鞠丸等藥不應。此脾氣虛，濕氣下注而然也。予以六君子湯、香附、砂仁、藿香、炮姜，數劑少愈。更以六君子湯，數劑而愈。</p>
<p>男子瘰癧已愈，患吞酸，服參朮藥不應，彼謂餘毒。予治以附子理中丸，亦愈。</p>

<h1>卷四</h1>

<h2>瘡瘍作渴</h2>
<p>開化吾進士，年三十，面患瘡，已潰作渴，自服托裡及降火藥不應。予診其脈，浮而弱。丹溪云潰瘍作渴，屬氣血俱虛，況脈浮弱。投以參、耆各三錢，歸、朮、熟地各二錢，數服渴止。又以八珍湯加黃耆數劑，脈斂而愈。予治瘡瘍作渴，不問腫潰，但脈數發熱而渴，以竹葉黃耆湯治之；脈不數，不發熱，或脈數無力而渴，或口乾，以補中益氣湯；若脈數而便秘，以清涼飲；尺脈洪大，按之無力而渴，以加減八味丸，並效。若治口燥舌黃，飲水不歇，此丸尤效。</p>
<p>一男子，渴後背發疽未潰，脈數無力。此陰虛火動，用加減八味九，㕮咀，二劑，稍緩。次用丸劑而愈。葉司訓腦患疽，亦作渴，脈雖洪，按之無力。以此藥治之。不信，自用滋陰等藥，愈甚，七惡並至而歿。《精要》云：患疽之人，雖云有熱，皆因虛而得之。愈後發渴，及先渴而後疽，非加減八味丸不能治。</p>
<p>一男子，年逾五十，腋下患毒，瘡口不合，右關脈數而渴。此胃火所致，用竹葉黃耆湯遂止，再用補氣藥而愈。嘗治午後發渴，或發熱，用地骨皮散亦效。</p>
<p>一男子，患痔漏，口乾，胃脈弱。此中氣不足，津液短少，不能上潤而然。以黃耆六一湯，七味白朮散治之。或曰：諸痛癢瘡，皆屬心火。遂服苦寒之藥，大便不禁而歿。夫諸痛癢瘡，皆屬心火，言其常也。始熱終寒，則反常矣。可泥此而不察乎？</p>
<p>李氏論人病疽，多有愈後發渴而不救者，治之惟加減八味丸最妙。疽安而渴者，服此丸則渴止。疽安而未渴者，預服此丸，則永不生渴，氣血加壯。或未發疽而先發渴者，服此不惟渴止，疽亦不作。又云：一貴人，病疽未安而渴作，一日飲水數升，予以加減八味丸治之。諸醫大笑云，此能止渴，我輩當不復業醫。皆用木瓜、紫蘇、烏梅、人參、茯苓、百藥煎等劑，服多而渴愈甚。不得已用此藥，三日渴止，久服遂不復渴，飲食加倍，健於少壯。蓋此藥非出鄙見自為。兒時聞先君言，有人病渴，用渴藥，累年不愈。一名醫使服此藥，不半年而愈。其疾本以腎水枯竭，不能制火，心火上炎，是以生渴。此藥降火為最，降心火，生腎水。親用之，嘗驗。患者當知所鑑。（詳見《外科精要》）</p>

<h2>瘡瘍便秘</h2>
<p>傅允承母，年逾七十，腰生一瘰，作癢異常，疑蟲蝨所毒。診脈浮數。齊氏云：浮數之脈，而反惡寒，瘡疽之謂也。又云：外如麻，里如瓜，疽毒在內。翌日復診，脈乃弱。予謂未潰而脈先弱，何以收斂？況大便不通，則真氣已竭，治之無功。其子固請，不得已，用六君子湯加藿香、神麯，飲食漸進，大便始通。更用峻補之劑，潰而膿清作渴，再用參、耆、當歸、熟地黃、麥門冬、五味子而渴止。允承喜曰：吾母可無虞矣。予謂不然，不能收斂，先入之言也。彼疑，遂速他醫，果不起。</p>
<p>浙江俞上舍，年五十，患癰將痊，大便閉澀。服芩、連等藥，反廢飲食。予用益氣血之劑，加桃仁、麻仁，亦未效。更以豬膽汁一碗，納穀道，始效。更以養血氣藥而平。《原病式》云：諸澀枯涸，皆屬於燥。燥者火之氣，病後血衰，故大便閉澀，宜以辛甘之藥潤之。加用寒苦之藥，則胃氣伐矣。若老弱，或產後而便難者，皆氣血虛也，膽汁最效。尋常上部枯燥者，以酒調服亦佳。</p>

<h2>膿熟開遲</h2>
<p>蘇州施二守梯，項下患毒，膿已成，因畏針，焮延至胸，赤如霞，其脈滑數，飲食不進，月餘不寐，甚倦。予密針之，膿出即睡，覺而思食。用托裡藥，兩月餘而愈。又一人患此，及時針刺，數日而愈。劉璽素虛，患此，不針，潰透頷頰，氣血愈虛，竟不救。</p>
<p>廣東王上舍，患附骨癰，畏針不開，臀膝通潰，脈數發渴，煩躁時嗽，飲食少思。齊氏曰：瘡瘍煩躁，時嗽腹痛，渴甚，或瀉利無度，或小便如淋，此惡證也。膿出之後，若脈洪數難治，微澀遲緩易治。遂刺之，膿出四五碗許。即服大劑參、耆、歸、術，翌日脈稍斂。更以八珍湯加五味、麥門、肉桂、白蘞，三十餘劑，脈緩膿稠，三月而愈。</p>
<p>王太守宜人，患發背，膿熟不開，昏悶不食。此毒入內也，斷不治。強之針，膿碗許，稍蘇，須臾竟亡。大抵血氣壯實，膿自湧出。老弱之人，血氣枯槁，必須迎而奪之，順而取之。若毒結四肢，砭刺少緩，腐潰深大，亦難收斂。痛結於頰、項、胸、腹，緊要之地，不問壯弱，急宜針刺，否則難治。</p>
<p>梁閣老孫，甫周歲，項患胎毒。予俟其有膿刺之，膿出碗許，乳食如常。用托裡藥，月餘而愈。靳閣老子亦患此，待膿自出，幾至不救。吾鄉徐內翰子，患痘毒，及時針刺，毒不內侵，數日而愈。大抵古人制法，淺宜砭，而深宜刺，使瘀血去於毒聚之始則易消。況小兒氣血又弱，膿成而不針砭，鮮不斃矣。</p>
<p>一老人，腿患附骨疽腫硬，大按方痛，口乾脈弱，腫聚不潰，飲食少思。予謂腫下而堅者，發於筋骨；皮色不變者，發於骨髓。遂以參、耆等藥托之。三十餘劑，膿雖熟不穿。予謂藥力難達，必須針刺。不聽，至旬日方刺之，湧出清膿五六碗許。然衰老之人，氣血不足，養毒又久，竟不治。大抵瘡疽旬日不退宜托之，有膿刺之，有腐肉取之，虛則補之。此十全之功也。</p>
<p>滕千兵，年逾五十，臀患癰，膿熟不開，攻通大肛，膿從大便而出。予辭不能治，果斃。丹溪云：臀居小腹之後，陰中之陰也，道遠位僻，血亦罕周。中年後尤慮患此。況膿成不刺，欲不亡，得乎？</p>

<h2>腐肉去遲</h2>
<p>鄭揮使，年逾五十，患發背，形證俱虛，用托裡藥而潰。但有腐肉當去，彼懼不肯。延至旬日，則好肉皆敗矣，雖投大劑，毒甚竟不救。古人謂壞肉惡於狼虎，毒於蜂螫，緩去之，則戕賊性命。信哉？</p>

<h2>陰證似陽</h2>
<p>舉人潘先甫，年逾四十，患腦疽腫焮，診其脈沉靜。予謂此陽證陰脈，斷不起，已而果然。蓋瘡疽之證，雖屬心火，尤當分表裡虛實。果元氣充實，內有實火者，寒劑或可責效。若寒涼過度，使胃寒脾弱，陽證變陰，或結而不潰，或潰而不斂，陰陽乖戾，水火交爭，死無日矣！</p>

<h2>陽證似陰</h2>
<p>太監劉關，患發背。予奉聖旨往治，腫痛色紫，診其脈息沉數。陳良甫云：脈數發熱而痛者，發於陽也。且瘡瘍赤甚則紫，即火極似水也。詢之，嘗服透骨丹半載，乃積溫成熱所致。遂以內疏黃連湯，再服稍平。更用排膿消毒藥，及豬蹄湯、太乙膏而愈。經曰：色與脈當相參應。治之者在明亢害承製之理，陰陽變化之機焉耳。</p>

<h2>用藥生肌</h2>
<p>姑蘇黃汝耘，年逾五十，患發背，用生肌藥太早，背竟腐潰，更泄瀉，脈微緩。予以二神丸，先止實瀉。次以大補藥治之。用豬蹄湯洗淨，以黃耆末填滿患處，乃用青藥。喜其初起時，曾用蒜多灸，故毒不內攻，兩月而愈。許序班，患發背十餘日，瘡頭如粟許，腫硬木悶，肉色不變，寒熱拘急，脈沉實。此毒在內也，先以黃連內疏湯，次用消毒托裡藥，其毒始發。奈欲速，急用生肌劑，患處忽若負重，身如火焮，後竟不起。東垣云：毒氣未盡，不可用生肌藥。縱得平復，必再發。若毒氣入腹，十死八九。大抵毒氣盡，脾氣壯，則肌肉自生，生肌藥可弗用矣。</p>

<h2>罨毒入內</h2>
<p>張宜人，年逾六十，患發背，三日肉色不變，頭如粟許，肩背加重，寒熱，飲冷，脈洪數。陳良甫云：外如麻，里如瓜。齊氏云：增寒壯熱，所患必深。又云：肉色不變，發於肉也。予以人參敗毒散二劑，及隔蒜灸五十餘壯，毒始發，背始輕。再用托裡藥，漸潰。顧氣血虛甚而作渴，參、耆、當歸、熟地等藥，渴亦止。彼欲速，自用草藥置患處，毒氣復入，遂不救。嘗見老弱者患此，瘡頭不起，或堅如牛領之皮，多不待潰而死。有潰後氣血不能培養者亦死。凡瘡初潰，毒正發越，宜用膏藥吸之，參、耆等藥托之。若反以藥遏之，使毒氣內攻者，必不救。智化寺一僧，患瘡疥，自用雄黃、艾葉等藥，燃於被中薰之。翌日遍身焮腫，皮破水出，飲食不入。予投以解藥，不應而死。蓋藥毒黛入腹內，而散真氣，其禍如此。</p>

<h2>喉閉（附諸骨鯁並稻麥芒在喉及誤吞金銀銅錢）</h2>
<p>蒲田吏侍御，患喉閉，以防風通聖散治之，腫不能咽。予謂此症，須針乃可。奈牙關已閉，遂刺少商穴出血，口即開。更以膽礬吹患處，吐痰二碗許，仍投前藥而愈。嘗見患此疾者，畏針不刺，多斃。（少商穴在手大指內側，去爪甲如韭葉許。）</p>
<p>於縣尹，喉閉腫痛，寒熱，脈洪數。此少陰心火、少陽相火二經為病，其症最惡，惟刺患處出血為上。因彼畏針，先以涼膈散服之，藥從鼻出。急乃願刺，則牙關已緊，不可針。遂刺少商二穴，以手勒去黑血，口即開。仍刺喉間，治以前藥，及金鑰匙吹之，頓退。又以人參敗毒散，加芩、連、玄參、牛蒡子，四劑而平。經曰：火鬱發之。謂發汗出血，乃發汗之一端也。河間云：治喉閉之火，與救火同，不容少怠。常見喉閉不去血，喉風不去痰，以至不救者，多矣。每治咽喉腫痛，或生瘡毒，以荊防敗毒散加芩、連，重者用防風通聖散，並效。</p>
<p>杜舉人，咽喉腫痛，口舌生瘡。先以清咽消毒散二服，更以玄參升麻湯而愈。</p>
<p>一男子，年三十餘，口舌常破，如無皮狀，或咽喉作痛，服清咽利膈散愈甚。予以理中湯治之而愈。</p>
<p>聘士王文遠，咽喉腫痛，口舌生瘡，勞而愈盛。以補中益氣湯加玄參、酒炒知母、黃柏，治之而愈。</p>
<p>一男子，咽喉作痛，午後尤甚。以四物湯加酒炒黃柏、知母、桔梗，治之而愈。</p>
<p>治諸骨鯁，象牙末吹患處。或取犬涎，徐徐嚥下，立效。治穀麥芒在咽不出，取雞鵝涎，含之立消。</p>
<p>諸骨硬，用苧根搗爛，丸如彈子大，就將所鯁物煎湯化下。又方，食橄欖。或用核為末，含之亦效。</p>
<p>治誤吞金銀等物，多食諸般肥肉，膏滑自從大便出。治誤吞銅錢，用炭末，白湯調服。或多食蜜，或飴糖，自從大便出。或多食荸薺，或胡桃肉，錢自消。</p>
<p>治誤吞針，用磁石如棗核大，磨令光，鑽一孔，用線穿，令含之，針自口出。</p>

<h2>口齒咽喉並腎虛耳痛</h2>
<p>大宗伯毛公，齒痛，胃脈無力。用補中益氣湯，加生地黃、牡丹皮，治之而愈。</p>
<p>黨吏部，頰腮腫焮至牙齦，右關脈數。此胃經風熱上攻也，以犀角升麻湯，治之而消。</p>
<p>郭職方，齒腫痛焮至頰腮，素善飲。治以清胃散，數劑而愈。</p>
<p>一男子，患齒痛，服清胃散不應，服涼膈散愈盛。予用補腎丸，治之而愈。</p>
<p>一男子，耳內出膿，或痛或癢，服聰耳益氣湯不應，服防風通聖散愈甚。予以補腎丸，治之而愈。</p>

<h2>瘰癧</h2>
<p>沈氏室，患瘰癧，久而不消，自汗惡寒。此氣血俱虛也，遂以十全大補湯，月餘而潰。然堅核雖散，而瘡口不斂，更灸以豆豉餅，仍與前藥加烏藥、香附，兩月而愈。大抵堅而不潰，潰而不合，皆由氣不足也。嘗見患此瘡者，瘡口雖合而不加補，往往變為瘵症。若發寒熱，眼內有赤脈貫瞳子，俱不治。一脈者一年死，二脈者二年死。</p>
<p>一婦人，因怒耳下腫痛，以荊防敗毒散加連翹、黃芩，四貼而愈。嘗治此旬日不消者，以益氣血藥，及飲遠志酒，其腫自消。若無膿者，亦自潰。不戒忿怒者，難治。一婦人，亦因怒耳下焮腫，頭痛寒熱，與荊防敗毒散加黃芩治之，表證悉退，但飲食少思，日晡發熱。東垣云：雖有虛熱，不可太攻，熱去則寒生也。遂以小柴胡湯加地骨皮、川芎、當歸、茯苓、白朮、陳皮，十餘貼而愈。次年春，復腫堅不潰，來索方。予定八珍湯加香附、柴胡、地骨皮、桔梗，自制服之。至六七劑，以為延緩，仍服人參敗毒散，勢愈盛。又服流氣飲，則盜汗發熱，口乾少食。至秋復求治，診視氣血虛極，予辭不治，果歿。今人有瘡瘍，不審元氣虛實，病在表裡，便服敗毒、流氣藥。殊不知敗毒散乃發表之藥，果有表證，亦止宜一二服，多則元氣反損，其毒愈盛，雖有人參莫補。流氣飲乃耗血之劑，果氣結膈滿，亦止宜二三服，多則血氣愈傷，反為敗症，雖有芎、歸，難以倚仗。丹溪云：此不膏粱、丹毒之變，因虛勞、氣鬱所致也。</p>
<p>一婦人，患瘰癧不消，膿清不斂。予以八珍湯，治之少愈。忽肩背痛，不能回顧，此膀胱經氣鬱所致，當以防風通氣湯治之。蓋膀胱之脈，始於目內眥，上頂巔，下耳角，復上頂，至腦後，過風府，下項，走肩膊，一支下腰脊。是經氣動則脊痛，項強，腰似折。按此非膀胱經證而何？彼乃云：瘰癧，膽經病也。其脈主行項側，即是經火動而然。遂自服清肝降火之藥，反致不食痛盛。復請予，診其脈，胃氣愈弱。先以四君子湯加陳皮、炒芍藥、半夏、羌活、蔓荊子，四劑食進痛止。繼以防風通氣湯，二劑而愈。又一婦，流注潰久，忽發熱。乃虛也，與補藥二劑。不用，另用人參敗毒散，大熱而斃。夫老弱之人，雖有風邪，亦宜以補中益氣湯治之，況又非表證而峻表，不死何俟？</p>
<p>田氏婦，年逾三十，患瘰癧，已潰不愈。與八珍湯加柴胡、地骨、夏枯草、香附、貝母，五十餘劑，形氣漸轉。更與必效散，二服瘡口遂合。惟氣血未平，再用前藥，三十餘劑而平。後田生執此散，不問虛實，概以治人。殊不知散中斑貓性毒，雖專治瘰癧，多服則損元氣。若氣血實者，先用此下之，而投補劑，或可愈。若虛而用下藥，或迨蝕藥，瘀肉雖去，而瘡口不合，反致難治。</p>
<p>一男子，因怒耳下及缺盆患瘰癧，潰延腋下，形氣頗實，瘡口不合，以散腫潰堅丸，治之而愈。又一婦患此，氣血不弱，亦服此丸，其核並消。而瘡口不斂，更以十全大補湯，及灸以豆豉餅，始痊。</p>
<p>廣東陳方伯子，遠途勞倦，發熱，脈大無力，耳下患腫。此勞損症也，飲補中益氣湯，自然熱退腫消。若專攻毒，則有虛虛之禍。彼不聽，服降火藥，及必效散，果吐瀉不食而死。夫人勞倦則損氣，氣衰則火旺，火旺則乘其脾土，故倦怠而熱，此元氣傷也。丹溪云：宜補形氣，調經脈，其瘡自消，不可汗下。若不詳脈證經絡，受病之異，而輒下之，鮮不危矣！</p>
<p>汪中翰侄，年及二十，耳下患癧焮痛，左關脈數。此肝經風熱所致，以荊防敗毒散三貼，表症悉退。再與散腫潰堅丸，月餘而平復。</p>
<p>一婦，年二十，耳下結核，經水每過期，午後頭痛，服頭風藥愈盛。予以八珍湯加柴胡、地骨皮，二十餘劑而愈。楊文魁，年逾三十，每勞心過度，頸腫發熱，服敗毒散愈盛。予以補中益氣湯，數劑而消。</p>

<h2>流注</h2>
<p>陳進士遂初，年逾三十，患腹腫硬，逾年而瘡頭破，時出血水。此七情所傷，榮氣絕於肉理而然，名曰流注。診之肝脈澀。蓋肝病脈不宜澀，小腹正屬肝經，須澀脈退，乃可愈。予欲以甘溫之劑，補其氣血，令自消潰。彼不信，仍服攻伐之藥，致氣血愈虛，果歿於金旺之月。丹溪云：諸經惟少陽、厥陰之生癰疽，宜預防之，以其多氣少血也。少血而肌肉難長，瘡久不合，必成敗症。苟不知此。輒用峻利毒藥，以伐真陰分之血，則其禍不旋踵矣！</p>
<p>一室女，背髀結一核如錢，大而不焮，但倦怠少食，日晡發熱，脈軟而澀。此虛勞氣鬱所致也。予用益氣養血開鬱之藥，復令飲人乳，精神稍健。彼不深信，又服流氣飲，飲食遂少，四肢痿軟。其父悔之，復請予治。予以為決不可起矣，後果斃。</p>
<p>一男子，年三十餘歲，素飢寒，患右肋腫如覆瓢，轉側作水聲，脈數。經曰陰虛陽氣湊襲，寒化為熱，熱甚則肉腐為膿，即此證也。及按其腫處即起，是膿已成矣。遂以濃煎黃耆六一湯，令先飲二鍾，然後針之。膿出數碗許，虛症並至。遂以大補藥治之，三月餘而愈。大抵膿血大泄，氣血必虛，當峻補之。雖有他病，皆宜緩治。蓋元氣一復，諸病自退。若老弱之人，不問腫潰，尤當補也。</p>
<p>一婦人，左臂胃經部分結腫一塊，年許不潰，堅硬不痛，肉色不變，脈弱少食，月經每過期，日晡發熱，遇勞或怒則痛。此不足之症也。遂與參、耆、歸、朮、川芎、芍藥、熟地黃、貝母、遠志、香附、桔梗、牡丹皮、甘草，百餘貼而消。大抵婦病，多起於郁，鬱則氣血受傷，百病生矣。</p>
<p>一子年十九，腰間腫一塊，無頭不痛，色不變，三月不潰，飲食少思，肌肉日瘦。此寒搏腠理，榮氣不行，鬱而為腫也，名曰濕毒流注。《元戎》云：若人飲食疏，精神衰，氣血弱，肌肉消薄，榮衛之氣短促而澀滯，故寒搏腠理，閉鬱而為癰腫者。當補之，以接虛怯之氣。遂以十全大補湯加香附、陳皮，三十餘劑，始針之，遂出白膿二碗許。仍用前藥，倍加參、耆，及以豆豉餅灸之，漸愈。彼惑於速效者，乃內服敗毒，外貼寒涼藥，反致食少膿稀，患處色紫復。請予治，喜得精氣未喪，仍以前藥加遠志、貝母、白蘞，百劑而愈。此瘡若久而不愈，或膿水清稀者，當以內寒散服之，及附子餅灸之，然後可愈。若不慎飲食、起居、七情者，不治。</p>
<p>劉文通室，年逾二十，腰間突腫寸許，肉色不變，微腫不潰，發熱脈大。此七情所傷，氣血凝滯，澀於隧道而然也。當益氣血，開鬱結，更以香附餅熨之，使氣血充暢，內自消散，不消雖潰亦無虞。不聽，乃服十宣、流氣之藥，氣血愈虛，破出清膿，不斂而斃。</p>

<h2>乳癰</h2>
<p>王汝道室，年逾三十，每怒後乳內作痛或腫。此肝火所致，與小柴胡合四物湯，加青皮、桔梗、香附、枳殼而愈。彼欲絕去病根，自服流氣飲，遂致朝寒暮熱，益加腫痛。此氣血被損而然。予與八珍湯，三十餘劑。喜其年壯，元氣易復，而得愈也。</p>
<p>郭氏妾，乃放出宮人，年四十，左乳內結一核堅硬，按之微痛，脈弱懶言。此鬱結症也，名曰乳岩。須服解鬱結、益血氣藥，百貼可保。郭謂不然，別服十宣散、流氣飲，瘡反盛。逾二年，復請予，視其形如覆碗，腫硬如石，膿出如泔。予謂膿清脈大，寒熱發渴，治之無功，果歿。</p>
<p>一婦，年逾二十，稟弱，乳內作痛，頭疼脈浮。與人參敗毒散，倍加人參，一劑表證悉退，但飲食少思，日晡微熱。更以小柴胡湯合六君子湯，二劑熱退食進。方以托裡藥加柴胡，十餘劑，針出膿而愈。又有一婦，患此症，膿成畏針，病勢漸盛。乃強針之，膿出三碗許，脈數發渴。以大補藥，三十餘劑而愈。丹溪云：乳房為陽明所經，乳頭為厥陰所屬。厥陰者肝也，乃女子致命之地，宗筋之所，且各有囊橐。其始焮腫雖盛。受患且於一二囊。若膿成不刺，攻潰諸囊矣，壯者猶可，弱者多致不救。所以必針而後愈也。</p>
<p>一婦人，乳內腫一塊，如雞子大，勞則作痛，久而不消，服托裡藥不應。此乳勞症也，屬肝經血少所致。先與神效栝蔞散四劑，更隔蒜灸之，腫少退。再服八珍湯，倍加香附、夏枯草、蒲公英，仍間服前散，月餘而消。亦有乳疽一證，其狀腫硬木悶，雖破而不潰，腫亦不消，尤當急服此散，及隔蒜灸。斯二症乃七情所傷，氣血所損，亦勞症也。宜戒怒，節飲食，慎起居，否則不治。</p>
<p>一婦人，患乳癰，氣血頗實，但瘡口不合，百法不應。予與神效栝蔞散，四劑少可。更與數劑，及豆豉餅灸之而愈。又一婦患此未潰，亦與此藥，三劑而消。良甫云：如有乳勞，便服此藥，可杜絕病根。如毒已成，能化膿為水。毒未成者，則從大小便中散之。</p>
<p>一婦人，患瘰癧，與養血順氣藥，不應。亦與神效栝蔞散，二劑頓退，又六劑而消。卻與托裡藥，氣血平復而愈。</p>
<p>一婦人，患乳癰，寒熱頭痛。與荊防敗毒散一劑，更與蒲公英（春秋間開黃花似菊一握，）搗爛，入酒二三盞，再搗，取酒熱服，相熱罨患處而消。丹溪云：此草散熱毒，消腫核，又散滯氣，解金石毒之聖藥。（鄉人採充菜，俗呼荸荸下。）</p>
<p>一婦人，產次子而無乳，服下乳藥，但作脹。予謂人乳皆氣血所化，今脹而無乳，是血氣竭而津液亡也，當補其氣血，自然有乳矣。乃與八珍湯，倍加參、術，少加肉桂，二十餘服，乳遂生，後因勞役復竭。夫其初產有乳，再產而無，其氣血只給一產耳，其衰可知。間有產後乳出不止，亦為氣虛，宜補藥止之。其或斷乳，兒不吮亦能作脹，則用麥櫱炒為末，白湯調服以散之。若兒吮破乳頭成瘡，則用蒲公英末，或黃連胡粉散摻之。若乳頭裂破，以丁香末，或蛤粉、胭脂傅之，並效。</p>
<p>內翰李蒲汀太夫人，左脅內作痛，牽引胸前。此肝氣不和，尚未成瘡。用小柴胡湯，加青皮、枳殼，四劑少可，再加芎、歸治之而愈。</p>

<h2>漏瘡</h2>
<p>一男子，臀患漏，口乾發熱，喜膿不清稀，脈來遲緩。以豆豉餅灸，及服八珍湯，加麥門冬、五味子、軟柴胡、地骨皮，三月餘而愈。後因不慎房勞，復潰，膿清脈大，請辭不治，果歿。河間云：因病致瘧則為輕，蓋病勢尚淺，元氣未虛也。至病初愈而勞復，或復飲食勞倦，或房勞、七情六慾，陽瘁陰弱，加致羸損，此因虛致損，則為重。病勢已過，元氣已索故也。</p>
<p>一男子，年逾二十，稟弱，左腿外側患毒，三月方潰，膿水清稀，肌肉不生。以十全大補湯加牛膝，二十餘劑，漸愈。更以豆豉餅灸之，月餘而痊。又一媼，左臂結核，年餘方潰，膿清不斂。一男子，患貼骨癰，腿細短軟，瘡口不合，俱飲十全大補湯，外用附子餅，及貼補藥膏，調護得宜，百貼而愈。大凡不足之症，宜大補之劑，兼灸以補接陽氣，祛散寒邪為上。</p>
<p>京師董賜，年逾四十，胸患瘡成漏，日出膿碗許，喜飲食如常。以十全大補湯，加貝母、遠志、白蘞、斷續，灸以附子餅，膿漸少。謹調護，歲余而愈。</p>

<h2>附骨疽</h2>
<p>李戶部孟卿，環跳穴患附骨疽。彼謂小瘡，遂服消毒之劑，更用寒涼藥數貼，因痛極。刺之膿瘀大泄，方知為癰也。請予治，診其脈右關浮大。此胃氣已傷，故瘡口開張，肉紫下掐，捫之不熱。彼云：瘡內更覺微冷，自意必成漏矣。遂以豆豉餅灸之，飲以六君子湯，加藿香、砂仁、炮姜，數劑胃氣漸醒，飲食漸進，患處漸緩，肌肉漸生，再以十全大補湯而愈。又畢上舍患此，內痛如錐，外色不變，勢不可消。喜其未用寒劑，只因痛傷胃氣，而不思食。亦以前藥去炮姜治之，飲食少進。更以十全大補湯，二十餘劑而膿成。遂針去，仍以大補湯，倍加參、耆、芎、歸。膿久不止，更加麥門、五味、貝母、遠志。數服漸止，瘡亦愈。按二症蓋因濕熱滯於肉理，真氣不能運化。其始宜除濕熱，實脾土，和血氣，則濕自消散。若膿未成，即以隔蒜灸之，立效。</p>
<p>王時亨室，產後腰間腫痛，兩腿尤甚。此由瘀血滯於經絡而然也。不早治，必作骨疽。遂與桃仁湯，二劑稍愈。更以沒藥丸，數服而痊。亦有惡血未盡，臍腹刺痛，或流注於四肢，或注股內，疼痛如錐，或兩股腫痛。此由冷熱不調，或思慮動作，氣所擁遏，血蓄經絡而然，宜設藥丸治之。亦有經血不行，流注四肢，或股內痛如錐，或因水濕所觸，經水不行而腫痛者，宜當歸丸治之。凡惡血停滯，為患匪輕，治之稍緩，則流注而為骨疽，多致不救。</p>

<h2>腸癰</h2>
<p>金臺院僉憲，年逾五十，腹內隱痛，小便如淋，皮膚錯縱，而脈滑數。此腸癰也，脈滑數則膿已成。遂以廣東牛皮膠，酒溶化，送太乙膏，下膿升許。更以排膿托裡藥，及蠟礬丸而愈。</p>
<p>汪中翰側室，產後小腹作痛，諸藥不應，其脈滑數。此瘀血內潰為膿也。以瓜子仁湯痛止，更以太乙膏而愈。今人產後多有此病，縱非癰患，用之更效。有人臍出膿水，久而不愈，亦以前膏及蠟礬丸治之亦愈。</p>

<h1>卷五</h1>

<h2>肺疽</h2>
<p>陸司廳子仁，春間咳嗽，唾痰腥穢，胸滿氣促，皮膚不澤，項強脈數。此肺疽也。蓋肺系在項，肺傷則系傷，故牽引不能轉側。肺者氣之本，其華在毛，其充在皮，肺傷不能攝氣，故脅脹氣促而皮膚縱。東垣云：肺瘡之脈，微緊而數者，未有膿也；緊甚而數者，已有膿也。其脈來緊數，則膿已成，遂以人參、黃耆、當歸、川芎、白芷、貝母、知母、麥門冬、栝蔞仁、桔梗、防風、甘草，兼以蠟礬丸，及太乙膏治之，膿盡脈澀而愈。至冬脈複數。經云：飲食勞倦則傷脾，脾傷不能生肺金。形寒飲冷則傷肺，肺傷不能生腎水。腎水不足，則心火熾盛，故脈來洪數。經云：冬見心而不治。果歿火旺之月。周國用，年逾三十，患咳嗽，項強氣促，右寸脈數，此肺疽也。東垣云：風中於胃，呼氣不入，熱至於榮，吸氣不出。風傷皮毛，熱傷血脈，風熱相搏，血氣稽留於肺，變成瘡疽。診其寸脈數而虛者，肺痿也；數而實者，肺疽也。今診脈滑，此疽膿已成，以排膿托裡之藥，及蠟礬丸治之，脈漸澀而愈。錦衣李大器亦患此，吐膿，面赤脈大。予謂肺病脈宜澀，面宜白。今脈大面赤，火剋金也，不可治，果然。</p>
<p>一男子，年逾四十，喘咳脅痛，胸滿氣促，右寸脈大。此風熱蘊於肺也，尚未成瘡，屬有餘之症。予欲以瀉白散治之。彼謂肺氣素怯，不然予言，乃服補藥，喘嗽愈甚。兩月後，復請視之，汗出如油麵而不休。此肺氣已絕，安用治？後果歿。夫肺氣充實，邪何從襲？邪氣既入，則宜去之。故用瀉白散，所以瀉肺中之邪氣也。邪氣既去，則真氣自實矣。</p>

<h2>疔瘡</h2>
<p>劉貫卿，腳面生疔，形雖如粟，其毒甚大，宜峻利之藥攻之。因其怯，以隔蒜灸五十餘壯，癢遂止。再灸片時，乃知痛。更用膏藥封貼，再以人參敗毒散，一服漸愈。夫至陰之下，道遠位僻，且怯弱之人，用峻利之劑，則藥力未到，胃氣先傷，虛虛之禍，有所不免，不如灸之為宜。</p>
<p>松江諸大尹，唇生一疔，已五日，腫硬脈數，煩躁喜冷。此胃經積熱所致。先以涼隔散一服，熱去五六。更與奪命丹二粒，腫退二三。再與荊防敗毒散，四劑而愈。胡生，耳後寸余發一毒，名曰銳疽，焮痛寒熱，煩躁喜冷。此膽經蘊熱而然。先用神仙活命飲一劑，勢減二三。時值仲冬，彼惑於藥有用寒遠寒之禁，故不再服。自用十宣托裡之藥，勢漸熾，耳肉膿潰。復請視，其喉腫閉，藥不能下而歿。又楊錦衣，唇下生疔，脈症但實而不下。反用托裡，致口鼻流膿而死，是謂實實之禍。馬氏室，忽惡寒作嘔，肩臂麻木，手心搔癢，遂瞀悶，不自知其故，但手有一泡。此乃患疔毒也，令急灸患處，至五十餘壯而麻。又五十餘壯，知痛，投以荊防敗毒散而愈。古人謂人暴死，多是疔毒。急用燈照遍身，若有小瘡，即是此毒，宜急灸其瘡。但是胸腹溫者可救。先君云：有人因剝死牛瞀悶，令看遍身，俱有紫泡。使急灸泡處，良久遂蘇。或以敗毒藥而愈。</p>
<p>張都憲夫人，面生疔，腫焮痛甚，數日不潰，脈症俱實。以荊防敗毒散加芩、連治之，稍愈。彼以為緩，乃服托裡散一劑，其勢愈甚，痛極始悟。再用涼隔散二劑，痛減腫潰，又與連翹消毒散十餘劑而愈。</p>
<p>鄭氏，舉家生疔，多在四肢，由皆食死牛肉所致。刺去黑血，更以紫金丹服之，悉愈。</p>
<p>王驗封汝和，南京人，感豆毒，面生疔十數枚，腫痛，脈數。以荊防敗毒散治之，雖稍愈，尚可畏，更以奪命丹一服而痊。</p>

<h2>脫疽（附修指誤傷，及足凍成瘡）</h2>
<p>新都楊太僕，年逾四十，左足大指赤腫焮痛。此脾經積毒下注而然，名曰脫疽也。喜色赤而痛，以人參敗毒散去人參、桔梗，加金銀花、白芷、大黃，二劑；更以栝蔞、金銀花、甘草節，四劑頓退；再以十宣散去桔梗、官桂，加金銀花、防己，數劑而愈。又韓判官，亦有此患，色紫赤不痛，以隔蒜灸至五十餘壯，尚不知痛；又明灸百壯方知；乃以敗毒散加金銀花、白芷，數劑而愈。一膏粱人，年逾五十，亦患此，色紫黑，腳焮痛。孫真人云：脫疽之症，急斬去之。毒延腹必不治。色黑不痛者亦不治。喜其飲食如故，動息自察，為瘡瘍之善證也，尚可治。遂以連翹消毒散六劑，更以金銀花、甘草節、栝蔞二十餘劑，患指潰脫。再以當歸、川芎、生地、連翹、金銀花、白芷二十餘劑而愈。次年忽發渴，予治以加減八味丸。不聽，另服生津等藥，愈盛。卻服予前藥而愈。一人患腦疽，愈後發渴，固不服前丸，腳背患疽而死。一人作渴欲發疽，與此丸治之，不惟渴止，而氣血亦壯。大抵此症皆由膏粱厚味，或房勞太過，丹石補藥所致。其發於指，微赤而痛，可治。治之不愈，急斬去之，庶可保。否則不治。色紫黑，或發於腳背，亦不治。或先發而後渴，或先渴而後發，色紫赤而不痛，此精氣已竭，決不可治。</p>
<p>一芻蕘，左足指患一泡，麻木色赤，次日指黑，五日是足黑冷，不知疼痛，脈沉細。此脾胃受毒所致。以飛龍奪命丹一服，翌日令割去足上死黑肉，割後骨始痛可救，遂以十全大補湯治之而愈。蓋肉死乃毒氣盛，而拒截營氣所致。況至陰之下，氣血難達，經云風淫未疾，即此是也。向若攻伐之，則邪氣愈盛，乘虛上侵，必不救。</p>
<p>一婦人，修傷次指，成膿不潰，焮痛至手，誤敷涼藥，以致通焮微嘔少食，彼以為毒氣內攻。診其脈沉細。此痛傷胃氣而然也，遂刺之，服六君子湯加藿香、當歸，食進更服八珍湯，加黃耆、白芷、桔梗，月餘而愈。一後生亦患此，黑色不痛，其指已死，予欲斬去，速服補劑，恐黑上臂不治。彼不信，另服敗毒藥，手竟黑，遂不救。</p>
<p>一男子，亦傷拇指，色紫不痛。服托裡藥，及灸五十餘壯，作痛潰膿而愈。吳舉人幼女，因凍傷兩足，至春發潰，指俱壞，遂去之，服以大補藥而愈。藍上舍女，患嵌甲，傷指年餘不愈，日出膿數滴。予謂足大指乃肝脾二經發源之所，宜灸患處，使瘀肉去，陽氣至，瘡口自合，否則不治。彼忽之，不早治，後變勞症而歿。蓋至陰之下，血氣難到。若女人患此，又多因扎縛，致血脈不通。或被風邪所襲，則無氣血榮養，遂成死肉。惟當壯其脾胃，行其經絡，生其血氣則愈。其有成破傷風，以致牙關緊急，口眼喎斜者，先以玉真散一二服，然後投以通經生血之劑。</p>

<h2>天泡瘡</h2>
<p>毛閣老孫，年十餘歲，背側患水泡數顆，發熱脈數。此肺胃經風熱所致，名曰天泡瘡。遂以荊防敗毒散加芩、連服之，外去毒水，以金黃散敷之，又四劑而愈。又楊文魁腹患此，延及腰背，焮痛飲冷，脈數，按之愈大。乃表裡俱實也。以防風通聖散一劑，更敷前散，勢減大半。再以荊防敗毒散，二劑而愈。</p>

<h2>楊梅瘡（近時稱）</h2>
<p>一男子，下部生疳，諸藥不應。延遍身突腫，狀似番花，及筋攣骨痛，至夜尤甚。此肝腎二經濕熱所致。先以導水丸五服，次以龍膽瀉肝湯數劑，再與除濕健脾之藥，外貼神異膏吸其膿，隔蒜灸授其毒而愈。若表實者以荊防敗毒散，裡實者以內疏黃連湯。又有表裡俱實者，防風通聖散；表裡俱虛者，八珍湯。氣虛者，四君子湯；血虛者，以四物湯。俱加兼症之藥，治之並愈。若服輕粉等藥，反收毒於內，以致迭發。概服防風通聖散，氣血愈虛，因而不治者多矣。（又一捷治，見《外科發揮》水門。）</p>
<p>一男子，患楊梅瘡，後兩腿一臂，各潰二寸許一穴，膿水淋漓，少食無睡，久而不愈。以八珍湯加茯神、炒酸棗仁服，每日以蒜搗爛塗患處，灸良久，隨貼膏藥，數日少可。卻用豆豉餅灸、更服十全大補湯而愈。凡有腫硬或作痛，亦用蒜灸，及敷沖和膏，內服補藥，並效。</p>

<h2>時毒</h2>
<p>徐考功兄，湖廣人，年逾三十，耳面焮腫，寒熱拘急，脈浮洪。此時毒證也。齊氏云：時毒者，感四時不正之氣所致也。其後發於面、鼻、耳、項、咽喉，赤腫，或結核，令人增寒壯熱，頭疼，肢體痛。昧者以為傷寒。五七日間乃能殺人，十日外不治。延余診。其脈若浮數，邪氣在表，當發之；沉實者，邪氣在裡，當下之。今其脈浮洪，此邪在表也，以荊防敗毒散，加牛蒡子、玄參，治之漸愈，更以升麻、葛根、連翹、桔梗、川芎、金銀花、牛蒡子而平復。又云：宜於鼻內㗜通氣散，取十餘嚏作效。用嚏藥不嚏者，不可治。如嚏有膿血，治之必愈。如左右看病之人，每日用嚏藥嚏之，必不傳染。</p>
<p>周舉人母。年六十，時仲冬，患時毒，頭面耳項，腫赤痛甚，大便閉澀，脈數實。此表裡俱實也。飲防風通聖散，一劑，勢愈盛。此藥力猶淺也。取磁鋒擊刺患處，出黑血，仍與前藥，稍可。再與敗毒散加連翹、荊、防，一十餘劑而愈。若拘用寒遠寒，用熱遠熱，年高畏用硝、黃，投以托裡之藥，或尋常消毒藥治之，鮮不危矣！</p>

<h2>風熱</h2>
<p>宋生，遍身作癢，搔破成瘡出水，脈浮數。此手足陽明經風熱所致。以人參敗毒散，對四物湯，加芩、連服之；外以松香一兩，枯礬五錢，輕粉三錢，為末，麻油調敷，月餘而愈。又一人患此，但脈沉實，以前藥加大黃治之漸愈，再服人參敗毒散而平復。</p>
<p>徐工部宜人，先兩膝後至遍身筋骨皆痛，脈遲緩。投以羌活勝濕湯，及荊防敗毒散加滲濕之藥，治之不應。次以附子八物湯，一劑悉退，再服而愈。若脈洪數而痛者，宜服人參敗毒散。有毒自手足起，至遍身作痛，或至頸項結癧如貫珠者，此為風濕流氣之證，宜以加減小續命湯，及獨活寄生湯治之。又有小兒宿痰失道，癰腫見於頸項或臂膊胸背，是為冷證，宜用四生散敷貼，內服前藥，及隔蒜灸之。</p>
<p>王喬，年逾三十，有患毒，以人參敗毒散一劑，更以十宣散去參、桂，加金銀花、天花粉，四劑而潰。因怒動肝火，風熱上壅，頭面赤腫，焮痛飲冷，以荊防敗毒散加芩、連、薄荷，二劑不應。急砭患處，出黑血盞許，仍以一劑，勢退大半。再進人參敗毒散，四劑而愈。夫病有表裡上下之殊，治有緩急攻補之異，若不砭刺，毒氣結於肉理，藥不能及，焮腫日甚。使投峻利之藥，則上熱未除，中寒已作，必傷命矣！</p>
<p>一婦人，腦左腫痛，左鼻出膿，年餘不愈，時或掉眩，如坐舟車，正許叔微所謂肝虛風邪襲之而然也。以川芎一兩，當歸三錢，羌活、旋覆花、細辛、蔓荊子、防風、石膏、藁本、荊芥穗、半夏曲、乾地黃、甘草半兩，乃制一料，每服一兩，姜水煎服而愈。</p>
<p>一男子，眼赤癢痛，時或羞明下淚，耳內作癢，服諸藥不應，氣血日虛，飲食日減，而癢愈盛。此肝腎風熱上攻也。以四生散，酒調，四服而愈。又一人，頭目昏眩，皮膚瘙癢，搔破成瘡，以八風散治之亦愈。</p>
<p>陸子仁子，感冒後，發痓，不醒人事，磨傷膂肉三寸許一塊。此膀胱經必有濕熱，診其脈果數。予謂此死肉最毒，宜速去之。否則延潰良肉，多致不救。遂取之，果不知疼痛，因痓不止。陸君疑為去肉所觸。予謂此風熱未已。彼不聽，另用乳、沒之劑，愈甚。復請治，予以祛風消毒藥敷貼，查春田飲以祛風涼血、降火化痰之劑而愈。金工部洪載，傷寒後亦患此，甚危。亦取去死肉，以神效當歸膏敷貼，以內疏黃連湯飲之，狂言愈甚，其脈愈大。更以涼隔散二劑，又以四物湯加芩、連數劑而愈。予見患瘡者，責效太迫，服一二劑未應，輒改服他藥，反致有誤。不思病有輕重，治有緩急，而概欲效於一二劑之間，難矣！況瘡瘍一證，其所由來，固深以久，又形證在外，肌肉潰損，較之感冒無形之疾不同，安可旦夕取效？患者審之。</p>
<p>吳黃門瞻之，腮赤腫痛，此胃經風熱上攻所致，以犀角升麻湯二劑而平。又姜大理患此，以前湯。為人所惑，謂湯內白附子性溫而不服，另用荊防敗毒散，愈盛。後雖用此湯，尚去白附子，亦不應。後用全方三劑而愈。本草云：白附子味甘辛，氣溫無毒，主面上百病，及一切風瘡。乃風熱之主藥。《內經》云：有是病，用是藥。苟不用主病之藥，病焉得而愈哉？</p>
<p>一男子，患瘡疥，多在兩足，午後痛甚，腿腕筋紫而脹，脈洪大。此血熱而然也。於紫處砭去毒血，更以四物湯加芩、連、柴胡、地骨粉、丹皮，服之而愈。如手臂有瘡，臂腕筋紫，亦宜砭之。老弱人患此作痛，須補中益氣湯，加涼血藥治之。</p>
<p>有人年逾五十，筋骨倭軟，臥床五年，遍身瘙癢，午後尤甚。予以生血藥治之，癢漸愈，痿少可。更以加味四斤丸治之。調治謹守，年餘而痊。河間云：熱淫於內，而用溫補藥何也？蓋陰血衰弱，不能養筋，筋緩不能自持，燥熱淫於內，宜養陽滋陰，陰實則水升火降矣。</p>
<p>一男子，遍身瘙癢，諸藥不應，脈浮，按之而澀。予以生血藥為主，間以益氣，百貼而愈。</p>

<h2>婦人血風癮疹</h2>
<p>一婦人，生風癜似癬，三年不愈，五心煩熱，脈洪，按之財澀。此血虛之證也，當以生血為主，風藥佐之。若專攻風毒，則血愈虛，而熱愈熾。血被煎熬，則發瘰癧，或為怯證。遂以逍遙散數劑，及人參荊芥散二十餘劑而愈。</p>
<p>一婦，遍身瘙癢，秋冬則劇，脈浮數。此風邪客於皮膚而然也，名曰血風疹。飲以消風散，及搽蛇床子散，少可。更以四物湯加荊、防，數劑而愈。又一婦人患此，夏月尤甚，脈洪大，以何首烏散。一婦患赤斑，瘙癢搔破，成瘡出水，久而不愈，內服當歸飲，外搽蛇床子散，並愈。又一婦久患此，諸藥不應，以四生散數服而愈。大抵婦人體虛，風邪客於皮膚，則成白疹；寒濕客於肌肉，鬱熱而為赤疹。色雖有異，治法頗同。凡人汗出，不可露臥及浴。經云：汗出見濕，乃生痤痱。《雷公》云：遍身風疹，酒調生側。予用屢驗。</p>

<h2>風寒</h2>
<p>一婦人，年逾四十，近環跳穴生毒，尺脈沉緊，腿不能伸屈。經曰：脾寒移於肝，癰腫筋攣。夫脾主肉，肝主筋。肉溫則筋舒，肉冷則筋急。遂與乳香定痛丸治之，少愈。更以助胃壯氣血藥，二十餘劑而消。</p>
<p>王汝道，膝腿腫，筋骨痛，服十宣散不應，脈沉細。予以五積散二劑而痛止。更以十宣散去桔梗，加牛膝、杜仲，三十餘劑，膿潰而愈。此寒氣之腫，八風之變也。</p>
<p>一婦人，臂痛筋攣，不能伸屈，遇寒則劇，脈緊細。正陳良甫所謂肝氣虛為風寒流於血脈、經絡，搏於筋。筋不榮，則乾急而為痛。先以舒筋湯，更以四物湯加牡丹皮、澤蘭、白朮，治之而痊。亦有臂痛不能舉，或轉左右作痛，由中脘伏痰，脾氣滯而不行。宜茯苓丸，或控涎丹治之。</p>
<p>胡縣丞，遍身走痛，兩月後左腳面結腫，未幾腿股又患一塊。脈輕診則浮，重診遲緩。此氣血不足，腠理不密，寒邪襲虛而然。以加減小續命湯四劑，及獨活寄生湯數劑，疼痛頓去。更以托裡藥，倍加參、耆、歸、術，百貼而愈。後又有劉生，手臂結核如慄，延至頸項，狀似瘰癧。此風濕流注，亦以前藥治之而愈。</p>
<p>一男子，每至秋冬，遍身發紅點，如斑作癢。此寒氣收斂，腠理陽氣，不能發越，怫鬱內作也。宜以人參敗毒散解散表邪，再以補中益氣湯益氣實表。彼以為熱毒，自用涼藥愈盛。復請，以補中益氣湯加茯苓、半夏、羌活四劑，更以補中益氣湯數劑而愈。劉守真曰：瘡腫因內熱外虛，風濕所乘。然肺主氣皮毛，脾主肌肉，氣虛則膚腠開，風濕所乘，脾氣濕而內熱，即生瘡也。腫者，由寒熱毒氣，客於經絡，使血澀壅結成腫。風邪內作者，且無頭無根。氣血相搏作者，有頭有根。亦核腫，則風氣流會。瘡以痛為實，癢為虛者，非謂虛為寒，謂熱之微甚也。</p>
<p>顧泰至，患瘰癧，寒熱焮痛。治以人參敗毒散，翌日遍身作痛，不能轉側。彼云素有此疾，服藥不應，每發痛至月餘自止。陳良甫云：婦人體虛受氣，邪之氣隨血而行，或淫溢皮膚，卒然掣痛，遊走無常，故名走注痛。即瘰節風也，以四生丸治之而愈。</p>

<h2>鶴膝風</h2>
<p>一男子，左膝腫大，三月不潰。予謂體虛之人，風邪襲於骨節，使氣滯而不行，故膝愈大，而腿愈小，名曰鶴膝風。遂以大防風湯，三十餘劑而消。張上舍亦患此，伏枕半載，流膿三月。彼云初服大防風湯去附子；將潰，服十宣散；今用十全大補湯而去肉桂，俱不應。視脈證甚弱。予以十全大補湯，每貼加熱熟附子一錢。服三十餘劑少愈，乃去附子五分。服至三十餘劑將愈，卻去附子，更以三十餘劑而痊。夫立方之義，各有所宜。體氣虛弱，邪入骨界，遏絕隧道。若非用附、桂辛溫之藥，開散關節腠理之寒邪，通暢隧道經絡之氣血，決不能愈。且本草云，附子治寒濕，踒躄拘攣，膝痛不能行步。以白朮佐之，為寒濕之聖藥。又云，桂通血脈，消瘀血，堅骨節，治風痹骨攣腳軟，宣導諸藥。十全大補湯以治前證，不但不可去桂，亦不可不加附子。無此二味，何以行參、耆之功，健芎、歸之性，而補助血氣，使之宣通經絡，伏大虛之證，以收必捷之效哉！況前證在骨節之間，關鍵之地，治之不速，使血氣循環，至此鬱而為膿，從此而泄，氣血瀝盡，無可生之理矣。亦有秋夏露臥，為寒折之，炥熱內作，遂成附骨疽。有賊風搏於肢節，痛徹於骨，遇寒尤甚，以熱熨之少減，尤當以大防風湯治之。更以蒜搗爛，攤患處，用艾鋪蒜上燒之，蒜壞易之，皮膚倘破無妨。若經久不消，極陰生陽，潰而出水，必致偏枯，或為漏症，宜服內寒散，及附子灸之。或脈大，或發渴不治，以其真氣虛而邪氣實也。</p>

<h2>濕熱</h2>
<p>靳閣老子，玉莖腫痛，服五苓散等藥不應。予診其脈。左關弦數。此肝經積熱而成。以小柴胡湯送蘆薈丸，一服勢去三四，再服頓愈。</p>
<p>山西張縣丞，年逾五十，兩腿腫脹，或生㾦癗，小便頓而少，聲如甕出，服五皮等散不應。掌醫院銀臺李先生，疑謂瘡毒，令請予治。診其脈右關沉緩。此脾氣虛，濕氣流注而然，非瘡毒也。劉河間云：諸濕腫滿，皆屬於土。按之不起，皆屬於濕。遂投以五苓散加木香，倍蒼朮、白朮，亦不應。予意至陰之地，關節之間，濕氣凝滯。且水性下流，脾氣既虛，安能運散？若非辛溫之藥，開通腠理，行經活血，則邪氣不能發散。遂以五積散二劑，勢退大半。更以六君子湯加木香、升麻、柴胡、薏苡仁，兩月餘而愈。設使前藥不應，更投峻劑，虛虛之禍，不及救矣。</p>
<p>一男子，濕熱下注，兩腿生瘡。以人參敗毒散加蒼朮、黃柏服之，以金黃散敷貼。又一人患此，久而不愈，以船板灰存性一兩，輕粉三錢為散，麻油調貼，更以黃柏、知母、防己、龍膽草、茯苓、當歸、川芎、黃耆、白朮，服之並愈。若人兩腿生瘡作痛，或遍身作痛，以當歸拈痛湯治之。</p>
<p>趙千兵，患兩腿生瘡，每服敗毒藥，則飲食無味，反增腫脹。此脾虛濕熱下注也。以六君子湯加蒼朮、升麻、酒炒芍藥服之，以黃蠍、麻油各一兩，輕粉三錢，為膏貼之而愈。大凡下部生瘡，雖屬濕熱，未有不因脾腎虛而得之者。</p>
<p>儀真陳儀部司廳，年逾五十，兩臁生瘡，日久不愈，飲食失節，或勞苦，或服滲利消毒之劑愈盛，脾脈大而無力。此脾虛而無濕熱也。以補中益氣湯數劑少愈，更以六君子湯加蒼朮、升麻、神麯治之而愈。嘗治下部生瘡焮痛，或發寒熱，或腳氣腫痛，以人參敗毒散加檳榔、紫蘇、蒼朮、黃柏並效。久不愈者，以四生散治之。愈後以補腎丸補之，庶不再發矣。</p>
<p>北京劉鴻，腿生濕瘡，數年不愈，尺脈輕診似大，重診無力。此腎氣虛，風邪襲之而然，名曰腎臟風瘡。以四生散治之。彼不信，自服芩、連等藥，遂致氣血日弱，膿水愈多，形證愈憊。迨二年，復邀治，仍以前藥治之而愈。夫肢體有上下，臟腑有虛實。世之患者，但知苦寒之藥能消瘡毒，殊不知腎臟風因腎氣不足所致。當以蒺藜為君，黃耆為臣，白附子、獨活為佐使。若再服敗毒等藥，則愈耗元氣，速其死矣。</p>
<p>高兵部，連日飲酒，陰挺並囊濕癢，服滋陰等藥不應。予謂前陰者，肝經脈絡也。陰氣從挺而出，素有濕，繼以酒，為濕熱合於下焦而然也。經云：下焦如瀆。又云：在下者引而竭之。遂以龍膽瀉肝湯，及清震湯治之而愈。若服此藥不應，宜補肝湯，或四生散治之。</p>
<p>趙大用，兩臂腫痛，服托裡藥日盛。予謂腫屬濕，痛屬火。此濕熱流注經絡也。以人參敗毒散加威靈仙、酒炒黃芩、南星，數劑漸愈。更以四物湯加蒼朮、黃柏、桔梗，二十餘劑而消。又一婦，下體腫痛，亦與人參敗毒散加威靈仙、黃柏、蒼朮，數服痛減。更以四物湯加黃柏、紅花、防己、蒼朮、澤瀉，三十餘劑亦消。</p>
<p>葉巡檢，兩腿作痛，每痛即以濕布拓之，少愈。月餘反盛，夜痛尤劇。丹溪云：血受熱已自騰沸，或涉冷，或受濕取涼，熱血得寒，汙濁凝澀，所以作痛。夜痛甚，行於陰也。苟痛以冷折之，即前所謂取涼之證也。以五積散二劑，頓愈。更以四物湯加黃柏、蒼朮、牛膝、木瓜，三十餘劑而消。夫濕痰濁血，注於僻道。若非行經流濕，推陳致新，不能瘳也。如藥蒸罨，或用涼藥敷貼，或用涼藥降火，又成敗證矣。</p>
<p>戶部韓老先生，山西人，左臂肘患一紫泡，根畔腫赤，大腸脈芤。予謂芤主失血，或積血。公曰：血痢未瘳，以芍藥湯二劑，更以人參敗毒散二劑，瘡痢並愈。</p>
<p>一老人患痢，驟用濕藥，致大腸經分作痛。此濕毒流於隧道而然。以四物湯加桃仁、酒黃芩、紅花、升麻、枳殼、陳皮、甘草，治之漸愈。因年高胃弱，竟致不起。又一患者，亦用澀劑，環跳穴作痛。予與前藥，去升麻、陳皮、甘草，加蒼朮、黃柏、柴胡、青皮、生薑，十餘劑稍可。更刺委中，出黑血而愈。如手蘸熱水，拍腿上有泡起，去血亦可。不若刺穴，尤速效也。（委中在膝腕中央橫紋中動脈便是。）</p>
<p>一男子，患痛筋攣，遍身痠軟。一道人與痰藥，及托裡藥，期三日可痊，皆不應，請予治。予謂非瘡毒。大筋軟短，小筋弛長，此濕熱為患也。以人參敗毒散加蒼朮、黃柏、檳榔、木瓜，治之少愈。更以清燥湯二十貼而痊。夫內有濕熱，外有風寒，當泄不當補。反以甘濕之劑，必不效矣。</p>
<p>余舉人弟，年及二十，腿膝腫痛，不能伸屈，服托裡藥反盛。予以人參敗毒散，加檳榔、木瓜、柴胡、紫蘇、蒼朮、黃柏而愈。</p>

<h2>痔（附疝氣，囊癰、婦人陰瘡、男子便血）</h2>
<p>一男子，痔瘡腫痛，便血尤甚，脈洪且澀。經云：因而飽食，筋脈橫解，腸澼為痔。蓋風氣通於肝，肝生風，風生熱，風客則淫氣傷精，而成斯疾。遂與黃連、當歸、黃耆、生地黃、防風、枳殼、白芷、柴胡、槐花、地榆、甘草，治之漸愈。次以黃連丸而瘥。又姜生，便血數年，百藥不應，面色痿黃，眼花頭眩，亦以黃連丸治之而平。</p>
<p>曹銓，因飲法酒，肛門腫痛，便秘脈實，服荊防敗毒散不應，予用黃連內疏湯而愈。</p>
<p>一男子，患痔，脈浮鼓，午後發熱作痛。以八珍湯加黃耆、柴胡、地骨皮，治之稍可。彼欲速效，用劫藥蝕之，痛甚，絕食而歿。夫瘡之潰斂，氣血使然也。脈浮鼓，日晡痛，此氣血虛也。丹溪云：瘡口不合，用大劑參、耆、朮、歸、芎補之外，以附子餅灸之，更以補藥作膏貼之。</p>
<p>一男子，年逾四十，有痔漏，大便不實。服五苓散，愈加泄瀉，飲食少思。予謂非濕毒，乃腸胃虛也，當以理中湯治之。彼不為然，仍服五苓散，愈甚。復請予，乃以理中湯及二神丸，月餘而平。</p>
<p>李逵，因痔瘡怯弱，以補中益氣湯，少加芩、連、枳殼，治之稍愈。後因怒加甚，時仲冬，脈得洪大。予謂脈不應時，此乃腎水不足，火來乘之，藥不能治，果歿於火旺之月。嘗見患痔者，腎脈不足，俱難治。</p>
<p>張刑部德弘，便血數年，舌下筋紫，午後唇下赤，胃肺脈洪。予謂大腸之脈散舌下，大腸有熱，故舌下筋紫又便血。蓋胃脈環口繞承漿，唇下即成漿也，午後陰火旺，故承漿發赤。蓋胃為本，肺為標，乃標本有熱也。遂以防風通聖散為丸，治之而愈。後每睡忽驚跳而起，不自知其故，如是者歲余。腦發一毒，焮痛，左尺脈數。此膀胱經積熱而然。以黃連消毒散，數劑少愈。次以金銀花、栝蔞、甘草節、當歸，服月餘而平。</p>
<p>劉商，有痔，肛門脫出。此濕熱下注，真氣不能升舉。診其脈果虛。遂以四君子湯加黃耆、芎、歸、蒼朮、黃柏、升麻、柴胡服之，更以五倍子煎湯薰洗。彼以為緩，乃用砒霜等毒藥飲之而歿。夫劫藥特治其末，且能伐真元，鮮不害人。慎之，慎之！</p>
<p>徐生，因痔氣血愈虛，飲食不甘，小便不禁，夜或遺精。此氣虛兼濕熱而然，非瘡故也。以補中益氣湯加山茱萸、山藥、五味子，兼還少丹，治之而愈。</p>
<p>一男子，患痔漏，膿出大便，諸藥不應，診其脈頗實。令用豬腰子一個切開，入黑牽牛末五分，線扎，以荷葉包煨熟。空心細嚼，溫鹽酒送下，數服頓退。更以托裡藥而愈。</p>
<p>一男子，年逾四十，陰囊腫痛，以熱手熨之少緩，服五苓等散不應，尺脈遲軟。此下虛寒邪所襲而然，名曰寒疝，非瘡毒也。予以蟠蔥散治之少可，更以蘆巴丸服之而平。</p>
<p>衚衕知，陝西人，年逾五十，陰囊腫痛，得熱愈甚，服蟠蔥散等藥不應，肝脈數。此囊癰也，乃肝經濕熱所致。膿已成，急針之，以龍膽瀉肝湯，脈證悉退。更以托裡滋陰藥，外搽杉木灰、紫蘇末，月餘而愈。此症雖潰盡而無害，患者審之。</p>
<p>柏道官，年六十餘，陰囊已潰，痛不可忍，腎丸露出。與龍膽瀉肝湯服之，及敷前末，不應。予意此濕氣熾盛，先以槐花酒一碗，仍以前湯，少愈。更以托裡加滋陰藥，月餘而平。設以前藥不應，加之峻劑，未有不損中氣，以致敗者也。聘士陳時用、沈汝和患此，悉用前藥而愈。</p>
<p>一婦人隱內膿水淋漓，或癢或痛，狀似蟲行，診之少陰脈滑數。此陰中有瘡也，名曰䘌，由心神煩郁，胃氣虛弱，氣血凝滯所致。與升麻、白芷、黃連、木通、當歸、川芎、白朮、茯苓、柴胡煎服，用拓腫湯薰洗，更搽蒲黃、水銀，兩月餘而愈。或有胞絡虛，風邪乘陰，血氣相搏，令氣否澀，致陰腫痛，當以菖蒲散治之，更以枳實炒熱，帛裹熨之，冷則再炒。或有子臟虛冷，氣下衝，致陰脫出，謂之下脫，或因產努力而脫者，以當歸散治之。久不愈者，以補中益氣湯，倍加升麻、柴胡升舉之。</p>
<p>一男子，尿血，陰莖作痛，服清心蓮子飲不應，服八正散愈盛。予以發灰，醋湯調服，少愈，更以斑龍丸而平。</p>

<h2>懸癰</h2>
<p>黃吏部，穀道前患毒，焮痛寒熱。此肝經濕熱而致，名曰懸癰，屬陰虛症。先以制甘草，二服頓退。再以四物加車前子、青皮、甘草節、酒製黃柏、知母，數服而消。又一弱人，莖根結核，如大豆許，勞則腫痛。先以十全大補湯去桂，加車前子、麥門冬、酒製黃柏、知母，少愈，更服制甘草漸愈，仍以四物、車前之類而消。又一患者，焮痛發熱，以龍膽瀉肝湯二劑，及制甘草四劑而潰，再用滋陰之劑而愈。若或膿未成，以蔥炒熱敷上，冷易之，隔蒜灸之，亦可。數日不消或不潰，或潰而不斂。以十全大補湯加柴胡梢為主，間服制甘草，並效。若不保守，必成漏矣。</p>
<p>一男子，年逾五十，患懸癰膿清，肝腎脈弱。此不慎酒色，濕熱壅滯也。然膿清脈弱，老年值此，何以收斂？況穀道前為任脈發源之地，肝經宗筋之所。予辭不可治，後果死。嘗治此癰，惟澗水制甘草有效。已破者，兼以十全大補湯為要法。</p>

<h2>便毒</h2>
<p>舉人凌待之，湖州人，年逾四十，患便毒，克伐太過，飲食少思，大便不實，遺精脈微。東垣云：精滑不禁，大便自利，腰腳沉重，下虛也。仲景曰：微弱之脈，主氣血俱虛也。先以六君子湯，加破故紙、肉豆蔻煎服，瀉止食進。更以十全大補湯加行經藥，十餘劑而消。</p>
<p>胡判官，患便毒，膿稀脈弱。以十全大補湯加白蘞、五味子、麥門，三十劑稍愈。更以參耆歸術膏而平。因新婚復發，聚腫堅硬，手足並冷，脈弱皮寒，飲食少思。此虛極也，仍用前藥，加桂、附，三劑稍可。彼欲速，自用連翹消毒散，瀉利不止，竟致不救。</p>
<p>京臺王文遠，年逾四十，素勞苦，患便毒，發寒熱。先以小柴胡湯加青皮，一服表症悉退；次以補中益氣湯加穿山甲，二服腫去三四；更以托裡之藥五六服，膿成刺去，旬日而斂。</p>

<h1>卷六</h1>

<h2>疳瘡（附玉莖腫及挺及出白膿）</h2>
<p>一老人，患疳，小便淋瀝，脈細體倦。此氣虛兼濕熱也。用清心蓮子飲，及補中益氣湯治之而愈。又一弱人，拗中作痛，小便淋瀝。此因火燥，下焦無血，氣不能降，而滲泄之令不行。用四物湯加黃柏、知母、茯苓、牛膝、木通，十餘貼，痛止便利。先君氣短，拗中若瘡，小便不通，制四物湯加參耆煎，吞滋腎丸而愈。蓋前證以虛為本，以病為末，益其本則末自去。設若不固元氣，專攻其病，害滋深矣。</p>
<p>王錦衣，年逾四十，素有淋，患疳瘡，焮痛倦怠，用小柴胡湯加黃連、黃柏、青皮、當歸而愈。</p>
<p>杜舉人名京，年逾三十，陰囊濕癢，莖出白物如膿，舉則急痛。此肝疝也，用龍膽瀉肝湯而愈。有陰莖腫，或縮或挺或癢，亦以此藥治之。</p>
<p>王上舍，遺精，勞苦愈甚，拗中結核。服清心蓮子飲、連翹消毒散，不應。予以八珍湯加山藥、山茱萸、遠志，十餘劑漸愈。更以茯菟丸治之，遂不復作。葉巡檢患此，云諸藥不應，盧丹谷與八味丸治之而愈。</p>

<h2>杖瘡</h2>
<p>文刑部用晦，伏闕諫南尋受杖，瘀血已散，壞肉不潰。用托裡之藥稍潰，而膿清。此血氣虛也，非大劑參耆不能補。文君亦善醫，以為恐腹滿。予強之，飲食稍思。遂加大補劑，飲食日進，肉潰膿稠而愈。嘗治江翰林，姚、王、鄭三吏部，李、陳、姜三禮部，南、吳二刑部，皆與文同事者，先散其瘀血，漸用排膿托裡之藥，俱愈。大叫號則傷氣，痛忍則傷血，此氣血之虛明矣。況脾主肌肉，脾氣受傷，飲食必減。血一冰，則肌肉不旺故必理脾，脾健肉自生。若非參、朮、歸、耆之類培養脾土，則肌肉何由以生？然又須分病人虛實，及有無瘀血停積。蓋打撲墜墮，皮肉不破，肚腹作痛者，必有瘀血在內，宜以復元活血湯攻之。老弱者，四物湯加紅花、桃仁、穿山甲補而行之。若血去多而煩躁，此血虛也，名曰亡血，以獨參湯補之。有打撲墜墮稍輕，別無瘀血等症，但是疼痛不止者，惟和血氣、調經脈，其痛自止。更以養氣血、健脾胃，無有不效。亦有痛傷胃氣作嘔，或不飲食者，以四君子湯加藿香、砂仁、當歸治之。若有瘀血，不先消散，而加補劑，則成實實之禍。設無瘀血，而妄行攻利，則致虛虛之禍。予戊辰年，公事居庸關，見覆車被傷者七人，仆地呻吟，一人未蘇。予俱令以熱童便灌之，皆得無事。予於壬申年，被重車碾傷，悶瞀良久復甦，胸滿如築，氣息不通。隨飲熱童便一碗，胸寬氣利，惟小腹作痛。吾鄉徐銀臺東濠先生，與復元活血湯一劑，便血數升許，痛腫悉退，更服養血氣藥而痊。大凡損傷，不問壯弱，及有無瘀血停積，俱宜服熱童便，以酒佐之，推陳致新，其功甚大。若脅脹，或作痛，或發熱煩躁，口乾喜冷，惟飲熱童便一甌，勝服他藥。他藥雖亦可取效，但有無瘀血，恐不能盡識，反致誤人。惟童便不動臟腑，不傷氣血，萬無一失。嘗詢諸營操軍，常有墜馬傷者，何以愈之？俱對曰：惟服熱童便即愈。此其屢試之驗，亦明矣。又凡腫痛，或傷損者，以蔥搗爛，熱置之，尤妙。</p>
<p>夏鳳，北京人，因杖瘡，臀膝通潰，膿瘀未出，時發昏憒，此膿毒內作而然也。急與開之，昏憒愈盛，此虛也。以八珍湯一服少可。數服，死肉自腐，頓取之。令用豬蹄湯洗淨，以神效當歸膏塗貼，再以十全大補湯，兩月而愈。若更投破血之藥，則危矣。大抵杖瘡一症，皆瘀血為患，宜速治療。淺者砭之，深者針之，更以活血流氣藥和之，內潰者開之，有腐肉取之，以壯胃生血藥托之，可保無虞。有傷筋骨而作痛者，以沒藥降聖丹治之。若牙關緊急，或腰背反張者，以玉真散治之，並效。</p>

<h2>火瘡</h2>
<p>馮氏子，患火瘡，驟用涼藥敷貼，更加腹脹不食。予以人參敗毒散加木通、山梔治之，外以柏葉炒為末，麻油調搽，漸愈。嘗用煮大汁上浮脂，調銀硃塗之，更效。若用涼藥，逼火毒入內，多致不救。</p>

<h2>蟲犬傷（附破傷風）</h2>
<p>陳鎰，居庸關人，蠍螫手，疼痛徹心，頃刻焮痛至腋，寒熱拘急，頭痛惡心。此邪正二氣相搏而然。以飛龍奪命丹塗患處及服止痛之藥，俱不應。乃以隔蒜灸法灸之，遂愈。予母及予，皆嘗被螫，如前灸之，痛即止。予母又嘗為蜈蚣傷指，亦用前法而愈。凡蛇毒之類所傷，依此療之，並效。本草謂蒜療瘡毒，有回生之功。有一獵戶，腿被狼咬，痛甚，治以乳香定痛散，不應。予思至陰之下，氣血凝結，藥力難達，令隔蒜灸至五十餘壯，疼痛悉去。仍以托裡藥，及膏藥貼之而愈。又王生，被鬥犬傷腿，頃間焮痛，至於翌日，牙關緊急，以玉真散治之不應。亦隔蒜灸三十餘壯而蘇，仍以玉真散及托裡消毒藥而愈。一人誤傷去小指一節，牙關緊急，腰背反張，人事不知，用玉真散、青州白丸子各一服，未應。此亦藥力不能及也。急用蒜搗爛，裹患指，以艾灸之，良久覺痛。仍以白丸子一服，及托裡散數服而愈。夫積在腸胃，尚為難療，況四肢受患，風邪所襲，遏絕經絡者。古人所制淋、潰、貼、㶸、鐮、刺等法，正為通經絡導引氣血也。</p>
<p>一男子，墜馬傷頭並臂，令蔥搗爛，炒熱罨患處，以熱手熨之，服沒藥降聖丹而愈。本草云：蔥大治傷損。</p>

<h2>腹痛</h2>
<p>楊錦衣子，十歲，腹脹痛，服消導藥不應，彼以為毒。請診，其脈右關沉伏，此食積也。河間云：食入即吐，胃脘痛，更兼身體痛難移，腹脹善噫，舌本強，得後與氣快然衰，皆脾病也。審之果因食粽得此，以白酒麴，熱酒服而愈。</p>
<p>黃恭人，腹內一塊，不時作痛，痛則人事不知，良久方蘇，諸藥不應。診其脈沈細，則非瘡毒。劉河間云：失笑散治疝氣，及婦人血氣痛欲死，並效。與一服，痛去六七，再而平。此藥治產後心痛，腹絞痛，及兒枕痛，尤妙。</p>

<h2>誤吞水蛭</h2>
<p>一男子，患腹痛，食熱則痛甚，諸藥不應。半年後，腹加腫脹，面色痿黃。診其脈不洪滑，非癰也。詢之，云：始於渴甚，俯飲澗水。予意其誤吞水蛭而然。取河泥為丸，空心用水送下百丸，果下蛭而愈。又一子，因跌溝中，腹作痛，服積驚等藥不應，亦依前症療之而愈。</p>

<h2>蟲入耳</h2>
<p>先君嘗睡間有蟲入耳，痛瞀，將生薑擦貓鼻，其尿自出，取尿滴耳內，蟲即出而愈。又有百戶張錦，謂予曰：耳內生瘡，不時作痛，痛而欲死，痛止如故。診其脈皆安靜，予謂非瘡也。話間痛忽作，予度其有蟲入耳，令回急取貓尿滴耳，果出一臭蟲，遂不復痛。或用麻油滴之，則蟲死難出。或有炒脂麻枕之，則蟲亦出。但俱不及貓尿之速也。</p>
<p>一治諸蟲傷。白礬一塊，於端午日自早曬至晚收貯。用時旋為末水調搽患處痛即止。</p>

<h2>小兒（丹瘤瘡毒瘡疥結核黃水瘡黏瘡癮疹瘭瘡痘毒腦疳肺疽腎瘡無辜疳毒）</h2>
<p>吳刑部靜之子，甫周歲，患丹毒，延及遍身如血染。予用磁鋒擊刺，遍身出黑血，以神功散塗之，查春田用大連翹飲而愈。王國戚子，未彌月，陰囊患此，如前治之而愈。金氏子，不欲刺，毒入腹而死。河間云：丹從四肢起，入腹者不治。予嘗刺毒未入腹者，無不效。</p>
<p>二三歲小兒，臂患毒焮痛，服解毒丸及搽神功散而消。嘗治便秘或煩躁，服五福化毒丹亦效。若膿成者，急刺去，用紙捻礱麻油紝瘡內，以膏藥貼之。若兒安靜，不必服藥。候有膿，取去，仍用紝貼。有小兒瘡毒不愈，或愈而復發，皆因母食炙爆辛辣，或有熱症，宜先治母熱。就於母藥中，加漏蘆煎服，兒瘡亦愈。若小兒自患前症，不能飲藥者，將藥加漏蘆，令母服之，其瘡亦愈。</p>
<p>一小兒，臂患痘毒不寧，按之復起。此膿脹痛而然也。遂刺之，以托裡而愈。有痘後肢節作腫，而色不赤，飲以金銀花散，更以生黃豆未，熱水調傅，干以水潤之自消。若傅六七日不消，膿已成，急刺之，宜服托裡藥。一周歲小兒，先於頭患瘡疥，漸至遍身，久而不愈。飲四物湯加防風、黃芩、升麻，外搽解毒散，月餘而愈。有七歲小兒，頸結二核，時發寒熱，日久不愈，以連翹丸治之而消。若患在面臂等處，尤當用此藥。若潰而不斂，宜服托裡之劑。</p>
<p>一小兒，頭面患瘡數枚，作癢出水，水利處皆潰成瘡，名曰黃水瘡也。用綠豆粉、松香為末，香油調傅，飲以荊防敗毒散而愈。</p>
<p>一小兒，頭面生瘡數枚，作癢，瘡痂積累，名曰黏瘡也。以枯白礬、黃丹末等分，麻油調搽，更飲敗毒散而愈。</p>
<p>一小兒，癮疹瘙癢，發熱不安，以消風散治之；又一小兒亦患此，咳嗽時嘔，以葛根橘皮湯，並愈。</p>
<p>一小兒，頸面胸腹患水泡數枚，清而成瘡。此風邪乘於皮膚而然也，名曰瘭瘡。飲荊防敗毒散，更以牛糞燒存性為末，傅之而愈。有瘭疽一症，為患最毒，形如粟許，大者如慄。患無常處，多在手指，潰而出血。用南星、半夏、白芷末傅之。重者見骨，或狂言煩悶。</p>
<p>一小兒，痘瘡已愈，腿上數枚變疳蝕陷。用雄黃、銅綠等分為末傅搽，兼金銀花散，數服而愈。若患遍身，用出蛾綿繭，將白礬為末，填繭內，燒礬，候汁干取出，為末，放地上，以碗蓋良久，出火毒，傅之效。</p>
<p>一小兒，痘後瘙癢，搔破成瘡，膿水淋漓。予用經霜陳茅草為末傅搽，及鋪席上，兼飲金銀花散而愈。若用綠豆、滑石末傅之亦可，但不及茅草之功為速耳。</p>
<p>一小兒，頭患白瘡，皮光且急，諸藥不應。名曰腦疳瘡，乃胎毒挾風熱而成也。服以龍膽丸，及吹蘆薈末於鼻內，兼搽解毒散而愈。若重者，髮結如穗，腦熱如火，遍身出汗，腮腫胸高，尤當服此藥。</p>
<p>一小兒，咳嗽喘逆，壯熱惡寒，皮膚如粟，鼻癢流涕，咽喉不利，頤爛吐紅，氣脹毛焦，作利，名曰肺疳。以地黃清肺飲，及化䘌丸治之而愈。</p>
<p>一小兒，眉皺多啼，嘔吐清沫，腹中作痛，肚脹筋青，唇白紫黑，肛門作癢，名曰蛔疳，以大蘆薈丸治之而愈。有蟲食脊膂，身熱黃瘦，煩溫下痢，拍背如鼓鳴，脊骨如鋸齒，十指生瘡，常齧，此脊疳也，當以前丸治之。</p>
<p>一小兒，鼻外生瘡，不時揉擦，延及兩耳，諸藥不效。以蘆薈丸服，及搽松香、綠豆末而愈。</p>
<p>一小兒，十歲，患瘡疥，久不愈，肌體羸瘦，寒熱作時，腦熱足冷，滑瀉肚痛，齦爛口臭，乾渴，爪黑麵黧。此腎疳也。服六味地黃丸，更搽解毒散而愈。</p>
<p>一小兒，項結一核，堅硬如癧，面色痿黃，飲食不甘，服托裡藥不應。此無辜疳毒也，予以蟾蜍丸治之而愈。若數服而不消，按之轉動，軟而不痛者，內有蟲如粉，宜急針去之。若不速去，則蟲隨氣走，內蝕臟腑，不治。丸用蟾蜍一二枚，夏月溝渠中取腹大不跳不鳴者。先取糞蛆一杓，置桶中，以尿浸之，桶近上令乾，使蛆不得出。卻將蟾蜍撲死，投在蛆中，任與蛆食。次以新布袋包系定，置水急處浸一宿。取出，瓦上焙為末，入麝香五分，軟飯丸如麻子大。每服二三十丸，空心米飲送下。</p>

<h2>槐花酒治驗</h2>
<p>滁州於侍御，髀𩨹患毒痛甚，服消毒藥，其勢未減。即以槐花酒一服，勢隨大退，再以托裡消毒之藥而愈。王通府，患發背，十餘日，勢危脈大。先以槐花酒二服，殺其勢退。更以敗毒散二劑，再以托裡藥數劑，漸潰。又用桑柴燃灸患處，每日灸良久，仍以膏藥貼之。灸至數次，膿潰腐脫，以托裡藥加白朮、陳皮，月餘而愈。劉太尹，發背六七日：滿背腫痛，勢甚危。與隔蒜灸百壯，飲槐花酒二碗，即睡覺。以托裡消毒藥，十去五六。令將桑枝灸患處而潰，數日而愈。大抵腫毒，非用蒜灸、槐花酒先去其勢，雖用托裡諸藥，其效未必甚速。</p>
<p>一男子，患腦疽，已十餘日，面目腫閉，頭焮如斗，脈洪數，煩躁飲冷。此膀胱濕熱所致。以黃連消毒飲二劑，次以槐花酒二碗，頓退。以指按下，腫即復起，此膿已成。於頸額肩頰，各刺一孔，膿並湧出，口目始開。更以托裡藥，加金銀花、連翹，三十餘劑而愈。</p>
<p>一上舍，肩患疽，脈數。以槐花酒，一服勢頓退。再與金銀花、黃耆、甘草，十餘服而平。槐花治濕熱之功，最為神速。若胃寒之人，不可過劑。</p>

<h2>金銀花治驗</h2>
<p>一園丁，患發背甚危。令取金銀藤五六兩，搗爛入熱酒一鍾，絞取汁，酒溫服，柤置患處，四五服而平。彼用此藥治瘡，足以養身成家，遂棄園業。諸書云：金銀花治瘡瘍，未成者即散，已成者即潰，有回生之功。</p>
<p>一男子，患腦疽，勢劇脈實，以黃連消毒散治之不應。以金銀藤二兩，水二鍾，煎一鍾，入酒半碗服之，勢去三四。再服漸退。又加黃柏、知母、栝蔞、當歸、甘草節，數劑而潰止。加黃耆、川芎、白芷、桔梗，數劑而愈。</p>
<p>一男子，患腦疽，其頭數多，痛不可忍。先服消毒藥不應，更以金銀花服之，即酣睡覺，而勢去六七。再四劑而消。又一男子，所患尤甚，亦令服之，腫痛頓退。但不能平，加以黃耆、當歸、栝蔞仁、白芷、甘草節、桔梗，數劑而愈。</p>
<p>一男子，被鬼擊，身有青痕作痛，以金銀花煎湯，飲之即愈。本草謂此藥大治五種飛屍，此其驗也。</p>
<p>忍冬酒，治癰疽發背。初發時，便當服此。不問疽發何處，或婦人乳癰，皆有奇效。如或處鄉落貧家，服此亦便且效。仍兼以麥飯石膏，及神異膏貼之，甚效。</p>
<p>忍冬藤，即金銀花，生取藤葉一把，入砂器內爛研，入白酒少許，調和稀稠得宜，塗傅四圍，中心留一口，泄其毒氣。其藤只用五兩，用木槌槌碎。生甘草節一兩。又二味入砂瓶內，以水二碗，用文武火煎至一碗，入無灰酒一碗，再煎十數沸，去柤，分為三次，溫服。柤敷患處。一日夜吃盡。如病勢重，一日夜要飲兩劑。服至大小便通利，則藥力到。沈內翰云：如無生者，用乾者，終不及生者力大而效速。此藤凌寒不調，故名忍冬草。其藤左繞，故又名左纏藤。附樹延蔓，或在園圃牆垣之上。藤方而紫，葉似薛荔而青，二月開花微香，蒂帶黃色。花初開則色白，經一二日則色黃，故又名金銀花。又名鷺鷀藤，又名金釵股，又名老翁須。在處有之。而本草中不言善治癰疽發背，而近代名人用之奇效。方書所載療癰疽發背，皆以為要藥。</p>

<h2>針法總論</h2>
<p>嘗觀上古有砭石之制，《內經》有九針之別，制雖不同，而去病之意一也。且瘡瘍一科，用針為貴。用之之際，雖雲量其潰之淺深，尤當隨其肉之厚薄。若皮薄針深，則反傷良肉，益增其潰；肉厚針淺，則膿毒不出，反益其痛。用針者可不慎哉！至於附骨疽，氣毒流注，及治經久不消，內潰不痛，宜燔針開之。若治咽喉之患，當用三稜針。若丹瘤及癰毒，四畔赤焮，疼痛如灼，宜砭石砭之，去血以泄其毒，重者減，輕者消。如洪氏室，心腹癰，膿脹悶瞀，以臥針刺之，膿出即蘇。一人患囊癰，膿熟腫脹，小便不利，幾殆。急針之，膿水大泄，氣通而愈。大抵用針之法，迎而奪之，順而取之。所謂不治已病而治未病，不治已成而治未成，正此意也。今之患者，或畏針而不用，醫者又徇患者之意而不針，遂致膿已成而不得潰，或得潰而所傷已深矣，卒之夭亡者，十常八九，亦可悲夫！</p>

<h2>灸法總論</h2>
<p>夫瘡瘍之症，有諸中必形諸外，在外者引而拔之，在內者疏而下之。灼艾之功甚大。若毒氣鬱結，瘀血凝滯，輕者或可藥散，重者藥無全功矣。河間云：痛者灸至不痛，不痛者灸至痛，毒氣自然隨火而散。東垣云：若不針烙，則毒氣無從而解，膿瘀無從而泄。過時不烙，反攻於內。陳氏云：譬如盜入人家，必開戶以逐之。是故善治毒者，必用隔蒜灸。舍是而用寒苦之劑，其壯實內有火者或可；彼怯弱氣寒者，未有不敗者也。又有毒氣沉伏，或年高氣弱，或服克伐之劑，氣益以虛，膿因不潰，必假火力以成功。如曹工部，發背已十八日，瘡頭如粟，瘡內如錐痛極，時有悶瞀，飲食不思，氣則愈虛。以大艾隔蒜灸十餘壯，尚不知，內痛不減。遂明灸二十餘壯，內痛悉去，毒氣大發，飲食漸進。更以大補藥，及桑木燃灸，瘀肉漸潰。劉貫卿，足患疔已十一日，氣弱，亦灸五十餘壯，更以托裡藥而愈。黃君，腿癰膿清，脈弱；一婦臂結一塊，已潰，俱不收斂，各灸以豆豉餅，更飲托裡藥而愈。一男子，胸腫一塊，半載不消，令明灸百壯方潰。與大補藥不斂，復灸以附子餅而愈。一男子，患發背，焮痛如灼，以隔蒜灸三十餘壯，腫痛悉退，更以托裡消毒藥而愈。一人患發背瘡，頭甚多，腫硬色紫，不甚痛，不腐潰，以艾鋪患處灸之，又以大補藥，數日死肉脫去而愈。陳工部、張兵部，患發背，已四五日，瘡頭雖小，根畔頗大，俱以隔蒜灸三十餘壯，其根內消，惟瘡頭作膿，數日而愈。余丙子年，忽噁心，大椎骨甚癢，須臾臂不能舉，神思甚倦。此夭疽危病也。急隔蒜灸之，癢愈甚。又明灸五十餘壯，癢遂止，旬日而愈。《精要》云：灸法有回生之功。信矣！大凡蒸炎，若未潰則援引郁毒，已潰者則補接陽氣，祛散寒邪，瘡口自合，其功甚大。嘗治四肢瘡瘍，氣血不足者，只以前法灸之，皆愈。疔毒甚者，尤宜灸。痛則灸至不痛，不痛則灸至痛，亦無不愈。若中虛者，不灸而服敗毒藥，則瘡毒未除，中氣先傷，未有不敗者也。李氏云：治疽之法，著艾勝於用藥。緣熱毒中隔，外內不通，不發泄則不解散。不幸患此者，適處貧居僻，一時無藥，用灸尤便。其法用大獨蒜切片，如三錢厚，貼於疽頂上，以艾炷安於蒜片上灸之，每三壯一易蒜片。若灸時作痛，要灸至不痛；不痛要灸至痛方止。大概以百壯為度，用大蒜取其毒。有力多用艾炷，取其火力透。如法灸之，瘡一發膿潰，繼以神異膏貼之，不日而安。一能使瘡不開大，二內肉不壞，三瘡口易合，見效甚神。丹溪云：惟頭為諸陽所在，聚艾壯宜小而宜少。又方：一切癰疽發背，婦人奶癰，皆可即用後法灸之，無有不愈。其法先令病人以肘憑几，豎臂腕，腰直，用篾一條，自臂腕中曲紋盡處，男左女右，貼肉量起，直至中指尖盡處為則，不量指甲。卻用竹槓一條，令一人脫衣騎定，令身正直，前後用二人扛起，令腳不到地。又令二人扶定，勿令僵仆。卻將所量臂腕篾，從其扛坐處尾骶骨盡處，直豎竹上，貼脊背量至篾盡處，則用墨點定。此只是取中，非灸穴也。卻用簿篾作一子，量病人中指節，相去兩橫紋為則，男左女右，截為一則，就前所點記處，兩邊各量開一則盡處，即是灸穴。兩穴各灸五壯或七壯，不可多灸。不問癰生何處，並用此法灸之，無不愈者。一云，可視其疽，發於左則灸左，發於右則灸右，甚則左右皆灸。蓋此二穴，心脈所過處。《素問》云：諸瘍瘡，皆屬於心。又云：營氣不從，逆於肉理，乃生癰腫。又云：心主血。心氣滯則血不行，故逆於肉理，而生癰腫。灸此穴，使心火調暢，血脈流通，即能奏效，起死回生，非常之力，屢試屢驗矣。灸圖見《外科精要》。</p>

<h2>八味丸治驗</h2>
<p>張甫，北京人，年逾三十，素怯弱，不能食冷，臂患一毒，脈虛弱。予以托裡藥治之而消，但飲食少思，或作悶，或吞酸，日漸羸瘦，參、苓等藥不應，右尺脈弱。此命門火衰，不能生土。遂以八味丸補土之原，飲食漸進而愈。予嘗病脾胃，服補劑，及針灸脾俞等穴不應，幾殆。吾鄉盧丹谷先生，令予服八味丸，飲食果進，三料而平。予兄年逾四十，貌豐氣弱，遇風則眩，勞則口舌生瘡，胸常有痰，目常赤澀；又一人，脾虛發腫，皆以八味丸而愈。王太僕，舊患脾，服此丸十八年而康。黃銀臺患脾，服此將驗，而他醫阻之，反用寒藥，遂至不救。蓋此丸用附子有功，常驗。人有不耐勞，不能食冷，或飲食作脹，大便不實，或口舌常破如瘡，服涼藥愈盛，或盜汗不止，小便頻數，腿腰無力，或咽津，或呼吸覺冷氣入腹，或陰囊濕癢，或手足冷，或面白，或黧黑，或畏寒短氣，以上諸症，皆屬虛甚，非用附子不可。夫附子一物，大辛熱，除三焦痼冷，六腑沉寒，氣味勁悍，有回陽之功。命門火衰，非此不補。性雖有毒，但炮製如法，或用甘草、防風等同炒，或童便久浸，以去其毒，復與地黃等味同用，以制其熱，潤其燥，緩其急，假其克捷之功，而駕馭其慓悍之勢，則雖久服，亦有功而無害，惟在善用之而已。若執泥有毒果有沉寒痼冷之疾，棄而不用，其能療乎？觀東垣八味丸論，則較然矣。</p>

<h2>危證</h2>
<p>郭職方名璉，背瘡潰陷，色紫舌卷，予謂下陷色紫，主陽氣脫，舌卷囊縮，肝氣絕，遂辭之。經曰：舌卷囊縮，此筋先死，庚日篤，辛日死。果至立秋日而歿。</p>
<p>一人腹患癰，膿熟開遲，脈微細。膿出後，瘡口微膿，如蟹吐沫，此內潰透膜也。予謂瘡瘍透膜，十無一生。雖以大補藥治之，亦不能救。此可為待膿自出之戒也。陸氏女，初嫁，患腰痛不腫，脈沉滑，神思倦怠。此為內發，七情之火，飲食之毒所致。以托裡藥一劑，下瘀膿升許。陳良甫云：瘡疽未潰內陷，面青唇黑者不治。果歿。楊錦衣，腳跟生瘡，如豆許，痛甚，狀似傷寒。予謂獵人被兔咬腳跟，成瘡淫蝕，為終身之疾。若人腳跟患瘡，亦終不愈，因名兔齧也。遂以還少丹、內塞散治之，稍可。次因納寵作痛，反服攻毒藥，致血氣愈弱，腿膝痿軟而死。蓋足跟乃二蹻發源之處，腎經所由之地，若瘡口不合，則蹻氣不能發生，腎氣由此而泄，故為終身之疾。況彼瘡先得於虛，復不知戒，雖大補氣血，猶恐不及，安服攻毒暴悍藥以戕賊之乎？</p>
<p>京師王大廣，年逾六十，素食厚味，頰腮患毒未潰，而肉先死，脈數無力。此胃經積毒所致。然頰腮正屬胃經，未潰肉死，則胃氣虛極，老人豈宜患此？予辭不治，果死。《內經》云：膏粱之變，足生大疔，受如持虛。</p>
<p>一男子，患背疽，肉黑陷下，請治。予謂《云經》疽者沮也，熱氣純盛，下陷肌膚，筋骨髓枯，內連五臟，故堅如牛領之皮。此精氣已竭，安用治？果死。</p>

<h1>卷七（附錄前諸卷方，並錄經驗方二十道）</h1>
<p><u>托裡溫中湯</u></p>
<p>丁香　沉香　茴香　益智仁　陳皮　木香　羌活　甘草（炙）　乾薑（炮，各一錢）　附子（炮，去皮臍，各二錢）</p>
<p>作一貼，水、姜煎服。</p>
<p><u>六君子湯</u></p>
<p>人參　白朮（炙）　茯苓（各二錢）　半夏　陳皮（各一錢）　甘草（炙，五分）</p>
<p>作一貼，薑、棗、水煎服。</p>
<p><u>內疏黃連湯</u>（一名黃連內疏湯）</p>
<p>黃連　山梔子　芍藥　當歸　薄荷（各一錢）　連翹　黃芩　甘草（各一錢）　大黃（二錢）　檳榔　桔梗（各一錢）</p>
<p>上銼，每服五錢，水煎服</p>
<p><u>十宣散</u>（又名十奇散，一名內補散。）</p>
<p>此排膿消毒之劑，瘡瘍五六日間，欲潰不潰，微作痛者，宜服之。若至旬日，或久不潰，反不作痛，脈微數，或大而無力，宜服托裡藥為主，間服此藥。</p>
<p>桔梗　人參　當歸　川芎（各一錢）　生粉草（五分）　黃耆（鹽湯浸炒，一錢）　厚朴（薑製）　白芷　防風　桂（各五分）</p>
<p>上銼，每服一兩，水煎服。</p>
<p><u>小柴胡湯</u></p>
<p>半夏（二兩半）　柴胡（半斤）　黃芩　人參　甘草（炙，各三兩）</p>
<p>每服一兩，薑、水煎服。</p>
<p><u>防風通聖散</u></p>
<p>芍藥　芒硝　滑石（煅）　川芎　當歸（酒洗）　桔梗　石膏（煅）　荊芥　麻黃（各四分半）　薄荷　大黃（煨）　山梔（焙）　白朮（焙）　連翹　甘草（炙）　防風　黃芩（焙，各八分）</p>
<p>作一劑，水、姜煎服。</p>
<p><u>荊防敗毒散</u></p>
<p>芎藭　茯苓　枳殼　前胡　柴胡　羌活　獨活　荊芥　防風（各一錢）</p>
<p>每服一兩，水煎服。</p>
<p><u>黃連解毒湯</u></p>
<p>黃芩　黃柏　黃連　山梔（各一錢半）</p>
<p>每服六錢，水煎，溫服。</p>
<p><u>四物湯</u></p>
<p>當歸（酒拌）　川芎　芍藥　生地黃（各等分）</p>
<p>每服一兩，水煎服。</p>
<p><u>大黃牡丹湯</u></p>
<p>大黃（四兩）　牡丹皮（三兩）　芒硝（二兩）　桃仁（五十個）</p>
<p>每服五錢，水煎服。</p>
<p><u>隔蒜灸法</u></p>
<p>用大蒜去皮，切三文銅錢厚，安瘡頭上，用艾壯於蒜上灸之。至三壯換蒜片，復灸。瘡痛者灸至不痛，不痛灸至痛，未成者即消。如瘡大，用蒜搗爛，攤患處，將艾鋪上燒之，蒜敗再換。</p>
<p><u>消涼飲</u></p>
<p>連翹（一兩）　山梔子　大黃　薄荷葉　黃芩（各五分）　甘草（一兩半）</p>
<p>每服一兩，水煎服。</p>
<p><u>十全大補湯</u></p>
<p>人參　肉桂　地黃（酒洗，蒸，焙）　川芎　白芍藥　茯苓　白朮　黃耆　甘草　當歸（各等分）</p>
<p>每服一兩，薑、棗、水煎，空心溫服。</p>
<p><u>八珍湯</u>（又名八物湯）</p>
<p>當歸　川芎　芍藥　熟地　人參　白朮　茯苓（各一錢）　甘草（炙，三分）</p>
<p>每服一兩，薑、棗、水煎，空心溫服。</p>
<p><u>加味十全大補湯</u></p>
<p>人參　肉桂　地黃　川芎　白芍藥　茯苓　白朮　黃耆　甘草　當歸　烏藥　香附（各等分）</p>
<p>每劑一兩，薑、棗、水煎，空心溫服。</p>
<p><u>補中益氣湯</u></p>
<p>黃耆（一錢）　甘草（炙，五分）　人參（三分，已上三味除濕）　橘皮（三分）　升麻（二分）　當歸身（二分，酒焙乾）　柴胡（三分）　白朮（二分）</p>
<p>作一貼，用水二盞，煎一盞。空心熱服。量氣虛實，斟酌加減用之。</p>
<p><u>聖愈湯</u></p>
<p>熟地黃　生地黃　川芎　人參　當歸身　黃耆（各一錢）</p>
<p>作一貼，水煎。</p>
<p><u>人參養榮湯</u></p>
<p>白芍藥（三兩）　當歸　陳皮　黃耆（蜜炙）　桂心　人參　白朮　甘草（炙，各一兩）　熟地黃　五味子　茯苓（各七錢半）　遠志（炒，去心，半兩）</p>
<p>每服一兩，水、薑、棗煎。遺精加龍骨，咳嗽加阿膠</p>
<p><u>加減八味丸</u></p>
<p>大地黃（洗，焙乾，卻用酒飯上蒸七次，焙乾，二兩）　山藥　山茱萸（去皮取肉，焙，各一兩）　厚桂（去皮，不見火，半兩）　白牡丹皮　澤瀉（水洗，切作塊，酒蒸五次，切焙）　白茯苓（去皮，焙，各八錢）　真北五味子（略炒，一兩半）</p>
<p>上為細末，煉蜜圓如梧子大。每服六十丸，五更初未言語前，用溫酒或鹽湯吞下。</p>
<p><u>遠志酒</u>（不拘多少，泔浸，洗去土，捶去心）</p>
<p>上為末。每服三錢，用酒一盞調，遲少頃，澄清飲之。以滓傅患處，治女人乳癰尤效。</p>
<p><u>黃耆建中湯</u></p>
<p>黃耆（蜜制）　肉桂（去皮，各三兩）　甘草（炙，二兩）　白芍藥（六兩）</p>
<p>每服一兩，薑、棗、水煎服。</p>
<p><u>內補黃耆湯</u></p>
<p>黃耆（炙）　麥門冬（各一兩）　熟地黃　人參　茯苓　甘草（炙，各七分）　白芍　川芎　官桂　遠志　當歸（各五分）</p>
<p>每服一兩，薑、棗、水煎服。</p>
<p><u>逍遙散</u></p>
<p>甘草（一錢）　當歸（炒）　芍藥（酒炒）　茯苓　白朮（炒）　柴胡（各二錢）</p>
<p>水一鍾，煎八分，去柤，食遠服。</p>
<p><u>柏子丸</u></p>
<p>柏子仁（四兩）　牛膝　卷柏（各五錢）　澤蘭葉　續斷（各一錢）　熟地黃（一兩五錢）</p>
<p>為末，煉蜜丸如梧子大。每服三十丸，空心米飲下。</p>
<p><u>澤蘭湯</u></p>
<p>澤蘭葉（三錢）　當歸　芍藥（各一錢五分）　甘草（五分）</p>
<p>作一貼，水煎，溫服。</p>
<p><u>連翹消毒散</u></p>
<p>連翹（一兩）　山梔子　大黃　薄荷葉　黃芩（各五錢）　甘草（一兩半）　朴硝（一錢）</p>
<p>每服一兩，水煎，溫服。</p>
<p><u>理中湯</u>（加附子，名附子理中湯。為末，蜜為丸，名附子理中丸）</p>
<p>人參　乾薑（炮）　白朮　甘草（炙）</p>
<p>每服五錢，薑、棗煎服。</p>
<p><u>二神丸</u></p>
<p>破故紙（炒，四兩）　肉豆蔻</p>
<p>上為末，大肥棗四十九枚，生薑四兩，切，同煮，棗爛去姜，取棗肉研膏，入藥，圓如梧子大。每服五十丸，鹽湯下。一方不用姜。</p>
<p><u>竹葉黃耆湯</u></p>
<p>淡竹葉（二錢）　生地黃　麥門冬（去心）　黃耆（炙）　當歸（酒洗）　川芎　甘草（炙）　黃芩（炙）　芍藥（焙）　人參　半夏（薑製）　石膏（煅，各一錢）</p>
<p>作一貼，水煎，食遠服。</p>
<p><u>黃耆六一湯</u></p>
<p>黃耆（六錢，蜜炙）　甘草（一錢，炙）</p>
<p>作一貼，水煎，食遠服。</p>
<p><u>七味白朮散</u></p>
<p>白朮　茯苓　人參（各半兩）　甘草（炙，一兩半）　木香（二錢半）　藿香（半兩）　葛根（一兩）</p>
<p>上為末，每服五錢，白湯調下。</p>
<p><u>豬蹄湯</u></p>
<p>香白芷　黃芩　赤芍藥　羌活　生甘草　當歸　露蜂房（取有蜂兒者）</p>
<p>上先將豬蹄一隻，用水數碗，熟煮，取清汁，分作二次用。每次入前藥一兩，煎十數沸，去滓，無風處淋洗，死肉惡隨而下，極效。</p>
<p><u>太乙膏</u></p>
<p>玄參　白芷　當歸　肉桂　大黃　赤芍藥　生地黃（各一兩）</p>
<p>上為咀，用麻油二斤，煎至黑，濾去查，入黃丹十二兩，再煎，滴水中成珠為度。</p>
<p><u>補真丸</u></p>
<p>肉蓯蓉（酒浸，焙）　葫蘆巴（炒）　附子（炮，去皮）　陽起石（煨）　菟絲子（淨洗，酒浸）　肉豆蔻（麵裹煨）　川烏（炮，去皮）　沉香　五味子（各五錢）　鹿茸（酒浸，焙）　巴戟（去心）　鍾乳粉（各一錢）</p>
<p>上為末，用羊腰子兩對，治如食法，蔥椒酒煮，搗爛，入酒糊丸，如梧子大。每服七十丸，空心米飲、鹽湯任下。</p>
<p><u>玄參升麻湯</u></p>
<p>玄參　赤芍藥　升麻　犀角屑　桔梗　管仲　黃芩（各一錢）　甘草（五分）</p>
<p>作一貼，水、姜煎，食後服。</p>
<p><u>犀角升麻湯</u></p>
<p>犀角（七錢半，鎊）　升麻（五錢）　防風　羌活　白芷　川芎　黃芩　白附子（各二錢半）　甘草（一錢半）</p>
<p>每服一兩，水煎熟，入犀角末服。</p>
<p><u>清胃散</u></p>
<p>生地黃（一錢，酒洗）　升麻（二錢）　牡丹皮（一錢半）　黃連　當歸（酒洗，各一錢）</p>
<p>作一貼，水煎，食遠服。</p>
<p><u>清咽利隔散</u></p>
<p>金銀花　防風　荊芥　薄荷　桔梗　黃芩　黃連（各一錢半）　山梔　連翹（各二錢半）　玄參　大黃（煨）　朴硝</p>
<p>作一貼，水煎服。</p>
<p><u>聰耳益氣湯</u></p>
<p>黃耆（一錢）　甘草（炙，五分）　人參（三分）　當歸（二分，酒焙乾）　橘皮（二分）　升麻（二分）　柴胡（三分）　白朮（二分）　菖蒲　防風　荊芥</p>
<p>作一服，水煎，空心服。</p>
<p><u>防風通氣湯</u></p>
<p>羌活　獨活（各二錢）　防風　甘草（炙）　藁本（各一錢）　川芎（五錢）　蔓荊子（三錢）</p>
<p>分二貼，水煎服。</p>
<p><u>豆豉餅</u></p>
<p>用江西豆豉為末，唾津和作餅，如錢大，厚如三文，置患處，以艾壯灸之。餅乾再用唾津和之，如瘡大，用水調，覆患處，以艾鋪上燒之。</p>
<p><u>流氣飲</u>（即十宣散加紫蘇、烏藥、枳殼、檳榔、芍藥、木香）</p>
<p><u>獨參湯</u></p>
<p>人參　作一貼，水、棗煎。徐徐服。若煎至稠厚，即為膏矣</p>
<p><u>補腎丸</u></p>
<p>巴戟（去心）　山藥　補骨脂（炒）　小茴香（炒）　牡丹皮（各五錢）　肉蓯蓉（酒洗，一兩）　枸杞子（一兩）　青鹽（二錢半，後入）</p>
<p>為末，蜜丸梧子大。每服五十丸，空心鹽湯下。</p>
<p><u>地骨皮散</u></p>
<p>人參　地骨皮　柴胡　黃耆　生地黃（各一錢半）　白茯苓　知母　石膏（炒，各一錢）</p>
<p>水、姜煎服。</p>
<p><u>金鑰匙</u></p>
<p>焰硝（一兩五錢）　硼砂（五錢）　腦子（一字）　白殭蠶（一錢，炒）　雄黃（二錢）</p>
<p>各另為末，以竹管吹入喉中，立愈，有涎吐出。內服荊防敗毒散。</p>
<p><u>必效散</u></p>
<p>南硼砂（二錢五分）　輕粉（一錢）　麝香（五分）　巴豆（五個，去皮心膜）　白檳榔（一個）　斑貓（四十個，去頭翅，同糯米炒）</p>
<p>上同研極細，取雞子二個，去黃用清，調藥，仍入殼內，以濕紙數重餬口，毋令透氣，蒸飯甑內，候飯熟取出，曝乾，研末。虛者每服半錢，實者一錢。用炒生薑酒，五更初調服，至天明惡物自下。如覺小腹作痛，便服苘麻子灰，並末藥各等分，研細，用茶清調下一錢，或益元散，其毒俱從大腸而出。胎婦勿餌。更服益氣藥數十劑，則瘡口自合，氣血自充，庶無變證矣。</p>
<p><u>散腫潰堅丸</u></p>
<p>知母（酒浸，炒）　黃柏（酒浸，炒）　栝蔞根（酒洗）　昆布　桔梗（各半兩）　廣朮　三稜（酒洗，炒）　連翹（各三錢）　升麻（六錢）　黃連　白芍藥　葛根（各三錢）　草龍膽（一兩，酒炒）　柴胡（四錢）　當歸（酒拌，三錢）　甘草（三錢）　黃芩（二錢，一半酒洗，一半生）</p>
<p>為末，蜜丸如梧子大。每服五十丸，滾湯下。</p>
<p><u>香附餅</u></p>
<p>用香附為末，酒和，量瘡大小作餅，覆患處，以熱熨斗熨之。</p>
<p><u>內塞散</u></p>
<p>附子（炮）　官桂（去皮）　赤小豆　甘草（炙）　黃耆（鹽水浸，炒）　當歸（酒洗）　茯苓　白芷　桔梗　川芎　人參　遠志（去心）　厚朴（薑製，各一兩）　防風（四錢）</p>
<p>上為末，每服二錢，空心溫酒下。</p>
<p><u>神效栝蔞散</u></p>
<p>栝蔞（大者，一個，搗）　甘草（半兩）　川當歸（半兩）　沒藥（另研）　乳香（各一錢，另研）</p>
<p>作一劑，用酒三碗，煎至二碗。分三次，食後飲。柤熱罨患處。</p>
<p><u>黃連胡粉散</u></p>
<p>黃連（二兩）　胡粉（一錢）　水銀（一兩，同粉研，令消）</p>
<p>三味相和，用皮包裹熱，挼良久，傅患處。</p>
<p><u>桃仁湯</u></p>
<p>桃仁　蘇木（各一兩）　生地黃（五錢）　虻蟲（去足翅，炒）　水蛭（各三十個，炒）</p>
<p>每服三錢，水一鍾，煎六分，空心服。</p>
<p><u>沒藥丸</u></p>
<p>當歸（一兩）　桂心　芍藥（各半兩）　桃仁（去皮尖，碎，研）　沒藥（研，各三錢）　虻蟲（去足翅，炒）　水蛭（炒，各三十個）</p>
<p>上為末，醋糊丸，梧子大。每服三五丸，空心醋湯下。</p>
<p><u>當歸丸</u></p>
<p>當歸（半兩）　大黃　桂心（各三錢）　赤芍藥　葶藶（各二錢）　人參（一錢）　甘遂（半錢）</p>
<p>煉蜜為丸，如彈子大。空心，米飲化下一丸。</p>
<p><u>當歸散</u></p>
<p>當歸　穿山甲（灰炒）　蒲黃（各半兩，炒）　辰砂（一錢）　麝香（少許）</p>
<p>為末，每服三錢，熱酒調下。如不飲酒，薄荷、醋湯亦可。</p>
<p><u>瓜子仁湯</u></p>
<p>薏苡仁（四錢）　桃仁（去皮尖）　牡丹皮　栝蔞仁（各二錢）</p>
<p>作一貼，水煎，食前服。</p>
<p><u>瀉白散</u></p>
<p>桑皮（炙）　桔梗　栝樓實　升麻　半夏　杏仁（去皮尖，炒）　地骨皮（各一錢）　甘草（五分）</p>
<p>作一貼，薑、水煎服。</p>
<p><u>神仙活命飲</u>（專治一切癰疽腫毒）</p>
<p>穿山甲（蛤粉炒黃色）　甘草節　防風　沒藥　赤芍藥　白芷（各六分）　當歸尾　皂角刺（各一錢）　乳香（一錢）　天花粉　貝母（各八錢）　金銀花（三錢）　陳皮（三錢）</p>
<p>作一服，用酒一大碗，同入瓶內，紙糊瓶口，弗令泄氣，慢火煎數沸，去柤。病在上食後服，病在下食前服。能飲酒者，服藥後再飲三杯尤好。</p>
<p>詩曰：真人妙訣世間稀，一切癰疽總可醫。消毒如同湯沃雪，化膿立見肉生肌。</p>
<p><u>蠟礬丸</u></p>
<p>白礬（一兩，明亮好者，研）　黃蠟（一兩，黃色好者，溶開，候入礬末，一方用七錢）</p>
<p>二味勻和，丸梧桐子大。每服十丸，漸加至二十丸，熟水或溫酒送下。瘡末成內消，已破即合。如服金石而至此疾者，更用礬末一兩，每服一錢，以溫酒調下。有遍身生瘡，狀如蛇頭，名曰蛇頭瘡，服此尤效。東垣、丹溪俱稱奇方。但日服百粒，方有力也。此藥能防毒氣內攻，又能護膜，不可以其輕微而忽之。一方治蛇咬，亦用白礬溶化，熱滴傷處，毒即出，痛即止。</p>
<p><u>四君子湯</u></p>
<p>人參　茯苓　白朮（各二錢）　甘草（炙，五分）</p>
<p>薑、水煎服。</p>
<p><u>人參敗毒散</u></p>
<p>人參　羌活　獨活　前胡　柴胡　枳殼　桔梗　川芎　茯苓　甘草（各錢）</p>
<p>作一貼，水煎服。</p>
<p><u>清咽消毒散</u>（即荊防敗毒散加芩、連、硝、黃）</p>
<p><u>金黃散</u></p>
<p>滑石　甘草</p>
<p>各為末，等分傅搽。</p>
<p><u>龍膽瀉肝湯</u></p>
<p>柴胡　澤瀉（各一錢）　車前子　木通（各五分）　生地黃　當歸尾（酒洗）　草龍膽（酒浸，炒黃色，各三錢）</p>
<p>作一貼，水煎，食前服。</p>
<p><u>神異膏</u></p>
<p>露蜂房（蜂兒多者，一兩）　金蛇蛻（鹽水洗淨，焙乾，半兩）　玄參（半兩）　綿黃耆（三分）　黃丹（五兩）　杏仁（去皮尖，一兩）　真麻油（一斤）　男子亂髮（洗淨，如雞子大）</p>
<p>先以玄參、杏仁、黃耆，入油煎至將黑色，方入蜂房、蛇蛻、亂髮，再煎至黑色，濾去柤，徐徐下黃丹，慢火煎，以柳枝不住手攪，滴水中不散，即成膏矣。</p>
<p><u>沖和膏</u>　治一切瘡腫，不甚焮熱，積日不消。</p>
<p>紫荊皮（炒，五兩）　獨活（去節，炒，二兩）　赤芍藥（炒，二兩）　白芷（一兩）　菖蒲（一兩）</p>
<p>上為末，蔥頭煎湯，調搽。</p>
<p><u>神功散</u></p>
<p>黃柏（炒）　川烏（炮）</p>
<p>各等分，為末，唾津調傅。</p>
<p><u>大連翹飲</u></p>
<p>連翹　瞿麥　荊芥　木通　赤芍藥　當歸　防風　柴胡　滑石　蟬蛻　甘草（炒，各一錢）　山梔　黃芩（各五分）</p>
<p>為細末，每服一二錢，滾湯調下。</p>
<p><u>通氣散</u></p>
<p>玄胡索（一兩五錢）　豬牙皂角　川芎（各一兩）　羊躑躅（二錢五分）</p>
<p>上為細末，以紙捻蘸少許，入鼻內，取嚏為效。</p>
<p><u>羌活勝濕湯</u></p>
<p>羌活（去蘆）　獨活（去蘆，各一錢）　藁本　防風（去蘆，各半錢）　川芎（二分）　甘草（炙，半錢）　蔓荊子（二分）</p>
<p>作一貼，薑、水煎服。</p>
<p><u>附子八物湯</u></p>
<p>附子（炮）　乾薑（炮）　芍藥　茯苓　人參　甘草（炙，各一錢五分）　肉桂（一錢）　白朮（二錢）</p>
<p>作一貼，水煎，食前服。</p>
<p><u>加減小續命湯</u></p>
<p>麻黃（去節）　人參　黃芩　芍藥　甘草　杏仁（去皮尖，麵炒）　防己　肉桂（各一兩半）　附子（炮，去皮臍，五錢）　川芎　防風（各一兩五錢）</p>
<p>每服一兩，薑、水煎服。</p>
<p><u>獨活寄生湯</u></p>
<p>白茯苓　杜仲　當歸（酒洗）　防風　白芍藥　人參　細辛　桂心　熟地黃　牛膝　秦艽　芎藭　桑寄生　甘草（各二兩）　獨活（三兩）</p>
<p>薑、水煎服，每服一兩。</p>
<p><u>四生散</u></p>
<p>白附子　黃耆　獨活　沙苑蒺藜　為末，各等分。每服二錢。</p>
<p>用豬腰子一個，批開，入藥，濕紙包裹，煨熟，細嚼，鹽湯下。風癬，酒下亦效。</p>
<p><u>八風散</u></p>
<p>藿香（半斤）　白芷　前胡（各一斤）　黃耆　甘草　人參（各二斤）　羌活　防風（各三斤）</p>
<p>上為末，每服四錢，薄荷煎滾湯調服。</p>
<p><u>人參荊芥散</u></p>
<p>荊芥穗　人參　桂心　生地黃　北柴胡　鱉甲（醋炙）　枳殼（麩炒）　酸棗仁（炒）　羚羊角（細銼）　白朮（各二錢四分）　川芎　當歸　防風　甘草（炙，各一錢六分）</p>
<p>分二貼，水、姜煎服。</p>
<p><u>清風散</u></p>
<p>荊芥穗　甘草（炒，各一兩）　陳皮（焙，半兩）　人參　白殭蠶（炒）　茯苓　防風　芎藭　藿香　蟬蛻（各一兩）　厚朴（半兩，薑製）　羌活（一兩）</p>
<p>上為末，每服三錢，茶清調下。瘡癬，溫酒下。</p>
<p><u>何首烏散</u></p>
<p>何首烏　防風　蒺藜　枳殼　胡麻子　天麻　殭蠶　茺蔚子（各等分）</p>
<p>每服五錢，茵陳湯調下。</p>
<p><u>神效當歸膏</u></p>
<p>當歸　黃蠟（各一兩。一方用白蠟，尤效）　麻油（四兩）</p>
<p>先將當歸入油煎至黑，濾去，入蠟溶化，即成膏矣。</p>
<p><u>乳香定痛丸</u></p>
<p>乳香　沒藥（各另研）　羌活　五靈脂　獨活（各三錢）　川芎　當歸　真綠豆粉　交趾桂川白芷　白膠香（各半兩）</p>
<p>上為末，煉蜜丸如彈子大。每服一丸，細嚼，薄荷湯送下。手足損痛，不能舉動，加草烏，用五錢，鹽湯下。</p>
<p><u>五積散</u></p>
<p>蒼朮（十二兩）　桔梗（十兩）　陳皮（六兩）　白芷　甘草（炙）　當歸　川芎（一兩半）　芍藥　半夏　茯苓（各二兩）　麻黃（去節，二兩）　乾薑（春夏兩半，冬二兩）　枳殼　桂心　厚朴（薑製，各二兩）</p>
<p>每服一兩，水、薑、棗煎，食前溫服。</p>
<p><u>舒筋湯</u></p>
<p>片子薑黃　甘草（炙）　羌活（各一錢）　當歸（酒洗）　赤芍藥　白朮　海桐皮（各二錢）</p>
<p>作一貼，薑、水煎服。</p>
<p><u>四生丸</u></p>
<p>地龍（去土）　白附子　五靈脂　草烏（去皮尖）　殭蠶（各等分）</p>
<p>上為末，用米糊丸，如梧子大。每服二十丸，茶酒任下。或作末，酒調服，亦可。</p>
<p><u>大防風湯</u></p>
<p>熟地黃（酒洗，一兩）　白朮（二兩）　羌活（一兩）　人參（二兩）　川芎　附子（炮，去皮臍，各一兩半）　防風（二兩）　甘草（炙，一兩）　牛膝（酒浸，一兩）　川當歸（酒浸，焙）　黃耆（炙）　杜仲（薑製）　白芍藥（各二兩）</p>
<p>每服一兩，水、姜煎服。</p>
<p><u>蘆薈丸</u></p>
<p>大皂角　青黛　蘆薈（研）　硃砂（另研一錢）　干蝦蟆（同皂角燒存性，一兩）　麝香（一錢）</p>
<p>上為末，蒸餅糊丸，如麻子大。每服二十丸，空心米湯下。</p>
<p><u>當歸拈痛湯</u></p>
<p>羌活（半兩）　人參　苦參（酒製）　升麻　葛根　蒼朮　甘草（炙）　黃芩（酒製）　知母（酒炒）　豬苓　茵陳葉　白朮（各二錢）　澤瀉　當歸身（各三錢）</p>
<p>每服一兩，水煎，空心並臨睡服。</p>
<p><u>清震湯</u></p>
<p>升麻　柴胡　蒼朮　黃芩（各半錢）　甘草（炙，二分）　藁本（二分）　當歸身（二分）　麻黃根　防風　豬苓（各二分）　羌活　酒黃檗（各一錢）　紅花（五分）　澤瀉（四分）</p>
<p>作一服，水煎，臨睡服。</p>
<p><u>補肝湯</u></p>
<p>黃耆（七分）　人參　葛根　白茯苓（各二分）　升麻　豬苓（各四分）　柴胡　羌活　知母　連翹　澤瀉　當歸身　防風　蒼朮　曲末　炒黃檗　陳皮（各二分）　炙甘草（半錢）</p>
<p>作一服，水煎，空心熱服。</p>
<p><u>芍藥湯</u></p>
<p>芍藥（四錢）　當歸　黃連　黃芩　官桂（各二錢）　檳榔（一錢二分）　甘草（炙，一錢）　木香（八分）　大黃（一錢二分）</p>
<p>分二貼，水煎服。如後重，加大黃。臟毒，加黃柏。</p>
<p><u>清燥湯</u></p>
<p>白朮　黃耆　黃連（各一錢）　蒼朮（一錢半）　白茯苓　當歸　陳皮（各一錢）　生地黃　人參（各七分）　神麯（炒）　豬苓　麥門冬（去心）　黃柏（酒炒）　甘草　澤瀉（各半錢）　柴胡　升麻（各三分）</p>
<p>作一服，水煎服。</p>
<p><u>黃連丸</u></p>
<p>用黃連、吳茱萸各等分，用湯漉過，罨一二日，同炒，揀出，各另為末，米糊為丸，如梧子大。每服二三錢。糞前紅，服茱萸丸。糞後紅，服黃連丸。俱酒下。</p>
<p><u>黃連逍毒散</u>（方見第二卷）</p>
<p><u>還少丹</u></p>
<p>肉蓯蓉　遠志　茴香　巴戟　枸杞子　山藥　牛膝　熟地黃　石菖蒲　杜仲　五味子　白茯苓　楮實子　山茱萸</p>
<p>另為末，各等分，用棗肉同蜜丸，如梧子大。每服五十丸，空心酒下。</p>
<p><u>蟠蔥丸</u></p>
<p>肉桂　乾薑（炮，各二兩）　蒼朮　甘草（炙，各半斤）　縮砂　丁皮　檳榔（各四兩）　蓬朮　三稜（煨）　茯苓　青皮（去白，各六兩）　延胡索（二兩）</p>
<p>為末，每五錢，蔥湯空心調服。</p>
<p><u>葫蘆巴丸</u></p>
<p>葫蘆巴（炒，一斤）　茴香（去臍，炒，十二兩）　吳茱萸（湯洗七次，炒，十兩）　川楝子（炒，一斤二兩）　大巴戟（去心，炒）　川烏（炮，去皮尖，各六兩）</p>
<p>上為末，酒糊如梧桐子大。每服十五丸，空心溫酒下，小兒茴香湯下。</p>
<p><u>拓腫湯</u></p>
<p>甘草　乾漆（各三兩）　黃芩　生地黃　當歸　川芎（各二兩）　鱉甲（五兩，炙）</p>
<p>用水數碗，煎良久，去柤，拓洗患處。</p>
<p><u>菖蒲散</u></p>
<p>菖蒲　當歸（炒，各一兩）　秦艽（三錢）　吳茱萸（兩半，制）</p>
<p>每服一兩，蔥水煎，空心服。</p>
<p><u>清心蓮子飲</u></p>
<p>黃芩（五錢）　黃耆（蜜炙）　石蓮肉（去心）　赤茯苓　人參（各七錢半）　甘草（炙）　車前子（炒）　麥門冬（去心）　地骨皮（各五錢）</p>
<p>每服一兩，水煎服。發熱加柴胡、薄荷。</p>
<p><u>斑龍丸</u></p>
<p>鹿茸（酥炙，為末）　山藥（為末）　熟地黃（酒蒸，搗膏）　柏子仁（搗膏）　菟絲子（各等分）</p>
<p>蜜丸，梧子大。每服八十丸，空心鹽湯下。</p>
<p><u>滋腎丸</u></p>
<p>肉桂（一錢半）　黃柏（一兩，酒炒，陰乾）　知母（二兩，酒浸，陰乾）</p>
<p>為末，滾湯丸如梧子大。每服八十丸，百沸湯下。</p>
<p><u>茯菟丸</u></p>
<p>菟絲子（五兩）　白茯苓（二兩）　石蓮肉（去心，三兩）　酒糊丸，梧子大。</p>
<p>每服五十丸，空心鹽湯下。</p>
<p><u>復元活血湯</u></p>
<p>柴胡（五錢）　天花粉　當歸（各二錢）　紅花　甘草（各二錢）　穿山甲（二錢，炮）　桃仁（酒浸，五十個，研如丸）　每服一兩，水煎，食前服。</p>
<p><u>沒藥降聖丹</u></p>
<p>自然銅（火煅，醋淬十次，為末，一兩）　川烏頭（炮、去臍）　骨碎補（炙）　白芍藥　沒藥（另研）　當歸（焙）　乳香（各研）　生地黃　川芎　蘇木（各一兩）</p>
<p>上為末，生薑汁與蜜和丸，每一兩作四丸。每服一丸，水酒各半盞，煎至八分，空心熱服。</p>
<p><u>乳香定痛散</u>　治諸瘡潰爛疼痛，諸藥不應，有效。</p>
<p>乳香　沒藥（各二錢）　滑石　寒水石（煅，各四錢）　冰片（一分）</p>
<p>上為細末，搽患處，痛即止。</p>
<p><u>青州白丸子</u></p>
<p>白附子（二兩）　半夏（薑製）　南星（二兩）　川烏（炮，去皮尖臍半兩）</p>
<p>上用糯米糊丸，如綠豆大。每服二十丸，生薑湯下。癱瘓，溫酒下。小兒驚風，薄荷湯下。</p>
<p><u>失笑散</u>　治證最多，詳見《婦人良方》。</p>
<p>五靈脂　蒲黃（炒，各等分）</p>
<p>上為末，每服二錢，醋湯調服。</p>
<p><u>解毒散</u></p>
<p>黃連　黃丹　松香（各五錢）　輕粉　雄黃（各一錢）</p>
<p>為末，用麻油調搽。</p>
<p><u>五福化毒丹</u></p>
<p>玄參　桔梗（各一兩半）　茯苓（二兩半）　人參　牙硝　青黛（各一兩）　甘草（七錢半）　麝香（炒）　金銀箔（各十片）</p>
<p>上為末，煉蜜丸，芡實大。每服一丸，薄荷湯化下。痘毒上攻，口齒生瘡，以生地黃汁化服，及用雞翎傅患處。</p>
<p><u>連翹丸</u></p>
<p>連翹　桑白皮　防風（去蘆）　黃柏　肉桂（去粗皮）　白頭翁　香豉　獨活　秦艽　牡丹皮（各兩半）　海藻（二錢半）</p>
<p>上為末，煉蜜丸如綠豆大。每服十丸。燈心湯下。</p>
<p><u>金銀花散</u></p>
<p>金銀花　黃耆　當歸　甘草（各等分）</p>
<p>上為細末，每服一錢，滾湯調，入酒少許服。</p>
<p><u>葛根橘皮湯</u></p>
<p>葛根　陳皮　杏仁（去皮尖）　麻黃（去節）　知母　黃芩　甘草（各等分）</p>
<p>每服二錢，水煎服。</p>
<p><u>龍膽丸</u></p>
<p>龍膽草　升麻　防風　苦楝根皮　赤茯苓　蘆薈　油發灰（各二錢）　青黛　黃連（各三錢）</p>
<p>豬膽浸糕，丸如麻子大。每服二十丸，薄荷湯下。</p>
<p><u>地黃清肺飲</u></p>
<p>桑白皮（半兩，炙）　紫蘇　前胡　防風　赤茯苓　黃芩　當歸　連翹　天門冬（去心）　桔梗　甘草　生地黃（各一錢）</p>
<p>每服三錢，水煎，食後服。次進化䘌丸。</p>
<p><u>化䘌丸</u></p>
<p>蕪荑　青黛　蘆薈　蝦蟆灰　川芎　白芷　胡黃連（各等分）</p>
<p>豬膽浸糕，丸如麻子大。每服十丸，食後並臨臥杏仁湯下。</p>
<p><u>大蘆薈丸</u></p>
<p>胡黃連　黃連　蘆薈　木香　白蕪荑　青皮　雷丸（用白者）　鶴蝨（各半兩，炒）　麝香（二錢，另研）</p>
<p>用粟米飯丸綠豆大。每服一二十丸，米飲下。</p>
<p><u>六味地黃丸</u></p>
<p>熟地黃（八錢，酒浸，搗膏）　山藥　山茱萸肉（各四錢）　牡丹皮（白者）　澤瀉　茯苓（各三錢）</p>
<p>和勻，入蜜少許，丸梧子大。每服四五十丸，空心鹽湯下。</p>
<p><u>槐花酒</u></p>
<p>用槐花四五兩，炒微黃，乘熱入酒二鍾，煎十餘滾，去柤熱服。未成者二三服，已成者一二服。胃寒者勿服。</p>
<p><u>黃連消毒飲</u>（即黃連消毒散，方見第一卷）</p>
<p><u>紫金錠</u>（一名神仙追毒丸，又名太乙丹，治一切癰疽）</p>
<p>五棓子（焙，三兩）　山慈姑（焙，二兩）　麝香（三錢，別研入）　紅牙大戟（焙，一兩半）　隨續子（去殼，去油，一兩，研入）</p>
<p>上除續子、麝香外，三味為細末，卻入研藥令勻，用糯米煮濃飲為丸，分為四十錠。每服半錠，各依後項湯使服。如治一切藥毒、蠱毒、瘴氣，吃死牛、馬、駝、騾等肉毒，發惡瘡，癰疽、發背、無名疔腫，及蛇犬惡蟲所傷，湯蕩火燒，急喉閉、纏喉風，諸般頭風、牙疼，用涼水磨搽。並治四時瘟疫，感冒風寒，暑熱悶亂，及自縊溺水，鬼迷驚死，未經隔宿，心頭微溫，並用涼水磨灌，良久復甦。男子婦人，急中顛邪鬼氣狂亂，及打撲傷損，中風中氣，口眼喎邪，牙關緊急，語言蹇澀，筋脈攣縮，骨節風腫，手腳疼痛，行履艱辛，應是風氣，並用熱酒磨服。小兒急慢驚風，八疳五痢脾病黃腫，癮疹瘡瘤，並用蜜水磨服，並搽有效。諸般瘧疾，不問新久，發日用桃柳枝煎湯磨服。</p>
<p><u>玉真散</u></p>
<p>天南星　防風（各等分）</p>
<p>上為末，每服一錢溫酒送下。患處亦當以此敷之。若牙關緊急，腰背反張者，再加一錢，用童便調服，雖內有瘀血亦愈。至於昏死，而心腹尚溫者，則連進二服，亦可保全。又能治顛狗咬傷，其法用口噙水洗淨，摻之。《衛生寶鑑》名定風散，即此是也。</p>
<p><u>奪命丹</u></p>
<p>蟾酥　輕粉（各半錢）　硃砂（三錢）　白礬（枯）　寒水石（煅）　銅綠（各一錢）　蝸牛（別研，二十一個）　沒藥　乳香　麝香（各一錢）</p>
<p>將蟾酥用酒浸化，和丸如綠豆大。每服二丸，溫酒下，蔥湯亦可。</p>
<p><u>茯苓丸</u></p>
<p>茯苓（一兩）　半夏（二兩）　枳殼（五錢）　風化朴硝（一兩）</p>
<p>薑汁糊丸，梧子大。每服二十丸，食後薑湯下。</p>
<p><u>控涎丹</u>（詳見痰食門）</p>
<p>甘遂（去心）　大戟　真白芥子（各等分）</p>
<p>糊丸，梧子大。每服五七丸，臨臥薑湯服。</p>
<p><u>制甘草法</u>（詳見《外科精要》）</p>
<p>每大甘草一兩，用澗水一碗浸透，以慢火炙乾，仍投前水浸透，再炙，炙至水乾為度。卻銼細，用無灰酒一碗，煎至七分，去柤，空心飲之。</p>
<p><u>五苓散</u></p>
<p>澤瀉（一錢二分）　桂五分　白朮　赤茯苓　豬苓（各一錢）</p>
<p>作一貼，水煎服。</p>
<p><u>忍冬酒</u>（一名金銀花，一名鷺鷀藤。詳見《外科精要》）</p>
<p>忍冬藤（生者，四五兩，如干者只用一兩，搗）　大甘草節（一兩，生用）</p>
<p>二味入砂器內，以水二碗，慢火煎至一碗，再入無灰酒一碗，再煎十餘沸，去柤飲之。柤敷患處。</p>
<p><u>回陽玉龍膏</u>　治癰腫堅硬不痛，肉色不變，久而不潰，或潰而不斂，或骨攣骨痛，及一切冷症。</p>
<p>草烏（三兩，炒）　南星（一兩，煨）　軍姜（二兩，煨）　白芷（一兩）　肉桂（半兩）　赤芍藥（一兩，炒）</p>
<p>為末，蔥湯調搽。</p>
<p><u>蛇床子散</u>　治一切風癬疥癩。</p>
<p>蛇床子　獨活　苦參　防風　荊芥　枯礬　銅綠（各一兩）</p>
<p>各另為末，麻油開搽。</p>
