<header data-type="book">
<h1>傷寒說意</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃玉璐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1754">公元1754年</data></dd></div>
<div><dt>底本</dt><dd>清李知先等鈔本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=9b143c6c35964397ba31e079f6ad7b61fDcyMTM20&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自敘</h1>
<p>言者，所以在意也。《素問》雷公曰：臣治疏愚，說意而已。仲景《傷寒》，其言奧賾，其意昭明，解言則難，說意則易，其意瞭然，其言無用矣。</p>
<p>筌所以在魚，得魚者必忘其筌。蹄所以在兔，得兔者必忘其蹄。言所以在意，得意者必忘其言。言有質文而意無質文，言有利鈍而意無利鈍，言人人殊，意人人同，是故意貴乎得而言貴乎忘。</p>
<p>昔勝書之見周公，無言而退，溫伯之見孔子，不言而出，勝書溫伯善語於無言，周公孔子善聽於無聲，何者？得其意也。其意誠得，其言不傳，雖謂其言至今傳焉可也。相如子云，古之長於立言者，而封禪之義未亡，《太玄》之旨不著，相如之言顯，子云之言隱也。使《傷寒》之書出於相如，則大傳矣，出於子云，則永亡矣。仲景拙於立言而巧於立意，《傷寒》之亡，以其言也，《傷寒》之傳，以其意也。僕傳《傷寒》，說意而已。</p>
<p>戊辰之歲，成《傷寒懸解》，庚午年春，旅寓濟南，草《傷寒說意》數篇。辛未六月，客處江都，續成全書。甲戌正月，久宦京華，不得志，復加刪定，仲景之意得矣。僕之得意，不可言也。</p>
<p>世之最難長者，得意之事，玉楸子往往於失志之中，有得意之樂。若使得志，則必失意，若使得意，則必失志。聖人無全功，造化無全能，與其得志而失意，不如得意而失志。二者不可兼，寧舍彼而取此，此中得失，不足為外人道也，此中憂樂，未易為俗人言也。</p>
<p><u>甲戌正月東萊都昌黃元御撰</u></p>

<h1>跋</h1>
<p>壬辰冬，謁張翰風夫子於陶署。語及岐黃學，夫子曰：昌邑黃坤載先生醫術，仲景而後一人也。乾隆間，四庫館中校纂諸臣知醫者寡，故其書雖已著錄而卒未大顯。子其為我訪求未刻之書以來，毅識之於心不敢忘。蓋是時夫子已刻黃氏書四五種，凡數十萬言矣。</p>
<p>次年毅設帳濟南，以語陳孝廉元圃，元圃謂其友宋君有黃氏《傷寒說意》鈔本，因定伻借觀。書未至而夫子沒，哲嗣仲遠復申夫子遺命，求黃氏之書，一為《周易懸象》，一為《四聖懸樞》，一即《傷寒說意》也。然毅既以此書寄仲遠，值夫子柩將返葬，至無以為旅資，且行李已首塗，故仲遠諄諄以改鈔相屬，毅諾之。</p>
<p>甲午春，讀《禮》之暇，率及門人李董兩生，並日繕成，復加校讎，擬即付之剞氏。蓋敬卒翰風夫子之志，而成仲遠之賢，且以彰黃氏之絕業，起世人之沉疴。而並以望夫好善之人，終能以《四聖懸樞》《周易懸象》等書見示也。</p>
<p><u>甲午三月下浣趙汝毅謹跋</u></p>

<h1>卷首</h1>

<h2>六經解</h2>
<p>天有六氣，風、熱、暑、濕、燥、寒，地有五行，木、火、土、金、水也。人感天之六氣而生六腑，故六腑為陽，感地之五行而生五臟，故五臟為陰。五臟者，肝、心、脾、肺、腎也，六腑者，膽、胃、大腸、小腸、三焦、膀胱也。臟五而腑六，《靈樞·脹論》：膻中者，心主之宮城也，是為心包，合為六臟。六臟六腑，是生十二經。經氣內根於臟腑，外絡於肢節。脾、腎、肝、膽、胃、膀胱經行於足，是為足之六經，肺、心、心包、三焦、大腸、小腸經行於手，是為手之六經。手有三陰三陽，足有三陰三陽，脾肺之經，太陰也，心腎之經，少陰也，肝與心包之經，厥陰也，膽與三焦之經，少陽也，胃與大腸之經，陽明也，膀胱小腸之經，太陽也。經有十二，六氣統之，兩經一氣，故亦曰六經，太陽與少陰為表裡，陽明與太陰為表裡，少陽與厥陰為表裡也。</p>
<p>小腸手太陽之經，起於小指之端，循手外側，上腕，出踝中，上循臂骨下廉，出肘內側，循FG臑外後廉，交肩上，入缺盆，絡心，下膈，抵胃，屬小腸，從缺盆循頸，上頰，至目內眥。</p>
<p>膀胱足太陽之經，起於目內眥，上額，交巔，下項，挾脊，抵腰中，循膂，絡腎，屬膀胱，從腰中貫臀，入膕中，貫踹內，出外踝，至小指外側。</p>
<p>大腸手陽明之經，起於次指之端，循指上廉，出合谷，循臂上廉，入肘，上肩，入缺盆，絡肺，下膈，屬大腸，從缺盆上頸，貫頰，入下齒，挾口，交人中，左之右，右之左，上挾鼻孔。</p>
<p>胃足陽明之經，起於鼻之交頞中，入上齒，挾口，環唇，下交承漿，循頤後，出大迎，上耳前，至額顱，從大迎下人迎，循喉嚨，入缺盆，下膈，屬胃，絡脾，從缺盆下乳內廉，挾臍，入氣街，抵伏兔，下臏膝，循脛外，下足跗，入大指。</p>
<p>三焦手少陽之經，起於名指之端，循手表腕，出臂外，貫肘，上肩，入缺盆，布膻中，散落心包，下膈，循屬三焦，從膻中上出缺盆，上項，系耳後，至目銳眥。</p>
<p>膽足少陽之經，起於目銳眥，下頸，合缺盆，下胸中，貫膈，絡肝，屬膽，循脅裡，出氣街，繞毛際，循髀陽，出膝外廉，下輔骨，出外踝之前，循足趺，入名指。</p>
<p>脾足太陰之經，起於大指之端，循指內側，上內踝前廉，上腨內，循脛骨後，交出厥陰之前，上膝股內前廉，入腹，屬脾，絡胃，上膈，挾咽，連舌本。</p>
<p>肺手太陰之經，起於中焦，下絡大腸，還循胃口，上膈，屬肺，從肺系橫出腋下，循臑內，行少陰、心主之前，下肘中，循臂內，入寸口，循魚際，出大指之端。</p>
<p>腎足少陰之經，起於小指之下，邪走足心，循內踝之後，入跟中，上腨內，出膕內廉，上股內後廉，貫脊，屬腎，絡膀胱，上肝膈，入肺中，循喉嚨，挾舌本，從肺出絡心，注胸中。</p>
<p>心手少陰之經，起於心中，出屬心系，下膈，絡小腸，從心系上挾咽，系目系，從心系上肺，出腋下，循臑內後廉，行太陰、心主之後，下肘內，循臂內後廉，抵掌後，循小指之內，出其端。</p>
<p>肝足厥陰之經，起於大指叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上膕內廉，循股陰，入毛中，過陰器，抵少腹，挾胃，屬肝，絡膽，上貫膈，布脅肋，循喉嚨之後，連目系，上出額，與督脈會於巔，從目系下頰，環唇內，貫膈，注肺。</p>
<p>心主手厥陰心包絡之經，起於心中，出屬心包絡，下膈，歷絡三焦，從胸出脅，下腋，循臑內，行太陰、少陰之間，入肘中，下臂，入掌中，循中指，出其端。</p>
<p>陽經在表，陰經在裡，太陽在外，皮毛之分也，次則陽明，次則少陽，次則太陰，次則少陰，次則厥陰，近於骨矣。陽經則屬腑絡臟，陰經則屬臟絡腑。足之陽經，行於股外，陰經行於股內，手之陽經，行於臂外，陰經行於臂內。陽經之次，陽明在前，少陽在中，太陽在後，陰經之次，太陰在前，厥陰在中，少陰在後。手之陰經，自胸走手，陽經自手走頭，足之陽經，自頭走足，陰經自足走胸。手三陽之走頭，足三陽之走足，皆行於頸項而會於督之大椎。手足經之分走，異道環周，太陽、少陰，行身之背，陽明、太陰，行身之前，少陽、厥陰，行身之側。是諸經之部次也。</p>
<p>經有十二，獨言足經而不言手經者，手之六經，自胸而手，自手而頭，所轄之部小，足之六經，自頭而足，自足而胸，所轄之部大，經大則氣旺，氣旺則病加也。兩經同氣，病則俱病，但手經輕清而足經重濁，病則手經輕而足經重，以足經之氣偏於重濁故也。</p>

<h2>六氣解</h2>
<p>天有六氣，初之氣，厥陰風木，二之氣，少陰君火，三之氣，少陽相火，四之氣，太陰濕土，五之氣，陽明燥金，六之氣，太陽寒水。天人同氣也，肝足厥陰之經，是為風木，心手少陰之經，是為君火，三焦手少陽之經，是為相火，脾足太陰之經，是為濕土，大腸手陽明之經，是為燥金，膀胱足太陽之經，是為寒水。經有十二，六氣統之，厥陰以風木主令，手厥陰火也，從母化氣而為風，少陰以君火主令，足少陰水也，從妻化氣而為熱，少陽以相火主令，足少陽木也，從子化氣而為暑，太陰以濕土主令，手太陰金也，從母化氣而為濕，陽明以燥金主令，足陽明土也，從子化氣而為燥，太陽以寒水主令，手太陽火也，從夫化氣而為寒。經氣對化，自然之理。</p>
<p>人之六氣，不病則不見，病則一經之氣見，或自見其令氣，或自見其本氣，或主令者而見從化之氣，或從化者而見主令之氣，視其經氣之盛衰焉。厥陰、太陰、太陽，足經主令而手經化氣者也。足厥陰，風木也，手厥陰之火，應從風化，而厥陰經病，陽虛則手厥陰化氣於風木，陽盛則手厥陰不從風化而從少陽之暑化。足太陰，濕土也，手太陰之金，應從濕化，而太陰經病，陽虛則手太陰化氣於濕土，陽盛則手太陰不從濕化而從陽明之燥化。足太陽，寒水也，手太陽之火，應從寒化，而太陽經病，陽虛則手太陽化氣於寒水，陽盛則手太陽不從寒化而從少陰之熱化。少陰、少陽、陽明，手經主令而足經化氣者也。足少陰，水也，水之氣為寒，少陰經病，陽盛則足少陰化氣於君火，陽虛則不從火化而從太陽之寒化。足少陽，木也，木之氣為風，少陽經病，陽盛則足少陽化氣於相火，陽虛則不從火化而從厥陰之風化。足陽明，土也，土之氣為濕，陽明經病，陽盛則足陽明化氣於燥金，陽虛則不從燥化而從太陰之濕化。主令者盛，則化氣者從之，化氣者盛，則主令者從之，總之不離乎本氣之虛實耳。</p>
<p>陰易盛而陽易衰，凡人之病，陰盛者多，陽盛者少。太陽之病，足太陽主令於寒水者十之六七，手太陽化氣於君火者十之二三。陽明之病，手陽明主令於燥金者十之一二，足陽明化氣於濕土者十之八九。少陽之病，手少陽主令於相火者十之三四，足少陽化氣於風木者十之六七。太陰之病，足太陰主令於濕土者不止十九，手太陰化氣乾燥金者未能十一。少陰之病，足少陰化氣於寒水者無人非是，手少陰主令於君火者千百之一。厥陰之病，足厥陰主令於風木者十之八九，手厥陰化氣於相火者十之一二。陽從陰化則易，陰從陽化則難，氣數如此，無如何也。</p>
<p>一經有一經之性情，經氣和平，彼此交濟，一經之性情不至偏見。一經病則自見其本氣，而一經之性情遂處發現，《傷寒》六經之證，六經之性情發現也。仲景為六經寫真，知六氣也，知六氣之變化，則知六經之性情矣。</p>

<h2>營衛解</h2>
<p>肺主氣，氣行皮毛則為衛，肝主血，血行經絡則為營。然肺藏衛氣，肝藏營血，而實則皆出於中焦，以氣血乃水穀之變化。中焦者，消磨水穀，變化氣血之樞軸也。《靈樞·營衛生會》：人受氣於谷，谷入於胃，以傳於肺，五臟六腑皆以受氣。其清者為營，濁者為衛，營在脈中，衛在脈外，營周不休，五十而復大會，陰陽相貫，如環無端。</p>
<p>蓋水穀之氣，有清有濁。水穀入胃，脾陽消磨，散其精華，化生氣血，內自臟腑，外達經絡。精專者，行於脈中，命之曰營，剽悍者，行於脈外，命之曰衛。營者，脈中之血，血中之氣，是謂營氣。營氣在脈，隨宗氣流行。穀精之化營氣，其大氣之摶而不行者，積於胸中，名曰宗氣。宗氣者，貫心肺而行呼吸。營氣之行，以息往來，血之流動，氣送之也。</p>
<p>平人一日一夜一萬三千五百息，一息脈六動，氣行六寸。人之經脈，六陰六陽以及任、督、兩蹺，計合一十六丈二尺。一日之中，漏下百刻，以分晝夜。二百七十息，水下二刻，氣行十六丈二尺，是謂一周。一萬三千五百息，水下百刻，脈行八百一十丈，人氣五十營於身，一日之度畢矣。</p>
<p>營氣初行，常於平旦寅時從手太陰之寸口始，以肺主氣而朝百脈也。自手之太陰陽明，注足之陽明太陰，自手之少陰太陽，注足之太陽少陰，自手之厥陰少陽，注足之少陽厥陰，終於兩蹺、督、任。周而復始，陰陽相貫，營周五十，明日寅時，又會於氣口。此營氣之度也。</p>
<p>衛氣者，不隨宗氣，而自行於脈外，晝行陽經二十五周，夜行陰臟二十五周。其行於陽也，常於平旦寅時從足太陽之睛明始，睛明在目之內眥。《靈樞·衛氣行》：平旦陰盡，陽氣出於目，目張則氣上行於頭，循項下足太陽，至小指之端。其散者，別於目銳眥，下足少陽，至名指之端。其散者，別於目內眥，循手太陽，至名指之端。別者，至耳前，合於頷脈，注足陽明，下至跗上，入中指之端。其散者，從耳下下手陽明，入次指之端。其至於足也，入足心，出內踝下，入足少陰經。陰蹺者，足少陰之別，屬於目內眥，自陰蹺而復合於目，交於足太陽之睛明，是謂一周。如是者，二十五度，日入陽盡而陰受氣矣。其入於陰也，常從足少陰之經而注於腎，腎注於心，心注於肺，肺注於肝，肝注於脾，脾復注於腎，是謂一周。如是者，二十五度，平旦陰盡而陽受氣矣。於是從腎至少陰之經，而復合於目。陰陽一日一夜，亦周五十。故少陰主內，太陽主外，衛氣至陽而起，至陰而止，出乎陽則寤，入乎陰則寐。此衛氣之度也。</p>
<p>營起於氣口，衛起於睛明，營氣之行，陰陽相間，衛氣之行，夜陰晝陽。起止不同，道路各異，非同行於一經也。</p>

<h2>風寒解</h2>
<p>風者，天地之生氣，寒者，天地之藏氣。四時之氣，春生、夏長、秋收、冬藏。木旺於春，木氣發生則風動，水旺於冬，水氣蟄藏則寒作。蓋春木司令，陽自地下東昇，風動而冰解，則生氣得政，冬水當權，陰自地上西斂，寒凝而凍合，則藏氣得政，是風乃陽氣之發揚，寒乃陰氣之翕聚，氣不同也。</p>
<p>風之中人，必由金水之外斂。金水主衛，衛性收斂，而風性發泄，衛氣不啟，泄之以風，而愈欲收斂，斂而莫達，則內閉營血，而生裡熱。寒之傷人，必因木火之外泄。木火主營，營性發泄，而寒性閉蟄，營血不秘，閉之以寒，而愈欲發泄，泄而不透，則外束衛氣，而生表寒。</p>
<p>風為春氣，三春之月，天溫日明，人血淖液而衛氣浮宣，襲之以風，不能傷也，值氣涼而竅閉，得風氣之疏泄，是以傷衛。寒為冬氣，三冬之月，天寒日陰，人血凝澀而衛氣沉藏，感之以寒，不能傷也，值氣溫而竅開，得寒氣之閉斂，是以傷營。營傷則衛郁，宜麻黃以瀉衛，衛傷則營郁，宜芍藥以瀉營，營衛發達，則表邪退矣。《素問·玉機真臟論》：風寒客於人，使人毫毛畢直，皮膚閉而為熱，當是之時，可汗而發也，桂枝、麻黃，發汗之方。</p>
<p>汗貴乎早，「陰陽應象論」：善治者，治皮毛，其次治肌膚，其次治筋脈，其次治六腑，其次治五臟，治五臟者，半死半生也。營衛感傷，在皮毛之部，桂枝、麻黃，治皮毛之方，皮毛邪散，後日之變，無由生矣。於此失治，未幾而或入陽明之腑，或入三陰之臟，於是乎治腑治臟，危證叢生，工之至下而法之至拙者也。</p>
<p>風寒，客邪也，病則不關於客氣，而視乎人身之主氣。主氣偏陽，則陽郁為熱而入腑，主氣偏陰，則陰鬱為寒而入臟，無非主氣為之也。其始感也，風寒之裹束在表，遷延日久，入陽明而傳三陰，則皆本氣之為病，非盡系風寒之力也。麻黃、桂枝，表散風寒之劑，此外則悉因主氣立法，不專表散之方矣。解風寒外感，則知氣血內傷，仲景《傷寒》立法，非第為外感之金書，而併為內傷之玉訣。內傷之人，未必盡由於外感，而外感之家，無不悉本於內傷，解此則內外同歸，主客一致，十病九全而不止也。</p>

<h2>傳經解</h2>
<p>人之經脈，自皮毛以至筋骨，不過六層，太陽在表，次為陽明，次為少陽，次為太陰，次為少陰，次為厥陰，厥陰者，經脈之在裡者也。風寒感襲，受自皮毛，故太陽先病。經氣鬱隆，不得外泄，次第內浸，相因而發，日傳一經，六日而遍。此一定之事，不以風寒溫熱而異同也。溫病內熱素積，感必盡傳，風寒之家，起於外感，不緣內傷，或有一經兩經而即已者。此本氣之旺而外感之輕，不至成病者，及其成病，則捱次遍傳。此風寒之大凡也。</p>
<p>雖遍傳六經，而未經汗解，則太陽表證，必不能罷。太陽不罷，則不拘傳至何經，凡在六日之內，總以太陽為主，寒宜麻黃，風宜桂枝，無用余方也。若在經失解，裡氣和平，則不至內傳，如裡氣非平，表郁里應，陽盛則入陽明之腑，陰盛則入三陰之臟。腑熱則宜涼瀉，臟寒則宜溫補。</p>
<p>凡人陽盛則生，陰盛則死。風寒傳臟，陰盛而滅微陽，早用溫補，固難盡生，風寒傳腑，陽盛而爍微陰，遲用涼瀉，亦或致死。較之前在營衛，逆順霄壤，此誠危急存亡之秋也。</p>
<p>仲景為六經分篇，而太陽一經，不皆表證，其間有陽盛而入腑者，有陰盛而入臟者。但病入臟腑，而經證未罷，是以屬之太陽，雖屬太陽，而內入臟腑，是皆太陽之壞病也。至於陽明之篇，則全是腑病。陽明經證，乃腑病連經，而非止經病也。三陰之篇，則全是臟病。三陰經證，乃臟病連經，而非止經病也。少陽之篇，則半是腑病，半是臟病。少陽居表陽里陰之介，陽盛則傳腑，陰盛則傳臟，故臟腑兼有。少陽經證，乃臟病腑病之連經，而非止經病也。若但是經病，則全統於太陽一經，不必另分立六經之篇也。</p>
<p>此義自仲景而後，千載無知者。郊倩程氏，比之諸家，微有一線螢光，而誤以臟腑之病為經證，因謂傷寒不傳經，謬矣。至喻嘉言輩，醉魔迷濛，其於此理，一字不解也。</p>

<h2>裡氣解</h2>
<p>風寒之傷人也，不能為寒，不能為熱，視乎人之裡氣而為變者也。裡氣和平，則腑熱不作，臟寒不動，終始在經，不能內傳，但當發散其表邪，不必用溫清補瀉之劑也。裡氣非平，而表邪外束，腑陽盛者，則陽鬱而生內熱，臟陰盛者，則陰鬱而生內寒。</p>
<p>寒熱之分途，全在乎中。太陰以濕土主令，陽明從燥金化氣，陽旺之家，則陽明司氣，胃腑生其燥熱，陰旺之家，則太陰當權，脾臟生其濕寒。濕寒者，水氣也，燥熱者，火氣也。脾以陰土而含陽氣，陽升則化火，胃以陽土而含陰精，陰降則化水。水寒而流濕，火熱而就燥，土者，水火之中氣也，故火盛則燥熱傳於戊土，水盛則濕寒傳於己土，此臟寒腑熱之所由來也。</p>
<p>然己土之性濕，庚金之性燥，濕者太陰脾土之本氣，燥者陽明胃土之子氣也，子氣不敵本氣之旺，故濕盛者多而燥盛者少。蓋水偏勝則病濕寒，火偏勝則病燥熱，而陰陽非平者，則燥易消而濕易長。緣土居水火之中，水火交蒸，但能生濕，不能生燥，則濕有日增而燥有日減，自然之事。況五行之理，水能剋火，火不能剋水，故火常敗而水常勝。此寒熱燥濕進退消長之大凡也。</p>
<p>後世庸工，悖繆不通，乃有傳經為熱、直中為寒種種胡說。千載不得解人，何可期之旦暮間也。</p>

<h1>卷一</h1>

<h2>風寒原委</h2>
<p>四時之氣，木旺於春，水旺於冬。春木發生，則陽氣敷布而為風，冬水蟄藏，則陰氣凝肅而為寒。春非無寒，究竟風多而寒少，冬非無風，究竟風少而寒多。春之有寒者，春行冬令，非春氣之正也，冬之有風者，冬行春令，非冬氣之正也。感春之風者，謂之中風，其間雖有傷寒，而不及中風之多也，感冬之寒者，謂之傷寒，其間雖有中風，而不及傷寒之多也。</p>
<p>氣血在經，是謂營衛，營行脈中，為衛之根，衛行脈外，為營之葉。平人衛氣在外而內交於營，營血在內而外交於衛，營衛調和，是以無病。衛司於肺，營司於肝，肺金下行，則生腎水，是以衛氣清降而產陰精，肝木上升，則生心火，是以營血溫升而化陽神。氣行皮毛，衛氣清降，則腠理闔，闔則中風而不傷寒，血行經絡，營血溫升，則孔竅開，開則傷寒而不中風。寒傷營者，因冬日之天溫而竅開也，風傷衛者，因春日之氣涼而竅闔也。營傷則衛病，以營血束閉其衛氣，故衛鬱而表寒。以寒性閉澀而血性發揚，血發揚而竅開，寒以收之，而愈欲發揚，發而不透，則外裹衛氣，而生表寒。衛傷則營病，以衛氣遏逼其營血，故營鬱而裡熱。以風性浮散而氣性斂肅，氣斂肅而竅闔，風以泄之，而愈欲斂肅，斂而不啟，則內遏營血，而生裡熱。風寒外襲，營衛里郁，是以病作。營衛二氣，分司於肺肝，而總統於太陽，故太陽經病，有風傷衛氣、寒傷營血之不同也。</p>
<p>風寒外感，病在經絡，經絡臟腑，實相表裡，在經失解，陽盛則傳陽明之腑，陰盛則傳太陰之臟，入臟則但寒而不熱，入腑則但熱而不寒。此其中雖緣於裡氣之不同，亦原於外邪之攸判。蓋衛氣為陽，然氣降而化水，則自陽而之陰也，陽氣之中，已胎陰魄，故營傷而衛病者非無腑熱，而下寒者居多。營血為陰，然血升而化火，是自陰而之陽也，陰血之中，已抱陽魂，故衛傷而營病者亦有臟寒，而上熱者為眾。衛司於肺，而實根於陽明，胃乃化氣之原也，陽明從燥金化氣，陽衰而入臟，臟寒則燥化而為濕。營司於肝，而實根於太陰，脾乃生血之本也，太陰以濕土主令，陰衰而入腑，腑熱則濕化而為燥。外感之病，入臟而生濕寒，來自傷寒者較多於中風，入腑而生燥熱，來自中風者較多於傷寒。究之中風原是外熱，傷寒原是外寒，而其臟腑之寒熱，終關於裡氣者居多也。</p>
<p>營衛之氣，第宜外發，不宜內陷。寒傷營者，營閉其衛，衛氣外發，則汗出而病解，風傷衛者，衛閉其營，營血外發，則汗出而病愈。腑熱則營血內陷而不外發，臟寒則衛氣內陷而不外發。故傷寒衛病，腑陽旺者多生，臟陰盛者多死，以臟陰盛則衛氣內脫，腑陽頹敗而死也，中風營病，臟陰旺者多生，腑陽盛者多死，以腑陽盛則營血內蒸，臟陰涸竭而死也。腑陽盛則衛氣不陷，設其過盛，而生內熱，一用清散，則衛發而汗出。臟陰盛則營血不陷，設其過盛，而生內寒，稍用溫散，則營發而汗出。若陰陽和平之家，營病則多外熱，外熱入腑，則宜清裡，里陽非虛，不至內寒也，衛病則多外寒，外寒入臟，則宜溫里，里陰非虛，不至內熱也。衛氣之發，賴乎陽明，衛病者，不可瀉戊土之陽氣，故胃熱盛滿，仲景有緩攻之法，營血之發，賴乎太陰，營病者，不可瀉己土之陰精，故腑熱傷陰，仲景有急下之條也。</p>
<p>中風之家，陰氣不衰，足以濟陽，則外熱雖盛而不入陽明之腑，傷寒之家，陽氣不衰，足以濟陰，則外寒雖盛，而不入太陰之臟。六日經盡，營衛郁隆，既無內陷之路，自當外發皮毛，泄而為汗，是以在經則為順。若在經失解，陽盛而入腑，陰盛而入臟，臟寒則陰勝而陽亡，腑熱則陽亢而陰亡，死不旋踵，最可慮也，是以入腑入臟則為逆。腑熱而用涼瀉，臟寒而用溫補，補瀉無差，臟寒者不無生望，腑熱者雖有危機，不至於死。死者無論矣，其生者，未為大逆，然究不如在經之為順也。</p>
<p>風寒之邪，感在經絡，經絡雖病，萬不至死。陽盛入腑，臟陰消亡，陰盛入臟，腑陽頹敗，則九死不獲一生。若臟寒已動，而腑陽未絕，足以溫其凝冱，腑熱既作，而臟陰未竭，足以潤其枯燥，則病極危劇，而不至於死。然陰陽偏盛，勻有死理，究竟陰亡而死者少，陽亡而死者多。以陰易長而陽易消，死於陽敗者不止八九，死於陰虧者未能二三。若傷寒、溫病之外，凡諸內傷雜病之門，則陰虧而死者，絕無而僅有矣。</p>

<h2>太陽經</h2>

<h3>提綱</h3>
<p>太陽以寒水主令，外在皮毛，衛護周身，為六經之綱領，故其脈浮。一被風寒，則皮毛閉塞，此經先病。其經起兩目之內眥，自頭下項，行身之背，挾脊抵腰，由外踝而走小指，風寒外束，經脈不舒，故頭項腰脊骨節疼痛。其脈連於督脈之風府，穴在頭後，其竅常開，風寒傷人，皆自風府之穴傳之太陽。肝司營血，行於經絡，肺司衛氣，行於皮毛，而皆統於太陽，風則傷衛，寒則傷營，營衛感傷，太陽所以病也。</p>

<h3>太陽中風桂枝湯證</h3>
<p>衛秉金氣，其性清肅，清肅則竅閉，閉則無汗。風以泄之，衛氣不斂，則汗出。衛以收斂為性，風愈泄而衛愈閉，閉而不開，故郁遏營血，而為內熱。風性疏泄，孔竅不秘，是以惡風。風性浮散，是以脈緩。衛司於肺，肺竅於鼻，衛郁不能外達，逆行鼻竅，則見鼻鳴。衛統於陽明，衛氣裹束，陽明不降，則生乾嘔。桂枝湯，桂枝行經脈之郁，芍藥瀉營血之熱，甘草培中，大棗補其脾精，生薑瀉其肺氣，此中風之法也。</p>
<p><u>桂枝湯</u>　一</p>
<p>桂枝（一兩）　芍藥（一兩）　甘草（七錢，炙）　生薑（一兩，切）　大棗（十二枚，劈）</p>
<p>水七杯，煎三杯，溫服一杯，飲熱稀粥一杯，覆衣取微汗。不汗，再服一杯。又不汗，盡服之。又不汗，再煎一劑，如前法。禁生冷、黏滑、肉、面、酒、酪、五辛、臭惡之物。</p>

<h3>太陽傷寒麻黃湯證</h3>
<p>營秉木氣，其性溫散，溫散則竅開，開則有汗。寒以斂之，營血不達，則無汗。營以發達為性，寒愈斂而營愈發，發而不透，故裹束衛氣，而生表寒。寒氣閉藏，衛陽郁陷，是以惡寒。寒性閉澀，是以脈緊。經氣迫束，則見體痛。胃主降濁，陽明不降，濁氣上湧，則生嘔逆。衛司於肺，肺氣阻逆，故作喘促。麻黃湯，麻黃瀉衛氣之郁，杏仁降肺氣之逆，桂枝通經，甘草培土，此傷寒之法也。</p>
<p><u>麻黃湯</u>　二</p>
<p>麻黃（一兩）　桂枝（七錢）　杏仁（七十枚，去皮尖）　甘草（七錢，炙）</p>
<p>水九杯，先煎麻黃，減二杯，去上沫，入諸藥，煎二杯，溫服大半杯，覆衣取汗，不用飲粥。余如服桂枝法。</p>

<h3>太陽風寒兩感桂麻各半湯證</h3>
<p>傷寒營閉衛郁，則生表寒，中風衛閉營郁，則生裡熱，風寒雙感，營衛俱傷，則寒熱往來，形狀如瘧。蓋寒傷營則營欲泄，泄而不透，故斂束衛氣而為寒，風傷衛則衛欲閉，閉而不開，故遏逼營血而為熱。營鬱熱發，及其衛衰而營血外乘，又束衛氣而寒來，衛郁寒生，及其營衰而衛氣外乘，又遏營血而熱來，此先中於風而後傷於寒，營衛交爭，迭為勝負之故也。若其人便調不嘔，寒熱頻發，日二三度，脈微緩者，是正氣頗旺，不久將罷，病為欲愈，無用治也。若脈浮而緊，面熱身癢，是陽為陰鬱，欲發而未能也。「仲景脈法」：寸口脈浮而緊，浮則為風，緊則為寒，風則傷衛，寒則傷營，營衛俱傷，骨節煩疼，當發其汗，宜桂枝麻黃各半湯，雙瀉營衛也。若其寒熱不頻，日僅再作，是其正氣之虛，不能頻發，而風多寒少，衛郁不盛，宜桂枝二麻黃一湯，重瀉其營而輕瀉其衛也。如其發熱作渴，脈浮而洪大者，是兼有裡熱，宜桂枝二越婢一湯，稍清其內熱也。</p>
<p><u>桂枝麻黃各半湯</u>　三</p>
<p>桂枝（五錢）　芍藥（三錢）　甘草（三錢）　生薑（三錢）　大棗（四枚）　麻黃（三錢）　杏仁（二十四枚）</p>
<p>水五杯，先煮麻黃，去上沫，入諸藥，煎杯半，溫分三服。</p>
<p><u>桂枝二麻黃一湯</u>　四</p>
<p>桂枝（五錢）　芍藥（四錢）　甘草（三錢，炙）　生薑（四錢）　大棗（五枚）　麻黃（二錢）　杏仁（十六枚，去皮尖）</p>
<p>水五杯，先煮麻黃，去上沫，入諸藥，煎二杯，溫服一杯，日再服。</p>
<p><u>桂枝二越婢一湯</u>　五</p>
<p>桂枝（二錢）　芍藥（二錢）　甘草（二錢）　生薑（三錢）　大棗（四枚）　麻黃（二錢）　石膏（二錢，碎，綿裹）</p>
<p>水五杯，煎二杯，溫服一杯。</p>

<h3>太陽風寒大青龍湯證</h3>
<p>中風，脈浮緩而有汗，傷寒，脈浮緊而無汗，若中風，脈緊身疼，發熱惡寒，無汗而煩躁者，是衛氣閉斂，風不能泄，營熱鬱遏，莫由外達，故證似傷寒，而加以煩躁。經熱不解，內傳於胸，則見燥渴。宜大青龍湯，麻黃瀉其衛郁，石膏清其肺熱，經熱清散，燥渴自止。</p>
<p>然青龍發汗，最善亡陽，必無少陰證者，而後可用。若脈微而弱，汗出惡風者，是腎陰盛而衛陽虛，風能疏泄而衛不閉斂，慎勿服此。服之汗多陽亡，遂入少陰之臟，則四肢厥逆，筋惕肉瞤。此為逆治，宜以真武湯救之。蓋四肢秉氣於脾胃，汗瀉中焦溫氣，陽亡土敗，寒水上凌，四肢失秉，故手足厥逆。水寒土濕，木鬱風動，經脈撼搖，故筋肉動惕。真武湯燥土瀉濕，溫寒水而滋風木也。真武湯在「少陰」。</p>
<p><u>大青龍湯</u>　六</p>
<p>麻黃（二兩）　桂枝（七錢）　甘草（七錢，炙）　杏仁（五十粒）　石膏（雞子大，研）　生薑（一兩）　大棗（十二枚）</p>
<p>水九杯，煎三杯，溫服一杯，取汗。不汗，再服。汗多者，溫粉粉之。汗多陽亡遂虛，惡風煩躁，不得眠也。</p>

<h3>衄血</h3>
<p>傷寒皮毛外閉，衛氣莫泄，經脈郁隆，而傍無透竅，勢必上尋出路，發於鼻孔。衛氣升騰，沖逼營血，隨而上溢，是為衄證。衄則衛泄病除，亦同汗解。但營血上溢，損傷頗重。此麻黃、青龍之證，失不早服，故至於此。將衄之時，必先脈浮頭痛，鼻燥口乾。此際早以麻黃髮表，則無衄理。若衛鬱熱盛，宜加石膏、生地，發衛氣而涼營血也。</p>

<h3>太陽傷寒小青龍湯證</h3>
<p>太陽表證不解，陽虛之人，積水鬱動，或熱渴飲冷，新水不消，乘表邪外束，氾濫逆行，客居心下，阻陰陽交濟之路，致令胃氣上逆，而為嘔噫，肺氣上逆，而為咳喘，膽火上逆，而為燥渴，土濕木賊，而為泄利，土濕木鬱，而少腹脹滿，小便不利。里水外寒，纏綿不解，是為異日內傳三陰之根。小青龍湯，麻、桂，發汗以瀉積水，半夏降逆而止嘔噫，薑、辛、五味，下氣而平咳喘也。</p>
<p><u>小青龍湯</u>　七</p>
<p>麻黃（一兩）　桂枝（一兩）　甘草（七錢）　芍藥（一兩）　半夏（一兩）　細辛（一兩）　乾薑（七錢）　五味（一兩五錢）</p>
<p>水十杯，煎三杯，溫服一杯，覆衣。若微利者，去麻黃，加芫花如雞子大，熬令赤色。若渴者，去半夏，加栝蔞根一兩。若噫者，去麻黃，加附子一枚，炮。若小便不利，少腹滿者，去麻黃，加茯苓一兩四錢。若喘者，去麻黃，加杏仁二兩八錢，去皮尖。</p>

<h3>太陽風寒白虎湯證</h3>
<p>太陽經病，而兼內熱，是大青龍證。經病已解，內熱未清，肺津消耗，續成燥渴，宜白虎湯，知母、石膏，清其肺金，甘草、粳米，培其脾土。</p>
<p>蓋辛金化氣於濕土，戊土化氣於燥金，太陰旺則辛金化氣而為濕，陽明旺則戊土化氣而為燥，燥勝其濕，則辛金亦化而為燥，濕勝其燥，則庚金亦化而為濕。陽明承氣湯證，是庚金主令而戊土化氣，兩腑俱燥者，如此則己土亦且化燥，辛金必不化濕，辛金一燥，定生燥渴，然則太陽白虎證，即陽明承氣證之初氣也。此宜白虎，早清金燥，莫使燥氣傳腑，致用承氣。若氣虛者，宜白虎加人參湯，保其中氣，恐其寒中而陽敗也。</p>
<p><u>白虎湯</u>　八</p>
<p>石膏（五兩，研）　知母（二兩）　甘草（七錢）　粳米（二兩）</p>
<p>水十杯，煮米熟湯成，溫服一杯，日三服。</p>
<p><u>白虎加人參湯</u>　九</p>
<p>石膏（五兩，研）　知母（二兩）　甘草（七錢）　粳米（二兩）　人參（一兩）</p>
<p>水十杯，煮米熟湯成，溫服一杯，日三服。</p>
<p>大青龍乃中風之方，白虎乃傷寒之方，表病不同，而里證則同。傷寒衛郁之病，而衛氣化於胃土，胃陽不足，則傳脾臟，而病寒濕者，較多於中風，而內熱渴燥者頗稀，中風營郁之病，而營血化於脾土，脾陰不足，則傳胃腑，而病燥熱者，較多於傷寒，而脈緊無汗者頗少，是青龍之麻黃，究為傷寒所宜，白虎之石膏，究為中風所宜。然中風非無青龍證，故大青龍湯舉中風以立法，而概傷寒，傷寒非無白虎證，故白虎湯舉傷寒以立法，而概中風。其實，青龍、白虎，乃風寒共用之方，但須識得中風而有青龍證，傷寒而有白虎證，則仲景心法，此日猶傳矣。</p>

<h3>太陽傷寒五苓散證</h3>
<p>太陽經病不解，或陽虛之人，宿水鬱動，或熱渴飲冷，新水不消，水邪阻隔，相火不降，煩渴思飲，而以水投水，莫能容受，入口則吐，名為水逆。是為表裡不解，宜五苓散，桂枝外通其經，白朮、苓、澤，內瀉其水也。</p>
<p>膀胱者，津液之府，水道藏焉，氣化則能出。蓋水入於胃，脾陽蒸動，化為霧氣，以歸於肺，肺氣清降，化為雨露，而歸膀胱，所謂氣化也。而水之化氣，氣之化水，全緣土燥，土濕不能蒸水化氣，注積臟腑，一遇表邪外束，氾濫逆行，是名水逆。五苓燥土瀉水，通經發汗，多飲暖水助之，使積水化氣，泄於汗孔，表裡雙解，此後水飲氣升露降，而歸水府，不至嘔吐矣。若傷寒汗出而渴者，亦用此方，以汗後陽泄濕動，相火逆升，而刑肺金，故作渴燥也。若汗出而不渴者，濕氣稍輕，茯苓甘草湯主之。</p>
<p>凡太陽中風，理應發表者，若以冷水噀灌，致令汗孔閉塞，煩熱彌增。衛氣欲發，鬱於孔竅，不能透泄，因而皮膚粟起。其相火上逆，意欲飲水，而內無燥熱，其實不渴。是緣表邪之外束而水氣之內作也。輕者用文蛤散，重者必用五苓瀉水。如水濕上泛，寒實結胸，內無熱證，宜用三物小陷胸湯，破其凝結。重者，小陷胸湯不能奏效，二白散亦可服也。小陷胸湯在「結胸」。</p>
<p><u>五苓散</u>　十</p>
<p>茯苓（二錢四分）　豬苓（二錢四分，去皮）　澤瀉（四錢）　白朮（二錢四分）　桂枝（一錢七分）</p>
<p>為末，白飲和服一湯匙。多飲暖水，汗出愈。</p>
<p><u>茯苓甘草湯</u>　十一</p>
<p>茯苓（七錢）　桂枝（七錢）　生薑（七錢）　甘草（三錢，炙）</p>
<p>水四杯，煎二杯，溫分三服。</p>
<p><u>文蛤散</u>　十二</p>
<p>文蛤（一兩七錢）</p>
<p>為末，沸湯半杯，合服一湯匙。</p>
<p><u>二白散</u>　十三</p>
<p>桔梗（三分）　貝母（三分）　巴豆（一分，去皮心膜，煮，研如脂）</p>
<p>二物為末，入巴豆，臼中搗勻，白飲和服，強人半錢，羸者減之。在膈上必吐，在膈下必利。不利，食熱粥一杯。利下不止，食冷粥一杯。身熱，皮粟不解，欲引衣自覆者，或以冷水噀灌，閉其皮毛，熱增無汗，彌生躁煩者，水氣一升，必生寒結，宜用此方。若汗出而腹痛者，血亡而木燥也，加芍藥一兩，清其風木。</p>

<h3>太陽風寒抵當湯證</h3>
<p>太陽表寒不解，經熱內傳，結於膀胱。膀胱者，太陽之腑，經腑合邪，熱結血分，則其人如狂，以心主血而藏神，血熱則神亂也。其結血自下者愈，結血不下，必須攻之。若經證未解，不可攻也，攻之恐衛氣內陷，當先解其表，表解後，但覺少腹急結者，乃可攻之，宜桃核承氣湯，破其結血。</p>
<p>如日久病重，身黃而脈沉結，其人發狂者，此熱在下焦，少腹必當硬滿。其血海結燥，桃核承氣不勝其任，非抵當湯不能開。須驗其小便，小便不利者，是膀胱濕熱，非血證也，若小便自利，則血證無疑。宜抵當湯、丸，相其緩急治之，少腹石硬者，用湯，滿而不硬者，當用丸藥緩攻也。</p>
<p><u>桃核承氣湯</u>　十四</p>
<p>桃仁（五十枚，去皮尖）　大黃（一兩四錢）　芒硝（七錢）　甘草（七錢，炙）　桂枝（七錢，去皮）</p>
<p>水七杯，煎二杯半，去渣，入芒硝，微沸，溫服半杯，日三服。當微利。</p>
<p><u>抵當湯</u>　十五</p>
<p>水蛭（三十枚，熬）　虻蟲（三十枚，去足翅）　桃仁（三十粒，去皮尖）　大黃（一兩，酒浸）</p>
<p>共為末，水五杯，煎三杯，溫服一杯。不下，再服。</p>
<p><u>抵當丸</u>　十六</p>
<p>水蛭（二十枚）　虻蟲（二十五枚）　桃仁（二十五枚）　大黃（一兩）</p>
<p>共為末，和，分四丸，水一杯，煎一丸，至大半杯服之。晬時當下血。不下，再服。</p>

<h3>太陽傳經</h3>
<p>太陽經外在皮毛，感冒風寒，皮毛閉塞，營衛郁遏，不得外發，自當內傳，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰。六經既遍，若臟寒不生，腑熱不作，營衛無內陷之路，勢必外發皮毛，泄而為汗。</p>
<p>其感之重者，六日經盡表解，而病不遽除。中風之家，營鬱熱盛，多有六日表解之後，餘熱未消，猶不霍然。俟至十二日，經熱全消，而後悉愈。甚者經盡表解，又必再經。</p>
<p>凡汗解之後，頭痛又作，是病復而欲再傳也。以經熱未清，但遇一切風寒、飲食、喜怒、勞倦，營衛一郁，餘熱即發。陽莫盛於陽明，是宜清陽明以瀉經熱也。</p>
<p>六七日中，經盡汗解，是裡氣之平者，裡氣非平，陽盛則入腑，陰盛則入臟。傳無定期，解無定日，視其臟腑寒熱，郁動之早晚也。</p>
<p>凡太陽病，頗欲作嘔，或躁煩不寧，脈候急數，此腑陽素旺，因表鬱而內發，必將傳裡。若二三日不見陽明、少陽證，脈又安靜，而不急數，則不至傳腑。入臟之脈證，反此推之。臟腑有傳有不傳，經無不傳之理也。</p>

<h1>卷二</h1>

<h2>太陽經壞病</h2>

<h3>提綱</h3>
<p>太陽經病，風用桂枝，寒用麻黃，風寒雙感，用桂麻各半。中風而火鬱，用大青龍，傷寒而水鬱，用小青龍。表解而內燥，用白虎，表解而里濕，用五苓。表退而熱結血分，用桃核承氣、抵當湯丸。治之不誤，則經邪汗解，必無壞事。</p>
<p>若太陽病三日，經發汗吐下溫針諸法，仍然不解，此非入陽明之腑，即入三陰之臟，是為太陽壞病。是緣汗下補瀉，治法錯誤而然。</p>
<p>蓋陽盛而亡其陰，則入於腑，陰盛而亡其陽，則入於臟，雖太陽表證未解，然不可作太陽病治。相其脈證，知其所犯何逆，隨證治之也。</p>

<h3>太陽壞病入陽明腑證</h3>

<h4>汗下後脈浮</h4>
<p>太陽經病，陽盛亡陰，則入陽明胃腑，中風之家，營熱內郁，多傳陽明之腑，其脈浮者，則病在表而宜汗。汗之不愈者，汗未透也，其脈必猶浮，雖內有下證，必當先解其外。醫見汗之不愈，遽用下藥，不知浮脈猶存，表證未解，病必不愈。此仍當解外乃愈，宜桂枝湯，解其表邪也。（方在「太陽」）</p>

<h4>汗下後小便不利</h4>
<p>汗下後小便不利者，亡津液也，津液續復，必當自愈。重者用潤燥養津之法，人參白虎（方在「太陽」）、竹葉石膏（方在「傷寒類證」）俱可。</p>

<h4>汗下後汗出發喘</h4>
<p>中風汗下之後，外無大熱，汗出而喘者，此表邪未解，營衛郁遏，肺氣阻逆而不降也。不可再用桂枝，宜麻杏石甘湯，瀉熱而降逆也。</p>
<p>喘有寒熱不同，汗后里熱未清，或生外煩，因以冷水澆之，冀除其熱，皮毛寒閉，郁其內熱作喘，此熱喘也。汗後陽虛津涸，或生渴燥，因而飲冷不消，隔其肺氣作喘，此寒喘也。</p>
<p><u>麻黃杏仁甘草石膏湯</u>　十七</p>
<p>麻黃（一兩四錢）　杏仁（五十枚）　甘草（七錢）　石膏（二兩八錢）</p>
<p>水七杯，煎二杯，溫服一杯。</p>

<h4>汗下後煩渴</h4>
<p>服桂枝湯，大汗出後，煩渴不解，脈又洪大者，汗亡津液也。津液雖耗，而汗泄陽虛，宜人參白虎（方在「太陽」），滋其枯燥。凡吐下之後，七八日不解，發熱惡風，舌燥心煩，大渴飲冷，欲得數碗而後快者，概宜人參白虎也。</p>

<h4>汗下後昏冒</h4>
<p>凡汗下之後，陽氣既泄，陰液亦亡，陽氣內陷，而陰氣外束，因生昏冒。冒家汗出則愈，緣皮毛既開，陽氣外達，故神明慧爽。若汗出表和，而燥熱內郁，裡氣未和，然後下之。</p>

<h4>汗後惡熱</h4>
<p>陽虛之人，汗則亡陽，陰虛之人，汗則亡陰。汗後惡寒者，陽亡而表虛也，不惡寒而惡熱者，陰亡而裡實也，宜早以調胃承氣，清其裡熱也。（方在「陽明」）</p>

<h4>火劫亡陰</h4>
<p>風家營郁發熱，宜涼營發表，瀉其淫蒸。若以火劫發汗，風火合邪，逼蒸營血，其身必病發黃。陽盛於上，則營血必衄。陰虛於下，則小便為難。陰分陽分之津俱竭，則皮膚枯燥不潤。熱無泄路，熏蒸頭上為汗，頸下全無。胃氣鬱遏而腹滿。肺氣阻逆而作喘，口乾咽爛，或大便不行。久而譫妄不明，甚至噁心嘔噦，手足躁擾，捻衣摸床，此其昏迷煩亂，陽亢極矣。若小便利者，水源未竭，尚可救藥。</p>
<p>營生於太陰，太陰濕土，一得熱氣鬱蒸，必發黃色。宜瀉熱而滲濕，用豬苓湯加石膏、知母、生地、丹皮，濕熱退而陰氣復，可以生也。</p>

<h4>火熨亡陰</h4>
<p>太陽病二日，方傳陽明之經，遽見煩躁，是胃陽素盛，將欲入腑。不知者見其煩躁，以為陽郁欲汗，反熨其背，以發大汗。火氣入胃，水竭土燥，煩躁愈加。燥熱熏心，必發譫語。火氣升騰，所熨之汗，但見上焦，從腰以下絕無。大便乾硬，小便不利，上熱欲嘔而足下厥冷，反惡風寒，以其火升而不降也。其燥火鬱蒸，微陰內敗，陰絕則死，陰復則生。</p>
<p>若十餘日間，忽戰搖振慄而自下利者，此欲解也。蓋陽氣欲發，而微陰外束，不能遽發，是以振慄。陽氣一發，則陰復而利下，胃熱後瀉，是以解也。利下之後，忽覺頭痛足熱，則中脘鬱火，上下通達，穀氣四周，霍然愈矣。</p>

<h4>火逆傷血</h4>
<p>風家營鬱熱發，而熱未入腑，其脈必浮，脈浮便宜汗解。若以火灸之，熱因火盛，以致血海瘀結，腰下重痹，此名火逆。凡被火熏，不得汗出，必生煩躁。經盡不能汗解，傷其厥陰之經，則病下血，此名火邪。脈浮發熱，此是陽氣之實，實證而以虛治，誤用灸法，熱因火盛，必動其血，非從便下，則自口出也。</p>
<p>大抵微數之脈，皆陰虛血熱，慎不可灸。灸之火氣燔爍，微陰傷敗，焦骨傷筋，血燥難復。一火之力雖微，內攻之害甚大也。</p>

<h3>太陽壞病入太陰臟證</h3>

<h4>汗後發渴</h4>
<p>太陽經病，陰盛陽亡，則入太陰脾臟。如大汗之後，亡其胃津，以致土燥生煩，不得眠臥，時欲飲水者，此將成人參白虎證，宜少少與水，滋其土燥，令胃氣調和則愈。以在大汗之後，陽氣新虛，恐飲冷多而土敗也。若燥熱大作，少水不救盛火，則用白虎（方在「太陽」）。若汗後脈浮，小便不利，熱微消渴者，則是陽虛濕動，宜用五苓。蓋脾土濕陷，木鬱生風，津亡燥動，是以消渴。疏泄不行，故小便不利。五苓燥土濕而達木鬱，通經解表，是良法也。汗泄陽虛，陰濕易動，凡脈候浮數，口渴心煩，而所飲不多，多便不受，即是五苓證，勿服白虎也（方在「太陽」）。</p>

<h4>汗後亡陽</h4>
<p>傷寒本當發汗，若使脈浮自汗，溺數心煩，惡寒不甚，腳攣不伸，此是陽明證，不宜發汗。自汗者，腑熱外蒸，小便數者，大便必硬，心煩者，燥土上熏，寒微者，惡寒將罷，腳攣者，木燥筋縮，此宜調胃承氣（方在「陽明」）。醫以脈浮自汗，病象中風，反與桂枝湯加附子而增桂枝，令其大汗亡陽，以致厥逆咽乾，煩躁吐逆，胃燥腸結，譫語不清。不知寸口浮大，是陽明之腑證，非太陽之表寒，桂附瀉汗亡陽，熱減而燥加，火升而胃逆。宜甘草乾薑湯，溫中回陽，而降逆氣，再以芍藥甘草湯，滋木榮筋，伸其兩腳攣急，後以調胃承氣（方在「陽明」），下其結糞，以止譫語，諸證全瘳矣。</p>
<p>若桂附發汗後，不用姜甘回陽，而重發其汗，或加燒針，大亡其陽，當用四逆湯，以溫水土（方在「太陰」），姜甘無濟矣。</p>
<p><u>甘草乾薑湯</u>　十八</p>
<p>甘草（一兩四錢）　乾薑（一兩四錢）</p>
<p>水四杯，煎杯半，溫分再服。</p>
<p><u>芍藥甘草湯</u>　十九</p>
<p>芍藥（一兩四錢）　甘草（一兩四錢）</p>
<p>水五杯，煎杯半，分溫再服。</p>

<h4>汗後吐泄</h4>
<p>汗後水藥不得入口，是陽敗而胃逆。若再發其汗，則脾氣亦陷，必吐泄皆作。陽敗胃逆，而生嘔吐，脈多浮數，證多煩躁。庸工率謂火盛，不知陽氣升泄，客熱在胸，腹中虛冷，水穀不消，所以嘔也。</p>

<h4>吐後煩吐</h4>
<p>太陽經病，當發熱惡寒，吐後不惡寒而欲去衣被，此吐傷胃氣，陽升而內煩也。若既不惡寒，又不發熱，關脈細數者，亦吐傷胃氣也。緣其胃陽素虛，本不堪吐，病一二日而吐之者，陽升胃逆，腹中飢餒，口不能食，病三四日而吐之者，陽升火泄，不喜熱粥，欲食冷食，冷食入腹不消，朝食暮吐，此皆火土雙敗之故。然吐雖逆治，而無大害，俟其胃陽續復，或以藥餌溫胃降逆，則嘔吐立止，非如汗下亡陽之劇也。</p>

<h4>下後泄利身疼</h4>
<p>傷寒陽虛胃弱，醫誤下之，續得泄利不止，而身仍疼痛者，此裡氣敗而表未解。急當先救其里，陽回泄止，然後發表散寒，除其疼痛。救里宜四逆湯（方在「太陰」），救表宜桂枝湯（方在「太陽」），此定法也。</p>

<h4>下後身痛脈遲</h4>
<p>汗泄血中溫氣，陽虛木陷，而脈沉遲，經脈凝澀，而身疼痛。宜桂枝湯，甘、棗培土，桂枝達木，加芍藥以清風木，加生薑以通經絡，加人參以益肝脾溫氣，補宣經脈也。</p>
<p><u>新加湯</u>　二十</p>
<p>桂枝（一兩）　甘草（七錢）　大棗（十二枚）　芍藥（一兩四錢）　生薑（一兩四錢）　人參（一兩）</p>
<p>於桂枝湯內加芍藥、生薑各三錢五分，人參一兩，余依原方。</p>

<h4>下後泄利喘汗</h4>
<p>中風，桂枝湯證，醫反下之，敗其中氣，以致泄利不止。若其脈促者，是表證未解。仲景「脈法」：脈來數，時一止復來者，名曰促。蓋下后里虛，表陽內陷，為里陰所格，不得下行，表裡束迫，故見促象。若喘而汗出者，是胃逆肺壅，郁生上熱，蒸其皮毛也。里宜四逆，表宜桂枝，而膈熱壅阻，二方難用，宜葛根黃連黃芩湯，達胃鬱而清上熱，然後議溫未晚也。</p>
<p><u>葛根黃連黃芩湯</u>　二十一</p>
<p>葛根（二兩八錢）　黃連（三錢五分）　黃芩（七錢）　甘草（七錢）</p>
<p>水八杯，先煮葛根，減二杯，入諸藥，煎二杯，分溫再服。</p>

<h4>下後胸滿發喘</h4>
<p>太陽病，下後胸滿者，胃敗而氣逆也。胃氣上逆，濁陰不降，肺氣壅塞，是以胸滿。若兼脈促，則表證未解。宜桂枝去芍藥之酸寒，以解表邪。若微惡寒者，則腎陽亦敗，不止脾陽之虛，宜桂枝去芍藥加附子湯，溫其腎水也。若微喘者，亦胃氣之上逆也，胃逆而肺氣鬱阻，是以發喘，此較胸滿頗重，當瀉其逆氣，宜桂枝加厚朴杏子湯，瀉肺而降逆也。凡喘家用桂枝湯，必加厚朴、杏仁，利其壅塞，下其沖逆，此定法也。</p>
<p><u>桂枝去芍藥湯</u>　二十二</p>
<p>桂枝（一兩）　甘草（七錢）　生薑（一兩）　大棗（十二枚）</p>
<p>水五杯，煎二杯，溫服一杯。</p>
<p><u>桂枝去芍藥加附子湯</u>　二十三</p>
<p>桂枝（一兩）　甘草（七錢）　生薑（一兩）　大棗（十二枚）　附子（一枚，炮，去皮臍，破八片）</p>
<p>水七杯，煎二杯，溫服一杯。</p>
<p><u>桂枝加厚朴杏子湯</u>　二十四</p>
<p>桂枝（一兩）　芍藥（七錢）　甘草（七錢）　生薑（一兩）　大棗（十二枚）　厚朴（七錢，炒）　杏子（五十粒）</p>
<p>水七杯，煎二杯，溫服一杯。</p>

<h4>汗下後心下滿痛小便不利腹滿心煩</h4>
<p>太陽病，服桂枝未解，因復下之，致心下滿而微痛，小便不利，此下傷中氣，陽敗濕生，膽胃上逆而肝脾下陷也。而表證未解，依然頭項強痛，發熱無汗。是雖以表邪之外束，而實緣裡氣之內郁，宜桂枝湯去桂枝之發表，加茯苓、白朮，去濕而燥土也。心下滿者，腹滿之漸也，若發汗後，腹脹滿者，陽泄土敗，而濁陰上逆也，宜厚朴生薑甘草半夏人參湯，補中而降濁也。若下後腹滿，加以心煩，臥起不安者，濁陰上逆，肺氣堙郁，化生敗濁，陽阻而生上熱也，宜梔子厚朴湯，清熱而吐瘀濁，降逆而瀉脹滿也。</p>
<p><u>桂枝去桂加茯苓白朮湯</u>　二十五</p>
<p>芍藥（七錢）　甘草（七錢）　生薑（一兩）　大棗（十二枚）　茯苓（一兩）　白朮（一兩，炒）</p>
<p>水八杯，煎三杯，溫分三服。小便利則愈。</p>
<p><u>厚朴生薑甘草半夏人參湯</u>　二十六</p>
<p>厚朴（五兩六錢，炙）　生薑（二兩五錢）　甘草（七錢）　半夏（二兩五錢）　人參（三錢五分）</p>
<p>水十杯，煎三杯，溫服一杯，日三服。</p>
<p><u>梔子厚朴湯</u>　二十七</p>
<p>梔子（十四枚，劈）　厚朴（一兩四錢，姜炙）　枳實（四枚，水浸，去穰，炒）</p>
<p>水三杯，煎一杯半，分二服，溫進一服。得吐者，止後服。</p>

<h4>汗吐下後心煩</h4>
<p>下後外熱不退，心微煩者，土敗中寒，濁陰上湧，陽格而生外熱，宜梔子乾薑湯，溫中清上而吐瘀濁也。若或下或汗後，心煩身熱，胸中窒塞者，是敗腐阻其肺氣，痞鬱而生上熱，宜梔子豉湯，湧吐其敗濁也。凡或汗或吐或下後，虛煩不得眠睡，甚而反覆顛倒，心中懊憹無奈者，皆緣肺氣壅遏，敗濁堙塞，悉宜梔子豉湯吐之。若煩而少氣者，中氣之虧也，宜梔子甘草豉湯，以扶其土。若煩而兼嘔者，胃氣之逆也，宜梔子生薑豉湯，以降其逆。但梔子苦寒，最瀉脾陽，如病人平日大便微溏者，便是脾陽之虛，不可服也。</p>
<p><u>梔子乾薑湯</u>　二十八</p>
<p>梔子（十四枚，炒）　乾薑（七錢）</p>
<p>水三杯，煎杯半，分三服，溫進一服。得吐者，止後服。</p>
<p><u>梔子豉湯</u>　二十九</p>
<p>梔子（十四枚）　香豉（一兩四錢，綿裹）</p>
<p>水四杯，先煎梔子，存二杯半，入香豉，煎杯半，分溫二服。得吐者，止後服。</p>
<p><u>梔子甘草豉湯</u>　三十</p>
<p>梔子（十二枚）　甘草（七錢）　香豉（一兩四錢）</p>
<p>煎如前法。得吐，止後服。</p>
<p><u>梔子生薑豉湯</u>　三十一</p>
<p>梔子（十二枚）　生薑（一兩八錢）　香豉（一兩四錢）</p>
<p>煎如前法。得吐，止後服。</p>

<h3>太陽壞病入少陰臟證</h3>

<h4>汗後表虛漏泄惡風惡寒</h4>
<p>太陽經病，土負水勝，則入少陰腎臟。如汗後漏泄不止，表疏惡風，小便艱難，四肢微急，屈伸不柔者，此汗泄而陽亡也。經絡之陽，根於腎水，宜桂枝加附子湯，以培陽根也。若汗後表病不解，反惡寒者，亦汗亡營中之陽也，宜芍藥甘草附子湯，甘草培土，芍藥斂營，附子溫腎水而暖營血也。若下後復汗，身體振寒，脈候微細，以下亡其里陽，汗亡其表陽，致內外俱虛故也。</p>
<p><u>桂枝加附子湯</u>　三十二</p>
<p>桂枝（一兩）　芍藥（一兩）　甘草（七錢）　生薑（一兩）　大棗（十二枚）　附子（一枚，炮）</p>
<p>煎如桂枝湯法。</p>
<p><u>芍藥甘草附子湯</u>　三十三</p>
<p>芍藥（一兩）　甘草（一兩）　附子（一兩）</p>
<p>水五杯，煎杯半，分溫再服。</p>

<h4>汗吐下後心滿氣衝頭眩身搖心悸肉瞤</h4>
<p>傷寒吐下後，心下逆滿，氣上衝胸，起則頭眩，脈沉而緊者，土敗陽虛，濁陰上乘也。又復發汗，以亡經中之陽，溫氣外泄，血冷木枯，風動身搖，振振不已。此其病在經絡，根原臟腑，緣於水泛土濕，木鬱風動。宜苓桂朮甘湯，燥土而瀉水，疏木而達郁也。</p>
<p>若發汗之後，汗出不解，病人仍發熱，心下荒悸，頭目眩暈，皮肉瞤動，身體振搖，勢欲穴地自安，此以汗出陽亡，水寒土濕，木鬱風動，衝擊而不寧也。宜以真武湯，瀉濕燥土，清風木而溫寒水也。</p>
<p>凡汗多陽亡，其人叉手自冒其心，心下動悸，欲得手按者，緣於土敗木鬱，風動神搖，宜桂枝甘草湯，疏木而培土也。汗多陽亡，病人叉手自冒其心者，率多耳聾，以肺胃逆行，膽木不降，濁氣上填，孔竅不虛靈也。</p>
<p>大抵脈候浮數，法當汗解，若下敗脾陽，身重而心悸者，則不可發汗，當俟自汗而解。此其尺中脈微，里陽原虛，須陽氣漸復，表裡皆實，經氣外發，自能汗愈也。</p>
<p>凡尺脈遲微者，皆不可汗。營候於尺，汗化於營，尺微營虛，故不可汗。汗之亡陽者，亡其血中之溫氣也。（真武湯，在「少陰」）</p>
<p><u>茯苓桂枝白朮甘草湯</u>　三十四</p>
<p>茯苓（一兩四錢）　桂枝（七錢）　白朮（七錢）　甘草（七錢）</p>
<p>水六杯，煎三杯，溫分三服。</p>
<p><u>桂枝甘草湯</u>　三十五</p>
<p>桂枝（一兩四錢）　甘草（七錢）</p>
<p>水三杯，煎一杯，頓服。</p>

<h4>汗下後發作奔豚</h4>
<p>汗後陽亡土濕，風木鬱動，則生振悸。輕者悸在心下，重者悸在臍間。臍下振悸，根本搖動，是欲作奔豚之象也。奔豚之發，起於少腹，直犯心胸，衝突擊撞，其痛不支，咽喉閉寒，七竅火發，病之最凶惡者。宜苓桂甘棗湯，泄濕培土，補脾精而達木鬱也。</p>
<p>凡燒針取汗，表泄陽虛，針孔被寒，核起而赤者，必發奔豚。緣外寒閉束，風木鬱沖之故。宜先灸核上各一壯，散其外寒，以桂枝加桂湯，疏木而下衝也。至於下後陽虛，下焦陰氣上衝者，亦皆奔豚之證，悉宜桂枝加桂湯也。</p>
<p><u>茯苓桂枝甘草大棗湯</u>　三十六</p>
<p>茯苓（一兩八錢）　桂枝（一兩四錢）　甘草（一兩）　大棗（十五枚）</p>
<p>甘瀾水十杯，先煎茯苓，減二杯，入諸藥，煎三杯，溫服一杯，日三服。</p>
<p>作甘瀾水法：用水十杯，置盆內，以勺揚之數百遍，水上有珠子千顆相逐，乃取用之。</p>
<p><u>桂枝加桂湯</u>　三十七</p>
<p>桂枝（一兩七錢）　芍藥（一兩）　甘草（七錢）　生薑（一兩）　大棗（十二枚）</p>
<p>煎如桂枝湯法。</p>

<h4>火劫溫針後驚悸發狂</h4>
<p>傷寒脈浮，應以汗解，醫以火逼劫之，汗多陽亡，必驚悸發狂，起臥不安。以土敗胃逆，膽木拔根則驚生，濁陰上填，迷塞心宮則狂作。宜救逆湯，桂枝去芍藥之瀉陽，加蜀漆吐敗濁以療狂，龍骨、牡蠣，斂神魂以止驚也。</p>
<p>凡傷寒誤用溫針取汗，以亡其陽，膽木拔根，必生驚悸也。</p>
<p><u>救逆湯</u>　三十八</p>
<p>桂枝（一兩）　甘草（七錢）　生薑（一兩）　大棗（十二枚）　蜀漆（一兩，洗去腥）　龍骨（一兩四錢）　牡蠣（一兩七錢，熬）</p>
<p>水十二杯，先煮蜀漆，減二杯，入諸藥，煎三杯，溫服一杯。</p>

<h4>火逆汗下後煩躁</h4>
<p>太陽經病，誤用火熏，助其經熱，是謂火逆。火逆之證，熱在表，不在裡，誤服下藥，虛其里陽，其病不解。因復燒針發汗，亡其表陽，陽根欲脫，遂至煩躁不安。宜桂枝甘草龍骨牡蠣湯，疏木培土，斂神氣而除煩躁也。</p>
<p>凡或汗或下，病不解而生煩躁者，皆土敗水侮，陽根欲脫，宜茯苓四逆湯，參、甘，培其中氣，薑、附，溫其水土，茯苓瀉其腎邪也。</p>
<p>若下之瀉其里陽，又汗之亡其表陽，晝而陽氣飛越，煩躁不得眠，夜而陽氣收斂，安靜無擾，不嘔不渴，內無里證，身不大熱，外無表證，而脈候微沉，是陽虛而內寒，宜乾薑附子湯，溫中下以回陽氣也。</p>
<p>蓋陽亡則寒生，若平素汗多，而重發其汗，陽神不歸，必恍惚心亂，小便之後，陰管作疼。以乙木遏陷，疏泄不暢，便後木氣凝澀而不達也。</p>
<p><u>桂枝甘草龍骨牡蠣湯</u>　三十九</p>
<p>桂枝（三錢五分）　甘草（七錢）　龍骨（七錢）　牡蠣（七錢）</p>
<p>水五杯，煎二杯，溫服大半杯，日三服。</p>
<p><u>茯苓四逆湯</u>　四十</p>
<p>茯苓（二兩一錢）　人參（三錢五分）　甘草（七錢）　乾薑（五錢二分）　附子（一枚，炮，去皮臍，破八片）</p>
<p>水五杯，煎二杯，溫服大半杯，日三服。</p>
<p><u>乾薑附子湯</u>　四十一</p>
<p>乾薑（三錢五分）　附子（一枚，生用）</p>
<p>水二杯，煎一杯，頓服。</p>

<h3>太陽壞病入厥陰臟證</h3>

<h4>汗後吐蛔</h4>
<p>太陽經病，汗下亡陽，土濕水寒，木氣不達，則病及厥陰肝臟。如臟腑素寒，復發汗，以亡其陽，胃冷而氣逆，必吐蛔蟲。</p>

<h1>卷三</h1>

<h2>太陽經壞病結胸痞證</h2>

<h3>提綱</h3>
<p>衛氣為陽，風傷衛者，病發於陽也。衛傷則遏逼營血，而生裡熱。血化於臟，臟陰衰者，多傳陽明之腑。營血為陰，寒傷營者，病發於陰也。營傷則束閉衛氣，而生表寒。氣化於腑，腑陽弱者，多傳太陰之臟。</p>
<p>病發於陽者，俟其熱邪傳裡，已入胃腑，非不可下。方其在經，法應汗解，而反下之，表陽內陷，則成結胸。病發於陰者，內寒鬱動，易入脾臟，始終忌下。方其在經，亦應汗解，而反下之，里陰上逆，則成痞證。</p>
<p>太陽之病，不解於太陽之經，而內傳臟腑，生死攸關，是皆太陽之壞病也。然入腑則用承氣，入臟則用四逆，猶有救壞之法。至於未入胃腑，下早而為結胸，未入脾臟，誤下而成痞證，則壞而又壞矣。仲景變承氣而為陷胸，變四逆而為瀉心，所以救壞中之壞也。</p>

<h3>太陽壞病結胸證</h3>

<h4>結胸大陷胸湯證</h4>
<p>結胸者，將來之陽明腑證，下早而成者。胃腑燥熱，汗亡里陰，則入陽明，胸膈濕熱，下陷表陽，則成結胸。陽明戊土，化氣於燥金，是以胃熱則生燥，太陰辛金，化氣於濕土，是以肺熱則生濕。腑熱將作，胸熱先生，故未入陽明，而遽下之，則成結胸。</p>
<p>如太陽病，脈浮而兼動數，風中於表則脈浮，熱盛於經則脈數，表閉里鬱則脈動，動而不得外泄則痛生。然數從浮見，尚非內實，浮則表證不解，其人頭痛，發熱，汗出，惡寒者，表未解也。表未解者不可下，下則表陽內陷。醫不解表，而反下之，動數之脈，變而為遲，以其腑熱未起，下則陽負而陰勝也。胃主降濁，土敗胃逆，甲木上衝，膽胃之氣，兩相格拒，於是胸中作痛。甲木下行，而化相火，在下為主，在上為客。心肺之氣，為甲木逆上之客氣所沖，不得下達，相火鬱發，外無泄路，於是息短胸盈，煩躁懊憹。膈熱內郁，而經陽外束，既不外泄，勢必內陷，經腑之氣，閉塞堅凝，心中硬滿，是為結胸。氣滯則生飲，宜大陷胸湯，瀉熱而排飲也。</p>
<p>若不成結胸，而下傷中氣，其在陽分，則濕熱鬱蒸而頭上汗出，其在陰分，則濕寒凝澀而小便不利，土敗濕作，身必發黃也。</p>
<p><u>大陷胸湯</u>　四十二</p>
<p>大黃（二兩一錢）　芒硝（五錢六分）　甘遂（一錢，研末）</p>
<p>水六杯，先煎大黃，取二杯，去渣，入芒硝，煎一兩沸，入甘遂末，溫服一杯。得快利，止後服。</p>

<h4>結胸諸變</h4>
<p>傷寒六七日，經盡當解，而一有結胸，則至期不解。其膈熱鬱蒸，已成實邪，心下滿痛，按之堅硬如石，關脈浮緊，是濁陰格其清陽，結塞不開，宜大陷胸湯也。若重發其汗，又復下之，津亡燥動，舌乾發渴，日晡之時，小發潮熱，不大便五六日，從心下以至少腹硬滿疼痛，手不敢近，是邪熱已深，濕將化燥，結胸而下連胃腑也。腑證合用承氣，但潮熱非甚，亦宜用大陷胸湯也。</p>
<p>若項亦強直，狀如柔痙，是濕熱熏蒸，津涸筋燥，結胸而上連頸項也。亦宜陷胸，湯恐速下，變而為丸，大黃、芒硝，清其熱，葶藶、杏仁，瀉其濕也。</p>
<p>結胸之證，下陰上陽，寸浮關沉，而其可以下愈，以其下焦之陽，未至絕根，故推陷上焦之陽，使之下接陽根。若其脈浮大，絕無沉意，是陽根已絕，萬不可下，下之則死矣。若遷延日久，結胸之證，無一不俱，一見煩躁，則上熱已極，陽根盡泄，雖不下而亦死矣。</p>
<p>若輕者，名為小結胸，亦在心下，但按之則痛，與大結胸之不按亦痛異，脈候浮數滑，與大結胸之寸浮關沉異。此亦濕熱鬱蒸之病，宜小陷胸湯，黃連清其熱，半夏降其逆，栝蔞滌其痰也。</p>
<p><u>大陷胸丸</u>　四十三</p>
<p>大黃（二兩八錢）　芒硝（一兩七錢）　葶藶（一兩七錢，熬）　杏仁（二兩八錢）</p>
<p>大黃、葶藶為末，入杏仁、芒硝，合研如脂，丸彈子大，以甘遂末一錢匕，白蜜一小杯，水二杯，煎一杯，溫頓服之，一宿乃下。不下，再服，取下為效。禁忌如常。</p>
<p><u>小陷胸湯</u>　四十四</p>
<p>黃連（三錢五分）　半夏（一兩七錢）　栝蔞實（大者一枚）</p>
<p>水六杯，先煎栝蔞，取三杯，去滓，入諸藥，煎二杯，分溫三服。</p>

<h4>臟結</h4>
<p>結胸與臟結不同，結胸者，陽明之病，其證不按亦痛，按則痛劇難忍，寸脈浮，關脈沉，是上熱而下寒也，臟結者，太陰之病，狀如結胸，其實乃太陰胸下結硬之痞證而無上熱者也，飲食如故，時時下利，其脈寸浮關沉，亦如結胸，但關則小細沉緊，腑陽頹敗，臟陰牢結，究與結胸脈殊。若舌上白胎滑者，其病難治，蓋舌為心竅，白為肺色，心火既衰，肺津瘀濁，膠塞心宮，故舌起白胎，胃土燥熱，則胎黃澀，肺金濕寒，則胎白滑也。若脅下素有痞塊，連在臍旁，痛引少腹，而入陰筋，緣土濕木鬱，筋脈短急，故牽引作痛，肝主筋，脈自少腹而絡陰器，其經絡如此也。此其土敗木賊，中氣磐郁，四維不轉，是名臟結。結而不解，必死無疑也。臟結之證，陰勝則寒，陽復則熱，寒為死機，熱為生兆。陰陽相搏，多見煩躁。復之過者，邪熱內燔，亦有下證。若絕無陽證，不往來寒熱，人反靜而不躁，舌上胎滑者，是為純陰，不可攻也。</p>

<h4>誤下諸變</h4>
<p>太陽經病未解，而遽下之，其脈促，而不結胸者，經中陽氣，內為陰格，外為邪束，不能通達，是以脈促，而既不結胸，則表陽未陷，經氣鬱發，必當作汗，此為欲解也。若寸脈浮者，陽為陰格，不得下通，必結胸也。脈緊者，表陽被郁，邪火上炎，必咽痛也。脈弦者，下傷脾胃，木氣不舒，肝膽之脈，布於脅肋，必兩脅拘急也。脈細數者，濁陰上逆，微陽浮升，必頭痛不止也。脈沉緊者，表邪外束，胃氣上逆，必欲嘔也。脈沉滑者，肝木不升，郁動於下，必協合外熱，而為泄利也。脈浮滑者，乙木鬱陷，疏泄失藏，必下血也。蓋木司營血，其性上升，木氣不達，鬱勃動盪，乃見滑象。滑而沉者，病在於臟，故主下利，滑而浮者，病在於經，故主下血。肝脈在左關，若鬱於土中，則診見於右關，鬱於水內，則診見於尺矣。</p>

<h4>誤下脾陷</h4>
<p>太陽病二三日，方傳陽明、少陽之經，乃但欲起，不能臥，煩躁如此，其心下必結。以邪逼陽明，經氣不降，少陽無下行之路，二氣痞塞，故胃口結滯，陽明、少陽之脈，必見弦大。若脈微弱者，此陰盛陽虛，本有寒邪在下也。寒則宜溫，乃反下之，當脾陷而為泄利。若利止，必胃逆而為結胸。若泄利未止，四日見其外熱，以為內熱，復誤下之，則陽根上泄，外熱不退，而內寒下利，永無止期，此作協熱利也。</p>

<h3>太陽壞病痞證</h3>

<h4>痞證表裡</h4>
<p>痞證者，將來之太陰臟證，誤下而成者。胃主降濁，脾主升清，人之心下虛空者，清陽升而濁陰降也。下傷中氣，升降失職，濁陰上逆，則心下痞塞，清陽下陷，則大便泄利，故痞證必兼下利，以其中氣之敗也。太陰病，腹滿自利，下之則胸下結硬，腹滿者，痞之根，然尚未成痞，下之而胸下結硬，乃成痞矣。</p>
<p>如太陽傷寒，多入三陰，表證未解，應當解表，而醫數下之，敗其脾陽，遂協合外熱，而為泄利。緣表證不解，則外熱不退，下後內愈寒而外愈熱，是謂協熱利。清氣下陷而泄利不止，則濁氣上逆而心下痞硬，內寒外熱，表裡不解。宜桂枝人參湯，桂枝解其表，薑、甘、參、術，解其里也。</p>
<p>若傷寒大下之後，復發其汗，陽敗陰乘，心下痞硬，理宜攻痞。如外見惡寒者，亦是表未解也，不可攻痞，攻痞則陷其表陽，當先解其表，表解後，乃可攻痞。解表宜桂枝湯，攻痞宜大黃黃連瀉心湯也。</p>
<p>前用桂枝人參，雙解表裡，此用桂枝解表，大黃黃連攻裡者，以上則外熱，此則外寒。陰陽之理，外熱者必內寒，外寒者必內熱。表證未解，陰邪束閉，陽郁不達，則外見惡寒，外寒則內必發熱，此以外寒包其內熱，故用桂枝以解外寒，大黃黃連以攻內熱。痞證陰盛格陽，郁生上熱，以大黃黃連推其上熱，使之下達，則肺熱肅清，設其下寒續生，則宜改溫藥矣。</p>
<p><u>桂枝人參湯</u>　四十五</p>
<p>桂枝（一兩四錢）　人參（一兩）　白朮（一兩）　甘草（一兩四錢）　乾薑（一兩）</p>
<p>水十杯，先煮四味，取五杯，入桂枝，更煮取三杯，溫服一杯，日再夜一服。</p>
<p><u>大黃黃連瀉心湯</u>　四十六</p>
<p>大黃（七錢）　黃連（三錢五分）</p>
<p>以麻沸湯二杯漬之，須臾絞去渣，分溫再服。</p>

<h4>清上溫下</h4>
<p>傷寒脈候浮緊，應以汗解，乃反下之，表陽內陷，緊反入里，浮緊變為沉緊，里陰逆上，於是作痞。痞證陰陽拒格，下寒上熱，合用諸瀉心清上溫下之法。</p>
<p>其主大黃黃連瀉心者，以濁陰逆湊，痞悶不開，陽氣遏郁，必生上熱，陰氣凝冱，必生下寒。下寒已作，逼其上熱，二氣摶結，證則心下石硬，脈則關上沉緊，一定之理。若按之心下濡而不硬，診之關上浮而不沉者，是胃陽之不降，濁氣之堙郁，上熱已生，而下寒未作也。此緣下傷中氣，膽胃逆升，土木壅遏，結滯不散，相火燔騰，故生上熱。大黃黃連瀉膽胃之鬱熱，則氣降而痞消，名曰瀉心，是瀉少陽膽木之相火也。</p>
<p>若下寒已作，則此法難用矣，下寒既動，心下塊硬，關上脈沉，固無用矣。而上熱逼蒸，下無去路，則開發皮毛，泄而為汗。使其心下硬滿，而復惡寒汗出者，則是下寒已動。宜附子瀉心湯，大黃、芩、連，瀉其上熱，而加附子，以溫下寒也。此與桂枝人參、大黃黃連，自是一證。其始中焦陰凝，未生上熱，故用桂枝解其表邪，人參理其中氣。遲則上熱已生，故變桂枝人參之法，桂枝解其表寒，而易大黃黃連瀉其裡熱。繼則下寒已動，故變大黃黃連之法，大黃、芩、連，清其上熱，而加附子，溫其下寒。下寒生則上熱逼鬱而愈甚，故增黃芩，以清膽火也。</p>
<p><u>附子瀉心湯</u>　四十七</p>
<p>黃連（三錢五分）　黃芩（三錢五分）　附子（一枚，炮，去皮臍，別煮，取汁）　大黃（三錢五分）</p>
<p>以麻沸湯二杯漬之，須臾絞去渣，入附子汁，分溫再服。</p>

<h4>瀉心諸變</h4>
<p>傷寒中風，醫不解表，而反下之，敗其中氣，腹中雷鳴下利，日數十行，完穀不化，心下痞滿，乾嘔心煩，不得安靜。醫見心下之痞，以為熱結在中，下之未盡，乃復下之，中氣更敗，其痞愈甚。不知此非結熱，但以中脘虛虧，不能制伏陰邪，客氣上逆，故成硬滿。宜甘草瀉心湯，甘、棗、薑、夏，溫補胃氣而降濁陰，芩、連，清其膽火也。</p>
<p>若傷寒汗出解後，胃中氣不調和，心下痞硬，乾噫食臭，脅下有水氣，腹中雷鳴下利者，此甲木剋土，土虛不能制水，水鬱膽部，而積於脅下，水合木邪，以賊中氣，脾土陷泄而胃土逆塞也。宜生薑瀉心湯，薑、甘、參、夏，溫補中氣，以轉樞機，芩、連，清其膽火也。</p>
<p><u>甘草瀉心湯</u>　四十八</p>
<p>甘草（一兩四錢）　大棗（十二枚）　半夏（一兩七錢）　乾薑（一兩）　黃芩（一兩）　黃連（三錢五分）</p>
<p>水十杯，煮六杯，去渣，再煎取三杯，溫服一杯，日三服。</p>
<p><u>生薑瀉心湯</u>　四十九</p>
<p>生薑（一兩四錢）　人參（七錢）　甘草（七錢）　大棗（十二枚）　半夏（一兩七錢）　乾薑（三錢六分）　黃芩（一兩）　黃連（三錢五分）</p>
<p>水十杯，煮六杯，去渣，再煎取三杯，溫服一杯，日三服。</p>

<h4>瀉心變法</h4>
<p>傷寒服瀉下湯藥，下利不止，心下痞硬，服瀉心湯已，下利如故。醫謂內熱，復以他藥下之，其利不止。又謂內寒，以理中與之，其利益甚。不知理中者，分理中焦，此其利在下焦滑脫，非理中所能，宜赤石脂禹餘糧湯，固其滑脫，利乃可止。若使複利不止者，此土濕木陷，後竅疏泄而失藏也，當利其小便，開其水道，則穀道閉矣。</p>
<p>下利上痞，總因濕旺。凡誤下心痞，與瀉心湯不解，口燥心煩，小便不利者，悉緣土濕木鬱，不能疏泄水道，宜五苓散，燥土而瀉濕也。（方在「太陽」）</p>
<p><u>赤石脂禹餘糧湯</u>　五十</p>
<p>赤石脂（五兩六錢，研）　禹餘糧（五兩六錢，研）</p>
<p>水六杯，煮取二杯，分三服。</p>

<h4>瀉水排飲</h4>
<p>痞證陰陽格拒，寒熱逼蒸，則生水氣，所謂陰陽交，則生濕也。</p>
<p>太陽中風，而有下利嘔逆之證，是水旺土濕，胃逆而為嘔，脾陷而為利也。是宜攻其水，然必表解者，方可攻之。</p>
<p>若其濕邪郁阻，濁氣升塞，頭痛乾嘔短氣，心脅痞硬作疼，而外則汗出而不惡寒者，是表解里未和也。宜十棗湯，大棗培土，芫、遂、大戟，瀉其里水也。</p>
<p>凡傷寒，發汗吐下解後，心下痞硬，噫氣不除者，緣土敗濕滋，胃氣上逆，肺郁痰化，清道壅塞。宜旋覆花代赭石湯，參、甘、大棗，補其中氣，半夏、薑、赭，降其沖逆，旋覆行其痰飲也。</p>
<p>他若病如桂枝證，頭不痛，項不強，寸脈微浮，心中痞硬，氣衝咽喉，不得喘息，此為濕盛胃逆，濁陰填塞，肺鬱而化寒痰，停瘀胸膈，故氣衝而不下也。法當吐之，以瓜蒂散，湧其寒痰。但吐法頗升膈上清陽，諸亡血之家，肺氣素逆，勿用此法。</p>
<p><u>十棗湯</u>　五十一</p>
<p>芫花　甘遂　大戟　大棗（十枚）</p>
<p>等分為末，水二杯，煮大棗肥者十枚，取大半杯，去棗，入藥末，強人服一錢匕，弱者半錢，平旦溫服。若下少，病不除者，明日再服半錢。得快利後，糜粥溫養。</p>
<p><u>旋覆花代赭石湯</u>　五十二</p>
<p>旋覆花（一兩）　人參（七錢）　半夏（一兩七錢）　甘草（一兩）　代赭石（三錢五分，煅，研）　生薑（一兩七錢）　大棗（十二枚）</p>
<p>水十杯，煮取六杯，去滓，再煎取三杯，溫服一杯，日三服。</p>
<p><u>瓜蒂散</u>　五十三</p>
<p>瓜蒂（一分，熬）　赤小豆（一分）</p>
<p>研末，取一錢匕，以香豉三錢五分，熱湯大半杯煮稀糜，去渣，取汁和散，溫頓服之。不吐者，少加之，得快吐乃止。</p>

<h1>卷四</h1>

<h2>陽明經</h2>

<h3>提綱</h3>
<p>陽明從燥金化氣，其經在太陽之次，肌肉之分，起鼻之交頞，挾口環唇，行身之前，下膈挾臍，循脛外，由足跗而走大指。陽明為三陽之長，太陽經病不解，營衛內郁，二日必傳陽明之經。陽氣盛滿，故脈大而身熱。若腑陽素實，則自經入腑。表熱傳裡，裡熱，則桂麻解表之法，變為承氣攻裡之方。仲景立陽明之篇，專為入腑者設，非第二日陽明之經病也。</p>

<h3>陽明初病葛根湯證</h3>
<p>陽明腑證，自太陽傳來，方其自經入腑之始，法宜解表，其得之中風，發熱惡風，汗出脈緩者，宜桂枝湯，其得之傷寒，發熱惡寒，無汗脈緊者，宜麻黃湯。以太陽、陽明，經腑合病，經證如初而腑熱未成，故但解太陽之經，不攻陽明之腑，經熱既泄，則腑熱不作矣。</p>
<p>經熱不泄，則腑熱必作，以其腑陽之盛也。何以知其腑陽之盛？以其脈大也。陽明經腑，皆主下降，外為風寒所閉，經絡束迫，胃氣鬱遏，上脘不降，宗氣壅塞，不能順下，故有喘而胸滿之證。背者，胸之府也，胸膈鬱滿，宗氣不得前降，則逆衝於背項，是以項背強直，大與太陽不同。一見項背強直，便是經腑合邪，宜加葛根，清散陽明經腑之郁。其項背強直而汗出惡風者，用桂枝加葛根湯，其項背強直而無汗惡寒者，用葛根湯。胃為受盛之腑，胃腑鬆緩，容納有餘，則吐利不作，經絡束迫，致腑氣鬱遏，不能容受，故見吐利。利者，用葛根湯，解表而舒胃氣，使不致郁陷，吐者，用葛根加半夏湯，解表而降胃氣，使不致沖逆。</p>
<p>表證不解，自太陽、少陽之經，內連陽明之腑，是謂三陽合病。其脈浮大，上於關上，膽熱傳之胃土，但欲眠睡，睡則陽氣鬱蒸，目合而汗出，是又當於桂、麻、葛根之中，加以柴、芩也。</p>
<p><u>桂枝加葛根湯</u>　五十四</p>
<p>桂枝（一兩）　芍藥（七錢）　甘草（七錢）　生薑（一兩）　大棗（十二枚）　葛根（一兩四錢）</p>
<p>水十杯，先煮葛根，減二杯，去沫，入諸藥，煎三杯，溫服一杯。取微汗。不用食粥。</p>
<p><u>葛根湯</u>　五十五</p>
<p>葛根（一兩四錢）　麻黃（七錢）　桂枝（七錢）　芍藥（七錢）　甘草（七錢）　生薑（一兩）　大棗（十二枚）</p>
<p>水十杯，先煮葛根、麻黃，去沫，入諸藥，煎三杯，溫服一杯。覆衣，取微汗。不用食粥。</p>
<p><u>葛根加半夏湯</u>　五十六</p>
<p>葛根（一兩四錢）　麻黃（一兩，湯泡，去黃汁，焙）　桂枝（七錢）　芍藥（七錢）　甘草（七錢）　生薑（一兩）　大棗（十二枚）　半夏（一兩七錢）</p>
<p>水十杯，煎三杯，溫服一杯。覆衣，取微汗。</p>

<h4>陽明腑證</h4>
<p>陽明病，自經傳腑之始，發表宜徹，汗出不徹，則經熱鬱蒸，自表傳裡。陽氣拂鬱，不得汗泄，身熱面赤，煩躁短氣，疼痛不知處所，乍在腹中，乍在四肢，此必入胃腑。若以表藥發之，汗出熱退，猶可不成腑證，遲則傳腑，而成承氣湯證，較之在經，順逆攸分矣。緣其里陽素盛，而皮毛不開，經熱莫泄，則腑熱續發，表裡感應，自然之理也。</p>
<p>究其由來，或失於發表，或發表而汗出不徹，或發汗利水，津亡土燥，皆能致此。其自太陽來者，寒水之衰也，謂之太陽陽明。自少陽來者，相火之旺也，謂之少陽陽明。自陽明本經來者，謂之正陽陽明，全緣燥金之盛也。</p>
<p>其始腑熱未盛，猶見惡寒，及其腑熱已盛，則惡寒自罷。內熱蒸發，汗出表退，風寒悉去，全是一團燥火內燔。俟其手足汗流，臍腹滿痛，日晡潮熱，煩躁譫語，喘滿不臥，則大便已硬，當服下藥。輕者用調胃承氣湯，早和胃氣，不令燥結，其次用小承氣湯，重者用大承氣湯，下其結糞，以瀉胃熱也。</p>
<p><u>調胃承氣湯</u>　五十七</p>
<p>大黃（一兩，酒浸，去皮）　甘草（七錢）　芒硝（二兩八錢）</p>
<p>水三杯，煎一杯，去滓，入芒硝，煮化，少少溫服。</p>
<p><u>小承氣湯</u>　五十八</p>
<p>大黃（一兩四錢）　厚朴（七錢，炙，去皮）　枳實（三枚，煮）</p>
<p>水四杯，煎杯半，溫分三服。初服當更衣，不更衣，盡服之。</p>
<p><u>大承氣湯</u>　五十九</p>
<p>大黃（一兩四錢，酒洗）　芒硝（一兩）　枳實（五枚，炙）　厚朴（二兩八錢，炙）</p>
<p>水十杯，先煮枳、樸，取五杯，去滓，入大黃，煎二杯，去滓，入芒硝，火化，分溫再服。得下，止服。</p>

<h3>下期</h3>
<p>凡服下藥，宜俟六日經盡之後，腑熱內實，表邪外解，乃無後慮，不可早攻，以致他變。若微見惡寒，便是表證未解，慎不可下，下之表陽內陷，遂成結胸諸證，當先服表藥，表解而後下之。若不大便五六日，經盡表解，下證悉具，是為可下之期。觀其小便，若水道不利，日僅一兩次，則其胃中必不結燥，遲即自能大便，不可下也，小便一利，大便必干，乃可以大承氣下之。若其昏迷，不索茶水，則小便不必甚利，亦有結糞，下證已備，恐難再緩。先與小承氣湯一杯，湯入腹中，後門失氣者，此有結糞。以結糞阻格，胃氣壅遏，胸腹脹塞，故作痛滿，小承氣瀉其積氣，因後失於魄門也，宜以大承氣下之。如服小承氣，而不失氣者，此必初硬後溏，切不可下。胃無結燥，下之敗其裡氣，恐致脹滿不能飲食，則為禍不小矣。</p>

<h3>下證</h3>
<p>腑熱已盛，結糞堵塞，不得泄路，非下不可，當審觀下證，以投承氣。其一，日晡潮熱，以金旺於申酉，至期熱發，如海水潮汐，應期不爽也。其一，手足汗出，以四肢秉氣於胃，胃熱四達，手足蒸泄，渙然流漓也。其一，煩躁懊憹，以胃氣壅遏，不得下行，燥熱鬱發，心君撓亂也。其一，昏冒譫語，以胃熱熏蒸，消亡心液，神明迷惑，昏狂不清也。其一，喘呼不臥，以胃熱上燔，肺金被克，清氣衝逆，不得安臥也。其一，嘔不能食，以胃土鬱遏，濁氣上湧，水穀不下，噁心欲嘔也。其一，心胸痞硬，以胃土沖逆，甲木不降，濁氣填塞，固結不開也。其一，臍腹痛滿，以燥糞堵塞，胃氣遏閉，蓄積莫容，不得通達也。凡此諸證，皆大便結塞，胃熱鬱升之故。胃以下行為順，上行為逆，燥矢阻礙，下竅秘澀，胃郁莫泄，因而逆行。下其結糞，腸竅通達，腑熱泄而胃氣順矣。緣燥矢為害，燥矢不去，胃郁無從泄也。視其小便，順利舒長，診其脈候，沉緩實大，而兼見以上諸證，宜大承氣瀉之，無庸疑也。若於蒸蒸發熱之時，早和以調胃承氣，稍重者，小承氣微清胃熱，不令異時燥結，更為妙也。</p>

<h3>急下三證</h3>
<p>胃腑始病，下不妨遲，若其內熱燔蒸，三陰被爍，精液消亡，遂成死證，法當急下，不可緩也。其一，臍腹痛滿，是燥土勝濕，傷及脾陰。以腹滿，太陰之證，太陰之濕，化而為陽明之燥，燥土壅遏，是以痛滿也。其一，發熱汗多，是燥土剋水，傷及腎陰。以腎主五液，入心為汗，汗多熱甚，則腎水耗泄，胃土焦枯，以燥土而滲少水，勢必竭流也。其一，目睛不和，是燥土侮木，傷及肝陰。以肝竅於目，目光之明燭，緣神魂之發露，目睛之宛轉，因營血之滋榮，所謂目受血而能視也。土金燥熱，煎熬營血，血枯木勁，筋脈焦槁，目系不柔，是以直視不轉也。</p>

<h4>亡津便燥</h4>
<p>陽明腑證，熱蒸汗發，表邪盡解，無庸再汗。醫見其煩躁不清，以為表邪未退，重發其汗，或自汗已多，而小便又利，凡諸津液亡失，皆令大便乾硬。但此陰液既虧，陽氣亦弱，雖有燥矢，未可攻下。若其欲便不能，當用蜜煎導法、豬膽汁方，潤而通之。如水利土燥，而脾氣約結，糞粒堅小難下者，宜以麻仁丸，潤其燥澀，破其滯氣也。</p>
<p><u>蜜煎導方</u>　六十</p>
<p>蜜（大半杯）</p>
<p>銅器煎之令凝，作梃，長二寸，大如指，內穀道中，欲便時去之。</p>
<p><u>豬膽汁方</u>　六十一</p>
<p>大豬膽（一枚）</p>
<p>瀉汁，和醋少許，灌穀道中，時頃便出。</p>
<p><u>麻仁丸</u>　六十二</p>
<p>麻仁（七兩）　芍藥（二兩八錢）　杏仁（五兩六錢，熬，研）　大黃（五兩六錢）　厚朴（五兩六錢）　枳實（二兩八錢）</p>
<p>為末，煉蜜丸梧子大，飲服十丸，日三服。漸加之，以潤為度。</p>

<h4>瘀血</h4>
<p>陽明腑病，凡有久瘀之血，則令人善忘，大便雖干，而糞下反易，其色必黑。以人之強記不忘者，精藏而陽秘也，瘀血阻礙，神氣不得蟄藏，則心浮而善忘。大便之難，緣於腸燥，熱歸血海，不及大腸，故大便反易。瘀血阻格，水火不交，腎氣下郁，是以糞黑。人之大便，火鬱則赤，金鬱則白，土鬱則黃，木鬱則青，水鬱則黑，各從其臟色也。此宜抵當湯，下其瘀血。</p>
<p>若病人無表證之惡寒，里證之滿痛，乃發熱至七八日之久，雖脈候浮數，亦可下之。蓋浮數雖是表脈，而外無表證，發熱不已，此必有裡熱可知，是以宜下。設或已下，而脈數不變，表裡合熱，消穀善飢，至七八日不大便者，此必有瘀血。以熱不在中焦氣分，而在下焦血分，故脈數不為下變也，宜抵當湯下之。若脈數不變，而兼見下利不止，必表裡協熱，而便膿血。緣熱蒸瘀血，久而腐化，是以成膿。以不早服抵當，故至如此。（抵當方在「太陽」）</p>

<h3>熱入血室</h3>
<p>女子陽明病，正值經來，譫語下血者，此為熱入血室。以神胎於魂而魂藏於血，血熱則神魂迷亂也。火性炎上，其頭上汗出，際頸而還。此當涼營而發表也。</p>

<h1>卷五</h1>

<h2>陽明經虛證</h2>

<h3>提綱</h3>
<p>陽明與太陰為表裡，陽盛則陽明司權，太陰化燥，而入胃腑，陰盛則太陰當令，陽明化濕，而傳脾臟。人之本氣不一，有胃實者，有胃虛者，胃實入腑，則燥熱而宜涼瀉，胃虛傳臟，則濕寒而宜溫補。大小承氣之證，胃之實者，五苓、四逆之證，胃之虛者。實者是謂陽明病，虛者名為陽明，而實則太陰也。</p>
<p>人知胃實者之無所復傳，不知胃虛者之動入三陰，傳變無窮也。則承氣三湯，可以生人於胃實，可以殺人於胃虛，未可孟浪混施也。</p>

<h3>陽明入太陰證</h3>

<h4>溏泄噦噫</h4>
<p>陽明病，胃陽旺者，則當能食，至燥矢結塞，胃氣上逆，乃嘔不能食，若初傳胃腑，即不能食，是陽虛而胃寒也。再見小便不利，而手足汗出，是濕寒凝滯，陽不內藏，而發泄於四肢也。四肢為諸陽之本，故陽虛內寒之家，手足常多冷汗。濕寒積聚，必作固瘕。固瘕者，瘕塊堅固，石硬不軟，濕寒凘結，日久而成。人之便後凝白寒滑，成塊而下者，即瘕之未固而後行者也。此其大便，必初硬後溏，以胃氣虛冷，不能蒸水化氣，水穀不別，合同而下，故成溏糞也。</p>
<p>凡陽明病，脈浮而遲，便是表熱裡寒，而見下利清穀者，宜四逆湯，溫其胃寒。（方在「太陰」。）若不溫里，而反飲冷水，以助其寒，胃氣上逆，必生嘔噦。若大吐大下後，陽虛汗出，醫見其外熱，或以為表證未解，復與之水，以發其汗，或以為裡熱未清，誤以涼藥攻之，土敗胃逆，俱發噦噫。緣其胃中寒冷，不堪涼瀉之味伐其微陽也。</p>
<p>若噦噫而見腹滿，便是太陰之證，其前後二竅，定有不利之處。蓋木主疏泄，脾土濕陷，肝木莫達，疏泄不行，故二竅不利。濕無泄路，已土鬱脹，是以腹滿。濁氣不得下達，故沖逆而生噦噫。視其前後不利之部，通其鬱塞，則濕消滯散，滿減噦除矣。</p>

<h4>衛虛無汗胃逆咳嘔</h4>
<p>陽明病，法應多汗，乃反無汗，其身癢，如蟲行皮中之狀者，此以衛氣久虛，不能外發，鬱於皮腠之中，蠕蠕欲動，而不暢達故也。</p>
<p>若衛虛無汗，而小便又利，是陽氣下衰，不能攝水也。二三日後，陽氣愈衰，上逆而生咳嘔，手足厥冷者，濁陰上填，必苦頭痛。若但覺頭眩而不痛，則逆氣在胸，未全上頭。咳傷咽喉，必苦咽痛。其食谷欲嘔者，陽虛而冒逆也。宜吳茱萸湯，人參、大棗，補土而培中，吳萸、生薑，溫胃而降逆。若得湯而嘔吐反甚者，乃膽胃上逆，而生鬱熱，當先清其上熱也。</p>
<p>凡傷寒嘔多，俱因陽虛胃逆，雖有陽明裡證，不可攻之也。</p>
<p><u>吳茱萸湯</u>　六十三</p>
<p>吳茱萸（三兩四錢）　人參（一兩）　生薑（二兩）　大棗（十二枚）</p>
<p>水七杯，煎二杯，溫服大半杯，日三服。</p>

<h4>濕旺心痞</h4>
<p>太陽中風，寸緩關浮，而尺脈微弱，腎氣必虛。其人發熱汗出，復惡寒，而不嘔，此太陽之表證未解也。使其心下痞硬者，此必醫誤下而陷表陽，以致成痞，非陽明也。使其心下痞不因攻下，並見發熱作渴，惡寒已退者，此是太陽表解，轉屬陽明之腑也。蓋陽明腑病，胃氣上逆，甲木不降，二氣壅遏，自能成痞，不須攻下也。其小便數者，水利土燥，大便必硬，然尺弱腎寒，不可攻下，雖不更衣十日，亦無所苦也。即渴欲飲水，亦當少少與之，但以法救其乾燥而已。以其渴是土濕木鬱，而生風燥，原非火盛。宜五苓散，瀉濕而燥土也（方在「太陽」）。</p>
<p>陽明病，凡心下硬滿者，皆是土弱胃逆，即太陰之痞證也，慎勿以寒藥攻之，攻之敗其中氣，瀉利不止者，死，泄利止者，脾陽來復，乃可愈也。</p>

<h4>寒熱脈緊</h4>
<p>陽明中風，發熱惡寒，脈浮而緊，是太陽之表證未解，衛閉而風不能泄也。而口苦咽乾，有少陽之經證，腹滿微喘，有太陰之臟證，緣陽衰土濕，中氣不運，胃氣上逆，膽火鬱升，故病象如此。此其表邪不解，而里陰復盛，若誤下之，則陽敗濕滋，必小便難而腹更滿也。</p>
<p>如其發熱汗出，不惡寒而反惡熱，是太陽表解，而屬陽明之腑矣。但既覺腹滿，則其太陰濕旺，雖經汗解，其身必重。若誤汗以亡其陽，則煩躁昏憒，而作譫語。若燒針以亡其陽，則煩躁怵惕，而廢眠臥。若誤下以亡其陽，則土敗胃虛，下焦客氣，逆動於胸膈，心神擾亂，懊憹不寧，宮城瘀塞，舌上胎生者，宜梔子豉湯，湧其敗濁也。若下後陰亡土燥，渴欲飲水，口乾舌澀者，宜人參白虎，（方在「太陽」。）培中而益氣，瀉熱而清金。若脈浮發熱，渴欲飲水，而小便不利者，是土濕木鬱，風動津耗，而疏泄不行也，宜豬苓湯，二苓、滑、澤，瀉濕而燥土，阿膠清風而潤木也。</p>
<p><u>豬苓湯</u>　六十四</p>
<p>豬苓（三錢五分）　茯苓（三錢五分）　澤瀉（三錢五分）　滑石（三錢五分）　阿膠（三錢五分）</p>
<p>水四杯，先煮四味，取二杯，去渣，入阿膠，消化，溫服大半杯，日三服。</p>

<h4>汗下亡陽</h4>
<p>陽明病，發熱脈緊，是太陽證，口苦咽乾，是少陽證，汗出惡熱，是陽明證，此謂三陽合病。而腹滿身重，難以轉側，則太陰之濕旺也，兼開闔遲澀而唇口不仁，則陽明之虛也，以脾主肌肉而開竅於口，陽性輕捷，陰性遲拙，陽明負而太陰勝，故身重而口拙。面色垢汙，則少陽之虛也，以肝主色，血暢則色華，厥陰陷而少陽逆，故木枯而色晦。譫語遺溺，是太陽之虛也，以膀胱主藏，陽藏則火秘而神清，陽泄則水決而志惑，少陰盛而太陽虛，故遺溺而妄言。陽虛如是，若誤汗以亡陽，則神敗而譫語，若誤下以亡陽，則額上生汗而陽泄於頭面，手足逆冷而陰旺於四肢，危矣，速宜補中溫下，以回微陽。若其自汗而不因汗下者，是肺胃之熱，蒸泄皮毛，宜白虎瀉熱清金。凡陽明病，汗出多而渴者，便是人參白虎證，慎不可與豬苓湯，以汗多土燥，豬苓湯複利水而亡津也。若使口中乾燥，但欲漱水，不欲下咽者，此熱在經而不在腑，經熱不泄，此必致衄。凡脈浮發熱，口乾鼻燥，而又復能食者，此皆經熱而非腑熱，失於發表，則為衄也。</p>

<h4>譫語鄭聲</h4>
<p>陽明病，陽盛則作譫語，陽虛亦作譫語。其誤汗亡陽而譫語者，脈見短促，則陽絕而死，脈自和者，則陽復不死。其譫語而直視喘滿者，則陽敗而上脫，下利清穀者，則陽亡而下脫，於法皆死。</p>
<p>蓋陽盛之譫語，是謂譫語，陽虛之譫語，是謂鄭聲。鄭聲者，語言重複，顛倒錯亂，陽虛見此，多主死也。</p>

<h4>汗出緊愈</h4>
<p>陽明病，脈浮而緊，則表閉陽郁，必將遏其燥火，而見潮熱，日晡發作也。若但浮而不緊，則表疏衛泄，寐時陽氣失藏，必盜汗出也。</p>
<p>凡陽明病，脈見浮緊，便難作汗。其初欲食，是有穀氣，大便自調，小便不利，是亦有水氣。水氣勝則汗不出，穀氣勝則汗出。其人骨節疼痛，翕翕如有發熱之狀，此表邪閉束，陽郁欲發，而熱未盛也。然忽然煩躁發狂，渙然汗出，而病解者，是水氣不勝穀氣，故表開而汗出，水隨汗泄，脈緊自愈矣。</p>

<h4>濕盛發黃</h4>
<p>陽明病，裡虛誤下，敗其中氣，陽不歸根，肢體溫熱，客氣上逆，不至結胸，心中懊憹，飢不能食，此膈下之陰與胸上之陽鬱蒸而生敗濁也。陽為陰格，升泄失斂，則頭上汗出。宜梔子豉湯，吐其瘀濁（方在「太陽」）。瘀濁不吐，濕邪淫泆，是發黃之根也。</p>
<p>凡陽明病，面見赤色，便是陽郁，不能外發，以其胃氣之虛，此宜發表，不可攻裡，攻之陽敗濕滋，必小便不利，發熱而身黃也。陽衰濕旺，一得汗溺疏泄，則濕去而土燥。若汗尿不通，濕無去路，心中懊憹，敗濁鬱蒸，則身必發黃也。若被火熏，不得汗出，但頭上微汗，而小便不利，身必發黃也。蓋發熱汗出，則濕熱消散，不能發黃，若但頭上汗出，頸下全無，小便不利，渴飲水漿，此緣瘀熱在裡，故作渴飲水，而汗尿不通，濕熱莫泄，則身必發黃，宜茵陳蒿湯，瀉熱而除濕也。（方在「太陰」）</p>
<p>若其脈遲者，陽虛陰盛，食不甘味，難以致飽，飽則水穀不消，微生躁煩，頭眩腹滿，小便不利，此欲作谷疸之象。谷疸者，傷水穀而發黃也。雖下之，腹滿如故，不為之減，以其脈遲而陰盛也。</p>

<h3>三陽合病發黃</h3>
<p>陽明中風，其脈弦浮而大，浮者，太陽之脈，大者，陽明之脈，弦者，少陽之脈，是三陽之合病也。而短氣腹滿，則有太陰證。太陰濕土，鬱而生熱，一身及於面目悉發黃色，鼻乾尿澀，潮熱嗜臥，時時噦噫，不得汗泄，此陽明之燥奪於太陰之濕也。而非有少陽之邪，不應郁迫如是。少陽之脈，自胃口而走脅肋，濕旺胃逆，阻少陽降路，甲木逆行，而賊戊土，兩經痞塞，則心脅皆痛，久按之而氣不流通。少陽脈循兩耳，經氣衝塞，耳前後俱腫。刺之小差，而外證不解。病過十日之外，脈之弦大續變而為浮者，是雖內連陽明之腑，太陰之臟，而實未離少陽之經也，宜小柴胡湯，外瀉少陽之經邪，內補太陰之臟氣。若但浮而不弦，又無少陽諸證者，則病在太陽之經，宜麻黃湯（方在「太陽」）。但發太陽之經邪，汗出熱散，則黃自退矣。若腹滿尿癃，而加以嘔噦者，土敗胃逆，不可治也。</p>

<h3>陽明少陽合病</h3>
<p>陽明病，外發潮熱，而大便稀溏，小便自可，胸脅滿硬不消者，是胃氣上逆，膽經不降，少陽甲木之賊戊土也，宜小柴胡湯（方在「少陽」）。瀉少陽之經邪，補陽明之腑氣。又或脅下硬滿，不大便而嘔吐，舌上白胎者，此亦少陽之賊戊土也。以胃主受盛，乘以甲木之邪，腑氣鬱遏，受盛失職，水穀莫容，非泄則吐。甲木沖塞，上焦不通，津液瘀濁，則舌起白胎。心竅於舌，津鬱於心，故胎見於舌，肺主津，其色白也。宜小柴胡湯，瀉少陽之經邪，補陽明之腑氣，經腑松暢，則上焦通而津液降，胃氣調和，汗出表解矣。</p>

<h1>卷六</h1>

<h2>少陽經</h2>

<h3>提綱</h3>
<p>少陽從相火化氣，其經在陽明之次，筋脈之分，起目銳眥，循耳下頸，自胸貫膈，由脅裡出外踝，循足跗而走名指。病則經氣壅遏，不能順降，故胸痛脅痞。相火上炎，故口苦咽乾。陽氣升浮，是以目眩。濁氣衝塞，是以耳聾。位在二陽之裡，三陰之表，陽盛則熱，陰盛則寒，故往來寒熱。其視三陽之經，陽氣方長，故其脈弦細。</p>
<p>傷寒、中風，一日太陽，二日陽明，三日則傳少陽。然三日少陽，而不入陽明之腑，太陰之臟，則無少陽諸證，六日經盡，汗出表解，不能自解，則以麻黃、桂枝發之，大小柴胡，不必用也。若內傳臟腑，外連少陽之經，然後顯少陽諸證，其始得，不必三日，其病解，不必六日，是大小柴胡之的證，與太陽之麻、桂無關也。</p>

<h4>少陽小柴胡湯證</h4>
<p>風寒感傷太陽之經，未經汗解，外而太陽陽明之經迫束於表，內而太陰陽明之氣壅逼於裡，少陽之經，在二陽三陰表裡之間，郁遏不暢，於是病焉。里陰勝則外閉而為寒，寒往而熱來，表陽勝則內發而為熱，熱往而寒來。少陽之經，自頭走足，由胸脅而下行，表裡壅遏，不得下行，經氣磐郁，故胸脅痞滿。甲木逆侵，戊土被賊，胃氣困乏，故默默不欲飲食。胃以下行為順，困於木邪，逆而上行，容納失職，則生嘔吐。少陽以甲木而化相火，相火升炎，則生煩渴，肺金被刑，則生咳嗽。甲木失根，郁沖不寧，則腹中痛楚，心下悸動。是皆表裡不和，少陽結滯之故。宜小柴胡湯，柴、芩，清其半表，參、甘，溫其半里，半夏降其逆，薑、棗和其中，此表裡雙解之法也。</p>
<p><u>小柴胡湯</u>　六十五</p>
<p>柴胡（一兩八錢）　黃芩（一兩）　人參（一兩）　甘草（一兩）　半夏（一兩七錢）　生薑（一兩）　大棗（十二枚）</p>
<p>水十二杯，煎六杯，去渣，再煎三杯，溫服一杯，日三服。若胸中煩而不嘔，去半夏、人參，加栝蔞實。若渴，去半夏，加人參、栝蔞根。若腹中痛，去黃芩，加芍藥。若脅下痞硬，去大棗，加牡蠣。若心下悸，小便不利，去黃芩，加茯苓。若不渴，外有微熱，去人參，加桂枝，覆衣，取微汗。若咳，去人參、大棗、生薑，加五味子、乾薑。</p>

<h4>少陽連太陽經證</h4>
<p>傷寒四五日，身熱惡寒，頸項強直，脅下脹滿，手足溫暖，發渴而作嘔者，是皆少陽之經郁遏不降，逆行而賊戊土，土木壅塞，結而不開也，俱宜小柴胡湯。凡服柴胡，但見少陽一證便是，不必悉具也。</p>
<p>若傷寒六七日，肢節煩疼，微作嘔吐，少陽陽明兩經相逼，心下支結，旁連脅下，倘其發熱而微見惡寒，便是太陽之外證未解，宜柴胡加桂枝湯，治兼太陽之經也。</p>
<p>凡太陽病，遲至十日之外，脈浮細而嗜臥者，是太陽之外證已解，而入少陽之經。少陽之脈弦細，木賊土困，則善眠也。設其胸滿脅痛者，則是少陽無疑，宜與小柴胡湯。若脈但浮而不細者，則全是太陽而無少陽，宜第與麻黃湯，發其太陽之表，不必以日久為疑也。（方在「太陽」）</p>
<p><u>柴胡桂枝湯</u>　六十六</p>
<p>柴胡（一兩四錢）　黃芩（五錢）　人參（五錢）　半夏（八錢）　甘草（三錢五分）　生薑（五錢）　大棗（六枚）　桂枝（五錢）　芍藥（五錢）</p>
<p>水七杯，煎三杯，溫服一杯。</p>

<h4>少陽入陽明腑證</h4>
<p>傷寒寸脈見澀，便是少陽甲木不舒，尺脈見弦，便是厥陰乙木不達，乙木下鬱則生風，甲木上鬱則生火，風動火炎，木氣枯燥，脾胃被刑，法當腹中急痛，宜先用小建中湯，膠飴、甘、棗，補脾胃之精氣，薑、桂、芍藥，散肝膽之風火，若不差者，仍與小柴胡湯，溫其半里而清其半表也。凡服柴胡湯已而見燥渴者，此屬陽明之腑熱，當以法治之，清其腑熱也。平素嘔吐之家，不可與建中湯，以甘味之動嘔也。</p>
<p>凡太陽少陽合病，必見嘔利，緣甲木壅遏，則克戊土，胃腑郁迫，不能容受，是以吐泄，吐泄者，少陽傳陽明之腑也。其自下利者，宜黃芩湯，甘草、大棗，補其脾精，黃芩、芍藥，瀉其相火。其嘔者，宜黃芩加半夏生薑湯，降其逆氣也。</p>
<p>傷寒，發熱汗出，而病不解，心中痞硬，嘔吐而下利者，是少陽傳陽明之腑也。宜大柴胡湯，柴胡解少陽之經，枳、黃，瀉陽明之腑，雙解其表裡也。</p>
<p>若太陽證，過經十餘日之久，心中溫溫欲吐，大便稀溏，胸痛腹滿，鬱郁微煩，此甚似少陽傳腑大柴胡證。如前因極吐下而成者，則是少陽已傳陽明之腑。腑病已全，經證微在，可與調胃承氣湯，無用柴胡也。以少陽傳陽明，經邪外束，腑氣內遏，胃不能容，必作嘔泄。及其腑熱盛發，蒸而為汗，則表解經舒，吐下皆止。此雖吐下，未能盡止，然欲嘔微溏，僅存少陽餘證，柴胡不可用矣，故與承氣。若非由自極吐下得者，則胸痛腹滿，便溏欲嘔，便是太陰證，勿與承氣也。（方在「陽明」）</p>
<p><u>小建中湯</u>　六十七</p>
<p>桂枝（一兩）　芍藥（二兩）　甘草（一兩）　生薑（一兩）　大棗（十二枚）　膠胎（二兩四錢）</p>
<p>水七杯，煎三杯，去渣，入膠胎，火化，溫服一杯，日三服。</p>
<p><u>黃芩湯</u>　六十八</p>
<p>黃芩（一兩）　芍藥（七錢）　甘草（七錢）　大棗（十二枚）</p>
<p>水六杯，煎三杯，日再夜一服。</p>
<p><u>黃芩加半夏生薑湯</u>　六十九</p>
<p>黃芩（一兩）　芍藥（七錢）　甘草（七錢）　大棗（十二枚）　半夏（一兩七錢）　生薑（一兩）</p>
<p>煎服如黃芩湯法。</p>
<p><u>大柴胡湯</u>　七十</p>
<p>柴胡（二兩八錢）　黃芩（一兩）　半夏（一兩七錢）　生薑（一兩七錢）　大棗（十二枚）　芍藥（七錢）　枳實（四枚）　大黃（七錢）</p>
<p>水十二杯，煎六杯，去渣，再煎取三杯，溫服一杯，日三服。</p>

<h4>經腑雙結</h4>
<p>傷寒五六日，頭上汗出，微覺惡寒，手足逆冷，心下脹滿，口不飲食，大便堅硬，脈沉緊而細者，此為少陽陽明兩經之微結。以兩經郁迫，結於胃口，故心下脹滿，不能甘食。此必有少陽之表證，復有陽明之裡證，其汗出惡寒，肢冷心滿者，表證也，便硬者，里證也。蓋兩經合病，土不勝木，必傳胃腑。腑證未全，則經證未罷，故定有里證，復有表證。若純是里證，則腑熱外蒸，手足汗流，惡寒悉退，無復少陽表證矣。今頭汗惡寒，肢冷心滿，現有少陽表證，不得純謂之裡。其脈候沉緊，手足厥冷，亦不得謂之少陰。以少陰無汗，既頭上汗出，其非少陰甚明。此半表半裡，大柴胡證也。可表裡分治，先以小柴胡解其少陽之經邪，設表解而不明瞭，再以承氣瀉其陽明之腑邪，燥矢一去，則腑熱清矣。</p>

<h4>少陽傳裡</h4>
<p>少陽之經，在二陽之內，三陰之外，陰陽相平，不入臟腑，則止傳三陰之經，六日汗解，不解則以麻、桂發之，非柴胡湯證也。若陽盛而傳陽明之腑，陰盛而傳太陰之臟，經證未罷，是謂半表，臟證腑證俱全，是謂半里，半表半裡雙病，故用大小柴胡雙解。</p>
<p>若傷寒三日，病在少陽，而其脈小者，是相火非旺，不入胃腑，經盡表解，病欲自己也。若傷寒三日，病在少陽，既不陽盛入腑，則當陰盛入臟。使其人反能食不嘔，此為中氣未衰，三陰不受邪也。若傷寒六七日，當經盡表解之時，其人大熱而煩躁者，便是傳腑之候，如無大熱而其人煩躁者，是為入臟之機。蓋陰動則陽離，神氣升泄，浮越無歸，故生煩躁也。</p>

<h4>熱入血室</h4>
<p>婦人中風，發熱惡寒，而值經水適來，得病七八日後，脈遲熱退身涼，似乎表解矣，乃胸脅之下滿如結胸，而作譫語者，此為熱入血室，蓋其經熱乘血海方虛之時，離表而歸里也。宜涼血清肝，瀉其相火。又如中風七八日，續得寒熱往來，而值經水適斷者，此亦為熱入血室，其血必結。血結經瘀，遏閉少陽之氣，陽陷則陰束而為外寒，陰升則火炎而生內熱，故使寒熱如瘧，應時發作。宜小柴胡湯，清其經熱也。又如傷寒發熱，而值經水適來，晝日明瞭，夜則譫語，如見鬼狀者，此亦為熱入血室。蓋血為陰，夜而陽氣入於陰分，血熱發作，故譫妄不明。宜瀉熱清肝，以瀉相火。但邪熱在下，治之毋犯胃氣及上焦清氣，則自愈也。</p>

<h1>卷七</h1>

<h2>少陽經壞病</h2>

<h3>提綱</h3>
<p>少陽在陰陽之交，表裡之半，忌發汗吐下，瀉其陰陽，陽虛而入太陰之臟，陰虛而入陽明之腑，是為少陽壞病。如太陽病，不經汗解，轉入少陽，脅下硬滿，乾嘔不食，往來寒熱，若尚未吐下，其脈沉緊者，全是小柴胡證，宜與小柴胡湯。若已經發汗吐下溫針，以致譫妄不明，柴胡證罷，此少陽之壞病也，審其汗下溫針，所犯何逆，以法治之，救其壞也。</p>

<h3>少陽壞病入陽明證</h3>

<h4>汗後心悸</h4>
<p>傷寒脈候弦細，頭痛發熱者，是屬少陽。少陽以甲木而化相火，不可發汗，汗亡心液，火炎神亂，則生譫語，便是里入胃腑。胃和則愈，胃腑燥熱不和，則君相升浮，搖盪不安，煩而且悸也。以相火下蟄，則神魂寧謐，而相火順降，全憑胃土，胃土右轉，陽氣清涼，而化金水，收藏得政，是以陽秘而不泄，胃土不和，燥熱升逆，甲木莫降，拔根而上炎，神魂失歸，故煩亂而悸動也。凡傷寒二三日，其心中悸動而煩擾者，是陽明土燥，相火失歸，拔根上炎，欲傳胃腑，宜小建中湯，滋燥土而清相火也。若傷寒脈結代，心動悸者，是相火升炎，血枯木燥，經絡梗澀也，宜炙甘草湯，參、甘、大棗，補中培土，膠、地、麻仁，滋經潤燥，薑、桂，行其瘀澀，麥冬清其燥熱也。</p>
<p><u>炙甘草湯</u>　七十一</p>
<p>甘草（一兩四錢，炙）　人參（七錢）　桂枝（一兩）　生薑（一兩）　大棗（十二枚）　生地（五兩六錢）　阿膠（七錢）　麥冬（一兩六錢，去心）　麻仁（一兩六錢）</p>
<p>清酒七杯，水八杯，先煮八味，取三杯，去渣，入阿膠，火化，溫服一杯，日三服。</p>

<h4>表裡雙解</h4>
<p>本柴胡湯證，法不宜下，而誤下之，柴胡證罷，此為壞病。若柴胡證不罷者，復與柴胡湯，必蒸蒸而振搖，卻發熱汗出而解。以下傷胃氣，衛氣不能遽發，故戰慄振搖，而後汗出。表解邪退，未為壞也。</p>
<p>如過經十餘日，反二三下之，四五日後，柴胡證應罷矣，若柴胡證仍在者，先與小柴胡湯，以解其外，使嘔吐不止，心下急迫，鬱郁微煩者，此陽明之腑束於少陽之經，表裡合病，宜大柴胡湯，表裡雙解也。</p>
<p>如傷寒十三日不解，期過再經，胸脅滿脹作嘔，日晡潮熱，服下藥不解，已而微利，此本大柴胡證，下之不利，今反利者，知醫以丸藥下之，遺其表證。表邪不解，內熱復郁，故雖利而不愈，此非其治也。其潮熱者，胃腸之實，宜清其里，但胸脅脹滿，上下嘔泄，是外有經證，先宜小柴胡以解外，復以柴胡加芒硝湯，清其裡熱也。</p>
<p><u>柴胡加芒硝湯</u>　七十二</p>
<p>柴胡（一兩八錢）　黃芩（一兩）　人參（一兩）　半夏（一兩七錢）　甘草（一兩）　生薑（一兩）　大棗（十二枚）　芒硝（二兩）</p>
<p>煎服如小柴胡法。不解，更服。</p>

<h4>下後心驚</h4>
<p>凡少陽中風，兩耳無聞，目睛色赤，胸滿而心煩者，是胃氣上逆，賊於甲木，不可吐下，吐下則甲木升搖，悸而且驚。蓋甲木化氣於相火，隨肺胃下降而歸命門，相火下蟄，故上竅清虛，耳目聰明，中虛胃逆，肺金失斂，甲木無下行之路，濁氣填塞則耳聾，相火上炎則目赤。甲木刑胃，上脘郁迫則胸滿。甲木失歸，相火升發則煩生。吐下傷其中氣，肺胃愈逆，甲木拔根，魂浮膽怯，是以悸而且驚也。</p>
<p>若傷寒八九日，醫誤下之，以致胸滿心煩，驚悸譫語，小便不利，一身盡重，不可轉側者，是下傷中氣，濕動胃逆，膽木拔根，神魂不謐，相火升炎，郁生上熱也，而經邪未解，表裡皆病。宜柴胡加龍膏牡蠣湯，茯苓去濕，大黃瀉熱，人參、大棗補中，半夏、鉛丹降逆，龍骨、牡蠣，斂其神魂，薑、桂、柴胡，行其經絡也。</p>
<p><u>柴胡加龍骨牡蠣湯</u>　七十三</p>
<p>柴胡（一兩四錢）　人參（五錢）　半夏（七錢）　生薑（五錢）　大棗（六枚）　龍骨（五錢）　牡蠣（七錢）　桂枝（五錢）　茯苓（五錢）　鉛丹（五錢）　大黃（三錢五分）</p>
<p>加八杯，煎四杯，入大黃，切如棋子，煮一二沸，去渣，溫服一杯。</p>

<h3>少陽壞病入太陰證</h3>

<h4>汗下後寒濕發黃</h4>
<p>傷寒六七日，已經發汗，而復下之，土敗胃逆，膽木壅遏，以致胸脅滿結，小便不利，煩渴不嘔，往來寒熱，但頭上汗出，此上熱中寒，外顯少陽陽明之郁沖，內隱太陰厥陰之滯陷。宜柴胡桂枝幹薑湯，柴胡、黃芩，清相火而降煩熱，牡蠣、栝蔞，消滿結而解煩渴，薑、甘，溫中而培土，桂枝疏木而達郁也。</p>
<p>若得病六七日，脈遲而浮弱，外惡風寒，手足溫暖，是太陽中風，欲傳太陰之臟也。醫反二三下之，敗其胃氣，不能飲食，而少陽不降，脅下滿痛，筋脈不榮，頭項強直，土濕木遏，小便不利，面目身體悉發黃色，此陰盛陽虛，膽胃郁沖，肝脾滯陷。一與柴胡湯，寒瀉肝脾，清氣愈陷，後必下重。</p>
<p>凡渴而飲水即嘔者，便是太陰濕旺，柴胡湯不中與也。飲水嘔者，食谷必噦，以其胃氣之敗也。</p>
<p><u>柴胡桂枝幹薑湯</u>　七十四</p>
<p>柴胡（二兩八錢）　黃芩（一兩）　甘草（七錢）　桂枝（一兩）　乾薑（一兩）　牡蠣（一兩）　栝蔞根（一兩四錢）</p>
<p>水十二杯，煎六杯，去渣，再煎三杯，溫服一杯，日三服。初服微煩，復服汗出愈。</p>

<h3>少陽壞病結胸痞證</h3>

<h4>誤下成結胸</h4>
<p>太陽與少陽並病，頭項強痛，或相火升浮，而生眩冒，時如結胸，心下痞硬者，此少陽陽明之經上逆而壅塞也，當刺肺俞、肝俞，散其鬱結，慎勿發汗，汗亡津液，則相火燔騰，而生譫語，血枯木燥，而脈弦硬。若五六日，譫語不止，宜刺期門，以瀉厥陰，肝膽同氣，瀉肝即所以瀉膽也。汗既不可，下亦非宜，汗下傷中，甲木沖逆，此結胸之由來也。</p>
<p>若太陽少陽並病，而反下之，致成結胸，心下硬滿，泄利不止，水漿不下，此少陽經氣上逆而迫束陽明之腑也。相火升炎，其人必苦必煩。凡傷寒十餘日，結熱在裡，而有陽明腑證，復往來寒熱，而有少陽經證，宜大柴胡湯，雙解表裡。若但有結胸，而外無大熱者，此為停水結在胸脅也，觀其頭上微汗出者，是水飲阻格，陽氣升泄於上，宜大陷胸湯，瀉其濕熱也。（方在「太陽」）</p>

<h4>誤下成痞</h4>
<p>傷寒五六日，嘔而發熱者，柴胡湯證具備，而誤以他藥下之，若柴胡證仍在者，復與柴胡湯，必蒸蒸振慄，發熱汗出而解，此雖是誤下，未為逆也。若心下硬滿疼痛者，此為下早而成結胸也，宜服大陷胸湯（方在「太陽」）。若但硬滿而不痛者，此為誤下而成痞也，宜半夏瀉心湯，半夏降逆，芩、連清上，薑、棗、參、甘，溫補中氣也。</p>
<p><u>半夏瀉心湯</u>　七十五</p>
<p>半夏（一兩七錢）　人參（一兩）　乾薑（一兩）　甘草（一兩）　大棗（十二枚）　黃芩（一兩）　黃連（三錢五分）</p>
<p>水十杯，煎六杯，去渣，再煎三杯，溫服一杯，日三服。</p>

<h1>卷八</h1>

<h2>太陰經</h2>

<h3>提綱</h3>
<p>太陰以濕土主令，其經起足大指，循內踝，入腹上膈，挾咽喉而連舌本。太陰為三陰之長，太陽經病不解，營衛內郁，自陽明而少陽，四日必傳太陰之經。若臟陰素旺，則不拘何日，自經入臟。入臟則必須溫里，解表不能愈矣。</p>
<p>仲景立太陰及少厥之篇，皆入臟之裡證，非四五六日之經病也。</p>

<h3>痛滿吐利</h3>
<p>太陰與陽明為表裡，而升降不同，燥濕異性。燥不偏盛，則陽明右降而化濁陰，濕不偏盛，則太陰左升而化清陽，表裡勻平，是以不病。陽明病則胃燥而氣逆，故多嘔吐，太陰病則脾濕而氣陷，故多泄利。以脾陷而肝氣不達，郁迫擊沖，是以痛滿而泄利。脾肝鬱陷，則胃膽上逆，是以嘔吐而不食。陽明胃病之吐利，緣燥熱之郁，太陰脾病之吐利，因濕寒之旺。若下之，陽亡土敗，胃氣愈逆，阻格少陽降路，痞塞不開，必胸下結硬。陽明下早，陽陷於胸膈，為陰氣所阻，則成結胸，太陰誤下，陰逆於心下，為陽氣所拒，則為痞證也。</p>

<h3>太陰四逆湯證</h3>
<p>太陰病，自太陽傳來，其脈浮者，表證未解，可以發汗，宜桂枝湯（方在「太陽」）。若發熱頭痛，身體疼痛，是太陽表證未解，法宜桂枝，乃脈反見沉，便是太陰臟病，當溫其里，宜四逆湯，甘草培土，乾薑、附子，溫中而暖下也。</p>
<p>凡下利清穀，則病已入里，不可發汗，汗之陽亡土敗，濕旺木鬱，必生脹滿也。下利脹滿，有里證者，不可發表，身體疼痛，有表證者，亦當溫里。非表病可以不解也，若身體疼痛，而下利脹滿，表裡皆病，當先溫其里，後攻其表，溫里宜四逆湯，攻表宜桂枝湯也。</p>
<p>陽明泄利，津液失亡，多病燥渴，若自利而不渴者，則屬太陰臟病，以其臟有寒故也，法當溫之，宜四逆輩。水泛土濕，少陰之寒，傳於太陰，故脾臟有寒也。</p>
<p><u>四逆湯</u>　七十六</p>
<p>甘草（七錢，炙）　乾薑（三錢五分）　附子（一枚，生用，去皮，破八片）</p>
<p>水三杯，煎半杯，溫服。強人可大附子一枚、乾薑一兩。</p>

<h3>腹痛腹滿</h3>
<p>傷寒，胸中有熱，腹中有肝膽之邪，肝邪克脾，則腹中疼痛，膽邪克胃，則欲作嘔吐，是中脘虛寒，肝脾下陷而膽胃上逆，相火鬱升而生上熱也，宜黃連湯，黃連清上逆之相火，桂枝達下陷之風木，乾薑溫脾家之寒，半夏降胃氣之逆，參、甘、大棗，補中脘之虛也。</p>
<p>若本太陽之表病，醫不解表，而反下之，土虛木賊，因而腹滿時痛者，是屬太陰臟病，宜桂枝加芍藥湯，桂枝達肝氣之郁，芍藥清風木之燥也。其大實痛者，風木賊土，鬱結成實，宜桂枝加大黃湯，瀉其土鬱也。</p>
<p>太陰為病，而脈候軟弱，便是脾陽之虛，其人續當自行便利，設當用大黃、芍藥者，宜減之，以其胃氣虛弱而易動也。</p>
<p><u>黃連湯</u>　七十七</p>
<p>黃連（一兩）　桂枝（一兩）　甘草（一兩）　乾薑（一兩）　人參（七錢）　半夏（一兩七錢）　大棗（十二枚）</p>
<p>水十杯，煎六杯，去渣，再煎三杯，溫服一杯，日一夜二服。</p>
<p><u>桂枝加芍藥湯</u>　七十八</p>
<p>桂枝（一兩）　甘草（七錢）　生薑（一兩）　大棗（十二枚）　芍藥（二兩）</p>
<p>煎服如桂枝湯法。</p>
<p><u>桂枝加大黃湯</u>　七十九</p>
<p>桂枝（一兩）　甘草（七錢）　生薑（一兩）　大棗（十二枚）　芍藥（二兩）　大黃（三錢五分）</p>
<p>水七杯，煎三杯，溫服一杯，日三服。</p>

<h3>發黃</h3>
<p>傷寒，脈浮而緩，手足自溫者，是謂太陰臟證。太陰濕土，為表邪所閉，身當發黃。若小便自利者，濕隨便去，則不能發黃，此是脾陽未衰，至七八日間，雖見太陰自利之證，必當自止。以脾家內實，腐穢不容，當後泄而去，非自利益甚之證也。</p>
<p>若傷寒七八日，身黃如橘子色，小便不利，腹微滿者，是濕無泄路，瘀而生熱，宜茵陳蒿湯，瀉其濕熱也。凡傷寒瘀熱在裡，身必發黃，以木主五色，入土化黃，土濕則木鬱，木鬱於土，必發黃色，宜麻黃連翹赤小豆湯，外瀉皮毛而內瀉濕熱也。若傷寒，身黃而發熱者，是瘀熱之在表也，宜梔子柏皮湯，清表中之濕熱也。</p>
<p>若傷寒發汗之後，身目皆黃，則是濕寒而非表熱，以汗則熱泄故也。此慎不可下，宜用溫燥之藥也。</p>
<p><u>茵陳蒿湯</u>　八十</p>
<p>茵陳蒿（二兩）　梔子（十四枚）　大黃（七錢，去皮）</p>
<p>水十杯，先煮茵陳，減六杯，入二味，煎三杯，分溫三服。小便當利，尿如皂角汁狀，色正赤，一宿腹減，黃從小便去矣。</p>
<p><u>麻黃連翹赤小豆湯</u>　八十一</p>
<p>麻黃（七錢）　生薑（七錢）　甘草（三錢五分）　大棗（十二枚）　杏仁（四十枚）　連翹（七錢，用根）　赤小豆（一杯）　生梓白皮（三錢）</p>
<p>清水十杯，先煮麻黃，去沫，入諸藥，煎三杯，分溫三服，半日盡。</p>
<p><u>梔子柏皮湯</u>　八十二</p>
<p>梔子（十五枚）　甘草（三錢五分）　黃柏皮（三錢五分）</p>
<p>水四杯，煎杯半，分溫三服。</p>

<h1>卷九</h1>

<h2>少陰經</h2>

<h3>提綱</h3>
<p>少陰從君火化氣，其經起足小指，走足心，循內踝，貫脊上膈，入肺中，循喉嚨而挾舌本。太陽經病不解，自表傳裡，以至陽明、少陽、太陰，五日則傳少陰之經。但傳少陰之經，不入少陰之臟，此陽之不衰、陰之非盛者，陰盛則自經而入臟，不化氣於君火，而化氣於寒水。蓋少陰一氣，水火同宮，病則水勝而火負，故第有癸水之寒，而無丁火之熱。陽虧陰旺，死灰不燃，是以脈沉細而欲寐，體蜷臥而惡寒也。</p>

<h3>少陰連太陽經證</h3>
<p>少陰水臟，病則脈沉而惡寒，若始得之時，脈已見沉而反覺發熱者，是少陰臟病而太陽經證未解也，宜麻黃附子細辛湯，麻黃散太陽之經，附子溫少陰之臟，細辛降腎氣之逆也。</p>
<p>凡少陰病，得之二三日內，表證未解者，宜麻黃附子甘草湯，微發其汗。以二三日裡證未成，而表證未解，則臟陰愈鬱而愈盛，故以附子暖其水，甘草培其土，麻黃髮微汗以解表也。</p>
<p><u>麻黃附子細辛湯</u>　八十三</p>
<p>麻黃（七錢）　細辛（七錢）　附子（一枚，炮，去皮，破八片）</p>
<p>水十杯，先煮麻黃，減二杯，去沫，入諸藥，煎三杯，溫服一杯，日三服。</p>
<p><u>麻黃附子甘草湯</u>　八十四</p>
<p>麻黃（七錢）　甘草（七錢）　附子（一枚，炮）</p>
<p>水七杯，先煮麻黃，去沫，入諸藥，煎三杯，溫服一杯，日三服。</p>

<h3>誤汗亡陽</h3>
<p>凡少陰病，脈見微細，則經陽虛弱，不可發汗，汗則亡陽故也。陽虛於經，而尺脈弱澀者，則陽虛於臟，復不可下之也。</p>
<p>若少陰病，咳嗽而譫語者，此被火氣逼劫，汗亡腎陽，下寒而上熱故也。陽敗濕增，木鬱不能疏泄，小便必難，以強責少陰之汗也。</p>
<p>若少陰病，但手足厥逆，無汗而強發之，必動其血。血來不知從何道出，或從口鼻，或從目出，是名下厥上竭，至為難治。以陽從汗亡，復自血脫，竭盡無餘，未易挽救也。</p>

<h3>少陰里證</h3>
<p>少陰病，脈微細沉數，此裡氣之實，不可發汗。凡一見脈沉，當急溫之，宜四逆湯也（方在「太陰」）。</p>
<p>若脈既沉矣，再兼身體疼，骨節痛，手足寒冷者，是水勝而土負，宜附子湯，參、甘，補中而培土，苓、附，瀉濕而溫寒，芍藥清風木而斂相火也。若病得二三日，口中清和，無土勝水負口燥咽乾之證，而其背惡寒者，是寒水之旺，以太陽、少陰同行脊背，亦宜附子湯，補火土而瀉水也。</p>
<p>少陰以癸水而化君火，病則不化君火而化寒水，火盛則生土而剋水，水盛則滅火而侮土。陽明病者，燥土剋水，宜用承氣，太陰病者，寒水侮土，宜用真武，以水之流濕，其性然也。故少陰負而陽明勝則為順，少陰勝而太陰負則為逆。土旺於四季，少陰之手足逆冷者，水勝土負，脾胃寒濕，不能行氣於四肢也。</p>
<p><u>附子湯</u>　八十五</p>
<p>附子（二枚）　茯苓（一兩）　人參（七錢）　白朮（一兩四錢）　芍藥（一兩）</p>
<p>水八杯，煎三杯，溫服一杯，日三服。</p>

<h3>咽痛</h3>
<p>病人脈尺寸俱緊，是表裡皆實，法當無汗，而反汗出者，陽亡而不守也，此屬少陰臟病，必當咽痛而復吐利。以少陰水旺土濕，升降倒行，胃逆而賊於甲木，則為嘔吐，脾陷而賊於乙木，則為泄利，甲木上衝，濁氣壅塞，是以咽痛也。</p>
<p>凡少陰病二三日咽痛者，可與甘草湯，瀉熱而緩迫急也。不差者，與桔梗湯，散結而下衝逆也。咽喉疼痛，率緣濁氣衝逆不降，宜半夏散，半夏降其濁，桂枝下其沖也。若咽喉生瘡，不能語言，聲音不出者，是濁氣衝逆，傷其上竅也，宜苦酒湯，半夏降其濁，苦酒消其腫，雞子發其聲音也。</p>
<p>若上病咽痛，下病泄利，胸滿而心煩者，以膽胃不上逆，故咽痛胸滿，肝脾下陷，故泄利。宜豬膚湯，豬膚、白蜜，潤燥而除煩，清熱而止痛，白粉收滑脫而止泄利也。</p>
<p><u>甘草湯</u>　八十六</p>
<p>甘草（七錢，生）</p>
<p>水三杯，煎杯半，溫服一半，日二服。</p>
<p><u>桔梗湯</u>　八十七</p>
<p>桔梗（三錢五分）　甘草（七錢）</p>
<p>水三杯，煎一杯，分溫再服。</p>
<p><u>半夏散</u>　八十八</p>
<p>半夏　桂枝　甘草（等分）</p>
<p>研和，飲服方寸匕，日三服。不能服散，用水一杯，煎七沸，入散一兩方寸匕，煎三沸，下火小冷，少少與服。</p>
<p><u>苦酒湯</u>　八十九</p>
<p>半夏（研）　雞子（一枚，去黃，入苦酒）</p>
<p>半夏調苦酒，入雞子殼中，置刀環內，安火上，令三沸，少少含咽。不差，更服，至三劑必愈。</p>
<p><u>豬膚湯</u>　九十</p>
<p>豬膚（五兩六錢）</p>
<p>水十杯，煎五杯，去渣，入白蜜一杯，白粉一兩七錢，熬香，調和相得，溫分二服。豬膚即豬皮。白粉即鉛粉。</p>

<h3>吐利</h3>
<p>少陰病，飲食入口即吐，心中溫溫欲吐，復不能吐，其始得之時，手足寒冷，脈候弦遲者，此有痰涎在胸，故食入即吐，而腐敗纏綿，復欲吐不能，緣陽衰土濕，故四肢寒冷，木鬱不發，故脈候弦遲，敗濁在上，不可下也，法當吐之。</p>
<p>若膈上有寒飲，乾嘔者，陽敗胃逆，不可吐也，急當溫之，宜四逆湯也。</p>
<p>凡欲吐不吐，心煩欲寐，五六日後，自利而渴者，此屬少陰臟病也。泄利亡津，故引水自救。若小便色白者，則少陰病形悉具，以陽亡土敗，不能制水，下焦虛寒，故令小便白而不黃也。</p>
<p>若少陰病，上吐下利，手足厥冷，煩躁欲死者，是陽虛土敗，脾陷胃逆，神氣離根，擾亂不寧，宜吳茱萸湯，溫中補土，升降清濁也。</p>
<p>若少陰病，二三日不已，以至四五日，腹痛，小便不利，四肢沉重疼痛，自下利者，此陽衰土濕，不能蒸水化氣，水穀並下，注於二腸。脾土濕陷，抑遏乙木升達之氣，木鬱欲泄，而水道不通，故後沖二腸，而為泄利。木氣梗塞，不得順行，故攻突而為痛。四肢秉氣於脾土，陽衰濕旺，流於關節，四肢無陽和之氣，濁陰凝滯，故沉重疼痛。其人或咳或嘔，小便或利或不利，總是少陰寒水侵侮脾胃之故。宜真武湯，茯苓、附子，瀉水而驅寒，白朮、生薑，培土而止嘔，芍藥清風木而止腹痛也。</p>
<p><u>真武湯</u>　九十一</p>
<p>茯苓（一兩）　白朮（七錢）　附子（一枚，炮）　芍藥（一兩）　生薑（一兩）</p>
<p>水八杯，煎二杯，溫服大半杯，日三服。若咳者，加五味子一兩七錢，細辛、乾薑各三錢五分。若小便利者，去茯苓。若下利者，去芍藥，加乾薑七錢。若嘔者，去附子，加生薑共前二兩八錢。</p>

<h3>下利</h3>
<p>少陰病，其脈微澀，嘔而汗出者，必病下利，以胃逆則嘔，胃逆則陽泄而不藏，是以汗出，胃逆為嘔，則脾陷為利，利亡肝脾之陽，是以脈澀。此法當泄利不止，而乃泄利反少者，是脾陽漸復，不必溫下，當溫其上，緣其過嘔傷胃，汗出陽亡也，宜灸之以回胃陽。</p>
<p>若少陰下利六七日，咳嘔並作，燥渴心煩，不得眠睡，是陽衰土濕，肝脾郁陷，下為泄利，膽胃沖逆，上為咳嘔煩渴，眠食俱廢。宜豬苓湯，二苓、滑、澤，瀉水而燥土，阿膠滋木而清風也。</p>
<p>若四肢逆冷，或咳或悸，或小便不利，或腹中疼痛，或泄利下重者，是水土濕寒，木鬱欲泄。宜四逆散，甘草、枳實，補中而瀉土鬱，柴胡、芍藥，疏木而清風燥也。</p>
<p><u>四逆散</u>　九十二</p>
<p>甘草　枳實（破，水浸，炙）　柴胡　芍藥（等分）</p>
<p>研，飲服方寸匕，日三服。若咳者，加五味子、乾薑各十分之五，並主下利。悸者，加桂枝十分之五。小便不利者，加茯苓十分之五。腹中痛者，加附子一枚，炮。泄利下重者，用水五杯，入薤白汁三杯，煮取三杯，以散方寸匕入湯中，煮取杯半，分溫再服。</p>

<h3>下利脈微</h3>
<p>少陰病，下利清穀，手足厥逆，脈微欲絕，裡寒外熱，身反不惡寒，面發赤色，是水寒土濕，經陽微弱，鬱而不通也，其人或腹痛，或咽痛，或乾嘔，或利止脈不出者，宜通脈四逆湯，薑、甘，溫中補土，附子暖水回陽。服之其脈即出者，寒濕內消，經陽外達，其病必愈也。</p>
<p>下利脈微者，陽虛脾陷，經氣不通也，宜白通湯，薑、附，溫中下而回陽，蔥白通經絡而復脈也。</p>
<p>若下利脈微者，與白通湯，下利不止，厥逆無脈，乾嘔而心煩者，此水寒土濕，脾陷胃逆，經脈不通，而膽火上炎也，宜白通加豬膽汁湯，薑、附回陽，蔥白通經，人尿、豬膽，清其上炎之相火。服湯後脈暴出者死，陽氣絕根而外脫也，脈微續者生，陽氣未斷而徐回也。</p>
<p><u>通脈四逆湯</u>　九十三</p>
<p>甘草（一兩）　乾薑（一兩，強人可一兩四錢）　附子（大者一枚，生用）</p>
<p>水三杯，煎杯半，分溫二服。面色赤者，加蔥九莖。腹中痛者，去蔥，加芍藥七錢。嘔者，加生薑七錢。咽痛者，去芍藥，加桔梗三錢五分。利止脈不出者，去桔梗，加人參三錢五分。</p>
<p><u>白通湯</u>　九十四</p>
<p>蔥白（四支）　乾薑（三錢五分）　附子（一枚，生用，破八片，去皮）</p>
<p>水三杯，煎一杯，分溫二服。</p>
<p><u>白通加豬膽汁湯</u>　九十五</p>
<p>蔥白（四支）　乾薑（三錢五分）　附子（一枚，生用）　人尿（半杯）　豬膽汁（一匙）</p>
<p>水三杯，煎一杯，去渣，入豬膽汁、人尿，和勻，分溫二服。無膽亦可用。</p>

<h3>便膿血</h3>
<p>少陰病二三日，以至四五日，腹痛，小便不利，下利不止，以至日久而便膿血者，此水寒土濕，脾陷肝鬱，而為痛泄，乙木不達，血必下瘀，以血司於肝，溫則升而寒則陷，陷而不流，濕氣鬱腐，故化為膿。宜桃花湯，乾薑溫中，粳米補土，石脂收濕而止泄也。凡少陰病，下利便膿血者，悉因濕寒滑泄，概宜桃花湯也。</p>
<p>少陰水盛，則肢體寒冷，是其常也，若八九日後，忽一身手足盡熱者，此水寒不生肝木，木陷而生鬱熱，傳於膀胱，膀胱失藏，而乙木欲泄，必便血也。</p>
<p><u>桃花湯</u>　九十六</p>
<p>乾薑（一兩）　粳米（一杯）　赤石脂（五兩六錢，一半生用，一半研末）</p>
<p>水九杯，煮米熟，用湯大半杯，入赤石脂末方寸匕，日三服。一服愈，余勿服。</p>

<h3>死證</h3>
<p>少陽病，脈微細沉伏，但欲臥寐，汗出不煩，自欲嘔吐，是水盛火衰，胃逆而陽泄也。至五六日，又見自利，復煩躁不得臥寐者，則脾腎寒泄，陽根上脫，必主死也。若吐利煩躁，再加四肢逆冷者，更無生望也。若四肢逆冷，蜷臥惡寒，其脈不至，不煩而躁者，亦主死也。凡少陰病，蜷臥惡寒而下利，手足逆冷者，皆不治也。若下利雖止，而頭上暈眩，時時昏胃者，此陽氣拔根，欲從上脫，必主死也。若六七日後，漸覺息高者，此陽根已斷，升浮不歸，必主死也。</p>

<h3>陽復</h3>
<p>少陰病，上下吐利，而手足不逆冷，身反發熱者，是中氣未敗，微陽欲復，不至死也。其脈不至者，灸少陰之經穴七壯，以回陽根，或以溫藥暖水通經，則脈至矣。若蜷臥惡寒，時而自煩，欲去衣被者，是陽氣欲復，病可治也。若蜷臥惡寒，下利自止，手足溫暖者，是陽氣來復，病可治也。若寒甚脈緊，至七八日，忽見自利，脈候暴微，緊象反去，手足反溫者，是寒去陽回，保無後慮，雖煩而下利，必能自愈也。</p>

<h3>土勝水負</h3>
<p>少陰腎水，甚不宜旺，旺則滅火而侮土，土勝而水負則生，水勝而土負則死，以陽主生而陰主死也。少陰不病則已，病則水必勝而土必負，凡諸死證，皆死於水邪氾濫，火滅而土敗也。故陽明負於少陰則為逆，少陰負於陽明則為順。</p>
<p>若得之二三日以上，心中煩擾，不得臥寐，是土勝而水負，燥土消其心液也。腎水根於離宮，心液消爍，則陰精枯燥，不能藏神，故火泄而煩生。宜黃連阿膠湯，連、芩、芍藥，瀉火而除煩，雞子、阿膠，澤土而潤燥也。</p>
<p>少陰寒水之臟，無始病濕寒，忽變燥熱之理，此陽明之傷及少陰者也。</p>
<p><u>黃連阿膠湯</u>　九十七</p>
<p>黃連（一兩四錢）　黃芩（三錢五分）　芍藥（七錢）　雞子黃（二枚）　阿膠（一兩）</p>
<p>水五杯，先煎三味，取二杯，去渣，入阿膠，消化，稍冷，入雞子黃，和勻，溫服大半杯，日三服。</p>

<h3>急下三證</h3>
<p>土勝之極，則成下證。若得之二三日，口燥咽乾者，是土燥而水虧，失期不下，水涸則死，當急下之，宜大承氣湯。若自利清水，其色純青，心下疼痛，口中乾燥者，是土燥水虧，傷及肝陰，當急下之，宜大承氣湯。若六七日後，腹脹而不大便者，是土燥水虧，傷及脾陰，當急下之，宜大承氣湯也。</p>
<p>少陰病，水旺火熄，土敗人亡，故少陰宜負而陽明宜勝。但少陰不可太負，陽明不可太勝，太勝則燥土剋水，津液消亡，亦成死證，故當急下。此即陽明之急下三證也，以陽明而傷少陰，故病在陽明，亦在少陰，兩經並載，實非少陰本病也。</p>

<h1>卷十</h1>

<h2>厥陰經</h2>

<h3>提綱</h3>
<p>厥陰以風木主令，其經起足大指，循足跗，由內踝過陰器，抵小腹，上胸膈，布脅肋，循喉嚨之後，連目系，與督脈會於巔。太陽經病不解，日傳一經，以至陽明、少陽、太陰、少陰，六日傳於厥陰之經，六經盡矣。若但傳厥陰之經，不入厥陰之臟，則經盡表解，自能汗愈，緣營衛郁遏，經脈莫容，既無內陷之路，自然外發也。此雖傳厥陰之經，而厥陰之厥熱吐利諸證，則概不發作，其諸證發作者，是臟病而非經病也。入臟則出入莫必，吉凶難料，陰勝則內傳，而傳無定日，陽復則外解，而解無定期，陰勝則為死機，陽復則為生兆，厥熱勝復之間，所關非細也。</p>

<h3>厥陰烏梅丸證</h3>
<p>厥陰風木，生於腎水，而胎君火，水陰而火陽，陰勝則下寒，陽勝則上熱。風動火鬱，津液消亡，則生消渴。木性生髮，水寒土濕，生意抑遏，鬱怒衝擊，則心中疼痛。木賊土敗，脾陷則冒逆，故飢不欲食。食下脹滿不消，胃氣愈逆，是以吐蛔。下之陽亡脾敗，乙木陷泄，則下利不止也。</p>
<p>厥陰陰盛之極，則手足厥逆。厥而吐蛔，是謂蛔厥。傷寒脈緩而厥，至七八日，皮膚寒冷，其人躁擾無暫安之時者，此為臟厥，非蛔厥也。蛔厥者，其人當吐蛔蟲。令病者有時安靜，有時煩亂，此為臟寒，不能安蛔，蛔蟲避寒就溫，上入胸膈，故生煩亂。蛔蟲得溫而安，須臾煩止。及其得食，胃寒不消，氣逆作嘔，衝動蛔蟲，蛔蟲不安，是以又煩，頃則隨吐而出，故當自吐蛔。蛔厥者，宜烏梅丸，烏梅、桂枝，斂肝而疏木，乾薑、細辛，溫胃而降逆，人參補中而培土，當歸滋木而清風，椒、附，暖其寒水，連、柏，瀉其相火也。</p>
<p><u>烏梅丸</u>　又主久利　九十八</p>
<p>烏梅（三百枚）　細辛（二兩）　乾薑（三兩五錢）　人參（二兩）　桂枝（二兩）　當歸（一兩六錢）　蜀椒（一兩四錢）　附子（二兩）　黃連（五兩六錢）　黃柏（二兩）</p>
<p>研細，合勻，醋浸烏梅一宿，去核，用米五碗蓋之，蒸熟，去米，搗爛和藥，入蜜，臼中杵二千下，丸桐子大，食前服十丸，日三服，稍加至二十丸。禁生冷、黏滑、臭穢諸物。</p>

<h3>厥熱勝復</h3>
<p>手足逆冷，則名為厥，其所以厥者，以其陽上而不下，陰下而不上，不相順接之故也，不順則逆，故曰厥逆。蓋四肢秉氣於脾胃，脾冒者，陰陽升降之樞軸，脾升胃降，陰陽交濟，土氣溫和，故四肢不冷，脾胃虛敗，升降失職，腎水下陷，心火上逆，此陰陽分析，不相順接之由也。</p>
<p>厥陰肝木，水火之中氣，陰盛則從母氣而化寒，陽復則從子氣而化熱，心火既復則發熱，心火未復，則腎水方盛而為厥。諸凡四肢厥冷者，是寒水方旺之時，不可下之。他如虛損之家，陽虧陰盛，亦同此法也。</p>
<p>厥陰陰極陽生，陰極則厥，陽復則熱，傷寒一二日，至四五日，陰極而發厥者，此後陽復，必然發熱，及其發熱，則後必又厥，以陰陽之理，不能長勝而無復也。其前之厥深者，後之熱亦深，前之厥微者，後之熱亦微。方其厥之將終而熱之欲作，應當下之，以瀉未炎之火，而反發汗，以傷津血，必心火上炎，而口傷爛赤也。陰勝發厥，原不可下，厥將罷而熱欲來，則又可下，不使寒熱迭發，勝復循環，以傷正氣也。</p>
<p>大抵陰盛而發厥者五日，則陽復而發熱者亦必五日，設至六日，必當復厥，其不厥者，則陰退而自愈，以厥證始終不過五日，今熱又五日，勝復相應，而不見再厥，是以知其必愈也。若發厥四日，熱反三日，後日發厥，復至五日，則其病為進，以其寒多熱少，陽氣退敗，故為病進也。若發熱四日，厥反三日，復熱四日，寒少熱多，陽氣漸長，其病當愈。</p>
<p>陽長陰消，自是吉事，而陽長不可太過，若發熱四日，以至七日，而其熱不除者，是陽氣過長，熱甚之極，必鬱蒸陰分，而便膿血也。</p>

<h3>陰陽消長</h3>
<p>傷寒熱少厥微，其厥第覺指頭寒冷，是熱退而陰復也。但默默不欲飲食，時覺煩躁，此熱猶未除也。遲至數日，小便利而色白者，方是熱除也。除則煩去而欲食，其病為愈。若厥而作嘔，胸脅煩滿者，此甲木之沖逆。甲木既逆，乙木必陷，陷而生風，疏泄失藏，其後必便血也。</p>
<p>熱除則病愈，而不宜全除，如傷寒脈遲，六七日後，反與黃芩湯，盡徹其熱，脈遲為陰盛，今與黃芩湯，復除其熱，腹中寒冷，應不能食，而反能食，此名除中，中氣除根，而居膈上，故暫時能食，必主死也。若其始發熱六日，厥反九日，而下見泄利，是熱少寒多，陰進而陽退也。凡陰盛而厥利者，當不能食，若反能食者，恐為除中。觀其食已索餅，不發暴熱者，知其胃氣尚在，未嘗外除，必當自愈。蓋厥利而能食，必是陽復而發熱。陽復之熱，續在而不去，除中之熱，暴來而暴去。恐其厥後之熱暴來而復暴去，便是除中之病，迨後三日脈之，其熱續在者，是前非暴來而後非暴去，期之旦日夜半必愈。以先發熱六日，後厥反九日，復發熱三日，並先之發熱六日，亦為九日，厥熱勻平，日期相應，此陽已長而陰不進，故期之旦日夜半愈。若後三日脈之，而脈仍見數，其熱不罷者，此陽長之太過，熱氣有餘，必鬱蒸血肉，而發癰膿也。</p>
<p>凡見厥逆，必病下利，後見發熱，則陽複利止，再見厥逆，必當複利。若厥逆之後，發熱利止，陽復當愈，而反汗出咽痛者，此陽復之太過，內熱鬱蒸，外開皮毛，而上衝喉嚨，其喉必痹塞也。</p>
<p>若發熱無汗，是陽不上行，下焦溫暖，利必自止。若下利不止，是陽復之太過，積熱下郁，必傷陰分，而便膿血。便膿血者，熱不上衝，其喉不痹也。</p>

<h3>陰勝</h3>
<p>傷寒脈促，手足厥逆者，血寒經郁，宜灸之，以通經而暖血也。若手足厥冷而脈細欲絕者，營血寒澀而經絡凝滯也，宜當歸四逆湯，甘草、大棗，補其脾精，當歸、芍藥，滋其營血，桂、辛、通草，行其經絡也。若其人內有久寒者，則病不止於經絡，而根實由於臟腑，宜當歸四逆加吳茱萸生薑湯，溫凝寒而行滯氣也。</p>
<p>若手足厥冷，心下煩滿，飢不能食，而脈乍緊者，此敗濁結在胸中。以陽衰土濕，胃氣上逆，肺津堙郁，而化痰涎，濁氣壅塞，上脘不開，故心下煩滿，飢不能食。當吐其敗濁，宜瓜蒂散也（方在「太陽」）。</p>
<p>若手足厥冷，胸膈不結，而少腹脹滿，按之疼痛者，此積冷之邪，結在膀胱關元也。</p>
<p>若傷寒五六日，上不結胸，而下亦腹濡，此內無冷結，乃脈虛而復厥逆者。此經血亡失，溫氣消滅，下之溫氣無餘，則人死矣。</p>
<p><u>當歸四逆湯</u>　九十九</p>
<p>當歸（一兩）　芍藥（一兩）　桂枝（一兩）　細辛（七錢）　通草（七錢）　甘草（七錢）　大棗（二十五枚）</p>
<p>水八杯，煎三杯，溫服一杯，日三服。</p>
<p><u>當歸四逆加吳茱萸生薑湯</u>　一百</p>
<p>當歸（一兩）　芍藥（一兩）　桂枝（一兩）　細辛（七錢）　通草（七錢）　甘草（七錢）　大棗（二十五枚）　吳茱萸（三兩四錢）　生薑（二兩八錢）</p>
<p>水六杯，清酒六杯，煎五杯，分溫五服。</p>

<h3>泄利</h3>
<p>傷寒手足厥逆，而心下悸動者，是水阻胃口，陽氣不降也。當先治其水，宜茯苓甘草湯，瀉水培土，乃治其厥。不然水漬入胃，土濕木鬱，疏泄後門，必作泄利也。</p>
<p>若傷寒四五日，腹中疼痛，此脾土濕陷，肝木鬱沖。如氣轉雷鳴而下趨少腹者，此木鬱不能上達，下衝後門，必作泄利也。</p>
<p>泄利之證，水寒土濕，木鬱不達。脈候弦大者，陽氣之虛也，此以下泄脾陽，而遏肝氣之故。設再兼浮革，因而腸鳴者，此利泄肝脾之陽，血冷木枯，鬱結不榮，宜當歸四逆，溫營血而達木鬱。蓋血藏於肝，其性溫升，利亡血中溫氣，升意不遂，故浮大虛空，如鼓上之皮也。</p>
<p>若大汗或大下，泄利而厥冷者，陽亡土敗，木鬱後泄，宜四逆湯，以回陽氣也。（方在太陰。）若大汗出後，外熱不去，腹內拘急，四肢疼痛，又泄利清穀，厥逆惡寒者，此亦陽亡土敗，木鬱後泄，宜四逆湯，以回陽氣也。</p>
<p>若下利清穀，裡寒外熱，汗出而厥逆者，此陽亡於裡而外鬱於經，宜通脈四逆，通經而回陽也。</p>
<p>若發熱而見厥逆，至於七日，微陽不復，而再加下利者，陽氣敗泄，此為難治也。</p>

<h3>嘔吐</h3>
<p>傷寒傳厥陰之臟，水寒土濕，木鬱後泄，必自下利。醫復吐下，以亡其陽，寒邪中格，肝脾已陷而為利，膽胃更逆而為吐，甚至飲食入口即吐者，此甲木逆行，相火升炎，而上熱也。宜乾薑黃連黃芩人參湯，參、姜，補中而溫寒，芩、連，清上而瀉熱也。</p>
<p>若無物乾嘔，吐涎沫而頭痛者，是中寒胃逆，濁氣上湧，而津液凝滯也。宜吳茱萸湯，溫中補土，降逆而止嘔也。</p>
<p>若嘔家有癰膿者，是癰膿腐敗，動其噁心。不必治嘔，癰平膿盡，自然愈也。</p>
<p>若傷寒六七日，大下之後，寸脈沉遲，尺脈不至，咽喉不利，嘔吐膿血，手足厥逆，泄利不止者，是下傷中氣，風木鬱陷，賊脾土而為泄利，相火沖逆，刑肺金而為膿血，此最難治。宜麻黃升麻湯，薑、甘、苓、術，溫燥水土，石膏、知母、天冬、萎蕤，清潤燥金，當歸、芍藥、桂枝、黃芩，滋榮風木，升麻利其咽喉，麻黃瀉其皮毛也。</p>
<p>凡嘔而脈弱，身有微熱，四肢厥逆，而小便複利者，此土敗胃逆，微陽不歸，最為難治。宜四逆湯，以溫中下也。</p>
<p><u>乾薑黃連黃芩人參湯</u>　一百一</p>
<p>乾薑（一兩）　人參（一兩）　黃連（一兩，去須）　黃芩（一兩）</p>
<p>水六杯，煎二杯，分溫再服。</p>
<p><u>麻黃升麻湯</u>　一百二</p>
<p>麻黃（四錢）　升麻（四錢）　萎蕤（二錢五分）　石膏（八分，碎，綿裹）　知母（二錢五分）　天冬（八分，去心）　當歸（四錢）　芍藥（八分）　黃芩（二錢五分）　桂枝（八分）　白朮（八分）　茯苓（八分）　甘草（八分）　乾薑（八分）</p>
<p>水十杯，煎五杯，分溫三服，相去如煮一斗米頃服盡。汗出愈。</p>

<h3>死證</h3>
<p>傷寒發熱而下利，厥逆不止者，土敗木賊，中氣脫陷，必主死也。若傷寒六七日不利，忽發熱下利，汗出不止者，表裡脫亡，微陽消滅，必主死也。若厥逆下利，而發熱躁煩，不得臥寐者，微陽脫泄，必主死也。若厥逆下利，而脈又微細，或按之絕無，灸之手足不溫與脈不還，反煩躁，或微喘者，是陷者不舉而逆者不回，中氣斷絕，必主死也。若厥逆下利，利後脈絕，倘晬時脈還，而手足溫者，陽氣欲復，其人可生，如脈絕不還，手足不溫，則陽無復機，必主死也。若下利日十餘行，陽敗陰長，其脈當虛，而反實者，是胃氣消亡，厥陰真臟脈見，必主死也。</p>

<h3>陽復</h3>
<p>下利脈沉而弦者，是肝氣之郁陷，必主下重。若沉弦而大者，是木陷而下郁，其下利未能止也。若脈微弱而數者，是肝邪將退而脾陽欲復，利將自止也，雖陽浮而見發熱，然內有復機，不至死也。</p>
<p>若下利清穀，脈沉而遲，是陰勝陽負。乃面色少赤，身有微熱，是陽氣欲復，陷於重陰之內，力弱不能遽發，鬱於皮腠，是以身熱而面赤。陽氣欲通，而陰邪障蔽，不令其通，陰陽搏戰，必將鬱冒昏迷，而後蓄極而通，汗出而利止也。方其鬱冒欲汗之時，必微見厥逆。以面赤是為戴陽，戴陽者，陽根下虛，不能透發，群陰外蔽，故四肢逆冷也。</p>
<p>凡下利脈數，有微熱而汗出，此陽氣升發，可令自愈。設脈復緊者，則陰邪蔽束，其利未解也。若下利脈數，而內燥發渴者，此陽回濕去，可令自愈。設下利不止，則陽回而熱陷，必便膿血，以其鬱熱傷陰故也。若下利而寸脈浮數，是陽氣已復而過旺，尺中自澀，是肝脈郁陷而蒸腐，必便膿血也。凡下利身有微熱而又發渴燥者，是陽回而濕去。若脈復微弱，而不甚數大，此必無熱過而便膿血之理，可令自愈也。</p>
<p>下利而渴，欲飲水者，以其陽回而有熱也，宜白頭翁湯，白頭翁瀉其相火，黃連瀉其君火，黃柏、秦皮，清其肝火也。大抵厥陰之病，渴欲飲水者，皆陽復而熱生，可少少與水，滋其乾燥，自能愈也。若熱利下重者，則肝木鬱陷，而生下熱，宜白頭翁湯，清其肝火也。</p>
<p>若下利而譫語者，是木鬱生熱，傳於胃腑，燥矢下阻，胃熱莫泄，燥熱熏心，神明擾亂，故作譫語，宜小承氣湯，下其燥矢也。（方在「陽明」）</p>
<p>若下利之後，更覺心煩，按之而心下柔濡者，此胃無燥矢，清氣堙郁，而生虛煩也，宜梔子豉湯，吐其瘀濁，則煩去矣。（方在「太陽」）</p>
<p><u>白頭翁湯</u>　一百三</p>
<p>白頭翁（一兩）　黃連（一兩）　黃柏（一兩）　秦皮（一兩）　　水七杯，煎二杯，溫服一杯。不愈，再服。</p>
