<header data-type="book">
<h1>金匱鉤玄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>朱震亨</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM036</dd></div>
</dl>
</header>
<h2>金匱鉤玄卷一  元  丹溪朱震亨著，門人戴元禮錄。</h2>
<h3>中風。</h3>
<p>大率主血虛，有痰以治痰為先，或虛挾火與濕，亦有死血留滯者，外中於風者，亦有中氣者，當從痰治，順氣化痰，若口開手撒，眼合遺尿，吐沬直視，喉如鼾睡，肉脫筋痛者，皆不治。</p>
<p>半身不遂，大率多痰在左屬死血無血，在右屬痰有熱氣虛。</p>
<p>病若在左者，四物湯等加桃仁紅花竹瀝薑汁，在右者二陳湯四君子等，加竹瀝薑汁。</p>
<p>痰壅盛者，口眼喎斜者，不能言者，皆當吐。</p>
<p>吐法輕用瓜蒂⿰魚叚汁皂角，重用藜蘆半錢，或三分加麝香灌入鼻內，或口內吐痰出，一吐不已再吐之，亦有虛而不可吐者。</p>
<p>氣虛卒倒，參耆補之。</p>
<p>氣虛有痰，濃參湯合竹瀝薑汁。</p>
<p>血虛宜四物湯，俱用薑汁炒，恐泥痰，再加竹瀝薑汁入內服，能食者，去竹瀝加荊瀝。</p>
<p>又法以豬牙皂角白礬等分為末，薑湯調下，名稀涎散。</p>
<p>血虛者四物湯補之，挾痰者亦用薑汁竹瀝。</p>
<p>脈訣內言，諸不治，證見則不可治，筋枯者不治，舉動則筋痛者是筋枯，以其無血滋潤故也。</p>
<p>治痰氣實能食用荊瀝，氣虛少食用竹瀝。</p>
<p>此二味用開經絡，行血氣入四物湯中必用薑汁助之。</p>
<p>肥白人多濕，少用附子烏頭行經。</p>
<p>初昏倒急，掐人中至醒，然後用去痰藥，二陳湯，四物四君子等湯加減用。</p>
<h3>六鬱。</h3>
<p>戴云：鬱者，結聚而不得發越也，當升者不得升，當降者不得降，當變化者不得變化也，此為傳化失當，六鬱之病見矣。氣鬱者，胸脇痛，脈沉澀。濕鬱者，周身走痛，或關節痛，遇陰寒則發，脈沉細。痰鬱者，動則即喘，寸口脈沉滑。熱鬱者，瞀，小便赤，脈沉數。血鬱者，四肢無力，能食便紅，脈沉。食鬱者，噯酸，腹飽不能食，人迎脈平和，氣口脈緊盛者是也。</p>
<p>氣血中和萬病不生，一有怫鬱，諸病生焉。</p>
<p>氣鬱，香附子，蒼朮，川芎。</p>
<p>濕，蒼朮，川芎，白芷。</p>
<p>痰，海石，香附，南星，瓜蔞。</p>
<p>熱，青黛，香附，蒼朮，川芎，梔子。</p>
<p>血，桃仁，紅花，青黛，川芎，香附。</p>
<p>食，蒼朮，香附，鍼沙（醋炒），山楂，神麯（炒）。</p>
<p>春加芎，夏加苦參，秋冬加吳茱萸。</p>
<p>越鞠丸。</p>
<p>解諸鬱，又名芎朮丸。</p>
<p>蒼朮，香附，撫芎，神麯，梔子（各等分）。</p>
<p>為末，水丸，如綠豆大。</p>
<p>凡鬱皆在中焦，以蒼朮撫芎開提其氣以升之，假如食在氣，上提其氣則食自降，餘皆倣此。</p>
<h3>癩。</h3>
<p>大風病，是受得天地間殺物之氣，古人謂之癘風者，以其酷烈暴悍可畏耳，人得之者，須分在上在下，夫在上者，以醉仙散取涎血於齒縫中，出在下者，以通天散取惡物陳蟲於穀道中出，取出雖有道路之異，然皆不外乎陽明一經，治此證者須知此意，看其疙瘩與瘡，上先見者，上體多者，在上也，下先見者，下體多者，在下也，上下同得者，在上復在下也，陽明胃經與大腸，無物不受此風之入人也，氣受之，則在上多，血受之，則在下多，血氣俱受之者，上下俱多也。自非醫者神手，病者鐵心，罕有免此，夫從上從下以漸而來者，皆可治。人見其病勢之緩，多忽之，雖按法施治，病已痊可，若不能忌口絕色，皆不免再發，發則終於不能救也。余曾治五人中，間惟一婦人不再發，以其貧甚而且寡，無物可喫也。餘四人，三四年後皆再發。</p>
<p>孫真人云：吾嘗治四五十人，終無一人免於死，非真人不能治，蓋無一人能守禁忌耳，此婦人本病藥外，又服百餘帖加減四物湯半年之上，方得經行十分安愈。</p>
<p>治法在上者醉仙散，在下者通天再造散，後用通神散，及三稜鍼於委中出血，但不能忌口絕房者，不治之也。</p>
<p>醉仙散。</p>
<p>胡麻仁，牛蒡子，蔓荊子，枸杞子（各半兩，為粗末，同炒紫色），白蒺藜，苦參，瓜蔞根，防風（各半兩）。</p>
<p>右八味為細末，每一兩半入輕粉三錢，拌勻，大人一錢，空心，日午臨睡各一服，淡茶調下，五七日間必於齒縫中出臭涎水，渾身覺痛，昏悶如醉，利下惡臭屎為度，量大小虛實加減與之，證候重而急者，須以再造散下之，候補養得還復與此藥喫，須斷鹽醬醋諸般魚肉椒料果子燒炙等物，止可淡粥及淡煮熟時菜食之，茄尚不可食，惟有烏稍蛇，菜花蛇，可以淡酒煮熟食之，以助藥力。</p>
<p>再造散。</p>
<p>鬱金（半兩生用），大黃（一兩炮），皂角刺（一兩黑者大者），白牽牛（頭末六錢半炒半生用之）。</p>
<p>右為末，五錢，臨夜冷酒調下，以淨桶伺候，泄出蟲，如蟲口黑色，乃是多年蟲口。如赤色，是近者。三數日又進一服，直候無蟲，即絕根也。</p>
<h3>寒，主乎溫散。</h3>
<p>有卒中天地之寒氣，有口傷生冷之物。</p>
<p>戴云：此傷寒，謂身受肅殺之氣，口食冰水瓜果冷物之類，病者必脈沉細，手足冷，息微身倦，雖身熱亦不渴，倦言語，或遇熱病誤用此法，輕者至重，重者至死，凡脈數者，或飲水者，或煩燥動搖者，皆是熱病，寒熱二證，若水火也，不可得而同治，誤即殺人，學者慎之。</p>
<h3>傷寒。</h3>
<p>傷寒必須身犯寒氣，口食寒物者，從補中益氣湯中加發散藥，屬內傷者十居八九，邪之所湊，其氣必虛，只用補中益氣湯中從所見之證，出入加減，氣虛熱甚者，少用附子以行參耆之劑，如果氣虛者，方可用此法，已上傷寒治法，可用於南方不宜北。</p>
<h3>暑。</h3>
<p>戴云：暑乃夏月炎暑也，盛熱之氣著人也。有冒，有傷，有中，三者有輕重之分，虛實之辯，或腹痛水瀉者，胃與大腸受之，惡心者，胃口有痰飲也，此二者冒暑也，可用黃連香薷飲，蓋黃連退暑熱，香薷消畜水，或身熱頭疼，躁亂不寧者，身如針刺者，此為熱傷在分肉也，當以解毒白虎湯加柴胡，氣如虛者加人參，或咳嗽發寒熱，盜汗出不止，脈數者，熱在肺經，用清肺湯，柴胡天水散之類，急治則可，遲則不可治矣。或火乘金也，此為中暑，凡治病須要明白辯別，慎勿混同施治，春秋間亦或有之，切莫執一，隨病處方為妙，黃連香薷飲，挾痰加半夏，乘虛加人參黃耆，或清暑益氣湯加減用之。</p>
<h3>注夏，屬陰虛元氣不足。</h3>
<p>戴云：秋初夏末，頭痛腳軟，食少體熱者是也。補中益氣湯去柴胡升麻，加炒黃柏，挾痰止用南星半夏陳皮之類，或生脈散出千金方。</p>
<h3>暑風。</h3>
<p>戴云：暑風者，夏月卒倒，不省人事者是也，有因火者，有因痰者，火，君相二火也，暑，天地二火也，內外合而炎爍，所以卒倒也，痰者，人身之痰飲也，因暑氣入而鼓激，痰飲塞礙心之竅道，則手足不知動躡而卒倒也。此二者皆可吐，內經曰：火鬱則發之，挾火挾痰實者可用吐法，吐即發散也，量其虛實而吐之，吐醒後可用清劑調治之。</p>
<h3>濕。</h3>
<p>戴云：濕有自外入者，有自內出者，必審其方，土之致病，源東南地下多陰雨地濕，凡受必從外入，多自下起以重，腿腳氣者，多治當汗散，久者宜疏通滲泄，西北地高，人多食生冷濕麵，或飲酒後寒氣怫鬱，濕不能越，作腹皮脹痛，甚則水皷脹滿，或通身浮腫如泥，按之不起，此皆自內而出也，辯其元氣多少而通利其二便，責其根在內也，此方土內外亦互相有之，但多少不同，須對證施治，不可執一。</p>
<p>本草蒼朮治濕，上下俱可用。</p>
<p>二陳湯加酒芩羌活蒼朮，散風之藥，行濕最妙。</p>
<h3>內傷。</h3>
<p>內傷病退後，燥渴不解者，有餘熱在肺家，可用參芩甘草少許，薑汁冷服，或茶匙挑薑汁與之，虛者可用人參湯。世之病此者為多，但有挾痰者，有挾外邪者，有熱鬱於內而發者，皆以補元氣為主，看其所挾之病而兼用藥。</p>
<h3>火。</h3>
<p>有可發者二，風寒外來者可發，鬱者可發。</p>
<p>陰虛火動難治，火鬱當發看何經，輕者可降，重則從其性升之實火，可瀉小便，降火極速，凡氣有餘便是火。</p>
<p>火急甚重者必緩之，生甘草。</p>
<p>兼瀉兼緩，人參白朮亦可。</p>
<p>人壯氣實火盛顛狂者可用正治，或硝冰水飲之，人虛火盛狂者，可用生薑湯與之，若投以冰水正治立死，有補陰即火自降者，炒黃柏地黃之類。</p>
<p>山梔子仁大能降火，從小便泄去其性，能屈曲下行降火，人所不知。</p>
<p>凡火盛者，不可驟用涼藥，必用溫散。</p>
<p>又方左金丸</p>
<p>治肝火。</p>
<p>黃連（六兩），茱萸（一兩或半兩）。</p>
<p>水為丸，白湯下五十丸。</p>
<h3>傷風。</h3>
<p>戴云：新咳嗽鼻塞聲重者是也。</p>
<p>屬肺者多，散宜辛溫或辛涼之劑。</p>
<h3>發斑，屬風熱。</h3>
<p>戴云：斑有色點而無頭粒者是，如有頭粒即疹也，風熱挾痰而作，自裏而發於外，通聖散，消息當以微汗而散之，下非理也。</p>
<p>內傷㿀者，胃氣極虛，一身火遊行於外所致，宜補以降之，發㿀似傷寒者，痰熱之病發於外，微汗以散之，下之非理也。</p>
<h3>疹。</h3>
<p>戴云：疹，浮小有頭粒者，是隨出即收，收則又出者是也，非若㿀之無頭粒也，當明辯之。</p>
<p>屬熱與痰，在肺清肺火降痰，或解散出汗，亦有可下者。</p>
<h3>溫病。</h3>
<p>眾人病一般者是也，又謂之天行時疫，有三法宜補宜降宜散。</p>
<p>又方。</p>
<p>大黃，黃芩，黃連，人參，桔梗，防風，蒼朮，滑石，香附，人中黃。</p>
<p>右為末，神麯為丸，每服五七十丸，分氣血痰作湯使，氣虛四君子湯，血虛四物湯，痰多二陳湯送下，如熱甚者可用童子小便送下。</p>
<p>大頭天行病，東垣有方。</p>
<p>羌活，酒芩，大黃（酒蒸）。</p>
<p>冬溫為病，非其時而有其氣者，冬時君子當閉藏而反發泄於外，專用補藥帶表。</p>
<p>又方以竹筒，兩頭留節，中作一竅，納甘草於中，仍以竹木釘閉竅於大糞缸中，浸一月取出，晒乾，專治疫毒。</p>
<h3>瘧，有風，有暑，有食，老瘧，瘧母，痰病。</h3>
<p>老瘧病，係風暑入陰分,在臟用血藥，川芎，撫芎，紅花，當歸，加蒼朮，白朮，白芷，黃柏，甘草煎露一宿，次早服之，無汗，要有汗，散邪為主，帶補，有汗，要無汗，正氣為主，帶散。有瘧母者，用丸藥消導，醋煮鱉甲為君，三稜，蓬朮，香附，隨證加減。</p>
<p>三日一發者，受病一年間發者，受病半年一日一發者，受病一月連二日發者，住一日者，氣血俱受病，一日間一日者，補藥帶表藥，後用瘧丹截之，在陰分者用藥徹起，在陽分方可截之。</p>
<p>又方。</p>
<p>草果，知母，檳榔，烏梅，常山，甘草（炙），川山甲（炮）。</p>
<p>用水酒一大碗，煎至半碗，露一宿，臨發日，前二時溫服，如吐則順之。</p>
<p>截瘧青蒿丸。</p>
<p>青蒿（一兩），冬青葉（二兩），馬鞭草（二兩），官桂（二兩）。</p>
<p>右三葉皆晒乾，秤為末法，丸如胡椒子大，每兩作四服，於當發前一時服盡。</p>
<p>大法暑風必當發汗，夏月多在風涼處歇，遂閉其汗而不泄，因食者從食上治。</p>
<p>瘧而虛者，須先用參朮一二帖，托住其氣，不使下陷，後用他藥，治內傷挾外邪者同法，內必主痰，必以汗解，二陳湯加常山，柴胡，黃芩，草果。</p>
<p>瘧而甚者，發寒熱，頭痛如破，渴而飲水，自汗，可與參耆朮芩連梔子川芎蒼朮半夏等治，久病瘧，二陳湯加川芎，蒼朮，柴胡，葛根，白朮，一補一發。</p>
<h3>咳嗽。</h3>
<p>風寒，火主降火，勞，肺脹，火鬱，痰主降痰，戴云：風寒者，鼻塞聲重惡寒者是也。火者，有聲痰少面赤者是也。勞者，盜汗出，兼痰者，多作寒熱。肺脹者，動則喘滿氣急息重。痰者，嗽動便有痰聲，痰出嗽止，五者大概耳，亦當明其是否也。</p>
<p>風寒，行痰開腠理，二陳湯加麻黃，杏仁，桔梗。</p>
<p>火，降火清金化痰。</p>
<p>勞，四物湯加竹瀝薑汁，必以補陰為主。</p>
<p>肺脹而嗽者，用訶子，青黛，杏仁，訶子，能治肺氣，因火傷極，遂成鬱遏脹滿，取其味酸苦，有收歛降火之功，佐以海蛤粉，香附，瓜蔞，青黛，半夏麯。</p>
<p>食積痰作嗽發熱者，半夏，南星為君，瓜蔞，蘿蔔子為臣，青黛，石鹻為使。</p>
<p>火鬱嗽者，訶子，海石，瓜蔞，青黛，半夏，香附。</p>
<p>咳嗽聲嘶者，此血虛受熱也，用青黛，蛤粉，蜜調服，久嗽風入肺，用鵝管石，雄黃，鬱金，款冬花碾末，和艾，中以生薑一片留舌上炙之，以煙入喉中為度。乾咳嗽者，難治。此係火鬱之證，乃痰鬱火邪在中，用苦梗以開之，下用補陰降火，不已則成勞，倒倉好此證不得志者有之。</p>
<p>嗽而脇痛宜疏肝氣，用青皮等方，在後二陳湯內加南星，香附，青黛，薑汁。</p>
<p>治嗽藥大概多用生薑者，以其辛散也。</p>
<p>上半日嗽多者，屬胃中有火，貝母，石膏，能降胃火，午後嗽多者，此屬陰虛，必用四物湯，加知母，黃柏，先降其火。</p>
<p>五更嗽多者，此胃中有食積，至此時候流入肺金，知母，地骨皮，降肺火。</p>
<p>火氣浮於肺者，不宜用涼藥，用五味，五倍，歛而降之，有痰因火逆上者，先治火，後治其痰也。</p>
<p>肺虛甚者，用參膏，此好色腎虛有之，以生薑，陳皮佐之，大概有痰者，可加痰藥治之。</p>
<p>治嗽多用粟殼，不必疑，但要先去病根，此乃收後之藥也，師云：陰分嗽者，多屬陰虛治之也。</p>
<p>有嗽而肺脹，壅遏不得眠者，難治。</p>
<p>治漱煙筒。</p>
<p>佛且草，款冬花，鵝管石。</p>
<p>右為末，用紙捲燒其煙薰之，或白湯調亦得。</p>
<p>治嗽有痰，天突，肺腧二穴炙。治嗽泄火熱，大瀉肺氣，三椎骨下橫過各一寸半是穴。</p>
<p>嗽春是春升之氣，用清藥，二陳加薄荊之類，夏是火炎上，最重芩連，秋是濕熱傷肺，冬是風寒外來，用藥發散之後，以半夏必逐去痰，庶不再來。</p>
<p>又方治嗽劫藥。</p>
<p>五味子（半兩），五倍子（一錢），甘草（二錢半），風化硝（一錢）。</p>
<p>右為末，以蜜為丸，噙化之。</p>
<h3>痰，脈浮當吐。</h3>
<p>凡治痰用利藥過多，致脾氣下虛，則痰反易生多濕。</p>
<p>濕痰，用蒼朮。</p>
<p>老痰，海石，半夏，瓜蔞子，香附，五倍子。</p>
<p>熱痰，用青黛，黃連。</p>
<p>食積痰，神麯，麥蘗，山楂子。</p>
<p>痰在腸胃間者，可下而愈，痰在經絡中者，非吐不可出，吐法中就有發散之義也。</p>
<p>膈上之痰必用吐之，瀉亦不能去也。</p>
<p>氣實痰熱，結在上者則止，吐難得出，或成塊，或吐咯不出，氣滯兼鬱者，此則難治矣。</p>
<p>膠固者，必用吐之。</p>
<p>吐法兼用牙茶虀水，薑汁醋少許，瓜蔞散少許，加防風桔梗，皆升動其氣便吐也。</p>
<p>吐法用附子尖，桔梗蘆，人參蘆，瓜蒂，砒（不甚用），藜蘆，艾葉，末茶。</p>
<p>右藥此皆自吐，不用手探，但藥但湯皆可吐。</p>
<p>吐法先以布搭膊，勒腰於不通風處行此法。</p>
<p>蘿蔔子半升，擂和，以漿水一碗，瀘去柤，入少油與蜜，旋至半溫服，後以鵝翎探吐，凡用鵝翎，須以桐油浸卻，以皂角水洗去肥，晒乾用之。</p>
<p>又法用蝦帶殼半斤，入醬蔥薑等料物煮汁，先喫蝦後，飲汁以翎勾引吐，必須緊勒肚腹。</p>
<p>二陳湯，一身之痰都能管，如在下加下引藥，如在上加上引藥。</p>
<p>凡人身上中下有塊者，多是痰也，問其平日好食何物，吐下後用藥。</p>
<p>許學士用蒼朮治痰飲成窠囊一邊行，極效，痰挾瘀血遂成窠囊。</p>
<p>痰之清者屬寒，用二陳湯之類。</p>
<p>內傷挾痰必用人參黃耆白朮之屬，多用薑汁傳送，或用半夏之屬，虛甚者，宜加竹瀝。</p>
<p>痰熱者，多挾風，外證為多。</p>
<p>濕者多軟，如身倦而重之類，熱者清之，食積者必用攻之，兼氣虛者用補氣藥補之。</p>
<p>因火盛逆上者，治火為先，白朮黃芩石膏之類，中氣不足則加人參白朮，痰之為物，隨氣升降，無處不到，脾虛者，清中氣，二陳加白朮之類，兼用提藥。</p>
<p>中焦有痰與食積胃氣，賴其所養，卒不便，虛若攻之，盡則虛矣。</p>
<p>眩暈嘈雜，乃火動其痰，用二陳湯加梔子芩蓮類。</p>
<p>噫氣吞酸，此係食鬱有熱，火氣上動，以黃芩為君，南星半夏為臣，橘紅佐之，熱多者，加青黛。</p>
<p>痰在脇下，非白芥子不能達。</p>
<p>痰在皮裏膜外者，非薑汁竹瀝不可達。</p>
<p>痰在膈間，使人顛狂健忘，宜用竹瀝，風痰亦服竹瀝，又能養血，痰在四肢，非竹瀝不開。</p>
<p>痰結核在咽喉，燥不能出入，化痰藥加軟堅鹹藥。</p>
<p>杏仁，海石，桔梗，連翹，瓜蔞仁。</p>
<p>少佐朴硝，以薑汁蜜調丸噙化之。</p>
<p>海粉即海石，熱痰能降，濕痰能燥，結痰能軟，頑痰能消，可入丸子，末子不可入煎藥。</p>
<p>黃芩治熱痰，假以降其熱也。</p>
<p>竹瀝滑痰，非薑汁不能行經絡也。</p>
<p>枳實瀉痰，能衝墻壁，五倍子能治老痰。</p>
<p>小胃丹，治膈上痰熱，風痰濕痰，肩膊諸痛，然能損胃氣，食積痰實者用之，不宜多。</p>
<p>青礞石丸，去濕痰，重在風化硝。</p>
<p>潤下丸，降痰最妙。</p>
<p>陳皮（半斤，去白，以水化鹽半兩，拌陳皮，令得所煮，候乾炒燥，一方不去白），甘草（一兩炙）。</p>
<p>右為末，蒸餅丸，綠豆大，每服三十五丸，溫水下。</p>
<p>油炒半夏，大治濕痰，又治喘，止心痛，粥丸，薑湯下三十丸。</p>
<p>痰方。</p>
<p>黃芩（空心），香附，半夏（薑製），貝母。</p>
<p>已上治濕痰加瓜蔞仁，青黛，作丸子治熱痰。</p>
<p>中和丸。</p>
<p>治濕痰氣熱。</p>
<p>蒼朮，黃芩，香附，半夏（各等分）。</p>
<p>右為末，粥丸。</p>
<p>燥濕痰方，亦治白濁因痰者。</p>
<p>南星（一兩），半夏（一兩），蛤粉（二兩），青黛（為衣）。</p>
<p>右為末，神麯糊丸。</p>
<p>痰嗽方。</p>
<p>黃芩（一兩半酒浸洗），滑石（半兩），貝母（一兩），南星（一兩），風化硝（二錢半），白芥子（半兩去殼）。</p>
<p>右為末，湯浸蒸餅為丸。</p>
<p>導痰湯。</p>
<p>半夏（四兩），南星，橘皮，枳殼，赤茯苓（一兩），甘草（半兩）。</p>
<p>用生薑煎服之。</p>
<p>千緡湯。</p>
<p>半夏（七枚泡製四片破之），皂角（去皮灸一寸二分），甘草（炙一寸），生薑（如指大），煎服之治喘。</p>
<p>治痰方。</p>
<p>南星，半夏，滑石，輕粉（各三錢），巴豆（三十粒）。</p>
<p>右用皂角仁浸濃汁，丸如梧桐子大，每服五十丸。</p>
<p>黃連化痰丸。</p>
<p>黃連（一兩），陳皮（五錢），吳茱萸（酒浸一錢），半夏（一兩五錢）。</p>
<p>右為末，入桃仁二十四箇，研如泥和勻，神麯糊丸，如綠豆大，每服百丸，薑湯送下。</p>
<p>消痰方。</p>
<p>益元散（七錢），吳茱萸（三錢）。</p>
<p>治鬱痰方。</p>
<p>白僵蠶，杏仁，瓜蔞，訶子，貝母。</p>
<h3>喘。</h3>
<p>戴云：有痰喘，有氣急喘，有胃虛喘，有火炎上喘，痰喘者，凡喘便有痰聲，氣急喘者，呼吸急促而無痰聲，有胃虛喘者，抬肩擷肚喘而不休，火炎上喘者，乍進乍退，得食則減，食已則喘，大概胃中有實火，膈上有稠痰，得食咽墜下稠痰，喘即止，稍久食已入胃，反助其火痰再升上，喘反大作，俗不知此，作胃虛治以燥熱之藥者，以火濟火也，昔葉都督患此，諸醫作胃虛治之不愈，後以導水丸利五六次而安矣。</p>
<p>凡久喘未發，以扶正氣為要，已發以攻邪為主。</p>
<p>有氣虛短氣而喘，有痰亦短氣而喘。</p>
<p>有陰虛，自小腹下，火起而上者。</p>
<p>喘急有風痰者，婦人大全方千緡湯。</p>
<p>陰虛有痰喘急者，補陰降火四物湯，加枳殼半夏。</p>
<p>氣虛者，人參蜜炙，黃柏，麥門冬，地骨皮之類。</p>
<p>大概喘急之病，甚不可用苦藥涼藥，火氣盛故也，可用導痰湯加千緡湯治之。</p>
<p>諸喘不止者，用劫藥一二貼則止之，劫藥之後，因痰治痰，因火治火，椒目碾極細末，用一二錢，以生薑湯調下止之。</p>
<p>又法用蘿蔔子蒸熟為君，皂角燒灰等分為末，以生薑汁煉蜜為丸，小桐子大，每服五七十丸，噙化下之效。</p>
<h3>哮，專主於痰，宜吐法。</h3>
<p>治哮必用薄滋味，不可純用涼藥，必帶表散。</p>
<p>治哮方，用雞子略敲殼損，膜不損，浸於尿缸內三四日，夜取出煮熟食之效，蓋雞子能去風痰。</p>
<h3>痢，身熱，後重，腹痛，下血。</h3>
<p>戴云：痢雖有赤白二色，終無寒熱之分，通作濕熱治，但分新舊，更量元氣用藥，與赤白帶同。</p>
<p>身熱挾外感</p>
<p>不惡寒，小柴胡湯去人參。</p>
<p>惡寒發熱為表證，宜微汗和解。</p>
<p>蒼朮，川芎，陳皮，芍藥。</p>
<p>甘草，生薑煎服。</p>
<p>後重積與氣鬱墜下，兼升兼消。</p>
<p>或氣行血和，積少但虛，坐努力，此為亡血，倍用歸身尾，卻以生芍藥，生地黃，桃仁佐之，復以陳皮和之，或下痢而大孔痛者，此因熱流於下也，用木香，檳榔，黃芩，黃連炒，乾薑。</p>
<p>或纔退減十之七八，積已盡，糟粕未實，當炒芍藥，炒白朮，炙甘草，陳皮茯苓湯，下固腸丸三十粒，然固腸丸性燥，有去濕實腸之功，恐滯氣未盡者，不可遽用此藥，只宜單服此湯可也。</p>
<p>或痢後糟粕未實，或食稍多，或饑甚方食，腹中作痛者，切勿驚恐，以白朮陳皮各半盞煎服，和之則安。</p>
<p>或久痢後，體虛氣弱，滑瀉不止，又當以訶子肉，豆蔻，白礬，半夏之類擇用，以澀之甚則加牡蠣，然須以陳皮為佐，若太澀亦能作痛，又甚者，炙大樞氣海。</p>
<p>古方用厚朴為瀉凝滯之氣，然朴太溫而散氣，久服大能虛人，滯氣稍行即去之，餘滯未盡，以炒枳殼陳皮，然枳殼亦能耗氣，比之厚朴少緩，比陳皮亦重，滯退一半當去之，只用陳皮以和諸藥，陳皮去白，有補瀉之兼才，若為參朮之佐，亦能補也。</p>
<p>凡痢疾腹痛，必以白芍藥，甘草為君，當歸白朮為佐，惡寒痛者加桂，惡熱痛者，加黃柏，達者更能參以歲氣時令用藥，則萬舉萬全，豈在乎執方哉。</p>
<h3>諸不治證。</h3>
<p>下痢純血者必死，下痢如塵腐色者死，下如屋漏者死，下痢如竹筒注者不可治，下痢如魚腦者，半生半死。</p>
<h3>噤口痢，胃口熱甚故也。</h3>
<p>黃連多加人參煮湯，終日呷之，如吐了再喫，開以降之，人不知此，多用溫藥甘味，此以火濟火，以滯益滯，哀哉。</p>
<p>一方臍中用田螺，引下其熱。</p>
<p>亦有誤服熱藥澀藥之毒犯胃者，當明審以袪其毒。</p>
<p>痢方亦作丸。</p>
<p>大黃，黃連，黃芩，黃柏，枳殼，當歸，白芍藥，滑石，甘草，桃仁，白朮（各等分）。</p>
<p>右為末，神麯糊丸。</p>
<p>孫郎中因飲水過多，腹脹瀉痢帶。</p>
<p>蒼朮，白朮，厚朴，茯苓，滑石。</p>
<p>右煎下保和丸。</p>
<p>小兒八歲下痢純血，以食積治。</p>
<p>蒼朮，白朮，黃芩，白芍，滑石，茯苓，甘草，陳皮，炒麯。</p>
<p>右煎下保和丸。</p>
<p>又下痢法，熱不止者，屬陰虛，用寒涼藥，兼升藥熱藥。</p>
<h3>泄瀉，濕，氣虛，火，痰，食積。</h3>
<p>戴云：凡瀉水腹不痛者，是濕也。飲食入胃不住，或完穀不化者，是氣虛也，腹痛瀉水，腹鳴，痛一陣瀉一陣，是火也，或瀉時，或不瀉，或多或少，是痰也，腹痛甚而瀉，瀉後痛減者，是食積也。</p>
<p>濕，燥濕兼滲泄之，四苓散加蒼朮白朮，甚者二朮炒，氣虛人參，白朮，芍藥，炒升麻。</p>
<p>火，宜伐火，利小水，黃芩木通入四苓散。</p>
<p>痰積，宜豁之，海石，青黛，黃芩，神麯，蛤粉，或用吐法。</p>
<p>食積，宜消導踈滌之神麯大黃。</p>
<p>已上諸藥皆作丸子服之。</p>
<p>凡泄瀉水多者，仍用五苓散治之。</p>
<p>世俗類用澀藥，治痢與瀉，若積久而虛者，或可行之，而初得之者，恐必變他疾，為禍不小矣，殊不知多因於濕，惟分利小水，最為上策。</p>
<p>止瀉方。</p>
<p>肉豆蔻（五錢），滑石（春冬一兩二錢半，夏二兩半，秋二兩）。</p>
<p>又方薑麯丸。</p>
<p>陳麯（六兩炒），陳麥（亦可），茴香（五錢），生薑（一兩）。</p>
<p>右炒白朮，炒麯，炒芍藥，或丸，或散，或湯，作丸妙。</p>
<h3>脾泄。</h3>
<p>治一老人，奉養太過，飲食傷脾，常常泄瀉，亦是脾泄之疾。</p>
<p>白朮（二兩炒），白芍藥（一兩酒拌炒），神麯（一兩半炒），山楂（一兩半炒），半夏（一兩洗），黃芩（五錢炒）。</p>
<p>右為末，荷葉包飯，煨為丸。</p>
<p>治一老人，年七十，面白，脈弦數，獨胃脈沉滑，因飲白酒作痢，下血，淡水膿後，腹痛，小便不利，裏急後重，參朮為君，甘草，滑石，檳榔，木香，蒼朮，最少下保和丸二十五丸，第二日前證俱減，獨小便不利，以益元散服之。</p>
<h3>霍亂。</h3>
<p>戴云：霍亂者，吐也。有聲有物，凡有聲無物而躁亂者，謂之乾霍亂也。</p>
<p>轉筋不住，男子以手挽其陰，女子以手牽其乳，近兩傍邊，此乃千金妙法也。</p>
<p>內有所積，外有所感，陽不升陰不降，乖隔而成矣。切勿以米湯喫之，立死，脈多伏為絕。</p>
<p>見成吐瀉，還用吐，提其氣起。</p>
<p>大法生薑理中湯最好，有可吐者，有可下者，吐用二陳湯加減亦可，或梓樹木煎湯吐亦可。</p>
<h3>乾霍亂。</h3>
<p>此病最難治，死在須臾，升降不通故也。</p>
<p>此係內有物所傷，外有邪氣所遏，有用吐法者，則兼發散之義也。</p>
<p>吐提其氣極是良法，世多用鹽湯。</p>
<p>有用溫藥解散者，其法解散不用涼藥。</p>
<p>二陳湯加和解散，川芎，防風，蒼朮，白芷。</p>
<h3>嘔吐。</h3>
<p>凡有聲有物謂之嘔吐，有聲無物謂之噦，有痰膈中焦食不得下者，有氣逆者，有寒氣鬱於胃口者，胃中有痰有熱者，然胃中有火與痰而致嘔吐者多矣，朱奉議以半夏生薑橘皮為主。</p>
<p>孫真人誤以噦為咳逆。</p>
<p>劉河間謂嘔者火氣炎上，此特一端耳。</p>
<p>胃中有熱，膈上有痰，二陳湯加炒梔子黃連生薑，久病嘔者，胃虛不納穀也，以生薑人參黃耆白朮香附。</p>
<h3>惡心，有熱有痰有虛。</h3>
<p>戴云：惡心者，無聲無物，但心中欲吐不吐，欲嘔不嘔，雖曰惡心，非心經之病，其病皆在胃口上，宜用生薑，蓋能開胃豁痰也，皆用生薑，隨證用藥。</p>
<h3>翻胃，即膈噎，膈噎乃翻胃之漸，發揮備言。</h3>
<p>戴云：翻胃有四，血虛，氣虛，有熱，有痰，血虛者，脈必數而無力，氣虛者，脈必緩而無力，氣血俱虛者，則口中多出沬，但見沬大出者必死，有熱者，脈數而有力，有痰者，脈滑數，二者可治，血虛者，四物為主，氣虛者，四君子為主，熱以解毒為主，痰以二陳為主，大約有四，血虛，氣虛，有熱，有痰，兼病</p>
<p>必用童便竹瀝薑汁牛羊乳。</p>
<p>糞如羊屎者，斷不可治，大腸無血故也，痰用二陳湯為主，寸關脈沉或伏而大。</p>
<p>有氣滯結者，通氣之藥皆可用也，寸關脈沉而濇，氣虛四君子湯為主，血虛四物湯為主，左手脈無力大，不可用香燥之藥，服之必死，宜薄滋味。</p>
<p>馬剝兒燒灰存性一錢重，好棗肉，平胃散二錢，溫酒調服，食即可下，然後隨病源調理，神效。</p>
<p>陳皮（三斤三兩），厚朴（三斤二兩），甘草（三十兩），蒼朮（五斤）。</p>
<h3>傷食。</h3>
<p>戴云：惡食者，胸中有物，導痰補脾。</p>
<p>二陳湯加白朮，山楂，川芎，蒼朮。</p>
<h3>痞，食積兼濕，東垣有法有方。</h3>
<p>又痞滿方，吳茱萸（三兩），黃連（八兩）。</p>
<p>粥為丸。</p>
<p>軟石膏碾末醋丸，如綠豆大，瀉胃火食積痰。</p>
<h3>噯氣，胃中有火有痰。</h3>
<p>南星，半夏，軟石膏，莎草根，或湯或丸。</p>
<h3>吞酸。</h3>
<p>戴云：濕熱在胃口上，飲食入胃被濕熱鬱遏，其食不得傳化，故作酸也。如穀肉在器，濕熱則易酸也，必用茱萸順其性而折之，反佐茱萸黃連。</p>
<h3>嘈雜，只是痰因火動。</h3>
<p>戴云：此即俗謂之心嘈也。</p>
<p>梔子薑炒，黃連不可無，梔子黃芩為君。</p>
<p>南星，半夏，橘皮，熱多加青黛。</p>
<p>肥人嘈雜二陳湯加撫芎，用蒼朮白朮炒梔子。</p>
<h3>五疸。</h3>
<p>不用分五，同是濕熱如盦麯相似。</p>
<p>戴云：五疸者，週身皮膚并眼如梔子水染，因食積黃者，量其虛實下其食積，其餘但利小便為先，小便利白，黃即自退。</p>
<p>輕者小溫中丸，重者大溫中丸。</p>
<p>熱多者加黃連，濕多者茵蔯五苓散加食積藥。</p>
<h3>消渴泄瀉。</h3>
<p>先用白朮白芍藥炒為末調服，後卻服消渴藥。</p>
<p>消渴，養肺，降火，生血為主，分上中下治。</p>
<p>黃連末，天花粉末，人乳，生藕汁，生地黃汁。</p>
<p>右二物汁為膏，入上藥搜和，佐以薑汁，和蜜湯為膏，徐徐留於舌上，以白湯少許送下。</p>
<p>能食加軟石膏，瓜蔞根治消渴神藥。</p>
<h3>水腫。</h3>
<p>戴云：水腫者，通身皮膚光腫如泡者是也，以健脾滲水，利小便，進飲食，元氣實者可下。</p>
<p>此因脾虛不能制水，水漬妄行，當以參朮補脾氣，得實則自能健運，自能升降，運動其樞機則水自行，非五苓之行水也，宜補中行濕，利小便，切不可下，二陳湯加白朮人參為主，佐以蒼朮，炒梔子，黃芩，麥門冬，制肝木，若腹脹少佐厚朴，氣不運加木香木通。</p>
<p>氣若陷下，升麻柴胡提之，隨證加減必須補中。</p>
<p>產後必用大補氣血為主，少佐以蒼朮茯苓，使水自降，用大劑白朮補脾壅滿，用半夏陳皮香附監之。</p>
<p>有熱當清肺，麥門冬黃芩之屬。</p>
<p>一方用山梔子去皮取仁炒搥碎米飲送下，若胃脘熱病在上者帶皮用。</p>
<h3>皷脹，又名單皷，其詳在格致論中。</h3>
<p>大補中氣，行濕，此乃脾虛之甚，須必遠音樂，斷厚味，以大劑人參白朮，佐以陳皮茯苓蒼朮之類。</p>
<p>有血虛，當以四物湯行血。</p>
<p>脈實兼人壯盛者，或可用攻藥，便用收拾，白朮為主，厚朴治腹脹，因味辛以散，其氣在中焦故也。</p>
<h3>自汗，屬氣虛，濕熱，陽虛。</h3>
<p>東垣有法有方。</p>
<p>人參，黃耆，少佐桂枝，陽虛附子亦可用。</p>
<p>撲法。</p>
<p>牡蠣，麩皮，藁本，糯米，防風，白芷，麻黃根。</p>
<p>為末，週身撲之。</p>
<p>火氣上蒸，胃中之濕亦能作汗，涼膈散主之。</p>
<p>痰證亦有汗者。</p>
<h3>盜汗，血虛，陰虛。</h3>
<p>戴云：盜汗者，睡則汗自出，覺則無矣。非若自汗而自出也，小兒不須治。</p>
<p>東垣有法有方，當歸大黃湯。</p>
<p>盜汗方。</p>
<p>白朮（四兩，一兩用黃耆同炒，一兩用石斛同炒，一兩用牡蠣末同炒，一兩用麩皮同炒，各微黃色，餘藥不用，只用白朮）。</p>
<p>右為細末，每服三錢，用粟米湯調下，盡四兩效。</p>
<h3>呃逆，有痰，氣虛，陰火，視其有餘不足治之。</h3>
<p>戴云：呃逆者，因痰與熱，胃火者極多。</p>
<p>不足者，人參白朮湯下大補丸。</p>
<p>有餘并痰者吐之，人參蘆之屬。</p>
<h3>頭風，有痰者多。</h3>
<p>左屬風，荊芥，薄荷，屬血虛，川芎，當歸，芍藥，右屬痰，蒼朮，半夏，屬熱，黃芩，搐藥有用蓽撥，豬膽。</p>
<h3>頭痛，多主於痰。</h3>
<p>痛甚者火多，亦有可吐者，亦有可下者。</p>
<p>清空膏治諸般頭痛，除血虛頭痛不治。</p>
<p>血虛頭痛自魚尾上攻頭痛，必用川芎當歸湯。</p>
<p>古方有追涎藥，出東垣，試效。</p>
<p>羌活，防風，黃連（各炒一兩），柴胡（七錢），川芎（二錢），甘草（炙一兩半），黃芩（三兩，刮去黃色，剉碎一半，酒炒一半，）。</p>
<p>右為末，每服二錢匕，熱盞內入茶少許，湯調如膏，抹在口內，少用湯送下，臨臥服之。</p>
<h3>頭眩。</h3>
<p>痰挾氣虛火治痰為主，挾補氣藥并降火藥，屬痰，無痰則不能作眩。屬火，痰因火動，又有濕痰者，有火多者，左手脈數熱多，脈濇有死血，右手脈實痰積，脈大必是久病。</p>
<h3>頭暈，火動其痰。</h3>
<p>二陳湯加黃芩蒼朮羌活，散風行濕，或用防風行濕之劑可也。</p>
<p>昔有一老婦，患赤白帶一年半，是頭眩坐立不久，睡之則安，專用治赤白帶，除之，其眩自安矣。</p>
<h3>眉稜痛。</h3>
<p>風熱痰，作風痰，治類痛風。</p>
<p>白朮，酒黃芩末，茶調服。</p>
<p>又方川烏頭，草烏二味為君，童便浸洗炒去毒，細辛，黃芩，羌活，甘草佐之。</p>
<h3>耳聾。</h3>
<p>少陽厥陰熱多，皆屬於熱耳鳴者是。</p>
<p>戴云：亦有氣閉者，蓋亦是熱氣閉者，耳不鳴也。</p>
<p>萆麻子四十九粒，棗肉（十箇）。</p>
<p>右入人乳，搗成膏子，石頭上略晒乾，便丸如桐子大，以綿裹塞於耳中。</p>
<p>又方用鼠膽花入耳中尤好，  仍開痰散風熱。</p>
<p>大病後須用四物湯降火。</p>
<p>有陰虛火動耳聾者亦如上法。</p>
<p>金匱鉤玄卷一終。</p>
<h2>金匱鉤玄卷二  元  丹溪朱震亨著，門人戴元禮錄。</h2>
<h3>心痛，即胃脘痛。</h3>
<p>心痛雖日數多，不喫飲食不死，若痛方止便喫，還痛，必須三五服藥後，方可喫物。</p>
<p>大凡心膈之痛，須分新久，若明知身受寒氣，口食寒物，而病於初得之時，當以溫散或溫利之藥，若曰病得之稍久，則成鬱矣。鬱則蒸熱，熱則久必生火，原病式中備言之矣，若欲用溫散，寧無助火添病耶，由是古方中多以山梔為熱藥之向導，則邪伏而病易退，正易復而病易安，雖然病安之後，若縱恣口味，不改前非，病復作時必難治之也。</p>
<p>山梔炒去皮，每十五箇濃煎湯一呷，入生薑汁令辣，再煎小沸服，或入芎一錢尤妙，山梔大者用七箇或九箇，大概胃口有熱而作痛，非山梔子不可佐以薑汁，或半夏橘紅各五，黃芩三，甘草一。</p>
<p>用二陳湯加蒼芎，倍加炒梔，痛甚者加炒乾薑從之，反治之法，心痛輕者散之，麻黃桂枝，重者加石鹼，川芎，蒼朮，梔子必炒，去皮用，作丸服之。</p>
<p>凡治病必須先問平日起居如何，假如心痛有因，平日喜食熱物，以致血流於胃口作痛，用桃仁承氣湯下之，切記輕者用韭汁桔梗，能開提氣血，藥中兼用之。</p>
<p>以物拄按痛則止者，挾虛也，以二陳湯加炒乾薑和之，有蟲痛者，面上白斑，唇紅能食，屬蟲治，苦練根錫灰之類，脈堅實，不大便者，下之。</p>
<p>痛甚者，脈必伏，多用溫藥，不用參朮，可用附子。</p>
<p>諸痛不可用補氣藥。</p>
<p>客寒犯胃，草荳蔻丸用之，熱亦可用，止用一二服。</p>
<p>草豆蔻（一錢四分裹燒熱去皮），吳茱萸（湯泡洗去梗焙），益智仁，白僵蠶，橘皮，人參，黃耆（各八分），生甘草，歸身，炙甘草，桂皮（各六分），麯末，薑黃（各四分），桃仁（七箇去皮），半夏（洗一錢），麥蘗（一錢半炒黃），澤瀉（一錢，小便多減半用之），柴胡（四分），詳膈下痛，多為用之。</p>
<p>右一十八味，除桃仁另研如泥外，餘極細末，同桃仁研勻，用湯泡蒸餅為丸，如桐子大，每服三十丸，食遠，用熱白湯送下，旋斟酌多少用之。</p>
<p>又方用黃荊子，炒焦為末，米飲調服，亦治白帶。</p>
<p>又方脾痛用海蛤粉，佐以香附末，用川芎，山梔，生薑，煎辣湯調服為佳。</p>
<p>又方單用牡粉酒調下一二錢，氣實不可用。</p>
<h3>腰疼，濕熱，腎虛，瘀血。</h3>
<p>濕熱腰疼者，遇天陰或坐久而發者，是腎虛者，疼之不已者是也，瘀血者，日輕夜重者是也，脈大者，腎虛用杜仲，龜板，黃柏，知母，枸杞，五味之類，用豬脊髓丸。脈澀者，瘀血用補陰丸中加桃仁紅花，濕熱者，用蒼朮，杜仲，黃柏，川芎。痰者，用南星，凡諸痛皆屬火，寒涼藥不可峻用，必用溫散之藥，諸痛不可用人參，蓋人參補氣，氣旺不通而痛愈甚矣，臍下忽大痛者，人中如黑色者，多死，難治也。人面上忽有紅點者，多死。</p>
<h3>脇痛。</h3>
<p>肝火盛，木氣實，有死血，肝急，有痰流注，木氣實，川芎，蒼朮，青皮，當歸。</p>
<p>龍會丸瀉火要藥。</p>
<p>死血，桃仁，紅花，川芎。</p>
<p>痰流注，二陳湯加南星，蒼朮，川芎。</p>
<p>肝苦急，急食辛以散之，用撫芎蒼朮。血病，入血藥中行血，脇痛甚者，用薑汁下龍會丸，肝火盛故也。</p>
<p>咳嗽脇痛，二陳湯加南星，（多）香附，青皮，青黛，薑汁。</p>
<h3>腹痛，有寒，積熱，死血，食積，濕痰。</h3>
<p>戴云：寒痛者，綿綿痛而無增減者，是時痛時止者，是熱也。死血痛者，每痛有處，不行移者是也。食積者，甚欲大便，利後痛減者是。濕痰者，凡痛必小便不利。</p>
<p>脈弦強者食，脈滑者痰。</p>
<p>滑痰多作腹痛，用苔芎，蒼朮，香附，白芷，生薑汁，入湯服，腹中水鳴，乃火擊動其水也，二陳湯加黃芩，黃連，梔子。</p>
<p>凡心腹痛必用溫散，此是鬱結不散，阻氣不運，故病在下者多屬食，宜溫散之。</p>
<p>一老人腹痛，年高不禁下者用：</p>
<p>川芎，蒼朮，香附，白芷，乾薑，茯苓，滑石。</p>
<h3>痛風。</h3>
<p>四肢百節走痛，風熱，風濕，血虛，有痰，大法主方。</p>
<p>蒼朮，南星，川芎，白芷，當歸，酒黃芩。</p>
<p>在上者加羌活，桂枝，桔梗，威靈仙。</p>
<p>在下者加牛膝，防己，木通，黃柏。</p>
<p>血虛者多用川芎，當歸，佐以桃仁，紅花。</p>
<p>薄桂治痛風無味，而薄者獨此能橫行手臂，領南星蒼朮等治之。</p>
<p>上中下痛風方。</p>
<p>威靈仙（三錢），南星（二兩），苔芎（一兩），桃仁（五錢），白芷（五錢），桂枝（三錢），防己（半錢），蒼朮（二兩），黃柏（酒浸炒二兩），紅花（一錢半），羌活（三錢），神麯（一兩炒），龍膽草（五分）。</p>
<p>張子元氣血虛有痰濁，陰火痛風。</p>
<p>人參（一兩），白朮（二兩），黃柏（二兩炒黑色），山藥（一兩），海石（一兩），鎖陽（五錢），乾薑（五錢燒灰），南星（一兩），敗龜板（二兩酒炙），熟地黃（二兩），粥為丸。</p>
<p>治臂痛。</p>
<p>半夏（一錢），陳皮（五分），茯苓（五分），蒼朮（一錢半），酒芩（一錢），葳靈仙（三分），白朮（一錢），甘草（少許炒），南星（一錢），香附（一錢）。</p>
<h3>勞瘵，其主在乎陰虛，痰與血病。</h3>
<p>青蒿一斗五升，童便三斗，文武火熬，約童便減二斗，去蒿熬至一斗，入豬膽汁七箇，再熬數沸，甘草末收之。</p>
<p>虛勞身瘦屬火，因火燒爍。</p>
<p>勞病四物湯加人尿薑汁。</p>
<h3>咳血，痰盛，身熱多是血虛。</h3>
<p>戴云：咳血者，嗽出痰內有血者是。嘔血者，嘔全血者是。咯血者，每咯出血皆是血疙瘩。衄血者，鼻中出血也。溺血，小便出血也。下血者，大便出血也。雖有名色分六，俱是熱證，但有虛實新舊之不同，或妄言為寒者，誤也。</p>
<p>青黛，訶子，山梔，海石，瓜蔞仁。</p>
<p>右為末，薑汁蜜調噙化。嗽甚者加杏仁，後以八物湯加減調理。</p>
<p>身熱多是血虛，四物湯加減。</p>
<h3>嘔血，火載血上，錯經妄行。</h3>
<p>脈大，發熱喉中痛者，是氣虛，用人參，黃耆蜜炙，黃柏，荊芥，并當歸，生地黃用之。嘔血，用韭汁，童便，薑汁，磨鬱金同飲之，其血自清，火載血上，錯經妄行，四物湯加炒梔子，童便，薑汁。山茶花，童便，薑汁酒調。鬱金末治吐血，入薑汁童便。痰帶血絲出者，童便，薑汁，竹瀝。</p>
<p>又方用韭汁童便二物相合，用鬱金細研，入在二物之內同飲，其血自消。</p>
<p>又方治衄血以鬱金，如無鬱金以茶薑汁童便和好酒調，服即止之。</p>
<h3>咯血。</h3>
<p>薑汁，童便，青黛，入血藥中用之，加四物湯，地黃膏，牛膝膏之類。</p>
<h3>衄血。</h3>
<p>涼血行血為主，犀角地黃湯入鬱金同用。經血逆行，或血腥，或唾血吐血，用韭葉汁立效。</p>
<h3>溺血，屬熱。</h3>
<p>山梔子炒水煎服，或用小薊琥珀。</p>
<p>有血虛者，四物湯加牛膝膏。</p>
<h3>下血。</h3>
<p>不可純用寒涼藥，必於寒涼藥中用辛味，并溫如酒浸炒涼藥，酒煮黃連之類。有熱四物湯加炒梔子，升麻，秦艽，阿膠珠。下血屬虛，當歸散，四物湯，加炮乾薑，升麻。</p>
<p>又方用白芷五倍子丸。</p>
<p>凡用血藥，不可單行單止。有風邪下陷，宜升提之。蓋風傷肝，肝生血故也。有濕傷血，宜行濕消熱可也。內經謂身熱即死，寒則生。此亦是大概言之，必兼證詳之則可，今豈無身熱生寒而死者，脈沉小流連或微者，易治。脈浮大洪數者，難愈。宜滑不宜弦，仲景治痢可溫者五法，可清者十法，或解表，或利小便，或待其自已，區分易治難治極密，但與瀉同立法，不分學者當辨之。大孔痛，一曰溫之，一曰清之。久病，身冷自汗，脈沉小者，宜溫。暴病身熱，脈浮洪者，宜清。有可吐者，有可下者，有可汗者，初得時，原氣未虛，必推蕩之，此通用之法，稍久氣虛則不可。先水泄後膿血，此脾傳腎，賊邪難愈。先膿血後水泄，此腎傳脾，微邪易愈。如豆汁者，濕也。蓋脾胃為水穀之海，無物不受，常兼四藏，故如五色之相雜，當先通利，此迎而奪之之義，如虛者亦宜審之。因熱而作，不可用巴豆等藥，如傷冷物者，或可用，亦宜謹之。又有時疫作痢，一方一家之內，上下傳染相似，卻宜明運氣之勝復以治之。</p>
<h3>腸風，獨在胃與大腸出。</h3>
<p>黃芩，秦艽，槐角，升麻，青黛。</p>
<h3>夢遺，專主熱，脫精。</h3>
<p>戴云：因夢交而出精者，謂之夢遺，不因夢而自泄精者，謂之精滑，皆相火所動，久則有虛而無寒者也。</p>
<p>帶下與夢遺同法治。</p>
<p>青黛，海石，黃柏，即椿樹根丸。</p>
<p>內傷氣血不能固守，當補以八物湯加減，吞椿樹根丸，思想成病，其病在心，安神帶補，熱則流通。</p>
<p>知母，黃柏，蛤粉。</p>
<h3>精滑，專主濕熱。</h3>
<p>戴云：滑者，小便精滑下也，俱是膀胱濕熱，雖有赤白之異，終無寒熱之別，河間云，天氣熱則水渾濁，寒則澄徹清冷，由此觀之，濁之為病，濕熱明矣。</p>
<p>黃柏，知母，牡蠣，蛤粉。</p>
<p>又方。</p>
<p>良薑（三錢），芍藥（二錢），黃柏（二錢燒灰存性），樗樹皮（白皮一兩半）。</p>
<p>右為末，糊為丸，每服三十丸。</p>
<h3>濁。</h3>
<p>濕熱，有痰，有虛，赤濁屬血，白濁屬氣，寒則堅凝，熱則流通。</p>
<p>大率皆是濕熱流注，宜燥中宮之濕，用二陳湯加蒼朮白朮。燥去濕，赤者乃是濕傷血，加白芍藥。仍用珍珠粉丸，如椿樹根皮，滑石青黛等作丸。虛勞者，用補陰藥，大概不利熱藥。</p>
<p>肥白人必多痰，以二陳湯去其熱，胃弱者兼用人參，以柴胡升麻，升胃中之氣，丸藥用</p>
<p>青黛，黃柏（炒褐色），乾薑（炒微黑色），海石，蛤粉。</p>
<p>胃中濁氣，下流為赤白濁者，用柴胡，升麻，蒼朮，白朮。二陳湯丸藥用樗末，蛤粉，炒薑，炒黃柏。專主胃中之濁氣下流，滲入膀胱，用青黛，蛤粉。肝脈弦者，用青黛以瀉肝。</p>
<p>又方。</p>
<p>黃柏（一兩炒黑），生柏（二錢半一作三兩），海石（二兩），神麯（五錢）。</p>
<p>為末水丸。</p>
<p>有熱者，黃柏，滑石，青黛之類。</p>
<p>燥濕痰，南星，半夏，蛤粉。</p>
<p>右神麯為丸，青黛為衣，或用海石代麯。</p>
<p>張子元氣血兩虛有痰，痛風時作，陰火間起，小便白濁，或帶下赤白，方在前痛風中。</p>
<p>一人便濁，常有半年，或時夢遺形瘦，作心虛，主治珍珠粉丸，和勻定志丸服。</p>
<p>一婦人年近六十，形肥，奉養膏梁，飲食肥美，中焦不清，濁氣流入膀胱，下注白濁，白濁即是濕痰也。</p>
<p>戴云：斷用二陳湯去痰，加升麻柴胡，升胃中之清氣，加蒼朮去濕，白朮補胃，全在活法，服四帖後，濁減大半，覺胸滿。因柴胡升麻升動其氣，痰阻滿閉，用二陳湯加炒麯白朮，素無痰者，升動胃氣不滿。</p>
<p>丸藥方。</p>
<p>青黛，椿皮，蛤粉，滑石，乾薑（炒），黃柏（炒）。</p>
<p>右為末，炒神麯糊丸，仍用前燥濕痰丸，亦能治帶。</p>
<p>又方：滑石利竅，黃柏治濕熱，青黛解鬱結，蛤粉鹹寒入腎。炒乾薑，味苦，歛肺氣下降，使陰血。生乾薑鹽制之。</p>
<h3>淋。</h3>
<p>皆屬於痰熱。</p>
<p>淋者，小便淋瀝，欲去不去，不去又來，皆屬於熱也。解熱利小便，山梔子之類，用苦甘草煎服，諸藥中皆加牛膝。老人亦有氣虛者，人參，白朮，中帶木通，山梔。亦有死血作淋者，牛膝作膏。此證亦能損胃不食。</p>
<h3>小便不通。</h3>
<p>氣虛，血虛，痰，風閉，實熱。吐之以提其氣，氣升則水自下之，蓋氣承載其水也，氣虛用人參，黃耆，升麻等。先服後吐，或參耆藥中探吐，血虛四物湯先服後吐，芎歸湯吐亦可，痰多二陳湯先服後吐，皆用探吐，痰氣閉塞，二陳湯加木香香附探吐，實熱利之。一婦人脾疼，後患大小便不通，此是痰隔中焦，氣滯於下焦，二陳湯加木通，初喫後柤，再煎服吐之。</p>
<h3>關格。</h3>
<p>戴云：關格者，謂膈中覺有所礙，欲升不升，欲降不降，欲食不食，此為氣之橫格也，必用吐，提其氣之橫格，不必在出痰也。有痰以二陳湯吐之，吐中便有降，有中氣虛不運者，補氣藥中升降。</p>
<h3>小便不禁。</h3>
<p>屬熱，屬虛。戴云：小便不禁，出而不覺，赤者有熱，白者為氣虛也，熱者，五苓散加解毒散，虛者，五苓散加四物湯。</p>
<h3>癇，驚，痰，宜吐。</h3>
<p>戴云：痰者，俗曰豬癲風者是也。</p>
<p>大率行痰為主。</p>
<p>黃連，南星，瓜蔞，半夏。</p>
<p>尋痰尋火，分多少治，無不愈。分痰分熱，有熱者以涼藥清其心，有痰者必用吐藥，吐用東垣安神丸。此證必用吐，吐後用平肝之藥，青黛，柴胡，川芎之類。</p>
<h3>健忘。</h3>
<p>戴云：健忘者，為事有始無終，言談不知首尾，此以為病之名，非比生成之愚頑不知世事者，精神短少者多，亦有痰者。</p>
<h3>怔忡，大段屬血虛。</h3>
<p>有慮便動屬虛。時作時止，痰因火動。</p>
<p>戴云：怔忡者，心中不安，愓愓然如人將捕者是也。瘦人多是血少，肥人屬痰，尋常者多是痰，真覺心跳者是血少，用四物安神之類。</p>
<h3>驚悸，血虛，用硃砂安神丸。</h3>
<h3>痓，大率與癇病相似。</h3>
<p>多是血虛有火，兼痰人參竹瀝之類，不用兼風藥。</p>
<h3>血塊，一名積瘕。</h3>
<p>塊在中為痰飲，在右為食積，在左為血積，氣不能作塊成聚塊，乃有形之物，痰與食積死血，此理曉然。醋煮海石，三稜，莪荗，桃仁，紅花，五靈脂，香附之類。</p>
<p>白朮湯吞下瓦龍子能消血塊，次消痰。</p>
<p>治塊當降火消食積，食積即痰也。行死血塊去須大補，石鹻一物有痰積有血塊可用，洗滌垢膩又消食積。</p>
<h3>吐蟲。</h3>
<p>以黑錫炒成灰，檳榔末米飲調下。</p>
<h3>癥瘕。</h3>
<p>戴云：積聚癥瘕，有積聚成塊不能移動者是癥，或有或無，或上或下，或左或右者是瘕。</p>
<p>用蜀葵根煎湯，煎人參，白朮，陳皮，青皮，甘草梢，牛膝。</p>
<p>成湯入，細研桃仁玄明粉各少許，熱飲一服，可見塊下。</p>
<p>病重補接之後加減再行。</p>
<p>消塊丸，即千金大硝石丸，止可磨塊，不令入困，須量虛實而用可也。</p>
<p>硝石（六兩），大黃（八兩），人參，大甘草（各三兩）。</p>
<p>右為末，以三年苦酒三斗，置銅器中，以竹片作準，每入一升作一刻，拄器中熬，先納大黃，不住手攪，使微沸，盡一刻乃下餘藥，又盡一刻微火熬，使可丸則取丸，如雞子中黃大，每服一丸，米飲下，如不能大丸，則作小丸，如梧子大，每服三十丸，後下如雞肝，如米泔赤黑等色，下後忌風冷，淡軟粥將理。</p>
<p>又三聖膏。</p>
<p>未化石灰（半斤為末，瓦器中炒，令淡紅色，提出火外候熱少減，次下大黃末），大黃（一兩為末，就爐炒，伺熱減，入下桂心末），桂心（半兩為末，略炒，入米醋熬成膏藥，厚攤貼患處）。</p>
<p>貼積聚塊。</p>
<p>大黃，朴硝（各一兩）。</p>
<p>右為末，用大蒜搗膏和勻貼之。</p>
<p>痞塊在皮裏膜外，須用補氣，香附開之，兼二陳湯加補氣藥，先須斷厚味。</p>
<p>茶癖，石膏，黃芩，升麻。</p>
<p>右為末，砂糖水調服。</p>
<h3>癭氣，先須斷厚味。</h3>
<p>海藻（一兩），黃藥（二兩）。</p>
<p>右為末，以少許置於掌中，時時舐之，津嚥下如消三分之二須止，後藥服。</p>
<p>食積一方乃在婦人門，食積條下。</p>
<h3>疝。</h3>
<p>濕熱痰積，流下作痛，大概因寒鬱而作也。即是痰飲食積并死血。</p>
<p>戴云：疝，本屬厥陰肝之一經，余嘗見俗說小腸膀胱下部氣者，皆妄言也。</p>
<p>子和云：疝本肝經，宜通勿塞，只此見治之法專主肝經，與腎絕無干，不宜下，㿗濕多疝氣炎，大敦穴，食積與瘀血成痛者。</p>
<p>梔子，桃仁，山楂，枳實，吳茱萸。</p>
<p>右為末，生薑汁順流水，作湯調服。</p>
<p>按之不定必用桂枝，屬虛。</p>
<p>桂枝，山梔（炒），烏頭（細切炒）。</p>
<p>右為末，薑汁為丸，每服三十丸，劫痛。</p>
<p>治疝方定痛速效，濕勝者加荔枝。</p>
<p>枳殼（十五箇），山梔（炒），糖毬（炒），吳茱萸（炒）。</p>
<p>又方守丸，治㿗要藥，不疼者。</p>
<p>蒼朮，南星，白芷，山楂，川芎，半夏，枳實。</p>
<p>為末神麯作丸。</p>
<p>治陽明受濕熱，傳入大腸，惡寒發熱，小腹連毛際結核，悶痛不可忍。</p>
<p>山梔（炒），枳殼（炒），桃仁（炒），山楂（等分）。</p>
<p>右研細砂缽內，入生薑汁，用水一盞煎，令沸，熱服之。</p>
<p>治諸疝，發時用海石香附二味為末，以生薑汁湯調服，亦能治心痛。</p>
<p>治疝方。</p>
<p>梔子，桃仁，橘核，茱萸，川烏。</p>
<p>右碾，煎服劫藥用烏頭細切，炒梔子橘核散單止痛。</p>
<h3>腳氣。</h3>
<p>蒼朮（鹽炒），白朮，防己，檳榔，川芎，犀角，甘草，木通，黃連，生地黃（酒炒），黃柏，有熱加黃芩，黃連。有痰加竹瀝，薑汁。</p>
<p>大熱及時，令熱加石膏，大便實加桃仁，小便澀加牛膝。</p>
<p>有食積流注。</p>
<p>蒼朮，黃柏，防己，南星，川芎，白芷，犀角，檳榔，血虛加牛膝龜板。</p>
<p>如常腫者專主乎濕熱，朱先生有方，肥人加痰藥。</p>
<p>戴云：有腳氣衝心宜四物加炒柏，再宜湧泉穴，用附子津拌貼，以艾灸，泄引其熱。</p>
<p>健步丸。</p>
<p>歸尾，芍藥，陳皮，蒼朮（各一兩），生地黃（一兩半），大腹子（三箇），牛膝，茱萸（各半兩），黃芩（半兩），桂枝（二錢）。</p>
<p>右為末，蒸餅為丸，每服百丸，白朮通草煎湯，食前下。</p>
<p>一婦人足腫。</p>
<p>黃柏，蒼朮，南星，紅花（酒洗），龍膽草，川芎，牛膝（酒洗），生地黃。</p>
<p>筋動於足大指，動上來至大腿近腰結，奉養厚，因風寒作，四物湯加酒芩，紅花，蒼朮，南星。</p>
<p>筋轉皆屬乎血熱，四物湯加酒芩紅花。</p>
<p>大病虛脫本是陰虛，用艾灸丹田者，所以補陽，陽生則陰生故也，不可用附子，可用參多服。</p>
<h3>痿。</h3>
<p>斷不可作風治而用風藥。濕熱，痰，無血而虛，氣弱，瘀血。濕熱，東垣健步方中加燥濕降陰火藥，芩柏蒼朮之類。濕痰二陳湯中加蒼朮，黃芩，黃柏，白朮之類，入竹瀝。氣虛四君子湯加蒼朮黃芩黃柏之類。血虛四物湯中蒼朮黃柏，下補陰丸。亦有食積妨礙不得降者，亦有死血者。</p>
<p>健步丸方。</p>
<p>羌活，柴胡，滑石，甘草（炙），天花粉（酒製各半兩），防己，防風，澤瀉（各三錢），肉桂（半錢），川烏，苦參（酒製各一錢）。</p>
<p>右為末，酒糊丸如桐子大，每服七十丸，煎愈風湯，以空心下。</p>
<h3>發熱，陰虛難治。</h3>
<p>戴云：凡脈數而無力者，便是陰虛也，陰虛發熱，用四物湯加黃柏，兼氣虛加參耆白朮，蓋四物湯加黃柏，是降火補陰之妙藥。</p>
<p>又云：陰虛發熱用四物湯，甚者加龜板炒黃柏。</p>
<p>喫酒人發熱者難治。不飲酒之人若因酒而發熱者亦難治。</p>
<p>一男子年三十歲，因酒發熱，用青黛瓜蔞仁薑汁，每日以數匙入口中，三日而愈。</p>
<h3>陽虛惡寒。</h3>
<p>戴云：凡背惡寒甚者，脈浮大而無力者，是陽虛也。用人參黃耆之類，甚者加附子少許，以行參耆之氣。</p>
<p>一女子惡寒，用苦參一錢，赤小豆一錢，為末虀水，吐用川芎蒼朮南星黃芩，酒麯丸。</p>
<h3>手心熱。</h3>
<p>梔子，香附，蒼朮，白芷，川芎，半夏（生用）。</p>
<p>為末麯糊丸。</p>
<h3>手麻。</h3>
<p>此是氣虛也。</p>
<h3>手木。</h3>
<p>東垣云：麻木，氣不行也。補肺中之氣，是濕痰死血，十指麻是胃中有濕痰死血。</p>
<h3>厥，因痰，用白朮，竹瀝。</h3>
<p>厥者，手足冷也。熱厥逆也，非寒證，因氣虛血虛，熱，承氣湯，外感解散加薑汁酒。</p>
<h3>面寒面熱。</h3>
<p>火起，寒鬱熱，面寒，退胃熱。</p>
<h3>喉痹。</h3>
<p>大概多是痰熱也，只以桐油吐之。或用麝干逆流水吐。</p>
<p>又方用李實根皮一片，噙口內，更用李實根碾水傅項上，一遭立效，新採園中者。</p>
<h3>纏喉風。</h3>
<p>戴云：屬痰熱，纏喉風者，謂其咽喉裏外皆腫者是也，用桐油以鵝翎探吐，又法用燈油腳探吐之。</p>
<p>又方用遠志去心，水調傅項上，一遭立效。</p>
<h3>喉咽生瘡并痛。</h3>
<p>多屬虛血熱，遊行無制客於咽喉，人參蜜炙，黃柏，荊芥。</p>
<p>虛，人參，竹瀝。無實火。</p>
<p>熱，黃連，荊芥，薄荷，硝石。</p>
<p>右為細末，用蜜薑汁調噙。</p>
<p>血虛，四物湯中加竹瀝。</p>
<h3>口瘡。</h3>
<p>服涼藥不愈者，此中焦氣不足，虛火泛上無制，用理中湯。甚者加附子，或噙官桂亦可。</p>
<p>又方用西漿水，口痛甚者以此徐徐飲之，冬月紫榴皮，燒灰噙之。</p>
<h3>酒皶鼻，血熱入肺。</h3>
<p>四物湯加陳皮，紅花，酒炒黃芩，煎入好酒數滴，就炒五靈脂末服效。又用桐油入黃連，以天弔藤燒油熱傅之。</p>
<h3>肺癰。</h3>
<p>已破入風者不治，搜風湯吐之（出醫壘元戎），收歛瘡口，止有合懽樹皮，白歛煎湯飲之。</p>
<h3>肺痿。</h3>
<p>專主養肺養血，養氣清金。</p>
<h3>天疱瘡。</h3>
<p>通聖散及蚯蚓泥，略炒蜜調傅之妙。從肚皮上起者，裏熱發外，還服通聖散可也。</p>
<h3>漏瘡。</h3>
<p>須先服補藥以生氣血，即參耆朮歸芎為主，大劑服之，外以附子末，唾和作餅如錢厚，以艾炷灸之，漏大艾炷亦大，漏小艾炷亦小，但灸令微熱，不可令痛，乾則易之，乾研為末，再和再灸，如困則止，來日如前法再灸，直至肉平為效，亦有用附片灸，仍前氣血藥作膏藥貼之。</p>
<h3>痔漏。</h3>
<p>用五倍子，朴硝，桑寄生，蓮房煎湯，先薰後洗，腫者，用木鱉子，五倍子，研細末調傅。</p>
<p>漏專以涼藥為主。</p>
<p>痔漏方。</p>
<p>人參，黃耆，當歸，川芎，升麻，枳殼，條芩，槐角。</p>
<h3>腸癰。</h3>
<p>作濕熱食積治，入風難治。治漏外塞藥，蘆甘石小便煆，牡蠣粉。</p>
<h3>結核。</h3>
<p>或在頸在項，在身在臂，如腫毒者，多痰注，作核不散，治耳後頂門各一塊。</p>
<p>僵蠶（炒），青黛，膽星，酒大黃。</p>
<p>右為末，蜜丸噙化之。</p>
<p>頸頰下生痰核。</p>
<p>二陳湯加炒大黃，連翹，桔梗，柴胡。</p>
<p>治臂核作痛。</p>
<p>連翹，防風，川芎，酒芩，蒼朮，皂角刺。</p>
<p>治還跳穴痛，防生附骨癰方。</p>
<p>以蒼朮佐黃柏之辛，行以青皮，冬月加桂枝，夏月加條子黃芩，體虛者加土牛膝，以生甘草為使，大料煎入生薑汁，帶辣食前飲之，病甚者加黃柏桂枝十數帖，發不動少加大黃一兩帖，仍不動者，恐癰將成矣。急撅地成坑，以火煅紅沃以小便，赤體坐其上，以被蓆圍抱下體，伏熱氣薰蒸腠理，開血氣暢而愈。</p>
<h3>脫肛。</h3>
<p>氣熱，氣虛。</p>
<p>氣虛補氣用人參，當歸，黃耆，川芎，升麻，血虛者四物湯，血熱者涼血四物湯，加黃柏炒。</p>
<p>金匱鉤玄卷二終。</p>
<h2>金匱鉤玄卷三  元  丹溪朱震亨著，門人戴元禮錄。</h2>
<h3>婦人科。</h3>
<p>經水經候過期而作疼者，乃虛中有熱，所以作疼，經水不及期，血熱也，四物湯加黃連。</p>
<p>經候將來而作疼者，血實。</p>
<p>桃仁，香附，黃連。</p>
<p>過期乃血少也。</p>
<p>川芎，當歸，帶人參白朮與痰藥。</p>
<p>過期紫黑色有塊，血熱也，必作痛。</p>
<p>四物湯加黃連，香附。</p>
<p>淡色過期者，乃痰多也。</p>
<p>二陳湯加川芎，當歸。</p>
<p>紫色成塊者，乃是熱也，四物湯加黃連之類。</p>
<p>痰多占住血海地位，因而下多者，目必漸昏，肥人如此。</p>
<p>南星，蒼朮，香附，川芎。</p>
<p>作丸服。</p>
<p>肥人不及日數而多者，痰多血虛。有熱前方加黃連白朮，若血枯經閉者，四物湯加桃仁紅花。</p>
<p>軀肥脂滿經閉者，導痰湯加芎連，不可服地黃，泥膈故也。如用以生薑汁炒。</p>
<h3>血崩。</h3>
<p>崩之為病，乃血之大下，豈可為寒，但血去後其人必虛，當大補氣血。</p>
<p>東垣有治法，但不言熱，其主於寒，學者宜再思之。急則治其標，白芷湯調百草霜。甚者棕櫚皮灰，後用四物湯加乾薑調理。因勞者，用參耆帶升補藥。因寒者，加乾薑。因熱者，加黃芩參耆。崩過多者，先服五靈脂末一服，當分寒熱，五靈脂能行能止，婦人血崩，用白芷香附為丸，白帶用椒目末，又用白芷末。</p>
<p>一方用生狗頭骨燒灰存性，或酒調服，或入藥服之，又方用五靈脂，半生半熟為末，以酒調服。</p>
<p>氣虛血虛者皆於四物湯加人參黃耆，漏下乃熱而虛者，四物湯加黃連。</p>
<h3>帶下赤白，赤屬血，白屬氣，主治燥濕為先。</h3>
<p>帶漏俱是胃中痰積流下，滲入膀胱，宜升，無人知此，肥人多是濕痰。</p>
<p>海石，半夏，南星，蒼朮，川芎，椿皮，黃柏。</p>
<p>瘦人帶病少，如有帶病者，是熱也。</p>
<p>黃柏，滑石，川芎，椿皮，海石。</p>
<p>甚者上必用吐，以提其氣，下用二陳湯加蒼朮白朮，仍用丸子（一本作瓦龍子）。</p>
<p>又云：赤白帶皆屬於熱，出於大腸小腸之分。</p>
<p>一方黃荊子炒焦為末，米飲湯下，治白帶，亦治心痛。</p>
<p>羅先生治法或十棗湯，或神祐丸，或玉燭散，皆可用，不可峻攻，實者可用此法，虛則不宜。</p>
<p>血虛者加減四物湯。氣虛者以參朮陳皮間與之。濕甚者用固腸丸。相火動者於諸藥中少加炒黃柏。滑者加龍骨赤石脂。滯者加葵花。性燥者加黃連。寒月少入薑附，臨機應變，必須斷厚味。</p>
<p>良薑，芍藥，黃柏（二錢各燒灰），人椿樹皮末（一兩半）。</p>
<p>右為末，粥為丸，每服三四十丸。</p>
<p>痰氣帶下者。</p>
<p>蒼朮，香附，滑石，蛤粉，半夏，茯苓。</p>
<p>婦人上有頭風鼻涕，下有白帶。</p>
<p>南星，蒼朮，黃柏（炒焦），滑石，半夏，川芎，辛夷，牡蠣粉（炒），茯苓。</p>
<p>白帶兼痛風。</p>
<p>半夏，茯苓，川芎，陳皮，甘草，蒼朮（炒浸），南星，牛膝，黃柏（酒浸晒乾炒）。</p>
<h3>子嗣。</h3>
<p>肥盛婦人不能孕育者，以其身中脂膜閉塞子宮，而致經事不能行，可用導痰湯之類，瘦怯婦人不能孕育者，以子宮無血，精氣不聚故也，可用四物湯養血養陰等藥。</p>
<h3>產前胎動。</h3>
<p>孕婦人因火動胎，逆上作喘者，急用條黃芩香附之類，將條芩更於水中，沉取重者用之。</p>
<p>固胎。</p>
<p>地黃（半錢），人參，白芍（各一錢），白朮（一錢半），川芎，歸身尾（一錢），陳皮（一錢），甘草（二錢），糯米（十四粒），黃連（些小），黃柏（些小），桑上羊兒藤（七葉完者）。</p>
<p>右㕮咀，煎湯服之。</p>
<p>血虛不安者用阿膠，痛者縮砂，行氣故也，一切病不可表。</p>
<h3>惡阻，從痰治。</h3>
<p>戴云：惡阻者，謂婦人有孕，惡心阻其飲食者是也，肥者有痰，瘦者有熱，多用二陳湯，或白朮為末水丸，隨所好或湯或水下，婦人懷妊愛物，乃一藏之虛，假如肝藏虛，其肝氣止能生胎，無餘物也。</p>
<p>血塊死血，食積痰飲成塊在兩脇動作，腹鳴嘈雜，眩暈身熱，時作時止。</p>
<p>黃連（一兩，一半用茱萸炒去茱萸，一半益智炒去益智），山梔（半兩炒），台芎（半兩），香附（一兩用童便浸），蘿蔔子（一兩半炒），山楂（一兩），三稜，青皮，神麯（各半兩），莪荗（半兩用米醋煮），桃仁（半兩留尖去皮），白芥子（一兩半炒），瓦龍子（消血塊）。</p>
<p>右為末，作丸子服之。</p>
<p>婦人血塊如盤，有孕難服峻劑。</p>
<p>香附（四兩醋煮），桃仁（一兩去皮尖），海石（一兩醋煮），白朮（一兩）。</p>
<p>右為末，神麯為丸。</p>
<h3>朿胎。</h3>
<p>朿胎丸，第八箇月服。</p>
<p>黃芩（酒炒，夏用一兩，秋用七錢半，冬用半兩），茯苓（七錢半），陳皮（二兩忌火），白朮（二兩）。</p>
<p>右為末，粥為丸。</p>
<p>朿胎散即達生散。</p>
<p>人參（半錢），陳皮（半錢），白朮，白芍，歸身尾（各一錢），甘草（二錢炙），大腹皮（三錢），紫蘇（半錢）。</p>
<p>或加枳殼砂仁作一帖，入青蔥五葉，黃楊木葉梢十箇煎，待於八九箇月，服十數帖，甚得力，或夏加黃芩，冬不必加，春加川芎，或有別證，以意消息。</p>
<p>第九箇月服。</p>
<p>黃芩（一兩，酒炒，宜熱藥不宜涼藥，怯弱人減半），白朮（一兩），枳殼（七錢半炒），滑石（七錢半，臨月十日前，小便多時減此一味）。</p>
<p>右為末，粥為丸，如梧桐子大，每服三十丸，空心熱湯下，不可多，恐損元氣。</p>
<h3>安胎。</h3>
<p>白朮，黃芩，炒麯。</p>
<p>右為末，粥為丸。</p>
<p>黃芩安胎，乃上中二焦藥，能降火下行。縮砂安胎治痛，行氣故也。</p>
<p>益母草即茺蔚子，治產前產後諸病，能行血養血，難產作膏，地黃膏，牛膝膏。</p>
<h3>胎漏，氣虛，血虛，血熱。</h3>
<p>戴云：胎漏者，謂婦人有胎而血漏下也。</p>
<h3>子腫，濕多。</h3>
<p>戴云：子腫者，謂孕婦手足或頭面通身浮腫者是也。用山梔炒一合，米飲湯吞下，三因方中有鯉魚湯。</p>
<h3>難產。</h3>
<p>難產之由，亦是八九箇月內不謹者，氣血虛故，亦有氣血凝滯而不能轉運者。</p>
<p>催生方。</p>
<p>白芷灰，滑石，百草霜。</p>
<p>右為末，芎歸湯或薑汁調服之。</p>
<p>治胎衣不下，婦人大全方別有治法。</p>
<h3>產後，血暈，一虛火載血，漸漸暈來。</h3>
<p>用鹿角燒灰，出火毒，研為極細末，以好酒調灌下即醒，行血極快也。</p>
<p>又方用韭葉細切，盛於有嘴瓶中，以熱醋沃之，急封其口，以嘴塞產鼻中可愈眩暈。</p>
<p>產後補虛。</p>
<p>人參，白朮（各二錢），黃芩，陳皮，川芎（各半錢），歸身尾（半錢），甘草（一錢炙），有熱加生薑（三錢），茯苓（一錢）。</p>
<p>必用大補氣血，雖有雜證，以末治之。</p>
<p>當清熱補血氣。</p>
<p>消血塊。</p>
<p>滑石（二錢），沒藥（一錢），麒麟竭（一錢），無則用牡丹皮。</p>
<p>右為末，醋糊作丸。瓦龍子能消血塊。</p>
<h3>泄。</h3>
<p>川芎，黃芩，白朮，茯苓，乾薑，滑石，白芍（炒），陳皮。</p>
<p>㕮咀煎湯服。</p>
<h3>惡露不盡。</h3>
<p>謂產後敗血所去不盡，在小腹作痛。</p>
<p>五靈脂，香附末，蛤粉。</p>
<p>右醋丸，甚者入桃仁（不去尖）。</p>
<p>如惡血不下，以五靈脂為末，神麯糊丸，白朮陳皮湯下。</p>
<h3>中風。</h3>
<p>不可作風治，切不可以小續命湯服之，必大補氣血，然後治痰，當以左右手脈分其氣血多少而治，口眼喎斜不可服小續命湯。</p>
<h3>發熱惡寒。</h3>
<p>大發熱必用乾薑，輕用茯苓，淡滲其熱，一應苦寒熱發表藥皆不可用也。纔見身熱，便不可表，發熱惡寒者，皆是氣血。左手脈不足，補血藥多於補氣藥。右手脈不足，補氣藥多於補血藥。惡寒發熱腹滿者，當去惡血。脈滿者，不是腹痛者，是產後不可下。白芍以其酸寒，伐生發之氣故也。產後一切病，皆不可發散。</p>
<h3>小兒科。</h3>
<p>小兒食積痰熱傷乳為病，大概肝與脾病多，小兒肝病多，及大人亦然，肝只是有餘，腎只是不足。</p>
<p>吐瀉黃疸。</p>
<p>三稜，莪荗，陳皮，青皮，神麯，麥芽，甘草，白朮，茯苓，黃連。</p>
<p>右為末，水調服。</p>
<p>傷乳吐瀉者加山楂，時氣吐瀉者加滑石。發熱者加薄荷。</p>
<p>吐瀉用益元散。錢氏五補五瀉之藥俱可用。</p>
<h3>急慢驚風。</h3>
<p>發熱，口瘡，手心伏熱，痰熱，痰喘，痰嗽。並用通法，重則用瓜蒂散，輕則用苦參赤小豆末，須酸虀汁調服吐之，後用通聖散蜜丸服之，驚有二證，一者熱痰，主急驚，當直瀉之，一者脾虛，乃為慢驚，所主多死，當養脾。東垣云：慢驚者，先實脾土，後散風邪。急者只用降火，下痰養血。慢者只用硃砂安神丸，更於血藥中求之。</p>
<p>黑龍丸。</p>
<p>牛膽南星，礞石（各一兩，焰硝等分煆），天竺黃，青黛（各半兩），蘆薈（二兩半），硃砂（三錢），僵蠶（五分），蜈蚣（二錢半燒存性）。</p>
<p>右為細末，煎甘草湯，膏丸，如雞頭大，每服一丸，或二丸，急驚薄荷湯下，慢驚桔梗白朮湯下。</p>
<p>神聖牛黃奪命散。</p>
<p>檳榔（半兩），木香（三錢），大黃（二兩麵裹煨熟為末），白牽牛（一兩，一半炒，一半生用），黑牽牛（粗末，一半生用，一半炒用）。</p>
<p>右為一處，研作細末，入輕粉少許，每服二錢，用蜜漿水調下，不拘時候，微利為度。</p>
<h3>疳病。</h3>
<p>胡黃連丸。</p>
<p>胡黃連（半錢，去果積），阿魏（一錢半醋煮，去肉積）  麝香（四粒），神麯（二錢半，去食積），黃連（二錢半炒，去熱積）。</p>
<p>右為末，豬膽汁丸，如黍米大，每服二十丸，白朮湯下。小兒疳病腹大，胡黃連丸二十丸，白朮湯下。</p>
<h3>痘瘡，分氣虛血虛補之。</h3>
<p>氣虛用人參白朮加解毒藥。但見紅點便忌升麻葛根湯，發得表虛也。吐瀉少食為裏虛，不吐瀉能食為實，裏實而補則結癰腫。</p>
<p>陷伏倒靨灰白為表虛，或用燒人屎，黑陷甚者，燒人屎，紅活綻凸為表實，而復用表藥則要潰爛不結痂，二者俱見為表裏俱虛。</p>
<p>痘瘡或初出或未出時，人有患者，宜預服此藥，多者合少，重者合輕，方用絲瓜近蒂三寸，連瓜子皮燒灰存性為末，砂糖拌，喫入硃砂末亦可。</p>
<p>解痘瘡毒藥。</p>
<p>絲瓜，升麻，酒芍藥，甘草（生用），糖毬，黑豆，犀角，赤小豆。</p>
<p>解痘瘡法，已出未出，皆可用硃砂為末，以蜜水調服，多者可減，少者可無。</p>
<h3>腹脹。</h3>
<p>蘿蔔子（蒸），紫蘇梗，陳皮，乾薑（各等分），甘草（減半）。</p>
<p>食減者加白朮煎服。</p>
<h3>夜啼。</h3>
<p>人參（一錢半），黃連（一錢半薑汁炒），廿草（半錢），竹葉（二十片）。</p>
<p>作二服，加薑一片，煎服之。</p>
<h3>口糜。</h3>
<p>戴云：謂滿口生瘡者便是。江茶粉草傅之。</p>
<p>又方苦參，黃丹，五倍子，青黛，各等分傅之。</p>
<h3>脫囊腫大。</h3>
<p>戴云：脫囊者，陰囊腫大，墜下不收上之說。</p>
<p>木通，甘草，黃連，當歸，黃芩。</p>
<p>煎服。</p>
<p>脫囊，紫蘇葉為末，水調傅上，荷葉裹之。</p>
<h3>脫肛．</h3>
<p>戴云：脫肛者，大腸脫下之說。東北方陳壁上土湯泡，先薰後洗，亦可用脫囊藥服之。</p>
<h3>木舌。</h3>
<p>戴云：木舌者，舌腫硬不和軟也，又言，重舌者亦是此類，二者蓋是熱病，用</p>
<p>百草霜，滑石，芒硝。</p>
<p>為末酒調敷。</p>
<h3>癮疹，黑斑，紅斑，瘡癢。</h3>
<p>用通聖散調服。</p>
<h3>咯紅。</h3>
<p>戴云：咯紅者，即唾內有血，非吐血與咳血。</p>
<p>黑豆，甘草，陳皮，煎服。</p>
<h3>喫泥，胃熱故也。</h3>
<p>軟石膏，甘草，黃芩，陳皮，茯苓，白朮。</p>
<p>煎服。</p>
<h3>痢疾，食積。</h3>
<p>黃芩，黃連，陳皮，甘草。</p>
<p>煎服。</p>
<p>赤痢加紅花桃仁，白痢加滑石末。</p>
<h3>食積痢。</h3>
<p>炒麯，蒼朮，滑石，芍藥，黃芩，白朮，甘草，陳皮，茯苓。</p>
<p>右㕮咀，煎下保和丸。</p>
<h3>解顱。</h3>
<p>乃是母氣虛與熱多耳。戴云：即初生小兒頭上骨未合而開者，右以四君子湯，四物湯，有熱加酒芩，炒黃連，生甘草煎服，外以帛束緊用，白蘞末敷之。</p>
<h3>蚘虫。</h3>
<p>練樹根為君，佐以二陳湯煎服。</p>
<h3>口噤。</h3>
<p>鬱金，藜蘆，瓜蒂。</p>
<p>為末，搐鼻。</p>
<h3>風痰。</h3>
<p>南星（半兩切），白礬（半兩，入器中，水高一指，浸晒乾，研細末），白附子（一兩）。</p>
<p>用飛白麵為丸，如雞頭大，每服一丸或二丸，薑蜜薄荷湯化下服之。</p>
<h3>癩頭．用紅炭焠長流水，令熱洗之，又服酒製通聖散，除大黃酒炒</h3>
<p>外，以胡荽子，伏龍肝，懸龍尾，黃連，白礬為末，調敷。</p>
<p>又方。</p>
<p>松樹厚皮（燒灰一兩），白膠香（熬沸傾石上二兩），黃丹（一兩飛），白礬（半兩用飛），軟石膏（一兩），黃連（半兩），大黃（五錢），輕粉（四盝）。</p>
<p>右極細末，熬熟，油調敷瘡上，須先洗了瘡口，敷乃佳。</p>
<h3>赤瘤。</h3>
<p>生地黃，木通，荊芥。</p>
<p>苦藥帶表之類，用巴蕉油塗患處。</p>
<h3>鼻赤。</h3>
<p>雄黃，黃丹。</p>
<p>同敷。一小兒好喫粽，成腹痛。</p>
<p>黃連，白酒藥。</p>
<p>為末調服乃愈。</p>
<h3>火豈君相五志俱有論。</h3>
<p>火之為病，其害甚大，其變甚速，其勢甚彰，其死甚暴，何者蓋能燔灼焚焰，飛走狂越，消爍於物，莫能禦之，遊行乎三焦虛實之兩途，曰君火也，猶人火也，曰相火也，猶龍火也，火性不妄動，能不違道於常，以稟位聽命，運行造化，生存之機矣。夫人在氣交之中，多動少靜，欲不妄動，其可得乎，故凡動者皆屬火，龍火一妄行，元氣受傷，勢不兩立，偏勝則病移他經，事非細故，動之極也，病則死矣。經所以謂，一水不勝二火之火，出於天造，君相之外，又有厥陰藏府之火，根於五志之內，六欲七情激之，其火隨起，大怒則火起於肝，醉飽則火起於胃，房勞則火起於腎，悲哀動中則火起於肺，心為君主，自焚則死矣。丹溪又啟火出五藏，主病曰：諸風掉眩，屬於肝火之動也。諸痛瘡瘍，屬於心火之用也。諸氣膹鬱，屬於肺火之升也。諸濕腫滿，屬於脾火之勝也。經所謂一水不勝五火之火，出自人為，又考內經病機一十九條內，舉屬火者五。諸熱瞀瘈，皆屬於火。諸驚禁慄，如喪神守，皆屬火。諸氣逆上，皆屬於火。諸躁擾越，皆屬於火。諸病跗腫，疼痠驚駭，皆屬於火。而河間又廣其說，火之致病者甚多，深契內經之意，曰：喘嘔吐酸，暴疰下迫，轉筋，小便渾濁，腹脹大，鼓之有聲，癰疽瘍疹，瘤氣結核，吐下霍亂，瞀鬱腫脹，鼻塞鼽，衄血溢血，泄淋閉，身熱惡寒，戰慄驚惑，悲笑譫妄，衄衊血污之病，皆少陰君火之火，乃真心小腸之氣所為也，若瞀瘛暴瘖，冒昧躁擾，狂越罵詈，驚駭跗腫，痠疼，氣逆上衝，禁慄如喪神守，嚏嘔瘡瘍，喉啞耳鳴，及聾嘔湧，溢食不下，目昧不明，暴注瞤瘈，暴病暴死，此皆少陽相火之熱，乃心包絡三焦之氣所為也，是皆火之變見於諸病也，謂為脈虛則浮大，實則洪數，藥之所主，各因其屬，君火者，心火也，可以濕伏，可以水滅，可以直折，惟黃連之屬可以制之。相火者，龍火也，不可以濕折之，從其性而伏之，惟黃柏之屬可以降之，噫瀉火之法，豈止如此，虛實多端，不可不察，以臟氣司之，如黃連瀉心火，黃芩瀉肺火，芍藥瀉脾火，柴胡瀉肝火，知母瀉腎火，此皆苦寒之味，能瀉有餘之火耳，若飲食勞倦，內傷元氣，火不兩立，為陽虛之病，以甘溫之劑除之，如黃耆人參甘草之屬，若陰微陽彊，相火熾盛，以乘陰位，日漸煎熬，為火虛之病，以甘寒之劑降之，如當歸地黃之屬，若心火亢極，鬱熱內實，為陽強之病，以鹹冷之劑折之，如大黃朴硝之屬。若腎水受傷，其陰失守，無根之火為虛之病，以壯水之劑制之，如生地黃玄參之屬。若右腎命門火衰，為陽脫之病，以溫熱之劑濟之，如附子乾薑之屬。若胃虛過食冷物，抑遏陽氣于脾土，為火鬱之病，以升散之劑發之。如升麻乾葛柴胡防風之屬，不明諸此之類，而求火之為病，施治何所依據，故於諸經集略其說，略備處方之用，庶免實實虛虛之禍也。</p>
<h3>氣屬陽動作火論。</h3>
<p>捍衛沖和不息之謂氣，擾亂妄動變常之謂火，當其和平之時，外護其表，復行於裏，周流一身，循環無端，出入升降，繼而有常，源出中焦，總統於肺氣，曷嘗病於人也，及其七情之交，攻五志之間，發乖戾失常，清者遽變之為濁，行者抑遏而反止，表失衛護而不和，內失健悍而火降，營運漸遠，肺失主持，妄動不已，五志厥陽之火起焉，上燔于肺氣乃病焉，何者氣本屬陽，反勝則為火矣。河間曰：五志過極則為火也。何後世不本此議而一概類聚，香辛燥熱之劑，氣作寒治，所據何理，且言七氣湯，製作其用，青皮，陳皮，三稜，蓬朮，益智，官桂，甘草，遂以為平和，可常用，通治七情所傷，混同一意，未喻其藥，以治真氣，以下諸氣。尤有甚焉者，茲不復敘。況所居之情，各各不同，且夫經言九氣之變，未嘗略而不詳，如怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，熱則氣泄，驚則氣亂，勞則氣耗，思則氣結，其言治法，高者抑之，下者舉之，寒者熱之，熱者寒之，驚者平之，勞者溫之，結者散之，喜者以恐升之，悲者以喜勝之，九氣之治，各有分別，何嘗混作寒，治論而類聚，香熱之藥，通言而治諸氣，豈理之謂歟，若香辛燥熱之劑，但可劫滯氣，衝快於一時，以其氣久抑滯，借此暫行開發之意，藥中無佐使制伏所起之氣，服之甚則增熾鬱火，蒸薰氣液而成積，自積滋長而成痰，一飲下膈氣，乃氤氳清虛之象，若霧露之著物，雖滯易散，內挾痰積，開而復結，服之日久，安有虛實而不動氣，動而不散者乎，此皆人所受誤之，由習俗已久，相沿而化，卒莫能救，升發太過，香辛散氣，燥熱傷氣，真氣耗散，濁氣上騰，猶曰腎虛不能攝氣歸原，遂與蘇子降氣湯，四磨湯，下黑鉛丹，養氣丹，鎮墜上升之氣，且硫黃黑錫佐以香熱，又無補養之性，藉此果能生氣而補腎乎，請熟詳之，夫濕痰盛甚者，亦或當之。初服未顯增變，由其喜墜而愈進，形質弱者何以收救，不悟肺受火炎，子氣亦弱，降令不行，火無以制，相扇而動，本勢空虛，命絕如縷，積而至深，丹毒濟火，一旦火氣狂散，喘息奔急而死，所以有形丹石丸藥，重墜無形之氣，其氣將何抵受，隨而降之乎，譬以石投水，水固未嘗沉也，豈不死歟。丹溪有日：上升之氣，自肝而出，中挾相火，其熱愈甚，自覺無冷，非真冷也，火熱似水，積熱之甚，陽亢陰微，故有此證，認假作真，似是之禍，可勝言哉，內經雖云，百病皆生於氣，以正氣受邪之不一也，今七情傷氣，鬱結不舒，痞悶壅塞，發為諸病，當詳所起之因，滯於何經，有上下部，分藏氣之不同，隨經用藥，有寒熱溫涼之同異，若枳殼利肺氣，多服損胸中至高之氣，青皮瀉肝氣，多服損真氣，與夫木香之行中下焦氣，香附之快滯氣，陳皮之泄氣，霍香之馨香上行胃氣，紫蘇之散表氣，厚朴之瀉衛氣，檳榔之瀉至高之氣，沉香之升降其氣，腦麝之散真氣，若此之類，氣實可宜，其中有行散者，有損泄者，其過劑乎，用之能卻氣之標，而不能治氣之本，豈可又佐以燥熱之藥，以火濟火，混同謂治諸氣，使之常服多服可乎，氣之與火一理而已，動靜之變，反化為二氣，作火論治，與病情相得，丹溪發揮論云：冷生氣者，出於高陽生之謬言也，自非身受寒氣，口食寒物，而足論寒者，吾恐十之無一二也。</p>
<h3>血屬陰難成易虧論。</h3>
<p>內經曰：榮者，水穀之精也，和調五藏，酒陳於六腑，乃能入於脈也。源源而來，生化於脾，總統於心，藏於脾肝，宣布於肺，施泄於腎，灌溉一身，目得之而能視，耳得之而能聽，手得之而能攝，掌得之而能握，足得之而能步，藏得之而能液，腑得之而能氣，是以出入升降，濡潤宣通者，由此使然也，注之於脈，少則濇，充則實，常以飲食日滋，故能陽生陰長。液汗變化而赤為血也，生化旺則諸經此持而長養，衰耗竭則百脈由此而空虛，可不謹養哉。故曰：血者神氣也，持之則存，失之則亡，是知血盛則形盛，血弱則形衰，神靜則陰生，形役則陽亢，陽盛則陰必衰，又何言陽旺而生陰血也，蓋謂血氣之常，陰從平，陽隨氣運行於內，而無陰以羈束，則氣何以樹立，故其致病也易，而調治也難，以其比陽常虧，而又損之，則陽易亢，陰易乏之論，可以見矣。諸經有云，陽道實，陰道虛，陽道常饒，陰道常乏，陽常有餘，陰常不足，以人之生也，年至十四而經行，至四十九而經斷，可見陰血之難成易虧，如此陰氣一虧傷，所變之證妄行，於上則吐衄衰涸，於外則虛勞妄返，於下則便紅，稍血熱則膀胱癃閉，溺血，滲透腸間則為腸風，陰虛陽搏則為崩中，濕蒸熱瘀則為滯下，熱極腐化則為膿血，火極似水，血色紫黑，熱盛於陰，發於瘡瘍，濕滯於血，則為痛癢癮疹，皮膚則為冷痹，畜之在上，則人喜忘，畜之在下，則為喜狂，隋恐跌撲，則瘀惡內凝，若分部位，身半已上，同天之陽，身半已下，同地之陰，此特舉其所顯之證者，治血必血屬之藥，欲求血藥，其四物之謂乎，河間謂隨證輔佐，謂之六合湯者，詳言之矣。余故陳其氣味專司之要，不可不察。夫川芎血中之氣藥也，通肝經，性味辛散，能行血滯於氣也。地黃血中血藥也，通腎經，性味甘寒，能生真陰之虛也。當歸分三治，血中主藥，通腎經，性味辛溫，全用能活血，各歸其經也。芍藥陰分藥也，通脾經，性味酸寒，能和血氣腹痛也。若求陰藥之屬必於此而取則焉。脾胃論有云：若善治者，隨經損益，損其一二味之所宜為主治可也，此特論血病而求血藥之屬者也，若氣虛血弱，又當從。長沙血虛以人參補之，陽旺則生陰血也，若四物者，獨能主血分受傷，為氣不虛也。輔佐之屬，若桃仁，紅花，蘇子，血竭，牡丹皮者，血滯所宜，蒲黃，阿膠，地榆，百草霜，櫚灰者，血崩所宜。乳香，沒藥，五靈脂，凌霄花者，血痛所宜，蓯蓉，瑣陽，牛膝，枸杞子，益母草，夏枯草，敗龜板者，血虛所宜，乳酪血液之物，血燥所宜，乾薑，桂者，血寒所宜，生地黃，苦參，血熱所宜，此特取其正治之大略耳。以其觸類而長，可謂無窮之應變矣。</p>
<h3>滯下辨論。</h3>
<p>滯下之病，嘗見世方，以赤白而分寒熱，妄用兜澀燥劑止之，或言積滯而用巴碙丸藥攻之，或指濕熱而與淡滲之劑利之，一偏之誤，可不明辯乎，謹按原病式所論，赤白同於一理，反復陳喻，但不熟察耳，果腸胃積滯不行，法當辛苦寒涼藥，推陳致新，蕩滌而去，不宜巴碙毒熱下之，否則鬱結轉甚而病變危者有之矣。若瀉痢不分兩證，混言濕熱，不利小便，非其治也，夫泄者，水穀濕之象，滯下者，垢瘀之物，同於濕熱而成，治分兩岐，而藥亦異，若淡滲之劑，功能散利水道，濁流得快，使泄自止，此有無之形，豈可與滯下混同論治而用導滯行積可乎？其下痢出於大腸，傳送之道了不干於腎氣，所下有形之物，或如魚腦，或下如豆汁，或便白膿，或下純血，或赤或白，或赤白相雜，若此者豈可與瀉混同論治而用淡滲利之可乎？嘗原其本，皆由腸胃日受飲食之積餘不盡行留滯於內，濕蒸熱瘀，鬱結日深，伏而不作，時逢炎暑不行，相火司令，又調攝失宜，復感酷熱之毒，至秋陽氣始，收火氣下降，蒸發畜積而滯下之證作矣。以其積滯之滯行，故名之曰滯下。其濕熱瘀積干於血分則赤，干於氣分則白，赤白兼下，氣血俱受邪矣，久而不愈，氣血不運，脾積不磨，陳積脫滑，下凝猶若魚腦矣，甚則腸胃空虛，關司失守，濁液并流，色非一類，錯雜混下，注出狀如豆汁矣。若脾氣下陷，虛坐努責便出，色如白膿矣。其熱傷血深，濕毒相瘀，粘結紫色則紫黑矣。其污濁積而欲出，氣滯而不與之出，所以下迫窘痛，後重裏急，至圊而不能便，總行頻併亦少，乍止乍起而不安，此皆大腸經有所壅遏窒礙，氣液不得宣通故也。眾言難處，何法則可，求之長沙論云：利之可下者，悉用大黃之劑，可溫者，悉用薑附之類，何嘗以巴碙熱毒下之，緊澀重藥兜之。又觀洽間立言，後重宜下，腹痛則宜和，身重則宜溫，脈弦則去風，膿血粘稠以重藥竭之，身冷自汗以重藥溫之，風邪內束宜汗之，鶩溏為痢當溫之，在表者汗之，在裏者下之，在上者湧之，在下者竭之，身表熱者內疏之，小便澀者分利之，用藥輕重之別，又加詳載。行血則便膿自愈，調氣則後重自除，治實治虛之要論，而丹溪又謂大虛大寒者，其治驗備載局方發揮，觀此治法，豈可膠柱而調瑟，又有胃弱而閉不食，此名禁口痢。病七方未有詳論者，以內經大法推之，內格嘔逆，火起炎上之象，究乎此則，胃虛木火乘之，是土敗木賊也，見此多成危候。</p>
<h3>三消之疾燥熱勝陰。</h3>
<p>嘗讀劉河間先生三消之論，始言天地六氣五味，以配養人身六味五藏，而究乎萬物之源，終引內經論渴諸證以辯乎，世方熱藥之誤，此比物立象，反復詳明，非深達陰陽造化之機者，孰能如是邪，請陳其略，夫經中有言，心肺氣厥而渴者，有腎熱而渴者，有言胃與大腸結熱而渴者，有言脾痹而渴者，有因小腸痹熱而渴者，有因傷飽肥甘而食渴者，有因醉飽入房而渴者，有因遠行勞倦遇天熱而渴者，有因傷害胃乾而渴者，有因腎熱而渴者，有因痛風而渴者，雖五藏之部分不同，而病之所遇各異，其為燥熱之疾一也。三消之熱，本濕寒之陰氣衰，燥熱之陽氣大甚，皆因乎飲食之餌失節，腸胃乾涸，而氣液不得宣平，或耗亂精神過違其度，或因大病，陰氣損而血液衰虛，陽氣悍而燥熱鬱甚，或因久嗜鹹物，恣食炙煿，飲食過度，亦有年少服金石丸散，積久實熱結於下焦，虛熱血氣不能制實熱，燥甚於腎，故渴而不飲，若飲水多而小便多者，名日消渴。若飲食多而不甚渴，小便數而消瘦者，名曰消中，若渴而飲水不絕，腿消瘦而小便有脂液者，名日腎消。此三消者，其燥熱同也。故治疾者，補腎水陰寒之虛，而瀉心火陽熱之實，除腸胃燥熱之甚，濟一身津液之衰，使道路散而不結，津液生而不枯，氣血利而不澀，則病日已矣。豈不以滋潤之劑，養陰以制燥，滋水而充液哉，何故？泄漏消渴多者，不知其書，謂因下部腎水虛不能制其上焦心火，使上實熱而多煩渴，下虛冷而多小便，若更服寒藥，則元氣轉虛，而下部腎水轉衰，則上焦心火尤難治也。但以暖藥補養元氣，若下部腎水得實而勝退上焦心火，則自然渴止，小便如常而病愈也吁。若此未明陰陽虛實之道也，夫腎水屬陰而本寒，虛則為熱，心火屬陽而本熱，虛則為寒，若腎水陰虛則心火陽實，是謂陽實陰虛而上下俱熱矣。以彼人言，但見消渴，數溲妄言，為下部寒爾。豈知腸胃燥熱，怫鬱使之然也。且夫寒物屬陰能養水而瀉心熱，物屬陽能養火而耗水，今腎水既不能勝心火，則上下俱熱，奈何熱養腎水，欲令勝心火，豈不闇哉。彼不謂水氣實者必能制火，虛則不能制火，故陽實陰虛而熱燥，其液小便淋而常，少陰實，陽虛不能制水，小便利而常多，此又不知消渴小便多者，蓋燥熱太甚而三焦腸胃之腠理怫鬱結滯，緻密壅塞，而水液不能滲泄浸潤於外，以養乎百骸，故腸胃之外，燥熱太甚，雖多飲水入於腸胃之內，終不能浸潤於外，故渴不止而小便多，水液既不能滲泄浸潤於外，則陰燥竭而無以自養，故久而多變為聾盲瘡瘍痤疿之類而危殆，其為燥熱傷陰也明矣。</p>
<h3>泄瀉從濕治有多法。</h3>
<p>泄瀉者，水瀉所為也，由濕本土，土乃脾胃之氣也，得此證者，或因於內傷，或感於外邪，皆能動乎脾濕，脾病則升舉之氣下陷，濕變注，并出大腸之道，以胃與大腸同乎陽明一經也。云：濕可成泄，垂教治濕大意，而言後世方論泥云：治濕不利小便，非其治也。故凡泄瀉之藥，多用淡滲之劑利之，下久不止，不分所得之因，遽以為寒，而用緊澀熱藥兜之。夫泄有五，飧泄者，水穀不化而完出，濕兼風也。溏泄者，所下汁積粘垢，濕兼熱也。鶩泄者，所下澄徹清冷，小便清白，濕兼寒也。濡泄者，體重軟弱，泄下多水，濕自甚也。滑泄者，久下不能禁固，濕勝氣脫也。若此有寒熱虛實之不同，舉治不可執一而言，謹書數法於後，夫泄有宜汗解者，經言，春傷於風，夏必飧泄，又云，久風為飧泄，若保命集云：用蒼朮，麻黃，防風之屬是也。有宜下而保安者，若長沙言，下痢脈滑而數者，有宿食也，當下之，利已差，至其時復發者，此為下未盡，更下之安，悉用大承氣湯加減之劑，有宜化而得安者，格致餘論，夏月患泄，百方不效，視之久病而神亦瘁，小便少而赤，脈滑而頗弦，格悶食減，因悟此久積所為，積濕成痰，留於肺中，宜大腸之不固也，清其源則流自清，以茱萸等作湯溫服一碗許，探喉中，一吐痰半升，如利減半，次早晨飲吐半升而利止，有以補養而愈者，若脾胃論，言脈弦氣弱，自汗，四肢發熱，大便泄瀉，從黃耆建中湯，有宜調和脾濕而得止者，若潔古言：口四肢懶倦，小便不利，大便走泄，沉困，飲食減少，以白朮，芍藥，茯苓加減治之，有宜升舉而安者，若試效，方言胃中濕，脾弱不能運行，食下則為泄，助甲膽風勝以克之，以升陽之藥，羌活，獨活，升麻，防風，炙甘草之屬，有宜燥濕而後除者，若脾胃論言上，濕有餘脈緩，怠惰嗜臥，四肢不收，大便泄瀉，從平胃散。有宜寒涼而愈者。若長沙言，協熱自利者，黃芩湯主之。舉其濕熱之相宜者，若長沙言，下利脈遲緊，痛未欲止，當溫之，下利心痛，急當救裏，下利清白，水液澄徹，可與理中四逆湯輩，究其利小便之相宜者，河間言：濕勝則濡泄，小便不利者，可與五苓散，益元散，分導之，以其收歛之相宜者，東垣言，寒滑，氣泄不固，製訶子散澀之，以上諸法，各有所主，宜獨利小便而濕動也，豈獨病因寒，必待龍骨，石脂，緊重燥毒之屬，澀之治者，又當審擇其說。一途取利，約不博可乎？</p>
<p>金匱鉤玄卷三終。</p>
