<header data-type="book">
<h1>串雅內外編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>趙學敏</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1759">公元1759年</data></dd></div>
<div><dt>底本</dt><dd>*《串雅全书》，中國中醫藥出版社，何源、李佳、趙小青校注。</dd></div>
</dl>
</header>

<h1>串雅內編</h1>

<h2>緒論</h2>
<p>負笈行醫，周遊四方，俗呼為走方。其術肇於扁鵲，華佗繼之。故其所傳諸法與國醫少異：治外以針刺蒸灸勝；治內以頂、串、禁、截勝。取其速驗，不計萬全也。</p>
<p>手所持器以鐵為之，形如環盂，虛其中，置鐵丸，周轉搖之，名曰虎刺。乃始於李次口。次口，走醫也。常行深山，有虎齧刺於口，求李拔之。次口置此器於虎口，為拔其刺。後其術大行，名聞江湖。祖其術者率持此以為識，即名虎刺云（三才藻異作虎撐）。</p>
<p>手所持藥囊曰無且囊，云秦無且所用者。針曰鈹針。有小袋曰羅星袋。有小尺曰分脈尺。有藥點之鏡曰語魅。有馬口鐵小筒，用以取牙，曰折脆。所作偽藥皆曰何兼。市草藥曰夾草。持竿布，賣膏藥，曰貨軟。作道妝僧服曰遊方。用針曰挑紅。用刀曰放紅。撮痧曰標印。艾火曰秉離。水調曰填冷。與人治病曰打樁。兩人合治曰攏工。共分酬金曰破洞。賺人財帛曰撈爪。脫險曰出洞。如此之類不能悉載，略舉一、二焉。</p>
<p>走醫有三字訣：一曰賤，藥物不取貴也；二曰驗，以下咽即能去病也；三曰便，山林僻邑倉卒即有。能守三字之要者，便是此中之傑出者矣。</p>
<p>走醫有四驗，以堅信流俗：一取牙；二點痣；三去翳；四捉蟲。四者皆憑藥力。手法有四要：用針要知補瀉；推拿要識虛實；揉拉在緩而不痛；鉗取在速而不亂。志欲敖，禮欲恭，語欲大，心欲小。持此勿失，遂踞上流。</p>
<p>藥上行者曰頂，下行者曰串，故頂藥多吐，串藥多瀉。頂、串而外，則曰截。截，絕也，使其病截然而止。按此即古汗、吐、下三法也。然有頂中之串，串中之頂，妙用如神，則又不可以常格論也。</p>
<p>藥有常用之品，有常棄之品，走醫皆收之。病有常見之症，有罕見之症，走醫皆習之。故有二難，曰：用藥難；識症難。非通乎陰陽，察乎微妙，安能使沉疴頓起，名醫拱手？誰謂小道不有可觀者歟！然今之煦煦然唯利是求、言偽而辯者，開方則筆似懸槌，臨症則目如枯炭，直謂之醫奴可耳，此走醫之罪人也。</p>
<p>藥有異性，不必醫皆知之，而走醫不可不知。脈有奇經，不必醫盡知之，而走醫不可不知。用奇乘間，一時之捷徑也；得心應手，平日之功用也。古人出則行道，入則讀書。蓋醫學通乎性命，知醫則知立命。而一切沴戾不能中之，可以卻病延年。否則己身之厄不能免，又焉能救人之危耶！</p>
<p>醫本期於濟世，能治則治之，不必存貪得之心。近率以醫為行業，謂求富者莫如醫之一途。於是，朋黨角立，趨利若鶩，入主出奴，各成門戶。在延醫者每以病試醫，在為醫者又以藥試病，彼此茫然，迄無成效。幸而偶中，則偽竊標榜。走醫之術類聚既非，鄉里論道罕見精微，惟各挾一長以遨遊逐食，忌則相賊，合則相呼，如雀隼之交，歡屈莫定。有如此者，勿讀吾書。</p>
<p>藥有最驗者曰丹頭，即劫劑是也，病除後必不可再用。走醫多挾此以博效，人每詫為神奇。病後再求余藥，則授以丸藥，謂可除余疾也。不知此即藥肆中所棄之根渣，不論寒、熱、溫、和，輒取而銼製為丸，以賤售而貴取，所謂「撈爪」是也。有似此者，勿讀吾書。</p>
<p>醫者意也，用藥不如用意，治有未效，必以意求。苟意入元微，自理有洞解，然後用藥無不驗。今則每恃祖方為長技，用而偶驗，則留根不除，俟再發而再獲也。用而不驗，則率用猛毒之藥以攻之，所謂下殺手也。在實症或間有轉機，而虛損之人不且立斃者乎？不知全在平日用心之講求也。若終歲群居科諢，入市招搖，貪饕沉凶，不知潛心理道者，勿讀吾書。截法中有點金藥、攔江網、八面鋒。如鯽魚霜、中分散、截骨、移毒皆點金藥也。黃鶴丹、青囊丸皆攔江網也。兌金、鯉鯪皆八面鋒也。俱不可不知。</p>
<p>走醫於內科有變病法，如藥脾丸中之用木瓜露以閉溺竅；掩月散中之用鯉脊鱗以遮瞳神；取貝母中之丹龍睛以弛髓脈；剔刺蝟中之連環骨以縮骨筋。外科則用白硃砂以種毒，蛇蕈灰以種瘡，即九種十三根之類。更有合扁豆膏以留瘧，曼陀酒以留癲，甚則醉獸散之可以病牛馬，金針丸之可以困花木，種種不仁，愈降愈甚，良由操技不精，欲藉此遂其罔利之心耳。此書雖盡刪其法，而不能盡絕其傳也。故述其大概，使後來者知所免焉。</p>
<p>以上十二條從丁氏八千卷樓所藏抄本補入。所論確有見地，且舉其弊而臚列之，足為殷鑑，實不忍使其湮沒不傳也。邁孫再識。</p>

<h2>凡例</h2>
<p>一、是編寫內外二種，首列其要，次及其餘。合之則諸法畢備，分之仍各有妙用，棄俗從雅，庶覽者得有流別，知所先後，則近道矣。</p>
<p>一、醫分必分症類次，茲則從法集方。有一病而諸門俱入者，以其各有治法，故不以類聚，不欲紊其成法也。</p>
<p>一、柏雲手抄有《市語宗派神用運技》一卷，言多不經，啟後人漁利之私，急為芟削，間採一、二入《緒論》中，以廣見聞。</p>
<p>一、頂、串、截為走醫三大法，以譬三才也。未流輒妄定成數，有九頂、十三串、七十二截等目，每自誇於人，輒曰：某某得幾頂、幾串、幾截，其法甚秘，云罕有全知者。不知以類統計，寧止區區者。余因盡發其秘，非欲矜己之長，良由濟世一端，多多益善也。外有九種、十三根等法，能拔骨髓諸毒，然不肖瘍科，每竊以取利，種毒留根，變小成大，實則為利淺而受害深，寧棄而不錄。</p>
<p>一、禁法之大莫如水法，次則祝由，茲錄其小者，絕擾屏囂，均無妨於大雅。其有近於巫、覡所為者，概在所擯。</p>
<p>一、方用單行奏功最捷，藥有製品取效更神，針灸輔藥力所不及也。故列藥外百物，又推恩所宜及也。故列醫外奇病所以畢其法，藥戲所以備其趣，皆以神妙用而奏厥功也，因並存之。</p>
<p>一、藥品尚真，奚錄偽焉？曰：所以著奸也！知其術，始不受其愚，而作偽者更無以巧取厚利，殆猶刪詩不去鄭、衛之意。矧其中有可用者，若假象皮膏之收口，假乳香之定痛，著效更捷子真，亦方術所不廢也。至若蒙汗、麻沸等方，予皆有之，而不備錄者，恐易以啟奸，且已列睡聖整骨諸術矣，何多贅焉！</p>
<p>一、取蟲為走醫第一要法，而選元尤有起死回生之術。無此二門，則無由見神，故兼存不廢。</p>
<p>一、是書初著，尚有靈穴經、奇脈經、靈草經、識症論、變症論及陽取、陰取、隔二、隔三諸法，當另為一編以問世。</p>
<p>一、是書採錄得於柏雲手抄者十之三，《百草鏡》、《救生海》者十之三，《養素園》及《江閩方本》者十之三，其一則傳於世醫者，悉匯而成帙。蓋筌蹄由始例得並志焉。</p>
<p>一、丸散云刀圭者，分方寸匕之一準，如梧桐子大也。方寸匕者，作匕正方一寸，抄散取不落為度。五匕者，即今五銖錢邊五字者，抄之不落為度。一撮者，四刀圭也（匕即匙也）。按恕軒先生原訂有內、外二編，凡例所論，總內、外而言之。茲所刊者，惟內編四卷。如水法、祝由、藥外、醫外、藥戲、取蟲、選元諸條皆內編所不載。今年正月，從越中藏書家覓得外編，如獲拱寶。匆次不暇細校，錄付仍囑吳君平格補註，行將以次開雕，以公同好。</p>
<p><u>光緒庚寅五月望邁孫識。</u></p>

<h2>原序</h2>
<p>《周禮》分醫為四：有食醫、疾醫、瘍醫、獸醫；後乃有十三科，而未聞有「走方」之名也。《物原》記岐黃以來有針灸，厥後巫彭製藥丸，伊尹創煎藥，而未聞有「禁、截」諸法也。晉·王叔和纂《脈經》，敘陰陽、內外，辨部候、經絡、臟腑之病為最詳。金·張子和以汗、下、吐三法，風、寒、暑、濕、火、燥六門為醫之關鍵，終未聞有「頂、串」諸名也。有之，自草澤醫始，世所謂「走方」是也。人每賤薄之，謂其遊食江湖，貨藥吮舐，跡類丐；挾技劫病，貪利恣睢，心又類盜；剽竊醫緒，倡為詭異；敗草毒劑，悉曰仙遺；刳滌魘迷，詫為神授。輕淺之症，或可貪天；沉痼之疾，烏能起廢？雖然，誠有是焉，亦不可概論也。為問今之乘華軒、繁徒衛者，胥能識症、知脈、辨藥，通其玄妙者乎？儼然峨高冠，竊虛譽矣！今之遊權門、食厚俸者，胥能決生死、達內外、定方劑十全無失者乎？儼然踞高座、侈功德矣！是知笑之為笑，而不知非笑之為笑也。</p>
<p>予幼嗜岐黃家言，讀書自《靈》、《素》、《難經》而下，旁及《道藏》、石室；考穴自《銅人內景圖》而下，更及《太素》、《奇經》；《傷寒》則仲景之外，遍及《金鞞》、《木索》；《本草》則《綱目》之外，遠及《海錄》、《丹房》。有得，輒抄撮忘倦，不自知結習至此，老而靡倦。然聞走方醫中有頂、串諸術，操技最神，而奏效甚捷。其徒侶多動色相戒，秘不輕授。詰其所習，大率知其所以，而不知其所以然，鮮有貫通者。以故欲宏覽而無由，嘗以為憾。</p>
<p>有宗子柏云者，挾是術遍遊南北，遠近震其名，今且老矣。戊寅航海歸，過予談藝。質其道頗有奧理，不悖於古，而利於今，與尋常搖鈴求售者迥異。顧其方，旁涉玄禁，瑣及遊戲，不免誇新鬥異，為國醫所不道。因錄其所授，重加芟訂，存其可濟於世者，部居別白，都成一編，名之曰《串雅》。使後之習是術者，不致為庸俗所詆譭，殆亦柏云所心許焉。昔歐陽子暴利幾絕，乞藥於牛醫。李防禦治嗽得官，傳方於下走，誰謂小道不有可觀者歟？亦視其人之善用斯術否也。</p>

<h2>重校刊串雅內編小引</h2>
<p>醫學淵源古帝，其書滿家。經方脈論，各有專門。彪炳後先，幾於充棟。獨走方鈴醫自為一科。習是技者，師師口授，斅法相承。大率剽竊前賢緒論，以自為盈縮，或誇神授，或詫僧傳。方則多本古人，又不能盡通古人之意，故自古無專書，人亦以賣藝者流薄之。其徒眾輒挾此訾食江湖，秘其主使方劑，互為標揭。而鄉僻城市隨遇療治亦往往奇驗，比之世為名醫吝驕自大之輩似又勝之。嘗讀倉公傳及六朝褚生列傳，與近代蘇、沈所紀，見證處方亦都暗合，可見鈴串流傳遠有端緒，抑亦畫山水者，同能不如獨勝歟！</p>
<p>同里趙恕軒先生纂《串雅》一書，蓋嘗遇鈴醫之賢者，不私所得，悉以授之。先生刪其眩異繁縟，參與秘笈所藏，歸之雅正，勒為成書，其用心亦孔厚矣！咸豐初，為餘杭某君刊行，未及流布，遽毀於庚辛之難，人間僅有存者。</p>
<p>徐侍郎頌閣先生乙酉春來杭州，從丁氏八千卷樓假歸，錄付以去。瀕行屬余刊印，以公同好。因乞吳君平格（庚生）補註，條繫於後。平格邃於醫，其所注悉有依據，足以增益是書。若剞劂之資則鎮洋瞿太守永嘉任之。以廣醫藥之一家，不必神其說於龍宮三十方也。</p>
<p><u>光緒庚寅仲夏仁和許增邁孫識。</u></p>

<h2>卷一</h2>

<h3>截藥總治門</h3>

<h4>黃鶴丹</h4>
<p>香附一斤，黃連半斤，洗曬為末，水糊丸如梧子大。如外感蔥薑湯下；內傷米湯下；氣病木香湯下，或沉香或木香隨時酌用；血病酒下；痰病薑湯下；火病白滾水下；余可類推。</p>

<h4>青囊丸</h4>
<p>香附略炒一斤，烏藥略泡五兩三錢，為末，水醋煮曲糊為丸。隨症用引，如頭痛茶下；痰氣薑湯下；血病酒下之類。</p>
<p>飛霞子韓𢘅，昔遊方外治百病，男用黃鶴丹，女用青囊丸，此二方乃遊方之祖方也。</p>
<p>庚生按：編中所載各方，用之得宜，奏效自捷。然須詳審病人體質之虛實，症之寒熱，慎勿妄投致誤。</p>

<h4>鯉鯪丸</h4>
<p>治一切無名腫毒，治瘰癧尤效。</p>
<p>歸尾五錢，大黃、荊芥、桔梗、乳香（炙）、沒藥（炙）各二錢，黃芩、連翹各三錢，防風、羌活各二錢五分，全蠍一錢，蟬退二十個去頭，殭蠶二十五條，牛皮膠一兩土炒，雄黃七分，金頭蜈蚣四條去頭足分作四樣法制：一條用薑汁擦焙乾；一條用香油擦焙乾；一條用醋擦焙乾；一條用酥擦炙。再用穿山甲四兩，亦作四制：一兩用紅花五錢煎湯煮焙乾；一兩用牙皂五錢煎湯煮焙乾；一兩用紫草節五錢煎湯煮焙乾；一兩用蘇木五錢煎湯煮焙乾。</p>
<p>上藥共為細末，用真米醋打糊為丸，每丸重一錢二分；硃砂一錢五分，共為衣。磁瓶收貯，內用麝香五分以養之，每服一丸，滾酒送下。未成內消，已成出膿，神效異常。</p>

<h4>蜜犀丸</h4>
<p>治半身不遂，口眼喎斜，語言不利。小兒驚風抽搐等症。</p>
<p>槐花（炒）四兩，當歸、川烏、元參（炒）各二兩，麻黃、茯苓（乳拌）、防風、薄荷、甘草各一兩，豬牙皂角（去皮弦子炒）五錢，冰片五分另研。</p>
<p>先以前十味研細末，後入冰片，和勻蜜丸櫻桃大，每服一丸，小兒減半，細嚼清茶送下。</p>
<p>庚生按：小兒驚風有急慢之別，二者判若天淵，古今方書每混合不分。殊不知急驚屬火屬痰屬實者多，慢驚屬風（脾虛生風）屬寒屬虛者多。此方內有川烏、牙皂、麻黃、冰片諸品辛燥升散，開竅祛風，投之急驚，恐小兒稚陰稚陽難禁耗散，惟內有實火實痰者，尚可無害。倘誤施之慢驚脾虛生風之症，恐下咽立斃矣，慎之慎之。</p>

<h4>普濟丹</h4>
<p>治一切瘟疫、時氣、惡寒發熱、昏迷頭痛等症。</p>
<p>製大黃一兩五錢，生大黃一兩五錢，殭蠶三錢，生薑汁搗糊為丸，重九分、七分、五分凡三等。遇瘟疫時症，取無根井華水服之（即平旦井中取起第一汲之水），視病人之老幼強弱，為多寡之准。</p>

<h4>蓬萊丸</h4>
<p>治男婦老幼一切感冒瘟疫時症。</p>
<p>蒼朮八兩（米泔浸透陳壁土炒），半夏（薑汁製）、柴胡、黃芩、厚朴（薑汁炒）、廣皮、枳實（炒）、羌活、蘇葉、木通各四兩，山楂（炒）、萊菔子（炒）各六兩。</p>
<p>上藥共為末，鮮荷葉煎湯，和藥曬乾，加神麯六兩，打糊為丸，重三錢，硃砂五錢、雄黃一兩，研末為衣。頭痛寒熱蔥薑湯下，咳嗽痰喘薑汁湯下，中暑香薷扁豆湯下，瘧疾薑汁沖服，紅白痢木香檳榔湯下，霍亂吐瀉藿香砂仁湯下，腹痛水瀉赤芍車前子湯下，飽悶陳皮木香湯下，不服水土廣藿香湯下，山嵐瘴氣蠱毒蟲積檳榔湯下，不識病源諸症白滾水下。大人一丸，小兒孕婦及吐血虛損人半丸，服藥後忌食生冷麵食。</p>

<h4>發汗散</h4>
<p>專治一切感冒風寒。</p>
<p>綠豆粉、麻黃（去根節）、甘草各等分，為極細末，用無根水半茶杯調服一錢，即時汗出自愈。</p>
<p>庚生按：此古方諸葛解甲散也，加入甘草一味，更為妥善。惟服時須量強弱加減，壯者錢半，次者一錢，十歲以下用五六分，不用蓋被其汗立出，然不及椒杏丸方，尤為平和。方列後：杏仁三十一粒，白胡椒三十一粒，共搗為末，生薑汁為丸，握手中一時，自然汗出，傷寒用此，於虛損人尤宜。</p>

<h4>仙桃丸</h4>
<p>治手足麻痹，或癱瘓疼痛，腰膝痹痛，或打撲傷損，閃肭痛不可忍。</p>
<p>生川烏（不去皮）、五靈脂各四兩，威靈仙五兩，洗曬為末，酒糊丸如梧子大，每服七丸至十丸，鹽湯下，忌飲茶，此藥常服，其效如神。</p>
<p>庚生按：此即古方烏龍丹，以威靈仙易麝香耳。風痹諸症虛實參半，不可不慎，如治跌撲傷閃，及有風邪有瘀血者為宜，然亦不可多服久服。</p>

<h4>餘糧丸</h4>
<p>治腫脹並脫力勞傷。</p>
<p>皂礬八兩（用紅醋二茶杯煅至紅色，放地上出火毒），餘糧石四兩（醋煅七次），砂仁四錢（薑汁炒），白豆蔻四錢（炒），厚朴四錢（炒），廣皮三錢，乾漆一兩（炒以煙盡為度），白芷二錢，鐵梗茵陳五錢，海金砂一錢，川貝二錢，益母草一錢，廣木香二錢，地骨皮二錢，各為細末，以黑棗搗爛為丸。如緩症日服七分，夜服八分；重症每服二三錢，以好酒下之。</p>
<p>此方並治男婦翻胃噎膈腹痛、小兒喜吃泥土、生米等物，及積年黃疸諸症。極重者服至六兩必能全愈。孕婦忌服。此藥服後終生忌食河豚、蕎麥。虛損之人忌用。</p>

<h4>八仙丹</h4>
<p>治小兒百病。此方以巴霜為君，體質熱者勿服。</p>
<p>巴霜一錢，硃砂五分，鬱金五分，乳香二分，沒藥三分，沉香五分，木香四分，雄黃六分。</p>
<p>上藥為末，滴水為丸，如粟米大，每服二、三丸。驚癇抽搐赤金湯下，潮熱變蒸燈心湯下，傷風傷寒薑湯下，痰涎壅塞姜法竹瀝湯下，食積肚痛山楂麥芽湯下，痢疾泄瀉薑汁衝開水下。</p>

<h4>花蕊石散</h4>
<p>治一切金刃箭鏃傷，及打撲傷損，狗咬至死者，急以後藥摻傷處。其血化為黃水，再摻便活，更不疼痛。如內損血入臟腑，煎童便入酒少許，熱調後藥一錢，服之立效。牲畜抵傷腸出不損者，急納入，用桑皮線縫之，摻藥血止立活。婦人產後敗血不盡血暈，惡血奔心，胎死腹中，胎衣不下致死，但心頭溫暖者，急以童便調服一錢，取下惡物如豬肝，終身不患血風血氣，若膈上有血化為黃水，即時吐出，或隨小便出甚效。</p>
<p>硫黃四兩，蕊石一兩，併為末拌勻，用瓦罐盛之，泥封口焙乾，安四方磚上，用炭十六兩簇匝，從巳午時自下生火，煅至炭消冷定，取出，為細末，瓷瓶收用。</p>

<h4>太乙膏</h4>
<p>治一切癰疽、瘡毒已未成潰者，如治發背，先以溫水洗淨，軟絹拭乾，將膏用紅布攤貼。如治瘰癧，用鹽湯洗淨攤貼。風赤眼，捏作小餅貼太陽穴。腰膝疼痛貼患處。婦人經脈不通腹痛，貼臍口。一切疥瘡，用麻油煎滾和膏塗之。虎犬蛇蠍傷、刀斧傷，亦貼患處。元參、白芷、當歸、赤芍、肉桂、大黃、生地各一兩，麻油二斤，入銅鍋內，煎至黑、濾去渣、入黃丹十二兩，再煎成滴水手捻軟硬得中，即成膏矣。腫毒跌撲疼痛，加乳香、沒藥。煎油時，應加槐桃桑柳嫩枝各一兩。</p>
<p>附制丹法：黃丹先炒紫色，傾入缸內，用滾水一桶泡之，再汲涼水滿缸，用棒常攪，浸一宿，去水，再炒如前二次，研末令極細，用甘草二兩，薄荷、防風、紅花各五錢，同煎收干尤妙。</p>

<h3>截藥內治門</h3>

<h4>治傷寒結胸</h4>
<p>瓜蔞一枚（槌碎），入甘草一錢，同煎服之。</p>
<p>食結在胸，非大黃、芒硝、枳殼、檳榔、厚朴之類所能祛逐，必得瓜蔞始得陷之。入於脾中尤恐其過於泄也，少加甘草以留之，且得甘草之和不至十分推蕩，此變症而用變法，勝於用正也。</p>

<h4>拿瘧</h4>
<p>黃丹五錢（生用），白明礬三錢（生用），胡椒一錢五分（為末），麝香半分。</p>
<p>上藥各為末。臨發時對太陽坐定，將好米醋調藥，男左女右敷於手掌心，外加絹帕緊扎，待藥力熱方可行走，以出汗為度。如陰天則以火爐烘腳。此藥一料能治三人，年老身弱畏服藥者，以此治之。</p>

<h4>宣木散</h4>
<p>專散肝木中之火，肝火既達，則諸經之火盡散。</p>
<p>白芍三錢，柴胡二錢，丹皮二錢，元參三錢，麥冬三錢，荊芥三錢，生地三錢，梔子三錢（炒），防風一錢，天花粉二錢，水煎服。</p>

<h4>闢瘟丹</h4>
<p>蒼朮為君，須加倍用，其餘羌活、獨活、白芷、香附、大黃、甘松、山奈、赤箭、雄黃各等分為細末，麵糊丸，如彈子大，黃丹為衣，曬乾焚之，可闢時氣。</p>

<h4>截頭風</h4>
<p>治偏正頭風，百藥不效，一服便愈。</p>
<p>香白芷二兩五錢（炒），川芎（炒），甘草（炒），川烏頭（半生半熟），以上各一兩。</p>
<p>上藥為末，每服一錢，細茶薄荷湯調下。</p>

<h4>治頭痛</h4>
<p>兼治腦痛。</p>
<p>川芎一兩，沙參一兩，蔓荊子二錢，細辛五分。</p>
<p>水兩碗，煎八分，加黃酒半碗調勻，早晨服之。</p>

<h4>都梁丸</h4>
<p>治頭風眩暈。女人胎前產後傷風頭痛者效。</p>
<p>香白芷一味，洗曬為末，蜜丸如彈子大，每嚼一丸，以清茶或荊芥湯化下。</p>

<h4>鶴頂丹</h4>
<p>治痰氣結胸，不問陰陽虛實，較勝陷胸瀉心等藥。</p>
<p>銀硃五錢，明礬一兩同研，以熨斗盛火。以瓦盛藥，熔化，急刮下，搓丸。每服一錢，細茶入薑汁少許，服之。心上隱隱有聲，結胸自散，不動臟腑，不傷真氣。明礬化痰，銀硃破積故也。</p>

<h4>時行痰嗽</h4>
<p>致面目浮腫，終夕不寐。</p>
<p>蛤粉少加青黛，用淡虀水滴麻油數點，調服三錢。</p>
<p>庚生按：此即古方蛤利散之類，然用不得法，每易作嘔，致藥難下咽，不如用蛤利散為便。方用蛤利殼三、四兩，洗淨炭火煅焙，不可過性，以燒出氣味炸響為度，取出放地上出火毒，研細收存。如遇痰火喘咳之症，取一兩分為三服，少吃晚飯，先用稀面和調，捏成丸如黃豆大，用開水將丸兩三口吞下，旋丸旋吞，不可放干，藥才下咽，痰即下行。</p>

<h4>保靈丹</h4>
<p>治蟲蠱諸毒，並解一切藥毒。</p>
<p>大山豆根五錢，雄黃一兩，硃砂一兩（研細），黃藥子、黃丹、麝香、斑蝥（去頭足）各二錢五分，糯米半升（炒黃），川巴豆（肥者取肉不去油）二錢五分，續隨子（生杵研末）二錢五分，赤蜈蚣二條（一生一炙）。</p>
<p>上藥入乳缽研細末，和勻，用糯米湯和丸如龍眼核大，陰乾，磁瓶收貯。每一丸，細茶吞服，不得嚼破，須臾毒物即下。</p>

<h4>交感丹</h4>
<p>治抑鬱煩惱，七情所傷，不思飲食，面黃形羸，胸膈諸症。</p>
<p>香附二斤（用瓦器炒令黃色取淨末一斤），茯神（去皮）四兩。</p>
<p>上為細末，蜜丸如彈子大，每服一丸，空腹細嚼，白滾湯或降氣湯下。</p>
<p>附：降氣湯方：香附五錢，如前法制，加茯神二兩、炙甘草一兩五錢，為末，點沸湯服前藥。</p>
<p>庚生按：此方《醫書匯參》中有之。香附用一斤，以長流水浸三日，擦去毛，以薑汁、童便、陳酒、米醋四物，各炒一次焙乾，加茯神四兩，研細末和勻，蜜丸如彈子大。香附不可近鐵器。以上兩藥分量既配，製法亦佳，較勝於前方也。</p>

<h4>獨步散</h4>
<p>治心脾氣痛，凡人胸膛軟處痛者，由於氣與寒結，或致終身子母相傳，俗名心氣痛，其實非也。乃胃脘有滯，以此治之立愈。</p>
<p>香附（米醋浸略炒為末）、高良薑（酒洗七次略炒），俱各封收。因寒者，姜二錢，附一錢；因氣者，附二錢，姜一錢；因氣與寒者，各等分，和勻，熟米湯入薑汁一匙，鹽一捻，調服立止。不過七八次，可除根矣。</p>

<h4>膈氣暫開關方</h4>
<p>荔枝一個（去核），將蜒蚰一條，放在荔枝肉內，加冰片三、四釐摻在蜒蚰上，即將荔枝肉裹好，仍放在殼內紮緊，令病人含在口內。有冷涎水滲出，可徐徐嚥下，俟一時許蜒蚰已化，無水滲出，令病人連殼吐出。只服一次可以立進飲食，但不可令病人知之，恐有嫌穢，不肯下咽也。</p>
<p>庚生按：膈症乃情志之病，治療甚難。予嘗以啟膈散治愈數人，因錄方於下：北沙參、南沙參各三錢，川貝母二錢，茯苓一錢五分，砂仁殼、廣鬱金各五分，荷葉蒂二枚，杵頭糠一錢，水煎頻服甚效，或加丹參一錢五分亦可。</p>
<p>又方：用陳年竹蒸架劈炙為末，加金針菜十條，煎服，治酒膈尤驗。</p>
<p>又方：初生小鼠新瓦上焙乾，為末，陳酒沖服。</p>

<h4>起廢丹</h4>
<p>治痿症久不效者服之。</p>
<p>麥冬半斤，熟地一斤，元參七兩，五味子一兩，水二十碗，煎成六碗，早晨服三碗，下午服二碗，夜半服一碗，一連二日必能起坐。後改用：熟地八兩，元參三兩，五味子三錢，山茱萸四錢，牛膝一兩，水十碗，煎二碗，早晨服一碗，晚服一碗，十日即能行步，一月之後，平復如舊矣。</p>

<h4>坎離丸</h4>
<p>能生精益血，治虛損。</p>
<p>全當歸（用好酒浸洗三日，曬乾銼碎），川芎（揀極大者用水洗淨銼碎），白芍（溫水洗淨銼碎，用好酒浸一日，曬乾炒赤），以上各四兩。熟地黃八兩（淮慶者佳。四兩用砂仁，四兩用白茯苓同入絹袋，用好酒二壺煮乾，只用地黃），厚黃柏（去皮）八兩（二兩鹽水浸，二兩酒浸，二兩人乳浸，二兩蜜浸，俱曬乾炒赤），知母（去毛）四兩（制與黃柏同）。</p>
<p>上六味，和勻，平鋪三四分厚，夜露日曬三日夜，研細末，用真冬密一斤八兩，加水半碗，共煉至滴水成珠，再加水一碗，煎一滾，和前藥丸桐子大，每服八九十丸，空心鹽湯下，冬用溫酒下。</p>

<h4>元德膏</h4>
<p>治聞雷即昏暈不省人事，此氣怯也。</p>
<p>人參、當歸、麥冬各二兩，五味子五錢，用水一斗，煎至二升，合熬成膏。每服三匙，白滾湯調服，盡一斤，聞雷自若。</p>

<h4>解惡丹</h4>
<p>治中惡、中痰。</p>
<p>人參三錢，茯苓五錢，天南星三錢，附子一錢，虛損人加人參，水煎服即蘇。按中惡中痰，有宜用蘇合丸、牛黃清心丸等藥者，此方即忌用。</p>

<h4>治老人不寐</h4>
<p>六味地黃丸一料，加麥冬四兩，炒棗仁五兩，黃連三錢，肉桂五錢，當歸三兩，白芍五兩，甘菊花三兩，白芥子二兩，各為末，蜜丸。每日飯前用白滾水送服五錢。老年人服至百歲，精力愈健。</p>

<h4>安寐丹</h4>
<p>治怔忡不寐等症。</p>
<p>人參三錢，丹參二錢，麥冬三錢，甘草一錢，茯神三錢，生棗仁五錢，熟棗仁五錢，菖蒲一錢，當歸三錢，五味子一錢，水煎服。</p>

<h4>瀉火湯</h4>
<p>治各經之火。</p>
<p>梔子三錢，白芍五錢，甘草一錢，丹皮三錢，元參三錢，水煎服。心火加黃連一錢，肺火加黃芩一錢，胃火加石膏三錢，腎火加知母一錢、黃柏一錢，大腸火加地榆一錢，小腸火加天冬、麥冬各三錢，膀胱火加澤瀉三錢。</p>

<h4>靈寶化積膏</h4>
<p>治積滯。</p>
<p>巴豆仁、蓖麻仁各一百粒，五靈脂四兩，阿魏（醋煮化）、當歸各一兩，兩頭尖、穿山甲、乳香（去油）、沒藥（去油）各五錢，麝香三分，松香一斤半，芝麻油五兩。</p>
<p>除乳香、沒藥、麝香、松香、阿魏之外，余藥俱切片浸油內三日，用砂鍋煎藥至焦黑色，去滓，入松香煎一飯時，再入乳香、沒藥、麝香、阿魏。然後取起入水中抽洗，以金黃色為度。煎時以桃柳枝用手攪勻，勿令枯，用狗皮攤貼患處，每日以熱襪底熨令藥氣深入為妙。</p>
<p>庚生按：兩頭尖並非雄鼠糞，別有是藥，非草非木，形類鼠矢而稍大，味辛微苦，出關東等處。或云是蟲食樹滋所化，或云草木所結之子。近時藥肆固不知此物，而醫家亦鮮不以為雄鼠糞矣。</p>

<h4>截癲</h4>
<p>治失心癲狂。</p>
<p>真鬱金七兩，明礬三兩，為末，和丸如梧子大，每服五十丸，白滾湯下。</p>
<p>有婦人癲狂十年，有人授此方，初服心胸有物脫去，神氣灑然，再服而蘇。此驚憂痰血，絡聚心竅所致。鬱金入心去惡血，明礬化頑痰故也。</p>

<h4>回癲湯</h4>
<p>治羊癲症，忽然臥倒，作羊馬之聲，口中吐痰如湧，痰迷心竅，因寒而成，感寒則發也。一劑即愈，永不再發。</p>
<p>人參三錢，白朮一兩，茯神五錢，山藥三錢，苡仁五錢，肉桂一錢，附子一錢，半夏三錢，水煎服。此症得之小兒之時居多，內傷脾胃，外感風寒，結在胸膈之中，所以遇風寒便發。今純用補正之藥，不盡祛痰，轉能去其病根也。若作風痰治之，雖亦奏效，終不能一劑而不再發。</p>

<h4>收呆湯</h4>
<p>呆病，鬱抑不舒，憤怒而成者有之；羞恚而成者有之。</p>
<p>人參一兩，柴胡一兩，當歸一兩，白芍四兩，半夏一兩，甘草五錢，生棗仁一兩，天南星五錢，附子一錢，菖蒲一兩，神麯五錢，茯苓三兩，鬱金五錢。</p>
<p>水十碗，煎成一碗，灌之。彼不肯飲，以一人執其頭髮，兩手握其左右手，以一人托住下頦，一人將羊角去尖插入其口，將藥傾入羊角內灌之，倘或吐出不妨再灌，以灌完為妙。彼必罵詈，少頃憊困欲睡，聽其自醒，萬萬不可驚動，務令自醒則全愈，驚醒則半愈矣。</p>

<h4>啟迷丹</h4>
<p>治發厥口不能言，眼閉，手撒，喉中作酣聲，痰氣甚盛，有一日即死者，有二、三日而死者，因素有痰氣而發也。</p>
<p>生半夏五錢，菖蒲二錢，菟絲子一兩，甘草三分，茯神三錢，皂莢一錢，人參五錢，生薑一錢，水煎服。</p>

<h4>摩腰丹</h4>
<p>治寒濕腰痛。</p>
<p>附子尖、烏頭尖、南星、硃砂、乾薑各一錢，雄黃、樟腦、丁香、麝香各五分。</p>
<p>上為末，蜜丸如龍眼大，每次一丸，用薑汁化開如厚粥，烘熱置掌中，摩腰上令盡。黏著肉烘，綿布縛定，腰熱如火方妙。間三日用一丸，或加茱萸、肉桂更效。</p>

<h4>貼腰膏</h4>
<p>治腰痛。</p>
<p>生薑一斤搗汁四兩，水膠一兩同煎成膏，厚紙攤貼腰眼甚效。</p>

<h4>威喜丸</h4>
<p>治男子陽虛精氣不足，小便白濁，余淋常流，夢寐多驚，頻頻遺泄；婦人白濁白帶等症。黃蠟四兩，白茯苓四兩（去皮切塊，用豬苓二兩於器內同煮二十餘沸，取出日曬，將豬苓揀出不用），以茯苓末溶黃蠟丸彈子大，每服一丸，空心細嚼，津液嚥下，以小便清為度；忌米醋等物，尤忌怒氣、勞力，並色欲等事。</p>

<h4>蠱臌</h4>
<p>小腹作痛，四肢浮腫，面色帶紅點，如蠱蝕之象，眼下無臥蠶，有微腫之形，此是蠱臌也。雷丸三錢，當歸一兩，鱉甲一兩（醋炙），地慄粉二兩（鮮者取汁一茶甌），神麯三錢，茯苓三錢，車前子五錢，白礬三錢，水煎服。</p>

<h4>血臌</h4>
<p>跌閃而血瘀不散，或憂鬱而結血不行，或風邪而血蓄不達，遂致因循時日，留在腹中，致成血臌。飲食入胃不變精血，反去助邪，久則脹，脹則臌矣。</p>
<p>水蛭三錢（炒黑。大約一兩炒黑取末用三錢），當歸二兩，雷丸、紅花、枳實、白芍、牛膝各三錢，桃仁四十粒（去皮尖搗碎），煎服。服後下血鬥余，再服，血儘自愈。</p>
<p>庚生按：此方水蛭一味，太覺猛峻，且此物雖經煅研，見水復活，患臌之人，正氣必虛，臟腑必弱，如果貽害，豈非大患，不若改用夜明砂為妥。蚊之吮血，不減蛭蟲，夜明砂乃食蚊而化者也，本草稱其能下死胎，則其能攻蓄血明矣。</p>

<h4>分水丹</h4>
<p>治水瀉。</p>
<p>白朮一兩，車前子五錢，煎湯服之。</p>

<h4>疝氣方</h4>
<p>其病覺氣逆上衝，如有物築塞心臟，危殆欲死，手足必冷。服此方三四劑，即可除根。硫黃火中溶化即投水中去毒研細、荔枝核炒黃為末、陳皮各等分。</p>
<p>上為末，飯丸，如桐子大，每服十四丸，酒下，其痛立止。如疼甚不能支持，即減用六丸，不可多。</p>

<h4>韋氏方</h4>
<p>治疝氣及腎大如斗，日三服病除。</p>
<p>八角大茴香、青皮、荔枝核各二兩，炒至黃色煙盡為度，置土上以碗復之，少時取出，研末，每服二錢，無灰酒下，清晨、午後、臨睡各一服。</p>

<h4>去鈴丸</h4>
<p>治脾胃虛弱、小腸疝氣。</p>
<p>大茴香二兩，生薑連皮四兩，同入坩器內，淹一周時，慢火炒之，入鹽一兩，為末丸梧桐子大，每服三五十丸，空心鹽酒下。</p>

<h4>返魂丹</h4>
<p>治五色諸痢。</p>
<p>零陵香草去根，以鹽酒浸半月炒乾，每兩入廣木香一錢五分為末，裡急腹痛者，用冷水服一錢五分，俟大瀉四次，用熱米湯服一錢五分即止，忌食生冷。</p>

<h4>鐵刷丸</h4>
<p>治一切痢下初起。</p>
<p>百草霜三錢，金墨一錢，半夏七分，巴豆煮十四粒研勻，黃蠟三錢同香油化開，和成丸劑，量大小每服三、五丸，或四五十丸，薑湯下。</p>

<h4>截瀉丸</h4>
<p>治一切久瀉，諸藥無效，服此自愈。</p>
<p>黃丹（飛過）、枯礬、黃蠟各一兩，石榴皮八錢（炒），將蠟溶化小銅杓內，再以丹、礬等三味研細末投入，乘熱為丸如綠豆大，空心服五丸，紅痢清茶下，白痢薑湯下。</p>

<h4>寧和堂暖臍膏</h4>
<p>治水瀉白痢，孕婦忌貼。</p>
<p>香油一斤（或用麻油），生薑一斤（切片），黃丹（飛過）半斤，熬膏攤布貼臍上，或用紅藥丸。附紅藥丸方：硫黃三錢，母丁香一錢，麝香三分；加獨頭蒜數枚，搗如泥，再入前三味，研勻，和丸，如桐子大，以飛過硃砂為衣。</p>
<p>又方：母丁香四粒，土木鱉一個，麝香一分，研末唾液為丸，如芡實大，納臍中，外用膏藥貼之。治小兒痢尤驗。</p>
<p>庚生按：此方治夏秋霍亂轉筋，及一切受寒腹痛極效。予嘗以紅藥丸方加肉桂一錢為散，每用二、三分置臍眼上，用尋常膏藥蓋之。其症之重者，更以艾火安於膏藥面上炷之，或以熱茶壺熨之。</p>

<h4>截水腫</h4>
<p>遍身浮腫，以手按之仍起者。</p>
<p>葶藶四兩炒為末，以紅棗肉為丸，如梧子大，每服十五丸，桑皮湯下，日三服，試之立驗。或用西瓜燒灰為散，服之亦效。</p>

<h4>截黃</h4>
<p>治脾積黃腫。</p>
<p>青礬四兩（煅成赤珠子）、當歸四兩（酒酻浸七日，焙）、百草霜三兩為末以浸藥酒，打糊丸如梧子大，每服五丸至七丸，溫湯下。一月後黃去病愈。</p>

<h4>截痢</h4>
<p>木鱉仁六個研泥，分作二分；面燒餅一個切作兩半。</p>
<p>只用半餅作一竅，納藥在內，乘熱覆在病人臍上。一時再換半個熱餅，其痢即止，遂思飲食。</p>

<h4>加味綠礬丸</h4>
<p>治大小男婦黃疸病。</p>
<p>皂礬八兩，用面一斤和作餅，入皂礬在內，火煨以焦為度；蒼朮、厚朴（薑汁炒）、陳皮、甘草各八兩，川椒十兩（去目炒）。</p>
<p>上為末，用紅棗三斤煮熟去皮核，胡桃三斤去殼，同搗爛和藥丸桐子大，每服七八十丸，用溫酒吞服。初服時覺藥味甘美，服至病將愈，便覺藥臭矣。大率藥四兩，可治一人。</p>

<h4>貼目取翳</h4>
<p>鵝不食草搗汁熬膏一兩，爐甘石三錢火煅童便淬三次，上等瓷器末一錢五分，熊膽二錢，硇砂少許，為極細末，溶成膏，點翳上，越宿取下，用黃連黃柏煎湯洗淨。如仍有翳，再點一次。</p>

<h4>治淚眼</h4>
<p>鯽魚膽七個，人乳一盞，和勻，飯鍋上蒸一二次，點眼，其淚自收。</p>

<h4>二百味花草膏</h4>
<p>治目疾面上赤色，兩眼流淚，或痛或癢，晝不能視物，夜不能見燈，名為爛弦風。</p>
<p>羯羊膽去其中脂而填滿好蜜，拌勻蒸之，候乾，即入缽細研為膏，點之。以蜂採百花、羊食百草故名。</p>

<h4>開聾</h4>
<p>小蠍四十九個，生薑如蠍大四十九片，同炒，以姜干為度，研末，溫酒沖服，過一二時辰，再進一服，至醉不妨，次日耳中如聞笙簧即愈。腎虛者二服亦愈。</p>
<p>庚生按：此方用蠍至四十九枚，過於猛峻，切宜慎用。</p>

<h4>喉風閉塞</h4>
<p>臘月初一取豬膽，不拘大小五六枚，用黃連、青黛、薄荷、殭蠶、白礬、朴硝各五錢，裝入膽內，用青紙包好，掘地方深各一尺，懸膽在內，用物遮蓋，不見風日，候至立春日取出，待風吹去膽皮青紙，研細末，用瓶收貯，每吹少許。</p>
<p>庚生按：喉症不一，為害最速，予每以異功丹治之，無不立效。</p>
<p>附：異功丹方：斑蝥去翅足四錢糯米炒黃，血竭、沒藥、乳香、全蠍、元參各六分，麝香、冰片各三分，共研細末，瓷瓶收貯，弗令泄氣。用時以尋常膏藥一張，取藥末如黃豆大，貼喉外，緊對痛處，越二三時，揭去，即起泡，用銀針挑出黃水，如黑色或深黃色，再用膏藥及藥末貼於泡之左右，仍照前挑，看以出淡黃水為度。不論喉蛾、喉風、喉痹，一切均可用，唯孕婦忌之。</p>

<h4>吹喉藥</h4>
<p>治急纏喉風、乳蛾、喉痹。</p>
<p>白礬三錢，巴豆五粒（去殼），用鐵勺將礬化開，投豆在內，俟礬干，取出巴豆，將礬收貯，遇喉痛者，以蘆管吹之。</p>

<h4>黑龍膏</h4>
<p>治九種喉痹，急喉痹、纏喉風、結喉爛、重舌、木舌、飛絲入口。</p>
<p>大皂角四十梃切碎，用水三斗浸一夜，煎至一斗半；入人參末五錢，甘草末一兩，煎至五升，去渣，入無灰酒一升，釜煤二匕，煎如餳，入瓶封埋地中一夜，每溫湯送服一匙，或掃入喉內，以惡涎吐盡為度，後含甘草片少許。</p>

<h4>冰梅丸</h4>
<p>治喉痹十八種。</p>
<p>天南星鮮者二十五個切片，半夏五十個鮮者佳切碎，皂角去弦淨四兩，白礬、白鹽、防風、朴硝各四兩，桔梗二兩。揀七分熟梅子一百個，先將硝鹽水浸一周時，然後將各藥碾碎，入水拌勻，再將梅子置水中，其水須透過梅子三指，浸七日，取出曬乾，又入水中浸透曬乾，以藥水干為度。將梅子收入磁器密封之，有霜衣起愈妙。用時以白棉裹噙口內，令津液徐徐嚥下，痰出立愈。</p>

<h4>中分散</h4>
<p>治驚風定搐。</p>
<p>螳螂一個，蜥蜴一條，赤足蜈蚣一條，各中分之，隨左右，研末，男左女右，以一匙吹鼻內搐之，右即右定，左即左定。</p>

<h4>急風散</h4>
<p>治中風中痰。</p>
<p>生石膏十兩，辰砂五錢。</p>
<p>上藥共研細末，和勻，大人每服三錢；小兒一歲至三歲一錢，四歲至七歲一錢五分，八歲至十二歲二錢，十三歲至十六歲二錢五分。用生蜜湯調服。</p>
<p>庚生按：此方見於《雞鳴錄》，治痰熱痙厥即急驚風，如治大人痰厥類中，則須每服三、五錢，亦用生蜜調服，無不驗者。</p>

<h4>小紅丸</h4>
<p>治小兒一切咳嗽，驚癇發搐發熱，齁喘痰涎上壅，痰厥猝倒等症。</p>
<p>全蠍一兩（去刺洗淨炒），南星一兩，硃砂四錢五分，珠子一錢，巴豆霜（去油淨炒）二錢五分。</p>
<p>上為細末，糯米糊為丸，如菜子大，周歲者每服五十丸，二周歲者百丸，看小兒大小壯實，用燈心煎湯送服。此吳中陳氏治急驚風秘方也。</p>

<h4>釘胎丸</h4>
<p>治頻慣墮胎，每三四月即墮者，於受孕兩月後服之。</p>
<p>杜仲八兩（糯米煎湯浸透炒去絲），續斷二兩（酒浸焙乾為末），以山藥五、六兩為末，作糊丸如梧子大，每服五十丸，空心米飲下。</p>

<h4>硝石丸</h4>
<p>止可磨塊，不令困人，須量虛實。</p>
<p>硝石六兩，大黃八兩，人參、甘草各三錢。</p>
<p>上為細末，以三年陳苦酒三升置器中，以竹片作準，每酒一升作一刻，先入大黃不住手攪，使微沸，盡一刻，乃下余藥，又盡一刻，微火熬，便可丸桐子大，每服三十丸。服後下如雞肝、米泔赤黑色等物即愈。下後忌風並生冷，宜用稀粥調理。</p>

<h4>珍珠滾痰丸</h4>
<p>治小兒痰塞心胸。</p>
<p>半夏五十粒，巴豆三十粒（去殼）同半夏煮，待半夏熟爛，取出巴豆，止用半夏，烘乾為細末，米糊為丸如菜子大，硃砂為衣，曬乾，用蘿蔔汁吞服七丸，大人倍之。</p>
<p>庚生按：此方治痰極有效。癲癇、痰厥及喉痹之屬，有痰者均可用。</p>

<h4>三陰久瘧立止方</h4>
<p>常山苗六錢，烏梅三錢，陳皮、檳榔、制首烏、酒炒歸身各二錢，法半夏、川桂枝各一錢，丁香十粒，生薑二片，紅棗五枚。</p>
<p>上藥，在臨發前兩時辰煎服。或吐或瀉，其病自愈。倘一劑未能全愈，再服一劑，無不立止。</p>
<p>庚生按：瘧疾纏綿，往往致敗。古方每用草果、常山以取速效，殊非善法。上元張立侯口傳一方：用常山二、三兩為末，鴨蛋七枚，同藥末入砂鍋煮極熱，病發時取蛋握於手中，冷即更換，仍將握過之蛋再煮再握，俟瘧止方住。下次發時，照前煮握，二三次後即可止矣。不傷元氣，大可用也。</p>
<p>又方：常山一兩，黑豆一合，同煮。撿去常山，專食豆，亦效。</p>

<h2>卷二</h2>

<h3>截藥外治門</h3>

<h4>散毒仙丹</h4>
<p>治瘡瘍。</p>
<p>銀花、生甘草、當歸、蒲公英各一兩，黃芩一錢，乳香一錢。上乳香研末，先將銀花等五味用水五碗煎成一碗，將乳香末調服，神效。</p>

<h4>消毒散</h4>
<p>治癰疽癤毒及初生多骨疽。</p>
<p>大黃一兩，芙蓉葉一兩（曬乾為末），麝香、冰片各三分，五倍子一兩，藤黃三錢，生礬三錢。</p>
<p>上藥為末，米醋調成如厚糊，塗於多骨疽之四周，中留一穴如豆大，以醋用鵝翎不時掃之，一日夜即內消。若不掃，雖塗亦無益。其餘癰癤亦以此藥敷之，極神效。</p>
<p>庚生按：多骨疽屬陰者多，初起往往不疼不痛，此方只宜於癰癤等陽毒，但不可施之陰症，似於多骨疽不甚相宜。</p>

<h4>陰陽黃</h4>
<p>治發背、癰疽、疔瘡、惡癤一切無名惡瘡腫毒，焮熱疼痛，初起未潰者。錦紋大黃不拘多少，一半火煨熟，一半生用；甘草節等分。</p>
<p>上為細末，每服一匙，空心溫酒調服，以疏利為度。</p>

<h4>五毒丹</h4>
<p>此方創於瘍醫公孫知，點一切癰疽，無不神效。丹砂養血益心，雄黃長肉補脾，礬石理脂膏助肺，磁石通骨液壯腎，石膽治筋滋肝。</p>
<p>上藥各等分，入陽城罐，鹽泥固濟，升煉，取飛霜用。</p>

<h4>發背膏藥</h4>
<p>此方甚奇，以千金得之，用無不效。</p>
<p>滴乳香四兩（箬包燒紅，用磚壓出油），淨沒藥四兩照前式去油，鮮油血竭四兩，白色兒茶四兩，上好銀硃四兩，杭州定粉四兩，上好黃丹四兩，上銅綠三錢。</p>
<p>上藥各另碾至無聲為度，篩極細末，拌勻，臨時照所患大小，用夾連泗油紙一塊，以針多刺小孔，每張用藥末五錢，以真麻油調攤紙上，再用油紙一塊蓋上，周圍用線縫好，貼患處，用軟絹紮緊，自然止痛，化瘀生新。過三日將膏藥翻過，用針照前多刺小孔貼之。因藥品甚貴，取其可得兩面之藥力也。無火之人內服十全大補湯，有火之人減肉桂、薑、棗，按日煎服，兼以飲食滋補，無不取效。至重者用膏二張，百無一失。</p>
<p>庚生按：此方破潰後用之最效，若未潰未出大膿，非所宜也。</p>

<h4>白靈藥</h4>
<p>爐甘石一兩，黃連一錢，黃柏、黃芩各二錢。</p>
<p>上藥將黃蓮、黃柏、黃芩浸汁，將甘石放傾銀罐內燒紅，投以藥汁，分作九次收干，以甘石燒酥為度。曬乾研細末，加冰片五分。治口碎、點眼最妙。加珍珠少許，治下疳亦驗，可生肌長肉。凡有熱毒，配三白升藥，人乳調敷，立愈。</p>

<h4>紅升丹</h4>
<p>（亦名五靈升藥）水銀、白礬各五錢，硃砂、雄黃各二錢五分，火硝八錢。</p>
<p>上照升藥法升之。凡一切無名腫毒，如潰久內敗，四邊紫色黑色，將藥用水調稀，以雞毛掃點，肉色立刻紅活，死肉即脫去，再上生肌散，即可收功。凡通腸痔漏等症，將此藥以紙捲成條，插管內七日，其管即隨藥條脫去。</p>
<p>庚生按：此法即外科一條槍法，不可亂用。近時瘍醫每見瘡瘍不收口，動輒指為有管，遂用插藥爛化，一而再，再而三，愈拔管，愈不收功，因而成為痼疾者有之，因而用刀開割，用線扎破者有之。不知膿出之路即名為管，管者非真有是物也。予手治外瘍不少，從未知拔管割管之事，而生肌長肉，奏效如常，用特志此以破世醫之惑。至升丹為外科要藥，不能不用，然總宜陳至五、七年者方可用，且須少用為妙。如系背瘡及胸腹諸處瘡之潰大者更須慎用。往往有瘡未愈，而升藥熱毒攻入腹內，以至口乾，喉破者，人多不知也。</p>

<h4>白降丹　一名夏冰對配丹</h4>
<p>水銀、火硝、白礬、皂礬、炒白鹽各九錢。</p>
<p>上藥共研細，至不見水銀星為度，盛於新大傾銀罐內，以微火熔化。火急則水銀上升，防其走爐，須用烰炭為妙，熬至罐內無白煙起，再以竹木枝撥之，無藥屑撥起為度，則藥吸於罐底，謂之結胎。胎成，用大木盆一個盛水，水盆內置淨鐵火盆一個。木盆內水須及鐵盆之半，然後，將前結成之胎，連罐覆於鐵盆內，外以鹽水和黃土將罐口封固，勿令出氣，出氣亦即走爐。再用淨灰鋪於鐵盆內，灰及罐腰，將灰平鋪，不可動搖藥罐，封口碰傷，亦要走爐。鋪灰畢，取燒紅慄炭攢圍罐底，用扇微扇，燒一炷香，謂之文火；再略重扇煉一炷香，謂之武火。炭隨少隨添，勿令間斷而見罐底，再煉一炷香，即退火。待次日盆灰冷定，用帚掃去，並將封口之土去盡，開看鐵盆內所有白霜即謂之丹，將瓷瓶收貯待用，愈陳愈妙。其罐內原胎研摻癬瘡神效之至。若恐胎結不老，罐覆盆內，一遇火煉，胎落鐵盆，便無丹降，亦謂之走爐。法用鐵絲做一三腳小架，頂爐內撐住丹胎，最為穩妥。此丹如遇癰疽發背疔毒一切惡瘡，用一釐許，以口津調點毒頂上，再以膏藥蓋之，次日毒根盡拔，於毒頂上結成黑肉一塊，三四日即脫落，再用升藥數次即收功。</p>
<p>此丹用蒸粉糕以水少潤，共和極勻，為細末，搓成條子，曬乾收貯。凡毒成管者，即約量管之深淺，將藥條插入，上貼膏藥，次日擠膿，如此一二次，其管即化為膿。管盡，再上升藥數次，即收功矣。此丹比升丹功速十倍，但性最烈，點毒甚痛，法用生半夏對攙，再加冰片少許，能令肉麻不痛。</p>
<p>庚生按：降丹乃治頑瘡、惡毒、死肌之物，萬萬不可多用亂用，務宜慎之。</p>

<h4>四金剛</h4>
<p>治無名腫毒。當歸八錢，黃耆五錢，粉甘草二錢，金銀花一兩，用水一碗，陳酒一碗，合煎，空心服。</p>

<h4>五虎下西川</h4>
<p>治無名腫毒、癰疽發背等症，三日即愈。穿山甲（炙研）、黃耆、白芷、當歸、生地各三錢，用黃酒三碗或酒水各半煎一碗服之，在頭面者加川芎五錢，在身上者加杜仲五錢，在兩腿者加牛膝五錢，在肢臂手足者加桂枝五錢。</p>

<h4>坎宮錠</h4>
<p>治一切赤熱腫痛，並痔漏諸毒。</p>
<p>京墨、熊膽、胡連、兒茶、牛黃各三錢，冰片一錢，麝香五錢。</p>
<p>上藥各研末，用豬膽汁加生薑、大黃水浸取汁，釅醋各少許，相對和藥為錠，用時以冷水磨濃，用筆塗之，立愈。</p>

<h4>鐵井闌</h4>
<p>治癰疽腫毒。重陽取芙蓉葉研末，端午前取蒼耳燒存性研末，等分，蜜水調塗四周，其毒自不走散。</p>

<h4>代刀膏</h4>
<p>桑木灰七錢，礦子灰五錢，蕎麥秸灰一兩，茄科灰一兩，放鍋內用水五碗，滾十數次，用布袋濾去渣，用鐵勺熬成一小杯，存用。如腫毒不得破頭，將此藥在所患頂上畫一十字，即出膿。諸般大瘡有疔角腐肉不脫者，用此藥水洗之。如點面上黑痣雀斑，尤神效。</p>
<p>庚生按：用此破頭雖效，然往往內潰太甚，沿爛好肉，不若待其膿足時，以刀針穿破為妙，至用此方，洗腐肉，痛不可當，切弗輕用。</p>

<h4>生肌散</h4>
<p>（一名海龍粉）</p>
<p>龍骨、血竭、紅粉霜、乳香、沒藥、海螵蛸、赤石脂各一分，嫩石膏二分。</p>
<p>上藥研細末，敷上極效。大凡生肌散內要配粉霜，若要去腐肉，每一兩配入粉霜三分、五分；如治下疳等瘡，每兩配一、二分。</p>

<h4>開刀麻藥</h4>
<p>草烏、川烏、半夏、生南星、蟾酥各一錢，番木鱉、白芷、牙皂各三分。</p>
<p>上藥共為末，臨時水調，敷一飯時，開刀不疼。</p>
<p>庚生按：草烏、川烏宜用尖，半夏宜用生，或胡椒末亦可，用燒酒調更速。</p>

<h4>換皮麻藥</h4>
<p>凡欲去皮之瘡癬，先服此藥，使其不知痛苦，然後開刀，摻生肌藥。羊躑躅三錢，茉莉花根一錢，當歸一兩，菖蒲三分，水煎服一碗，即如睡熟，任人刀割不痛不癢。換皮後三日，以人參五錢，生甘草三錢，陳皮五分，半夏一錢，白薇一錢，菖蒲五分，茯苓五錢，煎服即醒。</p>
<p>庚生按：茉莉花根務宜慎用，本草言其醉人每至不醒。</p>

<h4>生肌散</h4>
<p>兼治割瘤，敷之生皮。凡去皮後敷藥末五錢，不但不痛，反能作癢。人參一錢，三七根末三錢，輕粉五分，麒麟血竭三錢，象皮一錢，乳香（去油）一錢，沒藥一錢，千年石灰三錢，廣木香末一錢，冰片三分，兒茶二錢。</p>
<p>上藥各為極細末，以研至無聲為度。修合須用端午日，不可使一人見之。</p>

<h4>癰疽</h4>
<p>凡人癰疽，發於背上，或生於頭頂，或生於胸腹，或生於手、足、臂、腿、腰、臍之間，前陰糞門之際，一服立消，已潰者即斂。</p>
<p>金銀花四兩，蒲公英一兩，當歸二兩，元參一兩，水五碗，煎八分，空心服，一劑，盡化為無有矣。切勿嫌其藥料之重，減去分兩，則功亦減半矣。</p>
<p>庚生按：此方消散紅腫、癰毒、疔癤及高腫疼痛之症極效，如平塌麻木色白之症不可用。</p>

<h4>決膿妙法</h4>
<p>治癰膿不出。人乳汁，和麵敷之。</p>

<h4>立消散</h4>
<p>治便毒癰腫如神。全蠍（炒）、核桃（去殼肉，只用膈膜，炒）等分為末，空心溫酒調服三錢，午後再服三錢，三日痊愈。</p>

<h4>千里光膏</h4>
<p>貼瘡癤風癬、楊梅瘡毒、鵝掌風等症極效。千里光采莖葉搗汁，沙鍋內熬成膏。防風、荊芥、黃柏、金銀花、當歸、生地各二兩，川椒、白芷、大黃、紅花各一兩，苦參四兩，用麻油浸三日，熬枯黑色，去滓，每油二碗，配千里光膏一碗，再熬，滴水成珠，飛丹收成羔，入乳香、沒藥各一兩，輕粉三錢，槐枝攪勻，收用。</p>
<p>庚生按：千里光，一名黃花演，生淺山及路旁，葉似菊而長，背有毛，枝幹青圓，立夏後生苗，秋有黃花，不結實，為外科聖藥。俗諺云：「有人識得千里光，全家一世不生瘡」，亦能明目去翳，活蛇咬傷，又名金釵草。</p>

<h4>護心散</h4>
<p>又名內托散、乳香萬全散，凡患癰疽三日之內，連服十餘劑，方免變證，使毒氣外出。稍遲，毒氣內攻，漸生嘔吐或鼻生瘡菌，不能飲食即危矣。四、五日後，亦宜頻頻服之。</p>
<p>綠豆粉一兩，乳香五錢，燈芯同研和勻，以生甘草濃煎湯調下一錢，時時呷之。若毒氣衝心，有嘔逆之狀，最宜服此，蓋綠豆清熱下氣，消腫解毒；乳香消諸癰腫毒，服至一兩，則香徹瘡孔中，真聖藥也。</p>

<h4>透骨丹</h4>
<p>治跌撲損傷，深入骨髓，或隱隱疼痛，或天陰則痛，或年遠四肢沉重無力，此神方也。鬧羊花子一兩（火酒浸炒三次，童便浸二次，焙乾），乳香、沒藥（均不去油）、血竭各三錢，為末研勻，再加麝香一分同研，用瓷瓶收貯封固，每服三分，壯者五、六分，每夜間睡後用酒沖服，能飲者儘量飲之，服後避風，得有微汗方妙，切忌房事、寒冷、茶、醋等物。弱者間五日一服，壯者間三日一服。</p>

<h4>醉仙散</h4>
<p>治癘風。胡麻仁、牛蒡子、蔓荊子、枸杞子（炒黑色）、防風、瓜蔞根、白蒺藜、苦參各五錢。</p>
<p>上藥為末，每藥重一兩五錢，入輕粉二錢拌勻。少壯用二錢，每日卯午戍，三時服三次，清茶調服，後五日後間日服之。如牙縫內出臭涎，渾身痠疼，昏悶如醉，藥力已到，以利下臭屎為度，須視病人之大小虛實，量為加減，重而急者，先以再造散下之，候稍補養，再服。此藥忌鹽醬醋豬羊肉魚腥花椒水果煨燒炙爆及茄子等物，日以淡粥熟煮食之，或用烏稍菜花蛇用淡酒煮熟食之，以助力亦可。</p>

<h4>再造散</h4>
<p>治癘風。錦紋大黃一兩，皂角刺一兩五錢（獨生經年黑大者），鬱金五錢，白牽牛頭末六錢（半生半炒）。</p>
<p>上藥為末，每服二錢，臨臥冷酒調服。或云日未出面東服之，預備淨桶，瀉出小蟲驗視，如蟲口黑色者，是遠年之病，赤色者是近時病。三四日後，再進一服，候至無蟲瀉出，則絕根矣。後用通聖散調理，可用三稜針刺委中出血，終身不得食牛馬驢騾等肉，大忌房事，犯者必不救。</p>

<h4>大麻風</h4>
<p>活穿山甲一個，揀最大者，用生桐油一斤，如小者桐油半斤。先用雄黃末一錢，沒藥末七分，黃柏末一兩，其攪入生桐油使勻，將穿山甲架起，下用炭火熏灼，使其口渴，即能張開，然後將藥末和油灌入口內，不吃再烘，盡油吃完為度。再加大火將穿山甲炙酥，研為細末，另加百草霜一兩，共研細收入瓷瓶內，封緊不可瀉氣。凡遇麻風之人，每用五錢，以燒酒調服，上用棉被重蓋，臥一時許，候滿身汗出，其蟲隨汗而出。隔一日再服五錢，照前服臥出汗，即將病人著身衣服被褥，盡行換過，送至無人處地方，掘坑焚燒，人不可近，聞其穢氣，恐染此病。復後七八日，身面如蛇殼脫皮，永不再發，此仙方也。</p>
<p>庚生按：此即古全甲散，稍變其法，命意頗佳。惜南方無活穿山甲，未經試用。</p>
<p>古全甲散方附後：穿山甲一枚，不必活者，只須四足頭尾俱全即可用，每日用生漆將穿山甲自首至尾漆塗一遍，不可過厚，只須勻到。漆三次後，用瓦器將穿山甲炙灰，炙時須分記頭身四足，不可紊亂。炙完後，即將穿山甲研細末，用陳酒沖服，每服二錢，服畢即愈。如穿山甲有一處不全，病人即有一處不愈，先服頭即頭先愈，先服四肢則手足先愈，亦奇方也。炙後研末時，亦須分記頭身四足，不可錯亂。</p>

<h4>聚疔毒</h4>
<p>鐵鏽不拘多少，研為末，醋調塗毒上，須臾毒自凸出。並治瘡癤膿水不幹，及難收口者最效。</p>

<h4>瘰癧奇方</h4>
<p>亦可消瘤去痣。石灰半斤研極細末，大黃四兩同入鍋內炒通紅去大黃取石灰聽用。又將洗鹼四兩，用水四、五碗，枇杷葉七片，同煮，候水乾至一半，入前石灰，攪勻再煮，水將干聽用。又以蛇含石二兩，醋煅七次為末；又以芫花五錢為末，漸漸加入，攪勻成膏，每膏一兩，加蟾酥、麝香各二分為丸，如胡椒大。未破者將一丸黏核上，其丸自入，以淡豬肉湯洗過，又黏又洗，如此三次，其核自動，將皮掤開，以銀鉤取出核，再貼生肌膏即愈矣。取核時，先服提氣湯。</p>

<h4>生肌膏</h4>
<p>麻油一斤，胎髮一團，熬滴水成珠成度。龍骨（煅）、黃蠟、熟豬油、赤石脂、乳香、沒藥、輕粉、象皮（煅）各一錢，俱為細末，入油內，攪勻成膏攤貼。一日一換，仍以豬肉湯洗三四次，即漸平復，半月後必收功。</p>

<h4>提氣湯</h4>
<p>人參、白芷、生地、龍膽草、川芎、升麻、柴胡、乳香、甘草、貝母、桔紅、香附、桔梗各等分，薑棗湯煎服。</p>

<h4>三妙散</h4>
<p>治結核瘰癧遍滿脖項。此方雖平易，神效異常，屢試屢驗。</p>
<p>夏枯草、金銀花、蒲公英各五錢，水酒各半，煎服。</p>

<h4>消瘰癧痰毒</h4>
<p>未穿破者為痰核，已破者為瘰癧，三五個相連者為痰串。用羊角數對，威靈仙四兩，共入瓦罐內，加清水煮數沸，候軟取出，切薄片，用新瓦燒紅，將羊角鋪上焙炒研細。每灰一兩，加廣木香一錢，白芥子三錢，共為末，煉蜜為丸，用檳榔煎湯下或夏枯草湯下亦可，服至七日後，大便下如黑羊屎，小便出水自消，婦人即爛至兩腋，服之亦效，忌生冷、煎炒、房事為要。</p>

<h4>提癧丹</h4>
<p>取痰核。水銀、硼砂、火硝、明礬、皂礬、食鹽各一錢，硃砂二錢。</p>
<p>上藥盛於粗瓦盆上，蓋粗碗一隻，用鹽泥封固，炭火煉三炷香，先文後武，冷定取出，藥即升在粗碗上，刮下，以白米飯搗丸如綠豆大，硃砂為衣。每用一丸放瘡上，棉紙封二三層，一日夜急揭起，則核隨紙帶出，丸可再用。</p>

<h4>神授五公散</h4>
<p>治漏孔，並諸瘡眼久不愈者，痔瘡亦效。</p>
<p>大五倍子一個，蜈蚣一條（去頭足），將倍子開一孔，入蜈蚣，濕紙包煅存性，為末，先以蔥湯洗瘡淨，摻前藥，再用膏藥貼之，每日一換，即斂口如神。</p>

<h4>三品錠子</h4>
<p>上品錠子專治痔漏一十八證。</p>
<p>紅礬二兩五錢，乳香、沒藥、硃砂各三錢，牛黃五分五釐，硇砂一錢四分（二成熟，一成生），白信一兩（火煅）。</p>
<p>中品錠子：專治翻花癭瘤等症。</p>
<p>白礬二兩八錢五分，乳香、沒藥各五錢五分，硃砂三錢，牛黃四分五釐，硇砂一錢（半生半熟），金信一兩五錢（以火煅盡黑煙止用淡清煙）。</p>
<p>下品錠子：專治疔瘡發背等症。</p>
<p>紅礬三兩二錢，乳香六錢，沒藥五錢，硃砂三錢，牛黃四分五釐，硇砂二錢四分（半生半熟），白信三兩（火煅黑煙盡，半日取起，方可用）。</p>
<p>上藥依法制好，用麵糊和勻，拈成錠子。看痔漏大小深淺，插入錠子。如肉內黑色，勿上生肌散，只待黑肉落盡，方可上。若瘡無頭，用太乙膏一個，加後藥一粒貼之。</p>
<p>白礬二兩，乳香三錢二分，沒藥三錢七分，硃砂四分，牛黃五分，薑黃二錢五分，白丁香一錢五分，巴豆三錢（草紙去油淨用），白信二兩（火煅煙盡，半日取用）。上藥為末，或唾沫調敷，一日三次，候瘡破即插上前錠子。</p>

<h4>治火丹</h4>
<p>絲瓜子一兩，柴胡一錢，元參一兩，升麻一錢，當歸五錢，用水煎服，一劑即消。</p>

<h4>治瘡二法</h4>
<p>頭面上瘡用：銀花二兩，當歸一兩，川芎五錢，蒲公英三錢，生甘草五錢，桔梗三錢，黃芩一錢，水煎服一、二劑，即消。</p>
<p>身上手足瘡用：銀花三兩，當歸一兩，生甘草三錢，蒲公英三錢，牛蒡子二錢，芙蓉葉七片（無葉用梗三錢），天花粉五錢，水煎服一、二劑，全愈。</p>

<h4>搽瘡成水</h4>
<p>人有手臂生瘡，變成大塊，不必刀割，只用小刀略破其皮一分，以此藥敷之，即化為水。</p>
<p>人參三錢，甘草一錢，硼砂一分，冰片一分，輕粉五釐。</p>
<p>各為末，摻之，即化為水矣。如肚上生瘡結成頑塊，終身不去者，亦可以此藥治之，立效。</p>

<h4>掃疥</h4>
<p>治諸疥瘡、熱瘡、遍身癤瘡神效。</p>
<p>大黃、蛇床子、黃連、狗脊、黃柏、苦參各五錢、為末，入硫黃及水銀各四錢，雄黃及黃丹各二錢五分，輕粉一錢，大楓子（去殼）、木別子（去殼）各五錢，同前藥研細末，杵勻、用豬脂調好，洗浴後搽瘡上，立效。合藥時宜曬，不宜見火，切記。</p>

<h4>七制松香膏</h4>
<p>治濕氣第一神方。松香三斤。第一次薑汁煮，二次蔥汁煮，三次白鳳仙花汁煮，四次燒酒煮，五次鬧羊花煮，六次商陸根汁煮，七次紅醋煮。桐油三斤，川烏、草烏、白芥子、蓖麻子、乾薑、官桂、蒼朮各四兩，血餘八兩，加桐油熬至藥枯發消，滴水成珠，濾去渣，入牛皮膏四兩，烊化，用制過鬆香漸漸收之，離火，加樟腦一兩，好麝香三錢，厚紙攤之，貼患處。</p>

<h4>諸瘡摻藥</h4>
<p>治天泡瘡更效。煅熟石膏一兩，松香、白芷各三錢，樟腦一錢，輕粉五分，冰片一分。為細末，用熬熟豬油調搽。</p>

<h4>破棺丹</h4>
<p>治瘡毒入腹極危者。大黃二兩（半生半熟），甘草、芒硝各一兩。為細末，蜜丸彈子大，每服半丸，飯後溫酒送下，或童便半盞研化之，忌食冷水。</p>

<h4>一搽光</h4>
<p>治疥瘡及婦人陰蝕瘡、漆瘡、天火丹毒諸惡瘡，神效。第三方除註明外，余用麻油調敷。蛇床子、苦參、蕪荑各一兩，雄黃五錢，枯礬一兩五錢，硫黃、輕粉、樟腦各二錢，川椒五錢，大楓子（取肉）五錢，為末，生豬油調敷。</p>
<p>又方：蛇床子、硫黃、黃柏各一兩，大楓子、川椒、雄黃各五錢，枯礬二兩，輕粉（另研）二線，入牛皮岸（熏牛皮煙岸也，如無，以香爐灰代之）、黃丹各一兩，為末，生豬油調敷。</p>
<p>又方：瘡疥加減法：腫多加白芷開鬱；痛多加白芷、方解石；癢多加枯礬；陰囊瘡加吳茱萸；濕多加香油調；干癢出血加大黃、黃連，豬油調；蟲多加蕪荑、錫灰、檳榔、藜蘆、斑蝥；紅色加黃丹；青色加青黛。</p>
<p>庚生按：方解石苦、辛、大寒，亦名黃石，與硬石膏相似，光潔如白石英。敲之段段片碎者為硬石膏，敲之塊塊方稜者為方解石，唐、宋諸方類皆通用，然功力小異。</p>

<h4>小金絲膏</h4>
<p>治一切疥癤毒。瀝青、白膠香各二兩，乳香二錢，沒藥一兩，黃蠟三錢，香油三兩，熬至滴下不散，傾入水中，扯千遍，收貯，每捻作餅貼之。</p>

<h4>截癬</h4>
<p>牛皮風癬。川槿皮一兩，大風子仁十五個，半夏五錢，河、井水各一碗，浸露七宿，入輕粉一錢於水中，用禿筆掃塗，有臭涎出方妙，但忌洗澡，能於夏月治之尤效。</p>

<h4>九熏丹</h4>
<p>治癬。好銅青二、三兩研細，好燒酒拌之，候至不幹不濕，塗於粗碗底內，翻轉合地上，以磚墊好，露一線，下以蘄艾熏之，再抄再熏，如此九次，至少亦要七次，約以青色帶黑為度，然後研細，將燒酒拌成錠子。用時以醋磨擦，每日三、五次，五日後，若嫌乾裂，以菜油少許潤之，七日即愈。</p>

<h4>枯瘤散</h4>
<p>灰莧菜（曬乾燒灰）半碗，蕎麥（燒灰）半碗，風化石灰一碗，和一處淋汁三碗，慢火熬成霜取下，加番木鱉三個，巴豆六十粒（去油），胡椒十九粒（去粗皮），明雄黃一錢，人信一錢為末，入前藥和勻，瓷瓶收用，不可見風。以滴醋調勻，用新羊毛筆蘸藥點瘤上，瘤有碗大，則點如龍眼核大；若茶杯大，則點如黃豆大。干則頻點之，其瘤乾枯自落。如血瘤破，以發灰摻之，外以膏護好，自能斂口收功。</p>
<p>庚生按：癭瘤二症雖異實同，有痰瘤、有渣瘤、有蟲瘤，此瘤之可去者也；有氣瘤、有血瘤、有筋瘤、有骨瘤，此瘤之不可去者也。癭亦如之。近來西醫不問可破與否，一概刀割線扎，其立除患苦者固多，而氣脫血盡而斃者亦復不少。西醫器精手敏，而又有奇驗之藥水藥散以濟之，尚復如此，瘤固可輕言破乎！？予在滬與西人相處最久，目擊心傷，因志此以告世之治此症者，宜加慎焉！</p>

<h4>斂瘤膏</h4>
<p>治癭瘤枯落後，用此搽貼生肌收口。海螵蛸、血竭、輕粉、龍骨、象皮、乳香各一錢，雞蛋五個（煮熟用黃熬油一小鐘）。</p>
<p>上各研細末，將蛋油調勻，用甘草湯洗淨患處，以雞毛掃敷，再將膏藥貼之。</p>

<h4>治流火方</h4>
<p>鮮紫蘇、鮮鳳仙花。二味洗淨，連根葉搗攔，放木盆內，以滾水衝入，將腳架盆上熏至可洗，以軟棉洗之，立愈。數十年者不過三、四次，永不發矣。</p>

<h4>取痣餅藥</h4>
<p>糯米百粒、石灰拇指大、巴豆三粒（去殼）研為末，入瓷瓶同窨三日，每以竹籤挑粟許，用鹼水點上，自落。</p>
<p>庚生按：痣之為物，有有根無根之分，有有血無血之別，人每不察其所以然。予在孟河見一丹徒田姓老人，印堂生痣一粒，意欲去之。予師馬培之先生告以此乃血痣，不可破，破則不治。田不信，別求某醫破之。越日來見，意頗自得。乃旬日而如豆矣，一月而如錢矣，翻花出血，眼鼻均傷，百藥不效，未及三月而死矣。大凡痣之大者，隆起者，黑者及有毫毛者，皆不宜點破，惟初起未久及色淺不凸者可去耳。</p>

<h4>點痣藥</h4>
<p>主治疣痣及息肉、雞眼。桑柴灰、風化石灰各一斤；鮮威靈仙六兩煎濃汁，淋二灰，取汁熬成稀膏，瓷器收貯。用點患處，不必挑破，應手而除。</p>

<h4>點黑痣</h4>
<p>李仁為末，雞蛋清調點，一宿自落。</p>

<h4>治臁瘡</h4>
<p>先將棉紙看瘡大小裁成塊，十二張，四角以紙捻釘住，聽用。再以麻油二兩，川椒四十九粒，入銅杓內煎黑色取起；次入槐枝一寸長者四十九根，再煎枯黑色取起，次入黃蠟一兩，加輕粉二分，枯礬一錢，俟溶化，即以前紙入油內少煎即取起，但令油摻透，勿使紙焦黃色。貼時先將槐枝蔥椒煎湯洗瘡，用絹拭淨後，將所製紙齊沓貼之，面加油紙一張，用紅絹緊縛，每周時去紙一張，待紙取盡，則瘡自愈矣。</p>

<h4>勝金丹</h4>
<p>治夾打損傷神效。血竭、乳香、沒藥各三錢，地龍十條，自然銅一兩，無名異五錢，木鱉子五個，為末，蜜為丸如彈子大。臨用好酒化下一丸，如不打，用紅花、蘇木煎湯服，即解。</p>

<h4>整骨麻藥</h4>
<p>草烏三錢，當歸、白芷各二錢五分。</p>
<p>上藥為末，每服五分，熱酒調下，麻倒不知痛苦，然後用手如法整理。</p>

<h4>天下第一金瘡藥</h4>
<p>凡刀斧損傷，跌撲打碎，敷上，立時止痛止血，更不作膿，勝於他藥多矣。其傷處切不可見水。</p>
<p>公豬油一斤四兩，松香六兩，麵粉四兩（炒篩），麝香六分，黃蠟六兩，樟腦三兩，冰片六分，血竭一兩，兒茶一兩，乳香一兩（箬皮上烘取油），沒藥一兩。以上藥研極細，先將豬油、松香、黃蠟三味熬化，濾去渣，待冷，再入藥末，攪勻，瓷器收貯，不可泄氣。按：午日收青蒿搗合石灰，陰乾，為末。又午日收苧葉，曬乾，為末。二方治金瘡皆驗，且不費錢，可予備濟人。</p>
<p>庚生按：金瘡方藥效者亦多，然往往有應，有不應，非症之不同，亦方之未善爾。予嘗見金姓傷科，常用黑白二藥，功效如響，因求得其方，試用神驗，藥雖平淡，實有奇功，不可忽視。錄此以濟世，如能遍傳，亦功德也，</p>
<p>黑藥方：松木桴炭十數塊，燒紅乘熱於石臼內杵細。另用紅糖二、三兩，銅銚內化烊，將炭末合入，調勻，攤於布上，乘熱貼於傷處（需溫熱得中，不可過熱），以帛紮好，二、三日後解開看之。如不青黑，即用原藥熨熱貼之。倘或血瘀結腫，即以後開白藥敷之，仍用原布包好（如系骨損，須七日後方可解動）。</p>
<p>白藥方：白附子十二兩，天麻、白芷、羌活、防風、南星各一兩，均生曬，研極細末，和勻。青腫者童便調塗，破則乾摻之，雖腎子破出可治，立能止痛生肌、止血去瘀，且不忌風，真良藥也。此方本名玉真散，為傷科仙方，予嘗修治備用，價廉功捷，洵非他藥可及。</p>

<h4>接骨至神丹</h4>
<p>治跌傷、打傷、手足斷折，急以杉板夾住手足，扶正湊合，再用此藥。羊躑躅三錢（炒黃），大黃三錢，當歸三錢，芍藥三錢，丹皮二錢，生地五錢，土狗十個（槌碎），土蝨三十個（搗爛），紅花三錢，自然銅（末）一錢。先將前藥酒煎，然後入自然銅末，調服一錢，連湯吞之，一夜即能合筍，不必再服。</p>

<h4>陰囊爛盡</h4>
<p>止留二子者。鳳仙花子、甘草等分為末，麻油調敷，即便生肉。</p>

<h4>美首膏</h4>
<p>治小兒白禿癩瘡。百草霜一兩，雄黃一兩，膽礬六錢，輕粉一錢，榆樹皮三錢，用石灰窯內燒紅流結土渣四兩，共為細末，豬膽汁調，剃頭後搽之，神方也。</p>

<h4>手足皴裂</h4>
<p>大蘿蔔一個，內雕空，放入柏油五錢，安爐火上燉（原書作頓）熟，候冷，取油搽患處，即愈。</p>

<h4>治陰蝕</h4>
<p>蚯蚓三、四條（炙乾為末），蔥數莖（火上炙乾為末），蜜一碗煮成膏，將藥攪勻，納入陰戶，蟲盡死矣。</p>

<h4>治體氣方</h4>
<p>田螺（大者）一個，巴豆（去殼）一粒（研碎），膽礬一豆許（研），麝香少許，研細共拌勻。將螺用水養三日，去泥土，揭起螺靨，入膽礬等三味在內，以線拴住，置磁器中，次日化成水。五更時將藥水以手自抹兩腋下，不住手抹，直待腹內欲行，卻住手。先擇深遠無人空地內大便，下黑糞極臭，是其驗也。以土蓋之，勿令人知。不盡，再抹藥水，仍照前大便。次用白礬一兩，蛤粉五錢，樟腦一錢，為末，搽之，病根永絕。</p>

<h4>免喉中生蛾</h4>
<p>喉中略痛，即用燈草一把煎湯，沙糖調飲。一日即止痛，立愈。</p>

<h2>卷三</h2>

<h3>截藥雜治門</h3>

<h4>取牙鯽魚霜</h4>
<p>大鯽魚一個去腸，以砒霜納入魚腹，露干放陰地，待有霜即刮下，用瓶收貯，以針搜淨牙根，點少許，咳嗽自落；或以少許藥置膏藥上，貼蛀牙上，即落。</p>
<p>庚生按：砒宜用白者，每魚一兩，納入白砒一錢，不可過多。</p>
<p>又方：活鯽魚一尾，約四五兩，白砒六錢，將砒末納入魚腹中，待魚爛之後，將魚骨洗淨，曬乾為末，每用少許點所患牙根上，自落。</p>

<h4>黑髮仙丹</h4>
<p>熟地一斤，萬年青三斤（小用五斤），桑椹一斤，黑芝麻八兩，山藥二斤，南燭皮四兩，花椒一兩，白果一兩，巨勝子三兩（連殼），蜜丸，早晚以酒送下各五錢，忌食蘿蔔。</p>
<p>又方：熟地一斤，苡仁、山藥、桑葉各八兩，白朮、生何首烏各二兩，巨勝子、白果各三兩，黑芝麻四兩，北五味二兩，山藥一斤，花椒一兩，烏頭皮四兩，胡桃肉三兩，加參片三兩（無亦可），蜜丸，每日用開水，吞服五錢。</p>

<h4>腳鹼</h4>
<p>蔥根、荸薺搗汁一碗。以松香膏四兩，並麻油煎至滴水成珠，方入前汁，攤膏貼患處，即愈。</p>

<h4>足趾雞眼</h4>
<p>作痛作瘡，地骨皮同紅花研細敷之，次日即愈。</p>

<h4>吹耳方</h4>
<p>治小兒耳內濕爛。上梅冰片二分，煅蘆甘石一錢，枯礬三分，煅龍骨一錢，海螵蛸一錢，桔皮炭三錢，赤石脂一錢，粉口兒茶三分，蠶繭殼二枚，煅石首魚腦骨二枚（研細）。</p>
<p>上藥為細末，加胭脂邊二錢，用紙包固，以水浸濕，用火煨炭存性，和勻，再研吹之，極效。</p>

<h3>頂藥</h3>
<p>（主上吐藥也）</p>

<h4>巴霜頂</h4>
<p>治纏喉風閉；先胸膈氣緊，驀然咽喉腫痛，手足厥冷，氣不能通，頃刻不治。雄黃一錢，鬱金五分，巴豆七粒（去皮殼），冰、麝各少許為皮，醋糊為丸，如麻子大，清茶下五分；如喉纏嗓塞，用竹管納藥入喉中，須臾吐痰立解，未吐再服。</p>
<p>庚生按：巴豆宜去油取霜，方可用。</p>

<h4>牛郎頂</h4>
<p>治氣築奔沖不可忍，兼追蟲取積，亦消水腫。黑牽牛五錢（炒），檳榔二錢五分，為末，每服一錢，紫蘇湯下，蟲積及水腫用酒下。</p>

<h4>青綠頂</h4>
<p>治頑痰不化。石青一兩，石綠五錢，水飛為末，曲糊丸綠豆大，溫水下十丸，吐出痰二三碗，不損人。風痰猝中，方用生石綠二兩，乳細，水化去石，慢火熬干，再研入麝香一分，糯米粉糊丸彈子大，陰乾。猝中每丸作二服，薄荷酒下；餘風硃砂酒下。吐青涎、瀉下惡物立效。小兒用銅綠研粉，醋麵糊丸芡實大，每服薄荷酒下一丸，須臾吐痰如膠，神效。</p>
<p>庚生按：生石綠細繹方意，疑即生銅綠。蓋銅綠酸平，主治風痰卒中也。此方本名碧林丹，見藥譜明療銅綠條下，治小兒名綠雲丹，亦載此書內。</p>

<h4>硫黃頂</h4>
<p>治腰痛如神。黑牽牛半生半炒，取頭末，水和丸，梧子大，硫黃末為衣，空心用鹽湯並酒下五十丸。</p>
<p>庚生按：此方用意極妙，惟須體實而年久濕重者為宜，亦不可驟投至五十丸之多，當量症加減為妥。</p>

<h4>黑鹽頂</h4>
<p>鹽一升，納粗瓷瓶中，將泥頭築實。先以糠火圍燒，漸加炭火，候燒透赤色，鹽如水汁，即去火待凝，將瓶敲破，取出；用豆豉一升熬煎；桃仁一兩和麩炒熟；巴豆二兩，去心膜及殼，隔紙炒令油出，須生熟得中，焦則少力，生又損人。將四物搗勻，入蜜丸桐子大，每服三丸，須平旦時服最好。患時氣用豉汁及茶送下；患心痛酒送下，入口便止；患血痢，米飲下，初變水痢後即止；患瘧，茶飲下；患骨蒸蜜湯下。凡服藥後吐利，勿以為怪，吐利若多，服黃連汁止之。或遇耐藥人服藥不動者，更服一、二丸。服藥後須忌口二、三日，其藥臘月合之，用瓷瓶封固，勿令泄氣，一劑可救百人。或在道途村落無藥可求，但用此藥可敵大黃、朴硝數兩，屢試有效，小兒女子忌服。</p>

<h4>三奇頂</h4>
<p>治小兒天哮。經霜天燭子、臘梅花各三錢，水蜒蚰一條，俱預收。水煎服一劑，即愈。</p>

<h4>金線頂</h4>
<p>凡一切宜吐痰涎之症，用代瓜蒂最妙。金線重樓（俗名金線吊蝦蟆。採得，去外黑皮），用石打碎，無犯鐵器，曬乾為末，瓷瓶收貯備用。風痰結胸，用藥一錢，陰陽水和服，吐痰即愈；傷食成瘧，臨發時空心用藥一錢，開水和服；噤口痢用藥一錢，溫涼水和服，即愈。</p>
<p>庚生按：金線重樓，蔓生田野山石間，葉似三角風，光潤帶青黃色。芒種時開花，如穀精花，性力甚大，多食令人吐瀉不止。</p>

<h4>砒霜頂</h4>
<p>治哮，須三年後可用。精豬肉三十兩（切作骰子塊），白信一兩研細末，拌在肉上令勻，用紙筋黃泥包之，令乾。白炭火於無人處煅，俟青煙出盡，研細，以湯浸蒸和丸如綠豆大。食前茶湯送下，大人二十粒，小兒四、五粒，量虛實服之。</p>
<p>齁喘痰積方：凡天雨便發。坐臥不得，飲食不進，乃肺竅久積冷痰，遇陰氣觸動則發也。用後方一服即愈，服至七八次，即吐惡痰數升，藥性亦隨而出，即斷根矣。</p>
<p>江西淡豆豉一兩（蒸搗如泥），入砒霜末一錢，枯礬三錢，丸綠豆大。每用冷茶冷水送下七丸，甚者九丸。小兒五丸。即高枕仰臥，忌食熱物等。</p>
<p>以上二方，體虛者千萬忌用。</p>

<h4>皂礬頂</h4>
<p>凡人猝中風，昏昏如醉，形體不收，或倒或不倒，或口角流涎，斯須不治，便成大病。此證風涎潮於上，致胸痹氣不通，用此吐之。皂莢末一兩，生礬末五錢，膩粉五錢。水調一、二錢，過咽即吐，用礬者，隔下涎也。</p>

<h4>碧霞丹</h4>
<p>凡中風痰厥，癲癇驚風，痰涎上壅，牙關緊閉，上視搐搦，並宜治之。烏頭尖、附子尖、蠍梢各七十個，石綠（研幾度，飛過）十兩，為末，麵糊丸芡實大。每用一丸，薄荷汁半盞化下，更取溫酒半合，須臾吐出痰涎為妙。小兒驚風，加白殭蠶等分。</p>
<p>庚生按：此方惟實症中痰中風，及大人食閉、小兒痰閉可用（石綠即是銅綠）。</p>

<h4>陰陽湯</h4>
<p>凡治上焦欲吐，而不能吐者。滾水涼水各一碗，加炒鹽一撮，打百餘下，起泡飲之，立吐而愈。</p>

<h3>串藥</h3>
<p>（主下瀉藥也）</p>

<h4>牛郎串</h4>
<p>治邪熱上攻，痰涎壅滯，翻胃吐食，十膈五噎，酒積、蟲積、血積、氣積諸般痞積，瘡熱腫痛；或大小便不利，婦人女子面色痿黃，鬼胎癥瘕，誤吞銅鐵銀物，皆治之。五更冷茶送下三錢，天明可看所下之物，此藥有疾去疾，有蟲去蟲，不傷元氣臟腑。小兒減半，孕婦忌服。</p>
<p>白牽牛頭末四兩五錢（炒半生），白檳榔一兩，茵陳五錢，蓬朮五錢（醋煮），三稜五錢（醋炙），牙皂五錢（去皮炙）。</p>
<p>上藥為末，醋糊為丸，如綠豆大。依前數服行後，隨以溫粥補之，忌食他物。</p>

<h4>榔霜串</h4>
<p>（必勝散）</p>
<p>治遠年近患大麻風癩瘡。大黃五錢，檳榔五錢，白牽牛五錢，粉霜五分，各為細末，分作三服。用生薑四兩絞汁，入砂糖半酒盞，水調勻，於晚間臨睡，腹中稍空，臥床上服之。至三更，遍身手足俱麻木如針刺，頭目齒縫俱痛，此藥尋病之功。二便或青或白或黑或黃或紅蟲之類，此乃病根也。三十日內服藥三次，漸痊，眉毛鬚髮俱生，肌膚如舊。或齒縫出血，漱齒藥列後。</p>
<p>漱齒藥：貫仲五錢，黃連五錢為末。用水一盅，煎四五沸，入冰片少許。攪勻漱口。每日一服煎漱，忌食動風油膩之物，一月即愈。</p>

<h4>黃甲串</h4>
<p>（偷刀散）</p>
<p>治橫痃便毒，未成者內消，已成者膿從大便下。大黃二錢，白芷二錢，穿山甲二錢煅存性為末，每服三錢，空心酒送下。</p>

<h4>無極丸</h4>
<p>治男女諸病，婦人經血不通，赤白帶下，崩漏不止，腸風下血，五淋，產後積血，癥瘕腹痛。男子五勞七傷，小兒骨蒸潮熱，其效甚速。大黃一斤分作四份：一份用童便一碗，食鹽二錢，浸一日切曬；一份用醇酒一碗，浸一日切曬，再以巴豆仁三十五粒，用豆炒黃，去豆不用；一份用紅花四兩，泡水一碗，浸一日切曬；一份用當歸四兩，入鹽醋一碗，同浸一日，去當歸，切曬。為末，蜜丸如桐子大，每服五十丸，空心溫酒下，利下惡物為驗，未下再服。</p>

<h4>備急丸</h4>
<p>治心腹諸疾，猝暴百病。大黃、巴豆、乾薑各一兩，搗篩蜜和為丸，如小豆大。每服三丸。凡客中惡心，腹脹滿痛如錯刀，氣急口噤猝死，以暖水或酒服之，或灌之。不愈再服三丸，腹中自然鳴轉，但吐即愈。若口已噤者，灌之即愈。</p>

<h4>烏龍串</h4>
<p>（一粒金丹，又名捉虎丹）</p>
<p>專治風寒暑濕腳氣，不問遠年近日，一切走注，疼痛不可忍，臨發時空心服一丸；趕到足面上赤腫痛不散，再服一丸；趕至腳心中，出黑汗乃除根。如痛在上，食後臥時，酒送下，自然汗出定痛為驗。中風癱瘓麻痹不仁，手足不能屈伸，偏枯，用酒下二丸。中風不醒人事，牙關不開，研一丸，酒調灌下，亦驗。白膠香（研）、草烏（去皮臍）、五靈脂、土龍（去土）、木鱉子（去油）各一兩五錢，乳香、沒藥、當歸各七錢五分，麝香二錢二分，京墨（燒酒浸）一錢五分，共為末，和勻，糯米粉為丸，如芡實大，溫酒研化一丸，神效。</p>

<h4>犀黃串</h4>
<p>闢瘴明目。升麻、犀角、黃芩、朴硝、梔子、大黃各二兩，豉二升，微熬同搗末，蜜丸如梧子大。覺四肢大熱，大便閉結，即服三十丸，取微利為度；四肢小熱，食後三十丸，非但闢瘴，甚能明目。</p>

<h4>天一水串</h4>
<p>韓飛霞制。通利水道。</p>
<p>按方內需用人參，如無，以高麗參代之，或真潞黨參亦可。燈芯一斤（米粉漿染曬乾研末，入水澄去粉，取浮者曬乾，二兩五錢），赤白茯苓（去皮）五兩，滑石（水飛）五兩，豬苓二兩，澤瀉三兩，人參一斤（切片熬膏）。和藥丸如龍眼核大，硃砂為衣。每服一丸，隨症用引調服，本天一生水之妙，故治病以水道通利為捷徑也，亦治難產不下者。</p>

<h4>牽牛串</h4>
<p>治男婦五般積氣成聚。</p>
<p>黑牽牛一斤，生搗末八兩，余渣以新瓦炒香再搗，取四兩，蜜丸如梧子大。至重者三十五丸，陳皮、生薑煎湯，臥時服。半夜未動，再服三十丸，當下積聚之物。尋常行氣，每服十丸，虛者慎用。</p>

<h4>禹功散</h4>
<p>治諸水飲病。</p>
<p>黑牽牛頭末四兩，茴香一兩（炒），為末。每服一--二錢，以生薑自然汁調下，則氣利而飲自消，若虛者宜審慎用之。</p>

<h4>雙牛串</h4>
<p>治一切癰疽發背，無名腫毒，年少氣壯者。黑白牽牛各一兩，布包捶碎，以好醋一碗，熬至八分，露一夜。次日五更溫服，以大便出膿血為妙。</p>

<h4>五香串</h4>
<p>治腹心氣脅痞積，一切痛症，立效。沉香、丁香、木香、檀香、乳香（去油）、巴豆霜各三錢，大黃、甘草、鬱金、蒼朮、五靈脂、陳皮、厚朴、雄黃各五錢，豆蔻肉六錢。</p>
<p>右藥共研末，醋糊丸如桐子大，硃砂二錢為衣。每服五丸，重者七丸、九丸，或至十一丸。空心熱酒送下，忌生冷油膩，氣虛之人及孕婦忌服。</p>

<h4>車螯串</h4>
<p>（名轉毒散）</p>
<p>治發背癰疽，不問深淺大小，利去病根，則免傳變。車螯（即昌蛾背紫光厚者，以鹽泥固濟，煅赤出火毒）一兩，生甘草末一錢五分，輕粉五分，為末。每四錢用栝蔞一個，酒二盞，煎一盅調服。五更轉下惡物為度，未下再服，甚者不過二服。</p>
<p>又方：車螯四個（黃泥固濟，煅赤出毒，研末），燈芯三十莖，栝蔞一個（取仁炒香），甘草節（炒）二錢，通作一服。將三味入酒二碗，煎半碗，取滓入蜂蜜一匙，調車螯末二錢，膩粉少許，空心溫服，下惡涎毒為度。</p>

<h4>八寶串</h4>
<p>臌脹經年而不死，必非水臌，乃氣臌、血臌、食臌、蟲臌也，但得小便利，而胃口開者，俱可治。茯苓五兩，人參一兩，雷丸三錢，甘草二錢，蘿蔔子一兩，白朮五錢，大黃一兩，附子一錢，水拾碗，煎成二碗。早晨服一碗，必腹內雷鳴，少頃下惡物滿桶，急傾去，另換一桶；再以第二碗服之，必又大瀉，至黃昏而止。以淡米湯飲之，不再瀉矣。然病人憊乏已甚，急服後方，以調理之。</p>
<p>人參一錢，茯苓五錢，苡仁一兩，山藥四錢，陳皮五分，白芥子一錢，水煎服，一劑即愈。忌食鹽一月，犯則無生機矣。先須再三叮囑，然後用藥治之。</p>
<p>庚生按：此方出《石室秘錄》，又見於《觀聚方要補》，予嘗試之，極有效。《觀聚方》茯苓用五兩，宜從之，此物淡而無味也。《觀聚方》陳皮用五分，宜從之，否則太嫌破氣矣。</p>

<h4>腹脅痞塊</h4>
<p>雄黃一兩，白礬一兩，為末，麵糊調膏攤貼。未效再貼，數月必愈。</p>

<h4>發背初起</h4>
<p>疑似者，以秦艽牛乳煎服，得快利三五行即愈。</p>

<h4>逐黃散</h4>
<p>治小兒黃疸，眼黃脾熱。瓜蔞焙乾，每服一錢。水半升，煎七分，臥時服，五更瀉下黃物，立愈。</p>

<h4>絞腸痧</h4>
<p>馬糞一兩（炒黑），入黃土一撮（微炒），黃酒乘熱服五錢，即痛去如失，非吐即瀉，氣一通而痛輒定矣。</p>
<p>按此方兼治霍亂，奏效甚神，滾水亦可調服，不必定用黃酒也。</p>

<h2>卷四</h2>

<h3>單方內治門</h3>

<h4>暖益腰膝</h4>
<p>硫黃半斤，桑柴灰五斗，淋取汁。煮三周時，以鐵匙抄於火上試之，伏火即止，候乾以大火煅之；如未伏，更煮以伏為度。煅好研末，穿地坑一尺二寸，投水於中，待水清，取和硫磺末，鍋內煎如膏，鐵匙抄出，細研飯丸如麻子大。每空心鹽湯服十丸，極有效驗。</p>

<h4>金粟丸</h4>
<p>治久嗽暴嗽。雄黃一兩研末，用泥固濟令乾，水調赤石脂封口，更以泥封待乾，架在地上用炭火十斤簇煅。候火消三分之一，去火待冷，取出如鏡面光明紅色，在瓷缽內細研，蒸餅丸如米大。每服三丸或五丸，以甘草湯吞服，服後稍睡，良久即愈。</p>
<p>庚生按：此方似太猛峻，用時須審病人虛實為妥，予嘗以一方治久嗽頗效，方附後：香櫞一枚去核切片，以清酒同搗爛，入砂罐，文火徐徐煮之，自黃昏至五更為度。用蜜拌勻，喚醒病人，屬其用匙挑服，服畢再睡片時，一次即愈。</p>
<p>又方：向南柔桑枝一束，折寸斷；納砂罐中，入水五碗，煎至一碗，飲之亦效。</p>

<h4>仙傳膏</h4>
<p>專治血症。剪草一斤，洗淨曬乾為末，入生蜜二斤，和為膏，以器盛之，不得犯鐵器。每日蒸曬一次，九蒸九曬乃止。病人於五更時面東坐，不得語言，以匙抄藥四匙食之，良久以稀粟米飲壓之。藥宜冷服，米飲亦勿大熱，服後或吐或嘔，均不妨。久病損肺咳血，一服即愈。尋常嗽血妄行，每服一匙可也，此藥絕妙。</p>
<p>庚生按：此許學士方也，專治勞瘵吐血肺損及血妄行等症。許公盛推其妙，稱為神授云。剪草疑即茜草，本草雖載其名，只云生山澤間，苦涼無毒，未明形狀。《本事方》謂剪草即茜草，婺州台州皆有之，人鮮知者，細繹方意，蓋即茹蘆也。</p>

<h4>青藤膏</h4>
<p>治一切風疾。青藤（出安徽太平荻港者上，二三月採之）不拘多少入釜內，微火熬七日夜成膏，藏甕器中。同時先備梳三、五把，量人虛實以酒服一茶匙後，將病人身上拍一下，即遍身發癢不可當，急以梳梳之，癢止，即飲冷水一口便解，風病皆愈，須避風數日。</p>
<p>庚生按：青藤本名青風藤，生台州山中。其苗蔓生木上，四時常青，主治風疾，兼治風濕流注，癧癤鶴膝，麻痹瘙癢，損傷瘡腫等症。此方見《集簡方》。</p>

<h4>白虎癧癤風</h4>
<p>感風濕而成。遍身掣肘疼痛，足不能履地，百藥不效，身體羸瘦。木通二兩（切細），取長流水煎汁服之，後一時許，周身發癢，或發紅點勿懼，上下出汗即愈。</p>

<h4>乾血癆</h4>
<p>過三年者不治。白鴿一隻（去腸淨），入血竭一兩。二年者二兩，三年者三兩，以針線縫住，用無灰酒煮數沸，令病人食之，瘀血即行。如心中恍亂者，食白煮肉一塊即止。</p>

<h4>治大風</h4>
<p>此惡疾勢不可救者，用此藥治之。</p>
<p>皂角刺二斤（洗淨）研為粗末，蒸一、二次曬乾，再研細濃煎，加大黃一錢，調白滾湯服，鬚髮再生。</p>

<h4>猝心痛</h4>
<p>牙關緊閉欲死者。</p>
<p>蔥白五莖去皮須搗汁，以匙送入咽中，再灌麻油四兩，但得下咽即蘇。少頃蟲積皆化為黃水而下，永不再發。</p>

<h4>心痛</h4>
<p>香樟樹皮刮去面上黑黃，用第二層皮搗碎煎湯，服即止，亦不再發。庚生按：心痛之症，世不多見，實乃胃氣痛耳。莫氏一方治胃氣痛頗驗：方用艾葉十片，揉碎在銅器內，微火炒黃，將鹽滷二錢拌入炒乾，取出研細末，用燒酒一杯送服，俟腹內作響，或降氣或吐清水即愈。戒食茶水油膩數日，逢初二、十六再進一服，淡鹽湯下，永不發矣。此方平淡而有效，惟須臨時修合。</p>

<h4>腰腳疼痛</h4>
<p>掃帚子三錢炒黃研末，用黃酒沖服，即止。</p>

<h4>水腫</h4>
<p>田螺不拘多少，漂淨加香油一盞於水內，其涎自然吐出。取涎曬乾為末，每服不過三分，酒調下。水自小便下，氣自大便出，腫即消散。再服養脾胃之藥即愈。</p>
<p>庚生按：水腫用前方治之，內有積熱者為宜。憶香祖筆記中，載一方頗簡便，予曾試用有效。方用老絲瓜絡三條（去子剪碎），巴豆四十九粒（去殼），將巴豆和絲瓜絡同炒，俟巴豆深黃色，去巴豆入黃米三合，同絲瓜絡同炒，至米黃為度。取米研粉為丸，如梧子大，每服三十粒，用苡仁湯下，神效。</p>

<h4>風眼赤爛</h4>
<p>明淨皮硝一盞，水三碗，煎融露一宿，濾淨澄清，朝夕洗目，三日紅即消散，雖年久亦愈。</p>

<h4>洗眼中星</h4>
<p>白蒺藜三錢，水煎洗之，三日即無星。</p>
<p>附方：目中起星，以人乳磨山慈菇汁滴目中，日三四次即退。</p>

<h4>紅眼</h4>
<p>荸薺汁塗上即愈。</p>

<h4>睡起目赤</h4>
<p>生地黃汁浸粳米半升曬乾，三浸三曬，以米煮粥食一盞，數日即愈，以其能清血熱也。</p>

<h4>喉風</h4>
<p>木鱉用碗片刮去皮毛，取仁切薄片，浸冷水內三時許，撬開病人口，連水滴下，潤至喉間，立時見效。</p>

<h4>驚氣失音</h4>
<p>密陀僧末一匕，茶調服即愈。</p>

<h4>咽中結塊</h4>
<p>不通水米，危困欲死。</p>
<p>百草霜蜜丸，如芡實大，用新汲水化一丸灌下，甚者不過二丸，名百靈丸。</p>

<h4>鼻血不止</h4>
<p>蒜一枚去皮搗如泥，作餅子如錢大。左鼻出血貼右足心，右鼻出血貼左足心，兩鼻俱出俱貼之，立瘥。</p>

<h4>鼻中肉墜</h4>
<p>藕節有須處，燒灰存性為末，吹患處。此方見養生經驗全集。</p>

<h4>噴嚏丸</h4>
<p>治中風不語、屍厥等症，中惡亦妙。</p>
<p>生半夏三錢為末，水丸如黃豆大，塞鼻孔中必噴嚏，如不止，以涼水飲之，立止。</p>
<p>庚生按：此方兼治五絕、中痰等症。半夏以研細末吹入鼻中為宜，蓋為丸塞鼻，每致閉氣，反為害矣；或臨用時以水為丸，庶無干硬閉竅之弊。</p>

<h4>灌鼻出涎</h4>
<p>治遠近風癇，心恙風狂，中風涎潮，牙關不開，破傷風搐者。用肥皂角一斤，去皮弦子，切碎，以酸漿水浸，春秋三、四日，夏一、二日，冬七日，揉撈去滓，將汁入銀器或砂鍋慢火熬透，以槐柳枝攪成膏，取出攤厚紙陰乾收貯。用時取手掌大一片，溫水化在碗內，灌入病人鼻孔內，良久涎出為驗。如欲涎止，服溫鹽湯一、二口即止。忌食雞魚生冷濕面等物。</p>

<h4>耳鳴</h4>
<p>生地黃切斷，紙包火煨，塞耳數次，即愈。</p>

<h4>耳內腫痛</h4>
<p>瓦松搗汁，灌之。</p>

<h4>風熱牙痛　紫金散</h4>
<p>治一切牙痛，去口氣，大效。大黃燒存性為末，早晨揩牙嗽口。</p>

<h4>痞塊</h4>
<p>八月白露後，收糯稻上露，晚間服二次，即消。</p>

<h4>盜汗</h4>
<p>五倍子去蛀末，炙乾研末。男用女唾，女用男唾，調糊填臍中，外用舊膏藥貼之，勿令泄氣，兩次即愈。</p>
<p>庚生按：盜汗用此方極靈驗，且有益無損，予嘗加入龍骨等分，同研如法用之。並可治夢遺滑精等症，神效非常。</p>

<h4>白濁</h4>
<p>羊角火煅，刮灰末三錢，酒下立除。</p>

<h4>止呃逆</h4>
<p>刀豆子燒存性，白湯調服，立止。</p>

<h4>變通丸</h4>
<p>治赤白痢，日夜無度及腸風下血。黃連二兩、吳茱萸二兩，湯泡七次，同炒揀出，各自為末，粟米飯丸，如梧子大，分貯。每服三十丸。赤痢用黃連丸十五粒，甘草湯下；白痢用茱萸丸十五粒，乾薑湯下；赤白痢各用十五丸，米湯下。</p>

<h4>治痢初起</h4>
<p>不問男婦、室女、妊娠、小兒，皆治之。白蘿蔔二、三斤，洗淨連皮放石臼內，搗碎絞取濃汁。如十歲以內小兒，每日吃一飯碗，大人每日吃二、三飯碗，俱要冷吃不見火。忌葷腥雜味，並治疫痢如神。</p>
<p>庚生按：治痢用銀花為炭，赤者白糖衝下三錢，白者赤糖衝下三錢，即止。</p>
<p>又方：赤痢以白雞冠花，白痢以赤雞冠花，燒灰存性，酒下神驗。並治赤白淋。</p>

<h4>夢泄</h4>
<p>紫花地丁草搗為膏，貼臍上，立止。</p>

<h4>紅白淋帶</h4>
<p>蓮蓬三十個，連根連子取來。將十根連殼用水五碗煎三碗服之。不止，再服一劑；連服三劑，即除根。</p>
<p>庚生按：淋症方用冬瓜二、三枚，每日煮食二、三斤自愈，頗有奇功。如系血淋，用乾柿餅燒存性研末，米飲下，亦神效。</p>

<h4>乳汁不通</h4>
<p>白蠶為末，酒服二錢，少頃以芝麻茶一盞投之，梳頭數十遍，乳汁如泉也。</p>

<h4>生乳</h4>
<p>產後無乳，用萵苣三、五枝煎服，立下。</p>

<h4>急慢驚風</h4>
<p>吊眼、撮口。搐搦不定。</p>
<p>代赭石火燒醋淬十次，細研水飛曬乾。每服一錢或五分，金器煎湯調下，連服三劑。小兒足脛上有赤斑，即是驚風氣已出，病即安也，無斑點者不可治。按急驚風用青蒿梗中蟲焙乾研末，調燈芯灰末少許，服之極神效。慢驚風則當投溫補者，此方宜酌用。</p>

<h4>小兒舌筍</h4>
<p>小兒不吮乳啼哭者，即看舌上起白泡一粒，名舌筍，如不治即死。鮮生地取汁。如無生者，以乾生地涼井水浸開，搗爛取汁，塗患處數次，立愈。</p>

<h4>驗胎方</h4>
<p>經水三月不行，欲知是胎與否，以此驗之。</p>
<p>川芎末一匙，用蘄艾煎湯，空心調服。腹內微動是胎，不動者非也。</p>

<h4>外應膏</h4>
<p>治筋骨疼痛，手足拘攣。</p>
<p>川烏一斤為細末，隔年陳醋入砂鍋內，慢火熬如醬色，敷患處。如病一年者，敷後一日必發癢，癢時令人用手輕拍，以不癢為度。先用升麻、皮硝、生薑煎湯洗之，然後上藥，不可見風。</p>

<h3>單方外治門</h3>

<h4>國老膏</h4>
<p>治一切癰疽諸毒，預期服之，能消腫逐毒，使毒不內攻，攻效甚大。大橫紋粉草二斤捶碎，河水浸一宿，揉取濃汁。再以密絹絞過，入銀石器內，慢火熬成膏，以瓷罐收入。每服一、二匙，無灰酒或白滾湯下。平日服丹藥以致毒發者，亦可解。</p>

<h4>烏龍膏</h4>
<p>治一切癰疽發背、無名腫毒初發，焮熱未破者，立效。隔年小粉，愈久愈佳，以砂鍋炒之。初炒如餳，久炒則幹成黃黑色，俟冷定研末，陳米醋調糊熬如漆，瓷罐收之。用時攤紙上，剪孔貼之患處，覺冷，疼痛亦即止。少頃覺微癢，聽其乾燥弗動，久則毒自消，藥力儘自然脫落矣。</p>

<h4>消癰酒</h4>
<p>萬州黃藥子半斤，緊重者為上，如輕虛是他州所產，力薄，用須加倍。取無灰酒一斗，投藥入中，固濟瓶口，以煻火燒一周時，待酒冷乃開。時時飲一盞，不令絕酒氣，經三五日後自消矣。</p>

<h4>止腫毒</h4>
<p>萆麻仁搗敷即止。</p>

<h4>快馬癰</h4>
<p>山藥磨沙糖水搽圍，即散。</p>

<h4>多骨癰</h4>
<p>紫玉簪根搗爛敷上，其骨自出。</p>

<h4>疔瘡</h4>
<p>菊花葉搗爛取汁，入酒儘量飲醉，將渣敷患處，次日即愈。</p>

<h4>起杖瘡疔皮</h4>
<p>羊糞燒灰，香油調敷疔上，以臘油膏藥蓋之，一、二日即下。</p>

<h4>橫痃便毒</h4>
<p>雞子一個，頭上打一小孔，將紅娘子六個裝入內，用草紙包雞子，慢火煨熟，去紅娘子，止食雞子，酒送下。</p>

<h4>一切癰疽</h4>
<p>赤小豆四十九粒為末，用水調塗，無不愈者。但其性黏，干則難搗，入苧根末少許，則不黏矣，此法尤佳。</p>

<h4>脫疽</h4>
<p>此症發於腳趾，漸上至膝，色黑，痛不可忍，逐節脫落而死。亦有發於手上者。土蜂窠研細，用陳醋調搽，應手而愈。</p>

<h4>指生天蛇</h4>
<p>雞子開一孔，將指套入內，待蛋化水，又換一個。如此三枚而已。天蛇痛臭甚者，黑豆生研末，入繭內籠之。</p>

<h4>諸瘡弩肉</h4>
<p>如蛇出數寸者。硫黃末一兩，肉上敷之，即縮。</p>

<h4>癰腫無頭</h4>
<p>黃葵花子研末，酒沖服一粒則一頭破，兩粒則兩頭破，神效異常。</p>

<h4>腋下癭瘤</h4>
<p>長柄葫蘆燒存性，研末，擦之，以消為度。</p>

<h4>頭瘡生蛆</h4>
<p>以刀刺破瘡，擠絲瓜葉汁擦之，蛆出盡，便絕根矣。</p>

<h4>乳癰</h4>
<p>佛手、山藥搗爛敷患處，但圍四周露出頭，次日即出膿消去，最驗。</p>
<p>又方，名一醉消：石膏煅紅，出火毒，研細。每服三錢，溫酒下，盡醉為度，睡覺再進一服。</p>
<p>庚生按：一醉消方須量人虛實用之，不可輕投。予嘗以楊氏秘方試之，甚效，較此穩妥也。方用泥鰍一尾，搗極爛，入生豆漿攪勻，塗敷患處即消。此方兼治腫毒初起。</p>

<h4>乳頭裂破</h4>
<p>秋月冷露茄子裂開者，陰乾燒存性，研末。水調塗之即愈。</p>

<h4>瘭疽毒瘡</h4>
<p>肉中忽生暗子，如粟豆大者，如梅李或赤或黑或青或白。其中有核，核有深根，紫黑色，能爛筋骨，毒入臟腑即死。宜灸暗上百壯，以酸模葉敷其四面，防其長也。內服葵根汁，其毒自愈。</p>

<h4>甲疽延爛</h4>
<p>瘡腫黃水浸淫相染，五指俱爛，漸上至腿腳，泡漿四起，如火燒瘡，日夜怪憎，醫不能療。綠礬石五兩，燒研末，色如黃丹，收之。每以鹽湯洗拭，用藥末厚敷之。再以軟帛暖裹，當日即膿斷瘡干。每日一遍，用鹽湯洗濯，有膿處務使洗淨，敷藥，其結痂處不須近。但有急痛者塗酥少許令潤，五日即覺痂起，依前洗敷十日，痂漸剝盡，軟處或更生白膿泡，即擦破敷之，自瘥神效。</p>

<h4>鵝掌風</h4>
<p>香樟木打碎煎湯，每日早晚溫洗三次，即愈。</p>

<h4>散毒</h4>
<p>圍諸般腫毒。柳枝尖頭拾數斤，入鍋內熬膏，如砂糖樣。加蜜半斤熬收，以瓷器貯用。</p>

<h4>洗癩頭方</h4>
<p>蝸牛數十條洗之，二次即愈，此方神妙。</p>
<p>庚生按：癩頭用蝸牛洗固有效，然不及用殼蝦白糖同搗爛於剃頭後敷之神驗。但敷後癢不可當，切不可搔，待其結痂自落即痊。如或未淨，再敷一、二次，無不痊也。歷試多人，皆驗。</p>

<h4>痰核</h4>
<p>整五倍子入砂鍋炒黃為末，以好醋調膏，攤敷患處，易六、七次即愈。不論新舊俱驗。</p>

<h4>咽舌生瘡</h4>
<p>吳茱萸末醋調，貼兩足心，過夜即愈，蓋引熱下行也。</p>

<h4>金瘡</h4>
<p>兼治無名腫毒。圓眼核不拘多少，用火炙枯存性，研末，摻之即愈。如治無名腫毒，用冷水調塗亦妙。</p>

<h4>攧撲欲死</h4>
<p>一切傷損：從高墜下，及木石所砟，墮馬翻車，瘀血凝滯，氣絕欲死者。淨土五升，蒸熱，以紅布重裹，作二包，替換熨之。勿過熱，恐傷皮肉，痛止則已。</p>

<h4>金刃不出</h4>
<p>入骨縫中者。半夏、白蘞等分為末，酒服方寸匕。日三服，至二十日自出。</p>

<h4>被砍斷筋</h4>
<p>旋覆花根搗汁，滴患處，仍以滓敷之。日三易半月後斷筋能續。</p>

<h4>乳岩</h4>
<p>硬如石者。</p>
<p>槐花炒黃為末，黃酒沖服三錢，即消。</p>
<p>此病乳中先生硬塊，初起大如豆，漸大如雞卵，七、八年後方破爛。一破之後，即不可治矣。宜服後方：生蟹殼數十枚，放砂鍋內焙焦，研細末，每服二錢，陳酒沖服，不可間斷。</p>
<p>庚生按：蟹殼方頗有效，惟不宜多服。多則每至頭昏、作嘔，不可不知。且蟹殼及蟹爪最能墮胎，有娠者慎勿誤投。嘗見吾師馬培之先生治此症，每以逍遙散為主，量為加減，應手輒愈。蓋乳頭屬肝，乳房屬胃，此症之成，胥由二經致疾耳。杭婦鄭姓者患此症，後得一方，服之奇驗。方用龜板數枚，炙黃研細，以黑棗肉搗和成丸，每服三錢，以金桔葉煎湯下。</p>

<h4>火燒瘡</h4>
<p>管仲煅灰，香油調塗之，立刻止痛。</p>
<p>火燎油燒傷</p>
<p>痛不可忍者。好酒一鍾，雞子青三個，攪勻入溫湯內頓熟，攪如稀糊。候冷用軟筆刷患處。半日覺癢，癢後即以楊梅樹皮炙存性為細末，香油調敷。</p>
<p>庚生按：火燒傷方頗多。舊有極驗二方，附於下。</p>
<p>敷藥方：用陳年小粉炒黑色收好，臨時以篩極細敷患處。如皮已破爛，即乾摻之，如尚未破，用陳菜油調塗，立即止痛。此西人方也，屢試神驗。湯藥方：用生大黃五錢、當歸四兩、荊芥三錢（炒）、生甘草五錢、黃芩三錢、防風三錢、綿耆三兩、茯苓三兩，用水三碗煎至一碗。溫服，不可改動份量。此方實有起死回生之功。</p>

<h4>湯火傷</h4>
<p>秋葵花瓣不拘多少，真菜油調和如厚糊，裝入瓶內收貯。次年花瓣腐爛，即可敷用，愈陳愈妙。按此方用麻油浸尤妙。如無此藥，用地榆末麻油調搽亦妙。火傷毀肢體者，以雞蛋煮熟，去白用黃，入豬油去膜，比雞蛋黃稍多，同搗爛敷之神效。此臨海良醫許秀山所傳秘方也。</p>
<p>庚生按，此方屢經試驗，極效。</p>

<h4>癬</h4>
<p>身面上如錢大者，擦之如神。巴豆五六個去皮打碎，包絹內擦之，好肉上不可擦。</p>

<h4>水腫腳氣</h4>
<p>未全消者。甘遂末塗腹，繞臍令滿。內服甘草水，其腫便去。</p>
<p>庚生按：水腫腳氣一症，即俗稱大腳風沙木骽是也。水鄉農人多患之。一腫不消，與尋常腳氣發過即消者逈別。此因傷絡瘀凝，氣阻風濕，熱邪夾雜留戀，日久不出，致成此恙。故病初起，必胯間結核而痛，憎寒壯熱，漸而不行，至足即腫脹木硬，終身不便，誠可憫也。嘗見趙晴初先生《存存齋醫話》載一方頗效，予屢試之有驗，因錄於下：蔥白杵爛和蜜，罨胯核痛處。再以海蟄、荸薺同煎，至海蟄化盡，取湯吞服當歸龍薈丸三錢（此丸藥肆中有合成者），即能消散。若年久者，以黃柏八兩（另研末）、海蟄八兩（勿漂）煎湯，加蔥須自然汁和勻，丸綠豆大，每日茅根湯送服三錢。外用杉木刨花煎湯，入皮硝一兩頻洗，更以藍布浸鹽束之，無不愈者。並治鵝掌風及腳氣，一切甚效。</p>

<h4>口吻生瘡</h4>
<p>砂仁殼煅，研末抹之，即愈。</p>

<h4>肛門痔痛</h4>
<p>木鱉仁帶潤者雌雄各五個，研細作七丸，用碗覆濕處勿令乾。每一丸以唾化開，貼痔上痛即止，一夜一丸自消。</p>
<p>庚生按：木鱉有番鱉（無殼）、土鱉（有殼）之分，無雌、雄之別。痔瘡症既不一，方亦極夥。予嘗試驗一方，頗平善有功，附錄於後。</p>
<p>先以甘草湯將痔洗淨，後用五倍子七枚、荔枝草二兩，砂鍋煎水熏洗之，即愈。荔枝草一名癩蝦蟆草，四季皆有，面青背白，麻紋壘壘，奇臭者是。</p>

<h4>疔瘡走黃</h4>
<p>陳年苔菜研末敷上，即消腫收口而愈。試過無不效者。按疔瘡走黃，急取芭蕉根搗汁灌之，亦效。</p>

<h4>發背陰毒</h4>
<p>不焮腫者是。</p>

<h4>項下氣癭</h4>
<p>自然銅貯水甕中，逐日飲食皆用此水，其癭自消。</p>

<h3>單方雜治門</h3>

<h4>拔白換黑</h4>
<p>老薑刮取皮一大升，於久用油膩鍋內不須洗刷，固濟勿令通氣。令精細人守之，文武火煎之，不得急火。自旦至夕即成矣。研末。拔白後，先以小簪點麻子大入孔中，或先點須下，然後拔之，以指捻入。三日後當生黑者。</p>

<h4>食生米</h4>
<p>男子婦人，因食生熟物，留滯腸胃，遂生蟲。久則好食生米，否則終日不樂，憔悴萎黃，不思飲食。蒼朮用米泔水浸一宿，銼焙為末，蒸餅丸桐子大。每服五十丸，米飲下，日三服，即愈。</p>

<h4>齒黃</h4>
<p>糯米糠燒取白灰，旦旦擦之，黃色自退。</p>

<h4>禿鬢髮稀</h4>
<p>川椒四兩酒浸。日日搽之，自然長出。</p>

<h4>小兒鱗體</h4>
<p>皮膚如蛇皮鱗甲之狀。由氣血痞澀，亦曰胎垢。</p>
<p>白殭蠶去嘴為末，煎浴之。如蛇蛻去，便愈。</p>

<h4>猘犬咬傷</h4>
<p>猘犬咬傷，若不醫治，每致害命。急於無風處，以冷水洗淨。即服韭汁一碗，隔七日又一碗，四十九日共服七碗。百日內忌食酸鹹，一年內忌食魚腥，終身忌食狗肉，方得保全，否則十有九死。</p>
<p>庚生按：猘犬咬傷極危險，此方頗平妥，可用。又孟河馬氏一方，用萬年青根一、二斤，打汁溫服（勿燉熱，以微溫為妙）一、二碗，將渣敷於咬處，紮好勿令脫落。次日再照式敷服一次。雖癲狗咬後，日久目紅音嘶，不知人事者，三五服自愈。若平常狗咬，只須二、三兩取汁溫服一、二次即愈。予嘗試驗極效，此方並治蛇咬。</p>
<p>蛇咬犬咬均有牙垢毒氣留於肉中。最好咬傷後，即刻用熱小便洗之，萬不可畏痛勿洗。且蛇咬更須細洗，防其斷牙在內，如有斷牙，須用物取出，更擠去惡血，用小便洗淨，再用敷藥。再古方書猘犬咬傷，每用斑蝥入藥為丸為散，服後無益有損，萬不可用。切記，切記。</p>

<h4>蛇虺咬傷</h4>
<p>看傷處有竅是雄蛇，無竅是雌蛇，以針挑破傷處成竅。然後取野苧麻嫩頭搗汁，和酒服二、三盞，以藥渣敷傷處，能令毒從竅中出。傷愈將渣棄水中，永不復發。</p>

<h4>蜈蚣咬傷</h4>
<p>嚼香附塗之，立效。</p>
<p>庚生按：西人治蜈蚣咬，以白胡椒口嚼塗之，良已。</p>

<h4>毒蛇咬傷</h4>
<p>急飲好醋一、二碗，令毒氣不隨走。或飲香油一、二盞，然後用藥。需要將繩扎定傷處兩頭。次用白芷為末，白水調下半兩許服之，頃刻咬處黃水出盡，腫消，皮合而愈。</p>

<h4>精清不孕</h4>
<p>凡煮粥滾鍋中，面上米沫浮面取起，加煉過鹽少許，空心服下，其精自濃，即孕矣。</p>
<p>庚生按：此紫竹林秘傳單方也。但須用粥油，並非初滾結聚之沫，乃粥將成時厚汁滾作一團者。袁了凡先生謂為米液，專能補精；綱目拾遺言其能實毛竅，滋陰之力勝於熟地。誠然，誠然。</p>

<h4>截溺</h4>
<p>舉子廷試用之。臨期用銀杏五十枚，清晨煎湯飲之，便可終日不溺。</p>

<h4>面上黑氣</h4>
<p>半夏焙研末，米醋調敷，不可見風。不計遍數，從早至晚如此三日。皂角湯洗之，面瑩如玉也。</p>

<h3>單方奇病門</h3>

<h4>山鞠散</h4>
<p>治婦人產後乳忽細長，小如腸垂過小腹，痛不可忍，名曰乳懸。</p>
<p>芎藭、當歸各一斤，以半斤銼散入瓦器內，用水煎濃，不拘多少頻服。仍以一斤半銼塊，於房內燒煙，令病人將鼻吸菸。如或未愈，再用黃耆八兩煎服，如尚未縮上，再用冷水磨蓖麻子一粒，貼其頂心，片時後洗去，則自安矣。</p>

<h4>產後肉線</h4>
<p>產後用力，產戶垂出肉線，長三四尺，觸之痛引心腹欲絕。用老薑連皮三斤，搗爛入麻油二斤，拌勻炒乾。先以熟絹五尺折作方袋，令人輕輕盛起肉線，使之屈曲作團，納入產戶。乃以絹袋盛姜就近熏之，冷則更換。熏一日夜，縮入大半，二日盡入。內服補氣血之劑。此乃魏夫人秘傳怪病方也。但不可使肉線斷，斷則不可治矣。</p>
<p>庚生按：此症予嘗見之。肉腺長尺余，有如蛔蟲。色白粗如燈心，觸之掣痛。初未知此方，因以乳懸法治之，亦痊。</p>
<p>方用川芎、當歸各一斤，以半斤煎服，以半斤銼細燒煙燻之，令病人口鼻吸受藥氣藥煙為妙。</p>

<h4>截腸怪病</h4>
<p>大腸頭出寸余，極痛苦。干則自落，又出，名為截腸病。若腸盡即不治。但初覺截時，用器盛芝麻油坐浸之，飲大麻子汁數升，即愈。</p>

<h4>伐毛丹</h4>
<p>治鼻中毛出，晝夜可長一、二寸，漸漸粗圓如繩，痛不可忍，摘出復生。此因食豬羊血過多所致。乳香（燈草拌炒）、硇砂各一兩，為末，飯丸如梧子大。每空心臨臥各服十丸，滾水送下，自然退落。</p>
<p>庚生按：硇砂疑是硼砂之誤。蓋硇砂即猛且烈，能化血肉為水，即肆中偽充之鹽硇，亦猛烈。鹽苦，斷不能用至如許之多，切宜加慎為是。</p>

<h4>血壅怪病</h4>
<p>遍身忽然肉出如錐，即癢且痛，不能飲食，名曰血壅。不速治必潰。鮮蔥煎湯淋洗，再吃豆豉湯數盞，自安。</p>

<h4>眉毛搖動</h4>
<p>目不能交睫，喚之不應，但能飲食。蒜三兩，杵汁調酒飲，即愈。</p>

<h4>筋肉化蟲</h4>
<p>有蟲如蟹走於皮下，作聲如小兒啼，為筋肉之化。雄黃、雷丸各一兩，為末，摻豬肉上，炙熟吃盡，自安。</p>

<h4>病笑不休</h4>
<p>食鹽煅赤，研入河水煎沸，啜之。探吐熱痰數升，即愈。</p>

<h4>離魂</h4>
<p>凡人自覺本形作兩人，並行並臥，不辨真假者，此離魂病也。辰砂、人參、茯苓各等分濃煎，日飲，真者氣爽，假者化也。又倩女離魂湯，用人參、龍齒、赤茯苓各一錢，煎湯服。</p>

<h4>氣奔</h4>
<p>遍身皮肉內，滾滾如波浪聲，癢不可忍，抓之出血，謂之氣奔。苦杖、人參、青鹽各二錢，細辛七分，水煎，緩緩飲盡便愈。</p>

<h4>救割全生湯</h4>
<p>凡人身先發癢，以錐刺之；再癢，以刀割之，快甚；少頃癢甚，刀割覺疼，必流血不已。人參一兩、當歸二兩、荊芥三錢，水煎服。三劑痛癢皆止。貧者無力買參，用黃耆二兩代之。</p>

<h4>男子乳腫</h4>
<p>金銀花、蒲公英各一兩，天花粉、白芥子各五錢、白芍、通草各三錢，木通、附子各一錢，柴胡二錢，炒梔子、茯苓各三錢，水煎服。</p>

<h4>糞門生蟲</h4>
<p>蛇床子、楝樹根各三錢，生甘草一錢。上為末，以蜜煎成，搓為一條，塞入糞門，聽其自化，即止癢而愈。</p>

<h4>眼內肉線</h4>
<p>冰片、黃連、硼砂、甘草各一分。各為細末。用人乳調點，一時收入而愈。更用白芍五錢，柴胡、甘草各一錢，茯苓、白朮、炒梔子各三錢，陳皮一錢，白芥子三錢，水煎服。</p>

<h4>熱毒濕瘡</h4>
<p>遍身生瘡，痛而不癢，手足尤甚。黏著衣被，曉夕不得睡。以菖蒲三斤曬乾為末，布席上臥之。仍以衣被覆之，即不黏衣，又復得睡，不過五日、七日，其瘡如失，神驗。</p>

<h4>祛火丹</h4>
<p>腳板中色紅如火，不可落地。終年不愈。熟地三兩，山茱萸、茯苓、甘菊花各五錢，牛膝、丹皮、澤瀉、車前子各三錢、萆薢二錢，元參、沙參、麥冬、釵石斛各一兩，水煎服十劑自消，二十劑全愈。須忌房事三月，否則再發難治矣。</p>

<h1>串雅外編</h1>

<h2>卷一</h2>

<h3>禁藥門</h3>

<h4>李子建殺鬼丸</h4>
<p>闢瘟疫，殺一切鬼魅魍魎。</p>
<p>藜藿一兩，虎頭一兩五錢，雄黃、鬼臼、天雄、皂莢、蕪荑各五錢。</p>
<p>上為末，蜜丸如皂子大。熱病時氣燒一丸安床頭。</p>

<h4>闢疫</h4>
<p>凡入瘟疫之家，以麻油塗鼻孔中，然後入病家去，則不相傳染；既出，或以紙捻探鼻深入，令嚏之方為佳。</p>

<h4>時疫大行</h4>
<p>自家水缸內，每早投黑豆一把，全家無恙。</p>

<h4>截瘧</h4>
<p>端午七姓人家粽尖、獨囊蒜七枚，雄黃三錢，巴霜一錢（去油），搗為末，小丸，獨用硃砂為衣。臨發日，未來時棉裹塞鼻孔中，男左女右，過夜即止，去藥；或用膏藥些須貼眉心，止即去之。</p>

<h4>香草散</h4>
<p>截瘧。</p>
<p>香附（醋浸透，銅鍋炒）一兩半，草烏（面同炒，去面）五錢，為末。每用一分，臨發時先時含舌上，滾湯下。老弱七、八釐，小兒五釐，極重二服即愈。</p>

<h4>闢水毒</h4>
<p>蛇莓根搗末服之，並導下部，亦可飲汁一、二升。夏月欲入水，先以少許投中流，更無所畏；又闢射工。家中以器貯水浴身，亦宜投少許。蛇莓地引細蔓，節節生根，每枝三葉，葉有齒刻，四、五月間開小黃花，五出，結實鮮紅，狀似覆盆子而面與蒂不同。</p>

<h4>除蟲蟻</h4>
<p>驚蟄日用石灰糝門檻外，免蟲蟻出。</p>

<h4>禁蚊</h4>
<p>端午日取浮萍一把，鬧楊花一把，為末。清明日，取鱉血和二藥調勻，擦在房門上，則蚊蟲一室俱無矣。</p>

<h4>滅蝨除蚤</h4>
<p>百部、水銀、茶葉各一錢，黑棗三枚。</p>
<p>研和布包帶身不生蝨。鴿糞、水龍骨、風茄花三朵，打和燒，臭蟲絕根。</p>

<h4>闢蠅蚊</h4>
<p>楝樹一枝，將酒糊塗之，懸掛空處，蠅飛不能走。收過二三次即無。（下略）</p>

<h4>除蚤蝨蛇蟲諸毒</h4>
<p>樟腦五錢，茅朮、石菖蒲各三錢。</p>
<p>上共為末，摻床褥間及壁角諸處，則絕。</p>
<p>又方</p>
<p>芥菜子、辣蓼、樟腦各一錢，燒煙燻之，即除。</p>

<h4>除臭蟲</h4>
<p>硫黃數錢為末，棉花子燒煙燻二、三次即絕。</p>

<h4>闢痘入目</h4>
<p>凡痘初起時，將獨女胭脂揩眼眶，則痘不入目。一見痘時，牛蒡子不拘多少，其母嚼碎，貼兒囟門則不入目。</p>

<h4>驅螞蟥</h4>
<p>二麥稈頓於水上，流水入池中，可祛螞蟥。</p>

<h4>闢漆氣</h4>
<p>人有見漆多為漆氣上騰，著人而生漆瘡者，川椒三、四十粒，搗研塗口鼻中，則不為漆所害。</p>

<h4>闢瘡瘃</h4>
<p>人日午時，取獨蒜搗爛，塗麵皮手腳，一年不生。</p>

<h3>起死門</h3>

<h4>藥名救絕仙丹</h4>
<p>山羊血二錢，菖蒲二錢，人參三錢，紅花一錢，皂角刺一錢，製半夏三錢，蘇葉二錢，麝香一錢。</p>
<p>各為末，蜜丸龍眼核大，酒化開，以端午日修合好，每料約十丸。此方神奇之至，不但救五絕，凡有邪祟昏迷，一時卒倒者，皆可起死回生。</p>

<h4>騎牛法</h4>
<p>專救溺死。</p>
<p>凡人由水中救起，以身俯伏於牛背上，手足俱用人扶，另用一人牽牛緩行，有五里之久自活。</p>

<h4>溺死</h4>
<p>以所溺之人扶在椅上，將其左右手腳不住運動後，將其口、耳、穀道塞住，兩眼亦包住。用舊藍布捻繩燒煙，先以竹管呼煙吹入鼻孔，水即鼻出。俟有微氣，即以鼻繩煙燻其鼻孔，即活。</p>

<h4>救誤死</h4>
<p>凡人無病，或坐臥，或酒後，陡然即死者，名旺痧。將本人口內，用鐵器撬開，以銀簪刺下小有筋，血出即活，不可刺正中。又方，以悶醋灌下，即刻活矣。</p>

<h4>急痧將死</h4>
<p>將口撐開，看其舌處，有黑筋三股，男左女右，刺出紫血一點，即愈。刺血忌用針，須用竹箸，嵌碎瓷碗尖為妙，中間一筋，切不可刺。</p>

<h4>卒中惡死</h4>
<p>或先病，或平居寢臥，奄息而死，皆是中惡。急取蔥心刺入鼻孔中，男左女右，入七、八寸，鼻目血出即蘇。</p>

<h4>人卒暴死</h4>
<p>搗女青一錢，安咽中，以水或酒送下立活。</p>

<h4>還魂湯</h4>
<p>麻黃二兩（去節），杏仁七十個（去皮尖），甘草一兩，水二碗，煎一碗，去渣灌之。</p>

<h4>血風攻死</h4>
<p>婦人血風攻腦，頭旋悶絕，忽死倒地，不知人事者。</p>
<p>蒼耳草嫩心陰乾為末，酒服一大錢，其功甚速。此物善通頂門連腦。</p>

<h4>打死</h4>
<p>松節捶碎一、二升，入鐵鍋內炒起青煙為度，以老黃酒二、三升，四圍衝入，即濾淨，候半熱，開牙，灌入即活。</p>

<h4>小兒驚死</h4>
<p>大叫一聲就死者，名老鴉驚。</p>
<p>以散麻纏作脅下及手心足心，燈火捻之。用老鴉蒜曬乾，車前子等分為末，水調貼手心。仍以燈心淬手足心，及肩膊、眉心、鼻心即醒也。</p>

<h4>解藥毒死</h4>
<p>只要心間溫暖者，乃是熱物犯之，防風一味擂，冷水灌之。</p>

<h4>產後暈絕</h4>
<p>此扁鵲法也。</p>
<p>半夏末，冷水和丸，大豆大，納鼻中即愈。</p>

<h4>喉痹垂死</h4>
<p>止有餘氣者。</p>
<p>巴豆去皮，線穿納入喉中，牽出即愈。</p>

<h4>華佗危病方</h4>
<p>治纏喉風喉閉，其症先兩日胸膈氣緊，出氣短促，驀然咽喉腫痛，手足厥冷，氣閉不通，頃刻不治。</p>
<p>巴豆七枚（三生四熟，生者去殼研；熟者去殼炒，去油存性），雄黃（皂子大者，研）、鬱金一個（蟬肚者），研細。</p>
<p>共為細末，每服半茶匙，細呷；如口噤咽塞，用小竹管納藥吹喉中。須臾吐利即醒。如無前藥，用川升麻四兩銼碎，水四碗，煎一碗，灌入。又無升麻用皂角三綻捶碎，擂水一盞灌之，或吐或不吐即安。</p>

<h4>援絕神方</h4>
<p>凡人患痢便血，一日至百十次不止者，至危急也。即以此藥援危，又不損傷氣血，痢止身亦健。</p>
<p>白芍二兩，當歸二兩，枳殼二錢，檳榔二錢，甘草二錢，滑石末三錢，木香一錢，蘿蔔子一錢。水煎服，一劑輕，二劑、三劑全愈。</p>

<h4>金瘡鐵扇散</h4>
<p>象皮五錢（切薄片，用小鍋焙黃色，以干為度，勿令焦），龍骨五錢（用上白者，生研細末），老材香一兩（山陝諸省無漆，民間棺殮俱用松香、黃蠟塗棺內，數十年後有遷葬者，棺朽另移新棺具，朽棺內之黃蠟即謂老材香。東南各省無材香，即以數百年之陳石灰一兩代之，俱效驗，亦與老材香同），寸柏香（即松香之黑色形者），松香一兩（與寸柏香一兩一同溶化，攪勻，傾入冷水中，取出曬乾），飛礬一兩（片白礬入內熬化即是）。</p>
<p>共為細末，貯瓷罐中，遇有刀、石破傷者，用敷瘡口，以扇向瘡口扇之立愈，忌臥熱處。如傷處發腫，煎黃連水，用翎毛蘸塗之即消。傷處不必用布包裹，以致過暖，難於結痂。並忌飲酒，以致氣血妄行。至敷藥之時，若血流，乃用扇扇之；倘不流，即不必扇。蓋傷處喜涼惡熱，夏日宜臥涼地，冬日忌臥熱處。</p>

<h3>保生門</h3>

<h4>損目破睛</h4>
<p>牛口涎每日點兩次，須要避風。黑睛破者，亦瘥。</p>

<h4>腦破折骨</h4>
<p>龍腦（明透者）三錢，冰片三分，人參三錢，象皮一錢，生地三錢，土狗三個（去頭翅），地蝨二十個。</p>
<p>先將人參各項研末，用土狗、地蝨搗爛入前藥搗之，佩身上，三日乾，為末，瓶貯。遇有此等病，醫之可也。並可接骨，服下神效；骨斷者，服一錢即愈。</p>

<h4>眉落復生</h4>
<p>桑葉七片，每日洗之，一月重生，須落亦然。</p>

<h4>卒心急痛</h4>
<p>牙關緊閉欲絕。</p>
<p>老蔥白五莖去皮須，搗膏，以匙入咽中，灌以麻油四兩，但得下咽即蘇。少頃，積蟲皆化黃水而下，永不再發，累得救人。</p>

<h4>痘瘡壞症</h4>
<p>身如黑團之氣，口不能言，食不能下，皆由氣虛而火不能發也。毒流於中，而不得泄，形如死者。</p>
<p>人參三錢，元參二兩，荊芥一兩，金銀花二兩，陳皮五分，水煎。</p>
<p>上藥灌之，下喉而眼開，少頃身動，久之而神氣回，口能言，食能下矣。不必再服他藥，痘瘡自回，而生全。至奇之方也。</p>

<h3>奇藥門</h3>

<h4>立泯傷腫</h4>
<p>治撲打有傷，或青腫紫硬，此藥泯之。</p>
<p>熟麻油和酒飲之，以火燒熱地臥，覺即疼痛俱消。</p>

<h4>探生散</h4>
<p>治小兒急慢驚風，諸藥不治，以此定其死生。</p>
<p>雄黃、沒藥各一錢，乳香五分，麝香二分半。共為末，用少許吹入鼻中，有眼淚、鼻涕可治。</p>

<h4>接骨散</h4>
<p>凡跌損，骨節脫臼，接骨者，用此則能不知痛也。</p>
<p>茉莉根酒磨一寸，服則昏迷，一日乃醒。二寸二日，三寸三日，亦奇方也。</p>

<h4>睡聖散</h4>
<p>人難忍艾火灸痛，此即昏睡不知痛，亦不傷人。</p>
<p>山茄花（即風茄花，七月收）、火麻花（即黃麻，今圃地所植者，七月收），收此二花，必須端莊閉口，齊手足採之。若二人去，或笑或言語，後亦言笑如之。採後，共為細末，每服三錢，小兒一錢，茶酒任下。（敏按：二花性太烈，三錢之分量雖得，然斷不可服，宜量人增減）一服後，煎湯含漱半日，漱完再用龍齒末三分，人參末一錢，麥冬末一錢，血竭三分，冰片二分，土狗一個，地蝨十個，各火焙為末，放地上一刻，出火氣，將末藥乘人參漱口完時，即以此末自己用舌蘸之，使令遍，不可將舌即縮入口中，放在外半刻，至不能忍，然後縮入可也。三次則伸長矣。</p>

<h4>瀉毒神丹</h4>
<p>瀉砒毒。</p>
<p>大黃二兩，生甘草五錢，白礬一兩，當歸三兩。</p>
<p>水煎數碗飲之，立時大瀉，則生；否則毒入於臟，無可救矣。</p>

<h4>逐火丹</h4>
<p>治湯火傷。</p>
<p>大黃五錢，當歸四兩，荊芥三錢（炒黑），生甘草五錢，黃芩三錢，防風三錢，黃耆三兩，茯苓三兩。</p>
<p>水煎服，一劑痛減半，二劑全減，三劑瘡口全愈。</p>

<h4>斬鬼丹</h4>
<p>治鬼胎如抱一甕。</p>
<p>吳茱萸、川烏、秦艽、柴胡、白殭蠶。</p>
<p>為末，煉蜜丸桐子大，每服七丸，酒下。取去惡物即愈。</p>

<h4>長髮方</h4>
<p>羊屎不拘多少，納鯽魚腹中，用瓦缶固濟，灰和香油塗發，數日發漸長而黑矣。</p>

<h4>拔毒異法</h4>
<p>鐵屑研細，以好醋調之，煎二、三沸，撈取鐵屑鋪患處，將上好磁石一大塊，頻頻吸之，則其毒自出也。</p>

<h4>治諸毒不收口</h4>
<p>生鉛三分敲成薄片，剪成香茶樣。分三服，每日用鉛一分，拌核桃肉嚼，好酒送下，三日服完收口，大便內出毒物而愈。</p>

<h2>卷二</h2>

<h3>針法門</h3>

<h4>猢猻癆</h4>
<p>小兒有此症，求食不止，終夜不睡，用針刺兩手面中三指中節能曲處。周歲者用中號針，六七歲用大號針，刺進半分許，遇骨微位即拔出，不可誤針筋上。若疳甚無水，刺數日方有白水；不甚者，即有白漿。刺數日，隨有血，一指有血，一指不刺；二指有血，停止二指不刺；若六指俱有血，病痊，不復刺矣。凡刺，須隔一日，俟天晴，雨則無益。刺後即得睡，減貪饞，忌棗、慄干甜果物，食則復發。如初刺有血，非此症矣。</p>

<h4>挑悶疹子</h4>
<p>分開頂門內，有紅筋、紅瘰，挑破即止。</p>

<h4>喉痹</h4>
<p>覓紅上紅疙瘩，用針挑破即愈。</p>

<h4>百發神針</h4>
<p>治偏、正頭風，漏肩、鶴膝、寒濕氣、半身不遂、手足癱瘓、痞塊、腰痛、小腸疝氣、癰疽發背、對口發、痰核初起不破爛，俱可用針。按穴針之，真神妙百中。</p>
<p>乳香、沒藥、生川附子、血竭、川烏、草烏、檀香末、降香末、大貝母、麝香各三錢，母丁香四十九粒，淨蘄艾綿一兩或二兩，作針。</p>

<h4>消癖神火針</h4>
<p>蜈蚣一條，木鱉、五靈脂、雄黃、乳香、沒藥、阿魏、三稜、蓬朮、甘草、皮硝各一錢，鬧楊花、硫黃、山甲、牙皂各二錢，麝香三錢，甘遂五分，艾絨二兩，作針。</p>

<h4>陰症散毒針</h4>
<p>乳香、沒藥、羌活、獨活、川烏、草烏、白芷、細辛、牙皂、硫黃、山甲、大貝、靈脂、肉桂、雄黃各一錢，蟾酥、麝香三分，艾絨一兩，作針。</p>

<h3>灸法門</h3>

<h4>醫小兒</h4>
<p>小兒目視不轉睛，指甲黑，作鴉聲，是死形無可治，惟用此法灸，十灸十生。將左右兩手彎處，各灸一穴；左右兩腳趾，將第二腳趾縫頭處亦必各灸一灸，將痰瀉出，即回生。奇妙不可言，醫小兒之神灸也。</p>

<h4>雞爪風</h4>
<p>婦人月家得此，不時發手足及指拘攣，拳縮如雞爪，頗疼痛。急於左右膝蓋骨下兩旁，各有小窩共四穴，俗謂鬼眼，各灸三壯立愈。</p>

<h4>乾霍亂死灸法</h4>
<p>心頭微熱者，以鹽填臍內，納艾灸，不計數，以醒為度。</p>

<h4>附子灸</h4>
<p>癰疽久漏，瘡口冷，膿水不絕，內無惡肉。以大附子水浸透，切大片，厚三分，安瘡口，艾隔灸。數日一灸，至五六七次，服內托藥，自然長滿。為末作餌用亦甚可。</p>

<h4>黃蠟灸</h4>
<p>治癰疽等毒。</p>
<p>白麵水和成塊，照毒根盤大小作圈，厚一指，高寸余黏肉上，外以絹帛加濕布圍住。將黃蠟掐薄片入面圈內，以熨斗火運逼蠟化，即痛則毒淺；若不覺，至蠟滾沸，逐漸添蠟，俟不可忍，沃冷水候凝。瘡勿痛者毒盛，灸未到也，不妨再灸。輕三次，重三、四次，忌房事、氣惱、發物。</p>

<h4>灸耳聾</h4>
<p>濕土瓜根削平寸，塞耳內，以艾灸七壯，每旬一壯乃愈。</p>

<h4>疝氣偏墜</h4>
<p>淨草一條，量患人口兩角為一則，折斷；如此三則，折成二角，如「厶」字樣。以一角安臍中心，兩角安臍下兩旁，尖盡處是穴。若患在左灸右，在右灸左，兩邊俱患兩邊皆灸。艾炷如麥粒大，灸十四壯或二十一壯即安。又灸兩足三陰交穴尤效。</p>

<h4>灸癰疽</h4>
<p>男左女右，以篾一根，前齊中指端，後至手腕橫紋凹中，截斷為準。卻以竹一根兩頭擱起，令病人騎之，兩足不著地，挺身正坐，將前篾植於竹上，以正頭植骨脊中盡處，各開一寸，名「騎竹馬法」，灸七壯。灸畢，宜用乳香、真綠豆粉為末，調服之，以防火氣入心。</p>

<h4>雞子灸</h4>
<p>凡毒初起紅腫無頭。</p>
<p>雞子煮熟，對劈去黃，用半個合毒上，以艾灸三壯即散。若紅腫根盤大，以鴨蛋如法灸亦可。</p>

<h4>桑木灸</h4>
<p>治癰疽發背不起發，或瘀肉不腐潰，及陰瘡、瘰癧、流注、臁瘡、頑瘡、惡瘡久不愈，俱用此灸之。未潰則拔毒止痛，已潰則補接陽氣，亦取其通關節，去風寒，火性暢達，出郁毒之意。</p>
<p>干桑木劈成細片，扎作小把，然火吹息患處，每吹片時，以瘀肉腐動為度；內服補托藥，誠良方也。</p>

<h4>碗灸</h4>
<p>治乳腫。</p>
<p>碗一個，用燈草四根，十排碗內，頭各露寸許。再用紙條一寸五分闊，用水濕了，蓋碗內燈草下，紙與碗口齊，將碗覆患處，留燈草頭在外，艾一大團放碗底，火灸之。艾盡再添，至碗內流水氣，內覺痛止方住。甚者次日再灸一次必消。</p>

<h4>麻葉灸</h4>
<p>七月七日採麻花，五月五日採麻葉，搗作炷，灸瘡上百壯；次燒胡桃、松脂研敷即愈。</p>

<h3>熏法門</h3>

<h4>鵝掌風</h4>
<p>真蘄艾四、五兩，將水三、四碗，煮五、六次，入大口瓶內盛之，用麻布雙層縛瓶口，將手心放瓶上熏之，如藥冷再熏，如神。</p>

<h4>蜈蚣咬</h4>
<p>杉木皮或枝燒煙燻，立刻止痛，比蜘蛛尤妙。</p>

<h4>牛皮癬</h4>
<p>水銀一錢五分，芸香一錢五分，大棗七枚。</p>
<p>同搗爛為四丸，每夜熏一丸，效。</p>

<h4>口眼歪斜</h4>
<p>巴豆三粒，麝香三分，共研，將熱水二鍾，藥藏鍾底，放手心。右斜放左手心，左斜放右手心。</p>

<h4>久病截瘧</h4>
<p>老薑兩斤搗爛，置於滾水一大桶內，坐布帳中，脫衣坐臥桶上，熏透即愈。第一禁風。</p>

<h4>痘不脫黶</h4>
<p>燒乳香薰之。</p>

<h4>蟲牙</h4>
<p>天仙子一撮，入小口瓶內燒煙，竹筒引煙入蟲孔內熏即死，永不發。又天仙子入瓶內，熱湯淋下，口含瓶口，令氣熏之，冷更作，盡三含乃止，有津涎可去，甚效。</p>

<h4>頭風插耳</h4>
<p>黃蠟三兩溶化，以白紙闊五寸，長二寸，在蠟上拖勻。其蘄艾揉軟薄攤蠟上，卷為筒，插耳內。一頭火點燃，煙氣透腦，其痛即止。左痛插右，右痛插左，至重不過二次。</p>

<h4>喉痹</h4>
<p>蓖麻子研爛，紙卷作筒，燒煙燻吸即通，或取油作捻尤妙，名「聖煙筒」。喉痹緊急，用此即破。</p>

<h4>喉症開關</h4>
<p>牙皂、巴豆各等分為末，米湯調刷紙上，曬乾，作捻子，點火以煙燻鼻，立能開口，鼻流涕。專治十八種喉閉。</p>

<h4>喉閉</h4>
<p>竹紙滲巴豆令滿，作紙捻點燈旋之，以煙燻喉間，即吐惡血而消。或刺入喉間出紫血亦愈。蓋咽喉病發於六腑者，引手可探，及刺破喉血即已；若發於五臟，則受毒牢深，手法、藥力難到，惟用紙捻為第一。</p>

<h4>小兒脫肛</h4>
<p>五倍子先以倍子、艾絨捲成筒，放便桶內，以瓦盛之，令病者坐桶上，以火點著，使煙燻入肛門，其肛自上。隨將白礬研末擦之，其肛自緊，再不復發。</p>

<h4>霍亂轉筋</h4>
<p>身冷心中下微溫者。</p>
<p>硃砂二兩研，蠟二兩和丸，著於火籠中熏之，周圍厚復，勿令煙泄，兼床下著火，令腹微暖，良久當汗出而醒。</p>

<h4>疥瘡</h4>
<p>熟蘄艾三兩，木鱉子三錢，雄黃二錢，硫磺一錢。</p>
<p>為末，揉入艾中，分作四條，每一條安陰陽瓦中，置被裹熏後，服通聖散。</p>

<h4>癱瘓頑風</h4>
<p>骨節疼痛，下元虛冷，諸風痔漏下血，一切風瘡。</p>
<p>川烏頭、草烏頭、兩頭尖各三錢，硫磺、麝香、丁香各一錢，木鱉子五個。</p>
<p>上為末，以熟蘄艾揉軟合一處，鈔底包裹熏病處，名「雷丸」。</p>

<h4>手足風痛</h4>
<p>冷痛如虎咬者。</p>
<p>樟木屑一斗，流水一石，煎極滾，泡之。乘熱安足於桶上熏之，以草韉圍住，勿冷湯氣入目，其功甚捷。</p>

<h4>拳毛倒睫</h4>
<p>無名異末，紙卷作捻，點燈吹殺熏之，睫自起。</p>

<h4>破傷風</h4>
<p>口噤身強。</p>
<p>肉蓯蓉切片曬乾，用一小盞，底上穿穴，燒煙燻患處累效。</p>

<h4>舌脹出血</h4>
<p>蓖麻取油蘸紙拈，燒煙燻之，即脹腫皆消。並治牛馬六畜舌脹。</p>

<h4>手汗</h4>
<p>黃耆一兩，葛根一兩，荊芥三錢。</p>
<p>水煎湯一盆，熱熏而溫洗，三次即無汗。</p>

<h4>咳嗽熏法</h4>
<p>熏黃一兩，以蠟紙條卷作筒十枚，燒煙吸菸，取吐止，一日一熏。惟食白粥，七日後，以羊肉羹補。</p>

<h4>熏嗽</h4>
<p>治風入肺久嗽者。</p>
<p>鵝管石、雄黃、鬱金、款花為末，和艾用姜一片，置舌上，以藥艾於姜上灸之，取煙入喉中愈。</p>

<h4>青布熏</h4>
<p>惡瘡防水，青布和醋燒煙筒中熏之，入水不爛。瘡傷風水，用青布燒煙於器中，以器口熏瘡，得惡汗出則痛癢瘥。臁瘡潰爛，陳艾五錢，雄黃二錢，青布作大炷，點火熏之，水流數次愈。</p>

<h4>支太醫桃葉熏</h4>
<p>水二石，煮桃葉，取七斗，安床簀下，厚被蓋臥床上，乘熱熏之。少時當雨汗，汗遍去湯，速粉之，並灸大椎穴。此法治天行病。</p>

<h3>貼法門</h3>

<h4>痢疾塞肚</h4>
<p>綠豆七粒，胡椒七粒，麝香一釐，膠棗一枚。</p>
<p>共搗爛，放瓶內，包好。患者取一丸，貼臍上。宜用端午日合。</p>

<h4>小兒赤眼</h4>
<p>黃連為末，水調敷腳心。</p>

<h4>小兒熏舌</h4>
<p>又名雀舌。</p>
<p>巴豆半粒，飯黏四、五粒，共搗為餅，如黃豆大，貼眉心中間。待四周起泡，去之即愈。</p>

<h4>收陰症傷寒</h4>
<p>雞子放臍眼內，一時一換，四、五換即愈矣。陰氣盡收於內。</p>

<h4>止自汗</h4>
<p>鬱金末，臥時調塗乳上。</p>

<h4>截驚法</h4>
<p>芭蕉油、薄荷汁煎勻。塗頭頂留囟門；塗四肢留手、足心勿塗，甚效。</p>

<h4>嬰兒瘧疾</h4>
<p>代赭石五枚煅紅，醋淬，硃砂五分，砒霜一豆大，同以紙包七重，打濕煨乾，入麝少許，為末，香油調一字，塗鼻上及眉心、四肢，神應。</p>

<h4>隔皮取膿</h4>
<p>治諸般腫毒。</p>
<p>驢蹄（細切）一兩炒，蕎麥麵一兩，白鹽五錢，草烏四錢（去皮）。</p>
<p>為末，調作餅子，慢火炙黃，出火毒研。米醋調成膏，用白紙攤貼患處，毒自毛竅而出，其腫自退。</p>

<h4>痞塊</h4>
<p>紅芥菜子不拘多少，生薑汁浸一宿。大約芥菜子一酒杯，加麝香一錢，阿魏三錢，搗爛如膏，攤布上貼患處，汗巾紮緊。一宵貼過，斷無不消。</p>

<h4>牙齒疼痛</h4>
<p>輕粉一錢，大蒜一瓣，杵餅，安膈骨前陷中。先以銅錢隔了，用蜆蓋定扎住，一宿愈。左疼安右，右疼安左。又左牙痛敷右大指腕上，右痛敷左。</p>

<h4>截瘧丹</h4>
<p>斑蟊、巴豆肉、硃砂各一錢，麝香二分，雄黃一錢半，蟾酥五分，黑棗三個。</p>
<p>搗丸如綠豆大，貼眉心穴，一周時揭下，投長流水中。</p>

<h4>貼臍截瘧</h4>
<p>胡椒、雄精等分研末，將飯研爛為丸，桐子大，硃砂為衣。將一丸放臍中，外膏藥貼之即止。</p>

<h4>難產仙方</h4>
<p>蓖麻仁取白仁七個，麝香三分，共一處搗如泥，用絹帛包之，勒在臍中，即時產下。如倒生者，用穩婆送進，片時即順下。</p>

<h4>如神丹</h4>
<p>治難產。</p>
<p>巴豆三粒（去殼），蓖麻七粒（去殼），麝香少許，研成一餅貼臍上即產，產下即去之。</p>

<h4>地黃膏</h4>
<p>治眼腫立效。</p>
<p>生地一兩，寒水石五錢，黃連一兩，為末，生地汁調餅，貼太陽上。</p>

<h4>水瀉不止</h4>
<p>木鱉仁五個，丁香五個，麝香一分。</p>
<p>研末，米湯調作膏，納臍中貼之，外以膏藥護住。</p>

<h4>痢疾噤口</h4>
<p>治傷寒脾胃氣不和，汗前汗後，嘔逆腹脹，虛氣攻刺，心脅疼痛，及治咳嗽。（見羅適傷寒救俗方。）</p>
<p>厚朴（去粗皮，薑汁浸炒黃）　茴香（炒）　陳皮（浸，去穰，焙）　蒼朮（米泔浸一宿，炒）　枳殼（湯浸去穰，麩炒黃）　川芎（炒）　桔梗　杏仁（去皮尖，炒）　白芷（炒）　甘草（炙）　麻黃（去節）</p>
<p>上各等分為末，杏仁別研，一處和勻，每服二錢，蔥白三寸，姜二片，棗一枚，同煎，至七分，熱服。此藥調理傷寒汗後氣虛，甚有奇效，凡病人若手足指節逆冷，嘔惡，有陰毒傷寒之證，急並三五服，自然回陽，順氣，汗出，如服了覺身熱，汗久未行，卻並服金沸散表之。年老傷寒，不問陰陽二毒，並先服順氣散，三兩服後，方服金沸散，表汗。少壯者若是陽毒，並先表汗，後用此藥調氣，若被風雨逼濕，並宜服之。</p>

<h4>小兒口內流涎</h4>
<p>天南一個為末，醋調兩足心，過夜即安然，洗去。</p>

<h4>牙痛</h4>
<p>蘿蔔子十四粒研末，以人乳和之，左痛點右鼻，右痛點左鼻。</p>

<h3>蒸法門</h3>

<h4>癘風</h4>
<p>先將元參、苦參、沙參、荊芥、防風、厚朴、白芷、陳皮、蔓荊子、威靈仙、麻黃各一兩，桃枝、柳枝煎湯洗之。換一身新單青布衣。掘一地坑深尺許，方廣約可臥身者，用慄炭四、五十斤燒坑內極熱，潑滾醋數十碗，次去炭，鋪草韉於內。令病者臥於韉上，厚被蓋取汗，汗出一瞬起，別換衣進飲食。後用五爪藤煎湯，重洗數次自愈，服敗毒丸藥。</p>

<h4>骨蒸發熱</h4>
<p>雄黃一兩入小便一升，研如粉。乃取黃理石一枚，方圓一尺者，炭火燒之。三食頃，濃汁淋於石上，置韉氈於上，患人脫衣坐之，衣被圍住，勿令泄氣，三、五度瘥。</p>

<h4>腳氣腫痛</h4>
<p>樟腦二兩，烏頭三兩。</p>
<p>為末，醋和丸彈子大，每置於足心踏之，下以微火烘之，衣被圍蓋，汗出如涎為效。</p>

<h4>風濕痰病</h4>
<p>人坐密室中，左用滾水一盆，右用炭火一盆，前置一書桌，書一冊。先將無油新巴豆四十九粒，研如泥。紙壓去油，分作三餅。如病在左，令病人將右手仰置書上，安藥於掌心上，以碗安藥上，傾熱水碗內，水涼即換，良久汗出立效。病右安左。一云隨左右安之。</p>

<h4>千金神草方</h4>
<p>治風濕癱瘓，手足不仁，半身不遂，周身麻木或痠痛，口眼歪斜，並皆神效。</p>
<p>蓖麻子草，秋夏用葉，春冬用子，俱得。一、二十斤木甑內，置一大鍋上蒸熟，取起。先將綿布數尺，雙摺浸入蒸葉子湯內，取出，乘熱敷患處；卻將前葉子熱鋪布上一層，候溫再換熱葉子一層。如此蒸換，必以患者汗出為度。重者蒸五次，輕者蒸二次，其病自愈。內以疏通活血之劑服之。</p>

<h4>阮河南桃葉蒸</h4>
<p>治發汗汗不出，用此蒸之可救。</p>
<p>燒地令熱，去火，以水少灑之。布干桃葉於上，厚二、三寸，安席葉上臥，溫復得大汗，被中敷粉極燥便瘥。凡柏葉、麥麩、蠶砂皆可如此用之。</p>

<h4>蠶砂蒸</h4>
<p>治患風冷氣痹及癱瘓。蓋蠶屬火性，燥能勝風去濕。</p>
<p>醇酒三升拌原蠶砂五斗，甑蒸於暖室中，鋪油單上，令患者就患處一邊臥沙上，厚蓋取汗。若虛人須防大熱昏悶，令露頂面一次。不愈，間日再蒸，無不效。</p>

<h4>蒸腳氣</h4>
<p>服藥不效者。</p>
<p>於地上掘作盆子，深六、七寸，可容腳，用炭火燒赤，然後噴釅醋，遍地鋪淨蔥不去皮根。在小床坐定，用腳伸地盆內，蒸候汗出如膠拭去。忌房事，不兩次必愈，神效。</p>

<h4>荊葉蒸</h4>
<p>治腳風濕痛不止。</p>
<p>荊葉不限多少，置大甕中，其下著火溫之，病人置葉中，須臾當汗出。蒸時旋旋吃飯，稍倦即止，便以被蓋，避風。仍進蔥豉酒及豆酒亦可，以瘥為度。按此法止宜施之野人。李仲南《永類方》云：「治腳氣諸病，用荊莖置壇中，燒煙燻湧泉穴及痛處，使汗出即愈。」此法貴賤皆可用。</p>

<h3>洗法門</h3>

<h4>小兒咳嗽</h4>
<p>生薑四兩，煎濃湯沐浴即愈。</p>

<h4>洗頭明目</h4>
<p>鳳眼草，即椿樹上叢生莢也。燒炭淋水洗頭，經一年，眼如童子。加椿皮炭尤佳。</p>

<h4>洗青盲</h4>
<p>昔武勝軍宋仲孚患此二十年，用此法二年，目明如故。</p>
<p>青桑葉新研焙乾，逐月按日，就地燒存性。每以一合於瓷器內煎減二分，傾出澄清，溫熱洗目，至百度，屢試有驗。</p>

<h4>洗癩頭方</h4>
<p>蝸牛數十條洗之，二次必愈。水三碗，煎蝸牛三十條足矣。</p>

<h4>洗癰疽</h4>
<p>腫時用紫葛、天蕎麥、忍冬藤、金絲草各等分，煎湯洗；潰時白芷、甘草、羌活、黃芩、露蜂房、赤芍藥、當歸頭，先將豬前蹄一隻，煮汁去油花，取清汁煎藥，去渣溫洗，以絹拭之。</p>

<h4>洗凍瘃</h4>
<p>黃柏、皮硝各等分，研細末。已破者柏七硝三；未破者紅腫柏、硝各半；初起者硝七柏三。皆用冷水調擦，俟干，以熱水洗去，再擦，再幹再擦，如此三遍。一日停痛，三日全愈，此神方也。</p>

<h4>五枝浴</h4>
<p>治大風年深不愈，面毛脫，鼻梁崩損不愈，取效如神。</p>
<p>柳、桃、桑、槐、楮五般枝煎濃湯，大缸浸坐沒頸，一日，俟湯如油，出浴安矣。</p>

<h4>楊枝浴</h4>
<p>治痘瘡數日陷頂，漿滯不行，或風寒所阻。</p>
<p>水楊枝葉（無葉用枝）五斤，流水一大釜，煎湯溫浴之，如冷添湯。良久，照見累起有暈絲者，漿行也；如不滿，再浴。力弱者只洗頭面手足，如屢浴不起者，氣血敗矣，不可再浴。始出即癢塌者，皆不可浴。痘不行，乃氣血所滯澀，腠理固密，或風寒外阻而然。浴令暖氣透達，和暢鬱蒸，氣血通徹，每隨暖氣而發，行漿貫滿，功非淺也。若內服助氣血藥，藉此而升之，其效更速，風寒亦不得而阻之矣。</p>

<h3>熨法門</h3>

<h4>痞積</h4>
<p>艾綿四兩，捏如患大，川椒四兩，拌艾中，粗草紙包安痞積上，以湯壺熨，內有響聲即消。</p>

<h4>皮熨</h4>
<p>治氣痛之病，忽有一處如打撲之狀，不可忍，走注不定，靜時其處冷如霜雪，此皆暴寒傷之也。白酒煮楊柳白皮熨之，有赤點處，鑱去血妙。凡諸卒痛，熨之皆止。</p>

<h3>吸法門</h3>

<h4>還魂丹</h4>
<p>治急、慢驚風吹鼻。</p>
<p>二寸蜈蚣，一分麝香，四兩白芷、天麻，更加二錢黃花子，「死在陰司要返家」。共為末，吹鼻即蘇。</p>

<h4>青火金針</h4>
<p>治頭風。</p>
<p>火硝一兩，青黛、川芎、薄荷各一錢。</p>
<p>為末，口含冷水，用此吹鼻。</p>

<h4>頭風苦痛</h4>
<p>大蒜頭七個去皮，燒紅地，以蒜逐個於地上磨成膏子。卻以殭蠶一兩去頭足，安蒜上，碗復一夜，勿令透氣。只取蠶研末，搐入鼻內。口中含水更效。</p>

<h4>傷寒咳逆</h4>
<p>服藥無效。</p>
<p>雄黃三錢，酒一盞，煎七分，乘熱嗅其氣即止。</p>

<h4>水腫上氣</h4>
<p>熏黃一兩，款冬花二分，熟艾一分。以蠟紙鋪艾，灑二末於上，狄管成筒，燒煨，咽三十口則瘥。三日一劑，百日斷鹽醋。</p>

<h4>一切咳嗽</h4>
<p>不問久近，晝夜無時。</p>
<p>佛耳草1—2兩，款冬花3—4兩，熟地黃二兩。</p>
<p>焙研末，每用二錢，於爐中燒之，以筒吸菸，嚥下有涎吐出，兩服愈。</p>

<h4>冬月喉痹</h4>
<p>腫痛不可下藥者。</p>
<p>蛇床子燒煙於瓶中，口含瓶嘴吸菸，其痰自出。</p>

<h4>單蛾</h4>
<p>薑黃一片，紅棗（去核）二枚，巴豆三粒，同搗如泥。用口津調和，分作二丸，用絹包好線扎。男左女右，一握手，一塞鼻，蓋被出汗即愈。此藥治三人。如干，用吐津拌勻，包紮，如法治之。</p>

<h4>碧雲散</h4>
<p>治目赤腫脹，羞明昏暗，隱澀疼痛，眵淚風癢，鼻塞頭痛，外翳扳睛諸症。</p>
<p>鵝不食草（曬乾）二錢，青黛、川芎各一錢。</p>
<p>為細末，含水一口，每以米許搐入鼻中，淚出為度。</p>

<h4>拳毛倒睫</h4>
<p>因風入脾經，致使風癢，不住手擦目，久則赤爛，拳毛入內。木鱉仁捶爛，以絲包作條，左患塞右鼻，右患塞左鼻，其毛自分上下，再服蟬蛻藥自愈。</p>

<h4>石楠葉散</h4>
<p>小兒誤跌或打著頭腦受驚，肝系受風，致瞳人不正，觀東見西，觀西見東。</p>
<p>石楠一兩，藜蘆三分，瓜丁五、七個。</p>
<p>為末，每吹少許入鼻，一日三度，內服平肝藥或加牛黃。</p>

<h3>雜法門</h3>

<h4>痔瘡坐袋</h4>
<p>乳香、沒藥、龍骨、赤石脂、海螵蛸、輕粉、木鱉各三錢。</p>
<p>共為末，以絹盛之，每日坐，不必洗。坐二十一日，無不愈。</p>

<h4>濕瘡踏袋</h4>
<p>川椒一斤，盛粗布袋中，放火踏上，下用火烘，跣足踏其上。蓋椒性熱而散，加以火氣上逼，寒濕自去而愈，甚妙。</p>

<h4>黃疸取黃</h4>
<p>扛連紙一張，裁為四條，筆管卷如炮竹，或口上糊黏固。外用黃蠟一兩，鐵杓將紙筒四圍澆勻，不可使蠟入內。患人仰臥，筒套臍上，外以面作圈，護定勿倒。頭上點火，燒至面所，剪斷，另換新筒。看臍中有黃水如雞子餅者取出。輕者四、五根，重者六、七根，取盡黃為度。</p>

<h4>香櫞包法</h4>
<p>治頭風。</p>
<p>香櫞不拘新舊一枚，切開；鴨蛋一枚，煮熟切兩半，開入香櫞內。每邊包在太陽上，得熱即愈。</p>

<h4>耳鳴塞耳</h4>
<p>烏頭燒灰，石菖蒲等分，為末，綿裹塞之，日再塞為效。</p>

<h4>產婦衄血</h4>
<p>口鼻起黑氣，名胃肺敗。</p>
<p>紅絲線一條，本婦頂心發二根，紮緊中指節，效。</p>

<h4>衄血</h4>
<p>左鼻孔出血者，以色絲扎右手中指根；右孔出血，扎左手中指根；俱出者，扎二指根。</p>

<h4>消毒燈照</h4>
<p>一切癰疽發背、無名腫毒及對口諸瘡，已潰未潰，無不神效。</p>
<p>一、二十年舊船底上石灰，生青桐油調，將光青布照瘡大小攤貼。又用青布作捻，蘸桐油點火，在瘡上打摔，覺癢受打，不論條數。灰干換貼，再打，知痛為度。紅退毒消神效。</p>

<h4>掌中取積</h4>
<p>甘遂、巴豆、乾薑、韭子、檳榔各等分。</p>
<p>為細末，收米飯為丸，如彈子大。用時，早晨花椒湯淨手，將香油塗掌中，次將藥擦，一時便瀉。欲止，以冷水淨手即止。大小腹中有積皆治。</p>

<h4>縮贅瘤</h4>
<p>甘草煎膏，筆妝之四圍，上三次。乃用芫花、大戟、甘遂等分為末，醋調，別以筆妝其中，勿近甘草。次日縮小，又以甘草膏妝小暈三次如前，仍上此藥，自然焦縮。</p>

<h4>敖醫官釣骨法</h4>
<p>鹽麩子根搗爛，入鹽少許，綿裹，以線系定，吞之，牽引上下，便釣出也。</p>

<h4>提金散</h4>
<p>大便閉塞，服藥不通者。</p>
<p>滄鹽三錢，屋檐爛草節七個，為末，每用一錢，竹筒汲入肛內一寸即通。</p>

<h4>臌脹取水</h4>
<p>真輕粉二兩，巴豆四兩，生硫磺一錢（加麝更妙），同研成餅。先以白帛一片鋪臍上，以藥餅放外上，用綿綁住，約人行五、六里，自能瀉下黃水。待至二五度，除去藥，溫粥補之。久患隔日取，日一餅，可治二、三十人。病愈後，忌飲涼水。</p>

<h4>劫腫法</h4>
<p>治水腫及腫核、腫毒。</p>
<p>凡水腫脹藥未全消者，甘遂末塗腹，繞臍令滿，內服甘草水，其腫漸去。若腳氣上攻，結成腫核，及一切腫毒，用甘草、甘遂末水調敷腫處，即濃煎甘草汁服，其腫即散。</p>

<h4>頭痛</h4>
<p>生蘿蔔取自然汁，入生龍腦調勻，昂頭使人滴鼻孔。左痛灌右，右痛灌左，俱痛並灌之，其效如神。</p>

<h4>又法</h4>
<p>蓖麻子一粒搗碎，同棗肉、蔥須共搗勻，丸如黃豆大，外用絲綿裹之，納鼻孔。少頃，必有清涕流出，即將丸藥取出，其痛即愈，永不再發。</p>

<h4>引火法</h4>
<p>人病厥逆之症，不敢用藥，以此治之。</p>
<p>吳茱萸一兩為末，以面半兩，水調成糊，以布攤成膏，貼湧泉穴內，則手足不逆矣。</p>

<h4>又法</h4>
<p>附子一個為末，米醋調成膏，貼湧泉穴上，然後用六味湯大劑與之，火不再發。</p>

<h4>溫劑種子</h4>
<p>五靈脂、白芷、青鹽各二錢，麝香一分。</p>
<p>為末，以蕎麥湯和搓成條，圈於臍上，以藥入其中，用艾灸之。但臍內微溫即愈，不過二、三度。</p>

<h2>卷三</h2>

<h3>偽品門</h3>

<h4>假乳香</h4>
<p>擇有癭松樹，鋸開癭，就上鑿一孔。以糯米一升做飯，鹽一斤拌勻，再杵成糍，入孔中。卻以原鋸鋸下癭封之，鹽泥固濟，百有二十日足，取出，即成乳香矣。</p>

<h4>假象皮膏</h4>
<p>治撲打及金刃傷，血出不止者，用之，並收口如神。</p>
<p>蠶豆炒去殼，取豆搗細和勻，蠟熔為膏，攤貼如神。</p>

<h3>法制門</h3>

<h4>法制青皮</h4>
<p>醒酒益胃消食如神。</p>
<p>青桔皮一斤（浸去苦味，瓤揀淨），白鹽花五兩，炙甘草六兩，茴香四兩。</p>
<p>以甜水一斗煮之，不住攪，勿令著底。候水盡，慢火焙乾，勿令焦。去甘、茴，只取青皮密收用。</p>

<h4>烏龍膽</h4>
<p>治一切喉症、喉蛾、喉癰。</p>
<p>明礬末盛豬膽中，風乾研末，每吹一錢，取涎立效。</p>

<h4>白豆蔻</h4>
<p>白豆蔻一斤，檀香五錢。</p>
<p>為細末，甘草膏為衣，不拘時細嚼。內再加片腦一錢，亦為末共研。</p>

<h4>法制桔紅</h4>
<p>桔紅十二兩，檀香五錢，白豆蔻五錢，片腦一錢。</p>
<p>為細末，甘草為衣，不拘時細嚼。</p>

<h4>法制檳榔</h4>
<p>檳榔一斤，檀香五錢，白豆蔻五錢，木香三錢。</p>
<p>為細末，同甘草膏為衣，不拘時細嚼。</p>

<h4>法制芽茶</h4>
<p>清熱化痰，消食止渴。</p>
<p>芽茶一斤，檀香五錢，白豆蔻五錢，片腦一錢。</p>
<p>為細末，同甘草膏為衣，不拘時細嚼。</p>

<h4>香茶</h4>
<p>芽茶二兩，麝香一分，硼砂五分，兒茶末一兩，訶子肉二錢五分。</p>
<p>共研末，甘草湯為丸為片任意，並治痰火症及口臭、口乾、生瘡皆驗。</p>

<h4>又方</h4>
<p>孩兒茶、木樨花各一兩（曬乾焙研），薄荷葉（曬研）一兩，硼砂（去腳）五錢。</p>
<p>為末，用甘草膏和藥，作小片含咽。</p>

<h4>法制枳實</h4>
<p>治消脹滿逆氣，除胸脅痰癖。</p>
<p>枳實一斤，檀香五錢，片腦一錢。</p>
<p>為末，同甘草膏為衣，隨時細嚼。</p>

<h4>法制人參</h4>
<p>補益元氣，輕身延年。</p>
<p>人參、檀香、白豆蔻、片腦。</p>
<p>為末，甘草膏為衣，不拘時細嚼。</p>

<h4>法制桃仁</h4>
<p>闢瘴癘，山居尤宜服之。</p>
<p>桃仁一斤，吳茱萸、青鹽各四兩。</p>
<p>共炒熟，以新瓶密封，七日取出，揀去茱、鹽，將桃仁去皮尖，每嚼一、二十枚。</p>

<h3>藥品門</h3>

<h4>三奇曲</h4>
<p>白麵十斤，蒼耳草（自然汁）三升，野蓼（自然汁）四升，青蒿（自然汁）三升，杏仁四升（去皮尖），赤小豆三升（煮爛連汁研）。</p>
<p>三伏內，上寅日，將藥汁拌麵如造麴法，曬乾收用。甲寅、戊寅、庚寅乃三奇日也。此日修合，故名三奇神麯，大有神效。</p>

<h4>靈砂</h4>
<p>用新鍋安逍遙爐火，蜜揩鍋底，文武火下燒。入硫黃二兩溶化，投水銀半斤，以鐵匙急攪，作青砂頭，如有焰起，噴醋解之。待永不見星，取出細研，盛入水火鼎內，鹽泥固濟，下以自然火升之。乾水十二盞為度，取出如有針紋者成矣。</p>

<h4>紫雪</h4>
<p>療傷寒溫瘧一切積熱、狂易叫走、瘴疫毒癘卒死、腳氣、五屍五疰、心腹諸痰疴刺切痛。解諸熱邪毒熱發黃、蠱毒、鬼魅野熱毒及小兒驚癇。</p>
<p>黃金一錢，石膏、寒水石、磁石各三斤（搗碎）。</p>
<p>以水一斛，煮四斗，去渣；入犀角屑、羚羊角、青木香、沉香各五兩，甘草（炒）一兩，丁香一兩，入前汁中，煮取一斗五升，去渣；入煉樸一斤，硝石二斤，於藥汁中，微火煎之。柳木不住攪，至水氣欲盡，傾木盆中。待欲凝，入麝香一兩二錢五分，硃砂二兩，攪勻收之。每服一、二錢，潦水服，臨時加減，甚者一兩。</p>

<h4>紅雪</h4>
<p>治風熱，消宿食，解酒毒，開三焦，利五臟，除熱破積滯。治傷寒狂躁、胃爛發斑、濕瘴腳氣、黃疸頭痛目昏、口鼻瘡、喉痹、重舌、腸癰等症。</p>
<p>川朴硝十斤（去渣），羚羊角屑、黃芩、升麻各三兩，人參、赤芍、檳榔、枳殼（麩炒）、生甘草、淡竹葉、木香各二兩，木通、梔子、葛根、桑皮、大青、藍葉各一兩五錢，蘇枋木六兩。</p>
<p>並銼片，水二斗五升，煎九升，去渣濾過，煎沸；下硝，不住手攪，待水氣將盡，傾入器內；欲凝，下硃砂一兩，麝香五錢，經宿成雪。每服一、二錢，新汲水下；欲速行，則熱湯化服一兩。</p>

<h4>碧雪</h4>
<p>治一切積熱，天行時病，發狂昏憒；或咽喉腫塞，口舌生瘡，心煩，大小便不通，胃火諸病。</p>
<p>朴硝、芒硝、牙硝、硝石、石膏（水飛）、寒水石、水飛石各一斤。</p>
<p>以甘草一斤，煎水五升，諸藥同煎，不住手攪令消溶得所，入青黛一斤和勻，傾盆內，經宿結成雪。為末，每含咽或吹之，或水調服二、三錢；欲通利，熱水服一兩。</p>

<h4>硝石</h4>
<p>石脾、芒硝、朴硝各一斤。</p>
<p>為末，以苦參水二斗，銅鐺煎十沸，入三物，煮減半去渣，煎著器中，冷水漬一夜，即成硝石。可化諸石為水。</p>

<h4>礬石</h4>
<p>新桑合盤子一具，於密室掃淨，以燒地令熱，灑水於上，或灑苦酒於上，而布白礬於地上，以盤復之，四面以灰擁。一日夜，其石精皆飛於盤上，掃取收上。未盡者，更如前法，數遍乃止。可作飲食。</p>

<h4>飛黃</h4>
<p>治緩疽、惡瘡，蝕惡肉。</p>
<p>瓦盆一個，安雌黃於中，丹砂居南，磁石居北，曾青居東，白石英居西，礬居上，石膏次之，鍾乳居下，雄黃復之，雲母布於下，各二兩，為末。以一盆蓋之，羊毛泥固濟，作三隅灶，以陳葦燒一日，取其飛黃用之。</p>

<h4>土黃</h4>
<p>信石一兩，硇砂二錢，木鱉子肉、巴豆肉各五錢。</p>
<p>以信石、硇砂研末，以木鱉、巴豆搗成膏，入石腦油和作一塊，油紙數重包裹，埋於土坑內，四十九日取出，瓷器收貯待用。如無石腦油亦可。</p>

<h4>元霜</h4>
<p>治痰火神水。</p>
<p>黑鉛一斤，烊一薄餅，中穿一孔，以繩系之，將好米醋約寸許，甕口用皮紙、箬子紮緊，再以磚石壓之，勿泄氣，放屋下陰處，待數日取起，鉛餅上有白霜拭下，每鉛一斤，取霜二兩為止。治噎膈，每服五分，含口內，以白湯送下；治痰水咳嗽，每服三分，照前法服。</p>

<h4>取綠豆油</h4>
<p>治天疱瘡。</p>
<p>綠豆裝入粗瓦瓶內，以毛竹箸一把，塞緊瓶口。再用瓦盆一個，底下鑿一孔，將瓶倒插於盆孔內，用礱糠炭屑燒之。其油即在箸頭滴出，以碗收之。俟出火毒，用油抹點瘡上，二、三次愈。</p>

<h4>油胭脂</h4>
<p>治手足開裂。</p>
<p>生豬油去筋膜一兩，入鍋熬淨，再入黃佔五錢，白佔三錢，同化清；入銀硃、黃丹各五分，攪勻，以軟能攤開為妙。敷之愈。</p>

<h4>造海石</h4>
<p>苦栝蔞去皮，搗碎連汁，用煅過黃口蛤蜊粉拌勻，作餅曬乾入藥用。有等庸醫以海浮石作海石，誤矣。此藥最能去痰。</p>

<h4>取草汞</h4>
<p>細葉馬齒莧干之，十斤，得水銀八兩或十兩。先以槐木棰之，向東作架曬之，二、三日即干。如經年久，燒存性，盛瓦甕內，封口埋土坑中四十九日，取出自成矣。</p>

<h4>鼻菸</h4>
<p>香白芷二分，細辛八分，豬牙皂角各二分（以上焙乾研）。薄荷二分（研），冰片三釐，干菸絲一錢（為君。干菸絲必須配福建煙六、七分許）。</p>
<p>各為末，酌量配合，不拘分量，色如棕者佳。</p>

<h4>雞子雄黃</h4>
<p>雄黃一斤研細，取新生雞子黃白和之，置銅銚中，以蓋復之，封固勿令出氣。微火蓋上，容得手，不用太熱，三日夜，勿令火絕。寒乃起之，掠去上渣，清者在下，當湧湧如水銀。寒則堅，得人氣復軟。煉一片得十兩，盛以竹筒，勿使見風。服丸如麻子大，使人肌膚潤澤，冬則能溫，夏則能涼，闢除寒氣。</p>

<h4>水銀霜</h4>
<p>水銀十兩，雄黃十兩，各以一鐺熬之，銀熟黃消，急傾為一鐺，少緩即不相入；仍急攪之。良久，硫成灰，銀不見，乃下伏龍肝末十兩，鹽末一兩攪之。別以鹽末鋪鐺底一分，入藥在內；又以鹽末蓋面一分，以瓦盆復之。鹽土和泥塗縫，炭火煅一伏時，先文後武，開盆拭下。凡一轉後舊土為四分，以一分和霜入鹽末二兩如前法飛之，又以土一分，鹽末二兩和飛如前。凡四轉，土盡，更用新土，如此七轉，乃成霜用之。按水銀霜即粉霜，本以汞粉轉升而成，故名。此方崔氏法，後人罕知者。</p>

<h4>石菖蒲酒</h4>
<p>治三十六種瘋悉效。</p>
<p>菖蒲三斤薄切，日內曬乾，以絹囊盛之。好酒一罈，懸囊在內，封閉一百日，取視之，如綠菜色，以一升熟黍米納中，十四日開出飲酒。</p>

<h4>代茶湯</h4>
<p>夏月服之代茶，健脾止渴。</p>
<p>白朮一錢五分，麥冬（去心）一錢，煎作湯服。</p>

<h3>食品門</h3>

<h4>香橙湯</h4>
<p>寬中快氣消酒。</p>
<p>橙皮二斤（切片），生薑五兩（切焙爛），入炙甘草末一兩，檀香末半兩，和勻作小餅；沸湯入鹽送下。</p>

<h4>栝蔞粉</h4>
<p>治消渴飲水。</p>
<p>大栝蔞根去皮寸切，水浸五日，逐日易水，取出搗研濾過澄粉，曬乾。每服方寸匕，水化下，日三服，亦可入粥及乳酪中食之。</p>

<h4>瓊玉膏</h4>
<p>常服開心益智，發白返黑，齒落更生，辟穀延年。治癰疽癆瘵、咳嗽吐血等症。</p>
<p>生地黃十六斤（取汁），人參末一斤半，白茯苓末三斤，白沙蜜十斤。</p>
<p>濾淨拌勻，入瓶內，箬封，安砂鍋中，桑柴火煮三日夜；再換蠟紙重封，浸井底一夜，取起再煮一伏時，每以白湯或酒點服一匙。</p>

<h4>糟川芎</h4>
<p>大川芎一個，入舊糟內，藏一月，取焙，入細辛同研末，擦牙。</p>

<h4>止瘧果</h4>
<p>大荸薺將好燒酒自春浸至秋間，如瘧至不貪飲食，食則脹滿不下者，每日荸薺兩個，三日愈。</p>

<h4>金棗仙方</h4>
<p>治水蠱腫脹。</p>
<p>紅牙大戟一斤，紅棗三斤，水煮一日夜，去戟用棗，曬乾食之立消。</p>

<h4>藥梅</h4>
<p>治痢疾。</p>
<p>木香、木通、黃芩、紫蘇、砂仁、薄荷各一斤，青梅十斤，火酒十斤。</p>
<p>端午日入瓶內，封固，一月可用，只吃兩個即愈。</p>

<h4>川芎茶</h4>
<p>治大人小兒感冒風寒，頭痛鼻塞，遍身拘急，惡寒發熱等症。</p>
<p>鮮川芎（梗葉切碎，如無，乾者亦可）、生薑（切絲）、陳皮（切絲）、鮮紫蘇（梗葉切碎）各等分，細茶（與藥相對）。</p>
<p>五月五日午時拌勻，用盒蓋過宿，使氣透，次日取出焙乾，磁瓶收貯。用時以湯泡之，一鍾乘熱熏鼻，吸其氣，復乘熱飲之，汗出即愈。</p>

<h4>蓮花肚</h4>
<p>治脾寒而痛，痛在心之下左右也。</p>
<p>肚子一個，蓮肉一兩，紅棗一兩，肉桂一錢，小茴香三錢，白糯米一合。</p>
<p>未入藥之前，照常將豬肚子洗去穢氣，入藥煮爛，一氣頓食，蘸甜醬、醬油食之，如未飽，再用飯壓之而痛如失。肚子入藥之後，必須用麻線將口外紮緊，清水煮之。</p>

<h4>香鰻</h4>
<p>治癆蟲。</p>
<p>肥鰻二斤，白薇一兩，小茴香三錢，甘草一錢，苡仁五錢，榧子十個（去殼）。</p>
<p>同入砂鍋內，用水煮爛，加五味和之。乘肥飽食一頓，以食盡為度，半日不可用茶，凡有癆蟲盡皆死矣。</p>

<h4>藥肺</h4>
<p>治患疾病久不愈者。</p>
<p>豬肺一個，蘿蔔子五錢（研碎），白芥子一兩（研碎）。</p>
<p>五味調和，飯鍋蒸熟，飯後頓食之，一個即愈。</p>

<h4>長壽粉</h4>
<p>治癆瘵症。</p>
<p>芡實八兩，苡仁八兩，山藥三斤，糯米一斤，人參三兩，茯苓三兩，蓮子半斤，白糖。</p>
<p>各為末，每日調服一兩，如不欲調服，以水打成丸如元宵服，上下午服更妙。</p>

<h4>九仙王道糕</h4>
<p>養神扶元，健脾胃，進飲食，補虛損，生肌肉，除濕熱。</p>
<p>蓮肉四兩，麥芽（炒）、白扁豆（炒）、芡實各二錢，山藥（炒）、白茯苓、苡仁各四兩，</p>
<p>柿霜一兩，白糖二十兩。</p>
<p>為末，入粳米粉五升蒸糕，曬乾，任意食，米飲下。</p>

<h3>雜品門</h3>

<h4>紫金錠</h4>
<p>治小兒一切危症，各照引磨服。</p>
<p>辰砂、膽星各五錢，蟬殼、甘草各三錢，麝香一錢，蛇含石四兩（一方加殭蠶、白附子各四錢，白茯苓、白朮各四錢；一方加白蠶三錢，白附子五錢，減去甘草一錢）。為細末，飯搗丸，每錠重五分。</p>

<h4>十香丸</h4>
<p>乳香、沒藥、花椒、硫黃各一錢，水銀三錢（用唾研如泥），麝香三分，蛇床子（炒）五錢，大楓子（去殼）二兩。</p>
<p>共研碎，舊臼油燭或油胡桃作丸，擦疥瘡神效。</p>

<h4>神妙痧藥</h4>
<p>北細辛三兩，荊芥六錢，降香末三錢，鬱金一錢。</p>
<p>共為末，每用一茶匙放舌，冷茶送下，或津嚥下。</p>

<h4>又方</h4>
<p>白胡椒一兩，牙皂一錢，火硝、檀香末、明礬、丁香、蟾酥各三錢，北細辛二錢，冰片、麝香各五分，金箔量加。</p>

<h4>蟾酥丸</h4>
<p>雄磺三錢，麝香三分，木香一錢（俱不可見火）。加蒼朮三錢，蟾酥為丸，如小米大，硃砂為衣；如難丸，少加米飲。每用二、三丸放舌尖上化下。加入西牛黃、金箔，端午午時合尤妙。</p>

<h4>又方</h4>
<p>沉香（銼細）、母丁香、硃砂（水飛）、雄磺各五錢，麝香三錢，廣木香一兩，蒼朮（茅山者，米泔浸去毛）淨末二兩，蟾酥三錢。</p>
<p>藥俱忌見火，為細末，將火酒化蟾酥為丸；不就，加米飲，丸如米大，每服二、三丸，放舌尖上化下。</p>

<h4>望梅丸</h4>
<p>能生津止渴，旅行帶之，每含一丸，可代茶。</p>
<p>鹽梅四兩，麥冬（去心）、薄荷（去梗）、柿霜、細茶各一兩，蘇葉（去梗）五錢。</p>
<p>為細末，白霜糖四兩，共搗為丸，如雞豆大。加參一兩更妙。</p>

<h4>龍腦雞酥丸</h4>
<p>消渴，涼上膈，除邪熱，止咳嗽、吐血、鼻血、胃熱、口舌痛；肺虛氣損失聲並治之。</p>
<p>銀柴胡、阿膠（炒成珠）、蒲黃（炒）、人參、木通各二兩，生地六兩，麥冬四兩，炙甘草一兩半，黃耆一兩，薄荷葉一斤。</p>
<p>為末，蜜丸芡子大。每服一丸，食後噙化。</p>

<h4>參杏丸</h4>
<p>止咳嗽，化痰。</p>
<p>人參、款冬花、訶子、貝母、五味子、桑白皮、紫菀、杏仁、阿膠、茯苓、甘草各五錢。</p>
<p>為末，煉蜜為丸如芡實大，每服一丸，不拘時含化。</p>

<h4>上清丸</h4>
<p>利咽膈，清上焦熱、口生瘡。</p>
<p>薄荷、防風、桔梗各二兩，川芎、砂仁、甘草各一兩，片腦一錢。</p>
<p>為末，蜜丸芡子大，每服一丸，含化。</p>

<h4>玉泉丸</h4>
<p>鹽霜梅肉一兩，乾葛、桔梗、薄荷各二兩，訶子、烏迭泥、元參各五錢，天花粉三錢。</p>
<p>為細末，蜜丸黃豆大。每服一丸，不拘時含化。</p>

<h4>太倉丸</h4>
<p>治脾胃飢飽，不時生病，及諸般積聚，百物所傷。</p>
<p>陳倉米四兩，巴豆二十一粒（去皮），同炒至米香，至豆黑，勿令米焦，去豆。入桔皮（去白）四兩為末，糊丸梧子大，每薑湯服五丸，日二服。</p>

<h2>卷四</h2>

<h3>取蟲門</h3>

<h4>取牙蟲</h4>
<p>韭子一撮，將碗底盛之，覆水中，用火燒煙。外用小竹梗，將下截劈開，以紙如嗽叭樣，引煙燻蛀齒。如下牙蛀者，煎韭子濃汁漱之，蟲自出。</p>

<h4>牙蟲作痛</h4>
<p>魚腥草、花椒、菜子油各等分，搗勻，入泥少許，丸如豆大。隨左右塞耳內，兩邊輪換，不可一齊用，閉耳氣。塞一日夜，取看，有細蟲為效。</p>

<h4>寸白蛔蟲</h4>
<p>酢石榴東引根一握，洗銼，用水三升，煎去半碗，五更溫服盡。至明，取一大團，永遠絕根，食粥補之。榴皮煎粥食之亦良。</p>

<h4>下蛔蟲</h4>
<p>心痛如刺，口吐清水，乃蛔蟲也。白艾一升，水三升，煮一升服，吐蟲出。或取生艾搗汁，五更食香脯一片，乃飲一升，當下蟲出。</p>

<h4>腹中蟲痛</h4>
<p>大麻子仁三升，東行茱萸根八升，漬水，平日服二升，至夜蟲下。</p>

<h4>又方</h4>
<p>腹中有白蟲，以馬齒莧水煮一碗，和鹽、醋食之，須空腹下，少頃，白蟲自出也。</p>

<h4>取疽瘡蟲</h4>
<p>生麻油渣貼，綿裹，當有蟲出。</p>

<h4>消渴有蟲</h4>
<p>苦楝根白皮一握（切焙），入麝香少許，水二碗，煎一碗，空心飲之，下蟲如蛔而紅色，其渴自止，雖困頓不妨。消渴有蟲，人所不妨。</p>

<h4>取疳眼蟲</h4>
<p>爛眼疳有蟲，用覆盆子葉咀嚼，留汁入筒中，以皂紗矇眼，滴汁漬下弦，轉瞬間蟲從紗出。數日下弦干後，如法滴上弦，又復得蟲數十而愈。或用覆盆子嫩葉搗汁點目眥三、四次，有蟲隨眵淚出成塊也。無鮮葉以乾者煎濃亦可。</p>

<h4>三十六黃</h4>
<p>雞子一枚連殼燒灰（研），酢一合，和之溫服，鼻中蟲出為效，極黃者不過三枚，神效。</p>

<h4>臁瘡生蟲</h4>
<p>小蝦三十尾，去頭足殼，糯米飯研爛，隔紗貼瘡上，別以紗罩之。一夜解下掛看，是小赤蟲，即以蔥椒湯洗淨，用舊籠內白竹葉隨大小剪貼，一日二換。待汁出盡，逐日煎苦楝根湯洗之，以好膏貼之，將生肉勿換膏藥。</p>

<h4>腸痔出血</h4>
<p>桃葉一斛，杵納小口器中，坐蒸之，有蟲自出。</p>

<h4>大風癩蟲</h4>
<p>苦參末二兩，豬肚盛之，縫合煮熟，取出去藥。先餓一日，次早先飲清水一盞，將肚食之，如吐再食；待一、二時，以肉湯調無憂散五、七錢服，取出大小蟲一、二萬為效。後用不蛀皂角一斤去皮子，煮汁入苦參末，調糊下何首烏末四兩，防風末一兩半，當歸末一兩，白芍藥末五錢，人參末三錢，丸梧子大。每服三、五十丸，溫酒或茶下，日三服。仍用麻黃、苦參、荊芥煎洗之。</p>

<h4>癘風有蟲</h4>
<p>眉落聲變，用預知子、雄黃各二兩為末。以乳香三兩，同水一斗，銀鍋煎至五升，入二末熬膏，瓶盛之。每服一匙，溫水調服，有蟲如尾隨大便而出。</p>

<h4>大風癘蟲</h4>
<p>黃柏末、皂角刺灰各三錢研勻，空心酒服，取下蟲物，亦不損人，食白粥三兩日，服補氣藥數劑。如四肢腫，用針刺出水再服。忌一切魚肉發風之物。取下蟲大小長短，其色不一，約一、二升，其病自愈。</p>
