<header data-type="book">
<h1>歐蠱燃犀錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>燃犀道人</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1893">公元1893年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>周官庶氏掌除毒蠱聖人所以重民命也其法一失於列國再煙於秦漢華佗治疾類多蠱證又故秘其術不輕授人而造蠱者遂盛行於世如漢李之張角明之唐賽見徐鴻儒其尤著者也顧或謂張角諸人乃以妖術惑眾奚知其為蠱耶不知妖術惑眾毒蠱亦能惑眾也泛言之則為妖術切言之則為毒蠱也毒蠱隱形似鬼神變亂人之元氣炊術能外是乎是妖術即毒蠱也知妖術即毒蠱而治法可施矣知治蠱之法即降妖之法而法愈無窮矣蓋毒蠱以害人為喜以盜財為能金蠶藥思天生之毒蠱也而妖人所造之蠱其種類尤繁後世人心愈漓為術愈巧始猶盛於南徼近則延及中葤考之古今方書俱有附載而人多習焉不察光緒丁丑有妖人翦楮為兵截人襟袖及發或以五色印人肌肉南北暄傳咸以為異余謂此乃中毒耳遇病者投以試蠱之法輒驗遂按周官庶氏所掌施之無不立效而人猶未之深信他迨施治日久痊者漸多遠邇之求方者益眾余恐力不暇給爰次其治法著於篇顏之以歐蠱燃犀錄子夏曰雖小道必有可觀此其小道之可觀者耶余雖為之而弗泥或不見異於群子即以是傳諸世人質諸博雅亦庶幾不謂無稽之言而諒余濟世之苦心也夫</p>
<p><u>光緒十九年仲秋之月燃犀道人書</u></p>

<h1>原蠱</h1>
<p>☶☴巽下艮上</p>
<p>蠱元亨利涉大川先甲三日後甲三日</p>
<p>王弼注蠱者有事而待能之時也叮以有為其在此時矣</p>
<p>孔穎達正義蠱者有為之時拔拯危難有事待能之時也物既蠱壞須有事營為所作之事非賢能不可</p>
<p>朱子本義蠱壞極而有事蠱壞之極亂當復治</p>
<p>御纂周易述義卦自泰變干變異而弱坤變艮而止不能事事故泰壞而成蠱今欲治之必反其道巽復干艮綜震故元亨用干也健以起其弱也利涉大川用震也動以振其止也先甲後甲兼用干震也甲干也干納甲也先甲三日先干三卦也先干三卦為震後干三卦為艮艮陽終則震陽始干行不息也任天下之事者用其震動以符花行盡變巽止之習則無蠱矣</p>
<p>敬按此論蠱卦之義與治蠱之道極為精確用其震動以符干行良相以之治國良醫以之治病其理同也</p>
<p>山下有風蠱君子以振民育德</p>
<p>朱子本義山下有風物壞而有事矣而事莫大於二者乃治已治人之道也御纂周易述義風之在天上與地上水上者皆行而無阻山下有風則為山所阻旋轉而不暢蠱者風之族也故風字從蟲風鬱則山木滯淫而蠱生蠱之象也飭蠱之君子以之振起其氏養育其德民不振則風俗□寙而有蠱振民者取風在下而振動山木之象德不育則人心惑亂而有蠱育德者取山在上而涵育風氣之象夫蠱之時百度未舉而獨先民德聖人施為氣象亦可見矣蘇氏易傳云器久不用而蟲生之謂之蠱人久宴溺而疾生之謂之蠱天下久安無為而弊生之謂之蠱卦曰蠱者事也夫蠱非事也以天下為無事而不事事則後將不勝事矣此蠱之所以為事也而味者乃以事為蠱則失之矣器欲常用體欲常勞下欲常事事故曰巽而止蠱蠱之災非一日之故也必世而後見故爻皆以父子言之明父養其疾至子而發也君子見蠱之漸則涉川以救之及其成則不事王侯以遠之蠱之成也良醫不治按此發明蠱卦之義尤為盡致然則因病服藥幹蠱之方也諱疾忌醫裕蠱之道也蠱成不治悔無及矣</p>
<p>周禮秋官庶氏下士一人徒四人</p>
<p>正義鄭氏康成曰庶讀如藥煮之煮驗險蠱毒之意劉氏彝曰毒蠱病人非</p>
<p>一種僅下士主之者蓋掌其方書治禁之法</p>
<p>御案害人之物莫酷於猛獸故首冥氏以攫噬莫之能避也蠱毒次之其發較遲而死傷則一也</p>
<p>庶氏掌除毒蠱以攻說襘之嘉草攻之</p>
<p>正義鄭氏康成曰毒蠱毒物害人者律曰敢蠱人及教令者棄市攻說祈名祈其神求去之也嘉草藥物攻之謂熏之鄭司農云襘除也賈氏公彥曰攻說襘之去其神嘉草攻之去其身鄭氏鍔曰左傅於文皿蟲為蠱谷之飛亦為蠱皆謂其腐壞也毒物能腐壞人之心腑故謂之蠱大祝六祈有攻說皆以辭責神也此曰攻曰說又曰襘非六祈之所謂襘當讀如潰癰之沮謂以辭責之使其毒潰散</p>
<p>凡歐蠱則令之比之</p>
<p>正義鄭氏康成曰使為之又校次之劉氏彝曰凡歐蠱者隨其方主之所宜各有能者人有病則令歐之巳乃比其尤劣</p>
<p>御案此官僅下士一人故人有能歐蠱者則令之而比次其術之高下禮記月令大儺旁磔</p>
<p>注磔攘也厲鬼為蠱將出害人旁磔於四方之門桂氏曰風動蠱生故磔狗止風以御蠱</p>
<p>左傳成公十一年晉侯夢大厲被髮及地搏膺而踴曰殺余孫不義余得請於帝矣壤大門及寢門而入公懼入於室又壤戶公覺召桑田巫巫言如夢公曰何如曰不食新矣公疾病求醫於秦秦伯使醫緩為之未至公夢疾為二豎子曰彼良醫也懼傷我焉逃之其一曰居育之上膏之下若我何醫至曰疾不可為也在育之上膏之下攻之不可達之不及藥不至焉不可為也</p>
<p>按晉侯夢見之鬼非必出於趙氏乃平素所為過當元氣既衰鬼蠱乘之託言趙氏所謂心虛生暗鬼也今世此證甚多十三鬼穴皆其所伏不獨膏盲也</p>
<p>左傳昭公元年晉侯有疾求醫於素秦伯使醫和視之曰疾不可為也是謂近女室疾如蠱</p>
<p>按晉侯乃晦淫惑疾非中蠱也故曰如蠱余常謂中蠱則惑矣而惑於讒言惑於女色則心昏志亂倒行逆施如中蠱然故凡暗中害人曰下蠱損人利巳曰投蠱攝取財物曰蠱盜挑唆起事曰蠱動皆此義也中蠱則惑惑字亦有兩義其引為同類結為死黨亦叮云惑初非害之迨至謀逆不成聚而殲旃則其被害更酷尚不如中蠱者之猶能施治也</p>
<p>史記封禪書秦德公作伏祠磔狗邑四門以御蠱災</p>
<p>按伏祠即取暑伏可以伏鬼之義</p>
<p>通鑑輯覽漢武帝徵和二年巫蠱事起</p>
<p>是時方士及諸神巫多聚京師率皆左道惑眾變幻如所不為帝嘗夢本人數千持杖欲擊帝帝驚寤因是體不平遂苦忽忽善忘</p>
<p>後漢書禮儀仲夏之月以朱索蓮葷菜彌牟樸蠱鍾以桃印以施門戶先臘一日大儺逐疫黃門唱侲子和曰窮奇騰根共食蠱追惡凶赫汝軀拉汝干節解汝肉袖汝肺腸汝不急去後者為糧</p>
<p>正字通郝敬曰彌牟御止塗抹之義搏雅樸大也摔也廣韻鍾當也按葷菜即大蒜能殺蠱令人猶沿用之</p>
<p>說文蠱腹中蟲也臬桀死之鬼亦為蠱</p>
<p>叚氏曰中蟲皆讀去聲蟲食物也亦作蚛腹中蟲者謂腹內中蟲食之毒也臬當作梟□之借字也桀者磔之古字也</p>
<p>後漢書華佗當行道見有病噎者因語之曰向來道隅有賣餅人□莖甚酸可取三升飲之病自當去即加佗言立吐一蛇乃懸於車而候佗小兒戲於門中逆見自謂曰客車邊有物必是逢我翁也及客進顧視壁上懸蛇以十數乃知其奇</p>
<p>按□水上浮萍也魏志及本草茲作蒜薺酸能伏蠱辛能殺蟲故皆治之南史李道念病已五年丞相褚澄診之曰非冷非熱取蒜一升煮食吐出一物涎里視之乃雞雛翅足俱全澄曰未盡也更吐之凡十二枚而愈</p>
<p>接此亦中毒蒜能吐蠱故效調食白瀹雞子所致恐未確</p>
<p>魏書靈徵志太和元年五月有狐魅截人發熙平二年自春京師有孤魅截人發人相驚恐至六月靈大後召諸截髮者鞭之於千秋門外</p>
<p>按截髮即蠱所為捕之無蹤卻訛為瓜魅召而鞭之亂政也人生此時不幸甚矣隨園隨筆未解其故以隨園之博識而猶未解宜世人之有言不信也至謂有蠶蛾吃人百十乃正始二年事連類記之隨園偶誤耳</p>
<p>北齊書武平四年正月有狐媚多截入發</p>
<p>通鑑輯覽隋文帝十八年五月禁畜貓鬼蠱毒壓魅野道者</p>
<p>獨孤後之弟延州刺史陁有婢事貓鬼能使人殺人會後與楊素妻鄭氏俱有疾醫皆曰貓鬼疾也上意陁所為令高穎等鞫治之具得其實詔陁夫婦皆賜死後為之請於是免陁死詔自今有犯者投四裔</p>
<p>獨狐陁傳陁婢徐阿尼本從陁母家來常事貓鬼每以子日後祀之言子者鼠也其貓鬼每殺人所死家財物潛移於畜描鬼家陁嘗從家中索酒其妻曰無錢可酤陁因謂尼曰可令貓鬼向越公家使我足錢也阿尼便咒之居數日貓鬼向素家陁又於園中謂尼曰可令貓鬼向皇后所使多賜吾物阿尼復咒之遂入宮中楊素乃於門下外省遣阿尼呼貓鬼於是夜中置香粥一盆以匙扣而呼之曰貓女可來無住宮中久之阿尼色正青若被牽曳者云貓鬼已至先是有人訟其母為人貓鬼所殺者上以為妖妄怒而遣之及陁得罪乃詔識被訟行貓鬼家</p>
<p>隋書志江南數郡往往畜蠱而宜春偏甚其法以五月五日聚百種蟲大者至蛇小者至蝨合置器中令自相啖餘一種存者留之蛇則曰蛇蠱蝨則曰蝨蠱行以殺人因食入人腹內食其五臟死則其產移入蠱主之家三年不殺他人則畜者自踵其斃累世相傳不絕亦有隨女子嫁者千寶謂之為鬼自侯景亂後蠱家多絕既無主人故飛遊道路中之則殞焉</p>
<p>楊慎云此俗移於滇中每遇亥夜則蟲飛出飲水其光如星鮑服詩所謂吹蠱痛行暉也嘗親見之</p>
<p>按畜蠱不獨江南亦不止移於滇中南省苗蠻皆畜之今北方亦有能者山左尤多</p>
<p>宏史太祖紀徙永州諸縣民之畜蠱者三百二十六家於縣之僻處不得復齒於鄉宋史寵貞固傳少時中蠱若贅任喉中常鯁閡及為相因大吐有物類蜥蜴落銀盆中</p>
<p>按此知蠱毒害人有速有遲不皆致死放可冶也</p>
<p>宋史五行志建炎二年大雨紙錢於營中厚盈寸明日與金人戰城下敗績</p>
<p>按明史稿五行志從宋中例謂天雨紙錢為金之妖主旱主訛言不知妖人放蠱其術宜睛即用此以反風止雨故多旱民間驚恐故多訛言光緒三年亢旱暄傳妖人剪髮每逢欲雨往往落下紙錢即止或於雨後拾得之大如車輪小如鵝眼遇病蠱者投以敗鼓皮於亥時問之自云以紙錢為寶及擒獲紙人果挾紙錢故知之</p>
<p>元史韓林兒粱城人也以白蓮教燒香惑眾其父名山童與穎州劉福通杜遵道羅文索韓咬兒等謀起兵官捕山童殺之子林兒逃人武安山中聚眾十餘萬據亳州國號宋改元能鳳元兵來伐敗走安豐明祖挾還金陵三年殂按此則白蓮教之名元時已著與山童同時又有僧瑩玉以妖術與徐壽輝鄒普勝倪文俊等作亂</p>
<p>通鑑明永樂十八年三月蒲臺妖婦唐賽兒作亂討平之賽兒自稱佛母知成敗得石函中妖書寶劍役鬼神剪紙作人馬相戰廚衣食財物隨所須以術運致</p>
<p>按古今以妖術惑眾者每云知成敗能禍福人如置盤照水即見人禍福事成敗之類皆詐也蓋謂人將有禍即以蠱禍之禍果至謂已能轉禍為福即呼蠱去禍果己謂人事有成即以蠱成之謂人事必敗即以蠱敗之至於運致財物即蠱盜之術也役使鬼神即隱形之法也嗚呼教匪以妖術愚人終歸於敗而不知已為天下之至愚也吾願世人皆知其愚不為脅礎教匪且自悔其愚而不為禍首矣</p>
<p>明大事記嘉靖三十六年妖人馬祖剪楮為兵以駭眾民間多懸□□□□四字以厭之</p>
<p>按此符已載字典</p>
<p>通鑑輯覽天啟二年五月山東白蓮救徐鴻儒作亂</p>
<p>鴻儒鉅野人遷鄆城萬曆末以白蓮教惑眾深州王森云得狐傳以狐尾招聞異香多歸附之號此香救森死其子好賢有異志結徐鴻儒鴻儒敗森於走蘇州又挈家南走至揚州事露就擒</p>
<p>按蠱毒亦香王霖自云得狐傳狐尾故香也嘗治初中蠱者取出未及消化之毒丸聞有異否如鴉片煙故知之</p>
<p>刑律凡造畜蠱毒堪以殺人及教令者斬造畜者財產入官妻子及同居家口雖不知情並流二千里安置若以蠱毒毒同居人其被毒之人父母妻妾子孫不知造蠱情者不坐告獲者官給賞銀二十兩</p>
<p>按蠱律甚嚴而世人不察宜乎蠱毒之盛行也津例輯注云蠱甚多有蛇蠱鵝蠱小兒蠱金蠶蠱等名以蠱毒人刻期必死有期在數年之後者惟金蠶最毒洗冤錄云蠱能隱形似鬼神其毒不一皆變亂元氣金蠶一名食錦蟲屈如指環食故緋帛錦如蠶之食葉取其糞置飲食中毒人人即死蠶得所欲則日置他財使人暴富然遺之極難水火兵刃都不能害必倍其斯致金銀錦物置蠶於中投之路旁人偶收之蠶隨以往謂之嫁金蠶又有藥思蠱狀似寵雞蟲如蠶豆大能變幻作小孩形遣嫁之法彷佛金蠶此外又有十二時蠱出南海如蜥蜴一日一夜隨十二時變其色乍赤乍黃傷人立死至於牛皮蠱犁頭蠱石頭蠱席篾蠱針蠱鼠蠱蝦蟆盛泥鰍蠱癲蠱腫蠱疳蠱以毒物合成之蠱種類尤繁難以枚舉或謂之放害神亦謂挑生毒蠱為鬼毒故或謂之蟲鬼苗人多能之故又謂之貓鬼千寶謂之為鬼亦宜然則白蓮教之紙人紙屬實藉人之元氣以養成但目為妖術猶泛也直謂之紙人蠱焉可也</p>

<h1>避蠱</h1>
<p>山海經南山經青邱之山有獸如狐而九尾食者不蠱</p>
<p>注不蠱令人不逢妖邪之類或曰蠱蠱毒</p>
<p>按蠱亦妖邪也非兩義</p>
<p>峒谿纖志蠱祟有神夜出攝死者之魂光如曳彗流入人家當知防禦畜蠱之家其居必潔覺之為女字坐則其蠱不靈</p>
<p>易簡方如入蠱鄉飲食潛於初下筋時收藏一片在手盡食無妨少頃郤將所藏之物埋於人行十字路下則蠱反向其家作鬧或食時讓主入先下筋或明問主人云莫有蠱否以筋築棹而後食則蟲不能為害</p>
<p>按以筋築棹咒曰恭請神降臨唵嘛呢□叱則蠱不為害此咒並載瘟疫彙編極簡便畜蠱者多供瘟神避蠱與避瘟固無殊也</p>
<p>驗方新編將食時自帶大蒜食有蠱必當場吐出不吐則死主人畏累則不敢下蠱又荸薺不拘多少曬乾為末每早空心白湯調下二錢入蠱家無害此神方也</p>
<p>按良醫治未病不治已病故備載避蠱諸方然此皆避飲食之蠱今之放蠱奇妙莫測古則人入蠱家方能為害今則蠱入人家亦能為害但依古方無濟也或用庚蒿懸之庭戶或用硃砂雄黃預和大劑佩之衣襟納之枕中或擇執日除日用避瘟丹於室內熏之惟帶薄荷油一瓶最為捷便尤不如保養精神以固元氣為避蠱要術也至於符咒本於攻說非誡不靈胡文忠公云思之思之金石叮開鬼神可通此乃識字真訣也然非人人所能且世間符咒傳抄多訛亦欠雅馴故不詳載</p>

<h1>驗蠱</h1>
<p>夏子益奇疾方云人頭面上有光他人手近之如火熾者此中蠱也</p>
<p>按金蠶飛行有光凡蠱皆然即今世之紙人飛行亦往往放光</p>
<p>東醫寶鑑令病人朝起取井華水吸水中唾如柱腳直下沈者是蠱浮者非蠱入蠱鄉見人家門限屋粱無灰塵蛛網必畜蠱遇飲食以犀角攪之白沫浮起者是蠱也又煮一雞卵去皮日夕含口中勿令破夜吐出著露中朝看色青者中蠱也</p>
<p>按室中潔淨乃蠱死之鬼為之拂拭此驗畜蠱之法非所論於中蠱之家也醫書匯參令病者含黑豆豆脹皮脫者是蠱食白礬不酸澀者是蠱</p>
<p>驗方新編一覺腹不快即以生黃豆或生綠豆食之入口不腥者中蠱也又以制甘草一寸嚼之咽汁若中蠱者隨即吐出不吐出者非盛或煮一雞卵插銀器於內含入口約一時許取出卵銀俱黑者即是蠱也</p>
<p>接中蠱頂心有紅髮疔毒有紅髮猘狗傷有紅髮亦一驗也宜拔之凡驗法俱宜勿令病者知知則不應久病往往不應蓋由病者旁觀竊聽若為不知而實已知之也</p>

<h1>益證</h1>
<p>千金方凡中蠱心悶腹痛面目青黃或吐鮮血或下膿血或大便黑如漆或堅或蒲或微赤病人所食之物皆化為蟲侵蝕臟腑盡則死急者倉猝緩者延引歲月死後病氣流注染著旁人謂之蠱疰東醫寶鑑中蠱者面色青黃是蛇蠱面色赤黃是蜥蜴蠱面色青白腹內脹滿吐出成科斗形者是蝦蟆蠱面色多青吐出成蜣螂形者是蜣螂蠱</p>
<p>醫書匯參中蠱毒心腹絞痛如有物咬或吐血下血如爛肉或好臥暗室不欲光明或心性反常乍嗔乍喜或四肢沈重百節痠疼或乍寒乍熱身體習習如痹胸中滿悶或頭痛或吐逆不定或咽中如茅刺甚者十指俱黑</p>
<p>驗方新編凡中生蛇蠱腹痛吐瀉皮內有物堅實夜臥以手按之則腹內有物跳動心煩涎溢得食肉則止或移入脅下或跳心上時有時無年深作咬則通身發熱加有發刺蟻咬夜間更甚其蛇無形亦無數此乃蠱家之外蛇從風而至者也中陰蛇蠱吐瀉腹脹口腥一目常赤頭面上筋起加蟲行蚓行或耳鼻內如蟲行服解毒藥毒重則糞黑輕則糞藍兼癲蠱則人多昏憒兼腫蠱則一耳常塞一耳少厚中癲蠱心昏頭眩笑罵無常或飲酒毒發忿怒凶很不可制中腫蠱腹大肚鳴未服藥如在臟外鳴服解藥則在臟內鳴疳蠱者匪人謂之放卵又謂之放峰端午日取各樣毒蟲頭髮等物研末其人常刻一小五瘟神即以毒末供之每借飲食害人亦有放在路上踏著則飛入人身黏於臟腑毒氣上衝則耳鼻內加有蟲行日久靜坐發內如有蟻咬以手搓之則無或夜臥面上如蝨行口角如發纏或肉忽跳動一手一足麻極未有不疑為風證者也蓋毒氣行於周身到處即加蟲咬非真蟲也毒入既深周身如蟲行頂心發涼極如有蟲出入肉內此時蠱家所毒之冤魂與其陰蛇陰蠱隨而附之病者如聞飛集之聲旁人不聞當風更甚周身如麻布通風或唇掀或手足指扯開加以悶否則面起紫泡迨見白濁蟲生於內則真有蟲矣中害神則額焦口腥神昏性懆目見邪鬼形耳聞邪鬼聲如犯大罪如見惡役待練來捕如有健卒持刀追趕常思自盡皆其證也</p>
<p>按近時人心愈薄為術愈巧則放蠱愈奇教匪翦紙為人即用以效蠱各帶毒物而羊毛席篾為最多飛行變化潛入人家乘虛為害或因人飲食隨其呼吸而入或從耳鼻入或從毛孔入不盡翦發打印也既入人身據為巢穴</p>
<p>一切毒物以類相聚教匪家之紙人亦相引而來或伏經絡或伏臟腑或伏膏肓問其所苦與中蠱一轍更多怪異或門窗無故自開或器皿無故自動或衣服無故翻轉或財物無故聚散或食少甚至三四十日不食以蠱鬼與之食也或食多一人兼數人之食以蠱鬼代其食也怪怪奇奇莫可殫述且各困病者性之所近變證百出不止時哭時笑一例瘋癲也毒既大發即不欲生或自戕或投井而自縊者尤多所以太平御覽虫部有縊女之名也</p>

<h1>蠱脈</h1>
<p>東醫寶鑑凡中蠱毒脈類釵股又脈浮洪者生沈細者死洪大而遲者生微細而數者死</p>
<p>驗方新編中蠱之脈多系陽分盛蓋蠱家毒物皆於端午日製之乘陽氣極盛之時以制蠱故中其毒者脈皆強旺所以利用涼清之劑也迨至六脈和平則愈矣</p>
<p>按此皆論其初病之脈日久則變故診蠱必察其平素之元氣盛衰當時之毒氣輕重中蠱之為時久暫方為定論</p>

<h1>治蠱</h1>
<p>鐵圍叢談金蠶毒始黔中及湖廣閩粵多有嘗見福清縣有訟金蠶毒者縣官治求不得蹤或獻謀取兩刺蝟入捕必獲矣蓋金蠶畏蝟蝟入其家則不敢動雖匿榻下牆罅必擒出之果然</p>
<p>本草綱目人中蠱毒欲知蠱主姓名取敗鼓皮焙焦為末調服一錢酒引尤妙須臾病人自呼蠱主姓名令取蠱去即愈又白蘘荷葉密安病人臥席下病者自呼蠱主姓名凡用此勿令病者知知之則不效</p>
<p>按敗鼓皮久服最妙不但能呼蠱主姓名韓文公云敗鼓之皮醫師之良也夫兩軍對疊一鼓作氣而援桴者之精神注於鼓皮皆合震動之義故為歐蠱良藥柳柳州種白蘘荷志云庶氏有嘉草攻襘事久泯炎帝垂靈編言此殊足珍本草云葉似甘蔗根似姜叮以為菹南北皆有之並能治瘟余臆是俗名地瘤之類未敢自信遍訽無知者錄之以俟博識</p>
<p>峒谿纖志有中蠱而臥病者燒病人所臥之簀則病者能自言下蠱為何人範石湖集蠱在上則服升麻以吐之在腹則服鬱金以下之或臺升麻鬱金服之不吐則下</p>
<p>按此方治初病極效藥必用至兩許輕則無清陳修園謂鬱金為藥中惡劣下品庸醫每喜用之不知鬱金實為治蠱要藥謂人為庸適自形其庸已</p>
<p>驗方新編初中蠱在膈上者用蹄魂散吐之白礬建茶各一兩為細末每服五錢新汲水調下頓服一時久當吐出各色毒物用火焚之則反著放蠱之人死矣</p>
<p>按此說甚奇然多臉所謂害人如害已</p>
<p>東坡雄黃丸治蠱毒雄黃明礬各等分端午臺研細溶黃臘和丸梧子大每服七丸默唸藥王菩薩七遍或云藥王萬福白湯送下</p>
<p>按蠱為熱毒不宜用熱藥巴豆尤不可用亦不宜輕用補藥惟以散毒殺蟲安神驅鬼為要散毒如稿本升麻紫蘇薄荷菊花白芷之類殺蟲如雄黃硃砂白礬鬱金菖蒲金銀花預知子訶子雷丸之類安神如黃精百合沙參茯神降香犀角之類驅鬼加庚青蒿山甲珠鬼箭鬼曰之類初中毒宜吐如胡荽大蒜土常山馬兜鈴之類行旅倉卒頭垢吐蠱尤捷日久不愈或誤服他藥以致變證岐出則治藥非治蠱矣或元氣不支不得不加補藥以扶正除邪參耆歸芍勢在必須則善後之事也但此證最為纏綿難解前人云蠱毒入心如油入面終身擺脫不去不治固多死傷治之雖難或不至死人之壽夭各有定數妖人實不能操其算也常譬人如樹樹有空虛之處蟲蟻入而居之或去或留不過添一病處而於樹之生死無關也世人勿畏其難斯蠱可歐矣</p>
<p>光緒三年傳杪藥方稿本銀花硃砂訶子獨頭蒜</p>
<p>按此方用意極妙稿本能治百六十種鬼風毒疰故以為君大蒜最能殺蠱故以為使不著分兩以備視毒之輕重加減中毒重者藥必用至兩許方效惜世人用不過數錢杯水烏能救車薪之火哉當制一方黃精百合菖蒲銀花鬱金白礬降香山甲庚蒿茯神預知子敗鼓皮硃砂雄黃訶子肉因證加減名之曰鎮心歐蠱湯施以吐下之後毒仍不淨服此最妙中蠱日久為痰血所里鬼氣據為巢穴非山甲不能直達病所也方中惟預知子庚青蒿最為難得預知子一名聖知子出川中藥肆多未備青蒿到處有之惟伏內庚日採者可以伏鬼肆中售者多雜蒿不堪用如無此藥去之亦可取效補藥中惟黃精能殺蟲仙家以為芝草之類華佗傳名為青黏別傳云一名地節一名黃芝其實即黃精也佗秘其術不輕示人故鮮知者宜其卒以買禍也治蠱用雷火桃木針亦妙或按穴或隨其患處針之咒載景岳全書但易其百病消除萬病消減為針蠱蠱死針鬼鬼絕即是切題佳文用蘄艾隔蒜灸之亦妙宜灸鬼哭穴及乳後三寸肺俞三里均百壯而膏肓尤為要穴孫真人云醫緩未暗此穴故晉侯之病不恰如得此穴隔蒜灸之或百壯或五百壯二豎子不難歐也余仿此兼取震以治蠱之義以絳囊尺餘實以雄黃築堅縛緊按膏肓穴震之或隨其患處震之數計十萬時須年月震動周身蠱不能居亦良法也針十三鬼穴亦妙但鬼藏一穴男在會陰女在玉門頭為溺孔之上端與男不同故全穴施針最難余易以薄荷油點法較捷且病家自能為之蒲荷油藥力猛烈最能殺蠱透入肌膚無微不入故點之取效極速隨其患處點之亦可又不獨按穴乃神也灸灼成瘡點之更妙古人用薄荷水遜此遠矣或用殺蠱豁藥加透骨草拌麩和醋沙鍋炒熱布包更換隨處熨之亦效又羊毛瘟古無此證至明萬曆閒始有之用蕎麥麵搓之羊毛自落說見瘟疫彙編寄園寄所寄伏讀</p>
<p>御纂醫宗金鑑中備載羊毛疔一證謂肺主皮毛風寒入內鬱而為毒清虛之府變為穢濁之區而羊毛生矣有五色者有長至丈者治法投以五味消毒飲即用青布包雄黃末蘸熱燒酒擦前後心先擦大圈後擦小圈擦前心則羊毛奔至後心擦後心則弈至前心反緩擦之羊毛乃出掘坑埋之敬按此法屢試屢驗其證頭痛發熱心煩欲吐昏迷不省人事甚至牙關緊閉不必皆有紅黑斑點也且有擦出各色雜物者不獨羊毛也蠱之牲如蟻凡物皆拖入人身遍塞經絡以及臟腑非治之不出也或云羊毛何以能奔不知此弈字形容盡致蓋羊毛乃毒氣化生見藥知避弈行最速引伸其義不獨奔前奔後即上下左右無處不弈而施治之法亦可無處不擦之也近世妖人合成蠱毒多以羊毛里之蓋羊毛有毒即羊過水有人隨之過者必中毒作癢可知也且凡毒物皆弈又不獨羊毛也當此蠱毒盛行隨風變幻人感風邪毒以類化非蠱亦可以治蠱之法施之是蠱亦可以治羊毛疔之法施之也且無論內治外治必力足而後效如灸擦搓熨諸沃病者云心煩即是中病切勿遽止致令蠱覺再施不靈也</p>

<h1>蠱案</h1>
<p>嘗治一人被剪髮一縷當時撲獲紙人側形待刀焚之仍覺煩悶矚令口含黑豆一粒少頃皮自迸脫飲以歸魂散吐出羊毛爛紙等物兼有黑星詳諦之乃蠱毒丸也或塊或片皆以羊毛團之復有麻繩寸許一頭結一頭散上黏干蟲無數如小蛆因憶竇太史外科載造蠱一修云奸人於端午日取毒蟲精液合成針蠱針皆無孔即其親屬養蠱者以毒入飲食中日久腹內生蟲居於心肺苦楚難堪惟飲百沸湯少安迨其人死蟲從七竅出死者心肺如蜂房入火不焚取蟲陰乾合成毒蠱蟲入人腹得血即活差即此也遂投以解毒之品加以養正之方調理得愈</p>
<p>一人身被藍印自以穢布拭之其色已落仍覺未快余曰毒未除也令嘗白礬味甜不澀嚼甘草咽汁有羊毛自喉間出遂以甘草三兩生薑四兩濃煎服外以避瘟丹熏之毒解神清而愈</p>
<p>一人衣襟被割當時撲獲紙人一與以膽礬二錢茶冰冷服吐出紙球十餘枚拾置新磚上半乾展視之紙人也蓋紙人飛則展開落則團伏各帶羊毛席篾並挾紙錢至晚為灸鬼哭穴縛定病者兩大指去甲分許騎縫隔蒜灸之病者欲哭終灼之頓醒覺耳中熱氣坌湧有物飛出直撲窗間宰窗間施以重簾塗以雄黃懸以庚蒿不得即出撲獲之乃以血點紙僧高五寸許血紅活色凡人血點於紙上淡則黃濃則黑不能如此鮮紅也另有血點七星劍一紙胡蘆二以發檗之內有沙土一撮羊毛塵尾一柄隨即拘入瓶中鎮以雄黃蠟紙封口夜靜於十字路口掘深坑埋之取車馬往來震以治蠱之義而病仍未減余曰毒未盡也再灸乳後三寸穴百壯通身大汗沙土羊毛隨之以出肋下出爛紙一團隨現紅紫斑點余曰毒深矣聞紙人有雄有雌其必有雌伏乎為制敗鼓皮三錢以酒為引夜間自呼其名為白蓮教某人之妻曾經官捕無左證禾羅法網不幸敗死於此悔無及矣再治之更獲一女像紙人而愈如其言密訪之果然</p>
<p>一小兒尚未留髮頭上似有燒痕一片即覺昏迷余曰是中蠱也內服解藥外以菖蒲雄黃大蒜重劑煎湯洗之身上迸出麻繩寸許者無數不即毀之轉瞬遂杳此兒今已成人矣</p>
<p>一人被截髮與以解毒之方並囑以青布包雄黃末加山甲皂角末蘸熱燒酒擦之出羊毛無數耳目中皆有羊毛團迸出再灸乳後三寸穴節有小蟲彎環色如薑汁從毛孔出又有如鼻涕成條者乃大蟲已死其皮殼從大便出精液仍從毛孔出故也蟲形彎環故知毒中有金蠶糞再為灸之被截髮端出膿而愈</p>
<p>一人被剪髮家多怪異嘗見巨蛇即之則杳令先服敗鼓皮一日病者腿上腫起如桃以蒲荷油點之病者大言曰汝漢教甚是利害竟能制我復與雄黃酒擦法出火石碎塊無數守者以紙包之時求余驗行至滋河灘中隔紙飛去止留一塊其家求醫不誠無從深治至今其人無恙</p>
<p>一人煩悶似中毒余曰可治病者忽大言曰汝不能制我余笑應之曰孽蠱何敢爾即汝教主我亦能制之舉手作欲擊狀病者覺心中如有石墜霍然頓醒問及前言茫然不記令以薄荷油點十三鬼穴井點巨闕乳後三寸肺俞膏肓諸穴點訖加紅靈丹等物雜治之病者復昏不知人又大言曰我去我去汝不放我奈何再點之從襟下獲一紙人而愈</p>
<p>一山西賈人十五六歲在北蘇鎮見一乞丐逼近己身急避之趕至廚內強以羊毛塞口中求診令先服敗鼓皮至晚自呼為晉州人其主人膽小因而不治</p>
<p>一人未經剪髮自來求診問所苦則常行人井不須人救昏迷之中仍出並外再問之則口中常吐麻團腹中覺有病塊知其元氣未衰與以解毒之方十數劑而愈</p>
<p>一人被割鞵底初不知也病作求診與升麻一兩吐出磚瓦灰土碎塊無數再吐蔥須一團因憶方書所載一人肋下腫起如桃服升麻瀉蔥一株根鬚全具即此類也復為灸膏肓百壯倏有一物飛撲窗隙礙簾而止獲之乃紙人短小精悍血點雙目甚工如法拘之至晚病者覺枕中有異拆而視之搜得紙球如豆二三枚展之皆紙人也夜間又覺有物飛起止觸承塵簌簌然為余訴之遂授以熏藥嚴閉門窗施以重簾熏久之啟扉搜撿於鼠穴中得紙人無數皆死矣病者遂愈每獲紙人以雄黃絳囊震之咒曰震天天開震地地裂震蠱蠱死震鬼鬼絕吾奉太上老君急急如律令往往見血震之無血故知其死</p>
<p>一人見門首募化者云濟南僧施以米謂之曰近來妖幻甚多汝等異服人宜遠避僧作指點狀而去歸即病作投以解藥病者夢見紅鞵僧乞食閉戶御之醒言其異余曰元氣已固邪不能侵試搜之床下得一紙僧血點雙足宛如所夢按法治之得痊故凡雲遊僧道醫卜星相採路不明之人均宜嚴防而詐稱逃荒者尤屬可惡是則為民上者之責也</p>
<p>一人病蠱屢治雇效忽大言曰我十八名高弟子盡敗於此特來相會病者急延余至叱之曰汝來將擒汝矣倏有一物將燈撲滅欲遁觸窗檽鏗然聲甚厲待燭至見紙人高尺餘倚窗而立血點變睛眈眈視入如法拘之病者遂安俗傳白蓮教翦紙為人一寸變象一尺一尺即變一丈此物變象殊覺駭然一秀才為人訓蒙適遊學者過此取茶飲之覺有沙土入咽遂生煩悶其主人用我法以石榴皮煎濃湯令服得吐而愈詢其主人見異物否曰吐一氈片已棄之矣余笑曰非氈片乃紙人所挾羊毛也毒恐未淨復詢之一腿常腫按之作沙土聲再服解毒之藥而愈</p>
<p>一小兒常見室中有烏覓之不得問於余令門窗悉罩以網庚蒿熏之倏有物飛起掛網而止乃一紙烏撕紙作翅捻紙作頸紙尖作啄血點作目燈煙作色以火焚之寂然蓋庚蒿可為熏藥亦可單服能療奇疾而於財無損最宜貧者一人病蠱授以解藥服之夢見二豎子雌雄各一旁一豎子稱為哥嫂云此處不可居盍歸乎遂撿其傢俱以袋裝之其雌語病者曰居久情洽今去盍相送病者許之行至外室畏余不敢由戶擬從窗間出病者謝不能雌曰試為之上攀窗欞於袋中取刀割窗紙如矩伸足即出病有從之微覺窗欞有刺傷脅下送至大門不敢出再繞別院始出路遇村人往來皆識之至村口雌曰請勿遠送宜速歸遂醒脅下猶痛為余述之餘曰蠱真去矣試驗之窗紙果有裂痕如矩式欞有芒刺欞紙瓜痕宛如所夢詢之村人所見皆實次日病者聞屋上跫然足音余曰須防之至晚病者復迷即以薄荷油點之點至肋下病者哀求曰我誤信伯父言學白蓮教害人已隨哥嫂去失一胡蘆不忍舍之來取被擒頭痛不可忍其死於此乎音似冀州入兼京腔隨獲紙人頭腦皆裂猶帶薄荷油味云</p>
<p>一人病蠱服敗鼓皮聞二豎相語加在樓上下者一呼曰去去一答曰否否為余訴之餘曰藥力不及也加其劑適值雷作從病者上星震落一紙人帶一丸羊毛里之嗅有異香上星即鬼信也蠱伏此穴往來與眾蠱報信至夜半病者恍惚中見巨人揹負小兒曰去去病者心知其異強起力撲之獲紙人如所見猶嘖嘖作聲並加法毀之</p>
<p>一人忽見被髮人貌極凶惡覺不𢗲授以熏劑果獲紙人女象彼發亦紙縷為之滿面血痕殊駭人目又見小兒跳躍入耳中取視之亦紙人病遂痊</p>
<p>一人病蠱內服解藥外用點法腿上忽腫起成瘡余曰非瘡也再點之復以雷火針針之隨有物飛撲窗間旁一貓極雄偉躍而攫之獲一雀食訖復於窗隙瓜探一物奪視乃一紙球展之人也血畫滿面象極凶悍乃悟貓能殺蠱然非壯不能此後病者仍覺心中蠕動以雄黃絳囊震其背迸出一巨蛹而愈按蛹能化蝶此證住往於室中見蝶如鬼祟即此物也亦有紙翦成者華佗外傳治出針棋黃雀等物明是毒蠱乃秘不肯言耳</p>
<p>一人病蠱服敗鼓皮等藥見二豎獲其一乃夾布人雌象側形極凶悍懷抱小兒以針綴之一手以針為指以絳囊震之頭裂血出復震之胸裂心出審視乃以芝麻一粒為之猶帶血也加其劑用黃酒引至夜靜自言某處人某名某年來甚悉又云在廟後住或在樓上余曰心為神廟心包也樓髑髏也加引經藥再飲之次日病者覺有物入袖中刺脅作痛取出亦夾布人雄象以針作指震之亦見血因憶三岡識略載明季南方有紙狐夜入人家抓小兒撲獲之乃以針為爪亦此物也再加劑且灸之病者變聲大言曰我傻誤聽哥嫂言學白蓮教欲得好處致困於此悔無及問居何處曰太陽經部帶何物曰點心一匣已食其半針一束以線穿之已失數枚及獲乃籃葛布人通身血點碎瓷一包蟲所喜食也經人心真火焮煉置手中熱透手背一針以紅線級之並餘針四十飢枚縛為一束封之瓶中埋十字路口病者遂安</p>
<p>一人病蠱覺膝蓋內旋轉如風輪砭之觸撥有聲起針隨落席篾針眼宛然至晚喉痛以薄油點之隨落一物詳諦乃合千百小蛆結成一團潔白如水角狀喉痛立止少頃膝蓋內復動余曰此內針不易及藥不易達有物未可猝獲令以藥熨之久之病者曰內又旋轉甚急我力不能支恐不得生余診之六脈和平曰無妨試忍之倏落一物病者霍然檢視乃紙人面身有血畫如法拘之病遂安</p>
<p>一人病蠱家人見白貓紅目竄入室內尋之杳然余聞之曰是所謂貓鬼也授以熏藥次日病者恍惚中見一紅目白髮者者跳吼於前驚以告余囑其家多備藥物嚴閉門窗施重簾塗雄黃所備甫齊有物撲窗欲遁獲之乃以高粱秸去皮刻人形以大針為兩臂上服白紙衫下服白布褲周身黏極細白毛兩目皆赤急以縫囊震之血出病者夢見一女子云與人作妾夫死當尋自盡持繩匆匆而去醒言其異余曰可於室內覓之門插庚蒿似懸一物即之乃藍葛布人以青絲一縷作套縊死復加敗鼓皮重劑投之夜半自呼曰我是死者某人萋年八十餘世傳白蓮教來此已久今果敗死不足惜問汝何嫁一紅眼子曰我亦眇一目又問誰家一妾在此自盡驚曰勿怪不見他是我家小婆子竟先我死矣隨飛落一滑石猴食已過半乃小兒要物蠱盜去者又一物飛出久之得一人亦束秸穰為之以針作臂上服紙衫下服古銅色摹本緞裙眇一目周身圍以白毛亦於庚蒿上以白髮作套自縊庚蒿可以伏鬼蓋死於其所伏也急解下以絳囊震之微見淡血蓋氣猶未絕也俗傳白貓紅眼行蹤如鬼者為八狐子善搬運不知即是此物夫畜蠱本為搬運起見但有主之蠱即為畜蠱家置財無主之蠱亦為病蠱置財運衰則復搬去所謂蠱盜人家不安也前賢著錄多謂隱形為狐魅紙人為妖術實皆造蠱法也惟千年老狐始能隱形工妖術故教匪往往詐稱得狐傳今之蠱害數倍於昔如謂狐也安得如許多狐散布閭閻蔓延天下哉此說可為老狐鳴冤</p>
<p>一人病蠱家中多怪異且不和求法於余囑令閤家忍耐勿忌妒勿忿爭復授以藥服之間日以藥熏之獲紙人千百竟平復此所謂邪不侵正和氣致祥也或謂邪不侵正之說未確不知此乃要終言之自古正人受害千百世後其冤可白善家中蠱數十年後其毒可歐如謂香家必不中蠱將何解於小人之害君子也害正方為邪此理甚明</p>
<p>一人嘗見異禽入室飛行變幻余曰是蠱也李士材謂傳屍蟲能變禽獸形妖人造蟲兼用屍蟲即謂之傳屍也亦可以藥熏之有鳥一雙飛撲窗間觸簾而止獲血點紙鳧一雄一雌再服歐蠱之劑從頂心飛出一真瓦雀見血少許又獲一雄雞夾紙為之內夾紅絨作冠餘絨垂至後作尾震之血出無論物之真假紙人皆能挾之以入人身服藥力足加藥熏之則邪氣漸衰設法可獲否則飛行最速變化最奇即複壁密室亦不能禁未易擒也</p>
<p>一人病蠱窒中窗紙多孔諦視之有出入痕囑令嚴防以藥鎮之乃知紙人鳥往來所經復熏之獲紙雞等物而愈</p>
<p>一人中蠱掌中嘗覺蠕動求余診密囑其家長者佯以戒尺責之指縫中打落球數枚展之人也為灸鬼窟逾百壯覺手背作癢墜一物亦似紙團色微黑蠶形頭尾相接屈如環知為金蠶毒所化此後凡蠕動處灸之即出不便灸者易以雷火針皆能取出描喜食之</p>
<p>一人中蠱身上衣服無故翻轉且往往有火光余曰是易治也投以解藥隨獲紙人而愈</p>
<p>一人病蠱治已愈矣惟室中未淨復以藥熏之倏有物飛起黏於窗隙摘視乃一紙包內有紙人皆雙髻並有紙錢紙瓶紙剪紙圈紙胡蘆紙腰子並羊毛桴炭各色雜物如法毀之室中遂安</p>
<p>一人坐床上倏若有人推之下問於余囑令熏之獲一紙人復於床上懸帳摺疊中獲一紙包內有羊毛桴炭等物</p>
<p>一家患蠱其長者至夜不寐束衣執劍秉燭危坐更深時屋上足音跫然者三節聞內室窗紙作裂帛聲急趨視之窗紙已破猶帶濕痕再聽寂然次日又聞夾壁內如飛鳥撲跌聲求法於余密囑多備熏藥隨以火盤入夾壁加藥於上將壁扉四圍封同中留一隙竊聽之往來趨走聲甚繁旋有一物推扉作響探頭出獲之乃紙人高尺餘血點耳目手足以法拘之將壁隙並封完固約三日後如其期開扉細檢紙人死者甚多一磁壺有屍臭揭視之紙人為藥氣所迫相偕遁壺中已盡化血水矣其家遂安至今子孫繁盛</p>
<p>一家突遇山東逃荒婦人頭裡藍巾持其家人之手以一手拍頂心誇曰好好即去次日其人忽僕問之似癲延余友診之友歸謂余曰是蠱也我不能治君盍招其父兄而授之法其父亦余好友也遂授以吐蠱法服藥至夜半吐紙團數十枚其父用草墩蓋之意至晨再毀比曉已盡飛去至午病者在院中乘涼忽來紙人翦發一縷騰空飛起共見眾人病者晚餐驚曰飯中有發一縷嚥下奈何問方於余授以雄黃酒擦法從前心擦出發一縷再授敗鼓皮服之病者聞二豎相語一山東音如在村外遙呼曰宜去矣一答曰即去其兄為余述之曰蠱易歐矣授以解藥重劑囑其兄守之必見異物詢有熱氣從耳鼻中垂出速擒之勿令逃遁時酷暑其兄畏熱未施重簾病者曰熱氣出矣一烏從鼻中飛起穿窗而去病遂愈</p>
<p>一時喧傳妖人用五色印人家灶神殆遍余曰是所謂惑亂人心也有求方者授以熏法獲得紙人各帶紙袋內裝紅綠各種顏料木刀柄紙人即以此刀蘸色印之旋覆寂然</p>
<p>一婦每覺寒噤頂心生紅髮一縷色甚鮮拔落復出一日其母持紅髮求診旁觀驚駭遠避余授以攻藥狂發其母不能制令常服敗鼓皮遂愈</p>
<p>一婦因夫墜崖死改嫁忽見前夫作鬧閤家不安其後夫求法於余授以熏藥前夫求去且索飲食後夫以酒食送之村外為余述之餘曰未可信也後果復至授以擦法病者自籲不可支矣燈忽滅其夫取燈復擦而病者已蘇語其夫曰勿徒費事恍惚中見眾豎子共扶一物周身皆足從窗中比其夫遂止而病者仍覺不快余以鬱金一兩方連服三劑下物如漆如靛如車轄脂中有紙包滑秸升許從此遂安</p>
<p>一人中蠱嘗覺肩背如有物壓授以鋒囊震之屢獲紙人猶未盡余曰世俗有抓病法姑試之遂從其肩背上用力抓之病者喜曰巳抓出矣敗衣視之乃紙</p>
<p>一張方尺餘遂愈</p>
<p>一時驚傳妖人截髮獲鹿縣有被災者當時捕獲妖僧背黃袱中有紙物送縣究治適某公署理到任仁人也研訊之不服刑之當堂呼其師曰許教我今遭難曷弗來次日復重刑之遂詈其師曰許救我今不來欺我乎痛罵之公曰此真口供也月餘瘦死余嘗密稟某公十年內畿輔近地必有教匪滋事須預防之今復質之某公當謂余不謬也</p>
<p>一人從外村歸手執金魚一瓶路遇一人不相識詰之曰汝身上衣衫何在自顧己脫尚未知也望之在前當路相距數十步後亦無恙因憶明李北略載都中人身上衣服往往被攝至西山頂掛樹杪即此類也蓋人之中毒與否以元氣之盛衰為準不關乎善惡又不關乎老幼也明被害而不受毒者未被害而受毒深者有之中毒與否亦不關乎翦發也此毒蠱惑人之妙用也</p>
<p>一人病蠱年久一膝臃腫如鶴內常翻動醫者皆謂鶴濺風而藥多不效余曰是蠱也授以雄黃菖蒲大蒜重劑加白芷銀花之類洗之仍覺未快再授以擦法熨法間用之其毒物如針如錢暨羊毛席篾線頭布縷頭髮棗核之類悉遁入枕中盡搜毀之而終未獲一紙人乃中毒日久結為巢穴紙人伏於穴中治之中病即出各物塞責如流賊敗走之沿路棄金帛也病往往見獲異物驚為奇效而不疑其毒未淨雖有良醫亦難強以再治故紙人終不肯出</p>
<p>一買姓家有停柩俗忌犯七屆期請鄉鄰夜間擊鼓鐃鈸齊鳴名為救七至曉門外牆上及亡者妻頭上皆有血痕如潑來問余余曰汝材中數年前各家門口有雞爪血印即血蠱也今已震破無妨矣因此益知古人儺祭之禮為歐蠱之要</p>
<p>一家有女孩九歲四十日不食一旦傷食大吐肉片乾粉之類問從何食此曰有兩婦引到外村赴席其家有樓閣富室也遍訪鄉鄰日內並無作此食者其父士人也執劍叱之曰是何妖魅迷亂我家小兒女四圍斫之背後響聲厲如洋礮復有磚瓦投至不傷人其父為余述之且求方余授以諸法雜治之一日病者言曰我去矣其父疑非實曰願焚香誓之如不去者雷擊死此後病者遂復食</p>
<p>一人嘗閉氣且思自盡繩索往往無因而至余授以擦法覺前心有芒刺出活蜘蛛一枚為余述之令搜室內見異物即如法毀之家人搜之無所獲遂出留</p>
<p>一守者憎室中暗揭去重簾甫見明一物飛撲窗上急擒之乃一紙蝶巨如扇余索觀已焚之矣今世病蠱死者往往見蝶飛去俗傳傳屍蛾者即此類也有真蝶乃巨蛹所化蓋飛潛動植各物既入人身即隨人元氣變化生長就人之飲食為飲食如小兒科中蠱證或食土炭磚瓦碎瓷等物人不為怪而獨味此何也</p>
<p>一鐵工在茶肆倦臥倏有一縷黑風猝至驚起到家即病頭痛發熱咳嗽吐黑痰如風色醫家治以中風不效余曰此即所謂鬼風毒疰也投以湯劑稿本為君解毒諸藥佐之數劑而愈</p>
<p>一木工妻夢中一小兒寤即不見當於夢中乳之驗其乳如真病漸作為余述之餘曰是蠱也與汝歐之授以解藥一劑而其兒瘦再劑而其兒死其妻猶哀憐之遲數日其妻頭腫如瘟復為治之病遂痊</p>
<p>一叟六十餘妻縊死鄰村演劇往觀晚歸路遇女子年及破瓜眇一目與偕行謂之曰苟愛我當從汝答曰貌誠佳何眇一目女曰汝村成先生針壞一目至今猶恨之也成先生者羅莊人性忠厚學博品端工符咒歐鬼狐已隔世矣女與叟紅鞋一鉤約寸許納之袖中歸而玩之女即至勸其自縊叟惑之每尋自盡子孫邏守之其第三媳為疊被得紅鞵曰妖在是矣宜翁之欲死也以斧斫之投諸火傍晚入室聲不祥其嫂趨視見娣伏床上帶紾其手束入肌里猝不可解扶其首口中有物急探出之乃綿花蕝抽一枚復有再抽之扔不能言詳諦之喉中仍有一蕝採出之極長是兩枚併為一接處絕無痕始能言問之云入室見其夫怒視之隨昏僕他不記憶詢其綿花蕝在門後瓦罐中蓋石板揭視之則散一把少四枚口中抽出乃三枚其長者兩枚並一也轉瞬即變幻如此非蠱毒不能文日其家人以車載其媳來望之若呆診之脈數知其因驚致疾授以歐蠱安神之劑囑令常以藥渣熏室內並可救其翁後果安其翁以善終因憶聊齋志異載蓮香一則亦此類也第文人弄筆潤色過當遂致失實耳一士人嘗應童試甫畢即思自盡其父求診曰此子乃繼母徜不測何以自解請為治之餘見其皮膚磽疏毒易從表出授以外治諸法果治出各色毒物而愈旋赴郡試取第一入泮蓋瘦人腠理密毒易從里出宜內治肥人腠埋疏毒易從表出宜外治因是愈知毒蠱之不能禍福人也其家用一績麻者病咳每夜咳甚則室內無故拋擲磚瓦至晨常滿筐以手拾之輒麻木代求治並授以解藥而愈</p>
<p>一年老婦人倏覺有若貓者登床遂病每日恍惚中有人報信促其自縊余曰是所謂病貓鬼也投以解蠱之方稍安其家富而慳於藥資余聞之曰惑深矣恐乘間竊發終難救也適值其子赴郡試遂縊死</p>
<p>一家書館嘗見怪異一日先生散館鎖門及反封鎖如故而書籍皆矢意謂盜也旋於井中得書數本後數年復於閒室櫃中得之皆謂狐也余曰不然是蠱也試觀之又遲數年學生已長父母俱存別無兄弟家道甚和忽於暗室挽繩作套吐舌瞪目作縊狀固未死也問之曰渠等教我如此余語其姻家許以能治腹中有塊時上時下蓋即蠱之巢穴也調治半年而愈</p>
<p>一婦無故自縊已救還矣但不能言作聲如唱滴水不能下咽諸醫束手勢將斃矣求救於余曰是為鬼氣所縛也授以解蠱之劑其夫曰滴水不下咽奚能服藥余曰歸試服之飲藥少許閉口即下矣試之果然腹中覺有病塊余曰蠱巳入穴不易除也見其性情變常投以解藥不至再縊屢來求方至今無恙</p>
<p>一小兒登高一兒在下以竹竿承之戳傷其臀隔數日傷已無痕肋下忽腫起成瘡不出膿瘡內多布縷延女巫視之詐曰前日某小兒以竹竿戳入者也其父母即向前小兒家作鬧共質於余因述驗方新編奇疾中瘡內出瓜果鳥雀雜物以狗糞之白而乾者熏之出盡自愈名為鬼祟實蠱毒也授以治法其爭遂息近世婦人中蠱自盡興訟者多夫家往往破產為上者照洗冤錄各法驗之以釋其疑功德庹詎量哉</p>
<p>一人為長者壽而祝以哭家人怪之求余診曰六脈微細不可為也即治亦不過為後人除害耳治出蠱蟲以千百計一口以絳囊震之噴出火光一道追而視之乃枕中蕎麥皮也蓋人之靈氣通於枕中元氣既衰則鬼氣來伏因而連入人身經真火煆煉故震之有光也侍者復見異禽巨蝶而未能撲獲可知用藥治病必藉人之元氣乃靈元氣衰不能助藥猶之乎藥力微不能治病也</p>
<p>一婦十九歲風癲不省人事其家以牛車載來求診六脈不遲不數浮沈皆得元氣充實也授以殺蠱重劑病遂已一日覺鼻中有物呼人視之乃蠅從鼻出又覺耳中有物則蜂從耳出時固未啟蟄也其家述於余復授以外治諸法一日目中蠕動出一小虎綿綿為之跳躍而下捕納玻璃瓶中又覺額上作癢跳下一小西洋狗黑白花項系金鈴捕未獲又覺脅如針刺擒得之乃紙人紙馬也並拘入瓶鄉鄰聚觀非馬乃獅子象猶顫動如生次日晚有巨蝶五從門隙飛入挾瓶欲遁家人共撲以帚瓶落蝶乃飛去遂掘坑埋之此後寂然病良巳</p>
<p>一婦六十餘當見床上有小兒手足重疊以百數侍者亦往往見之求診六脈皆實授以殺蠱重劑囑勿多服恐氣血袞不任攻伐也其甥觀其效擅取十餘帖服之竟愈</p>
<p>一婦病癲母家來省乃待刀作鬧翁姑鎖之室內少頃遠鄰來呼曰快喚汝家風媳婦在我家作鬧多時矣封鎖如故不知其何以出也其家怪之以牛車載來求診六脈皆實投以重劑而愈</p>
<p>一士人患鬼迷目赤耳焦脈如釵股授以殺蠱之劑其親友嚇之曰必治汝矣病者懼傍晚欲臥己褪褌侍者進藥失病者遍覓不得跡至安平相距二百餘里轉瞬至著一破褌問之云一老人與以遮羞倏不見家入欲面謝遍訪無知者其家再求診病者曰如強我服藥又去矣家人懼而止因知俗言鬼駕亦中蠱也</p>
<p>一時驚傳妖翦雞翎是仍剪髮故智也預以雄黃硃砂拌雜糧飼之當免蓋雞羽燒灰揚之可召天風黑狗皮燒灰揚之可止天風妖人或翦此以資呼風之術歟</p>
<p>深澤縣某路遇賣翦者以錢四文易一鐵翦喜甚歸示家人乃紙翦也余聞之曰徐觀其異其家必有中蠱者隔年餘忽失一媳遍覓不得訪舍下令歸求諸井必得之後果然</p>
<p>一土人見逃荒者紛入客庭談笑大作其長者趨視之竟□然訪之鄰佑並無見者急歸家而鬼已入腹矣然心終不惑遍求治法嘗見多人往來識其妖也力疾捕之後漸以少聞餘名求診六脈如釵股而年逾五十不易治暫以薄荷油點舌下腹中二豎相語一操蠻音曰汝出迎看如何一操北音云我出被傷歸遂飲泣為針諸蠱穴撥針作響蓋蠱帶席篾等物伏於經絡針已及蠱蠱不能脫氣血往來衝動故作響也旁一廚夫素習符咒愿治病者許之及作法二豎大言曰汝法尚不及我奈我伺廚夫懼而退余復授以解藥而去今聞病漸減為人訓蒙師是即所謂邪不侵正者歟</p>
<p>一學生病瘟初愈元氣未復適聞余與江西黃姓妖人為敵出而觀之遇妖婦以指點之歸家病作其家未暇求診也迨妖人已逐出境隔數日矣始求診余曰中蠱矣何不早言合取藥略為施治怪異迭見病者欲飲其祖母為取涼水方置椅上而水已翻滾其母瞥見床下有黑犬病者即呼逐犬覓之無蹤授以擦法出犬毛絲線等物納諸瓶中牙縫復出一蟲海參狀四足其祖待以視余未及入門轉瞬飛去再診囑其家人曰元氣做矣恐弗救一旦氣絕肋下猶出犬毛無數死之狀與洗冤錄所載悉符合家驚惶未暇埋其瓶棄水中至夜瓶仍還故處問計於余囑令熏之乃安</p>
<p>近來蠱症甚多皆系舊病復發投以解藥無不立效而巢穴既深根朱難拔且病家類多柔懦不能自振近有人晨睡倏不見旋於隔鄰櫃中得之鄰不知也其象凶很家人縛以求治授以吐下諸法約次日改方隔數日杳無音信聞其母不忍強令服藥蓋陰之為性安無事而惡有為故易爻以干母之蠱為難由此觀之溺愛者不能治其子之蠱懼內者不能治其妻之蠱</p>
<p>光緒八年有妖人率眾詐稱逃荒衣服飲食奢侈無度偽造路票各縣求用印信男女頭目各帶小鏡名卜財鏡傘笠自障以鏡照水即知財物所在以法攝取人皆知為妖失事者則閉目搖首諱匿不報官亦不能捕也一日余他往妖人適至速歸呼家人檢點失銀若干錢票若干妖人固未入室銀封未動錢票在匣未開也妖人速行將遁余呼家眾鄉鄰共追之不約而會者數千人擒其僕從渾身刀瘢皆百戰餘櫱詰以盜不服詰以放蠱即服甘以原贓奉還婦女口供沿路害人暗帶銅炮洋槍等械有閉眼沙能迷人目以冷水噀之即開並有退兵法或謂贓賊俱獲且有實供宜迭案究治稟已具矣縣主諭以省事差飭出境縣主面稟府憲行知各縣不準給用印信百里內頗覺安靜稍遠則故智復萌矣余嘗論衣服襤褸沿街行乞者真難民也糾眾同行如僧道惡化以逃難為生意者非難民也身帶路票詐為大言直入人家不顧羞恥乃藉逃荒以放蠱者是亂民也古今來始以放蠱害人繼以妖術聚眾釀成逆案者多矣初起時兵勇為敵所駭猝不及防往往致敗曠日持久始得平之夫善用兵者平日登壇講授令兵勇曉然於妖術之不能成事紙兵之不能殺人咒禁槍炮之不能持久一旦臨敵則嚴陣以待之出奇以撓之乘其懈以擊之賊勢雖張軍心已定即令呼風作霧走石揚沙暗有陰兵則有猛獸皆幻象也或用噴筒加藥以熏之或於營門磔狗以御之主將身先士卒有進無退前隊加是後隊復然此知已知彼百戰百勝之道也善用藥者亦宜於平日講明歐蠱之義令世人曉然於蠱毒之不能使入生死一旦臨證初則吐之級則下之病久別和解之或針之或灸之或擦之或搓之或震之或熨之勿詫其異勿畏其難且一切治法俱勿令病人知所謂出其不意攻其不備而蠱可歐矣然後知良將用兵與良醫用藥其理同也此錄成已付手民時有中蠱者病作投以湯劑授以針淺乃一雌蠱力不能支遁去次日病復作云老師到決不畏針針之果無益遂以敗鼓皮重劑復授以灸法蠱懼灸乳後三寸至四十壯乃泣逾五十壯乃大哭問其籍貫曰深州某村某姓名傳習白蓮教材中同教共幾家雌者乃女氣既衰教匪之黠者因而玩弄之其中蠱則在愛姬翦發時也至於卜瞽入山署中王者皆妖人之幻象殆如海市蜃樓矣不然貪婪勝韓公者不少烏得如此王者而盡攫之哉某縣某公有廉稱會給妖人路票鈴印未幾調署他邑民感公之廉以車送之甫半途車自覆行囊封志如故而失數百金余聞之曰某公氣衰中蠱矣果以風顛卒此事與韓公相類故並論之</p>
<p>聊齋志異曰白蓮教某已經捕獲解都路遇巨人吞其全家篇末作未了語是明知為幻術矣爾時兵土拔劍逐之巨人當應手而僕惜乎其未也</p>
<p>劉海右歐逐之妖確是蠱鬼蓋中蠱拔出白毛則病咸李士材治傳屍亦以紅中覆手用乳香燒姻熏出白毛為臉至謂海石為仙敘述離奇絕不類蠱非傳聞之誤則留仙之用筆失之也</p>
<p>嘗論滕縣趙旺惑于徐鴻懦以至旋滅而其女小二乃以聰慧得脫至於紙鳶紙衛紙判皆白蓮故智特正用之故不覺其可憎耳吾願習白蓮教者勿羨趙旺之稱善人而以小二為宗焉可也</p>
<p>魘媚之術不一或投以飲食則人迷罔相從而去俗名打絮巴江南謂之扯絮或謂之高腳騾子北方則曰拍花其在途也男女多至數百口託詞販賣俗名術拐間有免者間之曰被迷時覺大地昏暗兩旁皆虎豹或皆江河只中間一線路遂不覺隨之走也今則改稱逃荒不必捌騙而其被禍更酷因憶秋坪新語載某兵部侍郎葉公之婿於康熙甲午年出門送客忽狂奔入城內見道旁水掬入口即僕其僕追至以車載歸而辮髮已翦醒乃言此初送容升車欲返見一人戴笠對之而笑心已無主渠復招手前行遂從之身兩旁皆肉紅色中只一線路渴極瞥見道旁水飲之而僕其人來挽有一拄杖老人喝之逐不見據此兩旁皆虎豹或江河皆一類也翦發豈有異術乎陸雲士峒谿纖志廣南苗民其婦人能變為羊夜出害人有能為幻術易人骨肉者明時有慕客被苗民易以木腿官究其事苗民懼各還其腿因憶袁子才記某軍門有裨將極驍勇倏失一腿懸榜募醫能治者賞千金一人以紙腿補之遂如初即此術也苗民善造蠱故能之</p>
<p>趙寄元云沅江土司善造蠱凡郡守蒞任例必設宴迎風毒已久入腹在任理事毒不即發但兩目變藍面色微黃類浮腫離任十月則闔門皆死宦遊南方者皆宜如此</p>
<p>又云緬人之蠱不用藥而用鬼世傳神咒能於四十九日咒牛皮黎頭鐵如芥子藏於指甲對人彈之蠱巳入腹復誦神咒則毒發腹脹而死土司中有楊招把者亦能誦神咒則拔蠱毒活漢人而殺緬人佛書所謂毒藥乃藥物還加於彼人也近時傳誦之咒亦是此意但心不誠則不靈耳又云永平縣一老嫗號蕭歪嘴有異術能解蠱以藥取吐大吐二三日毒盡乃止年逾五十者不治以氣血既衰不任吐藥也按此嫗無他謬巧即吐蠱法耳萬曆丁亥金臺有婦人以羊毛遍鬻於市倏不見未幾瘟疫大作死者甚眾一道人授法以涼水和蕎麥麵周身搓之應手可愈或謂此婦為散瘟而不知實為效蠱今之感此證者則余所謂毒以類化也</p>
<p>滇中有留人洞其人善造蠱俗傳山左賈入留洞中忽思家洞人許其歸剋期必返否則死歸語文妻其妻曰見伊家何所畜曰多畜鼠其妻曰是矣家有一描殺而食之下鼠數升而愈此生蠱也吐之亦效</p>
<p>袁子才云畜蠱能糞金銀獲重利此說恐未確蓋蠱能攝取金銀不必能糞金銀也放蠱有光如電則凡蠱皆然至於朱依仁之頂上蝦蟆即生蠱也以金針刺之可愈他如蔣生以周易撲獲紙人李侍郎之子焦孝廉之妻鬼狐入腹儲公子之几上弓鞋張孝廉之婢入鼠穴皆蠱類也</p>
<p>紀文達從兄懋園有朱漆藤枕買多年矣常聞有聲剖之一蜂飛出枕四圍無針芥隙文達以為理不可曉不知此即蠱也余見蜂從耳出蛹從胸出一切雜物度其必不能入枕終從枕中搜出者多矣獨何異於此蜂乎如謂數旬不食何以存活則中蠱之人亦有數旬不食者矣又何異於此蜂乎</p>
<p>徐公景熹官福建鹽道時有清廉稱署中篋笥常見火自內發炯鑰如故又竊翦其侍姬之發文達謂此公氣衰山鬼作祟不知其實為毒蠱也世人每云邪不侵正觀此則敢於侵正者乃所以為邪歟</p>
<p>文達又云鬼在腹中余所聞見凡三事一為雲南李編修衣山與腹中魅相唱和所謂因其性之所近也正一真人劾治弗能遺竟風顛終身一為宛平張鶴友之幕賓史某鬼入腹中一為平湖尼有鬼在腹談休咎此亦因其性之所近也或云狐媚或云夙冤不知皆中蠱也即云狐也亦狐蠱也真人劾以符咒故不效投以殺蠱重劑即愈矣蓋用符譬如傳檄用藥譬如開仗賊勢盤踞未深主帥先聲奪人傳檄可定迨賊勢已熾必須札硬寨打死仗方能成功然不免玉石俱焚之慮李編修工詩蠱亦工詩邪正混淆合而為一第用虛喝終屬無濟攻之太猛蠱去而元氣必傷如雲為後人際害非病家主持不可良醫不得專之故真人亦不能劾之也</p>
<p>紀文達之從舅善鳥銃當見小旋風裡一物火光熒熒舉銃中之乃禿筆一技管上微有血漬明人小說載牛天錫供狀事言凡物以庚申日得人血皆能成魅余謂以點紙人之血點於筆管則為筆蠱故能乘風放光也然則伏內庚日採取青蒿即能伏鬼理亦相同歟</p>
<p>文達云有人患狐祟延術士禁咒狐去而術士需索無厭時遺木人紙虎之類作擾賂之暫止隔旬復然此亦造蠱法也以藥歐當已</p>
<p>又云孺受先生嘗見一蠅飛入人耳中為祟能作人言惟病者聞之或云非蠅作魅乃魅化為蠅不知此亦蠱也近時此證頗多按蠱治之無不立效又何疑乎凡說部中諸如此類不可枚舉勿詫其異勿畏其難而以藥歐之是在良醫之善悟耳</p>

<h1>附錄</h1>
<p>近時毒蠱盛行猘犬較多於昔其中毒亦不在咬傷之輕重有傷極重而不中毒者有僅傷衣襟而中毒深者頂心見有紅髮即拔去之其毒七日一翻頭痛發熱神氣昏迷每翻加重不急治之過期必死經驗良方詳錄於左</p>
<p>一方用枯礬（四兩）　黃丹（四兩）　胡椒（男八女七，十粒）　共研細末以陳酷和藥作窩加釜隔紙七層覆肚臍上紙閒剪一小孔露臍病者（男以左手，女以右手）覆之加被取汗汗透即愈</p>
<p>一方用胡桃半枚挖作空殼以小兒糞填滿覆患處隔姜一片灼艾灸之病者心慌即止改日再灸毒即入心亦能拔出</p>
<p>一方用防風（七錢）　浮萍（七錢）　真虎骨（七錢）　傷頭用頭傷足用足或加杏仁銀花庚蒿雄黃之類或因證加減或以打死猘大之棍頭作引尤妙此方可常服病愈乃止</p>
<p>一方用牛角一枚以麝七釐納入角尖以麵糊口于山炭火中燒灰存性取尖研細黃酒沖服汗透即愈</p>
<p>一方用蕎麥麵加淡豆豉末以水和勻蘸香油環搓患處或搓周身搓出犬毛為度日日搓之毒淨自愈以上諸方內治外治不妨並用治之得效亦無禁忌尋常犬傷以熱牛糞塗之極妙即塗猘犬傷亦有愈者但不如汗灸服藥數方</p>

<h1>跋</h1>
