<header data-type="book">
<h1>焦氏喉科枕秘</h1>
</header>

<h1>序</h1>
<p>醫之為道。切於民生日用。理近而事難。故古人有司命之目。自仲景著一百十三方。後賢纘而衍之。湯液之方。遂加於針石。迨子和、河間、東垣、丹溪輩根柢聖經。發揮心得。學者益氾濫沉酣。准方施治。而針石之法乃日微。吳中金君保三。業軒岐家言。能貫穿於靈樞、素問、秦越人八十一難經。以意為變化。心殷濟時。為士大夫所推服。近得喉科枕秘一書。針石與湯藥並施。審症繪圖。曲折詳盡。特以無副本傳世。為此商之孫君云齋。云齋遂引為己任。鳩資以付剞劂。將緣起弁其首。予謂喉以納氣。通於天和。咽以納食。通於地道。會厭管乎其上。以司開闔。實為心肺肝腎呼吸出入之路。聲音吐納之道。關係生死。為任綦重。先民有言。咽腫屬痰。喉風屬火。治法宜祛風豁痰。解熱開鬱。乃無遺誤。若猝投辛散。煽動風火。必至增腫腐灼。陰陽絡失所養。遂不可救藥。今觀是書。參合證因。條列治要。錯綜疑似。縷晰絲分。令人一望而得療治之法。有補於民生日用為何如耶。針石之有裨於湯液。為何如耶。固宜不脛而走。群奉為枕中鴻寶者矣。雖然。陰陽相貫。如環無端。營行脈中。衛行脈外。倘脈理之偶淆。即洞垣其誰屬權衡乎。病之淺深。治之標本。選用成方。能奏奇效。刀圭所授。立起沉疴。是在善讀書者。</p>
<p><u>同治七年龍在戊辰孟春月永康應寶時撰</u></p>

<h1>卷一</h1>

<h2>治喉秘法</h2>
<p>夫喉咽之症。用藥須知緩急。行針貴識頭尾。如牙關緊急。通關散可施。風毒痰壅。追風散當用。三黃涼膈。有消痰降火之效。二陳荊芥。有豁痰驅風之功。潰爛必須內托。收成全賴生肌。麻藥用於未針之前。秘藥用於既針之後。箍藥敷之紅腫散。水藥服後郁痰行。洗藥去舊生新。熏藥伐邪存正。吹藥施於痛時。刀針用於腫處。雙單蛾生於咽門。而圓小無膿。吹本行針。有膿挑破自愈。可服涼膈等湯。喉疔花疔。形似靴疔而差長。上麻藥而鉤住刀割。用鐵烙而吹秘止痛。內托自消。紅色可治。黑色難療。癰之雙單。耳下腮邊或腫。治同乳蛾。潰服內托。雀舌左右形小而尖。喉中舌底有痰。治類喉疔。只服三黃。鈿舌蓮花。靠舌根而起中。不可用針。纏舌喉風。口噤舌卷腫大。三黃涼膈不可緩。緩則難痊。蛾之雙單並死活。日久脹大。作痛無時。用刀細割一層。搽爛藥於其中。切勿吞下。須吐出。吹秘一月。方見其功。用烙烙之。三黃可服。至若走馬牙疳。喉疳口疳結毒。牙齦紫腫。臭穢不堪。必吹本秘。生肌在用。午後年干漱口。臉腫頭搖。咽乾音啞。身熱唇穿。落牙無血。俱為不治。服土茯苓末。自有奇能。喉單似蛾尖而小。宛若牛乳之狀。氣單似梅核而小。用其四十九針。回食單。即甸氣。生蒂疔兩旁。紅起當中名梅核。吐不出而吞不入。梅核用針。甸氣用三黃十八。兼用二陳四七成功。重舌舌上生。可刺金津玉液。蒂疔腫後號懸疔。吹秘勿針。藥服三黃與犀地。死舌名木舌。堅硬不能舒。咂舌癰。生喉中。能令舌短難語。有痰先用追風。癰頭必須剔破。初服三黃。久宜內托。白紅紫色猶堪治。黑色腫時魂魄離。兜腮癰。生腮下。外敷金箍散。內服十八方。膿從口出易治。膿從腮出難痊。膿生火針刺。肉爛秘生肌。螓舌有心。黑宜挑去。更服三黃涼膈。間用秘本吹之。收功仍用生肌。飛瘍立時而起。喉痹頃刻而治。此必先探吐。本吹刀刺何傷。鎖喉風。牙關緊急。手足登開。先刺四穴。以辨生死。次浴手足。以開脾胃。或刀或針。血去腫消為上策。纏喉風。眼白麵紫。項腫不言。勢如角弓反張。命在須臾而難保。探痰刺血病根除。喉球相牽似綿。可服益氣疏風。再用麝香調服。兼吹本秘追風。骨槽風如口噤者。治之先吐風痰。垂下五分灸七壯。清陽散火療之愈。舌下痰癰刺青筋。膠涎隨出如蛋清。加味二陳湯。清熱如聖散。用之皆靈。喉中有瘜肉。壅塞相重疊。枸橘湯、雄黃末。飲搽最妙。出汗生癰。腫黑生癰。左右陰瘡。三般無異。金箍散。十八方。敷之服之相當。氣癰喉痹。酒毒喉痹。二者同塗。金鎖匙。三黃散。吹飲即愈。大抵吹藥本下過。刀針秘復吹。余腫不消用均末。刀口難完上生肌。喉中氣味人中白。追取風痰金鎖匙。水藥時含口。冰梅頻咽津。抑火三黃涼膈散。消腫須知十八味。內托千金散。化痰二陳湯。虛火血虧從四物。陽虛氣弱四君當。惡寒須解表。便秘必疏通。此是喉科真要訣。學者必得盡心功。</p>

<h2>治喉要訣</h2>
<p>一針手足辨陰陽。鮮血迸流命自長。若是些些黃白水。預知旦夕見危亡。二從耳下頸腮中。慢說麻絲細刮紅。方用眉刀患處割。鮮血多者不為凶。三針舌下小青筋。血出鮮紅病體輕。黑腐成條絡是死。胸中結熱把痰清。四般惡症曰懸癰。重齶纏喉並鎖風。熱積風痰胸膈結。三黃行下自疏通。五內虛邪火上行。欲教分散須施針。少商曲池頰車穴。男左女右辨分明。六用追風散取痰。痰如清水不多湲。連吹本秘寬胸結。涼膈追風及早啖。七從頭尾可行針。切忌中間根上行。鮮血多來休慮遠。黑而少者不長生。八刀割患要深知。麻藥先從患處吹。撐口中間勾搭住。連施刀法莫狐疑。九行烙鐵要除根。炭火桐油一處焚。只待燒紅方細烙。連將秘藥上安寧。十全灸法在風池。五壯原來甚得宜。再把頰車加幾壯。少商灸罷曲池隨。</p>

<h2>臨症二十法</h2>
<p>凡咽喉無病。其色淡紅而白。不高不腫。一有患處。必紫而腫。試病之法。或癰、或痹、或蛾。認不真。只吹本於外腫處。下刀針。次吹秘。無有不效。如不腫。只外痛。乃風熱太甚。先宜疏泄。後用清化。若喉痹。不須下刀針。吹本秘。服三黃湯三四劑自愈。</p>
<p>一、蒂疔在喉中。為人之主。用刀用針用烙。切不可犯之。犯之必死。</p>
<p>一、重齶。自上齶腫起至舌。風熱過甚。早治可生。遲則湯藥難進。</p>
<p>一、懸疔即蒂疔。腫起垂下。懸塞喉中。刀針難施。</p>
<p>一、蘊積熱毒。喉中有大小諸瘡。謂之珍珠毒。口乾起稠痰。辛苦或作痛。吞吐不利。吹本秘挑破出血。服學士湯。</p>
<p>一、針之法。先捺倒舌。針靠撩舌根輕輕一挑即出。切不可慢。恐病人低頭吐痰血誤事。遠遠刺去。須防蒂疔。</p>
<p>一、烙鐵。用紋銀打茶匙樣。用陳艾包烙鐵外。以棉花包住。蘸桐油。燈火上燒盡無煙。擱在燈上。取圈撐住口。令人扶住。捺定舌根。使人刮淨烙鐵。看真患處。連烙一烙。即出。不可緩慢。恐傷犯蒂疔。烙後即吹秘藥。解熱毒。又一烙法。將炭燒紅。入干艾。烙鐵放艾上燒紅。依前法治之。須眼明手快。</p>
<p>一、夜深看病用燈。著人站於醫生腦後照看。方見喉中。或喉小。病在喉下。看不真。勿下刀針。只吹追風本秘數次。待天明再看。</p>
<p>一、天陰忌用刀針。恐看病不真。或傷好肉。待天明朗。借日光以助眼力。方可看治。</p>
<p>一、針少商穴。果系病篤。方針其穴。在大拇指角尖。離一韭葉許。</p>
<p>一、頸外腫甚。方用水藥。滾下其痰。若不甚腫。用之非宜。</p>
<p>一、牙關閉緊。不可即用圈撐口。先用通關散吹鼻。俟口略開。用薄小木片撬入。吹追風散去痰。口又略開。方以圈扁入。緩緩撐起。令人扶住。捺舌於圈內。細看何症。方可用藥。</p>
<p>一、用刀割。須令病人仰面。後使人扶頭。捺住舌。些些細割。勿傷好肉。</p>
<p>一、癰蛾疳疔等症。紅暈可治。黑色必死。</p>
<p>一、疳瘡爛深。不必用刀針。只吹本秘數次。如腐肉多。即用頭髮扎一小刷。將黃連黃芩煎水去渣。以刷蘸水。刷盡腐肉。即以此水漱口數次。吹秘止痛。不然。藥氣不入。</p>
<p>一、疳瘡爛透頸外。用藥熏。熏藥作捻子入竹筒。筒口如瘡大。一頭蓋瘡。一頭熏之。煙衝入竹筒。漸透至瘡上。以七條為度。口含甘草湯解毒。恐毒入內。致生別症。熏後忌發物。</p>
<p>一、面赤。目睛上視。不治。</p>
<p>一、頭低。無精神。不治。</p>
<p>一、臭似煙煤。不治。</p>
<p>一、鼻中入氣少。出氣多。不治。</p>
<p>一、頸下腫甚。蜜調藥敷之。常使水濕。勿使藥干。</p>

<h2>焦氏喉症圖形針藥秘傳</h2>
<figure>
<img alt="鎖喉風圖">
</figure>
<p>按此症因風熱蘊積。或酒色勞力。生於喉中。如鎖喉樣。有單有雙。雙者治必先探風痰。或兩邊俱無形跡。只是白色。疼痛難以飲食。名曰鎖喉風。口噤先用通關散。吹鼻內開口。次針少商穴。喉內用六針。吹風取痰後。吹秘。宜速治。若痰涎壅塞。手足反張。熱水洗溫。重者服三黃湯。或用甘桔。加荊防銀花即愈。</p>
<p>鎖喉口噤通關散。追風散後用刀針。少商針罷針六穴。膿血去後吹秘神。更服三黃加甘桔。荊防銀花入更靈。</p>
<figure>
<img alt="白纏喉風">
</figure>
<p>此症因積熱久。或煎炒傷胃。冒風勞力受氣而起。其症眼白耳赤。面腫腮紫向下。患此者。死於旦夕。延一二日。慢風也。先針少商。用追風散取痰。次吹本於腫處。下刀針。去膿血。吹秘數次。服三黃湯。多加荊芥防風銀花。如背朝天。面朝地。手足登開。口亂言。角弓反張。口難開者。</p>
<p>先吹通關散。如鼻中使嚏則口開。如不嚏是風火太甚。再吹一二次。等半晌自嚏。口開。剪刀撬。以圈側入捺舌。吹追風散取痰。吹本於患處。下刀針。又吹秘。服三黃湯。吹秘加生肌散。</p>
<p>纏喉風腫噤難言。左右腮邊腫赤兼。手足登開面朝地。吁嗟立刻喪黃泉。先探風痰針四穴。旋吹本藥刺喉間。秘吹用服三黃散。有膿內托即安痊。</p>
<figure>
<img alt="黃纏喉風">
</figure>
<p>此症受病治法同前。在蒂疔後有膿。用鉤刀鉤破膿出。吹秘。服三黃湯二劑。次吹本秘均。加冰麝。破爛吹生肌。如膿不出。服千金內托。多加銀花。如蒂疔人身之主。刀針烙鐵。切不可犯。如疔腫。只可以吹藥。服三黃涼膈。或蒂丁紫腫。用甘桔俱妙。</p>
<figure>
<img alt="兜腮癰圖">
</figure>
<p>此症寒濕風毒。而生腮下兩邊或一邊者。如口內腫吹秘。用刀去血。日久去膿。初起頭疼發熱惡寒。服荊芥防風敗毒散。後服學士湯。日久不得消。千金內托。外敷金箍散。或以火針去膿。膏貼自愈。</p>
<p>兜腮風毒因風熱。左右腮邊多腫結。口內腫甚宜針血。初起頭疼發寒熱。荊防敗毒何須說。</p>
<p>瀛洲學士及千金。敷用金箍奇妙訣。</p>
<figure>
<img alt="纏舌喉風">
</figure>
<p>此症受風熱濕毒。或因風勞酒色而起。下頦俱腫。口噤舌卷腫大。上有筋如蚯蚓之狀。生黃刺白胎。如咬牙不開。宜針少商。出血可治。然血白黃水不治。治者先探風痰。次刮舌胎。吹本。刀刺青筋出血。宜針玉液金津。出血漱淨。吹秘。服三黃湯涼膈散。一二日可治。日久有膿。服千金內托散。如木舌短大者。吹追風散。（頭搖勿治塊黑難治此症死者多先針四穴。）</p>
<p>纏舌喉風頦腫生。先刮舌胎刺青筋。旋探風痰吹本秘。再針玉液與金津。口噤舌胎是黃黑。宜刺少商出血輕。三黃涼膈初宜進。膿成內托用千金。</p>
<figure>
<img alt="走馬喉風">
</figure>
<p>此症食熱物。或酒或風而生。先針四穴定死生。吹追風散取痰。又吹本秘於喉內。並齒爛處。舌卷擦追風散。或吹本於舌上。針舌下三穴。不卷不針。二陳三黃涼膈。多加荊防。若頭搖牙咬牙落頭腫疔破者。諸不治。語言清楚。年輕體壯。猶可施治。用白午後。年干。炒灰為末。吹上止痛。再以午後取汁。同年干追風。合漱。服三黃。加荊防。頭劑可用。後劑不可用。記之。</p>
<p>走馬喉風生舌下。迅如走馬入喉中。先針四穴還吹秘。噙取午後及追風。清心舌下針三穴。有痰吐去氣宣通。二陳涼膈猶宜用。頭搖疔黑總成空。</p>
<figure>
<img alt="雙乳蛾">
</figure>
<p>此症外受風熱。內由氣鬱而起。蒂丁兩邊腫痛。飲食不利。口噤難言。痰涎壅塞。形似乳頭。故多名乳蛾。治者用元明粉醋取痰。吹本。刀刺出血。吹秘與本。服三黃涼膈散。有膿去之。服千金內托散。吹生肌散。服桔梗湯更穩。</p>

<h2>單方</h2>
<p>用蟢子窠十餘張。瓦上燒灰存性。點三四次即愈。或土牛膝草根。搗汁含口亦妙。鮮薄荷一撮。洗淨。搗和醋汁嗽口。吐涎即愈。荔枝草搗碎。水煎待溫。含漱口。吐涎立效。</p>
<p>雙乳蛾生喉兩旁。皆由風熱痛驚慌。痰涎壅塞水難入。探吐風痰本藥當。頭尾小刀宜去血。秘加均末服三黃。日久有膿千金散。收口生肌極妙方。</p>
<figure>
<img alt="單乳蛾">
</figure>
<p>此症因風熱勞鬱而起。於邊痰涎壅塞甚者。手足冷。頭昏沉者。用玄明粉醋取痰。吹本去血。吹秘服十八味。或三黃湯。若五六日。服千金內托散。鼻吹通關散。膿自出。灸合谷穴。用均秘生肌。如腫不省人事。命欲絕者。用吳茱萸。米醋調敷湧泉穴。</p>
<p>單蛾勞鬱熱風因。腫塞喉中似乳形。頭目昏沉手足冷。探吐風痰吹本針。十八神方能散毒。有膿內托用千金。膿成畏刺通關散。吹入鼻中膿自淋。</p>
<figure>
<img alt="喉癰圖">
</figure>
<p>此症食炙爆厚味醇酒。胃火上衝。生於疔旁。腫痛與蛾相似。圓而小。癰塌而長。耳根腮下俱腫。項痛牙疼。治法同前。如腐爛。先服十八味一劑。吹秘。次將本與生肌。又用童牙血青黛末。合吹最妙。</p>
<p>積熱喉癰厚味因。疔旁腫痛若蛾形。本吹去血還吹秘。三黃學士細評論。七日膿成內托散。通關吹鼻免刀針。秘合生肌收口用。管教起死立回生。</p>
<figure>
<img alt="死乳蛾">
</figure>
<p>此症受風熱鬱怒而起。喉中緊。靠蒂疔。不甚痛。飲食有礙。若勞心。不忌口。不避風。日久不治。長塞喉中。漸加氣悶。以致殞命。治者用刀橫刺。必要長大。待血盡。入白藥於刀口內以爛之。每日行刀用藥一次。吹本秘護之。逐日如是。爛盡下烙。以平為度。服涼膈散甘桔湯十餘劑。忌煎炒雞魚豆腐牛肉犬肉。生風發熱。宜服水藥拔毒。</p>
<p>死蛾鬱怒起咽中。不痮不痛塞喉嚨。日長日增能閉氣。損軀殞命最為凶。吹本用刀須割去。均末頻吹遂日功。患上將平方不烙。二陳三黃喜氣隆。</p>
<figure>
<img alt="乳蛾核圖">
</figure>
<p>此症氣惱鬱結不伸而起。喉邊形起乳頭。遇陰天。勞神氣惱。頸外如繩釦住。飲食不下。呼吸不利。日久年深。則蛾下起黃皮或白皮一條。長入喉底。治者吹本。用鉤鉤住皮條。細細割盡無影。如割未盡。服桔梗二陳湯。消盡下烙。忌青菜。刀口不收。生肌散加冰片吹之。初起未有如嫩骨之皮。吹本。刺蛾。吹秘。服劑同前。或久甚。如嫩骨之黃皮長入喉內。以至於服藥。則不能治矣。</p>
<p>喉中生起乳蛾核。氣鬱於心由此得。長在喉中似乳頭。天陰勞氣如繩赤。呼吸不利飲食難。日久月深成嫩骨。吹本刀割待無蹤。方平下烙將蹤滅。宣通桔梗二陳湯。收口生肌卻有益。</p>
<figure>
<img alt="喉疳圖">
</figure>
<p>此症受風熱。或食炙爆受毒而起。老者難愈。少者易痊。先以白午後汁二杯。年乾末三錢七分。含漱拔毒。少頃吐出。不可嚥下。含止痛。次以秘。加冰片麝香珠粉牙末合均吹。服學士湯。加大黃三錢二劑。壯盛者即服土茯苓十二三劑。時含前藥。色轉紅者治。否則不治。或三黃湯三劑。若爛洞。吹生肌散。止痛後。用紫雲煙燻之。口含甘草湯解毒。忌生羊肉。與煎炒發物。</p>
<p>喉疳熱毒心腸傳。可憐臭爛不堪聞。噙用年干加午後。秘加珠片射吹頻。初服大黃加學士。三黃土茯末回生。紫雲熏口功奇妙。收斂生肌止痛靈。</p>
<figure>
<img alt="開花疔圖">
</figure>
<p>此症因夏天滴鼻汗於豆腐內食之。食穢惡自死禽獸肉。或食水缸內日久生毛米糝。或因怒氣而起。形若花疔之狀。色紅易治。黑者難治。搽追風散數次。轉紅可治。如大而硬。鉤搭烙。吹本止痛。吹秘服千金內托散。再吹生肌涼膈散。或甘桔湯二劑。如較少。只用挑去紅筋。搽本自消。</p>
<p>開花疔因怒氣生。狀若開花取長名。吹本用刀平割去。秘搽下烙病無形。三黃涼膈初宜進。千金內托治膿成。毒若內攻頻氣喘。疔形黑色命難存。</p>
<figure>
<img alt="喉疔圖">
</figure>
<p>此症原由治法。同上症開花疔。</p>
<p>喉疔因食毒穢生。長在喉中棗核形。紅易紫難黑不治。先用追風轉色生。用刀割去吹本秘。下烙能教病除根。三黃涼膈加銀草。有膿內托用千金。</p>
<figure>
<img alt="喉單圖">
</figure>
<p>此症食煎炒熱物。及受氣而起。喉內微腫而紅。初起吹追風散取痰。吹本於患處。針首尾出血。吹秘。服三黃涼膈散。日久有膿。吹本挑破。秘加生肌散吹之。服千金內托散。如膿不幹。吹本與追風。即愈。又一症形如狗尿。下刀去血。刀痕即合。刀割宜長。吹秘可愈。</p>
<p>喉單風熱喉中腫。頃刻水氣不可通。吹秘針攻頭尾穴。三黃涼膈早宜攻。日久膿成須內托。</p>
<p>加秘生肌最有功。</p>
<figure>
<img alt="回食單圖">
</figure>
<p>此症因氣鬱有痰而生。在喉中兩邊兩條紅色為甸氣。在喉小舌下紫紅色點如豆大。名梅核。若疔下無核。定在前舌根下。或在左。或在右。中必有青筋系在齶。或白色如蜆肉。似桃膠。兩邊紅筋垂下。久則前心後背疼。且噯氣。喉中若蟲行。骨梗噎氣阻食。或犯之即痛。治者吹本一二次。針去血。吹秘數次。將平則烙三四下除根。再吹秘以解火氣。乃灸喉下。初起一穴。久者三穴。深甚灸五穴。灸口內出煙為妙。如不出煙。九壯為止。先服十八味加減。入大黃三錢。行痰瀉火。年大者服酒藥二三十行。兼服二陳四七等湯二三十劑。大抵開鬱化痰。順氣利膈泄肺為主。若頭大而無血。謂之焦頭。若針不入。與甸氣垂下不見形跡。俱不治。前後心痛。當用火灸。甸氣用刀割。梅核用針。如灸稍好。喉中乾燥。要灸氣血三里穴七壯。足三里。在膝眼下三寸。脛骨外。大筋宛中。舉足取之。</p>
<figure>
<img alt="弄舌喉風圖">
</figure>
<p>弄舌喉風時吐舌。常時手弄命須臾。直刺少商流去血。隨吹金鎖即痰除。雄黃化毒須先服。</p>
<p>用刀刺腫秘時吹。疏風甘桔湯宜服。管教患者病消除。</p>
<p>歸尾　花粉　山梔　甘葛　荊芥　桔梗　元參　川芎　連翹　人參　枳殼　茯苓　陳皮　甘草　防風　黃連　秘十六　本十五</p>
<p>雄黃化毒丸九。金鎖匙四。</p>
<p>此症因熱毒積於心經。以咽喉乾燥無痰。妨飲食。難治。</p>
<p>順氣利膈湯</p>
<p>川芎　桔梗　黏子　白芷　花粉　黃芩　甘草　元參　防風　山梔　枳殼　烏藥　陳皮</p>
<p>用連根蔥一枝。燈心一團。水二盞。煎七分。食後服。如心肺間刺痛者。用當歸連翹散。加大黃利之。如久不食。毒陷能傷人命。</p>
<p>嗆食喉風熱積心。喉中乾燥立時疼。更無痰涎多氣喘。若還嗆食命無存。順氣利膈湯急進。燈心為引與蔥根。毒入肺間心刺痛。連翹散利妙若神。</p>
<figure>
<img alt="嗆食喉風圖">
</figure>
<p>此症七情所傷。鬱塞喉間。痰涎稠黏。身發熱惡寒。分上中下三關。毒在下關難治。上中可治。吹秘。服雄黃解毒丸。後服參苓順氣散。</p>
<figure>
<img alt="氣癰喉風圖">
</figure>
<p>參苓順氣散</p>
<p>人參　枳殼　紫蘇　粉草　陳皮　元參　桔梗　茯苓　蒼朮炭　白朮　烏藥　山梔　花粉　等分水煎溫服。</p>
<p>氣癰喉閉塞喉間。憎寒惡熱吐稠涎。雄黃解毒宜吞下。參苓順氣急須煎。喉內還須吹秘藥。何須祈禱拜神前。</p>
<figure>
<img alt="喉風圖">
</figure>
<p>此症因熱盛膈間。或過食炙爆厚味。以致火動痰生而起。治者吹本下刀。吹秘。服三黃涼膈散。有膿服千金內托。又甘桔湯。加銀花。腫不消。用均末。加冰麝吹之。</p>
<p>喉風積熱氣喉中。壅塞須臾氣不通。痰涎腫痛難言語。先將秘藥入喉嚨。用刀去血還吹秘。內服三黃涼膈通。膿成宜托千金散。生肌收口有神功。</p>
<figure>
<img alt="瘜肉喉風圖">
</figure>
<p>此症因受惡穢之氣。及風熱而起。喉間生赤肉。層疊腫起。有孔出臭氣。氣塞不通者是也。治法以秘。加雄黃人中白吹之。再以臭枸橘葉煎湯頻服。疊肉不消。用小刀刺去血。再以臭枸橘葉煎湯頻服。</p>
<p>瘜肉喉風生喉中。肉赤層層口臭沖。涎痰壅塞氣不通。雄黃中白秘吹入。枸橘煎湯服有功。不消刺血毒氣退。忌食酒腐魚蝦同。</p>
<p>此症痰塞於咽膈之間。故牙關不開。不能言。急用蟾酥化水滴鼻中。即開。桐油探吐風痰。再用甘草湯解桐油之氣。喉中赤腫吹本。下刀去血。吹秘。連服荊芥防風敗毒散一二服。面紫舌青唇黑。鼻流冷涕。甲面俱青。目赤多淚。不治。</p>
<figure>
<img alt="啞瘴喉風圖">
</figure>
<p>啞瘴喉風口不言。牙關緊急吐流涎。水化蟾酥滴鼻內。桐油探吐可安然。喉中有腫難直刺。荊芥防風敗毒散。</p>
<figure>
<img alt="風熱喉痹圖">
</figure>
<p>此症因積熱毒。又感風邪而致紅。微紫。其形若拳。面赤而目上視。壯熱惡寒。如傷寒。若聲音不響。宜用潤肺之藥。外吹秘。若外腫。以金箍散敷之。牙關強急。宜探風痰。發熱惡寒。服荊芥防風敗毒散表之。後服加四物湯。以滋陰降火。並用此方。</p>
<p>黃連　桔梗　貝母　甘草　花粉　牛蒡　射干　杏仁　薄荷</p>
<p>用水煎服。</p>
<p>風熱喉痹受熱風。忽生紅紫塞喉嚨。目睛上視有寒熱。荊芥敗毒表相攻。聲音嘶啞當清肺。四物滋陰藉神通。腮項紅腫金箍散。還將秘藥入喉中。</p>
<figure>
<img alt="喉痹圖">
</figure>
<p>此症熱毒傷心脾。二經之氣。通於口。循環上下。故咽喉腫痛而黃。其血黑。其形若臂。其腫如坎。面赤上視。治先探風痰。吹本秘。腫不消。去血。服黏子湯。若單痛不腫。無形可見。吞吐不利。先針少商穴。以定生死。又有結喉痹。舌根俱黑。甘桔湯。加乾薑附子各一分。一服自愈。有痰加貝母。去附子。如熱氣外沖。難以用藥。超本秘一匙於水上。令患人仰臥。灌入喉中。其熱即愈。</p>

<h2>治喉痹單方</h2>
<p>牛膝草根洗淨。搗汁。人乳少許灌服。不能服者。灌鼻內。</p>
<p>喉痹熱毒感心脾。咽喉痛閉最難醫。其形似臂腫如坎。目睛上視面如朱。治法探痰吹本秘。黏子解毒湯為妙。不消刺血秘頻吹。牛膝根湯頻漱之。</p>
<figure>
<img alt="陰毒喉痹圖">
</figure>
<p>此症冬日感陰濕火邪而起。腫如紫李。微見黑色。外症惡寒身熱。振動腰疼。頭痛。血紅可治。血黑不治。血微紅。腫處軟。有痰者可治。血黑硬。痰乾者。難治。先服化毒丹。次服蘇子降氣湯。吹秘。戒酒一月。</p>
<p>陰毒喉痹感陰濕。邪火相攻最為急。喉腫如紫李子形。外症惡寒其血黑。紅血可治黑難醫。無痰不治傳言的。化毒丹吞降氣湯。秘藥吹之神妙極。</p>
<figure>
<img alt="酒毒喉痹圖">
</figure>
<p>此症上焦心脾二經之火。因酒傷而起。形如雞卵。其色鮮紅。其光如鏡。壅塞喉中。發熱惡寒頭痛項腫。治者吹本刺血。次吹秘。內服黏子解毒湯。</p>
<p>酒毒喉痹飲酒生。紅塞喉間雞卵形。惡熱憎寒頭項痛。吹本去血得回生。黏子解毒加甘葛。不必他方把藥尋。</p>
<figure>
<img alt="喉閉圖">
</figure>
<p>此症外因感寒。內傷熱物。大寒後便入熱湯洗浴。將寒氣入脾經。冷氣阻於中脘。邪熱客於心經而生。卒然秘塞。氣不宣通。死者多矣。急以三稜針刺手腕中紫筋上。或刺少商穴出血。用雄黃解毒丸冷水磨化下。吹金鎖匙。出痰。服八正順氣湯。</p>
<p>問你因何成喉閉。為感風邪受熱氣。致令寒氣入脾經。邪熱於心卒然閉。少商手腕刺三稜。雄黃毒解試為最。金鎖匙散入喉中。八正順氣湯能治。</p>
<figure>
<img alt="傷寒喉閉圖">
</figure>
<p>此症因傷寒遺毒不散。八九日後。喉中腫閉。乃熱毒入於心脾二經之故。急服四七湯二三劑。吹秘。噙冰梅丸後。服蠲毒飲。</p>
<p>一人傷寒。舌出寸余。連日不收。用梅花冰片糝舌上即收。十者五愈。喉閉傷寒遺毒生。熱入心脾毒氣侵。先吞四七湯三劑。吹秘冰梅噙更靈。蠲毒流氣如方服。管教一服值千金。</p>
<figure>
<img alt="飛瘍圖">
</figure>
<p>此症受穢惡之氣。後因怒生喉中。卒然腫脹。漸至殺人。吹金鎖匙取痰。服黏子解毒湯。加紅花丹皮。若紅腫不消。下刀去血。吹秘。噁心腹脹者難治。</p>
<p>飛瘍因從怒火盛。或中穢毒亦能生。卒然腫脹傷人命。金鎖吹之效若神。黏子解毒湯堪治。加上紅丹服更靈。</p>
<figure>
<img alt="松子喉風圖">
</figure>
<p>此症因上焦風熱而起。形如松子。色若豬肝。口喉皆赤。張口吐物則氣逆。關閉不能飲食。用金鎖匙去痰。吹本秘。用小刀刺腫出血。再吹本秘合吹服三黃涼膈散。加荊芥防風。</p>
<p>松子喉風松子形。色似豬肝喉畔生。張口吐物則氣逆。飲食湯來咽不能。金鎖吹喉吐痰沫。秘藥吹喉即用針。急進三黃涼膈散。加上荊芥效若神。</p>
<figure>
<img alt="腳跟喉風圖">
</figure>
<p>此症從腳至於喉中。或一年一次。半年一次。其病一日行一穴。七日行七穴。發至喉中。如魚腦水晶之狀。先吹本。次吹秘。內服荊防敗毒散。發後腥惡者死。</p>
<p>腳根喉風從足起。七情鬱氣致有因。一年一次或二次。喉內生如魚腦形。本秘時時吹痛處。荊防敗毒散除根。發後痰腥臭穢死。醫者潛心仔細評。</p>
<figure>
<img alt="陰毒喉風圖">
</figure>
<p>此症受四時不正之氣。及非常暴寒。而生少陰症。脈微細而沉。自汗。咽不利。一名腎傷寒。切不可用寒涼之藥。宜用半夏桂枝湯。或苦酒湯。臟寒咽閉。吞吐不利。用蜜附子。</p>
<p>陰毒喉風脈細沉。自汗咽疼屬少陰。藥忌寒涼為要切。桂甘半夏得回生。苦酒湯能醫此症。一服須知妙若神。臟寒咽閉蜜附子。奇方妙訣出三因。</p>
<figure>
<img alt="喉癤圖">
</figure>
<p>此症生於雄尾之中。初起如梅核。在喉膈之間。乃七情所致也。用刀刺破。吹冰硼散。服雄黃化毒丸並四七湯。即愈。</p>
<p>喉癤緣由七情起。吞吐不利阻喉中。刺破吹上冰硼散。雄黃化毒有奇功。再服四七湯為妙。須教患者病無蹤。</p>
<figure>
<img alt="喉癬圖">
</figure>
<p>此症因受風熱。或飲酒太過。上焦火燥而起。喉之內外皆白。吹秘。服山豆根湯。</p>
<p>喉癬原來受熱氣。上焦火氣往咽攻。滿喉白色須吹秘。山豆根湯最有功。</p>
<figure>
<img alt="喉瘤圖">
</figure>
<p>此症肺經受熱。多語損氣。或怒高喊。或誦讀太急。或多飲醇酒。多食爆炙而起。喉兩旁。或單。或雙。形如圓眼。血絲相裹。犯之即痛。斂神息氣。以藥攻之則愈。勿用刀刺。吹麝香散。服益氣疏風湯。</p>
<p>喉瘤生在喉兩旁形如圓眼或單雙。犯之即痛喉中硬。養神晏息得安康。不可輕用刀針刺。益氣疏風是妙方。麝香散末時吹上。何必求神告上蒼。</p>
<figure>
<img alt="喉球圖">
</figure>
<p>此症因外感六氣。內傷七情而起。咽喉之內生肉球。如龍眼核大。有根如線五寸余長。吐球出。方可飲食。以手輕捻。痛徹至心。服益氣疏風湯。用真麝香二錢。作二次。水和服。或麝香散服三次。根化而愈。</p>
<p>喉球生如龍眼核。肉線相連妨飲食。七情六氣致根由。手扯肉球心痛徹。益氣疏風除病根。麝香散服奇功絕。</p>
<figure>
<img alt="風熱喉丹圖">
</figure>
<p>此症風熱。勞思太過。或對風言語。風入肺經而起。其色鮮紅。久而赤紫。治者以多去痰為要。吹秘。刺破。去血。火自瀉矣。服黏子解毒湯。去熱涼血。紫色轉紅。漸愈。風熱喉丹縈思起。邪風入肺致痰生。喉內鮮紅多腫閉。探痰吹秘用刀針。黏子解毒湯宜治。涼血祛風藥用神。</p>
<figure>
<img alt="氣子圖">
</figure>
<p>此症因氣鬱。及時風熱而起喉間。形如赤珠。或紫或白。犯之即痛。日久則嗌氣。治者挑破去血。吹秘。服清氣利咽湯。如火盛咽痛。色紫。加片芩黃連。去半夏生薑。如虛火不甚紅。勞力即痛。加元參生地芎歸知柏。</p>
<p>氣子如珠因鬱氣。或紅或紫在喉中。勞心努力皆能舉。日久年深氣欠通。治者用刀先刺破。還將秘藥上收功。清氣利膈誠妙劑。能令病者喜相逢。</p>
<figure>
<img alt="走馬牙疳圖">
</figure>
<p>此症食炙爆醇酒肥甘。以致陽明胃經火動而生濕熱。故發。牙齦作爛。頃刻腐黑沿開。其患迅速。故名走馬。甚者牙齦脫落。根柯汙黑。不數日。以致穿腮破唇。沿及滿口。走入喉中。誠為不治。治者針少商穴。以定死生。先用午後年干。泡汁拭淨。吹本秘。鼻爛加冰片、麝香。時含水藥拔毒。爛處用香附炒黃為末搽。並吹本秘。服三黃湯。次服黏子解毒湯。如鼻爛。則服土茯苓末藥五劑。小兒生此。服蘆薈消疳飲。吹秘。或人中白散。若冰硼散亦可。若牙尖穿出。刺唇作痛。挑破去腐吹藥。凡治此。必取黑腐。見紅肉血流為吉。聲啞乾燥。黑腐不脫。牙落無血。穿破唇。身熱不退。漸入喉中。俱為不治。</p>
<p>走馬牙疳如馬迅。肥甘炙爆起陽明。牙齦黑爛多脫落。頃刻沿開鼻穢深。午後年干頻拭淨。秘加麝冰或冰硼。</p>
<figure>
<img alt="牙癰圖">
</figure>
<p>此症胃火上衝。發於牙齦。生毒如豆大。或如指大。紫色腫硬。疼痛難忍。治者吹本下刀。次吹秘。頭痛惡寒。用荊防敗毒散。加升麻葛根解表。後服清胃湯而愈。治者將針柄捺軟處。是頭穴。可下針。去膿血。</p>
<p>牙癰之症起牙齦。生如豆大腫多疼。發熱憎寒頭腦痛。荊防升葛表神通。吹秘癰頭輕刺破。清胃湯宜在後吞。</p>
<figure>
<img alt="牙疔圖">
</figure>
<p>此症食臭毒自死禽獸。或炙爆厚味。或惡氣觸於陽明胃經。而生疔牙縫中。疔根頂起牙上。甚者。牙根末痛連腮齶。破則流血。治者吹本。用刀去血。吹秘。如疔大。以刀針割去。吹均秘。服三黃涼膈化之。以千金內托托之。時時吹秘。口含水藥。按此症發熱惡寒。頭痛身強。其症在表。宜用荊芥防風敗毒散。口渴煩躁。其症在裡。服三黃湯。涼膈加大黃。</p>
<p>牙疔惡穢觸陽明。縫中高突若疔形。腫連腮齶生寒熱。破流紫血臭多疼。吹本用刀平割去。</p>
<p>均秘時吹效更靈，三黃涼膈多宜服。還將水藥口中噙。</p>
<figure>
<img alt="牙宣圖">
</figure>
<p>此症陽明胃經之火上攻。而宣露牙縫出血不止。上屬脾。下屬胃。吐痰血至升斗者難生。急即速治。遲則不救。治者水藥漱淨。吹秘。塞楝裘丹。服清胃散。犀角地黃湯。止血四生湯。甘露飲。或胃中虛火動而牙齦腐爛。痰血常流不止。不可用上藥。宜服蘆薈飲。吹人中白散。</p>
<p>四生湯</p>
<p>生荷葉　生艾葉　生柏葉　生地（各三錢）</p>
<p>水煎入童便一杯。食後服。</p>
<p>牙宣胃火起陽明。縫中出血不留停。急用瑤池噙漱淨。楝裘丹塞立通神。犀角地黃清胃散。四生甘露選中評。胃中虛火牙齦爛。蘆薈丸吞極有功。</p>
<figure>
<img alt="重舌癰圖">
</figure>
<p>此症因心火旺動。或受鬱怒酒色而生。大舌先卷。根下另生小舌。形紅肉嫩。名曰重舌。治者吹追風於大舌上。吹本於大舌下。大舌治軟。</p>
<p>吹本於大舌兩邊根下。一邊針去血。次針小舌。兩中不可刺針。數以本與秘吹之即愈。初起者。服三黃瀉心湯。瀛洲學士湯。涼膈散。俱可擇用。將成膿。只用千金內托托之。待膿一熟挑放。搽追風。吹本秘。</p>
<p>重舌緣因心火生。或因鬱怒火隨升。舌下還生一小舌。頦腫流涎多疼痛。金津玉液頻針血。秘吹痛喊即時寧。初宜學士瀛洲服。成膿須要用千金。</p>
<figure>
<img alt="陰瘡圖">
</figure>
<p>此症受風熱濕鬱結。或食煎炒炙爆而成。或左或右。治者用熱水多洗手足。開脾胃。外敷金箍散。內吹秘於瘡口。過一日。將藥水洗淨。貼八寶膏。十三四日。貼白膏後。如瘡口不收。穿破喉內。外用紫霞雲熏之。俟口內煙出。服三黃湯。加回生散。再加四味末藥。</p>
<p>翻白草　五加皮　白蘚皮　黑醜（各等分）</p>
<p>為細末。共入回生散內煮服。又宜服學士湯。還魂飲。有膿。服內托千金散。男用女吮。女用男吮。去膿。忌發物。</p>
<p>陰瘡風濕兩相因。致患喉旁左右生。熱水不時洗手足。內服不須用二陳。吹秘敷用金箍散。膏封瘡口紫霞熏。三黃加上回生散。瀛洲四味及還魂。</p>
<figure>
<img alt="蝦蟆瘟">
</figure>
<p>此症感四時不正之氣。初似風寒。惟耳項發腫。毒入喉間腫痛。吞吐不利。沿門傳染。始起發寒熱。體強頭眩。脈浮緊數。為邪在表。以荊防敗毒散汗之。兩目鼻面腫者。乃陽明受病。發熱便閉。口乾。多熱少寒。脈數有力。為邪在內。用五錢大黃湯下之。頭角兩耳結腫。頗痮痛。寒熱嘔吐。口舌咽乾。煩躁特甚。以知母石膏湯。小柴胡湯和之。通用防風通聖散。加牛蒡子元參。解毒。通解表裡。勞役凶荒。沿門傳染。用普濟消毒飲。藿香正氣散以安之。表裡俱解。腫仍不消。宜針去惡血。熱甚者金箍散敷之。後仍不消。必欲作膿。宜托裡消散。加白芷皂角刺托之。膿成脹痛針之。已潰體倦食少。補中益氣湯。膿穢脾虛。食而嘔吐。香砂養胃丸。腐潰而不斂。十全大補湯。如毒中三陽。項上俱腫。光如水色。雙目合縫。唇白楮形。口角流涎。聲音不出。飲食不入。喉腫閉。牙關難開。破流臭水。穢氣不絕者。不治。年荒時毒流行。忌用攻發。法當和解以養正氣。</p>
<figure>
<img alt="落架風圖">
</figure>
<p>此症上熱下虛。血氣俱虛。以致筋不收。或大笑之後。或呵欠久。下頦落下。牙齒不交合。語言飲食難。一二日可治。久則難治。治者令患人平身正坐。以兩手托住下頦左右。治將兩大指捺牙槽。端緊下頦。用力住肩下。捺開關窮。隨用絹條兜住下頦。繫於項上。虛者服補中益氣湯。或灸頰車穴七壯。</p>
<p>補中益氣湯</p>
<p>黃耆　人參　當歸　白朮　甘草（各一錢）升麻　柴胡　陳皮（一錢）　棗（二枚）　生薑（二片）</p>
<p>水煎。食後服。咽痛加麥冬、黏子、玄參。去生薑。</p>
<p>落架風因氣血虛。致將筋骨不收拘。或因大笑及呵欠。牙關落下氣長吁。平身正坐兩手托。大指入口捺牙槽。食中小指端下頦。望後推之病即愈。</p>
<figure>
<img alt="面腮腫黑圖">
</figure>
<p>此症凡食熱物出汗過多而生。面黑向下腫。兩邊腮腫。喉中氣閉。治者用熱水洗手足。喉內出氣。先針少商穴。如有血出。內吹秘。如不愈。合追風均末吹之。服桔梗二陳湯。或甘桔湯數劑。吹追風散於頰內。並吹牙盡處。亦有風串入牙。致牙根膿出齒落。用蜜和秘敷之。</p>
<p>面腮腫黑濕熱生。兩腮腫黑又多疼。喉中氣閉人妨悶。洗和手足少商針。秘均合用追風散。桔梗湯須合二陳。</p>
<figure>
<img alt="鎖喉風圖">
</figure>
<p>此症心經毒氣。少腹邪風。發於聽會之端。注於會膺之側。列生如癧。閉塞難通。不能飲食。紅腫發熱。漸次潰膿。軟而脹疼。此症初起用連翹當歸散。日久用千金內托。吹秘加生肌。貼白膏。外腐內潰。湯隨水孔出者。曾治數人亦效。</p>
<p>連翹當歸散</p>
<p>當歸　生地　連翹　前胡　甘草　枳殼　桔梗　黃芩　黏子　白芍　元參　花粉</p>
<p>引用燈心。初起外用蜒蚰片麝。杵爛敷之妙。</p>
<p>鎖喉風症心經毒。少腹火氣及邪風。發於聽會初如癧。咽喉閉塞氣難通。當用連翹宜進服。膿成內托散收功。秘合生肌吹患處。初起麝蚰敷即松。</p>
<figure>
<img alt="喉腫圖">
</figure>
<p>此症起於脾經。食煎炒油熾等物。及飲酒太過而行房事。以致毒氣不能流行。聚結喉根。若不速治。毒閉即死。治者先去痰涎。後吹秘藥。服八正順氣湯。</p>
<p>喉腫脾家濕熱生。醉後行房所致成。氣不流通結喉下。先探痰涎秘藥噙。八正順氣宜煎服。管教患者得安寧。</p>
<figure>
<img alt="骨槽風圖">
</figure>
<p>此症憂愁多慮。太陽受病。結於大腸之間。邪毒交生。蘊於經絡之內。或鬱怒傷肝。致筋骨緊急。思慮傷脾。致肌肉結腫。膏粱厚味。致釀膿穢小兒生此。乃氣稟虛弱。感暑風濕熱。或食肥甘。而起於耳前。或耳下。腮腫連項。隱隱皮肉痛徹筋骨。略有小核。如李大。紅腫。寒熱如瘧。或下或上。或左或右。牙關緊急。初生堅硬不消。久則瘡口難愈。先探風痰。初宜艾灸。腫項。及耳下五分。各灸七壯。膏貼之。以泄內毒。用金箍散。加追風散。敷外腫處。牙關腫處。吹本追風散。刀刺出血。吹秘。服清陽散火湯。潰後服千金內托加五味麥冬。或中和湯。吹秘。合生肌。使水升木降。脾健金清乃愈。若外腐不合。虛熱不退。堅硬不消。形體消瘦者死。</p>
<p>清陽散火湯。治牙根盡處結腫。連及耳項作痛。</p>
<p>升麻（四分）　白芷（七分）　黃芩　當歸　黏子　連翹　防風　荊芥（各一錢四分）　甘草（四分）　石膏（三錢）　白蒺藜（一錢）</p>
<p>水煎。食後服。</p>
<p>骨槽風起太陽經。皆因鬱怒致傷筋。思慮傷脾肌肉結。耳下牙關急痛生。垂下五分針七壯。吹用追風亦用針。清陽散火初宜用。中和內托值千金。</p>
<figure>
<img alt="死舌癰圖">
</figure>
<p>此症因久積熱毒於心而起。舌腫色白。如木舌相似。但木舌小硬。此腫而白。治者以刀刮去白皮。用追風散。加冰麝青皮乾薑末。手指濕水。蘸擦舌上即愈。腫甚刺金津玉液。出血。吹秘。服學士湯。含口水藥。時吹本秘。日久膿成。左右挑放舌出黑血。刺治不轉色。舌卷不能言。並舌硬者死。</p>
<p>死舌癰生如木舌。其形白色腫多疼。刮去白苔須洗淨。追風冰麝乾薑青。玉液金津宜去血。吹秘還將水藥噙。瀛洲學士湯宜服。舌卷黑色命無存。</p>
<figure>
<img alt="蓮花鈿舌圖">
</figure>
<p>此症因心經積熱。及氣鬱勞傷。兼挾暑濕熱之氣而起。舌下生五峰。尖似蓮花之狀。三峰者輕。七峰者重。有痰追風取痰。吹本於旁。峰上出血吹秘。中尖乃心之苗。切不可針。以傷人命。初起服黃連瀉心湯。並學士湯。日久則服千金內托散。膿熟刺放吹秘。再吹生肌散。亦有生於舌上者。比舌高寸許。在下根兩旁放血。吹本秘即愈。</p>
<p>細舌蓮花何以因。皆由積熱在心經。三五七峰生舌下。形似蓮花取此名。忌傷舌下中央穴。須針玉液與金津。有膿內托千金散。初起黃連學士湯。</p>
<figure>
<img alt="珍珠毒圖">
</figure>
<p>此症小兒飲甘甜熱物。或母喜飲。或胎中受熱而生。舌上如珠。先赤紫。後白黃。疼痛難當。大者吹本。針刺出血。次吹秘。少加冰片。小者吹秘。服三黃涼膈散。或化毒丹。如不能飲者。令母飲之。搽秘於乳頭上。令小兒吞之。舌珠亦同。</p>
<p>舌上生起珍珠毒。皆由火毒犯心經。紅黃赤白多疼痛。小刀去血秘藥靈。三黃涼膈除心火。化毒丹丸孩子吞。</p>
<figure>
<img alt="螓舌圖">
</figure>
<p>此症因心膈蘊積熱毒而生於舌。老者難醫。少者尤可。若有孔。則全症也。或有一二孔。其中流血。或在左右。有黑心。大者用藥爛去黑心。小者用針挑去。用水藥洗淨。吹本。服三黃涼膈二三劑。如不收口。用生肌散拌勻用。</p>
<p>螓舌因心勞鬱氣。舌生四眼是全形。或生一二流鮮血。年老難除少者生。三黃涼膈初宜進。黑心挑去秘吹頻。收功全在生肌散。舌硬瘡生命不存。</p>
<figure>
<img alt="雀舌圖">
</figure>
<p>此症因心膈蘊積熱毒。感風熱氣鬱勞苦而生。或上或左右。疼痛臭爛。舌上生苔。並腮兩邊紅腫。治者吹本均。割去。次吹本秘數次。服三黃丸化之。雀舌小者。以刀剔破。不必割。如不收口用生肌散。</p>
<p>雀舌感風由鬱氣。生於舌畔苦多痰。吹本用刀須割去。還吹秘藥內加均。三黃涼膈宜多服。收口生肌如入神。</p>
<figure>
<img alt="捲舌癰圖">
</figure>
<p>此症因風熱感於心經。或煎炒熱物而生舌下。或左右。或正中。形如圓眼。或如棗核。腫疼不堪。言語不能。舌卷紫硬。初起吹本。去血吹秘均。服黃連瀉心。加金銀花貝母花粉。日久去膿吹秘。服千金內托散。後用生肌散收口。</p>
<p>捲舌癰生於舌下。或左或右或居中。形如果核多疼痛。舌黃卷紫閉喉嚨。患處用刀宜點破。均秘吹之有大功。黃連瀉心加貝母。日久千金內托通。</p>
<figure>
<img alt="舌上生癰圖">
</figure>
<p>此症心經積熱。生瘡於舌。狀似楊梅。作事心煩。服竇氏甘桔湯。梔子。後服黃連解毒湯。吹秘。不用刀針。或有痰結於舌上。成核強硬者。吹冰硼散。刀刺出血。服加味二陳。</p>
<p>舌上生瘡名腫齶。多由火毒內干心。作事煩躁多痛苦。秘吹不可用刀針。甘桔黃連先後服。舌上痰凝用二陳。</p>
<figure>
<img alt="舌衄圖">
</figure>
<p>此症因心火熾盛而起。形如簪孔。出血不止。治者摻槐花末於孔處。服犀角丹皮生地赤芍。黃連當歸黃芩山梔。蒲黃炒黑。共煎服。</p>
<p>又方</p>
<p>赤豆一升。杵碎。水三碗。和搗取汁。每服一盞。不拘時刻。</p>
<p>舌衄皆由心火盛。形如簪孔血流鮮。急須上摻槐花末。四物丹犀與黃連。赤豆一升生杵碎。水和煎汁服通仙。</p>
<figure>
<img alt="舌上龜紋圖">
</figure>
<p>此症思慮太甚。多醒少睡。虛火動而起。口破舌若無皮。色淡而白斑細點。甚者陷路龜紋。脈虛不渴。治者用四物湯。加黃柏、知母、丹皮、肉桂為引導。從治法也。外以柳花散搽之。不可誤作實火。用寒涼之劑。並書實症於後。以備參考。</p>
<p>實火因膏粱厚味醇酒炙爆。心火旺而發。其色紅紫。滿口爛斑。甚者腮舌俱腫。脈實口乾。宜服涼膈。吹秘。如舌上生瘡。舌乾黃破。作渴。加八味丸滋化源。俱禁水漱。</p>
<p>舌上龜紋虛火動。狀若無皮色淡紅。四物桂丹加知柏。柳花散藥漫收功。忌用寒涼多克伐。實火休言在此中。</p>
<figure>
<img alt="痰泡圖">
</figure>
<p>此症乃痰飲乘火。流行凝注。舌下結成痰腫。綿軟不硬。有妨飲食。作痛不安。治者吹本。用刀將泡刺破。捺干其中之痰。吹冰硼散。服二陳湯。如愈後復發。服清熱如聖散。</p>
<p>痰飲火升流舌下。壅腫如綿痛不安。吹本用刀須刺破。流去痰膠捺令乾。還要吹上冰硼散。二陳加減即安然。</p>
<figure>
<img alt="泡舌圖">
</figure>
<p>此症因火上衝。痰隨火上注。舌忽脹滿口中。軟如豬尿泡形。不疼痛。口中流涎。妨言語。治者看舌下有青泡如蟹眼。吹本秘。挑破捺淨其痰。以溫湯漱淨吹秘。加冰硼元明粉。服加味二陳湯。加牛蒡連翹木通花粉。一人舌忽腫脹出口。痛如針刺。遇一遊僧。云是蜈蚣毒沿碗上。人食染毒。用雄雞血一盞浸舌。搽玉樞丹。亦可服。如無。雄黃硃砂冰片研極細末。吹患處。亦妙。泡舌像如豬脬形。痰隨火上犯心經。不疼不痛妨言語。滿口流涎食不成。舌下青筋宜刺破。流出痰如雞蛋清。秘合冰硼吹患處。服藥增加用二陳。</p>
<figure>
<img alt="連珠喉風圖">
</figure>
<p>此症因心經火毒上衝。而生舌下。其形如珠。初見一二。少頃蔓生盛。三五七八九如貫珠。舌脹痰升。不能飲食。治者探去風痰。吹本藥於患上。逐粒去血。兼刺玉液金津。吹秘。服黃連瀉心湯。</p>
<p>連珠風起似連珠。心火沖生舌下瘀。蔓生三五七八九。舌脹痰生探吐愈。吹本用刀須刺破。玉液金津血亦祛。黃連瀉心湯內服。如斯治法外無餘。</p>
<figure>
<img alt="氣單圖">
</figure>
<p>此症受濕熱七情所傷鬱氣而起。靠舌根橫起紫紅色筋。治者吹本於筋上。用一大針。將桐油蘸。燒紅。照圖式上依橫筋針七處。次將三小針。扎品字樣。每大針孔。各針二次。共成四十九針。如舌根腫。灸外邊喉下橫三穴。口內煙出乃止。如不出煙。七壯為止。服涼膈散。或甘桔湯數劑。吹秘自愈。</p>
<p>氣單鬱結原由起。舌根橫紫起青筋。吹本大針針七次。每針品字各三針。外邊喉下橫三灸。</p>
<p>涼膈三黃並二陳。以上共針四十九。調理須知要養神。</p>
<figure>
<img alt="懸疔圖">
</figure>
<p>此症受風熱。或食煎炒厚味。或重衣疊被。或思慮過度。心火上衝蒂疔。卒然紫腫。吞吐不利。治者不可用刀針。只吹秘。或用烏龍尾。和炒鹽。用箸頭點上。用枕臥一時。甚者服三黃湯。加木通桔梗。去川芎。</p>
<p>懸疔之症由火生。重衣厚味起心經。倏忽蒂中垂下腫。秘吹切忌用刀針。鹽水同炒烏龍尾。研吹仰臥片時停。甚者宜服三黃湯。通桔黏子荊防功。</p>
<figure>
<img alt="木舌圖">
</figure>
<p>此症因心火太盛而起。舌硬如山。憎寒壯熱。言語謇澀。內服黃連瀉心湯。外吹秘。以刀刺紫腫處去血。再針金津玉液。出血自愈。又或舌上紫腫。用飛樸。加冰片少許搽之。出涎自愈。或吹冰硼散。</p>
<p>木舌皆由心火盛。舌如木硬紫多疼。壯熱憎寒言謇澀。吹秘舌下刺青筋。黃連瀉心湯內服。間吹本秘合冰硼。刀刺紫腫去血後。再針玉液與金津。</p>
<figure>
<img alt="七星瘡圖">
</figure>
<p>此症因脾經積熱。上齶屬脾。脾氣通於喉。故上齶生瘡。似粟如珠。或黃或白。口中腥臭。手足怕冷。身體畏寒。治者用水藥。或苦茶拭淨。吹秘。服清脾降火湯。戒酒色。</p>
<p>七星瘡生喉上齶。皆由熱毒積脾經。似粟如珠黃白色。滿口涎流極臭腥。手足畏寒身發熱。苦茶拭淨吹秘頻。降火清脾噙水藥。如斯指日可回生。</p>
<figure>
<img alt="口瘡圖">
</figure>
<p>此症因勞碌。乃食火酒炙爆椒姜之物而起。小兒食肥甘。或胎受毒。或母病食熱乳而生。或紅紫。或黃白。疼痛流涎。難以飲食。甚者發熱惡寒。口乾便閉。治者用米泔或苦茶。青布蘸拭淨。出血不妨。吹秘。服黏子解毒湯。加梔子或三黃湯。如小兒不能服之。只以犀角化毒丹服。小兒服之如臭。用秘。加人中黃黃連冰片麝香。研極細末。吹之。</p>
<p>口瘡積熱在心經。滿口生瘡黃白形。米泔拭淨時吹秘。甚宜去血火方平。黏子解毒三黃湯。服之退火與涼心。小兒化毒湯宜服。桑葉汁塗瘡自輕。</p>
<figure>
<img alt="懸蜞風圖">
</figure>
<p>此症上焦蘊積熱毒。風痰塞壅而起。上齶腫垂。形如蛙腹。或如雞子。咽喉閉塞。痰涎滿口。治者用元明粉醋。探去風痰。吹本藥於腫處。刀刺去血。吹秘。服三黃涼膈散。有表症者。服荊防敗毒散。日久千金內托散。</p>
<p>懸蜞風毒生上齶。形如蛙腹閉喉嚨。探痰須用元明醋。本吹刺血秘相攻。內服三黃涼膈散。表症荊防大有功。有膿千金內托散。頓教患者喜重重。</p>
<figure>
<img alt="出汗生癰圖">
</figure>
<p>此症受濕熱。出汗過多而起。治者吹追風散。刀刺去血。吹秘加均本。如不腫疼。其內定破。吹秘。次以均多加冰片兒茶硼砂青黛末。吹之。不用本藥。有痰，以元明粉醋探去。有膿。千金內托。不收口。生肌散。</p>
<p>汗出生癰餘毒因。追風吹上用刀針。秘均加末時吹上。內服三黃桔梗湯。探痰須用元明醋。膿成須速用千金。出膿瘡口多疼痛。生肌吹上即時平。</p>
<figure>
<img alt="咂舌癰圖">
</figure>
<p>此症受風熱酒毒濕痰而起。牙齦里兩邊生癰。致舌短大。兩邊未破。吹本。針破去血。吹秘。已破吹本秘。或擦追風散於舌上。兩邊臭爛。秘合生肌。加冰麝吹之。水藥噙口。起初服學士湯。或黏子解毒湯。已成。服千金內托散。有痰。亦須探去。</p>
<p>咂舌癰生舌兩邊。口中腥臭吐稠涎。未破癰頭宜刺破。秘本生肌合共吹。學士神方黏子解。已成內托散神仙。</p>
<figure>
<img alt="撮口喉風圖">
</figure>
<p>此症因脾胃蓄痰。風火擾動而起。其唇或如口袋收撮。不能飲食。喉內風痰壅塞。或經一年發。治者用馬齒莧汁洗唇。玄明粉醋探風痰。針少商穴出血。吹本於喉內及唇上。服防風通聖散。如毒入心包。脘中脹滿。上氣喘促。下部洞泄不止者死。</p>
<p>撮口喉風胃有痰。唇如口袋似繩攀。喉內有痰元明粉。口噤三黃刺少商。馬齒莧汁洗唇軟。本藥先吹秘再嘗。內服通聖防風散。立起沉疴免受殃。</p>
<figure>
<img alt="懸癰圖">
</figure>
<p>此症因脾經積熱。感風熱而起。上齶形如紫李。垂下抵舌。口不能言。舌不能伸。頭不能低。仰面而立。鼻出紅涕。若不速治。其毒陷入於腦即死。速用刀刺癰頭去血。用鹽湯漱淨。吹秘。服荊防散。雄黃化毒丸而愈。</p>
<p>懸癰生於上齶中。形如紫李垂喉嚨。不能言語舌難動。頭不能低涕出紅。刺破癰頭出毒血。鹽漱湯淨秘收功。雄黃解毒荊防散。看症機關要變通。</p>

<h1>卷二</h1>

<h2>應用良方</h2>
<p>秘藥方</p>
<p>黃連　黃柏　黃芩　黑梔　黃耆　薄荷　防風　荊芥　元參　連翹　細辛　川芎　白芷　羌活　山柰檳榔　川樸　苦參　甘草　木通　半夏　川烏　草烏　烏藥　蒼朮　三七　麻黃　大黃　殭蠶　牛膝桔梗　射干　乾葛　牛蒡　麥冬　杏仁　生地　歸尾　花粉　南星　赤芍　升麻　皂角刺　車前子　桑白皮五加皮　地骨皮　山豆根　金銀花　川槿皮　廣陳皮</p>
<p>以上共五十一味。每重一兩。各揀道地潔淨。有泥者去淨。法制者法制。用新缸一隻盛之。加清水。量用多少浸之。日曬夜露四十九日。濾去渣。將藥水入銅鍋內。文武火熬。以棒攪勿住手。煎稠如糊。入後藥。</p>
<p>明雄黃（五分）　青礞石（一錢童便煅七次）　沒藥（五分去油）　乳香（五分去油）　真熊膽（五分焙）　煅龍骨（五分）　枯白礬（一錢）　白硼砂（七分水飛）　爐甘石（五分童便煅七次）　桑皮炭（三分）　元明粉（五分）　制青黛（五分）　兒茶（一錢）　輕粉（三分）　石燕（五分醋煅七次）　虢丹（三分水飛）　血竭（五分）　銅青（五分）　石蟹（五分童便煅七次）　海螵蛸（五分綿包煨）</p>
<p>共計二十味。研極細末。將前膏和勻。做小餅如指大。曬露七晝夜。後放土上。用瓦盆蓋之。一日一翻。七日取起。置透風處陰乾。瓷瓶收好。三月方可用。研為細末。每二分。加後藥。</p>
<p>冰片（四釐）　麝香（二釐）　珍珠（四釐）　西黃（二釐）　珊瑚（四釐）　輕粉（二釐）　硼砂（二釐）</p>
<p>共為極細末。和勻。收入小瓶內。以烏金紙塞口。用吹喉症。神效。</p>
<p>通關散</p>
<p>牙皂（一兩瓦焙存性）　川芎（五錢）</p>
<p>共研為細末。瓷瓶收好。聽用。</p>
<p>追風散</p>
<p>淮烏　川烏　草烏　牛膝　麝香</p>
<p>各等分。研極細末。瓷瓶收好。</p>
<p>麻藥方</p>
<p>川烏　草烏　淮烏</p>
<p>各等分。共研細末。瓷瓶收用。</p>
<p>本藥方</p>
<p>川烏　草烏　淮烏　烏頭　龍骨象皮　青黛（制）　硼砂　兒茶（各一錢）　銀花（五分）血竭（一錢）　珍珠（二釐）　麝香（三釐）　冰片（三釐）　乳香（五分去油）　沒藥（五分去油）　青魚膽（五分焙乾）</p>
<p>共十七味。研極細末。瓷瓶收貯。勿令泄氣。銅管吹喉。</p>
<p>本藥方</p>
<p>明硼砂　龍骨　制青黛　兒茶　牙硝銀花（各一錢）　乳香（五分去油）　沒藥（五分去油）　白附子　熊膽　冰片　麝香　珍珠（各三分）　西黃（五分）　琥珀（五分）</p>
<p>共十五味。研極細末。瓷罐收好。勿令泄氣。吹喉用。</p>
<p>均藥方</p>
<p>梔子（三錢炒）　薄荷（一兩）　黃連（一兩）　升麻（三錢）　雞肫皮（二錢）</p>
<p>共為細末。瓷瓶收好。</p>
<p>元霜散</p>
<p>薄荷　殭蠶　青黛　朴硝　白礬　火硝　黃連　硼砂</p>
<p>共計八味。研極細末。用豬膽七八個。到臘月初一日。將膽汁倒出。又將前藥末和勻。復裝灌膽殼內。以線扎頭。外用青紅紙包。地掘一坑。深廣各一尺。用竹一根。將藥掛穿橫擔懸其中。上用板鋪。復以土密蓋。掛至立春日取出。掛風處陰乾。去膽殼紙。將藥研極細末。每藥一兩。加冰片三分。治喉神效。</p>
<p>生肌散</p>
<p>赤石脂（五分煅）　海螵蛸（竹箬包煨去殼一錢）　龍骨（一錢煅）　血竭（一錢）　輕粉（二分半）　乳香（三分半去油）　沒藥（一錢去油）　硃砂（飛炒黑一錢）　白芷（三分半）　文蛤（一錢）　枯礬（少許）　麝香（少許）　冰片（少許）</p>
<p>共計十三味。研極細末。瓷瓶收好。勿令泄氣。每用吹喉。</p>
<p>紫霞雲</p>
<p>水銀（一錢）　硃砂（一錢）　鉛（熔化入水銀和勻一錢）　雄黃（五分）　麝香（五釐）　百草霜（二錢）</p>
<p>共為細末。每紙一條。用藥五分。加艾卷作條。每日食後熏之。以七條為度。甚者九條即愈。</p>
<p>金箍散</p>
<p>川大黃（一兩錦紋丸大者或三四重穿心者更佳用紙包煨去廁中浸一月取起洗淨曬乾為末用）　五倍子（三錢醋炒黑）　白芷（五錢）　蜂房（三錢蜜炒）　芙蓉葉（二兩曬乾）　羌活（五錢）</p>
<p>共研極細末。瓷器裝。每用蜜水調敷腫處周圍。中留一孔。出毒氣。</p>
<p>人中白散</p>
<p>人中白（二兩煅紅溺壺內佳）　兒茶（一兩）　黃柏（六錢）　薄荷（六錢）　青黛（六錢）冰片（五分）</p>
<p>上藥共六味。研細末。瓷罐收好。勿令泄氣。每用吹喉。</p>
<p>綠袍散</p>
<p>黃柏（一兩）　青黛（三錢）　陀僧（一錢）</p>
<p>共為極細末。每用吹喉。</p>
<p>金鎖匙</p>
<p>焰硝（二兩五錢）　冰片（一錢）　白殭蠶（一錢）　雄黃（二錢）</p>
<p>共為細末。吹患處。</p>
<p>八寶膏（貼瘡生肌收口）</p>
<p>黃丹（一兩）　宮粉（一兩）　血餘（一兩滾水泡去淨）　銅青（三錢）　羊糞（一撮以新罐貯曬露七日不可見雨）</p>
<p>以上諸藥為末。用桐油四兩。香油八兩。下鍋熬煎。次下血餘。猛火煎至血餘化盡。入黃蠟一兩熔化。方入前四味末藥。以柳條不住攪。滴水成珠為度。取出。退火毒。方用。</p>
<p>二神散</p>
<p>乾薑（一兩）　雄黃（三錢）</p>
<p>二味共研極細末。瓷瓶裝盛。吹痛處。立止。</p>
<p>化毒丹</p>
<p>防風　連翹　桔梗　荊芥穗　當歸（各一兩酒洗）　甘草　赤芍　山梔　黃芩　元參　薄荷　山豆根　犀角　羚羊角（各五分）</p>
<p>上藥共十四味。研極細末。煉蜜為丸。燈心竹葉湯送下。</p>
<p>麝香散</p>
<p>麝香（三錢）　冰片（三分）　黃連（一錢）</p>
<p>共研細末。密收。一日夜吹五六次。</p>
<p>柳花散</p>
<p>黃柏末（一兩）　青黛（三錢）　肉桂（一錢）　冰片（二錢）</p>
<p>共研細末。瓷瓶收貯。吹患處。</p>
<p>冰硼散</p>
<p>元明粉（五錢）　硼砂（一錢）　硃砂（一錢）　冰片（一錢）　麝香（一錢）</p>
<p>上藥共五味。研極細末。碔筤收好。勿令泄氣。吹喉。</p>
<p>白膏方</p>
<p>制乳香　制沒藥　兒茶　血竭　輕粉　定粉（各等分）</p>
<p>上藥為極細末。用豬板油熬四兩。和藥末搗千餘下。後入人乳再搗。臨用攤貼。</p>
<p>解毒雄黃丸</p>
<p>雄黃（一兩）　巴豆（十四粒去油殼淨）　鬱金（一兩）</p>
<p>上藥共為極細末。醋和為丸。如綠豆大。每服七丸。專治咽喉科急症。頑痰閉塞。牙關不開。以物撬開口。用水將藥丸研灌下。吐盡痰涎。即愈。有起死回生之功。</p>
<p>冰梅丸　專治喉痹十八種。俱妙。</p>
<p>大南星（二十五個鮮者切片用）　大半夏（二十五雙切片用）　皂角（四兩）　朴硝（四兩）防風　白明礬（各四兩）　桔梗（三兩）</p>
<p>一方用甘草。無皂角。</p>
<p>揀七分熟大青梅一百個。先將硝鹽水浸一周時。然後將藥研細。入水拌勻。將梅浸入藥水中。其水過梅子三指為度。浸至七日後。取出曬乾。又入前藥汁內浸透。再曬再浸。以藥水干為度。方將梅子用瓷器蠟封收好。若梅上有白霜更好。用時以薄棉紙裹之。噙口內。令津液徐徐嚥下。痰化病即愈。一丸可治三人。不可輕棄之。</p>
<p>箍藥方</p>
<p>大黃（一兩）　文蛤（一兩）　蜂房（三錢蜜炙）　芙蓉葉（一兩陰乾）　白芨（五錢）　羌活（五錢）</p>
<p>上藥共研極細末。瓷器裝盛。每用蜜調圍箍之。中留一孔。出毒氣。頻以蜜水潤之。</p>
<p>雄膽散（治喉科七十二症）</p>
<p>黃芩（三錢生用）　黃連（三錢生用）　梔仁（三錢炒黑）　制梅乾（五錢煅存性）　青黛（五錢）　雄黃（一錢）　硼砂（三錢）　雞內金（一錢不見水）　人中白（五錢）　枯礬（一錢）</p>
<p>共十味。依法制度。研極細末。入冰片（六分）　麝香（三分）</p>
<p>再勻每藥末五錢。加</p>
<p>西黃（二分）　銅青（五分）　熊膽（五分）　珍珠（五分）　兒茶（八分）</p>
<p>共研極細末。以瓷瓶封收緊密。每用少許。吹入患上。一日夜吹十餘次。徐徐嚥下。流出痰涎漸愈。如有腐臭。急用蚌水漱淨。或用豬皂草烏柏子和搗。加水去渣。灌淨。吹之。大妙。</p>
<p>吹喉散（唐先生傳專治口內一切雜症）</p>
<p>人中白（二錢）　硼砂（五錢）　青黛（二錢）　五倍子（一錢）　冰片（五分）</p>
<p>外加以下二味</p>
<p>杉木炭（一錢）　六一散（一錢）</p>
<p>共研極細末。瓷瓶收好。勿使泄氣。吹患處。立效。</p>
<p>喉風雙蛾。一切火毒並治。無不應驗。</p>
<p>人中白（一錢火煅）　硼砂（五分）　膽礬（三分）　冰片（一分）</p>
<p>共研細末。吹患處。吐痰而愈。</p>
<p>走馬牙疳臭爛。痘內牙根腫疼。並遠近蟲牙俱效。</p>
<p>兒茶（一錢）　硃砂（三分）　輕粉（三分）　沒藥（二錢制）　乳香（二錢制）　血竭（二錢）　西黃（一分）　龍骨（五分）　枯礬（五分）　黃丹（五分）　冰片（一分）　珍珠（三分）　大棗（十個）　桑炭（五分）　柳炭（五分）　麝香（一分）</p>
<p>共研極細末。瓷瓶收好。每用先將湯漱口。再用荊芥五倍子煎湯。加銀硃少許。同洗淨。再將藥搽患處。立效。</p>
<p>治走馬牙疳</p>
<p>午後汁兩鍾（即白馬糞是也如一時難辨可預取為末臨時水泡取汁應用）</p>
<p>萬年干三錢七分（即糞鹼是也用新瓦合蓋燒灰存性研細末）</p>
<p>二藥和勻漱之。後再以冰麝生肌藥吹之。又吹秘本二藥即愈。</p>
<p>大小口內臭疳瘡</p>
<p>枯礬（三錢煅）　人中白（一錢煅）　雞內金（一錢煅）　銅青（一錢）　麝香（二分）　冰片（一分）　阿魏（一分）</p>
<p>共研細末。瓷瓶收好。每用先將米泔洗淨患上。將此藥干搽口。蚌水洗更妙。</p>
<p>治喉閉立效</p>
<p>硼砂（二分）　冰片（二分）　明礬（二分）　黃連（二分）　黃柏（二分）</p>
<p>共研極細末。瓷瓶收好。勿令泄氣。每用吹筒入喉中即開關。三五次而自愈。</p>
<p>喉閉不能開關急方</p>
<p>老王瓜（一劑剮出瓜穰）　硃砂（三錢）　芒硝（三錢）</p>
<p>二藥和勻。灌入瓜內。倒吊陰乾。候瓜外出霜。刮下曬乾。倘遇患此症。吹之即愈。</p>
<p>取痰方二</p>
<p>一用車前草。連根葉搗汁。加醋含漱口。或吞或吐。取痰極佳。</p>
<p>一用山豆根為末。吹喉。或煎湯漱口。痰涎自出即效。</p>
<p>牙痛方</p>
<p>蘆薈（一錢二分）　龍骨（八分火煅）　冰片（五分）</p>
<p>共研細末。擦牙患處。</p>
<p>又方</p>
<p>胡椒（一錢）　甘松（一錢）　麝香（五分）</p>
<p>共研極細末。煉蜜為丸。如梧桐子大。每用一丸。將新棉包。安患處。牙咬定。止痛即愈。立效。</p>

<h2>焦氏喉科煎藥方</h2>
<p>三黃湯</p>
<p>黃連　黃柏　黃芩　赤芍　梔子　川芎　薄荷　甘草　青皮　陳皮　花粉　銀花　元參　射干　當歸</p>
<p>引用燈心、竹葉。同煎服。</p>
<p>涼膈散</p>
<p>當歸　川芎　赤芍　防風　荊芥　元參　梔子　黃連　石膏　花粉　連翹　桔梗　薄荷</p>
<p>風甚加銀花、黏子。火甚加貝母、栝蔞。</p>
<p>水煎服。</p>
<p>荊芥防風敗毒散</p>
<p>荊芥　獨活　防風　川芎　羌活　桔梗　前胡　茯苓　枳殼　柴胡（各一錢）　人參（五分）　甘草（五分）</p>
<p>引加荷葉一小片。水煎八分。食後服。或加姜三片。寒甚加蔥三根。</p>
<p>千金內托散</p>
<p>元參　人參　桔梗　青皮　陳皮　連翹　甘草　川芎　當歸　赤芍　蔞仁　花粉　銀花　厚朴　防風</p>
<p>加燈心。水煎。食後服。</p>
<p>托裡消毒散</p>
<p>人參　白朮　黃耆　當歸　白芍　川芎　茯苓（各一錢）　銀花　白芷（各七分）　桔梗　角刺　甘草</p>
<p>水二鍾。煎八分。食後服。若脾弱者。去白芷。倍人參。</p>
<p>四七氣湯</p>
<p>茯芩　厚朴　半夏　橘紅　青皮　枳實　砂仁　南星　神麯　檳榔　蘇梗　白豆蔻　益智仁</p>
<p>引加薑片。煎服。</p>
<p>補中益氣湯</p>
<p>黃耆（一錢炙）　人參（一錢）　甘草（一錢炙）　當歸（一錢）　白朮（一錢炒）　升麻（三分）　麥冬（六分）　五味子（三分）　柴胡（五分）</p>
<p>引棗二枚。姜三片。同煎。空心熱服。</p>
<p>瀛洲學士湯</p>
<p>乳香　沒藥　川芎　白芷　梔子　貝母　薄荷　陳皮　當歸　黃連　升麻　木通　防風　甘草　赤芍　花粉　銀花　穿山甲　皂角刺</p>
<p>引加燈心、淡竹葉。水煎服。</p>
<p>十八味</p>
<p>防風　銀花　甘草　赤芍　知母　荊芥　陳皮　麥冬　花粉　貝母　黃柏　牛蒡　當歸　梔子　連翹　元參　桔梗　川芎</p>
<p>水二鍾煎。去渣服。</p>
<p>還魂散</p>
<p>陳皮　人參　赤芍　黃耆　蒼朮　黃芩　防風　栝蔞　黃柏　銀花　川芎　當歸　茯苓　白朮　黃連　甘草</p>
<p>水二鍾煎。去渣服之。</p>
<p>回生散</p>
<p>白醜（一兩）　五加皮（一兩炒）　桔梗（四錢）　連翹（五錢去心）　花粉（五錢）　土茯苓（三兩）　薄荷（一兩）　梔子（一兩）　皂角刺（七錢）</p>
<p>煎服。當用三分之一。或煮酒服。可用全方。入陳酒三斤。</p>
<p>內補湯</p>
<p>當歸　赤芍　白朮　栝蔞　銀花　連翹　梔子　元參　川芎　薄荷　黃連　花粉　黃柏　黃芩　防風　陳皮　青皮　黃耆（蜜炙）　桔梗</p>
<p>水二鍾煎。去渣服之。</p>
<p>蘆薈消疳飲</p>
<p>蘆薈　銀柴胡　牛蒡子　胡黃連　元參　桔梗　川連　山梔　薄荷　石膏　羚羊角　升麻　甘草</p>
<p>引加淡竹葉。水同煎服。</p>
<p>藿香正氣湯</p>
<p>藿香　白芷　大腹皮　紫蘇　桔梗（各一錢）　茯苓　半夏　陳皮　厚朴　白朮（各八分）</p>
<p>引加姜一片。棗一個。水二鍾。同煎熱服。取汗為度。</p>
<p>治陰瘡方</p>
<p>治一切陰瘡。加均藥末三錢。共十六味。</p>
<p>乳香　沒藥　穿山甲　白芍　防風　當歸　川芎　赤芍　木通　陳皮　花粉　甘草　銀花　貝母　皂角刺</p>
<p>水煎。去渣服。</p>
<p>又方</p>
<p>當歸　甘草　黃連　茯苓　白朮　陳皮　元參　赤芍　黃芩　蒼朮　黃耆　防風　黃柏　栝蔞　銀花</p>
<p>水煎。去渣服。</p>
<p>治口疳瘡方</p>
<p>白醜　五加皮　白蘚皮　桔梗　甘草　連翹　花粉　銀花　薄荷　山梔</p>
<p>治口疳毒瘡方</p>
<p>皂角子　山豆根　土茯苓</p>
<p>引加燈心。水煎服。或研末和服。俱妙。</p>
<p>又方</p>
<p>栝蔞仁　花粉　桔梗　銀花　連翹　赤芍　川芎　白茯苓　當歸　薄荷　陳皮　黃芩　青皮　黃連　款冬花　黃柏　防風　元參</p>
<p>水煎。去渣服之。</p>
<p>桔梗湯（治肺癰咳嗽吐膿血）</p>
<p>桔梗　栝蔞仁　百合　防風　當歸　枳殼　黃耆　貝母　元參　白蘚皮　薏苡仁（各八分）　杏仁　甘草（各五分）　黃芩（八分）</p>
<p>水煎服。</p>
<p>洗藥方</p>
<p>藿香　山柰　苦參　荊芥　甘草　防風　白芷　細辛　黃柏　銀花　地骨皮（各等分）</p>
<p>煎湯。用青綢蘸藥水。溫洗患處。</p>
<p>牙疼加減方</p>
<p>荊芥　防風　甘草　石膏　青皮　生地　丹皮　升麻</p>
<p>上正四牙。加黃連　麥冬</p>
<p>下正四牙。加黃柏　知母</p>
<p>上左二牙。加川芎　白芷</p>
<p>下左二牙。加白朮　白芍</p>
<p>上左盡牙。加膽草　羌活</p>
<p>下左盡牙。加柴胡　山梔</p>
<p>上右二牙。加當歸　茯苓</p>
<p>下右二牙。加木通　車前</p>
<p>上右盡牙。加大黃　枳殼</p>
<p>下右盡牙。加黃芩　桑皮</p>
<p>蘇子降氣湯</p>
<p>蘇子（三錢）　厚朴（一錢）　陳皮（一錢）　前胡（一錢半）　肉桂（四分）　半夏（一錢半）　甘草（五分）</p>
<p>引加生薑三片。同煎八分。食遠服。</p>
<p>黏子解毒湯</p>
<p>牛蒡　甘草　升麻　生地　花粉　連翹　白朮　黃芩　黃連　山梔　桔梗　防風　青皮　元參　乾葛</p>
<p>水煎服。</p>
<p>八正順氣散</p>
<p>陳皮　砂仁　枳殼　桔梗　白芍　甘草　當歸　川芎　人參　牛蒡</p>
<p>水煎服。</p>
<p>蠲毒流氣飲</p>
<p>白芷　防風　陳皮　連翹　人參　香附　川芎　當歸　元參　花粉　枳殼　甘草　牛蒡　桔梗　柴胡　山梔</p>
<p>水二鍾。煎服。</p>
<p>苦酒方</p>
<p>黃耆（三兩）　白芍（二兩）　桂枝（一兩六錢）</p>
<p>上為末。每服三錢。苦酒三合。煎至七分。不以時頻服。</p>
<p>半夏桂枝湯</p>
<p>半夏　桂枝　甘草</p>
<p>引加生薑三片。水二鍾。煎八分服。</p>
<p>蜜附子</p>
<p>大附子</p>
<p>去皮臍。切大片。蜜塗。瓦上炙黃。每一片。含在口中。津甘嚥下。味盡再換。</p>
<p>山豆根湯</p>
<p>山豆根（去白）　陳皮　元參　桔梗　連翹（各一錢）　麝香（五分）　麥冬（一錢二分去心）　甘草　薄荷（各七分）</p>
<p>引加燈心同煎服。</p>
<p>益氣疏風湯</p>
<p>升麻　甘草　當歸　川芎　生地　白芍　桔梗　黃芩　麥冬　前胡　青皮　乾葛　紫蘇　連翹　防風　白蒺藜</p>
<p>水二鍾。煎服。</p>
<p>四七氣湯</p>
<p>茯苓　山梔　甘草　紫蘇　生地　桔梗　枳殼　元參　花粉　牛蒡　連翹　陳皮</p>
<p>水二鍾煎。去渣服。</p>
<p>清氣利咽湯</p>
<p>茯苓　蘇梗　甘草　山梔　陳皮　桔梗　貝母　香附　花粉　枳殼　半夏</p>
<p>引加姜一片。水二鍾。煎服。</p>
<p>又方</p>
<p>生荷葉　生柏葉　生地黃</p>
<p>水煎。入童便半酒杯。溫服。</p>
<p>甘桔湯</p>
<p>甘草（五分）　桔梗（一錢）　花粉（二錢）　牛蒡（三錢）　連翹（一錢五分）　山梔（一錢四分）　黃連（四分）　生地（三錢）</p>
<p>水二鍾。煎服。</p>
<p>解毒湯</p>
<p>黃連　牛蒡　桔梗　連翹　當歸　生地　白芍　丹皮　青皮　枳殼　前胡　甘草　元參　銀花　柴胡</p>
<p>水二鍾。煎八分。去渣服之。</p>
<p>四物湯加味</p>
<p>黃柏（一錢五分）　芍藥（三錢酒洗）　川芎（一錢）　生地（四錢）　當歸（一錢酒洗）　知母（一錢）　丹皮（一錢）　肉桂（四分）</p>
<p>引加棗二枚。水二鍾。同煎服</p>
<p>加味二陳湯</p>
<p>陳皮（一錢）　半夏（一錢五分）　茯苓（三錢）　甘草（五分）　黃連（五分）　薄荷（五分）</p>
<p>引加姜三片。水二鍾。同煎服。</p>
<p>如聖散</p>
<p>枳殼（一錢）　荊芥（一錢）　薄荷　柴胡（各五分）　花粉（三錢）　山梔（一錢）　連翹（去心）　牛蒡（各一錢五分）　甘草（四分）</p>
<p>引加燈心。水二鍾。同煎服。</p>
<p>清脾降火湯</p>
<p>丹皮　當歸　生地　黃連　黃芩　桔梗　白芍　薄荷　防風　茯苓　白朮　澤瀉　豬苓　山梔　麥冬　元參</p>
<p>水二鍾。煎服。</p>
<p>八正順氣湯</p>
<p>厚朴　砂仁　半夏　陳皮　茯苓　青皮　桔梗　赤芍　枳殼　木香（研末）　元參　牛蒡　山梔</p>
<p>引加姜三片。水二鍾煎。沖木香服。</p>
<p>當歸連翹散</p>
<p>當歸　連翹　甘草　桔梗　梔子　花粉　生地　前胡　枳殼　黃芩　元參　白芍</p>
<p>引加燈心。水二鍾。同煎服之。</p>
<p>學士湯</p>
<p>乳香　沒藥　白芷　山梔　貝母　薄荷　陳皮　木通　防風　甘草</p>
<p>引加燈心、淡竹葉。同煎服。</p>
<p>防風通聖散</p>
<p>防風　白芍　薄荷　川芎　桔梗　山梔　黃芩　白朮　當歸　連翹　荊芥　麻黃　滑石　芒硝　大黃（酒炒）　甘草</p>
<p>或加牛蒡子　元參</p>
<p>水二鍾。煎八分。空心溫服。</p>
<p>甘露飲</p>
<p>天門冬（一錢）　麥冬（一錢）　生地黃（二錢）　熟地黃（三錢）　金釵石斛（三錢）　枇杷葉（三錢拭淨毛去筋炙）　黃芩　枳殼　茵陳（各一錢）　甘草（五分）</p>
<p>水二鍾煎。食後服。</p>
<p>治雙單蛾立效方</p>
<p>黑升麻（一錢）　桔梗（一錢五分）　甘草（一錢五分）</p>
<p>井水二鍾。煎服。二劑自愈。</p>
<p>甘桔湯</p>
<p>當歸（酒洗）　川芎　薄荷（炒）　黃芩　山梔　連翹　甘草　銀花　元參　防風　桔梗　荊芥　大黃（酒浸）</p>
<p>水二鍾。煎服。</p>

<h2>諸穴</h2>
<p>曲池穴。在肘外輔骨屈肘核後頭陷中。以手拱胸取之。針七分。灸七壯。可日灸七壯至二百壯。曲池在曲肘外側約紋尖。</p>
<p>少商穴。在大指內側。去爪甲角如韭菜葉許。針一分。宜用鋒針出血。中衝穴。在中指端。去爪甲韭菜葉許。針一分。灸一壯。</p>
<figure>
<img alt="圖">
</figure>
<p>湧泉穴。在足心。屈足蜷指取之。宛宛中白肉際。針五分。不宜出血。灸三壯。</p>
<p>環跳穴。髀樞中。即硯子骨下宛宛中。側臥伸下足取之。針二寸。灸五壯。至五十壯。</p>
<p>足三里穴。在膝下三寸。腳骨大筋內。坐取之。針八分。灸止百壯。</p>
<p>金津玉液二穴。左為金津。右玉液。舌下兩旁紫脈上是穴。捲舌取之。治重舌腫痛喉閉。用白湯煮三稜針出血。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>頰車穴。在耳下八分。近前曲頰端上陷中。側臥開口有空。針四分。灸日七壯。至七七壯。炷如大麥。</p>
<p>合谷穴。在手大指次指崚骨間陷中。針三分。灸三壯。孕婦不宜針。</p>
<p>內庭穴。在足大指次指外間陷中。針三分。灸三壯。</p>

<h2>灸刺各法</h2>
<figure>
<img alt="五種針式圖">
</figure>
<p>平半寸。長一寸六分。頭大末銳。病在皮膚刺熱者用此。今名箭頭針是也。</p>
<p>其兩三隅長一寸六分。發痼疾。刺大者用此。今之所謂三稜針是也。</p>
<p>一名破皮針。末如劍鋒。廣二寸。長四寸。破皮。癰腫出膿。今名劍針是也。</p>
<p>法象毫。尖如蚊蟲喙。長三寸六分。取痛痹刺寒者用此。</p>
<p>尖如氂。且圓而銳。其末微大。長一寸六分。取暴痹刺小者用。</p>
<p>制針法</p>
<p>本草云。馬銜鐵無毒。日華子云。古舊鋌者好，或作醫工針。按本草桑鐵。即熱鐵有毒。故用馬銜則無毒。以馬屬火。火剋金。解鐵毒。故用以作針者。貴之也。又金為總名。銅鐵金銀之屬皆是也。若用金針更佳。</p>
<p>煮針法</p>
<p>先將鐵絲於火中煅紅。截之。或二寸。或五寸。長短不拘。次以蟾酥塗針上。仍入火中微煅。不可令紅取起。照前塗酥煅三次。至第三次。乘熱插入臘肉皮之裡。肉之外。將後藥先以水三碗煎沸。次入針肉在內。煮至水乾。傾浸水中。待冷。將針取出。於黃土中插百餘下。色明方住。以去火毒。次以銅絲纏上。其針尖要磨圓。不可用刀。</p>
<p>麝香（五分）　膽礬（一錢）　石斛（一錢）　穿山甲（三錢）　歸尾（三錢酒炒）　硃砂（三錢）　細辛（三錢）　鬱金（三錢）　川芎（三錢）　沒藥（三錢去油）　甘草節（三錢）　沉香（五錢）　磁石（一兩）　能引諸藥入鐵內。</p>

<h2>附方</h2>
<p>宋明懷秘傳口疳方</p>
<p>川文蛤（瓦上燒存性）　兒茶（中）　人中白（中煅）　大梅片（少許）</p>
<p>上共細末。搽患上。忌食甜物煎炒。</p>
<p>走馬牙疳。牙床腐爛。神效。</p>
<p>白垢（要婦人溺桶中的火煅一錢）　銅綠（三分）　麝香（一分）　冰片（五釐）</p>
<p>研極細末。瓷瓶收用。</p>
<p>又方（名曰冰螺散）</p>
<p>白螺螄殼（一錢燒灰存性）　兒茶（一錢）　大梅片（少許）</p>
<p>研極細末。吹患處。</p>
<p>治口疳瘡（即走馬牙疳）</p>
<p>青黛（二錢）　兒茶（二錢）　冰片（二分）　薄荷（二分）　京青（二分）　川柏末（一錢）　硼砂（五錢）　川連（八分）</p>
<p>共研極細末。吹患處。立效。</p>
<p>又方</p>
<p>青黛（二錢）　黃柏（一錢）　飛丹（五分）　冰片（三分）　蒲黃（三分）　枯礬（二分）</p>
<p>共研為細末。吹患處。立效。</p>
<p>又方</p>
<p>單用馬蘭（葉不用）</p>
<p>洗去泥。入木盤內搗碎。取起。入醋少許。用布絞出汁。漱口即愈。</p>
<p>又方（各黛礬散）</p>
<p>五倍子（五分）　青黛（五分）　枯礬（五分）</p>
<p>為末。用淡鹽湯漱淨。摻之立效。</p>
<p>又方</p>
<p>兒茶（一兩）　黃柏（六錢）　薄荷（六錢）　青黛（六錢）　人中白（二兩）　冰片（五分）</p>
<p>共為細末。先用溫湯漱淨。再吹藥疳上。一日六七次。涎從外流出者為吉。涎毒內收者為凶。內服水劑方。列後。</p>
<p>煎劑</p>
<p>蘆薈　銀柴胡　胡黃連　川連　牛蒡子　桔梗　山梔　石膏　薄荷　升麻　甘草　羚羊角（等分）</p>
<p>加淡竹葉十片為引。同煎。此方能治穿腮破唇之症也。</p>
<p>楊天池先生傳治牙疳煎方</p>
<p>生地（二錢）　連翹（一錢五分）　石斛（二錢）　銀柴胡（一錢）　薄荷（一錢）　木通（八分）　桔梗（一錢五分）　山梔（一錢五分）　赤芍（一錢五分）　石膏（三錢）</p>
<p>水煎服。看病輕重。加用黃連、青黛。</p>
<p>鳳凰膏（又名救命延壽丹）治口瘡。口疳。喉癰閉塞等症。神效方。</p>
<p>鳳凰衣（即雞蛋內衣膜去淨殼微火焙黃）　橄欖核（瓦上煅煙淨存性用）　孩兒茶（各等分）　大梅片（五分）</p>
<p>共為細末。和勻。瓷瓶收貯。口瘡。口疳。搽患處。喉症用銅吹裝藥。吹入喉內。即飲食。</p>
<p>吹喉回生丹（治喉垂危急症不拘雙單蛾真能回生仙家秘授之法不可輕視慎之慎之）</p>
<p>硼砂（一兩）　牙硝（三錢）　冰片（六分）　麝香（四分）</p>
<p>共為細末。瓷瓶收貯。不泄氣。臨用時。少許吹患處。</p>
<p>治口瘡喉閉。乳蛾之症。</p>
<p>膽礬（一錢）　熊膽（一錢）　廣木香（三分）</p>
<p>共為細末。以木鱉子一個。去殼。磨井水以鵝翎蘸藥敷之。一二次即愈。</p>
<p>又方（治大人舌上瘡腫神方）</p>
<p>雞肫皮一個（雄者佳不見水以陰陽瓦焙酥研末）　硼砂（三分白色透明者佳）　烏丁泥（五分）　黃連（五分）</p>
<p>共為細末。擦舌上。瘡即愈。</p>
<p>又方（治項頸浮腫外用敷藥）</p>
<p>大黃（一兩）　榆樹皮（五錢）　皮硝（三錢）</p>
<p>共為細末。用醋水各一半。調敷周圍。自愈。</p>
<p>檳榔散（治口瘡大有神效）</p>
<p>五味子（三錢）　寒水石（五錢煅）　蒲黃（一錢五分）　黃丹（一錢五分）</p>
<p>上為細末。每服少許。干貼瘡上。</p>
<p>立效散</p>
<p>訶子肉　五倍子（各等分）</p>
<p>上為細末。干貼唇上。立效。</p>
<p>又方（治口瘡疼痛）</p>
<p>五味子（三錢嫩者妙）　滑石（五錢研）　黃柏（五錢蜜炙）</p>
<p>上為細末。每服五分。乾摻瘡上。良久便飲食。</p>
<p>黑參丸（治口舌生瘡久不愈）</p>
<p>黑參（去心）　天門冬（去心）　麥門冬（各一錢去心）</p>
<p>上為細末。煉蜜為丸。如彈子大。每用一丸。綿裹噙化。咽津。</p>
<p>雙青硼砂散（治口內一切諸瘡等症）</p>
<p>青黛（八方）　青鹽（六分）　兒茶（一錢）　人中白（一錢五分）　硼砂（八分）　胡連（二分）　冰片（一分）</p>
<p>共為細末。吹口內。效驗如神。</p>
<p>綠雲散（治口瘡爛臭久不愈）</p>
<p>黃柏（蜜炙）　青黛（水飛各等分）</p>
<p>共為細末。臨臥用少許摻口。咽津妙。</p>
<p>又方（治小兒口瘡不能食乳）</p>
<p>白明礬（等分研末）</p>
<p>和雞蛋清。置醋中。調塗小兒足底。二七日愈。</p>
<p>麻藥方</p>
<p>細辛　南星　半夏　牙皂</p>
<p>各等分。研極細末。用少許。放患處。便不知痛。可用刀針。</p>
