<header data-type="book">
<h1>醫餘</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>尾台逸士超</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1862">公元1862年跋</data></dd></div>
<div><dt>底本</dt><dd>杭州三三醫社版（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910015367">國家圖書館掃描本</a>）；出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00301/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>自吉益東洞唱我醫復古之學。而世醫肇知用長沙之方法矣。夫復古之學。實發於周漢之醫說。周漢之醫說得復古之學。而後其義益明。是東洞所以曩有古書醫言之著也。尾臺士超繼之。撰醫餘三卷。周官漢史以至諸子有言涉醫者。靡不鈔錄。每遇會意處輒加評語。附箋註。士超以古人之學。行古人之術。老而益勤。學與術化。故周漢之醫說。即士超之醫說。世之目無簡冊護拙古方者。與夫一知半解捏造成篇者。聞士超之風可以省悟矣。聞士神之師傳岑氏之業。岑氏出於東洞之門。此其學術淵源所由。及業之成。乃有藍青冰寒之稱。蓋不誣也。初予與淺田識此黑田子友為文字交。因二子以知士超。識此子友少於予數歲。士超年次最長。而毫無衰憊之氣。近日西洋醫方盛行於世。唱古方者寥寥鮮聞。而士超雄視於其間。矯不相下。殆所謂巋然魯靈光者也。予則老憊日加。不能復讀書作文。視三子勤勵不已。各有撰述。能無愧於懷乎哉。而士超不以為無狀。屬序於予。固辭不得。乃弁詹言云。</p>
<p><u>文久二年壬戌季秋中浣拷窗拙者多村直寬識</u></p>

<h1>醫余序</h1>
<p>今之所謂醫者。我知之矣。華其室屋。麗其門牆。使望之者謂由扁倉之技。以致朱頓之富。出則賁籃輿。盛傔從。東奔西馳。來往如織。使觀之者謂技售術行。日不暇給。間其業則曰醫者意也。學古讀書。俾拘而不通。運用之妙。存於一心。蠹簡奚為。師以此自欺。弟子以此自便。習以為俗。恬莫之異。蓋都下業軒岐者。不下數千萬人。而為此言此態者。十居八九焉。以我所識尾臺士超則不然。士超北越人。本小杉氏。弱冠來江戶。學醫於尾臺淺岳。以師命嗣其家。時家道尚微。士超嘗辛茹苦。拮据經營。方啟處之不遑。而偷閒以讀書。未嘗張望侈觀。以釣虛譽。今則鬱然成大家。餘力所及。有醫餘一書。是編蒐羅經子百家言涉醫理者。分為四篇。間附評語以闡其蘊。發新意於文字之外。裁古義於今日之用。不拘泥。不執滯。以意達志。如燧取火。如湯灌雪。使各書異條意志相發。經緯貫通。至其鉤章棘句。訓詁以釋之。考據淹博。折衷的確。有學究專門不易及者焉。余與士超交也晚。不及知其少壯之時。嘗聞其同窗友之言矣。某曰吾與士超學於龜田氏。鑽堅鉤深。議論出人意表。嚼秀咀華。落毫成章。醫而儒者也。某曰士超精神滿腹。其讀書老而益強。學追年進。術隨學長。可謂學術合一矣。吾觀於此書以信某某之言。因將鳴諸天下。而曰運用之妙。自問出學有士超之學。然後士超之術可得而致焉。世之張望侈觀不學自欺者。其亦知所儆矣哉。</p>
<p><u>文久二年壬戌秋八月中浣江門鹽谷世弘撰</u></p>

<h1>命數篇</h1>
<p>何謂命。何謂非命。子夏曰。商聞之矣。死生有命。富貴在天。蓋舉夫子言也。孔子曰。君子修道立德。不為困窮而改節。為之者人也。生死者命也。是夫子語正命也。孟子曰。無之為而為者天也。無之致而至者命也。天壽不二。修身以俟之。所以立命也。君子行法以俟命而已矣。是孟子語正命也。孔子曰。人有三死而非其命也。己自取也。夫寢處不時。飲食不節。逸勞過度者。疾共殺之。居下位而上干其君。嗜欲無厭而求不止者。刑共殺之。以少犯眾。以弱侮強。忿怒不類。動不量力。兵共殺之。此三者死非命也。人自取之。若夫智士仁人將身有節。動靜以義。喜怒以時。無害其性。雖得壽焉。不亦宜乎。孟子曰。知命者。不立於巖牆之下。盡其道而死者。正命也。桎梏而死者。非正命也。是孔孟語正命與非命也。揚子云曰。或問命曰。命者天之令也。非人為也。人為不為命。請問人為。曰可以存亡。可以生死。非命也。命不可避也。或曰。顏氏之子。冉氏之孫。曰以其無避。若立巖牆之下。動而徵病。行而招死。命乎命乎。就此數言觀之。則天命非命之義。瞭然明矣。</p>
<p>書曰。惟天監下民。典厥義。降年有永有不永。非天夭民。民中絕命。（高宗彤日）</p>
<p>孔安國曰。言天之下年與民。有義者長。無義者不長。天非欲民天。民是不修義以致絕命。世之不中。絕命者能有幾。噫。</p>
<p>大戴禮曰。人之生。百歲之中。有疾病焉。有老幼焉。（曾子疾病篇）</p>
<p>百歲曰上壽。列子楊朱篇曰。百年壽之大齊。（齊限也楊朱篇曰。不知崖畔之所齊限。）蓋人壽短長皆天也。非人之所得而能也。不由賢愚。不繫聖凡。不為堯舜長。不為蹠蹻短。彭祖顏淵之相去。誰知其故。唯能修身養性以終天年。謂之正命也。若自釀疾病而致短折。行暴逆而招禍害。謂之非命。故曰形和則無疾。無疾則不夭。（漢書公孫弘傳）</p>
<p>論語曰。伯牛有疾。子問之。自牖執其手。曰亡之。命矣夫。斯人也而有斯疾也。（雍也篇）</p>
<p>此楊子所謂無所避者。</p>
<p>又曰。季路問事鬼神。子曰。未能事人。焉能事鬼。敢問死。曰未知生。焉知死。（先進篇）</p>
<p>聖人通死生之故。幽明之變。立神道以設教。其於天道性命鬼神。豈有所不知乎。然其所謂教者。在日用彝倫之間。學問修為之上也。論語曰。子罕言利與命與仁。（子罕篇）夫子之言性與天道。不可得而聞也（公冶長篇）務民之義。敬鬼神而遠之。可謂智矣。（雍也篇）是夫子之所以不告也。</p>
<p>史記曰。高祖擊布。時為流失所中。行道病。病甚。呂后迎良醫。醫入。見高祖向醫曰。病可治。於是高祖嫚罵之。曰。吾以布衣。持三尺劍取天下。此非天乎。命乃在天。雖扁鵲何益。遂不使治病。（高祖本記）</p>
<p>高祖起於編戶。以馬上取天下。非天命豈能然乎。是其死生固繫於天。非人力所能。如高祖可謂能達天人之理矣。</p>
<p>孔叢子曰。夫死病不可為醫。（嘉言篇）</p>
<p>又曰。死病無良醫。（報節篇）</p>
<p>鹽鐵論曰。扁鵲不能肉白骨。微箕不能存亡國也。（非鞅篇）</p>
<p>後漢書曰。良醫不能救無命。強梁不能與天爭。故天之所壞。人不能支。（蘇文傳）</p>
<p>國之存亡。人之死生。有系乎天者。有由乎人者。系乎天者。無可如何。由乎人者。猶可挽而回之。扁鵲曰。越人不能生死人也。是當自生者。越人使之起耳。自得於心者。其言皆同。</p>
<p>戰國策曰。良醫知病人之死生。而聖主明於成敗之事。（秦策）</p>
<p>知死生知治不治也。</p>
<p>荀子曰。人主不能不有遊觀安燕之時。則不得不有疾病物故之變焉。（君道篇）</p>
<p>疾病物故者。人之所必有也。然遊觀無節。安燕過度。以速疾病死亡。非正命也。富貴之人。尤宜慎也。按死亡曰故。漢書蘇武傳曰。士馬物故。注曰不欲斥言死。但言所服用之物皆已故。索隱曰。魏臺問物故何義。高堂隆答曰。物無也。故事也。言死者無所復能於事也。此說難從。</p>
<p>說苑曰。民有五死。聖人能去其三不能除其二。飢渴死者可去也。凍寒死者可去也。罹五兵死者可去也。壽命死者不可去也。癰疽死者不可去也。飢渴死者中不充也。凍寒死者。外勝中也。罹五兵死者德不忠也。壽命死者歲數終也。癰疽死者血氣窮也。故曰。中不正。外淫作。外淫作者多怨怪。多怨怪者疾病生。故清淨無為。血氣乃平。（說叢篇）</p>
<p>三死者。賢君猶可得而去之。不俟聖人。至數已盡。雖和扁安能起之哉。如癰疽使良醫。蚤從事。未必死也。至血氣既窮。精神已竭。假令處療得當。無驗不特癰疽也。外淫怨怪。即六淫蠱惑也。</p>
<p>潛夫論曰。與死人同病者。不可生也。與亡國同事者。不可存也。豈虛言哉。何以知人且病也。以其不嗜食也。何以知國之將亂。以其不嗜賢也。是故病家之廚。非無嘉饌也。乃其人弗之能食。故遂於死也。亂國之官。非無賢人也。其君弗之能任。故遂於亡也。夫生飰秔粱旨酒甘醪以養生也。而病人惡之。以為不若菽麥糟粕欲清者。此其將死之候也。尊賢任能。信忠納諫。所以為安也。而暗君惡之。以為不若奸佞闒葺讒諛者。此其將亡之徵也。（思賢篇）</p>
<p>國非賢能忠諫不治。人非穀肉果菜不能活。其理一也。故國君不任賢能國必亡。病人不欲穀肉命必殞。關尹子曰。人將病也。必先不甘魚肉之味。太倉公曰。安穀則過期。不安穀則不及期。可以見矣。欲清疑淡泊之意。闒葺無才能之稱。見賈誼傳。與死以下四句。見韓非子孤憤篇。淮南子說林訓作與死者同病難為良醫。與亡國同道難與為謀。文子上得篇作難為忠謀。王符蓋衍其義也。</p>
<p>呂氏春秋曰。桓公曰。常之巫審於死生。能去苛病。猶尚可疑耶。管仲對曰。死生命也。苛病失也。君不任其命。守其本。而恃常之巫。彼將以此無不為也。（知接篇）</p>
<p>不任命。貳乎夭壽也。不守本。不知修身也。而欲恃巫覡以全軀命。豈不左乎。</p>
<p>白虎通曰。死之為言澌也。精氣窮也。（崩薨篇）</p>
<p>人之所以保持性命者。獨以有精氣也。精氣者。穀肉果菜之所生也。素問金匱真言論曰。精者身之本也。經脈別論曰。精氣生自穀氣平人氣象論曰。人以水穀為本。故人絕水穀則死。靈樞刺節真邪論曰。真氣者所受於天與穀氣並而充身也。人之所以保持性命者。豈非以得精氣乎。故雖平人絕水穀即死。以精氣澌也。況病人乎。</p>
<p>論衡曰。天養物能使物暢至秋。不得延之至春。吞藥養性能令人無病。不能壽之為仙。（道虛篇）</p>
<p>素問五藏大政論曰。藥以祛之。食以隨之。苟如此則庶可以畢天數矣。仙豈藥食所能為乎。況避谷長生乎。蘇東坡曰。藥能治病。而不能養人。食能養人而不能醫病。亦至言也。</p>
<p>又曰。子夏言死生有命。富貴在天。聞歷陽之都。一宿沉而為湖。秦白起坑趙卒於長平之下。四十餘萬同時皆死。萬數之中必有長命未當死之人。遭時之衰微。兵革並起。不得其壽。人命有長短。時有盛衰。衰疾病被災蒙禍之驗也。宋衛鄭陳同日並災。四國之民。必有祿盛。未當衰人。然而俱災。國禍陵之也。故國命勝人命。壽命勝祿命。又曰歷陽之都。長平之坑。其中必有命善祿盛之人。一宿同填而死。遭逢之禍大。命善祿盛不能卻也。（命義篇）</p>
<p>仲任之論。可謂纖悉矣。然孟子無之為而成者天也。無之致而至者命也之言盡之。</p>
<p>又曰。慈父之於子。孝子之於親。知病不祀神。病痛不和藥。又知病之必不可治。治之無益。然不肯安坐待絕。猶卜筮以求祟。召醫和藥者。惻痛殷勤冀有驗也。既死氣絕。不可如何。升屋之危。以衣招復。悲恨思慕。冀其悟也。（明雩篇）</p>
<p>和齊和也。危屋棟也。禮喪大記。升自東中星履危。疏曰踐履屋棟高危處。史記趙謂魏曰。殺範痤。吾獻地。魏捕痤。痤上屋騎危。曰以死痤市。不如以生痤市。（趙世家）衣服精神所寓。故以此招魂也。悟寤通覺也。轉為甦醒之義。</p>
<p>又曰。命盡期至。醫藥無效。（順效篇）</p>
<p>此孔叢子所謂死病無良醫也。（報節篇）</p>
<p>又曰。良醫能治未當死之人命。如命窮壽盡。方用無驗也。故時當亂也。堯舜用術。功終不立。命當死矣。扁鵲行方。不能愈病。（定賢篇）</p>
<p>又曰。賢君能治當安之民。不能化當亂之世。良醫能行其針藥使方術驗者。遇未死之人。得未死之病也。如命窮病困則雖扁鵲末如之何。夫命窮病困之不可治。猶夫亂民之不可安也。藥氣之愈病。猶教導之安民也。皆有命時。不可令勉力也。（治期篇）</p>
<p>至必死之病。雖良工不能救。若夫凡工不能救。可救者往往斃人於非命。故術不可不慎且修也。程子曰。病而付之於庸醫。比之不慈不孝。醫家病家不可畏且慎耶。</p>
<p>又曰。夫死者病之甚者也。（論死篇）</p>
<p>又曰。人病不能飲食。則身羸弱。羸弱困甚。故至於死。（同上）</p>
<p>病之甚者。自不能飲食。是以精氣減耗。胃氣衰弱。不能運布藥氣。以抵排邪氣。故方用無效。其窮必至於死。是死病之常態。不可如何也已。</p>
<p>又曰。人之所以生者。精氣也。死而精氣減。能為精氣者。血脈也。人死血脈竭。竭而精氣滅。滅而形體朽。朽而成灰土。何以為鬼。（論死篇）</p>
<p>而猶則也。減猶絕也。此條與東方朔罵鬼書其意略同。阮瞻郁離子亦不信鬼。是皆好智而不好學之弊也。夫聖人有廟兆之設。祭祀之禮。鬼神何可誣衊。王充於解除篇反覆談鬼。此篇謂無鬼。此何言之矛盾。鬼之為禍福。歷歷有徵。子產曰。鬼有所歸不為厲。可謂知言矣。</p>
<p>王隱晉書曰。郭文舉得疫癘危困。不肯服藥。曰命在天不在藥。（太平御覽引）</p>
<p>命在天不在藥。固矣。然不服藥而委命。過矣。世之愚者多類此。可嘆。</p>
<p>文子曰。老子曰。人有三死。非命亡焉。飲食不節。簡賤其身。病共殺之。樂得無已。好求不止。刑共殺之。以寡犯眾。以弱凌強。兵共殺之。（符言篇。）</p>
<p>此必泗洙之遺言。王肅剽襲入於家語中。然其辭不如文子之簡。</p>

<h1>養性篇</h1>
<p>養性由於修身。修身在於守道。凡人之所以致疾病。罹夭橫。未嘗不因失此道也。蓋不修身養性。徒從其心情。則放僻邪恣。淫溺惑亂。無所不至。故聖人設立禮義以制心情。作為音樂以宣導堙郁。使人修身養性。無虧殞天年者。經傳所載。諸子所述。歷歷可見矣。今援其十一略解文義以發其意。與聖人之旨同其歸者。雖道家之言亦收之。不以人廢言也。然至虛無清淨。恬淡無欲之說。一切無取焉。</p>
<p>易曰。需於酒食。貞吉。（需九五）象曰。需於酒食。貞吉。以中正也。</p>
<p>人而貞其於飲食。自無有過失。夫飲食者。人之所資以生也。然如失其節。不特困亂。致中傷。取死亡。其害不可勝言也。故聖王立饗食飲酒之禮以教之。所以導中正也。奉遺體者可不慎乎。</p>
<p>又曰。噬臘肉遇毒。（噬嗑六三）象曰。遇毒。位不當也。</p>
<p>王弼曰。處下體之極。而履非其位。以斯食物。其物必堅。豈唯堅乎。將遇其毒。噬以喻刑人。臘以喻不服。毒以喻怨生。如王氏所解。是語不過譬喻耳。然准而言之。人有幼稚老壯。而資質之與腑臟。又各有強弱。故臘脯雖非毒。而或受其害。食之可慎如此。</p>
<p>又曰。君子以慎言語。節飲食（頤象）</p>
<p>王弼曰。言語飲食。猶慎節之。況其餘。</p>
<p>又曰。有孚於飲食。旡咎。濡其首。有孚失是。（未濟上九）象曰。飲酒濡首。亦不知節也。</p>
<p>不知節。則有孚猶失是。況不孚乎。</p>
<p>書曰。訓有之。內作色荒。外作禽荒。甘酒嗜好。峻宇雕牆。有一於此。未或不亡。（五子之歌。）</p>
<p>孔安國曰。迷亂曰荒。嗜甘無厭足。此六者。棄德之君。必有其一。有一必亡。況兼有乎。可移以為養性之法矣。</p>
<p>又曰。惟茲三風十愆。卿士有一於身家。必喪邦。君有一於身。國必喪。（伊訓）</p>
<p>三風十愆。大之喪國家。小之亡性命。何可不猛省。</p>
<p>又曰。天降威。我民用。大亂喪德。亦罔非酒。惟行越小大邦用喪。亦罔非酒惟辜。（酒誥）</p>
<p>孔安國曰。天下威罰。使民亂德。亦無非以酒為行者。言酒本為祭祀。亦為亂行於小大之國。所以喪亡。亦無不以酒為罪也。夫百禮之會。非酒不行。酒焉可惡。唯留連沉湎。遂至於此耳。誥瑟之言。其意深哉。</p>
<p>又曰。惟耽樂之從。自時厥後。亦罔克壽。（無逸）</p>
<p>孔安國曰。過樂謂之耽。惟樂之從。言荒淫以耽樂之故。自是其後。亦無克壽者。世之淫溺惑亂。以死非命者。無不自耽樂訓致者。聖人之言。蓍龜不啻。讀者思之。</p>
<p>又曰。出入起居。罔有不欽（冏命）</p>
<p>聖人之於修身。雖一事之微。其嚴如此。</p>
<p>韓詩外傳曰。能治天下者。必能養其民也。能養民者。為自養也。飲食適乎藏。滋味適乎氣。勞佚適乎筋骨。寒暖適乎肌膚。然後氣藏平。心術治。思慮得。喜怒時。起居而遊樂。事時而用足。夫是之謂能自養者也。（卷三）</p>
<p>佚不勞也。適猶安便也。欲養其民者。必當先為自養。猶欲治國家者。先修其身也。養生如此。疾病禍害。將安從來。</p>
<p>周禮曰。食醫掌和王之六食六飲六膳百羞百醬百珍之齊。（六食。食音嗣。下食齊食同。齊才細反。下同。）</p>
<p>鄭玄曰。和調也。按六食以下。並膳夫所掌醫食調和而已。六食六穀稌黍稷粱麥苽也。六飲。水醬醴酤醫酏也。</p>
<p>六膳六牲。牛羊豕犬雁魚也。羞出於六牲及禽獸。以備滋味。謂之庶羞。羞進也。醬醯醢也。膳夫職醢人。共醢六十甕。醯人共醯六十甕。八珍。淳熬淳母炮豚炮牂搗珍漬熬肝也。王昭禹曰。齊者調和其味。使多寡厚薄。各適其節也。又按六膳。膳夫職。禮記內則並有馬無魚。</p>
<p>凡食齊眡春時。羹薺眡夏時。醬齊眡秋時。飲齊眡冬時。</p>
<p>鄭玄曰。飯宜溫。羹宜熱。醬宜涼。飲宜寒。溫熱涼寒。通四時為言。眡猶比。言四時之齊。和比四時也。王應電曰。五穀食之主。故宜溫。羹所以調食。故宜熱。醬所以致滋味。故宜涼。飲解渴。故宜寒。</p>
<p>凡和春多酸。夏多苦。秋多辛。冬多咸。調以滑甘。</p>
<p>鄭玄曰。各尚其時。味而甘以成之。猶水火金木之載於土。賈六彥曰。木味酸屬春。火味苦屬夏。金味辛屬秋。水味鹽屬冬。各尚其時味者。多一分者也。必多其時味者。所以助時氣也。中央土味屬季夏。五行以土為尊。五味以甘為上。滑者通利往來。所以調四味。故曰調以滑甘。王昭禹曰。春令發散多。酸以收之。夏令解緩多。苦以堅之秋令揫。斂多辛以散之。冬令堅慄多咸以耎之。</p>
<p>凡會膳食之宜牛宜稌。羊宜黍。豕宜稷。犬宜粱。雁宜麥。魚宜苽。</p>
<p>鄭玄曰。會成也。謂其味相成。鄭司農云。稌稉也。爾雅曰。稌稻苽雕胡也。賈公彥曰。凡會膳食之宜者。謂會。成膳食相宜之法。王應電曰。凡物性有同類。以助其生者。有相待以泄其過者。合食則能益人。有相反而為忌者。合食則能害人。</p>
<p>凡君子之食恆放焉。（食醫職）</p>
<p>鄭玄曰。放猶衣也。賈公彥曰。上六食六飲一。經據共王不通於下。凡食春多酸已下至魚宜苽已上。齊和相成之事。雖以王為主。君子大夫已上亦依之。故云恆放焉。蓋飲食之於人。所繫至重。故立食醫之職。以掌其事。酒正有酒人醬人籩人醯人醢人。膳夫有庖人亨人內饔外饔。各守其職。以謹其制。如內則所記齊和製造之法。亦可謂詳而悉矣。是不特為禮數之備焉。苟齊和失宜。以必有害於性命也。</p>
<p>禮記曰。禮儀也者。人之大端也。所以講信修睦而固人之肌膚之會。筋骸之束也。（禮運）</p>
<p>人不由禮義。則放逸惰慢。淫惑溺亂。其不致疾殞生者殆希。</p>
<p>又曰。仲夏之月君子齋戒。處必掩身。毋躁。止聲色。毋或進。薄滋味。母致和。節耆欲。定心氣。（月令）</p>
<p>月令一歲十二月之政令。視時候以授人事也。鄭玄曰。掩猶隱翳也。躁猶動也。進尤御見也。聲謂樂也。薄滋味。毋致和。為其氣異。此時傷人。節耆欲。定心氣。微陰扶精。不可散也。</p>
<p>又曰。仲冬之月。君子齋戒。處必掩身。身欲寧。去聲色。禁嗜欲。安形性事欲。靜以待陰陽之所定。（同上）</p>
<p>鄭玄曰。寧安也。聲謂樂也。慎起居聲色。節飲食嗜欲。修身養生之道莫切焉。四時皆當如此。而特言之仲夏仲冬者。舉其要也。</p>
<p>左氏傳曰。夫禮天之經也。地之義也。民之行也。天地之經。而民實則之。則天之明。因地之性。生其六氣。用其五行。氣為五味。發為五色。章為五聲。淫則昏亂。民失其性。是故為禮以奉之。（昭二十五年）</p>
<p>淫者過也。淫則失其性。故制禮防之。</p>
<p>春秋繁露曰。君子察物之異。以求天意。大可見矣。是故男女體其盛。臭味取其勝。居處就其和。勞佚居其中。寒暖無失適。飢飽無過平。欲惡審度理。動靜順性命。喜怒止於中。憂懼反之正。此中和常在乎其身。謂之得天地泰。得天地泰者。其壽引而長。不得天地泰者。其壽傷而短。短長之質。人之所由受於天也。是故壽有短長。養有得失。及至其末之大卒而必讎於此。莫之得離。故壽之為言猶讎也。（循天之道篇）</p>
<p>物之異者。謂物之異於常情也。如男女應。迨其盛壯。室家之念方動而合之。其或過年。或不及年。均為異常。非欠生育。則因致疾病。非天地生物之意必矣。他臭味居處勞佚飢飽。皆得中和。無有過不及。夫人壽長短。固有定分。然養得其道。短者或可引而長。養失其道。長者亦可傷而短。若持其身。如董子所論中和常在乎其身。不但盡定分。或可以延乎其外矣。其末之末讀如召誥王末有成命。中庸武王末受命之末。指人之末年。讎猶報也。應也。詩曰。無言不報。左傳曰。無喪而感。憂必讎焉。杜注。讎對也。人能養性節欲。則必有報應。天意大可見矣者是也。</p>
<p>又曰供設飲食。候視疚疾。所以致養也。委身致命。事無專制。所以致養也。（天地之行篇）</p>
<p>供設飲食。選設與疾病相得者也。委身致命。修身俟命也。事無專制。守禮義。秉中和也。專制與呂覽盡數篇擅行同。此條與荀子修身篇。申鑑俗嫌篇並觀。其義益明。</p>
<p>論語曰。食不厭精。鱠不厭細。食饐而餲。魚餒而肉敗。不食。色惡不食。臭惡不食。失飪不食。不時不食。割不正不食。不得其醬不食。肉雖多。不使勝食氣。唯酒無量。不及亂。沽酒市脯不食。不撒姜食。不多食。（鄉黨篇）</p>
<p>精。精鑿也。食饐而餲。飯傷熱濕而味變也。餒爛也。敗腐也。色惡臭惡。雖未敗而色臭已變也。失飪。失烹調生熟之節也。不時。謂物非其時也。醬古者有數種。各有所宜。若不相得。恐有害。故不食也。量。限量也。主客酬酢之間。或不得為限量。然以醉為節。不至困心志喪威儀也。沽酒市脯。恐有醞釀不正。製造不潔。故不食也。不撒姜食。不多食。人性各有好惡。如屈到嗜芰。曾皙嗜羊棗。但不縱其所嗜。所以為夫子也。一說撒敢誤。姜強誤。言其所不好。固不敢強食。雖所嗜亦不多食也。按姜本作䕬。以字形似誤乎。呂氏春秋曰。凡食無強厚味。無以烈味重酒。凡食無飢飽。是之謂五藏之葆。夫飲食能養人。亦能傷人。故聖人致慎其嚴如此。</p>
<p>史記曰。音樂者。所以動盪血脈。通流精神。而和正心也。故宮動脾而和正聖。商動肺而和正義。角動肝而和正仁。徵動心而和正禮。羽動腎而和正智。故樂所以內輔正心。而外異貴賤也。（樂書）</p>
<p>禮樂者。所以養人之德。和人之心志。導之中正也。至漢代禮樂崩壞。不可得而詳。子遷溲索遺言。作禮樂二書。然如此條以五聲配五藏。恐非三代之書也。</p>
<p>前漢書曰。桑間濮上鄭衛宋趙之聲並出。內則致疾損壽。外則亂政傷民。（禮樂志）</p>
<p>孔子曰。關雎樂而不淫。哀而不傷。左氏曰。淫則昏亂。民失其性也。淫聲之可懼如此。</p>
<p>國語曰。厚味實臘毒。（周語）</p>
<p>韋昭曰。厚味。喻重祿也。臘亟也。讀如廟昔酒焉。味厚者。其毒亟也。按周禮酒正昔酒鄭注曰。今之酋久白酒。賈疏曰。晉語厚味。實昔毒酒。久則毒也。又鄭語毒之酋。臘者其殺也。滋速韋昭曰。精熟為酋。臘極也。周語注極作亟。</p>
<p>荀子曰。凡用血氣意志思虛。由禮則治通。不由禮則勃亂提僈。食飲衣服居處動靜。由禮則和節。不由禮則觸陷生疾（修身篇）</p>
<p>又曰。人莫貴乎生。莫樂乎安。所心養生樂安者。莫大乎禮義。人知貴生樂安。而棄禮義。闢之是欲壽而刎頸。愚莫大焉（修身篇）</p>
<p>勃與悖通。提緩也。僈與漫同。觸陷。觸刑陷禍也。荀子以禮義為修身之要。其論精確。深邃有味。後儒以性惡一言概乎排之。非通論也。</p>
<p>又曰。強本而節用。則天不能貧。養備而動時。則天不能病。修道而不二。則天不能禍。故水旱不能使之飢渴。寒暑不能使之病（天論篇）</p>
<p>荀子天論。至言尤多。非後儒所及也。</p>
<p>管子曰。滋味動靜。生之養也。好惡喜怒哀樂。生之變也。聰明當物。生之德也。是故聖人齊滋味而時動靜。御正六氣之變也。（戒篇）</p>
<p>滋味適可。動靜以時。所以養生也。六情無節。必至於淫。淫則沉溺惑亂。疾病隨生焉。聰明當物。則不失中和。所以為生之德也。御控御也。六氣氣猶情也。</p>
<p>鹽鐵論曰。手足之勤。腹腸之養也。（忠貴篇）</p>
<p>手足之不勤者。必溺於酒肉。淫於聲色。呂覽以酒肉為爛腸之食。韓非子亦曰香美脆味。厚酒肥肉。甘口而疾形。（揚榷篇）與此言相發。</p>
<p>說苑曰。君子以禮正外。以樂正內。內須臾離樂。則邪氣生矣。外須臾離禮。則慢行起矣。（修文）</p>
<p>漢去周未遠。三代教法。猶有存者。於今得窺古聖之道者。漢儒之功為多。後儒目以訓詁之學。可謂冤矣。</p>
<p>申鑑曰。或問曰。有養性乎。曰養性秉中和守之以生而已。愛親愛德愛力愛神之謂嗇。否則不宣。過則不澹。故君子節宣其氣。勿使有所壅閉。滯底昏亂。百度則生病。故喜怒哀樂思慮。必得其中。所以養神也。寒暖盈虛消息。必得其中。所以養神也。善治氣者。由禹之治水也。若夫導引蓄氣。歷藏內視。過則失中。可以治疾。皆非養性之聖術也。夫屈者以乎伸也。蓄者以乎虛也。內者以乎外也。氣宜宣而遏之。體宜調而矯之。神宜平而抑之。必有失和者矣。夫善養性者。無常術。得其和而已矣。鄰臍二寸謂之關。關者所以關藏呼吸之氣。以稟授四體也。故氣長者以關息。氣短者其息稍升。其脈稍促。其神稍越。至於以肩息而氣舒。其神稍專。至於以關息至氣衍矣。故道者常致氣於關。是謂要術。凡陽氣生養。陰氣消殺。和喜之徒。其氣陽也。故養性者崇其陽而絀其陰。陽極則尢。陰極則凝。亢則有悔。凝則有凶。夫物不能為春。故候天春而生。人則不然。存吾春而已矣。藥者療也。所以治疾也。無疾則勿藥可也。肉不勝食氣。況於藥乎。寒斯熱。熱則致滯陰。藥之用也。唯適其宜。則不為害。若已氣平也。則必有傷。唯針火亦如之。故養性者不多服也。唯在乎節之而已矣。（俗嫌篇）</p>
<p>愛親疑愛身誤。歷猶練也。內視心不外馳也。矯擅也。促數也。論雖似道家之言。非剿襲也。藥者療也以下。與吾古疾醫道全然相符。實為確論。足以破魏晉以降藥餌補養之說矣。</p>
<p>韓非子曰。天有大命。人有大命。夫香美脆味。厚酒肥肉。甘口而疾形。曼理皓齒。說情而捐精。故去甚去泰。身乃無害。（揚榷篇）</p>
<p>小耎易斷之謂脆。曼澤也。理膚理也。飲食男女。人之大欲存焉。民中絕命。職此之由。周語曰。厚味實臘毒。養生之術。亦莫善於寡欲。</p>
<p>又曰。嗜欲無限。動靜不節。則痤疽之爪角害之。（解老篇）</p>
<p>以痤疽比猛獸。故曰爪角也。博雅曰。痤癰也。</p>
<p>呂氏春秋曰。肥肉厚酒。務以相強。命之曰爛腸之食。（本生篇）</p>
<p>舉梃擬面。則按劍而應之。以其將害己也。爛腸之害。豈啻舉梃擬面哉。然務以相強。則喜以為愛己。嗜欲之溺人如此。</p>
<p>又曰。聖人深慮天下莫貴於生。夫耳目鼻口。生之役也。耳雖欲聲。目雖欲色。鼻雖欲芬香。口雖欲滋味。害於生則止。在四官者不欲。利於生者則不為。由此觀之。耳目鼻口。不得擅行。必有所制。譬之若官職不得擅行。必有所制。此貴生之術也。（貴生篇）</p>
<p>口鼻耳目。所以養性命之具也。然嗜欲無厭。則以其所以養者反害其生。故欲全其生。必先節四者之欲。欲節四者之欲。必先制其心。仲虺曰。以義制事。以禮制心是也。</p>
<p>又曰。天生人而使有貪有欲。欲有情。情有節。聖人修節以止欲。故不過其情也。俗主虧情。故每動而亡敗。耳不可贍。目不可厭。口不可滿。身盡府腫。筋骨沉滯。血脈壅塞。九竅寥寥。曲失其宜。雖有彭祖。猶不能為也。（情欲篇）</p>
<p>七情者。性之欲也。縱之則昏亂百度以敗亡軀命。故聖人立禮義之教以節制之。虧者毀也。府腫與腑腫同。病毒貫盈之狀。寥者空也。九竅寥寥。九竅失職不為用也。曲猶悉也。為猶治也。言雖有彭祖之壽。不可治也。</p>
<p>又曰。天生陰陽寒暑燥濕。四時之化。萬物之變。莫不為利。莫不為害。聖人察陰陽之宜。辨萬物之利。以便生。故精神安於形。而年壽得長焉。長也者。非短而續之也。畢其數也。畢數之務。在於去害。何謂去害。大甘大酸大苦大辛大咸五者克形則生害矣。大喜大怒大憂大恐大哀五者接神則生害矣。大寒大熱大燥大濕大風大霖大霧七者動情則生害矣。故凡養生莫若知本。知本則疾無由至矣。（盡數篇）五味失和。偏嗜任欲。必害形體。五情無節。六氣觸冒。必害精神。務去其害。則疾病無繇生。能畢其數。此之謂知本也。</p>
<p>又曰。凡事之本。必先治身。嗇其大寶。用其新。棄其陳。腠理遂通。精氣日新。邪氣盡去。及其天年。此之謂真人。（先已篇）</p>
<p>大寶。性命也。節飲食。慎起居。則腠理宣達。九竅通利。新陳代謝。精氣日新。邪氣不能留滯焉。及者。至天數之限也。</p>
<p>又曰。昔陶唐氏之始。陰多帶伏而湛積。水道壅塞。不行其原。民氣鬱閉而滯著。筋骨瑟縮不達。故作為舞以宣道之。（古樂篇）</p>
<p>湛沉也。原本也。淮南墜形訓曰。黃水三周復其原。瑟縮。拘急不自如也。舞者所以節八音而行八風也。滯塞可通。瑟縮可暢。不曰樂而曰舞。亦足以觀其世矣。</p>
<p>又曰。飲食居處適。則九竅百節千脈皆通利焉。（開春篇）</p>
<p>又曰。凡人三百六十節。九竅五藏六府。肌膚欲其比也。血脈欲其通也。筋骨欲其固也。心志欲其和也。精氣欲其行也。若此則病無所居。而惡無由生矣。病之留。惡之生也。精氣鬱也。故水鬱則為汙。樹鬱則為蠹。草鬱則為蕢。國亦有郁。主德不通。民欲不達。此國之郁也。國郁處久。則百惡並起。萬災叢至矣。（達郁篇）</p>
<p>比密也。通宣也。固堅也。和猶安也。行流也。惡慝也。人苟精氣流行。支體堅固。病毒無繇生。蕢義未詳。亢倉子則作草郁為腐。按淮南子原道訓曰。堅強而不鞼。張湛曰。音貴。折也。蕢疑鞼之訛也。此條疾病之原由。治亂之脴　胎。議論適切。實為至言。</p>
<p>淮南子曰。喜怒者。道之邪也。憂悲者。德之失也。好憎者。心之過也。嗜欲者。性之累也。人大怒破陰。大喜墜陽。薄氣發瘖。驚怖為狂。憂悲多恚。病乃成積。好憎繁多。禍乃相隨。是故以中制外。百事不廢。中能得之。則外能收之。中之得則五藏寧。思慮平。觔力勁強。耳目聰明。疏達而不悖。堅強而不鞼。（原道訓）</p>
<p>心術正而思慮平者。情不妄動。故無有大怒以下之失。所以無禍疾也。中者心也。外者情也。鞼折也。</p>
<p>又曰。起居時。飲食節寒暑適。則身利而壽命益。起居不時。飲食不節。寒暑不適。則形體累而壽命損。</p>
<p>又曰。養生以經世。抱德以終年。可謂能體道矣。若然者。血脈無鬱滯。五藏無蔚氣。（叔真訓）</p>
<p>血脈無鬱滯。五藏無蔚氣。則精神內守。肉腠外拒。雖有厲風苛毒。不能侵之。雖道家之言。亦至論也。家語蔚作郁。文字作拆。</p>
<p>又曰。聖人勝心。眾人勝欲。君子作正氣。小人行邪氣。內便於性。外合於義。循理而動。不繁於物者。正氣也。重於滋味。淫於聲色。發於喜怒。不顧後患者。邪氣也。邪與正相傷。欲與性相害。不可兩立。一置一廢。故聖人損欲而從事於性。目好色。耳好聲。口好味。接而說之。不知利害嗜欲也。食之不寧於體。聽之不合於道。視之不便於性。三官交爭。以義為制者心也。割痤疽非不痛也。飲毒藥非不苦也。然而為之者。便於身也。渴而飲水。非不快也。飢而大餐。非不贍也。然而弗為者。害於性也。此四者。耳目鼻口。不知所取去。心為之制。各得其所。由是觀之。欲之不可勝明矣。凡治身養性。節寢處。適飲食。和喜怒。便動靜。使在已者得而邪氣因而不生。豈若憂瘕疵之與痤疽之發而豫備之哉。（詮言訓）</p>
<p>此修身養性之至言要道也。勝任也。盡也。</p>
<p>又曰。今夫道者。藏精於內。棲神於心。靜漠恬淡。訟繆胸中。邪氣無所留滯。四肢節族。毛蒸理泄。則機樞調利。百脈九竅。莫不順。比其所居神者。得其位也。豈節拊而毛修之哉（泰族訓）</p>
<p>寡欲而循理者皆然。非獨道家而能也。訟容也。謬靜也。訟繆文子道原篇作悅穆似長。</p>
<p>又曰。立明堂之朝。行明堂之令。以調陰陽之氣。以和四時之節。以闢疾病之菑。（同上）</p>
<p>又曰。神清志平。百節皆寧。養性之本也。肥肌膚。充腹腸。供嗜欲。養生之末也。（同上）</p>
<p>寡欲則神志不期而自清平。百度無有昏亂。若夫養小體者。焉知養生之道乎。</p>
<p>列子曰。晏平仲問養生於管夷吾。管夷吾曰。肆之而已。勿壅勿閼（楊朱篇）</p>
<p>肆者緩也。肆之而已。心性舒緩。則形體安和。故精氣自不壅滯閼郁也。按書大誥曰。王曰。嗚呼肆哉。孔安國曰。肆放也。欲其舒放而不畏縮也。是亦舒緩之意也。晏與管相去殆百年。列子成於偽撰。此不必辨。</p>
<p>又曰。周諺曰。田父可坐殺。晨出夜入。自以性之恆。啜菽茹藿。自以味之極。肌肉粗厚。筋節腃急。一朝處以柔毛綈幕。薦以粱肉蘭橘。心㾓體煩。內熱生病矣。商魯之君。與田父侔地。則亦不盈一時而憊矣。（同上）</p>
<p>腃音愧。筋急貌。腃急猶云強勁。㾓音淵。煩郁也。通作焆。又憂也。侔均也。憊羸困也。</p>
<p>又曰。若觸情而動。耽於嘗欲。則性命危。（同上）</p>
<p>氓之蚩蚩。不觸情而動。任欲而招害者。蓋希其得壽者。幸已非數。</p>
<p>亢倉子曰。始生之者天地也。養成之者人也。草鬱則為腐。樹鬱則為蠧。人鬱則百慝並起。</p>
<p>孟子曰。夫人必自侮。然後人侮之。家必自毀。而後人毀之。國必自伐。而後人伐之。（離婁篇）信矣。</p>
<p>莊子曰。平易恬淡。則憂患不能入。邪氣不能襲。（刻意篇）</p>
<p>又曰。君將盈嗜欲。長好惡。則性命之情病矣。君將黜嗜欲。掔好惡。則耳目病矣。（徐無鬼篇）</p>
<p>平易恬淡。則心志安和。憂患不入。然非聖人之道也。人固不能斷欲。俱以禮義治心情。則自然寡欲。聖人之教為然。如虛無恬淡。槁木死灰之教。非所以施於人間也。掔音慳。郭注掔牢也。按正字通音愆。牽去也。與黜字相對。郭注恐非是。</p>
<p>文子曰。老子曰。萬物之總。皆閱一孔。百事之根。皆出一門。故聖人一度循軌。不變其故。不易其常。放准循繩。曲因其直。直因其常。夫喜怒者。道之邪也。憂悲者。德之失也。好憎者。心之過也。嗜欲者。心之累也。（道原篇）</p>
<p>喜怒以下。修身之要訣。而養生之道寓焉。雖言出於道家。不宜一概廢之。</p>
<p>又曰。老子曰。古者之聖人。仰取象於天。俯取度於地。中取法於人。調陰陽之氣。和四時之節。察陵陸水澤肥墽高下之宜。以立事生財。除肌寒之患。闢疾疢之災。（同上）</p>
<p>墽墝磽通。瘠土也。此條與淮南子泰族訓其義略同。余著命數養性二篇者。欲人之全性命以終天數也。人情無不愛生惡死者。而舍彼取此。嗜欲害之也。若奉聖賢之教。守道以修身。則焉有疾疢橫夭之災耶。夫人與天地參。豈不知所以永保軀命。而共天職報天意而可乎。</p>

<h1>疾病篇</h1>
<p>疾之為物。有得於天者焉。有成乎人者焉。成乎人者常多。得於天者常少。雖得於天者。要亦多人之所自致。其義已於命數養性二篇論之。凡古人論病源。其說紛紛。無有歸一。今略辨說其義。以仰來哲是正云。</p>
<p>韓詩外傳曰。人主之疾。十有二發。非有賢醫。莫能治也。何調十有二發。痿厥逆脹滿支膈盲煩喘痹風。此之謂十有二發。賢醫治之何。曰省事輕刑。則痿不作。無使小民飢寒。則厥不作。無令貨財上流。則逆不作。無令倉稟積腐。則脹不作。無使府庫充實。則滿不作。無使群臣縱恣。則支不作。無使下情不上通。則膈不作。上材恤下。則盲不作。法令奉行。則煩不作。無使賢伏匿。則痹不作。無使百姓歌吟誹謗。則風不作。夫重臣群下者。人主之心腹支體也。心腹支體無疾。則人主無疾矣。故非有賢醫。莫能治也。人皆有此十二疾。而不用賢醫。則國非其國也。詩曰。多將熇熇。不可救藥。終亦必亡而已矣。故賢醫用則眾庶無疾。況人主乎。（卷三）</p>
<p>良相治未亂。良醫治未病。其事雖異而理則同。此條論政事得失。形病原病狀處。譬喻極切要妙。上材一本作上振。國非其國。所以深戒之也。人皆之人。人主也。</p>
<p>又曰。太平之時。無瘄㾓跛眇尩蹇侏儒折短。父不哭子。兄不哭弟。道無襁負之遺育。然各以其序終者。賢醫之用也。（同上）</p>
<p>使天下之民。熙熙如登春臺者。非得明君賢相之燮理。安能致之哉。</p>
<p>禮記曰。孟春行秋令。則其民大疫。（鄭玄曰。申之氣乘之也。七月初殺。高誘曰木仁金殺而行其令。故民多疫疾也。）季春行夏令。則民多疾疫。（鄭玄曰。未之氣乘之也。六月宿直鬼為天屍。時又有大暑也。高誘曰。行夏炎陽之令。火干木。故民多疾疫。）仲夏行秋令。則民殃於疫。（鄭玄曰。大陵之氣來為害也。高誘曰。非其時氣。故民疾疫。）季夏行春令。則民多風咳。（鄭玄曰。辰之氣乘之也。未屬巽。辰又在巽位。二氣相亂為害。高誘曰。春木王。故民多風咳上氣也。）孟秋行夏令。則寒熱不節。民多瘧疾。（鄭玄曰。瘧疾寒熱所為也。高誘曰。夏火王而行其令。金氣火氣寒熱相干不節。使民瘧疾。寒熱所生。今本禮記瘧疾作疾疫。）季秋行夏令。則民多鼽嚏。（鄭玄曰。未之氣乘之也。六月宿直東井。氣多暑雨。高誘曰。火金相干。故民鼽窒。鼻不通也。鼽讀曰怨仇之仇。）仲冬行春令。則民多疥癘。（鄭玄曰。疥癘之病。孚甲象也。呂覺作疾癘。高誘曰。水木相干。故民多疾癘。）季冬行春令。則民多固疾。（鄭玄曰。生不充性有久病也。）</p>
<p>政令有失。則藏氣必致乖沴。故聖王重之。蓋聖人之道。法象天地。禮樂刑政。以至凡百之事。無非奉天道者。使天下之民。得免天昬札瘥者。以此也。</p>
<p>又曰。成子高寢疾。慶遺入請曰。子之疾革矣。如至乎大病。則如之何。（檀弓篇）</p>
<p>革者亟也。急也。變也。檀弓曾元曰。夫子之疾革矣。鄭玄曰。革與亟同。謂病進亟也。</p>
<p>又曰。禿者不免。傴者不祖。跛者不踴。非不悲也。身有錮疾。不可以備禮也。（問喪篇）</p>
<p>鑄銅鐵以塞隙。謂之錮也。以譬病毒閉塞之狀。月令篇作固疾。新書大都篇西京雜記並作痼疾。錮痼皆從固。病毒固結沉滯不動之義。</p>
<p>左氏傳曰。晉公疾病。求醫於秦。秦伯使醫緩為之。未至。公夢疾為二豎子曰。彼良醫也。懼傷我焉。逃之。其一曰。居肓之上。膏之下。若我何。醫至曰。疾不可為也。在盲之上。膏之下。攻之不可。達之不及。藥不至焉。不可為也。（成十年）</p>
<p>居肓膏之間。謂病之入深。猶言在骨髓也。非可攻治。故曰不可達者。以針砭達之也。不至者。藥力不及也。為治也。申鑑曰。夫膏肓近心而處。阨針之不達。藥之不中。攻之不可。二豎藏焉。是謂篤患。</p>
<p>又曰。叔豫曰。國多寵而王弱。國不可為也。遂以疾辭。方暑。闕地下冰而床焉。重繭衣裘。鮮食而寢。楚子使醫視之。復曰。瘠則甚矣。而血氣未動。（襄二十一年）</p>
<p>人罹疾病。則血脈亂而諸證見焉。論衡別通篇曰。血脈不通。人以甚病。中論考偽篇曰。內關之疾。云云。期日已至。血氣暴竭。遭之者不能攻也。今診之以血氣未動。知雖瘠。其非真病。非良工而豈能然哉。按扁鵲傳曰。趙簡子疾。五日不知人。扁鵲曰。血脈治也。而何怪。其意正同。闕與掘通。穿也。復。反命也。</p>
<p>又曰。臧孫曰。季孫之愛我。疾疢也。孟孫之惡我。藥石也。美疢不如惡石。夫石猶生我。疢之美其毒滋多。（襄二十三年）</p>
<p>藥石。毒藥砭石也。美疢即疾疢。其謂惡石者。對美疢云爾。</p>
<p>又曰。晉公有疾。鄭伯使公孫僑如晉聘。且問疾。叔向問焉。曰。寡君之疾病。卜人曰。實沉臺駘為祟。史莫之知。敢問此何神也。子產曰。此二者不及君身。山川之神。則水旱癘疫之災。於是乎禜之。日月星辰之神。則雪霜風雨之不時。於是乎禜之。若君身則亦出入飲食哀樂之事也。山川星辰之精又何為焉。僑聞之。君子有四時。朝以聽政。晝以訪問。夕以修令。夜以安身。於是乎節宣其氣。勿使有所壅閉。湫底以露其體。茲心不爽而昏亂百度。今無乃壹之。則生疾。（昭公元年）</p>
<p>祟說文曰神禍也。正字通曰。凡國家物怪人妖皆曰祟。江充傳曰。祟在巫蠱由乖氣致戾。人自所召。非神出以警人也。禜永定切。音詠。祭名。正字通引左傳此文曰。周禮春秋禜亦如之。今以子產之言觀之。晉侯之疾。百度昏亂。精氣壅閉。湫底之所致也。是乃美疢不如惡石者。豈禜祭之所與乎。湫集也。底滯也。露謂形體羸瘠。筋骨呈露。列子曰。口形甚露是也。爽明也。正義曰。節宣以時。節宣散其氣也。節即四時是也。凡人形神有限。不可久用。神久用則竭。形大勞則敝。不可以久勞也。神不用則鈍。形不用則痿。不可以久逸也。固當勞逸更遞。以宣散其氣。朝以聽政。久則疲。疲則易之以訪問。訪問久則倦。倦則易之以修令。修令久則怠。怠則易之以安身。安身久則滯。滯則易之以聽政。以後事改前心。則亦所以散其氣也。</p>
<p>又曰。晉侯求醫於秦。秦伯使醫和視之。曰疾不可為也。是謂近女室。疾如蠱。非鬼非食。惑以喪志。良臣將死。天命不祐。公曰。女不可近乎。對曰。節之。先王之樂所以節百事也。故有五節遲速本末以相及。中聲以降。五降之後。不容彈矣。於是乎有煩手淫聲。慆堙心耳。乃忘平和。君子弗聽也。物亦如之。至於煩。乃舍也已。無以生疾。君子之近琴瑟。以儀節也。非以慆心也。天有六氣。降生五味。發為五色。徵為五聲。淫生六疾。六氣曰陰陽風雨晦明也。分為四時。序為五節。過則為菑。陰淫寒疾。陽淫熱疾。雨淫末疾。兩淫腹疾。晦淫惑疾。明淫心疾。女陽物而晦時。淫則生內熱惑蠱之疾。今君不節不時。能無及此乎。出告趙孟。趙孟曰。誰當良臣。對曰。主是謂矣。主相晉國。於今八年。晉國無亂。諸侯無闕。可謂良矣。和聞之。國之大臣。榮其寵祿。任其大節。有菑禍興而無改焉。必受其咎。今君至於淫以生疾。將不能圖恤社稷。禍孰大焉。主不能御。吾是以云也。趙孟曰。何謂蠱。對曰。淫溺惑亂之所生也。於文皿蟲為蠱。谷之飛亦為蠱。在周易女惑男風落山謂之蠱。皆同物也。趙孟曰。良醫。厚其禮而歸之（同上）</p>
<p>蠱心志惑亂之疾。昏狂失性皆是也。凡貴人之疾。非飲食勞佚之失。則淫溺惑亂之由。為古今之通患。要皆因大臣苟固祿位。而不納規諫。阿諛逢迎。以成其惡焉耳。其罪安歸。醫和之言。真醫國之論也哉。慆慢也。堙塞也。煩手淫聲以慢塞心耳。所以忘平和也。按書湯誥曰。凡我造邦。無從匪彝。無即慆淫。孔安國曰。慆慢也。無從非常無就慢過禁之。</p>
<p>論語曰。父母唯其疾之憂。（為政篇）</p>
<p>孝子之事親。無所不至。父母將何憂。唯疾乎。不能保無死。此所以遺父母之憂也。為人子者。如曾子之臨終。而後可以無憾矣。</p>
<p>又曰。子之所慎。齊戰疾。（述而篇）</p>
<p>齊所以事鬼神也。不可不極其誠敬。戰國之存亡系焉。故曰國之大事。在祀與戎。而疾疢也者。死生之所判。此夫子所以尤致慎於三者也。</p>
<p>釋名曰。疾病者。客氣中人急疾也。病並也。客氣並與正氣在膚體中也。（釋疾病篇）</p>
<p>客氣。邪氣也。謂客氣與正氣並居。要亦一偏之解耳。</p>
<p>史記曰。若君疾。飲食哀樂女色所生也。（鄭世家）</p>
<p>飲食哀樂女色能害人殺人。畢竟自取之耳。</p>
<p>國語曰。偏而在外。猶可救也。疾自中起是難。（晉語）</p>
<p>外謂外表四肢也。疾雖重劇。猶可瘳矣。中謂腹心。其病繫於九藏。重劇則難救治。</p>
<p>又曰。平公有疾。秦景公使醫和視之。出曰。疾不可為也。是謂遠男而近女。惑以生蠱。非鬼非食。惑以喪志。良臣不生。天命不祐。若君不死。必失諸侯。趙文子聞之曰。武從二三子以佐君。為諸侯盟主。於今八年矣。內無苛慝。諸侯不二。胡曰良臣不生。天命不祐。對曰。自今之故。和聞之曰。直不輔曲。明不規暗。榣木不生危。松柏不生埤。吾子不能諫惑。使至於生疾。又不自退而寵其政。八年謂之多矣。何以能久。文子曰。醫及國家乎。對曰。上醫醫國。其次疾人。固醫官也。文子曰。子稱蠱何實生之。對曰。蠱之慝。谷之飛實生之。物莫伏於蠱。莫善於谷。谷與蠱伏而章明者也。故食谷者。晝選男德以象谷明。宵靜女德以伏蠱慝。今君一之是。不饗谷而食蠱也。是不昭谷明而皿蠱也。夫文蟲皿為蠱。吾是以云。（晉語）</p>
<p>為治也。遠男而近女。遠師傳近女色也。鬼鬼神也。食飲食也。惑於女以喪其志曰蠱。和聞之四句。蓋古語也。西山經。其陰多榣木。郭璞曰。榣木大木也。危高險也。埤下濕也。此二句以喻文子不能久保寵祿也。止其淫惑。故曰醫國。官猶職也。慝惡也。蟲害谷。谷為之飛。猶女色惑人。人生疾疢也。物莫伏於蠱以下。言平公荒淫致疾。以終其義。與左傳文異而意互相發。孔穎達曰。志性恍惚。不自知者。其疾名蠱。以藥藥人。令人不自知者。今律謂之蠱。</p>
<p>管子曰。思索生知。慢易生憂。暴傲生怨。憂鬱生疾。疾困乃死。思之而不捨。內困外薄。不蚤為圖。生將選舍。（內業篇）</p>
<p>思之而不捨。過慮之謂也。與思索不同。太史公曰。使聖人預知微能。使良醫得蚤從事。則疾可已。身可活也。亦此章之意也。</p>
<p>潛夫論曰。歷觀前世貴人之用心也。與嬰兒等。嬰兒有常病。貴人有常禍。父母有常失。人君有常過。嬰兒常疾傷飽也。貴人常禍傷寵也。父母常失在不能已於媚子。人君常過在不能已於驕臣。哺乳太多。則必掣縱而生癇。貴富太極。則必驕佚而有過。（忠貴篇）</p>
<p>孫思邈曰。癇者由乳養失理。血氣不和。風邪所中也。病先身熱掣縱。驚啼叫喚。而後發癇。凡嬰兒之疾。多由乳食失節。不獨癇也。按常病之常。猶曰必有也。又管子曰。食常疾。收孤寡。莊子上有大役支離。以有常疾不受功。此謂沉疴廢疾。與此條常病其義自別。</p>
<p>申鑑曰。膏肓純白。二豎不生。茲謂心寧。省闥清淨。嬖孽不生。茲謂政平。夫膏肓近心而處。阨針之不達。藥之不中。攻之不可。二豎藏焉。是謂篤患。（雜言上篇）</p>
<p>人君心正則國家治平。心不正則國家壞亂。嬖孽即二豎也。人君寵嬖孽。則其國必亡。荀悅之言。真人君頂門之一針。禁中曰省。禁門曰闥。</p>
<p>中論曰。斯術之於斯民也。猶內關之疾也。非有痛癢煩苛。於身情志慧然。不覺疾之已深也。然而期日既至。則血氣暴竭。故內關之疾。疾中之中夭。而扁鵲之所甚惡也。以盧醫不能別而遘之者。不能攻也。（考訛篇）</p>
<p>此論與越絕書請糴內傳其義全同。誡人君其意深矣。內關之疾。見史記倉公傳。</p>
<p>易林曰。六藝之門。仁義俱存。鎡基逢時。堯舜為君。傷寒熱溫。下至黃泉。（蹇之否）</p>
<p>傷寒之名。見於儒書。此為始。漢書崔實傳曰。熊經烏伸。雖延歷之術。非傷寒之理。人或以此為始者誤也。熱溫。熱病溫病也。</p>
<p>墨子曰。墨子病洗鼻。問曰。先生以鬼神為明。福善禍惡。今先生聖人也。何故病。墨子曰。人之所得於病者多方。有得之寒暑。有得之勞苦。今有百門而閉其一。賊何處不入。（公孟篇）</p>
<p>病有受於外。有發於內。二者皆有感應於己者。而發為萬病。為感應者。非郁毒則精虛也。</p>
<p>呂氏春秋曰。流水不腐。戶樞不螻。動也。形氣亦然。形不動則精不流則氣鬱。郁處頭則為腫為風。處耳則為挶為聾。處目則為䁾為盲。處鼻則為鼽為風窒。處腹則為張為府。處足則為痿為躄。輕水所多禿與癭人。重水所多尰與躄人。甘水所多好與美人。辛水所多疽與痤人。苦水所多尫與傴人。凡食無強厚味。無以烈味重酒。是以謂之疾者。食能以時。身必無災。凡食之道。無飢為飽。是之謂五藏之葆。口必甘味。和精端容。將之以神氣。百節虞歡。咸進受氣。飲必小咽。端直無戾。今世上卜筮禱祠。故疾病愈來。譬之若射者。射而不中。反修於招。何益於中。夫以湯止沸。沸愈不止。去其火則止矣。故巫醫毒藥。逐除治之。故古之人賤之也。為其末也。（盡數篇）</p>
<p>腫頭瘍也。風頭風也。聾釋名云籠也。如在蒙籠。以聽不察也。挶土舉也。義與聾同。䁾目不明也。義與昧同。鼽齆鼻不聞香臭也。窒鼻塞不通也。張膨脹也。府與腑同。水腫也。𡰁與𤺄𡰁𩪘同。足腫也。痤癰也。尫曲脛也。傴傴僂也。疾首猶曰病原也。葆古寶字。史記魯世家。母墜天之降葆命。葆命即寶命也。素問有寶命全形論。寶命全形相對。謂寶重其命。和精。調和精神也。端容。端正容儀也。將養也。又奉行也。受氣之氣謂神氣。神氣即精氣也。招標的也。夫卜筮禱祠。所以避禍求福也。然修養之不慎。徒務卜筮禱祠。果何益。精鬱則為毒。毒之所生。病必生焉。其發也。或自外而觸冒。或自內而感動。病之已成。千狀萬態。不可端倪。然如其大本不外於此。實千古不易之論。組以水之輕重甘辛。論疾不足信據。</p>
<p>論衡曰。癰疽之發。亦一實也。氣結閼積。聚為癰。潰為疽。創流血出膿。豈癰疽之所發。身之善冗哉。營衛之行適不通也。（幸遇篇）</p>
<p>營衛。氣血之別稱也。氣血留滯鬱悶。必成廢瘀。為癰為疽。勢之所必至也。癰者毒外漏。故曰潰。疽者毒內陷。故曰創。二者固為大患。然畢竟郁毒致潰敗者。以故治法中肯綮。則可轉禍為福。此方伎所以為生生之具也。</p>
<p>又曰。人傷於寒。寒氣入腹。腹中素溫。溫寒分爭。激氣雷鳴。（雷虛篇）</p>
<p>腹中素有寒飲者。或自外而感。或自內而動。必為雷鳴。為腹痛。為逆滿嘔吐。為痞硬下利。如擬其治法。屬寒者附子粳米湯。人參湯。大建中湯之類。屬熱者。半夏瀉心湯。生薑瀉心湯之類。宜隨其證。今仲任以此直為寒氣入腹之所致者誤矣。</p>
<p>又曰。氣不通者。強壯之人死。榮華之物枯。血脈不通。人以甚病。夫不通者。惡事也。（別通篇）</p>
<p>血脈流通。和煦如春。精神內守。則病無由生。百疾千病。皆自精氣虧虛菀閼生。其窮至血脈閉塞以致死。若悟此理。可以養性。亦可以除病。</p>
<p>西京雜記曰。高祖初入咸陽宮。周行府庫。有方鏡廣四尺。高五尺九寸。表裡有明。人直來照之。影則倒見。以手捫心而來。則見腸胃五藏。歷然無硋。人有疾病在內。掩心而照之。則知病之所在。（卷三）</p>
<p>扁鵲傳曰。言疾之所在。素問三部九候論曰。何以知病之所在。調經論曰。其病所居。隨而調之。靈樞衛氣失常篇曰。候病之所在。古人療法以診得病之所在為要。西京雜記偽託葛稚川者也。然古言間存可喜。歷然明貌。</p>
<p>列子曰。秦人逢氏有子少而惠。及壯而有迷罔之疾。聞歌以為哭。視白以為黑。饗香以為杇。嘗甘以為苦。行非以為是。意之所之。天地四方。水火寒暑。無不倒錯。楊氏告其父曰。魯之君子多術藝。將能已乎。汝奚不訪焉。其父之魯過陳。遇老聃。因告其子之證。（周穆王篇）</p>
<p>太平御覽引此條。惠作慧。惠慧通。湯問篇曰。甚矣汝之不惠。論語曰。好行小惠。越絕書曰。惠種生賢。癡種生狂。漢書昌邑王傳曰。清狂不惠。陸機吊魏武文知惠不能去其惡。韓非說林惠子作慧子。可以徵矣。慧曉解也。正者為德慧。早見事幾者為智慧。任機械者為小慧。迷罔失心也。此固寓言耳。然猶足見古人療病。專隨證以為治矣。仲尼篇龍叔謂文摯曰。子之術微矣。吾有疾。子能已乎。文摯曰。唯命所聽。然先言子所病之證亦是。</p>

<h1>治術篇上</h1>
<p>醫之為術。自古有其法。仲景氏蒐羅論述。以立規矩準繩。學者變而通之。活而運之。則可制萬病於掌握矣。如經傳諸子言醫事。不過假以論國政。談養性耳。然其言古奧深邃。與後世醫流浮空煩瑣之論。判然不同矣。學者誦而則之。化而裁之。則裨益吾道。蓋非淺少也。</p>
<p>易曰。旡妄之疾。勿藥有喜。（旡妄九五）象曰。旡妄之藥。不可試也。</p>
<p>王弼曰。藥攻有妄者也。而反攻無妄。故不可試也。藥攻有妄。可以見古者療病之法矣。試用也。</p>
<p>又曰。損其疾。使遄有喜。旡咎。（損六四）</p>
<p>王弼曰。疾何可久。故速乃有喜。損疾以離其咎。有喜乃免。故使速乃有喜。有喜乃無咎也。楚語曰。誰無疾眚。能者蚤除之。亦此意也。</p>
<p>書曰。若藥弗瞑眩。厥疾弗瘳。（說命）</p>
<p>說命本屬偽書。然楚語一引之。孟子再引之。王符三引之。則為古尚書之文明矣。按申鑑曰。或問厲志曰。昔殷高宗能葺其德。藥瞑眩以瘳疾。藥瞑眩以瘳疾。即厲志以修德也。葺說文曰修補也。</p>
<p>又曰。樹德務滋。除惡務本。（泰誓）</p>
<p>孔安國曰。立德務滋長。去惡務除本。言受為天下之惡本。此剽竊左傳伍員之語者。然養性療疾。理亦如此。</p>
<p>周禮曰。醫師掌醫之政令。聚毒藥以共醫事。（天官塚宰下）</p>
<p>鄭玄曰。毒藥。藥之辛苦者。藥之物恆多毒。孟子曰。若藥不瞑眩。厥疾不瘳。</p>
<p>劉彝曰。醫之政。謂物產之宜。採取之候。治煉之方。攻療之制。悉預知之。然後可以共醫事。</p>
<p>逸按藥者偏性之物也。偏性之物皆有毒。毒雖有酷薄大小。要無非毒者。毒即能。能即毒。毒者藥之性也。能者藥之才也。其能萬不同者。以毒萬不同也。毒萬不同者。以性之偏也。故勿論草木金石。凡可以供治疾之用者。總謂之毒藥。不特辛苦物也。毒藥字見於素問異方法宜論。移精變氣論。寶命全形論。湯液醴醪論。藏氣法治論。示從容論。疏五過論。靈樞九針十二原篇論。通篇又見於墨子。鶡冠子。呂覽。淮南子。劉子新論。史記。前漢書等。其義詳於拙著橘黃醫談。</p>
<p>凡邦之有疾病者。有疕瘍者造焉。則使醫師分而治之。（同上諸本脫下有字今從唐石經及宋王與之訂義本）</p>
<p>鄭玄曰。疕頭瘍。亦謂禿也。身傷曰瘍。分之者醫各有能。</p>
<p>方苞曰。疾醫職曰。凡民之有疾病者。分而治之。而此職曰邦。蓋雖統萬民。而以王宮百官府為主也。以是推之。則王后世子公孤六卿之病。必醫師親治可知矣。</p>
<p>逸按職雖分四。食醫唯掌飲食。其職近於膳宰。獸醫不與人相干。畢竟疾瘍二科耳。至治療之法。雖疾醫不可不通瘍科之伎。瘍科亦不可不知疾醫之術。然各修其業。以守其職。故分而治之耳。賈公彥云。疾醫知疾而不知瘍。瘍醫知瘍而不知疾。泥矣。</p>
<p>歲終則稽其醫事以制其食。十全為上。十失一次之。十失二次之。十失三次之。十失四為下。（同上）</p>
<p>鄭玄曰。食祿也。全猶愈也。以失四為下者。五則半矣。或不治自愈。</p>
<p>王安石曰。鄭氏謂全猶愈也。人之疾固有不可治者。苟知不可治而信。則亦全也。何必愈。</p>
<p>王昭禹曰。晉侯有疾。醫緩曰。疾不可為也。在肓之上。膏之下。公曰。良醫也。晉公果卒。</p>
<p>逸按稽醫事醫師通考疾醫瘍醫等終年之案記。觀治療議論之當否失得。以制食祿也。疾醫職云。死終則各書其所以。而入於醫師是也。十全非治。十得十也。謂治法十全。無失誤也。夫治之與不治。雖由伎之巧拙。病有難易。時有得失。且死生命也。雖良工不能起死者。苟治法十全而死。是孟子所謂盡其道者。非非命也。程伊川曰。周官醫以十全為上。非謂十人皆愈為上。若十人不幸皆死。病則奈何。但知可治不可治者。十人皆中節。即為上。</p>
<p>上三節。言醫師職掌政令。</p>
<p>又曰。疾醫掌養萬民之疾病。四時皆有癘疾。春時有痟首疾。夏時有癢疥疾。秋時有瘧寒疾。冬時有嗽上氣疾。（同上）</p>
<p>鄭玄曰。癘疾。天氣不和之疾。痟酸削也。首疾。頭痛也。嗽咳也。上氣喘逆也。五行傳曰。六癘作見。</p>
<p>逸按流行之疾。古稱之癘疾。疫癘。疾疫。此條特就其多者言之。非謂年年四時如此也。讀者宜不以辭害意矣。</p>
<p>鄭玄曰。痟酸削也。而不釋其狀。賈疏王解亦不解其義。予別有考。六癘。六氣之沴也。</p>
<p>上一節。論癘疾所以行。</p>
<p>以五味五穀五藥養其病。（同上）</p>
<p>鄭玄曰。養猶治也。病由氣勝負而生。攻其羸。養其不足者。五味。醢酒飴蜜姜。鹽之屬。五穀。麻黍稷麥豆也。五藥。草木蟲石谷也。其治合之劑。則存乎神農子儀之術云。</p>
<p>逸按人之生疾感邪。或由精氣鬱遏。或因精氣虧虛。故精氣充盈宣通者。瘀濁不生。症癖不結。是以內患無由而生。外邪不能得而侵焉。與孟子所謂人必自侮。然後人侮之。家必自毀。而後人毀之。國必自伐。而後人伐之。正一理也。至疾病已成。則精氣益致衰亡。素問評熱論曰。邪之所湊。其氣必虛。玉機真藏論曰。邪氣勝者。精氣衰也。是故假饒以藥攻病。不飲食養之。精氣焉得保續旺復乎。五常政大論曰。藥以祛之。食以隨之。藏氣法時論曰。毒藥攻邪。五穀為養。五果為助。五畜為益。五菜為充。可見藥食相須。而後病可得而治。精可得而復矣。是經文所以養字括之也。鄭玄特云疾由氣勝負而生者誤矣。藥不止五類。而云五藥者。其概耳。</p>
<p>以五氣五聲五色眡其死生。（同上）</p>
<p>鄭玄曰。三者劇易之徵見於外者。五氣。五藏所出氣也。肺氣熱。心氣次之。肝氣涼。脾氣溫。腎氣寒。五聲言語宮商角徵羽也。五色面貌青赤黃白黑也。察其盈虛休王。吉凶可知。審用此者。莫若扁鵲倉公。</p>
<p>逸按氣謂氣息亢脫盛衰。色謂面目四體潤澤慘悴。聲謂言語聲音清濁低昂。正錯三者劇易之徵。見於外者。可以斷吉凶。推生死矣。眡猶察也。不曰知而曰眡。古義為然。素問玉機真藏論曰。形氣相得。謂之可治。色澤以浮。謂之可已。陰陽應象大論曰。善診者察色按脈。先別陰陽。審清濁而知部分。視喘息。聽聲音而知所苦。觀權衡規矩。而知病所主。鄭玄雲。五氣五藏所出。五色青赤黃白黑。五聲宮商角徵羽。泥矣。凡如雲五味五穀五藥五毒。亦皆概舉大略耳。不可拘執。</p>
<p>兩之以九竅之變。參之以九藏之動。（同上）</p>
<p>鄭玄雲。兩參之者。以觀其生死之驗。竅之變謂開閉非常。陽竅七。陰竅二。藏之動。謂脈至與不至。正藏五。又有胃膀胱大腸小腸。脈之大候。要在陽明寸口。能專是者。其秦和乎。岐伯榆柎。則兼彼數術者。</p>
<p>逸按兩參之者。氣色與聲。其候在外。如九竅之變證涉於表裡。九藏據於胸腹。故至九藏之動。其候一於裡。起斃繫於此。治不治判於此。蓋氣色聲音九竅之失常。皆疾病擾亂九藏之所致也。故已驗大表。又徵之裡。回互錯綜。而後控制救治之。術可得而施矣。此醫之所贊化育也。陽明衝陽。一名趺陽。寸口大淵。切按可以決府藏動否矣。張湛曰。疼疴結於藏府。疾病散於肌體者。必假脈診以察其盈虛。投藥石以攻其所苦。亦此義也。</p>
<p>下四節。言疾醫治法。</p>
<p>凡民之有疾病者。分而治之。死終則各書其所以而入於醫師。（同上）</p>
<p>鄭玄曰。少者曰死。老者曰終。所以謂治不愈之狀也。醫師得以制其祿。且為後治之戒。</p>
<p>逸按疾醫瘍醫。各錄其治療無效之狀。而入於醫師。醫師觀施設之精粗。得失而進退之。教督之。以勉勵之也。所以。所為也。詳見經傳釋詞。</p>
<p>上一節。復言醫之政令以結之。</p>
<p>又曰。瘍醫掌腫瘍潰瘍金瘍折瘍之祝藥劀殺之劑。（同上）</p>
<p>鄭玄曰。腫瘍癰而上生創者。潰瘍癰而含膿血者。金瘍刃創也。折瘍踠跌者。祝當為注讀如注。病之注聲之誤也。注謂附著。藥劀刮去膿血。殺謂以藥食其惡肉。</p>
<p>逸按腫瘍謂腫痛含膿者。潰瘍謂潰爛腐蝕不止者。如附骨疽瘻瘡結毒是也。金創折傷。亦有成膿者。故又謂之瘍。瘍創瘡義同。鄭玄曰。注謂附著藥。按附著之藥。有消散漫腫者。有柔和焮痛者。有圍固瘡邊者。有食惡肉破頑毒者。敷藥膏藥皆然。意者古昔治法亦當然也。而不言者。含在中耳。</p>
<p>凡療瘍以五毒攻之。（同上）</p>
<p>鄭玄曰。止病曰療。攻治也。五毒。五藥之有毒者。今醫方有五毒之藥作之。合黃堥置石膽丹砂雄黃礜石慈石其中燒之。三日三夜。其煙上著。以雞羽掃取以注創。惡肉破骨則盡出。</p>
<p>逸按此條。專就膽潰者腐蝕者言之。</p>
<p>以五氣養之。以五藥療之。以五味節之。（同上）</p>
<p>鄭玄曰。既刮殺而攻盡其宿肉。乃養之也。五氣。當為五穀字之誤也。節。節成其藥之力也。</p>
<p>逸按上條言外施之術。此條言內治之法。祛病養精之道盡矣。</p>
<p>上三節。言瘍醫治法。</p>
<p>凡藥之酸養骨。以辛養筋。以咸養脈。以苦養氣。以甘養氣。以滑養竅。（同上）</p>
<p>鄭玄曰。以類相養也。酸木味。木根立地中似骨。辛金味。金之纏合異物似筋。鹹水味。水之流行地中似脈。苦火味。火出入無形似氣。甘土味。土含載四者似肉。滑滑石也。凡諸滑之物。通利往來如竅。</p>
<p>王昭禹曰。素問酸收辛散咸軟苦堅甘緩。夫肉以骨為體。骨收則強。故以酸收之。肉以筋為節。節散則不攣。故以辛散之。脈所以行血脈。軟則和。故以咸軟之。氣所以充體氣。堅則實。故以苦堅之。肉緩則不壅。故以甘緩之。竅利則不滯。故以滑利之。此說似優。</p>
<p>上一節。言疾醫瘍醫用藥之法。</p>
<p>韓詩外傳曰。扁鵠過虢侯世子暴病而死。扁鵲造宮曰。吾聞國中卒有壤士之事。得無有急乎。曰。世子暴病而死。扁鵲曰。入言鄭醫秦越人能治之。庶子之好方者出應之。曰。吾聞上古醫曰弟父。弟父之為醫也。以莞為席。以芻為狗。北面而祝之。發十言耳。諸扶輿而來者。皆平復如故。子之方豈能若是也。扁鵲曰。不能。又曰。吾聞中古之為醫者。曰俞跗。俞跗之為醫也。搦木為腦。芷草為軀。吹竅為腦。死者復生。子之方豈能如是乎。扁鵲曰。不能。中庶子曰。苟如子之方。譬如以管窺天。以錐刺地。所窺者大。所見者小。所刺者巨。所中者少。如子之方。豈足以變童子哉。扁鵲曰。不然。事故有眛投而中蟁頭。掩目而別白黑者。夫世子病所謂屍蹶者。以為不然。試入診。世子股陰當溫。耳焦焦如有啼者聲。若此者。皆可活也。中庶子遂入診世子以病報。虢侯聞之。足跣而起至門曰。先生遠辱幸臨。寡先生幸而治之。則糞土之息。得蒙天地載。長為人。先生弗治。則先犬馬填壑矣。言未卒而涕泣沾襟。扁鵲入。砥針礪石。取三陽五輸為先。軒之灶八拭之。陽子同藥。子明灸陽。子游按磨。子儀反神。子越扶形。於是世子復生。天下聞之。皆以扁鵲能起死人也。扁鵲曰。吾不能起死人。直使夫當生者起。死者猶可藥。而況生乎。悲夫。罷君之治。無可藥而息也。詩曰。不可救藥。言必亡而已矣。（卷十）</p>
<p>與史記扁鵲傳所記頗有異同。其義則於扁鵲傳解之。死者猶可藥以下。韓氏傷時政之言也。</p>
<p>禮記曰。君有疾飲藥。臣先嚐之。親有疾飲藥。子先嚐之。醫不三世。不服其藥。（曲禮下）</p>
<p>飲服也。嘗猶試也。孔穎達曰。父子相承。至三世。是慎物調劑矣。吳大倫曰。醫三世治人多矣。用物熟矣。功已試而無疑。然後服之。亦謹疾之至也。方愨曰。醫之苟非祖父子孫傳業。則術無自而精。術之不精。可服其藥乎。逸按古者巫醫世業。而又有醫師督課黜陟之。故傳世久者。其業必精。且古無醫籍。其有者父以傳子。子以傳孫。故世業至三可知其技之精。不特醫。周禮保章氏馮相氏等陰陽星曆之類。凡以技成家者。皆令世其業。不三世不服其藥。以此也。後世醫籍日多。故雖非世業。亦有獨造之人。人或因疑此條未深考耳。</p>
<p>又曰。凡執技以事者。祝史射御醫卜。及百工凡執技事。上者不二事。不移官。出鄉不與士齒。（王制）</p>
<p>凡百技術。非自少至老。一意專心攻其事。不能至其極。所以不移官也。然人之才能。各不同。有長於彼。而短於此者。有巧乎此。而拙乎彼者。是以相傳之技不必巧。首唱之業不必拙。要在其人。夫子所以畏來者也。</p>
<p>左傳曰。樹德莫如滋。去疾莫如盡。（哀公元年）</p>
<p>樹樹植也。言欲樹德者。當務蕃滋。猶欲去疾者。期於除盡。其理相反。而意反切。與下條使醫除疾。而曰必遺類焉者。未之有也。其義相發。</p>
<p>又曰。吳將伐齊。越子率其眾以朝焉。王及列士皆有饋賂。吳人皆喜。唯子胥懼。曰是豢吳也夫。諫曰。越在。我心腹之疾也。壤地同而有欲於我。夫其柔服。求濟其欲也。不如早從事焉。得志於齊。猶獲石田也。無所用之。越不為沼。吳其泯矣。使醫除疾。而曰必遺類焉者。未之有也。（哀公十一年）</p>
<p>外順內忌。餌之以利。曰豢腹心之疾。雖輕不可忽也。況其重者乎。石田磽确也。</p>
<p>春秋繁露曰。子曰。人而不曰如之何。如之何者。吾末如之何也已矣。故匿病者不得良醫。羞問者聖人去之。（執贄篇）</p>
<p>有匿病者。有忍疾者。是不特終身不能脫病患。或至於死。豈不愚乎。楚語曰。誰無疾眚。能者蚤除之。</p>
<p>論語曰。康子饋藥。拜而受之。曰丘未達。不敢嘗。（鄉黨篇）</p>
<p>孔安國曰。未知其故。故不敢嘗。禮也。物茂卿曰。饋毒於人令死。古者謂之饋藥焉。是所以無饋藥之禮也。孔子之時。禮失俗變。貴人問疾。或饋之藥。時人亦必嘗之。依賜食之禮也。皆非禮也。</p>
<p>方言曰。凡飲藥傳藥而毒。南楚之外謂之瘌。北燕朝鮮之間謂之癆。東齊海岱之間謂之眠。或謂之眩。自關而西謂之毒。瘌痛也。（卷三）</p>
<p>藥也。逐病也。無不眠眩。此其所以為藥也。後人懼眠眩。甚於疾病。而篤癃大患。尚且欲以平淡泛雜之劑治之。終使可生者斃。可不深思耶。</p>
<p>史記曰。毒藥苦於口。利於病。忠言逆於耳。利於行。（範睢傳）</p>
<p>前漢書淮南王傳。張良傳。並同。家語六本篇。韓非子外儲說傳說苑敬慎篇。俱作良藥。良以藥能言。毒以藥性言。毒即能。能即毒。以毒藥攻病毒。所以眠眩而疾愈也。三代醫法為然。秦漢以降。道家長生延年之說。混於疾醫。始有不老久視之方。補虛益氣之藥。千歲之下。往而不返。雖卓絕之士。尚不能脫其窩窟。可不嘆哉。</p>
<p>又曰。語有之矣。貌言華也。至言實也。苦言藥也。甘言疾也。夫子果肯終日正言。鞅之藥也。（商君列傳）</p>
<p>此即上條毒藥利於疾之義。與臧孫美疢惡石之言。其意正同。</p>
<p>又曰。扁鵲者。勃海郡鄭人也。（徐廣曰鄭當作鄚。鄚縣名。今屬河南。）姓秦氏。名越人。少時為人舍長。舍客長桑君過。扁鵲獨奇之。常謹遇之。長桑君亦知扁鵲非常人也。出入十餘年。乃呼扁鵲私坐。間與語曰。我有禁方。欲傳與公。公毋泄。扁鵲曰。敬諾。乃出其懷中藥予扁鵲。飲之以上池之水。三十日當知物矣。乃悉取其禁方書。盡與扁鵲。忽然不見。殆非人也。扁鵲以其言飲藥。三十日視見垣一方人。以此視病。盡見五藏癥結。特以診脈為名耳。（重其授受。以貴其方法。神其人以奇其術。方技方術。諸傳皆然。是史家常態。注家欲實其事。迴護旁搜為說。可謂迂矣。）為醫或在齊。或在趙。在趙者（者猶日）名扁鵲。當晉昭公時。諸大夫強而公室弱。趙簡子為大夫。專國事。簡子疾。五日不知人。大夫皆懼。於是召扁鵲。扁鵲入視病。出。董安於問扁鵲。扁鵲曰。血脈治也。而何怪。昔秦穆公嘗如此七日而寤。寤之日告公孫支與子輿曰。我之帝所甚樂。吾所以久者。適有所學也。帝告我。晉國且大亂。五世不安其後。將霸。未老而死。霸者之子且令而國男女無別。公孫支書而藏之秦策。於是出。夫獻公之亂。文公之霸。而襄公敗秦師於殽。而歸縱淫。此子之所聞。今主君之病與之同。不出三日必間。間必有言也。居二日半。簡子寤。語諸大夫曰。我之帝所甚樂。與百神遊於鈞天廣樂。九奏萬舞。不類於三代之樂。其聲動心。有一熊欲援我。帝命我射之中熊。熊死。有羆來。我又射之中羆。羆死。帝甚喜。賜我二笥。皆有副。吾見兒有帝側。帝屬我一霍犬。曰及而子之壯也。以賜之。帝告我。晉國且世衰。七世而亡。嬴姓將大敗周人於範魁之西。而亦不能有也。董安於受言。書而藏之。以扁鵲言告簡子。簡子賜扁鵲田四萬畝。（扁鵲傳）</p>
<p>此條文士修飾之言。不足為模範也。唯血脈治也。而何怪七字。可以為疾醫之規則焉。夫人身不過氣血也。故氣血之宣閉治亂。可以斷疾之輕重治不治矣。左傳襄公二十一年。楚子使醫視叔豫。復曰。瘠則甚矣。而血氣未動。論衡別通篇曰。血脈不通。人以甚病。是可以見其義矣。虢太子破陰絕陽之色已發。脈亂猶且得活。故血脈治者。雖篤患必生。診處之間。可痛著眼於此以下手。</p>
<p>又曰。扁鵲過虢。虢太子死。扁鵲至虢宮門下。問中庶子喜方者。曰太子何病。國中治禳過於眾事。（正義曰。中庶子。古宮號也。後漢書百官志云。太子中庶子六百石。注職如侍中方方術也。治禳。修禳祀也。說文磔禳祀除癘殃也。徐曰禳之為言攘也。左傳昭公二十六年。齊侯禳彗。晏子曰。天之有彗。以除穢德也。君無穢德。又何禳焉。若德之穢。禳之何損。史記齊世家彗星見。晏子曰。百姓愁苦以萬數。而君令一人禳之。安能勝眾口乎。）中庶子曰。太子病。血氣不時交錯。而不得泄。暴發於外。則為中害。精神不能止邪氣。邪氣畜積而不得泄。是以陽緩而陰急。故暴蹷而死。（交錯猶言錯行也。郁毒抑遏。則氣血不能錯行。故邪氣侵入。而精氣不能拒止邪氣。邪氣畜積。內外鬱閉。以發暴蹷也。陽緩陰急。猶云外虛內實也。蹷蹶厥瘚義同。氣逆也。韓詩外傳作瘚曰。無使小民飢寒。則瘚不起）扁鵲曰。其死何如時。（何如猶曰幾何其可生不可生蓋在於此）曰雞鳴至今曰收乎曰未也。（收謂棺斂）其死未能半日也。（扁鵲於是決其可生）言（言使中庶子報虢君也）臣齊勃海秦越人也。家在於鄭。按鄭當作鄚未嘗得精光侍謁於前也。（精光顏色也。精光之上。當添拜字看。）聞太子不幸而死。臣能生之。（扁鵲聞中庶子言。知其可救。是不出千里而決者。）中庶子曰。先生得無誕之乎。（誕大言也。謂欺之。）何以言太子可生也。臣（臣說苑作吾）聞上古之時。醫有俞跗。（應邵曰黃帝時醫也。）治病不以湯液醴釃。（汁滓相將曰醴。而去滓漉曰釃）鑱石橋引案杭毒熨。（鑱石鑱針砭針也橋撟誤。撟矯蹻通。撟引矯。揉強急而導引之也。杌杌誤。扤動搖也。詩小雅正月篇。天之扤我。毛萇曰。扤動也。案扤按摩閉滯而動搖之也。素問異法方宜論曰。其病多痿厥寒熱。其治宜導引按蹻。太素作按矯毒熨。見素問壽夭剛柔篇。以毒藥熨帖病處也。）一撥見病之應。因五藏之輸。（撥謂開衣見。猶曰知應病之表候也。靈樞九針十二原篇曰。睹其應而知五藏之害是也。）乃割皮解肌。訣脈結筋。搦髓腦揲荒爪幕。（訣決通。搦按也。揲閱持也。或曰荒肓同。膈也。爪荒之下體誤分也。幕膜同。說苑作束肓。莫肓膜見素問痹論。割解訣結搦揲六字。形容譬諭極奇。下文湔浣潄滌練易亦然。）湔浣腸胃。潄滌五藏。練精易形。（素問湯液醪醴論曰。疏滌五藏。故精自生。形自盛。骨肉相保。巨氣乃平。是雖非急病。治法理則同。腸胃五藏互言耳。）先生之方（方方術也）能如是。則太子可生也。不能若是。而欲生之。曾不可以告。咳嬰之兒終日。（曾乃也。咳讀為孩。不可終日。謂暫時被厭苦。言嬰兒無知。猶喻其詐也。）扁鵲仰天嘆曰。夫子之為方也。若以管窺天。以郄視文。（以中庶子之論為管隙之見。所以奪其膽也。）越人之為方也。不待切脈望色聽聲寫形言病之所在。（切診脈之陰陽虛實也。望觀血色之榮枯浮沉也。聽聞聲音之清濁盛衰也。寫照形體之虛實肥瘠也。靈樞榮衛失常篇曰。無陰無陽。無左無右。候病之所在。夫切望聽寫。固診候之樞要也。然至術如扁鵲。有不必待四診而決病證者。待俟也。假也。莊子逍遙遊曰。雖免於行。猶有所待。可見有待者。未足言其極矣。）聞病之陽。論得其陰。聞病之陰。論得其陽。病應見於大表。不出千里決者至眾。不可曲止也。（聞陽得陰。聞陰得陽。聞彼知此。聞此察彼也。故雖末診。太子中庶子一言之下。已知其可生。此所以不出千里決者。至眾也。曲猶小也。言吾術如此。不可以小見而止之也。）子以吾言為不誠。試入診太子。當聞其耳鳴而鼻張。循其兩股以至於陰。當尚溫也。（陰脈上爭。故有耳鳴鼻張之應。陽脈下墜。故有股陰尚溫之徵。）中庶子聞扁鵲之言。目眩然而不瞚。舌撟然而不下。乃以扁鵲之言入報虢君。（瞚與瞬同。說文曰。瞚開闔目數搖也。撟然舌舉貌。）虢君聞之大驚。出見扁鵲於中闕。曰竊聞高義之日久矣。然未嘗得拜謁於前也。先生過小國。幸而舉之。偏國寡臣幸甚。有先生則活。無先生則棄捐填溝壑。長終而不得反。言未卒。因噓唏服臆。魂精泄橫。流涕長潛。忽忽承眨。悲不能自止。容貌變更。（中闕宮門也。舉之。猶曰不棄之也。董份曰。寡臣太子也。棄捐填溝壑。甚言死也。噓唏與歔欷同。悲泣氣咽貌。服與愊腷通。方言臆滿也。郭璞注愊臆氣滿也。泄橫謂魂精失守之狀也。索隱曰。長潛長垂淚也。忽忽。通惚惚。水湧貌。眨睫也。承睫。謂淚垂於睫也。止禁也。靈樞論勇篇曰。失氣。驚悸顏色變更。虢君以下。極言渴望推獎之意。言未卒以下寫盡哀痛慘怛之狀極妙。）　扁鵲曰。若太子病。所謂屍蹶者也。（屍蹶。謂蹶而如屍也。）夫以陽入陰中動胃。（中內也。血氣不錯行。邪氣闖入內擾動胃府。是上文暴發於外為中害者。）繵緣中經維絡。別下於三焦膀胱。（繵緣謂邪氣纏繞也。中猶穿也。別下言更入。）是以陽脈下遂。陰脈上爭。會氣閉而不通。（遂墜也。陽脈下墜。陰脈上爭。故血氣乖亂。致會氣閉而不通。會氣元真也。金匱要略曰。五藏元真通暢。人即安和。客氣邪風。中人多死。又曰不遣形體。有衰病則無由入其腠理。腠者是三焦通會元真之處。為血氣所注。理者。是皮膚臟腑之文理也。）陰上而陽內行。下內鼓而不起。上外絕而不為。使上有絕陽之絡。下有破陰之紐。破陰絕陽之色已廢。脈亂故形靜知死狀。太子不死也。（陰上而陽內行。覆說陽脈下遂。陰脈上爭也。鼓疑破誤。紐亦絡也。上下內外拒格破絕。不能振起。又不能相使也。破絕二字。形容之語。不可做實字看。廢徐廣曰一作發。是也。血色已變。形如死狀。然脈動未絕。而生機尚存。所以云不死也。）夫以陽入陰支蘭藏者生。（太子之病是也。）以陰入陽支蘭藏者死。凡此數事。皆五藏蹶中之時暴作也。良工取之。拙者疑殆。（以陽入陰。上文所謂以陽入陰也。支拄也。蘭遮也。藏即五藏。舉藏府在其中。邪氣橫騖。遮拄府藏營運之機。是以會氣破閉。不得通暢。鬱極而蹷暴。數事謂上件諸證。暴蹶所由而發也。取謂刺取血。見素問瘧論。刺瘧論靈樞等泄郁通閉。使氣血循環流通之術。）扁鵲乃使弟子子陽厲針砥石。以取外三陽五會。有間。太子蘇。（厲砥皆磨石也。針鐵針也。石砭針也。三陽五會。甲乙經以為百會一名。肘後方亦曰屍蹶刺百會。蓋發泄鬱閉。宣通陽氣之法。）乃使子豹五分之熨。以八減之。齊和煮之。以更熨兩脅下。太子起坐。更適陰陽。但服湯二旬而復故。　（五分之熨疑摺布為厚五分。浸八減之。齊以熨之也。或曰。減咸通。鹹味八物和合以煮之也。更熨。更互熨兩脅也。復故復舊也。陰陽是一篇主意。曰聞陽得陰。聞陰得陽。曰以陽入陰。曰陽脈下遂。陰脈上爭。曰陰上而陽內行。曰破陰絕陽。曰以陰入陽。曰適陰陽。以陰陽立論。以陰陽終論。條理井然。文辭絕妙。）</p>
<p>此事又見於韓詩外傳。劉向說苑。而稍有異同。司馬遷因韓詩外傳。更搜索異聞。潤色鋪張。作扁鵲傳。然裨益醫事。獨此條而已。如趙簡子齊桓公事。不足為醫家之典型也。</p>
<p>又曰。扁鵲過齊。齊侯客之。（扁鵲齊人。不可言過齊。疑是別一扁鵲。司馬遷以為秦越人耳。）入朝見曰。君有疾在腠理。不治將深。桓侯曰。（侯當作公。下皆同。新序可證。）寡人無疾。扁鵲出。桓侯謂左右曰。醫之好利也。欲以不病者為功。後五日。扁鵲復見。曰君有疾。在血脈。不治恐深。桓侯曰。寡人無疾。扁鵲出。桓侯不悅。後五日。扁鵲復見曰。君有疾。在腸胃間。不治將深。桓侯不應。扁鵲出。桓侯不悅。後五日。扁鵲復見。望見桓侯而退走。桓侯使人問其故。（故事因也。左傳隱公元年。穎考叔曰。敢問何謂。公語之故。）扁鵲曰。疾之居腠理也。湯熨之所及也。在血脈。針石之所及也。其在腸胃。酒醪之所及也。其在骨髓。雖司命無奈之何。（天官書曰。文昌宮六星。四曰司命。索隱曰。春秋元命包曰司命主災咎也。張衡思玄賦。死生錯而不齊兮。雖司命其不晰。）今在骨髓。臣是以無請也。後五日。桓侯體病。使人賦召扁鵲。扁鵲已逃去。桓侯遂死。使聖人預知微。（微幾微也。）能使良醫得蚤從事。則疾可已。身可活也。人之所病病疾多。而醫之所病病道少。（病患也。言人患疾疢之多。醫患治法之少。）故病有六不治。驕恣不論於理。一不治也。（凡事循理必治。不論於理。謂不循於理。）輕身重財。二不治也。（所謂忘軀狥物之類。）衣食不能適。三不治也。（適當也。中也。靈樞師傅篇。難經十四難可並考。衣食不能適。多在貧困。然亦有縱情肆欲。自失其適者。）陰陽並藏氣不定。四不治也。（素問調經篇曰。血氣未並。五藏安定。陰與陽並。血氣以並。病形以成。）形羸不能服藥。五不治也。（形神羸憊者。胃氣已困極。故假令能服藥。不能運布藥氣。是亦多不治。）信巫不信醫。六不治也。（歆望巫祝者固也。委付凡醫者。亦足以取死。）有此一者。重難治。（有一於此。則輕者亦至難治也。況有二有三者。何以得治之。）扁鵲名聞天下。過邯鄲。聞貴婦人。即為帶下醫。（邯鄲趙都。其俗貴寵婦人。故為帶下醫。帶下腰帶已下經血諸疾也。以下文例推之。聞下恐脫趙人二字。）過洛陽。聞周人愛老人。即為耳目痹醫。（周重養老尚齒之禮。餘風猶存。痹病毒凝閉不通之義。疑耳聾目䁾之證。）來入咸陽。聞秦人愛小兒。即為小兒醫。（明板太平御覽。作顱囟醫。與上文帶下耳目痹同類。似可從。中古巫方立小兒顱囟經。見病源候論。五庫全書總目。載顱囟經二卷。論顱囟之義甚詳。）隨俗為變。（伎之妙無所不能。非釣名射利之為。）秦太醫令李䤈自知伎不如扁鵲也。使人刺殺之。（人之有伎。娟疾以惡之。是聖賢所深戒也。䤈何者至敢行殺吾。於是乎知世醫妒忌排擠之不足怪也。噫。）</p>
<p>此事本出韓非子喻老篇。古人假醫事論國家治亂成敗。諷諭君相者甚多。如夫事之禍福。亦有腠理之地。故聖人蚤從事焉。（韓非子）使聖人預知微能。使良醫蚤從事。則疾可已。身可活也。（本傳）其意可見矣。人之所病以下。司馬遷補葺以成傳之體耳。世醫以腠理骨髓之言為扁鵲真訣。或以三條年世隔異為疑者。抑末傳中惟屍蹶一條。為扁鵲真面目。其治術卓絕。自有不可磨滅者。可以為醫家之寶典。夫若神而明之。在其人耳。</p>
<p>又曰。太倉公者。齊太倉長臨菑人也。姓淳于氏。名意。少而喜醫方術。高後八年。更受師同郡元里公乘陽慶。（公乘官。陽姓慶名。）慶年七十餘。無子。使意盡去其故方。更悉以禁方予之。（故方。倉公舊所學之方也。）傳黃帝扁鵲之脈書。五色診病。知人死生。決嫌疑。定可治。及藥論甚精。（周禮疾醫職曰。以五氣五聲五色眡其死生。素問移精變氣論曰。余欲論病人。觀死生。決嫌疑。說文曰。嫌不乎於心也。一曰疑也。）受之三年。為人治病。決死生多驗。然左右行遊。諸侯不以家為家。或不為人治病。病家多怨之者。文帝四年。中人上書言意以刑罪當傳西之長安。（傳驛遞也）意有五女隨而泣。意怒罵曰。生子不生男。緩急無可使者。（緩字帶說。意在急。袁盎傳曰。一旦有緩急。遊俠傳曰。緩急人之所時有也。）有是少女緹縈傷父之言。（傷痛也。）乃隨父西上書曰。妾父為吏。齊中稱其廉平。（初為太倉長。故曰為吏。廉不貪也。）今坐法當刑。妾切痛死者不可復生。而刑者不可復續。雖欲改過自新。其道莫由。終不可得。妾願入身為官婢。以贖父刑罪。使得改行自新也。書聞。上悲其意。此歲中亦除肉刑法。意家居詔召問所為治病。（為去聲為人治病也。）死生驗者幾何。人主名為誰。詔問故太倉長臣意。（已去官。故曰故。）方伎所長。及所能治病者。有其書無有。皆安受學。受學幾何。歲嘗有所驗。何縣裡人也。何病醫藥已其病之狀皆何如。具悉而對。曰。自意少時喜醫藥。醫藥方試之多不驗者。至高後八年。得見師臨菑元里公乘陽慶。慶年七十餘。得見事之。謂意曰。盡去而方書非是也。（而汝也。是猶善也。）慶有古先道遺傳黃帝扁鵲之脈書。五色診病。知人死生。決嫌疑。定可治。及藥論書甚精。我家給富。心愛公。欲盡以我禁方書悉教公。臣意即曰。幸甚。非意之所敢望也。臣意即避席再拜謁。（謁請也）受其脈書上下經五色珍奇咳術。（素問示從容論。雷公曰。臣請誦脈經上下篇。咳歌開切。音該。與侅胲該通。說文曰。奇侅非常也。方言曰。非常曰侅。事漢書藝文志有五音奇胲。用兵二十三卷。五音奇咳。刑德二十一卷。淮南子兵略訓曰。刑德奇賌之數。賌即賅。張注奇賌。奇秘非常術也。廖百子曰。咳當從賅。訛作咳。未可謂從與胲同。）揆度陰陽外變。（醫和所稱六淫之類。）藥論石神論。（疑當作藥石神論）接陰陽禁書。（或者以為房中術書）受讀解驗之。可一年所。（所許也。年也。）明歲。即驗之。有驗。然尚未精也。要事之三年所。（要約也。受讀以來。約略三年也。）即嘗已為人治診病。決死生。有驗精良。（嘗試也。或曰已以也。此說難從。）今慶已死十年所。臣意年盡三年。年三十九歲也。</p>
<p>倉公所受楊慶脈書藥論禁方書等不一存。是以治驗數十條。病論治法。其義不可得而詳。故今不載錄。</p>

<h1>治術篇下</h1>
<p>前漢書曰。醫經者。原人血脈經絡骨髓陰陽表裡。以起百病之本。死生之分。而用度箴石湯火所施。調百藥齊和之所宜。至齊之得。猶慈石取鐵以物相使。拙者失理。以愈為劇。以生為死。（藝文志）</p>
<p>醫經七家合二百十六卷。今皆不傳。晉皇甫謐以素問九卷。針經九卷。合為內經。唐王冰以素問九卷。靈樞九卷。為內經。然二家之說。皆無據證。說詳於拙著橘黃醫談。</p>
<p>又曰。經方者。本草石之寒溫。量疾病之淺深。假藥味之滋。因氣感之宜。辨五苦六辛。致水火之齊。以通閉解結。反之於平。及失其宜者。以熱益熱。以寒益寒。精氣內傷。不見於外。是所獨失也。故諺曰。有病不治。常得中醫。（同上）</p>
<p>經方十一家。二百七十四卷。亦不一存焉。通閉解結。反之於平。古昔治法。要歸此二語。可謂至言矣。人以精氣為本。故其受傷。尤致意焉。不可深思乎哉。有病不治。常得中醫。漢代之盛。乏良醫尚如此。使孟堅見今世之所謂中醫者。將謂之何。本草石之寒溫。疑藥書名本草義亦如之。</p>
<p>又曰。方技者。皆生生之具。王官之一守大也。古有岐伯俞拊。中世有扁鵲秦和。蓋論病以及國。原診以知政。漢興有倉公。今其技術晻昧。故論其書。以序方技為四種。（同上）</p>
<p>觀班氏言。今技術晻昧。益知良工不世出。不獨後代也。雖曰分方技有四種。其實不過醫經經方二家。如房中神仙。不與疾醫同道。故今不採錄。</p>
<p>後漢書曰。郭玉者。廣漢雒人也。初有老父。不知何出。常漁釣於涪水。因號涪翁。乞食人間。見有疾者。時下針石。輒應時而效。乃著針經診脈法傳於世。（診候也）弟子程高尋求積年。翁乃授之。高亦隱跡不仕。玉少師事高。學方診六微之技。（六微字見於金匱臟腑經絡先後篇。義似不同。）陰陽隱側之術。（側測通）和帝時。為太醫丞。多有效應。帝奇之。仍試令嬖臣美手碗者。與女子雜處帷中。使玉各診一手。問疾苦。玉曰。左陰右陽。脈有男女。狀若異人。（異別也）臣疑其故。帝嘆息稱善。玉仁愛不矜。雖貧賤廝養。必盡其心力。而醫療貴人。時或不愈。帝乃令貴人羸服變處。一針即差。（羸困也。羸服猶曰貧服也。）召玉詰問其狀。對曰。醫之為言意也。腠理至微（腠者。三焦通會元真之處。為血氣所注理者。皮膚臟腑之文理也。）隨氣用巧。針石之間。毫芒即乖。神存於心手之際。（神猶言妙際交會也。）可得解而不可得言也。夫貴者處尊。高以臨臣。臣懷怖懾以承之。其為療也。有四難焉。自用意不任臣。一難也。將身不謹。（將行也。率也）二難也。骨節不強。不能使藥。（舉骨節身體在中）三難也。好逸惡勞。四難也。針有分寸。時有破漏。（斐松之曰。破漏日有衝破也。未知是非。）重以恐懼之心。加以裁慎之志。（裁節也）臣意且有不盡。何有於病哉。此其所以為不愈也。帝善其對。年老卒官。（郭玉傳）</p>
<p>說文曰。醫治病工也。郭玉曰。醫之為言意也。是特就針術言之耳。唐許胤宗亦曰。醫者意也。是亦脈理為言者。固非本義也。說詳於拙著橘黃醫談。四難之弊。不獨尊高人。雖卑賤者亦有之。醫人脫重糈之念。希是以阿媚容悅。甘言巧辭以求售。假饒不懷怖懾。恐懼不遑。盡心於治療。何以得至精妙之域。世之不出良醫。不亦宜乎。</p>
<p>又曰。華佗字元化。沛國譙人也。一名旉。（音孚。三國志斐注曰。古旉字。與佗相似。寫字者多不能別尋佗字。元化其名為孚也。）遊學徐土。兼通數經。曉養性之術。年且百歲。而猶在壯容。（數經疑術數之書。猶魏志作貌。）時人以為仙。沛相陳珪舉孝廉太尉。黃琬闢皆不就。精於方藥。處齊不過數種。心識分銖。不假稱量。針灸不過數處。若疾髮結於內。針藥所不能及者。乃令先以酒服麻沸散。既醉無所覺。因刳破腹背。抽割積聚。若在腸胃。則斷胋湔浣。（胋截本字斷也）除去疾穢。既而縫合。傅以麻膏。四五日創愈。一月之間皆平復。</p>
<p>佗嘗行道。見有病咽塞者。因語之曰。向來道隅有賣餅人蓱虀甚酸。（三國志蓱作蒜）可取三升飲之。病自當去。即如佗言。立吐一蛇。乃縣於車而候佗。時佗小兒戲於門中。逆見。自相謂曰。客車邊有物。必是逢我翁也。及客進。顧視壁北懸蛇以十數。乃知其奇。</p>
<p>又有一郡守篤病久。佗以為盛怒則差。乃多受其貨而不加功。（三國志功作治）無何棄去。又函書罵之。太守果大怒。令人追殺佗。不及。因瞋恚吐黑血數升而愈。</p>
<p>又曰。病者詣佗求療。佗曰。君病根深。因當剖破腹。（三國志作當破腹取。）然君壽亦不過十年。病不能相殺也。（三國志無相字也。下有君忍十歲壽。俱當盡不足。故自刳裂之。十四字。）病者不堪其苦。必欲除之。佗遂下療。應時愈。十年竟死。</p>
<p>廣陵太守陳登。忽患胸中煩憊。面赤不食。佗脈之曰。府君胃中有蟲。欲成內疽腥物所為也。即作湯二升。再服。須臾吐出三升許。蟲頭赤而動。半身猶是生魚膾。所苦便愈。佗曰。此病後三期當發。遇良醫可救。登至期。疾動。時佗不在。遂死。曹操聞而召佗常在左右。操積苦頭風眩。佗針隨手而差。（三國志針下有鬲字）</p>
<p>有李將軍者。妻病呼佗視脈。佗曰。傷身而胎不去。（三國志傷身作傷娠身娠通）將軍言間實傷身。胎已去矣。佗曰。按脈胎未去也。將軍以為不然。（三國志然下有佗捨去三字）妻稍差。百餘日復動。更呼佗。佗曰。脈理如前。是兩胎。先生者去血多。故後兒不得出也。胎既已死。血脈不復歸。必燥著母脊。（三國志脊下有故使脊痛句）乃為下針。並令進湯。婦因欲產而不通。佗曰。死胎枯燥。執而不生。（執勢通）使人探之。果得死胎。人形可識。但其色已黑。佗之絕技。皆此類也。為人性惡難得意。且恥以醫見業。又去家思歸。乃就操求還取方。因托妻疾。數期不反。（三國志數下有乞字）操累書呼之。又敕郡縣發遣。佗恃能厭事。猶不肯至。操大怒。使人廉之。（廉察也。三國志作往撿。）知妻詐疾。乃收付獄訉。考驗首服。荀彧請曰。佗方術實工。人命所懸。宜加全宥。（三國志全作舍）操不從。竟殺之。佗臨死。出一卷書。與獄吏曰。此可以活人。吏畏法不敢受。佗不強與。索火燒之。（三國志有佗死後。太祖頭風未除。太祖曰。佗能愈。此小人養我病。欲以自重。然吾不殺此子。亦終當不為我斷此根原耳。乃後愛子倉舒病困。太祖嘆曰。吾悔殺華佗。令此兒強死也。六十五字。）初軍吏李成苦咳。晝夜不寐。（三國志有時吐膿血。以問佗。佗言君腸臃咳之所吐。非從肺來也。五句無佗以為癰句。）佗以為腸癰。與散兩錢服之。即吐二升。腫血於此漸愈。乃戒之曰。後十八歲。疾當發動。若不得此藥。不可差也。復分散與之。後五六歲。有里人如成先病。請藥甚急。成愍而與之。乃故往譙。更從佗求。適值見收。（三國志值下有佗字）意不忍言。後十八年。成病發無藥而死。廣陵吳普。彭城樊阿。皆從佗學。普依准佗療多所全濟。佗語普曰。人體欲得勞動。但不當使極耳。動搖則穀氣得消。血脈流通。病不能生。譬猶戶樞終不朽也。是以古之仙者。為導引之事熊。經鴟顧。（熊經若熊之攀技自懸也。鴟顧身不動而回顧也。莊子曰。吐故納新。熊經鳥伸。此導引之士養形之人也。）引挽腰體。動諸關節。以求難老。吾有一術。名五禽之戲。一曰虎。二曰鹿。三曰熊。四曰猿。五曰鳥。亦以除疾兼利蹏。足以當導引。體有不快起作一禽之戲。怡而汗出。（白虎通曰也禽鳥獸總名。言熊人禽制也。三國志怡而作沾懦。）因以著粉身。體輕便而欲食。普施行之。年九十餘。耳目聰明。齒牙完堅。阿善針術。凡醫咸言背及匈藏之間。不可妄針。針之不可氣過四五分。而阿針背入一二寸。巨闕匈藏。乃五六寸。而病皆瘳。阿從佗求方。可服食益於人者。佗授以漆葉青黏散。漆葉屑一斗。（三國志鬥作升）青黏十四兩。以是為率。言久服去三蟲。利五藏。輕體。使人頭不白。阿從其言。壽百餘歲。漆葉處所而有青黏。生於豐城彭城及朝歌間。（青黏一名地節。一名黃芝。三國志豐城作豐沛間。下有云字。華佗傳）</p>
<p>華佗之伎古今稱卓絕。然其治法奇異。頗難可依准。皇甫謐謂華佗存精於獨識者。殆是歟。魏志方伎傳。其文與本傳有少出入。今查對抄取。補入行間。魏志更有治案八條。此不收錄。</p>
<p>又曰。桓帝元嘉元年。詔舉獨行之士。涿郡崔實至。公車不對策而退。著政論。其略曰。昔孔子作春秋。褒齊桓。懿晉文。嘆管仲之功。夫豈不美文武之道哉。誠達救弊之理也。故聖人能與世推移。而俗士苦不知變。以為結繩之約。可復理亂秦之緒。千戚之舞。足以解平城之圍。夫熊經鳥伸。雖延歷之術。非傷寒之理。呼吸吐納。雖度紀之道。非續骨之膏。蓋為國之法。有似理身。平則致養。疾則攻焉。夫刑罰者。治亂之藥石也。德教者。與乎之粱肉也。夫以德教除亂。是以粱肉理疾也。以刑罰理平。是以藥石供養也。</p>
<p>攻疾以毒藥。養精以穀肉果菜。其義見素問藏氣法時論。五常政大論亦曰藥以祛之。食以隨之。是古昔養生治疾之大經法。千歲不可易者。崔實之論信而有徵。唯養生者養誤其法。攻疾者攻不得其方。則殞身殺人。故術不可不慎也。崔實與張仲景同時人。漢季雖醫道陵夷。古法尚存。故張子之書如彼。崔實之論如此。後之以藥石議滋補者。皆道家之支流余裔耳。熊經鳥伸。見莊子刻意篇。淮南精神訓。又華佗傳有熊經鴟顧之語。</p>
<p>又曰。是為癰疽伏疾。留滯脅下。如不誅。轉就滋大。（段熲傳）</p>
<p>逸周書曰。伐亂伐疾伐疫。武之順也。（武稱解）</p>
<p>瀆武則逆。故曰順也。上條曰誅。此條曰伐。古者治療之法。其義可見矣。按靈樞脈度篇曰。盛而血者疾誅之。</p>
<p>又曰。公貨少多賑。賜窮士救瘠補疾。賦均田布。（允文解）</p>
<p>救瘠補病。給恤之謂也。非以藥物補之也。注曰。主施赦布政也。可以見其義矣。</p>
<p>東觀漢記曰。太醫皮巡獵上林還。暮宿殿門下。寒疝病發。時訓直事聞巡聲。起往問這。巡曰。冀得火以熨背。訓身言太官門。為求火不得。乃以口噓其背。復呼同廬郎共更噓。至朝遂愈。（鄧訓列傳）</p>
<p>邊境僻地之民。卒發腹痛背痛腰痛惡寒等。則不問感冒疝瘕積聚霍亂。蛔痛血氣痛。直熱火劇烘腹背。發汗取愈。其效甚速。鄧訓與同廬郎更噓其背。匆卒之際。機警敏捷。洵可嘆賞矣。蹙唇吐氣曰吹。虛口出氣曰噓。吹氣出於肺。屬陰。故寒。噓氣出于丹田。屬陽。故溫。</p>
<p>戰國策曰。醫扁鵲見秦武王。武王示之病。扁鵲請除左右曰。君之病在耳之前。目之下。除之未必已也。將使耳不聽。目不明。君以告扁鵲。扁鵲投其石曰。君與知之者謀之。而與不知者敗之。使此秦國之政也。則君一舉而亡國矣。（秦策）</p>
<p>鹽鐵論相刺篇曰。扁鵲不能治不受針藥之疾。賢聖不能正不食諫諍之君。石砭石也。使此秦國之政。言使秦國之政如此也。</p>
<p>越絕書曰。苦藥利病。苦言利行。（外傳計倪）</p>
<p>苦藥。即毒藥。</p>
<p>荀子曰。良醫之門多病人。檃括之側多枉木。（法行篇）</p>
<p>又見於說苑雜言篇。下有砥礪之旁多頏鈍七字。又莊子人間世篇曰。醫門多疾。</p>
<p>孔叢子曰。宰我使於齊而反。見夫子曰。梁邱據遇虺毒三旬而後瘳。朝齊君。齊君會大夫眾賓而慶焉。弟子與在賓列。大夫眾賓並復獻攻療之方。弟子謂之曰。夫所以獻方。將為疾也。今梁邱已療矣。而諸夫子乃復獻方。方將安施。意欲梁邱大夫復有虺害。當用之乎。眾坐默然無辭。弟子此言何如。夫子曰。汝說非也。夫三折肱為良醫。梁邱子遇虺毒而獲療。猶有與之同疾者。必問所以已之之方焉。眾人為此。故各言其方。欲售之以已人之疾也。凡言其方者。稱其良也。且參據所以已之之方優劣耳。（嘉言篇）</p>
<p>為治也。療愈也。瘳百子曰。良醫三折肱。謂歷病痛多。以喻人經歷事變也。按左傳定公十三年。齊高疆曰。三折肱知為良醫。又說苑雜言篇曰。孔子曰。語不言乎。三折肱而成良醫。陳蔡之間。丘之幸也。二三子從丘者。皆幸人也。因是觀之。高疆孔子皆誦古語也。按楚辭惜誦篇作九折臂而為良醫兮。售與讐通。讐對也。又度量也。韓非子曰。主讐法則可也。注較量可否也。又按校勘書籍曰讐。比言兩本相對覆如仇也。售之謂比較眾方。以選其良。據按也。參據即參考耳。</p>
<p>新語曰。制言者因其則。服藥者因其良。書不必起仲尼之門。藥不必出扁鵲之方。合之者善。可以為法。（術事篇）</p>
<p>孔子。聖之聖者也。越人。醫之聖者也。能合孔子之言。符越人之方者。雖古無之。亦可以為法。</p>
<p>新書曰。失今弗治。必為痼疾。後雖有扁鵲。弗能為已。悲夫。（大都篇）</p>
<p>楚語曰。誰無疾眚。能者蚤除之。憂國脈衰廢。其意深矣。</p>
<p>鹽鐵論曰。扁鵲撫息脈而知疾所由生。陽氣盛則損乏而調陰。陰氣盛則損乏而調陽。是以氣脈調和。而邪氣無所留矣。夫拙醫不知脈理之腠。血氣之分。妄刺而無益於疾。傷肌膚而已。（輕重篇）</p>
<p>誤藥濫投。其害甚於妄刺。而天下不勝。拙醫之多所以橫夭載塗也。乏疑當作之。</p>
<p>又曰。用針石調均有無補不足。亦非也。上大夫君與治粟都尉管領大農事。灸刺稽滯。開利百脈。是以萬物流通。而縣官富貴。（同上）</p>
<p>百病皆生於郁毒稽滯。血氣不和。故藥石針焫。無非排達開利之用。如後世滋補之方。何以得能拔病根反之於平乎。</p>
<p>又曰。藥酒苦於口而利於病。忠言逆於耳而利於行。（國病篇）</p>
<p>又曰。藥酒病之利也。正言治之藥也。（能言篇）</p>
<p>以上二條。即毒藥利於病之意。古者治疾以酒醪。故有此語。</p>
<p>又曰。所貴良醫者。貴其審消息而退邪氣也。非貴其下針石而鑽肌膚也。（申韓篇）</p>
<p>消減也。息猶增也。謂審陰陽氣血之增減而祛邪氣也。又有斟酌之意。故藥劑飲食衣服用度。各適其宜。亦謂之消息。公羊傳昭公十九年曰。樂正子春之視疾也。復加一飯。則脫然愈。復損一飯。則脫然愈。復加一衣。則脫然愈。復損一衣。則脫然愈。何休曰。脫然病愈貌。言消息得其宜也。按消息與將息同。醫書始見於傷寒論。蓋消息之於醫事。所繫不小。故醫而疏於消息。疾必不治也。晉書曰。張苗雅好醫術。善消息診處。又史胱善診處。明消息。（王隱晉書太平御覽引）古人重消息。可以見矣。</p>
<p>又曰。扁鵲攻於腠理。絕邪氣。故癰疽不得成形。聖人從事於未然。故亂原無由生。是以砭石藏而不施。法令設而不用。斷已然鑿已發者。凡人也。治未形觀未萌者。君子也。（大論篇）</p>
<p>治疾治國。其理一也。故古人多假以發其義。蓋以譬喻之言易入也。攻絕謂藥治。斷鑿。謂針刺。凡人。凡醫也。</p>
<p>新序曰。扁鵲見齊桓公。立有間。扁鵲曰。君有疾在腠理。不治恐將深。桓公曰。寡人無疾。扁鵲出。桓公曰。醫之好利也。欲治不疾以為功。居十日。扁鵲復見。曰君之疾在肌膚。不治將深。桓公不應。扁鵲出。桓公不悅。居十日。扁鵲復見。曰君之疾在腸胃。不治將深。桓公不應。扁鵲出。桓公又不悅。居十日。扁鵲復見。望桓公而還走。桓公使人問之。扁鵲曰。疾在腠理。湯熨之所及也。在肌膚。針石之所及也。在腸胃。火劑之所及也。在骨髓。司命之所無奈何也。今在骨髓。臣是以無請也。居五日。桓公體痛。使人索扁鵲。扁鵲已逃之秦矣。桓公遂死。故良醫之治疾也。攻之於腠理。此事皆治之於小者也。夫事之禍福。亦有腠理之地。故聖人蚤從事矣。（雜事篇）</p>
<p>立侍立也。文與史記扁鵲傳有異同。錄以備校證。末段六句。子政假以諷政事也。腠理解見上篇虢太子屍蹶條。</p>
<p>說苑曰。今夫闢地殖穀以養生送死。銳金石雜草藥以攻疾。（建本篇）</p>
<p>嘉穀養生。藥石攻疾。古之道也。銳金石。磨針砭也。雜草藥。作方劑也。</p>
<p>又曰。吾聞病之將死也。不可為良醫。國之將亡也。不可為計謀。（權謀篇）</p>
<p>可與論衡定賢篇治期篇參考。</p>
<p>潛夫論曰。凡治疾者。先知脈之虛實。氣之所結。然後為之方。故疾可愈而壽可長也。（述敘篇）</p>
<p>審脈之虛實。視精氣之留滯。與邪氣之結轖。而為之措置。則疾病可得而治。橫夭可得而壽矣。</p>
<p>又曰。扁鵲之治疾病也。審閉結而通郁。虛者神之。實者瀉之。（實邊篇）</p>
<p>閉結謂邪氣閉結。郁謂精氣鬱閼。邪氣閉結。則精氣必郁閼。疾醫之治疾。無非通郁閼。解閉結者。班固曰。經方者。本草石之寒溫。量疾病之淺深。假藥味之滋。因氣感之宜。辨五苦六辛。致水火之齊以通閉解結。反之於平是也。瀉之補之。即素問藥以祛之。食以隨之之義也。（五常政大論）</p>
<p>中論曰。夫惡猶疾也。攻之則益悛。不攻則日甚。（虛道篇）</p>
<p>悛改也。疾之不可不攻。其義益明。</p>
<p>韓非子曰。扁鵲之治疾也。以刀刺骨。聖人之救危國也。以忠拂耳。刺骨故小痛在體。而長利在身。拂耳故小逆在心。而久福在國。故甚病之人。利在忍痛。猛毅之君。以福拂耳。忍痛故扁鵲盡方。拂耳則子胥不失壽安之術也。病而不忍痛。而失扁鵲之巧。危而不拂耳。則失聖人之意。如此長利不遠垂。功名不久立。（安危篇）</p>
<p>拂猶戾也。上言聖人之救危國也。而下引子胥。所以為韓非也。</p>
<p>又曰。夫良藥苦口。而智者勸而飲之。知其入而已己疾也。忠言拂耳。而明主聽之。知其可以致功也。（外儲說傳）勸悅從也。已愈也。</p>
<p>又曰。夫彈痤者痛。飲藥者苦。為苦憊之故。不彈痤飲藥。則身不活。病不已矣。（六反篇）</p>
<p>針刺者必先以指彈之。故曰彈痤癰也。</p>
<p>又曰。慈母之於弱子也。愛不可為前。然而弱子有僻行。使之隨師。有惡病。使之事醫。不隨師。則陷於刑。不事醫。則疑於死。慈母雖愛。無益於振刑救死。則存者非愛也。（八說篇）</p>
<p>弱子。稚子也。愛不可為前。謂愛之甚。注曰。不可先以愛養也。恐非惡病。謂險惡之病。死生不可幾。故曰疑於死。辭婉而妙。存者所存於心也。</p>
<p>墨子曰。譬之如醫之攻人之疾者。然必知疾之所自起焉能攻之。不知疾之所自起。則弗能攻。（兼愛篇）</p>
<p>疾之所自起。其根本也。能視病根。則雖奇怪萬變。治法不愆。</p>
<p>鶡冠子曰。積往生跂工以為師。積毒成藥工以為醫。（環流篇）</p>
<p>又曰。卓襄王問龐暖曰。夫君人者亦有為其國乎。龐暖曰。王獨不聞俞跗之為醫乎。已成必治。鬼神避之。楚王臨朝。為隨兵故。若堯之任人也。不用親戚。而必使能。其治病也。不任所愛。必使⿵几厶醫。楚王聞傳暮𡫴在身必待俞跗。卓襄王曰善。龐暖曰。王其忘乎。昔伊尹醫殷。太公醫周武王。百里醫秦。申麃醫郢。原季醫晉。范蠡醫越。管仲醫齊。而五國霸。其善一也。然道不同數。卓襄王曰。願聞其數。暖曰。王獨不聞魏文侯之問扁鵲邪。曰子昆弟三人。其孰最善為醫。扁鵲曰。長兄最善。中兄次之。扁鵲最為下。魏文侯曰。可得聞邪。扁鵲曰。長兄於病視神未有形而除之。故名不出於家。中兄治病其在毫毛。故名不出於閭。若扁鵲者。鑱血脈。投毒藥。副肌膚間。而名出聞於諸侯。魏文侯曰善。使管子行醫術以扁鵲之道。曰桓公幾能成其霸乎。凡此者不病病治之無名。使之無形。至功之成。其下謂之自然。故良醫化之。拙醫敗之。雖幸不死。創伸股維。卓襄王曰善。寡人雖不能無創。孰能加秋毫寡人之上哉。（世賢篇）</p>
<p>治未病易。治已病難。至俞跗雖已病必治之。故鬼神懼而避之也。楚王臨朝為隨兵。楚王每臨朝。以俞跗為隨兵以備疾病也。聞傳至在身。文義不明。必有訛謬。卓當作悼。此趙悼襄王也。申麃疑申包胥。原季趙衰。國語曰。晉文公使原季為卿是也。數術也。副剖也。韓非子顯學篇曰。嬰兒不剔頭則腹痛。不副痤則寢益。注痤癰也。以小兒喻愚民。當副剔以除其疾。勿姑息使養癰滋毒也。正字通曰。副副䈏擘通曰桓。之曰疑衍。伸引也。猶言增維牽攣也。此書錯誤殊多。殆不可讀。韓昌黎讀鶡冠子曰。文字脫謬。為之正三十有五字。乙者三。滅者二十有三。注者十有二字。自唐至今。傳寫不知幾何。所以訛謬益多也。</p>
<p>呂子春秋曰。若用藥者然。得良藥則活人。得惡藥則殺人。義兵之為天下良藥也亦大矣。（蕩兵篇）</p>
<p>藥者。凶毒也。兵者。凶器也。善用則為良藥。為義兵。不善用則為惡藥。為不義之兵。後之為醫者其思之。</p>
<p>又曰。治國無法則亂。守法而不變則悖。悖亂不可以持國。譬之若良醫。病萬變藥亦萬變。病變而藥不變。向之壽民。今為殤子矣。（察今篇）</p>
<p>方隨證者也。故不察其轉機而為之治。不特疾不愈。亦使輕者重。重者斃。仲景氏曰。隨證治之至哉。</p>
<p>淮南子曰。天下之物。莫凶於雞毒。然而良醫橐而藏之。有所用也。（主術訓）</p>
<p>又曰。物莫所不用。天雄烏喙。藥之凶毒也。良醫以活人。（同上）</p>
<p>良工用毒藥。猶明主驅使奸雄。王良駕馭駻馬。其能盡才能。立大功。正在茲。</p>
<p>又曰。大戟去水。亭歷愈脹。用之不節。乃反為病。（同上）</p>
<p>用藥之道。節度不得宜。反受其害。不特戟歷。</p>
<p>又曰。良醫者常治無病之病。故無病。聖人者常治無患之患。故無患也。（說山訓）</p>
<p>又曰。治未病。治未亂。治之至者。病者寢席。醫之用針石。巫之用糈籍。所救鈞也。貍頭愈巤。雞頭已瘻虻。散積血。斫木愈齲。此類之推者也。（同上）</p>
<p>糈祭神米也。籍祭籍也。巤巤咬也。瘻頸腫也。雞頭雞壅也。一名雁頭。即芡也。虻蟲治瘀血。積血即瘀血。此條與莊子徐無鬼一意。</p>
<p>又曰。病熱而強之餐。救暍而飲之寒。救經而引其索。拯溺而投之石。欲救之反為惡。（同上）</p>
<p>又見於人間訓及文子微明篇。文有小異。</p>
<p>又曰。譬若旱歲之土龍。疾疫之芻狗。是時為帝者也（說林篇）</p>
<p>又曰。蝮蛇螫人。傅以和堇則愈。物故有重而害反為利者。（同上）</p>
<p>物得其用為貴。莊叟所謂雞壅豕苓時為帝。堇及桔梗互為宰也。</p>
<p>論衡曰。夫百草之類。皆有補益。遭醫人採掇。成為良藥。（幸偶篇）</p>
<p>藥物之祛疾。猶嘉穀之養生。此其所以補益於人也。與道家補虛益氣之旨。其義自不同。</p>
<p>又曰。古貴良醫者。能知篤劇之病所從生。起而以針藥治而已之。如徒知病之名。而坐觀之。何以為奇。夫人有不善。則乃性命之疾也。無其教治。而欲令變更。豈不難哉。（率性篇）</p>
<p>人之為不善。必有所惑。能審其所惑。而後教可得而施焉。病之於人亦然。必有原由。故非診得病由病情。病決不可治也。變更遷善改過也。</p>
<p>又曰。道家或以服食藥物。輕身益氣。延年度世。此又虛也。夫服食藥物。輕身益氣。頗有其驗。若夫延年度世。世無其效。百藥愈病。病愈而氣復。氣復而身輕矣。（道虛篇）</p>
<p>精氣為病毒所抑遏。則百患萌生。能除病毒。則精氣宣流。爽然脫苦患。</p>
<p>又曰。病作而醫用。禍起而巫使。如自能案方和藥。入室求祟。則醫不售而巫不進矣。（程材篇）</p>
<p>能養性命者。無待於巫醫矣。</p>
<p>又曰。子路使子羔為費宰。孔子曰。賊夫人之子。皆以未學不見大道也。醫無方術。云吾能治病。問之曰。何用治病。曰用心意。病者必不信也。吏無經學。曰吾能治民。問之曰。何用治民。曰以材能。是醫無方術。以心意治病。百姓安肯信向。而人君任用使之乎。</p>
<p>方術。謂方術之書也。漢書平帝紀曰。始元五年。舉天下通知方術本草者。樓護傳曰。獲少誦醫經本草方術數十萬言。傷寒論序曰。精究方術皆是也。不學方術。而為治療。猶不由聖經而行政治。安得乎。</p>
<p>又曰。醫能治一病。謂之巧。能治百病。謂之良。是故良醫服百病之方。治百人之疾。大才懷百家之言。故能治百族之亂。扁鵲之眾方。孰若巧之一技。（別通篇）</p>
<p>扁鵲之方雖善。其得效取驗。獨在運用巧拙。猶文武之道。存乎其人服用也。</p>
<p>又曰。天地之有湛也。何以知不如人之有水病也。其有旱也。何以知不如人之癉疾也。禱請求福。終不能愈。變操易行。終不能救。使醫食藥。冀可得愈。命盡期至。醫藥無效。堯遭洪水。春秋之大水也。聖君知之。不禱於神。不改於政。使禹治之。百川東流。夫堯之使禹治水。猶病水者之使醫也。然則堯之洪水。天地之水病也。禹之治水。洪水之良醫也。（順鼓篇）</p>
<p>感虛篇曰。旱火變也。湛水異也。明雩篇曰。一湛一旱。時氣也。湛霪也。癉素問脈要精微論。癉成為消中。王冰曰。濕熱也。消中之病善食而消食飲也。奇病論脾癉。王冰曰。瘴謂熱食藥飲藥也。漢書曰。於定食酒一石。</p>
<p>又曰。微病恆醫皆巧。篤劇扁鵲乃良。（恢國篇）</p>
<p>輕微之病。夫人皆能奏功。故凡醫似巧。至篤癃劇患。非絕技不能起之。</p>
<p>又曰。夫聖賢之治世也有術。得其術則功成。失其術則事廢。譬猶醫之治病也。有方篤劇猶治。無方毚微不愈。夫方猶術。病猶亂。醫猶吏。藥猶教也。方施而藥行。術設而教從。教從而亂止。藥行而病愈。治病之藥。未必惠於不為醫者。然而治國之吏。未必賢於不能治國者。偶得其方。適曉其術也。治國須聖以立功。亦有時當自亂。雖用術功終不立者。亦由時以自安。雖無術而功獨成者。故夫治國之人。或得時而成功。或失時而無功。術人能因時以立功。不能逆時以致安。良醫能治未當死之人。如命窮壽盡。方用無驗矣。堯舜用術。功終不立。命當死扁鵲行方不能愈病。（定賢篇）</p>
<p>雖有知慧。不如乘勢。雖有鎡基。不如待時。醫事亦然。值順境則恆醫粗工猶能取效。苟遇逆境。雖達練之士不能立功。況於命當死者乎。毚疑才誤。狀留篇曰。才微輒停。惠慧通。說見於疾病篇。</p>
<p>又曰。夫賢君能治當安之民。不能化當亂之世。良醫能行其針藥使方術驗者。遇未死之人。得未死之病也。如命窮病困。則雖扁鵲末如之何。夫命窮病困之不可治。猶夫亂命之不可安也。藥氣之愈病。猶教導之安民。皆有命時不可勉力也。（治期篇）</p>
<p>神異經曰。南方有盱蔗之林。其高百丈。圍三尺八寸。促節多汁。甜如蜜。咋齧其汁。令人潤澤。可以節蛔蟲。人腹中蛔蟲。其狀如蚓。此消穀蟲也。多則傷人。少則谷不消。是甘蔗能減多益少。凡蔗亦然。</p>
<p>晉書顧愷之傳曰。顧愷之啖蔗自尾至末。云漸至佳境。鄭樵通志曰。蔗有三種。赤崑崙蔗。白竹蔗。亦曰蠟蔗。小而燥者荻蔗。又曰竹蔗。似粗竹長。其汁為砂糖。通雅曰甘蔗。亦曰藷蔗。曰都蔗。曰諸蔗。或作甘蔗。正字通甘字條曰。小說假作甘蔗。按蔗有數種。故曰凡蔗亦然。謂蛔消穀蟲。殊非理也。</p>
<p>屍子曰。有醫竘（音驅王反）者。秦之良醫也。為宣王割痤。（音在戈反）為惠王療痔。皆愈。張子之背腫。命竘治之。謂醫竘曰。背非吾背也。任子制焉。治之遂愈。竘誠善治疾也。張子委制焉。治身與國亦猶此。必有所委制然後治。（太平御覽引）</p>
<p>病者之於醫。有自用不委制者。有眩死生不委制者。受治如張子。而後醫能盡其術矣。</p>
<p>關尹子曰。聖人大言金玉。小言桔梗芣苢。用之當。桔梗芣苢生之。不當。金玉斃之。（九藥篇）</p>
<p>與莊子徐無鬼淮南子說林訓一意。</p>
<p>列子曰。宋陽里華子中年病忘。朝取而夕忘。闔室毒之。謁史而卜之弗占。謁巫而禱之弗禁。謁醫攻之弗已。魯有儒生自媒治之。華子之妻子以居室之。半請其方。儒生曰。此固非卦兆之所佔。非禱請之所禱。非藥石之所攻。（周穆王傳）</p>
<p>張湛曰。疼疴結於臟府。疾病散於肌體者。必假脈診以察其盈虛。投藥石以攻其所苦。若心非嗜欲所亂。病非寒暑所傷。則醫師之用宜廢也。王充曰。有癡狂之疾。歌啼於路。不曉東西。不睹燥濕。不覺疾病。不知飢飽。性已毀傷。不可如何。前無所觀卻無所畏也。（論衡率性篇）至失心如此。非藥石所治也。</p>
<p>又曰。龍叔謂文摯曰。子之術微矣。吾有疾。子能已乎。文摯曰。唯命所聽。然先言子所病之證。龍叔曰。吾鄉譽不以為榮。國毀不以為辱。得而不喜。失而不憂。視生如死。視富如貧。視人如豕。視吾如人。處吾之家。如逆旅之舍。觀吾之鄉。如戎蠻之國。凡此眾疾。爵賞不能動。刑賞不能威。盛衰利害不能易。哀樂不能移。固不可以事國君。交親友。御妻子。制僕隸。此奚疾哉。奚方能已之乎。文摯乃命龍叔背明而立。文摯自後嚮明而望之。既而曰。嘻。吾見子之心矣。方寸之地虛矣。幾聖人也。子心六孔流通。一孔不達。今以聖智為疾者。或由此乎。非吾淺術所能已也。（仲尼篇）</p>
<p>又曰。吳楚之國有大木焉。其名為櫾。碧樹而冬青。實丹而味酸。食其皮汁。已憤厥之疾。齊州珍之。渡淮而北。化為枳焉。</p>
<p>櫾與柚同。審其所說。是橘非柚也。書禹貢揚州厥包橘柚。孔安國曰。小曰橘。大曰柚。以其同類略言之耳。憤胸中氣滿也。厥氣逆也。橘皮能利膈下氣消痰。觀仲景氏用橘皮諸方而可見矣。橘皮枳實生薑湯曰。胸痹。胸中氣塞短氣。橘皮湯曰。乾嘔噦。手足厥者。橘皮竹茹湯曰。噦逆者。茯苓飲曰。心胸間虛氣滿不能食。可以證矣。</p>
<p>又曰魯公扈趙齊嬰二人有疾。同請扁鵲求治。扁鵲治之。既同愈。謂公扈齊嬰曰。汝曩之所疾。自外而於府藏者。固藥石之所已。今有偕生之疾。與體皆長。今為汝攻之如何。（同上）</p>
<p>又曰。季梁得疾。七日大漸。其子環而泣之。請醫。季梁謂楊朱曰。吾之不肖如此之甚。汝奚不為我歌以曉之。楊朱曰。天其弗識。人胡能覺。匪佑天弗孽由人。我乎汝乎。其弗知乎。醫乎巫乎。其知之乎。其子弗曉。終謁三醫。一曰矯氏。二曰俞氏。三日盧氏。診其所疾。矯氏謂季梁曰。汝寒溫不節。虛實失度。病由飢飽色欲。精慮煩散。非天非鬼。雖漸可攻也。季梁曰。眾醫也亟屏之。俞氏曰。女始則胎氣不足。乳湩有餘。病非一朝一夕之故。其所由來漸矣。弗可已也。季梁曰良醫也。且食之。盧氏曰。汝疾不由天。亦不由人。亦不由鬼。稟生受形。既有制之者矣。亦有知之者矣。藥石其如汝何。季梁曰。良醫也。重貺遺之。俄而季梁之疾自瘳。（力命篇）</p>
<p>列子以無為自然為宗旨。故並舉三氏之論以歸重於盧氏。自固寓言耳。然古人論病源。非如後人煩瑣。亦可想見矣。湩乳汁也。</p>
<p>莊子曰。夫子曰。治國去之。亂國就之。醫門多疾。願以所聞。思其則庶幾其國有瘳乎。（人間世篇）</p>
<p>又曰。古之真人。得之也生。失之也死。得之也死。失之也生。藥也。其實堇也。桔梗也。雞壅也。豕零也。是時為帝者也。何可勝言。（徐無鬼篇）</p>
<p>物當其用。則可以制命。故曰是時為帝者也。堇即毛芹。一名毛莨。有毒。或曰烏頭苗。雞壅芡實也。豕零豬苓也。當與關尹子九藥篇淮南子說林訓參看。</p>
<p>又曰。靜然可以補病。眥𡟬可以休老。（外物篇）</p>
<p>補猶養。又治也。禮喪服四師。苴衰不補。補註猶治也。林西仲曰。眥　𡟬一說以手按目四眥。令眼神光明老形之兆。發於目眥皺紋。此可以沐浴老容。</p>
<p>又曰。先生既來。曾不發藥乎。彼所小言。盡人毒也。（列禦寇篇）</p>
<p>發宣也。乃不宜發石之言乎。怪而問之也。列子黃帝篇。發作廢。廢置也。亦通。張湛曰。曾無善言以當藥石也。</p>
<p>又曰。秦王有病。召醫破癰潰痤者。得車一乘。舐痔者得車五乘。所治愈下。得車愈多。子豈治其痔耶。何得車之多也。子行矣。（同上）</p>
<p>醫之諛媚貪利。古尚有如此者。韓非子備內篇曰。醫善吮人之傷。含人之血。非骨肉之親也。利所加也。嗚乎。今之釣名貪利者。亦獨何心乎。</p>

<h1>跋醫余</h1>
<p>岳武穆論兵曰。運用之妙。存乎一心。醫亦然。吾友臺尾士超。篤信仲景。其用方也。如良將行兵。神機妙用。不失分寸。非得運用之妙者。豈能然哉。此編業餘所為。凡經史百家言涉醫事者。探擇無遺。每條加評隲。以示運用之方。至如其論命說攝生。又可謂能補仲景之闕焉耳。讀者細嚼回味。足以見士超有靈心獨得。以就運用其所讀之書矣。若徒稱其淹博。恐非知士超當作之意者也。</p>
<p><u>文久二年壬戌仲冬素行黑田惟孝識</u></p>

<h1>跋</h1>
<p>尾臺士超輯醫餘四篇。首以命數。命有正有非。數盡期至。越人不能使之起。而天下斃於非命者十九。雖庸醫之或令誤。然其所以致之。皆因任情縱欲。不能嗇其大寶。故次以養性。聖人設教。大而禮樂。小而日用事為。無非具養性葆和之至理。而或忽之。於是災祥生焉。疾疢作焉。故以疾病治術終焉。世未嘗無良醫。而甜痔者五車。世道之所以日降。士超所感蓋深矣。豈獨醫余云乎哉。</p>
<p><u>文久二年歲次玄默閹茂寎月</u>　慄園田惟常</p>
