<header data-type="book">
<h1>（痘疹）生民切要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>喻昌</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1664">公元1664年</data></dd></div>
</dl>
</header>

<h1>陸序</h1>
<p>生人之害，痘疹最酷，而又為盡人之所不能免。諺語目痘為關，固非惟暴之云，直欲判人鬼耳。蓋不獲生，入玉門者多矣。傷哉！江右喻嘉言先生，擅和緩之能，而於痘科，尤加意無已，經其治者，業莫不生，死而肉骨。又著為此書，以昭示來，茲誠保赤之金丹，壽千百世而無窮也。其書流傳至吳下，得之者均私為枕中秘匿，不以示人，此大非先生濟世之本心矣。今春坊友用重值購得，將付剞劂，丐序於余，余甚善其能成先生之志，並竭弩鈍，附入數則而歸之。</p>
<p><u>時乾隆壬辰夏日古瀛陸師鑑聖蒼氏題</u></p>

<h1>面部吉凶圖引</h1>
<figure>
<img alt="面部吉凶圖">
</figure>
<p>痘疹原於五臟，所屬何經，是分症之輕重。故其達乎面部，耳、目、口、鼻、顴、腮各部位，既皆分配交隸乎心、肝、脾、肺、腎，則見點之處，孰吉孰凶，昭然若揭，不有可披圖而指數者乎！</p>

<h1>藏府所屬部分</h1>
<figure>
<img alt="藏府所屬圖">
</figure>
<p>額中為庭，兩眉之間曰闕，直鼻而下曰直下，兩目之間曰下極，鼻隊曰方，鼻柱之端曰面黃。自額而下闕上，屬首面咽喉之部分；自闕中循鼻而下鼻端，屬肺心肝脾腎之部分；自目眥挾鼻而下承漿，膽胃大小腸膀胱之部分；自顴而下頰，屬肩背手臂之部分；牙車斜下頤，屬股膝脛足之部分。經曰：五臟次於中央，六腑夾其面側，首面上於闕庭，王宮在於下極，正謂此也。</p>
<p>五臟為人身之主，故位在中央。膽、胃、大小腸、膀胱，為五臟之府，故夾其兩側。由藏府以及於四肢，故循至䪼及頰，以屬肩、背、臂、手、股、膝、脛、足也。上以閱上，下以閱下。上下之分，然亦藏府之定位故也。</p>
<p>錢氏曰：囟門，屬腎。髮際，屬膀胱。左風池，屬肝。右風池，屬命門。左太陽，屬膀胱。右太陰，屬腎。印堂，屬心。風池至山根，屬肺、心與肝。山根至鼻端，屬肝、脾、腎。人中至承漿，屬脾。耳前與承漿，屬腎。左腮，屬肝。右腮，屬肺。額上，屬心。鼻屬脾，頤屬腎。</p>

<h1>頭面形色主病</h1>
<p>左腮，青為順，白為逆。赤主肝經風熱，發熱拘急；青黑主驚風腹痛；淡赤主潮熱痰嗽。右腮，白為順，赤為逆。赤甚，主喘急、悶亂、飲水、小便赤澀、淋閉。額色，赤為順，黑為逆。青黑，主驚風、腹痛、瘛瘲、啼哭。微黃，主盜汗、毛焦、驚疳、眥熱。鼻色，黃為順，青為逆。青主脾經虛熱，飲食少思。深黃主小便秘，鼻燥衄血。顏色，黑為順，黃為逆。色赤主腎與膀胱有熱，小便秘塞。唇四圍，白黃色者，脾弱也。青者，肝勝也。青黃不澤，木剋土也。青黑相兼，木火風熱也。黑者，寒水侮土也。白者，氣虛也。</p>
<p>囟門紅，主胎中受熱受驚，不時驚跳，啾唧夜啼。紅而腫起，由風熱上衝，主心胸有熱痰，主驚。囟陷，主胃氣下陷，泄瀉，虛弱，久病。囟門紅，印堂青，此心之微邪侮水也。囟印皆紅，亦然。囟門青，印堂紅，此水剋火，危。囟印皆青，亦然。額上紅脈至眉心，主風熱搐搦發熱，小便赤色。印堂紅，主心經積熱；眉心連印堂紅，主心肺上焦有熱痰，夜啼，嘔吐，生驚。闕中青紫，主傷風，咳嗽痰涎。印堂紅脈至山根，是心與小腸俱熱，主小便赤色，驚悸咬牙。山根下青紫，主飲食傷脾，肚痛。印堂至準頭紅，主五臟內熱。印堂青，主風熱，主驚；黑，主腹痛，啼哭。山根至鼻柱紅，是心、脾、胃有熱，主大、小便赤澀。山根青，主驚。山根紫，傷乳食。山根赤黑，主吐瀉。年壽紅黑，主痢，痰黃赤，並吐瀉。左太陽並日角紅，主傷風寒，壯熱，煩躁，啼叫。太陽紅脈至太陰，主內外有熱；連文臺，則熱極不解；至武臺，則漸生變。左太陽青主變蒸。太陰紅脈見，主壯熱，鼻塞，傷風。左太陰紫，傷寒有感。左太陰紅至太陽，因吃母熱病乳，主痰。左太陰青，生驚。日角紅至眉中，主內熱生驚。文臺紅，傷寒內熱頭痛。左文臺紫，久熱不退；青，主熱傳經不解。左眉頭紅，主肝熱；近眉頭左下突起，主伏驚，不時驚跳。兩眉頭紅，主夜啼。風池紅，主夜啼，驚悸，不得安臥；黃，主吐逆。眼胞腫，主濕痰咳嗽。黑睛黃，傷寒。白輪黃，傷積；青，肝熱；赤，心黑；淡紅，心虛。氣池紅，三焦有熱；紫，主夜啼，睡臥不寧；黑，主中焦有痰。風池、氣池俱紅，主煩躁、啼叫。武臺紅，吐泄生驚。年壽至氣池青紫，主風熱、顛癇。耳後高骨起青筋，主癇瘛。人中黃，傷食吐瀉；黑，腹痛，或蟲，或痢。承漿黃，吐；青，驚。</p>
<p>《明醫雜著》云：小兒之疾，惟肝與脾為病最多，以肝素有餘，脾素不足也。診視之法，唇黃多積，唇白多虛，唇燥多熱，唇紫積熱。唇四圍青，主木剋土，驚氣入腹。耳輪紅紫，主麻痘。毛髮乾焦，主疳積。睛黃，傷寒。睛青，肝經風熱。白睛黃，脾經濕熱。睛藍，胎氣不足。淡紅色，心經虛熱。無睛光者，腎虛。通身皆熱，是傷寒。肚熱腳冷，是傷食。內熱手足心必熱，內寒手足心必寒。叫呼冷汗出者，蟲所齧也。唇青不欲食者，木剋土也。怕明者，心經熱甚。昏睡者，食熱在脾。停耳者，腎有風毒。噫氣者，胃虛積聚。耳出膿水者，心之疳。涎流唇紫者，蛔之積。解顱者，腎氣不足。滯頤，脾胃虛寒。心氣大驚，則生顛疾。心氣虛乏，因少精神。龜背者，風客脊髓。龜胸者，熱蓄肺經。鵝口口瘡，胃中濕熱。重舌木舌，熱蘊心脾。臍風撮口，濕熱風痰，胎熱。黃病由濕熱。身熱，攢眉，頭目必痛。不食，攢眉，下痢腹疼。哭而不啼，必有所痛：啼而不哭，或因於驚。天釣心肺積熱，內釣脾胃虛寒。夜啼有寒熱之分，驚症有急慢之別。渴則唇紅餂舌，熱則眼澀朦隴。細心詳察，百證自明。凡小兒臍帶短者多難養。臍帶上多壘塊者，多兄弟。無壘塊者，無兄弟。</p>

<h1>上卷</h1>

<h2>痘疹原委</h2>
<p>夫小兒痘疹，乃五臟六腑，胎養穢液之毒，留於命門之內，發於肌肉之間，人生無不種者。痘未出之時，證類傷寒，憎寒壯熱，身體疼痛，唇臉俱紅，耳尻骨指尖俱冷，或腹痛頭疼，眼澀鼻塞，唇焦氣促，口生黏痰，大便黃稠，是其證也。但治法與傷寒不同，傷寒由表入里，痘疹從里出表，歸重脾肺二經。《內經》曰：脾主肌肉，肺生皮毛。滋養氣血，使脾不虛，肺不寒，表裡中和，其痘易出，自然靨也。痘證最為酷證，不日之間，生死反掌。逢歲火毒流行，一發則遍身為之斑爛，惟火降水盛而不焦者吉。痘初起腰疼，點見焦黑者死。蓋緣毒氣留於腎間，熱壯水枯而不發越故耳。錢氏雖有百祥丸下之，十無一生。其丸太峻，故不敢用。愚用透肌解毒、化毒解肌等湯代之，全活者甚眾。凡痘宜發越，不宜菀滯；宜紅活凸綻，不宜紫黑陷伏。治法無多，術在察色觀證辨的，表裡寒熱虛實而已。</p>
<p>凡治痘之法，當於三日已未見紅點之時，宜升麻湯、參蘇飲之類以和其表，微汗為度；若未汗而表未解，略見紅點隱約於肌肉之間，則四物十神湯透肌之劑，便當施治。凡見出遲發慢，根窩欠紅活，便當用心調理，切勿袖手待斃。況古人用藥，如陳文中之木香異攻散，用丁桂、香附峻熱之藥，與《內經》病機不合，丹溪曾發揮其誤。亦有用當者，屢獲奇效。若劉河間、張子和用大黃、芩連寒涼之劑，丹溪曰：酒炒黃連，能解痘毒。依憑用之，而獲效者不少。今之依陳氏而治者，多用熱藥；宗張劉而治者，多用涼劑，是故不偏於熱，而偏於寒，此刻舟求劍之道也。按：《內經》曰：寒者溫之，熱者清之，甚者從之，微者逆之。又曰：逆者正治，從者反治。陳氏用從治之法，權也；劉、張用正治之法，常也。皆不外於參耆歸術，補氣血等藥為主。學者當看時令、寒熱、緩急而治，不可執一見也。</p>
<p>凡痘初起之時，有因傷寒而得，有因時氣傳染而得，有因傷食發熱嘔吐而得，有因跌僕驚恐畜血而得，是以一人受病，傳及其餘。或為目竄驚搐，如風之狀，或口舌咽喉腹痛，或煩躁狂悶昏睡，或自汗，或下利，或發熱，或不發熱，證候多端。即以耳居指尖俱冷為驗，亦未盡信。苟一二日外，腎之部位俱熱，從何稽考？不若驗其兩目畏燈，唇帶黑暈，舌生白胎者為真。</p>

<h2>預防調理</h2>
<p>痘疹一事，人生未有或免，調理亦宜預防。一遇鄉鄰有種痘，而值天時不正，即宜避風寒，節飲食，戒嗜欲，倘一失調，為患非小。古人所以調於未種之先，幼幼之心，為至切矣。古方用油飲子、稀痘散、三豆散、不換正氣散、闢穢丹及瑣瑣葡萄，皆能獲效，然未盡美。愚立一方，名曰預防湯，獲效頗多，錄示同志。</p>
<p><u>油飲子</u>　治痘未種之先。</p>
<p>用麻油一斤，將鐵鍋熬成膏，瓷罐盛貯。每早用百沸湯一盞，化一匙，溫服。</p>
<p><u>稀痘散</u>　治痘欲出未出之時。</p>
<p>用經霜老絲瓜，近蒂三寸連皮子，燒灰存性，陳蜜為丸，如桐子大，硃砂為衣。蜜湯送下三十丸，多者減少，少者益稀。</p>
<p><u>三豆散</u>　治同上。</p>
<p>赤豆　黃豆　大黑豆（各一升，淘淨）</p>
<p>用水八升，同甘草（三兩），煮豆成膏為度。每日任意隨時服之，甚妙。</p>
<p><u>不換正氣散</u>　治天時不正。</p>
<p>厚朴　藿香　甘草　半夏　蒼朮　陳皮　川芎　白芷　防風（各等分）</p>
<p>姜三片，棗一枚，水煎服。</p>
<p><u>闢穢丹</u></p>
<p>蒼朮　細辛　川芎　甘松　乳香　沒藥　真降香</p>
<p>共為細末。痘未種之時備之，既種之時焚之。</p>
<p><u>瑣瑣葡萄</u>　出安南國，及雲南夷方，其色紅紫，狀如甘枸杞而小，難得真。</p>
<p><u>預防湯</u>　治痘未出時，痘疫鄉里盛行。宜一日一服，神效。山楂、生地為君，歸、通、蒡、苓為佐。</p>
<p>防風　芥穗　連翹　白芷　陳皮　甘草（各三分）　當歸　木通　茯苓（各八分）　白芍（五分）　白朮　川芎　升麻（各三分）　山楂　牛蒡（各七分）　生地（一錢）　銀花（五分）</p>
<p>加燈心，水煎服。</p>
<p>一凡痘症防火症，初起或半日、一二日內，太陽無汗，熱壯點見者，毒氣乘熱侵於陽位，急宜取汗退火，以清肌膚，庶幾減少。緩則血隨熱旺，紅侵清膚內，密如蠶種，為郁苗。若投以保元太和雞湯、異攻、參、耆、生脈之類，則熱益盛，而火愈熾。至五日內，束手待斃，未有能生者。噫！非痘殃人也，醫殃人也！特揭篇端以濟世云。</p>

<h2>諸儒論</h2>
<p>王氏指迷論云：痘疹乃時氣之一端，一人受症，傳及其餘。又曰：痘疹有熱，則易出，一出則遍身為之斑爛。張氏煥曰：痘子氣均則出快。蓋血隨氣行，氣逆則血滯。</p>
<p>王氏惟一曰：痘者，脾土所生。肝木旺則能勝土，熱動心神而生驚。</p>
<p>錢氏聞禮曰：肝風心火，二臟交爭，而發搐。又曰：痘未形而先發搐，大忌涼心。蓋瘡屬心，心生血，心涼則血不能行，痘欲出而不能得也。切宜慎之。大抵治驚，當平肝、利小便、均氣最妙。</p>
<p>仁齋楊氏曰：大熱當利小便，宜五苓散、導赤散；小熱宜消毒飲、四聖散之類。</p>
<p>丹溪先生曰：諸痛屬熱為實，宜酒炒芩、連、荊、防解毒藥，加升麻、芷、葛之類；諸癢屬寒為虛，宜歸、地、芎、芍、參、耆養血氣藥，加升、葛之類。愚謂便表裡虛實，是觀症也；涼血解毒，安表和中，是善治也。舍此，治法雖多，反為逆途。又曰：丹溪為活血調氣，安來和中。此為虛實而言，不若涼血解毒、安表和中為當。活血調氣，則又先以補助之法，遏虛寒則可，遇熱症則危。又曰：善治痘者，辨其寒熱，泄其毒自內出，治於已然者也；禁其寒自內出，治於未然者也。治於未然者易為力，治於已然者難為功。夫熱盛則毒多，苟不和解以泄其熱，則血熱妄行，不居原位，是猶溪水橫行，氾濫瀰漫，宜決壅塞以行疏利之法，毒氣有所自出矣。若誤而投以熱藥，與塞水何異？</p>

<h2>辨五臟死症</h2>
<p>經曰：足厥陰肝屬木。賴腎水以為生，腎水竭則肝絕。心乃肝之子，舌乃心之苗，外症舌青黑而卷，目無精光，淚出不止而交流，逢庚辛日死。</p>
<p>經曰：手少陰心屬火。賴肝木以為生，肝木枯則心絕。肝乃心之母，子絕則母孤。外症面黑目直，狂言妄語，心身悶熱，心火離散，逢壬癸日死。</p>
<p>經曰：足太陰脾屬土。賴心火以為生，腎水克心火，火滅則脾絕。肺為脾之子，脾絕則氣不行，外症面浮黃，洞泄不自知。脾主肌肉，肺主皮毛。肌肉消瘦，皮毛枯焦，唇反不收，逢甲乙日死。</p>
<p>經曰：手太陰肺屬金。賴脾土以為生，脾土倒則肺絕。肺主氣，行氣溫於皮毛。鼻乃肺之竅，而氣出入焉。外症皮枯毛脫，氣粗唇反，金無土養。肝藏魂，肺藏魄，肺孤而魄散，逢丙丁日死。</p>
<p>經曰：足少陰腎屬水。賴肺金以為生，肺金燥則腎水涸，腎水枯，不生肝木。外症目無光彩，不與心火相濟，自汗如水。腎經衰，脾土欲克而不能克，真氣自傷，故面黑內結，齒黑焦枯，逢戊己日死。</p>

<h2>治法二十八條</h2>
<p>一痘初起，疑似未定。丹溪驗耳居、手足指尖俱冷，及耳後紅筋赤縷，未可盡信。不若於一二日內，看舌上半白，上下唇起赤黑暈，兩目畏燈者為真。</p>
<p>一初起目光唇紫，略帶焦枯，舌起白胎，兩臉紅光者屬熱，不宜熱藥，宜四聖散、十神湯，加骨皮，汗透為度。汗後壯熱不除，光腫不散，服透肌散一、二服，一日夜連服三、五、六服，面白熱退而止。如熱不退，人事不明，亂言亂語，用犀角地黃湯；不效，用水調六一散一兩，作三次服；又不效，用解肌化毒湯，一二服，熱退水生，乃可治。如至二三日，大熱不除，痘已見苗，並熱難退，即復投以保元湯、人參、黃耆之劑，未有不潰爛而猶生者。</p>
<p>一初起太陽有汗而熱熾，唇不焦，地角肥潤，生氣光澤，三日點不見，至四日而苗出，漸漸如水灌子，此屬涼。痘縱密而無危，宜少服八物湯、十全大補湯，加山楂等藥，以保元氣。氣盛而依期長泛者，不必藥。</p>
<p>一痘光澤者不必藥，若紫黑小而實，在皮下不出者，急服四物十神湯，取大汗，後用透肌散，身涼為度，延至四五日，大熱不退，毒侵皮膚，則為不治矣。</p>
<p>一凡初起麵灰色不光澤，壯熱唇焦，點色紫黑者，作熱看。解衣則生，緩則不治。</p>
<p>一初起疑似未定，症類傷寒，宜服升麻葛根湯。有汗不宜服葛根，用過恐大虛其表，難於灌漿。蓋汗即是血，血即是漿。</p>
<p>一初起肝風心火交爭而發搐，宜王氏惺惺散；甚至顛狂，宜六一散。</p>
<p>一初起一二日內，太陽無汗，宜四聖散、十神湯，加丹皮、骨皮，取大汗如洗，則毒散而痘稀。若熱不除，用透肌散，身涼熱退，多者減少，少者竟無。</p>
<p>一初起一日，或半日內，紅點見而少者，急服四物十神湯取汗，務令熱退。不然，則乾紅症，出五六日而死。</p>
<p>一初起一二日內，面紅腫而淚不流者，取大汗，身涼後宜服八物湯，加升麻、白芷、麥冬收功。</p>
<p>一初起一二日，點見而覆沒，乃影痘也。至七八日，熱退而出，最防郁苗。</p>
<p>一初起一二日，泄瀉臭而不止者，不宜止，穢儘自止，因夾宿食而瀉，故無妨。</p>
<p>一初起之時，男犯房勞，十全大補湯、保元湯救之。</p>
<p>一痘當長泛，七八日內泄者，宜四君子湯送下七味豆蔻丸；如不效，用粟殼去膜，陳皮留白為末，砂糖調服。此症有二：初起熱未除，至七八日泄者，清氣下陷為不治；若身涼色白陷多，作虛寒者，宜依方調治，恐內虛不食而死。</p>
<p>一六七日痘出齊，紅紫不光澤，長泛壯熱未除，但地角人中有水光者，急服透肌散。除熱可治，或乍寒乍熱，水生而復枯者不治。</p>
<p>一凡痘出七八日，長泛肥滿光澤者，不必藥，色紅紫屬熱，宜透肌散，加四物湯清肌，防黑陷。</p>
<p>一凡痘出六七日，長泛法光澤，色白欠肥潤，或嘔吐瀉利者，屬寒，宜十全大補湯，加升麻、白芷、麥冬，以防虛癢倒靨。</p>
<p>一凡七八日，黑陷多，內無火泡，不煩渴，兩顴光澤者，服解毒湯，以下結糞；次服十宣散收功。</p>
<p>一凡七八日，色轉黃，瘡頂略皺，表虛而作癢者，宜大補藥，將收作癢，宜仔細看守，恐不覺抓破二三十粒者，不一時，百症俱作，乾紅而死。既收而爬破者，宜二白散酒調服。七日以前爬破者，氣血交會，宜敗草散敷之，投參耆實表裡；八九日，氣難血散，爬破者，服二白散而生者幸耳。</p>
<p><u>二白散</u></p>
<p>白朮（土炒）　白芍（酒炒）</p>
<p>等分為末，酒調，時溫服之。</p>
<p>一凡八九日將收，色宜竭，若色紅，甚焮腫者，此毒氣太盛，宜梔子麥冬湯，加甘桔服之。</p>
<p>一凡十二三日，收完結痂，目清靨厚，飲食日進，不必藥：若煩渴而泄瀉者，四君子湯送下豆蔻丸。</p>
<p>一凡十三四日收完，目起紅瘴，用穀精散、四物龍膽湯，時時服之。兔糞煎湯，代茶服，亦效。</p>
<p>一凡十四五日，至十八九日，兩足浮虛，面出黃水，宜消毒宣風散，或黃連解毒湯。</p>
<p>一凡孕婦將燒，一二日宜服罩胎散。餘症見後。</p>
<p>一凡孕婦不宜服葛升湯、牡丹皮，宜人參紫蘇飲，倍用羌活以解表毒。</p>
<p>一凡孕婦初產，必生虛熱，痘不出矣，宜十全大補湯、生熟四物湯，時時服。</p>
<p>一凡初起一二日內，身大熱，太陽汗出而點未見，至三四日熱退，八九日復熱，延至半月，或一月者，名曰煉地，宜避風寒，若為風寒所折，必一齊並出，甚者七孔流血而死。慎之！慎之！</p>
<p>一起一二日，遍身紅斑在皮下不出，不長泛者，乃傷寒發斑也。丹溪治法三十條，其中十四條，最宜詳味，故謹述之。</p>
<p>一痘疹春夏為順，秋冬為逆。</p>
<p>一痘分人氣清濁，上取勇怯。</p>
<p>一燒三日不退，防郁苗，急宜解汗以清其地。汗不可太急，急則拈地。</p>
<p>一燒三日略見紅點，如酒刺不長泛者，非是，要查看。</p>
<p>一燒三日出完，六日漸長如粟米光澤者，不必藥。在皮下者凶。</p>
<p>一初起自汗不妨，是濕熱熏蒸故也。汗多者，用人參、黃耆實表，以防難收。</p>
<p>一初起以惡實子為末，蜜調敷囟門，可免眼患。此法甚妙。</p>
<p>一初起煩躁狂言渴飲，若飲水多者，難治，急宜涼藥解燥，如六一散之類。</p>
<p>一凡痘瘡壞者，一日內虛泄瀉，二日外感風寒，三日變黑歸腎。</p>
<p>一凡痘出稠密者，用人參敗毒散、犀角地黃湯。稀則毒少，稠則毒多，宜以清涼之劑解之，酒炒芩連，多服亦不妨也。</p>
<p>一凡痘乾者宜退火，用清涼之劑，薄荷、荊芥、升麻、乾葛之類；濕者，肌表之間有濕氣，宜白芍、防風、白芷之類，蓋風藥亦能勝濕也。</p>
<p>一凡痘癢塌者，於形色脈上分虛實。實則脈有力，氣壯；虛則脈無力，氣怯；癢則用實表之藥；如大便不通，以大黃等寒涼之劑，少少與之，下其結糞；輕則用淡蜜水調滑石末，以鵝翎刷上潤之。</p>
<p>一凡痘當分虛實，氣虛者，用人參、白朮加解毒藥；血虛者，用四物湯加酒炒芩連，名解痘毒是也。</p>
<p>一凡痘分氣血虛實，大抵於氣血藥中分輕重為用，以平為期，有犯外邪而實者，加防風表藥，治法當活血調氣，安表和中，輕清溫涼之劑，兼而治之。溫以當歸、黃耆、白朮、術香；涼以前胡、升麻、乾葛，佐以川芎、白芷、白芍、枳殼、桔梗、羌活、木通、紫蘇、忍冬、甘草之類，可以調適矣。</p>

<h2>輕症條例</h2>
<p>一凡初起壯熱，太陽流汗，不煩渴、泄瀉、嘔逆，三日點見不密者，佳。</p>
<p>一凡初起熱微，嘔吐、泄瀉、汗出，點見紅者，輕。</p>
<p>一凡初起壯熱有汗，狂顛，人事不清，三日熱自退，四日點見者，輕。</p>
<p>一凡三四日內，面色紅潤，目清唇紅，熱不壯，飲食如常，不煩渴者，輕。</p>
<p>一凡一日內壯熱吐瀉，點見紅者，必取大汗，汗透者，輕。</p>
<p>一凡三日熱退，點出血泡，大而轉小，六七日轉淡黃色者，輕。</p>
<p>一凡痘出齊，六七日滿面光潤者，輕。</p>
<p>一凡孕婦胎落，目清不煩，痘腳稀者，輕。</p>
<p>一凡十一二日如褐色，或花收，或濕收，或干收，面部收完，日開一線，黑白分明者，輕。</p>

<h2>重症條例</h2>
<p>一面色灰白無汗，痘出點，腹痛唇焦，及內有宿食者，死。</p>
<p>一初起熱三日退，出點色白，面色灰白者，乃內攻之症，用重治法。</p>
<p>一初起而紅舌者，無汗煩躁，點見小而實者，危。</p>
<p>一初起面白目青，流淚無汗，天庭點見小而實，浮起不汗者，危。</p>
<p>一初起兩足痛不能忍，面色皎白，點見小而白，身不煩渴者，危。</p>
<p>一初起壯熱無汗，二三日，痘乘熱而出，又服保元湯、太和雞湯，至七八日，譫語皮爛者，危。</p>
<p>一凡初起，女犯房勞者，死。</p>
<p>一孕婦胎落，熱盛皮紅，煩渴一齊並出，咽喉痛者，死。</p>
<p>一凡未出之先，飲食過多，內有宿食，以致胃爛成斑，黑色者，五日死。</p>
<p>一凡痘出齊，壯熱遍身通紅，唇齒焦枯，乃血不居位，四日死。</p>
<p>一痘出齊，紅紫不光彩，苗焦地枯，淚流煩渴，舌全白乾枯者，危。</p>
<p>一痘一齊並出，壯熱色白，不渴泄，煩躁不止者，三日危。</p>
<p>一痘一齊並出生水，身無大汗，飲食不減，面生疔毒過關，身不起者，危。</p>
<p>一痘起泛，舌轉淡紅，略帶白色，如爛豬肝者，死。</p>
<p>一痘起泛，身上涼，七八日內泄瀉，火燒如燎者，死。</p>
<p>一凡痘齊出，至七日熱退，面部胸前皆起，項後不起，焦枯滿面而空，起油膩者，危。</p>
<p>一痘七八日長泛，不肥滿，煩渴，黑陷，兩頭髮火泡，四肢起，胸背上不起者，危。</p>
<p>一痘八九日收不過關，不結痂者，危。</p>
<p>一痘起十二三日，將收完，口開眼閉，煩渴譫語，色皎白，臭氣粗者，危。</p>
<p>一痘起十一二日，將收完，氣臭充入腦頂者，危。</p>
<p>一痘將收未收，作癢爬破者，危。</p>
<p>一痘收後，飲食過多，作泄者，危。</p>
<p>一痘收後癰毒潰爛，久不生膿者，危。</p>
<p>一痘收完，下利多食，目睛陷，穀食不化者，危。</p>
<p>一痘後完，痂落無疤跡，遍身色白如鼓皮，不思飲食者，危。</p>

<h2>相格論</h2>
<p>嘗觀小兒痘疹，雖原胎毒以成，然其發越，實本歲運而至。欲知治法，當辨生死。初起決其生死，須觀主痘何如。初發熱而痘點先見者，為主痘。主痘見於太陽司空之地，光澤者輕生，紫黑者垂危，欲知治法，必於死中求生。紫黑者，內毒已成，升提以泄其壯熱；光澤者，內養完固，善調以保其太和。升提則升麻、葛根為宗，調養則以川芎、當歸為要。密如蠶種，須防提起必死；形如鼓皮，最怕流淚定死；點如蚊錐，汗後不起者不治。已上三症，當用四物十神湯取汗，透肌散清地。唇下人中，漸漸生水，若水生復干，大熱如前者不治；形似糠粃，太陽汗乾者，莫醫；渾身壯熱，汗枯必然並出，死症無疑；少婦房勞色白，亦能並出，妙手何用？脾虛則淚灌瞳神，譫言多水；腎虛則鬼祟其體，狂言多妖。腎屬陰而藏鬼，患者多見鬼，知其腎空虛，非真鬼也。舌不出唇心已喪，耳居反熱腎將枯，用梔子麥冬湯滋腎水，加黃柏、知母服之。唇裂齒乾莫治，面仰頭直休醫。舌上疔如枯樹，舌下黃如牛奶，柿形，此乃熱毒生心經，不必良方。生時後，男子原於心熱，婦人乃是產虛，用玉鎖匙點舌，四神湯加梔子、麥冬、連翹、黃芩以治之。若舌上黑瘤，不一時如龍眼大，紫黑血泡塞口，潰爛莫治。天堂先起者否，地角先見者泰。手足未見而頭面獨起，號曰四體不均，此熱蒸於面，手足屬腎，腎之所部獨冷，面受熱蒸而苗已枯，是以腎部未受熱蒸而起，水枯火盛，乾紅之症，能無危乎？腰背密而胸前獨無，實為一心之主，胭脂色地，不作膿，水灌於形易長泛。凡觀表裡之間，必察經緯之內，心經本乎胸前，肺緯原乎背後；心經實而心窩疏，肺緯虛而背後密。心混心家熱，咳嗽肺生痰，咬牙脾土弱，恍惚腎水枯。虛乃脾土發生，無腎水則枯，無肝木不茂，無肺金不生。腎水枯而心火熾，是以肺金受傷。肺金傷，梔子麥冬湯加二陳主之。而痘苗枯，實本脾土熱，金不能生水，苗如枯，脾土乾燥而熱。痘將出而唇上破裂者，脾土大熱，乾紅之症不無，急用解肌化毒湯，連進不效，加軟石膏救之。唇白不收者，脾土大寒，泄白之痢必有，十全大補湯，倍人參、黃耆救之，急用參湯，調飯匙膠主之。初起腳疼者血少，腰痛者營虛。胸背乃受虛之地，緊要之關，不宜痘密；手足乃堅硬之所，輔佐之鄉，縱密無妨。面不起而天堂有膿，陽氣散而死期將至；面已起而頸項無水，關節隔而生意必無。胸前黑陷心家熱，下其結糞可醫，解毒湯可治，通聖散亦妙。背後焦枯肺作痰，鼻起烏煤不吉，腰纏羅帶腎水枯，脅表赤紋脾土無。羅帶纏身，應有陰陽之論。帶如灰白，定為虛弱之凶。色似灰白，喘咳何安，八珍散去朮，而加參耆為當。腹似鼓皮，煩渴不已，解毒湯倍歸而投枳殼為宜。欲出不出，煩躁無微汗者，大凶。或燒不燒，泡爛有赤斑者，愈險。三四日內，因有宿食，以致胃爛成斑，治法當用解毒湯加大黃下之。但人惑於汗下說，執不肯下，是以就手待斃。予於此揭示後人，與其袖手待斃，不若幸而成功。吾見世之出斑未齊，下而好者，十有八九。人何寧忍死而不肯下乎？</p>
<p>五體密而胸背疏，縱重何妨？四肢多而頭面少，雖險可醫。虛處多而實處少，獨防虛弱難收；虛處少而實處多，善加調養易好。面腫脹而身不腫者，毒上凝而不散；面起泛而身不起者，症已敗而命終。</p>
<p>凡看小兒痘疹，先觀五藏何如？舌全白者心喪，齒全黑者腎亡，肝絕則目赤淚流，脾倒則唇焦掀露，肌肉消白者肺絕，痘腳紫黑者血枯。虛處多，毒積於五內；實處少，毒散於四肢。初燒壯熱不除，定知郁苗而死。汗透身清熱退，苗隨汗出必生。先服透肌散，次用解肌化毒湯，急服以救苗也。此乃痘家之秘訣，實為後學之良方。瘙癢蓋緣痘嫩，參、耆、桂、術可投；食挫定是痰多，甘桔二陳莫緩；黑陷火炎水竭，解毒湯投之甚宜；咬牙土濕脾寒，異攻散服之允當。煩渴無膿痰氣盛，終為陰府之人；泄瀉失被飲食少，難作陽間之客。肥滿光澤，膿窠泡者，尤佳；平塌焦枯，腳下黑者，不吉。舌上染霜心內熱，十神湯內麥門冬。眼中流淚脾家虛，八物湯間耆朮等。睡中驚跳莫疑邪，未出狂言休為重，熱吐痰多，毒反攻於內，心先受證，所以生狂，宜解毒湯，加梔子、麥冬、黃芩主之。重變輕而易好，遇乎濟世之醫。輕變重而難調，遭乎風寒之閉，先用透肌散以實表，次用四物湯與解肌化毒湯以和中，所為安表和中，可以無危。黑斑幾點，發在實地也，堪醫；紫血數團，發在腎經，難得解；紅斑成片，發於腰背達臍者，不可治。肺經不起，任扶上岸也生痰。肺麗於背，自頸後至背不起泛者，必生痰喘，宜補肺散，加四物湯與穿山甲，以升提主之。面生輕薄，得到頭來適作怪；肺經不絕，必生痰而作氣。面色灰白，定瘙癢而不清，小兒多有水光，因而作癢。婦人豈無嬝體，眼硬流漿，痘灌漿而表虛，宜大補湯、保元湯，倍耆桂以實表。緩則皮破血水流，謂倒靨，用敗草散敷之。若少婦肌肉嬝薄，被席堅硬磨破，不可以倒靨看。若加實表之藥，反增潰而死。男子老來最怕實光而不灌，後生壯者應嫌房事以傷神。男受症而與女交為陽易，十全大補可生；女受症而與男交為陰易，百無一治，必死。睡則被驚而醒，蓋緣心火之未治；食則作嘔而還，是因胃氣之不足。困足聲干，如敝車不吉之形；灌里流漿，乃枯木不凋之象。鼻枯唇裂本凶，氣促目翻不吉。眼失瞳神，終歸陰府；眼無光彩，定棄人間。神昏不定被驚，梔子麥冬湯以瀉心火；胃氣不和致嘔，藿香正氣飲以調胃寒。雲肩垂而生痰氣，頸鎖重而隔咽喉。雲肩者，頸後白陷而焦枯。頸鎖者，咽喉垂陷而無空。二者皆火盛而毒上凝，透肌散、四物湯、穿山甲去雲肩，牛蒡子、甘桔治頸鎖。雲頭花滿身不吉；霞色叚遍體何安。紫黑焦枯，應有板牙之論；齒唇掀露，還詢往日之因。煩渴不定心受熱，瘙癢不已體遭魔。硬舌言語不清，色如爛豬肝者，必死。咽喉吞水不下，痰如死狐臭者，不宜。噦噫者，胃氣不和，嚼赤豆立止。疼痛者，脾胃卻絕，想人世難留。燒出蛔蟲，非積氣多者不治。經云：蛔蟲而胃絕。平日積氣生蟲，遇胃火盛，蟲乘熱而上行，雖多無妨。苟非積氣，必胃絕也，宜白虎湯治之，泄盡死血。若成塊少者莫醫，應嫌瘡癤不分明，更怕癰疽而泄氣。痘將半足，若生腫毒得長生，腫毒已成，爛肉黑沉還不美，痘毒已成，宜發焮腫，則新血盛而敗血成膿，此生新去舊之義也，宜八物或托裡散。苟非服涼藥太過，氣血衰弱，肌肉沉黑而死。</p>
<p>孕婦防燒極以臨盆，產婦怕血氣而汙體。正治偶遇月經，猶防汙穢天花，若非大補良劑，未可全稱福果。正當長泛時候，且看膿色何如？清漿則易靨難收，實漿則易收緩愈。足跟知痛，身上漿收，痘已出盡；身熱不退亦擔憂。痘已長完，窩內無膿還不美。長完漿灌，須察是水是膿；灌足漿收，須見有痂有靨。長泛是水，皮薄者難收；灌滿是膿，皮厚者易斂。不結痂，如疔靨貼肉不美，謂之假塌陽收。靨邊赤色，如死血染皮甚凶，謂之乾紅火泡。睛清則臟腑無毒，皮赤則表裡有傷。面部收完，目開一線，黑白分明，則知內毒已盡。白珠紅者內熱，宜四物龍膽湯主之。皮赤者，毒未盡也，與再三參看，宜解毒湯主之。靨邊白色易好，瘡邊紅色再翻。兩足浮虛，氣未除而有毒，荊防敗毒散主之。五心燥熱，熱未退而要涼。收時氣促腹脹，必生結症，此為不治之候，宜蘇子降氣湯主之。完則口開眼閉，恐喪心家，此亦不治之症，此症有毒。若參陽位，矇頭蓋面，身上稀少，則毒氣易除。面部凝而不散，是以口開眼閉，或爬破復灌者，宜解毒湯加生地、赤芍、銀花、芩、連行下之藥急救之。好則依期而愈，未臨半月收還；否者過日而延，卻過四旬不足美。幼兒氣衝皮薄，十日收完，不為太急；老人氣衰皮厚，十日而長，豈是遲延。面赤眼紅，心經多受熱；咳嗽咽痛，肺上定生痰。既收而出黃水，乃是餘毒未除；若收而生水泡，亦是熱氣未散，宜與倒靨條參看。半漿水泡起於胸背，青黑水泡發於四肢，人事清爽，飲食加進者，不必藥，此氣有餘而血不足，宜少與四物湯和之。眼眶露出紅筋，必生翳膜，靨遲現出赤色，定有餘災。魚口蛇腹定知亡，虎斑蛇皮俱不吉，亦有巧中藏拙，絕處逢生。人生分乎貴賤，命難定乎短長。貴人體厚，難禁勞碌之形；童子體嬝，怎受非常之熱？貴人八分折十，賤者四分減三。初起不避風寒，必生壯熱；不節飲食，必致胃傷；不戒嗜欲，必損元氣，唯有內生外死，猶可詳觀。譬如根好葉枯，終當發達。凡用藥俱用炒研，入煎方得出味。</p>

<h2>辨痘疹與傷寒相似治法與傷寒不同者何</h2>
<p>相似不同者，丹溪之心法也。痘疹無全書，亦天地之一缺也。此二句，參天地之化，致中和之氣，成位育之功，補天地之一缺，發聖賢之未備，包括多少意義。所謂相似者何？初起之時，憎寒壯熱，頭疼腦痛，身熱脊強不眠，舌乾口燥，寒熱嘔而口為之苦，此其所以相似也。何為不同？傷寒從表入里，一二日宜發表而散，三四日宜和解而痊，五六日便實，方可議下，故傷寒先治表而後治里。痘疹從里出表，一二日毒氣內壅，宜托裡以解表；二三日內有宿食，以致胃爛成斑，宜急下以和中，故痘疹先治里而後治表，此其所以不同也，且症類傷寒者多矣。予見十二三日，飲食多者反死，不進飲食者反生，與除中何異？大熱未除，咽喉舌爛，齒牙脫落，與狐惑同條。煩極而渴，熱熾成斑，譫語鄭聲，虛實相等，多眠不眠，轉重可知，舉此以示後學，所以發丹溪之未發也。且傷寒明表裡，毒入於內，以致發狂，方可議下，下之早者結胸，傷寒下之宜遲。痘疹明虛實，毒壅於內而不發越，便宜速下，下之遲者胃爛成斑，是以下之宜早。表裡明，則傷寒無不治；虛實辨，則痘疹無不調，治痘疹端在此。古人云：胸中有全馬，然後可以畫馬。予亦曰：心中有全痘，然後可以治痘。</p>

<h2>正治從治者何</h2>
<p>夫痘疹雖原於胎毒所成，實藉氣血以為主。榮衛和調，脈絡循軌，一有偏勝，其害立見。燒三日身清而出，自然之理。或半日，或一二日，熱未除而點見太陽司空之地，色白而空殼者何？夫司空之地，心實主焉，毒不能出而反入，是毒氣攻心而臣欺君。心無主宰，火盛剋金，而血不華體，名為內攻之症。夫心火不可驟遏，宜行從治之法。蓋以寒治熱，以熱治寒，此正治之常法也。以熱治熱，名曰從治。內攻之症，非從治行權，則莫治焉。痘見空殼，血不蔭根，面白唇黑，臍下紫斑，此內攻之症也，宜四物湯加升提藥以從治之，令毒侵皮膚，痘腳紅活，徐進以透肌散，正治以解之。從之太過，恐毒盛肌膚，固結而不可解。一從一正，至再至三，候其見點大淡紅，地肥苗秀，略見光輝，人事平靜，則從治之藥斯止，此法甚效。人所不曉必點初見於司空之地，而詳審焉。否則五臟潰爛，五六日而危，不可救矣。學者宜盡心焉。</p>

<h2>辨今人不用異攻散</h2>
<p>陳文中用木香異攻散，乃寒水司天之時，屢獲捷效。自宋曆元至明，率皆用之。遇歲火毒流行，概投以異攻散，而時藥不旋踵而死，畏不敢用。夫山野農人，多受山嵐瘴氣，毒鬱於內，以致陷伏倒靨，寒戰咬牙，灰白頂陷，泄瀉昏睡，苟不用辛燥之藥劫而出之，將何成功？予故挈而辨之，以語後學。</p>

<h2>辨今人輒用保元湯</h2>
<p>夫痘疹先辨寒熱為主，一二日熱壯點見，此症屬熱，用涼血解毒、安表和中、輕清之劑，以身涼而止，此古人正治之法也。至四五日後，血熱妄行，毒侵皮膚，投以清涼之劑，尚未可收成功，而況與之保元湯者乎？今醫不問身熱未除，一二日內，概與之保元湯，不效而以太和雞湯，至於煩悶又進以獨參湯，是以熱而助熱，血妄行而痘密，火愈盛而水愈枯，陷伏不起，未有不顛狂，焦枯唇齒，舌爛而死。哀哉！夫異攻散，既為陳文中之病，保元湯與異攻散，又何異乎？今醫常云：某用保元湯而生，某用保元湯而效。殊不知遇於寒涼，發之當而成功易；遇於火毒，此與異攻之害，可勝言哉！今之時火毒流行，熱症十常八九；寒涼亦有一二。熱甚點見為熱症，急用清涼之劑。三四日熱退見者，為寒涼，宜用保元湯。後之醫者，當辨寒熱，幸無執滯，以失人為身後累，其謹鑑之。</p>

<h2>辨汗下二說</h2>
<p>按：丹溪云：始終不可妄為汗下。其言妄為者何？蓋言未嘗不汗下，但不可妄耳，於此不可不辨。昔人借喻云：如庖人籠蒸之法，但欲其松耳，治法宜涼血解毒，安表和中。其或氣盛煩躁，熱熾盛，眼赤，皮紅光腫，此毒侵膚，肌表受症。若不急汗以解表，則熱愈盛而毒愈熾，血熱妄行，毒侵皮膚一齊並出，則不治矣，宜先服四物十神湯以蘇利之，汗透為度。略用升、葛以解表，則毒氣有所滲而出。毒從汗散，痘從汗出，自然開腳生水，此所當汗也。苟熱不為汗，則壯熱不除，大便不通，煩躁胸高，內有宿食，點見紫斑，急用承氣湯，或通聖散、白虎湯下之，則內無壅滯，氣血順軌而清涼。苟不急下，則毒蒸臟結，臭爛而死，此始當下也。汗後自利，苗下泄也，此為重症變輕，穢盡而利自止，不必止也，宜以八物湯、保元湯、十全大補湯，徐徐飲之，以助成功。如八、九日火熾壯熱，水枯黑陷，大便閉結，毒壅於裡，而五心煩熱，急當下。苟不急下，則毒鬱於內，無由發泄，內外固結，火熾水枯，黑陷而死，宜解毒湯，少與芒硝以軟堅，當歸以潤腸，枳殼以導滯，而結自下，則毒氣流行，表裡俱解，火降水生。此終當下也，學者宜盡心焉，不可惑於時論，袖手待斃也。</p>
<p><u>四物十神湯</u>　治一二日內點見熱壯，無汗或自汗者，並宜服之，取汗透為度。</p>
<p>當歸　生地　蘇葉（各一錢）　川芎　白芍　升麻　乾葛　白芷（各五分）　香附　陳皮　甘草（各三分）</p>
<p>熱甚，加赤芍、麻黃；皮紅熱壯，則加丹皮、骨皮、姜。</p>
<p><u>石膏湯</u>　治三四日熱壯，大便閉，胸高而躁。</p>
<p>生石膏（七錢）　桔梗（二錢）　東參（一錢）</p>
<p>水煎溫服。</p>
<p><u>承氣湯</u>　治同上。</p>
<p>枳殼　厚朴（各二錢）　朴硝　大黃（各七錢）</p>
<p>姜三片，水煎服。</p>
<p><u>防風通聖散</u>　治壯熱不除，又大便閉塞，胸中煩躁飽滿。</p>
<p>防風　白芍　薄荷　當歸　川芎　甘草　厚朴　梔子　連翹　黃芩　桔梗　白朮　麻黃　荊芥　滑石　石膏　大黃　芒硝</p>
<p>共十八味，姜三片，水煎溫服。</p>
<p><u>解毒湯</u>　治八九日熱甚，水枯黑陷者。</p>
<p>陳皮　甘草（各三分）　白芍　連翹　梔子　黃連（各五分）　當歸（炒）　生地（炒）　黃柏（炒，各八分）　防風　荊芥　枳殼　黃芩　朴硝　牛蒡（各一錢）</p>
<p>陷多，加大黃（二錢），姜（三片），水煎服。</p>

<h2>辨初起腰疼</h2>
<p>凡初起之時，頭痛腦疼，及肚腹疼痛者，乃為順症；甚至腰痛不可忍者，或有腳疼而至於腰者，世以為毒藏於腎而不能發越，率為難治，而又見可治者多矣。予參考諸書，惟丹溪語及此，是知其腰之痛也。蓋由鳩尾骨者，太陽所過於此，榮虛不能導衛，陰血為之停留，新血相觸而作疼，是以鳩尾骨痛，而達及於腰。世人誤為腰痛，治法活血調氣，用四物湯，加酒炒黃柏、酒炒知母，以桂心為引，甚者加乳沒；或痰盛而作疼者，用二陳湯，加炒黃柏、酒炒知母，以廣木香為引；陰虛痰盛，合二方而用之。治未出而腰疼腳痛者，則升提發散之藥亦可，用四物十神湯。學者所宜盡心焉。</p>
<p>師鑑按：《證治大還》云：鳩尾骨痛，痛甚屬痰，二陳加木香、前胡、黃柏、知母；至陰分作痛，屬陰虛濕熱，六味丸加當歸、牛膝、防己、黃柏、知母、肉桂、紅花。</p>
<p><u>加味四物湯</u>　治痘未出而腰痛。</p>
<p>當歸　黃柏（炒）　知母　升麻（各一錢）　熟地（半錢）　川芎（八分）　白芷（三分）　桂心（五分）</p>
<p>痛甚，加乳香、沒藥（各五分），水煎服。</p>
<p><u>加味二陳湯</u>　治痘未出而痰盛腰痛。</p>
<p>黃柏（炒）　知母　茯苓　升麻（各一錢）　木香　甘草　陳皮　半夏（各三分）</p>
<p>痛甚加乳沒（各五分），姜（三片），水煎服。</p>

<h2>辨影痘</h2>
<p>凡初起一二日，熱未壯而皮略見紅點者，有見而覆沒者，為影痘。不必驚疑，必俟熱壯而出。痘出輕鬆淡紅，此毒侵皮膚順症，不必藥：點出而浮小，色白而無血者，屬熱，毒氣留於命門，遇相火合起則發，以通聖散寒涼之劑解之。</p>
<p><u>防風通聖散</u>　治點出而浮小，色白而無血者。</p>
<p>防風　薄荷　赤芍　歸尾　梔子　連翹　黃芩　白朮　川芎　荊芥穗　甘草　青黛　滑石　石膏</p>
<p>共十四味，水煎服。</p>

<h2>辨發斑</h2>
<p>夫斑者，有色點而無頭粒者是也。蓋緣飲食過多，傷於足太陰之脾土，熱積於手太陽之心火，入於手太陰之肺金，故放點而斑生，出於腰腎皮毛之間，從胸背絡頸而入腹者死。先賢曰：胃爛成斑。又曰：內傷外斑。一身之火，遊行於外，色紅而小者，用通聖散以散之，或玄參升麻湯、豬心龍腦膏治之。宿食未消，壯熱不除，四順清涼飲子下之。若斑紫黑，身壯熱，斑出自下而上，及臍者不治，至領者死。丹溪曰：斑紫紅，十有九死；紫黑者，十無一生。良有以也，予見斑少痘多，開腳生水，身無大汗者，亦當治之，不可執一端也。</p>
<p><u>通聖散</u>　治痘發斑。</p>
<p>麻黃　大黃（五分）　朴硝（一合）</p>
<p>水煎服。</p>
<p><u>玄參升麻湯</u>　治內傷外斑，一身之火，遊行於外，色紅而小者。</p>
<p>大青　玄參　升麻　乾葛　羌活　獨活　歸尾　黃芩　茵陳　石斛（各等分）</p>
<p>水煎溫服。</p>
<p><u>豬心龍腦膏</u>　治同上。</p>
<p>梅花冰片（一分）</p>
<p>宰豶豬心血一個為丸，如桐子大。每服一丸，紫草湯下。</p>
<p><u>四順清涼飲子</u>　治宿食未消，壯熱不除成斑。</p>
<p>當歸　白芍（各一錢）　甘草（五分）　生大黃（錢半）</p>
<p>胸高滿，加厚朴（一錢），枳殼（一錢），姜（五片），水煎服。</p>

<h2>辨用雞先後</h2>
<p>夫雞之為言稽也。易稱翰音，乃火德之精。其性興陽，其功同參，性味甘溫無毒。多食則火動生風，世俗見痘出者，食雞而成功。不論先後虛實寒熱，但見出遲發慢概與食之。食後咽喉腫痛，壯熱皮紅，風動生痰，目赤淚流，斑爛而死，予深哀之。夫雞何害於食，但始發之時，熱未除，不分寒熱，切不可食。至八九日，轉漿而色淡黃，光澤而不肥滿，氣虛白陷不起，身涼多睡，咽喉爽快，痛少便清，此屬虛寒之症，宜與食之。用筍為引，白水熬成膏，如常食之，少加鹽而略和其味。藉火氣以行血，於是白陷者，紅活突綻而起。惟虛寒之症可食，若熱未除而多食，未有不敗乃事者。</p>

<h2>辨誤服熱藥成斑</h2>
<p>夫小兒難任非常之熱，亦難任非常之寒，宜溫和通用。如初起一二日內，壯熱未除而誤服熱藥，並冒風暑成斑，宜服陽毒升麻湯；若氣血兩虛發熱，誤服涼藥，下之太早，以致斑爛，宜龐氏石膏湯；若有宿食成斑，治見前。</p>
<p><u>陽毒升麻湯</u>　治誤服熱藥成斑。</p>
<p>升麻　人參（各一錢）　射干　黃芩（各二錢）　犀角（磨三分）</p>
<p>水煎食前服。</p>
<p><u>龐氏石膏湯</u>　治誤服涼藥成斑，氣血兩虛而發斑。</p>
<p>朴硝（五分）　香豉（一合）　蔥白（一枝）　大青　升麻（各一錢）　石膏（五分）　生薑（五錢）</p>
<p>水煎服。</p>

<h2>辨黑白二陷</h2>
<p>凡痘初起，燒三日未見紅點，熱退身涼，至六日出齊，頂尖光澤不必藥。至七日頂復平，名曰開腳。八日內四邊高起而中陷者，名曰生水，色轉淡白，漸漸轉黃，至九日成膿。中陷高起者，名曰圓頂。四邊色紅收近者，名曰圈腳。至十日褐色，如灰白者正收，不必藥。八九日而陷不起者何？夫陷有二種：白者為白陷，黑者為黑陷。諸書所載黑陷而未及白陷，乃先賢之所未備。夫二陷系寒熱，後人但知黑陷為實熱，能殺人，又謂之返黑歸腎，先儒謂十無一生。殊不知白陷為虛寒，亦能殺人。黑陷多用百祥丸，予以為傷其脾土不用，以解毒湯代之，活者甚眾。惟白陷者無治法，是為缺典。予知氣虛不能導血，過食以傷脾土，或服寒涼太過，耗散精華，故有是症，宜異攻散、補中湯、上奇散，詳症施治。</p>
<p><u>解毒湯</u>　治火盛水枯黑陷。方見後。</p>
<p><u>補中湯</u>　治氣虛白陷。</p>
<p>人參　黃耆（各一錢）　白朮　當歸　麥冬　熟地（各五分）　川芎　升麻　白芷　白芍　甘草（各三分）　桂心　陳皮（各二分）</p>
<p>胸前陷，加銀花：背上陷，加山甲；面起身不起，加黃芩（五分）；餘熱不清，加骨皮（三分）；泄多，加赤茯（三分）；有宿食，加山楂肉（三分）；泄多，再加鹽梅（一枚，燒），用薑棗引，酒煎熱服。</p>
<p><u>上奇散</u>　治同上。</p>
<p>人參　黃耆　當歸（各三錢）　厚朴　桔梗（各五錢）　桂心（二分）　川芎　防風　白芷　甘草</p>
<p>熱和升麻為末，酒調服。</p>
<p><u>辨反黑歸腎為黑陷</u></p>
<p>予觀諸書《洪範·五行》：水潤下，火炎上。心腎二經所屬之地，水火不容並立。水枯則火盛，自然之理也，況無治腎之法，但有解毒散火之理。予知火盛則苗枯，黑陷非歸腎也。治法當用黃連以瀉肝，木為心之母；麥冬以清心也；升麻升陽氣於陰之下，行肺氣以平肝，兼能散火；白芷、當歸生新血以助心；生地黃、炒黃柏以補腎；枳殼佐歸以寬腸而導滯；朴硝少許以軟堅；梔子下屈曲之火；黃芩引血以歸位；連翹開鬱而降火；白芍均氣以補陷；荊芥以退火毒。名曰解毒湯。如此則火降水行，黑陷自然轉漿而愈。</p>

<h2>辨火論</h2>
<p>人具五行，各一其性。心為君火，又有相火，現寄於肝腎之間。相火易起，煎熬真陰，陰虛則病，陰絕則死。夫痘疹一症繫於心肝脾肺四臟之火，《內經》所謂五火相煽是也。一發則為之斑爛，世以傷寒一類治之，惟丹溪主寒熱表裡虛實之論。予知氣盛血壯者屬火，出而斑爛；氣衰血少者為寒，出而稀少，此寒食輕重之分也。夫輕者不藥而愈，重者豈可束手待斃？予此辨而極言之。近歲火毒流行，熱症十常八九，寒涼間有一二，必當升陽散火以清肌膚，此扶陰抑陽之義。蓋火不可豁遏，必輕清和解，是以用四物十神湯取汗，以行疏利之法，則用升麻升陽散火解肌，而毒出首。汗後火不熄，仍前壯熱，兼以面色皎白，痘小而空殼，此火鬱於內，毒不能出而反入。其為症也，人事不清，口多譫語，而生黏痰，此乃熱火成毒攻心，舌必全黑，復用四物十神湯，加丹皮、骨皮以升提之，俟其火發而有微汗，遂用透肌散以清之。一晝夜連進二三服。如顛狂不止，蓋緣真火之未降也，進以井水一碗，調益元散一兩飲之。必口吐痰涎，人事輒省，此真水能降真火也。如不效，用解肌化毒湯，必一二服，熱退身涼而止。此無他，火盛則血妄行，毒侵皮膚故耳。若非猛進藥餌，則不治也。然涼後火毒者何也？名曰乍涼，非誠涼也。夫瀉火者，耗其真陰，陰虛火動，自然之理，先實後虛也，宜以保元湯大補元氣，氣盛則火自降。非深知其道者，烏足以語此。</p>
<p><u>透肌散</u>　治一二日毒氣凝結，面紅煩悶。</p>
<p>牛蒡子（二錢，炒）　荊芥穗　木通（各一錢）　山楂　白芍（各八分）　陳皮　甘草（各三分）</p>
<p>燈心一撮，姜三片，水煎服。</p>
<p><u>解肌化毒湯</u>　治一二日痘見點，顛狂不省人事，面色紅腫。</p>
<p>防風　荊芥　梔子　連翹　柴胡　前胡　羌活　獨活　升麻　丹皮　乾葛　白芷　麥冬　赤芍　黃芩　骨皮</p>
<p>心煩，加犀角、黃連。涼後用八物湯。將前藥各等分，燈心為引，水煎不拘時服，身涼而止。</p>
<p><u>益元散</u>　治同上。二便利者不宜服。</p>
<p>滑石（六錢）　甘草（一錢）</p>
<p>共為末，水調服。加硃砂三分，名曰辰砂六一散。</p>
<p>四川文宗高受所媳，乃西田庠生林體乾女，年十六種痘，起自初八，至十二不能言語，臥不安席，起臥之時，循序不亂。楊橘泉治之不效，問紫姑仙，質以藥方。仙曰：操舟者不知把舵之方，焉能令舟就岸，以卸其貨？今喻子在此，何不用之？延予看痘，立方與仙合。知其火盛痰生以迷心，是以不能言；熱毒攻心，是以坐臥不安。用解肌化毒湯，倍梔子、芩、連，加牛黃一分，三服後，痰吐盈盆而能言，舌黑如茨，痛飲茶五碗，方睡而愈。姑仙呂純陽贈詩一首，詩曰：</p>
<p>蓬島仙人久慕名，</p>
<p>塵凡醫類笑無明。</p>
<p>金聲一振聲難敵，</p>
<p>玉液金調果有靈。</p>
<p>大手挽回春氣盎，</p>
<p>妙劑推轉病元寧。</p>
<p>先生總合神仙意，</p>
<p>莫大陰功海島平。</p>

<h2>辨表實</h2>
<p>表者，外也。痘疹從內出外，寒在表，熱在裡。紅活凸綻為表實，不必藥。初起之時，外感風寒，內受鬱熱，毒氣不能發散，由是凝結於皮膚，無汗而光，睡臥不寧，此表實而熱也，宜四物十神湯汗透以肌表，用透肌散以和氣。不然黑陷水枯，乾紅之症，不治矣。</p>

<h2>辨表虛</h2>
<p>夫虛者，氣血不足之謂。如不起，面白唇紅，舌黑汗透毛端，此氣血不足，且看其熱微壯何如？微者蔥白湯少許，亦能壯氣而痘自出。至五六日出不快，六七日開腳生水不作膿，此虛症而寒也，宜人參養榮湯，倍加參、耆以實表，自然靨也。不然，白陷寒戰，倒靨泄瀉之症出，則不治矣。白陷甚者，宜異攻散。</p>
<p><u>人參養榮湯</u>　治六七日表虛色白，食少寒戰，陷頂泄瀉。</p>
<p>人參（二錢）　黃耆　當歸　白芍　白朮（各一錢）　熟地（五分）　川芎　茯苓（各五分）　桂心　陳皮　遠志　五味（九粒）　甘草（炙，各三分）</p>
<p>泄瀉，加枯礬三分，加山甲二分；食少，加山楂五分；痰，加川貝母五分。薑棗為引，水煎服。</p>

<h2>辨裡實</h2>
<p>凡出痘，犯壯熱煩渴之症多，虛寒之症少。里，內也。痘乃從內出外，能食不瀉吐為裡實，不必藥。初起乳食不節，外感風寒，內受鬱熱，舌黑唇焦，目翻氣促，言語不清，人事不省，壯熱煩渴，此裡實而熱，急宜服四物十神湯，大汗以泄其熱；解肌化毒湯以解其毒；水調六一散以通其滯。如有宿食，用石膏湯以下其滯。內毒已解，熱退身涼，自然出快。不然內敗口臭，眼合氣粗，狀如風疹，甚如糠粃，不旋踵而死矣。</p>

<h2>辨裡虛</h2>
<p>凡痘初起，腹痛，嘔逆，泄瀉，不食，煩躁不渴，此裡虛而寒也，宜藿香正氣飲，和中安胃，自然長泛。不然則寒戰咬牙，灰白倒靨，為不治。若多宿食吐瀉者，未可以內虛看，當以泄瀉相參看治之。</p>
<p><u>藿香正氣散</u>　治嘔逆不食。</p>
<p>藿香　紫蘇　腹皮　陳皮　茯苓　桔梗　甘草　厚朴　半夏　白芷</p>
<p>嘔甚，加砂仁、人參、乾薑各等分，薑棗為引，水煎服。</p>

<h2>辨表裡俱實</h2>
<p>凡痘初起，能食而不嘔瀉，微渴而汗，面色紅活，此表裡俱實，不必藥。亦有過於實者，舌黑唇焦，心煩目閉，語亂昏沉，此裡實之過也，宜四物十神湯一服，取汗解表；又透肌散連進二、三服，以解毒，面白熱退，身心清為度。如不效，解肌化毒湯連進三五服，緩則不治。醫者所當用心也。</p>

<h2>辨表裡俱虛</h2>
<p>凡痘初起，人事清，不甚熱，舌不白，唇不裂，飲食少進，不煩渴，面色白，微利而嘔，此表裡俱虛也，宜用八物湯，加升麻、乾葛、白芷、黃耆、人參以助其里。又有虛之過者，乳食不進，自利不渴，多睡心清，為裡虛之過也。不大熱，面皎白，目清不閉，皮不腫而多汗，唇微焦，舌微白，此表虛之過，宜四君子湯、保元湯，多服必全紅活突綻而止。</p>
<p><u>八物湯</u>　治一、二日表里俱虛。</p>
<p>人參　當歸　熟地　川芎　茯苓　白朮珏　白芍（各□錢）　甘草　升麻　白芷（各三分）</p>
<p>棗圓為引，水煎服。</p>
<p><u>保元湯</u>　治表虛之過。</p>
<p>人參（一錢）　黃耆（錢半）　陳皮　甘草（各五分）</p>
<p>圓肉為引，水煎服。</p>
<p><u>六君子湯</u>　治虛而嘔者。</p>
<p>人參　焦術　茯苓（各二錢）　甘草　陳皮　砂仁（各一錢）</p>
<p>嘔，加姜香。薑棗為引，水煎服。</p>

<h2>辨外症順逆</h2>
<p>初起血泡，次為水泡，又為膿泡，又為褐色，又頂起血蔭盤子為順。</p>
<p>初起密錐，次如胭脂，又色白灰，又如鳩眼，又如繭殼者為逆。</p>
<p>身體溫暖，能食，便結為順。</p>
<p>寒涼太過，不能食，下利為逆。</p>

<h2>辨外症輕重</h2>
<p>輕者，三次出，其中無大小不一，根窩紅活，頭面少，光澤肥滿。</p>
<p>重者，一齊並出，泄瀉、煩渴，密如蠶種，身溫腹脹，而色灰白，頭溫足冷。</p>

<h2>辨五臟形色</h2>
<p>心屬火，時發驚悸，其色赤，發而為血泡，其色赤；</p>
<p>肝屬木，呵欠煩悶，其色青，發而為火泡，其形小；</p>
<p>脾屬土，能食多睡，其色黃，發而為膿泡，其形大而班；</p>
<p>肺屬金，面白噴嚏，其色白，發而為疹，其形大；</p>
<p>腎屬水，居下，獨不受穢，故無症，耳居鼻尖俱冷，毒氣留於命門。或時氣傳染，如得傳於心、肝、脾、肺四臟，腎無留邪者吉。一、二、三日不能發，而腎之所屬俱熱，為逆症。</p>

<h2>體格余相</h2>
<p>色黃有膿好，色白有漿治。色紅作膿，急退火則生，緩則不治。色略黑而明亮治，赤班治，頂白陷有膿漿治。死血不治。狀如鳩眼，中黑陷，四邊高起不治。赤如小豆，有膿不治。虛白無膿，不治，黑陷多，不治。下結糞，善飲食，不治。軟殼吐漿，不治。灰白陷頂，不治。收後多睡。痘小者為珍珠痘。正痘顆粒圓淨。</p>

<h2>辨不治</h2>
<p>寒戰，咬牙不止；紫黑色，喘渴不寧；灰白色；陷頂腹脹；陰陽交易；頭溫足冷，悶亂飲水；氣促，泄瀉，煩渴。</p>

<h2>辨不藥而愈</h2>
<p>痘腳稀少，根窩紅活，不泄不渴，飲食不減，唇舌尖紅，身無大熱，苗下有泄，地位明白，太陽有汗，四肢溫和。以上十條不必藥，善加調養。房室溫盎，屏諸溫氣。忌外人，房室、體穢、婦人月水，皆不可近。應燒大黃、蒼朮、黃芩、紅棗以解之，不宜檀、沉、乳、麝，宜用芫荽煎酒，噴其床帳。夫氣聞香則順，聞臭則逆，世俗所謂靨也。若信巫覡召外鬼，反致不祥之禍。</p>

<h2>辨外因</h2>
<p>凡痘初起，欲出而未出，因而發搐者，是外感寒邪，因而發心熱也。蓋緣心火交爭而致之，宜王氏惺惺散，或升麻葛根湯、木香參蘇飲之類。</p>
<p><u>惺惺散</u>　治痘未出，發搐者。是外感寒邪，因而發熱。</p>
<p>人參　白朮　茯苓　甘草　桔梗　川芎　薄荷　花粉（各等分）</p>
<p>姜三片，水煎服。</p>
<p><u>升麻葛根湯</u>　治同上。外感風邪而發心熱。</p>
<p>升麻　葛根　白芍　甘草</p>
<p>薑棗為引，水煎服。</p>
<p><u>木香參蘇飲</u>　治同上。</p>
<p>人參　蘇葉　桔梗　乾葛　半夏（各七分）　前胡（四分）　陳皮　枳殼（各三分）　雲苓（八分）</p>
<p>姜引，水煎服。</p>

<h2>辨內因</h2>
<p>凡痘欲出而未出，因而吐利者，是中焦停痰，或有宿食也，宜四君子湯，加砂仁、陳皮，或和中散。若有宿食，用紫霜丸。</p>
<p><u>四君子湯</u>　治痘出而嘔利者。加砂仁、陳皮，名曰六君子湯。</p>
<p>甘草　人參　白朮　茯苓（各錢半）</p>
<p>嘔，加藿香、乾薑、厚朴、半夏（各五分）。姜三片，水煎服。宜熱服。</p>
<p><u>和中散</u>　治痘欲出而未出，吐者。</p>
<p>藿香　厚朴（各二錢）　焦術（錢半）　乾薑（一錢）　甘草（五分）</p>
<p>姜三片，水煎服。</p>
<p><u>紫霜丸</u>　治有宿食下利者。</p>
<p>赤石脂　代赭石（各一兩，醋淬）　巴霜　杏仁（五分）</p>
<p>各為末。湯浸蒸餅為丸，如黍米丸。三歲米湯送下三丸，八歲以上十丸，米飲食前服。</p>

<h2>辨春冬寒盛用藥準繩</h2>
<p>凡痘出不快者，有五症，天時嚴寒為所折，不能起發，宜發汗溫表；寒甚者，紅點出見，宜五積散、正氣散、調解散治之。</p>
<p><u>五積散</u>　治痘出不快為寒所折。</p>
<p>白芷　川芎　白芍　甘草　當歸　半夏　肉桂　枳殼　陳皮　麻黃　乾薑　厚朴</p>
<p>上藥將桂、殼研為末，先將諸藥水煎令冷，再入二味，用姜三片，再煎一沸熱服。當長泛，去枳殼、麻黃、乾薑。</p>
<p><u>正氣散</u>　治同上。</p>
<p>陳皮（五分）　藿香　厚朴　白朮（各二錢）　半夏　甘草（各三分）</p>
<p>姜引，水煎服。</p>
<p><u>調解散</u>　治同上。</p>
<p>青皮　陳皮　枳殼　桔梗　人參　半夏　川芎　木通　蘇葉　甘草</p>
<p>薑棗引，水煎服。</p>
<p><u>辨夏秋熱盛用藥規矩</u></p>
<p>夫夏秋熱盛，煩渴昏迷，痘出不快，宜辰砂五苓散，加山梔、麥冬。熱甚者，小柴胡湯加生地，或人參白虎湯倍加人參。熱者，人參竹葉湯加生地。</p>
<p><u>辰砂五苓散</u>　治嘔逆不清，並陰陽不分，煩渴昏迷，痘出不快者。</p>
<p>辰砂　豬苓　茯苓　澤瀉　焦術　肉桂（各等分）</p>
<p>為末，淡薑湯調下。</p>
<p><u>小柴胡湯</u>　治六七日當泛不泛，血不居位，身熱盛者。</p>
<p>柴胡　人參　半夏　黃芩　甘草　生地</p>
<p>薑棗引，水煎服。</p>
<p><u>人參白虎湯</u>　治同上。</p>
<p>石膏　知母　人參</p>
<p>加糯米一撮，水煎服。</p>
<p><u>人參竹葉湯</u>　熱盛用此湯，加生地。</p>
<p>人參（一錢）　麥冬（二錢）　半夏　甘草（各五分）　石膏（七分）</p>
<p>淡竹葉十片，姜三片，糯米一撮，水煎服。</p>

<h2>辨形氣病</h2>
<p>凡痘已出而聲不變者，形病也，不必藥。痘未出而聲變者，氣病也，宜補肺散。痘出無聲，身壯熱，大便澀，形氣俱病也，宜當歸丸、解毒防風湯、十奇湯。</p>
<p><u>補肺散</u>　治痘未出聲變者。</p>
<p>阿膠（一錢，蛤粉炒）　牛蒡子（五分）　馬兜鈴（五分）　杏仁（五粒）</p>
<p>糯米一撮，水煎服。</p>
<p><u>當歸丸</u>　治痘出無聲，身熱大便閉。</p>
<p>當歸（五錢）　黃連（一錢半）　大黃（二錢半）　甘草（五分）</p>
<p>先用當歸煎成膏，以後三味為末，用膏和成丸，如桐子大。一歲以上，服三十丸，米飲下。</p>
<p><u>解毒防風湯</u>　治痘出而聲不出，形氣俱病之症。</p>
<p>防風、荊芥穗、生黃耆、地骨皮、赤芍、牛蒡子各等分，燈心水煎服。</p>
<p><u>十奇湯</u>　治同上。</p>
<p>當歸　人參（各二錢）　黃耆　桔梗　厚朴（各一錢）　桂心（三分）　防風　甘草　白芷　蘇葉（各等分）</p>
<p>熱，加升麻。共為末，溫酒下。</p>

<h2>辨三陰症</h2>
<p>夫三陰者，厥陰肝經、心包絡也。主面腫黑，舌卷青，泣不止。若不急治，六七日而死，宜十香散、保元湯，加升提藥，則升陽散火而膿足。少陰心腎二經，主肉黑，目直視，舌乾燥，狂言亂語，身汗悶熱，若誤為熱，則虛煩黑陷而死，宜四物湯以保血，加麥冬以清心，升提藥以安表，此所謂安表和中也：太陰脾肺二經，主滿面浮腫，洞泄不止，唇反如煤，肌不光澤，四肢厥冷，若不急治，十二三四日而死，宜理中湯治之，使脾不虛，肺不寒。</p>
<p><u>十香散</u>　治厥陰舌卷囊縮，當長泛養血生膿。熱去丁桂。</p>
<p>木香（三分）　人參（一錢）　桂心（五□）　青皮　赤苓　前胡　半夏　甘草　訶肉　丁香　陳皮（各五分）</p>
<p>姜三片，水煎服。</p>
<p><u>保元湯</u>　方見前。</p>
<p><u>加味四物湯</u>　治少陰黑陷，口乾舌燥。</p>
<p>紫蘇　麥冬　紅花　升麻　乾葛</p>
<p>用蓮肉、薑汁引，水煎服。</p>
<p><u>理中湯</u>　治太陰舌卷，陰縮發厥，二便自利，四肢厥冷。</p>
<p>人參（一錢）　焦術（一錢半）　附子　乾薑（各八分）　甘草（五分）</p>
<p>姜引，水煎服。</p>

<h2>辨三陽症</h2>
<p>夫三陽者，太陽小腸、膀胱之病，胎毒流於命門，去膀胱為不遠，主腰疼、身熱，小便出澀，宜防風湯升提之，令腎無留邪者吉；少陽三焦、膽經，主寒熱往來，時或驚悸而發搐，宜連翹防風湯；陽明胃與大腸受病，若火太盛，毒氣壅結，不能傳送而秘結，宜升葛湯散火導滯為主。</p>
<p><u>防風湯</u>　治太陽病身熱，小便澀，出不快，小腸膀胱之病。</p>
<p>荊芥穗　升麻　乾葛　薄荷　大力子　防風（一錢）　甘草（三分）</p>
<p>水煎服。</p>
<p><u>連翹防風湯</u>　治少陽病，乍寒乍熱，出不快，三焦膽經之症。</p>
<p>連翹　防風　瞿麥　荊芥　木通　車前　當歸　柴胡　赤芍　黃芩　紫蘇　滑石　蟬蛻　甘草（各等分）</p>
<p>若大小便利，不可服。</p>
<p><u>葛根湯</u>　治陽明病，身熱目赤，大便閉，出不快，胃與大腸之病。</p>
<p>升麻　乾葛　白芍　當歸　枳殼　紫草　陳皮</p>
<p>水煎服。</p>

<h2>辨三陰症治</h2>
<p>足脛冷，腹虛脹，尿清色，面皎白，乳食嘔，目睛青，脈微沉。</p>
<p>以上七症，不宜服涼藥。</p>
<p><u>異攻散</u>　治痘出四肢厥冷，寒戰咬牙，大便自利，虛白陷頂，大陰脾經受病也。</p>
<p>人參　焦術　木香　白芍　桂心　赤苓　前胡　當歸　丁香　厚朴　陳皮　半夏　乾葛　桔梗　青皮　附子　肉豆蔻（各等分）</p>
<p>姜引，水煎服。</p>
<p><u>調中湯</u></p>
<p>人參　焦術　甘草（各五分）</p>
<p>為末，蜜丸。每服十丸至二十丸，溫湯食前下。</p>
<p><u>人參白朮散</u>　治心不清，腹膨脹，痘不長泛。</p>
<p>人參（一錢）　焦術（一錢半）　桔梗（八分）　甘草（五分）　木香（三分）　蓮肉（十五粒）</p>
<p>姜引，水煎服。</p>

<h2>辨三陽症治</h2>
<p>足脛熱，兩腮紅，大便閉，小便澀，渴不止，氣上促，脈洪散。</p>
<p>以上七症，不宜服熱藥。若如蠶種，如糠粃，地枯赤，火熱不退，宜解表取汗。此係三陽受病，方列於後。</p>
<p><u>連翹升麻飲</u>　即升麻葛根湯加黃連、連翹。</p>
<p><u>解毒丸</u>　治痘未出而先發搐，狂言亂語，四肢痛，因外感風寒，內發心熱。</p>
<p>寒水石　石膏（各一兩）　青黛（五錢）</p>
<p>共為末，用湯浸，蒸餅為丸，如桐子大。每服一丸，三歲者半丸，看大小加減。食後新汲水化下。</p>
<p><u>犀角地黃湯</u>　治同上。或七孔流血，衄血不止。</p>
<p>犀角（磨，三分）　地黃（浸取汁）　丹皮（二錢）　赤芍（一錢）</p>
<p>二味水先煎，入前二味。</p>
<p><u>宣花散</u>　治痘青乾黑陷，身不大熱，便澀，此熱蓄於內，宜大黃湯下。</p>
<p>檳榔（三枚）　陳皮　甘草（各五分）　黑醜（四錢，炒）</p>
<p>共為末，百沸湯調下。若表大熱者不宜服，宜解肌化毒湯，黑陷甚者解毒湯。</p>
<p><u>地黃膏</u>　治痘稠密，喘渴飲食，宜散下之。</p>
<p>生地（四兩）　淡豆豉（八兩）　大黃（一錢）</p>
<p>麝香為末，以豬膏一斤和勻，露煎五六沸，令三分去一，後入雄、麝二味調勻，緩緩飲之，令毒從皮膚出而愈。</p>
<p><u>黃柏膏</u>　治同上。</p>
<p>黃柏　綠豆（各一兩）　甘草（四兩）</p>
<p>為末，用生芝麻油調，敷耳前後，至目眶，並厚塗之。一日二次。</p>
<p><u>豬心龍腦膏</u>　方見前。</p>
<p><u>玉露散</u>　治夏月火熾，痘大發熱，煩躁渴，大便結。非胃熱相火盛者，不宜服。</p>
<p>生地　熟地　天冬　麥冬　枳殼　黃芩　石斛　甘草　枇杷葉（各等分）　燈心引，水煎服。</p>
<p><u>梔子麥冬湯</u>　治八九日唇枯焦心熱。</p>
<p>人參　麥冬　乾薑　升麻　甘草　梔子</p>
<p>水煎服。</p>
<p><u>紫草湯</u>　治初起痘出不快，色不活，大便不通。</p>
<p>紫草　木香　焦術　甘草　雲苓</p>
<p>糯米一撮，水煎食前服。</p>
<p><u>清脾散</u>　治三四日痘出，而地不清，毒侵陽位者。</p>
<p>乾葛　升麻　黃芩　厚朴　桔梗　半夏　蒼朮　甘草　梔子　陳皮（各等分）</p>
<p>姜三片，蔥一枝。無汗加麻黃，壯熱加地骨皮。</p>
<p><u>犀角湯</u>　治心煩熱，衄血不止。</p>
<p>犀角　升麻　生地　梔子　丹皮　赤芍　麥冬</p>
<p>燈心為引，水煎溫服。</p>
<p>以上俱系火症，屬三陽，宜詳症施治。若人事不清，呻吟苦楚，睡臥不安，外多黑陷，此其症也。</p>

<h2>增述附後</h2>

<h3>時熱四臟形症（聖蒼氏增述）</h3>
<p>夫痘之發也，藏於內者，有各臟所屬不同；彰於外者，有時熱形症之異，何以見之？夫寅卯辰時，潮熱，呵欠，煩悶者屬肝，肝之液為淚，淚出於水，其瘡之色青而小；巳午未時，潮熱時作，驚悸者屬心，心主血，其瘡多斑，色赤而小；申酉戌時，潮熱，面赤，咳嗽、噴嚏者屬肺，肺之液為涕，涕濁而淡，其瘡色微白而大；亥子丑時，潮熱，乍涼乍熱，手足冷，多睡者屬脾，脾統血，所發為疹，其瘡色多黃而淺。獨腎在腑下，不受穢濁，故無症耳。然骫冷耳冷，腎之平正也，故以上五臟之症，獨見多者，即於其臟之毒特甚，治之，醫者要識此意。</p>
<p>五臟屬陰，然痘瘡出五臟，面部先見稀少者為佳；六腑屬陽，然麻疹出六腑，頭面成粒淡多者為妙。</p>

<h3>辨順症</h3>
<p>凡痘順者，始出必自口、鼻、腮、耳、年壽之間，先見幾點淡紅，潤澤如珠，三日內陸續而出，大小不等，頭面稀疏，胸背或少或無，四肢溫暖，神氣清爽，乳食如常，二便通利，不吐不瀉，睡臥安穩，身涼脈靜，痘與肉色紅白分明，依期長貫，肥滿光澤，皮厚堅硬，摸之礙手，根有紅暈，雜症俱無，此為氣血依附，表裡和平之順症也。不治自愈，但宜適其寒溫，節其乳食而已。</p>

<h3>逆症</h3>
<p>凡痘逆者，多起於天庭、司空、太陽、印堂、方廣之處。齊湧掀發，密如蠶種，中有黑點如針孔，黑紫乾枯，色如赭石，形如蚊咬，青點如痣，紅斑如錦，面腫唇焦，聲音預變，痘與肉色不分，壯熱煩躁，喘渴悶亂，乳食不進，上下失血，肚腹脹滿，腰腿痠疼，此實熱極重之症。細如㾦子，形若水珠，皮膚軟薄，灰白陷頂，慘暗不明，平塌不起，色如紙白，吐瀉不寧，乳食不下，四肢逆冷，神思昏沉，此為虛寒極重之症。是二症，雖有虛實之殊，而要皆凶逆之候也。</p>

<h3>險症</h3>
<p>夫順症不必治，逆症則難治，其可治者，在介於順逆之間，而為險症也。發熱之時，或鼻塞聲重，或身痛頭疼，或吐瀉作渴，或手足俱冷，或驚悸不寧，或痰涎壅盛，此發熱之險也。或熱未透而即見苗，或痘出齊而熱不退，或出而不快，或快而不紅，紅而太赤，赤而微紫，此則見苗之險也。或當長不長，或方長忽定，或痘長而肉不腫，或肉腫而痘不長，或雖長而頂不尖，或頂尖而色不順，此則長髮之險也。或當貫而不貫，或貫而不滿，或滿而漿清，或漿清而皮薄，或將成就而色白，或將成就而色紫，此則貫漿之險也。或當靨不靨，或自頭以下先靨，而頭面不靨，或自頭面先靨，而遍身不靨，或為外剝而膿血不幹，或為內攻而臟腑不調，或形如豆殼而膿囗為倒靨，或身如火熱，而誤以為蒸疤，此又收靨之險也。危急存亡之際，顧轉移挽回之者，何如耳！</p>

<h3>死症</h3>
<p>初出紅紫兼發斑，五日死。初出滿頂，連肉俱紅者，八九日死。班如錦紋，及頭面一片，如胭脂者，六日死。痘初如痱，摸不得手，如湯泡火燒者，十日後癢塌而死。痘出腰痛不止者，死。煩躁紫黑，口臭者，死。肉面腫而痘不腫者，死。未出而聲先啞者，死。聲啞氣急者，死。舌卷囊縮，目無魂者，死。吐瀉不止，蛔蟲出者，死。痘出三四日，根窠全不起者，死。痘未見而肌肉中有紅腫如瓜者，死。頂陷有眼如針孔，紫黑者，死。陷伏腹脹，神氣昏迷者，死。皮薄漿清，八九日抓破者，死。痘與皮肉一般紅者，死。腹脹滿，肌肉黑者，死。乾枯癢塌空瘡者，死。泄瀉便血，乳食不進，痘爛者，死。二便通，目閉聲啞者，死。痘後驚者，死。當靨不靨，癢塌無膿，皮如血殼者，死。寒戰咬牙，噤口，手足戰掉者，死。手足厥冷，上過肘膝者，死。痘雖起脹，根窠毫無紅色者，死。</p>

<h1>下卷</h1>

<h2>辨血不足而有條</h2>
<p>凡痘以氣血為主，先血泡而後水泡，水泡而後膿泡，次第而來。血為痘之根本，心主血，清心養血為主。若痘初發，外為風邪所折，遂致熱毒內攻，血熱妄行，面色光腫，名曰毒侵陽位，臣欺君也。甚則妄行，七孔皆流，鼻衄不止，此謂有餘，宜透肌散以清表，解肌化毒湯以清熱，則血居原位，而痘自出矣。心煩口燥，宜犀角地黃湯以主之。若面色皎白，根窩欠紅活，光澤搔癢者，為血不足也，宜芎歸湯、生熟四物湯、活血散之類主之。</p>
<p><u>透肌散</u></p>
<p><u>解肌化毒湯</u></p>
<p><u>犀角地黃湯</u></p>
<p>以上三方，並見上卷。</p>
<p><u>芎歸湯</u>　治色灰白，根窩欠紅活，為血不足。</p>
<p>川芎　當歸（各錢半）　紫草　白芍　紅花（各五分）</p>
<p>半水半酒煎服。</p>
<p><u>生熟四物湯</u>　治同上。</p>
<p>當歸　地黃　川芎　白芍（各二錢五分）</p>
<p>半生半熟，用酒拌勻，煎溫服。</p>
<p><u>活血散</u>　治血不足，色白，五六日出不快，不紅活。</p>
<p>四物湯加紅花、紫草。水煎溫服。</p>
<p><u>又方</u></p>
<p>白芍不拘多少，炒研細末。每服一錢，溫酒送下。出不宜，用防風煎酒送下。</p>
<p><u>又方</u></p>
<p>陳皮　甘草　木通　山楂　白芍（各等分）</p>
<p>水煎服。</p>

<h2>辨氣不足而有餘</h2>
<p>凡痘初起泛，賴氣以行血，血無氣不行，肺主皮毛而氣出焉。《內經》所謂調養脾肺，滋生氣血，是為權度。若自汗身不起，痘頂陷不紅活者，氣不足也，宜十奇散、四君子湯主之。若目陷高起而空虛，痘未轉漿而先起喘喝，咆哮腫脹，口吐粗沫者，此有餘之氣也。蓋熱太盛，毒菀而不發越故耳，宜清地散、蘇子降氣湯、喝起丹、蝦鵝四聖散、理中湯之類主之。緩則煩顛而死。</p>
<p><u>十奇散</u></p>
<p><u>四君子湯</u></p>
<p><u>清地散</u></p>
<p>以上三方見上卷。</p>
<p><u>喝起丹</u>　治痘七八日不起，而中陷者。</p>
<p>山慈菇　水柘根　蘆都梗（即山茱萸）　百鳥不踏根</p>
<p>水酒各半煎服。</p>
<p><u>蝦鵝四聖散</u></p>
<p>先將鮮蝦一碗煮水二升，去蝦以水煮鵝肉，熟去鵝，用汁鍾半，下四物湯，煎至八分服。</p>
<p><u>蘇子降氣湯</u>　治氣喘。</p>
<p>蘇子　半夏　甘草　前胡　肉桂　當歸　厚朴　陳皮（各等分）</p>
<p>薑棗引，水煎將蘇子入藥內服。</p>

<h2>辨氣血兩虛</h2>
<p>凡痘六七日，不起泛，不紅活，不醒漿，皮薄，甚至心下不清，飲食少思，二便或利，蓋肺金寒，脾土濕，宜十全大補湯主之。當長泛不紅活，氣血兩虛，宜導赤散。大熱不作膿，或發搐，宜流血飲。虛煩心不清，宜清心蓮子飲主之。</p>
<p><u>十全大補湯</u>　治六七日不長泛，痘發不起，無漿，肺寒脾濕。</p>
<p>秦歸　熟地　人參　川芎　黃耆　焦術　茯苓　白芍　甘草　肉桂</p>
<p>水煎服。</p>
<p><u>導赤散</u>　治當長泛不紅活。</p>
<p>人參　木香　甘草　白茯（各一錢）　焦術（八分）　藿香（五分）　乾葛（五分）</p>
<p>加糯米一撮，水煎溫服。</p>
<p><u>流血飲</u>　治無汗大熱不作膿，或發搐。</p>
<p>當歸　生地　人參　白茯　乾薑　桔梗　前胡　青皮　厚朴　黃芩　梔子　半夏　川芎　陳皮　甘草　腹皮</p>
<p>咽痛，加山豆根；泄，加金櫻子；水乾，加桑白皮。姜引，水煎，溫服。</p>
<p><u>清心蓮子飲</u>　治痘不起泛，心不清，下虛上盛。</p>
<p>石蓮子　骨皮　麥冬　茯苓　人參　黃耆　黃芩</p>
<p>燈心引，水煎服。</p>

<h2>辨誤服熱藥</h2>
<p>凡痘起於三陽，或少陽三焦、膽經受病，而寒熱往來，宜四物十神湯，加升提藥以治之。若醫者誤為寒症，投以保元湯、木香異攻散、理中、十全之類，加之以風暑成斑者，急服陽毒升麻湯治之。若誤服熱藥過多，則心煩唇裂，不起發，不光澤，急服玄參升麻湯。倘腦後頸背出斑多者不治，此胃爛肺絕而心血死也。此症必於二三日內，急退火則生，至五六日斑成水枯，作泄則死。</p>
<p><u>陽毒升麻湯</u>　治熱症誤服熱藥成斑。</p>
<p>方見前。加防風、白芷。</p>
<p><u>玄參升麻湯</u>　治溫毒發斑。</p>
<p>玄參　升麻　甘草　荊芥　青黛（各等分）</p>
<p>水煎服。</p>
<p><u>荊芥敗毒散</u>　治同上。</p>
<p>人參　柴胡　甘草　桔梗　川芎　赤苓　枳殼　前胡　薄荷　連翹　羌活　獨活　荊芥（各等分）</p>
<p>水煎溫服。</p>

<h2>辨誤服涼藥</h2>
<p>凡痘起於三陽，而三陰未嘗不受症也。少陰心腎二經受病，腎水枯而心火熾，是以狂言亂語，自汗煩悶而黑陷，以為虛煩，宜八物湯、四物湯，加麥冬、防風升提之藥主之，則火熄血行而陷起。倘誤投以防風通聖散，及黃連解毒湯、升化毒等湯，寒涼之劑則陷伏倒靨而死，急服十全大補湯，倍加參耆；或理中湯、保元湯、異攻散等藥以救之。</p>
<p><u>八物、四物、理中、保元等湯，異攻散</u>　方見前。</p>
<p><u>大全大補湯</u>　治誤服寒涼過多，倒靨虛陷。</p>
<p>方見前。加升麻、白芷、麥冬，用糯米一撮，薑棗引，水煎服。</p>

<h2>辨熱泄</h2>
<p>脾胃者，水穀之海，而變化出焉。大便如常者，不必藥。或一失調而泄出矣。夫泄有寒熱不可不辨，脾為心之子，心火熾，則母病及於子，脾受病則不能制水，大便因之而泄，其色黃黑，其氣臭穢，是為熱症，宜升陽散火，用四物十神湯、活血散、胃苓湯主之，火退而泄自止。若痘初起而泄，一日或四五次，至八九次，色臭如前，此乃有宿食，不必藥止，苗下泄也。若用附子、木香、丁香、肉桂、豆蔻峻燥之藥，性急亦能速下。全谷不變，宜溫清和解之劑治之為當。夫泄屬氣虛，有火、有痰、有食積、穀食不化者，氣虛也；腹痛腸鳴一陣痛，一陣泄者，火也；或瀉或不瀉，或多或少者，痰也；腹痛而泄，泄後痛止者，食積也，宜分別焉。</p>
<p><u>四物十神湯</u>　活血散加炒白芍。治熱泄。</p>
<p><u>胃苓湯</u>　治痘長泛，熱泄不止。加柴胡，名柴苓湯。</p>
<p>厚朴　蒼朮　陳皮　赤苓　豬苓　澤瀉　焦術（各五分）　砂仁　桂心　藿香（各三分）</p>
<p>身熱，加黃芩、柴胡。姜引，水煎服。若後重，加檳榔。</p>
<p><u>又方</u></p>
<p>焦術　黃芩　甘草　烏梅（各等分）</p>
<p>水煎服。</p>

<h2>辨寒泄</h2>
<p>夫寒泄者，脾土受症故也。脾為肺之母，土愛暖惡濕。脾土一寒，肺金受病，水泛妄行，寒泄作矣。或為飲食所傷而泄，其色白而青，其氣甚而不臭，是為寒泄，宜止泄丸。誤服寒涼，損傷脾胃，吐利不止，宜八味豆蔻丸以和中。七八日當起而泄，宜訶子飲。飲食太過，水泄不止，陰陽不分，壯熱煩悶，心脾不調，氣不升降，宜六和湯主之，益黃散、海上方，並宜服。至十一、二日，痘將收而大便通，一日一次宜也。或利不止，痘後無實，宜四君子湯，送下八味豆蔻丸、均氣散、香砂平胃散、十全大補湯，多與飯匙膏、茯苓膏，時時服之。洞泄不止，宜鴉片丸。臟出不收，用馬齒莧為餅敷之，加升麻、砂仁以升正氣。甚者，面目青陷，哭無淚出，身體大熱，乳食反多，穀食不變，名曰除中，不治。</p>
<p><u>止瀉丸</u>　治痘當起，寒泄不止。</p>
<p>赤芩（一兩）　枯礬（五錢）　肉豆蔻　烏梅　鹽梅（各三枚）</p>
<p>各燒存性為末，蒸餅丸，如桐子大。每服三十丸，梅湯送下。或作末，服二錢，亦可。</p>
<p><u>八味豆蔻丸</u>　治寒泄，穀食不化者。首尾俱可用。</p>
<p>肉豆蔻（一各面）　木香　砂仁　枯礬　訶子肉　大腹子　白龍骨　赤石脂（煅，七次）</p>
<p>共為末。醋丸如黍米大。四君子湯送下三十丸。</p>
<p><u>訶子飲</u>　治七八日當起泛，泄不止。</p>
<p>訶子肉、肉果各等分為末，鹽梅湯送下一錢。</p>
<p><u>六和湯</u>　治同益黃散。</p>
<p>砂仁　杏仁　人參　半夏　甘草　木瓜　白扁豆　赤苓　厚朴　藿香　香茹</p>
<p>龍眼肉五枚，姜三片，水煎服。</p>
<p><u>益黃散</u>　治七八日飲食過多，或水泄不止，脾土不調，氣不升降。</p>
<p>陳皮　訶子肉（各錢半）　丁香（三分）　肉果（一枚）</p>
<p>糯米一撮，姜三片，棗三枚，水煎服。</p>
<p><u>海上方</u></p>
<p>鹽梅不拘多少，燒灰存性為末。好酒送下三錢。</p>
<p><u>均氣散</u>　治收後泄不止。</p>
<p>焦朮、白芍（酒炒）、陳皮、甘草，等分為末。好酒送下三錢。</p>
<p><u>香砂平胃散</u>　治收後水穀不分，水瀉不止，腹痛腸鳴。</p>
<p>藿香　陳皮（各五分）　砂仁　蒼朮　蓮肉（各二錢）　甘草（三分）</p>
<p>水煎溫服。</p>
<p><u>十全大補湯</u>　治收後清氣下陷，水泄不止。</p>
<p>方見前。加砂仁、訶子肉、肉豆蔻、桂心各等分，糯米一撮，水煎服。</p>
<p><u>飯匙糕</u></p>
<p>即焦鍋巴。炒米末可代。加蓮肉末拌勻，甘草、人參煎湯調。時時代飲。或加山藥末一兩，每服入白糖二匙。以椒末少許，百沸湯調服，大有益。</p>
<p><u>茯苓糕</u>　治水泄不止，兼治休息利。</p>
<p><u>鴉片丸</u>　治痢泄。</p>
<p>鴉片（一分）　兒茶（三釐）　蘆薈（五釐）</p>
<p>共為末。將飲丸，硃砂為衣，如桐子大。每服一丸至十丸。紅痢黃連湯，白痢薑湯，宿食青黛湯下。</p>
<p>師鑑按：《證治大還》載：王氏胃靈丹，治泄瀉自汗，用蓮肉一兩去心，鴉片二錢。每服五分，白湯下。宋氏加橡斗子、五倍、枯礬、龍骨、訶子肉、豆蔻、茯苓，名駐公車。一方用炒元米、赤石脂、枯礬、龍骨、訶子肉、豆蔻、五倍、乾薑、木香、砂仁、粟殼，蜜子炮。</p>
<p>北司馬西溪公一孫，年甫四歲，痘出作泄，臟出二寸，命懸一線，諸醫莫治。延予視，予問諸醫，咸曰痘痢。予對司馬公曰：治症不難，辨症為難，公子水泄，非痢也。公曰：何以知之？予曰：泄白者，乳直出，非傷氣也。將飯匙糕一合，蓮粉二兩，加山藥五錢，白糖五錢，令乳母嚼而食之。自晨至食，大便已成糞矣。司馬公喜甚，詢其成功何以如是之速。予曰：脾土惡濕，土宜稼穡而喜甘，飯匙得火氣以溫脾，是以成功易易耳。</p>

<h2>辨嘔逆不食</h2>
<p>大胃為中州，飲食出納，而元氣具焉。胃氣一暢，則無陷伏、倒靨之患。苟不順規，而嘔逆作矣。嘔者，寒熱虛煩，發熱而嘔也。嘔而無物是胃熱，宜小柴胡湯、益元、梔子、麥冬之類；嘔而有物，飲水即吐，涎沫不止，頭痛身熱，膈上有寒痰者，是胃寒，宜正元平胃等湯主之。遽欲嘔食，作停上膈，痰氣壅盛而嘔，先用鹽湯以吐之。此所謂上者越之也，後宜平胃散、人參養胃湯。或為水穀所傷，霍亂嘔逆，宜藿香正氣散、小異攻散主之。或為風寒所折而嘔，可用橘皮湯。或停痰嘔逆不食，用二陳湯。或嘔不止，胃火盛也，益元散、梔子麥冬湯主之。夫嘔吐有二，嘔而有食，謂吐屬寒；嘔而無食，為逆屬熱，所當詳辨。</p>
<p><u>小柴胡湯</u>　治胃熱而嘔。此方似誤，用者審之。</p>
<p>柴胡　藿香　草果　半夏　乾薑　木香　赤苓</p>
<p>姜三片，水煎服。</p>
<p><u>人參養胃湯</u>　治同上。</p>
<p>人參　藿香　草果　半夏　白朮　厚朴　蒼朮　陳皮　甘草（各等分）</p>
<p>用糯米一撮，姜三片，棗二枚，水煎服。</p>
<p><u>藿香正氣散</u>　治水穀傷胃而嘔逆。</p>
<p>藿香　蘇葉　白芷　厚朴　半夏　赤苓　桔梗　木香　陳皮　甘草　腹皮</p>
<p>壯熱，加人參、砂仁。姜三片，棗二枚，水煎服。</p>
<p><u>小異攻散</u>　治水穀傷胃而嘔逆，導壅滯之逆氣。</p>
<p>人參（一錢）　茯苓　陳皮（各八分）　木香　甘草（各三分）</p>
<p>龍眼肉二個，水煎服。</p>
<p><u>二陳湯</u>　治胃寒停痰而嘔。</p>
<p>陳皮　甘草　半夏　茯苓　砂仁</p>
<p>寒甚，加乾薑。姜三片，水煎服。</p>
<p><u>益元散</u>　治胃火盛，乾嘔無物。</p>
<p>方見前。</p>

<h2>辨痰咳喘逆</h2>
<p>凡痘疹初起之時，或為風寒所折而生痰咳，心火動肺故也，宜參蘇飲輕清和解。或原有積虛損元氣，痘發而生痰咳者，宜人參養胃湯。或用藥太過，藥性不和而咳喘者，宜清心蓮子飲。或精元耗散，腰疼氣促而喘者，宜三子養親湯。或肺氣不足，痘出而聲不出，作痰咳者，宜五味子湯，或葶藶木香湯。或不咳而痰多者，二陳湯加貝母，詳症治之。若寒客於中，氣不得伸而喘，則當溫之，宜陳皮、乾葛、半夏、薑湯主之。熱客於中，氣不得伸而喘，則當逐熱以清之，甘草瀉心湯主之。</p>
<p><u>參蘇飲</u>　治痘初出，為風寒所折而痰咳喘逆。</p>
<p>人參　紫蘇　廣皮　半夏　枳殼　乾薑　茯苓　前胡　乾葛</p>
<p>咳甚，加連翹、麥冬，用姜引，水煎服。</p>
<p><u>清心蓮子飲</u>　治用藥太過，性不平和而作喘痰。</p>
<p>蓮心（八錢）　甘草（二錢）</p>
<p>燈心為引，水煎熟，食蓮心，湯少飲之妙。</p>
<p><u>三子養親湯</u>　治精元耗散，腰疼氣促而喘咳。</p>
<p>菟絲子（一錢，酒炒。九蒸，搗如泥）　茯苓　當歸　人參（各一錢）　焦術　黃耆　車前子（各五分）　甘草（三分）</p>
<p>豬腰子一副為引，水煎溫服。用公豬腰子，火焙乾，徐徐食之。此方得之甚難，非惟可以治症，凡下元虛弱痰咳者，加黃芩、麥冬可服。</p>
<p><u>五味子湯</u>　治肺氣不足，痘出而聲不出，喘咳者。</p>
<p>人參　五味　麥冬　杏仁　廣皮（各等分）</p>
<p>水煎服。</p>
<p><u>葶藶木香湯</u>　治心火盛，脾土燥結，二便不利，喘咳嘔逆。</p>
<p>木香　焦術　茯苓　葶藶　豬苓　澤瀉　桂心　滑石　甘草（各等分）</p>
<p>燈心引，水煎服。</p>
<p><u>甘草瀉心湯</u>　治熱火上行，肺氣不伸。</p>
<p>甘草　人參（各三分）　黃連　半夏（各五分）　乾薑　黃芩（各二錢）</p>
<p>棗頭十枚，水煎服。</p>
<p><u>白朮五味子湯</u>　治同上。</p>
<p>焦術（五分）　半夏　廣皮　甘草（各三分）　五味子（九粒）　雲苓（一錢）</p>
<p>姜三片，水煎服。</p>
<p><u>四逆生薑湯</u>　治寒客於中。</p>
<p>當歸（一錢）　白芍（八分）　通草（五分）　桂枝（三分）　吳萸（一分）</p>
<p>姜三片，水煎服。</p>

<h2>辨諸痛</h2>
<p>《內經》曰：諸痛瘡瘍，皆屬心火。是以諸痛為實，屬熱初起之時，腠理不密，必為風寒所折，宜分而治之。凡紅點出見，中寒邪而熱，頭腦遍身作痛，起於湧泉，遂及兩膝，宜四物十神湯，解表以驅風則痛止，輕者消毒飲。若腠理不密，腹脹疼痛，氣虛不能導血，鳩尾骨痛，而連及於腰，宜加味四物湯，加以升提之藥，活血均氣等散主之。若痘初泛，而皮膚痛及腹痛者，不必藥。若渾身如被杖，不可轉側，此中濕之痛，宜黃耆建中湯主之。</p>
<p><u>四物十神湯</u></p>
<p>方見前。</p>
<p><u>消毒飲</u>　治初起渾身及腦俱痛者。</p>
<p>牛蒡　荊芥（各一錢）　防風　甘草（各五分）</p>
<p>水煎服。</p>
<p><u>加味四物湯</u></p>
<p><u>活血飲</u></p>
<p>方並見前。</p>
<p><u>黃耆建中湯</u>　治中濕渾身疼痛。</p>
<p>黃耆（錢半）　白芍（二錢）　桂枝　甘草（各三分）</p>
<p>加薑棗，水煎服。</p>
<p><u>均氣散</u>　治同上。</p>
<p>烏藥　人參　甘草　焦術　茯苓　青皮　木香　白芷　陳皮（各等分）</p>
<p>水煎溫服。</p>

<h2>辨諸癢</h2>
<p>諸癢屬寒為虛。惟起三、四日，遍身癢如蟲延，此毒發於肌肉間，症之至順，不必藥。至七八日，灰白色，陷頂而癢者表虛也，宜十全大補湯，百花膏塗其面，喝起丹、蝦鵝四聖湯，宜並服。如爬破，用二白散。若將收作癢，肌肉自生，不必藥。爬破出水，敗草散敷。若面收完，而身不收，因而作癢者，此毒氣上凝，而腫不散，是以面收而身不收，面上癢甚不可忍者，宜解肌化毒湯，連進以消其毒。苟誤認為虛癢而峻補，則小便出血，呻吟而死。</p>
<p><u>十全大補湯</u>　治七八日虛寒作癢。</p>
<p>方見前。癢甚，加穿山甲，半酒半水煎服。</p>
<p><u>三物湯</u>　治同上。</p>
<p>炙甘草（一兩）　蟬蛻（薑汁泡，去泥）　百花膏　石蜜（不拘多少）</p>
<p>同湯化之，時時抹上。</p>
<p><u>喝起丹</u></p>
<p><u>蝦鵝四聖湯</u></p>
<p><u>二白散</u></p>
<p>方並見前。</p>
<p><u>敗草散</u>　治收後出水。</p>
<p>蓋牆頭多年爛草，去塵土，炒為末敷之。</p>
<p><u>解肌化毒湯</u>　治面收身不收，癢不可忍者。</p>
<p>方見前。</p>

<h2>辨癰疽毒痰</h2>
<p>凡初起之毒氣，太盛而不發越，流於三陽之經，則腮項結塊腫痛，宜防風敗毒散。流於三陰，腫發四肢，手腕膝腫，宜十六味流氣飲。氣血兩虛，灌漿不起，半收者，必腫毒焮發，宜八物湯大補氣血。收急則生熱毒，荊防敗毒散，必勝膏塗腫處，或經驗秘方。初起咽喉腫甚，名為痘母，宜防風通聖散下之，反得輕者多矣。</p>
<p><u>荊芥敗毒散</u>　治三陽症，毒生腮項，收急生熱毒。</p>
<p>荊芥　防風　人參　柴胡　甘草　桔梗　川芎　赤苓　枳殼　前胡　薄荷　連翹　羌活　獨活</p>
<p>痛，加燈心、乾薑。燈心引，水煎服。</p>
<p><u>十六味流氣飲</u>　治毒入三陰，手足二腕腫毒。</p>
<p>人參　川芎　當歸　白芍　防風　木香　桂心　黃耆　白芷　桔梗　檳榔　厚朴　烏藥　甘草　枳殼　紫蘇（各等分）</p>
<p>水煎溫服。大便自利，加附子三分；大便實，加大黃二錢。</p>
<p><u>防風通聖散</u>　治痘生於咽喉。</p>
<p>方見前。</p>
<p><u>經驗秘方</u></p>
<p>將黑豆、綠豆，用醋浸水研。初起時時刷抹，隨手而退。</p>
<p><u>痘後腫毒經驗餘論</u></p>
<p>子觀痘毒，蓋緣膿血不足，半漿而收，毒氣未盡，生於四肢，初發紅腫者為陽，易愈。若光腫白色而頭頂不見，骨里疼痛轉側曲直，甚難屬陰，難愈，宜人參養榮湯，俟其氣血充足，自然全愈。若用寒涼之劑，或用針灸敷貼，則氣血易虛，必致肌肉漆黑，不旋踵而死矣。</p>
<p>子於武寧一少女，痘半漿而收，右膝光腫，不能曲直。諸醫欲行針灸，予執以為不可。其父疑信相半，女因畏針，勉從吾說。日服養榮湯一貼，漸覺症輕，至十日方出膿少許，二十日外復舊，始知予言不妄，不然殆矣。</p>
<p>憲副李淵弟洲，四十外生一子，甫十歲，痘出收完，耳後生一毒，見不甚腫，爛肉沉黑，知因服寒涼過多所致。予憫之，謂必得焮腫，方成膿而愈，若延日久，定生痰喘。人將予言對醫言之，不信予言，反謂向已腫矣，尚欲其何如腫耶？予聞而嘆曰：死期至矣。一日後果喘作，請予，至半途而返。《內經》曰：脾主肌肉，肺主皮毛。服寒涼過多，肺寒脾濕，安得不痰喘而亡哉？</p>
<p>姜學士思藝一孫，種痘方見點，痘母生於咽喉，頸大於面，倉皇無措，延予視。予曰：非下不能散，恐加痰喘不治矣。學士堅執不可。至晚，痰喘作，公子慌甚，謂曰：事當從權，以行下藥私與之可乎？予曰：可。果以通聖散，倍硝黃下之。次早，腫毒已消，反為輕症。以告學士，學士嘆曰：幸公行權，若執不可下，幾誤大事。</p>

<h2>辨汗後不解</h2>
<p>凡痘初起，始於太陽經，頭疼腦痛，肢體骨節皆痛者，以發汗為要法。汗之體松地清，痘乘汗出，其痘乃順。倘汗後不解者，蓋緣表邪未盡，或邪勢在內，或汗之太過。邪氣乘虛而克，所以反惡寒者，虛也，宜芍藥附子湯主之。不惡寒而惡熱，面赤皮紅者，實也，宜透肌散、調胃承氣湯主之。汗後飲食不進者，少與水飲之，令胃氣和而愈也。</p>
<p><u>芍藥附子湯</u>　治汗後體虛惡寒。</p>
<p>芍藥　當歸（各二錢）　熟地（一錢）　川芎　甘草（各五分）</p>
<p>虛甚惡寒，加附子五分。水煎服。</p>
<p><u>調胃承氣湯</u>　治汗後，體實惡熱。</p>
<p>枳殼　厚朴　甘草　大黃（各三錢）　芒硝（一合）</p>
<p>姜五片，水煎服。</p>

<h2>辨下後不解</h2>
<p>夫痘疹不可妄下。若夾宿食以致胃爛，或水泄不止，此名臟結，予立汗、吐、下三法。病熱危惡，於此不可不下，下後邪氣乘虛而未散，或壅塞而未盡，則當審其虛實以治之。下後水泄不止，內有結糞壅滯，是以谷不來而水泄者，泄有水而無糞，宜大承氣湯再下之。身熱不退，心中結痛，梔子豉湯主之。胸滿心煩，梔子厚朴湯主之。若汗吐下之，不若識寒熱虛實之允當，斯可收萬全之功矣。</p>
<p><u>大承氣湯</u>　治臟結。</p>
<p><u>梔子豆豉湯</u>　治下後心中結痛。</p>
<p>梔子（九枚）　香豉（一合）　甘草（五分）　知母（一錢）</p>
<p>水煎服。</p>
<p><u>梔子厚朴湯</u>　治下後心煩胸滿。</p>
<p>梔子（九枚）　厚朴（二錢）　枳實（一錢）</p>
<p>水煎溫服。</p>
<p>建昌懸桂堂李前峰，年三十六種痘，八日內水泄不止，一日夜三十餘次，有水無渣，心中懊憹，痘將黑陷，目赤皮紅。延予視，予曰：此謂臟結，毒壅不通，非大承氣湯不足以濟事。眾曰：果有此定力乎？予曰：泄有水而無渣，非結而何？乃以承氣湯一服，下結糞如拳，三五塊，堅硬如石，下後思食，痘轉黃而泄止。</p>

<h2>辨乍寒乍熱</h2>
<p>夫痘以氣血相等為正，倘邪氣分爭，則為寒熱往來。邪與陽爭，反發寒；邪與陰爭，反發熱。此表邪未盡，而內毒壅滯。痘腳輕鬆，調其乳食。倘色淡膿清，而寒熱往來，宜十全大補湯、解肌化毒湯。</p>

<h2>辨痘汗</h2>
<p>夫痘以汗為主，太陽無汗，渾身乾燥，此為惡候。倘遍身汗出，謂之發越，熱氣越於四肢也。毒壅於內，瘀血在裡不能發越，遂至火毒內攻。鬱於陽經，頭乃諸陽之首，是以頭汗出而身焦枯，痘乘熱出，則矇頭，蓋而知其熱毒瘀血於內所致也，宜黃連解毒湯，倍芩、連、枳、殼，令熱火降下。甚者，梔子麥冬湯主之，庶可保全。</p>
<p><u>黃連解毒湯</u>　治頭汗身干。</p>
<p>黃連（一錢）　黃柏（一錢半）　黃芩（三錢）　枳殼（半個）</p>
<p>水煎溫服。</p>
<p><u>梔子麥冬湯</u>　治同上。</p>
<p>梔子（九枚）　連翹　甘草（各三分）　薄荷　竹葉（各五分）　黃芩（錢半）</p>
<p>熱加大黃（三錢）。姜五片，水煎服。</p>

<h2>辨失血</h2>
<p>夫人一身氣血為主，氣血行一身，猶水行於地中。水循故道，則無崩潰氾濫之患；氣血流斯，無壅滯瘀蓄之憂。若為邪熱火毒所攻而不行，始為蓄血，終為瘀血，甚則妄行而七孔皆出。痘未出而先吐血者，三物湯主之，或犀角地黃湯救之。俟其血止，恐元氣傷而痘不出，以生熟四物湯救之。倘血從下行，大便血出而成黑塊者不治。相格論曰：泄盡死血，若成塊少者莫醫，此之謂也。痘出生水，大便血不止，色紅活而無塊者，解毒湯倍用芩、連、歸尾導之，去其瘀滯，其大便血止，然後徐徐養之為當。</p>
<p><u>三物湯</u>　治痘未出而先吐血者。</p>
<p>黃連　黃柏　黃芩　梔子（各等分）</p>
<p>燈心引，水煎溫服。</p>
<p><u>犀角地黃湯</u>　治同上。</p>
<p>犀角（磨汁）　生地（五錢，搗汁）　白芍（三錢）　丹皮（二錢）　升麻（一錢）</p>
<p>血甚，加茜根（五錢），蒲黃（三分）。</p>
<p>先用諸藥煎湯，次將地黃汁入內，同服。</p>
<p><u>生熟四物湯</u></p>
<p><u>解毒湯</u></p>
<p>方並見前。</p>
<p>武寧三山王氏一子，痘將齊，七日內大便混血而無糞，一下有半碗許，晝夜十餘次。初視予以為不治，及詢其苗下泄，醫者誤以峻補之藥補之，以致血下盈盆。予曰：可救矣！此謂邪熱內攻，血故妄行，流入大腸，經非通利莫救也。隨以黃連解毒湯，加歸尾、大黃通導，一服而愈。</p>

<h2>辨發渴</h2>
<p>痘疹從里出表，熱毒蒸，未有不發渴者，然渴亦有二焉：一則熱甚於內，銷爍津液；一則汗泄過多，耗奪精液。治法不過損有餘，補不足。火毒發狂，煩躁引飲，壯熱喉痛，辰砂五苓散、人參白虎湯主之。渴欲得水者，可少與之，但勿令其過也。收後大渴，引飲便多，隨飲隨尿，虛火所致，宜大補湯主之。夫渴有真渴假渴。引飲不止者，為真渴，胃火熏炙，宜梔子麥冬湯、五苓散主之；呷一二口，停而復飲者，為假渴，是內無熱而虛煩之渴也，宜生脈散主之。於此不可不辨。</p>
<p><u>辰砂五苓散</u>　治大毒內蒸發渴。</p>
<p>方見前。如渴甚加天花粉。</p>
<p><u>白虎湯</u>　治同上。</p>
<p>方見前。糯米引，水煎服。</p>
<p><u>生脈散</u>　治假虛渴。</p>
<p>人參（一錢）　麥冬（二錢）　五味子（九粒）</p>
<p>水煎服。</p>
<p>一少年種痘，收完發渴，將天花粉入大鍋，煎數十碗，飲不能止，自投水缸而飲，小便長出，如竹筒建缶之狀，上入下出，莫有能治者。予視而嘆曰：虛宜實，宜大補主之，以十全大補湯服而愈。</p>

<h2>辨多眠</h2>
<p>語云：病人思睡，如魚得水，然多眠亦有二焉：痘起泛，毒氣發於皮膚間，內臟無病，及將收半，神清氣定，多眠不必藥；若痘已起泛，醒漿灰白，及將完多睡，此神昏氣弱，或精神恍惚，或服寒涼太過，故爾多睡，宜四逆湯，小建中湯、大補湯，並宜主之，治法當以外症為治焉。</p>
<p><u>四逆湯</u>　治痘起泛，灰白色，多眠並下利。</p>
<p>方見前。</p>
<p><u>小建中湯</u>　治收後多睡，神昏氣弱，精神恍惚，服涼藥太過。</p>
<p>人參（一錢）　白芍（一錢）　大附子　生薑　肉桂（各三分）　龍眼肉　大棗（各五分）</p>
<p>水煎服。</p>

<h2>辨不眠</h2>
<p>痘疹宜睡多醒少者為正，而煎熬者亦有之。蓋緣汗為心之液，汗多亡陽，心血不足，故不眠，宜四物湯以養之。心血盛而神不清，亦不眠，宜解肌化毒湯以主之。胃中大熱，火鬱於咽，錯言妄語，呻吟不眠，宜黃連解毒湯主之。收後精神虛耗，魂氣不定，亦不眠，宜黃耆建中湯主之。收後宜眠不眠者何也？毒氣與諸陽相併，陰氣未復故也。身有餘熱，補中益氣湯常服之。</p>
<p><u>四物湯</u></p>
<p><u>解肌化毒湯</u></p>
<p><u>黃連解毒湯</u></p>
<p>方並見前。</p>
<p><u>黃耆建中湯</u>　治收後不眠。</p>
<p>黃耆（一錢）　人參（八分）　肉桂　甘草（各五分）　白芍（七分）　龍眼肉（五枚）</p>
<p>水煎服。</p>

<h2>辨收不過關</h2>
<p>凡痘十日而收，至十二日而已收完，至頸不收者，其故有二焉：一則毒氣太盛，上凝不散，遍身漿滿，滿面收完，作癢不能忍者，宜急服解肌化毒湯，或敗毒散連進，遏毒不行，則癢止痘收；一則服寒涼太過，面部漿滿，身上漿清者，宜先服十全大補湯，加麥冬、山楂、牛蒡子急救之，否則面收身不收，渾身作癢，必喘渴氣粗而死，悔無及矣！</p>

<h2>辨收後顛狂不眠</h2>
<p>凡痘收完，精神日足，心清氣定，常如平日者吉。若顛狂不眠，狂言亂語，如見鬼狀，甚則持刀傷人，逾垣上屋，日夜不止者，此火毒留蓄心經，以致痰迷心竅。正氣初復，陽氣重盛，陰血虧虛，陰陽交剝，故多言不眠，宜陽毒升麻湯主之，倍加滋補以助陰，此扶陰抑陽之意，痘生於五臟屬陰而然也。</p>
<p><u>陽毒升麻湯</u>　治火毒留於心經，以致痰迷心竅，顛狂不眠。</p>
<p>升麻　犀角　人參　射干　黃芩　甘草（各等分）</p>
<p>燈心引，水煎服。</p>
<p><u>滋陰降火湯</u>　治收後顛狂不眠。</p>
<p>當歸　熟地　麥冬（各一錢）　人參　焦術　茯苓　白芍（各八分）　黃芩　牛蒡（各五分）　川芎　連翹　甘草（各三分）　牛黃（一分）</p>
<p>圓肉五枚，糯米一撮，水煎溫服。</p>
<p>張方伯二侄種痘，各半月後，一者雙目不能開，一者顛狂雙目不能閉。予視之曰：開閉之權在我矣。今不能開者，未通大便，名為臟結，是以毒凝不散。以潤腸湯一碗許飲之，不半日即大便，熟睡一覺，醒即目開。其不閉者，毒注心經，陰陽交剝，以致顛狂，飲以滋陰降火湯，連進二服，則睡而目閉。方伯笑謂予曰：藥用合宜，肉湯亦靈矣。</p>

<h2>咽喉腫痛舌疔疳鵝</h2>
<p>夫咽喉之症，太陰脾肺之氣，邪熱乘之以薰膈，故生腫痛。又因熱毒蘊蓄於胃中，飲食少進，腸胃空虛，三蟲求食，蝕人五臟，名為狐惑。上食其喉為惑，其聲啞嗄，傳及舌齒為疳鵝；下食其肛為狐，甚者內食其臟而死。治法宜泄其胃火，以黃連犀角湯主之，玉鎖匙時時吹入其口內以治標，恐舌爛而死，水火既濟丹為甚妙。若痘起泛，八九日內服補熱之藥太過，遂致牙齦脫落，可不慎與。</p>
<p><u>黃連犀角湯</u>　治咽喉口舌生疳。</p>
<p>犀角（三分）　黃連（錢半）　石膏（五分）　木香（一分）　烏梅（七分）</p>
<p>熱甚，加黃芩、梔子（炒）、蘆薈（五分）。水煎服。</p>
<p><u>玉鎖匙</u></p>
<p>冰片　硼砂（一錢）　硃砂　文蛤　雄黃（五分）　兒茶（三分）</p>
<p>共為細末，吹入口內，徐徐以煎藥湯送下。</p>
<p><u>水火既濟丹</u>　治疳熱。</p>
<p>黃連、乾薑等分為末，吹入口內，流涎即愈。</p>
<p><u>海上方</u>　治同上。</p>
<p>烏梅（煅，存性）　枯礬　黃連（各等分）</p>
<p>研為細末，吹入口內。</p>
<p><u>又方</u></p>
<p>夏月取糞蛆置水內，蛆自浮於水面，洗淨，攤新瓦上，火焙微焦，如芝麻色，研成細末聽用。吹入口內，連吹三次，疳自消矣。</p>

<h2>孕婦用藥次第</h2>
<p>夫孕婦賴氣血以為主，血熱妄行，而胎於是乎動矣。天一生水，地二生火，孕婦身熱脈亂，汗出不食，嘔逆惡阻，是水火交爭也。三月得木氣，精血結聚，氣和榮子，子氣潤母。四月得金，五月得土。痘初起值二七月，乃水火交爭，胎動必不能安，主舌黑而青。夫心乃舌之主，舌乃心之苗。黑而青者，腎水克心火也，宜先服罩胎散以固孕，令熱氣不侵損胎元；身熱甚者，木香參蘇飲；胎將動，惡露未來，宜安胎散；氣血兩虛，獨聖散；胎已下，氣血虛甚，保元湯、十全大補湯、十奇散。若陽虛則外熱，陰虛則外寒。寒熱時作，宜大補氣血。若面赤唇口俱青，口吐沫者，子母俱死。夫面赤者，心火勝而血乾，主子死。唇口青而吐沫，乃肝木克脾土，胃絕而子母俱死。</p>
<p><u>罩胎散</u>　治孕婦初起，服此以保胎。忌丹皮、乾葛。</p>
<p>當歸　生地　白芍（各二錢）　黃芩　麥冬　陳皮　甘草　川芎　白朮　前胡　砂仁（各五分）　阿膠（二錢）</p>
<p>糯米一撮，水煎服。大熱加鬱金、蘇葉、荊芥穗。水鍾半，煎一鍾服。</p>
<p><u>又方</u></p>
<p>乾柿蒂（七個）　野苧根（一個）　甜瓜蒂（一枚）</p>
<p>用銀器煎，以荷葉蓋定，煎八分，去渣，仍用荷葉蓋定，空心溫服。</p>
<p><u>木香參蘇飲</u>　治孕婦一一日身熱甚。</p>
<p>人參　蘇葉　桔梗　前胡（各二錢）　廣皮　茯苓　枳殼　木香（各五分）</p>
<p>水煎服。</p>
<p><u>獨聖散</u>　治身熱胎動。</p>
<p>砂仁　蓮殼（不拘多少）</p>
<p>斫為細末，酒調服一錢。復覺腹內熱加黃芩、紫蘇、大腹皮，煎湯送下三錢。此方多服亦好。</p>
<p><u>海上方</u></p>
<p>婦人油發燒灰，溫水調服立安。惡露來亦可服。</p>
<p><u>安胎散</u>　又名十聖散　治身熱胎動。</p>
<p>人參　腹皮（各八分，酒炒）　白芍　蘇葉　黃芩（各一錢）　焦術　茯苓　川芎　香附　續斷　當歸　陳皮　甘草　砂仁（各三分，炒斫）</p>
<p>燈心姜引，水煎服。</p>
<p><u>十全大補湯</u></p>
<p><u>十奇散</u></p>
<p>方並見前。二方穩當，兼下保元湯用。</p>
<p><u>保元湯</u>　治胎已下，氣血兩虛。</p>
<p>人參　白芍　熟地　歸身（各一錢）　黃耆　川芎　厚朴（各五分）　甘草　廣皮（各三分）</p>
<p>姜引，水煎服。產後虛熱，加炮姜，血少，加生地；血來多，加炒黃芩。</p>
<p>凡痘胎下於未痘之先，血乾氣促，渾身壯熱，一齊並出，不治。下於出齊之後，痘腳輕和，稀少明亮，保元湯時常服之。若氣急衝心，小便溺血不止，痘出赤黑，壯熱不除，嘔逆心煩，腰背僵直，唇舌青黑，口吐涎沫，或四肢逆冷，遍身不起，如此數症，恐仙亦無救。予願同志者，用心詳玩焉。</p>

<h2>辨收後餘毒</h2>
<p>痘疹初起，症候多端，收後餘毒，亦是不少。或瘡痂漸落，延至二十日，或一月，或四五十日而死者，不無予於此詳症立方，以便後學。凡十日當漸結痂靨，眼開目清，唇舌轉紅，痂邊白黑，精神日固，飲食日加，二便如常，身無大熱者，不必藥。若收至咽喉，收不過關，多眠易醒，精神倦怠，飲食不思者死。收後兩腳虛浮，而出黃水，乃毒氣未除，宜消毒宣風散。大熱，日乾心煩，宜柴苓湯。收後身熱，二便不利，口開眼閉，宜升麻正氣散。餘毒大作，大熱不除，四肢浮腫，宜防風通聖散。餘毒不除，煩渴吐瀉，宜人參麥冬湯主之。毒流四肢，而生疽毒，宜柴胡門冬湯、荊芥敗毒散。大便秘結，腹脹咳逆，宜前胡枳殼湯。毒氣不除，咽喉腫痛，宜玄參升麻湯。虛煩盜汗，宜四順散。大便不利，宜解毒湯。大熱心混，顛狂不清，咳嗽吐血，宜益元散。痘將收，毒氣不散，宜滅斑湯、四聖散。收後失聲，天花散。過用寒涼，脾土倒弱，水泄不上，宜四君子湯送下豆蔻丸。又當於寒泄條參看。收後，若毒上凝，面腫不散，兩目不閉，潤腸湯。收後顛狂不眠，別有條例。</p>
<p><u>消毒宣風散</u>　治收後兩足虛浮而出黃水。</p>
<p>升麻　乾葛　人參　麥冬　甘草　防風　茯苓　石膏　荊芥　白芷　牛膝　防己　漢忍冬藤　大腹皮</p>
<p>咽喉痛加牛蒡子，大便秘加枳殼，咳嗽加款冬花，氣喘加烏梅、香附，腹痛加青皮、蘇梗。糯米一撮，加燈心水煎服。</p>
<p><u>柴苓湯</u>　治收後口乾，心煩大熱。</p>
<p>柴胡　豬苓　人參　焦術　澤瀉　茯苓　肉桂　半夏　甘草　黃芩　滑石</p>
<p>姜引，水煎服。若泄，去滑石。</p>
<p><u>防風通聖散</u>　治收後餘毒不除，四肢浮腫。</p>
<p>防風　荊芥　當歸　桔梗　梔子　連翹　甘草　赤芍　黃芩　薄荷　牛膝　半夏　人參　集焦術　石膏</p>
<p>咽喉痛加牛蒡子，大便秘加大黃，四肢浮加木瓜。水煎服。</p>
<p><u>人參麥冬湯</u>　治收後餘毒不除，煩渴水泄。</p>
<p>人參、麥冬、甘草、陳皮、焦朮、厚朴、牛蒡各等分，水煎服。</p>
<p><u>荊芥敗毒散</u></p>
<p>方見前。</p>
<p><u>前胡枳殼湯</u>　治收後餘毒，大便秘，腹脹咳逆。</p>
<p>前胡　枳殼　赤芍　大黃　甘草</p>
<p>姜引，水煎服。</p>
<p><u>玄參升麻湯</u>　治餘毒咽喉痛。</p>
<p>玄參　升麻　黃芩　熟地　甘草</p>
<p>燈心引，水煎服。</p>
<p><u>益元散</u>　治收後大熱吐血，心煩顛狂。</p>
<p>方見前。</p>
<p><u>滅斑丹</u>　治收時毒氣凝結於面，其色黯然。</p>
<p>輕粉　龍粉</p>
<p>為末，新豬油調成膏。搽上愈。</p>
<p><u>四聖散</u>　治收後火毒痘疔。</p>
<p>珍珠（七粒）　豌豆（五粒，燒存性）</p>
<p>油發燒為末，以胭脂水調，用針挑破搽上。</p>
<p>師鑑按：《證治大還》載一方：治痘疔，名三仙散，用地丁番、白草、歸尾三味，水一碗，酒二盞煎服。宋杏莊加天黃八分，紫草茸二錢五分用。　又按：周慎齋治痘毒，用牛黃一錢二分，硃砂八分，珍珠三分，共為末，口嚼胭脂汁調搽。</p>
<p><u>天花散</u>　治收後失聲。</p>
<p>天花粉　桔梗　焦術　訶肉　菖蒲　甘草</p>
<p>共為末，水調一錢服。</p>
<p><u>豆蔻丸</u>　治收後過寒涼，脾土倒，水穀不化，泄瀉不止。</p>
<p><u>潤腸湯</u>　治收後毒上凝，面腫目不開。</p>

<h2>辨咽喉腫痛</h2>
<p>咽喉痛而腫者，胃火薰蒸故也。面赤唇焦，色青黑舌苦而痛者，不治。舌尖如火，宜牛蒡子湯，輕則甘桔湯。痰盛胸高，咽喉不利，宜芩連枳殼二陳湯，甚則玉鎖匙點舌以救之。若毒氣流於三陽經，腮項腫痛，宜荊防敗毒散。面仰頸直而痛，毒氣凝結為害，不治。</p>
<p><u>荊防敗毒散</u>　治毒氣流於三陽，咽喉作痛。</p>
<p>方見前。</p>
<p><u>鼠黏子湯</u>　治咽喉痛甚。</p>
<p>牛蒡子（二錢，炒）　射干（一錢）　甘草（五分）　山豆根（三分，磨汁）</p>
<p>燈心引，水煎服。</p>
<p><u>甘桔湯</u>　治同上。</p>
<p>甘草　桔梗　防風　麥冬（各等分）</p>
<p>水煎服。</p>
<p><u>芩連枳殼二陳湯</u>　治咽喉下氣。</p>
<p>黃芩（八分）　枳殼（一錢）　黃連　赤苓　連翹　桔梗（各五分）　貝母（八分）　陳皮　甘草（各三分）</p>
<p>痛甚，加山豆根。水煎服。</p>
<p><u>玉鎖匙</u>　治咽喉水穀不通。</p>
<p>方見前。</p>

<h2>服藥不過關</h2>
<p>夫胃為水穀之海，出納司焉。一為痰氣凝結，脾氣不能運化，老痰流於胃脘中，飲食為痰所阻，不入胃中，頃刻間即吐，束手無策者多矣。予制一方，品味極少，其效甚速，其功甚大，特錄之以示後學者。不惟痘中藥不過關可用，凡服藥不過關者俱宜用，名曰透關散。</p>
<p><u>透關散</u>　治服藥下咽即吐，並飲食不能入者。</p>
<p>多年鏽鐵去泥洗淨，刮下鐵鏽，不拘多少，研為細末聽用。用時將好醋大半盞調鏽五分服，二呷，隨將湯藥飲之。即納。</p>

<h2>辨兩目瘴翳</h2>
<p>兩目者，一身之精，借日火以為明，如日月之麗於天也。苟失所養，如日月薄蝕，萬古皆長夜。丹溪云：痘未出之先，以牛蒡子為末，砂糖調敷囟門，預防眼患，良有以也。夫目有內外，內皆屬腎，得黃中之正色；外皆屬膀胱，得玄黃之正色。及脾胃之生氣，是知無患矣。雖有五輪八廓，惟中外屬臟。外則應於五輪，白珠屬肺，應氣輪；黑珠屬肝，應風輪；上下眼皮屬脾胃，應肉輪；大小眥屬心，應血輪；瞳人屬腎，應水輪。若眼胞陷沒，是五臟皆絕。凡痘起泛之時，七八日內，目必腫閉，上皮高起，四圍眼皮陷入，無淚者，不必藥。若痘已收，眼開黑白分明，淚不流者，亦不必藥。若痘起泛，或二日，或一日，淚流眼皮紅腫，及焮於外者，熱毒侵睛，必隨其藥內用荊芥、白蒺藜治之，外用洗方洗之。俟痘收後，隨症施治。如氣血兩虛，熱毒上攻，宜四物龍膽湯。餘毒入眼，翳膜遮睛，用穀精散。面腫不消，兩目光腫不汗，宜吹耳法，服荊防敗毒散、磨翳膏。若兩目腫，宜消毒散。其瘼堅厚為難治。弩肉侵睛，為翳遮睛，亦不治。</p>
<p><u>洗眼方</u>　治痘當起泛，兩目流淚，紅腫疼痛。</p>
<p>蛤粉（一錢）　輕粉（三分）</p>
<p>為末，百沸湯調，將筆蘸水，周圍搽洗。</p>
<p><u>四物龍膽湯</u>　治氣血兩虛，熱毒上攻，目生翳瘴，紅腫淚流。</p>
<p>龍膽草　當歸（各三錢）　生地　白芍　防己　蒺藜（各一錢，炒去刺）　川芎（五分）</p>
<p>腫甚，加荊芥、白芷。燈心引，水煎服。</p>
<p><u>穀精散</u>　治毒八日生瘴。</p>
<p>穀精草、生蛤粉、生黑豆各二兩為大，用宰豬肝半斤，竹刀切片相連，將藥入片內扎固，入磁罐內，文武火煮熟。去藥水，取肝食之。又用兔丸煎湯，代茶亦可。</p>
<p><u>吹耳法</u>　治收後面不消腫，兩目生膜。</p>
<p>輕粉（一錢）　黃丹（二錢）</p>
<p>為細末，患左目吹右耳，患右目吹左耳。</p>
<p><u>荊防敗毒散</u>　治收後面不消腫，兩目生膜。</p>
<p>荊芥　防風　連翹　白芷　歸尾　蒺藜　川芎　羌活　生地　赤芍　木賊　梔子　枳殼　草決明　青葙子　大力子　龍膽草</p>
<p>甚，加青皮、大黃、穀精草。水煎服。</p>
<p><u>磨翳膏</u>　治白翳遮睛。</p>
<p>蘆甘石（用薄荷、甘草煎濃湯。煅石七次，用田螺、硼砂、水蜘蛛絲制。）　珍珠（五錢，用豆腐包飯上蒸）　蕤仁　硼砂　麝香（各等分）　冰片　螵蛸（煅）　白丁香（各三分）</p>
<p>熱甚，加黃連末（六分）；癢，加膽礬（一分，煅）。上藥如法制為極細末，切勿造次。</p>

<h2>眼藥膏（一名卷翳膏）</h2>
<p>蘆甘石（三錢，制過）　硼砂（一錢）　冰片　硃砂　白丁香（各二分）</p>
<p>為極細末，入磁罐內聽用。</p>
<p><u>點翳方</u>　治收後目生熱瘴，內有白翳如米粒大者，隨手而退。</p>
<p>蜘蛛（一個，取腹內絲）　象牙末　奶乳　食鹽</p>
<p>上方先將大燈心一根，蘸蜘蛛絲於燈心頭上，次蘸鹽，再蘸乳，又蘸牙末，點眼白膜上。隨手放燈心於眼內，令患者眼皮含住燈心，痛止方開，取出燈心，其眼能開。次日如前再點一次，則膜去矣，妙不容言。又名風捲云。</p>
<p><u>又方</u>　治不拘遠年近日，翳膜瘴睛。</p>
<p>制硇砂如法，用活田螺三五個，養去泥沙洗淨，俟其吐肉，將硇砂入於螺內。仰安於盆內，即化成水，傾螺水於碗內，將蘆甘石升打過者，再燒再淬，以螺水盡為度。如前制過，取大蜘蛛數枚，用腹內絲，同蘆甘石（五錢），蕤仁（五錢，去油），為極細末。點目內，去白膜入卷翳膏內同用。神妙不可言傳。</p>
<p><u>瓊玉膏</u></p>
<p>龍腦（五分，為末）　蕤仁（去油）　硇砂（為末）　熊膽（一錢）　牛黃（一錢）　黃連（一兩）　蜂蜜（一兩）</p>
<p>上用熊、牛、蕤、連四味，取長流水二大碗於磁罐內熬至半碗，將重綿濾去渣，入蜜，再用文武火煎至紫色，點起牽絲為度。切勿太過不及，取出入硇砂、龍腦末和勻，貯磁罐內，封固聽用。不拘遠年近日，點療眼疾如神。</p>

<h2>辨火攻法</h2>
<p>治痘自古無火攻，惟吾獨用之。臥龍先生云：利於水者，必不利火。吾故曰：傷於水者，惟火可以救之。一少年牧鵝于田阪，痘疹及身，初不自覺，值風雨大至，臥田阪中不能行，雨過負歸，口吐白沫，兩目直視，四肢僵直。予以紙燭照之，痘已見苗矣。予曰：痘苗尚活，豈可置而不救耶？用藥不能入，法已窮矣。予思武侯之言，用火攻之。於是將燈火自湧泉、承山、鳩尾、脊骨，自下而上，逐節燒之。燒至背心，能作聲；至肩井，大汗自出，目睛轉而出沫止。隨進四物十神湯，一服而愈，後得轉輕。</p>

<h2>辨收後浮腫</h2>
<p>夫水土者，人身所賴以為生也。脾土一虧，水無所制，則氾濫妄行，而腫脹之患生矣。凡痘收後，四肢瘦減，二便如常，飲食日加，瘡痂漸落，肌肉紅活者，無他症。或為飲食所傷，精神倦怠，飲食少思，痂落無紅，與肌肉相似，鄭聲不止，此脾土受病。熱蓄於內，積滯不通，遂成土不制水，大便稀而小便短，水泛妄行，四肢浮腫，眼生臥蠶，陰囊光大，故標本論云：少陰為標，相火為本。瘡瘍癢痛，暴注下迫，水液渾濁之疾生，宜先以胃苓湯，分理以發其源；次以五皮二術散，開導以通其流；又以禹功神授丸，疏利以決其壅；俟其水涸，用木香流氣飲以固其本。大痊後，用香砂平胃丸以實其脾，令無潰溢重複之患。此治土不制水之大法也。若臥蠶不見，陰囊不腫，而腹大胸高，面目四肢浮者，此係胃有積滯，脾氣不行，榮衛不通，是以靨痂落而無紅，四肢虛浮，宜四物湯，加麥芽、山楂、枳殼消導之，未可作水濕妄行而治。大進藥之方，自有次第。先一日進胃苓散一服，二日進禹功神授丸，三日進湯藥，四日進丸，如是不可造次。一日腫消，只服湯藥，丸不可進。若大便泄，腹內疼，二者兼全，不可治矣。若有泄無疼，有疼無泄，皆可治也。</p>
<p><u>胃苓散</u>　一日先服，分理以發其源。</p>
<p>豬苓　澤瀉　肉桂　焦術　厚朴　茯苓　蒼朮　廣皮　甘草</p>
<p>水煎溫服。</p>
<p><u>五皮二術散</u>　二日服，開導以通其流。</p>
<p>赤苓皮　大腹皮　丁皮　五加皮　姜皮　焦術　蒼朮（炒）　甘草　豬苓　澤瀉　木通　青皮　香附　木香</p>
<p>各等分，燈心引，水煎服。</p>
<p><u>禹功神授丸</u>　三日服，疏利以決其壅。</p>
<p>廣木香　黑醜　大戟（用皮）　甘遂（二錢）</p>
<p>半生半熟各等分，各將一半草紙包，火內煨熟曬乾。一半生用為細末，飯為丸，如桐子大，燈心湯送下。三歲五分，十歲八分，十五以上二錢，人盛者二錢。一服則中焦消，二服則面消，三服腰腳俱消，連進湯藥共七服，遍身俱消，不忌鹽，服香砂平胃丸，一年方止，無重患之憂。此方味少而功極大，妙不可言。</p>
<p><u>木香流氣飲</u>　消後服一二劑，以固其本。</p>
<p>木香　厚朴　青皮　甘草　蘇梗　香附　廣皮　肉桂　檳榔　丁香　蓬朮　藿香　木通　草果　木瓜　當歸　白芷　麥冬　焦術　人參　赤苓　腹皮</p>
<p>各等分，燈心引，水煎服。</p>
<p><u>香砂平胃丸</u>　痊後服此，以實其脾，一年方止，每日吞二次。</p>
<p>藿香　砂仁　蒼朮　厚朴　陳皮　甘草</p>
<p>上藥不拘多少，製為細末，醋打糊為丸，如桐子大。每服百丸，日迸二次。或沸湯，或酒，或米湯，俱可送下。</p>

<h2>痘疹三不治症</h2>
<p>一症少婦痘初起一二時，不自覺而與夫交，為陰易，名曰房勞症。色白不起泛，咽喉痰閉，或一齊湧出，無治法。</p>
<p>一症痘初起時，胃火動而欲食，自不覺而多食，不久而食未化，大傷脾胃，胃氣不行，以致脾不流血，胃爛成班。甚者三四日而死。予思食已化者可下，食未化者可吐。惟欲化未化，不吐不下而術窮矣，是以不治。</p>
<p>一症初至六七日，熱蒸皮薄，毒注臉面，不能發越，爬破之。在氣血交會之時，將敗草散敷其破處，用升提補氣血之藥，助其不足，令痘翻灌，庶或保全。十二三日破者，氣離血散，毒盡而痂成，敷之亦可。至於九十日內，將收未收，因而爬破者，泄其真元，痰癢俱作，百症齊生，欲提而無毒能提，欲補而氣血不能驟補，只得袖手待斃，亦為不治。</p>

<h2>小兒麻疹（俗名痧子）</h2>
<p>凡小兒麻疹，原於六腑蘊積熱毒所成。有甫生半月而種，號曰胎麻。人生無不種者，症與痘症、傷寒相似。或為時氣傳染，發於皮膚之間。有再種而至三種，與痘症終身一種為少異。一發則遍身為之紅活，其色紫赤者吉，紫黑者凶。初起憎寒壯熱，吐瀉咳嗽交作，不思飲食，面赤眼光，噴嚏痰涎，或五六日而出，或七八日而出，本無定期，治法亦與痘症不同。痘症原於五臟屬陰，麻疹原於六腑屬陽，陰宜補而陽宜泄，切忌丁香、肉桂、豆蔻、附子辛燥之劑。痘宜汗以行疏利之法，四物十神湯之類；麻宜輕清和解，升麻、乾葛、白芷之類，務宜斟酌。初起用升麻葛根湯，麻見亦可用。咳嗽甚者，用參蘇飲，或防風通聖散主之，麻略具苗而泄者，五苓散加薄荷葉治之。熱甚者，去桂用四苓散，調六一散同服。麻不見出，身熱腹膨，用白虎湯加人參最當。煩渴不止，壯熱不除，化班湯宜速進數服，熱退渴止為度。熱壯譫語煩躁，宜黃連解毒湯，加大黃、枳殼、甘草、花粉主之。夫麻疹非寒，為熱所協，以致穀食不化，宜用消毒湯。熱火熏膈，咽喉腫痛，宜甘桔湯加玄參、大力子以治之。或聲啞發喘，宜小陷胸湯。若無他症，但餘熱不除，宜黃連解毒湯，調六一散以調攝之。治麻之要，大率先解表而後清肌，萬無一失。其症未愈，不宜補，恐熱積於內，以成狐惑。收後虛弱，方滋養氣血，溫補脾土為當。</p>
<p>一麻症發熱之時，憎寒壯熱，鼻流清涕，身體疼痛，咳嗽泄瀉，疑似未定，服葛根湯，去砂仁、陳皮，取微汗。輕清和解，則皮膚通暢，腠理開豁，而麻易出。不可重汗，恐致亡陽，必以蔥白湯時時飲之，而無發搐之患。</p>
<p>一麻發之後，避風寒，忌生冷。苟一犯之，則皮毛閉塞，毒氣壅遏，變紫黑而死矣。渴甚欲水，以蔥白湯飲之，以疏孔竅。</p>
<p>一麻初出，乾燥暗晦，色紅紫，乃火盛毒熾，宜六一散解之，或四物湯去地黃，加紅花、炒黃芩、黃連治之。</p>
<p>一麻症隨出隨沒，乃為順症。或出二三日不沒者，內有虛熱，宜四物湯主之。如失血，用犀角汁解之。</p>
<p>一麻症壯熱不除，飲食不進，並屬血虛血熱，宜四物湯主之。隨症加減，渴加麥冬、犀角汁，嗽加瓜蔞仁，痰加貝母、陳皮去白。切忌人參、焦朮、半夏，一或誤用，為害不小。蓋麻疹為陽，血多虛耗，宜滋補陰血，其熱自除，所謂扶陰抑陽之義。</p>
<p>一麻收後，牙根腐爛，鼻血橫行，併為失血，急用四物湯，加茵陳、木通、生犀角之類，以利小便，使熱氣有所滲而出。如疳瘡色白，為胃爛不可治矣。</p>
<p>一麻症泄瀉，當分寒熱新久。新瀉熱瀉者，宜四苓散加木通；寒泄，百中一二，宜理中湯一服而止；久泄用豆蔻丸，或訶子、粟殼灰，酒調服澀之。</p>
<p>一麻收後，不避風寒，終身有咳嗽之患。</p>
<p>一麻疹前後，大忌豬肉、魚、酒、雞子。恐惹終身之咳，只用老雞、精火，肉煮爛而食，以助其滋味可也。</p>
<p>一孕婦種麻，以四物湯服之，倍加白朮、條芩、艾葉，安胎清熱為主。如胎氣上衝，急用苧麻根、艾葉煎湯，磨檳榔服之，宜四物湯大進以救之。</p>
<p>一麻已出，不思飲食者，蓋緣內蘊積熱，胃氣不行，宜四物湯加山楂、神麯、砂仁一二服，則脾動而思食。</p>
<p>一麻疹初起，嘔吐者，胃有停痰；下泄者，內無積滯；咳嗽者，毒傳於肺，皮毛受症。三者全為順症。三者缺一，則色紫皮紅，目赤淚流，喘急腹脹，為不治，急以涼膈散速進利，庶可保全。</p>
<p>一麻症出見一日，而又沒者，是為風寒所沖，麻毒內攻。若不急治，癢爛而死，宜用清毒散一服，熱退睡安。如見三日退，後有被風寒之症，消毒飲亦妙。</p>

<h2>麻疹死症</h2>
<p>訣曰：已沒渾身熱不退，昏沉恍惚語乖張，飲食不進舌胎白，失智尋衣與摸床，元氣精神魂懶散，一魂尚爾去飄揚，逢斯強發求全藥，任是神仙莫主張。予治麻症始出，類傷風寒熱，頭痛咳嗽，熱甚目赤頰紅，一二日內出者輕。必須解表，忌見風寒、葷腥、厚味、鮮物。或一犯之，恐生痰咳，變成驚搐，不可治矣。初起吐瀉，變成者順，霍亂者逆。欲出不出，危亡立至。</p>
<p><u>升麻葛根湯</u>　治疹子初起發熱。</p>
<p>方見前痘疹。</p>
<p><u>參蘇飲</u>　治疹出而嗽不止。</p>
<p>人參　紫蘇　廣皮　枳殼　茯苓　前胡　乾葛　連翹　麥冬　貝母　黃芩</p>
<p>燈心引，水煎服。</p>
<p><u>五苓散</u></p>
<p><u>四苓散</u></p>
<p><u>六一散</u></p>
<p>方並見痘疹。</p>
<p><u>防風通聖散</u>　治同上。</p>
<p>方見痘疹。臨症加減，燈心引，水煎服。</p>
<p><u>化斑湯</u>　治大渴不止，乾嘔。</p>
<p>知母（一錢）　甘草（三分）　人參　石膏　淡竹葉（各二分）</p>
<p>嘔甚加竹茹。水煎溫服。</p>
<p><u>黃連解毒湯</u>　治水穀不化，大熱泄瀉。</p>
<p>黃連　黃柏　黃芩　梔子　枳殼</p>
<p>燈心引，水煎服。</p>
<p><u>涼膈散</u>　治同上。兼腹脹滿，胸高。</p>
<p>黃芩　連翹　梔子　薄荷　大黃　朴硝　淡竹葉　甘草</p>
<p>姜一片，水煎溫服。</p>
<p>夫治麻疹與治痘不同，痘症辨寒熱，熱症固宜清，寒症用補藥，不外參、耆、丁、桂峻熱之品。麻症多熱，專用石膏、升麻、葛根、黃芩、黃連、梔子、桔梗之類，且補藥止於四物湯用之耳，桂、朮、參、耆，百無一二。咳為本症，咳甚者，參蘇飲；不咳者，難治。吐瀉兼全，不藥而自愈；葉瀉甚者，專用五苓解毒湯主之，庶可無危矣。</p>
<p>夫吐咳瀉，三者缺一，宜輕清和解。若三者俱無，必目赤皮紅，腹脹氣促，急宜涼膈散主之，以通利。否則束手待斃而已。治麻者，宜盡心於涼藥中求也。</p>

<h2>增述附後</h2>

<h3>痘疹虛症禁用藥性</h3>

<h4>抄《證治大還》</h4>
<p>聖蒼氏增述</p>
<p>蟬蛻能開通肌竅，恐成表虛，耗泄元氣。鼠黏子通肌滑竅，外致表虛，內動中氣，恐成泄脫。人牙性烈，發表太過，內動中氣，外增潰爛。紫草性寒，誤用溏便。白朮多用，恐能燥濕，使潤下之氣不行，則痘難成漿。茯苓、豬苓，燥濕滲泄，能令水氣下行，小便。多用只恐津液耗散，外不行漿，內防發渴。訶子、龍骨、枯礬，皆能阻塞肌竅，氣虛之症用此，毒愈不能進前，雖能澀泄，甚不可施治，虛症之泄瀉，只以補益為善。車前、滑石性猛，利水極速，易傷脾胃，脾土一傷，則中氣必敗，而塌陷繼之，內攻外剝，百變俱生。山梔性寒降火，虛症便赤，必非實熱。大黃盪滌汙穢，耗削胃氣，性寒潤下，雖熱渴便實，皆不可用。生地性寒涼血，亦能潤腸。枳殼下氣寬腸，多用則瀉。乾葛療表熱，性涼，外防表虛，內恐傷胃，況太涼則痘不長。烏梅酸收。砂仁散氣。山楂散血解結，多用則內虛。半夏性悍，多用則消渴。麻黃開竅走泄，恐成表虛氣脫。</p>

<h3>麻疹辨疑賦</h3>

<h4>見《證治大還·幼幼近編》</h4>
<p>麻雖胎毒，多帶時行。氣候暄熱，傳染而成。其發也，與痘相類；其變也，比痘匪輕。先起於陽，後歸於陰，毒盛於脾，熱流於心。藏府之傷，肺則尤甚。始終之變，腎則無症。初則發熱，有類傷寒。眼胞困倦而難起，鼻流清涕而不幹。夾鼻脈紫，烏輪火摶，遍身俱熱，惟耳獨寒。咳嗽少食，煩渴難安，邪目視之，隱隱皮膚之下。以手摸之，磊磊肌肉之間。其形若疥，其色若丹。出見三日，漸沒為安。隨出隨沒，喘急須防。根窠若腫兮，疹而兼癮。皮膚如赤兮，疹尤夾斑。似錦而明兮，不藥而愈。如煤而黑兮，百無一痊。麻疹既出，調理甚難。坐臥欲暖，飲食宜淡，咳嗽涎沫，不禁酸鹹：忽生喘急，肺受風寒。心脾火灼，口舌生瘡。肺胃蘊熱，津液常干。有此變症，治法不同。微汗毒解，熱勢少凶，二便清調，氣行無滯。腠理拂鬱兮，即當發散。腸胃秘結兮，急與疏通。鼻衄者不必憂治，邪從衄解。自利者不必遽止，毒以利松。麻後多痢兮，熱毒移於大腸。咳嗽喉痛兮，痰熱滯於心胸。口渴心煩，法在生津養血。飲食減少，治宜調胃和中。餘症無常，臨期變通。此則麻之大旨，妙在乎神通。</p>

<h3>麻疹輕重要訣</h3>
<p>或熱或退，五六日而後出者，輕；淡紅滋潤，頭面勻淨而多者，輕；發透三日而漸沒者，輕。頭面不出者重；紫紅暗燥者重；咽喉腫痛不食者重；冒風沒早者重；移熱大腸，變痢者重。黑暗乾枯，一出即沒者，不治；鼻扇口張，目無神者，不治；鼻青糞黑者，不治；氣喘心前喘者，不治；麻後牙疳臭爛者，不治。按：西河□泡湯，砂糖調服，兼可治疹後痢。</p>

<h3>麻疹附余</h3>
<p>夫麻即疹也。以疹出如麻成朵，痘出如豆成粒，皆象其形而名之也。麻疹之與痘瘡，始似而終殊，形同而症異。痘瘡發於五臟，麻疹發於六腑。臟屬陰，陰主血，故痘有形而有汁；腑屬陽，陽主氣，故疹有形而無漿。然陽熱太盛，則陰分受其煎熬，故血多虛耗，所以治法先發散行氣，而後滋陰補血。凡動氣燥悍之藥，皆不可下也。</p>
<p>凡看麻疹之法，多於耳後項上腰眼先見。其頂尖而不長，其形小而勻淨，其色紅亮者，吉。若色紫紅，乾燥暗晦，乃火盛毒熾，宜六一散解之，後以四物換生地，加柴胡、黃芩、乾葛、紅花、牛蒡、連翹之類，滋陰涼血，而熱自除，所謂養陰退陽之義也。色黑者，熱毒尤甚，乃十死一生之症也，用解毒湯合梔子仁湯。</p>
<p>一疹屬陽，乃六腑之毒，惟重於脾肺二經，以肺主皮毛，脾主肌肉，故發熱時，即見咳嗽聲重鼻涕者，肺之毒散也；泄瀉者，脾經之毒去也。如無上症者重。</p>
<p>一發熱之初，憎寒壯熱，鼻流清涕，身體疼痛，嘔吐泄瀉，咳嗽氣急，腮紅眼倦，眼胞與面俱腫，其淚汪汪，烏輪紅色，夾鼻六腑部分，色見紅紫，即是麻候，宜避風寒，用升麻葛根湯，加紫蘇表汗之。得汗則皮膚通暢，腠理開豁，而麻疹易出也。於發散藥中，加蔥白、生薑，使孔竅中微汗潤澤，庶免熱閉發搐之症。</p>
<p>一疹用藥，必先明其歲氣。如時令溫暖，以辛涼之藥發之；暄熱，以辛寒之藥發之；大寒，以辛熱發之；時寒時熱，以辛平發之。</p>
<p>一發熱咳嗽之時，既明麻疹，有出不快者，用麻黃湯、羌活湯、消毒飲，發散解毒之劑外，芫荽、酒糟蒸熱擦之。自頭上至足為齊，頭面愈多者為佳。若遲延日久不能出，則腹脹氣喘，悶亂煩躁而死矣。</p>
<p>一凡麻疹出後，見風沒早，未清爽者，宜消毒飲合升麻湯熱服。雖不復出，亦尋愈矣。有麻出三日不沒者，乃內有實熱，宜四物湯，加清利之藥，則熱自解，而麻自消矣。風寒外湊，疹停肌腠，宜荊芥、葛根、防風、蘇葉、牛蒡、連翹、蟬蛻、玄參、全蠍、生薑。</p>
<p>一發熱之時，遍身汗出者，此毒從汗解，且玄府開而疹易出也；有鼻中血出者，此毒從血解，俱不宜遽止。若汗出太多，血出不止，此又火逼太過，致血液妄行也。恐氣血頓虛，宜消毒飲加黃芩、連翹、生地、丹皮、玄參、麥冬。血出不止，用當歸、生地、茅花、丹皮、黃芩、梔子、犀角。</p>
<p>一發熱之時，或吐或瀉，此皆火邪內逼，毒氣上行則葉，下行則瀉也。不可遽止，所謂解從吐解，毒以利松也。吐甚者，二陳湯加石膏、竹茹；瀉甚，升麻葛根湯加茯苓、滑石。</p>
<p>一麻疹出時，咽喉腫痛，不能飲食，此毒火拂鬱，上熏咽喉也，宜甘桔湯加連翹、牛蒡子、玄參、荊芥。</p>
<p>一疹已出反沒，由外感風寒，內傷生冷，抑鬱毒氣，變為渾身青紫，煩躁悶亂，喘急腹痛，毒成內攻，急用加減麻黃湯，遲則不救。</p>
<p>一麻疹一日三潮，隨出隨沒者，以麻疹屬陽，遇三陽則發，遇三陰則隱也。</p>
<p>一疹正出，肚疼泄瀉。若氣喘腹脹，此毒未盡而傳於三陰也，宜升麻葛根湯加荊芥、滑石、木通。或發熱時，過飲寒涼，多食冷物而致者，宜平胃散加砂仁、焦術。</p>
<p>一疹初見，欲發不發，隱隱欲伏，熱盛煩躁，疹色乾紅焦紫，此因邪抑，郁毒將內攻也，急用升麻葛根湯加荊芥、蟬蛻、蘇葉、防風、黏子、木通。</p>
<p>一疹遍身既出，而猶怫怫煩熱，頻作嘔吐者，此毒熱未盡，留連於肺胃間也，宜消毒飲加連翹、升麻、地骨皮、知母、石膏。大便秘，微加大黃。</p>
<p>一疹已收，反渾身發熱，晝夜不止，此毒未盡解，而陰血傷也，消毒飲合四物湯，加玄參、連翹、知母、丹皮、滑石、甘草。</p>
<p>一疹發熱咳嗽，三五日不出者，用化毒湯，外以胡荽子炒熱，以薄綿包熨之。</p>
<p>一疹熱盛譫語，小便赤澀者，導赤散，用生、通、甘等藥。煩躁多渴者，犀角化斑湯，用荊、防、甘、玄、桔、翹、石、知等味。</p>
<p>一疹狀如蚊蚤所咬，色黑者，此毒盛也，宜山梔子湯。</p>
<p>一疹毒氣入胃變黑，眼赤喉痛，口舌生瘡，泄瀉，宜黃連杏湯，用陳、麻、黃、殼、葛等品。</p>
<p>一疹出後，聲啞不出，或喘或咳，或身熱不退，致日久不愈者，此熱毒未盡解，肺金受傷也，宜清金降火，用知母、貝母、天冬、麥冬、骨皮、丹皮、生地、芍藥、當歸、玄參、連翹、片芩、瓜蔞仁。</p>
<p>一疹收後，餘毒未盡，日夜煩躁，狂亂譫妄者，乃餘毒蓄心包也，辰砂益元散，燈心黃連湯下。</p>
<p>一麻後瀉痢者，乃積熱移於大腸，宜益元散加生地、木通、芩、連、白芍，或香連丸之類。</p>
<p>一麻後牙疳紅腫者，清胃湯合甘桔湯，加大力、荊芥、玄參。胃爛者，不治之症也。</p>
<p>一麻後痰嗽不止，乃痰熱留於心胸，四物合二陳，加瓜蔞、桔梗、五味子。渴加麥冬、枳殼，喘加蘇子、桑皮。</p>
<p>一孕婦出麻，以四物湯加白朮、條芩、艾葉、砂仁，以安胎清熱為主，則胎不動，而麻疹自愈矣。若正出之時，不進飲食者，但得麻色淡紅潤澤，亦無害也，乃熱毒未解，內蘊實熱，故不食耳。麻退不食者，用四物湯加神麯、砂仁一二劑，自能食矣。</p>
<p>一凡出麻疹之時，大忌葷腥生冷，宜避風寒水濕。苟有不謹，最為深患，戒之慎之！</p>

<h3>辨痘夾丹疹與麻疹不同</h3>

<h4>抄《證治大還》</h4>
<p>夫痘毒、麻毒，各有不同。蓋痘毒出於臟，麻出於腑。臟屬陰，陰主血，故痘有形而有汁；腑屬陽，陽主氣，故疹有形而無汁。此皆中於有生之淫火，本非尋常，併發者，惟痘出之時，或風寒閉塞腠理，或熱毒壅遏不得發越，熱氣擊動藏府，故並出耳，此亦不順之症也。錢氏云：痘只出一般者善。凡痘已見形，其間碎密若瘡子者，夾疹也，此由火毒薰灼於中，故使疹夾出於外也。痘當從外解，疹當從內解。如痘內夾出丹疹，不必治之，當以托痘為主，痘出而疹自淡矣。若疹重者，亦急宜解毒，使疹子消散，痘亦早得單成，宜消毒飲加升麻、玄參、酒芩，並黏、荊、甘、防。若疹不退者凶。</p>
<p>周慎齋云：痘夾斑疹，是表實，風熱鬱於血分，宜蘇葛湯，倍前胡、桔梗，加羌活、防風、荊芥、蟬蛻、紅花、連翹、牛蒡子，使邪從表散。若過用寒涼，則血凝氣滯，陰無陽生而變黑矣。</p>
<p>邵公云：痘夾班，宜麻黃葛根湯解之，而疹自退。</p>

<h3>痘毒辨</h3>
<p>痘毒者，因痘瘡毒盛之時，失於解利，毒氣壅遏肌肉，外不得以泄於肌膚，內無由入於藏府。滯於肌肉，故發癰腫也。貫漿時發者，名痘毒。靨後發者，名餘毒。痘自唇四圍靨起，循序而下，必無餘毒。若間斷而靨，或靨時痘根尚有一絲紅暈，此毒化漿未盡，必發餘毒。毒發則氣得以外泄肌表，故得保全。然須分虛實調治，若精神倦怠，飲食不貪，宜參、耆、白朮、甘草、銀花、白芷內托之。若面赤便秘，燥渴壯熱驚叫，宜大連翹飲，用歸、芍、防、滑、柴、連、通、芩、防、梔、車、蒡、脫、草等品，人參解毒湯解之，用參、防、羌、獨、柴、前、荊、銀花、芎、茯、殼、桔、草、姜，外用羊脂膏敷之。若毒遊走不定，此元氣虛竭，不能拘制其毒，急宜內托，亦當留一處出膿，以泄其毒，他處以藥敷之。</p>
<p>若發熱之時即見毒，此名報毒，切忌敷治，痘胖而毒自消。若誤用敷貼之藥，毒必復入而痘反重矣。又毒發骨節間，須用移毒神丹，移下一、二寸，不在骨節間出膿，即免殘疾之患矣。</p>
<p>邵公云：痘後發癰，皆當發不發，不當補過補，致毒壅滯，宜分虛實用藥。虛者精神倦怠，食少微熱，腫處不疼，宜內托散加白芷、銀花、木香。膿流清水，潰瘍不斂，大補湯加白芷、銀花，外敷生肌散。實者壯，便燥，煩渴叫痛，大連翹飲，外敷必勝膏。</p>

<h3>餘毒不止於癰腫</h3>
<p>痘有遲延日久，而起不圓胖，靨既平之際，或發癰腫，人固知為餘毒，而用大連翹敗毒散（歸、陳、芷、芍、甲、乳、沒、銀花、貝、防、角針、天花）、人參敗毒湯，以解利之矣。不知氣高而喘息作聲，掀胸抬肚者，餘毒之在肺也；痰涎稠黏，咬牙戛齒，泄瀉不止，口臭者，餘毒之在脾胃也；盜汗熱不退，渴者，餘毒之在心也；夢中多驚，餘毒之在肝也；耳骫尚熱，餘毒之在腎也。眼合不開，身腫不消，壯熱不清，鬱鬱不樂，諸經皆有餘毒也。豈可獨以焮發於外為餘毒，而於此反慢，不加省哉！</p>
<p>周慎齋云：痘癰宜補氣血。若面上溫疤，遍體發毒，宜保元四物加銀花、連翹之類。</p>
<p>陳三農云：七日前生毒者，凡瘡未痊，或初發疤處，肌肉虛毒，受氣血相傳，故從虛處發出也。其毒濕潤者，為氣血俱盛。枯燥乾紅，氣血俱弱也。</p>
<p><u>王氏移毒神丹</u>　治痘毒發於節骱，用此截搽半截，毒即移下。</p>
<p>白及（一兩六錢）　紅藥子（一兩，如無以紫花地丁代，按《濟時全書》云，即紅花子也）　硃砂　雄黃　輕粉（各一錢）　烏骨雞骨（煅灰，一錢）　大黃　五倍（各二錢）　牙皂（七分）</p>
<p>共為末，醋調敷之。</p>
<p><u>羊脂膏</u>　秘傳　治痘毒。</p>
<p>陳羊油（一錢）　巴豆（三錢）</p>
<p>同熬至豆黑，去豆入香油二三滴，塗腫上。濕爛處用三稜、白果肉搗敷。</p>
<p><u>又方</u></p>
<p>蔥白搗爛，入蜜和勻，作薄餅，縛腫處，名必勝膏。</p>
<p><u>糯草灰散</u>　治痘後餘毒，神效。</p>
<p>糯草灰不拘多少，將滾湯淋去鹹水，以淡灰掩患處。</p>
<p><u>生肌散</u>　治疳蝕不斂，並痘後膿血雜流，不收等瘡。</p>
<p>骨皮　黃連　黃柏　五倍　甘草</p>
<p>共為細末，乾摻。一方加大貝二錢，白芷、赤石脂、白及各一錢，龍骨五分，豬骨髓調貼。亦名生肌散。</p>
<p><u>趙氏生肌散</u>　治癰潰成坑見骨。</p>
<p>赤石脂　伏龍肝　輕粉　杭粉（炒）　黃柏　血竭（各一錢）　陀僧（二錢）　黃丹（八分）　乳香　沒藥（各三分）　發灰（五分）　冰片（三釐）</p>
<p>共為細末，敷摻。</p>
<p><u>解毒透斑湯</u>　保赤　治麻痘初熱，如時令不寒不熱，以此辛平之藥發之。</p>
<p>升麻　葛根　羌活　防風　荊芥　柴胡　前胡　人參　桔梗　連翹　大力　赤芍　甘草　蟬蛻　淡竹葉</p>
<p>時令溫暖，加石膏、知母、木通，去羌活、人參。時令暄熱，加石膏、知母、玄參、山梔、黃芩，去羌活、升麻、人參。時令大寒，加桂枝、麻黃，去人參、葛根、升麻、前胡、柴胡、連翹。用前藥發不出，升麻、麻黃俱用酒洗，加人中黃，牛蒡子、蟬蛻。水煎服。</p>
<p><u>玄參解毒湯</u>　治麻痘紫赤，乾燥暗晦。</p>
<p>玄參　升麻　葛根　焦梔仁　石膏　知母　荊芥　甘草　桔梗　生地　木通</p>
<p>黑暗，加人中黃；便秘，加大黃；腹脹，加滑石。</p>
<p><u>化毒湯</u>　治疹一齊湧出，色似錦紋。</p>
<p>玄參　知母　石膏　連翹　葶藶子　荊芥　升麻　廣皮　甘草　淡竹葉</p>
<p><u>麻疹不出方</u></p>
<p>麻黃（一兩，去節）　全蠍（二錢）　人中黃（二兩）</p>
<p>大人用三錢，小兒錢半，蔥頭湯送下。</p>
<p><u>又方</u>　治痧疹沒，能令即出。</p>
<p>牛黃　冰片（各一分）　麝香（分半）　硃砂　天黃（各五分）　天竺黃（五分）　殭蠶　薄荷（各三分）</p>
<p>薄荷湯下五分。</p>
<p><u>化斑解毒湯</u>　治痧毒未盡，怫怫煩熱，頻頻嘔吐，連綿不收。</p>
<p>玄參　知母　石膏　人中黃　升麻　大青　大力　淡竹葉</p>
<p>煎服。</p>
<p><u>加減麻黃湯</u>　治感冒風寒，毒返內攻，喘急悶亂，腹痛，渾身青紫。</p>
<p>麻黃　升麻（俱酒洗）　荊芥　大力　蟬蛻　人中黃</p>
<p><u>疹發不出效方</u></p>
<p>櫻桃核打碎，煎湯飲之。</p>
<p><u>升麻解肌湯</u>　保赤　治疹欲出不出，壯熱煩躁，或乾紅隱伏不起，或為風寒所襲早沒。</p>
<p>升麻　葛根　赤藥　蘇葉　桔梗　荊芥　蟬蛻　甘草　木通</p>
<p>天氣嚴寒，加麻黃；見風沒早，肚腹膨脹，加大力、滑石、犀角。</p>
<p><u>解毒養榮湯</u>　治疹退大熱不止。</p>
<p>當歸　白芍　生地　川芎　玄參　荊芥　丹皮　黃芩</p>
<p><u>芩連解毒湯</u>　治疹後下血。</p>
<p>黃芩　黃連　地榆　犀角　生地　芍藥　當歸　荊芥　木通</p>
<p>水煎服。</p>
<p><u>解毒湯</u>　治疹後熱毒未盡，留鬱於心脾，口疳腐爛。</p>
<p>升麻　芍藥　生地　木通　黃芩　連翹　玄參　甘草　桔梗　荊芥　大力　薄荷</p>
<p><u>消斑飲</u>　治熱退疹不退，此內熱未平也。</p>
<p>升麻　玄參　荊芥　鼠黏　芍藥　甘草</p>
<p><u>梔子仁湯</u>　治疹狀如蚊咬，色黑者，此毒盛也。</p>
<p>梔子　蘚皮　赤芍　升麻　寒水石　甘草　紫草　薄荷</p>
<p><u>黃連杏仁湯</u>　治疹毒氣入胃變黑，眼赤喉痛，口舌生瘡，泄瀉。</p>
<p>黃連　杏仁　陳皮　麻黃　枳殼　葛根</p>
<p><u>加減升麻湯</u>　治水痘、赤痘、麻痘疹。</p>
<p>升麻　葛根　芍藥　甘草　防風　桔梗　紫蘇　蒼朮　廣皮　枳殼　柴胡</p>
<p>薑棗煎服。水痘、赤痘即此一服。本方不用加減。見疹熱不退加玄參；嘔吐加藿香；瀉甚者，去蒼朮，加訶子、肉果。</p>
<p><u>又方</u>　治痘後餘毒。</p>
<p>人參　茯苓　銀花　犀角（各三錢）　甘草（錢半）　羚羊角（一錢）　珍珠（八分）</p>
<p>共為末，蜜丸。每服一錢，日二服。</p>
<p><u>又方</u>　出《證治大還》　治痧後下積滯。</p>
<p>川連（一兩，酒炒）　升麻（七分）　乾葛（八錢）　甘草（四錢）　黃芩（八錢）　白芍（八錢，酒炒）　滑石（一兩）</p>
<p>共為末，山藥粉和丸。白湯下三四錢。</p>
<p><u>又方</u>　治痧後口瘡。</p>
<p>大黃　牛糞尖（一個，煅）　明礬（五分）　冰片（分半）　皮硝（一錢）　硼砂（三錢）　銅青（三分）</p>
<p>共研末，以鵝毛管吹患上。</p>
<p><u>又方</u>　治痧後瘧。</p>
<p>鱉甲（煅）　楂肉（各二錢）　橘紅　川貝（各三錢）　竹葉（十五片）　炙甘（一分）　麥冬（三錢，去心）　知母（錢二分）　茯苓（二錢）　葛根（錢半）　柴胡（一錢）</p>
<p>如不渴，去知母；渴甚，加石膏五錢。</p>
<p><u>蘇葛散</u>　痘疹見點用。</p>
<p>紫蘇　葛根　桔梗　前胡（各二錢）　甘草（五分）</p>
<p>疏表加荊芥、防風；便秘加枳殼、當歸；見標，蘇、葛減半；熱盛，加連翹；小便不利，加木通；大便不利，加玄明粉，或酒蒸大黃，去一二次不妨。渴加石膏，瀉加升麻。吐不用升麻，恐防咽喉痛。吐加廣皮，心煩加連翹，喉痛加牛蒡、玄參，血熱加紅花、當歸。微紫便燥，加生地、紫草；身痛加羌活，頭痛加川芎，腹痛加山楂、前胡，有起發之功，前不可缺。渴甚加六一散，燈心湯下。</p>

<h3>水痘</h3>

<h4>《景岳全書·麻疹門》後</h4>
<p>凡出水痘先十數點，一日後其頂尖上有水泡，二日二日又出漸多，四日渾身作癢，瘡頭皆破，微加壯熱即收矣。但有此疾，須忌發物，七八日乃痊。</p>
<p>一水痘亦有類傷寒之狀，身熱二、三日而出者。或咳嗽面赤，眼光如水，或噴嚏，或流涕，但與正痘不同，易出亦易靨，治以清熱解毒為主。</p>
