<header data-type="book">
<h1>四聖懸樞</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃玉璐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1752">公元1752年</data></dd></div>
<div><dt>底本</dt><dd>《黃氏醫書八種·四聖懸樞》，清光緖乙巳秋經元書室藏板（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-612930">香港中文大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自敘</h1>
<p>天未嘗有生而無殺，或以兵荒，或以疫癘。殺之自天，於人何尤，然此雖天之過乎，抑亦人之罪焉。兵荒未必殺人，世無良相也，疫癘未必殺人，世無良醫也。相而不良其罪小，醫而不良其罪大。</p>
<p>魏晉以來，至於今日，疫癘之殺人多矣。其書數十百部，其徒數千百人，病則家不得免，藥則戶不能逃。最可恨者，小兒之痘疹，即大人之疫癘，愚妄不以為歲氣，而以為胎毒。哀此百萬生靈，既困天災，復加人禍，民有兩死而無一生，籲其悲矣！天地不仁，不過以百姓為芻狗，愚妄不仁，遂至以蒼生為魚肉，此怨天乎？抑尤人乎？仲景先師，創內外感傷之法，而未言疫癘。其言之彰明而較著者，人猶有未解，況其未言者與，何怪於群兒之訛謬耶。</p>
<p>僕於己巳春初，草《四聖懸樞》，析溫疫痘疹之義，辛未六月，筆削於清江河院暑中。四部俱成，傷寒之義元矣，疫癘之義，元之又元。</p>
<p>慨夫！上士十載悟玄，下士見之大笑，以為尚白。其於閎意眇旨，玄而白之，其於沉辭浮藻，白而玄之。此黑之懸，彼白之募，是墨以為明而狐以為蒼也。楊朱之弟，黑出而白入，其狗吠焉，楊朱之狗，黑往而白來，其弟怪焉。茲蒼黃之未變，又黑白之不分，世無楊朱之弟矣，世亦並無楊朱之狗也。往有楚士而官於齊者，聚書數車，襲故紙以談岐黃，覽茲玄解，胡盧而笑。吳牛之喘，未見月也，蜀犬之吠，未見日也，吾安得進吳蜀之犬牛，登泰岳，凌清浮，與之抑日月之光華哉！</p>
<p>昔子云草《玄》，侯芭從而受業，桓譚以為絕倫。今宇內之大，諒必有侯桓其人，吾將藏之深山，虛坐以待矣。</p>
<p><u>壬申十月昌邑黃元御</u></p>

<h1>卷一</h1>
<p>時分冬夏，病殊寒溫，氣候不同，感傷亦異。傷寒著於仲景，溫病闡於岐伯，各有妙解，水火判然。自叔和混熱病於傷寒，傷寒之理，既永晦於千古，溫病之義，亦長訛於百代。後世庸工紛起，殺運宏開，當鼓橐吹爐之際，何須覆鼎，值焦頭爛額之秋，那堪入甕。橫覽夭枉，愴恨實多，作溫病解。</p>

<h2>溫病解第一</h2>

<h3>溫病名義</h3>
<p>秋冬感冒，名曰傷寒，春夏感冒，名曰溫病。病於春者謂之溫，病於夏者謂之熱，溫熱同病，因時異名，《素問·熱論》：先夏至日者為病溫，後夏至日者為病暑是也。四時之候，秋涼冬寒，春溫夏熱，約而言之，不過陰陽，陰陽之氣，不過寒熱。寒盛於冬，熱盛於夏，秋之涼者，將寒而未寒也，春之溫者，將熱而未熱也。感於冬者，謂之傷寒，感於夏者，謂之病熱，感秋之涼，輕於傷寒，而實傷寒之屬也，感春之溫，輕於病熱，而實病熱之屬也，故秋冬之感證，統曰傷寒，春夏之感證，統曰熱病。仲景之言傷寒，兼秋月之傷涼也，《素問》之言熱病，兼春月之病溫也。</p>

<h4>附岐伯溫義</h4>
<p>《素問·熱論》：黃帝問曰：今夫熱病者，皆傷寒之類也，或愈或死，其死皆以六七日之間，其愈皆以十日以上者何也？</p>
<p>熱病者，傷寒之類，非傷寒也。</p>
<p>岐伯對曰：人之傷於寒也，則為病熱，熱雖甚不死，其兩感於寒而病者，必不免於死。</p>
<p>外感之病，統曰傷寒，而其中實有風寒之分。春溫夏熱，皆感風邪，而曰傷寒者，感病之總名也。上文曰：熱病者，傷寒之類，則溫熱非由傷寒甚明。</p>
<p>人之春夏感傷，風泄其衛，衛閉而遏營血，則為病熱。熱雖至甚，而經盡陰復，不至於死。其陽亢陰枯，外被邪客，而表裡雙傳，一日兩經，是謂兩感，精液消亡，必不免於死也。</p>
<p>帝曰：願聞其狀。岐伯曰：傷寒一日，巨陽受之，巨陽者，諸陽之屬也，故為諸陽主氣也，其脈連於風府，故頭項痛，腰脊強。二日陽明受之，陽明主肉。其脈挾鼻絡於目，故身熱目痛而鼻乾，不得臥也。三日少陽受之，少陽主膽，其脈循脅絡於耳，故胸脅痛而耳聾。三陽經絡，皆受其病，而未入於臟者，故可汗而已。</p>
<p>足之三陽，自頭走足。傷寒一日，太陽受之，太陽者，諸陽之所屬也，故為諸陽主氣也。太陽行身之後，其脈自頭下項，挾脊抵腰，連於督脈之風府，邪自風府而入，客於太陽之經，故頭項痛，腰脊強。二日陽明受之，陽明行身之前，其脈挾鼻絡於目，故目痛鼻乾。三陽之氣，皆隨陽明下行，陽氣蟄藏則善寐，陽明上逆，陽升而火泄，故身熱而不臥。三日少陽受之，少陽行身之側，其脈從耳下頸，自胸貫胭，而循脅裡，故胸脅痛而耳聾。三陽經絡，皆受其病，而未入於三陰之臟者，經鬱熱發，汗之開其皮毛，經熱外瀉，則病愈矣。</p>
<p>四日太陰受之，太陰脈布胃中，絡於嗌，故腹滿而嗌乾。五日少陰受之，少陰脈貫腎，絡於肺，系舌本，故口燥舌乾而渴。六日厥陰受之，厥陰脈循陰器而絡於肝，故煩滿而囊縮。</p>
<p>足之三陰，自足走胸。四日太陰受之，太陰行身之前，其脈入腹絡胃，上膈挾咽，故腹滿而嗌乾。五日少陰受之，少陰行身之後，其脈貫脊屬腎入肺，而系舌本，故口燥舌乾而渴。六日厥陰受之，厥陰行身之側，其脈過陰器，抵少腹，挾胃屬肝絡膽，故煩滿而囊縮。太陰曰脈布胃中，少陰曰脈貫腎，厥陰曰脈絡於肝，是三陰之病，皆入於臟也。</p>
<p>其不兩感於寒者，七日巨陽病衰，頭痛少愈，八日陽明病衰，身熱少愈，九日少陽病衰，耳聾微聞，十日太陰病衰，腹減如故，則思飲食，十一日少陰病衰，渴止不滿，舌乾已而嚏　，十二日厥陰病衰，囊縱，少腹微下。大氣皆去，病日已矣。</p>
<p>六日而六經俱盡，六日而六經俱解，所謂其愈皆以十日以上也。</p>
<p>帝曰：治之奈何？岐伯曰：治之各通其臟脈，病日衰已矣。其未滿三日者，可汗而已，其已滿三日者，可瀉而已。</p>
<p>腑亦稱臟，《素問·十二臟相使論》，十二臟之貴賤相使是也。五臟六腑皆受病矣，各通其臟脈，是何臟腑之病，即針通其何臟腑之脈也。其未滿三日者，所謂三陽經絡皆受其病，而未入於臟，故可汗而已。其已滿三日者，已入於臟，故可瀉而已。汗瀉俱是刺法，詳見「刺熱篇」。</p>
<p>《靈樞·熱病》：熱病三日，而氣口靜，人迎躁者，取之諸陽，五十九刺，以瀉其熱而出其汗，實其陰以補其不足。瀉之則熱去，補之則汗出。熱病陽有餘而陰不足，故瀉其陽以補其陰。其在三陽，而未入臟者，熱邪尚淺，補其經中之陰，則汗自出。其在三陰，而己入於臟者，熱邪已深，非泄其臟中之陽，則熱不去。溫熱之病，所以不死者，臟陰之未亡也，已入臟而不泄，則臟陰亡矣，故用瀉法。</p>
<p>帝曰：其兩感於寒者，其脈應與其病形何如？岐伯曰：其兩感於寒者，病一日巨陽與太陰俱病，則頭痛口乾而煩滿，二日陽明與少陰俱病，則腹滿身熱，不欲食，譫語，三日少陽與厥陰俱病，則耳聾囊縮而厥，水漿不入，不知人，六日死。三陰三陽、五臟六腑皆受病，營衛不行，五臟不通，則死矣。帝曰：五臟已傷，六腑不通，營衛不行，如是之後三日乃死何也？岐伯曰：陽明者，十二經脈之長也，其血氣盛，故不知人，三日其氣乃盡，故死矣。</p>
<p>兩感者，陽強不密，陰氣衰絕。其太陽之寒，隨少陰而化熱，太陰之濕，隨陽明而化燥，厥陰之風，隨少陽而化火，故一日之內，兩經俱病。經其表裡同氣，故感應神速，三日六經俱病，再三日而陽明之氣全消，是以死也。</p>

<h4>附仲景溫義</h4>
<p>仲景《傷寒》：太陽病，發熱而渴，不惡寒者，為溫病。若發汗已，身熱灼者，名曰風溫。風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，鼻息必鼾，語言難出。若被下者，小便不利，直視失溲。若被火者，微發黃色，劇則如驚癇，時瘛瘲，若火熏之。一逆尚引日，再逆促命期。</p>
<p>傷寒陽乘陰位，衛氣內鬱則發熱，熱傳陽明，金土枯燥則作渴，陰乘陽位，營氣外閉則惡寒，故太陽傷寒，未傳陽明，則有寒熱，而無渴證。若病在太陽，發熱作渴，而不惡寒，此非傷寒，是謂溫病。溫病之家，陽盛陰虛，津血枯槁，最忌汗下火攻。若發汗亡陰，身熱如灼，火烈風生，名日風溫。風溫為病，陽亢陰絕，其脈尺寸俱浮。毛蒸里泄，常自汗出。清氣消亡，身體重濁。膽熱傳胃，土困則多眠睡。鼻息粗重，必作鼾聲。機關燥澀，語言難出。是皆誤汗之證也。若被下者，亡其腎陰，小便不利。血枯金燥，直視不轉。風木疏泄，溲溺遺失。是皆誤下之證也。若被火者，病微則肌肉熏蒸，而發黃色。病劇則水枯木燥，肝膽失榮，魂氣震盪，形如驚癇。筋脈伸縮，時作瘛瘲。肌膚焦黑，色若煙燻。是皆誤火之證也。凡若汗若下若火，皆為逆治，一逆尚延引其時日，再逆則催促其命期矣。</p>

<h3>溫病根原</h3>
<p>《素問·陰陽應象論》：冬傷於寒，春必病溫。「生氣通天論」：陰陽之要，陽秘乃固，陽強不能密，陰氣乃絕。陰平陽秘，精神乃治，陰陽離決，精氣乃絕。因於露風，乃生寒熱。是以冬傷於寒，春必病溫。「金匱真言論」：夫精者，身之本也，故藏於精者，春不病溫。</p>
<p>四時之氣，春生夏長，秋收冬藏。木火旺於春夏，而司生長，金水旺於秋冬，而司收藏。而金水之所以收藏者，則精魄之能也。精以至陰而主藏，魄者精之始基，但能收而未能藏，是以蟄藏之職，獨歸於精。藏氣得令，相火蟄封，腎精溫暖，是謂陽密。少陰癸水與太陽壬水，兩相表裡，皆主蟄藏，癸水之藏，以其溫也，壬水之藏，以其寒也。五行之氣，熱則發宣，寒則凝閉，癸水之溫而善藏者，壬水之寒而善閉也。</p>
<p>人於冬時，宜順寒水之令，以藏陽氣。陰精失藏，相火泄露，陽根不密，是謂冬傷於寒，冬傷於寒者，傷其寒水蟄藏之令氣也。相火升炎，久而彌盛，春氣一交，陽根盡泄，變木為火，化溫成熱，是以春月而行夏令也。天時之寒暄奠定，人竅之啟閉無常，一遭風露侵凌，溫病作矣。春時不病，至夏而感，是謂熱病。冬時不病者，寒水司氣，雖蟄藏失政，而經絡臟腑之熱，究未如春夏之盛也。</p>

<h3>病原同異</h3>
<p>溫病之原，起於冬不藏精，傷其寒水之令，故春夏病感，必是內熱。但冬傷於寒，春夏必病溫熱，而春夏之溫熱，不必皆冬傷於寒。其冬傷於寒而病溫熱者，自是內熱，其不冬傷於寒而病溫熱者，未可定謂之內熱也，病與溫疫相同，而法亦無殊。其營鬱熱發，而又病於春夏之間，固無入臟生寒，用四逆。真武之證，然燥渴飲冷，積水不消者，亦未嘗少，此皆不可用涼瀉之法也。</p>

<h3>風寒異邪</h3>
<p>四時感傷之因，有風有寒，寒者，天地之陰氣，風者，天地之陽氣。陽主開，陰主闔，傷於寒者，皮毛開而寒束之，故竅閉而無汗，中於風者，皮毛閉而風泄之，故竅開而有汗。</p>
<p>氣統於肺，金性清涼而降斂，血司於肝，木性溫暖而升發，肺氣清降則竅闔，肝血溫升則竅開。人之汗孔，秋冬則闔者，氣清而斂之也，春夏則開者，血溫而發之也。秋冬竅闔，而有時偶開，則寒氣傷之，春夏竅開，而有時偶閉，則風氣中之，此四時之邪感傷之因也。</p>

<h3>營衛殊傷</h3>
<p>肺藏衛氣，肝藏營血，寒則傷營而不傷衛，以衛氣肅靜，孔竅闔而寒莫由入，是以不傷，唯血溫而竅開，乃傷於寒。風則傷衛而不傷營，以營血蒸動，孔竅開而風隨汗解，是以不傷，唯氣涼而竅闔，乃傷於風。</p>
<p>然寒傷營血，而病則在衛，以營性升發，一被寒邪，闔其皮毛，則營愈欲發，外乘陽位，而束衛氣，故衛閉而惡寒。風傷衛氣，而病則在營，以衛性降斂，一被風邪，開其汗孔，則衛愈欲斂，內乘陰位，而逼營血，故營鬱而為熱。</p>
<p>胃為戊土，乃衛氣變化之原，傷寒之病，戊土與金水受之。金水司氣，隨戊土而下降，以陽體而胎陰魄，故氣常清降而外斂，傷寒而氣反內郁，是以病在氣分。脾為己土，乃營血滋生之本，中風之病，己土與木火受之。木火主血，隨己土而上升，以陰體而抱陽魂，故血常溫升而內發，中風而血不外達，是以病在血分。</p>
<p>氣清而孕水，故氣病則寒盛，而為傷寒，血溫而孕火，故血病即熱盛，而為溫病。秋冬之感，皆是傷寒，其時非必無風，中於風者，便是秋冬之溫病，春夏之感，皆是中風，其時非必無寒，傷於寒者，便是春夏之寒病。究竟秋冬寒多而風少，故往往病寒，春夏寒少而風多，故往往病溫，時令不同也。</p>

<h3>傳經大凡</h3>
<p>一日一經，六日經盡，凡諸感病之大凡也，若傷寒，若中風，若溫病、熱病，若溫疫、寒疫，若痘病、疹病，無不皆然。但溫熱必傳臟腑，余則病由外感，原無內熱，不必定傳臟腑耳。程氏郊倩，謂溫病傳經，傷寒中風不傳經，其論全非。唯兩感之家，一日兩經，則溫熱之所獨有，而諸感病之所無也。</p>

<h3>太陽經證</h3>

<h4>頭痛熱渴</h4>
<p>太陽以寒水主令，手太陽以丙火而化氣於寒水，陰盛則壬水司氣而化寒，陽盛則丙火違令而化熱，故太陽以寒水之經，而易於病熱。</p>
<p>溫病之家，冬不藏精，相火升泄，傷其寒水閉蟄之氣，火旺水虧，由來已久。及其春夏病感，衛陽閉秘，營熱鬱隆，寒水之氣愈虧。故受病之一日，即發熱作渴，而不惡寒也。</p>
<p>太陽在六經之表，故感則先病。其經自頭下項，行身之背，故頭項痛而腰脊強。肺主衛，肝主營，而總統於太陽。太陽之經，在皮毛之部，營衛者，皆皮毛之所統轄也。</p>
<p>溫病衛閉而營郁，法當清營熱而瀉衛閉。一日之初，衛閉己見，營熱方生，故一日太陽之治，宜涼金補水，而開皮毛，不易之法也。</p>
<p><u>玄霜丹</u></p>
<p>浮萍（三錢）　麥冬（三錢）　甘草（二錢，炙）　元參（三錢）　丹皮（三錢）　芍藥（三錢）　生薑（三錢，切）　大棗（三枚，劈）</p>
<p>流水五杯，煎大半杯，熱服，覆衣，飲熱稀粥，取少汗。</p>
<p>治一日太陽溫病，頭項痛，腰脊強，發熱作渴者。</p>

<h3>陽明經證</h3>

<h4>目痛鼻乾</h4>
<p>陽明以燥金主令，足陽明以戊土而化氣於燥金，太陰勝則陽明化氣而為濕，陽明勝則太陰化氣而為燥，故陽明之經，易於病燥。</p>
<p>溫病冬水失藏，相火升炎，胃津既涸，脾精亦亡，太陰之濕，久化陽明之燥。春夏病感，衛陽遏閉，營熱鬱發，土焦金燔，燥氣愈甚。其經挾鼻絡目，行身之前，故目痛鼻乾，而身熱不臥。</p>
<p>陽莫盛於陽明，燥熱在經，不得泄路，遲則胃腑積熱，因表鬱而內應。腑熱一作，臟陰漸枯，便伏異日死機。於其腑熱未動之時，涼瀉經絡，以清其熱，則後患絕矣。</p>
<p><u>素雪丹</u></p>
<p>浮萍（三錢）　石膏（三錢）　元參（三錢）　葛根（三錢）　甘草（二錢，炙）　丹皮（三錢）　芍藥（三錢）　生薑（三錢，切）　麥冬（三錢）</p>
<p>流水六杯，粳米半杯，煎大半杯，去渣，熱服，覆衣，飲熱稀粥，取少汗。</p>
<p>治二日陽明溫病，身熱目痛，鼻乾不臥，胸燥口渴者。嘔者，加半夏三錢。</p>
<p><u>人參白虎湯</u></p>
<p>石膏（五錢）　知母（三錢）　人參（三錢）　甘草（二錢）　生薑（三錢）　粳米（半杯）</p>
<p>流水煎大半杯，熱服，覆衣，取少汗。</p>
<p>溫病二日，方傳陽明之經，腑熱未作，法宜清熱而發表。熱甚者，必傷肺氣，當用人參白虎湯，清金瀉熱，益氣生津，乃為善法。</p>

<h3>少陽經證</h3>

<h4>脅痛耳聾</h4>
<p>少陽以相火主令，足少陽以甲木而化氣於相火，順則下蟄而溫腎水，逆則上炎而刑肺金，故少陽之經，最易病火。</p>
<p>溫病寒水失藏，相火炎蒸，已旺於衰廢之時。春夏病感，衛閉營郁，熱盛火發，勢當得令之候，愈極燻赫。少陽傷寒，有寒熱之往來，以二陽在表，三陰在裡，陽勝則熱，陰勝則寒，少陽居表裡之半，是以寒往而熱來。溫病三陰經氣，從陽化熱，故但熱而無寒。其經絡耳循脅，行身之側，故胸脅痛而耳聾。火曰炎上，炎上作苦，故咽乾而口苦。</p>
<p>相火內郁，則肺金受刑，甲木內郁，則刑胃土，外無泄路，勢必焦土流金，而入陽明。當以清涼和解之法，散其炎烈也。</p>
<p><u>紅雨丹</u></p>
<p>柴胡（四錢）　黃芩（三錢）　芍藥（三兩）　石膏（三錢）　甘草（三錢）　丹皮（三錢）　生薑（三錢，切）　元參（三錢）</p>
<p>流水煎大半杯，熱服，覆衣，飲熱稀粥，取微汗。</p>
<p>治三日少陽溫病，胸脅疼痛，耳聾口苦，咽乾作渴者。</p>
<p>三陽經絡，皆受其病，而未入於臟腑者，法應汗之。而溫病與傷寒中風，寒暄異氣，不宜麻桂辛溫，以清潤之劑，涼瀉經絡燥熱，方是溫病汗法。其傷在衛氣，而病在營血，營熱鬱發，故用丹皮、白芍，瀉熱而涼營也。</p>

<h3>三陽傳胃</h3>
<p>傷寒中風，病於秋冬之際，原無內熱。表邪不解，陽盛則傳陽明之腑，陰盛則傳太陰之臟。陰陽平和，則不入臟腑，始終在經，六日經盡，則汗解矣。溫病內熱素積，斷無但在經絡，不傳胃腑之理。緣其經熱鬱隆，外泄無路，而胃腑積熱，自當感應而發。但胃熱大作，必在三日之後，經熱不解，而後腑熱鬱勃，此自然之層次。病由外感，是以表熱先發也。</p>
<p>其在三日之內，表邪郁迫，裡熱方生，但當發表，未可攻裡，表氣疏泄，裡氣自平。若三日之外，腑熱已作，則攻瀉之法，乃可續用。</p>
<p>蓋胃土燥熱，必爍臟陰。其肺脾津液，肝腎精血，久為相火煎熬，益以燥熱燔蒸，臟陰枯竭，則人死矣。是宜滋其臟陰，瀉其腑熱，勿令陽亢而陰亡矣。</p>
<p><u>白英丹　</u></p>
<p>大黃（五錢，生）　芒硝（三錢）　甘草（一錢，炙）　枳實（二錢，炒）　厚朴（三錢，炒）　元參（三錢）　麥冬（八錢）　丹皮（三錢）　芍藥（三錢）　生地（三錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>陽明戊土，位居三陽之長，陽盛之極，必皆歸宿陽明，而入胃腑。溫病三日之外，三陰臟病，悉以胃熱為之根本，雖曰五臟六腑皆受病，而陽明胃腑，實其綱領也。其裡熱發作，不拘在何臟腑，總以瀉胃為主，而兼清本部。但腸胃未至燥結，則第滋陰，不須承氣。即燥結未甚，亦當俟之六日經盡之後，腑邪內實，用瀉熱滋陰之法，一下而清矣。若燥熱隆盛，則三四五日之內，俱可瀉下。是當用《傷寒》急下之法，不可循《傷寒》緩攻之條，以其內熱鬱伏，原與傷寒不同也。</p>

<h3>太陰經證</h3>

<h4>腹滿嗌乾</h4>
<p>太陰以濕土主令，手太陰以辛金而化氣於濕土，陽明盛則太陰化氣而為燥，太陰盛則陽明化氣而為濕，故太陰之經，最易病濕。然外感風寒，以及內傷百病，其在太陰，無不是濕，而惟溫病之在太陰，則化濕為燥，以其冬水失藏，相火泄而脾陰爍也。</p>
<p>春夏病感，營鬱熱旺，濕氣自當愈耗。其經布胃絡嗌，故腹滿而嗌乾。</p>
<p>太陰之濕奪於陽明之燥，脾陰枯槁，則腎肝精血，俱難保矣。是宜清散皮毛，瀉陽明之燥而滋太陰之濕也。</p>
<p><u>黃酥丹</u></p>
<p>浮萍（三錢）　生地（四錢）　甘草（二錢，炙）　丹皮（三錢）　芍藥（三錢）　生薑（三錢）</p>
<p>流水煎大半杯，熱服，覆衣。</p>
<p>治四日太陰溫病，腹滿嗌乾，發熱作渴者。</p>

<h3>少陰經證</h3>

<h4>乾燥發渴</h4>
<p>少陰以君火主令，足少陰以癸水而化氣於君火，陽盛則丁火司權而化熱，陰盛則癸水違令而生寒，故少陰以君火之經，而最易病寒。然外感風寒，以及內傷百病，其在少陰，無不是寒，而惟溫病之在少陰，則化寒為熱，以其冬不藏精，水虧火泄，春夏病感，更值火旺水虛之候。</p>
<p>其經貫腎絡肺，而系舌本，故口燥舌乾而渴。</p>
<p>腎者主水，人身水火對列，水枯而火亢，則人亡矣。是宜清散皮毛，瀉君火之亢而益腎水之枯也。</p>
<p><u>紫玉丹</u></p>
<p>浮萍（三錢）　生地（四錢）　知母（三錢）　元參（三錢）　甘草（二錢）　天冬（三錢）　生薑（三錢）</p>
<p>流水煎大半杯，熱服，覆衣。</p>
<p>治五日少陰溫病，口燥舌乾，發熱作渴者。</p>

<h3>厥陰經證</h3>

<h4>煩滿囊縮</h4>
<p>厥陰以風木主令，手厥陰以相火而化氣於風木，治則木達而化溫，病則火鬱而生熱，以厥陰乙木，原胎丁火，故厥陰之經，最易病熱。</p>
<p>溫病衛閉而遏營血，營郁是以發熱，而營藏於肝，則溫病之來，實受於厥陰。方其隆冬火泄，營血已傷，勢將騰沸。春夏病感，衛閉營遏，血熱自當愈劇。其經循陰器而絡肝，故煩滿而囊縮。</p>
<p>手厥陰之火，扇以足厥陰之風，風烈火炎，煎迫營陰，營血枯槁，則命殞矣。是宜清散皮毛，瀉相火之炎而滋風木之燥也。</p>
<p><u>蒼霖丹</u></p>
<p>浮萍（三錢）　生地（四錢）　芍藥（三錢，生）　當歸（三錢）　丹皮（三錢）　甘草（二錢，生）生薑（三錢）</p>
<p>流水煎大半杯，熱服，覆衣。</p>
<p>治六日厥陰溫病，煩滿囊縮，發熱作渴者。</p>

<h3>三陰入臟</h3>
<p>岐伯溫病治法，未滿三日者，可汗而已，其滿三日者，可瀉而已。三陽經絡，皆受其病，而未入於臟者，故可汗而已。溫病內熱蓄積，交春夏而受感傷，內熱鬱隆，原無但傳經絡不傳臟腑之理。第傳臟傳腑，必在三日之外，其未滿三日，則但在經絡，故曰三陽經絡，皆受其病，而未入於臟，在經，是以可汗。若三日之外，則必入於臟，既入於臟，則無不入於腑矣，故曰五臟六腑皆受病，入臟入腑，是以可瀉。以陽盛於外，而根於內，三日之內，病在三陽，陽盛於外，故但是經熱而已，三日之外，病入三陰，而臟陰消爍，已化亢陽，則非止經熱而已也。積熱鬱伏，是以內傳臟腑耳。</p>

<h3>臟腑治法</h3>
<p>臟以太陰為主，所謂脾者，孤臟以灌四旁也，腑以陽明為主，所謂陽明者，五臟六腑之海，十二經脈之長也。足太陰以濕土主令，足陽明從燥金化氣，溫病陽明之燥劫奪太陰之濕，滋太陰之濕而瀉陽明之燥固已，而推原太陰土濕之所由來，實原於水，而腎水之所以枯槁，一耗傷於燥土，一盜泄於風木。治法，以麥冬潤陽明之燥，以地黃滋太陰之濕，以知母、元參、天冬清金而壯少陰之水，以當歸、丹皮、白芍潤木而息厥陰之風。而地黃之性，滋濕清風，兼而能之，故三陰並宜。</p>
<p>地黃泄陽助濕，至下之品，至於溫病，土燥而木枯，則反為靈寶，莫佳於此矣！</p>

<h3>汗瀉之法</h3>
<p>溫熱之病，陽強陰弱，岐伯立法，則曰汗瀉，仲景垂戒，則曰汗下，義若不同，而理實無殊。岐伯之示汗瀉，補陰而瀉陽也，仲景之戒汗下，瀉陽而亡陰也。後世通岐伯之針刺，效仲景之湯丸，易麻桂之溫燥，汗之以清涼之劑，變承氣之盪滌，瀉之以滋潤之品，壯火既清，微陰續復，則悉得岐伯之遺法，而不犯仲景之明戒矣。</p>
<p>岐伯論溫，於「刺熱篇」云：治諸熱病，飲之寒水，乃刺之，必寒衣之，居止寒處，身寒而止也。仲景論溫，但戒汗下火劫，未嘗立法。究竟溫病治法，不離汗瀉兩義，但須清涼滋潤而已。會岐伯。仲景之義，於一百一十三方中選而用之，有汗法焉，暍病之人參白虎是也，《金匱》方中，有瀉法焉，百合病之百合地黃是也。由此二法而變通之，法不勝窮矣。</p>

<h1>卷二</h1>
<p>外感之邪，秋冬傷寒，春夏病溫，寒溫之外，乃有疫癘。天地違和，人物罹殃，州里相傳，死亡繼踵，慘目傷心，莫甚於此。念此身世，長不百齡，風霾夭骨，霜露雕年，益以醫藥差訛，調攝乖方，人壽幾何，那復堪此！仲景《傷寒》垂法，宏濟百代，人亡義晦，復無解者，況於疫癘，　先師無言，著書立說之家，甚於瘟魔，制方用藥之人，殘於癘鬼。丈夫有志，燮理無權，永念來者，情何能已，作疫病解。</p>

<h2>疫病解第二</h2>

<h3>疫病原始</h3>
<p>中風傷寒，外感風寒，而寒熱陰陽，視乎本氣，是以人不皆病而病不皆同，半由客邪而半關主氣。疫癘感於歲氣之偏，鄉里傳染，證狀皆同，少由主氣而多屬客邪。</p>
<p>蓋天地有六氣，風火暑濕燥寒也，歲有五運，土金水木火也。天之六氣，隨五運而迭遷，地之六氣，亙千古而不變。五運回周，以天之六氣合地之六氣，客主加臨，大過不及之數見焉。由是生克勝復、亢害承製之變參差不一，而歲氣於焉不正。</p>
<p>人與天地相通也，一氣不正，而人氣感之，而一經之病見焉。風淫則病在厥陰，火淫則病在少陰，濕淫則病在太陰，</p>
<p>暑淫則病在少陽，燥淫則病在陽明，寒淫則病在太陽，同氣相感也。木火病則傷在血分，金水病則傷在氣分。土者氣血之中，血化於己土而氣化於戊土，血傷則己土病，氣傷則戊土病也。</p>

<h3>寒溫病異</h3>
<p>疫病之邪，雖備六氣，而寒溫為多。溫疫感春夏之風，寒疫感秋冬之寒。風為陽邪，感則傷陽，寒為陰邪，感則傷陰。衛氣為陽，故中於風，營血為陰，故傷於寒。</p>
<p>平人衛氣在外而內交於營，營血在內而外交於衛，營衛調和，是以無病。風傷衛氣，則遏閉營血，而生內熱，寒傷營血，則裹束衛氣，而生外寒，營衛不調，是以病也。衛傷而內郁其營，故風雖傷衛而病實在血，營傷而外束其衛，故寒雖傷營而病實在氣。血病者，多傳陽明而為熱，以血藏於肝而肝木生火，火盛則陽旺而入腑也；氣病者，多傳太陰而為寒，以氣藏於肺而肺金生水，水盛則陰旺而入臟也。</p>
<p>溫疫之家，陰氣不衰，足以濟陽，則但傳陽經而不入陽明之腑，寒疫之家，陽氣不衰，足以濟陰，則但傳陰經而不入太陰之臟，是謂順證。六日六經俱遍，邪退正復，則表解而病愈矣。</p>

<h3>表裡殊法</h3>
<p>病在營衛，皮毛閉秘，法宜解表，以發內郁。營衛外發則生，內陷則死。風傷衛氣，衛閉其營，營血外發，則斑生而病解，寒傷營血，營閉其衛，衛氣外發，則汗出而病愈。</p>
<p>溫疫傳腑，腑熱則營血內陷而不外發，寒疫傳臟，臟寒則衛氣內陷而不外發。故溫疫營病，臟陰旺者多生，腑陽盛者多死，寒疫衛病，腑陽旺者多生，臟陰盛者多死。</p>
<p>溫疫傳腑，當清其腑熱，以發營血，寒疫傳臟，當溫其臟寒，以發衛氣。營司於肝，而實生於太陰，臟陰旺則外發，溫疫之家，非陰盛之極者，不可輕瀉其脾精，衛司於肺，而實化於陽明，腑陽旺則外發，寒疫之家，非陽盛之極者，不可輕瀉其胃氣也。</p>

<h3>溫疫由來</h3>
<p>溫疫之證，發熱出汗，得之於風。其年木火不能發泄，則人氣應之，多病溫疫，以孔竅閉而風氣泄之也。</p>
<p>木火生長，因乎陰氣之左升。蓋純陰之位，而一陽已生，陽生必升，升則溫暖而化風木，積溫而熱，是為君火。溫則生而熱則長，陽氣敷舒於九天之上，孔竅發宣而不闔，故弗傷於風。木火不能發泄，則陽氣下郁，而生內熱，經絡閉塞，孔竅不開，是以易中於風。</p>
<p>天人同氣，天地之木火不能發泄，人物應之，而病溫疫，故多病於春夏。其病於春者，傷在乙木，其病於夏者，傷在丁火也。</p>

<h3>寒溫殊病</h3>
<p>溫病感在經絡而內有積熱，前三日則在三陽之經，後三日則入三陰之臟，既入於臟，必入於腑，其入腑入臟，總是熱而非寒。傷寒感在經絡而內無積熱，陽盛而後入腑，陰盛而後入臟，入腑則是熱，入臟則是寒。溫疫亦感在經絡而內無積熱，陽盛者亦入於腑，陰盛者亦入於臟，第未嘗必入於腑，必入於臟，而病內熱，其較溫病不同。然營鬱而熱盛，但有入腑而病熱，必無入臟而病寒者，其較傷寒亦不同。故溫疫為病，止有寒瀉之法，而無溫補之條。其在三陰，皆六日傳經之證，與傷寒三陰臟寒之證，天淵不一也。凡經盡而斑發者，是但在經絡而未入於腑也，若經盡而斑不發，必有內郁之證，表藥之中，必兼涼瀉，內熱既清，則營達而斑發矣。</p>

<h3>表解熱除</h3>
<p>風性疏泄，氣性收斂，風傷衛氣，開其腠理，氣欲內斂，風欲外泄。氣閉於內，則營鬱而為熱，風泄於外，則竅開而為汗。風愈泄而氣愈閉，營熱日積，待至六經既盡，斑點外發，而後血分之熱泄。</p>
<p>若氣閉而不泄，則營熱內郁，而生燥悶，五臟燔蒸，而人死矣。或泄之不透，隱見於皮膚之間，必鬱而為癢。癢者，是謂隱疹。隱疹之家，血熱蘊積，久而肌肉潰腐，發為痂癩，所謂脈風者也。當涼血發表，使營熱外達，不令內蒸也。</p>

<h3>陰衰營陷</h3>
<p>溫疫之病，在於血分。風本傷衛，衛傷而閉其營血，是以病在血分。</p>
<p>肝藏營血而太陰為生血之本，脾以陰土而含陽氣，脾陽一升，則溫暖而化肝木。溫疫之病，非第在肝，而實連於太陰。脾陰不弱，足以滋潤其營血，則營郁外達而斑點生。太陰脾臟，以濕土主令，陰衰傳腑，濕化為燥，陽旺而生裡熱，則營氣內陷，而不外達。溫疫之死,死於脾陰之弱，火上燥熱，而營郁不能達也。</p>

<h3>太陽經證</h3>

<h4>發熱頭痛</h4>
<p>太陽之經，總統營衛，風傷衛氣，遏閉營血，郁迫而生裡熱。肝木藏血而生火，火者，血中溫氣蓄積而化熱也。太陽寒水之經，應當惡寒，以營鬱而生火，故但熱而不寒。其經自頭走足，行身之背，經逆而不降，故頭痛而項強也。</p>
<p><u>浮萍湯　</u></p>
<p>浮萍（三錢）　丹皮（三錢）　芍藥（三錢）　甘草（二錢，炙）　生薑（三錢，切）　大棗（三枚，劈）</p>
<p>流水煎大半杯，熱服，覆衣，取汗。</p>
<p>治一日太陽溫疫，發熱頭痛者。</p>
<p>溫疫得之中風，亦是桂枝湯證。但發於春夏之月，但熱無寒，不宜桂枝辛溫,故以浮萍瀉衛氣之閉，丹皮、芍藥瀉營血之郁也。</p>

<h4>身痛脈緊煩躁無汗</h4>
<p>溫疫在太陽之經，脈浮頭痛，發熱汗出，以風強而氣不能閉也。若脈浮而緊，發熱惡寒，身痛腰痛，煩躁無汗，而喘促者，是氣強而風不能泄也。</p>
<p>蓋寒疫無汗，溫疫有汗，以寒性閉藏而風性疏泄也。若衛陽遏閉，風不能泄，營郁莫達，則煩躁喘促，與傷寒同證，宜以浮萍、石膏，清散經絡之熱也。</p>
<p><u>浮萍石膏湯</u></p>
<p>浮萍（三錢）　石膏（三錢，生，研）　杏仁（三錢，泡，去皮尖）　甘草（二錢，炙）生薑（三錢）大棗（三枚，劈）</p>
<p>流水煎大半杯，熱服，覆衣。</p>
<p>治溫疫身痛，脈浮緊，煩躁喘促，無汗者。</p>

<h4>煩熱燥渴</h4>
<p>病在太陽之經，未入陽明之腑，不至遽生煩渴。若陽明燥盛之人，經熱外逼，燥熱內應，則見煩渴。陽明從燥金化氣，腑燥發作，故有煩熱便難之證，而腑燥未作，經燥先動，是以煩渴生焉。</p>
<p>其太陽表證未解，宜浮萍石膏清金而解表，絕其煩熱入腑之源。表證已解，第以白虎加元麥湯，清燥而生津。氣虛者，加人參以益氣，以表解陽虛，恐其燥去而陽亡也。</p>
<p><u>白虎加元麥湯</u></p>
<p>石膏（五錢）　知母（三錢）　甘草（二錢，炙）粳米（一杯）　元參（三錢）　麥冬（八錢）</p>
<p>流水煎至米熟，取大半杯，熱服。</p>
<p>治溫疫太陽經罷，煩熱燥渴者。</p>
<p><u>人參白虎加元麥湯</u></p>
<p>石膏（五錢）　知母（三錢）　甘草（二錢，炙）人參（三錢）　元參（三錢）　麥冬（八錢）　粳米（一杯）</p>
<p>流水煎至米熟，取大半杯，熱服。</p>
<p>治溫疫太陽經罷，氣虛煩渴者。</p>

<h3>陽明經證</h3>

<h4>目痛鼻乾嘔吐泄利</h4>
<p>三陽之經，陽明為盛，足陽明從燥金化氣，太陽表邪不解，經熱內傳，火性就燥，必入陽明。陰盛於裡而陽盛於表，腑燥未作，經燥先動。「熱論」：二日陽明受之，其脈挾鼻絡於目，故身熱目痛而鼻乾，不得臥．是皆經絡燥熱之證也。</p>
<p>陽明主降，戊土右降，則金水收藏，相火歸根，故上焦清空而善容。陽明不降，金水失其收藏，膽木逆行，相火上炎，肺金被克，故目痛而鼻乾。膽木逆行，而賊胃土，胃氣壅遏，不能容受，故嘔吐而泄利，緣經邪郁迫其腑氣故也。</p>
<p><u>浮萍葛根湯</u></p>
<p>浮萍（三錢）　葛根（三錢）　石膏（三錢）　元參（三錢）　甘草（三錢）　生薑（三錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>治溫疫陽明經證，目痛鼻乾，煩熱不臥者。</p>
<p><u>浮萍葛根芍藥湯</u></p>
<p>浮萍（三錢）　葛根（三錢）石膏（三錢）　元參（三錢）　甘草（二錢，炙）　芍藥（三錢）　生薑（三錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>治溫疫陽明經證，泄利者。</p>
<p><u>浮萍葛根半夏湯　</u></p>
<p>浮萍（三錢）　葛根（三錢）　石膏（三錢）　元參（三錢）　甘草（三錢）　芍藥（三錢）　半夏（三錢）　生薑（三錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>治溫疫陽明經證，嘔吐者。</p>

<h3>陽明腑證</h3>

<h4>潮熱汗出譫語腹痛便秘</h4>
<p>病傳陽明之經，不得汗解，腑陽素旺之人，以經熱鬱蒸，而腑熱內作，開其皮毛，則見大汗，至於手足淋漓，表邪盡解，全是內傷矣，經氣發舒，無復郁迫，腑氣松暢，吐利皆安。汗愈泄而土愈焦，燥愈增而熱愈盛，每至申酉之交，應時發熱，如潮汐不爽，是謂潮熱。燥土消爍心液，於是譫語。燥矢壅遏腑氣，於是滿痛。遲則臟陰耗亡，營氣鬱陷，生死攸關，不可不亟下也。瀉以大小承氣，而加養陰涼血之味，臟陰續復，營郁外達矣。</p>
<p><u>調胃承氣加芍藥地黃湯</u></p>
<p>大黃（三錢，生）　甘草（二錢）　芒硝（三錢）　芍藥（三錢）　生地（八錢）</p>
<p>流水煎一杯，去渣，入芒硝，火化，溫服。</p>
<p><u>小承氣加芍藥地黃湯</u></p>
<p>大黃（五錢，生）　厚朴（三錢，生）　枳實（三錢，炒）　芍藥（三錢）　生地（一兩）</p>
<p>流水煎一杯，溫服。不便，再服。</p>
<p><u>大承氣加芍藥地黃湯</u></p>
<p>大黃（八錢，生）　芒硝（三錢）　厚朴（四錢）　枳實（四錢）　芍藥（三錢）　生地（一兩二錢）</p>
<p>流水煎一杯，去渣，入芒硝，火化，溫服。不下，再服。</p>

<h3>少陽經證</h3>

<h4>目眩耳聾口苦咽乾胸痛脅痞嘔吐泄利</h4>
<p>溫疫二日，陽明經熱不解，三日則入少陽之經。少陽以相火主令，足少陽以甲木而化氣於相火，傷寒之口苦咽乾而目眩者，皆相火之上炎也。其經自頭下項，行身之側，熱病之胸脅痛而耳聾者，皆膽木之逆行也。少陽在二陽之裡，三陰之表，陰盛則傳太陰之臟，陽盛則傳陽明之腑，少陽者，入腑入臟之門戶也。溫疫營鬱熱盛，火旺木枯，但傳胃腑而為熱，不入脾臟而為寒，傳胃則木邪逼土，腑氣鬱遏，而生吐利。是宜清散經邪，杜其入腑之路也。</p>
<p><u>柴芩栝蔞芍藥湯</u></p>
<p>柴胡（三錢）　黃芩（三錢）　半夏（三錢）甘草（二錢，生）　生薑（三錢）　大棗（三枚，劈）　芍藥（三錢）　栝蔞根（三錢）</p>
<p>流水煎大半杯，熱服，覆衣，飲熱粥，取微汗。</p>
<p>治少陽經溫疫，目眩耳聾，口苦咽乾，胸痛脅痞者。</p>
<p><u>大柴胡加元參地黃湯</u></p>
<p>柴胡（三錢）　黃芩（三錢）　半夏（三錢）芍藥（三錢）　枳實（三錢）　大黃（三錢）　生薑（三錢）　大棗（三枚）　元參（三錢）　地黃（三錢）</p>
<p>流水煎大半杯，溫服。</p>
<p>治少陽經溫疫傳陽明胃府，嘔吐泄利者。</p>

<h3>三陽傳胃</h3>
<p>溫病三陽經病，營鬱熱盛，勢必內傳胃腑。而胃陽素旺，燥熱感發，經腑同氣，表裡俱病。腑熱內遏，而臟陰消爍，過經不解，則臟腑鬱蒸，而人死矣。溫疫所最忌者，營熱不能外泄。其不外泄之由，全以衛盛而營衰，脾陰虛而胃陽旺也。若脾陰不衰，胃陽雖旺，六經既遍，邪欲內傳，而臟氣捍格，熱無內陷之隙，則蒸泄皮毛，發為斑點，而病解焉。溫疫之斑發而不死者，臟陰充足，外御經邪，而熱不內陷也。若一入胃腑，腑陽日盛，則臟陰日枯，不得不用瀉法。緩則瀉於經盡之後，急則瀉於經盡之前。腑熱一清，則經熱外達，而紅斑發矣。</p>

<h3>太陰經證</h3>

<h4>腹滿嗌乾</h4>
<p>太陰以濕土主令，其經自足走胸，行身之前，溫疫營鬱熱盛，三陰之經，化氣於三陽，故病傳大陰，則腹滿而嗌乾。陽明之燥氣太亢，則營熱內蒸，而殞性命，太陰之濕氣不枯，則營熱外達，而生斑點，溫疫所最懼者，濕衰而燥勝也。太陰經病，脾陰足以濟胃陽，則營熱不至於內蒸，自然發越於皮毛矣。</p>
<p><u>浮萍地黃湯</u></p>
<p>浮萍（三錢）　生地（三錢）　丹皮（三錢）　芍藥（三錢）　甘草（二錢）　生薑（三錢）　大棗（三枚）</p>
<p>流水煎大半杯，熱服。</p>
<p>治溫疫太陰經證，腹滿嗌乾者。</p>

<h3>少陰經證</h3>

<h4>口燥舌乾</h4>
<p>少陰以癸水而化君火，其經自足走腰，行身之後，溫疫發於春夏相火得令之時，火勝水衰，故口燥舌乾而渴。丁火太亢，則營鬱而內焚，癸水不枯，則斑生而熱退，溫疫之所最懼者，水敗而火勝也。少陰經病，腎水可以支相火，則營熱不至於內焚，自然宣泄於孔竅也。</p>
<p><u>浮萍天冬湯</u></p>
<p>浮萍（三錢）　天冬（三錢）　生地（三錢）　元參（三錢）　丹皮（三錢）　生薑（三錢）　栝蔞根（三錢）</p>
<p>流水煎大半杯，溫服。</p>
<p>治溫疫少陰經證，口燥舌乾而渴者。</p>

<h3>厥陰經證</h3>

<h4>煩滿發斑</h4>
<p>厥陰以風木主令，其經自足走胸，行身之側，循陰器而絡肝，故煩滿而囊縮。厥陰肝木，司營血而胎君火，溫疫之病，受在營血，則傳至厥陰，邪熱斯甚。若木榮血暢，經臟潤澤，營熱不能內傳，六經即遍，別無去路，則鬱極而發，蒸泄皮毛，而見紅斑。若營氣虛弱，不能遽發，過時斑見，而色帶紫黑，則多至不救。以其經熱鬱蒸，後期而發，營血傷敗，失其華鮮也。是宜清解涼血，使其營熱發達，此治厥陰溫疫之定法也。</p>
<p><u>浮萍當歸湯</u></p>
<p>浮萍（三錢）　當歸（三錢）　生地（三錢）　丹皮（三錢）　芍藥（三錢）　甘草（三錢，生）　生薑（三錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>治溫疫厥陰經證，煩滿發斑者。</p>

<h3>六經治法</h3>
<p>溫疫營鬱血熱，六日而至厥陰。六經既盡，陰氣續復，血熱外達，應見紅斑，斑生則熱退而病解矣。紅斑之後，繼以白斑。紅斑者，營血之外發，白斑者，衛氣之外泄。</p>
<p>寒疫營閉而衛郁，溫疫衛閉而營郁，營開而衛泄則為汗，衛開而營發則為疹。小兒寒疫，皮膚緻密，不得汗泄，則衛氣升騰，衝突皮膚而為痘，溫疫則大人小兒皆生疹點，無有異也。</p>
<p>溫疫之感，全在少陽厥陰兩經。厥陰職司營血，而營中之伏熱，則少陽之相火，而非但乙木所胎之君火也。若未滿六日，而表證已解，血熱未深，止是汗出，尚無紅斑也。六日而傳厥陰，血熱已深，是以表解而斑紅。若六日之外，過時而後斑發，營血鬱蒸，紅轉而紫，紫變而黑，則十不救一。</p>
<p>治法：六日之內，總宜透發肌表，以瀉血熱，至六日經盡之後，表藥更當急進，刻不可緩也。血熱不泄，立致殞亡，即泄之不透，隱見於皮膚之間，亦生風癩之疾，非細故也。</p>

<h3>停水不消</h3>
<p>溫疫固無入臟生寒之證，然亦不皆入腑而生內熱。其臟不寒而腑不熱，而經熱燔蒸，木火枯燥，煩渴飲冷，不能禁止。水積胃腑，停蓄不消，於是腹脅脹滿，小便不利，以土濕木鬱，疏泄之令不行也。</p>
<p>凡腑陽非旺，而病溫疫，無有不停水之證。此在傷寒，便是三陰四逆、真武諸病，以溫疫經熱勝其臟寒，故內寒不作，然至積水不消，則臟陰較甚於腑陽矣。</p>
<p>其表證未解，當以豬苓湯加浮萍，表裡雙解之。表解而斑發，則但以豬苓，瀉其積水也。</p>
<p><u>豬苓湯</u></p>
<p>豬苓（三錢）　茯苓（三錢）　澤瀉（三錢）　滑石（三錢，研）　阿膠（三錢，炒，研）</p>
<p>流水煎大半杯，入阿膠，消化，溫服。</p>

<h3>寒疫由來</h3>
<p>寒疫之證，寒熱無汗，得之於寒。其年金水不能斂藏，則人氣應之，多病寒疫，以孔竅開而寒氣閉之也。</p>
<p>金水收藏，因乎陽氣之右降。蓋純陽之位，而一陰已生，陰生必降，降則清涼而化燥金，積涼成寒，是為寒水。涼則收而寒則藏，陽氣封蟄於九地之下，皮毛秘密而不開，故弗傷於寒。金水不能斂藏，則陽氣上郁，而生外熱。腠理發泄，皮毛不閉，是以易傷於寒。</p>
<p>天人同氣，天地之金水不能斂藏，人物應之，而病寒疫，故多病於秋冬。其病於秋者，傷在庚金，病於冬者，傷在壬水也。</p>

<h3>表裡同異</h3>
<p>寒疫有傳經之證，傳經者，前三日則在三陽，後三日則在三陰，六日六經，人所同也，亦凡感病所同也。有傳腑傳臟之證，傳腑者，不拘何日，陽盛則內傳，陰盛者，不入於腑，傳臟者，不拘何日，陰盛則內傳，陽盛者，不入於臟，人所不同也，亦凡感病所不同也。蓋溫病原有內熱，必傳臟腑，不論傳腑傳臟，皆是熱證。傷寒原無內熱，陽旺而後傳腑，陰旺而後傳臟，入腑則為熱，入臟則為寒。溫疫亦無內熱，然營鬱熱盛，陽旺之家，則有入腑之熱，陰旺之家，亦無入臟之寒。寒疫亦無內熱，亦無內寒，不必定入於腑，不必定入於臟。但人不皆陽盛，不皆陰盛，不皆陽虛，不皆陰虛，故或入於腑，或入於臟，或不入腑，或不入臟。人各不同，法與傷寒無殊，但疫感天氣之非正，淫泆纏綿，較之傷寒，頗難驅逐，而其入臟入腑，亦半關歲氣之偏，不盡由人氣也。</p>

<h3>表解寒散</h3>
<p>寒性閉澀，血性發揚，發揚則竅開，閉澀則竅闔。平人之氣，營陰在內，衛陽在外，寒傷營血，閉其皮毛，衛氣陷於營陰之內，營陰閉藏，則生表寒。其陽盛者，三陰臟氣從陽而化熱，其陰盛者，三陽經氣從陰而化寒。陽盛則衛氣外發而汗出，陰盛則衛氣內陷而人亡，故寒疫之病，陽盛而外熱者吉，陰盛而內寒者凶。緣其病愈，必須汗出，而其汗出，全賴陽旺。使其裡氣平和，則但可解表，勿輕用硝黃誤下，以陷其衛陽也。若其里陽素盛，而表寒不解，以致裡熱郁發，則兼清裡熱，以解表寒。若里陽素虛，衛氣鬱淪，不能外發，但用表藥，猶難汗解，再事寒攻，則衛陽愈陷，禍變遂生。如其里陰鬱動，寒濕淫滋，當速用溫燥，以回陽氣，稍用瀉下之劑，則人隨藥斃，不可活矣。</p>

<h3>陽衰衛陷</h3>
<p>寒疫之病，在於氣分。寒本傷營，營傷而束其衛氣，是以病在氣分。肺藏衛氣，而陽明為化氣之原。胃以陽土而含陰氣，胃陰一降，則清涼而化肺金。寒疫之病，非第在肺，而實連於陽明，胃陽不虛，足以發越其衛氣，則衛郁外達而毛理泄。陽明胃腑，從燥金化氣，陽衰傳臟，燥化為濕，陰旺而生裡寒，則衛氣內陷，而不外達。寒疫之死，死於胃陽之虛，水土濕寒，而衛郁不能達也。</p>

<h3>傳經大凡</h3>
<p>寒疫傳經，亦與傷寒相同，一日太陰，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰。陽性熱而陰性寒，裡熱非盛，不入陽明之腑，內寒非盛，不入太陰之臟，始終在表，未嘗內陷，六日經盡，則邪退正復，汗出而愈矣。</p>
<p>其衛盛而感輕者，皮毛易泄，則先期而汗解。其衛虛而感重者，腠理難開，則過期而汗解。其衛弱郁深，不能遽發，往往振慄戰搖，而後汗出。</p>
<p>寒戰者，少陽之證，寒戰而不能發熱者，相火之虛，發熱而不能汗出者，表寒之盛也。少陽為陰陽之樞，寒極則入於太陰，熱極則入於陽明，故陰陽偏勝而內傳臟腑，多由少陽而入。入於臟腑，則解無定期而動致危亡，不可不慎也。</p>

<h3>陽旺傳腑</h3>
<p>腑陽素盛而經氣鬱遏，則裡熱感發而傳胃腑，腑陽長則臟陰消。凡人之病，陽長則安，陰長則危，傷寒三陽之少死者，因於陽長而陰消也。病傳胃腑，陽氣日長，自是吉事，但陽不可亢，亢則陰亡，而寓死機。胃土燥熱，攻下失期，陰精枯槁，亦成死證。是以入腑雖吉，不如在經之有吉而無凶也。</p>

<h3>陰盛傳臟</h3>
<p>臟陰素旺而經氣閉束，則內寒鬱動而傳脾臟，臟陰進則腑陽退。凡人之疾，陽進則安，陰進則危，傷寒三陰之多死者，以其陰進而陽退也。病傳脾臟，陰氣日進，最是險事，蓋陰不可勝，勝則陽敗，而無生望。脾土濕寒，溫補後時，陽氣消滅，則成死證。是以入臟則險，不如在腑之夷多而險少也。</p>

<h3>太陽經證</h3>

<h4>頭痛惡寒</h4>
<p>太陽之經，外在皮毛，實為六經之長。肺藏衛氣，肝藏營血，而總統於太陽。寒傷營血，裹束衛氣，不得外發，故閉藏而生表寒。其經自頭下項，行身之背，經氣上壅，故頭項痛而腰脊強。肺主衛氣，而開竅於鼻，衛氣遏閉，不能外泄，故逆行鼻竅，而生嗽嚏。衛氣逆行，不得下降，故胸膈鬱悶，而發喘促也。</p>
<p><u>紫蘇湯</u></p>
<p>蘇葉（三錢）　桂枝（三錢）　杏仁（三錢，泡）甘草（二錢，炙）</p>
<p>流水煎大半杯，熱服，覆衣，取汗。</p>
<p>治一日太陽寒疫，頭痛，發熱，惡寒者。</p>
<p>寒疫得之傷寒，亦是麻黃湯證。但不盡見於冰雪之天，非皆純寒，未必咸宜麻黃辛溫，故以桂枝瀉營血之郁，蘇葉、杏仁瀉衛氣之郁也。</p>

<h4>血升鼻衄</h4>
<p>太陽經病不解，衛郁莫泄，升逼營陰，則見衄證。以肺主衛氣，開竅於鼻，衛陽遏閉，不得外達，經脈莫容，上尋出路，沖其營血，是以上溢。血衄則衛郁發瀉，亦同汗解，但營血流漓，不無耗喪耳。</p>
<p>陽明傷寒，脈浮發熱，口乾鼻燥，能食者，則衄。方在太陽陽明，於其脈浮發熱、口乾鼻燥之時，早以紫蘇石膏地黃湯，瀉衛鬱而涼血熱，則血不上流矣。</p>
<p><u>紫蘇石膏地黃湯</u></p>
<p>蘇葉（三錢）　桂枝（三錢）　杏仁（三錢）　甘草（三錢，炙）　石膏（三錢，生，研）　生地（三錢）　麥冬（三錢）　丹皮（三錢）　生薑（三錢，切）　大棗（三枚，劈）</p>
<p>流水煎大半杯，熱服，覆衣，取汗。</p>
<p>治寒疫太陽經病不解，血升鼻衄者。</p>

<h4>水氣內停</h4>
<p>太陽膀胱，寒水之經，太陽經病，陽虛之人，多有水氣停瘀之證。或原無積水，而渴燥飲冷，蓄而不消。水氣阻格，肺胃上逆，則眩暈而嘔咳，肝脾下陷，則淋澀而泄利。外寒未解而里水又動，久而火敗土崩，則入三陰之臟，是宜外發表邪而內驅寒水也。</p>
<p><u>蘇桂姜辛湯</u></p>
<p>蘇葉（三錢）　桂枝（三錢）　甘草（二錢）　半夏（三錢，炮）　芍藥（三錢）　細辛（一錢）　乾薑（二錢）五味子（一錢）</p>
<p>流水煎大半杯，熱服，覆衣。若下利，加赤石脂一錢。若渴者，去半夏，加栝蔞根三錢。若小便不利，加茯苓三錢。若喘者，加杏仁三錢。若噫者，加附子三錢。</p>

<h4>煩躁發渴</h4>
<p>病在太陽，未應煩渴，設見煩渴，便是將入陽明之腑，以陽明燥氣，因表鬱而內發也。若表證已解，用白虎加元麥湯，清燥而生津。氣虛者，加人參以益氣，以汗後陽虛，恐其渴止而陽亡也。</p>
<p><u>白虎加元麥湯</u></p>
<p>石膏（三錢）　知母（三錢）　甘草（二錢）　粳米（一杯）　元參（三錢）　麥冬（五錢，去心）</p>
<p>流水煎至米熟，取大半杯，熱服。</p>
<p>治寒疫太陽經罷，煩躁發渴者。</p>
<p><u>人參白虎加元麥湯</u></p>
<p>石膏（三錢）　知母（三錢）　甘草（二錢）　粳米（一杯）　人參（三錢）　元參（三錢）　麥冬（五錢）</p>
<p>流水煎至米熟，取大半杯，熱服。</p>
<p>治寒疫太陽經罷，氣虛煩渴者。</p>
<p>寒疫之病，臟腑易生濕寒，燥熱者少，然白虎證亦恆有之，此法不可廢也。表證未解，加紫蘇三錢。</p>

<h3>陽明經證</h3>

<h4>嘔吐泄利</h4>
<p>陽明之經，在肌肉之分，皮毛之內，太陽表寒未解，以次相傳，二日則及陽明。其經挾口環唇，行身之前。經氣上壅，故鼻乾口燥而胸滿。陽明從燥金化氣，太陽以濕土主令，燥盛則傳腑而生熱，濕盛則入臟而生寒。衛氣之外發而汗解，全恃乎胃陽盛而燥氣長也。</p>
<p>胃者，水穀之腑，一傳陽明，必見嘔吐。以少陽膽木，本從胃土下行，陽明經病，不能順降，則膽木上逆，而克胃土，胃氣壅遏，失其容受之量，水穀在中脘以上者則為嘔吐，在中脘以下者則為泄利。嘔多則胃病，利多則脾病也。</p>
<p><u>紫蘇葛根升麻湯</u></p>
<p>蘇葉（三錢）　葛根（三錢）　桂枝（三錢）　芍藥（三錢）　甘草（二錢）　升麻（二錢）</p>
<p>流水煎大半杯，溫服。</p>
<p>治寒疫陽明經泄利者。</p>
<p><u>紫蘇葛根半夏湯</u></p>
<p>蘇葉（三錢）　葛根（三錢）　桂枝（三錢）　芍藥（三錢）　半夏（三錢）　生薑（三錢）　甘草（二錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>治寒疫陽明經嘔吐者。</p>

<h4>乾燥發渴</h4>
<p>陽明經病，而見燥渴，便是將入胃腑，用白虎加麥冬、元參，清肺金而潤臊。氣虛者，酌加人參。</p>
<p>蓋病入陽明，燥氣必作。燥必先見於庚金而後見於戊土，以燥乃庚金之令氣而戊土之化氣也。戊土之燥在腹，庚金之燥在胸。胸者，辛金之位，辛金本化氣於濕土，陽明旺則辛金不化己土之濕而化庚金之燥，是以燥見於胸。大腸者，庚金之腑，胸燥則腸燥可知矣。</p>

<h3>陽明腑證</h3>

<h4>潮熱汗出譫語腹滿便秘</h4>
<p>三陽以陽明為盛，經熱不解，轉入胃腑，陽鬱火旺，必作潮熱。每日申酉之交，煩熱倍加，如海水潮信，是名潮熱。熱蒸皮毛，汗出表解，津亡土燥，糟粕焦枯，不俟入腸，煉成結糞，堵塞下脘。胃熱鬱遏，上耗心液，於是譫語。胃氣閉壅，於是腹滿。遲而傷及三陰，脾陰爍則唇裂，腎陰枯則耳焦，肝陰涸則舌短，陰精竭流，則人死矣。是宜以承氣加元參。麥冬、白蜜，瀉其熱而潤其燥，雖用攻下，而不至亡陰也。</p>
<p><u>調胃承氣加麥冬元參湯</u></p>
<p>大黃（三錢）　芒硝（三錢）　甘草（二錢）麥冬（五錢）　元參（三錢）　白蜜（一杯）</p>
<p>流水煎大半杯，入白蜜，熱服。</p>
<p><u>小承氣加麥冬元參湯</u></p>
<p>大黃（四錢）　厚朴（三錢）　枳實（三錢，炒）麥冬（五錢）　元參（三錢）　白蜜（一杯）</p>
<p>流水煎大半杯，入白蜜，熱服。</p>
<p><u>大承氣加麥冬元參湯</u></p>
<p>大黃（三錢）　芒硝（三錢）　枳實（三錢）　厚朴（三錢）　麥冬（八錢）　元參（三錢）　白蜜（一杯）</p>
<p>流水煎大半杯，入白蜜，熱服。</p>

<h3>少陽經證</h3>

<h4>口苦咽乾目眩耳聾胸痛脅痞寒熱往來</h4>
<p>少陽甲木，從相火化氣，病則行其火令。其經起目銳眥，上絡於耳，下頸而合缺盆，行兩脅而走足。經氣逆升，滯塞胸脅，相火燔騰，是以口苦咽乾，目眩耳聾，胸痛而脅痞也。位居陽明之裡，太陰之表。太陰主營，陽明主衛。營陰外束，衛氣欲出而不能，鼓勃振動，則為寒戰，衛氣透發，則汗出，凡將汗而戰搖者，衛弱不能遽發也。衛陽內發，營氣欲出而不得，蓄積壅遏，則為發熱，營氣透發，則熱退，凡發熱而無汗者，營郁不能外達也。營衛交爭，迭為勝復，是以寒往而熱來，寒來而熱往。相爭之久，勝負遂分，寒勝則入於太陰，熱勝則入於陽明。入於太陰，則陽負而多危，入於陽明，則陰盡而亦凶。其於寒熱往來時，以小柴胡雙解表裡之邪，柴胡、黃芩，清瀉半表之陽，人參、甘草，溫補半里之陰，則無偏陰偏陽、內傳臟腑之患矣。</p>
<p><u>小柴胡湯</u></p>
<p>柴胡（四錢）　黃芩（三錢）　半夏（三錢）　人參（二錢）　甘草（二錢）　生薑（三錢）　大棗（三枚）</p>
<p>流水煎大半杯，熱服，覆衣。</p>

<h4>嘔吐泄利</h4>
<p>少陽經氣，隨陽明戊土下降，寒邪外束，甲木鬱塞，不能順降，逆侵戊土，戊土被賊，遂與少陽之經痞結胸脅，凡心胸痞塞、脅肋硬滿之證，皆少陽陽明兩經之上逆也。胃主受盛，戊土賊於甲木，腑氣鬱遏，不能容納水穀，故吐利並作。木賊土負，中氣被傷，陰虛則入陽明之腑，陽虛則入太陰之臟。方其木邪肆虐之時，下見泄利，則以黃芩湯清其相火，上見嘔吐，則以黃芩半夏生薑湯降其逆氣，其半在少陽之經，半入陽明之腑，則以大柴胡湯雙解經腑之邪，其半在少陽之經，半入太陰之臟，而下見泄利，則以柴胡桂枝幹薑湯溫其濕土，上見嘔吐，則以柴胡桂姜半夏湯降其逆氣也。</p>
<p><u>黃芩湯</u></p>
<p>黃芩（三錢）　芍藥（三錢）　甘草（二錢）　大棗（三枚）</p>
<p>流水煎大半杯，熱服。</p>
<p>治寒疫少陽經胸脅痞滿泄利者。</p>
<p><u>黃芩半夏生薑湯</u></p>
<p>黃芩（三錢）　芍藥（三錢）　甘草（二錢）　大棗（三枚）　半夏（三錢）　生薑（三錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>治寒疫少陽經胸脅痞滿嘔吐者。</p>
<p><u>大柴胡湯</u></p>
<p>柴胡（三錢）　黃芩（三錢）　半夏（三錢）　大棗（三枚）　芍藥（三錢）　枳實（三錢）　大黃（三錢）　生薑（三錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>治少陽經傳陽明腑，胸脅痞滿，嘔吐泄利者。</p>
<p><u>柴胡桂枝幹薑湯</u></p>
<p>柴胡（三錢）　黃芩（三錢）　甘草（二錢）　桂枝（二錢）　乾薑（三錢）　牡蠣（三錢）　栝蔞（三錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>治少陽經傳太陰臟，胸脅痞滿，泄利者。</p>
<p><u>柴胡桂姜半夏湯</u></p>
<p>柴胡（三錢）　黃芩（三錢）　乾薑（三錢）　桂枝（二錢）　甘草（二錢）　牡蠣（三錢）　栝蔞（三錢）　半夏（三錢）　生薑（三錢）</p>
<p>流水煎大半杯，溫服。</p>
<p>治少陽經傳太陰臟，胸脅痞滿，嘔吐者。</p>
<p>寒疫之少陽與傷寒之少陽，病同而法亦不殊。凡見少陽諸證，非內傳於腑，即內傳於臟。內連臟腑，而後少陽經證日久不罷，方宜小柴胡湯增減治之。若不連臟腑，而但經絡外病，則是三日少陽之證，總以太陽為主，第宜紫蘇湯發表，無事大小柴胡湯也。</p>

<h3>太陰經證</h3>

<h4>痛滿吐利</h4>
<p>寒疫傳經，四日而至太陰。脾陰非旺，終不入臟，脾陰一旺，則不拘何日，皆可內傳。太陰以濕土主令，表郁濕動，故病傳脾臟。土濕則中氣不運，傷寒太陰痛滿吐利之證俱起。衛氣鬱陷，皆因於此。當補火燥濕，以回脾陽，則衛氣發宣而不陷沒矣。</p>
<p><u>苓桂參甘厚朴湯</u></p>
<p>人參（三錢）　甘草（二錢）　乾薑（三錢）　茯苓（三錢）　桂枝（三錢）　厚朴（三錢）</p>
<p>流水煎大半杯，溫服。</p>
<p>治寒疫太陰腹滿者。</p>
<p><u>苓桂參甘椒附湯</u></p>
<p>人參（三錢）　甘草（三錢）　桂枝（三錢）　茯苓（三錢）　蜀椒（三錢，去目）　附子（三錢，炮）　芍藥（三錢）　粳米（半杯）</p>
<p>流水煎大半杯，溫服。</p>
<p>治寒疫太陰腹痛者。</p>
<p><u>參甘姜苓半夏湯</u></p>
<p>人參（三錢）　甘草（二錢）　茯苓（三錢）　乾薑（三錢）　半夏（三錢）　生薑（三錢）</p>
<p>流水煎大半杯，溫服。</p>
<p>治寒疫太陰嘔吐者。</p>
<p><u>茯苓四逆加赤石脂湯</u></p>
<p>人參（三錢）　甘草（二錢）　乾薑（三錢）　茯苓（三錢）　附子（三錢）　赤石脂（三錢，生，研）</p>
<p>流水煎大半杯，溫服。</p>
<p>治寒疫太陰泄利者。</p>

<h3>少陰經證</h3>

<h4>厥逆吐泄</h4>
<p>寒疫傳經，五日而至少陰。腎陰非旺，終不入臟，腎陰一旺，則不拘何日，皆可內傳。少陰以癸水而化君火，病則水旺而火衰，以水能勝火而火不勝水，自然之勢也。表郁寒作，故病傳腎臟。水寒則侮土滅火，傷寒少陰厥逆吐泄之證俱起。衛氣陷敗，全由於此。當補火瀉水，以回腎陽，則衛氣發達而不陷亡矣。</p>
<p><u>茯苓四逆加半夏湯</u></p>
<p>人參（三錢）　茯苓（六錢）　甘草（三錢）　乾薑（三錢）　附子（三錢）　半夏（三錢）</p>
<p>流水煎大半杯，溫服。</p>
<p>嘔吐與泄利並見，加赤石脂。但見泄利，用茯苓四逆加赤石脂湯。方在「太陰」。四肢厥冷，蜷臥惡寒，而不吐泄，但用茯苓四逆湯治之。</p>

<h3>厥陰經證</h3>

<h4>厥逆發熱消渴吐泄</h4>
<p>寒疫傳經，六日而至厥陰。肝陰非旺，終不入臟，肝陰一旺，則不拘何日，皆可內傳。厥陰以風木主令，下為腎水之子，上為君火之母，病則水火不交，下寒上熱。水勝則厥生，火復則熱發，厥而陽絕則死，熱而陽回則蘇。</p>
<p>寒疫之在少陰，但有厥逆，一傳厥陰，厥逆之極，多見發熱。其厥逆者，母氣也，其發熱者，子氣也。厥為死機，熱為生兆，厥熱勝復之際，不可不察也。</p>
<p>風木之性，疏泄而枯燥，土濕水寒，木鬱風動，腸竅疏泄，則為泄利，肺津枯燥，則為消渴。風木者，脾土之賊，其死者，死於水旺而土負，其生者，生於火旺而土勝。厥陰之泄利消渴日甚不已者，水勝而火息，土敗而木賊也。暖水以榮木，補火以生土，厥陰之法，不外此矣。</p>
<p><u>茯苓參甘姜附歸脂湯</u></p>
<p>人參（三錢）　甘草（二錢）　茯苓（三錢）　桂枝（三錢）　乾薑（三錢）　附子（三錢）　當歸（三錢）　赤石脂（三錢）</p>
<p>流水煎大半杯，溫服。</p>
<p>治寒疫厥陰厥逆泄利者。</p>
<p><u>參甘歸芍麥冬栝蔞湯</u></p>
<p>人參（三錢）　甘草（三錢，生）　當歸（三錢）　芍藥（三錢）　麥冬（三錢）　栝蔞根（三錢）</p>
<p>流水煎大半杯，熱服。</p>
<p>治寒疫厥陰發熱消渴者。</p>

<h3>三陰治法</h3>
<p>傷寒三陰之病，皆三陰臟證而非經證。經證者，四日太陰，五日少陰，六日厥陰，但在三陰之經，不入三陰之臟，法以太陽為主，不論何日，總是麻黃湯證，不必另立三陰之門也。仲景三陰諸法，原為三陰臟病而設。寒疫亦然，其但在三陰之經，總是紫蘇湯證，以其離經而入臟，不得不另立專法也。</p>
<p>其傳經而不傳臟者，六日經盡，自能汗解。緣里陽不虛，衛無內陷之由，正復邪衰，自然外發。凡過期纏綿，不得汗解者，皆陰盛而入臟也。陽盛入腑，則潮熱汗出而不解，陰盛入臟，則厥冷無汗而不解。寒疫入腑者少，入臟者多。溫疫之死，死於陽旺而入腑，寒疫之死，死於陰旺而入臟。小兒痘病，即大人之寒疫，其陽虛衛陷，痘瘡癢塌而死者，皆陰盛而入臟也。</p>
<p>寒疫之感，受在太陽少陰兩經。寒水之氣旺，感於太陽之經，則傳於少陰之臟。少陰主水，五臟之陰，莫盛於少陰，太陰厥陰之病，悉因少陰之水旺，瀉癸水而益丁火，三陰之通法也。</p>

<h1>卷三</h1>
<p>小兒痘病，既大人寒疫。寒傷營血，營閉而衛郁，衛氣外發則生，內陷則死。非解仲景《傷寒》，不知寒疫，非解寒疫，不知痘病。但以先聖無言，古經闕載，後世庸工，未燭厥理，涉水迷津，鑿山罔道，靈關弗啟，玄鑰難開，篇章累架，悉憑虛公子之言，著作連箱，皆烏有先生之論，致令孩提不祿，襁負夭亡，方出人關，已登鬼錄，縱使昔之壽民，且為今之殤子。痛此億萬嬰童，橫罹冤酷，怛然悲惋，心折骨驚，作痘病解。</p>

<h2>痘病解第三</h2>

<h3>痘病根原</h3>
<p>痘病者，寒疫之傷營血也。此因木火發泄，營陰不斂，是以寒侵於血分。寒傷大人，則為寒疫，小兒則為痘證，其病一也，而證則異焉。</p>
<p>氣統於肺，血藏於肝，肺氣清涼而降斂，肝血溫曖而升發，自然之性也。血性宣揚而寒性閉澀，寒傷營血，閉其皮氣，營愈閉而愈欲發，發而不透，外束衛氣，故衛鬱而為熱。六日經盡，衛氣鬱隆，發於汗孔，形同豆粒，是以名痘。小兒寒水蟄藏，相火未泄，皮毛之密，異於大人，故感冒寒疫，衛鬱而痘發。痘粒圓滿，衛郁散布，則熱退而病除矣。</p>
<p>小兒未嘗不感傷寒，而未始病痘，至寒疫之邪，纏綿固澀，最難解散，小兒肌膚斂密，感之則痘生焉。</p>
<p>嶺南塞北，不見此病。地暖則孔竅不閉，地寒則皮毛不開，故感而不傷也。</p>

<h3>痘病消長</h3>
<p>小几寒疫傳經，亦同大人，一日太陽，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰。六經俱盡，衛氣外發，而生痘粒，一經之郁散，則一經之病解。七日太陽病衰，八日陽明病衰，九日少陽病衰，十日太陰病衰，十一日少陰病衰，十二日厥陰病衰，衛氣盡達，而痘愈矣。</p>
<p>陽盛者，經陽司氣而熱鬱於外，陰盛者，臟陰當權而寒鬱於內，陽盛則紅白而起發，陰盛則紫黑而塌陷，以陽長而陰藏，其性然也，起發則生，塌陷則死，故陰不可長而陽不可消。陽莫盛於陽明，陰莫盛於少陰，陽盜則陽明之經病也，陰盛則少陰之臟病也。臟陰太盛，寒及於經，而絡中之陽亦消，經陽太盛，熱連於腑，而臟中之陰亦耗。臟寒則宜溫補，而腑熱不可寒瀉，補則衛發而痘長，瀉恐衛陷而痘消。明於消長之理，崇陽明而黜少陰，痘家不易之法也。仲景《傷寒》「少陰」之篇：少陰負趺陽者，為順也（趺陽，胃脈）。實痘病之玉策金繩也。</p>

<h3>熱吉寒凶</h3>
<p>痘發於陽盛而外熱，陷於陰盛而內寒，是以感病之時，熱甚者吉，熱微者凶。</p>
<p>發熱三日，三陽之盛也。發熱二日，則太陽之陽虛，故一日不熱。發熱一日，則陽明之陽虛，故二日不熱。陽虛則衛郁不發，即暫時略發，而究不茂長，終必塌陷。一入三陰之臟，熱退寒生，死不可醫矣。</p>
<p>陽貴陰賤，凡病皆然，至於痘家，尤為甚焉。陰貴之證，除溫病、溫疫、傷寒陽明實證外，他未嘗有也。是以三陽之經熱，痘家之生途，而一見少陰之寒來，即寓死機，恐其寒來而熱不繼發也。三陰之臟寒，痘家之死路，而一見厥陰之熱發，即為佳兆，喜其熱發而寒不再來也。其陽復而熱過者，疳蝕癰潰，不無後患，然既已出死路而登生途，縱治法乖違，未免損傷，究為肢體殘缺之人，猶勝作官骸周全之鬼也。</p>

<h3>抑陰扶陽</h3>
<p>痘家自始至終，全賴陽旺。陽減一分，則其異時發達收結，必有一分欠缺。其甚則紅紫凹塌，而衛氣不升。其次則灰色平陷，而衛氣不長。其次則泡殼空虛，而衛氣不充。其次則皮膚脆嫩，而衛氣不斂。衛有不到之處，即人有危亡之憂。縱毫無欠缺，痂退病除，而瘢色老嫩，猶關性命。</p>
<p>黑者上吉，紅者無慮，白者終凶。黑者，陽旺而熱盛也，紅者，陽平而熱調也，白者，陽虛而熱敗也。</p>
<p>凡見諸證，當竭力扶陽，以挽末路。惟煩熱頻作，痘色枯焦，此少陽相火之旺，厥陰風木之郁。緣木司營血，而主色澤，血虛不能華色，而風木消爍，愈失光潤，故見枯焦。宜以柴胡、黃芩、地黃、芍藥，瀉相火而滋風木。</p>
<p>肌膚自華，原非下證，痘家誤服硝黃而反起發豐潤者，正是此種。此是誤用而誤效，雖能奏效，究竟是誤。庸工見其偶效，以為痘有下證，死有餘辜者也。</p>

<h3>太陽經證</h3>

<h4>頭痛腰痛發熱惡寒嗽喘嚏噴</h4>
<p>太陽在六經之外，皮毛之分，次則陽明，次則少陽，次則太陰，次則少陰，次則厥陰，近於骨矣。衛司於肺，營司於肝，營行脈中，衛行脈外，而總統於太陽。</p>
<p>寒自外感，而傷營血，故太陽先病。寒性閉澀，竅開寒入，閉其皮毛，血不得泄，是以傷營，陰內陽外，氣之常也。寒傷營血，皮毛閉塞，營陰欲泄，膚無透竅，外乘陽位，束其衛氣，衛氣內郁，則遏閉而為熱，營血外束，則收藏而為寒，陰陽易位，彼此纏迫，故發熱而惡寒也。太陽之經，自頭下項，行身之後，經氣迫束，故頭項腰脊骨節俱痛也。皮毛外闔，肺氣壅遏，逆行上竅，泄之不及，故嗽嚏喘促也。營血遏郁，木氣不暢，肝木不升，則振撼而為悸，膽木勿降，則懸虛而為驚也。足少陽行於耳後，手厥陰行於中指，少陽之相火上逆，故耳後筋紅，厥陰之相火下陷，手厥陰亦為相火。故中指節冷也。</p>
<p>營為寒侵，束閉衛氣，衛氣不達，鬱而生熱，是營傷而衛病也。宜紫蘇湯，蘇葉發其皮毛，杏仁利其肺氣，桂枝通經而行營血，甘草培土而補中氣，使寒隨汗散，營開而衛泄，則不生痘病矣。</p>
<p><u>紫蘇湯</u></p>
<p>蘇葉（三錢）　桂枝（一錢）　杏仁（二錢，泡）甘草（一錢，炙）</p>
<p>流水煎半杯，熱服，覆衣，取汗。</p>
<p>治小兒寒疫太陽經證，而未成痘者。</p>
<p>冬月寒盛，須以麻黃髮之。</p>

<h4>陰陽盛衰</h4>
<p>太陽一經，三陽三陰之綱領也，陽盛則外傳三陽之經，陰盛則內傳三陰之臟。陽盛者，三陽當令，經熱外發，則臟陰退避，而內寒不生，陰盛者，三陰司權，臟寒內動，則經陽敗沒，而外熱不作。陽盛則善長，故紅腫而外發，陰盛則善藏，故黑塌而內陷。外發則衛氣升達而人生，內陷則衛氣淪亡而人死。陽盛者順，陰盛者逆，自然之理也。究之病在太陽，不早解表寒，其內傳六經，衛郁痘發，已為順中之逆。若於痘形未見之先，早以表藥解之，令其寒散衛泄，痘粒不生，是為順中之順也。</p>
<p>庸工謬妄，以為臟腑之毒，不知解表，而又以寒瀉，敗其胃氣，小兒夭枉，千載奇冤。此輩穰穰，何可勝誅也。</p>

<h4>停水不消</h4>
<p>太陽膀胱，職司水道，陽衰土濕之家，水不歸壑，乘表寒外閉，里水鬱發，逆行陽位，客居心下。或原無停水，而渴飲茶湯，蓄積不化。水氣阻格，肺胃不降，多生嘔噦咳喘之證，肝脾不升，多有泄利淋澀之條。水旺則火土雙敗，異日黑陷之基，實伏於此。是宜表裡雙解之蘇桂姜辛湯，蘇葉瀉其衛氣，桂枝行其營血，甘草培土，芍藥瀉木，半夏、細辛、乾薑、五味，降沖逆而止咳嘔，裡氣調而表郁宣，積水化汗，泄於皮毛矣。</p>
<p><u>蘇桂姜辛湯</u></p>
<p>蘇葉（三錢）　桂枝（一錢）　甘草（一錢）　芍藥（一錢）　半夏（二錢，洗）　細辛（一錢）　乾薑（一錢）　五味（一錢）</p>
<p>流水煎半杯，熱服，覆衣。</p>
<p>治太陽經證痘未發，而有水氣停阻者。</p>
<p>若下利，加赤石脂一錢。若渴者，去半夏，加栝蔞根二錢。若小便不利，加茯苓二錢。若喘者，加杏仁一錢。若噫者，加附子一錢。</p>

<h4>煩渴發熱</h4>
<p>太陽未傳陽明，不作煩渴，內連陽明，衛郁發熱，而外泄無路，煩渴乃生，以胃腑燥氣，因表鬱而里應也。此在大人，或有表解而病此者，小兒不得汗泄，必連表證。宜白虎加元麥紫蘇湯，清金而發表。氣虛者，加人參以益氣，防其渴止陽亡而衛氣虛敗也。</p>
<p><u>白虎加元麥紫蘇湯</u></p>
<p>石膏（二錢，生）　知母（一錢）　甘草（一錢）粳米（半杯）　元參（一錢）　麥冬（三錢，去心）　紫蘇（三錢）</p>
<p>流水煎至米熟，取半杯，熱服，覆衣。</p>
<p>治太陽經證未解，而見煩渴者。</p>
<p><u>人參白虎加元麥紫蘇湯</u></p>
<p>石膏（一錢）　知母（一錢）　甘草（一錢）　粳米（半杯）　人參（一錢）　元參（一錢）　麥冬（三錢）　紫蘇（三錢）</p>
<p>流水煎至米熟，取大半杯，熱服，覆衣。</p>
<p>治證同前，而氣虛者。</p>
<p>寒疫之證，臟腑亦生濕寒，燥熱者頗少。小兒相火未泄，陽旺之人，多有此證，白虎法不可不備也。</p>

<h4>血升鼻衄</h4>
<p>太陽未傳陽明，衛郁非盛，尚無衄證，一傳陽明，衛氣鬱遏，經絡勿容，逆循鼻竅，沖逼營血，則見衄證。衄則衛郁升泄，痘可不生。然衄解較之汗解，損傷頗重，且恐衛郁不盡發泄，而衄後陽虛，痘不茂長，則反壞大事。於其脈浮發熱，鼻燥口乾，衛郁欲衄之時，以紫蘇石膏地黃湯，瀉衛鬱而涼血蒸，表解汗泄，則衄證免矣。</p>
<p><u>紫蘇石膏地黃湯</u></p>
<p>蘇葉（三錢）　桂枝（一錢）　杏仁（一錢）　甘草（一錢）　石膏（一錢）　生地（一錢）　麥冬（三錢）　丹皮（一錢）　生薑（一錢）　大棗（一枚）</p>
<p>流水煎半杯，熱服，覆衣。</p>
<p>治太陽將傳陽明，脈浮發熱，鼻燥口乾，欲作衄證者。</p>

<h3>陽明經證</h3>

<h4>嘔吐泄利</h4>
<p>陽明之經，在肌肉之分，皮毛之內，太陽經病，以次相傳，二日則及陽明。其經挾口環唇，行身之前，經氣上壅，故鼻乾口燥而胸滿。胃者，水穀之府，一傳陽明，必見吐泄。以少陽甲木，從陽明戊土下行，表寒束迫，陽明經氣不能順降，壅礙甲木下行之路，甲木鬱遏，而賊戊土，胃腑被逼，失其容受之量，水穀在中脘以上者則為嘔吐，在中脘以下者則為泄利。</p>
<p>嘔利者，入腑入臟之先機也。陽明胃腑，從燥金化氣，太陰脾臟，以濕土主令，陽盛則嘔泄亡陰，入腑而生熱，陰盛則吐利亡陽，入臟而生寒。</p>
<p>寒疫之病，大人衛泄而汗解，小兒衛發而痘生，全恃乎胃陽盛而燥氣長也。於其嘔泄方作之時，扶陽明而抑太陰，一定之法也。</p>
<p><u>紫蘇葛根升麻湯</u></p>
<p>蘇葉（三錢）　葛根（二錢）　桂枝（一錢）　芍藥（一錢）　甘草（一錢）　升麻（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治陽明經泄利者。</p>
<p>紫蘇葛根半夏湯</p>
<p>蘇葉（三錢）　葛根（三錢）　桂枝（一錢）芍藥（一錢）　半夏（二錢）　生薑（一錢）　甘草（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治陽明經嘔吐者。</p>

<h4>發熱出痘粒滿痂生</h4>
<p>小兒痘證，原於衛郁，衛陽極盛，而後外發。陽莫盛於陽明，表寒外束，陽氣鬱隆，是以發熱。日傳一經，而至少陽，三陽俱病，衛郁盛發，故發熱三日，而見痘形。四日太陰，五日少陰，六日厥陰，正陽當令，六經俱周。三陽不消，三陰不長，衛氣鬱滿，經脈莫容，既無內陷之竅，自當外尋出路，而發於汗孔，汗孔一開，衛氣外泄則為汗。寒束竅閉，汗孔莫開，衛氣升騰，衝突皮膚，穹隆起發，是以成痘。</p>
<p>痘者，衛郁外發，而不得汗泄者也。此在大人，經脈疏闊，而衛氣虛損，六日之內，滿而不實，經盡之後，又能汗解，故無痘證。小兒衛盛陽滿，竅隧緊密，外感寒淫，肌表不泄，與大人同病，而證狀懸絕，發為顆粒，此痘病之原由也。</p>
<p>衛氣莫泄，發越豐隆，再三日而痘粒完滿，再三日而衛郁透徹，痂生熱化，病退而人安矣。</p>
<p>凡諸瘡疿，血肉腫潰，膿成必泄。痘粒之腫，不關血肉，只是衛氣衝騰，皮膚泡起。經陽升發，氤氳靉靆，影影如漿，其實非膿。經熱外爍，皮膚焦結，痂落皮損，是以成麻。計其起落，十有二日，而後病愈。</p>
<p>大人病此，多愈於六七日之間者，六經既遍，邪退正復，自能汗解。小兒無汗，衛氣不泄，是以再加六日，衛郁發盡，結為痘證，粒滿痂生，而後病退。其衛盛者，六七八日經盡而即起，其衛虛者，十七八日三經周而後平也。</p>

<h4>紅白消長</h4>
<p>痘病衛郁營內，外發則生，內陷則死，而其外發之權，全賴乎陽明之經。營生於太陰，衛化於陽明，肝藏血而脾乃生血之本，肺藏氣而胃為化氣之原也。</p>
<p>營內衛外，自然之位，寒傷表閉，衛氣不得外行而反內郁，營血不得內守而反外束。衛氣發於營血之內，是以痘粒初生，營血包裹，全是紅色。太陰虛而陽明盛，則衛陽外發而營不得閉。方其初發，重圍未透，營血朦朧，紅不遽退。及其升發散越，透徹無郁，營陰退落，紅線繞根，光圓白潤，血色全消矣。衛統於肺而外司皮毛，衛虛則泡殼清薄，衛盛則泡殼蒼厚，陽氣醇濃，霧灑煙霏，遊溢升騰，鬱郁藹藹。衛氣全升，經熱盡泄於痘泡之內，郁消熱化，殼硬皮焦，痂落瘡平，初於經臟無傷也。太陰盛而陽明虛，則營陰外閉而衛不能發。縱竭力升發，而群陰障蔽，不得外達，血色迷濛，久而莫消。衛氣鬱抑，勢必內陷，衛陷則痘粒癢塌，而命殞矣。</p>
<p>衛鬱則紅變而紫，衛陷則紫轉而黑。庸愚見其紅紫，以為血熱毒深，而用涼解之劑，助其內陷，赤子夭殤，禍流千載。念之眥裂冠沖，輒欲死鞭其屍，生拔其舌！悠悠蒼天，此恨何極也！</p>
<p><u>參耆丹桂紅藍湯</u></p>
<p>人參（二錢）　黃耆（二錢）　桂枝（一錢）　芍藥（一錢）　甘草（一錢）　丹皮（二錢）　紅花（一錢）</p>
<p>流水煎半杯，熱服。</p>
<p>治色紅過經不退者。</p>

<h4>發紫變黑頂平根散</h4>
<p>痘粒初生，營陰閉束，衛氣衝發，紅點外形。及至衛氣盛發，突圍而出，營血退縮，周外環繞，痘泡圓白，紅根如線。其紅根之緊細者，衛氣之沖逼也，其白泡之豐圓者，營血之斂束也，此為營衛之俱盛。</p>
<p>營衰則紅根散漫，斂束不緊，衛衰則白頂灰平，升發不快，營衛俱衰，則頂平而根散，不能圓緊也。其衛氣更虛者，重圍不透,　血色終存。衛氣怫鬱，燥悶煩渴，則紅變而紫。及其陷沒，則紫變而黑。其極虛者，一郁遂陷，不作熱煩，則紅變而黑，紫不久駐。其紅其紫其黑，皆陰盛陽虛，衛氣不能外發也。</p>
<p><u>參耆桂麻湯</u></p>
<p>人參（二錢）　甘草（一錢）　黃耆（三錢）　桂枝（一錢）　升麻（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治頂平者。</p>
<p><u>參歸芍藥湯</u></p>
<p>人參（一錢）　甘草（一錢）　當歸（三錢）　芍藥（三錢，醋炒）</p>
<p>流水煎半杯，溫服。</p>
<p>治根散者。</p>
<p><u>參耆藍蘇石膏湯</u></p>
<p>人參（三錢）　甘草（一錢）　黃耆（三錢）　石膏（二錢）　蘇葉（三錢）　紅花（二錢）　升麻（一錢）　丹皮（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治色紫而煩渴者。</p>
<p>如無煩渴，去石膏。</p>

<h4>郁重粒多矇頭鎖項抱鼻環唇腫消眼閉</h4>
<p>痘病營閉衛郁，郁輕者稀，郁重者密。密之極者，衛郁不能盡發，危證也！此當用清補溫散之劑，使衛旺表疏，陽郁盡發，不至死也。矇頭鎖項者，足三陽之不降也。手之三陽，自手走頭，足之三陽，自頭走足，而總由於項。陽根下弱，營陰閉束，經氣不降，故頭項偏多。太陽在後，陽明在前，少陽在側，各有其部，而悉緣陽明之弱。陽明者，三陽之長，陽明不降，故太少二陽逆行而上也。抱鼻環唇者，陽明之不降也。手足陽明之經，挾鼻環唇，陽明不降，故環抱於口，亦以陽明之虛也。四肢秉氣於脾胃，脾旺則氣達手足之掌，胃旺則氣達手足之背。足之三陰，皆隨太陰而上升，足之三陽，皆隨陽明而下降。太陰主營，陽明主衛，痘者衛氣之郁發，則關乎陽明而不關乎太陰，衛氣晝行於六陽，夜行於六陰，手足背外之痘，陽明之氣也，手足掌內之痘，亦陽明之氣也。陽明旺則發布於手足，陽明虛則上壅於頭面。此當補陽明以壯衛氣，使衛氣四達，亦可生也。其升發之時，郁重粒多，頭面偏密者，膚腫眼合，自是常事，若腫消而眼閉者，即衛氣之陷也。亦當補陽明以益衛，疏太陰以開營，使營散而衛發，萬無一失也。</p>
<p><u>參耆姜蘇石膏湯</u></p>
<p>人參（二錢）　甘草（一錢）　黃耆（三錢）　石膏（一錢）　大棗（三枚）　蘇葉（三錢）　生薑（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治痘密者。</p>
<p><u>參甘苓夏湯</u></p>
<p>人參（三錢）　甘草（二錢）　茯苓　（三錢）　半夏（三錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治痘抱鼻環唇者。</p>
<p><u>參耆麻桂紅藍湯</u></p>
<p>人參（三錢）　甘草（一錢）　黃耆（三錢）　桂枝（一錢）　丹皮（一錢）　紅花（一錢）　升麻（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治腫消眼閉者。</p>

<h3>陽明腑證</h3>

<h4>潮熱譫語腹痛便秘</h4>
<p>痘粒外發，全賴陽明之旺，陽氣太盛，則自陽明之經，而入陽明之腑。寒疫陰盛而入臟者多，陽盛而入腑者少，痘病之死，皆由陰盛而陽陷也。陽盛入腑，萬不一死，是為上吉，但腑燥便結，陽氣過亢，亦當滋其腸胃，以救臟陰，不可輕用承氣。傷寒表證未解，誤服下藥，陷其表陽，則生結胸心痞諸變，寒疫亦然。痘病衛氣升達，最忌表陽內陷，承氣之證，未易多見也。設其譫語潮熱，腹痛便澀，恐其土燥陰亡，不得不瀉，則以承氣而加滋潤之藥，下其糟粕，以瀉胃熱，而不至傷其精氣。自非然者，硝黃枳樸，寒瀉脾胃之劑，不宜孟浪也。蓋大人寒疫，而傳胃腑，胃陽郁發，毛理蒸泄，表寒盡解，全是內熱。汗去土焦，燥糞堵塞，不用攻下，胃火燔蒸，無從渫越。遲恐三陰枯槁，精液消亡，故有緩攻之法，又有急下之條。小兒寒束表密，汗液未亡，金土燥熱，不至如大人之甚，緩攻之疾，固宜詳審，急下之病，更當斟酌。以承氣之法，能亡陽盛之微陰，最瀉陰盛之微陽，小兒一線生陽，甚易撲滅，而痘粒發達，專憑胃氣，倘其一下而衛陷，則大事壞矣。</p>
<p><u>天地蓯蓉湯</u></p>
<p>生地（三錢）　天冬（二錢）　甘草（一錢，生）　肉蓯蓉（三錢）　麻仁（二錢，炒，研）　白蜜（半杯）　阿膠（二錢，炒，研）　當歸（二錢）</p>
<p>流水煎一杯，分服。</p>
<p>治陽明腑證，胃燥便結，不必攻下者。</p>
<p>傷寒表寒未解，無服承氣之法，服則表陽必陷，禍變即生。小兒痘病，以不得汗泄，故衛氣鬱沖，而發顆粒，無表解出痘之理。而痘粒升達，全恃衛氣，衛氣發越，專賴胃陽。一服下藥，胃陽敗瀉，衛氣必陷，竊謂痘病，必無服承氣之法。設其胃燥便結，確有下證，用蓯蓉滋潤腸胃，以滑大便，不可輒用寒瀉也。</p>
<p><u>小承氣加生地蓯蓉湯</u></p>
<p>大黃（三錢）　厚朴（二錢，炒）　枳實（二錢，炒）肉蓯蓉（三錢）　生地（三錢）　白蜜（半杯）</p>
<p>流水煎大半杯，分，熱服。</p>
<p><u>調胃承氣加生地蓯蓉湯</u></p>
<p>大黃（二錢）　甘草（一錢）　芒硝（二錢）　肉蓯蓉（三錢）　生地（三錢）　白蜜（半杯）</p>
<p>流水煎大半杯，分，熱服。</p>
<p><u>大承氣加生地蓯蓉湯</u></p>
<p>大黃（三錢）　枳實（二錢）　芒硝（二錢）　肉蓯蓉（三錢）　生地（三錢）　白蜜（半杯）　厚朴（二錢）</p>
<p>流水煎大半杯，分，熱服。</p>
<p>痘病陽盛則吉，陰盛則凶，凡諸死證，皆由陰盛而衛陷，斷無陽旺而人亡者。寒疫臟寒者多，腑熱者少，即其陽旺入腑，而表寒未解，亦無服下藥之法。余謂痘家縱有承氣證，必不可服承氣湯，存此承氣三法，以備非常之變，非為尋常痘證設也。</p>
<p>乃有妖魔下鬼，無知造孽，妄作《瑣言》、《正宗》諸書，以禍天下。群愚貿昧，醉夢習之，動以大劑硝黃，斃人性命。天道神明，人不可以妄殺，此輩只可擔糞，何敢業醫！窮凶肆虐，罪大惡極，生無人誅，死逃鬼責，吾不信也！</p>

<h3>少陽經證</h3>

<h4>驚悸吐泄寒戰發熱</h4>
<p>少陽之經，在筋脈之分，肌肉之內，陽明經病，以次相傳，三日則及少陽。其經自目循耳，行身之側，下頸而合缺盆，由胸而走脅肋，從相火化氣，右降而歸癸水。病則經氣不降，逆克戊土，陽明壅塞，心胸滿脹，愈阻少陽降路，遂與陽明之經，痞結心胸脅肋之間，故有脅痛心痞之證。相火上炎，濁氣升騰，故有口苦咽乾，目眩耳聾之條。戊土困於甲木，胃腑逼窄，水穀莫容，故作吐泄。吐泄亡陰，則入陰明之腑，吐泄亡陽，則入太陰之臟。入臟入腑，裡氣鬱滿，而表氣壅礙，則有少陽諸證。若臟腑松暢，中氣調和，但傳少陽之經，諸證不作也。　少陽甲木，生於壬水而降於癸水，而其下行，則隨戊土，戊土下降，而甲木從之，水土栽培，根本不搖，是以膽壯。陽明既病，兩經俱逆，膽木虛飄，故生驚悸。位居陽明之裡，太陰之表，太陰主營，陽明主衛，營陰外束，衛氣欲出，鼓盪振搖，則為寒戰。衛氣鬱發，陽勝而熱，則寒往矣，勝極而衰，營陰閉藏，又復如初，陰勝而寒，則熱往矣，故少陽之經，有寒熱往來之證。營衛相爭，久分勝負，寒勝則入於太陰，熱勝則入於陽明。入於陽明，則有生而無死，入於太陰，則有死而無生。其入臟入腑，或死或生之機，總卜寒熱之勝負，當其熱來而寒往，即為陽勝之徵，及其熱往而寒來，便是陰勝之候。最可慮者，寒來而熱不能來，熱往兩寒不能往也。</p>
<p>其在大人，寒戰而熱來，即望汗解，其在小兒，寒戰而熱來，即望痘生，往來寒熱，勝負之際，不可以不察也。</p>
<p><u>小柴胡湯</u></p>
<p>柴胡（三錢）　黃芩（一錢）　人參（一錢）　甘草（一錢）　半夏（三錢）　生薑（二錢）　大棗（三枚）</p>
<p>流水煎半杯，溫服。</p>
<p>治寒熱嘔吐者。</p>
<p><u>柴胡芍藥石膏湯</u></p>
<p>柴胡（三錢）　黃芩（三錢）　人參（一錢）　甘草（一錢）　半夏（二錢）　生薑（二錢）　大棗（三枚）　芍藥（二錢）　石膏（二錢，生，研）</p>
<p>流水煎大半杯，分，溫服。</p>
<p>治少陽熱勝，半入陽明者。</p>
<p><u>柴胡桂枝幹薑湯</u></p>
<p>柴胡（二錢）　半夏（二錢）　人參（一錢）　甘草（一錢）　生薑（二錢）　大棗（三枚）　乾薑（二錢）　桂枝（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治少陽寒勝，半入太陰者。</p>
<p>少陽居陰陽之半，半表陽旺，則熱勝而入腑，半里陰旺，則寒勝而入臟，吉凶生死，悉判於此。庸愚妄作，以寒戰為內熱，而用瀉下。此輩昏狂獰惡，不安下愚，敢肆凶頑，以禍蒼生，可恨也！</p>

<h3>太陰經證</h3>

<h4>腹滿心痞嘔吐泄利</h4>
<p>痘病四日，但傳太陰之經，不入太陰之臟，此為順證。陰勝寒作，則入於臟，傷寒痛滿吐利之條，次第發矣。《傷寒》：太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛，若下之，則胸下結硬。蓋太陰以濕土主令，固有臟寒四逆之證。《傷寒·太陰》：以其臟有寒故也，當溫之，宜服四逆。而陽敗濕淫，實為脾病之根。</p>
<p>濕者，脾土之本氣，寒者，腎水之客氣，究之己土之濕，亦緣癸水之旺。戊土降於火位，故其性燥，己土升於水分，故其性濕。土生於火而火死於水，火勝而土燥，則土能剋水，水勝而土濕，則水反侮土，火土雙敗，水邪凌侮，是以脾臟濕寒也。濕旺而燥衰，寒增而熱減，則太陰日勝，陽明日負，營血日長，衛氣日消，痘家癢塌黑陷之根，全由於此。凡諸死證，無不緣於脾陰勝而胃陽負也。治太陰之臟，養中扶土，補丁火而瀉癸水，無逾於茯苓四逆一方矣。</p>
<p><u>茯苓參甘厚朴湯</u></p>
<p>人參（一錢）　甘草（一錢）　乾薑（一錢）　茯苓　（三錢）　桂枝（一錢）　厚朴（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治太陰腹滿者。</p>
<p><u>苓桂參甘椒附湯</u></p>
<p>人參（一錢）　甘草（一錢）　桂枝（一錢）　茯苓　（三錢）　蜀椒（一錢）　附子（二錢）　芍藥（一錢）　粳米（半杯）</p>
<p>流水煎半杯，溫服。</p>
<p>治太陰腹痛者。</p>
<p><u>參甘姜苓半夏湯</u></p>
<p>人參（一錢）　甘草（一錢）　茯苓（三錢）　乾薑（一錢）　半夏（二錢）　生薑（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治太陰嘔吐者。</p>
<p><u>茯苓四逆加石脂湯</u></p>
<p>人參（二錢）　甘草（一錢）　乾薑（二錢）　附子（二錢）　茯苓（三錢）　赤石脂（一錢，生用）</p>
<p>流水煎半杯，溫服。</p>
<p>治太陰泄利者。</p>

<h3>少陰經證</h3>

<h4>咽痛吐泄蜷臥四逆發癢黑陷便血便膿潰爛無痂痘疔堅石</h4>
<p>痘病五日，但傳少陰之經，不入少陰之臟，此為順證。火敗寒勝，則入腎臟，《傷寒·少陰》欲寐，蜷臥惡寒，四肢厥逆，咽痛吐利之條，陸續見矣。少陰從君火化氣，病則水勝而火敗，寒長而熱消，必至之勢也。</p>
<p>少陰脈循喉嚨，寒水上凌，相火失根，甲木逆沖，是以咽痛。寒水侮土，中氣崩潰，胃逆則嘔，脾陷則利。陽動而陰靜，陰勝陽奔,水旺火熄，故蜷臥惡寒，而但欲寐也。脾胃並主四肢，寒水侮土，四肢失溫，故手足厥逆。陽勝則衛氣發達而肌膚鮮華，陰勝則衛氣淪鬱而皮毛黎黑，衛氣幽埋，不能發越，故鬱而為癢。既不外發，則當內陷，勢無中立之理，是以癢則必塌而黑則必陷也。水寒土濕，風木鬱陷，疏泄不藏，是以便血。濕寒凝澀，膏血腐敗，風木失榮，是以下膿。衛氣者，所以熏膚而充身，衛肌腠而斂皮毛，陽虛衛敗，則肌膚失其收斂，潰爛而無痂殼。陽性松活，陰性石堅，寒水堅凝而石，故主痘疔。陰莫盛於少陰，所謂腎者主水，受五臟六腑之精而藏之。《素問》語。故陰氣獨盛，痘家死證，悉以腎陰之盛也。</p>
<p><u>甘桔元射湯</u></p>
<p>甘草（二錢）　桔梗（二錢）　元參（一錢）　射干（　一錢）</p>
<p>流水煎半杯，熱服。</p>
<p>治少陰咽痛者。</p>
<p><u>茯苓四逆湯</u></p>
<p>茯苓（三錢）　人參（一錢）　甘草（一錢）　乾薑（二錢）　附子（二錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治蜷臥惡寒，四肢厥冷者。</p>
<p>嘔吐，加半夏、生薑。泄利，加赤石脂。與太陰同法。</p>
<p><u>苓桂參甘耆附麻蘇湯</u></p>
<p>人參（三錢）　甘草（一錢）　茯苓（三錢）　桂枝（二錢）　黃耆（三錢）　附子（二錢）　升麻（一錢）　紫蘇（三錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治癢塌黑陷者。</p>
<p><u>桂枝芍藥黃土湯</u></p>
<p>甘草（一錢）　白朮（二錢）　附子（二錢）　阿膠（一錢）　生地（一錢）　桂枝（一錢）　芍藥（二錢）　灶中黃土（三錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治便血者。</p>
<p><u>桃花湯</u></p>
<p>乾薑（三錢）　粳米（半杯）　赤石脂（三錢）</p>
<p>流水煎至米熟，取半杯，入赤石脂末五分，溫服。</p>
<p>治便膿血者。</p>
<p><u>苓桂參甘黃耆湯</u></p>
<p>人參（一錢）　甘草（一錢）　茯苓（二錢）　桂枝（一錢）　黃耆（三錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治潰爛無痂者。</p>
<p><u>參甘桂附紅藍湯</u></p>
<p>人參（一錢）　甘草（一錢）　茯苓（三錢）　桂枝（一錢）　附子（二錢）　紅花（二錢）　蘇葉（二錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治痘疔堅石者。</p>
<p>先用銀針刺之，後服此湯。</p>

<h3>厥陰經證</h3>

<h4>氣衝心痛咽疼消渴嘔吐泄利便血便膿腹痛腰痛厥逆發熱疳瘡癰膿</h4>
<p>痘病六日，但入厥陰之經，不入厥陰之臟，此為順證。木鬱風動，則入肝臟，《傷寒·厥陰》氣衝心疼，咽痛腰痛，消渴嘔利，厥逆發熱之證，必當漸生。厥陰以風木主令，土濕水寒，木鬱風生，郁衝於上，則心疼咽痛，嘔吐消渴之條見，郁陷於下，則腰疼腹痛，泄利膿血之病作。</p>
<p>厥陰之脈，自足走胸，貫膈而循喉嚨，上入頑顙，衝於胸膈，則心為之疼，衝於頏顙，則咽為之痛。木鬱蠹化，則吐蛔蟲。木敗胃逆，則嘔水穀。木陷於土，郁衝於前，則病腹痛。木陷於水，郁衝於後，則苦腰痛。血藏於肝，谷消於脾，土敗木賊，風令疏泄，脾傷則清穀不止，肝傷則便血不收。厥陰風木，生於癸水而孕丁火，實為水火之中氣，中氣既病，故水火不交，上熱而下寒，水勝則發厥，火復則發熱。少陰水勝而火敗，故病甚則多死，厥陰水終而火復，故病劇而或生，蓋以陰極陽回，往往見絕而蘇。其厥逆者，死機也，其發熱者，生兆也，而陽回熱發，往往太過。熱鬱於上，則咽痛而吐膿血，熱鬱於下，則腹痛而便膿血，熱鬱於經，則隨在而發癰膿。凡疳瘡剝蝕，唇齒消爛，癰膿腐潰，手足卷屈者，皆厥陰之熱淫也。厥陰之經，循喉嚨之後，連目系，上出額，與督脈會於顛，下頰而環唇，故疳生於唇口。厥陰主筋，諸筋皆會於節，膝踝肘腕者，筋骨之關節，故癰生於肘膝。緣衛郁不能外發，一得厥陰之熱，淫蒸腐化，則生瘡癰。然雖熱過營傷，而陽回痘發，衛氣不陷，亦為厥陰之功。痘傳厥陰之臟，半死半生，當於厥熱勝復之際，先事預防也。</p>
<p><u>甘桔柴苓湯</u></p>
<p>甘草（一錢，生）　桔梗（二錢）　柴胡（一錢）　黃芩（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治咽痛者。</p>
<p>風盛咽燥，加生地、白芍。</p>
<p><u>參甘歸芍栝蔞湯</u></p>
<p>人參（一錢）　甘草（一錢，生）　當歸（一錢）　芍藥（二錢）　生地（一錢）　栝蔞根（三錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治消渴者。</p>
<p><u>苓桂參甘芍藥附子湯</u></p>
<p>人參（一錢）　甘草（一錢）　茯苓　（三錢）　桂枝（二錢）　附子（二錢）　芍藥（二錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治腰痛腹痛者。</p>
<p><u>苓桂參甘歸附湯</u></p>
<p>人參（一錢）　甘草（一錢）　茯苓（三錢）　桂枝（二錢）　附子（二錢）　當歸（二錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治厥逆不止者。</p>
<p>吐泄治同太陰。</p>
<p><u>當歸芍藥地黃湯</u></p>
<p>甘草（一錢，生）　芍藥（三錢）　生地（三錢）當歸（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治發熱太過者。</p>
<p><u>芍藥黃土湯</u></p>
<p>甘草（一錢）　白朮（一錢）　附子（一錢）　阿膠（一錢）　地黃（一錢）　芍藥（二錢）　黃芩（一錢）　灶中黃土（三錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治便血者。</p>
<p>痘家便血者死，以水寒土濕而木陷也。宜暖水燥土，而清風木。</p>
<p><u>白頭翁湯</u></p>
<p>白頭翁（二錢）　黃連（一錢）　黃柏（一錢）　秦皮（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治便膿者。</p>
<p>土虛木燥，腹痛脅痛者，加甘草、阿膠。</p>
<p><u>地黃芍藥芩柏湯</u></p>
<p>甘草（一錢，生）　芍藥（二錢）　生地（一錢）元參（二錢）　黃芩（一錢）　黃柏（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治疳瘡者。</p>
<p>外以黃連、石膏、甘草、青黛等分，研細，時時塗之。</p>
<p><u>甘草歸地湯</u></p>
<p>甘草（一錢，生）　當歸（一錢）　生地（一錢）　芍藥（二錢）　桔梗（二錢）　元參（二錢）　丹皮（二錢）</p>
<p>黃芩（一錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治癰膿者。</p>

<h3>三陰治法</h3>
<p>痘家日傳一經，六日而至厥陰，陽平而不入於腑，陰平而不入於臟，經盡衛發，此勿藥而有喜者。補瀉之法，俱不可用，但須發表而已。陽盛則離經而入腑，陰盛則離經而入臟，入腑者有吉而無凶，入臟者少生而多死。此與傷寒、寒疫之證一也，而痘家之三陰，更為危險。以其表寒閉束，甚於大人，衛氣難發而易陷，死者十九也。</p>
<p>凡病腑熱則宜寒瀉，臟寒則宜溫補，此定法也，而痘家一證，則但有溫補之法，而無寒瀉之條。蓋傷寒攻下，皆在表解之後，痘家未有表解之時，是無可攻下之日也。若陰盛入臟，而溫補及時，十猶救五，若溫補後期，則九死一生，若稍用寒涼，則百不一生矣。</p>
<p>臨痘證者，貴於在經而先覺，不貴於入臟而後喻。救之於履霜之前，則為良工，挽之於堅冰之後，是為下士也。</p>

<h3>庸工謬妄</h3>
<p>痘理微妙，賢智不解，況中古醫工，庸愚凡陋，何足知此！其於古先聖哲言之諄切者，猶且背馳千里，況此之未經論著者乎！其荒唐訛謬，不必責也。至於《瑣言》、《正宗》之類，巨惡元凶，罪深孽重。而俗子庸夫，群而習之，以扇其虐，醜類凶徒，久而愈繁。此生靈之大禍，仁人之深憂，極當劈版焚書，不可留也。</p>

<h1>卷四</h1>
<p>小兒疹病，即大人溫疫。風傷衛氣，衛閉而營郁，營氣內陷則死，外發則生。非解仲景中風，不知溫疫，非解溫疫，不知疹病。</p>
<p>疹病之義，岐伯、仲景俱曾言之，而議論未詳。後世庸工，不知涼營發表，而率用寒下，徒傷裡氣，而衛閉不泄，營氣鬱淪，遂殞性命。庭樹方櫱，而遭攀折，山木始生，而夭斧斤，朝榮夕落，蕙蘭與　蕭艾同傷，夏茂秋零，松柏共蒲柳先殞，半枕黃粱，已非故我，一榻槐安，竟為異物。人悉言愁，我欲賦恨，作疹病解。</p>

<h2>疹病解第四</h2>

<h3>疹病根原</h3>
<p>疹病者，溫疫之傷衛氣也。此因金水斂藏，衛陽未泄，是以風襲於氣分。風傷大人，則為溫疫，小兒則為疹病，其病一也，而證亦同焉。</p>
<p>血藏於肝，氣統於肺，肝血溫暖而升發，肺氣清涼而降斂，自然之性也。氣性閉斂，而風性疏泄，風傷衛氣，泄其皮毛，衛愈泄而愈欲斂，斂而不啟，內遏營血；故營鬱而為熱。六日經盡，營血鬱勃，發於汗孔，紅點圓平，其名曰疹。</p>
<p>小兒寒水蟄藏，相火未泄，營血本自清和。一襲邪風，相火升炎，亦同大人，故感冒溫疫，營鬱而疹發。疹點周密，營郁散越，則熱退而病除矣。</p>
<p>凡人中風，未嘗病疹，溫疫之邪，膠黏閉塞，封固難開，小兒肌表固密，是以感之則疹生焉。</p>
<p>疹病之與中風，同是風邪，但氣則疫癘而時則春夏，血蒸而表密，故熱散而發疹點，證與中風不同也。</p>

<h3>疹病隱顯</h3>
<p>小兒溫疫傳經，亦同大人，一日太陽，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰。六經既盡，營血外發，而生疹點。或發於三日之前，或發於六日之後，表邪之輕重不同，經氣之衰旺非一也。</p>
<p>蓋衛氣斂閉，營鬱熱發，外無泄路，倘里有奧援，則內傳腑臟，如臟陰未衰，表裡異氣，營熱不得內傳，經盡之後，營熱鬱隆，自然外發。其經陽素旺，則熱盛於三日之前，其經陰不衰，則熱盛於三日之後。邪輕而表疏，則外發之期早，邪重而表密，則外發之期晚。若衛閉而營不能泄，則鬱悶躁煩，昏狂迷亂之證，色色皆起。遇臟陰素虛，則營熱內蒸，終不外發，五臟燔爍，則人死矣。或發之未透，隱見於皮膚之內，鬱而為癢，是為隱疹，隱疹者，營之半發而未透者也。隱疹之家，營熱鬱積，久而肌肉腐潰，發為風癩。</p>
<p>風癩由於隱疹，仲景論之於《傷寒·脈法》、《金匱·水氣》之中，岐伯論之於「脈要精微」及「風論」之內，而隱疹之名，岐伯未言，實始仲景，此先聖疹論之始也。</p>

<h3>太陽經證</h3>

<h4>發熱頭痛</h4>
<p>太陽在六經之外，感則先病。太陽之經，總統營衛，風自外感，而傷衛氣，故太陽先病。風性疏泄，竅閉而風泄之，開其皮毛，氣莫能斂，是以衛傷。衛秉肺氣，素以收斂為性，風傷衛氣，皮毛露泄，而衛氣愈斂，其性然也。衛閉而遏營血，血中溫氣不泄，是以發熱。太陽寒水之經，病則令氣鬱發，證見惡寒，溫疫營遏熱盛，故但熱而不寒。其經自頭下項，行身之後，營衛壅塞，不得順行，故頭項腰脊骨節俱痛。衛司於肺，胸中宗氣，衛之根本，衛郁竅閉，宗氣壅逆，逆行上竅，泄之不及，沖激而出，故生嗽嚏。衛為風襲、遏閉營血，營血不達，鬱而生熱，是衛傷而營病也。宜青萍湯，浮萍瀉衛氣之閉，芍藥瀉營血之郁，甘草、大棗，補其脾精，丹皮、生薑，調其肝氣，使風隨汗散，衛開而營泄，則不生疹病矣。以方在太陽，血熱不深，用表藥發之，只是汗出，尚無紅斑也。</p>
<p><u>青萍湯</u></p>
<p>浮萍（三錢）　芍藥（二錢）　甘草（一錢，生）　大棗（三枚，劈）　生薑（二錢）　丹皮（二錢）</p>
<p>流水煎半杯，溫服，覆衣，取汗。</p>
<p>治疫疹初起，太陽證之輕者。</p>
<p>夏月熱甚，須以元參佐之。</p>

<h4>脈緊無汗</h4>
<p>風傷衛氣，脈浮頭痛，發熱汗出，以風泄於外而氣不能閉也，若脈浮而緊，發熱惡寒，身疼腰痛，煩躁無汗，而喘促者，是氣閉於內而風不能泄也。溫疫亦然，凡風強則疏泄而有汗，氣強則斂閉而無汗。有汗者輕，表疏則營郁易發，無汗者重，表密則血熱難宣。此當以青萍石膏，清散經邪。是時未傳六經，營郁尚淺，風消熱泄，則斑點不生，一汗而解矣。</p>
<p><u>青萍石膏湯</u></p>
<p>浮萍（三錢）　石膏（二錢，生，研）　杏仁（二錢，泡去皮尖）　甘草（一錢，炙）　生薑（二錢）　大棗（二枚）</p>
<p>流水煎半杯，溫服，覆衣。</p>
<p>治疫疹初起，太陽證之重者。</p>

<h4>煩熱燥渴</h4>
<p>疹傳陽明少陽，燥動火炎，則生煩渴，若方在太陽，而煩渴已見，此其三陽素旺，將來多傳陽明之腑。蓋溫疫之邪，受在少陽厥陰兩經，足少陽從相火化氣，足厥陰以風木主令，胃陽旺而燥盛，則風火激烈而煩渴以生，脾陰旺而濕盛，則風火清寧而煩渴不作，如煩渴見於太陽寒水之經，則火盛水負，濕虧燥盈，是其素秉如此矣。</p>
<p>火炎就燥，必傳胃腑，此在大人，或有表解而病此者，小兒表密，必連經證。宜白虎加元麥青萍湯，清金而發表，絕其傳腑之源也。</p>
<p><u>白虎加元麥青萍湯</u></p>
<p>石膏（二錢，生）　甘草（一錢）　知母（一錢）　粳米（半杯）　元參（一錢）　麥冬（二錢，去心）　浮萍（二錢）</p>
<p>流水煎至米熟，取半杯，熱服，覆衣。</p>
<p>治疫疹初起，陽氣素旺者。</p>

<h4>寒熱勝負</h4>
<p>太陽以寒水主令，病則令氣遏郁，而見惡寒，凡太陽經病，表陽閉束，發熱而惡寒者，其常也。水旺則寒勝其熱，火旺則熱勝其寒。</p>
<p>君火胎於營血，相火者，君火之佐也。溫疫營鬱熱發，動其君相之火，火必勝水。寒水未至頹敗，猶稍見惡寒，寒水敗亡，則寒從熱化，但熱而無寒。疹家稍見惡寒者輕，但熱無寒者重。凡病不宜水旺，而寒水之在疹家，則貴若拱璧，宜補不宜瀉也。</p>

<h3>陽明經證</h3>

<h4>鼻乾口燥嘔吐泄利</h4>
<p>陽明經在太陽之次，太陽表邪不解，以次內傳，二日則及陽明。其經挾口環唇，行身之前，經氣上壅，則鼻口乾燥而胸膈脹滿。戊土上逆，礙甲木降路，甲木鬱遏，而賊戊土，胃不能容，則作吐泄。溫疫陽盛陰虛，但恐吐泄之亡陰，不慮吐泄之亡陽，吐泄亡陰，則入胃腑，吐泄者，疹家傳腑之根也。</p>
<p><u>青萍葛根湯</u></p>
<p>浮萍（三錢）　葛根（三錢）　石膏（二錢）　元參（一錢）　甘草（一錢）　生薑（二錢）</p>
<p>流水煎半杯，熱服。</p>
<p>治陽明經疹病，口燥鼻乾，煩熱不眠者。</p>
<p><u>青萍葛根芍藥湯</u></p>
<p>浮萍（三錢）　葛根（三錢）　石膏（二錢）　元參（一錢）　甘草（一錢）　生薑（二錢）　芍藥（一錢）</p>
<p>流水煎半杯，熱服。</p>
<p>治疹病陽明經證備而泄利者。</p>
<p><u>青萍葛根半夏湯</u></p>
<p>浮萍（三錢）　葛根（三錢）　石膏（二錢）　元參（一錢）　甘草（一錢）　芍藥（一錢）　生薑（二錢）　半夏（二錢，洗）</p>
<p>流水煎半杯，熱服。</p>
<p>治疹病陽明經證備而嘔吐者。</p>

<h4>經熱傳腑</h4>
<p>陽明經病，此在大人，汗之太過，則津亡而入胃腑，汗之不及，則熱鬱而入胃腑，小兒表密，不患其多汗之亡津，只慮其無汗而熱閉。小兒溫疫，方在陽明之經，法宜透瀉其表，以散經熱，汗出熱散，自無入腑之慮。若表邪不解，陽旺之人，必傳胃腑，傳腑則不得不用承氣諸方矣。</p>

<h3>陽明腑證</h3>

<h4>潮熱譫語腹痛便秘</h4>
<p>傷寒中風，一傳陽明之腑，腑熱熏蒸，開其皮毛，則見大汗。汗愈泄而土愈燥，表病則以汗解，而腑病則以汗增。疫邪固澀，汗出頗難，而小兒表密，更無自汗表解之理。雖傳胃腑，而表證自在，此與傷寒中風之腑證不同，即與大人溫疫之腑證亦殊。然有汗無汗之間，長幼自別，而潮熱譫語，腹痛便結之條，亦不得迥相懸隔。蓋汗亡而土燥，與無汗而火鬱，皆成腑病，殊途同歸，無有二也。</p>
<p>腑陽旺而臟陰虧，營熱內蒸，不得外發，此疹家殞命之原。相其輕重，瀉以承氣三湯，而加養陰涼血之味，臟陰續復，經熱不能內陷，自然外發矣。</p>
<p><u>調胃承氣加芍藥地黃湯</u></p>
<p>大黃（三錢，生）　甘草（一錢，生）　芒硝（一錢）　芍藥（二錢）　生地（三錢）</p>
<p>流水煎半杯，入芒硝，火化，溫服。</p>
<p>治疹病陽明腑證，煩熱譫語便秘者。</p>
<p><u>小承氣加芍藥地黃湯</u></p>
<p>大黃（二錢）　厚朴（二錢，炒）　枳實（二錢，炒）　芍藥（二錢）　生地（三錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治疹病煩熱譫語，痛滿便秘者。</p>
<p><u>大承氣加芍藥地黃湯</u></p>
<p>大黃（四錢）　芒硝（二錢）　厚朴（二錢）　枳實（二錢）　芍藥（二錢）　生地（四錢）</p>
<p>流水煎半杯，入芒硝，火化，溫服。</p>
<p>治疹病煩熱譫語，痛滿便秘而燥者。</p>

<h4>攻下緩急</h4>
<p>溫疫非必傳胃腑，以其原無內熱，只是外感，與溫病之內熱素積者不同。然營鬱熱盛，遇胃家陽旺，則表裡感發，傳腑甚易。雖未必人人傳腑，而腑證頗多。但用承氣攻下，必在表解之後。若表證未解，須以青萍、石膏、知母、生地清潤腸胃，涼瀉肺心，而透發其表，不可攻下。如六日之外，經盡腑郁，勢不可待，乃用下法。腑熱既清，營郁自發。第俟其自發，不如承氣之中參以表藥，使其腑熱瀉於魄門，經熱瀉於汗孔，一方而雙解之，更為善也。</p>
<p>庸工不論經腑，逢人則下，固是錯誤，即腑病將成，經病未解，而遽下於六日之前，亦為孟浪。小兒脆弱，那可肆意如此也。</p>
<p><u>白虎加青萍地黃湯</u></p>
<p>浮萍（三錢）　生地（三錢）　石膏（二錢）　知母（一錢）　甘草（一錢，生）　粳米（半杯）</p>
<p>流水煎半杯，熱服，覆衣。</p>
<p><u>謂胃承氣加白芍青萍湯</u></p>
<p>大黃（三錢）　芒硝（一錢）　甘草（一錢）　芍藥（一錢）　浮萍（三錢）　生薑（二錢）</p>
<p>流水煎半杯，溫服。</p>

<h3>少陽經證</h3>

<h4>目眩耳聾口苦咽乾胸痛脅痞嘔吐泄利</h4>
<p>少陽經在陽明之次，陽明表邪不解，以次內傳，三日則及少陽。其經自頭下項，行身之側，由胸而走脅肋，歸癸水而化相火。病則經氣不降，逆克戊土，戊土被賊，不得下行，遂與少陽之經彼此纏迫，故有心胸痞塞，脅肋硬滿之證。相火上炎，濁氣升突，故有口苦咽乾，目眩耳聾之條。胃腑被逼，不能容納水穀，故作吐泄。少陽居表裡之間，陰陽之界，陽盛則傳於腑，陰盛則傳於臟，溫疫營鬱熱旺，臟寒不作，但有陽盛而傳腑者，未有陰盛而傳臟者。緣溫疫之病，熱在營血，而營血之熱，全因相火之郁。傷寒中風，寒熱往來之證，至此則第苦熱來而不病寒來，以其相火鬱隆，寒不勝熱也。</p>
<p><u>柴芩栝蔞芍藥湯</u></p>
<p>柴胡（三錢）　黃芩（二錢）　半夏（二錢）　甘草（一錢，生）　生薑（二錢）　大棗（三枚）　栝蔞根（三錢）　芍藥（三錢）</p>
<p>流水煎半杯，熱服，覆衣。</p>
<p>治少陽疹病，目眩耳聾，口苦咽乾，胸痛脅痞者。</p>
<p><u>大柴胡加元參地黃湯</u></p>
<p>柴胡（三錢）　黃芩（二錢）　半夏（二錢）　芍藥（二錢）　枳實（一錢）　大黃（二錢）　生薑（二錢）　大棗（二枚）　元參（二錢）　生地（三錢）</p>
<p>流水煎大半杯，溫服，分二次。</p>
<p>治少陽疹病，半入陽明胃腑，嘔吐泄利者。</p>

<h3>三陽傳胃</h3>
<p>溫疫三陽經病，營鬱熱盛，陽旺之人，則傳胃腑。或自太陽，或自陽明，或自少陽，內傳之來路不一，視其腑熱鬱發之早晚也。</p>
<p>衛統於肺而實化於陽明，衛旺營虛，皮毛斂澀，腑熱燔蒸，而表無泄路，營郁莫達，此疹病所由死也。若腑陽非盛，營熱不能內傳，經盡之後，自然外發，斑點一生，營郁解矣。</p>
<p>痘家營閉而衛不能發則死，疹家衛閉而營不能發則死。衛氣之發，賴乎陽明，營氣之發，賴乎太陰，故痘家最忌陽明之虛，疹家惟恐陽明之旺。滋太陽之寒水，瀉少陽之相火，助己土之濕，而潤庚金之燥，治陽明腑證之大凡也。</p>
<p>內外感傷，一切百病，悉由陽虛，不宜潤藥，其最宜滋潤者，惟有此種，多服地黃、天冬，愈善也。</p>

<h3>太陰經證</h3>

<h4>腹滿嗌乾</h4>
<p>太陰經在少陽之次，少陽表邪不解，以次相傳，四日則及太陰。其經自足走胸，行身之前。溫疫營鬱熱盛，三陰之經，化氣於三陽，故病傳太陰，則腹滿而嗌乾。與溫病略同，但內熱之新故虛實不同也。</p>
<p>衛化於陽明，營生於太陰，陽明旺而太陰衰，則衛閉而營不能發，太陰旺而陽明衰，則營發而衛不能閉，營發則斑見而人生，衛閉則熱亢而人死。疹家斑點發生，全賴脾陰之旺，滋益脾精，以澤燥土，疹家太陰之定法。</p>
<p>內外百病，悉緣太陰之濕，而惟疹病，則惟恐其燥。己土非燥，營熱不至里蒸，終當外發也。</p>
<p><u>青萍地黃湯</u></p>
<p>浮萍（三錢）　生地（三錢）　丹皮（二錢）　芍藥（二錢）　甘草（一錢）　生薑（二錢）　大棗（三枚）</p>
<p>流水煎半杯，熱服。</p>
<p>治疹病太陰經證，腹滿嗌乾者。</p>

<h3>少陰經證</h3>

<h4>口燥舌乾</h4>
<p>少陰經在太陰之次，太陰表邪不解，以次相傳，五日則及少陰。其經自足走腰，行身之後，以癸水而化君火。少陰百病，皆水勝而火負，而惟溫疫，則火勝而水負，故口燥舌乾而渴。以其營鬱熱發，君相燔蒸，一水不敵二火，而再值木生火長之時，則水虧火盈，必然之勢。滋益腎水，以清壯火，疹家少陰之良規也。</p>
<p><u>青萍天冬湯</u></p>
<p>浮萍（三錢）　天冬（三錢）　生地（三錢）　元參（二錢）　丹皮（一錢）　生薑（三錢）　栝蔞根（三錢）</p>
<p>流水煎半杯，熱服。</p>
<p>治疹病少陰經證，口燥舌乾者。</p>

<h3>厥陰經證</h3>

<h4>煩滿發斑</h4>
<p>厥陰經在少陰之次，少陰表邪不解，以次相傳，六日則及厥陰，六經盡矣。其經自足走胸，行身之側，循陰器而上行，故煩滿而囊縮。厥陰肝木，司營血而胎君火，又與少陽相火兩相表裡，溫疫之病，受在營血，營鬱熱發，君相之火俱炎，傳至厥陰，熱盛極矣。是時肝血不枯，水土滋潤，營熱不能內傳，外發皮毛，自見紅斑。經傳厥陰，法宜涼營血而滋風木，瀉皮毛而清相火也。</p>
<p><u>青萍當歸湯</u></p>
<p>浮萍（三錢）　當歸（二錢）　生地（三錢）　丹皮（二錢）　芍藥（二錢）　生薑（二錢）　甘草（一錢）</p>
<p>流水煎半杯，熱服。</p>
<p>治疹病厥陰經證，煩滿囊縮，而使之發斑者。</p>

<h3>紅白續發</h3>
<p>紅斑外發，則營郁泄越，但衛閉未能豁開，其發非一次可盡。凡欲發斑，則生煩躁，脈必浮數，陸續而出，至二三日，繼以白斑，則透發無遺矣。</p>
<p>白斑者，衛氣之外泄也。白斑將發，人必煩郁昏暈，脈必浮大洪數。既發則脈靜人安，別無余慮。紅斑易生，白斑難生，非鬱極不能外發。將發之時，煩亂昏狂，困極欲死者，往往有之也。</p>

<h3>紫黑遲見</h3>
<p>疹家斑點外發，愈早愈輕。衛旺而表密者，往往經盡乃發，甚有遲至數日之後者。大概已過六日，便是斑發之期，愈遲愈險。</p>
<p>若營弱不能遽發，過時斑見，而色變紫黑，則多至殞命。以其經熱鬱蒸，營血腐敗，後期而發，遂難救藥也。於其紫斑隱見，未能透發之時，速服清散之方，猶可挽轉。是皆失於發表，故至於此。</p>

<h3>出沒隱見</h3>
<p>疹點透發皮膚之外，按陣續生，新者已出而舊者未沒，此為順證。若衛斂表固，營弱不能透發，隱見皮里，頃刻即回，此為不救。其次則雖不立回，而終隱皮里，不能透露，此為隱疹。隱疹之家，營鬱熱伏，未經表散，久而血肉腐潰，發生風癩之疾，數年之後，亦傷性命。若早用發表，必無此禍也。</p>

<h3>水停腹脹</h3>
<p>疹家營熱鬱發，營藏於肝，其病自在厥陰。厥陰以風木主令，木鬱風盛，津血耗傷，必生消渴。渴而多飲，土燥木達者，下竅疏泄，則水不停留，若土濕木鬱，疏泄不行，必有停水。疹點出後，水停腹脹者，十之八九。此緣臟陰素旺，不能消水。若在痘家，便是三陰臟寒之證，疹家臟陰不虧，則經熱外發，反得其益。其經熱隆盛，臟寒固不發作，而積水停瘀，必當瀉之。其證腹滿脅脹，頭目暈眩，咳喘氣逆，乾燥思飲，而水入即吐，不能容受。以豬苓瀉其積水，溲溺一通，濁氣下達，則眩暈咳喘諸證俱瘳矣。</p>
<p><u>豬苓湯</u></p>
<p>豬苓（三錢）　茯苓　（三錢）　澤瀉（二錢）　滑石（一錢，研）　阿膠（一錢，炒，研）</p>
<p>流水煎半杯，入阿膠，消化，溫服。</p>
<p>治疹後水停，脹滿咳喘諸證者。</p>

<h3>嘔吐蛔蟲</h3>
<p>《傷寒·厥陰》有蛔厥之證，緣木鬱蠹化，故生蛔蟲。臟寒不能安蛔，故四肢厥逆，而吐蛔蟲。非第傷寒，凡內外百病，而見吐蛔，必是臟寒。惟溫疫則是熱證，緣其經熱盛發，臟寒必不內作。即其臟陰素旺，益以飲冷生寒，而疹家原不以臟寒敗事，雖見吐蛔，不與傷寒、雜病同論。未可溫里，只宜涼營發表，但不當用寒瀉耳。</p>

<h3>疹後昏憒</h3>
<p>斑發之後，輕者即起，重者餘熱未清，猶有煩郁譫妄之證，再服清散之劑，便可慧爽。而皮毛已開，汗液當泄，縱不服藥，餘熱自當漸除，不過三日之內，無不清白，靜候亦可，莫須多事也。</p>

<h3>疹後泄利</h3>
<p>疹後泄利，全緣土濕水漬，以太陰濕旺，而渴飲水停，木鬱風動，行其疏泄，水道不開，則穀道失斂，故生泄利。水去土燥，泄利自止，不須服藥。若其不止，恐肝脾遏陷，致生利病，宜以五苓，疏木瀉水，以燥土濕也。</p>
<p><u>五苓散</u></p>
<p>茯苓（三錢）　豬苓（二錢）　澤瀉（二錢）　白朮（二錢）　桂枝（一錢）</p>
<p>研細，飲服二三錢，日三次。服後多飲暖水，取汗。</p>
<p>治疹後泄利渴飲，小便不利者。</p>

<h3>疹後膿血</h3>
<p>疹後泄利不止，肝脾郁陷，致成下痢膿血之疾。庸工謂是疹後餘熱，非也，此緣土濕木遏，郁生下熱，膏血腐敗，故便膿血。宜白頭翁湯清其濕熱，加甘草、阿膠、桂枝、茯苓，培土清風，疏木而瀉濕也。</p>
<p><u>白頭翁加甘草阿膠苓桂湯</u></p>
<p>白頭翁（三錢）　黃連（一錢）　黃柏（一錢）　秦皮（一錢）　甘草（一錢）　阿膠（二錢）　桂枝（一錢）茯苓（三錢）</p>
<p>流水煎半杯，入阿膠，消化，溫服。</p>
<p>治疹後便膿血者。</p>

<h3>疹後目疾</h3>
<p>疹後營郁不能透發，餘熱傷眼，眥爛睛紅，久而不愈，此肝氣不調之故。肝竅於目而司營血，血熱未清，肝氣抑遏，故令病此。以涼營達木、瀉濕清風之藥調其肝氣，木榮風息，眼病自瘳。</p>
<p><u>芍藥桂苓膠地湯</u></p>
<p>芍藥（三錢）　桂枝（一錢）　生地（三錢）　甘草（一錢）　茯苓（三錢）　阿膠（二錢）　生薑（二錢）</p>
<p>流水煎半杯，溫服。</p>
<p>治疹後目疾。</p>

<h3>六經治法</h3>
<p>疹家六日經盡，血熱外發，而見紅斑。其在三日之前，早服表藥，一汗解矣，營郁既泄，不至發斑。若三日之後，以至經盡，而服表藥，血熱已深，雖有汗出，猶發斑點。治法總宜發表，前三日則加清金瀉熱之藥，後三日則加涼血滋陰之品，要以表邪透發、經熱肅清為主。發之不透，餘熱纏綿，淫漬種種諸疾，為害非小也。</p>

<h3>經腑殊方</h3>
<p>疹家未病之前，原無內熱，既病之後，亦無內寒，陽盛者則有傳腑之條，陰盛者則無入臟之證。陽盛傳腑，則宜寒瀉，陽平而不入於腑，始終在經者，則寒瀉無用，但須發表而已。善治者，在前三陽，則以汗解，在後三陰，則以斑解。詳分經腑，細斟汗下，慎勿在經而用攻下之劑，亦莫入腑而用發散之方，汗下不謬，經腑清平，疹家之能事畢矣。</p>

<h3>汗下宜忌</h3>
<p>痘病寒傷營血，營閉而衛郁，疹病風傷衛氣，衛閉而營郁，營開衛發，則生痘粒，衛開營發，則生疹點。以營熱散於皮毛，故見紅斑，而發自汗孔，故斑點正圓。營熱外發則生，內鬱則死。其內郁之原，必緣陽旺而腑熱，腑熱則宜寒瀉。但內熱之證，尚屬後起，其先全是外熱不解。陰旺之家，終無內郁之熱，陽旺之人，表裡感應，內郁日積，遲乃發熱耳。陰旺而無內熱者，固不可誤清其里，即陽旺而內熱未實，亦但可涼解表邪，未宜遽用寒瀉，傷其裡氣。</p>
<p>病在經絡，而攻其臟腑，此為粗工。若臟陰素旺之人，則中氣敗亡，而殞性命，所關非小。庸愚謬妄，凡治疹病，必用寒瀉，已是不通，甚且瀉之三日之內，方傳陽經之時，則無論陽旺陰旺，總無是處矣。</p>

<h1>卷五</h1>
<p>伊公，丞相文端公之孫，大司馬學庭公之子，名贊咸，字益庵，聰明好古，博綜百氏，而尤愛農黃之學。玉楸子解溫疫痘疹，四部俱成，此前賢所未喻，亦先聖之罕言。荒荒坤軸，落落玄宗，室無問字之人，門乏好奇之客。惟公清規遠鏡，洞闢靈臺，玄鑑虛凝，廓開智府，挑銀釭而夜誦，卷珠箔以晨披，得其寰中，超以象外，流水是其今日，明月乃其前身，百年以來，一人而已。採其清言微旨，作四問之篇。</p>

<h2>伊公四問第五</h2>

<h3>伊公問旨</h3>
<p>癸酉八月，玉楸子成《四聖懸樞》，論溫疫痘疹之法。少司馬伊公問曰：溫疫痘疹四病，異同之義云何？玉楸子曰：感於秋冬，謂之傷寒，感於春夏，謂之溫病。溫病者，一人之病，非眾人所同病也。其州里傳染，眾人同病者，是為疫癘。疫分寒溫，春夏謂之溫疫，秋冬謂之寒疫。痘即大人之寒疫，疹即大人之溫疫也。</p>

<h3>問溫五條</h3>
<p>問：經所言熱病為何？玉楸子曰：熱病即溫病也，病於春者謂之溫，病於夏者謂之熱。《素問·評熱病論》：先夏至日者為病溫，後夏至日者為病暑，暑即熱也，以時令而異名也。</p>
<p>問：溫病與傷寒何殊？玉楸子曰：《素問》：熱病者，傷寒之類也，而實非傷寒。傷寒感秋冬之寒，溫病感春夏之風，時令不同，而寒溫異矣。</p>
<p>問：溫病與溫疫何殊？玉楸子曰：溫病之根，得之冬傷於寒，而有內熱，感則表裡皆病。溫疫冬不傷寒，而無內熱，但是表病，陽盛之家，而後里病也。</p>
<p>問：冬傷於寒，何緣而有內熱？玉楸子曰：冬氣封藏，天地閉塞，陽蟄九地之下，則寒水得令。人於冬時，縱欲亡精，陽泄而火飛，是以變寒而為熱也。</p>
<p>問：冬傷於寒，何緣而春必病溫？玉楸子曰：凡外感之深，必因內傷之重，陽氣重傷，病則寒深，陰氣重傷，病則熱深，表裡熱劇，皮毛不開，是為溫病。蓋衛氣以收斂為性，平日內熱鬱伏，一遇風邪，傷其衛氣，衛閉則營郁，營血鬱蒸而欲泄於內，風氣發揚而欲泄於外，內外交泄而衛氣愈斂，其性然也，斂而不啟，乃成溫病。春夏風多，是以最易感傷。若臟腑平和，素無內熱，則旋感而旋解，不成溫病也。</p>

<h3>問疫五條</h3>
<p>問：疫分寒溫，前賢不解，先生推仲景微義，以發眇旨，令吾聞所不聞，快矣，但猶有疑焉。秋冬則曰傷寒，春夏則曰溫病，寒疫亦以秋冬名，溫疫亦以春夏名。溫病溫疫，俱緣中風，仲景《傷寒》所列中風，實非春夏之溫病，是為何時之邪也？玉楸子曰：仲景中風，秋冬之病也。秋冬之月，不皆寒天，其時日暖風和，而病外感，自是風淫，而非寒邪。然究與三春之炎風、九夏之溫風氣候迥別，故但名中風，而不可以為溫熱也。</p>
<p>問：寒疫溫疫，感異風寒，邪既不同，證自懸殊，其分別之義安在？玉楸子曰：風為陽邪，而性疏泄，寒為陰邪，而性閉澀。故溫疫之脈浮緩，其證發熱而有汗，寒疫之脈浮緊，其證惡寒而無汗。溫疫衛閉而營郁，是以經盡而出紅斑，寒疫營閉而衛郁，是以經盡而發白汗。汗者，衛氣之所蒸泄，斑者，營血之所逼現。其病解既別，其病發亦判，不相混也。</p>
<p>問：溫疫得之風邪，當與中風同法，寒疫得之寒邪，當與傷寒同法，今溫疫不用桂枝，寒疫不用麻黃，其法不同何居？玉楸子曰：春夏溫病，秋冬傷寒，雖感天地之風寒，然不因歲氣之偏。至於疫癘，陰陽愆伏，寒暄錯亂，或盛夏而零寒露，或隆冬而飄溫風，節候乖常，是以成疫。其分寒溫於冬夏者，大略如此，而未始盡然，固難以桂枝、麻黃統治錯雜無定之寒溫也。</p>
<p>問：寒疫溫疫之傳臟腑，同乎不同？玉楸子曰：溫疫有表熱而無裡熱，不必傳腑，陽盛者，裡熱作，乃傳於腑，寒疫有表寒而無裡寒，不必傳臟，陰盛者，裡寒動，乃傳於臟。寒疫傳臟，未始不入腑，其入腑者，亦是寒而非熱也，溫疫傳腑，未始不入臟，其入臟者，亦是熱而非寒也。溫疫非無寒，而寒終不勝其熱，入腑而病熱者多，入臟而病寒者少，寒疫非無熱，而熱終不勝其寒，入臟而病寒者多，入腑而病熱者少也。</p>
<p>問：溫疫熱勝，法宜清瀉，寒疫寒勝，法宜溫補否耶？玉楸子曰：溫疫之熱，在表不在裡，法宜清散其表熱，不必清裡，表熱入腑，而後用清瀉之劑，寒疫之寒，在表不在裡，法宜溫散其表寒，不必溫里，表寒入臟，而後用溫補之方，是當透發表邪，非有里證，不可誤用攻補。後世庸工，之於疫癘，不論寒溫表裡，概用硝黃瀉下，十治九誤，此助天為虐者也。</p>

<h3>問痘七條</h3>
<p>問：痘始何時？書昉何代？玉楸子曰：黃帝、岐伯、越人、仲景四聖，談醫不及痘證，然疫癘之疾，岐伯於運氣諸篇，往往及之。痘即大人寒疫，未有大人獨病而小兒不病者。推其淵源，實始上古，但先聖未言耳。痘書之作，則起後世，大抵皆趙宋以後之人也。</p>
<p>問：小兒寒疫，何為而發豆顆？玉楸子曰：寒疫營閉而衛郁，營開衛泄則為汗，疫邪固澀，而小兒表密，衛氣不能透發，故衝突皮膚，而發豆粒者。使竅開而汗出，衛郁泄於皮膚之外，不作痘形也。</p>
<p>問：痘粒之豐圓何故？玉楸子曰：寒邪外閉，三日而傳三陽，衛郁盛滿，發於汗孔，外為皮膚所限，旁為汗孔所束，衛郁發越，顆粒充盈，不得不豐圓也。</p>
<p>問：痘粒之散漫何故？玉楸子曰：肺藏衛氣，而司皮毛，金性收斂，衛外而斂皮毛，故謂之衛。衛盛則皮膚斂束而緻密，衛虛則皮膚鬆懈而疏豁，衛郁外發，沖其皮膚，而裹束不緊，旁無界限，是以散漫而不豐圓也。</p>
<p>問：痘屬外感，可以汗解耶？玉楸子曰：何為而不可也！大人寒疫，必以汗解，小兒不得汗解，故發痘粒，若可汗解，何必以痘解！譬如大人，強以固表之藥斂之，使之不得汗解，而以痘解可乎。</p>
<p>問：痘家最恐表虛，不能完滿收結，今以汗泄衛陽，能無後慮？玉楸子曰：大人汗解，不必皆死，小兒無汗，不必皆生。衛虛者，汗之亦死，不汗亦死，衛盛者，不汗亦生，汗之亦生。若用人參黃耆於表藥之中，則衛虛可汗，而何況實者。苟非過汗亡陽，保無後慮也。</p>
<p>問：痘書何故而錯謬如是？玉楸子曰：造化之理，非聖不作，非明不述。百世一聖，而至猶接踵，千里一賢，而生同比肩，聖明之少也如是。即有聖作，必待乎述，況後無明者之述，即有明述，猶須乎作，況前無聖人之作。以俗子腐生而冒聖作之才，以頑民悍夫而僭明述之業，此蟪蛄而談春秋，朝菌而議晦朔耳，何當於是哉！</p>

<h3>問疹四條</h3>
<p>問：生平所觀疹痘之書眾矣，無如此之明白清暢，犀照無遺者也，但小兒痘發而不再病，疹則感而又病，其義何居？玉楸子曰：小兒痘病，衛氣大發，竅隧疏漏，復感寒疫，則與大人，同以汗解，故痘不再生。小兒疹病，即大人溫疫，其痘後未嘗不病寒疫，則其疹後何能不病溫疫，是以可一而可再也。</p>
<p>問：疹病可以汗解乎？玉楸子曰：寒疫營閉而衛郁，溫疫衛閉而營郁，營開衛發則為痘，衛開營發則為疹，營衛透泄，皆能作汗，痘疹者，營衛晚發而不得早泄者也。若早發其汗，衛郁既泄，則痘粒安生？營郁既泄，則疹點何來？既成痘疹，悉緣失治，原非必生之病，胡不可以汗解也！</p>
<p>問：疹病即大人溫疫，先生但解溫疫可矣，何為又解疹病？玉楸子曰：溫疫一也，而少長大別，則證狀亦自微異。小兒年齒幼小，然或懷質抱真，而秉良資，大人春秋盛壯，然或淳漓樸散，而負空器，則補瀉溫清之法，自難盡同也。</p>
<p>問：小兒疹病，既即大人溫疫，何疹發之時，小兒獨病，大人不染耶？王楸子曰：《靈樞·九宮八風》之篇：太乙隨一歲八節，而居八方，太乙移日，天必應之以風雨。風從所居之鄉來，為實風，如冬至後四十六日，風自北來，夏至後四十六日，風自南來。主長養萬物，從其沖後來，為虛風，如冬之南風，夏之北風也。傷人者也，僅候虛風而避之，故聖人日避虛邪如避矢石，邪勿能害。風從西方來，名曰剛風，風從北方來，名曰大剛風，風從東南來，名曰弱風，風從南方來，名曰大弱風。風有剛弱，人有少長，感以大王之風，宋玉《風賦》），少者不傷，此大王之雄風也，襲以嬰兒之風，風從東方來，名曰嬰兒風。長者不病。同聲相應，同氣相感，自然之理也。</p>
