<header data-type="book">
<h1>經歷雜論序</h1>
</header>

<h1>經歷雜諭序</h1>
<p>老馬識途以其經歷多也諺云熟讀王叔和不如臨症多蓋臨症既多其學問見識亦有從經歷而漸推廣者故醫家有醫案之傳以為前車之鑑然以醫案傳者每有重複雷同之弊茲將餘子年所經歷諸症診治之法不拘泥古方古法而獲效者列案於後而以余心得之法作一論以冠於前案驗雖多僅記一二凡無甚大異之案一概刪去不錄以免煩冗所記皆新奇創解未會經古人道破者以開後學之見聞神而明之存乎其人青過於藍則幸甚矣</p>

<h1>經歷雜諭</h1>

<h2>正名論</h2>
<p>孔子云名不正則言不順醫方所載病名是也其命名之理真偽混雜專總不分名不正故其言亦不順其治法亦難講求矣余故謂必以正名為先得其正名然後知講求治法凡古書所載加傷寒中寒中喝中暑傷風中風中惡等名是正名也是專名也可以其名求其治法用其方者也忽又雜入瘧疾痢疾類中風等名瘧痢是總名也仍有專名在焉加傷寒化瘧則名曰寒瘧也可傷風傷熱化瘧則名曰風瘧熱瘧也可類中風偽病名也自有其真名在為加血虛內風動肝厥則名曰肝厥或名曰內風可也痰厥則名曰痰厥或名曰中痰可也乃不正其名或以總名名之或以偽名名之又或雜入一二正名專名者昧者不知其故見一名即以一名門中治法團圇治之不效則曰吾照古法治之非吾之過也此皆古人命名不清不能點清後學眉目之故也降至後世其弊更甚如霍亂古之總名也後人名之曰發痧且有子午痧癟螺痧轉筋吊腳痧絞腸痧等名小兒驚癇古人之總名也乃後人又有急驚慢驚慢脾風□魚驚蛾口驚老鸛驚天吊驚披弓驚疳驚等名翻胄嘔吐古人一症名也後人遂有胃家寒噎膈隔食等名按後人捏造名中惟胄家寒之名最正最專最切惜無一人名胄家熱者以對待之於是死於胄家寒者多矣以其只知有胄家寒之症有以胃家熱告之者必訕其妄以未之聞也此外更有各處方言不同如蘇人患瘧則名曰脾寒南京人名癟螺於曰鬼偷肉是更無理取鬧像形隨意命名更不可從者也今余以正名告後學而分別總名專名求其至當不易之理為今之人聞人有病輒問曰何病內症乎外症乎則外症內症是總名也（外症需外科內症請內科）內症中有二大總名曰內傷曰外感（內傷五志外感六淫）可執此總名以治病乎總名曰外感分而言之各有專名在焉輕者曰傷重者曰中故有傷風中風傷寒中寒傷暑中暑傷濕中濕傷燥中燥傷熱中熱之專名焉感而不即發病過後由里而發者總名曰伏邪故有伏風伏寒伏濕伏暑伏燥伏熱之專名為此外感病之專名真名也可以其名求其治法者也其有兼感兩氣者則兼名之兼治之可也內傷之因於五志七情者曰喜笑傷心曰鬱怒傷肝曰思慮傷脾曰恐懼傷腎曰操持動作傷腎曰色欲傷腎曰悲泣傷肺外此又有氣血痰食所生之病焉此四者是六淫之淵藪邪氣所依踞者也曰氣虛（邪傷氣則氣傷而虛）曰氣實（初感則實）曰氣鬱（安按六淫七情皆能遏鬱氣機）曰氣復（安接熱病後血液大傷氣易復血液難復多變浮腫症名曰氣復）曰氣急（呼吸太速血難隨之安接亦有邪壅氣關氣逆而急者）曰血虛（安按血不能配氣則虛有因邪傷者有本質素偏者）曰血瘀（安按血停經隧曰瘀）曰血漲（安按血泛若水貫注經絡曰漲爪有紅紋一名血蠱）曰血溢（安按溢泛於外也陽絡傷則血外溢陰絡傷則血內溢）日痰結（安按結凝聚也有寒氣冰凝而結者有火熱炕乾燒煉而結精有氣鬱而結者）日痰核（有形之核生於皮內推之移按之痠者是也）曰痰飲（安按痰有風寒燥濕火之分飲者水也痰飲者稀痰加水也有寒飲有濕飲有風飲有熱飲有熱燥極反澤之假飲）曰痰氣流注（安按流注者痰氣流於腠理膜內也為腫痛潰則難斂亦有陰陽虛實之分焉紅痰屬陽屬實白痰屬陰屬虛其實皆陰邪也）日痰痹（痹者痹於四肢經絡之外也痰氣痹痛肌肉不仁四肢脅肋常見之症也）曰痰阻（阻者阻於臟腑之內也如痰阻肺絡喉中拽鋸聲）曰痰厥（安按痰火矇蔽清明則厥）曰食積（安按胃陽虛則不能腐食或胄陰虛不能連食）曰食痞（安按非謂食水穀而為痞乃指幼孩食黃土紙布磚瓦之類最難消化多成痞塊）曰生冷傷脾（安按脾土喜燥最惡生冷之物曰食腐濁不消（安按腐濁者食化也不消者不降他有因肺氣不開有因胃氣不降也）曰宿糞結滯（安按糞在腹中如舟在水中須水液以載之風氣以運之今曰結滯其為無津液或氣鬱可知矣）曰食復（安按熱病後重食助邪化熱濕病後重食阻遏氣化咸能復病）此以上皆氣血痰食所生病之名也有兼六淫外感而生者有口腹起居不慎七情不適而生者當因名分別求治為其餘又有以臟腑經絡命名者如胄寒胄熱肝風心悸脾虛膀胱氣閉轉胞肺脹等類皆以所受病之臟腑命名也如陽明熱結厥陰伏暑等類是以經絡命名也如此等命名取義欲人知病所犯臟腑經絡分別用藥引經無張冠李戴也其他如瘧疾之名則很病之總稱也以其至其日時而即病也門類甚多有六淫氣血痰食之別當分別求治為如痢疾則滯下之總名也亦必如上分別治之推而廣之如發熱惡寒嘔吐吐血泄瀉遺精怔忡譫語自汗煩熱發狂戰僳昏迷抽搐瘓瘲角弓反張腹痛疝瘕等類皆非病之真名實一病中之證候名也以證候之淺深知病邪之輕重耳皆不可因名求治者也必求其病之所以致有此證候之理而後有治法焉即傷寒金匱有陰陽易百合狐惑等名亦諸邪皆有之證不獨傷寒為然也亦當分別因何症之後傳變而犯此症以治之也籮於古方投之不效將如之何哉亦必因症變化別求方法以救之矣若外症之名惟曰癱曰疽曰石疽曰脫營曰病移曰疔曰瘡曰癤而已此可以名求治者也其餘有以穴道部位名者欲人知分別用藥引經也有以形像名者如楊梅瘡蛇頭疔魚口等名是也此不過狀其形症而已至於治法則虛實互異陰陽不同濕火迥別外科金鑑正宗亦皆詳言之特未盡其旨耳兼考本論後疔瘡癰疽諸辨症法自得之矣故欲後學瞭然無疑點清眉目必以正名為先名正而法亦隨之正矣慎勿為古人偽名像形之名總稱之名證候之名所惑也</p>

<h3>疼痛辨</h3>
<p>近世醫者遇疼痛之症莫不以通則不痛痛則不通二句定案所用之藥無非芳香辛通破血行氣之品豈知痛有虛實之別乎實痛由於氣血凝滯痛當拒按虛痛由於氣血不足痛當喜按此理在稍有學問者莫不知之然其中猶有一至理焉予親歷數症而得之者也以痛生於血氣有血瘀氣虛氣不足以行血者痛喜輕按重按之則痛甚必侍推揉之而後減法當補氣以行血其脈必舉之不足接之弦滑而是兼牢者也有血虛氣鬱皿不足以配氣痛喜重按輕按之毫不減痛當補血配氣其脈必芤澀而大按之若按破蘆管狀者是也更有六淫所生之痛治六淫即治痛也惟虛熱之痛最易惑人但補虛則痛甚拒按但清熱則痛甚喜按必清補兼施方可清補之中稍有偏勝亦如是變法當隨症變化加補加清乎而後已凡六淫之痛皆有虛痛實痛之別虛者正虛實者邪實治邪則正虛補虛則邪實故痛之喜按拒按不能不因藥而變也正虛則邪陷扶正即所以捍邪使邪得以外解也即用治邪之藥亦必正氣肋力而後邪乃外解也非徒恃攻邪之藥可以祛邪也倘正氣不能捍邪雖用攻邪之藥邪不解而正反傷矣加用兵剿匪軍糧不足兵必變而為匪矣正氣者兵糧也善用兵者必先屯糧善治邪者必先養正其有邪實正虛之症不去邪正不得復不養正邪不能解妙在去邪不傷正扶正不肋邪斯得法矣</p>
<p>外症之痛未潰膿為實痛既潰膿仍痛為虛痛人皆知之殊不知亦有未潰膿正氣不勝毒氣之虛痛亦有既潰膿毒氣仍實之實痛者不可不知</p>
<p>馬隊營總延燾民肺俞穴生紅餅其大如順治錢其色鮮紅如洋紅棉胭脂有白頭在中痛徹骨覺衣裳壓之若不勝其重不能得膿予曰肺氣虛也因以獨參湯進伊服黨參至八錢一劑獨用一服痛減三服得膿服至收斂方已並未用則方</p>

<h3>諸痛論</h3>
<p>古人謂通則不痛痛則不通蓋為實痛而言若執此以治諸痛則謬矣今將余歷治諸痛而得效者為叢醫者備陳之夫痛亦各病中之一證也必詳其所因而後治之始無差謬也痛之名目不一有少腹痛脅肋痛臍痛大腹痛胸脘痛膈上痛天府痛頭角痛巔頂痛眉稜痛太陽痛頓車痛咽喉痛項脊痛肩胛痛腰背痛髀骨痛肘臂痛手腕痛腿足痛周身筋骨痛痞塊痛走竄痛流注痛疔瘡痛癰疽痛足跟痛溺管痛疝氣痛此以上皆痛之名也而非痛之因也若問其痛所因總綱則有虛有實有半虛半實有陰虛陽實有陽虛陰實有陰陽皆虎有陰陽兩實陰屬血分陽屬氣分氣血何以有虛實當辨其外感六淫是何邪所傷內傷七情是何藏受病更有不內不外乃人事之乖者如跌打震動刀傷失血等類此所以致痛之因也辨之之法全在切按二字詳細工夫內症之因於六淫者如寒從上受發為太陽表症則頭項痛太陽痛頭痛如劈脈浮緊無汗表散之則愈寒從中受發為胸腕脅肋痛吐水甚引背痛脈弦遲而緊痛綿綿不已無止息無鬆緊喜熱手按摩者溫中散寒則愈寒從下受傳人三陰發為臍腹疝瘕痛甚則加奔豚上逆痛有定所痛若筋牽引無止息無鬆緊瓜甲青白甚則厥逆肢冷喜熱熨者急溫足三陰則愈陽明燥金勝氣兼寒化者其症相若燥金本氣之痛症相似怛脈象弦澀而短善傷血分血虛人易患此法當溫潤有燥結者當溫潤以下之若將化火其脈兼數當平潤以和之風痛者善走竄痛無定所血虛人多患此其脈浮大而緩按之芤此肝血虧虛經絡隧道空匱血不配氣氣行太速之故古人以內風名之豚不甚芤者養血祛風芤甚者當填補血液濕邪流注而為痹痛多手足四肢症當宜氣化濕以勝濕邪若鬱於內而為臍腹脅肋痛者痛有止息有鬆緊綿綿難愈多太陰脾症其脈緩法當宣燥調氣化暑熱之兼濕者當先從濕治化熱而後從熱治之熱症頭痛如裂胸膈痛如夾脅肋痛如脹臍腹痛如吹瓜甲紅紫痛有止息鬆緊其脈數法當清熱若夫七情狂喜大笑心脈震動火氣赫曦血散四旁當胸而痛其脈洪數法當酸斂大怒傷肝木氣奮激血液妄行經絡震痛其脈弦勁按之芤法宜甘酸以緩之微辛以和之哀郁傷肺氣機阻滯胸膈隱痛其脈結澀法當宣暢氣機小郁者芳香宣達大郁者則中氣受傷法當寓宣於補思郁傷脾木氣遏郁脾氣不舒脅肋臍上隱痛飲食不甘其脈結而澀往來不利見於右關左關弦細法當芳香醒脾甘酸柔肝恐懼傷腎腰髀虛痛喜按法錄甘鹹補腎色欲失精勞心矢血虛液枯槁經隧空痛喜按始則腰脊繼劃項背甚則隨處皆空痛而喜按當用血肉有情填補精虛蓋虛則喜按實則拒按氣虛輕按不痛血瘀重按則痛揉之痛減氣實血虛輕按痛重按不痛久按之乃快更有虛極反實發為偽症癡者盲按發為石疽脫營者亦拒按也其脈弦勁無和滑之象按之則乳外症之紅腫高大看起尖頂必焮痛脈必數而有力陽毒也必清解消散之脹痛者濃汗已成中頂必軟可潰之去腐生新已潰而反痛增者虛也脈必虛芤或散當補之蔓種無頭不起尖頂日痛輕夜痛重者半陰牛陽當用回陽法使歸於陽而後泄之潰之提之託之皮色不變塌腫無頭痛而兼痠全陰也始終以回陽法治之已潰而平爛蔓延紫量紅開痛不勝衣雖薄絹衣壓之覺有多重者虛甚也急宜峻補氣血跌打不破者多血瘀氣滯當行和刀傷失血者氣血兩虛當平補其色證形象即虛實二痛之師鑑也天府穴痛足跟痛肺癰肺痿二候也亦當察其所因而治之疝症屬肝有氣疝血疝有虛實六淫之別七情之分亦如上法以辨之溺管痛有虛實當通利當滋補亦如上法以辨之茲不贅述</p>

<h3>虛癆真偽辨</h3>

<h3>辨浮腫鼓脹</h3>
<p>古法所載如脾虛濕腫肺虛氣腫血瘀成脹水溢為腫風入腠埋頭面癢腫大風癘疾周身浮腫外仍有溫熱之氣復為腫鞠通已載於雜說矣又有一種未經古人言及者則陽明伏熱傳變為浮腫是也夫腫脹亦一症之形也見腫脹者當求其致種致脹之因而分別治之無奈近世醫者皆認為脾虛濕腫張冠李戴妄為施治能勿夭乎茲將各樣浮腫鼓脹之診治分別之法細詳於後濕腫由於脾虛脾陽不旺不能消有形之水液濕氣氾濫瀰漫中宮必先食不香飲入輒脹四肢倦怠脾土濡潤脹大土濡不能剋水不能作提岸之功而腫勢成矣及其腫也勢亦緩緩而增不甚驟急也其人面色黃暗腫處色亦黃暗不鮮潔始則不甚光亮繼則腫極方見微有光亮其脈緩無力鼓指其爪甲甚不紅其舌質淡其唇之四白微浮不起稜角治宜培土宣氣化調水道</p>
<p>氣腫肺病也先喘後腫由於肺之燥金本氣不足燥不勝濕肺之津液痰涎有餘漲滿肺絡肺氣不安格於外而為腫也其人面色浮白顯於黃暗之上額上白如浮粉目下微浮脈氣口緩大如散而不聚不能鼓指治宜培土生金復其燥金之本氣</p>
<p>血瘀致腫脹大腹者乃二陽之病發心牌不得隱曲女子不月衝任不通月事不來瘀血塞其道路寒熱作於日哺冬夢怪誕視其因寒因郁因熱分別治之寒瘀人人能治以通血脈之藥多溫也古有陳法茲不復述熱瘀之理人鮮知之以熱傷血絡血中稀汁明汁乾耗久則為火熱煉乾如血餘炭熱昧者不知此理仍用溫通之法以益其火熱烏不自焚乎注當從鞠通加減桃仁承氣法加增液之品使耗乾者復化為稀而後能通行也郁者氣鬱不能統有形之血液以行也然氣鬱久多化火熱症每多熱因郁所化非真熱不可清也脈必浮澀但解鬱舒氣氣行血亦隨之行矣</p>
<p>水溢致成腫脹者金匱有風水皮水黃汗停飲治法具在學者可於金匱心典中求之古人有陰水陽水之別陰水者陽氣已虛坎中真火不足陰寒之水充溢皮膚形症較實者尚可用溫下之沃虛甚者先建補真陽待脈氣稍旺再溫下之以散其流後用補火生土以收全功</p>
<p>陽水者在腑之病也陽氣僅受遏郁未受大傷陽鬱而化熱濕熱之水充溢於皮膚之間如金匱葶藶瀉肺外臺茯芩飲甘遂芫花大戰之屬下之可也余更以內經水熱者刺其絡之旨用針淺刺其委中承山陰陵泉三陽交以分消之諸水之脈弦長沈則滑利浮則不能鼓指或緩或遲或數無定也水熱兼數濕水則緩寒水則遲水液有餘則滑利以上之症其勢緩不若以下之症其腫速也風入腠理頭面先癢其腫甚一日可偏身皆腫其皮色不變肺浮緩大而風熱則數大風癘疾周身浮腫每逢骨節其腫較甚眉脫筋骨痠痛漸至手足不仁診治法詳於伏風條下</p>
<p>溫熱氣復之腫由溫熱病後陰液大傷餘熱未盡陰液未能來復陽氣先復無陰以斂之故氣暫浮居於外而為腫也加人遭兵英之後夫先回家妻尚未歸夫必寄食於外侍妻回自一室安居矣治之之法椎補陰以配氣補腎以納氣其腫自消矣</p>
<p>案張西園長子時疹之後鼻流黃水一二日間過身浮腫其勢甚急柳幼安診之曰絕非濕熱然不知所以致腫之理吾不能立方也敢辭後遇二醫誤作濕熱治以淡滲法小便遂不通矣延余入見其夏月裸衣坐床上渾若玉人其過身皮色鮮潔如羊脂玉中孩兒面色一望而知其為氣復矣診其脈芤大澀數舌赤少苔用生脈增液合法加豬肉腎湯西園以為創見疑餘日但服余藥明日小便通是余第一功也次日將鞠通先生書與看始信服七劑而消陽明伏熱傳變浮腫詳伏熱條下案張西園族人先是陽明伏熱化瘧後發瘡乃假愈內伏遂腿足浮腫腹大囊陰皆腫嘔不納水穀諸醫皆以濕水治之更劇余診其脈狀似促而澀兩尺虛火而長靜中有動似蝦遊以增液承氣下陽明之熱結一劑嘔止瘡兒點再下大消</p>

<h3>虛極反實生偽癥瘕與石疽辨</h3>
<p>經云虛極反實陽極似陰燥極反澤皆有至理存為陽極燥極之症前巳言之惟虛極反實症古書不多見他除燥熱傷耗胄陰胸中反覺痞悶是常有之症外仍有血虛已極氣獨走注下元少腹脅肋等處反見硬塊疼痛喜按類似癥瘕痞塊實症而非癥瘕痞塊者病家以為痞塊醫者亦以痞塊攻之誤殺者多矣又有堅硬如石包在皮肉之內者按之移者為硬核推之不移者為石疽此皆氣血兩虛死氣所發也全賴溫和補氣補血方有轉硬為和消患無形之望否則潰斂無日矣可不慎哉（石疽之症清則難愈因其氣血兩虛不能化膿多出腐渣飯末硬石枯骨之形動輒崩塌如地陷然不可以外症法治但溫養生化其氣血可耳）</p>
<p>一劉姓女癆瘵將危忽生一硬塊在少腹關元穴以予善針灸攻痞有奇功延予治之予診其脈芤弦相合無和緩氣咳甚夜熱痛處喜人用手按之刻不可離予曰虛極反實偽癥瘕假痞塊也宜補之則俏劉不信固請針灸予開導再三始服予論以為聞所未聞予用甘酸溫和兩補氣血法加豬腰子湯雞子稀黃一劑痛止三劑軟化七劑消內症亦大效後以環跳穴生石疽劉用大紅袍藥敷之疽未成而宗氣大傷延予予辭曰此症可以望救者以無形之氣未受大傷耳今麝香耗散真元醫之短者惟真元無補法耳不可救矣不日卒一向蘭谷右翼協領也胯紋際生石疽一名醫用提膿法以為得膿則生其子告予予曰陷成矣防有石團出不可救矣未旬日卒</p>
<p>一予叢師嚴介眉腰間生石疽延予友王少徐治之雖潰少徐用溫和膏外貼用溫補藥內服竟能化膿生肌收功予自左胯紋問生一石疽如近世五月所賣角黍狀堅硬加有三角石在皮內服獨參湯豬腰子湯消</p>

<h3>氣鬱徒用攻散禁</h3>
<p>凡人敢怒而不敢言之事謂之郁世醫治郁率用攻散之品如檳榔枳實青皮鬱金烏藥香附木香等類非不暫解終無愈期蓋以此等藥治郁如以石投水非不暫開石下復合再以石投之旋開旋合而水亦因飛濺之多折耗多矣氣猶水也易耗而難生長者也豈可屢勝攻散之藥乎予觀鬱症初起者氣結而不通暢尚可稍用芳香借舒陽氣其鬱之久者非特氣虛且陰血因之暗耗矣故氣鬱之初症脈象浮澀沈滑久症脈則浮沈皆澀矣溫散太過有脈變芤虛散大者矣攻散降氣太過有脈無力鼓指若有若無者矣夫郁本於七情人之陽氣不能舒暢耳有兼感六淫者有不兼六淫者不兼六淫治之較易若兼六淫治之較難全在醫者明白寓攻於補寓補於攻調治得宜耳治不得法耗傷氣血病中生病更難支持矣茲將治驗列案於左　一楊姓婦久郁成瘕醫攻散之久而不愈痛更甚予診其脈細澀若無因用獨參湯潞黨五錢一味主之服三劑安一予姨母之嬸因久郁患胃氣痛嘔吐不納醫治無功因往孟河就醫回以方示予予曰無功效明春木旺恐大發作次年正月秒病發諸醫束手復延予時巳大痛七日不食不寐矣予診其脈芤虛弦因謂之曰氣鬱血虛血不配氣經隧空疼延胸引背非補血配氣不可勿徒怪氣鬱也因用溫和補血甘酸並用法加雞子稀黃一劑安又用膏四五料竟不復發一予姨母因與伊子怒郁甚而無如之何翌日至於家以冀散悶予見其口吐粉紅沫因問之姨曰昨因作氣後即如此且口中自覺敗雞肝臭味甚重予請診脈左關若絕若續予曰肝已傷矣速回服藥因與真阿膠五錢屬配（生炒）蒲黃各四分分煎化膠頓服次日覺左肢一邊大痛不止延予予日鬱氣發欲通而不能邇之候也因仍用咋日方外以黃耆全歸紅棗各二兩煎膿洗熨渣敷次日效</p>

<h3>初下便用生軍禁</h3>
<p>下法始於仲景試看傷寒入陽明化燥用承氣篇中大黃之下有註明酒炒者有註明酒浸者有註明酒洗者豈無分別取義乎夫大黃將軍藥也醫之用大黃如國家之將將全賴用之得當駕馭有法耳故善用將軍藥為醫家第一能事考本草大黃條下稱其有沖牆搗壁之功走而不守由胄中直走下達肛門能逐無形之熱同有形之糞而出本草又稱為黃良以其無盡也又曰得酒良今之庸醫畏之如虎如毒而不敢輕用以不善於用將之過也近世時醫見識不廣讀書不多知其然而不求其所以然故偶爾知用承氣法而不知承氣命名之義竟昧味然用之誤殺者多旁觀者遂相習成風因咽廢食竟視大黃為毒藥矣予今為後學正告之大黃入陽明藥也入胄與大腸酒製之則下力緩可在胄與小腸稍為停留而後方入大陽也能降無形之火熱非攻有形不化之積滯者也凡溫熱之初感在肺不解傳入陽明胄之上脘作結胸痞悶神糊詀語者此時之熱邪猶在肺之上膈若僅用蔞貝下法又恐勢緩有病重藥輕之弊若竟用承氣又有太過之虞法當用蔞貝微加酒炒大黃以佐之則以一劑而解若大黃不用酒炒酒浸生用之必有遺熱在上不解之弊茲將予所歷驗之案述為後學之戒　一祝姓名家儀住鮎魚套四圩中向會在予家茶叢學徒丙戌歲感暑熱予診視後勸其在店服藥易愈奈祝歸心似箭竟自擅回途中烈日曝背半天受暑熱更重歸服予方嫌輕不解遂延圩中潘醫診治老潘以正氣散法投之翌日炕熱神糊復改延其子小潘診治小潘見其結胸痞悶舌如芒刺急下之數劑不解大便已下黑垢半桶矣而詀語如故也又下之至小便不通欲便則厥逆汗出小潘仍以五苓八正等方求通之勢更危延予下圩予至時已二更見其脈虛芤而澀手足下頦皆冷惟額上胸間微熱予曰勢急矣脫在一二時耳急用銀花一兩白芍麥冬各五錢生甘草稍三錢阿膠三錢姜一小片棗三枚煎服後小便通厥冷回神志清楚家人皆喜次早予復診其脈兩尺關仍虛芤兩寸已有數象戒曰勿喜尚有恐嚇在後今日仍服昨方去薑棗明日當復炕熱詀語今留一法在此予回矣留方案日津液元氣稍復道熱在上膈者如仍作詀語炕執法用去薑棗之方加制軍一錢再以錢大一片口含之隨津咽汁以搜至高之熱使下盡則可調理善後矣後果如予言復下黑垢半盆方神清熱退</p>

<h3>滋陰徒用甘寒草木之品禁</h3>
<p>陰者凡人之賢水五液津吐痰涎精血等流動有形稀汁之總名也凡人身內流動有形稀汁虧乏名曰陰虛此滋陰法不可不講也如熱症初起之輕者僅耗其無形之陰氣而不能驟傷其有形之陰質若熱邪久羈傷及有形之質始則內腎水虧肺經精液乾耗口乏涎吐繼則胃汁上溢胃中之汁反少末後則骨髓乾槁真精亦耗藏精既耗反吸身中經絡之血而血亦耗此熱邪傷陰先後輕重之分也此外又有燥氣傷人先耗肺液繼耗胄汁肝血終及腎水真精若風亦能先耗肝血繼及胃汁終及腎水真精寒邪傷人營血先耗五液斂少如寒暑表水銀縮下狀暑邪傷人光使人血液泛漲加寒暑表水銀之升繼則如煉升丹水銀上溢鍋底反乾溼氣先傷人之陽氣陽氣傷不能通調水道如水道下流淤塞上流乏溢必為水災一旦水退乾旱從之亦能使人真陰不生長而耗及陰液經曰濕傷肉肉何物乎即脾胄之陰汁貫注皮內腠理耳此皆六淫傷人之陰自然之理也然滋陰者當先辨其水虧液虧汁虧精虧血虧及無形之陰氣虧分別治之補之矣乃近時醫生率以甘寒滋潤如冬地之屬草木之品以滋陰在熱傷腎水之症未嘗無效若大肉削脫大骨枯槁大熱傷及精血腹中脂膏有限者何能起死回生乎因病久傷陰陽氣亦必帶累加妻病甚夫亦憂勞不安斯時若僅用甘寒草木之脂膏汁水以填補失喪之精血少用無濟於事多用陽氣不足以消化煎煉而化為血液若用之太驟大劑甘寒藥汁存留胃中有反傷中陽之弊予於精血虧乏脂膏不足之症改用物類血肉有形之脂膏以填補人之失喪之脂膏同類相濟像形補形較草木之汁水事半功倍且無需陽氣煎煉即可復其本元以告後學多一法門變化耳賢水不足精耗者豬腰子湯取以水中之水補水也無傷陽之弊精血脂膏胄汁大耗者用豬膚湯去白粉白蜜單用豬皮遇肌膚甲錯大肉脫者以此湯緩緩沃之血虛者以難子稀黃補之煮乾則有損無益稍老則其功滅胄汁肺液虛甚者生雞子溫水浸去冷氣生吞之以上之法皆以近時無好阿膠用代阿膠法也血虛氣亦虛者連皮羊肉湯補之肝虛者難肝湯心虛者亦可用若僅熱傷陰龜板湯補之前祝家儀神清熱退後仍延潘醫調理善後潘遵溫病法率以甘寒滋陰之品大劑投之越七八日復急請予下圩予至圩診其脈象弦細往來滑利而緩惟兩寸稍大症現大渴欲熱飲飲不解渴腹脹胸冷身體軟弱頭汁出舌反赤無苔予曰是必滋陰太驟甘寒柔膩有汁之藥水停結中宮中陽困憊不能通調水道而化生津液故脈滑舌乾時求熱飲也若投以辛溫又恐餘熱復熾思維至再惟有用甘辛淡滲法以甘辛和陽淡滲消飲小其制遂用製半夏（一錢）雲茯苓（五錢）生苡仁（三錢）秫米（一錢）姜（一片）棗（二枚）與之服一劑解因思調理善後不善尚生枝節而彼素貧寒又非可常費與金者雖合膏滋補亦難為力余因留善後之策屬用豬腰子湯烏龜湯間服十日後又以大便難告於予求方予以豬膚羹　生雞於與之七日後又來告予曰大便如常一切皆好惟腿足腰間無力不能坐立予以獨用金毛狗脊湯輿之一月後壯健如常到店矣</p>

<h3>溫下寒下潤下攻了不可混用禁</h3>
<p>俗尚日偷甫讀湯頭歌便思行道者多矣子和汗吐下三大法皆醫家選鋒治真病者也用之當否吉凶立見汗吐之法不多茲不另議惟下法門類極多古方甚夥其大綱有溫下寒下潤下攻下四者之則溫下如古法天台烏藥散加巴霜以下寒燥之結者也脈必短小緊澀有力方可用之來復丹以下寒濕凝結者也脈必遲緩兼結者方可用之寒下如調胃承氣增液承氣用大黃芒硝是也脈必氣口大數或小數有力方可用之潤下加蔞仁泥火麻仁等品取其有油滑潤以下之是也脈兼細澀血少陰虛便秘者方可用之攻下如木香檳榔丸用檳榔枳殼枳實神麯山查消導等品以下飲食痰滯有形之積滯者是也脈必氣口緊甚或牢堅而滑方可用之此外有寒溫並用以下之者加大小承氣大黃附子細辛湯是也大小承氣可以下傷寒已化為燥燥化熱之劑大黃附子細辛可以下寒傷營血化燥之劑潤下法有溫潤潤下法如用歸身淡蓯蓉金紫蘇子杏仁泥等品以下燥氣傷血血少人虛之燥結者也五仁丸亦溫潤下法也去砂仁則為平潤下法寒潤下法若增液承氣減大黃或少用大黃以下火熱傷陰便秘人虛成熱結旁流自利多日陰液耗損者也攻下法有攻瘀血者如桃仁承氣是也必右尺肺長大而數血海瘀熱方可用之有攻痰涎膠固者加礞石滾痰九竹瀝達痰丸是也必氣口脈滑大有力方可用之有下痰飲水液者如外臺花苓飲泄肺燙芫花大戰甘遂等下陽水者是也必脈象弦長流利而至緩者方可用之有用巴霜下寒飲陰水者必脈象細長往來流利至遲二三至者方可用之再合舌症人形虛實斟酌輕重用之方可無失若指下不清目中不清當寒用溫當潤用攻禍不旋踵矣</p>

<h3>詀狂症不可專認心胞火熱辨</h3>
<p>近世醫生有因讀葉氏吳氏溫熱論善治溫熱而得名者其尤易名噪一時者則莫如心胞火症用牛黃至寶紫雪等症蓋此等症最恐嚇病家最易撥亂反正此輩見識淺短讀書不多凡遇詀狂莫不以其得意之法治之反將古人所論各種詀狂症忘卻矣按內經有心胞火症因於暑汗靜則多言之文凡心胞詀語之症其人必沈迷而陰有煩躁之象不甚狂也語聲低脈兩寸獨大數或促而有力舌赤尖更加火灼方是心胞火熱症之的候方可用清心宮法若其人狂甚煩躁顯然言語聲洪亮但妄言妄見所問非所答則是陽明詀語考詀語之症古法以傷寒化燥結於陽明胃中有燥屎為第一詀語症法當下之若誤用牛黃紫雪等芳香太甚反傷其宗氣不勝下藥且有開門揖盜引邪人心之弊　又有熱入血室厥陰瘀熱與陽明臺病亦能詀語妄言妄見如有鬼神憑附狀由傷寒傳變者用仲聖桃仁承氣法由溫病傳變者用吳鞠通加減桃仁承氣法此外仍有痰迷鬼祟症亦能詀語當祛痰逐鬼者不可不知蓋鬼祟憑附之症無論其鬼之真與有與無即使真有鬼祟然鬼為陰物使其人無痰瘀陰物阻遏陽氣鬼何由得近人身故鬼祟附人必借痰與瘀血為淵藪去其痰瘀鬼亦無所附矣孫真人千金方有案驗徐靈胎有案驗可查茲不復贅</p>
<p>案予堂妹婿患陽明詀語神志半明半味予曰當調胄承氣下之其家畏大黃如虎不聽他醫用紫雪三服不應元氣耗散自利虛脫而死一友人王少徐談及其友柳明之症曰胸悶拒按詀語煩躁苔老汗不達腰以下脈澀小有力類似促結他醫投犀角至寶紫雪不應今延予予謝不敏未敢立方請問此症尚可救否予曰此陽明熱結症也君明日往診其右脈尚有力稍能鼓指雖澀小可以增液承氣主之王從予言遂七人劑愈一索姓女妄言妄見如有鬼神駭人聽聞他醫用清宮法不效用巫亦不效予以吳氏減加桃仁承氣湯合青蒿鰲甲法二劑痊</p>

<h3>咯血咳血非死症辨</h3>
<p>世人每以吐血為危症而必欲勉強止之者此猶人情不知醫者之常不足怪也乃亦有通品醫生亦以咯血咳血為危血症中難治之症且見有痰中帶血絲血點者即名之曰金絲吊蝦蟆極險之症以為必死如此嚇人病者聞之亦恐甚多致不救不知此輩之言從何而來學無根據可知矣殊不知血症之死者多死於勉強止血耳不治其本徒塞其流非不暫遏其勢而崩潰隨之反致勢不可救故善治血者不治其血必求其致血出之因以治之其效雖緩然可保無反覆之弊茲舉一二症為後學開拓心目</p>
<p>甲申年予友浙人陳惠堯患痰中帶血症醫治多人率用甘寒清潤法積久弊生脅下停蓄水飲漉漉有聲不能寢食自知必死株守而已予因治朱友妾之病遇於朱家朱因促之出手診脈予曰脈緩而弦細陽氣不足水飲停留法當宣燥且許之曰水飲可治也痰血不必治也予但能使君寢食如常操作如常而不能使君痰中無血也陳曰血不止命難久已每日飲食能化血幾何而可使之常出乎予曰男子之所重者莫貴乎精矣好色之徒家中內色且且伐之者有之即每日一度所泄必較君所吐者多況有宿妓三四度者乎白血尚如此其賤何況君之紅血乎陳聞此比大笑曰吾無憂矣因服藥十餘劑寢食如常身體精神復舊次年出而經紀至上海輪船中遇浙人四五內有同病者三皆至上海就醫者見陳痰中亦有血點驚曰君不治乎因固邀同至上海名醫處就診三人得方皆服惟陳不服三人醫三日血止而食不能進矣延未多日三死其二其一速回免作異鄉之鬼陳後十年遇予親告其事曰彼三人以止血死我獨以吐血生先生所賜也</p>

<h3>安胎論</h3>
<p>胎之不安必有所因非漫然拘執古方即可以求安者古安胎之方用寒用熱用補用瀉用澀用通各有取義非無故而迨出此方可以安盡人之胎也其有因跌僕毆打損傷動胎者傷輕尚可望安傷重萬難獲效亦有因舉重攀高而動者攀高則身體伸長血管脫離兒口重壓則氣不舒展陽氣壓下遏鬱血難流通此數者皆人事不慎使然也治法惟攀高者宜酸甘以斂之餘則宜傷科法利血舒氣使其瘀積之血得行再生新補助以益之則不致血竭胎蒂枯落之患矣</p>
<p>有因外感六淫邪氣害正胎無好氣好血以養之者世醫因辨症不清用藥錯誤益邪傷胎者遂至胎前外感六淫之症對症之藥每以妨胎而不敢用坐誤機宜卒至大小同亡良可慨矣予謂胎因執邪不安者清熱即可安胎雖寒如大黃用之可也因寒不安者散寒即可安胎雖熱如桂附用之可也在辨症清楚用藥的當耳慎無以大黃桂附傷胎而不用也經曰有故無隕言有病則病受之治邪尚且不足焉有餘力以傷胎乎茲舉一二症以備後學隅反</p>
<p>一劉子聰妻孕五月患疔毒治愈後火毒結於陽明漫延督脈陰蹻脈腿灣而不直膝並而難開雖欲入一指於兩膝間而不可入且身體硬直頭難轉動前醫亦名土執古法不敢下延月餘勢急予用增液調胄兩承氣合法加羚羊犀角鹹寒之品服四十餘劑滕開後足月而生生後又四十餘劑腿方直　一周大云外室孕二月患陽明伏熱內結症予用亦兩承氣合鹽寒法治之至十二朝伏熱外達症勢似險周延樊醫評論予方曰藥當病重伏邪外出也方甚合宜可不必改但大黃能下胎宜去之周陰從其言二三日予訝其胎脈不甚流利有欲停之勢因問得其故予曰保胎將軍委可去乎遂加用至三十二劑病痊胎安如故</p>

<h3>催生與下胎之不同辨</h3>
<p>下胎者如胎死腹中或私胎不可使人知二者皆但欲下之而不必保全其胎之能生長也若有夫之婦孕胎足月臨盆太早生產疑難除試痛非正產仍需安胎可不必催者外有已當正產因有他故不能遂生不得不借仗於藥力者曰催生雖催之使下而生下之後務必期保全此兒易長易育能長大長壽無災病也非徒下之則已者可比古方兔腦丸鑿柄木等方但取搗下之義然予觀之用此等夫者產後大人小兒多不健旺長壽是以戒催生者不可拘執古方凡下胎之方更不可用</p>
<p>生產木婦人常事本無難者試觀胎生之畜類與私產之室女可有難產者乎其所以有難產者除因驚覺太早累次臨盆空費氣力者外亦有因氣不足者（如船在江河中無風以送之也）亦有因血液虛者（如船在河中潮小無水不足以載舟徒費推移之力不能行也當補血液）亦有因氣鬱己久氣逆而不能降者（胎前家中多拂意事肝氣鬱抑已久如船在江河中雖有風奈非順風不能行也當解鬱順氣）亦有因肝腎素虛陰虛不足以化生者一老陰不足則無以生化當培肝腎之陰）亦有因外感六淫邪氣縛正而不生者（感熱則血耗幹不能運動）（感寒燥則血凝結陽氣不能運行）（感風則木氣上逆營衛不和血因風耗）（感濕則中氣困乏陽氣不連脾不統血不能連行）亦有因七情五志所傷不能生者（悲則氣結不能連血）（恐則腎傷腎陰不足不能生化）（思則脾氣鬱不能統血）（怒則氣逆肝木橫張肺失肅清下降）（喜甚則肺氣渙散亦不能降）（驚則氣上越散而不聚亂而不順）</p>
<p>以上有一皆足以妨礙正產之勢故不能速生此催生法不可不講也謹將舊案有效者列左</p>
<p>催生通用外貼膏（龜板蛇蛻）入麻油炸枯後去渣入龜板膠收攤貼少腹如無此膏倉卒用龜膠化貼亦可本古方龜殼散化出取補老陰陰足則能生化之義加驚覺太早用之亦可安胎　一婦因驚覺太早予診其脈未離經水未下貼此膏腹痛止過三日方生　一蘇姓婦難產周時不下予診其脈芤虛已過魚際勞宮中指節兩旁動甚予曰血不足以連胎也用阿膠杭芍生甘草湯外貼催生膏越戌至辰六時而生一子　一胡姓婦難產二日不下予診其脈細如遊絲不能鼓指用四君子湯越六時生　一劉姓婦難產三日不下余見其面青舌赤寒戰脈大無倫用龜板（一兩）生甘草（三錢）服下痛止安眠不戰越七時而生一卜姓婦產二日不下氣喘急舌黃赤脈大數口渴余曰大熱血乾氣逆不降用清降法羚羊石膏冬地少加大黃以降之服下踰時即生一婦產二日不下脈弦澀如循刀按之微滑利余曰此氣鬱也用香附芎歸湯服下越三時生一婦產三日不下又當冬令面青脈緊甚逼指有力余曰寒邪縛陽氣也用蘇梗防風辛散解表之劑服下一時得微汗三時生</p>

<h3>胞衣不下不必驚慌論</h3>
<p>穩婆無識每見胞衣不下故作驚慌者怛須鎮定勿為所惑俗有用自己發入口作惡心取下者其法亦效然有瀝漿生者因下血水過多胞衣乾涸滯於腹內者需用補血生其血液方能達下沃宜於增液四物湯酌虛實寒熱脈象擇而用之並無囚胞衣不下上走至心者醫家勿為邪說所愚可也亦有反胞而生者因胞已仰承在腹內胞中滿注瘀血不下者但須穩婆用手伸入以一指頂胞底則胞內瘀血得濰於外亦可下矣</p>

<h3>產後論</h3>
<p>古人論產前多實熱產後多虛寒世俗遂因之新產後必食紅糖粥湯胡椒湯a蘄艾湯生化湯等類牢不可破習俗相沿永定為例節尋常庸醫亦只知以芎歸四物湯佛手散烏金丸生化湯溫和之劑調理產後諸症間有產後虛熱瘀熱溫熱等需用甘寒辛涼之劑者無不群相訕謗以為不可殊不知古人立言下一多字者亦不過虛寒症多於虛熱實熱耳非謂必無熱症也若產前豈無一二傷寒虛寒需用溫者乎產後豈無一二虛熱實熱用寒者乎豈可膠柱鼓瑟拘執一偏之見乎學者但須照脈舌症合參斷病宜寒則寒之宜溫則溫之宜補則補之宜通則通之全在指下清楚目下清楚務在得其病根不致張冠李戴耳茲將產後破格用藥治愈之案列後以告後學知所變通焉</p>
<p>一鄧姓女因夫妻相打動胎下血延余安胎不遇次日余往其夫曰昨日請君不至因抄達生編中安胎方服下何反比催生散更速乎余見其脈洪數鼓指有力按之力更甚因謂其夫曰方中殆用歸芎續斷等品現在熱血已乾滯腹中矣宜戒俗用通套艾椒紅糖之品下咽恐難挽回過七日自見熱症大作矣過七日延余診脈更數至七八至炕熱氣喘有汗不退熱腹中時痛時止口渴余曰氣血兩燔今西瓜上市可用西瓜自然汁緩緩沃之需服七八日再議其夫不敢信門外門內鄰醫聞之吐舌幸病人自主索西瓜甚急因與之一杯稍安後其夫膽漸大遂日以西瓜汁三次當三餐七八日周身出紅疿數次始變白疿白疿出腹覺脹痛又延余余用吳氏加減桃仁承氣湯一劑大寒熱二劑經行其病如失按此症與古產後黃耆湯血虛症相似惟脈有根無根之別耳此症全在脈按之愈數愈有力定案若按之虛空無力則是血虛陽無所附症矣仍遵古法可也</p>

<h3>目疾論</h3>
<p>眼科諸書率以風熱外感主治久患者率以補腎補肝等法主治殊不知眼之全體屬肝黑珠屬腎白睛屬肺與大腸兩目角紅肉屬心與小腸上下胞屬脾胄目外皆屬少陽內皆下屬陽明睛明穴上胞眉稜骨屬太陽陽明五運六氣偏勝六淫皆能為病亦有氣血痰濕自生之病其濕邪如雲霧矇蔽太陽患目者固多而瘀血濕痰陰凝之氣侵目者亦復不少氣虛血瘀不能生光退紅者亦復時有非深明醫法者不能出古法拘執範圍也辨之之法全在於脈六淫時氣脈症診治加以上內症法特神而明之存乎其人耳謹將罕聞創見之反乎古法治之獲效者列案於左</p>
<p>一耿姓患目念年醫以滋補肝腎法治之久不效且覺羞明不可見些微之光胸中氣怯甘甜之物不能稍離片刻余診其脈緩大如綿包止三四至往來滑利余曰此濕痰凝結中宮症上下胞浮腫光亮用苦辛溫兼苦寒法倍蒼樸黃芩黃連微加桂附以消前服陰寒藥配藥時藥店力阻勿服次日又延余余曰爾覺虛甚桂圓蜜棗不能稍離然亦不能不虛爾先購川撲（二分）來放一二片入口嚼之如比棗圓有功覺不甚虛矣爾即服昨方不必改也二劑愈矣</p>
<p>一施琴夫婢女左目白睛有黃膿一點如蘇子大外眥紅絲貫之餘曰瘀血循少陽膽經貫目其殆天癸來不暢歟用加減桃仁承氣法二劑愈　余侄文瀾黑睛下白膿一點如蘇子大揉之覺睛痠余曰此痰氣術陽明經上也用二陳湯一劑愈　一吳霖生患二目久不愈至余處時已欲相者扶至余診其脈浮澀沈滑而細二目紅瘀不辨黑白余曰此氣鬱血凝因不遂意而得也誤服涼潤矣用辛溫散郁七八劑愈</p>

<h3>癰疽論</h3>
<p>癰疽者外症之總名其小者為癤（大不一寸之徑）大者為癰（二三寸大者有頭）高起有頤潰膿有包者為癰平腫扁塌平爛仿延者為疽亦有高起如覆杯如小鰻首根腳如繩束引頭如平圓棋子小豆餅者潰後深凹起肛口亦陰疽也</p>
<p>痛陽毒根淺來源少易治（內服清涼外用升丹太乙膏）癰陽毒根深來滁遠大難治內經有初傳熱中末為寒中之文故有始實終虎者亦有毒實人虛者有始末皆虛者（未潰已虛既潰更虛脈芤血虛脈澀弱氣血兩虛脈繃弱氣虛法當甘補甘溫益氣）有半陰半陽者（濕熱相兼治宜平劑內用金鑑正宗活命飲有八珍湯等法外用忌疔散擒王散萬應膏）全陽者（脈數舌宣紅腫有頭初宜清解潰後防虛宜兼扶正）有陽毒發於陰部位者有兼陰毒而發於陽部位者（如伏兔疽環跳疽部位則陽病因在兼寒濕血氣凝滯者陰部如囊癰橫痃魚口大腿裡面腋下胸腹等是也）疽陰症也有氣血凝滯而發者（如范增因恚忿發疽而死）有濕痰凝結而發者（如紅痰白痰痰核等）有氣血不足死氣而發者如石疽脫營等症是也（諸書有以紅白辨陰陽虛實分癱疽治法者然余每兒有初起不紅之疽因治不得法變為紅紫而平爛者甚有紫暗灰暗色者若曾經治顏色已變從何分別乎法當問其初起顏色形狀以定之蓋白疽誤用涼散之藥冰凝其血其色必改變紅紫灰暗矣法當用陽和膏或小散陰膏貼之如石疽脫營之症其脈多弦細緊澀按之如引繩循刀堅而不移往來不利法當內外溫補虛甚者用血肉有情填補之法）有介乎癰疽之間實因內症不解發於外而為病移者（其外症形勢介乎不癰不疽之間傳變症候不與外症古人定論相合必問其外症未起之先會有他病否但此種病移之外症多陽明當下不下症傳變而來但有暑熱燥濕之異耳治之之法務在得其內症之根由對症施治除盡病根方愈外亦勿用癰疽古法未藥敷摻之但以溫和膏藥貼獲其外慎毋用涼血販毒提膿之法若外用涼藥遏其內邪外解之勢則綿延難愈橫斕侵淫膿水多稀累月經年杳無效驗矣）</p>

<h3>疔瘡論</h3>
<p>疔毒之發有二種一為火毒獨發一為兼火兼濕而發生於手足少陰經穴極重兩厥陰兩陽明次之（少衝湧泉穴極重大敦勞宮穴次之）皆有紅絲人中口角虎口眉頭眉心陽明部皆易散大漫腫古方法多拙惟菊葉汁入酒少許服為治濕火之疔最當法今增一法凡脈數極有力振指者大黃甘草湯脈無力大數軟如綿包而滑近散者大黃湯一味主之外用砭石或磁鋒角針等刺之出紫惡血有紅絲用金針刺紅絲盡處出血外貼洞天仙草膏稍加陳昇九一丹貼之單洞天膏貼之亦可皮薄肉薄之處禁用升丹恐生努肉肛口不可不知</p>

<h3>瘡毒</h3>
<p>瘡有乾疥濕疥膿窠之異乾疥顆粒密而小色紅隱於皮內者多搔破有血火氣所發也肺胄腎肝血熱也其脈細數沉數舌質紅治宜清涼血分濕疥粒如珍珠光亮有水濕熱平等者亦有紅盤濕重者無紅盤脈緩滑治宜甘辛淡滲法從太陰主治膿窠亦有有紅盤者亦有無紅盤者亦從上法分別治之其顆粒較大如豆式兼陽明肌肉之分也若大加元眼大如楊梅者從下梅瘡治法治之</p>
<p>如用一掃光合堂丸治之者其效雖速必變他症有化瘧痢者有變生瘡蠱浮腫者有發為大癰疽者不可不知</p>
<p>乾疥用三仙丹豬油調搽濕疥用二妙丸末乾摻膿窠用萬應膏或救苦膏加陳昇丹和入□內攤貼乾摻者必極陳者方可不痛不起努肉和入攤貼則無弊矣不陳者更宜少用為佳</p>
<p>瘡蠱浮腫古有蟹黃酒發之之法但在脈滑數不芤澀者可用設脈已細澀芤數是熱已傷陰營血已耗豈堪再用破血之蟹乎蟹為介蠱屬金得燥金之勝氣故西北風起九月菊黃則蟹正盛矣以治濕熱相兼之瘡熱誠是以治火熱之瘡蠱則恐有竭陰之弊茲改用增液承氣湯加（麻黃升麻薄荷細辛）等一二分微兼辛以開其表不致冰伏內陷足矣此四種藥中擇一二味臺用者用之可耳不必全用也透發於外後去之</p>

<h3>暢梅瘡診治法</h3>
<p>痘瘡因於先天相火而成梅瘡則後天相火而成有挾濕毒者有不兼濕氣者有妄治妄瀉克伐太過傷及元氣津液精血而成內陷者有誤用輕粉劫藥而成結毒者何謂結毒以梅瘡屬陽毒輕粉屬陰毒陰陽二毒凝結一團清之不可溫之不可故曰結毒楊瘡雖重易治結毒雖輕難醫　其脈數大有力鼓指苔黃厚腐雖無完膚易治以增液承氣湯加鮮生地下之以其相火一氣為病也　其脈數大而軟如綿包者兼濕氣也加苦寒以瀉之苦辛以和陽氣淡滲以通水逍　其脈芤虛澀者元氣陰血不足也宜先清補滋益之以防內陷托毒外出　脈象弦數兼澀澀者恐巳誤服輕粉陰陽二象並見如有筋骨痠痛肌肉麻痺如蟻行瑟瑟處者必巳誤服無疑矣宜用收水銀法取盡輕粉毒氣方愈法用開口花椒十四粒整吞如送丸藥法每日吞之便出至不開口止外以金針取穴道引國粉氣吸針上緩緩日日針之取盡陰毒方止凡服輕粉霜者牙齦必腫口流涎水其犯陽明經可知凡病人陽明多不再傅用金針取法亦取足三里手合谷二陽明經穴耳深內針久留之待氣至然後出針弱者徐出針恐其不勝大泄也當者可用赤金為珠如綠豆大數粒當丸吞之待其由大便出揀出洗淨其色必淡白用火燒後再吞便出再燒如是可數次再筋骨痠痛肌肉麻痺如蟻附之處用金器磨之磨擦久皮輒紫黑如破用真金箔貼之若結毒已潰者極難斂需用金葉作油紙攤散陰膏摻制去油硫磺末貼</p>
<p>之如無桂末與花椒末亦可用赤金者取物類相感水銀食金之意也痘疹另有專書</p>

<h3>斑疹診治法斑疹者肺胃病也肺主皮毛胃主肌肉疹病輕斑病重斑有大小小者其根淺病輕邪易外解大者其根深入肌肉之裡其因肺腎心三藏血熱漲泛而成雖有陰陽之別實則伏熱所在陰斑者其色紫黑暗重濁有因外寒遏郁內熱而成陰斑有因氣血兩虛正不能捍邪而成灰暗之斑與痘瘡灰陷黑陷五陷無異庸醫以斑疹二症必須發表有妄用剛燥之藥者亦有以斑疹屬熱妄用涼劑苦寒者如用茅根妄用至四兩者並不審其氣血虛實在表在裡率以上二法治之誤人多矣故分別治法大略於後</h3>
<p>其脈浮或緩風疹風溫也辛平解肌其脈浮緊者有表寒縛之也方可辛溫透表舍些脈象無辛溫發散之埋其脈中部數大甘寒微苦法以清之其脈實大有力搏指者陽明實熱在裡雖斑疹未能透達時隱時伏必微下利之裡和則表自透達矣兩尺脈數大而長者甘寒鹽寒苦以瀉之數芤者陰虛重用甘寒以潤之脈象虛芤者益氣增液以滋益之否則白㾦空泡作矣有白加水晶有光亮者氣分獨發也脈滑緩無力舌潤白氣分濕邪所發宜加甘辛淡法脈不滑緩而仍沉數者血傷於熱血少不能隨氣而出於表也法當益血滋潤以助其外達之力曾經誤治誤燥誤表脈散者甘酸以斂之如生脈法最佳誤瀉氣弱脈微者加減復脈法與生脈法合用</p>

<h3>小兒臍風撮口診治法</h3>
<p>面色微青白額上黃目胞黃鼻黃黃至口角則不治脈象弦緊而微口如荷包撮緊鎖不能出聲不乳不食按此症幼科鐵鏡有成法具在可不必再論但夏氏之說有未盡者引而伸之夏氏謂此症斷臍時受風也七日以外無是症也發作必在七日以內然已丑年八月吾胞侄文選生已半月忽患此症吾以夏氏燈火十三醮法治之雖有效仍未能出聲延一日至晚間先進溫散足三陰藥仍未全效後灸肺俞二穴灸神闕各三壯如哭出聲能乳矣蓋燈火醮法近於發散雖面色轉紅黃色退口不甚撮而不能出聲者肺脾兩太陰之氣虛也吾用補法灸之氣得補方能有聲他後此子常患寒水喘哮之症足見兩太陰陽氣不足矣</p>

<h3>犯太歲鬼神奇怪症診治法</h3>
<p>其人面色中部黃暗脈象變現症亦無定形此必其鬼神邪祟症也（宜禳解巫醫並用）　　醫家首重望字末重切字余於庚寅年左胯紋際生一核狀加雞子自知因境所郁先寬後窘症類脫營法當不治先治以解鬱不應後因友人敦勸再三勉從其議服醒消丸三分翌日身不可直向之如雞子大者反變成硬堅如石如角黍大矣適有友人朱霞村善風鑑因事顧我見面色驚曰吉翁特無犯太歲乎面色險矣余答以無修造事何得犯之朱不信遍視宅內回告曰君宅內寅宮有糞坑是何時所作余曰是舊坑也殆小奴不聽吾言私傾於內耳此汙犯也敢求禳解朱為選時日如法禳之餘自用補氣補腎法一二日硬塊消疾如矢乙未鄰女趙病黃延余診視視三日略有效而黃終不減余細診之見其脈乍大乍小乍數乍緩余曰此變脈也鬼神為病敢問宅內曾動土乎宅母細思曰病者前七日曾在西南角栽扁豆余視其方正值未上太歲因問曰宅長會有恙乎曰栽次日宅長重病三日不藥愈愈則女黃作矣余因學朱法教之禳解不藥愈中表姐丈蘇植三因起灶犯歲破飛五黃殺灶未成而蘇病延余視之見其面色黃赤黑暗如炒枳殼色病脈三日一日一變代其細查動工日知所犯者重必有或十或五數日之厄因力辭醫任教之禳解法曰得保命幸矣後由內症變為外症重困五十日方漸安痊</p>
