<header data-type="book">
<h1>金匱玉函要略述義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>丹波元堅</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1842">公元1842年</data></dd></div>
<div><dt>底本</dt><dd>*收錄於《皇漢醫學叢書》第七冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00510/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>題辭</h1>
<p>先教諭金匱輯義。繫於晚年定本。是以極其精核。無須贅述。惟不肖受讀既尚。時有管見。又諸家方論。擴充經旨者。其偶爾失載。亦間有之。趙以德衍義。周揚俊補之。題曰二注。近代朱光被有正義之作。俱出於先教諭下世之後。並擷其粹。皆標記在輯義上層。不敢謂有裨學者。然竊比之雞肋。仍整錄為編。以供子弟參對云。天保壬寅首夏。丹波元堅纂。</p>
<p>金匱註解。更有高世栻。李彣。李瑋西。俱為醫宗金鑑所引。又有盧之頤摩索金匱。張志聰注。黃元御金匱懸解。戴震注。李鈞注。皆是先兄醫籍考所著錄者。盧氏。黃氏。學頗迂僻。其存不存。不足措念。其他諸家。惜未得見之。況戴氏碩儒。顧考證必精。而其遺書中。缺焉不收。最可憾也。又李炳字振聲。號曰西垣。苦金匱無善注。乃撰金匱要略注二十二卷。能抉其微。見焦循雕菰集。嘉慶中。陳念祖著有金匱淺注十六卷。金匱讀四卷。見其神農本草經讀序。</p>
<p>趙開美本。輯義所引。系皇國重刊。今得其原刻勘之。間失其舊。又朝鮮國醫方類聚所據。蓋為宋元舊刻。亦與今本互有異同。今並校而揭之。</p>

<h1>卷上</h1>
<p>按廣雅曰。略。要也。王念孫疏證曰。孟子滕文公篇。此其大略也。趙岐注云。略。要也。又說文曰。略。經略土地也。段玉裁注曰。引申之。凡舉其要。而用功少者。曰略。略者。對詳而言。觀此諸說。則要略二字。其義更晰矣。</p>

<h2>臟腑經絡先後病脈證第一</h2>
<p>（按傷寒論每篇首。冠以辨字。今要略無之者。蓋後人所刪也。外臺療瘧方。引張仲景傷寒論。每條首。有辨瘧病。辨瘧脈等字。亦足以證。）</p>
<p><u>論十三首</u>（三。當作五。）　<u>脈證三條</u>（諸本。作二條。宜從。）</p>
<p>問曰。上工治未病。何也。</p>
<p>〔徐〕醫中有大關目不可專指一病者。仲景於首卷。特揭數十端。以定治療之法。此則論五行相剋之理。必以次傳。而病亦當預備以防其傳也。〔魏〕此條。乃仲景總揭諸病當預圖於早。勿待病成方治以貽悔也。治之預。則用力少。而成功多。所謂曲突徙薪之勳。宜加於焦頭爛額之上也。先言肝者。以四時之氣始乎春。五臟之氣始於肝。洪範言履端於始。序則不愆。故先引肝。以為之准云。〔朱〕甘味入脾。兼能緩肝。和調兩臟。令弗相牋也。</p>
<p>按趙氏於內經辛補。仲景酸補之理。詳為之辨。蓋繫於尤氏所據。文繁不具錄。</p>
<p>夫人稟五常。因風氣而生長。（稟。周本。作秉。）</p>
<p>按禮記樂記曰。道五常之行。注。五常。五行也。禮運曰。故人者。其天地之德。陰陽之交。鬼神之會。五行之秀氣也。又曰。故人者。天地之心也。五行之端也。楊上善太素經注曰。風氣一也。徐緩為氣。急疾為風。人之生也。感風氣以生。其為病也。因風氣為病。是以風為百病之長。集韻般字下曰。亦數別之名。無犯王法。蓋謂無犯王者之法律。以罹墨劓剕宮等刑。白虎通曰。犯王法。使方伯誅之。先兄曰。竭乏。即內經以欲竭其精之義。又金鑑。以為內所因中虛。外所因中實。不內外因。非中外虛實。徐氏。以為適中經絡三句。應前內因一段。四肢才覺重滯四句。應前外因一段。更能無犯王法二句。應前房室一段。並是。然更就服食節其冷熱苦酸辛甘句考之。則三者房室下。恐脫服食二字。否則彼句內。蘊有服食失節乎。如此看做。殆覺上下相應。於病理亦相葉。而更能無犯王法以下五句。都應前房室一段。</p>
<p>又按喜多村直寬曰。服食。即衣服飲食之謂。靈師傳篇云。飲食衣服。亦欲適寒溫。可以徵焉。斯說得之。（小島尚質曰。陳天竺三藏真諦釋迦毗羅仙人金七十論云。三苦。一依內。二依外。三依天。此亦論三因。與經旨略相似。）</p>
<p>問曰。病人有氣色見於面部。（胸上。周。作胸中。）</p>
<p>按魏曰。鼻為肺之開竅。而主一身之元氣者也。五臟之氣。莫不稟受於肺。而五臟之真色。亦必隨氣之出入而發見於鼻頭。此鼻頭所以可驗五臟之真色也。此解與尤意異。然宜備一說。痰飲篇曰。膈間支飲。其人喘滿。心下痞堅。面色黧黑。蓋與本條相發。又色黃者。色白者。二證。沈魏朱屬之鼻頭。檢千金方曰。論云。鼻頭微白者亡血。設令微赤非時者死。病人色白者。皆亡血也。又曰。凡人候鼻頭色黃。法小便難也。蓋是三家所本。</p>
<p>師曰。病人語聲寂然。</p>
<p>按喑。當與韽通。周禮典同職。微聲韽。鄭玄注。韽。聲小不成也。</p>
<p>師曰。息搖肩者。心中堅。</p>
<p>按趙曰。此仲景因呼息以為察病之法。與後條吸對言。以舉端耳。徐注本於此。又沈氏以為此言喘息有痰氣肺脹肺痿之別。其說似是。然不及魏之穩切。但魏唾沫解恐非。沈曰。肺熱葉焦。氣弱不振。津液化而為涎。上溢於口。故吐涎沫。似是。蓋古所謂沫者。即今之痰涎。不必是白沫。（宜參肺痿。及痰飲篇。）又金鑑痰嗽肺痿之辨。欠妥。</p>
<p>又按徐氏註上氣色條有曰。但望法貴在神氣動靜之間。此言甚妙。如欲候氣息者。最所宜加思矣。</p>
<p>師曰。吸而微數。（沉。作息而微數。且曰。遠。當作遲字。並誤。）</p>
<p>按朱以上焦下焦二句。為虛者不治之註腳。謬矣。又魏注中筋脈二字。宜刪。</p>
<p>師曰。寸口脈動者。</p>
<p>按此條。上文言脈不言色。下文言色不言脈。是互文見意。故結以非其時色脈句。</p>
<p>問曰。有未至而至。（為至而不至也上。俞本。類聚。並有此字。）</p>
<p>〔徐〕此論天氣之至。有過不及。不言及醫。然而隨時制宜之意在其中。（輯義尤注中。至未得甲子下。脫而天已溫。或已得甲子。而天反未溫。及已得甲子十九字。）</p>
<p>問曰。寸脈沉大而滑。（脈經。不設問答。卒厥下。有不知人三字。口字無。和上。有溫字。）</p>
<p>按此條。脈經題云平卒屍厥脈證。（巢源。載之屍厥候中。）而雜療方屍厥下原注。曰脈證見上卷者。徐鎔以為此條。則殆是扁鵲所療虢太子之病也。又素陽明脈解篇。厥逆連臟則死。連經則生。</p>
<p>問曰。脈脫入臟即死。</p>
<p>按先兄曰。此條。諸註失鑿。蓋是承上條。更申其理。脈。即血脈。系血氣之省文。考字書。脫。或然之辭。宜為助語看。始妥。脫本外脫之義。脫而稱入。甚不相協。素方盛衰論。脈脫不具。診無常行。吳崑注云。脈或不顯也。可以相證矣。吳子勵士篇。脫其不勝。取笑於諸侯。後漢書李通傳。事既未然。脫可免禍。宋趙德麟侯鯖錄曰。脫者。可也爾也。謂不定之詞。漢晉人多言脫如何。亦或也。胡三省通鑑注云。脫者。或也。又曰。脫者未可必之辭也。此皆可例。</p>
<p>問曰。陽病十八。何謂也。（飥。類聚。作飪。）</p>
<p>〔周〕此總內經所著之病。而為之分陰陽悉表裡。合上下內外以立言。庶幾經絡明。腑臟著。所因顯。不致散而難稽也。如三陽在外。病頭痛等六證。則各有所行之經。各顯本經之證。三而六之。非十八乎。而三陰之在裡者亦然。五臟各有十八。合計為九十病。其為病。則於靈樞。論心脈為瘛瘲。班班可考矣。若六腑則何如。腑居內而合於經者也。故邪之在腑者。合外於經。其受患為淺。而欲散不難。不若五臟之深且甚焉。故曰微也。其為病。內經有分屬。仲景括為一百八病。蓋因腑之六。以為數也。凡此共二百三十四病。統內外而言之也。人之一身。上下表里盡之矣。而所謂清濁大小邪者。一為霧露。一為地濁。本天者親上。本地者親下。百病之長。傷人之陽。肅殺之氣。傷人之陰者。是也。從口入者為內傷。亦足使人發熱腹痛。喘嘔脹滿。不去其陳而致新。不足以為功。〔魏〕大約陽病皆軀殼以外之病。而陰病皆軀殼以里之病耳。</p>
<p>按此條分為兩段。前段。是就經絡臟腑。而舉疾證數目。（程注錯算。周氏為是。○後漢書郭玉傳。方診六微之技。亦不審其義。）後段。說五邪而分三節。先就其性立名。（風善行而數變其性。見千金。）更反復示其所中。余義結以極寒極熱。可謂盡矣。但注家於大邪小邪。迂曲費說。甚失經旨。不知三節互相照應。大邪言風。小邪言寒。其義瞭然。周氏所解殊卓。蓋風則泛散。故稱之大。寒則緊迫。故稱之小。且風之傷人為最多。寒則稍遜。亦其所以得名歟。風性輕揚。故先中表。而令脈浮。寒性慓悍。故直中里。而令脈急。</p>
<p>又按素太陰陽明論曰。故傷於風者。上先受之。傷於濕者。下先受之。靈百病始生篇曰。風雨則傷上。清濕則傷下。辨脈法曰。寸口脈陰陽俱緊者。法當清邪中於上焦。濁邪中於下焦。皆文異旨近。又陶氏本草序例曰。夫病之所由來雖多端。而皆關於邪。邪者。不正之目。謂非人身之常理。風寒暑濕。飢飽勞逸。皆各是邪。非獨鬼氣疫癘者矣。本條邪字。得此言而始明矣。</p>
<p>先兄曰。盧文弨鐘山札記。詳辨䅽字。宜參。</p>
<p>夫病痼疾。加以卒病。</p>
<p>按說文。痼。久病也。（汲古閣刊宋本。作㽽。訛。）又金鑑所引趙注。二注本以為周氏。師曰。五臟病各有得者愈。</p>
<p>按尤氏引藏氣法時論。宣明五氣篇。五味篇為徵。宜參。又成氏注厥陰篇除中條曰。若胃氣絕。得面則必發熱。若不發熱者。胃氣尚在也。恐是寒極變熱。因暴熱來而復去。使之能食。非除中也。金匱要略云。病人素不能食。而反暴思之。必發熱。是成氏既以思字作食義看。</p>
<p>夫諸病在臟。</p>
<p>按此條豬苓湯。不過姑假之以備隅反。徐沈朱附出其方。深誤。</p>
<p>〔余述〕此篇。仲景揭示辨證處治之總例。而其最緊要。在首章與第二章。今深繹其意。則寓有三義。蓋人之有身。以臟腑為之主宰。故論理疾病。必始自臟腑。實為軒岐相傳之學。故仲景舉之於首。以為後人模範。其義一也。病之大體。不過二端。曰內傷。曰外感。是已。首章所主在內傷。次章所主在外感。兩相對列。使人知病之不出二端。其義二也。治病之要。不過防微。渴穿鬥鑄。先聖所戒。是以首章舉治未病。而次條亦曰。未流傳臟。即醫治之。曰。勿令九竅閉塞。皆示見微得過之意。其義三也。此三義者。豈可不謂非醫家入學之門徑乎。其他諸條。辨色。辨聲。辨氣息。辨色脈應否。辨脈之先後。診察之法盡矣。病有起於急遽者。吉凶不可不察。內因之病。皆有數目。外感之疾。各有法度。五臟之病。有所得。有所惡。亦辨證之綱領也。如夫天氣消長。人身亦應之。則其理不得不講也。施治之法。先示防微。又示淺深之有別。又論病之表裡新久。必有先後之序。而篇末一章。發攻導諸劑之秘焉。夫然後辨證處治之例。無出於此篇範圍之外。則此篇者。真醫家之大經大法也。</p>

<h2>痓濕暍病脈證第二</h2>
<p>（俞本。證下。有治字。是。）</p>
<p><u>論一首　脈證十二條（當作十六條。）　方十一首</u></p>
<p>太陽病。發熱無汗。</p>
<p>太陽病。發熱汗出。</p>
<p>按反惡寒。錢注竟屬牽強。蓋反。是而字訛。千金翼可以徵焉。（千金翼。作而反惡寒。竊想反字。後人從本經所補入。）不惡寒。諸注亦不確。巢源無不字。林億等校傷寒論。及總病論。並既引證之。為是。要之此二證俱有惡寒。惟須以無汗與汗出。為表實表虛之分。不繫惡寒不惡寒也。栝蔞桂枝湯條曰。太陽病其證備。亦可以徵。</p>
<p>又按趙氏曰。所謂柔痙者。非不強也。但剛痙強而有力。柔痙強而無力為異爾。此金鑑所本。又聖惠方曰。陽痙即易瘥。陰痙即難瘥。又曰。柴胡散。治傷寒陰痙。閉目仰面。石膏散。治傷寒陽痙。通身熱仰目。此解惑論所本。先兄曰。曲禮剛日柔日。即陰陽之義。</p>
<p>太陽病。發熱脈沉而細者。</p>
<p>按脈沉而細。徐錢以為痙病正脈。（然則細是緊細之細。非微細之細。）而痙之必難治。程鑑等以為痙見此脈者。氣少之候。故難治。</p>
<p>夫風病。下之則痓。</p>
<p>按風病。猶言風家。不過與前條均言太陽病。</p>
<p>瘡家。雖身疼痛。不可發汗。</p>
<p>按瘡家。謂金瘡家。（瘡。古作創。說詳於傷寒論述義中。）蓋身疼痛。本麻黃湯所主。如金瘡家。軀殼血乏。縱得傷寒。倘發其汗。則筋脈益燥。遂為痙病也。此與破傷風之邪入自瘡口者。其機稍異。</p>
<p>又按以上三條。言痙病所由。醫通每處一方。非是。</p>
<p>病者。身熱足寒。頸項強急。（原注浛浛字。趙本不復。）</p>
<p>張錫駒曰。頸項強急。則不能轉舒而動搖。故獨頭面搖也。成氏曰。卒口噤。皆不常噤也。有時而緩。</p>
<p>按此條諸證。皆是繫於邪著筋脈。風熱上扇之所致。諸注強為解事。不必然。又軒村寧熙曰。若發其汗以下十七字。蓋濕病中之文。今錯在此也。此說似是。</p>
<p>暴腹脹大者。為欲解。</p>
<p>〔徐〕痓家之脈。總不離於沉緊。今之伏弦。亦沉緊類耳。</p>
<p>按如故二字難解。王肯堂曰。此痙字。恐當作死字。非是。</p>
<p>夫痓脈。按之緊如弦。</p>
<p>按轉筋篇。轉筋之為病。其人臂腳直。脈上下行微弦。</p>
<p>太陽病其證備。身體強𠘧𠘧然。</p>
<p>〔徐〕太陽病其證備者。身熱頭痛汗出也。〔程〕太陽病其證備。言頭痛項強。發熱惡風寒具見也。</p>
<p>按太陽證備。尤引趙氏。其說近迂。徐程為穩。脈反沉遲者。與桂枝加芍藥生薑人參新加湯證。殆同其轍。</p>
<p>又按栝蔞桂枝湯。為柔痙初治之方。先教諭別有痙病論。曰。剛痙表證。與葛根湯。入胃者。承氣湯。柔痙表證。與栝蔞桂枝湯。倘裡氣亦虛者。桂枝加附子湯。芍藥甘草附子湯。真武湯。活人附術散。聖濟附子散之屬。理所宜然。亡血產後。陽盛陰虛。或有不中與附子者。乃參歸湯。人參建中湯。及景岳滋補數方。當採擇而用焉。</p>
<p>又沈氏曰。有竹葉湯加附子。以治產後頸項強。乃陽虛濕盛之痙。此言不核。然其方可借為柔痙裡虛之治。</p>
<p><u>栝蔞桂枝湯方</u>（按三升下。似脫去滓二字。）</p>
<p>太陽病。無汗而小便反少。</p>
<p>按無汗則津液內多。小便當利。而反少者。以其人津燥之故。尤注謬矣。</p>
<p>痓為病。胸滿口噤。臥不著席。</p>
<p>按千金方曰。諸反張。大人脊下容側手。小兒容三指者。不可復治也。此龐氏所據。沈氏曰。大承氣湯。或見內實。原有疏解。非為攻下而設。尤氏曰。此痙病之屬陽明瘀熱者。然無燥實見證。自宜滌熱。而勿蕩實。乃不用調胃。而用大承氣者。豈病深熱極。非此不能治歟。然曰可與。則猶有斟酌之意。用者慎之。朱氏曰。急與大承氣。以下其熱實。則枳朴硝黃。未始非滌熱生津除熱之神品也。並與金鑑相發。</p>
<p>又按汪機醫學原理曰。痙病。方書皆謂感受風濕而致。多用風藥。予細詳之。恐仍未備。當作氣血內虛。外邪干之所致。蓋人百骸九竅。必本氣血榮養。始能運動。觀內經云。足得血而能步。掌得血而能握。目得血而能視等文可見。蓋筋脈無血榮養。則強直不能運動。痙病之證是也。但因有數者不同。是以有氣虛不能引導津血。以養筋脈而致者。有津血不足。無以榮養筋脈而致者。有因痰火塞窒經隧。以致津血不榮者。有因真元本虛。六淫之邪乘襲。致血不榮養者。雖有數因不同。其於津血有虧。無以滋榮經脈則一。詳先哲謂汗下過多。及病後產後。與大耗精耗血之病。皆能作痙。其意可見。學者不可力執局方。專用風藥而療。在乎分因用藥可也。以上汪說。蓋辨痙之非濕。此為藍本。其見甚卓。惜強分頭緒。稍屬多事。如張介賓。專以內因論。似不熟繹經文者。則又遜於汪氏一等矣。</p>
<p>又按柯氏曰。夫痓之始也。本非正病。必夾雜於他病之中。此說殆佳。蓋其人本有某故。而營血內乏。或外感誤治。而亡其津液。俱使邪火就燥。以著筋脈。遂為勁急也。太陽病發汗太多。風病誤汗下。瘡家過汗。皆是痙之所因。而併產後發痙觀之。則其非徑得之者。可以見矣。其證必備表候。而冠以太陽病。則外邪所觸而致者。亦可以知矣。</p>
<p>太陽病。關節疼痛而煩。（玉函。脈經。細。作緩。活人書注曰。脈細者。非也。此名以下。徐。沈。朱。作此名中濕。亦曰濕痹。其候云云。非是。）</p>
<p>按濕病有挾風寒者。今此證則純於濕者。故舉為濕病之首。先後篇所謂濕流關節。是也。（成氏既引此句以為解。）此條。尤氏注甚核。蓋濕邪不藉風寒。則更易濡滯。勢必趣里。是以治法不事驅表。但利其小便。則外濕亦隨消除也。煩字。錢注為當。或以為心煩者誤矣。大便反快句。諸注未妥。愚意快者。快調和平之謂。言小便不利者。津液偏滲大腸。法當濡瀉。而今濕邪壅閉。水氣內郁。不敢漏泄。故使大便反如平也。（注家多以濡瀉解快字。然瀉利數行。豈得云之快。且小便不利者。勢必瀉利。則不宜下反字。故知前注之非。）顧如此證。綢繆失治。必變遍身浮腫。</p>
<p>又按成氏曰。痹。痛也。因其關節煩疼。而名曰濕痹。非腳氣之痹也。此說本於許氏說文。又魏氏曰。濕氣不孤行。必附於彆氣。非風則寒。今感人而關節疼痛。知附於寒者多。而為病於太陽者同也。非是。又黃仲理於此證擬方曰。甘草附子湯。麻黃連翹赤小豆湯。並不確。</p>
<p>濕家之為病。一身盡疼。</p>
<p>〔尤〕濕外盛者。其陽必內郁。濕外盛為身疼。陽內鬱則發熱。熱與濕合。交蒸互郁。則身色如熏黃。熏者。如煙之熏。色黃而晦。濕氣沉滯故也。若熱黃則黃而明。所謂身黃如橘子色也。</p>
<p>按此證亦純於濕者。郭氏補亡論曰。宜五苓散。然其病屬外。殆是麻黃連軺赤小豆湯所宜也。（宜以傷寒論述義濕熱條相參。）</p>
<p>巢源風黃候曰。凡人先患風濕。復遇冷氣相搏。則舉身疼痛。發熱而體黃也。又有風黃疸候。並是別證。</p>
<p>濕家。其人但頭汗出。（胸上。趙。作胸中。）</p>
<p>〔尤〕寒濕居表。陽氣不得外通。而但上越。為頭汗出。〔朱〕背強惡寒者。以背皆陽經所主。為濕所痹也。〔魏〕欲得被覆向火。惡寒之甚矣。</p>
<p>按此濕鬱之甚者。醫者誤下。以為壞證。噦與小便不利。亦為下冷之驗。胸滿亦為上熱之徵。舌上如胎。注家多於如字費解。然胎本苔字。以氣液蒸釀。積於舌上。恰如苔蘚之布鋪地面。故云如苔。或省云舌上苔。後人改從肉旁。而注家不知其本義。遂至牽湊為說。特成氏曰。使舌上生白苔滑也。其意可見焉。（或曰。說文。菭。水衣也。舌苔之苔。為炲煤之炲看。卻覺襯著。說文。炱。灰炱煤也。段氏曰。通俗文云。積煙曰炱煤。玉篇云。炱煤。煙塵也。蓋舌苔自薄而厚。自白而黃而黑。有積煙之象。故以名之。一說。謂舌苔多因熱而生。故從火為正者。鑿矣。）甲乙經。石門。一名丹田。在臍下二寸。任脈氣所發。蓋此所云。泛稱下焦。與關元同例。（關元。見厥陰篇。水氣篇。婦人雜病篇。）太陽下篇五苓散條曰。其人渴而口燥。煩。亦同語例。</p>
<p>濕家下之。額上汗出。</p>
<p>〔徐〕雖仲景有下之早則噦句。似乎太早不可。而後則可下也。不知此為頭汗而表未解者。慮其有內入之事。表邪內入。則可下矣。非言治濕可下也。</p>
<p>風濕相搏。一身盡疼痛。</p>
<p>按朱氏曰。以見此證宜桂枝加朮湯。而非麻黃湯之任。值天陰兩句。更示人因時變通意。此說不必。蓋此條示風濕取汗之例。不宜擬定一方。</p>
<p>此事難知曰。服解藥而去沉困。只頭痛目悶。是知濕去而風不去。則欲解也。若風去而濕不去則不解。何以然。風則高。濕則下而入里也。按此說不了。</p>
<p>濕家病。身疼發熱。面黃而喘。</p>
<p>成氏曰。病有淺深。證有中外。此則濕邪淺者也。何以言之。濕家不云關節煩疼。而云身上疼痛。是濕氣不流關節。而外客肌表也。不云發熱身似熏黃。復云發熱面黃而喘。是濕不幹於脾。而薄於上焦也。陰受濕氣。則濕邪為深。今頭痛鼻塞而煩。是濕客於陽。而不客於陰也。濕家之脈當沉細。為濕氣內流。脈大者陽也。則濕不內流。而外在表也。又以自能飲食。胸腹別無滿痞。為腹中和無病。知其濕氣微淺。內藥鼻中。以宣泄頭中寒濕。</p>
<p>按本事方。載有本證治驗二則。並用瓜蒂散。宜參。</p>
<p>濕家身煩疼。可與麻黃加朮湯。</p>
<p>按此條。乃證以方略者也。今就其方考之。是風濕之屬表實者。發熱惡寒無汗。其脈浮緊。可推而知矣。故以麻黃湯。發散郁邪。加朮以驅表濕。此方之術。宜用蒼朮。非逐里濕也。蓋仲景分風濕太陽病。以為三等。亦猶風寒之例。又黎居士簡易方。以此證為寒濕。恐不然。</p>
<p><u>麻黃加朮湯方</u>（類聚。甘草一兩。）</p>
<p>病者一身盡疼。發熱日晡所劇者。</p>
<p>按發熱日晡所劇者。以濕為陰邪。故得陰時而加甚也。蓋此證。濕邪滯著稍深。而其表則實。故於麻黃湯中。</p>
<p>增損以治之。亦猶傷寒有葛根湯之例。</p>
<p>風濕。脈浮身重。汗出惡風者。</p>
<p>按此風濕之表虛者。亦猶桂枝湯之例。故嫌麻黃之峻。其不用陽旦者。豈以芍藥之澀乎。防己黃耆湯。注家以為實衛滲濕之劑。此殊不然。防己。皮水有防己茯苓湯。而陶隱居曰。是療風水家要藥爾。然則亦是系逐表濕之品。黃耆。但黃耆建中湯治裡虛。其他如黃耆桂枝五物湯。烏頭湯。耆芍桂酒湯。桂枝加黃耆湯。皆用治濕著。蓋托陽排結。於濡滯之邪。適然相對矣。術之驅外濕。既如前述。況方後曰。服後當如蟲行皮中。曰。令微汗瘥。則知此方為風濕家解肌之治。而非滲利之劑也明矣。</p>
<p><u>防己黃耆湯方</u>（方後如冰。趙原刻。作猶冰。）</p>
<p>傷寒八九日。風濕相搏。</p>
<p>〔周〕傷寒至八九日。亦云久矣。既不傳經。復不入腑者。因風濕持之也。</p>
<p>按風濕相搏句。當與八九日字易位看。金鑑本於沈氏。以為風濕之病。得之傷寒八九日。非是。</p>
<p><u>白朮附子湯方</u></p>
<p>〔朱〕如冒狀者。正氣鼓動。水氣亦隨而動。正邪相搏。未得遽勝之象。所謂與朮附並走也。</p>
<p>按此方亦繫於發表。既詳之傷寒論述義中。茲不復贅。</p>
<p>風濕相搏。骨節疼煩。</p>
<p>〔鑑〕汗出短氣。惡風不欲去衣。皆風邪壅盛也。小便不利。濕內蓄也。〔尤〕此亦濕勝陽微之證。其治亦不出助陽散濕之法。云得微汗則解者。非正發汗也。陽復而陰自解耳。</p>
<p>按傷寒表證。大端有二。曰太陽病。曰少陰病直中。顧濕家亦不過如此。蓋其太陽證治。麻黃加朮湯等條。是已。如前條及此條。俱系表虛寒證。雖濕邪持久。猶是少陰直中之類。而桂枝附子湯。朮附湯。甘草附子湯。亦猶麻黃附子細辛甘草二湯。及附子湯之例矣。尤氏於治濕諸方有總義。殊欠核當。仍不錄。</p>
<p><u>甘草附子湯方</u></p>
<p>聖濟。附子湯。治中風四肢攣急。身體沉重。骨節煩疼。</p>
<p>即本方。薑棗同煎。</p>
<p>百一選方。史氏白朮散。治腰痛。</p>
<p>於本方。去甘草。加芍藥。</p>
<p>太陽中暍。發熱惡寒。（按數下之數字。非誤即衍。）</p>
<p>〔趙〕注雖已解過治之失。於當救之道則未明。（按注。言成氏。）予嘗思之。此證屬陰陽俱虛。脈弦細者。陽虛也。芤遲者。陰虛也。所以溫針復損其陰。汗之復損其陽。此證惟宜甘藥補正。以解其熱爾。即靈樞所謂。陰陽俱不足。補陽則陰竭。補陰則陽脫。可將以甘藥。不可飲以剛劑。</p>
<p>按柯氏曰。弦細芤遲。不得連讀。言中暑夾寒之脈。或微弱。或弦細。或芤遲。皆是虛脈。蓋細與芤不並見。柯說為是。然此證雖陰陽俱虛。而暑邪繵緣。津液乏燥。且熱證亦見遲脈。則謂之夾寒。恐不為當。</p>
<p>活人書曰。問中暑何故灑然毛聳惡寒。答曰。經云。四時八風之中人也。因有寒暑。寒則皮膚急腠理閉。暑則皮膚緩腠理開。開則灑然寒。閉則熱而悶。近人多不明中暑。或作熱病法治之。復用溫熱藥。必致發黃斑出。更為蓄血。尤宜戒之。</p>
<p>按先兄曰。鄭玄易通卦驗注。太陽脈。起足少指端。至前兩板齒。云岐子傷寒保命集曰。口開前板齒乾燥者。牙乃骨之精。今燥者骨熱也。此說近鑿。又沈氏曰。當以辛涼解表。甘寒清裡。即後人所用香茹散之類。亦非是。蓋此證。清涼（如黃連石膏之類。）滲利（如五苓之類。）溫中。（如大順散之類。）俱非所適。但香薷實解暑之聖藥。或加一味於潤補方中。（如黃耆湯。生脈散之類。）未必不為佳。</p>
<p>太陽中熱者。暍是也。</p>
<p>按此條與前條。即中暍虛實之別。而暍證之理。無出於此二端。徐氏註上條曰。此即潔古所謂。靜而得之。為中暑。為陰證也。注此條曰。動而得之。為中熱。為陽證也。誤矣。（潔古所謂中暑。即夏月傷涼之病。張介賓名為陰暑。雖俱名曰暑。其實非暑邪也。又熱論所謂病暑者。亦是傷寒。以時而異其名耳。不可援以注本經也。）</p>
<p>又按山海經。北囂之山。鳥名𪄀㿐。食之已暍。莊子雜篇則陽曰。夫凍者假衣於春。暍者反冬乎冷風。又方氏曰。暍。傷暑也。史記。禹扇暍。淮南子。武王蔭暍人於樾下。左擁而右扇之。是也。</p>
<p>太陽中暍。身熱疼重。而脈微弱。</p>
<p>按趙氏。周氏。有中暍統論。欠核。不錄。</p>
<p>云岐子傷寒保命集曰。太陽中暍者。身熱而煩。汗欲出。反飲冷水。灌之汗不能出。水行皮中。而脈微弱。表有水也。當發其汗。宜升麻湯。升麻。葛根。芍藥。甘草。（各一兩）上銼細。每服一兩。水三盞煎服。</p>
<p>〔余述〕仲景之以痙濕暍。合為一篇。厥有旨哉。夫天之氣。風寒暑濕燥也。其令之有愆。與人之有虛。皆相感為病。而風寒二氣。傷人最夥。故著傷寒論。以盡其理。而他氣之傷人。自表而入者。舉之於雜病論。此篇即是也。然則宜云燥濕暍。而除燥不言者。何也。蓋燥之一氣。為秋之令。而未見其傷人如風寒暑濕者。是論之所以不及此也。（內經言秋傷於濕。而不言秋傷於燥。又言燥勝則乾者。亦非秋燥之謂。而所謂燥濕寒暑者。是地之燥濕。而非天氣之燥濕。後世有燥疫及秋燥病等說。要是門外揣摩。不足信也。）但痙則以內燥。而招外邪。然其情機。則稍異於風寒。故與濕暍為篇。益足以知秋燥之不為病矣。且夫痙也。濕也。暍也。其脈因證治。纖悉具備如此。則知殆是仲景之舊面。而非後人所節略矣。</p>

<h2>百合狐惑陰陽毒病證治第三</h2>
<p>（徐。鑑。作脈證並治。宜從。）</p>
<p><u>論一首　證三條（按當二條。）　方十二首</u></p>
<p>論曰。百合病者。百脈一宗。悉致其病也。（默然。周。作默默然。）</p>
<p>〔趙〕言其百脈者。舉夫數之眾多也。猶言百骸爾。〔程〕經脈十二。絡脈三百六十五。此緣大病後。真陽已虛。餘熱未盡。周身百脈俱病。是為百脈一宗。悉致其病也。</p>
<p>按巢源千金並曰。百合病者。謂無經絡。（句）百脈一宗。悉致病也。蓋無經絡者。謂無經脈絡脈之別。宗。猶同姓為宗之宗。一宗。猶言一齊。注家或以為朝宗之宗。或以為宗尊之宗者。俱失其義。</p>
<p>又按此病。趙氏以為熱蓄不散。積則毒生。而傷其血所致。與內經解㑊證無少異。又與勞瘵同形狀。其說甚長。考郭氏傷寒補亡論曰。此證。又與素問所謂解㑊者相類。王氏醫壘元戎。舉王冰平人氣象論解㑊注曰。惟百合一證。與此比比相若。並是趙氏所本。要之趙說太謬。又吳醫匯講。有陶宗暄百合病贅言。謂為心神渙散證。亦非是。</p>
<p>百合病發汗後者。</p>
<p>郭氏辨千金有更發字曰。其意謂百合本病汗下吐之後而更發。非傷寒汗下吐之後。變成百合病也。反似百合病中。治勞復之傷。而不見正行汗下吐百合病之藥。於義未甚安。恐因數百年間。傳錄校正。誤有增加。非孫氏之本文。故活人書。只用金匱本文。不用千金增加更發等字。而龐氏直改其語云。治汗後百合病。治下後百合病。治吐後百合病。尤使人不疑也。</p>
<p><u>百合知母湯方</u>（按此方。與後三方。服法中用煎字。蓋系後人所改。外臺。作煮字。宜從。）</p>
<p>按先兄曰。宋吳曾能改齋漫錄曰。王原叔內翰云。醫藥治病。或以意類取。至如百合治病。似取其名。嘔血用胭脂紅花。似取其色。淋瀝滯結。則以燈心木通。似取其類。意類相假。變化感通。不可不知其旨也。此說與魏意稍近。又朱氏格致餘論曰。本草。藥之命名。以能而名者。百合當歸升麻防風滑石之類。是也。此說傎矣。</p>
<p>吳醫匯講。王繩林曰。古方惟百合湯。用百合七隻。配水三升。頃友人言。吾蘇陽山澄照寺前。一片地上。天然自產百合。僅如錢大。煮之清香絕勝。療病極效。可知百合入藥者。以小為貴耳。</p>
<p>按本草嘉祐新補泉水條云。久服。卻溫調中。下熱氣。利小便。可見其有瀉陽之功矣。</p>
<p>百合病。不經吐下發汗。</p>
<p>先兄曰。如初。言患狀遷延。不與初時異也。鑑說恐非。栝蔞牡蠣散方（牡蠣。熬。周本。熬。作煅。）狐惑之為病。狀如傷寒。（輯義。脫其面目之目。宜補。脈經。狀。作其氣。為狐下。有狐惑之病並五字。）</p>
<p>按下疳多止前陰。牙疳不必及咽喉。金鑑未為當。</p>
<p>蝕於下部則咽乾。（脈經。作蝕於下部。苦參湯淹洗之。）</p>
<p>蝕於肛者。（薰。諸本。作熏。宜從。黃下。周有散字。）</p>
<p>按豬苓散。圖經。引張仲景。（本草原文。茯苓下。有術字。水字上。有與字。輯義並系刊脫。宜補。）</p>
<p>病者脈數。無熱微煩。</p>
<p>先兄曰。總病論。以此為狐惑證。弟子稻葉元熙曰。脈經千金。亦編入於狐惑中。</p>
<p>按朱氏曰。按此證若未成膿。必不能食。亦必另用清熱托毒方法。凡治瘡瘍之理皆然。無熱。無字疑誤。當是發熱也。此說似是。然據瘡癰篇。無字不改而義通。</p>
<p><u>赤小豆當歸散方</u>（周本。當歸十兩。）</p>
<p>按漿水。詳開於傷寒論述義瘥後勞復中。茲不復贅。</p>
<p>陽毒之為病。（脈經。作陽毒為病。身重腰背痛。煩悶不安。狂言。或走見鬼。或吐血下痢。其脈浮大數。面赤斑斑如錦紋。喉咽痛唾膿血。五日可治。至七日不可治也。有傷寒一二日便成陽毒。或服藥吐下後。變成陽毒。升麻湯主之。）</p>
<p>陰毒之為病。（脈經。作陰毒為病。身重背強。腹中絞痛。咽喉不利。毒氣攻心。心下堅強。短氣不得息。嘔逆。唇青面黑。四肢厥冷。其脈沉細緊數。身如被打。五六日可治。至七日不可治也。或傷寒初病一二日。便結成陰毒。或服藥六七日以上至十日。變成陰毒。甘草湯主之。）</p>
<p><u>升麻鱉甲湯方</u>（今本肘後。千金。療陰毒。有蜀椒。與原注合。周本。當歸二兩。再服取汗。取字。輯義偶脫。宜補。）</p>
<p>郭氏曰。升麻甘草二湯。觀其用藥。性甚緩。然諸家必先用之者。以古人治陰陽二毒者。惟此二湯。故須用之以去其毒勢。而後輔之以他藥也。</p>
<p>〔余述〕百合狐惑陰陽毒三病。考之巢源千金。多系傷寒後所變。此其所以合為一篇歟。但百合狐惑。注家或謂在後世為某病。然其說竟屬牽湊。實不能知其為何證。如陽毒陰毒。就唐宋諸書考之。則殆是三陽合病。與少陰直中之類。然仲景不舉之傷寒論中。則知是別一種證。而亦未明其為今之某病也。然則三病也者。古特有而今絕無者耳。痘疹創於東漢。腳氣盛於晉唐。風會變遷。理之所然。庸詎疑於古今之有異乎。</p>

<h2>瘧病脈證並治第四</h2>
<p><u>證二條（按此上。當脫脈字。）　方六首</u></p>
<p>師曰。瘧脈自弦。（外臺。師曰上。有辨瘧脈三字。可溫之。作溫藥已。脈經。弦緊者。作若脈緊數者。宋本外臺。亦作數緊。巢源。作脈數而緊者。外臺。可吐之。作吐之瘥。弦數上。有脈字。消息止之。作消息之。）</p>
<p>按此條。就脈候以示瘧病證治之綱領。蓋瘧是半表半裡之病。其有表裡證。亦少陽病邪之所派及。不比傷寒太陽陽明之情機。故其汗吐下。亦與傷寒之治例不同。所言弦數者多熱。即白虎加桂枝湯。柴胡去半夏加栝蔞湯證也。弦小緊者。下之瘥。鱉甲煎丸是也。弦遲者可溫之。柴胡桂枝幹薑湯是也。弦緊者可發汗。牡蠣湯是也。浮大者可吐之。蜀漆散是也。療瘧之法。實不能出於此數件矣。程氏謂不可考者。恐不然也。又刺瘧篇曰。瘧脈小實急。灸脛少陰。又按弦數者風發也。以飲食消息止之。外臺無止字。似義稍長。巢源載本條。</p>
<p>無此二句。有凡瘧先發如食頃。乃可以治之。過之則失時十七字。本是刺瘧篇文。</p>
<p>又按外臺引。此條後有一條。云。又辨瘧歲歲發至三歲發。連日發不解者。以脅下有痞也。療之不得攻其痞。但虛其津液。先其時發汗。其服湯已。先小寒者。漸引衣自覆汗出。小便利則愈。瘧者。病人形瘦。皮上必粟起。（巢源。千金。亦有此條。千金。連日上。有或字。巢源文少異。末截。作夫瘧其人形瘦皮必慄。）</p>
<p>病瘧以月一日發。（外臺。病上。有問字。其。作期。類聚。圓。作丸。下並同。）</p>
<p><u>鱉甲煎圓方</u>（外臺。烏扇下。無燒字。葶藶二分。石韋二分。無去毛字。厚朴三分下。有炙字。牡丹下。無去心字。半夏一分下。有洗字。蜣螂。熬。作炙。桃仁。作三分去皮尖熬。灰字。並作土字。一斛五斗。作一斛五升。按古方所言分者。系裁分之分。非六銖為分之分。此方鱉甲。千金注。作三兩。而鍛灶下灰。與清酒。俱有定量。則他藥以分稱者。蓋後人所妄改。其三分者。宜作十八銖。六分。宜作一兩十二銖。五分。宜作一兩六銖。一分。宜作六銖。二分。宜作十二銖。四分。宜作一兩。始合古義。又輯義。石韋。紫威。從草。是書誤筆手。）</p>
<p>按弟子山內慮曰。此方逐血之品特多者。以瘧至久則血道澀滯。與邪搏結。楊仁齋有瘧有水有血。當以常山草果檳榔青皮烏梅甘草作劑。加五靈脂桃仁為佐之說。其意可見矣。此說為是。此方。蓋崔氏所謂羈縻攻之者。（見外臺癥瘕中。）注家以為急治。恐誤。又本草鼠婦條。圖經云。張仲景主久瘧大鱉甲丸中使之。以其主寒熱也。又芒硝條。陶隱居引皇甫士安解散硝石大凡說云。硝石。三月採於赤山。</p>
<p>聖濟。鱉肉煎丸。（主證同）不用鱉甲。以生鱉肉半斤。治如食法。去紫威。蜂窠。赤硝。加海藻。紫菀。大戟。各一分。（余藥亦皆一分。）桑螵蛸一兩。修制與本方同。</p>
<p>師曰。陰氣孤絕。（外臺引。師曰上。有辨瘧病三字。則熱而。作而脈微者其候必七字。肌。作脫。類聚。亦作脫。）</p>
<p>溫瘧者。其脈如平（脈經。作瘧但見熱者。溫瘧也。其脈平。身無寒但熱。骨節疼煩。時嘔。朝發暮解。暮發朝解。名曰溫瘧。白虎加桂枝湯主之。巢源曰。夫病瘧六七日。但見熱者。溫瘧矣。又千金。外臺。文互有異。今不繁載。）</p>
<p>按內經以先熱後寒為溫瘧。仲景則以無寒但熱為溫瘧。稍與上條癉瘧相近。蓋是別發一義者。不宜援內經溫瘧為說矣。內經稱冬傷於寒。春必溫病。而仲景則曰。太陽病。發熱而渴。不惡寒者。為溫病。知是溫瘧之溫。與溫病之溫。實同其義。（詳論於傷寒論述義中。）瘧邪本在少陽。故時嘔。此證則熱邪熏胃者為甚。故身無寒但熱。更就骨節疼煩視之。則猶有表邪在。故加桂枝於白虎湯中。以兼治表裡。此證。白虎清涼。而少陽之邪亦解。猶三陽合病用白虎之例。但其脈如平。諸注未瑩。愚亦未曾遇此病。末由知其理。存而闕疑已。</p>
<p>瘧多寒者。名曰牡瘧。（宋本外臺。作牡瘧。下蜀漆散同。蓋其作牝者。程衍道所意改。存考。）</p>
<p><u>蜀漆散方</u>外臺引。作蜀漆。洗去腥。雲母。龍骨。上三味等分。搗節為散。先未發前一炊。以清酢漿水和半錢服。臨發時。更服一錢。溫瘧者。加蜀漆半分。雲母。炭火燒之三日三夜用。（按外臺。似是。千金。一炊下。有頃字。）按雲母龍骨性用。注家所說。似未明晰。考之本草。亦未見有治瘧之能。竊以為此二味及牡蠣。俱有解水結之功。故與蜀漆相配。能豁瘧痰也。肘後方曰。老瘧久不斷也。未龍骨方寸七。先發一時。以酒一升半煮三沸。及熱盡服。溫覆取汗。便即效。千金翼曰。療痰飲頭痛。往來寒熱方。常山一兩。雲母粉二兩。上二味為散。熟湯服方寸匕。吐之止。若吐不盡更服。並與此方。其意相似。又刺瘧篇次注曰。先其發時。真邪異居。波隴不起。故可治。過時則真邪相合。攻之則反傷真氣。故曰失時。蓋得此說。而此方服法。義益明矣。（輯義所引。得效方文。本出三因方。丹溪纂要文。本出保命集。）</p>
<p><u>附外臺秘要方</u></p>
<p><u>牡蠣湯</u>（外臺。甘草炙。上四味切。以水先洗蜀漆三遍。去腥。以水八升。煮蜀漆及麻黃。去沫。取六升。內二物。更煎取二升。去滓。溫服一升。即吐勿更服則愈。）</p>
<p>按此方。吐而兼汗者。張戴人法。間有此類。然愚嘗用治瘧夜間發。及熱甚無汗者。服後不吐而汗。稍稍邪解就愈。尤氏以謂外攻之力較猛者。信矣。</p>
<p><u>柴胡去半夏加栝蔞湯</u>（外臺。甘草下。有炙字。生薑三兩。大棗下。有擘字。七味下。有切字。再。作更。日二服。作日三。千金。名柴胡栝蔞湯。用柴胡三兩。大棗二十枚。訛。）</p>
<p><u>柴胡桂枝幹薑湯</u>（原注。如熱。是如神訛。）</p>
<p>按此方。宋人取而附此。蓋有所據也。今依治瘧。如神之言。殆不虛誣。太陽下篇所用。繫於太少並病。而兼飲結者。如此條。徐注為核。（本於趙氏。）然瘧有痰澼積聚。許仁則既有其說。則此所用。亦為兼治飲結者。蓋其趣似異而實同者也。</p>

<h2>中風歷節病脈證並治第五</h2>
<p><u>論一首　脈證三條（三。疑七訛）　方十二首</u></p>
<p>夫風之為病。當半身不遂。</p>
<p>按凡形骸一節之氣。閉而不仁者。皆謂之痹。今止云臂者。蓋舉一隅爾。</p>
<p>寸口脈浮而緊。</p>
<p>按痹論曰。皮膚不營。故為不仁。次注曰。不仁者。皮頑不知有無也。診要經終論次注曰。不仁。謂不知善惡。又成氏注平脈法曰。仁者。柔也。不仁者。言不柔和也。為寒熱痛癢。俱不覺知者也。又曰。不仁者。強直而無覺也。成說不確。（當與血痹篇。及素問識。診要經終論。血氣形志篇互參。）</p>
<p>又按徐氏曰。至入腑。腑邪必歸於胃。胃為六腑之總司也。於是風入胃中。胃熱必盛。蒸其津液。結為痰涎。氣壅隧道。胃之支脈絡心者。才有壅塞。即堵其神氣出入之竅。故不識人。（以上醫門法律文。）試觀俗做陳搏。按住頸間兩人迎脈氣。即壅逆不識人。人迎者。胃脈也。則不識人之由胃氣壅。不信然哉。此說或有理。蓋入腑入臟。其證似輕重相錯。然細繹其理。不識人者。一時昏塞。暫時醒省。即卒中閉證之謂。舌難言。口吐涎者。其病深固。必心神不收。百治難效者也。</p>
<p><u>侯氏黑散</u>（俞本。類聚。曰能。作自能。）</p>
<p>寸口脈遲而緩。</p>
<p>按營緩衛緩二句。是雙關文法。上句是客詞。下句是主詞。對舉以為榮虛衛虛之辨。緩字承上文。猶言虛。（太陽下篇。緊反入里。緊字。指邪而言。是同語例。）榮緩。言尺中緩者榮必虛。衛緩。言寸口緩者衛必虛。衛虛故中風也。榮緩一句。本不幹中風。而注家牽合為說。未免踳錯。</p>
<p>風引湯。除熱癱癇。（牡蠣各三兩。原本。諸本。作二兩。當改。）</p>
<p>張氏千金方衍義曰。風引者。風淫末疾。而四肢引動也。</p>
<p>按本草衍義。作治風熱瘛瘲。及驚癇瘛瘲。幼幼新書。作除熱去癲癇。（輯義癲字。偶訛作癱。）醫壘元戎。作除熱癲癇。</p>
<p>又按尤氏以此方為猛劑。然其藥不過大黃石膏等。而僅用三指撮。則固無須顧慮矣。三指撮。即方寸匕余。</p>
<p>素問識病能論下。引陶氏序例以證之。</p>
<p>千金。治少小壯熱。渴引飲下痢。龍骨湯方。於本方。去乾薑。牡蠣。滑石。白石脂。紫石英。加栝蔞根。（各二兩）治下篩。以酒水各五合。煮散二合二沸。去滓。量兒大小服之。（按二合疑。宜覆審。）</p>
<p><u>防己地黃湯</u>（甘草一分。趙本。作二錢。類聚。作二分。）</p>
<p>按據千金風眩門。此係徐嗣伯方。</p>
<p>寸口脈沉而弱。沉即主骨。弱即主筋。</p>
<p>按此條不言痛者。蓋省文也。如水傷心。注家就心主汗為解。然汗出入水中。恐不遽傷及心。且歷節是筋骨間病。固不幹心臟。仍疑心字有訛。或曰。心主血脈。傷心。猶言傷血脈。亦屬臆說。</p>
<p>又按歷節黃汗之辨。尤氏為確。徐氏曰。黃汗重在腫。歷節重在痛。亦是。（徐更有詳說。欠核。）今更審之。曰黃汗出。曰肢節疼痛。曰發熱。皆是二病所俱有。然歷節之黃汗。特在痛處。（曰歷節黃汗出。是）黃汗之汗。洽於周身。（曰汗沾衣。色正黃如柏汁。是。）歷節之腫多止下部。（曰腳腫如脫。曰獨足腫大。是）黃汗之腫。及於遍體。（曰四肢頭面腫。曰身腫。是）歷節之痛。轉歷諸節。（其名可徵。）黃汗之痛。必不轉歷。（曰骨節疼痛。曰腰髖弛痛。曰身疼重。是。）且其胸中窒如痛。久不愈必致癰腫等證。實黃汗之所獨。而歷節則無此瘀郁之態也。但近時未見黃汗病。亦未見歷節有黃汗出者。姑就文義而論之已。</p>
<p>諸肢節疼痛。身體⿱白昍羸。（脈經。作魁瘰。類聚。同。輯義。魁。訛瘣。趙原刻。作魁。）</p>
<p>按⿱白昍羸。恐以魁瘰為是。爾雅枹遒。木魁瘣。注。謂樹木叢生。根枝節目。盤結磈磊。釋文。瘣。郭。盧罪反。邢昺曰。魁瘣。讀若磈磊。據此。魁瘰。蓋爾雅之魁瘣。謂疼痛之處。盤結磈磊也。正與病證相協。磊。亦作磥。（見玉篇。）其義可見耳。（竊疑爾雅魁瘣。或魁瘰訛。然前人未言及。附記俟識者。）又玉篇𦢏𦞙腫兒。是魁瘰之從肉者。益足以徵前說。蓋次條亦有身體羸瘦。而魁瘰字。所不習見。故後人改作尫羸。而其本義晦矣。</p>
<p>又按肢節疼痛身體魁瘰。腳腫如脫。三證疊言者。亦猶麻黃湯。身疼腰痛骨節疼痛之例。且此云腳腫如脫。次條云獨足腫大者。言寒濕下注。下部特浮。其久不愈者。往往變為鶴膝風。亦濕滯所致耳。又短氣。與甘草附子湯證短氣同機。</p>
<p>本草玉石部。陳藏器余云。白師子。主白虎病。向東人呼為歷骨風。（政和本。作江東人呼為歷節風。）</p>
<p><u>桂枝芍藥知母湯方</u></p>
<p>按趙氏曰。分兩多而水少。恐分其服。而非一劑也。三因方云。每服四錢。此說有理。蓋此方九味。都三十一兩。當今秤十二錢五分八釐八毫。水七升。當今量七合七勺。則當從防風湯改正為順。</p>
<p><u>烏頭湯方</u>（原本。屈節。作屈伸。當改。）</p>
<p>按此方。比之桂芍知母湯。其力更烈。治歷節初起急劇證。功效不可言。黃耆亦以驅濕。說見於前。</p>
<p><u>礬石湯</u></p>
<p>按此方。用之腳氣。如痿軟引日者。或見奏功。衝心之證。豈其所宜。活人書。稱腳氣用湯淋洗者。醫之大禁。而景岳全書。詳論禁不禁之別。當參。</p>
<p><u>附方</u></p>
<p><u>古今錄驗續命湯</u>（輯義。外颱風痱門。載西州續命湯云云。今更考外臺。此西州二字宜刪去。不識人。當作不知人。）</p>
<p>按此方。即大青龍湯變方。而尤氏所謂攻補兼施者已。中風邪氣本輕。但以血氣衰弱殊甚。故招其侮。大抵表候為內證所掩。往往使人難於辨認。蓋續命湯。發表補虛。對待為方。實為中風正治之劑。而推其立方之旨。則亦足以明中風所因之理。學者豈可不深味乎。如晉唐諸家所增損。其方頗夥。茲不繁載。</p>
<p><u>千金三黃湯</u>（千金。此方中分字。皆作銖兩。蓋是古式。且六升。作五升。三服。作二服。腹。作脹。枳實一枚。作六銖。悸上。有心字。附子上。有八角字。）</p>
<p><u>近效方術附湯</u>（類聚。作朮附子湯。）</p>
<p>按前有頭風摩散。後人仍附此方。本不幹中風也。</p>
<p><u>崔氏八味丸</u></p>
<p>按前有礬石湯等。故後人附以此方。蓋此方證。即病邪淹留。痹著少腹者。故從緩治。更有少腹不仁。屬衝心之漸者。實非此方所對也。</p>
<p><u>千金方越婢加朮湯</u>（生薑二兩。當從諸本作三兩。）</p>
<p>按此亦以治腳弱。而附之也。</p>

<h2>血痹虛勞病脈證並治第六</h2>
<p><u>論一首</u>　脈證九條當作十條。）方九首當作十首）</p>
<p>按醫門法律曰。虛勞之證。金匱敘於血痹之下。可見勞則必勞其精血也。魏氏以為血痹當編次於中風之後。後人誤敘。與虛勞同篇。喻氏強牽入虛勞中。可謂刻舟求劍。二說未知何是。程氏稍與喻同意。</p>
<p>問曰。血痹病。從何得之。（聖惠方。盛重。作充盛。千金。濇。作澀。在上。更有澀字。徐曰小字上。該有微尺中三字。此說難從。）</p>
<p>按歷節血痹。金鑑所辨不允。歷節有風血相搏。即疼痛如掣文。則可知亦傷及血。血痹有針引陽氣文。則可知陽氣亦閉矣。又徐沈程周。並肌膚盛為句。重字接下讀。魏鑑重字連上句。當考。稻葉元熙曰。重因。趙本作重困。似是。賈誼新書。民臨事而重困。則難為上矣。倉公傳。為重困於俞。忿發為疽。此皆言累困也。</p>
<p>血痹陰陽俱微。</p>
<p>按傷寒論所謂脈之陰陽。皆以部位而言。然此條則自有寸口關上尺中文。故金鑑以浮沉解之。亦猶六難陰盛陽虛陽盛陰虛之意。傷寒論多稱脈陰陽。（桂枝湯條。不揭脈字。）而此無脈字。故沈氏以陰陽營衛俱微釋之。蓋此條陰陽。義可兩通。故輯義並二說而存之。徐曰。陰陽。寸口人迎也。尤曰。陰陽俱微。該人迎趺陽太谿為言。並誤。又聖濟。尺中上。補或字。三因方曰。脈當陰陽俱微。尺中少緊。身體如風痹狀。</p>
<p><u>黃耆桂枝五物湯方</u></p>
<p>〔朱〕如桂枝湯。本為太陽中風和營衛之要藥。茲特去甘草之和緩。而君以黃耆之峻補者。統率桂芍薑棗。由中達外。俾無形之衛氣。迅疾來復。有形之營血。漸次鼓盪。則痹可開。而風亦無容留之處矣。</p>
<p>按此說稍是。然黃耆取之託陽逐邪。不取峻補矣。</p>
<p>夫男子平人。脈大為勞。</p>
<p>醫學綱目曰。胗脈浮而大。或大而弦。皆為虛勞者。蓋陽盛陰虛之症也。暮多見之。</p>
<p>男子面色薄者。（重。趙。作里。諸本同。宜從。鑑曰。脈浮者。裡虛也。當是衍文。誤矣。）</p>
<p>按沈曰。色乃神之旗。營衛之標。若面色薄者。是白而嬌嫩無神。乃氣虛不統營血於面也。此說與魏氏異趣。</p>
<p>男子脈虛沉弦。</p>
<p>〔周〕此為勞傷元氣。所以至此。然則仲景即不言治法。自當調以甘藥培中土。以益元陽。不待言矣。若舍黃耆建中。又何以為法耶。</p>
<p>按無寒熱。又見短氣。吐血。瘀血。及妊娠中。俱言無外邪。金鑑恐鑿。瞑。眩。通用。後條云。目眩。然則目瞑。即目眩也。男子字。又出消渴。及黃疸中。宜參。</p>
<p>醫學綱目曰。診脈虛微細弦。為虛勞者。蓋陰陽俱虛之症也。晨多見之。</p>
<p>勞之為病。其脈浮大。</p>
<p>〔鑑〕手足煩。即今之虛勞五心煩熱。陰虛不能藏陽也。陰寒精自出。即今之虛勞遺精。陰虛不能固守也。酸削不能行。即今之虛勞膝酸削瘦。骨痿不能起於床也。</p>
<p>按蘭室秘藏。舉此條曰。以黃耆建中湯治之。此亦溫之之意也。</p>
<p>夫失精家。少腹弦急。</p>
<p>按據巢源。脈極虛芤遲以下。當為一截看。</p>
<p>脈得諸芤動微緊。</p>
<p>先兄曰。芤與微反。動與緊反。蓋芤動與微緊。自是二脈。則上文脈大為勞。極虛亦為勞之意。故下一諸字也。</p>
<p>按魏氏以為此上有假熱。而下有真寒者。其說頗辨。然熟繹經文。似不必上熱者。</p>
<p><u>天雄散方</u></p>
<p>按此方白朮殊多。故徐氏以為中焦陽虛之治。（沈氏同）然天雄實為補下之品。則其說恐未核。要之配合之理。殆為難晰已。又朱氏曰。然使真陰虧損。亡血失精。二方皆非其任矣。須用八味腎氣丸法。斯言殆然。</p>
<p>男子平人。脈虛弱細微者。</p>
<p>〔周〕至盜汗。則陽衰因衛虛。而所虛之衛行於陰。當目瞑之時。無氣以庇之。故腠開而汗。若一覺。則行陽之氣。復散於表。而汗止矣。故曰盜汗也。夫至盜汗。而其虛可勝道哉。</p>
<p>人年五六十。其病脈大者。</p>
<p>〔魏〕男子平人失精亡血之虛勞。年少而體方柔脆。故易至夭折。年五六十感邪成痹之虛勞。年老而體已堅硬。故可以終其天年。是虛勞而成痹。終是經絡病。虛勞而成失精亡血。則為臟腑病矣。經絡病可以引年。臟腑病難於延歲也。此仲景引虛勞之類。以明虛勞也。</p>
<p>按沈氏曰。虛陽上浮則脈大。營衛不充於軀殼相循背之經隧。曰痹俠背行。朱氏曰。大為虛陽外鼓之大。而非真氣內實之大也。三陽皆虛。痹而不用。並與尤魏異義。</p>
<p>又按馬刀。陶隱居曰。李云。生江漢中。長六七寸。禹錫等謹按蜀本圖經云。生江湖中。細長小蚌也。長三四寸。闊五六分。俠纓。太素。作俠嬰。楊上善注曰。頸前曰嬰也。外臺引。嬰。作纓。考段氏注說文。纓。冠系也。賏。頸飾也。嬰。繞也。益知作纓者為是。而俠纓者。俠冠系之謂。即頷骨下際。至人迎兩旁也。（結纓必於頤下。段氏可考。）</p>
<p>脈弦而大。弦則為減。大則為芤。（按此條。亦見於吐衄中。）</p>
<p>按玉編。芤。苦候切。（集韻。此有病脈二字。）徐氏脈訣云。按之即無。舉之來至。旁實中央空者。名曰芤。（徐氏不知何人。隋志。有徐氏脈經。崇文書目。有徐裔指訣。）此本於脈經。未為當。宜參先君子撰脈學輯要。（戴起宗脈訣刊誤曰。芤。草名。其葉類蔥中空。又本草綱目。以為蔥一名。俱未審何據。）成氏曰。革者。言其既寒且虛。則氣血改革。不循常度。又方氏。尤氏。並有說。俱未妥。</p>
<p>虛勞裡急。悸衄。</p>
<p>按此條。即虛勞之正證。實屬斫喪太過。虛火上亢者。筋失所養。故里急。血脈衰乏。故悸。（悸。即動築。驗之病者。知其非心動。）</p>
<p>血隨火上。故衄。寒盛於下。故腹中痛。下元不固。而心神不寧。故失精。血道澀滯。故四肢痠疼。（猶桂枝加芍藥生薑人參新加湯證。身疼痛之理。）虛陽外泛。故手足煩熱。上焦液枯。故咽乾口燥。皆是莫不自陰虛所致。陰虛故不與陽相諧。是以用小建中湯。和調陰陽。蓋桂枝湯。營衛均和。而此方則倍芍藥。專滋其陰。以配於陽。為虛勞正對之治矣。</p>
<p>又徐氏。沈氏。及汪纘功所論。頗為精鑿。文繁不錄。宜閱。（汪說。出吳醫匯講。）</p>
<p><u>小建中湯方</u></p>
<p>肘後。凡男女因積勞虛損。或大病後不復常。若四體沉滯。骨肉疼酸。吸吸少氣。行動喘惙。或小腹拘急。腰背強痛。心中虛悸。咽乾唇燥。面體少色。或飲食無味。陰陽廢弱。悲憂慘慼。多臥少起。久者積年。輕者才百日。漸至瘦削。五臟氣竭。則難可復振。治之湯方。（即本方）</p>
<p>勞虛腰痛。少腹拘急。</p>
<p>按此證陰虛頗重。而無上炎之勢。故純補下元。而無取於建中和諧之法矣。</p>
<p>又按寇宗奭朱震亨王履李時珍並論此方之理。王李俱駁寇氏。然寇說似長。今具列於左。以備參考。蓋茯苓澤瀉。或引接桂附。以達下焦。如消渴所用。是也。或藉力桂附。以通水淤。如轉胞所用。是也。今如此條。則引接通利。俱兼取之矣。五苓散之桂。或以發表。或以散寒。藥與病對。其方則一。而其用有異者。是仲景方法之妙致也。</p>
<p>寇氏本草衍義曰。澤瀉。其功尤長於行水。張仲景八味丸用之者。亦不過引接桂附等。歸就腎經。別無他意。</p>
<p>朱氏本草衍義補遺曰。仲景八味丸。附子為少陰之嚮導。其補自是地黃。後世因以附子為補。誤矣。附子走而不守。取健悍走下之性。以行地黃之滯可致遠。亦若烏頭天雄。皆氣壯形博。可為下部藥之佐。</p>
<p>李氏本草綱目曰。仲景地黃丸。用茯苓澤瀉者。乃取其瀉膀胱之邪氣。非引接也。古人用補藥。必兼瀉邪。邪去則補藥得力。一闢一闔。此乃玄妙。後世不知此理。專一於補。所以久服必至偏勝之害也。（按此說。本於王氏𣶮洄集。王說文繁不錄。）</p>
<p>按先兄紹翁曰。牡丹皮之性。較諸桃人虻蛭。則不唯其力之緩。若單與之。難以潰堅破瘀。蓋其為功。唯是行血通經。仍以配於桃仁大黃。可增除滌之力。合於當歸地黃阿膠等。能引滋液和血之品。而榮養陰分。故參之補瀉之藥。未有所礙。復足以贊其不逮矣。此說能闡前古之秘。</p>
<p><u>薯蕷圓方</u></p>
<p>〔尤〕其用薯蕷最多者。以其不寒不熱。不燥不滑。兼擅補虛去風之長。故以為君。謂必得正氣理。而後風氣可去耳。</p>
<p>按本草。薯蕷。味甘溫。主傷中。補虛羸。除寒熱邪氣。補中益氣力。長肌肉。（白字）豆黃卷。別不著其功。然大豆則味甘平。逐水脹。除胃中熱痹。傷中淋露。（黑字）麴。味甘大暖。療臟腑中風氣。調中下氣。（新補）白蘞。味苦平。散結氣。（白字）幼幼新書。養生必用。治風勞氣冷百疾。薯蕷丸。並治風眩背拘倦。胸滿短氣。羸瘦飲食少。小兒泄利。多汗發熱方。</p>
<p>即本方。（內不用棗。）濃煎棗湯。空心嚼一丸。日午再服。有熱人。即丸如桐子大。空心日午。米飲下二十丸。止於三十丸。</p>
<p><u>酸棗湯方</u></p>
<p>按此方釋意。醫通為優。（輯義所引。肝虛者三字。剩。）本草黑字。酸棗下云。煩心不得眠。補中益肝氣。又茯苓之功。本草經。稱主驚邪恐悸。孫真人曰。治心煩悶。及心虛驚悸。安定精神。蓋以其質重。亦能鎮縋。此方所取。正在於此。聖惠。治虛勞煩熱。不得眠臥。黃芩散。</p>
<p>於本方。去芎藭。加黃芩。羚羊角屑。</p>
<p>五勞虛極。羸瘦腹滿。</p>
<p>按此條證。即後世所謂勞瘵也。據程注。五勞虛極一句。是一章題目。羸瘦腹滿。不能飲食。是其證候。食傷。憂傷。飲傷。房室傷。飢傷勞傷。是其所因。蓋有一於此諸因。皆足以致經絡營衛氣傷。而血脈凝積。以致內有乾血。遂為五勞虛極。更有肌膚甲錯。兩目黯黑二證。俱為乾血之徵。蓋其脈數蒸熱。亦可概知也。</p>
<p>又按五勞。言五臟勞。蓋憂傷。勞傷。以勞心肝。食傷。飲傷。飢傷。以勞脾。房室傷。以勞腎。而諸勞之極。又必勞肺。且此條所言。不是五勞兼備者。蓋言有一所傷。而勞一臟。以致經絡營衛氣傷。遂為此病。（輯義引巢源。思勞下。刊脫心勞二字。）爾雅。棤。皵。注。謂木皮甲錯。（輯義引山海經。文有訛脫。曰。羬羊。其脂可以已臘。注。治體皴。臘。音昔。）又十四難。損其肝者。緩其中。滑氏曰。緩者。和也。（百勞丸。原出醫壘元戎。曰。許州陳大夫傳。張仲景百勞丸。）緩中補虛。程注甚當。張說非是。</p>
<p>程氏曰。婦人虛勞。大半內有乾血。男子亦間有之。審其可攻而攻之。則厥疾可愈。魏氏曰。此在婦人女子。寡婦女尼。因不月漸成虛勞者。尤所宜投也。</p>
<p><u>大黃䗪蟲丸方</u>（大黃十分。宜作二兩十二銖。黃芩一兩。諸本。作二兩。）</p>
<p>按本草經。蠐螬。味鹹微溫。主惡血血瘀痹氣。破折血在脅下堅滿痛。月閉。圖經云。張仲景治雜病方。大䗪蟲丸（按黃字脫。）中用蠐螬。以其主脅下堅滿也。又䗪蟲條。圖經云。張仲景治雜病方。主久瘕積結。有大黃䗪蟲丸。</p>
<p>又大鱉甲丸中。並治婦人藥。並用䗪蟲。以其有破堅積下血之功也。</p>
<p>醫學綱目曰。結在內者。手足脈必相失。宜此方。然必兼大補劑瓊玉膏之類服之。</p>
<p>幼幼新書。嬰孺。治小兒身體面目悉黃。此是榮衛氣伏熱於內所為。蠐螬丸方。</p>
<p>於本方。去大黃。桃仁。乾漆。加大棗。（按此證。猶用本方為佳。）</p>
<p><u>附方</u></p>
<p>千金翼。炙甘草湯。（宜參肺痿附方。）</p>
<p>按此方。仲景滋陰之正方。而千金翼文。出於仲景。必有其徵。故宋人取附於此也。醫學入門。稱一切滋補之劑。皆自此方而變化之者。其言為當。蓋此方。炙甘為君。生薑。大棗。為臣。地黃。麻仁。阿膠。麥門為佐。專以滋陰潤燥為務。然懼其黏膩涼濕。不利中土。故人參桂枝為使。更用清酒。並以扶護元陽。旁宣達諸藥之力。與腎氣丸之桂附。救腎中之陽。其趣似異而實同。如後世滋陰諸方。徒裒合群隊涼潤之品。誠非知制方之旨者矣。徐氏曰。後人只喜用膠麥等。而畏薑桂。豈知陰凝燥氣。非陽不能化耶。此言得之。又按地黃。此方。及大黃䗪蟲丸。腎氣丸等。比之他藥。分兩殊多。蓋以體重之故。不必君藥之謂。宜參藥治通義。方劑分量下。</p>
<p>小兒衛生總微論。國老丸。治瘦瘠虛羸。惙惙少氣。右以甘草。炙焦黃。杵末。煉蜜和丸綠豆大。每服五丸。溫水下。日三服。一歲兒五丸。以上者七八丸。以意加減。無時。</p>
<p>肘後。獺肝散。〔朱〕獺為陰邪之獸。而肝獨應月增減。是得太陰之正氣。其性獨溫。故宜於冷勞。又主鬼疰一門相染者。以陰入陰。以邪逐邪。同氣相求之義也。</p>
<p>按本草。圖經云。張仲景有治冷勞獺肝丸方。又主鬼疰一門相染者。取肝一具。火炙之。水服方寸匕。日再。</p>
<p>崔氏治九十種蟲疰。（云云）獺肝丸。二方俱妙。又聖惠方。載冷勞證。文繁不錄。</p>
<p>又按本草諸條。圖經云。肚。主骨蒸熱勞。血脈不行。補羸助氣。四季宜食。張仲景有豬肚黃連丸。是也。豬肚黃連丸。未詳其方。當考。</p>
<p>〔余述〕魏氏曰。失精於下者。可成虛勞矣。脫氣則成虛勞於上者焉。秦越人之論虛損。其言陽虛而陰盛。損則自上而下。一損損於肺。二損損於心。三損損於胃。即仲景所謂脫氣之虛勞也。其言陰虛而陽盛。損則自下而上。一損損於腎。二損損於肝。三損損於脾。即仲景所言失精之虛勞也。（右節文）念庭之說是也。蓋五勞六極七傷。其目雖殊。要其指歸。不出於陽虛陰虛二端。且不啻不出於此二端。而陰虛陽亢者。實為居多。今篇首既冠以男子二字。而細檢各條。大抵莫不屬陰虛矣。小建中湯。扶脾之劑也。而其證則亦是上盛下虛。其用此湯。亦取於和陽就陰。顧脫氣一條。猶繫於陰虛陽隨衰者。酸棗湯。治火亢虛煩。心神不寧者。然則謂仲景所云虛勞者。皆屬陰虛可乎。如大黃䗪蟲丸證。即骨蒸之類。而肺痿一證。是勞嗽之謂。則今之虛損勞瘵者。實不外於仲景所舉之數件矣。（愚撰藥治通義。於補法下。以建中腎氣二證。對待為辨。然今更考之。其方則為補陽補陰之分。而其證。則不必胃虛腎虛之別。舊見不免謬。）</p>

<h2>肺痿肺癰咳嗽上氣病脈證治第七</h2>
<p><u>論三首</u>　脈證四條三字。四字。並訛。宜訂。）方十五首五。當作六。）</p>
<p>問曰。熱在上焦者。因咳為肺痿。（脈經。千金。又。作數。）</p>
<p>按喻氏曰。肺癰屬在有形之血。血結宜驟攻。肺痿屬在無形之氣。氣傷宜徐理。徐氏沈氏周氏朱氏皆從此說。然肺痿之病。必損血液。則以氣血立辨者。謬矣。</p>
<p>又按口中反有濁唾涎沫。蓋繫於該言稠痰白沫者。本經所謂痰者。非今之所謂痰。次條曰。多唾濁沫。皂莢丸條曰。時時唾濁。桔梗湯條曰。時出濁唾。五臟風寒篇曰。肺中風。吐濁涕之類。皆今之稠痰也。蓋肺萎液燥。而口中有唾涎。故下反字也。（巢源虛勞凝唾候曰。腎液為唾。上焦生熱。熱沖咽喉。故唾凝結也。此亦稠痰耳。）又脈反滑數。反字難解。稻葉元熙曰。反於肺痿亡津液之脈。或是。仁存孫氏方曰。詳觀肺癰肺痿二證。實難治。要之肺癰則間有可愈者。亦須肺未穿。故可救。但肺痿罕有安者。蓋其肺枯竭乾燥。何由而得潤。所以難愈。</p>
<p>問曰。病咳逆。何以知此為肺癰。（風則之則。原本無之。輯義偶衍。宜刪。）</p>
<p>按此條。列呼吸不利。咳口乾等候。就風與熱。以為分別。然大旨不過云風壅釀熱。以為此病耳。</p>
<p>又按熱過於榮。熱之所過。兩過字。注未了。當讀如詩江有汜。不我過之過。史記淮陰侯傳。信常過樊將軍噲。</p>
<p>魏其侯傳。灌夫有服。過丞相。扁鵲傳。舍客長桑君過之類。亦是。又呂覽異寶。五員過於吳。注。過。猶至也。義殆。相同。辨脈法曰。熱之所過。則為癰膿。</p>
<p>又按脈經平肺痿肺癰中所載。出於本經之外者。凡六條。俱似非仲景原文。姑拈一條於左。曰。問曰。振寒發熱。寸口脈滑而數。其人飲食起居如故。此為癰腫病。醫反不知。而以傷寒治之。應不愈也。何以知有膿。膿之所在。何以別知其處。師曰。假令膿在胸中者。為肺癰。其人脈數。咳唾有膿血。設膿未成。其脈自緊數。緊去但數。膿為已成也。</p>
<p>肺痿吐涎沫。而不咳者。</p>
<p>按稻葉元熙曰。若服湯已渴者。屬消渴。是假設之辭。與吳茱萸湯條。得湯反劇者。屬上焦也同例。</p>
<p><u>射干麻黃湯方</u></p>
<p>按本篇用麻黃者四方。宜為二義看。注家皆謂。其證內飲挾外邪。故用麻黃髮其表。是一義。今驗肺脹證。多是宿飲為時令觸動者。而不必具表候。則其用麻黃。適取發泄肺中郁飲。亦猶麻杏甘石湯之意。是一義。蓋勿拘一隅可也。</p>
<p>咳逆上氣。時時唾濁。</p>
<p>按曾世榮活幼心書曰。肺為五臟華蓋。臥開而坐合。所以臥則氣促。坐則但寬。蓋但坐不得眠。得斯說而其理明矣。</p>
<p><u>皂莢丸方</u>　〔本草。圖經云。張仲景治雜病方。咳逆上氣。唾濁。得（政和作但）坐不得眠。皂角丸主之。皂莢。杵末。一物以蜜丸。大如梧子。以棗膏和湯服一丸。日三夜一服。〕</p>
<p>按本草皂莢條黑字云。除咳嗽囊結。又有孫尚藥治卒中風涎潮。救急稀涎散。蓋胚胎於此方。</p>
<p>千金。治咳嗽胸脅支滿。多唾上氣方。</p>
<p>白糖（五分）　皂莢（末一方寸匕）</p>
<p>上二味。先微暖糖令消。內皂莢末。合和相得。丸如小豆。先食服二丸。咳而脈浮者。</p>
<p>按水飲上迫。脈必帶浮。不必拘表證有無。此二方證。均是上焦蓄飲。而以脈浮沉為別者。蓋以勢之劇易。及水飲上迫。與內結之異耳。注家特就邪為分。殆非通論。</p>
<p><u>厚朴麻黃湯方</u></p>
<p>按此方證。系寒飲迫肺。而無風寒外候。故於小青龍湯中。去桂枝。以厚朴降逆為君。其佐用杏仁。亦猶桂枝加厚朴杏子湯之例。況配以石膏。其驅飲之力更峻。</p>
<p><u>澤漆湯方</u>（千金。五合下。有日三夜一四字。無至夜盡字。本草。圖經引。五合下。有日三二字。盡上。有服字。）</p>
<p>按澤漆。本草白字。稱味苦微寒。主大腹水氣。四肢面目浮腫。黑字。稱利大小腸。蓋此方主證。水飲內結。故有須於利水之品也。</p>
<p>又按陳藏器曰。千里水。及東流水。味平無毒。主病後虛弱。然則此方所用。在熟淡不助內飲已。又煮取五升。</p>
<p>溫服五合。至夜盡。是一日十服。他方莫有此例。千金似是。然古之五升。即今之五合。古之五合。即今之五勺。以今推之。日服五合。未必為多。豈東垣所謂在上者不厭頻而少之謂乎。</p>
<p>大逆上氣。咽喉不利。（外臺無者字。宜從。）</p>
<p><u>麥門冬湯方</u>（稻葉元熙曰。煎法。據竹葉石膏湯。溫服上。恐脫去滓內粳米。煮米熟。湯成去米十二字。）</p>
<p>外臺。崔氏療骨蒸唇乾口燥。欲得飲水。止渴。竹葉飲方。於本方。去人參。加竹葉。生薑。</p>
<p>又深師。療肺氣不足。逆滿上氣。咽喉中閉塞短氣。寒從背起。口中如含霜雪。語言失聲。甚者吐血。補肺湯方。</p>
<p>於本方。去人參。半夏。加五味子。乾薑。款冬花。桂心。桑根白皮。</p>
<p>肺癰喘不得臥。</p>
<p>按葶藶。下水疏肺壅。故的治肺癰膿未成者也。（金鑑所引趙氏注。據二注本。繫於周氏補註。）</p>
<p>醫心方。引範汪方云。葶藶熬。令紫色。治令自丸。丸如彈丸。大棗二十枚。以水二升煮棗。令得一升半。去棗。內藥一丸。復煎得一升。盡服之。（出支飲下。）本草圖經引。亦作大棗二十枚。</p>
<p>按葶藶。以彈丸為率。故不須舉兩數。大棗。諸書皆作二十枚。本經疑是錯寫。（或曰。葶藶。搗之則黏膩。足以自丸。不必補末蜜二字。）</p>
<p>外臺。必效。療天行病後。因食酒面。肺中熱擁。遂成咳不止。</p>
<p>於本方。加桑白皮。桔梗。麻黃。</p>
<p>又崔氏。療大腹水病。身體腫上氣。小便澀赤。云云。</p>
<p>於本方。加杏仁。各搗。搃和合。平旦空腹服八丸。云云。</p>
<p>幼幼新書。簡要濟眾。治小兒水氣腹腫。兼下痢膿血。小便赤澀方。</p>
<p>葶藶子半兩。以棗肉和。搗為丸。（施圓端效方。名散腫丸。）</p>
<p>雞峰普濟方曰。著作雷道矩病吐痰。頃間已及升余。咳不甚。面色黯郁。精神不快。兆告曰。肺中有痰。胸膈不利。令服仲景葶藶大棗湯。一服訖已。覺胸中快利。略無痰唾矣。</p>
<p><u>桔梗湯方</u>（原注血痹。當喉痹。然要是後人所續加。）</p>
<p>按排膿散。用枳實。芍藥。桔梗。排膿湯。於本方。加生薑。大棗。是知桔梗有排膿之功。但此間所有。氣味輕淡。不足以抵當大病。彼土古時之品。則恐不如此也。</p>
<p>聖濟。治肺癰涕唾涎沫。吐膿如粥。麥門冬湯方。</p>
<p>於本方。加麥門冬。青蒿心葉。</p>
<p><u>小青龍加石膏湯方</u></p>
<p>按麻杏甘石湯。厚朴麻黃湯。越婢加半夏湯。小青龍加石膏湯。皆麻黃石膏同用。麻黃髮陽。石膏逐水。二味相藉。而驅飲之力更峻。不必取之於發表清熱。蓋此四方。緊慢稍異。而其旨趣。則大約相均。要在臨證之際。隨其劇易。以為審處耳。</p>
<p><u>附方</u></p>
<p>外臺。炙甘草湯。（外臺。桂枝二兩。阿膠三兩。炙。大麻子仁半升。大棗四十枚。擘。余同。方後云。上九味切。以美酒七升。水八升相和。先煎八物。取四升。絞去滓。內膠上微火烊銷。溫服七合。日三夜一。）</p>
<p>按此方。施之泛泛噁心者。必增嘔逆。溫溫液液。蓋別有義。未考。又此方證。與麥門冬湯證相近。俱系滋養上焦之劑。</p>
<p>千金。甘草湯。</p>
<p>按傷寒類要。以單甘草湯。治炙甘草湯證。其理一致。</p>
<p>千金。生薑甘草湯。</p>
<p>按此方亦治肺冷而萎。猶是甘草乾薑湯之變方。沈氏說欠當。又而渴。當作不渴為妥。</p>
<p>千金。桂枝去芍藥加皂莢湯。</p>
<p>按此方。桂枝去芍藥湯。桂枝甘草湯之意。取之扶胸中陽氣。不和調營衛。蓋亦屬肺冷之痿。</p>
<p>外臺。桔梗白散。</p>
<p>按此條與桔梗湯。證一而方異。蓋所傳之本不同也。然肺癰其膿稍成。正氣隨衰。峻猛之劑。恐不能堪。王氏所據。豈得無錯乎。</p>
<p>千金。葦莖湯。</p>
<p>按此方主證。蓋在虛實之間。</p>
<p>又按蘇敬新修本草白瓜條曰。別錄云。甘瓜子。主腹內結聚。破潰膿血。最為好。腹腎脾內癰湯要藥。本草以為冬瓜。但用蒂不雲子也。又今腸癰湯中之用。俗人或用冬瓜子。非也。又案諸本草。單云瓜子。或云甘瓜子。今此本誤作白字。當改從甘也。（原本。膿。作濃。藥。作樂。今從證類本草改。）此說可以確瓜瓣之為甜瓜矣。</p>
<p>醫心方。張仲景方。治三十年咳。大棗丸方。</p>
<p>大棗（百枚去核）　杏仁（百枚熬）　豉（百二十枚）</p>
<p>凡三物。豉。杏仁。搗令相得。乃內棗。搗令熟和調。丸如棗核。一丸含之。稍咽汁。日二。漸增之良。（按此疑雜病論之遺方。仍附於此。）</p>

<h2>奔豚氣病脈證治第八</h2>
<p>師曰。病有奔豚。有吐膿。（師曰奔豚病以下。脈經為別條。宜從。）</p>
<p>按欲死二字。形容苦惱之狀而言。與少陰篇吳茱萸湯條同語例。</p>
<p><u>奔豚湯方</u></p>
<p>按此方證。挾有熱邪。故不取桂枝之溫。而用黃芩生葛之涼。且既有半夏。故不再用茯苓芎歸芍藥三味。以和其腹痛也。</p>
<p>傷寒總病論。動氣在上。不可發汗。發汗則氣上衝。正在心端。李根湯主之。</p>
<p>於本方。去芎藭。生葛。加桂枝。人參。茯苓。</p>
<p><u>桂枝加桂湯方</u></p>
<p>傷寒論。本方後曰。本云桂枝湯。今加桂滿五兩。所以加桂者。以能泄奔豚氣也。</p>
<p>發汗後。臍下悸者。（茯苓下。輯義。桂枝二字偶脫。）</p>
<p>〔余述〕奔豚一證。多因水寒上衝。故治法不出降逆散寒。而注家概解以腎邪。殆不免牽湊。要坐不檢難經仲景之有異耳。</p>

<h2>胸痹心痛短氣病脈證治第九</h2>
<p>師曰。夫脈當取太過不及。</p>
<p>按責。讀如平脈法。肥人責浮。瘦人責沉之責。即求責之義。</p>
<p>胸痹之病。喘息咳唾。</p>
<p>〔徐〕此段。實注胸痹之證脈。後凡言胸痹。皆當以此概之。但微有參差不同。故特首揭以為胸痹之主證主脈主方耳。〔周〕寒濁之邪。滯於上焦。則阻其上下往來之氣。塞其前後陰陽之位。遂令為喘息。為咳為痛。為短氣也。陰寒凝泣。陽氣不復自舒。故沉遲見於寸口。理自然也。乃小緊數。復顯於關上者。何耶。邪之所聚。自見小緊。而陰寒所積。正足以遏抑陽氣。故反形數。然陽遏則從而通之。栝蔞實。最足開結豁痰。得薤白白酒佐之。既辛散而復下達。則所痹之陽自通矣。</p>
<p>按周說為當。但解數脈。未免牽強。姑存之。</p>
<p><u>栝蔞薤白白酒湯方</u></p>
<p>按先兄曰。說文曰。酨。酢漿也。從酉㹢聲。鄭玄注周禮四飲曰。漿。今之酨漿也。陳藏器曰。醋。破結氣。心中酸水痰飲。</p>
<p>胸痹。心中痞氣（本草枳實條。圖經引。與外臺相同。類聚。與趙本同。）</p>
<p><u>枳實薤白桂枝湯方</u>（圖經引。無枝字。）</p>
<p><u>人參湯方</u>（人參條。圖經引。作治中湯。白朮之白字。無。末附加減法。一與傷寒論同。仍不錄。）</p>
<p>聖濟總錄曰。胸痹之病。其脈陽微而陰弦。陽虛則知在上焦。陰弦故令胸痹心痛。古方用理中湯。取緩其中氣。</p>
<p>陰證略例。理中湯方後曰。若胸痹脅下妨悶者。加枳實半兩。茯苓半兩。</p>
<p>御藥院方。枳實理中丸。治證與本條同。</p>
<p>於理中丸中。加枳實。茯苓。附子。</p>
<p>按外臺。崔氏。療時行四五日。大下後。或不下。皆患心中結滿。兩脅痞塞。胸中氣急。厥逆欲絕。心胸高起。手不得近。思與增損理中丸。（於本方中。加栝蔞根。枳實。茯苓。牡蠣。）正師胸痹人參湯之意。其效甚著。而王好古許國禎。則移崔氏之方。以治本證。亦善於變通者矣。</p>
<p><u>茯苓杏仁甘草湯方</u></p>
<p>醫心方。醫門方。治胸中痞塞。短氣腷腷者。或腹急痛方。</p>
<p>於本方。加半夏。生薑。若氣不下。加大黃。檳榔。取利為瘥。</p>
<p><u>橘皮枳實生薑湯方</u></p>
<p>聖濟。治風寒客於肝經。膈脘痞塞。脅下拘痛。常欲蹈其胸上。名肝著。蹈胸湯方。</p>
<p>於本方。加桔梗。甘草。薤白。胸痹緩急者。（本草。圖經引。緩上。有偏字。原本。諸本。並無人字。）</p>
<p>〔周〕胸痹緩急者。痹之急證也。寒飲上聚心膈。使陽氣不達。危急為何如乎。故取薏苡逐水為君。附子之辛熱為佐。驅除寒結。席捲而下。又烏不勝任而愉快耶。</p>
<p>按周說似是。苡仁之用。能托鬱結。況附子之雄烈。相合為散。比之前款諸方。其力最峻。足以奏功於燃眉之際焉。蓋此緩急。主在急字。非或緩或急之謂。史記倉公傳。緩急無可使者。袁盎傳。一旦有緩急。寧足恃乎。遊俠傳。且緩急人之所時有也。俱是繫於一時切迫之謂。此足以證焉。</p>
<p>焦循雕菰集。羅浩醫經餘論序曰。其論本草。以神農經為主。而證以南陽之方。以薏苡主筋急拘攣。故金匱胸痹緩急者主之。用以健脾利濕。則失其義。</p>
<p>心中痞。諸逆心。懸痛。（輯義。肘後。痛下。有五字。當作肘後。作三字。）</p>
<p>按諸逆。程氏以病證言。尤氏以病因言。二說俱通。魏氏曰。諸逆。兼有形無形之邪為言。與尤意同。伊澤信恬曰。懸牽。音義相同。懸痛。謂牽急而痛。肘後可證。又巢源。有心懸急懊痛候。千金養胎篇。有腹滿懸急。心下懸急之文。亦並懸牽通用之徵也。斯說為核。（三國志管輅傳。有心中懸痛文。）</p>
<p><u>九痛丸方</u>（原本。諸本。附子三兩下。有炮字。）</p>
<p>〔余述〕本篇。題云胸痹心痛。而首條。則二證並論。其他諸條。皆為胸痹立方。（栝蔞薤白半夏湯。心痛徹背。不過言心胸痛甚。桂枝生薑。枳實湯。心中痞。前注猶以為胸痹。）心痛。則僅烏頭赤石脂丸一方已。故二證之辨。難就而可考。以臆測之。胸痹其痛頗泛。</p>
<p>心痛其痛殊緊。胸痹則病淺。心痛則病深。蓋二證中。更自有輕重之別。而其實似無大異同。故胸痹之方。足以治心痛。至真心痛。則固屬不治。仲景略而不言。殆以此也。短氣一證。病屬上焦。故亦連類並及者歟。</p>

<h2>腹滿寒疝宿食病脈證治第十</h2>
<p>趺陽脈微弦。法當腹滿。</p>
<p>按此條證。寒氣壅閉。即大黃附子湯所主。宜稱之實。而言為虛寒者。虛。猶虛煩之虛。非虛衰之虛。蓋指無形之寒氣。對水飲結聚有形之寒而言也。（虛煩義。宜參傷寒論述義。梔子豉湯條。）又程氏注稍不了。</p>
<p>病者腹滿。按之不痛為虛。</p>
<p>按四十八難曰。癢者為虛。痛者為實。外痛內快。為外實內虛。內痛外快。為內實外虛。楊玄操注曰。輕手按之則痛。為外實。病淺故也。重手按之則快。為內虛。病深故也。重手按之則痛。為內實。病深故也。輕手按之則快。為外虛。病淺故也。凡人病按之則痛者。皆為實。按之則快者。皆為虛也。難經本為有痛立言。而玄操注。亦與此條相發。</p>
<p>又按陽明篇曰。陽明病。脅下硬滿。不大便而嘔。舌上白苔者。可與小柴胡湯。其意正與本條互發。以見證雖似可下。其白苔者。邪未結實。黃苔者。始為熱實。乃黑苔之為實。可以知也。且此條。示以按腹知虛實。以驗舌辨寒熱。而後宜議攻下矣。要之診察之大法。莫不可從此條而擴充焉。</p>
<p>病者痿黃。（脈經。胸中。作胃中。利上。有下字。）</p>
<p>寸口脈弦者。（巢源。作寸口脈雙弦。則脅下拘急。其人澀澀而寒。）</p>
<p>夫中寒家喜欠。</p>
<p>按中字。金鑑為平聲讀。其他諸注。皆為去聲讀。蓋此中寒家。言素稟陰臟。動易感寒者。然則二說並存為佳。</p>
<p>又程氏謂寒鬱於肺經而為熱者。似欠穩當。靈口問篇曰。陽引而上。陰引而下。陰陽相引。故數欠。又曰。陽氣和利。滿於心出於鼻。故為嚏。辨脈法曰。客氣內入。嚏而出之。</p>
<p>病腹滿。發熱十日。（本草厚朴條。圖經引云。又厚朴七物湯。主腹痛脹滿。按此與千金同誤。）</p>
<p>按金鑑曰。飲食如故。胃熱能消穀也。存考。</p>
<p><u>厚朴七物湯方</u>（圖經引。枳實上。有大字。桂枝之枝字無。）</p>
<p><u>附子粳米湯方</u></p>
<p>按弟子村田精一曰。此方。與白虎湯。及加人參加桂二湯。桃花湯。並用粳米。而其煮法。不云至幾升。蓋是以米熟為度。不必期至幾升者。恐非有脫文。厚朴麻黃湯。煮小麥熟去滓。亦是一轍。此可以備一說。仍存之。</p>
<p>聖惠。治寒疝心痛如刺。繞臍腹中盡痛。白汗出。氣欲絕方。</p>
<p>於本方。加川椒。乾薑。桂心。</p>
<p><u>厚朴三物湯方</u>（本草厚朴條。圖經云。張仲景治雜病。厚朴三物湯。主腹脹脈數。厚朴半斤。方後。有腹中轉動。更服。不動勿服十字。）</p>
<p><u>大柴胡湯方</u>（黃芩二兩。原本。諸本。並作三兩。）</p>
<p>腹滿不減。</p>
<p>傷寒補亡論曰。減不足言者。言不甚減也。論言。太陽發汗不徹。不足言。與此同意。俗語所謂不濟事者。是也。</p>
<p>心胸中大寒痛。</p>
<p>按出見有頭足上下。句上。上聲。下。去聲。尤氏以出見有頭足。為陰凝成象。腹中蟲物。乘之而動。謂蜀椒乾薑。</p>
<p>溫中下蟲。誤甚。</p>
<p><u>大建中湯方</u>（蜀椒去汗。類聚。無去字。）</p>
<p><u>大黃附子湯方</u></p>
<p>按此條證。固屬寒實。故大黃附辛。相合成劑。性味融和。自為溫利之用。如附子瀉心湯。則其證表寒裡熱。故別煮附子。而功則各奏。故同是附子大黃並用。而立方之趣。迥乎不均。徐氏說未確切。蓋溫利之劑實以桂枝加大黃湯。及此湯為祖。而溫脾等諸湯。皆莫不胚胎於此二方矣。</p>
<p><u>赤丸方</u></p>
<p>按本草。丹砂黑字云。作末名真朱。</p>
<p>寒疝繞臍痛。（沉緊。類聚。亦作沉弦。）</p>
<p>按素問經脈別論。真虛㾓心。厥氣留薄。發為白汗。（陰陽別論。魄汗。輯義誤寫作白汗。又生氣通天論。魄汗未盡。魄白音通。）</p>
<p><u>烏頭煎方</u>（宋本外臺熬。作炮。無去皮字。白蜜二斤。方後。上以水三升。煮烏頭取二升。去烏頭內蜜。煎令水氣盡云云。不可一日再服。作日止一服。不可再也。）</p>
<p>按程氏曰。治下焦之藥味不宜多。多則氣不專。此言。本於至真要大論。補下治下制以急之說。殆不免拘泥。又按陶氏本草序例曰。附子烏頭若干枚者。去皮畢。以半兩准一枚。千金方。治風歷節。防己湯方後曰。凡用烏頭。皆去皮。熬令黑。乃堪用。不然至毒人。宜慎之。據此。宋本外臺。不必是。其不㕮咀。豈嫌熟爛相和乎。</p>
<p>本草。圖經云。崔氏。治寒疝心腹脅引痛。諸藥不可近者。蜜煎烏頭主之。以烏頭五枚大者。去芒角及皮。四破。</p>
<p>以白蜜一斤。煎令透潤。取出焙乾。搗篩。又以熟蜜丸。冷鹽湯吞下二十丸如梧子。永除。又法。用煎烏頭蜜汁。以桂枝湯五合解之。飲三合。不知加五合。其知者如醉。以為中病。</p>
<p>寒疝腹中痛。逆泠手足不仁。</p>
<p>按烏頭煎證。寒氣專盛於裡。此條證。表裡俱寒壅。是所以有須於桂枝。灸刺諸藥不能治。是言病勢之劇。套法不能得治。不言灸刺諸藥之誤措。徐氏以為是或攻其內。或攻外。邪氣牽制不服。似欠穩貼。（輯義徐注。為陽所客。客字。宜作容字。）</p>
<p><u>烏頭桂枝湯方</u>（宋本外臺。秋烏頭。實中大者。十枚。去皮。生用。一方五枚。）</p>
<p>按此方證。最屬急劇。治以單捷為妙。桂枝湯。外臺引。作單桂汁。蓋仲景舊面。其出五味方者。疑後人誤據千金烏頭湯（詳出後。）所私攙。注家皆仍原文為說。覺未當。（周氏意似單桂汁。然語意不了。且其解欠妥。仍不錄。又按外臺。於此方後。注云範汪方同。今檢宋本。大書作範汪方云。而直接桂枝湯。仍知其舉桂枝湯者。是範汪方文。而非出仲景也。）</p>
<p>聖惠。治寒疝腹中痛。手足逆冷。身體疼痛。針灸諸藥。所不能任者。宜服烏頭散方。川烏頭。（大者十枚。）　枝枝（二兩）　上件藥。搗細羅為散。每服二錢。以水一中盞。入生薑半分。煎至五分。次入蜜半合。更煎三兩沸令熟。每以食前和滓。溫服之。</p>
<p>聖濟。治心腹卒脹痛。桂心丸。桂二兩。烏頭一兩。為末。煉蜜和丸。</p>
<p>其脈數而緊乃弦。</p>
<p>按魏氏以此條脈。為寒疝寒熱雜合之候。其說似精。猶不如尤氏以為寒疝陰盛之為優。然此條。該寒實諸證而為結。蓋不特言寒疝也。</p>
<p><u>附方</u></p>
<p>外臺。烏頭湯。</p>
<p>按此方。千金外臺所載。並與前方文有異。蓋本是別方。林億等以前有五味方。省之不錄也。今從外臺拈出於下。曰。烏頭（十五枚。炮。按千金云。要略。五枚。）　芍藥（四兩。）　甘草（二兩炙。）　大棗（十枚擘）　生薑（一斤○按千金。作老薑。）　桂心（六兩）　上六味切。以水七升。煮五味。取三升。去滓。別取烏頭。去皮四破。蜜二升。微火煎令減五六合。內湯中兩三沸。去滓。服一合。日三。間食。彊人三合。以如醉狀為知。不知漸增。忌海藻菘菜豬肉冷水生蔥。深師同。</p>
<p>外臺。柴胡桂枝湯（宋本外臺。作療寒疝腹中痛者。）</p>
<p>醫心方。範汪方。治寒疝腹中痛。小柴胡湯。（即原方。）</p>
<p>外臺。走馬湯。</p>
<p>肘後。若唯腹大。動搖水聲。皮膚黑。名曰水蟲。巴豆九十枚。去皮心。杏仁六十枚。去皮尖。並熬令黃。搗和之。服如小豆大一枚。以水下為度。勿飲酒佳。</p>
<p>聖惠。治乾霍亂。不吐不利。煩悶不知所為方。巴豆（一枚。去皮心。）上以熟水研服之。當快利三兩行。即以漿水粥止。立定。</p>
<p>〔余述〕按本篇先敘腹滿如痛者為實條。厚朴七物湯。厚朴三物湯。大柴胡湯。大承氣湯四條。此其屬熱實者也。如首條。與腹滿時減復如故條。此其屬寒實者也。次敘寒疝。如腹痛脈弦而緊條。與大烏頭煎。當歸生薑羊肉湯。烏頭桂枝湯條。皆以寒疝目之矣。如瘦人繞臍痛。與附子粳米湯。大建中湯條。亦是寒疝已。其他諸條。如寸口脈弦者。即脅下拘急而痛。與大黃附子湯證。即虛寒從下上。此寒氣聚著胠脅者也。如病者痿黃證。其位雖異。亦是寒實也。如中寒家二條。即素稟陰臟。外寒易觸者也。蓋此三等。既非腹滿。亦不寒疝。但以其屬寒。仍牽聯及之。且以與腹滿寒疝。互相發明者已。其脈數而緊一條。即系寒實諸證之診。以為總結矣。然則二十條者。學者宜區類而看。如前注家。往往湊合為說。殆不免強會也。</p>
<p>問曰。人病有宿食。何以別之。（故下。原本。有知字。宜補。）傷寒纘論曰。所謂亦微而澀。亦字從上貫下。言浮大而按之略澀。非澀弱無力之謂。見浮大中。按之略澀。方可用大承氣下之。設純見微澀。按之不實。乃屬胃氣虛寒。冷食停滯之候。又當從枳實理中。助胃消導之藥矣。豈復為大承氣證乎。○按此說似精。然尺中既微。何能兼大。故張氏於微脈。則略而不論。殊屬模糊。但其云澀非澀弱無力之謂者。是矣。然則微。亦沉滯不起之微。非微弱之謂也。</p>
<p>下利不欲食者（俞本。趙本。欲。作飲。誤。）</p>
<p>宿食在上脘。當吐之。〔周〕食既云宿。決非上脘。既非上脘。何以用吐。今言上脘。又言宿食。則必有痰載物。不使得下。則為喘為滿。不言具見。故一吐而痰與食俱出矣。</p>

<h1>卷中</h1>

<h2>五臟風寒積聚病脈證並治第十一</h2>
<p><u>論二首　脈證十七條　方二首（此三字。輯義偶脫。）</u></p>
<p>肺中風者。（冒而腫脹。輯義。腫。訛作腹。諸本。皆作腫字。）</p>
<p>肺中寒。</p>
<p>按評熱病論曰。勞風法在肺下。其為病也。使人強上冥視。唾出若涕。又曰。巨陽引精者三日。中年者五日。不精者七日。咳出青黃涕。其狀如膿。大如彈丸。從口中若鼻中出。咳論久咳下曰。使人多涕唾。先教論曰。古無痰字。云唾出如涕。謂吐黏痰也。據此。則濁涕。即是黏痰。非鼻涕之謂也。</p>
<p>肺死臟。</p>
<p>先兄曰。此即浮芤之脈。</p>
<p>肝死臟。</p>
<p>先兄曰。此雲浮之弱。尤氏以為其勁直則一也。不知何意。</p>
<p>心中風者。</p>
<p>按徐氏曰。飢者。火嘈也。食即嘔吐。邪熱不殺穀也。尤氏曰。心中飢。食則嘔者。火亂於中。而熱格於上也。二說似是。又徐氏翕翕解未確。弟子村田精一曰。文選。張平子思玄賦。溫風翕其增熱兮。注。良曰。翕。熱兒。衡曰。說文曰。翕。熾也。是翕有熱義。此說是。</p>
<p>邪哭使魂魄不安者。（朱氏曰。哭字疑誤。陽氣衰。陰氣衰。衰字。當作病字解。此說謬。）</p>
<p>脾中風者。</p>
<p>按李氏皮目解。系臆說。輯義過存之。當刪。</p>
<p>徐氏曰。金匱缺脾中寒。然不過如自利腹痛。腹脹不食。可類推也。</p>
<p><u>甘草乾姜茯苓白朮湯方</u></p>
<p>聖惠。治腎著之為病。身體冷。從腰以下痛重。甘草散方。</p>
<p>於本方。加當歸。</p>
<p>三因。苓朮湯。治冒暑遭雨。暑濕鬱發。四肢不仁。半身不遂。骨節離解。緩弱不收。或入浴暈倒。口眼喎斜。手足嚲曳。皆濕溫類也。</p>
<p>於本方。去甘草。加附子。澤瀉桂心。</p>
<p>又苓朮湯。治脾胃感風。飧泄注下。腸鳴腹滿。四肢重滯。（云云）</p>
<p>於本方。加厚朴。青皮。半夏。草果。</p>
<p>宣明論。腎著湯。治胞痹。小便不利。鼻出清涕者。（即本方）</p>
<p>腎死臟。浮之堅。</p>
<p>徐氏曰。腎臟。風寒皆缺。然觀千金三黃湯。用獨活細辛。治中風及腎者。而敘病狀曰。煩熱心亂惡寒。終曰不欲飲食。又敘腎中風曰。踞坐腰痛。則知金匱所缺。腎風內動之證。相去不遠。至寒中腎。即是直中。當不越厥逆下利。欲吐不吐諸條。</p>
<p>〔余述〕本篇所謂。中風中寒。與傷寒中之中風中寒不同。亦與半身不遂之中風自異。如內經五臟風。稍似相近。而其證未必契合。則知此別是一義。不宜彼此牽湊。且其於風與寒之旨。注家不敢辨晰。殊無可徵驗。</p>
<p>姑闕其疑已。徐氏諸輩。於脾腎二臟。補出其遺。又於肝著脾約腎著三方。特論其趣。要皆不免臆度也。</p>
<p>問曰。三焦竭部。</p>
<p>〔趙〕嘗考傷寒論。脈法中雲。寸口脈微而澀。微者衛氣不行。澀者營氣不逮。營衛不能相將。三焦無所仰。不歸其部。上焦不歸者。噫而吞酢。按平脈法。作酢吞。中焦不歸者。不能消穀引食。下焦不歸者。則遺溺。正此之謂。</p>
<p>按魏氏曰。師又言不須治。久則愈者。非聽其泄脫。不為援救也。言不須治其下焦。但理其中焦可也。朱氏曰。便溺雖屬下焦。而實中焦氣紊所致也。故曰。不須治。久則愈。謂不須治下焦。但調理脾胃。久當自愈耳。二說欠穩。亦姑存之。</p>
<p>師曰。熱在上焦者。因咳為肺痿。</p>
<p>按小腸受胃中水穀。而分利清濁。大腸居小腸之下。主出糟粕。而其下口為肛門。因疑此條大腸小腸。繫於傳寫互錯。蓋言小腸有寒。故泌別不職。而水糞雜下。其有熱者。腸垢被迫。而下出也。大腸有寒。則陽氣下墜。</p>
<p>故下重便血。其有熱者。毒結肛門。故為痔也。注家順文解釋。竟不免強湊。今大小易置。其義始了。但脈經以來諸書。皆與今本同。則姑記所疑。以俟有道論定已。</p>
<p>李中梓病機沙篆曰。仲景云。小腸有寒。其人下重便血。以乾薑。燒黑存性。磁碗合放冷地上。為末。每服一錢。</p>
<p>米飲調下。神效。</p>
<p>問曰。病有積。有聚。有檝氣。何謂也。（脈經。檝氣。並作系氣。為穀氣下。有夫病已愈。不得復發。今病復發。即為系氣也。十七字。乃積也下。有細一作結註文。朱氏。亦以諸積以下為別條。）</p>
<p>〔朱〕凡陰寒凝結。由漸而成者。俱謂之積。故曰諸積。非有一例之證象也。但有一定沉細之脈象。故知其為積也。病氣深沉。不可不分上中下三焦以處之。脈亦必從寸關尺三部以候之。如寸口主上焦。脈細而附骨。知其積在胸中。如胸痹之類是也。出寸口。上竟上也。主積在喉中。如痰氣相搏。咽中如有炙臠等是也。關上主中焦。關脈細沉。主積在臍旁。（按原文。作關部主中焦。而關有三候。關中主積在臍旁。云云。殊屬無稽。今按經文改訂。）如選臍腹痛之類是也。微上關上。積在心下。如胃寒脘痛之類是也。微下關。積在少腹。如少腹寒痛之類是也。尺候下焦。尺脈細沉。積在氣衝。如陰寒疝症之類是也。</p>
<p>按聚者為可治。則積之為難治。可推可知。至檝氣。則固屬易治。然恐不得不治自愈矣。</p>
<p>又按十八難。有寸關尺。主胸以上。膈以下。齊以下之言。又載診積聚法。並與本條相發。宜參。又脈經。載診五臟積條。及診法七條。今錄其診法於左。以備對考。</p>
<p>寸口脈沉而橫者。脅下及腹中有橫積痛。（按此素平人氣象論文。）其脈弦。腹中急痛。（按此據小建中湯條。）腰背痛相引。腹中有寒疝瘕。脈弦緊而微細者。癥也。夫寒痹癥瘕積聚之脈。皆弦緊。若在心下。即寸弦緊。在胃管。即關弦緊。在臍下。即尺弦緊。（一曰關脈弦長。有積在臍左右上下也。）</p>
<p>又脈癥法。左手脈橫。癥在左。右手脈橫。癥在右。脈頭大者在上。頭小者在下。</p>
<p>又法。橫脈見左。積在左。見右積在右。偏得洪實而滑。亦為積。弦緊亦為積。為寒痹。為疝痛。內有積不見脈。難治。見一脈（一作脅）相應。為易治。諸不相應。為不治。</p>
<p>左手脈大。右手脈小。上病在左脅。下病在左足。右手脈大。左手脈小。上病在右脅。下病在右足。</p>
<p>脈弦而伏者。腹中有癥。不可轉也。必死不治。</p>
<p>脈來細而沉。時直者。身有癰腫。若腹中有伏梁。</p>
<p>脈來小沉而實者。胃中有積聚。不下食。食即吐。</p>

<h2>痰飲咳嗽病脈證並治第十二</h2>
<p>（按本篇咳嗽諸條。本為懸飲支飲而設。題目中不須有此二字。疑是後人所誤添。似宜芟去。）</p>
<p>問曰。夫飲有四。何也。</p>
<p>按辻元嵩曰。四飲。云懸。云溢。云支。皆就飲之情狀。而命其名。皆是虛字。然則淡飲。不應特用實字。今據水走腸閒一證考之。淡者。蓋是水飲搖動之名。淡。與澹通。靈樞邪氣臟腑病形篇。心下澹澹。恐人將捕之。說文云。澹。水搖也。從水詹聲。並可以證焉（宋玉高唐賦。水淡淡而盤紆。注。淡淡。搖動貌。枚乘七發。紛屯澹淡。又湍流溯波。又澹淡之。注。澹淡。搖盪貌。馬融長笛賦。頤淡滂流。注。水搖盪貌。搜神後記。二月中蕨始生。有一甲士。折食一莖。即覺心中淡淡欲吐。皆淡澹相通之徵也。）以其居四飲之首。故取以題篇目。從來注家。不知痰之為淡。又不知其本水搖之謂。而轉為津液為病之總稱。故其所解釋。皆與經旨不協矣。此說有理。伊澤信恬亦有說。其意相同。且曰。澹。淡。諸書多相通用。而痰用澹字絕少。但醫心方。引小品云。白微湯。治寒食藥發。胸中澹（外臺。作痰。）酢乾嘔煩。又引效驗方云。斷膈丸。治胸間有澹水。並是淡痰之正字。此言亦是。（嵩又曰。初月帖。淡悶。與乾嘔對言。蓋虛煩之謂。）</p>
<p>又按懸飲。據巢源。懸字似懸痛之謂。（巢源。又有懸癖候。曰。咳唾則引脅下懸痛。所以謂之懸癖。）然以他三飲例之。則猶宜從前注。為懸掛之義為穩。又成氏注平脈法。沉潛水蓄。支飲急弦曰。蓄積於內者。謂之水蓄。故脈沉潛。支散於外者。</p>
<p>謂之支飲。故脈急弦。程氏蓋襲此誤。</p>
<p>又按篇中支飲。自有二證。其一上迫胸中。其一壅聚心下。其胸中證。多實結宜疏蕩。而亦有泛漫宜消導者。</p>
<p>其心下證。多泛漫宜消導。而亦有實結宜疏蕩者。學者須熟審經旨。勿敢混看焉。</p>
<p>水在心。</p>
<p>先兄曰。堅者。心下堅實也。築者。築築然悸動也。千金可證。短氣者。飲抑往來之氣故也。</p>
<p>尤注似迂。</p>
<p>水在肺。</p>
<p>先兄曰。涎沫。即咳而吐痰也。</p>
<p>水在腎。（醫碥曰。心。當作臍。）</p>
<p>夫心下有留飲。</p>
<p>按此支飲之類證已。蓋初非四飲外。別有留飲伏飲也。</p>
<p>留飲者。脅下痛引缺盆。</p>
<p>按已。亦甚也。輒已。即輒甚。經典中往往有此義。胸中有留飲。</p>
<p>〔沈〕此明支飲甚則變為溢飲矣。蓋留飲乃氣鬱水積。故謂脈沉者。有留飲也。</p>
<p>膈上病痰。滿喘咳吐（先兄曰。滿喘二字。疑倒置。）</p>
<p>〔魏〕諸症。皆伏飲內寒。逼陽在外之候。</p>
<p>按病痰二字。當作之病為是。此條亦是支飲之類證。其人振振身瞤劇。即與苓桂朮甘湯之身為振振搖。真武湯之身瞤動。振振欲擗地。其機相同。</p>
<p>夫病人飲水多。必暴喘滿。（朱本。亦無喜字。）</p>
<p>〔朱〕此明飲邪有實有虛。而所致異途。脈亦迥殊也。飲水多二句。是言飲之驟致者。食少飲多四句。是言飲之積漸者。如兩手皆見弦脈。夫弦則為減。當以正氣虛寒論治。設一手獨弦。明是病氣有偏著。偏著者為實邪。則又當以攻邪論治矣。皆大下後虛五字。疑屬衍文。（節錄）按喘短氣。是支飲所有。悸。是痰飲支飲所俱有。又太陽中篇曰。發汗後飲水多。必喘。又曰。太陽病。小便利者。以飲水多。必心下悸。傷寒例。亦論飲水多為喘。稻葉元熙曰。脈雙弦者寒也二句。是客。脈偏弦者飲也句。是主。主客對舉。為以脈斷病之法。朱氏謂為衍文者謬。此說為是。</p>
<p>肺飲不弦。</p>
<p>焦循雕菰集。羅浩醫經餘論序曰。其論金匱。以咳則其脈弦。與弦則衛氣不行。如肺飲不弦。肺飲二字句。謂肺飲之輕者有不弦。但短氣而不咳。其弦則衛氣不行而咳矣。則重矣。非謂肺飲無弦脈也。</p>
<p>心下有痰飲。</p>
<p>〔程〕心下有痰飲。即支飲也。</p>
<p>病人脈伏。其人慾自利。</p>
<p>按此證。亦是心下支飲。而病邪盤結者。與木防己湯。十棗湯證。其機稍近。而其位不均。</p>
<p><u>甘遂半夏湯方</u>（宋本外臺。芍藥一兩。又云。三枚。）</p>
<p>按趙氏曰。甘草緩甘遂之性。使不急速。徘徊逐其所留。入蜜。亦此意也。此程氏所本。又按此方四味。都以枚稱。徑長之品。恐難以附子烏頭之枚例之。豈甘遂芍藥。亦以如指大准之乎。考醫心方。引小品方云。人參一枚者。以重二分為準。此似宜以為率。蓋二分。即古秤之十二銖。今之二釐九豪也。但半夏在別例耳。</p>
<p>脈沉而弦者。懸飲內痛。</p>
<p>按內痛。諸家無解。豈脅肋內有痛之謂乎。玉機真藏論。有內痛引肩項文。</p>
<p><u>十棗湯方</u></p>
<p>本草。圖經。載本方云。病懸飲者。亦主之。胡洽。治水腫及支飲澼飲。加大黃。甘草。並前五物。各一兩。棗十枚。同煮如法。一方。又加芒硝一兩。湯成下之。（按聖濟芫花湯。原於此方。）</p>
<p>醫壘元戎曰。胡洽方。治支飲澼飲。於十棗湯中。加大黃。甘草。同煎服之。故以相反之劑。欲其上下俱去也。</p>
<p>病溢飲者。當發其汗。</p>
<p>按二湯證治。徐氏以挾熱伏寒為辨。恐未必是。蓋其別在從病之輕重。分藥之緊慢。而二方俱不過用以散表水也。</p>
<p>膈間支飲。其人喘滿。（本草。圖經。引深師。作其脈沉緊。不愈。作乃愈。復發下。有汗至三日四字。無與字。）</p>
<p><u>木防己湯方</u>（宋本外臺。石膏。雞子大。十二枚。碎。綿裹。本草引深師。木防己二兩。石膏二枚。雞子大。綿裹。）</p>
<p><u>木防己加茯苓芒硝湯方</u>（本草。無茯苓。）</p>
<p><u>澤瀉湯方</u></p>
<p>聖惠。治心下有水不散。是胸中痰飲。不能下食。宜服此方。</p>
<p>於本方。加半夏。生薑。</p>
<p>和劑。解暑三白散。治冒暑伏熱。引飲過多。陰陽氣逆。霍亂嘔吐。小便不利。臟腑不調。噁心頭暈。並皆治之。</p>
<p>於本方。加白茯苓。各等分。每服半兩重。水一盞。姜五片。燈心十莖。煎八分服。</p>
<p>支飲胸滿者。</p>
<p>按此條證。據尤鑑二說。是支飲而兼胃實者。故有須於承氣也。（輯義引鑑。飲滿。即支飲訛。）</p>
<p><u>小半夏湯方</u>　〔趙〕半夏之味辛。其性燥。辛可散結。燥可勝濕。用生薑以制其悍。孫真人云。生薑。嘔家之聖藥。嘔為氣逆不散。</p>
<p>故用生薑以散之。</p>
<p>外臺。文仲。療腳氣入心。悶絕欲死。</p>
<p>半夏（三兩洗切）　生薑（二升半）</p>
<p>上二味。內半夏。煮取一升八合。分四服。極效。</p>
<p>聖惠。治五噎。胸膈咽喉不利。痰逆食少方。</p>
<p>半夏七枚。小者。湯洗去滑。搗細羅為散。都為一服。以濃生薑湯調服之。患年多者。不過三服瘥。</p>
<p>魏氏家藏方。殊勝湯。去痰涎。進飲食。</p>
<p>於本方。加甘草。</p>
<p><u>防己椒目葶藶大黃丸方</u></p>
<p>〔徐〕先服一小丸起。尤巧。所謂峻藥緩攻也。〔魏〕何云一丸。疑誤。臨病酌加為妥。</p>
<p>按魏說似是。然赤石脂丸。亦梧子大服一丸。仍兩存之。</p>
<p>卒嘔吐心下痞。（本草。圖經引云。又主嘔噦谷不得下。眩悸。小半夏加茯苓湯。）</p>
<p>按此亦心下支飲證也。</p>
<p><u>小半夏加茯苓湯方</u></p>
<p>衛生家寶。竹葉湯。治熱吐翻胃。及傷寒遍身發熱冷吐。</p>
<p>於本方。加竹葉。</p>
<p>葉氏錄驗方。半夏湯。治肩臂痛（即本方）</p>
<p>假令瘦人臍下有悸。</p>
<p>按此證。即首條所謂痰飲之類已。臍下有悸。與腸間漉漉。稍同其轍。而用五苓散者。亦溫藥和之之意也。</p>
<p><u>五苓散方</u>（按小島尚質曰。澤瀉一兩一分。當作五分。始合古義。此方。傷寒論一以銖兩稱。卻是後人所改。此說確。又按外臺黃疸。引傷寒論。作澤瀉五分。益足以徵矣。）</p>
<p>按本證無發汗之理。方後多飲暖水汗出愈一句。蓋繫於以傷寒論有此文。而此亦附見者。尤氏說似牽會。</p>
<p>朱氏集驗方。附子五苓散。治翻胃吐食。</p>
<p>大附子一隻。取空。入五苓散在內。炮熟。上為細末。用薑湯下。何元壽方。</p>
<p><u>附方</u></p>
<p>外臺。茯苓飲。</p>
<p>按此亦支飲證。而與苓桂朮甘湯。小半夏湯等證。其機相近者也。</p>
<p>咳家其脈弦。</p>
<p>按據次條。此亦膈間支飲也。又沈氏析此以下九條。題云咳嗽。曰。此與肺脹癰痿之咳嗽不同。而肺脹癰痿。</p>
<p>乃陡起之證。此因飲蓄相搏而咳。所以另立一門也。此說似是。然本篇以咳嗽有因水飲者。而連類及之。非為咳嗽立門也。</p>
<p>夫有支飲家。咳煩胸中痛者。</p>
<p>〔朱〕夫曰有支飲家。則支飲之由來舊矣。乃因循失治。病氣變遷。有加無已。始也咳逆。今且壅閉而煩矣。始也倚息不得臥。今則胸中宗氣。為飲邪搏結。有似兼懸飲之痛矣。夫病久邪盛。似可卒死。乃仍遷延至百日。或一歲者。只以支飲之邪。本實邪也。邪實宜攻。不嫌過峻。主以十棗湯。所謂有病則病當之也。</p>
<p>按趙程意與徐同。沈鑑意與魏同。朱氏所解。或可備一說。仍表出之。又尤氏曰。其甚者。榮衛遏絕。神氣乃亡。</p>
<p>為卒死矣。否則延久不愈。至一百日或一歲。則猶有可治。為其邪瘥緩。而正得持也。亦通。久咳數歲。其脈弱者可治。</p>
<p>〔魏〕又有久咳數歲。飲之留伏也久矣。證之成患也深矣。診之脈弱者。久病正虛。是其常也。久病而邪亦衰。是其幸也。可以於補正氣。寓逐水飲之法治之。徐徐可收功也。故曰可治。若夫診其脈。而實而大而數。則正虛而邪方盛。欲補其正。有妨於邪。欲攻其邪。有害於正。可決其死也。然此亦為治之不如法者言耳。苟能遵奉仲景。以扶陽益氣為本。以溫中散寒。清熱散邪為斟酌。以導水於二便。宣水於發汗為權宜。何遽致於必死乎。</p>
<p>咳逆倚息不得臥。</p>
<p>按此即首條支飲證也。蓋其人上焦素有停飲。今時氣所觸。相搏犯肺。以為此證。故與小青龍湯。雙解表裡。然非敢備諸般表候也。</p>
<p>青龍湯下已。多唾口燥。</p>
<p>按下已者。服畢也。多唾者。青龍之功著。而飲豁之徵。猶今之患支飲者。及其欲愈。必吐稠痰。唾。亦稠痰也（宜參肺痿。及前篇肺中寒條。）口燥者。亦飲去之徵。與渴同機。續後三條。俱舉藥驗。此證亦即是已。而咳止息平。義寓其中矣。此下脈證。非為青龍湯而發。以其飲所在。不特上焦。亦瀦於中下。而更或有所挾。今服湯之後。支飲雖散。</p>
<p>他證嗣見者也。寸脈沉。尺脈微者。魏氏曰。寸脈沉者。支飲有窠囊。欲去之而不能盡去也。尺脈微者。正陽虛於下。而陰寒之氣。斯厥逆而上奔也。此解似佳。唯尺脈微。豈為血虛而現乎。手足厥逆者。陽素不盛。今為飲。</p>
<p>遏住所致。與瓜蒂散之厥。其情相近。氣從小腹。上衝胸咽者。下焦之水上迸也。手足痹者。其人血虛故也。其面翕熱如醉。復下流陰股者。胃中有熱。被飲迫動。或升或降也。小便難者。膀胱不輸也。時覆冒者。即是心下支飲之故。而有時失升也。先證。三焦俱有水。加以血虛與胃熱。然其所急。特在氣衝。故先用桂苓五味甘草湯。以抑逆散飲。此方。比之苓桂朮甘湯。有五味而少術。彼以胃為主。而此猶兼肺。故用五味以利肺氣。比之苓桂甘棗湯。彼飲在下。而此飲在上也。</p>
<p>咳滿即止。而更復渴。</p>
<p>〔趙〕服湯後。咳滿即止。三變而更復渴。沖氣復發。以細辛乾薑乃熱藥。服之當遂渴。反不渴。支飲之水。蓄積胸中故也。</p>
<p>按此節。當以至為熱藥也。為一截看。咳滿即止。是姜辛之功著。然藥勢燥胃。故為渴而下焦之水。亦隨發動。</p>
<p>此際更宜苓桂五味甘草湯者。意在言外矣。服之以下。是接上文治其咳滿句。言服之咳滿即止當發渴。而反不渴者。為心下有支飲也。渴反止。趙氏注。為反不渴讀。程氏亦然。宜從。此支飲。與青龍證不同。所謂冒者。</p>
<p>即前條時覆冒之加重者也。復內半夏者。所以驅水飲。止嘔逆也。</p>
<p>水去嘔止。其人形腫者。</p>
<p>〔尤〕血虛之人。陽氣無偶。發之最易厥脫。麻黃不可用矣。杏仁味辛能散。味苦能發。力雖不及與證適宜也。按水去。即心下之水去。故嘔止。是半夏之功著矣。然內水外溢。以為形腫。故治猶遵前法。而表水非麻黃不能驅除。蓋杏仁之與麻黃。其性雖有緊慢之別。而其功用。則稍相均。以其人血虛。故以此易彼耳。其人遂痹者。前段手足痹也。厥者。亦即前段手足厥逆。倘得麻黃。以亡其陽。則更甚也。血虛者。尺脈微之應也。此無救逆之法。顧證既至此。則宜別處固陽救液之藥。非前方加減之所治矣。</p>
<p>若面熱如醉。</p>
<p>按此上四條。如雲治其氣衝。而承以沖氣即低之類。其文上下相應。特此條自為起端。故程氏。尤氏。以為別證。然其治仍守上方。則知亦接上來矣。面熱如醉者。即前段所謂面翕熱也。其初胃熱未長。故不敢為意。今蓄飲未散。而胃熱增劇。故加大黃以利之。徐氏所謂。雖有姜辛之熱。各自為功。而無妨者。實得其理矣。（千金方衍義。引趙氏。今二注本無考。）</p>
<p>又按以上六條。皆設法備變者也。蓋病有證候錯雜。或陸續變替。乃不可不就其所急。而為之處療者。是此諸條之所以設。而使人知圓機之妙者已。唯所敘諸證。未必一人兼備。亦未必非一人兼備。且所處之藥。皆著其功。如更發他證者。是不必藥之所致。要不過假此數端。以示為治之次第也。其初則時氣觸動。而其次則下焦水逆。次則肺飲復動。次則中焦飲遏。次則水氣外溢。於是水飲之情狀。纖悉無遺。而加以兼虛挾熱。</p>
<p>可謂密矣。</p>
<p>先渴後嘔。為水停心下。</p>
<p>〔徐〕飲有久暫不同。此云先渴後嘔。渴必多飲。從無嘔證。而忽於渴後見之。其為水飲無疑矣。故曰。此屬飲家。暫時傷飲也。〔鑑〕水停心下。中焦部也。中焦屬胃。故不止病悸短氣。而亦病嘔也。病悸短氣者。是水停胃外。從膈下而上干於胸也。病嘔者。是水停胃內。從胃中而上越於口也。</p>
<p>〔余述〕許學士稱。平生病膈中停飲。覺酒止從左邊下。漉漉有聲。脅痛。飲食殊減。十數日必嘔數升酸苦水。後揣度之。已成癖囊。如潦水之有科曰。不盈科不行。水盈科而行也。清者可行。濁者依然渟滀。蓋下無路以決之也。是以積之五六日。必嘔而去。稍寬數日復作。脾。土也。惡濕。而水則流濕。莫若燥脾以勝濕。崇土以填科曰。則病當去矣。於是悉屏諸藥。一味服蒼朮。三月而疾除。云云。愚以為許氏所患。即支飲中一證。其所辨說。殊為精核。蓋如苓桂朮甘湯。澤瀉湯。小半夏。及加茯苓湯。茯苓飲等證。皆是支飲之自脾土失權而致者。</p>
<p>即所謂癖囊也。癖囊之名。今世多唱之者。而少知其實為支飲者。又莫識支飲之證。得許氏之言。而其理更明者。故愚今表而論之。（癖囊。本作澼囊。出千金痰飲中。）</p>

<h2>消渴小便利淋病脈證並治第十三</h2>
<p>（小便利。徐。沈。周。尤。朱。作小便不利。宜從。）</p>
<p>寸口脈浮而遲。</p>
<p>按巢源。以此條。收之虛勞候中。可以確金鑑說矣。</p>
<p>趺陽脈浮而數。</p>
<p>證治要訣曰。中消消脾。脾氣熱燥。飲食倍常。皆消為小便。</p>
<p>男子消渴。小便反多。</p>
<p>〔余述〕按本篇之敘真消渴。僅此二證。即消中與下消也。古今錄驗。雖分為三。其實亦不過脾腎二臟之病已。渴之為候。必自胃熱。而上焦之熱。必止咽燥。所謂口燥不渴者。皆為膈有熱。而胃無熱者言。然則仲景不及上消者。其意殆可見也。迄至宋金諸哲。以三消配之三焦。（衛生家寶。簡易方。直指方。保命集等。是也。）近日和田泰純。嘗疑其說。不能無理。但內經有肺消膈消之名。而厥陰病。既有消渴。蓋為胃津竭乏。遂及胸膛者。乃不得言必無上消證。不敢臆定。以俟識者。</p>
<p>渴欲飲水不止者。</p>
<p>〔沈〕此亦非真消渴也。</p>
<p>按尤氏曰。熱渴飲水。水入不能消其熱。而反為熱所消。故渴不止。文蛤味鹹性寒。寒能除熱。咸能潤下。用以折炎上之勢。而除熱渴之疾也。此亦一說。姑存之。小便不利者。有水氣。</p>
<p>按朱氏以為上焦有熱。下焦有寒。因渴而小便不利。誤矣。此證之渴。即下焦蓄水。而升騰之氣液失常之所致。栝蔞根。不啻生津液。亦能行水氣。觀柴胡桂枝幹薑湯。（此方治飲結。說見傷寒論述義。）及牡蠣澤瀉散。而可見也。此方用治小便閉。宜用腎氣丸。而其人厭泥戀者甚驗。危氏得效方。附子散。治小便不通。兩尺脈俱沉微。乃陰虛故也。用綿附子。澤瀉。各一兩。燈心七莖。水煎服。亦此意也。</p>
<p>若渴欲飲水。口乾舌燥者。</p>
<p>按此條。既出陽明篇中。則猶是。似非真消渴。然以為中消證治。亦所無妨。</p>
<p><u>豬苓湯方</u></p>
<p>豬苓（去皮）　茯苓　阿膠　滑石　澤瀉（各一兩）</p>
<p>上五味。以水四升。先煮四味。取二升。去滓。內膠烊消。溫服七合。日三服。（按此方。輯義偶脫。今照原本錄補。）</p>

<h2>水氣病脈證並治第十四</h2>
<p><u>論七首　脈證五條　方九首（按此數目。並有訛。當考。）</u></p>
<p>師曰。病有風水。有皮水。（脈經。其腹如鼓下。注曰。如鼓。一作如故不滿。癰膿。輯義誤寫作癰腫。諸本皆作膿字。）</p>
<p>按風水。亦外證胕腫。其不言者。蓋系省文（醫通。以為脫文。似非。）金鑑。以從上腫從下腫。辨風水皮水。恐失拘執。（輯義。胕。程讀為跗。程。當作鑑。）又皮水。其腹如鼓云云。宜從巢源。及脈經注。改正為順。正水。徵以水熱穴論。水脹篇。則此證亦必腹滿。今不言者。亦系省文。金鑑言胸滿自喘者。非是。要之風水皮水。以表邪有無為辨。正水石水。以喘不喘為別。其他證候。皆宜類推也。（醫通引經。是大奇論。水熱穴論。評熱病論。陰陽別論。然錯綜顛倒。頗加改易。學者宜考原文。）</p>
<p>又按內經之風水。為腎虛招風。以為水氣。遂變正水者。仲景之風水。指邪水專鬱於表者而言。其證稍異。又正水。蓋水腫之正證。水熱穴論曰。故水病。下為胕腫大腹。上為喘呼不得臥者。標本俱病。故肺為喘呼。腎為水腫。肺為逆不得臥。分為相輸俱受者。水氣之所留也。水脹篇曰。水始起也。目窠上微腫。如新臥起之狀。其頸脈動。時咳。陰股間寒。足脛瘇。腹乃大。其水已成矣。以手按其腹。隨手而起。如裹水之狀。此其候也。俱是正水之謂耳。雞峰普濟方曰。病腫者。皮膚緊急腫滿。無文沒指。若目下微腫。如臥蠶之狀。及足脛皆腫。小便不利。其人喘急。脈沉大而疾。此由脾腎虛弱。腎虛水不能蓄。水氣揚溢。脾胃虛則不能制水。水氣流散於經絡。</p>
<p>經絡水病。故能腫滿。謂之正水。此說甚核。足以相徵矣。至石水。則考之巢源。其水沉凝不行。亦不上泛。殆近水鼓者也。雞峰方。又以為腹脹如鼓。按之堅硬。腹中時痛。謂之石水。繞臍堅硬。腹不痛者。謂之鼓氣。是以痛不痛為別。恐非確論。又有治石水。用防己椒目葶藶大黃丸治驗。文繁不錄。宜閱。（巢源。又有毛水候。亦是皮水。又有大腹水腫候。亦即正水。並宜相參。又三因。皮水。據巢源。處以五皮散。）</p>
<p>脈浮而洪。浮則為風。（相擊。徐。沈。朱。作相系。非。惡風以下八字。聖濟總錄引。作惡風者為風水。）</p>
<p>按此條。風強氣強二證。是客。風氣相擊證。是主。宜分別看。汗出乃愈。專屬風水而言。不統前二證。趙氏曰。風者。外感之風也。氣者。營衛之氣也。所謂氣強者。衛因熱則怫鬱。停而不行。氣水同類。氣停則水生。所聚之液血。皆化水也。程氏曰。氣者。水氣也。形盛於外。為氣強。內經曰。津液充郭。其魄獨居。即氣強之意也。魏氏曰。氣者水氣。即濕邪也。濕邪挾風邪。作熱於表也。尤氏曰。風。天之氣。氣。人之氣。是皆失其和者也。風氣相搏。風強則氣從風。而侵淫肌體。故為癮𤺋。氣強則風從氣。而鼓湧水液。故為水。風氣並強。兩相搏擊。而水液從之。則為風水。汗之則風去而水行。故曰汗出乃愈。尤注與金鑑相發。最為穩貼。（身癢。多屬表虛。特桂麻各半湯證。以不得小汗出身癢。即是表郁。豈此條之類乎。）</p>
<p>平脈法曰。脈浮而大。浮為風虛。大為氣強。風氣相搏。必成隱疹。身體為癢。癢者名泄風。久久為痂癩。林億等注。眉少發稀。身有干瘡。而腥臭也。</p>
<p>寸口脈沉滑者。中有水氣。（擁上。諸本。有微字。輯義偶脫。）</p>
<p>按靈樞論疾診尺篇。視人之目窠上。微癰如新臥起狀。其頸脈動。時咳。按其手足上。窅而不起者。風水膚脹也。此本條所原。先兄曰。擁。臃同。腫起也。太陽病。脈浮而緊。</p>
<p>按身腫而冷。狀如周痹。程氏屬之黃汗。恐佳。痛在骨節。亦是黃汗。尤說為是。</p>
<p>趺陽脈當伏。今反緊。（寒字。句。疝瘕。宜接腹中痛讀。）</p>
<p>趺陽脈當伏。今反數。</p>
<p>〔徐〕此二條。言水病人別有宿病。人各不同。當從趺陽脈。與其舊疾見證別之。〔尤〕趺陽雖系胃脈。而出於陰部。故其脈當伏。今反緊者。以其腹中宿有寒疾故也。寒則宜溫。而反下之。陽氣重傷。即胸滿短氣。其反數者。以其胃中有熱故也。熱則當消穀而小便數。今反不利。則水液日積。故欲作水。夫陰氣傷者。水為熱蓄而不行。陽氣竭者。水與寒積而不下。仲景並舉二端。以見水病之原有如此也。</p>
<p>按諸家以趺陽脈伏為病脈。尤氏特以為平脈。而其注義亦暢。仍表出之。更推尤意。此欲作水一句。總括二條。亦頂胸滿氣短來。或曰。此二條。前條是客。不過舉其有寒者。以為照對。實無干水病。後條是主。示水之因熱生者。此說亦有理。姑附存之。</p>
<p>又按趺陽平脈。貴沉實不貴浮露。故尤氏以伏為平脈。辨脈法曰。趺陽脈遲而緩。胃氣如經也。其意一也。但後條有寒水相搏。趺陽脈伏語。義相矛盾。當考。又辨脈法曰。趺陽脈微而緊。緊則為寒。微則為虛。微緊相搏。則為短氣。</p>
<p>夫水病人。目下有臥蠶。</p>
<p>按靈樞。無目下微腫如蠶之文。趙氏錯引。蓋目下如臥蠶者。色黃晶腫。如新臥起者。眼胞上龐然虛浮。其證自異。方書中。或有曰有若臥蠶才起之狀者。謬矣。</p>
<p>師曰。寸口脈沉而遲。</p>
<p>或曰。推他文例。趺陽脈伏一句。疑衍存考。</p>
<p>蔣示吉醫宗說約曰。有血分症。婦人先經水斷絕。而後四肢腫滿。小便不通。此血瘀水道。以通經為主。宜小調經散。</p>
<p>問曰。病者苦水。面目身體四肢皆腫。（脈之上。脈經。有師字。是。）</p>
<p>〔趙〕此水病。脈之不言水。反言胸中痛等病。當時記其說者以為異。非異也。是從色脈言耳。</p>
<p>按脈之不言水。反言胸中痛。二言字。沈氏屬之病者。（本于徐氏。）趙氏則屬之醫師。殊覺妥協。蓋此病者洪腫。如以常情。則當言其所苦。與治之所急。皆在水。而師反舉胸中痛等證以為言。故人疑而設問也。脈經作師脈之不言水。語意最明。太陽上篇。問曰證象陽旦條。及脈經中。並有同語例。宜相參。又關元。即泛稱下焦之名。亦見厥陰篇。及婦人雜病中。又醫以為留飲。而大下之句。言醫誤認脅下急痛等證。以為懸飲支飲之屬。錯用十棗等湯。蓋當時未至身腫。而程氏謂見標證面目身體四肢皆腫云云。而大下之者。殆未為當。又胃家虛煩之煩。即太陽下篇。吐之內煩之煩。</p>
<p>又按脈經。引四時經云。土亡其子。其氣衰微。水為洋溢。浸漬為池。走擊皮膚。面目浮腫。歸於四肢。愚醫見水。直往下之。虛脾空胃。水遂居之。肺為喘浮。注云。肺得水而浮。故言喘浮。又巢源傷寒咳嗽候曰。水停心下。則肺為之浮。肺主於咳。水氣乘之。故咳嗽。又水腫候中曰。肺得水而浮。浮則上氣而咳嗽也。蓋得斯說。而浮咳之義始晰矣。（何氏醫碥曰。水氣喘者。水氣逆行。肺氣得水而浮。觀浴河者。水浸至胸則喘可見。）</p>
<p>風水。惡風一身悉腫。</p>
<p>按沈以為風多水少之證。恐拘。先兄曰。續。似續陸續之續。汗常出而不止。又前第四條曰。其人不渴。汗出即愈。此為風水。存參。（評熱病論。論風水。有口乾苦渴證。）</p>
<p><u>越婢湯方</u></p>
<p>按藥有性有用。方之既成。或取其性。或取其用。如此方。則石膏得麻黃之溫發。但存逐水之用。相藉以驅水氣。（石膏逐水。本草不言。然仲景用之驅飲者。不一而足。）加朮湯。則麻石之功。與前方同。而術與麻黃相藉。走外之力稍勝矣。（性用諸義。詳開於拙著藥治通義中。）</p>
<p><u>防己茯苓湯方</u></p>
<p>按此方繫於發表利水相兼之劑。防己。黃耆。俱逐外水。義具於濕病防己黃耆湯下。須互參。</p>
<p><u>越婢加朮湯方</u></p>
<p>按此方與次方。所主之證。蓋在輕重劇易之別。不必拘有熱無熱矣。</p>
<p><u>甘草麻黃湯方</u></p>
<p>千金翼。麻黃湯。主風濕水疾。身體面目腫。不仁而重方。（即本方。）重覆。日移二丈汗出。不出更合服之。慎護風寒。</p>
<p>皮水。用之良。</p>
<p>秘傳經驗方。走馬通聖散。治諸風濕。及傷風傷寒頭疼。並治疔瘡一切腫毒。手足疼痛。風痹不仁。</p>
<p>即本方。炒微黃。碾為細末。每服三錢。用水鍾半。鍋內滾一大沸。涼溫服。蓋被暖不透風。汗出為度。仍要護慎風觸。遂無重複。</p>
<p>水之為病。其脈沉小。屬少陰。</p>
<p>按少陰。即與傷寒少陰病同義。繫於表虛寒之謂。其用麻黃附子甘草湯。取之溫發。沈氏說雖巧。猶未免牽湊。</p>
<p>厥而皮水者。</p>
<p>醫心方。張仲景方。青龍湯。治四肢疼痛。面目胕腫方。</p>
<p>麻黃（半斤去節去末）　細辛（二兩）　乾薑（二兩）　半夏（洗）</p>
<p>凡四物。切。以水八升。煮得二升。一服止。</p>
<p>又。又云。治脾胃水。面目手足胕腫。胃管堅大滿氣。不能動搖。桑根白皮湯方。</p>
<p>桑根白皮切（二升）　桂（一尺）　生薑（三顆）　人參（一兩）</p>
<p>凡四物。切。以水三斗。煮取桑根。竭得一斗。絞去滓。內桂。人參。生薑。黃飴十兩。煮之竭得七升。服一升。消息更服。（今案本草。桂一尺。重半兩為正。○按右出其第十卷治通身水腫方中。未知果是本經之遺否。姑附於此。）</p>
<p>〔余述〕按本篇。首敘四證。而篇中特舉風水皮水。不及正水石水。其論治法。有云可下之。有云當利小便。有云當發汗。今考篇中。殊詳於發表之方。而至攻下滲利之藥。則缺而不出。豈皆是後人之所刪難。抑仲景之引而不發者乎。</p>
<p>黃汗之病。</p>
<p>先兄曰。此條。當為五節讀。首二句。概稱黃汗之證也。而下曰歷節。曰勞氣。曰生惡瘡者。以其與黃汗相類。而實不同。舉以示之也。歷節必兼寒邪。故周身發熱。（尤氏所舉第四條文。彼注屬之皮水。與此牴牾。然其屬黃汗者。為是。）</p>
<p>桂枝去芍藥加麻黃細辛附子湯方（外臺引深師。名附子湯。主證與本條同。甘草。炙。麻黃。去節。三兩。細辛三兩。附子。冠大字。大棗。有擘字。煮麻黃下。有再沸二字。方後云。仲景傷寒論。名桂枝去芍藥加麻黃細辛附子湯。趙本。作桂姜草棗黃辛附子湯方。）</p>
<p>心下堅。大如盤。（本草。圖經引。無邊如旋盤四字。宋本外臺飲癖門。引備急。亦作枳實術湯。）</p>
<p>按上條與此條。其病俱在內。與外體浮腫者不同。今編在本篇者。未詳其解。疑是痰飲篇中所錯也。巢源氣分候曰。夫氣分者。由水飲搏於氣。結聚所成。氣之流行。常無壅滯。若有停積。水飲搏於氣。則氣分結而住。故云氣分。醫學綱目曰。氣分。謂氣不通利而脹。血分。謂血不通利而脹。非脹病之外。又別有氣分血分之病也。蓋氣血不通利。則水亦不通利而尿少。尿少。則腹中水漸積而為脹。但氣分。心下堅大。而病發於上。血分。血結胞門。而病發於下。氣分。先病水脹。後經斷。血分。先經斷。後病水脹也。（按樓氏此說。湊合水分為言。殊屬刺繆。）</p>
<p><u>枳朮湯方</u>（外臺兩見。並作白朮三兩。本草引同。無白字。外臺引備急。及本草。亦水五升。作水一斗。）</p>
<p>侶山堂類辨曰。金匱要略。用枳朮湯。治水飲所作。心下堅。大如盤。蓋胃為陽。脾為陰。陽常有餘。而陰常不足。胃強脾弱。則陽與陰絕矣。脾不為胃行其津液。則水飲作矣。故用術以補脾。用枳以抑胃。後人不知胃強脾弱用分理之法。咸謂一補一消之方。再按局方之四物湯。二陳湯。四君子湯。易老之枳朮丸。皆從金匱方套出。能明乎先聖立方大義。後人之方不足法矣。（按胃強脾弱。補脾抑胃。並似迂曲。）</p>
<p>外臺。文仲。徐王枳實散。宜春秋服。消腫利小便。兼補療風虛冷脹不能食方。</p>
<p>枳實（半斤炙）　桂心（一斤）　茯苓　白朮（各五兩）為散。酒服方寸匕。日三服。加至二匕。千金月令。主結氣方。</p>
<p>白朮　枳殼（炒）　上等分。搗篩。蜜丸如梧子大。空腹飲下二十五丸。</p>
<p>聖惠。治癖結不能飲食。心下虛滿如水者。枳實散方。</p>
<p>於本方。加半夏。生薑。水煎。</p>
<p>又治膈氣心胸間痛方。</p>
<p>於本方。加神麴。各一兩。為散。不計時候。熱酒調下一錢。</p>
<p>又治飲癖氣分。心下堅硬如杯。水飲所作。桂心散方。</p>
<p>於本方。加桂心。細辛。附子。檳榔。姜。棗。用枳殼。水煎服。（按此嚴氏枳朮湯祖方。）</p>
<p>又治飲癖。心下堅。大如杯。時復疼痛。宜服此方。</p>
<p>於本方。加桂心。生薑。</p>
<p>百一選方。治一切浮腫。水氣亦可治。</p>
<p>於本方。如吳茱萸。茯苓。生薑。水煎。</p>
<p>奇效良方。加味枳朮湯。治氣為痰所隔。心下堅脹。名曰氣分。</p>
<p>枳殼。白朮。辣桂。紫蘇。陳皮。檳榔。桔梗。五靈脂。木香。（各一分）半夏。茯苓。甘草。（各二分）每服二錢。水二盞。生薑三片。</p>
<p>煎至一鍾。去滓。食前溫服。</p>

<h2>黃疸病脈證並治第十五</h2>
<p><u>論二首　脈證十四條　方七首（按當作六首。）</u></p>
<p>寸口脈浮而緩。</p>
<p>〔尤〕脾臟瘀熱而色黃。脾者。四運之軸也。脾以其所瘀之熱。轉輸流布。而肢體面目盡黃矣。故曰瘀熱以行。</p>
<p>按平人氣象論曰。緩而滑。曰熱中。邪氣臟腑病形篇曰。緩者多熱。平脈法曰。緩者胃氣實。實則谷消而水化也。又傷寒論曰。傷寒脈浮而緩。手足自溫者。是為系在太陰。太陰者身當發黃。合此諸義觀之。則知是緩為胃熱。而浮緩為發黃之診。又知浮則為風之風。即熱氣外熏之謂。（傷寒論。有此例。）非邪氣中表之義。又知緩則為痹之痹字。蓋是癉字之訛。始與文義相葉。（緩癉煩三字韻。黃行二字韻。）顧以其訛作痹。後人不辨。遂補痹非中風一句也。再按痹非中風一句。推他文例。當是風癉相搏四字。（此愚弱冠時說。極知臆妄。然痹字遂難解。注家循文解釋。不免牽強。仍姑存錄。以俟識者。倉公傳曰。風癉客脬。難於大小溲溺赤。）</p>
<p>趺陽脈緊而數。</p>
<p>〔趙〕女勞疸。惟言額上黑。不言身黃。省文也。後人雖曰交接水中所致。特其一端耳。</p>
<p>按先兄曰。尺脈浮為傷腎。趺陽脈緊為傷脾。二句插入。以對示女勞疸谷疸二證之脈。此不承食即為滿句。</p>
<p>亦不接風寒相搏句。注家與上下相連為解。殆覺踳謬。又陰被其寒。諸注以陰為腎臟。似失當。特尤氏曰。谷不消而氣以瘀。則胃中苦濁。濁氣當出下竅。若小便通。則濁隨溺去。今不通。則濁雖下流。而不外出。於是陰受其濕。陽受其熱。轉相流被。而身體盡黃矣。朱氏曰。是太陰雖被寒鬱。而鬱久化成之濕熱。流禍膀胱。並是。又按女勞疸。注家以為腎熱。其說誠是。蓋人斫喪太過。精液虧乏。則腎中之陽必亢極。營血為之郁黷。遂為發黃也。又此證小便自利。魏氏曰。陽虛氣降。無所收攝節制也。金鑑曰。膀胱急。小便利。下焦虛也。腹滿如水狀。脾腎兩敗。故謂不治也。亦是一說。蓋此證本是下虛。故其初小便不禁。久而真元閉絕。小便不利。遂至腹如水狀也。</p>
<p>又按舒氏傷寒論集註曰。酒中有熱有濕。均足為患。因其本氣而患之。本氣虛寒者。本不患熱。惟患其濕。真陽素旺者。不患其濕。而患其熱。（此本於張介賓酒泄說。然其意少異。）蓋酒疸之證。舒氏所謂。不患其濕。而患其熱者也。</p>
<p>酒疸心中熱。</p>
<p>按此上條脈浮者之謂。似不必與懊憹有微甚之別。</p>
<p>酒疸下之。久久為黑疸。</p>
<p>按據巢源千金。諸疸皆久為黑疸。雖黑微黃。蓋通言之。不特自酒疸變者。（變作桃皮色。亦本於巢源。）尤氏以女勞疸對言。然女勞疸。亦尺脈浮。身盡黃。不必脈沉身純黑。</p>
<p>師曰。病黃疸。</p>
<p>按此條。言黃疸有因火劫得者。然此病多自濕得之。而其證有二端。尤氏謂非內兼濕邪。則熱與熱相攻。而反相散者。恐失其當。如傷寒火逆條。兩陽相熏灼。其身發黃。風溫被火。微發黃色。陽明病被火。必發黃俱不內兼濕邪者。</p>
<p>腹滿舌痿黃。</p>
<p>按趙氏曰。黃疸之黃深。實熱之黃。痿黃之黃淺。虛熱之黃。當考。</p>
<p>疸而渴者。其疸難治。</p>
<p>按趙氏曰。疸。即癉也。單陽無陰。此說本於聖濟。未確。蓋發黃用癉字。見玉機真藏論。胃熱用疸字。見平人氣象論。此癉疸相同之明徵也。又刺瘧篇。胃瘧者。令人旦病也。太素旦。作疸。注。疸。音旦。內熱病也。</p>
<p>谷疸之為病。寒熱不食。</p>
<p>〔沈〕濁氣內壅。所以心胸不安。不安者。即懊憹熱痛之類也。</p>
<p><u>茵陳蒿湯方</u></p>
<p>趙氏曰。蓋茵陳湯。治熱結髮黃。佐梔子。去胃熱。通小便。更以大黃為使。盪滌之。雖然治疸。不可不分輕重。如梔子柏皮湯。解身熱發黃。內熱之未實者。麻黃連翹赤小豆湯。治表寒濕。內有瘀熱而黃者。大黃硝石湯。下內熱之實者。梔子大黃湯次之。茵陳湯又次之。○按梔子大黃湯治上熱。此方治胃熱。其病位本不同。且此方。大黃二兩。彼則一兩。此方其劑大。彼則劑小。可知此方力重於彼。喻氏亦以此為輕。誤矣。（梔子柏皮湯。麻黃連軺赤小豆湯二方。傷寒論述。義有詳說。茲不贅。）</p>
<p>又按尿如皂角汁狀。此濕去之徵。故曰黃從小便去也。</p>
<p>幼幼新書。吉氏家傳。治小兒身體黃。及小便黃。眼白睛黃。即是疸也。宜此方。於本方。加朴硝。</p>
<p>黃家。日晡所發熱。而反惡寒。（外臺。疸。作癉。本草。圖經引。亦疸。作癉。其腹脹。作腹臚脹滿。）</p>
<p>按發熱而反惡寒。金鑑說為是。尤注難從。</p>
<p>又按此證本是虛因。而更有水蓄腹滿。故云難治。蓋仲景書。其稱難治者。在傷寒論則七見。在本經則五見。</p>
<p>大抵謂病寒熱相錯。虛實互呈。其治不得純一。有所顧慮者。宜深味焉。（余嘗著虛實論。既有詳說。錄在藥治通義中。宜參。）</p>
<p><u>硝石礬石散方</u>（圖經引。作硝石。熬黃。礬石。燒令汁盡。二物等之合。秘絹篩。大麥粥汁和。服方寸匕。日三。重衣覆取微汗。病隨大小便去。小便正黃。大便正黑也。大麥用無皮者。）</p>
<p>按此方用大麥粥。其理與石膏配粳米相同。藥性論云。硝石。君。惡曾青。畏粥。</p>
<p>本草綱目曰。綠礬。燥濕化涎。利小便消食積。故脹滿黃腫。瘧痢疳疾方。往往用之。其源則自張仲景用礬石硝石。治女勞黃疸方中。變化而來。</p>
<p>聖濟。治赤白痢。礬石丸。白礬（四兩）　硝石（一兩半）　搗為末。（云云）用米醋浸炊餅心丸。如梧桐子大。每服十丸。空心米飲下。</p>
<p>魏氏家藏方。硝礬圓。治暗風癇病年深者。</p>
<p>於本方。（硝石半兩白礬一兩枯）　加赤石脂。（二兩火煅）為細末。糯米粥為丸。如綠豆大。每服十五丸。食後溫水下。日進三服。</p>
<p>一日一次發者。服之半月。永除根本。</p>
<p>酒黃疸。心中懊憹。（首句。外臺。作酒癉者。）</p>
<p>按此上條脈沉弦者之治也。</p>
<p>梔子大黃湯（宋本外臺。梔子。七枚。擘。枳實。破。水漬。炙。香豉。一升。綿裹。分溫三服。作去滓溫服七合。日三服。）</p>
<p>諸病黃家。但利其小便。</p>
<p>按桂枝加黃耆湯證。即濕邪表郁者。蓋與濕家身色如熏黃。有陰陽之別。</p>
<p>諸黃。豬膏發煎主之。</p>
<p>按趙氏既引傷寒類要。以證此條之為血燥。然其說冗雜不核。仍不採入。</p>
<p><u>豬膏發煎方</u></p>
<p>聖惠。治黃疸。耳目悉黃。食飲不消。胃中脹熱。此腸間有燥糞。宜服此方。</p>
<p>上煎煉豬脂。五兩。每服抄大半匙。以蔥白湯頻服之。以通利為度。</p>
<p>沈氏尊生書曰。有服對證藥不能效。耳目皆黃。食不消者。是胃中有干糞也。宜飲熬豬油。量人氣稟。或一杯。或半杯。日三次。以燥糞下為度。即愈。</p>
<p>黃疸病。茵陳五苓散主之。</p>
<p>按此條不言何疸。殆是谷疸之輕證。否則濕邪內郁所致乎。</p>
<p>黃疸腹滿。小便不利而赤。</p>
<p>按此條不言何疸。蓋是谷疸之最重者也。自汗出。為裡熱蒸迫之候。諸注以為表和者。非是。蓋此證一屬裡實。故舉表和二字。以徵自汗之非表邪也。</p>
<p><u>大黃硝石湯方</u>（千金。硝石。作芒硝。難從。宋本外臺。煎取二升半。去滓。內硝石。更煎取一升。先食頓服。）</p>
<p>按硝石礬石散。及此方。不用芒硝。而用硝石者。蓋以芒硝潤品。不宜濕熱。故取於火硝之燥且利焉。繇是觀之。則今之醫。治陽明病。於承氣湯中。換用硝石者。坐於不深研經旨矣。</p>
<p>黃疸病。小便色不變。欲自利。</p>
<p>〔朱〕此黃疸中之中氣虛寒者。小便色不變。非時下無壅熱。並見虛寒之象。乃自利腹滿而喘。是濁邪橫逆。清氣不運。使醫者誤認腹滿而喘為實熱。反以寒藥除之。益致胃敗而為噦。且以小半夏湯。溫通上焦。以止逆除噦。而後漸次調理脾胃可也。</p>
<p>按陽明篇曰。陽明病。不能食。攻其熱必噦。所以然者。胃中虛冷故也。以其人本虛。攻其熱必噦。正與此條同機。</p>
<p>聖惠方。治陰黃小便色不變。欲自利而不利。腹滿而喘者必噦。噦者。宜服小半夏湯方。</p>
<p>於本方。加人參。葛根。</p>
<p>男子黃。小便自利。</p>
<p>〔趙〕男子黃者。必由入內虛熱而致也。反見小便自利。為中下無熱。惟虛陽浮沉為黃耳（按沉。疑泛字。）故與治虛勞之劑補正氣。正氣旺。則營衛陰陽和。而黃自愈矣。</p>
<p>按趙說是。蓋女勞疸初起之證治也。先兄曰。上條。有手足中熱。膀胱急。少腹滿諸證。而此特舉小便自利者。使人推知其他也。今與虛勞篇相參。其膀胱急。少腹滿者。尤氏所謂陽病不與陰和。則陰以其寒獨行。為裡急。為腹中痛。而其實非陰之盛者。若身體盡黃。手足中熱。亦尤氏所謂陰病不能與陽和。則陽以其熱獨行。</p>
<p>為手足煩熱。而實非陽之熾者。陰陽不相和諧。外生虛熱。而所謂黃病。非土色外呈之候。其用小建中湯者。意在使陰陽相就。而寒以溫熱以和也。</p>
<p><u>附方</u></p>
<p><u>瓜蒂湯</u></p>
<p>外臺。延年秘錄。療急黃心上堅硬。渴欲得水吃。氣息喘粗眼黃。但有一候相當。即須服此瓜蒂散吐則瘥方。</p>
<p>於仲景原方中。去香豉。○又許仁則方。有用瓜蒂。丁香。赤小豆。搗篩末。以新汲水。和一方寸匕與服者。</p>
<p>千金。麻黃醇酒湯。（外臺。疸。作癉。本草。傷寒類要。引張仲景傷寒論。文稍與外臺同。二升半。作半升。下有去滓二字。）</p>
<p>〔余述〕按黃疸之病。有陰陽二證。更有濕勝燥勝之異。今考經文。酒疸。陽而屬燥者也。故治主清涼。女勞疸。陰而屬燥者也。故初治從和中。而末治須潤導。谷疸。有陽有陰。其陽屬濕熱。治在疏蕩。其陰屬寒濕。治要溫利。後世以茵陳附子並用者。即寒濕之治已。如茵陳五苓散證。豈濕熱發黃之輕者乎。此諸黃者。皆病之屬裡者也。如桂枝加黃耆湯證。濕熱鬱表。亦陽黃之類已。此他。傷寒論中發黃諸條。不一而足。皆與本篇互發。學者宜參互詳審焉。</p>

<h2>驚悸吐衄下血胸滿瘀血病脈證治第十六</h2>
<p>（按胸滿。是瘀血中一證。不宜於篇題中有此二字。從刪為是。）</p>
<p>按驚悸心疾。血心之所主。此其所以合為一篇歟。</p>
<p>寸口脈動而弱。</p>
<p>〔趙〕心者。君主之官。神明出焉。不役形不勞心。則精氣全。而神明安其宅。苟有所傷。則氣虛而脈動。動則心悸神惕。精虛則脈弱。弱則怔忡恐悸。蓋驚自外物觸入而動。屬陽。陽變則脈動。悸自內恐而生。屬陰。陰耗則脈弱。是病宜和平之劑。補其精氣。鎮其神靈。尤當處之以靜也。〔朱〕因物所感則為驚。神虛怵惕則為悸。分言之。似有動靜虛實之別。而驚則未有不悸。悸則未有不易驚者。其原流自屬一致。仲景獨取寸口。以動而弱三字。繪出驚悸之脈象。而仍分疏之。曰。何以知其為驚。以其脈之厥厥動搖也。何以知其為悸。以脈動之中。而自軟弱也。則脈之動而弱。必兼見。則症之驚與悸。亦相因而生。此自然之理也。</p>
<p>師曰。尺脈浮。目睛暈黃。衄未止。</p>
<p>〔鑑〕浮脈主陽主表。若目睛清潔。主陽表病也。目睛暈黃。主血脈病也。蓋以諸脈絡於目。而血熱則赤。血瘀則黃。今目睛黃暈。知其衄未止也。若暈黃去。目睛慧了。知其衄已止。</p>
<p>按尺脈以候血分。金鑑似是。暈黃去。目睛慧了。其脈靜者。可推而知也。周禮注。鄭司農云。煇。謂日光氣也。（煇即暈字。）釋名曰。暈。卷也。氣在外卷結之也。日月皆然。</p>
<p>病人面無血色。無寒熱。</p>
<p>按面無血色。無寒熱。是該衄下血吐血而言。徐氏曰。煩咳條不言脈。浮弱二字貫之也。又金鑑曰。脈沉。當是脈浮。脈浮。當是脈沉。文義始屬。必傳寫之訛。金鑑說不妥。蓋脈浮。是血逆之候。沉弦。是血虛之徵。</p>
<p>夫吐血咳逆上氣。</p>
<p>按聖惠方腳氣門曰。上氣脈數。不得臥者死。蓋病屬虛。及實中挾虛者。見此脈證。必為不治。夫酒客咳者。必致吐血。（醫心方。引醫門方。也字。作難療二字。）病人胸滿。唇痿舌青。</p>
<p>〔趙〕是證瘀血。何邪致之耶。內經。有墮恐惡血留內。腹中滿脹。不得前後。又謂大怒則血菀於上。是知內外諸邪。凡有所摶積而不行者。即為瘀血也。積在陰經之隧道。不似氣積於陽之肓膜。然陽道顯。陰道隱。氣在肓膜者。壅脹顯於外。血積隧道。惟閉塞而已。故腹不滿。因閉塞自覺其滿。所以知瘀血使然也。</p>
<p>按脈經所謂。當汗出不汗出為瘀血。亦出外臺小品芍藥地黃湯主療。及巢源傷寒諸候中且芍藥地黃湯方後云。其人喜忘如狂者。加地黃三兩。黃芩三兩。其人脈大來遲。腹不滿。自言滿者。為無熱。但依方服。不用黃芩也。（右據宋本錄。千金。加地黃。作加大黃。為是。末句。作但依方不須有所增加。無不用黃芩也字。）據此。此條證。即芍藥地黃湯所主也。</p>
<p>又按唇痿之痿。本是萎字。即失色之謂。金鑑以痿瘁釋。誤。</p>
<p>病者。如熱狀煩滿。</p>
<p>按而渴。疑不渴訛。蓋血熱諸條。有但欲漱水證。不敢言有渴。驗之病者。亦必不欲咽。且而不互錯。往往見之。</p>
<p>（宜考輯義水氣篇。）徐氏曰。瘀血症。不甚則但嗽水。甚則亦有渴者。蓋瘀久而熱鬱也。殆是望文生義者已。</p>
<p>心下悸者。半夏麻黃丸主之。（本草。圖經。引張仲景傷寒論同。）</p>
<p>按趙氏論悸有三種。文繁不錄。</p>
<p>吐血不止者。（趙。止作足。）</p>
<p>〔趙〕夫水者。遇寒則沉潛於下。遇風則波濤於上。人身之血。與水無異也。得寒而和。則居經脈。內養五臟。得寒之凜冽者。則凝而不流。積而不散。得熱之和者。則運行經脈。外充九竅。得熱之甚者。風自火狂。則波濤洶起。由是觀之。吐血者風火也。</p>
<p><u>柏葉湯方</u>（本草。圖經云。張仲景方。療吐血不止者。柏葉湯主之。青柏葉一把。乾薑三片。阿膠二鋌。炙。三味。以水二升煮一升。去滓。別絞馬通汁一升。相和合煎取一升。綿濾一服盡之。）按本草黑字。柏葉。艾葉。並味苦微溫無毒。白字。乾薑。止血。（程氏所舉神農經。及馬通性用。並黑字文。）</p>
<p>陶氏本草序例曰。云一把者。重二兩為正（按醫心方。稍有異同。宜參。又引範汪方云。膠一鋌。如三指大。長三寸者。一枚。是也。）</p>
<p>朱氏曰。千金方。有阿膠三兩。亦佳。但近日無真阿膠。徒增黏膩耳。</p>
<p>下血先便後血。此遠血也。</p>
<p>按徐氏曰。下血較吐血。勢順而不逆。此病不在氣也。當從腹中求責。故以先便後血。知未便時血分不動。直至便後努責。然後下血。是內寒不能溫脾。脾元不足。不能統血。脾居中土。自下焦而言之。則為遠矣。此說似是。仍存之。</p>
<p>下血先血後便。此近血也。</p>
<p>〔趙〕此出大腸。故先血後便。以濕熱之毒。蘊結不入於經。滲於腸中而下。赤小豆。能行水濕。解熱毒。梅師方。皆用此一味治下血。況有當歸破宿養新。以名義觀之。血當有所歸。則不妄行矣。</p>
<p>婦人良方曰。糞後下血者。其來遠。糞前有血者。其來近。遠近者。言病在上下也。</p>
<p>張氏醫通曰。千金用伏龍肝湯。即治先便後血之黃土湯中。除去朮附。加乾薑。牛膝。地榆。發灰。與金匱主治。</p>
<p>則有寒熱之殊。不可不辨。可見治血但使歸經。不必論其遠近也。外科正宗內痔治驗曰。大抵此症所致之由不同。當究其因治之。如元氣有餘。形黑氣盛。先糞而後紫血者。更兼脈實有力。此屬有餘。法當涼血止血。藥應自效。至若形體瘦弱。面色痿黃。先鮮血而後糞者。更兼脈虛無力。此屬不足。豈可反用涼藥止之。致傷脾胃。此症若不溫中健脾。升舉中氣。其血不得歸原。故藥難效。遠其根本也。（按此說。似與經旨相左。然亦足以互發。仍拈出之。）</p>
<p>雞峰普濟方。赤小豆散。治大便秘。（即本方）</p>
<p>心氣不足。吐血衄血。</p>
<p>按趙氏曰。心氣不足者。非心火之不足。乃真陽之不足也。此說屬傎。尤氏暗駁正之。實本於醫通。趙又曰。若濟眾方。用大黃治衄血。更有生地汁。則是治熱涼血。亦瀉心湯類耳。此尤所本。</p>

<h2>嘔吐噦下利病脈證治第十七</h2>
<p>問曰。病人脈數。數為熱。（脈弦者虛也以下。脈經為別條。）</p>
<p>病人慾吐者。不可下之。</p>
<p>〔朱〕此揔為吐家而設大戒。非特指胃反言也。</p>
<p>按傷寒嘔多。雖有陽明證。不可攻之。其理一也。</p>
<p>又按脈經所載。有出於本經之外者。宜參閱。今拈一條。曰。夫吐家。脈來形狀如新臥起。噦而腹滿。</p>
<p>按此條恐是錯出。似宜在橘皮湯條上。</p>
<p><u>茱萸湯方</u>（本草。圖經引。人參一兩。生薑一大兩。大棗二十枚。）</p>
<p><u>半夏瀉心湯方</u>（按再煮。當作再煎。）</p>
<p><u>黃芩加半夏生薑湯方</u>（按大棗十二個。當作十二枚。）</p>
<p>嘔吐而病在膈上。（外臺。後下。有必字。）</p>
<p>嘔而脈弱。小便複利。</p>
<p>按尤氏曰。或云。嘔與身熱為邪實。厥利脈弱為正虛。虛實互見。故曰難治。四逆湯。舍其標。而治其本也。亦通。</p>
<p>此說不是。姑存之。</p>
<p>嘔而發熱者。</p>
<p>證治準繩曰。金匱方。（云云）潔古。用小柴胡湯。加青黛。以薑汁打糊丸。名清鎮丸。治嘔吐脈弦頭痛。蓋本諸此。（按保命集。名青鎮丸。）</p>
<p><u>大半夏湯方</u>（本草。圖經引。半夏三升。二百四十遍。大觀本。作一百四十遍。政和本。作一百二十遍。二升半。並作三升半。余分再服。作日再。下有亦治膈間支飲句。）</p>
<p>按魏氏曰。服後多煮白蜜。去其寒。而用其潤。俾黏膩之性。流連於胃底。不速下行。而半夏人參之力。可以徐斡旋於中。其意固微矣哉。此說頗巧。然不如李升璽之穩貼。</p>
<p>醫心方。範汪方。治胸中乏氣而嘔欲死方。</p>
<p>人參（二兩）　茯苓（二兩）　生薑（三兩）　白蜜（五合）　半夏（三升洗）</p>
<p>凡五物。入蜜。內六升水中。撓之百遍。以余藥合投中。煮得三升。分四服。</p>
<p>禁冷食。治乾嘔。亦用此。本草。圖經云。李絳兵部手集。療反胃嘔吐無常。粥飲入口即吐。困弱無力。垂死者。以上黨人參二大兩。水一大升。煮取四合。熱頓服。日再。兼以人參汁煮粥與服。</p>
<p>又經驗後方。治大人小兒。不進乳食。和氣去痰。人參四兩。半夏一兩。生薑汁熬一宿。曝乾為末。麵糊丸如綠豆大。每服十丸。食後。生薑湯吞下。</p>
<p>御藥院方。橘皮枳殼湯。治胸膈氣痞。短氣噎悶。不得升降。</p>
<p>枳殼（麩炒去穰）　半夏（不制各二兩）　陳皮（不去白三兩）　人參（一兩）</p>
<p>上四味。用泉水五大升。入白沙蜜四兩調勻。用勺揚藥水。二百四十遍。</p>
<p>煮取一大升。去滓。分作三服。一日當服盡。食後服之。</p>
<p>食已即吐者。</p>
<p>按高世械曰。食已即吐者。非宿穀不化之胃反。乃火熱。攻衝之吐逆。沈氏曰。此方。脾胃乾結者宜之。當與上不可下之條。反復互看。始得仲景前後之意。朱氏曰。胃反。病在下脘。因無陽氣化谷。故食久反出。今即吐。明有實邪壅阻中脘。不能容谷。若邪阻上脘。並不能食矣。此諸說足與金鑑相發。然先兄曰。此證胃中舊有積滯。故新谷入則不能相容。霎時變出也。古人屬火之說。恐為強解。此說為核。且朱氏謂胃反病在下脘者誤。</p>
<p>蓋胃反。胃中無物相得激。故食下暫安。而後出也。此方用甘草。取之能緩上迫。遽引大黃令下達耳。先兄又曰。千金。用單甘草湯。治服湯嘔逆。不入腹者。正此湯用甘草之意。又按金鑑。朝食暮吐者寒也。食已而吐者火也。此寒火二字。改為虛實。其理自通。尤氏又曰。丹溪治小便不通。用吐法。以開提肺氣。使上竅通。而下竅亦通。與大黃甘草湯之嘔吐。法雖異。而理可通也。亦是。</p>
<p>胃反。吐而渴欲飲水。</p>
<p>按此條證。中焦蓄水。氣液為之壅遏。不能升騰滋養。故使渴欲飲水。李氏以為津液亡者。誤矣。（宜參傷寒論輯義。五苓散條。）又此方。桂枝佐苓朮等。以溫散水飲。生薑以降逆氣。尤氏以為散邪氣者。亦誤矣。</p>
<p><u>茯苓澤瀉湯方</u></p>
<p>外臺。集驗。茯苓小澤瀉湯。（按醫心方。引經心方。名茯苓湯。）</p>
<p>聖濟。治胃反吐逆。發渴飲水。茯苓飲方。</p>
<p>於本方。去生薑。加乾薑。</p>
<p>又治心脾壅滯。暴渴引飲。茯苓飲方。</p>
<p>於本方。去生薑。加黃連。大黃。小麥。</p>
<p>宣明。桂苓白朮丸。治消痰逆。止咳嗽。散痞滿壅塞。開堅結痛悶。</p>
<p>於本方。加半夏。紅皮。（用乾生薑）為末。麵糊為丸。如小豆大。生薑湯下二三十丸。日三服。吐後。渴欲得水。而貪飲者。</p>
<p>按此條病輕藥重。殊不相適。柯氏以此湯。移置於太陽下篇文蛤散條。仍考此條。乃是文蛤散證。彼此相錯也。消渴篇曰。渴欲飲水不止者。文蛤散主之。可以互徵矣。但兼主微風脈緊頭痛一句。即湯方所主也。</p>
<p><u>半夏乾薑散方</u></p>
<p>按半夏散。不能散服者。水煮。此方漿水服。俱是取於不戟咽乎。後世有煮散法。其理自異。</p>
<p>聖惠。治冷痰飲。胸膈氣滿。吐逆不思飲食方。</p>
<p>於本方。加丁香。以生薑粥飲。調下一錢。（半夏二兩。余並一兩。）</p>
<p>又治痰逆。暖胃口。惡飲食方。</p>
<p>於本方。（各半兩）　加白礬。（一兩燒灰）為末。以生薑汁煮麵糊和。圓如梧桐子大。每服不計時候。以薑棗湯下二十丸。</p>
<p><u>生薑半夏湯方</u></p>
<p>按此湯一升分四服。殊與常例不同。傷寒蘊要曰。凡嘔而不止者。服藥宜徐徐呷下。不可急也。蓋其義也。</p>
<p>乾嘔噦。若手足厥者。</p>
<p>按乾嘔與噦。自是二證。蓋言乾嘔若噦也。魏氏曰。為病之淺者言之也。若夫病之深。陽氣微弱之甚者。則非四逆不足以取效也。或者先用此。以順行其氣。而後與以四逆。亦次第淺深之治也。此說失當。</p>
<p><u>橘皮湯方</u></p>
<p>十便良方。指迷。橘皮甘草湯。治若身大熱。背微惡寒。心中煩悶。時時欲嘔。渴不能飲。頭目昏痛。惡見日光。遇涼稍清。起居如故。此由飲食失宜。胃中空虛。熱留胃口。其脈虛大而數。謂之中暑。</p>
<p>於本方。加甘草。</p>
<p><u>橘皮竹茹湯方</u></p>
<p>千金翼。竹茹湯。主噦方。</p>
<p>於本方。去人參。大棗。加半夏。紫蘇。</p>
<p>三因。橘皮竹茹湯。治胃熱多渴。嘔噦不食。</p>
<p>於本方。去大棗。加茯苓。枇杷葉。麥門冬。半夏。</p>
<p>衛生家寶。人參竹茹湯。治一切呃逆。及治傷寒中暑等吐。</p>
<p>於本方。去大棗。加半夏。</p>
<p>活人事證方後集。橘皮湯。治中暑痰逆惡寒。（即本方）</p>
<p>傷寒蘊要。橘皮竹茹湯。治胃中壅熱。而噦嘔者。</p>
<p>於本方。去參。姜。棗。加半夏。茯苓。黃連。葛根。</p>
<p>傷寒大白。人參橘皮竹茹湯。治胃虛呃逆。</p>
<p>於本方。去大棗。加厚朴。半夏。藿香。</p>
<p>〔余述〕嘔吐之證。其因不一。今細檢經方。吳茱萸湯之嘔與乾嘔。因陰逆。四逆湯之嘔。因陽敗。大黃甘草湯之吐。因食壅。除此之外。凡十一方。雖其兼涼兼溫之殊。大要皆不出於驅飲逐水。則知其繫於水飲所致者為多。蓋胃喜燥而惡濕。故水飲停瀦。其氣易逆也。蛔之為物。最能使嘔。敘在次篇。噦。啻舉氣逆證。然黃疸篇。</p>
<p>有小半夏湯之法。則亦有自停飲者。可以推知。而其更有數因。前人辨之盡矣。</p>
<p>夫六腑氣絕於外者。</p>
<p>按金鑑曰。氣絕。非謂脫絕。乃謂虛絕也。朱氏曰。按氣絕兩字。當作病氣隔絕論。若真陰陽氣絕。豈止手足寒與不仁哉。二說並存考。程氏又曰。不禁則上無脹悶。中無痛楚。下無奔迫。但孔如竹筒。漫無約束。直流不休。訶子粟殼。咸無功矣。雖有盧扁。將安施乎。此說信然。</p>
<p>下利。脈數而渴者。今自愈。</p>
<p>按邪熱逼血。血滲入於腸。故清膿血。魏氏曰。熱且蓄停腸脫。釀為汙積。膿血隨利而下。此亦理之所有也。</p>
<p>下利清穀。不可攻其表。（脈經。脹滿下。有其臟寒者當下之七字。）</p>
<p>下利。脈遲而滑者。實也。</p>
<p>成氏曰。經曰。脈遲者。食乾物得之。（按此語。未詳所出。當考。）金匱要略曰。滑則穀氣實。下利脈遲而滑者。胃有宿食也。</p>
<p>脾胃傷食。不消水穀。是致下利者。為內實。若但以溫中厚腸之藥。利必不止。可與大承氣湯下去宿食。利自止矣。</p>
<p>下利已瘥。至其年月日時復發者。</p>
<p>按朱氏曰。因初病利時。漫用藥止住。而病根不拔。舊於此時受邪者。臟氣即應時相感。而復病焉。此說不必。又按傷寒纘論曰。此條。世本尚有宜大承氣湯五字。衍文也。故去之。詳未盡之邪。可以留伏經年而發。必系寒邪。寒邪惟可備急丸溫下。不應大承氣寒下也。設屬熱邪。必無經年久伏之理。此說拘執。不可從。又按脈經下利篇所載諸條。出於本經之外者。今錄於左。曰。脈滑按之虛絕者。其人必下利。曰。下利而腹痛滿者。為寒實。當下之。曰。下利腹中堅者。當下之。曰。下利脈浮大者。虛也。以強下之故也。設脈浮革。因爾腸鳴。</p>
<p>當溫之。（病可溫證中。亦有此條。有宜當歸四逆。湯字。又傷寒論不可下篇。有此條。）曰。夫風寒下（疑脫利字。）者。不可下之。下之後。心下堅痛。脈遲者。為寒。當溫之。脈沉緊。下之亦然。脈大浮弦。下之當已。又病可溫證曰。下利慾食者。就溫之。又曰。下利脈遲緊。為痛未欲止。當溫之。得冷者。滿而便腸垢。（此條。千金。載在下利中。）千金痢門。稍與脈經同。更有一條。曰。下利大孔痛者。當溫暖之。</p>
<p><u>紫參湯方</u>（本草。圖經引。甘草二兩。一升半。作半升。）</p>
<p>氣利。訶黎勒散主之。</p>
<p>〔趙〕治病有輕重。前言氣利惟通小便。此乃通大便。蓋氣結處。陰陽不同。舉此二者為例。六經皆得結。而為利各有陰陽也。訶黎。勒。有通有澀。通以下涎消宿食。破結氣。澀以固腸脫。佐以粥飲引腸胃。更補虛也。</p>
<p>聖惠方曰。夫氣痢者。由表裡不足。腸胃虛弱。積冷之氣。客於腸間。臟腑不和。因虛則泄。故為氣痢也。</p>
<p><u>訶黎勒散方</u></p>
<p>本草。圖經云。訶黎勒主痢。本經不載。張仲景治氣痢。以訶黎勒十枚。麵裹焙。灰火中煨之。令面黃熟。去核。細研為末。和粥飲頓服。（云云）唐劉禹錫傳信方云。予曾苦赤白下。諸藥服遍。久不瘥。轉為白膿。令狐將軍傳此法。用訶黎勒三枚上好者。兩枚炮取皮。一枚生取皮。同末之。以沸漿水一兩合服之。淡水亦得。若空水痢。加一錢匕甘草末。若微有膿血。加二匕。若血多。加三匕。皆效。本草衍義曰。訶黎勒。氣虛人。亦宜緩緩煨熟少服。此物雖澀腸。而又泄氣。蓋其味苦澀。（按程氏所引。文不同。又程氏引杜壬方。本出本草黃連條。云。杜壬治氣痢瀉。裡急後重。云云用黃連甘姜二味。又引劉禹錫傳信方。亦是本草所引。）</p>
<p>〔余述〕朱丹溪曰。仲景治痢。可溫者溫。可下者下。或解表。或利小便。或待其自已。區別易治難治不治之證。至為詳密。然猶與滯下袞同。立方命論。（出局方發揮。）蓋腸澼滯下。與濡瀉滑泄。其證與治。本自不同。仲景一以下利命之。並而為篇。然逐條尋究。判然而明矣。抑更有一義。蓋濡瀉滑泄。固宜溫固。然有內有宿積。而治宜疏刷者。腸澼滯下。固宜疏刷。然有陽虛氣陷。而治宜溫固者。然則學者宜審其脈證。而處其方劑。不須特以腸澼泄瀉為分別。仲景之合為一篇者。意或在於此歟。（五十七難。大瘕泄者。裡急後重。數至圊而不能便。莖中痛。亦即滯下。而居五泄之一。其意與仲景一也。）</p>
<p><u>附方</u></p>
<p>千金翼。小承氣湯。</p>
<p>〔沈〕此燥屎內結。大便不通壅逆。胃邪上行。而噦數譫語。所以亦宜輕利和中。而滌熱開結也。</p>
<p>外臺。黃芩湯。</p>
<p>按此黃連湯類方。亦治上熱下寒。以為乾嘔下利也。</p>
<p>醫心方。範汪方。治傷寒五六日。嘔而利者。黃芩湯。（即本方）</p>
<p>瘡癰腸癰浸淫病脈證並治第十八（脈經。題曰癰腫腸癰金瘡浸淫脈證。似是。）</p>
<p>腸癰之為病。其身甲錯。（本草。圖經引云。張仲景治腹癰腹有膿者。薏苡仁附子敗醬湯。）</p>
<p>按次條。其癰未至膿潰。故少腹腫痞。此條既經膿潰。故按之濡如腫狀。腹無積聚。次條。血猶瘀結。營鬱而衛阻。故時時發熱。復惡寒。病猶屬實。故其脈遲緊。此條。營分既無所郁。故身無熱。膿成則血燥。故脈數。要之此二條。其別在膿已成與未成之分。而不拘其部位。如前注家。以大小腸為辨者。殆失之迂矣。</p>
<p>又按三因方。舉此條云。久積陰冷所成也。故金匱用附子溫之。舉次條云。此以內結熱所成也。故金匱用大黃利之。亦不可從。</p>
<p><u>大黃牡丹湯方</u>（兒琰曰。上條。宜從巢源。刪去小便自調四字。而如淋上。補小便數三字。於理始順。）</p>
<p>按癰腫之病。不論外內諸證。其初起也。乘其未潰。而奪之。其既成也。扶正氣以外托。故葶藶大棗瀉肺湯。肺癰逐毒之治也。桔梗湯。肺癰排膿之治也。大黃牡丹湯。腸癰逐毒之治也。薏苡附子敗醬散。腸癰排膿之治也。蓋瘍醫之方。皆莫不自此二端變化。亦即仲景之法則也。</p>
<p>又按方後所謂有膿者。其膿稍萌之義。與前條之全就腐潰者不同矣。</p>
<p>聖濟。梅仁湯。治腸癰裡急隱痛。大便秘澀。</p>
<p>於本方。以梅核仁。代桃仁。用冬瓜仁。加犀角。（按奇效梅仁散原方。）</p>
<p>問曰。寸口脈浮微而澀。</p>
<p>〔鑑〕脈微。氣奪也。脈澀。血奪也。故曰。法當亡血汗出也。設無亡血汗出等病。則必身有瘡。被刀斧所傷亡血也。按不汗者一句。宜云設不亡血若汗出者。今特舉不汗。而不云不亡血者。蓋省文也。金鑑為是。又瘡。古作創。即金瘡之義也。其從疒者。繫於六朝俗字。</p>
<p>浸淫瘡。黃連粉主之。</p>
<p>醫心方。極要方。療身上瘡。瘡汁所著處即成瘡。名曰浸淫。癢不止方。</p>
<p>黃連（一兩）　黃柏（一兩）　蘆茹（一兩）　礬石（一兩）　甘草（一兩）　生胡（一兩）</p>
<p>上搗甘草以上為散。胡粉於槍子中著。熬令黃。和之為散。欲傳藥。先以苦參汁以洗。故帛拭乾。即著藥。不過三四度即瘥。</p>

<h2>趺蹶手指臂腫轉筋陰狐疝蛔蟲病脈證治第十九</h2>
<p>魏氏曰。仲景敘男子雜症。因收羅細碎。諸篇未及者。歷言之。</p>
<p><u>雞屎白散方</u>（本草。圖經引。方寸匕上。有量字。）</p>
<p>陰狐疝氣者。（本草。圖經引。者字。在上下字下。）</p>
<p>四時刺逆從論曰。厥陰滑。則病狐疝風。楊上善云。狐夜不得尿。日出方得。人之所病與狐同。故曰狐疝。一曰孤疝。謂三焦孤府為疝。故曰孤疝。五色篇曰。狐疝。㿉疝之屬也。</p>
<p><u>蜘蛛散方</u>（圖經引。作二物為散。每服八分二匕。日再。蜜丸亦通。政和本。一字不復。）</p>
<p>小島尚質曰。八分一匕。謂十分方寸匕之八。</p>
<p>幼幼新書。嬰孺。治少小偏㿗方。</p>
<p>上以蜘蛛一個。燒灰作末。飲服之愈。</p>
<p>按本草無食子條。引海藥云。張仲景使治陰汗。取燒灰。先以微溫浴了。即以帛微裛。然傳灰囊之甚良。（政和本。之。作上。）</p>
<p>此方可疑。然以託名仲景。姑附於斯。</p>
<p>問曰。病腹痛有蟲（巢源。若。作弱。蓋訛。）</p>
<p><u>甘草粉蜜湯方</u></p>
<p>伊澤信恬曰。外臺天行。備急。療勞複方。以粉三升。以暖飲和服。又以水和胡粉少許。服之亦佳。據此。則粉與胡粉。自別可知。</p>

<h1>卷下</h1>

<h2>婦人妊娠病脈證並治第二十</h2>
<p><u>證三條</u>（按當作二條。）　方九首</p>
<p>婦人宿有癥病（脈經。首五句。作婦人妊娠。經斷三月。而得漏下。下血四十日不止。胎欲動。在於臍上。此而妊　娠三十字。血不止。作下血不止。）</p>
<p>按瘀血癥痼。必在臍下。妊娠二三月墮者。多其所害。此云在臍上者。竊不無疑。或是訛字。敢俟有識論定。（脈經胎在臍上。更疑。）</p>
<p><u>桂枝茯苓丸方</u></p>
<p>〔朱〕服法甚緩。以深固之邪。止堪漸以磨之也。</p>
<p>按此方茯苓。亦是引藥下導者。（說見於虛勞腎氣丸下。）芍藥取之通壅。（宜參傷寒論述義太陰病下。）此五味之所以相配也。</p>
<p>又按玄珠經。通真丸。婦人通經。男子破血。用大黃。桃仁。天水末。（一名益元散。）乾漆。杜牛膝（醫學綱目四卷中引。）正得此方之意。</p>
<p>婦人懷娠六七月。脈弦發熱。</p>
<p>按惡寒。尤氏為腹惡寒。然猶似身惡寒。存考。</p>
<p>師曰。婦人有漏下者。</p>
<p>〔朱〕婦人下血。大概由於衝任二經為病。或無端漏下。或半產後下血。或妊娠下血。下血雖異。而源頭則一。</p>
<p>按此條漏下。與半產後下血。是客。妊娠下血腹中痛。是主。三證並列。以備參對也。鑑程剖析不了。朱氏為是。但芎歸膠艾湯。則足以兼三證而治之矣。（程氏引脈經。考原書。作今陽不足。故令激經也。）</p>
<p>又按魏氏曰。假令妊娠而下血腹中痛。此胞氣阻滯之故也。胎氣何以阻。以氣虛寒也。氣虛寒。則血必不足而凝。凝則氣愈阻而作痛。氣阻血凝。則又內生虛熱。血之凝者尚凝。而余血遂漏不止。甚則傷胎而動。動而竟墜。此胞中氣血。因虛而寒。因寒而阻。因阻而凝。因阻凝而熱。因熱而下血。因下血而傷胎墜孕。遞及之道也。此說太巧。姑存之。</p>
<p><u>芎歸膠艾湯方</u></p>
<p>醫心方。產經云。治妊身七八月。腰腹痛。胎不安。汗出逆冷。飲食不下。氣上煩滿。四肢痹強。當歸湯方。</p>
<p>於本方。去芎藭。加生薑。橘皮。</p>
<p>千金翼。當歸湯。治產後血留下焦不去。</p>
<p>於本方。去阿膠。艾葉。加桂枝。</p>
<p>聖惠。治產後下痢。腹中㽲痛。當歸散方。</p>
<p>於本方。去阿膠。加乾薑。</p>
<p>聖濟。治妊娠因驚胎動不安。當歸湯方。</p>
<p>於本方。加人參。不用清酒。</p>
<p>又治妊娠卒下血。致胎不安。少腹疼痛。人參湯方。</p>
<p>於本方。去芍藥。加人參。黃芩。吳茱萸。生薑。不用清酒。</p>
<p>又治妊娠胎動有所下血。腹脅疼痛。宜服阿膠散方。</p>
<p>於本方。去芍藥。加赤石脂。龍骨。黃耆。乾薑。不用酒。</p>
<p>衛生家寶。丁香膠艾湯。治崩漏走下不止。</p>
<p>於本方。加丁香末四分。</p>
<p>蘭室秘藏。丁香膠艾湯。治崩漏不止。蓋心氣不足。勞役。及飲食不節。所謂經漏少時。其脈二尺俱弦緊洪。按之無力。其證自覺臍下如冰。求厚衣被。以御其寒。白帶白滑之物多。間有如屋漏水下。時有鮮血。右尺脈時微洪也。</p>
<p>於本方。去甘草。加丁香。</p>
<p>婦人懷娠。腹中㽲痛。</p>
<p>先兄曰。說文。有⿰雲建無㽲。云。⿰雲建。腹中急也。從疒丩聲。</p>
<p><u>當歸芍藥散方</u></p>
<p>〔朱〕芎歸芍藥。足以和血舒肝。苓朮澤瀉。足以運脾勝濕。此即後人逍遙散之藍本也。</p>
<p>按妊娠之常。飲水動易停瀦。是以內寒腹痛。此方利水散寒。以使胎氣盛實。芎歸二味。不特養血。亦能散寒止痛。古方往往見之。此方所用。或此意也。（抱朴子至理篇曰。當歸芍藥之止絞痛。）先兄亦曰。此方芍藥多用。取之緩其痛。與小建中之芍藥同趣。趙說似迂曲。</p>
<p>妊娠嘔吐不止。</p>
<p>按張氏醫通。全取趙氏。</p>
<p><u>乾薑人參半夏丸方</u></p>
<p>醫心方。僧深方。治婦人妊身。惡阻酢心。胸中冷腹痛。不能飲食。輒吐青黃汁方。用人參乾薑半夏凡三物等。</p>
<p>分治下。以地黃汁和。丸如梧子。一服三丸。日三。今案極要方云。各分稍加至十丸。產經云。人參丸神良。</p>
<p>幼幼新書。嬰孺。治小兒。調中止痢。去冷進食。人參丸方。</p>
<p>於本方。加茯苓。蜜丸。</p>
<p><u>當歸貝母苦參丸方</u></p>
<p>按張氏醫通。本於趙氏。</p>
<p>本草序例。雷公炮炙論。云如小豆許者。取重八兩鯉魚目比之。</p>
<p><u>葵子茯苓散方</u></p>
<p>〔朱〕葵子通利諸竅。稱能滑胎。其疏泄血分可知。而得茯苓之淡滲。功專氣分者。為之佐。使水從氣分而去。則胎自無虞。</p>
<p>按冬葵子。本草白字曰。主五癃。利小便。黑字曰。療婦人乳難內閉。</p>
<p><u>白朮散方</u></p>
<p>先兄曰。千金半夏湯。治腳氣上入腹。方中用細辛。與此治心煩吐痛者同趣。又範汪旋覆花湯。治胸膈痰結。亦用細辛。俱取其辛溫通氣。散膈上寒飲也。</p>
<p>按千金。治咳嗽胸脅支滿。多唾上氣方。酒一升半。浸肥皂莢兩挺。經宿。煮取半升。分三服。七日忌如藥法。若吐多。以酢飯三四口止之。此方。嘔用醋漿。其義一也。</p>

<h2>婦人產後病脈證治第二十一</h2>
<p><u>論一首　證六條（按當五條。）方八首</u></p>
<p>問曰。新產婦人有三病。</p>
<p>按產後痙病。其證治。與上經所敘無別。故更不論列。鬱冒。開在次條。但大便難。則不出其方。然不出於脾約丸等潤燥手段也。</p>
<p>又按巢源婦人雜病中曰。張仲景云。婦人經水過多。亡津液者。亦大便難也。恐繫於錯引本條者。</p>
<p>產婦鬱冒。其脈微弱。（大便堅嘔不能食七字。脈經。作所以便堅者嘔不能食也。）</p>
<p>先兄曰。明理論云。郁。為鬱結而氣不舒也。冒。為昏冒而神不明也。世謂之昏迷者。是也。此條不言發熱。然後條有更發熱之語。則其有熱者可知。即為草蓐傷風明矣。</p>
<p>按此條文法。稍近倒裝。小柴胡湯主之一句。本當在但頭汗出下。其以先辨鬱冒之理。故更於章末補出三句也。冒家大汗出。即是小柴胡相適之效。亦猶少陽病振汗之比。且以血虛下厥三句。釋頭汗出之理。所以產婦喜汗出者四句。釋前條亡血復汗之理。即血虛邪客之候。陰陽乃復一句。與冒家欲解。必大汗出相應。</p>
<p>蓋喜汗出。頭汗。大汗。三證不同。宜分別看。</p>
<p>又按大便反堅。反字。對嘔不能食而言。蓋嘔不能食。是少陽證。大便宜未至堅。今產後液燥。故大便反堅也。本事方曰。人平居無苦疾。忽如死人。身不動搖。默默不知人。目閉不能開。口噤不能言。或微知人。惡聞人聲。但如眩冒。移時方寤。此由已汗過多。血少氣並於血。陽獨上而不下。氣壅塞而不行。故身如死。氣過血還。陰陽復通。故移時方寤。名曰鬱冒。亦名血厥。婦人多有之。宜白薇湯。倉公散。白薇湯。白薇。當歸。各一兩。人參半兩。甘草一分。炙。水煎服。倉公散。瓜蒂。藜蘆。雄黃。礬石。煅。等分。少許吹入鼻中。（按二方。並非本條證所宜。姑附之。）</p>
<p>又曰。婦人產後。有三種疾。鬱冒則多汗。多汗則大便秘。故難於用藥。唯麻子蘇子粥。最佳且穩。（按冒家汗出乃復。後但腸燥便秘者。此粥為佳。首條所謂大便難者。亦或所宜。）</p>
<p>病解能食。七八日更發熱者。</p>
<p>按此條證。徐朱以為食復。魏周意亦然。蓋沈氏與此諸家。俱就能食而立說。但尤氏曰。病解能食。謂鬱冒解。而能受食也。至七八日更發熱。此其病不在表而在裡。不屬虛而屬實矣。是宜大承氣以下里。此其意稍異。存考。</p>
<p>產後腹中㽲痛。</p>
<p>千金。治產後虛羸喘乏。白汗出。腹中絞痛。羊肉湯方。</p>
<p>於本方。加桂心。芍藥。甘草。芎藭。乾地黃。（聖惠。羊肉地黃湯。更加人參。）</p>
<p>外臺。許仁則。產後更無他狀。但覺虛弱。欲得補氣力。兼腹痛。宜羊肉當歸湯方。</p>
<p>於本方。（當歸五兩。生薑六兩。）加黃耆四兩。若覺惡露下不盡。加桂心三兩。惡露下多。覺有風。加芎藭三兩。覺有氣。加細辛二兩。覺有冷。加吳茱萸一兩。覺有熱。加生地黃汁二合。</p>
<p>聖濟。治產後血氣不利。心腹急痛。上下攻衝。氣逆煩悶。黃耆湯方。</p>
<p>於本方。加黃耆。白朮。甘草。人參。</p>
<p><u>下瘀血湯方</u></p>
<p>〔趙〕與抵當同類。但少緩爾。</p>
<p>按此方。猶是抵當丸大陷胸丸之例。宜云下瘀血丸。今作湯字者。蓋傳寫之訛耳。方後煎字。亦宜作煮字。始合古義。</p>
<p>產後七八日。無太陽證。（脈經。更無切脈二字。再倍下。有其人二字。不食。作不能食。）</p>
<p>按此條。李注極允。且據無太陽證一句考之。則其有里證。可以推知。蓋是產後得邪。邪氣下陷。與血相搏者。既有熱候。亦有少腹堅痛。與產後得胃家實者。其證相似易錯。故對待為辨也。又膀胱。猶言下焦。不須深講。產後中風。發熱面正赤。</p>
<p>〔徐〕中風發熱頭痛。表邪也。然面正赤。此非小可淡紅。所謂面若妝朱。乃真陽上浮也。加之以喘。氣高不下也。明是產後太虛。元氣不能自固。而又雜以表邪。自宜攻補兼施。</p>
<p>產後下利虛極。</p>
<p>〔徐〕凡治痢者。濕熱非苦寒不除。故類聚四味之苦寒不為過。若和血安中。只一味甘草及阿膠而有餘。治痢好用參朮者。政由未悉此理耳。</p>
<p>按虛極。猶言疲憊。軒村寧熙曰。此證本自熱利。故雖至虛極。猶用白頭翁湯。其加甘草阿膠者。不啻補血益氣。兼為緩中調腸之用。陶氏云。甘草。通經解毒。東垣云。熱藥得之緩其熱。寒藥得之緩其寒。甄氏云。阿膠止痢。楊仁齊云。痢疾多因傷暑伏熱而成。阿膠乃大腸之要藥。有熱氣留滯者。則能疏導。無留滯者。則能平安。據此諸說。則增加之意可知。虛閉並用阿膠。乃是此意。此說精確。</p>

<h2>婦人雜病脈證並治第二十二</h2>
<p><u>論一首</u>　脈證合十四條按當作十條。）方十四首按當十三首。）</p>
<p>婦人中風七八日。續來寒熱。</p>
<p>按經水適斷四字。宜為七八日上看。蓋篇首四條。既詳於傷寒論述義中。茲不復贅。（程注。至治有殊也。全取傷寒蘊要。）</p>
<p>婦人咽中如有炙臠。</p>
<p>焦循雕菰集。羅浩醫經餘論序曰。其論金匱。以水症氣衝咽。狀如炙肉證。婦人咽中有炙臠。為有形之邪。阻無形之氣。</p>
<p>按梅核氣之名。昉見直指方。前人或謂為噎膈之漸。蓋在男子。往往馴為噎證。女子則多不過一時氣壅痰結也。</p>
<p><u>半夏厚朴湯方</u></p>
<p>醫心方。醫門方。療咽中如肉臠。咽不入吐不出方。</p>
<p>於本方。去蘇葉。加橘皮。</p>
<p>外臺。廣濟。療心腹脹滿。柴胡厚朴湯方。</p>
<p>於本方。去半夏。加柴胡。橘皮。檳榔。</p>
<p>聖惠。治膈氣胸中妨悶。痰壅不下食。紫蘇散方。</p>
<p>於本方。加枳殼。柴胡。檳榔。桂心。</p>
<p>又治心腹脹滿。痰飲不下食。厚朴散方。</p>
<p>於本方。加陳橘皮。前胡。檳榔。</p>
<p>婦人臟躁。喜悲傷欲哭。（躁。脈經。趙。徐。沈。尤。朱注本。並作燥。誤。）</p>
<p>婦人吐涎沫。醫反下之。心下即痞。</p>
<p>按據小青龍湯考之。則此所謂涎沫。亦即稠痰耳。</p>
<p>婦人之病。因虛積冷結氣。（未多之未。朱曰。疑是寒字。誤。未勻。原本。諸本。並作不勻。宜改。）</p>
<p>按徐氏曰。婦人之病。至胞門。為一篇綱領。因虛積冷結氣六字。尤為綱中之綱。謂人不虛。則邪不能乘之。因虛故偶感之冷。不化而積。氣熱則行。冷則凝。冷氣凝滯。久則結。結者。不散也。血遇冷氣而不行。則經水斷絕。然有微甚上下不同。故曰諸。程氏曰。此條。當分作三截看。婦人之病。必因於虛勞。因於積冷。因於結氣。（即結熱）三者。皆能為婦人諸經作病。尤氏義同程氏。而金鑑亦仍之。今熟玩經文。徐說似長。但其解諸字恐非。魏氏曰。諸。即之也。為妥。蓋此條以血寒積結下焦為主。自寒傷經絡。至非止女身。十五句。是客詞。繫於舉上焦中焦之病。以備下焦之參照者。久成肺癰。先兄曰。癰。當作痿。字之誤也。蓋上焦寒凝。無為肺癰之理。肺冷為痿。甘草乾薑湯證是也。（脈經婦人病。亦有咳逆嘔沫。其肺成痿語。）魏又曰。繞臍隱伏。為少腹冷痛。為奔豚。為寒疝。種種不同。旁出者結於兩脅。如臟腑相連。邪高痛下。而痛反在關元。為下厥上逆之證。沈氏以未多。為未經多日之義。非是。徐氏曰。奄忽四句為一段。宜從。蓋奄字上。當存或字看。金鑑以為痛甚之常狀。似非。厥癲。即癲疾。脈要精微論曰。厥成為巔疾。又曰。來疾去徐。上實下虛。為厥巔疾。是也。嘔吐涎唾。涎字韻。下根氣街。根字韻。古書句中有韻。韻未必在句尾。見錢大昕十駕齋養新錄。王引之經義述聞。（輯義引巢源。不通二字。剩。）</p>
<p><u>溫經湯方</u></p>
<p>按此方半夏。其旨難晰。程氏謂以止帶下。殊屬無稽。徐氏曰。下利已久。脾氣有傷。故以姜半正脾氣。亦未核。</p>
<p>楊氏家藏方。調經湯。治衝任脈虛。風寒客搏。氣結凝滯。每經候將行。臍腹先作撮痛。或小腹急痛。攻注腰腳疼重。經欲行時。預前五日。及經斷後五日。並宜服之。</p>
<p>於本方。去阿膠。加五加皮。熟乾地黃。烏藥。紅花。沒藥。</p>
<p>帶下經水不利。少腹滿痛。</p>
<p>〔徐〕帶下。即前所謂此皆帶下。非專指赤白帶也。〔趙〕此亦因瘀血而病者。經水即不利。一月再見之不同。皆衝任瘀血之病。土瓜根者。能通月水。消瘀血。生津液。津生則化血也。芍藥。主邪氣腹痛。除血痹。開陰寒。桂枝。通血脈。引陽氣。䗪蟲。破血積。以消行之。</p>
<p>按趙註明備。本綱意補或字。蓋仍之也。又千金方。溫經湯主婦人小腹痛。用茯苓。芍藥。土瓜仁。薏苡仁。其旨相似。</p>
<p>寸口脈弦而大。</p>
<p>按尤氏說三品功用。本於趙氏。趙又曰。凡系帛皆理血。血色紅。用絳尤切於活血。</p>
<p>婦人陷經漏下。</p>
<p>按趙氏曰。方雖不全見。膠艾二物。亦足以治之。沈氏。魏氏。並以為阿膠乾薑二味。俱難從。</p>
<p>婦人六十二種風。</p>
<p>按趙氏以為六十二種風。盡以一藥治之。明其非仲景法。然原其立方之旨。破血通經。用紅花酒。則血開氣行。而風亦散矣。</p>
<p><u>紅藍花酒方</u></p>
<p>本草。圖經曰。張仲景治六十二種風。兼腹內血氣刺痛。用紅花一大兩。分為四分。以酒一大升煎強半。頓服之。不止再服。又一方。用紅藍子一升。搗碎。以無灰酒一大升八合拌了。暴令乾。重搗簁。蜜丸如桐子大。空腹酒下十丸。</p>
<p>問曰。婦人病飲食如故。</p>
<p>按此條之證。本是下焦壅滯。不得溺利者。膀胱為之急脹。而胞系遂至繚戾。溺隨益閉。以致煩熱不得臥。而反倚息。故用腎氣丸。開其壅滯。利其小便。則膀胱寬豁。而其系復舊也。此證不必下元衰乏。而其用此丸者。</p>
<p>專取之利水。故云但利小便則愈。又按慧琳一切經音義。繚綟。考聲云。綟。猶結紐也。亦繚綟。紛糺貌也。云云。徐氏曰。了戾者。其系紐轉也。先兄曰。盧文弨鐘山札記云。了戾者。屈曲旋轉之意。許慎注淮南原道訓云。抮。了戾也。郭璞注方言三。軫。戾也。云相了戾也。楊倞注荀子修。身篇擊戾云。猶了戾也。</p>
<p>少陰脈滑而數者。陰中即生瘡。（脈經。分為二條。又曰。少陰脈數。則氣淋。陰中則生瘡。）</p>
<p>平脈法曰。少陰脈微滑。滑者。緊之浮名也。此為陰實。其人必股內汗出。陰下濕也。</p>
<p>胃氣下泄。陰吹而正喧。</p>
<p>脈經。此條前有一條。曰。少陰脈弱而微。微則少血。弱則生風。微弱相搏。陰中惡寒。胃氣下泄。吹而正喧。</p>
<p>婦人良方。膏發煎。治婦人穀氣實。胃氣下泄。陰吹而正喧。陰中出血。</p>
<p>赤水玄珠曰。令媳長卿之婦。腹中微疼。經行不流行。喉痛。四肢麻木作戰。不知飢餓。右脈洪大如菀豆。以川芎。香附。麥芽。山楂。烏梅。粉草。桔梗。酒芩。防風。荊芥。白朮。茯苓。四劑而安。次月經水大行。十日不止。以黃耆。阿膠。蒲黃。各一錢。白芍藥二錢。粉草三分。一帖而止。此後但覺濁氣下墜。屁從子戶中出。以補中益氣湯。加酒炒黃連。調養而平。</p>
<p><u>小兒疳蟲蝕齒方</u>（幼幼新書引。葶藶下。有各少許三字。臘日。作臘月。鎔上。有和字。趙注本。不載此方。）</p>
<p>〔魏〕附小兒疳蟲蝕齒一方。不知何意載於篇末。或有兒科之書。闕略不全。掛一漏百者乎。</p>

<h2>雜療方第二十三</h2>
<p>（按以下三篇。二注本。及朱氏。亦不載。）</p>
<p><u>柴胡飲子方</u></p>
<p>按藥以貼稱。宋以上所罕見。（說見於先教論撰醫賸中。）藥滓再煮。見陶氏本草序例。然僅繫於諸補湯所用。</p>
<p><u>長服訶黎勒丸方</u></p>
<p>本草。圖經。引張仲景云。長服方。訶黎勒。陳橘皮。厚朴。各三大兩。搗篩。蜜丸。大如梧子。每服二十丸。至三十丸。</p>
<p><u>三物備急丸方</u>（千金。三味各等分。曰。右皆須精新。多少隨意。先搗大黃。乾薑。下篩為散。別研巴豆如脂。內散中。合搗千杵。即爾用之。為散亦好。下蜜為丸。貯密器中。莫令歇氣。本草圖經引。作用大黃。乾薑。巴豆各一兩。須精新好者。搗篩。蜜和。更搗一千杵。丸如小豆。服三丸。老少斟量之。為散不及丸也。云云。每服大豆許三四丸七字。按據千金。方後。用字句。亦佳二字。當在蜜和丸上。蓋言即爾以散為便。久貯蜜丸為佳。）</p>
<p>雷公炮炙論云。云如大豆許者。取重十兩鯉魚目比之。</p>
<p>按徐氏曰。此方妙在乾薑巴黃。峻利寒熱俱行。有乾薑以守中。則命蒂常存。且以通神明。而復正性。故能治一切中惡卒死耳。程氏曰。大黃。盪滌腸胃。乾薑。溫中散寒。巴豆。除邪殺鬼。故主如上諸證。愚意二說俱非。蓋此方所主。其證極暴極實。僅有顧慮。禍速反掌。是以其治要在短刀直入。咄嗟奏凱。故巴豆辛熱峻下。以為之君。大黃為臣。以輔峻下之用。乾薑為佐。以助辛熱之性。三味相藉。其功益烈。為攻瀉諸方之冠。所以能相抵當也。</p>
<p>聖惠。治惡疰心腹痛。如錐刀所刺。脹滿欲死者。硝石丸。</p>
<p>於本方。加硝石。附子。</p>
<p>又治暴癥。氣攻心腹脹痛。不欲飲食。宜服巴豆丸方。</p>
<p>於本方。加木香。蓬莪朮。</p>
<p>又治卒死及感忤。口噤不開者。宜服此方。</p>
<p>即本方。以棗瓤和。圓如綠豆大。以溫水下。</p>
<p>聖濟。治小兒木舌。腫脹滿塞口中。三物備急丸方。</p>
<p>即本方。如綠豆大。每服五丸。溫水下。大便利為度。</p>
<p>屍蹶。脈動而無氣（靜而死。肘後。作靜然而死。外臺同。而。作如。而字。當為如義讀。）</p>
<p>按屍蹶。即陽氣暴實。凌轢陰血之病。蓋中氣之類也。說詳於扁倉傳匯考中。當參。</p>
<p><u>救溺死方</u></p>
<p>千金曰。但埋死人暖灰中。頭足俱沒。惟開七孔。</p>
<p>治馬墜。及一切筋骨損方。</p>
<p>〔鑑〕外浴以散其瘀。內服以下其瘀。斯得之矣。</p>
<p>按醫心方。服石方中。引張仲景者。凡四道。未知本經之遺否。姑附載於左。</p>
<p>張仲景云。解散發。煩悶欲吐不得。單服甘草湯。甘草（五兩切）以水五升。煮取二升。服一升。得吐即止。</p>
<p>張仲景方云。黃芩湯。治散發腹內切痛方。</p>
<p>支子（二兩）　香豉（三升）　黃芩（二兩）</p>
<p>凡三物。切。綿裹。以水九升。煮取三升。分三服。以衣覆臥。灸應有汗。</p>
<p>張仲景云。半夏湯。治散發。乾嘔不食飲方。</p>
<p>半夏（八兩洗炮）　生薑（十兩）　桂心（三兩）　橘皮（三兩）上四物。以水七升。煮取三升半。分三服。一日令盡。張仲景方。治寒食散。大小行難方。</p>
<p>香豉（二升）　大麻子一升（破）</p>
<p>上二物。以水四升。煮二升八合。去滓停冷。一服六合。日三。</p>

<h2>禽獸魚蟲禁忌並治第二十四</h2>
<p><u>論辨二首</u>　合九十法按當八十六法。）方二十一首按當二十六首。）</p>
<p>凡飲食滋味。以養於生。</p>
<p>按服藥煉液。言道家辟穀之流。</p>
<p>肝病禁辛。心病禁咸。</p>
<p>醫說。引食治通說云。金匱要略方曰。春不食肝。夏不食心。秋不食肺。冬不食腎。四季不食脾。謂畜獸五臟。能益人五臟。春時木旺。肝氣盛脾氣敗。故不食肝。食之則肝氣愈盛。脾氣愈敗。因成脾病。則難治也。或春月肝經受病。明有虛證。亦宜食肝以補之。或春月肝氣太盛。即宜食肺以抑之。又云。肝病禁辛。心病禁咸。脾病禁酸。肺病禁苦。腎病禁甘。五味遞相剋制。故禁之也。或肝氣太盛。因而生病。亦宜辛味以制之。更在心智變通。</p>
<p>不可全執定論。他臟效此。</p>
<p>凡肝臟自不可輕啖。（自字。疑衍。）</p>
<p>巢源曰。凡禽獸六畜自死者。肝皆有毒。不可食。往往傷人。其疫死者彌甚。被其毒者。多洞利嘔吐。而煩悶不安。</p>
<p>豬肉落水浮者。不可食。（按據前後條。豬字。當作諸字。）自死肉口閉者。不可食之。</p>
<p>巢源曰。凡可食之肉。無甚有毒。自死者。多因疫氣所斃。其肉則有毒。若食此毒肉。便令人困悶。吐利無度。是中毒。</p>
<p>六畜自死。皆疫死。</p>
<p>巢源曰。六畜者。謂牛馬豬羊雞狗也。凡此等肉。本無毒。不害人。其自死。及著疫死者。皆有毒。中此毒者。亦令人心煩悶。而吐利無度。</p>
<p>疫死牛肉。食之令病洞下。</p>
<p>巢源食牛肉中毒候曰。又因疫病而死者。亦有毒。食此牛肉。則令人心悶身體痹。甚者。乃吐逆下利。腹痛不可堪。因而致者非一也。</p>
<p><u>治自死六畜肉中毒方</u></p>
<p>〔程〕六畜自死。必因毒疫。苦能解毒。黃柏。味之苦者。</p>
<p><u>治食鬱肉漏脯中毒方</u></p>
<p>按犬屎。本草唐本注云。白狗屎。主疔瘡。水絞汁服。主諸毒不可入口者。人乳。功見下條。生韭汁。本草引孟詵。云。胸痹。心中急痛如錐刺。取生韭。或根。五斤。先搗汁。灌少許。即吐胸中惡血。知此方亦取湧吐。</p>
<p>治黍米中藏干脯。食之中毒方。</p>
<p>〔程〕大豆能解諸毒。故用以治。治六畜鳥獸肝中毒方。（按六上。似脫食字。）</p>
<p>治食犬肉不消。（按心急字。疑。本草。引梅師方。作忽字。）</p>
<p>巢源曰。凡狗肉性甚躁熱。其疫死及狂死者。皆有毒。食之難消。故令人煩毒悶亂。</p>
<p>雞有六翮四距者。</p>
<p>先兄曰。爾雅。羽本。謂之翮。說文。翮羽莖也。</p>
<p>鱠食之。在心胸間不化。</p>
<p>巢源曰。凡人食魚鱠者。皆是便生冷之物。食之甚利口。人多嗜之。食多則難消化。令人心腹痞滿。煩亂不安。</p>
<p>神巧萬全方。治食物過飽不消。遂成痞膈將死方。</p>
<p>馬牙硝（一大兩碎之如無以朴硝代之。）　吳茱萸（半斤陳者）</p>
<p>上煎茱萸取濃汁。投滓承熱服之。久未轉。更進一服。立愈。唐竇群嘗話。在常州時。食膾不消。痞結悶甚。諸藥悉不轉。腹堅氣絕。醫徐彥莊處得此方。服乃瘥。竇云。微此殆絕。</p>

<h2>果實菜谷禁忌並治第二十五</h2>
<p>（按此篇。合八十法。方十八首。今不言者。蓋脫文也。）</p>
<p>食諸菌中毒。悶亂欲死方。</p>
<p>聖濟總錄曰。朽木生蕈。腐土生菌。二者。皆陰濕之氣蒸郁所生也。既非沖和所產。性必有毒。若誤食之。令人吐利不已。心腹切痛。甚者身黑而死。十一月十二月。勿食薤。</p>
<p>〔鑑〕薤味辛散。走肺氣。食之令人多涕唾。</p>
<p>葵心不可食。傷人。</p>
<p>〔鑑〕葵心有毒。背葉反常。亦有毒。不可食。</p>
<p>食躁或躁方。</p>
<p>按金鑑所解。殆屬牽強。蓋此方介於菜類方法中。則亦當治菜毒方。考醫心方。引葛氏方云。為食諸菜中毒發狂煩悶吐下欲死方。煮豉汁。飲一二升。竊想葛氏所舉。本是仲景原文。而今作食躁或躁者。繫於文字訛脫。或是食菜煩躁四字之誤也。（今本肘後方。偶欠此方。然自有治諸菜毒方。而其前後諸條。概與本篇方法相同。）</p>
<p>巢源曰。野菜芹荇之類。多有毒蟲水蛭附之。人誤食之。便中其毒。亦能悶亂煩躁不安。可以互證。</p>
<p>菜中有水莨菪。</p>
<p>按此雲中風。即發狂之謂。後漢書朱浮傳曰。中風狂走。</p>
<p>春秋二時。龍帶精入芹菜中。</p>
<p>按糖。即餳字。飴弱於餳。故飴有膠飴。餳有硬餳也。（輯義引釋名。用李時珍所改。當考原書。及方言。說文。廣韻等。）</p>
