<header>
<h1 hidden>歌訣</h1>
<h1>歌訣列表</h1>
</header>

<p>可使用右上方工具列的全站搜尋，或使用較精細的<a rel="search" href="../book/search.html#?index=../ge/index.html">典籍檢索器</a>。</p>

<ol class="階層列表" data-type="booklist">
  <li><a href="五輸穴即景詩.html">五輸穴即景詩</a></li>
  <li><a href="勝玉歌.html">勝玉歌</a></li>
  <li><a href="十四經穴歌訣_醫宗金鑑.html">十四經穴歌訣（醫宗金鑑）</a></li>
  <li><a href="十四經穴歌訣_針灸大成.html">十四經穴歌訣（針灸大成）</a></li>
  <li><a href="席弘賦.html">席弘賦</a></li>
  <li><a href="標幽賦.html">標幽賦</a></li>
  <li><a href="玉龍歌.html">玉龍歌</a></li>
  <li><a href="百證賦.html">百證賦</a></li>
  <li><a href="肘後歌.html">肘後歌</a></li>
  <li><a href="通玄指要賦.html">通玄指要賦</a></li>
  <li><a href="金針賦.html">金針賦</a></li>
  <li><a href="十二經補瀉溫涼引經藥歌.html">十二經補瀉溫涼引經藥歌</a></li>
</ol>
