<header data-type="book">
<h1>席弘賦</h1>
<dl class="元資料">
<div><dt>出處</dt><dd>針灸大全</dd></div>
<div><dt>品質</dt><dd>75%</dd></div>
<div hidden><dt>版式</dt><dd>今版</dd></div>
</dl>
</header>

<p>凡欲行針須審穴，要明補瀉迎隨訣。胸背左右不相同，呼吸陰陽男女別。<br>
氣針兩乳求太淵，未應之時瀉列缺。列缺頭痛及偏正，重瀉太淵無不應。<br>
耳聾氣閉聽會針，迎香穴瀉功如神。誰知天突治喉風，虛喘須尋三里中。<br>
手連肩脊痛難忍，合谷針時要天衝。曲池兩手不如意，合谷下針宜仔細。<br>
心痛手顫少海間，若要除根覓陰市。但患傷寒兩耳聾，金門聽會疾如風。<br>
五般肘痛尋尺澤，太淵針後卻收功。手足上下針三里，食癖氣塊憑此取。<br>
鳩尾能治五般癇，若下湧泉人不死。胃中有積刺璇璣。三里功多人不知。<br>
陰陵泉治心胸滿，針到承山飲食思。大杼若連長強尋，小腸氣痛即行針。<br>
委中專治腰脊痛，腳膝腫時尋至陰。氣滯腰痛不能立，橫骨大都宜救急。<br>
氣海專能治五淋，更針三里隨呼吸。期門穴主傷寒患，六日過經猶未汗。<br>
但向乳根兩肋間，又治婦人生產難。耳內蟬嗚腰欲折，膝下明存三里穴。<br>
若能補瀉五會間，且莫向人容易說。睛明治眼未效時，合谷光明安可缺。<br>
人中治癲功最高，十二鬼穴不須饒。水腫水分兼氣海，皮內隨針氣自消。<br>
冷嗽先宜補合谷，卻須針瀉三陰交。牙疼腰痛並咽痺，二問陽谿疾怎逃。<br>
更有三間腎俞妙，善除肩背浮風勞。若針肩井須三里，不剌之時氣未調。<br>
最是陽陵泉一穴，膝問痛疼用針燒。委中腰痛腳牽急，取得其經血自調。<br>
腳痛膝腫針三里，懸鍾二陵三陰交。更向太衝須引氣，指頭麻木自輕飄。<br>
轉筋目眩針魚腹，承山崑崙立便消。肚痛須是公孫妙，內關相應必然瘳。<br>
冷風冷痺疾難愈，環跳腰間針與燒。風府風池尋得到，傷寒百病一時消。<br>
陽明二日尋風府，嘔吐還須上脘療。婦人心痛心俞穴，男子眩癖三里高。<br>
小便不禁關元好，大便閉塞大敦燒。髖骨腿痛三里瀉，復溜氣滯便離腰。<br>
從來風府最難針，卻用功夫度淺深。倘若膀胱氣未散，更宜三里穴中尋。<br>
若是七疝小腹痛，照海陰交曲泉針。又不應時求氣海，關元同瀉效如神。<br>
小腸氣攝痛連臍，速瀉陰交莫再遲。良久湧泉針取氣，此中玄妙少人知。<br>
小兒脫肛患多時，先灸百會次鳩尾。久患傷寒肩背痛，但針中渚得其宜。<br>
肩上痛連臍不休，手中三里便須求。下針麻重即須瀉，得氣之時不用留。<br>
腰連胯痛急必大，便於三里攻其隘。下針一瀉三補之，氣上攻噎只管在。<br>
噎不住時氣海灸，定瀉一時立便瘥。補自卯南轉針高，瀉從卯北莫辭勞。<br>
逼針瀉氣令須吸，若補隨呼氣自調。左右燃針尋子午，伸針行氣自迢迢。<br>
用針補瀉分明說，更用搜窮本與標。咽喉最急先百會，太衝照海及陰交。<br>
學者潛心宜熟讀，席弘治病名最高。</p>
