<header data-type="book">
<h1>金針賦</h1>
<dl class="元資料">
<div><dt>出處</dt><dd><data value="針灸大全">徐氏《針灸大全》，原篇名《梓岐風谷飛經走氣撮要金針賦》</data></dd></div>
<div><dt>底本</dt><dd>知音五版《針灸學》</dd></div>
<div><dt>品質</dt><dd>95%</dd></div>
<div hidden><dt>版式</dt><dd>今版</dd></div>
</dl>
</header>
<p>觀夫針道，捷法最奇；須要明於補瀉，方可起於傾危。先分病之上下，次定穴之高低；頭有病而足取之，左有病而右取之。男子之氣，早在上而晚在下，取之必明其理；女子之氣，早在下而晚在上，用之必識其時。午前為早屬陽，午後為晚屬陰。男女上下，憑腰分之。手足三陽，手走頭而頭走足；手足三陰，足走腹而胸走手。陰升陽降，出入之機。逆之者為瀉為迎；順之者為補為隨。春夏刺淺者以瘦，秋冬刺深者以肥。更觀原氣厚薄；淺深之刺尤宜。</p>
<p>原夫補瀉之法，妙在呼吸手指。男子者，大指進前左轉，呼之為補；退後右轉，吸之為瀉；提針為熱，插針為寒。女子者，大指退後右轉，吸之為補；進前左轉，呼之為瀉；插針為熱，提針為寒。左與右有異，胸與背不同；午前者如此，午後者反之。是故爪而切之。下針之法，搖而退之；出針之法，動而進之；催針之法，循而攝之；行氣之法，搓則去病，彈則補虛。肚腹盤旋，捫為穴閉。重沉豆許曰按，輕浮豆許曰提。一十四法，針要所備。補者一退三飛，真氣自歸；瀉者一飛三退，邪氣自避。補則補其不足，瀉則瀉其有餘。有餘者為腫為痛，曰實；不足者為痒為麻，曰虛。氣速效速，氣遲效遲。死生貴賤，針下皆知。賤者硬而貴者脆，生者澀而死者虛，候之不至，必死無疑。</p>
<p>且夫下針之法，先須爪按，重而切之，次令咳嗽一聲，隨咳下針。凡補者呼氣，初針刺至皮內，乃曰天才；少停進針，刺至肉內，是曰人才；又停進針，刺至筋骨之間，名曰地才，此為極處，就當補之。再停良久，卻須退之至人之分，待氣沉緊，倒針朝病，進退往來，飛經走氣，盡在其中矣。凡瀉者吸氣，初針至天，少停進針，直至於地，得氣瀉之；再停良久，卻須退針，復至於人，待氣沉緊，倒針朝病，法同前矣。其或暈針者，神氣虛也，以針補之，以袖掩之口鼻而氣回，熱湯與之。略停少刻，依前再施。</p>
<p>及夫調氣之法，下針至地之後，復人之分。欲氣上行，將針右撚；欲氣下行，將針左撚。欲補先呼後吸，欲瀉先吸後呼。氣不至者，以手循攝，以爪切掐，以針搖動，進撚搓彈，直待氣至。以龍虎升騰之法，按之在前，使氣在後；按之在後，使氣在前。運氣走至疼痛之所，以納氣之法，扶針直插，復向下納，使氣不回。若關節阻澀，氣不過者，以龍虎龜鳳通經接氣大段之法，驅而運之，仍以循攝爪切，無不應矣。此通仙之妙。</p>
<p>況夫出針之法，病勢既退，針氣微鬆；病未退者，針氣如根，推之不動，轉之不移，此為邪氣吸拔其針，乃真氣未至，不可出之；出之者，其病即復，再須補瀉，停以待之，直候微鬆，方可出針豆許，搖而停之。補者吸之去疾，其穴急捫；瀉者呼之去徐，其穴不閉。欲令腠密，然後調氣。故曰下針貴遲，太急傷血；出針貴緩，太急傷氣。以上總要，於斯盡矣。</p>
<p>考夫治病之法有八：一曰燒山火，治頑麻冷痹，先淺後深，用九陽而三進三退，慢提緊按，熱至，緊閉插針，除寒之有準。二曰透天涼，治肌熱骨蒸，先深後淺，用六陰而三出三入，緊提慢按，徐徐舉針，退熱之可憑。皆細細搓之，去病準繩。三曰陽中之陰，先寒後熱，淺而深，以九六之法，則先補後瀉也。四曰陰中之陽，先熱後寒，深而淺，以六九之方，則先瀉後補也。補者直須熱至，瀉者務待寒侵，猶如搓線，慢慢轉針。蓋法其淺則用淺，法在深則用深，二者不可兼而紊之也。五曰子午搗臼，水蠱膈氣，落穴之後，調氣均勻，針行上下，九入六出，左右轉之，十遭自平。六曰進氣之訣，腰背肘膝痛，渾身走注疼，刺九分，行九補，臥針五七吸，待氣上行。亦可龍虎交戰，左撚九而右撚六，是亦住痛之針。七曰留氣之訣，痃瘕癖癥<span data-rev="校"><small class="雙行夾注">一版作「痃癖癥瘕」</small></span>，針刺七分，用純陽，然後乃直插針，氣來深刺，提針再停。八曰抽添之訣，癱瘓瘡癩，取其要穴，使九陽得氣，提按搜尋，大要運氣周遍。扶針直插，復向下納，回陽倒陰。指下玄微，胸中活法，一有未應，反復再施。</p>
<p>若夫過關過節催運氣，以飛經走氣，其法有四：一曰青龍擺尾，如扶船舵，不進不退，一左一右，慢慢撥動。二曰白虎搖頭，似手搖鈴，退方進圓，兼之左右，搖而振之。三曰蒼龜探穴，如入土之象，一退三進，鑽剔四方。四曰赤鳳迎源，展翅之儀，入針至地，提針至天，候針自搖，復進其元<span data-rev="校"><small class="雙行夾注">一版作「原」</small></span>，上下左右，四圍飛旋。病在上吸而退之，病在下呼而進之。</p>
<p>至夫久患偏枯，通經接氣之法，已有定息寸數。手足三陽，上九而下十四，過經四寸；手足三陰，上七而下十二，過經五寸。在乎搖動出納，呼吸同法，驅運氣血，頃刻周流，上下通接，可使寒者暖而熱者涼，痛者止而脹者消，若開渠之決水，立時見功，何傾危之不起哉？雖然病有三因，皆從氣血；針分八法，不離陰陽。蓋經絡晝夜之迴圈，呼吸往來之不息。和則身體康健，否則疾病而<span data-rev="校"><small class="雙行夾注">一版作「競」</small></span>生，譬如天下國家地方，山海田園，江河溪谷，值歲時風雨均調，則水道疏利，民安物阜。其或一方一所，風雨不均，遭以旱澇，使水道湧竭不同，災傷遂至。人之氣血，受病三因，亦猶方所之於旱澇也。蓋針砭所以通經脈，均氣血，蠲邪扶正，故曰捷法，最奇者哉。</p>
<p>嗟夫！軒岐古遠，盧扁久亡，此道幽深，非一言而可盡。斯文細密，在久習而能通。豈世上之常辭，庸流之泛術，得之者若科之及第，而悅於心；用之者如射之發中，而進於目，述自先賢，傳之後學，用針之士，有志於斯。果能洞造玄微，而盡其精妙，則世之伏枕之疴，有緣者遇針到病除，其病皆隨手而愈矣。</p>
