<header data-type="book">
<h1>傷科彙纂</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡廷光</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1808">公元1808年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2887">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>凡例</h1>
<p>余自先祖世業傷科，傳至不佞，已三世矣。代以經濟存心，不圖蠅頭微利。余稚幼時，先君子以《人子須知》一書授余不肖曰：此書實為六經之羽翼，人倫之大道，欲盡人子之道者，必從此始。是故不佞自垂髫以至弱冠，讀書而外，並留心醫學。詎知不才負罪良深，資稟愚鈍，不克遠紹宗功，顯揚祖德，少壯之年，即召陟屺之悲。嘗聞家藏醫書，系先君子所錄。手澤猶存。以是不揣鄙陋，節錄傷科方藥諸論，增附接骨入臼諸法，採珠探玉，集腋成裘，以繼先志，如下凡例云：</p>
<p>一、傷科古無專門，附於瘍醫也。按周官云：醫師職掌四醫：疾醫、瘍醫、食醫、獸醫。而瘍醫分掌四症：腫瘍、潰瘍、金瘍、折瘍。而金瘍者，即金刃之傷也；折瘍者，即跌撲骨折之傷也。後有專其事者，或稱正骨科，或稱正體科。今即分列科門，總由損傷而成，故名之傷科。</p>
<p>一、是書目錄，先經義而後敘骨論，次手法而再詳證治，周身骨髎自頂及踵，次序井然，列如星布。惟方以類聚，丸散膏丹，名目不能細載，以方名字數多寡概之，如三字丸、五字散、七字丹之類，挨次載錄，以便翻閱。</p>
<p>一、《靈》、《素》經文，乃醫家之祖，如讀書家之五經也，其義淵源，故冠於卷首。至歷朝諸家論注，散見集中者，必詳考姓氏書目，即片言隻字，不敢妄襲，必按某書某氏曰。間有自述一、二條，非獨逞臆見，必引古而證今，然後敢暢其說，而竟其論。</p>
<p>一、脈乃四診之一。損傷之症，雖有外形可觀，然其內臟虛實，血氣盛衰，非察候脈息，何由悉其病情。故廣引《脈經》，詳為解注，以便學者參悟也。</p>
<p>一、針灸之文無多，非闕略而仍其舊也。但其文簡而詳，即如論刺、論灸法中，兼及或攻或補之義，簡而且備。學者不可以非專科，少用針灸而忽之。</p>
<p>一、骨之圖，骨之論，悉依《部頒經書圖注》論定。間有同骨異名，或異骨同名，或一骨二、三名，或三、四骨合一名，及乎骨之大小長短，並以男女互異不等，詳參細釋，同歸一轍。至骨之致命處，另為標出。</p>
<p>一、論筋，乃接骨上髎之要事也。經曰：諸筋皆屬於節。節者骨之節髎也，專是科者能不講乎。茲按《靈樞》經文，詳為註釋，列於簡次，知有端緒也。</p>
<p>一、治跌閃折骨出臼，先用手法，按摩推拿，端提摸接，然後方可用器具夾縛，至用方藥，又在後也。故其次序，仍遵《金鑑》編例，稍有增補手法，悉注各骨之下。惟有用掮用牮之法，附於注後，以廣其則。</p>
<p>一、傷科證治，悉考薛氏《正體類要》，並《靈》、《素》經旨，以及各家方法，重為增訂。但以出汗附於發熱之條，嘔血併入作嘔之下。較之《金鑑》，復加外邪、不食、頭痛、筋攣、肝火、濕痰、青腫、爛潰、不斂、傷風、發痙諸門，雖屬兼症，而發明餘緒，實可以備參考。至注中議論，不過遍考經史，搜索前人著述，間或事出見聞，心懷臆斷之文，敢以存俟高明，定其可否也。</p>
<p>一、自顛頂骨至足跟骨，詳加論注，並引手法治驗，復增咽喉、肚腹二條，以補身圖之不足。</p>
<p>一、凡人跌閃之傷，多在手足四肢。手有肩、肘、腕三出臼之區，又有上下骨折之所；足亦有環跳、膝灣、踝骨三髎，大腿、小脛二折，左右共四折骨六出髎，與兩手同。其接骨入髎，家傳秘法，無不各按諸骨圖考，採錄精詳，公諸同業，於醫學稍有裨益。</p>
<p>一、所集丸散膏丹方中，皆詳載炮製分兩，便於依方預為修合，以備急用。至湯飲煎藥方中，偶有不載分兩者，如古方之分兩，難施於今人，因稟質有強弱，病樣非一致；又如時方之無分兩者，可因人變通，增減為用也。更有古方，藥味分兩與今不同者，盡皆詳考群書，別其宜否而載之。</p>
<p>一、拙纂損傷、齧傷等門，即《金匱要略》云：金刃蟲獸所傷，非內外因也。然其條下集附單方，不可執定此傷而用此藥，總緣病無別緻，方可通用也。</p>
<p>一、所附單方，即古之奇方也，本諸百家子書所錄，皆系效驗。竊恐用此者，或見笑於大方，以致良璧懷疑，明珠見棄。故特為表出，使窮鄉僻壤無醫之處，按症選方，甚便甚捷。</p>
<p>一、是書凡屬有關跌閃損傷之論無不蒐羅，而片言隻字似無遺漏，設或專門口授手法，以及村嫗野叟單方，若經試驗，盡皆敘入。東坡曰：若已經效於世間，不必皆從於己出。惟法近怪異，藥用胎骨之類，一概屏棄。卷盡十二，科專一門，學者珍之。</p>

<h1>正文</h1>
<p>耀山曰：身骨尺寸之圖，其文載於《內經》、《靈樞》之篇，此成法長度也。然而身有修短不齊，皆取本人中指中節為一寸之法，是合度耳。更有上身長而下身短，以及首大而足小者，其何以度量哉？惟取上身者，取上之尺寸，取下身者，取下之尺寸，直者取直，橫者取橫，無不合度矣。至於骨之名目，及部位等穴，似有不同之處。今校各書所載，統繪圖中，詳註骨下，以便閱者參考而歸於一也。（骨圖略）</p>
<p>耀山曰：按通木、腰柱、杉籬、竹簾、抱膝各圖，乃接骨之器具，輔助其成功也，非圖形象不可。至裹簾、披肩、攀索、迭磚等器具，義已詳釋於後，故不復圖。而上髎之器具，並其用法，皆繪於上髎手法各圖之內。智者自能融會貫通，不必斤斤冗述耳。</p>
<figure>
<img alt="通木圖">
</figure>
<figure>
<img alt="通木背面用法圖">
</figure>
<figure>
<img alt="通木正面用法圖">
</figure>
<figure>
<img alt="腰柱圖">
</figure>
<figure>
<img alt="腰柱用法圖">
</figure>
<figure>
<img alt="竹簾圖">
</figure>
<figure>
<img alt="杉籬圖">
</figure>
<figure>
<img alt="竹簾杉籬用法圖">
</figure>
<figure>
<img alt="抱膝圖">
</figure>
<figure>
<img alt="抱膝用法圖">
</figure>
<p>耀山曰：溯醫道之源，古人針灸藥餌，使內邪不留，外邪不入。若損傷折跌，以法正之。今接骨之法，既有器具圖論矣。惟上髎手法，雖專門名家，間有敘論及此，從未見有繪圖以詳其義者。余維古人左圖右史，並行不悖，大抵論物敘事，無以徵信，須賴圖以發明，圖之重也久矣。爰倩名手，繪上髎手法十四圖，則兼寫其情而摹其神也。學者如留心細玩，自能法外生法矣。</p>
<figure>
<img alt="治下巴脫落用手托法圖">
</figure>
<p>雙落難言語，單錯口不齊，倩人頭扶直，莫教面朝低，先從大指捺，然後往上擠，須分錯與落，托法辨東西。</p>
<figure>
<img alt="治頸骨縮進用汗巾提法圖">
</figure>
<p>頸骨縮入里，左右尚可動，髮辮先解散，布巾下兜籠，兩肩齊踏實，雙手一把總，緩緩提拔出，安舒莫倥傯。</p>
<figure>
<img alt="整背骨突出用手提法圖">
</figure>
<p>背骨突出外，傴僂似蝦躬，骨縫必開錯，脊筋定起隴，從高提兩手，底下腳並空，筋骨按平直，還仗綁縛功。</p>
<figure>
<img alt="整腰骨陷入用枕矼法圖">
</figure>
<p>腰骨陷入內，皆因筋繃裂，俯伏板凳上，脊背骨矼凸，器具安妥當，手法並按捏，腰背俱一般，莫逢致命節。</p>
<figure>
<img alt="上肩髎用手兩邊拉法圖">
</figure>
<p>肩胛骨髎脫，有須不能捋，胸中攔抱住，兩邊齊拉拔，入臼骨歸原，手動上下活，不用夾與縛，全憑膏藥抹。</p>
<figure>
<img alt="上肩髎用肩頭掮法圖">
</figure>
<p>上肩巧捷法，獨自一人掮，手先擒拿住，肩從腋下填，將身徐立起，入髎已安痊，漫道容易事，秘訣不亂傳。</p>
<figure>
<img alt="拉肘骨用手翻托法圖">
</figure>
<p>肘尖鵝鼻骨，俗名手拄撐，掣肘因是挫，筋縱骨不正，若逢打與跌，筋骨兩倚傾，拉推並翻托，筋舒骨亦平。</p>
<figure>
<img alt="拉肘骨用腳牮法圖">
</figure>
<p>肘彎骨搓出，臥病憂採薪，腳從腋下踏，指向臂上親，手拉同足牮，骨平筋自伸，推摩無痛苦，較比兩肘勻。</p>
<figure>
<img alt="捏腕骨入髎手法圖">
</figure>
<p>腕骨屈而宛，形如龍虎吞，手心貼於前，仰掌向上掀，指背翻於後，手掌往下捫，均須帶拔勢，妙法出秘門。</p>
<figure>
<img alt="上大腿髎用手拽法圖">
</figure>
<p>人身之大髎，惟有環跳穴，上胯如碗臼，下腿似拇節，走馬因墜墮，行路成跛蹩，抱住毋使動，拽入莫再跌。</p>
<figure>
<img alt="上大腿髎用繩倒吊法圖">
</figure>
<p>大腿骨出髎，法莫妙於吊，將腳高懸起，用手漫按調，骨響髎已入，腿平患即消，貼膏與服藥，行動休過趫。</p>
<figure>
<img alt="上大腿髎用腳牮法圖">
</figure>
<p>牮法如何牮，兩人抵足眠，足踏臀尻上，手捧脛跗邊，手仗身勢捷，足趁腿力便，靜聽骨內響，其患即安然。</p>
<figure>
<img alt="推膝蓋骨歸原手法圖">
</figure>
<p>膝蓋活動骨，昔者孫臏刖，離窠即為患，出臼便成窟，能左能右偏，或下或上越，推拿歸於原，徐徐莫倉卒。</p>
<figure>
<img alt="挪腳踝骨入臼手法圖">
</figure>
<p>胻下跗之上，俗稱腳孤踝，內凸向外拗，外出望里把，只要無偏倚，莫使有高下，並用拉拽捏，此法謂之挪。</p>

<h2>經義</h2>
<p>《靈樞經·邪氣臟腑病形篇》曰：有所墮墜，惡血留內，若有所大怒，氣上而不下，積於脅下，則傷肝。</p>
<p>《醫宗金鑑》注云：人因墮墜，血已留內，若復因大怒傷肝，其氣上而不下，則留內之血，兩相凝滯，積於脅下，而肝傷矣。</p>
<p>《難經》曰：恚怒氣逆，上而不下，則傷肝。</p>
<p>《類纂約》注云：肝藏血，脅為肝經部分，故血多積於兩脅。</p>
<p>《醫學入門》云：凡損傷，專主血論。肝主血，不問何經所傷，惡血必歸於肝，流於脅，鬱於腹而作脹痛。實者下之，虛者調之。</p>
<p>《靈樞經·邪氣臟腑病形篇》曰：有所擊撲，若醉入房，汗出當風，則傷脾。</p>
<p>《醫宗金鑑》注云：有所擊撲，乃傷其外體也，如醉後入房，或汗出不知忌避當風，則邪客於肌膚，傷其內體也，是皆傷脾之因矣。</p>
<p>《靈樞經·邪氣臟腑病形篇》曰：有所用力舉重，若入房過度，汗出浴水，則傷腎。</p>
<p>耀山云：舉重用力，骨有所損。經曰：腎主骨；又曰：腎之合骨也，故傷腎。如交接無度，必損腎元，故傷損之症，最忌入房。又經曰：持重遠行，汗出於腎；又《難經》曰：久坐濕地，強行入水則傷腎。水濕，陰類也，陰傷其陰，腎更憊矣。</p>

<h2>脈要</h2>
<p>《素問·脈要精微論》曰：肝脈搏堅而長，色不青，當病墜若搏，因血在脅下，令人喘逆。</p>
<p>《醫宗金鑑》注云：肝脈有剛柔而病亦以異也。肝脈搏擊於手，而且堅且長，其色又不青，當病或墜或搏，因血積於脅下，令人喘逆不止也。正以厥陰之脈，布脅肋，循喉嚨之後；其支別者，復從肝貫膈，上注肺。今血在脅下，則血之積氣，上熏於肺，故令人喘逆也。又按《經脈別論》曰：有所墮恐，喘出於肝。度水跌僕，喘出於腎與骨。當是之時，勇者氣行則已，怯者則著而為病。故曰：診病之道，觀人勇怯，骨肉皮膚，能知其情，以為診法也。</p>
<p>《靈樞經·邪氣臟腑病形篇》曰：脾脈大甚為擊僕。</p>
<p>耀山云：脾主肌肉，凡打擊跌僕，肌肉先傷，肌肉傷，則氣血凝滯而不通，故脾脈大甚也。</p>
<p>《金匱要略》曰：寸口脈浮微而澀，法當亡血若汗出；設不出汗者，其身有瘡，被刀斧所傷，亡血故也。</p>
<p>耀山云：按《金鑑》注曰：奪血者無汗，奪汗者無血，蓋二者，皆當脈浮微而澀；今診之如此，是有枯竭之象，而無汗出之證，非亡血而何，故知有金瘡，或擊僕而亡血之證也。</p>
<p>崔紫虛《脈訣》曰：諸病失血，脈必見芤；緩小可喜，數大可憂。瘀血內蓄，卻宜牢大；沉小澀微，反成其害。</p>
<p>耀山云：芤，慈蔥也，下指成窟，有邊無中。戴同父云：營行脈中，脈以血為形，芤脈中空，脫血之象也。血既衰脫，脈應和緩細小；如遇數大，身必煩躁，可憂可驚。至於瘀血內積，滯而不通，脈應牢大。牢者堅固也，大者洪大也，脈病相應，法用通瘀導滯，無妨於證；如見沉小數微，其害立至，沉主裡病，有力尚可用攻，微小與病不應，澀主血少，蓄血之證，反現澀脈，必有精傷之故，敗血在內作害也。</p>
<p>《脈經》曰：從高顛仆，打僕損傷，內有瘀血，腹脹滿，其脈堅強者生，小弱者死。</p>
<p>耀山云：傷雖重，命脈和緩，可保無虞：傷雖輕，命脈虛促，是可慮也。如內傷臟腑，並外傷致命之處，脈見虛促，命即危矣。促者，數而一止也。</p>
<p>《史記》云：齊中郎破石病，淳于意診其脈，告曰，肺傷不治，當後十日溲血死，即後十一日溲血而死。破石之病，得之墮馬僵石上。故知破石之病者，切其脈得肺陰氣，其來散、數道至而不一也，色又乘之。所以知其墮馬者，切之番陰脈，番陰脈入虛里乘肺脈，肺脈散者，固色變也乘之。所以不中期死者，師言曰：病者安穀則過期，不安穀則不及期。其人嗜黍，黍主肺，故過期。所以溲血者，《診脈法》曰：病喜養陰處者順死，喜陽養處者逆死，其人喜自靜不躁，又久安坐伏几而寢，故血下泄。耀山云：凡顛仆損傷入於肺者，為不治之症也；又脈不重實者，亦屬不治之候也。此案載於《醫說》，雖無治法醫藥，但講論脈理精微，可啟後學之悟也，故附於此。</p>
<p>《脈經》曰：金瘡出血太多，其脈虛細者生，數實大者死。</p>
<p>耀山云：出血甚者，最忌洪大，只宜平正安靜耳。</p>
<p>《脈經》曰：金瘡出血，脈沉小者生，浮大者死。</p>
<p>耀山云：脈與病相應與不相應，以浮沉定其吉凶，以小大決其生死也。</p>
<p>《脈經》曰：砍刺出血不止，脈來大者七日死，滑細者生。</p>
<p>耀山云：脈可預知，能勿講乎，故撮其要者詳之。</p>
<p>王叔和《脈訣》曰：金瘡血盛虛細活，急疾大數必危身。</p>
<p>張世賢注云：金瘡，刀刃所傷之瘡也。血盛，血出多也。血既出多，脈應虛細；反得急疾數大，勢必風熱乘之，其身不危者幾希。</p>

<h2>針灸</h2>
<p>《素問·繆刺論》曰：人有所墮墜，惡血留內，腹中滿脹，不得前後，先飲利藥。此上傷厥陰之脈，下傷少陰之絡。刺足內踝之下、然骨（谷）之前，血脈出血。刺足跗上動脈，不已，刺三毛上各一痏，見血立已，左刺右，右刺左。</p>
<p>《醫宗金鑑》注云：此言惡血為病，有繆刺之法也。人因墮墜，致惡血留內，腹中滿脹，前後不通，當先用利藥。如上傷厥陰肝經之脈，下傷少陰腎經之絡，當刺內踝之下、然谷之前，有血脈令出血者，蓋以此屬少陰之別絡，而交通乎厥陰也。兼刺足跗上動脈，即衝陽穴，乃胃經之原也。如病不已，更刺三毛上大敦穴，左右各一痏，見血立已。繆刺，左刺右大敦，右刺左大敦也。但足跗動脈，上關衝脈、少陰、陽明三經，只宜淺刺，不可出血不已也。</p>
<p>《靈樞經·寒熱病篇》曰：身有所傷，血出多，及中風寒，若有所墮墜，四肢懈惰不收，名曰體惰，取其小腹臍下三結交。三結交者，陽明、太陰也，臍下三寸關元也。</p>
<p>《醫宗金鑑》注云：此言身有所傷，血出多者，及中風寒者，破傷風之屬也；或因墮墜，不必血出，而四肢懈惰不收者，皆名體惰也。關元，任脈穴名，又足陽明、太陰之脈皆結於此，故為三結交也。</p>
<p>《靈樞經·厥病論》曰：頭痛不可取於腧者，有所擊墮，惡血在於內，若肉傷痛未已，可側刺，不可遠取之也。</p>
<p>《醫宗金鑑》注云：經言惡血在內，頭痛不可取其腧者，蓋頭痛取腧以泄其氣，則頭痛可愈也；若有所擊墮，惡血在內，而取腧以泄其氣，則是血病而治其氣矣，故勿取其腧焉。若所擊僕之䐃肉傷痛不已，雖用刺法，亦只於所傷附近之側刺之，以出在內之惡血而已；若仍按經遠取諸腧以療頭痛，則不可也。</p>
<p>耀山云：此即推類砭去瘀血之意而詳言之。</p>
<p>《醫宗金鑑》曰：肝脈搏堅而色不變，必有墜擊之事，因䐃肉無破，則惡血必留脅下，兼致嘔逆，依經針刺然谷、足跗、或三毛等穴出血；或飲利藥，使惡血開行，當自愈也。若脈浮微而澀，當知亡血過多，依經於三結交關元穴灸之；或飲大補氣血之劑而調之，則病已矣。</p>
<p>耀山云：此針灸服藥之總論，即醫是症之提綱也。按《刺灸心法要訣》，肩井穴，主治僕傷，肘臂疼痛不舉，針五分，灸五壯，孕婦禁針。環跳穴，主治閃挫腰痛，不能回顧，針一寸，留十呼，灸三壯。合谷穴，主治破傷風，針三分，留六呼，灸三壯。又有隔紙灸法，專治跌打損傷疼痛極效，方附於後，系古之熨法也。</p>
<p>肩井穴，足少陽經穴也，在肩大骨前一寸半，以三指按取當中指陷中者是也。</p>
<p>合谷穴，手陽明經第四穴也，在大指次指岐骨陷中，俗名虎口也。</p>
<p>關元穴，任脈奇經穴也，在臍下三寸是也。</p>
<p>環跳穴，足少陽經穴也，在髀樞之中，側臥伸下足、屈上足取之。</p>
<p>衝陽穴，足陽明胃經穴也，在足面上動脈處，即足跗也。</p>
<p>然谷穴，足少陽腎經湧泉穴上，內踝前起大骨陷中也。</p>
<p>大敦穴，足厥陰肝經第一穴也，在大趾側，即三毛穴處也。</p>
<p>《針灸大成》云：閃挫腰脊強，腰脅痛，取人中穴，針三分，留六呼，灸三壯；又取委中穴，針五分，留七呼，禁灸。如打僕疼痛者，取承山穴，針七分，灸五壯。</p>
<p>人中穴，一名水溝，在鼻柱下、溝中央，近鼻孔陷中，乃督脈手足陽明之會也。</p>
<p>委中穴，一名血郄，足太陽膀胱經穴也，在膕中央約紋動脈陷中，令人面挺伏地，臥取之。</p>
<p>承山穴，一名魚腹，一名肉柱，一名腸山，足太陽經也。在腿肚下分肉間，須用兩手高托按壁上，兩足跟離地，用足大趾豎起，上看足銳腨腸下分肉間而取之。</p>
<p>雷火針法，治閃挫諸骨間痛，及寒濕氣，而畏刺者。用沉香、木香、乳香、茵陳、羌活、乾薑、穿山甲各三錢，麝少許，蘄艾二兩，以綿紙半尺，先鋪艾茵於上，次將藥末摻，卷極緊，收用。按定痛穴，筆點記，外用紙六、七層隔穴，將卷艾藥，名雷火針也。取太陽真火，用圓珠火鏡，皆可燃紅，按穴上良久，取起，剪去灰，再燒再按，九次即愈。</p>
<p>閃跌灸藥：專治跌打損傷，兼醫瘋痛。硫黃二兩、銀硃、明雄黃、辰砂各三錢、川烏、草烏各一錢五分、生大黃、黃柏各一錢、麝香一分。先將硫黃熔化，入諸藥末攪勻，地上預鋪大紙一張，將藥傾上，再用紙一張蓋上，壓匾成塊，候冷，每紙一寸可裁十塊，每用一塊點著，放粗厚草紙上，不住手以厚紙移熨，藥盡又換藥點熨，至熱氣透入肌骨，則氣血立刻流通，其患如失。</p>

<h2>歌訣</h2>
<p><u>病原歌訣</u></p>
<p>損傷之症無多般，有所墮墜氣不安，惡血內留兼大怒，積於脅下則傷肝。身經擊僕痛難支，醉飽行房復犯之，汗出當風漫不避，兩般俱是病傷脾。舉重用力骨多傾，交接無度必耗精，入水遠行並濕地，腎傷精骨共須驚。</p>
<p><u>脈證歌訣</u></p>
<p>肝脈堅長色不青，當知血積不流行，令人喘逆無休止，瘀帶熏蒸入肺經，寸口脈浮微而澀，血多亡失難收攝，經言奪血應無汗，必是金瘡刀斧及。</p>
<p><u>宜忌歌訣</u></p>
<p>跌僕損傷脈要堅，卻宜洪大數長弦，沉微澀小皆應忌，虛促逢之命不延。金瘡失血見諸芤，沉細虛微病可瘳，若遇浮洪並數大，須防七日內中憂。</p>
<p><u>針灸歌訣</u></p>
<p>惡血內留胸腹脹，先針然谷與衝陽，病如不已三毛上，左右大敦繆刺良。身有所傷血出多，四肢不收曰體惰，急於臍下關元穴，艾炷灸之病即瘥。腰痛要尋環跳中，合谷主治破傷風，臂傷不舉肩井穴，針灸原來各有功。打僕傷損破傷風，先於痛處下針攻，後向承山刺與灸，甄權留下意無窮。強痛脊背瀉人中，挫閃腰痠治亦同，更有委中之一穴，腰間諸症任君攻。渾身疼痛疾非常，不定穴中細審詳，有筋有骨須淺刺，灼艾臨時要度量。</p>

<h2>手法總論</h2>
<p>《醫宗金鑑》總論曰：夫手法者，謂以兩手安置所傷之筋骨，使仍復於舊也。但傷有輕重，而手法各有所宜。其痊可之遲速，及遺留殘疾與否，皆關乎手法之所施得宜，或失其宜，或未盡其法也。蓋一身之骨體既非一致，而十二經筋之羅列序屬又各不同，故必素知其體相，識其部位，一但臨證，機觸於外，巧生於內，手隨心轉，法從手出。或拽之離而復合，或推之就而復位，或正其斜，或完其闕，則骨之截斷、碎斷、斜斷，筋之弛縱卷攣，翻轉離合，雖在肉裡，以手捫之，自悉其情，法之所施，使患者不知其苦，方稱為手法也。況所傷之處，多有關於性命者，如七竅上通腦髓，鬲近心君，四末受傷，痛苦入心者，即或其人元氣素壯，敗血易於流散，可以剋期而愈，手法亦不可亂施。若元氣素弱，一但被傷，勢已難支，設手法再誤，則萬難挽回矣，此所以尤當審慎者也。蓋正骨者，須心明手巧，既知其病情，復善用夫手法，然後治自多效。誠以手本血肉之體，其宛轉運用之妙，可以一已之卷舒，高下疾徐，輕重開合，能達病者之血氣凝滯，皮肉腫痛，筋骨攣折，與情志之苦欲也。較之以器具從事於拘制者，相去甚遠矣。是則手法者，誠正骨之首務哉。</p>

<h2>摸法</h2>
<p>《醫宗金鑑》曰：摸者，用手細細摸其所傷之處，或骨斷骨碎，骨歪骨整，骨軟骨硬，筋強筋柔，筋歪筋整，筋斷筋走，筋粗筋翻，筋寒筋熱，以及表裡虛實，並所患之新舊也。先摸其或為跌僕，或為錯閃，或為打撞，然後依法治之。</p>
<p><u>接法　</u></p>
<p>《醫宗金鑑》曰：接者，謂使已斷之骨，合攏一處，復歸於舊也。凡骨之跌傷錯落，或斷而兩分，或折而陷下，或碎而散亂，或岐而傍突，相其形勢，徐徐接之，使斷者復續，陷者復起，碎者復完，突者復平。或用手法，或用器具，或手法器具分先後而兼用之，是在醫者之通達也。</p>
<p><u>端法　</u></p>
<p>《醫宗金鑑》曰：端者，或用兩手一手，擒定應端之處，酌其輕重，或從下往上端，或從外向上托，或直端、斜端也。蓋骨離其位，必以手法端之，則不待曠日持久，而骨縫即合，仍須不偏不倚，庶愈後無長短不齊之患。</p>
<p><u>提法　</u></p>
<p>《醫宗金鑑》曰：提者，謂陷下之骨，提出如舊也。其法非一，有用兩手提者，有用繩帛系高處提者，有提後用器具輔之不致仍陷者，必量所傷之輕重淺深，然後施治。倘重者輕提，則病莫能愈；輕者重提，則舊患雖去，而又增新患矣。</p>
<p><u>按摩法　</u></p>
<p>《醫宗金鑑》曰：按者，謂以手往下抑之也。摩者，謂徐徐揉摩之也。此法蓋為皮膚筋肉受傷，但腫硬麻木，而骨未斷折者設也。或因跌僕閃失，以致骨縫開錯，氣血鬱滯，為腫為痛，宜用按摩法，按其經絡，以通鬱閉之氣，摩其壅聚，以散瘀結之腫，其患可愈。</p>
<p><u>推拿法　</u></p>
<p>《醫宗金鑑》曰：推者，謂以手推之，使還舊處也。拿者，謂兩手一手，捏定患處，酌其宜輕宜重，緩緩焉以復其位也。若腫痛已除，傷痕已愈，其中或有筋急而轉搖不甚便利，或有筋縱而運用不甚自如，又或有骨節間微有錯落不合縫者，是傷雖平，而氣血之流行未暢，不宜按整端提等法，惟宜推拿以通經絡氣血也。蓋人身之經穴，有大經細絡之分，一推一拿，視其虛實，酌而用之，則有宣通補瀉之法，所以患者無不愈也。</p>
<p>注云：以上諸條乃八法之大略如此。至於臨症之權衡，一時之巧妙，神而明之，存乎其人矣。</p>
<p>耀山云：八法之外，又有推骨入髎秘法，或用肩頭掮，或用足腿牮。掮者，如挑負然，將患人掮起，骨入髎矣，較之用手拉手拽，更覺有力多矣。牮者，或坐其上，或臥於地，兩手將患人擒住，隨用足跟牮去，比之用手推託，便捷甚矣。此秘法也，故附八法之後，以補手法之未備也。</p>

<h2>器具總論</h2>
<p>《醫宗金鑑》總論曰：跌撲損傷，雖用手法調治，恐未盡得其宜，以致有治如未治之苦，則未可云醫理之周詳也。爰因身體上下正側之象，制器以正之，用輔手法之不逮，以冀分者復合，欹者復正，高者就其下，陷者升其位。則危症可轉於安，重傷可就於輕，再施以藥餌之功，更示以調養之善，則正骨之道全矣。</p>
<p><u>裹簾　</u></p>
<p>《醫宗金鑑》曰：裹簾以白布為之，因患處不宜他器，只宜布纏，始為得法，故名裹簾，其長短闊狹，量病勢用之。</p>
<p><u>振梃　</u></p>
<p>釋義云：凡頭被傷而骨未碎、筋未斷，雖瘀聚腫痛者，皆為可治。先以手法端提頸項筋骨，再用布纏頭二、三層令緊，再以振挺輕輕拍擊足心，令五臟之氣，上下宣通，瘀血開散，則不奔心，亦不嘔呃，而心神安矣。若已纏頭，拍擊足心，竟不覺疼，昏不知人，痰響如拽據，身體僵硬，口溢涎沫，乃氣血垂絕也，不治。</p>
<p><u>披肩　</u></p>
<p>釋義云：凡兩肩僕墜閃傷，其骨或斷碎，或傍突，或斜努，或骨縫開錯筋翻，法當令病人仰臥凳上，安合骨縫，揉按筋結，先以棉花貼身墊好，復以披肩夾住，肩之前後縛緊，再用白布在外纏裹畢，更用扶手板，長二尺余，寬三、四寸，兩頭穿繩，懸空掛起，令病者俯伏於上，不使其肩骨下垂，過七日後開視之，如俱痊，可撤板不用，如尚未愈，則仍用之。若不依此治法，後必遺殘患蘆節。</p>
<p>耀山云：用水竹半邊，長短闊狹，以患處為則，削去稜角，嵌入肩內，其肩下腋肢，再用棉團一個，實其腋內，外以布帶縛定繫住，此治肩骨斷碎之具，雖比板物較硬，然用之得法，縛之妥貼，則無動移之患矣。</p>
<p><u>攀索　</u></p>
<p>《醫宗金鑑》曰：攀索者，用繩掛於高處，以病人兩手攀之也。</p>
<p><u>迭磚　</u></p>
<p>釋義云：凡胸腹腋脅，跌打蹦撞墊努，以致胸陷而不直者，先令病人以兩手攀繩，足踏磚上，將後腰拿住，各抽去磚一塊，令病人直身挺胸，少傾，又各抽去磚一塊，仍令直身挺胸，如此者三，其足著地，使氣舒瘀散，則陷者能起，曲者可直也。再將其胸以竹簾圍裹，用寬帶八條緊緊縛之，勿令窒礙。但宜仰臥，不可俯臥側臥，腰下以枕墊之，勿令左右移動。</p>
<p><u>通木　</u></p>
<p>釋義云：凡脊背跌打損傷，膂骨開裂高起者，其人必傴僂難仰。法當令病者俯臥，再著一人以兩足踏其兩肩。醫者相其開裂高起之處，宜輕宜重，或端或拿，或按或揉，令其縫合，然後用木依前法逼之。</p>
<p><u>腰柱　</u></p>
<p>釋義云：凡腰間閃挫岔氣者，以常法治之。若腰節骨被傷錯筍，膂肉破裂，筋斜傴僂者，用醋調定痛散，敷於腰柱上，視患處將柱排列於脊骨兩傍，務令端正，再用蘄艾做薄褥，復於柱上，以御風寒，用寬長布帶，繞向腹前，緊緊紮裹，內服藥餌，調治自愈。</p>
<p>耀山曰：醫者，意也。嘗考古人創論立方，雖有根據，以已意參之，總不出情理之中。至接骨一道，用手法外，復用器具，蓋有意會之處。閱《明史》內載，有諫臣某，因事迭奏忤上，致延訊時，上令武士，用金瓜錘責其遍體，甚至肋骨擊斷其二；復令下獄，身加挺棍腳鐐，手銬刑具，嚴行監固。挺棍者，較人之長短，以木為之，上鎖於頸，下鏈於踝，中繫於手而及於腰，使囚不能彎曲轉側活動。後上悟，憐其苦諫釋之，肋骨俱已接續，未始非挺棍銬鐐之益也。挺棍與通木相似，鐐銬與扎縛相同，擊斷者復接續，是以不醫醫之。今之用器具，殆即此遺意歟。</p>
<p><u>竹簾</u></p>
<p>釋義云：凡肢體有斷處，先用手法安置訖，然後用布纏之，復以竹簾圍於布外，緊扎之，使骨縫無參差走作之患，蓋通用之物也。</p>
<p><u>杉籬</u></p>
<p>釋義云：凡用以圍裹於竹簾之外，將所穿之繩結住，再於籬上加繩以纏之，取其堅勁挺直，使骨縫無離綻脫走之患也。蓋骨節轉動之處與骨筋甚長之所，易於搖動，若僅用竹簾，恐挺勁之力不足，故必加此以環抱之，則骨縫吻合堅牢矣。</p>
<p>陳遠公曰：有跌打骨折，必用杉木或杉板，將折骨湊合端正，以繩縛定，勿偏斜曲，再以布扎，不可因疼痛心軟，少致輕鬆，反為害事。後用內服藥，如皮破血出，須用外治藥，但骨折而外邊之皮不破，即不用外治之藥，然內外夾攻，未嘗不更佳耳。內治法宜活血去瘀為先，血不活則瘀不去，瘀不去則骨不能接也。內治用接骨神丹煎服，外治貼全體神膏，再加末藥勝金丹，摻傷處為妙。每膏一張用末藥三錢，摻膏上貼之。凡接骨不須二個，至重則用二個。此絕奇絕異之方，倘未損傷，只貼膏藥，不必用勝金丹摻藥。內外治法三方，有不可形容之妙，醫者患者得以旦夕奏功，故特為表出，方出《冰鑑》。</p>
<p>谷蘭云：損傷固痛，因痛而以板木縛之則愈痛，愈痛而手軟、心軟，轉致輕鬆，是痛其痛，反增其痛，迨至不可醫藥，悔何及哉！學者務熟習手法，臨症時得自然之妙，自無手軟、心軟之弊矣。</p>
<p>耀山云：凡臂骨及小兒頸骨、腿骨、大手膊骨，截斷折斷、碎斷斜斷者，不必用大杉籬，僅用杉木皮儘可。將杉木皮削去粗皮，或三片或二片，如指面大，長短以患處為則。況杉木皮似竹樣閣漏式，合於骨處極為妥貼。又杉木皮挖空，用紙黏裹，可縛手肘手腕，使其能轉能伸，能屈能曲，此夾扎中之活法也。又有竹蔑大片，再以紙包，或用三片、四片，看患處之寬狹長短，定為法則。又有松木薄板，象今做糕匣者，用紙包裹，安於骨斷之處，以棉帶緊扎甚妙。此皆常用驗過之器具也。</p>
<p><u>抱膝</u></p>
<p>釋義云：膝蓋骨復於楗胻二骨之端，本活動物也。若有所傷，非骨體破碎，即離位而突出於左右。雖用手法推入原位，但步履行止，必牽動於彼，故用抱膝以固之，庶免復離原位，而遺跛足之患也。其法將抱膝四足插於膝蓋兩傍，以竹圈轄住膝蓋，令其穩妥，不得移動，再用白布寬帶，緊緊縛之。</p>
<p>耀山云：膝蓋骨脆碎或跌碎者，常用紙竹毛篾纏繞一⿱𥫗⿹⼓尤，與膝蓋大小相等，再加四繩縛於⿱𥫗⿹⼓尤上，貼膏藥後，即將篾⿱𥫗⿹⼓尤安上，四繩分前後縛之，較之竹圈，稍覺柔軟矣。</p>
<p>又云：以上器具，皆傷科必用之物，又增補試驗各具，然未備也。有肩胛出臼，用布帶纏於手上，繫於柱間，在帶上搒者；有腿骨出髎，用闊帶縛定腿足，將人抱住，以大鎯頭嚇者；有用硬挺者；有用軟騙者，種種器具，總不出縛纏夾扎挺托之法，復其原位，使勿遊移活動為得耳，要在人之活法變動也。</p>
<p>《選粹》云：凡損傷平處，骨斷骨碎，皮不破者，用接骨定痛等膏敷貼。若傷在手足曲直伸縮之處，要用包裹，可令時時轉動。指骨碎者，只用麻片夾縛。腿上用麻繩扎縛。冬月熱縛，夏月涼縛，余月溫縛。又云：骨斷皮破者，不可用酒煎藥。或損在內而皮破者，可加童便於破血藥內和服。若骨斷、皮不破者，可全用酒煎藥。若只傷而骨不折、肉不破者，用消腫膏或定痛膏。又云：皮里有碎骨，只用定痛膏敷貼夾縛，如十分傷重，自然爛開其肉，碎骨自出，然後用補肌散，外以補肉膏敷貼。又云：夾縛處，須藥水以時泡洗，春秋三日，夏二日，冬四日，洗去舊藥，須仔細勿驚動傷處，洗訖，仍用前藥前膏敷縛。凡換藥不可生換，須用手巾打濕拓潤，逐片取脫，隨手蕩洗換上，又不可停留一時刻，藥膏必須預為攤就，隨手換上，此乃敷藥之訣，如換膏藥亦然。</p>

<h2>接骨歌訣</h2>
<p>接骨由來法不同，編歌依次說全功。若能洞達其中意，妙法都歸掌握中。骨折大凡手足多，或短或長或脫窠，或凹或凸或歪側，務將手足慎撫摩。長者脫下短縮上，突凹歪斜宜度量。身上骨若斷而分，須用三指摩的當。內如脈動一般呵，骨折斷碎無別何。整骨先服保命丹，酒下骨軟方動他。手足斷須扯捻好，足斷而長添一勞。先須腳底牢牮實，斷傷骨下微磹高。足跟之下更高磹，病痊無患自證驗。如不牮實骨尚長，以後愈長愈可厭。此為縮法之手功，手長難療成廢躬，歪從患骨下托起，扯直無歪歸於同。合奠不突還原樣，凹者捻妥無別尚。試手必以兩手齊，試足須將腳並放。復臼膏藥自急需，光細布攤稱體膚。長短闊狹隨患處，膏宜攤厚糝多鋪。將膏緊裹包貼定，夾非杉皮力不勝。浸軟漸剖去粗皮，板長患處短方稱。還當排得緊重重，夾上布纏纏莫松。纏布闊宜二寸許，從上至下盡力封，布上再扎三條帶，中間上下護要害，先縛中間後兩頭，寬緊得宜始安泰。如縛手足斜折斷，中間緊而兩頭寬。骨斷若如截竹樣，中寬聚氣緊兩端。氣血斷處來聚著，手用帶兒復掌絡。腳要米袋兩邊挨，挨定不動勝妙藥。對症湯丸日日施，藥洗換膏三日期。三七之時骨接牢，房事油腥犯不宜。紫金丹作收功例，骨仍堅固無流弊。我今編此手法歌，傳與後人須仔細。</p>

<h2>上髎歌訣</h2>
<p>上髎不與接骨同，全憑手法及身功。宜輕宜重為高手，兼嚇兼騙是上工。法使驟然人不覺，患如知也骨已攏。茲將手法為歌訣，一法能通萬法通。</p>
<p><u>托下巴歌訣</u></p>
<p>頭骨圓圓曰髑髏，下把骨脫兩般求。單邊為錯雙邊落，上似彎環下似鉤。兩指口中齊重捺，各腮頰外共輕揉。下巴往裡徐徐托，托上還須用帶兜。</p>
<p><u>提頸骨歌訣</u></p>
<p>人登高處忽逢驚，首必先墜頸骨頃。面仰難垂惟伸續，頭低不起則端擎。腔中插入須提拔，骨上歪斜要整平。再看有無他磕碰，臨時斟酌度其情。</p>
<p><u>整背腰骨歌訣　</u></p>
<p>脊背腰梁節節生，原無脫髎亦無傾。腰因挫閃身難動，背或傴僂骨不平。大抵脊筋離出位，至於骨縫裂開弸。將筋按捺歸原處，筋若寬舒病體輕。</p>
<p><u>上肩髎歌訣　</u></p>
<p>損傷肩膊手筋攣，骨髎猶如杵臼然。若是肘尖彎在後，定當臑骨聳於前。常醫或使兩人拉，捷法只須獨自掮。倘遇婦人難動手，騙中帶嚇秘家傳。</p>
<p><u>托肘尖歌訣　</u></p>
<p>臂膊之中曰肘尖，凸凹上下骨鑲黏。直而不曲筋之病，屈若難伸骨有嫌。骨裂縫開翻托好，筋橫縱急搦安恬。仍當養息懸於項，屈曲時時疾不添。</p>
<p><u>挪手腕歌訣　</u></p>
<p>腕似農車水骨聯，仰翻俯復曲如旃。行車竭蹶應防復，走馬馳驅或致顛。手必先迎筋反錯，掌如後貼骨開偏，輕輕搦骨歸原處，骨若還原筋已痊。</p>
<p><u>上大腿髎歌訣　</u></p>
<p>環跳穴居跨骨前，中分杵臼似機旋。筋翻腫結腳跟𧺤，骨錯斜行腿足蹁。宣用手掎並腳牮，或施布縛發繩懸。</p>
<p><u>推膝蓋骨歌訣　</u></p>
<p>膝骨形圓蓋膝間，原系活動各筋扳。蓋移腿上腰胯痛，骨走臁中步履艱。若出外邊筋腫大，如離內側膕難彎。推筋捺骨歸原位，抱膝相安何足患。</p>
<p><u>拽腳踝拐歌訣　</u></p>
<p>足趾足跟踝相併，傷筋動骨致難行。腳尖向後應知挫，踝骨偏斜定是擰。骨突骨坳宜摸悉，筋翻筋結要分清。筋須揉撥又須拽，筋若調勻骨亦平。</p>
<p>耀山云：骨髎者，兩骨相交活動之處也。如杵之臼，如戶之樞，又如桔槔之有機。以筋聯絡之，故能轉運而不礙。若脫髎者，筋必受傷，是以上髎必先理其筋也。前接骨歌，系陳氏秘傳，法賅而備，惟原稿韻腳未妥，稍為潤色之，脫稿之後，復撰上髎歌訣十首，未敢言工，聊便誦記而已。接骨髎之髎字，音料，乃尻骨上有八孔，謂之八髎。《葉氏醫案》云：接骨上骱，骱音戛，小骨也，或有用作竅，用作窌，均未切當。薛氏《正體類要》有骨髎接而復脫之句，今仍借用之。</p>

<h2>方法總論</h2>
<p>《選粹》云：大法固以血之或瘀或失，分虛實而為補瀉，亦當看傷之輕重。輕者頓挫，氣血凝滯作痛，此當導氣行血而已；若重者傷筋折骨，如欲接續，非數月不瘥；若氣血內停，阻塞真氣不得行者必死，急瀉其血，通其氣，庶可施治。又云：出血太多，頭目昏眩，先用川當歸、大川芎，水煎服，次加白芍藥、熟地黃、續斷、防風、荊芥、羌獨活、南星，煎加童便，不可用酒。如血出少，內有瘀血，以生料四物湯一半，加獨聖散水煎服。皮肉未破者，煎成加酒服。</p>

<h2>內證</h2>
<p>《可法良規》云：凡傷損之症，若誤飲涼水，瘀血凝滯，氣道不通，或血上逆，多致不救，若入於心即死，急飲童便熱酒以和之。若患重而瘀血不易散者，更和以辛溫之劑。睡臥要上身墊高，不時喚醒，勿令熟睡，則血庶不上逆。故患重之人，多為逆血填塞胸間，或閉塞氣道咽喉口鼻不得出入而死。</p>
<p>《選粹》云：損傷，寒涼之藥一毫俱不可用，蓋血見寒則凝，若冷飲致血入心而死。惟看有外傷者，當內外兼治。若外無所傷，內有死血，唯用蘇木等治血之藥，可下者下之，雞鳴散是也。</p>
<p>《可法良規》云：凡損傷之症，外固不宜敷貼硝黃之類，恐濟寒以益其傷。若人平素虛弱，雖在夏令，內服亦不宜用鹹寒之品。蓋胃氣得寒而不生，運氣得寒而不健，瘀血得寒而不能行，腐肉得寒而不潰，新肉得寒而不生。若內有瘀血停滯，服以通之，不在此例。</p>

<h2>出血</h2>
<p>《正體類要》曰：若患處或諸竅出血者，肝火熾盛，血熱錯經而妄行也，用加味逍遙散，清熱養血。若中氣虛弱，血無所附而妄行，用加味四君子湯，補中益氣。或元氣內脫，不能攝血，用獨參湯，加炮姜以回陽；如不應，急加附子。或血蘊於內而嘔血，用四物加柴胡、黃芩。凡損傷勞碌、怒氣、肚腹脹滿，誤服大黃等藥，傷陽絡，則為吐血衄血，便血尿血；傷陰絡，則為血積血塊，肌肉青黯。此臟腑虧損，經隧失職，急補脾肺，亦有生者。</p>
<p>《急救方》云：跌壓傷重之人，口耳出血，一時昏暈，但視面色尚有生氣，身體尚為綿軟，則皆可救。但不可多人環繞，嘈雜驚慌，致令驚魄不復。急令親人呼而扶之，坐於地上，先拳其兩手兩足，緊為抱定。少頃再輕移於相呼之人懷中，以膝抵其穀道，不令泄氣。若稍有知覺，即移於素所寢處，將室內窗欞遮閉令暗，仍拳手足緊抱，不可令臥。急取童便乘熱灌之，馬溺更妙，如一時不可得，即人溺亦可，要去其頭尾，但須未食蔥蒜而清利者，強灌一、二杯，下得喉便好。一面用四物湯三、四倍，加桃仁、紅花、山楂、生大黃各二兩，童便一大鐘，如夏月加黃連四、五分，用流水急火，在傍煎半熟，傾入碗內，承於傷者鼻下，使藥氣入腹，不致惡逆，乘熱用小鐘灌服；如不受，少刻又灌。藥盡不可使臥，服藥之後，其穀道尤須用力抵緊，不可令泄其氣。如藥性行動，不可即解，恐其氣從下泄，以致不救也。必須俟腹中動而有聲，上下往來數遍，急不可待，方可令其大解。所下盡屬淤紫，毒已解半，方可令睡，至於所下盡為糞，即停止前藥。否則再用一二劑亦不礙。然後次第調理，不可輕用補藥。</p>
<p>王肯堂云：血溢血泄，諸蓄妄證，其始也，予率以桃仁大黃行血破瘀之劑，折其銳氣，而後區別治之，雖往往獲中，然猶不得其所以然也。後來四明遇故人蘇伊舉，閒論諸家之術。伊舉曰：吾鄉有善醫者，每治失血蓄妄，必先以快藥下之。或問失血復下，虛何以當。則曰：血既妄行，迷失故道，不去蓄利瘀，則以妄為常，曷以御之。且去者自去，生者自生，何虛之有。予聞之，愕然曰：名言也。昔者之疑，今釋然矣。</p>
<p>又云：凡九竅出血，用南天竺主之，或用血餘灰，自發為佳，次則父子一氣，再次男胎髮，又次則亂髮，皂角水洗曬乾，燒灰為末。每二錢，以茅草根煎湯調下。又荊葉搗取汁，酒和服。又刺薊一握，絞汁，酒半盞和服；如無生者搗乾者為末，水調三錢，均效。</p>
<p>訣曰：牆頭苔蘚可以塞，車前草汁可以滴，火燒蓮房用水調，鍋底黑煤可以吃。石榴花片可以塞，生萊菔汁可以滴，火燒龍骨可以吹，水煎茅花可以吃。</p>
<p>《急救方》注：治跌打損傷已死者，用男女尿桶人中白，煉紅投好醋七次，研末酒送二錢，吐出惡血即可救矣。慎不移動，動者不治。</p>
<p><u>泛注　</u></p>
<p>《可法良規》云：凡損傷之症，乃有形器物所傷，為筋骨受病，當從血論。蓋血得熱則妄行，其害甚速，須先伐肝火，清運火，砭患處，和經絡，則瘀血不致泛注，肌肉不致遍潰。次則壯脾胃，進飲食，生血氣，降陰火，則瘀血易於腐潰，新肉易於收斂，此要法也。若用克伐之劑，虛者益虛，滯者益滯，禍不旋踵矣。</p>
<p>《瀕湖集簡方》曰：治打僕瘀血滾注，或作潮熱者，用大黃末，薑汁調塗，一夜黑者紫，二夜紫者白也。</p>
<p><u>發熱　</u></p>
<p>東垣曰：晝則發熱，夜則安靜，是陽氣自旺於陽分也。晝則安靜，夜則發熱煩躁，是陽氣下陷入陰中也，名曰熱入血室。如晝夜俱發熱煩躁，是重陽無陰也，當急瀉其陽而峻補其陰。夫熱入血室之症，婦人經水適來，或因損傷，譫言如見鬼狀，宜小柴胡湯加生地主之。王太僕曰：凡熱來復去，不時而動，乃無根之虛火也，宜六君子湯加薑桂；不應，急加附子，或八味丸最善。</p>
<p>《可法良規》曰：凡損傷之症有出汗者，當審其陰陽虛實而治之。若陰虛陽往乘之，則發熱自汗，以甘寒之劑補其氣，如補中益氣湯之屬是也。若陽虛陰往乘之，則發厥自汗，以甘溫之劑助其陽，如參附湯之屬是也。亦有因痛甚而自汗者，宜清肝火為主。亦有因陰陽損傷而自汗盜汗者，宜補氣生血為主。若心孔一片汗出者，養其心血自止。</p>
<p><u>外邪　</u></p>
<p>陳文治曰：四季傷損，脈浮緊，發熱惡寒體痛，屬有外邪，宜發散以祛邪，春用五積散、香蘇飲；夏用香薷飲、五苓散；秋用藿香正氣散；冬用雙解散。若寒熱者，加柴胡、前胡、黃芩；頭痛加川芎、白芷，腳氣加白芷、檳榔、木香；有痰加半夏、陳皮，等分，蔥白煎服。</p>
<p>《可法良規》云：凡傷損之症，出血太多，或潰爛之際，收斂之後，如有寒熱頭痛，或自汗盜汗，煩躁作渴，或遍身疼痛，肢體倦怠，牙關緊急，痰涎上壅等證，是血氣虛而作變症也，當峻補元氣為主。大凡傷損症，有外邪乃乘虛而入，猶當補助，作外邪治之，禍不旋踵。</p>
<p>耀山云：傷損之證，內瘀居多，間有外感挾邪。陳氏之論，詳及四季，發明上下加減，雖為穩當，又宜參閱發熱門，擇方療治，更為穩妥，學者須細玩之。</p>
<p><u>昏憒　</u></p>
<p>《正體類要》曰：傷重昏憒者，急灌以獨參湯。雖內有瘀血，切不可下，急用花蕊石散內化之，蓋恐下之，因瀉而亡陰也。若元氣虛甚者，尤不可下，亦用前散以化之。凡瘀血在內，大小便不通，用大黃、朴硝；血凝而不下者，急用木香、肉桂末三、二錢，以熱酒調灌服，血下乃生。如怯弱之人用硝黃，須加肉桂、木香，假其熱以行其寒也。</p>
<p>《選粹》云：顛仆迷悶者，酒調蘇合香丸灌之。顛撲損傷者，宜逐其惡血，用酒煎蘇木，調蘇合香丸或雞鳴散；或活血和氣飲加大黃，入醋少許煎；或童便或蘇木煎酒調黑神散，烏藥順氣散亦可。</p>
<p>陳遠公曰：人從高墜下，昏死不蘇，人以為惡血奔心，誰知乃氣為血壅乎。夫跌僕之傷，多是瘀血攻心，然跌僕出其不意，未必心動也。惟從高墜下，失足時心必驚悸，自知必死。是先挾一必死之心，不比一蹶而傷者，心不及動也。故氣血錯亂，每每昏絕不救。治法逐其瘀血，佐以醒脾之品，則血易散而氣易開。倘徒攻瘀血，則氣閉不宣，究何益乎。用蘇氣湯，一劑氣疏，三劑血活全愈。</p>
<p>谷蘭云：未跌僕之時，心原不動；當跌撲之時，體先振動，心能不動乎。況心主血者也，心既不動，即跌撲亦無傷瘀之症矣。此說存參。</p>
<p>《可法良規》云：凡傷損之症，若皮膚已破，出血過多而昏憒者，氣血虛極也，大補為主；如不應，急加附子。若墜僕太重，皮膚不破，血未出而昏憒者，瘀血在內也，行散為主；如不應，速加酒炒大黃。若下後而有變症者，皆氣血虛極也，用十全大補湯。若因痛甚而自汗昏憒者，風木熾盛也，用清肝涼血之劑，則痛自定，汗自止；苟作外因風邪治之，促其危也。</p>
<p>又云：若傷損在頭腦並致命處所，昏憒良久，將至不起者，急用蔥白切細、杵爛、炒熟，罨患處，稍冷更以熱者罨之，多自醒矣。</p>
<p>《選粹》云：亦有血迷心竅，而致昏沉不知人事者，宜花蕊石散，童便調服。有神魂散失，一時不知人事者，唯在臨時斟酌。大抵跌僕之病，全在補氣行血。若自然銅之類，雖有接骨之功，而燥散之害，甚於刀劍，丹溪備言之矣。</p>
<p>谷蘭云：跌僕則肝必受傷，瘀血未去，而行補氣補血藥，恐血瘀未能散除，轉致不可救藥為患；惟虛弱者受跌撲之患，於逐瘀中兼補益，似為兩得。</p>
<p>《急救方》：治僕打猝死去，但須心頭溫暖，雖經日亦可救。先將死人盤屈在地上，如僧打坐狀，令一人將死人頭髮控放抵，用生半夏末，以竹筒或紙筒吹在鼻內；如活即以生薑自然汁灌之，可解半夏毒。</p>
<p>耀山云：按人尿性味鹹寒無毒，又名輪迴酒、還元湯，撲損瘀血在內運絕，加酒飲之，治折傷推陳致新，其功甚大。又《千金方》飲人尿治金瘡出血，杖瘡腫毒，火燒悶絕等症。又刺在肉中，人咬手指，金瘡中風，蛇犬咬傷，蜂蠆螫傷，浸洗得解，乃傷科中之仙藥也。周赧王四十五年，秦相范雎在魏時，觸杵魏齊，令獄卒自辰至未撲打，遍體皆傷，齒折脅斷，身無完膚，氣絕不動，屍卷葦薄之中。魏齊復令賓客便溺其上，勿容為清淨之鬼。至晚，范雎死而復甦，竟相秦國。又明季一官，貪墨誣害平人，解緩時，被受害人之子奪路報復父仇，攢毆已斃，又恨其貪汙，灌之以尿，後竟不死。觀此兩節，人尿實為久傳效驗之方，今多因穢惡而忽之，惜哉！但人命至重，生死在於呼吸之間，有此極便極賤、極效驗之藥，何不乘其昏絕不知而灌之；如灌之不入，急令人溺其頭面，使其入於七竅，未有不蘇者也。</p>
<p>《急救方》小注云：凡跌打縊溺至死，而心頭熱者，急用活雞冠血，滴入喉鼻之內，男左女右，男用公雞，女用母雞，刻下即蘇。又跌打氣絕，用仙人柴（即九里香葉）搗自然汁一杯，灌下即蘇。但心口有微熱，能受此藥，無有不活，名曰救名丹。</p>
<p><u>眩暈　</u></p>
<p>耀山云：血虛則陰虛，陰虛則發熱而渴，腹脹嘔吐必兼中氣太虛，故用補治如此。若僕打即時暈倒在地，此氣逆血暈也。按《急救方》補註：用血管鵝毛煅存性一錢，老酒調服即醒。又有真元不足，不能攝氣歸元而暈者，仍用補劑可也。如失血過多而暈者，用芎歸湯亦可。</p>
<p><u>煩躁　</u></p>
<p>東垣云：發熱惡寒，大渴不止，其脈大而無力，非白虎湯症，此血虛發躁也，宜用當歸補血湯治。裴先生云：肌熱煩躁，目赤面紅，其脈洪大而虛，此血虛也，若誤服白虎湯，輕則危，重則斃。</p>
<p><u>發喘　</u></p>
<p>耀山云：發喘之因，果多在肺，然按《內經》曰：有所墮恐，喘出於肝，度水跌僕，喘出於腎與骨。是當分別論治。</p>
<p><u>作嘔　</u></p>
<p>耀山云：按薛氏以藥傷胃而嘔者，脈必微細而遲，乃涼藥克伐而嘔也，急用六君子湯加歸、芍、附子。又有胃火作嘔者，症必口渴唇褐，系素有積熱，復飲辛熱藥，則火必更盛矣，以清胃散加山梔、黃芩、甘草治之頓止。如潰後作嘔，仍按出血過多方法調治。若投藥稍錯，非徒無益，而又害之。</p>
<p><u>口渴　</u></p>
<p>東垣云：發熱惡寒，大渴不止，其脈大而無力者，非白虎湯症，此血虛發躁而渴也，宜用當歸補血湯。</p>
<p><u>不食　</u></p>
<p>鍾峻云：江西一盜，肋斷呻吟不食，用生精豬肉四兩，糯米飯一碗，白糖四兩拌食，越日而愈，骨亦完好，想亦秘方也。愚按血閉嗜臥不食，虛者用巴戟湯，即四物加巴戟、大黃，補而行之；實者承氣、抵當攻之，如氣滯不食，必須枳、朮、香、砂以開之。</p>
<p><u>秘結　</u></p>
<p>耀山云：按《正體類要》若胸腹脹痛，大便不通，喘咳吐血者，瘀血停滯也，用當歸導滯湯通之。肚腹作痛，大便不通，按之痛甚者，瘀血在內也，用加味承氣湯下之。凡腹停瘀血，用大黃等藥，其血不下，反加胸膈脹痛，喘促短氣，用肉桂、木香末各二錢，熱酒調服，即下惡血。此因寒藥凝滯不行，得辛溫而血自行耳，專用苦寒諸劑者察之！</p>
<p>《可法良規》云：凡傷損之症，小便不利，若因出血，或平素陰虛火燥，而滲泄之令不行者，宜滋膀胱之陰。若因疼痛，或平素肺經氣虛，不能生化腎水，而小便短小者，當補脾肺之氣，滋其化源，則小便自生。若誤用分利之劑，復損其陰，禍在反掌。經云：氣化則小便出焉。又云：無陽則陰無以生，無陰則陽無以化。亦有汗出不止而小便短小者，汗止便自利，尤忌分利滲泄之劑。</p>
<p><u>瘀滯　</u></p>
<p>《可法良規》云：凡傷損之症，若棍僕重者，患處雖不破，其肉則死矣。蓋內肉糜爛，與瘀血相和，如皮囊盛糊然。其輕者，瘀血必深蓄於內，急宜砭刺，即投大補之劑。否則大熱煩躁，頭目脹痛，牙關緊急，殊類破傷風症，此瘀穢內作而然也，急刺之，諸症悉退。</p>
<p>又云：若不砭刺發泄，為患匪輕，是不知傷重而內有瘀穢者也，須急去之，即服補益之劑，以固根本，庶保無虞。古人謂瘀穢惡於狼虎，毒於蛇蠆，去之稍緩，則戕性命，非虛言也，醫者三複之！</p>
<p>耀山云：按《薛氏醫案》傷損腫痛不消，有瘀血在內，急宜砭之；否則瘥後數年，但遇天陰，仍作痛也，血屬陰，從其類也。</p>
<p><u>血虛　</u></p>
<p>《可法良規》云：凡傷損筋糜肉爛，膿血大瀉，陽亦隨陰而走，元氣喪敗，理勢必然，氣血不虛者鮮矣。智者審之！</p>
<p>又云：凡傷損之症，遍身作癢，或搔破如瘡疥，此血不營於肌腠，當作血虛治之；不應，兼補其氣。亦有愈後身起白屑，落而又起，或有如布帛一層，隔於肌膚，乃氣血俱虛，不能營於腠理，宜大補氣血為主；若作風邪治之，誤矣。</p>
<p>又云：凡傷損之症，肢體麻木，若口眼如常，腰背如故，而肢體麻木者，氣虛也。蓋血虛則氣虛，故血虛之人，肢體多麻木，此是陰虛火動而變症，實非風也，當用升陽滋陰之劑；若作風治，凶在反掌。</p>
<p>又云：凡傷損之症，貴乎大補氣血，則腐肉易於潰爛，瘡口易於生肌。每見治者，不知氣血虧損，往往多用十宣散，又以方內參、耆、芎、歸為補益之劑，嫌其中滿，多用不過錢許；以厚朴、防己為清毒之藥，因其行散，動輒倍加。此何益於氣血，而欲責其速潰、速斂、速生肌乎。無怪其煩躁作渴，飲食益少，因之不起者眾矣。</p>
<p>又云：凡傷損之症，不可輕服烏附等味，蓋其性味辛熱，恐助火以益其患。其平素有失血及血虛之人，雖在冬令，決不宜用，緣滯血得火而益傷，陰血得火而益耗，運血得火而妄行，患肉得火而益壞。若人平素虛寒，或因病而陽氣脫陷者，則用之不在此例。</p>
<p><u>作痛　</u></p>
<p>《正體類要》曰：肌肉間作痛者，營衛之氣滯也，用復元通氣散。筋骨作痛者，肝腎之氣傷也，用六味地黃丸。內傷下血作痛者，脾胃之氣虛也，用補中益氣湯。外傷出血作痛者，脾肺之氣虛也，用八珍湯。大凡下血不止，脾胃之氣脫也，吐瀉不食，脾胃之氣敗也，苟預為調補脾胃，則無此患矣。</p>
<p>又云：傷處作痛，若痛至四、五日不減，或一、二日方痛，欲作膿也，用托裡散。若以指按不復起者，膿已成也，刺去膿，痛自止也。</p>
<p>《可法良規》云：凡傷損之症，多有患處作痛。若出血過多而痛者，血虛火盛也，宜甘寒以降虛火，甘溫以養脾氣。若汗出多而痛者，肝木火盛也，宜辛涼以清肝火；甘寒以生肝血。若筋骨傷而作痛者，正而治之。肌肉傷而作痛者，調而補之。氣血逆而作痛者，順而補之。氣血虛而作痛者，溫而補之。熱而痛者清之，寒而痛者溫之。陰虛火痛者，用補陰之劑。脾氣虛而痛者，用補脾之劑。作膿而痛者托之，膿焮而痛者開之。切不可概用苦寒，以致復傷脾胃也。</p>
<p><u>筋攣　</u></p>
<p>《可法良規》曰：凡傷損之症，膿血大潰，血出太多，兼之惡寒發熱，焮痛口乾，肝血自然不足。況肝主筋，血去則筋無以養，筋無血養則燥，遂不能束骨而屈伸自如，故有拘攣之象。宜聖愈湯加柴胡、木瓜、山梔、麥冬、五味子治之；如作風證治，筋愈燥而血愈涸，攣豈能伸乎。</p>
<p>耀山云：人生兩肘、兩腋、兩髀、兩膕，謂之八虛。《內經》云：凡此八虛者，皆機關之室，真氣之所過，血絡之所遊，邪氣惡血，固不得住留，住留則傷經絡，骨節機關不得屈伸，故病攣也。倘有一處脫臼出髎，筋骨兩傷，豈無惡血邪氣乘虛而入耶。必須察其臟腑，利其關節，調其氣血，毋謂僅治其外，而忽其內也。又云：肺心有邪，其氣留於兩肘。考肺脈自胸行肘之俠白等穴，心脈自腋行肘之少海等穴。又云：肝有邪，其氣流於兩腋。考肝脈布脅肋，行腋下期門等穴。又云：脾有邪，其氣留於兩髀。髀者，髀樞也，考脾脈上循陰股，結於髀。又云：腎有邪，其氣留於兩膕。膕者，膝後曲處也，考腎脈上腨，出膕內廉。此皆患生於里而達於表，如外傷既成，內臟皆連，知此八虛者，用藥有所指歸矣。陳藏器曰：虛而勞者，其弊萬端，宜應隨病增減。如肺氣不足，加天門冬、麥門冬、五味子；心氣不足，加上黨參、茯神、菖蒲；肝氣不足，加天麻、川芎；脾氣不足，加白朮、白芍、益智；腎氣不足，加熟地黃、遠志、牡丹皮。此又不可不知也。</p>
<p>按舒筋法，治破傷後，筋攣縮不能伸者，用大竹管長尺余，兩頭各鑽一竅，系以繩，掛於腰間，一坐即舉足袞挫之，勿計工程，久當有效。《醫說》載：有人墜馬折脛，筋攣縮不能行步，遇一道人，教以此法，數日便愈如常。又《經驗全書》云：有人四肢無故節脫，但有皮連，不能舉動，名曰筋解，用黃柏酒浸一宿，焙為末，酒下三錢，多服方安。</p>
<p><u>骨痛　</u></p>
<p>耀山云：按《內經》曰：久立傷骨。又多食甘則骨痛而發落。又按薛氏云：骨痛之證，五更服和血定痛丸，日間用健脾胃生氣血之藥調理。若腫痛發熱，切不可服流氣等藥，外用蔥熨法，內服六君加黃耆、柴胡、桔梗、續斷、骨碎補之類，或補中益氣湯加麥冬、五味治之，氣血和而熱自退矣。《救急方》治渾身骨痛，用破草鞋燒灰，香油和，貼痛處即止。然外熨不若貼膏為當，雖骨痛至重，亦能緩之。</p>
<p><u>濕痰　</u></p>
<p>《可法良規》云：凡傷損之症，其患已愈而腿作痛，乃受患太重，膿血過多，瘡雖愈而肝經氣血尚未充也，故濕熱乘之，因虛而襲，以致作痛，非風證也，故用養血祛濕之劑以止痛。又云：腎水足，則肝氣充溢，經脈強健，雖有傷損，氣血不虧，而潰斂以時，氣路不至於上逆，痰涎何由而上壅。使腎氣一虛，水不能生木，則肝氣奔騰，逆而不下，痰氣亦隨之以升，非風痰也，乃水泛為痰也，宜六味地黃丸，或六味地黃湯加清肝之劑。</p>
<p>耀山云：此症作痛，分濕痰、濕熱、痰火、痰氣四症，總之痰因濕化，濕居其多，惟下部濕先受之，故多用下部藥也。</p>
<p><u>頭痛　</u></p>
<p>《可法良規》云：若頭目所傷作膿，焮赤作痛，膿出痛亦自止。其或頭痛而時作時止者，血虛而痛也，非傷也。若頭痛而兼眩者，火也，痰也，氣虛也，木旺也，不可作寒治也。</p>
<p>《醫學入門》云：血虛頭痛，自魚尾上攻而為痛，宜當歸補血湯、加味四物湯。眉尖後、近髮際，曰魚尾。若氣血俱虛頭痛，宜用加味調中益氣湯或安神湯皆效。</p>
<p>李東垣云：痰厥頭痛，每發時兩頰青黃，眩暈目不欲開，懶於言語，身體沉重，兀兀欲吐，此厥陰太陰合病也，宜服局方玉壺丸及半夏白朮天麻湯。</p>
<p><u>胸痛　</u></p>
<p>《丹溪心法》云：心痛脈澀者，有死血也。又云：作時飲湯水下作痛者有死血，桃仁承氣湯下之。又云：如平日喜飲熱物，以致死血留於胃口作痛，桃仁承氣湯下之，輕者韭汁、桔梗開之。</p>
<p>耀山云：按丹溪所論，乃瘀血在胃脘而作痛也。傷損之症，偶有血留胃脘，故引此以備參考。然手按仍痛，總以脈澀為據耳。</p>
<p>《醫林集要》：治血氣心痛，用沒藥末二錢，水一盞，酒一盞煎服。</p>
<p>《斗門方》：治血氣攻心不可忍者。用蓼根洗銼，浸酒飲。</p>
<p><u>脅痛　</u></p>
<p>《丹溪心法》云：惡血停留於肝，居於脅下而痛，按之則痛益甚。</p>
<p>《可法良規》云：蓋打撲墜墮惡血，宜砭不宜留。況十二經絡之血，生於心，藏於肝，統於脾。小腹與脅皆肝經部位，惡血蓄而不行，必生脹滿，疼痛自汗。法當破血生血，清厥陰肝經則善。</p>
<p>《醫學入門》云：瘀血必歸肝經，脅腋痛或午後發者，小柴胡合四物湯加桃仁、紅花、乳香、沒藥；大便堅黑者，桃仁承氣湯下之。</p>
<p>《選粹》云：跌僕脅痛，血歸肝也，破血消痛湯、復元活血湯、乳香神應散皆可參用。</p>
<p><u>腹痛　</u></p>
<p>《丹溪心法》云：其痛有常處而不移動者，是死血也，如打僕墜墮而腹痛，乃是瘀血，宜桃仁承氣湯加當歸、蘇木、紅花，入童便並酒，煎服下之。</p>
<p>《集驗良方》云：妊娠二、三月至七、八月，頓僕失跌，胎動不安，傷損腰腹痛；若有所見，乃胎奔上搶心，短氣，下血不止，用乾地黃、當歸、艾葉各二兩，阿膠、川芎各三兩，水七升，煎取二升半，作三服飲之。</p>
<p>丹溪云：凡婦人因閃挫傷胎，腹疼血崩，用八珍湯去地黃，加陳皮，水煎，沖縮砂末、炒黑五靈脂末服。</p>
<p>《指迷方》：治傷損胎動下血腹痛，用阿膠、艾葉、秦艽等分為末，每服五錢，糯米百粒煎湯送服。《小品方》無秦艽皆效。又云：虛人用四物湯加膠、艾、黃耆、甘草亦可。又竹茹酒亦治損胎腹痛，用青竹茹二合，好酒一升，煮三沸，三服即安。又方：用苧麻根二兩，銀五兩，酒、水各半煎服，亦效。</p>
<p>《產書》云：胎動胎漏皆能下血，胎動腹痛，胎漏腹不痛；胎動宜調氣，胎漏宜清熱；至於頓撲傷動胎氣，宜服膠艾安胎散。若孕婦三月前後，或經惱怒，或行走失足，跌損傷胎，腹痛腰脹，宜用安胎萬全神應散。</p>
<p>《胎產心法》云：妊娠凡遇傷僕觸忤，胎動不安，腹痛腰痠下墜，勢若難留者，用佛手散，胎未損服之即安，已損服之可下。醫者當細心詳審，圓機活法以施治，庶可保全八九。</p>
<p>《醫學入門》云：瘀血腹痛常有處，或跌撲損傷，或婦人經來及產後，惡瘀未盡下而凝滯，用四物去地黃，加桃仁、大黃、紅花治之。又血痛宜失笑散調之。</p>
<p>耀山云：按傷損瘀滯腹痛，非用下法不可；然既下之後，變生多症，此薛氏之論所以詳且確也。至於孕婦腹痛，非安胎不可，學者更宜潛心也。</p>
<p><u>腰痛　</u></p>
<p>薛氏云：腰為腎之府，雖曰閃傷，實有腎經虛弱所致，用杜仲、補骨脂、五味子、山茱、蓯蓉、山藥治之。</p>
<p>《許氏寶鑑》云：舉重勞傷，或挫閃墜落以作痛，亦謂之腎腰痛，宜獨活湯、乳香趁痛散、如神散、舒筋散、立安散。愚按《紫虛脈訣》云：腰痛之脈，多沉而弦，沉實閃肭。又《直指》云：血瀝則腰痛，轉側如錐之所刺，瘀血者，宜破血散瘀湯；瘀在足太陽、少陰、少陽者，川芎肉桂湯；瘀在腰脊者，地龍散；實者，桃仁承氣湯；久者，四物湯加桃仁、蘇木、酒、紅花，治之。</p>
<p><u>陰痛　</u></p>
<p>《正傳·脈法》云：肝脈沉之而急，浮之亦然，若脅下痛，有氣支滿，引小腹而痛，時小便難，若目眩頭痛，腰脊痛，得之少時有所墜墮也。</p>
<p><u>青腫　</u></p>
<p>經曰：氣主噓之，血主濡之。若傷損壅腫不退，色黯不消，元氣虛也。當以六君子湯加芎、歸，培養脾胃元氣，則青腫自消，瘀滯自行，膿穢自出。苟服克伐涼劑，虛其氣血，益腫益青益潰矣。</p>
<p>經曰：壯者氣行則愈，怯者則著而為病。若骨已接、臼已入，其腫不消者，此元氣怯弱也，怯弱所以不能運散瘀滯也。惟補益滋陰助陽，則運氣健旺，瘀血自散，腫痛自消。若投行氣破血之劑，則元氣愈怯，運氣愈滯，患在骨髀及血氣罕到之處，最難調治。</p>
<p>《啟玄》方：治打的青腫過腿面者，用鮮三七梗葉搗爛，敷在青處，瘀血即消如神。如無三七，即白蘿蔔搗敷亦效。</p>
<p>傷損臂臼脫出腫痛，《得效方》用生地搗爛，攤油紙上，次糝木香末一層，又攤地黃於上，貼患處，明日痛即止。</p>
<p>傷損愈後，肌膚青腫，用茄子種極大者，切一指厚，放瓦上焙乾為末，酒調二錢，臨臥服，一夜消盡無痕，此聖惠方也。</p>
<p>馮魯瞻曰：凡跌撲損傷，踒折閃挫，雖由外觸，勢必內傷，氣血凝滯，紅腫或青，痛不可忍。故始須用甘辛溫散，行氣破瘀，則痛自退，腫自消。如獨活、白芷、荊芥、防風、川芎、當歸、沒藥、古文錢、鹿角灰、赤芍、紅花之類，以水酒煎服，衝入童便尤妙。及外傷平復，猶宜滋補氣血筋骨之藥調之。</p>
<p>耀山云：都中聞一司員，偶因醉後跌傷頭面，紫赤青腫，礙見堂官。有人傳其一方，用熱開水浸布手巾，乘熱罨傷處，不計次數，冷則易之，青腫漸漸消散，次日就可上堂。按此即延壽方，治金瘡血出不止之意也。</p>
<p><u>難潰　</u></p>
<p>《可法良規》云：大抵脾胃主肌肉，腐潰生肌，全在脾胃，氣血兩旺。倘治者不識病機，失於補助，故有死肉不能潰而死者；有死肉已潰，新肉不能生而死者；有死肉潰，新肉生，瘡口久不能斂而死者。此三者，皆失於不預為補益耳。</p>
<p><u>不斂　</u></p>
<p>《可法良規》云：大抵傷損症候，內無瘀血，即當補脾。脾氣得補，則肉傷者自愈，肉死者自潰，新肉易生，瘡口易合，故云脾健則肉自生。切不可偏用寒涼克伐之劑，復傷元氣，致不能生肌收斂，雖行補益，緩不濟事矣。</p>
<p>耀山云：若誤服行氣之藥，而胸痞氣促，食少體倦，患處色黯膿清者，用六君子湯加桔梗。若誤服下血之藥而瀉，患處色黯者，用十全大補倍加肉桂、麥冬、五味子。若誤服寒涼之藥，反致患處腫痛，胸腹痞悶者，內服六君加木香、當歸，外敷回陽膏。若患處瘀血，誤不砭去，深蓄煩熱者，急宜砭出瘀血。若骨斷筋連，急不剪去，侵及好肉者，則不治。若誤感風邪，患處瘙癢者，用祛風消毒之劑。或腐而不痛，黑而不脫者，當大補元氣，庶可保生。此又治傷家腫潰之法也。</p>
<p><u>發痙　</u></p>
<p>《可法良規》云：凡傷損皮開肉綻，或瘀腫刺破之後，或有發熱惡寒，口乾作渴，怔忡驚悸，寤寐不寧，牙關緊急，目赤頭痛，自汗盜汗，寒戰咬牙，氣短喘促，遺尿手撒，身熱脈大，按之如無，身熱不欲近衣，或欲投水，或惡寒而脈浮大，重按細微，衣厚仍寒，此氣血挾虛使然也，皆宜參、耆、歸、術之類亟補之；如不應，速加附子，緩則不救。或手足逆冷，肚腹疼痛，瀉利腸鳴，飲食不入，呃逆嘔吐，此寒氣乘虛而然也，治法同前用藥。如有汗而不惡寒，或無汗而惡寒，口噤足冷，腰背反張，頸項勁強，乃血氣虛而發痙也，治法亦同前用藥，少佐見證之劑。痙症往往誤投風藥，以致不起者多矣。若果是破傷風證，亦系元氣耗損，外邪乘虛而致，皆宜峻補，先固其本為善。倘妄投風藥，禍如反掌，治者不可不察。</p>
<p>耀山云：痙者，筋勁強直而不柔和也。痓病者，口噤角弓反張是也。痓與痙，通稱破傷風。《正傳》云：破傷風者，初因擊破皮肉，視為尋常，殊不知風邪乘虛而襲，變為惡候。其症寒熱間作，甚則口噤目邪，身體強直，如角弓反張之狀，死在旦夕。《回春》云：痓病者，是難治也。有跌磕打傷，瘡口未合貫風者，亦成痓，此名破傷風也。脈浮而無力，太陽也；長而有力，陽明也；浮而弦小，少陽也。《綱目》云：初覺瘡腫起白痂，身寒熱，急用玉真散，薑汁和酒調服，以滓敷瘡口上；若口噤，用童便調服。河間云：背後搐者，太陽也；身前搐者，陽明也；兩旁搐者，少陽也。又曰：太陽宜汗，陽明宜下，少陽宜和，若明此三法而不中病者，未之有也。又曰：在表則以辛熱發散之，宜防風湯、羌活防風湯；在半表半裡，以辛涼和解之，宜羌麻湯；在裡則以寒藥下之，宜小芎黃湯、大芎黃湯。其外敷仍用蔥熨法神效。此家傳秘授經效之方也。</p>

<h2>論攻利</h2>
<p>《儒門事親》云：病生之因，其有四焉。有不因氣動而病生於外者，謂墜墮斫射，剝割撞僕，落馬墮井，打僕閃肭損傷，湯沃火燒，蟲蛇螫毒之類，四因之一也。有獨治內而愈者，有兼治內而愈者；有獨治外而愈者，有兼治外而愈者；有先治內後治外而愈者，有先治外後治內而愈者；有須解毒而攻擊者，有須無毒而調引者。方法所施，或重或輕，或緩或急，或收或散，或潤或燥，或軟或堅。方士之用，見解不同，各擅己心，好丹非素，故復問之。</p>
<p>凡落馬墜井，因而打僕，便生心恙，是痰涎散於上也，宜三聖散空心吐之；如本人虛弱瘦瘁，可用獨聖散吐之；後服安魄之藥，如定志丸之類，牛黃、人參、硃砂之屬。</p>
<p>凡跌打損傷，車碾杖瘡，腫發焮痛，可用禹功散、通經散、神佑丸、導水丸等藥，峻瀉一、二十行，則痛止當癢。痛屬夏，癢屬秋，秋出則夏衰矣。蓋此痛得之於外，非其先元虛弱。古人云：痛隨利減，病去如歸。此法得之唯陽高大明、侯德和，使外傷者不致癃殘跛躄之患。</p>
<p>凡一切刀器所傷，有刀箭藥，用風化石灰一斤，龍骨四兩，二味為細末，先於端四日，採下刺薊菜，於端午日五更，合杵臼內搗和為團，作餅子若酒麴，中心穿眼，懸於背陰處陰乾，搗羅為末，於瘡口上摻貼大效。《內經》云：先治外而後治內是也。</p>
<p>凡一切蟲獸所傷，及杖瘡焮發，或透入里者，可服木香檳榔丸七八十丸或百餘丸，生薑湯下，五七行，量虛實加減用之。又犬咬蛇傷，不可便貼膏藥及生肌散之類，先當用導水丸、禹功散之類，可瀉毒氣，或瀉十餘行，即時痛減腫消，然後可用膏藥及生肌散之類敷之。《內經》云：先治內而後治外是也。</p>
<p>耀山云：按張氏專門大攻大利，薛氏專用大溫大補，何二公用藥相反如此？有言南方宜補，北方宜攻。李士材又引《內經》徵四失論言富貴人宜補，貧賤人宜攻。故二公之收效若一耶。然而讀張氏之論，亦有調引之法；而薛氏之方，未嘗無攻利之劑也。是以僅錄張氏之法，而原方繁多不錄。</p>

<h2>辨生死</h2>
<p>《醫宗金鑑》曰：十不治症：一顛仆損傷入於肺者；一肩內耳後傷透於內者；一左腋下傷透於內者；一腸傷斷者；一小腹下傷內者；一傷破陰子者；一老人左股壓碎者；一症候繁多者；一血出盡者；一脈不實重者。</p>
<p>《可法良規》云：若元氣虛怯，邪氣滋盛，潰爛延上必死；不潰而色黯者，亦死。手足心背受病，色黑者多死；手足節髀損去者不死。故傷損骨斷筋皮尚連者，急剪去之；若肉被傷欲去尚連者，亦剪之；不爾，潰及好肉，怯弱之人多致不救。如手足與指損去一節，不死可治；惟去其半節，留其半節，或骨斷筋皮相連者，最為難治。</p>
<p>陳氏《決疑秘法》云：頂門破而骨未入內者可治，骨陷入者不治。腦骨傷損在硬處者可治，若在太陽穴及骨縫軟處不可治。頭骨陷入內，未甚者可治，囟門出者死。兩目俱傷者可治，鼻骨山根傷者可治，斷者死。耳後受傷入內者不治。氣出不收，眼開者不治，閉者可治。氣管傷者死。食管全斷者不治，未全斷者可治。男人兩乳受傷，急救可治；女人兩乳傷重者必爛不治。胸膛紅腫青色未裹心者可治，紅既裹心者不治。胸腹受傷出黃水、黑水、血者，十不治一。若正心口青色者，七日死；調醫三日後，轉黃色者可救，不轉者必死。食飽受傷，三日不死者可救。兩脅有傷，血入五臟者難治。腸出，不臭者可治，臭者死；腸未斷者可治，斷者不治。腸出，色紫黑者不治，色不變者急治可愈。夾脊斷者不治，腰歪傷重而自笑者不治，傷輕雖笑可治。小腹受傷吐屎，眼直視者不治；傷輕眼未直視，雖吐屎無害也，可治。孕婦小腹受傷，犯胎者不治。孕婦腰傷，其胎必下，不可救。小肚受傷，不分男女皆不治。陰囊有子可救，若腎子受傷，入小腹者不治。陰囊破開，腎子懸系者可治，若腎子傷碎者不治。尾閭骨斷者不治。兩手受傷，脈骨斷者不治。兩足腿骨斷者難治。脈大而緩，即四至亦不治。魚際骨有脈者可救。諸骨受鐵器傷，五日外流黃水通內者不治。如跌撲及破傷風，頭目青黑，額汗不流，眼小目瞪，身汗如油，謂之四逆，均屬不治。</p>
<p>按趙除瑛秘本，有驗症五法，可取以為初學之津梁，故附於末：</p>
<p>一看兩眼，眼白有血筋，腹內必有瘀血，筋多瘀多，筋少瘀少，兩眼活動有神易治，兩眼無神難治；二看指甲，以我指按其指甲，放指即還原血色者易治，少頃後還原者難治，紫黑色者不治；三看陽物不縮可治，縮者不治；四看腳趾甲紅活者易治，色黃者難治，看與指甲同；五看腳底紅活者易治，色黃者難治。</p>
<p>《金鑑》云：凡傷天窗穴，與眉角腦後，臂里跳脈，髀內陰股，兩乳上下，心下鳩尾，及五臟六腑之俞者皆死，腦後出髓而不能語，目睛直視，喉中沸聲，口急唾出，兩手妄舉者亦死。</p>
<p>訣曰：金傷諸損眼暈青，定主身亡難救命，若見氣喘與呃塞，且看一七內中應。</p>

<h2>用藥總論</h2>
<p>耀山曰：傷科血病，四物（湯）為君，失亡補益，瘀滯攻行。蓋聞內蓄不散，治分三部：上宜犀角地黃（湯），中必桃仁承氣（湯），瘀在下者，抵當（湯）通利。外感有邪，醫隨四季：春用五積（散）、香蘇（飲）、夏以五苓（散）、香薷（飲），秋擬（藿香）正氣（散），冬則雙解（散）。且如損傷發熱，須別陰陽，陰虛者當歸補血（湯），陽衰者（四）君子（湯）、（加）附（子）、（生）姜。挾表體疼，虛實宜詳，形實者疏風敗毒（散），氣弱者羌活乳香（湯）。初患之時，審症擇方，瘀凝昏憒者花蕊石（散），痰迷心悶者蘇合香（丸），血瘀泛注者蔥熨法，亡血過多者聖愈湯，煩躁而不眠者加味歸脾（湯），眩暈而嘔脹者六君子湯。三、五日間，變症多端，喘咳者參蘇二味（參蘇飲）、十味（參蘇飲），口渴者竹葉石膏（湯）、（竹葉）黃耆（湯），血熱發躁仍用（當歸）補血（湯），氣虛下陷（補中）益氣（湯）升提，胃火作嘔（加）梔芩清胃（散），寒涼克伐六君（子湯）補脾。過此之後，更宜調理，嘔吐黑汁兮百合（散加味）、芎歸（湯），肝火熾盛兮（加味）逍遙（散）加劑，血蘊內嘔兮四物（湯加）柴（胡黃）芩，元氣虛脫兮人參獨（參湯）味。或以筋骨作痛，肝腎之傷，六味地黃（丸）；肌肉作痛，榮衛之滯，復元通氣（散）。火盛而痛，（小）柴胡（湯、加）梔（子、黃）連；濕痰為祟，二陳（湯）加味。頭痛兮（當歸）補血（湯）、安神（湯）、（補中）益氣（湯）；胸痛兮四君（子湯）、四物（湯）、歸脾（湯）。然腰痛者，瘀留血瀝，破血（散）、舒筋（散），虛者四物（湯），實者桃仁（承氣湯）。而陰疼者，白津便淋，小柴胡（湯）應；肝經鬱火，加（山）、梔（黃）連、（生）軍。即如脅肋脹疼，分其通塞，不通者瘀聚，復原活血（湯）；便通者肝火，（小）柴胡（湯）、梔（子）、青（皮）。下後腹痛，察其陰陽，陽傷者惡寒，十全（大）補（湯）濟；陰傷者發熱，四物（湯）、（加白）朮、（人）參。若夫秘結者潤腸（丸）、導滯（湯），血虛便秘者玉燭（散）調和，作瀉者清暑（益氣湯）、清燥（湯），腎衰脾泄者破故（紙）、肉果。青腫不潰皆虛弱，外熨內托；新肉不生因虧乏，峻加溫補。至於破傷風分表裡，發痙又辨柔剛，柔飲白朮（湯）而剛則葛根（湯），表服（羌活）防風（湯）而里用（大小）芎黃（湯），羌麻（湯）療表裡之和劑，玉真（散）醫是症之總方。始終秘訣，養血理傷。短句義難盡悉，當於長篇究詳。</p>
<p>傷損論曰：去傷損必須求其源，看其病之輕重，審其損之淺深。凡人一身之間，自頂至足，有斫傷、打傷、跌傷及諸刃傷者皆有之。凡此數證，各有其說，有當先表裡而後服損藥者，為醫者當循其理治之。然醫者意也，不知意者，非良醫也。或者稟性愚昧，不能觀其證之輕重，明其損之淺深，未經表裡，先服損藥，誤人多矣。有因此痰涎上攻，有因此大小臟腑閉結，差之毫釐，謬以千里。所謂醫不三世，不服其藥，信哉。</p>
<p>劉宗厚曰：打撲金刃損傷，是不因氣動而病生於外，外受有形之物所傷，乃血肉筋骨受病，非如六淫七情為病，有在氣、在血之分也。所以損傷一證，專從血論，但須分其有瘀血停積或為亡血過多之症。蓋打撲墜墮，皮不破而內損者，必有瘀血；若金刃傷皮出血，或致亡血過多，二者不可同法而治。有瘀血者，宜攻利之，若亡血者，兼補而行之。又察其所傷，有上下、輕重、淺深之異，經絡氣血多少之殊，唯宜先逐瘀血，通經絡，和血止痛，然後調氣養血，補益胃氣，無不效也。</p>
<p>《證治準繩》用藥訣云：凡樹木壓或自高處顛下者，此等傷皆驚動四肢五臟，必有惡血在內，專怕噁心，先用清心藥、打血藥及通大小腸藥次第服之，臨服時加童子小便入藥內立效。如專用通利大小腸，恐作隘塞，利害之甚。要先清心而後通利，自然無昏悶煩躁，無惡血汙心等患，以次用止痛藥服之即止，或二十五味藥加減用之。</p>
<p>凡跌撲傷、刀石傷、諸般傷至重者，先服清心藥，次服童子小便，再服去血藥。或被傷而血未結，打從瘡口出者；或結在內，用藥打入大腸，即時瀉出者；或結在外，用藥打散者；或歸上膈，打從口中吐出者；則用薑湯、燈心湯調二十五味藥服之，薄荷湯亦可。</p>
<p>凡打撲傷損，折骨出臼者，便宜用何首烏散服之。若發熱體實之人，用疏風敗血散。若惡寒體弱之人，用五積交加散。後用黃、白、紅、黑四種末子及活血丹、補損丹等藥調理。</p>
<p>凡折骨出臼者，不宜用下瘀血之藥及通利大便之藥，只宜疏風順氣，和血定痛，補損而已。</p>
<p>凡打撲砍磕，從高跌墜，瘀血攻心，不能言語者，用獨聖散及破血藥，下去瘀血，即能言語，次宜臨證詳治之。</p>
<p>凡打撲跌墮，傷於脅下，瘀痛不可忍者，先用破血藥及獨聖散，次以復元活血湯調理。</p>
<p>凡打撲跌墮，損破皮肉，紫黑色者，先用破血藥，次用獨聖散，又次用清上瘀血湯、消下破血湯。</p>
<p>凡打撲損傷，嘔吐惡血汁者，先用獨聖散，次用百合散，又次用生料四物湯加硬骨牛乳根，加減調理。</p>
<p>凡打撲刀斧斫磕等傷，破皮損肉，血出去多，頭目眩暈者，先用川當歸、大川芎煎水服，次用白芍藥、熟地黃、續斷、防風、荊芥、羌獨活、南星煎水，加童便和服則可，不可用酒。如血出少，內有瘀血者，以生料四物湯一半，獨聖散一半，煎水服。未破皮肉者，加酒和服。</p>
<p>凡打撲刀斧斫磕，成破傷風，痛不可忍，牙關緊急，角弓反張者，用生南星、防風等分為末，米泔調塗患處。又用熱酒、童便各半調，連進三服即蘇，次用疏風敗毒散調治之。</p>
<p>凡刀斧斫磕傷，破陰囊皮者，先服獨聖散，次服止痛藥。內有瘀血者，用破血藥。</p>
<p>凡刀斧傷破肚皮腸出者，先用清心藥加童便和服，及用獨聖散，次用止痛藥。如血出過多，先用當歸、川芎，水煎服；次加白芍藥、熟地黃、羌活、獨活、防風、荊芥、白芷、續斷，水煎，調乳香、沒藥末和服之。</p>
<p>凡傷損藥中，不可缺乳香、沒藥，此藥極能散血止痛。</p>
<p>凡跌磕閃肭脫臼者，不可使用自然銅，久後方可用之。折骨者宜使用之，若不折骨不碎骨則不可用，修合諸損藥皆要去之。用自然銅必用火煉，然新出火者，其火毒與金毒相煽，夾香熱藥毒，雖有接骨之功，其燥散之禍甚於刀劍，戒之！</p>
<p>凡墮傷內有瘀血者，腹脹滿而痛，或胸脅滿，宜用破血藥、清心藥以通利之，自然而愈。痛不止者，用獨聖散服之效驗。如更不止者，用止痛藥服之大效。</p>
<p>凡刀刃所傷，從高跌墜，皮肉破損，出血過多，此宜止痛兼補為先，宜當歸補血湯。若皮肉不破損者，宜作瘀血停積治之，先以獨聖散，次以破血藥，隨證加減。續後痛不止者，用止痛藥調理。</p>
<p>凡損傷，妙在補氣血，俗工不知，惟要速效，多用自然銅，恐成痼疾也。初傷只用蘇木活血，黃連降火，白朮和中，童便煎服。在下者可下瘀血，但先須補托。在上者宜飲韭汁，或和粥吃。切不可飲冷水，血見寒則凝，但一絲血入心即死。</p>
<p>凡老人墮馬，腰痛不可轉側者，先用蘇木、人參、黃耆、川芎、當歸、陳皮、甘草煎服，次以前藥調下紅、黑、黃、白四末子及活血丹、補損丹調理。</p>
<p>凡杖打閃肭疼痛，皆滯血證，宜破血藥下之。痛不可忍，則傷血故也，宜清心藥。更不止，用獨聖散。</p>
<p>凡損傷，大小便不通，未可便服損藥，蓋損藥性熱，又用酒服，澀秘愈甚。看患人虛實，實者用破血藥加木通，尚未通，加芒硝；虛者以四物湯加枳殼、麻仁、桃仁滑腸之類；虛人不可下者，四物湯加穿山甲。</p>
<p>凡服損藥，不可吃冷物、魚、牛肉，若吃牛肉，痛不可治，瘟豬肉、母豬肉尤不可吃，切記之。</p>
<p>凡損藥內用酒者，不問紅白，只忌灰酒，且重傷不可使用酒，恐反發氣，或作腹脹胸滿，切記切記！</p>
<p>凡損藥其性必熱，能生氣血以接骨也，更忌用火炙。如敷藥不效，服藥亦不效。</p>
<p>凡損傷不可服草藥，服之所生之骨必大，不得入臼，要相兼君臣藥服則可，加溫補氣血藥同煎更妙。</p>
<p>凡打傷在兩脅、兩胸、兩肚、兩肋，卻用通氣通血清心藥。又看病人虛實不同，虛者通藥須兼補藥放緩，且用貼藥在前，通藥在後。</p>
<p>凡用通藥反不通者，後用順氣藥，腹肚全無膨脹，服而得安，此為不幹血作，乃是氣閉不通。如腹肚果有血作，一通便下，亦須以順氣兼之，庶胸膈肚腹不致緊悶，氣順後卻用損藥。</p>
<p>凡人醉臥跌床下，胛背疼痛，不可屈伸，用損藥不效，服黑豆酒數日愈，豆能下氣，所損輕也。</p>
<p>凡小兒跌凳腳上，用蘿蔔子煎服愈，亦順氣也。</p>
<p>凡損傷，整時先用熱酒磨草烏服一、二盞方整。整時氣絕，用蘇合香丸須蘇；未蘇以黑豆、防風、甘草、黃連水煎冷服，或苡草擂水服，不可用鹽解之。若吐，加生薑汁。</p>
<p>上皆專科用藥之法，人有虛實，不可一律而施。即如末條，整時先服草烏酒，整而氣絕，灌以蘇合香丸走竄之劑，未蘇，又以冷藥灌之。若施之氣虛之人，慘於加刃矣。惟薛氏法，量證施治，專於內補，可以遵用，學者宜審焉。</p>
<p>耀山曰：內治既明，外敷宜晰。皮開肉綻兮封口（藥），血流不止兮止血（藥）。脈筋斷兮白膠香（散），骨髎脫兮（跌打）膏藥貼。萬靈（膏）、接骨（膏），治骨節之碎折；消腫（膏）、抑陽（散），治身體之腫凸。堅硬不消，須用回陽（膏）；肌肉不生，還須太乙（膏）。若逢腦殼破損，混元（膏）、定痛（膏）；如遇眼目青腫，（生）地黃（散）可滅。顴腮損傷者含以蓽茇（散），嘴唇破碎者塗以截血（膏）。蒺藜固齒（散），療跌磕之鬥齒；雞（子）皮含護，醫咬割之斷舌。鼻傷者以塞鼻（丹），耳落者以耳綴（法）。咽喉自刎破，忙將線縫合；雜以雞絨毛，外撣花乳石（散）。腹破腸出者，縫以麻縷、桑皮；囊開丸脫者，貼以（喜子）壁錢、（金毛）狗脊。箭刺入肉，鼠腦、（象）牙屑；破傷風患，蔥熨（法）須熱。杖瘡臀黑，切忌寒涼敷罯；夾棒踵傷，法要破瘀活血。百症千方，概難盡說；謬敘俚言數句，聊為初學子訣。</p>
<p>《證治準繩》云：凡腦骨損傷，皮不破者，用退腫膏敷貼。若皮破肉損者。先用封口藥撣之，外以散血膏貼之。若皮破血流者，用止血藥撣之。</p>
<p>凡面目傷青黑色，用一紫散敷，或紫金膏貼。傷重者，用補肉膏敷貼。</p>
<p>凡兩鼻孔跌磕，傷開孔竅者，用封口藥撣傷處，外以散血膏貼之退腫。</p>
<p>凡耳斫跌打落，或上脫下黏，或下脫上黏，內用封口藥撣，外用退腫膏敷貼。</p>
<p>凡唇口，刀斧斫磕跌墮等傷，破皮傷肉者，先用桑白皮縫合，卻以封口藥塗敷；次以散血膏敷貼，牽住所封之藥，不令開落。或用雞子黃油塗，次以金毛狗脊毛，薄撣於外，仍以封口藥塗抹之，次日以茶清洗淨，撣末藥，一日換一次，至八日剪去線，又撣末藥。</p>
<p>凡腮頰顴，刀斧斫磕，跌墮等傷，破皮肉者，用封口藥填瘡口，外以散血膏敷貼。或跌磕損傷，未破皮肉者，用補肉膏敷貼。</p>
<p>凡戲耍誤割斷舌頭，未全斷者，用封口藥敷，一日換二、三次，七、八日全安。</p>
<p>凡齒牙被人打跌砍磕落者，只用補肌散撣之。</p>
<p>凡牙斷跌磕斫傷，牙齒未動者，用芙蓉膏末撣。如齒動者，用蒺藜根燒存性為末，常揩搽之即牢。</p>
<p>凡割喉者，以絲線先縫內喉管，後縫外頸皮，用封口藥塗敷，外以散血膏敷貼。</p>
<p>凡手指跌撲打碎者，用雞子黃油潤，次撣封口藥末，外以散血膏敷貼。若咬傷者，用澤蘭散敷之。</p>
<p>凡胸脯骨有拳槌傷，外有腫，內有痛，外用定痛膏敷貼，內服破血利藥。</p>
<p>凡肚皮裂開，用麻縷為線，或捶桑白皮為線，以花蕊石散敷線，須從裡面縫，外面皮不可縫，留以撣藥，用封口藥塗，或補肌散以雞子清調敷。</p>
<p>凡陰囊被人扯脫者，用雞子黃油塗，以金毛狗脊毛薄攤於上，次撣封口藥，又用散血膏敷貼。</p>
<p>凡陰囊處有青黑紫色腫者，用補肉膏敷貼，或用定痛膏加赤芍、草烏、良薑、肉桂各少許打和，用韭汁搗爛，同藥敷貼。如無韭汁，蔥汁亦可。仍服利小便藥。</p>
<p>凡骨碎斷或未碎斷但皮破肉損者，先用補肌散填滿瘡口，次用散血膏敷貼。如骨折者，要接骨膏敷貼夾縛。或皮破骨斷者，用補肉膏敷貼。</p>
<p>凡筋斷者，用楓香以金沸草搗取汁調塗，次用理傷膏敷貼。</p>
<p>凡用夾，須攤藥於紙上平，兩頭要帶薄搭頭，搭得不厚不礙肉。平坦者，無高低不均之患。若四岸高低不均，此上便有空缺不著肉處，即生泡。切記之。</p>
<p>凡敷貼接骨等膏藥，仍疼痛不止者，可加乳香、沒藥、楓香、白芷、肉桂、南星、獨活等味，各量加些於藥中敷貼，其肉溫暖，疼痛即住。如刀斧傷者，去肉桂、南星、獨活。</p>
<p>凡刀斧傷者，看輕重用藥。如輕者，只用補肌散撣；重者，宜用封口藥撣，緊縛住；如傷最重者，外用散血膏敷貼。</p>
<p>凡被杖打腫痛而未破者，先用稜針挑出黑血，若已破者不須出血，只用撒地金錢、山薄荷、地薄荷、生地黃、豬𧰷嚀葉、澤蘭葉、血見愁，搗爛敷貼。</p>
<p>凡治刀斧金刃打撲，從高跌墮，皮肉破損而傷重者，中間用封口藥撣破處，或補肌散亦可，其四邊用截血膏箍住，使新血不來潮，此秘傳之妙訣也。凡用敷貼等草藥，皆要臨時生採新鮮者用之有效。如出遠路、討不便者，可為末用，然終不及生採者為勝。如無草藥討處，就用君臣藥接縛之。</p>
<p>愚按：草藥皆本草所載，故並錄無遺。倘於窮鄉僻壤，亦可選而用之，其效一也。</p>

<h2>損傷總論</h2>
<p>耀山曰：凡久視則傷血，久臥則傷氣，久坐則傷肉，久立則傷骨，久行則傷筋，喜則傷陽，怒則傷肝，悲則傷肺，驚則傷膽，醉飽入房則傷精，竭力勞作則傷中，此皆無形之傷。而跌打損傷，則有形之傷也。然傷雖有形，而亦有隱於無形。即如亡血瘀血之分，內因外因之別，已難混同；且外遇跌撲諸傷之異，內有七情兼損之殊，更宜體究。若不條分縷晰，稍存疑似之見，措手殊難。如登高墮下，其人必驚，驚則氣陷；爭鬥相打，其人必怒，怒則氣逆；戲耍跌撲，其氣必散；極刑鞭撲，其氣必結；拳手之傷，肌損血滯而輕；金石之傷，骨折筋斷而重；甚至湯燙皮脫，火燒肉焦，雖傷之小焉者，亦不可不立有專條。余不揣鄙陋，詳考群書，類分諸傷，先敘所受之因，後引已驗之方，此集雖醫家之末技，亦治傷之首務也。</p>
<p><u>金刃傷　</u></p>
<p>耀山曰：凡金刃傷，失血之症也，有輕重淺深之分。如出血太多，脈宜安靜，最忌躁促脈。經云：金瘡出血，沉小者生，浮大者死。傷口平置，不辨可明；若傷深而重者，症必大脈已傷，血飛筋斷也。宜服八珍、十全等湯補之，甚者獨參湯。素有熱者，兼以涼血；因有怒者，兼以清肝；煩渴昏憒者，定心補脾；筋骨拘攣者，滋腎補血。其傷處必將自己小便淋洗，如傷久欲換敷藥，亦以小便洗之，功能止痛不潰，即見水亦無礙。如輕淺之傷，血止即痊，後雖潰爛，亦無大害。所集止血藥方，備述以便選用。</p>
<p>《集證》云：凡殺傷不透膜者，以乳香、沒藥各一皂子大研爛，以小便半盞，好酒半盞，同煎半溫服，然後用花蕊石散或烏賊魚骨為末，敷瘡口上即止。昔推官宋瑑，定驗兩處殺傷，氣偶未絕，亟命保甲取蔥白，熱鍋炒熱，遍敷傷處，繼而呻吟，再易蔥白，傷者無痛矣。</p>
<p>《陳氏選粹》云：凡臨陣致傷，輕重不同。諸集載方皆治其外者，已試之法以塗抹固無不可；但交鋒之人，呼吸生死，兼之被傷，神思不免昏迷。若出血過多因至憒亂者，則大劑參、耆、歸、朮、芎、地之藥，必須多服，安得專治其外而忘其內者。若至變症，又當於惡候各條參酌焉。</p>
<p>《延壽方》：治金瘡出血不止，用冷水浸之即止。或用熱湯，以故布蘸湯罨之，亦止。</p>
<p>《梅師方》：治血出不止，取蔥炙熱，挪汁塗之即止。如腫痛者，用生牛膝搗敷立止，又用桑柴灰篩細敷之。若出血甚多而冷者則殺人，宜炒鹽三錢，酒調服之。</p>
<p>《異苑方》：用活鹿草，即土牛膝葉，治金瘡折傷敷之效，一名地菘。</p>
<p>《廣利方》：用白芍藥一兩，熬黃為末，用酒或米飲服二錢，漸加之，仍以末敷瘡口即止，良驗。或用麒麟竭末敷之立止。如刀斧損傷者，用新桑皮燒灰，和馬糞塗之瘡上，數易，亦可煮汁服之。</p>
<p>《集簡方》：治刀斧傷，用獨殼大慄研敷，或倉卒嚼爛亦可，或荷葉燒研搽之，或用韭汁和風化石灰，日乾為末敷之效，或用香爐灰罨之，止血生肌。</p>
<p>《事林廣記》：治金瘡出血，用雲母粉敷之，妙絕。</p>
<p>《積德堂方》：用寒水石、瀝青等分為末，乾摻之，勿犯水。寄園云：瀝青同半夏末之，且不痛而無瘢。</p>
<p>《醫學集成》：治金瘡，以石炭研末厚敷之。瘡深不宜速合者，加滑石摻之。石炭，即今之煤石也。</p>
<p>《救急方》：用白礬、黃丹等分為末，敷之最妙。</p>
<p>《永類鈐方》：治血出不止，以嫩紫蘇、桑葉同搗貼之。</p>
<p>孟詵《食療》：治出血不止，用小薊苗搗爛塗之。</p>
<p>《袖珍方》：治金瘡痛不可忍者，用籬上婆婆針袋兒，擂水服，仍以渣罨瘡口立效。</p>
<p>《筆峰雜興》：治金瘡，用何首烏末敷之即止，神效。</p>
<p>《儒門事親》：治金瘡血出，用白薇為末貼之。</p>
<p>藺氏《經效方》：治金瘡血出不止，用生面干敷之，五、七日即愈。</p>
<p>《百一方》：治金瘡出血，蔥白、砂糖等分研封之，痛立可止，更無瘢痕也。</p>
<p>崔元亮方：用石榴花半斤，石灰一升，搗和陰乾，敷之立止。</p>
<p>唐瑤《經驗方》：用瀝青少加生銅屑，摻之立愈。</p>
<p>《急救方》：治刀傷血出不止，用紫藤香，即降香佳者，瓷瓦刮下，石碾碾細，敷之血即止，又無瘢痕。若刀刃傷痛不可止，用好雞骨炭，擲地上鏗然有聲者，與松香透明者，等分捶成一塊，再多用老韭菜汁拌入陰乾，如此拌捶三、四遍後，為細末收貯，上巳、端午、七夕等日製之，敷患處痛立止，完好如常。若血流不止，用千年石灰摻之，或生半夏末研敷，或用乾麵和白糖撒傷處皆效。</p>
<p>《食物本草》：治刀杖金瘡，用天鵝絨毛貼之，立愈。</p>
<p>《扶壽方》：用生薑嚼敷，次日即生肉，甚妙。</p>
<p>《濟急方》：用白芨、煅石膏等分為末摻之，亦可收口。</p>
<p>《勝金方》：用燈心嚼爛敷之，立止。</p>
<p><u>墜墮傷　</u></p>
<p>耀山曰：墜墮傷，從高而下也，或登樓上樹，臨岩履險，偶一踏空而墮者，或遇馬逸車覆而墜者。若身無大傷，氣必驚亂，血必淤滯，一時昏暈者，將患者扶起，或敲其背而振之，或抱其腰而聳之，使其血和氣通，人漸甦醒，然後服藥調養則痊。若逢撞碰癮痞，身有傷痕者，按其部位穴道而治之。若內傷致命，口眼耳鼻，必然出血，死在須臾者，急灌童便救之。如骨折筋斷者，方集本條，可選擇通用也。</p>
<p>《顧氏秘書》云：從高墜下，瘀血攻心，用淡豆豉一合煎湯飲之，或生薑汁同麻油和勻溫服之，再將淨土五升蒸熱，以舊布裹熨之，急撬開口以熱尿灌之，再用半夏末吹鼻中，以艾灸臍，將傷人盤足坐定，提起頭髮，使氣上升，則可活矣。</p>
<p>甄權云：墜傷損瘀在腹刺痛，取久臥蒲席燒灰二錢酒服，或蒲黃、當歸、大黃、赤芍、朴硝煎送，血下愈。</p>
<p>《經驗後方》：治墜馬拗損，用桑白皮五斤，為末一升，煎膏敷之便止，後亦無宿血，終不發動。</p>
<p>《傳信方》：治墜馬瘀血，用稻稈灰，以新熟酒連糟入鹽和淋，取汁洗痛處立瘥。</p>
<p>《廣濟方》：治墜損疼痛，用故烏氈兩段，酒五升，鹽一抄，煮熱裹之，冷即易，三、五度瘥。</p>
<p>唐瑤《經驗方》：治墜下欲死者，取老鴉眼睛草莖葉，即龍葵，搗汁服，以渣敷患處。</p>
<p>楊拱《醫方》：治墜跌積血心胃，嘔血不止，用乾荷花為末，每酒服方寸匕，其效如神。</p>
<p>《古今錄驗》：內傷神效方，治墜跌打擊，用麝香、水蛭各一兩銼碎，燒令煙出，為末，酒服一錢，當下蓄血，未止再服，其效如神。</p>
<p>錢青棆曰：從高墜下及落馬血沖欲死，切忌飲冷水，急用韭菜汁或熱小便灌之。</p>
<p>《東陽方》：治墜打瘀血，用姜葉一升，當歸三兩為末，溫酒下方寸匕，日三服。</p>
<p>《塞上方》：治墜打瘀血在內煩悶者，用東引杏樹皮三兩細銼，好酒一升煎服。</p>
<p>《備急方》：治瘀血，用虻蟲二十枚，牡丹皮一兩為末，酒服方寸匕，血化為水也。若久宿血在骨節中，二味等分。</p>
<p><u>跌磕傷　</u></p>
<p>耀山曰：跌磕者，驟然跌倒，磕擦而成傷也。按《洗冤錄》云：或失足，或自絆，其力在下，則所傷多在腿足及臂膊，然其或左或右，又皆止傷半邊。如被人推而跌者，則其力在上，所傷多在頭面及兩手腕。蓋推之力大，而人之一身其最重莫如首，推而下之，勢必自顧，或兩手至地，或出不知，則頭面必先倒垂而下，雖亦未必全傷，而所傷與自跌不同。不但此也，自跌者因驚，被推者兼怒，要在醫者善察而施治，則無貽誤。</p>
<p>《直指方》：治跌破出血，用烏賊魚骨為末敷之。</p>
<p>《簡便方》：治跌磕傷損，用黃牛屎封之，裹定即效。</p>
<p>《勝金方》：治磕撲青腫，用老黃茄極大者，切片如一指厚，新瓦焙研為末，欲臥時溫酒調服二錢匕，一辰消盡無痕也。</p>
<p>藺氏方：治跌撲傷損，用真牛皮膠一兩，冬瓜皮一兩，同銼炒存性，研末，每服五錢，熱酒一盞調服，仍飲酒二、三鍾，暖臥微汗痛止，一宿接元如故。</p>
<p>《青囊方》：用半兩錢五個，火煅醋焠四十九次，甜瓜子五錢，珍珠二錢制，每服一字，好酒調和，仍分食前後服，亦治跌撲傷損。若骨碎及傷爛，用生地黃搗膏，裹以竹簡編夾，急縛勿令轉動，一日一夕可十易之則瘥。《類說》云：許元公過橋墮馬，右臂臼脫，左右急挪入臼中，昏迷不知痛苦，急召田錄事視之，曰：尚可救也。乃以藥封腫處，中夜方蘇，達旦痛止，患處已白，日日換貼，其瘀腫移至肩背，乃以藥下去黑血三升而愈，即本方也，出《肘後方》中。其千金方內，亦治腹中瘀血，用生地黃汁三升，酒半升，煮二升，分三服效。本事方，地黃膏內有木香末。</p>
<p>王仲勉《經驗方》：治跌傷疼痛，用黃麻燒灰、頭髮灰各一兩，乳香五錢，每服三錢，溫酒下，立效。</p>
<p>《濟生方》：治跌傷瘀滯，心腹脹痛，大小便不通，紅蛭（用石灰炒黃）半兩，大黃、牽牛頭末各二兩為末，每服二錢。</p>
<p>婦人因跌僕舉重，損胎不安，子死腹中者，芎藭為末，酒服方寸匕，須臾一、二服立出。此《千金方》也。</p>
<p>娠婦偶因所觸，或跌墜損傷，致胎不安，痛不可忍者，縮砂熨頭內炒熟，用仁搗碎，每服二錢，熱酒調下，腹中極熱，胎即安矣，神效，此孫尚書藥方也。愚按：砂仁快脾氣，多用亦耗正氣，況香燥之品，性傷氣血，求以安胎，適恐有傷胎元而反墮也。</p>
<p><u>挫閃傷　</u></p>
<p>耀山曰：挫閃者，非跌非打之傷，乃舉重勞力所致也。或挫腰瘀痛，不能轉側，或手足拗閃，骨竅扭出，其傷雖屬尋常，若不即時醫治，失於調理，非成痼疾，即為久患也。</p>
<p>唐瑤《經驗方》：治骨節脫離，生蟹搗爛，以熱酒傾入，連飲數碗，其渣塗之，半日內，骨內谷谷有聲即好，干蟹燒灰亦好。</p>
<p>《集成方》：治閃肭脫臼赤黑腫痛者，用黍米粉、鐵漿粉各半斤，蔥一斤，同炒存性研末，醋調服三次，後仍以水調，少加醋貼之。肭音衄，縮也，月生三日謂之肭，形彎縮而不寬舒也。</p>
<p>《易簡方》：治閃肭骨節，用接骨草葉搗爛罨之，立效。若閃拗手足者，用生薑、蔥白搗爛，和麵炒熱罨之，或用土當歸同荊芥、蔥白煎湯洗之。如折傷內肭者，用土牛膝搗罨之。</p>
<p>邵真人方：治扭閃出骨竅等證，用蠶砂四兩炒黃，綠豆粉四兩炒黃，枯礬二兩四錢，為末醋調敷之，絹包縛定，三、四次即愈。</p>
<p>胡繡溪方：治閃跌，用魚鰾切片，熔化攤新棉花上，乘熱貼傷處，拔出青紫傷痕，即愈。</p>
<p>《儒門事親》：治閃肭腰痛，用獖豬腎一枚擗開，鹽椒淹過，入甘遂末三錢，荷葉包煨熟食，酒送下。</p>
<p>《攝生方》：治挫閃腰痛，用橙子核燒研，酒服三錢，即愈。</p>
<p>《玉機微義》：治閃損腰痛，用白萵苣子（炒）三兩，白粟米（炒）一撮，乳香、沒藥、烏梅肉各半兩。為末，煉蜜為丸彈子大。每嚼一丸，熱酒下。</p>
<p>《眾妙方》：治閃挫腰痛，用西瓜青皮陰乾為末，鹽酒服三錢。《綱目》主治用菴䕡子擂酒服，亦效。</p>
<p>《生生編》：治損傷腰痛，用冬瓜皮燒研，酒服一錢。</p>
<p>《永類鈐方》：治挫閃腰痛，用蒔蘿作末，酒服二錢匕。</p>
<p>《直指方》：治腰痛瘀血凝滯，用破故紙炒，茴香炒，辣桂，等分為末，每熱酒服二錢。故紙主腰痛，行血也。</p>
<p><u>壓迮傷　</u></p>
<p>耀山曰：壓迮傷，意外所迫致也。或屋倒牆塌，或木斷石落，壓著手足，骨必折斷；壓迮身軀，人必昏迷。但視面色尚有生氣，身體尚為軟綿，則皆可救。壓在要害致命虛怯之處，及遍身血瘀凝滯紫黯之色，或筋骨皮肉破綻斷折者，或口耳出血睛突舌出者，俱為不救。又有扛抬重物以致跌倒，或身前後左右有磕擦而成傷者，若筋傷骨折，宜按接骨續筋條下選治也。</p>
<p>《和濟方》：治跌壓瘀血在內脹滿者，用大黃、當歸等分炒研，每服四錢，溫酒服，取下惡物即愈。按此即導滯散也。</p>
<p>《三因方》：雞鳴散，治從高墜下，木石壓傷，及一切傷損，瘀凝積痛不可忍者，並以此藥服之，功能推陳致新，用大黃（酒蒸）一兩，杏仁（去皮）三七粒細研，酒一碗，煎六分，雞鳴時服，至曉取下瘀血即愈。</p>
<p>《救急方》：治足被石墊傷者，或行路足腫者，以草鞋一隻，浸尿缸內半日，用磚一塊燒紅，置鞋於上，將足踏之，令熱氣入皮里，即消。</p>
<p>《選粹》云：顛撲壓墜等傷，專怕噁心，必有惡血在內，先用清心藥服之，次以通利大小腸，打去瘀血，每服加童便服之，方見附方三字藥下。</p>
<p>又方：治扁擔壓傷，肩頭潰爛，剪貓頭上毛，用唾黏之即愈。</p>
<p><u>骨折傷　</u></p>
<p>耀山曰：骨折，傷之至重也。扁鵲云：疾在腠理，湯熨之所及也；在血脈，針石之所及也；在腸胃，酒醴之所及也；其在骨髓，雖司命無如之何矣。況頂心、囟門、額顱、額角、腦後、乘枕、頸骨、結喉、胸骨、心坎、血盆、脊背、脊膂、腰眼、方骨、皆屬致命之骨，一有損傷，生死反掌。若余骨折斷，按前卷端接之法調治，倘窮鄉僻壤，倉卒無醫者，可選後集諸方治之，庶無血凝氣泄而遺殘廢後患也。</p>
<p>接骨不知痛方：汪機用酒磨茉莉根，一寸則昏迷一日乃醒，二寸二日，三寸三日。凡跌損骨節，入臼接骨，用此不知痛也。</p>
<p>藏器銅末焊骨方：用赤銅屑細研，酒服，直入損處。</p>
<p>《接骨方》：用叉雞草搗爛取汗，熱酒和服，數次即愈。</p>
<p>楊拱《摘要方》：用土鱉焙存性為末，每服二三錢，接骨神效。又方：用生土鱉擂汁，酒服亦效。</p>
<p>《袖珍方》：損傷接骨，用蚵蚾（即土鱉）六錢，隔紙砂鍋內焙乾，自然銅二兩，用火煅醋淬七次，為末，二錢溫酒調下，按病上下分食前後服。</p>
<p>《集效方》：接骨，用土鱉（陰乾）一個，臨時旋研入藥，乳香、沒藥、龍骨、自然銅（火煅醋淬）各等分，麝香少許，為末，每服三分，入土鱉以酒調下。</p>
<p>《接骨方》：用鷹骨燒灰，每服二錢，酒下，隨病上下分食前後服。又方：用雕骨燒灰，每服二錢，酒下，並效。藺道人方：用鶚骨燒灰存性，配醋製古錢，等分為末，以熱酒服一錢，分食前後服。李時珍曰：鷹、雕、鶚骨皆能接骨，蓋鷙鳥之力在骨，故以骨治骨，從其類也。《日華》云：生蟹搗爛，炒罨之，亦能接骨。</p>
<p>薛氏接骨散：用官粉、硼砂等分為末，每服一錢，蘇木湯調下，仍頻飲蘇木湯大效。《蘇沈良方》神授散多當歸，異神所授故名。一方有醋製半兩錢。《永類鈐方》用酒調白芨末服，其功不減自然銅古銖錢也。</p>
<p>《乾坤秘韞》：接骨用蕓薹子一兩，小黃米二合，龍骨少許為末，醋調攤貼。又方：用五靈脂、白芨各一兩，乳香、沒藥各三錢，為末，熱水同香油調塗。又方：用牛蹄甲，入乳香、沒藥燒研，黃米糊和敷之，並效。</p>
<p>楊誠《經效方》：接骨，用市上乞兒破鞋一隻燒灰，白麵等分，好醋調成糊，敷患處，以絹束之，杉片夾定，須臾痛止，骨內有聲為效。</p>
<p>《百一方》：治損傷骨折，用夜合樹皮（即合歡皮）四兩（炒）白芥子一兩（炒）為末，溫酒每服二錢，臥時服，以滓敷之，接骨甚妙。</p>
<p>《易簡方》：治打損接骨，用狗頭一個燒存性為末，熱醋調塗，暖臥。</p>
<p>願濟堂刊施方：治跌打骨斷，用金櫻子兜，即其根也，去皮煎酒熱服，渣敷患處立效。《儒門事親》：烏金散，治骨折，用烏金石（即鐵炭）三兩，自然銅、當歸、大黃各一兩，製為末，童便紅花酒下二錢。又方：接骨，用五靈脂散一兩，茴香一錢為末，先以乳香末於極痛處敷上，以黃小米粥塗之，乃摻末於粥上，帛裹，木牌子夾定，三、五日效。</p>
<p>麥鬥金接骨方：用古老錢二十個，自然銅五分，各以火煅，硃砂一錢，乳香、沒藥各三分。共為末，炒甜瓜子，擂酒送服一麥鬥，三服即續。麥鬥即茶匙也。</p>
<p>《經驗後方》：接骨，用水獺一個支解，入罐內固濟，待乾煅存性為末，以黃米煮粥攤患處，摻獺末於粥上，布裹之，立止疼痛。</p>
<p>一方：用五銖錢（醋製）一兩二錢，黑雞骨末三兩，研勻，病在上服二錢，在下服四錢。或加乳香、沒藥。</p>
<p><u>筋斷傷　</u></p>
<p>耀山曰：筋斷，筋之重傷也。按《內經》云：肝主筋。又云：諸筋皆屬於節。《得效》云：寒則筋急，熱則筋緩。《綱目》云：肝氣熱為筋痿，則筋急而攣。河間云：熱氣燥爍於節，則攣瘈而痛。丹溪云：形志苦樂，病生於筋，治之以熨引。《靈樞經》云：筋絕者，手足甲青，呼罵不休，九日死。故《金鑑》有筋強、筋柔、筋歪、筋正、筋寒、筋熱、筋走、筋翻之分，必先審其或為跌墮，或為打僕，或為撞壓，然後依法而治之。若致於筋之斷者，病至極矣，如無效驗秘法，何能接續哉。方附於下：</p>
<p>危氏方：治筋斷，用楓香末敷之。其楓香，即白膠香也。</p>
<p>《拾遺》方：治被斫筋斷，用蟹去殼，同黃搗爛，微炒納入瘡中，筋即連也。</p>
<p>《外臺秘要》方：治被斫筋斷，用旋覆根搗汁，瀝瘡中，仍以渣敷之，日三易，半月筋斷即續，此方出蘇景中療奴有效。又方：治傷筋出血，用葛根搗飲，干煮煎服，仍熬屑敷之。</p>
<p>《千金方》：治筋骨破傷，以白馬熱屎敷之，無瘢。</p>
<p>陳氏《選粹》方：治筋斷，用金沸草根葉搗汁，塗筋斷處，封口便續，此花亦名旋覆花。</p>
<p>《靈苑方》：治折傷筋骨，用白礬末一匙，泡湯一碗，帕蘸乘熱熨傷處，少時痛止，然後排整筋骨點藥。</p>
<p>《御藥院方》：治筋骨折斷，用米粉四兩炒黃，入乳香、沒藥給各半兩，酒調成膏，攤貼之。</p>
<p>《綱目》：治筋斷骨折，用骨碎補搗篩，煮黃米粥和裹傷處有效。如瘀痛，用續斷煮汁內服，搗爛外敷。</p>
<p>《多能鄙事》：治筋骨折傷，用無名異、甜瓜子各一兩，乳香、沒藥各一錢為末。每服五錢，熱酒調服，小兒三錢，服畢以黃米粥塗紙上，摻左顧牡蠣粉裹之，竹蔑夾住。</p>
<p>《衛生易簡方》：治筋斷骨折，用接骨木半兩，當歸、芍藥、乳香、自然銅各一兩為末，黃蠟四兩，投藥攪勻，眾手丸如芡實大。若止損傷，酒化一丸。若碎折筋骨，先用此敷貼，乃服。又方：止痛活血，用當歸、澱粉、硼砂，等分為末，每服一錢，蘇木湯下，即神授散也。</p>
<p>《青囊》：治筋骨折傷，急取雄雞一隻刺血，量患人酒量，或一碗或半碗和飲，痛立止，神驗。</p>
<p>《本事方》：踠折傷筋骨痛不可忍者，用生地黃一斤，藏瓜姜糟一斤，生薑四兩，都炒熱，裹罨傷處，冷即易之。又《類編》所載，只用藏瓜姜糟一物，入赤小豆末和勻，罨於斷處，以杉片或白桐片夾之，云不過三日即痊。《千金方》以生地黃搗爛熱敷夾縛，亦痊。</p>
<p>《澹寮方》：治折傷疼痛，用綠豆粉，新銚炒紫，新汲井水調敷，以杉木皮縛定，其效如神。</p>
<p>邵真人秘傳神效散：治跌僕損傷，骨折骨碎，筋斷筋傷，痛不可忍，此藥極能理傷續斷，累用累效。用路上牆腳下，往來人便溺處，久碎瓦片一塊，洗淨火煅，米醋淬五次，黃色為度，刀割下細末，每服三錢，好酒調下，隨病上下分食前後服，不可輕易而賤之，誠神方也。</p>
