<header data-type="book">
<h1>本草撮要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳其瑞</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1901">公元1901年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521052">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序一</h1>
<p>陳君蕙亭。吾浙振奇士也。居鄉試文字不得志。乃去而以末秩試吏於吳中。仍落落寡所合。自少嘗讀黃帝書。能盡百藥之性。以之療人病輒效。意不欲私其能也。需次多暇。乃輯為本草撮要一書。將傳諸世。俾人人知藥之所以中於病者。第不違其性。舉一世可無疾痛疴癢之患。官不足以濟世。而托之醫。其願宏。其術精矣。余今年秋。始以吳中長吏之招。來襄理學堂事。君稔之徶㣯過訪。袖出其書眎余。余懵於醫。願讀其書。百藥之情狀洞若觀火。彌爽心目。因⿱⿻肀⿰百百皿然有感於吾學堂之生徒。其賢者猶壯夫之不待藥也。而世俗囂張。狂誕之習方盛。譬如時行沴厲。往往感人而易病。欲亟治之。而苦未得其藥。君儻別有肘後之秘。能惠我以為生徒療者乎。今學堂生徒。將儲為他日療國之醫者也。生徒之病。必先療而後可以言療國。君果別有術焉。蓋即視此書例亦一一條舉。夫藥之中於病者。而更有以眎我乎。</p>
<p><u>光緒辛丑臘月之望鮮民張預謹書於吳門中西學堂之東書樓下</u></p>

<h1>序二</h1>
<p>醫師之用藥。猶大將之用兵。兵不得力。將罔克成功。藥不得力。病罕有起色。行軍辨主客要害。用藥分君臣佐使。醫門多疾。未有藥性不明而能著手奏效者也。神農本草經尚已。李時珍綱目。粲然大備。而恆用之藥不過數百味。不用則失傳。存其名而無其物。近有本草備要。本草從新二書。盛行於世。而繁簡失當。主治之法。與前賢不相吻合。識者譏焉。吾友平邑陳君蕙亭。儒而醫者也。衙官屈宋與余需次吳門。朋簪賓榻。昕夕晤對者有年。省垣設官醫局。蕙亭董其事。活人無算。臨症療治之暇。手輯本草撮要一書。其自序云。以藥為經。以方為緯。視備要略增。視從新稍減。見者以為善本。勸付梓以廣其傳。余辭官養疴。日坐經卷藥爐之側。略知醫理。以視蕙亭之用藥如用兵。學有專精益瞠乎後矣。</p>
<p><u>光緒十有三年丁亥暮春之月系姓愚弟翰芬撰</u></p>

<h1>序三</h1>
<p>本草曰古經以下。代有增訂。惟考覈精詳簡明切要之善本。卒不可覯。予友陳君蕙亭。浙東平湖之望族。文行藉藉。庠序間少年。因不得志於帖括。值𤞑匪不靖。遊幕雍梁。以筆墨勷辦軍務。為當道所器重。中年後以巡宰需次吳門。與予在醫局。朝夕從事。十有二年。以手輯本草撮要兩冊見示。言簡而明。藥約而備。洵醫林之捷徑。後學之津梁也。倘付之手民。公諸同好。俾習醫者置之案頭。便於檢閱。即不習醫者亦置一編。備為觸寒冒雨之需。卻病攝生之助。斯功正未可量。又豈僅在醫局施診而已哉。予於陳君有厚望焉。因綴數語於簡端。</p>
<p><u>光緒十九年中秋後五日山右靈石李鏡涵書</u></p>

<h1>自序</h1>
<p>余質愚魯。明知學醫非有記性悟性。斷不能洞悉精微隨機應變以療人疾。無如嗜醫之心已歷三十餘年。未嘗或倦。因之博採古今各大家所著方藥。刪繁就簡。注於每藥之下。某藥某味某性。入某經專治某病。與某藥同用治某病。並將治某病。宜生用熟用。炙用炒用。研用獨用。以及某藥與某藥。相佐相惡。相畏相反。相須相殺。逐一註明。不加臆說。現值醫局從公之暇。次第錄成。置之案頭。以便查閱。聊資記性悟性之不足。若云藉此已能洞悉精微隨機應變以療人疾。則吾豈敢。</p>
<p><u>光緒十二年六月既望當湖陳其瑞蕙亭識</u></p>
<p>是編之輯。亦猶楊氏之鉤元約。劉氏之本草述。而剃其繁蕪。但初不知有鉤元之刻。迨輯成後。始得而讀之。不意拙輯竟如復剃鉤元繁蕪者。抑亦奇矣。目次因水火土部。未能與草木等部一律。故附卷尾。藥品比備要略增。較從新稍減。主治悉遵經旨。體裁無異鉤元。以藥為經。以方為緯。撮其大要。亦可舉一反三。若欲必究其全。則自有諸家書在。（蕙亭又筆）</p>

<h1>卷一　草部</h1>

<h2>【黃耆】</h2>
<p>味甘微溫。入手足太陰經。功專益氣。得當歸、活血。得白朮、補氣。得防風其功益大。得滑石、白糖煎服。治洞泄完穀不化神效。合人參、甘草、生薑為保元湯。治痘虛不起。或加芎藭、官桂糯米助之。生涼炙溫。生用或酒炒達表。蜜炙補中。鹽水炒補腎。茯苓為使。惡龜甲、白蘚皮。畏防風。氣旺者禁用。陰虛者宜少用。</p>

<h2>【甘草】</h2>
<p>味甘平。入足陽明。通行十二經。功專解毒。生瀉熟緩。甘和溫補。得桔梗清咽喉。得大豆為甘豆湯。解百藥毒奇驗。炙用補中。生用瀉火。用梢達莖中。止莖痛及淋症。白朮、苦參、乾漆為使。惡遠志。反大戟、芫花、甘遂、海藻。然亦有並用者。中滿者忌用。惟得茯苓。則不資滿而反泄滿。若脾胃氣有餘。與痢疾初起。均忌用。</p>

<h2>【人參】</h2>
<p>味甘苦。入手太陰。通行十二經。功專補五臟之陽。得羊肉補形。古方寒熱攻補劑中皆用之。以立正氣。誠為上品。茯苓為使。畏五靈脂。惡皂莢、黑豆、紫石英、人溲、鹹鹵、反藜蘆。忌鐵。參蘆能湧吐痰涎。體虛人用之。以代瓜蒂。</p>

<h2>【北沙參】</h2>
<p>味甘。入手足太陰經。功專補五臟之陰。止嗽除疝。得麥冬。清肺熱。得糯米。補脾陰。寒客肺中作嗽者勿服。產沙地者良。畏防己。反黎蘆。一名羊乳。</p>

<h2>【丹參】</h2>
<p>味苦。入手少陰經。功專調婦人經脈。抵四物之功。得山查炭、益母草清產後瘀血發熱。畏鹹水。忌醋反藜蘆。</p>

<h2>【元參】</h2>
<p>味鹹。入足少陰經。功專清火滋陰。得甘草、桔梗止咽痛。得牡蠣、貝母治瘰癧。元參酒炒一錢。荊芥穗微炒一錢。泡湯頻飲。治頭暈目眩神效。脾虛泄瀉者忌用。蒸焙勿犯銅器。惡黃耆、山茱萸、薑、棗。反藜蘆。</p>

<h2>【白朮】</h2>
<p>味辛甘。入足太陰經。功專除濕益氣。得枳實。能滌飲消痞。得條芩能安胎。無濕者禁用。潰瘍亦忌。以能生膿作痛也。和脾糯米泔浸。助脾土炒。或蜜水炒人乳拌以制燥。千金方齒長出口。名曰髓溢。單用白朮愈。</p>

<h2>【蒼朮】</h2>
<p>味苦辛溫。入足陽明經。功專補脾燥濕。升陽散郁。得防風發汗。得黃柏勝濕。得香附快中下二焦之氣。得山梔解術性之燥。二術皆防風地榆為使。糯米泔浸焙乾。同芝麻炒以制其燥。</p>

<h2>【葳蕤】</h2>
<p>味甘。入手太陰經。功專補中益氣。得石膏、乾葛。治風溫自汗身重。語言難出。諸不足。可代參、耆。然力薄鮮效。去皮節。或蜜水。或酒浸蒸用。畏鹽滷。一名玉竹。一名地節。</p>

<h2>【黃精】</h2>
<p>味甘。入足太陰陽明經。功專補諸虛。安五臟。得枸杞補精益氣。得蔓荊養肝明目。久服不飢。俗名山姜。九蒸九曬用。</p>

<h2>【狗脊】</h2>
<p>味苦甘。入足少陰經。功專強肝腎。健筋骨。得鹿茸、白蘞治帶下。得川烏、萆薢治諸風。有黃毛如狗形。故曰金毛狗脊。去毛切。酒拌蒸。萆薢焉使。</p>

<h2>【石斛】</h2>
<p>味甘鹹。入足陽明太陰少陰經。功專清胃熱。兼益腎精。得生薑治囊濕精清。小便餘瀝。同川芎為末搐鼻。治睫毛倒入。去頭根酒浸用。惡巴豆。畏殭蠶。</p>

<h2>【遠志】</h2>
<p>味苦辛。入足少陰經。功專治健忘。得茯苓入腎通陽。得棗仁通心安神。去心。甘草水浸一宿用。畏珍珠、藜蘆。得茯苓、龍骨良。</p>

<h2>【石菖蒲】</h2>
<p>味辛。入手少陰足太陰經。功專開發心陽。得犀角、生地、連翹。治熱邪入絡神昏。去皮微炒用。秦艽為使。惡麻黃。忌飴糖、羊肉、鐵器。</p>

<h2>【牛膝】</h2>
<p>味酸苦。入足厥陰經。功專下達。生用逐瘀。熟用強筋。得肉蓯蓉益腎。得杜仲補肝。性下行滑竅。夢遺失精。及脾虛下陷。因而腿膝腫痛者禁用。下行生用。入滋補藥酒浸蒸。惡龜甲。畏白前。忌羊肉。墮胎。</p>

<h2>【甘菊花】</h2>
<p>味兼甘苦。入手太陰經。功專清頭目風火。得枸杞便能下行悅腎。朮、杞、地骨皮為使。黃者入陰分。白者入陽分。紫者入血分。</p>

<h2>【五味子】</h2>
<p>味酸。兼鹹苦甘辛。入手太陰足少陰經。功專斂肺經浮游之火。歸腎藏散失之元。得半夏治痰。得阿膠定喘。得吳茱萸治五更腎泄。瞳子散大。咳嗽初起。脈數有實火者忌用。入滋補藥蜜浸蒸。入勞嗽藥生用槌碎核。若風寒在肺宜南產者。蓯蓉為使。惡葳蕤。</p>

<h2>【天門冬】</h2>
<p>味甘苦。入手太陰經。功專清肺熱。得熟地入腎。得人參、五味、枸杞。同為生脈之劑。性冷利。胃虛無熱及瀉者忌用。去心皮酒蒸。地黃、貝母為使。惡鯉魚。</p>

<h2>【麥門冬】</h2>
<p>味甘。入手少陰太陰經。功專清心保肺。得地黃、阿膠、麻仁同為潤經復脈之劑。得五味子能都攝肺腎之津液。但性寒而泄。氣弱胃寒人禁用。去心用。入滋補藥酒浸。地黃、車前為使。惡款冬花、苦參、青葙、木耳。</p>

<h2>【款冬花】</h2>
<p>味辛。入手太陰經。功專開痰止嗽。得白薇、貝母、百部。治肺實鼻塞。得黃連敷口中疳瘡。揀淨花。甘草水浸一宿暴用。得紫菀良。杏仁為使。惡皂莢、硝石、玄參。畏黃耆、貝母、連翹、麻黃、青葙、辛夷。雖畏貝母。得之反良。</p>

<h2>【紫菀】</h2>
<p>味苦辛。入手太陰經。功專療咳逆上氣。得款冬、百部、烏梅治久咳。得白前、半夏、大戟治水氣喘逆。蜜水浸焙用。款冬為使。惡天雄、瞿麥、藁本、遠志。畏茵陳。白者名女菀。</p>

<h2>【旋覆花】</h2>
<p>味鹹甘溫。入手太陰陽明經。功專散結氣。得代赭石、半夏治噫氣。得蔥、新絳治半產漏下。大腸虛者慎用。根能續筋。筋斷者搗汁滴傷處。滓敷其下。半月不開。筋自續。又名金沸草。</p>

<h2>【百部】</h2>
<p>味甘苦微溫。入手太陰經。功專治咳嗽殺蟲。得生薑治經年寒嗽。去心皮酒浸焙用。有小毒。洗衣去蝨。</p>

<h2>【桔梗】</h2>
<p>味苦。入手太陰足少陰經。功專清喉利膈。得甘草能載引上行入肺。為舟楫之劑。開提氣血。表散寒邪。清利咽喉。下痢腹痛腹滿腹鳴。去浮皮。泔浸微炒用。畏龍膽、白芨。忌豬肉。有甜苦二種。甜者名薺苨。</p>

<h2>【馬兜鈴】</h2>
<p>味苦寒。入手太陰經。功專治熱咳實證。得甘草治肺氣喘急。亦可吐蟲。千金方單服治水腫。去筋膜。取子用。有毒。多服則吐利不止。搗末塗疔腫良。</p>

<h2>【白前】</h2>
<p>味甘微辛。入手太陰經。功專降氣下痰。得桔梗、桑皮治咳嗽吐血。去頭須。甘草水浸一晝夜。焙用。忌羊肉。</p>

<h2>【白芨】</h2>
<p>味苦。入手太陰經。功專療金瘡癰毒。得黃絹、丹皮能補脬損。並跌打折傷。手足皴裂。滑肌。紫石英為使。畏杏仁。反烏頭。重舌鵝口為末。乳汁調塗足心。</p>

<h2>【半夏】</h2>
<p>味辛。入手太陰少陰二經。功專消痰止嘔。救五絕急病。得醋製。再得茯苓、甘草。治伏暑引飲。得黃連、栝蔞治結胸。得硫黃治老人虛秘。得牡蠣、豬苓。治無管攝之遺濁。得沉香末、生薑。治眉稜骨痛神效。柴胡、射干為使。畏生薑、秦皮、龜甲、雄黃。忌羊肉、海藻、飴糖。惡皂莢。反烏頭。</p>

<h2>【天南星】</h2>
<p>味苦溫。入手足太陰經。功專豁痰驅風。得生薑、天麻。治吐瀉慢驚。得防風治跌撲金刃傷風。得琥珀、硃砂治痰迷心竅。墮胎。陰虛燥痰均忌。畏附子、乾薑、防風。一名虎掌。得防風則不麻。火炮則毒性緩。得牛膽則不燥。且膽有益肝膽之功。</p>

<h2>【貝母】</h2>
<p>味甘。入手太陰經。功專潤肺化痰。得桔梗下氣。得白芷消便癰。去心。糯米拌炒黃搗用。以生末塗人面瘡神效。厚朴、白薇為使。畏秦艽。反烏頭。</p>

<h2>【栝蔞實】</h2>
<p>味苦。入手太陰經。功專潤燥降火。得文蛤治痰嗽。得杏仁、烏梅治肺痿咳血。二便不通。瀉者忌。去油。用枸杞為使。畏牛膝、乾膝。惡乾薑。反烏頭。俗作瓜蔞。</p>

<h2>【天花粉】</h2>
<p>味甘苦。入手太陰經。功專潤肺生津。通經。止小水利。熱狂時疾。得人參、麥冬治消渴飲水。脾胃虛寒禁用。即栝蔞根研粉澄出極細者曬乾。名玉露霜。</p>

<h2>【夏枯草】</h2>
<p>味苦辛。入足厥陰經。功專治頭瘡瘰癧。得香附、甘草治目珠疼痛。得香附、貝母治馬刀。獨用治目珠夜痛。</p>

<h2>【昆布】</h2>
<p>味鹹寒。入足太陽經。功專軟堅破結。得海藻治癭氣結核。多服令人瘦。</p>

<h2>【獨活】</h2>
<p>味辛苦微溫。入足厥陰經。功專通關逐痹。發表散寒。得細辛治少陰伏風頭痛頭暈目眩。得地黃治風熱齒痛。</p>

<h2>【羌活】</h2>
<p>味辛苦。性溫氣雄。入足太陽兼入足少陰厥陰經。功專泄濕除風。得當歸利勞傷骨節痠痛。得蔥頭、生薑、黃酒腳、白鳳仙根。不拘多少。不加水。煨熱熏洗。日兩次。治手臂痠麻痛不可動神效。予曾臂麻不仁。熏洗半年而愈。並不服藥。血虛者禁用。</p>

<h2>【防風】</h2>
<p>味甘辛。入手太陽足太陽足厥陰經。功專驅風。其性柔淫。無所不入。隨主藥而走經絡。得蔥白能通行周身。得澤瀉、藁本療風濕。得當歸芍藥、陽起石、禹餘糧、療婦人子臟風冷。若虛痙頭痛不因風寒。泄瀉不因寒濕。火升發嗽。陰虛盜汗。陽虛自汗。並忌。然同黃耆芍藥。又能實表止汗。合黃耆、白朮名玉屏風散。為固表聖藥。畏萆薢。惡乾薑、白蘞、芫花。殺附子毒。</p>

<h2>【藁本】</h2>
<p>味辛溫。入手太陰足太陽經。功專治頭風脊強。陰寒腫痛。腹中急痛。胃風泄瀉。婦人疝瘕。得木香治霧露之邪中於上焦。得白芷療風濕。可作面脂獨用。煎湯浴疥癬良。惡䕡茹。</p>

<h2>【葛根】</h2>
<p>味甘辛。入足太陰陽明經。功專升胃氣。散胃中鬱熱。得香豉治傷寒頭痛。得粟米治小兒熱渴。得蔥白治頭痛如破神效。開腠發汗。解肌退熱。為脾胃虛弱泄瀉之聖藥。葛花解酒毒尤良。生葛汁大寒。解溫病大熱吐衄諸血。凡斑痘已見點忌用。</p>

<h2>【升麻】</h2>
<p>味辛。入手陽明手太陰足太陰經。功專升發。火在上非升不散。氣陷下非升莫舉。惟東垣善用之。得蔥白散手陽明風邪。得石膏止陽明齒痛。得柴胡引生氣上升。得葛根發陽明之汗。陰虛火動者忌。去須蘆用。</p>

<h2>【白芷】</h2>
<p>味辛溫。通行手足陽明經。功專療風止痛排膿。得土貝、栝蔞治乳癰。得辛夷細辛治鼻病。得單葉紅蜀葵根排膿。得椿根皮、黃柏治婦人濕熱帶下。其性升散。血熱有虛火者禁用。微炒。當歸為使。惡旋覆花。</p>

<h2>【細辛】</h2>
<p>味苦辛。入足少陰厥陰經。功專宣達甲膽。得黃連治口瘡齒䘌。得決明、鯉魚膽、青羊肝療目疾疼痛。惡黃耆、山茱。畏硝石、滑石。反藜蘆。</p>

<h2>【柴胡】</h2>
<p>味苦辛。入足少陽經。功專入經達氣。入絡和血。升不上顛頂。下不散皮毛。故入膽而合其無出無入之性。得益氣藥則升陽。得清氣藥則散邪。陰虛火炎氣升者禁用。外感生用。內傷升氣酒炒用。根治中焦及下降用梢。有汗咳者蜜水炒。前胡、半夏為使。惡皂角。苗主治卒聾。搗汁滴之良。出江南古城山名齊接口者佳。內雜他藥。須揀淨用。銀州柴胡。宣治虛勞飢熱。骨蒸勞瘧。熱從髓出。及小兒五疳羸熱。根長丈餘微白。</p>

<h2>【麻黃】</h2>
<p>味苦辛。入手太陰足太陽經。功專散邪通陽。得射干治肺痿上氣。得桂心治風痹冷痛。夏月禁用。過服亡陽。蜜炒稍緩。止汗用根。厚朴、白薇為使。惡辛夷、石膏。</p>

<h2>【荊芥】</h2>
<p>味辛。入足厥陰經。功專治產後血暈。得石膏治風熱頭痛。得甘草洗爛癧。頭旋目暈。荊芥穗微炒三錢。酒煎服神效。若用酒洗元參一錢。荊芥穗一錢。泡湯常飲亦可。治血炒黑用。反魚蟹河豚驢肉。風在皮裡膜外。荊芥主之。</p>

<h2>【連翹】</h2>
<p>味苦氣平。入手足少陽少陰厥陰氣分。兼入手陽明經。功專散血結氣聚。瀉心與小腸之熱。得瞿麥、大黃、甘草治項邊馬刀。得脂麻治瘰癧結核。止痛消腫排膿。為瘡家聖藥。</p>

<h2>【紫蘇】</h2>
<p>味辛溫。入手太陰經。功專發表散寒。得廣皮、砂仁則行氣安胎。得木瓜、厚朴治寒濕腳氣。得藿香、烏藥溫中止痛。得香附解肌。得芎藭、當歸和血散血。得桔梗、枳殼利膈寬腸。得卜子、杏仁消痰定喘。葉得百合。治夜不寐。梗得桔梗。治梅核氣。解蟹毒。</p>

<h2>【前胡】</h2>
<p>味苦。入手足太陰陽明經。功專散風下氣。得桔梗治痰熱咳逆。無實熱及無外感者忌用。內有硬者名雄前胡。須揀去。半夏為使。惡皂角。</p>

<h2>【薄荷】</h2>
<p>味辛。入手足厥陰經。功專治頭目咽喉口齒諸症。得花粉清上化痰。另有雞蘇薄荷。體虛及夏月均宜少服。蘇產者佳。</p>

<h2>【木賊】</h2>
<p>味苦。入足厥陰經。功專去目翳。療腸風。得禹餘糧、當歸、川芎治崩中赤白。得槐子、枳實治痔中出血。</p>

<h2>【浮萍】</h2>
<p>味辛散輕浮。入手太陰經。功專達表發汗。甚於麻黃。治風濕癱瘓。為末吹鼻止鼻衄。用紫者為末。敷脫肛燒煙闢蚊。</p>

<h2>【蒼耳子】</h2>
<p>味甘苦。入足厥陰經。功專消腫開痹。泄濕去風。得葶藶治水腫。小便閉。遍身癢。以之煎浴良。忌豬肉。一名莫耳。即詩卷耳。葉搗汁服。治產後痢。</p>

<h2>【天麻】</h2>
<p>味辛。入足厥陰足陽明經。功專通關透節。泄濕除風。得川芎補肝。得白朮去濕。子名還筒子。定風補虛。血液衰少及非真中風者忌用。莖名赤箭。又名定風草。</p>

<h2>【秦艽】</h2>
<p>味苦辛。入手足陽明兼入肝膽。功專去風濕攣痹。得獨活、桂心治產後中風。得柴胡、甘草治勞熱。得薄荷、甘草治小兒骨蒸潮熱。食減瘦弱。獨用治齒下齦痛。以牛乳點服。並治黃疸煩渴便赤。菖蒲為使。畏牛乳。為末塗口瘡不合。</p>

<h2>【豨薟草】</h2>
<p>味苦。入足厥陰經。功專止麻木。生寒熟溫。治肝腎風氣。四肢麻痹。骨冷腰痛。膝痛無力。若非由風濕而得者忌服。研末熱酒服。治疔瘡腫毒。</p>

<h2>【威靈仙】</h2>
<p>味苦溫。入足太陰厥陰經。功專去風濕。療折傷。得砂仁、砂糖治骨鯁。得木瓜治腰腳諸病。氣弱者慎用。忌茗面。</p>

<h2>【鉤藤】</h2>
<p>味甘苦。入足厥陰經。功專息風降火。得甘草治癇疾。得紫草發斑疹。久煎無力。</p>

<h2>【當歸】</h2>
<p>味苦辛。入手少陰足厥陰經。功專治女子諸虛不足。得人參、黃耆補氣生血。同牽牛、大黃行氣破血。得桂、附、茱萸則熱。得大黃、芒硝則寒滑大腸。治血酒製。畏菖蒲、海藻、生薑。惡濕面。</p>

<h2>【芎藭】</h2>
<p>味辛溫。入手足厥陰經。功專療婦人血閉無子。得細辛療金瘡止痛。得牡蠣療頭風。得生犀角去痰清目。得臘茶療產後頭痛。得烏藥療氣厥頭痛。目淚多涕。木鬱為病。然單服多服。令人暴亡。經過三月用末空心熱湯調一匙服。微動者是胎。齒敗口臭水煮含之佳。白芷為使。畏黃連、硝石、滑石。惡黃耆、山茱萸。</p>

<h2>【芍藥】</h2>
<p>味酸。入手足太陰經。功專制肝補脾。得人參補氣。得當歸養血。得白朮補脾。得川芎瀉肝。得甘草治腹痛。得黃連止痢。得防風發痘症。得薑棗溫經散濕。入藥炒用。血分醋炒。下痢後重生用。惡芒硝、石斛、鱉甲、小薊。反藜蘆。赤者利水行血。</p>

<h2>【生地】</h2>
<p>味苦。入足厥陰經。功專治勞傷血證。得麥冬復脈內之陰。得木通導小腸之熱。痘症熱甚。多服損胃。酒製不傷胃。生寒。乾涼。熟溫。</p>

<h2>【熟地】</h2>
<p>味甘。入足少陰經。功專生精填髓。得砂仁行氣。酒煮和血。復得久曝得太陽真火。能使虛陽歸宿丹田。酒製上行外行。薑製則不泥。惡貝母。畏蕪荑。忌萊菔、蔥、蒜銅鐵器。得酒、門冬、丹皮、當歸良。</p>

<h2>【何首烏】</h2>
<p>味苦澀。入足厥陰經。功專消癰腫。益精髓。得當歸、枸杞、菟絲、骨脂、芝麻固精延年。得胡麻治大風癘疾。黑豆與首烏拌勻鋪柳甑。入砂鍋。九蒸九曬。用茯苓為使。忌諸血、無鱗魚、萊菔、蔥、蒜、鐵器。</p>

<h2>【丹皮】</h2>
<p>味辛。入手足少陰厥陰經。功專治相火。勝於黃柏。得四物治無汗之骨蒸。酒拌蒸用。畏貝母、菟絲、大黃。忌蒜、胡荽、伏砒。</p>

<h2>【續斷】</h2>
<p>味苦。入足厥陰經。功專治跌撲傷。續筋骨。得當歸治勞傷腰痛。得平胃散治血痢胎漏。酒浸用。地黃為使。又名接骨草。</p>

<h2>【骨碎補】</h2>
<p>味苦。入足少陰經。功專療閃折筋骨損傷。得豬腎治久瀉不止。得獨活、寄生、虎骨治痿痹。蜜拌蒸。</p>

<h2>【益母草】</h2>
<p>味苦辛。入足厥陰經。功專治絡調經。功效甚捷。得炒黑山楂治產後惡露不行。忌鐵。子微炒用。又名茺蔚。吹乳成癰。以草為末。水調塗乳上一宿自消。生搗亦得。瞳子散大者忌用。</p>

<h2>【佩蘭】</h2>
<p>味辛。入陽明太陰經。功專消渴。散結滯。清肺消痰。為婦科要藥。產後水腫血虛浮腫。防己等分為末。每服二錢。醋酒下神效。防己為使。</p>

<h2>【白薇】</h2>
<p>味苦。入陽明經。功專治暴中風。身熱肢滿。忽忽不知人。狂惑邪氣。寒熱痠疼溫瘧。得桂枝、石膏、竹茹治胎前虛煩嘔逆。得人參、當歸、甘草治產後血厥昏冒。酒洗用。惡大黃、大戟、山茱、薑棗。</p>

<h2>【艾葉】</h2>
<p>味苦。入足厥陰經。功專暖子宮。殺蟲䘌。得香附治少腹痛。得阿膠治產後下血。得雄黃治狐惑症。腦漏鼻出黃汁。以艾絨裝在煙筒內吸食數日即愈。丹田氣弱臍腹冷者。以熟艾裝袋兜臍上效。寒濕腳氣夾入襪內佳。入茯苓數片同研則易細。香附為使。血熱者忌。</p>

<h2>【延胡索】</h2>
<p>味辛。入足太陰厥陰經。功專破血行傷。得川楝子治熱厥心痛。得茴香治小兒盤腸痛。獨用力迅。宜兼補氣血藥。血熱氣虛者禁。酒炒行血。醋炒止血。生用破血。炒用調血。</p>

<h2>【紅花】</h2>
<p>味辛。入手少陰經。功專活血消腫。得去風藥治六十二種風。得補益藥生新血。作胭脂活血解毒。痘疔挑破。以油胭脂敷之良。過服血行不止。</p>

<h2>【茜草】</h2>
<p>味苦。入手足厥陰經。功專通經脈。療黴毒。得生地烏髭發。得阿膠、側柏療婦人敗血。無瘀滯者忌投。一名茹藘。一名血見愁。根可染絳。忌鐵。</p>

<h2>【紫草】</h2>
<p>味苦。入手足厥陰經。功專涼血活血。利大小腸。得白朮、木香治痘瘡血熱毒盛便秘。瀉者忌。去頭須酒洗。</p>

<h2>【凌霄花】</h2>
<p>味酸。入手足厥陰經。功專行血清火。得地龍、殭蠶、全蠍。治大風癘疾。肺癰有用為君藥者。以是花為末。和蜜陀僧唾調敷酒齄鼻甚驗。孕婦忌之。一名紫葳。鼻聞傷腦。</p>

<h2>【大小薊】</h2>
<p>味甘溫。入足厥陰經。大薊功專破血。小薊專於消腫。冷氣入陰囊腫滿瘀痛。煎大薊一服立瘥。崩漏不止。大小薊根、白茅根酒煎服神效。</p>

<h2>【三七】</h2>
<p>味甘苦。入足陽明厥陰經。功專治上下血症。得生地、阿膠治吐血捷效。金瘡要藥。又名山漆。</p>

<h2>【地榆】</h2>
<p>味苦酸微寒。性沉澀。入足厥陰經。功專除血熱。治吐衄崩中。腸風血痢。若虛寒瀉痢初起並血虛者均忌。得發良。惡麥冬。炒黑用。</p>

<h2>【蒲黃】</h2>
<p>味甘。入足厥陰經。功專治血症。生破血。熟止血。得五靈脂治心腹諸痛。得青黛治重舌脹滿。以乾薑同蒲黃為末。搽舌脹尤效。</p>

<h2>【卷柏】</h2>
<p>味辛平。入足厥陰經。功專破血通經。治癥瘕淋結。炙用辛溫止血。治腸風脫肛。俗名萬年松。鹽水煮半日。井水煮半日焙用。</p>

<h2>【䕡茹】</h2>
<p>味辛寒。有小毒。入足厥陰經。功專蝕惡肉。排膿血。殺疥蟲。除熱痹。破癥瘕。內經云。同烏鰂魚骨治婦人血枯。甘草為使。</p>

<h2>【鬱金】</h2>
<p>味辛。入手少陰厥陰經。功專去惡血。破結聚。得明礬治失心癲狂。得甘草、片腦治痘毒入心經不下行。上為吐衄。及下為尿血。用鬱金末、韭汁、薑汁、童便服。痰中帶血加入竹瀝。</p>

<h2>【薑黃】</h2>
<p>味苦辛。性寒。入足厥陰經。功專下氣破血。得肉桂治寒厥胃痛。產後癥瘕。血虛臂痛者忌。墮胎。川廣產者佳。</p>

<h2>【蓬莪朮】</h2>
<p>味苦辛。入足厥陰經。功專破氣中之血。得木香療冷氣攻心。得阿魏治小兒盤腸痛。灰火煨透。乘熱搗之。入氣分。或醋磨酒磨或熟用入血分。墮胎。虛者忌服。</p>

<h2>【京三稜】</h2>
<p>味苦甘平。入足厥陰太陰經。功專療癥瘕。破血結。得蓬朮治渾身燎泡。得大黃治痃癖。得丁香治反胃藥食不下。墮胎。麵裹煨用。按用稜蒁均須佐以補氣健脾之品為要。</p>

<h2>【茅根】</h2>
<p>味甘氣寒。入手少陰足太陰陽明經。功專除熱止血。得豬肉治黃汗。得枇杷葉治嘔逆。花治鼻衄。產淋。解酒毒。肺熱喘急。茅針酒煮。一根服潰癰癤。</p>

<h2>【蘆根】</h2>
<p>味甘寒。入手太陰足陽明經。功專消渴去嘔逆。得麥冬治霍亂煩悶。得麥冬、骨皮、茯苓、陳皮、生薑治骨蒸肺痿。如獨用止小便。並解魚蟹河豚毒。</p>

<h2>【苧根】</h2>
<p>味甘。入手足太陰經。功專涼血。止漏胎。得建蓮、糯米能固胎元。汁能化血為水。皮與產婦作枕止血暈。安腹上止產後腹痛。搗根貼赤遊丹毒癰疽發背金瘡折傷。加龍膽同搗治雞骨鯁。雞湯下。魚鯁魚湯下。同蛤粉各半兩為末。每服二錢。治小便不通。或但用根研末。攤絹上。貼少腹連陰際。須臾即通。脫肛以之熏洗亦佳。</p>

<h2>【薔薇根】</h2>
<p>味苦澀而冷。入手足陽明經。功專除風熱濕熱。生肌殺蟲。治泄痢消渴。遺溺好眠。癰疽瘡癬。牙痛口糜。煎汁含咽。子名營實。酸溫。主治略同。用根燒灰。白湯送下。治金瘡腫痛。</p>

<h2>【芭蕉根】</h2>
<p>味甘大寒。入足太陰厥陰經。功專治一切腫毒發背欲死。赤遊風𤺋熱頭痛。搗爛塗之。產後血脹。搗汁溫服二三合。渴熱發狂。生搗汁。時飲一二合。得旱蓮草治血淋澀痛。又方以汁塗瘡口即結疤。</p>

<h2>【大黃】</h2>
<p>味苦。入手足陽明足太陰手足厥陰經。功專下瘀。得紫石英、桃仁療女子血閉。得黃連治傷寒痞滿。得杏仁療傷損瘀血。若病在氣分。胃虛弱者忌。生用更力峻。黃芩為使。湯火傷。搗生者醋調敷。立即止痛無瘢。服大黃而瀉。飲粥半盞即止。男患偏墜。以大黃末醋調塗亦效。</p>

<h2>【黃芩】</h2>
<p>味苦氣寒。入手太陰少陰少陽太陽陽明經。功專瀉火。得白朮安胎。得柴胡退寒熱。得芍藥治痢。得厚朴、黃連止腹痛身熱如火燎。煩燥引飲而晝盛者。宜一味黃芩湯。以瀉肺經氣分之火。黃芩一兩煎服。本事方治崩中暴下。惟血虛中寒者禁用。瀉大腸火用子芩。瀉肺火用片芩。上行酒炒。瀉肝膽火豬膽汁炒。山茱、龍骨為使。畏丹皮、丹砂。</p>

<h2>【黃連】</h2>
<p>味苦大寒。入手少陰經。性燥。功專勝熱。得枳實瀉痞滿。得烏梅、川椒安蛔。得木香治滯下。得吳茱名左金丸。治肝膽鬱火左脅作痛。得豬藏名藏連丸。治便血血痢。得羊肝名羊肝丸。治目疾。得大蒜治下血。得肉桂能交心腎於片刻。腹大四肢瘦細如柴無力。大小便閉。名火鼓。得之燒火。為火所逼而成。以黃連、大黃、黃芩加木通、車前子神效。治心火生用。虛火醋炒。肝膽火豬膽汁炒。上焦火酒炒。中焦火薑汁炒。下焦火鹽水或童便炒。食火黃土炒。濕熱在氣分吳茱湯炒。在血分乾漆水炒。點赤眼乳浸。去胎毒合甘草末蜜塗乳頭。令小兒吮之。黃芩、龍骨為使。惡菊花、元參、蠶、白蘚皮。畏款冬、牛膝。忌豬肉。殺烏頭、巴豆毒。熱鬱欲吐。服黃連數分神效。</p>

<h2>【胡黃連】</h2>
<p>味苦寒。入手少陽經。功專去心熱。益肝膽。厚腸胃。治骨蒸勞熱。五心煩熱。三消五痔。溫瘧渴痢。胎蒸果子積。小兒驚疳。初起可用。日久胃虛者均忌。合茶服之解吃煙毒。禁忌畏惡俱同黃連。</p>

<h2>【苦參】</h2>
<p>味苦氣沉。入足少陰經。功專去風濕。殺疳蟲。得枳殼治風癩熱毒。腎虛無熱者勿服。糯米泔浸蒸用。元參為使。惡貝母、菟絲子、漏蘆。反藜蘆。酒煎醋煎服之即吐。</p>

<h2>【知母】</h2>
<p>味苦。入手太陰足陽明經。功專治消渴煩熱。得麥冬清肺止渴。得地黃滋腎潤燥。得人參治妊娠子煩。蓐勞骨蒸。久瘧下痢。然苦寒傷胃滑腸。多服令人瀉。得酒良。上行酒浸。下行鹽水拌。忌鐵。</p>

<h2>【龍膽草】</h2>
<p>味苦澀。入足厥陰少陽經。功專清熱去濕。得柴胡治目疾。得蒼耳治耳中諸實症。過服損胃。甘草水浸一宿曝用。小豆、貫眾為使。忌地黃。</p>

<h2>【青黛】</h2>
<p>味鹹寒。入足厥陰經。功專瀉肝。散五臟鬱火。解中下焦蓄蘊風熱。治傷寒發斑。得杏仁、柿餅治咯血。得硼砂、冰片名青黛散。吹喉痛。</p>

<h2>【大小青】</h2>
<p>味苦寒。入足厥陰少陽經。功專治瘟疫熱毒。得犀角治陽毒發斑。得沙糖治中暑發昏。</p>

<h2>【牽牛】</h2>
<p>味甘氣寒。入手足陽明太陽經。功專下氣逐水。得茴香治水飲痛。得大黃治馬脾風病。若濕熱在血分。胃弱氣虛人禁用。得木香、乾薑良。墮胎。</p>

<h2>【防己】</h2>
<p>味苦辛寒。性燥而不淳。入足太陽經。功專下行。漢防己得黃柏知母。去下焦濕腫。木防己得防風、葵子通小便淋澀。足傷寒濕為腳氣。寒濕鬱而為熱。濕則腫。熱則痛。防己為主。溫加苡仁、蒼朮、木瓜、木通。熱加芩、柏。風加羌活、萆薢。痰加竹瀝、南星。痛加香附、木香。活血加四物。大便秘加桃仁、紅花。小便秘加牛膝澤瀉。痛連肩臂加桂枝、威靈仙。痛連脅加膽草。若因腎虛足跟痛者。不可同論。即濕熱在上焦氣分。亦所禁忌。治風宜用木防己。治水宜用漢防己。酒洗用。惡細辛。畏萆薢。</p>

<h2>【葶藶】</h2>
<p>味辛寒。入手太陰陽明經。足太陽經。功專降氣止喘。治上氣水蓄。得漢防己治陽水暴腫。得大棗治肺壅喘急。有甜苦二種。甜者性緩。苦者性急。泄肺傷胃。宜與大棗同用。得酒良。榆皮為使。糯米微炒。去米入湯劑。</p>

<h2>【甘遂】</h2>
<p>味甘苦寒。入足太陽經。功專療十二種水。得大黃、阿膠治婦人血結。得大麥面治膜外水氣。虛者忌用。麵裹煨熟。用瓜蒂為使。惡遠志。反甘草。仲景治心下留飲。與甘草同用。取其相反以立功也。有治水腫及腫毒。均以甘遂末敷腫處。濃煎甘草服之。其腫立消。</p>

<h2>【大戟】</h2>
<p>味苦寒。入足太陽經。功專治十二種水。得甘遂、白芥子療水氣脹滿。得乾薑治水腫喘急。通經墮胎。誤服損真氣。白者傷人。漿水煮去骨。得大棗良。畏菖蒲。反甘草。</p>

<h2>【商陸】</h2>
<p>苦寒。入足太陽經。有毒。沉陰下行。與大戟、甘遂、相等。功專治水氣脹滿。若喉痹不通。切薄片醋炒塗喉中良。墮胎。令人見鬼神。赤者傷人。只堪貼臍。入麝三分。搗貼。小便利則腫消。黑豆湯浸蒸用。得蒜良。</p>

<h2>【芫花】</h2>
<p>味辛溫。入足太陽經。功專泄水。治心腹脹滿。水氣寒痰。得大戟、甘遂為贅瘤焦法。得大黃、甘草、大棗、芒硝治水腫支飲。陳久者良。醋煮過。水浸曝用。根療疥子毒魚。反甘草。訟者取葉擦皮膚輒作赤腫假傷以誣人。虛者服必夭折。惟十棗湯用之為君藥。</p>

<h2>【澤漆】</h2>
<p>味苦辛微寒。入手足太陰經。功專利水。治大腹水氣。四肢面目浮腫。下痢腫滿。氣急喘嗽。小便如血。得大黃、葶藶療心下伏瘕。一名貓兒眼睛。</p>

<h2>【常山】</h2>
<p>味苦。入手太陰足陽明經。功專劫痰截瘧。得知母、貝母、草果治諸瘧。得丹砂能劫痰瘧。得檳榔、草果治瘴瘧。得甘草治肺瘧。得豆豉、烏梅、竹葉治腎瘧。得小麥、淡竹葉治溫瘧。得黃連治久瘧。得雲母、龍骨治牝瘧獨寒。得麻黃、甘草、牡蠣治牡瘧獨熱。得甘草則吐。得大黃則利。若酒浸蒸或炒用則不吐。莖葉名蜀漆。功用略同。惟味辛。生用性升。炒黑則緩。栝蔞為使。忌蔥茗。</p>

<h2>【藜蘆】</h2>
<p>味辛寒。入手太陰足陽明經。功專吐膈上風痰。至苦有毒。入口即吐。善通頂。令人嚏。風證多用之。虛者忌用。頭生蟣蝨。以末摻之。疥癬蟲瘡。以末攪生麻油塗之。取根去頭用。黃連為使。反細辛、芍藥、諸參。惡大黃。畏蔥白。服之吐者。服蔥白湯即止。與酒同服殺人。</p>

<h2>【木通】</h2>
<p>味甘淡。入手足太陽經。功專通滯。得琥珀、茯苓瀉火利水。汗多禁用。古名通草。今市所售。味苦。不知何故。俟考。</p>

<h2>【通草】</h2>
<p>味淡色白。入手太陰足陽明經。功專引熱下行。下乳汁。治五淋水腫。目昏耳聾。鼻塞失音。退熱催生。新通草瓦上燒存性研末。用二錢熱酒沖服。治頭痛牙關已閉者神效。</p>

<h2>【澤瀉】</h2>
<p>味鹹。入足太陽太陰經。功專利水通淋。得白朮治支飲。得麋銜治酒風。鹽水拌或酒浸用。忌鐵。畏文蛤。</p>

<h2>【車前】</h2>
<p>味鹹。入足少陰經。功專下行。得牛膝疏肝之性。導引利水。得菟絲子升清降濁。能補虛明目。催生下胎。酒蒸或炒研用。陽氣下陷者忌。腎虛氣脫尤宜避。五子衍宗丸。枸杞、菟絲各八兩。五味覆盆各四兩。車前二兩。蜜丸。慣遺泄者。易車前用蓮子。</p>

<h2>【燈草】</h2>
<p>味甘寒。入足少陰經。功專降心火。瀉肺熱。得辰砂治小兒夜啼。得紅花治喉風喉痹。紮成把擦癬良。燒灰止血。小便不禁及中寒者忌。</p>

<h2>【瞿麥】</h2>
<p>味苦。入手少陰太陽經。功專利水破血。得栝蔞、茯苓、山芋、雞子治便閉。得山梔、甘草、蔥白、燈心治溺血。然性利善下。故能消腫明目去翳。通經墮胎。虛者慎用。花名洛陽蕊殼。丹皮為使。惡螵蛸。產後淋當去血。瞿麥蒲黃皆為要藥。</p>

<h2>【萹蓄】</h2>
<p>味甘平。入足太陽經。功專利小便。消女子陰蝕。得醋治蛔攻心痛。得瞿麥通淋。即扁竹也。</p>

<h2>【天仙藤】</h2>
<p>味苦溫。入足太陰經。功專疏氣活血。及風勞腹痛。妊娠水腫。治疝氣作痛。以藤一兩。好酒一盞。煎半盞服神效。生磨消腫病。即青木香藤也。</p>

<h2>【地膚子】</h2>
<p>味甘苦氣寒。入足太陽經。功專益精強陰。入膀胱。除虛熱。利小便而通淋。治㿗疝。散惡瘡。葉作浴湯。去皮膚風熱丹腫。洗眼除雀盲澀痛。惡螵蛸。脅下疼痛。地膚子末酒服良。</p>

<h2>【石葦】</h2>
<p>味甘苦微寒。入手太陰經。功專清金利水道。益精氣。補五勞。治淋崩發背。炒末冷調酒服。去毛。微火炙用。杏仁、滑石、射干為使。得菖蒲良。生瓦上者名瓦葦。治淋亦佳。</p>

<h2>【海金沙】</h2>
<p>味甘寒。入手太陽經。功專利水通淋。得獵茶治小便不通。得滑石治膏淋如油。得白朮黑牽牛治脾濕腫滿。得梔子、牙硝、硼砂治傷寒熱狂。</p>

<h2>【茵陳】</h2>
<p>味苦。入足太陽陽明太陰經。功專去風濕寒熱。得山梔療熱黃。得附子治陰黃。得車前治眼目濕熱赤腫。凡濕熱為病。推為上品。浸酒服。可以去濕。</p>

<h2>【香薷】</h2>
<p>味辛溫。入足陽明太陰手少陰經。功專散暑利濕。得厚朴治傷暑寒證。得白朮治暑濕水腫。單服治霍亂轉筋。宜冷飲。熱則瀉。</p>

<h2>【青蒿】</h2>
<p>味苦寒。入手足少陽厥陰經。功專清熱。得地骨皮治骨蒸勞熱。蓐勞虛熱。最穩且效。得鱉甲治溫瘧。</p>

<h2>【附子】</h2>
<p>味辛溫。入足太陰厥陰經。功專驅風泄濕。熟附得麻黃髮中有補。生附得麻黃補中有發。得人參能留陽氣。得熟地能固元陽。得乾薑、桂枝溫經散寒。通經墮胎。畏人參、黃耆、甘草、防風、犀角、綠豆、童便。反貝母、半夏、栝蔞、白芨、白蘞。中其毒者。黃連、犀角、甘草煎湯解之。或用黃土煎水服亦可。若手足凍裂。附子去皮為末。以水面調塗。若眼赤以附片貼足心引火下行自愈。附尖合漿水飲之可吐膠痰。</p>

<h2>【川烏頭】</h2>
<p>味辛溫。入手厥陰少陽經。功專去風痰。得梔子治疝氣。得乾薑治陰毒傷寒。得木香治冷氣洞泄。</p>

<h2>【天雄】</h2>
<p>味辛溫。入手厥陰少陽經。功專治一切風。得烏頭、附子治元陽虛憊。得白朮、桂枝、龍骨療男子失精。得烏頭、黑豆。治大風惡癩。</p>

<h2>【草烏頭】</h2>
<p>味苦辛。入手厥陰少陽經。功專治諸風。得五靈脂治風濕痹水。得蛤粉、茴香治結陰下血。得川椒、雞子白治腹中癥結。惟性至毒。不可輕投。薑汁炒或豆腐煮用。烏頭三個去皮臍為末。醋調。貼治腰腳冷痛。一名烏喙。一名射罔。煮箭頭射獸。見血立斃。</p>

<h2>【白附子】</h2>
<p>味辛甘大熱。入手厥陰少陽經。功專引藥上行。治面上百病。作面脂。消瘢疵。去遊風。惟性燥毒。似中風證雖有痰。並小兒慢驚均忌。此藥已無真者。今聞涼州尚有生者。</p>

<h2>【破故紙】</h2>
<p>味辛。入足少陰厥陰經。功專治腎冷精流。得菟絲子治下元虛憊。得杜仲、胡桃治腎虛腰痛。得茯苓、沒藥定心補腎。得茴香治小便無度。得韭子治腎漏莖舉。得肉果治脾腎虛泄。得粟殼治洞瀉久利。陰虛有熱。大便閉結忌之。出南番者色赤。嶺南者色綠。一名補骨脂。酒浸蒸。或童便乳汁鹽水拌炒用。得胡桃良。胡麻為使。惡甘草。忌羊肉、羊血、蕓薹。唐鄭相國有青娥丸。</p>

<h2>【肉蓯蓉】</h2>
<p>味淡。入足少陰經。功專補腎陰。菟絲補腎之陽。同用則生精補陽。驟用恐妨心滑大便。功用與瑣陽相仿。禁忌亦同。酒浸一宿。刷去浮甲劈破。除內筋膜。酒蒸半日酥炙用。忌鐵。草蓯蓉功力稍劣。</p>

<h2>【瑣陽】</h2>
<p>味甘溫。入足厥陰經。功專潤燥養筋。得虎骨治痿弱。便燥者啖之。可代蓯蓉。煮粥彌佳。酥炙。</p>

<h2>【胡蘆巴】</h2>
<p>味苦大溫。入足陽明少陰經。功專暖丹田。得桃仁治膀胱氣。得茴香川楝治奔豚偏墜。得蕎麥、茴香治冷氣疝瘕。得補骨脂、木瓜治寒濕腳氣。得附子、硫黃治陽氣不能歸元。酒浸曝。或蒸或炒用。</p>

<h2>【巴戟天】</h2>
<p>味辛。入足少陰經。功專溫補元陽。得純陰藥有既濟之功。並散風濕。治風氣腳氣水腫。去心酒浸焙用。覆盆子為使。惡丹參。</p>

<h2>【仙茅】</h2>
<p>味辛溫。入足少陰厥陰經。功專治風冷虛勞。得生地、枸杞、茴香、柏仁治腰腳攣痹。相火盛者忌。去皮切。糯米泔浸去汁出毒用。忌鐵。</p>

<h2>【淫羊藿】</h2>
<p>味辛。入手足陽明經。功專益精氣。強心力。得無灰酒浸治偏風皮膚不仁。一名仙靈脾。去枝羊脂拌炒。山藥為使。得酒良。</p>

<h2>【蛇床子】</h2>
<p>味苦。入少陽三焦經。功專強陰養陰。得五味、菟絲療陽痿。得烏梅治產後陰脫。同礬煎洗治陰痿囊濕。女子陰痛陰癢。炒蛇床熨產門不閉。惡丹皮、貝母、巴豆。</p>

<h2>【菟絲子】</h2>
<p>味辛甘。入足三陰經。功專續絕傷。暖精寒。得茯苓、廣蓮治白濁遺精。得麥冬治赤濁。得牛膝治腰腳痛。得車前治產難橫生。得酒良。淘去泥沙。酒浸一宿。曝乾為末。山藥為使。</p>

<h2>【覆盆子】</h2>
<p>味甘。入足少陰經。功專益腎精。縮小便。得肉蓯蓉、補骨脂治陽氣不起。同蜜為膏。治肺氣虛寒。小便不利者勿服。用宜去蒂。淘淨。搗餅酒拌蒸。葉絞汁滴目中出目弦蟲。除膚赤。收濕止淚。臁瘡潰爛。酸漿水洗後。以覆盆葉為末摻之良。</p>

<h2>【白蒺藜】</h2>
<p>味苦辛。入足少陰厥陰經。功專通利破血去風。得雞子油。治偏枯神效。得貝母下死胎。得當歸通月事。牙齒搖動者。以根燒灰塗之。</p>

<h2>【沙菀蒺藜】</h2>
<p>味辛甘。入足少陰經。功專補腎。得魚鰾能聚精氣。得菊花明目。若陽道數舉。媾精難出者勿服。炒用。</p>

<h2>【使君子】</h2>
<p>味甘。入足太陰厥陰經。功專殺蟲。療五疳。得蘆薈治小兒疳熱忌飲熱茶。</p>

<h2>【益智仁】</h2>
<p>味辛熱。入足太陰經。功專止遺濁。縮小便。得烏藥治小便頻數。因熱而崩濁者禁用。</p>

<h2>【砂仁】</h2>
<p>味辛。入手足陽明經。功專消食散滯。得白朮、條芩能安胎。一名縮砂蜜。</p>

<h2>【白豆蔻】</h2>
<p>味辛熱。入手太陰經。功專散滯破積。脾虛瘧疾。感寒腹痛。白睛翳膜。目眥紅筋。得砂仁、甘草治小兒吐乳。得砂仁、丁香、陳皮治反胃。凡因熱受病者均忌。胃冷噁心。食下即吐。以三枚研末酒沖服。</p>

<h2>【肉豆蔻】</h2>
<p>味辛溫。入手足陽明經。功專暖脾胃。固大腸。得木香、附子治久瀉不止。煨用。一名肉果。</p>

<h2>【草豆蔻】</h2>
<p>味辛。入足太陰陽明經。功專散滯氣。消鬲上痰。得熱附子治寒瘧。得烏梅治久瘧不止。含之去口臭。有內熱者宜忌。一名草蔻。</p>

<h2>【草果仁】</h2>
<p>味辛酸。入足太陰經。功專散寒濕鬱滯。得知母治瘴瘧。得烏梅截瘧。得木瓜、曲柏療中虛。惡谷面。裹煨用。忌鐵。一名草果。</p>

<h2>【香附】</h2>
<p>味苦辛。入足厥陰經。通行十二經。功專下氣解鬱。得木香則散滯和中。得山梔能降鬱火。得茯苓能交心腎。得茴香、補骨脂能引氣歸元。得厚朴則決壅消脹。得艾葉能暖子宮。得高良薑治心脾冷痛。得烏藥為青囊丸。得黃連名黃鶴丹。二者皆治百病。得烏蘇安胎。青鹽炒入腎。酒浸炒行經絡。醋浸炒消積聚。薑汁炒化痰飲。炒黑止血。忌鐵。</p>

<h2>【木香】</h2>
<p>味辛苦。入手太陽經。功專調氣散滯。得黃連治滯下。得檳榔治下焦氣滯。得橘皮、肉果、生薑治腹間滯塞冷氣。功效捷速。煨熟實大腸。過服損氣。畏火。</p>

<h2>【藿香】</h2>
<p>味辛甘。微溫。入手足太陰經。功專快氣和中。開胃止嘔。以及霍亂吐瀉。心腹絞痛。肺虛有寒。惟胃弱胃熱而嘔者忌。得滑石治暑月泄瀉。</p>

<h2>【茴香】</h2>
<p>味辛。入足陽明少陰經。功專散膀胱冷氣。乾溼腳氣。得生薑鹽治睪丸腫大。得川楝子治腎消飲水。得杏仁、蔥白治膀胱疝痛。炒黃用。得酒良。得鹽入腎。疝氣入腎。茴香炒作二包。更換熨之。若陽道數舉。得熱則吐勿服。古名蘹香。產寧夏者佳。</p>

<h2>【小茴香】</h2>
<p>味辛溫。入足陽明少陰經。功專理氣開胃。寒疝食料宜之。治陰疝以大小茴香各一兩為末。豬胞一個。連尿入藥。酒煮爛為丸。每服五十丸。一名時蒔蘿。一名八角茴香。一名舶茴香。功用略同。自番舶來實大如柏實。裂成八瓣。一瓣一核。黃褐色者佳。</p>

<h2>【甘松香】</h2>
<p>味甘溫芳香。入足太陰經。功專理氣開鬱。治腹卒滿痛。風疳齒䘌。膝腳氣浮。煎洗良。腎虛齒痛。以甘松、硫黃等分為末。泡湯漱之神效。</p>

<h2>【良薑】</h2>
<p>味辛氣溫。入足太陰陽明經。功專溫中下氣。得茯苓治胃寒噫逆。得粳米治霍亂腹痛。並主治暖痢冷癖。肺胃熱者忌之。子名紅豆蔻。並用東壁土炒用。</p>

<h2>【蓽茇】</h2>
<p>味辛熱。入手足陽明經。功專除胃冷。溫中下氣。消食祛痰。得牛乳點服。治水瀉氣痢。得乾薑、細辛治牙因寒痛。鼻流青涕。以末吹之甚效。</p>

<h2>【菸草】</h2>
<p>味辛溫有毒。入手足太陰。通行十二經。功專去滯氣停痰。闢山嵐瘴霧。一名相思草。</p>

<h2>【金銀花】</h2>
<p>味甘。入手太陰足厥陰經。功專散熱解毒。得當歸治熱毒血利。得黃耆名六一湯。治癰疽後發渴。以花燒存性研末。沙糖拌沖服。治腹痛下痢極效。藤名忍冬。</p>

<h2>【蒲公英】</h2>
<p>味甘平苦寒。入足陽明厥陰少陰經。功專化熱毒。解食毒。治腫核通淋。得忍冬與酒煎服。以渣搗塗乳癰良。掘其根大如拳。旁有人形拱抱者。取以搗汁酒服。治噎膈良。多年惡瘡。以之搗爛貼塗均妙。一名黃花地丁。</p>

<h2>【紫花地丁】</h2>
<p>味辛苦。入足陽明經。功專治乳癤痘疔。與黃花地丁相同。</p>

<h2>【天名精】</h2>
<p>味甘寒微毒。入手足陽明厥陰經。功專破血。治砂淋血淋。得乳麝少許共為末。吹治乳娥喉痹。若小兒急慢驚風。牙關緊閉。絞汁入好酒灌之即醒。以渣用醋拌敷項下神效。根名杜牛膝。男女吐血。曬乾為末。茅花湯調服二錢。蟲痛以肥肉汁調服。子名鶴蝨。大腸蟲出不斷。斷之復生。行坐不得。炒研為末。水調服半兩許即愈。以之煎湯洗痔。渣敷患處。或搗敷蛇蟲螫毒尤良。地黃為使。一名地松。一名活鹿草。一名蝦蟆藍。</p>

<h2>【山豆根】</h2>
<p>味苦寒。入手太陰經。功專瀉心火。治喉痛喉腫。齒痛齦腫。喘滿熱咳。腹痛下利。五痔諸瘡。解藥毒。敷禿瘡蛇狗蜘蛛傷。療人馬急黃。惟脾虛胃弱者忌。食少便溏受寒者尤忌。</p>

<h2>【牛蒡子】</h2>
<p>味辛。入手太陰經。功專消肺風。利咽膈。得荊芥治咽喉不利。得生草治懸癰喉痛。得甘桔治咽喉痘疹。得薄荷治風熱癮痧。搗和豬脂貼瘡腫及反花瘡。性冷而滑利。虛寒泄瀉者忌服。一名鼠黏子。一名惡實。</p>

<h2>【山慈菇】</h2>
<p>味甘微辛有小毒。入足厥陰少陽經。功專清熱散結消腫。以醋磨塗良。並吐風狂痰涎。</p>

<h2>【漏蘆】</h2>
<p>味鹹苦寒。入手足太陰經。功專散熱解毒。通經下乳。排膿止血。生肌殺蟲。治遺精尿血癰疽發背及痘疹毒。甘草拌蒸。連翹為使。</p>

<h2>【貫眾】</h2>
<p>味苦微寒有毒。入手太陰足厥陰經。功專解邪熱。治崩中帶下。產後血氣脹痛。破癥瘕。發斑痘。化骨鯁。殺三蟲。以之浸水中。去垢闢毒。</p>

<h2>【射干】</h2>
<p>味辛苦微涼有毒。入手少陰厥陰經。功專散結氣。喉痹咽痛。不得稍息。並療瘧母。喉痹不通。以根搗汁咽之。大腑動即解。或醋研取汁噙之。引出涎亦妙。又方用紫蝴蝶根一錢。黃芩、生草、桔梗各五分為末。水調頓服立愈。傷寒咽閉腫痛。用生射干、豬脂各四兩。合煎令焦。去渣。每噙棗許即瘥。乳癰初起。用射干、殭蠶、萱草根為末。蜜調敷之神效。</p>

<h2>【千金子】</h2>
<p>味辛溫有毒。入手足陽明太陽經。功專破血行水。去殼。以色白者壓去油。用十數枚煎服。治痰飲神效。一名續隨子。</p>

<h2>【馬蘭子】</h2>
<p>味苦。入足厥陰經血分。功專治寒疝喉痹癰腫瘡癤。婦人血氣煩悶。血運崩帶。利大小腸。久服令人瀉。治痢用醋拌。一名蠡實。</p>

<h2>【蓖麻子】</h2>
<p>味苦有毒。性善收亦善走。入手太陰足太陽經。功專開通諸竅經絡。治偏風頭痛。合乳香等分搗成餅。隨左右貼太陽。解發出氣即愈。治口眼喎斜。只用蓖麻子一味搗爛。左喎貼右。右喎貼左即正。治鼻窒耳聾。以綿裹塞之。喉痹舌脹。取油作紙捻。燒煙燻之。竹木刺入肉。搗敷傷處。頻看刺出即去之。否則必胬出好肉。竹木骨哽。以凝水石共研作一捻。置舌根噙咽。旋即不見。湯火灼傷。同蛤粉等分。湯傷以油調。火灼以水調塗之效。發黃。蓖麻仁以香油煎焦。去滓。三日後頻覆即黑。腳氣作痛。以仁七粒研碎。同蘇合香丸貼足心。痛即止。胞衣不下。以蓖麻一粒。巴豆一粒。麝香一分。貼臍中並足心。胎下即去。若子腸出而不收。以蓖麻仁數粒。搗貼頭頂。俟一收進。遂即去之。切不可遲。</p>

<h2>【白頭翁】</h2>
<p>味苦。入手足陽明經血分。功專治熱毒下痢。得秦皮、黃連、黃柏治厥陰熱痢。若血分無熱者忌。得酒良。</p>

<h2>【王瓜】</h2>
<p>味苦寒。入手足太陰經。功專瀉熱利水。治天行熱疾。黃疸消渴。便數帶下。月閉瘀血。利大小腸。排膿消腫。下乳。得伏龍肝搗汁調和服。治傷寒發斑。即土瓜根子。名赤雹子。治肺痿吐血。腸風瀉血赤白痢。得棗肉平胃散酒服。治反胃。</p>

<h2>【王不留行】</h2>
<p>味甘苦。入足厥陰經。功專行而不住。又為陽明衝任之藥。通經下乳催生。得穿山甲服之。下乳甚捷。漿水浸用。得黃柏治誤吞鐵石神效。</p>

<h2>【冬葵子】</h2>
<p>味甘氣寒。入足太陽經。功專滑利。能通精下胎。得砂仁治乳汁蓄癰。得牛膝下胞衣。得榆皮治水腫。得滑石、木通、蔥白治子淋。黃蜀葵子半合研爛。以酒濾去渣、溫服催生。赤花治赤帶。白花治白帶。葵子為末。塗湯火傷。</p>

<h2>【白蘚皮】</h2>
<p>味苦。入手太陰陽明經。功專除風濕痛痹鼠瘻。已破者服之最效。惡桑螵蛸、桔梗、茯苓、萆薢。</p>

<h2>【萆薢】</h2>
<p>味苦。入足陽明厥陰經。功專去風濕。得杜仲治腰腳痹軟。得石菖蒲、益智仁治白濁頻數莖痛。薏苡為使。畏大黃、柴胡、前胡。忌茗醋。</p>

<h2>【土茯苓】</h2>
<p>味甘平淡。入手足陽明經。功專健脾胃。祛風濕。利小便。治筋骨拘攣。楊梅瘡毒。忌茶。一名冷飯糰。</p>

<h2>【白蘞】</h2>
<p>味苦。入足少陽厥陰經。功專清上逆之火。泄下郁之熱。以及陰腫帶下。得白芷治諸物哽咽。得附子治風痹筋急。同丹皮或半夏為末酒服。治箭鏃不出。同白芨為末。斂瘡口。湯火爛傷。以末敷之效。反烏頭。</p>

<h2>【旱蓮草】</h2>
<p>味甘酸。入足少陰厥陰經。功專烏髭發。益腎陰。得青鹽固齒。得車前治溺血。性寒。若不同薑汁椒紅相兼修服。恐腹痛作瀉。偏正頭風。用汁滴鼻中良。獨用焙研。每晨米飲下二錢。治腸風臟毒下血不止。用搗汁。沖極熱黃酒飲之。治痔漏瘡發。外即以渣敷患處。重者不過三服神效。一名鯉腸。一名金陵草。</p>

<h2>【劉寄奴草】</h2>
<p>味甘溫。入足厥陰經。功專活血通經。除症下脹。金瘡要藥。得骨碎補延胡索。治折傷瘀血在腹內。大小便血。為末。茶調服即止。風入瘡口腫痛。為末摻之即止。多服令人吐利。</p>

<h2>【馬鞭草】</h2>
<p>味苦微寒。入足厥陰經。功專破血通經。殺蟲消脹。治氣血症瘕癰瘡陰腫。</p>

<h2>【穀精草】</h2>
<p>味辛溫。入足厥陰陽明經。輕浮上行。功專明目退翳。功勝菊花。亦治喉痹齒痛。陽明風熱。羯羊肝一具不洗。竹刀割開。入穀精草煮熟食之。或作丸茶下。治小兒雀盲。得決明子、木賊、甘菊、密蒙花、生地治障翳。得防風為末。米飲服之。治目中翳膜神效。忌鐵。</p>

<h2>【決明子】</h2>
<p>味甘苦鹹平。入足厥陰經。功專除風熱。治一切目疾。作枕治頭風。明目勝於黑豆。俗呼馬蹄決明。惡大麻仁。</p>

<h2>【蓼實】</h2>
<p>味辛溫。入手足太陰足厥陰經。功專溫中明目。下水氣。</p>

<h2>【青葙子】</h2>
<p>味苦微寒。入厥陰經。功專祛風熱。鎮肝明目。治青盲障翳蟲疥惡瘡。瞳子散大者忌服。一名草決明。</p>

<h2>【馬勃】</h2>
<p>味辛平輕虛。入手太陰經。功專清肺解熱。散血止嗽。得馬牙硝等分為末。砂糖和丸芡子大噙之。治失音。但用馬勃吹喉。治喉痹喉腫。以蛇退一條燒灰。同馬勃綿裹一錢含咽。治咽痛喉腫。立時即瘥。</p>

<h2>【木鱉子】</h2>
<p>味苦溫微甘。有小毒。入足厥陰經。功專利大腸。追毒生肌除䵟。外科要藥。能毒狗。番木鱉治喉癖。</p>

<h2>【敗醬】</h2>
<p>味苦。入手足陽明厥陰經。功專破血排膿。得四物治惡露不止。得當歸、川芎、桂心治產後腰痛。一名苦菜。用根苗。</p>

<h1>卷二　木部</h1>

<h2>【茯苓】</h2>
<p>味甘淡。入手足太陰太陽經。功專補心益脾。得人參能下氣。得半夏能滌飲。若虛寒遺溺泄精者。當用溫補之品。不宜用此。皮膚治水腫膚脹。赤者利水尤捷。惡白蘞。畏地榆、秦艽、龜甲、雄黃。忌醋。</p>

<h2>【茯神】</h2>
<p>味甘淡。入手少陰經。功專開心益智。止驚悸。虛人小腸不利。得棗仁能安神。得乳香、木瓜酒治筋骨攣痛。</p>

<h2>【琥珀】</h2>
<p>味甘淡。入手少陰少陽足厥陰經血分。功專消瘀通淋。得黑穭豆治產後神昏。得麝香治小便淋瀝。用柏子仁末。入瓦鍋同煮半日。搗末用。</p>

<h2>【松節】</h2>
<p>味苦溫。入手太陰陽明少陰足厥陰經。功專驅骨中之風。燥血中之濕。化毒殺蟲。釀酒良。血分虛者忌服。松毛浸油塗頭生髮。並敷凍瘡。治陰囊濕癢。松花為末止血。擦豆瘡傷損。並濕爛不痂。松脂止痛生肌。熬膏貼崩中惡痹及牙痛。松子與柏子同功。</p>

<h2>【側柏葉】</h2>
<p>味苦澀微寒。入手足太陰陽明經。功專養陰滋肺燥土。治吐衄崩淋。腸風尿血血痢。冷風濕痹。或炒或生用。桂、牡蠣為使。惡菊花。宜酒。</p>

<h2>【柏子仁】</h2>
<p>味甘。入足厥陰經。功專養心平肝潤腎。得遠志能交通心腎。得松子、麻仁治老人虛秘。炒研去油用。搗塗黃水瘡甚效。畏菊花。</p>

<h2>【肉桂】</h2>
<p>味甘辛。入足厥陰經。功專療沉寒痼冷。益火消陰。通經催生。得人參、麥冬、甘草能益中氣。得紫石英治吐逆。得二苓、澤瀉、白朮行水。去粗皮用。得人參、甘草、麥冬良。忌生蔥、石脂。足躄筋急。桂末和白酒塗。外腎偏腫水調塗均效。產交趾者良。</p>

<h2>【桂心】</h2>
<p>味苦。入手少陰足太陰經。功專引血化汗。內托癰疽。同丁香治痘瘡灰塌。消瘀生肌。補虛寒。宣氣血。利關節。治風痹癥瘕。噎膈腹滿。心腹諸痛。桂枝去皮為桂心。</p>

<h2>【桂枝】</h2>
<p>味辛溫。入足太陽經。功專溫經通脈。去風止汗。得芍藥、甘草能利營衛。得雄雞肝治小兒遺尿。陰虛者忌服。</p>

<h2>【木犀花】</h2>
<p>辛溫。同百藥煎孩兒茶作膏餅噙咽。生津闢臭化痰。治風蟲牙痛。同麻油蒸熟潤髮。及作面脂。以葉煎湯洗髮去垢除風。嫩枝為桂枝。</p>

<h2>【枸杞子】</h2>
<p>味甘。入足厥陰少陰經。功專補精血。得杜仲、萆薢治腎虛腰痛。得青鹽、川椒治肝虛目暗。葉名天精草。苦甘而涼。清上焦心肺客熱。代茶止消渴。子酒潤搗用。得熟地良。便滑者宜避。</p>

<h2>【地骨皮】</h2>
<p>味甘淡。微苦。入手太陰經。功專退熱除煩。得麥冬、小麥治勞渴。得青蒿子治虛熱。得生地酒煮服治帶下。若吐血尿血。搗鮮汁服效。婦人陰腫或生瘡。以之煎水頻洗良。中寒及便溏者忌。甘草水浸一宿用。有汗之骨蒸最宜。</p>

<h2>【山茱萸】</h2>
<p>味酸。入足厥陰少陰經。功專助陽固陰。得熟地補腎虛。得五味攝精氣。強陽不痿。小便不利者忌用。核滑精。用尤宜去。陳者良。惡防己、防風、桔梗。</p>

<h2>【酸棗仁】</h2>
<p>味甘酸而潤。入手少陰足少陽經。功專安神定志。得人參、茯苓治盜汗。得辰砂、乳香治膽虛不寐。炒用。惡防己。</p>

<h2>【杜仲】</h2>
<p>味苦辛。入足厥陰經。功專治肝虛。得羊腎治腎虛腰痛。得牡蠣治虛汗。得糯米、山藥、棗肉治胎漏胎墜。得補骨脂、青鹽、枸杞能壯腎陽。或酥酒炙。蜜炙鹽酒炒。薑汁炒。炒斷絲用。惡元參。</p>

<h2>【女貞子】</h2>
<p>味甘苦而平。入足少陰經。功專益肝腎。安五臟。強腰膝。明耳目。得旱蓮草、桑椹治虛損百病。惟陰虛者宜之。否則腹痛作瀉。冬至採佳。搗汁熬膏。淨瓶收固。埋地中七日。以之點風火赤眼神效。即冬青子也。葉苦平。除風散血消腫。治頭痛目昏諸惡瘡腫。以水煮葉。湯貼胻瘡潰爛神效。</p>

<h2>【楮實】</h2>
<p>味甘。入足太陰少陰經。功專軟骨。得茯苓治水氣臌脹。研末塗身面石疽。水浸取沉香。酒蒸用。皮治水腫氣滿尤捷。以汁和白芨飛面。調和接紙。永不解脫。葉甘涼。祛濕熱。治老少下痢瘴痢。為末。白痢薑湯下。赤痢沙糖湯下。一名谷實。</p>

<h2>【桑白皮】</h2>
<p>味甘。入手太陰經。得地骨皮瀉肺。得白茯苓利水。得糯米治咳嗽吐血。肺氣虛及風寒作嗽者慎用。續斷、桂心為使。忌鐵。</p>

<h2>【桑枝】</h2>
<p>味甘苦。入手足太陰經。功專去風濕拘攣。得桂枝治肩臂痹痛。得槐枝、柳枝、桃枝洗遍身癢。</p>

<h2>【桑椹】</h2>
<p>味甘酸溫。色紫黑。入足厥陰少陰經。功專補水利五臟關節。安魂鎮神。聰耳明目。生津止渴。解金石藥之燥。並利水消腫。醒酒烏須。多食致衄。曬乾為末。蜜丸良。鮮者煎膏入蜜煉稠。點湯服。名文武膏。能治瘰癧。入燒酒經年愈佳。</p>

<h2>【桑葉】</h2>
<p>味甘。入手足陽明經。功專清風熱。得麥冬治勞熱。得生地、阿膠、石膏、枇杷葉治肺燥咳血。得黑芝麻煉蜜為丸。除濕祛風明目。以之代茶。採取經霜者。常服治盜汗。洗眼去風淚。以木作面盆洗面。去面上遊風。</p>

<h2>【桑寄生】</h2>
<p>味甘苦。入足少陰經。功專堅腎。助筋骨。固齒長髮。益血止崩。下乳安胎。和血除痹。外科散瘡瘍。追風濕。得阿膠、艾葉治胎動腹痛。以之搗汁服。治膈氣。忌火。</p>

<h2>【山梔子】</h2>
<p>味苦。入手太陰經。功專除煩瀉火。得滑石治血淋溺閉。得川烏治冷熱腹痛。得香豉治腎燥。並吐虛煩客熱。得茵陳治五黃。生用瀉火。炒黑止血。薑汁炒止煩嘔。內熱用仁。表熱用皮。</p>

<h2>【豬苓】</h2>
<p>味苦甘。入足少陰太陽經。功專利水滲濕。得雞矢白治小兒溺閉。四苓散五苓散多用之。用宜去皮。</p>

<h2>【黃柏】</h2>
<p>味苦。入足少陰經。功專去濕熱。得肉桂治咽痛。得蒼朮治濕痿。加牛膝治濕熱上行。得細辛瀉膀胱火。得蛤粉治赤濁白淫。得參、朮、草、薑、附、桂治中氣不足。虛火上炎。致生口瘡。引火歸元。得知母滋陰降火。得竹瀝浸塗小兒重舌。尺脈弱者忌服。生用降實火。蜜炙則不傷胃。炒黑止崩帶。酒製治上。蜜制治中。鹽制治下。惡乾漆。得知母良。</p>

<h2>【枳實】</h2>
<p>味苦。入手太陰陽明經。功專破積下痰。得白朮去痰飲。得栝蔞消痞結。得皂角通大便。得參、朮、乾薑則益氣。得硝、黃、牽牛則破氣。孕婦及氣虛人忌。陳者良。麩炒用。</p>

<h2>【枳殼】</h2>
<p>即枳實之大者。其力稍緩。得枯梗治虛痞。得甘草治婦人體肥難產。</p>

<h2>【厚朴】</h2>
<p>味苦。入足太陰陽明經。功專寬胸導濕。得蒼朮治濕滿。得黃連治滯下。得杏仁能下氣定喘。孕婦及脾胃虛者忌服。薑汁炒用。乾薑為使。惡澤瀉、硝石。忌豆。</p>

<h2>【檳榔】</h2>
<p>味苦辛。入手足陽明經。功專宣利臟腑壅滯。得枳實治傷寒痞滿。得木瓜治腳氣衝心。得橘皮治金瘡噁心。得木香調氣。得黃芩、枳殼寬腸。聤耳出膿為末吹之。遊丹從臍起者以醋調末塗之。陰毛生蝨。煎水洗即效。氣虛下陷者勿服。</p>

<h2>【大腹皮】</h2>
<p>味辛溫。入足陽明太陰經。功專泄肺和脾。下氣行水。通大小腸。主治水腫腳氣。痞脹痰膈。瘴瘧霍亂。氣虛者忌用。</p>

<h2>【槐角】</h2>
<p>味苦寒。入足厥陰經。功專殺蟲。得牛膽明目通神。得地榆、當歸、防風、黃芩、枳殼治五種腸風瀉血。得苦參治內外痔。十月上巳。採槐角納牛膽中。陰乾百日。食後吞一枚。能白髮還黑。腸風血痔尤宜。惟性純陰。虛寒虛熱而非實火及孕婦均忌。去單子及五子者。銅槌捶碎。牛乳拌蒸。</p>

<h2>【槐花】</h2>
<p>味苦涼。入手足陽明足厥陰經。功專治腸風腸熱。得鬱金治小便血。得荊芥穗治大便血。得山梔治酒毒下血。得條芩治血崩。得牡蠣治赤白帶。舌上無故出血。名舌衄。炒槐花為末摻之效。含蕊而陳者良。微炒用。忌同槐實。槐枝洗瘡痔核並陰囊濕癢良。燒灰揩牙去蟲。</p>

<h2>【苦楝子】</h2>
<p>味苦。入手少陰足厥陰少陰經。功專治諸疝。得延胡索治熱厥心痛。得吳茱萸治氣痛囊腫。得補骨脂、小茴香、食鹽治偏墜痛不可忍。有蟲耗其津液者。取根皮濃煎。少加麝服之。下其蟲而渴自止。脾胃虛寒者宜忌。酒蒸去皮。核肉不並用。用核捶碎。茴香為使。一名金鈴子。</p>

<h2>【蔓荊子】</h2>
<p>味辛甘微涼。入足太陽厥陰經。功專涼諸經血。明目搜肝風。得皂莢、蒺藜治皮痹不仁。得羌活、防風治風熱頭痛。血虛有火者慎用。惡石膏、烏頭。</p>

<h2>【石南葉】</h2>
<p>味辛苦平有毒。入足厥陰經。功專治風痹腳弱。得藜蘆瓜丁共為末。吹入鼻少許。一日三度。內服牛黃平肝藥。治小兒通睛。炙用。五加皮為使。惡小薊。</p>

<h2>【辛夷】</h2>
<p>味辛。入手太陰足陽明經。功專去頭風鼻病。得川芎、薄荷、細辛、石膏。治鼻塞流涕。不聞香臭。得南星、半夏、黃柏、牡蠣治鼻淵下如白膿。偶感風寒鼻塞及血虛火熾者均忌。去皮毛焙用。川芎為使。惡石脂。畏菖蒲、石膏、蒲黃、黃連。一名木筆花。一名迎春花。</p>

<h2>【郁李仁】</h2>
<p>味酸甘辛苦而平。入足太陰經。功專下氣利水。治大腸燥澀。得醇酒能使人睡。津液不足者勿服。浸去皮尖。蜜浸研。</p>

<h2>【金櫻子】</h2>
<p>味酸澀溫。入手太陰陽明經。功專治脾泄精滑。得芡實能固精。得縮砂能益精。去刺核研。泄瀉由於火熱暴注。小便不禁。精滑因於虛火熾者不可用。</p>

<h2>【訶子】</h2>
<p>味苦溫。入手太陰陽明經。功專下氣澀腸。得烏梅五味則收斂。得橘皮、厚朴則泄氣。得肉果治水瀉下利。得人參治肺虛寒嗽。得陳皮、砂仁治冷氣腹脹。佐白朮、蓮子治虛寒久瀉。佐樗皮治腸澼便血。同蛇床、五味、山茱、續斷、杜仲治虛寒帶下。嗽痢初起。氣虛肺熱。濕熱。火沖氣喘。均忌。用宜酒蒸。去核焙。生用清金行氣。熟用溫胃固腸。核止咳痢。一名訶黎勒。</p>

<h2>【烏藥】</h2>
<p>味辛溫。入足陽明少陰經。功專消風順氣。得沉香治胸腹冷氣。得益智仁治小便頻數。得茴香、青皮、良薑治五積切痛。得人參、沉香、檳榔各磨濃汁合煎。治諸喘。氣血虛而有內熱者勿單服。酒浸一宿。炒或煅研用。並療貓狗百病。</p>

<h2>【五加皮】</h2>
<p>味辛。入足厥陰少陰經。功專壯筋骨。除風濕。得地骨皮治虛勞。得丹皮、當歸治婦人血風。下部無風寒濕邪而有火。及肝腎虛而有火者勿服。遠志為使。惡元參。葉作蔬食。去皮膚風濕。</p>

<h2>【椿樗】</h2>
<p>味苦溫。入足陽明經。功專殺蟲止利。得訶子、母丁香醋治休息利。得蒼朮、枳殼治脾毒腸風。得乾薑、白芍、黃柏治濕熱白帶。得參為末。每日空心溫酒或米飲下二錢。治年久臟毒血痢神效。性似寒。虛寒陰虛以及痢疾積滯未盡者勿服。去粗皮。醋炙或蜜炙。忌豬肉熱面。</p>

<h2>【榆白皮】</h2>
<p>味平滑利。入手太陽陽明經。功專通二便。利諸竅。行經脈。滲濕熱。滑胎。下有形留滯之物。治五淋腫滿。嗽喘不眠。以醋調塗妒乳效。火灼傷以末塗之良。去粗皮。取白用。</p>

<h2>【秦皮】</h2>
<p>味苦澀。入足厥陰少陽經。功專治風寒濕痹。得黃連、阿膠、白頭翁治產後下痢。以秦皮煎湯。日日溫洗。治赤眼生翳效。細辛、大戟為使。惡吳茱萸。</p>

<h2>【海桐皮】</h2>
<p>味苦辛。入足太陰陽明經。功專祛風去濕殺蟲。得苡仁、牛膝、川芎、羌活、地骨皮、五加皮、生地酒浸飲。治風躄頑痹。腰膝疼痛。以蛇床子合為末。用臘豬脂調搽風癬良。</p>

<h2>【蕤仁】</h2>
<p>味甘微寒。入手少陰厥陰太陰經。功專消風散熱。益水生光。治目赤腫痛眥爛淚出。心腹邪熱結氣痰痞。得細辛、竹葉煎水洗。治飛血眼。</p>

<h2>【密蒙花】</h2>
<p>味甘微寒。入足厥陰經。功專潤燥。治目疾。得黃柏為丸。治目翳良。揀淨酒潤焙用。</p>

<h2>【芙蓉花】</h2>
<p>味辛平。性滑涎黏。入手太陰經。功專清肺涼血。散熱止痛。或花或葉。或皮或根。生搗或乾研為末。蜜調塗一切癰疽。留頭。干則換之再塗。初起則痛止腫消。已成則膿出易斂。所云清涼膏、清露散、鐵箍散、皆此物。如加赤小豆末或蒼耳燒存性為末亦妙。經水不止。以芙蓉花、蓮蓬殼等分為末。米飲下二錢效。</p>

<h2>【山茶花】</h2>
<p>味甘辛寒。入足厥陰手陽明經。功專涼血。治吐衄腸風下血。湯火傷。麻油調塗。鼻衄以之燒灰塞鼻效。用紅者良。</p>

<h2>【杉木】</h2>
<p>味辛溫。入手太陰經。功專去惡氣。散風毒。治腳氣腫痛。心腹脹滿。洗毒瘡。鄭洵美以柳子厚得腳氣。半夜痞絕。脅塊如石。昏困欲死。傳用杉木節一升。橘葉一升。無葉以皮代。大腹檳榔七枚。連子捶碎。童便三升。煮分二服。服一服。少頃大下。塊散氣通。名杉木湯。</p>

<h2>【木槿】</h2>
<p>味苦涼。入手足太陰厥陰經。功專活血潤燥。治腸風瀉血。痢後熱渴。作飲服。令人得睡。以肥皂水浸。或浸汁磨拌雄黃擦頑癬及蟲瘡良。以槿皮二兩。酒碗半。煎一碗。空心服。治帶下。赤帶用白酒。白帶用紅酒最妙。川產者佳。不宜多服。湯劑不入為是。</p>

<h2>【烏臼木】</h2>
<p>味苦涼。性沉降。入手陽明經。功專利水通腸。功勝大戟。療疔腫。解砒毒。凡患腫毒中砒毒者。不拘根皮花葉。搗汁多飲。得大利即愈。蟲瘡以油塗之良。虛者忌服。子可作燭。</p>

<h2>【水楊柳】</h2>
<p>味苦平。入手太陰經。功專起痘瘡頂陷。用枝煎湯浴之神效。</p>

<h2>【西河柳】</h2>
<p>味甘鹹平。入手太陰經。功專消痞解酒。利小便。療諸風。解諸毒。痧疹不出。嗽喘悶亂。以葉為末。服四錢。疹後痢。以沙糖調服最效。一名觀音柳。一名檉柳。</p>

<h2>【皂角】</h2>
<p>味辛鹹。性燥。氣浮而散。入手太陰陽明足厥陰經。功專搜風泄熱。通關竅而吐痰涎。搐鼻立作噴嚏。治中風口噤。胸痹喉痹。除濕去垢。消痰破堅。殺蟲下胎。並治風濕風癩。喘腫痰壅。堅症囊結。得白礬治中風不省人事。口噤。單服炙灰。治老人風秘。誤吞鐵物。研末服之神效。以皂角燒鐵鍋。鍋遂碎如粉。其化鐵可知。去皮子弦。或蜜炙酥炙。絞汁燒灰。柏實為使。惡麥冬。畏人參、苦參。皂刺味辛溫。功同皂角。治腫毒妒乳。乳癰。汁不出。內結成腫名妒乳。已潰勿服。肥皂莢。味辛溫微毒。除風濕。去垢膩不拘奇瘍惡毒。用生者子弦筋。搗爛醋和敷立愈。不愈再敷。奇驗。忌鐵。</p>

<h2>【棕櫚】</h2>
<p>味苦。入足厥陰經。功專泄熱收脫。得側柏卷柏炙灰存性服之。止遠年下血。以及吐衄下痢崩帶。腸風下血。凡九竅流溢及金瘡跌打諸血。燒灰塗之即止。惟用年久敗棕良。與發灰同用尤佳。</p>

<h2>【茶葉】</h2>
<p>味苦甘。入手足少陰太陰厥陰經。功專清心肺。滌腸胃。得甘菊治頭痛。得生薑水滯下。酒後飲之。引入膀胱腎經。患瘕疝水腫空心亦忌之。陳細者良。</p>

<h2>【吳茱萸】</h2>
<p>味辛苦。入足太陰陽明厥陰經。功專溫中下氣。得乾薑治吞酸。得黃連、白芍治赤白下利。得茯苓治痰飲。惟損氣動火。昏目發瘡。病非寒滯有濕者勿用。即有寒濕者亦宜少用。開口陳久者良。滾湯泡去苦汁。止嘔黃連水炒。治疝鹽水炒。治血醋炒。惡丹參、硝石。畏紫石英。</p>

<h2>【蜀椒】</h2>
<p>味辛。入足太陰陽明經。功專療心腹冷痛。傳屍勞疰。得地黃汁調養真元。得白茯苓補益心腎。得烏梅治蛔。陰虛火旺之人忌服。閉口者殺人宜去之。微炒去汗。搗去裡面黃殼。取紅用。名椒紅。得鹽良。杏仁為使。畏雄黃、附子、防風、款冬、涼水麻仁。中其毒者用涼水麻仁漿解之。一名川椒。秦產俗名花椒。實稍大。子名椒目。味辛有小毒。專行水道。不行穀道。消水蠱。除脹定喘。及腎虛耳鳴。根辛熱。殺蟲煎湯。洗腳氣及濕瘡。</p>

<h2>【畢澄茄】</h2>
<p>味辛大熱有毒。入足太陰陽明經。功專治膀胱冷氣。得白豆蔻治噎食不納。得高良薑治寒呃。得薄荷、荊芥治鼻塞不通。得蓽茇為末。擦牙治齒浮熱痛。若蜈蚣咬傷。畢澄茄嚼敷即愈。畢澄茄即胡椒之大者。一類二種。胡椒殺魚肉鱉蕈毒。食料宜之。多食損肺發瘡。</p>

<h2>【蘇木】</h2>
<p>味甘鹹辛平。入手足太陰少陰厥陰經。功專行血去瘀。宣表裡之風。得乳香酒服治產後敗血上衝。得人參治敗血乘虛入肺。挾虛氣喘垂危。若刀斧斷指。以末敷之。外以蠶繭縛好即接。虛甚無瘀滯者忌服。</p>

<h2>【沉香】</h2>
<p>味辛苦性溫。入手足太陰足陽明少陰經。功專治氣淋精寒。得木香治胞轉不通。得肉蓯蓉治大腸虛閉。得紫蘇、白蔻仁為末。以柿蒂湯服。治胃冷久呃。色黑沉水者良。入湯劑磨汁。入丸散紙裹置懷中。待燥碾之。忌火。</p>

<h2>【檀香】</h2>
<p>味辛溫。入手太陰足少陰手足陽明經。功專調脾肺。利胸膈。去邪惡。能引胃氣上升。進飲食。得丹參、砂仁治婦女心腹諸痛。</p>

<h2>【降香】</h2>
<p>味辛溫。入手太陰經。功專療折傷金瘡。止血定痛。得牛膝、生地、治吐瘀血。為末敷金瘡結痂無瘢。怒氣傷肝。用代鬱金神效。一名紫藤香。</p>

<h2>【丁香】</h2>
<p>味辛溫。入足陽明經。功專去胃寒。得甘蔗、生薑治朝暮吐。得柿蒂治呃逆。得五味子治奔豚。得生薑治食蟹致傷。性熱而燥。症非虛寒者忌用。雌者為母丁香。即雞舌香也。畏鬱金。忌火。</p>

<h2>【乳香】</h2>
<p>味苦辛。入足厥陰經。功專活血伸筋。得枳殼令胎滑易產。得辰砂一兩。棗仁、乳香各五錢。酒下治顛狂。須恣飲沉醉。聽睡一二日勿驚動。其疾方愈。否則難治。加人參名寧志膏。得蔥白等分搗敷玉莖痛。性黏難研。用缽坐熱水中。以燈心同研易細。水飛過用。一名薰陸香。</p>

<h2>【沒藥】</h2>
<p>味苦。入足厥陰經。功專破血止痛。得乳香治跌撲損傷腫痛。得虎脛骨治歷節風痛。孕婦忌。</p>

<h2>【楓脂香】</h2>
<p>味苦。入手太陰經。功專療癮疹瘋癢。得蛤粉薑汁治吐血衄血。外科要品。一名白膠。</p>

<h2>【龍腦香】</h2>
<p>味辛苦。入手太陰足厥陰經。功專治骨節間風。得豬血令心經痘毒宣發於表。得硃砂治牙痛。得蔥汁治內外痔。一名冰片。</p>

<h2>【樟腦】</h2>
<p>味辛熱。能於水中發火。入足厥陰經。功專通關利滯。除濕殺蟲。置鞋底去腳氣。得花椒脂麻為末。先以退豬水洗過小兒禿瘡。然後以末塗之效。</p>

<h2>【蘇合香】</h2>
<p>味辛甘溫。入手太陰足厥陰經。功專通神辟惡。得安息諸香蓽茇、訶子、硃砂、犀角治傳屍鬼疰。</p>

<h2>【血竭】</h2>
<p>味甘鹹平有小毒。色赤入血分。入足厥陰經。功專散瘀生新。專除血痛。治金瘡折跌瘡口不合。止痛生肌。卻能引膿。不可多用。無瘀積者忌之。嵌腳痛及血痔。俱以末敷之。鼻衄以末吹之均效。一名麒麟竭。</p>

<h2>【阿魏】</h2>
<p>味辛。入足太陰厥陰經。功專殺蟲破症。闢瘟消瘴。得丹砂為丸能截瘧。得靈脂黃狗膽治噎膈痞積。惟臭烈恐傷胃氣。虛者須忌用。缽研細。熱酒器上濾過入藥。解蕈菜及自死牛馬毒。</p>

<h2>【蘆薈】</h2>
<p>味苦寒。入足厥陰經。功專涼膈熱。得使君子治小兒脾疳。得硃砂治老人風秘。得甘草共為末。調敷濕癬良。胃虛者忌服。亦名象膽。</p>

<h2>【胡桐淚】</h2>
<p>味苦鹹大寒。入足陽明經。功專殺蟲。軟堅除熱。得地骨皮煎湯漱口。治牙疳宣露。膿血臭氣。</p>

<h2>【蕪荑】</h2>
<p>味辛苦。入足厥陰經。功專殺蟲。得訶子治小兒冷痢。加豆蔻尤良。得檳榔能殺諸蟲。陳久氣膻者佳。</p>

<h2>【沒石子】</h2>
<p>味苦溫。入足少陰經。功專澀精固氣。強陰助陽。止遺淋。除泄痢。收陰汗。烏鬚髮。性偏不可輕用。一名無食子。</p>

<h2>【鬼箭羽】</h2>
<p>味苦寒酸澀。入足厥陰經。功專破血通經。墮胎殺蟲祛祟。炙酥用。一名衛矛。</p>

<h2>【漆】</h2>
<p>味辛溫有毒。入足厥陰經。功專消瘀破積。得白蕪荑治小兒蟲病。得牛膝、生地。治婦女經閉。得大麥糵治產後血氣凝腫水疾。得柏子、山萸、棗仁治七傷證。血見漆即化為水。虛人及慣生大瘡者忌服。炒令煙盡為度。或燒存性。半夏為使。畏川椒、紫蘇、雞子蟹。漆得蟹而成水。中漆毒者。服杉木湯紫蘇湯蟹湯俱可解。生漆瘡者煎湯洗之立愈。</p>

<h2>【巴豆】</h2>
<p>味辛。入手足陽明經。功專盪滌臟腑。得杏仁治飛屍鬼疰。得亂髮灰治舌上出血。得白礬療天絲入咽。得雄黃鬱金為丸。津嚥下。名解毒丸。治纏喉急痹。然系厲劑。不可輕用。去油名巴豆霜。芫花為使。畏大黃、黃連涼水。中巴豆毒者以此解之。或黑豆綠豆均佳。得火良。巴豆一錢。石灰拌過。人信一錢。糯米五分炒研。點疣痣黑子。</p>

<h2>【荊瀝】</h2>
<p>味甘平。入手足太陰足陽明經。功專除風熱。化痰涎。開經絡。行血氣。治中風失音。驚癇痰迷。眩暈煩悶。消渴熱痢。為去風化實痰之妙品。薑汁助送。則不凝滯。</p>

<h2>【竹瀝】</h2>
<p>味甘。入手少陰足陽明經。功專豁痰下氣。得薑汁治中風口噤。得葛根汁治小兒傷寒。和黃連、黃柏、黃丹數小兒吻瘡效。得茯苓治子煩。薑汁為使。</p>

<h2>【竹茹】</h2>
<p>味甘。入足陽明經。功專清熱利氣。得栝蔞治傷寒勞復。得參、苓、芩、草治產後煩熱。剖去青皮。用第二層。</p>

<h2>【竹葉】</h2>
<p>味甘寒辛淡。入手少陰足陽明經。功專清心消渴。得石膏治傷寒發熱大渴。得陳皮治上氣發熱。得小麥、石膏治時行發黃。竹根同葉煎湯。洗婦人子宮下脫。</p>

<h2>【淡竹葉】</h2>
<p>味甘寒。入手少陰厥陰經。功專清心。得麥冬去煩熱。利小便。</p>

<h2>【天竹黃】</h2>
<p>味甘微寒。入手厥陰經。功專涼心去風熱。利竅豁痰。鎮肝明目。功同竹瀝而和緩。惟真者難得。即竹中黃粉。須出南海者。</p>

<h2>【雷丸】</h2>
<p>味苦寒有小毒。入手足陽明經功專消積殺蟲。腹中得應聲蟲非此莫治。甘草水浸一宿。酒拌蒸或炮用。厚朴、芫花為使。惡葛根。又名竹芩。</p>

<h1>卷三　果部</h1>

<h2>【大棗】</h2>
<p>味甘微苦辛酸鹹。氣香。入足太陰陽明經。功專和營。得生薑則和衛治瘧疾。得小麥、甘草治臟燥悲傷。諸瘡久壞不愈。以棗膏煎洗效。食棗閉氣。食椒即解。中滿及風疾痰熱齒痛小兒疳病均忌。殺烏附毒。忌與蔥魚同食。</p>

<h2>【杏仁】</h2>
<p>味甘苦。入手太陰經氣分。功專散結潤燥。得門冬能潤心肺。得柿餅治肺病咯血。得童便能補肺劫勞。得陳皮治氣閉晝便難。其性毒能殺蟲。治瘡。制錫狗毒。消狗肉積。因虛而咳嗽便閉者忌之。雙仁者殺人。去皮尖炒研。發散連皮尖研。得火良。惡葛根。黃芩、黃耆。杏子肉酸熱。孕婦忌食。</p>

<h2>【巴旦杏仁】</h2>
<p>味甘平。入手太陰經。功專降逆。有濕痰者勿服。得麻黃、甘草治諸忤。</p>

<h2>【烏梅】</h2>
<p>味酸澀溫。入手足厥陰太陰經。功專斂肺固腸。解渴止吐。得建面乾薑治休息痢。得黃蓮灶下土等分為末茶調服治血痢。若大便不通。氣奔欲死。以烏梅數顆。湯浸去核。丸棗大。納入下部。少時即通。疽愈後有肉突起。燒灰存性。研末敷之即平。若痰厥僵仆。牙關緊閉。取肉揩牙齦。涎出即開。若過食酸梅齒齼者。嚼胡桃肉即解。衣生黴點者梅葉煎湯洗之即去。清水揉梅葉洗蕉葛衣。經夏不脆。</p>

<h2>【桃仁】</h2>
<p>味苦甘辛。入手足厥陰經血分。功專破瘀潤腸。止心腹痛。得吳茱萸治冷勞減食。得延胡索、川楝子治肝厥胃脘痛。婦人陰癢。杵桃仁綿裹塞之。陰腫敷之立效。瘧疾寒熱。以桃仁一百枚。去皮尖。置缽內研成膏。不得犯生水。入黃丹三錢。丸梧子大。每服三丸。當發日面北溫酒下。合此丸須端午午時。忌婦人雞犬見。</p>

<h2>【慄】</h2>
<p>味甘鹹溫。入足太陰少陰經。功專厚腸胃。補腎氣。多食閉氣。小兒疳瘡。生嚼敷之良。並止鼻衄。塗筋骨碎斷。消腫痛。行瘀血。風乾者佳。殼止便血。殼內薄皮治骨鯁。俱燒灰存性用。</p>

<h2>【梨】</h2>
<p>味甘微酸寒。入手太陰經。功專清熱嗽止渴。潤肺涼心。得黑穭豆治痰喘氣急。得丁香治反胃。切片貼湯火傷。脾虛而瀉者忌。乳婦及金瘡勿食。搗汁熬膏良。加薑汁蜜尤佳。清痰止嗽。與萊菔相間收藏則不爛。取汁點眼消赤腫胬肉神效。</p>

<h2>【柿】</h2>
<p>味甘冷。入手太陰少陰經。功專潤肺止嗽。清胃理煩。乾柿甘寒。澀腸止泄。消宿血。治熱咳。反胃。以之燒灰。每服二錢。治下血。柿霜生津化痰。治咽喉口舌痛。柿性頗寒。肺經無火及寒咳冷痢滑泄者忌之。若與蟹同食。腹痛作瀉。柿蒂得丁香、生薑。開鬱散痰。治呃逆不止。從治之法則然。試之頗驗。</p>

<h2>【木瓜】</h2>
<p>味酸。入足太陰厥陰經。功專去濕痹腳氣。霍亂轉筋。腰足無力。多食損齒骨病癃閉。陳者良。木瓜切片鋪席上。可闢治壁蝨。為末以鱔魚身上涎。調貼反花痔瘡甚效。</p>

<h2>【山楂】</h2>
<p>味酸甘微溫。入足太陰厥陰經。功專消食起痘。得茴香治偏墜疝氣。得紫草治痘疹乾黑。得沙糖去惡露。治少腹痛。脾虛惡食者忌服。凡用人參不宜者。服山楂即解。化肉積甚速。凍瘡塗之即愈。治疝催生用核良。</p>

<h2>【橘皮】</h2>
<p>味苦辛。入足陽明太陰經。功專利氣止嘔。得白朮補脾。得甘草補肺。得杏仁治大腸氣閉。亦治腳氣衝心。得桃仁治大腸血閉。得生薑治嘔噦厥冷。得神麯、生薑治經年氣嗽。得麝香治婦人乳癰。得半夏治濕痰。童便浸治痰咳。薑汁炒治痰積寒痰。鹽水炒入下焦。蜜炙入中焦。</p>

<h2>【橘核】</h2>
<p>味苦。入足厥陰經。功專行肝氣。消腫散毒。腰腎疼痛。得荔核治疝。酒炒良。葉散乳癰。</p>

<h2>【橘絡】</h2>
<p>味淡微苦。入足少陰經。功專通經絡滯氣脈脹。驅皮裡膜外積痰。</p>

<h2>【青皮】</h2>
<p>味辛苦溫。色青氣烈。入足厥陰經。功專疏肝瀉肺。治肝氣鬱積。脅痛多怒。久瘧結癖。疝痛乳腫。發汗。有汗及氣虛人禁用。醋炒用。葉治胸膈氣逆。消腫散毒。婦人妒乳內外吹乳岩乳癰用之皆效。</p>

<h2>【佛手柑】</h2>
<p>味苦酸溫。入手足太陰經。功專理上焦氣而止嘔。進中州食而健脾。除心頭痰水。治痰氣咳嗽。心下氣痛。獨用損氣。宜與參朮並行。陳久者良。一名香櫞。古名枸櫞。</p>

<h2>【香欒】</h2>
<p>味甘酸辛平。入手足太陰陽明經。功專下氣消食。快膈化痰。解酒毒。治飲酒人口氣。去腸胃中惡氣。散憤懣之氣。能療妊婦不思食。虛而無滯者禁。孕婦氣虛勿與。</p>

<h2>【花紅】</h2>
<p>味酸澀甘溫。入手足太陰陽明經。功專生津。治消渴泄精水痢。小兒閃癖。為末和醋敷瘰癧良。多吃發熱。閉百脈。</p>

<h2>【枇杷葉】</h2>
<p>味苦。入手太陰經。功專下氣止嘔。得茅根治瘟病發嘔。得山梔治赤鼻面瘡。得丁香人參治反胃嘔噦。得款冬、紫菀、杏仁、桑皮、木通、少加大黃蜜丸。治肺熱久嗽。身如火燎。肌瘦將成勞。去毛用。治胃病薑汁塗炙黃。治肺病蜜水炙黃。</p>

<h2>【枇杷】</h2>
<p>味甘酸平。入手太陰經。功專止渴下氣。利肺氣。止吐逆。除上焦熱。潤五臟。多食發痰熱傷脾。同肉及熱麵食。令人患熱黃疾。</p>

<h2>【楊梅】</h2>
<p>味酸甘溫。入手足太陰厥陰經。功專去痰止嘔生津。燒灰服斷下痢。多食發熱衄血。忌與生蔥同食。</p>

<h2>【石榴皮】</h2>
<p>味酸澀溫。入手太陰足少陰經。功專澀腸止痢。便血崩中帶下之病。合陳壁土少加明礬煎洗脫肛。再以五倍子研末敷而托上之良。點眼止淚。塗瘡拔毒。</p>

<h2>【銀杏】</h2>
<p>味甘苦。入手太陰經。功專收澀。熟食溫肺益氣。定痰哮。斂喘嗽。縮小便。止帶濁。殺蟲去蝨。麻黃一錢。銀杏十枚。治喘效。多食壅氣。一名白果。葉闢諸蟲。</p>

<h2>【胡桃】</h2>
<p>味甘。入足陽明手太陰經。功專補命門。暖丹田。得杏仁治喘嗽。得骨脂補下焦陽虛。與姜同嚼噙咽。治寒嗆。同蔥薑茶搗煎發汗散寒。肺熱火熾者忌。潤燥去皮。斂澀連皮。油者殺蟲。以油調冰片少許滴耳中。治耳內生耳聤。殼外青皮烏須。</p>

<h2>【荔枝核】</h2>
<p>味甘溫澀。入足太陰厥陰經。功專散滯氣。闢寒邪。得香附治胃脘痛。婦人血氣痛。得茴香青皮治㿗疝卵腫。加酒服尤妙。無寒濕滯氣者勿服。燒存性用。荔枝甘酸熱。連皮核燒存性為末。白湯調下。治呃逆。殼發痘瘡。並解荔枝熱。荔核多吃損齒。有火者忌。</p>

<h2>【龍眼肉】</h2>
<p>味甘平潤。入足太陰厥陰經。功專補心長智。悅胃培脾。療健忘與怔忡。能安神而熟寐。一切思慮過度。勞傷心脾。血不歸脾諸症。凡受風寒者忌。</p>

<h2>【橄欖】</h2>
<p>味甘澀平。入手太陰經。功專清肺開胃。下氣除煩。生津解酒。利咽喉。解河豚毒。每日以核兩個磨汁拌沙糖吃。兩年之後。永不出痘奇驗。磨核汁治魚骨哽。仁研塗唇燥裂。</p>

<h2>【榧子】</h2>
<p>味甘澀平。入手足陽明經。功專殺蟲消積。多食引火入肺。反綠豆。寇氏云多食潤腸。</p>

<h2>【海松子】</h2>
<p>味甘溫香。入手太陰陽明經。功專潤肺開胃。散水氣。除諸風。得胡桃加倍煉蜜為丸或同服。治肺燥咳嗽。得柏子仁、麻仁溶蠟為丸。名三仁丸。治虛秘。黃耆湯下。有濕痰及便溏精滑者忌。</p>

<h2>【枳椇】</h2>
<p>味甘平。入手太陰經。功專止渴除煩。得麝香解酒毒。多食發蛔蟲。一名木蜜。俗名雞距。入酒酒化為水。</p>

<h2>【落花生】</h2>
<p>味辛甘香。入手太陰經。功專潤肺補脾。和平可貴。多食生痰。</p>

<h2>【甜瓜】</h2>
<p>味甘寒。入足太陽陽明經。功專清煩止渴。解暑泄。胃滑腸瀉者忌吃。</p>

<h2>【瓜蒂】</h2>
<p>味苦寒。有小毒。入足陽明經。功專引吐。得淡豆豉、赤小豆吐中有散。葉搗汁塗頭生髮。偏頭痛以瓜蒂曬乾生研末。納鼻中出黃水即愈。甜瓜蒂也。</p>

<h2>【西瓜】</h2>
<p>味甘寒。入手太陰足陽明經。功專解暑除煩。利便醒酒。止渴清熱。有寒濕者勿食。瓜子殼治吐血腸風下血。</p>

<h2>【甘蔗】</h2>
<p>味甘。入足太陰陽明經。功專潤肺生津。得薑汁治反胃。得麥冬、生地治春溫液涸。以皮曬乾生研。麻油調塗禿瘡良。中滿滑瀉者勿食。</p>

<h2>【白沙糖】</h2>
<p>味甘溫。入足太陰經。功專補脾緩肝。潤肺和中。消痰治嗽。堅白如冰者為冰糖。食韭口臭。糖湯可解。</p>

<h2>【紫沙糖】</h2>
<p>味甘溫。入足太陰陽明經。功用與白相仿。惟白者炎上。紫者達下。產後同益母草膏和服。下惡露。</p>

<h2>【蓮子】</h2>
<p>味甘平而澀。入足太陰少陰經。功專清心固腎。得乳香益智治遺精白濁。得炙草治赤濁。得陳倉米治噤口痢。大便燥者勿服。去心皮蒸熟焙乾。得枸杞、白朮、山藥、茯苓良。</p>

<h2>【石蓮子】</h2>
<p>味苦。入手少陰經。功專清心除煩。開胃進食。治噤口痢淋濁諸證。無濕熱而虛寒者勿服。</p>

<h2>【蓮蕊須】</h2>
<p>味甘平澀。入足少陰經。功專清心澀精。得黑牽牛、當歸治久近痔漏。得黃柏治欲火夢遺。小便不利者勿服。</p>

<h2>【藕衣節】</h2>
<p>味澀平。入手少陰足陽明厥陰經。功專消瘀血。得發灰治血淋。得酒可解蟹毒。和地黃搗汁。熱酒童便飲。治產後血悶。得梨汁治上焦痰熱。熟搗塗坼裂凍瘡。蓮花貼天泡濕瘡神效。</p>

<h2>【敗蓮房】</h2>
<p>味澀。入足厥陰經。功專消瘀血。得厥陰經藥治大便下血。</p>

<h2>【荷葉】</h2>
<p>味苦平。入足太陰陽明經。功專升少陽生氣。得升麻、蒼朮治雷頭風。得殭蠶、胡荽治痘瘡倒陷。獨用葉炙灰酒服治遺精。虛者禁用。紫背荷葉主治同上。而功益捷。</p>

<h2>【菱角】</h2>
<p>味甘寒。入足陽明經。功專安中消暑。止渴解酒。食菱傷者。服酒或薑汁即愈。</p>

<h2>【芡實】</h2>
<p>味甘澀。入手太陰足少陰經。功專暖元陽。得生地止血。得金櫻子澀精。得菟絲子實大便。大小便不利者勿服。</p>

<h2>【荸薺】</h2>
<p>味甘寒滑。入足太陰陽明經。功專消食攻積。除胸中實熱。治五種噎膈消渴。黃疸血症蟲毒。能毀銅。得陳海蟄煎湯服。消胸中頑痰。通大便。小兒口瘡。炙灰敷之良。性涼不可多吃。孕婦大忌。</p>

<h2>【慈菇】</h2>
<p>味苦甘微寒。入足太陰厥陰經。功專解百毒。產後血悶攻心欲死。產難胞衣不出。搗汁服一升。並治石淋。多食發病。</p>

<h1>卷四　蔬部</h1>

<h2>【韭菜】</h2>
<p>味辛溫微酸。入足厥陰經。功專溫脾益胃。止瀉痢而散逆冷。助腎補陽。固精氣而暖腰膝。散瘀血。逐停痰。入血分而行氣。治吐衄損傷一切血病。以生蟹與韭菜搗爛。童便黃酒煎服。治跌打損傷神效。得薑汁、牛乳治反胃噎膈。得桔梗治死血留胃中作痛。得五芩散為丸。茴香湯下。治腎氣上攻。致心腹作痛。多食昏目。忌蜜。百蟲入耳。韭汁灌之即出。聤耳出水。韭汁日滴三次效。漆瘡作癢。韭葉杵敷之立愈。</p>

<h2>【韭子】</h2>
<p>味辛甘溫。入足少陰厥陰經。功專補肝腎。得龍骨、桑螵蛸。治遺尿泄精溺血白帶白淫等症。下部有火。陰氣不固者勿服。每日空心生吞廿粒。鹽湯下。治夢遺溺白。燒熏蟲牙痛良。韭花食之動風。</p>

<h2>【蔥白】</h2>
<p>味辛散平。入手太陰足陽明經。功專發汗解肌。通上下陽氣。得附子、乾薑、人尿、豬膽汁治面赤格陽於上。熱藥不入。得香豉、阿膠治胎動。若患外痔。先用木鱉煎洗。以蔥涎對蜜調敷。其涼如冰。數次即愈。蔥管吹鹽入玉莖中。治小便不通及轉脬危急者極效。以蔥白安臍上。熨陰毒腹痛。並燒灰塗折傷止痛無般。以莖葉煎湯頻洗水病足腫奇效。能解藥毒魚肉毒蚯蚓毒。塗猘犬傷。同蜜食。毒如砒。同大棗犬雉食。令人病。</p>

<h2>【薤白】</h2>
<p>味苦辛溫。入手太陰陽明經。功專散。滑利散結。得栝蔞、半夏治胸痹刺痛。若中惡猝死。即搗汁灌鼻中。奔豚氣痛搗汁飲神效。忌牛肉。</p>

<h2>【大蒜】</h2>
<p>味辛溫。入手足太陰陽明經。功專開胃健脾。通五臟。達諸竅。搗爛麻油調敷消癰腫。破症積。搗和地漿溫服。治中暑不醒。搗貼足心。治鼻衄。搗納肛門。治關格不通。敷臍消水利大小便。切片灼艾炙一切外瘍邪痹腫毒。得黃丹止瘧。然性熱氣臭。生痰動火。散氣耗血。昏目。損神伐性。有熱者。切勿沾唇。忌蜜。</p>

<h2>【蕓薹】</h2>
<p>味辛溫。入手足太陰經。功專散血消腫。搗貼遊風丹腫乳癰難產神效。多食動疾發瘡。子治婦人血刺。小腹痛不可忍。微炒加桂心一兩良。姜半兩為末。醋糊丸梧子大。每淡醋湯下五丸神效。油殺蟲。一名油菜。</p>

<h2>【白芥子】</h2>
<p>味辛溫。入手足太陰經。功專通行經絡。發汗散寒。溫中開胃。利氣豁痰。研末酒服一錢。治反胃上氣。與白芷等分為末。薑汁和塗腳氣腫痛神效。有瘡瘍痔疾便血者俱忌。芥菜子主治略同。</p>

<h2>【萊菔子】</h2>
<p>味辛溫平。入手太陰經。功專長於利氣。生用吐風痰。散風寒。發瘡疹。炒熟定咳嗽痰喘。調下痢後重。止內痛。消食除膨。虛弱者忌服。得生薑搗汁入麝少許搐鼻內。治年久頭風。</p>

<h2>【萊菔】</h2>
<p>味辛甘平。生食升氣。熟食降氣。入手太陰經。功專寬中消食。化痰瘀散。治吐衄咳嗽吞酸。利二便。解酒毒。制面毒。豆腐積。生搗塗跌打湯火傷。噤口痢及老人痰喘。瓦罐燉熟淡食良。反首烏、地黃。忌姜。以姜能制其毒。多食耗氣滲血。同生地食。令人白鬚發。</p>

<h2>【生薑】</h2>
<p>味辛溫。入手太陰足陽明經。功專散邪和中。得大棗和營衛。得附子溫經散寒。得杏仁下胸膈冷氣。得露水治暑瘧。殺半夏南星菌蕈野禽毒。闢露霧山嵐瘴氣。葉搗汁飲。消食鱠成症。</p>

<h2>【薑汁】</h2>
<p>味辛溫潤。入手太陰足陽明經。功專治噎膈反胃。得童便治痰中暴卒。合黃明膠熬膏。貼風濕痹痛。</p>

<h2>【姜皮】</h2>
<p>味辛涼。入足太陰經。功專和脾行水。治浮腫脹滿。得茶治痢。熱痢留皮。冷痢去皮大妙。</p>

<h2>【煨姜】</h2>
<p>味辛。入手少陰手足太陰陽明經。功專和營衛。不散不燥。與大棗並用。行脾胃之津液。</p>

<h2>【乾薑】</h2>
<p>味辛熱。入手少陰足太陰經。功專逐寒邪而發表溫經。燥脾濕而定嘔消痰。同五味利肺氣而治寒嗽。開五臟六腑。通四肢關節。宣諸絡脈。治冷痹寒痞反胃。下痢腹痛。癥瘕積脹。開胃扶脾。消食去滯。母姜曬乾。白淨結實者良。</p>

<h2>【黑姜】</h2>
<p>味辛苦大熱。入手足太陰陽明經。功專去惡生新。使陽生陰長。得芎歸甘草紅花名生化湯。為產後去瘀要藥。惟性易僭上。凡以之治中。宜佐大棗。多服損陰傷目。孕婦尤忌。</p>

<h2>【胡荽】</h2>
<p>味辛溫微毒。入足太陰陽明經。功專消穀。止頭痛。通小腹氣及心竅。利大小腸。其香竄闢一切不正之氣。痧疹痘瘡不出。煎酒噴之。除頭面勿噴。蓋覆令暖即出。並取汁塗赤丹。煎湯洗面上黑子。久食損神。令人多忘。病人食之腳軟。一名蒝荽。</p>

<h2>【蔓荊子】</h2>
<p>味辛平。瀉熱解毒。入手太陰足厥陰經。功專利水明目。搗服治黃疸腹脹。和蜜服治癥瘕積。小兒血痢。醋調末敷禿瘡。鹽調末敷乳癰蜘蛛咬毒。根解酒毒。並敷陰囊腫大如斗神效。葉利五臟。消食下氣治嗽。若飛絲入眼。用葉揉爛滴汁三兩點自出。一名諸葛菜。</p>

<h2>【胡蘿蔔】</h2>
<p>味甘平。入手足陽明經。功專寬中下氣。散腸胃滯氣。元時始自胡地來。氣味似萊菔。微有羊臊氣。有黃赤二種。子似蒔蘿。可和食料。以鍋底灰煨之。去外皮。治痰喘並治時痢。</p>

<h2>【水芹】</h2>
<p>味甘平。入手足太陰陽明經。功專去伏熱及頭中風熱。利口齒及大小腸治煩渴崩中帶下。五種黃病。小便出血。搗汁煎服愈。</p>

<h2>【旱芹】</h2>
<p>味甘寒。入足陽明厥陰經。功專除心下煩熱。下瘀血。止霍亂。凡結核氣。旱芹曬乾為末。油煎成膏摩之。日三五度便愈。</p>

<h2>【蓬蒿菜】</h2>
<p>味甘辛涼。入足太陰陽明經。功專安心氣。和脾胃。消痰飲。利腸胃。</p>

<h2>【白菜】</h2>
<p>味甘平。入手足陽明經。功專利腸胃。除胸中煩。解酒。消渴食下氣。治瘴氣。止熱嗽。和中利大小便。搗生汁敷小兒赤遊丹漆毒均效。黃芽菜尤美而益人。一名菘菜。山東直隸者最佳。</p>

<h2>【菠菜】</h2>
<p>味甘冷滑。入手太陽陽明經。功專通腸利臟。得雞肫皮治消渴引飲。</p>

<h2>【薺菜】</h2>
<p>味甘溫。入手少陰太陰足厥陰經。功專利五臟。益肝和中。根益胃明目。治目痛。同葉燒灰。治赤白痢極效。蜜湯調。子明目。名蒫實。又名菥蓂子。花治久痢。為末棗湯服。布席下闢諸蟲。釋家取其莖作挑鐙杖。可闢蚊蛾。謂之護生草即此。</p>

<h2>【莧菜】</h2>
<p>味甘冷。入手足陽明經。功專除熱。通九竅。利腸滑胎。治初痢。忌同鱉食。子明目。</p>

<h2>【馬齒莧】</h2>
<p>味酸寒。入手陽明足厥陰經。功專散血解毒。祛風殺蟲。合雞子白煎服。治赤白帶下痢。小便熱淋。以之搗汁飲即愈。煎膏塗禿瘡濕癬惡瘡良。丹毒搗汁飲。以滓塗之。利腸滑胎。子治青盲及目中出淚出膿。亦忌魚鱉。</p>

<h2>【生菜】</h2>
<p>味苦寒。入手少陰太陰足厥陰經。功專利五臟。通經脈。開膈寬胸。解熱毒酒毒。止渴利腸。魚臍瘡頭白痛甚。以針刺破頭。將白苣汁滴孔中良。一名白苣。</p>

<h2>【萵苣】</h2>
<p>味苦冷微毒。入手少陰經。功專通乳汁。殺蟲蛇毒。小便不通。搗葉敷臍上良。</p>

<h2>【翹搖】</h2>
<p>味辛平。入手足太陰陽明經。功專利五臟。明耳目。去風熱。止熱瘧。即巢菜。俗名花草。其子活血明目。藥店以此子偽充沙苑疾藜性殊。</p>

<h2>【蓴菜】</h2>
<p>味甘寒滑。入足太陰陽明經。功專消渴熱痹熱疽。逐水解百毒。</p>

<h2>【羊蹄菜】</h2>
<p>味苦寒。入手少陰經。功專治產後風秘搗汁入水半盞煎之。空心溫服。頭風白屑。以根杵同羊膽汁塗之永除。即禿菜。</p>

<h2>【菾菜】</h2>
<p>味甘苦涼滑微毒。入手足太陰經。功專療時行壯熱。搗汁服並敷禽獸傷。食之動氣。冷氣人食之必瀉子醋浸揩面。去粉刺。潤澤有光。一名善逵菜。又名莙薘菜。</p>

<h2>【黃瓜菜】</h2>
<p>味甘微苦寒。入手陽明經。功專通結利腸。一名黃花菜。</p>

<h2>【魚鯹草】</h2>
<p>味辛微寒有小毒。入手太陰經。功專散熱毒癰腫瘡痔脫肛。斷痁疾。解砒毒。敷惡瘡白禿。搗汁入陳久芥菜滷飲之。治肺癰神效。多食令人氣喘。</p>

<h2>【蕨草】</h2>
<p>味甘寒滑。入手少陰太陽經。功專去暴熱。利水道。</p>

<h2>【芋】</h2>
<p>味辛平滑有小毒。入手足陽明經。功專寬胃通腸。和魚煮食。下氣調中。</p>

<h2>【土芋】</h2>
<p>味甘辛寒有小毒。入手足陽明經。功專厚腸胃。生研水服解藥毒。俗名香芋。</p>

<h2>【山藥】</h2>
<p>味甘。入足太陰經。功專健脾。得羊肉補脾陰。得熟地固腎精。以礬水煮山藥曬乾。同茯苓等分為末。治小便數。山藥半生半炒米飲下。治噤口痢。忌與面同食。</p>

<h2>【甘薯】</h2>
<p>味甘平。入足太陰經。功專補虛乏。益氣力。健脾胃。強腎陰。即山薯。</p>

<h2>【百合】</h2>
<p>味甘苦。入手少陰太陰經。功專清肺。得款冬花治痰嗽帶血。獨用煎服。治百合病及吐血。</p>

<h2>【竹筍】</h2>
<p>味甘微寒。入手太陰足陽明經。功專利膈下氣化熱。爽胃消痰。虛人及小兒不宜多吃。因其滑腸。痘症尤宜忌之。</p>

<h2>【茄子】</h2>
<p>味甘寒而利。入手足太陰陽明經。功專散血寬腸。動風發病。多食傷子宮。老黃茄子治乳頭裂。根煎汁洗凍瘡。折蒂燒灰治口瘡。俱獲奇效。以鮮茄蒂鮮首烏等分煮飲。治對口瘡神驗。以馬尿浸根三日。酒炒為末。點牙即落。一名落蘇。</p>

<h2>【壺盧】</h2>
<p>味甘平滑。入手太陰足陽明經。功專利水通小便。治腹脹黃腫。以亞腰壺盧。連子燒存性。每服一個。食前溫服或白湯下。十餘日必愈。一名匏瓜。俗名葫蘆。</p>

<h2>【冬瓜】</h2>
<p>味甘寒。入手太陰足太陽經。功專瀉熱益脾。利二便。消水腫。止消渴。散熱毒癰腫。去皮切片。酒水煮爛。去渣熬濃。每夜塗面。變黑為白。光澤異常。子補肝明目。瘧疾寒熱。腸胃內壅。最為要藥。葉焙研敷多年惡瘡。一名白瓜。</p>

<h2>【南瓜】</h2>
<p>味甘溫。入手太陰經。功專補中益氣。與羊肉同食。令人氣壅。瓜蒂一個燒存性研末。拌炒米粉食。每日一個。食數次。治胎滑奇效。</p>

<h2>【越瓜】</h2>
<p>味甘寒。入手足陽明經。功專利腸胃。去煩熱。解酒毒。</p>

<h2>【胡瓜】</h2>
<p>味甘寒有小毒。入手足太陰經。功專清熱解渴。利水道。根搗數狐刺腫毒奇驗。一名黃瓜。</p>

<h2>【絲瓜】</h2>
<p>味甘冷。入足厥陰經。功專涼血解毒。除風化痰。通經絡。行血脈。得槐花治陽風下血。得蘆根桃仁治癰痘瘡出不快者。燒存性。入硃砂蜜水調服良。一名曰天羅。一名蠻瓜。</p>

<h2>【茭白】</h2>
<p>味甘冷。入手足太陰經。功專利五臟。去煩熱。除目黃。解酒毒。利二便。治酒皶面赤白癩瀝瘍風熱目赤。惟滑利而冷。甚不益人。宜少吃為妙。有病者尤忌。實名雕胡米。飢可作糧。</p>

<h2>【紫菜】</h2>
<p>味甘寒咸。入手太陰經。功專消癭瘤積塊。治熱氣煩塞咽喉。多食令人腹痛發氣吐白沫。飲熱醋少許即止。</p>

<h2>【海粉】</h2>
<p>味甘寒咸。入手太陰足陽明經。功專清堅頑熱痰。消癭瘤積塊。治熱煩。養陰氣。</p>

<h2>【石花菜】</h2>
<p>味甘鹹大寒滑。入手足太陰陽明經。功專去上焦浮熱。發下部虛寒。</p>

<h2>【龍鬚菜】</h2>
<p>味甘寒微咸。入足太陽太陰經。功專清熱消癭。利小便。</p>

<h2>【木耳】</h2>
<p>味甘平有小毒。入手足陽明足厥陰經。功專利五臟。宣腸胃。治五痔及一切血證。生古槐桑樹者良。柘樹者次之。地耳甘寒明目。石耳甘平明目益精。</p>

<h2>【香蕈】</h2>
<p>味甘平。入足厥陰經。功專破血治風。松蕈治溲濁不禁。</p>

<h2>【蘑菇】</h2>
<p>味甘寒。入手足太陰經。功專益腸胃。理氣化痰。土菌一名地蕈有毒。燒敷瘡疥良。</p>

<h2>【雞㙡】</h2>
<p>味甘平。入手足太陰經。功專益胃。神於治痔。一名雞菌。出雲南沙地者較他處佳。廣西出者名雷菌。</p>

<h1>卷五　五穀部</h1>

<h2>【粳米】</h2>
<p>味甘平。入手足太陰陽明經。功專和胃補中。得石膏附子。皆取其留中也。惟北粳白粳陳粳涼。赤粳新粳熱。南粳溫。且有早中晚三收。晚者得金氣多。尤能清熱。凡人嗜生米久成瘕。治以雞屎白即愈。米泔古名米瀋。第二次者清而可用。清熱止煩渴。利小便涼血。</p>

<h2>【陳倉米】</h2>
<p>味鹹。入手陽明經。功專補中益氣。得人參治脾虛泄瀉。得沉香治胃反噎塞。若一切惡瘡。百藥不效者。以陳倉米炙灰。麻油調敷即愈。</p>

<h2>【杵頭糠】</h2>
<p>味辛甘。入足陽明經。功專治膈氣噎塞。得人參石蓮治咽喉不利。</p>

<h2>【糯米】</h2>
<p>味甘溫。入手足太陰陽明經。功專補脾肺虛寒。堅大便。縮小便。收自汗。發豆瘡。同龍骨牡蠣為末撲汗良。然性黏滯。病人及小兒忌之。</p>

<h2>【穀芽】</h2>
<p>味甘溫。入手足太陰陽明經。功專開胃醒脾。下氣和中。消食化積。炒用。得砂仁白朮能使人進食。婦人食之斷乳。</p>

<h2>【飴糖】</h2>
<p>味甘溫。入手足太陰陽明經。功專補中益氣。健脾化痰。潤肺止嗽。中滿吐逆。酒病牙疳咸忌。腎病尤不可服。誤吞稻芒。頻食飴即愈。按用之建中。得桂枝為良。</p>

<h2>【秈米】</h2>
<p>味甘溫。入手足太陰經。功專益氣補中。和脾養胃。除濕止泄。</p>

<h2>【稷】</h2>
<p>味甘平。入手足太陰陽明經。功專益氣和中。宣脾利胃。即黍之不黏者。莖治通身水腫。煎湯浴效。</p>

<h2>【黍】</h2>
<p>味甘溫。入手足陽明太陰經。功專益氣補中。即稷之黏者。久食發熱。根治心氣疼痛。煎湯服良。</p>

<h2>【粱】</h2>
<p>味甘。入手足太陰陽明經。功專益氣和中除煩渴。止霍亂下利。利大小便。惟黃粱平白粱青粱微涼。黃粱尤得土氣之中和。較他谷最益脾胃。粟之大者為粱。手足生疣。白粱米粉鐵銚炒赤研細。以眾人唾和塗之。厚寸許。即消。</p>

<h2>【粟】</h2>
<p>味鹹淡微寒。入手足太陰少陰經。功專補虛損。益丹田。開脾胃。利小便。治反胃熱痢。粱之小者為粟。小兒重舌嚼哺之效。</p>

<h2>【秫】</h2>
<p>味甘微寒。入手太陰經。功專治肺瘧。得半夏治不能寐。雜安胎藥中。治妊娠下黃汁。粱米粟米之黏者為秫。即糯黃米也。以為粉炒熟。用沙糖拌食。治胃弱泄。</p>

<h2>【穇子】</h2>
<p>味甘澀。入手足太陰陽明經。功專補中益氣。厚腸胃。濟飢。一名龍爪粟。又名鴨爪稗。</p>

<h2>【蜀黍】</h2>
<p>味甘澀溫。入手足太陰陽明經。功專溫中澀腸胃。止霍亂。黏者與黍米同功。一名高粱。一名蘆穄。俗名蜀秫。又名蘆粟。</p>

<h2>【玉蜀黍】</h2>
<p>味甘平。入手足陽明經。功專調中開胃。根葉治小便淋瀝沙石痛不可忍。一名玉高粱。</p>

<h2>【菰米】</h2>
<p>味甘冷。入手足陽明經。功專止渴解煩熱。調腸胃。可療飢。一名茭米。</p>

<h2>【東牆子】</h2>
<p>味甘平。入手足太陰厥陰經。功專益氣輕身。久服不飢。堅筋骨。能步行。可為飯食。</p>

<h2>【蓬草子】</h2>
<p>味酸澀平。入手足太陰陽明經。功專療飢。作飯食不飢。無異粳米。</p>

<h2>【𦱌草子】</h2>
<p>味甘寒。入手足陽明經。功專去熱。利腸胃。益氣力。久食忘飢。一名守氣生。</p>

<h2>【蒒草子】</h2>
<p>味甘平。入手足太陰陽明經。功專補虛羸損乏。溫腸胃。止嘔逆。久食健人。輕身不飢。</p>

<h2>【稗】</h2>
<p>味甘苦微寒。入手足太陰陽明經。功專益氣宣脾。曹植曾有芳菰精稗之稱。金瘡出血不已。搗敷或研末摻之即止。甚驗。</p>

<h2>【薏苡仁】</h2>
<p>味甘淡。入足陽明經。功專去寒濕筋攣。得麻黃杏仁治風濕周痹。得郁李仁治水腫喘急。以豬肺蘸末服。治肺痿肺癰。咳吐膿血。多食薏仁。令人健飯。大便燥結。因寒筋急勿用。其力緩。必須倍於他藥。炒研。</p>

<h2>【御米殼】</h2>
<p>味澀平酸。入足少陰經。功專止瀉。得烏梅治久嗽不止。得陳皮烏梅治熱痢便血。瀉痢初起及風寒作嗽忌用。一名麗春花。凡使殼洗去蒂及筋膜。取薄皮醋炒或蜜炒。得醋烏梅陳皮良。</p>

<h2>【阿芙蓉】</h2>
<p>味酸澀。入手足太陰陽明少陰經。功專澀精固腸。得木香黃連。治久痢不止。此即嬰粟花之漿。俗作鴉片煙。貽害無窮。御米即其子。甘寒潤燥。煮粥食治反胃。加人參良。</p>

<h2>【黑大豆】</h2>
<p>味甘寒。色黑。入手足少陰厥陰經。功專補腎鎮心明目。得牯牛膽治肝虛目暗。得天花粉治腎虛消渴。得獨活治產後中風。搗塗一切腫毒。煮食利大便。緊小者入藥更佳。鹽水煮食。尤能補腎。畏五參龍膽豬肉。忌厚朴。得諸膽汁石蜜牡蠣杏仁前胡良。卒然中風不語。大豆煮汁煎稠如飴含之。並飲汁治喉痹。</p>

<h2>【黃大豆】</h2>
<p>味甘溫。入手足太陰陽明經。功專寬中下氣。利大腸。消水腫。凡痘毒生在要處。恐致殘疾。令其母嚼爛生黃豆厚敷之即消。另生他處。豆油辛甘熱微毒。塗瘡疥。解發䐈。</p>

<h2>【白豆】</h2>
<p>味甘平。入手足太陰陽明經。功專補五臟。暖腸胃。調中。葉煮食。利五臟。下氣。</p>

<h2>【赤小豆】</h2>
<p>味甘酸平。入手少陰太陽經。功專散血利水。得桑皮去濕腫。得通草能下氣。得雞子敷癰瘍。同鯉魚煮食消水腫。凡外瘍潰爛。為末敷之立效。性極黏。入苧根末則不黏。止渴解酒。通乳汁。下胞胎。久食令人瘦。半紅半黑者名相思子。一名紅豆。苦平有毒。吐心腹邪氣。風痰瘴瘧蟲蠱毒。研二十七枚服。</p>

<h2>【綠豆】</h2>
<p>味甘寒。入足太陰陽明。通行十二經。功專解金石草木毒。得黑大豆黑小豆治天行痘瘡。得白麻骨治不寐。功在綠皮。去皮即壅氣。去浮風而潤膚。利小便以治脹。厚腸胃以和脾。痘瘡潰爛。以豆粉撲之良。手足折傷。以豆粉新銚炒紫色。井水調。厚敷紙上貼傷處。復用杉皮扎住。其效如神。惟胃寒者忌。</p>

<h2>【豌豆】</h2>
<p>味甘平。入足陽明經。功專治吐逆泄痢。消渴腹脹。研末塗癰腫痘瘡。</p>

<h2>【蠶豆】</h2>
<p>味甘澀溫。入手足太陰陽明經。功專補中益氣。澀精實腸。發芽則全不閉澀。香甘可口。誤吞針入腹。以蠶豆同韭菜多食之。莫食別物。其針自由大便出甚驗。亦有胡桃肉同食者。取其速下也。</p>

<h2>【豇豆】</h2>
<p>味澀平。入手太陰經。功專散血消腫。清熱解毒。治消渴吐逆泄痢便數。解鼠莽毒。</p>

<h2>【白扁豆】</h2>
<p>味甘。入手太陰經。功專下氣消暑。得香薷治霍亂吐利。得天花粉消渴。炒研米湯調服。治赤白帶。傷寒邪熾者勿服。用皮勝於用肉。以皮清暑而不壅氣。若用之補脾。則皮肉全用為是。</p>

<h2>【穭豆】</h2>
<p>味苦澀溫。入手足太陰陽明經。功專健脾胃。治賊風風痹。俗名馬料豆。</p>

<h2>【刀豆】</h2>
<p>味甘溫。入手足陽明經。功專溫中下氣。利腸胃。益腎歸元。取子燒存性。白湯調下。治呃逆神效。</p>

<h2>【黎豆】</h2>
<p>味甘微苦溫有小毒。入手足太陰經。功專溫中益氣。多食發悶。一名貍豆。以豆作貍首紋故名。</p>

<h2>【淡豆豉】</h2>
<p>味苦寒。入手太陰經。功專泄肺清熱。下氣調中。得蔥則發汗。得山梔則吐。得鹽亦吐。得酒治風。得薤治痢。得蒜止血。炒熟又能止汗。若傷寒直中三陰與傳入陰經及熱結胸煩悶。宜下不宜汗者。均須忌服。</p>

<h2>【大豆卷】</h2>
<p>味甘平。入足陽明經。功專除胃中積熱。消水病脹滿。破婦人惡血。療濕痹筋攣膝痛。小兒撮口。初生豆芽。研爛絞汁。和乳灌少許即愈。</p>

<h2>【豆腐】</h2>
<p>味甘鹹寒。入手足太陰陽明經。功專清熱散血。和脾胃。消脹滿。下大腸濁氣。中其毒者。以萊菔子湯解之。</p>

<h2>【蒸餅】</h2>
<p>味甘平。入足太陰陽明經。功專消穀利水。得大蒜淡豆豉為丸。治久淋。</p>

<h2>【小麥】</h2>
<p>味甘微寒。入手少陰經。功專養心鎮肝。得通草治老人五淋。得海藻消項下癭氣。麩醋拌蒸。散血止痛。熨腰腳折傷風濕痹痛。寒濕腳氣。五易至汗出良。浮小麥味鹹涼。止虛汗盜汗。勞熱骨蒸。即水淘浮起者焙用。麥奴即麥將熟。穗上有黑黴。其黑黴名麥奴。取之治陽毒溫毒。渴熱發狂。以及溫瘧甚效。陳麥柴堆在露天者最好。用三五根洗淨泥。剪寸許長。煎服。治難產神效。</p>

<h2>【大麥】</h2>
<p>味甘鹹微寒。入手足太陰陽明經。功專補虛勞。壯血脈。益顏色。實五臟。益氣調中。除熱止泄。療消渴。化穀食。石蜜為使。面平胃寬胸。下氣消積。療纏喉風作粥食良。得針砂沒石子能染須杆。得釭豆荸薺煮食。治春夏受濕漸成胸悶肚大如鼓神效。</p>

<h2>【麥芽】</h2>
<p>味鹹。入足太陰少陰厥陰經。功專消食下氣。產後退乳。得川椒乾薑治谷勞嗜臥。得蜜能下胎乳脹欲成癰。單用一二兩炒煎服立消。並消果食積。</p>

<h2>【麥粉】</h2>
<p>味甘涼。入手足太陰厥陰經。功專和五臟。調經絡。醋熬成膏。消一切癰腫。湯火傷。俗名小粉。麵筋味甘涼。性黏濘。食之難消。炒煎熏炙。助火傷陰。病人及小兒宜忌。</p>

<h2>【櫎麥】</h2>
<p>味甘微寒。入手足太陰經。功專補中除熱。久服力健。</p>

<h2>【蕎麥】</h2>
<p>味甘寒。入手足太陰陽明經。功專降氣寬腸。治腸胃沉積。泄痢帶濁。敷痘瘡潰爛湯火傷。虛寒者忌食。以荸薺汁同蕎麥調敷腳雞眼三日。雞眼疔即拔出甚驗。頭風風眼蕎麥粉作餅貼眼四角。以米大艾炷灸之神效。</p>

<h2>【胡麻】</h2>
<p>味甘辛。入足少陰手陽明經。功專潤燥。得桑葉逐風濕。堅筋骨。得苦參蒺藜。治大瘋疥癩屢驗。皮肉俱黑者良。精氣不固者宜忌。一名脂麻。一名巨勝子。又有所謂壁蝨胡麻者。一名亞麻。治大瘋疥癩。以此為最。</p>

<h2>【大麻仁】</h2>
<p>味甘。入手陽明足太陰經。功專緩脾潤燥。得當歸厚朴等辛藥。乃能利大腸。卒被毒箭。搗爛煮汁飲。赤遊丹以之塗敷均效。並能催生通乳。惟腸滑者忌服。畏牡蠣白薇茯苓。一名火麻。</p>

<h2>【神麯】</h2>
<p>味甘辛。入手足太陰陽明經。功專化水穀。運積滯。得麥芽杏仁。治胃虛不克。得蒼朮能壯脾進飲食。得茱萸治暴泄不止。得木香消糕粽積。脾陰虛。胃火盛。及有孕者忌服。</p>

<h2>【紅曲】</h2>
<p>味甘溫。入營而破血。燥胃消食。忌同神麯。陳者良。</p>

<h2>【醬】</h2>
<p>味鹹冷利。入手足太陰陽明少陰經。功專殺百藥及熱湯火毒。並一切魚肉蔬菜蕈毒。入藥當用豆醬。陳者佳。</p>

<h2>【醋】</h2>
<p>味酸苦溫。入足厥陰經。功專散瘀。治產後血逆。得耆芍桂枝。治黃汗。得麻黃清酒治黃疸。得木香治心痛。得黃柏治口瘡。調荔枝核末塗瘰癧結核。殺魚肉毒。多食損筋骨。米醋良。一名苦酒。衣沾藥汁。以醋洗之即去。</p>

<h2>【酒】</h2>
<p>味甘苦淡。入手足太陰陽明厥陰經。功專升散。和藥煎服。用為嚮導。可以通行一身之表。引藥至極高之分。熱飲傷肺。溫飲和中。少飲和血。行氣壯神禦寒。辟邪逐穢。暖水臟。行藥力。過飲傷神耗血。損胃爍精。動火生痰。發怒助欲。及生濕熱諸症。燒酒之損人尤烈。醇而無灰陳久者佳。畏綠豆粉枳椇子葛花鹹鹵。</p>

<h1>卷六　金石部</h1>

<h2>【金】</h2>
<p>味辛平有毒。入手少陰太陰足厥陰經。功專鎮心肝。安魂魄。專治驚癇風熱肝膽之病。磨細屑挑開疔頭抹入。能拔疔根。丸散用箔為衣。煎劑加入藥煮。畏錫水銀。五金遇水銀皆碎。其相畏如此。銀功用略同。食物有毒。以銀箸插入即變黑色。</p>

<h2>【自然銅】</h2>
<p>味辛。入足厥陰經。功專治折傷。續筋骨。去瘀止痛。得折傷必有瘀血凝滯經絡。須審其虛實。佐以養血補氣溫經之品。產銅坑中。火煅醋淬七次。細研。甘草水飛用。</p>

<h2>【銅青】</h2>
<p>味酸平微毒。入手足太陰厥陰經。功專吐風痰。止瘍血。理氣痛。服之損血。殺蟲有效。以醋製銅刮用。頭上有蝨。銅青明礬末摻之良。走馬牙疳。用溺桶中白垢火煅一錢。入銅綠三分。麝香一分。敷之立愈。一名銅綠。</p>

<h2>【鉛】</h2>
<p>味甘寒辛。入手足太陰厥陰經。功專墜痰安神。明目殺蟲。烏須療惡瘡。得當歸接骨續筋。得黍米治腹中鱉症。得豬脂療誤吞金銀。單用煎湯服。解硫黃毒。性帶陰毒。傷人心胃。一名胡粉。</p>

<h2>【鉛丹】</h2>
<p>味鹹寒沉重。入手足太陰少陰經。功專墜痰止驚。單用塗黃水瘡神效。得龍骨牡蠣。治心臟神驚。一名黃丹。</p>

<h2>【蜜陀僧】</h2>
<p>味辛平有小毒。入手足太陰厥陰經。功專墜痰鎮驚。止血散腫。以饅頭劈開。將蜜陀僧為末放其中。夾腋下。治狐臭氣。食之令人寒中。</p>

<h2>【古文錢】</h2>
<p>味辛平有毒。入足厥陰經。功專治目中障瘀腐蝕壞肉。婦人生產橫逆。心腹痛。月膈五淋。或燒醋淬。或煮汁。若唇腫黑痛癢不可忍。以錢在石上磨汁。同豬脂塗之數遍即愈。目卒不見。石上磨汁注眥中效。</p>

<h2>【鐵】</h2>
<p>味辛平有毒。入手少陰足太陰厥陰經。功專鎮心平肝。定驚療狂。消癰解毒。煅時砧上打落者名鐵落。即鐵屑。治怒狂。研粉敷癬良。如塵飛起者名鐵精。器物生衣者名鐵鏽。鹽醋浸出者名鐵華。畏磁石皂莢。以皂莢木燒鍋即裂。相剋可知。真鋼砂功專破積平肝。得黃連苦參治熱脹。腹瀉。</p>

<h2>【針砂】</h2>
<p>味辛平。入手太陰經。功專消水腫黃疸。散癭瘤。烏髮須。此是作針所磋之針屑。</p>

<h2>【雲母石】</h2>
<p>味甘平。入手足太陰厥陰經。功專除邪安臟。得蜀漆龍骨治牝瘧。同黃丹熬膏貼癰疽金瘡。以雲母粉敷金瘡出血最妙。澤瀉為使。惡羊肉。</p>

<h2>【白石英】</h2>
<p>味甘平。入手足少陰陽明經。功專治痿痹肺癰。實大腸。利小便。得硃砂治驚悸。得磁石治耳聾。白如水晶者良。</p>

<h2>【紫石英】</h2>
<p>味甘辛溫。入手少陰足厥陰經。功專治子宮寒不孕。鎮心去怯。益肝去枯。火煅醋淬七次。研末。水飛。二英俱畏附子、黃連。癰腫毒氣。以紫石英煅淬為末。生薑米醋煎敷之良。</p>

<h2>【丹砂】</h2>
<p>味甘涼。入手少陰經。功專鎮心安魄。辟邪解毒。止渴下胎。得遠志龍骨養心氣。得丹參當歸養心血。得生地枸杞養腎陰。得厚朴川椒養脾。得南星川烏祛風。獨用多服。令人呆悶。辰產名箭鏃砂最良。畏鹽米。惡磁石。忌一切血。</p>

<h2>【水銀】</h2>
<p>味辛寒陰毒。入手足太陰經。功專殺蟲。治瘡疥蟣蝨。解金銀銅錫毒。墮胎絕孕。從丹砂燒煅而出。得鉛則凝。得硫則結。並棗肉入唾研則碎。散失在地者。以花椒末茶末收之。畏磁石砒霜。</p>

<h2>【輕粉】</h2>
<p>味辛冷燥有毒。入手足太陰經。功專殺蟲治瘡。劫痰消積。善入經絡。瘛瘲藥有用之者。不可輕服。土茯苓黃連黑鉛鐵漿陳醬能制其毒。</p>

<h2>【銀硃】</h2>
<p>味辛溫有毒。入手足太陰經。功專破積滯。劫痰涎。散結胸療疥癬惡瘡。殺。蟲蝨。性燥烈。功過同輕粉。</p>

<h2>【雄黃】</h2>
<p>味辛。入足陽明厥陰經。功專解毒勝邪。得黑鉛治結陰。得硃砂豬心血治癲癇。雌黃主治略同。血虛者大忌。陰腫如斗。雄黃礬石各二兩。甘草一尺。水五升。煮二升浸之良。</p>

<h2>【石膏】</h2>
<p>味甘辛。入足陽明手太陰少陽輕。功專解肌發汗。得桂枝治溫瘧。得蒼朮治中暍。得知母甘草粳米治胃腑大熱。少壯火熱者功效神速。老弱虛寒者禍不旋踵。病邪未入陽明者。切勿遽投。或因其性太寒。用火煅則不甚傷胃。但少用則難見功。且須先煎。雞子為使。惡巴豆。畏鐵。亦名寒水石。</p>

<h2>【滑石】</h2>
<p>味甘寒。入足太陽經。功專發汗利小便。得甘草解暑止瀉。加紅曲治赤痢。加乾薑治白痢。凡脾虛下陷。及精滑有孕。病當發表者均忌。石葦為使。宜甘草。</p>

<h2>【赤石脂】</h2>
<p>味甘溫酸澀。入手足陽明經。功專厚腸止利。得乾薑粳米治下利膿血。得蜀椒附子治心痛徹背。得故紙等分為末。米飲下。治經水過多。研粉或煅研。水飛用。畏芫花。惡大黃松脂。</p>

<h2>【禹餘糧】</h2>
<p>味甘平性澀。入手足陽明經。功專鎮固下焦。得赤石脂治傷寒下利。得乾薑治赤白帶下。得牡蠣烏鰂骨桂心治崩中帶下。是藥既能固下。亦能催生。</p>

<h2>【爐甘石】</h2>
<p>味甘溫。入足陽明經。功專止血消腫。收濕祛痰。治爛腿。去赤翳。得海螵蛸硼砂各一兩。硃砂五錢。研極細末。點目神效。以之煅醋淬七次。與兒茶為末。麻油調敷下疳陰瘡。今之黃銅皆爐甘石所點。</p>

<h2>【無名異】</h2>
<p>味鹹甘。入足厥陰經。功專和血。醋磨塗。治金瘡折傷癰疽腫毒。止痛生肌。</p>

<h2>【鍾乳】</h2>
<p>味甘溫。入足陽明經。功專強陰益陽。通百節。利九竅。補虛勞。下乳汁。肺虛喘急不息。以光明鍾乳粉五錢。蠟三兩化和。飯甑內蒸熟。研丸桐子大。溫水下一丸。氣甚剽悍。命門火衰者只可暫用。否則有害。蛇床為使。畏紫石英。惡牡丹。忌胡荽蔥蒜羊血參術。一名鵝管。</p>

<h2>【煤】</h2>
<p>味甘辛溫有毒。入手太陰足厥陰經。功專治婦人血氣痛。及諸毒瘡金瘡出血。中煤氣毒者。飲冷水或白蘿蔔即愈。</p>

<h2>【石灰】</h2>
<p>味辛溫毒烈。入手足太陰厥陰經。功專堅物散血。定痛生肌。止金瘡血。以黃牛膽汁和納膽中陰乾用甚效。風化者良。古礦灰名地龍骨。棺中者尤佳。痰核紅腫寒熱。狀如瘰癧。石灰火煅為末。以白果肉同搗貼之。如無白果。蜜亦可。奇效。</p>

<h2>【海浮石】</h2>
<p>味鹹寒。入手太陰足厥陰經。功專軟堅潤下。止嗽止渴。通淋。化上焦老痰。消癭瘤結核。多服損人血氣。頭核腦痹。頭枕後生核。正者為腦。側者為痹。白浮石燒存性為末。入輕粉少許。麻油調塗。或加干牛糞尤妙。亦治頭𤷍。得香附薑汁。治疝氣莖縮囊腫。咳嗽不止末服良。</p>

<h2>【陽起石】</h2>
<p>鹹溫。入足少陰經。功專補石腎命門。治陰痿精乏。子宮虛冷。腰膝冷痹。水腫瘕症。煅淬研粉。新汲水調塗丹毒腫癢。桑螵蛸為使。惡澤瀉菌桂。畏菟絲子。忌羊血。</p>

<h2>【磁石】</h2>
<p>味辛。入足少陰經。功專溫腎鎮怯。得熟地山萸肉治耳聾。得硃砂神麯能交心腎。色黑能吸鐵者真。火煅醋淬。研末水飛。或醋煮三日夜。柴胡為使。惡牡丹。一名吸鐵石。</p>

<h2>【代赭石】</h2>
<p>味苦寒。入足厥陰經。功專入血鎮逆。得冬瓜仁治慢驚風。得旋覆治心下痞硬噫氣。煅紅醋淬水飛。乾薑為使。畏雄附。</p>

<h2>【空青】</h2>
<p>味甘酸寒。入足厥陰經。功專益肝明目。通竅利水。真者難得。</p>

<h2>【石膽】</h2>
<p>味酸。入足少陽經。功專吐痰解毒。得醋治喉痹垂死。得乳香沒藥大棗敷楊梅毒神效。市人多以醋揉青礬偽之。畏桂白薇辛夷芫花。小兒鼻疳蝕爛。膽礬燒煙盡研末摻之效。一名膽礬。</p>

<h2>【礜石】</h2>
<p>味辛大熱有毒。入手足太陰經。功專治堅癖痼冷。寒濕風痹。不煉服殺人。惡羊血。</p>

<h2>【砒石】</h2>
<p>味辛苦酸。大熱大毒。砒霜尤烈。入手足太陰明陽經。功專燥痰。作吐藥療痰在胸膈。除哮截瘧。外用蝕敗肉。殺蟲枯痔。信州者良。衡州次之。生名砒黃。煉石砒霜。錫之苗也。故錫亦有毒。以大棗一個去核。將砒霜放入少許。用線紮緊。瓦上焙焦。研細末。瓷瓶收貯。專塗牙根癢爛神效。名砒棗散。畏羊血冷水綠豆。</p>

<h2>【青礞石】</h2>
<p>味甘鹹。入足厥陰經。功專利痰止驚。得硝石赤石脂治一切痰積痼疾。得焰硝治驚風危證。得焰硝大黃黃芩沉香名滾痰丸。氣弱血虛者忌。</p>

<h2>【花蕊石】</h2>
<p>味酸澀氣平。入足厥陰經。功專化血為水。止金瘡出血。下死胎胞衣。及胎產惡血血暈等症。有花蕊石散。多服損陰血。煅研水飛用。一名花乳石。</p>

<h2>【石燕】</h2>
<p>味甘涼。入手足太陰少陰陽明經。功專利竅行濕熱。治諸般淋瀝。月水淋濁。赤白帶下。腸風痔瘻。眼目瘴翳。或煮汁。或磨汁。為末水飛亦可。</p>

<h2>【石蟹】</h2>
<p>味鹹寒。入足厥陰經。功專治青盲目翳。得羚羊角決明治胬肉攀睛。若喉痹腫痛。以石蟹磨汁飲。並塗喉外。醋磨敷癰腫。</p>

<h2>【食鹽】</h2>
<p>味鹹甘辛寒。入手足少陰太陰陽明經。功專潤下軟堅。笑不休症。鹽炒赤煎沸飲之即止。體如蟲行。癢不可當。煎浴良。洗目去風。凡痰嗽哮證血病消渴及水脹俱大忌。</p>

<h2>【戎鹽】</h2>
<p>味鹹寒。入手足少陰太陰陽明經。功專助水藏。益精氣。得杜仲補骨脂補肝陽。得川椒明目。一名青鹽。</p>

<h2>【凝水石】</h2>
<p>味辛鹹大寒。入手足少陰太陰陽明經。功專治時氣熱盛。口渴水腫。亦各寒水石。古方所用寒水石。是凝水石。唐宋諸方用寒水石即石膏。</p>

<h2>【元精石】</h2>
<p>味鹹寒而降。入手足太陰陽明經。功專治上盛下虛。救陰助陽。有扶危拯逆之功。正陽丹用治傷寒壯熱。來復丹用治伏暑熱瀉。</p>

<h2>【朴硝】</h2>
<p>味苦鹹性降。入手足太陰陽明經。功專逐腑積聚。得大黃直入大腸。滌垢通經墮胎。芒硝經煉稍緩。能柔五金化七十二石為水。生於鹵地刮取煎煉在底者為朴硝。在上者為芒硝。有牙者為馬牙硝。置風日中消盡水氣。輕白如粉為風化硝。大黃為使。</p>

<h2>【火硝】</h2>
<p>味苦辛性升。入手太陰經。功專破積散堅。得殭蠶冰硼吹喉中治喉痹。</p>

<h2>【元明粉】</h2>
<p>味辛甘鹹冷。入足陽明經。功專去胃中實熱。蕩腸中宿垢。得大黃止瀉痢。無實熱而胃虛者禁用。忌苦參。</p>

<h2>【硇砂】</h2>
<p>味鹹苦辛熱有毒。入手足太陰足陽明經。功專消食破瘀。治噎膈癥瘕。去目翳胬肉。若鼻中息肉點之即落。懸癰卒腫。硇砂五錢。綿裹含之。咽津即安。但能爛五金而化心為血。不可輕用。出西域火焰山者佳。</p>

<h2>【硼砂】</h2>
<p>味甘鹹涼。色白質輕。入手足太陽陽明經。功專除上焦胸膈痰熱。治喉痹口齒諸病。能柔五金。去垢膩。治噎膈積塊結核胬肉目翳骨哽。制汞啞銅。證非有餘不可輕用。</p>

<h2>【硫黃】</h2>
<p>味酸。入足太陰少陰厥陰經。功專驅寒燥濕。補火壯陽。得半夏治久年哮喘。得艾治陰毒傷寒。烏鰂五味合硫黃敷婦人陰脫。能化五金而干汞。畏細辛醋血。番舶者良。</p>

<h2>【白礬】</h2>
<p>味酸寒。入手足太陰陽明經。功專吐痰解毒。得黃蠟解一切腫毒。暑天痧症。昏迷瞀亂。急含少許或沖服立愈。得川鬱金治癡疾。多食損心肺傷骨。甘草為使。畏麻黃。惡牡蠣。</p>

<h2>【綠礬】</h2>
<p>味酸涼。入手太陰陽明經。功專燥濕化痰。解毒殺蟲。利小便。消食積。醋調咽汁散喉痹。蒼朮二斤米泔浸。黃酒面曲四兩。炒絳礬一斤。醋拌。曬乾入瓶。火煅為末。醋和丸酒下。治木剋土。心腹中滿。或黃腫如土色。名伐木丸。煅赤名絳礬。未煅者亦名皂礬。不可輕服。</p>

<h1>卷七　人部</h1>

<h2>【發】</h2>
<p>味苦平。入足少陰厥陰經。功專止血通淋。得龜板芎歸治交骨不開得豬膏治陰吹。小兒驚熱。合雞子黃煎為汁服。鼻衄吹鼻。皂莢水洗淨。入罐固煆存性。一名血餘。</p>

<h2>【牙齒】</h2>
<p>味鹹熱有毒。入手足太陰經。功專治痘瘡倒黶。以豶豬血調下一錢。若服涼藥而血澀倒陷者。加麝香少許酒服。煅退火毒。研細水飛用。</p>

<h2>【人中黃】</h2>
<p>味甘寒。入手足陽明經。功專清痰火。消食積。大解五臟實熱。治陽毒熱狂。痘瘡血熱黑陷不起。傷寒非陽明實熱。痘瘡非紫黑乾枯。均禁。金汁主治同人中黃。一名糞清。</p>

<h2>【人中白】</h2>
<p>味鹹涼。入手太陰經。功專降火散瘀。治肺瘀鼻衄。勞熱消渴。痘瘡倒陷。牙疳口瘡。得麻仁阿膠治血虛便閉。得雞矢治蜘蛛咬毒。陽虛無火。食不消。腸不實者忌之。又名溺白垽煅用。</p>

<h2>【童便】</h2>
<p>味鹹寒。入手太陰經。功專潤肺清瘀。治肺痿失音。吐衄損傷。胞衣不下。產後血暈。敗血入肺。陰虛火嗽。火熱如燎者。惟此可治。當熱飲。或入薑汁行痰。韭汁散瘀。冬月熱湯溫之。</p>

<h2>【秋石】</h2>
<p>味鹹。入足少陰經。功專滋腎水。養丹田。得乳粉能固元陽。延年不老。得茯苓菟絲治遺濁。得茯苓蓮肉芡實棗肉治色欲過度遺精。小便數。食物中用。腫脹代鹽。</p>

<h2>【乳汁】</h2>
<p>味甘鹹。入手足太陰陽明太陽經。功專潤五臟。補血液。止消渴。澤皮膚。漬煩熱。理噎膈。悅顏色。利腸。得黃連點赤眼。虛寒滑泄胃弱者禁服。乳與食同進。即成積滯發瀉。人乳人參末等分蜜丸。名參乳丸。大補氣血。乳須擇無病婦人者。水頓取粉用。百蟲入耳。以乳滴之即出。得梨汁能消痰補虛。得酒治卒不能語。</p>

<h2>【天癸】</h2>
<p>味鹹。入足厥陰經。功專治熱病勞復。得人乳童便滴入鼻內。治瞳神反背。</p>

<h2>【紫河車】</h2>
<p>味鹹性溫。入手足太陰厥陰經。功專大補氣血。治一切虛勞損極。恍惚失志癲癇。以初胎無病婦人而色紫者良。洗淨。酒蒸焙研。得熟地天冬牛膝杜仲補腎益精。坎氣稟心腎之氣。得當歸麝香治臍汁不幹。得乳汁硃砂解胎毒痘患。燒末煎服治瘧。</p>

<h1>卷八　禽獸部</h1>

<h2>【燕窩】</h2>
<p>味甘平淡。入手太陰經。功專養肺陰。化痰止嗽。補而能清。為調理虛損癆瘵之聖藥。一切病之由於肺虛。不能清肅下行者。此皆可治。開胃氣。已勞痢。益小兒痘疹。用陳久糙米色者佳。喉閉不能下咽。人已神昏。用燕巢泥雄黃高粱酒浸透。塗喉咽外兩旁邊。中留一線之縫。遂即喉能下咽。如牙關緊閉。先以烏梅擦牙根。再以燕巢泥等塗喉外方妙。燕窩腳名血燕。色紅紫。功用相仿。性重達下。微咸潤下。治噎膈妙。假燕窩無邊無毛。或微有毛。色白如銀絲。服之無益。</p>

<h2>【夜明砂】</h2>
<p>味辛寒。入手足厥陰經血分。功專散血明目。得石決明豬肝治雞盲。淘淨焙。惡白薇白蘞。小兒鬾病。以紅紗袋盛夜明砂佩之。鬾音奇小兒鬼也。一名天鼠矢。</p>

<h2>【五靈脂】</h2>
<p>味甘溫。氣味俱厚。入足厥陰經功專散血止痛。得蒲黃治心腹疼痛。產後惡露刺痛。得雄黃酒調敷蛇咬傷。血虛無瘀者忌服。惡人參。研末酒飛去砂石用。行血宜生。止血宜炒。油調末塗風癩良。一名寒號蟲。</p>

<h2>【雀】</h2>
<p>味甘溫。入手足少陰太陽經。功專壯陽起陽道。令人有子。益精髓。暖腰膝。縮小便。治血崩帶下。得蛇床子熬膏。和藥丸服補下。謂之驛馬丸。得附子熬膏丸治虛寒。名雀附丸。凡陰虛火盛及服白朮李並諸肝切忌。孕婦尤須避之。頭血取點雀盲數十次即愈。雀卵酸溫益精血。治男子陰痿不起。女子帶下。便溺不利。和天雄服之。令莖不衰。</p>

<h2>【鴿】</h2>
<p>味鹹平。入手足太陽經。功專解諸藥毒。治惡瘡風癬白癜癧瘍風。唯色白者入藥。卵解瘡毒痘毒。屎名左盤龍。消腹中痞塊瘰癧諸瘡。療破傷風及陰毒垂死者。人馬疥瘡炒研敷之。驢馬和草飼之。消腫殺蟲。頭瘡白禿鴿糞研末敷之。先以醋泔洗淨。</p>

<h2>【雞】</h2>
<p>味甘溫。入手足太陰陽明經。功專補虛溫中。以血塗面瀝口吹鼻。治中惡驚忤。雞子甘平益氣補血。雞子略敲損。浸尿缸中三日煮熟。薑汁竹瀝湯送下。治年深哮喘風痰。醋煮雞子治赤白痢。哺雞子殼主治傷寒勞復。研敷下疳。麻油調搽痘毒神效。卵中白皮。治久嗽結氣。雞肫皮一名雞內金。又名䏶胵。甘平性澀。雞之脾也。消水穀。除煩熱。通小腸膀胱。治瀉痢便數遺溺。血崩溺血帶下。腸風膈消反胃。小兒食瘧。男用雌。女用雄。雞屎白薇寒。下氣消積。通利大小便。治蠱脹。合米炒。治米症。醋和塗蚯蚓蜈蚣咬毒。小兒緊唇以之研敷。有涎易去。牙痛以之燒末。綿裹咬患處效。雞汁煮粥食固胎。然性升發。有宿疾者宜禁食。雞屎一名雞矢醴。</p>

<h2>【烏骨雞】</h2>
<p>味甘鹹。入手太陰足厥陰少陰經。功專補勞傷。得涼血補精藥。治勞瘵。鬼擊卒死者。用烏雞冠血瀝口中令咽。仍破此雞拓心下。冷乃棄之道邊妙。骨肉俱黑者佳。男用雌。女用雄。女科有烏雞丸。</p>

<h2>【雉】</h2>
<p>味酸甘味寒。入足太陰經。功專補中益氣力。止泄痢。治蟻瘻。動風。有宿疾者禁忌。即野雞也。</p>

<h2>【鵝】</h2>
<p>味甘溫有毒。入足厥陰經。功專發風發瘡。火熏者尤毒。卵甘溫補中氣。多食發痼疾。鵝血愈噎膈反胃。痔瘡有核。白鵝膽二三枚。取汁入熊膽二分。片腦五釐。研勻。密封瓷器內勿泄氣。用時以手指塗之立效。噎膈病白鵝尾毛燒灰米湯下。每服一錢。數次即愈。</p>

<h2>【鵜鶘油】</h2>
<p>味鹹溫滑。入足少陰太陰經。功專塗癰腫。治風痹。透經絡。通耳聾。引諸藥透入病所。</p>

<h2>【鶩】</h2>
<p>味甘平微咸。入手太陰足少陰經。功專補陰除蒸。止嗽利水。治熱痢。化虛痰。白毛而老者良。葛可久有白鳳膏。治虛勞。熱血解石砒毒及中惡溺死者。並塗蚯蚓咬瘡。卵甘寒咸。除心腹膈熱。多食發冷氣。令人氣短胸悶。小兒多食腳軟。生瘡者食之令惡肉突出。不可合鱉肉李子桑椹食。頭利小便。治水腫。腦塗凍瘡良。即鴨也。</p>

<h2>【鳧】</h2>
<p>味甘涼。入手太陰足少陰經。功專補中益氣。平胃消食。治水腫及熱毒風氣惡瘡。身上有諸小熱瘡。年久不愈者。但多食之即愈。並殺臟腑一切蟲。忌與胡桃木耳豆豉同食。即野鴨也。</p>

<h2>【鸊鷉】</h2>
<p>味甘平。入手太陰足少陰經。功專補中益氣。一名刁鴨。又名油鴨。似鴨而小。蒼白紋多脂。冬月取之。五味炙食甚美。膏滴耳中治耳聾。</p>

<h2>【鷺鷥】</h2>
<p>味鹹平。入手太陰經。功專益脾補氣。治虛瘦。一名白鷺。</p>

<h2>【斑鳩】</h2>
<p>味甘平。入手太陰足少陰經。功專益氣。助陰陽。明目愈噎。血熱飲治蠱。</p>

<h2>【鵲】</h2>
<p>味甘寒。入手足太陰太陽經及陽明經。功專消結熱。治消渴通淋去風。及大小腸澀。並四肢煩熱。胸膈痰結。入藥用雄。燒毛作屑。納水中浮者是雄。</p>

<h2>【豬】</h2>
<p>味鹹寒。入手足太陰少陰陽明經。功專療腎氣虛竭。潤腸胃。生精液。豐肌體。澤皮膚。惟生痰招風。陽痿及傷風寒。病初起者均忌食。心血可作補心之嚮導。肝同夜明砂作丸。治雀目。肚入胃健脾。肺蘸薏仁末治肺虛咳嗽。腎鹹冷。通腎治腰痛耳聾。腸得黃連。治腸風血痔。膽汁寒滑瀉肝膽之火。明目療疳。醋和灌穀道。治大便不通。脂膏潤燥利腸。脊髓補虛勞之脊痛。蹄得通草通乳汁。尾血和龍腦治痘瘡倒靨。均以母蹄為妙。豬膚即外厚皮。得白蜜米粉。治少陰下痢咽痛。豬腦毒不可食。豬肉反烏梅桔梗。豬脂得血餘。治陰吹。肝切片入陰戶。治陰蝕蟲皆入肝內。數易即愈。</p>

<h2>【狗】</h2>
<p>味鹹酸溫。入手太陰足少陰經。功專暖脾益胃。補虛寒。助陽事。狗寶結成狗腹中者。專攻翻胃。善理疔疽。氣壯多火。陽事易舉。熱病之後及孕婦均忌。反商陸。畏杏仁。惡蒜。</p>

<h2>【羊】</h2>
<p>味甘熱。入手足太陰經。功專補虛勞。益氣力。仲景治虛羸蓐勞。有當歸羊肉湯。膽苦。臘月入蜜膽中。紙套籠住。懸檐下。待霜出掃取點眼。又入蜜膽中蒸之。候乾研為膏。每含少許。或點之。名二百味草花膏。以羊食百草。蜂採百花也。肺通肺氣。止咳嗽。利小便。腎益精助陽。胲結成羊腹中者。除翻胃。角明目殺蟲。血生飲。治產後血暈悶絕。及中金銀丹石磇硫毒。乳補肺腎。潤胃脘大腸之燥。治反胃消渴口瘡舌腫蜘蛛咬傷有渾身生絲者飲之良。誤吞銅鐵。以羊脛骨灰三錢。米飲下。反半夏菖蒲。忌銅器及醋。</p>

<h2>【牛】</h2>
<p>味甘溫。入手足太陰陽明經。功專補脾益氣。止渴。乳味甘微寒。潤腸胃。解熱毒。補虛勞。治反胃噎膈。得韭汁薑汁陳酒佳。用牡牛肉廿斤。洗淨煮為糜。濾去滓。熬成琥珀色。前一日不食。下日空腹飲汁一鍾。少時又飲。積數十鍾。寒月溫飲。如病在上則吐。在下則利。在中則吐利。利後必渴。渴則飲己溺以滌余垢。飢倦先與米飲二日。然後與淡粥。次與厚粥軟飯。沉疴悉除矣。名倒倉法。白水牛喉。治反胃吐食。腸結不通。髓補中填髓。筋補肝強筋。老病及自死之牛。食之損人。霞天膏氣味甘溫。主治中風偏廢。口眼歪斜。痰涎壅塞。五臟六腑留痰宿飲癖塊。手足皮膚中痰核神效。得橘皮茯苓蘇子蔻仁半夏蒼朮為面。治脾胃濕痰。得陳皮貝母蘇子栝蔞根杏仁蓬砂為曲。治積熱痰結。</p>

<h2>【牛黃】</h2>
<p>味苦。入足厥陰經。功專清心化熱。利痰涼驚。得靈羊角或犀角硃砂治小兒諸驚。人參為使。惡常山地黃龍膽龍骨。得丹皮菖蒲良。</p>

<h2>【黃明膠】</h2>
<p>味甘平。入手足少陰厥陰經。功專補陰。治諸血證及癰疽。潤燥通大便。得穿山甲四片燒存性。用治癰疽初起。使毒不內攻神效。惟膠須以酒頓烊。如便毒初起。水膠溶化塗之即散。即牛皮膠也。</p>

<h2>【驢溺】</h2>
<p>味辛寒。入足陽明經。功專殺蟲。得四物治反胃噎膈。得薑汁洗白玷風。驢陰莖強陰壯筋。乳浸黃連。取汁點風火赤眼良。</p>

<h2>【阿膠】</h2>
<p>味甘平。入手太陰足厥陰經。功專清肺養肝。滋腎補陰。止血去瘀。除風化痰。潤燥定喘。利大小腸。治虛勞咳嗽。肺痿吐膿。吐血衄血。血淋血痔。腸風下痢。腰痠骨痛。血痛血枯。經水不止。妊娠尿血下血。俱以酒沖服。炒焦膠末良。小兒驚風后。瞳神不正。以膠倍人參服甚效。胃弱作嘔吐。脾虛食不消。及風寒而嗽者。均忌。蛤粉炒化痰。蒲黃炒止血。酒化水化童便和用。得火良。山藥為使。畏大黃。</p>

<h2>【白馬溺】</h2>
<p>味辛寒。入足陽明手太陰經。功專殺蟲破症積。治反胃。化鱉為水。白馬乳治青腿牙疳。其效如神。馬肝有毒。白馬通即屎也。得柏葉乾姜艾。治吐血不止。</p>

<h2>【虎骨】</h2>
<p>味辛平。入足厥陰經。功專追風定痛。得沒藥治歷節痛風。得兔腦能止滑利。得木通治手足麻木。得乳香能催生下胎。睛得竹瀝。小兒驚癇夜啼。服之即愈。虎肚弗洗。煅存性。入平胃散一兩和勻。每服三錢。治反胃吐食神效。</p>

<h2>【象皮】</h2>
<p>味鹹氣平。入足太陽經。功專長肌肉。燒灰和油敷下疳。亦可熬膏。牙治諸刺入肉傷喉。服飲皆效。</p>

<h2>【犀角】</h2>
<p>味苦鹹。入手少陰足厥陰經。功專涼血解毒。得地榆治血痢。得生地連翹治熱邪入絡。凡中毒箭。以角刺瘡中愈。飲食中有毒。以角攪之。便生白沫。入湯劑磨汁用。升麻為使。忌鹽。以角納入懷內。得人熱氣易碎。</p>

<h2>【熊膽】</h2>
<p>味苦寒。入足厥陰經。功專涼心平肝。明目殺蟲。治驚癇五痔。實熱宜之。虛者忌。性善闢塵。撲塵水上。投膽米許即開。肉補虛羸。掌御風寒。益氣力。美品也。</p>

<h2>【羚羊角】</h2>
<p>味鹹。入足厥陰經。功專散風清熱。得鉤藤息肝風。得生熟地茵陳芩枳枇杷石斛甘草二冬桂苓名甘露飲。治胃中濕熱。然臨症時宜酌。一角者勝。或研或磨用。能碎金鋼石。</p>

<h2>【鹿茸】</h2>
<p>味辛溫。入足少陰厥陰經。功專補精益氣。得菟絲羊腎茴香。治腰痛。得人參黃耆當歸提痘漿。鹿屬陽。夏至得陰氣解角。麋屬陰。冬至得陽氣解角。鹿補陽氣。麋補陰血。</p>

<h2>【麋茸】</h2>
<p>味甘溫。入足太陰少陰經。功專滋陰益腎。得附子雀卵壯陽不老。得附子山藥補元駐顏。角與鹿角功同。而溫性差減。以皮作靴襪。除腳氣。</p>

<h2>【鹿角】</h2>
<p>味鹹溫。入足少陰厥陰經。功專補腎益肝。斂精止血。生用散熱行血消腫辟邪。治夢與鬼交。熬膏煉霜。則專滋補。益腎生精血。強骨壯腰膝。鹿䘒大補虛勞。鹿筋主勞損續絕。鹿肉甘溫補中。強五臟。通血脈。益氣力。上焦有痰熱。胃家有火。吐血屬陰衰火盛者俱忌服。畏大黃。鹿名斑龍。</p>

<h2>【麝香】</h2>
<p>味辛溫。入足太陰經。功專開竅。得肉桂消瓜果諸積。得鹽豉燒酒。為末淬酒服。產婦敗血裹子難產效。忌蒜。防蟲入腦。慎勿近鼻。</p>

<h2>【貓胞】</h2>
<p>味甘酸溫。入手足太陰經。功專治反胃吐食。燒灰入硃砂末少許。壓舌下甚效。</p>

<h2>【豬獾】</h2>
<p>味甘酸平。入手足太陰經。功專長肌肉。野獸中貒肉為最美。治上氣虛乏。咳逆勞熱。水脹久不瘥。得粳米蔥豉作粥食神效。</p>

<h2>【狗獾】</h2>
<p>味甘酸平。入手太陰經。功專補中益氣。治小兒疳瘦。一名天狗。</p>

<h2>【兔屎】</h2>
<p>味辛平。入手足太陰足厥陰經。功專殺蟲明目。治勞瘵五疳。痘後生翳。肝明目。肉涼血。解熱毒。利大腸。妊娠忌之。腦塗凍瘡。</p>

<h2>【豭鼠矢】</h2>
<p>味甘微寒。入足厥陰經。功專治勞復。得韭根治男子陰陽易。亦治膀胱水結。通女子經閉。陰脫吹乳。誤入食中。令人目黃成疸。兩頭尖者為雄鼠矢。膽汁滴耳中。治老聾。點眼亦良。以辰砂拌鼠睪丸。陰乾研服。治小兒驚癇。肉治兒疳鼠瘻。</p>

<h2>【蝟皮】</h2>
<p>味苦。入手足太陰陽明經。功專開胃氣。治五痔陰腫。燒灰研細末。陳菜油調塗。治胃逆腸風瀉血。燒灰存性研末酒沖服。肉治反胃。脂滴耳中。治耳聾。膽點痘後風眼均效。</p>

<h1>卷九　蟲魚鱗介部</h1>

<h2>【蟬蛻】</h2>
<p>味辛氣平。入手太陰經。功專發散。除風熱。發痘疹。退目翳。中風失音。催生下胎。得硃砂治小兒夜啼。得薄荷治皮膚風癢。以羊肝湯送蟬蛻末一錢。治痘後目翳。洗淨去翅足。漿水煮曬乾。</p>

<h2>【螻蛄】</h2>
<p>味鹹寒有毒。入足太陽經。功專治水腫癰毒。得蜣螂治大小便閉。得穿山甲塞耳治聾。性甚急。虛人戒之。去翅足炒。</p>

<h2>【蜣螂】</h2>
<p>味鹹寒。入足厥陰經。功專治寒熱驚癇。用其白心治疔瘡垂斃。</p>

<h2>【螢火】</h2>
<p>味辛。入手太陰經。功專治溫疫。務成子有螢火丸。</p>

<h2>【鼠婦】</h2>
<p>味酸溫。入足厥陰經。功專治寒熱。葛洪用以截瘧神效。即濕生蟲。形如蠹魚。</p>

<h2>【䗪蟲】</h2>
<p>味鹹寒有毒。入足厥陰經。功專下血行傷。得桃仁大黃治產婦乾血腹痛。得乳香沒藥龍骨自然銅能去傷接骨。虛人有瘀宜酌用。畏皂角菖蒲。一名地鱉蟲。</p>

<h2>【虻蟲】</h2>
<p>味甘寒有毒。入足厥陰經。功專攻血。遍行經絡。墮胎只在須臾。非氣足有畜血者勿服。去足翅炒。惡麻黃。一各蜚蟲。</p>

<h2>【蜂蜜】</h2>
<p>味甘性溫。入手足太陰厥陰陽明經。功專潤臟腑。得薤白搗塗湯火傷痛立止。得生薑治大頭癩瘡。得升麻敷天口虜瘡神效。納穀道中通大便。同蔥食害人。同蔥搗塗癰疽痔瘡良。同鮓魚食令人暴亡。</p>

<h2>【蜜蠟】</h2>
<p>味淡。入手太陰足厥陰經。功專調氣。得茯苓治陽虛遺濁帶下。黃蠟得黃連阿膠治痢下腹痛。面青肢冷效。得當歸阿膠黃連黃柏陳倉米。治產後下痢。</p>

<h2>【露蜂房】</h2>
<p>味甘平有毒。入手太陰足厥陰經。功專塗瘰癧成瘻。炙研豬脂和塗良。取露天樹上者佳。</p>

<h2>【蟲白蠟】</h2>
<p>味甘溫。入手太陰足厥陰經。功專生肌止血。定痛補虛。續筋接骨。為外科要藥。與合歡皮同入長肌肉。以蠟頻塗禿瘡並生髮。</p>

<h2>【五倍子】</h2>
<p>味酸氣平。入手太陰陽明經。功專收肺除咳。斂腸止利。得茯苓龍骨治虛勞遺濁。得白礬治腸風下血。以自己嗽口水調五倍子末敷臍上。治盜汗如神。糞後下血。五倍末一錢。艾湯下良。婦人陰血傷者摻之效。一名文蛤。</p>

<h2>【桑螵蛸】</h2>
<p>味甘鹹平。入足少陰太陽厥陰經。功專固澀。治小兒夜尿及驚風良。得龍骨療泄精。得茯神遠志菖蒲人參當歸龍骨鱉甲治健忘心神不安。以螳螂一個。巴豆半粒。研敷箭簇傷處極癢。癢極乃撼拔之。以黃連貫眾湯洗去。再以石灰敷之。其傷即瘥。炙黃或醋煮湯泡煨用。或蒸透再焙。畏旋覆花。</p>

<h2>【白殭蠶】</h2>
<p>味辛鹹。入手足厥陰陽明經。功專療風痰。得白馬通治癥瘕。得冰片硼砂牙硝治諸喉風。煎湯浴治小兒膚如鱗甲。以蠶七個研細。薑湯調灌。吐一切風痰。無風寒客邪者勿服。惡萆薢桔梗茯苓桑螵蛸。蠶蛹炒食。治風及勞瘦。蠶繭甘溫。瀉膀胱相火。引清氣上升止渴。癰疽無頭。燒灰酒服一枚即出頭。黃絲絹得白芨能接斷腸。得丹皮白芨治產婦脬損。得棕櫚貫仲京墨荷葉四灰。治婦人血崩。褲襠燒灰。治陰陽易。女用男。男用女。</p>

<h2>【原蠶砂】</h2>
<p>味辛甘溫。炒黃浸酒。入手太陰足厥陰肝經。功專治風濕為病。肢節不隨。皮膚頑痹。腰腳冷痛。冷血瘀血。炒熱熨患處。並研末以麻油調敷爛眼弦。均良。原雄蠶蛾。氣熱性淫。固精強陽。蠶退紙。燒存性。入麝少許。蜜和敷走馬牙疳。如加白礬尤妙。又以蠶紙燒灰。酒水任下。能治邪祟發狂悲泣。</p>

<h2>【斑蝥】</h2>
<p>味辛寒。入足厥陰經。功專入下竅利水去毒。得糯米治風狗咬傷。得滑石治便毒。性毒。潰肉墮胎。去頭足糯米炒熟。生用則吐瀉。人亦有用米取氣不足質者。畏丹參巴豆。惡豆花甘草。一名斑蝥。</p>

<h2>【蠍】</h2>
<p>味甘辛有毒。入足厥陰經。功專穿筋透節。逐濕除風。得白附殭蠶。治口眼喎斜。病虛者忌。去足焙。尾名蠍梢。被螫者以喎牛塗之即解。</p>

<h2>【水蛭】</h2>
<p>味鹹苦。入足厥陰經。功專破血行傷。得蜚𧋽治畜血。得麝香治跌打傷。以水蛭研細末。龜尿調捻鬚梢自倒入根極效。誤吞生者入腹生子。以田泥調水飲數杯必下。或以牛羊熱血同豬脂飲之亦下。炒黃枯。畏石灰鹽。一名馬蟥。</p>

<h2>【五穀蟲】</h2>
<p>味寒。入手足太陰少陰經。功專治熱病譫語。毒痢作吐。小兒疳積疳瘡。漂淨曬乾。或炒或煅為末。</p>

<h2>【蟾蜍】</h2>
<p>味辛涼微毒。入足陽明經。功專退虛熱。行濕氣。殺蟲䘌。瘡疽發背未成者。用系瘡上半日。再易一個。三易則毒散。重者剖之合瘡上。三易必愈。治單腹鼓脹。以蟾蜍一個。用砂仁填滿腹中。外用鹽水拌黃土泥。厚塗遍身。文火煨透。再去泥。陰陽瓦上炙炭存性研細。每用一錢。陳皮湯下。三四服即愈。蟾酥辛溫有毒。治發背疔腫。小兒疳疾腦疳。一名蝦蟆。</p>

<h2>【田雞】</h2>
<p>味甘寒。入手足太陰經。功專解勞熱熱毒。利水消腫。饌食調疳瘦。補虛損。尤宜產婦。搗汁服。治蝦蟆瘟。凡渾身水腫或單腹脹。以一二枚去皮炙食自消。燒灰並涂月蝕瘡。治毒痢噤口。以田雞一個搗爛。瓦上烘熱。加麝香少許。作餅貼臍上。氣通即能進食。一名水蛙。</p>

<h2>【蜈蚣】</h2>
<p>味辛溫有毒。入足厥陰經。功專治屍疰惡氣。若遇臍風撮口。以之去頭足尾甲。以薄荷葉燒火炙末。豬乳調服甚效。畏蜘蛛蜒蚰雞屎桑皮鹽蒜。墮胎。</p>

<h2>【蚯蚓】</h2>
<p>味酸鹹寒。入手少陰經。功專利水。除濕熱。消腫毒。得乳香治驚風悶亂。和麵作餛飩吃。治癡癲。若溫病大熱狂言。大腹黃疸。腎風腳氣。以為佐使。或曬乾為末。或鹽化為水。或微炙。或燒灰俱可。中其毒者。以鹽水解。蚯蚓泥即蚯蚓屎。甘寒。瀉熱解毒。治赤白久痢。敷小兒陰囊熱腫腮腫丹毒。</p>

<h2>【鯉魚】</h2>
<p>味甘平。入手足太陰少陰經。功專下水氣。利小便。治咳逆上氣。腳氣黃疸。得白朮當歸白芍生薑。治妊娠水腫。名鯉魚湯。作羹治崩漏痔瘻。骨炙灰。療魚骨哽。膽苦。明目。合青魚膽治內障。</p>

<h2>【鰱魚】</h2>
<p>味甘溫。入手足太陰經。功專溫中益氣。多食熱中發渴。發瘡疥。一名鱮魚。</p>

<h2>【鯇魚】</h2>
<p>味甘溫。入手足太陰經。功專暖胃和中。俗名草魚。</p>

<h2>【青魚膽】</h2>
<p>味苦寒。入足厥陰經。功專瀉熱。治目疾。點眼消赤腫障翳。治喉痹痰涎。塗熱瘡。療骨哽。肉益氣力。同韭白煮。治腳氣腳弱煩悶。</p>

<h2>【勒魚】</h2>
<p>味甘平。入手足太陰經。功專開胃暖中。作鯗尤良。</p>

<h2>【鱸魚】</h2>
<p>味甘平有小毒。入手足太陰陽明經。功專補五臟。益筋骨。和腸胃。作鮓尤良。曝乾甚香美。一名四鰓。出吳中松江府城。食肝剝人面皮。同乳酪食。毒不可解。中其毒者。蘆汁可解。</p>

<h2>【白魚】</h2>
<p>味甘平。入手足太陰陽明經。功專開胃下氣。去水氣。金匱有滑石白魚散。令人肥健。經宿勿食。食之令人腹冷。多食生痰。與棗同食。患腰痛。一名鱎魚。</p>

<h2>【鱖魚】</h2>
<p>味甘平。入手足太陰陽明經。功專補虛勞。益脾胃。去瘀殺蟲。</p>

<h2>【鰥魚】</h2>
<p>味甘平。入足陽明經。功專已嘔。暖中益胃。一名鱤魚。又名𩹴魚。</p>

<h2>【嘉魚】</h2>
<p>味甘溫。入足少陰經。功專治腎虛消渴。勞瘦損傷。一名鮇魚。又名丙穴魚。</p>

<h2>【鯔魚】</h2>
<p>味甘平。入足陽明經。功專開胃。百藥無忌。</p>

<h2>【石首魚】</h2>
<p>味甘平。入足陽明少陰經。功專開胃益氣。白鯗主治中惡消宿食。炙食消瓜積腹脹下痢。以頭中之石十個。與當歸等分為末服。治石淋神效。魚鰾暖精種子。又名黃花魚。以骨插甜瓜蒂上。一夜便熟。</p>

<h2>【線魚鰾】</h2>
<p>味甘鹹。入足陽明經。功專補益精氣。燒灰治產難血暈。得甘蔗節治吐血不止。</p>

<h2>【鰣魚】</h2>
<p>味甘平。入手足太陰經。功專補虛勞。以鱗不沾水。曬乾研末。擦楊梅瘡效。</p>

<h2>【鯧魚】</h2>
<p>味甘平。入手太陰陽明經。功專益氣力。子有毒。食之令人下痢。</p>

<h2>【鯽魚】</h2>
<p>味甘溫屬土。入手足太陰陽明經。功專行水實腸胃。腸風下血。用活鯽魚一個。去腸留鱗。入五倍子末填滿。泥固煅存性為末。酒服一錢神效。忌麥冬芥菜沙糖豬肝。子調中益肝氣。去目中障翳。一名鮒魚。</p>

<h2>【魴魚】</h2>
<p>味甘溫。入足陽明經。功專調胃氣。惟有疳痢者忌食。一名鯿魚。</p>

<h2>【金魚】</h2>
<p>味甘鹹平。入手足陽明經。功專治久痢及噤口痢。</p>

<h2>【銀魚】</h2>
<p>味甘平。寬中健胃。吳江者佳。一名鱠殘魚。</p>

<h2>【七星魚】</h2>
<p>味甘寒。入手足太陰陽明經。功專祛風下水。療五痔。治濕痹。利大小腸。治妊娠水氣。凡膽皆苦。獨是膽帶甘。喉痹將死者。點入即瘥。病深者水調灌之。俗名烏魚。本草名鱧魚。</p>

<h2>【鰻鱺】</h2>
<p>味甘平。入手太陰經。功專去風殺蟲。治骨蒸勞瘵。濕痹風瘙。陰戶蝕癢。補虛損。其骨燒煙。蚊化為水。置衣箱中。闢諸蠹。血瘡疹入眼。以少許點之良。</p>

<h2>【鱔魚】</h2>
<p>味甘大溫。入手足太陰厥陰經。功專補五臟。除風濕。尾血療口眼喎斜。少和麝。左喎塗右。右喎塗左。正則洗去。滴耳治耳痛。滴鼻治鼻衄。點目治痘後生翳。頭治百蟲入耳。</p>

<h2>【鰍魚】</h2>
<p>味甘平。入手太陰經。功專暖中益氣。醒酒解渴。同米粉煮羹食。調中收痔。煮食療陽事不起。俗名泥鰍。</p>

<h2>【海螵蛸】</h2>
<p>味鹹。入足厥陰經。功專療血滯。得生地治血淋。得乾薑治血瘕。得鹿茸阿膠治崩中帶下。燒末酒服。治腹痛環臍。陰蝕腫痛。以生者為末。加麝香少許。點目治目翳淚出。捻入耳治耳聤出膿。肉酸平。益氣強志。益人通經。以蒲黃等分為末。塗舌腫出血如泉。並敷跌破出血。一名烏賊骨。性溫。和血祛寒濕。治血枯尤良。惡附子白芨白蘞。能淡鹽。</p>

<h2>【海蛇】</h2>
<p>味鹹平。入足厥陰經。功專治婦人勞損積血帶下。小兒風疾。丹毒湯火傷。並治河魚之疾。</p>

<h2>【蝦】</h2>
<p>味甘溫。入手足太陰少陰厥陰經。功專托痘瘡。下乳汁。吐風痰。中風證以蝦半斤。入蔥姜醬料水煮。先吃蝦。次吃汁。以鵝翎探引吐出痰涎即愈。能壯陽道。動風發嗆。</p>

<h2>【海蝦】</h2>
<p>味甘鹹平。入手足太陰少陰厥陰經。功專祛風殺蟲。治疥癬風癢濕癢。以生蝦殼曬乾研末。加白糖拌塗禿瘡神效。同豬肉食。令人多唾。</p>

<h2>【海馬】</h2>
<p>味甘溫。入足少陰厥陰經。功專暖水臟。壯陽道。消瘕塊。治疔瘡腫毒。婦人難產及氣血痛。</p>

<h2>【獺肝】</h2>
<p>味甘溫。入足厥陰經。功專治鬼疰傳屍。得竹節中水。治心腹積聚。以肝陰乾為末。水服二錢。每日三服。治屍疰神效。肉治骨蒸勞熱。血脈不行。多食消陽氣。</p>

<h2>【海狗腎】</h2>
<p>味鹹熱。入足少陰厥陰經。功專治陰痿精寒。鬼交屍疰。陽易舉骨蒸勞嗽者忌。以漢椒樟腦同收則不壞。同糯米法面釀酒服。治虛損。一名膃肭臍。</p>

<h2>【河豚】</h2>
<p>味甘溫有毒。入足厥陰經。功專去濕氣。肝子尤甚。惟以眼睛用輕粉拌放罐內。埋之數日。即化為水。取出塗腳上。拔雞眼甚效。煮河豚稍沾灰塵。食之殺人。食之腹痛。多吃橄欖即解。</p>

<h2>【帶魚】</h2>
<p>味甘。入手太陰經。功專溫補五臟。去風殺蟲。作羹良。</p>

<h2>【鯊魚】</h2>
<p>味甘平。入手太陰經。功專補五臟。翅清金滋陰。補而不滯。味甚美。一名鮫魚。</p>

<h2>【鱘魚】</h2>
<p>味甘平有小毒。入手太陰厥陰經。功專發諸病。惟煮汁飲。治血淋。一名王鮪。</p>

<h2>【鱘鱑魚】</h2>
<p>味甘平。入手太陰厥陰經。功專發病與鱘魚同。一名鱣魚。和蕎麥食。令人失音。</p>

<h2>【海參】</h2>
<p>味甘鹹溫。入手足太陰少陰經。功專補腎益精。壯陽療痿。</p>

<h2>【龍骨】</h2>
<p>味甘澀。氣微寒。入手足厥陰少陰少陽經。功專固脫。得遠志治健忘。得韭子治滑精。得桑螵蛸治遺尿。得白石脂治泄瀉不止。水飛三度。或酒煮酥炙火煅。或生用。忌魚鐵。畏石膏川椒。得人參牛黃良。龍齒鎮心涼驚。功用同前。</p>

<h2>【穿山甲】</h2>
<p>味辛鹹寒有毒。善竄。入足厥陰手陽明經。功專治風濕冷痹。通經下乳。消腫潰癰。止痛排膿。通竅殺蟲。發痘風瘧。為瘡科要品。治蟻瘻神效。癰疽已潰。痘瘡挾虛大忌。或生或燒。或醋炙。童便炙。油煎土炒俱可。</p>

<h2>【蛤蚧】</h2>
<p>味鹹溫。入手太陰足少陰經。功專補氣益血。得人參治喘嗽勞損痿弱。咳由風寒外邪者勿用。酥炙或蜜炙。或酒浸焙。</p>

<h2>【蛇蛻】</h2>
<p>味甘鹹。入手太陰經。功專發表驅風。退翳敗毒。治驚癇風瘧。重舌。鬼魅蠱毒。喉風疥瘡。瘡腫痔漏。產難目翳。小兒口緊不能開合。燒灰敷良。或酒或醋。或蜜浸炙黃。或燒存性。或鹽泥固煅。得當歸治纏喉風。得蟬蛻鐵落頭髮。治產難不下。</p>

<h2>【蚺蛇膽】</h2>
<p>味苦而甘有小毒。入手少陰足厥陰經。功專涼血明目。得血竭乳香沒藥丹砂䗪蟲天靈蓋象牙末狗骨灰麻皮灰作丸。受杖時噙之。杖多不死不痛。</p>

<h2>【白花蛇】</h2>
<p>味甘鹹溫有毒。入手足太陰厥陰經。功專治風濕癱瘓。大風疥癩。類中風屬虛者大忌。頭治癜風毒癩。得火良。烏梢蛇。無毒力淺。功同白花蛇。或酥炙用。</p>

<h2>【龜板】</h2>
<p>味鹹。入足少陰經。功專通任脈。得黃柏知母。治陰虛勞熱。得側柏香附治鬱結。得婦人發芎歸治交骨不開。下死胎。得鹿膠陰陽並補。腎虛無熱者忌。陰囊腫爛異常。先用蘇梗煎湯洗淨汙垢。以龜板一個煅研。加孩兒茶。少加冰片調敷即愈。惡沙參。尿染須治啞聾。龜胸龜背。以尿摩之瘥。</p>

<h2>【鱉甲】</h2>
<p>鹹寒屬陰。入足厥陰少陰經。功專治痎瘧痃瘕。得青蒿治骨蒸勞熱。得桃仁治賁豚氣痛。無肝熱者忌服。醋炙治石淋賁豚。童便炙治勞病。肉涼血補陰。以生薑沙糖作羹食。不用鹽醬治瘧痢。脾虛者大忌。惡礬石。忌莧菜雞子。</p>

<h2>【蟹】</h2>
<p>味鹹寒有小毒。入手足太陰厥陰經。功專除熱結。通經脈。續筋骨。生搗熱酒調服。治跌打損傷。汁塗漆瘡。能敗漆。爪墮胎。性寒傷胃動風。</p>

<h2>【牡蠣】</h2>
<p>味鹹。入足少陰經。功專軟堅降逆止汗。得柴胡去脅下硬。得松蘿茶消項上結核。得大黃消股間腫。得地黃澀精。得元參甘草臘茶治瘰癧奇效。亦有加貝母者。有寒者忌用。煅用生用俱可。貝母為使。惡吳萸細辛麻黃。得蛇床遠志牛膝甘草良。肉名蠣黃甚美。</p>

<h2>【蛤粉】</h2>
<p>性澀。與牡蠣同功。肉鹹冷。入足陽明少陰經。功專止渴解酒。文蛤背有花紋。兼能除煩渴。利小便。口鼻中蝕疳。惟五倍子亦名文蛤。開方須慎之。</p>

<h2>【蚌粉】</h2>
<p>味鹹寒。入手足太陰足厥陰經。功專解熱。燥濕化痰。消積明目。久嗽不止。治嗽以粉新瓦上炒紅。入青黛少許。用淡齏水滴麻油數點。調服神效。蚌水功專止渴除煩。蜆粉蜆肉與蚌同功。生蜆肉浸水洗痘癰無瘢。蜆粉塗濕瘡。</p>

<h2>【真珠】</h2>
<p>味甘鹹。入手太陰足厥陰經。功專鎮心安魂。墜痰拔毒。收口生肌。治驚熱痘疔。下死胎胞衣。點目去翳膜。綿裹塞耳。治耳聾。病不由火熱者忌。乳浸三日。研極細如飛面。方不傷臟腑。</p>

<h2>【石決明】</h2>
<p>味鹹。入足厥陰經。功專清熱補肝。得枸杞菊花治頭痛目昏。多服令人寒中。惡旋覆。</p>

<h2>【蟶】</h2>
<p>味鹹甘寒。入足少陰經。功專補陰。治熱痢。及婦人產後虛熱。</p>

<h2>【海蛤】</h2>
<p>味苦鹹。入足少陰經。功專治咳逆上氣。得滑石甘草芒硝。治傷寒血結。</p>

<h2>【瓦楞子】</h2>
<p>味甘鹹平。入足厥陰經。功專消老痰。破血癖。燒過醋淬。醋丸服。治一切血氣冷氣症癖。一名魁蛤。</p>

<h2>【淡菜】</h2>
<p>味甘溫。入手太陰陽明經。功專治虛勞傷憊。吐血下痢。腸鳴腰痛。婦人帶下。產後瘦瘠。並消癭氣。一名珠菜。</p>

<h2>【田螺】</h2>
<p>味甘大寒。入手足太陰陽明厥陰經。功專利濕清熱。止渴醒酒。利大小便。腹脹大小便不通。以鹽少許。與螺搗爛。用帛系臍下一寸三分。即便通脹消。若腳氣以之系兩股。冷氣下趨至足即愈。點目赤亦妙。以殼煅研。油調搽痔瘡狐臭。瘰癧潰破。用螺加麝少許。搗餅烘熱貼臍下。治黃疸噤口毒痢。</p>

<h1>卷十　水火土部</h1>

<h2>【立春雨水二節內水】</h2>
<p>升陽。味甘平。宜煎中氣不足。清陽不升之藥。</p>

<h2>【驚蟄春分清明穀雨四節內水】</h2>
<p>升陽。味甘平。宜煎發散及補中益氣藥。並浸造諸風及脾胃虛弱諸丹丸。</p>

<h2>【小滿水】</h2>
<p>毒壞豆麥桑葉。造各樣藥料食物。皆易敗。人吃此水亦生脾胃疾。　咸雨（小滿節後先逢癸日下雨為咸雨毒尤甚）</p>

<h2>【梅雨水】</h2>
<p>毒甚消伐。洗瘡疥滅瘢痕。入醬易熟。但不可以造酒醋。（梅或作黴凡衣被黴以梅葉煎湯洗之即去）</p>

<h2>【重午日午時水】</h2>
<p>宜造瘧痢瘡瘍金瘡百蟲蠱毒諸丹丸。用煎殺祟藥。其效尤神。</p>

<h2>【神水】</h2>
<p>甘寒。和獺肝為丸。治心腹積聚及蟲病。獨煎飲此水。能清熱化痰。定驚安神。（五月五日午時雨伐竹中之水即是）以上諸水。皆能助濕。</p>

<h2>【立秋處暑白露秋分四節內水】</h2>
<p>潤肺。宜煎肅清肺氣之藥。</p>

<h2>【寒露水】</h2>
<p>毒壞禾稻。與小滿水同。（彥云寒露雨偷稻鬼）</p>

<h2>【霜降水】</h2>
<p>瀉熱。陽氣有餘者。宜用此煎藥。</p>

<h2>【液雨水】</h2>
<p>宜煎殺蟲消積之藥。（立冬後十日至小雪下雨名液）蟲飲水即伏蟄。來春雷鳴起蟄乃出也。</p>

<h2>【大雪冬至小寒大寒臘日水】</h2>
<p>瀉熱。宜浸造滋補五臟及痰火神聚蟲毒諸丹丸。並煮釀藥酒。與雪水同功。</p>

<h2>【明水】</h2>
<p>味甘寒。主治明目。定心止渴。去小兒煩熱。（周禮司烜氏以夫燧取明火於日鑑取明水於月以供祭祀並以金作之謂之水火之鏡午月丙午日午時鑄為陽燧一名陽符子月壬子日子時鑄為陰燧一名陰符又名方諸水）</p>

<h2>【露水】</h2>
<p>味甘平。止消渴。宜煎潤肺之藥。秋露造酒最清洌。百花上露。令人好顏色。（露能解暑故白露降則處暑矣瘧必由暑故治瘧藥露一宿良）</p>

<h2>【霜】</h2>
<p>味甘寒。解酒熱。治傷寒鼻塞。酒後諸熱面赤。和蚌粉敷暑月痱瘡及腋下赤腫立瘥。</p>

<h2>【臘雪】</h2>
<p>味甘寒。治時行瘟疫。宜煎傷寒火暍之藥。抹痱良。（春雪無用且易敗）</p>

<h2>【冰】</h2>
<p>味甘寒。太陰之精。水極似土。變柔為剛。所謂物極反兼化也。傷寒陽毒熱甚昏迷者。以一塊置膻中良。解燒酒毒。以上皆天水。</p>

<h2>【潦水】</h2>
<p>味甘平。宜煎調脾胃去濕熱之藥。降注雨水為潦。又名無源水。</p>

<h2>【半天河水】</h2>
<p>味甘微寒。治鬼痙狂邪惡毒。洗諸瘡。去蠱。殺鬼精恍惚妄語。與飲之。勿令知之。槐樹間者。治諸風及惡瘡風瘙疥癢。一名上池水。此竹籬頭水及空樹穴中水也。戰國策云。長桑君飲扁鵲以上池之水。即半天河水也。</p>

<h2>【甘爛水】</h2>
<p>以流水瓢揚萬遍。亦曰勞水。性本咸而重勞之則甘而輕。煎傷寒勞傷等藥。取其不助腎氣。而益脾胃也。</p>

<h2>【急流水】</h2>
<p>性速趨下。通二便風痹藥宜之。</p>

<h2>【逆流水】</h2>
<p>因性逆而倒上。中風卒厥。宣吐痰飲之藥宜之。</p>

<h2>【井泉水】</h2>
<p>新汲者療病宜人。宜煎補陰藥及氣血痰火藥。</p>

<h2>【醴泉水】</h2>
<p>甘平。治心腹痛疰忤。鬼氣邪穢。反胃霍亂。（一名甘泉）</p>

<h2>【玉井水】</h2>
<p>甘平。服之長壽。令人體潤。毛髮不白。（華山有玉水溜下土人得之日服多長生）</p>

<h2>【乳穴水】</h2>
<p>甘溫。久服肥健人。與鍾乳同功。近乳穴處流出之水也。</p>

<h2>【溫泉水】</h2>
<p>辛熱微。毒治諸風筋骨攣縮。肌皮頑痹。手足不遂。疥癬諸疾在皮膚骨節者。浴之自愈。（胡任漁隱叢話云湯泉多作硫黃氣浴之則襲人肌膚唯新安黃山硃砂泉春時水微紅可飲長安驪山是礜石泉不甚作氣也硃砂泉雖紅而不熱當是雄黃爾有砒石處亦有湯泉浴之有毒凡浴泉水者必體壯方可）</p>

<h2>【阿井水】</h2>
<p>甘鹹平。下膈疏痰止吐。阿井在兗州陽穀縣。即古東阿縣也。又青州范公泉。其水用造白丸子。利膈化痰。</p>

<h2>【山岩泉水】</h2>
<p>甘平。治霍亂煩悶嘔吐腹痛轉筋。恐入腹。宜多服之。此山岩土石間所出泉。流為溪澗者也。惟陸羽茶經云。凡瀑湧漱湍之水。飲之令人有頸疾。汪穎曰。昔在潯陽。忽一日城中馬死數百匹。詢之云。數日前。雨洗出山谷蛇蟲之毒。馬飲其水然也。以是觀之。山岩泉水。用之可不慎乎。</p>

<h2>【海水】</h2>
<p>咸微溫。有小毒。煮浴去風瘙癬。飲一合。吐下宿食顱脹。</p>

<h2>【地漿】</h2>
<p>甘寒。治泄痢冷熱赤白。腹內熱毒絞痛。解一切魚肉菜果藥物諸菌毒。及蟲蜞入腹。用此下之。中暍卒死者。取道上熱土圍臍。令人尿其中。仍用熱土大蒜等分。搗末去渣。灌之即活。一名土漿。以新汲水沃黃土攪濁。再澄清用。</p>

<h2>【百沸湯】</h2>
<p>助陽行氣。若半沸者。飲之反傷元氣作脹。蛇繞不解。以熱湯淋之即脫。忤惡卒死。銅瓦器盛熱湯膈衣熨其腹。心腹卒痛欲死。以之漬手足。水冷則易之良。一名太和湯。一名麻沸湯。</p>

<h2>【生熟湯】</h2>
<p>調中消食。治霍亂吐瀉。邪在上焦則吐。邪在下焦則瀉。邪在中焦則吐瀉交作。此濕霍亂猶易治也。惟心腹絞痛。不得吐瀉。名乾霍亂。俗名絞腸沙。其死甚速。古方用鹽熬熱童便調服極穩。勿與穀食。則米飲下咽亦死。以新汲水百沸湯合一盞和勻。（均用河水為要。）</p>

<h2>【齏水】</h2>
<p>酸鹹。吐痰飲宿食。酸苦漏泄為陰也。此乃作黃齏菜水。</p>

<h2>【甑氣水】</h2>
<p>以器盛取。沐頭長髮令黑潤。朝朝用梳摩小兒頭久覺有益。小兒諸疳遍身。或面上生瘡爛成孔。白如楊梅瘡。百藥不效。用蒸糯米甑氣水掃瘡上。不數日即愈。</p>

<h2>【銅壺滴漏水】</h2>
<p>性滑。上可至顛。下可至泉。宜煎四末之藥。（說文曰漏以銅壺受水刻節晝夜百刻周禮周官曰挈壺氏掌壺以水火守之分以日夜及冬則以火爨鼎水而沸之而沃之鄭康成曰冬水凍故以火炊水沸以沃之謂沃漏也。）</p>

<h2>【桑柴火】</h2>
<p>主治癰疽發背不起。瘀肉不腐。及陰瘡瘰癧流注臁瘡頑瘡。然火吹滅。日炙二次。未潰拔毒止痛。已潰補接陽氣。去腐生肌。凡一切補藥諸膏。宜此火煎之。</p>

<h2>【炭火】</h2>
<p>櫟炭火宜煅煉一切金石藥。烰炭火宜烹煎炙焙百藥丸散。</p>

<h2>【蘆火竹火】</h2>
<p>宜煎一切滋補藥。</p>

<h2>【燈火】</h2>
<p>陽絡脈盛處。以燈心蘸麻油點燈淬之良。外痔腫痛者亦淬之。油能去風解毒。火能通經也。小兒初生。因冒寒氣欲絕者。勿斷臍。急烘絮包之。將胎衣烘熱。用燈炷於臍下往來燎之。暖氣入腹內。氣回自蘇。又燒銅匙柄熨烙眼弦內。去風退赤甚妙。惟燈用胡麻油蘇子油然者。明目治病。其餘之油燈。煙皆損目。亦不治病。</p>

<h2>【燈花】</h2>
<p>主治敷金瘡。止血生肉。小兒邪熱在心。夜啼不止。以二三顆燈花調抹乳頭令吮之即止。得辰砂少許拌尤效。</p>

<h2>【艾火】</h2>
<p>灸百病。若灸風冷諸疾。入石硫黃末少許更妙。</p>

<h2>【神針火】</h2>
<p>治心腹冷痛。風寒濕痹。附骨陰疽。凡在筋骨隱痛者。針之火氣直達痛所甚效。神針火者。五月五日取東引桃枝削為木針。如雞子長五六寸干之。乾透。待用時以綿紙三五層襯於患處。將針醮麻油點著吹滅。乘熱針之。</p>

<h2>【雷火神針】</h2>
<p>以熟蘄艾葉末二兩。乳香沒藥穿山甲硫黃草烏頭川烏頭桃樹皮末各一錢。麝香五分為末拌艾。以厚紙裁成條。鋪藥艾於內。緊卷如指大。長三四寸。收貯瓶內。地下埋七日取出。用時於燈上點著。吹滅。隔紙十層。乘熱針於患處。熱氣直入。其效更捷。忌冷水。</p>

<h2>【白堊】</h2>
<p>味甘溫。治男子水藏冷。女子子宮冷。卒暴咳嗽。風赤爛眼。反胃瀉痢。為末敷痱子瘙癢。煅研。生油調搽臁瘡良。（即白墡土也）</p>

<h2>【伏龍肝】</h2>
<p>味辛溫。調中止血。去濕消腫。治咳逆反胃。吐衄崩帶。尿血遺精。醋調塗腸風癰腫。研末敷臍瘡。臘月豬脂或雞子白調敷丹毒。水調服催生下胎。即灶心黃土也。年久對釜臍下者良。無濕者勿服。（得生地黃芩白朮阿膠炙草炮姜名黃土湯治婦人血崩及血衄諸血病得阿膠蠶砂治婦人血漏得附子黃芩阿膠治便後下血）</p>

<h2>【東壁土】</h2>
<p>甘溫。治霍亂煩悶。泄痢溫瘧。療下部瘡脫肛。小兒臍風。摩乾溼癬。此屋外向東之壁上土也。以新汲水攪化澄清服之。治霍亂吐瀉。嗜汙泥者。以土調服即愈。</p>

<h2>【墨】</h2>
<p>味辛溫止血生肌。飛絲塵芒入目。濃磨點之。點塞鼻中。止鼻衄。豬膽汁或醋磨汁塗癰腫。酒磨服治胞胎不下。五月午日午時。以蝦蟆嘴內填墨一塊曬之。日西取出墨。將蝦蟆放去。此墨治血症極效。松煙墨良。</p>

<h2>【釜臍墨】</h2>
<p>味辛溫。治中惡蠱毒。吐血血暈。以酒或水溫服。亦塗金瘡止血生肌。消食積。舌腫喉痹。口瘡。陽毒發狂。一名釜煤。</p>

<h2>【百草霜】</h2>
<p>味辛溫。止血魘寐卒死。水化吹鼻效。即灶突上煙煤。</p>

<h2>【梁上塵】</h2>
<p>味辛苦微寒。治腹痛噎膈。中惡鼻衄。小兒軟瘡。消食積。止金瘡血出。齒齦出血。凡用倒掛塵。燒令煙盡。篩取末入藥。一名烏龍尾。</p>

<h2>【鹼】</h2>
<p>味辛苦澀溫。消食磨積。去垢除痰。治反胃噎膈。點痣靨疣贅。（以礦灰等分用小麥稈灰煎汁干為末針刺挑破水調點之一日三上即去須新合乃效）發麵浣衣多用之。</p>

<h2>【孩兒茶】</h2>
<p>味苦澀微寒。清上膈熱。化痰生津。止血收濕。定痛生肌。塗金瘡口瘡陰疳痔腫。硼砂或冰片少許調塗。龜頭爛。合冰片塗之神效。</p>
