<header data-type="book">
<h1>丹方之研究</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="岡西為人">岡西為人</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十一冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015282">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>一　例言</h1>
<p>一、滿洲醫科大學中國醫學研究室所藏之漢籍約一千六百餘種中。　本書仍選其記載丹方之醫書三百二十二種。一一錄其丹方之名目。有一方載於數書者。有數方載於一書者。按其方名之筆畫。依辭典排列之式。記其出處。共得二千四百○五方。</p>
<p>一、本一覽本。為便宜上。專採其方名為本表之基礎。</p>
<p>一、排列處方之次序。依辭典方式視其首字筆畫多少為定。字畫少者置於前。字畫多者列於後。如逢首字相同時。以其第二字之筆畫多寡而定之。</p>
<p>一、本書一覽表之表格。分為三欄。第一欄乃處方番號。第二欄乃處方名。第三欄表其所出之處。其下連之數字。仍表明由同一書籍中收載丹方之番號。</p>
<p>一、引用書目之表格。成為四欄。第一欄乃醫書之番號。第二欄書名。第三欄乃引用書之「中國醫學書目」之分類番號。第四欄乃由同書所取的丹方數。（存仁按。第三欄因無關係故刪去。）</p>
<p>一、本表中未備之處甚多。對於活用上本擬連載卷數。惟余近來毫無餘暇。且余就一覽表觀之。亦未覺如何不便。故此先付印。後來如覺不滿。將漸次改訂。</p>

<h1>二　引用書目</h1>
<figure>
<img alt="表1">
</figure>
<figure>
<img alt="表2">
</figure>
<figure>
<img alt="表3">
</figure>
<figure>
<img alt="表4">
</figure>
<figure>
<img alt="表5">
</figure>
<figure>
<img alt="表6">
</figure>
<figure>
<img alt="表7">
</figure>
<figure>
<img alt="表8">
</figure>

<h1>三丹方一覽</h1>
<figure>
<img alt="表1">
</figure>
<figure>
<img alt="表2">
</figure>
<figure>
<img alt="表3">
</figure>
<figure>
<img alt="表4">
</figure>
<figure>
<img alt="表5">
</figure>
<figure>
<img alt="表6">
</figure>
<figure>
<img alt="表7">
</figure>
<figure>
<img alt="表8">
</figure>
<figure>
<img alt="表9">
</figure>
<figure>
<img alt="表10">
</figure>
<figure>
<img alt="表11">
</figure>
<figure>
<img alt="表12">
</figure>
<figure>
<img alt="表13">
</figure>
<figure>
<img alt="表14">
</figure>
<figure>
<img alt="表15">
</figure>
<figure>
<img alt="表16">
</figure>
<figure>
<img alt="表17">
</figure>
<figure>
<img alt="表18">
</figure>
<figure>
<img alt="表19">
</figure>
<figure>
<img alt="表20">
</figure>
<figure>
<img alt="表21">
</figure>
<figure>
<img alt="表22">
</figure>
<figure>
<img alt="表23">
</figure>
<figure>
<img alt="表24">
</figure>
<figure>
<img alt="表25">
</figure>
<figure>
<img alt="表26">
</figure>
<figure>
<img alt="表27">
</figure>
<figure>
<img alt="表28">
</figure>
<figure>
<img alt="表29">
</figure>
<figure>
<img alt="表30">
</figure>
<figure>
<img alt="表31">
</figure>
<figure>
<img alt="表32">
</figure>
<figure>
<img alt="表33">
</figure>
<figure>
<img alt="表34">
</figure>
<figure>
<img alt="表35">
</figure>
<figure>
<img alt="表36">
</figure>
<figure>
<img alt="表37">
</figure>
<figure>
<img alt="表38">
</figure>
<figure>
<img alt="表39">
</figure>
<figure>
<img alt="表40">
</figure>
<figure>
<img alt="表41">
</figure>
<figure>
<img alt="表42">
</figure>
<figure>
<img alt="表43">
</figure>
<figure>
<img alt="表44">
</figure>
<figure>
<img alt="表45">
</figure>
<figure>
<img alt="表46">
</figure>
<figure>
<img alt="表47">
</figure>
<figure>
<img alt="表48">
</figure>
<figure>
<img alt="表49">
</figure>
<figure>
<img alt="表50">
</figure>
<figure>
<img alt="表51">
</figure>
<figure>
<img alt="表52">
</figure>
<figure>
<img alt="表53">
</figure>
<figure>
<img alt="表54">
</figure>
<figure>
<img alt="表55">
</figure>
<figure>
<img alt="表56">
</figure>
<figure>
<img alt="表57">
</figure>
<figure>
<img alt="表58">
</figure>
<figure>
<img alt="表59">
</figure>
<figure>
<img alt="表60">
</figure>
<figure>
<img alt="表61">
</figure>
<figure>
<img alt="表62">
</figure>
<figure>
<img alt="表63">
</figure>
<figure>
<img alt="表64">
</figure>
<figure>
<img alt="表65">
</figure>
<figure>
<img alt="表66">
</figure>
<figure>
<img alt="表67">
</figure>
<figure>
<img alt="表68">
</figure>
<figure>
<img alt="表69">
</figure>
<figure>
<img alt="表70">
</figure>
<figure>
<img alt="表71">
</figure>
<figure>
<img alt="表72">
</figure>
<figure>
<img alt="表73">
</figure>
<figure>
<img alt="表74">
</figure>
<figure>
<img alt="表75">
</figure>
<figure>
<img alt="表76">
</figure>
<figure>
<img alt="表77">
</figure>
<figure>
<img alt="表78">
</figure>
<figure>
<img alt="表79">
</figure>
<figure>
<img alt="表80">
</figure>
<figure>
<img alt="表81">
</figure>
<figure>
<img alt="表82">
</figure>
<figure>
<img alt="表83">
</figure>
<figure>
<img alt="表84">
</figure>
<figure>
<img alt="表85">
</figure>
<figure>
<img alt="表86">
</figure>
<figure>
<img alt="表87">
</figure>
<figure>
<img alt="表88">
</figure>
<figure>
<img alt="表89">
</figure>
<figure>
<img alt="表90">
</figure>
<figure>
<img alt="表91">
</figure>
<figure>
<img alt="表92">
</figure>
<figure>
<img alt="表93">
</figure>
<figure>
<img alt="表94">
</figure>
<figure>
<img alt="表95">
</figure>
<figure>
<img alt="表96">
</figure>
<figure>
<img alt="表97">
</figure>
<figure>
<img alt="表98">
</figure>
<figure>
<img alt="表99">
</figure>
<figure>
<img alt="表100">
</figure>
<figure>
<img alt="表101">
</figure>
<figure>
<img alt="表102">
</figure>
<figure>
<img alt="表103">
</figure>
<figure>
<img alt="表104">
</figure>
<figure>
<img alt="表105">
</figure>
<figure>
<img alt="表106">
</figure>
<figure>
<img alt="表107">
</figure>
<figure>
<img alt="表108">
</figure>
<figure>
<img alt="表109">
</figure>
<figure>
<img alt="表110">
</figure>
<figure>
<img alt="表111">
</figure>
<figure>
<img alt="表112">
</figure>
<figure>
<img alt="表113">
</figure>
<figure>
<img alt="表114">
</figure>
<figure>
<img alt="表115">
</figure>
<figure>
<img alt="表116">
</figure>
<figure>
<img alt="表117">
</figure>
<figure>
<img alt="表118">
</figure>
<figure>
<img alt="表119">
</figure>
<figure>
<img alt="表120">
</figure>
<figure>
<img alt="表121">
</figure>
<figure>
<img alt="表122">
</figure>
<figure>
<img alt="表123">
</figure>
<figure>
<img alt="表124">
</figure>
<figure>
<img alt="表125">
</figure>
<figure>
<img alt="表126">
</figure>
<figure>
<img alt="表127">
</figure>
<figure>
<img alt="表128">
</figure>
<figure>
<img alt="表129">
</figure>
<figure>
<img alt="表130">
</figure>
<figure>
<img alt="表131">
</figure>
<figure>
<img alt="表132">
</figure>
<figure>
<img alt="表133">
</figure>
<figure>
<img alt="表134">
</figure>
<figure>
<img alt="表135">
</figure>
<figure>
<img alt="表136">
</figure>
<figure>
<img alt="表137">
</figure>
<figure>
<img alt="表138">
</figure>
<figure>
<img alt="表139">
</figure>
<figure>
<img alt="表140">
</figure>
<figure>
<img alt="表141">
</figure>
<figure>
<img alt="表142">
</figure>
<figure>
<img alt="表143">
</figure>
<figure>
<img alt="表144">
</figure>
<figure>
<img alt="表145">
</figure>
<figure>
<img alt="表146">
</figure>
<figure>
<img alt="表147">
</figure>
<figure>
<img alt="表148">
</figure>
<figure>
<img alt="表149">
</figure>
<figure>
<img alt="表150">
</figure>
<figure>
<img alt="表151">
</figure>
<figure>
<img alt="表152">
</figure>
<figure>
<img alt="表153">
</figure>
<figure>
<img alt="表154">
</figure>
<figure>
<img alt="表155">
</figure>
<figure>
<img alt="表156">
</figure>
<figure>
<img alt="表157">
</figure>
<figure>
<img alt="表158">
</figure>
<figure>
<img alt="表159">
</figure>
<figure>
<img alt="表160">
</figure>
<figure>
<img alt="表161">
</figure>
<figure>
<img alt="表162">
</figure>
<figure>
<img alt="表163">
</figure>
<figure>
<img alt="表164">
</figure>
<figure>
<img alt="表165">
</figure>
<figure>
<img alt="表166">
</figure>
<figure>
<img alt="表167">
</figure>
<figure>
<img alt="表168">
</figure>
<figure>
<img alt="表169">
</figure>
<figure>
<img alt="表170">
</figure>
<figure>
<img alt="表171">
</figure>
<figure>
<img alt="表172">
</figure>
<figure>
<img alt="表173">
</figure>
<figure>
<img alt="表174">
</figure>
<figure>
<img alt="表175">
</figure>
<figure>
<img alt="表176">
</figure>
<figure>
<img alt="表177">
</figure>
<figure>
<img alt="表178">
</figure>
<figure>
<img alt="表179">
</figure>
<figure>
<img alt="表180">
</figure>