<header data-type="book">
<h1>醫法圓通</h1>
</header>

<h1>序</h1>
<p>余向就刑幕，歷膺牛廉訪王爵令楊明府之聘，恐久而造孽，退樂性余，酷嗜醫，然不欲行。人知，邀必赴。依仲景六經，平脈辨症，處方輒去。不知其貧富，亦無貴賤，遷徙恆無定雅，不作門市想。閒居，讀《靈》《素》《難經》，心知其意必解出，多不成帙，任其零星，亦無意收束。秋得臨邛欽安鄭子《醫理真傳》一書，點讀再過，知有所得於性理而涵養者深，藉醫為發明耳。發於醫，則救醫也切。救醫切，則濟世也宏。殆樂善而自好者，與神交，久之冬乃晤，一見如故，稱快事焉。適《醫法圓通》又成，及門議復鋟，欽安謙謙君子，出草索摘疵。噫，無瑕矣。何虛心若是耶。特以醫關人性命，書留傳久遠，不得不慎，抑又仁慈之心也。余粗知醫，故知欽安之醫高，高必傳，傳仲景，非傳欽安。欽安傳仲景六經之法，仲景之六經顯，而欽安亦與之俱傳。是欽安因傳仲景之六經而傳，而欽安之所學，先於仲景之六經而有所得者，亦賴仲景而共傳。由是推之，書之傳與不傳，恆視其人之學為何如耳。余愛欽安之書，實愛欽安之學。欽安之學，漸臻圓通之境，故名其書曰《圓通》。因識其圓通，慕其圓通，爰樂為《圓通》之評。夫著《醫法圓通》者，欽安也。而評圓通醫法者，為麻城知非敬氏。</p>
<p><u>時在清之同治十三年甲戊中秋序於錦城廬山仙館。</u></p>

<h1>序</h1>
<p>聞之醫者，意也。謂以我之意，消息病人之氣機，審其盈縮，相其陰陽，定其中外，各守其鄉，以施攻補。證有千變，藥亦千變，而其收效則如一。《素問·八正神明論》曰：合人形於陰陽四時，虛實之應，冥冥之期，視之無形，嘗之無味，故謂冥冥，若神彷彿。又曰：觀於冥冥者，言形氣營衛之不形於外。而工不知之，以日之寒溫，月之虛盛，四時氣之浮沉，參伍相合而調之，工常先見之。然而不形於外，故曰觀於冥冥焉。通於無窮者，可以傳於後世也。是故工之所異也，故俱不能見也。夫不能見而工常先見之，若神彷彿，上合昭昭，下合冥冥，通於無窮，傳於後世，此之謂圓通。至圓者，莫如珠。醫之意，珠是也。唯其能圓，是以能通。所通維何？通神明也，通造化也。夫神明造化，乾坤定位，主宰者理，流行者氣，對待者數。理、氣、數三者，渾為太極，判為兩儀四相，成乎八卦。三才立而五運分，六氣變而四時行，百物生而八風動，於是乎，苛疾起而莫能逃，此之謂法。法天效地，法陰則陽，知升知降，知潛知浮，知迎知拒，皆通以意而成為法。法，即意珠也，即智囊也，皆性花也。然之言也，必醫者先得弄丸心法，從河圖洛書，一順一逆，先後八卦，能顛能倒，默而識之，學而不厭。有諸己而後能驗諸人。以圓通之心法，著圓通之醫法，豈易哉？余於醫道，究心有年，求其識此意者或寡矣。不意友人鄭欽安者，有《醫法圓通》之書焉。余迴環讀誦，見其中，如論乾坤、論坎離、論五行、論六步、論氣血、論水火、論外感、論內因、論陽虛、論陰虛，總其要曰：陰陽而已。又曰：有餘不足盡之矣。又曰：人活一口氣。皆根柢之談，不同泛常之論；又非杜撰，悉推本於《靈》、《素》、《難經》及仲景《傷寒》、《金匱》之義。所載各方盡是經方，所引時方，出不得已，非其本懷。作之謂聖，述之謂賢，欽安之書，吾無聞然矣。非洞明乎一身之氣機，圓乎三才之理數，而先得醫之意者，其能之乎？其言又皆數十年來臨症效驗，及與二三及門互相質疑辨難，所匯而集者，精核不移，萬舉萬當，誠度世之金針，醫學之標準也。余既珍而寶之，復慫恿授梓，以公諸世。欽安之造福，奚有量耶！吾知其克昌厥後矣。不揣固陋，因以頌為序。</p>
<p><u>時清之同治十三年蒲節月郫筒沈古齋化三敬題</u></p>

<h1>敘</h1>
<p>嘗聞各家著作，皆有精義，獨嫌者，大海茫茫，無從問津。予亦粗知醫，每閒暇必細檢閱，隨地隨時，窮究天地，生人生物，盈虛消長。這個道理，思之日久，偶悟得天地一陰陽耳。分之為億萬陰陽，合之為一陰陽。於是以病參究，一病有一病之虛實，一病有一病之陰陽。知此，始明仲景之六經還是一經，人身之五氣還是一氣，三焦還是一焦，萬病總是在陰陽之中。仲景分配六經，亦不過將一氣分布上下、左右四旁之意，探客邪之伏匿耳。舍陰陽外，豈另有法哉！予不揣鄙陋，採取雜症數十條，辨明內外，判以陰陽，經方時方，皆納於內，俾學者易於進步，有戶可入。雖非萬舉萬當，亦可為醫林一助云爾。</p>
<p><u>同治甲戊季夏月蜀南臨邛鄭壽全欽安撰</u></p>

<h1>卷一</h1>

<h2>用藥弊端說</h2>
<p>用藥一道，關係生死。原不可以執方，亦不可以執藥，貴在認證之有實據耳。實據者何？陰陽虛實而已。陰陽二字，萬變萬化。在上有在上之陰陽實據，在中有在中之陰陽實據，在下有在下之陰陽實據。無奈仲景而後，自唐宋元明以逮本朝，識此者固有，不識此者最多。（［眉批］醫不執方藥，在平日求至理而探玄奧。一得上中下陰陽實據，用藥即不誤人。病家知此理法，延醫入門，以此審其高下，決其從違，《萬病回春》立說之功不淺。此先醫醫，而後醫病家，具見良工心苦。）其在不識者，徒記幾個湯頭，幾味藥品，不求至理，不探玄奧，自謂知醫。一遇危症，大海茫茫，陰陽莫曉，虛實莫辨，吉凶莫分。一味見頭治頭，見腳治腳。幸而獲效，自誇高手。若不獲效，延綿歲月。平日見識用盡，方法使完，則又籍口曰：病入膏肓，藥所難療。殊不知其藝之有未精也。更有一等病家，略看過幾本醫書，記得幾個湯歌藥性，家人稍有疾病，又不敢自己主張，請醫入門開方去後，又或自逞才能，謂某味不宜，某味太散，某味太涼，某味太熱，某味或不知性，忙將《本草備要》翻閱，看此藥能治此病否。如治與病合則不言，不與病合則極言不是，從中添減分兩，偶然獲效，自矜其功，設或增病，咎歸醫士。此等不求至理，自作聰明，每每釀成脫絕危候。雖盧緩當前，亦莫能治，良可悲也。更有一等富貴之家，過於把細些小一病，藥才入口，稍有變動，添病減病，不自知也，又忙換一醫，甚至月延六七位，每每誤事。（［眉批］學養兼到之醫，方能識此火候，太非易易。）不知藥與病有相攻者，病與藥有相拒者，豈即謂藥不對證乎？何不多延數時，以盡藥力之長哉。</p>
<p>予觀古人稱用藥如用兵。有君臣，有佐使，有嚮導；有緩攻，有急攻，有偷關；有上取，有下承，有旁取；有寒因寒用、熱因熱用、塞因塞用、通因通用諸法。豈非知得藥與病有相拒相鬥者乎？予願富貴之家，不可性急，要知病系外感，服一三道發散藥，有立見松減些者。氣滯、食滯、腹痛、卒閉之症，服行氣消導開竅之品，有片刻見效者。若系內傷虛損日久，誤服宣散、清涼、破氣、滋陰等藥，釀成咳嗽白痰、子午潮熱、盜汗骨蒸、腹脹、面腫、氣喘等症，又非三五劑可見大功。所以古人治病，有七日來復之說，或三十劑、五十劑，甚至七八十劑，始收全功者矣。</p>
<p>最可怪者，近之病家，好貴惡賤，以高麗參、枸杞、龜、鹿、虎膠、阿膠、久制地黃、鹿茸等品，奉為至寶。以桂、麻、薑、附、細辛、大黃、芒硝、石膏等味，畏若砒毒。由其不知陰陽虛實至理，病之當服與不當服耳。（［眉批］捫蝨而談，其言侃侃，有若無人之慨。）病之當服，附子、大黃、砒霜，皆是至寶。病之不當服，參、耆、鹿茸、枸杞，都是砒霜。無奈今人之不講理何，故諺云：參、耆、歸、地，治死人無過；桂、附、大黃，治好人無功。溯本窮源，實由於不讀仲景書，徒記幾個幸中方子，略記得些各品藥性，懸壺於市，外著幾件好衣服，轎馬往來，目空一世。並不虛心求理，自謂金針在握。仔細追究，書且點不過兩篇，字且畫不清幾個，試問尚能知得陰陽之至理乎？東家被他桂、附治死，西家被他硝、黃送命。相沿日久，釀成此風。（［眉批］淋漓盡致。）所以病家甘死於參、耆、歸、地之流，怕亡於薑、附、硝、黃之輩。此皆醫門不幸，亦當世之通弊也。</p>
<p>予願業斯道者，務將《內經》，《難經》，仲景《傷寒》、《金匱》，孫真人的《千金》、《翼》諸書，與唐、宋、金、元，朱、張、劉、李並各後賢醫書，彼此較量，孰是孰非。更將予所著《醫理真傳》並此《醫法圓通》，留心討究。陰陽務求實據，不可一味見頭治頭、見咳治咳，總要探求陰陽盈縮機關與夫用藥之從陰從陽變化法竅，（［眉批］醫學骨髓，盡此一語，學者潛心。）而能明白瞭然，經方、時方俱無拘執。久之，法活圓通，理精藝熟，頭頭是道，隨拈二三味，皆是妙法奇方。觀陳修園先生《三字經》，列病數十條，俱言先以時方治之，不效，再求之《金匱》，明是知道近日醫生之胸中也。然時方如四君、六君、四物、八珍、十全、歸脾、補中、六味、九味、陰八、陽八、左歸、右歸、參蘇、五積、平胃、柴苓、逍遙、敗毒等方，從中隨證加減，亦多獲效。大抵利於輕淺之疾，而病之深重者，萬難獲效。修園所以刻《三字經》與《從眾錄》之意。不遽揭其非，待其先將此等方法用盡，束手無策，而後明示曰，再求《金匱》，是教人由淺而深，探求至理之意也。竊以《金匱》文理幽深，詞句奧古，閱之未必即解其至理，誠不若將各證外感內傷陰陽實據，與市習用藥認證雜亂處搜出，以便參究。予豈好辨哉？予實推誠相與，願與後世醫生同入仲景之門，共用仲景之法，（［眉批］一片婆心。）普濟生靈，同登壽域，是所切望也。</p>

<h2>各症辨認陰陽用藥法眼</h2>

<h3>心病不安</h3>
<p>（俗云：心跳心慌）</p>
<p>按心病不安一證，有心血不足為病者，有心氣不足為病者。</p>
<p>心血不足為病者，（血不足則火必旺。）其人多煩，小便短赤而咽中干，肌膚枯槁憔悴，而神不大衰，甚則狂妄喜笑，脈必細數，或洪大，喜食甘涼、清淡、油潤之品者是也。</p>
<p>心氣不足為病者，（氣，陽也。氣衰則血必旺。）其人少神，喜臥懶言，小便清長，或多言多勞力、多用心一刻，心中便潮熱而自汗出。（言者，心之聲也。汗者，血之液也。多言、勞力及用心太過，則心氣耗。氣耗則不能統血，故自汗者。［眉批］心氣即心陽，所謂神也。神傷則精散，精散則不能統血，氣液脫而為潮熱、自汗，此是陽不能統陰，陰無所制，陰證蜂起，正本澄源，立法親切，於治此病乎何有？）甚至發嘔欲吐，（心陽一衰，陰氣上僭，故發嘔。）脈必細微，抑或浮空，喜食辛辣煎炒極熱之品者是也。</p>
<p>目下市習，不辨陰陽，聽說心不安寧，一味重在心血不足一邊，故治之有效、有不效。其所用藥品，無非人參、酸棗、茯神、遠志、琥珀、龍骨、硃砂、地黃、當歸、元肉之類，與夫天王補心、定志寧神諸方。然此等方藥，全在養血，果繫心血不足甚宜。若繫心陽衰敗則不當。此屬當世混淆莫察之弊，不忍坐視不言，姑酌一治心陽虛方，以補市習之漏。</p>
<p>補坎益離丹　附子（八錢）　桂心（八錢）　蛤粉（五錢）　炙甘草（四錢）　生薑（五片）</p>
<p>用藥意解：夫曰：補坎益離者，補先天之火，以壯君火也。真火與君火本同一氣，真火旺則君火始能旺，真火衰則君火亦即衰。真火藏於水中，二氣渾為一團，故曰一元。（［眉批］造化機緘，陰陽根柢，露於腕下，作一幅活太極圖觀之，便得醫之真實際也。）真火上騰，（真火，天體也。其性發，用故在上。）必載真水上升，又交於心，故曰離中含陰。又曰：氣行血隨，水既上升，又必復降下。（水，地體也。隨氣而上至離宮，則水氣旺極，極則復降下也。）水下降，君火即與之下降，故曰陰中含陽。又曰：血行氣附，主宰神明，即寓於渾然一氣之中，晝則出而聽政以從陽，陽在上也，曰離。夜則入而休息以從陰，陰在下也，曰坎。此人身立命指歸，醫家宜亟講也。今病人不安寧，既服養血之品而不愈者，明是心陽不足也。心陽不足，固宜真補其心陽。而又曰補坎者，蓋以火之根在下也。予意心血不足與心陽不足，皆宜專在下求之，何也？水火互為其根，其實皆在坎也。真火旺則君火自旺，心陽不足自可愈，真氣升則真水亦升，心血不足亦能療。其所以服參、棗等味而不愈者，是未知得火衰而水不上升也。方用附、桂之大辛大熱為君，以補坎中之真陽。（細查坎陽，乃先天乾金真氣所化，故曰金生水。後人見不及此，一味補土生金、補金生水，著重在後天脾肺，不知坎無真氣上騰，五臟六腑皆是死物。前賢叫人補脾者，先天賴後天以輔也，先天為體，後天為用。故《經》云：無先天而後天不立，無後天而先天亦不生。教人補金，是教人補先天真金所化之真氣也。道家稱取坎填離，即是盜取坎中一點金氣也。予恆曰：人活一口氣，即此。考桂、附大辛大熱，辛即金之味，熱即純陽之性也。仲景深通造化，知桂、附力能回陽，故立白通、四逆回陽諸方，起死回生，其功迅速，實非淺見可測。［眉批］乾分一氣，落於坤中而成坎，乾即金也，坎即水也。坤中得陽即是火，火曰炎上，故能啟水上升而交於心。心屬火為離，離中得水，水曰潤下，又能燮火而下降，全是一金為之斡旋。桂、附辛歸金而熱歸火，大能升水降火，交接心腎。先生獨得仲景之秘，不惜金針暗度，知非再表而彰之，俾醫門悉知仲景之微理，大膽用附、桂以起死回生，病家放心，服桂、附以療生而救死，孰謂病風不可挽。）復取蛤粉之咸以補腎，腎得補而陽有所依，自然合一矣。（附、桂補坎中之陽。陽，氣也。蛤粉補坎中之陰。陰，血也。氣行血隨，血行氣附，陰陽合一，升降不乖，何心病之不能治乎。此方功用最多，凡一切陽虛諸症，皆能奏功，不獨此耳。）況又加薑、草調中，最能交通上下，故曰中也者，調和上下之樞機也。此方藥品雖少，而三氣同調，學者務在藥之性味與人身之氣機，何品從陽，何品從陰，（從陰、從陽，皆歸不一，有從元陰、元陽者，坎離之說也。有從太陽、太陰、少陽、少陰、陽明、劂陰者，六步之謂也。其中之淺淺深深，藥性各有專主，須要明白。）如何為順，如何為逆，（順者，是順其氣機之流行。逆者，逆其氣機之欲往。）把這病之陰陽實據，與夫藥性之陰陽實據，握之在手，隨拈一二味，皆能獲效。匪彝所思，子閱之久矣。（[眉批]從陰從陽，順往逆來，是用藥調氣機之手眼，亦醫門講理法治病之權衡。夫人自出母腹，元陰元陽變為坎離，其根落在坤中，由是氣傳子母，應天度而化生，六經上下往來，表裡雌雄相輸應，二六不停。水火者，氣液也，隨呼吸而有升降，布五行而有部分，醫能明此，號曰上工。　欽安酌此一方，名曰補坎益離丹，　以治心陽虛證，深得太陽與少陰為表裡之機關，窺見岐黃根柢，從桂枝湯變化而出，直透仲景之心法，且不憚煩勞，於辨證用藥中，剖明陰陽大旨。學者入理深談已有把握。知非更拈出仲景治少陰、太陰兩大法門，真武何以用附子而不用幹姜，理中何以用乾薑而不用附子，其四逆附子、乾薑並用，何以又獨稱為救里，而治無專經。此間陰陽奧妙，進退出入，包含氣機不少，如何用藥認證，以合氣機。此皆六步之中，亦有從陰從陽之淺深，藥性亦各有專主，均可變化推衍，增減隨宜。知非不能明辨，願以俟學者之深參而有得焉。）</p>
<p>奈世人沉溺莫挽，深為可慨。茲特再即此方之理推之，與仲景之白通湯同法也，桂枝龍骨牡蠣湯同法也，大、小建中湯同法也，即與後賢之參附湯、卦髓丹、陽八味皆同法也。古人立方，皆是握定上中下三部之陰陽，而知藥性之淺深功用，故隨手輒效，得以名方。今人只徒口誦心記，而不識至理攸關，無怪乎為方藥所囿矣。更可鄙者，甘草僅用數分，全不知古人立法立方，其方皆有升降，皆用甘草，誠以陰陽之妙，交會中宮，調燮之機，專推國老。何今之不察，而此風之莫轉也。</p>

<h3>肺病咳嗽</h3>
<p>按咳嗽一證，有從外而入者，有從內而出者。從外而入者，風寒暑濕燥火之邪干之也。（六客各有節令不同，須知。）客邪自外而入，（［眉批］客邪者，每年六步客氣之邪也。）閉其太陽外出之氣機，氣機不暢，逆於胸膈。胸中乃肺地面，氣欲出而不出，咳嗽斯作矣。定有發熱、頭疼、身痛一段。風邪乾者，兼自汗惡風；寒邪乾者，兼無汗惡寒；暑邪乾者，兼口渴飲冷，人困無力；濕邪乾者，兼四肢沉重，周身覺冷而痠疼，不甚發熱；燥邪乾者，兼吐痰膠黏，喜飲清涼；火邪乾者，心煩脈洪，小便短赤飲冷。從內而出者，皆是陽虛陰盛之候。陰虛也有，十中僅見一二。因陽虛者，定見困倦懶言，四肢無力，人與脈息無神，唇舌青淡白色，而喜熱飲，食少心煩，身無發熱痛苦。即有燒熱，多在午後，非若外感之終日發熱無已時也。因心肺之陽不宣，不能化其本經之陰邪，逆於胸而作者，其人無外感可徵。</p>
<p>凡事不能用心勞力，稍用心力一分，心便潮熱，自汗出，咳嗽更甚，多吐白泡清痰。（近市醫家，每稱為陳寒入肺，其實不知心肺陽衰，而內寒自生也。［眉批］辨證的小注辨理確，小注補法清。）因脾胃之陽不足，不能轉輸津液水穀而作者，其人飲食減少，腹滿時痛，多吐清冷痰涎，喜食辛辣椒姜熱物。因肝膽之陽不足，不能收束其水，挾龍雷（指陰氣也），兩水泛於上，直干清道而作者，其人腰脅脹痛，足膝時冷，兩顴時赤，夜間痰水更甚，咽乾不渴。（若渴飲冷，便是陰虛火旺。）凡此內外兩法，不得紊亂。審是從外而入之風邪乾者，去其風而咳嗽自已，如桂枝湯、祛風散是也。寒邪乾者，散其寒而咳嗽自已，如麻黃湯、小青龍湯是也。暑邪乾者，清其暑而咳嗽自已，如益元散、清暑湯是也。濕邪乾者，滲其濕而咳嗽自已，如二陳湯、桂苓朮甘湯是也。燥邪乾者，潤其燥而咳嗽自已，如甘桔湯、麥冬飲之類是也。火邪乾者，散其火，清其火，而咳嗽自已，如導赤散、葛根芩連湯之類是也。審是從內之心肺陽衰者，扶其陽而咳嗽自止，如薑桂茯半湯、溫肺飲之類是也。審是脾胃陽衰者，舒其脾胃而咳嗽自止，如半夏生薑湯、香砂六君湯、甘草乾薑湯之類是也。審是肝腎陽衰，水邪泛上者，溫其腎而咳嗽自已，如真武湯、滋腎丸、潛陽丹加吳萸之類是也。果見陰虛而致者，其人水少火多，飲食易消，精神言語聲音必壯，必性多躁暴，肌膚多幹粗，吐痰膠黏，喜清涼，脈必細數，惡辛辣熱物，方是的候，如雞子黃連湯、六味地黃之類，皆可服也。尚有一等，久病無神，皮肉如火灸而無潤澤，喜熱惡冷，此尤屬真氣衰極，不能薰騰津液而灌溉肌膚，十有九死。更有一等，陽虛陰盛已極，元陽將脫之咳嗽，氣喘痰鳴，六脈浮空，或勁如石，唇青爪甲黑，周身大熱，自汗，乃脫絕危候，急宜大劑回陽飲治之，十中可救二三。余曾經驗多人，但逢此候，務先在藥單上擬明，以免庸俗借姜附為口舌。</p>
<p>余又得一奇法。（［眉批］非法之奇，乃人之愚者多也，故又借一奇字，以醒人眼目。）一人病患咳嗽，發嘔欲吐，頭眩腹脹，小便不利。余意膀胱氣機不降而返上，以五苓散倍桂，一劑便通，而諸證立失。由是觀之，醫貴明理，不可固執，真不謬矣。查目下市習，於咳嗽一證，每每見痰化痰，見咳止咳，所用藥品，無非杏仁、貝母、冬花、紫菀、百合、桑皮、化紅、蘇子、白芥、南星、薄荷、半夏，與夫參蘇飲、蘇沉九寶、滋陰六味，一味雜投，以為止咳化痰，每每釀成勞證，此豈藥之咎哉。由其不知內外各有攸分，陰陽各有實據，藥性各有專主，何其相沿不察，貽害無窮也。予故辨而正之。</p>

<h3>肺痿肺癰</h3>
<p>（痿症，咳吐濁沫或膿血，口臭不渴，小便利。癰症，咳吐膿血，胸中隱隱作痛，將成時，坐臥不安）</p>
<p>按癰、痿二證，名異而源同。（同者，同在肺也。）痿虛（由肺陽不足，而津液失運。）而癰實。（由肺陰不足，而燥邪日生蘊釀日久。）痿宜溫肺，《金匱》之甘草乾薑湯是也。（姜性辛溫，能宣肺中之寒，甘草能緩姜性之散，又能溫中補中，又足生氣，故見功實速。余曾經驗多人。）癰宜開壅，《金匱》之皂莢丸是也。（皂莢功專開壅去垢，又得蜜、棗以安中，邪去而正氣無傷，妙法也。［眉批］辛甘化陽，甘鹹養陰，學者功力深到，便識得此義玄妙，醫中之能事畢矣。）予細維《金匱》治痿證，首列甘草乾薑湯，明是辛甘化陽之法，必是肺冷無疑。再以痿字義考之，委者，謝也。（［眉批］委謝癰壅，晰義精確，一虛一實，判若列眉。）如花木之葉萎，敗而無潤澤，其源定屬坎中真氣不上薰蒸。若坎中既有真氣上騰，肺何由而得萎也。而治癰以皂莢丸，（皂莢辛鹹，棗、蜜味甘。）明是甘鹹養陰之法，必是肺熱無疑。更以癰字義考之，癰者，壅也。壅則聚而不通，熱伏不潰之象，其源定屬水衰火旺。然癰之將成未成，其中尚有許多治法。果系胸中隱痛，脈數滑，口中辟辟燥，唾膿血，坐臥難安。此際乃癰的候。否則照常治嗽法投之。予意當以肺陽不足而痿證生，肺陰不足而癰證起，以定此二案。（［眉批］陰陽案定，人有遵循。）後學始有把握，庶不致錯亂無據也。</p>

<h3>胃病不食</h3>
<p>按不食一症，有因外邪伏而不宣，逆於胃口者；有因飲食生冷，停滯胃口者；有因七情過度，損傷胃氣者；有因陽虛者；有因陰虛者。因外邪所致而不食者，定有發熱、頭痛、身痛，與夫惡寒、惡風、惡熱、口苦、便赤、四肢痠痛等情。按定六氣節令，六經提綱病情治之，外邪去而食自進矣。因飲食生冷而致不食者，定見飽悶吞酸、胸膈脹痛等情，照溫中行氣消導之法治之，生冷去而食自進矣。因七情過度而致不食者，審其所感，或憂思，或悲哀，或恐懼，或用心勞力，或抑鬱，或房勞，按其所感所傷而調之，則飲食自進矣。因陽虛者，陽衰則陰盛，（陽虛二字，包括七情在內，論陽虛，是總其名也）。陰主閉藏，故不食。（此等病人，必無外感、飲食病情為準。）法宜扶陽，（扶陽二字，須按定上中下部位。）陽旺陰消，而食自進矣。因陰虛者，陰虛則火旺。（陰虛二字，有外感客邪，隨陽經而化為邪熱傷血，按其所感經絡治之，若系真陰虛極，則又非苦寒可用。）火伏於中，其人煩熱口渴飲冷，甚有呃逆不休、咳嗽不已、反胃而食不下諸症。輕則人參白虎，重則大小承氣之類。（是瀉其亢盛之火邪，以復陰血。）若由真陽虛極，不能化生真陰，陰液已枯，其人定然少神氣短，肌膚全無潤澤，若火炙然，亦常思泊潤涼物。病至此際，十少一生。苟欲挽回，只宜大甘大溫以復陽，陽回則津液自生。即苦甘化陰，甘淡養陰，皆其次也。昧者不知此中消息，妄以苦寒大涼治之，鮮不速斃。果能投治無差，則陰長陽生，而食自進矣。（［眉批］飲食為人之大源，其所以能飲食之故，尤重在精氣。不食一證所因最為繁多，無論內外各病，皆能致之。此按扼定病機病情，指出治法，大具手眼，至活至妙。學者苟知精氣為飲食之本，從精氣上消息不食之故，便合欽安之法，而得不食之源，於治胃病乎何難。）</p>
<p>以上內外諸法俱備，學者務要下細理會，不可因其不食，而即以消食、行氣、破滯之品雜亂投之，病人莫不陰受其害。查近日市習，一見不食，便以平胃散加丑牛、檳榔、山楂、麥芽、香附、三稜、莪朮之類投之。內外莫分，陰陽莫辨，誠可慨也。今特略陳大意，至於變化圓通，存乎其人。（［眉批］八字要緊。）又安可執一說，而謂盡括無遺。</p>

<h3>脾病嘔吐泄瀉</h3>
<p>按嘔吐、泄瀉一證，有隻嘔吐而不泄瀉者，有隻泄瀉而不嘔吐者，有嘔吐、泄瀉並行者。</p>
<p>嘔吐而不泄瀉者，邪乘於上也。（上指胃。）泄瀉而不嘔吐者，邪乘於下也。（下指脾。）嘔吐與泄瀉並行者，邪隔於中，上下俱病也。（中指脾胃交會處也。）論外因，則有風、寒、暑、濕、燥、火，與夫痘、麻、癍疹發泄之異。論內因，則有飲食停滯、陽虛、陰虛之別。予推究太陰一經，在三陽之底面，外邪初入，必不能致嘔吐泄瀉。即有吐瀉，定是失於表散。邪壅於陽明，則有乾嘔之條。邪伏於少陽，則有喜嘔之例，不得即直入於內，而至吐瀉也。其所以致吐瀉者，由其表邪未解，妄行攻下，引邪入內，邪陷於中，方能致此。治法仍宜升舉其所陷之邪，如桂枝湯加葛根之法是也。亦有外邪未解，傳經而至太陰者。邪至此地，不問何邪傳至，但以本經為主，即在本經之標本中三氣上求之。濕為太陰之本氣，濕為陰邪，一切外邪至此，即從本氣而化為病者俱多，亦有不從本氣而從中化為病者亦多。（中指胃，胃與脾為表裡也。）亦有不從本中所化，而從標化為病，標即太陰經也。太陰為陰經，邪從經為病，亦陰也。蓋從本化者為濕邪，泄瀉居多。從中化者為熱邪，皮黃、便赤、嘔吐者眾。從標化者為陰邪，腹痛不食屢生。如此而求，便得邪之所從所化也。故前賢云：吐瀉病，求太陰。是叫人在太陰經之標、本、中三氣上求之也。治之之法，濕、熱、陰三字定之矣。從陰濕者，其人吐瀉甚而肢冷唇青，仲景之理中、吳茱萸湯之類是也。從熱化者，其人即吐瀉而思水飲，如仲景之五苓、四苓，或黃連、吳萸湯之類是也。更有吐瀉甚而兼腹痛劇者，前賢稱為霍亂，稱為發痧。學者不必多求，即在本經之標、本、中三法求之。亦間有卒閉而即四肢冷者，腹痛吐瀉甚者，由其內本先虛，外邪卒入，閉其清道，邪正相攻，腹痛吐瀉並作，法宜宣之、散之、開之、刺之、刮之等例，亦不可不知。至於飲食停滯而致吐瀉者，蓋以飲食傷中也，其人多飽悶吞酸噯臭，治以溫中消食便了。（［眉批］此證欽安合三證而並論。吐本從陽，瀉本從陰，一時吐瀉並作，中宮失運，此三證也。吐從陽，宜溫降。瀉從陰，宜溫升。吐瀉並作，必兼頭痛發熱身疼、熱多欲飲水者，五苓散主之；寒多不飲水者，理中丸主之。其證小便不利者多，若小便複利而大汗出，脈微者，四逆湯主之。此外如內因外因、陽虛陰虛，欽安論法大備，學者留心參究，臨證自有把握。知非氏曰：定吐瀉為脾病，大有妙義。再細論其理，脾與胃為夫妻，同處中州。一臟一腑，合為一家；一陰一陽，共同轉運之權。日奉君火之令而行，自能燮理陰陽，分清別濁，何得災害，並至今令腸中溏瀉。以干易濕明，明脾不行水，水不歸經，併入腸中，水主潤下，焉能久停，故大瀉作。又令人吐，亦明明是水不運行，脾陰把持君火之令，火性炎上，令不行之水胃出食管，故大吐作。皆由妻失運化，至令其夫不能正位。又安望其輸精皮毛，潤溉骨髓，柔及筋膜，將子女臣妾悉受俱害。加以日久浸淫，變證蜂起。若擾及君主，恐更有禍生不測者，噫！可畏也。昔賢云：吐瀉者，求太陰，允推卓見。但其中至理，不為發明，學者焉能了了，直搗中堅，抑或旁取、逆取，以出奇而制勝。欽安無奈何，又不能直吐心肺，只得多方指陳，旁引曲證，廣立法門，亦猶王良之詭遇，以期嬖奚幸而獲禽，其心實良苦矣。知非從旁不忿，直抒胸腹，為欽安暢言之。試問吐瀉之證，本屬脾胃，孰敢定為脾病乎？此有功醫林之按，學者不宜輕視。）</p>
<p>至於痘麻，毒初出時，吐者居多，泄瀉者少。誠以痘出於臟，從太陽而發泄於外。外者，皮膚、肌肉之屬也。肌肉屬陽明，毒邪將出未出之候，從太陽鼓舞，盡壅於陽明，故嘔吐者多。（要吐則毒氣方能發泄得透。）醫者當迎其機而導之。考古方首用桂枝湯，初發熱時也。次用升麻葛根湯，初現點時也；皆是順其氣機以發透為妙也。麻出於腑，感天行者多。當將出未出之際，治法初與痘同。但痘出透時，以養漿結疤、收回陽氣為重。麻證出透時，以清解毒盡為先。至於癍疹之邪，由外感不正之時氣，伏於肌肉之間，不能深入，當經氣旺時，邪不能久藏，隨氣機而發泄於外，（若用苦寒，遏郁其外泄之氣機，其害最速。）亦多發吐。學者於此數證，先告以服藥後，吐亦無妨，切不可妄行溫中降逆止嘔之法，務要果真胃寒發吐方可溫中。</p>
<p>更有陽虛之人，儼若平常好人，卻不能勞心用力多言。但勞神一刻，即有發嘔發吐者，稍食豬肉即大瀉者，法只宜溫中，或補命門相火。亦有陰虛之人，血液枯極，賁門不展，有乾嘔吐，而食不得下者，更有朝食暮吐、食而即吐。種種情形，治法不必細分。總之，嘔吐與反胃、咳嗽、呃逆、吐血諸證，皆是一個逆字，挐定陰陽實據治之，發無不中。要知各經受寒閉塞，皆能致逆，逆則嘔吐，泄瀉必作。各經受熱傳變，皆能致逆，逆則嘔吐、泄瀉亦作，不可不知。</p>
<p>近閱市習，一見嘔吐、泄瀉，多用藿香正氣散、胃苓湯、柴苓、四神、肉蔻散等方，治非不善，總不若辨明陰陽之為當也。</p>

<h3>肝病筋攣</h3>
<p>按筋攣一證，有因霍亂吐瀉而致者，有因誤汗而致者，有因陽虛失血而致者，有陰虛者。</p>
<p>因霍亂吐瀉而致者，由其吐瀉太甚，傷及中宮，中宮之陰陽兩亡，轉輸失職，不能運津液而交通上下，筋骨失養，故筋攣作。法宜安中，如仲景之吳茱萸湯、理中湯，皆可與也。</p>
<p>因誤汗而致者，由其發汗太過，血液驟傷，火動於中，筋脈失養，故筋攣。法宜扶陰，如仲景之芍藥甘草湯是也。</p>
<p>因陽虛失血而致者，由陽氣衰弱，不能統血，血亡於外，氣衰於內，薰蒸失宜，枯槁漸臻，筋脈失養，故筋攣。法宜大辛大甘以扶陽，如仲景之附子甘草湯、甘草乾薑湯。皆可服也。</p>
<p>陰虛而致者，由外邪入內，合陽經氣化，成為火邪，火甚血傷，筋脈失養，故筋攣。（世云火症，便是陰虛的大眼目，無論何經、何臟、何腑有火，俱要養陰，但非真陰虛也。若真陰虛者，其人元氣虛極，不能化生陰液，多系久病，方能致此，十中罕有一生。予故曰真陰虛者少。）法宜養陰清火，如仲景之雞子黃連湯，與後賢之六味地黃湯、生地四物湯，皆可與也。</p>
<p>亦有忿怒抑鬱生熱，熱盛傷血，亦致筋攣。須按病情治之，必效。切勿惑於市習通套之用，如木瓜、秦艽、伸筋草、舒筋、靈仙、松節、地黃、烏藥、羌活一派。不按陰陽病情，往往誤事，不可不知也。（［眉批］經曰：臟真散於肝，筋膜之氣也。識得真元氣，散於筋膜者，為肝氣，則知凡人病筋攣者，皆失真元所養而致。欽安指出四因，逐層闡發陰陽之理，指點驅用仲景之方，皆調燮真元之法，無有不效，可謂神乎技矣。學者細心體會，洞澈源流，治筋攣自有把握。</p>

<h3>腎病腰痛</h3>
<p>按腰痛一證，有陽虛者，有陰虛者，有外邪閉束者，有濕氣閉滯者。因陽虛而致者，或由其用心過度，虧損心陽；或由飲食傷中，損及脾陽；或由房勞過度，虧損腎陽。陽衰陰盛，百病叢生。不獨腰疾，但腰之痛在下部，究竟總是一個陽虛。然下焦之陽虛，下焦之陰寒自盛，陽微而運轉力衰，腰痛立作。其人定見身重畏寒，精神困倦。法宜峻補坎陽，陽旺陰消，腰痛自已。如陽旦湯、朮附羌活、附子湯之類。</p>
<p>陰虛而致者，由腎陽素旺也。旺甚即為客邪，火盛血傷，元陰日竭，則真陽無依，腰痛立作。其人必小便赤而咽乾，多暴躁，陽物易挺，喜清涼。法宜養陰，陰長陽消，腎氣自攝，腰痛自已。如滋腎丸、地黃湯、封髓丹倍黃柏加全皮之類，</p>
<p>因寒而致者，由外感寒邪，從太陽而入少陰。（太陽與少陰為表裡。）少陰為陰臟，外寒亦陰，入而附之，陰主收束，閉其腎中真陽運行之氣機，故腰痛作。其人定見發熱畏寒，或兼身痛、咽乾不渴、時時欲寐。法宜溫經散寒，寒散而腰痛自已。如麻黃附子細辛湯、附羌湯之類。</p>
<p>因濕滯而致者，由其人素稟勞苦，久居濕地深坑，中氣每多不足，易感外來之客邪。太陰與腎相連，濕邪不消，流入腎界，阻其運行之機，故腰痛。定見四肢沉重，常覺內冷，天陰雨更甚，腰重如有所繫。法宜溫經除濕，濕去而腰痛自已。如腎著湯、桂苓朮甘湯加附子細辛之類。</p>
<p>近來市習，一見腰痛，不究陰陽，不探虛實，便謂房勞過度，傷及腎陰。故所用藥品，多以熟地、棗皮、杜仲、枸杞、巴戟、首烏、蓯蓉、補骨脂、菟絲、龜膠一派，功專滋陰補水，人人所共信。殊不知腎為至陰之府，先天真陽寄焉。陰居其二，陽居其一，夫婦交媾，生男育女。《易》云：乾道成男，（稟父之陽精也。）坤道成女。（稟母之陰精也。）由此觀之，男子所虧者，腎中之陽，而非腎中之陰也。所謂陰虛者，指腎為陰臟而說，非專指腎中之水虛，實指腎中之陽虛也。（［眉批］知非氏曰：醫有恆言陰虛火旺，多傷於房勞，或損及脾胃，法當滋陰瀉火。夫陰者何物？火者何物？損之傷之者又何物？治之必用一派滋陰補水之藥。將滋之補之者又系何物？人往往不能言。知非因之喟然嘆矣，不禁睪然思，穆然望曰，人得天地之至精，日以熔鍊穀味，取汁變化而生氣血，其靈貫於百骸，為五臟六腑之本，十二經脈之原，統治群陰，不敢作祟，俾人得安舒無恙者，此一物也。爰彷彿而擬其形容，觀其會通。曰：陰者，鬼之靈也。火者，神之靈也。知鬼神為水火，則知陰虛火旺、滋陰補水之說為不通，其法必不效，安能療水火之疾病。欽安此按，發明陽衰陰盛。後又指出：虧者，虧腎中之陽，腎虛是腎中之陽虛。陽即火而陰即鬼。藉腰痛一證以傳神，補出內外兩法，剖明兩腰致痛之由，良以太陽寒水、厥陰風木、少陰君相二火，皆關於腎。知之真，故不覺言之親切有味，六經之法，通治百病，顧可不亟講乎，學者其玩索而有得焉可。）若不辨明這點機關，但稱陰虛，但知滋水，勢必陰愈盛而陽愈微，濕愈增而寒愈閉，腰痛終無時已。治人實以害人，救世實以害世。此皆通套之弊，豈忍附和不言，實不得已耳。惟願同道，拋去此項藥品，按定陰陽虛實、外感內傷治之，庶不致遺害焉耳。更有可怪者，今之醫家，專以首烏、熟地一派甘寒之品，為補水必用之藥，何不將天一生水這句道理，細心推究，試問天一生水，專賴此一派甘寒之品乎！總之，宗旨不明，源頭莫澈，仲景而下，罕有了了。（［眉批］能辨宗旨源頭，方可謂曰知醫。）</p>

<h3>頭痛</h3>
<p>按頭痛一證，有從外而入者，有從內而出者。從外而入者，風、寒、暑、濕、燥、火，六客之邪干之也。干於三陽，俱以表稱；干於三陰，俱以里論。（此指六客由外入內之謂，非指七情損傷，由內出外之謂。）三陽者何？一曰太陽頭痛，脈浮項強，發熱惡寒惡風是也。自汗惡風，主以桂枝湯。惡寒無汗，主以麻黃湯，是順其本經之氣機也。二曰陽明頭痛，額前、眉稜、眼眶脹甚，脈長，惡熱，主以葛根湯，是順其本經之氣機也。三曰少陽頭痛，而兩側獨甚，寒熱往來，目眩口苦，主以小柴胡湯，是順其本經之氣機也。三陽之氣機順，邪不至入於內，而三陰即不病矣。若三陽之外邪不解，則必傳於三陰，三陰者何？四曰太陰。外邪傳至太陰，太陰主濕，邪從濕化，濕氣上蒸，頭痛而重，四肢痠疼而覺冷，腹滿嘔吐不食，主以理中湯，是溫中除濕之意也。五曰少陰。（少陰乃水火交會之區。）邪入少陰，若協火而化為熱邪，熱氣上蒸，頭痛而咽乾便赤，少氣懶言，肌膚燥熯，法宜養陰，主以雞子黃連湯，是潤燥救陰之意也。邪若協水而化為陰邪，頭痛而脈微欲絕，身重而欲寐懶言，咽乾而口不渴，主以麻黃附子細辛湯，是溫經散寒、扶陽抑陰之意也。六曰厥陰。邪入厥陰，厥陰主風木，邪從風化為病，風主輕清，頭痛而巔頂更甚。（諸陰之脈至頸而還，惟厥陰脈會頂巔。）厥陰又屬至陰之所，邪入此，從陰化者亦多。頂痛多兼乾嘔吐涎，爪甲、唇口青色，肢冷腹痛。主以吳萸四逆湯，是回陽降逆祛陰之意也。（［眉批］此論六經頭痛。三陽三陰為病，有界限，有次第，有傳不傳，傳者病也。著眼論《素問》云：三陽為父，指太陽；二陽為衛，指陽明；一陽為紀，指少陽。三陰為母，指太陰：二陰為雌，指少陰；一陰為使，指厥陰。此篇所論，是從六步流行之氣機言之也。）邪在三陽，法宜升解，不使入內為要。邪在三陰，法宜溫固，由內而釋，不使傷表為先。（［眉批］總結六經。）</p>
<p>若內傷日久，七情過度，陽虛陰虛，亦能作頭病，但病形無外感可徵，頭眩昏暈，十居其八，頭痛十僅二三。因陽虛日久，不能鎮納濁陰，陰氣上騰，有頭痛如裂如劈，如泰山壓定，有欲繩索緊捆者，其人定見氣喘，唇舌青黑，渴飲滾湯，此屬陽脫於上，乃系危候。法宜回陽收納為要，如大劑白通四逆之類。緩則不救。若誤用發散，旦夕即亡。因陰虛而頭痛者，乃火邪上衝，其人雖無外感可徵，多心煩咽乾，便赤飲冷，有覺火從腳底而上，火從兩腰而上，火從臍下而上，上即頭痛，無有定時，非若外感之終日無已時也。法宜扶陰，如六味、八味之類。此條尚有區分，病人自覺火自下而上時，其人安靜，不喜冷飲，咽不幹，便不赤，心不煩，唇舌若青，則又是陰氣上騰。法宜大辛大甘以守之復之，切不可妄用滋陰降火。一滋陰降火，則陰愈勝而陽愈消，脫證立作矣。（［眉批］推論頭痛有陽虛、陰虛危候，析陰陽於微芒。）內外兩法，各有攸歸，前賢雖稱頭為諸陽之首，清氣所居，高巔惟風可到，治之專以祛風為主，此語近是。予謂凡病頭痛之人，每由內之正氣不足，不能充周，外之一切風邪，（六客即是六風，風字宜活看。）內之一切陽虛陰虛，俱能上逆而為病。外邪則按定六經提綱病情為準，內傷則按定喜怒悲哀憂思恐懼、陽虛陰虛為要。他如諸書所載，有名雷頭風者，頭響者，頭搖者，頭重者，偏左偏右者，大頭毒者，宿食頭痛者，種種名目，亦不可不知。雷頭與響者，氣挾肝火而聚於上也。（火即是風，言其盛也。）雷頭，主以清震湯。頭響者，主以小柴胡加丹、梔。頭搖者，風淫於內也，主以養血湯。頭重者，濕氣蒸於上也，主以祛風散濕湯。偏於左者，血虛風動也，主以四物加風藥。偏於右者，氣虛而風襲之也，主以四君加風藥。（左右二證，予常以封髓丹加吳萸、安桂，屢治屢效。）大頭毒者，外感時行癘氣，壅於三陽也，主以普濟消毒飲。宿食痛者，飢則安而飽則甚，由胃中濁氣上蒸也，主以平胃散加消導藥。以上等法，皆前賢所制，亦可擇取，姑存之，以便參考。（［眉批］提頓開下，搜採無遺。名論不刊，醫家上乘。）</p>
<p>查近市習，一見頭痛，不按陰陽，專主祛風，所用無非川芎、白芷、荊芥、防風、蔓荊、藁本、羌活、天麻、辛夷、蒼耳。夫此等藥品，皆輕清之品，用以祛三陽表分之風，則效如桴鼓；用以治三陰上逆外越之證，則為害最烈，不可不知也</p>

<h3>目病</h3>
<p>按目病一條，眼科有七十二種之別，名目愈多，學者無從下手。予為之括其要，統以外感、內傷兩法判之，易於明白瞭然。</p>
<p>從外感者，多由染天行時氣而作。（時氣二字，指六氣也。）看是何邪干於何部。干於肺者，白睛受病。干於心者，兩眥受病。干於肝者，黑珠受病。干於腎者，瞳子受病。干於脾者，上下眼皮受病。無論何邪由外入內，初起定見惡風、畏寒、惡熱、頭痛、紅腫脹痛、羞明流淚、赤脈縷縷等情，或失於宣散、過於寒涼，久久不愈，便生翳障赤白等霧，皆是從外而生者也。治之之法，按定時令部位，不外祛風、清熱、升散等方而已。余欲按定六客，逐部以論病論方，未免太繁。外形已經說明，學者思之而亦即得之矣。（［眉批］分配精確，如然鸝得珠，已扼治目之要，何必他求。）</p>
<p>從內傷而得者，則有七情之別。七情者，喜怒悲哀恐懼而已。七情之擾，總屬傷神。神者，火也，氣也。（［眉批］一語抵人千百，經云得一之精，以知死生。夫神火陽氣，一而已矣。）過於喜者，損心陽，則心中之陰邪自盛，即為客邪，上乘而生赤翳障霧。過於怒者，損肝陽，肝中之陰自盛，即為客邪，上乘而青翳障霧。過於憂思者，損脾陽，脾中之陰自盛，即為客邪，上乘而生黃翳障霧。過於恐懼者，損腎陽，腎中之陰自盛，即為客邪，上乘而生黑翳障霧。過於悲哀者，損肺陽，肺中之陰盛，即為客邪，上乘而為白翳障霧。此數目疾，定無羞明紅腫痛甚、惡熱喜冷，其人少氣懶言，身重嗜臥，面色青白，脈或虛細浮大中空，種種情形，皆是內傷虛損而生者也。亦有一發而即痛脹欲裂，目赤如榴者，由先天真氣附肝而上，欲從目脫也。定見唇口黧黑，或氣喘促，喜極熱湯水，六脈或暴出如繩，或脈勁如石，或浮大而空，或釜沸者是也。法宜回陽收納為要。傷於心者，可與補坎益離丹、桂枝龍牡湯。傷於肝者可與烏梅丸。傷於脾者，可與建中、理中湯。傷於腎者，可與潛陽、真武、封髓等方。傷於肺者，可與薑桂湯、桂苓姜半湯。先天真氣暴出者，可與回陽白通湯。備載數方，略陳大意，添減分兩，在人變通。設或果有血虛陽亢為殃者，其人定有火邪可徵，如六味地黃湯、丹梔四物湯，皆可選用。（［眉批］法潤機圓。）</p>
<p>近來市習，一見目痛，並不察究外內虛實，多用蟲退、木賊、紅花、菊花、決明、歸尾、赤芍、荊芥、防風、薄荷、生地、夜明砂、夏枯草、冬桑葉、穀精草。與夫壯水明目丸、杞菊地黃丸、滋腎養肝丸。如此等方藥，治外感風熱、血虛，每多立效。若七情損傷，由內出外之目疾，鮮能獲效。學者當細心體會內外兩法，切勿混淆，方可售世。</p>

<h3>耳病腫痛</h3>
<p>按耳病腫痛一證，有因肝膽風火而致者，有忿怒抑鬱而致者，有腎陽虛而陰氣上攻者，有腎水衰而火邪上攻者。</p>
<p>因肝膽風火而致者，由肝膽挾外受之風熱，聚而不散，其人兩耳紅腫痛甚，時見寒熱往來、口苦咽乾者是也。法宜和解，小柴胡湯倍柴、芩，加麥芽、香附治之。</p>
<p>因忿怒抑鬱而致者，由忿怒傷肝，抑鬱之氣結而不散，其人兩耳紅腫，必見兩脅脹痛，時多太息，法宜疏肝理氣為主，如生地四物湯倍加柴胡、青皮、麥芽、香附之類。</p>
<p>因腎陽虛而致者，由腎陽日衰，不能鎮納僭上之陰氣，其人兩耳雖腫，皮色如常，即痛亦微，唇舌必淡，人必少神。法宜扶陽祛陰，如封髓丹倍砂仁加安桂、吳萸，或潛陽丹加吳萸，或陽旦湯加香附、麥芽之類。</p>
<p>因腎水虛而邪火上攻者，其人兩耳腫痛，腰必脹，口多渴，心多煩，陽物易挺。法宜滋陰降火，如六味地黃湯加龜板、五味、白芍，或滋腎丸倍知、柏之類。</p>
<p>更有一等內傷日久，元陽久虛，而五臟六腑之元氣，已耗將盡，滿身純陰，先天一點真火種子暴浮於上，欲從兩耳脫出，有現紅腫痛極欲死者，有耳心癢極欲死者，有兼身癢欲死者。其人定見兩尺洪大而空，或六脈大如繩而弦勁。唇舌或青，或黑，或黃，或白，或芒刺滿口，或舌苔燥極，總不思茶水，口必不渴，即渴喜極滾熱飲，二便如常，甚者爪甲青黑，氣喘促，或兼腹痛。此等病情，法宜大劑回陽，不可遲緩，緩則不救。（大凡現以上病情，不獨耳疾當如是治，即周身關竅、百節地面，或瘡或痛，皆宜如是治。）如白通、四逆、回陽等方，急宜進服，以盡人事，勿謂之小疾耳。（［眉批］耳之部，左右皆屬少陽。一見耳病腫痛，用少陽方小柴胡湯治之，似無不效。欽安復指出多般耳證治法，各不相同，辨認均有憑據。如按中或言肝膽風火，或言忿怒抑鬱，或言陽虛陰上，或言水虛火上。豈出六經之外而別具手眼乎？非也。耳本少陽之部，一定不移，而少陽之氣機升降，則隨所感而變見於耳部，其病情決不相類。良以少陽之氣，根於至陰。識得至陰之氣，發為少陽之氣，隨所感而變見，又必有陰陽變證之憑據可察。故治法雖多，或進而從陽，外因外治也，或退而從陰，外因內治也，總是治少陽耳病之一法。蓋得六經之根底，從仲景不言之奧，充類至盡，神明變化而出，可謂善讀古書者矣。學者讀其書，通其意，臨證審察，就其所已言，而更窮其變，將必愈有通於其所未言者，而生出治法，以活人病，快何如之。故欽安小注補出，不獨耳病當如是治云云，是又在學者之善讀欽安者耳。）</p>
<p>近來市習，一見耳腫，不問虛實，不辨外內，即以人參敗毒散，加大力、連翹、銀花、蒲公英，外敷三黃散與藍靛腳之類。果系外感風熱閉塞而成，立見奇功。若系內傷陰陽大虛、元氣外越之候，則為害最烈。</p>
<p>更有耳鳴耳聾，辨認不外陰陽兩法。但耳聾一證，老人居多，由腎陽久虧，真氣不充於上故也，定不易治。若由外感時氣，卒然閉塞清道者，時邪一去，漸漸能聰，不藥可愈。亦有痰火上升為鳴聾，定有痰火情形可徵，按痰火法治之必效。理本無窮，舉其大綱，苟能細心研究，自然一見便識也。</p>

<h3>鼻流清涕</h3>
<p>按鼻流清涕一證，有從外感而致者，有從內傷而致者。</p>
<p>從外感而致者，感受外來之客邪，客於肺經，閉其清道，肺氣不得下降，清涕是出。其人定現發熱、惡風、惡寒、頭疼身痛等情。法宜宣散，如桂枝湯、麻黃湯、葛根湯之類。</p>
<p>從內傷而得者，由心肺之陽不足，不能統攝津液。而清涕出。（市人稱為肺寒，稱為陳寒，由其不知陽衰而陰寒即生也。）腎絡通於肺，腎陽衰而陰寒內生，不能收束津液，而清涕亦出。其人定無外感足徵，多困倦無神，或忿嚏不休，或畏寒，或兩腳冷，法宜扶陽，如麻黃附子細辛湯、薑桂湯、陽旦湯之類。若久病之人，忽然清涕不止，又見壯熱，汗，氣喘唇青，脈勁浮空，乃亡陽欲脫之候，急宜回陽。緩則不救。然亦十中僅救一二。（［眉批］知非氏曰：夫涕，本臟腑所生，皆陰類也。《經》曰：水宗也，積水也。積水者，至陰也；至陰者腎之精也，指涕泣而言。又曰，宗精之水，所以不出者，是精持之也，輔之裹之，故水不行也。指平人不流清涕而言。又曰：涕泣者，腦也。腦者，陰也。髓者，骨之充也。故腦滲為涕。志者，骨之主也。是以水流而涕從之者，其行類也。此指人之所以有涕而言。以外感論，客邪中其經，閉其清道，則陽氣並於上而不降，陰氣並於下而不升。陽並於上則火獨亢也；陰並於下則腳寒，腳寒則脹也。夫一水不勝五火，故鼻流清涕，蓋氣並於鼻，衝風涕下而不止。以內傷論，夫水之精為志，火之精為神，七情所感，神志紛弛，水火不濟，陰精失守，久而津液無所統攝，故清涕亦出。此神之傷，志之奪也。欽安論治，洞達本原，明晰旁流，推及淵濁二證，甚則流紅，皆此物此志也。學者入理深造。譬之射勿矢諸正鵠，醫之正宗在此。）</p>
<p>查近來市習，一見鼻流清涕，不分內外，一味發散，多以參蘇飲、人參敗毒、九味羌活、辛夷散等方，外感則可，內傷則殆。</p>
<p>其中尚有鼻淵、鼻濁二證，俗云：髓之液也。不知髓乃人身立命之物，豈可流出乎。然二證雖有淵（淵者，流清涕，經年累月不止。）濁（濁者，其色如米泔，或如黃豆汁，經年累月不止。）之分，緣由素稟陽虛，（心肺之陽衰，而不收束津液故也。）不能統攝津液，治之又一味宣散，正氣愈耗而涕愈不休。清者，肺寒之徵；（肺陽不足也。）濁者，肺熱之驗。（但肺熱者，必有熱形可徵，如無肺熱可徵，則是上焦化變之機失職，中宮之土氣上升於肺，肺氣大衰，而化變失權，故黃涕作。）治之須有分別。予治此二證，每以西砂一兩，黃柏五錢，炙草四錢，安桂、吳萸各三錢治之，一二劑即止。甚者，加薑、附二三錢，屢屢獲效。即甘草乾薑湯，加桂尖、茯苓亦可。</p>
<p>又尚有鼻血一證，有由火旺而逼出，定有火形可徵，如口渴飲冷、大小便不利之類。法宜清火攻下，如大小承氣、犀角地黃湯、導赤散之類。</p>
<p>有元陽久虛，不能鎮納僭上陰邪，陰血外越，亦鼻血不止。（不僅鼻血一端，如吐血、齒縫血、耳血、毛孔血、便血等。）其人定無火形可徵，二便自利，唇舌淡白，人困無神。法宜扶陽收納，如潛陽、封髓、甘草乾姜或加安桂、吳萸之類。學者切切不可一味見病治病，務要將內外病形、陰陽實據熟悉胸中，方不致誤人性命也。</p>

<h3>鼻孔煽動</h3>
<p>按鼻孔煽動一證，有因外感風寒閉塞而致者，有因胃中積熱而致者，有元氣將絕而致者。</p>
<p>因外邪閉塞而致者，由外感風寒之邪，閉其肺經外出之氣機，氣機欲出而不得出，壅於肺竅，呼吸錯亂，而鼻孔煽動，其人定見發熱身疼。法宜宣散，如荊防敗毒散、麻黃湯、定喘湯，皆可選用。（［眉批］鼻孔而致煽動，其勢亦云亟矣，雖因外感，用藥深皆留神。）</p>
<p>因積熱上攻而致者，或由飲食停滯中脘，或由過食煎炒椒姜，胸中素有蓄熱，熱攻於肺，氣機錯亂，而鼻孔煽動。法宜清熱，如大小承氣、三物備急丸之類。</p>
<p>因元氣欲絕而致者，由其人元氣久虛，或又大吐大瀉，大熱汗出，面白無神，奄奄欲絕，而見鼻孔煽動。法在不治。若欲救之，急宜回陽收納，溫固脾腎元氣，十中可救一二。惟此條證候，小兒居多，大人卻少，醫者切切不可一味宣散，總要細細區分，辨明為準。（［眉批］分陰分陽，醫之要者，故致叮嚀。）</p>

<h3>唇口紅腫</h3>
<p>按唇口紅腫一證，有胃火旺極者，有元陽上浮者。</p>
<p>因胃火旺而致者，其人定見煩渴飲冷，惡熱，或二便不利，或由積滯太重，抑鬱生熱，或過食醇醴辛辣，不盡屬外邪而成。若兼外感，必有外感可徵。挾外感者，可與麻杏石甘湯、升麻葛根湯。無外感者，可與人參白虎、涼膈散、大小承氣之類。積滯者，可與平胃加莪朮、丑牛、大黃之類。</p>
<p>若久病之人，元陽外越，氣機上浮，其人定見滿身純陰實據。其中唇色有紅而含青、含黑、慘紅、老紅、嫩紅等形。亦有兼見面如桃花，面色光澤奪目，人困無神，皆是脫絕危候。法在不治之例。若欲救之，急宜收納為主，如潛陽、回陽、白通、金匱腎氣等方，服一二劑。如紅色光彩收回，可許重生，否則旦夕之間耳。切宜早推，勿治為上。（［眉批］知非氏曰：唇字從辰從口，其氣機從寸地而發至於辰，辰為春三月，於卦為夬，陽氣上勝之象，辰口即其部位也。知其部屬陽，其氣喜泱升，不受陰寒凝滯，故見紅腫之疾，甚則糜爛而痛，決非實證，欽安示人審兼證通其變也。知非從而切其源，謂其獨也。通其變，識其獨，知其生，決其死。醫之法亦基之矣。）</p>
<p>近來粗工，一見唇口紅腫，不辨虛實，即以大黃、石膏等治之，實症立生，虛症立斃，不可不知也。其中尚有兼見流口水不止者，即在口氣冷熱處與病形處求之，便得陰陽之實據也。</p>

<h3>齒牙腫痛</h3>
<p>按齒牙腫痛一證，諸書有十二經之分，其實在可從不可從之例。總之以有餘、不足為主。然有因風火抑鬱而致者，有因胃中積熱而致者，有真陽虛而陰氣上攻者，有元陰虛而元陽為害者。</p>
<p>因風火抑鬱而致者，先有發熱、身痛可徵。法宜宣散，如升陰散火湯、消風散、清胃散、麻杏湯之類。</p>
<p>因積熱上攻而致者，定多飽悶吞酸，口渴飲冷，面赤唇紅，氣粗蒸手。法宜去其積滯為主，如平胃散加大黃、石膏、丑牛、檳榔之類。</p>
<p>因真陽虛而陰氣上攻者，其人齒牙雖痛，面色必青白無神，舌多青滑黑潤、黃潤、白黃而潤，津液滿口，不思茶水，口中上下肉色多滯青色而不紅活，或白慘黃而無紅色。（以上等情，不僅此症，一切陽虛病多見此情。）法宜扶陽抑陰，如白通湯、薑桂飲、陽八味、潛陽丹之類。</p>
<p>因陰虛而火邪為病者，其人定多心煩飲冷、便赤等情。法宜養陰，如六味地黃湯、雞子黃連湯、導赤散之類。</p>
<p>近來市習，一見牙腫齒疼，便以生地、細辛、防風、荊芥、石斛、知母、石膏、玄參、丹皮、狗地牙等治之。風火則可，陽虛則殆。（［眉批］齒牙腫痛，本屬小證，然有經年累月而不愈者，平時若不究明陰陽虛實，治之未能就痊，未免貽笑大方，學者勿因其小而失之。）</p>

<h3>口臭</h3>
<p>（附口苦、口酸、口辛、口甘、口淡、口糜）</p>
<p>按口臭一證，有胃火旺極而致者，有陰盛而真精之氣發泄者。</p>
<p>因胃火旺而致者，其人必煩躁惡熱，飲冷不休，或舌苔芒刺，干黃、乾黑、乾白等色，氣粗汗出，聲音響亮，二便不利。法宜專清胃火，如人參白虎、大小承氣、三黃石膏湯之類。</p>
<p>因精氣發泄而致者，由其人五臟六腑元陽已耗將盡，滿身純陰，逼出先天立命一點精氣，勢已離根欲脫，法在不救。口雖極臭，無一毫火象可憑，舌色雖黃，定多滑潤，間有干黃、乾黑，無一分津液於上，而人並不思茶水，困倦無神，二便自利，其人安靜，間有渴者，只是喜飲極熱沸湯。以上等形，俱屬純陰。若憑口臭一端，而即謂之火，鮮不為害。予曾治過數人，雖見口臭，而卻純陰畢露，即以大劑白通、四逆、回陽等方治之。一二劑後，口臭全無，精神漸增，便可許其可愈。若二三劑後，並不見減，十中僅救得一二。仍宜此法重用多服，此是病重藥輕，不勝其任也。昧者只圖速效，服一二劑未見大效，便即更醫，如此之情，舉世皆然，豈真醫藥之不良哉。（［眉批］知非氏曰：氣之香薰者，清陽之氣也；氣之臭惡者，濁陰之氣也。口臭緣濁陰極盛，陽氣之用不宜，多有涎垢濁膩。譬如暑天，陰雨過甚，天陽被郁，凡物發黴起涎，其氣臭惡；若得數日炎熱，臭氣頓失。人身遍體純陰，所以真陽厥脫之候，往往現此證象。醫識此理，便能治此證。欽安窺見其微，故按中反復徵引言之，學者不可忽略看過。</p>
<p>查近市習，一見口臭，並不辨明陰陽，便以生地、二冬、知母、花粉、石膏、大黃之品投之，陽盛則生，陰盛則斃，不可不知也。</p>
<p>其中尚有口苦者，心膽有熱也。心熱者，可與導赤散、黃連湯。膽熱者，可與小柴胡湯倍黃芩，或瀉肝湯。口酸者，肝有熱也，可與當歸蘆薈散、龍膽瀉肝湯。口辛者，肺有熱也，可與瀉白散、清肺飲。口甘者，脾氣發泄也，可與理中湯、六君子湯。口淡者，脾氣不足也，可與歸脾湯、參苓白朮散。口糜者，滿口生百瘡，系胃火旺也，可與甘露飲、涼膈散。以上數證，皆宜知之。總在考究陰陽實據為要。予嘗治陽虛陰盛之人，投以辛甘化陽二三劑，即有現口苦、口酸、口淡、口辛、口甘等味，又服二三劑，而此等病形即無。予仔細推究，皆緣真陽失職，運轉力乖，兼之服藥停積未去，令得辛甘化陽之品，運轉復行，積滯即去，故口中一切氣味出矣。（［眉批］真陽變動，露出真面，辛甘助化，易危為安，藥之為力不淺，然此等至理，少有見到者。）昧者不識此理，見酸即治酸，見苦即治苦，鮮不增病。醫理之微，不誠難哉。</p>

<h3>舌腫、舌痛、重舌、舌強、舌麻、舌木、舌縮</h3>
<p>按舌證雖有數端，不外陰陽兩法。如腫痛與重者，氣之有餘也。氣有餘，便是火，必有火形可徵。如縮與強、麻木者，氣之不足也，氣不足，便是寒，定有陰寒情形可驗。治腫痛與重，不外清熱一法，如黃連解毒湯、導赤散、大小承氣、黃連瀉心湯之類。治縮與麻木、強，不外扶陽祛陰、化痰降逆一法，如白通湯、薑桂飲、黃耆建中湯、麻黃附子細辛湯、半夏乾薑湯之類。（［眉批］化痰何以不用橘皮、南星、礞石，須知仲景六經方中無此品類，或者漢時尚未出此藥耶一噱。）</p>
<p>近來市習，一見舌痛，皆云舌乃心之苗，皆火為病也，即以冰硼散吹之，黃連解毒服之。有餘立瘳，不足則殆。（［眉批］知非氏曰：舌之所以能言者，氣機之貫注也。何必執定乃心苗一語，以治舌證。欽安不言之隱，知非饒舌點出，學者當亦豁然矣。）</p>

<h3>喉蛾</h3>
<p>按喉蛾一證，有少陰君火為病者，有腎氣為病者，有胃中積熱上攻而致者，有怒動肝火上攻而致者。</p>
<p>因少陰君火為病者，或由外挾風熱，與君火協化，或本經素有邪，發泄不暢，上刑于肺。少陰之脈挾咽喉，咽喉窄狹，火氣太甚，欲發泄而不能，薰蒸於上，而生蛾子。其人定多心煩、小便短赤、口渴飲冷。若挾風熱，多現發熱，身疼，頭痛。法當祛風清熱，如導赤散加荊、防、銀花之類。</p>
<p>無風熱而獨君火旺為病者，輕則甘桔湯，重則黃連解毒湯之類。</p>
<p>因腎氣不藏，上攻於喉而致者，（俗云：陰虛火旺，不知腎氣以潛藏為順，上行為逆，實由君火太弱，不能鎮納群陰。非陰之虛，實陰之盛，世人錯認。）原由君火弱而不能制陰，陰氣上僭，逆於咽喉而生蛾子。其人口內肉色必含青黑色，或慘黃淡白色，即或唇紅甚，而口氣溫，痛亦不甚，人困無神，脈必浮空。法宜扶陽，如封髓丹、薑桂飲、白通、潛陽等方，皆可令服。</p>
<p>因積熱上攻而致者，其人必過食厚味，或胃中素有伏熱，上攻於肺，亦生蛾子。多煩渴飲冷，二便不利，口臭氣粗，紅腫痛甚。法宜去積熱，如大小承氣湯，或平胃散加丑牛、檳榔、大黃、三稜、莪朮之類。</p>
<p>因怒動肝火，上攻於肺而生蛾子。其人兩脅必痛，動輒躁煩，面青口苦，脈必弦洪。法宜清肝，如丹梔逍遙散、大青飲、柴胡湯加丹梔之類。</p>
<p>總之，病情變化，非一二端能盡，其實萬變萬化，不越陰陽兩法。（［眉批］圓通一至。）若欲逐經、逐臟、逐腑論之，旨多反晦，誠不若少之為愈也。（［眉批］知非氏曰：喉至生蛾，其咽必腫痛而甚，有礙食飲，病家多驚恐，其證又因初起誤治者多。在明醫雖能剖析陰陽虛實，按經用藥，而緩不濟急，病家恐惴，如外科所配八寶紅靈丹，亦不妨暫用吹喉，以解燃眉，略寬其心。病人得此，心神稍定，然後按法投方，易於奏效。此知非所經試，亦濟世之婆心也。學者留意。至於理法，喉屬少陰，欽安究及所因，實為詳明，何多求焉。）</p>
<p>近來市習，一見喉症，往往用吹喉散、冰硼散、開喉劍，一派寒涼之品，甚者刺之。陽證無妨，陰證有礙。認證貴明，須當仔細。</p>

<h3>兩手膀背痛</h3>
<p>按膀背痛一證，有因外感風寒，閉塞經絡而作者；有因中氣不足，內寒阻滯而作者。</p>
<p>因外感風寒而致者，其人定多畏寒惡風，或發熱而兼頭疼。法宜宣散，如桂枝湯、羌活附子湯、麻黃附子細辛湯之類。</p>
<p>因中氣不足而致者，由中宮素虛，真氣不能充周四體，寒邪痰濕，亦得以阻滯經絡，而痛立作矣。其人定然面白少神，飲食減少，或逢晦明陰雨而更甚，麗照當空而覺輕。法宜溫中行氣為主，如建中湯倍桂、附，補中益氣湯加羌、附，或理中湯加桂枝、香附。予恆見中年老婦，每多兩手膀痛而不能舉，時常作苦。究其受病之由，多起於少年天癸至時，不知保養，洗衣漿裳，輒用冷水，以致寒涼傷及經絡，因而天癸不行者亦多。即或體強，而寒涼不能害，視為平常，不知人身真氣有盛即有衰，氣未衰時，寒涼雖侵，不即為害，迨至中年老時，本身正氣已衰，或兼受一點寒邪引動，而痛於斯作矣。予每以甘草乾薑湯加鹿茸、桂尖、附子、蔥、酒治之多效。（［眉批］夫人少年作苦，恃勇力作，迨至中晚之歲，稍能逸豫，勞傷之疾徐發於內，痛苦立作，見於手膀腳腿者多。粗工不識　，任治罔效，往往病人自能體會。何者今之痛處，皆昔之勞力處也。欽安此按，識見絕高，深合《內經》比類從容之法，非功力精到者，未易臻此，又醫之一大法也，學者不可不知。）</p>
<p>近來市習，一見兩手膀痛，每以五積散、流氣飲，與夫羌活、荊、防、伸筋、舒筋草、蘇木、靈仙、松節之類，亦多獲效。總不若辨明外感內傷、陰陽虛實為要。</p>
<p>更有手指麻木一證，屬脾氣不能充周者多，外感者少，兼痰濕亦多。不外溫中行氣為主，如歸脾湯加天麻、半夏，六君、四君加附、桂、香、砂，建中湯倍桂、附加香附、當歸之類。</p>

<h3>心痛</h3>
<p>按心痛一證，有寒熱之別。他書有云：心為君主之官，其可痛乎？所云痛者，實心包也。此說近是。予謂心肝脾肺腎並六腑周身經絡骨節皮膚，有形之軀殼，皆後天體質，全賴先天無形之真氣以養之。（真氣二字，指真陰真陽也。真陰指母之精氣，真陽指父之精氣。二氣渾為一氣，周流上下四旁，主宰神明即寓於中。）真氣不足，無論在於何部，便生疾病，何得有心無痛證之說。夫豈不見天之日月，常有食乎。凡認心痛一證，必先判明界限方可。心居膈膜之上，下一寸即胃口，胃口離心不遠，胃痛而云心痛者亦多，不可不察。細思痛證一條，痛字總是一個逆字。（氣順則氣血流通，必無痛證；氣逆則氣血壅滯不通，故痛。）無論逆在何處，皆能作痛，皆能傷心，其實非傷有形質之心，實傷無形中所具之真宰也。若執定有形質之心，是知其末也。心有心之界限，包絡為心之外垣，邪犯心包，即是犯心章本，不必直云邪不犯心。（犯心二字，是犯心君居處氣也。）試問：犯心與犯心包，以何區分？諸書並未剴切指陳。予謂人活一口氣，氣盛則為有餘，為熱邪；（不獨能致心痛。）氣衰則為不足，為陰邪。（亦不獨能致心痛之疾。）熱與陰上逆，皆能致心痛，當以寒熱兩字判之便了。若邪熱上干而痛者，其人必面赤，心煩熱，小便短赤，口渴飲冷。法宜養陰清火，如黃連木香湯、導赤散、當歸散之類。若陰寒上干而痛者，其人多面青唇白，或舌青黑，喜熱飲、揉按，二便自利。法宜扶陽祛陰為主，如甘草乾薑湯，加行氣藥薑、桂、吳萸之類。亦有陰寒已極，上攻於心，鼻如煤煙，唇口黧黑，爪甲青黑，滿身純陰。法在不救，急以回陽諸方，大劑投之，十中可救一二。（［眉批］知非氏曰：此段至理，乃造化根柢，性命之旨圭。奈何泄之於醫，世人不識，反多訾議。余觀一部《內經》，軒岐君臣皆是借天驗人，以人合天，天人各道。仲景太守《傷寒》一書，太陽太陰、少陽少陰、陽明厥陰六經，亦不過借天道之流行，暗合人身之度數，藉病談機而已。欽安直筆於茲，毋乃太過乎？雖然醫道理沒久矣，如此發揮，守先聖之道，以待後之學者心存利濟，亦不為罪。倘有能從此深造，治病動合機宜，立言彰，闡至理，將不失為軒岐功臣，斯世和緩，幸甚全甚。）</p>
<p>近來市習，心胃莫分，一味行氣破滯，並不察究陰陽，往往誤事，一概委之天命，而人事之當盡，又不可廢乎。</p>

<h3>胃痛</h3>
<p>按胃痛一證，有飲食、寒熱、虛實之別，切不可執定有形質之胃，當於胃中往來之氣機上理會方可。（［眉批］於氣機上理會，上乘妙法，《蓮華經》也。夫人身內有胃，乃受飲食之具，譬如田地任人播種，秀實憑天。倘遇災侵，而有黃落之恐，田地肯任其咎乎？古人擬胃曰陽土。欽安論治胃病，當理會氣機，皆一定不易之理法也。學者即不能入理深譚，按定外內陰陽之法，總不至謬治誤人。）</p>
<p>因飲食停滯於胃，胃中之氣機不暢而致者，其人定見飽悶吞酸噯氣，痛處手不可近。法宜消食行滯，如厚朴七物湯、平胃散加香附、麥芽之類。</p>
<p>因胃陽不足，復感外寒生冷食物，中寒頓起而致者，其人必喜揉按，喜熱飲，或口吐清水，面白唇青。法宜溫中行氣，如香砂六君湯、理中湯加官桂、砂仁、香附、木香之類。</p>
<p>因積濕生熱，與腸胃素有伏熱、過食厚味而生熱、氣鬱不舒而生熱所致者，其人定多煩躁，唇紅氣粗，大便堅實等情。法宜下奪，清熱為主，如調胃承氣湯、大黃木香湯、四磨湯之類。</p>
<p>更有一等，心胃腹痛，面赤如朱，欲重物壓定稍安者，此是陰盛逼陽於外之候。法宜扶陽祛陰為急，切不可照常法治之。</p>
<p>近來市習，多以元胡、乳、沒、二皮、朮、稜、五香、枳殼、厚朴之味投之。果有積滯，主立奇功；若胃腸素虧，必增其害，不可不知也。</p>

<h3>臍痛</h3>
<p>按臍痛一證，有陰陽之別。臍居陰陽交界之區，臍上屬脾胃，臍下屬肝腎。痛在臍上，著重脾胃；痛在臍下，著重肝腎；臍上下俱痛者，脾胃與肝腎病也。（此處又宜分別何經受病為要。）若臍上獨痛，是脾胃之氣有所滯也。（因寒、因熱、因食、因仰郁又宜知。）審是飽悶吞酸，便知飲食停而氣滯也。急以消食行滯之品施之，如平胃散加香附、麥芽、枳殼之類治之。</p>
<p>審是喜熱飲，揉按而痛即減者，知是脾胃之陽不足，不能化其陰寒之邪也。法宜溫中，如理中湯、香砂六君、甘草乾薑湯加香附、安桂、丁香之類。</p>
<p>審是不喜熱飲摩按，得熱而反劇者，知是脾胃有鬱熱而氣滯也，即以開鬱行滯之法治之，如厚朴七物湯，麥芽、炒梔、香附之類是也。</p>
<p>亦有太陽之邪未解，誤下而邪陷於脾，以致臍上痛者，其人必先有發熱惡寒、頭項強痛之候，因下後方見此痛者，便以桂枝大黃湯治之。</p>
<p>若臍下獨痛，是厥陰之氣不宣也。審是煩滿囊縮，臍下病痛者，厥陰之陰寒太甚也。法宜回陽祛陰，如吳萸四逆湯、白通湯之類是也。審是厥陰熱邪伏而不宣，又或上攻為喉痹，下攻便膿血，熱深厥深，口臭氣粗之類。法宜扶陰，如雞子黃連湯之類。（［眉批］知非氏曰：三陰之病，本從肚臍而分，然痛在臍上，有太陽、陽明之不同。一腑一臟之懸絕，故欽安以飽悶吞酸，定陽明腑病，而用行消之法。若稍上，又是太陽地，而有風寒之判，皆有痛證，且有氣血之區別。學者平時若不詳細講究，臨證必多疑似，處方不無模稜，斷難萬舉萬當。熟玩此按，悉心討論，自得真詮。）</p>
<p>近來市習，一見臍痛，不按界限，一味調氣行血，每以木香、　小茴、當歸、白芍、川芎、枳殼、沉香之類，故有效與不效，誠不若辨明上下陰陽，治之為當也。</p>

<h3>疝證</h3>
<p>按疝證一條，有云左為膀胱氣，右為疝氣，痛時睪丸上行入腹，或右丸上行而左丸不上行，或左丸上行而右丸不上行，或兩丸並上行。他書有寒疝、水疝、血疝、氣疝、狐疝、陰疝、㿗疝、心疝、肝疝之異，名目雖多，總無一定不易之理。予細推此病，究竟只在厥陰一經也。（［眉批］此按落落大方，深入顯出，不愧為醫。一語成鐵案，誰敢再翻異。余深服老吏。）雖形象、病情不同，而睪丸與陰囊，其理斷無可移者。予意睪丸與陰囊上縮，必是陰盛；睪丸與陰囊紅腫，必是熱增。治縮者，重在破陰以回陽，吳萸四逆加桂、砂、小茴，或烏梅丸倍陽藥之類；治腫者，法宜破陽以扶陰，雞子黃連與瀉肝湯可施。須知腫縮二字，即盈虛之宗旨。肝氣有餘便是火，即囊丸腫的實據；肝氣不足便是寒，即囊丸縮的實據。（［眉批］醒豁透露。）</p>
<p>又可疑者，今人皆云：兩丸為外腎，何男子有而女子無乎！此理舉世罕言明晰。予思天一生水，其卦為坎，二陰夾一陽，腰間二腎與背脊督脈似之。男女皆具，理實可從。若此二丸，男有女無，非無一定之理，惜後賢窺之未及也。後天既以坎離立極，坎離即是乾坤，是坎離已得一二之數，故復申之曰：天三生木，木有陰木、陽木之別，陽木曰三，為長男，二陰一陽，今之呼外腎者，即此也，故男子獨具；陰木曰三，為長女，二陽一陰，其缺在下，今之呼陰戶者，此也。（［眉批］闡發至理，暢所欲言，然似斷鰲立極，卻是叫人何處住腳。余謂醫道，須是知得一步，方許再進一步，終身門外，正不知幾許人也。）</p>
<p>夫乾坤交媾，首生長男長女，後天以坎離代乾坤，而天三生木之旨，即在此處便見，而玉莖、陰戶，亦於此攸分。故仲景配此處屬厥陰，取其至陰陰極也。玉莖之舉，必須心火下照，又可見天三生木之機，此就其形體而言，其中之精義實微，未可盡泄。堪笑今人以外腎呼之。真是說夢話也。（［眉批］再接再勵，乃一讀一擊節，以高唱入雲之筆，繪天地生髮之機，斟酌飽滿，盡態極妍，可謂寫生妙手。發揮陰得陽而興之理，尤見精緻。然非學養功深，不能道其隻字。）</p>
<p>查近來市方，一見疝證，便以小茴、荔枝核、橘核、安桂、附子、麝香之類，屢屢獲效，究其所用，皆是溫肝之品。取核者時，核以入核之意，理實可從。至於囊丸紅腫，此法斷不可施，務在陰陽攸分處理會可也。（［眉批］結亦含耆不盡。《唐詩》曰：欲窮千里目，更上一層樓。如熊氏歌曰：要知返本還原法，須認吾身大藥王。）</p>

<h3>遺精</h3>
<p>按遺精一證，諸書分別有夢而遺，無夢而遺，用心過度而遺，見色而遺，聞女聲而遺，無故自遺，種種分別，總無一定不易之法。予謂不必細分，統以心腎不交、神魂不藏為主。夫人之立身，原以心腎為主，腎氣上騰，（指坎氣也。）載水氣以交於心，而心臟涼。心氣下降，使君火以入腎，而腎臟溫。神居二氣中，晝則從離，夜則從坎。神宰乎氣，氣統乎精。神施發泄之令，氣動而精自不藏。若云神未施，而精自泄，必無此理。又曰：魂者，神之使也。（［眉批］知非氏曰：此按心腎不交，是客從俗情也；神魂不藏，是主談至理也。凡遇遺精之人，以心腎不交，或因於濕熱極不通之語，告之無不者，肯語以欲熾所致，即弗帖然，又必從而多方文致，故欽安姑存其說，以作陪襯，留病人地步，學者不可不知。）人之遺精，每每五更近天明時者居多，此刻神已居在寅卯界內。寅卯屬木，系藏魂之所，魂喜動，而木喜發泄，木中有火，濁火易亂其神明，邪忘之念偶萌，精神自不能守住，（白晝不夢，但心邪思淫，陽物即舉，精即離位，況在夢乎）！故一發即泄，迅速難留。（因其目瞑必未清，肝火最烈，故發速，非若白晝神在離。）總而言之，神不清而氣虛好色者，十居其八。（此證少年最多。）神魂不藏，是其本者。（［眉批］得時而旺，虛靈顯應，濁火一入，喪卻他家至重珍，深為可惜。《陰符經》云：沉木入火，自取滅亡。蓋言木得火而焚也。此段此理說待如吳鉤出匣，寒光逼人。病者若見此書，熟讀百回，可當百帖清涼飲，定占勿藥有喜。）欲使封固，如三才封髓丹、桂枝龍骨牡蠣湯、白通湯，皆可服也。此三方者，皆是交濟陰陽之功，但非一二劑可見大功，總要信心得專，多服十餘劑，無不靈應。</p>
<p>近來，通稱龍、牡澀精，尚未窺透其中至妙，多以金櫻、粟殼、枸杞、巴戟、蓮鬚之類治之，每多不效，由其不知封固之有要也。</p>

<h1>卷二</h1>

<h2>大便不利</h2>
<p>按大便不利一證，有陽虛、陰虛、陽明胃實、肺移燥熱之別。</p>
<p>因陽虛者，由下焦火衰，不能化下焦之陰，陰主靜而不動，真氣不能施其運行之力，故大便不利。其人定見無神，面目唇口青黑色，滿口津液，不思茶水，雖十餘日不便，而並無腹脹、煩躁不安等情。即有渴者，定喜熱湯，冷物全然不受，他書稱為陰結寒閉者，即此也。法宜扶陽，如回陽飲加安桂、砂仁，白通湯，附子甘草湯之類。</p>
<p>因陰虛者，由火旺傷血，血液枯槁，腸中之糟粕乾澀不行，如船舟之無水而停滯不動也。其人定多煩躁，聲音響亮，渴欲飲冷，吐痰干黃，脈或洪大細數。他書稱為熱結陽秘者，即此也。法宜養血清熱，如潤燥湯、麻仁丸、養血湯加麥芽、香附、蜂蜜之類。</p>
<p>因陽陰胃實者，由外邪入胃，從胃熱而化為熱邪，熱甚則胃中津液立亡，故不利。其人定見惡熱、口臭、身輕、氣粗飲冷，與夫狂妄譫語、痞滿實燥堅等情。法宜急下以存陰，如大小承氣湯之類。</p>
<p>因肺移燥者，由燥邪乘肺，肺與大腸為表裡，表分受邪，漸及里分，其勢自然。其人定多煩渴、皮膚不澤、大便脹甚、欲下不下。法宜清燥為主，如甘桔二冬湯、益元散之類。</p>
<p>以上治法，不拘男婦老幼，皆宜如此。故曰：有是病，宜是藥，切勿惑於老幼、附子、大黃之說也。（［眉批］知非氏曰：細推大腸主糟粕，原自胃中傳入，其勢頗順。《經》曰：胃實則腸虛，腸實則胃虛。指糟粕出入而言。其所以運化糟粕，則在元氣，元氣出入升降，運化精微。今病人大便不利，仍是氣機不利，總貴在病機病情上求之。學者須要先明理法，然後臨證審察的確，或回陽，　或清熱，或急下　，方有膽量把握。不然誤下誤清，雖不遭謗，倘用回陽，豈不惑己惑人？欽安指點親切，當細心講究，亦不可恃有此按，不揣病源，致臨機而仍蹈徒法，不能以自行之弊也。）</p>
<p>近來市習，一見大便不利，多用大黃與滋陰潤腸之香油、蜂蜜、麻仁、郁李、歸、芍之類，並不問及陰陽，受害實多，而人不察，良可悲也。</p>

<h2>小便不利</h2>
<p>按小便不利一證，有陽虛、陰虛、心移熱於小腸，與太陽腑證中之蓄尿、蓄熱、蓄血、癃閉諸證。</p>
<p>因陽虛而致者，由下焦陽微，陰寒阻截膀胱之路，陽微無力，不能化之，故小便不利。其人定無力無神，兩尺必浮空，或極勁，口並不渴，即有渴者，必喜熱湯。法宜扶下焦之陽，如桂苓朮甘湯倍桂加白蔻、砂仁，或桂棗丸加胡椒、丁香之類。</p>
<p>因陰虛而致者，由下焦血液不足，邪熱遂生，（須知焦思則生心火，忿怒生肝火，思淫動相火，火動於中，不獨此疾，皆是由一念而生，其旨甚微，切不可概謂由外而生。）熱結於尿隧，閉其水道流行之機，故不利。其人多煩躁，口渴飲冷，小便或能滴幾點，或短赤而熱痛。法宜扶下焦之陰，如四苓滑石阿膠湯、益元散之類。</p>
<p>因心移熱而致者，由心火太旺，或焦思太甚，而生心火。心與小腸為表裡，心熱甚而小腸受之，熱伏小腸，傷及血液，流行失職，而小便遂不利也。其人病情多與陰虛法同。法宜清心，如黃連解毒湯加滑石、木通，或導赤散倍生地之類。至於太陽腑證中之蓄尿、蓄熱、蓄血、癃閉等證，已詳《醫理真傳》，茲不具載。（［眉批］知非氏曰：前證言胃傳糟粕於二腸，得元氣運化而出，膀胱主溺，與二腸無涉。知非細推其原，在胃陽明為海，生精生血，化氣行水之宗。且脾為胃行津液，脾能行水，由水道達於膀胱，膀胱有下口而無上口，須氣化滲泌而出。今病人小便不利，明是二土失職，中宮少運。《經》曰：陽明主闔。又曰：脾胃同處中州。又可見脾不為胃行津液，故水道不利。如此溯本窮源，陽虛陰虛，一切移熱、蓄熱、蓄尿、蓄血、癃閉諸證，有由來矣。再觀仲景五苓散方中用桂枝、白朮通陽和脾，義極精微，大具神通手眼。欽安按中執定陰陽實據，加以溫中行氣治之，必無不效也。）</p>
<p>近來市習，一見小便不利，便以木通、車前、滑石、黃連等治之，陽實易瘳，陽虛則殆，不可不知也。</p>

<h2>淋證</h2>
<p>按淋證一條，諸書載有勞淋、砂淋、血淋、氣淋、石淋之別，是因病情而立名者也。予欲求其一定之要，諸書俱未明晰，再三追索，統以陽不化陰、抑鬱生熱為主。大凡病淋之人，少年居多，由其泄欲已開，專思淫邪。或目之所見，耳之所聽，心之所思，皆能搖動陰精，邪念一萌，精即離位，遂不復還，停滯精道，不能發泄，久久抑鬱生熱，熬干陰精，結成砂石，種種病形。當小便便時，氣機下降，敗精之結於經隧者，皆欲下趨。然尿竅與精竅，相隔一紙，精竅與尿竅異位同源。（同從玉莖而出。）尿竅易開，精竅不易啟。不知好色之人，元陽日耗，封鎖不固，當君火下照，尿竅已開，精竅亦啟，尿欲速出，而精竅又開，兩竅相啟，彼此牽強，欲行不行，而痛故愈甚也。此二竅原不並開，此證全是並開之故，兩相欲下，停精之結與未結、化與未化者，皆欲下趨也。精停而結者，有砂石之形，鬱熱熬而成之也。好色過度，精未化者，血淋之源也。治砂石，貴以清熱為先，而化氣之品亦不可少。治血淋，須以扶陽為重，交通上下，而固元尤當。知此病皆由自取，當其痛如刀割，雖云可憐，未始非好色之果報也。古方每以八陣、五淋散，功專清熱，亦多獲效。予意此證當於清熱利水中，兼以化精、化氣之品，鼓其元陽，俾二竅不同時並開為主。予治此證，嘗以滋腎丸倍桂，多效。又嘗以白通湯，專交心腎，亦多效。又嘗以大劑回陽飲加細辛、吳萸、安桂多效。是取其下焦有陽，而開闔有節，不至兩相併啟也。但服回陽等方，初次小便雖痛甚，而尿來覺快者，氣機將暢，而病當解也。此道最微，理實無窮，學者須當細心求之，勿執予法為一定，恐未必盡善。（［眉批］虛心人語，又是婆心人語。）而辨認，總以陰陽兩字，有神無神，兩尺浮大，有力無力為準。（［眉批］淋之一證，責在精道。予嘗詢之少年之人，其精中往往有子，早已廉得其情，百不失一，委是縱欲所致。譬如月缺難圓，金針暗失，人生不免殊為恨事。迨至病成痛作，尤徵過縱，謂曰自取果報夫。夫也其何說之辭。治法扶陽抑陰，如其人神不大衰，加清上焦之邪火，佐以行氣，並囑其清心節欲，自無不愈也。欽安抉破其情，論辨精詳，自是方家舉止，且為腦後痛下針砭，喚醒夢夢，以規戒為治法，的是妙人，卻與知非同為快人也，呵呵！）</p>

<h2>膝腫痛</h2>
<p>按膝腫痛一證，有由外感寒濕之邪閉塞關節者，有陽虛者，有陰虛者。</p>
<p>因外感寒濕而致者，或貪涼而足履冷水，或偶受寒邪，而經絡閉塞，漸至兩膝腫痛。（諸書有歷節風、鶴膝風之說。）由其寒濕之邪，從外而入，閉其運行之機，膝處多空虛之地，最易藏邪，氣道壅滯，水濕漸臻，抑鬱生熱，而成膝腫疼痛之疾。法宜發汗行水為主，如小青龍湯，或麻黃湯加茯苓、澤瀉之類。</p>
<p>因陽虛者，由其素秉不足，陰邪寒濕叢生，流入下焦關節屈伸之處，或胃陽不足，過於飲酒，酒濕之邪，流入關節，阻滯不行，而膝腫痛，但其證多皮色如常，漫腫微痛，實屬陽微不能化陰。法宜溫固脾腎之陽，如回陽飲加桂、苓、益智、故紙、茴香、砂仁之類。多服自愈，切不可性急而信心不堅。</p>
<p>因陰虛者，由其素秉陽旺，過食醇酒厚味，濕熱毒邪流入下焦關節處，運行不暢，遏鬱而紅腫便生。法宜養陰清熱，兼理氣除濕為主，如黃連阿膠湯加苓、術，補血湯加秦艽、羌活、桑根、香附、麥芽之類。此數法不過明其陰陽大致，究竟認證，全在活法，神而明之。（［眉批］知非氏曰：細玩易象，震仰孟，二陰上，一陽下，孔子取為足能走。夫陽動陰靜，動而在下者，足也。震，動也，氣之動於下者也。今膝腫痛，或腳氣注痛，必不便於行，而陽先病矣。所以然者，不外內外二因。醫先識此，知寒邪中於爾，則動於下之氣機不利，而有腫痛流注之證，乃於逐邪之中，審其陽氣之衰盛，而多方照顧，預培其生機，毋使邪氣克正，致勢滔天，不可向邇，矧可撲滅。滔火者，犯心之謂也。陽微不能化陰之謂也。欽安諄諄於溫固回陽，兼補發汗行水、除濕散結諸法者，通其源，正市習之訛者。節其流，學者洞晰源流，治膝腳之證無餘蘊，壽世活人，大為快事。</p>

<h2>腳氣</h2>
<p>按腳氣一證，有由下而上衝作痛者，有隻在下作痛者，有大病後，至午後腳底即發熱作腫作痛，皮色如常，至天明即愈者，有天陰甚而痛反劇者。以上數證，悉屬陽虛不能鎮納陰邪，陰氣上騰，乃為大逆，犯心能令人死。法宜回陽收納為要，如回陽飲加砂仁、故紙、益智、碎補，與白通湯之類。若只在下而作腫痛，挾濕亦多，加除濕必效。如或紅腫痛甚，心煩口渴，小便短赤，乃濕熱結聚下焦也。法宜除濕，濕去而熱自消，如五苓散、雞鳴散之類。更有紅腫痛極欲死，氣喘唇青，小便清長者，乃是元氣發外，從腳而脫也。法宜大劑回陽為要，切不可按尋常腳證治之。</p>
<p>近來市習，一見腳腫腳氣發騰，不察虛實，每以蒼朮、苡仁、秦艽、防己、木瓜、茯苓、桂枝、松節等藥治之，濕邪易瘳，陽虛則殆。</p>

<h2>喘證</h2>
<p>按喘促一證，有外感風寒而致者，有太陽證誤下而致者，有胃火上攻而致者，有濕痰水飲閉塞而致者，有元氣欲脫而致者。</p>
<p>因風寒而致者，由風寒之邪，閉塞肺氣，肺氣發泄不暢，上壅而喘，必有發熱、頭痛、身疼一段為據。（如發熱而無頭疼、身疼，或見口唇青、脈勁之喘，必是元氣外越，不得即以外感風寒閉塞目之，辨認留意切不可少。）法宜宣散，如麻黃湯、定喘湯、小青龍湯之類。</p>
<p>因太陽誤下而致，由太陽之邪未解，既已壅塞發泄不暢，仍宣大啟其腠理，俾邪早出。醫者不明其理，見其大燒，以為火旺，妄行攻下，客邪下陷，愈不得出，壅於胸膈，呼吸錯亂，而喘證立生。法宜仍舉其所陷之邪，如桂枝湯去芍藥倍桂，或重加甘葛以舉之類。俾欲出者，仍從外出，以解透為妙也。</p>
<p>因胃火上攻而致者，由胃中素有伏熱，或與外來之熱邪協，或胃中有停滯生熱，熱甚則邪火上攻，熱逼於肺，氣無所主，呼吸錯亂，而喘證立生，必有大渴飲冷、口臭氣粗、二便不利等情。法宜攻下，如大小承氣湯、白虎湯之類。</p>
<p>因痰濕水飲而致者，由太陽之氣化偶乖，中宮之轉輸失職，水濕停滯不行，久久中氣日衰，痰水日盛，漸漸上干清道，壅塞太甚，呼吸錯亂，而喘證立生。其人定見食少痰多，清水上湧，喉中不利。法宜溫中除濕，如桂苓朮甘湯、理中加砂、半、茯苓之類。</p>
<p>因元陽將脫而喘者，由其人陽衰陰盛已極，逼陽於外，陽氣不得下趨潛藏，陰陽兩不相接，呼吸錯亂，而喘促立生。必現面白唇青，口舌黧黑，人無生氣，全是一團純陰。此刻有大燒、汗出之可畏。法宜回陽收納，如吳萸四逆湯加丁香、胡椒、砂仁之類。尚可十中救一二。（［眉批］知非氏曰：孟子云，今夫蹶者趨者，是氣也。又曰：夫志，氣之帥也。又曰：持其志，勿暴其氣，此理可通乎治喘？彼趨與蹶，皆令人氣喘，以其升降紆徐之機，為作勞所迫促，然一經靜鎮而即平。今氣之喘，不由作勞而亦迫促不舒，且非靜而能鎮，是孰使之然哉？誠有如欽安所論五因，各因皆有辨認陰陽虛實之憑據，可謂詳矣。惟元陽將脫之喘，用回陽收納之法，未免駭人。殊不知志為氣帥，持其志，勿暴其氣，正合用姜附之機宜。神機化滅，升降將息，火用不宣，水體不動，惟有用薑、附以養帥，帥如能振，氣即隨之而號令，庶幾中與，可冀此煉石補天之技，出人頭地之醫。學者視薑、附為熱藥，斯得之矣。迨至病人燒退身安，薑、附又能退熱。夫熱屬火，薑、附退熱為瀉火，學者視薑、附為涼藥，則更妙矣。呵呵。）</p>
<p>凡治喘證，切不可猛浪，先將陰陽情形審明，然後施治，切不可一味治喘，妄以蘇子降氣湯、麻黃定喘湯投之。風寒可施，內傷則殆。</p>

<h2>汗證</h2>
<p>按汗證一條，有陽虛者，有陰虛者，有太陽風傷衛者，有陽明熱盛者。</p>
<p>因陽虛者，由其人素秉陽虛，或用心過度而損心陽，心陽衰，不能統攝心中之液而汗出。或脾胃陽衰，不能收攝脾胃中之血液而汗出。或肝腎陽衰，不能收束肝腎中血液而汗出。上中下三部陽衰，皆能出汗，統以陽虛名之。其人定多嗜臥，少氣懶言為準。法宜扶陽，陽旺始能鎮納群陰，陰氣始得下降，陽氣始得潛藏，乃不外亡。法宜回陽、收納、溫固為要，如封髓丹、潛陽丹、黃耆建中湯、回陽飲之類。</p>
<p>因陰虛者，則為盜汗。由其人血液久虧，不能收藏元氣，元氣無依而外越，血液亦與俱出，多在夜分。夜分乃元氣下藏之時，而無陰以戀之，故汗出也。非汗自出，實氣浮之徵也。法宜養血，如當歸六黃湯、封髓丹倍黃柏加地骨皮之類。</p>
<p>更有一等陰盛隔陽於外之證，夜間亦汗出，此為陽欲下交而不得下交，陽浮於外，故汗出。法宜扶陽，陽旺而陰不敢與爭，陽氣始得下交，如白通湯、補坎益離丹之類。</p>
<p>務要知得陰虛、陰盛之旨，陰虛則火旺，其人定然有神，煩渴飲冷為據。陰盛則陽衰，其人定然無神，少氣懶言，不渴不食，即渴喜滾為據。</p>
<p>因內傷太陽衛分者，由太陽之氣不足，不能充周於腠理，毛竅空疏，風入於內，風為陽邪，善行而動，衛外血液不得潛藏，隨發熱之氣機而外出，故自汗淋漓。法宜扶太陽之氣，太陽氣旺，始能勝邪，仲景之桂枝湯是也。</p>
<p>因陽明火旺而致者，由胃中有火，熱蒸於外，大汗如雨。非若久病大汗亡陽之證。此則其人大渴飲冷，二便閉塞，煩躁身輕，氣粗口臭。法宜專清胃熱，如人參白虎湯、大小承氣湯之類是也。</p>
<p>更有一等汗證，如戰汗、狂汗、黃汗、熱汗、冷汗、上身汗、下身汗、頭汗、飲酒食肉汗出之例，亦不可不知。夫曰戰汗者，由正氣鼓動，與外入之邪氣相攻，客邪外越，驟然戰慄不已，汗大出，汗止而戰慄自然不作，病即立瘳。瘟疫證中有此一證。又曰狂汗者，由外邪入內，隨熱而化，熱乘於心，神識不明，當正邪相攻，客邪突出，心神不定，其人如狂，大汗如注，邪盡汗止，而病可立瘳。又曰黃汗者，汗出沾衣，而衣皆黃也。由脾液發泄不藏，法宜收納脾胃之元氣，如薑、砂、草、理中湯之類。又曰熱汗者，陽分之徵。冷汗者，陰分之驗。上身獨汗者，陽竭於上也。下身獨汗者，陰脫於下也。上下二證，是為久病虛極者言也，總以收納為要。若病未大虛，而上身汗者，責在氣分有熱，下身汗者，責在血分有火，不可拘執，務在這陰陽互根處理會。至於頭汗出至頸而還，有風淫於上，有濕熱蒸於上，有蓄血生熱而蒸於上，須當變通。若是飲酒食肉而即汗出者，多由其人素緣胃熱，一遇飲酒食肉，胃氣即動，熱氣沸騰，薰蒸於上，而汗出於外，不藥無傷。此有餘之候，非不足可比。（［眉批］此等之人，計不是病，乃精不深藏，神不內斂，氣易外越，夏固如此，冬亦皆然，主潦倒一生。此又相法之可通於醫者。）尚有一等絕證，汗出如珠、如油、如雨，種種不治之證，予曾經驗，急以仲景回陽湯飲救之，十中每痊四五。當此時也，病家亦委之命而莫救也，醫家亦委之於絕而莫救也。雖曰天命，又何妨力盡人事哉。但欲開方，務在單上批寫明白，告誡病家，設或追之不及，不得歸咎於醫藥，以免後人借為口實。</p>
<p>目下，世人畏附子、乾薑，不啻砒毒，（［眉批］世人畏薑、附，庸醫誤之也。醫生畏薑、附，火字誤之也。）即有當服附子，而亦不肯服者，不勝屈指矣。嗟呼！陰陽不明，醫門壞極。喜清涼而惡辛溫，無怪乎陰盛陽衰矣。（［眉批］知非氏曰：汗者，渙也。《易》曰：汗渙具大號氣機之外出者然也。然有病有不病焉。陰陽本是一個，動為陽，靜為陰，外為陽，內為陰，出則俱出，入則俱入，相隨不離，故曰互根。又曰：一而二，二而一，性兼寒熱，熱則動，寒則凝，機緘本乎自然。故夏則多汗，冬則無汗，勞則多汗，逸則無汗，此不病之常也。病則無冬無夏，無勞無逸，皆有外越之機，身體必見不安之狀，或因陰虛，或因虛，或太陽中風，或陽明熱越，少陰、少陽、厥陰、太陰，無不汗出。欽安論治，絲絲入扣，學者詳玩熟記，臨證處方，萬舉萬當，何多求焉。）</p>
<p>近來市習，一見汗出，多以麻黃根、冬桑葉、浮麥、參、耆之類治之，不在陰陽互根處理會，每多不效。</p>

<h2>健忘</h2>
<p>按健忘一證，固有陽虛、陰虛之別，然亦不必拘分，統以精神不足為主。凡人稟二氣以生。（二氣即陽精、陰精也。）二氣渾為一氣，神居二氣之中，為氣之宰，故曰：精、氣、神。二氣貫於周身，神亦遍於周身，精氣足，則神自聰明，故無所不知不曉。精氣衰，則神昏，故時明時昧，猶若殘燈之火，欲明不明，不能照物。此病老年居多，少年卻少，即有如斯之少年，其所傷損不異乎老人也。此病法宜交通陰陽為主，再加以調養胎息之功。攝心於宥密之地，久久行之，亦可復明，如將竭之燈，而更添其膏也。方用白通湯久服，或桂枝龍骨牡蠣散、三才、潛陽等湯，緩緩服至五六十劑，自然如常，切勿專以天王補心、寧神定志諸方，與參、棗、茯神、遠志、硃砂一派可也。（［眉批］邵子詩云：耳目聰明男子身，鴻鈞賦於不為貧。病至健忘，賦畀之良危矣。欽安定以精神不足，透出神昏之所以然，理明法立，非淺見寡聞者所能窺測。苟能按方用藥，可療此疾，又何必深究所以。此一段乃性靈文字，不在醫例，亦不得作醫書觀。夫神與氣、精，是三品上藥，獨神是火，為先天之元陽，不但統制氣、精，而氣、精皆神所生。故此火宜溫不宜涼，宜養不宜折，病人但能存此火，尚可施治。此火一滅，精氣絕而其人死矣。豈但健忘一證，即一部《醫法圓通》之死證，皆此火衰絕耳。凡醫因何而不敢放膽用薑、附以活人耶！全龍點睛正在此處，學者著眼至攝心宥密，乃培養此火種之法。欽安之醫、之心、之學，亦於是乎在。）</p>

<h2>驚悸</h2>
<p>按驚悸一證，名異而源同，（同在心經也。）驚由神氣之衰，不能鎮靜；悸由水氣之擾，陰邪為殃。二證大有攸分，不得視為一例。予意當以心驚為一證，心悸為一證，臨證庶不至混淆，立法治之，方不錯亂。</p>
<p>夫曰驚者，觸物而心即惶惶無措，偶聞震響而即恐懼無依，此皆由正氣衰極，神無所主。法宜扶陽，交通水火為主，如白通湯、補坎益離丹之類，多服自愈。悸者，心下有水氣也，心為火地，得陰水以擾之，故心不安。水停心下，時時盪漾，故如有物忡也。法宜行水為主，如桂苓朮甘湯、澤瀉散之類。若悸甚而心下痛甚，時聞水聲，又當以十棗湯，決堤行水，不可因循姑惜，以釀寇仇也。（［眉批］知非氏曰：《經》曰：陽氣者，欲如運樞，起居如驚，神氣乃浮。欽安分驚為一證，以為正氣衰微，神無所主，法宜扶陽，與《內經》吻合，自是方家舉止；分悸為一證，指為心下有水氣，亦合仲景之法。凡醫皆能如此認證，言言有物，謂有不愈之病，吾不信也。）</p>
<p>近來市習，一見驚悸，並不區分，概以安魂定魄為主，一味龍骨、硃砂、茯神、遠志、棗仁、參、歸治之。治驚之法，盡於斯矣。</p>

<h2>不臥</h2>
<p>按不臥一證,　有因外邪擾亂正氣而致者，有因內傷已久，心腎不交而致者，有因卒然大吐、大瀉而致者，有因事勢逼迫，憂思過度而致者。</p>
<p>因外感而致者，由邪從外入，或在皮膚，或在肌肉，或在經輸，或在血脈，或在臟腑，正氣受傷，心君不寧，故不得臥。必須去其外邪，正復神安，始能得臥。醫者當審定邪之所在，如汗出不透者透之，熱鬱不泄者泄之，氣化不得化者化之，樞機失運者運之，可吐者吐之，可下者下之，可溫者溫之，可涼者涼之，按定淺深病情提綱，自然中肯。</p>
<p>因內傷而致者，由素秉陽衰，有因腎陽衰而不能啟真水上升以交於心，心氣即不得下降，故不臥；有因心血衰，不能降君火以下交於腎，腎水即不得上升，亦不得臥。其人定見萎靡不振，氣短神衰，時多煩躁。法宜交通上下為主，如白通湯、補坎益離丹之類。</p>
<p>因吐瀉而致者，由其吐瀉傷及中宮之陽，中宮陽衰，不能運津液而交通上下。法宜溫中，如吳茱萸湯、理中湯之類。</p>
<p>因憂思而致者，由過於憂思，心君浮躁不寧，元神不得下趨，以交於陰，故不得臥。此非藥力可醫，必得事事如意，神氣安好，自然能臥。若欲治之，亦只解鬱而已，如歸脾湯、鞠郁丸之類。</p>
<p>近來市習，一見不臥，便謂非安魂定魄不可。不知外感、內傷，皆能令人不臥，不可不辨也。（［眉批］知非氏曰：不臥一證，屬少陰，於何徵之？仲景《傷寒論》曰：少陰之為病，脈微細，但欲寐也。但欲寐者，但想臥而不得臥，即不臥之深文，故屬少陰。學者凡遇不臥之證，拿定提綱，再審所因，罔不中肯，此扼要之法也。）</p>

<h2>痢證</h2>
<p>按痢證一條，舒馳遠先生分為四綱，曰秋燥，曰時毒，曰滑脫，曰虛寒，甚為恰切。予謂此四法中，燥證十居其八，時毒十居二三，滑脫與虛寒十居四五。但辨察之間，不可無法。</p>
<p>燥證之痢，裡急後重，日雖數十次，精神不衰，喜飲清涼。法宜清潤，始甘桔二冬湯是也。</p>
<p>時毒之痢，裡急後重，多見發熱身疼，一鄉一邑，病形皆相似也，乃是時行不正之氣，由外入內，伏於腸胃，與時令之燥氣相合，膠固腸胃而成痢。法宜升解，如人參敗毒散、葛根芩連之類。</p>
<p>滑脫與虛寒之痢，二證情形雖異，病原則同，總緣中宮陽衰，運轉力微，陰邪盤踞腸胃，阻滯元氣運行之機，雖有裡急後重之勢，糞出尚多，非若秋燥時毒之痢，每次便時，不過幾點而已，其人多見面白無神，四肢困倦。法宜溫固為主，如附子理中湯、理脾滌飲之類。</p>
<p>總之，白痢、赤痢，痛甚，裡急後重劇者，燥熱之徵。不痛，裡急後重微者，虛寒之驗。他如純白如魚腦，如豬肝，如塵腐，大熱不休，口噤不食，呃逆頻添，種種危候，雖在死例，然治得其法，十中亦可救二三。予亦嘗遇此等危證，審無外感，無邪熱，每以回陽收納法治之多效。但大熱不休一條，審察其人煩躁飲冷有神者，以調胃承氣治之。若無神，安靜不渴，急以回陽大劑治之，亦易見效。若妄以為陰虛，而以養陰法治之，百無一生。（［眉批］知非氏曰：夫痢，險症也，最多危候。庸手無論矣，歷來諸名家，亦少會歸，惟陳修園先生《時方妙用》中論痢最佳。緣熟習《傷寒》所論治法，推本六經，方是仲景方，法是仲景法，未嘗於仲景外稍參時法，分經治病，而不治痢，其得力於《傷寒》者深矣。予恆遵用其法，百發百中。人咸訝其神奇，其實以古方治今病，今月古月，豈有異乎？在有心人自為領取耳。欽安所論為詳盡，鄙心為止快。）</p>
<p>近來市習，一見痢證，以黃芩芍藥湯與通套痢疾諸方治之，究其意見，無非清熱導滯、調氣行血而已，不知氣血之不調，各有所因。知其所因而治之，方是良相；不知其所因而治之，皆是庸手。</p>

<h2>呃逆</h2>
<p>按呃逆一條，有陽虛、陰虛、元氣將絕之別，不可不知也。</p>
<p>因陽虛者，由中宮之陽不足，以致陰邪隔據於中，阻其呼吸往來接續之機，其人定見無神、安靜、不食不渴。法宜溫中降逆為主，如理中湯加吳萸、半夏之類。</p>
<p>因陰虛者，蓋以陰虛由於火旺，火邪隔拒於中，阻其上下交接之氣。其人定見躁暴、飲冷惡熱、精神不衰、二便不利。法宜苦寒降逆為主，如大、小承氣湯之類。</p>
<p>因元氣將絕而致者，蓋以元陽將絕，群陰頓起，阻其升降交接之機，其人或大汗、自汗出，或氣喘唇青，或腹痛囊縮，或爪甲青黑，或頭痛如劈，目眥欲裂，耳腫喉痛。種種病情，皆宜大劑回陽降逆，十中亦可救二三，如吳萸四逆湯、白通湯之類。（［眉批］欽安論此一條，不在證名上論治，專在所因上談法，是一段聰明文字，是此證聰明治法。學者能識此聰明之理法，便是良醫。）</p>
<p>近來市習，一見呃逆，陰陽不分，一味以橘皮、半夏、竹茹、丁香、柿蒂等藥治之，亦有見效，終不若辨明陰陽治之為當也。</p>

<h2>反胃</h2>
<p>按反胃一證，有陽虛、陰虛之別。</p>
<p>因陽虛者，蓋以陽衰則不能鎮納僭上之陰，陰邪過盛，勢必與陽相拒，一切經火烹調之物，皆不能容，故下喉數刻，或二三時乃仍吐出。其人定見脈大而空，或勁如石，言語一切無神，困倦喜臥。法宜回陽降逆為主，如吳萸四逆湯、半夏生薑湯之類。</p>
<p>諸書亦云：朝食暮吐，為命門無火，不能薰蒸，果稱灼見，但用藥多以陽八味、大補元煎治之，為補命門必用之藥，舍此二方，無從下手。予嘗試之，多不見效。所以然者，二方概以熟地為君以補陰，棗皮以滋陰，丹皮以瀉火，用桂、附僅十中之二三。試問：既曰命門無火，理宜專用桂、附以補火，何得用地、棗以滋陰，丹皮以瀉火乎？此皆景岳不讀仲景之書，而未明陰陽之道也。在景岳以為，善補陽者，於陰中求陽，故用一派養陰之藥，雜一二味補火之品於中，而謂陰中求陽，至極無二之法，獨不思仲景為立法之祖，於純陰無陽之證，只用薑、附、草三味，即能起死回生，並不雜一養陰之品，未必仲景不知陰中求陽乎？仲景求陽，在人身坎宮中說法，景岳求陽，在藥味養陰里註解。相隔天淵，無人窺破，矇蔽有年，不忍坐視，故特申言之。（［眉批］）知非氏曰：斯文宗孔孟，講武宗孫子，註疏宗程朱。百家眾技者流，咸存而不論，以故朝野相安，道一風同，稱郅治焉。獨至於醫，為斯世所不可缺。雖窮鄉僻壤，亦有囊中而趨向各不相侔，聖凡迄無定論，草菅人命，亦不為怪。此段疑案，悒於懷抱久矣。欲互相商榷，又少知音。今於批評欽安書，至反胃一證，其駁景岳用藥，大為有理。因思市醫宗後世諸家者多，後世諸家之書，又多於古人。古人分六經，後人分五經。古人立方不講藥性，後人立方專究藥性。古人方效，而今人不用。後人方不效，今人樂於從事，反詆古人之方為太重，後人之方為輕而合宜。古人不立證名，後人多立證名。古人不以脈定證，後人能以脈知病。古人只論六陰陽，後人論千陰陽、萬陰陽。群言淆亂，衷諸聖，今人竟舍古人而從後人，視古人為不可知，後人乃可法，反覺後來居上，　以故《靈》、《素》、《難經》及《傷寒》成為畏途，而人命直為兒戲矣。余誠不知醫，鄙意總以能讀古人之書，得古人之心法，用古人之方，治今人之病，或生或死，與古人相合，於今人無誤，方為醫者，未知是否，祈閱者教之。）</p>
<p>因陰虛者，蓋以陰衰不能制火，火拒於中，氣機有升無降，故飲食下喉一刻，仍然吐出。其人定見精神不衰，聲音響亮，煩躁不寧，關脈必洪大有力。法宜苦寒降逆為主，如大、小承氣湯之類。他書議論紛紛，愈出愈奇，去理愈遠，不可為法。其中因受雖異，總以一逆字定之，逆則以陰陽判之便了。</p>

<h2>癲狂</h2>
<p>按癲狂一證，名異而源同。（　同者，同在心經也。）癲虛而狂實。癲為心陽之不足，神識錯迷。（癲者，言語重複，喜笑無常，作事無緒。皆由心陽不足，神識不清，寒痰易生，上閉心竅，亦能使人癲癲倒倒。然專於治痰，便是捨本逐末，不可為法。交通上下，是為治本握要法，宜細心體會之。）狂乃邪火之橫行，神無定主。（狂者，本由邪火乘心，亂其神明，神無所主，故大叫狂妄，登高棄衣，親疏不避，治之專以下奪、清熱為主。）治癲貴以養正，兼以行痰。治狂務於祛邪，滅火為要。白通、梔豉，主於交通，陰癲、陽癲可療。大、小承氣，專行攻下，狂妄能醫。其中尚有夙孽冤憑，尤當急作善功懺悔。（［眉批］知非氏曰：扶正治癲，下氣治狂，名論不刊。）</p>
<p>近來市習，治癲專以祛痰安魂定魄，治狂每以清火降痰，亦多獲效。終不若握定金針，臨證有據也。</p>

<h2>脹滿</h2>
<p>按脹滿一條，諸書分別有膚脹、腹脹、水脹、氣脹、血脹、蠱毒之名，總無一定之旨歸。予仔細推究，因太陽失職，氣化失化而致者，十居七八。因吐瀉傷中，克伐元氣而致者，十居四五。若蠱毒則另有由致。</p>
<p>所謂因太陽失職者何？蓋以太陽為一身之綱領，主皮膚，統營衛，臟腑、經絡、骨節莫不咸賴焉。太陽居坎宮子位，一陽發動，散水精之氣於周身，乃眾陽之宗，一元之主也。故稱之曰太陽，至尊無二之意也。乃人不知保護，內而七情損之，外而六客戕之，以致一元傷損。運化失於皮膚，則膚脹生；運化失於中州，則腹脹作；運化失於下焦，則陰囊、腳脹起。水逆於肺，則生喘咳；水逆於腸，則生泄瀉：水注於左、注於右、留於上、留於下、留於中，化而為痰，則有五飲之說。水脹之源，皆本於斯。</p>
<p>至於氣脹者，乃元氣散漫之徵。多起於大病、久病，或吐瀉，或過於克伐，傷於一元。</p>
<p>血脹者，周身浮腫而皮色紫紅，是氣衰而陰乘於上也。亦有周身浮腫，而小腹硬滿，小便短赤，是陽衰於下而陰不化也。</p>
<p>總而言之，萬病起於一元傷損。分而言之，上中下各有陰陽，十二經各有陰陽；合而觀之，一陰一陽而已；更以陰陽凝聚而觀之，一團元氣而已。至於受病，淺深各有旨歸，然分類以治之，未始不當，但方愈多而旨愈亂，若不再行推醒，拈出旨歸，將來後學無從下手。當今之際，誰非見腫治腫，見脹消脹者哉。予意此病治法，宜扶一元之真火，斂已散之陽光，俾一元氣復，運化不乖，如朮附湯、姜附湯、真武湯、桂苓朮甘湯、附子理中湯、麻黃附子細辛湯、附子甘草湯之類。以上數方，各有妙用，膚脹、水脹、氣脹、血脹、腹脹皆能奏功。（［眉批］知非氏曰：中寒生脹滿，脹滿屬太陰，此病根也。試取譬焉，人身尤葫蘆，葫蘆有前面，腹為陰也；葫蘆有後面，背為陽也：葫蘆有上面，頭為諸陽之首，乾也。葫蘆有下面，戌亥子醜，兩陰交盡，二陽初生之地，坎也，坤也。斗膽言乎中，葫蘆裡面有金丹，金者，乾也，丹者，坎為月也。月本無光，借日而有光，蓋乾交乎坤，三索而得男哉，生明矣，三五而盈，三五而缺，識此之故，所謂天道下濟而光明也。脹滿本屬陰寒為病，必陽先虛而不運，斯陰始實而成脹。欲消此脹，必先扶陽。岐伯曰：陰病治陽。仲景曰：太陰之為病，腹脹滿而用乾薑。早為萬世之梯航，何待饒舌。然而時醫不知身中陰陽上下往來為病之消息，不得不將古法今朝重提起。欽安推本太陽，知非更進少陰。少陰者，君火也，主弱則臣強，臣強必欺主。是故少陰之君火衰微，則各路之煙塵四起。或太陽之寒水一強，主膀胱不利。或少陽之相火一強，主胸膈脅肋脹滿。或陽明之燥金一強，主肌肉脹滿。或太陰之濕土一強，主單腹脹滿，有大如甕者。或厥陰之風木一強，主少腹陰囊及腳腿脹滿。獨少陰之君火一強，則群陰見睍，秋陽當空，萬魔潛消矣。故仲景以脈微細、但欲寐稱為少陰不足之病，三瀉心湯治少陰有餘之病，三急下法存少陰將絕之陰。由此推之，六經皆能為脹，六經之方各有治脹之妙，神而明之，存乎其人耳。）</p>
<p>總而言之，元陽為本，諸陰陽為標。能知諸陰陽皆為元陽所化，一元陽變而為諸陰陽。元陽即是諸陰陽，諸陰陽仍是元陽，而又非諸陰陽之外另有一元陽，元陽之外另起諸陰陽。陰陽又不是混作一團，又不能打成一片，則治病不難而可懸壺於市矣。再能知六經中有主腦，六陰陽中有竅妙，斯真鑿破鴻濛，闢開太極，醫道特其餘事，又多能云爾。</p>
<p>唯蠱毒則另有法治。然蠱有自外、自內之別。自外者何？埋蠱厭人一法，蠻方最多。或蛇，或蟲，或龜，或鱉，煉而成之，或於食物放之，或於衣被放之。人中之者，久久面黃肌瘦，腹大如鼓，不久即死。蓄蠱之人，家道順遂，自喜術靈，而不知造孽已深，不可解也。匯參輯成《石室秘錄》，各家書上，皆有妙方，茲不具載。自內者何？若《易》云：山風蠱，為女惑男，因少男配長女，陰陽失常，尊卑紊亂，不思各正其性，艮則安止，巽則順從，久而敗壞，蠱乃生焉。治之之法，於止而不動者動之，柔而不振者振之，使之各有向背，不失其正，庶幾天地泰而陰陽不偏矣。然則治法奈何？宜苦宜辛盡之矣。</p>
<p>予嘗治一男子，腹大如鼓，按之中空，精神困倦，少氣懶言，半載有餘。予知為元氣散漫也，即以大劑吳萸四逆湯治之，一二劑而脹鼓頓失矣。又治一男子，腹大如鼓，按之中實，堅如石塊，大小累累，服破氣行血之藥，已經數月，予知為陰積於中，無陽以化之也。即以附子理中湯加桂、叩、砂、半、丁香，一二劑而腹實頓消。二證雖不足以蠱論，然而治蠱之法，未始不可以二證概也。另有蟲蠱一證，又不可不知也。</p>

<h2>小兒抽掣</h2>
<p>（俗作驚風）</p>
<p>按小兒抽掣一條，有外感內傷之別。因外感而致者，由其感受外來之風寒，閉其經絡運行之氣，現角弓反張、壯熱自汗者，風傷太陽之衛也，桂枝湯可與之。角弓反張，壯熱無汗而畏寒者，寒傷太陽之營也，麻黃湯可與之。若壯熱，燥躁口渴，氣粗蒸手，二便不利者，熱淫於內也，白虎、調胃承氣可與之。稍輕者，導赤散加荊、防、蟲退、茯苓亦可與之。</p>
<p>因內傷而致者，或飲食傷中，或大吐後，或大瀉後，或久病後，可偶受外邪，發散太過，或偶停滯，消導克伐太過，積之既久，元氣日微，虛極而生抽掣。諸書稱慢脾風者是也。其人定見面白唇青，飲食減少，人困無神，口冷氣微，或溏泄日三五次，或下半日微燒，微汗，抽掣時生，此是元氣虛極，神無定主，支持失權，由內而出之候。只有扶元一法，如附子理中加砂、半，回陽飲加砂、半。昧者不知此理，一見抽掣，便稱驚風。若妄以祛風之品施之，是速其已也。業斯道者，逢此等證候，務須細心斟酌陰陽實據，庶不致屈殺人命。予非言大而夸，其所目睹而親見者，不勝屈指矣。病家於此，切切不可專求捷方。（［眉批］知非氏曰：凡視小兒之病，雖曰啞科，而望、聞、問、切四診，皆有憑據。青、黃、赤、白、黑，有神無神，形體之肥瘦厚薄，容貌之慘舒虛實，皆可目睹，所謂望也。聲音之盛衰，氣息之粗細，喘與不喘，微與不微，可以耳聽，所謂聞也。腹痛則其哭也頭必俯，項背痛則其哭也頭必仰，小便數不數，大便調不調，其父母必能稔知，可以面訊，所謂問也。燒熱不燒熱，厥冷不厥冷，有汗無汗，可以手摸，兩手之脈，可以指取，所謂切也。有此四診，即得病情。至於抽掣，病在筋膜，主傷風木之氣，風寒無疑，調和營衛足矣。再有他故，知犯何逆，以法救之，無不見效。欽安指示親切，分辨詳細，斷不可照市醫看法，單視虎口筋紋，定是何病，便處方藥。紫紋衝上三關，不必定是危候，尤要在小兒抽掣，勿認是風，便用驚藥，功德無量矣。況小兒陽氣嫩弱，不勝風寒作祟，或發表太過，或經誤下，往往筋惕肉瞤，振振動搖，不是驚風，養陰和陽，便不驚風。謂小兒火大者，是其父母欲自殺其兒，可辭去不治，尤為切囑。須知小兒陽弱，火又能從內發，小兒無欲，火不能從外入，此是金針。）</p>

<h2>中風</h2>
<p>按中風一證，原有中經、中臟、閉、脫之情，陳修園先生《三字經》、《從眾錄》分辨甚詳，可以熟玩。予更細為思之，夫人身原憑一氣包羅，無損無傷，外邪何由而得入，內邪何由而得出。凡得此疾，必其人內本先虛，一切外邪始能由外入內，一切內邪始能由內出外，閉塞臟腑經絡氣機，皆能令人死，不得概謂皆由外致也。予常見卒倒昏迷，口眼喎斜，或半身軟弱，或周身抽掣。眾人皆作中風治之，專主祛風化痰不效。予經手專主先天真陽衰損，在此下手，兼看何部病情獨現，用藥即在此攸分。要知人之所以奉生而不死者，恃此先天一點真氣耳。（［眉批］知非氏曰：此解已透，然內本先虛，所謂本實先撥，即專主先天施治，未必十治十全。須知先天之陽不易回也，先與病家說明，愈是萬幸，不愈醫不任咎。若是回陽不愈，真陰不能自生。有人能治愈此病者，願焚其書，願鏟其批。）真氣衰於何部，內邪外邪即在此處竊發。治之但扶其真元，內外兩邪皆能絕滅。是不治邪而實以治邪，未治風而實以祛風，握要之法也。若專主祛風化痰，每每釀成脫絕危候，何也？正虛而邪始生，舍其虛而逐其末，況一切祛風化痰之品，皆是耗散元氣之物，未有不立增其病者。然而淺深輕重，步步有法，貴在圓通。予不過以鄙意之管見，以與同人共商之耳。</p>

<h2>中痰</h2>
<p>按中痰一證，予思中字不甚恰切。夫痰之所以生，半由太陽失運，水液不行，聚而為痰。或由中宮火衰，轉輸失職，水濕生痰。或由心陽虧損，不能鎮納濁陰，水泛於上，而痰證生。種種不一。是痰皆由內而生，並非由外而致。由外而入內，始可以言中，由內而出外，決不可以言中。凡為痰迷之人，必素秉陽衰，積陰日盛，飲食不運，氣機不宣，忽然外邪引之，內氣滯之，陰邪竊發，寒痰上湧，堵塞清道，人事昏迷，喉中痰響，脈必滑利。平素多病多痰，法宜扶陽為先，祛痰為末，如姜附湯、薑桂茯半湯、真武湯之類，皆可施之。即曰痰閉可也，何必曰中。（［眉批］中字之義駁得倒，痰字之理認得真，治痰之法自爾超妙，非庸手所得知。患疾之人遇之病可愈，學醫之人入手不得錯，此救世之法，醫醫之意也。）</p>

<h2>中食</h2>
<p>按中食一證，中字亦不恰切。夫食以養生，雖由外入內，並非食能害人，必其人素緣中氣不足，運化氣衰，陰邪已經發動，偶遇飲食入內，阻滯不進，忽然閉其清道，人事卒倒，形如死人，皆是氣機偶閉為之耳，何得謂食之能中乎。即如平常氣實之人，日日酒食厭飽，而胡不中？以此推之，內本先虛也。雖探吐之，一吐即愈，愈後急溫補脾土，自無失矣。（［眉批］此數語包一切、掃一切，元箸超超，顛撲不破。神麯、麥芽、檳榔、山楂可以掃除，而乾薑，附子又能治食矣，可發一噱。）</p>

<h2>脫肛</h2>
<p>按脫肛一證，有下焦陽衰而不能統束者，有三焦火旺而逼出者。</p>
<p>因下焦陽衰而致者，由其人或房勞過度，或大吐大瀉大病後，元氣損傷，不能收束。其人定見少氣懶言、精神萎靡、面白唇青、喜食辛辣熱物者是也。法宜溫固脾腎之陽，陽回氣足，肛脫自收，如附子理中湯加葛根、黃耆建中湯，與市習之補中益氣湯之類。</p>
<p>因火旺逼出者，或由過食厚味、醇酒、椒、姜辛辣之物，熱毒流注下焦，或感受外熱燥邪，流注腸胃，熱邪從下發泄，火氣下趨，漸漸逼迫，直腸遂出。其人定見躁煩，善飲清涼，或大便不利，或小便赤熱，或善食易飢，種種病情者是也。法宜清熱，如黃連解毒湯、三黃石膏湯之類，專清腸胃之熱，熱清而腸自收矣。（［眉批］知非氏曰：巽為股，為風。風性屬陽，主升。平人不脫肛者，風木之氣生升不已。今病脫肛，生升之氣機失權。欽安參悟其理，指出溫升之法。所謂火旺者，火急風生，直步廣腸，肛頭順勢脫出，亦當升陽散火，桃花湯可用。必見實熱之病情，方可直折，火熄風平，遂其升達之性，其肛自舉，一二劑即止，所謂中病即已，安過用以傷生氣。否則旋舉旋脫，久久遂漏，又不可不知也。）</p>
<p>近來市習，多用補中益氣倍升麻，或用檳、麻仁搗泥塗囟門穴，亦多見效。但於陰陽攸分，全無定見，終不若握此陰陽法度，治之庶可無差。第所列藥方，亦未盡善。不過明其理法之當然，學者從中神而明之，自然發無不中也。</p>

<h2>痔瘡</h2>
<p>按痔瘡一證，諸書分別牡痔、牝痔、氣痔、血痔、酒痔、脈痔、內痔、外痔。又俗稱翻花痔、雞冠痔、蓮花痔、蜂窠痔、鼠奶痔、牛奶痔，種種不一。予謂形象雖異，其源則同，不必細分，總在陽火、陰火判之而已。</p>
<p>因陽火而致者，或平素喜食厚味、醇酒、椒、姜，一切辛辣之物，熱積腸胃，從下發泄。肛門乃屬下竅，終非時刻大開，熱邪下趨，發泄不暢，蘊積而痔乃生焉。其痔定然痛甚，肛門紅腫，精神不衰，飲食如常，糞硬溺赤，喜飲清涼者是也。法宜專清腸胃之熱，如大小承氣、調胃承氣、葛根芩連等湯皆可酌用。又或燥邪發泄不暢，辨認與上同，而時令不同，法宜清燥為主，如黃連玉竹阿膠湯、清燥湯、甘桔二冬湯之類。</p>
<p>因陰火而致者，或由房勞過度，君火下流，前陰發泄不暢，直逼後陰，蘊積亦能生痔。又或火病，用心過度，憂思過度，元氣虛極，渙散欲從下脫而不得即脫，蘊積亦能生痔。其痔多青色、黑色、白色，微痛微腫，坐臥不安，人必無神，困倦喜臥，畏寒身重，面色唇口青白，脈或浮空，兩尺或弦勁，此是元氣發泄不藏之故，不得照尋常通套等方施治。法宜收固，如附子理中湯加葛根、潛陽丹、回陽飲、封髓丹倍砂、草之類。</p>
<p>近來治論紛紛，愈出愈奇，理法將泯，不得不為之一正。（［眉批］知非氏曰：治瘡亦貴理法明晰。欽安兼習外證，的是妙人。）</p>

<h2>赤白濁</h2>
<p>按赤白濁一證，諸書所載，有云赤屬血，白屬氣。有云敗精流溢，乃謂白濁；血不及變，乃為赤濁。有云入房太甚，發為白淫。有云脾移熱於腎。有云白濁乃勞傷腎，腎冷所致。種種分辨，果從誰說？予謂不必拘分，握定陰陽，治之便了。（［眉批］析言居要。）</p>
<p>夫赤濁、白濁，俱從溺管而出，有云敗精流溢，既云敗精，不過一二次見之，未必日日見之，況精竅與尿竅不並開。即云元陽不固，關鎖不牢，而敗精有如此之多，不幾元陽有立絕之勢乎。予亦常見患濁證之人，精神不衰者亦多，可知其非敗精也明矣。予細推此證，總緣二氣不調，中宮運化機關失職。所以然者，先天賴後天以生，水穀之精氣生血，水穀之悍氣生精，血入於營，精行於衛，皆從中宮轉輸，轉輸失權，或精或血，流注闌門，闌門乃秘清別濁之所，從此滲入膀胱，滲入者赤，溺便赤，滲入者白，溺便白，非膀胱之自能為赤白也。方書多用利水，尚未窺透此中消息。又有云濕熱流注於下，此說實為有理，卓見頗超，清熱利水，大約從此。須知中宮不調，有寒熱之別。寒主胃陽之不足，阻滯中宮，轉輸即能失職。其人定見面白無神，飲食短少，困倦嗜臥，不問赤白，但以溫暖中宮，俾寒邪去而轉輸復常，如香砂六君、附子理中之類。（［眉批］知非氏曰：陽虛不能運動精微，一語可補欽安之註腳。）熱主胃氣之過旺，盤踞中宮，轉輸亦能失職。其人多煩躁好動，精神不衰，言語、脈息，一切有神，不問赤白，便以清胃為主，俾熱去而轉輸復常，如導赤散加茯苓前仁、清胃散、涼膈散之類。</p>

<h2>血證門</h2>
<p>（吐血、鼻血、牙血、毛孔血、耳血、二便血）</p>
<p>按血證雖云數端，究竟不出陰陽盈縮定之矣。予於《醫理真傳》分辨甚詳。查近市風，一見血出，紅光遍地，人人皆謂之火，醫生亦謂之火。細閱其方，大半都是六味地黃湯、回龍湯、生地四物湯加炒芥、藕節、茜草、茅根、牛膝、大黃之類，專主滋陰降火。曷不思火有陰陽之別？血色雖紅，由其從火化得來，終屬陰體。氣從陽，法天居上。血從陰，法地居下。天包乎地，氣統乎血，氣過旺，可以逼血外越，則為陽火。氣過衰，不能統血，陰血上僭外溢，則為陰火。陽火，其人起居，一切有神。陰火，動靜起居，一切無神。陽火始可用以上市習之方，陰火決不可用，當以《醫理真傳》之法為是。（［眉批］知非氏曰；火是陰，《內經》曰，陰病治陽，當用陽藥，夫火何以能陰？孔子曰：離為火。離是陰卦，火是紅色，血亦是紅色，故知火盛吐血，正是陰盛，必用陽藥而始能愈，此儒者之權衡，非俗子所能窺測，而醫亦是名醫，故敢論血。）要知人周身軀殼，全賴一氣一血貫注之而已，不必區分血從何出，當何治，血是某經，主某方。分解愈多，源頭即失。予治一切病證與此血證，只要無外感病形，即握定陰陽盈縮治之，見功屢屢，獲效多多，真不傳之秘法，實度世之金針。予經驗多年，不敢隱秘，故罄所知，以告將來，（［眉批］老實人說老實話，知著書之婆心，更知評者之婆心，有同心焉，以為邀譽則非矣。）</p>

<h2>發斑</h2>
<p>按發斑一證，有由外入而致者，有由內出而致者。</p>
<p>由外入而致者，由外感一切不正之氣，伏於陽明。陽明主肌肉，邪氣遏郁，熱毒愈旺，忽然發泄，輕則疹癢，重則斑點，或如桃花瓣，或如紫雲色，大小塊片不等。其人口臭氣粗，壯熱飲冷，脈大而實，或周身疼痛，二便不利者，此為外感，陽證發斑是也。法宜隨其機而導之，如升麻葛根湯，舉斑、化斑、消斑等湯，皆可酌用。</p>
<p>因內傷而致者，或飲食傷中，克伐過度；或房勞損陽，過於滋陰；或思慮用心過度；或偶感外邪；過於發散，以致元陽外越，或現斑點，或現通體紫紅。其人懶言嗜臥，不渴不食，精神困倦。或現身熱，而卻無痛苦情狀，行動如常。或身不熱，而斑片累累，色多嬌嫩，或含青色者是也。粗工不識，一見斑點，不察此中虛實，照三陽法治之，為害不淺。法宜回陽收納為主，如封髓丹、潛陽丹、回陽飲之類。（［眉批］知非氏曰：斑發於陽，因外感而致，其證為陽，能治者多。惟斑發於陰，因內傷而致，其證為陰，能識者少。欽安指出兩法，重在人所難識一面，學者知其所難，作者之心苦矣。）予曾經驗多人，實有不測之妙。總之，外證發斑，在三陽，宜升散。內證發斑，在三陰，宜收納。此二法乃萬病治法之要。（［眉批］知其要者，一言而終，不知其要者，流散無窮。）不僅此證，學者須知。</p>

<h2>痿躄</h2>
<p>按痿躄一證，《內經》云：肺熱葉焦，一臟因而受之，發為痿躄。又云：治痿獨取陽明。陽明為五臟六腑之海，主潤宗筋，束骨利關節者也。陽明虛，則宗筋弛。李東垣、丹溪遵《內經》肺熱一語，專主潤燥瀉火，似為有理。但《內經》稱治痿獨取陽明，乃不易之定法，此中必有定見，當是肺熱葉焦之由起於陽明也。陽明為五臟六腑之海，生精生血，化氣行水之源也。《內經》謂陽明虛則宗筋弛。明是中宮轉輸精氣機關失職，精氣不輸於肺，則肺痿生；精氣不輸於脈，則心痿生；精氣不輸於肉，則脾痿生精氣不輸於筋，則肝痿生；精氣不輸於骨，則腎痿生。以此分處，則治痿獨取陽明一語方成定案，即不能專以潤燥瀉火為準。（［眉批］知非氏曰：是何意態雄且傑，高談雄辯驚四方。）要知人身三百六十骨節，無論何節，精氣一節不輸，則一節即成枯枝。（《黃庭經》曰：泥丸百節皆有神，一節無神，則陰邪起而為病。此理精粹。）以此推求，方得痿證之由，肺熱葉焦之實，即此可悟。治痿獨取陽明一語，實握要之法。予思各經為邪火所侵，並未見即成痿證。即有邪火太甚，亦未見即成痿證。果系火邪為殃，數劑清涼，火滅而正氣即復，何得一年半載而不愈。東垣、丹溪見不及此，故專主潤燥瀉火，是皆未得此中三昧。（［眉批］一家之言，未窺全豹。）法宜大辛大甘以守中復陽，中宮陽復，轉輸如常，則痿證可立瘳矣。如大劑甘草乾薑湯、甘草附子湯、參附湯、耆附湯、歸附湯、朮附湯之類，皆可酌選。</p>

<h2>虛勞</h2>
<p>按虛勞一證，諸書分別五勞七傷、上損下損。陳修園先生《三字經》、《從眾錄》分辨甚詳，可以熟玩。予思虛勞之人，總緣虧損先天坎中一點真陽耳。真陽一衰，群陰蜂起，故現子午潮熱，（子午二時，　乃陰陽相交之時，陽不得下交於陰，則陽氣浮而不藏，故潮熱生；陰不得上交於陽，則陰氣發騰，無陽以鎮納，則潮熱亦生。醫者不得此中至理，一見潮熱便稱陰虛，用一派滋陰養陰之品，每每釀成脫絕危候，良可悲也。）自汗盜汗出，（凡自汗、盜汗皆是陽虛之徵，各書具稱盜汗為陰虛者，是言其在夜分也。夜分乃陽氣潛藏之時，然而夜分實陰盛之候，陰盛可以逼陽於外，陽浮外亡．血液隨之，故汗出，曰盜汗。醫者不知其為陽虛，不能鎮納陰氣，陰氣外越，血液亦出，陰盛隔陽於外，陽不得潛，亦汗出，此旨甚微，學者務須在互根處理會。）咳吐白痰，（真陽一衰，則陰邪上逆，逆則咳嗽作，白痰雖非血，實亦血也，由其火衰而化行失職，精氣不得真火鍛鍊，而色未赤也，近來多稱陳寒入肺，實是可笑。）腹滿不實，（陰氣閉塞，陽微不運故也。）面黃肌瘦，（真火衰則脾土無生機，土氣發泄，欲外亡，故面黃，土衰則肌肉消，以脾主肌肉故也。）腹時痛時止，（陽衰則寒隔於中，阻其運行之機，邪正相拒，故時痛時止。）大便溏泄，（胃陽不足，脾濕太甚故也。）困倦嗜臥，少氣懶言，（皆氣弱之徵。）種種病情，不可枚舉。惟有甘溫固元一法，實治虛勞靈丹。（［眉批］知非氏曰：虛勞之人，五神無主，四大不收。夫五神者，五官之神也。五官不能自為用，其中有主之者。《仙經》曰：譬如弄傀儡，中有工機軸是也。四大者，地、水、火、風也。毛髮、爪指、皮膚者，地也；津、液、涎、沫者，水也；運轉、動作者，風也；暖氣者，火也。然此四大全要元神、元氣為主宰收攝。虛勞之人，元神昏散，視聽混淆，是五神無主宰。元氣耗散，舉止疲憊，是四大不收攝。夫人身元陽為本，是生真氣，真氣聚而得安，真氣弱而成病。虛勞者，真氣耗散，元陽失走，迨至元陽盡，純陰成，嗚呼死矣。欽安指出大法，惟有甘溫固元，是薑、附、草，不是參、耆、術，學者不可不知也。）</p>
<p>昧者多作氣血雙補，有云大劑滋陰，有等專主清潤，有等開鬱行滯，不一而足，是皆殺人轉瞬者也。予非言大而矜，妄自爭辯，實不得不辯也。</p>

<h2>厥證</h2>
<p>按厥證一條，有陽厥、陰厥之別。陽厥者何？由其外邪入內，合陽經熱化，熱極則陰生，陽伏於內，陰呈於外，故現四肢冰冷，或脈如絲，或無脈，其人雖外見純陰，而口氣必蒸手，小便必短赤，精力不衰。法宜清熱下奪為主，如大小承氣、調胃承氣湯等是也。</p>
<p>陰厥者何？由其正氣已虛，陰寒四起，陰盛陽微，閉塞經絡，陽氣不能達於四肢，故見四肢冰冷，其人目暝倦臥，少氣懶言。法宜回陽祛陰，如四逆湯、回陽飲之類，此陰陽生死攸關，不容不辨，（［眉批］知非氏曰：陰證發厥，內傷已極，諸人能認，治多不謬。惟陽證發厥，熱極成寒，仲景有厥證用白虎之條，人多不辨。欽安此論，兩兩對言，重在熱厥一面，學者能認出熱厥，評者之心亦慰矣。）</p>

<h2>譫語</h2>
<p>按譫語一證，有陰陽之別，不可不知。陽證之譫語，由其外邪伏熱，熱乘於心，濁火亂其神明，神明無所主，其人口中妄言，必見張目不眠，口臭氣粗，身輕惡熱，精神不衰。輕者可用導赤散加黃連，重者可用大小承氣湯、三黃石膏湯。</p>
<p>陰證之譫語，由其正氣已衰，陰邪頓起，神為陰氣蔽塞，則神識不清。其人多閉目妄言，四肢無力，倦臥畏寒，身重汗出，即有欲飲冷水一二口者，其人無神，定當以回陽為準，切不可以為飲冷而即以涼藥投之，則害人多矣。須知積陰在內，生有微熱，積陰一化，熱自消亡，此處下手，便是高一著法。</p>
<p>予曾經驗多人，不問發熱、汗出、譫語、口渴飲冷，但見無神，便以大劑回陽飲治之，百治百生。（［眉批］知非氏曰：譫語本是神昏氣沮，此論精當，治法絕妙，後言不問其證，決之早也。但見無神，眼之明也。便以大劑，手之快也。百治百生，效之必也。學者先要學此手眼。）</p>

<h2>女科門</h2>
<p>按女科與男子稍有不同，以其質秉坤柔，具資生之德，而有經期、胎前、產後，病情與男子不同，其餘皆同。諸書分辨甚詳，實可擇取。予於女科一門，亦稍有見解，因於閒暇，又從而直切暢言之，以補諸書未言之旨，恐見解不當，高明諒之。（［眉批］知非氏曰：女子之病，多於男子，奈何多多一病耳。雖曰五漏成體一，兩耳不須治一，兩乳不須治一，經水則其要也。治之奈何，在知本，知本於太陰，無他謬巧矣。夫太陰者，月也。三五而盈，三五而缺。盈者，陰進，為陽，主長；缺者，陽退，為陰，主消。陽長陽消，以陽為運用。長者生之，徒升發不泄；消者死之，徒降下不留。月事以時下，　一月一降，為不病之恆，降下無所苦，又不爽其期，謂曰月信。苟陽失健運，則坤中之陰精不藏。如先期而至，是月受日魂未足，陰中陽微，不得謂為有火，而用芩、連、知、柏。如後期而至，是日魂消陰未盡，陰中陽虛，陽虛陰亦無准，不得謂為有寒，而用四物、桂、附。淋漓不斷者，少則非崩，崩者多而不止，皆由元陽先德不下，以致陰精流溢不守，不得僅以熱論。色紫成塊，色淡不鮮，同為陽氣不足。將行腹痛，行後腹痛，均是陽虛氣凝。至於處子、婦人經閉不通，皆由虛損，先宜扶陽，繼須通利。通利之方，桃核承氣湯，不遺餘力。若姑息養奸，百日而勞瘵成，不可救藥矣。非醫之過而何？所有帶證，處子、婦人，皆多患此，不在經證之例，亦非帶脈為病。非白淫，即寒濕，濁惡不堪，法宜升散，不宜燥熯，致爍陰精，皆治本之訣也。至於內傷外感，亦能傷太陰而有以上諸疾，又當於六經求治，不可專於治本。細讀仲景婦人熱入血室諸條，觸類而伸之，比類而參之，有形證，有理路，何患無治法乎。欽安分門別類，博學而詳說之，妙在窺透陽不化陰之玄理，反復論辨，只重一陽字，握要以圖，立法周密，壓倒從世諸家，何況庸手。知非良深佩服。而胎前不言證，歸於六經矣；產後不言法，盡於陰陽矣，知非亦可無言矣。）</p>

<h2>經水先期而至</h2>
<p>（或十七八九日，二十四五日者是也）</p>
<p>按經水先期而來，諸書皆稱虛中有熱，為太過，為氣之盈，多以四物湯加芩、連、阿膠之類治之，以為血中有熱，熱清而血不妄動，經自如常。予謂不盡屬熱，多有元氣太虛，血稍存注，力不能載，故先期而下。其人定見面白無神，少氣懶言，稍有勞動，心惕氣喘，脈細而微，亦或浮空。此等法當溫固元氣為主，不得妄以芩連四物治之。果系可服芩連四物者，人必精神健旺，多暴怒，抑鬱，言語、起居、動靜一切有神，如此分處，用藥庶不錯誤。</p>

<h2>經水後期而至</h2>
<p>（或三十七八日，　四五十日，及兩三月者是也。）</p>
<p>按經水後期而至，諸書稱為虛中有寒，為不及，為氣之縮，多以桂、附之類加入四物湯治之，以為血中有寒，寒得溫而散，血自流通，經即如常。予謂不盡屬寒。其中多有暗泄處，不可不知。暗泄者何？其人或常自汗不止，或夜多盜汗，或常流鼻血，或偶吐血，或多泄水，或飲食減少。如此之人，切不可照常通經、趕經法施治，當審其病而調之。如其人當經期將至，前四五日，常自汗出者，是氣機上浮而不下降，汗出即血出也，察其是衛陽不固者固之，如耆附湯、建中湯是也。察其系內有熱伏，熱蒸於外，而汗出者，宜涼之，如益元散、生地四物之類治之。</p>
<p>若是盜汗，察其系陰盛隔陽於外，陽氣不得潛藏，氣機上浮，故盜汗出，法宜收納，如封髓丹、潛陽丹之類。察其系血分有熱，熱蒸於外，盜汗亦作，法宜清潤，如雞子黃連湯之類。</p>
<p>若是鼻血、吐血，審是火旺，逼血外行，自有火形可徵，法宜清涼，如桃仁、地黃、犀角湯之類。審是陽虛不能鎮納陰氣，陰血上僭外越，自有陽虛病情可考，不得即為倒經，而妄用通經涼血止血之方，惟有扶陽抑陰，溫中固土為準，如甘草乾薑湯、潛陽、建中等湯。</p>
<p>若是時常泄水，飲食減少，多由元氣下泄，陰血暗耗，法宜溫中收固。況飲食減少，生化機微，天真之液不能如常流注，學者須知，切切不可見其經之後至，而即以通套等法施之。</p>
<p>其中尚有外感寒邪，閉束營衛氣機，亦能使經期後至。可按六經提綱治之。更有經期將至，偶食生冷，或洗冷水，亦能使經期後至，須當細問明白，切不可粗心。</p>

<h2>經來淋漓不斷</h2>
<p>按經來淋漓不斷一證，有元氣太虛，統攝失職者；有因衝任伏熱，迫血妄行者。</p>
<p>因元氣太弱者，或由大吐、大瀉傷中，或過服宣散、克伐，或房勞憂思過度，種種不一，皆能如此。其人起居動靜、脈息聲音，一切無神，法宜溫固，如附子理中、黃耆建中、香砂六君之類。</p>
<p>因衝任伏熱，熱動於中，血不能藏，其人起居動靜、脈息聲音，一切有神，法宜養陰清熱，如黃連瀉心湯、生地芩連湯之類，總要握其陰陽，方不誤事。</p>

<h2>經水來多而色紫成塊</h2>
<p>按經水紫色成塊一證，諸書皆稱火化太過，熱盛極矣。多以涼血湯及生地四物加芩、連之類，法實可從，其病形定是有餘可徵。若無有餘足徵，而人見昏迷，困倦嗜臥，少氣懶言，神衰已極，又當以氣虛血滯，陽不化陰，陰凝而色故紫，故成塊。不得妄以清涼施之，法宜溫固本元為主，如理中湯加香附、甘草乾薑湯、建中湯之類，方不為害。總之眾人皆云是火，我不敢即云是火，全在有神無神處，仔細詳情，判之自無差矣。</p>

<h2>經水來少而色淡</h2>
<p>按經水少而色淡一證，諸書皆稱血虛，統以四物加人參湯主之，以為血虛者宜補其血。予謂此證，明是火化不足、陽衰之徵。陽氣健則化血赤，陽氣微則化血淡。陽氣盛則血自多，陽氣衰則血自少，乃一定之理，法當扶陽以生血，（即一生水的宗旨。）何得專以四物人參湯一派甘寒之品乎？此皆後人不識陰陽盈虛之妙，故有如此之說也。予見當以黃耆建中湯、當歸補血湯加附子，或甘草乾薑湯合補血湯，如此治法，方不誤事。</p>

<h2>經水將行而腹痛</h2>
<p>按經水將行腹痛一證，諸書皆言血中有滯也，多用通滯湯及桃仁四物湯。予思此二方，皆是著重血中有滯也。如果屬熱滯，此二方固可治之。苟因寒邪阻滯，以及誤食生冷，又當以溫中行滯為主，無專以此二方為是。如此分處治法，庶不至誤事。</p>

<h2>經水行後而腹痛</h2>
<p>按經水行後腹痛一證，諸書皆云虛中有滯也，統以八珍湯加香附治之，亦頗近理。予思經後腹痛，必有所因。非外寒風冷之侵，必因內陽之弱，不得概以氣血兩虛有滯為準，又當留心審察。如系外寒風冷，必有惡風畏寒，發熱身痛，仍宜發散，如桂枝湯是也。若系內陽不足，則寒從內生，必有喜揉按、熱熨之情，法宜溫里，如附子理中加丁香、砂仁之類。</p>
<p>予常治經後腹痛，其人面白唇淡者，以甘草乾薑湯加丁香、官桂治之，或以補血湯加安桂治之，必效。</p>

<h2>婦人經閉不行</h2>
<p>（或四五十日，或兩三月者是也）</p>
<p>按閉經一證，關係最重，診視探問，必須留心。如診得六脈遲澀不利者，乃閉之徵。若診得六脈流利，往來搏指，妊娠之兆，切切不可直口說出。先要問明何人，看丈夫在家否？如丈夫在家，稱云敝內，他先請問，方可言說是喜，不是經閉。設或言寡居，或言丈夫出外，數載未歸，設或言室女年已過大，尚未出閣，訪問的確，審無痰飲證形，（痰疾脈亦多滑利。）雖具喜脈，切切不可說出，但云經閉。如在三兩月內，不妨於藥中多加破血耗胎之品，使胎不成，亦可以曲全兩家祖宗臉面，亦是陰德。即服藥不效，而胎成者，是惡積之不可掩，而罪大之不可解也。倘一朝遇此，主家向醫說明，又當暗地設法，曲為保全，不露圭角，其功更大。設或室女，于歸期促，不得不從權以墮之，不墮則女子之終身無依，醜聲揚，則兩家之面目何存？舍此全彼，雖在罪例，情有可原。自古聖賢，無非在人情天理上體會輕重而已。</p>
<p>予思經閉不行，亦各有所因。有因經行而偶洗冷水閉者，有因將行而偶食生冷閉者，有因將行而偶忿氣閉者，有因素秉中氣不足，生化太微而致者，有因偶感風寒，閉塞而致者，不可不知。</p>
<p>因洗冷水而閉者，蓋以經血之流動，全在得溫以行，得寒而凝，理勢然也。今得冷水以侵之，氣機忽然閉塞，血液不流，法當溫經，如麻黃附子細辛湯、陽旦湯，或補血湯加丁香、肉桂之類。</p>
<p>因食生冷而閉者，誠以天真之液如霧露之氣，全賴中宮運轉，血自流通。今為生冷停積中宮，閉其運轉之機，血液故不得下降。法當溫中，如理中湯加砂仁、丁香、肉桂，或甘草乾薑湯加丁香、胡椒之類。</p>
<p>因忿氣而閉者，蓋以忿爭則氣多抑鬱，抑鬱則氣滯而不舒，氣不舒，則血不流，故閉。法宜理氣舒肝為主，如小柴胡湯加香附、川芎、麥芽之類。</p>
<p>因素秉不足，生化太微而致者，蓋以不足之人，多病，多痰，多不食，或多泄瀉，或多汗出，元氣泄多蓄少，不能如常，應期而下。要知血注多，則下行之勢易。血注少，則下行之勢難。務宜看其何處病情為重，相其機而治之。或宜甘溫，或宜辛溫，或宜苦溫，又當留意。</p>
<p>因外感風寒而閉者，按六經提綱治之，自然中肯。切不可一見經閉，即急於通經，專以四物加桃仁、紅花、玄胡、香附、蘇木、丑牛之類，胡亂瞎撞，為害非淺，學者宜知。更有寡婦、室女經閉，要不出此，不過多一思交不遂、抑鬱一層，終不外開鬱行滯而已。</p>

<h2>崩</h2>
<p>按崩證一條，有陽虛者，有陰虛者。</p>
<p>陽虛者何？或素秉不足，飲食不健。或經血不調，過服清涼。或偶感風寒，過於宣散。或縱慾無度，元氣剝削。如此之人，定見起居動靜、言語、脈息、面色，一切無神。元氣太虛，不能統攝，陰血暴下，故成血崩。實乃脫絕之徵，非大甘大溫不可挽救，如大劑回陽飲、甘草乾薑湯之類。切切不可妄以涼血、止血之品施之。</p>
<p>因陰虛者何？夫陰之虛，由於火之旺，或忿怒而肝火頻生，或焦思而心火頓起，或過飲醇醪而胃火日熾。如此之人，精神飲食，動靜起居，一切有餘，緣以火邪助之也。火動於中，血海沸騰，傷於陽絡，則妄行於上；傷於陰絡，則妄行於下。卒然暴注，若決江河。急宜涼血清熱以止之，如十灰散、涼血湯之類。切切不可妄用辛溫，要知此刻邪火動極，俟火一去，即宜甘溫甘涼，以守之復之，又不可固執。須知道血下既多，元氣即損，轉瞬亦即是寒，不可不細心體會。</p>

<h2>帶</h2>
<p>按帶證一條，諸書言帶脈傷，發為帶疾。《寶產》云，帶下有三十六疾。《匯參》有赤白帶、室女帶下、胎前帶下之別。《女科仙方》又分為五帶，是就五色而立五方，亦頗近理。予常用其方，多獲效驗。予思萬病不出乎陰陽，各家紛紛議論，究竟旨歸無據，後人不得不直記其方也。予細思陽證十居五六，即濕熱下注是也。陰證十居六七，即下元無火是也。</p>
<p>濕熱注者何？或素喜辛燥醇酒椒姜，或素多忿怒暴戾，或素多淫欲，搖動相火，合水穀之濕與脾之濕，流入下焦，時時下降，陸續不斷，其形似帶，故名之曰帶。其人定多煩躁，精神、飲食不衰，脈必有神，其下之物，多膠黏極臭者是也。法宜除濕清熱為主，如葛根芩連湯、黃連瀉心湯加茯苓、澤瀉、滑石之類。</p>
<p>所謂下元無火者何？或素稟不足，而勞心太甚，（則損心陽。）或傷於食，而消導太過，（則損胃脾之陽。）或房事過度，而敗精下流，（則損腎陽。）如此之人，定見頭眩心惕，飲食減少，四肢無力，脈必兩寸旺，而兩尺弱甚，（浮於上而不潛於下，）其下之物，必清淡而冷，不臭不黏。法宜大補元陽，收納腎氣，如潛陽丹加故紙、益智，回陽飲加茯苓、安桂，或桂苓朮甘湯加附片、砂仁之類。更有五色雜下，不必多求妙方，總以大溫大甘、收固元氣為要，諸書所載，亦可擇取。</p>

<h2>求嗣約言</h2>
<p>大凡中年無子之人，宜多積善功，夫婦好生保養節欲，果然精神安舒，百脈和暢。務於天癸至三日內，乘其子宮未閉，易於中鵠。當交媾之際，夫婦二人彼此留神，勿將心放他去，如此施之，百發百中。切勿多蓄媵妾，以取敗德喪身滅亡之禍。（［眉批］知非氏曰：人之生也，性賦於天，命懸於地，各有善惡，因緣以成報施，知非存而不論。）</p>

<h2>妊娠</h2>
<p>凡婦人經水不行，二三月內，腹中隱隱，（［眉批］知非氏曰：穩。）微微頻動者，乃有喜之徵。設或無頻動者，可用驗胎法以驗之。驗胎方：歸、芎各三錢，為末，艾湯吞。吞後腹頻動，有胎定無疑；若是腹不動，脈息細詳求。（亦有四五月始動者。）</p>

<h2>妊娠產後諸疾約言</h2>
<p>按妊娠已確，固說著重安胎。（［眉批］知非氏曰：要。）產後已畢，固說著重補養。此皆舉世相傳至要之語。予謂胎前產後，不必執此，當以認證去病為主。認證去病之要，外感仍按定六經提綱病情，內傷仍握定陰陽盈縮為準，如此方不見病治病了。至於胎前產後，一切病證，亦當留心。如《萬氏女科》、《女科仙方》、《女科心法》、《匯參女科》、《濟陰綱目》皆當熟玩，以廣見識。</p>

<h2>小兒諸疾約言</h2>
<p>按小兒初生，只要安靜，審無胎中受寒，無胎中受熱，切不可用藥以戕之，以伐生生之氣。今人每每小兒下地，多用銀花、黃連、大黃、鉤藤、甘草，取其清胎毒，小兒少生瘡癬。此說似近有理，究竟皆是婆婆經。此說省城最重，不知山野鄉村小兒下地，大人常無藥服，何況小兒，難道皆生瘡，皆死亡了。但食乳之子，外感病多，飲食病少。設或有虛損病出，多半從母乳上來，審其陰陽之盈縮治之。食五穀之子，多半飲食，或是外感，按定病情治之。（［眉批］知非氏曰：好，抽掣條中業已詳論，故不復贅。）至於痘證，初發熱，以調和營衛之氣為主，桂枝湯是也；初現點，以升解發透、出透為主，升麻葛根湯是也；痘現齊，以養漿為主，理中湯是也；漿足瘡熟，以收回為主，潛陽丹、封髓丹是也。此乃痘科首尾不易之法。至於壞證，如灰黑平塌不起、空殼、無膿者，真元之氣衰也。法宜回陽，白通湯、回陽飲是也。如紫紅頂焦，煩躁口臭，氣之有餘血之不足也。法宜清涼，如導赤散、涼血散、人參白虎、當歸補血湯之類。</p>
<p>近來痘科，一見痘點，專以解毒、升散、清涼，如赤芍、生地、連翹、枳殼、銀花、大力、黃芩、當歸、麥冬、花粉、荊芥之類。不知痘證，全在隨機變換。當其初發熱，氣機勃勃向外，正宜應機而助之，以發透為妙。如以上藥品，雖有升散，其中一派苦寒之品，每多阻滯向外氣機，以致痘不透發，釀出許多證候。非痘之即能死人，實藥殺之也。</p>
<p>予每於痘出現點，只用二三味輕清之品，多見奇功，如升麻一二錢，葛根一二錢，蟲退五六個，甘草一錢。即吐，亦當服之。所謂吐者何？毒邪已壅於陽明，吐則毒邪發泄於外，故以輕清之品，助其升騰之機，使其出透。若加苦寒阻之，危亡之道也。司命者，當留意於此，方不誤人。</p>

<h2>外科約言</h2>
<p>外科者，瘡科謂也。凡瘡之生，無論發於何部，統以陰陽兩字判之為準。（［眉批］知非氏曰：妙。）</p>
<p>陰證，其瘡皮色如常，漫腫微疼，瘡潰多半清水、清膿、黃水、血水、豆汁水、辛臭水。其人言語、聲音、脈息、起居動靜，一切無神，口必不渴，即渴定喜滾飲，舌必青滑，大小便必自利。此皆由正本先虛，陽衰已極，不能化其陰滯，故凝而成瘡。陰盛陽微，不能化陰血以成膿，故見以上病形。法宜辛甘化陽為主。化陽者，化陰氣為陽氣也，陰氣化去，其正自復，膿自稠黏，瘡自收斂，而病即愈。初起無論現在何部，或以桂枝湯加香附、麥芽、附子，調和營衛之氣。佐香附、麥芽者，取其行滯而消凝也；加附子者，取其溫經而散寒也。或麻黃附子細辛湯、陽旦湯皆可。瘡潰而膿不稠，可用黃耆建中湯、附子理中湯。陰最盛者，可用回陽飲、白通湯，或黃耆、甜酒燉七孔豬蹄、羊肉生薑湯之類，皆可酌用。</p>
<p>陽證，其瘡紅腫痛甚，寒熱往來，人多煩躁，喜清涼而惡熱，大便多堅實，小便多短赤，飲食精神如常，脈息有力，聲音響亮，瘡潰多稠膿。此等瘡最易治，皆由邪火伏於其中，火旺則血傷。法宜苦甘化陰為主。化陰者，化陽氣為陰氣也，陽氣化去，正氣自復，瘡自收斂而病自愈。初起無論發於何部，或以桂枝湯倍白芍加香附、麥芽、梔子治之。或麻杏石甘湯，或人參敗毒散加連翹、花粉之類。瘡潰可用當歸補血湯加銀花、生地、白芍之類，或補中益氣湯加生地、銀花之類，皆可用也。</p>
<p>總之，陰陽理明，法自我立，藥自我施，不無妙處也。</p>
<p>更有一等真陽暴脫之證，其來驟然，無論發於何部，其瘡痛如刀劈，忽然紅腫，其色雖紅，多含青色，人必困倦無神，脈必浮大中空，或大如繩，或勁如石，其唇口舌必青黑。務在脈息、聲音、顏色四處搜求，使能識此等證候，切勿專在瘡上講究。凡此等證，每多旦發夕死，惟急於回陽收納，庶可十中救二三。若視為尋常之瘡治之，則速其死矣。不可不慎歟。</p>
<p>知非氏曰：欽安先生，性敏而巧，學博而優，運一縷靈思妙緒，貫諸名家之精義，不啻若自其口出，認證只分陰陽，活人直在反掌，高而不高，使人有門可入，可謂循循善誘矣。知非之評，乃一意孤行，空諸倚傍，恐詞義多未精核，議論太涉放縱，然紫不能奪朱，鄭不能亂雅，閱者諒之。</p>

<h1>卷三</h1>

<h2>傷寒溯源解</h2>
<p>仲景為醫林之祖，著《傷寒》一書，以開度世津梁。揭出三陽三陰，包含乾坤二氣之妙，後賢始有步趨。無奈相沿日久，注家日多，紛紛聚訟，各逞己見，捨本逐末，已至於今。故讀《傷寒》書者寡矣，亦並不知「傷寒」何所取義也。取注《傷寒》者，亦只是照原文敷衍幾句，並未道及《傷寒》宗旨與萬病不出《傷寒》宗旨，教後人何由得入仲景之門。予特直解之。夫曰傷寒者，邪傷於寒水之經也。太陽為三陽三陰之首，居於寒水之地，其卦為坎。（陽為陰根。）坎中一陽，即人身立極真種子，至尊無二，故稱之曰太陽。（［眉批］考之即在六合之中，卷之即在坎中一點。以坎中一點示氣在血中，皆喻言也。）如天之日也，太陽從水中而出，子時一陽發動，真機運行，自下而上，自內而外，散水精之氣於周身，無時無刻無息不運行也。故《經》云：膀胱者，州都之官，津液藏焉，氣化則能出焉。氣化二字乃《傷寒》書一部的真機。要知氣化行於外，從皮膚毛竅而出水氣。（水即陰，氣即陽，外出是氣上而水亦上也。）氣化行於內，從溺管而出水氣。（內出是水降而氣亦降也。）外出者，輕清之氣，如天之霧露也。內出者，重濁之氣，如溝渠之流水也。</p>
<p>太陽之氣也無乖，一切外邪無由得入。太陽之氣偶衰，無論何節何候中，不正之氣干之，（一年六氣，即風、寒、暑、濕、燥、火六氣，乃是正氣。六氣中不正之氣，才是客氣。六氣，每氣司六十日有零，一年中三百六十日，而一年之事畢，循環之理寓矣。）必先從毛竅而入，閉其太陽運行外出之氣機，而太陽之經症即作，故曰傷寒。</p>
<p>今人只知冬月為傷寒，不知一年三百六十日，日日皆有傷寒。只要見得是太陽經證的面目，即是傷寒也。太陽為六經之首，初為外邪所侵，邪尚未盛，正未大衰，此際但能按定太陽經施治，邪可立去，正可立復。</p>
<p>因近來不按經施治，用藥不當，邪不即去，正氣日衰，邪氣日盛，勢必漸漸入內，故有傳經不傳腑，傳腑不傳經，二陽並病，三陽並病，兩感為病，漸入厥陰，邪苟未罷，又復傳至太陽。遷延日久，變證百出，邪盛正衰，釀成陰陽脫絕種種危候。</p>
<p>仲景立三百九十七法、一百一十三方，以匡其失而輔其正。邪在太陽經腑，則以太陽經腑之法治之。邪在陽明經腑，則以陽明經腑之法治之。邪在少陽經腑，則以少陽經腑之法治之。邪在太陰、少陰、厥陰，或從本化，或從中化，或從標化，按定標本中法治之。舉傷寒，而萬病已具；揭六經、明六氣，而一年節候已該。論客邪由外入內，剝盡元氣，能令人死；步步立法，扶危為安，似與內傷無涉。不知外邪入內，剝削元氣，乃是六經。七情由內而戕，剝削元氣，毋乃非六經乎？不過外邪之感，有傳經之分，七情之傷，無經腑之變。由外入內因有提綱，由內出外，亦有考據。不過未一一指陳，未明明道破，總在學者深思而自得之。（［眉批］客邪由外入內，以升散清解，不使入內為要。元氣由內出外，以溫固而收納，不使外出為要。只此兩法，誠為度世金針。）</p>
<p>予謂一元真氣即太陽。太陽進一步不同，又進一步不同；退一步不同，退兩步又不同。移步換形，移步更名，其中許多旨歸。外感內傷，皆本此一元有損耳。最可鄙者，今人云仲景之方是為冬月傷寒立法，並非為內傷與雜證立法。試問內傷失血肺痿，有服甘草乾薑湯而愈者否？嘔吐泄瀉，有服理中湯而愈者否？抑鬱肝氣不舒，兩脅脹痛，有服小柴胡而愈者否？夜夢遺精，有服桂枝龍牡湯而愈者否？腎臟不溫，水泛為痰，有服真武湯而愈者否？寒濕腰痛，有服麻黃附子細辛湯而愈者否？少氣懶言，困倦嗜臥，咳嗽潮熱，有服建中湯而愈者否？溫病初起，有服麻杏石甘湯、雞子黃連湯、四逆湯而愈者否？痢證，有服白頭翁湯、桃花湯而愈者否？腹痛吐瀉霍亂，有服理中湯、吳茱萸湯而愈者否？婦人經期、妊娠，有服桂枝湯而愈者否？痘證初起，有服桂枝湯、升麻葛根湯而愈者否？老人大便艱澀，有服麻仁丸而愈者否？陽虛大便下血，有服四逆湯而愈者否？陰虛大便膿血，有服雞子黃連湯而愈者否？今人不體貼，只記時行幾個通套方子，某病用某方倍其味，某病用某方減某味，如此而已。究其陰陽至理，全然莫曉，六經變化，罕有得知，愈趨愈下，不堪問矣。</p>
<p>附七絕一首：</p>
<p>傷寒二字立津梁，六氣循環妙理藏，不是長沙留一線，而今焉有作醫郎。</p>
<p>問曰冬傷於寒，春必病溫，其故何也？</p>
<p>夫曰冬傷於寒者，傷於太陽寒水氣也。冬令乃陽氣潛藏，正天一生水之際。少年無知，不能節欲，（［眉批］節欲二字，不專指房勞，兼一切耗氣之事。）耗散元精。（元精即天一。）元精一耗，（冬不藏精也），不能化生真水，即不能剋制燥金之氣。故當春之際，溫病立作。（二月屬卯，卯酉陽明，燥金主事。）苟能封固嚴密，（指冬能藏精者。）元精即能化生真水，而燥金自不敢橫行無忌，春即不病溫矣。此刻辛溫固本之藥，未可遽施，當從二日傳經之法治之，未為不可。雖然如此，又當細求，而清涼之品亦不可妄用。病人雖現大熱、口渴飲冷、譫語，又當於脈息、聲音之有神無神，（［眉批］無神非溫，有神乃是。）飲冷之多寡，大便之實與不實，小便之利與不利。有神者，可與麻杏石甘湯；無神者，可用回陽收納之法治之，庶不致人性命也。</p>

<h2>辨溫約言</h2>
<p>今人於春令偶感外邪，發熱、身疼、口渴飲冷、汗出譫語、便閉、惡熱等情，舉世皆云溫病，動用達原飲、三消飲、升解散、三黃石膏、大小承氣、普濟消毒散，種種方法。予思此等施治，皆是治客邪。（［眉批］客邪二字，春為風客，夏為火客，夏為濕客，按六氣即候可。）由太陽而趨至陽明，伏而不傳，漸入陽明之裡，以此等法治之，實屬妥貼。切切不可言溫，但言風邪傷了太陽，由太陽趨至陽明。風為陽邪，合陽明之燥熱，化為一團熱邪，熱盛則傷陰，故現氣實、脈實、身輕、氣粗，只宜清涼滋陰攻下等法。至於溫病，乃冬不藏精，根本先壞，這點元氣隨木氣發泄，病情近似外感，粗工不察，治以發散清涼，十個九死。予業斯道三十餘年，今始認得病情形狀，與用藥治法，一併敘陳。病人初得病，便覺頭昏，周身無力，發熱而身不痛，口不渴，昏昏欲睡，舌上無苔，滿口津液，而舌上青光隱隱；即或口渴，而卻喜滾，即或飲冷，而竟一二口；即或譫語，而人安靜閉目；即或欲行走如狂，其身輕飄無力；即或二便不利，倦臥，不言不語；即或汗出，而聲低息短；即或面紅，而口氣溫和；六脈洪大，究竟無力；即或目赤咽乾，全不飲冷，大便不實，小便自利。即服清涼，即服攻下，即服升解，熱總不退，神總不清，只宜回陽收納，方能有濟。</p>
<p>予經驗多人，一見便知。重者非十餘劑不效，輕者一二劑可了。惜乎世多畏薑、附，而信任不篤。獨不思前賢云，甘溫能除大熱，即是為元氣外越立法，即是為溫病立法。今人不分陰陽病情相似處理會，一見發熱，便云外感，便用升解；一見發熱不退，便用清涼滋陰、攻下；一見二便不利，便去通利。把人治死尚不覺悟，亦由其學識之未到也。茲再將陰虛、陽虛病情錄數十條，以與將來。</p>

<h2>辨認邪盛熱熾血傷病情</h2>

<h3>乾嘔不止</h3>
<p>病人二三日，發熱不退，脈息、聲音一切有神，乾嘔不止者，此熱壅於陽明也。法宜解肌清熱。</p>

<h3>張目譫語</h3>
<p>病人四五日，發熱惡熱，煩躁不寧，張目不眠，時而妄言，脈健者，此熱邪氣盛，氣主上升，故張目不眠，譫語頻臨，屬邪熱乘心，而神昏也。法宜清熱。熱清而正復，張目譫語自已。若瞑目譫語，脈空無神，又當回陽，不可養陰。</p>

<h3>口渴飲冷不止</h3>
<p>病人六七日，發熱不退，脈洪有力，飲冷不止者，此邪熱太甚,　傷及津液也。法宜滅火存陰為主。</p>

<h3>大汗如雨</h3>
<p>病人或六七日，發熱汗出如雨，脈大有力，口臭氣粗，聲音洪亮，口渴飲冷，此乃熱蒸於內，胃火旺極也。法宜急清肌熱。此有餘之候，並非久病亡陽可比。</p>

<h3>舌苔干黃煩躁不寧</h3>
<p>病人或七八日，發熱不退，舌苔干黃，煩躁不寧，脈健身輕，腸胃已實，此胃火太甚，津液將枯，急宜滋陰攻下為主。</p>

<h3>狂叫不避親疏</h3>
<p>病人或八九日，發熱不退，氣粗身輕，脈健，狂叫，目無親疏，棄衣奔走。此邪火旺極，亂其神明，神無所主也。急宜清涼攻下，滅去邪火，不可遲延。</p>

<h3>二便不利</h3>
<p>病人或七八日，發熱惡熱，煩躁不寧，口渴飲冷，脈健身輕，二便不利。此邪熱傷陰，血液不能滋潤溝渠，通體皆是一團邪火。急宜攻下，不可遲延。</p>

<h3>鼻如煤煙</h3>
<p>病人或八九日，發熱不退，煩躁飲冷，胸滿不食，口臭氣粗，忽現鼻如煤煙。此由邪火旺極，炎薰於上也。急宜攻下。</p>

<h3>肛門似烙</h3>
<p>病人或十餘日，發熱不退，脈健氣粗，煩躁不寧，飲水不已，自覺肛門似烙。此邪熱下攻於大腸，真陰有立亡之勢。急宜攻下，不可因循姑惜。</p>

<h3>小便涓滴作痛</h3>
<p>病人或八九日，發熱惡熱，煩渴飲冷，舌黃而芒刺滿口，脈健身輕，小便涓滴痛者。此邪熱下趨小腸，結於膀胱也。急宜清熱利水。</p>

<h3>食入即吐</h3>
<p>病人發熱惡熱，口臭氣粗，脈健，食入即吐者。此是邪熱伏於胃口，阻其下行之機。熱主上升，此刻邪熱為祟，升多降少，故食入即吐。急宜攻其邪火，邪火一滅，食自能下矣。</p>

<h3>昏沉不省人事</h3>
<p>病人或八九日，身熱不退，氣粗舌乾，小便短赤，大便極黃而溏，或清水、血水，脈健有力，或脈細如絲，或四肢厥逆，人雖昏沉，其口氣極蒸手，舌根必紅活，即舌黑起刺。此是邪熱入里，伏於其內。急宜攻下清裡，切不可妄用辛溫。</p>

<h3>日晡發熱飲冷妄言鬼神</h3>
<p>病人或八九日，十餘日，外邪未解，入於裡分，身雖發熱，日晡更甚，飲冷不已，妄言鬼神。此是熱甚傷血，神昏無主。急宜養血滋陰。並非陰火上騰、元氣外越可比。</p>

<h3>呃逆不止</h3>
<p>病人或八九日，發熱不退，口渴轉增，飲水不輟，忽見呃逆連聲。此由邪熱隔中，阻其交通之氣機也。法宜攻下。</p>

<h3>鼻血如注</h3>
<p>病人發熱煩躁，二便不利，口臭氣粗，忽見鼻血如注，發熱更甚者。此由邪火太甚，逼血妄行也。法宜清熱攻下。苟血出而熱退便通，又是解病佳兆。</p>

<h3>斑疹頻發</h3>
<p>病人發熱不退，煩躁不寧，飲冷氣粗，脈健神健，忽發現斑疹。此邪熱盡越於外，解病之兆。急宜隨機而升解之。</p>

<h3>乾咳無痰吐涎膠黏</h3>
<p>病人七八日，發熱不退，或熱已退，舌上干粗，脈健聲洪，煩渴飲冷，人時恍惚，乾咳不已，吐涎膠黏。此乃火旺津枯，熱逼於肺，宜潤燥清金瀉火為要。</p>

<h3>喉痛厥逆</h3>
<p>病人或八九日，發熱不退，或不身熱，脈健身輕，口氣極熱，小便短赤，神氣衰減，肌膚干粗，忽見喉痛厥逆。此邪入厥陰，熱深厥深，上攻而為喉痹是也。急宜清潤瀉火養陰為主。</p>

<h3>膿血下行不止</h3>
<p>病人或八九日，身熱不退，或身不熱，時而煩渴，時而厥逆，煩躁不寧。此厥陰邪熱下攻於腸也。法宜清火養陰為主。</p>

<h3>皮毛乾粗</h3>
<p>病人或七八日，發熱不退，或身不熱，心煩氣衰，小便短而咽中干，忽見皮膚干粗，毛髮枯槁。此邪火傷陰，血液失運。急宜瀉火養陰為主。</p>

<h3>筋攣拘急</h3>
<p>病人或七八日，或十餘日，發熱不退，或不身熱，煩渴咽乾，小便短赤，惡熱喜冷，忽然四肢拘急不仁。此由邪火傷陰，血液不榮於筋，故見拘急。法宜滋陰瀉火為主。</p>

<h3>陰囊如斗</h3>
<p>病人或十餘日，身熱未退，或不身熱，脈健身輕，心煩口渴，聲音洪亮，忽見陰囊紅腫，其大如斗，疼痛異常。此熱邪下攻宗筋，宗筋之脈，貫於陰囊。急宜瀉火養陰滋肝為主。</p>

<h3>周身紅塊</h3>
<p>病人身熱脈健，煩躁不寧，忽現周身紅塊，痛癢異常。此是邪熱壅於肌肉也。宜解肌清熱瀉火為主。</p>

<h3>身冷如冰形如死人</h3>
<p>病人八九日，初發熱，口渴飲冷，二便不利，煩躁譫語，忽見身冷如冰，形如死人。此是熱極內伏，陽氣不達於外，證似純陰。此刻審治，不可粗心，當於氣口中求之，二便處求之。予經驗多人，口氣雖微，極其蒸手，舌根紅而不青，小便短赤。急宜攻下，不可因循姑惜，切切不可妄用薑、附。</p>

<h3>頭面腫痛</h3>
<p>病人二三日，頭面腫痛。此邪熱壅於三陽也。急宜宣散清熱為主。</p>
<p>以上數十條，略言其概。其中尚有許多火證情形，有當用甘寒養陰法者，有當用苦寒攻下存陰法者，有當用清涼滋陰法者，有當用利水育陰法者，有當用潤燥救陰法者，有當用甘溫回陽救陰法者。種種不一，全在臨時變通。總之，正氣生人，邪氣死人。用養陰等法，皆為陽證邪火立說，而非為陰氣上騰之陰火立說。當知陽證邪火，其人脈息、聲音一切有神。若陰氣上騰之陰火，脈息、起居一切無神，陰象全具。此乃認證關鍵，不可不知。</p>

<h2>辨認陰盛陽衰及陽脫病情</h2>

<h3>頭痛如劈</h3>
<p>素稟陽虛之人，身無他苦，忽然頭痛如劈，多見唇青，爪甲青黑，或氣上喘，或脈浮空，或勁如石。此陽竭於上，急宜回陽收納，十中可救四五。</p>

<h3>目痛如裂</h3>
<p>察非外感，非邪火上攻，或脈象與上條同，病情有一二同者，急宜回陽，若滋陰解散則死。</p>

<h3>耳癢欲死</h3>
<p>審無口苦咽乾、寒熱往來，即非肝膽為病。此是腎氣上騰，欲從耳脫也，必有陰象足徵，急宜回陽收納。</p>

<h3>印堂如鏡</h3>
<p>久病虛極之人，忽然印堂光明如鏡，此是陽竭於上，旦夕死亡之徵。若不思而救之，急宜大劑回陽收納，光斂而飲食漸加，過七日而精神更健者，即有生機。否則未敢遽許。</p>

<h3>唇赤如朱</h3>
<p>久病虛極之人，無邪火可徵，忽見辰赤如朱。此真陽從唇而脫，旦夕死亡之徵。急服回陽，十中可救二三。</p>

<h3>兩顴發赤</h3>
<p>久病與素秉不足之人，兩顴發赤，此真元竭於上也。急宜回陽收納，誤治則死。</p>

<h3>鼻涕如注</h3>
<p>久病虛極之人，忽鼻涕如注。此元氣將脫，旦夕死亡之證。急宜回陽收納，或救一二。</p>

<h3>口張氣出</h3>
<p>久病虛極之人，忽見口張氣出。此元氣將絕，旦夕死亡之徵。法在不治，若欲救之，急宜回陽收納，以盡人事。</p>

<h3>眼胞下陷</h3>
<p>久病之人，忽見眼胞下陷。此五藏元氣竭於下也，旦夕即死，法在不治。若欲救之，急宜大劑回陽，十中或可救一二。</p>

<h3>白眼輪青</h3>
<p>久病虛損之人，忽見白睛青而人無神。此真陽衰極，死亡之徵。急宜回陽，十中可救五六。</p>

<h3>目腫如桃</h3>
<p>久病與素秉不足之人，忽見目腫如桃，滿身純陰，並無一點邪火風熱可驗。此是元氣從目脫出，急宜回陽收納，可保無虞。</p>

<h3>目常直視</h3>
<p>久病虛極之人，忽見目常直視。此真氣將絕，不能運動，法在死例。若欲救之，急宜回陽，或可十中救一二。</p>

<h3>目光如華</h3>
<p>久病與素秉不足之人，目前常見五彩光華。此五臟精氣外越，陽氣不藏，亦在死例。急宜回陽收納，十中可救五六。</p>

<h3>面色光彩</h3>
<p>久病虛損之人，忽見面色鮮豔，如無病之人，此是真陽已竭於上，旦夕死亡之客。若欲救之，急宜回陽，光斂而神稍健，過七日不變者，方有生機。否則不救。</p>

<h3>面如枯骨</h3>
<p>久病虛極之人，忽見面如枯骨。此真元已絕，精氣全無，旦夕死亡之徵。可預為辦理後事，急服回陽，十中或可救得一二。</p>

<h3>面赤如朱</h3>
<p>（面赤如瘀，而白如紙，面黑如煤，面青如枯草）</p>
<p>久病虛極之人，並無邪火足徵，忽見面赤如朱者，此真陽已竭於上也。法在不治，惟回陽一法，或可十中救一二。更有如瘀、如紙、如煤、如枯草之類，皆在死例，不可勉強施治。</p>

<h3>齒牙血出</h3>
<p>素秉陽虛之人，並無邪火足徵，陰象全具，忽見滿口齒牙血出。此是腎中之陽虛，不能統攝血液，陰血外溢，只有扶陽收納一法最妥。若以滋陰之六味地黃湯治之，是速其危也。</p>

<h3>牙腫如茄</h3>
<p>凡牙腫之人，察其非胃火風熱，各部有陰象足徵。此是元氣浮於上而不潛藏，急宜回陽收納封固為要。若以養陰清火治之，是速其亡也。</p>

<h3>耳腫不痛</h3>
<p>凡耳腫之人，其皮色必定如常，即或微紅，多含青色，各部定有陰象足徵，急宜大劑回陽，切勿謂肝膽風熱，照常法外感治之，是速其死也。</p>

<h3>喉痛飲滾</h3>
<p>凡喉痛飲滾之人，必非風熱上攻，定見脈息、聲音一切無神，陰象畢露，急宜回陽之藥，冷服以救之，其效甚速。此是陽浮於上，不安其宅，今得同氣之物以引之，必返其舍。若照風熱法治之，是速其危矣。</p>

<h3>咳嗽不已</h3>
<p>久病與素秉不足之人，或過服清涼發散之人，忽然咳嗽異常，無時休息，陰象全具，此是陰邪上干清道，元陽有從肺脫之勢。急宜回陽祛陰，陽旺陰消，咳嗽自止，切不可仍照滋陰與通套治咳嗽之上方治之。若畏而不回陽，是自尋其意也。</p>

<h3>氣喘唇青</h3>
<p>久病與素秉不足之人，忽見氣喘唇青，乃是元氣上浮，脫絕之徵，法在難治。急宜回陽降逆收納。俟氣喘不作，唇色轉紅，方有生機。苟信任不專，聽之而已。</p>

<h3>心痛欲死</h3>
<p>凡忽然心痛，欲死之人，或面赤，或唇青，察定陰陽，不可苟且。如心痛，面赤，飲冷，稍安一刻者，此是邪熱犯於心也，急宜清火。若面赤而飲滾，兼見唇舌青光，此是寒邪犯於心也，急宜扶陽。</p>

<h3>腹痛欲絕</h3>
<p>凡腹痛欲死之人，細察各部情形，如唇舌青黑，此是陰寒凝滯，陽不運行也，急宜回陽。如舌黃氣粗，二便不利，周身冰冷，此是熱邪內攻，閉其清道，急宜宣散通滯，如今之萬應靈通丸，又名兌金丸，又名靈寶如意丸，又名川督普濟丸，又名玉樞萬靈丹，一半吹鼻，一半服，立刻見效，不可不知也。</p>

<h3>腸鳴瀉泄</h3>
<p>凡久病與素秉不足之人，有腸鳴如雷、泄瀉不止者，此乃命門火衰，臟寒之極，急宜大劑回陽。若以利水之藥治之，必不見效。予曾經驗多人。</p>

<h3>大便下血</h3>
<p>凡久病與素秉不足之人，忽然大便下血不止，此是下焦無火，不能統攝，有下脫之勢。急宜大劑回陽，如附子理中、回陽飲之類。</p>

<h3>小便下血</h3>
<p>此條與上大便下血同。予曾經驗多少，皆是重在回陽，其妙莫測，由其無邪熱足徵也。</p>

<h3>精滴不已</h3>
<p>大凡好色之人與素秉不足之人，精常自出，此是元陽大耗，封鎖不密，急宜大劑回陽，交通水火為主。予嘗以白通湯治此病，百發百中。</p>

<h3>午後面赤</h3>
<p>凡午後面赤，或發燒，舉世皆謂陰虛，不知久病與素秉不足之人，陽氣日衰，不能鎮納其陰，陰邪日盛，上浮於外，況午後正陰盛時，陽氣欲下潛藏於陰中，而陰盛不納，逼陽於外，元氣升多降少，故或現面赤，或現夜燒。此皆陰盛之候，若按陰虛治之，其病必劇。予常以回陽收納、交通上下之法治之，百發百中。</p>

<h3>身癢欲死</h3>
<p>久病與素秉不足之人，身忽癢極，或通身發紅點，形似風疹，其實非風疹。風疹之為病，必不癢極欲死，多見發熱身疼，惡寒惡風。若久病、素不足之人，其來者驟，多不發熱身疼，即或大熱，而小便必清，口渴飲滾，各部必有陰象足徵，脈亦有浮空、勁急如繩可據。此病急宜大劑回陽收納為要，若作風疹治之，速其亡也。</p>

<h3>大汗如雨</h3>
<p>久病與素秉不足之人，忽然大汗如雨，此亡陽之候也。然亦有非亡陽者。夫大汗如雨，驟然而出，片刻即汗止者，此非亡陽，乃陰邪從毛竅而出，則為解病之兆。若其人氣息奄奄，旋出而身冷者，真亡陽也，法則不治。若欲救之，亦只回陽一法。然陽明熱極，熱蒸於外，亦有大汗如雨一條，須有陽症病情足徵。此則陰象全具，一一可考。</p>

<h3>大汗呃逆</h3>
<p>久病與素秉不足之人，與過服克伐清涼之人，忽然大汗呃逆，此陽亡於外，脾腎之氣絕於內，旦夕死亡之證也。急宜回陽降逆。服藥後，如汗止呃逆不作，即有生機。若仍用時派止汗之麻黃根、浮小麥，止呃之丁香、柿蒂，未有不立見其死者也。</p>

<h3>身熱無神</h3>
<p>久病與素秉不足之人，或偶勞心，忽見身大熱而不疼，並無所苦，只是人困無神，不渴不食。此是元氣發外，宜回陽收納，一劑可愈。若以為發熱，即照外感之法治之，是速其危也，世多不識。</p>

<h3>吐血身熱</h3>
<p>凡吐血之人，多屬氣衰，不能攝血。吐則氣機向外，元氣亦與之向外，故身熱。急宜回陽收納為主，切不可見吐血而即謂之火，以涼劑施之。</p>

<h3>大吐身熱</h3>
<p>《經》云：吐則亡陽，吐屬太陰。大吐之人，多緣中宮或寒或熱，或食阻滯。若即吐已，而見周身大熱，並無三陽表證足徵。此屬脾胃之元氣發外，急宜收納中宮元氣為主，切不可仍照藿香正氣散之法治之。予於此證，每以甘草乾薑湯加砂仁，十治十效。</p>

<h3>大泄身熱</h3>
<p>久病與素秉不足之人，忽然大泄，漸而身大熱者，此屬陽脫之候。大熱者，陽竭於上；大泄者，陰脫於下。急宜溫中收納為主。切不可一見身熱，便云外感，一見大泄，便云傷食。若用解表、消導、利水，其禍立至，不可不知。</p>

<h3>午後身熱</h3>
<p>《經》云：陰虛生內熱。是指邪氣旺而血衰，並非專指午後、夜間發熱為陰虛也。今人全不在陰陽至理處探取盈縮消息，一見午後、夜間發熱，便云陰虛，便去滋水。推其意，以為午後屬陰，即為陰虛，就不知午後、夜間正陰盛之時，並非陰虛之候。即有發熱，多屬陰盛隔陽於外，陽氣不得潛藏，陽浮於外，故見身熱。何也？人身真氣從子時一陽發動，歷醜寅卯辰巳，陽氣旺極，至午未申酉戌亥，陽衰而下潛藏。今為陰隔拒，不得下降，故多發熱。此乃陰陽盛衰，元氣出入消息，不可不知也。</p>
<p>予於此證，無論夜間、午後發燒熱，或面赤，或唇赤，脈空，飲滾，無神，即以白通湯治之，屢治屢效。</p>

<h3>皮毛出血</h3>
<p>久病與素秉不足之人，忽見皮毛出血，此乃衛外之陽不足，急宜回陽收納，不可遲延。</p>

<h3>陰囊縮入</h3>
<p>久病與素秉不足之人，忽然囊縮腹痛，此厥陰陰寒太甚，陽氣虛極也，急宜回陽。或用艾火燒丹田，或臍中；或以胡椒末綿裹塞臍中，用有力人口氣吹入腹中，痛即止，亦是救急妙法。</p>

<h3>兩腳大燒</h3>
<p>久病與素秉不足之人，或夜臥，或午後兩腳大燒，欲踏石上，人困無神。此元氣發騰，有亡陽之勢，急宜回陽收納為主。切不可妄云陰虛，而用滋陰之藥。</p>

<h3>兩手腫熱</h3>
<p>凡素秉不足之人，忽然兩手腫大如盂，微痛微紅，夜間、午後便燒熱難忍。此陰盛逼陽，從手脫也，急宜回陽收納力主。</p>

<h3>兩乳忽腫</h3>
<p>凡素秉不足之人，忽然兩乳腫大，皮色如常，此是元氣從兩乳脫出，切勿當作瘡治，當以回陽收納為主。</p>

<h3>瘡口不斂</h3>
<p>凡瘡口久而不斂，多屬元氣大傷，不能化毒生肌，只宜大劑回陽。陽回氣旺，其毒自消，其口自斂。切忌養陰清涼，見瘡治瘡。</p>

<h3>痘瘡平塌</h3>
<p>凡痘瘡平塌，總緣無火，只宜大劑回陽，切不可兼用滋陰。</p>

<h3>肛脫不收</h3>
<p>凡素秉不足之人，或因大泄，或因過痢，以致肛脫不收。此是下元無火，不能收束，法宜回陽，收納腎氣，或灸百會穴，亦是良法。</p>

<h3>小便不止</h3>
<p>久病與素秉不足之人，忽見小便日數十次，每來清長而多。此是下元無火也，急宜回陽，收納腎氣，切不可妄行利水。</p>

<h3>腹痛即泄</h3>
<p>久病與素秉不足之人，多有小腹一痛，立即泄瀉，或溏糞、清白糞，日十餘次。此屬下焦火衰，陰寒氣滯，急宜回陽。切不可專以理氣分利為事。</p>

<h3>身疼無熱</h3>
<p>久病與素秉不足之人，忽見身疼，而卻不發熱者，是里有寒也，法宜溫里。但服溫里之藥，多有見大熱身疼甚者，此是陰邪漬散，即愈之徵，切不可妄用清涼以止之。</p>

<h3>身熱無疼</h3>
<p>久病與素秉不足之人，與服克伐宣散太過之人，忽見身熱，而卻無痛苦，並見各部陰象足徵。此是陽越於外也,　急宜回陽收納，不可妄用滋陰、升散。</p>

<h3>身冷內熱</h3>
<p>久病與素秉不足之人，身外冷而覺內熱難當，欲得清涼方快，清涼入口，卻又不受，舌青滑而人無神，二便自利。此是陰氣發潮，切不可妄用滋陰清涼之品，急宜大劑回陽，陽回則陰潮自滅。若果系時疫外冷內熱之候，其人必煩躁，口渴飲冷，二便不利，人必有神，又當攻下，回陽則危。</p>

<h3>身熱內冷</h3>
<p>久病之人，忽見身大熱而內冷亦甚，疊褥數重。此是陽越於外，寒隔於內，急宜回陽，陽氣復藏，外自不熱，內自不冷。切不可認作表邪，若與之解表，則元氣立亡。此等證多無外感足徵，即或有太陽表證，仍宜大劑回陽藥中加桂、麻幾分，即可無虞。</p>

<h3>身重畏冷</h3>
<p>久病與素秉不足之人，忽見身重畏冷者，此是陰盛而陽微也，急宜回陽。</p>

<h3>身強不用</h3>
<p>久病與素秉不足之人，與過服克伐宣散之人，忽然身強不用。此是真陽衰極，陽氣不充，君令不行，陰氣旺甚，阻滯經脈。宜大劑回陽，陽旺陰消，正氣復充，君令復行，其病自已。世人不識，多以中風目之，其用多以祛風，每每釀成壞證，不可不知也。</p>

<h3>腳輕頭重</h3>
<p>久病與素秉不足之人，人忽見腳輕頭重。此是陰乘於上，陽衰於內也。急宜回陽，收納真氣。陽旺陰消，頭重不作，便是生機。</p>

<h3>腳麻身軟</h3>
<p>久病與素秉不足之人，多有腳麻身軟者。此是陽氣虛甚，不能充周，急宜甘溫扶陽。陽氣充足，其病自已。</p>

<h3>氣喘脈勁</h3>
<p>久病之人，忽見氣喘脈勁，此陽竭於上，旦夕死亡之候，急急回陽，十中可救一二。但非至親，切切不可主方，即主方亦必須批明，以免生怨。切不可見脈勁而云火大，便去滋陰降火。</p>

<h3>吐血脈大</h3>
<p>凡吐血之人，忽見脈來洪大。此陽竭於上，危亡之候也。今人動云，吐血屬火，脈大屬火，皆是認不明陰陽之過也。（［眉批］人能知得血是水，氣是火，便知得滋陰之誤，薑、附之效也。）</p>

<h3>虛勞脈勁</h3>
<p>凡虛損已極之人，脈象只宜沉細。若見洪大細數，或弦，或緊，或勁，或如擊石，或如粗繩，或如雀啄、釜沸，皆死亡之候。切切不可出方。果系至親至友，情迫不已，只宜大甘大溫以扶之。苟能脈氣和平，即有生機。切切不可妄用滋陰。要知虛損之人，多屬氣虛，所現證形，多有近似陰虛，其實非陰虛也。</p>
<p>予嘗見虛損之人，每每少氣懶言，身重嗜臥，潮熱而口不渴，飲食減少，起居動靜一切無神，明明陽虛，並未見一分火旺陰虛的面目。</p>
<p>近閱市習，一見此等病情，每稱為陰虛，所用藥品，多半甘寒養陰，並未見幾個膽大用辛溫者。故一成虛勞，十個九死。非死於病，實死於藥；非死於藥，實死於醫。皆由醫家不明陰陽至理，病家深畏辛溫，故罕有幾個得生，真大憾也。</p>
<p>以上數十條，揭出元氣離根、陽虛將脫危候，情狀雖異，病源則一。學者苟能細心體會，胸中即有定據，一見便知，用藥自不錯亂。雖不能十救十全，亦不致誤人性命。但病有萬端，亦非數十條可盡，學者即在這點元氣上探求盈虛出入消息，雖千萬病情，亦不能出其範圍。予更一言奉告，夫人身三百六十骨節，節節皆有神，節節皆有鬼。神者，陽之靈，氣之主也；（此言節節，皆正氣布護。）鬼者，陰之靈，血之主也。（此言節節，皆真陰布護。故前賢云，鬼神塞滿宇宙。宇宙指天地，指人身也。）無論何節現出鬼象，（即陰邪也。）即以神治之。（神，陽也，火也，氣也。以陽治陰，即益火之源，以消陰翳。即扶南瀉北之意，即補火治水之義。用藥即桂、附、薑、砂，一承是也。）無論何節現出邪神為殃，（言邪神者，明非即正氣之盛，指邪氣之盛，邪氣即邪火也。乾坤以正氣充塞，正氣不能害人，氣始能害人，故曰邪神。）又可以鬼伏之。（鬼，陰也，血也，水也；邪神，邪火也。鬼伏神，即以水治火，滋陰降火。用藥即三黃石膏、大小承氣一派是也。今人動云滋陰降火，皆是為邪火傷陰立說，並未有真正陰虛。即謂陰虛，皆陽虛也。何則？陰陽本一氣，不可分也。故《經）云：氣旺則血旺，氣衰則血衰，氣升則血升，氣降則血降，氣在則血在，氣亡則血亡。明得此理，便知天一生水之旨歸，甘溫、辛溫回陽之妙諦。）學者不必他處猜想，即於鬼神一語，領會通身陰陽，用藥從陰從陽法度，認得邪正關鍵，識得諸家錯誤，便可超人上乘，臻於神化。</p>

<h2>辨脈切要</h2>
<p>浮脈（主風）、洪脈（主火）、實脈（主熱）、數脈（主熱）、緊脈（主寒）、滑脈（主痰）、沉脈（屬陰）、遲脈（屬寒）、細脈（不足）、微脈（不足）、虛脈（不足）、弱脈（不足。）</p>
<p>以上脈象，諸書言：浮主風也，洪與實、數、滑主火，主熱，主寒，主痰也。予謂浮脈未可遽概為風。洪、大、實、數、緊、滑未可遽概為火，為熱，為寒，為痰也。沉、遲、細、微與虛、弱，亦未可遽概為陰，為寒，為不足，為虛損也。要知外感脈浮，而病現頭疼身痛、發熱惡風、自汗、鼻築流清，始可以言風也。若內傷已久，元氣將脫之候，脈象亦浮，猶得以風言之乎？洪、大、實、數之脈，而病現發熱惡熱、煩躁、口渴飲冷、譫語、口臭氣粗、二便閉寒之類，始可以言火，言熱也。若內傷已久，元氣將脫之候，脈象有極洪、極長、極實、極數、極勁之類，又尚得以時行火熱證言之乎？緊寒、滑痰之脈，而病現身疼、發熱畏寒，與吐痰不休之類，始可言寒邪，痰濕也。若內傷已久，元氣將脫之候，脈象亦有極緊、極滑之形，又尚得以寒痰目之乎？沉、遲、細、微、虛、弱之脈，而病現面白唇青、少氣懶言、困倦嗜臥之類，乃可以言不足，言虛寒，言陰陽兩傷。若外邪深入，協火而動，閉其清道，熱伏於中，陽氣不達於四末，四肢冰冷，惟口氣蒸手，小便短赤而痛，此為陽極似陰，又尚得以氣血虛損言之乎？總之，脈無定體，認證為要，陰陽內外，辨察宜清。雖二十八脈詳分，亦不過資顧問已耳。學者苟能識得此中變化，便不為脈所囿矣。</p>

<h2>切脈金針</h2>
<p>夫脈者，氣與血渾而為一者也。其要在寸口，（百脈皆會於此。）其妙在散於周身，隨邪之淺深、臟腑之盛衰、人性之剛柔、身體之長短、肌肉之肥瘦、老幼男女之不同，變化萬端。其綱在浮、沉、遲、數，其妙在有神、無神。（即有力、無力也。）有神無神者，即盈縮機關，內外秘訣。他如浮、洪、長、大、數、實，皆為盈，為有餘之候。果病情相符，則為脈與病合，當從有餘立法施治。如脈雖具有上等象，而病現不足已極，則為脈不合病，當舍脈從病，急宜扶其不足，培其本源。切勿惑於浮風、洪火之說。若按浮風、洪火治去，則為害非淺。沉、遲、細、微、虛、弱皆為縮，為不足。果病情相符，則為脈與病合，當照不足立法施治。如脈雖具以上等象，而病現有餘已極，又當舍脈從病。切勿惑於沉、遲、細、微為虛損。若按虛損治去，則為禍不淺。予恆曰，一盈一縮，即陰陽旨歸，萬病繩墨。切脈知此，便易進步，便易認證，庶不為脈所囿矣。</p>

<h2>相舌切要</h2>

<h3>舌上白苔</h3>
<p>病人雖舌現白苔，並未見頭疼身痛、發熱惡寒、惡熱等情，切不可認為表證，認為瘟證。當於脈息、聲音、起居動靜、有神無神處探求病情，自有著落，切切不可猛浪。如果有表證足徵，始可照解表法施治。</p>

<h3>舌上黃苔</h3>
<p>病人雖舌現黃苔，無論干黃色、潤黃色、老黃色、黑黃色，並未見口渴飲冷、煩躁、惡熱、便閉等情，切不可便謂火旺熱極，當於陽虛、真氣不上升處理會，病情上理會，治法即在其中。如果見便閉、口臭氣粗、身輕惡熱、心煩飲冷、精神有餘等情，便當攻下，不可遲延。</p>

<h3>舌上黑苔</h3>
<p>病人雖舌現黑苔，無論乾黑色、青黑色、潤黑色，雖現陰象，切不可即作陰證施治。如其人煩躁、口渴飲冷、惡熱身輕、氣粗口臭、二便閉結，即當攻下，不可遲延。如其人安靜懶言、困倦、不渴不食、二便自利，即當回陽，不可遲延。</p>
<p>舌上紅黑色　舌上潤白苔　舌根獨黃色　舌上白黃色　舌上黃芒刺　舌尖獨青色　舌上黑黃色　舌上黑芒刺　舌根獨黑色　舌上青黃色　舌上白芒刺　舌尖慘紅色　舌上粉白苔　舌上青紅色　舌心獨黃色　舌上乾白苔　舌上淡黃色　舌邊獨白色　舌裂而開瓣　舌如豬腰色。</p>
<p>舌之分辨，實屬繁冗，亦難盡舉。姑無論其舌之青、黃、赤、白、黑、干潤、燥裂、芒刺滿口、紅白相間、黃黑相兼，統以陰陽兩字盡之矣。是陰證則有陰象足徵，是陽證則有陽證可憑。識得此旨，則不專以舌論矣。諸書紛紛論舌，言某舌當某藥，某舌當某方，皆是刻舟求劍之流，不可為法。學者務於平日，先將陰陽病情，真真假假熟悉胸中，自然一見便知，亦是認證要著。</p>

<h3>萬病一氣說</h3>
<p>病有萬端，發於一元。一元者，二氣渾為一氣者也。一氣盈縮，病即生焉。有餘即火，不足即寒。他如脈來洪大，氣之盈也，脈來數實，脈來浮滑，氣之盈也，間亦不足。（脈來洪大數實浮滑，乃邪實火盛，此為有餘。久病暴脫，亦有此脈象，不可不知。）脈來遲細，氣之縮也，脈來短小，脈來虛弱，氣之縮也，間亦有餘。（脈來遲細短小虛弱，皆為不足。若溫病熱極脈伏，亦有此脈，不可不知。）脈來劈石，脈來魚尾，脈來雀啄，脈來釜沸，脈來掉尾，脈來散亂，氣之絕也。</p>
<p>推之面色如朱，氣盈之驗，亦有縮者。（素乎面赤，不作病看。新病面赤惡熱，則為邪實火旺。久病無神，虛極之人而面赤，則為陽竭於上，脫絕之候。色如雞冠者吉，色如瘀血者死。）面青有神，氣盈之驗，亦有縮者。（素乎面青有神，不作病看。有病而始面青，則為肝病。有神主肝旺，無神主肝虛。色如翠羽者吉，色如枯草者凶。）面白有神，氣盈之驗，亦有縮者。（素乎面白，不作病看。有病而始見面白者，方以病論。白而有神，肺氣嘗旺。白而無神。肺虛之徵。白如豬膏者吉，色如枯骨者危。）面黃有神，氣盈之驗，亦有縮者。（素乎面黃，不作病看。有病而始面黃，方以病論。黃而有神，胃積之盛。黃而無神，氣弱之徵。黃而鮮明者吉，黃如塵埃色者凶。）面黑有神，氣盈之驗，亦有縮者。（素乎面黑，不作病看。有病而始面黑，方以病論。黑而有神，腎氣尚旺。黑而無神，腎氣衰弱。黑如鳥羽者吉，色如炭煤者危。）此論五色之盛衰，其中尚有生克。額屬心，而黑氣可畏。鼻屬土，而青色堪驚。骸下黃而水病，腮左白而肝傷，腮右赤兮火灼，唇上黑兮水泱。氣色之變化多端，明暗之機關可據。</p>
<p>至若審音察理，五音細詳。（五音指宮、商、角、徵、羽，以應人身五臟也。）聲如洪鐘，指邪火之旺極。（素來音洪，不作病看。有病而始見聲洪，則為邪實火旺，法宜瀉火為主。）語柔而細，屬正氣之大傷。（素來聲細，不作病看，有病而始見聲低息短，則為不足。）忽笑忽歌，心脾之邪熱已現。（笑主心旺，歌主脾旺。）或狂或叫，陽明之氣實方張。（狂叫乃胃熱極。）瞑目而言語重重，曰神曰鬼。（瞑目妄言鬼神，是正氣虛極，神不守舍也。）張目而呼罵叨叨，最烈最橫。（肝火與心胃邪旺，其勢有不可撲滅。）</p>
<p>曰飲食，曰起居也，須考證。食健力健，言氣之盈。食少力少，本氣之縮。飲冷飲滾兮，陰陽之形蹤已判。好動好臥兮，虛實之病機畢陳。</p>
<p>至於身體，更宜詳辨。肌肉豐隆，定見胃氣之旺。形瘦如柴，已知正氣之微。皮膚干潤，判乎吉凶。毛髮脫落，知其正敗。</p>
<p>要知風氣為殃，春溫之名已播。火氣作祟，暑熱之號已工。濕氣時行，霍亂之病偏多。燥氣行秋，瘧痢之病不少。又乃冬布嚴寒，傷寒名著。一年節令，病氣之變化無窮；六氣循環，各令之機關可據。六氣，即是六經，六經仍是一經。五行分為五氣，五氣仍是一氣。揭太陽以言氣之始，論厥陰以言氣之終，晝夜循環，周而復始。病也者，病此氣也。（周身骨節、經絡，皆是後天有形之質，全賴一氣貫注。雖各處發病，形勢不同，總在一氣之中。神為氣之宰，氣傷則神不安，故曰病。）氣也者，周身軀殼之大用也。（身中無氣則無神，故曰死。）用藥以治病，實以治氣也。氣之旺者宜平，（正氣不易旺，惟邪氣易旺，須當細分。）氣之衰者宜助，（衰有邪衰、正衰之別，當知。）氣升者宜降，（瀉其亢盛。）氣之陷者宜舉，氣之滯者宜行，氣之郁者宜解，氣之脫者宜固，氣之散者宜斂。知其氣之平，知其氣之變，用藥不失宜，匡救不失道，醫之事畢矣。</p>

<h3>胎元圖說</h3>
<figure>
<img alt="胎元圖">
</figure>
<p>今以一大圈，喻人一身之真氣，中有一小圈，喻人身受胎之始基。始基之謂，胎元之消息也，稱為祖氣，號曰先天。先天，即父母精血中一點真氣。（［眉批］陽精陰血，各具真氣，故曰真氣寓於凡精凡血之中。）二氣渾為一氣，一氣中含五氣，（五氣，即青黃赤白黑，秉天也。五氣即金木水火土，秉地也。在人即心肝脾肺腎。《經》云：二五精妙，合二凝是也。）五氣發生萬物。（陰陽配合，迭相運用，化生五臟六腑，百脈經絡，天地所有，人身皆具。然未生以前，五行在乾坤之中。既生以後，乾坤即在五行之內。五氣生萬物，一物一太極，一物一陰陽。陽之用從晝，陰之用從夜，此坎離之功用所由分，而萬物之功用所由出。由一而萬理攸分，由萬而一元合聚。）故曰：一粒粟藏大千世界，即此之謂也。（孟子云：萬物皆備於我，皆是由明善復初，以知得箇中這一點機關，這一點胎元消息也。）其中這—點真消息，逐日運行，無刻休息。子時發動，由下而中而上，（陽根於陰，故由下而發上。）由上而中而下，（陰根於陽，故由上而趨下。此陰陽互為其根，一元之消息也。）循環不已。然由下而中而上，三陽已分；（下中上為三部。陽主上升。一氣分為三部，即太陽、陽明、少陽也。）由上而中而下，三陰已定。（上中下為三部。陰主下降，陽從背面，陰從腹面。三陰即太陰、少陰、厥陰是也。）合之二三如六，故曰六步而成位。六爻之義於此分，六氣六經之所由判，亦無非這一點胎元，流行充周之所化育也。</p>
<p>仲景知得六步之精義，移步換形，移步更名，變化萬端，不出範圍。予初業斯道，即聞諸師云，萬病不出六經，不出陰陽，終不了了。冥心之餘，忽得此胎元消息，始識師言之不謬，仲景之骨髓如見矣。</p>

<h2>用藥須知</h2>

<h3>外感風寒忌收納也</h3>
<p>凡一切外邪初入，切不可攻下，攻下則引邪入里，變證百出。切不可妄用溫固收納，收納為關門捉賊，延禍匪輕。切不可妄用滋陰，滋陰則留戀陰邪，病根難除。只宜按定六經提綱病情施治，庶不誤人。</p>

<h3>內傷虛損忌發散也</h3>
<p>凡內傷之人，多半咳嗽，由清陽不升，濁陰不降，閉塞清道而成。只宜辛甘化陽之品，蕩去陰邪，清升濁降，咳嗽自已。昧者不識，稱為陳寒入肺，純用一派搜寒宣散之品，每每釀成脫證。不知病既內傷，正虛無疑，而更用此宣散，則一線之正氣，又為大傷，豈能久延時刻而不脫絕者乎。</p>
<p>凡內傷之人，多半胸滿不食，痰多。由中宮氣衰，轉輸失職，陰邪痰水堵寒胸中，只宜溫中醒脾助正，胸滿、痰水自去也。昧者不察，多用一派推蕩破滯之品，每每釀成腹脹不治之病，不可不知。</p>
<p>凡內傷之人，多有身熱而卻不疼，雖然內熱而口不渴。如此等病情，近似外感，近似火症，只宜回陽收納。收納則陽不外越，而身熱自已；陽回則鎮納陰邪，而陰潮不作。（諸書稱內熱由陰虛，不知陽衰而陰鬼立出，即晝夜亦可知也。）昧者不識，一見發熱，稱為外感，便以發散，投之必危；一見內熱，稱為陰虛，滋陰降火必殆。</p>

<h3>陽虛吐血忌滋陰也</h3>
<p>凡吐血之人，由正氣已衰，中宮不運，陰邪僭居陽位，久久積聚，陽無力以施運行之權，陽無力以申乾剛之令，一觸即發，血所以出也。只宜甘溫扶陽，以申其正氣，正氣日申，陰血自降，一定之理。昧者不察，一見吐血，便以滋陰止血之品，希圖速效，究竟釀成死證。含糊有年，真憾事也。</p>

<h3>陰虛吐血忌溫補也</h3>
<p>凡陰虛吐血之人，多半精神有餘，火伏於中，逼血妄行，吐後人不困倦，此乃有餘之候，百中僅見一二。只宜清涼，平其有餘。若照陽虛吐血治之必殆，不可不知。</p>

<h3>陽虛一切病證忌滋陰也</h3>
<p>凡陽虛之人，多屬氣衰血盛，無論發何疾病，多緣陰邪為殃，切不可再滋其陰。若更滋其陰，則陰愈盛而陽愈消，每每釀出真陽外越之候，不可不知。</p>

<h3>陰虛一切病證忌溫補也</h3>
<p>凡陰虛之人，多屬氣盛血衰，無論何部發病，多緣火邪為殃，切不可再扶其陽。若扶其陽，則陽愈旺而陰愈消，每每釀出亢龍有悔之候，不可不知。</p>

<h3>病有宜汗者</h3>
<p>太陽病，發熱身疼，自汗，惡風者，當發汗。太陽病外症未解，脈浮弱者，當微發汗。太陽病表症未罷，發汗未過，脈浮數者，仍可發汗。陽明病，脈遲汗出多，微惡寒者，表未解也，可發汗。太陰病，脈浮者，可發汗。太陰病汗後不解，仍發熱，脈浮者，當復汗之。傷寒發汗本無體，隨邪之淺深，本氣之盛衰，有大發汗、復發汗、微發汗，更有和解，亦得汗而解，溫經亦得汗而解，回陽亦得汗而解，不可不知。</p>

<h3>病有不宜汗者</h3>
<p>仲景云：陽盛陰虛，下之則愈，汗之則死。發熱身疼，脈浮緊者，當發汗。假令尺脈遲弱者，不可發汗，以營弱血少故也。咽燥喉痹者，不可發汗，津液現已傷也。咳而小便利，若無小便者，不可發汗，下元虛也。下利，雖有表證，不可發汗，發汗則水濕必散於周身，而成浮腫脹滿。淋家不可發汗，發汗則津液內亡，客熱更增。衄血、亡血家，不可發汗，以其血液虛也。瘡家不可發汗，發汗則痙。表虛熱盛故生瘡，汗之則表愈虛而熱愈熾，熱則傷血，熱則生風，故變為痙。少陰病，脈沉細數，沉為在裡，不可發汗。大便素難便者，不可發汗，發汗則譫語，以其血液既少，而復奪之，表虛里實，故譫語。汗家不可重發汗，發汗則心神恍惚，蓋以汗為血液也，心液大耗，神無所主，故見恍惚。虛人發熱，無身疼者，不可發汗，發汗則陽亡。蓋以發熱乃陽越於外，收之唯恐不及，今誤汗之，陽必亡。血氣欲絕，手足厥冷，引衣踡臥，不可發汗，發汗則殆。厥證脈緊，不可發汗，汗則聲絕咽嘶舌萎。要知陽厥宜下，即熱深厥深是也；陰厥宜回陽，即四逆湯法是也。脈弦細，頭痛發熱者，屬少陽，宜和解，不宜發汗，發汗則變證百出。太陽與少陽並病，頭項強痛，或眩冒，時加結胸，心下痞硬者，不可發汗。風溫證不可發汗，汗之則熱盛，汗則血傷也。濕溫證不可發汗，汗之衛陽虛，津液竭，熱必盛也。虛煩證不可發汗，汗之則心血虛，而煩愈盛也。午後熱，不可發汗，汗之則陽亡。久病陽虛陰虛，一切諸證，不可擅發汗。</p>

<h3>病有宜吐者</h3>
<p>病如桂枝證，頭不疼，項不強，寸脈微浮，胸中痞硬，氣上衝咽喉，不得息者，此為有寒。一云內有久痰，宜吐之。病人胸中菀菀而痛，不能食，欲使人按之，而反有涎唾，下利日十餘行，其脈反遲，寸口微滑，此宜吐之，吐之則利止。少陰病，飲食入口即吐，心下溫溫欲吐，復不能吐者，宜吐之。宿食在上脘者，當吐之。病手足逆冷，脈乍結，以客氣在胸中，心下滿而煩，欲食不能，病在胸中，當吐之。凡病在膈上，脈大、胸滿、多痰者，食在胃口，脈滑者，俱宜吐之。</p>

<h3>病有不宜吐者</h3>
<p>脈虛、脈微者，不可吐。太陽病乾嘔、嘔逆者，不可吐，吐之則傷胃。四肢厥逆者，不可吐。膈上有寒飲，乾嘔者，不宜吐，當溫之。凡中下二部之病，切不可吐，吐則為逆。</p>

<h3>病有宜下者</h3>
<p>發汗不解，腹滿痛者，急下之。下利，三部脈皆平，按之心下硬者，急下之。下利，脈遲滑者，內實也，利未欲止，當下之。脈滑而數者，有宿食也，宜下之。寸脈浮大，按之反澀，尺中亦微而澀，知有宿食也，宜下之。下利，不欲食者，以有宿食故也，當下之。下利，見譫語者，有屎燥也，宜下之。下利瘥，至其年月日時復發者，病不盡故也，當下之。傷寒六七日，目中不了了，睛不合，無表裡證，大便難，身微熱者，此為實也，急下之。陽明病，發熱汗出多者，急下之。二陽並病，太陽證罷，但發潮熱，手足漐漐汗出，大便難而譫語者，下之則愈。少陰病得之二三日，口燥咽乾者，急下之。此邪未深入，便作口燥，腎水將干，宜急下之，以救欲絕之水也。少陰證六七日，腹脹不大便者，急下之。此少陰邪熱入胃府也，土勝則水乾，宜急下以救腎水。少陰病，自利清水，色純青，心中必痛，口中燥者，急下之。青為肝色，肝邪乘腎，故下利；陽邪上攻，故口燥，此亦少陰傳陽明腑證也。厥陰證，舌卷囊縮，宜急下之。此證有寒極而縮者，宜溫；此由陽明之熱，陷入厥陰，陽明主潤宗筋，宗筋為熱所功，弗榮而急引舌與睪丸，故舌卷囊縮，此為熱極，故宜急下以存陰也。</p>
<p>須知胃為五臟六腑之大源，凡胃受熱，處處皆可傳及。總之，土燥則水易虧，故陽明與厥陰皆有急下法。證雖不同，其入腑之理則一也。</p>

<h3>病有不宜下者</h3>
<p>仲景云：陰盛陽虛，汗之則愈，下之則死。太陽病外證未解者，不可下，下之則引邪入里也。脈浮大者，不可下，浮大為在表也。惡寒者，不可下，邪尚在表也。嘔多，雖有陽明證，不可下，邪在上焦也。陰明病不能食，攻其熱必噦，胃中虛冷故也。陽明病發汗，反下之，則為大逆。太陽陽明合病，喘而胸滿，不可下，宜麻黃湯。寒散肺清，胃邪亦自散也。脈細數者，不可下。細數為血虛有熱，下之熱邪入里，恐亡陰。惡水者，不可下，下之則內冷，不嗜食，完穀出。頭痛目黃者，不可下，邪在上也。陽微者，不可下，下之痞硬，陰盛而陽不宣也。寒厥者，不可下，下之則死。腹脹可按而減者，不可下，裡虛而邪未實也。咽中秘塞者，不可下，邪在上也。陽明病，面赤，心下雖微滿，不可下，邪未實也。腹中上下左右有動氣者，不可下。結胸證，脈浮大者，不可下，邪在表也。臟結無陽證，舌上苔滑，安靜不渴者，不可下。大便硬，小便數者，不可下，乃脾約丸證也。陽明病，自汗出，若發汗小便自利者，不可下。此為津液內竭，雖硬不可攻，宜蜜煎導之。</p>
<p>凡病之當汗與不當汗，當吐與不當吐，當下與不當下，淺深各有定據，不得胡行妄為。務宜詳察病情，診視脈象有神無神，聲音微厲，飲熱飲冷，喜按畏按，各處搜求，自然有下手處也。</p>

<h2>服藥須知</h2>
<p>大凡陽虛陰盛之人，滿身純陰，雖現一切證形，如氣喘氣短，痰多咳嗽，不食嗜臥，面白唇青，午後、夜間發熱，咽痛，腹痛泄瀉，無故目赤，牙疼，腰痛膝冷，足軟手弱，聲低息微，脈時大時勁，或浮或空，或沉或細，種種不一。皆宜扶陽，驅逐陰邪，陽旺陰消，邪盡正復，方可了扶陽之品。但初服辛溫，有胸中煩躁者，有昏死一二時者，有鼻血出者，有滿口起疱者，有喉干喉痛、目赤者，此是陽藥運行，陰邪化去，從上竅而出也。以不思冷水吃力准，即吃一二口冷水，皆無妨。服辛溫四五劑，或七八劑，忽咳嗽痰多，日夜不輟，此是肺胃之陰邪，從上出也，切不可清潤。服辛溫十餘劑後，忽然周身面目浮腫，或發現斑點，痛癢異常，或汗出，此是陽藥運行，陰邪化去，從七竅而出也，以飲食漸加為準。服辛溫十餘劑，或二十餘劑，或腹痛泄瀉，此是陽藥運行，陰邪化去，從下竅而出也。但人必困倦數日，飲食懶餐，三五日自已。其中尚有辛溫回陽，而周身反見大痛大熱者，陰陷於內，得陽運而外解也，半日即愈。</p>
<p>凡服此等熱藥，總要服至周身、腹中發熱難安時，然後與以一劑滋陰。此乃全身陰邪化去，真陽已復，即與以一劑滋陰之品，以斂其所復之陽，陽得陰斂，而陽有所依，自然互根相濟，而體健身輕矣。雖然邪之情形，萬變莫測，以上所論，不過略陳大意耳，學者須知。</p>

<h1>卷四</h1>

<h2>失血破疑說</h2>
<p>今人一見失血諸症，莫不稱為火旺也。稱為火旺，治之莫不用寒涼以瀉火。舉世宗之而不疑，群醫信之而不察，所以一得失血證，群皆畏死。由其一經失血，死者甚多，不知非死於病，實死於瀉火之涼藥耳。然則，涼藥其可廢乎？非即謂涼藥之可廢，但失血之人正氣實者少也，（正氣一衰，陰邪上逆，十居八九，邪火所致十僅一二。）不可不慎。</p>
<p>予有見於今之失血家，群皆喜服清涼而惡辛溫，每每致死，豈不痛惜。予故為當服辛溫者，決其從違焉。不觀天之日月，猶人身之氣血乎。晝則日行於上，而月伏於下，夜則月行於上，而日伏於下，人身氣血同然。失血之人，血行於上，而氣伏不升可知。欲求血之伏於下，是必待氣之升於上，氣升於上，血猶有不伏者乎？知得此中消息，則辛溫扶陽之藥，實為治血之藥也。</p>
<p>又可怪者，人人身中本此氣血二物，氣為陽，法天，火也；血為陰，法地，水也。故曰人非水火不生活。（水火二字，指先天先地真氣，非凡世之水火也。）愚夫愚婦，固說不知，而讀書明理之士，亦豈不曉。明知血之為水，水既旺極而上逆，何得更以滋水之品以助之。此其中亦有故，故者何？惑於血色之紅也，不知血從火里化生出來，經火鍛鍊，故有色赤之象，豈得以色紅，而即謂之火，即宜服涼藥乎？此處便是錯誤關頭。毒流有年，牢不可破，予不憚煩，又從而言之，願與後之來者作一臂力焉。幸甚。</p>
<p>附：七絕一首</p>
<p>吐血都傳止血方，生軍六味作主張。甘寒一派稱良法，並未逢人用附姜。（薑、附，陽也。血，陰也。以陽治陰，即益火之源，以消陰翳。）血水如潮本陽虧，陽衰陰盛敢僭為。（陰盛，即君弱臣強、夫弱妻強的章本。）人若識得升降意，（陽主升，陰主降，乃是定理。今陰升而陽不升，更以陰藥助之，陰愈升而陽愈降，不死何待。）宜苦宜辛二法持。（宜苦者，十僅一二，宜辛者十居八九。）</p>

<h2>益火之源以消陰翳辨解</h2>
<p>前賢云：益火之源，以消陰翳，陽八味是也。此方此語相傳已久，市醫莫不奉為準繩，未有幾個窺透破綻，予不能無疑也。疑者何？疑方藥之不與命名相符。既云益火之源，以消陰翳，必是在扶助坎中一點真氣上說，真氣一衰，群陰四起，故曰陰翳；真氣一旺，陰邪即滅，故曰益火。方中桂、附二物，力能扶坎中真陽，用此便合聖經，何得又用熟地、棗皮之滋陰，（陰邪既盛，就不該用此。）丹皮之瀉火，（益火而反瀉火，實屬不通。）山藥、茯苓、澤瀉之甘淡養陰則利水乎？推其意也，以為桂、附之辛熱屬火，降少升多，不能直趨於下，故藉此熟地、棗皮，沉重收斂之品，而使其趨下，又以丹皮之苦寒助之，更以苓、澤利水，使陰邪由下而出，（［眉批］孰知五味下喉，其氣味立刻周遍，呼吸立刻上下交通，何待此。）似為有理。獨不思仲景治少陰病，四肢厥逆，腹痛囊縮，爪黑唇青，大汗淋漓，滿身全是陰翳，何不重用此熟地、棗皮、丹皮、苓、澤之品，而獨重用薑、附、草三味起死回生，其功迅速。由此觀之，仲景之白通、四逆，實益火之源，以消陰翳者也。若此方而云，益火消陰，斷乎不可。予非固為好辨，此是淆亂聖經之言。毒流已久，禍延已深，不得不急為剪除也。</p>

<h2>壯水之主以制陽光辨解</h2>
<p>前賢云：壯水之主，以制陽光，六味丸是也。此方此說，相傳有年，舉世宗之而不疑，群醫用之而不辨，予不能無說也。竊思此方，必是為邪火傷陰立說，並不是言坎中陽旺立說。今人動云陰虛火旺，陰虛便說是腎水虛，（通身血水皆屬腎，言腎虛亦可。）火旺便說是腎火旺，（通身之氣，皆本腎中一點真火生來，即云腎火旺亦可。但有邪正，不可混淆）。統以六味丸治之，其矇蔽有年矣。予特辨而明之。陰者，水也。陽者，火也。水火互為其根，合而為一，不可分為二也。水從火里生來，故曰天一生水，（先天真氣，號曰真火、真氣，即真精所化。）陽旺一分，（指真氣。）陰即旺一分；（指真陰。）陽衰一分，陰即衰一分。試問陰虛火旺何來？（［眉批］陰陽，一氣耳。豈有陽虛而陰不虛，陰虛而陽不虛者乎？千古疑團，一語道破。仲景一生全在邪正上論偏盛，今人在一氣上論偏盛，相隔天淵，源頭錯亂。今得此說，方知前人之錯誤不少。）所謂制陽光者，明是教人瀉邪火也。邪火始能傷陰，真火實能生陰，此邪正關鍵，用藥攸分區處，豈堪混淆莫辨。要知邪火竊發，無論在於何處，皆能傷血，即以三黃、白虎、承氣，與此六味丸，按定輕重治之，皆是的對妙法。今人不明陰陽一氣，不明邪正機關，專以此方滋腎中之元陰，瀉腎中之元陽，實屬不通。</p>

<h2>申明陰盛扶陽、陽盛扶陰的確宗旨</h2>
<p>萬古一陰陽耳。陰盛者，扶陽為急，陽盛者，扶陰為先。此二語實治病金針，救生寶筏，惜乎人之不得其要耳。今人動以水火二字喻天平，水火不可偏盛，偏盛則為病。予謂不然。人自乾坤立命以來，二氣合為一氣，充塞周身，上下四旁，毫無偏倚。火盛則水盛，（此火指真火，水指真陰。言火盛、水盛者，即五六月之雨水可知。）火衰則水衰，（即十冬月雨水可知。）此正氣自然之道，不作病論，亦無待於扶。所謂偏盛者何？偏於陰者宜扶陽，是言陰邪之盛，不是言腎中之真陰偏盛也。偏於陽者，宜扶陰，是言邪火之盛，不是言腎中之真陰偏盛也。前賢立陽八味、六味丸，以言治元陰元陽之方。此說一倡，俱言真陰真陽之果有偏盛也。此語害世非淺。今人又不讀聖經，無怪乎六味、　八味之盛行，而承氣、四逆之莫講也。</p>

<h2>邪正論</h2>
<p>凡天地之道，有陰即有陽，有盈即有虛，有真即有偽，有邪即有正。試問邪正之道若何？邪也者，陰陽中不正之氣也。（［眉批］不正之氣，四時皆有。六經分為六氣，不正之氣流行於中，故曰六客。）不正之氣，傷於物則物病，傷於人則人病。治之調之，皆有其道。欲得其道，必明其正。正也者，陰陽太和之氣也。（［眉批］太和者，真陰真陽渾然一氣，氤氳化育之消息也。）太和之氣，彌綸六合，萬物皆榮。人身太和充溢，百體安舒。太和之氣有虧，鬼魅叢生，災異疊見，諸疾蜂起矣。</p>
<p>天地之大，生化消長，不能全其太和。人生逐利逐名，亦不能全其固有。正日衰，則邪日盛。欲復其正，必治其邪。邪有陰邪、（客邪在臟，或在裡之謂也。）陽邪之名，（言客邪在表、在腑之謂也。［眉批］風寒暑濕燥火六氣，乃是六經的本氣。六氣中不正之氣，方是客氣。邪正原有分別，無奈今人含含糊糊而不察也。）正有外傷、（言六節之客邪，由外入內也。）內傷之別。（言七情之客邪，由內而出外也。）正自外傷，邪自外入。（衛外之正氣衰，外來之客邪作。）正自內傷，邪自內出。（或勞神損心陽，飲食傷脾陽，房勞損腎陽，皆是內傷根柢。）從陰從陽，邪之變化無方。（邪由外入，或從風化，從燥化，從熱化，從濕化，從寒化，隨邪變遷，原無定向。內傷不然，或損於脾，或損於胃，或損於肝，或損於心，或損於腎，病情有定向，用藥有攸分。）曰臟，曰腑，邪之居處各異。（邪居氣分、表分，呼為陽邪。陽，火也。陽旺極，則凡血傷。凡血傷，則真陰真氣亦與之俱傷，皆能令人死。仲景立白虎、承氣，早已為陽邪備法也。邪居血分、里分，呼為陰邪。陰，水也。陰旺極，則凡氣傷。凡氣傷，則真陽真陰亦與之俱傷，皆能令人死。仲景立白通、四逆，早已為陰邪備法矣。今人以偏盛歸於元陰元陽，是不知邪正之有區分。雖醫書萬種，其立正立言，皆是祛邪扶正。知祛邪扶正，則知偏盛屬客邪之盛衰，非元陰元陽之自能偏盛也。）仲景垂方，本祛邪以輔正；六經畫界，誠調燮之旨歸。有餘（言氣分之邪旺。）不足（言血分之陰邪旺，而正衰也。陽旺是正衰，陽不足亦是正衰），都是邪蹤；陽陰偏盛，俱非正體。（真陰真陽，原無偏盛之理。）元陰元陽，今人之偏盛有茲；（世人知水火之有偏盛，而不知是客邪傷正之為偏盛也。）同盛同衰，一元之旨歸不謬。（二氣渾為一氣，不可分為二道看，故同盛同衰，一定不易。）</p>
<p>論天道，則日月有盈虛；論人身，則秉賦有強弱。究竟循環盛衰之理，不作病看。舉世藉為口實，真乃功力未深。茲特反復推詳，願後之來者，相參砥礪，恐未道及根株處，尚祈再加潤色。</p>

<h2>客問參耆歸地辨論</h2>
<p>客有疑而問曰：予觀先生之方，鮮用參、耆、歸、地。夫參、耆、歸、地，補氣補血之藥也，先生何用之罕歟？曰：大哉！問也。予以參、耆、歸、地為補藥，予謂仲景一百一十三方，皆補藥也，豈僅參、耆、歸、地已哉，何子之不察耶？曰：先生欺予哉。予亦嘗觀《本草》矣，知麻黃、桂枝，主發散也；澤瀉、豬苓，主利水也；柴胡、黃芩，主和解也；甘草、乾薑，主溫中也；附子、吳萸，主回陽也；黃連、阿膠，主養陰也。各方各品，各有功用。先生皆謂之補藥，毋乃欺人太甚耶？曰：予以予為欺子也，予實非欺子也。請少坐，予實告子。夫人身受生以來，本父母真氣，渾合化育，成象成形，五官百骸具備，全賴這一團真氣充周。真氣無傷，外邪不入，內邪不作，何待於藥，何待於補。況這團真氣，也非草木靈根所能補得出來。醫聖仲景，立方立法，揭出三陽三陰，是明真氣充周運行之道。如邪傷太陽，則以太陽之方治之，太陽邪去，則太陽之氣復。邪傷陽明、少陽及三陰，即從陽明、少陽、三陰之方治之，邪立去，則正立復。正復神安，其病立去，即是平人。予故曰，一百一十三方，皆補藥也，以此而推，予欺子乎，予未欺子乎。曰：誠如先生所言，則參、耆、歸、地，可以無用也。曰：亦何可廢哉。如白虎湯則人參可用矣，建中湯則黃耆可用矣，四逆散則當歸可用矣，炙甘草湯則地黃可用矣，仲景亦何常棄而不用。獨可怪者，眾人謂人參補氣。夫氣，陽也，火也，何仲景不用參於四逆湯內以回陽，而卻用參於白虎湯內以瀉火。豈有陽明邪火正盛，人參又是補火，茲胡不更助其火，而反瀉其火乎？究其由來，皆是惑於李時珍之《本草》有能回元氣於無何有之鄉。此話一出，參即盛行，（［眉批］細查李時珍云，人參能回元氣於無何有之鄉，這一句話不為無理，當是為亢龍有悔、真陰將盡之際說法，庶與仲景用人參白虎湯之意混合。今人不識此語，而於陽虛陰盛之人，一概用之，以翼回陽，百治百死。景岳不明此語，而曰陽虛倍人參、陰虛倍熟地。後世宗之，咸為定論。究竟貽害千古，諸公察之，切不可為之惑。況《神農本草經》皆云人參主補五臟。是五臟屬陰，人參補陰，其非補陽也，明甚）。一切調和之藥，皆不究也。如無人參，以高麗參代之，高麗參來路遠，而價又且貴。虛勞之人，有參在家，便有幾分足恃，誰知竟不可恃也。全不思仲景為醫林之孔子，所立之方，所垂之法，所用之藥，專意在祛邪以輔正，不聞邪去之後，另有補藥。此皆後人之不明，姑惜已身之太過，日月積累，釀出別證，以致死證，以致死亡，尚不覺悟，良可哀也。</p>
<p>今與諸公約，病無論乎男女老幼，藥無論乎平常奇異、價貴价廉，只求先生認得陰陽，用得恰當，則盡善矣，何必多求。</p>

<h2>分脾腎為先後二天解</h2>
<p>聖經云：知所先後，則近道矣。（［眉批］聖人以大道示人，欲人知明善復初，故曰知所先後，則近道矣。）先者何？人身立命之祖氣也。（祖氣，即父母真氣渾而為一者也。性命由此立。）後者何？人身血肉軀殼也。（凡世上一切有形之質，皆屬後天，不獨人身，故道家稱為臭皮囊。）今人以腎為先天，脾為後天，此二語舉世宗之，傳為定論。予竊謂不然。夫人自乾坤顛倒化育以來，（先天即乾坤，乾破為離，坤孕為坎，故曰顛倒乾坤化作身，即此）。先天純粹之精，升於人身，渾然一氣，（是言父精母血中之真氣，合而為一，即太極真體，先天祖氣根源。今人不知此中消息，妄以兩腎形似太極，即以腎為先天，此是混淆聖經之言，理應急正。但先天真氣化生真水，灌溉周身，腎配水臟，雖說有理，究竟不是腰中兩腎之謂。［眉批］腎配水皆是喻言。）流行六合，（六合，即周身上下四旁也，即三陽三陰旨歸也。一氣充周，無方不在，故曰水無一臟不潤，火無一臟不燒，水何常獨在兩腎。況兩腎有形有質，皆先天所生，如何說他是先天。知其要者，便知得此身無處非先天，亦無處非後天，先與後又渾然一太極也。）包羅三界，（三界，即天、地、水，上元、中元、下元是也。人身分為三焦，上焦、中焦、下焦是也。）發育萬物，（萬物皆一氣所生。）根於呼吸，（呼則為闢，陽之用也；吸則為闔，陰之用也。故《易》曰：闔戶為之坤，闢戶為之乾。混元破體，水火即在此區分。世人慾復先天一元之真氣，即在此處下手可也，毋他求。）號曰宥密。（這一點真竅，乃真氣立極之所，萬物發育之處，　古聖每每秘而不宣，故稱之曰宥密。又曰元門，又曰天根月窟，又曰黃庭黃中，更喻無數名目，人能知此，接命延年。）先天也，先天一氣，造成五官百骸。後天也，先天一氣，即寓於中，先天為體，（先有這一團真氣，而後始有人身。）後天為用。（先天無為、無臭、無聲，後天有為、有形、有質，不易定理。）先天立命，（自二五凝聚，人之性命已立。）後天成形，形合乎命，命合乎形，神宰乎中，性命乃成。合之則生，（真氣與軀殼合一也。）散之則亡。（真氣亡於軀殼之外也。）脾呼後天，今人所云。（今人不知周身軀殼，皆屬後天，而獨曰脾為後。推斯意也，以為人之奉生而不死者，以其賴有飲食也。飲食下喉一刻，即入胃脾，人七日不食則死，故以脾胃為後天。試問：飲食入脾，是自己能化汁以養生，還是要真氣運動，不要真氣運動？真氣運動，還是隻養脾胃，還是能養周身？知運動所養在周身，可知後天非僅在脾胃也。予故曰：先天立命，後天成形，　形命合一，先後稱名。［眉批］先天先地，二物渾為一氣，無多無少，不倚不偏，故曰中。立極在中。《易》曰：黃中通理。又曰：美在其中。《書》曰：允執厥中。以脾為中，借喻也。即以八卦方位論之，坤艮為戊已土，一在西南角，一在東北角。而又曰：中五寄坤，特虛位耳。）誰知錯誤，不足為憑。（天之功用，全在於地。地生萬物，故曰土為萬物之母。人身軀殼，包藏百脈、臟腑、經絡、骨節，不易乎地，故曰脾為後天。是脾也，予以為皮字之皮，非脾字之脾也。惟此皮乃能包藏萬象，統束氣血。若脾字之脾，乃僅一臟也，何能包藏萬有。或曰是脾也，古人配之中央，取其運化精微而灌溉四旁，不得謂脾字全非。予曰：人之運動，全在先天一團真氣鼓動耳。飲食雖入於脾胃，非真氣鼓動，不能腐熱水穀。真氣鼓動。則一切飲食，立刻消溶，臟腑一身，立刻俱受其澤，又何嘗是脾之功乎。觀於朝食暮吐之病，早晨所食菜飯，至晚盡行吐出，菜飯全然不化，稱之曰命門無火。由此推之，是賴脾乎，是賴氣乎。古人無非借物寓理，借象著名。今人不識一氣渾合軀殼之道、先後互賴之理，認脾為宗，其謬已甚。學者切不可執定脾腎，以論先後，當於無形並有質上以求理，以言先後可也。）相傳有年，奉為準繩。予今剖晰，質之高明。是是非非，尚祈指陳。</p>

<h2>六客辨解</h2>
<p>今人動云六淫之氣所傷。六淫之氣，即風、寒、暑、濕、燥、火是也。予謂六氣，乃是六經之本氣，每氣各司六十日，以成一歲，何得稱之曰客？所謂客者，是指六氣節中不正之氣也。不正之氣在風令中，則曰風客；在寒令中，則曰寒客；在暑令中，則曰暑客；在濕令中，則曰濕客；在燥令中，則曰燥客；在火令中，則曰火客。非指六氣即是六客也。</p>
<p>邪正之間，今人每多混淆。予所以辨而明之，更為之進一解曰：如邪傷太陽，則曰寒客；寒邪傳至陽明，則曰燥客；燥客傳至少陽，則曰暑客；暑客傳至太陰，則曰濕客；濕客傳至少陰，則曰火客；火客傳至厥陰，則曰風客。此六客，乃是論邪從太陽入內，氣機流行之謂，非節令之謂。流行與節令，皆宜明辨，亦無容辨，只消按定仲景六經提綱病情，便知客之所處。論節令也可，論氣機流行也可。總之一令之中，主病亦有一定，不可不知。</p>

<h2>胎前忌服藥品解</h2>
<p>近來有妊之婦，多有忌服藥品。如半夏、大黃、巴豆、丑牛、檳榔、大戟、芫花、甘遂、麝香、三稜、莪朮、附子、紅花、三七之類。稱為墮胎之品，凡有胎者，切不可服。今人死死記著，毫不敢易。予以為皆可服也，不必忌慮，總在看病之若何。如病果當服，半夏、大黃、附子一切藥品，皆是安胎；病不當服，即參、茸、膠、桂亦能墮胎。奈世人之不講理何，予故為有胎者勸。凡婦人有妊三四月，即當慎言語、節飲食、戒房勞，皆是保生之道。設或有病外感，須按定六經提綱，不必問乎藥品。內傷認定陽虛陰虛，亦不必問乎藥品。飲食氣滯，仍當推蕩，亦不必問乎藥品。總之，邪去則正復，即是安胎。何今人之不察病情，而只計忌服藥品，此皆醫方捷徑，一家之私言，未明變化神而明之之道也。學者切切不可為藥所惑，而釀成死亡之候。病家更要明白，醫家亦不可大意。還有一等妊婦，專意墮胎，竟不能墮，從可識也。（［眉批］難道不去覓些三七、麝香，一切破血之藥乎。）</p>

<h2>食氣篇</h2>
<p>夫人之所以奉生而不死者，惟賴有此先天一點真氣耳。真氣在一日，人即活一日；真氣立刻亡，人亦立刻亡。故曰人活一口氣。氣即陽也，火也。又曰：人非此火不生。此火一存，凡後天一切食物，下喉一刻，立刻煅煉。食物之真氣皆稟諸先天、先地之真氣，與人身之真氣本同一氣也，借食物之真氣，以輔人身之真氣，故人得食則生，不得食則死。所以飲食健旺之人，肌肉豐隆，精神倍加，由其盜得天地生物之真氣獨厚也。今人只知飲酒、食肉以養生，誰知還是天地之真氣，日日在灌溉，呼吸不住在充周也。</p>
<p>人不能保全身內之真氣，則疾病叢生。疾病者何？邪為之也。邪氣之來，無論內邪外邪，皆是阻隔天地之真氣，不與人身之真氣相合，身即不安，故曰病。必待邪去，而天地之真氣與人身之真氣，仍舊貫通合一，始言無病。故曰聖出而立法垂方，祛邪為急，明人身臟腑之由來、五行分布、陰陽充周、天人一氣之道，借草木之真氣以勝邪。邪居在上，（上字又作表字看。）則以能制在上之邪之品以攻之，邪去自然正復。推之在中、在下、在內、在外、在臟、在腑、在經、在絡，藥品皆有定主，內含生化之機，調燮之妙。總在學者留心討理，明陰陽消長之變化，達順逆吉凶之趨向，便知得天地即我身，我身即萬物之身，萬物、我身、天地原本一氣也，服食與服藥皆保生之要也。</p>
<figure>
<img alt="一氣分為六氣圖">
</figure>

<h2>一氣分為六氣圖說</h2>
<p>今以一圈分為六層，是將一元真氣分為六氣。六氣，即六經也。氣機自下而上，自內而外，真氣充滿周身，布護一定不易。外邪入內，先犯外之第一層。第一層乃太陽寒水氣化出路，故畏風惡寒，法宜宣散。治之不當，邪不即去，漸至第二層。二層乃陽明所主，陽明主燥，外邪至此，化為燥邪，故惡熱，法宜清涼，不可妄用溫燥。治之不當，邪不即去，漸至第三層。三層乃少陽所主，居半表半裡之間，法宜和解。治之不當，邪不即去，漸至第四層。四層乃太陰所主，太陰主濕，邪與濕合，化成濕邪，濕多成瀉，故吐瀉病居多，法宜溫中。治之不當，邪不即去，漸至第五層。五層乃少陰所主。少陰有兩法，一邪從少陰心火為病，則火症居多，法宜清潤；一邪從少陰腎水為病，則陰寒為重，法宜溫經散寒。治之不當，邪不即去，漸至第六層。六層乃厥陰所主。厥陰有兩法，一邪從風化為病，風為陽邪，故曰熱深厥深，下攻而便膿血，上攻而為喉痹，法宜養陰清熱；一從陰化為病，多見爪甲青黑，腹痛，法宜回陽。</p>
<p>仲景分配六經，標出六經，提綱病情，為認邪之法。又立出六經主方，為治邪之法。其間隨邪變化，亦難盡舉。學者細讀三百九十七法、一百一十三方，便得步步規矩之道。茲再將六經主方圓通活潑之妙，略言一二，庶學者不執於方，明理為要，則得矣。</p>
<figure>
<img alt="太陽用藥圖">
</figure>
<p>風為陽邪，善動，從毛竅而入。風動於中，血液不藏，毛竅疏而不實，故見自汗出、惡風。</p>

<h2>桂枝湯圓通應用法</h2>
<p>按桂枝湯一方，乃調和陰陽、徹上徹下、能內能外之方，非僅治仲景原文所論病條而已。想仲景立法之日，當是邪在太陽衛分時說法，就未言及別證皆可以用得。今人不明聖意，死守陳法，不敢變通，由其不識陰陽之妙、變化之機也。予亦粗知醫，常於臨症時多用此方，應手輒效。因思仲景之方，原不僅治傷風證，凡屬太陽經地面之病，皆可用得。茲特將經驗病形略舉一二於左，以便參究。</p>
<p>一治胸腹痛，背亦徹痛者。蓋太陽之氣，由下而上至胸腹，寒邪逆於太陽，則氣機不暢，故胸腹痛而背亦徹痛。太陽行身之背，因腹中之氣不暢，而背亦受之，故桂枝湯治之而愈。</p>
<p>一治通身寒冷。寒為太陽之本氣，今見通體惡寒，是邪犯太陽之本氣也。桂枝湯能扶太陽之氣，故治之而愈。</p>
<p>一治小兒角弓反張，手足抽掣。太陽行身之背，因風中於背，太陽之經氣不舒，經氣卒閉，故見角弓反張。桂枝湯力能宣太陽之風邪，故治之而愈。</p>
<p>一治腦後生瘡。腦後者，太陽經脈之所貫注者也。風寒之邪逆於腦後，抑鬱而成瘡。桂枝湯宣散太陽之邪，故治之而愈。</p>
<p>一治周身皮膚作癢，時而惡風。周身毛竅乃太陽寒水氣化出路，風寒之邪外干而不得入，逆於皮膚，抑鬱生熱，故周身作癢。桂枝湯能宣太陽抑鬱之氣，故治之而愈。</p>
<p>一治足跟痛，痛徹腰股。足跟與腰背，皆太陽經循行之道，因寒客之，邪閉之，故見以上病形。桂枝湯力能輸太陽之氣，故治之而愈。</p>
<p>一治小兒兩腮腫，發熱惡風。夫兩腮近耳下，乃少陽陽明地面，似不可與桂枝湯，今竟以此方治之而愈者，因其發熱惡風，知太陽之邪逆於此也。</p>
<p>一治小兒發熱痘出。蓋痘本胎毒，欲出於外，必得太陽真氣鼓動，方能引痘外出。桂枝湯扶助太陽之氣，氣伸而毒盡越於外，不遺於內，故此方又能治痘也。</p>
<p>一治婦人妊娠惡阻。婦人初妊，經氣卒然不舒，營衛之氣不暢，故見惡阻。桂枝湯能宣營衛，協和陰陽，故治之而愈。</p>
<p>一治發熱惡風、下痢，日數十次。風邪犯於太陽，則表氣不通，表氣不通，則裡氣不順，邪陷於下，故見下痢。桂枝湯宣風外出，表氣順則太陽之氣升而不陷，故痢可愈。</p>
<p>按此方，傷寒門尚有數症可用，至於加減變通，實多奇異，仲景已言之矣。學者細讀仲景《傷寒》書，明其理而通其變，則得活潑之妙，內外兼備之道也。</p>
<figure>
<img alt="太陽經腑用藥圖">
</figure>
<p>寒為陰邪，從毛竅而入，寒主靜而不動，毛竅密而不疏，故見無汗惡寒。</p>
<p>邪不傳經而傳腑，故見口渴、小便不利。五苓散功專利水，水道利則太陽氣舒，邪亦從此而解。</p>
<p>桂麻二方，是祛邪從上出者也。五苓散是祛邪從下出者。惟此三方，可稱太陽首尾專主之方也。</p>

<h2>麻黃湯、五苓散圓通應用法</h2>
<p>一治痘初出而忽隱、壯熱、無汗者。蓋痘之初出，全借太陽一點真氣鼓動，運毒外出，今壯熱而痘忽隱，是因其感受外寒，閉束氣機，抑鬱生熱。麻黃湯能開腠理，祛寒外出，邪去則正安，痘自外出，而人自平安。若壯熱太甚，煩躁飲冷者，又可於方內加石膏。</p>
<p>一治肩背沉重，覺內冷者。蓋肩背之沉重，寒之滯也。寒滯於內，故覺內冷。麻黃湯輕清屬陽，力能祛寒外出，肩背正屬太陽所主，故治之而愈。</p>
<p>一治兩腳彎發起紅塊，痛甚。腳彎地面，乃太陽經循行之道，今為寒邪閉束，阻其氣機，遏鬱而起紅塊，痛甚。麻黃湯力能散太陽之寒，故治之而愈。</p>
<p>一治大便瀉水而小便全無者。此病夏月居多，由暑邪拂鬱，擾亂正氣，以致闌M門失職，津液不行於膀胱，而直趨大腸。五苓散力能化膀胱之氣，故治之而愈。</p>
<p>一治頭暈咳嗽，嘔吐腹脹，小便短。病形雖現頭暈、咳嗽、嘔吐，總緣膀胱氣化不運，水濕之氣不得下降，氣機必返於上，上干清道，故現以上病形。五苓散功專利水，水氣下降，氣機自順，故病自愈。</p>
<p>一治霍亂吐瀉，思飲冷水者。此病上吐下瀉，理應著重太陰，其所以用五苓者，蓋以吐瀉之病，無小便也。又見渴而思水，正是太陽腑症提綱，故五苓為要藥。其所以致吐瀉者，皆由太陽氣化失運，中宮失職，此刻先治太陽，然後理中，庶為正治，亦經權之道也。</p>
<p>二方傷寒門尚有數症當用，至於加減變通，仲景言之甚詳，茲不贅。</p>
<figure>
<img alt="陽明經證用藥圖">
</figure>
<p>蓋太陽主開，陽明主闔。今陽明為太陽之邪所逼，不從本經之闔，而從太陽之開，開於下，故下利也。</p>

<h2>葛根湯圓通應用法</h2>
<p>一治周身發熱，發現斑點，嘔吐。夫周身肌肉皆屬陽明，陽明主發熱，不惡寒，今為外邪抑鬱，壅於陽明，故發熱而現斑、嘔吐者，皆邪毒上壅外出之故。葛根湯力能祛邪外出，隨其邪之所向而祛之，故愈。</p>
<p>一治兩眼皮紅腫痛甚。眼皮上下皆陽明所主，今為風熱所閉，抑鬱而為紅腫痛甚。葛根湯力能解陽明風熱，故治之而愈。</p>
<p>一治兩乳紅腫發熱。兩乳地面，乃陽明所主。今外感之邪，伏於兩乳間，故見紅腫痛甚。葛根湯專祛陽明之邪，治之故愈。</p>
<p>一治小兒痘初現點。夫痘毒自內出外，既在現點，此刻毒邪盡在肌肉之間，肌肉屬陽明，葛根湯力能宣通肌肉之邪，不使痘毒遺留於內，發透為佳，然後另行養漿之法。若已發透，即不可用此。</p>
<p>此方功用頗多，加減法亦多，仲景《傷寒》書言之甚詳，茲不復贅。</p>
<figure>
<img alt="陽明經用藥圖">
</figure>
<p>此方本列於太陽篇中，而又曰治陽明腑症者，蓋以太陽之邪，服桂枝湯大發汗，表邪既解，而陽明之血液已傷。陽明乃氣多血多之腑，今血液驟傷，陽明之內熱立作。若不急用白虎以清熱，人參以養血液，邪火益盛，即有不可撲滅之勢，故白虎又是陽明之腑方也。</p>

<h2>白虎湯圓通應用法</h2>
<p>一治上消證。夫上消者，渴而多飲也。由邪火在胃，血液大傷。血為陰，陰傷而引水以救者，陰與陰相親也。白虎湯力能滅火以存陰，故治之而愈。</p>
<p>一治心下一寸間發生瘡疾，紅腫痛甚。按心下一寸，乃胃之上口也。因邪熱結於胃之上口間，故發生瘡疾。白虎湯專清胃熱，故治之而愈。</p>
<p>一治牙齦紅腫痛甚，飲冷。夫牙齦乃陽明所主，今胃火聚於上，故見紅腫痛甚，又見飲冷，知其邪火傷陰。白虎湯力能清胃之熱，故治之而愈。</p>
<p>一治兩乳紅腫痛甚。兩乳乃陽明脈過之所，今見紅腫痛甚，是胃中之邪熱壅滯所致也。白虎湯專清胃熱，熱邪去而腫自消，故治之而愈。</p>
<p>一治譫語遺尿，口不仁而面垢，三陽並病。譫語者，邪熱入於陽明之府也；遺尿者，邪熱合於太陽之府也；口不仁而面垢者，邪熱合於少陽之腑也。白虎湯力能清熱，一熱清而三病立解，故治之而愈。</p>
<p>此方功用頗多，加減變通亦多，《傷寒》書言之甚詳，其中，尚有背惡寒一證亦用之，學者當辨而明之。</p>

<h2>陽明裡症用藥圖</h2>
<p>凡用此方，必須審察的確，總要知道胃家實三字提綱。何謂胃家實？如大小便不通是也；大便硬、腹滿是也；狂妄奔走，叫罵不避親疏是也；潮熱譫語是也。種種不一，務宜斟酌，不可猛浪。</p>
<figure>
<img alt="大承氣湯圖">
</figure>

<h2>大承氣湯圓通應用法</h2>
<p>一治咳嗽，聲如洪鐘。夫咳嗽之病，似不可以與此方。其所以必用此方者，誠以咳嗽聲洪，乃邪火旺極之徵。火刑于肺，若不亟用此方以撲滅其火，肺有立壞之勢，故不得不用之也。</p>
<p>一治食入即吐。夫食入而出，亦非可下之候，其所以可下者，蓋以吐則為逆，非寒即火。今食入而出，是胃中之火逆行於上，其食故不得下降也。但寒與火雖辨明，方可用此。</p>
<p>一治頭暈，人昏亂無主，三五日一發。夫頭暈之症，原非應下之候。其所以應下者，蓋以陰血虛極，不能制其亢龍，龍奔於上，則濁火亂其神明，故昏昏無主，大承氣湯力能制其亢尤，故治之而愈。</p>
<p>此方吳又可《溫疫論》條中，可用此方有三十餘症，《傷寒》陽明本篇可用六七症，少陰篇急下可用有三症，茲不備舉。學者務宜熟讀仲景《傷寒》書，便得圓通應用變化之道，切不可死守原文，當以明理為要。</p>
<figure>
<img alt="少陽經用藥圖">
</figure>
<p>此方雖名為少陽方，究竟總是太陽經所感受的這一點邪氣種子，不能從胸出去，逆於胸脅之間，阻其少陽升降之機，故少陽之經症作。其方治少陽，實是治太陽也，</p>

<h2>小柴胡湯圓通應用法</h2>
<p>一治兩脅脹痛。夫兩脅乃少陽所主，今見脹痛，是少陽之氣抑鬱不舒也。柴胡湯力能舒少陽之氣，故治之而愈。</p>
<p>一治頭響兩側脹。夫頭之兩側，乃少陽所主。今見脹而響，是少陽之火浮於上也。柴胡湯力能治少陽之經，倍黃芩力能清少陽之火，故治之而愈。</p>
<p>一治兩耳紅腫痛甚。夫兩耳前後，俱屬少陽所主。今見紅腫痛甚，是風熱之邪，聚於少陽也。柴胡湯力能治少陽之風熱，故治之而愈。</p>
<p>一治瘧疾。夫瘧之為病，多緣外邪伏於少陽，不能從轉輸而出，少陽居半表半裡，邪欲從陽明而出則熱，欲從太陰而入則寒。諸書云瘧不離少陽，皆是明少陽之經氣不舒，轉樞失職，邪故伏而不去。小柴胡湯力能伸少陽之氣，少陽之氣伸，轉樞復運，邪自從此而出，病自愈而人自安也。</p>
<p>一治吐酸不食。夫不食而吐之症，屬於太陰，理宜溫中健脾。今見不食吐酸，明是木氣不舒，上克脾上，土畏木克，故不食。酸屬木，乃是稟少陽熱氣所化，土木相凌，故見以上症形。小柴胡力能舒少陽之氣，少陽之氣舒，即不剋制脾土，兩經之氣平，而病自不作矣。</p>
<p>一治婦女熱入血室譫語。夫肝乃藏血之所，肝與膽相為表裡，膽移熱於肝，熱入血室，故見譫語。柴胡湯力能治肝膽邪熱，故治之而愈。</p>
<p>按此方功用頗多，加減變化亦無窮，《傷寒》書言之甚詳，茲不贅。</p>

<h2>太陰經用藥圖</h2>
<p>太陰篇內有桂枝加芍藥湯、桂枝加大黃湯，皆是太陽誤治，邪陷於太陰而設，不得謂為太陰主方。學者須知。</p>
<figure>
<img alt="太陰經用藥圖">
</figure>

<h2>理中湯圓通應用法</h2>
<p>一治吐血。夫吐血之症，多由中州失運，陰血遂不歸經，瘀滯閉塞清道，以致清陽不升，陰血僭上，便成血逆。理中湯力能調中州之氣，中州健運，血自歸經，其病自已。</p>
<p>一治四肢浮腫。夫四肢屬土，土虛則元氣發泄，不能潛藏，故見四肢浮腫。理中湯力能溫暖脾胃，脾胃有權，元氣不致漫散，故治之而愈。</p>
<p>一治心下嘈雜，吐水。夫心下一寸，乃胃之上口。胃主納，而脾主運。脾氣衰而不運，津液上逆於胃口，以致心氣不寧，故嘈雜吐水，即是明驗。理中湯力能溫暖中宮，脾土健運，水氣下行，嘈雜、吐水自已。</p>
<p>一治咳嗽吐清水。夫咳唾之病，屬於肺經，理應從肺求治。今獨用理中者，原由中州失運，水聚於上，肺氣欲下降而不能，故咳唾清水。理中湯力能健脾，脾土健而水濕下趨，肺氣降而咳唾自已。</p>
<p>一治唾水不休。夫唾水之病，多屬胃冷。理中湯能溫暖中宮，土暖而水濕自消，唾病立愈。</p>
<p>一治呃逆不休。夫呃逆之病，原有寒熱之分。果屬胃寒而呃逆不休，理中湯能溫中，中寒去而呃逆自已。</p>
<p>一治手足微冷，少神。夫四肢逆冷之症，原有四逆之法。此乃微冷、少神，明系中州氣衰，不能充周四肢。理中湯大能溫暖中宮，中州氣旺，肢冷自愈。</p>
<p>按此方功用最多，加減變通更多，姑舉數條，以便學者參悟。</p>
<p>按少陰乃水火交會之地，元氣之根，人身立命之主也。病至此際，是元氣衰極，剝至於根。仲景立四逆，究竟是專為救這點元氣說法。主方又云：治三陰厥逆，可知這一點元氣，徹上徹下，包羅天地。此方不獨專為少陰立法，而上中下三部之法俱備。知得此理，便知得姜附之功也。今人不知立極之要，不知姜附之功，故不敢用也。非不敢用也，不明也。</p>
<figure>
<img alt="少陰經用藥圖">
</figure>

<h2>麻黃附子細辛湯、四逆湯圓通應用法</h2>
<p>一治忿嚏不已。夫嚏之為病，多緣少陰受寒。麻黃附子細辛湯力能祛少陰之寒，故治之而愈。（蓋腎絡通於鼻，嚏屬腎，故知病在少陰也。）</p>
<p>一治腰痛難於轉側。夫腰痛之症，原有數端。今見轉側難者，明是腎藏不溫，陰寒滯於內也。麻黃附子細辛湯力能溫經散寒，故治之而愈。</p>
<p>一治周身皮膚浮腫，內冷身重。夫周身浮腫，內冷身重者，蓋以先天之陽衰於內，寒濕之邪即生於內，故見身重內冷。寒濕太盛，則真氣不藏，散於周身，無陽以運化，故又見浮腫。麻辛附子湯力能溫腎扶陽、祛陰逐寒，故治之而愈。</p>
<p>一治頭腦冷。夫腦為元神之府，清陽聚會之處，如何得冷。其所以致冷者，由命門火衰，真氣不能上充。四逆湯力能扶先天真陽，真陽旺而氣自上充，故治之而愈。</p>
<p>一治氣喘痰鳴。夫氣喘之症，舉世皆謂肺寒。不知先天這一點真氣衰，即不能鎮納濁陰之氣，陰氣上騰，漸干清道，故見痰喘。四逆湯力能溫下焦之陽，故治之而愈。</p>
<p>一治耳腫皮色如常。夫耳腫之症，每多肝膽風火。今見皮色如常，明是陰氣逆於上也。四逆湯力能扶陽祛陰，治之故愈。</p>
<p>一治舌黑唇焦、不渴、少神。夫舌黑唇焦之症，多因陽明胃火而作。果系陽明胃火，必現煩躁、口渴飲冷、二便閉塞等情。此則舌黑唇焦，其人並不口渴，卻又少神，明是真陽衰極，不能薰騰津液於上。當知陽氣縮一分，肌肉即枯一分，此舌黑唇焦所由來也。四逆湯力能回先天之陽，陽氣一回，津液復升，焦枯立潤，故治之而愈。</p>
<p>一治喉痛、畏寒腳冷。按喉痛一症，原非一端。此則畏寒腳冷，明是少陰受寒，逼出真火浮於喉間，故喉痛而腳冷。四逆湯力能溫少陰之氣，逐在裡之寒，故治之而愈。</p>
<p>一治喉痛、身大熱、面赤目瞑、舌冷。夫喉痛、面赤身熱，似是陽症，又見目瞑舌冷，卻是陰盛隔陽於外之徵。四逆湯力能祛逐陰寒，迎陽歸舍，故治之而愈。</p>
<p>一治吐血困倦。夫吐血一症，總緣地氣上騰，升降失職。人身氣為陽，主升，血為陰，主降。今當升者不升，不當升者而反升，明明陰血太盛，上干清道。古人云：益火之源，以消陰翳。是教人補火以治水也。又云：壯水之主，以制陽光。是教人補水以治火也。四逆湯力能補火，故治之而愈。</p>
<p>一治齒縫流血。夫齒乃骨之餘，本屬腎，腎為水臟，先天之真陽寄焉，以統乎骨分中之血液。真陽不足，不能統攝血液，故見血出。四逆湯力能補腎中之陽，治之故愈。</p>
<p>一治朝食暮吐、完穀不化。夫飲食入胃，固以胃為主，然運化之機，全在先天命門這一點真火，始能運化。真火一衰，即不能腐熟谷水，而成完穀不化、朝食暮吐者。暮為陰盛之候，陰氣上僭，心肺之陽不能鎮納，故聽其吐出也。四逆湯力能補命門真火，故治之而愈。</p>
<p>一治足心夜發熱如焚、不渴、尿多。夫足心發熱如焚，人皆謂陰之虛也。夫陰虛由於火旺，火旺之人，尿必短赤，口必飲冷，理勢然也。今則不渴而尿多，明是下焦無陽，不能統束腎氣，以致陰火沸騰，故見足心發熱如焚也。四逆湯力能補火，火旺即能統束群陰，故治之而愈。（此病予親身患過，並治好多人。此法即是丙奪丁光之義也。知得丙奪丁光，便知得陽衰不能鎮陰的旨歸也。）</p>
<p>一治面赤發熱、汗出抽掣。夫面赤發熱、汗出抽掣，近似中風，其實不是，務必仔細斟酌。如其人本體有陰象足徵，即不可當作風熱，須知面赤發熱者，陽越於外也。汗出抽掣者，陽亡於外，不能支持四維也。四逆湯力能回陽，陽回則諸症自已。</p>
<p>一治大便下血、氣短少神。夫大便下血，固有虛實之分，此則氣短少神，必是下焦之陽不足，不能統攝血液。四逆湯力能扶下焦之陽，陽旺則開闔有節，故治之而愈。</p>
<p>一治頭搖、面白少神。夫頭搖之症，人皆目之為風。而予於此症，察其人面白少神，知其為清陽不升，元氣虛極，不能鎮定也。四逆湯力能扶陽，真陽一旺，即能鎮定上下四旁，故治之而愈。</p>
<p>一治背冷目瞑。夫背為陽中之陽，不宜寒冷。今又背冷而目瞑，明是先天真陽衰極，陰寒內生，陰盛則陽微，故目瞑而背冷也。四逆湯力能扶先天真陽。故治之而愈。</p>
<p>一治舌腫硬而青。夫舌腫一症，似乎心火旺極，不知舌腫而青，此乃陰寒太盛，逼出真火，欲從舌尖而出，故見腫硬青滑。四逆湯力能補火，祛逐陰寒，故治之而愈。</p>
<p>一治唇腫而赤、不渴。夫唇腫之症，近似胃火。胃火之腫，口必大渴，今見病人唇腫而口並不渴，可知陰火出於脾間。四逆湯功專補陽，陽旺則陰火自消，故治之而愈。</p>
<p>一治鼻涕如注、面白少神。夫鼻涕一症，原有外感、內傷之別。此則面白無神，明是真陽衰於上，不能統攝在上之津液，四逆湯力能扶坎中真陽，陽旺自能統納，故治之而愈。</p>
<p>一治尿多。夫尿之多，由於下焦之火弱，不能收束故也。惟四逆湯力能補下焦之火，故治之而愈。</p>
<p>一治周身發起包塊，皮色如常。夫周身發起包塊，疑似風熱陽邪，此則皮色如常，卻是陰邪僭居陽位。四逆湯力能扶陽，陽旺則陰邪自伏，故治之而愈。</p>
<p>一治周身忽現紅片如雲、不熱不渴。夫周身發現紅雲，人孰不謂風火鬱熱於皮膚。夫風火鬱熱之症，未有不發熱而即作者，亦未有口不渴而即謂之火者，此處便是認症機關。予每於此症，認作陽衰，陰居陽位，以四逆湯治之而愈。</p>
<p>一治發熱譫語、無神、不渴。夫發熱譫語，世人皆謂熱伏於心，神無所主也。不知陽症熱伏於心，精神不衰，口渴冷飲，小便亦必短赤。此則無神、不渴，明是真陽衰極。（［眉批］在無神二字上定案。）發熱者，陽越於外也。譫語者，陰邪乘於心，神無所主也。不渴、無神，非邪火也。四逆湯力能回陽，陽回則神安，故治之而愈。</p>
<p>一治兩目白睛青色。夫白輪屬肺，金也。今見純青，曰無白色，是金氣衰而肝木乘之也。妻乘於夫，是乾剛不振，純陰無陽之候，（［眉批］坎中一點真金即真陽也，人活的即此。）多在死例。四逆湯力扶坎中之金，金氣一旺，目睛自然轉變，故治之而愈。</p>
<p>一治兩目赤霧縷縷，微脹不痛。夫目窠，乃五臟精華所聚之地，原著不得一毫客氣。今見赤霧縷縷，疑是陽火為殃。不知陽邪痛甚、脹甚，此則微脹不痛，明是陽衰於上，不能鎮納下焦濁陰之氣，地氣上騰，故見此等目疾。四逆湯力能扶陽祛寒，陽光一照，陰火自滅，故治之而愈。</p>
<p>按此方功用頗多。得其要者，一方可治數百種病。因病加減，其功用更為無窮。予每用此方，救好多人。人咸目予為薑、附先生，不知予非專用薑、附者也，只因病當服此。難道予不會寫幾個參、地、歸、芍，芩、連、梔、柏之方乎，只因世風日下，不究病之陰陽，專究方藥之平穩。不知水懦弱，民狎而玩之，多死焉；火猛烈，民望而畏之，鮮死焉。總之，水能生人，亦能死人；火能生人，亦能死人。予非愛薑、附，惡歸、地，功夫全在陰陽上打算耳。學者苟能洞達陰陽之理，自然頭頭是道，又奚疑薑、附之不可用哉。</p>
<p>按厥陰為陰經，陰極則生陽，故多寒熱錯雜。又肝主宗筋玉莖，人性多思淫，心火一動，玉莖必舉，發泄不遂，多生邪熱，亦多見寒熱錯雜。此受病之源，人多不察。仲景立烏梅丸，寒熱並投，大有灼見，並非專為蟲立法。凡厥陰一切症候，莫不備具。舒馳遠先生謂此方不是，未免執一。</p>
<figure>
<img alt="厥陰經用藥圖">
</figure>

<h2>烏梅丸圓通應用法</h2>
<p>一治巔頂痛。夫厥陰之脈會於巔頂，今見巔頂痛者，是厥陰之邪侵於上也。烏梅丸專主厥陰，故治之而愈。</p>
<p>一治睪丸腫痛。夫睪丸，俗稱為外腎。世人多以腎目之，不知此乃木之餘氣所生。古賢配之☳卦，震，木也。二陰一陽，二睪丸為偶，玉莖一為奇，奇居腹面，丸居背面，所配確乎不爽，而世人蓋未之細求其理也。予每於此處病，多以烏梅丸治之而愈。</p>
<p>一治腹痛、飲冷。夫腹痛、爪甲青，明是厥陰陰寒之氣阻其真陽運行之機，邪正相攻，故見腹痛。既云寒邪，何得飲冷，必是陰極陽生，見此寒熱錯雜。烏梅丸寒熱並用，故治之而愈。</p>
<p>按此方功用最多，頗難盡舉，姑列一二條，以備參究。其中之精義，修園先生言之甚詳，學者可熟讀而深思之，便得立法立言之意，而於厥陰一切症候，莫不應手輒效也。</p>
