<header data-type="book">
<h1>診家正眼</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李中梓</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1642">公元1642年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2728">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>脈之名義</h2>
<p>《內經》曰：「人受氣於谷。谷入於胃，以傳於肺；五臟六腑，皆以受氣；清者為營，濁者為衛；營行脈中，衛行脈外。」（此明胃氣為脈道之根，臟腑之本，氣血之所由出也。凡人之生，皆受氣於谷，萬物資生之本也。凡谷之入，必先至於胃，萬物歸土之義也。坤土不敢自專，精微上輸於肺，蓋地道卑而上行也。肺為乾金，所受精微，下溉臟腑，蓋天道下濟而光明也。金土互輸，地天交泰，清而上升者為營血，陰生於陽也；濁而下降者為衛氣，陽根於陰也。營血為陰，故行脈中；衛氣為陽，故行脈外也。）</p>
<p>【按】審病察脈，以決死生，非指下了然，將安所憑藉乎！深慨世醫不知脈為何物。若以為氣乎，而氣為衛，衛行脈外，則知非氣矣。若以為血乎，而血為營，營行脈中，則知非血矣。若以為經隧乎，而經隧實繁，則知非經隧矣。然則脈果何物耶？余嘗於此深思，久而始悟其微。古之脈字，從血從𠂢，謂氣血流行，各有分派而尋經絡也。今之脈字，從肉從永，謂胃主肌肉，氣血資生而永其天年也。夫人之生，惟是精與神而已。精氣即血氣，而神則難見也。人非是神，無以主宰血氣，保合太和，流行三焦，灌溉百骸，故脈非他，即神之別名也。神超乎氣血之先，為氣血之根蒂，善乎華元化曰：「脈者，氣血之先也」，氣血之先，非神而何！然神依於氣，氣依於血，血資於谷，谷本於胃，所以古之論脈者云：「有胃氣則生，無胃氣則死。」東垣亦曰：「脈貴有神，正指胃氣言也。」是知穀氣充則血旺，血旺則氣強，氣強則神昌，神之昌與否，皆以脈為徵兆。故脈也者，實氣血之先也。先也者，主宰乎氣血之神也。脈即神之別名，此千古未剖之疑義也，特表而出之。</p>

<h2>氣口獨以為五臟主</h2>
<p>黃帝問曰：「氣口何以獨為五臟主？」岐伯曰：「胃者，水穀之海，六腑之大源也。五味入口，藏於胃，以養五臟氣。氣口，太陰也。是以五臟六腑之氣味，皆出於胃，變見於氣口。」（氣口者，六部之總稱，非專指右關之前也。</p>
<p>【按】《素問·經脈別論》云：「食氣入胃，經氣歸於肺。肺朝百脈，氣歸於權衡。權衡以平，氣口成寸，以決死生。」由是知氣口即寸口也。曰變見者，飲食所變之精微，皆顯見於手太陰之氣口，而陰陽盛衰之象，莫不從此見矣。吳草廬曰：「兩手寸部俱名為氣口，不僅言右寸肺脈為氣口者也。」）</p>
<p>《難經》曰：「『十二經皆有動脈，獨取寸口何謂也？』扁鵲曰：『寸口者，脈之大會，手太陰之動脈也。』」（肺為五臟六腑之華蓋，位處至高，受百脈之朝會，布一身之陰陽，故經曰，「臟真高於肺，以行營衛陰陽」者是也。是以十二經皆有動脈，獨取肺家一經之動脈，可以見五臟六腑強弱吉凶之徵兆也。）</p>

<h2>脈辨至數</h2>
<p>《內經》曰：「人一呼脈再動，一吸脈亦再動，呼吸定息脈五動，閏以太息，命曰平人。（出氣曰呼，入氣曰吸。一呼一吸，謂之一息。動，至也。再動，再至也。常人之脈，一呼兩至，一吸亦兩至。呼吸定息，謂一息將盡，而換息未起之際，脈又一至，故曰五動。閏，余也，猶閏月之義。言平和之脈，若得五動，即太過矣；惟當太息之際，亦為平脈，何也？凡人之呼吸，三息後必閏以一息之長，五息再閏，謂之太息。故曰『閏以太息』，乃應歷家三歲一閏、五歲再閏之數也。此即平人不病之常度。然則總計定息太息之間，大約一息脈當六至，故《五十營篇》曰，『呼吸定息，脈行六寸』，乃合一至一寸也。呼吸脈行丈尺，凡晝夜五十度，合一萬三千五百息，五十營氣脈之數，以應周天二十八宿。人之經脈十二，左右相同，則為二十四脈。加以蹺脈二，任、督脈二，共二十八脈，周身十六丈二尺，以分晝夜也。是為常度。使五十營之數，常周備無失，則壽亦無窮，故得盡天地之壽矣。周行八百一十丈，晝夜五十營之總數也。）一呼脈一動，一吸脈一動，曰少氣。（一呼一吸，脈各一動，則一息二至，減於常人之半，脈之遲者也。遲主陰寒，陽氣衰微也，故曰少氣。《十四難》謂之離經脈。）一呼脈三動，一吸脈三動而躁，尺熱，曰病溫；尺不熱，脈滑曰病風，脈澀曰痹。（若不因定息太息，而呼吸各三動，是一息六至矣。《難經》亦曰『離經』。躁者；急疾之謂，陽盛陰衰，熱之象也。尺熱，言尺後近臂有熱，則必通身皆熱。脈來數躁，而身有熱，故知其病溫。數滑而尺不熱，陽邪內盛，當病內風。若使外感於風，寧有尺不熱之理乎！滑，不澀也。澀，不滑也。滑為血實氣壅，澀為氣滯血少，故當病痹。）一呼脈四動以上曰死。脈絕不至曰死。乍疏乍數曰死。」（一呼四動，則一息八至矣，而況以上乎。《難經》謂之奪精。四至曰脫精，五至曰死，六至曰命盡。是皆一呼四至以上也，故死。脈絕不至，則元氣已竭。乍疏乍數，則陰陽敗亂無主。三脈若見，不死安待。）</p>

<h2>日夜五十營</h2>
<p>《內經》曰：「一日一夜五十營，以營五臟之精，不應數者，命曰狂生。（營，運也。經脈運行於身，一日一夜凡五十周，以營五臟之精氣。夫周身上下前後左右，凡二十八脈，其長十六丈二尺。人之宗氣，積於胸中，主呼吸而行經隧。一呼氣行三寸，一吸氣行三寸，呼吸定息，氣行六寸。以一息六寸推之，則一日一夜凡一萬三千五百息，通計五十周於身，則脈行八百一十丈。其有太過不及而不應此數者，名曰狂生。狂者，妄也，言幸而生也。）所謂五十營者，五臟皆受氣，持其寸口，數其至也，（五十營者，五臟所受之氣也。持，診也。但診寸口而數其至，則臟腑之衰旺可知也。）五十動而不一代者，五臟皆受氣。（代者，止而復來也。蓋臟有所損，則氣有所虧，故不能運行也。若五十動而無止者，則終無止矣。五臟之氣皆足，和平之脈也。）四十動而一代者，一臟無氣。（《難經》曰：『吸者隨陰入，呼者因陽出。今吸不能至腎，至肝而還，故知一臟無氣者，腎氣先盡也。』然則五臟和者氣脈長，五臟病者氣脈短。觀此一臟無氣，必先乎腎，如下文所謂二臟、三臟、四臟、五臟者，皆當自遠而近，以次而短，則由腎及肝，由肝及脾，由脾及心，由心及肺。凡病將危者，必氣促似喘，僅呼吸於胸中數寸之間，蓋其真陰絕於下，孤陽浮於上，此氣短之極也。庸工於此而尚欲平之散之，未有不隨撲而滅者，良可悲也。夫人之生死由乎氣，氣之聚散由乎陰，而殘喘得以尚延者，賴一線之氣未絕耳。此臟氣之不可不察也如此。）三十動而一代者，二臟無氣；二十動一代者，三臟無氣；十動一代者，四臟無氣；不滿十動一代者，五臟無氣。予之短期，要在終始。（予，猶與也。短期，死期也。言死期已近也。終始者，十二經各有絕氣先見，是名為始也。詳見《靈樞·經脈篇》。）所謂五十動而不一代者，以為常也，以知五臟之期。予之短期者，乍數乍疏也。」（以為常者，無病之常脈也。因此可以知五臟之氣。若欲決其死期，則在乍數乍疏也。不滿十至而代，則乍數乍疏矣。非代脈之外。別有乍數乍疏也。）</p>

<h2>診貴平旦</h2>
<p>《內經》曰：「診法常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，乃可診有過之脈。」（平旦者，陰陽之交也。營衛之氣，一晝夜五十周於身，晝則行陽，夜則行陰，迨至平旦，復會於寸口。斯時也，平旦初寤之時，陰氣將退而未退，陽氣將盛而未散，飲食未進，穀氣未行，故經脈未盛，而絡脈調勻，氣血未至於擾亂，乃可診有過之脈。有過，猶言有病也。若飲食入胃，則穀氣流行，直行之經，往往強盛，而橫行之絡，氣先至者強，氣未至者弱，經絡之脈不能調勻，則氣血之盛衰，未可盡憑矣。）</p>

<h2>寸關尺之義</h2>
<p>（增補）</p>
<p>《內經》曰：「從魚際至高骨，卻行一寸，名曰寸口。從寸至尺，名曰尺澤。故曰尺寸。寸後尺前，名曰關。」（大指從魚際穴至高骨，得一寸，故名為寸也。肘腕內廉尺澤穴至高骨得一尺，故名為尺也。正當高骨之上，乃尺與寸交界之際，故名為關也。其義豈苟哉！）扁鵲曰：「尺寸者，脈之大要會也。從關至尺是尺，內陰之所治也。從關至魚際是寸口，內陽之所治也。」（要者，扼要也。會者，朝會也。尺寸皆肺之經脈，百脈皆來朝會，豈非扼要之所乎！腎肝為陰，處乎尺內。心肺為陽，處乎寸內。治，猶屬也。言所屬之位也。）岐伯曰：「人有三部，部有三候，以決死生，以處百病，以調虛實，而除邪疾。」（三部，上中下也。三候，天地人也。上古診脈，不獨寸口，於諸經之動脈皆診之。此云三部九候也。可見扁鵲之三部九候，大非經旨明矣。）帝曰：「何謂三部？」岐伯曰：「有上部，有中部，有下部。部各有三候，三候者，有天，有地，有人。上部天，兩額之動脈；上部地，兩頰之動脈；上部人，耳前之動脈。中部天，手太陰也；中部地，手陽明也；中部人，手少陰也。下部天，足厥陰也；下部地，足少陰也；下部人，足太陰也。故下部之天以候肝，地以候腎，人以候脾胃之氣。」帝曰：「中部三候奈何？」岐伯曰：「亦有天，亦有地，亦有人。天以候肺，地以候胸中之氣，人以候心。」帝曰：「上部以何候之？」岐伯曰：「亦有天，亦有地，亦有人。天以候頭角之氣，地以候口齒之氣，人以候耳目之氣。三部者，各有天，各有地，各有人。三而成天，三而成地，三而成人。三而三之，合則為九。」（以此推之，經文明指人身上中下動脈各有所候，以診諸臟之氣，非獨以寸口為言也。如仲景脈法，上取寸口，下取趺陽，正是此意。《難經》所云：「三部者寸關尺，九候者浮中沉」，乃只以寸口而分三部九候之診，後世言脈者皆宗之，雖為捷法，不無背謬經旨乎！【按】扁鵲曰：「上部法天，主胸以上至頭之有疾。中部法人，主膈以下至臍之有疾。下部法地，主臍以下至足之有疾，仍宗經旨「上竟上、下竟下」之義。但九候之說，以寸關尺之三部而分浮中與沉之三候，得無又謬乎！若以扁鵲之說為是，則軒岐之說為非；軒岐之說為是，則扁鵲之說為非矣！故不得不置一喙於其間也。浮之與沉，固無庸議矣。中則止有浮之中耳，奚能有沉之中乎！浮而無中，固曰無根。沉則必無中矣，何僅以為沉脈主裡，而全無必死之症乎！蓋人但知有中正之中，而不知有中和之中。經云：「真臟脈見者死」，脈無胃氣者，謂為真臟脈也。是除諸怪脈之外，皆得謂之有中脈耳。何棄其彰明較著之經文，而反以浮中與沉，索摸於不可知之陋習乎！此事之不可解者也。況診脈之法，或以手測，或以目視，而非僅從事於指按也。史稱扁鵲以診脈為名，而倉公、仲景以下，有不競趨於名者哉！沿襲至今，而訛以傳訛，為其所紛更者愈多矣。余嘗尋繹經文，得其旨趣。人迎止隸於喉旁，三部須兼乎手足。臟則候之於左手，腑則候之於右手。寸以候上，尺以候下，臟腑皆然，庶不使有纖毫之疑，而熒惑於其間也。彼七表、八里、九道之紛紜，智又出扁鵲下矣。世多識之，故不贅焉。）</p>
<p>【按】《內經》以三部各有天地人，三而三之，為九候。上中下不定乎寸部之位，與扁鵲之寸上關中尺下不同。上部俱定於頭面兩額之動脈，即下文天以候頭角之氣，動應於指（此脈在額兩旁瞳子窌骨空處）；人以候兩頰之動脈（即聽會穴等分）；地以候口齒之氣，動應於指（此脈在鼻孔下旁，近巨窌穴之分）。是則面部不獨色診，且脈診矣。脈診則仍用七診，可以知頭面之詳矣（獨大、獨小、獨疾、獨遲、獨熱、獨寒、獨陷下也）。中部之三候，俱以寸診。其地候胸中之氣，則氣口也。本經《經脈篇》所謂行氣於府，即膻中氣海穴也。下部之天，候於關之肝，地候於尺之腎，人候於脾胃之氣。三部之候，天位乎上，人位乎中，地位乎下。獨下部人候反在天之上者，天氣下降，接乎地之陰氣，此地中之天，人高於地，即高乎地中之天矣。三部以頭候頭之屬，以手候臟腑之屬，不及臍以下至足者，以足之四經，腎主骨，肝主筋，脾主四肢，胃主宗筋，與腎相連，並筋骨主之矣。是則手候臟腑之屬，並及臍以下至足，以諸脈皆繫於手足，諸經足之脈亦連於手（上廉、下廉、前廉、後廉之類是也），不可泥頭候頭之屬，遂泥當以手候手之屬，足候足之屬也。乃本篇之後復申言之云：「以左手足上去踝五寸按之，庶右手足當踝而彈之，其應過五寸以上，蠕蠕然者不病；其應疾，中手渾渾然者病，中手徐徐然者病；（蠕蠕，微動貌。渾渾，不清貌。徐徐，緩而遲也。）其應不能至五寸，彈之不應者死。」（此經文彈按，乃是刺法，與診脈互相發明其理。）手踝之上，手太陰肺經脈也，應於中部。（去踝五寸，手踝骨在下，從內廉至太淵，計有五寸。）足踝之上，足太陰脾經脈也，應於下部。（去內踝骨之上五寸，乃三陰交之上，漏谷之下也。蓋漏谷去踝六寸乃是。）則中部之三候，舉一手太陰，而可概其餘。（手太陰者，百脈之所會，大中之中，故應中部。）下部之三候，舉一足太陰，而可概其餘。（足太陰，陰土也。陰之與土，其氣俱下，故應下部。）按而彈手足踝者，所以盡兩太陰脈之量，周悉無遺也。故可取之察吉凶也。（諸脈獨於兩太陰脈加意者，太陰屬坤，坤為胃。手太陰之中部天而即統乎中部之地與人，貴天之中也。是太陰之下部人而即統乎下部之天與地，貴人之中也。天人之際得中，而地道自寧，不必揭地之中，且以知天人之中，即胃之中，即地之中也。）《內經》之旨，精奧淵微，非神聖不能窮其理，故扁鵲以寸關尺配上中下，猶未盡然也。</p>
<p>滑伯仁曰：「診脈之道，先調自己氣息。男左女右，先以中指取定關位，卻下前後二指。初輕候消息之，次中候消息之，次重候消息之。自寸關至尺，逐部尋究。一呼一吸之間，脈行四至為率，閏以太息，五至為平脈也。其有太過不及，則為病脈，各以其部斷之。」（自己之氣息調勻，則他脈之至數明辨，故凡診必先調息也。男子屬陽，故先診左手；女子屬陰，故先診右手也。先以中指取定關部，然後下前後二指，則尺寸方准也。輕候消息，其名曰舉；中候消息，其名曰尋；重候消息，其名曰按。一息四至，為和平之脈；若當太息，必以五至為和平也。太過者，洪大有力；不及者，遲細無力也。各以五臟六腑察其微甚，審其從違，斷其吉凶生死之法如此也。）</p>
<p>又曰：「臂長則疏下指，臂短則密下指。三部之內，大小、浮沉、遲數同等，尺寸、陰陽、高下相符，男女、左右、強弱相應，四時之脈不相戾，命曰平人。其或一部之內，獨大、獨小，獨疾、獨遲，左右、強弱之相反，四時、男女之相背，皆病脈也。左手不和，為病在表，為陽，主四肢；右手不和，為病在裡，為陰，主腹臟。」（臂長脈亦長，故下指宜疏；臂短脈亦短，故下指宜密。同等者，不大不小、不浮不沉、不遲不數也。相符者，寸為陽、為高，宜浮大；尺為陰、為下，宜沉小也。相應者，左大順男，右大順女；男子寸盛而尺弱，女子尺盛而寸弱也。不相戾者，春弦、夏洪、秋毛、冬石也。此四脈者，平人無病之脈也。其或大小獨見，遲數偏呈，左右相反，時令相戾，男女相違，皆知其為病脈也。左屬陽，陽在表，與四肢相應；右屬陰，陰在裡，與腹臟相應也。余可類推。）</p>
<p>又曰：「察脈須識上下、來去、至止六字。不明此，則陰陽虛實不別也。上者為陽，下者為陰；來者為陽，去者為陰；至者為陽，止者為陰也。上者，自尺部上於寸口，陽生於陰也；下者，自寸口下於尺部，陰生於陽也。來者，自骨肉之分，而出於皮膚之際，氣之升也；去者，自皮膚之際，而還於骨肉之分，氣之降也。應曰至，息曰止也。」（上下者，以尺與寸相比度也。陽生於陰者，左尺水，生左關木；左關木，生左寸心火也。右尺火，生右關土；右關土，生右寸肺金也。陰生於陽者，右寸肺金，生左尺腎水；左寸君火，分權於右尺相火也。來者，為氣之升，主乎陽也；去者，為氣之降，主乎陰也。《內經》以來盛去衰為鉤脈，陽氣盛滿之象。若去來皆盛，鉤之太過也；來不盛，去反盛，鉤之不及也。應者，尋常應手之脈也。止者，歇至不勻之脈也，如促結澀代之類是矣。）</p>

<h2>三焦分配三部</h2>
<p>岐伯曰：「寸以候上焦，關以候中焦，尺以候下焦。」扁鵲曰：「三焦者，元氣之別使也，主通行於三氣，經歷於五臟六腑。」華元化曰：「三焦者，人身三元之氣也，總領五臟六腑、營衛經絡、內外左右上下之氣也。」</p>
<p>【按】三說而細繹之，乃知脈本身中之元神，和會後天穀氣，以周流於一身者也。蓋元神附於腎間之動氣，出於下焦，合水穀之精氣，謂之營氣；升於中焦，合水穀之悍氣，謂之衛氣；升於上焦，營行脈中，衛行脈外，其宗氣積於胸中，名曰氣海。故三焦者，統領周身之氣，而分隸於胸膈腹，即分配於寸關尺，灼然無可疑者。乃伯仁亦承訛襲舛，而謂右尺云「手心主、三焦脈所出」，何其不稽於古，不衷於理耶！</p>

<h2>重輕審察</h2>
<p>扁鵲曰：「初持脈，如三菽之重，與皮毛相得者，肺部也；如六菽之重，與血脈相得者，心部也；如九菽之重，與肌肉相得者，脾部也；如十二菽之重，與筋平者，肝部也；按之至骨，舉指來疾者，腎部也。」（由是推之，不獨以左右六部分候臟腑，即指下輕重之間，便可測何經受病矣。粗工不察於此，而專分六部，則脈中之微妙，豈在是可盡其蘊耶！）</p>

<h2>陰陽辨別</h2>
<p>岐伯曰：「言人之陰陽，則外為陽，內為陰；言人身之陰陽，則背為陽，腹為陰；言人身臟腑中陰陽，則臟為陰，腑為陽；肝、心、脾、肺、腎五臟為陰，膽、胃、大小腸、三焦、膀胱六腑為陽。故背為陽，陽中之陽，心也；陽中之陰，肺也。腹為陰，陰中之陰，腎也；陰中之陽，肝也；陰中之至陰，脾也。此言陰陽表裡、內外雌雄相輸應也。」（心肺皆居上而屬陽，但心位乎南，故為陽中之陽；肺位乎西，故為陽中之陰也。腎肝皆處乎下而屬陰，但腎位乎北，故為陰中之陰；肝位乎東，故為陰中之陽也。脾土位卑為陰，且為孤臟而居乎內，又不主時令，而寄旺於四季之末，故為陰中之至陰也。）</p>
<p>扁鵲曰：「呼出心與肺，吸入腎與肝，呼吸之間，脾受穀氣也，其脈在中。浮者陽也，沉者陰也。心肺俱浮，何以別之？然，浮而大散者，心也；浮而短澀者，肺也。腎肝俱沉，何以別之？然，牢而長者，肝也；舉之濡，按之來實者，腎也。脾主中州，故其脈在中，是陰陽之法也。」（呼出者，陽也，故心肺之脈皆浮也。心為陽中之陽，故浮而且大且散也；肺為陽中之陰，故浮而兼短澀也。吸入者，陰也，故腎肝之脈皆沉也。腎為陰中之陰，故沉而且實也；肝為陰中之陽，故沉而兼長也。脾為中州，故不浮不沉，而脈在中也。）</p>

<h2>內經分配臟腑定位</h2>
<p>《素問·脈要精微論》曰：「尺內兩旁，則季脅也。（季脅，小肋也。在脅下兩旁，為腎所近之處也。）尺外以候腎，尺裡以候腹。（尺外者，尺脈前半部也。前以候陽，後以候陰。背為陽，腎附背，故外以候腎。腹為陰，故里以候腹。所謂腹者，凡大小腸、膀胱、命門，皆在其中矣。以下諸部，俱言左右，而此獨不分者，以兩尺皆主乎腎也。）中附上，左外以候肝，內以候膈。（中附上者，言附尺之上而居乎中，即關脈也。左外者，言左關之前半部也；內者，言左關之後半部也。肝為陰中之陽，而亦附近於背，故外以候肝；內以候膈，舉一膈則中焦之膈膜、膽腑皆在其中矣。）右外以候胃，內以候脾。（右關之前，所以候胃；右關之後，所以候脾。脾胃皆中州之官，而以表裡言之，則胃為陽，脾為陰，故外以候胃，內以候脾也。按寸口者，手太陰也。太陰行氣於三陰，故曰，『三陰在手而主五臟』，所以本篇止言五臟，而不及六腑。然胃亦腑也，而此獨言之，何也？經所謂：『五臟皆稟氣於胃，胃者，五臟之本也。臟氣者，不能自致於手太陰，必因於胃氣，乃至於手太陰也。』故胃氣當於此察之。又《五臟別論》云：『五味入口，藏於胃，以養五臟氣。氣口，亦太陰也。是以五臟六腑之氣味，皆出於胃，變見於氣口。』然則此篇雖止言胃，而臟腑之氣亦無不見乎此矣。）上附上，右外以候肺，內以候胸中。（上附上者，言上而又上，則寸脈也。五臟之位，惟肺最高，故右寸之前以候肺，右寸之後以候胸中。胸中者，膈膜之上皆是也。）左外以候心，內以候膻中。心肺皆居膈上，故左寸之前以候心，左寸之後以候膻中。膻中者，心包絡之別名也。</p>
<p>【按】五臟所居之位，皆五行一定之理。火旺於南，故心居左寸；木旺於東，故肝居左關；金旺於西，故肺居右寸；土旺於中，而寄位西南，故脾胃居右關。此即河圖五行之次序也。前以候前，後以候後。（此重申上下內外之義也。統而言之，寸為前，尺為後；分而言之，上半部為前，下半部為後。蓋言上以候上，下以候下也。）上竟上者，胸喉中事也。下竟下者，少腹腰股膝脛足中事也。竟，盡也。言上而盡於上，在脈則盡於魚際，在體則應乎胸喉也。下而盡於下，在脈則盡於尺部，在體則應乎少腹腰膝足也。</p>
<p>【按】此章首言尺，次言中附上而為關，又次言上附上而為寸，皆自內以及外者，蓋以太陰之脈從胸走手，以尺為根本，寸為枝葉也。故曰，凡人之脈，寧可有根而無葉，不可有葉而無根。又按：內外二字，諸家之注皆云內側外側。若以側為言，必脈形扁闊矣，或有兩條亦可耳；不然，則於義不通矣。如前以候前，後以候後，上竟上，下竟下者，皆內外之義也。觀易卦六爻，自下而上，以上三爻為外卦，下三爻為內卦，則上下內外之義昭然矣。或曰，浮取乎外，沉取乎內，於義亦通。然如外以候肺，內以候胸中，外以候心，內以候膻中，是臟從外取，而腑從內候，則無是事矣。故不如從上下看為穩當也。推而外之，內而不外，有心腹積也。（推者，察也，求也。凡診脈必先推求於外。若但見沉脈而無浮脈，是有內而無外矣，故知其病心腹之有積也。）推而內之，外而不內，身有熱也。（推求於內，浮而不沉，則病在外而非內矣，惟表有邪，故身有熱也。）推而上之，上而不下，腰足清也。（清者，冷也。推求於上部則脈強盛，下部則脈虛弱，此上盛下虛，故腰足清冷也。上下有二義，以寸關尺言之，寸為上，尺為下也。）推而下之，下而不上，頭項痛也。（推求於下部，下部有力，上部無力，此清陽不能上升，故頭項痛；或陽虛而陰湊之，亦頭項痛也。）按之至骨，脈氣少者，腰脊痛而身有痹也。」（按之至骨，腎肝之分也。脈氣少者，言無力也。腎水虛，故腰脊痛；肝血虧，故身有痹痛也。）</p>
<p>【按】五臟六腑以暨心包絡，共成十二經，分配於脈之六部，自有定理，莫可變亂，第詳玩《內經》，便昭然於心目矣。《內經》出胸、膈、腹三字，以分上中下而配寸關尺也。然腑不及膽者，寄於肝部也；不及大小腸，膀胱者，統於腹中也，高陽生以大小腸列於寸上，不知大小腸皆在下焦腹中，乃欲越中焦而候之寸上，誤矣。彼不過因小腸脈絡於心，大腸脈絡於肺耳。然則腎之脈亦絡於心，而遂以左寸候腎可乎！膻中為手厥陰經，即心包絡也。故經曰：「左外以候心，內以候膻中。」（外，上也。內，下也。義見上文注中。）又曰：「膻中者，心主之宮城也。」又曰：「心包絡之脈，起於胸中，出屬心。」即此三段經文而細繹之，則膻中即是心包，心包實為心府，昭確可據，而高陽生候於右尺，不亦妄乎！以丹溪之敏，亦以包絡、膻中分為二候，況其他哉！《內經》明稱左右皆腎，而命門居兩腎之中。考《明堂》、《銅人》等經，命門一穴在督脈第十四椎下陷中，兩腎之間，且脈之應於指下，為有經絡，循經絡朝會於寸口，而《內經》並無命門之經絡，妄以穴名為臟，配列右尺，真是矇昧千秋矣。三焦者，中清之府，通行人身三元之氣。三焦通，則周身之氣皆通。故經曰：「上焦如霧，中焦如漚，下焦如瀆。」王叔和分配於寸關尺，乃至當也。而高陽生分隸於右尺，尤為謬妄，下文重言以申明之。</p>
<p>經曰：「尺內兩旁，則季脅也。尺外以候腎，尺裡以候腹。中附上，左外以候肝，內以候膈；右外以候胃，內以候脾。上附上，右外以候肺，內以候胸中；左外以候心，內以候膻中。」此《內經》三部之候法也。腑不及膽者，寄於肝也。不及大小腸、膀胱者，統於腹中也。至高陽生偽訣，以大小腸列於寸上，以三焦配於左尺，以命門列於右尺，及厥陰膻中，竟置而不言，又男女易位，故不可不為之辨。夫寸主上焦，以候胸中；關主中焦，以候膈中；尺主下焦，以候腹中。此一身之定位，古今之通論也。大小腸皆在下焦腹中，偽訣越中焦而候之寸部，有是理乎？伯仁見及於此，以左尺主小腸、膀胱、前陰之病，右尺主大腸、後陰之病，可稱千古隻眼。偽訣之誤，特因心與小腸為表裡，肺與大腸為表裡，不知經絡相為表裡，診候自有定位，何可混耶！叛經者一也。《靈樞》曰：「上焦出於胃上口，並咽以上貫膈而布胸中。中焦亦並胃中，出上焦之後，泌糟粕，蒸津液，化精微而為血。下焦者，別迴腸，注於膀胱而滲入焉。水穀者，居於胃中，成糟粕，下大腸而為下焦。」又曰：「上焦如霧，中焦如漚，下焦如瀆。」由是則明以上中下分三焦矣。偽訣列於左尺，不亦妄乎？又曰，「密理厚皮者，三焦厚；粗理薄皮者，三焦薄。」又曰：「勇士者，三焦理橫；怯士者，三焦理縱。」由是則有形象矣。偽訣以為無形，不亦妄乎？叛經者二也。《素問》曰：「肝、心、脾、肺、腎五臟為陰，膽、胃、大小腸、三焦、膀胱六腑為陽。」此止十一經耳，則手厥陰一經竟何在乎？又曰：心者，君主之官，神明出焉。肺者，相傅之官，治節出焉。肝者，將軍之官，謀慮出焉。膽者，中正之官，決斷出焉。膻中者，臣使之官，喜樂出焉。脾胃者，倉廩之官，五味出焉。大腸者，傳導之官，變化出焉。小腸者，受盛之官，化物出焉。腎者，作強之官，伎巧出焉。三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉，氣化則能出矣。蓋以膻中足十二經之數，則配手厥陰經者，實膻中也。及《靈樞》敘經脈，又有包絡而無膻中。然曰「動則喜笑不休」，正與「喜樂出焉」之句相合。夫喜笑者，心火所司，則知膻中與心應，即包絡之別名也。《靈樞·邪客篇》曰：「心者，五臟六腑之大主，其臟堅固，邪弗能容；容之則心傷，心傷則神去，神去則死矣。故諸邪之在心者，皆在心之包絡。」獨膻中稱臣使者，君主之親臣也。由是察之，包絡即為膻中，斷無可疑。膻中以配心臟，自有確據。乃偽訣竟不之及，則手厥陰為虛懸之位矣。叛經者三也。心、肝、脾、肺俱各一候，惟腎臟而分兩尺之候者，為腎有兩枚，形如豇豆，分列於腰脊之左右也。《刊誤》以兩尺候腎，深合經旨。《難經》、《脈訣》俱以左尺候腎水，右尺候命門相火，誤矣。考《明堂》等經，命門一穴在督脈第十四椎下陷中兩腎間。雖兩腎水臟，而相火寓焉，蓋一陽居二陰之間，所以成乎坎也。獨不思脈之應於指下者，為有經絡，循經朝於寸口。詳考《內經》並無命門之經絡也。既無經絡，何以應診而可列之右尺乎？雖然，左陽右陰，天之常也。左水右火，地之理也。兩尺之脈，左尺主腎中之真陰，右尺主腎中之真陽，不可以左為腎、右為命門也。要知命門總主乎兩腎者也。（右尺診相火，亦通。）</p>

<h2>六氣分合六部時日診候之圖</h2>
<figure>
<img alt="六氣分合六部時日診候之圖一">
</figure>
<figure>
<img alt="六氣分合六部時日診候之圖二">
</figure>
<p>此六氣分合六部時日診候之圖，乃余所自悟而自制，實六氣至理，而古今所未發者。以平治之紀為例，若太過之紀，其氣未至而至，從節前十三日為度；不及之紀，其氣至而未至，從節後十三日為度。太過之歲，從左尺浮分起立春；不及之歲，從左關中分起立春。依次而推之，必於平旦，陰氣未散，陽氣未動，飲食未進，衣服未著，言語未吐之時，清心調息，逐部細究，則時令之病，可以前知。診得六部俱平則已，若有獨大、獨小、獨浮、獨沉、獨長、獨短，與各部不同，依圖斷之，無不驗者。假如左關中候脈獨弦大，已知雨水後、驚蟄邊有風熱之病。蓋弦主風，而大主熱也；且左關又為風木之令故也。如右尺沉候，脈獨緩滯而實大，已知芒種後、夏至邊有濕熱之病。蓋緩滯主濕，而實大主熱也。若緩滯而虛大，乃濕熱相火為患。蓋緩滯為濕，而虛大為相火也；且在沉分，沉亦主濕，又在相火之位故也。久病之人，六脈俱見獨滯，惟右寸中候脈來從容和緩，清淨無滯，已知霜降後、立冬邊必愈。蓋中候而從容和緩，為胃氣之佳脈；且右寸為肺金之位，土來生金故也。其餘各部，俱仿此而細推之，百不失一也。然亦須三四候之確然不渝，無不驗者，下文重言以申明之。</p>

<h2>政運有不應之脈</h2>
<p>不應者，沉細之脈也。甚至極沉極細，幾於不可見矣；第覆病者之手而診之則見。凡值此不應之脈，乃歲運合宜，命曰天和之脈，不必求治。若誤治之，反伐天和矣。</p>
<p>土運為南政。蓋土位居中，面南行令故也。金木水火四運，皆以臣事之，北面受令，故為北政。</p>
<p>甲己二年，為土運南政。（南政之年，南面行令，故其氣在南，所以南為上而北為下，故寸為上而尺為下，司天在上，在泉在下，人氣應之，左右皆同。脈有不應者，謂陰之所在，脈乃沉細不應本脈也。陰者，言六氣有三陰三陽，而三陰之位，則少陰居中，太陰居左，厥陰居右。脈之不應，乃以三陰之中而以少陰所居之處言之，又分南北二政，定其上下也。如遇少陰司天，則兩寸不應。厥陰司天，則右寸不應。太陰司天，則左寸不應。如少陰在泉，則兩尺不應。厥陰在泉，則右尺不應。太陰在泉，則左尺不應。）</p>
<p>乙丙丁戊庚辛壬癸八年，皆為北政。（北政之年，北面受令，其氣在北，所以北為上而南為下，在泉應上，司天應下，人氣亦應之，故尺應下而寸應上。如遇少陰司天，則兩尺不應。厥陰司天，則右尺不應。太陰司天，則左尺不應。如少陰在泉，則兩寸不應。厥陰在泉，則右寸不應。太陰在泉，則左寸不應。如尺當不應而反浮大，寸當浮大而反沉細，寸當不應而反浮大，尺當浮大而反沉細，是為尺寸反。經曰：「尺寸反者死。」如右當不應而反浮大，左當浮大而反沉細，左當不應而反浮大，右當浮大而反沉細，是謂左右交。經曰「左右交者死。」）</p>

<h2>人迎氣口</h2>
<p>（增補）</p>
<p>黃帝曰：「寸口主中，人迎主外，兩者相應，俱往俱來，若引繩大小齊等。」又曰：「三陽在頭，三陰在手。」《靈樞》曰：「氣口候陰，人迎候陽。（寸口者，即氣口也，手太陰肺脈也，故主在中之病。人迎脈在結喉兩旁一寸五分，陽明胃脈也，故主在外之病。蓋太陰行氣於三陰，陽明行氣於三陽；診三陽之氣於人迎，診三陰之氣於氣口。所謂相應者，往來大小，若引繩之不爽也。故龐安常謂人迎氣口，有喉手引繩之義。以《脈經》以左為人迎，右為氣口，竟置陽明胃脈於烏有，大非經旨。況三陽在頭，三陰在手，其義亦謬。人迎謂足陽明之脈，不可以言於手明矣。然上古診法有三：一取三部九候以診通身之脈，一取太陰陽明以診陰陽之脈，一取左右氣口以診臟腑之氣。張介賓曰『初見《脈經》左為人迎，右為氣口，不無搖惑，未敢遽辨。及見《綱目》之釋人迎氣口，亦云人迎在結喉兩旁，足陽明之脈也。又見龐安常論脈曰，何謂人迎，喉旁取之。近又見徐東皋曰，《脈經》以左手關前一分為人迎，誤也。若此者，皆覺吾之先覺矣。茲特引而正之，嗚呼！一言之舛，遺誤千載。以此授受，何時復正哉。立言者可不知詳慎考訂乎？不若吳草廬之兩手俱名為氣口者無弊也。所以《內經》云，五臟六腑之氣味皆出於胃，變見於氣口。氣口即寸口也。臟腑陰陽之盛衰，莫不由此而徵見也明矣。』）春夏人迎微大，秋冬氣口微大，如是者命曰平人。」（春夏主陽故人迎之陽脈微大；秋冬主陰，故氣口之陰脈微大。微大者，猶言略大也。）雷公曰：「病之益甚與其方衰，如何？」黃帝曰：「內外皆在焉。（言表裡俱當審察也。）切其脈口滑小緊以沉者，病益甚在中；人迎脈大緊以浮者，病益甚在外。（益甚，言病進也。脈口，即太陰氣口也，故曰在中主臟。人迎，陽明腑脈也，故曰在外主腑。脈口滑小緊沉者，陰分之邪也。人迎大緊以浮者，陽分之邪也。故皆益進日甚。）脈口浮滑者病日進；人迎沉滑者病日損（脈口為陰，浮滑者，以陽加陰，故病日進。人迎為陽，沉滑者，陽邪漸退，故病日損，漸自減也。）脈口滑以沉者，病日進在內；人迎滑盛以浮者，其病日進在外。（脈口人迎，經分表裡，故其滑沉滑浮而病日進者，有在內在外之別也。）脈之浮沉及人迎與寸口脈小大等者，病難已。人迎氣口之脈，其浮沉大小相等者，非偏於陽，則偏於陰，故病難已。【按】《禁服篇》曰：『春夏人迎脈微大，秋冬寸口微大，如是者命曰平人。』其義則可知。病之在臟，沉而大者易已，小為逆。病在腑，浮而大者易已。（病在臟者為陰，陰本當沉，而大為陽氣充也，故易已；若見小脈，則真陰衰而為逆矣。病在腑者為陽，陽病得陽脈為順，故浮而大者病易已。故曰：『陰症見陽脈者生，陽症見陰脈者死。』）人迎盛堅者傷於寒，氣口盛堅者傷於食。」（人迎主表，盛堅為外感傷寒。氣口主裡，盛堅為內傷飲食。此古法也。今則止用寸口診法，不為不妙，然本無以左右分內外之理。自叔和始以左為人迎，右為氣口，其失表裡之義久矣。）</p>

<h2>脈分四時六氣</h2>
<p>十二月大寒至二月春分，為初之氣，厥陰風木主令。經曰：「厥陰之至其脈弦。」</p>
<p>春分至小滿，為二之氣，少陰君火主令。經曰：「少陰之至其脈鉤。」小滿至六月大暑，為三之氣，少陽相火主令。經曰：「少陽之至大而浮。」大暑至八月秋分，為四之氣，太陰濕土主令。經曰：「太陰之至其脈沉。」秋分至十月小雪，為五之氣，陽明燥金主令。經曰：「陽明之至短而澀。」小雪至十二月大寒，為六之氣，太陽寒水主令。經曰：「太陽之至大而長。」</p>

<h2>脈分四方</h2>
<p>東極之地，四時皆春，其氣暄和，民脈多緩。</p>
<p>南極之地，四時皆夏，其氣蒸炎，民脈多軟。</p>
<p>西極之地，四時皆秋，其氣清肅，民脈多勁。</p>
<p>北極之地，四時皆冬，其氣凜冽，民脈多石。</p>
<p>東南卑濕，其脈軟緩，居於高巔，亦西北也；西北高燥，其脈剛勁，居於汙澤，亦東南也。南人北脈，取氣必剛；北人南脈，取氣必柔。東西不齊，可以類剖。</p>

<h2>脈分五臟</h2>
<p>肝脈弦。心脈鉤。脾脈代。肺脈毛。腎脈石。</p>

<h2>五臟平脈</h2>
<p>肝脈來軟弱招招，如揭長竿末梢，曰肝平。（招招，猶迢迢也。揭，高舉也。高揭長竿，梢必和緩，乃弦長而兼和緩柔軟之象也。）</p>
<p>心脈來累累如連珠，如循琅玕，曰心平（連珠琅玕，皆狀其盛滿流行，而無太過不及之弊也。）</p>
<p>脾脈來和柔相離，如雞踐地，曰脾平。（和柔者，悠悠揚揚也。相離者，不模糊也。如雞踐地，喻其緩而不迫，胃氣之妙也。）</p>
<p>肺脈來厭厭聶聶，如落榆莢，曰肺平。（厭厭聶聶，澀之象也。如落榆莢，毛之象也。輕浮和緩，為和平之象。）</p>
<p>腎脈來喘喘累累如鉤，按之而堅，曰腎平。（喘喘、累累、如鉤，此三者，皆心脈之陽也；而濟之以沉石，則陰陽和平也。）</p>

<h2>五臟病脈</h2>
<p>肝脈來盈實而滑，如循長竿，曰肝病。（盈實而滑，弦之太過也。長竿無梢，則失其和緩之意，此弦多胃少，故肝病。）</p>
<p>心脈來喘喘連屬，其中微曲，曰心病。（喘喘連屬，急數之象。其中微曲，則尚未至於全曲，鉤多胃少之象也。）</p>
<p>脾脈來實而盈數，如雞舉足，曰脾病。（實而盈數，如雞之舉足，雖不能如踐地之和，亦不至如鳥距之疾，弱多胃少之象也。）</p>
<p>肺脈來不上不下，如循雞羽，曰肺病。（不上不下，澀之象也。如循雞羽，浮之象也。毛多胃少，肺金之病將見也。）</p>
<p>腎脈來如引葛，按之益堅，曰腎病。（引葛者，牽連引蔓之象也。按之益堅，則石多胃少，腎病將見也。）</p>

<h2>五臟死脈</h2>
<p>肝脈來急益勁，如新張弓弦，曰肝死。（曰勁曰急，強急不和，比之新張弓弦，絕無胃氣矣，安得不死。）</p>
<p>心脈來前曲後居，如操帶鉤，曰心死。（前曲者，輕舉而堅大也。後居者，重按而牢實也。操帶鉤者，狀其彈指之象也。但鉤無胃者，其死必矣。）</p>
<p>脾脈來銳堅如鳥之喙，如鳥之距，如屋之漏，如水之流，曰脾死。（鳥喙者，狀其硬也。鳥距者，狀其急也。屋漏者，亂也。水流者，散也。沖和之氣全無，中州之官已絕矣。）</p>
<p>肺脈來如物之浮，如風吹毛，曰肺死。（如物之浮，則無根矣。如風吹毛，則散亂矣。但毛無胃，則肺氣絕矣。）</p>
<p>腎脈來發如奪索，辟辟如彈石，曰腎死。索而曰奪，則互引而疾急矣。石而曰彈，則堅勁而無倫矣。但石無胃，故曰腎死。</p>
<p>【按】《難經·十五難》與《內經》不同，或《內經》有而《難經》缺，或《難經》有而《內經》無。然《難經》本以《內經》為宗，不知何以異同乃爾。學者惟當以《內經》為主，無多岐之惑也。</p>

<h2>五臟真脈</h2>
<p>（真脈，真臟脈也，即死脈也。文有異同，義無差別，總之不見胃氣之脈，乃名真臟脈。）</p>
<p>真肝脈至，中外急，如循刀刃責責然，如按琴瑟弦。</p>
<p>真心脈至，堅而搏，如循薏苡子累累然。</p>
<p>真脾脈至，弱而乍數乍疏。</p>
<p>真肺脈至，大而虛，如毛羽中人膚。</p>
<p>真腎脈至，搏而絕，如彈石狀辟辟然。</p>
<p>【按】凡持真臟脈者，肝至懸絕，十八日死。心至懸絕，九日死。肺至懸絕，十二日死。腎至懸絕，七日死。脾至懸絕，四日死。</p>

<h2>脈以胃氣為本</h2>
<p>春胃微弦曰平，弦多胃少曰肝病，但弦無胃曰死。</p>
<p>夏胃微鉤曰平，鉤多胃少曰心病，但鉤無胃曰死。</p>
<p>長夏胃微軟弱曰平，弱多胃少曰脾病，但弱無胃曰死。</p>
<p>秋胃微毛曰平，毛多胃少曰肺病，但毛無胃曰死。</p>
<p>冬胃微石曰平，石多胃少曰腎病，但石無胃曰死。</p>
<p>蔡氏曰：「不大不小，不長不短，不滑不澀，不浮不沉，不疾不遲，應手中和，意思欣欣，難以名狀者，胃氣脈也。」</p>

<h2>脈貴有神</h2>
<p>東垣曰：「有病之脈，當求其神。如六數七極，熱也。脈中有力，即有神矣。為泄其熱。三遲二敗，寒也。脈中有力，即有神矣。為去其寒。若數極遲敗，脈中不復有力，為無神也。而遽泄之去之，神將何依耶！故經曰，脈者，氣血之先；氣血者，人之神也。」（按王宗正曰：「診脈之法，當從心肺俱浮，腎肝俱沉，脾在中州。」即王氏之言，而知東垣所謂「脈中有力」之中，蓋指中央戊己土，正在中候也。胃氣未散，雖數不至於極，遲不至於敗，尚可圖也。故東垣之所謂有神，即《內經》之所謂有胃氣也。）</p>

<h2>神門脈</h2>
<p>兩手尺中，乃神門脈也。王叔和云：「神門訣斷，兩在關後；人無二脈，病死不救。」詳考其論腎之虛實，俱於尺中神門以後驗之。蓋水為天一之元，萬物賴以資始者也。故神門脈絕，先天之根本既絕，決無回生之日也。而《脈訣》謂為心脈者誤矣。彼因心經有穴名神門，正在掌後兌骨之端，故錯認耳。殊不知心在上焦，豈有候於尺中之理乎！</p>

<h2>反關脈</h2>
<p>脈不行於寸口，由列缺絡入臂後，手陽明大腸經也。以其不正行於關上，故曰反關。必反其手而診之，乃可見也。</p>

<h2>衝陽太谿太衝</h2>
<p>（增補）</p>
<p>衝陽者，胃脈也。（一曰趺陽，在足面大指間五寸，骨間動脈是也。）凡病勢危篤，當診衝陽以驗其胃氣之有無。蓋土為萬物之母，資生之本也。故經曰：「衝陽絕，死不治。」</p>
<p>太谿者，腎脈也。（在足內踝後跟骨上陷中動脈是也。）凡病勢危篤，當候太谿以驗其腎氣之有無。蓋水為天一之元，資始之本也。故經曰：「太谿絕，死不治。」</p>
<p>太衝者，肝脈也。（在足大指本節後二寸。）經曰：「診病人太衝脈有無，可以決死生。」（《難經》曰：「上部有脈，下部無脈，其人當吐；不吐者死。」）</p>

<h2>男女脈異</h2>
<p>（增補）</p>
<p>朱丹溪曰：「昔者軒轅使伶倫截嶰谷之竹，作黃鐘律管，以候天地之節氣。使岐伯取氣口，作脈法，以候人之動氣。故黃鐘之數九分，氣口之數亦九分，律管具而寸之數始形。故脈之動也，陽得九分，陰得一寸，吻合於黃鐘。天不足西北，陽南而陰北，故男子寸盛而尺弱，肖乎天也。地不滿於東南，陽北而陰南，故女子尺盛而寸弱，肖乎地也。黃鐘者，氣之先兆，故能測天地之節候。氣口者，脈之要會，故能知人命之死生。世之俗工，誦高陽生之偽訣，欲以治疾，其不殺人也幾希。」（參黃子曰：「男子陽為主，兩寸常旺於尺；女於陰為主，兩尺常旺於寸，乃其常也。反之者病。」）按褚澄《尊生經》，男脈一如叔和。女則左手寸命門、三焦，關脾、胃，尺肺、大腸；右手寸腎、膀胱，關肝、膽，尺心、小腸。男尺常弱，初生微渺之氣也。女尺常強，太陽心火之位也。遍考諸家，褚論為精。男女陰陽之分，妊則男抱母，女背母；溺則男面覆，女面仰。男命系腎，衰自下始，故小腹先垂；女命系乳，衰自上始，故乳房先槁。而男女尺寸盛弱，肖乎天地，越人以為男生於寅，女生於申，三陰從地長，三陽從天生，謬之甚也。獨丹溪惟本律法，混合天人而闢之，使千載之下，一旦昭然，豈不韙哉！《脈經》曰：「左大順男，右大順女。」</p>

<h2>老少脈異</h2>
<p>老弱之人，脈宜緩弱；若過旺者，病也。少壯之人，脈宜充實；若過弱者，病也。然又有說焉。老人脈旺而非躁者，此天稟之厚，引年之叟也，名曰壽脈；若脈躁疾，有表無里，則為孤陽，其死近矣。壯者脈細而和緩，三部同等，此天稟之靜，清逸之士也，名曰陰脈；若細小勁直，前後不等，可以決死期矣。</p>

<h2>因形氣以定診說</h2>
<p>（增補）</p>
<p>逐脈審察者，一定之矩也；隨人變通者，圓機之士也。肥盛之人，氣居於表，六脈常帶浮洪；瘦小之人，氣斂於中，六脈常帶沉數。性急之人，五至方為平脈；性緩之人，四至便作熱看。身長宜疏下指；身短宜密下指。北人多實；南人多弱。酒後之脈常數；飯後之脈常洪。遠行必疾；久飢必虛。室女常濡；嬰兒常數。經曰：「形氣相得者生，三五不調者死。」其可不察乎！</p>

<h2>脈無根有兩說</h2>
<p>以寸關尺三部言之，尺為根，關為干，寸為枝葉。若尺部無神，則無根矣。以浮中沉三候言之，沉候為根，中候為干，浮候為枝葉。若沉候不應，則無根矣。</p>

<h2>女人脈法</h2>
<p>陰搏陽別，謂之有子。（謂尺中之陰脈搏大，與寸部之陽部迥別者，乃有子也。）陰虛陽搏，謂之崩。（陰虛，血衰於下，則陽火上亢矣。血為火迫，不得而安其位，乃為崩漏之疾。）手少陰脈動甚者，妊子也。（手少陰者，心脈也。動甚者，形如豆粒，急數有力也。心主血，血旺乃能成胎。心脈動甚，血旺之象，故當妊子。）</p>
<p>滑伯仁曰：「三部脈浮沉正等，無他病而不月者，為有妊也。得太陰脈為男，得太陽脈為女。太陰脈沉，太陽脈浮。左疾為男，右疾為女。左右俱疾，為生二子。尺脈左大為男，右大為女。左右俱大，產二子。」</p>
<p>「左手沉實為男，右手浮大為女。左右手俱沉實，猥生二男；左右手俱浮大，猥生二女。」</p>
<p>「左右尺俱浮，為產二男；不爾則女作男生。（謂一男一女之胎，女胎死而男胎生。）」左右尺俱沉，為產二女；不爾則男作女生。</p>
<p>「婦人陰陽俱盛，曰雙軀。（言左右兩尺部俱大而有力也。）若少陰微緊者，血積凝濁，經養不周，胎則偏夭，其一獨死，其一獨生。不去其死，害母失胎。」</p>
<p>「何以知懷子之且生也。岐伯曰：身有病而無邪脈也。」（有病，如腹痛拘急之類。無邪脈，謂無病脈也。）婦人慾生，其脈離經，夜半覺，日中則生也。（離經者，謂離於經常之脈，如昨小今大，昨澀今滑，昨浮今沉之類。夜半覺，日中生子者，子午相沖也。）</p>
<p>婦人經斷有軀，其脈弦者，後必血下，不成胎也。（弦者，肝脈也。肝主疏泄。今見弦，則肝脈太過，不能藏血也。）</p>
<p>婦人尺脈微遲，為居經，月事三月一下。（微遲者，虛寒之脈也。居經，猶云停經也。三月一下，為血不足也。）</p>
<p>婦人尺脈微弱而澀，少腹冷，惡寒，年少得之為無子；年大得之為絕產。</p>
<p>新產傷陰，出血不止，尺脈不能上關者，死。</p>

<h2>小兒脈法</h2>
<p>小兒五歲以下，未可診寸關尺，惟看男左女右虎口。</p>
<p>食指第一節寅位，為風關，脈見易治；第二節卯位，為氣關，脈見為病深；第三節辰位，為命關，脈見為命危。</p>
<p>紫脈為熱。紅脈傷寒。青脈驚風。白脈疳疾。黃脈隱隱，為常候也。黑脈者多危。脈紋入掌為內鉤，紋彎里為風寒，紋彎外為食積。</p>
<p>五歲以上，以一指取寸關尺三部，六至為和平，七八至為熱，四五至為寒。</p>
<p>半歲以下，於額前眉端髮際之間，以名中食三指候之。兒頭在左，舉右手候；兒頭在右，舉左手候。食指近發為上，名指近眉為下，中指為中。三指俱熱，外感於風，鼻塞咳嗽。三指俱冷，外感於寒，內傷飲食，發熱吐瀉。食中二指熱，主上熱下冷。名中二指熱，主夾驚。食指熱，主食滯。</p>

<h2>諸病宜忌之脈</h2>
<p>傷寒　未汗宜陽脈，忌陰脈。已汗宜陰脈，忌陽脈。</p>
<p>頭痛　宜浮滑，忌短澀。</p>
<p>心痛　宜浮滑，忌短澀。</p>
<p>中風　宜浮遲，忌急數。</p>
<p>咳嗽　宜浮濡，忌沉伏。</p>
<p>喘急　宜浮滑，忌短澀。</p>
<p>水腫　宜浮大，忌沉細。</p>
<p>虛勞　宜微弱，忌洪數。</p>
<p>吐血　宜沉小，忌實大。</p>
<p>衄血　宜沉細，忌浮大。</p>
<p>脫血　宜陰脈，忌陽脈。</p>
<p>癆瘵　宜軟緩，忌細數。</p>
<p>消渴　宜數大，忌虛小。</p>
<p>腹脹　宜浮大，忌沉小。</p>
<p>腸澼　宜沉小，忌數大，（即痢疾）</p>
<p>下利　宜沉細，忌浮大。（同泄瀉。）</p>
<p>霍亂　宜浮大，忌微遲。</p>
<p>癥瘕　宜沉實，忌虛弱。</p>
<p>痞滿　宜浮大，忌沉小。</p>
<p>痿痹　宜虛濡，忌緊急。</p>
<p>顛癇狂　宜實大，忌沉細。</p>
<p>墮傷　宜緊急，忌弱小。</p>
<p>金瘡　宜微細，忌緊數。</p>
<p>中惡　宜緊細，忌浮大。</p>
<p>癰疽　宜微緩，忌滑數。</p>
<p>中毒　宜洪大，忌微細。</p>
<p>新產　宜沉滑，忌弦緊。</p>
<p>帶下　宜虛遲而滑，忌疾急。</p>
<p>崩漏　宜微弱，忌實大。</p>
<p>䘌蝕　宜虛小，忌緊急。</p>
<p>腹痛　宜沉細，忌弦長。</p>

<h2>怪脈</h2>
<p>雀啄　連三五至而歇，歇而再至，如雀啄食，脾絕也。</p>
<p>屋漏　良久一至，屋漏滴水之狀，胃絕也。</p>
<p>彈石　從骨間劈劈而至，如指彈石，腎絕也。</p>
<p>解索　散亂如解繩索，精血竭絕也。</p>
<p>蝦游　沉時忽一浮，如蝦游然，靜中一動，神魂絕也。</p>
<p>魚翔　浮時忽一沉，譬魚翔之似有似無，命絕也。</p>
<p>釜沸　如釜中水，火燃而沸，有出無入，陰陽氣絕也。</p>

<h2>七診</h2>
<p>岐伯曰：「察九候七診，（九候注見前。）獨小者病，獨大者病，獨疾者病，獨遲者病，獨熱者病，獨寒者病，獨陷下者病。（此言九候之中，有獨見之脈，而與他部不同，即按其部而知其病之所在也。七者之中，既言獨疾則主熱矣，既言獨遲則主寒矣，而又言獨寒獨熱者，何也？必於陰部得沉微遲澀之脈，故又言獨寒也；必於陽部得洪實滑數之脈，故又言獨熱也。獨陷下者，沉伏而不起者也。）形肉已脫，九候雖調猶死。（形肉脫去者，大肉盡去也。脾主肌肉，為五臟之本，未有脾氣脫而能生者。雖九候之中無獨見之七診，然終不免於死亡矣。）七診雖見，九候皆從者不死。」（從，順也。謂脈順四時之令，合五臟之常，及與病症為順也。既得順候，雖有獨大、獨小等，不至於死也。）</p>

<h2>必先問明然後診脈</h2>
<p>《素問·徵四失篇》曰：「診病不問其始，憂患飲食之失節，起居之過度，或傷於毒，不先言此，卒持氣口，妄言作名，為粗所窮，何病能中？」（此言不問其症之所由起，先與切脈，未免模糊揣度，必不能切中病情者矣。）</p>
<p>《素問·疏五過篇》云：「凡未診病者，必問嘗貴後賤，雖不中邪，病從內生，名曰脫營；嘗富後貧，名曰失精。」（脫營、失精，皆陰氣虧損也。貴者忽賤，富者忽貧，未免抑鬱而下舒，氣滯則血滯，久則新者不生，滯者成疾，故言脫、言失者矣。）</p>
<p>【按】古之神聖未嘗不以望聞問切四者互相參考，審察病情，然必先望其氣色，次則聞其音聲，次則問其病源，次則診其脈狀，此先後之次第也。近世醫者既自附於知脈，而病家亦欲試其本領，遂絕口不言，惟伸手就診，而醫者即強為揣摩；若揣摩偶合，則信為神手，而揣摩不合，則薄為愚昧。噫嘻！此《內經》所謂「妄言作名，為粗所窮」，如是而欲拯危起殆，何異欲其入室而反閉門耶！王海藏云：「病人拱默，惟令切脈，試其知否。夫熱則脈數，寒則脈遲，實則有力，虛則無力，可以脈知也。若得病之由，及所傷之物，豈能以脈知哉！故醫者不可不問其由，病者不可不說其故。」蘇東坡云：「我有病狀，必盡告醫者，使其胸中瞭然，然後診脈，則疑似不能惑也。我求愈疾而已，豈以困醫為事哉！」若二公之言，可以發愚蒙之聾瞶矣。</p>

<h2>望色</h2>
<p>（增補）</p>
<p>《內經》曰：「望而知之者，望見其五色，以知其病。」肝青象木，肺白象金，心赤腎黑，脾土色黃，一或有病，色必變見於面庭矣。然肺主氣，氣虛則色白。腎屬水，水涸則面黎。青為怒氣傷肝。赤為心火炎上。痿黃者內傷脾胃。紫濁者外感風邪。憔悴黝黑，必鬱悒而神傷。消瘦淡黃，乃久病而體憊。山根明亮，須知欲愈之疴。環口黎黑，休醫已絕之腎。蓋有諸內必形諸外，見其表以知其里。眉目一占，肺肝斯見。</p>
<p>《內經》曰：「能合色脈，可以萬全。五色者，氣之華也。赤欲如帛裹朱，不欲如赭。白欲如鵝羽，不欲如鹽。青欲如蒼璧之澤，不欲如藍。黃欲如羅裹雄黃，不欲如黃土。黑欲如重漆色，不欲如地蒼。青如翠羽者生。赤如雞冠者生。黃如蟹腹者生。白如豕膏者生。黑如烏羽者生。」</p>
<p>且夫五臟六腑之精華，上彰於明堂，而臟腑各有偏勝盈虛，若色若脈，亦必隨而應之，但當求其有神，雖困無害。然所謂神者，色中有光澤明亮是也。即脈有胃氣，同一理也。良工精而候之，可以先知，經所謂「望而知之謂之神」者是也。</p>
<p>《難經》曰：「五臟有五色，皆見於面，亦當於寸口尺內相應。假令色青，其脈當弦而急。色赤，其脈浮大而散。色黃，其脈中緩而大。色白，其脈浮澀而短。色黑，其脈沉濡而滑。脈數，尺之皮膚亦數。脈急，尺之皮膚亦急。脈緩，尺之皮膚亦緩。脈澀，尺之皮膚亦澀。脈滑，尺之皮膚亦滑。假令色青，其脈浮澀而短，若大而緩，為相勝；（色青，脈澀而短，乃金剋木；脈大而緩，乃木剋土，皆為相勝之脈。）浮大而散，若小而滑，為相生也。」（浮大而散，心脈也，乃木生火；小而滑，腎脈也，乃水生木，皆為相生之脈。）</p>
<p>《內經》曰：「凡治病，察其形氣色澤，脈之盛衰，病之新久，乃治之，無後其時。形氣相得，謂之可治。色澤以浮，謂之易已。脈從四時，謂之可治。脈弱以滑，是有胃氣，命曰易治，取之以時。形氣相失，謂之難治。色夭不澤，謂之難已。脈實以堅，謂之益甚。脈逆四時，為不可治。必察此四者，而明告之。」</p>
<p>又曰：「色味當五臟，白當肺辛，赤當心苦，青當肝酸，黃當脾甘，黑當腎咸。故白當皮，赤當脈，青當筋，黃當肉，黑當骨。」</p>
<p>《靈樞》曰：「五色各見其部。察其浮沉，以知淺深。察其澤夭，以觀成敗。察其散摶，（音團。）以知遠近。視色上下，以知病處。積神於心，以知往今。不明不澤，其病不甚。其色散，駒駒然未有聚。（駒駒然，如馬之奔散。）其病散而氣痛，則聚未成也。」浮沉淺深，皆內外陰陽之義。然細繹之，浮沉雖有內外之殊，而吉凶必以夭澤為辨。如浮而澤者，浮則其病淺，澤則神有餘，雖病即愈，吉之吉者也。若浮而夭者，其病雖淺，神氣將衰，主病氣漸重之兆，安得謂之吉乎？如沉而夭者，沉則其病深，夭則其神不澤，其病必死，凶之凶者也。若沉而澤者，其病雖深，神將復振，主病氣漸退之兆，安得謂之凶乎？此只就一浮一沉之中而分順逆，若更以順色濃淡察之，則順又有輕重之別矣。至於察其散摶，以知遠近，未嘗不嘆色之聚散不定也。散者，如雲撤散而不聚，其色漸漸而散，先濃後淡，先定後行也，主病色漸退之兆，即經所謂「其色散，駒駒然未有聚，其病散而氣痛，聚未成也」，可見以色之聚散以為驗。摶者，如物摶聚而不散，其色漸漸而聚，先淡後濃，先行後定也，主病氣方來之機，即經所謂「散為痛，摶為聚，左右內外各如其形色耳」。氣色散者，為痛而不至成聚。若摶聚不散，則成聚而不止於痛。由此觀之，病氣方來，霍然之期尚遠；病氣漸退，痊愈之日已近。夫如是，重病色逆，若兼撤散之形，未可即決其凶；輕病而色順，如兼摶聚之形，未可即言其吉。然不明不澤之色，雖非吉兆，乃不致沉夭，亦非必死，故曰其病不甚也。此皆軒岐言外之義，若不體認會悟其微，而決吉凶，一有不驗，言望色難憑，咎將誰歸？所云「各色各見其部，察其浮沉，以知淺深」，又將各部而察之，其條分縷析，如江海之通眾流，豈能以紙上之言盡者哉！</p>
<p>黃帝曰：「黃赤為風，青黑為痛，白為寒。黃而膏潤為膿，赤甚為血，痛甚為攣，寒甚為皮膚不仁。」又曰：「黃赤為熱。色貴明潤，不欲沉夭。夭然色不澤，其脈空虛，為奪血。」</p>
<p>鼻位中央，屬土，主脾；通呼吸，兼主肺，為肺之官也。鼻色黃者，小便難。獨鼻尖青黃者，其人必為淋也。青者腹中痛。微黑者有水氣。白者亡血。黃白無澤，氣虛有痰。紫濁時病。赤為熱。鮮紅有留飲。鼻孔乾燥，必衄血。鼻燥如煙煤，屬陽毒熱極；及鼻孔冷滑而黑，屬陰毒冷極。皆危。鼻塞濁涕是風熱。鼻流清涕是肺寒。鼻孔痔脹，屬肺熱有風。顴色赤者，心病。顴與顏黃黑者，腎病。赤色出兩顴，大如拇指，病雖小愈，必卒死。傷寒汗不出，大顴發赤，噦者死；顴見青氣者死。面白顴赤，火剋金也，為賊邪，其病不治。肝熱病者，左頰先赤。肺熱病者，右頰先赤。耳間青脈起掣病。耳痛，耳腫，耳聾，及耳前紅腫，皆系少陽之熱。人中平滿主有水，土敗唇反，甲篤乙死。唇舌者，肌肉之本也。脾病者唇黃。唇見五色者，病在脾。唇色如紅蓮光澤者，無病。舌乾唇燥為脾熱，燥而紅者吉，燥而黑者凶。腫赤者熱極，青黑者寒極。黃者血虛，白者失血。口苦膽熱，甜者脾熱，淡亦脾熱。口燥咽乾者，腎熱。舌乾口燥者，心熱。口噤咬牙者，痙病。唇口生瘡聲啞者，狐惑。齒燥無津，陽明熱極。齒燥脈虛是中暑。唇舌苔上有斷紋者，難治。唇青舌卷，環口黧黑，口張氣直，唇口顫搖者，死。舌短顴赤者，心病。少陰氣上逆，厥則齧舌。舌色鮮紅潤澤者吉，黑者凶。濕滑者吉，燥澀者凶。白苔者，胸中有寒，丹田有熱。苔白而滑，邪未入府，在半表半裡，宜和解，苔黃者，邪入胃，宜下。苔燥黑生芒刺者，難治，法宜急下。身不熱，口不渴，苔黑而滑者，屬陰寒，法宜急溫。舌卷焦黑而燥者，陽毒熱極，宜急下。舌青苔滑，無熱不渴者，陰毒寒極，宜急溫。舌紫黑者陰寒，赤紫者陽熱。舌硬，舌腫，舌卷，舌短，舌強囊縮者，難治。若語言不清，神昏脈脫者，死。陰陽易，舌出數寸死。夏令熱病，苔黑燥渴者，可治，不在必死之例。若黑苔刮不去，及去易生刺裂者，必死。冬月黑苔者，必死。婦人難產，唇舌俱青者，母子俱死；面赤舌青，子死母活；面青舌赤，子活母死。面黃而淡，脾胃有傷，四肢痿弱，腹脹，面黃而濁如熏，濕盛黃疸。黃如橘色多熱。黃兼青紫，脈芤者，瘀血在胃，或脅必有塊。面上白點，是蟲積。面色青黃白不常，及有如蟹爪路，一黃一白者，主食積。目黑頰赤，主痰熱。目胞黑者，痰也。眼黑行走呻吟者，骨節痠痛，痰入骨也。眼黑麵黃，四肢痿痹，屈伸不便者，風痰也。傷寒眼下青色，主挾陰。面黃目青，為傷酒。目睛黃，酒疸。面黃白，及腫連眼胞者，谷疸，其人必心下痞。目色赤者，病在心；白在肺；青在肝；黑在腎；黃在脾；黃色不可名者，病在胸中。面黃目青，及面黃目赤，面黃目白，面黃目黑者，皆不死。面赤目白，面青目黑，面黑目白，面赤目青者，皆死。面目有黃色，是有胃氣，為吉。病人鼻準明，山根亮，目眥黃光，為有起色。目黃心煩，脈和者，病將愈。平人忽見黑氣，起於口鼻耳目邊者，凶。明堂眼下青色，多欲勞傷精神；不爾，即夜未睡。黑而瘦，陰虛火旺。臂多青脈，是脫血。心病傳肺，肝病傳脾，脾病傳腎，腎病傳心，肺病傳肝，俱死。五臟已奪，神明不守。五臟氣絕，大小便不禁，手足不仁。三陰氣絕，則目眩轉，目矇；目矇為失志，失志則目矇者，死。三陽氣絕，則陰與陽相離；陰陽相離，則腠理泄，絕汗乃出，大如貫珠，轉出不流，旦占夕死，夕占旦死。</p>

<h2>形診</h2>
<p>（增補）</p>
<p>人之大體為形，形之所充者氣。形盛氣者夭，（肥白是也。）氣盛形者壽。（修長黑瘦有神者。）形盛為有餘，（邪氣實也。）消瘦為不足。（正氣虛也。）氣實形實，氣虛形虛，形盛脈細，少氣不足以息者，死；形瘦脈大，胸中多氣者，死。形氣相得者生，參伍不調者死。肥人多中風，以形厚氣虛，難以周流，氣滯痰生，痰則生火，故暴厥也。瘦人陰虛，血液衰少，相火易亢，故多勞嗽。病人形脫，而氣盛者，死。（盛則喘促狂亂之類，是邪氣實也。）形體充大，而皮膚寬緩者，壽。形體充大，而皮膚緊急者，夭。形氣相失，謂之難治。形盛氣虛，氣盛形虛；形澀而脈滑，形滑而脈澀；形大而脈小；形長脈短，形短脈長；肥人脈細小輕虛如絲，羸人脈躁者；俱凶。血實氣虛則肥，血虛氣實則瘦。肥者能寒不能熱，瘦者能熱不能寒。髯美而長至胸，陽明血氣盛；髯少血氣弱；不足則無髯。美髯者太陽多血。坐而伏者，短氣也。行遲者，痹也。坐而下一腳者，腰痛也。裡實護腹，如懷卵物者，心痛也。持脈時，其人欠者，無病也。息搖肩者，心中堅。息引胸中上氣者，咳。息張口短氣者，肺痿吐沫。掌中寒，腹中寒。掌中熱，氣不足，虛火盛。診時病人叉手摸心，閉目不言，必心虛怔忡。倉廩不藏者，門戶不要也。水泉不止者，膀胱不藏也。頭者，精明之府；頭傾視深，精神將奪。背者，胸中之府；背曲肩隨，府將壞矣。腰者，腎之府；轉搖不能，腎將憊矣。膝者，筋之府；屈伸不能，行將僂附，筋將憊矣。骨者，髓之府；不能久立，行則振掉，骨將憊矣。</p>
<p>凡診脈時，病人欠伸者，病詐。陽引而上，陰引而下，陰陽相引，故欠而病詐。及向壁臥，聞師到不驚起而目盻視，若三言三止，脈之嚥唾，亦詐病也。其脈本和。當以危言動之，須服吐下藥，或針灸數十處乃愈，以試嚇之，得其真情可也。甚有小兒女子，初則詐起，久則病真，以人事糾結相左，其初詐病之情，則成實病，比比然也，不可不知。</p>

<h2>聞聲</h2>
<p>（增補）</p>
<p>《難經》曰：「聞其五音，以知其病。」以五臟有五聲，以合於五音。謂肝呼應角，心言應徵，脾歌應宮，肺哭應商，腎聲應羽是也。然此義深奧，非尋常所能揣測者。今以古人經驗簡易之法，列為聲診。脈之呻者，痛也。（言診時之呻吟。）言遲者，風也。（遲則蹇澀，風痰之症。）聲如從室中言，此中氣有濕也。言將終乃復言者，此奪氣也。（謂氣不續，言未終止而又言之狀也。）衣被不斂，言語罵詈不避親疏者，神明之亂也。（狂。）出言懶怯，先輕後重，此內傷中氣也。出言壯厲，先重後輕，是外感邪盛也。攢眉呻吟，苦頭痛。呻吟不能行起，腰足痛。叫喊以手按心，中脘痛。呻吟不能轉身，腰痛。搖頭以手捫腮唇，齒痛。行遲者，腰腳痛。診時吁氣者，鬱結；紐身者，腹痛。形羸聲啞，勞瘵之不治者，咽中有肺花瘡也。暴啞者，風痰伏火，或暴怒叫喊所致。聲嘶血敗，久病不治。坐而氣促，痰火哮喘。久病氣促危。中年人聲濁，痰火。診時獨言獨語，首尾不應，是思慮傷神。傷寒壞病聲啞，為狐惑。上唇有瘡，蟲食其藏；下唇有瘡，蟲食其肛。氣促喘息，不足以息者，虛甚也。雖病其聲音清亮如故者，吉。平日無寒熱，短氣不足以息者，實也。（實者，是痰與火也。）</p>

<h2>問診</h2>
<p>（增補）</p>
<p>凡診病，必先問是何人，或男或女，或老或幼；次問得病之日，受病之因，及飲食胃氣如何，大小便如何，曾服何藥，日間如何，夜寐如何，胸膈有無脹悶之處？問之不答，必耳聾。須詢其左右，平素如何？否則病久或汗下過傷致聾。問而懶答，或點頭，皆是中虛。昏憒不知人事，非暴厥，即久病也；如婦人多中氣。診婦人，必當問月信如何？寡婦氣血凝滯，兩尺多滑，不可誤斷為胎；室女亦有之。心腹脹痛，須問新久。凡診須問所欲何味何物，或葷素，或縱飲茶酒。喜甘脾弱，喜酸肝虛。頭身臂膊作痛，必須問曾生惡瘡否，曾服何藥否。臨診必審形志如何，或形逸心勞，或形勞志苦，或抑鬱傷中，或貴脫勢，病從內生，名曰脫營，（言耗散其營氣也。）嘗富後貧，憂悲內結，名曰失精，（言其精神喪失也。）皮焦筋屈，痿痹為攣，以其外耗於衛，內奪於營，良工診之，必知病情。再問飲食居處，暴樂暴苦，始樂後苦。暴怒傷陰，暴喜傷陽，形體毀沮，精華日脫，邪氣內並。（謂邪乘其虛而並也。）故聖人之治病也，必察天地陰陽，四時經紀；五臟六腑，雌雄表裡；刺灸砭石，毒藥所主；從容人事，以明經道；貴賤貧富，各異品理；問年少長，勇怯之性；審於部分，知病本始；七診九候，症必副矣。</p>

<h2>望舌</h2>
<p>（增補）</p>
<p>張三錫曰：「《金鏡錄》載三十六舌以辨傷寒之法已備，再三討論，不過陰陽、表裡、虛實、寒熱而已。」陶節庵曰：「傷寒邪在表，則舌無苔；熱邪傳裡，舌苔漸生，自白而黃，黃而黑，甚則黑裂。黑苔多凶，如根黑、中黑、尖黑皆屬熱；全黑屬熱極，為難治矣。」</p>
<p>外感挾內傷宿食重而結於心下者，五六日舌漸黃；或中干旁潤，名中焙舌，則裡熱未重；若全乾黃黑，皆為里症，分輕重下之。如下之或再下之不減者，尚有宿垢結於中宮也。必切其脈之虛實，及中氣之何如。實者宜潤而下之，不可再攻。虛人神氣不足，宜回其津液，固其中氣，有用生脈散對解毒湯而愈者，此則陽極似陰之症；有用附子理中湯冷服而愈者，此則陰極似陽之症，不可不辨。</p>
<p>白苔屬寒，外症煩躁，欲坐臥泥水中，乃陰寒逼其無根之火而然，脈雖大而不鼓，當從陰症治；若不大躁者、嘔吐者，當從食陰治。</p>

<h2>死候</h2>
<p>（增補）</p>
<p>屍臭。（肉絕。）舌卷及囊縮。（肝絕。）口不合。（脾絕）肌腫唇反。（胃絕。）髮直齒枯。（骨絕。）遺尿。（腎絕）毛焦。（肺絕。）</p>
<p>面黑直視。目瞑不見。（陰絕。）目眶陷，目系傾。汗出如珠。（陽絕。）手撒戴眼。（太陽絕。）病後喘瀉。（脾肺將絕。）目正圓，痙。（不治。）</p>
<p>吐沫面赤。面青黑。唇青，人中滿。發與眉衝起。爪甲下肉黑。手掌無紋。臍突。足趺腫。聲如鼾睡。脈浮無根。面青伏眠，目盲。汗出如油。（以上肝絕，八日死。）眉傾。（膽絕。）手足爪甲青，或脫落，呼罵不休。（筋絕，八日死。）肩息回視（心絕，立死。）髮直如麻，不得屈伸，自汗不止。（小腸絕，六日死。）口冷足腫，腹熱臚脹，泄利無時。（脾絕，五日死。）脊骨疼腫，身重不可轉側。（胃絕，五日死。）耳干舌腫，溺血，大便赤泄。（肉絕，九日死。）口張，氣出不反（肺絕，三日死。）泄利無度。（大腸絕。）齒乾枯，面黑目黃，腰欲折，自汗。（腎絕。）</p>

<h2>臟腑分配於面部</h2>
<p>（增補）</p>
<p>《靈樞》曰：五臟六腑，各有部分；能別部分，萬舉萬當。庭者，首面也。（庭，天庭也，謂之首面。）闕上者，（眉間上分。）咽喉也。闕中者，（眉之中。）肺也。下極者，（印堂。）心也。直下者，（山根。）肝也。肝左者，（山根之左。）膽也。下者，（胃之下。）脾也。方上者，（方始上於脾。）胃也。中央者，（脾之下，壽之上。）大腸也。挾大腸者，腎也。（腎有兩，故挾大腸也。）當腎者，臍也。（腎與大腸、臍，俱在壽上。）面王以上者，（面王，準頭也。鼻為面之王。）小腸也。（準頭上色黃，小便難。）面王以下者，膀胱子處也。（準頭之部，又分上下，男小腹痛，卵痛；女子主膀胱子處病。）顴者，肩也。顴後者，臂也。臂下者，手也。目內眥上者，膺乳也。挾繩而上者，背也。（耳旁為繩，臂背為外，膺乳為內，故在目內眥。）循牙車以下者，股也。中央者，膝也。（膝居股脛之中。）膝以下者，脛也。脛以下者，足也。巨分者，股里也。（巨，大也。上下牙床大分處以候股。牙床司開合，亦如股里之任屈伸也。）巨屈者，膝臏也。（上下唇交接處是地倉穴，以唇口大為屈轉，以候膝臏。又唇為言語飲食之門戶，亦如膝臏為屈伸奔走之關節，俱動而不休，故應候焉。）此五臟六腑肢節之部分也。</p>
<p>【按】《靈樞》此文，雷公問，黃帝答者。細繹經旨，自首面而至膀胱子處十四部，配於明堂者也。自顴至膝臏十一部，配顴之左右及顴之下也。由此觀之，明堂為內，兩顴為外，一部之分，而有內外。黃帝曰：「明堂者，鼻也。闕者，眉間也。庭者，顏也。」此三者立內部。「蕃者，頰側也。蔽者，耳門也。」此二者別外部。又按五官之辨曰：「明堂骨高以起，平以直，五臟次於中央，六腑挾於兩側，首面上於闕庭，王宮在於下極。」前後互觀，臟腑配於明堂，肢體列於兩顴，上下左右，不更彰彰乎！</p>

<h2>診脈要訣</h2>
<p>《素問·脈要精微論》曰：「持脈有道，虛靜為保。」（切脈之道，貴於精誠，嫌其擾亂，故必心虛而無他想，身靜而不言動，然後可以察脈之微而不失病情也。保者，不失也。若躁動不安，瞻視不定，輕言談笑，亂說是非，不惟不能得脈中之巧，適足為旁觀者鄙且笑也。）</p>

<h2>決死生</h2>
<p>黃帝曰：「決死生奈何？」岐伯曰：「形盛脈細，少氣不足以息者危。（身形肥盛，而脈形細弱，且少氣而不足以呼吸，則外有餘而內不足，枝葉盛而根本拔也。故曰，少氣不足以息者危。）形瘦脈大，胸中多氣者死。（身形瘦削，而脈形洪大，且胸中多氣者，陰不足而陽有餘也。孤陽不生，故知必死。）形氣相得者生。（形盛者脈亦盛，形小者脈亦小，則形與脈相得矣。相得者，相合也。）參伍不調者病。（參伍者，數目也。言其至數不勻，往來無常度，故知必病。）三部九候皆相失者死。（皆相失者，如應浮而沉，應小而大，違四時之度，失五臟之常者矣。）上下左右之脈相應如參舂者病甚。上下左右相失不可數者死。（上下左右，即兩手之三部九候也。參舂者，實大有力，如杵之舂，故曰病甚。若失其常度，至於急數而不可數，即八九至之絕脈也，安得不死！）中部之候相減者死。」（眾部雖調，而中部獨不及者，為根本敗壞，安得生乎！）</p>

<h2>辨七表八里九道之非</h2>
<p>謝縉翁曰：「《脈經》論脈二十四種，初無表裡九道之目。其言芤脈為陰，《脈訣》乃以芤為七表之陽。仲景辨脈云：『浮大動數滑，陽也。沉澀弱弦微，陰也。』《脈訣》九道以動為陰，七表以弦為陽。似此之類頗多。」</p>
<p>吳草廬曰：「脈之浮沉、虛實、緊緩、數遲、滑澀、長短之相反配匹，自不容易，況有難辨。如洪散俱大而洪有力，微細俱小而微無力。芤類浮而邊有中無，伏類沉而邊無中有。似豆粒而搖搖不定者動也，似鼓皮之如如不動者革也。俱對待也。又有促、結、代皆有止之脈，促疾結緩，故為可對，代則無對。總二十七脈，不止於七表八里九道二十四脈也。」</p>
<p>戴同父曰：「脈不可以表裡定名也。軒岐越人叔和皆不言表裡，《脈訣》竊叔和之名而立七表八里九道，為世大惑。脈之變化，從陰陽生，但可以陰陽對待而言，各從其類，豈可以一浮二芤為定序，而分七八九名之乎！廬山劉立云以浮沉遲數為綱而教學者，雖似為捷徑，然必博而反約，乃能入妙，若以此為足，亦自畫矣。」</p>
<p>李時珍曰：「《脈經》論脈只有二十四種，無長短二脈。《脈訣》之歌亦止二十四種，增長短而去數散，皆非也。《素》《難》仲景論脈，止別陰陽，初無定數。如《素問》之鼓搏喘橫，仲景之惵卑高章剛損縱橫逆順之類是也。後世失傳，無所依准，因立名為之指歸耳。今之學者，按圖索驥，猶若望洋，而況舉其全旨乎！此草廬公之獨得要領也。」</p>
<p>滑伯仁曰：「脈之陰陽表裡，俱以對待而言。高陽生之七表八里九道，蓋穿鑿矣。求脈之明，反為脈之晦。」</p>

<h2>脈決死期</h2>
<p>（《素問·大奇論》）</p>
<p>脈至浮合，浮合如數，一息十至以上，是經氣予不足也；微見，九十日死，（浮合者，如浮萍之合，有表而無里也。如數者，似數而非數熱之陽脈也。是經氣衰極耳。微見者，初見也。初見此脈，便可決於九十日而死。時季改易，天道更而人氣從之也。十至當作七至。若果十至，則為絕脈，死在旦夕，豈待九十日哉！故知錯誤無疑矣。）</p>
<p>脈至如火薪然，是心精之予奪也；草乾而死。（脈如火熱，是洪大之極也。但見本臟之脈，無胃氣以和之，則知心精之已奪矣。夏乃火令，猶未遽絕；至秋深而草乾陽消之候，其死期必矣。）</p>
<p>脈至如散葉，是肝氣予虛也；木葉落而死。（如散葉者，浮漂無根也。肝木大虛，違其沉弦之常矣。秋風動而木葉黃落，金旺則木絕，故死。）</p>
<p>脈至如省客，省客者，脈塞而鼓，是腎氣之不足也；懸去棗華而死。（省者，禁也，故天子以禁中為省中。塞者，沉而不利也。鼓者，搏而有力也。伏藏於內而鼓搏，正如禁賓客而不見，獨知於內而恣肆也。故曰如省客也。是腎氣陰寒不安之狀也。棗花去，則當長夏也。土旺水涸，腎虛者不能支也。）</p>
<p>脈至如丸泥，是胃精予不足也；榆莢落而死。（丸泥者，彈丸也。滑動有力，沖和之氣蕩然矣。春深而榆莢始落，木令方張，弱土必絕。）</p>
<p>脈至如橫格，是膽氣予不足也；禾熟而死。（橫格者，如橫木之格也。且長且堅，東方之真臟脈見矣。禾熟於秋，金令乘權，木安得不敗。）</p>
<p>脈至如弦縷，是胞精予不足也。病善言，下霜而死；不言可治。（弦縷者，如弦之急，如縷之細也。胞者，心也，心包絡也。言者，心聲也。火過極而神明無以自持，則多言不寐也。夫脈細則反其洪大之常，善言則喪其神明之守，方霜下而水帝司權，火當絕矣。）</p>
<p>脈至如交漆，交漆者，左右旁至也；微見，三十日死。（交漆者，瀉漆也。左右旁至者，或左或右，不由正道也。微見此脈，以一月為期，必不祿矣。）</p>
<p>脈至如湧泉，浮鼓肌中，太陽氣予不足也；少氣，味韭英而死。（湧泉者，如泉之湧，浮鼓於肌肉之上，而乖違乎就下之常，膀胱衰弱，陰精不能上奉，故少氣耳。韭英新發，木帝司命，則水官謝事矣。）</p>
<p>脈至如頹土之狀，按之不得，是肌氣之不足也；五色先見黑，白壘發而死。（虛大無根，按之即不可得見，頹土之狀也。肌氣，即脾氣，脾主肌肉也。黑為水色，土虛而無所畏，反來乘之矣。壘即蘽也。蓬蘽有多類，而白者發於春，當木旺之時，土安得而不敗。）</p>
<p>脈至如懸雍，懸雍者，浮揣切之益大，是十二俞之予不足也；水凝而死。（懸雍者，喉間下垂之肉也。浮揣之益大，即知重按之而必空矣。浮短者，孤陽亢極之象也。十二俞，即十二經之系也。水凝冰結，陰盛之時，而孤陽有不絕者乎！）</p>
<p>脈至如偃刀，偃刀者，浮之小急，按之堅大急，五臟菀熱，寒熱獨並於腎也；其人不得坐，立春而死。（浮之小急，如刀口也。按之堅大急，即刀背也。菀者，積結也。五臟結熱，故發寒熱也。陽旺則陰消，故獨並於腎也。腰者，腎之府。腎虛則不能起坐。迨立春而陽氣用事，陰日以衰，安得不死也。）</p>
<p>脈至如丸滑不直手，不直手者，按之不可得也，是大腸氣予不足也；棗葉生而死。（如丸者，短而滑也。短而無根，按之不得也，大腸之金氣傷也。棗葉初生，新夏火旺，衰金從此逝矣。）</p>
<p>脈至如華者，令人善恐，不欲坐臥，行立常聽，是小腸氣予不足也；季秋而死。（華者，草木之花也，在枝葉而不在根株，乃輕浮而虛也。小腸氣通於心，善恐，不欲坐臥者，心神怯而不寧也。行立常聽者，恐懼多而生疑也。丙火墓於戌，故當九月季秋死。）</p>

<h2>奇經八脈</h2>
<p><u>督脈</u>　尺寸中央俱浮，直上直下。</p>
<p>【按】潔古云：「督者，都也，為陽脈之都綱。」其脈起於下極之俞，並於脊裡，上至巔，極於上齒縫中齦交穴。其為病也，主外感風寒之邪。《內經》以為實則脊強，虛則頭重。王叔和以為腰背強痛，不得俯仰，大人癲病，小兒風癇。尺寸中央三部皆浮，且直上直下，為弦長之象，故主外邪。</p>
<p><u>任脈</u>　寸口脈緊細實長至關。又曰，寸口脈如丸。</p>
<p>【按】任脈起於中極之下，循腹上喉，至於齦交，極於目下承泣穴，為陰脈之統會。其為病也，男子內結七疝，女子帶下瘕聚。王叔和亦以為少腹繞臍引陰中痛。又曰：寸口脈丸，主腹中有氣如指上搶心，俯仰拘急。緊細實長者，中寒而氣結也。寸口脈丸，即動脈也。狀如豆粒，厥厥搖動，故主氣上衝心。</p>
<p><u>衝脈</u>　尺寸中央俱牢，直上直下。</p>
<p>【按】衝脈起於氣街（在少腹毛中兩旁各二寸），挾臍左右上行，至胸中而散，為十二經之根本，故稱經脈之海，亦稱血海。《靈樞》曰：「衝脈血盛，則滲灌皮膚，生毫毛。女子數脫血，不營其口唇，故髯須不生。宦者去其宗筋，傷其衝脈，故須亦不生。」越人曰：「衝脈為病，逆氣而裡急」，或作躁熱，皆衝脈逆也，宜補中益氣湯加知、柏。王叔和曰：「沖督用事，則十二經不復朝於寸口，其人苦恍惚狂癡。」又曰：「衝脈與督脈無異，但督脈浮而衝脈沉耳。」</p>
<p><u>陽蹺脈</u>　寸部左右彈。</p>
<p>【按】陽蹺脈起於跟中，上外踝，循脅上肩，夾口吻，至目，極於耳後風池穴。越人曰：「陽蹺為病，陰緩而陽急。」王叔和注云：「當從外踝以上急，內踝以上緩。」又曰：「寸口前部左右彈者，陽蹺也，苦腰背痛，癲癇僵仆，惡風偏枯，𤸷痹體強。」左右彈，即緊脈之象。（𤸷音頑，麻木也。）</p>
<p><u>陰蹺脈</u>　尺部左右彈。</p>
<p>【按】陰蹺脈起於跟，上內踝，循陰，自胸至咽，極於目內眥睛明穴。越人曰：「陰蹺為病，陽緩而陰急。」王叔和注曰：「當從內踝以上急，外踝以上緩。」又曰：「寸口脈後部左右彈者，陰蹺也，苦癲癇寒熱，皮膚淫痹，少腹痛，裡急，腰及髖窌下連陰痛，男子陰疝，女人漏下。」張潔古曰：「蹺者，蹺疾也。二蹺之脈起於足，使人蹺捷也。陽蹺在肌肉之上，陽脈所行，通貫六腑，主持諸表。陰蹺在肌肉之下，陰脈所行，通貫五臟，主持諸里。」（髖音寬，窌音料。）</p>
<p><u>帶脈</u>　關部左右彈。</p>
<p>【按】帶脈起於季脅，圍身一周，如束帶然。越人曰：「帶之為病，腹滿，腰溶溶如坐水中。」（溶溶，緩縱之貌。）《明堂》曰：「女人少腹痛，裡急瘛瘲，月事不調，赤白帶下。」楊氏曰：「帶脈總束諸脈，使不妄行，如人束帶而前垂。此脈若固，則無帶下漏經之症矣。」（瘛音熾，瘲音縱。）</p>
<p><u>陰維脈</u>　尺外斜上至寸。</p>
<p>【按】陰維脈起於諸陰之交，發於內踝上五寸，循股，入小腹，循脅上胸，至頂前而終。叔和云：「苦癲癇僵仆失音，肌肉痹癢，汗出惡風，身洗洗然也。」又曰：「陰維脈沉大而實，主胸中痛，脅下滿，心痛。脈如貫珠者，男子脅下實，腰中痛，女子陰中痛，如有瘡。」（內踝上五寸築賓穴也。）</p>
<p><u>陽維脈</u>　尺內斜上至寸。</p>
<p>【按】陽維脈起於諸陽之會，發於足外踝下一寸五分，循膝，上髀厭，抵少腹，循頭入耳，至本神而止。叔和曰：「苦肌肉痹癢，皮膚痛，下部不仁，汗出而寒，顛仆羊鳴，手足相引，甚者不能言。」潔古曰：「衛為陽，主表。陽維受邪，為病在表，故作寒熱。營為陰，主裡。陰維受邪，為病在裡，故苦心痛。陰陽相維，則營衛和諧；營衛不諧，則悵然失志，不能自收持矣。」（髀音皮。外踝下一寸五分申脈穴。）</p>
<p>李時珍曰：「人身有經脈絡脈，直行曰經，旁行曰絡。經凡十二，手之三陰三陽，足之三陰三陽是也。絡凡十五，乃十二經各有一別絡，而脾又有一大絡，並任督二絡，為十五也。共二十七氣，相隨上下，如泉之流，不得休息。陰脈營於五臟，陽脈營於六腑，陰陽相貫，如環無端，其流溢之氣，入於奇經，轉相灌溉。奇經之八脈，不拘制於十二正經，無表裡配合，故謂之奇。蓋正經猶溝渠，奇經猶河澤，正經之脈隆盛，則溢於奇經，故秦越人比之天雨溝渠溢滿，滂沛河澤，此《靈》《素》未發之旨也。」（凡經十二，每經各有一別絡，而脾又有一大絡，並任督二絡，共二十七氣。）又曰：「陽維起於諸陽之會，由外踝而上行於衛分；陰維起於諸陰之交，由內踝而上行於營分，所以為一身之綱維也。陽蹺起於跟中，循外踝上行於身之左右；陰蹺起於跟中，循內踝上行於身之左右，所以使機關之蹺捷也。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海。任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海。衝脈起於會陰，夾臍而行，直衝於上，為諸脈之衝要，故曰十二經脈之海。帶脈則橫圍於腰，狀如束帶，所以總約諸脈者也。是故陽維主一身之表，陰維主一身之裡，以乾坤言也。陽蹺主一身左右之陽，陰蹺主一身左右之陰，以東西言也。督脈主身後之陽，任沖主身前之陰，以南北言也。帶脈橫束諸脈，以六合言也。故醫而知此八脈，則十二經十五絡之大旨得矣。」</p>

<h1>卷二</h1>
<p>叔和《脈經》止論二十四種，若夫長短二脈，缺而不載；牢革二脈，混而不分；更有七至名極，即為疾脈，是指下恆見者，又何可廢乎？共得二十八脈，縷析而詳為之辨，稍挾疑溷者，悉簡其訛，從來晦蝕之義，今始得而昭明；然皆考據典章，衷極理要，終不敢以憑臆之說，罔亂千秋也。</p>

<h2>浮脈（陽）</h2>
<p><u>體象</u>　浮在皮毛，如水漂木；舉之有餘，按之不足。</p>
<p><u>主病</u>　浮脈為陽，其病在表。寸浮傷風，頭疼鼻塞。左關浮者，風在中焦。右關浮者，風痰在膈。尺部得之，下焦風熱；小便不利，大便秘澀。</p>
<p><u>兼脈</u>　無力表虛，有力表實。浮緊風寒，浮遲中風。浮數風熱，浮緩風濕。浮芤失血，浮短氣病。浮洪虛熱，浮虛暑憊。浮澀血傷，浮濡氣敗。</p>
<p>【按】浮之為義，如木之浮水面也。浮脈法天，輕清在上之象，在卦為乾，在時為秋，在人為肺。《素問》曰：「其氣來毛而中央堅，兩旁虛，此為太過，病在外。其氣來毛而微，此為不及，病在中。」又曰：「太過則氣逆而眥痛，不及則喘，少氣而咳，上氣見血。」又曰：「肺脈厭厭聶聶，如落榆莢，曰肺平。肺脈不上不下，如循雞羽，曰肺病。肺脈來如物之浮，如風吹毛，曰肺死。」王叔和云：「舉之有餘，按之不足」，最合浮脈之義。黎氏以為如捻蔥葉，則溷於芤脈矣。崔氏云：「有表無里，有上無下」，則脫然無根，又溷於散脈矣。偽訣云：「尋之如太過」，是中候盛滿，與浮之名義有何干涉乎？須知浮而盛大為洪，浮而軟大為虛，浮而柔細為濡，浮而無根為散，浮而弦芤為革，浮而中空為芤，毫釐疑似之間，相去便已千里，可不細心體認哉！寸關尺俱浮，直上直下，或癲或癇，腰背強痛，不可俯仰，此督脈為病也。夫肺藏職秋金，天地之氣，至秋而降，且金性重而下沉，何以與浮脈相應耶！不知肺金雖沉，然所主者實陽氣也，況處於至高，為五臟六腑之華蓋，輕清之用，與乾天合德，故與浮脈相應耳。</p>

<h2>沉脈（陰）</h2>
<p><u>體象</u>　沉行筋骨，如水投石；按之有餘，舉之不足。</p>
<p><u>主病</u>　沉脈為陰，其病在裡。寸沉短氣，胸痛引脅；或為痰飲，或水與血。關主中寒，因而痛結；或為滿悶，吞酸筋急。尺主背痛，亦主腰膝；陰下濕癢，淋濁痢泄。</p>
<p><u>兼脈</u>　無力裡虛，有力裡實。沉遲痼冷，沉數內熱。沉滑痰飲，沉澀血結。沉弱虛衰，沉牢堅積。沉緊冷疼，沉緩寒濕。</p>
<p>【按】沉之為義，如石之沉於水底也。沉脈法地，重濁在下之象，在卦為坎，在時為冬，在人為腎。黃帝曰：「冬脈如營，何如而營？」岐伯曰：「冬脈，腎也，北方之水也，萬物所以含藏，其氣來沉以軟，故曰營。其氣如彈石者，此為太過，病在外，令人解㑊，脊脈痛而少氣，不欲言。其虛如數者，此謂不及，病在中，令人心懸如飢，䏚中清，脊中痛，少腹痛，小便黃赤。」又曰：「脈來喘喘累累如鉤，按之而堅，曰腎平。冬以胃氣為本。脈如引葛，按之益堅，曰腎病。脈來發如奪索，辟辟如彈石，曰腎死。」楊氏曰：「如綿裹砂，內剛外柔」，審度名義，頗不相戾。偽訣妄云：「緩度三關，狀如爛綿」，則是弱脈而非沉脈矣。若緩度三關，尤不可曉。沉而細軟為弱脈，沉而弦勁為牢脈，沉而著骨為伏脈，剛柔淺深之間，宜熟玩而深思也。</p>
<p>夫腎之為臟，配坎應冬，萬物蟄藏，陽氣下陷，烈為雪霜，故其脈主沉陰而居里。若誤與之汗，則如蟄蟲出而見霜；誤與之下，則如飛蛾入而見湯。此叔和入理之微言，後世之指南也。</p>

<h2>遲脈（陰）</h2>
<p><u>體象</u>　遲脈屬陰，象為不及；往來遲慢，三至一息。</p>
<p><u>主病</u>　遲脈主藏，其病為寒。寸遲上寒，心痛停凝。關遲中寒，癥結攣筋。尺遲火衰，溲便不禁；或病腰足，疝痛牽陰。</p>
<p><u>兼脈</u>　有力積冷，無力虛寒。浮遲表冷，沉遲裡寒。遲澀血少，遲緩濕寒。遲滑脹滿，遲微難安。</p>
<p>【按】遲之為義，遲滯而不能中和也。脈以一息四至為和平，若一息三至，則遲而不及矣。陰性多滯，故陰寒之症，脈必見遲也。譬如太陽隸於南陸，則火度而行數；隸於北陸，則水度而行遲，即此可以徵陰陽遲速之故矣。偽訣云：「重手乃得」，是沉脈而非遲矣。又云：「狀且難」，是澀脈而非遲矣。一息三至，甚為分明，而誤云「隱隱」，是微脈而非遲矣。遲而不流利，則為澀脈。遲而有歇止，則為結脈。遲而浮大且軟，則為虛脈。至於緩脈，絕不相類。夫緩以脈形之寬緩得名，遲以至數之不及為義，故緩脈四至，寬緩和平，遲脈三至，遲滯不前，然則二脈各別，又安足溷哉！以李瀕湖之通達，亦云「小快於遲作緩持」，以至數論緩脈，是千慮之一失也。</p>
<p>王叔和曰：「一呼一至曰離經，二呼一至曰奪精，三呼一至曰死，四呼一至曰命絕，此損之脈也。一損損於皮毛，二損損於血脈，三損損於肌肉，四損損於筋，五損損於骨。」是知脈之至數愈遲，則症之陰寒益甚矣。</p>

<h2>數脈（陽）</h2>
<p><u>體象</u>　數脈屬陽，象為太過；一息六至，往來越度。</p>
<p><u>主病</u>　數脈主腑，其病為熱。寸數喘咳，口瘡肺癰。關數胃熱，邪火上攻。尺數相火，遺濁淋癃。</p>
<p><u>兼脈</u>　有力實火，無力虛火。浮數表熱，沉數里熱。陽數君火，陰數相火。右數火亢，左數陰戕。</p>
<p>【按】數之為義，躁急而不能中和也。一呼脈再動，氣行三寸。一吸脈再動，氣行三寸。呼吸定息，氣行六寸。一晝一夜，凡一萬三千五百息，當五十周於身，脈行八百一十丈，此經脈周流恆常之揆度也。若一息六至，豈非越其常度耶！火性急速，故陽盛之症，脈來必數也。偽訣云「七表八里」，而獨遺數脈，只歌於心臟，此其過非淺鮮也。數而弦急，則為緊脈。數而流利，則為滑脈。數而有止，則為促脈。數而過極，則為疾脈。數如豆粒，則為動脈。古人云：「脈書不厭千回讀，熟讀深思理自知。」只如相類之脈，非深思不能辨別，非熟讀不能諳識也。王叔和云：「一呼再至曰平，三至曰離經，四至曰奪精，五至曰死，六至曰命盡，此至之脈也。」乃知脈形愈數，則受症愈熱矣。肺部見之，為金家賊脈；秋月逢之，為克令凶徵也。</p>

<h2>滑脈（陽中之陰）</h2>
<p><u>體象</u>　滑脈替替，往來流利；盤珠之形，荷露之義。</p>
<p><u>主病</u>　滑脈為陽，多主痰液。寸滑咳嗽，胸滿吐逆。關滑胃熱，壅氣傷食。尺滑病淋，或為痢積；男子溺血，婦人經郁。</p>
<p><u>兼脈</u>　浮滑風痰，沉滑痰食。滑數痰火，滑短氣塞。滑而浮大，尿則陰痛。滑而浮散，中風癱緩。滑而沖和，娠孕可決。</p>
<p>【按】滑之為義，往來流利而不澀滯也。陰氣有餘，故脈來流利如水。夫脈者，血之府也。血盛則脈滑，故腎脈宜之。張仲景以翕奄沉為滑，而人莫能解。蓋翕者，浮也。奄者，忽也。謂忽焉而沉，摩寫往來流利之狀，極為曲至也。偽訣云：「按之即伏，三關如珠，不進不退」，與滑之名義，殊屬支離。曰伏，曰不進不退，尤為怪誕。王叔和以關滑為胃家有熱，偽訣以關滑為胃家有寒，叔和以尺滑為下焦蓄血，偽訣以尺滑為臍下如冰，何相反悖謬一至此乎！又考叔和云：「與數相似」，則滑必兼數；而李時珍以滑為陰氣有餘，是何其不相合耶！或當以浮沉尺寸為辨耳。滑脈為陽中之陰，以其形兼數也，故為陽；以其形如水也，故為陽中之陰。大抵兼浮者毗於陽，兼沉者毗於陰，是以或熱或寒，古無定稱也。衡之以浮沉，辨之以尺寸，庶無誤耳。</p>

<h2>澀脈（陰）</h2>
<p><u>體象</u>　澀脈蹇滯，如刀刮竹；遲細而短，三象俱足。</p>
<p><u>主病</u>　澀為血少，亦主精傷。寸澀心痛，或為怔忡。關澀陰虛，因而中熱。右關土虛；左關脅脹。尺澀遺淋，血痢可決；孕為胎病，無孕血竭。</p>
<p><u>兼脈</u>　澀而堅大，為有實熱。澀而虛軟，虛火炎灼。</p>
<p>【按】澀者，不流利、不爽快之義也。《內經》曰：「參伍不調」，謂之凝滯而至數不和勻也。《脈訣》以輕刀刮竹為喻者，刀刮竹則阻滯而不滑也。通真子以如雨沾沙為喻者，謂雨沾金石，則滑而流利；雨沾沙土，則澀而不流也。李時珍以病蠶食葉為喻者，謂其遲慢而艱難也。偽訣云：「指下尋之似有，舉之全無」，則是微脈而非澀脈也。王叔和謂其一止復來，亦有疵病。蓋澀脈往來遲難，有類乎止，而實非止也。又曰：「細而遲，往來難。」且澀者，乃浮分多而沉分少，有類乎散而實非散也。須知極軟似有若無為微脈，浮而且細且軟為濡脈，沉而且細且軟為弱脈，三者之脈，皆指下模糊而不清爽，有似乎澀而確有分別也。肺之為臟，氣多血少，故右寸見之，為合度之診。腎之為臟，專司精血，故左尺見之，為虛殘之候。不問男婦，凡尺中沉澀者，必艱於嗣，正血少精傷之症也。如懷子而得澀脈，則血不足以養胎。如無孕而得澀脈，將有陰衰髓竭之憂。</p>
<p>大抵一切世間之物，濡潤則必滑，枯槁則必澀；故滑為痰飲，澀主陰衰，理有固然，無足疑者。</p>

<h2>虛脈（陰）</h2>
<p><u>體象</u>　虛合四形，浮大遲軟；及乎尋按，幾不可見。</p>
<p><u>主病</u>　虛主血虛，又主傷暑。左寸心虧，驚悸怔忡。右寸肺虧，自汗氣怯。左關肝傷，血不營筋。右關脾寒，食不消化。左尺水衰，腰膝痿痹。右尺火衰，寒症蜂起。</p>
<p>【按】虛之為義，中空不足之象也，專以軟而無力得名也。叔和云：「虛脈遲大而軟，按之豁豁然空」，此言最為合義。雖不言浮字，而曰按之豁豁然空，則浮字之義已包含具足矣。崔紫虛以為形大力薄，其虛可知，但欠遲字之義耳。偽訣云：「尋之不足，舉之有餘」，是浮脈而非虛脈矣。浮以有力得名，虛以無力取象。有餘二字，安可施之虛脈乎！楊仁齋曰：「狀為柳絮，散漫而遲。」滑氏曰：「散大而軟。」二家之言，俱是散脈而非虛脈矣。夫虛脈按之雖軟，猶可見也。散脈按之絕無，不可見也。虛之異於濡者，虛則遲大而無力，濡則細小而無力也。虛之異於芤者，虛則愈按而愈軟，芤則重按而仍見也。王叔和曰：「血虛脈虛」，而獨不言氣虛者，何也？氣為陽，主浮分，血為陰，主沉分；今浮分大而沉分空，故獨主血虛耳。</p>
<p>夫虛脈兼遲，遲為寒象，大凡症之虛極者必挾寒，理勢然也。故虛脈行指下，則益火之原，以消陰翳，可劃然決矣。更有浮取之而且大且軟，重按之而豁然似無，此名內真寒、外假熱，古人以附子理中湯冰冷與服，治以內真熱而外假寒之劑也。</p>

<h2>實脈（陽）</h2>
<p><u>體象</u>　實脈有力，長大而堅；應指愊愊，三候皆然。</p>
<p><u>主病</u>　血實脈實，火熱壅結。左寸心勞，舌強氣湧。右寸肺病，嘔逆咽疼。左關見實，肝火脅痛。右關見實，中滿氣疼。左尺見實，便閉腹疼。右尺見實，相火亢逆。</p>
<p><u>兼脈</u>　實而且緊，寒積稽留。實而且滑，痰凝為祟。</p>
<p>【按】實之為義，邪氣盛滿，堅勁有餘之象也。既大矣而且兼長，既長大矣而且有力，既長大有力矣，而且浮中沉三候皆然，則諸陽之象，莫不畢備焉。見此脈者，必有大邪大熱，大積大聚，故王叔和《脈經》云：「實脈浮沉皆得，脈大而長微弦，應指愊愊然。」又曰：「血實脈實。」又曰：「脈實者，水穀為病。」又曰：「氣來實強，是謂太過。」由是測之，則但主實熱，不主虛寒，較若列眉矣。故叔和有尺實則小便難之說。乃偽訣謬以尺實為小便不禁，奈何與叔和適相反耶！又妄謂如繩應指來，則是緊脈之形，而非實脈之象矣。夫緊脈之與實脈，雖相類而實相懸；蓋緊脈弦急如切繩，而左右彈人手，實脈則且大且長，三候皆有力也。緊脈者熱為寒束，故其象繃急而不寬舒，實脈者邪為火迫，故其象堅滿而不和柔；以症合之，以理察之，便昭然於心目之間，而不可混淆矣。</p>
<p>又按：張潔古惑於偽訣實主虛寒之說，而遂以薑、附施治，此甚不可為訓也。或實脈而兼緊者，庶乎相當；苟非緊象，而大溫之劑施於大熱之人，其不立斃者幾希矣。以潔古之智，當必是兼緊之治無疑耳。</p>

<h2>長脈（陽）</h2>
<p><u>體象</u>　長脈迢迢，首尾俱端；直上直下，如循長竿。</p>
<p><u>主病</u>　長主有餘，氣逆火盛。左寸見長，君火為病。右寸見長，滿逆為定。左關見長，木實之殃。右關見長，土鬱脹悶。左尺見長，奔豚沖兢。右尺見長，相火專令。</p>
<p>【按】長之為義，首尾相稱，往來端直也。在時為春，在卦為震，在人為肝。肝主春生之令，天地之氣至此而發舒，脈象應之，故得長也。《內經》曰：「長則氣治。」李月池曰：「心脈長者，神強氣壯；腎脈長者，蒂固根深，皆言平脈也。如上文主病云云，皆言病脈也。」《內經》曰：「肝脈來軟弱招招，如揭長竿末梢，曰肝平。肝脈來盈實而滑，如循長竿，曰肝病。」故知長而和緩，即合春生之氣，而為健旺之徵；長而硬滿，即屬火亢之形，而為疾病之應也。舊說過於本位，名為長脈，久久審度，而知其必不然也。寸而上過，則為溢脈，寸而下過，則為關脈；關而上過，即屬寸脈，關而下過，即屬尺脈；尺而上過，即屬關脈，尺而下過，即屬覆脈。由是察之，然則過於本位，理之所必無，而義之所不合也。惟其狀如長竿，則直上直下，首尾相應，非若他脈之上下參差，首尾不勻者也。凡實牢弦緊，皆兼長脈，故古人稱長主有餘之疾，非無本之說也。</p>

<h2>短脈（陰）</h2>
<p><u>體象</u>　短脈澀小，首尾俱俯；中間突起，不能滿部。</p>
<p><u>主病</u>　短主不及，為氣虛症。短居左寸，心神不定。短見右寸，肺虛頭痛。短在左關，肝氣有傷。短在右關，膈間為殃。左尺見短，少腹必疼。右尺見短，真火不隆。</p>
<p>【按】短之為象，兩頭沉下，而中間獨浮也。在時為秋，在人為肺。肺應秋金，天地之氣，至是而收斂，人身一小天地，故畜縮之象相應，而短脈見也。《內經》曰：「短則氣病。」蓋以氣屬陽，主乎充沛，若短脈獨見，氣衰之確兆也。然肺為主氣之臟，偏與短脈相應，則又何以說也。《素問》曰：「肺之平脈，厭厭聶聶，如落榆莢。」則短中自有和緩之象，氣仍治也。若短而沉且澀，而謂氣不病可乎！高陽生以短脈為中間有，兩頭無，為不及本位。嘗衷之以至理，而知其說不能無弊也。蓋脈以貫通為義，一息不運，則機緘窮，一毫不續，則穹壤判，豈有斷絕不通之理哉！假使上不貫通，則為陽絕，下不貫通，則為陰絕，俱為必死之脈矣。戴同父亦悟及此，而云短脈只宜見於尺寸，若關中見短，是上不通寸，下不通尺，為陰陽絕脈而必死。據同父之說，極為有見。然尺與寸可短，依然落於陰絕陽絕矣，非兩頭斷絕也。特兩頭俯而沉下，中間突而浮起，仍自貫通者也。叔和云：「應指而回，不能滿部」，亦非短脈之合論也。</p>
<p>李時珍曰：「長脈屬肝，宜於春；短脈屬肺，宜於秋。但診肺肝，則長短自見。」故知非其時、非其部，即為病脈也。</p>

<h2>洪脈（陽）</h2>
<p><u>體象</u>　洪脈極大，狀如洪水；來盛去衰，滔滔滿指。</p>
<p><u>主病</u>　洪為盛滿，氣壅火亢。左寸洪大，心煩舌破。右寸洪大，胸滿氣逆。左關見洪，肝木太過。右關見洪，脾土脹熱。左尺洪大，水枯便難。右尺洪大，龍火燔灼。</p>
<p>【按】洪脈，即大脈也。如堯時洪水之洪，喻其盛滿之象。在卦為離，在時為夏，在人為心。時當朱夏，天地之氣，酣滿暢遂；脈者，氣之先聲，故應之以洪。洪者，大也，以水喻也。又曰鉤者，以木喻也。夏木繁滋，枝葉敷布，重而下垂，故如鉤也。鉤即是洪，名異實同。《素問》以洪脈為來盛去衰，頗有微旨。大抵洪脈，只是根腳闊大，卻非堅硬；若使大而堅硬，則為實脈而非洪脈矣。《內經》謂大則病進，亦以其氣方張也。黃帝問曰：「夏脈如鉤，何如而鉤？」岐伯曰：「夏脈心也，南方火也，萬物所以盛長也。其氣來盛去衰，故曰鉤。反此者病。」黃帝曰：「何如而反？」岐伯曰：「其氣來盛去亦盛，此謂太過，病在外。其氣來不盛去反盛，此謂不及，病在中。太過則令人身熱而膚痛，為浸淫。不及則令人煩心，上見咳唾，下為氣泄。」王叔和云：「夏脈洪大而散，名曰平脈。反得沉濡而滑者，是腎之乘心，水之剋火，為賊邪，死不治。反得大而緩者，是脾之乘心，子之扶母，為實邪，雖病自愈。反得弦細而長者，是肝之乘心，母之歸子，為虛邪，雖病易治。反得浮澀而短者，是肺之乘心，金之凌火，為微邪，雖病即瘥。凡失血、下利、久嗽，久病之人，俱忌洪脈。」《脈經》曰：「形瘦脈大而多氣者死」，可見形症不與脈相合者，均非吉兆。</p>

<h2>微脈（陰）</h2>
<p><u>體象</u>　微脈極細，而又極軟；似有若無，欲絕非絕。</p>
<p><u>主病</u>　微脈模糊，氣血大衰。左寸驚怯，右寸氣促。左關寒攣，右關胃冷。左尺得微，髓絕精枯。右尺得微，陽衰命絕。</p>
<p>【按】微之為言，若有若無也。其象極細極軟，古人以塵與微並稱，便可想見其細軟之極矣。張仲景曰：「瞥瞥如羹上肥」，狀其軟而無力也。「縈縈如蛛絲」，狀其細而難見也。所以古人有言曰：「似有若無，欲絕非絕。」惟斯八字，可為微脈傳神。若診者心神浮越，未能虛靜，而卒然持之，竟不得而見也。世俗未察微脈之義，每見脈之細者，輒以微細並稱，是何其言之不審耶！輕按之而如無，故曰陽氣衰；重按之而欲絕，故曰陰氣竭。長病得之，多不可救者，謂正氣將次滅絕也。卒病得之，猶或可生者，謂邪氣不至深重也。李時珍曰：「微主久虛血弱之病，陽微則惡寒，陰微則發熱，自非峻補，難可回春。」高陽生曰：「虛中日久為崩帶，漏下多時骨亦枯」，尚未足以概微之主病也。</p>
<p>算數者以十微為一忽，十忽為一絲，十絲為一毫，十毫為一釐。由是推之，則一釐之少，分而為萬，方始名微，則微之渺小難見，蓋可知矣。</p>

<h2>細脈（陰）</h2>
<p><u>體象</u>　細直而軟，累累縈縈；狀如絲線，較顯於微。</p>
<p><u>主病</u>　細主氣衰，諸虛勞損。細居左寸，怔忡不寐。細在右寸，嘔吐氣怯。細入左關，肝陰枯竭。細入右關，胃虛脹滿。左尺若細，泄痢遺精。右尺若細，下元冷憊。</p>
<p>【按】細之為義，小也，細也，狀如絲也。微脈則模糊而難見，細脈則顯明而易見，故細比於微稍稍較大也。偽訣乃云「極細」，則是微脈而非細脈矣。王啟玄曰：「狀如莠蓬」，善摩其柔細之態也。王叔和《脈經》云：「細為血少氣衰，有此症則順，無此症則逆。」故吐利失血，得沉細者生。憂勞過度之人，脈亦多細，為自戕其氣血也。春夏之令，少壯之人，俱忌細脈，謂其不與時合，不與形合也。秋冬之際，老弱之人，不在禁忌之例。</p>
<p>大抵細脈、微脈，俱為陽氣衰殘之候。《內經》曰：「氣主煦之」，非行溫補，何以復其散失之元乎！嘗見虛損之人，脈已細而身常熱，醫者不究其元，而以涼劑投之，何異於惡醉而強酒？遂使真陽散敗，飲食不進，上嘔下泄，是速之使斃耳。《素問》曰：「壯火食氣，少火生氣。」人非少火，無以運行三焦，熟腐水穀。未徹乎此者，安足以操司命之權哉！然虛勞之脈，細數不可並見，並見者必死。細則氣衰，數則血敗，氣血交窮，短期將至，雖和緩投治，亦無回生之日矣。</p>

<h2>濡脈（陰中之陽）</h2>
<p><u>體象</u>　濡脈細軟，見於浮分；舉之乃見，按之即空。</p>
<p><u>主病</u>　濡主陰虛，髓絕精傷。左寸見濡，健忘驚悸。右寸見濡，腠虛自汗。左關逢之，血不營筋。右關逢之，脾虛濕侵。左尺得濡，精血枯損。右尺得之，火敗命乖。</p>
<p>【按】濡之為名，即軟之義也。必在浮候見其細軟；若中候沉候，不可得而見也。王叔和比之帛浮水面，李時珍比之水上浮漚，皆曲狀其隨手而沒之象也。《脈經》言「輕手相得，按之無有」，偽訣反言「按之似有舉還無」，悖戾一至此耶！且按之則似有，舉之則全無，是弱脈而非濡脈矣。濡脈之浮軟，與虛脈相類；但虛脈形大，而濡脈形小也。濡脈之細小，與弱脈相類；但弱在沉分，而濡在浮分也。濡脈之無根，與散脈相類；但散脈從浮大而漸至於沉絕，濡脈從浮小而漸至於不見也。從大而至無者，為全凶之象；從小而之無者，為吉凶相半也。</p>
<p>浮主氣分，浮舉之而可得，氣猶未敗。沉主血分，沉按之而全無，血已傷殘。在久病老年之人見之，尚未至於命絕，為其脈與症合也。若平人及少壯及暴病見之，名為無根之脈，去死不遠矣。</p>

<h2>弱脈（陰）</h2>
<p><u>體象</u>　弱脈細小，見於沉分；舉之則無，按之乃得。</p>
<p><u>主病</u>　弱為陽陷，真氣衰弱。左寸心虛，驚悸健忘。右寸肺虛，自汗短氣。左關木枯，必苦攣急。右關土寒，水穀之疴。左尺弱形，涸流可徵，右尺若見，陽陷可驗。</p>
<p>【按】弱之為義，沉而細小之候也。叔和《脈經》云：「弱脈極軟而沉細，按之乃得，舉手無有」，何其彰明詳盡也。偽訣乃借叔和之名以欺世者，而反以弱脈為輕手乃得，是明與叔和相戾；且是濡脈之形，而非弱脈之象矣。因知高陽生誤以濡脈為弱，弱脈為濡，不意欲立言之人，而不加考據乃爾耶！即黎氏浮漚之喻，亦誤以濡脈為弱脈矣。夫浮以候陽，陽主氣分；浮取之而如無，則陽氣衰微，確然可據。夫陽氣者，所以衛外而為固者也，亦所以運行三焦，熟腐五穀者也。弱脈呈形，而陰霾已極，自非見睍，而陽何以復耶！《素問》曰：「脈弱以滑，是有胃氣。脈弱以澀，是為久病。」愚謂弱堪重按，陰猶未絕，若兼澀象，則氣血交敗，生理滅絕矣。仲景云：「陽陷入陰，當惡寒發熱。久病及衰年見之，猶可維援。新病及少壯得之，必死安待。」柳氏曰：「氣虛則脈弱。寸弱陽虛，尺弱陰虛，關弱胃虛。」</p>

<h2>緊脈（陰中之陽）</h2>
<p><u>體象</u>　緊脈有力，左右彈人；如絞轉索，如切緊繩。</p>
<p><u>主病</u>　緊主寒邪，亦主諸痛。左寸逢緊，心滿急痛。右寸逢緊，傷寒喘嗽。左關、人迎，浮緊傷寒。右關、氣口，沉緊傷食。左尺見之，臍下痛極。右尺見之，奔豚疝疾。</p>
<p><u>兼脈</u>　浮緊傷寒，沉緊傷食。急而緊者，是為遁屍。數而緊者，當主鬼祟。</p>
<p>【按】緊者，繃急而兼絞轉之形也。古稱熱則筋縱，寒則筋急；此惟熱鬱於內，而寒束於外，故緊急絞轉之象，徵見於脈耳。《素問》曰：「往來有力，左右彈人手」，則剛勁之概可鞠。夫寒者，北方剛勁肅殺之氣，故緊急中復兼左右彈手之象耳。仲景曰：「如轉索無常。」叔和曰：「數如切繩。」丹溪曰：「如紉簟線。譬如以二股三股糾合為繩，必旋轉而絞，乃緊而成繩耳。」可見緊之為義，不獨縱有挺急，抑且橫有轉側也。苟非橫有轉側，則《內經》之左右彈人，仲景之轉索，丹溪之紉線，叔和之切繩，將何所取義乎！高陽生偽訣未察諸家之說，而妄云「寥寥入尺來」，不知於緊之義何居乎！蓋緊之挺急而勁，與弦相類；但比之於弦，更有加於挺勁之異，及轉如繩線之狀也。</p>
<p>中惡、祟乘之脈而得浮緊，謂邪方熾而脈無根也。咳嗽、虛損之脈而得沉緊，謂正已虛而邪已痼也。咸在不治之例。</p>

<h2>緩脈（陰）</h2>
<p><u>體象</u>　緩脈四至，來往和勻；微風輕颭，初春楊柳。</p>
<p><u>兼脈主病</u>　緩為胃氣，不主於病。取其兼見，方可斷症。浮緩風傷，沉緩寒濕。緩大風虛，緩細濕痹。緩澀脾薄，緩弱氣虛。左寸澀緩，少陰血虛。右寸浮緩，風邪所居。左關浮緩，肝風內鼓。右關沉緩，土弱濕侵。左尺緩澀，精宮不及。右尺緩細，真陽衰極。</p>
<p>【按】緩脈以寬舒和緩為義，與緊脈正相反也。在卦為坤，在五行為土，在時令為四季之末，在人身為足太陰脾。若陽寸陰尺，上下同等，浮大而軟，無有偏勝者，和平之脈也。故曰，緩而和勻，不浮不沉，不大不小，不疾不徐，意氣欣欣，悠悠揚揚，難以名狀者，此真胃氣脈也。又云，土為萬物之母，中氣調和，則百疾不生。又一切脈中皆須挾緩，謂之胃氣；但得本臟之脈，無胃氣以和之，則真臟脈見，與之短期。又曰，有胃氣則生，無胃氣則死，緩之於脈大矣哉！是故緩脈不主疾病，惟考其兼見之脈，乃可斷其為病耳。岐伯曰：「脾者土也，孤臟以灌四旁者也。善者不可見，惡者可見。其來如水之流者，此為太過，病在外；如烏之喙，此謂不及，病在中。太過則令人四肢沉重；不及則令人九竅壅塞不通。」王叔和《脈經》云：「脾旺之時，其脈大，阿阿而緩，名曰平脈。反得弦細而長者，是肝之乘脾，木之剋土，為賊邪，死不治。反得浮澀而短，是肺之乘脾，子之扶母，為實邪，雖病自愈。反得洪大而散者，是心之乘脾，母之歸子，為虛邪，雖病易治。反得沉濡而滑者，是腎之乘脾，水之凌土，為微邪，雖病即瘥。」高陽生偽訣以緩脈主脾熱、口臭、反胃、齒痛、夢鬼諸症，出自杜撰，與緩脈無涉也。</p>

<h2>弦脈（陽中之陰）</h2>
<p><u>體象</u>　弦如琴絃，輕虛而滑；端直以長，指下挺然。</p>
<p><u>主病</u>　弦為肝風，主痛主瘧，主痰主飲。弦在左寸，心中必痛。弦在右寸，胸及頭疼。左關弦見，痰瘧癥瘕。右關弦見，胃寒膈痛。左尺逢弦，飲在下焦。右尺逢弦，足攣疝痛。</p>
<p><u>兼脈</u>　浮弦支飲，沉弦懸飲。弦數多熱，弦遲多寒。弦大主虛，弦細拘急。陽弦頭痛，陰弦腹痛。單絃飲癖，雙弦寒痼。</p>
<p>【按】弦之為義，如琴絃之挺直而略帶長也。在八卦為震，在五行為木，在四時為春，在五臟為肝。經曰：「少陽之氣溫和軟弱，故脈為弦。」岐伯曰：「春脈肝也，東方木也，萬物之所以始生也。故其氣來濡弱，輕虛而滑，端直以長，故曰弦。反此者病。其氣來實而強，此為太過，病在外；其氣來不實而微，此為不及，病在中。太過則令人善怒，忽忽眩冒而巔疾；不及則令人胸脅痛引背，兩脅脹滿。」又曰：「肝脈來濡弱迢迢，如揭長竿末梢，曰肝平。」又曰：「肝脈來盈實而滑，如循長竿，曰肝病。肝脈來急而益勁，如張弓弦，曰肝死。」弦脈與長脈，皆主春令，但弦為初春之象，陽中之陰，天氣猶寒，故如琴絃之端直而挺然，稍帶一分之緊急也；長為暮春之象，純屬於陽，絕無寒意，故如木干之迢直以長，純是發生之氣象也。戴同父云：「弦而軟，其病輕；弦而硬，其病重。」深契《內經》之旨。兩關俱弦，謂之雙弦；若不能食，為木來剋土，土已負也，必不可治。《素問》云：「端直以長。」叔和云：「如張弓弦。」巢氏云：「按之不移，察察如按琴瑟弦。」戴同父云：「從中直過，挺然指下。」諸家之論弦脈，可謂深切著明矣。高陽生乃言「時時帶數」，又言「脈緊狀繩牽」，則是緊脈之象，安在其弦脈之義哉！</p>

<h2>動脈（陽）</h2>
<p><u>體象</u>　動無頭尾，其動如豆；厥厥動搖，必兼滑數。</p>
<p><u>主病</u>　動脈主痛，亦主於驚。左寸得動，驚悸可斷。右寸得動，自汗無疑。左關若動，驚及拘攣。右關若動，心脾疼痛。左尺見之，亡精為病。右尺見之，龍火奮迅。</p>
<p>【按】動之為義，以厥厥動搖，急數有力得名也。兩頭俯下，中間突起，極與短脈相類；但短脈為陰，不數不硬不滑也。關前為陽，關後為陰。故仲景云：「陽動則汗出」，分明指左寸屬心，汗為心之液，右寸屬肺，主皮毛而司腠理，故汗出也。又曰：「陰動則發熱」，分明指左尺見動，為腎水之不足，右尺見動，謂相火虛炎，故發熱也。因是而知舊說言動脈只見於關上者，非也。且《素問》曰：「婦人手少陰心脈動甚者，為妊子也」，然則手少陰明隸於左寸矣，而謂獨見於關可乎！成無己曰：「陰陽相搏，則虛者動，故陽虛則陽動，陰虛則陰動」，以關前為陽，主汗出，關後為陰，主發熱，豈不精妥！而龐安常強為之說云：「關前三分為陽，關後三分為陰，正當關位，半陰半陽，故動隨虛見」，是亦泥動脈只見於關之說也。高陽生偽訣云：「尋之似有，舉之還無」，是弱脈而非動脈矣。又曰：「不離其處，不往不來，三關沉沉」，含糊謬妄，無一字與動脈合義矣。詹氏曰：「如鉤如毛」，則混於浮大之脈，尤堪捧腹。</p>

<h2>促脈（陽）</h2>
<p><u>體象</u>　促為急促，數時一止；如趨而蹶，進則必死。</p>
<p><u>主病</u>　促因火亢，亦因物停。左寸見促，心火炎炎。右寸見促，肺鳴咯咯。促見左關，血滯為殃。促居右關，脾宮食滯。左尺逢之，遺滑堪憂。右尺逢之，灼熱為定。</p>
<p>【按】促之為義，於急促之中時見一歇止，為陽盛之象也。黎氏曰：「如蹶之趣，徐疾不常」，深得其義。王叔和云：「促脈來去數，時一止，復來」，亦頗明快。夫人身之氣血，貫注於經脈之間者，刻刻流行，綿綿不息，凡一晝夜當五十營，不應數者，名曰狂生。其應於脈之至數者，如鼓應桴，罔或有忒也。臟氣乖違，則稽留凝泣，阻其運行之機，因而歇止者，其症為輕。若真元衰憊，則陽弛陰涸，失其揆度之常，因而歇止者，其症為重。然促脈之故，得於臟氣乖違者，十之六七；得於真元衰憊者，十之二三。或因氣滯，或因血凝，或因痰停，或因食壅，或外因六氣，或內因七情，皆能阻遏其運行之機，故雖當往來急數之時，忽見一止耳。如止數漸稀，則為病瘥；止數漸增，則為病劇。偽訣但言「並居寸口」，已非促脈之義；且不言時止，尤為瞶瞶矣。</p>
<p>燕都王湛六，以脾泄求治，神疲色瘁。診得促脈，或十四五至得一止，或十七八至得一止，余謂其原醫者曰：「法在不治。」而醫者爭之曰：「此非代脈，不過促耳，何先生之輕命耶？」余曰，「是真元敗壞，陰陽交窮，而促脈呈形，與稽留凝泣而見促者，不相侔也。」醫者唯唯。居一月，果歿。</p>

<h2>結脈</h2>
<p><u>體象</u>　結為凝結，緩時一止；徐行而怠，頗得其旨。</p>
<p><u>主病</u>　結屬陰寒，亦因凝積。左寸心寒，疼痛可決。右寸肺虛，氣寒凝結。左關結見，疝瘕必現。右關結形，痰滯食停。左尺結見，痿躄之疴。右尺見結，陰寒為楚。</p>
<p>【按】結之為義，結而不散，遲滯中時見一止也。古人譬之徐行而怠，偶羈一步，可為結脈傳神。大凡熱則流行，寒則停滯，理勢然也。夫陰寒之中，且挾凝結，喻如隆冬天氣嚴肅，流水冰堅也。少火衰弱，中氣虛寒，失其干健之運，則氣血痰食，互相糾纏，運行之機緘不利，故脈應之而成結也。越人云：「結甚則積甚，結微則氣微。浮結者外有痛積，伏結者內有積聚。」故知結而有力者，方為積聚；結而無力者，是真氣衰弱，違其運化之常，惟一味溫補為正治也。仲景云：「累累如循長竿，曰陰結。藹藹如車蓋，曰陽結。」王叔和云：「如麻子動搖，旋引旋收，聚散不常，曰結，主死。」夫是三者，雖同名為結，而義實有別。浮分得之為陽結；沉分得之為陰結；止數頻多，參伍不調，為不治之症。由斯測之，則結之主症，未可以一端盡也。偽訣云，「或來或去，聚而卻還。」律以緩時一止之義，幾同寐語矣。</p>

<h2>代脈（陰）</h2>
<p><u>體象</u>　代為禪代，止有常數；不能自還，良久復動。</p>
<p><u>主病</u>　代主臟衰，危惡之候。脾土敗壞，吐利為咎。中寒不食，腹疼難救。兩動一止，三四日死。四動一止，六七日死。次第推求，不失經旨。</p>
<p>【按】代者，禪代之義也。如四時之禪代，不愆其期也。結促之止，止無常數；代脈之止，止有常數。結促之止，一止即來；代脈之止，良久方還。《內經》以代脈一見，為臟氣衰微，脾氣脫絕之診也。惟傷寒心悸，懷胎三月，或七情太過，或跌打重傷，及風家痛症，俱不忌代脈，未可斷其必死耳。滑伯仁曰：「無病而羸瘦脈代者，危候也。有病而氣血乍損，只為病脈。」此伯仁為暴病者言也。若久病得代脈而冀其回春者，萬不得一也。《內經》曰：「代則氣衰。」又曰：「代散者死。」夫代脈見而脾土衰，散脈見而腎水絕，二脈交見，雖在神聖，亦且望而卻走矣。大抵脈來一息五至，則肺心脾肝腎五臟之氣皆足也。故五十動而不一止者，合大衍之數，謂之平脈。反此，則止乃見焉。腎氣不能至，則四十動一止；肝氣不能至，則三十動一止；脾氣不能至，則二十動一止；心氣不能至，則十動一止；肺氣不能至，則四五動一止。戴同父云：「三部九候，每候必滿五十動，出自《難經》，而偽訣五臟歌中，皆以四十五動為準，乖於經旨。」偽訣又云：「四十一止一臟絕，卻後四年多歿命。」荒疵越理，莫此為甚。夫人豈有一臟既絕，尚活四年之理哉！</p>
<p>歷考《內經》，而知代脈之義，別自有說。如《宣明五氣篇》曰：「脾脈代。」《邪氣臟腑病形篇》云：「黃者其脈代。」皆言藏氣之常候，非謂代為止也。《平人氣象論》曰：「長夏胃微軟弱曰平，但代無胃曰死」者，蓋言無胃氣而死，亦非以代為止也。如雲「五十動而不一代」者，是乃至數之代也。若脈平勻而忽強忽弱者，乃形體之代，即《平人氣象論》所言者是也。若脾旺四季，而隨時更代者，乃氣候之代，即《宣明五氣》等篇所云者是也。脈無定候，更變不常，則均謂之代，各因其變而察其情，庶足以窮其妙耳。善化縣黃桂岩，心疼奪食，脈三動一止，良久不能自還。施笠澤云：「五臟之氣不至，法當旦夕死。」余曰：「古人謂痛甚者脈多代。周梅屋云：『少得代脈者死，老得代脈者生。』今桂岩春秋高矣，而胸腹負痛，雖有代脈，不足慮也。」果越兩旬而桂岩起矣。故醫非博覽，未易窮脈之變耳。</p>

<h2>革脈（陽中之陰）</h2>
<p><u>體象</u>　革大弦急，浮取即得；按之乃空，渾如鼓革。</p>
<p><u>主病</u>　革主表寒，亦屬中虛。左寸之革，心血虛痛。右寸之革，金衰氣壅。左關遇之，疝瘕為祟。右關遇之，土虛為疼。左尺之革，精空可必。右尺之革，殞命為憂。女人得之，半產漏下。</p>
<p>【按】革者，皮革之象也。表邪有餘，而內則不足也。恰如鼓皮，外則繃急，內則空虛也。浮舉之而弦大，非繃急之象乎？沉按之而豁然，非中空之象乎？惟表有寒邪，故弦急之象見焉；惟中虧氣血，故空虛之象顯焉。仲景曰：「革脈弦而芤，弦則為寒，芤則為虛。虛寒相搏，此名為革。男子亡血失精，女人半產漏下。」王叔和云：「三部脈革，長病得之死，卒病得之生。」李時珍云：「此芤弦二脈相合，故均主失血之候。諸家脈書皆以為即牢脈也，故或有革無牢，或有牢無革，溷淆莫辨，不知革浮牢沉，革虛牢實，形與症皆異也。」《甲乙經》云：「渾渾革至如湧泉，病進而色弊，綿綿其去如弦絕者死。」謂脈來渾濁革變，急如泉湧，出而不返也。觀其曰湧泉，則浮取之不止於弦大，而且數且搏且滑矣；曰弦絕，則重按之不止於豁然，而且絕無根蒂矣，故曰死也。王貺以為溢脈者，自寸而上貫於魚際，直衝而上，如水之沸而盈溢也，與革脈奚涉乎？丹溪曰：「如按鼓皮」，其於中空外急之義，最為親切之喻。</p>

<h2>牢脈（陰中之陽）</h2>
<p><u>體象</u>　牢在沉分，大而弦實；浮中二候，了不可得。</p>
<p><u>主病</u>　牢主堅積，病在乎內。左寸之牢，伏梁為病。右寸之牢，息賁可定。左關見牢，肝家血積。右關見牢，陰寒痞癖。左尺牢形，奔豚為患。右尺牢形，疝瘕痛甚。</p>
<p>【按】牢有二義，堅牢固實之義，又深居在內之義。故樹木以根深為牢，蓋深入於下者也。監獄以禁囚為牢，深藏於內者也。仲景曰：「寒則牢固」，又有堅固之義也。沈氏曰：「似沉似伏，牢之位也。實大弦長，牢之體也。牢脈所主之症，以其在沉分也，故悉屬陰寒；以其形弦實也，故咸為堅積。若夫失血亡精之人，則內虛，而當得革脈，乃為正象；若反得牢脈，是脈與症相反，可以卜死期矣。」偽訣云：「尋之則無，按之則有」，但依稀彷彿，卻不言實大弦長之形象，是沉脈而非牢脈矣。又曰：「脈入皮膚辨息難」，更以牢為死亡之脈矣，其謬可勝言哉！叔和《脈經》云：「牢脈似沉似伏，實大而長，微弦」，可謂明盡其狀。至伏脈雖重按之亦不可見，必推筋至骨，乃見其形，而牢脈既實大弦長，才重按之，便滿指有力矣，又何以謂之似伏乎？脈之義幽而難明，非字字推敲，展轉審辨，能無遺後學之疑惑哉！</p>

<h2>散脈</h2>
<p><u>體象</u>　散脈浮亂，有表無里；中候漸空，按則絕矣。</p>
<p><u>主病</u>　散為本傷，見則危殆。左寸見散，怔忡不寐。右寸見散，自汗淋漓。左關之散，當有溢飲。右關之散，脹滿蠱疾。左尺見散，北方水竭。右尺得之，陽消命絕。</p>
<p>【按】散有二義，自有漸無之象，亦散亂不整之象也。當浮候之，儼然大而成其為脈也；及中候之，頓覺無力而減其十之七八矣；至沉候之，杳然不可得而見矣。漸重漸無，漸輕漸有。明乎此八字，而散字之義得，散脈之形確著矣。故叔和云：「散脈大而散，有表無里」，字字斟酌，毫不苟且者也。崔氏云：「渙漫不收」，蓋渙漫即浮大之義，而不收即無根之義；雖得其大意，而未能言之鑿鑿也。柳氏云：「無統紀，無拘束，至數不齊，或來多去少，或去多來少，渙散不收，如楊花散漫之象。」夫楊花散漫，即輕飄而無根之說也。其言至數不齊，多少不一，則散亂而不整齊嚴肅之象也。此又補叔和未備之旨，深得散脈之神者也。戴同父云：「心脈浮大而散，肺脈短澀而散，皆平脈也。心脈軟散而怔忡，肺脈軟散為汗出，肝脈軟散為溢飲，脾脈軟散為胻腫，皆病脈也。腎脈軟散，諸病脈見散，皆死脈也。」古人以代散為必死者，蓋散為腎敗之徵，代為脾絕之候也。腎脈本沉，而散脈按之不可得見，是先天資始之根本絕也。脾脈主信，而代脈歇至不愆其期，是後天資生之根本絕也。故二脈獨見，均為危殆之候；而二脈交見，尤為必死之符。</p>

<h2>芤脈（陽中之陰）</h2>
<p><u>體象</u>　芤乃草名，絕類慈蔥；浮沉俱有，中候獨空。</p>
<p><u>主病</u>　芤脈中空，故主失血。左寸呈芤，心主喪血。右寸呈芤，相傅陰傷。芤入左關，肝血不藏。芤現右關，脾血不攝。左尺如芤，便紅為咎。右尺如芤，火炎精漏。</p>
<p>【按】芤之為義，兩邊俱有，中央獨空之象也。芤乃草名，其狀與蔥無以異也。假令以指候蔥，浮候之著上面之蔥皮，中候之正當蔥之空處，沉候之又著下面之蔥皮，以是審察，則芤脈之名象，昭然於心目之間，確乎無可疑矣。劉三點云：「芤脈何似，絕類慈蔥。指下成窟，有邊無中。」叔和云：「芤脈浮大而軟，按之中央空，兩邊實。」二家之言，其於芤脈已無遺蘊矣。戴同父云：「營行脈中，脈以血為形。芤脈中空，脫血之象也。」偽訣云：「兩頭有，中間無。」以頭字易《脈經》之邊字，未明中候獨空之旨，則是上下之脈劃然中斷，而成陰絕陽絕之診矣。又云：「寸芤積血在胸中，關裡逢芤腸胃癰。」是以芤為蓄血積聚之實脈，非失血虛家之空脈矣。以李時珍之博洽明通，亦祖述其言為主病之歌，豈非千慮之一失乎？偽訣又云：「芤主淋瀝，氣入小腸。」與失血之候，有何干涉！種種邪訛，誤人不小，不得不詳為之辨也。即叔和《脈經》云：「三部脈芤，長病得之生，卒病得之死。」然暴失血者脈多芤，而謂卒病得之死可乎？其言亦不能無疵也。至劉肖齋所引諸家論芤脈者，多出附會，不可盡信。</p>

<h2>伏脈（陰）</h2>
<p><u>體象</u>　伏為隱伏，更下於沉；推筋著骨，始得其形。</p>
<p><u>主病</u>　伏脈為陰，受病入深。伏犯左寸，血鬱之症。伏居右寸，氣鬱之疴。左關值伏，肝血在腹。右關值伏，寒凝水穀。左尺伏見，疝瘕可驗。右尺伏藏，少火消亡。</p>
<p>【按】伏之為義，隱伏而不見之謂也。浮中二候，絕無影晌，雖至沉候，亦不可見，必推筋至骨，方始得見耳。故其主病，多在沉陰之分，隱深之處，非輕淺之劑所能破其藩垣也。在《傷寒論》中，以一手脈伏為單伏，兩手脈伏曰雙伏，不可以陽症見陰脈為例也。火邪內郁，不得發越，乃陽極似陰，故脈伏者必有大汗而解，正如久旱將雨，必先六合陰晦，一回雨後，庶物咸蘇也。又有陰症傷寒，先有伏陰在內，而外復感寒邪，陰氣壯盛，陽氣衰微，四肢厥逆，六脈沉伏，須投姜附及灸關元，陽乃復回，脈乃復出也。若太谿、衝陽皆無脈者，則必死無疑。劉玄賓云：「伏脈不可發汗，為其非表脈也，亦為其將自有汗也。」乃偽訣云：「徐徐發汗」，而潔古欲以附子細辛麻黃湯發之，皆非伏脈所宜也。偽訣論形象則妄曰：「尋之似有，定息全無」，是於中候見形矣，在伏之名義何居乎！</p>

<h2>疾脈（陽）</h2>
<p><u>體象</u>　疾為急疾，數之至極；七至八至，脈流薄疾。</p>
<p><u>主病</u>　疾為陽極，陰氣欲竭。脈號離經，虛魂將絕。漸進漸疾，旦夕殞滅。左寸居疾，弗戢自焚。右寸居疾，金被火乘。左關疾也，肝陰已絕。右關疾也，脾陰消竭。左尺疾兮，涸轍難濡。右尺疾兮，赫曦過極。</p>
<p>【按】六至以上，脈有兩稱，或名曰疾，或名曰極，總是急速之形，數之甚者也。是惟傷寒熱極，方見此脈，非他疾所恆有也。若勞瘵虛憊之人，亦或見之，則陰髓下竭，陽光上亢，有日無月，可與之決短期矣。陰陽易病者，脈常七八至，號為離經，是已登死籍者也。至夫孕婦將產，亦得離經之脈，此又非以七八至得名，如昨浮今沉，昨大今小，昨遲今數，昨滑今澀，但離於平素經常之脈，即名為離經矣。大都一息四至，則一晝一夜約一萬三千五百息，通計之當五十周於身，而脈行八百一十丈，此人身經脈流行之常度也。若一呼四至，則一日一夜周於身者當一百營，而脈遂行一千六百餘丈矣。必至喘促聲嘶，僅呼吸於胸中數寸之間，而不能達於根蒂，真陰極於下，孤陽亢於上，而氣之短已極矣。夫人之生死由於氣，氣之聚散由乎血，凡殘喘之尚延者，只憑此一線之氣未絕耳。一息八至之候，則氣已欲脫，而猶冀以草木生之，何怪乎不相及也！</p>

<h2>脈法總論</h2>
<p>脈狀頗多，未可以二十八字盡之也。然於表裡陰陽、氣血虛實之義，已能括其綱要矣。如《內經》之所曰鼓者，且浮且大也。曰搏者，且大且強也。曰堅者，實之別名也。曰橫者，洪之別名也。曰急者，緊之別名也。曰喘者，且浮且數也。曰躁者，且浮且疾也。曰疏者，且遲且軟也。曰格者，人迎倍大也。曰關者，氣口倍大也。此二脈者，後世不能深維《內經》之旨，而誤作病名，不知病因脈而得名也。曰溢者，自寸口上越魚際，氣有餘也。曰覆者，自尺部下達臂間，血有餘也。如仲景論脈，曰縱者，水乘火，金乘木也。曰橫者，火乘水，木乘金也。曰逆者，水乘金，火乘木也。曰順者，金乘水，木乘火也。曰反者，來微去大，病在裡也。曰覆者，頭小本大，病在表也。曰高者，衛氣盛也，陽脈強也。曰章者，營氣盛也，陰脈強也。曰綱者，高章相搏也。曰惵者，衛氣弱也，陽脈衰也。曰卑者，營氣弱也，陰脈衰也。曰損者，惵卑相搏也。《內經》十二，仲景十二，凡得二十四脈，未嘗非辨證之旨訣，而世皆置若罔聞，則有慙於司命之職矣。雖二十八脈亦已含藏諸義，然不詳於二十四字之義，又安能入二十八字之奧哉！而猶不止此也。陰陽不可不分而剖，色脈不可不合而稽，尺膚不可不詳而考，主病不可不諳而識，四者得，而持脈之道思過半矣。《脈要精微論》云：「微妙在脈，不可不察。察之有紀，從陰陽始。始之有經，從五行生。生之有度，四時為宜。彼春之暖，為夏之暑。彼秋之忿，為冬之怒。四變之動，脈與之上下。是以聖人持脈之道，先後陰陽而持之。若陽動陰靜，陽剛陰柔，陽升陰降，陽前陰後，陽上陰下，陽左陰右；數者為陽，遲者為陰，表者為陽，里者為陰，至者為陽，去者為陰，進者為陽，退者為陰，其恆經也。或陰盛之極，反得陽象，或陽亢之極，反得陰徵，或陽窮而陰乘之，或陰窮而陽乘之，隨症更遷，與時變易，此陰陽之不可不分而剖也。」岐伯曰：「察脈動靜，以視精明，察五色，觀五臟有餘不足，六腑強弱，形之盛衰，以此參伍，決死生之分。」又曰：「形氣相得，謂之可治。色澤以浮，謂之易已。脈從四時，謂之可治。脈弱以滑，是有胃氣。」《靈樞》曰：「色脈與尺如鼓桴相應，青者脈弦，赤者脈鉤，黃者脈代，白者脈毛，黑者脈石。見其色而不得其脈，反得相勝之脈，則死矣；得相生之脈，則病已矣。」又曰：「精明五色者，氣之華也。赤欲如白裹朱，不欲如赭。白欲如鵝羽，不欲如鹽。青欲如蒼璧，不欲如藍。黃欲如羅裹雄黃，不欲如黃土。黑欲如重漆色，不欲如地蒼。」此色脈之不可不合而稽也。《靈樞》曰：「審尺之緩急大小滑澀，肉之堅脆，而病形定矣。目窠微腫，頸脈動，時咳，按之手足窅而不起，風水膚脹也。尺膚滑而淖澤者，風也。尺肉弱者，解㑊安臥；脫肉者，寒熱不治。尺膚澀者，風痹也。尺膚粗如枯魚之鱗者，傷飲也。尺膚熱甚，脈盛躁者，病溫也。脈盛而滑者，病且出也。尺膚寒，脈小者，泄而少氣。尺膚炬然，寒熱也。肘所獨熱者，腰以上熱；手所獨熱者，腰以下熱。肘後粗以下三四寸熱者，腸中有蟲。掌中熱者，腹熱；掌中寒者，腹寒。魚上有青脈者，胃中寒。尺炬然熱，人迎大，當奪血。尺堅大，脈小，少氣，悗有加，立死。」又曰：「脈急者尺膚亦急，脈緩者尺膚亦緩，脈小者尺膚亦減而少氣，脈大者尺膚亦賁而起，脈滑者尺膚亦滑，脈澀者尺膚亦澀，此尺膚之不可不詳而考也。」《脈要精微論》曰：「長則氣治，短則氣病。數則煩心，大則病進。上盛則氣高，下盛則氣脹。代則氣衰，細則氣少，澀則心痛。渾渾革至如湧泉，病進而色弊。綿綿其去如弦絕者死。」《平人氣象論》曰：「脈短者頭疼，脈長者足脛痛，脈促上擊者肩背痛。脈沉而堅者病在中，脈浮而盛者病在外。脈沉而弱，寒熱及疝瘕，少腹痛。脈沉而橫，脅下有積，腹中有橫積痛。脈沉而喘曰寒熱。脈盛滑堅者病在外，脈小實而堅者病在內。小弱以澀，謂之久病；浮滑而疾，謂之新病。脈急者，疝瘕少腹痛。脈滑曰風，脈澀曰痹。緩而滑曰熱中，盛而緊曰脹。臂多青脈曰脫血。尺脈緩澀，謂之解㑊安臥。脈盛謂之脫血，尺澀脈滑，謂之多汗。尺寒脈細，謂之後泄。尺脈粗常熱者，謂之熱中。此主病之不可不諳而識也。」如上所述，不過大略耳。若欲達變探微，非精研《靈》《素》，博綜百家不可也。許胤宗曰「脈之候幽而難明，吾意所解，口莫能宣也。口且莫能宣，而筆又烏能寫乎？博極而心靈自啟，思深而神明自通，則三指有隔垣之照，二豎無膏肓之遯矣。」</p>
