<!-- footer -->
<footer id="page-footer">
© 2009–2022 中醫笈成 | <a href="${get_url('privacy.html')}">隱私政策</a> | <a href="${get_url('copyright.html')}">著作權聲明</a> ${include('vcs.html') if vcs_url_prefix else ''}
</footer>