<!-- panel -->
<div id="page-panel" role="dialog" aria-modal="true" aria-label="工具欄" hidden>
<form autocomplete="off"><!-- workaround for Chromium Issue 993339 -->
  <a id="page-panel-close" role="button" aria-label="關閉">╳</a>
  <ul role="tablist">
    <li><button id="page-panel-tab-option" type="button" role="tab" aria-controls="page-panel-tabpanel-option">設定</button></li>
    <li><button id="page-panel-tab-toc" type="button" role="tab" aria-controls="page-panel-tabpanel-toc">目錄</button></li>
    <li><button id="page-panel-tab-search" type="button" role="tab" aria-controls="page-panel-tabpanel-search">搜尋</button></li>
  </ul>
  <div id="page-panel-tabpanels">
    <div id="page-panel-tabpanel-option" role="tabpanel" aria-labelledby="page-panel-tab-option">
      <details open id="page-panel-tabpanel-option-view"${'' if data_type == 'book' else ' hidden'}>
        <summary>檢視</summary>
        <label for="useAncient" aria-description="設定顯示的版本：
• 今版：呈現貼近現代閱讀習慣的內容，例如按現代習慣分章分段，加入現代標點，將罕用異體字轉為現代常用字等等。
• 古版：呈現貼近古籍原始樣貌的內容，例如不使用現代標點，使用直式排版等。
• 自動：程式將按目前瀏覽的頁面及其他選項自動判斷。">版式: <select id="useAncient" size="1">
          <option value="auto">自動</option>
          <option value="false" selected>今版</option>
          <option value="true">古版</option>
        </select></label>
        <label for="useZhu" aria-description="設定如何呈現注文。注文是注家對原文的注解，例如王冰注《素問》的文字。
• 自動：程式將按目前瀏覽的頁面及其他選項自動判斷。
• 比對：上色顯示注解。
• 接受：顯示注解。
• 拒絕：不顯示注解。">注: <select id="useZhu" size="1">
          <option value="auto" selected>自動</option>
          <option value="diff">比對</option>
          <option value="accept">接受</option>
          <option value="reject">拒絕</option>
        </select></label>
        <label for="useShu" aria-description="設定如何呈現疏文。疏文是第二注家對原文或注文的注解，例如林億、高保衡校注《素問王冰注》的文字。
• 自動：程式將按目前瀏覽的頁面及其他選項自動判斷。
• 比對：上色顯示注解。
• 接受：顯示注解。
• 拒絕：不顯示注解。">疏: <select id="useShu" size="1">
          <option value="auto" selected>自動</option>
          <option value="diff">比對</option>
          <option value="accept">接受</option>
          <option value="reject">拒絕</option>
        </select></label>
        <label for="useJiao" aria-description="設定如何呈現校文。校文是現代整理者加入的注釋或校訂說明。
• 自動：程式將按目前瀏覽的頁面及其他選項自動判斷。
• 比對：上色顯示注解。
• 接受：顯示注解。
• 拒絕：不顯示注解。">校: <select id="useJiao" size="1">
          <option value="auto" selected>自動</option>
          <option value="diff">比對</option>
          <option value="accept">接受</option>
          <option value="reject">拒絕</option>
        </select></label><button id="useAdvancedAnnotationBtn" type="button" class="plain" aria-label="進階篩選" aria-description="進階篩選本書的注疏校文。">⚙️</button>
        <label for="useDing" aria-description="設定如何呈現訂文。訂文是現代整理者對原典所做的修訂，或不同版本的文字。
• 自動：程式將按目前瀏覽的頁面及其他選項自動判斷。
• 比對：上色顯示修訂版增加的文字及刪除的原典文字。
• 接受：顯示修訂版的文字。
• 拒絕：顯示原典的文字。">訂: <select id="useDing" size="1">
          <option value="auto" selected>自動</option>
          <option value="diff">比對</option>
          <option value="accept">接受</option>
          <option value="reject">拒絕</option>
        </select></label><button id="useAdvancedVersionBtn" type="button" class="plain" aria-label="進階篩選" aria-description="進階篩選本書的訂文。">⚙️</button>
      </details>
      <details open id="page-panel-tabpanel-option-display">
        <summary>呈現樣式</summary>
        <label for="useVertical" aria-description="設定內容是否以直書顯示。
• 自動：程式將按目前瀏覽的頁面及其他選項自動判斷。">直書: <select id="useVertical" size="1">
          <option value="auto" selected>自動</option>
          <option value="false">橫書</option>
          <option value="true">直書</option>
        </select></label>
        <label for="useFont" aria-description="設定顯示的字體，若系統有安裝會優先使用，否則自動下載網頁需要的字體區段。
• 預設：使用瀏覽器預設字體。
• 補缺：使用瀏覽器預設字體，缺字用大字集字體補充。
• 花園明體等：使用指定的大字集字體。
• 自訂：使用自訂的字體（點擊旁邊的選項按鈕設定）。
• 自動：程式將按目前瀏覽的頁面及其他選項自動判斷。">字體: <select id="useFont" size="1">
          <option value="auto" selected>自動</option>
          <option value="default">預設</option>
          <option value="default-ext">補缺</option>
          <option value="hanamin">花園明體(22.7MB)</option>
          <option value="twsung">全字庫正宋體(48.5MB)</option>
          <option value="twkai">全字庫正楷體(55.4MB)</option>
          <option value="custom">自訂</option>
        </select></label><button id="useFontCustomBtn" type="button" class="plain" aria-label="自訂字體" aria-description="設定自訂的顯示字體。">⚙️</button>
        <label for="fontSize" aria-description="設定顯示的字體大小，單位為像素(px)。對 Windows 預設的 96DPI 螢幕而言 1px = 0.75pt。">字級: 
          <input id="fontSize" type="number" value="16" min="4" step="any" style="width: 4em;" list="fontSizeOptions">
          <datalist id="fontSizeOptions">
            <option value="16">小</option>
            <option value="20">中</option>
            <option value="24">大</option>
            <option value="32">巨</option>
          </datalist>
        </label>
        <label for="useHanzi" aria-description="設定是否自動處理系統無法顯示的字。
• 基本：自動將有建檔的缺字轉換成圖片。
• 進階：自動將有建檔的缺字轉換成圖片，未建檔的自動合成圖片。
• 停用：不使用自動轉換。瀏覽器一般會把無法顯示的字顯示為空白或 Unicode 編碼。
• 自動：程式將按目前瀏覽的頁面及其他選項自動判斷。">缺字處理: <select id="useHanzi" size="1">
          <option value="auto" selected>自動</option>
          <option value="advanced">進階</option>
          <option value="basic">基本</option>
          <option value="false">停用</option>
        </select></label>
        <label for="prettify" aria-description="設定是否用程式做精細排版。啟用精細排版可能會耗用較多資源及造成延遲，尤其在顯示內容較多時。
• 自動：程式將按目前瀏覽的頁面及其他選項自動判斷。">精細排版: <select id="prettify" size="1">
          <option value="auto" selected>自動</option>
          <option value="true">啟用</option>
          <option value="false">停用</option>
        </select></label>
      </details>
      <details open id="page-panel-tabpanel-option-other">
        <summary>其他</summary>
        <label for="tocMode" aria-description="設定在目錄分頁點擊章節的處理方式。
• 分節：檢視指定的章節，隱藏其他章節，並自動在頁尾加上前後章節的連結。
• 定位：自動捲動定位至指定章節的位置。">目錄瀏覽: <select id="tocMode" size="1">
          <option value="section" selected>分節</option>
          <option value="locate">定位</option>
        </select></label>
      </details>
    </div>
    <div id="page-panel-tabpanel-toc" role="tabpanel" aria-labelledby="page-panel-tab-toc"></div>
    <div id="page-panel-tabpanel-search" role="tabpanel" aria-labelledby="page-panel-tab-search">
      <script async src="https://cse.google.com/cse.js?cx=008948661690752370915:cps7kop8o_o"></script>
      <div class="gcse-search"></div>
    </div>
  </div>
</form>
</div>