<header data-type="book">
<h1>中國藥一百種之化學實驗</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="中尾萬三">中尾萬三</data></dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1936">公元1936年</data></dd></div>
<div><dt>底本</dt><dd>*收錄於《皇漢醫學叢書》第十四冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>試驗方法</h1>
<p>各種其二百公分。以索克萊氏浸出器。先用醚。次用木精。（甲醇）然後更用水。各別抽出其可溶分。製為浸膏。而檢查之。就中對於醚制浸膏。則以酸性水煉合之。取其酸性水以醚振之。後以炭酸鈉使其酸性。水變呈鹼性。再以醚振之。然後更以苛性鈉使其呈強鹼性。再以醚振之。取醚液各各蒸發後。所得之物質。試以各種贗鹼試藥時。則得如下之成績。</p>

<h1>第一表</h1>
<figure>
<img alt="第一表1">
</figure>
<figure>
<img alt="第一表2">
</figure>
<figure>
<img alt="第一表3">
</figure>
<figure>
<img alt="第一表4">
</figure>
<figure>
<img alt="第一表5">
</figure>
<figure>
<img alt="第一表6">
</figure>
<figure>
<img alt="第一表7">
</figure>

<h1>第二表</h1>
<figure>
<img alt="第二表1">
</figure>
<figure>
<img alt="第二表2">
</figure>
<figure>
<img alt="第二表3">
</figure>
<figure>
<img alt="第二表4">
</figure>
<figure>
<img alt="第二表5">
</figure>
<figure>
<img alt="第二表6">
</figure>
<figure>
<img alt="第二表7">
</figure>

<h1>第三表</h1>
<figure>
<img alt="第三表1">
</figure>
<figure>
<img alt="第三表2">
</figure>
<figure>
<img alt="第三表3">
</figure>
<figure>
<img alt="第三表4">
</figure>
<figure>
<img alt="第三表5">
</figure>
<figure>
<img alt="第三表6">
</figure>
<figure>
<img alt="第三表7">
</figure>
<p>袁淑範按。神農本草經中所載藥品乏總數為三百六十五。至梁陶弘景則加名醫副品三百六十五為七百三十種。其後代有增加。及至明李時珍之本草綱目。則已增至千八百九十餘種矣。如更加本草綱目拾遺中之藥品時。則可至二千種以上。如斯數目浩翰之藥品。吾人一啟研究之興趣。因其能使人咸感無從著手之煩難而中止。況且古來之所謂藥者。並非專指治病之純醫療用的物質。所以漢藥中有穀類。肉類。蔬菜。香料。釀成品等增進健康之滋養料。又有久服輕身。延年益壽等以欲成仙之目的所用之強壯藥。更加如人參。五加等因古來之傳說。民間的迷信。為人所崇拜者。如黃耆黃蘗等因其色黃。以為可治黃疸。紅花丹參等因其色紅。以為可治血病者等時。更使人迷離無著矣。然本草中對於各藥。常註明其簡單之性質。如有毒無毒是也。以服用無奪無害。不但可治病。且久服又可延年益壽者。為最上品。其次治病。即現今所稱謂藥者。以之為中品之藥。雖能治病。然連用則能害人。更次者。則為下品。有毒。治病時不可或缺。為純醫療用的藥品。如斯中藥常分為上中下三品。然是等分類。是否亦與科學的研究相符合。實有一究之必要。著者為研究整理中藥計。故先行如上記之預備的試驗。欲究明。其某也者為有毒。而可以研究。某也毫無特別成分。無試驗之價值。兼及欲證明其上中下三品之分類。有無價值也。如因此小試驗。能省略同志者研究中藥之時間時。則感無上之光榮矣。</p>
<p>以上一百種生藥中</p>
<p>劉寄扳　佛耳草　白扁豆　紫蘇　排草香　金英子　韭菜子　冬瓜子　淡竹葉　不食草　西河柳　椿根皮　鳳尾草　伸筋草　小胡麻　雞冠花　紫槿皮　土槿皮　白河車　七星草　小青草　追風草　何白草　協枝草　老化草　功勞子　通天草</p>
<p>等二十七種。為神農本草經中所未記載者。</p>
<p>次更取其一百種中神農本草經中有記載之七十三種。依上中下三品之分類法分類之。再以表示其對於所用十六種　之贗鹼試藥之半數以上。呈陽性反應者時。則如次。</p>
<figure>
<img alt="表">
</figure>
<p>上中下三藥對試藥之反應率</p>
<figure>
<img alt="表">
</figure>
<p>觀上表可知神農本草經中上中下三品之區別。雖不能如同書記載。在功效上。有嚴格的界限。但在大體。自成分上觀察時。可認為其分類。並非全屬無稽也。</p>
