<header data-type="book">
<h1>喉科大成</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>馬渭齡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1881">公元1881年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>余𥃎齡時肄業南泉，吾師談及馬君渭齡先生學問淵博，丰度端凝，且精於醫，有治十起九手段，余心儀久之。越翼日，先生來齊，與吾師縱談今古，理析微茫。席間誦其春柳句云：煙雨半林居士宅，鶯花三月酒家門，重陽對雨雲北雁，信沉千嶂雨江楓。秋老半天云，其豪邁之氣可想。後余宦遊黔中，遂不復通音問矣。光緒己卯，余以黔撫降調先生。嗣君敏森見余於南泉，草堂呈詩八律，清新雅切，不落前人窠臼，詩人有後益信，別後寄其先人遺集求刊。余維先生著作等身，望隆梓里，其醫書可以傳世，而咽喉一科尤為醫之首重，先生旁搜博採，集為大成，誠為醫家所必不可少之書。及捐廉付梓，以廣其傳，書成聊綴數語，記其巔末於此。</p>
<p><u>光緒七年辛巳歲仲秋月黎培敬序於漕河節署</u></p>

<h1>自敘</h1>
<p>行世之方書多矣，無不精而且詳。唯咽喉一科，絕少傳書。即有之，亦不過家傳藍本湊錄成方而已。求所謂分門別類，源源委委，固無有也。余少攻舉業，屢躓名場，因而旁及於醫。雖不能如范文正公之所云良醫等於良相，而救濟為懷，於斯世斯人，或不無少補。竊見咽喉為性命之關，誠醫中之首重也。不數數請教於當世之名科，方非不驗，而門路無多。一遇各證顛危，無不束手待斃，嗚呼！醫乃仁術也，而有忍心焉醫云乎哉！丙申夏，勃然有念，本生平之領受，集群書之心得，匯而為一家言，歷寒暑而告成。先經絡藏象，次經義。又次而脈象針穴，昭其經也。後抒之以議論，繼之以論治，終之以主治。方藥並行，絡其緯也。分門別類，源委釐然。是雖纂集成書，而披沙揀金，要亦幾費苦心。余持此以問世，數十年頭頭是道，無不其應如響。可見管窺者僅觀其隙，臠嘗者未得其全，又烏可以泛應而曲當也？世之業此者，引伸觸類，或不無少助於民生；即不知者，對證用方，亦可救人於頃刻。金針盡度，何快如之！是為序。</p>
<p><u>道光二十年春月醉古山人序於梅竹山房</u></p>

<h1>卷一</h1>

<h2>《類經》咽喉經絡藏象</h2>
<p>任脈至咽喉，督脈入喉（俱經絡二十七），衝脈任脈會於咽喉（藏象十七）。足陽明循喉嚨，手太陽循咽，足少陽循喉嚨。足厥陰循喉嚨之後，上入頏顙。手少陰支者上挾咽（俱經絡二），足少陽之別上挾咽。足陽明上循咽，足太陰合於陽明，上行結於咽。手少陰之正上走喉嚨，手太陽循喉嚨（俱經絡三）。足陽明挾咽之動脈（經絡十），上焦咽以上（經絡二十三）。手厥陰出循喉嚨，手陽明上循喉嚨（經絡三）。</p>

<h3>嗌</h3>
<p>足太陰脈絡嗌（疾病十三）。</p>

<h3>會厭</h3>
<p>厭小而疾薄，則發氣疾，其開合利。厭大而厚，則開合難，其氣出遲。足之少陰，絡於橫骨，終於會厭（俱針刺四十五）。會厭之脈，上絡任脈，取之天突，其厭乃發也（天突為陰維任脈之會）。</p>

<h3>咽與喉各異</h3>
<p>《靈樞》經曰：「咽喉者，水穀之道路也。喉嚨者，氣之所以上下也。會厭者，音聲之戶也。口唇者，音聲之扇也。舌者，音聲之機也。懸雍者，音聲之開也。頏顙者，分氣之所泄也。橫骨者，神氣之所使，主發舌者也」。</p>

<h3>咽喉</h3>
<p>人有二喉，一軟一硬，軟者居後，是謂咽喉；硬者居前，是謂喉嚨。</p>

<h3>會厭</h3>
<p>喉間之薄膜也。周圍會合，上連懸雍，咽喉食息之道得以不亂者，賴其遮壓，故謂之會厭。能開能合，聲由以出。</p>

<h3>懸雍</h3>
<p>俗謂之小舌，當氣道之沖，為咽間要會，故謂之關。</p>

<h3>頏顙</h3>
<p>頏，頸也。顙即頸中之喉顙，當咽喉之上，懸雍之後，張口可見者也。顙前有竅，息通於鼻，故為分氣之所泄。</p>

<h3>橫骨</h3>
<p>即喉上之軟骨也。下連心肺，故為神氣之所使，上連舌本，故主發舌機。</p>
<p>《內經》曰：喉主天氣，咽主地氣。又曰：地氣通於嗌。</p>
<p>嗌謂咽喉下，接連胸中肺氣葉之間也。嗌即咽之底處也。</p>
<p>喉者，候也。咽者，也。咽接三脘以通胃，故以之咽物。喉通五臟以系肺，故以之候氣。氣喉谷咽皎然明白（《得效》），咽者胃之系，喉者肺氣之所通。咽以候物，喉以候氣，理一而分殊也（《直指》）。咽者，咽物之門戶也。</p>

<h3>咽喉會厭與舌其用不同</h3>
<p>咽與喉，會厭與舌，此四者同在一門，而其用各異，喉以納氣，故喉氣通於天；咽以納食，故嚥氣通於地；會厭管乎其上，以司開合，掩其喉，則其食下，不掩則其喉錯，必舌抵上齶，則會厭能開其喉矣。四者交相為用，闕一則飲食廢而死矣。</p>

<h3>咽喉度數</h3>
<p>《靈樞》經曰：咽門重十兩，廣二寸半，至胃長一尺六寸。喉嚨重十二兩，廣二寸，長一尺二寸（子和）。</p>
<p>仙經曰：絳宮重樓十二級，人之喉嚨有十二節（《養性》）。</p>

<h3>經義</h3>
<p>《憂恚無言篇》曰：咽喉者，水穀之道也，喉嚨者，氣之所以上下者也。</p>
<p>《陰陽別論》曰：一陰一陽結，謂之喉痹。</p>
<p>《厥論》曰：手陽明少陽厥逆，發喉痹嗌腫。</p>
<p>《經脈篇》曰：足陽明之別，上絡頭項，合諸經之氣，下絡喉嗌，其病氣逆，則喉痹瘁喑。</p>
<p>三焦，手少陽也。是動則病嗌腫喉痹。</p>
<p>小腸，手太陽也。是動則病嗌痛頷腫。</p>
<p>腎足少陰也。是所生病，口熱舌乾，咽腫上氣，嗌乾及痛。</p>
<p>《骨空論》曰：督脈為病，嗌乾。</p>
<p>《五音五味篇》曰：衝脈任脈，皆起於胞中，上循背裡，為經絡之海，其浮而外者，循腹右上行，會於咽喉，別而絡唇口。</p>
<p>《脈解篇》曰：厥陰所謂甚則嗌乾熱中者，陰陽相薄而熱，故嗌乾也。</p>
<p>《奇病篇》曰：肝者，中之將也，取決於膽，咽為之使。《厥病篇》曰：嗌乾，口中熱如膠，取足少陰。</p>
<p>《雜病篇》曰：喉痹不能言，取足陽明；能言，取手陽明。</p>
<p>《熱病篇》曰：喉痹，舌卷，口中乾，煩心，心痛，臂內廉痛，不可及頭，取手小指次指爪中，下去端如韭葉。</p>
<p>《繆刺論》曰：邪客於手少陽之絡，令人喉痹舌卷，口乾，心煩，刺手中指次指爪甲上，去端如韭葉，各一。邪客於足少陰之絡，令人嗌痛，不可內食。無故善怒，氣上走賁上，刺足下中央之脈，各三。嗌中痛，不能內，唾時不能出唾者，刺然骨之前，出血立已，左刺右，右刺左。</p>
<p>《六元正紀大論》曰：少陽司天三之氣，喉痹目赤善暴死，少陰司天，嗌乾腫上。</p>
<p>《至真要大論》云：歲太陰在泉，嗌腫，喉痹。太陽在泉，寒淫所勝，民病嗌痛頜腫。太陰之勝，喉痹項強。少陽司天，客勝則丹胗外發，喉痹，頭痛，嗌腫。</p>

<h3>脈法</h3>
<p>兩寸脈浮洪而溢者，喉痹也。脈微而伏者死（《正傳》）。咽喉之脈，兩寸洪溢，上盛下虛，脈忌微伏。</p>

<h3>針灸</h3>
<p>雙蛾，玉液、金津、少商。</p>
<p>單蛾，少商、合骨、廉泉。</p>
<p>咽喉腫閉甚者以細三稜針藏筆尖中，戲言以沒藥點腫閉處，乃刺之，否則病人恐懼，不能愈疾喉痛。</p>

<h1>卷二</h1>

<h2>喉痹論</h2>
<p>《內經》云：一陰一陽結，謂之喉痹。王太僕云：一陰者，手少陰君火，心主之脈氣也；一陽者，手少陽相火，三焦之脈氣也。二脈正絡於喉，然氣熱則內結，甚則腫脹，腫甚則痹，痹甚則不通而死。原病式云：痹者，不仁也，俗作閉，猶閉塞也。火主腫脹，故熱客上焦而咽嗌腫脹也。咽喉之疾，反掌生死。腫脹甚者，急宜砭出血為尚，然後用藥，隨症調之。子和云：喉痹不歸之火，相去遠矣，然亦有伏氣，病名腎傷寒。謂非時暴寒，伏毒於少陰，始衰不病，旬日乃發，脈微弱，法當咽痛，次必下利，當以辛熱藥攻其本病，順其陰陽，則水升火降，而咽痛自己。又有少陰傷寒，不傳太陽，寒邪抑鬱，內格陽氣為熱。上行於咽門經會之處，寒熱相傳而成咽痹，當以辛溫甘苦制其標病，以通咽嗌。二者若誤用寒涼，卒致不救，烏呼冤哉！學者可不深究之（《指掌》）。</p>
<p>喉痹者，謂喉中呼吸不通，言語不出，而天氣閉塞也。咽痛及嗌痛者，謂咽喉不能納唾與食，而地氣閉也。喉閉咽嗌痛者，謂咽喉諸病，天地之氣閉塞也。十二經中，惟足太陽主表，別下項，余經皆內循咽喉，盡得以病之，而繞在君相二火。喉主天氣，屬肺經，變動為燥，燥則澀而閉。咽主地氣，屬脾土，變動為濕，濕則腫而脹。皆火鬱上焦，致痰涎氣血結聚，咽喉腫達於外，麻癢且痛，為纏喉風。腫於兩旁，為喉痹。其單蛾、雙蛾、木舌、舌脹、纏喉風、走馬喉風，病同於火，故不分也。惟纏喉走馬，殺人最速，用針出血，最為上策。</p>
<p>大抵無形腫閉者為痹，有形腫痛者即是蛾。先吐風痰，急則治其標也；後解熱毒，緩則治其本也。至於下寒過極，逼令上熱反盛，須用熱藥，食前冷服。內經所以有從治之法也，更以脈而消息之，必微弱可驗，或數而無力，不得誤用寒涼，益促其危。故實火須用正治，虛火須用從治，界限須審（以上摘纂《錦囊》）。</p>
<p>喉痹一證，在古方書雖有十八證之辨，而古人悉指為火，然此證雖多由火，而復有非火者，不可不詳察也。蓋火有真假，凡實火可清者，即真火證也；虛火不宜清者，即水虧證也，且復有陰盛格陽者，即真陽證也。故《內經》曰：太陽在泉，寒淫所勝，民病嗌痛頜腫，其義即此，何後人之弗究也。</p>
<p>喉痹所屬諸經，凡少陽、陽明、厥陰、少陰、皆有此證。但其中虛實各有不同，蓋少陽厥陰為木火之臟，固多熱證，陽明為水穀之海，而胃氣直透咽喉，故又惟陽明之火為最盛。欲辨此者，但察其以情志鬱怒而起者，多屬少陽厥陰。以口腹肥甘辛熱太過而起者，多屬陽明。凡患此者，多宜以實火論治，至若少陰之候，非此之比，蓋少陰之脈，結於橫骨，終於會厭，繫於舌本。凡陰火逆衝於上，多為喉痹，但少陰之火有虛實，不得類從火斷。若果因實火，自有火證火脈，亦易知也。若因酒色過度以致真陰虧損者，此腎中之虛火證也，非壯水不可。又有火虛於下，格陽於上，此無根之火，即腎中之真寒證也，非溫補命門不可。凡此諸經不同，而虛實大異。皆後人所罕知者。獨褚氏遺書有上病察下之說。誠見道之言也（《全書》）。</p>

<h3>論治</h3>
<p>咽喉之病，挾熱者十之六七；挾寒者十之二三；而風寒包火者，則十中之八九。古人開手一方，只用甘草、桔梗。《三因方》加以荊芥，其他蒡子、薄荷、貝母、川連之類。皆出後人續補。可見咽喉之病，不便輕用涼藥。而專主升散開發者，所謂結者開之，火鬱發之是已。及火勢極盛，則清劑方施；結熱下焦，而攻法是用，非得已也（《心悟》）。</p>
<p>凡火浮於上，而熱結於頭面咽喉者，最宜清降，切不可用散風升陽等劑。蓋此火由中，得升愈熾，經曰：高者抑之，正此之謂。非火鬱宜發，及升陽散火之義。最當體察，勿得誤認其面目（《全書》）。</p>
<p>二條各言其是，學者須當參觀而互用之，不可偏主。</p>

<h3>喉痹惡寒極</h3>
<p>寸脈小弱於關尺者，皆為表證。宜甘桔湯、半夏桂枝甘草湯，詳寒熱發散之類。婁善全云：喉痹惡寒者，皆是寒折熱，寒閉於外，熱鬱於內，薑汁散其外寒，則內熱得升而愈矣。切忌膽礬、酸寒等劑點喉，反使其陽鬱結不伸。又忌硝黃等寒劑下之，反使陽氣下陷入里，則禍不旋踵矣。水漿不得入口者，用解毒雄黃丸，以酸醋磨化，吐出濃痰，間以生薑汁噙下之，以表散藥升發之，神效。</p>
<p>《三因方》治卒喉痹不得語，小續命湯加杏仁甚妙。活人半夏桂枝甘草湯治暴寒中人，咽痛。此外感風寒作喉痹者之治法也（《準繩》）。</p>

<h3>喉痹不惡寒者</h3>
<p>及寸脈大滑實於關尺者，皆屬下證，宜青黛硝石等寒藥降之。或白礬等酸劑收之。韓祗和云：寸脈大於關尺者，宜消陽助陰。東垣云：兩寸脈實，為陽盛陰虛，下之則愈。或三部俱實，亦可用其法也（《準繩》）。</p>
<p>以上二論，一寒一熱，界限分明。</p>
<p>喉痹，鄉村病皆相似者，屬太行運氣之邪。治必先表散之，亦忌酸寒點藥。郁邪於內，不得外出也，其病有二。其一屬火。經云：少陽所至為喉痹。又云：少陽司天之政，三之氣炎暑，至民病喉痹。治宜仲景甘桔湯；或面赤斑者，屬陽毒，宜陽毒諸方汗之。其一屬濕。經云：太陰之盛，火氣內郁，喉痹。又云：太陰在泉，濕淫所盛，病嗌腫喉痹。治宜活人半夏桂枝甘草湯；或面青黑者，宜陰毒諸方汗之，又解毒雄黃丸最妙（《準繩》）。</p>

<h3>此論天行喉痹</h3>
<p>瘟毒喉痹，乃天行瘟疫之氣。其證則咽痛項腫，甚有頸面項俱腫者，北方尤多此病。俗人呼為蝦蟆瘟，又名鸕鷀瘟，亦名大頭瘟，此濕熱壅甚，最凶之候，宜清諸經之火，或瀉陽明之熱，當察緩急治之，東垣普濟消毒飲最妙（《全書》）。</p>

<h3>此論瘟毒喉痹</h3>
<p>經云：寒氣客於會厭，卒然如啞，宜玉粉丸。陳藏器每用治臟寒咽閉。吞吐不利，用附子，去皮臍，炮製，以蜜塗炙之，令蜜人內，含之勿咽。</p>
<p>急痹有聲如鼾，有如痰在喉音者，此為肺絕之候，速宜人參膏救之，用薑汁竹瀝放開服，十全七八。</p>
<p>風熱痰喉痹，丹溪先飲以千紙湯，次用知柏四物湯養陰，則火降矣。七情鬱結氣塞不通，宜五香散。血壅為痹，宜取紅花汁服之，或用茜草，或土牛膝，抖自然汁和醋服。倘牙關緊急，滴入鼻內亦可，或馬鞭草亦好（《準繩》）。</p>
<p>咽喉如有物塞，經云：膽病者善太息，口苦，嘔宿汁，嗌中介介然，數唾，取陽陵泉。又云：心咳之狀，喉中介介如梗狀，取心之俞。仲景云：婦人咽中如有炙臠，半夏厚朴湯主之。</p>
<p>以上咽喉雜論各證須辨。</p>

<h3>咽嗌痛（嚥唾與食則痛者是也）</h3>
<p>經云：形苦志苦，病生於咽嗌，治之以百藥。又云：肝者，中之將也，取決於膽，咽為之使。</p>
<p>病喉痹者，必兼咽嗌痛。病咽嗌痛者，不能兼喉痹也（《綱目》）。</p>
<p>陰氣大虛，陽氣飛越，痰結在上，遂成咽痛，脈必浮大，重取必澀，去死為近，宜補陰斂陽，人參一味，濃煎細飲之，此證皆是勞嗽日久者有之。</p>

<h3>咽瘡</h3>
<p>多虛火遊行無制，客於咽喉，宜用人參蜜炙，黃柏荊芥治之。</p>

<h3>陰虛喉痹</h3>
<p>其證亦內熱，口渴喉干，或唇紅頰赤，痰涎壅盛，然必尺脈無神，或六脈雖數，而浮軟無力。但察其過於酒色，或素稟陰氣不足，多倦少力者，是皆腎陰虧損，水不制火而然。火甚者，宜滋陰，八味煎加減，一陰煎之類主之。火微而不喜冷物，及大便不堅，小便不熱者，宜六味地黃湯，一陰煎之類主之。若思慮焦勞，兼動心火者，二陰煎主之。</p>

<h3>格陽喉痹</h3>
<p>由火不歸原，則無根之火客於咽喉而然，其證則上熱下寒，全非火證。凡察此者，但診其六脈微弱，全無滑大之意，且下體絕無火證，腹不喜冷，即是候也。蓋此證必得於色欲傷精，或泄瀉傷腎，或本無實火，而過服寒涼，以傷陽氣者，皆有此證。速宜用鎮陰煎為上，八味地黃湯次之，或用蜜附子含咽亦妙，若再用寒涼，必致不救。</p>

<h3>陽虛喉痹</h3>
<p>非喉痹因於陽虛，乃陽虛因於喉痹也。蓋有因喉痹而過於攻摯，致傷胃氣者；有由於飲食，倉廩空虛亦傷胃氣者；又有氣體素弱，不耐勞倦，而傷胃氣者。凡中氣內虛，疼痛外逼，多致元陽氣越，脈浮而散，或弱而澀，以致聲如鼻鼾，疾如拽鋸者，此肺胃垂絕之候，速宜挽回元氣，以人參濃煎徐飲之。如痰多者，加竹瀝薑汁。遲則不救，如作實火治之，禍如反掌。</p>

<h2>喉癬證</h2>
<p>凡陰虛勞損之人多有之。其證滿喉生瘡，紅痛久不能愈，此水虧虛火證也，宜用陰虛喉痹之法治之。若多咳嗽肺熱，宜用四陰煎之類主之。若滿喉生瘡，破爛而痛者，宜用牛黃益金散吹敷之，內服滋補真陰之劑，自可全愈（《全書》）。</p>
<p>以上數條，咽喉並論，陰虛陽虛格陽等證，較然明白，宜細辨之。</p>

<h2>實熱咽痛</h2>
<p>三黃丸，或用黃連、荊芥、薄荷為末，蜜薑汁調噙，或山豆根噙之。及用黃柏、黃連、大黃水調塗足心與患處，及龍麝聚聖丹，祛毒牛黃丸，咽喉備急丹。</p>

<h2>浮熱咽病</h2>
<p>表散之，增損如聖湯，利膈湯，桔梗湯。</p>

<h2>壅熱咽痛</h2>
<p>或嗽中帶血者，宜金沸草散，佐以辰砂丸、化痰丸（《準繩》）。</p>
<p>三條論實熱浮熱壅熱</p>
<p>或問咽喉有痹，有腫、二者之外，又有纏喉風、乳蛾、生瘡諸病，何邪致之？何經病之？與治法大略，願聞其說。曰：十二經脈皆上循咽喉，盡得以病之，然統其地氣。又曰：諸逆衝上，皆屬於火是也。蓋肺主氣，天也；脾主濕，地也。於是喉納氣，咽納食。納氣者從金化，納食者從土化。金性燥，土性濕。至於病也，金化變動為燥，燥則澀，澀則閉塞不仁，故在喉謂之痹。土化變動為濕，濕則泥，泥則壅脹不通，故在咽謂之腫。痹腫之病雖少異，然一時火鬱於上焦，致痰涎氣血聚結於咽喉也。自其咽腫形狀分之，則有纏喉風、乳蛾之名。纏喉風者，其腫透達於外，且麻、且癢、且痛；乳蛾者，腫於咽兩傍，名雙乳蛾。一邊腫者，名單乳蛾。喉痹之暴發暴死者，名走馬喉痹，《內經》又有嗌塞咽喉乾者，亦皆因諸經所致。中間雖有經氣之寒熱不等，其為火證一也，大抵治法，視火微甚。微則正治，甚則反治，撩痰出血，三者隨宜而施，或刺手少商出血，行氣。若腫達於外者，又必外敷。余每治此證，用鵝翎蘸醋於喉中，摘去其痰。蓋醋味酸，能收其痰，隨翎而出，又能消積血。若乳蛾甚而不散，上以小刀就蛾上刺血。用馬牙硝吹點咽喉，以退火邪。服射干、青黛、甘、桔、梔、芩、礬石、牛子、大黃之類，隨其攸利為方，以散上焦之熱。外所敷藥，如生地龍、韭根、伏龍肝之類，皆可用。若夫生瘡，或白或赤。白者多涎赤者多血，大率與口瘡同例（《準繩》）。</p>
<p>此論纏喉風，乳蛾等證，無非因於腫脹之形似立名。其原皆起於燥濕，君相二火鬱於上焦，以致痰涎結聚所致。今之專科，僅從形似主治，徒用家傳秘方，觀此可恍然悟矣。</p>

<h1>卷三</h1>

<h2>古今治法論</h2>
<p>咽喉之證，古方書有十八證，又增為二十四證，又增為三十二證，復又增為七十二證。命名各殊，治法亦異，眩人心目。茲擇古今治法。至平至效者，詳列於左，學者宜致思焉。</p>
<p>一曰喉痹，痹者，痛也。經云：一陰一陽結，謂之喉痹。一陰者，手少陰心也。一陽者，手少陽三焦也。心為君火，三焦為相火，二火沖摯，咽喉痹痛，法當散之清之，加味甘桔湯主之。又有非時暴寒，潛伏於少陰經，越旬日而後發，名伏氣。咽痛，俗云腎傷寒是已。法當辛溫以散之，半夏桂甘湯主之。復有少陰中寒之重證，寒客下焦，逼其無根失守之火，發揚於上，遂致咽痛。其證手足厥冷，脈沉細，下利清穀，但用理中四逆湯療寒，而咽痛自止。斯二者，寒也。其他悉屬熱證，不可不知。</p>
<p>二曰纏喉風，咽喉腫痛脹塞，紅絲纏繞，故名纏喉風。其證口吐涎沫，食物難入，甚則腫達於外，頭如蛇纏。先用黃汁調元明粉少許灌喉中，攪去其痰。次用蜜水潤之，若汁不能拔痰，則用土牛膝，連根搗爛，和酸醋灌之。如頑痰膠固，吐仍不出，咽喉脹閉不通，滴水難入者，則用解毒雄黃丸，極酸醋磨下七丸，自然得吐而通。既通，可用牛黃清心丸，加味甘桔湯。如腫勢達外，延及頸項，頭面紅如火光，藥力難敵，急用磁鋒砭出惡血，用雞子清調乳香末潤之，立瘥。或用芭蕉根汁潤之，以解其毒。若口中腫脹紫黑，急用銀針刺去其血，或用小刀點之，隨以淡鹽湯洗之，吹上冰片散。更有腫在喉里，針法難施，急刺手少商穴出血，則喉花自開。仍以解毒雄黃丸灌之，自然通透。此等病勢危惡，非吐痰解毒，煎丸並進，刀針砭石，按法善施，鮮克有濟也。治此者平時揣摩純熟，臨證庶能措手，幸毋輕忽，緩以誤人也。</p>
<p>三曰走馬喉風，喉舌之間，暴發暴腫，轉腫轉大，名走馬喉風。又名飛瘍。不即治急殺人，用小刀點出血，淡鹽湯洗之，吹以冰片散，仍服加味甘桔湯，加金銀花一二兩。若牙關緊急，則用搐鼻散吹鼻中。隨以解毒雄黃丸，醋磨灌之，太乙紫金丹亦佳。紫金丹治咽喉等證，無往不神驗也。</p>
<p>四曰纏舌喉風，硬舌根而爛兩傍，急服加味甘桔湯，吹冰片散，緩則不救。若有爛處，以頭髮作子，用甘草湯洗淨，然後吹藥。</p>
<p>五曰雙單乳蛾。狀如乳頭，生喉間，一邊生者名單乳蛾，兩邊生者名雙乳蛾，宜用韭菜汁調元明粉，灌去痰涎，吹以冰片散，隨服甘桔湯，自應消散。若不消散，以小刀點乳頭上出血，立瘥。凡針乳蛾，宜針頭尾，不可針中間，鮮血者易治，血黑而少者難痊。凡用刀針，血不止者，用廣三七末，嚼敷刀口上。凡用刀針，不可誤傷蒂丁，損則不救，慎之慎之。</p>
<p>六曰喉疔，形似鞋疔，但差長耳。先用小刀點刺，隨用冰片散吹之。以甘桔湯多加菊花煎飲之。菊花連根帶葉，皆消疔之聖藥也。每四兩煎湯頻服，一切疔腫皆散，自然汁尤妙。</p>
<p>七曰木舌，重舌，蓮花舌，此心火熾盛致然也。用水洗去舌上白苔垢。若有黑處，用小刀點破，去瘀血，吹冰片散，服甘桔湯，加黃連。若蓮花舌，靠牙而起數峰，中不可針，宜針兩傍，針中間，恐傷舌根也，根傷則不能收功，凡口內使刀針，有兩處不可傷，一蒂丁，二舌下根，切不可傷，至要至要。又舌衄證出血不止，甘桔湯，倍加生地、丹皮，冰片散亦可吹。</p>
<p>八曰懸癰，生於上齶，形如紫李，此脾經蘊熱所致。不急治，恐毒氣上攻腦，則不可救。宜用銀針針破癰頭，用鹽湯攪盡瘀血。然後吹以冰片散，仍服加味甘桔湯。</p>
<p>九曰兜腮癰，生腮下，纏喉壅腫。先用韭汁調元明粉，攪去其痰。再看其紫黑處針之，以鹽湯攪去其血，吹以冰片散，仍服甘桔湯。若飲食不入，急用解毒雄黃丸，醋磨七丸。大凡腮腫，膿從口中出者易治。膿從腮外出者難痊，穿破故也。</p>
<p>十曰喉瘡，少陰腎經陰火上衝也。宜用韭汁探去其痰。若瘡勢灌膿，以銀針挑破之，隨用荊芥湯洗之，再吹冰片散，飲以甘桔湯。其上齶生瘡，脾熱也。舌上生瘡，心熱也。吹服如前法。</p>
<p>十一曰走馬牙疳，牙間紅腫，漸變紫黑臭穢，此胃經濕熱也。以石膏薄荷湯漱之，再吹同氣散，速服清胃散。</p>
<p>十二曰牙癰，牙邊腫痛如豆大，脾胃二經濕熱也。可用小刀點破之，吹冰片散，服清胃散。又牙宣證，牙根盡腫，宣露於外，或齒衄不止，並服前方。仍用陳茶、薄荷、銀花等頻服之，再用冰片散搽之。</p>
<p>十三曰喉瘤，生於喉旁，形如圓眼，血絲相裹，此肺經蘊熱所致。不可用刀針，宜吹麝香散，甘桔湯，切忌多言耗神。有一人口內生肉球，有根線，長五寸余，吐球出，方可飲食，以手輕捻，痛徹至心。因用疏風降火藥，每加麝香五分，仍用麝香散吹之，三日根化而愈。</p>
<p>十四曰繭唇，唇上起小泡，漸腫漸大如繭，此心脾鬱熱所致。初起時，即用艾絨如麥粒大灸之，仍服甘桔湯，加香附、遠志之類。</p>
<p>十五曰肺絕喉痹。凡喉痹日久，頻服清降之藥，以致痰涎壅於咽喉，聲如拽鋸，此肺氣將絕之候也。法在難治，宜人參膏，加橘紅湯飲之，或用四君子湯亦佳。</p>
<p>十六曰經閉喉腫。女人經水不調，壅塞經脈，亦令喉腫。宜用四物湯加牛膝、茺蔚子、香附、桃仁之類，俾經脈流通，其腫自消也。又有梅核氣症，男婦皆同，喉中如有物，吞不入，吐不出。宜用甘桔湯，加蘇杆、橘紅、香附、金沸草之類，漸次可愈。</p>
<p>凡治咽喉口舌之症，初則疏風解毒，繼則滋水養陰。若元氣漸虛，急顧脾胃，加六味滋水，四君補脾，皆為要藥。否則真氣虧敗，勢難挽矣。治者審之。</p>
<p>以上十六條皆出《心悟》書。</p>
<p><u>咽喉病名</u></p>
<p>單乳蛾，雙乳蛾，喉閉，纏喉風，急喉痹，懸雍垂，梅核氣，屍咽，谷賊，骨鯁，咽痛，咽瘡（《直拍》咽喉病名）。</p>

<h3>單乳蛾　雙乳蛾</h3>
<p>其形似乳蛾，一為單，二為雙（《醫鏗》）。單蛾風者，其形圓，如小箸頭大，生於咽喉關上，或左或右，關下難治。雙蛾風者。有兩枚，在喉關兩邊，亦圓如小箸頭大，關下難治（《得效》）。其乳蛾之差小者，名曰喉閉（《醫鑑》）。喉痹多是痰熱（《丹心》）。纏喉風喉閉之證，皆由膈間素有痰涎，或因酒色七情不節，而作火動痰，壅塞咽喉。所以內外腫痛，水漿不入，可謂危且急矣（《丹心》）。喉痹者，謂喉中呼吸不通，言語不出，而天氣塞也（《綱目》）。宜用如聖勝金錠，解毒雄黃丸，牛黃涼膈丸，七寶散，蟾礬散，雞內金散，備急丹，龍腦膏，青龍膽，吹喉散。實火宜清涼散，虛火加味四物湯。</p>

<h3>急喉痹</h3>
<p>《靈樞經》曰：瘡發咽嗌，名曰猛殖。此疾治遲則咽塞。咽塞則氣不通，氣不通則半日死。喉閉而暴發暴死者，名曰走馬喉痹（《醫鑑》）。夫喉之為會厭者，經謂之吸門是也。以其司呼吸，主升降，為人身之緊關橐鑰門戶也。若夫卒然腫痛，水漿不入，言語不通，死在須臾，誠可驚駭（《正傳》），宜速用針法吐法以救之。藥不得下，當以曲竹管，灌藥入喉為妙（《類聚》）。急喉痹，其聲如鼾，有如痰在喉音者，此為肺絕之候。宜速用人參，遲則不救（《綱目》）。孫兆治潘元從急喉，以藥半錢吹入喉中，少頃吐出膿血立愈。潘謝曰：大急之患，非明公不能救，非藥不能療，贈金百兩，願求其方。孫曰：豬牙皂角、白礬、黃連等分，瓦上焙為末耳。既授以方，不受所贈（《回春》）。牙關緊者，須開關，用一字散，二仙散。毒結宜如聖勝金錠，解毒雄黃丸，龍腦破毒散，奪命散，玉鑰匙，金鑰匙，巴豆煙。喉氣不通，冷水徐灌之（山居）。</p>

<h3>纏喉風</h3>
<p>熱結咽喉，腫達於外，且麻且癢，腫而大者，名纏喉風（《醫鑑》）。纏喉風，自耳邊過頰下赤兔者是也。大概內外皆腫者，為纏喉風（得效）。纏喉風之證，先兩日胸膈氣緊，出氣短促，忽然咽喉腫痛，手足厥冷，氣閉不通，頃刻不治（《丹心》）。</p>
<p>纏喉風屬痰熱，其咽喉裡外皆腫者是也（《丹心》）。宜用解毒雄黃丸，勝金錠，龍腦破毒散，一字散，二仙散，玉鑰匙，巴豆煙，雄黃散，佛手散，白礬散，冰梅丸。兼用針法，吐法乃效。</p>

<h3>懸雍垂</h3>
<p>懸雍生於上齶，雖不關於咽喉，所以暴腫者，抑亦熱使然也（《直指》）。懸雍謂之蒂鍾，脹而垂下，有長數寸者，謂之蒂鍾風。宜用鹽礬散，不可針破，針則殺人（《得效》）。懸雍者，音聲之關，若臟腑伏熱，上衝咽喉，則長而腫也。宜吹喉散，元參散，硼砂散（《類聚》）。腎傷寒，咽痛及蒂鍾腫者，忌針，以蛇床子於瓶中燒煙，令病人吸入喉中，立愈（《入門》）。</p>

<h3>梅核氣</h3>
<p>噙化丸，膽礬、硼砂、明礬、牙皂、雄黃，細末，紅棗煮爛取肉為丸，空心噙化，溫黃酒一盅，過口內，服蘇子降氣湯。</p>
<p>七情氣鬱，結成痰涎，隨氣聚積，堅大如塊，在心腹間，或塞咽喉，如梅核粉絮樣，咯不出，咽不下，每發欲絕，逆害飲食，宜四七湯（《得效》）。男女或有胸喉之間，梅核作恙者，觸事勿怒，飲食勿冷（《直指》）。梅核氣者，窒礙於咽喉之間，咯不出，咽不下，如梅核之狀是也。始因喜怒大過，積熱蘊隆，乃成痰鬱結，致斯疾耳，加味四七湯加二陳湯（《醫鑑》）。</p>

<h3>屍咽</h3>
<p>屍咽者，陰陽不和，脾肺壅盛，風熱毒氣，又不能通，故令屍蟲發動，上蝕於喉，或癢，或痛，如之候也。與傷寒狐惑同，當參考。</p>

<h3>谷賊</h3>
<p>谷賊者，谷芒強澀藏於米，而誤食之，滯於咽門，不能傳化，故風熱並聚與血氣不遂，令肺刺也。不急治，亦能殺人。誤吞稻麥芒在咽間不下，急取鵝口中涎灌之，即下，蓋鵝涎能化谷也（《綱目》）。骨鯁見藥方主治內。</p>

<h3>咽喉瘡</h3>
<p>咽瘡者，胃脘實熱熏炙上焦，發為白頭赤根，宜發聲散（《直指》）。咽喉生瘡痛，多屬虛火上行無制，客於咽喉，宜用人參、荊芥、蜜炙黃柏，切忌生薑辛辣動火也。</p>

<h3>楊梅結毒</h3>
<p>有喉間潰爛作痛，久不愈者，此非喉痹之屬，乃楊梅結毒也。宜仙遺糧湯，甚者土茯苓湯吞五寶丹。</p>

<h3>咽喉急閉宜針</h3>
<p>咽喉急閉，皆屬相火，惟砭刺出血，最為上策（《正傳》）。</p>

<h3>喉痹</h3>
<p>因惡血不散故也。凡治此疾，暴者必先發散，次則取痰，次去瘀血，宜針之（《綱目》）。凡喉痹急證，先用針刺出血，並豁吐痰涎為要。若遲緩不救則死（《回春》）。火鬱則發之，砭刺出血，即汗之之義也。血出多則愈。有針瘡者，薑汁調水，時時呷之。凡關上血泡，最宜針。關下不見者，令病人含水一日，用蘆管尖刺鼻孔出血，妙（《入門》）。咽喉腫痛，惟腎傷寒，及蒂鍾風忌針（《入門》）。</p>

<h3>咽喉急閉宜吐</h3>
<p>凡喉痹，不論大人小兒，非吐不可。如膽礬石膏之類，薄荷汁入醋同調，雞羽蘸藥，逆入喉內，徐徐吐痰，引出為佳（湯氏）。喉痹多屬痰，宜用吐法（《丹心》），宜用吹喉散，引痰直捷法，去涎方，或醋噙漱亦好。</p>

<h3>咽喉閉通治</h3>
<p>火性急速，故病發則暴悍，或針或吐，以宣其毒，此急則治標之法也。必須兼以《內經》從治之法，以桔梗、甘草、元參、升麻、防風、羌活、荊芥、人參、白朮、茯苓之類，少加乾薑、防己為嚮導，徐徐頻服，不可頓服。此為治之大法，切不可驟用寒涼。倘寒涼驟用，上熱末除，中寒復生，至於發喘發脹，皆為不治之證（《正傳》）。喉痛必用荊芥，陰虛火痰必用元參（《丹心》）。咽喉腫痛諸證，皆用清涼散加減用之（《回春》）。通用冰梅丸，龍腦川芎丸，清咽利膈散。必用方：甘桔湯、龍腦破毒散、金鎖匙、琥珀犀角膏。</p>

<h3>咽喉不治證</h3>
<p>凡咽喉閉，毒氣歸心，胸前腫滿，氣煩促，下部洞泄不止者死（得效）。凡喉痹初發，胸膈氣促，咽喉腫痛，手足厥冷，氣閉不通，即死（《入門》）。如魚口者死（《寶鑑》）。</p>
<p>喉內熱結，喉外腫繞，且麻且癢，喉內痰塞，滿舌作音如鼾，除肺絕證，惟喉痹誤服寒涼，有此證也，痰塞氣無出入，多死。急用桐油煎取痰，隨用桂薑湯（《證治全書》）。</p>

<h3>陰虛喉疳</h3>
<p>此證初覺咽嗌乾燥，如毛草常刺喉中。又如硬物嗌於嚥下，嘔吐酸水，噦出甜涎，淡紅，微腫，微痛，日久其色紫暗不鮮，頗似凍榴子色。由腎液久虧，相火上炎，消爍肺金，熏燎咽喉。腫痛日增，破爛疊若蝦皮，聲音雌啞，喘急多痰，臭腐蝕延，其疼倍增，妨礙飲食，胃氣由此漸衰，而虛火益盛煩躁者，宜服知柏地黃湯。若吐酸穢涎者，宜服甘露飲加黃連。便燥者，兼服萬氏潤燥膏。面唇淡白，不寐懶食者，宜歸脾湯，加酒炒黃連。腫吹紫雪散，腐吹八實散，珍珠散。其證投方應病，十痊一二，否則難救。</p>

<h3>咽喉怪證</h3>
<p>咽喉生瘡，層層如疊不痛，日久有竅出臭氣，廢飲食，用臭橘葉煎湯連服，必愈。</p>
<p>按：臭橘一名枸橘，即俗名鐵籬笆。</p>
<p>陰虛咳嗽，久之喉中痛者，必有瘡。名肺花瘡，坎離丸加元參、桔梗，不可用冰片吹藥，恐辛散轉增潰也。</p>
<p>坎離丸，即知柏四物湯加蜜為丸。</p>

<h1>卷四</h1>

<h2>古今方藥主治分類</h2>

<h3>風熱腫痹</h3>
<p><u>荊防敗毒散</u>　《活人》</p>
<p><u>甘桔湯《金匱》</u>　本方加防風　荊芥　連翹　名如聖散（宋仁宗治上焦風熱）。</p>
<p><u>增損如聖湯《寶鑑》</u>　治風熱攻衝會厭，語聲不出，煩悶腫痛。</p>
<p>桔梗（一兩）　炙草（一兩五錢）　枳殼（三錢）　北風（五錢）</p>
<p><u>利膈湯《本事》</u>　治咽痛口瘡。</p>
<p>雞蘇葉　荊芥　北風　桔梗　人參　大力子　甘草　甚者加殭蠶。</p>
<p><u>荊芥湯《三因》</u>　治咽喉腫痛，語聲不出，咽之痛甚。</p>
<p>荊芥（五錢）　桔梗（二兩）　甘草（一兩）</p>
<p><u>桔梗湯</u>　東垣</p>
<p>麻黃　桔梗　黃芩　甘草　殭蠶　馬勃　桂枝　當歸　食後徐徐呷之。</p>

<h3>吹藥</h3>
<p><u>解毒雄黃丸</u>　《和劑》</p>
<p>雄黃（研飛）　鬱金（各一兩）　巴豆（去皮出油十四枚）　為細末，醋煮麵糊為丸，如綠豆大，熱茶清下七丸，吐出頑痰立愈。</p>
<p><u>玉鑰匙《三因》</u>　治風熱喉痹，及纏喉風。</p>
<p>芒硝（七錢半）　硼砂（二錢半）　白殭蠶（一錢二分）　龍腦（一字）　共研細末吹入立效。</p>
<p><u>備急丹《綱目》</u></p>
<p>青黛　朴硝　殭蠶（各一兩）　甘草（四兩為末）　臘月牛膽（有黃者更妙）　盛藥，陰四十九日，為末吹喉，神效。</p>
<p><u>開關散</u></p>
<p>白殭蠶（炒）　白礬（半生半熟）　共研細末，每用一錢，自然薑汁調灌，吐出頑痰，小兒加薄荷少許。</p>
<p><u>龍腦膏</u>　治喉痹腫痛</p>
<p>蘇薄荷　甘草　北風　川芎　桔梗　芒硝　白豆蔻　砂仁　片腦　為末，蜜丸彈子大，噙化嚥下。</p>

<h3>痰涎結痹</h3>
<p><u>四七湯《三因》</u>　治痰涎結聚，咯不出，咽不下。</p>
<p>法夏（薑汁炒，五錢）　厚朴（薑汁炒，三錢）　雲苓（四錢）　紫蘇（二錢）　薑棗合煎</p>
<p><u>四味湯</u>　治咽喉中如有物，咽吐不利</p>
<p>厚朴（刮去粗皮，薑汁浸，炙黃）　法夏（生薑汁浸一宿，水去滑切碎）　廣皮（水浸去白，焙，各一兩）　赤茯苓（刮去黑皮，二兩）</p>
<p><u>杏仁煎丸</u>　治咽喉食即咽塞如有物不下。</p>
<p>杏仁（浸去皮煎及雙仁炒，五錢）　官桂（去粗皮）　枇杷葉（拭去毛，炙）　人參（各一兩）</p>
<p><u>蘇子降氣湯《局方》</u></p>
<p>蘇子　法夏　前胡　厚朴（薑汁炒）　橘紅　秦歸　炙草　上桂</p>
<p><u>金沸草散《活人》</u></p>
<p>旋覆　前胡　細辛　荊芥　赤苓　法半夏　甘草</p>
<p><u>玉鎖匙</u></p>
<p>用巴豆壓油於紙上，擰成條子，點燃滅火，以煙燻鼻中一時，鼻若流涕，其關即開。</p>
<p><u>金鑰匙《寶鑑》</u></p>
<p>治喉閉纏喉風，痰涎壅塞，口噤不開。</p>
<p>芒硝（一兩五錢）　硼砂（五錢）　上片（二分半）　殭蠶（一錢）　雄黃（二錢）　為細末吹之。</p>
<p><u>奪喉散《寶鑑》</u>　治急喉閉。</p>
<p>枯白礬　白殭蠶（炒）　硼砂　皂角　細末　吹少許喉中，痰出即瘥。</p>
<p><u>通關散《紫珍》</u></p>
<p>一切喉症口噤不開，痰涎壅塞厥逆，不知人事。牙皂莢（一兩瓦上焙乾存性）　川芎（五錢）。為末吹鼻中取嚏，喉中取痰，或症已成膿，怕下針刀，候熟時用此入鼻，其膿自出。</p>
<p><u>二仙散《入門》</u></p>
<p>治纏喉風，急喉痹，牙關緊急，痰涎壅塞。膽礬（一錢）　殭蠶（一錢）　為末吹之。</p>
<p><u>白玉散《準繩》</u></p>
<p>治纏風，單閉，癰痹諸症，牙關緊急，人事不知。</p>
<p>白礬（三錢）　巴豆（三個分作六片）　入銚慢火同炒，候礬枯，去豆，取礬為末，水調灌下，或吹喉中，或雞子清調灌入喉。</p>
<p><u>元明醋《紫珍》</u></p>
<p>喉已破爛者忌用。元明粉一錢，和好醋一盅，以羽毛攪吐稠痰，即愈。</p>
<p><u>巴豆煙《寶鑑》</u>　治喉閉危急宜開關，見上玉鎖匙。</p>
<p><u>桐油煎《古方》</u>　至平至善，取痰第一驗方也。</p>
<p>又　土牛膝根臼內搗汁和醋灌之。</p>
<p>喉痹乳蛾</p>
<p>新鮮牛膝根一握，艾葉七片，搗，和人乳取汁，灌入鼻內，須臾痰涎從口鼻出，即愈。</p>
<p>以上等方，只有肺絕喉痹，痰涎如鋸者忌用。土牛膝治咽痛服用諸藥不效者，此非咽痛，乃是鼻中生一條紅線如發，懸一黑泡，大如櫻珠，垂掛咽門口中，飲食不入，取土牛膝根直而獨條者，洗淨入好醋三五滴同研，滴入鼻孔，絲斷珠破，其病立安。</p>
<p>余按：風熱喉痹，痰涎壅甚，屢用荊防敗毒散加殭蠶、薄荷且噙且服亦效。</p>

<h3>實熱腫痛</h3>
<p><u>清咽利膈湯《金鑑》</u></p>
<p>牛子　連翹　防風　荊芥　梔子　桔梗　元參　云連　銀花　黃芩　薄荷　甘草　西莊　朴硝　淡竹葉　同煎</p>
<p><u>黃連瀉心湯</u></p>
<p>黃連　山梔　荊芥　黃芩　連翹　木通　薄荷　牛子　甘草　燈心（二十根）　食後服</p>
<p><u>廣筆鼠占湯</u></p>
<p>生地　貝母　元參　甘草　牛子　花粉　射干　連翹　殭蠶　苦竹葉（二十片）　同煎</p>
<p><u>金花丸《紫珍》</u></p>
<p>黃連　黃柏　黃芩　大黃（自利去大黃，加山梔）</p>
<p><u>抽薪飲</u></p>
<p>黃芩　石斛　木通　梔子　黃柏　枳殼　澤瀉　甘草</p>
<p><u>徙薪飲</u></p>
<p>廣皮　黃芩　寸冬　芍藥　黃柏　雲苓　丹皮</p>
<p><u>清涼散《金鑑》</u>　吹藥。</p>
<p>硼砂　人中白　川連　薄荷　青黛　冰片</p>
<p><u>綠袍散</u></p>
<p>川柏（米泔水泡，曬乾為末）　豆根　青黛</p>
<p><u>清上丸《尊生》</u>　治喉中一切熱毒。</p>
<p>熊膽（一分）　明雄（五分）　硼砂（一錢）　薄荷葉（五錢）　青鹽（五分）　膽礬（少許）　蜜丸壓舌下化入。</p>
<p><u>柳花散《心悟》</u>　治喉瘡，口舌生瘡，咽喉腫痛諸症。</p>
<p>洋黛　蒲黃（炒）　黃柏（炒）　人中白（各一兩）　冰片（五分）　硼砂（五錢）</p>
<p><u>冰片散《心悟》</u></p>
<p>冰片（一錢）　硼砂（五錢）　明雄（二錢）　黃柏（蜜炙，三錢）　靛花（二錢）　炙草（三錢）　雞內金（燒存性，一錢）　人中白（煅，五錢）　川連（二錢）　元明粉（二錢）　銅青（煅，五分）　蒲黃（炒，三錢）　共細末吹之。</p>
<p>一方加牛黃　熊膽　珍珠（各一錢）　兒茶（八分）　麝香（三分）</p>
<p><u>白降雪散《金鑑》</u>　治緊喉風諸症。</p>
<p>石膏（一錢五分）　硼砂（一錢）　芒硝　膽礬（各五分）　元明粉（三分）　冰片（二分）</p>
<p><u>冰梅丸《寶鑑》</u></p>
<p>治十八種喉痹俱效，又治喉風腫痛，如神。</p>
<p>天南星（三十五個）　大半夏（四兩）　白礬（四兩）　白鹽（四兩）　防風（四兩）　桔梗（二兩）　朴硝（四兩）　甘草（一兩）　大梅實（一百個）　先將硝鹽水浸一伏時，然後將各藥研碎入水拌勻，方將梅實置水中，其水淹過梅實三指為度。浸七日，取出曬乾。又入水中浸透，曬乾，以藥水盡為度。將梅實入封磁瓶密封，起霜如白衣者佳。用時綿裹含口內，徐徐咽汁，痰出即愈。</p>

<h3>虛熱腫痛</h3>
<p><u>甘露飲《局方》</u></p>
<p>生地　熟地　天冬　麥冬　石斛　茵陳　黃芩　枳殼　枇杷葉　甘草　《本事方》加犀角，甚有道理。</p>
<p><u>知柏地黃湯</u>　玄麥地黃湯。</p>
<p><u>一陰煎《全書》</u></p>
<p>生地　熟地　芍藥　寸冬　甘草　牛膝　丹參</p>
<p><u>二陰煎</u></p>
<p>生地　寸冬　棗仁　甘草　元參　云連　茯苓　木通</p>
<p><u>四陰煎</u></p>
<p>生地　寸冬　白芍　百合　沙參　雲苓　甘草</p>
<p><u>加減一陰煎</u></p>
<p>生地　芍藥　寸冬　熟地　知母　全皮　炙草</p>

<h3>咽藥</h3>
<p><u>琥珀犀角膏《準繩》</u>　治咽喉口舌瘡菌。</p>
<p>琥珀　犀角屑（生用，一錢）　人參　棗仁（去皮研）　茯神（去皮木）　辰砂（研，各二錢）　片腦（一字）</p>
<p>蜜丸以磁器收貯，每服一丸，以麥冬（去心）濃煎湯化下。</p>
<p><u>牛黃益金散</u>　虛熱瘡痛。</p>
<p>川柏（蜜炙熟）　白硼砂　白殭蠶　牛黃或加上片共細末，含咽之。</p>

<h3>陰虛喉痛</h3>
<p><u>六味地黃湯</u>　七味地黃湯，即六味加上桂。</p>
<p><u>大補元煎</u></p>
<p>人參　淮藥　熟地　杜仲　秦歸　棗皮　北杞　炙草</p>
<p><u>陳氏加減八味丸</u>　治腎水不足，虛火上炎，發熱作渴，口舌生瘡，或牙根潰蝕，咽喉疼痛憔悴等證，此臨川陳自明方。</p>
<p><u>六味丸</u></p>
<p>加一桂　五味子（炒用）　澤瀉（切片蒸五次焙用）</p>
<p><u>歸脾湯《金鑑》</u>　加酒炒黃連　治陰虛喉疳，面唇淡白，不寐懶食。</p>
<p><u>萬氏潤燥膏</u></p>
<p>豬脂一斤，切碎煉油，去渣，加煉過白蜜一斤，攪勻候凝，挑服。</p>
<p><u>八寶珍珠散</u>　治陰虛喉疳腐爛。</p>
<p>兒茶　川連　川貝　洋黛（各錢半）　紅褐（燒灰存性）　官粉　川柏　魚腦石（微煅）　琥珀（各一錢）　人中白（二錢，煅）　硼砂（八分）　冰片（六分）　牛黃　珍珠（各五分，豆腐內煮半炷香時，取出研末）　麝香（三分）　各研極細末，共兌再研，吹之。</p>
<p><u>牛黃益金散</u>　治陰虛喉癬，仍內服滋補真陰之劑。</p>

<h3>陽虛喉痛</h3>
<p><u>補中益氣湯</u>　治脾陽虛喉痛</p>
<p><u>八味地黃湯</u>　治腎中陽虛喉痛</p>
<p><u>鎮陰煎</u>　治格陽喉痹。</p>
<p>熟地　牛膝　炙草　澤瀉　上桂　附子</p>
<p><u>四逆湯</u>　蜜附子含咽之。</p>

<h3>陰寒咽痛</h3>
<p><u>四逆湯《仲景》</u></p>
<p>附子　乾薑　甘草　加桔梗</p>
<p><u>理中湯</u></p>
<p>白朮　人參　乾薑　炙草</p>

<h3>客寒咽痛</h3>
<p><u>半夏桂甘湯《活人》</u></p>
<p>法夏　桂枝　甘草　生薑</p>
<p><u>乾薑散《三因》</u></p>
<p>乾薑　半夏　細末著舌上，咽津。</p>
<p>蛇床子，治腎傷寒咽痛。用此入壺內，燒煙燻之。</p>

<h3>瘟毒喉痹</h3>
<p><u>普濟消毒飲《東垣》</u>　治大頭天行，憎寒體重，頭面腫盛，咽喉不利。</p>
<p>黃芩（酒炒）　黃連（酒炒）　廣皮（去白）　甘草（生用）　元參　連翹　板藍根　馬勃　牛子　薄荷　殭蠶　升麻　紅胡　桔梗</p>
<p><u>二聖救苦丸《紫珍》</u>　治傷寒溫疫，不問傳經，過經俱可服，並治大頭腫毒，目赤咽腫。</p>
<p>錦紋大黃（四兩，酒拌蒸曬乾）　牙皂（一兩）　各取末，用山豆根（三兩煎汁，和煉蜜丸，每服三錢）　牛膝（一錢半）　煎湯下，小兒減半，老人虛人禁用。如不得已，用參耆　當歸（各二錢）　湯下</p>
<p><u>內府仙方</u>　治腫項蝦蟆瘟。</p>
<p>殭蠶（二兩）　薑黃（二錢半）　蟬蛻（一兩）　大黃（三兩）</p>
<p>取細末，薑汁打糊為丸，重一錢，大人服一丸，小兒半丸，蜜水調服。</p>
<p>又方</p>
<p>真靛花（三錢）　火酒（一盅）　雞子清（一個）　和勻服下，不時即消。</p>
<p><u>附寒疫吹藥《陳氏秘方》</u>　治寒疫喉痹，一白如雲，俗名白喉嚨。</p>
<p>附子　上桂　人中黃　共末吹之，並無他藥可用。</p>

<h3>葵絲症</h3>
<p>上齶上一條，如掛麵頭子，取下放碗內，針挑大的這一頭，看中間是空的，治法用吹藥。先用去涎藥，次用上寸頭梅三分，八寶丹三分，明雄三分，兌吹，不過三次，其絲必落。落後獨用片棗藥兌明雄銀硃，倘絲不去，不治。已去復生，不治。</p>

<h3>口起泡</h3>
<p>凡小舌下，症有口起泡破爛者，去涎藥重加茶羔吹之，次吹八寶丹，兌明雄茶羔。若有紅白點子，略加銀硃，必效。</p>

<h3>喉生紅豆</h3>
<p>凡生喉後喉關，不拘內外，忽生一點如紅豆，漸長不收，名蹲子喉。用明雄黃　八寶丹棗藥吹之。</p>

<h3>針後不止血</h3>
<p>凡針後血不止，用線絲瓜穰連皮子，松樹皮去油，合煎湯噙之，立止。</p>
<p>凡咽喉用針後，針創不合，宜用抖姜塊和以熟白湯時時呷之，創口易合。</p>

<h3>骨鯁</h3>
<p>凡雞鵝豬魚骨鯁，用葳靈仙（五錢）　砂仁（三錢）　甘草（二錢）　煎噙嗽入喉，呵氣即化（危急者用蛇床三錢焙研細末，紅糖兩許，開水沖和嚥下即化）。</p>
<p>又方用山楂根燒灰存性，研末吹之。</p>

<h3>治菸袋傷喉</h3>
<p>用生靈仙汁兌乳汁，男點左鼻，女點右鼻，喉關立開。開後用螃蟹汁拌茶羔點之。</p>
<p>又方</p>
<p>用陳蒲扇燒灰存性，冰片少許，和末吹傷處。</p>

<h3>治火毒</h3>
<p>凡水毒症頸項腫痛，用青膽石螺頭，三尺深黃土，陳茶葉調敷。</p>
<p>又方用人中白，黃牛糞（熱的），燕子泥，陳茶調熱敷胃窩並患處。</p>

<h3>牙疳</h3>
<p>凡牙疳風牙關不開，用硼砂　青礬　石菖蒲　煎水噙之。再用蔥頭　麻根　藠頭　石菖蒲　共抖熱敷。</p>

<h3>喉爛吹藥方見陰虛火燥下</h3>
<p>槐花（三錢）　洋茶　云連　淮漆（各一錢）　為末，夏月西瓜水調服，冬月生梨汁調服。</p>
<p><u>治咽喉結毒成疳</u>　久不收口方。</p>
<p>整蛇蛻（一條，剪去頭尾）　壁錢（七個）　冰片（三分）　蛇蛻壁錢陰陽瓦煅存性。</p>

<h3>治天白蟻瘡</h3>
<p>盛錫用曰：咽喉內生瘡，鼻孔俱爛者，名曰天白蟻瘡。此症方書不多載，有不識誤作喉風醫，最誤事。此乃肺脾蘊熱毒而成，宜用穿山甲散治之。</p>
<p>白霜梅（燒存性，一個）　枯礬（一錢）　穿山甲（炒）　雄黃（各五錢）　共研細末吹之。</p>

<h3>竹刺入咽</h3>
<p>王不留行（生），能軟蔑，煎服，再吞糯米圓即下。腫痛嗆血用麻葉嚼之，愈。</p>

<h3>食醋嗆喉</h3>
<p>甘膽丸　甘草（去皮），二兩作二段，用豬膽五個浸三日，取出火上炙乾為末，蜜丸，每服四五十丸，臨臥茶湯送下。</p>

<h3>治咽喉十八種急症如神</h3>
<p><u>回生救苦上清丹《徐峨峰瘍醫》</u></p>
<p>白殭蠶（燒存性，一錢）　生硝尖　煅硝尖　白硼砂（各五分）　明礬　熟礬（各二分）　海螵蛸（三分）　冰片（一分）。</p>

<h3>孕婦用麝法</h3>
<p>將原麝放杯內，紙封緊固，蒸一餐久，兌藥吹之。</p>

<h3>陰虛火躁</h3>
<p>參葉　甘草（去皮，蒸一餐久）　薄葉（少許）　共研末。</p>
<p>芳茶　茶膏　片棗　偷油婆（瓦上焙乾成末）　人中白合吹之。</p>

<h3>爛喉嚨吹藥方</h3>
<p>芳茶　茶膏　片棗　琥珀　如無琥珀用松香，火滴過為末吹之。</p>

<h3>寒珠雙珠塞海</h3>
<p>巴豆（抖爛，紙包去盡油）　斑蝥（焙乾）　共研末吹之。或蜜糖調點，少頃爛去後，用甘草解巴豆毒，青黛解斑蝥毒，合煎水噙之，或末藥吹亦可。</p>

<h3>內關閉緊飲食難下</h3>
<p>方用鯽魚放水內，去淨鱗破開，去淨腸腹泥腮，用九天飛瓦上焙黑，將藥入鯽魚口內，築入腹內，然後將周身敷之，用鐵鍋放水一碗，急火文之，去淨絲骨，入鹼鹽漆醋，連湯帶魚食之。</p>

<h3>牙關緊閉</h3>
<p>烏梅（燒焦）　牙皂　北辛　共細末搽牙上。</p>
<p>五月五日，捉大路上螃蟹一隻，取大夾子曬乾，研末合藥吹，寒珠雙珠塞海可消䘀子。</p>

<h3>溜心蛾</h3>
<p>血當歸磨糯米泔水服。</p>
<p>小舌落下已上斷根，用草藥煎水酒兌服，與地黃同功。</p>
<p>凡蛾症，先起如皂角子大，形是圓的，漸次有頭，後有白頂，涎甚，其症亦惡寒發熱，吹藥用八寶丹加明雄　棗藥　方茶　青膽。</p>
<p>凡邊鰍，形如馬蝗一條，色白，頭大尾小，要看他頭從內關，走出外關者，名上水邊鰍。從外而入內關者，名下水邊鰍。吹藥與蛾症同。</p>
<p>凡寒珠雙珠塞海，形如桃李，有紫脈赤絲，有白朗即白點，其症勢來得徐緩，吹藥用八寶丹加明雄　棗藥　方茶　螃夾。</p>
<p>凡白纏咽喉腫痛涎甚，惡寒發熱，形如棗核，色白為白纏，色黃為黃纏，吹藥同蔡絲治法。</p>

<h3>制鸕鷀膽法</h3>
<p>將膽用油紙包入活樟樹內，或陳土磚內亦可，夏一宿，秋冬三日為度。</p>

<h3>制人中白法</h3>
<p>一七用白水浸，一日起三次。二七用礬水浸，每日起三次。三七入活水內漂。四七入泉水內漂。漂一陣，曬一陣。五七每日蒸三次。六七曬。七七露，然後不管幹與未乾，要火焙。臨用兌片與桂吹之。</p>

<h3>加制人中白法</h3>
<p>人參葉　元參　寸冬　甘草薄葉，共文水，將人中白攤瓦上焙，以前藥水淬之。焙乾再淬，或三五七九次更妙。</p>

<h3>制牙硝法</h3>
<p>牙硝（一兩）　入鼎鍋內，用水四茶碗，慢火熬之，分作三夜熬，二夜減水一碗，三夜減水二碗。牙硝多少皆準此法加減，熬至瓦灰色為度。</p>

<h3>制棗藥法</h3>
<p>黑棗或南棗，用細皺無破爛者。將針挑去棗核，入青礬於內，棗之兩頭針孔處，仍另用棗肉補塞，勿令泄氣。用草把二隻，作十字架，用糠頭放上面，將棗放五方，糠頭上，再用糠頭蓋二三寸厚，點燃，候頂上糠頭色至焦黑，起了油光，取出棗只。如未到功，仍入火內再製。制畢，用碗盛杯蓋勿令泄氣，候冷火氣，扣如柴炭音聲，色帶烏油黑者便佳。如面上色帶灰白，過火，不燥，只可吹陰虛症爛喉之類。</p>
<p>製片棗亦照前法</p>

<h3>制青魚膽</h3>
<p>取膽淨油懸當風處陰乾，紙包放身上漚干，研末。如未乾，切碎，同藥乳之亦可。</p>

<h3>八寶丹</h3>
<p>上麝（二分）　梅片（二分）　乳沒（二錢）　明雄（一錢）　硃砂（一錢）　血竭（一錢）　龍膽（五分）　洋茶（一錢）　銀硃（一錢）　膽礬（一錢）　雙月（一錢）　火硝膏（一錢）　枯礬（一錢）　喜蛛（三五七隻）　青魚膽，用火制。若是虛加山烏龜，各味用瓦焙乾研末，合成一單，若喉爛者去麝不用。</p>

<h3>附制山烏龜法</h3>
<p>用小便制（一匕）　水皂（一匕）　曬（一匕）　陰（一匕）　火焙研末聽用。</p>
<p>凡男子遺精淋濁症，欲事過多，女子崩帶，及色欲傷泄，試驗從小舌有根白絲，直至上齶門牙，以精血傷損故也。若妊娠婦人，從小舌有一根鮮紅絲，直至上齶，此藏精血以養胎也。</p>
<p>凡一切喉嚨所忌食物。</p>
<p>冬莧　胡椒　番椒　其餘不忌。</p>
<p>凡乳蛾，雙珠，及寒珠等症，腫痛極甚，若過了七八九日，疼痛略減，是將潰時，其根腳木紅，頂現桃紅，或淡紅而已，用八寶丹加麝片及明雄，吹上即穿，膿盡，開清涼藥隨症調理而愈。</p>

<h1>跋</h1>
<p>道光丙申夏，先父念咽喉為性命之關，特博採群書古今方藥及家傳秘方集為一編，名曰《喉科大成》，藏之篋笥久矣。鈺受先父口傳，凡遇各症，辨其虛實，察其形色，對症用方，二十餘年，百不失一，誠喉科之津梁也，然濟一方不若廣濟之，為功更大。故悉錄出，概不敢秘。高明家毋以掛漏相笑而補以未逮焉，則幸甚。</p>
<p><u>男傳鈺謹識</u></p>
