<header>
<h1>參與回饋</h1>
</header>

<p>中醫文本浩瀚，即使有軟體輔助，仍須大量人力校訂。如果您發現本站的文本有錯誤或待改進之處，請<a href="https://gitlab.com/jicheng/jc.data/issues">回報至GitLab版本庫</a>，以利處理及追蹤。</p>

<ul>
  <li>發表新議題（issue）時可勾選「機密」（confidential），如此一來該議題將只有回報者與管理團隊能看到，但無必要時建議盡可能以非機密方式回報，以利更多人關注及參與。</li>
  <li>可追蹤<a href="https://gitlab.com/jicheng/jc.data/-/issues">討論議題列表</a>，協助我們處理待解決的問題。</li>
  <li>可透過RSS訂閱<a href="https://gitlab.com/jicheng/jc.data/activity">笈成版本庫活動</a>，以即時得知資料更新或新討論議題、回應。</li>
  <li>如能操作<a href="https://git-scm.com/">Git</a>版本控制系統，也可以建立分叉版本庫（fork）逕行編修，再向我們提出合併請求（merge request）。</li>
</ul>

<p>若不便註冊GitLab會員，也可以<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#105;&#99;&#104;&#101;&#110;&#103;&#116;&#119;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">寄信</a>或透過<a href="https://www.facebook.com/jichengtw">臉書粉絲團</a>留言或私訊聯絡我們，惟此方式不易擴大參與者，可能較不利複雜議題的深入討論。</p>

<p>如果是文本需要修改，請盡可能用以下方式回報：</p>

<ol>
  <li>
    <p>從有問題頁面頁尾的「編輯記錄」連到版本庫的原始碼頁面。</p>
    <figure>
      <a href="_files/contribute1.png"><img src="_files/contribute1.png" width="400" alt="笈成頁面中的「編輯記錄」連結"></a>
    </figure>
  </li>
  <li>
    <p>找到有問題的原始碼片段（可善用Ctrl+F頁內搜尋）。</p>
  </li>
  <li>
    <p>複製有問題的原始碼及適量前後文（至少一整行，通常建議加上前後各一行），貼上兩份，修訂其中一份，然後把二份原始碼片段一起回報。GitLab議題回報支援一些語法，可用以下格式讓排版好看：</p>
    <div class="example">
      <pre>您好，我發現傷寒論宋本內容有誤。

修改前原始碼：
```
&lt;p id=&quot;64&quot;&gt;發汗過多，人叉手自冒心，心下悸，欲得按者，桂技甘草湯主之。&lt;/p&gt;
&lt;span typeof=&quot;formula&quot;&gt;
&lt;p&gt;&lt;b&gt;桂技甘草湯方&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;桂技&lt;small class=&quot;雙行夾注&quot;&gt;四兩，去皮&lt;/small&gt;　甘草&lt;small class=&quot;雙行夾注&quot;&gt;二兩，炙&lt;/small&gt;&lt;/p&gt;
&lt;p&gt;上二味，以水三升，煮取一升，去滓，頓服。&lt;/p&gt;
&lt;/span&gt;
```

修改後原始碼：
```
&lt;p id=&quot;64&quot;&gt;發汗過多，其人叉手自冒心，心下悸，欲得按者，桂枝甘草湯主之。&lt;/p&gt;
&lt;span typeof=&quot;formula&quot;&gt;
&lt;p&gt;&lt;b&gt;桂枝甘草湯方&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;桂枝&lt;small class=&quot;雙行夾注&quot;&gt;四兩，去皮&lt;/small&gt;　甘草&lt;small class=&quot;雙行夾注&quot;&gt;二兩，炙&lt;/small&gt;&lt;/p&gt;
&lt;p&gt;右二味，以水三升，煮取一升，去滓，頓服。&lt;/p&gt;
&lt;/span&gt;
```</pre>
    </div>
  </li>
</ol>

<div class="note">
  <p>如要更改的部分很多，上述步驟可改為：</p>
  <ol>
    <li>
      <p>從有問題頁面頁尾的「編輯記錄」連到版本庫的原始碼頁面。</p>
    </li>
    <li>
      <p>下載原始碼檔案（點擊「Download」按鈕）。</p>
      <figure>
        <a href="_files/contribute2.png"><img src="_files/contribute2.png" width="400" alt="下載原始檔"></a>
      </figure>
    </li>
    <li>
      <p>把下載的檔案複製為二份，修訂其中一個，然後把二份檔案一起傳給我們。（GitLab議題回報可上傳附檔）</p>
    </li>
  </ol>
</div>

<p>如此一來，我們只要複製貼上就能套用您的編輯。萬一與其他近日的編輯發生衝突，也能透過程式差異比對解決。</p>

<p>別被原始碼的<a href="format.html">語法</a>嚇到，改錯字通常不須涉及語法；即使要調整格式或分段，只要參考前後相似段落依樣畫葫蘆即可。萬一語法寫錯也不要緊，我們終究會再透過程式和人工檢查修正。</p>

<p>如果查閱及修訂原始碼有困難，也可以用文字、螢幕擷圖、影片等方式描述問題，我們一樣能處理，只是可能較費力費時，且人工處理多少會增加意外出錯的風險。</p>

<p>採納建議而修訂內容時，我們原則上會在版本摘要記錄回報者的身份，一是彰顯您的貢獻，二是方便事後萬一發現有問題時查證。如果您希望匿名或使用化名，請於回報時告知。</p>

<p>笈成資料及站台產生器原始碼都是公開的，您可以隨時下載最新版本的原始碼，架設自己的資料庫，也可以複製（clone）整個版本庫使用。</p>

<p>使用笈成的資料或貢獻編輯時請留意<a href="../copyright.html">著作權</a>，當您協助編輯笈成的文本，視為您同意了笈成的著作權條款（一般而言，您提供的內容將以CC0或CC BY SA 4.0授權釋出），未來可能無法撤銷已釋出的法律權利。</p>

<p>除此之外，您也可以<a href="https://www.paypal.me/danny0838/200twd">小額捐款</a>贊助中醫笈成的營運，包括購買網域、架設伺服器等開銷（捐款金額可於該連結後續頁面更改）；或協助我們購置、影印適當的善本書、工具書。</p>
