<header>
<h1>笈成特色</h1>
</header>

<h3>最大、最好、最自由的中醫典籍資料庫</h3>
<ul>
<li>本站目前約有1250部中醫藥相關典籍，為最大的公開中醫典籍文本資料庫。</li>
<li>本站文本<a href="data.html">利用許多技術輔助整理</a>快速提升品質，如缺字、簡轉繁錯誤、分章分段錯誤等情形皆較多數網路流傳文本少。</li>
<li>本站整理的典籍內容<a href="../copyright.html">完全開放</a>，不收費，不限會員，文本也都可以自由複製轉載。</li>
</ul>

<h3>資訊完整、多種應用的中醫典籍資料庫</h3>
<ul>
<li>本站為響應式網頁設計，用電腦或手機皆可順暢閱讀及檢索。</li>
<li>本站文本以<a href="chars.html">語義化HTML</a>記錄，人與機器皆能分析及重建出原書樣貌。</li>
<li>本站文本詳實記載作者、年代、底本等元資料（後設資料）。底本多為網路上公開的善本掃描本，以利考證。</li>
<li>本站本文明確記錄不同來源，如原始樣貌，不同版本的文本、注疏，現代整理者加入的標點、排版、校注等，皆可區分而不致混亂。</li>
<li>本站資料支援多種檢視模式，例如可切換直式排版或自訂字體及大小；可切換為「古版」檢視原始樣貌，亦能切換為「今版」以呈現符合現代閱讀習慣的排版；現代整理者的校注或修訂亦可選擇顯示或隱藏。</li>
<li>本站文本中的罕用字皆以<a href="chars.html">標準規格的Unicode字元或IDS</a>記錄，複製到任何機器都能解讀。並搭配輔助程式，可選擇是否自動將缺字轉換為圖片顯示。</li>
</ul>

<h3>開放協作、持續改善的中醫典籍資料庫</h3>
<ul>
<li>本站原始碼完全公開，<a href="contribute.html">各界人士可一同參與校訂</a>，持續改善品質。</li>
<li>本站文本皆做版本控管，透過版本控制系統的輔助，可追蹤、比對過去的修訂情形及互相分享修訂內容。</li>
</ul>

<h3>最多檢索方式的中醫典籍資料庫</h3>
<p>本站配備強大的<a href="search.html">典籍檢索器</a>，提供多樣的檢索方式，你可以：</p>
<ul>
<li>用書名、章節標題、作者姓名、著作年代、文本品質等資訊篩選要檢索的書。</li>
<li>用且、或、非、()等組合條件檢索文本內容。</li>
<li>支援用<a href="regex.html">正規表示式</a>精準檢索，例如檢索「間隔20字以內有『桂枝』及『麻黃』」。</li>
<li>支援粗至全書、細達段落的各種檢索粒度。例如可以搜尋「含有『桂枝』及『麻黃』的段落」，不會因為某章第一段有「桂枝」、最後一段有「麻黃」就出現在檢索結果。</li>
<li>支援比對異體字，可以尋「參」得「薓」、找「裡」得「裏」。</li>
<li>支援略過標點，檢索「發熱汗出惡風脈緩者」、「發熱汗出。惡風脈緩者」、「發熱，汗出，惡風，脈緩者」都能找到東西。</li>
<li>檢索時可選擇比對古版或今版文本，亦可選擇是否忽略現代加入的校注或其他特定內容。</li>
</ul>
