<header data-type="book">
<h1>黃澹翁醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃述寧</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521063">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>小敘</h1>
<p>《黃澹翁醫案》二卷，《附方》二卷，為紹興裘吉生君藏書，郵傳至錫，屬為勘定，以某才淺識薄，且無副本可校，僅為訂正五十餘字，至文字語氣，一仍其舊，考黃君自述，於時邪危疴，調理雜症，均得心應手，附方亦多徵驗，以之傳世，足以裨益醫林，發揚舊學，爰書數語，以志景仰。</p>
<p><u>民國九年一月無錫周鎮小農別署伯華謹識</u></p>

<h1>卷一</h1>
<p>句容楊慶侯，左寸關空軟極矣，血已大虧，左尺亦弱，精元甚衰，右關甚弦，脾土受克，難以生金，而肺氣致虛。據症頤後有蟹爪紋，胃脘痛極，年餘以來，每發食物即止，近將一月，審此乃血瘕為祟，已成蟲矣。</p>
<p>延胡索　當歸尾　楝根　百部　川連　桃仁　紅花　使君子　生地　千年健</p>
<p>服前方二劑，痛減，解蟲二條。加鶴蝨，痛大減，又解去蟲二三條，蟹爪紋退。丸用四物加川連、百部、白朮、白蔻。</p>
<p>管修五，右關尺弦急不倫，非龍雷之火而何，火之性善行而數變，動則升靜則降，此一定之理也。今每於安臥時升，日間轉安，此潛伏水底之火，靜極而動，非納氣歸元，未必效也。方用濟生腎氣去牛、車，加麥、味、沉香。</p>
<p>揚州吳申錫，先天本弱，又不謹守，夢泄神虛，腿痠腰痛，肢軟怔忡，丹田如降精之狀，每泄後則丹田疼痛，四肢頭項，搖動不寧，督脈常熱，先據來字病源，訂一清督養肝之方。</p>
<p>生地　丹皮　山藥　茯苓　澤瀉　白芍　巨勝子　杜仲　地骨皮　龜膠　青鹽為引</p>
<p>復來診脈，六脈軟弱如遊絲，訂丸方。</p>
<p>六味加　天冬　麥冬　人參　白朮　龜膠　鹿膠</p>
<p>上藥製成，以十分之一，入羚羊角末二錢，蜜丸，先服後，再接服九分。</p>
<p>揚州汪煥臣，間日不寐，怔忡耳鳴，糞後便血紫色，小便多秘不等，大便或溏或泄，飲食多少不等，上四部脈軟弱，兩尺水火俱衰。脈訣云：軟而弱者。濕家裡恙。乃寒濕凝於血分，徒服養神安心之品，何益哉。</p>
<p>秦艽　萆薢　蒼朮　厚朴　澤瀉　荊灰　赤苓　神麯</p>
<p>丹陽又周，右尺命門之火獨旺，上炎三焦，以致消渴，小便多，將一年矣，當急戒酒色調理，方無增病之患。方用黃連豬肚丸。</p>
<p>川連　陳皮　花粉　茯神　知母　麥冬</p>
<p>揚州孔內眷，十六歲起，腹中有塊跳動，有孕則不動，今已四十歲，二十餘年不消，闊如三指，長將三寸，按之火熱不疼，在臍四圍。用稜蒁聚寶丹。</p>
<p>泰興潘有成，陰㿗卵核之症，硬筋寸許，小便莖中痛，頻頻解帶白濁，小腹脹墜。據脈腎肝兩部弦數，必因已前陽痿時，服熱藥過多，陽雖舉而有此病，後又服涼藥，以致筋縮，皆做成之病也。</p>
<p>木瓜　茅朮　荔核　牛膝　當歸　白芍　萆薢　秦艽　甘草　黃柏　冬葵子　海金沙</p>
<p>梁垛場胡安明，咳嗽聲啞，寒熱往來，吐白沫，臍腹痛，小便赤，大便黃，去年十一月起，囟會不仁，本年八月來診，按脈右尺寸不足，關滑大，左三部軟數。據此乃脾胃有留滯之象，當先理之。</p>
<p>陳皮　枳殼　山查　炙草　赤芍　神麯　半夏曲</p>
<p>服此方三劑，腹中響，暢解大便一次。今右關好些，咳亦減，沫亦減，加澤瀉八分。右關滑大之象全退，所以腹痛除，白沫少，寒熱減，小便淡，咳仍舊，飯後脹。</p>
<p>赤苓　陳皮　神麯　穀芽　甘草　白芍　澤瀉　黃芩　木通　半夏曲</p>
<p>中秋前一日，右關又有弦數之象，鼻塞，上火，皮外熱汗，當微解之。</p>
<p>荊芥　防風　前胡　陳皮　甘草　桔梗　杏仁　半夏</p>
<p>服前藥二劑，周身有汗，諸症退些，痰咳未減，皮外微熱。</p>
<p>桔梗　杏仁　甘草　前胡　柴胡　陳皮　神麯　枳殼　半夏</p>
<p>弦象無矣，數尚有之，咳減臥安，但熱耳，囟會已仁，督脈熱不退。</p>
<p>丹皮　白芍　鱉甲　遠志　甘草　胡黃連　地骨皮　柴胡</p>
<p>症隨藥減，可喜，但督脈熱不除為慮。</p>
<p>加山藥　石斛　白朮　扁豆　人參　去柴胡　鱉甲　胡連　地骨皮</p>
<p>左手脈好，右關複數大，症見肚疼，寒熱仍有，大便溏，日一次，小便紅黃，脈大好些，症亦減，未全清，但體更弱。</p>
<p>照前方加　神麯　制首烏</p>
<p>按咳嗽生痰，乃因痰致嗽，痰去嗽止，病責在脾，內熱腰痛，不耐久坐，病責在腎，所以初診即用理脾藥，而腹痛減，再服而止。今脾胃脈雖和，而腎脈尚不足之甚，擬晚用資生丸，早服大造丸，自有後效。</p>
<p>早服河車丸，加下藥。</p>
<p>茯神　甘草　人參　山藥　牛膝　龜板膠</p>
<p>晚服資生丸。</p>
<p>胡亭直兄，目脹清涕，俱屬肝邪，而右關甚滑，則脾胃不清更重，至云目眵甚多，則脾熱可知矣，每至冬月，有頭風之狀。</p>
<p>二陳加　查炭　神麯　厚朴　麥芽　荊芥　防風　炒芥　枳殼</p>
<p>泰興李福周，餘脈俱好，惟腎脈獨大，乃火居水位，為反常之病，所以夢遺多年。近今不夢亦遺，則為精滑矣。</p>
<p>湯用八味減山萸，加麥冬　兔餅</p>
<p>丸用六味，加蓮鬚　芡實　兔餅　壯蠣　龍骨</p>
<p>徽州吳希魯，痹痛將十年矣，大筋短軟拘攣，難於伸屈，咳噎牽引俱痛，症乃風寒濕三氣雜至，相合而成，為時已久，不能解散，只可養血榮筋，徐徐調治。但此治法，見效紆緩，不能一時見功，脈肝肺勁急。</p>
<p>秦艽　當歸　白芍　熟地　生地　甘草　木瓜　松節　胡麻　桑寄生　威靈仙</p>
<p>六合王元昭，六陰脈左關尺更覺沉遲，右三部稍好。據症上年心事不遂，氣惱皆有，繼之患瘧，瘧雖止，而腹左成瘧母未消，怔忡。近症督脈常冷，牽及心胸四肢，非大溫補不效。</p>
<p>八味加千年健。服前藥諸症稍減，督脈知暖，仍怔忡作脹。</p>
<p>煎用八味，加麥冬　棗仁　五味</p>
<p>丸用　河車　杜仲　枸杞　麥冬　天冬　人參　遠志　棗仁　破故紙　千年健　免餅　鹿角膠</p>
<p>天長系盧覲揚左寸右關滑數，要防泄瀉，問之已瀉三日矣。今當一陰復生之始，當助脾陰，以資萬物。</p>
<p>丸方　石斛　百部　苡仁　山藥　扁豆　芡實　黃耆　甘草　兔餅　茯神　白朮　河車　阿膠　蓮子　玉竹膏</p>
<p>湖廣撫臺劉諱殿衡太太。</p>
<p>據病源，自從四十六歲上斷經，至四十九歲，因氣惱驚赫，隔三五日便到，兩三日便回，血總無多，去年因勞碌著急，因而每日皆到，或一二次，或二三次，至今未愈，年登五十，從未生育，其體豐隆，素多氣惱。</p>
<p>按此症從前未斷經，乃鬱閉也。《素問》云：女子七七而天癸衰，四十六歲，非當止之時，況體質素厚，又從未生育，則血富可知矣，豈反有先期而止之理乎。血閉久則熱，血閉久則汙濁凝泣，不得運行，後因氣怒見傷，發動肝經，衝開血絡，不循故道，遂有淋漓不止之狀，乃肝火血熱，積而妄走也。如不信斯言，試問血色可知矣。初起時色必有紫，有黑，有成塊，腰必痛，後則或鮮紅，或淡黃水，而成漏下病矣。此症久之不愈，或成崩決，或成膏淋。膏淋者，所解小便，漩面如油，光彩不定，漩即澄下凝如膏淋，或如綿絮，或如脂油，皆其所化之症也。俟現此症，另有治法，今將因前治法，條分於後，紫黑成塊，則用此方。</p>
<p>羚羊　蘇木　當歸　甘草　生地　川芎　白芍　鬱金　澤蘭葉　引加紅槿條花枝同煎，食前服。</p>
<p>鮮血或淡黃水，則用此方，仍間日服金丹一丸。</p>
<p>當歸頭　白朮　丹參　阿膠　續斷　地榆　白芍　熟地黃　杜仲　蘄艾　人參　寶珠山茶花七支</p>
<p>如未全止，則用胎產金丹一丸，用童便好酒和勻，空心服。</p>
<p>畢鳧洲，濕熱下注，腳氣。</p>
<p>木瓜　牛膝　當歸　蒼朮　白朮　苡仁　萎蕤　防己　茯神　萆薢　楊梅核內仁</p>
<p>酒方</p>
<p>松葉　玉竹　蒼朮　歸尾　松節　苡仁　五加皮　海桐皮　忍冬花</p>
<p>如服此藥後，間或小發作痛，則用蓖麻子仁，去殼一錢，蘇合香油末一錢，同搗勻，貼足心，其痛自止，往後不發則已。若再發，則用後方除根。腳氣發，必痛腫，用羊角燒灰存性，研細末，好酒調稀，敷痛處腫處，暖臥取汗，永不再發。</p>
<p>丁余實，胃中有濕痰，大便滑泄，酒後更甚。</p>
<p>大半夏（整者用八兩，礬水浸一宿，換清水洗五七次，曬乾切碎，用生薑自然汁浸一宿，次日曬乾，用四兩）　膽南星　川黃連　白豆蔻　廣皮　白朮　茯苓　甘草　苡仁　山藥　白蒺藜　澤瀉</p>
<p>用葛花八兩煎濃，米糊同丸，綠豆大，每空心服一錢，臨臥二錢，用開水下。</p>
<p>揚州張名眉，痰飲十餘年，每二三月，或四五月一發，發則人事糊塗，論脈沉小無力，乃水衰火盛，腎氣不足，</p>
<p>熟地　山萸　陳皮　半夏　山藥　澤瀉　茯苓　丹皮　遠志　石菖蒲</p>
<p>江寧吳以善，左尺寸皆濡弱，關洪大有力，右寸關滑數，右尺軟小，少神。</p>
<p>按此症乃肺胃兩經有痰有火，心血不足，腎水不充，肝火有餘，助土為虐，以致濕熱過甚，而生痰涎，幸邪入胃腑，不過嘈雜，中宮土失健旺之令，不能速其傳送而已。若入肝肺臟竅，則有眩暈麻木木痹之症矣，將來飲食，宜戒氣怒，勞碌宜慎，酒亦宜節飲為妙耳。</p>
<p>半夏　甘草　蒼朮　茯苓　白朮　厚朴　橘紅　膽星　沉香　天麻　蔻仁</p>
<p>方既白丸方，手大指屬肺，手掌屬心，此二處肉顫，由心思火動，肺氣耗傷。</p>
<p>丹皮　丹參　天冬　麥冬　人參　茯苓　歸身　沙參　熟地　棗仁　生地　生甘草　貝母　柏子仁</p>
<p>泰州周漢極，去年正月，因急躁傷氣，以致飲食噎塞。起初入口則有之，繼食亦能下，近日則只能食粥，乾物不能矣，然初入口，即薄粥亦嘔，從前之痰尚稠，近則皆涎沫矣。</p>
<p>診脈六部皆弱，而兩寸關兼澀，是中宮之瘀滯使然，治法以和氣化瘀為主。</p>
<p>得食即吐知為火，停久而來卻是寒，久病胃虛因不納，或緣氣逆與停痰，食填胃口多生嘔，新谷如何得下關，欲辨熱寒虛實候，大微遲數脈中參。今兩寸關澀而弱，乃胃虛而有瘀故，治法不敢急攻，徐則可知。</p>
<p>初診，用四物加　延胡索　香附　鬱金　白蔻仁　廣皮　枇杷葉</p>
<p>復診，得食仍嘔，而兩乳傍脹而且痛，乃瘀滯豁而未行之故，大便燥結。</p>
<p>藥加五靈脂　生蒲黃　桃仁</p>
<p>又診，澀脈少退，瘀滯稍行，胸膈之脹達，小便醬色，紫黑之物尚未下淨。</p>
<p>藥加蘇梗　枳實</p>
<p>又診，右澀脈全退，大解已見黑色，初食上焦仍脹，吐一口則愈，胃冷，身亦惡寒，不知飢餓。</p>
<p>藥減生地　赤芍　加砂仁　炮姜</p>
<p>又診，六脈虛而遲。凡飲食入胃，必脹而吐，吐出之物極冷，小腹亦脹，據此仍屬虛寒，前方服之。瘀雖下而未盡，今天氣寒，背心怕冷而脹。</p>
<p>暫用理中湯加桂　理中湯去甘草　加紅花　千年健　川椒</p>
<p>天寧州賈鳳來，血症五日一次，計患病五十五日，吐血十一次，其來也，先三日左脅作脹，至期則夾窠皆脹。發申酉戌三時，余診其脈，左關弦數而結滯，問五十餘日，曾發寒熱否，曰：第一次有寒熱，一吐而解。予曰：此外感邪熱，客於少陽，留於募原，邪熱與衛氣相遇，夾血上行，故五日一次，如瘧之應期至也，以血症藥治之，故不應手。乃用小柴胡湯去半夏。</p>
<p>柴胡　黃芩　甘草　白芍　桃仁　茜梗</p>
<p>服四劑而愈。</p>
<p>朱姓，水邪射肺，喘急不得臥，前醫投以蘇子降氣罔效，投麥冬、五味、沙參增劇，蓋伊等初診，以為肺邪有餘。及不效，又見汗多，脈沉小，則認而為虛議補。不知汗多，乃因肺竅不利，陽不衛外，其沉小，正水飲之脈，乃用。</p>
<p>葶藶　桔梗　桑皮　膽星</p>
<p>一服而臥，調理半月全安，蓋諸人為脈所誤，而予之認定不疑者。亦即在右部寸脈也。</p>
<p>天場岔港趙姓婦人，年五十餘，因悲傷之後，頭腦拘緊，耳中蟬鳴，不聞人聲，其鳴高下，大小不齊，每一大鳴，則從腦後督脈經而起。病於乙酉八月起，至丙戌三月就診。從前服過芎、芷、細辛、菖蒲、橘、半、麝香不效。右關微弦，尚未大敗，左關虛微如毛。審是下焦真陰大虧，火無所戀，以至上炎，因用歸、芍、夏枯草、龜板、地黃以養陰，山萸、五味、女貞以收斂肝氣，磁石、硃砂、吸心火以下歸於腎，一二服而頭目已清，越半月餘而症減八九，應對如故矣。乃照所服丸方，斟酌丸藥，令其回籍調理。</p>
<p>東鄉馮巷馮姓瓜州典鋪為生理，喉中如有小核，項下頤下皆脹，前醫投以香燥利氣之藥愈甚。予審其陰虛火炎，以致氣結，乃用六味加歸、芍、龜膠、麥、味，及沉香些少。服二十餘劑而大減，照服丸料而痊。</p>
<p>姚紹箕三媳嚴氏，妊娠八月，耳底顴內作痛，項下頤下牽脹，十餘日不寢不食矣。予初診即留案云：風寒客於耳內，痛連顴項，因十日前未曾解表，留連至今，風化為熱，氣滯血凝。耳底頤項，乃少陽陽明之界，當以疏風為主，兼用活血風自滅之說，乃用羌活、獨活、柴胡、秦艽、川芎、當歸、香附、防風之藥，一服而平。然後知前投之地、芍、梔、連，乃令寒凝，而痛愈增也。</p>
<p>乙酉八月，應揚州西山林宅之招，病人號孝思，系時邪已十三日，初起發表，即投芩、連、梔、粉，繼以石膏，以致元府外閉，表邪內陷，身熱足痛，舌乾如鍋焦，舌強不圓，胸前至下午即脹不可忍，脈象左手三部皆洪弦而數，右三部亦然。但洪大之中，有結滯緊澀之狀，乃為前大劑石膏所逼遏也。附錄方案，足痛，肌膚燥，微喘，表未解也；舌枯口乾，胃為心肺之徵，邪熱內陷也；胸滿脹，痰滯結氣不清，陽明之裡症也。三者以存津液為急。經云：開腠理則津液通。解表以提出內陷之邪，尤為急中之急。又恐轉手不及，兼用前人充拓胃陰之說，尤為清痰導氣，方用。</p>
<p>葛根　柴胡　秦艽　小生地　知母　廣皮　枳殼　大貝　黃芩　生草</p>
<p>服後汗出，照方加</p>
<p>香附　厚朴　桔梗</p>
<p>下午胸前脹悶，因用草果廣皮以探吐，乃嘔去痰涎宿食多許，其時汗更多，是夜輾轉不安，至早身涼，調理半月而安。</p>

<h1>卷二</h1>
<p>錢樸齋，失血嘔吐，服甘寒之藥而效，月餘復吐，診脈右寸洪滑，余俱沉弦，所食者少，而所吐者多，症屬有寒有熱。初用旋覆代赭湯加竹瀝不效。繼用二陳加木香、沉香不效。湯飲不留，半月遍身皆冷，六脈沉陷，夜半汗出欲脫，細思寒痰痼結中下二焦，非辛溫不通，因用</p>
<p>吳萸　沉香　丁香　砂仁　蔻仁　廣皮　木香　鬱金　乳香</p>
<p>作丸，以乾薑湯送之。</p>
<p>至次日，腹不微響，手足或溫而旋冷，三四日腹中大響，飲食半納，調理半月而安。</p>
<p>李六稼，患二便不通，四五日，胸痛，手不可近，湯水不入。又五六日，嘔逆不止，氣促抬肩。症由痰涎夾氣，閉塞中焦，肅清之令不降，諸藥或以參朮理虛，或以芒硝通下，或以桂附引納腎氣，卒皆不效。至半月後，症已九死一生，所幸當門之藥未投。因立案云，痰氣壅塞中焦，致使肅清之令，不得下降。經云：病在下，取諸上。不治上中二焦，雖日事疏浚，無益也。方用</p>
<p>旋覆花　代赭石　沉香　陳皮　苦桔梗　葶藶子　廣木香　引加刀豆子</p>
<p>次日，呃逆大減，小便即通，但黏痰每夜三四碗，胸痛不除，因更以前湯送牛黃丸。三服後，痰呃喘皆止，飲食自進，又五六日，大便自通，調理月餘而安。</p>
<p>吳立夫，貧人也。患時邪四五日，寸關皆沉，手足逆冷，舌堆厚胎，腹大而痛，起臥不寧，雖診脈時，片刻亦不自持，而人事甚清，乃陰燥也。以達原飲去芩，加桂枝、炮姜，一服而脈出肢溫，三服而脈大。始復發熱，待其壯熱，復用小柴胡全方，一服而平。詢其初起之時，前醫已用涼劑，症乃因藥製成，時邪瘟疫之中，本無陰症也。</p>
<p>仁和布夥妹姓陳，寡居，夏日患剛痓，頭足反張，口噤不語，身涼無汗，脈沉，其口當未噤時，曾言身痛異常，至此刻並無聲音，只輾轉床第而已。因用仲景葛根湯古方治之。一服能語言，次服汗出脈出。仲景之法，應如桴鼓，而世人每忽之。</p>
<p>儀徵南門外金月之，其人素患淋症，因小便不通，起臥輾轉。數日後，小便全閉，間有涓滴微通，即周身寒戰，四肢逆冷，六脈皆伏，諸醫皆謂體質素虛，兼主膀胱不化之說，連投補中益氣湯，人參加至七錢。予甫到榻前診脈，後即問其人曰：胸膈飽悶乎。曰然。因遍告其親友曰：症系厥陰少陰伏寒，投以補劑，寒未去而膈先滿，三焦皆閉矣，若不急於溫散，兼用消導，將來或為結胸，或為二痓，至於疝氣囊癰，尚其禍之小者也。方用肉桂、元胡、山查、枳殼、青皮、陳皮、通草、澤瀉。諸醫聚訟，延至初八日深晚，同道中有起而置辨者曰：因寒，何以遇小便微通，而病即來，兩症似不連貫，我等均主虛淋。予應之曰：《內經》論厥，皆主於肝。又曰：肝主疏泄，腎主閉藏。今小便微通，即便發厥，乃肝家伏邪，因疏泄而觸動，與衛氣相爭，微汗而解，與陰之瘧，同一理也。晚始進前藥，至二鼓，小便微通，稍覺寒厥，至四鼓，小便不通，而厥去矣。但因向來出汗過多，正氣虛弱，而數日前，參耆疊進，壅塞胃口，舌色深黃，此時攻補兩難，乃用十味溫膽湯去五味子，加鬱金、元胡。左脅堅硬始化，而腎囊紅腫，延及至莖。予初切囑外科，只宜調養胃氣為主。</p>
<p>周婦人，產後月餘，感寒，頭痛身痛皆備，投以羌、獨、芎、蘇，三服。除前症不解，反增嘔吐，呃逆，錯語神昏。細審之曰：太陽病，服太陽藥不效，必有故。詢床側老嫗曰：生養時去血過多乎？曰然。連日尚有血下乎？曰：從前已淨，連日復下些許。因立案云：汗因血奪，寒氣無從泄越。非養血，則脈之澀弱者不活；非辛溫，則血之凝泣者不流。因用羌、蘇、陳、半、乾薑、當歸，一服，汗如注而解。</p>
<p>曹婦，產後，左脅硬脹，濁氣上衝，痰喘氣急，九日不得平臥，漸至腹大如鼓，四肢浮腫，前服過補劑，繼用攻伐降氣，漸至昏沉。用回生丹一丸，分作四服，以沉香膽星湯下。連下六七十次，諸症悉平。</p>
<p>陳家集林舒言令弟上國之內，產後重恙，招往診病。因產後惡露未盡，生男數日而殤，以致氣逆惡留，腹大如孕，手肢青腫，飲食不進，終夜坐起，煩躁不寧，小便不通。數日前，溏糞一二遍，諸醫有慮其脾泄，用四君五苓，加土炒當歸不效。因立案云：產後，汙敗不行，始於衝任，流於隧道，以致脅痛肢腫，沖胃阻食，所喜未傷心肺，尚屬可治。方用鬱金、延胡、歸尾、沉香、澤蘭、香附、砂仁，和入回生丹。連進二服，燈後二便俱通，左脅脹痛消軟，調理五日而安。</p>
<p>李書彝令正，患小便不通，投入正散不效，詢知頭痛鼻塞，因用前胡、防風、半夏、細辛之劑不效。午刻復召，診其脈，左寸關沉弦而細，右寸微洪，及驗舌，色白如粉刺，始知厥陰家寒與氣凝，而昨昔之制軍，尚欠斟酌也。方用乾薑、吳萸、桂枝、細辛、鬱金、元胡、通草、麝香、沉香。雖夜間稍通，而腹大氣逆，嘔吐噁心，輾轉煩躁，舉室驚慌。次早診其脈，右寸浮洪而數，左寸關沉細如無，因以左金丸服之。嘔止，因連進二錢四分，至晚通利如注。</p>
<p>楊姓婦人，感冒時邪，適當經到，去血甚多，血沒於初。七日服他醫之藥，自頂至足，大汗淋漓，神昏譫語，直視搖頭，肉瞤筋惕。予按經水當期而到因客熱動血，大損其榮，與不當期而到，及方到而忽止，列於血室條者，大有間別。其客邪混於三焦者，固已隨血而去，乃因榮液虧虛，陰陽未復，此時若給以漿粥，兼進和榮養血之劑，一二日可愈。醫者不察，仍用時邪通套之劑，以致汗出不止，復傷其衛，《內經》謂血奪忌汗之是矣。乃投以棗仁三錢，佐以麥冬、五味、遠志、歸、地之品，二服人事俱清，瞤惕皆止。詢其年三十六歲，幸體強血富，而獲效耳。</p>
<p>侍御蔣和凝五八胸痹己三十年矣，近復大便不暢，左關尤見枯澀。病因精血少，不能養肝，厥陰不可泄之職，木邪賊土，而轉之機不靈，似此當以溫和養肝，調氣潤燥，皆為切務。又按寸口亦甚枯澀，高源之水，不潤燥金，日久恐防臟結之患，宜用丸方。</p>
<p>山萸　蓯蓉　麥冬　人參　陳皮　當歸　瓜蔞皮　沉香　山藥　木瓜　牛膝　薤白葉　北五味　玉竹膏丸</p>
<p>吳，黃疸症，初服茵陳、蒼朮、赤苓、木通不效，改服茵陳梔子六黃湯，大小便通，目珠不變。詢其自病以來無汗，因照原方去大黃，用茵陳、香薷、白朮、黃芩、山梔、木通，加蔥白二寸，桂枝六分。三服而目珠淨白，黃色大減。此症始於風寒襲於肌表，初時經手之人，未曾解表，以致邪熱留於經脈，故得桂枝、蔥白，榮衛一和即解。</p>
<p>刑部左侍郎錢為城公，下消症醫案。腎虛不攝，自應溫扶，但現在六脈浮洪，畢竟陽旺於陰，恐精耗肉削，漸成損弱，右寸關皆空軟，左尺猶覺衰微，司氣之官，未免失守，以致疏泄多而閉藏少，亦氣化之使然，以益氣養陰，兼靜攝為主。</p>
<p>人參　麥冬　五味　沙參　遠志　白芨　龜板　黃耆　杏仁　蠶繭為引</p>
<p>丸方人參　黃耆　地黃　龜膠　麥冬　山萸　黃牛角尖　菟線餅　當歸　白芍　益智　於朮　北五味　桑螵蛸</p>
<p>常州原任太平縣徐公諱培令郎醫案。凡人之所以無病者，皆恃此氣之流行轉運，故《內經》云：大氣一轉，敗劣乃去。今少老爺積聚多年，由小而大，由少而多。皆從此氣之凝聚而起，其受病之地，本在肝脾，日久則陽亢於陰，心痰凝於肺，真氣虧弱，一任痰火轉旋，不能主持，而眩暈之症作矣，非真脫也。但恐將來脾泄，日久腹大，積堅變成鼓症，便不可治。佚方。</p>
<p>顏豐濯之媳，經閉六十餘日，慮其有娠，以燒酒定粉（即鉛粉）下之。其人素有痰症，多年不發，自服酒粉後，便覺腹中微痛，痛漸甚。三日後，夜間忽然暈厥，牙關緊閉，口有痰涎，手足搐搦。三更後，求救於予，令其覓蘇合香丸投之。詎料齒關不開，咽喉亦閉，主人云：明知其不可奉，煩卜其脈之遲早耳。乃至榻前，手屈而強，已難於診脈，而診脈三至，筋一惕，脈五至，而筋或四五惕，或五六惕。予乘其不惕之時，參知脈狀，浮洪滑數，正知此厥也，非絕也。氣達則生，氣閉則死，若不加人力，則待斃而已。出至前廳，語主人曰：此症已預辨送終，可容我一醫治否。主云：其如不能下咽？乃笑應之曰：我有下咽之藥。乃用牛黃一分，沉香二分，黃連一錢，豬牙皂角、青黛各三分，乾薑五分，乃以小匙投之入口，即大嗆，後下咽數口。復以皂角未投之，連嚏數聲，哼聲繼至。主人謂予，有回生之功？予曰：未也。鉛粉之毒未除，人事未醒，非用大下之法，必將復變。乃進小承氣湯加膽星、竹瀝之藥，人事稍明，自言腹中大痛，連進滾痰丸三日，下白物如油灰者，而人事大清矣。時有興化之行，乃留以歸、芍、棗、志、曲、谷、薑、貝之方，調理數日而安。</p>
<p>蔣姓婦人，產後汙濁不行，又因氣鬱相觸，臍上人骨下，大如兩拳，按之堅如石，四圍充滿，較之十月懷胎者而倍大。蓋懷孕只腹大，而胸口不高。諸醫以調氣活血之藥，投之不效。因用回生丹四丸，一丸分作三服，當其肺氣喘逆，則配以疏肺之藥，肝氣衝逆，則兼用伐肝之品。三日後，胸前之堅者軟，少腹及兩脅之膨者亦消。其人始能起坐，猶以似八月懷胎之腹，忽添心慌意亂，汗出脈軟，惡露少下，而大便無度，只得暫停攻伐，以八珍加沉香、木香固其正。三五日後，神氣稍旺，又復以通逐而小其劑，初時只有濁物從二便出，至此始得濁氣流通，漸消如三月之腹。又忽添少腹虛痛，小便不禁，竟似胞門大開之象，非峻補無以收功，又恐腹中餘剩之堅，得補而固，甚為棘手。因與家傳胎產金丹十丸贈之，令其每日服半丸，以黃絲綿湯送之。越半月，而神旺腹消，溲便如常矣。</p>
<p>有某姓氏，患心漏二十年，當胸數竅出血，屢訪名醫，皆云不治。後形神枯瘁，又疾苦腰，行則傴僂。韓子溫授以後方，服之月餘，腰屈復伸，小漏亦愈，且精神倍增。後有吏吳汝弼亦患是疾，服此亦愈，莫知其所以然。</p>
<p><u>治心漏並腰痛方</u></p>
<p>鹿茸（去毛，酥炙微黃）　附子（炮去皮臍）　鹽花</p>
<p>上藥為末，棗肉為丸，每服二十丸，空心酒下。</p>
<p>畢舜琴之侄患腹痛，醫至三四月不效，已肉消骨離立矣。有鄉人傳單方，用楝樹根為末，和紅糖食之，下蟲數百條。查《本草綱目》、《夷堅志》載：消渴症，蟲耗精液，用楝樹根皮濃煎，加麝香少許。</p>
<p><u>家傳類方</u></p>
<p>疥瘡方</p>
<p>大楓子　真川椒　水銀　松蘿茶葉　油胡桃　潮腦　油燭</p>
<p>治羊癇風，先用末藥。</p>
<p>白牽牛（生熟各半）　檳榔　南木葉（不見火）　茵陳　豬牙皂（火煨勿令焦）</p>
<p>研末和勻，大人三錢，小兒一錢五分，清晨冷茶送下，瀉出痰如皮鞋線之狀，然後用藥除根。</p>
<p>天麻　川芎（各酒洗）　天南星（薑汁浸）　秦艽　當歸　茯苓　白殭蠶（炒）　白朮（極白）</p>
<p>生薑汁打神麯糊丸，黍米大，硃砂為衣，每服七十丸，食遠白湯下，忌牛、羊、雞、犬、魚、蝦、諸血發物。</p>
<p>又琥珀壽星丹</p>
<p>琥珀　硃砂　牛黃　犀角　柏子仁　棗仁　冰片　南星</p>
<p>先以白礬煮數沸，曬乾，次掘地一尺五寸許，用炭火燒紅，掃淨，以南星放下，用好酒二斤澆之。盆蓋泥壅，經宿取出，焙乾，同前藥為末，薑汁同豬心血打糊為丸，綠豆大，每服六十丸，晚同燈心湯下。</p>
<p>腸風下血方</p>
<p>用米點滷豆腐漿，入好醋少許，和勻，每空心服一碗。</p>
<p>定喘實表散</p>
<p>黃耆　前胡　茯苓　甘草　杏仁　人參　陳皮　蘇子　丹皮　桔梗　麻黃根　川貝母</p>
<p>腹痛，以千里馬烘熱熨之。</p>
<p>牙舌爛痛，因營實薔薇根煮湯漱口。</p>
<p>糞後下血</p>
<p>側柏葉　棕灰　柿餅灰　赤石脂　白芍　荊灰　白芨末　甘草節</p>
<p>上藥各等分，甘草節加倍，為末，空心米飲下。</p>
<p>腹中塊痛，用千年健浸酒。</p>
<p>遇仙丹</p>
<p>黑醜　白醜　三稜　莪朮　茵陳　大黃　萊菔子　木香　檳榔　牙皂</p>
<p>聚寶丹</p>
<p>白茯苓　破故紙　茅朮　白朮　赤石脂　廣皮　青皮　生甘草　三稜　莪朮　老米　綠礬　醋丸</p>
<p>止帶丸</p>
<p>香椿根皮　木耳灰　腐鍋衣　蕎麥麵</p>

<h1>卷三</h1>
<p>治男婦小兒傷食等症方擬保合大和丸</p>
<p>赤茯苓　製半夏　廣陳皮　焦查肉　炒神麯　萊菔子　淨連翹　江枳殼　大厚朴　炒麥芽　甘草</p>
<p>上為細末，水疊丸，如桐子大，每服三四錢，白滾水送下。</p>
<p>治小兒急驚症方擬神驗抱龍丸</p>
<p>大黃　野鬱金　明雄黃　白殭蠶　貢沉香　製半夏　飛滑石　明天麻　膽南星　真全蠍　真原麝</p>
<p>上為細末，用甘草四錢煎湯，化膽星為丸，如圓眼核大，用硃砂為衣，每服一丸，金器湯和服。</p>
<p>治鵝掌風方</p>
<p>豬胰（一具，去油勿見水）　川椒（三錢）</p>
<p>用好酒溫熱，將二味浸三日，取胰擦手，微火烘之。外用蔥醋薰洗。</p>
<p>治喉疳方擬噙化丸</p>
<p>甘草（三錢）　川萆薢（三錢）　柿餅（二錢）　桔梗（三錢）　琥珀（一錢五分）　元參（二錢）　青黛（三錢）　珍珠（五分）　大貝（二錢）　硼砂（三錢）　牛黃（三分）　兒茶（三錢）　明雄（五分）　風化硝（三錢）　參三七（一錢）</p>
<p>上藥共為極細末，蜜丸如圓眼核大，每噙一丸化之。</p>
<p>治勞嗽咽啞作痛</p>
<p>甘草（三錢）　風化硝（三錢）　山豆根（二錢）　桔梗（三錢）　水中金（即黑鉛二錢）　訶子肉（一錢）　青黛（三錢）　元參（三錢）　豶豬膚（三錢）　硼砂（三錢）　川貝母（二錢）　巴杏仁（三錢）　兒茶（三錢）　柿餅霜（一錢五分）</p>
<p>上藥共為極細末，煉蜜成丸，如小圓眼核大，噙化一丸，時時咽之。</p>
<p>治爛喉疤鎖頂，痰涎壅塞。</p>
<p>甘草（三分）　桔梗（一錢）　大力子（一錢二分）　連皮瓜蔞（二錢）　大貝母（二錢）　淨連翹（二錢）　赤芍藥（一錢）　前胡（一錢）　屋遊（三錢）　馬屁勃（一錢五分）　金果欖（後又加三錢）　射干</p>
<p>治梅核氣阻，痰壅咽痛。</p>
<p>白茯苓　夏枯草　廣陳皮　紫背天葵　黑元參　昆布　兒茶　蘆根　加沉香　海帶　海藻　風化硝　老君須　黑蘇子　又加訶子肉　海浮石　山豆根　大貝母　月石</p>
<p>丸方紫背天葵　夏枯草　訶子肉　大香　橘葉　廣陳皮　昆布　青皮　大貝母　元參　兒茶　甘草節　山豆根　桔梗　海浮石　老蘆根（四兩，煎水疊丸）</p>
<p>治面生風濕，如蟲行之狀。</p>
<p>大胡麻　當歸尾　赤芍藥　羌活　獨活　威靈仙　殭蠶　全蠍　白芷　地膚子　引用白花蛇</p>
<p>治小兒乳癬瘡方擬松柏丹</p>
<p>松香（熬一兩）　黃柏（二錢）　雄黃（二錢）　冰片（少許）　黃丹（二錢）</p>
<p>共為末，菜油搽，如發熱風疳，加大黃（二錢）　青黛（一錢）</p>
<p>治對口方</p>
<p>鮮何首烏（三錢）　茄子蒂（三錢）</p>
<p>酒煎服，三帖而愈。</p>
<p>治腎頭生疳瘡方</p>
<p>甘蔗（燒灰）　冰片　兒茶</p>
<p>為末搽。</p>
<p>治噎膈水穀不下</p>
<p>甘蔗汁　荸薺汁　雪梨汁　蘆根汁　藕汁（各一碗）　熬濃（加）　青竹瀝（一茶杯）　生薑汁（一蛤殼）　再熬，入千葉白槿花（五錢）　研末，牛囀草（五錢，研末）　陳杵頭細糠（五錢）　土鱉蟲（四條，杵汁）　黃牛乳（一湯碗）</p>
<p>和勻，熬成膏，用瓦甕貯固，置井中去火氣，每日早晚服（八錢），送下。</p>
<p>治肝氣酒毒傷胃，時發痛極。方擬四七二陳湯加</p>
<p>川鬱金　白豆蔻仁　石菖蒲　遠志肉　當歸身　陳佛手引（六分）</p>
<p>治左脅脹痛，咽噎氣閉，常吐寒痰，遍體動掉不寧。</p>
<p>大厚朴　黑蘇子　廣陳皮　白茯苓　製半夏　公丁香　白檀香　紫口蛤粉　海浮石　杜橘葉</p>
<p>又方臺烏藥　白檀香　大白芍　枳殼　大厚朴　廣陳皮　公丁香　淨棗仁　海浮石　引同前</p>
<p>治肺癰，不論初起已成丸方。</p>
<p>柘黃　百齒霜（即梳上頭垢）各等分，蜜丸如桐子大，每早晚隨後服之</p>
<p><u>又肺癰方</u></p>
<p>當歸全（一兩）　嫩黃耆（二兩）　金銀花（三兩）　粉甘草（五錢）</p>
<p>白水煎，時時代茶飲之。</p>
<p><u>又肺癰方</u></p>
<p>合觀樹白皮　甜桔梗　嫩黃耆　肥玉竹　當歸身　天粉花　川貝母　淨銀花　生苡米　引用鮮六穀根。</p>
<p><u>又肺癰方</u></p>
<p>肥知母　大貝母　大麥冬　明天冬　粉甘草　甜桔梗　加瓜蔞皮　枯黃芩　化橘紅　淨銀花　引用鮮蕺（二錢）</p>
<p>治產後轉脬，小便不禁，精神倦怠，不思飲食，腹痛脹，寸關脈浮而芤，症系小腸癰。</p>
<p>人參　黃耆　白朮　甘草　熟地　當歸　白芍　白芨　續斷　桑螵蛸　引用豶豬腰。</p>
<p>服三帖，出膿血一小盆。</p>
<p>又加益智仁　甜瓜仁　又加粉丹皮　肥玉竹　煎濃淨加合歡樹皮</p>
<p><u>又丸方</u></p>
<p>人參　黃耆　白朮　炙甘草　大熟地　當歸　白芍　益智仁　白芨　桑皮　桑螵蛸　珍珠　白蠟　豶豬腰煨爛，杵和丸。</p>
<p>治大腸癰丸方</p>
<p>大熟地　乾山藥　白茯神　熟洋參　五味子　甘草　川續斷　牡蠣粉　芡實　金櫻子　蜜蠟　豶豬腰，煨爛杵丸。</p>
<p>治風熱鬱於皮毛，蘊若厲風，搔癢滲水。</p>
<p>細生地　當歸全　赤芍　粉丹皮　淨連翹　明天麻　威靈仙　川獨活　蒼耳子　車前子　白蘚皮　加全蠍　白花蛇　地膚子　五加皮　大胡麻</p>
<p>治赤遊丹屢效</p>
<p>川黃連（一錢）　枯黃芩（二錢）　川黃柏（二錢）　寒水石（二錢）　青黛（一錢五分）</p>
<p>共為末，用芭蕉葉（搗汁），苧麻根（搗汁），剪刀草（搗汁），和前末，敷患處。</p>
<p>治楊梅瘡無論初起已潰。</p>
<p>生大黃　陳槐蕊（各等分）</p>
<p>為末，水疊丸，如綠豆大，每服三四錢，土茯苓湯下。</p>
<p><u>又方解毒紫金丹</u></p>
<p>鮮紅內消（即鮮何首烏）　陳槐蕊　煅石膏　石決明　大劈砂　敗龜板　大生地　牛蒡子　大貝母　淨銀花　土茯苓</p>
<p>治小兒暑痢，腹痛泄瀉等症。</p>
<p>大厚朴（二兩）　香薷（二兩）　白扁豆（二兩）　赤茯苓（四兩）　製半夏（八兩）　廣陳皮（二兩）　焦查肉（二兩）　神麯（二兩）　麥芽（二兩）　飛滑石（二兩）　生甘草（一兩）　藿香（二兩）　砂仁（四兩）</p>
<p>丸如彈子大，重（一錢六分），白滾水下。</p>
<p>治行路伏暑，白睛遍赤，頭痛如崩，嘔惡，煩渴不寧。</p>
<p>羚羊角　蔓荊子　香薷　蘇薄荷　明天麻　木賊草　甘菊花　大橘皮　川黃連　炒山梔　引用白菊花根汁和服，（一劑頭痛止八分。去）　蘇薄荷　（加）蜜蒙花　穀精草　麥冬</p>
<p>服三劑，眼大明。</p>
<p>（又加）石燕子（一個）　石斛（三錢）</p>
<p>又服三帖而痊。</p>
<p>治濕熱傷脾肺氣虛中滿之象。</p>
<p>白雲苓　粉丹皮　澤瀉　牛膝梢　桑白皮　陳皮　苡米　海金沙　厚朴　次去厚朴　（加）木瓜　（又加）麥冬　雞內金（一具）　葛花</p>
<p>治氣夾濕成鼓，服藥二劑，行水而痊。</p>
<p>大厚朴　製半夏　廣陳皮　上血珀　京三稜　薤白　青皮　車前子　穭豆皮　引用生薑敗鼓皮（炙）</p>
<p><u>揉方</u></p>
<p>撐路根（半斤）（疑即食茱萸根）　小麥面（一斤）</p>
<p>上杵爛，共入銅鍋炒熱，時時熨之。</p>
<p>治脾黃心虛，頭眩眼花耳鳴。</p>
<p>白茯苓（一錢）　焦白朮（三錢）　生苡米　當歸身（二錢）　大白芍　建澤瀉　淨棗仁（二錢）　遠志肉　西茵陳　引生薑皮小紅棗，退腫加宣木瓜，身如黃金色（加）秦艽，心悸加黃耆、人參。</p>
<p>治氣虛咳嗽，心悸盜汗。</p>
<p>生地　熟地　當歸　粉草　橘紅　天冬　柏子仁霜　淨棗仁　黃耆　川貝母　水中金</p>
<p>肺寒咳嗽，痰多喘息。</p>
<p>桑白皮　蜜炙麻黃　巴杏仁　製半夏　橘紅　赤苓　川貝母　白前　桔梗　引用老君須（加）蔞仁霜</p>
<p>治小兒八歲，患肺胃俱寒，咳嗽不已，痰壅眼戴。</p>
<p>乾薑　洋參　白茯苓　白朮　五味子　炙甘草　製半夏　細辛　薑棗引。</p>
<p>治一切風癇，用溫膽湯加</p>
<p>明天麻　羚羊角　鉤藤鉤　遠志肉　引用薑汁、竹瀝</p>
<p>治中風，化痰驅邪。</p>
<p>赤茯苓　製半夏　橘紅　明天麻　陳膽星　遠志肉　白茯神　鉤藤鉤　石菖蒲　引用桃奴　桃花瓣（二錢）　鐵落漿兩碗，煎藥。</p>
<p>加味郁礬丸　川明礬（一兩）　大黃（五錢）　川鬱金（一兩）　膽南星（二錢）　溶化為丸。</p>
<p><u>治羊癇丸方</u></p>
<p>硃砂（三錢）　甘遂（三錢）　豬心（一具）</p>
<p>將前二味入心竅內，煨爛，杆泥為丸，每服（二錢），鉤藤湯下。</p>
<p>治穀道生風作癢，名曰臟風，服一帖全愈。</p>
<p>細生地　當歸身　白茯苓　甘草　連翹　白芍　蟬退　白芷　防風</p>
<p>白水煎服。</p>
<p>治男婦裡寒痛極，難經丸方。</p>
<p>枳實（炒，一兩）　乾薑（四錢）　甘草（四錢）　熟附子（八錢）　肉桂（六錢）　公丁香（三錢）　紅豆蔻（六錢）　白朮（一兩）　砂仁（一兩）</p>
<p>用薑汁疊丸，如綠豆大，每服（二錢），白水下。</p>
<p><u>春回散</u></p>
<p>白礬　胡椒　焰硝　黃丹</p>
<p>此法審症之輕重，日之深淺，分兩隨時加減，用釅醋調在手心，男左女右，合病者臍上，渾身汗出而罷。</p>
<p>治一切虛勞內虧，方用加味霞天膏</p>
<p>紫河車（一具，洗淨煨爛杵泥）　麥冬（去心，四兩）　黃耆（三兩）　大生地（八兩）　燕窩（四兩）　鹿角膠（三兩）　龜板膠（炒，一兩）　龍眼肉（三兩）　霞天膏（四兩）　貢淡菜（四兩）　大熟地（四兩）　淨棗仁（一兩）　明天冬（四兩）　當歸全（一兩）</p>
<p>以上諸藥，盛入砂鍋內，用水淹透，齊鍋口，武火煮透，去渣，文火熬數滾，將生地（搗汁）、龜板、鹿角膠再熬，加煉蜜（四兩），人乳霜（二兩），和勻成膏，盛磁瓶內，置井中去火氣，每早用白水調服。</p>

<h1>卷四</h1>
<p>治龜胸龜背，喘咳而逆。</p>
<p>川百合　桑白皮　葶藶子　明天冬　江枳殼　大杏仁　白水煎。</p>
<p>（加）白茯苓　橘紅</p>
<p>擬滋陰百補丸</p>
<p>大熟地　山萸肉　淮山藥　白雲苓　粉丹皮　北沙參　真龜膠　明天冬　大棗冬　北五味子　安石斛　女貞子</p>
<p>煉蜜丸，如桐子大，每服（三錢），白水下。</p>
<p>治潤肺不傷脾，補脾不礙肺，凡癆嗽失血之症，不可缺。方擬清寧膏</p>
<p>大生地（酒炒，十兩）　大麥冬（去心，十兩）　化橘紅（三兩）　龍眼肉（八兩）　粉丹皮（二兩）　桔梗（二兩）</p>
<p>上用長流水煎成濃汁，去渣，（加）生薏仁（炒熱八兩），蘇薄荷（五錢），川貝母（二兩），糯米拌炒，米熱去米，均為細末，和勻，煎汁成膏，出去米氣，頻頻食之。</p>
<p>治吐血，精神疲倦，口吐白沫，心虛自汗，兩目朦閉，不分黑白，方定參谷飲，服之而愈。</p>
<p>人參　老陳米　真金石斛　麥冬　等分，煨湯隨飲。</p>
<p>又咽燥咳嗽失音，方訂蜜油膏。</p>
<p>白蜜（一斤）　健豬板油（熬油去渣，二斤）</p>
<p>熬成膏，徐徐服之。</p>
<p>又陰虛咳嗽煎方</p>
<p>肥知母　大貝母　大麥冬（去心）　明天冬　大生地（五錢）　白蘇子（一錢二分）　大熟地（五錢）　川百合（二錢）　巴杏仁　金石斛（二錢）</p>
<p>又寧嗽膏</p>
<p>梨汁　薑汁　荸薺汁　蘿蔔十</p>
<p>將四汁先熬後，入桑白皮（二兩）。</p>
<p>麥冬（二兩）　天冬（二兩）　川貝（二兩）　巴杏（二兩）</p>
<p>再熬數滾，去渣，以冰糖成膏，出去火氣，頻頻食之。</p>
<p>治一善飲者，夾食生痰，胸膈膨悶，咳嗽。</p>
<p>香附米（醋炒）　麥芽（炒）　黑蘇子（炒）　神麯（炒）　萊菔子（炒）　製半夏　葛根　陳膽星　廣陳皮　杏仁　青皮　查肉（炒）</p>
<p>為末，薑汁疊丸，如綠豆大，服（三錢），白水下。</p>
<p>治胸痹刺痛，久延嘔噦，致厥。</p>
<p>連皮瓜蔞　薤白　生苡米　白雲苓　製半夏　廣陳皮　白檀香　臺烏藥　雄獺肝（炙）</p>
<p>白水煎服。</p>
<p>治癰症。</p>
<p>人參鬚　茯苓　白朮　炙甘草　熟地　當歸　白芍　杜仲　鉤鉤　引金狗脊（炙去毛）</p>
<p>治中風濕痰，沖肝肺煎方。</p>
<p>羚羊片　鉤鉤　桑白皮　巴杏仁　橘紅　茯苓　黑蘇子　當歸　白芍</p>
<p>白水煎。</p>
<p>治中風左癱右瘓，口眼歪斜。（回生丸）</p>
<p>川烏（泡去皮尖）　五靈脂（炒）　當歸尾　鮮骨　碎補（去毛）</p>
<p>各等分為末，無灰酒打糊丸，桐子大，服五十粒，酒下天香餅方。</p>
<p>又治中風經絡，口眼歪斜。</p>
<p>天麻子　原麝（捏餅如錢大，向右歪帖右手心，向左歪帖左手心）</p>
<p>治肝風夾痰，以致咬牙弄舌，久則抽厥。</p>
<p>白茯神（一錢二分）　當歸（一錢二分）　殭蠶（炒，二錢）　明天麻（一錢）　羚羊尖（一錢）　石菖蒲（八分）　遠志（炒，一錢五分）　天南星（薑汁炒，一錢）　羌活（一錢）　天竹黃（二錢）　引用薑汁二匙，和服。</p>
<p>治遍身痛皆用。方擬定痛丸</p>
<p>茅蒼朮（米泔水浸三日九次，二兩）　川烏（泡去皮尖，二兩）　當歸（一兩）　川芎（一兩）　乳香（去油，三錢）　沒藥（去油，三錢）　母丁香（不見火，五錢）</p>
<p>大棗為丸，丸小如王不留行大，每服二錢，宣木瓜酒下。</p>
<p>又定腳氣方</p>
<p>陳艾絨（半斤）　川椒（炒研末，二兩）　草烏（二兩，研末）</p>
<p>和勻，用布袱鋪如綿褥，用火爐踏於腳下烘之。</p>
<p>治脾胃虛弱，內受寒氣，泄瀉注下，水穀不分，冷熱不調，下利膿血，赤少白多，如魚腸。</p>
<p>梗米　廣木香　肉果（麵包煨）　粟殼（去蒂蜜炙）　乾薑　炙草</p>
<p>又治久痢不止。</p>
<p>御米殼（醋）　龍骨　南白膠香　炙草　炮姜</p>
<p>治一婦人，耳內如鬼唱曲，此乃頑痰之火也。聲只己聞，人未聽之。以清火化痰，安魂定魄之劑，匝月而愈，方用</p>
<p>白雲苓　製半夏　化橘紅　揀麥冬　陳膽星　淨棗仁（炒）　遠志肉（炒）　白茯神　鉤藤鉤</p>
<p>治一轎伕往天長，夜過小廈，見一人在廈內飲酒，伊亦善飲，鬼呼入廈，二人共飲，轎伕大醉，遂臥內小榻，天明方醒，見臥在墳塚之旁，即譫語變音，不省人事，聞響聲即與鬼言，常見鬼在家大笑，遂用</p>
<p>蒼朮（一兩）　雄黃（五錢）　桃奴（五個）　鐵落（一兩）　薑汁（三匙）</p>
<p>白水煎服，後嘔涎一斗，大白蛇四條而愈。</p>
<p>在徐州治一拾糞者，一家九口，吃甜瓜後，腹痛不止，已死五口，伊在外拾糞未吃，來乞方藥，令伊回家，煮糯米飯加食鹽一把，共煮熟，與病者食之而愈。</p>
<p>治虛勞方擬牛肉丸</p>
<p>甘草黃牛肉（一斤）　大原枝生地（八分）　大原枝熟地（八兩，杵膏和丸）</p>
<p>用陳酒半斤，人乳一盞，童便一盞，清水和鹽兩盞，合入砂鍋，用文火煨爛，以湯干為度，取肉杵泥和丸，用滾水浸一宿，杵爛，取汁和丸。</p>
<p>黃耆（二兩）　阿膠（蛤粉炒，二兩）　大麥冬（去心，二兩）　川百合（二兩）　明天冬（二兩）　金釵石斛（四兩熬汁）　肥知母（一兩五錢）　淨棗仁（二兩）　川貝母（一兩五錢）　龍眼肉（四兩，烘研）</p>
<p>上藥共為細末，牛肉膏、生熟地膏，和藥丸，如桐子大，每服（三錢），白水下。</p>
<p>治寒熱失血，頭眩脅脹，心虛氣喘，脈象細澀，方擬滋陰保肺湯。</p>
<p>大生地　當歸全　大白芍　肥知母　黃柏（鹽水炒）　天冬　橘紅　紫苑　桑白皮　粉草　五味子　阿膠（蒲黃炒成珠）</p>
<p>服三劑，血止，寒熱解，方加減煎，加</p>
<p>麥冬　五味子　紫苑　金石斛　川貝母　肥牛膝　白芍</p>
<p>解未解加地骨皮。熱退頭眩去地骨皮，加元參。頭眩痰多加橘紅。</p>
<p>治傷寒虛損，不能發汗，用藥法外取汗。</p>
<p>貫眾　五倍子　大椒　火硝（各等分）</p>
<p>上為細末，用熱醋為丸，男左女右，握手中取汗。</p>
<p>又治風寒後，皮癢洗之。</p>
<p>白菊根　苧麻根　蒼耳子根</p>
<p>又治肺寒咳嗽，方用</p>
<p>桑皮　巴杏仁　黑蘇子　白茯苓　製半夏　橘紅　連皮瓜蔞　川貝母　炮姜　引用紫衣核桃仁</p>
<p>又一方去瓜蔞　炮姜　（加）白前　老君須</p>
<p>治哮喘，其人四十餘歲，擬白砒散，服之大益。</p>
<p>白砒（二錢，研細末）　淡豆豉（二兩）</p>
<p>洗淨，將砒拌勻，盛碗內，置飯上蒸九次，曬乾研末，上為細末，用神麯炒，輾曲打糊為丸，如綠豆大，每服七粒，白水送下，此藥甚險，量人而用。</p>
<p><u>壁虎膏</u>　貼瘰核</p>
<p>黃丹（二兩）　麻油（四兩）　青黛（三錢）　蒲黃（五錢）　大條丸（宜注正名二條）　白龍骨（研，三錢）</p>
<p>先將蒲黃用絹裹，熬焦，次入壁虎再熬，以煙盡為度，然後入諸藥熬成，（未消，）　本方（加）　川貝母（二錢），真血竭（五分），梅冰片（三分）。</p>
<p><u>護心丹</u>　治火傷諸毒攻心。</p>
<p>綠豆粉（一兩）　乳香（去油，三錢）　硃砂（一錢）　甘草末（一錢）</p>
<p>白滾水和服，（加）珍珠（五分）更妙。</p>
<p><u>治濕癬方</u></p>
<p>川黃連（五錢）　煅明礬（五錢）　胡粉（二錢）　黃丹（二錢）　水銀（二錢）</p>
<p>上藥共為末，用健豬油兩夾，研至水銀星盡為度，盛磁瓶內，勿與好人拿之。</p>
<p><u>平沙丸</u>　治</p>
<p>蒼朮（五錢）　重樓（五錢）　厚朴（五錢）　陳皮（五錢）　青皮（五錢）　蘇葉（五錢）　麝香（五分）　青蒿（五錢）　枳殼（五錢）　滑石（一兩）　生甘草（五錢）　蠶沙（五錢）　藿香（五錢）　半夏（五錢）</p>
<p>蔥汁米粉和丸。</p>
<p><u>治蛇皮癬</u></p>
<p>土荊皮（一兩）　檳榔（一兩）　巴豆（三錢）　斑貓（一錢）　楓子肉（五錢）　硫黃（二錢）　麝香（三分）　硃砂（三分）　燒酒（一斤）</p>
<p>將藥入酒內，浸七天，塗搽，避風三四日即愈。</p>
<p><u>治化蟲丸</u></p>
<p>巴豆（去心膜，不經水醋煮研爛，五錢）　烏梅肉（焙乾研末）　川椒（閉口者良，二錢）　蕪荑仁（炒）</p>
<p>二共曬乾，研末，和前二味為丸，如黃豆大，每歲六粒，滾水送下，泄至五七次，用冷水一口便止。</p>
<p><u>普濟丹</u></p>
<p>香薷（二兩）　厚朴（二兩）　神麯（二兩）　製半夏（八兩）　陳皮（二兩）　藿香（二兩）　麥芽（二兩）　滑石（二兩）　扁豆（二兩）　砂仁（四錢）　赤苓（二兩）　山查（二兩）　甘草（二兩）</p>
<p>治大人小兒，脾敗肌瘦，懶食，一切脾胃之症。</p>
<p><u>炙糕方</u></p>
<p>人參（二兩）　生苡米（二兩）　雞內金（酒洗瓦炙，二兩）　白雲苓（一兩五錢）　山查肉（炒一兩）　白朮（土炒焦，四兩）　六曲（炒，一兩）　乾山藥（二兩）　穀精蟲（五錢）　生藿香（一兩）　扁豆（炒，一兩五錢）　麥芽（炒，一兩）　建蓮肉（去心，二兩）　乾蟾（米泔水洗去頭足，三隻）　芡實（二兩）　砂仁（研，五錢）</p>
<p>上為細末，用白晚米粉六升，白洋糖六斤，和藥作糕，隨意食之。</p>
<p><u>仙方</u>　治肺虛咳嗽見血</p>
<p>冬桑葉　杏仁霜　玉竹　北沙參　大白芍　白雲苓</p>
<p>上水煎三劑服之。此屬清潤之法。</p>
<p><u>又加換方</u></p>
<p>西黨參（三錢）　冬白朮（一錢五分）　白茯苓（一錢五分）　炙甘草（七分）　炙黃耆（一錢）　大熟地（二錢）　山萸肉（一錢）　乾山藥（一錢五分）　大麥冬（一錢五分）　五味子（五分）　當歸身（一錢五分）　粉丹皮（八分）　陳皮（八分）　引用生薑一斤，大棗一枚，可煎服四劑。</p>
<p>治積寒腹冷，因肝氣鬱結，脈象浮數，再延成膈。</p>
<p>大厚朴（一錢）　蘇梗（一錢）　陳皮（一錢）　白茯苓（一錢）　製半夏（一錢）　鬱金（一錢）　白蔻仁（研，一錢二分）　制杷葉（二錢）　神麯（二錢）　引陳佛手（六分）</p>
<p>治肝鬱不舒，濕痰犯胃，再延防膈。</p>
<p>大厚朴（一錢）　蘇梗（一錢）　白芍（一錢）　白茯苓（一錢二分）　製半夏（一錢）　陳皮（一錢）　海南沉香（磨服，四分）　當歸身（二錢）　鬱金（一錢）　引用老蘆根（三錢）　小麥米（三錢）</p>
<p>治風邪遏肺</p>
<p>杏仁（二錢）　蘇葉（一錢）　前胡（一錢）　白茯苓（一錢二分）　製半夏（一錢）　橘紅（一錢）　大貝母（一錢二分）　桔梗（一錢）　甘草（三分）　引用蔥白二根</p>
<p>治肝火逼肺失血</p>
<p>丹參（二錢）　鬱金（二錢）　橘紅（一錢）　白茯苓（二錢）　桃仁泥（三錢）　茜根（一錢）　當歸身（二錢）　白芍（二錢）　粉丹皮（二錢）</p>
<p>治肝鬱不舒，氣夾濕痰，防膈。</p>
<p>大厚朴（一錢）　蘇梗（一錢）　陳皮（一錢）　製半夏（一錢）　鬱金（二錢）　白豆蔻仁（研二錢）　神麯（二錢）　白茯苓（一錢二分）　制杷葉（二錢）　臺烏藥（二錢）　引陳佛手（六分）</p>
<p>治頭痛目花，肝火上衝。</p>
<p>川芎（一錢）　白芷（一錢）　蒼朮（一錢）　蒼耳子（一錢）　苦丁茶（二錢）　細辛（三分）　羌活（一錢）　黃池菊（三錢）　甘草（三分）　蘇薄荷（二錢）　引蔥須（三錢）</p>
