<header data-type="book">
<h1>醫旨緒餘</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>孫一奎</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1573">公元1573年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆間（1573－1620）新安孫氏家刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=0f49a42893f74aee8f80382196b2f900fDcyMjcx0&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·醫旨緒餘》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0077/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>敘</h1>
<p>醫之為道，豈眇小乎哉！陶鑄天地，和順陰陽，宣節氣化，措民物而置安全，其效與粒食蒸民者同功。而其立言秘旨，可等潔淨精微之蘊。脫若性非霽哲，養非深邃，蘊積非以歲年，與夫受衷非慈祥長厚，則無能窺閫奧以觀其妙，調瘥癘，回夭札，而登之康寧黃髮也。世之業是術者，非不紛然夥矣，類眯謬自用，有稱名家，亦操方書為套本，鮮濟則委天命不可為，偶而獲效，輒揚揚矜詡其能，益自信執方之為便。以斯職業，安望其究《素》、《靈》之真詮，晰和扁之渺緒哉！醫道之小，業醫者自小之也。余族叔文垣，沖年以機穎俊奕著，比受《易》，了了昭徹大義，塾師殊異之，舞象而後，訪兄之括蒼，遇異人以禁方相授，歸則會乃翁疾，即由儒從業。又念良醫以意中，而執方為下，簡籍所載，古人之意存焉。乃發藏書讀之，上自《靈樞》、《素》、《難》，下及古今名家，靡不翻閱。又非徒然搜獵古人之言詮，務因言詮融洽古人之神髓。居而心惟，出而廣詢，近而丘里鄉國之士靡不諮，遠而江淮河漢之險靡不蹈，就專門以叩厥秘，宗儒碩以研厥精，積之三十年所，獨智益徹，而理窾益融，於凡天地間浮沉升降之機，陰陽闔闢之運，氣化推遷，消息盈縮之數，人身之寒熱虛實，順逆表裡之異，鏡瑩於中。其治病也，察天時，稽氣運，審受病之因，酌君臣佐使之用，故投劑輒效，籍籍稱奇矣。何論葆和尊人，以及太耋，而新都之巨閥窮檐，與三吳之顯貴隱約，靡不飲其湯液，而稱有喜也。且也曰：以其已試者輯而錄之，又採諸名家言與人辯難等語，彙編成集，名曰《醫旨緒餘》。是集也，三才之理明，五行之義著，相火之辯暢以達，三焦之位論而確，以至臟腑之分配，症名之異同，經絡之流貫，呼吸之本原，脈義之考，診法治法之定，靡不備載。又列前賢之長，以標其善。簡冊雖約，而其遠宗之正，近取之周，考覈之精，謙沖之度，一集而四善具焉，猶曰「緒餘」，惡有能出其右而稱渺論哉！昔皇甫有言：人而不精醫道，雖有忠孝之心，仁慈之性，君父危困，赤子顛連，將何以濟？！余不佞，謂叔精詣若是，咸可濟之矣，故掇拾其概而為之序，觀者慎毋謂余屬宗親，而言近阿哉。</p>
<p><u>族子燁元素頓首拜撰</u></p>

<h1>上卷</h1>

<h2>一、太極圖抄引</h2>
<p>生生子曰：天地萬物，本為一體。所謂一體者，太極之理在焉。故朱子曰：太極只是天地萬物之理。在天地，統體一太極；在萬物，萬物各具一太極。即陰陽而在陰陽，即五行而在五行，即萬物而在萬物。夫五行異質，四時異氣，皆不能外乎陰陽。陰陽異位，動靜異時，皆不能離乎太極。人在大氣中，亦萬物中一物爾，故亦具此太極之理也。惟具此太極之理，則日用動靜之間，皆當致夫中和，而不可須離也。醫之為教，正示人節宣天地之氣，而使之無過不及。攻是業者，不能尋繹太極之妙，豈知本之學哉！故具太極圖抄於首簡。</p>

<h2>二、太極圖</h2>
<figure>
<img alt="太極圖">
</figure>

<h2>三、太極圖說</h2>
<p>（附中和集太極圖說）</p>
<p>山陽度氏曰：上之一圈者，太極本然之妙也。及其動靜既分，陰陽既形，而其所謂上之一圈者，常在乎其中，蓋本然之妙，未始相離也。至於陰陽變合而生五行，水火木金土各具一圈者，所謂分而言之，一物一太極也。水而木，木而火，火而土，土而金，復會於一圈者，所謂合而言之，五行一太極也。然其指五行之合也，總水火木金而不及土者，蓋土行四氣，舉是四者以該之，兩儀生四象之義也。其下一圈，為乾男坤女者，所謂男女一太極也。以見太極之妙，流行於天地之間者，無物不在，而無物不然也。</p>
<p>中和集曰：上之一圈者，釋曰「圓覺」，道曰「金丹」，儒曰「太極」。所謂無極而太極者，不可極而極之謂也。釋氏云：如如不動，了了常知。《易·系》云：寂然不動，感而遂通。《丹書》云：身心不動，以後復有無極真機，言太極之妙本也，是知三教所尚者，靜定也，周子所謂主於靜者是也。蓋人心靜定，未感物時，湛然天理，即太極之妙也。一感於物，便有偏倚，即太極之變也。苟靜定之時，謹其所存，則天理常明，虛靈不昧，動時自有主宰，一切事物之來，俱可應也。靜定工夫純熟，不期然而自然，至此無極之真復矣，太極之妙應明矣，天地萬物之理悉備於我矣。</p>

<h2>四、不知《易》者不足以言太醫論</h2>
<p>生生子曰：天地間非氣不運，非理不宰，理氣相合而不相離者也。何也？陰陽、氣也，一氣屈伸而為陰陽動靜，理也。理者、太極也，本然之妙也。所以紀綱造化，根柢人物，流行古今，不言之蘊也。是故在造化，則有消息盈虛：在人身，則有虛實順逆。有消息盈虛，則有範圍之道；有虛實順逆，則有調劑之宜。斯理也，難言也，包犧氏畫之，文王彖之，姬公爻之，尼父贊而翼之，黃帝問而岐伯陳之，越人難而詁釋之，一也。但經於四聖則為《易》，立論於岐黃則為《靈》、《素》，辨難於越人則為《難經》，書有二而理無二也。知理無二，則知《易》以道陰陽，而《素問》，而《靈樞》，而《難經》，皆非外陰陽而為教也。《易》理明，則可以範圍天地，曲成民物，通知乎晝夜；《靈》、《素》、《難經》明，則可以節宣化機，拯理民物，調燮札瘥疵癧而登太和。故深於《易》者，必善於醫；精於醫者，必由通於《易》。術業有專攻，而理無二致也。斯理也，難言也，非獨秉之智不能悟，亦非獨秉之智不能言也。如唐祖師孫思邈者，其洞徹理氣合一之旨者歟，其深於《易》而精於醫者歟，其具獨秉之智者歟。故曰：不知《易》者，不足以言太醫；惟會理之精，故立論之確，即通之萬世而無敝也。彼知醫而不知《易》者，拘方之學，一隅之見也；以小道視醫，以卜筮視《易》者，亦蠡測之識，窺豹之觀也，惡足以語此。</p>

<h2>五、問三才所同者於人身何以見之</h2>
<p>生生子曰：人之與天地萬物同者，同此理氣也。朱子曰：人之與物，本天地之一氣，同天地之一體也，故能與天地並立而為三才。《皇極經世》曰：天有四時，地有四支。四支各有脈也，一脈三部，一部三候，以應天數。神統於心，氣統於腎，形統於首，形氣交而神主其中，三才之道也。《攖寧生卮言》曰：天地非大氣鼓韝，則寒暑不能以時，潮汐不能以訊，霜露冰雪不能以其候；人身非此氣鼓韝，則津液不得行，呼吸不得息，血脈不得流通，糟粕不得傳送也。《內經·陰陽應象大論》曰：「天氣通於肺，地氣通於嗌，風氣通於肝，雷氣通於心，穀氣通於脾，雨氣通於腎。六經為川，腸胃為海，九竅為水注之氣」。《卮言》曰：人首尊而足卑。天地奠位也，脾肺相為母子，山澤通氣也；肝膽主怒與動，雷風之相搏也；心高腎下，水火不相射也。此人之所以與天地參而為三也。</p>

<h2>六、命門圖說</h2>
<p>生生子曰：天人一致之理，不外乎陰陽五行。蓋人以氣化而成形者，即陰陽而言之。夫二五之精，妙合而凝，男女未判，而先生此二腎，如豆子果實，出土時兩瓣分開，而中間所生之根蒂，內含一點真氣，以為生生不息之機，命曰動氣，又曰原氣，稟於有生之初，從無而有。此原氣者，即太極之本體也。名動氣者，蓋動則生，亦陽之動也，此太極之用所以行也。兩腎，靜物也，靜則化，亦陰之靜也。此太極之體所以立也。動靜無間，陽變陰合，而生水火木金土也，其斯命門之謂歟。</p>
<figure>
<img alt="圖">
</figure>
<p>《素問》曰：「腎藏骨髓之氣」。又曰：「北方黑色，入通於腎，開竅於二陰，藏精於腎」。《難經》曰：「男子以藏精」，非此中可盡藏精也，蓋腦者髓之海，腎竅貫脊通腦，故云。</p>
<p>生生子曰：三十六難言腎有兩臟，其左為腎，右為命門。命門者，諸神精之所舍，男子以藏精，女子以系胞，故知腎有二也。三十九難言：「五臟亦有六臟者，謂腎有兩臟也。其左為腎，右為命門。命門者。精神之所舍也。男子以藏精，女子以系胞，其氣與腎通」。細考《靈》、《素》，兩腎未嘗有分言者，然則分之者，自秦越人始也。追越人兩呼命門為精神之舍，原氣之系，男子藏精，女子系胞者，豈漫語哉？是極歸重於腎為言。謂腎間原氣，人之生命，故不可不重也。《黃庭經》曰：腎氣經於上焦，營於中焦，衛於下焦。《中和集》曰：闔闢呼吸，即玄牝之門，天地之根。所謂闔闢者，非口鼻呼吸，乃真息也。越人亦曰：腎間動氣者，人之生命，五臟六腑之本，十二經脈之根，呼吸之門，三焦之原。命門之義，蓋本於此，猶儒之太極，道之玄牝也。觀銅人圖命門穴不在右腎，而在兩腎俞之中可見也。</p>
<p>《難經》雖有命門之說，並無左右水火之分，何後人妄臆指命門屬相火耶！顧《靈》、《素》三陰三陽、手足十二經配合，皆有定偶，以象十二時、十二月、十二律之意，今又以命門為屬火，則當統之於何經？十二經既無所統，則兩腎皆屬少陰水可知。《黃庭經》曰：兩部腎水對生門（左腎為壬，右腎為癸。生門者，臍也）。或曰：然則《脈訣》何謂命門配三焦，屬相火也？余曰：此高陽生之誤，戴同父辯之已詳。三焦是手少陽經，配手厥陰經為表裡，乃手經配手經，火配火為定偶也，豈有手配足，火配水之理哉？！滑伯仁《難經本義》注曰：命門其氣與腎通，則亦不離乎腎，其習坎之謂歟（坎者，水也。易謂上下二坎相重，陰而又陰，故曰習坎）。手心主為火之閏位，命門即水之同氣歟。命門不得為相火，三焦不與命門配，亦明矣。虞庶亦云：諸家言命門為相火，與三焦為表裡，按《難經》只有手心主與三焦為表裡，無命門三焦表裡之說。據此，則知諸家所以紛紛不決者，蓋有惑於《金匱真言篇》王注，引《正理論》謂「三焦者，有名無形，上合手心主，下合右腎」，遂有命門三焦表裡之說。夫人身之臟腑，一陰一陽，自有定偶，豈有一經兩配之理哉！夫所謂上合手心主者，正言其為表裡；下合右腎者，則以三焦為原氣之別使而言之爾。知此，則知命門與腎通，三焦無兩配，而諸家之說不辯而自明矣。或曰：如子所云，則命門屬水歟？予曰：右腎屬水也，命門乃兩腎中間之動氣，非水非火，乃造化之樞紐，陰陽之根蒂，即先天之太極。五行由此而生，臟腑以繼而成。若謂屬水屬火，屬臟屬腑，乃是有形質之物，則外當有經絡動脈，而形於診，《靈》、《素》亦必著之於經也。或曰：然則越人不以原氣言命門，而曰右腎為命門何也？予曰：此越人妙處，乃不言之言也，言右腎則原氣在其中矣。蓋人身之所貴者，莫非氣血，以左血右氣也。觀《黃帝陰符經》曰：人腎屬於水，先生左腎，象北方大淵之源；次生右腎，內有真精，主五行之正氣。越人故曰原氣之所繫，信有核歟。</p>
<p>或曰：《靈》、《素》命門有據乎？予曰，《陰陽離合篇》有「太陽根起於至陰，結於命門」（至陰，穴名，在足小指外側）。啟玄子注曰：「命門者，藏精光照之所，則兩目也。」《靈樞》亦曰：「命門者，目也。」蓋太陽乃腎之表，目者宗脈精華之所聚，故特以精華之所聚處，而名之為命門也。（上釋命門）</p>

<h2>七、右腎水火辯</h2>
<p>或曰：人皆謂右腎屬相火，相火即少火，觀坎之象，則知腎具水火之道，一陽居二陰間為坎，水火併而為腎，故惟坎加習也，子以右腎為屬水，然則其說非與？余曰：以惟坎加習，斯其說所以非也。夫坎，水也。上下皆坎，《易》故曰習坎。觀先天圖，乾南坤北。後天圖，離南坎北。五行火高水下，故仙家取坎填離，以水升火降，既濟為道，謂採坎中之一陽，填離中之一陰，此還乾坤本源之意也。坎離，是兌待之義，如彼謂一陽居二陰之間，無乃指一陽為火耶？然則離以一陰居二陽之間，又作何說也？夫物物具五行，五行一陰陽，陰陽一太極，五臟均有此金木水火土，何乃指坎中之陽為火，指右腎為少火也。坎中之陽，即兩腎中間動氣，五臟六腑之本，十二經脈之根，謂之陽則可，謂之火則不可，故謂坎中之陽，亦非火也。二陰，即二腎也，腎既皆陰，則作一水一火併看者，亦非矣。不然，坎中之陽，尚不可以火目之，而右腎又何可以屬水哉？！或曰：子是之言固矣，彼北極玄帝象下有龜蛇者何說也？且昔沙隨程可久曰：北方常配二物，故惟坎加習，於物為龜為蛇。余曰：此何可以證水火併而為腎之謬也，蓋龜蛇，乃道家寓意處，謂蛇屬心火，龜屬腎水，能降此二物，不使妄動，庶坎離得以交姤，而身中之丹可成。若腎則封藏之本，精之處也，安可牽扯龜蛇而與之同類並觀哉！斷乎其不可矣。</p>

<h2>八、或問、七節之傍、中有小心或指下第七節命門穴為小心者有以小心為志心者、有以小心為少火、以少火為相火者、</h2>

<h2>九、《難經正義》三焦評</h2>
<p>（附東垣三焦論）</p>
<p>或有以馬玄臺《難經正義》問於生生子曰：馬氏謂《難經》所言三焦，乃上中下之三焦，故曰無形之氣；若於手少陽之三焦，乃是有形，引《靈樞》、《素問》經旨及東垣等論為證。而以手厥陰配合，俱寓診於右尺。子以其說為何如？幸條悉之，以詔來學。生生子曰：馬玄臺搜究經旨甚博，考證諸篇極工緻、非苦心者不能也。但謂三焦有二，上中下之三焦，行脈道以通十二經，手少陽之三焦，惟司決瀆之職而已。謂東垣能疑之，而不能正之。又引《三因方》謂脂膜如手掌大者為三焦，而寓診於右尺。斯言不能無弊，何也？上古文字，不容易看，亦有不可強解者，亦非聰明所可臆度，不可辯者寧缺之，不敢妄議，恐增後人一障也，姑即所疑，條陳於左，以俟明哲。</p>
<p>馬氏曰：手少陽三焦，焦、當作膲，是有形物也。上中下之三焦，焦字從火，謂能腐熟水穀變化也。余按「焦」字亦不一，《靈樞·背腧篇》有云：肺腧在三焦之間，心腧在五焦之間。據銅人圖，肺腧在三椎下，心俞在五椎下，是以「焦」字作「椎」字看也。椎、槌也，節也。斯上中下之三焦，亦是以地段三停而言，如雲上中下三節也。「焦」「膲」同用，如「藏」「臟」同用也，不必拘從火從肉，但觀上下文義何如爾。推馬氏之意，不過謂從肉則是有形，從火則是無形，蓋為有形無形生疑也。</p>
<p>馬氏曰：《三因方》云：古人左為腎臟，其府膀胱，右為命門，其府三焦，三焦有脂膜如手大。且曰：宋有舉子徐遁者，醫療有精思，曰：齊嘗大飢，群丐相臠而食，有一人皮肉盡而骨脈全者，視其五臟，見右腎之下有脂膜如手大者，正與膀胱相對，有二白脈自其中出，夾脊而上貫腦，意此即導引家所謂夾脊雙關者，而不悟脂膜如手大者之為三焦也，由是知三焦為有形也（按導引家夾脊雙關，正是兩腎，非別有物也）。愚謂此言無稽，不必信也。蓋醫以《靈》、《素》為宗，《靈》、《素》不載，如張仲景、華佗、王叔和、孫思邈，皆擅名古今者，未有一言及此。史載秦越人隔垣洞見人臟腑者，假令三焦如手掌大，何不言之，而反曰無形之氣。又觀手少陽經起止散絡，亦無夾脊貫腦之說，獨陳無擇言之，豈無擇之神知，出《靈》、《素》諸公之上，而操議以勝之哉，愚故謂無稽之言，不必信也，余惟人身稟賦，有肥瘠，有長短，有男作女形，女作男形，臟腑亦有厚薄之不一。人臟內景，殆與豬相類，兩腎即兩腰子，兩腰子皆裹於脂膜之中間，或有偏長短者，不可因脂膜之垂長者，便指為臟腑也。兩白脈自中出者，正腎之脈絡爾。膀胱中處腹下，亦非偏於左者，抑何相對若是之偶耶？據云大飢而相臠，安有舍美腎而不食，尚從容乎有所待也，此不待辯而可知。若脂膜左右長短不同，由人之肥瘠也。且如平人之膽，僅藏汁三合，姜維之膽大如斗。平人喉管二，一通氣，一通食。銅人圖有載大賊歐希範之喉管有三。彼陳無擇者，抑信之否乎？三焦既有形若是，銅人圖必圖而表之，華氏內照圖亦必表而出之。何一陽曰：世傳華佗神目，置人裸形於日中，洞見其臟腑，是以象圖，俾後人准之，為論治規範。三國時殺人亦不少，華佗之醫，不可謂無精思，豈有三焦如是，乃遺而不之載哉！何一陽又曰：余先年精力時，以醫從師徵南，歷剖賊腹，考驗臟腑，心大長於豕心，而頂平不尖，大小腸與豕無異，惟小腸上多紅花紋，膀胱真是脬之室，余皆如《難經》所云，亦無所謂脂膜如手掌大者。余謂心小腸屬火，故色皆赤，三焦亦屬火，色獨如脂膜，是不可信矣。顧戴同父氏有言曰：《三因方》之好異也，云三焦有形如脂膜，附於腎夾脊，若果如是，則《內經》、《難經》言之矣，其經脈又何偏屬歷絡之云乎？《醫學辯疑俗斷》極叱其非，惜乎人未之考也（徐遁之說出《龍川志》，而陳無擇因之，且引《難經》男子藏精、女子系胞二句於夾脊貫腦之下，是認命門為三焦也，差舛如此，何可信哉！《黃帝陰符經》有曰：二腎內生白脈二條，上湧朝元，通靈陽之宮，跡此觀之，舛可知矣）。</p>
<p>或曰：子以《難經》三焦無形之言為是，何《靈樞·本臟篇》皆謂有厚、薄、緩、急、直、結、縱、橫，惟其有形，乃有此語。余曰：《本臟篇》論三焦者，非特為三焦有物如是也，厚、薄、直、結、緩、急等語，為膀胱而言也。合通篇臟腑配應而觀，其義自見。據五臟各有一腑為應，三焦為孤腑（上中下三焦同號為孤腑），又為外府，又為中瀆之府。按瀆者，水也。膀胱為津液之府，津液亦水也。三焦為決瀆之官，膀胱之用也，又為腎間原氣之使，以其無形，故附膀胱而言之。何以然，「黃帝曰：願聞六腑之應？岐伯答曰：肺合大腸，大腸者，皮其應。心合小腸，小腸者，脈其應。肝合膽，膽者，筋其應。脾合胃，胃者，肉其應。腎合三焦膀胱，三焦膀胱者，腠理毫毛其應。帝曰：應之奈何？岐伯曰：肺應皮，皮厚者，大腸厚，皮薄者，大腸薄」云云。「腎應骨，密理厚皮者，三焦膀胱厚，粗理薄皮者，三焦膀胱薄，疏腠理者，三焦膀胱緩，皮急而無毫毛者，三焦膀胱急，毫毛美而粗者，三焦膀胱直，稀毫毛者，三焦膀胱結也」。三焦原非五行正府，而無所應，故稱外府、孤府，因帝以六腑之應為問，三焦既為膀胱之用，原氣之使，故以膀胱合而應之，以答六腑之應如此也。又《本輸篇》曰：「肺合大腸，大腸者，傳導之府。心合小腸，小腸者，受盛之府。肝合膽，膽者，中精之府。脾合胃，胃者，五穀之府。腎合膀胱，膀胱者，津液之府。」此五臟五腑五行正配合者也。獨少陽三焦無合，乃復曰「少陽屬腎，腎上連肺，故將兩臟。三焦者，中瀆之府，水道出焉，屬膀胱，是孤之府也（《千金方》論孤府亦同）。是六腑之所與合者」。合二篇觀之，三焦屬腎與膀胱，故附膀胱而言，非為三焦有物如是也。《論勇篇》之縱橫及諸篇言有形者多類此。彼陳無擇之脂膜，果有理疏理密直結縱橫也乎哉？無擇之好異，而故為之辭也。</p>
<p>泰來曰：觀五腑皆有合有應，惟三焦無合無應，因下焦為足太陽所管攝，故稱足三焦。足三焦者，足太陽之別絡也，非另有一個足三焦也。據云中瀆之府，水道出焉，屬膀胱，是孤之府等語，即知諸言有形者，皆是言膀胱，以膀胱乃下焦之地位，膀胱主水，三焦職司決水，故並言之。</p>
<p>或曰：三焦既無形如此，何《氣府篇》有少陽脈氣所發者三十二穴，《繆刺篇》有少陽之絡，《經脈篇》有三焦少陽之脈，《經別篇》有少陽心主之正，《經筋篇》有少陽心主之筋，《衛氣篇》有少陽心主之本，《陰陽二十五人篇》言手少陽之上，血氣盛則眉美而長等語，似涉有形，今曰無形，然則彼皆非耶？余曰：所謂有形者，指其經依附各屬經絡而流貫者言也，蓋手少陽乃十二經中之一經，其動脈原有起止，亦有脈絡經筋俞穴出入相應。以經絡乎上中下一身也，非謂無其經脈而虛作一氣看也。因有此經，故有此病。云無形者，指其府也，以其無特形，故稱外府，非若五府稱赤腸白腸黃腸青腸黑腸，長若干，重若干，受盛若干云云。若獨指其經脈起止俞穴主病等語，便謂是有形之府，不思奇經中如沖、任、督等脈，皆有起止，亦皆主病，沖為血海，任主胞胎，亦可指衝任等脈如有形府例看否耶？！有形之說，不必辯而其謬自明矣。</p>
<p>馬氏曰，東垣《此事難知》問三焦有幾，似嘗究心於此者，惜乎謂三焦有二者，不及上中下之三焦，則誤矣，是欲闡《內經》而《內經》之義未融，欲正《難經》而《難經》之言仍在也。余曰：《此事難知》乃王好古所著，好古為東垣高弟，問三焦有幾者，非為手少陽三焦當分上中下為二也，是欲人知三焦有手足之分爾。手少陽三焦主持於上，足三焦主持於下。足三焦者，足太陽膀胱之別也，若將手少陽三焦又分出一個上中下三焦，合足三焦觀之，得無有三個三焦耶？則鑿矣。好古此篇，分三焦甚有功，但謂命門包絡於右尺同診，又謂包絡亦有三焦之稱，為命門之火遊行於五臟六腑之間，主持於內也云云，似亦未究相火命門之義。《難經》雖有命門之說，未嘗言其為火，觀「男子以藏精」一句，則知右腎非火矣。矧《經》曰：精者，水也。又曰：「其氣與腎通」，水與火可相混耶？都緣惑於高陽生《脈訣》，以三焦配命門，而張世賢圖難經脈訣，又以心包絡皆混配命門三焦於右尺，故有命門屬火之說。何一陽《醫學統宗》極劾其盜襲訛言，紊陳圖局，誣世釣譽。夫命門，乃兩腎中間動氣，人之生命所司，故曰「精神之所舍，原氣之所繫」。觀銅人圖圖命門穴於兩腎俞中間，深為得旨。</p>
<p>泰來曰：三焦總只一而已，言手三焦者，以其經屬手少陽，又其治在膻中，緣手經經乎上也。言足三焦者，以其經即足太陽之別絡，又其治在氣衝，緣足經經乎下也。《靈》、《素》以下焦備六腑之數，即知手、少陽三焦與下焦之三焦總只一而已。</p>
<p>馬玄臺曰：命門之脈不必拘於右尺，以其氣與腎通也。顧腎間動氣，人之生命，左腎亦可以診之。據其將右腎入左尺同診者，是要出右尺部位，庶三焦包絡始有診地也。又欲使人知是前人之意，故託言王叔和《脈訣》歌云：「右肺大腸脾胃命」，由是以三焦包絡寓診於右尺也。愚謂玄臺博究如此，豈有不識《脈訣》非叔和書哉！正若三焦、包絡二脈無所歸著，不得已而引《脈訣》歌為證，仍稱王叔和之名者，不過要使人尊信也。抑不思叔和《脈經》，寸關尺之診，上部合於上焦，關部合於中焦，尺部合於下焦，兩尺皆以腎為候，而無三焦、包絡左右之分；《千金方》載列亦同。今人不體認《脈訣》之非，往往為其牽縛，又強扶而合之，亦大可嘆也！戴同父《脈訣刊誤》首篇闢之甚詳，真千載斷案，讀之亥豕自見，毋用多喙。</p>
<p>馬氏謂心火面北，君道也，故居寸上；相火面南，臣道也，故居尺下；三焦、包絡，皆屬相火，故寓於右尺下部診之。余曰：此強合之辭也。人多不思相火命名之義，往往以陰火作相火看，故《溯洄集》辯之。包絡乃護心之脂膜，不離於心，膻中、氣海、三焦之所布，皆在膈上，與心相近，故稱曰相火，以其為君火之相也。余竊謂相，猶宰相輔成君德，位必相近，今馬氏以三焦、包絡二脈診法部位無所著落，是為診法部位而言，非為君臣尊卑定南北也。論定分，則君臣尊卑有南北；論診法，則部位之居有遠近，勢也，亦理也。包絡之護心，與宰相之近君一也。若將包絡居尺下，則與心遠矣，世豈有遠離於君而謂之相哉？此又可以例觀矣。且《經》謂上以候上，下以候下者，均此理勢也。按《洪範》五行，火曰炎上，水曰潤下。《難經》亦曰：火炎上而不能下，故在上部，水流下行而不能上，故在下部。今以南北尊卑之勢紊而使居下部，豈不背經義哉！徒拘拘以君臣尊卑而言，則肺亦臣也，《經》曰：「肺者，心之蓋也」，抑何反加於心之上耶？蓋肺相傅之官，位近心君，故治節由之，是以同處於膈上也。觀《素問》三焦、包絡，皆處膻中，蓋「膻中者，臣使之官，喜樂出焉」。以近心君，故喜樂由之。又三焦為氣父，包絡為血母，從心肺而言也，以心主血，肺主氣，皆居膈上，故曰膻中之分，父母居之，氣之海也，是故不得而居於右尺下部也。謝堅白《難經本旨》，亦推宗《脈經》，謂手厥陰即手少陰心脈，同部三焦脈，上見寸口，中見於關，下焦與腎同診。此其說殊合經旨，千古不易之定論也。</p>
<p>或曰：三焦下合右腎，子以其說然歟否歟？余曰：此啟玄子引《正理論》之言，不知何所據，遍考《靈》、《素》，只有「上合手心主」一句，無下合右腎之說。或曰：然則與手心主配合為表裡者何也？余曰：手少陽三焦之脈，布膻中，散絡心包。手厥陰心主之脈，出屬心包絡，下膈歷絡三焦，因其脈上下交絡故也。又俱屬手經，均為相火，以類相從，雖為表裡，終非五臟五腑比也。此何以故？余曰：為是非也，蓋藏有聲色臭味，府有出納受盛，二經無聲色臭味、出納受盛，雖是表裡，實非臟腑比也。《素問》運氣篇曰：「心包非臟也，三焦非腑也」。余故曰以類相從也。</p>
<p>或曰：馬氏謂上中下之三焦，行脈道以通十二經，手少陽之三焦，惟司決瀆之職而已，予以為非耶？余曰：噫嘻！人之好異也，經書豈容易言哉！圭齋歐陽公曰：《難經》先秦古文，蓋為醫式之祖也。東坡蘇公曰：醫之《難經》，句句皆理，字字皆法，後世達者，神而明之，如珠走槃，如槃走珠，無不可者，若出新意，而棄舊學，以為無用，非愚無知，則狂而已。看書之法，當以意會其理而融其辭，不可執己見以害其意。夫所謂三焦者，乃上焦、中焦、下焦三處地位合而名之也，以手少陽經統而屬之，以合十二經之數。人之有十二經，猶日之有十二時，歲之有十二月也。上焦主納而不出，其治在膻中；中焦主腐熟水穀，其治在臍旁；下焦分別清濁，主出而不納，其治在臍下。滑伯仁曰：治，猶司也，猶郡縣治之治，言三焦所治之地方在斯也。有以呼上焦為三焦者，如雲「三焦為氣之父」，指上焦之氣海而言也（是上焦亦可以三焦稱也）。有以呼中焦為三焦者，如雲「三焦咳狀，咳而腹滿，不欲飲食，比皆聚於胃，關於肺」者是也（是中焦亦可以三焦稱也）。有以下焦呼為三焦者，如雲「決瀆之官」，「中瀆之府」者是也（是下焦亦可以三焦稱也）。此三焦者，外有經而內無形，故曰外府，明非五臟五腑之有合應也；又曰孤府。袁淳甫《難經本旨》曰：所謂三焦者，於膈膜脂膏之內，五臟五腑之隙，水穀流化之關，其氣融會於其間，熏蒸膈膜，發達皮膚分肉，運行四旁，曰上中下各隨部分所屬而名之，實元氣之別使也。是故雖無其形，倚內外之形而得名；雖無其實，合內外之實而為位者也。《靈樞經》曰：「上焦出於胃上口，並咽以上，貫膈而布胸中，走腋，循太陰之分而行，還至陽明，上至舌下，足陽明常與營俱，行陽二十五度，行於陰亦二十五度，一周也，故五十度而復大會於手太陰。」觀此，則秦越人謂作水穀之道路，氣之所終始者，為不誣矣。「中焦亦並胃中，而出上焦之後，此所受氣者，泌糟粕，蒸津液，化其精微，上注於肺脈，乃化而為血」。「下焦者，別迴腸，注於膀胱而滲入焉。故水穀者，常並居於胃中，成糟粕，而俱下於大腸，而成下焦，滲而俱下，濟泌別汁，循下焦而滲入膀胱焉」。觀此，下焦之文，則純是決瀆之事，馬氏乃謂上中下之三焦以氣看，手少陽之三焦作有形府看，謂其惟司決瀆之職而已，分三焦為二，何其謬哉！《靈蘭秘典》曰：「三焦者，決瀆之官，水道出焉。」瀆，猶江、河、淮、濟之瀆。《爾雅》曰：「瀆者，獨也，各獨出其所而入海也。」夫決瀆本下焦之事，決瀆之官，猶今之總督河道之職也。今以三焦之名，而獨任下焦之職，此其故何哉？蓋以水瀆在下，非氣莫導，膀胱所藏之水，必待氣海之氣施化，乃為泄便注泄，是故以三焦治之，謂賴其氣而為之前導也，故曰「氣化則能出矣」。若曰不必下焦之氣施化，而手少陽自能決而出焉，則經不當復繳「氣化則能出矣」之句。或曰：三焦是六腑之一，故決瀆由之，恐不可作下焦看也。余曰：此正是馬氏所疑之處，馬氏以手少陽三焦為腑，惟司決瀆，下焦非腑也，故作氣看。不思《素問·宣明五氣篇》曰；「胃為氣逆，為噦，為恐。大腸小腸為泄。下焦溢為水。膀胱不利為癃；不約為遺溺。膽為怒。」又《靈樞·九針篇》曰：六氣為病，「膽為怒。胃為氣逆，噦。大腸、小腸為泄。膀胱不約為遺溺。下焦溢為水」。據此二篇，則《靈》、《素》亦以下焦備六腑之數，是下焦與三焦無彼此也，是故不分而為二也。王好古雖引《靈樞》謂有足三焦之說，緣足三焦乃太陽之別絡（別絡乃支絡），並太陽之正，入絡膀胱，約下焦（約是約束也），實則閉癃，虛則遺溺，雖有足三焦之名，實則足太陽之絡脈也。蓋下焦乃足經之所屬，故即膀胱言之也。《本臟篇》言「腎合三焦膀胱」，亦以此故。好古此問，不過欲人知此義爾，實無二質可分也。諸家言有形狀，有俞穴者，皆不過即其經脈而言，如奇經沖、任、督之類也。噫！夫《難經》、《靈》、《素》之翼也，《脈經》，診候之宗也。《難經》載心包絡、命門、三焦者凡八篇，《脈經》闡《靈》、《素》之要旨，推脈候之本原。噫！醫學至秦越人亦神矣，至王叔和亦可稱精思矣。二公殫心究竟，著述垂訓，亦可謂無滲漏矣。乃陳無擇不信《難經》，而信龍川不核之方誌，世人不宗王叔和《脈經》，而宗高陽生之《脈訣》，且也妄肆譏彈，是何異河伯而議海若之汪洋，處蟻封而談藐姑射之靈秘哉！多見其不知量也。余為此辯，豈不知將益增嘵嘵之口，顧後之人惑於其說而莫之覺，願為秦王忠臣也，或毀或譽，何暇計哉。孔子曰：「知我者，其惟《春秋》乎，罪我者，其惟《春秋》乎。」余私心竊欲自附云。</p>

<h3>附東垣三焦論</h3>
<p>東垣云：三焦，有名無形，主持諸氣，以象三才之用，故呼吸升降，水穀往來，皆恃此以通達。是以上焦在心下，主內而不出；中焦在胃中脘，主腐熟水穀；下焦在臍下，主分別清濁，出而不內。統而論之，三才之用，本於中焦。中焦者，胃脘也，稟天五之沖氣,　陰陽清濁自此而分，十二經絡自此而始。或不得其平，則寒熱偏勝，虛實不同，榮衛澀滯，清濁不分，而生諸病。故曰：氣會三焦，手少陽脈通於膻中。膻中者，臣使之官，為氣之海。審此，則知三焦者，沖和之本也。三焦，相火及包絡之脈，人之元氣也，周身何處無之，是名相火用事，主持陰陽之氣，神明之府也。（出《醫學發明》）</p>

<h2>十、問診三焦包絡</h2>
<p>或有難於生生子曰：心主、包絡、三焦之說，已得聞命矣，但診法尚未詳明，如子所言，動脈下行於足經者，法當診於下部歟？誠如是，令人之惑滋甚也。且足經腎肝之動脈，皆不上行於手，又何故取法於手之尺部而診腎肝耶？請再悉之。余曰：嘻！如上所疑，是殆未知寸關尺上下陰陽之義也。夫脈之一字，有二義焉，十二經之動脈，乃路陌之脈，非寸關尺之謂也；寸失尺之脈，乃氣血之先，人之神也，故可以候周身百骸之疾。余之所指，非即動脈為診，乃宗《內經》、《脈經》，形於上者上診之；形於下者下診之，乃法象也，非為動脈之出入而言也。昔秦越人述《內經》之微旨，而取診法於寸關尺者，又豈無所本哉？寸關尺之部位，乃手太陰經經渠、太淵穴也，實手太陰經之動脈出入之地。古人取此以驗五臟之脈者，以肺受百脈之朝，又五臟六腑之氣味皆出於胃，變見於氣口，以氣口為五臟主，而脈之大要會也。按《脈要精微論》曰：「尺內兩傍，則季脅也。尺外以候腎，尺裡以候腹中。附上，左外以候肝，內以候膈；右外以候胃，內以候脾。上附上，右外以候肺，內以候胸中；左外以候心，內以候膻中。前以候前，後以候後。上竟上者，胸喉中事也；下竟下者，少腹腰股膝脛足中事也。」按此，附上，謂關也；上附上，謂寸也。寸關皆有左右手分診，而尺獨不分左右者，則兩尺皆以腎為診也明矣。《內經》論診法部位，前後上下如此，皆法象天地，配合陰陽，誠萬古不可少易者。越人闡明《內經》之旨，取寸關尺以診一身臟腑上下之候，而王叔和宗之，皆本於此。心包絡附近於君，當宗《脈經》心部診之，乃上以候上之意也。三焦亦當如《脈經》，上中下分診之。其腎肝之動脈，雖不上行於手，而腎肝之元神，氣血之先，豈有不隨胃之元氣上行耶？！《玉機真臟論》曰：「臟氣者，不能自致於手太陰，必因於胃氣，乃至於手太陰也。」故一難獨取寸口，以決五臟六腑死生吉凶之法，其義可見。是以醫者，要明天地陰陽上下之理，以譬周身，則自然貫通，不為異論束縛。為醫而不本《素》、《難》、《脈經》，而一聽庸俗口耳之學，與為儒而不講明四書五經，惟徒剽竊時義者何異。孫思邈曰：不知《易》者。不足以言太醫。斯言誠有味哉。</p>

<h2>十一、脈義</h2>
<p>脈者，天地之元氣也。人受天地之氣以生，故一身之升降浮沉，即造化生生不息之機。其不息者，脈也。按《內經·五常政大論篇》岐伯曰：「根於中者，命曰神機，神去則機息。」顧其為字，從肉從永，其命名為陌，謂脈脈不斷，長永之道也，是斡旋一身而為之綱領。彼四時之脈體，有如弦、鉤、毛、石之謂者，無非跡陰陽浮沉升降消長而取義耳。至其運行之妙，有起伏隱見，可驗於一呼一吸之間。仲景曰：「呼吸者，脈之頭也。」是以有呼吸則有脈，無呼吸，則脈息氣絕而物化矣。此其天人一致之理，四時流行之機，微妙不易名狀，必潛會默契，庶可得其真體。劉守真釋名為幕，余以為未然。《爾雅》謂膜，幕也；幕絡一體也，非謂脈也。膜則有形，而脈則以神運，無形者也。觀天何言哉，四時行，百物生，可見矣。故見此者謂之知道，悟此者謂之知脈，脈何容易言哉。（上釋脈義。）</p>

<h2>十二、問十二支土多十二經火多之義</h2>
<p>有以十二支問於生生子曰：十二支屬水火木金者各二，土屬有四者何也？生生子曰：萬物生於土，而歸於土，土本四維，寄旺於四季之末，故土有四也。土也者，在人以脾胃應之；四肢屬脾，四肢猶四維也。臟腑皆藉脾胃以為養，猶萬物皆藉於土也。又問：人之十二經，金木水土各二而已，火獨有四者何也？生生子曰：有令德之君，必有調元贊化之臣，然後綱維立，教化行，而成無為之治。假令君非相以贊密勿，何能帥百執事，恪恭厥職。三焦、包絡，亦猶是也。包絡有護持之功，三焦有承宣節制之效，何以見？蓋榮衛出於三焦，而所以營於中，衛於外，大氣搏於胸中以行呼吸，使臟腑各司其職，而四肢百骸奠安者，孰非相火斡旋之功哉！古人以藥譬兵，以身譬國，良以此夫。丹溪曰：「天非此火，不能生物；人非此火，不能以有生。」信然。</p>

<h2>十三、問手心主</h2>
<p>或有問於生生子曰：《靈蘭秘典篇》問十二經貴賤相使，何獨遺手心主也？生生子曰：無所遺也，以膻中該言爾。「膻中者，臣使之官，喜樂出焉。」《靈樞·脹論篇》曰：「胸腹者，臟腑之郭也。膻中者，心主之宮城也。」《素問·遺篇》曰：膻中在胸兩乳間，為氣海，手厥陰包絡之所居，此作相火位，故言臣使，主其喜樂。</p>

<h2>十四、手足經配合臟腑之義</h2>
<p>有以十二經問屬手足者何以故？生生子曰：陰陽上下配合之義也。手經之脈起於手，足經之脈起於足。手經主持於上，足經主持於下。手足經者，所以紀上下也，猶《易》之本乎天者親上，本乎地者親下也。《素問》運氣篇曰：心、肺、心包絡皆膈上，屬手經，肝、脾、腎在下，屬足經。手同手經，足同足經，手足經臟腑陰陽相配皆然，乃一合也。或曰：臟腑既以陰陽配合表裡，何無夫妻之義？予曰：夫妻配合，是以相剋言陰陽，此以手足同類言陰陽，乃自然之勢，不可紊者。如手太陰肺，金也，里也，陰也，手經也，故以手陽明大腸金配。手少陰心，火也，里也，陰也，手經也，故以手太陽小腸火配。足太陰脾，土也，陰也，里也，足經也，故以足陽明胃土配。足厥陰肝，木也，陰也，里也，足經也，故以足少陽膽木配。足少陰腎，水也，陰也，里也，足經也，故以足太陽膀胱水配。此五臟五腑五行正配合也。手厥陰心包絡，火也，手少陽三焦，亦火也。二經雖無特形，皆屬相火。一為氣父，表也；一為血母，里也。亦是以類配也。手以手配，足以足配，陰以陽配，火以火配，水以水配，金以金配，木以木配，土以土配，皆自然之勢，不得不然者（觀此配合，則知上下手足陰陽皆有定偶，手配手之陰陽，足配足之陰陽，則手經之三焦，必不配足經之右腎明矣）。</p>

<h2>十五、問五行金木水火土之義</h2>
<p>生生子曰：夫五行者，一水、二火、三木、四金、五土，咸有所也，何以然？《素問》運氣曰：水之為言潤也（陰氣濡潤，任養萬物也），火之為言化也（陽在上，陰在下，毀然盛而化生萬物也），木之為言觸也（陽氣觸動，冒地而生地），金之為言禁也（陰氣始，禁止萬物而揪斂），土之為言吐也（含吐萬物，將生者出，將死者歸，為萬物家）。水生於一，《靈樞經》曰：太一者，水之尊號。一，數之始也。天地未分，萬物未成之初，莫不先見於水，先地之母，後萬物之源。以今驗之，則草木子實未就，人蟲胎卵胚胎皆水也，故天一生水。一，陽數也；子，北方水之位也。子者，陽生之初，故水曰一。地二生火；二，陰數也；午，南方火之位也。午者，陰生之初，故火曰二。天三生木；三，奇之數；木居東，東亦陽也，故木曰三。地四生金；四，偶之數；金居西，西亦陰也，故金曰四。天五生土；五者，奇之數，亦陽也；土應西南長夏，故土曰五。以上下左右合而觀之，卒莫不有一定之理，而人身應之。午位居上，故火旺於午，在人以心應之，故心居上。子位居下，水旺於子，在人以腎應之，故腎居下。卯位居左，木旺於卯，在人以肝應之，故肝居左。酉位居右，金旺於酉，在人以肺應之，故肺居右。中者，土位，土居未，在人以脾胃應之，故脾胃居中。此五行不易之定位也（觀五行一定之理，則火不在下部，尤可見矣）。</p>

<h2>十六、問心包絡何以不得為藏</h2>
<p>或有曰：《難經》言藏有六，心、肝、脾、肺、腎，五而已，餘一藏乃右腎也。手厥陰心包絡既是十二經中之一經，與少陽為表裡矣，乃不以包絡為藏，而以右腎當之何也？生生子曰：心包絡乃包心之脂膜，實不離乎心也，雖其經起止有二，余絡出入屈折相同，觀《靈樞·邪客篇》有曰：少陰無腧，心不病乎？岐伯曰：外經病而藏不病也。蓋「心者，五臟六腑之大主，精神之所舍，其藏堅固，邪弗能容，容之則心傷，心傷則神去，神去則死矣。故諸邪之在於心者，皆在於心之包絡。包絡者，心主之脈也，故獨取其經於掌後銳骨之端，其餘脈出入屈折，其行之疾徐，皆如手少陰心主之脈行也。」非若右腎之有形質者比也。以其質無特形，是故不得為特藏也。</p>

<h2>十七、又問右腎既為六臟之一矣何十二經中不以右腎之有形者足其數固乃以手心主當之此其故何哉</h2>
<p>生生子曰：詳乎哉問也。《難經》雖有右腎命門為一臟之說，然外無經絡所屬，且又云「其氣與腎通」，則亦皆腎而已矣，其習坎之謂歟。《黃庭經》曰：北方黑色，入通於腎，開竅於二陰，左腎為壬，右腎為癸（壬癸皆水也）。《內經·六節藏象論篇》曰：「腎者主蟄，封藏之本，精之處也。」受臟腑之精而藏之也（精亦水也）。因其皆屬水，故以足少陰之經統而屬之，此二而一，一而二者也。彼手心主者，外有手厥陰之經絡，屬於相火，隸於手經。顧手足經陰陽配合之勢，手不與足配，火不與水配，陰不與陰配，是故不得與十二經之數也。且火高水下，水火不相射也。</p>

<h2>十八、問五行土無定體寄旺四季各一十八日何長夏一月土又獨主之</h2>
<p>生生子曰：朱子云：天有春夏秋冬，地有木火金水,　人有仁義禮智，皆以四者相為用也。論歲氣流行之序，一歲之中，有春夏秋冬四時，木火金水各主一時，以行其氣，雖不言土，而土在四季中矣。土又獨主長夏一月者，蓋長夏建未，未位西南，乃土正旺之地。顧五行之理，順而相生，無少間斷，彼冬之水，生春之木，春之木，生夏之火，夏火正熾，曷能使其生金，徒有傷之而已，火旺則土相，故以土繼之，是火生土，而土生秋金，秋金生冬水，冬水復生春木，乃可生生無窮。《禮運》曰：播五行於四時。周子亦曰：五行順布，四時行焉。是四時之內，固備五行之氣也，由是而土獨主於長夏也。</p>

<h2>十九、問十二經臟腑命名之義</h2>
<p>生生子曰：此聖人觀數於物而名之也。按《爾雅》曰：心，纖也。靈識纖微，無物不貫心也。《卮言》曰：心者，深也。為之君主，神明出焉，深居端拱，而相火代之以行事也。肺者，茷也。茷茷然而居乎其上，為五臟之華蓋也。又云：肺，勃也，言其氣勃鬱也。脾者，裨也。所以為胃行水穀，而裨助乎四臟也。又脾屬土，天高而地下，尊卑之義也。腎者，神也。神也者，妙萬物而為言者也，為作強之官，技巧出焉，妙萬物者也。又腎者，引也。腎屬水，主引水氣灌注諸脈也。肝者，干也。屬木，象木枝幹也。為將軍之官，謀慮出焉，所以幹事也。胃者，匯也。萬物之所聚，故曰海也。腸者，暢也。實而不滿，通暢胃氣，去滓穢也。膽者，敢也。為中正之官，決斷出焉，敢之義也，又曰：膽者，淡也。清淨之府，無所受輸，淡淡然也。膀胱者。脬之室也。室以藏物，猶包裹也。又曰：胞，𩎘也。空虛之言也。主以虛，承水汋也。包絡者，以其包絡於心，不使濁氣熏蒸於心也。又名手心主者，以其主行心之事也。手，是言手經。三焦以焦言，猶三才也。三才之用，重於中焦。滑伯仁曰：三焦始於原氣，用於中焦，散於膻中，上焦主內而不出，下焦主出而不內，其內其出，皆系中焦之腐熟，用於中焦之為義，其可見矣。</p>

<h2>二十、原呼吸</h2>
<p>生生子曰：呼吸者，即先天太極之動靜，人一身之原氣也（即腎間動氣）。有生之初，就有此氣，默運於中，流動不息，然後臟腑得所司而行焉。《難經》曰：「腎間動氣者，五臟六腑之本，十二經脈之根，呼吸之門。」《經》謂肺出氣，出此也；腎納氣，納此也。謂呼在肺而吸在腎者，蓋肺高腎下，猶天地也。故滑伯仁曰：肺主呼吸，天道也（此呼吸，乃口鼻之呼吸，指穀氣而言也），腎司闔闢，地道也（此闔闢，乃真息，指原氣而言也）。《靈樞》曰：「五穀入於胃也，其糟粕、津液。宗氣，分為三隧。故宗氣積於胸中，出於喉嚨，以貫心脈，而行呼吸（行，猶承行）。」此指後天穀氣而言，謂呼吸資宗氣以行，非謂呼吸屬宗氣也。何者？人一離母腹時，便有此呼吸，不待於穀氣而後有也。雖然，原氣使無宗氣積而養之，則日餒而瘁，呼吸何賴以行？故平人絕谷，七日而死者，以水穀俱盡，臟腑無所充養受氣也。然必待七日乃死，未若呼吸絕而即死之速也。以是知呼吸者，根於原氣，不可須臾離也。宗氣如《難經》一難之義，原氣如八難之義，原氣言體，穀氣言用也。（上原呼吸。）</p>

<h2>二十一、論診法</h2>
<p>生生子曰：甚矣！脈之難言也。非脈之難言也，欲盡於寸關尺三部之難也。非盡於寸關尺三部之難也，欲盡於寸關尺三部，而能以意會於臟腑之外之難也。蓋脈通於經絡，運行於臟腑，而充周於郛廓。診候者，不以意會，徒拘拘以一臟一腑而盡於寸關尺三部之中，則凡臟腑之外，經絡之間，腦項胸背腰膝𫏜踝四肢百骸，無有不病者，又將安診？吾謂三部之中，非一臟一腑所能盡也，彼《內經·脈要精微論篇》，但言候五臟與胃，余大、小腸及膽、膀胱不言者，非略之也，各以部地而該之也。何哉？如曰：「尺外以候腎，尺裡以候腹中」，所謂腹中者，何物也？蓋小腹之下，大、小腸、膀胱所居之地也。又如「左外以候肝，內以候膈」，膈非腑也，獨非一身中物乎？膈之下，膽所居也。五臟之系，上下聯絡，莫不經循膈過，然則候膈者，非即膈膜已也。又如「左外以候心，內以候膻中」，膻中雖非實臟，乃心主之宮城，與「右內以候胸中」相同，皆即其部地言之也、腹中、胸膈之候，乃內景之事，而胸膈腹之外，又何以候之？故後四句復申言曰：「前以候前，後以候後，上竟上者，胸喉中事也，下竟下者，小腹腰股膝脛足中事也」。觀此，則三部中非拘拘一臟一腑所可盡也，余故曰：欲盡於三部而意會於臟腑之外之難也。古人以寸部之陽候頭痛，以尺部診大小二便，雖云腎主二便，其實上以候上，下以候下之驗也。特附於上，以廣三部診外之意云。</p>

<h2>二十二、證候推移指法</h2>
<p>《內經·脈要精微論篇》曰：推而外之，消息之，內而不外，有心腹積也。推而內之，消息之，外而不內，身有熱也。推而上之，消息之，上而不下，腰足清也。推而下之，消息之，下而不上，頭項痛也。</p>
<p>左寸，外以候心，內以候膻中。左關，外以候肝，內以候膈。右寸，外以候肺，內以候胸中。右關，外以候胃，內以候脾。兩尺，外以候腎，里以候腹中。是以有推而內，推而外消息之法也。</p>
<p>一說：左寸，推而上之，上而不下，頭項痛；推而下之，下而不上，胸脅痛也。推而內之，內而不外，心腹積也；推而外之，外而不內，眼目昏也。</p>
<p>左關，推而上之，上而不下，腰足清也；推而下之，下而不上，腸胃痛也。推而內之，內而不外，筋骨痛也；推而外之，外而不內，身有熱也。</p>
<p>左尺，推而上之，上而不下，小腸痛也；推而下之，下而不上，足脛痛也。推而內之，內而不外，小便濁也；推而外之，外而不內，腰足痛也。</p>
<p>右寸，推而上之，上而不下，氣喘急也；推而下之，下而不上，胸中痛也。推而內之，內而不外，咽喉痛也；推而外之，外而不內，背脊痛也。</p>
<p>右關，推而上之，上而不下，吐逆也；推而下之，下而不上，主下血也。推而內之，內而不外，腹有蠱也；推而外之，外而不內，肌肉痛也。</p>
<p>右尺，推而上之，上而不下，小腹脹也；推而下之，下而不上，足腿痛也。推而內之，內而不外，疝瘕也；推而外之，外而不內，小便秘也。</p>
<p>汪石山曰：按消息，謂詳細審察也。推，謂以指那移於部之上下而診之，以脈有長短之類也；又以指那移於部之內外而診之，以脈有雙弦單絃之類也；又以指推開其筋而診之，以脈有沉伏止絕之類也。《刊誤》謂內外以指按輕重言，推有數義，故特著之，非但外以候心，內以候膻中之類也。</p>

<h2>二十三、宗氣營氣衛氣說</h2>
<p>生生子曰：宗氣者，為言氣之宗主也，此氣搏於胸中，混混沌沌，人莫得而見其端倪，此其體也。及其行也，肺得之而為呼，腎得之而為吸，營得之而營於中，衛得之而衛於外。胸中，即膻中，膻中之分，父母居之，氣之海也。三焦為氣之父，故曰宗氣出於上焦也。</p>
<p>營氣者，為言營運穀氣，入於經隧，達於臟腑，晝夜營周不休，始於手太陰，而終於手太陰，以應刻數焉，故曰營出中焦也。又曰：營是營於中。又曰：營在脈中（世謂營為血者，非也，營氣化而為血耳。中字、非中焦之中，乃經隧中、脈絡中也。《內經·痹論》云：營者，水穀之精氣，和調於五臟，灑陳於六腑，乃能入於脈也）。</p>
<p>衛氣者，為言護衛周身，溫分肉，肥腠理，不使外邪侵犯也。始於足太陽，五十度而終於足太陽，故曰衛出下焦也。又曰：衛是衛於外。又曰：衛在脈外（此外字，亦非純言乎表，蓋言行乎經隧之外也。《內經·痹論篇》云：衛氣者，水穀之悍氣，其氣慓疾滑利，不能入於脈也，故循皮膚分肉之間，熏於肓膜，散於胸腹，逆其氣則病，從其氣則愈）。</p>
<p>生生子曰：人與天地，生生不息者，皆一氣之流行爾。是氣也，具於身中，名曰宗氣，又曰大氣。經營晝夜，無少間斷，《靈》、《素》載之，而後人莫之言也。後人只知有營衛，而不知營衛無宗氣，曷能獨循於經隧，行呼吸以應息數，而溫分肉哉！此宗氣者，當與營衛並稱，以見三焦上中下皆此氣而為之統宗也。《靈樞經·五味篇》曰：「谷始入於胃，其精微者，先出於胃之兩焦（中下焦也），以溉五臟。別出兩行，營衛之道。其大氣之搏而不行者，積於胸中，命曰氣海」（大氣即宗氣，氣海即膻中）。又《邪客篇》曰：「五穀入於胃也，其糟粕（下焦）、津液（中焦）、宗氣（上焦），分為三隧。故宗氣積於胸中，出於喉嚨，以貫心脈，而行呼吸焉（此出上焦為一隧也）。營氣者，泌其津液，注之於脈，化以為血，以營四末，內注五臟六腑，以應刻數焉（此出中焦為一隧也）。衛氣者，出其悍氣之慓疾，而先行四末分肉皮膚之間，而不休者也。晝日行於陽，夜行於陰，常從足少陰之分間，行於五臟六腑（此出下焦為一隧也）」。《營衛生會篇》，「黃帝曰：願聞營衛之所行，皆何道從來？岐伯曰：營出於中焦，衛出於下焦。」《衛氣篇》曰：「其浮氣之不循經者，為衛氣，其精氣之行於經者，為營氣。」講明此三氣者，自秦越人而後，惟四明馬玄臺《難經正義》考究極工。於宗氣，則曰：自夫飲食入胃，其精微之氣積於胸中，謂之宗氣。宗氣會於上焦，即八會之氣會於膻中也。惟此宗氣、主呼吸而行脈道。於營氣，則曰：營氣者，乃陰精之氣也，即宗氣之所統，猶太極之分而為陰也。此氣行於晝二十五度，行於夜二十五度，始於手太陰，五十度而復會於手太陰。而行晝行夜，十二經之陰陽皆歷焉，所謂太陰主內者此也。於衛氣，則曰：衛氣者，陽精之氣也，亦宗氣之所統，猶太極之分而為陽也。晝日行於陽二十五度，夜行於陰二十五度，始於足太陽，五十度而復會於足太陽。引《靈樞·歲露篇》曰：「衛氣一日一夜，常大會於風府。」風府者，足太陽督脈陽維之會，所謂太陽主外者此也。蓋營氣行陽行陰，主晝夜言；衛氣行陰行陽，主陽經陰經言。營氣之行於晝者，陽經中有陰經；行於夜者，陰經中有陽經。故行陰行陽，主晝夜言也。衛氣則晝必止行於陽（行三陽經也），夜必止行於陰（行三陰經也），是陰陽不指晝夜言也。又謂《靈樞·五十營》等篇，言氣脈流行，自手太陰而始，至足厥陰而終，循環不已，漏水下一百刻，計一萬三千五百息，脈行八百一十丈。推之，則二刻行一度，為一周身也：晝夜共行五十度，則每經各行五十次矣。並未嘗言肺止行寅時，大腸止行卯時。又不思各經長短不同，難以分時註釋。如果十二經分配十二時，則一時止行一經，何以能八刻之一千八十息，脈行六十四丈八尺，而四度周於身也？又何以能十二時之一萬三千五百息，脈行八百一十丈而五十度周於身也？所謂一時止行一經者，實理勢之所必無也。以上考正，皆出《靈》、《素》，蓋此公精究經旨，融會脈絡，王冰以下，一人而已，非苦心積累不能也，觀第一難一章，則可以見其概。惜乎獨於三焦惑於陳無擇之言，未之加察，餘三復之餘，微有慨焉，然終不以寸朽而棄合抱之材也。</p>

<h2>二十四、痢與滯下辯</h2>
<p>或有問於余曰：劉河間云：仲景治痢，多用承氣，但與滯下混同立論，而無分別。考之諸方，亦未見其有分治者，抑河間之說不足憑歟？余曰：前人略之也，經雖無明文，然顧名思義可知矣。書曰：夏傷於暑，秋多瘧痢。痢者，利也，通利之義，乃時症也。或從泄瀉而得，或徑大便膿血，蓋秋令氣降，腹中穢積因時下行而痢也。彼滯下者，滯，是積滯之滯，不因時令，不由泄瀉，而竟裡急後重，垢膩之物頻並而下也，豈可同日語哉。故滯下之症，始得之，多用推陳致新，迎而奪之之法。至於治痢，有用補法者，有用澀法者，有燥濕者，有升提者，有消之者，有溫之者，有分利者，有下之者：然初時不敢遽以藥下之，因時制宜，必審其胃實積固，乃敢推蕩耳。余故云：痢者，兼令氣而言也：滯下者，四時皆有之。名既別，則治法當有徑庭矣。或曰唯。</p>
<p>古謂先水瀉而後膿血者，為脾傳腎，乃賊邪難愈；先膿血而後水瀉者，為腎傳脾，乃微邪易愈。相傳微賊之說，是亦以大概言之也，究竟其說，世亦有先後水瀉膿血，而各有難易者。愚謂先水瀉而後膿血，此脾先虛，而積滯繼至，故難愈；先膿血而後水瀉，此積滯既去，已無邪矣，故易愈。高明幸察之。</p>

<h2>二十五、噎膈翻胃辯</h2>
<p>或有問於余曰：丹溪《局方發揮》云：翻胃，即是噎膈，噎膈乃翻胃之漸，言此蓋火氣炎上，熏蒸津液成痰，切切不可用香燥之藥，若服之必死。又曰：年高者，不治。蓋少年氣血未虛，用藥劫去痰火，病不復作；老年氣血已虛，病必不起。據曰：翻胃即噎膈，似是一病；又曰：噎膈乃翻胃之漸，似又是二病。至用藥，謂服香燥之劑必死。乃今時亦有用香燥而得生者何也？余曰：噎膈、翻胃，古雖未辯，然擬名定義，似有不同，治法亦將無同也。顧《局方發揮》一書，蓋為闢溫補，戒燥熱，諄諄立言，於名義亦未暇辯也。愚意謂噎、膈、翻胃，乃是三病，亙古至今，曾未有人剖析其義者。夫飲食入於噎間，不能下噎，隨即吐出，自噎而轉，故曰噎。膈，是膈膜之膈，非隔截之謂也。飲食下噎，至於膈間，不能下膈，乃徐吐出，自膈而轉，故曰膈。翻胃，是飲食已入胃中，不能運化，而下脘又燥結不通，朝食而暮吐，暮食而朝吐、明其自胃中而倒出，故曰翻胃也。均一吐病，而有上、中、下之分。數千年間，惟潔古老人治吐，而有上、中、下之論。曰：上焦吐者，主於氣；中焦吐者，主於積；下焦吐者，主於寒。故今人亦有用香燥而治愈者，實寒氣使然也，在人體認真切爾。至於年老之人，誠難治效，丹溪豈欺我哉。</p>
<p>張雞峰曰：膈是神思間病，惟內觀自養，庶可克濟。斯言亦良語也。</p>

<h2>二十六、四時脈說</h2>
<p>或有難予者曰：脈有七表、八里、九道，而無弦、鉤、毛、石，書何謂春弦、夏鉤、秋毛、冬石也，且其義安在？予曰：此陰陽升降之理也，三才原一太極。春弦者，肝之脈也，與膽為表裡。夫陽氣自地而升，此時其氣尚微，在半表半裡之間，故其氣來軟弱，輕虛而滑，端直以長，故曰弦。夏脈鉤者，是陽極而陰生也。夫鉤本大而末小，夏至一陰生，夏月六陽之氣盡升，其脈來大而去小，故曰鉤。秋脈毛者，此毛字讀作毫字，《孟子》「明足以察秋毫之末」、正是此義。明陰氣自天而降，輕細以浮，故曰毛。冬脈石者，冬令萬物潛藏之時，是陰極而陽生也。腎主其令，腎屬水，主閉藏，沉而有力，如石之在水中，故曰石。夫升降浮沉之理，變化無窮，豈鑿鑿之七表八里九道能悉耶！且脾胃平和之脈，不大不小，不短不長，難以明狀，惟以意消息之。彼二十四歌者，正如以管窺天也，噫！</p>

<h2>二十七、問傷寒桂枝湯用桂枝說</h2>
<p>或問生生子曰：傷寒書桂枝湯後有云：脈浮緊，發熱汗不出者，不可與也，與之則表益實，而汗益難出耳，則是以桂枝為固表藥也，何麻黃湯中又用桂枝為臣耶？生生子曰：考方療疾，全在體認氣味。《衍義》謂桂大熱，桂味辛甘，主溫中，利肝肺氣，為諸藥先聘通使，溫和榮衛，宣導百藥，無所畏。然桂枝湯用桂者，以其衛為邪襲，則氣不固，故汗出惡風，桂枝味辛甘，陽劑也，陽劑其行快，入咽則先布散，充達百骸四肢，無處不至，此散之之意也。至於止汗，自是芍藥，芍藥味酸，陰劑也，陰劑入咽，其行遲，故先散之而後收之，一開一合，邪氣散而真氣不過泄，以致於適中，非謂桂枝能止汗也。麻黃湯用桂枝為臣，亦以其辛甘發散為陽，若謂其實表止汗，將安用之？蓋以其寒傷榮，桂枝（能佐麻黃而散寒邪）溫和榮衛，則邪自不能容留，汗出而解也。桂枝湯後叮嚀不可與者，為內有芍藥，寒既傷榮，發熱無汗，復用酸寒收斂之劑，則邪無從而出，表乃益實也，非謂辛散能實表也。風，陽氣也，陽主散，風傷衛，則氣散而汗出。寒，陰氣也，寒主斂，寒傷榮，則氣斂而無汗。故治法，無汗要有汗，取辛散能發汗也；有汗要無汗，取酸收能止汗也。俱用桂枝者，以其既能發散，而又能溫和榮衛也。予故曰：考方療疾，全在體認氣味。</p>

<h2>二十八、氣鬱脅痛論</h2>
<p>或問治氣鬱脅痛，有謂達之者，有謂瀉之者，於達、瀉二字，還有說否？生生子曰：脅者，肝之部分，又足少陽經所行之地，此經多有餘，《經》曰：「東方實。」丹溪曰：「氣有餘，便是火。」《內經》曰：「肝者，將軍之官，謀慮出焉。膽者，中正之官，決斷出焉。」蓋人於日用之間，不能恬淡虛無，而純合乎天和；惟不能恬淡虛無而合乎天和，是以七情一有不遂則生郁，郁久則生火，壅遏經隧，充塞清道，而痛作矣。至於痛極而湧吐酸水者，猶洪範所謂曲直作酸，乃肝膽之咎徵也。《經》曰：「木鬱則達之。」啟玄子謂吐之令其條達，此固一說也。然於「達之」之義，猶有所未盡焉。達，是通達之達，非獨止於吐也。木鬱於下，以柴胡、川芎之類升而發之，以順其挺然之性，正所謂因曲而為之直，又謂從其性而升之，皆達之之義也。仲景小柴胡湯，治少陽脅痛，以柴胡為君，得其旨矣。《經》曰：「有餘者瀉之。」今肝實而脅痛，固宜瀉之矣。本草列青皮、香附、黃連、白芍、柴胡、川芎之類，均為瀉肝之劑，苟不擇而用之，吾未見得志也。何者？夫青皮、香附，瀉氣之沖逆者也；黃連、白芍，瀉血之沸騰者也。《經》曰：「上者抑之」，為其當下而不下，故用此辛酸苦寒之劑，以泄其沖逆沸騰之勢，使之降下，以致於平而已，此正治法也，群皆識其為瀉也。至若柴胡、川芎之所以為瀉者，則異乎是也。蓋柴胡、川芎，升發肝膽之清氣者也。《經》曰：「下者舉之」，為其當升而不升，故用此辛甘苦平之味，於陰中提陽，以扶其直遂不屈之性，使之上升，以復其常，是清陽升而濁陰降也，正前所謂木鬱則達之之意，此從治法也，群皆未識其所以為瀉也。《經》曰：輕者正治，重者從治。又曰：輕者可降，重則從其性而升之。又曰：「過者折之，以其畏也，所謂瀉之。」過者，謂郁實而為火也。折之者，為裁之也；畏者，如木鬱之病，用辛散屬金之藥，而排闥其紛夥，剪伐其猖獗，以致於中和，乃撥亂反正之意也。此皆識陰陽升降之理，順逆之勢，有如是耳。噫！苟為醫而不明陰陽升降之理，順逆之勢，則用藥安能識其正哉！且夫人與天地相流通者也，即舉肝而言之，在天為雷，在方為東，在時為春，在五行為木，在人為肝，運動之氣，皆相參焉。故張子和曰：膽與三焦尋火治，肝與包絡都無異。丹溪曰：此指龍雷之火而言也，在人以肝膽應之。凡物不得其平則鳴，彼陽氣久伏，壅遏於九地之下，則品物為之潛藏，當其升發之際，必轟然迅烈，大發聲震，驚於天關之外，然後品物咸亨，此勢也，理也。今木鬱之病，亦近之，木鬱於下，則春升之令不行，以故痛而猛，猛而吐，吐而愈者，亦均此勢也，均此理也。知夫此，則凡造物之所以有升降順逆者，皆得以遂其正矣，於用藥乎何有。</p>

<h2>二十九、論痰為津液、脾濕所生、亦有因於火、因於虛、因於氣、因於食者、而二陳峻利之劑、不可以概用也</h2>
<p>生生子曰：痰者，津液所生也。《經》曰：「飲食入胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，合於四時五臟陰陽，揆度以為常也。」若脾虛停濕，則失其健運之常，不能致精於肺，遂而成痰，此脾濕而生痰者也。有陰血不足，陰火上逆，肺受火侮，不得清肅下行，由是津液凝濁，生痰不生血者，此又因陰虛火動而成痰者也。由是知痰之為物，皆脾濕、津液所成明矣。治痰者，要當察其所來之源，世俗例以二陳統治諸痰，不分寒熱。因於濕者，固亦宜矣。蓋半夏燥脾濕，陳皮利肺氣，茯苓入手太陰利水下行，甘草調和諸性，入脾為使。三味皆燥濕剛悍之劑，使水行氣下，濕去土燥，痰斯殄矣，脾斯健矣；使脾無寒濕，則何以當之？由是知二陳之治痰者，非治痰也，是治痰之因於濕也。至於火刑肺金，不得下降，而用二陳者，此又失之疏也。因於火則治火，火降金清，秋令乃行，水無壅遏，痰安從生。丹溪曰：「黃芩治熱痰，假其下火」，正謂此也。若一例而以二陳治之，吾知脾愈燥而火愈動，非惟病不能去，而反增其喉痛聲啞，咳嗽盜汗，煩躁口渴也已。又有食積痰者，飲食過飽則傷脾，脾傷則氣餒，氣餒則濕停，濕停則痰生矣，宜以保和丸類治之。又有氣鬱生痰者，嚴用和云：「人之氣道貴乎順，順則津液流通，決無痰飲之患。」是以治痰必先利氣者，謂痰之所從來，皆由七情鬱結，氣道不清，氣積生涎，今利其氣，使鬱結開而氣道暢，抑何痰飲之有？宜七氣湯、越鞠丸之類治之是也。又有風痰者，由表虛皮腠不密，風邪得以乘之，肺氣不利，邪郁為熱，是以濁涕稠黏，治宜散風利氣，如杏仁、枳殼、紫蘇。前胡之類是也。有驚痰者，驚則神不守舍，氣亂胸中，清濁相干，脈道壅塞，痰遂生焉。故驚痰者，多生心痛顛疾，以牛黃鎮心丸之類治之是也。有冷痰者，由脾胃虛弱，不能運化精微，氣餒行遲，津液凝滯所致。治宜溫暖脾胃，脾充而津液行矣，如乾薑、白朮之屬是也。又有腎虛不能制火，津液生痰，不能生血者，緣肺主出，腎主納，今腎虛不能納氣歸原，出而不納則積，積而不散則痰生焉。以金匱腎氣丸之類治之是也。內有茯苓、澤瀉，利水下行，使濕去而痰絕；地黃、山萸，補實腎水，水升則火自降，而全收藏之職矣。至於中氣不足，痰因積聚，胃中亦賴所養，不可峻用利藥，恐胃一傷，凶變莫測，宜當溫補，使脾胃充實，痰自流動，如六君子之類是也。此丹溪所以諄諄戒人峻用利藥之失也。若夫流飲、支飲、伏飲、懸飲、溢飲，積年累月，膠固難治者，當視其形氣何如，或汗、或吐、或下、或熔，隨其所宜，劫而去之，痰去則當補養，務使中氣充實，庶無峻利之失矣，學者亮之。</p>
<p>或曰：丹溪云：「實脾土，燥脾濕，是治痰之本也。」又曰：「二陳湯，一身之痰都管，治痰之要藥也。欲上行，加引上藥；欲下行，加引下藥。」吾子以此言非丹溪語耶？余曰：此蓋指脾胃濕化之痰也。脾胃為水穀之海，五臟六腑之所受氣者也。人之七情居處，不能一一中節，稍有悒鬱，則氣血凝滯，津液不行，痰斯生矣，故丹溪每以實脾土燥脾濕而言也。如「痰在脅下，非白芥子不能達。痰在四肢，非竹瀝不行。痰在皮裡膜外，非薑汁竹瀝不除。氣虛之人有痰，非竹瀝不開」。又曰：「痰結核在咽喉，燥不得出，以化痰藥加咸能軟堅之味，栝蔞仁、杏仁、海石、桔梗、連翹，少佐以朴硝，以薑汁蜜丸噙化」。又曰：「天花粉大能降上膈熱痰。海粉，熱痰能降，濕痰能燥，結痰能軟，頑痰能消。枳實治痰，能沖牆壁。人中黃能降陰火，而清食積之痰」。又曰：「痰因火盛逆上，治火為先，白朮、黃芩、石膏之類。久病陰火上升，津液生痰不生血，宜補血制相火，其痰自除」。丹溪未嘗純倚二陳為用矣，以上述治痰之藥，亦不為不多矣，丹溪何嘗固執於此，蓋以意立法耳。醫者貴乎貫通達變則得之，否則何以異於刻舟求劍也。</p>

<h2>三十、咳嗽</h2>
<p>生生子曰：古云：咳者，謂無痰而有聲，肺氣傷而不清也。嗽者，謂有痰而無聲，脾濕動而生痰也。今曰咳嗽者，既有聲而復有痰也。然其病不一，有五臟咳，有六腑咳，有六氣咳，有虛咳，有實咳，有水咳，有火咳，種種不同，用藥亦異。觀古人立方，多所重於肺部，有清肺者，有保肺者，有斂肺者，有瀉肺者，有補肺者。五者，謂肺屬金而主乎聲者也。惟肺也，外統皮毛，為一身之護衛，內為華蓋，作五臟之至尊，肺受百脈之朝，故病每干於肺，設不幹肺，抑何咳焉？是以治咳必兼於肺。至於清痰降火，流濕潤燥，補腎疏風者，莫明於《丹溪纂要》，條分列治，極為詳盡；但主嗽多，咳少耳。學者宜於是而擴充之，則思過半矣。</p>

<h2>三十一、哮</h2>
<p>生生子曰：丹溪云：「哮者，專主於痰，宜用吐法。亦有虛而不可吐者，必使薄滋味；不可純用寒涼，必兼散表。」此深造病情者也。其間，亦有自童幼時，被酸鹹之味，或傷脾，或搶肺，以致痰積氣道，積久生熱，妨礙升降，而成哮症。一遇風寒即發，緣肺合皮毛，風寒外束，弗得發越，內熱壅鬱，新痰復生，因新痰而致舊痰並作也。是以氣高而哮，抬肩拮項，不得仰臥，面赤頭疼，惡寒發熱，治宜散表，表散熱解，氣道流通，庶亦暫可。有飲食厚味傷脾，不能運化而發者，脾傷則津液不得布散而生痰涎，壅塞經隧，肺氣為之不利，則胸滿腹痛，盜汗潮熱，晝夜發哮，聲如拽鋸，治宜消食健脾，清痰利氣，斯亦定矣。有房勞太過，腎水衰少，不能制火下降，火寡於畏，而侮所勝，肺金受傷，金傷則生化之源絕矣。病則下午潮熱，哮聲如雷，頭疼面赤，盜汗煩躁，晝輕夜重，脈數無力。治當補腎制火，清金潤燥，庶或得安。有氣逆而發者，《經》曰：怒則氣上，有升無降。又曰：大怒則火起於肝。又曰：上升之氣，自肝而出，中挾相火。肺虛不能平木，病則胸滿脅痛，耳聾眼赤，氣出如火，治宜抑肝利氣。是痰也，氣厚者，當劫而吐之，拔其病根；根拔又當速補中氣，中氣充實，痰不再作矣。</p>

<h2>三十二、喘</h2>
<p>生生子曰：《內經》云：「諸氣憤郁，皆屬於肺。」諸滿喘嘔，亦屬於肺，以肺主氣者也。諸喘氣逆者，乃陽火急數而然也。一呼一吸為一息，呼隨陽出，吸隨陰入，呼吸之間，脾受其氣，通乎營衛，合乎陰陽，熱則息急氣粗，寒則息遲氣微。今之喘逆，由火熱而息急也，或六淫所傷，七情所感，或脾腎俱虛，或脾濕腫滿，或本臟氣虛，或瘀血傷滯，皆所以致之，要當合脈認病，合病制方，庶無差失之患矣。</p>
<p>又曰：方書有云治喘嗽者，有云治痰喘者，有云治喘逆氣急者，有云氣喘者，不可不分別明白，究治此病，虛實攸系匪輕。驗今之喘嗽者，既嗽而兼有喘聲也。痰喘者，喉中有痰，或出或不能出，抬肩擷項者是也。喘逆氣急者，無痰嗽而獨氣急作喘聲也。氣喘者，較逆急勢則稍緩耳。前二者，兼痰兼嗽，蓋有雜症以干之，故治有汗吐下之不同也，後二者，乃本臟氣虛，或陰虛火動，及產後喘急者，為孤陽幾於飛越，治惟補之、斂之。攻補之不同，由虛實之異路也；少有差忒，則輕者重，重者死矣。予於喘嗽二病，尋究端倪，會類治法，逐證填方，不以重複自嫌，其間蒐集不盡者，將俟後之明敏，藉此為左券云爾。</p>
<p>喘而無汗者，宜解表。</p>
<p>喘而有汗者，宜和營衛，固腠理。</p>
<p>腹滿，脈沉實者，為內實，當下之。</p>
<p>發時有痰吐出者，宜化痰。</p>
<p>發時有痰不能出者，宜開提之。</p>
<p>食積痰逆者，宜導痰運脾。</p>
<p>飲水多者，宜滲利之。</p>
<p>久嗽不已，痰壅胸膈氣實者，宜吐之。</p>
<p>心火形肺者，宜清心熱。</p>
<p>氣從小腹上衝，乃衝脈之火，宜調中益氣湯加黃柏、知母以降之。</p>
<p>脈數無力者，宜滋陰降火。</p>
<p>產後喘急者，郭氏謂孤陽絕，陰極，為難治。</p>
<p>本臟氣虛及久喘，攻擊太過者，宜人參、五味、阿膠之類補之。</p>
<p>新喘氣實者，宜葶藶、枳殼、桑皮之類瀉之。</p>
<p>腫滿脾虛，不能攝水，上迫於肺，喉中作水雞聲者，或小青龍湯，或導水丸，桑皮、赤小豆、瞿麥之類決之。瘀血凝滯胸膈者，或韭汁之類以活之。</p>

<h2>三十三、論汗不可純作血看當以氣看為妥</h2>
<p>生生子曰：《靈樞經》云：「汗者，心之液」。又曰：「奪汗者無血，奪血者無汗」。故今人多認汗為心血也。愚謂五臟皆有汗，不獨心有之也。《經脈別論篇》曰：「飲食飽甚，汗出於胃。驚而奪精，汗出於心。持重遠行，汗出於腎。疾走恐懼，汗出於肝。搖體勞苦，汗出於脾。」夫汗，不過一氣而已。此氣者，乃五穀之精，氣靜則化而為血，以養生身（《靈樞經》曰：血者，神氣也，血之與氣，異名而同類焉）。擾則越而為汗（不待化而氣先發越也）。《易》曰：「地氣上而為云，天氣下而為雨。」《陰陽應象大論篇》曰：「陽之汗，以天地之雨名之。」良以此也（啟玄子注曰：夫人汗泄於皮腠者，是陽氣之發泄爾，然其取類於天地之間，則云騰雨降而相似也）。</p>

<h2>三十四、論五郁</h2>
<p>生生子曰：《內經》有五郁之論，謂「木鬱達之，火鬱發之，土鬱奪之，金鬱泄之，水鬱折之。」雖統揭夫郁之名，而未顯言夫郁之症，與詳明其達、發、奪、泄、折之義。惟是後之人認達為吐，認發為發汗，以泄為解表利小便，以奪為下，以折為抑其沖逆，意義未必非是，恐於經義未之盡也，余故縷析五郁之症，並治法焉。</p>
<p>夫五臟一有不平則鬱。達，是條達或通達也，發是發越，泄是疏泄，奪是攘奪，折是決折。何者？夫《內經》曰：木鬱達之，木鬱者，肝鬱也。達者，條達、通達之謂也。木性上升，怫逆不遂，則鬱。故凡脅痛耳鳴，眩運暴僕，目不認人，皆木鬱症也。當條而達之，以暢其挺然不屈之常（如食塞胸中，而肝膽之氣不升，故胸腹大痛，宣而吐之，以舒其木之氣，是在上者因而越之也。木鬱於下，脅疼日久，輕則以柴胡、川芎之類開而提之，亦條達之意也；重則用當歸龍薈丸摧而伐之，孰非通達之意歟）。</p>
<p>火鬱發之，火鬱者，心郁也。發者，發越之謂也。火性炎上，怫逆不遂，則鬱。故凡瞀悶目赤，少氣瘡瘍，口渴溲黃，卒暴僵仆，嘔噦吐酸，瘛瘲狂亂，皆火鬱症也。當發而越之，以返其自然之常（又如五心煩熱，肌膚大熱，過食冷物，抑遏陽氣於脾土之中，以火鬱湯、升陽散火湯，皆發之之意也，又謂從其性而揚之。思想無窮，所願不遂，悒鬱不樂，因生痰涎，不進飲食，或氣不升降，如醉如癡，以木香、石菖蒲、生薑、雄黃之類帥而動之，亦發之之意也。小便渾濁，瘡瘍舌疳，以黃連解毒湯、導赤散、八正散之類引而下之，孰非越之之意歟）。</p>
<p>土鬱奪之，土鬱者，脾郁也。奪者，攘奪之謂也。土性貴燥，惟燥乃能運化精微，而致各臟也。壅滯漬濡，則鬱。故凡腫滿痞塞，胕腫，大小便不利，腹疼䐜脹，皆土鬱症也。當攘而奪之，以復其健運之常（又如腹中窒塞，大滿大實，以枳實導滯丸，木香檳榔丸、承氣湯下而奪之，是中滿者，瀉之於內也。飲食傷脾，痞悶，痰涎日生，以橘半枳朮丸；憂思痞結，不思飲食，腹皮微急，以木香化滯湯、消痞丸消而磨之，亦攘之之意也。諸濕腫滿，胕腫，濕熱發黃，以實脾利水之劑燥之，孰非攘而奪之之意歟）。</p>
<p>金鬱泄之，金鬱者，肺郁也。泄者，疏泄之謂也。金貴空清，壅塞窒密，則鬱。故凡咳逆，喉疼聲啞，胸滿喘息，抬肩擷項，肌熱，鼻塞嘔膿，皆金鬱症也。當疏而泄之，以肅其清降之常（又如傷風，咳嗽鼻塞，以參蘇飲、人參敗毒散，皆疏之之意。胸膈停飲，或水飲入肺，喉中如水雞之聲，或肺癰嘔膿血，以葶藶大棗瀉肺湯治之，孰非泄之之意歟）。</p>
<p>水鬱折之，水鬱者，腎郁也。折者，決折之謂也。水貴沉靜，搏激窒塞，則鬱。故凡冷唾上湧，水腫腹脹，腰膝不利，屈伸不便，皆水鬱症也。決而折之，以導其東歸之常（又如腎氣抑鬱，邪水泛上而冷唾，以茯苓、澤瀉之類導而下之，決之之意也。腰臍疼痛，不可俯仰，或如奔豚之狀，以桂心之類折之，或小便癃疼，久亢不泄，而為白濁，以小茴香、澤瀉、黃柏之類治之，孰非決之之意歟）。是皆因其曲而直之也，舉其概則余可推矣。若以達為吐，以發為汗，以泄為解表利小便，以奪為下，以折為抑其沖逆，然固然，於經義恐猶未盡善也。且後文又曰：「然調其氣，過者折之，以其畏也，所謂瀉之。」愚謂過者，淫勝之謂也，折之者，謂裁之也，如木勝助之以辛，火勝助之以咸之類，投其畏而伐之，故曰：「五臟一有不平，所勝平之，遞相濟養，交互克伐」，此之謂也。</p>

<h2>三十五、論嘔血</h2>
<p>生生子曰：經云：怒則傷肝，甚則嘔血並飧泄。又曰：心主血，肝藏血，脾統血。怒氣上逆，則脾氣受傷，所藏所統之血，皆妄行而錯亂也。古方有用芎附飲治之而效者，良由川芎、香附，能調肝氣，氣和而血歸經也。丹溪有用桂五錢為末，冷水調服者。緣桂能和榮衛，通血脈，木得桂而枯，且又為從治之法，故不獨恃寒涼為治也。必須參之脈證，如脈微弱虛軟，精神疲憊，急當獨參湯進之。如脈洪大弦長有力，精神不倦，或覺胸中氣塞，或血是紫黑塊者，當以承氣湯下之，此釜底抽薪法也。若勢緩而色鮮紅，宜以葛可久十灰散、阿膠、血餘灰之類止之。或調氣，或下或止，全在臨症活法，勿得執一以戕生也。</p>
<p>滑伯仁曰：血溢、血泄、諸蓄妄證，其治也，予率以桃仁、大黃行血破瘀之劑，以折其銳，而後區別治之。或問：失血復下，虛何以當行血破瘀之劑？予曰：血既妄行，迷失其道，不去蓄利，則以妄為常。曷以御之？且去者自去，生者自生，何虛之有。且如婦人行經，有五六日不止者，有十數日不止者，可見去者自去，生者自生也；乳婦亦然。</p>
<p>生生子曰：時師治血，愛用寒涼，每每畏用溫、補二法，亦偏見也。夫有寒當溫，有虛當補，聖哲不能廢其規，但要體認切當，毋輕舉也。假使胃寒，或久為寒涼所激，以至血不歸經，不溫可乎？暴吐暴衄，昏運軟倒，不補可乎？故王海藏治飲冷傷脾吐血，以理中湯理治中脘，分利陰陽，此亦理治內衄之法也。《三因方》曰：理中湯能止傷胃吐血，以其功最理中脘，分利陰陽，安定血脈。葛可久治吐血昏運，用獨參湯。仲景曰：血脫益氣。東垣曰：陽生陰長。皆有旨趣，實法在當用而用也。設若陰虛火動，咳嗽已久，肺有伏火，痰帶血絲，或紫色血屑，又當滋陰潤肺，開鬱清痰，而前劑未敢以輕試也。是知咳血、嗽血、痰帶血絲，惟當滋陰潤肺為先，暴吐昏運，卻宜補虛溫脾為最。全在體察病源，勿致偏癖，斯為良師。</p>
<p>滑伯仁曰：諸見血非寒證，皆以為血熱所迫，遂至妄行；熱皆復有所挾也，或挾風，或挾濕，或挾氣。又有因藥石而發者。其本皆然，上中下治，各有所宜。在上，則梔子、黃芩、黃連、芍藥、犀角、蒲黃，而濟以生地、牡丹皮之類。胃血，古人有胃風湯，正是以陽明火邪，為風所扇，而血為之動。中間有桂，取其能伐木也，若蒼朮、地榆、白芍藥之類，而濟以火劑。大腸血、以手陽明火邪，為風為濕也，治以火劑、風劑，風能勝濕也。如黃連、芩、芍藥。柏皮、荊芥、防風、羌活之類，兼用雞冠花，則述類之義也。</p>
<p>又曰：驚而動血者屬心，怒而動血者屬肝，憂而動血者屬肺，思而動血者屬脾，勞而動血者屬腎。</p>

<h2>三十六、論咳血</h2>
<p>生生子曰：咳血多是火鬱肺中，治宜清肺降火，開鬱消痰，咳止而血亦止也。不可純用血藥，使氣滯痰塞，而鬱不開，咳既不止，血安止哉！設下午身熱，而脈細數，此真陰不足，當清上補下。</p>

<h2>三十七、論齒衄</h2>
<p>生生子曰：有侄女十歲，因毀齒動搖，以苧麻摘之，血因出不止，以小瓦盆盛之，一日夜積十一盆，用末藥止其處，少頃復從口中吐出，身亦不倦，亦事之希覯也。可見人身之血，不可測量。診其脈，皆洪大有力。以三制將軍末子二錢，用枳殼湯少加童便調下。是夜之半，去黑糞數塊，其血頓止，再不復發。後又見一男子，每齒根出血盈盆，一月一發，百藥不效，歷十餘月。每發則昏昧，知其人好飲，投前劑一服而安。又一老嫗患此，一發五七日，一日約有升余，投前劑亦安，所下皆有黑糞。是知此疾，多陽明熱盛所至者。緣沖、任二脈，皆附陽明，陽明者，多氣多血之經也。故一發如潮湧。急則治其標，故投以釜底抽薪之法，應手而愈。要知腎虛血出者，其血必點滴而出，齒或攸攸而疼，必不如此之暴且甚。有餘不足，最要詳認。</p>

<h2>三十八、顫振</h2>
<p>有謂作諸禁鼓慄者，非也。諸禁鼓慄，乃鬥牙戰搖，似寒而實熱也。夫顫振，乃兼木氣而言，惟手足肘前戰動，外無凜慄之狀。</p>
<p>生生子曰：顫振者，人病手足搖動，如抖擻之狀，筋脈約束不住，而莫能任持，風之象也。《內經》云：諸風掉眩，皆屬肝木。木主風，風為陽氣，陽主動，此木氣太過，而克脾土，脾主四肢，四肢者，諸陽之末，木氣鼓之故動，經謂「風淫末疾」者此也，亦有頭動而手足不動者，蓋頭乃諸陽之首，木氣上衝，故頭獨動而手足不動：散於四末，則手足動而頭不動也。皆木氣太過，而兼火之化也。木之畏在金，金者土之子，土為木克，何暇生金。《素問》曰：「肝，一陽也，心，二陽也，腎，孤臟也。一水不能勝二火。」由是木挾火勢而寡於畏，反侮所不勝，直犯無憚，《難經》謂木橫乘金者是也。此病壯年鮮有，中年以後乃有之，老年尤多。夫老年陰血不足，少水不能滅盛火，極為難治，前哲略不及之，惟張戴人治新寨馬叟，作木火兼痰而治，得效。遇此症者，當參酌厥旨，而運其精思云。</p>

<h2>三十九、相火篇</h2>
<p>（附相火辯）</p>
<p>生生子曰：《內經·氣交變大論篇》云：「南方生熱，熱生火，其令熱，其變消爍，其災燔焫。」運氣五行生死順逆篇曰：火主於南，應夏。火之為言，化也，言能化生萬物也。六氣之中，君火為二之氣，經以熱稱之。相火為三之氣，經以暑稱之。暑之與熱，皆火令也。六化篇曰：在地成形，在天為氣，行有五而氣有六，以分君火、相火之化。六氣化者，謂寒、暑、燥、濕、風、火也。乃天之元氣。六氣皆有一化，舉大概也。君火之化熱，主春末夏初，行暄淑之令，而不行炎暑，應君之德也。相火之化暑，主於夏。夏之為言，大也，與午同意，炎暑乃行。人有觸其氣者，皆令氣之病也，當從四時令氣之治，非病機中五臟厥陽之火同治也。五臟厥陽之火所致之疾，當從病機之治。蓋令氣之火，自外而治者；病機之火，自內而生者。內外致疾之原不同，則治法當合求其所屬矣（病機出《至真要大論篇》）。</p>

<h3>附：丹溪《相火篇》辯</h3>
<p>生生子曰：火為五行之二，化生之機，在天在人，不可一日而無，諸書雖往往於雜症中言之，然未有能分君相之名，及明令氣之序，是以多認陰火為相火，又有以五志之火為相火，即明達精詣如丹溪，而《格致餘論·相火篇》，亦以龍雷之火為相火，又分君火為人火，相火為天火，愚甚惑焉。嘗按《內經·陰陽應象大論篇》有壯火氣衰，少火氣壯之言，《天元紀大論篇》有君火以名，相火以位之言，並無天火、人火、龍雷火之說，至丹溪而始言之。何哉？愚度丹溪之意，既謂肝腎之陰悉具相火，是以指肝腎之陰火為相火。又曰：見於天者，出於龍雷，則木之氣；出於海，則水之氣。或以龍雷皆動物，凡動皆屬火，故以相火為天火耶。假若以動皆屬火，而遂以相火為天火，然則君火亦有動之時也，獨不可屬之天哉？愚謂火為造化生息之機，不能不動，第不可以妄動。火有天人之分，不可以君相分屬天人。何言之？蓋天有六氣，君火主二之氣，相火主三之氣，是君相皆可以天火稱也。人有十二經，十二經中心為君火，包絡、三焦為相火，是君相皆可以人火稱也。故以天之六氣言，則二之氣，三之氣，歲歲若是，為亙古不易之常運。以人身言，則心為君火，包絡三焦為相火，亦亙古不易之定論。君火、相火，皆有定體，以裨助生生不息之功，不可一日而無，故曰：天非此火，不能生物，人非此火，不能有生。若彼肝腎雖皆有火，乃五志之淫火，而非五行之正火，致人疾而為元氣之賊，不可一日而有也。今丹溪不以六氣之火為天火，而以肝腎陰火為龍雷之火，為天火；不以七情所感之火為人火，而以君火為人火。夫肝藏血，腎藏精，彼謂悉具相火，愚不知其何所見也。</p>
<p>且經以君火主春末夏初，二之氣，以熱稱之，丹溪乃謂經以暑與濕言之。夫暑，屬三之氣，濕，屬四之氣，各有主之者，與君火何預？經以相火主三之氣，以暑稱之，丹溪乃言經以火稱之，謂其暴悍酷烈於君火指為元氣之賊，大與經旨相牴牾。所以然者，良由認相火未真，故其立言支離多病，前後自相矛盾。至於君火以名，相火以位之言，亦不能暢條其義。夫君火以名者，蓋以君雖屬火，然至尊無為，惟正火之名，故曰君火以名。相火以位者，蓋相宣行火令，而守位稟命，故曰相火以位，猶之宰相奉行君令，為職位所宜然也。彼於相之名義未明，是以相火之論未當也。愚始閱此篇，疑非丹溪之筆，已而詳玩筆勢，與其他撰著相類，或出於一時之意見，未遑稽考，不然，登梓時亦未暇校正竄易耶，釋今不為辯校，則後之學者，不知從丹溪之長，徒執迷其陰火為相火之說，卒之認相火為賊火，不知以五志之火為賊火，其誤人也甚矣！溯丹溪初心，本欲開後之聾瞽，不知此論，使聾瞽者益聾瞽也，愚故願為丹溪之忠臣，不憚辯駁者，正欲成丹溪惠後之心，又何暇計僭逾之罪哉，同志者幸亮之。</p>

<h2>四十、泄瀉辯</h2>
<p>生生子曰：按泄瀉二字，取義必有輕重，非一症而無分別者也，何也？據書有云泄者，有云瀉者，有云泄瀉者，假使無分別，經何分言之若是。愚謂糞出少而勢緩者，為泄，若漏泄之謂也。糞大出而勢直下不阻者，為瀉，傾瀉之謂也。姑參出以俟明哲正焉。</p>

<h2>四十一、防暑論</h2>
<p>生生子曰：欲防夏之傷暑者，在於冬之藏精也。暑者，火令也，人與天地，同一橐籥，故天地之氣有升降，人之氣亦隨之。夏月六陽之氣盡出於地，人之腹亦地也，氣浮於外，腹中虛矣。虛而勞動不常，則病生焉。況人不善攝生者多，於冬月陽氣潛藏之時，斫喪過甚，精氣虛竭。精氣者，天真本然之氣也，積此為來春發生之本，本一虛竭，則生元絕矣。《經》曰：冬不藏精者，春必病溫，夏必煎厥。人有春末夏初，患頭痛體熱，食少自汗，怠惰嗜臥者，此注夏病也，仲景謂：「春夏劇，秋冬瘥」者是也。暑為盛夏火令之極，陽氣既浮，陰血又竭，幾何不病？苟或攝養不當，動勞失矩，氣血復耗，神將何依，於是卒暴僵仆、迷悶霍亂之症迭出不已。孫真人教人以五月常服生脈散，蓋謂脈者，氣血之先；氣血者，人之神也。火令熱傷元氣，以人參能補天真之元氣也。五味收斂浮散之氣，不使飛越，又能滋肺補腎，庶免二臟真陰枯竭。以門冬復脈通心，生津潤燥。三味和協，同為補劑，名曰生脈散，是亦救其冬不藏精之失也。雖然，施於體厚未病之先，力則易為，若稟弱既病者，抑亦難矣，故善防暑月之病者，不若保腎水於冬月未病之先也。東垣論暑，兼脾胃虛弱而言，甚為詳悉，丹溪載夏月伏陰在內，戒用燥熱，《玉機微義》與載籍間所載暑病，尤班班焉，皆當細玩，學者能潛心貫而通之，無餘蘊矣。</p>

<h2>四十二、痿論</h2>
<p>生生子曰：世之病痿者甚多，而治痿之法甚少，考之《內經》，且特立篇目，非泛常總括病機者倫也。治法之少，由後人或未能盡悉經旨，今按《內經》，皆以氣熱為五痿受病之胎，則可見痿之病本，皆自氣熱中來也。何者？痿躄之始，五臟因肺熱葉焦，遞相傳染。緣肺者，統諸氣，心之蓋，臟之長，君之相傅，而治節之所由系焉。五痿之疾，殆肺之一氣流傳，猶宰相承一旨以令天下也。觀其獨取陽明為治，不以五痿異者，此又可見以肺熱為本，而五痿為標，故治獨取陽明，是謂定於一也。此「取」字，有教人補之之意，非所謂攻取也。蓋陽明乃五臟六腑之海，主潤宗筋。又衝脈者，經脈之海。與陽明合於宗筋。陰陽總宗筋之會，會於氣街，而陽明為之長，皆屬於帶脈，而絡於督脈。陽明虛則宗筋縱，帶脈不引，故足痿不用。茲補其陽明，使穀氣充，衝脈盛，帶脈引，宗筋潤，是以能束骨而利機關，故其治獨取陽明，而不以五痿異也。既得以熱字為本，陽明為用，臨症處方，則在人自擴充之，書曷能盡所言哉。</p>
<p>丹溪曰：《內經·痿論》，肺熱葉焦、五臟因而受之，發為痿躄。又曰：諸痿皆屬於上，指病之本在肺也。或曰：《內經》治痿之法，獨取陽明何也？曰：諸痿生於肺熱，只此一句、便見治法大意。《經》曰：「東方實，西方虛，瀉南方，補北方。」此固是就生克言補瀉，而大經大法，不外於此。五行之中，惟火有二，腎雖有兩水，惟其一陽常有餘，陰常不足，故《經》曰：一水不能勝二火，理之必然。金體燥而居上，主氣，畏火者也。土性濕而居中，主四肢，畏木者也。火性炎上。若嗜欲無節，則水失所養，火寡於畏，而侮所勝，肺得火邪而熱矣。木性剛急，肺受邪熱，則金失所養，木寡於畏，而侮所勝，土得木邪而傷矣。肺熱則不能營攝一身，脾傷則四肢不能為用，而諸痿之病作。瀉南方，則肺金清，而東方不實，何脾傷之有？補北方，則心火降，而西方不虛，何肺熱之有？故陽明實則宗筋潤，能束骨而利機關矣。治痿之法，無出於此。駱龍吉亦曰：風火相熾，當滋腎水。東垣先生取黃柏為君，黃耆等藥為輔佐，而無一定之方，有兼痰積者，有濕多者，有熱多者，有濕熱相半者，有挾寒者，臨病制方，其善於治痿乎！雖然，藥中肯綮矣，若將理失宜，聖醫不治也，但是患痿之人，若不淡薄滋味，吾知其必不能安全也。</p>
<p>生生子曰：劉宗厚謂治痿方多缺略者，皆因混入中風條內故也，此皆承丹溪治痿不得作風治，斯言深得病旨。風乃外入者，故當逐散；痿則內藏不足所致，治惟有補而已。但丹溪痿篇中，既以《內經》治痿獨取陽明之說設為或問矣，乃不答所以取陽明之旨，而以《難經》瀉南補北之法，摘為治痿之方，斯亦法外變通之意，第不思所問取陽明之義，竟何所發明，是欲彰之而覆蔽之也。胡不曰陽明者，胃也，坤土也，萬物之所以資生焉，為脾之表，脾胃一虛，肺氣先絕，肺虛則不能宣通臟腑，節制經絡；必胃厚則脾充，脾充則能布散津液，使臟腑各有所稟受，四肢健運，如是則何有於葉焦，何有於痿躄也。要知痿之終始，只在肺胃之間而已矣。肺熱葉焦，則不能節制諸經，胃氣虛弱，則臟腑無所受氣。帶脈不引，宗筋枯槁，而痿躄之所由兆。故《內經》治痿，所以獨取乎陽明也，以陽明為五臟六腑之海也。「獨」之一字，是謂足可以盡其治之辭。彼丹溪瀉南補北之法，或可以施肺腎之痿，其於肉痿，敢試之乎？《經》曰：「肌肉濡漬，痹而不仁，發為肉痿。」啟玄子注曰：肉屬於脾，脾惡濕，濕著肌肉，則衛氣不營，故發為肉痿也。據此，則瀉火補水之法，可得以概治肉痿乎否也？丹溪天資甚高，筆力尤健。凡天資高者，或一時之興，隨筆成文，或自執己見以為是，不復更檢，觀篇後盛讚東垣治痿之善，即可以見其天分，惜乎不以東垣之善返照，未免自是之為累歟。</p>

<h2>四十三、癲狂癇辯</h2>
<p>生生子曰：諸書有言癲狂者，有言癲癇者，有言風癇者，有言風癲者，有言驚癇者，有分癲癇為二門者，略無定論。究其獨言癲者，祖《內經》也。言癲癇，言癲狂者，祖《靈樞》也。要之，癲、癇、狂，大相徑庭，非名殊而實一之謂也。《靈樞》雖編癲狂為一門，而形症兩具，取治異途，較之於癇，又不相侔矣。諸書有云大人為癲，小兒為癇，此又大不然也。《素問》謂癲為胎病，自母腹中受驚所致，今乃曰小兒無癲，可乎？癇病，大人歷歷有之，婦人尤多，予故據經文分為三目，庶治者有所辯別云。</p>
<p><u>明癲症</u></p>
<p>夫癲者,或狂或愚，或歌或笑,或悲或泣，如醉如癡，言語有頭無尾，穢潔不知，積年累月不愈，俗名曰心風。此志願高大，而不遂所欲者多有之。</p>
<p><u>明狂症</u></p>
<p>夫狂者，猖狂之謂也。言其病之發，猖獗剛暴，有如《傷寒論》陽明大實發狂，罵詈不避親疏；甚則登高而歌，棄衣而走，逾牆上屋，持刀執棍，日夜不止；狎之則笑，忤之則怒，如有邪依附者是也。</p>
<p><u>明癇症</u></p>
<p>夫癇，時發時止者是也。有連日發者，有一日三五發者。或因驚，或因怒，而動其痰火。發則昏昧不知人事，耳無所聞，目無所見，眩仆倒地，不省高下。甚而瘛瘲抽掣，目作上視，或口眼歪斜，或口作六畜之聲。將醒時必吐涎沫。彼癲狂，皆無以上證也。用此辯之，亦易詳明，大抵皆痰火所致。</p>

<h2>四十四、鼻鼽</h2>
<p>生生子曰：按鼻鼽一症，今人患者甚多，考諸古方，鮮有言其病因者，惟運氣曰：火攻肺虛，鼻鼽。少陰司天，熱氣下臨，肺氣上從，鼽衄鼻窒。又云：少陰司天，熱淫所勝，民病鼽衄嚏嘔。又云：少陽司天，火淫所勝，甚則鼽衄。又歲金不及，炎火乃行，民病鼽嚏。又曰：陽明所至為鼽嚏。據運氣，皆以火熱司令為言，火剋金，熱傷肺，蓋以鼻為肺之竅也。雖云少陰、少陽熱火司令之年為病，然亦只是腸胃素有痰火積熱者，乃有此感也。不然，火熱主令之歲，三年之內，曷常無之，未嘗人人有此病也，吾故曰，必腸胃素有痰火積熱者，然後有此感也。何者？大腸，肺之府也，胃、五臟之所受氣者也。《內經》曰：「九竅不利，腸胃之所生也。」鼻主無形者，經曰：清氣通於天，又曰：鼻主天氣。愚謂腸胃設無痰火積熱，則其平常上升之氣，皆清氣也，縱火令之年，何豫耶？若夫腸胃素有痰火積熱，則其平常上升之氣，皆氳而為濁耳。金職司降，喜清而惡濁，今受濁氣熏蒸，凝聚既久，壅遏鬱結，而為痰涕。至於痔珠、瘜肉之類，皆由積久，燥火內燔，風寒外束，隧道壅塞，氣血升降，被其妨礙，澆培彌厚，猶積土而成阜也。據運氣云云，純以火熱司令之歲，火氣下臨，肺氣上從，乃成鼻鼽嚏衄之症，假令水濕司令之歲，必無鼻鼽嚏衄，而鼻鼽嚏衄之證，必待火熱司天之歲而能成耶？噫！如斯而談，則鑿矣。觀仲景《傷寒論》，太陽症，當與麻黃湯，不與者，必成鼻衄。又見今人，每每感風寒，隨時鼻塞濁涕，及素有鬱熱者，微觸風寒，即鼻塞嚏涕。或調理失宜，積年累月，竟成鼻鼽、鼻淵者，往往有之。《內經》曰：「膽移熱於腦，則辛頞鼻淵，」又曷嘗必待火熱司令而後始致此病耶。愚故曰：必腸胃素有痰火積熱，又值火熱當權之年，內外之火夾攻，於此時有甚耳。或曰：子以運氣之言為不足徵歟，何今之按天時，占歲候，與夫驗豐旱，及諸星卜家，動輒取應，吾恐後之吹毛者，將藉此以非子矣，子曷逃乎？予曰：愚亦深知僭逾為非，而無所逃也，愚又奚敢謂運氣為不足徵也，夫運氣云者，指歲運火令當權，所不勝者受邪，是大略以理該之也，否則咳嗽吐血肺癰等症，又何莫而非火剋金之候耶？愚之所謂腸胃痰火積熱者，即病因也，於運氣有所核而無相悖戾焉，知我者，其鑑諸。</p>

<h2>四十五、鼻淵</h2>
<p>（俗名腦漏）</p>
<p>生生子曰：按書云：鼻流清涕者為鼻鼽，流濁涕者為鼻淵。《內經·氣厥論篇》曰：「膽移熱於腦，則辛頞鼻淵。鼻淵者，濁涕下不止也。傳為衄蔑瞑目，故得之氣厥也。」啟玄子注曰：厥者，逆也，腦液下滲，則為濁涕，涕下不止，如彼水泉，故曰鼻淵也。足太陽脈，起於目內眥，上額交巔，上入絡腦。足陽明脈，起於鼻交頞中，傍約太陽之脈。今腦熱，則足太陽逆與陽明之脈俱盛，薄於頞中，故鼻頞辛也。辛，謂痠痛。予嘗以防風通聖散，除硝、黃，其滑石、石膏減半，倍加辛夷花，先服三五帖，再用此為丸，每服七十丸，早晚白湯吞服，半斤則瘳矣。</p>

<h1>下卷</h1>

<h2>四十六、脅痛</h2>
<p>余弟於六月赴邑，途行受熱，且過勞，性多躁暴，忽左脅痛，皮膚上一片紅如碗大，發水泡瘡三五點，脈七至而弦，夜重於晝。醫作肝經鬱火治之，以黃連、青皮、香附、川芎、柴胡之類，進一服，其夜痛極，且增熱。次早看之，其皮膚上紅大如盤，水泡瘡又加至三十餘粒。醫教以白礬研未，井水調敷，仍於前藥加青黛。龍膽草進之。其夜痛苦不已，叫號之聲，徹於四鄰，脅中痛如鉤摘之狀。次早觀之，其紅已及半身矣，水泡瘡又增至百數。予心甚不懌，乃載歸以詢先師黃古潭先生，先生觀脈案藥方，哂曰：切脈認病則審矣，製藥訂方則未也。夫用藥如用兵，知已知彼，百戰百勝，今病勢有燒眉之急，迭卵之危，豈可執尋常瀉肝之劑正治耶？是謂驅羊搏虎矣！且苦寒之藥，愈資其燥，以故病轉增劇。水泡瘡發於外者，肝鬱既久，不得發越，乃侮其所不勝，故皮腠為之潰也，至於自焚則死矣，可懼之甚！為訂一方，以大栝蔞一枚，重一二兩者，連皮搗爛，加粉草二錢，紅花五分。戌時進藥，少頃就得睡，至子丑時方醒，問之，已不痛矣。乃索食，予禁止之，恐邪火未盡退也。急煎藥渣與之，又睡至天明時，微利一度，復睡至辰時。起視皮膚之紅，皆已冰釋，而水泡瘡亦盡斂矣，後亦不服他藥。夫病重三日，飲食不進，呻吟不輟口，一劑而愈，真可謂之神矣。夫栝蔞味甘寒，《經》云：「泄其肝者，緩其中。」且其為物，柔而滑潤，於郁不逆，甘緩潤下，又如油之洗物，未嘗不潔。考之本草，栝蔞能治插脅之痛，蓋為其緩中潤燥，以致於流通，故痛自然止也。</p>

<h2>四十七、腹中水塊作痛</h2>
<p>生生子曰：一婦三十五歲無子，恐夫娶妾致郁，經不行者三月矣，病腹痛惡心，諸醫皆云有孕，其夫亦粗知醫，舉家欣喜，治以安胎行氣止痛之藥，服三五十帖不效，痛苦益甚。凡未申時發寒熱，腹中有塊，如彈子大者二三十枚，翻騰作痛，行動則水聲漉漉，痛極則吐酸水五六碗，吐盡則塊息而寒熱除，痛亦不作，明日亦然。又作瘧治，轉劇。召予診，左手弦尺澀，右手濡弱，重取則滑，尺同左。時經已五月不行矣。予曰：此郁病也，豈有澀脈成孕之理？若然，則前藥當效矣。其夫亦悟，乃為制方，以二陳加香附、山梔、撫芎、玄胡、當歸、紅花之類，藥進而痛止，連與四帖，皆效，但藥止則痛發如故，調治一月，不能除根。予因持脈案見先師黃古潭先生，先生乃諭予曰：此鬱火病也。其病起於肝膽，蓋肝主謀慮，膽主決斷，謀不決則鬱生，郁生則木盛，木盛則凌脾，脾傷則不能運化精微，而生氣血，以故月水不來也。肺金失於母養，則降殺之令不行，木寡於畏，而侮所不勝，是以直衝犯清道，以作吐也。吐後諸症皆減者，木升而火息也。為裁一方，以黃耆五錢，柴胡三錢，白芍藥二錢，甘草一錢，陳皮、貝母、枳實各五分，姜三片。一劑而寒熱除，再劑而痛減吐止，水聲亦絕，七日不發。其夫喜曰：是何神速也！乃拉予復請命於先生，先生曰：夫寒熱者，少陽膽也，吐酸者，厥陰肝也，痛而復塊翻騰者，火盛激動其水，如鍋中湯滾，泡浪沸騰是也。吐多則肺金愈傷。故用黃耆補肺金為君，使得以制肝木，以柴胡瀉肝為臣，以升發其膽火，《經》曰：「木鬱則達之」，達是通達之義，夫木性上升者也，既鬱則不升，故用柴胡升發膽肝之清氣，使衝開其鬱結，以復其常。又曰：「過者折之，以其畏也，所謂瀉之」。補肺制肝，正謂此也。又曰：「泄其肝者，緩其中」。以甘草緩中為佐。又曰：「木位之主，其瀉以酸」，以白芍藥於脾中瀉木為臣。病久生郁，郁久則生涎，以貝母、陳皮、枳實，開鬱逐涎，為裨使，然後金得其正，木得其平，土得其安，由是病去而愈速。前方用山梔、黃連之類，皆降下之藥，火勢正熾，豈區區寒涼所能抑哉！故《經》曰：輕者正治，重則從其性而升之。但凡治病，要當識得此意。</p>
<p>先生，吾徽黟人也，汪石山翁弟子，少業儒，通五經，以疾就醫，治病每有超見，此略述其二耳。且此今人所患者多，而治者鮮有若是之明且盡也。故揭附於斯，以公同志者，庶先生之名不泯也。</p>

<h2>四十八、治腎消</h2>
<p>《本事方》云：唐李祠部治消渴者，腎虛所致，每發則小便甜，醫多不知其故，方書缺而不言。《洪範》曰：「稼穡作甘」。以物理推之，淋餳醋酒作脯法，須臾即甜，足明人之食後，滋味皆甜，流在膀胱，若腰腎氣盛，則上蒸炎，氣化成精，氣下入骨髓，其次為脂膏，又其次為血肉，其餘則為小便；故小便色黃，血之餘氣也。五臟之氣咸潤者，則下味也。若腰腎既虛冷，則不能蒸化穀氣，盡下為小便，故味甘，不變其色，清冷則肌膚枯稿也。猶如乳母，穀氣上泄，皆為乳汁味甘。消渴病者，下泄皆為小便，皆精氣不實於內，則小便頻數也。又肺為五臟華蓋，若下有暖氣，蒸則氣潤，若下冷極，則陽不能升，故肺干而渴。譬如釜中有水，以火暖之，又以板復之，則暖氣上騰，故板能潤，若無火力，則水氣不能上升，此板終不得潤。火力者，腰腎強盛也，常須暖補腎氣，飲食得火力，則潤上而易消，亦免乾渴之患。故仲景云：宜服八味腎氣丸。</p>
<p>余族兄雙柏，五旬後病此，時師以滋陰降火之劑投之，小便愈多，色清而長，味益甘，則渴益甚。屢更醫，率認為熱，盡用苦寒，輕劑如天花粉、黃連、麥冬、石膏、知母之類，重劑如汞丹之類，不惟不效，反至遍身如癩，精神癯削，脈皆細數。余後至，曰：此東垣所云，消渴末傳也。能食者，必發腦疽背瘡；不能食者，必傳中滿鼓脹。今脈細數，而膚皆隱疹，寧免其無疽瘍乎？急宜更藥，毋用寒涼壞胃也。乃以腎氣丸，加桂心、五味子、鹿角膠、益智仁，服之半月。精神霈長，消渴痊除，小便不甜，膚疹俱脫，十年無恙。後以不如意事觸之，渴疾復作，諸醫又以滋陰劑與之，遂成腫滿而斃。嗚呼，痛哉！設若守加味腎氣丸，未必有是腫滿病也。仲景、東垣，實為祖師，千載之下，益使人崇信也。特附於斯，以告同志。</p>

<h2>四十九、羅謙甫藥戒</h2>
<p>客有病痞者，積於其中，伏而不得下，自外至者，捍而不得納，從醫而問之，曰：非下之不可。歸而飲其藥，既飲而暴下，不終日而向之伏者散而無餘，向之捍者柔而不支，焦膈通達，呼吸開利，快然若未始有疾者。不數日，痞復作，投以故藥，其快然也亦如初。自是不逾月而痞五作五下，每下輒愈。然客之氣一語而三引，體不勞而汗，股不步而慄，肌革無所耗於前，而其中薾然莫知其所來。嗟夫！心痞非下不可已，予從而下之，術未爽也，薾然獨何如？聞楚之南有良醫焉，往而問之。醫笑曰：子無怪是薾然者也，凡子之來，固為是薾然也。坐，吾語汝。天下之理，有甚快於吾心者，其末也，必有傷；求無傷於其中，則無望快於吾心。夫陰伏而陽蓄，氣與血不運而為痞，橫乎子之胸者，其累大矣。擊而去之，不須臾而除甚大之累，和平之物，不能為也，必將搏擊震撓而後可。夫人之和氣，衝然而甚微，泊乎其易危。擊搏震撓之功成，而子之和亦已病矣。由是觀之，則子之痞凡一快者，則子之和亦一傷矣；不逾月而快者五，子之和平之氣，不既索乎！故薾然如不終日也。且將去子之痞，而無害於和也，子歸燕居三月，而後與之藥，可為也。客歸三月，齋戒而復請之，醫曰：子之氣少復矣，取藥而授之，曰：服之三月而疾少平，又三月而少康，終年而可復常；且飲藥不得亟進。客歸而行其說，然其初，使人懣然而遲之，蓋三投藥而三反之也，然日不見其所攻之效，久較則月異而時不同，終歲而疾平矣。客謁醫，再拜而謝之，坐而問其故。醫曰：此醫國之說，豈特施之於病哉！子獨不見秦之治民乎？捍而不聽令，惰而不勤事，故而不畏法，令之不聽，治之不變，則秦之民常痞矣。商君見其痞也，厲以刑法，威以斬伐，悍厲猛鷙，不毫髮少貸，痛鏟而力⿱敬鳥之，於是乎秦之政如建瓴，流通四達，無敢或拒，而秦之痞嘗一快矣。自孝公以至二世，凡幾痞而幾快矣，頑者已圮，強者已柔，而秦之民無歡心矣。故猛政一快者，歡心一亡，積快而不已，而秦之四肢枵然，徒具其物而已，民心日離，而君孤立於上，故匹夫大呼，不終日而百姓皆起，秦欲運其手足肩膂，而漠然不我應。故秦之亡也，是好為快者之過也。昔者，先王之民，其初亦嘗痞矣，先王豈不知砉然擊去之以為速也，惟懼其有傷於中也，故不敢求快於吾心，優柔而撫育之，教以仁義，道以禮樂，陰解其亂，而除去其痞。旁視而懣然有之矣，然月計之，歲察之，前歲之俗，非今歲之俗也，不擊不搏，無所忤逆，是以日去其戾氣，而不嬰其歡心，於是政成教達，安樂久而後患除矣。是故三代之治，皆更數聖人，歷數百年，而後俗成，則予之藥終年而疾愈，蓋無足怪也。故曰：天下之理，有甚快於吾心者，其末也必有傷；求無傷於其中，則無望快於予心。雖然，豈特治天下為然哉！客再拜而紀其說。</p>

<h2>五十、人經脈上下左右前後二十八脈考</h2>
<p>《靈樞經》第十五篇有曰：「人經脈上下左右前後二十八脈」，以應二十八宿。夫謂二十八脈者何？左右手足上下各十二經，又陰蹺陽蹺，共二十六也。合任督二脈，前後以足其數云。</p>

<h2>五十一、人身有四海說</h2>
<p>生生子曰：天有四時，地有四海，而人亦應之。四海者，髓海、血海、氣海、水穀之海也。十二經水，皆注於海也。岐伯曰：「胃者，水穀之海，其輸、上在氣街，下至三里。衝脈者，為十二經之海，其輸、上在於大杼，下出於巨虛之上下廉。膻中者，為氣之海，其輸、上在於柱骨之上下，前在於人迎。腦為髓之海，其輸、上在於其蓋，下在風府。」有餘不足，皆可得而見也。氣海有餘者，氣滿胸中，悗息面赤；氣海不足，則氣少不足以言。血海有餘，則常想其身大，怫然不知其所病：血海不足，亦常想其身小，狹然不知其所病。水穀之海有餘，則腹滿；不足則飢，不受穀食。髓海有餘，則輕勁多力，自過其度；不足則腦轉耳鳴，脛酸眩冒，目無所見，懈怠安臥。」凡此有餘不足，宜「審守其輸，而調其虛實，無犯其虛，順者得復，逆者必敗」（出《靈樞·海論篇》）。</p>

<h2>五十二、刪定野山秘抄種子論</h2>
<p>《易》曰：「天地絪縕，萬物化醇；男女媾精，萬物化生。」則絪縕者，升降凝聚之謂也，媾精者，配合交感之謂也。必二氣合，則化自生矣。否則獨陽不生，獨陰不成，惡能望其化生哉！然則人之不孕育者，豈夫婦竟無一交媾之遇邪？遇而不識不會，是亦獨陰獨陽之謂也。不知者諉於天命，則泥矣。間有倡為資藥餌以養精血，候月水以種孕育，又多峻補以求詭遇，則嗣未必得，而害已隨之，此固予之痛惜也久矣。因究種子之道有四：一曰擇地，二曰養種，三曰乘時，四曰投虛是也。何也？蓋地則母之精也，種則父精也，時則兩精交媾之時也，虛則去舊生新之初也。又嘗聞之師曰：不受胎之原有二，陰失其道而不能受者，以氣勝血衰故也。衰則寒熱乘之，氣凝血滯，而營衛不和，經水先後多寡不一也。陽失其道而不能施者，以氣虛精弱故也。弱則原於色欲過度，耗其精元，精元既弱，譬之射者，力微矢枉，安能中的。究斯二者，皆由不能自寶，以致真元耗散，陽不施，陰不受，陰涸陽枯，則生生之道息矣，猶乃歸之天命，不亦誤哉！以是種子者，必地盛則種可投，又必時與虛俱得焉，可成孕而生子矣。雖然，至難養者精，至難遇者時與虛，苟不憑以藥餌之力，示以調攝之宜，候以如期之法，則養與遇竟茫然矣。又知種子之法，以調經養精為首，而用藥須審平和，夫婦尤必相保守，旬日之間，可使精元俱盛，待時而合。時則所謂三十時中兩日半也，經候至此，積穢盪滌既盡，新血初生，時與虛俱會，而可以施其巧矣。又恐情竇不開，陰陽背弛，續有奇砭以動其欲，庶子宮開而真元媾合，兩情暢美，雖平生不孕者亦孕矣，尚何疑哉。是乃歷試歷驗，百發百中者也。嗚呼！是說也，豈畔道云乎哉，亦以培植元氣，順養天真，特資藥力以佐助之，所謂人定亦可以勝天者是也。由是而知，始而無嗣者，非天也，人自戕天也；繼而有嗣者，亦非天也，人能成其天也。故曰：斯道順則成人，逆則成丹，慎毋以天命自諉也。噫！以天命自諉者，良可惜哉。</p>

<h2>五十三、護胎說</h2>
<p>凡婦人孕後，當戒之在色，不知自慎，則欲動而子宮復開，豈惟多致半產漏下，即生子亦多瘡毒夭傷。何也？由淫火爍胎也。彼馬牛之類受胎後，牡逼身輒蹄之，使不得近，謂之護胎，何致有半產之事；人惟多欲，故往往不知護也。《產寶論》及婦人科，俱缺此一款，余故採《菽園雜記》所載者，潤色之如此。</p>

<h2>五十四、王節齋《本草集要》參耆論</h2>
<p>或有問於生生子曰：觀子視病用藥，嘗於各家所長中求之，亦未嘗見於純用參耆，何獨於此辯辯不絕口耶？予曰：予之辯辯，蓋欲白王公之冤，而針時師之癖也。王公以六經出身，行軒岐之道，著書立言，生生之志廓然矣。觀其書羽翼丹溪，固欲成人之美者。蓋丹溪掃溫補之弊，其書雖行，後之人顛倒於其間者，猶未斬然而截跡也，故王公娓娓告戒，常恐後之人不遵丹溪陰虛之說，而闖溫補之藩，豈意後人不究其原，而於告戒之處，則一概木偶而泥塑，凡遇發熱咳嗽見紅之疾，不察病因，不詢兼症，則曰此正王公陰虛火動，忌用參耆之病也，當以滋陰降火治之。冤哉，冤哉！王公欲成人之美者，詎謂釀禍迄今不已耶。何者？時師誦王公之書，於《雜著》，則曰是拳拳於滋陰也；誦《本草》，於參耆則曰是溫也。積溫可以成熱，此陽也，陽旺則陰愈消，肺寒則可服，肺熱反傷肺等語，時不徹口。間欲有用之者，則眾起而排之，乃曰：參耆豈易服者耶？服則殺人。是以病家亦相安於滋陰，雖死而無悔也。識卓理融者，每為之束手，正如一傅眾咻，欲求不寒心也難矣。推王公之心，抑何嘗謂參耆不補陰而特補陽哉？觀其序《本草集要》云：古人因病以立方，非制方以待病，學醫之道，莫先於讀本草，藥性明，然後學處方云云。時師觀書，只識吹毛求疵，安知通章大義，又安知寓意之處，如古人諷諫之謂也。</p>
<p>王公《本草集要》，於人參條下云：味甘氣溫微寒云云。夫既主補五臟，安精神，定魂魄，止驚悸，除邪氣，明目開心益志，調中生津，通血脈，治五勞七傷。以上症，誰謂非五臟之陰虛者耶？王公曷為不刪而略之，王公蓋以其味甘，氣雖溫，而又有微寒在焉，故集此為補陰者之法眼也。雖有肺受火邪喘嗽，及陰虛火動，勞嗽吐血勿用之語，蓋指不當補而補之者，觀其復引仲景治亡血脈虛，以此補之，謂氣虛血弱，故補其氣而血自生，陰生於陽，甘能生血也。以通章大義觀之，王公何嘗道人參不補陰也？丹溪治陰虛咳嗽瓊玉膏，葛可久治吐血獨參湯，義皆孚此。</p>
<p>於黃耆條下云：味甘氣微溫云云。夫既補丈夫虛損，五勞羸瘦，補中生血，補肺氣，實皮毛，瀉陰火，為退熱之聖藥，治虛勞自汗，無汗則發，有汗則止。又治消渴，腹痛泄痢，腸風，血崩帶下，月候不勻，產前後一切痛。補腎、三焦、命門元氣藥中，呼為羊肉。以上症，誰謂非五臟之陰虛者耶？王公曷為不刪而略之，王公亦以其甘能生血，且其氣微溫，是以能溫分肉而實皮毛。以通章大義觀之，王公何嘗道黃耆不補陰也？東垣治血虛發熱，以黃耆一兩，當歸二錢，名曰補血湯。治盜汗，用當歸六黃湯，以黃耆為君。義皆本此。夫本草之所以集者，特述其藥性之剛柔，氣味之溫涼，補瀉之專功，以為立方治病之准，誰謂通章之義不足憑，而於一句積溫成熱之說，獨可據哉！必如時師所言，養血藥中以四物湯為主，加黃柏、知母，就為滋陰降火之妙劑，則愜然服之而無疑，抑不思當歸味甘辛氣溫，川芎味辛氣溫。當歸雖補血，亦能破血，以其甘中有辛也。川芎上行頂巔，下行血海，乃血中之氣藥也。治一切氣，溫中散寒，開鬱行氣燥濕。又曰：久服則走散真氣，蓋辛散故也。較之於參耆，補性優劣為何如？俱一本草語也，俱王公所集要也，時師既宗王公，乃不畏芎歸之辛，而獨畏參耆之甘，抑何僻也？！《丹溪心法·傳》中，羅成之云：先生猶以芎歸之性辛溫，而非陰虛者所宜服，況其他乎。時師既遵王公，當求王公之所自，知王公之所自，則可以知丹溪之用心矣。予故曰：丹溪謂陰虛者，救時之言也；王公道陰虛者，成人之美者也；時師言陰虛者，偏而僻者也；畏人參如虎者，此又丹溪王公之罪人，誤天下之蒼生者也！予之便言，豈好辨哉，願為王公之忠臣耳。</p>

<h2>五十五、《洗冤錄》載沿身骨節上下聯絡名目</h2>
<p>夫人兩手指甲連者小節，小節之後中節，中節之後本節，本節之後肢骨之前生掌骨，掌骨上生掌肉，掌肉後可屈曲者腕，腕左起高骨者手外踝，右起高骨者右手踝，二踝相連生者臂骨，輔臂骨者髀骨，三骨相繼者肘骨，前可屈曲者曲肘，曲肘上生者臑骨，臑骨上生者肩髃，肩髃之前者橫髃骨，橫髃骨之前髀骨，髀骨之中陷者缺盆，缺盆之上者頸，頸之前者顙喉，顙喉之上者結喉，結喉之上者頦，頦兩傍者曲頷，曲頷兩傍者頤，頤兩傍者頰車，頰車之上者耳，耳上者曲鬢，曲鬢上行者頂，頂前者囟門，囟門之下者髮際，髮際正下者額，額下者眉，眉際之末者太陽穴，太陽穴前者目，目兩傍者兩小眥，小眥上者上瞼，下者下瞼，正位能瞻視者目瞳子，瞳近鼻者兩大眥，近兩大眥者山根，山根上印堂，印堂上者腦角，腦角下者承枕骨，脊骨下橫生者髖骨，髖骨兩傍者釵骨，釵骨下中者腰門骨，釵骨上連生者腿骨，腿骨下可屈曲者曲䐐，曲䐐上生者膝蓋骨，蓋骨下生者脛骨，脛骨傍生䯒骨，䯒骨下左起高大者兩足外踝，右起高大者兩足內踝，脛骨前垂者兩足跂骨，跂骨前者足本節，本節前者小節，小節相連者足趾甲，趾甲後生者足前趺，趺後凹陷足心，下生者足掌骨，掌骨後生者踵肉，踵肉後者腳跟也。</p>

<h2>五十六、《洗冤錄》驗胎法</h2>
<p>又五臟論有稱耆婆者云：一月如珠露，二月如桃花，三月男女分，四月形象全，五月筋骨成，六月毛髮生，七月動右手於母腹左，八月動左手於母腹右，九月三轉身，十月滿足生。若驗得未成形象，只念所墮胎作血肉一片、或一塊，若經日壞爛，多化為水。若所墮胎已成形象者，謂頭、腦、口、眼、耳、鼻、手、腳、指甲等全，亦有臍帶之類。若胎在母腹中被驚而死，其胎下系紫黑色，血蔭軟弱。若生下腹外死者，其屍系淡紅赤色，胞衣白，卻無紫黑色，極易驗也。</p>

<h2>五十七、人身內景說</h2>
<p>咽之與喉有二竅，前後不同，喉在前，咽在後。咽則因物而咽，以應地氣。而為胃之系，下連胃管，為水穀之道路。自咽而入於胃，胃主腐熟水穀。其水穀精悍之氣，自胃之上口，出於賁門，輸於脾，脾氣散精，上歸於心，淫精於脈，脈氣流經，經氣歸於肺。肺朝百脈，輸精於皮毛，毛脈合精，氣行於腑，腑精神明，留於四臟，沖和百脈，頤養神氣，利關節，通九竅，滋志意者也。其滓穢，則自胃之下口，入於幽門，傳於小腸，自小腸下口，至於大腸上口，大小二腸相會為闌門；闌門者，闌約水穀以分別也。其水則滲灌入於膀胱，膀胱者，胞之室也，胞虛受水，而為藏水之室家也。其濁穢入於大腸，大腸一名迴腸，以其回屈而受小腸之濁穢也。喉主出納，以應天氣。而為肺之系，下接肺經，為喘息之道路，自喉嚨而通於肺，肺下無竅而有空，行列分布。諸藏清濁之氣，以為氣管。大腸為肺之府，肺色白，故大腸為白腸。主傳送濁穢之氣下行，而不使上干於心肺，所謂傳瀉行道之府也。肺之下有心，心系有二，一則上與肺相通，一則自肺葉曲折向後，並脊膂細絡相連，貫脊通髓，而與腎系相通。小腸為心之腑，心色赤，故小腸為赤腸。主引心火濁氣下行，而不使上干於華蓋，所謂容受之府也。蓋心通五臟系，而為五臟之主。有膈膜遮蔽濁氣，不得上熏於心，所以真心不受邪凌犯；其所以致病者，心包絡耳。心包絡是心上漫脂之外有細筋如絲，與心肺相連者是也。心包絡經自膻中散布，絡繞於三焦；三焦其氣通灌十二經絡，上下往來，無有休息，自與心包絡配合為表裡，故俱有名而無合應。脾系在膈下，著右脅，上與胃膜相連。胃為脾之府，脾色黃，故胃為黃腸。而為水穀之府也。肝系在心肺下，著左脅，上貫膈，入肺中，與膈膜相連。而膽在肝短葉之間。膽為肝之府，肝色青，故膽為青腸。而為清淨之府也。腎與臍對，形如石卵，而曲附脊膂，有繫上通於心，所謂坎離相感，水火升降者此也。膀胱為腎之府，腎色黑，故膀胱為黑腸。而為津液之府也。</p>

<h2>五十八、不執方說</h2>
<p>余屈首受醫，日惟有事於《素》、《難》、《病源》、《病機》、《甲乙》等書，俯而誦，仰而思，希心融貫前哲秘旨而未逮也。若彼《局方》《袖珍》《惠濟》等集，間用之參考，而不敢執泥。至臨症，務虛心察受病之因，始敢投劑，亦未嘗執方以合病。以故執方之夫，往往見而駭之議之，謂如上方書之傳，簡易捷徑，大有便於後學,《素》、《難》諸書，固雲精妙，乃渙漫艱深，力難究竟，鬍子好難惡易，性與人殊？且子診病用藥，類與方書懸異，有病同而劑異，有終始用一法而不殊，有三五變其方而不執，輒亦投劑獲效，此遵何道哉？或方書不足憑，而他有秘授歟，奚與諸醫殊致也。余曰：嘻！醫何容易談哉。人之死生，關於呼吸間，余何敢師心自用，而巇嶮為也，古稱用藥如用兵，然齊步伐，肅部伍，坐作進退，刺殺攻擊，一定而不亂者，法也，胡可廢也。乃若知己知彼，置伏設奇，臨變不測，其運用妙於一心。藥之君臣佐使，味之甘苦寒涼，方之丸散湯引，著於載籍者，法也。察病之寒熱虛實，感之臟腑表裡，所以君臣佐使，甘苦寒涼，補瀉而丸散湯引者，不廢方，亦可不執方也。故按圖用兵而不達變者，以卒與敵，執方治病而不察因者，未有能生人者也。雖然，不執方而又合法，亦匪易臻也，脫非生平融通《素》、《難》、《本草》，仲景、潔古、守真、東垣、丹溪諸書，不可以語此秘密，醫何容易談也！子徒以方書為捷徑，蓋亦未求之上古乎，上古之世無方，《扁鵲傳》載長桑君以禁方相授受，亦不載曰何方。春秋時秦緩醫和，漢淳于公輩，以醫名天下，亦未嘗有方傳也。至張仲景乃始有方，是知東漢以前，醫皆妙悟心法，察病投劑，未嘗徇方也。彼豈私其方不欲授之人哉，誠懼後之人拘執不變，必致誤人爾。然立法處方，不過酌病機之詳確，審經絡之虛實，察藥性之宜悖，明氣味之走守，合色脈，衍天和，調燮陰陽，參相造化，以一理貫之。理融則識真，識真則機順，自然應變不膠。方自吾心出，病可去而功可成，以成功而名方，誰曰不可。余何能，余僅守方而不執焉己，子寧以余言為迂乎。</p>

<h2>五十九、列張劉李朱滑六名師小傳</h2>
<p>孫氏生生子曰：醫以通變稱良，而執方則泥。故業醫者，能因古人之法，而審其用法之時，斯得古人立法之心矣，不則窺其一斑，而議其偏長，即醫如張仲景、李東垣諸公，亦妄加譏貶也，可乎哉？可乎哉？！余故列其因時立法者於後。</p>
<p>醫學自漢秦以上無方，有方自張長沙始，故醫家以長沙為方書之祖。晚世議長沙者，率謂其長於傷寒，而短於雜證，余惟醫如長沙，亦無間然矣。乃長沙急於傷寒者，蓋病莫大於傷寒，而變證亦莫甚於傷寒，其生死決於七日、十三四日之間，非若他疾，可從容而治也。長沙察其緩急，故以傷寒為首務爾。不然，《金匱要略》，治雜證書也，獨非長沙著述者乎？何顒別傳有曰：仲景受業於同郡張伯祖，善於治療，尤精經方，時人謂扁鵲、倉公，無以加焉。觀此，則仲景不專長於傷寒，又可知矣。而劉宗厚亦曰：吾嘗用東垣之藥，效仲景處方。宗厚，丹溪高弟也，不效丹溪，而效仲景，以仲景醫之亞聖，非丹溪可企及者，效仲景，或亦取法乎上之意云。後世慎毋輕議長沙也。</p>
<p>張戴人，醫亦奇傑也。世人不究其用意，議其治疾，惟事攻擊，即明理如丹溪，《格致餘論》亦譏其偏。丹溪之說出，益令人畏汗吐下三法如虎，並其書置之，不與睫交，予甚冤之。予惟人之受病，如寇入國，不先逐寇，而先拊循，適足以養寇而擾黎元也。戴人有見於是，故以攻疾為急，疾去而後調養，是得靖寇安民之法矣。彼仲景麻黃、瓜蒂、大承氣，非攻擊急劑哉，審緩急而用之，此仲景意也。蓋醫難於認病，而不難於攻擊調補，戴人特揭其難者言之也。丹溪引《內經》「邪之所湊，其氣必虛」為論，乃遺下文「留而不去，其病為實」一句；引「精氣奪則虛」，又遺「邪氣盛則實」一句；引「虛者正氣虛」也，又遺「實者邪氣實」也一句。摭其可議戴人為言，而於戴所急者略而不採，丹溪且若此，余又何怪哉。且戴人名其書曰《儒門事親》，豈有儒者事親而行霸道，以害其親者哉？必不然矣。譬彼武王伐殷，先懸紂於太白，而後散財發粟；漢高入秦，降子嬰而後約法三章，彼拘拘然進調補而詘攻擊，是猶治國專用賞而不用罰也，則舜討凶而尼父誅卯，為多事哉！予因著於篇，以為戴人辯白。</p>
<p>有謂劉守真長於治火，斯言亦未知守真所長也。守真高邁明敏，非泛常可儔，其所治多「在推陳致新，不使少有怫鬱，正造化新新不停之意，醫而不知此，是無術也」。此王海藏之言，海藏乃東垣高弟，尚推轂如此，則其邃學可知。且其所撰《原病式》，歷揭《素問》病機一十九條，而屬火者五；又覘人心好動，諸動屬火；夫五行具於人身者各一，惟火有君有相，由此病機屬火者多也。《原病式》特為病機而發，故不暇論及其餘，若所著《保命集》三卷，治雜證則皆妙絕矣。然則謂守真長於治火者，其真未知守真所長者乎。</p>
<p>醫家雅議李東垣，善於內傷，而虛怯非其所長，故有補腎不若補脾之語。竊謂腎主闔闢，腎間原氣，人之司命，豈反輕於脾胃哉？蓋病有緩急，而時勢有不同，東垣或以急者為首務也。彼當金元擾攘之際，人生斯世，疲於奔命，未免勞倦傷脾，憂思傷脾，飢飽傷脾，何莫而非傷脾也者。《內經》曰：脾胃者，倉廩之本，營之居也。又曰：五臟六腑，皆稟受於脾胃，脾胃一傷，則臟腑無所受氣，故東垣惟孜孜以保脾胃為急。彼虛怯傷腎陰者，乃燕居安閒，淫勝之疾，又不可同日而語也。不則《內外傷辯惑》與《外科精義》及《蘭室秘藏》等書，皆治雜證者，豈止內傷已哉，此可以觀矣。</p>
<p>余觀近世醫家，明理學者，宜莫如丹溪，雖倡「陽有餘陰不足」之論，其用意固有所在也。蓋以人當承平，酗酒縱欲，以竭其精，精竭則火熾，復以剛劑認為溫補，故不旋踵血溢內熱骨立而斃，與燈膏竭而復加炷者何異，此陽有餘陰不足之論所由著也。後學不察，概守其說，一遇虛怯，開手便以滋陰降火為劑，及末期，卒聲啞泄瀉以死，則曰丹溪之論具在。不知此不善學丹溪之罪，而於丹溪何尤！丹溪為許文懿高弟，學原考亭，其認病最真，而投劑最確，觀其治許文懿之病及疼風十三症，可概見矣，功首罪魁之言，余嘗為冤之。昔荀卿喜為高論，而李斯祖之以禍天下，則報仇行劫之說著矣。大都前哲立論，必有定見，調施經權，必合宜適，彼執方而不達變者，反為丹溪累也，余故不惜牙頰辯之。</p>
<p>余讀《史記》至太史公所稱由光及伯夷之語，未嘗不掩卷嘆滑伯仁之術，而後無有彰之者。伯仁，我明奇士也，技藝之精，不下丹溪，即其文辭，如《素問抄》、《難經注》，診有《樞要》，針有《經絡發揮》與《瘡瘍痔瘻醫韻》等篇，亦可謂集往哲之大成矣，顧後學但知宗《丹溪心法》，如《靈》、《素》與伯仁諸集，若罔聞知，雖其術有奇中，治有明徵，所至成名，如朱太史列傳所稱，亦莫之顧，何哉？蓋丹溪為當時縉紳所遊揚，又戴元禮、劉宗厚諸名士為弟子，故丹溪之名籍籍，而伯仁藝雖高，弗若之矣。何一陽有言，歷考上古高賢。若以岐伯、越人為醫中尼父，則仲景可為顏、曾之陪，而河間、東垣，當在宰我、子貢之列，若伯仁，義理精明，製作醇粹，可與遊、夏之班，至彥修又下一等也。此論甚確，而今宗伯仁者不然也；豈惟伯仁，則戴人、守真，亦若是爾。故太史公曰：巖穴之士，欲砥立名行，非附青雲之仕，惡能聲施後世哉。此言信矣，余故特為伯仁表之也。</p>
<p>生生子曰：余著論若是，非阿所好也，欲後人知仲景不徒以傷寒擅長，守真不獨以治火要譽，戴人不當以攻擊蒙譏，東垣不專以內傷樹績，陽有餘陰不足之譚不可以疵丹溪，而攖寧生之長技，亦將與諸公並稱不朽矣，同志幸亮之，毋余訾哉。</p>

<h2>六十、《醫通》節文</h2>
<p>生生子曰：余嘗稱宋儒謂為人子不可不知醫為知言已，觀《韓氏醫通》，益證斯言為匪欺也。韓飛霞為親習醫，而餘澤遍物，閱其集方楷當，而修制合宜，其投劑多奇中，有以哉！余懼其術沒沒也，用採其論藥數款附於集，令後人識有韓飛霞雲。</p>

<h3>《醫通》緒論章</h3>
<p>飛霞子曰：天地萬物，氣成形也。不位不育，病之時也。人之養氣踐形而致中和者，醫之道也。夫醫而至於針砭藥餌，第二義矣。《易》無妄九五曰：「無妄之疾，勿藥有喜。」孔子曰：「無妄之藥，不可試也。」此最上義也。得醫之最上義者，氣之沖，神之化，皆此身之真息以踵也。盧扁指豎子，華佗剖腸腑，白玉蟾呵臀癰，藥餌云乎哉，針砭云乎哉？！</p>
<p>風土異宜，自然氣隔，古分南北二政，自今輿圖，以河界南北，而江之東，關之西，可類從矣。南北云者，陰陽之軌，四方之轂，八風之輻輳也。</p>
<p>人之稟賦，三天兩地，一氣流行而已。氣失其平之謂疾，疾甚之謂病，三才相因之謂機，機動之謂時。《陰符經》曰：天發殺機，移星易宿。地發殺機，龍蛇起陸。人發殺機，天地反復。又曰：食其時，百骸理；動其機，萬化安。又曰：三才既宜，三盜既安。嗚呼！此可以契醫之三昧矣乎。</p>
<p>醫之理，可比《周易》，針砭藥餌，即卜筮法也。丹溪云：冷生氣，高陽生之謬言。予謂冷生氣，是復卦䷀。熱生風，是姤卦䷫。即天根月窟之化機，《內經》所謂「亢則害，承乃制」者也。故王安道論曰：易也者，造化之不可常者也，惟其不可常，故神化莫能測。《易》曰：「一陰一陽之謂道，陰陽不測之謂神」。世之攻醫卜而自小焉者何也？！</p>

<h3>藥性裁成</h3>
<p>藥有成性，必材相制，味相洽，而後達夫病情，古書如《本草括》《湯液》《珍珠》諸篇，予不能悉記也，而二五之升沉，鹹苦酸辛甘者，觸物在焉，姑列數則，以例其餘。</p>
<p><u>論用藥</u>　標病攻擊，宜生料者，以氣全力強；本病服餌，宜制煉調劑大成，病在元氣，宜醇淡。</p>
<p><u>論人參</u>　人參煉膏，回元氣於無何有之鄉，王道也。黑附子回陽，霸功赫奕。甘草調元，無可無不可。</p>
<p><u>論當歸</u>　當歸主血分之病，川產力剛可攻，秦產柔宜補。凡用，本病酒製；而痰獨以薑汁浸透，導血歸源之理。熟地黃亦然。血虛，以人參、石脂為佐；血熱，以生地黃、薑黃、條芩佐之，不絕生化之源。血積，配以大黃。婦人形肥，血化為痰，二味姜浸，佐以利水道藥。要之，血藥不容舍當歸，故古方四物湯以為君，芍藥為臣，地黃分生熟為佐，川芎為使，可謂典要云。</p>
<p><u>論香附</u>　香附主氣分之病，香能竄，苦能降，推陳致新，故諸書皆云益氣，而俗有耗氣之訛，女科之專，非也。治本病，略炒；兼血，以酒煮；痰，以薑汁；虛，以童便浸；實，以鹽水煮；積，以醋浸水煮。婦人血用事，氣行則無疾，老人精枯血閉，惟氣是資；小兒氣日充，形乃日固。大凡病則氣滯而餒，故香附於氣分為君藥，世所罕知。佐以木香，散滯泄肺；以沉香，無不升降；以小茴香，可行經絡；而鹽炒則補腎間元氣。香附為君，參耆為臣，甘草為佐，治虛怯甚速。佐以厚朴之類，決壅積；佐以稜、莪之類，攻壅積之甚者。予嘗避諸香燥之熱，而用檀香佐香附者，以檀香流動諸氣極妙也。</p>
<p><u>論半夏</u>　痰分之病，半夏為主。脾主濕，每惡濕，濕生痰，而寒又生濕，故半夏之辛，燥濕也。然必造而為曲，以生薑自然汁、生白礬湯等分，共和造麴，楮葉包裹風乾，然後入藥。風痰，以豬牙皂角煮汁去渣滓，煉膏如餳，入薑汁。火痰黑色，老痰如膠，以竹瀝或荊瀝入薑汁。濕痰白色，寒痰清，以老薑煎濃湯，加煅白礬三分之一（如半夏三兩、煅白礬一兩）。俱造麴如前法。予又以霞天膏加白芥子三分之二，薑汁、礬湯、竹瀝造麴，治痰積沉痼者，自然使腐敗，隨大小便出，或散而為瘡，此半夏曲之妙也。古方二陳湯以此為君，世醫因辛，反減至少許。而茯苓滲濕，陳皮行氣，甘草醒脾，皆臣佐使，而反多其銖兩，蓋不造麴之過。觀法制半夏，以薑、礬制辛，即能大嚼是也。佐以南星，治風痰。以薑汁酒浸炒芩、連，及栝蔞實、香油拌曲略炒之類，治痰火。以曲炒枳殼。枳實，薑汁浸蒸大黃、海粉之類，治老痰。以蒼朮、白朮俱米泔薑汁浸炒，甚至乾薑、烏頭，皆治濕痰。而常有脾泄者，以肉豆蔻配半夏曲，加神麯、麥芽作丸，尤有奇效。厚養之人，酒後多此，而苦痰為病者，十常八九也。方書謂天下無逆流之水，人身有倒上之痰，氣亂血餘，化而為痰，故治痰以行氣殺血為要。</p>
<p><u>論黃連</u>　火分之病，黃連為主。五臟皆有火，平則治，病則亂。方書有君火、相火、邪火、龍</p>
<p><u>火之論，其實一氣而已。故丹溪云：「氣有餘，便是火」。分為數類;</u>　凡治本病，略炒以從邪。實火，以朴硝湯，假火以酒，虛火以醋，痰火以薑汁，俱浸透炒。氣滯火以茱萸，食積泄以黃土，血癖癥瘕痛以乾漆，俱以水拌同炒，去萸、土、漆。下焦伏火，以鹽水浸透焙。目疾，以人乳浸蒸，或點或服。生用為君，佐官桂少許，煎百沸，入蜜空心服，能使心腎交於頃刻。入五苓、滑石，大治夢遺。以土、薑、酒、蜜四炒者為君，使君子為臣，白芍藥酒煮為佐，廣木香為使，治小兒五疳。以茱萸炒者，加木香等分，生大黃倍之，水丸，治五痢。以薑汁酒煮者為末，和霞天膏，治癲癇、諸風眩暈、瘡瘍，皆神效。非彼但云瀉心火，而與芩、柏諸苦藥例稱者比也。</p>
<p><u>論諸藥</u>　余治沉疴，先循經絡者，即諸古書所載引經報使藥，貴識真爾。如心經，以人參益氣，石脂補血，硃砂鉦心，天竺黃去痰，澤瀉瀉熱，而蓮肉、茯神、赤茯苓、遠志、益智、酸棗之屬，利心竅以安神識。中間制煉，如以苦焦之味達本經，咸引所畏，辛避所勝，酸益其母，而甘泄其子，皆裁成藥性之道。</p>
<p><u>論五穀</u>　粳米造飯，用荷葉煮湯者寬中。芥菜葉者豁痰。紫蘇葉者行氣解肌。薄荷葉者清熱。淡竹葉者闢暑。造粥則白粥之外，入茯苓酪者，清上實下。薯蕷粉者，理胃。花椒汁者，闢嵐瘴。薑、蔥、豉汁者發汗。與夫古方羊腎、豬腎之類，無非藥力也。一人淋，素不服藥，余教以專啖粟米粥，絕他味，旬余減，月餘痊，此五穀治病之理。</p>
<p><u>論五果</u>　梨汁疏風豁痰；蒸露治內熱。藕汁研墨，止吐血鼻衄；研桃仁調酒，破血積。胡桃仁佐破故紙，鹽水糊丸，治腰濕痛如神。大棗煮汁，去渣煉膏，救小兒脾虛胃寒，不能藥者。蓮肉作末，蘇噤口痢。柿蒂加㾓頭糠，止轉食。凡此余以應驕習之家，亦五果治疾之理。</p>
<p><u>論五菜</u>　韭白愈淋，予澀精。大蔥汁和五倍子末，澀虛脫之痢，非虛脫不用。莧煮汁，愈初痢。蘿蔔風乾，愈傷食嗽。白扁豆益脾清暑。蒜汁煮香附，加蓽茇、大黃，治瘴鄉中毒。諸菜俱能治病，貴專啖耳。</p>
<p><u>論五畜禽蟲之屬</u>　黃牛肉補氣，與棉黃耆同功。羊肉補血，與熟地黃同功。豬肉無補，而人習之化也。惟膽於肝，肚於胃，腰子於腎，脊髓於骨，心於血，可引諸藥入本經，實非其補。鹿則全體大補，異時每欲以肉汁煉膏，如霞天膏、小刀圭之法，恨不多得。牛肝連膽，用朴硝作脯，消痞塊。骨髓煎油，擦四肢之損。禽則鵝善疏風、稚雞補損，老雞作羹起衰。蟲則蜣螂，土裹燒熟，與兒食，治疳。蚋皮作丸，大治驚癇疳痢。以上予治厚養之人多用之，亦從其化也。獨犬之壯陽，俗夫所尚，古方戊戌酒，蓋為虛寒病設耳。或云士無故不殺犬豕，則古人已饈於珍矣，意者，黑黃二色，足補脾腎，亦可如小刀圭法為之，以治虛怯勞瘵，而戒恣欲之非，價廉工省，可濟貧乏云。</p>
<p><u>論異類有情丸</u>　人至中年，覺體衰弱，便可以此丸服餌。此方藥僅三品，而補性極峻。蓋鹿乃陽獸，食山中之靈草，故多壽。夏至一陰生，而角便解，角得純陽之氣，故補人身之陽。龜者，靈物也。屬陰，能養息，上可補心，下可補腎，故補人身之陰。虎，西方之獸也，屬金而能抑木，故虎嘯而風生也。三者皆多壽，皆有生育，皆有靈性，殊非草木金石比也，服餌寧無補益乎。</p>
<p>鹿茸、鹿角霜、龜板、虎脛骨，各如常制，為末，以豬脊髓加煉蜜為丸，梧桐子大，空心鹽湯吞五七十丸。或加豬膽汁一、二合，和於劑中，以寓降火之意。</p>

<h2>六十一、《難經本義》十八難圖注辯</h2>
<p>十八難秦越人曰：「手太陰陽明金也，足少陰太陽水也，金生水,　水流下行而不能上，故在下部。足厥陰少陽木也，生手太陽少陰火，火炎上行而不能下，故為上部，手心主少陽火，生足太陰陽明土，土主中宮，故在中部也。」滑伯仁注曰：手太陰陽明金，下生足太陽少陰水，水性下流，故居下部；足少陰太陽水，生足厥陰少陽木，木生手少陰太陽火及手心主火，火炎上行，是為上部;　火生足太陰陽明土，土居中部，復生肺金，此五行子母更相生養者也。觀十八難所列之圖，乃以手厥陰心主火與手少陽三焦火分診在下部右尺，圖與注自相背戾，後人翕然宗之，不復查考。且經文只雲手之太陰陽明，足之太陽少陰，為上下部，言肺高而腎下，子母相望之意。按《脈經》以心肺合於上焦，脾胃肝膽合於中焦，腎膀胱合於下焦，兩尺分診兩腎，無手厥陰少陽之語。《千金方》診法與《脈經》同。顧《靈蘭秘典篇》曰：「膻中者，臣使之官，喜樂出焉。」啟玄子注曰：「膻中在胸中兩乳間，為心君播宣教令，氣布陰陽，氣和志適，則喜樂由生。」《脈要精微論》以左寸之外候心，內以候膻中，膻中為十二臟之一，以其無形，與心肺並居胸中，故診附焉。《本義》此圖，恐未必是伯仁之意，豈有自相矛盾哉？此必後人泥《脈訣》「右肺大腸脾胃命」之說，而以此圖牽合，因土居中部，乃以火居下部，生中土也。獨不思手太陽少陰之火，復何所生耶？智者自能辯之。</p>
<p>按何一陽《醫學統宗》有云：《圖注難經》，乃四明張世賢襲取紀天錫、袁坤厚、虞庶舊章，斷簡殘文，淺附已意，欺為新撰，維揚運司梓行，失旨處頗多，然則《難經本義》之圖注，實張世賢之集者，後人增附梓焉，非滑氏之筆明矣。</p>

<h2>六十二、《難經》肺金肝木浮沉說</h2>
<p>三十三難曰：「肝青象木，肺白象金。肝得水而沉，木得水而浮；肺得水而浮，金得水而沉，其意何也？」答詞以五音剛柔吸受云云，是啟後學要識五行造化之妙，而注者又以長生臨官帝旺為言，而不就肝肺上究竟其說，似訓釋太深，玄之又玄者也。物物具五行，如注所云，心脾腎得水皆沉，不知又當何解。據愚見，不若平平講去，亦自明暢，且又開發後學，陰陽相感之義，雖不明言，而理實寓焉。蓋肺雖屬金，而位處膈上，行陽道多，且其經為手太陰，主乎氣。以體而言，金也；以用而言，氣也。而又屬手經，故浮。肺熟則手經之氣去，而金之體獨存，故熟則沉也。肝雖屬木，而位處膈下，行陰道多，且其經為足厥陰，主乎血。以體而言，木也；以用而言，血也。而又屬足經，故沉。肝熟則足經之血去，而木之體獨存，故熟則浮也。返本之義也。臨官帝旺之說，微覺牽合，學者詳之。</p>

<h2>六十三、《難經》七十五難金不得平木「不」字辯</h2>
<p>生生子曰：七十五難云：「經言東方實，西方虛，瀉南方，補北方，何謂也云云，故瀉火補水，欲令金不得平木也。經曰：不能治其虛，何問其餘，此之謂也。」滑伯仁曰：「不」字疑衍。四明陳氏曰：仲景云：木行乘金，曰橫。《內經》曰：「氣有餘，則制己所勝，而侮所不勝。」木實金虛，是木橫而凌金，侮所不勝也。木實本以金平之，然以其氣正強而橫，金平之則兩不相伏而戰，戰則實者亦傷，虛者亦敗。金虛本資氣於土，然其時土亦受制，未足以資之。故取水為金之子，又為木之母，於是瀉火補水，使水勝火，則火餒而取氣於木，木乃減而不復實，水為木母，此母能令子虛也。木既不實，其氣乃平，平則金免木凌，而不復虛，水為金子，此子能令母實也。所謂金不得平木，不得徑以金平其木，必瀉火補水而旁治之，使木金之氣自然而平耳。而滑伯仁又曰：陳氏之說，亦自有理，但為「不」之一字纏擾，牽強費辭，不若直以「不」字為衍文爾。余曰：「不」字非衍，《難經》所謂不者，乃姑息之謂，不徑以金平木，故有瀉火補水之治，觀越人謂「金木水火土，當更相平」。「更」字與「不」字，乃一篇之大關鍵也。此更字與二十難更相乘，更相伏「更」字義同，謂互相平制，不直令金以平木也。觀仲景木行乘金曰橫之「橫」字，則知金非等閒之虛，即驟補之，猶未能自保，況欲令其得平木乎？彼金之得平木，乃以五行順相平者言也，此以五行更相平者言也。「更」與「順」，自當有別，不然，越人何不徑云補金，使得平木，而乃曰「瀉南方，補北方」哉。越人之微意，正欲瀉火以泄木之餘，補水以實金之虛，五行遞相濟養，更互克伐，子為母復仇之義，故曰「欲令金不得平木」也。此圍魏救韓之意，不平之平，乃所以平也。陳氏訓不字誠是，但於更字仍欠發明，故未免啟後人之疑，醫道如伯仁，亦可謂精詣矣，乃以不字為衍文，余又不知其何見也。</p>

<h2>六十四、《難經》八十一難篇「是病」二字辯</h2>
<p>生生子曰：八十一難云：「經言無實實虛虛，損不足而益有餘。是寸口脈耶？將病自有虛實耶？其損益奈何？然：是病，非謂寸口脈也，謂病自有虛實也」云云，彼注《難經》者，謂「是病」二字，非誤即衍。愚謂二字，非誤亦非衍，蓋答辭也。言此是病之虛，而非寸口脈也。與夫子答子路曰：「然有是言也」一類，皆答問文法爾。經書中多有之，窮經者，能以意逆志而玩其辭，斯得之矣。</p>

<h2>六十五、節抄「靈樞」引</h2>
<p>生生子曰：余惟醫以《靈》《素》為祖，但其書出秦火之後，斷簡殘篇，幾至散失，雖命世之才如秦越人、淳于意、張、華諸公，診治稱神奇者，亦未之訓釋。至啟玄子，始於《素問》掇摭成卷，門分章析，引類註明，厥功亦偉矣。而偏執局曲之夫，尚吹毛索疵，妄加訶詆。乃於《靈樞》，非惟不敢注一字，且置此書，略不涉目。夫《靈樞》一經，於臟腑經絡，盈虛順逆，針法疾徐，靡不周悉，顧棄而不讀，何稱醫哉！何稱醫哉！余觀史嵩先生序《靈樞》有曰：夫為醫者，在讀書，讀而不能為醫者有矣，未有不讀而能為醫者也。余嘗從事斯語，用節抄靈樞數條於後，以備參考云。</p>

<h2>六十六、本神篇</h2>
<p>黃帝問於岐伯曰：何謂德、氣、生、精、神、魂、魄、心、意、志、思、智、慮，請問其故？岐伯答曰：天之在我者德也，地之在我者氣也，德流氣薄，而生者也。故生之來，謂之精，兩精相搏，謂之神，隨神往來者，謂之魂，並精而出入者，謂之魄，所以任物者，謂之心，心有所憶，謂之意，意之所存，謂之志，因志而存變，謂之思，因思而遠慕，謂之慮，因慮而處物，謂之智。故智者之養生也，必順四時而適寒暑，和喜怒而安居處，節陰陽而調剛柔，如是則僻邪不至，長生久視。是故怵惕思慮者，則傷神，神傷則恐懼，流淫而不止。因悲哀動中者，竭絕而失生。喜樂者，神憚散而不藏。愁憂者，氣閉塞而不行。盛怒者，迷惑而不治。恐懼者，神蕩憚而不收。</p>
<p>心，怵惕思慮則傷神，神傷則恐懼自失，破䐃脫肉，毛悴色夭，死於冬。脾，愁憂而不解則傷意，意傷則悗亂，四肢不舉，毛悴色夭，死於春。肝，悲哀動中則傷魂，魂傷則狂忘不精，不精則不正當人，陰縮而攣筋，兩脅骨不舉，毛悴色夭，死於秋。肺，喜樂無極則傷魄，魄傷則狂，狂者意不存人，皮革焦，毛悴色夭，死於夏。腎，盛怒而不止則傷志，志傷則喜忘其前言，腰脊不可以俯仰屈伸，毛悴色夭，死於季夏。恐懼而不解則傷精，精傷則骨酸痿厥，精時自下。是故五臟主藏精者也，不可傷，傷則失守而陰虛，陰虛則無氣，無氣則死矣。是故用針者，察觀病人之態，以知精神魂魄之存亡，得失之意，五者以傷，針不可以治之也。肝藏血，血舍魂，肝氣虛則恐；實則怒。脾藏營，營舍意，脾氣虛則四肢不用，五臟不安；實則腹脹，經溲不利。心藏脈，脈舍神，心氣虛則悲；實則笑不休。肺藏氣，氣舍魄，肺氣虛則鼻塞不利，少氣：實則喘喝，胸盈仰息。腎藏精，精舍志，腎氣虛則厥；實則脹。五臟不安，必審五臟之病形，以知其氣之虛實，謹而調之也。</p>

<h2>六十七、決氣篇</h2>
<p>黃帝曰：余聞人有精、氣、津、液、血、脈，余意以為一氣耳，今乃辨為六名，余不知其所以然。岐伯曰：兩神相搏，合而成形，常先身生，是謂精。何謂氣？岐伯曰：上焦開發，宣五穀味，熏膚充身澤毛，若霧露之溉，是謂氣。何謂津？岐伯曰：腠理發泄，汗出溱溱，是謂津。何謂液？岐伯曰：谷入氣滿，淖澤注於骨，骨屬屈伸，泄澤補益腦髓，皮膚潤澤，是謂液。何謂血？岐伯曰：中焦受氣取汁，變化而赤，是謂血。何謂脈？岐伯曰：壅遏營氣，令無所避，是謂脈。黃帝曰：六氣者，有餘不足，氣之多少，腦髓之虛實，血脈之清濁，何以知之？岐伯曰：精脫者，耳聾：氣脫者，目不明：津脫者，腠理開，汗大泄；液脫者，骨屬屈伸不利，色夭，腦髓消，脛酸，耳數鳴。血脫者，色白，夭然不澤，其脈空虛。此其候也。黃帝曰：六氣者，貴賤何如？岐伯曰：六氣者，各有部主也，其貴賤善惡，可為常主，然五穀與胃，為大海也。</p>

<h2>六十八、脹論</h2>
<p>黃帝曰：夫氣之令人脹也，在於血脈之中耶？臟腑之內乎？岐伯曰：二者皆存焉，然非脹之舍也。黃帝曰：願聞脹之舍。岐伯曰：夫脹者，皆在於臟腑之外，排臟腑而廓胸脅，脹皮膚，故名曰脹。黃帝曰：臟腑之在胸脅腹裡之內也，若匣匱之藏禁器也，各有次舍，異名而同處一域之中，其氣各異，願聞其故？岐伯曰：夫胸腹，臟腑之郭也。膻中者，心主之宮城也。胃者，太倉也。咽喉小腸者，傳送也。胃之五竅者，閭里門戶也。廉泉玉英者，津液之道也。故五臟六腑者，各有畔界，其病各有形狀。營氣循脈衛，氣逆為脈脹；衛氣並脈，循分為膚脹三里而瀉，近者一下，遠者三下，無問虛實，工在疾瀉。</p>
<p>黃帝曰：願聞脹形？岐伯曰：夫心脹者，煩心短氣，臥不安。肺脹者，虛滿而喘咳。肝脹者，脅下滿，而痛引小腹。脾脹者，善噦，四肢煩悗，體重不能勝衣，臥不安。腎脹者，腹滿引背，央央然，腰髀痛。胃脹者，腹滿，胃脘痛，鼻聞焦臭，妨於食，大便難。大腸脹者，腸鳴而痛濯濯；冬日重感於寒，則飧泄不化。小腸脹者，少腹䐜脹，引腰而痛。膀胱脹者，少腹滿而氣癃。三焦脹者，氣滿於皮膚中，輕輕然而不堅。膽脹者，脅下痛脹，口中苦，善太息。</p>
<p>帝曰：脹者焉生？何因而有？岐伯曰：衛氣之在身也，常然並脈，循分肉，行有逆順，陰陽相隨，乃得天和，五臟更始，四時循序，五穀乃化。然後厥氣在下，營衛留止，寒氣逆上，真邪相攻，兩氣相搏，乃合為脹也。帝曰：脹論言無問虛實，工在疾瀉，近者一下，遠者三下，今有其三而不下者，其過焉在？岐伯曰：衛氣相亂，陰陽相逐，其於脹也，當瀉不瀉，氣故不下，三而不下，必更其道，氣下乃止，不下復始，可以萬全，烏有殆者乎。其於脹也，必審其脈，當瀉則瀉，當補則補，如鼓應桴，惡有不下者乎。</p>

<h2>六十九、五癃津液別篇</h2>
<p>黃帝問於岐伯曰：水穀入於口，輸於腸胃，其液別為五。天寒衣薄，則為溺與氣；天熱衣厚，則為汗；悲哀氣並，則為泣；中熱胃緩，則為唾：邪氣內逆，則氣為之閉塞而不行，不行則為水脹。余知其然也，不知其何由生？願聞其道。岐伯曰：水穀皆入於口，其味有五，各注其海，津液各走其道。故三焦出氣，以溫肌肉，充皮膚，為其津；其流而不行者為液。天暑衣厚，則腠理開，故汗出。寒留於分肉之間，聚沫則為痛。天寒則腠理閉，氣濕不行，水下留於膀胱，則為溺與氣。五臟六腑，心為之主，耳為之聽，目為之候，肺為之相，肝為之將，脾為之衛，腎為之主外。故五臟六腑之津液，盡上滲於目，心悲氣並，則心系急，心系急則肺舉，肺舉則液上溢。夫心系與肺，不能常舉，乍上乍下，故咳而泣出矣。中熱則胃中消穀，消穀則蟲上下作，腸胃充郭，故胃緩，胃緩則氣逆，故唾出。五穀之津液，和合而為膏者，內滲入於骨空，補益腦髓，而下流於陰股，陰陽不和，則使液溢而下流於陰，髓液皆減而下，下過度則虛，虛故腰背痛而脛酸，陰陽氣道不通，四海閉塞，三焦不瀉，津液不化，水穀並行腸胃之中，別於迴腸，留於下焦，不得滲膀胱，則下焦脹，水溢則為水脹。此津液五別之逆順也。</p>

<h2>七十、賊風篇</h2>
<p>黃帝曰：夫子言賊風邪氣之傷人也，令人病焉。今有其不離屏蔽，不出室穴之中，卒然病者，非不離賊風邪氣，其故何也？岐伯曰：此皆嘗有所傷於濕氣，藏於血脈之中，分肉之間，久留而不去，若有所墮墜，惡血在內而不去，卒然喜怒不節，飲食不適，寒溫不時，腠理閉而不通，其開而遇風寒，則血氣凝結，與故邪相襲，則為寒痹。其有熱則汗出，汗出則受風，雖不遇賊風邪氣，必有因加而發焉。黃帝曰：今夫子之所言者，皆病人之所自知也，其毋所遇邪氣，又無怵惕之所志，卒然而病者，其故何也，唯有因鬼神之事乎？岐伯曰：此亦有故邪留而未發，因而志有所惡，及有所慕，血氣內亂，兩氣相搏，其所從來者微，視之不見，聽而不聞，故似鬼神。黃帝曰：其祝而已者，其故何也？岐伯曰：先巫者，因知百病之勝，先知其病之所從生者，可祝而已也。</p>

<h2>七十一、五音五味篇婦人無須</h2>
<p>黃帝曰：婦人無須者，無血氣乎？岐伯曰：衝脈、任脈，皆起於胞中，上循背裡，為經絡之海。其浮而外者，循腹上行，會於咽喉，別而絡唇口。血氣盛則充膚熱肉，血獨盛則淡滲皮膚，生毫毛。今婦人之生，有餘於氣，不足於血，以其數脫血也。衝任之脈。不榮口唇，故須不生焉。黃帝曰：士人有傷於陰，陰氣絕而不起，陰不用，然其須不去，其故何也？宦者獨去何去？願聞其故。岐伯曰：宦者去其宗筋，傷其衝脈，血瀉不復，皮膚內結，唇口不榮，故須不生。黃帝曰：其有天宦者，未嘗被傷，不脫於血，然其須不生，其何故也？岐伯曰：此天之所不足也，其任沖不盛，宗筋不成，有氣無血，唇口不榮，故須不生。黃帝曰：善乎哉！聖人之通萬物也，若日月之光影，音聲鼓響，聞其聲而知其形，其非夫子，孰能明萬物之精！是故聖人，視其顏色，黃赤者，多熱氣；青白者，少熱氣。黑色者，多血少氣：美眉者，太陽多血；通髯極須者，少陽多血；美須者，陽明多血，此其時然也。夫人之常數，太陽常多血少氣，少陽常多氣少血，陽明常多血多氣，厥陰常多氣少血，少陰常多血少氣，太陰常多血少氣，此天之常數也。</p>

<h2>七十二、憂恚無言篇</h2>
<p>黃帝問於少師曰：人之卒然憂恚，而言無音者，何道之塞，何氣不行，使音不彰？願聞其方。少師答曰：咽喉者，水穀之道也；喉嚨者，氣之所以上下者也。會厭者，音聲之戶也；口唇者，音聲之扇也；舌者，音聲之機也；懸壅垂者，音聲之關也；頏顙者，分氣之所泄也。橫骨者，神氣所使，主發舌者也。故人之鼻洞涕出不收者，頏顙不開，分氣失也。是故厭小而疾薄，則發氣疾，其開合利，其出氣易；其厭大而厚，則開合難，其氣出遲，故重言也。人卒然無音者，寒氣客於厭，則厭不能發，發不能下，至其開合不致，故無音。黃帝曰：刺之奈何？岐伯曰：足之少陰，上繫於舌，絡於橫骨，終於會厭，兩瀉其血脈，濁氣乃闢。會厭之脈，上絡任脈，取之天突，其厭乃發也。</p>

<h2>七十三、邪客篇</h2>
<p>黃帝問於伯高曰：願聞人之肢節，以應天地奈何？伯高答曰：天圓地方，人頭圓足方以應之。天有日月。人有兩目。地有九州，人有九竅。天有風雨，人有喜怒。天有雷電，人有音聲。天有四時，人有四肢。天有五音，人有五臟。天有六律，人有六腑。天有冬夏，人有寒熱，天有十日，人有手十指。辰有十二，人有足十指，莖垂以應之；女子不足二節，以抱人形。天有陰陽，人有夫妻。歲有三百六十五日，人有三百六十五節。地有高山，人有肩膝。地有深谷，人有腋膕。地有十二經水，人有十二經脈。地有泉脈，人有衛氣。地有草蓂，人有毫毛。天有晝夜，人有臥起。天有列星，人有牙齒。地有小山，人有小節。地有山石，人有高骨。地有林木，人有募筋，地有聚邑，人有䐃肉。歲有十二月，人有十二節。地有四時不生草，人有無子。此人與天地相應者也。</p>

<h2>七十四、大惑篇</h2>
<p>黃帝問於岐伯曰：余嘗上於清冷之臺，中階而顧，匐匐而前，則惑。余私異之，竊內怪之，獨瞑獨視，安心定氣，久而不解，獨轉獨眩，披髮長跪，俯而視之，後久之不己也，卒然自止，何氣使然？岐伯對曰：五臟六腑之精氣，皆上注於目，而為之精，精之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，其窠氣之精為白眼，肌肉之精為約束，裹擷筋骨血氣之精而與脈併為系，上屬於腦，後出於項中。故邪中於項，因逢其身之虛，其入深，則隨眼系以入於腦，入於腦則腦轉，腦轉則引目系急，目系急則目眩以轉矣。邪其精，其精所中不相比也，則精散，精散則視岐，視岐見兩物。目者，五臟六腑之精也，營衛魂魄之所常營也，神氣之所生也，故神勞則魂魄散，志意亂。是故瞳子、黑眼法於陰，白眼、赤脈法於陽也，故陰陽合傳而精明也，目者，心使也；心者，神之舍也。故神精亂而不轉，卒然見非常處，精神魂魄，散不相得，故曰惑也。黃帝曰：余疑其然，余每之東苑，未曾不惑，去之則復，余唯獨為東苑勞神乎，何其異也？岐伯曰：不然也，心有所喜，神有所惡，卒然相惑，則精氣亂，視誤，故惑，神移乃復。是故間者為迷，甚者為惑。</p>

<h2>七十五、十二經絡臟象見證</h2>
<p>（附任督二脈起止）</p>
<p><u>手太陰肺臟象</u>（是經多氣少血）　肺之為臟，六葉兩耳，四垂如蓋，附著於脊之第三椎，中有二十四空，行列分布諸臟之氣，為五臟華蓋云。</p>
<p>其經起於中焦，下絡大腸，還循胃口，上膈屬肺。從肺系橫出腋下，下循臑內（肩下臂上，通名曰臑），行少陰心主之前（臑內廉凡有三脈，太陰居前，少陰居後，厥陰居中也），下肘中（臂上臑下接處曰肘），循臂內上骨下廉（臑下掌上名曰臂，臂有二骨，今太明脈循臂上骨之下廉也），入寸口（掌後陷中動脈，太淵穴也；寸口中動脈，經渠穴也），上魚，循魚際（魚際，穴也，散脈中是），出大指之端（少商穴也）。其支者，從腕後直出次指內廉，出其端。</p>
<p>是動則病肺脹滿，膨膨而喘咳，缺盆中痛，甚則交兩手而瞀，此為臂厥。是主肺所生病者，咳嗽上氣，喘喝煩心，胸滿，臑臂內前廉痛，掌中熱。氣盛有餘，則肩背痛，風寒，汗出中風，小便數而欠；虛則肩背痛寒，少氣不足以息，溺色黃變，卒遺失無度。</p>
<p><u>手陽明大腸經臟象</u>（是經多血多氣）　大腸長二丈一尺，廣四寸，徑一寸，當臍右回十六曲，盛谷一斗，水七升半。</p>
<p>其經之脈，起於大指次指之端（商陽穴也），循指上廉（指上廉本節前陷中二間穴，本節後陷中三間穴也），出合谷兩骨間（合谷穴也），上入兩筋之中（陽谿穴也），循臂上廉，入肘外廉（曲池穴也），上臑外前廉，上肩，出髃骨之前廉，上出於柱骨之會上，下入缺盆，絡肺，下膈，屬大腸。其支者，從缺盆上頸，貫頰，入下齒中，還出挾口，交人中，左之右，右之左，上挾鼻孔。</p>
<p>是動則病齒痛䪼腫。是主津液所生病者，目黃，口乾，鼽衄，喉痹，肩前臑痛，大指次指痛不用。氣有餘則當脈所過者熱腫；虛則寒凜不復。</p>
<p><u>足陽明胃經臟象</u>（是經多血多氣）　胃大一尺五寸，紆曲屈伸，長二尺六寸，徑五寸，盛谷二斗，水一斗五升。</p>
<p>其經之脈，起於鼻之交頞中，旁約太陽之脈，下循鼻外，入上齒中，還出挾口環唇，下交承漿，卻循頤後下廉，出大迎，循頰車，上耳前，過客主人，循髮際，至額顱。其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈，屬胃絡脾。其直者，從缺盆下乳內廉，下挾臍，入氣街中。其支者，起於胃口，下循腹裡，下至氣街中，而合以下髀關，抵伏兔，下膝臏中（腿下脛上接處曰膝），下循脛外廉（謂脛骨之外廉也；其外廉下膝三寸，三里穴也；又下三寸，巨虛上廉也。又下三寸，巨虛下廉也。直下至腕中，解谿穴也），下足跗（衝陽穴也，足面曰跗，跗上陷中動脈是也；凡是跗直下大指之間，皆有動脈，其大指之間，足少陽脈也；上入指本節後間動脈，足厥陰脈也；上跗上動脈，足陽明脈也。《針經·終始篇》云：陽明在上，厥陰在中，少陽在下者是也。凡言間，皆謂兩指中間也），入中指內間（中指內間，本節後陷中陷谷穴也；本節前陷中，內庭穴也；大指次指之端，厲兌穴也）。其支者，下廉三寸，而別下入中指外間。其支者，別跗上，入大指間，出其端。</p>
<p>是動則病洒洒然振寒，善伸數欠，顏黑。病至則惡人與火，聞木音則惕然而驚，心欲動，獨閉戶塞牖而處；甚則欲上高而歌，棄衣而走，賁響腹脹，是為骭厥。是主血所生病者，狂瘧溫淫，汗出鼽衄，口喎唇胗，頸腫喉痹，大腹水腫，膝臏腫痛，循膺乳、氣街、股、伏兔、䯒外廉、足跗上皆痛，中指不用。氣盛則身以前皆熱。其有餘於胃，則消穀善飢，溺色黃；不足則身以前皆寒慄，胃中寒則脹滿。</p>
<p><u>足太陰脾經臟象</u>（是經多氣少血）　脾廣三寸，長五寸，掩乎太倉，附著於脊之第十一椎。</p>
<p>其經之脈，起於大指之端（隱白穴也，在大指端內側），循指內側白肉際（大指內側，本節後大都穴也），過核骨後（核骨下太白穴也；核骨，在足大指本節後約二寸，內踝骨前約三寸，如棗核橫於足內側赤白肉際者是也；竇太師指為孤拐骨者，非是也），上內踝前廉（內踝下前陷中，商丘穴也），上踹內，循脛骨後，交出厥陰之前，上膝股內前廉（膝輔骨下陷中，陰陵泉穴也），入腹，屬脾絡胃。上膈，挾咽，連舌本，散舌下。其支者，復從胃別上膈，注心中。</p>
<p>是動則病舌本強，食則嘔，胃脘痛，腹脹，善噫，得後與氣則快然如衰，身體皆重。是主脾所生病者，舌本痛，體不能動搖，食不下，煩心，心下急痛，寒瘧，溏瘕泄，水閉，黃疸，不能臥，強立，股膝內瘇厥，足大指不用。</p>
<p><u>手少陰心經臟象</u>（是經多氣少血）　心形如未敷蓮花，居肺下膈上，附著於脊之第五椎。</p>
<p>其經之脈，起於心中，出屬心系，下膈，絡小腸。其支者，從心系上挾咽，系目系。其直者，復從心系卻上肺，下出腋下（肺脈從肺系橫出腋下，心脈從肺而出於腋下，包絡脈從脅下抵腋下），下循臑內後廉，行太陰心主之後，下肘內（少海穴也），循臂內後廉（臂內後廉上脘一寸半，靈道穴也），抵掌後兌骨之端（神門穴也），入掌內後廉（掌內後廉小指本節陷中，少府穴也），循小指之內出其端（少衝穴也，在小指內廉之端）。</p>
<p>是動則病咽乾心痛，渴而欲飲，是為臂厥。是主心所生病者，目黃，脅痛，臑臂內後廉痛厥，掌中熱。</p>
<p><u>手太陽小腸經臟象</u>（是經多血多氣）　小腸長三丈二尺，左回迭積十六曲，胃之下口，小腸上口也，在臍上二寸，水穀於是入焉。復下一寸為水分穴，則小腸下口也，至是而泌別清濁，水液入膀胱，滓穢入大腸。</p>
<p>其經之脈，起於小指之端（少澤穴也），循手外側（小指本節前谷穴也，本節後陷中，後谿穴也），上腕（臂下掌上節處曰腕，腕前起骨中陷中，腕骨穴也。當腕中陷處，陽谷穴也），出踝中，直上循臂骨下廉，出肘內側兩筋之間（少海穴也），上循臑外後廉，出肩解，繞肩胛，交肩上，入缺盆，絡心。循咽下膈，抵胃，屬小腸。其支者，從缺盆循頸上頰，至目銳眥，卻入耳中。其支者，別頰上䪼抵鼻，至目內眥，斜絡於顴。</p>
<p>是動則病嗌痛，頷腫，不可回顧，肩似拔，臑似折。是主液所生病者，耳聾，目黃，頰腫，頸、頷、肩、臑、肘、臂外後廉痛。</p>
<p><u>足太陽膀胱臟象</u>（是經多血少氣）　膀胱縱廣九寸，居腎之下，大腸之側，小腸下口，乃膀胱上口，水液由是滲入焉。盛溺九升九合。</p>
<p>其經之脈，起於目內眥，上額交巔。其支者，從巔至耳上角。其直者，從巔入絡腦，還出別下項，循肩髆，內挾脊，抵腰中，入循膂，絡腎屬膀胱。其支者，從腰中下挾脊，貫臀，入膕中（腿下踹上接處約文中央動脈曰膕中，委中穴也）。其支者，從髆內左右別下貫胛，挾脊內過髀樞（竇云：髀，骨節也），循髀外，從後廉下合膕中，以下貫踹內（足肚曰踹），出外踝之後（崑崙穴也），循京骨（京骨穴也），至小指外側（小指外側本節後陷中，束骨穴也；本節前，通谷穴也；小指端，至陰穴也）。</p>
<p>是動則病沖頭痛，目似脫，項似拔，脊痛，腰似折，髀不可以曲，膕如結，腨如裂，是為踝厥。是主筋所生病者，痔，瘧，狂顛疾，頭囪頂痛，目黃淚出，鼽衄，項、背、腰、尻、膕、腨、腳皆痛，小指不用。盛者，人迎大再倍於寸口；虛者，人迎反小於寸口也。</p>
<p><u>足少陰腎臟象</u>（是經多氣少血）　腎有兩枚，重一斤一兩。狀如石卵，附著於脊之十四椎，當胃下兩旁。</p>
<p>其經之脈，起於小指之下，斜走足心（湧泉穴也），出於然骨之下（然骨，穴也，在內踝前起大骨下陷中），循內踝之後（內踝之後，跟骨之上陷中動脈，太谿穴也；上太谿二寸，復溜穴也），別入跟中，以上踹內，出膕內廉（陰谷穴也），上股內後廉，貫脊，屬腎絡膀胱。其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本。其支者，從肺出絡心，注胸中。</p>
<p>是動則病飢不欲食，面黑如地色，咳唾則有血，喝喝而喘，坐而欲起，目䀮䀮如無所見，心如懸，病飢狀；氣不足則善恐，心惕惕如人將捕之，是謂骨厥。是主腎所生病者，口熱，舌乾，咽腫，上氣，嗌乾及痛，煩心，心痛，黃疸，腸癖，脊臀股內後廉痛，痿厥，嗜臥，足下熱而痛。盛者，寸口大再倍於人迎；虛者，寸口反小於人迎也。</p>
<p><u>手厥陰心包絡之經</u>（是經多血少氣）　滑伯仁曰：心包，一名手心主。以臟象校之，在心下橫膜之上，豎膜之下，與橫膜相黏，而黃脂漫裹者，心也；其漫脂之外，有細筋膜如系，與心肺相連者，心包也。君火以名，相火以位，手心主代君火行事。以用而言，則曰手心主；以經而言，則曰心包絡。一經二名，實相火也。</p>
<p>其經之脈，起於胸中，出屬心包絡，下膈，歷絡三焦。其支者，循胸出脅，下腋三寸，上抵腋下，循臑內，行太陰少陰之間，入肘中（曲澤穴也），下臂，行兩筋之間（兩節之上腕三寸，間使穴也；當腕中，大陵穴也），入掌中（勞宮穴也，穴有動脈），循中指，出其端（中衝穴也）。其支者，別掌中，循小指次指，出其端。</p>
<p>是動則病手心熱，臂肘攣急，腋腫；甚則胸脅支滿，心中澹澹大動，面赤目黃，喜笑不休。是主脈所生病者，煩心，心痛，掌中熱。</p>
<p><u>手少陽三焦之經</u>（是經多氣少血）　三焦者，水穀之道路，氣之所終始也。上焦在心下下膈，在胃上口，其治在膻中，直兩乳間陷者中。中焦在胃中脘，當臍上四寸，不上不下，其治在臍旁。下焦當膀胱上口，其治在臍下一寸。</p>
<p>其經之脈，起於小指次指之端（關衝穴也），上出兩指之間（兩指之間陷中，腋門穴也；上兩指本節後間陷中，中渚穴也），循手表腕（陽池穴也），出臂外兩骨之間（兩骨之間上腕二寸，支溝穴也），上貫肘（天井穴也），循臑外，上肩而交出足少陽之後，入缺盆，布膻中，散絡心包，下膈，循屬三焦。其支者，從膻中上出缺盆，上項，系耳後，直上出耳上角，以屈下頰至䪼（䪼，頰骨也）。其支者，從耳後入耳中，出走耳前，過客主人前，交頰至目銳眥。</p>
<p>是動則病耳聾，渾渾焞焞，嗌腫喉痹。是主氣所生病者，汗出，目銳眥痛，頰痛，耳後、肩、臑、肘、臂外皆痛，小指次指不用。</p>
<p><u>足少陽膽臟象</u>（是經多氣少血）　膽長三寸，在肝之短葉間。包精汁三合，為清淨之府。諸府皆傳穢濁，獨膽無所傳道，故曰清淨。膽汁減則目昏又吐，傷膽倒則視物倒植。</p>
<p>其經之脈，起於目銳眥，上抵頭角，下耳後，循頸，行手少陽之前，至肩上，卻交出手少陽之後，入缺盆。其支者，從耳後入耳中，出走耳前，至目銳眥後。其支者，別銳眥，下大迎，合手少陽，抵於䪼下，加頰車，下頸，合缺盆，以下胸中，貫膈，絡肝屬膽。循脅裡，出氣街，繞毛際，橫入髀厭中。其直者，從缺盆下腋，循胸，過季脅，下合髀厭中（竇氏云：腹下腿上節處是也），以下循髀陽，出膝外廉，下外輔骨之前（外輔骨之前膝之下一寸，陽陵泉穴也，伸足取之），直下抵絕骨之端（陽輔穴也），下出外踝之前（丘墟穴也），循足跗上，入小指次指之間（小指次指之間本節前陷中，俠谿穴也；本節後陷中，臨池穴也；小指次指之端，竅陰穴也）。其支者，別跗上，入大指之間，循大指岐骨內出其端，還貫爪甲，出三毛。</p>
<p>是動則病口苦，善太息，心脅痛，不能轉側，甚則面微塵，體無膏澤，足外反熱，是為陽厥。是主骨所生病者，頭角頷痛，目銳眥痛，缺盆中腫痛，腋下腫，馬刀俠癭，汗出振寒，瘧，胸、脅、肋、髀、膝外至脛絕骨、外踝前及諸節皆痛，小指次指不用。</p>
<p><u>足厥陰肝臟象</u>（是經多血少氣）　肝左三葉，右四葉，凡七葉。其治在左，其臟在右，附著於脊之第九椎。</p>
<p>其經之脈，起於大指叢毛之際（大敦穴也），上循足跗上廉（足跗上廉大指間陷中，行間穴也；大指本節後間陷中，太衝穴也），去內踝一寸，上踝八寸，交出太陰之後（內踝前一寸，中封穴也），上膕內廉（曲泉穴也），循股陰，入毛中，過陰器，抵小腹，挾胃屬肝絡膽。上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔。其支者，從目系下頰裡，環唇內。其支者，復從肝別貫膈，上注肺（《經脈篇》）。</p>
<p>是動則病腰痛，不可以俯仰，丈夫㿗疝，婦人小腹腫；甚則嗌乾、面塵、脫色。是主肝所生病者，胸滿，嘔逆，洞泄，狐疝，遺溺，癃閉。</p>
<p><u>督脈</u>　督之為言，都也。行背部之中行，為陽脈之都綱，奇經八脈之一也。</p>
<p>督脈者，起於下極之腧，並於脊裡，上至風府，入腦，上巔，循額至鼻柱，屬陽脈之海也。</p>
<p>脊之為骨，凡二十一椎，通項骨三椎，共二十四椎。自屏翳而起，歷長強穴，並脊裡而上行，循腰腧、陽關、命門、懸樞、脊中、筋縮，至陽陵、靈臺、神道、身柱，過風門，循陶道、大椎、啞門，至風府入腦，循腦戶、強間、後頂上巔，至百會、前頂、囟會、上星、神庭，循額至鼻柱，經素髎、水溝、兌端，至齗交而終焉。雲陽脈之海者，以人之脈絡周流於諸陽之分，譬猶水也，而督脈則為之都綱，故曰陽脈之海。</p>
<p><u>任脈</u>　任之為言，妊也。行腹部中行，為婦人生養之本，奇經之一脈也。</p>
<p>任脈者，起於中極之下以上毛際，循腹裡，上關元，至喉嚨，屬陰脈之海也。</p>
<p>任與督，一源而二岐，督則由會陰而行背，任則由會陰而行腹。夫人身之有任督，猶天地之有子午也。人身之任督，以腹背言，天地之子午；以南北言，可以分，可以合者也。分之以見陰陽之不雜，合之以見渾淪之無間，一而二，二而一者也。任脈起於中極之下，會陰之分也，由是循曲骨，上毛際，至中極，行腹裡，上循關元、石門、氣海、陰交、神闕、水分、下脘、建里、中脘、上脘、巨闕、鳩尾、中庭、膻中、玉堂、紫宮、華蓋、璇璣、天突、廉泉、上頤，循承漿，環唇上，至齗交分行，系兩目下之中央，會承泣而終焉。云陰脈之海者，亦以人之脈絡周流於諸陰之分，譬猶水也，而任脈則為之總會焉，故曰陰脈之海。</p>

<h2>七十六、附王好古類集五臟苦欲補瀉藥味</h2>
<p><u>肝苦急</u>　急食甘以緩之，甘草；欲散，急食辛以散之，川芎；以辛補之，細辛；以酸瀉之，芍藥。虛，以生薑、陳皮之類補之。經曰：「虛則補其母」，水能生木，腎乃肝之母，腎水也，苦以補腎，熟地黃、黃柏是也。如無他證，錢氏地黃丸主之。實則白芍藥瀉之，如無他證，錢氏瀉青丸主之。「實則瀉其子」，心乃肝之子，以甘草瀉心。</p>
<p><u>心苦緩</u>　急食酸以收之，五味子；欲軟，急食鹹以軟之，芒硝；以咸補之，澤瀉；以甘瀉之，人參、黃耆、甘草。虛，以炒鹽補之。「虛則補其母」，木能生火，肝乃心之母，肝木也，以生薑補肝，如無他證，錢氏安神丸主之。實則甘草瀉之，如無他證，錢氏方中重則瀉心湯，輕則導赤散。</p>
<p><u>脾苦濕</u>　急食苦以燥之，白朮；欲緩，急食甘以緩之，甘草；以甘補之，人參；以苦瀉之，黃連。虛，則以甘草、大棗之類補之，如無他證，錢氏益黃散主之。心乃脾之母，以炒鹽補心。實，則以枳實瀉之，如無他證，以瀉黃散瀉之。肺乃脾之子，以桑白皮瀉肺。</p>
<p><u>肺苦氣上逆</u>　急食苦以瀉之，訶子皮；一作黃芩。欲收，急食酸以收之，白芍藥：以辛瀉之，桑白皮；以酸補之，五味子。虛，則五味子補之，如無他證，錢氏阿膠散補之。脾乃肺之母，以甘草補脾。實，則桑白皮瀉之，如無他證，以瀉白散瀉之。腎乃肺之子，以澤瀉瀉腎。</p>
<p><u>腎苦燥</u>　急食辛以潤之，知母、黃柏；欲堅，急食苦以堅之，知母；以苦補之，黃柏；以咸瀉之，澤瀉。虛，則熟地黃、黃柏補之。腎本無實，不可瀉，錢氏止有補腎地黃丸，無瀉腎之藥。肺乃腎之母，以五味子補肺。</p>
<p>以上五臟補瀉，《內經·藏氣法時論》中備言之，欲究其精，詳看本論。</p>

<h3>臟腑瀉火藥</h3>
<p>黃連瀉心火　木通瀉小腸火　黃芩瀉肺火（梔子佐之）黃芩瀉大腸火　柴胡瀉肝火（黃連佐之）　柴胡瀉膽火（亦以黃連佐之）　白芍藥瀉脾火　石膏瀉胃火　知母瀉腎火　黃柏瀉膀胱火　柴胡瀉三焦火（黃芩佐之）</p>
<p>以上諸藥，各瀉其火，不惟止能如此，更有治病，合為君、合為臣處，詳其所宜而用，勿執一也。</p>

<h2>七十七、附李東垣藥類法象</h2>

<h3>用藥法象</h3>
<p>天有陰陽　風、寒、暑、濕、燥、火，三陰三陽上奉之。</p>
<p>溫、涼、寒、熱，四氣是也。溫熱者，天之陽也。涼寒者，天之陰也，此乃天之陰陽也。</p>
<p>地有陰陽　金、木、水、火、土，生、長、化、收、應之藏下。</p>
<p>辛、甘、淡、酸、苦、咸，五味是也。皆象於地，辛、甘、淡者，地之陽也，酸、苦、咸者，地之陰也，此乃地之陰陽也。</p>
<p>味之薄者，為陰中之陽。味薄則通，酸、苦、咸，平是也。</p>
<p>味之厚者，為陰中之陰。味厚則泄，酸、苦、咸，寒是也。</p>
<p>氣之厚者，為陽中之陽。氣厚則發熱，辛、甘、溫，熱是也。</p>
<p>氣之薄者，為陽中之陰。氣薄則發泄，辛、甘、淡、平、涼，寒是也。</p>
<p>輕清成象（味薄茶之類），本乎天者親上。</p>
<p>重濁成形（味厚大黃之類），本乎地者親下。</p>
<p>氣味辛甘發散為陽，　酸苦湧泄為陰。</p>
<p>清陽發腠理，清之清者也；清陽實四肢，清之濁者也。</p>
<p>濁陰歸六腑，濁之濁者也；濁陰走五臟，濁之清者也。</p>

<h3>藥性要旨</h3>
<p>苦藥平升　微寒平亦升　甘辛藥平降　甘寒瀉火　苦寒瀉濕熱　苦甘寒瀉血熱</p>

<h3>用藥升降浮沉補瀉法</h3>
<p>肝、膽：味，辛補、酸瀉。氣，溫補、涼瀉。</p>
<p>心、小腸：味，咸補、甘瀉。氣，熱補、寒瀉。</p>
<p>脾、胃：味，甘補、苦瀉。氣，溫、涼、寒、熱，補瀉各從其宜。</p>
<p>肺、大腸：味，酸補、辛瀉。氣，涼補、溫瀉。</p>
<p>腎、膀胱：味，苦補、咸瀉。氣，寒補、熱瀉。</p>
<p>五臟更相平也，一臟不平，所勝平之，此之謂也。故云安穀則昌，絕谷則亡。水去則榮散，谷消則衛亡；榮散衛亡，神無所居。又仲景云：水入於經，其血乃成；谷入於胃，脈道乃行。故血不可不養，衛不可不溫，血溫衛和，榮衛將行，常有天命矣。</p>

<h3>五味所用</h3>
<p>苦泄　甘緩　酸收　咸軟　淡滲泄　辛散</p>

<h3>藥類法象</h3>
<p>風，升，生（味之薄者，陰中之陽；味薄則通，酸、苦、咸，平是也）。</p>
<p>防風（純陽，性溫，味甘辛）　升麻（氣平，味微苦）　柴胡（氣平，味苦平）　羌活（氣微溫，味苦甘平）　威靈仙（氣溫，微苦）　葛根（氣平，味甘）　獨活（氣微溫，味苦甘平）　細辛（氣溫，味大辛）　桔梗（氣微溫，味苦辛）　白芷（氣溫，味大辛）　藁本（微溫，味大辛）　鼠黏子（氣平，味辛）　蔓荊子（氣清，味辛）　川芎（氣溫，味辛）　天麻（氣平，味苦）　秦艽（氣微溫，味苦辛平）　荊芥（氣溫，味苦辛）　麻黃（氣溫，味甘苦）　前胡（氣微寒，味苦）　薄荷（氣溫，味苦辛）</p>
<p>熱，浮，長（氣之厚者，陽中之陽；氣厚則發熱，辛、甘、溫、熱是也）。</p>
<p>黑附子（氣熱，味大辛）　烏頭（氣熱，味大辛）　乾薑（氣熱，味大辛）　良薑（氣熱，味辛；一本味甘辛）　乾生薑（氣溫，味辛）　肉桂（氣熱，味大辛）　桂枝（氣熱，味甘辛）　草豆蔻（氣熱，味大辛）　丁香（氣溫，味辛）　厚朴（氣溫，味辛）　木香（氣熱，味苦辛）　益智（氣熱，味大辛）　白豆蔻（氣熱，味大辛）　川椒（氣熱、溫，味大辛）　吳茱萸（氣熱，味苦辛）　茴香（氣平，味辛）　延胡索（氣溫，味辛）　縮砂（氣溫，味辛）　紅藍花（氣溫，味辛）　神麯（氣大暖，味甘）</p>
<p>濕，化，成（戊濕，其本氣平，其兼氣溫、涼、寒、熱，在人以胃應之。己土，其本味鹹，其兼味辛、甘、鹹苦，在人以脾應之）。</p>
<p>黃耆（氣溫平，味甘）　人參（氣溫，味甘）　甘草（氣平，味甘）　當歸（氣溫，味辛；一作味甘）　熟地黃（氣寒，味苦）　半夏（氣微寒，味辛平）　白朮（氣溫，味甘）　蒼朮（氣溫，味甘）　陳皮（氣溫，味微苦）　青皮（氣溫，味辛）　藿香（氣微溫，味甘辛）　檳榔（氣溫，味辛）　莪朮（氣溫，味苦辛）　京三稜（氣平，味苦）　阿膠（氣微溫，味甘辛）　訶子（氣溫，味苦）　杏仁（氣溫，味甘苦）　大麥櫱（氣溫，味鹹）　桃仁（氣溫，味甘苦）　紫草（氣寒，味苦）　蘇木（氣平，味甘鹹；一作味酸）</p>
<p>燥，降，收（氣之薄者，陽中之陰。氣薄則發泄，辛、甘、淡、平、寒、涼是也）。</p>
<p>茯苓（氣平，味甘）　澤瀉（氣平，味甘）　豬苓（氣寒，味甘）　滑石（氣寒，味甘）　瞿麥（氣寒，味苦平）　車前子（氣寒，味甘）　燈心草（氣平，味甘）　五味子（氣溫，味酸）　桑白皮（氣寒，味苦酸）　天門冬（氣寒，味微苦）　白芍藥（氣微寒，味酸）　麥門冬（氣寒，味微苦）　犀角（氣寒，味苦酸）　烏梅（氣平，味酸）　牡丹皮（氣寒，味苦）　地骨皮（氣寒，味苦）　枳殼（氣寒，味苦）　琥珀（氣平，味甘）　連翹（氣平，味苦）　枳實（氣寒，味苦酸）　木通（氣平，味甘）</p>
<p>寒，沉，藏（味之厚者，陰中之陰；味厚則泄，酸、苦、咸、氣寒是也）。</p>
<p>大黃（氣寒，味苦）　黃柏（氣寒，味苦）　黃芩（氣寒，味苦）　黃連（氣寒，味苦）　草龍膽（氣寒，味大苦）　石膏（氣寒，味辛）　生地黃（氣寒，味苦）　知母（氣寒，味大辛）　防己（氣寒，味大苦）　茵陳（氣微寒，味苦平）　朴硝（氣寒，味苦辛）　栝蔞根（氣寒，味苦）　牡蠣（氣微寒，味鹹平）　玄參（氣寒，味微苦）　山梔子（氣寒，味微苦）　川楝子（氣寒，味苦平）　香豉（氣寒，味苦）　地榆（氣微寒，味甘鹹）</p>

<h3>標本陰陽論</h3>
<p>天，陽，無，圓，氣，上，外，升，生，浮，晝,動，輕，燥，六腑。</p>
<p>地，陰，有，方，血，下，內，降，殺，沉，夜,靜，重，濕，五臟。</p>
<p>夫治病者，當知標本。以身論之，則外為標，內為本；陽為標，陰為本。故六腑屬陽、為標，五臟屬陰、為本，此臟腑之標本也。又，臟腑在內、為本，各臟腑之經絡在外、為標，此臟腑經絡之標本也。更人身之臟腑、陰陽、氣血、經絡，各有標本也。以病論之，先受病為本，後傳流病為標。凡治病者，必先治其本，後治其標：若先治其標，後治其本，邪氣滋甚，其病益蓄。若先治其本，後治其標，雖病有十數，證皆去矣。謂如先生輕病，後生重病，當先治輕病，如是則邪氣乃伏，蓋先治本故也。若有中滿，無問標本，先治中滿，謂其急也。若中滿後有大小便不利，亦無問標本，先利大小便，次治中滿，謂尤急也。除大小便不利及中滿三者之外，皆治其本，不可不慎也。</p>
<p>從前來者為實邪，從後來者為虛邪，此子能令母實，母能令子虛是也。治法云：虛則補其母，實則瀉其子。假令肝受心火之邪，是從前來者為實邪，當瀉其子火也，然非直瀉其火，十二經中各有金木水火土，當木之分瀉其火也。故《標本淪》云：本而標之，先治其本，後治其標。既標受火邪，先於肝經五穴中瀉滎心，行間穴是也；後治其標者，於心經五穴內瀉滎火，少府穴是也。以藥論之，入肝經藥為之引，用瀉心火藥為君，是治實邪之病也。假令肝受腎邪，是從後來者為虛邪，虛則當補其母，故《標本論》云：標而本之，先治其標，後治其本。既受水邪，當先於腎經湧泉穴中補水，是先治其標；後於肝經曲泉穴中瀉水，是後治其本。此先治其標者，推其至理，亦是先治本也。以藥論之，入腎經藥為引，用補肝經藥為君是也。</p>

<h3>五方之正氣味</h3>
<p>（制方用藥附）</p>
<p>東方甲風乙木，其氣溫，其味甘，在人以肝、膽應之。</p>
<p>南方丙熱丁火，其氣熱，其味辛，在人以心、小腸、三焦、包絡應之。</p>
<p>中央戊濕，其本氣平，其兼氣溫、涼、寒、熱，在人以胃應之。</p>
<p>中央己土，其本味鹹，其兼味辛、甘、酸、苦，在人以脾應之。</p>
<p>西方庚燥辛金，其氣涼，其味酸，在人以肺、大腸應之。</p>
<p>北方壬寒癸水，其氣寒，其味苦，在人以腎、膀胱應之。</p>
<p>人乃萬物中之一也，獨陽不生，獨陰不長，須稟兩儀之氣而生化也。聖人垂世立教，不能渾說，必當分析，以至理而言，則陰陽相附不相離，其實一也。呼則隨陽出，吸則隨陰入。天以陽生陰長，地以陽殺陰藏。此上說止明補瀉。用藥，君之一也，故曰主病者為君。用藥之機會，要明輕清成象，重濁成形，本乎天者親上，本乎地者親下，則各從其類也。清中清者，清肺以助其天真：清中濁者，榮華腠理。濁中清者，榮養於神；濁中濁者，堅強骨髓。故《至真要大論》云：五味陰陽之用，辛甘發散為陽，酸苦湧泄為陰，淡味滲泄為陽，鹹味湧泄為陰。六者，或收、或散，或緩、或急。或燥、或潤，或軟、或堅，各以所利而行之，調其氣，使之平也。</p>

<h3>隨證治病藥品</h3>
<p>如頭痛，須用川芎；如不愈，各加引經藥。太陽川芎　陽明白芷　少陽柴胡　太陰蒼朮　少陰細辛　厥陰吳茱萸</p>
<p>如頂巔痛，須用藁本，去川芎。</p>
<p>如肢節痛，須用羌活；去風濕亦宜用之。</p>
<p>如腹痛，須用芍藥；惡寒而痛，加桂；惡熱而痛，加黃柏。</p>
<p>如心下痞，須用枳實、黃連。</p>
<p>如肌熱及去痰者，須用黃芩，肌熱，亦用黃耆。</p>
<p>如腹脹，用薑製厚朴（一本有芍藥）。</p>
<p>如虛熱，須用黃耆；止虛汗亦用。</p>
<p>如脅下痛，往來潮熱，日脯潮熱，須用柴胡。</p>
<p>如脾胃受濕，沉困無力，怠惰好臥，去痰，用白朮。</p>
<p>如破滯氣，用枳殼，高者用之。夫枳殼者，損胸中至高之氣，二三服而已。</p>
<p>如破滯血，用桃仁、蘇木。</p>
<p>如補血不足，須用甘草。</p>
<p>如去痰，須用半夏。熱痰加黃芩；風痰加南星；胸中寒痰痞塞，用陳皮、白朮。多用則瀉脾胃。</p>
<p>如腹中窄狹，須用蒼朮。</p>
<p>如調氣，須用木香。</p>
<p>如補氣，須用人參。</p>
<p>如和血，須用當歸；凡血受病者，皆當用也。</p>
<p>如去下焦濕腫及痛，並膀胱有火邪者，必須酒洗防己、草龍膽、黃柏、知母。</p>
<p>如去上焦濕及熱，須用黃芩，瀉肺火故也。</p>
<p>如去中焦濕與痛、熱，用黃連，能瀉心火故也。</p>
<p>如去滯氣，用青皮；勿多服，多則瀉人真氣。</p>
<p>如渴者，用乾葛、茯苓，禁半夏。</p>
<p>如嗽，用五味子。</p>
<p>如喘者，用阿膠。</p>
<p>如宿食不消，須用黃連、枳實。</p>
<p>如胸中煩熱，須用梔子仁。</p>
<p>如水瀉，用白朮、茯苓、芍藥。</p>
<p>如氣刺痛，用枳殼，看何部分，以引經藥導使之行則可。</p>
<p>如血刺痛，用當歸，詳上下用根梢。</p>
<p>如瘡痛不可忍者，用寒苦藥如黃柏、黃芩，詳上下用根梢及引經藥則可。</p>
<p>如眼痛不可忍者，用黃連，當歸根。以酒浸煎。</p>
<p>如小便黃者，用黃柏；數者，澀者，或加澤瀉。</p>
<p>如腹中實熱，用大黃、芒硝。</p>
<p>如小腹痛，用青皮。</p>
<p>如莖中痛，用生甘草梢。</p>
<p>如驚悸恍惚，用茯神。</p>
<p>如飲水多，致傷脾，用白朮、茯苓、豬苓。</p>
<p>如胃脘痛，用草豆蔻。</p>
<p>凡用純寒、純熱藥，必用甘草，以緩其力也。寒熱相雜，亦用甘草，調和其性也。中滿者，禁用，經云：中滿勿食甘。</p>

<h3>用藥凡例</h3>
<p>凡解利傷風，以防風為君；甘草、白朮為佐。《經》云：「辛甘發散為陽」。風宜防風味辛，及治風通用，故防風為君，甘草、白朮為佐。</p>
<p>凡解利傷寒，以甘草為君；防風、白朮為佐，是寒宜甘緩也。或有別證，於前隨證治病藥內選用，分兩以君臣論。</p>
<p>凡眼暴發赤腫，以防風、黃芩為君，以瀉火；以黃連、當歸根和血為佐，兼以各經藥用之。</p>
<p>凡眼久病昏暗，以熟地黃、當歸根為君；以羌活、防風為臣，甘草、甘菊之類為佐。</p>
<p>凡痢疾腹痛，以白芍藥、甘草為君；當歸、白朮為佐。見血先後，以三焦熱論。</p>
<p>凡水瀉，以茯苓、白木為君，芍藥、甘草為佐。</p>
<p>凡諸風，以防風為君，隨治病為佐。</p>
<p>凡嗽，以五味子為君；有痰者，以半夏為佐；喘者，以阿膠為佐；有熱無熱，以黃芩為佐，但分兩多寡不同耳。</p>
<p>凡小便不利，黃柏、知母為君；茯苓、澤瀉為佐。</p>
<p>凡下焦有濕，草龍膽、防己為君；甘草、黃柏為佐。</p>
<p>凡痔漏，以蒼朮、防風為君；甘草、芍藥為佐，詳別證加減。</p>
<p>凡諸瘡，以黃連、當歸為君；甘草、黃芩為佐。</p>
<p>凡瘧，以柴胡為君，隨所發時所屬經分用引經藥佐之。</p>
<p>以上皆用藥之大要，更詳別證，於前隨證治病藥內逐旋加減用之。</p>

<h3>東垣報使</h3>
<p>太陽：羌活　下黃柏</p>
<p>陽明：白芷　升麻　下石膏</p>
<p>少陽：柴胡　下青皮</p>
<p>太陰：白芍藥</p>
<p>少陰：知母</p>
<p>厥陰：青皮　柴胡</p>
<p>小腸、膀胱屬太陽，藁本、羌活是本方。</p>
<p>三焦、膽與肝、包絡，少陽、厥陰柴胡強。</p>
<p>陽明大腸兼足胃，葛根、白芷、升麻當。</p>
<p>太陰肺脈中焦起，白芷、升麻、蔥白鄉。</p>
<p>脾經少與肺經異，升麻、芍藥白者詳。</p>
<p>少陰心經獨活主，腎經獨活加桂良。</p>
<p>通經用此藥為主，更有何病到膏肓。</p>

<h3>十二經嚮導</h3>
<p>手太陰肺：南星　款冬花　升麻　桔梗　山藥　檀香　五味子　粳米　白茯苓　阿膠　天門冬　麥門冬　桑白皮　蔥白　杏仁　麻黃　益智　丁香　白豆蔻　知母　砂仁（檀香、豆蔻為使）　梔子　黃芩　石膏</p>
<p>足太陰脾：草豆蔻　茱萸　砂仁（人參、益智為使）　防風　當歸　益智　黃耆　蒼朮　白朮　膠飴　代赭石　茯苓　麻子　甘草　半夏</p>
<p>通入手足太陰肺脾：升麻　芍藥　木瓜　白芍藥　藿香　延胡索　砂仁</p>
<p>手陽明大腸：升麻　白芷　麻子　秦艽　薤白　白石脂　砂仁（白石脂為使）　肉豆蔻　石膏</p>
<p>足陽明胃：丁香　草豆蔻　砂仁　防風　石膏　知母　白朮　神麯　葛根　烏藥　半夏　蒼朮　升麻　白芷　蔥白</p>
<p>通入手足陽明：麻黃（酒）　大黃（酒）　連翹　升麻白朮　葛根　石膏　檀香（佐以他藥）　白芷</p>
<p>手少陽三焦：川芎　大黃（酒）　柴胡　青皮　白朮　熟地　黃耆　地骨皮　石膏　細辛　附子</p>
<p>足少陽膽：半夏　草龍膽　柴胡</p>
<p>通入手足少陽：青皮　川芎　柴胡　連翹</p>
<p>手厥陰心包絡：沙參　白朮　柴胡　熟地　牡丹皮　敗醬</p>
<p>足厥陰肝：草龍膽　蔓荊子　阿膠　瞿麥　桃仁　山茱萸　代赭石　紫石英　當歸　甘草　青皮　羌活　吳茱萸　白朮</p>
<p>通入手足厥陰：青皮　熟地　柴胡　川芎　皂角　苦茶　桃仁</p>
<p>手太陽小腸：白朮　生地黃　羌活　赤茯苓　赤石脂　砂仁（赤石脂為使）</p>
<p>足太陽膀胱：蔓荊子　滑石　茵陳　白茯苓　豬苓　澤瀉　桂枝　黃柏　羌活　麻黃</p>
<p>通入手足太陽：防風　羌活　藁本　蔓荊子　茴香　黃柏　白朮　澤瀉　防己　大黃（酒）</p>
<p>手少陰心：麻黃　桂心　當歸　生地　黃連　代赭石　紫石英　梔子　獨活　赤茯苓</p>
<p>足少陰腎：知母　黃柏　地骨皮　阿膠　豬膚　牡丹皮　玄參　敗醬　牡蠣　烏藥　山茱萸　天門冬　豬苓　澤瀉　白茯苓　檀香　甘草　五味子　吳茱萸益智　丁香　獨活　桔梗（或用梢）　砂仁（黃柏、茯苓為使）</p>
<p>通入手足少陰：細辛　熟地　五味子　澤瀉　地榆　附子　知母　白朮</p>

<h2>七十八、本草攻克血積癥瘕及胎產解毒並十八反藥類</h2>
<p>（敘此以便立方採擇雖不立方而方在其中矣）</p>
<p>攻克血積癥瘕類：延胡索　三稜　蓬朮　川芎　歸尾　使君子　大戟　紅花　蘇木　黑醜　續隨子　麝香　雷丸　神麯　白芷　海螵蛸　桃仁　虻蟲　水蛭　乾漆　木香　通草　牛膝　山楂　大黃　瞿麥　射干　麥芽　水銀　碙砂　鱉甲</p>
<p>肉積類：碙砂　阿魏　山楂　甚者巴豆</p>
<p>酒積類：葛根　葛花　神麯　麥芽　黃連　青蒿　巴豆　甚者甘遂　牽牛</p>
<p>魚積類：橄欖　蘆根　草果　紅曲　甚者巴豆　芫花</p>
<p>血積類：歸尾　桃仁　紅花　蘇木　牛膝　乾漆　丹參　大黃　甚者虻蟲　水蛭</p>
<p>氣積類：木香　檳榔　沉香　檀香　烏藥　枳殼　青皮　枳實　甚者黑醜</p>
<p>水積類：黑醜　澤瀉　豬苓　郁李仁　海藻　昆布　甚者芫花　大戟　甘遂　商陸</p>
<p>涎積類：雄黃　膩粉　枯礬　甚者礞石　巴豆　瓜蒂　甘遂　輕粉</p>
<p>痰積類：半夏　南星　竹瀝　礞石　枳實　海石　蠍梢　皂莢　甚者瓜蒂　藜蘆　巴豆</p>
<p>食積類：砂仁　香附　麥芽　青皮　枳實　神麯　穀芽　紅曲　草果　甚者巴豆</p>
<p>蟲積類：薏苡根　吳茱萸根　酸石榴根　使君子　雷丸　蕪荑　乾漆　檳榔　甚者苦楝根皮　錫灰　輕粉　鶴蝨</p>
<p>諸瓜果積：平胃散加健脾消導，倍加肉桂；加麝香尤妙。</p>
<p>豆腐積：蘿蔔子</p>
<p>豆粉積：杏仁</p>
<p>諸骨鯁在喉中：貍頭骨　顱鷀骨　野苧根　紫玉　簪花根　威靈仙　蓬砂</p>
<p>安胎類：桑上寄生　川續斷　杜仲　白朮　條芩　蔥白　阿膠　鯉魚　地黃　艾葉　砂仁　人參　黃耆銀　烏骨雌雞　家苧根皮</p>
<p>墮胎類：雄黃　雌黃　水銀　粉錫　朴硝　大戟巴豆　牛黃　藜蘆　丹皮　牛膝　桂心　皂莢　䕡茹　槐子　薏苡　瞿麥　大附子　天雄　烏頭　蜈蚣　斑蝥　芫青　水蛭　虻蟲　蝟皮　蛇皮　蟹爪　半夏　黑醜　麝香　桃仁　芫花　代赭石　羊躑躅</p>
<p>難產：槐子　桂心　滑石　貝母　皂莢　蛇蛻　頭垢　麻油　牛膝　龜板　兔腦　柞木　丹參　海馬　益母草　豬脂酒　冬葵子　急性子</p>
<p>通乳汁類：石鐘乳　土瓜根　狗四足　豬四足　王不留行　通草　豬胰　木通　葵子　芝麻</p>
<p>內外吹：蒲公英　金雞瓜草　鹿角　貝母　栝蔞　青皮　白芷　芭蕉根</p>
<p>蛇虺百蟲毒：雄黃　巴豆　麝香　丹砂　乾薑　甘草　白芷</p>
<p>蜈蚣毒：桑皮汁及煮桑根汁　瀝清</p>
<p>蜘蛛毒：藍青汁　麝香</p>
<p>蜂躉毒：蜂房　藍青汁　薄荷汁</p>
<p>狗毒：杏仁　礬石　韭根　人屎汁　虎骨</p>
<p>風狗毒：斑蝥</p>

<h3>十八反</h3>
<p>甘草反諸藥類：大戟　芫花　甘遂　海藻</p>
<p>烏頭反諸藥類：半夏　栝蔞　貝母　白蘞　白芨</p>
<p>藜蘆反諸藥類：人參　玄參　丹參　沙參　苦參　細辛　芍藥</p>
