<header data-type="book">
<h1>子午流注說難</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>閻明廣</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
</dl>
</header>

<h1>環周圖說難</h1>
<p>第一環十干主日。</p>
<p>環周一圖。內外有四環。第一環用天干十字。分析地之五運。為五陰五陽。五陰分合於五臟。五陽分合於五府（餘三焦一府名曰孤府）。甲日陽木合膽府。乙日陰木合肝臟。丙日陽火合小腸。丁日陰火合心臟。戊合胃陽土。己合脾陰土。庚辛金合大腸與肺。壬癸水合腎與膀胱。孤府三焦無所合。決瀆之官。附屬於膀胱。此第一環十日天干之大分也。</p>
<p>第二環腧穴流注。</p>
<p>第三環干支定時。</p>
<p>第二環第三環細分一日為十二時。起於子。終於亥。上冠以天干十字。十日共一百二十時。地支用十次。天干用十二次。甲己之日。同起甲子。乙庚之日。同起丙子。丙辛日。起戊子。丁壬起庚子。戊癸起壬子。照次序推之。甲日十二時。重見甲為戍時。故開膽井竅陰穴。甲為陽木。膽府亦屬木之陽也。癸日十二時。重見癸為亥時。故開腎井湧泉穴。癸為陰水。腎臟亦屬水之陰也。或問癸日缺十時。腎不開丑時而移開亥時何也。蓋腎者主水。為人身立命之根。注重生木。如不能轉註於甲日。則流而不注。不合乎陰陽相生之道也。以此例推之。乙日乙酉時。開肝井大敦穴。乙為陰木。肝亦陰藏之屬木也。丙日丙申時。丁日丁未時。陽火陰火。則開小腸井少澤。心井少衝。戊日戊午時。己日已巳時。則開胃井厲兌。脾井隱白。戊陽土。己陰土也。庚日辰時。開商陽。辛日卯時。開少商。大腸陽金。肺藏陰之金也。壬為陽水。壬寅時開膀胱水府之至陰井穴。轉註癸日壬子時。壬重見壬。成為十日一大周。井穴通用紅字。表示每日旺氣主穴之起點。過穴亦書紅字。蓋本藏之俞。本府之原。與流而注者不同也。何謂流。陽日開陽時陽穴。依相生次序。仍流在陽日陽時之謂也。何謂注。陽日陽時取穴不足。則轉註而取陰日之陽時。反言之。陰日陰時取穴不足。則轉註而取陽日之陰時。均謂之注。流與注不同。注與過不同。陽日之末。氣納三焦。陰日之末。血歸包絡。取生我者。我生者亦各不同。試舉一甲日分析言之。甲日戌時。開膽井竅陰。其在戌時前。酉未巳卯醜五陰時。所列中衝。尺澤。商丘。神門。行間。各藏陰穴。皆由前癸陰日。依木火土金水相生之次序。轉註而來。甲日重見甲。至戌時。僅開竅陰一穴。甲為陽日。開陽時。亥為陰時不取。轉註到乙日丙子陽時。開小腸滎穴前谷。蓋甲膽屬木。丙小腸屬火。膽開第一穴。而轉溜於小腸之第二穴。木生火也。陽井竅陰屬金。陽滎前谷屬水。又金水相生之義也。再注到乙日戊寅時。則開胃之俞穴曰陷谷。小腸馬火。胃屬土。火生土也。並過丘墟一穴。因六腑六腧。各多一原穴。超出五行相生之外。故並過於俞位。反求其本。與竅陰一脈相承。並過於此。列於下位。以其非五行相生之正經也。用紅書一過字。表示有所本也。乙日庚辰時。注大腸陽谿穴。壬午時。注膀胱委中穴。言其府。則大腸屬金。膀胱屬水。金水相生。言其穴。則陽經火。陽俞土。火生土也。末甲申時。複列三焦滎穴液門。蓋三焦孤府。六腧無所寄。故分列於各府開穴之最末。獨取一滎者。陽滎為水穴。膽為木府。水能生木也。甲日始戌時。終於乙日申時。凡十一時。六腑各開一穴。膽居主位。多過一原穴。凡七穴。此甲日流注細分之理也。其餘九日。環周流注。臟各五腧。腑各六腧。腑為陽。臟為陰。陽井金。陰井木。各依相生之次序流注展轉而取之。腑過一原穴。臟以俞代原而過之。末一穴。陽日氣納三焦。取生我者，陰日血歸包絡。取我生者。均詳列前圖。一見而知。不贅也。</p>
<p>第四環同宗錯落。</p>
<p>天干十字。地支十二字。一日十二時。五日六十時。十日一百二十時。地支十二字。每日用一次。五日五次。十日十次。與天干十字配合用之。五日六十時。地支用五次。天干當用六次。甲子小周。五日一候。六日又另起甲子時。與一日同。此一六同宗甲己同宗之義也。甲日己日。一奇一偶。一陰一陽。日乾陰陽雖不同。時干支全同。故甲日流注諸穴。交落列於己日時干支之下。己日流注諸穴。轉交落列於甲日時干支之下。以此推之。二七為乙庚。三八為丙辛。四九為丁壬。五十為戊癸。皆一陰一陽之同宗。故流注各穴。除一過穴不交落。余均互相交錯落列於下環。依時取之。其效一也。</p>

<h1>上卷</h1>

<h2>本輸穴說難</h2>

<h3>手太陰肺經五腧穴</h3>
<p>一、少商（井穴）</p>
<p><u>部位</u>　在手大指端內側。去爪甲角如韭葉。</p>
<p><u>證治</u>　煩心善噦。心下滿。汗出而寒。咳逆。痎瘧振寒。腹滿唾沫。唇乾引飲不下。膨膨。手攣指痛。寒慄鼓頷。喉中鳴。</p>
<p><u>針灸</u>　三稜針刺之。微出血。泄諸臟熱氣。不宜灸。</p>
<p>按　少商乃陰井木穴之始。西方白色。入通於肺。其音商。商而曰少者。五臟為陰。陰常不足也。</p>
<p>二、魚際（滎穴）</p>
<p><u>部位</u>　在大指本節後散脈中。</p>
<p><u>證治</u>　灑淅惡風寒。虛熱。舌上黃。身熱頭痛。咳嗽。汗不出。痹走胸背痛。不得息。目眩煩心。少氣。腹痛不下食。肘攣支滿。喉中乾燥。寒慄鼓頷。咳引尻痛。溺出。嘔血。心痹。悲恐。</p>
<p><u>針灸</u>　針入二分。留三呼。</p>
<p>按：魚際乃陰滎火穴。在手大指後魚腹中。手大指接近次指時。則魚腹豐滿。離開次指時。則本節後內側微陷下。有如魚腹正中交際之形。故名魚際。魚際為火穴。肺為金藏。火能剋金。故此穴言針不言灸。</p>
<p>三、大淵（俞穴）</p>
<p><u>部位</u>　在手掌後陷中。</p>
<p><u>證治</u>　胸痹逆氣。寒厥善噦嘔。飲水咳嗽。煩惋不得臥。肺脹滿膨膨。臂內廉痛。目生白翳。眼眥赤筋。缺盆中引痛。掌中熱。數欠。喘不得息。噫氣上逆。心痛唾血。振寒。咽乾。狂言口僻。</p>
<p><u>針灸</u>　針入二分。可灸三壯。</p>
<p>按：大淵乃脈之所會。本輸篇云。魚後一寸陷者中也。為俞。蓋其穴在手大指如魚形之後。再下一寸。即寸口脈之起點。此五臟之腧穴。亦稱原穴。蓋六腑水穀精華。注入五臟經腧之起原處。故稱淵。</p>
<p>四、經渠（經穴）</p>
<p><u>部位</u>　在寸口陷中。</p>
<p><u>證治</u>　瘧寒熱。胸背拘急。胸滿膨膨。喉痹。掌中熱。咳嗽上氣。數欠。熱病汗不出。</p>
<p>暴痹喘。足心痛。嘔吐。</p>
<p><u>針灸</u>　針入二分。留三呼。禁不可灸。灸即傷人神。</p>
<p>按：經渠寸口中也。動而不居。即關上部位。寸至關長一寸九分。以下即為尺中。言經渠者。乃經過之沖渠要道。大淵在寸口之始。經渠居寸口之中。並未入於尺中也。</p>
<p>五、尺澤（合穴）</p>
<p><u>部位</u>　在肘中約紋上動脈中。</p>
<p><u>證治</u>　風痹肘攣。手臂不得舉。喉痹上氣。舌乾。咳嗽唾濁。四肢暴腫。臂寒短氣。</p>
<p><u>針灸</u>　針入三分。可灸五壯。</p>
<p>其：尺澤乃肺之合穴。可針。可灸。蓋陰合為水。肺為金藏。水乃金之所生。邪之實者針之。瀉某子故也。肺乃臟氣之藏。山澤通氣。此穴恰在太陰尺中。脈之結點。故名尺澤。義至深也。</p>

<h3>手陽明大腸經六腧穴</h3>
<p>一、商陽（井穴）</p>
<p><u>部位</u>　在手大指次指內側。去爪甲角如韭葉。</p>
<p><u>證治</u>　胸中氣滿。喘咳支腫。熱病汗不出。耳鳴耳聾。寒熱痎瘧。口乾。頤頷腫。齒痛。</p>
<p>惡寒。肩背急。相引缺盆痛。目青盲。</p>
<p><u>針灸</u>　針入一分。留一呼。右取左。左取右。如食頃立已。可灸三壯。</p>
<p>按：商陽乃陽井金穴之始。木上有水曰井。水乃金之所生。陽常有餘。商乃肺音。大腸合之。故曰商陽。大腸之脈。上頸貫頰。交人中。左之右。右之左。上夾鼻孔。故治齒病目病。當左取右而右取左也。</p>
<p>二、二間（滎穴）</p>
<p><u>部位</u>　在手大指次指本節前。內側陷中。</p>
<p><u>證治</u>　喉痹頷腫。肩背痛。振寒鼻鼽衄血。多驚口喎。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>按：二間乃陽滎水穴。金水相生。可針可灸。手次指亦名食指。共三節。此穴在二節與三節之中間。故曰二間。</p>
<p>三、三間（俞穴）</p>
<p><u>部位</u>　在手大指次指本節之後。內側陷中。</p>
<p><u>證治</u>　喉痹。咽中如鯁。齒齲痛。嗜臥。胸滿腸鳴。洞泄寒瘧。唇焦口乾。氣喘。目眥急痛。</p>
<p><u>針灸</u>　針入三分。留三呼。可灸三壯。</p>
<p>按：三間乃陽俞木穴。手陽明脈之所注。在食指本節第三骨之後。大次指歧骨之前。穴居其中。故名三間。</p>
<p>四、合谷（原穴）</p>
<p><u>部位</u>　在手大指次指歧骨間陷中。</p>
<p><u>證治</u>　療寒熱瘧。鼻鼽衄。熱病汗不出。目視不明。頭痛。齒齲。喉痹。痿臂。面腫。唇吻不收。喑不能言。口噤不開。</p>
<p><u>針灸</u>　針入三分。留六呼。可灸三壯。若婦人妊娠。不可剌。刺之損胎氣。</p>
<p>按：合谷乃大腸手陽明之原穴。居大指次指歧骨間。稍偏次指微前缺陷中。直下可達勞宮。與後谿成一直線。大指次指相合處。類似深谷。故稱合谷。病重者。可深刺八分或一寸。</p>
<p>五、陽谿（經穴）</p>
<p><u>部位</u>　在腕中上側大指與次指兩筋間陷中。</p>
<p><u>證治</u>　狂言喜笑見鬼。熱病煩心。目風赤爛有翳。厥逆頭痛。胸滿不得息。寒熱瘧疾。喉痹。耳鳴。齒痛。驚掣肘臂不舉。痂疥。</p>
<p><u>針灸</u>　針入三分。留七呼。可灸三壯。慎如合谷法。</p>
<p>按：陽谿乃手陽明所行之經穴。手太陰肺別絡列缺交會之處。肺位最高。大腸居下。手指掌後仰。則大指與次指兩筋高起。太陰交陽明之處。有類山溪。故名陽谿。</p>
<p>六、曲池（合穴）</p>
<p><u>部位</u>　在肘外輔骨屈肘曲骨之中以手拱胸取之。</p>
<p><u>證治</u>　肘中痛。偏風半身不隨。刺風癮疹。喉痹不能言。胸中煩滿。筋緩。捉物不得。挽弓不開。屈伸難。風臂肘細而無力。傷寒餘熱不盡。皮膚乾燥。</p>
<p><u>針灸</u>　針入七分。得氣先瀉後補之。可灸三壯。</p>
<p>按：曲池乃大腸手陽明之合穴。陽合為土。陽明多氣多血。有餘者瀉之。然大腸為庚金。土穴乃金之母。故瀉後當補之。邪氣之來也緊而急。穀氣之來也徐而和。先瀉後補。指下針下。猶有所別。穴在肘外輔骨稍前陷中。屈曲其臂乃得之。故稱曲池。</p>

<h3>足陽明胃經六腧穴</h3>
<p>一、厲兌（井穴）</p>
<p><u>部位</u>　在足大指次指之端。去爪甲角。如韭葉。</p>
<p><u>證治</u>　屍厥。口噤氣絕。狀如中惡。腹脹滿。汗不出。寒瘧不嗜食麵腫。足胻寒。喉痹。齒齲。惡風。鼻不利。多驚。好臥。</p>
<p><u>針灸</u>　針入一分。可灸一壯。</p>
<p>按：厲兌乃足陽明所出之井金穴。屍厥或胃家實。皆可用鋒針淺刺之。厲不美也。兌通也。足次指受大指之排擠。其形惡厲。其經脈斜通於次指外間。故名厲兌。</p>
<p>二、內庭（滎穴）</p>
<p><u>部位</u>　在足大指次指外間陷中。</p>
<p><u>證治</u>　四肢厥逆。腹脹滿。數欠。惡聞人聲。振寒。咽中引痛。口喎。齒齲痛。瘧不嗜食。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>按：內庭乃陽滎水穴。在足次指外間。中指內間。跗上半寸。兩指之正中。如一庭豎於內。故名內庭。</p>
<p>三、陷谷（俞穴）</p>
<p><u>部位</u>　在足中指內間。本節後陷中。去內庭二寸。</p>
<p><u>證治</u>　面目浮腫。及水病。善噫。腸鳴腹痛。熱病汗不出。振寒瘧疾。</p>
<p><u>針灸</u>　針入三分。留七呼。可灸三壯。</p>
<p>按：陷谷乃陽俞木穴。病重者可針五分。穴位下陷如深谷。故名陷谷。</p>
<p>四、衝陽（原穴）</p>
<p><u>部位</u>　在足跗上五寸。去陷谷二寸半。</p>
<p><u>證治</u>　偏風口眼喎斜。跗腫。齒齲痛。發寒熱。腹堅大。不嗜食。傷寒病振寒而欠。久狂。登高而歌。棄衣而走。足緩履不收。身前痛。</p>
<p><u>針灸</u>　針入五分。可灸三壯。</p>
<p>按：衝陽在足背高起處。有動脈應手。名趺陽脈。久病欲知府氣之強弱者。必診此脈。其穴類似中封。使逆則宛。和則通。搖足而得之水穀精華大會於此。陽明多氣多血。有此一沖衢。故名衝陽。</p>
<p>五、解谿（經穴）</p>
<p><u>部位</u>　在衝陽後一寸五分。腕上陷中。</p>
<p><u>證治</u>　治風面浮腫。顏黑。厥氣上衝。腹脹。大便下重。瘈驚。膝股胻腫。轉筋目眩。頭痛癲疾。煩心悲泣。霍亂。頭風。面目赤。眉攢疼。</p>
<p><u>針灸</u>　針入五分。可灸三壯。</p>
<p>按：解谿乃陽經火穴。上為胻骨。下為跗屬。分解於此穴陷中。故名解谿。俗稱鞋帶穴。以束縛鞋帶。正在此穴間也。</p>
<p>六、足三里（合穴）</p>
<p><u>部位</u>　在膝下三寸胻骨外廉。大筋內宛宛中。兩筋肉分間。當低跗取之。</p>
<p><u>證治</u>　胃中寒。心腹脹滿。胃氣不足。聞食殠。腸鳴腹痛。食不化。秦丕祖云。諸病皆治。食氣水氣。蠱毒痃癖。四肢腫滿。膝胻痠痛。目不明。華佗云。療五勞羸瘦。七傷虛乏。胸中瘀血。乳癰。人年三十以上。若不灸三里。令氣上衝目。</p>
<p><u>針灸</u>　針入五分。可灸三壯。</p>
<p>按：三里穴名。手足陽明皆有。名同穴異。繼起針灸家增一足字以別之。蓋陽明行氣於三陽。里者。寬廣之義。古（井田制）。九百畝為方里。蓋胃為水穀之海。大腸小腸。三焦。無處不到也。六腑皆出足之三陽。上合於手。故本輸篇稱之曰下陵三里。為高必因丘陵。大阜曰陵。高於丘也。陵冠一下字。蓋足三里穴不如手陽明三里之高上。手三里又不如足三里之敦阜。且也足太陰脾合於膝內陰之陵泉。足少陽膽。合於膝外陽之陵泉。皆高於足陽明胻骨外之三里。故正其名曰下陵三里。其穴可針一寸。肥人可針一寸二分。如足下病風毒。可儘量多灸。</p>

<h3>足太陰脾經五腧穴</h3>
<p>一、隱白（井穴）</p>
<p><u>部位</u>　在足大指端內側白肉際。（側當作折。傳寫之訛已久。）</p>
<p><u>證治</u>　腹脹喘滿。不得安臥。嘔吐。食不下。暴泄。衄血。卒屍厥。不識人。足寒不能溫。</p>
<p><u>針灸</u>　針入三分。灸三壯。若婦人月事過時不止。刺之立愈。</p>
<p>按：先師許公直礽傳授有云。足大指端內側。乃大敦穴。非隱白穴。隱白。在足大指下折紋中。其穴常隱而肉色白。故名隱白。</p>
<p>二、大都（滎穴）</p>
<p><u>部位</u>　在足大指本節之後。內側陷中。骨罅中。赤白肉際。</p>
<p><u>證治</u>　熱病汗不出。傷寒手足逆冷。腹滿善嘔。煩熱悶亂。吐逆目眩。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>按：大都乃脾所溜之滎穴。古者。邑有先廟曰都。周禮地官。四縣曰都。脾為土藏。乃四象之母。滎為火穴。又土之母。合乎先廟之義。經脈十二之次序。脾居四位。又合乎四縣曰都之義。其穴在足大指本節高起之後。赤白肉皆豐滿。故名大都。</p>
<p>三、太白（俞穴）</p>
<p><u>部位</u>　在足內側核骨下陷中。</p>
<p><u>證治</u>　身熱煩滿。腹脹食不化。嘔吐膿血。腰痛。大便難。氣逆。霍亂腹中切痛。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>按：太白乃陰俞土穴。土能生金。西方金。其色白。足內側肉色較足跗足底特白。望其色而名之。故稱太白。穴在足內側核骨下。核骨一作覈骨。一名腕骨。本輸篇云。太白腕骨之下也。俗名孤拐骨。</p>
<p>四、商丘（經穴）</p>
<p><u>部位</u>　在足內踝下微前陷中。</p>
<p><u>證治</u>　腹脹腸鳴不便。脾虛人不樂。身寒。太息心悲氣逆。痔疾。骨疽蝕。婦人絕子。小兒慢風。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>按：商丘。乃陰經金穴。四方高。中央下。曰丘。登高初步之小阜也。商乃西金之高音。脾井滎俞經四穴。皆居卑位。由此穴而上內踝。乃與三陰交會而入合於陰之陵泉。登高必自卑。故名商丘。</p>
<p>五、陰陵泉（合穴）</p>
<p><u>部位</u>　在膝下內側輔骨下陷中。伸足取之。與陽陵泉斜對。稍高一寸。</p>
<p><u>證治</u>　腹中寒。不嗜食。膈下滿。水脹腹。堅喘逆不得臥。腰痛不得俯仰。霍亂疝瘕。小便不利。氣淋。寒熱不節。</p>
<p><u>針灸</u>　針入五分。不言灸。</p>
<p>按：陰陵泉乃脾合水穴。脾為陰中之至陰。陵高於丘也。泉高處之水源也。故靈樞經曰。疾高而內者。取之陰之陵泉。蓋五俞合穴。下達於上。內通於外之要點。治病當求其源也。其穴不言灸者。以脾為土臟。土中含濕。則萬物育焉。如灸之。灼其泉源。則土燥而不能育物也。</p>

<h3>手少陰心經五腧穴</h3>
<p>一、少衝（井穴）</p>
<p><u>部位</u>　在手小指內廉之端。去爪甲角如韭葉。</p>
<p><u>證治</u>　熱病煩滿。上氣。心痛。痰冷。少氣。悲恐善驚。掌中熱。胸中痛。口中熱。咽中酸。乍寒乍熱。手攣不伸。引肘腋痛。</p>
<p><u>針灸</u>　針入一分。可灸三壯。</p>
<p>二、少府（滎穴）</p>
<p><u>部位</u>　在小指本節後陷中。平直勞宮。</p>
<p><u>證治</u>　煩滿少氣。悲恐畏人。掌中熱。臂酸。肘腋攣急。胸中痛。手卷不伸。</p>
<p><u>針灸</u>　針入二分。可灸七壯。</p>
<p>三、神門（俞穴）</p>
<p><u>部位</u>　在掌後兌骨之端陷中。</p>
<p><u>證治</u>　瘧。心煩甚。欲得飲冷。惡寒則欲處溫中。咽乾不嗜食。心痛數噫。恐悸。少氣不足。手臂寒喘逆身熱狂悲狂笑。嘔血。上氣遺溺。大小人五癇。</p>
<p><u>針灸</u>　針入三分。留七呼。可灸七壯。炷如小麥大。</p>
<p>四、靈道（經穴）</p>
<p><u>部位</u>　在臂內下廉。去掌後橫紋後一寸五分。</p>
<p><u>證治</u>　心痛。悲恐相引瘛瘲肘攣。暴喑不能言。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>五、少海（合穴）</p>
<p><u>部位</u>　在肘內廉橫紋頭盡處陷中。曲手向頭取之。</p>
<p><u>證治</u>　寒熱齒齲痛。目眩發狂。嘔吐涎沫。項不得回顧。肘攣。腋脅下痛。四肢不得舉。</p>
<p><u>針灸</u>　針入五分。不宜灸。</p>
<p>按：以上少衝。少府。神門。靈道。少海。為心本藏之井木。滎火。俞土。經金。合水五穴。乃扁鵲所增。本輸篇並未記載。然神門一穴。照子午流注甲己日卯時針之。治大小人癇證有特效。（仙）用針數十年。心本藏九穴。僅取神門一穴。餘八穴未曾一次取用。蓋尊經旨。外經病而內不病。獨取其經於掌後兌骨之端之正義。兌骨即掌外側腕後高起之踝骨。手踝骨向內轉。踝內側骨有空即神門穴。踝骨上另有一空即養老穴。經稱此骨名兌骨。兌有內通之義。向內一轉則神門養老兩孔穴皆開。與足內外踝之頑梗不開無穴可取者。迥然不同。故別其名曰兌骨。繼起針灸家多書作銳骨。義未妥。</p>

<h3>手太陽小腸經六腧穴</h3>
<p>一、少澤（井穴）</p>
<p><u>部位</u>　在小指之端。去爪甲下一分陷中。</p>
<p><u>證治</u>　瘧。寒熱。汗不出喉痹。舌強。口乾。心煩。臂痛。瘛瘲。咳嗽。頸項急不可顧。目生膚翳覆瞳子。</p>
<p><u>針灸</u>　針入一分。可灸一壯。</p>
<p>按：少澤井金。乃手少陰交手太陽之起穴。心乃五臟六腑之主。合於小腸。山澤通氣。一手小指而兩井穴出其內外。心井曰少衝。小腸井曰少澤。</p>
<p>二、前谷（滎穴）</p>
<p><u>部位</u>　在小指外側本節之前陷中。</p>
<p><u>證治</u>　熱病汗不出。痎瘧。癲疾。耳鳴頷腫喉痹。咳嗽衄血。頸項痛。鼻塞不利。目中白翳。臂不得舉。</p>
<p><u>針灸</u>　針入一分。可灸一壯。</p>
<p>按：前谷滎水穴。乃手太陽脈之所溜。在小指本節前。故稱前谷。</p>
<p>三、後谿（俞穴）</p>
<p><u>部位</u>　在小指外側本節後陷中。握掌取之。</p>
<p><u>證治</u>　瘧寒熱。目赤生翳。鼻衄。耳聾。胸滿。頭項強不得回顧。癲疾臂肘攣急。</p>
<p><u>針灸</u>　針入一分。可灸一壯。</p>
<p>按：後谿俞木穴。乃手太陽脈之所注。在手小指本節之後。掘掌視之。較前谷高起。故稱後谿穴。內通督脈。乃靈龜八穴之一。照開時針之。可針六分或八分。</p>
<p>四、腕骨（原穴）</p>
<p><u>部位</u>　在手外側。腕前起骨下陷中。</p>
<p><u>證治</u>　熱病汗不出。脅下痛。不得息。頸頷腫。寒熱。耳鳴。目冷淚生翳。狂惕偏枯。臂肘不得屈伸。痎瘧頭痛煩悶。驚風瘛瘲。五指掣。</p>
<p><u>針灸</u>　針入二分。留三呼。可灸三壯。</p>
<p>按：腕骨乃手太陽脈所過之原穴。手外側腕前一小骨。手常屈伸轉側。則此骨宛轉。穴在骨稍前故名腕骨穴。繼起針灸家更名起骨。以免與穴名混同。亦可。</p>
<p>五、陽谷（經穴）</p>
<p><u>部位</u>　在手外側腕中兌骨之下陷中。</p>
<p><u>證治</u>　癲疾狂走。熱病汗不出。脅痛。頸頷腫。寒熱。耳聾耳鳴。齒齲痛。臂腕外側痛不舉。妄言左右顧。瘛瘲目眩。</p>
<p><u>針灸</u>　針入二分。留二呼。可灸三壯。</p>
<p>按：陽谷經穴。乃太陽脈之所行。在手外側腕中。斜上兌骨。則為養老。與腕上手少陽陽池及大次指兩筋間之陽谿穴成一橫線。然此穴不如陽谿陽池之寬深。故名陽谷。</p>
<p>六、小海（合穴）</p>
<p><u>部位</u>　在肘內大骨之外去端半寸陷中。伸臂而得之。</p>
<p><u>證治</u>　肩臑肘臂外後廉痛。寒熱。齒齦腫。風眩。頸項痛。瘍腫。振寒。肘腋痛腫。小腹痛。四肢不舉。</p>
<p><u>針灸</u>　針入二分。可灸三壯。</p>
<p>按：小海合穴。乃手太陽小腸脈之所入。合治內府。其脈入缺盆者。絡心。循咽。下膈。抵胃。屬小腸。胃為水穀之海。小腸與胃相連綴。故肘內合穴名小海。且手三陽脈皆起於足。小腸合於巨虛下廉。大腸反合巨虛上廉。蓋大腸展轉反側。為傳導之官。小腸乃受盛之官。直趨於下。化物出焉。故合穴反居大腸合穴之下也。</p>

<h3>足太陽膀胱經六腧穴</h3>
<p>一、至陰（井穴）</p>
<p><u>部位</u>　在足指外側。去爪甲如韭葉。</p>
<p><u>證治</u>　目生翳。鼻塞頭重。風寒從足小指起。脈痹上下。帶胸脅痛無常處。轉筋。寒瘧。汗不出。煩心。足下熱。小便不利。</p>
<p><u>針灸</u>　針入二分。可灸三壯。</p>
<p>按：至陰乃足太陽膀胱所出之井金穴。考經脈十二回環之次序。足太陽終於此穴。交足少陰腎之經。蓋太陽經穴至此已交於陰經。故曰至陰。</p>
<p>二、通谷（滎穴）</p>
<p><u>部位</u>　在足小指外側本節前陷中。</p>
<p><u>證治</u>　頭重目眩。善驚引。鼽衄。頸項痛。目䀮䀮。</p>
<p><u>針灸</u>　針入二分。留三呼。可灸三壯。</p>
<p>按：通谷乃足太陽所溜之滎穴。滎小水也。谷能通行小水。故名通谷。</p>
<p>三、束骨（俞穴）</p>
<p><u>部位</u>　在足小指外側本節之後。赤白肉際陷中。</p>
<p><u>證治</u>　腰脊如折。髀不可曲。膕如結。腨如裂。耳聾。惡風寒。目眩。項強不可回顧。目內眥赤爛。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>按：束骨穴乃足太陽所注之俞穴。前有足小指本節骨。後有京骨穴上之大骨。此穴居外側赤白肉際陷者中。前本節骨後大骨如受約束之形。故名束骨。</p>
<p>四、京骨（原穴）</p>
<p><u>部位</u>　在足外側大骨之下。赤白肉際陷中。</p>
<p><u>證治</u>　膝痛不得屈伸。目內眥赤爛。瘧寒熱。善驚。不欲食。筋攣。足胻酸。髀樞痛。頸項強。腰背不可俯仰。衄血不止。目眩。</p>
<p><u>針灸</u>　針入三分。可灸七壯。</p>
<p>按：京骨穴乃足太陽所過之原穴。京大也。其穴在足外側大骨之下。此大骨本名京骨。因與穴同名。別其名曰大骨。與手腕骨別稱起骨。同一義也。</p>
<p>五、崑崙（經穴）</p>
<p><u>部位</u>　在足外踝後。跟骨之上陷中。</p>
<p><u>證治</u>　腰尻痛。足踹腫。不得履地。鼽衄。膕如結。踝如裂。頭痛肩背拘急。咳喘暴滿。陰腫痛。小兒發癇瘛瘲。</p>
<p><u>針灸</u>　針入五分。可灸三壯。炷如小麥大。妊婦刺之墮胎。</p>
<p>按：崑崙乃足太陽所行之經穴。膀胱為水府。此穴居踝後。較井滎俞原各穴皆高。崑崙乃水之高源。故以此名其穴。</p>
<p>六、委中（合穴）</p>
<p><u>部位</u>　在膕中央約紋動脈陷中。令人面挺伏地臥取之。</p>
<p><u>證治</u>　膝痛。腰挾脊沉沉然。遺溺。腰重不能舉體。風痹。髀樞痛可出血。痼疹皆愈。凡傷寒熱汗不出。取其經血立愈。委中者。血郄也。大風發眉墮落。可刺之出血。</p>
<p><u>針灸</u>　針入八分。留三呼。瀉七吸。禁灸。</p>
<p>按：委中乃足太陽膀胱經所入之合穴。穴在膕中央。委而取之。故名委中。凡太陽經脈所過。腰髀膝關重痛。大風眉落。風邪深入於陽蹺奇經。乃足太陽之別脈。均可刺委中出血。以上所言。皆邪實宜瀉之之證。正虛者。則不可妄刺。素問云。刺委中大脈令人僕。脫色。不可不知也。</p>

<h3>足少陰腎經五腧穴</h3>
<p>一、湧泉（井穴）</p>
<p><u>部位</u>　在足心陷中。屈足卷指宛宛中。白肉際。跪取之。</p>
<p><u>證治</u>　腰疼痛。大便難。心中結熱。風疹風癇。心痛不嗜食。婦人無子。咳嗽。身熱。喉痹胸脅滿。目眩。男子如蠱。女子如妊娠。五指端盡痛。足不得踐地。</p>
<p>針灸　針入三分。無令出血。可灸三壯。</p>
<p>按　湧泉乃腎所出之井穴。藏真下於腎。腎者主水。故穴在足心。名曰湧泉。腎為生氣之藏。立命之根。故刺之不可見血。如妄刺之而血出不止則死矣。慎之慎之。</p>
<p>二、然谷（滎穴）</p>
<p><u>部位</u>　在足內踝腕骨前。然骨之下陷中。</p>
<p><u>證治</u>　咽內腫。心恐懼。如人將捕之。涎出。喘呼。少氣。足跗腫不得履地。寒疝少腹滿。上搶胸脅。咳唾血。喉痹。淋瀝。女子不孕。男子精溢。胻酸不能久立。足一寒一熱。舌縱煩滿消渴。初生小兒臍風。口噤痿厥洞泄。</p>
<p><u>針灸</u>　針入三分。不宜見血。可灸三壯。</p>
<p>按：然谷乃腎所溜之滎穴。陰滎為火穴。坎中有一陽無根之少火能生氣。其穴亦名龍淵。潛龍在淵之義也。男女精溢。不孕者皆取之。此火能然於深谷之中不受水克。故名然谷。吾蜀有產鹽區。名自流井。火自地中出。取之不盡。用之不竭。此亦然谷少火之明證也。</p>
<p>三、太谿（俞穴）</p>
<p><u>部位</u>　在內踝之後跟骨之上。動脈陷中。</p>
<p><u>證治</u>　久瘧咳逆。心痛如錐刺。手足寒至節。喘息者死。嘔痰實口中如膠。善噫寒疝。熱病汗不出。默默嗜臥。溺黃消癉。大便難嚥腫。唾血若痃癖。寒熱咳嗽。不嗜食。腹脅痛。瘦瘠。手足厥冷。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>按：太谿穴。腎脈所注為俞土。乃九針十二原之要穴。久病重病欲知臟氣之強弱者。必診此脈。金匱中脈法。有寸口趺陽少陰之分。趺陽即胃原衝陽。少陰即太谿也。（仙）曾於途中救治倒地昏迷之急痧證。寸口無脈。太谿有脈。用開十宣法。救之而痊。如太谿脈已絕。不可救也。</p>
<p>四、復溜（經穴）</p>
<p><u>部位</u>　在足內踝上二寸。動而不休陷中。</p>
<p><u>證治</u>　腰脊內引痛。不得俯仰起坐。目䀮䀮。善怒多言。舌乾胃熱。蟲動涎出。足痿不收履。胻寒不自溫。腹中雷鳴。腹脹如鼓。四肢腫。五種水病。溺青赤黃白黑。青取井。赤取滎。黃取俞。白取經。黑取合。血痔泄後腫。五淋小便如散火。骨寒熱。盜汗不止。</p>
<p><u>針灸</u>　針入三分。留七呼。可灸五壯。</p>
<p>按：穴名復溜。以足少陰別入跟中之脈。下歧為二。後繞大鐘交足太陽。前下行水泉照海。為陰蹺奇經之起點。上達交信。亦在內踝上二寸。此別脈也。其太谿正經直上之脈。復從內踝稍後上二寸而溜於此。與出湧泉溜然谷同義。故名其穴曰復溜。復溜在後。交信在前。中隔一小筋。交信乃陰蹺郄。再上腨分中曰築賓穴。又陰維脈之起點。故曰陰蹺陰維者。足少陰之別也。</p>
<p>五、陰谷（合穴）</p>
<p><u>部位</u>　在膝內。輔骨後大筋下。小筋上。按之應手。屈膝乃得之。</p>
<p><u>證治</u>　膝痛不得屈伸。舌縱涎下。煩逆溺難。少腹急引陰痛。婦人漏下。不止。腹脹滿不得息。小便黃。男子如蠱。女子如妊娠。</p>
<p><u>針灸</u>　針入四分。留七呼。可灸三壯。</p>
<p>按：按陰谷乃足少陰腎所入為合之水穴。穴在內輔骨後下。大筋小筋間。互相依倚。取穴者必先令病者微屈其膝。以指審其間應手之脈。再撥開上下大小筋。乃可進針。此乃足陰經最高而深藏不露之穴。故名陰谷。</p>

<h3>手厥陰心包絡五腧穴</h3>
<p>一、中衝（井穴）</p>
<p><u>部位</u>　在手中指之端。</p>
<p><u>證治</u>　熱病煩悶。汗不出。掌中熱。身如火。心痛煩滿。舌強。</p>
<p><u>針灸</u>　針入一分。灸一壯。</p>
<p>按：中衝乃心包絡所出之井穴。膻中為臣使之官。其脈出手三陰之正中。手諸井穴皆在指側。此穴獨居中指端之正中。故名中衝。</p>
<p>二、勞宮（滎穴）</p>
<p><u>部位</u>　在掌中中指本節之內間。</p>
<p><u>證治</u>　中風善怒。悲笑不休。手痹熱病。三日汗不出。怵惕。胸脅痛不可轉側。大小便血。衄血不止。氣逆嘔噦。煩渴。食飲不下。口腥殠。胸脅支滿。黃疸目黃。</p>
<p><u>針灸</u>　針入二分。留六呼。可灸三壯。</p>
<p>按：勞宮乃心包絡之滎穴。陰滎火穴。勞勤也。臣使之官。代心主之官行政。故曰勞宮。</p>
<p>三、大陵（俞穴）</p>
<p><u>部位</u>　在掌後兩骨之間方下。兩筋間之始陷中。</p>
<p><u>證治</u>　熱病汗不出。臂攣腋腫。善笑不休。心懸若飢。喜悲泣驚恐。目赤。小便如血。嘔逆狂言不樂。喉痹口乾。身熱。頭痛。短氣。胸脅痛。</p>
<p><u>針灸</u>　針入五分。可灸三壯。</p>
<p>按：大陵乃心包絡所注之俞穴。在掌後兩骨結點之下。兩大筋間之始。近大指前有大淵。小指後有陰郄神門。成一橫線。穴位寬大。故名大陵。</p>
<p>四、間使（經穴）</p>
<p><u>部位</u>　在掌後三寸兩筋間陷中。</p>
<p><u>證治</u>　心懸如飢。卒狂。胸中澹澹。惡風寒。嘔吐。怵惕。寒中少氣。掌中熱。腋腫肘攣。卒心痛。多驚。喑不得語。咽中如鯁。</p>
<p><u>針灸</u>　針入三分。可灸五壯。</p>
<p>按：間使二字皆作去聲讀。在內關之後與外關別絡相通。三焦孤府之營衛氣有餘而過於此則脈至。無餘而不過於此則脈止。臣使之官。或至或止。故曰間使。</p>
<p>五、曲澤（合穴）</p>
<p><u>部位</u>　在肘內廉下陷中屈肘取之。</p>
<p><u>證治</u>　心痛善驚。身熱煩渴。口乾逆氣嘔血。風胗。臂肘手腕善動搖。</p>
<p><u>針灸</u>　針入三分。留七呼。可灸三壯。</p>
<p>按：曲澤乃心包絡所入之合穴。在肘內廉大筋之下陷者之中。微屈其肘乃得之。其穴位深。故曰曲澤。</p>

<h3>手少陽三焦六腧穴</h3>
<p>一、關衝（井穴）</p>
<p><u>部位</u>　在無名指外側。去爪甲角如韭葉。</p>
<p><u>證治</u>　口乾。頭痛。舌卷喉痹。霍亂。胸中氣噎不食。肘臂痛不能舉。目生翳膜。視物不明。</p>
<p><u>針灸</u>　針入一分。留三呼。灸三壯。</p>
<p>按：關衝乃三焦手少陽所出之井穴。外關內關。別絡橫通。心包絡井穴曰中衝。心本藏之井曰少衝。此穴居少衝中衝之間。故曰關衝。</p>
<p>二、液門（滎穴）</p>
<p><u>部位</u>　在小指次指之間合縫處陷中。</p>
<p><u>證治</u>　驚悸妄言。寒厥臂痛。不能自上下。痎瘧寒熱。頭痛。目眩赤澀。淚出。耳暴聾。咽外腫。牙齦痛。</p>
<p><u>針灸</u>　針入二分。灸三壯。握拳取之。</p>
<p>按：液門乃三焦之滎穴。陽滎為水。三焦者決瀆之官。水道出焉。水之精謂之液。陽受氣於四末。故名其水穴曰液門。</p>
<p>三、中渚（俞穴）</p>
<p><u>部位</u>　在無名指小指本節後間陷中。液門後一寸。</p>
<p><u>證治</u>　熱病汗不出。臂指痛不得屈伸。頭痛。目眩生翳。目不明。耳聾咽腫。久瘧。手臂紅腫。</p>
<p><u>針灸</u>　針入三分。灸三壯。握拳取之。</p>
<p>按：中渚乃三焦所注之俞穴。若江之有渚。而居其中。故曰中渚。</p>
<p>四、陽池（原穴）</p>
<p><u>部位</u>　在手腕上橫紋陷中。</p>
<p><u>證治</u>　消渴口乾。煩悶。寒熱瘧。或因折傷手腕捉物不得。臂不能舉。</p>
<p><u>針灸</u>　針入三分。不宜灸。</p>
<p>按：陽池乃手少陽三焦所過之原穴。手表腕上陷中。從無名指本節直摸至腕中心陷凹處。如池狀。故名陽池。下針時不可搖手。仰其指掌。則穴位明顯。</p>
<p>五、支溝（經穴）</p>
<p><u>部位</u>　在腕後三寸骨間陷中。</p>
<p><u>證治</u>　熱病汗不出。肩臂酸重。脅腋痛。四肢不舉。霍亂嘔吐。口噤。暴喑。產後血暈。不省人事。</p>
<p><u>針灸</u>　針入三分。灸七壯。</p>
<p>按：支溝乃三焦所行之經穴。穴前一寸有外關別絡。入手厥陰經。三焦水道流行至此。別有一分支之溝渠也。</p>
<p>六、天井（合穴）</p>
<p><u>部位</u>　在肘外大骨之上陷中。</p>
<p><u>證治</u>　咳嗽上氣。胸滿不得語。唾膿不嗜食。寒熱悽悽不得臥。驚悸悲傷。瘛瘲癲疾五癇。風痹頭頸肩背痛。耳聾目銳眥頰肘痛腫。臂腕不得捉物。及瀉一切瘰癧瘡腫疹。</p>
<p><u>針灸</u>　針入三分。灸三壯。</p>
<p>按：天井乃手少陽三焦經脈所入為合之土穴。穴在肘外大骨後上一寸兩筋骨罅間陷中。肘前五寸有穴。曰四瀆。溝瀆歸於下流。而天井獨居其上。蓋有用之水天一所生。蓄之井裡。以備生生化化之用。故曰天井。取穴時。先曲其肘。在大骨後一寸。穴位取定。令病人叉手按膝頭。乃進針。</p>

<h3>足少陽膽經六腧穴</h3>
<p>一、竅陰（井穴）</p>
<p><u>部位</u>　在第四指外側爪甲角。</p>
<p><u>證治</u>　脅痛咳逆不得息。手足煩熱。汗不出。癰疽。口乾口痛。喉痹。舌強。耳聾。轉筋。肘不可舉。</p>
<p><u>針灸</u>　針入一分。灸三壯。</p>
<p>按：竅陰乃足少陽膽所出之井穴。在足太陽之後。為手少陽三焦下俞之起點。少陽者一陽也。陽根於陰。故曰竅陰。頭完骨上亦有竅陰穴。乃手足少陽與足太陽之會。故同名竅陰。</p>
<p>二、俠谿（滎穴）</p>
<p><u>部位</u>　在足小指次指歧骨間本節前陷中。</p>
<p><u>證治</u>　胸脅支滿。傷寒熱病汗不出。目赤。頷腫。胸痛耳聾。</p>
<p><u>針灸</u>　針入二分。灸三壯。</p>
<p>按：俠谿乃足少陽膽所溜之滎水穴。三焦下俞在此與足太陽足少陽交會。其穴位狹窄。故名俠谿。</p>
<p>三、臨泣（俞穴）</p>
<p><u>部位</u>　在足小指次指本節後陷中去俠谿一寸五分。</p>
<p><u>證治</u>　胸滿氣喘。目眩。心痛。缺盆中及腋下馬刀瘍瘻。周痹痛無常處。厥逆氣喘不能行。痎瘧日西發者胻酸灑淅振寒。婦人月經不調。季脅支滿。乳癰。</p>
<p><u>針灸</u>　針入二分。灸三壯。</p>
<p>按：臨泣乃足少陽所注之俞穴。足少陽頭部。有一臨泣穴。在目上入髮際五分。乃足少陽太陽陽維之會。取之可治目眩淚生翳諸證。居高臨下。曰臨泣。足下有此臨泣穴。亦足太陽與足少陽交會處。故同名臨泣。此穴上通帶脈靈龜八穴中。有此一開穴。待時取之。功用最大。兩臨泣穴。繼起針灸家。在頭者曰目臨泣。在足者曰足臨泣。因足太陽少陽之起穴。皆在目內外眥。泣自目出。故曰臨泣。</p>
<p>四、丘墟（原穴）</p>
<p><u>部位</u>　在外踝之前下陷中。去俠谿五寸。</p>
<p><u>證治</u>　胸脅滿。痛不得息。寒熱。目生翳膜。頭腫。久瘧振寒。痿厥。腰痠痛。髀樞中痛。轉筋。足脛偏細小腹堅。卒疝。</p>
<p><u>針灸</u>　針入五分。灸三壯。</p>
<p>按：丘墟乃足少陽膽經原穴。丘之大者曰墟。詩邶風。升彼墟也。讀上聲。有升高之義。膽六腧穴至此。轉而高升。故名丘墟。</p>
<p>五、陽輔（經穴）</p>
<p><u>部位</u>　在外踝上輔骨之前及絕骨之端。即外踝上四寸光明懸鐘二穴之中。</p>
<p><u>證治</u>　腰溶溶如坐水中。膝下膚腫。筋攣。百節痠疼。痿痹。馬刀。頸項痛。喉痹。汗不出。振寒。痎瘧。腰胻痠痛。不能行立。</p>
<p><u>針灸</u>　針入五分。灸三壯。</p>
<p>按：陽輔乃足少陽所行之經穴。陽經為火。膽為陽木。木能生火。火曰炎上。輔助其陽經之上升。穴在外踝上輔骨前絕骨端。故名陽輔。</p>
<p>六、陽陵泉（合穴）</p>
<p><u>部位</u>　在膝外陷中。即膝下一寸外尖骨前之陷凹處。蹲坐取之。</p>
<p><u>證治</u>　膝伸不得屈。冷痹腳不仁。偏風半身不遂。腳冷無血色。</p>
<p><u>針灸</u>　針入六分。灸七壯。</p>
<p>按：陽陵泉乃足少陽膽經所入之合穴。此穴在膝外突出。陵高於丘。此穴下有外丘。有丘墟。與膝內陰之陵泉斜對。故名其穴曰陽陵泉。凡疾高而外者。皆可取此穴。</p>

<h3>足厥陰肝經五腧穴</h3>
<p>一、大敦（井穴）</p>
<p><u>部位</u>　在足大指之端及三毛之中也。</p>
<p><u>證治</u>　卒心痛。汗出。腹脹腫滿中熱喜寐。五淋七疝。小便頻數不禁。陰痛引小腹。陰挺出。血崩屍厥如死。</p>
<p><u>針灸</u>　針入一分。灸三壯。</p>
<p>按：先師許公直礽云。大敦在足大指端內側。其肉敦阜。一般認大敦處為隱白。誤矣。凡傷寒病久。熱入厥陰。刺大敦見血立效。考正穴法云。大敦足大指端。去爪甲如韭葉及三毛中。蓋三脈動於足大指。陽明在上。厥陰在中。太陰在下（俗本太陰誤作少陰）。陽明多氣多血。與肝脾同會於足大指。故指上生叢毛。名曰三毛。三毛之間非大敦穴。考足少陽脈交足厥陰。別跗上。入大指。出其端還貫爪甲。出三毛。可證明經稱三毛中。乃由足大指前之發端處達到三毛。經過大指側。肉起如敦狀處是穴。穴在指端及三毛二者之中。名曰大敦。名實相副。繼起用針者。刺大敦多在足大指叢毛之間。淺刺之。誤矣。</p>
<p>二、行間（滎穴）</p>
<p><u>部位</u>　足大指次指間即合罅後五分動脈陷中。</p>
<p><u>證治</u>　嘔逆咳血。心胸痛。腹脅脹。色蒼蒼如死狀。中風。口喎。嗌乾煩渴。瞑不欲視。目中淚出。太息。癲疾短氣。肝積肥氣。痎瘧。洞泄遺尿。癃閉。崩漏白濁。寒疝。少腹痛。腰痛不可俯仰。小兒驚風。</p>
<p><u>針灸</u>　針入三分。灸三壯。</p>
<p>按：行間乃足厥陰所溜之滎穴。由大敦轉入足大指與足次指兩指縫間。一彳一亍曰行。兩足指相合。故曰行間。</p>
<p>三、太衝（俞穴）</p>
<p><u>部位</u>　行間上二寸陷中。</p>
<p><u>證治</u>　虛勞嘔血。恐懼氣不足。嘔逆發寒。肝瘧。令人腰痛。嗌乾。胸脅支滿。太息。浮腫。小腹滿。腰引少腹痛。足寒或大小便難。陰痛遺溺。溏泄小便淋癃。小腹疝氣。腋下馬刀瘍瘻。胻酸踝痛。女子月水不通。漏血不止。小兒卒疝。</p>
<p><u>針灸</u>　針入三分。灸三壯。</p>
<p>按：太衝乃足厥陰肝所注之俞穴。肝臟血。女子太衝脈盛。則月事以時下。太衝又為九針十二原之原穴。五臟稟受六腑水穀氣味精華之沖衢。故曰太衝。</p>
<p>四、中封（經穴）</p>
<p><u>部位</u>　在內踝之前一寸半。陷者之中。使逆則宛。使和則通。搖足而得之。</p>
<p><u>證治</u>　痎瘧色蒼蒼如死狀。善太息振寒。大便難。小便腫痛。五淋。不嗜食。身體不仁。寒疝痿厥。筋攣。失精陰縮入腹。相引痛。或身微熱。</p>
<p><u>針灸</u>　針入四分。灸三壯。</p>
<p>按：中封乃足厥陰所行之經穴。各針灸書中皆雲中封在足內踝前一寸。靈樞本輸篇云在內踝之前一寸半。蓋靈樞依據骨度。凡言踝前後。踝上下。皆自踝骨中心起計算。踝骨長一寸。中心至四旁骨際長半寸。繼起用針尺度。除去踝中心至邊際半寸不算。故云一寸。所言不同。其部位仍同。穴在踝前陷中。兩大筋所封閉。故名中封。取穴時。仰其足則逆而宛。伸其足則和而通。搖其足則跗上兩大筋分開。其穴乃見。本輸六十餘穴。詳言穴位字數最多者。惟此一穴。蓋取之不易也。（宛）音郁義亦同。</p>
<p>五、曲泉（合穴）</p>
<p><u>部位</u>　在膝內輔骨之下。大筋之上。屈膝而得之。</p>
<p><u>證治</u>　㿉疝。陰股痛。小便難。少氣。泄利膿血。腹脅支滿。膝痛筋攣。四肢不舉。不可屈伸。風勞失精。身體極痛。膝脛冷。陰莖痛。實則身熱。目痛。汗不出。目䀮䀮。發狂衄血。喘呼痛引咽喉。女子陰挺出。少腹痛。陰癢血瘕。</p>
<p><u>針灸</u>　針入六分。灸三壯。</p>
<p>按：曲泉乃足厥陰肝所入為合之水穴。水之高而有來源者。謂之泉。穴在內輔骨之下。大筋之上。屈曲其膝乃能取得此穴。故曰曲泉。</p>

<h3>十二別絡</h3>
<p>一、列缺</p>
<p><u>部位</u>　去腕側上一寸半。以手交叉。食指末。筋骨罅中。手太陰絡。別走陽明。</p>
<p><u>證治</u>　療偏風口喎。手腕無力。半身不遂。咳嗽。掌中熱。口噤不開。寒熱瘧。嘔沫。善笑。縱唇口。健忘。</p>
<p><u>針灸</u>　針入二分。留三呼。瀉五吸。可灸七壯。</p>
<p>二、偏歷</p>
<p><u>部位</u>　在腕後三寸。手陽明絡也。別走太陰。</p>
<p><u>證治</u>　寒熱瘧。風汗不出。目視䀮䀮。癲疾多言。耳鳴。口喎。齒齲。喉痹。嗌乾。鼻鼽衄血。</p>
<p><u>針灸</u>　針入三分。留七呼。可灸三壯。</p>
<p>按：列缺偏歷乃手太陰手陽明陰交陽。陽交陰。橫斜而行之兩別絡穴。列缺在兩手指交叉。食指盡處。以爪甲切之。若呈列一缺點在此。故名列缺。特殊人有現反關脈者。其脈不行寸口之中。由尺中斜上列缺。入陽谿穴而上食指。大淵經渠正關脈之位不動。而動列缺之上。故名反關。有一手反關。有兩手反關。數百人中有其一。此得於有生之初。非為受病而有此脈也。列缺內通任脈。為靈龜八穴之一。待時而取之。作用最大。須用臥針。斜向內。久留其針。補瀉寒熱升降。各種手法。皆可取用。列缺上一寸半。腕後上三寸。即偏歷穴。乃大腸手陽明經脈行至陽谿上。偏向臂內。別陽經脈。而歷絡於手太陰之經。故曰偏歷。其十二經所行之次序。肺寅。大卯。胃辰。脾巳。手陽明從手走頭。交足陽明胃。精專營氣。一日一夜一周於身。只走列缺。不走偏歷。只走豐隆。不走公孫。偏歷公孫等別絡。乃二十八脈。男女不同。左升右降。右升左降。陰陽互相交錯。脈度十六丈二尺。乃行於偏歷公孫等交錯之別絡也。</p>
<p>三、豐隆</p>
<p><u>部位</u>　在外踝上八寸。下廉胻外廉陷中。別走太陰。</p>
<p><u>證治</u>　厥逆胸痛如刺。腹中切痛。大小便難澀。厥頭痛。面浮腫、風逆。四肢腫。足青。身寒濕。喉痹不能言。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>四、公孫</p>
<p><u>部位</u>　在足大指本節後一寸。足太陰絡。別走陽明。</p>
<p><u>證治</u>　寒瘧不嗜食。卒面腫。煩心狂言。腹虛脹如鼓。</p>
<p><u>針灸</u>　針入四分。可灸三壯。</p>
<p>按：豐隆與公孫兩別絡。乃足陽明。足太陰脈度往還之要道。豐隆穴位。在外踝中心直上八寸。考骨度篇。膝下至外踝。長一尺六寸。膝下三寸。胻骨外為三里。復下三里三寸。為巨虛上廉。復下上廉三寸。為巨虛下廉。此穴在下廉胻骨外。以骨度推計之。豐隆穴較高於下廉一寸。然穴與上廉非直線。別於陽明之正經之外。其肉豐滿而隆起。與巨虛上下廉。迥然不同。故名豐隆。以骨度推之。內絡太陰。當在漏谷地機之間。公孫別絡。在足大指本節骨後一寸。吾國古史。以火德旺者曰炎帝。以土德旺者曰黃帝。黃帝姓公孫。名軒轅。公孫穴。乃脾土別絡。人體五臟。脾居中央。中央黃色。入通於脾。以土德旺。此別絡穴。別於太陰土位。絡於陽明燥金之位。土以生金。亦猶以土德旺之後裔。故名公孫。由流溯原。賜其姓也。</p>
<p>五、通里</p>
<p><u>部位</u>　去掌後橫紋後一寸。陷中。手少陰絡。別走太陽。</p>
<p><u>證治</u>　熱病。卒心中懊憹。數欠頻伸。悲恐。目眩。頭痛。面赤而熱。心悸。肘臂臑痛。實則支腫。虛則不能言。苦嘔喉痹。少氣遺溺。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>六、支正</p>
<p><u>部位</u>　在腕後五寸。小指動應手。手太陽絡。別走少陰。</p>
<p><u>證治</u>　寒熱頷腫肘攣。頭痛。目眩。虛風驚恐。狂惕生疣目。</p>
<p><u>針灸</u>　針入二分。可灸三壯。</p>
<p>按：通里支正乃手少陰手太陽從陰出陽。從陽入陰之兩別絡穴名。通里者。以小腸為受盛之官。化物出焉。若井裡然。心經穴靈道之前五分。陰郄之後五分。腕之後一寸。即通里穴位。一有云去腕一寸半者。蓋通里在手外側腕上摺紋後。手向外側屈而取腕間摺紋。則為一寸。如伸而取之。則有一寸半也。支正乃小腸別絡。內注手少陰心。心為五臟六腑之大主。故曰正。支者離也。離小腸經脈而入絡於心之正主位。故其別絡穴。曰支正。</p>
<p>七、飛揚</p>
<p><u>部位</u>　在外踝上七寸。足太陽絡。別走少陰。</p>
<p><u>證治</u>　血痔。歷節風。足指不得屈伸。頭目眩。逆氣鼽衄。癲疾寒瘧。</p>
<p><u>針灸</u>　針入三分。可灸三壯。</p>
<p>八、大鐘</p>
<p><u>部位</u>　在足跟後踵中。大骨兩筋間。足少陰絡。別走太陽。</p>
<p><u>證治</u>　實則小便淋閉。洒洒。腰脊強痛。大便秘澀。嗜臥。口中熱。虛則嘔逆多寒。欲閉戶而處。少氣不足。胸張喘息。舌乾咽中食噎不得下。善驚恐不樂。喉中鳴。咳唾血。</p>
<p><u>針灸</u>　針入二分。留七呼。可灸三壯。</p>
<p>按：飛揚大鐘乃足太陽足少陰經。從陽入陰。從陰出陽之兩別絡。飛揚在外踝上七寸。一名厥陽。厥盡也。陽至此而盡。則絡於陰也。飛揚跋扈有好高之義。十二別絡。如內關外關。光明蠡溝。在手足內外。皆成平線。而飛揚與足跟後踵中之大鐘穴較之上下懸殊矣。大鐘之義有二。一鍾者重也。一鍾者飲器也。腎為立命之根。人之能立。賴有此後踵大骨。其責重大。故曰大鐘。腎者主水。受五臟六腑之精而藏之。水之精者曰津曰液。膀胱為州渚之官。津液藏焉。腎之精津。轉註膀胱之脈。不有此一大鐘之飲器。則津液無所藏之處。故名其穴曰大鐘。義至厚也。</p>
<p>九、內關</p>
<p><u>部位</u>　在掌後去腕二寸。手心主之絡。別走少陽。</p>
<p><u>證治</u>　目赤支滿。中風肘攣。實則心暴痛。虛則心惕惕。</p>
<p><u>針灸</u>　針入五分。可灸三壯。</p>
<p>十、外關</p>
<p><u>部位</u>　在陽池後二寸。兩骨間。與內關相對。此手少陽絡。別走心主厥陰脈。</p>
<p><u>證治</u>　耳聾渾渾無聞。肘臂不得屈伸。五指痛不能握。</p>
<p><u>針灸</u>　針入三分。灸三壯。</p>
<p>按：內關外關。乃手厥陰心包絡。與手少陽三焦經脈。別陰出陽。別陽入陰之絡穴。掌內腕後二寸曰內關。在兩筋間。掌外腕後二寸。曰外關。在兩骨間。握拳取之。則兩筋明晰。外關伏手取之。則兩骨便於摩按。此外關內關。合於奇經。陰維陽維。乃靈龜八穴之二。待時取之。作用最大也。</p>
<p>十一、光明</p>
<p><u>部位</u>　外踝上五寸。足少陽絡別走厥陰。</p>
<p><u>證治</u>　熱病汗不出。卒狂。嚼頰淫濼。脛酸胻痛。不能久立。虛則痿痹。偏細。坐不能起。實則足胻熱膝痛。身體不仁。</p>
<p><u>針灸</u>　針入六分。留七呼。灸五壯。</p>
<p>十二、蠡溝</p>
<p><u>部位</u>　在內踝前上五寸。足厥陰絡。別走少陽。</p>
<p><u>證治</u>　疝痛。小腹滿痛。癃閉。臍下積氣如杯。數噫。恐悸。少氣。足脛寒酸。屈伸難。腰背拘急。不可俯仰。月經不調。帶下赤白。</p>
<p><u>針灸</u>　針入二分。留三呼。灸三壯。</p>
<p>按　光明蠡溝。乃足少陽膽。足厥陰肝。陽入陰。陰出陽之兩別絡穴。外踝上五寸曰光明。內踝上五寸曰蠡溝。蠡齧木之小蟲也。肝為木臟。膽為木府。經脈十二。始於肺而終於肝。肝臟之血。不能盡返於肺。男子生髭鬚。女子下月事。肝者將軍之官。謀慮出焉。膽者中正之官。決斷出焉。思慮此迴環十二經己周之營血。必有小數不潔者。不特無益於肝之經脈。而轉有損於肝之經脈。如蠡溝之蝕木。因置此一蠡溝穴與光明穴。內外相應。膽有決斷。大放光明。通於蠡溝。是者存之。轉於上腹屬肝絡膽。非者去之。有如日月光明。則蠡溝之害木者自去也。</p>

<h4>手三陽足下合穴</h4>
<p>一、巨虛上廉（手陽明下合穴）</p>
<p><u>部位</u>　在足三里下三寸。外膝眼下六寸。當舉足取之。</p>
<p><u>證治</u>　飧泄腹痛。支滿。狂走。俠臍少腹痛。食不化。喘息不能行。藏氣不足。偏風腲腿。手足不仁。</p>
<p><u>針灸</u>　針入三分。可灸三壯。灸偏風。以年為壯。</p>
<p>二、巨虛下廉（手太陽下合穴）</p>
<p><u>部位</u>　在巨虛上廉下三寸。外膝眼下九寸。兩筋骨罅間。舉足取之。</p>
<p><u>證治</u>　少腹痛。飧泄。次指間痛。唇乾。涎出不覺。不得汗出。毛髮焦。脫肉。少氣。胃中熱。不嗜食。瀉膿血。胸脅少腹痛。暴驚狂言非常。女子乳癰。喉痹。胻腫。足跗不收。</p>
<p><u>針灸</u>　針入八分。可灸三壯。</p>
<p>三、委陽（手少陽下合穴）</p>
<p><u>部位</u>　膕中外廉兩筋間屈伸取之。</p>
<p><u>證治</u>　腋下腫痛。胸滿膨膨。筋急。身熱。飛屍遁注。痿厥不仁。小便淋澀。</p>
<p><u>針灸</u>　針入七分。可灸三壯。</p>
<p>按：六腑經脈。皆出足之三陽。上合於手。故手三陽經病自外來者。取手之六腧。如病在內府。當取足下之合穴。大腸合於巨虛上廉。小腸合於巨虛下廉。蓋大腸小腸。皆與胃相連接。小腸連接於胃之下口幽門。曲屈而下。故合穴出於巨虛下廉。大腸連接於小腸末之闌門。迴環而上。故合於巨虛上廉。三焦下腧。出於膕中外廉。名曰委陽。故閉癃瀉之。遺尿補之。皆取委陽。此本輸之變例也。</p>

<h4>附手足十二經圖十二幅</h4>
<figure>
<img alt="肺五腧穴一別絡穴圖">
</figure>
<figure>
<img alt="大腸六腧穴一別絡穴圖">
</figure>
<figure>
<img alt="胃六腧穴一別絡二下合穴圖">
</figure>
<figure>
<img alt="脾五腧穴一別絡穴圖">
</figure>
<figure>
<img alt="心五腧穴一別絡穴圖">
</figure>
<figure>
<img alt="小腸六腧穴一別絡穴圖">
</figure>
<figure>
<img alt="膀胱六腧穴一別絡一下合穴圖">
</figure>
<figure>
<img alt="腎五腧穴一別絡穴圖">
</figure>
<figure>
<img alt="心包絡五腧穴一別絡穴圖">
</figure>
<figure>
<img alt="三焦六腧穴一別絡穴圖">
</figure>
<figure>
<img alt="膽六腧穴一別絡穴圖">
</figure>
<figure>
<img alt="肝五腧穴一別絡穴圖">
</figure>

<h1>下卷</h1>

<h2>五臟五腧六腑六腧釋義</h2>
<p>腧是穴位。能轉註他穴。凡節之交（一）三百六十五會。五臟所以稟三百六十五節氣味（二）。乃水穀之氣。化為氣血。自內而外。由外而內。迴環相通。蓋天之六元（三）之氣。補益人體五臟。則為本輸（四）。地之五味（五）補益人體六腑。則為府腧（六）。臟之氣合於腑。自內相合。府之精。輸於臟。由手足之原穴而轉註。故五臟之俞即原穴。六腑水穀之精華貫入五臟俞穴之起原處。靈樞第一篇九針十二原。乃大淵。大陵。太衝。太白。太谿。左右計十原。增鳩尾脖胦。曰膏曰肓。概括六腑所出之要穴。共稱十二原。</p>
<p>五臟五腧所出為井木。六腑六腧所出為井金。天一生水（七）。木上之水乃金之所生。積陽為天。天生萬物。故陽井為金。積陰為地。水為陰。水能生木。故陰井為木。以四時證之。冬月水旺。春月木旺。木上之露。其色青。自根而達於枝葉。木根於地。地下有水。則木繁榮。故曰水生木。故陰井為木。秋月金旺。木上之露其色白。自葉溜根。秋後枝葉雖枯槁。而蒂固根深。金生水。故陽井為金。蓋秋金之氣。抑制其木之枝葉。增益其地下之水分。此五運（八）相推行之次序。井金井木既定。則依五運流注之。陰井為木。陰滎為火。陰俞為土。陰經為金。陰合為水。陽井為金。陽滎為水。陽俞為木。陽原陽經為火。陽合為土。出為井。溜為滎。注為俞。過為原。行為經。入為合。五臟五腧。六腑六腧。各行其道。故曰五腧之所留。五臟無原。六腑精華注入五臟之俞。故以俞為原。此六腑之所與合。</p>
<p>至於人體有病。依經穴旺時取之。甲丙戊庚壬開府之井穴。乙丁己辛癸開藏之井穴。陽日陽時開陽穴。陰日陰時開陰穴。均間時一取之。陽日流注到陰日。仍開陽穴。陰日流注到陽日。仍開陰穴。各依相生之次序。每日十一時共開六穴。陽日氣納三焦（九）。六腑皆備。陰日血歸包絡（九）。五臟悉通。此所謂五臟之所溜處。</p>
<p>邪氣之來。實則瀉之。多瀉其子。試舉四時以為例。春取絡脈諸滎。大筋分肉之間。木旺於春。滎為火穴。木能生火。取諸滎乃瀉其子。病甚者深取之。病間者淺取之。下云如春法。亦即此義。夏取諸俞。俞為土穴。夏日火旺。取諸俞乃瀉其子。秋取諸合。余如春法。蓋取其子仍有甚間之分。詳見於前。冬取諸井。水生木。冬日水旺。取諸井亦瀉其子。此四時之常例。詳推其變。邪氣病人。尤多克我。如土氣旺則水受其克。當瀉其土穴。針深而留之。故冬取諸井。兼取諸俞。蓋井穴過淺。只適宜於間（十）者淺刺速入速出。如冬病之甚者。須深針而留之。指間井穴不足取。當取諸俞之分（十一）。</p>
<p>五臟各有五腧。五五二十五腧。六腑各有六腧。六六三十六腧。共六十一穴。扁鵲子午經便於流注干支之推算。增心本臟五穴。共為六十六穴。陽日陰日。依各臟各腑相生之次序取之。間時一穴。木火土金水。與金水木火士五腧得五時。中間四時。共為九時。陽日增三焦一穴。取其生我者（十二）。陰日增包絡一穴。取其我生者（十二）。一日六穴。計六時。間五時。合十一時。十日共一百十時。始於癸日亥時。終於癸日子時（歷甲乙丙丁戊己庚辛壬）。其間缺癸日十時。此流注中天然之缺點。</p>
<p>天之十干（十三）。下合地之五運。地之十二支（十四）。上應天之六元。甲乙木。丙丁火。戊己土。庚辛金。壬癸水。陽奇陰偶。六腑為陽。五臟為陰。甲膽為陽木。乙肝為陰木。丙小腸為陽火。丁心為陰火。戊胃為陽土。己脾為陰土。庚大腸為陽金。辛肺為陰金。壬膀胱為陽水。癸腎為陰水。依各臟各腑十日環周之次序。其中尤有陰陽交錯之至理者。蓋五運之始為土。土為四象之母。依次以生之。土生金。金生水。水生木。木生火。火生土。一日一字。甲與己合。同宗化土。乙庚化金。丙辛化水。丁壬化木。戊癸化火。奇偶雖不同。而五日中六十時。時干支恰一周。吾國造甲子始。六十年一大周年。五年中有六十月而周月。五日內有六十時而周時。五運六氣。古今哲學。年年歲歲不同。日日時時亦各不同。然甲己同宗。則陰陽奇偶交相錯落。故甲日開穴。重出於己日之下。己日開穴。又重見於甲日之下。乙庚丙辛丁壬戊癸八日。亦互相交流。同一義理。</p>

<h2>終始根結釋義</h2>
<p>凡用針者。必通十二經脈之所終始。營衛偕行二十八脈。此其常例。外邪病人。奇邪離經。陰經典陽經各別。則各有根結。各有終始。陰經陽經不同。手經足經各異。用針者應重足不重手。蓋陰者主臟。陽者主腑。足三陰三陽。接近於臟腑。手三陰三陽之脈度。不接近於臟腑。但補瀉迎隨。和氣之方。必通陰陽臟腑。故根結偏重在足。然脈會大淵。陰陽之有餘或不足。又當從手診脈。蓋人迎主三陽。脈口主三陰。人迎一盛一盛三盛。病在少陽太陽陽明。脈口一盛二盛三盛。病在厥陰少陰太陰。</p>
<p>人迎脈口。較平人俱盛三倍以上。名曰陰陽俱溢（一）。當以開十宣之法疾瀉之。不開則血脈閉塞。氣無所行。流淫而傷五臟。危證也。</p>
<p>如四倍以上。左為外格（一）。右為內關（一）。內關不通。死不治。</p>
<p>人迎脈口。較平人俱盛四倍以上者。名曰關格。與之短期。蓋陰陽離絕。生氣已竭之死證也。</p>
<p>其人迎一盛於脈口者。病在足少陽。一盛而躁者。病在手少陽。用針者。皆瀉足少陽而補足厥陰。二瀉一補。日一取之。</p>
<p>其人迎二盛於脈口者。病在足太陽。二盛而躁者。病在手太陽。用針者。皆瀉足太陽而補足少陰。二瀉一補。二日一取之。</p>
<p>其人迎三盛於脈口者。病在足陽明。三盛而躁者。病在手陽明。用針者。皆瀉足陽明。而補足太陰。二瀉一補。日二取之。</p>
<p>其脈口一盛於人迎者。病在足厥陰。一盛而躁者。病在手厥陰。用針者。皆瀉足厥陰而補足少陽。二補一瀉。日一取之。</p>
<p>其脈口二盛於人迎者。病在足少陰。二盛而躁者。病在手少陰。用針者。皆瀉足少陰而補足太陽。二補一瀉。二日一取之。</p>
<p>其脈口三盛於人迎者。病在足太陰。三盛而躁者。病在手太陰。用針者。皆瀉足太陰。而補足陽明。二補一瀉。日二取之。</p>
<p>刺道畢於終始。終始之道。有常有變。經脈十二。始於手太陰肺。終於足厥陰肝。脈度二十有八。男子始於左手太陰肺。終於督任兩陽蹺。女子始於右手太陰肺。終於任督兩陰蹺。此經脈終始之常。外有經正經別六合。不在其中。皆人身生理之常。其有病變者。則三陰三陽各有終始。各有根結。推而言之。尤有根而不結者。散於絡別而倒行。會於項中。始於任而終於督。七次八穴十四行（二）。尚未盡也。此根而不結之變例。</p>
<p>（一）太陽根於至陰。結於命門。（睛明穴）</p>
<p>（二）陽明根於厲兌。結於顙大。（頭維穴）</p>
<p>（三）少陽根於竅陰。結於窗籠。（聽宮穴）</p>
<p>（四）太陰根於隱白。結於太倉。（中腕穴）</p>
<p>（五）少陰根於湧泉。結於廉泉。（舌本穴）</p>
<p>（六）厥陰根於大敦。結於玉英。（玉堂穴）</p>
<p>以上六者。有根有結。重足不重手。蓋足三陰三陽之井穴。皆在足下。故也。</p>
<p>（一）足太陽根於至陰。溜於京骨。注於崑崙。入於天柱。六次脈飛陽也。</p>
<p>（二）足少陽根於竅陰。溜於丘虛。注於陽輔。入於天容。四次脈光明也。</p>
<p>（三）足陽明根於厲兌。溜於衝陽。注於下陵。入於人迎。一次脈豐隆也。</p>
<p>（四）手太陽根於少澤。溜於陽谷。注於小海。入於天窗。三次脈支正也。</p>
<p>（五）手少陽根於關衝。溜於陽池。注於支溝。入於天牖。五次脈外關也。</p>
<p>（六）手陽明根於商陽。溜於合谷。注於陽谿。入於扶突。二次脈偏歷也。</p>
<p>以上六者。手足三陽之別絡也。根而無結。重陽不重陰。蓋手之三陰。從胸走手。不上於頭。故不計也。</p>

<h2>補瀉手法</h2>
<p>凡用補瀉正法。必先明晰人身偕行營衛（一）左右陰陽內外上下經脈運行之道路。</p>
<p>（一）男子午前　左手陰經降。從胸走手。左手陽經升。從手走頭。右手陽經降。從頭走手。右手陰經升。從手走胸。右足陰經降。從胸走足。右足陽經升。從足走頭。左</p>
<p>足陽經降。從頭走足。左足陰經升。從足走胸。</p>
<p>（二）男子午後　右手陰經降。從胸走手。右手陽經升。從手走頭。左手陽經降。從頭走手。左手陰經升。從手走胸。左足陰經降。從胸走足。左足陽經升。從足走頭。右足陽經降。從頭走足。右足陰經升。從足走胸。</p>
<p>（三）午前瀉針手法男女不同。</p>
<p>針男子左手足。針向內轉（二）。令病人用口鼻吸氣（針手用鼻吸氣。針足用口吸氣）。陽日用奇數（三七九數分病輕重用之）。陰日用偶數（二六八數分病輕重用之）。</p>
<p>針女子右手足。針向外轉（二）。令病人用口鼻呼氣（針手用鼻呼氣。針足用口呼氣）。陽用奇。陰用偶（三）。</p>
<p>何謂陽日。甲丙戊庚壬。何謂陰日。乙丁己辛癸。</p>
<p>（四）午前補針手法男女不同。</p>
<p>針男子左手足。針向外轉。令病人用口鼻呼氣（針手用鼻。針足用口）。陽偶。陰奇（三）。</p>
<p>針女子右手足。針向內轉。令病人用口鼻吸氣（針手用鼻。針足用口）。陽偶。陰奇。</p>
<p>（五）午後瀉針手法男女不同。</p>
<p>針男子左手足。用針女子午前瀉針手法。左右雖不同。而手法針外轉呼氣則同。</p>
<p>針女子右手足。用針男子午前瀉針手法。左右雖不同。而手法針內轉吸氣則同。</p>
<p>（六）午後補針手法男女不同。</p>
<p>針男子左手足。用針女子午前補針手法。左右雖不同。而針內轉吸氣則同。</p>
<p>針女子右手足。用針男子午前補針手法。左右雖不同。而針外轉呼氣則同。</p>
<p>（七）以上所言。乃男女子後午前午後子前之正例。即靈樞經所謂男內女外堅拒勿出謹守勿內之正義。又云。迎而奪之者瀉也。隨而繼之者補也。迎之隨之。以意合之。針道畢矣。</p>
<p>（八）總其大要。男子午前。針內轉吸氣為瀉。針外轉呼氣為補。男子午前。與午後相反。女子午後。與男子午前相同。女子午前。與男子午前相反。不可不辨。</p>

<h2>寒熱手法</h2>
<p>靈樞經云。刺諸熱者如以手探湯（一）。刺寒清者如人不欲行（一）。此即繼起者用透天涼燒山火之兩手法。針灸家師承有云。提針為熱。插針為寒。內轉為瀉。外轉為補。補瀉之法。可停針候氣。遲遲轉之。提插之法。不可偏用。蓋儘量插之。而至於骨。則不可再插。儘量提之。而針以外出。則不能再用。故定為三提一插。提針呼氣。插針吸氣。為燒山火。蓋提數多。則氣之出於衛分者多振振惡寒（二）之證。用此手法。陽日用偶數。陰日用奇數。必能使之發熱。反言之。三插一提。插針吸氣。提針呼氣。為透天涼。蓋插數多。則氣之入於營分者多蒸蒸發熱（二）之證。用此手法。陽日用奇數。陰日用偶數。必能使其熱退。</p>
<p>除寒退熱。乃針灸家必要之手法。故靈樞針經列於第一篇九針十二原之末。等於冠諸本輸篇之首也。</p>
<p>以上所言燒山火透天涼之正法。乃男用於午前。女子用於午後。如男子午後。有大寒證大熱證。當用燒山火透天涼者。則反而用之。如女子午前有大寒證大熱證。當用燒山火透天涼者。亦反而用之。</p>
<p>歌曰　三插一提涼透天。三提一插火燒山。</p>
<p>提針吹氣插針吸。女午後兮男午前。</p>

<h2>升降手法</h2>
<p>五運有太過與不及。五氣傾移。有常有變。卒然而動者謂之變。順應四時。陰陽往復。寒暑迎隨謂之常。依時取穴。合乎運常。但不能應變。內經氣交變大論篇云。應常不應卒。此之謂也。故刺法論中之升降手法欲發鬱而升之者。均須待時。如當折其勝散其鬱而降之者。勿須待時（一）。試分析如後。</p>
<p>五臟藏氣上升之法</p>
<p>肝木之氣。鬱而不升。當刺足厥陰之井（大敦）。乙庚日酉時開。</p>
<p>心火之氣。鬱而不升。當刺包絡之滎（勞宮）。丙辛日未時開。</p>
<p>脾土之氣。鬱而不升。當刺足太陰之俞（太白）。丙辛日丑時開。己日酉時過。</p>
<p>肺金之氣。鬱而不升。當刺手太陰之經（經渠）。丙辛日卯時開。</p>
<p>腎水之氣。鬱而不升。當刺足少陰之合（陰谷）。丙辛日巳時開。</p>
<p>以上所言。上升取穴。須待時之正例。欲氣上行。則用右手大指甲上括針柄。左手指依經導之。使氣上行。續用補法。或多補少瀉法。</p>
<p>五臟藏氣下降之法</p>
<p>肝木之氣。欲降而不下。當折其所勝。刺手太陰肺之井穴（少商）。手陽明大腸之合穴（曲池）。</p>
<p>心火之氣。降而不下。當折其所勝。刺足少陰之井穴（湧泉）。足太陽膀胱之合穴（委中）。</p>
<p>脾土之氣。降而不下。當折其所勝。刺足厥陰肝之井穴（大敦）。足少陽贍之合穴（陽陵泉）。</p>
<p>肺金之氣。降而不下。當折其所勝。刺心包絡之井穴（中衝）。手少陽三焦之合穴（天井）。</p>
<p>腎水之氣。降而不下。當折其土。刺足太陰脾之井穴（隱白）。足陽明胃之合穴（下陵三里）。</p>
<p>以上所言下降取穴。勿須待時之正例。欲氣下行。用右手大指甲下括針柄。使氣下行。純用瀉法。如病在六腑。邪實過勝者。當取手少陽合穴者。用足太陽絡委陽穴代之。當取手陽明合穴者。用足陽明巨虛上廉代之。當取手太陽合穴者。用足陽明巨虛下廉代之。此依據靈樞經本輸篇大腸合於巨虛上廉。小腸合於巨虛下廉。三焦下俞。出於膕中外廉。名曰委陽。陰有陽疾。實則瀉之之正例。</p>

<h2>臥針迎隨手法</h2>
<p>難經云。經言能知迎隨之氣。可令調之。調氣之方。必在陰陽。何謂也。然所謂迎隨者。知營衛之流行。經脈之往來。隨其逆順而取之。故曰迎隨。調氣之方。必在陰陽者。知其內外表里。隨其陰陽而調之。故曰調氣之方。必在陰陽。</p>
<p>張世賢注云。手足三陽。手走頭而頭走足。手足三陰。足走胸而胸走手。此乃經脈往來定規。凡欲瀉者。用針芒向其經脈所來之處。迎其氣之方來未盛。乃逆針以奪其氣。是謂之迎。凡欲補者。用針芒向其經脈所去之路。隨其氣之方去未虛。乃順針以濟其氣。是謂之隨。迎隨之施。將以調氣。調氣之術。必在知其病之在陰在陽。隨其陰陽虛實。而施迎隨補瀉。以調其氣焉。內里為陰。外表為陽。內有表裡。外亦有表裡也。古人有曰表之表。里之裡。正此意也。陽虛陰實。則瀉陰而補其陽。陽實陰虛。則瀉陽而補其陰。隨其陰陽而調之也。</p>
<p>按男子午前。女子午後。照補瀉正法用之。如女子午前。男子午後。則當反其例而用之。蓋男子應日。女子應月。陰陽升降不同。用針者不可不辨。</p>
<p>例如男子午前。針左手陽經。針芒從外往上為隨。針芒從內往下為迎。針左足陽經。針芒從內往下為隨。針芒從外往上為迎。針左足陰經。針芒從外往上為隨。針芒從內往下為迎。針左手陰經。針芒從內往下為隨。針芒從外往上為迎。</p>
<p>李南豐注云。手上陽進陰退。足上陽退陰進（一）。合六經起止故也。凡針起穴。針芒向上氣順行之道。凡針止穴。針芒向下氣所止之處。左外右內。令氣上行。右外左內。令氣下行。或問午前補瀉。與午後相反。男子補瀉。與女子相反（二）。蓋男子之氣。早在上而晚在下。女子之氣。早在下而晚在上。故男子陽經午前呼為補。吸為瀉。女子陽經。午前以吸為補。呼為瀉。午後亦反之。或者又曰。補瀉必資呼吸。假令屍厥中風。不能使之呼吸者奈何。曰候其自然之呼吸而轉針。若當吸不轉。令人以手掩其口鼻。鼓動其氣可也。</p>
<p>噫補瀉提插。分男女早晚。其理深微。原為奇經不拘十二經常度。故參互錯綜如是。若流注穴。但分左右陰陽可也。</p>
<p>嘗愛雪心歌云。</p>
<p>如何補瀉有兩般。蓋是經從兩邊發。</p>
<p>古人補瀉左右分。今人乃為男女別。</p>
<p>男女經脈一般生。晝夜循環無暫歇。</p>
<p>此訣出自梓桑君。我今授汝心已雪。</p>
<p>此子午兼八法而後全也。</p>

<h2>進針手法</h2>
<p>內經云。知為針者信其左。不知為針者信其右。蓋取穴的時。先以沸水洗淨穴位。醫者亦必用沸水溫針。洗手。消毒。再以左手大指甲切按其穴。成十字形。然後令病人咳嗽一聲。醫者左手持穴。右手以大指中指持針。食指壓針頂。無名指輔針。隨咳刺入。再令病人用口吸氣。醫者徐徐左右旋轉進針。大約吸氣三口。針透天部。吸氣至六口。針至人部。吸氣九口。針到地部。如肌肉輕鬆。進針容易。吸氣未至九口而針已到地部者。少吸數口氣亦可。如肌肉緊密。吸氣九口而針未到地部者。再多吸氣數口。總以針至地部為止。再如針至肉膜。膜厚針受阻。則令病人口呼氣將針輕提。再令病人吸氣。將針重下。透肉膜後。進針至易。針到地部時。令病人呼氣一口。微提針如小豆許。即停針候氣。停針時。用大指甲括針柄向上括之之正例。如病在下而針穴在上者。則下括針柄。如病在陽經背部而所針開穴為手陰經者。右手括針時。以左手指隨其經脈之道。按引氣而導至肩髎。令病者用鼻大呼氣一口。乘呼氣時將針外轉一次。用大指甲將針柄下括數次。乃停針候氣。此即靈樞經第一篇右主推之左持而御之（一）之義。</p>
<p>如病在陰經腹部而所取開穴在手陽經者。用右手大指甲將針柄上括。左手指隨其經脈之道。按引氣而導至肘上。轉折入臑腋。令病人用口大吸氣一口。針向內轉一次。再用大指將針柄下括二三下。乃停針候氣。</p>

<h2>催氣手法</h2>
<p>停針十分鐘內。如針下有脹痛（一）之感覺。見針四圍有紅暈。即知邪氣已至針下。立用正手法瀉之。</p>
<p>如停針十分鐘以上而針不脹不痛。見針四圍亦無紅暈。即知邪氣未至針下。當用催氣法催之。</p>
<p>催氣法。陽日用偶。陰日用奇數。內轉令病人吸氣。外轉令病人呼氣。陽日用至六數時。即令病人顛倒呼吸。呼氣時針內轉。吸氣時針外轉。顛倒重用六數。乃停針候氣。如邪氣不至。如法再催。或三催。頃刻針下脹痛。即知邪氣已至。勿須再催。即用補瀉正法。</p>

<h2>調和營衛手法</h2>
<p>補瀉寒熱升降。正手法用畢時。針下輕鬆。病人痛苦輕減。將出針時。先用調和營衛手法。先和營（一）氣。後再調衛（一）氣。和營氣針在地部。不分陰日陽日。和營皆用六數。調衛皆用九數。和營用口呼吸。調衛用鼻呼吸。先吸後呼。吸氣針內轉。呼氣針外轉。和營六數時。針在地部。不必輕提。和營六數用畢。頃刻即令病人用鼻呼吸。仍先吸氣後呼氣。吸氣針內轉。呼氣針外轉。外轉時注意將針徐徐提至天部。調衛九數用畢。再停針頃刻即出針。出針時。再令病人用口輕輕吸氣數口。不拘奇偶。將針左右輕輕旋轉出針。</p>
<p>出針後。如血分有瘀滯。針下微見黑血。令病者勿疑。說明病理。以手按擠左右。令黑血盡出。見紅血即自止。</p>
<p>出針時邪氣有餘。針之周圍紅暈不盡。皮膚微覺高起。微覺脹痛。則將針搖大其孔。出針後。不必用閉門法。</p>
<p>出針時如邪氣已盡。正氣不足。病人頭部覺昏暈。針周圍皮膚色白。針下輕鬆者。右手出針。速用左手大指按其孔穴揉和之。使正氣不致消耗。</p>
<p>靈樞經云。瀉曰必持內之。放而出之。排陽得針。邪氣得泄。補曰如留而還。去如弦絕。令左屬右。其氣故止。外門已閉。中氣乃實。必勿留血。即取誅之。此出針當按不當按之理。</p>

<h2>用針脈法</h2>
<p>靈樞經云。凡將用針。必先診脈。脈法繁多。用針者以六字概括。曰緩急大小滑澀（一）。急者多寒。緩者多熱。大者多氣少血。小者血氣皆少。滑者陽氣盛。微有熱。澀者多血而少氣。微有寒。六脈主五臟諸病。詳見經文。不繁贅。惟小脈不可針。諸小者。陰陽形氣俱不足。勿取以針而調以甘藥也。</p>
<p>蓋陰陽虛實互有盛衰者。則補之瀉之。人迎主三陽。寸口主三陰。人迎大寸口一倍二倍三倍。則三陽氣盛。當瀉三陽而補三陰。寸口大人迎一倍二倍三倍。則三陰氣盛。當瀉三陰而補三陽。盛則瀉之。虛則補之。熱則疾之。寒則留之。此補瀉寒熱之正法也。不盛不虛。以經取之。此調和營衛之常法也。如久病陰陽血氣皆不足。人迎寸口脈皆小。只可用甘淡之藥以調之。則慎用針。再者。藏氣有絕於內外之分。絕於外者。則脈去而不來。金匱云。不來或曲如蛇行者死。或來而無去。尺中無脈。此藏氣將絕之脈形。如不診其脈而妄針之。下針即死。其死者有躁靜之分。躁者五臟之氣已先絕於外。其脈去而不來。醫者以手按尺脈。則寸關之脈全無。手足厥逆。四末本輸諸井已無所出。而十二原接受三百六十五節氣味轉註之道已絕。藏真之氣。不得天氣穀氣入而合之。則藏之氣暴露於外。以致其脈去而不來。不用針亦將死之候。針之即死。其死也躁動不安。蓋因藏真之氣盡量泄於外也。是謂逆厥。</p>
<p>靜者五臟之氣已先絕於內。其脈來而不去。醫者以手按寸。則尺關之脈全無。張口短氣。吸而難入。蓋藏真之氣將絕。雖有天氣穀氣欲補充之。亦無能為力。不用針亦將死之候。針之即死。蓋藏真之氣先竭而妄針之。重竭其外來之氣。其死也靜。是謂重竭。</p>
<p>取五脈者死。其義有二。</p>
<p>（一）五里脈。尺動脈在五里。為五腧之禁。蓋五臟之真氣。嘗賴六腑水穀之氣以養之。五里乃手陽明之要穴。如藏氣已損而妄針之。則六腑水穀之氣補充五臟之要道隔絕。得谷者昌。絕谷者亡。即此義也。</p>
<p>（二）五臟之氣絕而各有脈形。春弦夏鉤秋毛冬石四季脈代（二）。但弦無胃曰死。如按琴瑟。但鉤無胃曰死。前曲後居。如操帶鉤。但毛無胃曰死。按之蕭索。如風吹毛。但石無胃曰死。來如解索。去如彈石。但代無胃曰死。動而中止。不能自還。以上五脈。不可用針。仲景云。脈結代。心動悸。炙甘草湯主之。本調以甘藥之正義。然次條釋脈末語云。名曰代陰也。得此脈者。必難治。脈經定為死脈。賢如仲師。對此脈之斷語。難治之上。加一必字。與不可治之死證。相去幾希。惡可用針乎。</p>

<h2>針效</h2>
<p>用針大要。診脈後先辨其表裡虛實寒熱。久病暴病。陽盛陰虛。陰盛陽虛。或病六腑。或病五臟。五臟有疾。當取大淵大陵太衝太白太谿諸原穴（本名俞穴）。針以出病。藉用穀氣托邪外出。故靈樞法天篇稱九針十二原也。五臟痼疾。有外來者。有內生者。有相傳者。有阻礙部分者。用針手法。各有不同。經云。五臟之有疾也。譬猶刺也。猶汙也。猶結也。猶閇也。刺雖久。猶可拔。邪自外來者。瀉之而已。汙雖久。猶可雪。邪自內生。縱橫傳播。或補母。或瀉子。或取其勝者而瀉之之謂。結雖久。猶可解。閇雖久。猶可決。此即刺法論中上升下降。升之者。均須待時。解結之謂。降之者。折其所勝。勿須待時。決閇之謂。詳見升降手法篇。不再贅。</p>
<p>六腑有疾。六腑為陽。五臟為陰。背為陽。腹為陰。陰有陽疾者。取之下陵三里。蓋腹為陰部。有陽明胃腸之病者。正往勿殆。氣下乃止。不下復始。蓋陽明多氣多血。大瀉之盡除其邪。日二刺之。亦無損於正也。</p>
<p>六淫之邪。病在三陰三陽。人迎脈大於寸口。寸口脈大於人迎。此即陽盛陰虛陰盛陽虛之鑑別。再有一盛二盛三盛之分。詳前用針脈法。</p>
<p>久病暴病。如中風歷節之痼疾。須用子午搗臼（一）最繁難之手法。急痧卒然倒僕。當刺指井見血。急則急之。緩則緩之。此迥然有別也。</p>
<p>新病在表者。當淺刺之。陽經取陷。針陷脈（二）則外邪立除。針中脈（二）則濁氣除。針太深則邪氣反沉。氣之在脈。邪氣在上。濁氣（二）在中。清氣（二）在下。清者為營。濁者為衛。淺病近於衛。用針不必損其營。不可不辨。如病入里。則當深針之。停針候氣。辨其寒熱虛實。詳補瀉寒熱各篇。排邪得宜。病可立愈。經云。刺之要氣至而有效。效之信。若風之吹雲。明乎若見蒼天。刺之道畢矣。</p>

<h2>針害</h2>
<p>凡將用針。必先診脈。辨其虛實。五臟之氣已絕內外者。針之即死。邪正俱虛。其脈小。不可用針而應調以甘藥。均詳於上。其有邪正俱實。當用純瀉法、如邪實正虛。當先瀉而後補之。補瀉反。則病益篤。男內女外。男外女內。亦詳於前。其補瀉有太過不及者。亦能為害。例如邪氣實而正氣虛。邪氣至針下。緊而急。穀氣至針下。徐而和。如醫者針下不善分析。穀氣已至而仍用瀉針。則耗損精專之營（一）。營者水穀之精氣。此所謂刺之害中而不去則精泄。精泄則病益甚而恇也。反言之。邪正俱實。邪氣未盡。穀氣未至而針下緊急。當續用瀉法。盡除其邪氣。如指下針下不明。驟然出針。則餘邪蘊於中。或生癰瘍。此所謂害中而去則致氣。致氣則生癰瘍。用針者。不可不慎也。此針害之概要。</p>

<h2>針灸禁忌</h2>
<p>靈樞經法時篇云。補瀉反則病益篤。難經七十八難曰。男外女內。不得氣。是謂十死不一治。</p>
<p>十二禁針</p>
<p>（一）男外（一）失氣。</p>
<p>（二）女內（一）失氣。</p>
<p>（三）新內勿刺。已刺勿內。</p>
<p>（四）已醉勿刺。已刺勿醉。</p>
<p>（五）新怒勿刺。已刺勿怒。</p>
<p>（六）新勞勿刺。已剌勿勞。</p>
<p>（七）已飽勿刺。已刺勿飽。</p>
<p>（八）已飢勿刺。已刺勿飢。</p>
<p>（九）已渴勿刺。已刺勿渴。</p>
<p>（十）大驚大恐。必定其氣乃刺之。</p>
<p>（十一）乘車來者。臥而休之。如食頃。乃刺之。</p>
<p>（十二）出行來者。坐而休之。如行十里頃。乃刺之。</p>
<p>忌灸者八穴（二）</p>
<p>少商　魚際　經渠　勞宮　陽池　少海　委中　陰陵泉</p>
<p>歌曰　環周八穴灸無功。足下陰陵泉委中。魚際經渠少商穴。陽池少海與勞宮。</p>
<p>妊婦忌針者二穴（三）</p>
<p>合谷　崑崙</p>
<p>歌曰　環周二穴慎施針。合谷崑崙可墜妊。妙手安胎亦有術。先從足下補三陰。</p>

<h2>經正六合</h2>
<p>人身經脈十二。迴環之道。有升有降。陰陽不同。言脈度者。左右男女不同。此人道也。本輸皆出於四末（一）。陽受氣於四末。積陽為天。天之在我者。德也。陽為之主。陰為之輔。名為經正。手足三陽為主。手足三陰輔之。三陰合三陽。名為六合。皆至外而內。不同於經脈脈度之常道。故篇名經別。蓋五臟六腑之經脈離合出入。合於天之道也。故本輸各臟腑之穴為合。蓋指井本乎天氣。入肘膝四關（一）。乃合於人身臟腑之氣。自內而外。偏重五臟真機。自外而內。稟受六元正紀。此人之合於天道也。</p>
<p>手三陰合手三陽。足三陰合足三陽。十二正凡六合。詳見經別篇。</p>

<h3>附本輸穴即景詩十二首</h3>
<p>漁翁　（詠手太陰肺五腧穴）</p>
<p>少商湖海一漁翁。魚際大淵任轉篷。漫道經渠不可測。還教尺澤起蛟龍。</p>
<p>夜色　（詠手陽明大腸六腧穴）</p>
<p>商陽茆屋二三間。合谷陽谿第幾彎。九曲池邊雲影淡。滿天星斗浴波瀾。</p>
<p>秋風　（詠足陽明胃六腧穴）</p>
<p>秋風厲兌內庭西。陷谷衝陽過解谿。三里未知何日到。幾番翹首欲思齊。</p>
<p>野寺　（詠足太陰脾五腧穴）</p>
<p>隱白雲中一老僧。大都離俗少人憎。幾回太白商丘過。汲飲陰陵泉幾升。</p>
<p>班師　（詠手少陰心五腧穴）</p>
<p>少衝少府把師班。兵馬神門得勝還。靈道戰書前日發。而今少海已歸山。</p>
<p>觀漲　（詠手太陽小腸六腧穴）</p>
<p>浮萍少澤任東西。前谷淵源繞後谿。腕骨又通陽谷澗。交流小海欲傾隄。</p>
<p>茅亭　（詠足太陽膀胱六腧穴）</p>
<p>茅亭結起至陰邊。通谷浮雲四望煙。束骨近同京骨峙。崑崙遙與委中連。</p>
<p>遠眺　（詠足少陰腎五腧穴）</p>
<p>秋高間眺湧泉邊。然谷太谿豁眼簾。復溜一帆陰谷去。江山覽勝碧連天。</p>
<p>秋雁　（詠手厥陰心包絡五腧穴）</p>
<p>中衝孤雁徹雲霄。幾度勞宮破寂寥。轉過大陵來間使。深淵曲澤莫招搖。</p>
<p>詠蝶　（詠手少陽三焦六腧穴）</p>
<p>關衝桃李液門裁。中渚陽池次第開。花落支溝香滿澗。一天井字蝶飛來。</p>
<p>別恨　（詠足少陽膽六腧穴）</p>
<p>竅陰別後恨相牽。幾俠谿臨泣杜鵑。懷抱丘墟情未畢。煩君陽輔寄陵泉。</p>
<p>春遊　（詠足厥陰肝五腧穴）</p>
<p>雲霞煙鎖大敦峰。忘卻行間轉太衝。坐望中封無路入。曲泉流水聽淙淙。</p>
<p>按：此明萬厲梁大川題李南豐醫學入門之作。仙與任君應秋討論之。潤色之。附之篇末。以博當代儒而醫者一粲。</p>
