<header data-type="book">
<h1>扁鵲神應針灸玉龍經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王國瑞</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1329">公元1329年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·扁鵲神應鍼灸玉龍經》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0063/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>一百二十穴玉龍歌</h1>
<p>扁鵲授我玉龍歌，玉龍一試痊沉疴。</p>
<p>玉龍之歌世罕得，研精心手無差訛。</p>
<p>吾今歌此玉龍訣，玉龍一百二十穴。</p>
<p>行針殊絕妙無比，但恐時人自差別。</p>
<p>補瀉分明指下施，金針一刺顯良醫。</p>
<p>傴者立伸患者起，從此名馳湖海知。</p>
<p>（曲池補，人中瀉；風池補，絕骨瀉）</p>

<h2>中風</h2>
<p>中風不語最難醫，頂門髮際亦堪施。</p>
<p>百會穴中明補瀉，即時甦醒免災危。</p>
<p>頂門：即囟會穴。上星後一寸。禁不可刺，灸七壯，針瀉之。</p>
<p>百會：頂中央旋毛中，取眉間印堂至髮際折中是穴。針一分許。中風，先補後瀉，多補少瀉。灸七壯，無補。</p>

<h2>口眼喎斜</h2>
<p>中風口眼致喎斜，須療地倉連頰車。</p>
<p>喎左瀉右依師語，喎右瀉左莫教差。</p>
<p>地倉：在口傍直縫帶路下，針一分。</p>
<p>頰車：在耳後墜下三分，沿皮向下透地倉一寸半，灸二七壯。</p>

<h2>頭風</h2>
<p>頭風嘔吐眼昏花，穴在神庭剌不差。</p>
<p>子女驚風皆可治，印堂剌入艾來加。</p>
<p>神庭：在鼻直上入髮際五分。針三寸，先補後瀉，瀉多補少。</p>
<p>印堂：在兩眉間宛宛中。針一分，沿皮先透左攢竹，補瀉後轉歸原穴；退右攢竹，依上補瀉。可灸七壯。小兒驚風灸七壯，大哭者為效，不哭者難治。隨症急慢補瀉，急者慢補，慢者急補，通神之穴也。</p>

<h2>偏正頭風</h2>
<p>頭風偏正最難醫，絲竹金針亦可施。</p>
<p>更要沿皮透率谷，一針兩穴世間稀。</p>
<p>絲竹：在眉後入髮際陷中，沿皮向後透。</p>
<p>率谷：在耳尖上一寸。針三分，灸七壯。開口剌，痛則瀉，眩暈則補。</p>

<h2>頭風痰飲</h2>
<p>宜瀉風池穴。</p>
<p>偏正頭風有兩般，風池穴內瀉因痰。</p>
<p>若還此病非痰飲，合谷之中仔細看。</p>
<p>風池：在耳後顳顬骨筋下入髮際，橫針一寸半入風府。先補後瀉，可灸七壯、二七壯。</p>
<p>合谷：一名虎口。在手大指次指岐骨縫中，脈應手。直剌入一寸半，看虛實補瀉。</p>

<h2>頭項強痛</h2>
<p>項強兼頭四顧難，牙疼並作不能寬。</p>
<p>先向承漿明補瀉，後針風府即時安。</p>
<p>承漿：在唇下宛宛中。直針三分，可灸七壯，瀉之。</p>
<p>風府：在項後入髮際一寸，兩筋間，言語則起，不言語則陷下處是穴。針三分，不可深，深則令人啞噤。</p>

<h2>牙疼</h2>
<p>（附：嘔吐）</p>
<p>牙疼陣陣痛相煎，針灸還須覓二間。</p>
<p>翻嘔不禁兼吐食，中魁奇穴試看看。</p>
<p>二間：在手大指次指骨縫中。針一分，沿皮向後三分。灸七壯，看虛實補瀉。</p>
<p>中魁：在中指第二節尖。灸二七壯，瀉之。禁針。</p>

<h2>乳蛾</h2>
<p>乳蛾之症更希奇，急用金針病可醫。</p>
<p>若使遲延難整治，少商出血始相宜。</p>
<p>少商：在大指甲邊內側端，去爪甲如韭葉。針入一分，沿皮向後三分，瀉之，三稜針出血。應合谷。</p>

<h2>鼻淵</h2>
<p>鼻流清涕名鼻淵，先瀉後補疾可痊。</p>
<p>若更頭風並眼痛，上星一穴刺無偏。</p>
<p>上星：在髮際一寸半，取穴以手掌後橫紋按鼻尖，中指頭盡處是穴。直針三分，灸七壯。鼻淵則補，不聞香臭則瀉。應太淵穴，見後痰嗽歌。</p>

<h2>不聞香臭</h2>
<p>不聞香臭從何治，須向迎香穴內攻。</p>
<p>先補後瀉分明記，金針未出氣先通。</p>
<p>迎香：在鼻孔旁五分縫中，直針一分，沿皮向後上三分，瀉多補少。禁灸。</p>

<h2>眉目間痛</h2>
<p>眉目疼痛不能當，攢竹沿皮刺不妨。</p>
<p>若是目疼亦同治，剌入頭維疾自康。</p>
<p>攢竹：在眉尖陷中。針二分，沿皮向魚腰，瀉多補少。禁灸。</p>
<p>頭維：在額角髮際，沿皮向下透至懸釐，是穴在額角。疼痛瀉，眩暈補。灸二七壯愈。</p>

<h2>心痛</h2>
<p>九般心痛及脾痛，上脘穴中宜用針。</p>
<p>脾敗還將中脘瀉，兩針成敗免災侵。</p>
<p>上脘：在臍上五寸。直刺三寸半，看虛實補瀉。</p>
<p>中脘：在臍上四寸。法用草從鳩尾下至臍，折中是穴。直刺二寸五分，灸五十壯止。補多瀉少。</p>

<h2>三焦</h2>
<p>三焦邪氣壅上焦，舌乾口苦不和調。</p>
<p>針刺關衝出毒血，口生津液氣俱消。</p>
<p>關衝：在手小指次指內側端，如韭葉大。針一分，沿皮向後三分，瀉。禁灸。（小指次指者，無名指也。）</p>

<h2>上焦熱</h2>
<p>（附：心虛膽寒）</p>
<p>少衝穴在手少陰，其穴功多必可針。</p>
<p>心虛膽寒還補瀉，上焦熱湧手中尋。</p>
<p>少衝：在手小指內側端，去爪甲如韭葉大。直刺一分，沿皮向後三分，看虛實補瀉。禁灸。</p>
<p>通里：在腕後起骨上一寸。直針一分，宜瀉不宜補，愈補愈發。禁灸。</p>

<h2>癡呆</h2>
<p>癡呆一症少精神，不識尊卑最苦人。</p>
<p>神門獨治癡呆病，轉手骨開得穴真。</p>
<p>神門：在手掌後，高骨陷中。針入三分，灸七壯。應後谿穴。</p>

<h2>赤目</h2>
<p>眼睛紅腫痛難熬，怕日羞明心自焦。</p>
<p>但刺睛明魚尾穴，太陽出血病全消。</p>
<p>睛明：在目內眥淚孔中。針入一分半，略針向鼻，瀉。禁灸。</p>
<p>魚尾：即瞳子髎，在目上眉外尖。針一分，沿皮向內透魚腰，瀉。禁灸。太陽，在額紫脈上。可出血。</p>

<h2>目病隱澀</h2>
<p>忽然眼痛血貫睛，隱澀羞明最可憎。</p>
<p>若是太陽出毒血，不須針刺自和平。</p>
<p>太陽：在額紫脈上，出血，三稜針刺之。應睛明穴。</p>

<h2>目熱</h2>
<p>心血炎上兩眼紅，好將蘆葉搐鼻中。</p>
<p>若還血出真為美，目內清涼顯妙功。</p>
<p>內迎香：在鼻孔內，用蘆葉或箸葉作卷，搐之，血出為好。應合谷穴。</p>

<h2>目爛</h2>
<p>風眩爛眼可憐人，淚出汪汪實苦辛。</p>
<p>大小骨空真妙穴，灸之七壯病除根。</p>
<p>大骨空：在手大拇指第二節尖上。灸七壯。</p>
<p>小骨空：在手小指第二節尖上。灸七壯，禁針。</p>

<h2>目昏</h2>
<p>肝家血少目昏花，肝俞之中補更佳。</p>
<p>三里瀉來肝血益，雙瞳朗朗淨無瑕。</p>
<p>肝俞：在背九椎兩旁各一寸半。灸七壯，針入二分。</p>
<p>三里：在膝下三寸，貼骨外廉。針三分，瀉之。</p>

<h2>耳聾</h2>
<p>（附：紅腫生瘡）</p>
<p>耳聾氣閉不聞音，痛癢蟬吟總莫禁。</p>
<p>紅腫生瘡須用瀉，只從聽會用金針。</p>
<p>聽會：在耳珠前陷中，口開方可下針。橫下針刺半寸，灸二七壯。應合谷、足三里。</p>

<h2>聾癘</h2>
<p>（二症）</p>
<p>若人患耳即成聾，下手先須覓翳風。</p>
<p>項上倘然生癘子，金針瀉動號良工。</p>
<p>翳風：在耳後陷中，開口得穴。針入半寸，瀉之，灸七壯。</p>

<h2>喑瘂</h2>
<p>啞門一穴兩筋間，專治失音言語難。</p>
<p>此穴莫深惟是淺，刺深反使病難安。</p>
<p>啞門：在項後入髮際五分，直針三分，莫深，深則令人啞。瀉之，不補，灸七壯。</p>

<h2>痰嗽喘急</h2>
<p>咳嗽喘急及寒痰，須從列缺用針看。</p>
<p>太淵亦瀉肺家疾，此穴仍宜灸更安。</p>
<p>列缺：在大指直上，叉手中指盡處是穴。針入三分，橫針向臂，瀉之。</p>
<p>太淵：在掌後陷中三分。瀉之。</p>

<h2>咳嗽腰痛</h2>
<p>（附：黃疸）</p>
<p>忽然咳嗽腰膂痛，身柱由來穴更真。</p>
<p>至陽亦醫黃疸病，先瀉後補妙通神。</p>
<p>身柱：在背第三椎骨節。針三分，灸七壯，瀉之。</p>
<p>至陽：在背第七椎骨節尖。針三分，灸七壯，看虛實補瀉。</p>

<h2>傷風</h2>
<p>傷風不解咳頻頻，久不醫之勞病終。</p>
<p>咳嗽須針肺俞穴，痰多必用刺豐隆。</p>
<p>肺俞：在第三椎下，兩旁各一寸半宛宛中。灸三壯。</p>
<p>豐隆：在足腕解谿上八寸。直針二分半，看虛實補瀉，灸二七壯。</p>

<h2>咳嗽鼻流清涕</h2>
<p>腠理不密咳嗽頻，鼻流清涕氣昏沉。</p>
<p>噴嚏須針風門穴，咳嗽還當艾火深。</p>
<p>風門：在第二椎下，兩旁各一寸半陷中。</p>

<h2>喘</h2>
<p>哮喘一症最難當，夜間無睡氣惶惶。</p>
<p>天突尋得真穴在，膻中一灸便安康。</p>
<p>天突：在結喉陷中。針可斜下半寸，灸七壯，瀉之。</p>
<p>膻中：在兩乳中間。可瀉，灸七壯，禁針。</p>

<h2>氣喘</h2>
<p>氣喘吁吁不得眠，何當日夜苦相煎。</p>
<p>若取璇璣真個妙，更針氣海保安然。</p>
<p>璇璣：在天突下一寸。直針入三分，瀉之，灸七壯。</p>
<p>氣海：在臍下一寸五分宛宛中。刺入三分，灸七壯，看病補瀉。</p>

<h2>哮喘痰嗽</h2>
<p>哮喘咳嗽痰飲多，才下金針疾便和。</p>
<p>俞府乳根一般刺，氣喘風痰漸漸磨。</p>
<p>俞府：在巨骨下，璇璣旁二寸陷中。針三分，灸三壯，看虛實補瀉。</p>
<p>乳根：在乳下一寸六分陷中，仰而取之。針一分。灸五壯至七壯，看病補瀉。</p>

<h2>口氣</h2>
<p>口氣由來最可憎，只因用意苦勞神。</p>
<p>太陵穴共人中瀉，心臟清涼口氣清。</p>
<p>太陵：在掌後橫紋中。針三分，瀉之。</p>
<p>人中：在鼻下三分陷中。針三分，直針向上。</p>

<h2>氣滿</h2>
<p>小腹脹滿氣攻心，內庭二穴刺須真。</p>
<p>兩足有水臨泣瀉，無水之時不用針。</p>
<p>內庭：在足兩趾歧骨間。直刺三分，可瀉補，灸二七壯。</p>
<p>臨泣：在俠谿上三趾四趾間。針三分，禁灸。可以出一身之水，瀉用香油抹孔穴則針孔不開。</p>

<h2>氣</h2>
<p>（附：心悶、手生瘡）</p>
<p>勞宮穴在掌中心，滿手生瘡不可禁。</p>
<p>心悶之疾大陵瀉，氣攻胸腹一般針。</p>
<p>勞宮：在掌心，屈無名指，盡處是穴。針三分，灸七壯。太陵見前。</p>

<h2>肩腫痛</h2>
<p>肩端紅腫痛難當，寒濕相搏氣血狂。</p>
<p>肩髃穴中針一遍，頓然神效保安康。</p>
<p>肩髃：在肩端上，舉手陷中。針二寸半。若手臂紅腫疼痛，瀉之；寒濕麻木，補之。</p>

<h2>肘攣筋痛</h2>
<p>（二首）</p>
<p>兩手拘攣筋骨痛，舉動艱難疾可增。</p>
<p>若是曲池針瀉動，更醫尺澤便堪行。</p>
<p>曲池：在肘後外輔。</p>
<p>尺澤：在肘中大筋外陷中。用手如弓，方可下針。先補後瀉，針半寸，禁灸。</p>
<p>筋急不和難舉動，穴法從來尺澤真。</p>
<p>若遇頭面諸般疾，一針合谷妙通神。</p>
<p>尺澤、合谷：見前文。</p>

<h2>臂痛</h2>
<p>兩胛疼痛氣攻胸，肩井二穴最有功。</p>
<p>此穴由來真氣聚，瀉多補少應針中。</p>
<p>肩井：在肩端上，缺盆盡處。直針寸半停針。此穴五臟真氣聚，不宜補，不宜久停針。氣虛人多暈亂，急瀉之三里。應支溝穴。</p>

<h2>肩背痛</h2>
<p>肩臂風連背亦痛，用針胛縫妙通靈。</p>
<p>五樞本治腰疼病，入穴分明疾頓輕。</p>
<p>五樞：在臂部肩端骨下直縫尖。針入二寸半，灸二七壯，看虛實補瀉。</p>

<h2>虛</h2>
<p>虛羸有穴是膏肓，此法從來要度量。</p>
<p>禁穴不針宜灼艾，灸之千壯亦無妨。</p>
<p>膏肓：在背骨四椎下，微約五椎上，微少四肋之間是穴，各三寸。用竹杖、兩手撐開，陷中是穴。</p>

<h2>虛弱夜起</h2>
<p>老人虛弱小便多，夜起頻頻更若何。</p>
<p>針助命門真妙穴，艾加腎俞疾能和。</p>
<p>命門：在背骨十四椎下，與臍平。灸二七壯，禁針，針則愈甚，宜補不宜瀉。</p>
<p>腎俞：在命門兩旁各一寸半。灸法依前，針法依前。</p>

<h2>膽寒心驚鬼交白濁</h2>
<p>膽寒先是怕心驚，白濁遺精苦莫禁。</p>
<p>夜夢鬼交心俞瀉，白環俞穴一般針。</p>
<p>心俞：在背五椎兩旁一寸半，沿皮向外一寸半。灸七壯，不可多，先補後瀉，亦不宜多補。</p>
<p>白環俞：在二十一椎兩旁一寸半。直針一寸半，灸五十壯。夜夢鬼交，婦人白濁，宜補多。</p>

<h2>勞證</h2>
<p>傳屍勞病最難醫，湧泉穴內莫憂疑。</p>
<p>痰多須向豐隆瀉，喘氣丹田亦可施。</p>
<p>湧泉：在腳底心，轉足三縫中，又以二指至足跟盡處折中是穴。直針三分。傷寒勞瘵，有血可療，無則危。先補後瀉。</p>
<p>丹田：在臍下三寸。針八分，補多瀉少，可灸百壯。豐隆見前。</p>

<h2>盜汗</h2>
<p>滿身發熱病為虛，盜汗淋漓卻損軀。</p>
<p>穴在百勞椎骨上，金針下著疾根除。</p>
<p>百勞：在背第一椎骨穴上。針三分，灸二七壯，瀉之。應肺俞穴。</p>

<h2>腎虛腰痛</h2>
<p>腎虛腰痛最難當，起坐艱難步失常。</p>
<p>腎俞穴中針一下，多加艾火灸無妨。</p>
<p>腎俞：見前。</p>

<h2>腰脊強痛</h2>
<p>脊膂強痛瀉人中，挫閃腰疼亦可針。</p>
<p>委中亦是腰疼穴，任君取用兩相通。</p>
<p>人中：即水溝穴，在鼻下三分銜水突起處是穴。針三分，向上些，少瀉無補，法灸七壯。</p>
<p>委中：在膝後膕紋動脈中。針一寸，見血即愈。</p>

<h2>手腕疼</h2>
<p>腕中無力或麻𤸷，舉指痠疼握物難。</p>
<p>若針腕骨真奇妙，此穴尤宜仔細看。</p>
<p>腕骨：在手腕起骨前陷中，翻手得穴。針入三分，灸二七壯，瀉之。手麻木則補，可灸三七壯。</p>

<h2>臂腕痛</h2>
<p>手臂相連手腕疼，液門穴內下針明。</p>
<p>更有一穴名中渚，瀉多勿補疾如輕。</p>
<p>液門：在手小指次指本節後。針入一分，沿皮向後透入陽池，瀉之。</p>
<p>中渚：在小指次指岐骨間，本節後。針入一分，沿皮向後透腕骨，瀉之。</p>

<h2>虛煩</h2>
<p>連月虛煩面赤妝，心中驚恐亦難當。</p>
<p>通里心原真妙穴，神針一刺便安康。</p>
<p>通里：在腕後側，起骨後一寸。直針半寸，瀉之，禁灸。</p>

<h2>腹中氣塊</h2>
<p>腹中氣塊最為難，須把金針刺內關。</p>
<p>八法陰維為妙穴，肚中諸疾可平安。</p>
<p>內關：在手掌後橫紋二寸，兩筋間。直刺，透外關，先補後瀉。名陰維穴，禁灸。應照海穴。</p>

<h2>腹痛</h2>
<p>腹中疼痛最難當，宜刺太陵並外關。</p>
<p>若是腹痛兼閉結，支溝奇穴保平安。</p>
<p>外關：在腕後骨上二寸。直針透內關，先補後瀉，灸七壯。太陵見前。</p>
<p>支溝：在腕後三寸，對間使。針三分，透間使，灸七壯。間使見後瘧疾下。</p>

<h2>吹乳</h2>
<p>婦人催乳痛難熬，吐得風痰疾可調。</p>
<p>少澤穴中明補瀉，金針下了腫全消。</p>
<p>少澤：在手小指端外側，去爪甲如韭葉大。刺一分，沿皮向後三分。乳疽疾疼痛補，以吐為效。</p>

<h2>白帶</h2>
<p>婦人白帶亦難治，須用金針取次施。</p>
<p>下元虛憊補中極，灼艾尤加仔細推。</p>
<p>中極：在臍下四寸。直針二寸半，灸五十壯。婦人無子，宜刺灸，則有子，先瀉後補。血氣攻心，先補後瀉。</p>

<h2>脾疾反胃</h2>
<p>脾家之疾有多般，反胃多因吐食餐。</p>
<p>黃疸亦須腕骨灸，金針中脘必痊安。</p>
<p>腕骨：在手腕側，起骨前陷中。針二分，看虛實補瀉，灸三七壯。</p>
<p>中脘：在臍上四寸。針二寸五分，灸五十壯，補多瀉少。</p>

<h2>腿風</h2>
<p>環跳為能治腿風，居髎二穴亦相同。</p>
<p>更有委中出毒血，任君行步顯奇功。環跳：在髀樞研骨下一指，側臥，伸下足，屈上足方可。針三寸半，補少瀉少，可灸。</p>
<p>委中：見前。</p>
<p>居髎：在環跳上一寸，取法如前。</p>

<h2>膝腿無力</h2>
<p>膝疼無力腿如癱，穴法由來風市間。</p>
<p>更兼陰市奇妙穴，縱步能行任往還。</p>
<p>風市：在膝外廉上七寸，垂手中指盡處是穴。針入半寸，多補少瀉，灸七壯。</p>
<p>陰市：在膝上正七寸，垂手中指點穴。針入半寸，先補後瀉，灸二七壯。</p>

<h2>腿痛</h2>
<p>髖骨能醫兩腿痛，膝頭紅腫一般同。</p>
<p>膝關膝眼皆須刺，針灸堪稱劫病功。</p>
<p>髖骨：在膝蓋上一寸，梁丘穴兩旁各五分。直針半寸，灸二七壯，隨病補瀉。</p>
<p>膝關：在膝蓋骨下，犢鼻穴旁。橫針透膝眼，灸二七壯，隨病補瀉。</p>
<p>膝眼：在膝下是穴，針三分，禁灸。</p>

<h2>膝風</h2>
<p>紅腫名為鶴膝風，陽陵二穴便宜攻。</p>
<p>陰陵亦是神通穴，針到方知有俊功。</p>
<p>陽陵泉：在膝外輔骨下一指陷中。橫針透陰陵泉，針入二寸，看病補瀉。</p>
<p>陰陵泉：在膝內輔骨下空陷中。橫針透陽陵泉。又法：取曲膝之橫紋尖頭是穴。針二寸五分。</p>

<h2>腳氣</h2>
<p>寒濕腳氣痛難熬，先針三里及陰交。</p>
<p>更兼一穴為奇妙，絕骨才針腫便消。</p>
<p>三里：見前。</p>
<p>三陰交：在內踝上三寸，取中骨陷中。又云，在內踝上八寸。腳氣，三寸，瀉；婦人鬼胎，八寸，針三分。</p>
<p>絕骨：在足外踝上三寸。橫針二分半，灸二七壯。</p>

<h2>腳腫</h2>
<p>腳跟紅腫草鞋風，宜向崑崙穴上攻。</p>
<p>再取太谿共申脈，此針三穴病相同。</p>
<p>崑崙：在足外踝後陷中。橫針透呂細穴，灸二七壯，瀉多補少。</p>
<p>太谿：在內踝後，跟骨上動脈陷中。</p>
<p>申脈：在足外踝骨節下，赤白肉際橫紋。刺半寸，瀉多補少，禁灸。</p>

<h2>腳背痛</h2>
<p>丘墟亦治腳跗疼，更刺行間疾便輕。</p>
<p>再取解谿商丘穴，中間補瀉要分明。</p>
<p>丘墟：在足外踝前三分。麻木補之，如腳背紅腫，出血甚妙。</p>
<p>行間：在足大趾次趾虎口兩岐骨間。針半寸，灸二七壯，疼痛瀉之，癢麻補之。</p>
<p>解谿：在足腕上大筋外宛宛中。針半寸，灸七壯，如頭重、頭風，先補後瀉，此即草鞋帶穴也。</p>
<p>商丘：在足內踝下，微前三寸。斜針三分，後透崑崙。</p>

<h2>腳疾</h2>
<p>腳步難移疾轉加，太衝一穴保無它。</p>
<p>中封三里皆奇妙，兩穴針而並不差。</p>
<p>太衝：在行間上二寸。直針半寸，禁灸。</p>
<p>三里：見前。</p>
<p>中封：在足腕上，筋內宛宛中。針半寸，灸二七壯。</p>

<h2>瘧疾</h2>
<p>瘧疾脾寒最可憐，有寒有熱兩相煎。</p>
<p>須將間使金針瀉，瀉熱補寒方可痊。</p>
<p>間使：在掌後橫紋直上三寸，兩筋間。直透支溝，灸二七壯，熱多瀉，寒多則補，針入半寸。</p>

<h2>時疫瘧疾</h2>
<p>時疫瘧疾最難禁，穴法由來用得明。</p>
<p>後谿一穴如尋得，艾火多加疾便輕。</p>
<p>後谿：在手小指本節後，握拳橫紋尖。針半寸，灸七壯，同間使補瀉法。</p>

<h2>瘰癧</h2>
<p>瘰癧由來隱疹同，療之還要擇醫工。</p>
<p>肘間有穴名天井，一用金針便有功。</p>
<p>天井：在肘尖骨上陷中。取法用手叉腰方可下針，內少海穴，外小海穴。針三分，瀉之。</p>

<h2>痔瘻</h2>
<p>九般痔疾最傷人，穴在承山妙如神。</p>
<p>縱饒大痛呻吟者，一刺長強絕病根。</p>
<p>承山：在僕參上八寸，腿肚下分肉間。</p>
<p>長強：在二十一椎下，尾閭大骨當中是穴。針一寸，大痛方是穴。灸二七壯，瀉之。又治胡孫癆。</p>

<h2>大便閉塞</h2>
<p>大便閉塞不能通，照海分明在足中。</p>
<p>更把支溝來瀉動，方知醫士有神功。</p>
<p>照海：足內踝下白肉際。針四分，瀉之。</p>
<p>支溝：見前。</p>

<h2>身痛</h2>
<p>渾身疼痛疾非常，不定穴中宜細詳。</p>
<p>有筋有骨須淺刺，灼艾臨時要度量。</p>
<p>不定穴：又名天應穴，但疼痛便針，針則臥，針出血無妨，可少灸。</p>

<h2>驚癇</h2>
<p>五癇之症不尋常，鳩尾之中仔細詳。</p>
<p>若非明師真老手，臨時尤恐致深傷。</p>
<p>鳩尾：在胸前鳩尾骨下五分。針二寸半，不宜多灸，灸多令人健忘，灸一七壯。非老師高手不可下針，至囑至囑。</p>

<h2>水腫</h2>
<p>病稱水腫實難調，腹脹膨脝不可消。</p>
<p>先灸水分通水道，後針三里及陰交。</p>
<p>水分：在臍上五分。灸五十壯。單腹脹宜瀉，氣滿腹疼先補後瀉。</p>
<p>三里：見前。</p>
<p>三陰交：見前。與絕骨相對，灸一七壯，治法同水分。</p>

<h2>疝氣</h2>
<p>（三首）</p>
<p>由來七疝病多端，偏墜相兼不等閒。</p>
<p>不問豎痃並木腎，大敦一瀉即時安。</p>
<p>大敦：在足大趾端，去爪甲如韭葉大及三毛中。針三分，沿皮向後三分，有瀉有補。此穴亦治足寒濕腳氣。</p>
<p>豎痃疝氣發來頻，氣上攻心大損人。</p>
<p>先向閣門施瀉法，大敦復刺可通神。</p>
<p>閣門：在玉莖毛際兩旁各三寸。針一寸半，瀉之，灸五十壯。</p>
<p>衝心腎疝最難為，須用神針病自治。</p>
<p>若得關元並帶脈，功成處處顯良醫。</p>
<p>關元：在臍下三寸。針二寸，灸隨年壯。即丹田也。補，不瀉。</p>

<h2>痔漏</h2>
<p>痔漏之疾亦可針，裡急後重最難禁。</p>
<p>或癢或痛或下血，二白穴從掌後尋。</p>
<p>二白：在掌後橫紋上四寸，兩穴對並，一穴在筋中間，一穴在大筋外。有一法用草從項後轉至結喉骨尖，骨盡折了，將草折於兩，中對大指虎口縫，雙圈轉，兩頭點掌後臂上，草盡處是穴。灸二七壯，瀉之，禁灸。</p>

<h2>瀉泄</h2>
<p>脾泄為災若有餘，天樞妙穴刺無虞。</p>
<p>若兼五臟脾虛證，艾火多燒疾自除。</p>
<p>天樞：在臍兩旁各二寸。針一寸，灸五十壯，宜補。應脾俞穴。</p>

<h2>傷寒</h2>
<p>傷寒無汗瀉復溜，汗出多時合谷收。</p>
<p>六脈若兼沉細證，下針才補病痊瘳。</p>
<p>復溜：在足內踝上二寸。針一分，沿皮向骨下一寸半，灸二七壯。神效。</p>
<p>合谷：在手虎口陷中。寒補，熱瀉。</p>

<h2>傷寒過經</h2>
<p>過經未解病沉沉，須向期門穴上針。</p>
<p>忽然氣喘攻心脅，三里瀉之須用心。</p>
<p>期門：在乳下四寸第三肋端。針一分，沿皮向外一寸五分。先補後瀉，灸二七壯。</p>

<h2>腳細筋疼</h2>
<p>腳細拳攣痛怎行，金針有法治懸鐘。</p>
<p>風寒麻痹連筋痛，一刺能令病絕蹤。</p>
<p>懸鐘：在足外踝三寸。針三分。應環跳穴。</p>

<h2>牙痛</h2>
<p>風牙蟲蛀夜無眠，呂細尋之痛可蠲。</p>
<p>先用瀉針然後補，方知法是至人傳。</p>
<p>呂細：在足內踝骨肉下陷中。針三分，大瀉盡方補，痛定出針，灸二七壯。</p>

<h2>心腹滿痛</h2>
<p>（附：半身麻痹、手足不仁）</p>
<p>中都原穴是肝陰，專治身麻痹在心。</p>
<p>手足不仁心腹滿，小腸疼痛便須針。</p>
<p>中都：在足內踝上七寸。針一寸半，沿皮向上一寸，灸七壯。</p>

<h2>頭胸痛</h2>
<p>（嘔吐、眩暈）</p>
<p>金門申脈治頭胸，重痛虛寒候不同。</p>
<p>嘔吐更兼眩暈苦，停針呼吸在其中。</p>
<p>金門：在足外踝跗骨下陷中。針三分，透申脈，瀉實補虛，灸二七壯。</p>
<p>申脈：在足外踝骨下赤白肉際橫紋。刺入半寸，瀉多，補少，禁灸。</p>

<h2>小腸疝氣連腹痛</h2>
<p>水泉穴乃腎之原，臍腹連陰痛可蠲。</p>
<p>更刺大敦方是法，下針速瀉即安然。</p>
<p>水泉：在足內踝跗骨橫量一寸，直下一寸。針五分，瀉之，灸七壯。</p>

<h2>脾胃虛弱</h2>
<p>咽酸口苦脾虛弱，飲食停寒夜不消。</p>
<p>更把公孫脾俞刺，自然脾胃得和調。</p>
<p>公孫：在足內側本節後一寸陷中。蜷兩腳底相對。針一寸三分。</p>
<p>脾俞：在背脊十一椎兩旁一寸半。針三分，灸三壯。</p>

<h2>臂細筋寒骨痛</h2>
<p>臂細無力轉動難，筋寒骨痛夜無眠。</p>
<p>曲澤一針依補瀉，更將通里保平安。</p>
<p>曲澤：在肘橫紋筋里，與尺澤穴對，筋外尺澤穴，筋內曲澤穴，陷中。針三分，痛，瀉，禁灸。</p>

<h2>穴法歌</h2>
<p>穴法淺深隨指中，砭焫尤加顯妙功。</p>
<p>勸君若治諸般病，何不專心記《玉龍》。</p>
<p>聖人授此《玉龍歌》，瀉補分明切莫差。</p>
<p>祖師定穴通神妙，說與良醫慎重加。</p>

<h1>穴法相應三十七穴</h1>
<p>承漿應風府　風池應合谷　迎香應上星　翳風應合谷　聽會應合谷　啞門應人中　攢竹應太陽　太陰應合谷、睛明內迎香應合谷　人中應委中　腎俞應委中　髖骨應風市　足三里應膏肓□肩井應足三里　陽陵泉應支溝　崑崙應命門　崑崙應行間　申脈應合谷　太衝應崑崙　髖骨應曲池　肩井應支溝　尺澤應曲池　肩髃應髖骨　間使應百勞　關衝應支溝　中渚應人中　少衝應上星　後谿應百勞　神門應後谿　通里應心俞　百勞應肺俞　膏肓應足三里　風門應列缺　照海應崑崙　鳩尾應神門　中極應白環俞　天樞應脾俞。</p>

<h2>註解標幽賦</h2>
<p>「拯救之法，妙用者針，察歲時於天道，定形氣於人心。春夏瘦而刺淺，秋冬肥而刺深。不窮經絡陰陽，多逢刺禁。既論臟腑虛實，須向經尋。」</p>
<p>第一韻專論針刺之當謹慎，不可造次，須辨經絡陰陽、臟腑虛實而行補瀉也。「原夫起自中焦，水初下漏，太陰為始，至厥陰而方終；穴出雲門，抵期門而最後。」</p>
<p>第二韻專明十二經脈常行之度。一日一周，自寅手太陰之脈，穴出雲門也，至醜足厥陰之脈，穴出期門也，為終。周而復始循環，與滴漏天度無差，號曰鬥合人統也。</p>
<p>「正經十二，別絡走三百餘支。」</p>
<p>十二經絡、督任兩經貫串三百六十餘穴，以同日度並諸絡。十二經、奇經八脈、皇絡、孫絡、橫絡、絲絡，末取盡名。然不過一晝夜脈行一萬三千五百息，血行八百一十丈，一周而已矣。</p>
<p>「正側偃伏，氣血有六百餘候。」</p>
<p>背為陽，行於陰俞；腹為陰，行於陽俞，總三百六十餘穴，左右脅肋合穴六百餘候。</p>
<p>「手足三陽，手走頭而頭走足；手足三陰，足走腹而胸走手」。</p>
<p>手三陽，從手走至頭；足三陽，從頭走至足；足三陰，從足走至腹；手三陰，從胸走至手，《難經》所載明矣。</p>
<p>「要識迎隨，須明逆順。」</p>
<p>順經絡而刺是謂補，逆經絡而刺是謂瀉。手法在人，依經用度。</p>
<p>「況乎陰陽氣血多少為最，厥陰、太陽，少氣多血；太陰、少陰，少血多氣；而又氣多血少者，少陽之分；氣盛血多者，陽明之位。先詳多少之宜，次察應至之氣」。</p>
<p>氣血多少，已注經絡，不必重論。</p>
<p>「輕滑慢而未來，沉澀緊而已至。」</p>
<p>指彈其穴，穴下氣輕、滑、慢，氣未至也，勿刺，待氣至方可刺也。穴下氣來沉、澀而急，即可刺也。</p>
<p>「既至也，量寒熱而留疾。未至者，據虛實而候氣。」</p>
<p>氣至也，可留則留，可速則速。寒則留，熱則速，不可失時。候氣未至，或進或退，或按或提等，引氣至方可刺也。</p>
<p>「氣之至也，若魚吞鉤餌之浮沉。」</p>
<p>氣至穴下，若魚吞鉤，若蟻奔走，或浮或沉也。</p>
<p>「氣未至也，似潛處幽堂之深邃。」</p>
<p>穴下氣不至，若虛堂無人，刺之無功，不可刺也。</p>
<p>「氣至速而效速，氣至遲而不治。」</p>
<p>氣之至也，刺之即愈。氣未至也，如刺繡工，徒勞人爾。</p>
<p>「觀夫九針之法，毫針最微，七星可應，眾穴主持。」</p>
<p>古針有九名，毫針按七星斡運璇璣，最為常用也。</p>
<p>「本形金也，有蠲邪扶正之道。」</p>
<p>金者，剛健中正之性，可以去邪，扶持正氣也。本形言針之為物。</p>
<p>「短長水也，有決凝開滯之機。」</p>
<p>水有開山穿石之力，以潤下為功。針之短長深淺，如水之用也。</p>
<p>「定刺象木，或斜或正。」</p>
<p>斜刺，可曲，可直，可斜，可正，猶木之曲直也。</p>
<p>「口藏比火，進陽補羸。」</p>
<p>口溫針熱，補調榮衛，毋令冷熱相傷，猶火之能炎上也。</p>
<p>「循機捫而可塞，以象土。實應五行而可知。」</p>
<p>土可以塞水，針可以塞病，源是以象土也。一針之用，五行俱全。</p>
<p>「然是一寸六分，包含妙理。雖細楨於毫髮，同貫多岐。」</p>
<p>恆所用者毫針也。按黃帝銅人流注之法，肘前膝下一寸六分，只有八分為針柄，是針二寸四分也。按氣血、經絡變化無方，惟針所治。</p>
<p>「可平五臟之寒熱，能調六臟之虛實。」</p>
<p>臟腑要分表裡、虛實、寒熱，針法在斯矣。</p>
<p>「拘攣閉塞，遣八邪而去矣；寒熱痛痹，開四關而已之。」</p>
<p>太乙移宮之日，八風之邪。主人寒熱頭痛，若開闢四關，病可除也。四關者，兩手、兩足，刺之而已矣。正所謂六十六穴之中也。</p>
<p>「凡刺者，使本神朝而後入；既刺也，使本神定而氣隨。神不朝而勿刺，神已定而可施。」</p>
<p>神者脈也。脈息見於穴下，氣至可刺之，脈息不至則不均，不全則不定，穴下氣分不可刺也。至慎、至慎。</p>
<p>「定腳處取氣血為主意，下手處認水土是根基。」</p>
<p>先佔口鼻，呼吸勻者可刺。水土者，太谿、衝陽也。絕則勿刺焉。</p>
<p>「天、地、人，三才也，湧泉同璇璣、百會。」</p>
<p>百會在頂，應天主乎氣；湧泉在足底，應地主乎精；璇璣在胸，應人主乎神。得之者生，失之者亡，應乎三才者也。</p>
<p>「上中下三部也，大包與天樞、地機。」</p>
<p>上中下三部，謂之三要。大包在腋下三寸，主脾之大絡，一要也；天樞者，挾臍旁二寸，謂之關，二要也；地機者，脾舍之郄，在膝下五寸，下部之總，三要也。</p>
<p>「陽蹺、陽維並督脈，主肩背腰腿在表之病。」</p>
<p>督脈起下極之俞，主肩背夾脊之病。陽蹺在足外踝下白肉際，足太陽膀胱穴。陽維在膀胱下命門穴，與督脈皆屬陽，為補瀉兼治脛酸、身顫、癲癇之疾。督脈為陽脈之海。</p>
<p>「陰蹺、陰維、任、帶、沖，去心腹脅肋在裡之疑。」</p>
<p>任脈起中極之俞，上毛際曲骨俞。衝脈起氣衝並足陽明至胸，散諸部中。帶脈起於季脅下一寸八分，周迴一身，與任脈同治，陰脈之海也。陰蹺起於跟中。陰維起於諸陰交會處，所治腹裡諸疾也。</p>
<p>「二陵、二蹺、二交，似續而交五太。兩間、兩商、兩井，相依而列兩肢（兩肢當作四肢。）」</p>
<p>陽陵泉、陰陵泉、陽蹺、陰蹺，交信、交儀。五太者，相接太衝、太白、太谿、太淵、太陵，商丘、商陽，二間、三間，天井、肩井相依乎手足四肢也。上下左右，前後內外交平而百病可治也。</p>
<p>「足見取穴之法，必有分寸。先審自意，次觀肉分。或伸屈而得之，或平直而安定。在陽部筋骨之側，陷下為真；在陰分郄膕之間，動脈相應。」</p>
<p>取穴莫熟於分寸，詳字意最緊。手背、足背、脊背，陽部在兩筋之旁，以指按陷下者是穴。手心、腳底、腹肚，陰之分，在筋骨郄膕之間，以指下動脈應之是穴也。</p>
<p>「取五穴用一穴而必端，取三經使一經而可正。」</p>
<p>取五穴者，謂如陽經用甲、丙、戊、庚、壬時，取一時，分井、滎、輸、經、合，五穴既定，然後取一穴，得時刺之。三經者，假令膽經受病，宜取肝經拘關，又取脾經，甲膽與乙脾為奇偶，三經只取一經。余同此例。</p>
<p>「頭部與肩部詳分，督脈與任脈異定。」</p>
<p>此言經絡須要精熟，督脈、任脈，一陽一陰，在明師手指，不可造次。</p>
<p>「明標與本，論刺深刺淺之經；住痛移疼，取相交相貫之逕。」</p>
<p>日法寅、卯、辰，上為標；申、酉、戌，下為本。巳、午、未，上為標；亥、子、醜，下為本。故知標病大，本病輕淺也。交貫之路，謂陰交陽會、走經去絡配合之處也，皆可互標而刺之。</p>
<p>「豈不聞臟腑病，而求門、海、俞、募之微。」</p>
<p>門、海出入之道，俞、募終始之處，五臟各有俞、募。</p>
<p>「經絡滯，而求原、別、交、會之道。」</p>
<p>陰俞陰，謂之交；陽原陽，謂之會。</p>
<p>「更從四根，三結，依標本而刺無不痊。」</p>
<p>《素問》云：太陽根於至陰，結於命門；陽明根於厲兌，終於頏顙；少陽根於竅陰，結於窗籠；太陰根於隱白，結於太倉；少陰根於湧泉，結於廉泉；厥陰根於大敦，結於玉英，此謂三結四根。有足太陽根於復溜，溜於京骨，注於崑崙，入於天柱、飛揚也；足少陽根於竅陰，溜於丘墟，注於陽輔，入於光明、天容也；足陽明根於厲兌，溜於衝陽，注於下陵，入於人迎、豐隆也；手太陽根於少澤，溜於陽谷，注於少海，入於天窗、支正也；手少陽根於關衝，溜於陽池，注於支溝，入於天牖、外關也；手陽明根於商陽，溜於合谷，注於陽谿，入於天突、偏歷也；手太陰根於少商，溜於太淵，注於列缺，入於迎香；手少陰根於少衝，溜於神門，注於通里，入於極泉；手厥陰根於中衝，溜於太陵，注於內莖，入於天池、郄門也。按：《素問》此篇不載後一段。</p>
<p>「但用八法、五門，分主客而針無不效。」</p>
<p>用針八法者，迎隨一也，轉針二也，指法三也，針頭四也，虛實五也，陰陽六也，提按七也，呼吸八也。補虛瀉實，損益在此八法。</p>
<p>五門者，井、滎、輸、經、合也。春刺井，夏刺滎，秋刺經，冬刺合，四季月刺輸穴。五門一月一同一日，亦有五門同年辰例。客者，客邪也；主者，主氣也。知之者，刺之無有不效。</p>
<p>「八脈始終連八會，本是紀綱；十二經絡十二原，是為樞要。」</p>
<p>甲光明走乙肝，乙蠡溝走甲膽，丙腕骨走丁心，丁通里走丙小腸，戊豐隆走巳脾，巳公孫走戊胃，庚偏歷走辛肺，辛列缺走庚大腸，壬飛揚走癸腎，癸大鐘走壬膀胱，三焦與包絡相為表裡，此為十二原穴。八脈者，奇經也。有督脈、任脈、衝脈、帶脈、陰維、陽維、陰蹺、陽蹺，是為八脈也。八會者，腑會中脘，臟會章門，筋會陽陵泉，髓會陽輔，血會膈俞，骨會大杼，脈會太淵，氣會膻中，此八穴陰通八脈，相輔而用。一日刺六十六穴之法，方見幽微；一時取十二經之原，始知要妙。</p>
<p>一日刺六十六穴之法，用甲、丙、戊、庚、壬五穴，每時相配乙、丁、己、辛、癸。一時十穴，五六三十，兩手兩足相對，共計六十穴。一時平取十二經之原，亦可遍經而已矣。</p>
<p>「原夫補瀉之法，非呼吸而在手指；速效之功，要交正而識本經。」</p>
<p>《經》云：寧失其穴，勿失其經；寧失其時，勿失其氣。古人云：有八法：彈、捻、循、捫、攝、按、爪、切，用此如神，故不再執呼吸也。</p>
<p>「交經繆刺，左有病而右畔取；瀉絡遠針，頭有病而腳上針。」</p>
<p>手足大病，左因右侵凌，右因左攻擊。黃帝云：是動則病經氣，更取所生者，病血絡更然，故上下、前後、左右、腹背，交經平刺也。</p>
<p>「巨刺與繆刺各異，微針與妙刺相通。」</p>
<p>巨、微、妙，毫針之刺；繆，交平而刺；巨，隨氣色而針之，故不同也。</p>
<p>「觀部分而知經絡之虛實；視浮沉而辨臟腑之寒溫。」</p>
<p>此言三部九候，刺虛實、寒熱、表裡也，而後刺法行焉。</p>
<p>「且夫先令針耀，而慮針損；次藏口內，而欲針溫。」</p>
<p>古人云：口溫針暖，毋令針冷，與皮肉相合，故不損折也。</p>
<p>「目無外視，手如握虎，心無內慕，如待貴人。左手重而多按，欲令氣散；右手輕而徐入，不痛之因。」</p>
<p>手法之原，先要左手在穴重按有準，右手輕捻至分寸，自不痛也。</p>
<p>「空心恐怯，直立側而多暈；背目沉掐，坐臥平而沒昏。」</p>
<p>此明用針規矩法式也。</p>
<p>「推於十干、十變，知孔穴之開合；論其五行、五臟，察日時之旺衰。伏如橫弩，應若發機。陰交、陽別而定血暈，陰蹺、陽維而下胎衣。」</p>
<p>三陰之交與三陽別走陰蹺、陽維，皆治產難、下胎、血暈，此之謂也。</p>
<p>「痹厥偏枯，迎隨俾經絡接續；漏崩帶下，溫補使氣血依歸。」</p>
<p>風科有一痹，言風寒濕冷而為痹也。接續，刺包、焦諸穴。女人血下有四：崩者急下，漏者點滴下，滲者浸浸而下，帶者隨便溺而下。榮衛氣息安定，方可刺也。</p>
<p>「靜以久留，停針候之。」</p>
<p>用針刺產難、崩漏淹涎等病，皆可停針留法，罔不效也。</p>
<p>「必准者，取照海治喉中之閉塞；端的處，用大鐘治心內之呆癡。」</p>
<p>照海通陰蹺，足少陰經也，可刺喉閉。大鐘走足太陽，可刺失心之病。</p>
<p>「大抵疼痛實瀉，癢麻虛補。體重節痛而俞居，心下痞滿而井主。」</p>
<p>百病麻癢不仁、清冷者，虛也，可補之；疼痛者，實也，可瀉之。五門所主不同，井主心下滿悶；滎主氣熱恍惚；俞主體節疼痛；經主寒熱喘嗽；合主氣逆泄利也。</p>
<p>「心脹咽痛，針太衝而必除；脾痛胃疼，瀉公孫而立愈。胸滿腹痛刺內關，脅疼肋痛刺飛虎。筋攣骨痛而補魂門，體熱勞嗽而瀉魄戶。頭風頭痛刺申脈與金門，眼癢眼疼，瀉光明與地五。瀉陰郄止盜汗，治小兒骨蒸。刺偏歷利小便，醫大人水蠱。中風環跳而宜刺，虛損天樞而可補。」</p>
<p>此一節俞穴明注，不必重解。</p>
<p>「由是午前卯後，太陰生而疾溫；離左酉南，月朔死而速冷。」</p>
<p>子、醜、寅三時，陰中之少陽不足為用也。午前卯後，乃辰巳之時，陽中之老陽，可治萬病之虛寒。酉、戌、亥三時，陰中之老陰，不足生髮也。離左酉南，乃未申之時，陽中之少陰，可治萬病之煩躁者。溫其虛寒則針而補之，灸而呵之；冷其煩躁則針而瀉之，灸而吹之。以丈夫同室女、婦人，比童子治之。</p>
<p>「循捫彈努，留吸母以堅長。爪下伸提，疾呼子而噓短。」</p>
<p>此言八法，虛補其母，實瀉其子也。</p>
<p>「動退空歇，迎奪右而瀉涼；推內進搓，隨濟左而補暖。」</p>
<p>此明左右轉針補瀉，取手俯、手仰法也。</p>
<p>「慎之！大危疾患，色脈不順而莫針；寒熱風陰，飢飽醉勞而切忌。」</p>
<p>天有六氣，陰、陽、風、雨、晦、明；地有六邪，風、寒、暑、濕、溫、燥；人有六情，喜、怒、哀、樂、好、惡。共十八事，皆禁忌，不可針也。</p>
<p>「望不補而晦不瀉，弦不奪而朔不濟。」</p>
<p>望日魂魄皆滿，血氣堅盈，不可補也。晦日月空已盡，人氣已衰不可瀉也。朔日月會也，月之陰魄未成，日之陽魂始生，人氣亦然，故不可瀉也。上弦月始生，氣血始結，衛氣始行，不可奪也。下弦月始減，人氣血亦空，不可迎也。</p>
<p>古聖有云，針刺之法大禁，一月之內晦、朔、弦、望四日，謂之四忌。</p>
<p>「精其心而窮其法，無灸艾而壞其皮；正其理而求其原，免投針而失其位。」</p>
<p>「位」者，胃也。灸不當其穴，損傷榮血，肝也。刺不中其法，喪敗衛氣，胃也。</p>
<p>「避灸處而和四肢，四十有九；禁刺處而除六俞，一十有二。」</p>
<p>忌針之穴，見《針經》第四卷。</p>
<p>「抑又聞高皇抱疾未瘥，李氏刺巨闕而得蘇；太子暴死為厥，越人針維會而復醒。肩井、曲池，甄權刺臂痛而復射；懸鐘、環跳，華佗刺躄足而立行。秋夫針腰俞而鬼免沉疴，王纂針交俞而妖精立出。刺肝俞與命門，使瞽士視秋毫之末；取少陽與交別，俾聾夫聽夏蚋之聲。嗟夫！去聖愈遠，斯道漸墜，或不得意而散其學，或炫其能而犯禁忌。愚庸志淺，難契於元言，至道淵深，得之者有幾？偶述斯言，不敢示諸明達者焉，庶幾乎童蒙之心啟。」</p>

<h1>天星十一穴歌訣</h1>
<p>三里內庭穴，曲池合谷徹。</p>
<p>委中配承山，下至崑崙絕。</p>
<p>環跳與陽陵，通里與列缺。</p>
<p>合擔用法擔，合截用法截。</p>
<p>專心常記此，莫與閒人說。</p>
<p>三百六十穴，不如十一穴，</p>
<p>此法少人知，金鎖都門鐍。</p>
<p>將針治病人，有如湯沃雪。</p>
<p>非人莫傳與，休把天機泄。</p>

<h2>三里</h2>
<p>三里在膝下，三寸兩筋間，能除心腹脹，善治胃中寒，腸鳴並積聚，腫滿膝脛酸，勞傷形瘦損，氣蠱病諸般。人過三旬後，針灸眼能寬。取穴當舉足，得法不為難。</p>

<h2>內庭</h2>
<p>內庭足兩間，胃脈是陽明，針治四肢厥，喜靜惡聞聲，遍身風隱疹，伸欠及牙疼，瘧病不思食，針著便惺惺。</p>

<h2>曲池</h2>
<p>曲池曲肘里，曲著陷中求，善治肘中痛，偏風手不收，挽弓開未得，筋緩怎梳頭，喉閉促欲絕，發熱竟無休，遍身風隱疹，針灸必能瘳。</p>

<h2>合谷</h2>
<p>合谷名虎口，兩指岐骨間，頭痛並面腫，瘧疾病諸般，熱病汗不出，目視暗漫漫，齒齲鼻鼽衄，喉禁不能言，針著量深淺，令人便獲安。</p>

<h2>委中</h2>
<p>委中曲膕里，動脈偃中央，腰重不能舉，沉沉壓脊梁，風痹髀樞痛，病熱不能涼，兩膝難伸屈，針下必安康。</p>

<h2>承山</h2>
<p>承山名魚腹，腨下分肉間，可治腰背痛，久持大便難，腳氣膝下腫，戰慄腰疼酸，霍亂轉筋急，穴中刺必安。</p>

<h2>崑崙</h2>
<p>崑崙足外踝，後向足跟尋。腨腫腰尻痛，腳胯痛難禁，頭痛肩背急，氣喘上衝心，雙足難行履，動作即呻吟，要得求安樂，須將穴下針。</p>

<h2>環跳</h2>
<p>環跳在髀樞，側身下足舒，上足曲求得，針得主攣拘，冷風並濕痹，身體或偏枯，呆癡針與灸，用此沒疏虞。</p>

<h2>陽陵</h2>
<p>陽陵居膝下，一寸外廉中。膝腿難伸屈，拘攣似老翁，欲行行不得，冷痹及偏風，誠記微微刺，方知最有功。</p>

<h2>通里</h2>
<p>通里腕側後，度量一寸中，善呻並數欠，懊憹及心忪，實在四肢腫，喉間氣難通，虛則不有語，苦嘔痛連胸，肘膊連臑痛，頭腮面頰紅，針入三分妙，神功甚不窮。</p>

<h2>列缺</h2>
<p>列缺腕側上，手指頭交叉，主療偏風患，半身時木麻，手腕全無力，口噤不開牙，若能明補瀉，諸病恰如拿。</p>

<h1>人神尻神歌訣</h1>

<h2>九部人神歌訣</h2>
<p>一臍二心三到肘，四咽五口六在手，</p>
<p>七脊八膝九在足，輪流順數忌針灸。</p>
<figure>
<img alt="九部人神禁忌圖">
</figure>

<h2>九宮尻神歌訣</h2>
<p>針家若要辨尻神，一歲坤宮外踝輪，</p>
<p>二震還當牙共腨，三頭口乳巽宮陳，</p>
<p>四中肩尾並窮骨，五耳乾宮背面循，</p>
<p>六管兌宮當手膊，七為腰項艮之門，</p>
<p>八離膝肋毋輕視，九坎當臍肘腳存，</p>
<p>十歲依前零順走，明醫仔細與評論。</p>
<p>其法一歲起坤宮，二歲震宮，若一十歲仍在坤宮，二十歲震宮，三十歲巽宮，零年隨順，一歲一宮，順行矣。</p>
<figure>
<img alt="九部尻神禁忌圖">
</figure>

<h1>太乙日遊九宮血忌訣</h1>
<p>凡八節之日，各依其宮，起一日、二日，順數一十日，仍在本宮。二十日、三十日，零數一例，順至四十五日止。假如夏至日，一日在離宮，二日在坎，三日在坤，四日在震，五日在巽……至十日復至離宮。二十日在坎，三十日在坤，四十日在震，四十一日在巽，不宜針灸左肩也。余並同用此例。</p>

<h1>六十六穴治證</h1>
<p>（通支別，共九十四穴）</p>

<h2>辛手太陰肺經</h2>
<p>（凡五穴為井、滎、輸、經、合，後二穴為支別，共七穴）</p>
<p>少商　為井木。在大指端內側，去爪甲如韭葉大，與爪甲根齊，白肉際宛宛中。禁灸，宜刺血，針三分，向上三分。治咳嗽喘逆，咽喉壅閉，雙蛾，枯樓風。</p>
<p>魚際　為滎火。在大指本節後內散脈，屈指大維尖。針三分。治傷風咳嗽，頭疼目眩，咽乾嘔吐，少氣，掌心、大指發熱痛。</p>
<p>太淵　為輸土。在掌後橫紋頭陷中。治咳嗽、腹脹、心疼，嘔吐上氣，眼疾。</p>
<p>經渠　為經金。在寸口陷中，脈會處。禁灸，傷神。針向太淵穴。治熱病、喘逆，心痛，嘔吐。</p>
<p>尺澤　為合水。在肘中紋上動脈，臂屈伸橫紋筋骨罅中。禁灸。治五般腰疼，手臂風痹。肘疼筋急，咳嗽上氣，口乾痛，癲癇。</p>
<p>列缺　通任脈，別走陽明。針一分，向下。在腕側，以手交叉取食指盡處，兩筋骨罅中。治傷寒，發熱無汗，氣喘寒熱，諸嗽有痰，心滿腹脹，食噎，遊走氣，七癥八瘕，腸風，臟毒，小便五淋，半身不遂，腕勞臂痛，痎瘧，婦人血氣不和，胎衣不下，小兒脫肛。</p>
<p>孔最　抵手陽明，在腕上一寸宛宛中。治太陰熱病無汗，肘臂屈伸難。</p>

<h2>庚手陽明大腸經</h2>
<p>（正六穴，其支二穴，共計八穴）</p>
<p>商陽　為井金。在大指次指內側，去爪甲如韭葉。針一分，向上三分。治喘急氣上，牙痛，耳聾，目赤腫。</p>
<p>二間　為滎水。在大指次指第二節後，內側陷中。針入一分，向後三分。治肩背強痛以驚，喉痹，鼻衄，牙痛。</p>
<p>三間　為輸木。在大指次指第三節後內側，捻拳橫紋頭中。針一分，沿皮向後透合谷穴。治胸滿，腸鳴泄瀉，喉痹咽乾，氣喘唇焦，牙痛齒齲。孕婦勿用。</p>
<p>合谷　為原。在大指次指虎口岐骨間動脈中。治頭面耳目鼻頰口齒諸疾，傷寒發熱無汗，小兒疳氣，眼疾。</p>
<p>陽谿　為經火。在腕中上側，兩筋間陷中。直刺下。治熱病心煩，頭風目痛，癲癇喜笑。如神。</p>
<p>曲池　為合土。在肘外輔骨，屈伸、曲手橫紋頭，以手拱胸取之。治中風半身不遂，遍身風痛，瘡疥，兩手拘攣紅腫，傷寒發熱，過經不除。</p>
<p>偏歷　手陽明絡，別走太陰。在腕後三寸。治瘧寒熱無汗，目昏耳鳴，口喎，手痛，喉痹，鼽衄，水蠱，小便不利。</p>
<p>肩髃　兩手關係肩頭膊骨正中，兩骨間，舉臂取之。治中風半身不遂，手臂攣急，筋骨痠痛，風熱隱疹。</p>

<h2>丁手少陰心之經</h2>
<p>（正五穴，其支二穴，共計七穴）少衝　為井木。在手小指內側，去爪甲如韭葉。治五癇，心痛，熱病，胸滿氣急，手攣臂痛，掌熱。虛悲驚；實喜笑。</p>
<p>少府　為滎火。在小指本節，直勞宮中。治虛悲憂少氣，心痛；實癲癇，譫語，臂痛，背疽初發。</p>
<p>神門　為俞土。在掌後兌骨端。治瘧惡寒發熱，咽乾身熱，狂言，胸滿腹痛，減食，心驚，少氣喘嗽，唾紅吐血，遺尿，手臂難舉，五癇之疾。</p>
<p>靈道　為經金。在掌後一寸。治心疼悲恐，暴喑難言。</p>
<p>少海　為合水。在肘內廉節後大骨外，去肘端五分，橫紋動脈中，屈肘向頭取之。忌灸。治頭疼，項急，胸滿，心煩及肩膊手臂麻木難舉。</p>
<p>陰郄　在掌後去腕五分，動脈中。治胸滿心痛，氣逆，失音難言，衄血，灑淅惡寒，霍亂，驚恐，盜汗，小兒骨蒸。</p>
<p>通里　別走太陽，在腕上後一寸。治心驚怔忡，煩悶，腹脹減食，頭面赤，四肢不遂，痠痛，氣不和。</p>

<h2>丙手太陽小腸經</h2>
<p>（正六穴，其支二穴，共計八穴）</p>
<p>少澤　為井金。在小指端，去爪甲下一分。治項急，咳嗽、喉痹、舌瘡，目赤，婦人無乳並乳癰。</p>
<p>前谷　為滎水。在手小指外側，本節前陷中。治傷風，發熱無汗，項急背強，頜腫，咽乾口渴，目赤，五指熱痛。</p>
<p>後谿　為輸木，通督脈。在手小指外側，本節後，外腕起骨前，拳尖上，治傷寒頭痛，身浮腫，中風身體不遂，腰腳沉重，項急膊痛，臂攣筋急，瘧疾寒熱，胸滿腹脹，盜汗難臥，耳聾目痛，喉痹，五癇，五淋。</p>
<p>腕骨　為原。在手外側，腕前起骨下陷中。治熱病無汗，偏枯臂痛，失飢傷飽，渾身黃腫，飲食無味，目翳冷淚。</p>
<p>陽谷　為經火。在外側腕中，兌骨下陷中。治熱病過時無汗，顛狂亂語，耳聾，齒痛，目眩紅腫，內障。</p>
<p>少海　為合土。在肘內大骨外，去肘端五分陷中，屈肘向頭取。治頭痛項急，四肢無力，手臂外廉腫痛，小腸氣，婦人經脈不行。</p>
<p>養老　抵少陰絡，在踝骨上一寸，沿皮向下至陽谷。治肩背強急，眼痛。</p>
<p>支正　別走太陽，在腕後五寸，去養老穴四寸。治五勞七傷，四肢虛乏，驚恐，肘攣指痛。</p>

<h2>乙手厥陰心包絡經</h2>
<p>（正五穴，其支二穴，共計七穴）</p>
<p>中衝　為井木。在中指端，去爪甲如韭葉陷中。無病不用，用則令人悶。治熱病無汗，九種心痛，煩悶，中風舌強，頭疼掌熱。</p>
<p>勞宮　為滎火。在掌中橫紋動脈中，屈無名指是穴。勿多用。治中風身體不遂，癲癇狂笑，心痛，氣喘，口臭。</p>
<p>大陵　為輸土。在掌後兩筋間陷中。治心膈痛，喜笑悲哀，頭痛目赤，小便不利。</p>
<p>間使　為經金。在掌後三寸，兩筋間陷中。治癲發狂，瘧生寒熱，心疼驚悸，嘔逆胸滿，咽痛、臂疼。</p>
<p>曲澤　為合水。在肘內廉陷中，屈肘取之。治心痛嘔血，胸滿口乾，肘臂筋攣。</p>
<p>郄門　手厥陰郄。去腕五寸。治神氣不足，驚恐畏人，心痛嘔血，鼻衄。</p>
<p>內關　通陰維，別走少陽，在掌後去腕二寸，兩筋中，仰手取之。治傷寒發熱，胸滿腹脹，心痛，腸鳴冷痛，脾黃，癖塊，瀉利，食積，咳嗽哮喘，腸風痔漏，五淋。</p>

<h2>甲手少陽三焦經</h2>
<p>（正六穴，其支二穴，共計八穴）</p>
<p>關衝　為井金。在小指次指端，去爪甲角如韭葉。治頭痛、喉痹，目痛，臂急肘疼。</p>
<p>液門　為滎水。在小指次指間陷中，握拳取。治五癇，驚悸，頭痛目赤，齒出血，手臂腫痛。</p>
<p>中渚　為輸木。在小指次指本節後間陷中。治脊間心後疼，頭痛，耳聾，目赤，喉痹，肘臂攣急，五指難伸及小兒目澀羞明。</p>
<p>陽池　為原。在手表腕上陷中。治瘧疾寒熱，心痛，胸滿，臂疼，身沉步難，腕勞。</p>
<p>支溝　為經火。在腕後三寸，兩骨間陷中。治傷寒無汗，胸滿，肩背脅肋疼痛，口噤，暴啞，霍亂吐瀉。</p>
<p>天井　為合土。在肘後大骨一寸，兩筋骨間，叉手按膝上取。治五噎十膈，翻胃吐食，風痹筋攣骨痛，咳嗽上氣，心疼驚悸，小腹脹疼及羊癇。</p>
<p>外關　通陽維，少陽絡。在腕後二寸，前踝骨尖後，兩筋中，覆手取。治傷寒，自汗盜汗，發熱惡風，百節痠疼，胸滿，拘急，中風半身不遂，腰腳拘攣，手足頑麻冷痛，偏正頭風，眼中冷痛冷淚，鼻衄，耳聾，眼風。</p>
<p>會宗　通支溝，三陽絡，在腕後三寸空中。治風癇，肌膚痛，耳聾。</p>

<h2>乙足厥陰肝之經</h2>
<p>（正五穴，其支二穴，共計七穴）</p>
<p>大敦　為井木，在足大趾端，去爪甲如韭葉，及三毛中。治七疝，陰肝心痛，腹脹，臍下急，中熱，屍厥，血崩。</p>
<p>行間　為滎火。在足大趾間動脈中。治水蠱、脹滿，心疼咳逆，吐血咽乾，寒疝，溺難，腰痛，腳氣紅腫。</p>
<p>太衝　為輸土。在足大趾本節後二寸骨罅間，動脈中，系太衝脈。治腹中諸疾，胸脅支滿，面黃肌瘦，腰脊跗腫，足膝冷痛，大便閉澀，卒疝，噁心，發熱發寒，遺精，五淋，婦人月水不通，漏下，賁中疼，陰挺出，馬刀腋腫。</p>
<p>中封　為經金。在踝內前一寸。斜行小脈上，伸足仰趾取。治瘧寒熱，腹痛寒疝，足痛步難，草鞋風。</p>
<p>曲泉　為合水。在膝內輔骨下兩筋間，屈膝橫紋頭中。治中風、腰腳冷痛，腹痛，泄利膿血，婦人血瘕。</p>
<p>蠡溝　別走少陽，在內踝五寸。治項急，腹痛，足寒腿痠，卒疝，小便不利，腎臟風癢，婦人月水不調，赤白帶下，臍下積疼。</p>
<p>中都　在內踝上七寸，䯒骨中，與少陰相直。治腸癖，遺疝，小腹疼，足寒脛寒，行難，婦人血崩，惡露不止。</p>

<h2>甲足少陽膽之經</h2>
<p>（正六穴，支別四穴，共計十穴）</p>
<p>竅陰　為井金。在小趾次趾岐骨間，本節前陷中。治頭昏項疼，脅痛，目赤耳聾。</p>
<p>俠谿</p>
<p>臨泣　為輸木，通帶脈。在小趾次趾本節後間陷中，去俠谿寸半，垂足取。治癲癇，中風身足不遂，腰腿難辛，寒濕腳氣，手足頑麻，偏正頭風，面癢，目赤眵淚，耳聾，喉痹牙痛，失飢傷飽，四肢浮腫，面黃肌瘦，氣血不和，傷寒解利後多汗。</p>
<p>丘墟　為原。在外踝下如前陷中，去臨泣三寸。治頭項強，胸滿腹脹，上氣喘促，霍亂轉筋，卒疝，瘧寒熱，腋腫，腰胯腿膝腳寒濕，痠疼紅腫，草鞋風，目生翳。</p>
<p>陽輔　為經火。在外踝上四寸，輔骨前，絕骨端，如前三分，去丘墟七寸。治胃弱減食，腸鳴腹脹，筋攣骨痛，足腫。</p>
<p>陽陵泉　為合土。在膝下一寸外廉，䯒骨下，微側陷中。治筋病，中風半身不遂，腰腿膝腳諸病，喉痹，風痰，便毒。</p>
<p>絕骨　在足外踝上三寸動脈中。治傷寒大熱無汗，心疼腹脹，中焦寒熱，減食吐水，腰胯急痛寒濕，遍身瘡疥，腳氣。光明　走厥陰。在外踝五寸。治熱病無汗，中風身體不遂，與陽輔治同。虛則腿腳痿痹，䯒酸，眼癢；實則䯒熱膝痛。</p>
<p>陽交　在外踝上七寸，斜屬三陽分，內同。治寒厥驚狂，胸滿，面腫喉痹，膝䯒麻痹，寒熱不仁。</p>
<p>環跳　在髀樞中，丸子骨下。兩腿間系，側臥，伸下足，屈上足取。治中風，身體不遂，血凝氣滯，渾身、腰腿風寒濕痹，生瘡腫癩。</p>

<h2>巳足太陰脾之經</h2>
<p>（正穴五，支穴二，共計七穴）</p>
<p>隱白　為井木。在大趾端內側，去爪甲如韭葉。治腹脹，喘吐血衄，腸滑，食不化，月經不止，血崩。</p>
<p>大都　為滎火。在大趾本節內側白肉際。治熱病遺熱不解，足心發熱，脾胃不和，胸膈痞悶，腹痛吐逆。</p>
<p>太白　為輸土。在大趾內側，核骨下陷中。治熱病無汗，脾胃虛弱，腹腸鳴，嘔吐，瀉泄，霍亂，不思飲食，身熱，腿疼，手足冷，腰尻痛，大便難。</p>
<p>商丘　為經金。在內踝下微前陷中。治身體拘急，腿腳內廉疼，腹脹腸鳴，身寒氣逆，絕子。</p>
<p>陰陵泉　為合水。在膝下內側輔骨下陷中，屈膝伸足取。治霍亂，腹脹喘逆，七疝八瘕，腰落，小便不利。</p>
<p>公孫　通衝脈，別走陽明，在大趾本節後，去太白一寸。治婦人諸疾，產後血暈，胎衣不下，五癲，胸膈不利，脅肋膨脹，痃癖積塊，腸鳴瀉泄，裡急後重，酒疸食黃，翻胃痰涎，腸風，七疝，脫肛。</p>
<p>三陰交　通三陰聚會處，在內踝上三寸，骨下陷中。孕婦勿用。治身重足痿，膝內廉疼，七疝，小腸氣，便毒，小便不利，五淋。</p>

<h2>戊足陽明胃之經</h2>
<p>（正六穴，其支一穴，共計七穴）</p>
<p>厲兌　為井金。在大趾次趾端，去爪甲如韭葉。治熱病無汗如瘧，屍厥、口噤，腹脹，多睡，面腫，喉痹牙疼。</p>
<p>內庭　為滎水。在大趾次趾外陷中。治腹脹久瘧，四肢厥逆，牙疼，腿膝足跗紅腫。</p>
<p>陷谷　為輸木。在大趾次趾外間本節後陷中，去內庭二寸。治久瘧無汗，面腫，腹脹腸鳴，腿膝腫痛。</p>
<p>衝陽　為原。在足跗骨上，去陷谷三寸動脈。治偏風，口眼喎斜，寒熱如瘧，牙疼。</p>
<p>解谿　為經火。在衝陽後一寸半，腕口系鞋處。治喘嗽上氣，腹中積氣遊走，頭昏目翳，眉稜疼。</p>
<p>三里　為合土。在膝下三寸，䯒骨外廉兩筋間，以大指次指圈其膝蓋，中指盡處是穴，舉足取。治男女百病，五勞七傷，脾胃諸氣、諸疾，諸蠱，諸眼疾，喉痹，風寒諸疼痛。</p>
<p>豐隆　別走太陽，外踝上八寸下廉，䯒外廉陷中。治身體倦怠，腿膝痠痛，四肢不收，心腹氣痛，大小便難，寒喘嗽急，喉痹氣逆。</p>

<h2>癸足少陰腎之經</h2>
<p>（正五穴，其支三穴，共計八穴）湧泉　為井木。在足心近大趾大筋白肉際，屈足卷趾取。治男子如蠱，女子如狂，身熱頭痛，氣喘足寒，大便閉結。</p>
<p>然谷　為滎火。在內踝前起，直下一寸，大骨下陷中。勿見血。治寒濕腳氣，瘡疥癬痛，小兒臍風口噤。</p>
<p>太谿　為輸土。在內踝後，跟骨下，動脈陷中。治瘧寒熱，咳逆心煩，鼻衄吐血，牙疼，脛寒，小便黃赤。</p>
<p>復溜　為經金。在內踝上二寸，動脈陷中。治渾身疼，盜汗，腰痛引脊，腹脹腸鳴，四肢浮腫，脛寒足痿，小便雜色。</p>
<p>陰谷　為合水。在膝內輔骨後，大筋下，小筋上，屈膝按之，應手取。治傷寒小便不通，腹疼，漏下赤白，小便黃赤。</p>
<p>水泉　在內踝下，太谿下一寸。治月事不來，來即心悶，陰挺出，小便淋，腹痛，目昏。</p>
<p>照海，通陰蹺，在內踝四分，赤白肉際。治傷寒發熱，咽喉腫痛，頭風胸滿，腹脹噁心，翻胃吐食，酒積食癖，血瘕氣塊，腸風漏血，大便閉結，小腸疝氣，遺尿，女人產後血暈，經水不調。</p>
<p>大鐘　走太陽，在足跟沖中，當踝後，繞跟取。治胸腹喘逆少氣，驚恐，口燥咽乾，咳吐，喉中嗚，食噎煩悶，嘔，腰疼，大便秘，嗜臥，口中熱，小便不利。</p>

<h2>壬足太陽膀胱經</h2>
<p>（正六穴，支穴有四，凡十穴）</p>
<p>至陰　為井金。在小趾外側，去爪甲角如韭葉。治頭風，目昏暈，鼻衄，腹脹減食，胸滿，小便難。</p>
<p>通谷　為滎水。在小趾外側，本節前陷中。治頭疼目赤，鼻衄，腹脹減食。</p>
<p>束骨　為輸木。在小趾外側，本節後陷中。治頭痛項急，目昏爛眩，小兒諸癇。</p>
<p>京骨　為原。在外側大骨下，赤白肉際中，按之得。治頭項腰胯筋攣骨痿諸疾，目病，鼻疾。</p>
<p>崑崙　為經火。在外踝後腿骨上，大筋後五分，細脈應手。治腰尻膝足，風寒濕痹，腫痛，暴喘上氣，諸癇，便毒。</p>
<p>委中，為合土。在膕中央，踿內筋骨約紋中動脈。治身重腰痛，膝勞髀疼，四肢無力，失尿。</p>
<p>申脈，通陽蹺。在外踝下容爪甲，白肉際。治一身，四肢拘攣痛腫，麻痹疼痛，歷節風，頭風，眉稜疼痛，目赤，鼻衄，耳聾。女人吹乳。</p>
<p>跗陽　在外踝上三寸，陽蹺郄，太陽後，少陽前，筋骨間。治腰腿胯脛急，痠痛，四肢不舉。</p>
<p>承山　在兌端腨腸腿肚下，分肉間，離足跟上八寸。治腰脊腿足拘攣，寒濕腳膝腫痛，大便難，痔瘡、腸風，臟毒，便癰，霍亂，轉筋。</p>
<p>飛揚　別走少陰。在踝上九寸。治諸癲，頭目昏沉，頸項強痛，腰腿手足歷節風，鼻鼽衄血，瘧寒熱，痔瘡。</p>

<h1>流注序</h1>
<p>天有十干，地支十二。以干加支，常遺其二。二一合化，五運六氣，是以甲、乙、丙、丁、戊、己、庚、辛，一而不重壬癸，壬癸乃重其位。陰陽不質，五行質氣，氣質既形，胎生墓死，所以甲猶草木，原因壬癸。氣行於天，質具於地。質氣之分陰質、陽氣，故陽主變化，陰主專靜，而莫自制。是以陽府示原，陰藏隱秘。然夫自子至巳，六陽化合；自午至亥，六陰變化。惟壬得一，癸二從之，為陰陽動靜之樞紐，氣數欲兆之時。故氣運一周，一會於壬癸，交接揮持，莫為其紀，故子午流注真訣，甲始於戌而壬亥為終，壬子、癸丑為終始之地。一順一逆，一縱一橫，一起一止，一變一互，一合一化，一君一臣，一佐一使，一生一克，一母一子，一夫一婦，交神合氣，變化無窮。所以一歲總六十穴，月、日、時，刻，一刻備六十穴，歲明，月、日如之，其何以然哉！日、月，三十日則一會於壬，河圖一穴居北而括萬極，此皇極先天之數所由起，五行五氣，所由化合，子午流注針法之心要也，神之變化淵乎哉！</p>

<h2>詩曰</h2>
<p>甲膽乙肝丙小腸，丁心戊胃己脾鄉，</p>
<p>庚是大腸辛是肺，壬屬膀胱癸腎詳。</p>

<h2>地支十二屬</h2>
<p>十二經行十二時，子原是膽醜肝之，</p>
<p>肺居寅位大腸卯，辰胃流傳巳在脾，</p>
<p>午字便隨心臟定，未支須向小腸宜，</p>
<p>申膀酉腎戌包絡，惟有三焦亥上推。</p>

<h2>陰陽經絡所屬</h2>
<p>手之三陰：肺，太陰；心，少陰；心包，厥陰。</p>
<p>足之三陰：脾，太陰；腎，少陰；肝，厥陰。</p>
<p>手之三陽：小腸，太陽；三焦，少陽；大腸，陽明。</p>
<p>足之三陽：膀胱，太陽；膽，少陽；胃，陽明。</p>

<h2>直年司天歌</h2>
<p>子午少陰居，心腎共相宜，卯酉陽明胃，大腸當共知，寅申少陽膽，三焦自有期，巳亥厥陰肝，心包脈細微，辰戌行太陽，膀胱及小腸，丑未太陰土，脾肺是其鄉。</p>

<h1>時日配合穴法圖</h1>

<h2>司天訣</h2>
<figure>
<img alt="司天訣圖">
</figure>

<h2>手指訣</h2>
<figure>
<img alt="手指訣圖">
</figure>

<h2>十二經原穴</h2>
<p>手陽明大腸，合谷庚；手少陰心，通里丁；手太陰肺，列缺辛；手太陽小腸，腕骨丙；手厥陰心包，內關己；足厥陰肝，中都乙；手少陽三焦，陽池戊；足少陽膽，丘墟甲；足太陰脾，公孫己；足太陽膀胱，京骨壬；足陽明胃，衝陽戊；足少陰腎，水泉癸。</p>

<h2>夫婦配合原穴</h2>
<p>大腸金　合谷庚　合　肝　木　中都乙</p>
<p>心　火　通里丁　合　膀胱水　京骨壬</p>
<p>心　包　內關己　合　三　焦　陽池戊</p>
<p>小腸火　腕骨丙　合　肺　金　列缺辛</p>
<p>膽　木　丘墟甲　合　脾　土　公孫己</p>
<p>胃　土　衝陽戊　合　腎　水　水泉癸</p>

<h2>六脈次第</h2>
<p>手太陰肺醜，手陽明大腸卯，</p>
<p>手厥陰心主亥，手少陽三焦申，</p>
<p>手少陰心午，手太陽小腸戌，</p>
<p>足厥陰肝巳，足少陽膽寅，</p>
<p>足太陰脾未，足陽明胃酉，</p>
<p>足太陽膀胱辰，足少陰腎子。</p>
<figure>
<img alt="六脈次第圖一">
</figure>
<figure>
<img alt="六脈次第圖二">
</figure>
<p>另有壬子、癸丑二日在外不同，此二日，計二十四日圖，逐日配合刺，切要。</p>
<p>陽日陽時針陰穴，陰日陰時針陽穴；陽日陰時針陽穴，陰日陽時針陰穴。</p>
<p>針有劫病之功，其言信矣。移疼住痛，在乎捻指。經云：醫療有方，針灸有法。得師逕路，補瀉分明，疾無不愈也。</p>

<h1>磐石金直刺秘傳</h1>
<p>中風半身不遂，左癱右瘓，先於無病手足針，宜補不宜瀉；次針其有病足手，宜瀉不宜補：合谷一　手三里二　曲池三　肩井四　環跳五　血海六　陽陵泉七　陰陵泉八　足三里九　絕骨十　崑崙十一</p>
<p>風毒癮疹，遍身搔癢，抓破成瘡：曲池（灸，針瀉）絕骨（灸，針瀉）委中（出血）</p>
<p>天吊風，手足拽牽：曲池　足三里（並瀉）肺風滿面赤瘡暴生者：少商　委中（瀉）。其瘡年深者，合谷瀉。</p>
<p>中風後頭痛如破：百會（炙，次用三稜針四旁刺之血出）合谷（瀉）</p>
<p>傷寒有陰有陽，用意參詳，不問陰陽，七日過經不汗：合谷（補）　復溜（瀉，汗出立愈，此穴解表發汗神妙）</p>
<p>傷寒一、二日，發熱如火：曲池（瀉）委中</p>
<p>傷寒一、二日，頭目、腰背，面節疼痛不可轉側，氣喘，睡臥不安，虛汗不止，上體熱，下體寒戰：曲池（瀉）復溜（補）　委中（刺不愈）　合谷（瀉）</p>
<p>傷寒戰汗不已：曲池（補）　關元（灸，針補）</p>
<p>傷寒咳嗽寒痰：少商　列缺（瀉）</p>
<p>傷寒結胸，氣攻脅肋，同治：支溝（瀉）</p>
<p>傷寒小便不通：支溝（瀉）；水通：陰谷（瀉）</p>
<p>頭風偏痛，不可忍，半邊口燥熱：合谷（瀉）　解谿（左疼取右，右疼取左）</p>
<p>口風頭暈面赤，不欲人言：攢竹（瀉）　三里（瀉）。未愈瀉合谷、風池。</p>
<p>頭風如破，眉目間痛：陽白　解谿　合谷（並瀉）</p>
<p>眼目暴赤腫痛，眼巢紅：太陽（出血）　大小骨空（灸）</p>
<p>青盲，雀目，視物不明：丘墟（灸，針瀉）　足三里　委中（出血）</p>
<p>耳聾氣閉，腎家虛敗，邪氣攻上：腎俞（灸）　聽會（瀉）</p>
<p>鼻中生瘡：少商（出血）</p>
<p>鼻酸多嚏，流清涕：囟會　風門（灸）</p>
<p>上牙生瘡：人中（瀉）</p>
<p>下牙生瘡：承漿（瀉）</p>
<p>口舌生瘡：委中（瀉）</p>
<p>雙乳蛾：少商　委中</p>
<p>纏喉風：少商（灸）</p>
<p>喉閉：少澤　中衝　委中</p>
<p>急喉閉，舌根強痛，言語不能：少商　三里　合谷（瀉）</p>
<p>挫枕項強，不能回顧：少商　承漿　後谿　委中</p>
<p>寒氣攻注心脾疼，發時口吐清水，飲食不進：中脘（灸）　大陵</p>
<p>一切遊走氣攻胸脅疼痛，語言、咳嗽難，不可轉側：支溝（右疼瀉左，左疼瀉右）　委中（出血）</p>
<p>脾濕氣傷，不思飲食：公孫（補）</p>
<p>腰背雜證：人中　委中</p>
<p>腎虛腰疼：腎俞（灸）　委中</p>
<p>氣攻腰背脊疼：肩井　委中</p>
<p>腰胯疼痛，轉側難，痛則補曲池、瀉環跳；麻木則瀉曲池、補環跳。</p>
<p>腰膂反折強，疼連兩臂或風勞氣：人中　肩井</p>
<p>風濕相搏，脊膂連腰強痛，痛則灸筋縮，麻木補肩井。</p>
<p>五種腰疼：尺澤</p>
<p>乳疽：委中（瀉）</p>
<p>手臂膊痛紅腫：合谷</p>
<p>小便不通：支溝（瀉）</p>
<p>手臂攣不能握物：合谷（痛瀉之，麻補之）</p>
<p>腿行步難：髖骨（痛瀉之，拘攣補之）</p>
<p>腰股癱瘓痛，內痛針血海，外疼針風市。</p>
<p>腳步難行：曲池　承山，痛則針太衝。</p>
<p>腳背紅腫，疼入風：委中</p>
<p>屍厥：中極（補）　關元（灸）</p>
<p>水蠱四肢浮腫：支溝（瀉）　水分　關元</p>
<p>疝氣：足三里　關元（灸）　中極（灸）　三陰交　大敦</p>
<p>五種瘧疾：間使（寒補熱瀉），未愈者百勞。</p>
<p>黃疸四肢無力：中脘（灸）　三里（瀉）</p>
<p>渾身發黃：至陽（灸）　委中（出血）</p>
<p>婦人經血不通：三陰交（瀉）</p>
<p>婦人血氣痛：合谷（補）　三陰交（瀉）</p>

<h1>針灸歌</h1>
<p>中風癱瘓經年月，曲鬢七處艾且熱。</p>
<p>耳聾氣閉聽會中，百會脫肛並瀉血。</p>
<p>承漿暴啞口喎斜，耳下頰車並口脫。</p>
<p>偏正頭疼及目眩，囟會神庭最親切。</p>
<p>風勞氣嗽久未痊，第一椎下灸兩邊。</p>
<p>肺疼喘滿難偃仰，華蓋中府能安然。</p>
<p>喉閉失音並吐血，細尋天突宜無偏。</p>
<p>瘰癧當求缺盆內，紫宮吐血真秘傳。</p>
<p>霍亂吐瀉精神脫，艾灸中脘人當活。</p>
<p>食積臍旁取章門，氣癖食關中脘穴。</p>
<p>臍上一寸名水分，腹脹更宜施手訣。</p>
<p>關元氣海臍心下，虛憊崩中真妙絕。</p>
<p>嘔吐當先求膈俞，脅痛肝俞目翳除。</p>
<p>肩如反弓臂如折，曲池養老並肩髃。</p>
<p>泄瀉注下取臍內，意舍消渴誠非虛。</p>
<p>氣刺兩乳中庭內，巨闕幽門更為最。</p>
<p>忽然下部發奔豚，穴號五樞宜灼艾。</p>
<p>肺俞魄戶療肺痿，瘧灸脾俞寒熱退。</p>
<p>膏肓二穴不易求，虛憊失精並上氣。</p>
<p>五痔只好灸長強，腸風痔疾尤為良。</p>
<p>腸痛圍臍四畔灸，相去寸半當酌量。</p>
<p>赤白帶下小腸俞，咳逆期門中指長。</p>
<p>大敦二穴足大趾，血崩血衄宜細詳。</p>
<p>項強天井及天柱，鼻塞上星真可取。</p>
<p>人門挺露號產㿉，陰蹺臍心二穴主。</p>
<p>婦人血氣痛難禁，四滿灸之效可許。</p>
<p>臍下二寸名石門，針灸令人絕子女。</p>
<p>肩髃相對主痿留，壯數灸之宜推求。</p>
<p>腹連殗殜骨蒸患，四花一灸可無憂。</p>
<p>環跳取時需側臥，冷痹筋攣足不收。</p>
<p>轉筋速灸承山上，太衝寒疝即時瘳。</p>
<p>腳氣三里及風市，腰痛崑崙曲踿里。</p>
<p>復溜偏治五淋病，湧泉無孕須懷子。</p>
<p>陰中濕癢陰蹺間，便疝大敦足大趾。</p>
<p>癲邪之病及五癇，手足四處艾俱起。</p>
<p>風拄地痛足䯒疼，京歷胕陽與僕參。</p>
<p>心如錐刺太谿上，睛痛宜去灸拳尖。</p>
<p>歷節痛風兩處灸，飛揚絕骨可安痊。</p>
<p>脾虛腹脹身浮腫，大都三里艾宜燃。</p>
<p>赤白痢下中膂取，背脊三焦最宜主。</p>
<p>臂痛手疼手三里，腕骨肘髎與中渚。</p>
<p>巨骨更取穴噫嘻，肩背痛兼灸天柱。</p>
<p>腰俞一穴最為奇，艾灸中間腰痛愈。</p>
<p>醉飽俱傷面目黃，但灸飛揚及庫房。</p>
<p>額角偏頭痛灌注，頭風眼淚視䀮䀮。</p>
<p>傷寒熱病身無汗，細詳孔最患無妨。</p>
<p>寒氣繞臍心痛急，天樞二穴夾臍旁。</p>
<p>女人經候不勻調，中極氣海與中髎。</p>
<p>月閉乳癰臨泣妙，瘕聚膀胱即莫拋。</p>
<p>乳汁少時膻中穴，夜間遺尿覓陰包。</p>
<p>足疼足弱步難履，委中更有三陰交。</p>
<p>心悸怔忡多健忘，頂心百會保安康。</p>
<p>兩丸牽痛陰痿縮，四滿中封要忖量。</p>
<p>四直臍心灸便瀝，胞轉蔥吹溺出良。</p>
<p>忽然夢魘歸泉速，𧿹趾毛中最可詳。</p>
<p>腦熱腦寒並腦溜，囟會穴中宜著灸。</p>
<p>鼻中息肉氣難通，灸取上星辨香臭。</p>
<p>天突結喉兩旁間，能愈痰涎並咳嗽。</p>
<p>忽然間發身旋倒，九椎筋縮無差瘳。</p>
<p>癰疽雜病能為先，蒜艾當頭急用捻。</p>
<p>犬咬蛇傷灸痕跡，牙痛叉手及肩尖。</p>
<p>噎塞乳根一寸穴，四椎骨下正無偏。</p>
<p>大便失血陽虛脫，臍心對脊效天然。</p>

<h2>又歌曰</h2>
<p>心疼巨闕穴中求，肩井曲池軀背痛。</p>
<p>眼胸肝俞及命門，足躄懸鐘環跳中。</p>
<p>陰蹺陽維治胎停，照海能於喉閉用。</p>
<p>大鐘一穴療心癡，太衝腹痛須勤誦。</p>
<p>脾胃疼痛瀉公孫，胸腹痛滿內關分。</p>
<p>勞嗽應須瀉魄戶，筋攣骨痛銷魂門。</p>
<p>眼痛睛明及魚尾，陰郄盜汗卻堪聞。</p>
<p>若也中風在環跳，小兒骨蒸偏歷尊。</p>
<p>行步艱難太衝取，虛損天樞實為主。</p>
<p>要知脊痛治人中，癡呆只向神門許。</p>
<p>風傷項急風府尋，頭眩風池吾語汝。</p>
<p>耳閉聽會眼合谷，承漿偏療項難舉。</p>
<p>胸結身黃在湧泉，眼昏目赤攢竹穿。</p>
<p>兩肘拘攣曲池取，轉筋卻先承山先。</p>
<p>宣導氣衝與太白，開通水道陰陵邊。</p>
<p>腳腕痛時崑崙取，股膝疼痛陰市便。</p>
<p>癲癇後谿瘧間使，心痛勞宮實堪治。</p>
<p>胸滿脅脹取期門，大敦七疝兼偏墜。</p>
<p>怯黃偏在腕骨中，五勞羸瘦求三里。</p>
<p>膝腫目疾行間求，肘痛筋攣尺澤試。</p>
<p>若也鼻塞取迎香，兩股痠痛肩井良。</p>
<p>偏頭風痛瀉攢竹，咳唾寒痰列缺強。</p>
<p>迎風冷淚在臨泣，委中腎俞治腰行。</p>
<p>三陰交中死胎下，心胸如病大陵將。</p>
<p>肩背患時手三里，兩足冷痹腎俞擬。</p>
<p>脅下筋邊取陽陵，脊心如痛針中渚。</p>
<p>頭強項硬刺後谿，欲知秘訣誰堪侶？</p>
<p>此法傳從竇太師，後人行知踏規矩。</p>

<h1>灸法雜抄切要</h1>
<p>食多而身瘦者，名食晦，宜灸脾俞。</p>
<p>食罷而貪睡臥者，名脾困，宜灸中脘。</p>
<p>腦虛冷衄，風入腦久遠成疾，宜灸囟會。</p>
<p>飲食不消，心腹脹，面色萎黃，世謂之脾腎病，宜灸中脘。</p>
<p>久冷傷憊臟腑，瀉利不止，中風不省人事等疾，宜灸神門。</p>
<p>臟氣虛憊，真氣不足，一切氣疾久痞老者，宜灸氣海。</p>
<p>臟腑虛乏，下元冷憊等疾，宜灸丹田。</p>
<p>陽氣虛憊，失精絕子，宜灸中極。</p>
<p>十二經脈皆有俞、原，手足陰陽之交會，氣血之流通，外營筋節，內連臟腑。經云：手三陽之脈，從手至頭；手三陰之脈，從胸至手；足三陽之脈，從頭至足；足三陰之脈，從足至胸，日夜循環，陰陽會合。又曰：春夏刺淺，秋冬刺深。緣春、夏陽氣在上，人氣亦在上，所當淺刺之；秋、冬陽在下，人氣亦在下，所當深取之。</p>
<p>所謂井、滎、輸、原、經、合者，凡孔穴流注，所出為井，所流為滎，所注為輸，所過為原，所行為經，所入為合，此針之大法也。春刺井，夏刺滎，季夏刺輸，秋刺經，冬刺合也。</p>

<h1>飛騰八法起例</h1>
<p>甲巳子午九，乙庚丑未八，丙辛寅申七，丁壬卯酉六，戊癸辰戌五，己亥屬之四。</p>
<p>上並以日時、天干、地支配合，得數以九除之，取零數合卦定穴。</p>

<h2>八卦例數</h2>
<p>一坎　二坤　三震　四巽　五中（男寄坤，女寄艮）　六乾　七兌　八艮　九離</p>
<p>上以干支九數除，零合卦。</p>
<p>乾屬公孫艮內關，震宮居外巽溪關（外關、後谿），離居列缺坤申脈，照海臨泣兌坎觀（兌照海，坎臨泣）。</p>
<p>上以九除，零數合卦定穴。</p>
<p>合穴：公孫　臨泣　後谿　照海</p>
<p>內關　外關　申脈　列缺</p>

<h2>定八穴所在</h2>
<p>公孫二穴，足太陰脾之經。在足大趾內側本節後一寸陷中，令病人坐，卷兩足度，相取之。合內關穴。</p>
<p>內關二穴，手厥陰心之經。在手掌後二寸。令病人穩坐，仰手取之。</p>
<p>臨泣二穴，足少陽膽之經。在足小趾次趾本節後一寸陷中，一云去俠谿一寸五分。令病人垂足取之。亦合於外關。</p>
<p>外關二穴，手少陽三焦經。在手腕後二寸，別起心主。令病人穩坐，覆手取之。</p>
<p>後谿二穴，手太陽小腸之經。在手小指外側本節後陷中。令病人穩坐，覆手取之。合申脈。</p>
<p>申脈二穴，足太陽膀胱經。在足外踝下，赤白肉際陷中。令病人垂腳，坐而取之。合於後谿。</p>
<p>照海二穴，足少陰腎之經。在足內踝下，赤白肉際陷中，令病人穩坐，足底相對取之。合列缺。</p>
<p>列缺二穴，手太陰肺之經，在腕後一寸半，兩手相叉，食指盡處。</p>

<h1>後序</h1>
<p>《玉龍經》者，婺源王先生所傳針灸之書也。其所託名扁鵲者，重其道而神其書也。名曰玉龍者，蓋以玉為天地之精，龍之神變極靈，此書之妙用亦猶是也。愚自上歲，蒙親授以來，遊藝於七閩兩浙之間者，凡四十年，遇病則醫，醫必見效，信此書之道，猶玉之孚尹旁達，光焰愈久而不磨；龍之行天，施澤之無窮，變化愈神，而人莫得而測也。由是拜手述其所以，指用識於卷之末云。</p>
<p><u>天曆二年，歲在己巳，武林後學周仲良書於錦山躋壽堂</u></p>
