<header data-type="book">
<h1>炮炙大法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>繆希雍</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1622">公元1622年</data></dd></div>
<div><dt>底本</dt><dd>明末莊繼光校刻本</dd></div>
</dl>
</header>

<h1>正文</h1>
<p>按雷公炮製法有十七曰炮曰爁曰爆曰炙曰煨曰炒曰煅曰煉曰制曰度曰飛曰伏曰鎊曰摋曰曬曰曝曰露是也用者宜如法各盡其宜</p>

<h1>水部</h1>

<h2>雨水</h2>
<p>（立春節雨水　梅雨水芒種後逢壬為入梅小暑後逢壬為出梅　液雨水立冬後十日為入液至小雪為出液得雨謂之液雨）</p>

<h2>冬霜</h2>
<p>（凡收霜以雞羽掃之瓶中密封陰處久亦不壞）</p>

<h2>臘雪</h2>
<p>（用淨瓶收淨雪築實密封瓶口置於陰室中不見日色春雪有蟲水亦便敗所以不收）</p>

<h2>神水</h2>
<p>（五月五日午時有雨急伐竹竿中必有神水瀝取為藥）</p>

<h2>半天河</h2>
<p>（此竹籬頭水及空樹穴中水也）</p>

<h2>流水</h2>
<p>（千里水東流水二水皆堪盪滌邪穢煎煮湯液勞水即揚泛水張仲景謂之甘爛水用流水二斗置大盆中以杓高揚之千萬遍有沸珠相逐乃取煎藥蓋水性本鹽而體重勞之則甘而輕取其不助腎氣而益脾）胃也虞摶醫學正傳云甘爛水甘溫而性柔故烹傷寒陰證等藥用之順流水性順而下流故治下焦腰膝之證及通利夫小便之藥用之急流水湍上峻急之水其性急速而下達故通二便風痹之藥用之逆流水洄瀾之水其性逆而倒上故發吐痰飲之藥用之也）</p>

<h2>井泉水</h2>
<p>（反酌而傾曰倒流出⿱就瓦未放曰無根無時初出曰新汲將旦首汲曰井華）</p>

<h2>地漿</h2>
<p>（此掘黃土地作坎深三尺以新汲水沃入攪濁少頃取清用之）</p>

<h2>熱湯</h2>
<p>（須百沸者佳若半沸者飲之反傷元氣作脹）</p>

<h2>生熟湯</h2>
<p>（以新汲水百沸湯合一盞和勻故曰生熟今人謂之陰陽水）</p>

<h2>菊潭水</h2>
<p>（山澗兩岸有天生甘菊花其下流泉是也）</p>

<h2>漿水</h2>
<p>（漿酢也炊粟米熱投冷水中浸五六日味酢生白花色類漿故名若浸至敗者害人）</p>

<h2>米泔水</h2>
<p>（即淘米汁也）</p>

<h2>繅絲湯</h2>
<p>（以瓷瓶收密封埋淨土地中任經數年久而愈妙）</p>

<h1>火部</h1>

<h2>桑柴火</h2>
<p>（凡一切補藥諸膏宜此火煎之）</p>

<h2>炭火</h2>
<p>（櫟炭火宜煅煉一切金石藥烰炭火宜烹煎焙炙百藥丸散）</p>

<h2>蘆火竹火</h2>
<p>（宜煎一切滋補藥　凡服湯藥雖品物專精修治如法而煎藥者鹵莽造次水火不良火候失度則藥亦無功觀夫茶味之美惡飯味之甘餲皆繫於水火烹飪之得失即可推矣是以煎藥須用小心老成人以深罐密封新水活火先武后文如法服之未有不效者火用陳蘆枯竹取其不強不損藥力也）</p>

<h1>土部</h1>

<h2>黃土</h2>
<p>（三尺以上曰糞三尺以下曰土凡用當去上惡物勿令入客水）</p>

<h2>東壁土</h2>
<p>（此屋之東壁上土爾當取東壁之東邊謂常先見日光刮取用之）</p>

<h2>伏龍肝</h2>
<p>（凡使勿誤用灶下土其伏龍肝是十年以來灶額內火氣積久自結如赤色石中黃其形貌八稜取得後細研以滑石水飛過兩遍令乾用熟絹裹卻取子時安於舊額內一伏時重研了用）</p>

<h2>自然銅</h2>
<p>（生出銅處方圓不定色青黃如銅凡使用甘草湯煮一伏時至明漉出攤令乾入臼中搗了重篩過以醋浸一宿至明用六一混泥瓷盒子盛二升文武火養三日夜才幹用蓋蓋了火）</p>

<h2>墨</h2>
<p>（陳久而料精者入藥新而粗者不堪）</p>

<h2>百草霜</h2>
<p>（此乃灶額及煙爐中墨煙也其質輕細故謂之霜山莊人家者良）</p>

<h2>梁上塵</h2>
<p>（須去煙火遠高堂殿上者拂下篩用之一云凡用倒掛塵燒令煙盡篩取末入藥雷氏所說似是梁上灰塵今人不見用）</p>

<h1>金部</h1>

<h2>金銀銅鐵</h2>
<p>（凡使只可渾安在藥中借氣生藥力而已勿入藥服能消人脂）</p>

<h2>赤銅屑</h2>
<p>（即打銅落下屑也或以紅銅火煅水淬亦自落下以水淘淨用好酒入砂鍋內炒見火星取研末用煅兩伏時去土研如粉用凡修事五兩以醋兩鎰為度今人只以火煅醋淬七次研細水飛過用一云制後半年方可入藥否則殺人）</p>

<h2>銅青</h2>
<p>（生熟銅皆有青則銅之精華大者即空綠以次空青也銅青則是銅器上綠色者淘洗用之近時人以醋製銅生綠取收曬乾貨之）</p>

<h2>鉛</h2>
<p>（凡用以鐵銚熔化瀉瓦上濾去渣腳如此數次收用其黑錫灰則以鉛沙取黑灰白錫灰不入藥）</p>

<h2>鉛霜</h2>
<p>（以鉛打成錢穿成串瓦盆盛生醋以串橫盆中離醋三寸仍以瓦盆覆之置陰處候生霜刷下仍合住）</p>

<h2>鉛丹</h2>
<p>（即黃丹也生鉛一味火煅研成細末水飛過用今貨者多以鹽硝砂石雜之凡用以水漂去硝鹽飛去砂石澄干微火炒紫色地上去火毒入藥）</p>

<h2>密陀僧</h2>
<p>（凡使搗細安甕堝中重紙袋盛柳蛀末焙之次下東流水浸滿火煮一伏時去柳末紙袋取用近人以煎銀爐底代之誤矣爐底能消煉一切衣帛焉可服耶如無真者勿用　制狼毒）</p>

<h2>古文錢</h2>
<p>（周秦漢五代者方可用以火煅微紅淬醋中六七次用入目者磨用入散者用胡桃研成粉）</p>

<h2>鐵鏽</h2>
<p>（此鐵上赤衣也刮下用）</p>

<h1>石部</h1>

<h2>丹砂</h2>
<p>（即硃砂也有數種硫砂如拳許大或重一鎰有十四面面如鏡若遇陰沉天雨即鏡面上有紅漿汁出有梅柏砂如梅子許大夜有光生照見一室有白庭砂如帝珠子許大面上有小星現有神座砂又有金座砂玉座砂不經丹灶服之而自延壽命次有辰錦砂芙蓉砂箭鏃砂以上九種皆可入藥用丹砂入藥只宜生用慎勿升煉一經火煉餌之殺人研須萬遍要若輕塵以磁石吸去鐵氣　惡磁石　畏鹽水車前石葦皂莢決明瞿麥南星烏頭地榆桑椹紫河車地丁馬鞭草地骨皮陰地厥白附子　忌諸血）</p>

<h2>雲母</h2>
<p>（凡使色黃黑者厚而頑赤色者經婦人手把者並不中用須要光瑩如冰色者為上凡修事一斤先用小地膽草紫背天葵生目草地黃汁各一鎰乾者細銼濕者取汁了於瓷堝中安雲母於諸藥了下天池水三鎰著火煮煮一日夜水火勿令失度其雲母自然成碧玉漿在鍋底卻以天池水猛投其中將物攪之浮如堝涎者即去之如此三度淘淨了取沉香一兩搗作末以天池水煎沉香湯三升以來分為三度再淘雲母漿了日中曬任用之　澤瀉為之使　惡徐長卿羊血　畏鮀甲礬石東流水百草上露茅屋漏水　制汞　伏丹砂）</p>

<h2>石鐘乳</h2>
<p>（凡使勿用頭粗厚並尾大者為孔公石不用色黑及經大火驚過並久在地上收者曾經藥物制者並不得用須要鮮明薄而有光潤者似鵝翎筒子為上有長五六寸者凡修事法以五香水煮過一伏時然後漉出又別用甘草紫背天葵汁漬再煮一伏時凡八兩鍾乳用沉香零陵藿香甘松白茅等各一兩以水先煮過一度了第二度方用甘草等二味各二兩再煮了漉出拭乾緩火烘之然後入臼杵如粉篩過卻入缽中令有力少壯者三兩人不住研三日夜勿歇然後用水飛澄了以絹籠之於日中曬令乾又入缽中研二萬遍後以瓷盒子收貯用之蛇床為之使　惡牡丹玄石牡蒙人參二術忌羊血　畏紫石英蓑草韭實獨蒜胡蔥胡荽麥門冬貓兒眼草）</p>

<h2>礬石</h2>
<p>（生用解毒煅用生肌　甘草為之使　惡牡蠣　畏麻黃紅心灰藋）</p>

<h2>芒硝</h2>
<p>（水飛過用五重紙滴過去腳於鐺中干之方入乳缽研如粉任用芒硝是朴硝中煉出形似麥芒者號曰芒硝　火為之使　惡苦參苦菜　畏女菀杏仁竹葉）</p>

<h2>滑石</h2>
<p>（以刀刮去浮面黃者研如粉以牡丹皮同煮伏時出去牡丹皮取滑石卻用東流水淘飛去下腳七次於日中曬乾方用　白如凝脂軟滑者良　石葦為之使　惡曾青　制雄黃）</p>

<h2>赤石脂</h2>
<p>（研如粉新汲水飛過三度曬乾用亦有火煅水飛者　惡大黃松脂　畏芫花豉汁　畏黃芩大黃官桂）</p>

<h2>白石英</h2>
<p>（可煮汁用張仲景只令㕮咀不為細末　惡馬目毒公）</p>

<h2>紫石英</h2>
<p>（煮汁用或火燒醋淬為末敷毒　長石為之使　得茯苓人參芍藥主心中結氣　得天雄菖蒲主霍亂　惡鮀甲黃連麥句姜　畏扁青附子及酒）</p>

<h2>爐甘石</h2>
<p>（以炭火煅紅童便淬七次水洗淨研粉水飛過曬用）</p>

<h2>綠礬</h2>
<p>（火煅通紅淬入米醋中烘乾研如飛粉　畏醋）</p>

<h2>雄黃</h2>
<p>（取透明色鮮紅質嫩者研如飛塵水飛數次　畏南星地黃萵苣地榆黃芩白芷當歸地錦苦參五加皮紫河車五葉藤鵝腸草雞腸草鵝不食草圓桑葉蝟脂）</p>

<h2>石硫黃</h2>
<p>（研如飛塵用以殺蟲行血　曾青石亭脂為之使　畏細辛朴硝鐵醋黑錫豬肉鴨汁余甘子桑灰益母天鹽車前黃柏石葦蕎麥獨帚地骨皮地榆蛇床蓖麻菟絲蠶砂紫河波稜桑白皮馬鞭草）</p>

<h2>食鹽</h2>
<p>（凡鹽多以礬硝石灰之類雜之入藥須用水化澄去腳滓煎煉白色乃良　漏蘆為之使）</p>

<h2>水銀</h2>
<p>（凡使草中取者並舊朱漆中者經別藥制過者在屍過者半生半死者俱勿用在硃砂中產出者其色微紅收得後用蘆葫收免遺失先以紫背天葵並夜交藤自然汁二味同煮一伏時其毒自退若修十兩用前二味汁各七鎰和合煮足為度　畏磁石砒石黑鉛硫黃大棗蜀椒紫河車松脂松葉荷葉穀精草金星草萱草夏枯草莨菪子雁來紅馬蹄香獨腳蓮水慈菇瓦松忍冬）</p>

<h2>水銀粉</h2>
<p>（凡水銀一斤用明礬焰硝皂礬食鹽各二兩同一處研以不見汞星為度用烏瓷盒二個以藥鋪盆內上用一盆合定以鹽泥石膏蜜醋調封盆口勿令泄氣下盆底用鐵釘三腳支住四五寸高用炭火先文後武蒸半日次日冷定輕輕取起上盆則輕粉盡騰其上以鵝翎掃下聽用此乃真正輕粉生肌立效市肆多攙寒水石銀母石石膏焉得有用乎　黃連土茯苓陳醬黑鉛鐵漿可制其毒）</p>

<h2>戎鹽</h2>
<p>（即青鹽溫水洗去塵土淨曬乾入藥）</p>

<h2>石膏</h2>
<p>（雪白有牆壁者真即市之寒水石也石臼中搗成粉以密絹羅過生甘草水飛過了水澄令乾重研用之作散者煅熟入煎劑半生半熟　雞子為之使　畏鐵　惡莽草巴豆馬目毒公）</p>

<h2>磁石</h2>
<p>（欲驗者一斤磁石四面只吸鐵一斤者此名延年沙四面只吸得鐵八兩者號曰續末石四面只吸得五兩以來者號曰磁石修事一斤用五花皮一鎰地榆一鎰故綿十五兩三件並細銼以槌於石上碎作二三十塊子將磁石於瓷瓶中下草藥以東流水煮三日夜然後漉出拭乾以布裹之向大石上再槌令細了卻入乳缽中研細如塵以水沉飛過了又研如粉用之　柴胡為之使　殺鐵毒消金　惡牡丹莽草　畏黃石脂　伏丹砂養汞去鍋暈）</p>

<h2>起陽石</h2>
<p>（用火煅透紅研極細如面　桑螵蛸為之使惡澤瀉雷丸菌桂石葵蛇蛻皮　畏菟絲子　忌羊血）</p>

<h2>瑪瑙</h2>
<p>（犬肉內煮之火煅紅醋淬用試瑪瑙法以砑木不熱者為真）</p>

<h2>石灰</h2>
<p>（凡使用醋浸一宿漉出待乾下火煅令腥穢之氣出用瓶盛著密蓋放令拭上灰令淨細研用　去錫暈　制三黃硇砂硝石）</p>

<h2>砒霜</h2>
<p>（凡使用小瓷瓶子盛後入紫背天葵石龍芮二味三件便下火煅從巳至申便用甘草水浸從申至子出拭乾入瓶盛於火中鍛別研三萬下用之一法每砒霜一兩打碎用明礬一兩為末蓋砒上貯罐中入明火一煅以枯礬為度砒之悍氣隨煙而去駐形於礬中者庶幾無大毒用之不傷也用砒霜即用礬霜是也似簡便　畏綠豆冷水　青鹽鶴頂草硝石蒜水蓼常山益母獨帚木葎菖蒲三角酸鵝不食草波稜萵苣皆能伏砒）</p>

<h2>礞石</h2>
<p>（與火硝相半入陽成罐封固煅存性研如飛塵入藥　得焰硝良）</p>

<h2>花乳石</h2>
<p>（出陝華諸郡色正黃形之大小方圓無定凡入丸散以罐固濟頂火煅過出火毒研細水飛曬乾用）</p>

<h2>蓬砂</h2>
<p>（即硼砂也白如明礬者良研如飛塵　畏知母蕓薹紫蘇甑帶何首烏鵝不食草）</p>

<h1>草部</h1>

<h2>人參</h2>
<p>（色微黃皮薄滋潤明亮闊而獨株味甘回味不苦者良去蘆　茯苓馬藺為之使　惡滷咸溲疏畏五靈脂）</p>

<h2>天門冬</h2>
<p>（劈破去心用柳木甑燒柳木柴蒸一伏時灑酒令逼更添火蒸出曝　地黃貝母垣衣為之使　忌鯉魚　畏魯青浮萍　制雄黃硇砂）</p>

<h2>麥門冬</h2>
<p>（產杭州莧橋細白而皺者良水洗去心大抵一斤須減去五六兩凡入湯液或以水潤去心或以瓦焙乘熱去心若入丸散須瓦焙熟即於風中吹冷如此三四次即易燥且不損藥力或以湯浸搗膏和藥亦可滋補藥則以酒浸擂之　地黃車前為之使　惡款冬苦芙苦瓠畏苦參青葙木耳　伏石鐘乳）</p>

<h2>甘草</h2>
<p>（須去頭尾尖處頭尾吐人截作三寸長劈破作六七片以瓷器盛之用浸蒸從巳至午出曝乾或用清水蘸炙或切片用蜜水拌炒如瀉火生用　術苦參乾漆為之使　惡遠志　忌豬肉）</p>

<h2>生地黃</h2>
<p>（大如大指堅實者佳酒洗曬乾以手擘之有聲為度好酒拌勻置瓷甕內包固重湯煮一晝夜勝於蒸者名熟地黃生者酒洗用　得酒麥門冬薑汁縮砂良　惡貝母　畏蕪荑　忌蔥蒜蘿蔔諸血制地黃勿犯銅鐵器令人腎消並白髮男損營女損衛也）</p>

<h2>菖蒲</h2>
<p>（勿用泥菖夏菖其二件相似如竹根鞭形黑氣穢味腥不堪用石上生者根條嫩黃堅硬節稠長一寸有九節者是真也用銅刀刮上黃黑硬節皮一重了用嫩桑枝條相拌蒸出曝乾　秦皮秦艽為之使　惡麻黃地膽　忌飴糖羊血鐵器）</p>

<h2>黃連</h2>
<p>（非真川黃連不效折之中有孔色如赤金者良去須切片分開粗細各置薑汁排透用綿紙襯先用山黃土炒乾研細再炒至將紅以連片隔紙放上炒乾再加薑汁切不可用水紙焦易新者如是九次為度赤痢用濕槐花拌炒上法入痢藥中至於治本臟之火則生用之治肝膽之實火則以豬膽汁浸炒治肝膽之虛火則以醋浸炒治上焦之火則以酒炒治中焦之火則以薑汁炒治下焦之火則以鹽水或朴硝炒治氣分濕熱之火則以茱萸湯浸炒治血分塊中伏火則以乾漆水炒諸法不獨為之導引蓋辛熱能制其苦寒鹹寒能制其燥性在用者詳酌之　黃芩龍骨理石為之使　忌豬肉　畏牛膝款冬　惡冷水菊花玄參白殭蠶白蘚芫花）</p>

<h2>胡黃連</h2>
<p>（似干柳枝心黑外黃折之塵出如煙者真　忌惡同黃連　忌鐵）</p>

<h2>菊花</h2>
<p>（真者味甘色黃單瓣光心去蒂用術枸杞根桑根白皮青葙葉為之使）</p>

<h2>白朮</h2>
<p>（米泔浸去油者山黃土裹蒸曬九次洗淨去皮切片曬乾　防風地榆為之使　忌桃李雀肉菘菜青魚）</p>

<h2>蒼朮</h2>
<p>（出茅山細而帶糖香味甘者真米泔浸洗極淨刮去皮拌黑豆蒸又拌蜜酒蒸又拌人乳透蒸凡三次蒸時須烘曬極干氣方透　忌同白朮）</p>

<h2>菟絲子</h2>
<p>（米泔淘洗極淨略曬揀去稗草子磨五六次酒浸一宿慢火煮乾木槌去殼一法用酒煮一晝夜搗作餅曬乾然後復研方細一法以白紙條同研方細　薯蕷松脂為之使　得酒良　惡雚菌）</p>

<h2>牛膝</h2>
<p>（酒浸蒸曝乾形長二尺五寸以上者方佳蜀地及懷慶產者良　惡螢火龜甲陸英　畏白前　忌牛肉）</p>

<h2>茺蔚子</h2>
<p>（花紅者良　忌鐵　制三黃砒石）</p>

<h2>柴胡</h2>
<p>（凡使莖長軟皮赤黃𥳍須出在平州平縣即今銀州銀縣也西畔生處有白鶴綠鶴於此翔處是柴胡香直上云間若有過往聞者皆氣爽此種治骨蒸不入發表藥去髭並頭勿令犯火立便無效也　半夏為之使惡皂莢　畏女菀藜蘆）</p>

<h2>前胡</h2>
<p>（切開白色者良水洗用竹刀刮去蒼黑皮並髭土了細銼以甜竹瀝浸令潤日中曬乾用　使惡畏同柴胡）</p>

<h2>獨活羌活</h2>
<p>（細銼拌淫羊藿裛二日後曝乾去淫羊藿用兔煩人心此服食家治法尋常去皮或焙用爾　蟊實為之使）</p>

<h2>升麻</h2>
<p>（綠色者良治滯下用醋拌炒）</p>

<h2>車前子</h2>
<p>（自收玄色者良賣家多以葶藶子代充不可不辨使葉勿使蕊莖入補益藥中用米泔淘淨蒸入利水治泄瀉藥炒為末用　常山為之使）</p>

<h2>木香</h2>
<p>（形如枯骨油重者良忌見火入煎藥磨汁內熟湯中服若實大腸宜麵煨熟用）</p>

<h2>薯蕷</h2>
<p>（補益藥及脾胃中熟用外科生用切用銅刀　紫芝為之使　惡甘遂）</p>

<h2>葳蕤</h2>
<p>（凡使勿用黃精並鉤吻二物相似葳蕤上有鬚毛莖斑葉尖處有小黃點為不同採得以竹刀刮去節皮洗淨以蜜水浸宿蒸了焙乾用　畏滷咸）</p>

<h2>薏苡仁</h2>
<p>（顆小色青味甘用糯米炒咬著黏人齒凡一兩以糯米一兩同炒令糯米熟去糯米取使或以鹽湯煮過亦得一法瀼湯泡三次去油蒸氣曬乾用）</p>

<h2>澤瀉</h2>
<p>（不油不蛀者良細銼酒浸一宿漉出曝乾用一法米泔浸去毛蒸或搗碎焙　畏海蛤文蛤忌鐵）</p>

<h2>遠志</h2>
<p>（去心若不去心服之令人悶去心了用熟甘草湯浸一宿漉出曝乾用之　得茯苓龍骨冬葵子良　畏真珠飛廉藜蘆齊蛤）</p>

<h2>龍膽草</h2>
<p>（甘草湯中浸一宿至明漉出曝乾用勿空腹餌之令人溺不禁　貫眾赤小豆為之使　惡地黃防葵）</p>

<h2>細辛</h2>
<p>（揀去雙葉服之害人洗淨去泥沙　曾青草根為之使　忌生菜貍肉　惡黃耆狼毒山茱萸　畏滑石硝石）</p>

<h2>石斛</h2>
<p>（長而中實味不苦者真去頭土了用酒浸一宿漉出於日中曝乾卻用酥蒸從巳至酉卻徐徐焙乾用石斛鎖陽澀丈夫元氣如斯修事服滿一鎰永不骨痛暫使酒蒸用服餌當如法　陸英為之使　惡凝水石巴豆　畏雷丸）</p>

<h2>巴戟天</h2>
<p>（去心用枸杞子湯浸一宿待稍軟漉出卻用酒浸一伏時又漉出用菊花同熬令焦黃去菊花用布拭令乾用今法惟以酒浸一宿銼焙入藥若急用只以溫水浸軟去心也　覆盆子為之使　惡雷丸丹參朝生）</p>

<h2>菴䕡子</h2>
<p>（煮汁作飲為末作散俱可　荊子薏苡為之使）</p>

<h2>芎藭</h2>
<p>（形塊重實色白者良　白芷為之使　畏黃連　伏雌黃）</p>

<h2>刺蒺藜</h2>
<p>（淨揀擇了蒸從午至酉出曬乾於木臼中舂令皮上刺盡用酒拌再蒸從午至酉出曬乾用一法炒研去刺為末如入煎藥臨時調服不入湯煎　烏頭為之使）</p>

<h2>沙苑蒺藜</h2>
<p>（綠色形如腰子細而香如天池茶者真即同州多偽者或炒或酒漿拌蒸亦不入湯藥）</p>

<h2>黃耆</h2>
<p>（軟如綿直而細中有菊心味甘者良補氣藥中蜜炙用瘡瘍藥中鹽水炒用俱去皮　茯苓為之使　惡白蘚龜甲）</p>

<h2>肉蓯蓉</h2>
<p>（肥大者良用清酒浸一宿至明以棕刷上去沙土浮甲盡劈破中心去白膜一重如竹絲草樣是此偏隔人心前氣不散令人上氣不出凡使用先須酒浸並刷草了卻蒸從午至酉出又用酥炙得所　忌鐵）</p>

<h2>防風</h2>
<p>（實而潤頭節堅者良去蘆並叉頭叉尾者形彎者令人吐勿用　畏萆薢　惡乾薑藜蘆白蘞芫花）</p>

<h2>蒲黃</h2>
<p>（自採者真勿用松黃並黃蒿其二件全似只是味粗及吐人凡欲使蒲黃鬚隔三重紙焙令色黃蒸半日卻焙令乾用之妙行血生用止血炒用）</p>

<h2>續斷</h2>
<p>（皺皮黃色折之煙塵起者良用酒浸一伏時捶碎去筋焙乾用　地黃為之使　惡雷丸）</p>

<h2>漏蘆</h2>
<p>（枯黑如漆味不苦酸者真細銼拌生甘草相對蒸從巳至申去甘草揀淨用　連翹為之使）</p>

<h2>天名精</h2>
<p>（一名過冬青即荔枝草吳人又呼為天麻地菘擂汁服　垣衣地黃為之使）</p>

<h2>決明子</h2>
<p>（炒研　蓍實為之使　惡大麻子）</p>

<h2>丹參</h2>
<p>（去蘆賣家多染色須辨之　畏鹽水）</p>

<h2>茜根</h2>
<p>（勿用赤柳草根真似茜根只是滋味澀不入藥中用若服令人患內瘴眼速服甘草水解之凡使用銅刀於槐砧上銼曬乾勿犯鐵並鉛　畏鼠姑　制雄黃）</p>

<h2>五味子</h2>
<p>（遼東者佳去枯者銅刀劈作兩片用蜜浸蒸從巳至申或曬或烘炒　蓯蓉為之使　惡葳蕤勝烏頭）</p>

<h2>忍冬</h2>
<p>（花四月採藤葉不拘時採俱陰乾不見日火）</p>

<h2>蛇床子</h2>
<p>（凡使須用濃鹽汁百部煎濃汁二味同浸三伏時漉出曬乾卻用生地黃汁相拌蒸從午至亥曬乾用　惡牡丹　貝母巴豆　伏硫黃）</p>

<h2>茵陳蒿</h2>
<p>（須用葉有八角者採得陰乾去根細銼用勿令犯火山茵陳俗呼為帝鍾茵陳即八角也　伏硇砂）</p>

<h2>沙參</h2>
<p>（去蘆白實味甘者良　惡防己）</p>

<h2>王不留行</h2>
<p>（拌濕蒸之從巳至未以漿水浸一宿焙乾用）</p>

<h2>乾薑</h2>
<p>（馬湖者良微炒若治產後血虛發熱及止血俱炒黑溫中炮用散寒邪理肺氣止嘔生用　秦椒為之使　惡黃芩　黃連　天鼠糞　殺半夏南星莨菪毒）</p>

<h2>生薑</h2>
<p>（不宜使熟宜搗絞汁待藥煎成傾入方不失生字之義如入藥煎乃熟姜非生薑矣　使惡殺同乾薑）</p>

<h2>蒼耳實</h2>
<p>（蒸用或炒熟搗去刺用忌豬肉馬肉米泔）</p>

<h2>葛根</h2>
<p>（雪白多粉者良）</p>

<h2>葛花</h2>
<p>（消酒煎飲）</p>

<h2>栝蔞根</h2>
<p>（雪白多粉者良　枸杞為之使　惡乾薑　畏牛膝乾漆）</p>

<h2>栝蔞仁</h2>
<p>（搗碎用粗紙壓去油）</p>

<h2>苦參</h2>
<p>（先須用糯米濃泔汁浸一宿上有腥穢氣並在水面上浮並須重重淘過即蒸從巳至申出曝乾細銼用之不入湯藥　玄參為之使　惡貝母漏蘆菟絲子　伏汞雌黃焰硝）</p>

<h2>當歸</h2>
<p>（色白味甘者良去塵並頭尖硬處一分以來洗淨酒浸一宿若要破血即使頭一節硬實處若要止痛止血即用尾若一概用不如不使服食無效單使妙也　惡䕡茹濕面　制雄黃　畏菖蒲生薑海藻牡蒙）</p>

<h2>麻黃</h2>
<p>（陳久者良去節並沫若不盡服之令人悶用夾刀煎去節並頭槐砧上用銅刀細銼煎三四十沸竹片掠去上沫盡漉出熬乾用之厚朴白薇為之使　惡辛夷石葦）</p>

<h2>白芍藥</h2>
<p>（以竹刀刮去粗皮並頭土了銼之將蜜水拌蒸從巳至未曝乾用之今人多以酒浸蒸切片或用煩亦良　須丸烏藥末藥為之使　惡石斛芒硝）</p>

<h2>赤芍藥</h2>
<p>（制度並使惡同白芍藥）</p>

<h2>瞿麥</h2>
<p>（只用蕊殼不用莖葉若一時使即空心令人氣咽小便不禁凡欲用先須以蓳竹瀝浸一伏時漉出曬乾用　牡丹蓑草為之使　惡螵蛸　伏丹砂）</p>

<h2>玄參</h2>
<p>（墨黑者良用蒲草重重相隔入甑蒸兩伏時後出干勿令犯銅鐵餌之噎人喉喪人目揀去蒲草盡了用之一法用酒洗去塵土切片曬乾用　惡黃耆乾薑大棗山茱萸）</p>

<h2>秦艽</h2>
<p>（凡使秦並艽須於腳文處認取左文列為文即治疾艽即髮腳氣凡用秦先以布拭上黃肉毛盡然後用童便浸一宿至明出曬乾用　菖蒲為之使　畏牛乳）</p>

<h2>百合</h2>
<p>（白花者良酒拌蒸）</p>

<h2>知母</h2>
<p>（皮黃肉白者良於槐砧上細銼焙乾木臼杵搗一法去毛蜜炙勿令犯鐵器　得黃柏及酒良　伏硼砂鹽）</p>

<h2>貝母</h2>
<p>（黃白輕鬆者良先於柳木灰中炮令黃劈破去內口鼻上有米許大者心一小顆後拌糯米於銚上同炒待米黃熟然後去米取出其中有獨顆團不作兩片無皺者號曰丹龍精不入藥用若誤服令人筋脈不收用黃精小藍汁合服立愈　厚朴白薇為之使　惡桃花　畏秦艽莽草礜石）</p>

<h2>白芷</h2>
<p>（白色不蛀者良　當歸為之使　惡旋覆花　制雄黃硫黃）</p>

<h2>淫羊藿</h2>
<p>（細銼用羊脂相對拌炒過待羊脂盡為度每修事一斤用羊脂四兩為度也　薯蕷紫芝為之使得酒良）</p>

<h2>黃芩</h2>
<p>（大肺經用枯芩去腐酒浸切炒入大腸或安胎等俱用子芩酒浸切炒　龍骨山茱萸為之使　惡蔥實　畏丹砂牡丹藜蘆）</p>

<h2>狗脊</h2>
<p>（凡修事火燎去毛細銼了酒拌蒸從巳至申出曝乾用　萆薢為之使　惡莎草敗醬）</p>

<h2>茅根</h2>
<p>（洗淨搗爛勿用露根）</p>

<h2>紫菀</h2>
<p>（用東流水淘洗令淨用蜜浸一宿火上焙乾用凡修事一兩用蜜二分　款冬為之使　惡天雄藁本雷丸遠志瞿麥　畏茵陳）</p>

<h2>紫草</h2>
<p>（真者方佳須用蠟水蒸之待水乾取去頭並兩畔髭細銼用每修事紫草一斤用蠟三兩於鐺中熔淨便投蠟水作湯用）</p>

<h2>通草</h2>
<p>（即木通也有紫白二色紫者皮厚味辛白者皮薄味淡二者皆能通利）</p>

<h2>藁本</h2>
<p>（去蘆水洗切　惡䕡茹　畏青葙子）</p>

<h2>石葦</h2>
<p>（背有黃毛須拭極淨羊脂拌炒焦黃色　滑石杏仁射干為之使　得菖蒲良　制丹砂礬石）</p>

<h2>萆薢</h2>
<p>（其根細長淺白者真酒浸一宿焙乾　忌鐵薏苡為之使　畏前胡柴胡牡蠣大黃葵根）</p>

<h2>土茯苓</h2>
<p>（忌鐵茶）</p>

<h2>白薇</h2>
<p>（用糯米泔汁浸一宿至明取出去髭了於槐砧上細銼蒸從巳至申出用夏月浸二時許惡黃耆乾薑大棗山茱萸大黃大戟乾漆）</p>

<h2>大青</h2>
<p>（處處有之三四月採莖陰乾）</p>

<h2>艾葉</h2>
<p>（產蘄州者良入藥用新炙火用陳　苦酒香附為之使）</p>

<h2>惡實</h2>
<p>（一名鼠黏子一名牛蒡子一名大力子用酒拌蒸待上有薄白霜重出卻用布拭上然後焙乾搗如粉用）</p>

<h2>水萍</h2>
<p>（紫背浮萍七月採之揀淨以竹篩攤曬下置水一盆映之即易干也）</p>

<h2>王瓜</h2>
<p>（根能吐下子生用潤心肺治黃病炒用治肺痿吐血腸風瀉血赤白痢反胃吐食　取汁制雄汞）</p>

<h2>地榆</h2>
<p>（切之如綿者良酒洗　得發良惡麥門冬　伏丹砂雄黃硫黃）</p>

<h2>大小薊根</h2>
<p>（消腫搗汁止血燒灰存性）</p>

<h2>海藻</h2>
<p>（凡使先須用生烏豆並紫背天葵和海藻三件同蒸一伏時候曬乾用之近人但洗淨鹹味焙乾用反甘草）</p>

<h2>澤蘭</h2>
<p>（凡使先要別識雄雌其形不同大澤蘭形葉皆圓根青黃能生血調氣與大合小澤蘭迥別採得後看葉上斑根鬚尖莖方此藥能破血通久積凡修事大小澤蘭須細銼之用絹袋盛懸於屋南畔角上令乾用　防己為之使）</p>

<h2>昆布</h2>
<p>（凡使先用弊甑簟同煮去鹹味焙細銼用每修事一斤用甑簟十個用昆布細銼二味各一處下東流水從巳至亥水旋添勿令少）</p>

<h2>防己</h2>
<p>（凡使勿使木條以其木條已黃腥皮皺上有子足子不堪用凡使防己要心花文黃色者然後細銼車前草根相對同蒸半日後出　去車前草根細銼用之一法用酒洗切　殷孽為之使　惡細辛　畏萆薢女菀滷咸　殺雄黃　硝石毒）</p>

<h2>天麻</h2>
<p>（透明者良天麻十兩用蒺藜子一鎰緩火熬焦熟後便先安置天麻十兩於瓶中上用火熬過蒺藜子蓋內外便用三重紙蓋並系從巳至未時又出蒺藜子再入熬炒准前安天麻瓶內用炒了蒺藜子於中依前蓋又隔一伏時後出如此七遍瓶盛出後用布拭上氣汗用刀劈焙之細銼單搗一法麵裹煨透切）</p>

<h2>阿魏</h2>
<p>（凡使各有訛偽有三驗第一驗將半銖安於銅器中一宿至明沾阿魏處白如銀汞無赤色第二驗將一銖置於五斗草自然汁中一夜至明如鮮血色第三驗將一銖安於柚樹上樹立干便是真色黑者力微黃溏者力上凡使先於淨缽中研如粉了於熱酒器上裛過任入藥用）</p>

<h2>香薷</h2>
<p>（八九月開花著穗時採之去根留葉陰乾勿令犯火服至十兩一生不得食白山桃也）</p>

<h2>百部根</h2>
<p>（去心皮用酒浸一宿漉出焙乾細銼用）</p>

<h2>款冬花</h2>
<p>（花未舒者良去梗蒂甘草水浸一時曬乾用杏仁為之使　得紫菀良　惡玄參皂莢硝石　畏貝母麻黃辛夷黃芩黃耆連翹青葙）</p>

<h2>紅藍花</h2>
<p>（自種者真得酒良）</p>

<h2>牡丹皮</h2>
<p>（凡使採得後曬乾用銅刀劈破去骨了細銼如大豆許用清酒拌蒸從巳至未出曬乾用闊而厚者良　忌蒜胡荽　伏砒　畏菟絲子貝母大黃）</p>

<h2>三稜</h2>
<p>（去毛米醋浸一日切片炒或煮熟焙乾入藥乃良）</p>

<h2>青黛</h2>
<p>（水飛去腳綠中有石灰入服餌藥中宜飛淨用一法用青布浸汁代之）</p>

<h2>鬱金</h2>
<p>（色赤似薑黃蟬肚者良置生雞血中化成水者真磨汁臨服入藥）</p>

<h2>蘆薈</h2>
<p>（上有青竹文斑並光膩味極苦勿便和眾藥搗此藥先搗成粉待眾藥末出然後入藥中）</p>

<h2>延胡索</h2>
<p>（產茅山溪陵澗粒粒金黃色者良醋煮切）</p>

<h2>肉豆蔻</h2>
<p>（不油不蛀不皺皮者佳糯米作粉使熱湯搜裹豆蔻於糖灰中炮待米糰子焦黃熟然後出去米粉用勿令犯銅鐵）</p>

<h2>白豆蔻</h2>
<p>（藥煎成方炒研入一二沸即起入丸待諸藥細末後方入勿隔宿）</p>

<h2>砂仁</h2>
<p>（略炒吹去衣研用入湯丸法同白豆蔻　得白檀香豆蔻為使入肺得人參益智為使入脾得黃柏茯苓為使入腎得赤白石脂為使入大小腸得訶子白蕪荑鱉甲良）</p>

<h2>補骨脂</h2>
<p>（即破故紙形圓實色黑者良此藥性本太燥每用酒浸一宿後漉出浮者去之卻用東流水浸三日夜卻蒸從巳至申出曬乾用　忌鐵　得胡桃胡麻良　惡甘草　忌諸血蕓薹）</p>

<h2>蓬莪朮</h2>
<p>（凡使於砂盆中用醋磨令盡然後於火畔吸令乾重篩過用一法火炮醋浸煨切　得酒醋良）</p>

<h2>白前</h2>
<p>（用生甘草水浸一伏時後漉出去頭須了焙乾任入藥中用）</p>

<h2>薺苨</h2>
<p>（解百藥毒生搗汁服或末煮俱可）</p>

<h2>白藥子</h2>
<p>（末用）</p>

<h2>香附</h2>
<p>（細者佳去毛以水洗淨揀去砂石於石臼內搗去皮用童便浸透曬搗用或以酒醋酥鹽水薑汁浸俱瓦上焙乾　得芎藭蒼朮醋童子小便良　忌鐵）</p>

<h2>鱧腸</h2>
<p>（即旱蓮草性太寒宜熬膏用須日色中　忌鐵）</p>

<h2>使君子</h2>
<p>（慢煨香熱用或云七生七煨食亦良忌飲熱茶犯之即瀉）</p>

<h2>翦草</h2>
<p>（治肺熱吐血有神舊出婺州今產寧州）</p>

<h2>附子</h2>
<p>（底平有九角如鐵色一個重一兩即是氣全堪用修事十兩於文武火中炮令皴折者去之用刀刮上孕子並去底尖微細劈破於屋下午地上掘一坑可深一尺安於中一宿至明取出焙乾用麩炒欲炮者灰火勿用雜木火只用柳木最多若陰制使即生去尖皮底薄切用東流水並黑豆浸五日夜然後漉出於日中曝令乾用凡使須陰制去皮尖了每十兩用生烏豆五兩東流水六升一云此物性太烈古方用火炮不若用童便煮透尤良　地膽為之使　得蜀椒食鹽下達命門　惡蜈蚣豉汁　畏防風甘草人參黃耆綠豆烏韭童溲犀角）</p>

<h2>半夏</h2>
<p>（陳久者良若修事四兩用搗了白芥子末二兩頭醋六兩二味攪令濁將半夏投中洗三遍用之半夏上有巢涎若洗不淨令人氣逆肝氣怒滿若入治痰飲藥用白礬湯入薑汁浸透洗淨用無白星為度造麴法用半夏不拘多少將滾湯泡過宿搗爛每一斗入生薑一斤同搗之作餅子用干稻稈或粟麥稈𨠭之如𨠭曲法干久用　射干柴胡為之使　惡皂莢海藻飴糖羊血　畏生薑乾薑秦皮龜甲雄黃）</p>

<h2>大黃</h2>
<p>（細切內文如水旋斑緊重銼蒸從巳至未曬乾又用臘水蒸從未至亥如此蒸七度卻酒薄蜜水再蒸一伏時其大黃譬如烏膏樣於日中曬乾用之為妙下藥酒浸一時煮二三沸即服黃芩為之使　惡乾漆　忌冷水）</p>

<h2>桔梗</h2>
<p>（味苦而有心者良凡使去頭上尖硬二三分以來並兩畔附梔子於槐砧上細銼用百合水浸一伏時漉出緩火熬令乾用每修事四兩用生百合五分搗作膏投於水中浸一法用米泔浸一宿微焙用　節皮為之使　畏白芨龍膽龍眼　忌豬肉伏砒）</p>

<h2>草蒿</h2>
<p>（即青蒿葉細而香自採佳陰乾凡使唯中為妙到膝即仰到腰即俯使子勿使葉使根勿使莖四件若同使翻然成痼疾採得葉不計多少用童溺浸七日七夜後漉出曬乾　伏硫黃）</p>

<h2>旋覆花</h2>
<p>（去裹花蕊殼皮並蒂蒸從巳至午曬乾用）</p>

<h2>射干</h2>
<p>（不辣者良米泔水浸一宿漉出然後用蓳竹葉煮從午至亥漉出曬乾用之）</p>

<h2>常山</h2>
<p>（如雞骨者良春使莖葉夏秋冬使根酒浸一宿至明漉出曬乾熬搗少用勿令老人久病者服之切忌　畏玉札忌蔥菘菜　伏砒石）</p>

<h2>甘遂</h2>
<p>（用生甘草湯小薺苨自然汁二味攪浸三日其水如墨汁更漉出用東流水淘六七次令水清為度漉出於土器中熬令脆用之一法麵包煨熱去面　瓜蒂為之使　惡遠志）</p>

<h2>白蘞</h2>
<p>（生取根搗爛可敷癰腫　代赭為之使）</p>

<h2>白芨</h2>
<p>（水洗切　紫石英為之使惡理石　畏杏仁李核仁）</p>

<h2>貫眾</h2>
<p>（洗淨切片炒　雚菌赤小豆為之使　伏石鐘乳）</p>

<h2>何首烏</h2>
<p>（冬至後採者良入春則芽而中空矣北人以贗種欺人香氣不能混也臨用勿去皮以苦竹刀切米泔浸經宿同豆九蒸九曬木杵臼搗之勿犯鐵器　茯苓為之使　忌蔥蒜蘿蔔諸血無鱗魚）</p>

<h2>威靈仙</h2>
<p>（去蘆酒洗忌茶麵湯）</p>

<h2>牽牛子</h2>
<p>（即草金零入水中淘浮者去之取沉者曬乾拌酒蒸從巳至未曬乾臨用舂去黑皮用之黑者力速磨取頭末入藥　得乾薑青木香良）</p>

<h2>蓖麻子</h2>
<p>（形似巴豆節節有黃黑斑點凡使先須和皮用鹽湯煮半日去皮取子研過用　忌炒豆伏丹砂　粉霜）</p>

<h2>天南星</h2>
<p>（陳久松白者良滾湯明礬或薑汁拌和泡用一用泡過者為末入臘月黑牛膽中陰乾用蜀漆為之使　得火牛膽良　惡莽草　畏附子乾薑防風生薑　伏雌黃丹砂焰硝）</p>

<h2>豨薟</h2>
<p>（方赤莖者良採葉陰乾醇酒拌九蒸九曬　忌鐵）</p>

<h2>苧根</h2>
<p>（此物大能補陰而行滯血方藥以其目前賤物多不用）</p>

<h2>白頭翁</h2>
<p>（花子莖葉同　蠡實為之使　得酒良）</p>

<h2>蘆根</h2>
<p>（逆水生並黃泡肥厚味甘者良露根勿用去須節並赤黃皮用其汁消痰開胃下氣除熱解一切食物魚蝦河魨毒）</p>

<h2>馬兜鈴</h2>
<p>（凡使採得後去葉並蔓了用生絹袋盛於東屋角畔懸令乾了劈作片取向裡子去革膜並令淨用子勿令去革膜不盡用之並皮炒入藥）</p>

<h2>仙茅</h2>
<p>（刮上皮於槐砧上用銅刀切豆許大卻用生稀布袋盛於烏豆水中浸一宿取出用酒濕拌了蒸從巳至亥取出曝乾勿犯鐵斑人須鬢　禁食牛乳及黑牛肉）</p>

<h2>劉寄奴</h2>
<p>（凡使去梗以布拭上薄殼皮令淨拌酒蒸從巳至申出曝乾用之莖葉花子皆可用）</p>

<h2>骨碎補</h2>
<p>（生江南根著樹石上採得用銅刀刮去上黃赤毛盡便細切用蜜拌令潤架柳甑蒸一日後出曝乾用一法去毛細切後用生蜜拌蒸從巳至亥）</p>

<h2>連翹</h2>
<p>（黑而閉口者良去蒂根研）</p>

<h2>續隨子</h2>
<p>（凡用去殼取色白者以紙包壓去油取霜用）</p>

<h2>山豆根</h2>
<p>（或末或研或噙咽）</p>

<h2>白附子</h2>
<p>（竹節者良炮去皮　得火良）</p>

<h2>預知子</h2>
<p>（去皮研服）</p>

<h2>水賊草</h2>
<p>（去節童便浸一宿焙乾）</p>

<h2>蒲公草</h2>
<p>（自採鮮者入湯藥煎入丸末敷瘡毒搗爛用）</p>

<h2>穀精草</h2>
<p>（土瓜為之使　忌鐵　伏汞砂）</p>

<h2>夏枯草</h2>
<p>（土瓜為之使　忌鐵　伏汞砂）</p>

<h2>山慈菇根</h2>
<p>（出浙江處州府遂昌縣洪山地方市中無真者形光無毛本草注中雲有毛誤也）</p>

<h2>燈心草</h2>
<p>（蒸熟待乾折取中心白穰燃燈者是為熟草不蒸者生干剝取為生草入藥用之最難研以粳米粉漿染過曬乾研末入水澄之浮者是燈心也曬乾用）</p>

<h2>海金沙</h2>
<p>（或丸或散沙及草俱可入藥）</p>

<h2>萱草根</h2>
<p>（曬乾為末或用水煎酒煎研汁皆可服）</p>

<h2>藿香</h2>
<p>（自種者良揉之如蘹香氣者真薄荷香者非也）</p>

<h2>絡石</h2>
<p>（凡採得後用粗布楷葉上莖蔓上毛了用熟甘草水浸一伏時出切曬乾任用　杜仲牡丹為之使　惡鐵落　畏貝母菖蒲　殺孽毒）</p>

<h1>木部</h1>

<h2>桂</h2>
<p>（凡使勿薄者要紫色厚者去上粗皮取心中味辛者使每斤大厚紫桂只取得五兩取有味厚處生用加未用即用重密熟絹並紙裹勿令犯風其州土只有桂草元無桂心用桂草煮丹陽木皮遂成桂心凡用即單搗用之　得人參甘草麥門冬大黃黃芩調中益氣得柴胡紫石英乾地黃療吐逆　忌生蔥石脂）</p>

<h2>桂枝</h2>
<p>（即桂之枝條輕薄者）</p>

<h2>槐實</h2>
<p>（凡採得後去單子並五子者只取兩子三子者凡使用銅槌槌之令破用烏牛乳浸一宿蒸過用　景天為之使）</p>

<h2>槐花</h2>
<p>（未開時採收陳久者良入藥揀淨酒浸微炒若止血炒黑）</p>

<h2>枸杞根</h2>
<p>（即地骨皮凡使根掘得後用東流水浸以物刷上土了待乾破去心用熱甘草湯浸一宿然後焙乾用其根若似物命形狀者上春食葉夏食子秋食根並子也　制硫黃丹砂）</p>

<h2>枸杞子</h2>
<p>（去蒂及枯者酒潤一夜搗爛入藥）</p>

<h2>柏實</h2>
<p>（去油者酒拌蒸另搗如泥或蒸熟曝烈舂簸取仁炒研入藥　瓜子牡蠣桂為之使　畏菊花羊蹄諸石及面曲　伏砒硝）</p>

<h2>柏葉</h2>
<p>（向月令採之春東夏南秋西冬北　使畏伏同實）</p>

<h2>茯苓</h2>
<p>（堅白者良去皮搗為末於水盆中攪三次將濁浮者去之是茯苓筋若誤服之令人眼中童子並黑精點小兼盲目切記如飛澄淨曬乾人乳拌蒸用赤茯苓則不必飛也　使惡畏忌同茯神）</p>

<h2>茯神</h2>
<p>（去皮木用　馬問為之使　得甘草防風芍藥麥門冬紫石英療五臟　惡白蘞　畏地榆秦艽牡蒙龜甲雄黃　忌米醋及酸物）</p>

<h2>琥珀</h2>
<p>（凡用紅松脂石珀水珀花珀物象珀翳珀琥珀紅松脂如琥珀只是濁太脆文橫水珀多無紅色如淺黃多粗皮皺石珀如石重色黃不堪用花珀文似新馬尾松心文一路赤一路黃物象珀其內自有物命動此使有神妙翳珀其珀是眾珀之長故號曰翳珀琥珀如血色於布上拭吸得芥子者真也大率以輕而透明者為佳入藥中用水調側柏子末安於瓷鍋子中安琥珀於末中了下火煮從巳至申別有異光別搗如粉重篩用一法用細布包納豆腐鍋中煮之然後灰火略煨過入目制用安心神生用）</p>

<h2>酸棗</h2>
<p>（粒粒粗勿碎皮者良炒爆研細入藥如砂仁法勿隔宿　惡防己）</p>

<h2>黃柏木</h2>
<p>（即黃柏也凡使用刀削上粗皮了用生蜜水浸半日漉出曬乾用蜜塗文武火灸令蜜盡為度凡修事五兩用蜜三兩一法用鹽酒拌炒褐色　惡乾漆　伏硫黃）</p>

<h2>楮實</h2>
<p>（凡使採得後用水浸三日將物攪旋投水浮者去之曬乾用酒浸一伏時了便蒸從巳至亥出焙令乾用之）</p>

<h2>松脂</h2>
<p>（凡用以胡蔥同煮二十沸入冷水揉扯數十次曬乾用）</p>

<h2>降真香</h2>
<p>（以番舶來者色較紅香氣甜而不辣用之入藥殊勝色深紫者不良）</p>

<h2>茗苦𣘻</h2>
<p>（入清頭目藥用苦𣘻消食下氣用佳茗）</p>

<h2>南燭</h2>
<p>（莖葉搗汁漬米炊飯子入澀精補益藥用）</p>

<h2>乾漆</h2>
<p>（火煅黑煙起盡存性研如飛塵　半夏為之使　畏雞子紫蘇杉木漆姑草蟹　忌油脂）</p>

<h2>五加皮</h2>
<p>（五葉者是剝皮去骨陰乾遠志為之使　畏玄參蛇皮）</p>

<h2>蔓荊實</h2>
<p>（凡使去蒂子下白膜一重用酒浸一伏時後蒸從巳至未出曬用一法炒捶碎用　惡烏頭石膏）</p>

<h2>辛夷</h2>
<p>（凡用去粗皮拭上白赤毛了去心即以芭蕉木浸一宿漉出用漿水煮過從巳至未出焙乾用若治眼目中患即一時去皮用向裡實者　芎藭為之使　惡五石脂　畏菖蒲黃連蒲黃石膏黃環）</p>

<h2>桑上寄生</h2>
<p>（凡使在樹上自然生獨枝樹是也採得後用銅刀和根枝莖細銼陰乾了用　忌火）</p>

<h2>杜仲</h2>
<p>（極厚者良削去粗皮每一斤用酥一兩蜜三兩和塗火炙以盡為度一法用酒炒斷絲以漸取屑方不焦　惡玄參蛇蛻皮）</p>

<h2>女貞實</h2>
<p>（按本草女貞實與冬青似是而非也女貞葉長四五寸子黑冬青葉糰子微紅俱霜後採陰乾去粗皮內更有細皮實白色酒拌黑豆同蒸九次）</p>

<h2>風香脂</h2>
<p>（凡用以齏水煮二十沸入冷水中揉扯數十次曬乾用）</p>

<h2>蕤核</h2>
<p>（凡使湯浸去皮尖擘作兩片用芒硝木通草二味和蕤仁同水煮一伏時後漉出去諸般藥取蕤仁研成膏任加減入藥中使每修事四兩用芒硝一兩木通草七兩一法去衣綿紙包研去油用）</p>

<h2>丁香</h2>
<p>（凡使有雄雌雄顆小雌顆大似檈棗核方中多使雌力大膏煎中用雄若欲使雄須去下蓋乳子發人背癰也入煎藥為末調入或將好投入一二沸即傾　畏鬱金　忌火）</p>

<h2>沉香</h2>
<p>（凡使須要不枯色黑潤者良如觜角硬重沉於水下為上也半沉者次也入散中用須候眾藥出即入拌和用之入煎磨汁　忌見火）</p>

<h2>乳香</h2>
<p>（圓小光明者良一方以燈心同研或以糯米數粒同研或以人畜甲二三片同研或以乳缽坐熱水中乳之云皆易細總不如研細和人乳略蒸再研勻曬乾研如飛塵為妙藥將沉下一二沸即起勿多煮）</p>

<h2>沒藥</h2>
<p>（透明者良制同乳香法）</p>

<h2>金櫻子</h2>
<p>（熬膏服或和藥霜降後採金櫻子不拘多少以粗氣微搗去毛刺淨復搗破去子約有一斗用水二斗煮之一飯時漉起清汁又入白水煮之又漉起又入白水煮三次之後其渣淡而無味去之止將淨汁復以細密絹濾過淨鍋熬之如飴乃止收貯瓷樽中坐涼水內一宿用服之大能固精良方二仙丹即此膏加入芡實粉）</p>

<h2>桑根白皮</h2>
<p>（自採入土東行者或竹刀或銅刀刮去黃粗皮手析成絲拌蜜瓦上炙根浮土上者殺人　桂心續斷麻子為之使　忌鐵器）</p>

<h2>桑葉</h2>
<p>（煎湯研汁為末俱可經霜者另取洗眼用）</p>

<h2>淡竹葉</h2>
<p>（䈽竹葉別有用）</p>

<h2>竹瀝</h2>
<p>（用取新鮮金竹鋸尺許中留節兩頭去節劈兩開不拘多少用磚二塊架定竹兩頭出磚二寸許各以瓷盤置於下候瀝滴其中用烈火熏逼則兩頭濈濈滴瀝於盤中竹將自燃瀝便盡矣就將滴過瀝竹為薪又架新竹於磚上如前燒逼任取多少淡竹䈽竹苦竹慈竹惟四種各有瀝堪用　薑汁為之使）</p>

<h2>竹皮茹</h2>
<p>（取極鮮竹刮皮磋去外硬青勿用止淡竹䈽竹苦竹堪用余不入藥）</p>

<h2>吳茱萸</h2>
<p>（凡使先去葉核並雜物了用大盆一口使鹽水洗一百轉自然無涎曬乾任入丸散中用修事十兩用鹽二兩研作末投東流水四斗中分作一百度洗別有大效若用醋煮即先沸醋三十餘沸後入茱萸待醋盡曬乾每用十兩使醋一鎰為度蓼實為之使　惡丹參硝石白紫石英）</p>

<h2>檳榔</h2>
<p>（凡使取外存坐櫽心文如流水碎破內文如錦紋者妙半白半黑並心虛者不入藥用凡使須別檳與榔頭圓身形矮毗者是榔身形尖紫文粗者是檳檳力小榔力大欲使先以刀刮去底細切勿經火恐無力效若熟使不如不用）</p>

<h2>梔子</h2>
<p>（凡使勿用顆大者號曰伏屍梔子無力須要如雀腦並須長有九路赤色者上凡使先去皮須了取九稜者仁以甘草水浸一宿漉出焙乾搗曬如赤金未用大率治上焦中焦連殼用下焦去殼沉去黃漿炒用治血病炒黑用）</p>

<h2>騏驎竭</h2>
<p>（凡使勿用海母血真似騏驎竭只是味鹽並腥氣騏驎竭味微鹽甘似梔子氣是也欲使先研作粉重篩過丸散膏中任使用勿與眾藥同搗化作飛塵也　得密陀僧良）</p>

<h2>龍腦香</h2>
<p>〔即冰片也形似白松脂作杉木氣明淨者善久經風日或如雀屎者不佳今人多以樟腦身打亂之不可不辨也云合糯（一作粳）米炭相思子貯之則不耗膏主耳聾〕</p>

<h2>蕪荑</h2>
<p>（炒去殼氣嗅如信者真）</p>

<h2>枳殼</h2>
<p>（凡使勿使枳實緣性效不同若使枳殼取辛苦腥並有隟油能消一切㿏要陳久年深者為上用時先去瓤以麩炒過待麩黑焦遂出用布拭上焦黑然後單搗如粉用產江右者良）</p>

<h2>枳實</h2>
<p>（色黑陳久者良去穰麩炒黃色）</p>

<h2>厚朴</h2>
<p>（凡使要用紫色有油質厚者良去粗皮用酥炙過每修一斤用酥四兩炙了細銼用若湯飲下使用自然薑汁八兩炙一升為度　乾薑為之使　惡澤瀉硝石寒水石　忌豆）</p>

<h2>山茱萸</h2>
<p>（凡使勿用雀兒酥真似山茱萸只是核八稜不入藥用圓而紅潤肉厚者佳酒拌砂鍋上蒸去核了一斤取肉皮用只秤成四兩以來凡蒸藥用柳木甑去水八九寸水不泛上余悉准此　蓼實為之使惡桔梗防風防己）</p>

<h2>胡桐淚</h2>
<p>（形似黃礬而堅實有夾爛木者木淚乃樹脂流出者其狀如膏油石淚乃脂入土石間者其狀成塊以其得滷斥之氣故入藥為勝　伏砒石）</p>

<h2>豬苓</h2>
<p>（用銅刀削去粗皮一重薄切下東流水浸一夜至明漉出細切蒸一日出曬乾用一云豬苓取其行濕生用更佳）</p>

<h2>烏藥</h2>
<p>（連珠者良洗淨切）</p>

<h2>龍眼</h2>
<p>（生者沸湯淪過食不動脾）</p>

<h2>安息香</h2>
<p>（或燒熏或末服）</p>

<h2>仙人杖</h2>
<p>（此是筍欲成時立死者色黑如漆五六月收之）</p>

<h2>海桐皮</h2>
<p>（酒浸服亦可入煎）</p>

<h2>五倍子</h2>
<p>（或生或炒俱為末入藥）</p>

<h2>大腹</h2>
<p>（擘去垢黑用溫水洗淨再用黑豆汁洗方可用曬乾此樹鳩鳥多棲之遺屎在皮上不淨恐有毒今人用之不制大誤）</p>

<h2>天竺黃</h2>
<p>（輕者真伏粉霜）</p>

<h2>密蒙花</h2>
<p>（凡使先揀令淨用酒浸一宿漉出候乾卻拌蜜令潤蒸從卯至酉出曬乾如此拌蒸三度又卻曬乾用每修事一兩用酒八兩浸待色變用蜜半兩蒸為度此元名水錦花）</p>

<h2>巴豆</h2>
<p>（凡使巴之與豆及剛子須在仔細認勿誤用殺人巴顆小緊實色黃豆顆有三稜黑色剛子顆小似棗核兩頭尖巴與豆即用剛子勿使凡修事巴豆敲碎去油淨用白絹袋包甘草水煮焙乾或研膏用每修事一兩以酒麻油各七合盡為度為瘡瘍敷藥須炒黑存性能去瘀肉生新肉有神　芫花為之使　得火良　惡蓑草牽牛　畏大黃藜蘆黃連蘆筍醬豉豆汁冷水）</p>

<h2>蜀椒</h2>
<p>（一名南椒凡使須去目及閔口者不用其椒子先須酒拌令濕蒸從巳至午放令密蓋除下火四畔無氣後取出便入瓷器中盛勿令傷風用也　杏仁為之使　得鹽良　畏款冬花防風附子雄黃槖吾冷水麻仁漿）</p>

<h2>皂莢</h2>
<p>（凡使須要赤膩肥並不蛀者用新汲水浸一宿用銅刀削上粗皮用酥反覆炙酥盡為度取出槌之去子搗篩皂莢一兩酥二分子收得揀取圓滿堅硬不蛀者用瓶盛下水於火畔煮待炮熟剝去硬皮一重了取向里白嫩肉兩片去黃其黃消人腎氣將白兩片用銅刀細切於日中乾用一法麵裹煨去核　柏實為之使　惡麥門冬　畏空青人參苦參　伏丹砂粉霜硫黃硇砂）</p>

<h2>訶子</h2>
<p>（本名訶黎勒凡使勿用毗黎勒罨黎勒榔精勒雜路勒若訶黎勒文只有六路或多或少並是雜路勒毗路勒個個毗雜路勒皆圓露文或八路至十三路號曰榔精勒多澀不入用凡修事先於酒內浸然後蒸一伏時其訶黎勒以刀削路細銼焙乾用之）</p>

<h2>赤檉柳</h2>
<p>（治痧疹聖藥也得之毒自出可不死）</p>

<h2>楝實</h2>
<p>（凡採得後曬乾酒拌浸令濕蒸待上皮軟剝去皮取肉去核勿單用其核槌碎用漿水煮一伏時了用如使肉即不使核使核即不使肉　茴香為之使）</p>

<h2>椿木</h2>
<p>（椿木根凡使不近西頭者上及不用其葉只用根採出拌生蔥蒸半日出生蔥細銼用袋盛掛屋南畔陰乾用偏利溺澀也一法用根皮漂淨酒拌炒）</p>

<h2>無食子</h2>
<p>（凡使勿令犯銅鐵並被火驚者顆小文細上無杴米者炒用漿水於砂盆中或硬石上研令盡卻焙乾研了用勿搗能為黑犀色）</p>

<h2>雷丸</h2>
<p>（赤色者殺人取肉白者用甘草水浸一宿銅切刮上黑皮破作四五片又用甘草湯浸一宿後蒸從巳至未出曬乾卻以酒拌如前從巳至未蒸曬乾用一法用蒼朮湯泡去皮切　厚朴芫花蓄根荔實為之使　惡葛根）</p>

<h2>蘇方木</h2>
<p>（紅潤者良凡使去粗皮並節了若有中心文橫如紫角者號曰木中尊色甚致倍常百等須細銼了重搗拌細條梅枝蒸從巳至申出陰乾用）</p>

<h2>楜椒</h2>
<p>（凡使只用內無皺殼者用方大漢椒使殼胡椒使子每修煉了於石槽中碾碎成粉用）</p>

<h2>益智子</h2>
<p>（去殼炒臨用研）</p>

<h2>樺木皮</h2>
<p>（主諸黃疸濃煮汁飲之良）</p>

<h2>榧實</h2>
<p>（同鵝肉食生斷節風又上壅人皮反綠豆能殺人　忌火氣）</p>

<h2>木鱉子</h2>
<p>（入藥去油者）</p>

<h2>柞木子</h2>
<p>（能開交骨所以催生有神）</p>

<h2>棕櫚子</h2>
<p>（入藥燒灰用不可絕過即是煅存性研如飛塵散瘀止血之神藥也）</p>

<h2>木槿</h2>
<p>（入藥炒用取汁度絲使得易落）</p>

<h1>果部</h1>

<h2>豆蔻</h2>
<p>（俗名草果者是也去蒂並內裡子後取皮同茱萸於鍋中緩炒待茱萸微黃黑即去茱萸取草豆蔻皮及子杵用之）</p>

<h2>蓮肉</h2>
<p>（去心勿去皮分作兩片每片分作四小塊瓦上焙焦色一法每一斤用獖豬肚一個盛貯煮熟搗焙用之　得茯苓山藥白朮枸杞子良）</p>

<h2>荷鼻</h2>
<p>（採荷葉近蒂者是　畏桐油　伏白銀硫黃）</p>

<h2>橘皮</h2>
<p>（真廣陳皮豬鬃紋香氣異常去白時不可浸於水中止以滾湯手蘸三次輕輕刮去白要極淨）</p>

<h2>橘核</h2>
<p>（以新瓦焙香去殼取仁研碎入藥）</p>

<h2>青皮</h2>
<p>（以湯浸去瓤切片醋拌瓦炒過用）</p>

<h2>大棗</h2>
<p>（去核有齒病疳病蟲䘌人及小兒不宜食　忌與蔥同食令人五臟不和與魚同食令人腰腹痛）</p>

<h2>慄</h2>
<p>（日中曝乾食下氣補益火煨去汗亦佳生食有木氣不補益人蒸炒熟食壅氣凡患風人及小兒不可食解羊肉膻）</p>

<h2>覆盆子</h2>
<p>（凡使用東流水淘去黃葉並皮蒂儘子用酒拌蒸一宿以東流水淘兩遍曬乾方用為妙也）</p>

<h2>雞頭實</h2>
<p>（凡用蒸熟烈日曬裂取仁亦可舂取粉用入澀精藥有連殼用者一云芡實一斗以防風四兩煎湯浸過用且經久不壞）</p>

<h2>烏梅</h2>
<p>（去核微炒用造法取青梅籃盛於突上燻黑若以稻灰淋汁潤濕蒸過則肥澤不蠹忌豬肉）</p>

<h2>木瓜</h2>
<p>（產宣州者真即彼處多以小梨充之勿令犯鐵用銅刀削去硬皮並子薄切於日中曬卻用黃牛乳汁拌蒸從巳至未其木瓜如膏煎卻於日中攤曬乾用也今止去穰槌碎用）</p>

<h2>柿</h2>
<p>（不用火烘日曬採青者收置器中自然紅熟澀味盡去而甘不可與蟹同食作瀉惟木香磨汁飲可解）</p>

<h2>柿霜</h2>
<p>（用大柿去皮捻遍日曬夜露至干內甕中待生白霜乃取出市者多偽不入藥）</p>

<h2>烏芋</h2>
<p>（即荸薺也能消瘴氣）</p>

<h2>枇杷葉</h2>
<p>（凡使採得後秤濕者一葉重一兩乾者三葉重一兩是氣足堪用以粗布拭上毛令盡用甘草湯洗一遍卻用綿再拭極淨每一兩以酥一分炙之酥盡為度如治肺病以蜜水塗炙治胃病以薑汁塗炙此物治咳嗽如去毛不盡反令人嗽也）</p>

<h2>甘蔗</h2>
<p>（榨漿飲消渴解酒痧疹最宜）</p>

<h2>桃仁</h2>
<p>（七月採之去皮尖及雙仁者麩炒研如泥或燒存性用此破血行瘀血之要藥也雷公法用白朮烏豆二味和桃仁同於垍堝子中煮一伏時後漉出用手擘作兩片其心黃如金色任用之行血宜連皮尖生用　香附為之使）</p>

<h2>桃花</h2>
<p>（三月三日採陰乾之勿使干葉者能使人鼻衄不止目黃凡用揀令淨以絹袋盛於檐下懸令乾去塵用）</p>

<h2>桃梟</h2>
<p>（是千葉桃花結子在樹上不落者於十一月內採得一云正月採之中實者良凡修事以酒拌蒸從巳至未焙乾以銅刀切焙取肉用一法搗碎炒若止血炒黑存性）</p>

<h2>杏仁</h2>
<p>（五月採之以湯浸去皮尖及雙仁者麩炒研用治風寒肺病藥中亦有連皮尖用者取其發散也）</p>

<h2>梨子</h2>
<p>（消熱痰加牛黃末療小兒風疾痰湧有神解熱毒久服不患癰疽）</p>

<h2>橄欖</h2>
<p>（中河豚毒煮汁服或生嚼）</p>

<h2>山楂</h2>
<p>（水潤蒸去核淨肉用）</p>

<h1>米穀部</h1>

<h2>胡麻</h2>
<p>（凡修事以水淘浮者去之沉者漉出令乾以酒拌蒸從巳至亥出攤曬乾於臼中舂令粗皮一重盡拌小豆相對同炒小豆熟即出去小豆用之蒸不熟令人發落　與茯苓相宜）</p>

<h2>麻子</h2>
<p>（極難去殼取帛包置沸湯中浸至冷出之垂井中一夜勿令著水次日日中曝乾就新瓦上挼去殼簸揚取仁粒粒皆完畏牡蠣白茯苓白薇）</p>

<h2>飴糖</h2>
<p>（糯米作者入藥粟米者次之餘但可食耳）</p>

<h2>生大豆</h2>
<p>（或搗或煮汁或炒屑各有用　得前胡烏喙杏仁牡蠣諸膽汁良　惡五參龍膽　豆黃屑忌豬肉小兒以炒豆豬肉同食必壅氣致死十有八九十歲以上不畏也）</p>

<h2>赤小豆</h2>
<p>（法同大豆合魚酢食成消渴）</p>

<h2>大豆黃卷</h2>
<p>（或胡爛絞汁或炒為末用黑大豆為櫱芽生五寸長便乾之名為黃卷一法壬癸日以井華水浸大豆候生芽取皮陰乾用　得前胡杏子牡蠣烏喙天雄鼠屎共蜜和良　惡海藻龍膽）</p>

<h2>酒</h2>
<p>（人為火燎以陳酒浸之止痛拔出火毒令人不死）</p>

<h2>粟米</h2>
<p>（即小米陳者良與杏仁同食令人吐瀉）</p>

<h2>秫米</h2>
<p>（小兒病人不宜多食）</p>

<h2>粳米</h2>
<p>（陳者下氣病人宜之）</p>

<h2>糵米</h2>
<p>（凡谷皆可生糵有粟黍穀麥豆諸糵皆水浸脹候生芽曝乾去須取其中米炒研面用其功皆主消導　粟糵　稻糵　穬麥糵各有用）</p>

<h2>舂杵頭細糠</h2>
<p>（凡谷皆有糠粳稻粟秫者勝北方多用杵南方多用碓入藥並用丹家云糠火煉物力倍於常）</p>

<h2>小麥</h2>
<p>（浮者止汗須揀淨焙用）</p>

<h2>麥麩</h2>
<p>（性涼用炒諸藥）</p>

<h2>蕎麥</h2>
<p>（壓丹石毒作面和豬羊肉熱食不過八九頓即患熱風鬚眉脫落還生亦希涇汾以北多此疾又不可合黃魚食家常多犯故特拈著）</p>

<h2>曲</h2>
<p>（凡使須陳久者搗作末後掘地坑深二尺用物裹納坑中至一宿明出焙乾用）</p>

<h2>神麯</h2>
<p>（五月五日六月六日或三伏日為諸神集會之辰故名神麯如過此日造者非也法用白虎白麵一百斤勾陳蒼耳自然汁三升騰蛇青蓼自然汁四升青龍青蒿自然汁三升玄武杏仁四升泡去皮尖搗爛入面朱雀赤小豆三升煮熟去皮　搗爛和麵一處勻一如造酒面法以麻葉或楮葉包罯如造醬黃法待生黃衣曬收之凡用須火炒黃以助土氣陳久者良）</p>

<h2>扁豆</h2>
<p>（紫花者良炒去殼打碎　解酒河豚魚一切草木毒生嚼及煮汁飲）</p>

<h2>淡豆豉</h2>
<p>（出江西者良黑豆性乎作豉則溫既經蒸罯故能升能散得蔥則發汗得鹽則能吐得酒則治風得薤則治痢得蒜則止血炒熟則又能止汗）</p>

<h2>紅曲</h2>
<p>（亦出江西陳久者良吹淨炒研用）</p>

<h2>綠豆</h2>
<p>（生研絞汁或煮食用之宜連皮去皮則令人少壅氣當是皮寒肉乎故也圓小綠者佳　反榧子殼　忌鯉魚酢　解金石砒霜一切草木諸毒連皮生研水服）</p>

<h2>醋</h2>
<p>（米造陳者良醋酒為用無所不入故製藥多用之　服茯苓丹參不可食醋）</p>

<h2>醬</h2>
<p>（豆作者良麥作者不用以久久為佳又有肉醬魚醬皆呼為醢不入藥用）</p>

<h2>罌子粟</h2>
<p>（用熱水泡軟擘去筋膜切成絲用蜜水或米醋拌微炒曬乾用　忌蒜醋胡椒）</p>

<h1>菜部</h1>

<h2>瓜蒂</h2>
<p>（凡使勿用白瓜蒂要採取青綠色瓜待瓜氣足其瓜蒂自然落在蔓莖上採得未用時使櫛櫛葉裹於東牆有風處掛令吹乾用）</p>

<h2>白冬瓜</h2>
<p>（此物經霜後皮上白如粉塗故云白冬瓜也被霜後取置經年破取核水洗燥去殼擂仁用一用皮肉搗絞汁服）</p>

<h2>白芥子</h2>
<p>（研用）</p>

<h2>萊菔</h2>
<p>（生食熟食俱可治久脾泄百藥不效煮食經年無不效者但不可與地黃同食多食動氣惟生薑能制其毒伏硇砂）</p>

<h2>萊菔子</h2>
<p>（炒研能消食性峻利傷人真氣勿久服）</p>

<h2>黃蜀葵花</h2>
<p>（瘡家要藥作末及浸油俱可）</p>

<h2>蔥頭</h2>
<p>（取根白一二寸連須用洗淨　忌蜜及常山）</p>

<h2>韭</h2>
<p>（絞生汁飲其子入藥揀淨蒸熟曝乾簸去黑皮炒黃研用　忌蜜及牛肉　伏石鐘乳乳香）</p>

<h2>荊芥</h2>
<p>（陳者良去梗取穗若用止血須炒黑）</p>

<h2>蘇子</h2>
<p>（自收方真市者俱偽略炒研極細煎成藥投入二三沸即傾）</p>

<h2>紫蘇</h2>
<p>（兩面俱紫自種者真）</p>

<h2>薄荷</h2>
<p>（產蘇州龍腦者良）</p>

<h2>苦匏</h2>
<p>（即苦壺盧也凡用須細理瑩淨無黶翳者乃佳不爾有毒）</p>

<h2>馬齒莧</h2>
<p>（凡使勿用葉大者不是馬齒莧亦無水銀忌與鱉同食食之俱變成鱉齧人腹至不可治）</p>

<h2>蕺菜</h2>
<p>（治肺癰俗名魚腥草生陰處）</p>

<h2>木耳</h2>
<p>（桑槐樹上生者良煮羹食有用罐盛大火內煅去煙存性為末入藥）</p>

<h1>人部</h1>

<h2>發髲</h2>
<p>（凡使是男子年可二十以來無疾患顏貌紅白於頂心剪下者發是凡於丸散膏中先用苦參水浸一宿漉出入瓶子以火煅之令通赤放冷研用）</p>

<h2>人乳汁</h2>
<p>（白而不腥者良）</p>

<h2>人牙齒</h2>
<p>（入藥燒用）</p>

<h2>人糞</h2>
<p>（宜用絕乾者搗末沸湯沃服之一名金汁埋地中年久者良）</p>

<h2>人溺</h2>
<p>（肥白無病童子味不咸雪白者良）</p>

<h2>人中白</h2>
<p>（溺器中者良火煅研）</p>

<h2>褲襠</h2>
<p>（取中裩近隱處男用女女用男或取汁或燒灰服）</p>

<h2>天靈蓋</h2>
<p>（凡用彌腐爛者佳有一片如三指闊者取得用煻灰火罨一夜待腥穢氣盡卻用童便於瓷鍋中煮一伏時漉出於屋下握得一坑深一尺置骨於中一伏時其藥魂歸神妙陽人使陰陰人使陽男骨色不赤女骨色赤以此別之一法同檀香湯洗過酥炙用或燒存性用）</p>

<h2>紫河車</h2>
<p>（置酒內覆者男胎也首胎重十五兩以上先將酒洗數次血水方盡用銀簪腳剔去筋膜封固銀鍋內加酒重湯煮一晝夜或文武火焙乾一法米泔浸淨入豬肚中蒸爛搗膏入藥忌犯鐵）</p>

<h1>獸部</h1>

<h2>龍骨</h2>
<p>（骨細文廣者是雌骨粗文狹者是雄骨五色者上白色者中黑色者次黃色者稍得經落不淨之處並婦人採得者不用洗淨摶研如粉極細方入藥其效始神但是丈夫服空心益腎藥中安置圓龍骨氣入腎臟中也雷公所云生用法也一法用酒浸一宿焙乾研粉水飛三度用如急用以酒煮焙乾或云凡入藥須水飛曬乾每斤用黑豆一斗蒸一伏時曬乾用否則著人腸胃晚年作熱也　得人參牛黃黑豆良　畏石膏鐵　忌魚）</p>

<h2>龍齒</h2>
<p>（搗碎入丸煅研得畏忌同龍骨）</p>

<h2>麝香</h2>
<p>（其香有三等一者名遺香是麝子臍閉滿其麝自於石上用蹄尖揮臍落處一里草木不生並焦黃人若收得此香價與明珠同也二名膝香採得甚堪用三名心結香被犬獸驚心破了因茲狂走雜諸群中遂乳投水被人收得擘破見心流在脾結作一個乾血塊可隔山澗早聞之香是香中之次也凡使麝香並用子日開之方用細研篩用之也當門子良凡用另研　忌大蒜）</p>

<h2>牛黃</h2>
<p>（凡使有四件第一件是生神黃賺得者次有角黃是取之者又有心黃是病死後識者剝之劈破取心其黃在心中如濃黃醬汁採得便投於水中黃沾水復便如碎蒺藜子許如豆者硬如帝珠子次有肝黃其牛身上光眼如血色多玩弄好照水自有夜光恐懼人或有人別採之凡用須先單搗細研如塵卻絹裹又用黃嫩牛皮裹安於井面上去水三四尺以來一宿至明方取用之　人參為之使　得牡丹菖蒲利耳目　惡龍骨龍膽地黃常山蜚蠊　畏牛膝乾漆）</p>

<h2>象牙</h2>
<p>（刮取屑細研用）</p>

<h2>鹿角膠</h2>
<p>（自煎者良酒　化服為上或用麥門冬橘紅砂仁煎湯化服　入丸用酒或水頓化和蜜或炒成珠亦得　得火良　畏大黃）</p>

<h2>阿膠</h2>
<p>（油綠色光明可鑑者真凡使先於豬脂內浸一宿至明出於柳木火上炙待炮了可研用只以蛤粉炒成珠用為便　薯蕷為之使　得火良　畏大黃）</p>

<h2>白馬莖</h2>
<p>（凡收當取銀色無病白馬春月遊牝時力勢正強者生取陰乾百日用一法以銅刀破作七片將生羊血拌蒸半日曬乾以粗布去毛及乾血銼碎用）</p>

<h2>鹿茸</h2>
<p>（須茄茸如琥珀紅潤者良凡使先以天靈蓋作末然後鋸解鹿茸作片子以好羊脂拌天靈蓋末塗之於鹿茸上慢火炙之令內外黃脆瞭如褐色用鹿皮一片裹之安室上一宿其藥魂歸也至明則以慢火焙之令脆方搗作末用之每五兩鹿茸用羊脂三兩炙盡為度茸中有小白蟲視之不見入人鼻必為顙蟲藥不及也切不可以鼻嗅　麻勃為之使）</p>

<h2>牛膽</h2>
<p>（臘月黃牛青牛者良）</p>

<h2>牡狗陰莖</h2>
<p>（六月上伏日取陰乾百日切片酥拌炒）</p>

<h2>羚羊角</h2>
<p>（帶黃色者角彎中深銳緊小有掛痕者真耳邊聽之集集鳴者良凡修事勿令單用不復有驗須要不折原對以繩縛之將鐵錯子錯之旋旋取用勿令犯風錯末盡處須二重紙裹恐力散也錯得了即單搗搗盡背風頭重篩過然後入藥中用免刮人腸也一說密裹藏懷中取出搗易碎）</p>

<h2>犀角</h2>
<p>（凡使以黑如漆黃如慄上下相透雲頭雨腳分明者為上次用烏黑肌粗皺摺裂光潤者良近人多巧偽藥染湯煮無所不至須辨之凡修治錯其屑入臼中搗令細再入缽中研萬匝方入藥中用之一說入人懷內一宿易碎或磨汁入藥用　松脂升麻為之使　惡雷丸雚菌烏頭烏喙　忌鹽妊婦勿服能消胎氣）</p>

<h2>虎骨</h2>
<p>（脛骨良頭頸骨俱可用色黃者佳雄虎者勝藥箭射殺者不可入藥其毒浸漬骨血間能傷人也製法並捶碎去髓塗酥或酒或醋各隨方法炭火炙黃入藥）</p>

<h2>豬懸蹄</h2>
<p>（古方有用左蹄甲者有後蹄甲者酒浸半日炙焦用）</p>

<h2>豬四足</h2>
<p>（母豬者良）</p>

<h2>豬膽</h2>
<p>（陰乾汁亦可和藥）</p>

<h2>豬肚</h2>
<p>（豬水畜而胃屬土故方藥用之補虛以胃治胃也）</p>

<h2>糜角</h2>
<p>（煎膠與鹿角膠同法取霜用角水浸七日刮去皮錯屑以銀瓶盛牛乳浸一日乳耗再加至不耗乃止用油紙密封瓶口別用大麥鋪鍋中三寸上安置再以麥四周填滿入水浸一伏時水耗旋加待屑軟如面取出焙研成霜用）</p>

<h2>狐陰莖</h2>
<p>（炙為末酒服）</p>

<h2>獺肝</h2>
<p>（炙脆研　諸畜肝葉皆有定數惟獺肝一月一葉十二月十二葉其間又有退葉用之須見形乃可驗不爾多偽也）</p>

<h2>猯肉</h2>
<p>（膏油入膏藥中拔濕如神趙府膏藥中用之）</p>

<h2>膃肭臍</h2>
<p>（此物多偽海中有獸號曰水烏龍海人採得殺之取腎藥中修合恐有誤其物自殊有一對其有兩重薄皮裹丸氣肉核皮上自有肉黃毛三莖其一穴年年陰濕常如新兼將於睡著犬躡足置於犬頭其驀驚如狂即是真也用酒浸一宿後以布裹微微火上炙令青細銼單搗用也　以漢椒　樟腦同收則不壞）</p>

<h1>禽部</h1>

<h2>雄雀屎</h2>
<p>（凡使勿用雀兒糞其雀兒口黃未經淫者糞名雀蘇不入藥雄屎兩頭尖圓者是凡採得先去雨畔有附子生者勿用缽中研如粉煎甘草湯浸一宿傾上清甘草水盡焙乾任用日華子云凡鳥左翼掩右者是雄其屎頭尖挺直）</p>

<h2>伏翼</h2>
<p>（凡使要重一斤者先拭去肉上毛及去爪腸留肉翅並嘴腳以好酒浸一宿取出以黃精自然汁五兩塗炙至盡炙乾用一法止煅存性近世用者多煅存性耳　莧雲實為之使）</p>

<h2>天鼠屎</h2>
<p>（即伏翼糞方言名天鼠爾一名夜明砂凡採得以水淘去灰土惡氣取細砂曬乾焙用其砂乃蚊蚋眼也惡白蘞白薇）</p>

<h1>蟲魚部</h1>

<h2>石蜜</h2>
<p>（凡煉蜜只得十二兩半是數若火少火過並用不得凡煉蜜每斤入水四兩銀石器內以桑柴火慢煉掠去浮沫至滴水成珠不散乃用謂之水火煉法又法以器盛置重湯中煮一日候滴水不散取用更不傷火）</p>

<h2>蜜蠟</h2>
<p>（蠟乃蜜脾底也取蜜後煉過濾入水中候凝取之色黃者名黃蠟煎煉極淨色白者名白蠟一說新則白久則黃非也與今時所用蟲造白蠟不同　惡芫花齊蛤）</p>

<h2>牡蠣</h2>
<p>（左顧者良東流水入鹽一兩煮一伏時後入火中燒令通赤然後入缽中研如粉用也一法火煅醋淬七次研極細如飛面　貝母為之使　得甘草牛膝遠志蛇床子良　惡麻黃辛夷吳茱萸伏硇砂）</p>

<h2>真珠</h2>
<p>（於臼中搗令細以絹羅重重篩過卻便研二萬下了用不細則傷人臟腑凡使要不傷破及鑽透者可用也一法入豆腐內蒸易碎入目生用不用蒸依上法為是）</p>

<h2>玳瑁</h2>
<p>（入藥生用以其性味全也既經陽火即不堪用與生熟犀角義同）</p>

<h2>桑螵蛸</h2>
<p>（凡使勿用諸雜樹上生者不入藥中用須桑樹畔枝上者採得去核子用沸漿水浸淘七遍令水遍沸於瓷鍋中熬令乾用勿亂別修事卻無效也　得龍骨止精　畏旋覆花戴椹）</p>

<h2>石決明</h2>
<p>（即真珠母也七九孔者良先去上粗皮用鹽並東流水於大瓷器中煮一伏時了漉出拭乾搗為末研如粉更用東流水於瓷器中如此淘之三度待乾再研一萬匝方入藥中用凡修事五兩以鹽半分則取服之十兩永不得食山桃令人喪目也）</p>

<h2>海蛤</h2>
<p>（此即鮮蛤子雁食後糞中出有文彩者為文蛤無文彩者為海蛤鄉人多將海岸邊爛蛤殼被風濤打磨瑩滑者偽作之凡修事一兩於漿水中煮一伏時後卻以地骨皮柏葉各二兩又煮一伏時後於東流水中淘三遍拭乾細搗研如粉用　蜀漆為之使　畏狗膽甘遂芫花）</p>

<h2>文蛤</h2>
<p>（修事法同海蛤）</p>

<h2>蠡魚</h2>
<p>（俗名烏魚亦名黑魚諸魚中惟此膽甘可食）</p>

<h2>鯽魚</h2>
<p>（子不宜與豬肉同食同砂糖食生疳蟲同芥菜食成腫疾同豬肝雞肉雉肉鹿肉猴肉食生癰疽同麥門冬食害人）</p>

<h2>蝟皮</h2>
<p>（作豬蹄者妙鼠腳者次炙脆研用）</p>

<h2>露蜂房</h2>
<p>（治臃腫醋水調塗治瘡煎洗入藥炙用　惡乾薑丹參黃芩芍藥牡蠣）</p>

<h2>蟬蛻</h2>
<p>（用沸湯洗淨泥土去頭足翅用攻毒全用）</p>

<h2>烏賊魚骨</h2>
<p>（凡使要上文順渾用血滷作水浸並煮一伏時了漉出於屋下掘一地坑可盛得前件烏賊魚骨多少先燒坑子去炭灰了盛藥一宿至明取出用之其效倍多　惡白芨白蘞附子）</p>

<h2>原蠶蛾</h2>
<p>（炒去翅足用）</p>

<h2>蠶蛻</h2>
<p>（近世醫家多用蠶蛻紙而東方諸醫用蠶欲老眠起所蛻皮雖二者之用各殊然東人所用者為正用之當微炒）</p>

<h2>白殭蠶</h2>
<p>（凡使除絲綿並子盡以糯米泔浸一宿待蠶桑涎出如蝸牛涎浮於水面上然後漉出微火焙乾以布淨拭蠶上黃肉毛並黑口甲了單搗篩如粉用也白而直折開如瀝青色者佳惡桔梗茯苓茯神萆薢桑螵蛸）</p>

<h2>蛞蝓</h2>
<p>（即蜒蚰也　畏鹽）</p>

<h2>蝸牛</h2>
<p>（此即負殼蜒蚰也生研服入藥炒用　鹽）</p>

<h2>䗪蟲</h2>
<p>（即俗名地鱉也生人家牆壁下土中濕處治傷寒損續絕及消瘧母為必須之藥也能行瘀血　畏皂莢　菖蒲屋遊）</p>

<h2>青魚膽</h2>
<p>（鮮者可煮服乾者用醋及水磨用）</p>

<h2>鱉甲</h2>
<p>（七九肋者良醋炙透焦研細再拌醋瓦上焙乾再研如飛面　惡礬石理石）</p>

<h2>蠍</h2>
<p>（形緊小者良酒洗淨炙乾研）</p>

<h2>蟾酥</h2>
<p>（端午日取蝦蟆眉脂其法取大蝦蟆用蛤蜊殼未離帶者合蝦蟆眉上用力一捻則酥出於殼內收在油明紙上干收貯用蝦蟆放去而酥復生仍活）</p>

<h2>鼠糞</h2>
<p>（牡鼠者良其糞兩頭尖）</p>

<h2>蚺蛇膽</h2>
<p>（人多以豬膽虎膽偽為之試法剔取粟許著淨水中浮游水上回旋行走者為真偽者亦走但遲耳其徑沉者諸膽血也勿多著亦沉散也）</p>

<h2>蛇蛻</h2>
<p>（凡使勿用青黃蒼色者要用白如銀色者凡欲使先於屋下以地掘一坑可深一尺二寸安蛇皮於中一宿至卯時出用醋浸一時於火上炙乾用之　得火良　畏磁石及酒）</p>

<h2>白頸蚯蚓</h2>
<p>（凡使收得後用糯米水浸一宿至明漉出以無灰酒浸一日至夜漉出曬令乾後細切取蜀椒並糯米及切了蚯蚓三件同熬之待糯米熟去米椒了揀淨用之凡修事二兩糯米一分椒一分為準　畏蔥鹽）</p>

<h2>蜈蚣</h2>
<p>（凡使勿用千足蟲真似只是頭上有白肉而並嘴尖若誤用並聞著腥臭氣入頂致死凡治蜈蚣先以蜈蚣木末不然用柳蚛末於土器中炒令木末焦黑後去木末了用竹刀刮去足甲了用蜈蚣木不知是何木也今人惟以火炙去頭足用或去尾足以薄荷葉火煨用之　畏蛞蝓蜘蛛白鹽雞屎桑白皮）</p>

<h2>蛤蚧</h2>
<p>（凡使須認雄雌若雄為蛤皮粗口大身小尾粗雌為蚧口尖身大尾粗男服雌女服雄凡修事服之其毒在眼須去眼及去甲上尾上腹上肉毛以酒浸方乾用紙兩重於火上緩隔紙焙炙待兩重紙乾焦透後去紙取蛤蚧於瓷器中盛於東舍角畔懸一宿取用力可十倍勿傷尾效在尾也一云只含少許急奔百步不喘者真）</p>

<h2>水蛭</h2>
<p>（極難修制須細銼後用微火炒令色黃乃熟不爾入腹生子為害一法採得以䈽竹筒盛待乾用米泔浸一夜曝乾展其身看腹中有子皆去之以冬豬脂煎令焦黃然後用　畏石灰食鹽）</p>

<h2>斑蝥</h2>
<p>（入藥除翼足以糯米拌炒米黃黑色去米取用生用吐瀉人一法用麩炒過醋煮用　馬刀為之使　畏巴豆丹參空青　惡膚青甘草豆花　斑蝥芫青亭長地膽之毒靛汁黃連黑豆蔥茶皆能解之）</p>

<h2>白花蛇</h2>
<p>（一云去頭尾各一尺有大毒不可用只用中叚一云黔蛇長大故頭尾可去一尺蘄蛇止可頭尾各去三寸亦有單用頭尾者大蛇一條只得淨肉四兩而已久留易蛀惟以湯浸去皮骨取肉炙過蜜封藏之十年亦不壞也其骨刺須遠棄之傷人毒與生者同也凡酒浸春秋三宿夏一宿冬五宿取出炭火焙乾如此三次以砂瓶盛埋地中一宿出　得酒良）</p>

<h2>烏蛇</h2>
<p>（制同上法）</p>

<h2>蜣螂</h2>
<p>（五月五日取蒸藏之臨用當炙勿置水中令人吐）</p>

<h2>五靈脂</h2>
<p>（此是寒號蟲糞也此物多夾砂石絕難修治凡用研為細末以酒淘飛澄去砂腳曬乾醋拌炒惡人參）</p>

<h2>穿山甲</h2>
<p>（正名鯪鯉或炮或燒或酥炙醋炙童便炙或油煎土炒蛤粉炒當各隨本方未有生用者仍以尾甲乃力勝）</p>
<p>予見今之時師童而習之俱藥性櫽括駢語守為家珍而於神農本草及先賢炮炙法一切高文大牘竟未嘗夢見臨證用藥方產之真贗莫別修事之軌則全乖欲以攻病譬如克敵致勝責效於不練之猝至病者甘以七尺之軀往往聽其嘗試良可憫也先生曰子言誠然因檢目前嘗用諸藥品悉按雷公炮炙去其迂闊難遵者而裁以已法其無雷公者則自為闡發以益前人所未逮凡諸使制解伏並反忌惡畏等附系其下庶病家考用一覽瞭然兼可質醫師之誤其所裨益功豈鮮哉舊筆記所刻止九十餘種今廣至四百三十九種一一皆先生口授而予手錄之其間刪繁舉要補闕拾遺句字之出入必嚴點畫之幾微必審稿凡四易始付殺青予竊有微勞焉</p>
<p>延陵莊繼光謹識</p>

<h1>用藥凡例</h1>
<p>藥劑丸散湯膏各有所宜不得違制</p>
<p>藥有宜丸宜散者宜水煎者宜酒漬者宜煎膏者亦有一物兼宜者亦有不可入湯酒者並隨藥性不可過越湯者蕩也煎成清汁是也去大病用之散者散也研成細末是也去急病用之膏者熬成稠膏也液者搗鮮藥而絞自然真汁是也丸者緩也作成圓粒也不能速去病舒緩而治之也漬酒者以酒浸藥也有宜酒浸以助其力如當歸地黃黃柏知母陰寒之氣味假酒力而行氣血也有用藥細銼如法煮酒密封早晚頻飲以行經絡或補或攻漸以取效是也凡諸湯用酒臨熟加之</p>
<p>細末者不循經絡止去胃中及臟腑之積及治肺疾咳嗽為宜氣味厚者白湯調氣味薄者煎之和渣服丸藥去下部之病者極大而光且圓治中焦者次之治上焦者極小麵糊丸取其遲化直至下焦或酒或醋取其收斂如半夏南星欲去濕者以生薑汁稀糊丸取其易化也湯泡蒸餅又易化滴水尤易化煉蜜丸者取其遲化而氣循經絡也蠟丸者取其難化而遲取效也</p>
<p>凡修丸藥用蜜只用蜜用餳只用餳勿交雜用且如丸藥用蠟取其能固護藥之氣味勢力全備以過關膈而作效也今若投蜜相和雖易為丸然下咽亦易散化如何得到臟中若其更有毒藥則便與人作病豈徒無益而又害之全非用蠟之本意</p>
<p>凡煉蜜皆先掠去末令熬色微黃試水不散再熬二三沸每用蜜一斤加清水一酒杯又熬一二沸作丸則收潮氣而不黏成塊也冬月煉蜜成時要加二杯水為妙衍義云每蜜一斤只煉得十二兩是其度數也和藥末要乘極滾蜜和之臼內用搗千百杵自然軟熟容易作條好丸也</p>
<p>凡丸散藥亦先細切暴燥乃搗之有各搗者有合搗者其潤濕之藥如天門冬地黃輩皆先切曝之獨搗或以新瓦慢火炕燥退冷搗之則為細末若入眾藥隨以和之少停回潤則和之不均也又濕藥燥皆大蝕耗當先增分兩待燥稱之乃准其湯酒中不須如此</p>
<p>凡合丸藥用密絹令細若篩散藥尤宜精細若搗丸必於臼中搗數百過色理和同為佳</p>
<p>凡藥浸酒皆須切細生絹袋盛乃入酒密封隨寒暑目數視其濃烈便可漉出不須待酒盡也渣則暴燥微搗更漬飲之亦可散服之</p>
<p>凡合膏或以醋或酒或水或油須令淹浸密覆至煮膏時當三上三下以泄其熱勢令藥味得出上之使匝匝沸下之要沸靜良久乃上之如有韭白在中者以兩段漸焦黃為度如有白芷附子者亦令小黃為度絞膏要以新布若是可服之膏滓亦可以酒煮飲之可磨之膏渣亦宜以敷患處此蓋欲兼盡具藥力也</p>
<p>凡湯酒膏中用諸石藥皆細搗之以新絹裹之內中衍義雲石藥入散如鍾乳粉之屬用水研乳極細必要二三日乃已以水漂澄極細方可服耳豈但搗細以絹裹之為例耶</p>
<p>凡煎膏中有脂先須揭去革膜子方可用之如豬脂勿令經水臘月者尤佳</p>
<p>凡膏中有雄黃硃砂輩皆當令研如面俟膏畢乃投入以物杖攪之不爾沉聚在下不勻也</p>
<p>凡草藥燒灰為末如荷葉柏茅根薊根十灰散之類必燒焦枯用器蓋覆以存性若如燒燃柴薪煅成死灰性亦不存而罔效矣</p>
<p>凡諸膏膩藥如桃仁麻仁輩皆另搗如膏乃以內成散中旋次下臼合研令消散</p>

<h1>煎藥則例</h1>
<p>凡煎湯劑必先以主治之為君藥先煮數沸然後下余藥文火緩緩熬之得所勿揭蓋連罐取起坐涼水中候溫熱服之庶氣味不泄若據乘熱揭封傾出則氣泄而性不全矣煎時不宜烈火其湯騰沸耗蝕而速涸藥性未盡出而氣味不純人家多有此病而反責藥不效咎將誰歸</p>
<p>發汗藥先煎麻黃二三沸後入余藥同煎</p>
<p>止汗藥先煎桂枝二三沸後下眾藥同煎</p>
<p>和解藥先煎柴胡後下眾藥至於溫藥先煎乾姜行血藥先煎桃仁利水藥先煎豬苓止瀉藥先煎白朮茯苓止渴藥先煎天花粉乾葛去濕藥先煎蒼朮防己去黃藥先煎茵陳嘔吐藥先煎半夏生薑風藥先煎防風羌活暑藥先煎香薷熱藥先煎黃連凡諸治劑必有主治為君之藥俱宜先煎則效自奏也</p>
<p>凡湯中用麻黃先另煮二三沸掠去上沫更益水如本數乃內余劑不爾令人煩</p>
<p>凡用大黃不須細銼先以酒浸令淹浹密覆一宿明旦煮湯臨熟乃內湯中煮二三沸便起則勢力猛易得快利丸藥中微蒸之恐寒傷胃也</p>
<p>凡湯中用阿膠飴糖芒硝皆須待湯熟起去渣只內淨汁中煮二三沸熔化盡仍傾盞內服</p>
<p>凡湯中用完物如干棗蓮子烏梅仁決明子青葙蔓荊蘿蔔芥蘇韭等子皆劈破研碎入煎方得味出若不碎如米之在谷雖煮之終日米豈能出哉至若桃杏等仁皆用湯泡去皮尖及雙仁者或搗如泥或炒黃色用或生用俱可</p>
<p>凡用砂仁豆蔻丁香之類皆須打碎遲後入藥煎數沸即起不爾久久煎之其香氣消散也是以效少凡湯中用犀角羚羊角一概末如粉臨服內湯中後入藥一法生磨汁入藥亦通</p>
<p>凡用沉香木香乳沒一切香末藥味須研極細待湯熱先傾汁小盞調香末服訖然後盡飲湯藥</p>
<p>凡煎湯藥初欲微火令小沸其水數依方多少大略藥二十兩用水一斗煮四升以此為準然利湯欲生少水而多取汁補湯欲熟多水而少取汁服湯宜小沸熱則易下冷則嘔湧</p>
<p>凡湯液一切宜用山泉之甘洌者次則長流河水井水不用</p>

<h1>服藥序次</h1>
<p>病在胸膈以上者先食後服藥病在心腹以下者先服藥而後食病在四肢血脈及下部者宜空腹而在旦病在頭目骨髓者宜飽滿而在夜雖食前食後亦停少頃然後服藥食不宜與藥並行則藥力稍為混滯故也湯液云藥氣與食氣不欲相逢食氣稍消則服藥藥氣稍消則進食所謂食先食後蓋有義在其中也又有酒服者飲服者冷服者暖服者服湯有疏有數者煮湯有生有熟者各有次第並宜詳審而勿略焉</p>
<p>清熱湯宜涼服如三黃湯之類消暑藥宜冷服如香薷飲之類散寒藥宜熱服如麻黃湯之類溫中藥宜熟而熱補中藥皆然利下藥宜生而溫如承氣湯之類</p>
<p>病在上者不厭頻而少病在下者不厭頓而多少服則滋榮於上多服則峻補於下</p>
<p>凡云分再服三服者要令勢力相及並視人之強弱羸瘦病之輕重為之進退增減不必局於方說則活潑潑地也又云晬時周時也從今旦至明旦亦有止一宿者</p>

<h1>服藥禁忌</h1>
<p>服柴胡忌牛肉　服茯苓忌醋</p>
<p>服黃連桔梗忌豬肉　服乳石忌參朮犯者死</p>
<p>服丹石不可食蛤蜊腹中結痛</p>
<p>服大黃巴豆同劑反不瀉人</p>
<p>服皂礬忌蕎麥麵　服天門冬忌鯉魚</p>
<p>服牡丹皮忌胡荽　服常山忌蔥</p>
<p>服半夏菖蒲忌飴糖羊肉</p>
<p>服白朮蒼朮忌雀蛤肉青魚鮓胡荽大蒜桃李</p>
<p>服鱉甲忌莧菜馬齒莧尤甚</p>
<p>服商陸忌犬肉　服地黃忌蘿蔔</p>
<p>服細辛忌生菜　服甘草忌菘菜</p>
<p>服粟殼忌醋　服芫花甘遂忌鹽忌甘草</p>
<p>服荊芥忌驢馬肉黃顙魚</p>
<p>服柿蒂忌蟹犯者木香湯能解</p>
<p>服巴豆忌蘆筍　服牛膝忌牛肉牛乳</p>
<p>服蜜及蜜煎果食忌魚鮓</p>
<p>服藜蘆忌狐貍肉</p>
<p>若瘡毒未愈不可食生薑雞子犯之則肉長突出作塊而白</p>
<p>凡服藥不可雜食肥豬犬肉油膩羹膾腥臊陳臭諸物</p>
<p>凡服藥不可多食生蒜胡荽生蔥諸果諸滑滯之物</p>
<p>凡服藥不可見死屍產婦淹穢等事</p>

<h1>妊娠服禁</h1>
<p>蜆班水蛭及虻蟲烏頭附子配天雄葛根水銀並巴豆牛膝薏苡與蜈蚣三稜代赭莞花射大戟蛇蛻黃雌雄牙硝芒硝牡丹桂槐花牽牛皂角同半夏南星與通草瞿麥乾薑桃仁通磠砂乾漆蟹甲爪地膽茅根都不中</p>

<h1>妊娠禁忌前歌所列藥品未盡特為拈附</h1>
<p>烏喙　側子　藜蘆　薇銜　厚朴　槐實　欓根</p>
<p>䕡茹　茜根　赤箭　䒽草　鬼箭　紅花　蘇木</p>
<p>麥糵　葵子　常山　錫粉　硇砂　砒石　硫黃</p>
<p>石蠶　芫青　斑蝥　蜘蛛　螻蛄　衣魚　蜥蜴</p>
<p>飛生　䗪蟲　樗雞　蚱蟬　蠐螬　蝟皮　牛黃</p>
<p>兔肉　犬肉　馬肉　驢肉　羊肝　鯉魚　蝦蟆</p>
<p>羊躑躅　葛上亭長　鰍　鱔　龜　鱉　生薑</p>
<p>小蒜　雀肉　馬刀</p>

<h1>六陳</h1>
<p>枳殼陳皮並半夏茱萸狼毒及麻黃六般之藥宜陳久入用方知功效良</p>

<h1>十八反</h1>
<p>本草明言十八反逐一從頭說與君人參芍藥與沙參細辛玄參與紫參苦參丹參並前藥一見藜蘆便殺人白芨白蘞並半夏栝蔞貝母五般真莫見烏頭與烏喙逢之一反疾如神大戟芫花並海藻甘遂以上反甘草若還吐蠱用翻腸尋常犯之都不好蜜蠟莫與蔥相睹石決明休見雲母黎蘆莫使酒來浸人若犯之都是苦</p>

<h1>當禁不禁犯禁必死</h1>
<p>張子和云病腫脹既平當節飲食忌鹽血房室犯禁者病再作乃死不救</p>
<p>病癆嗽忌房室膏粱犯者死</p>
<p>傷寒之後忌葷肉房事犯之者不救</p>
<p>水腫之後忌油鹽</p>
<p>病脾胃傷者節飲食</p>
<p>滑瀉之後忌油膩此數者決不可輕犯也</p>
<p>時病新愈食蒜鱠者病發必致大困</p>
<p>時病新愈食犬羊肉者必作骨蒸熱</p>
<p>時病新愈食生棗及羊肉必作鬲上熱蒸</p>
<p>時病新愈食生菜令人顏色終身不平復</p>
<p>病人新愈飲酒食韭病必復作</p>

<h1>不必忌而忌之過</h1>
<p>張子和曰臟毒酒毒下血嘔血等症如婦人三十以下血閉及六七月間血痢婦初得孕擇食者以上皆不禁口</p>
<p>凡久病之人胃氣虛弱者忽思葷茹亦當少少與之圖引漿水穀氣入胃此權變之道也若專以淡粥責之則病不悅而食減不進胃氣所以難復病所以難痊此忌之之過也智者通之</p>
