<header data-type="book">
<h1>東垣試効方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李杲</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1266">公元1266年</data></dd></div>
<div><dt>底本</dt><dd>多紀元昕手校本（<a href="https://www.digital.archives.go.jp/item/4222450.html">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
