<header data-type="book">
<h1>醫宗金鑑·運氣要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-996936">香港中文大學圖書館掃描本</a>），卷三十五；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷三十五（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>正文</h1>
<p>經曰：夫五運陰陽者，天地之道也，萬物之綱紀，變化之父母，生殺之本始，神明之府也。可不通乎？又曰：治不法天之紀、地之理，則災害至矣。又曰：不知年之所加，氣之盛衰，虛實之所起，不可以為工矣。由是觀之，不知運氣而為醫，欲其無失者鮮矣。茲將《內經》運氣要語，編成歌訣，並列圖於前，使學者一覽即明其大綱旨要之所在，然後遍求全經精義，庶乎有得云。</p>

<h2>太虛理氣天地陰陽歌</h2>
<p>無極太虛氣中理，太極太虛理中氣。乘氣動靜生陰陽，陰陽之分為天地。未有天地氣生形，已有天地形寓氣。從形究氣曰陰陽，即氣觀理曰太極。</p>
<p>【注】太者，極其至大之謂也；虛者，空虛無物之謂也。蓋極大極虛，無聲無臭之中，具有極大極至之理氣焉。理氣未分，而混沌者，太虛也。太虛曰無極者，是主太虛流行之氣中主宰之理而言也。太虛曰太極者，是主太虛主宰之理中流行之氣而言也。故周子曰：無極而太極者，亦是以極無而推極有也。蓋極無中無是而非理，極有中無是而非氣。不以極無之理而推極有之氣，何以知有是氣也。不以極有之氣，而推極無之理，何以知有是理也。是則可知理氣以其分殊而言之二也，以其渾合而言之一也。有是理則有是氣，有是氣則有是理，名雖有二，其實則一，本無有無、一二、先後之可言也。乘氣動靜生陰陽者，謂太極乘氣機之動而生陽，乘氣機之靜而生陰，即周子曰：太極動而生陽，靜而生陰之謂也。然不曰無極動而生陽，靜而生陰，而曰太極動而生陽，靜而生陰者，蓋以無極專主乎理，言理無動靜故也，太極兼主乎氣，言氣有動靜故也。陰陽之分為天地者，謂陰陽流行，相生不已，積陽之清者為天，積陰之濁者為地。故周子曰：分明分陽，兩儀立焉也。未有天地氣生形者，謂未有天地，惟太虛中之一氣化生天地之形也。已有天地形寓氣者，謂已有天地，而太虛之氣即已寓於天地之形也。是以天得之以資萬物之始，地得之以資萬物之生也。從形究氣曰陰陽者，陰陽即理中流行之氣也。即氣觀理曰太極者，太極即氣中主宰之理也。故周子曰：陰陽一太極者，是指氣之極者而言也，太極本無極者是指理之極者而言也。</p>
<figure>
<img alt="太虛圖">
</figure>
<p>【按】吳澄曰：太極無動靜，動靜者氣機也，是以太極專主乎理言也。朱子曰：太極之有動靜，是天命之流行也，是以太極兼主乎氣言也。又曰：太虛者、本然之妙也。動靜者、所乘之機也。本然之妙即太極，指其本然主宰，是動是靜之妙之理也。所乘之機即動靜，指其天命流行，乘動乘靜之機之氣也。當依朱子為是。</p>
<figure>
<img alt="陰陽圖">
</figure>

<h2>五行質氣生剋制化歌</h2>
<p>天地陰陽生五行，各一其質各一氣，質具於地氣行天，五行順布四時序。木火土金水相生，木土水火金剋制，亢害承製制生化，生生化化萬物立。</p>
<p>【注】天地既立，而陰陽即在天地之中，陽動而變，陰靜而合，生五行也。天一生水，地六成之；地二生火，天七成之；天三生木，地八成之；地四生金，天九成之；天五生土，地十成之，是五行各一其質也。東方生木，木之氣風；南方生火，火之氣熱；中央生土，土之氣濕；西方生金，金之氣燥；北方生水，水之氣寒，是五行各一其氣也。在地曰木，在天曰風；在地曰火，在天曰熱；在地曰土，在天曰濕；在地曰金，在天曰燥；在地曰水，在天曰寒，是五行質具於地，氣行於天也。木位東方，風氣布春；火位南方，熱氣布夏；土位中央四維，濕氣布長夏；金位西方，燥氣布秋；水位北方，寒氣布冬，是五氣順布四時之序也。即周子曰：陽變陰合，而生水、火、木、金、土。五氣順布，四時行焉。木生火，火生土，土生金，金生水，水復生木，是五行相生，主生養萬物者也。木剋土，土剋水，水剋火，火剋金，金剋木，木復剋土，是五行相剋，主殺害萬物者也。相剋則死，相制則生。木亢害土，土亢害水，水亢害火，火亢害金，金亢害木，此克其所勝者也。然我之所勝之子，即我之所不勝者也。我畏彼子出救母害，不敢妄行，承受乃制，制則生化，則各恆其德，而生化萬物、無不具也。假如木亢太過，土受害矣，是我勝其我之所勝者也。土之子金，承而制焉，則我畏我之所不勝，自然承受乃制，制則生化矣。火亢太過，金受制矣，金之子水，承而制焉。土亢太過，水受制矣，水之子木，承而制焉。金亢太過，木受制矣，木之子火，承而制焉。水亢太過，火受制矣，火之子土，承而制焉。五行皆若此也。此所以相生而不害，相制而不克也。而生生化化，萬物立命之道，即在於是矣。此五行生剋制化之理，不可不知者也。</p>
<figure>
<img alt="五行圖">
</figure>
<figure>
<img alt="五行生剋制化圖">
</figure>

<h2>運氣合臟腑十二經絡歌</h2>
<p>醫明陰陽五行理，始曉天時民病情。五運五行五氣化，六氣天地陰陽生。火分君相氣熱暑，為合人之臟腑經。天干起運地支氣，天五地六節制成。</p>
<p>【注】學醫業者，必要明天地陰陽、五行之理，始曉天時之和不和，民之生病之情由也。人皆知五運化自五行、五質、五氣也，而不知六氣化自天地陰陽、六質、六氣也。六質者，即經曰木、火、土、金、水、火，地之陰陽也，生、長、化、收、藏下應之也。六氣者，即經曰風、暑、濕、燥、寒、火，天之陰陽也，三陰三陽上奉之也。是以在地之火分為君火、相火；在天之氣分為熱氣、暑氣，為合人之五臟六腑，包絡十二經也。天於陰陽合而為五，故主五運。甲化陽土，合人之胃。己化陰土，合人之脾。乙化陰金，合人之肺。庚化陽金，合人大腸。丙化陽水，合人膀胱。辛化陰水，合人之腎。丁化陰木，合人之肝。壬化陽木，合人之膽。戊化陽火，合人小腸。癸化陰火，合人之心。相火屬陽者，合人三焦。相火屬陰者，合人包絡。此天干合人之五臟六腑十二經也。地支陰陽合而為六，故主六氣。子午主少陰君火，合人之心與小腸也。丑未主太陰濕土，合人之脾與胃也。寅申主少陽相火，合人之三焦包絡也。卯酉主陽明燥金，合人之肺與大腸也，辰戌主太陽寒水，合人之膀胱與腎也。巳亥主厥陰風木，合人之肝與膽也。此地支之合人之五臟六腑十二經也。天數五，而五陰、五陽，故為十干。地數六，而六陰、六陽，故為十二支。天干之五，必得地支之六以為節，地支之六，必得天干之五以為制，而後六甲成，歲氣備。故一歲中運，以七十二日五位分主之，六氣以六十日六步分主之也。</p>
<figure>
<img alt="五運合臟腑十二經絡圖">
</figure>
<figure>
<img alt="六氣合臟腑十二經絡圖">
</figure>
<p>【按】十二經天干歌內云：甲膽乙肝丙小腸，丁心戊胃己脾鄉，庚屬大腸辛屬肺，壬屬膀胱癸腎藏，三焦亦向壬中寄，包絡同歸入癸方。此以方位言天干所屬，配合臟腑，歲歲之常也。今以五運言天干所化，配合臟腑，年年之變，所以不同也。</p>
<p>十二經地支歌內云：肺寅大卯胃辰宮，脾巳心午小未中，申胱酉腎心包戌，亥焦子膽醜肝通。此以流行言地支所屬，配合臟腑，日日之常也。今以六氣言地支所化，配合臟腑，年年之變，所以不同也。讀者審之。</p>

<h2>主運歌</h2>
<p>五運五行御五位，五氣相生順令行。此是常今年不易，然有相得或逆從。運有太過不及理，人有虛實寒熱情。天時不和萬物病，民病合人臟腑生。</p>
<p>【注】主運者，主運行四時之常令也。五行者，木、火、土、金、水也。五位者，東、南、中、西、北也。五氣者，風、暑、濕、燥、寒也。木御東方風氣，順布春令，是初之運也。火御南方暑氣，順布夏令，是二之運也。土御中央四維濕氣，順布長夏之令，是三之運也。金御西方燥氣，順布秋令，是四之運也。水御北方寒氣，順布冬令，是五之運也。此是天以五為制，分五方主之，五運五氣相生，四時常令，年年相仍而不易也。然其中之氣化，有相得或不相得，或從天氣，或逆天氣，或從天氣而逆地氣，或逆天氣而從地氣。故運有太過不及、四時不和之理，人有臟腑經絡、虛實寒熱不同之情，始召外邪令化而生病也。天時不和，萬物皆病，而為民病者，亦必因其人臟腑不和而生也。</p>
<figure>
<img alt="主運圖">
</figure>

<h2>主氣歌</h2>
<p>主氣六位同主運，顯明之右君位知。退行一步相火治，復行一步土治之，復行一步金氣治，復行一步水治之，復行一步木氣治，復行一步君治之。</p>
<p>【注】主氣者，厥陰風木，主春初之氣也；少陰君火，主夏二之氣也；少陽相火，主盛夏三之氣也；太陰濕土，主長夏四之氣也；陽明燥金，主秋五之氣也；太陽寒水，主冬六之氣也。此是地以六為節，分六位主之。六氣相生，同主運五氣相生，四時之常令也。顯明者，正南之位，當君位也。而君火不在位治之，反退位於次，以相火代君火，司化則當知，即經云：少陰不司氣化之義也。正南客氣，司天之位也，司天之右，天之右間位也；在主氣為二之氣位，是少陰君火之位，主行夏令之氣也。故曰：顯明之右，君火之位也。君火之右，退行一步，乃客氣司天之位也；在主氣為三之氣位，是少陽相火之位，主行盛夏之令之氣也。不曰復行，而曰退行者，以臣對君之面，承命司化，不敢背行，故曰退行一步，即復行一步也。復行一步，土氣治之，乃客氣天之左間位也；在主氣為四之氣位，是太陰濕土之位，主行長夏令之氣也。復行一步，金氣治之，乃客氣地之右間位也；在主氣為五之氣位，是陽明燥金之位，主行秋令之氣也。復行一步，水氣治之，乃客氣在泉之位也；在主氣為六之氣位，是太陽寒水之位，主行冬令之氣也。復行一步，木氣治之，乃客氣地之左間位也；在主氣為初之氣位，是厥陰風木之位，主行春令之氣也。復行一步，君火治之，即前君火之位治之也。</p>
<figure>
<img alt="主氣圖">
</figure>

<h2>客運歌</h2>
<p>五天蒼丹黅玄素，天氣天干合化臨，甲己化土丙辛水，丁壬化木乙庚金，戊癸化火五客運，起以中運相生輪。陰少乙丁己辛癸，陽太甲丙戊庚壬。</p>
<p>【注】五天者，蒼天，天之色青者也；丹天，天之色赤者也；黅天，天之色黃者也；玄天，天之色黑者也；素天，天之色白者也。天氣者，蒼天之氣，木也；丹天之氣，火也；黅天之氣，土也；玄天之氣，水也；素天之氣，金也。天干者，甲、乙、丙、丁、戊、己、庚、辛、壬、癸也。古聖仰觀五天五氣，蒼天木氣下臨丁壬之方，故識丁壬合化而生木運也；丹天火氣下臨戊癸之方，故識戊癸合化而生火運也；黅天土氣下臨甲己之方，故識甲己合化而生土運也；玄天水氣下臨丙辛之方，故識丙辛合化而生水運也；素天金氣下臨乙庚之方，故識乙庚合化而生金運也，此天氣天干合化，加臨主運五位之客運也。起以所化，統主本年中運為初運，五行相生，以次輪取。如甲己之年，土運統之，起初運。土生金為二運，金生水為三運，水生木為四運，木生火為五運。餘四運皆仿土運起之。乙、丁、己、辛、癸屬陰乾，為五陰年，主五少不及之運。甲、丙、戊、庚、壬屬陽干，為五陽年，主五太太過之運也。</p>
<figure>
<img alt="客運圖">
</figure>

<h2>客氣司天在泉間氣歌</h2>
<p>子午少陰君火天，陽明燥金應在泉。丑未太陰太陽治，寅申少陽厥陰聯。卯酉卻與子午倒，辰戌巳亥亦皆然。每歲天泉四間氣，上下分統各半年。</p>
<p>【注】天干起運，地支起氣。此言地之陰陽，正化、對化，加臨主氣，六位之客氣也。如子午之歲，少陰君火治之，起司天也。陽明燥金在下，起在泉也。氣由下而升上，故以在下之陽明起之，陽明二陽，二陽生三陽，三陽太陽，故太陽寒水為客初氣，即地之左間也。三陽，陽極生一陰，一陰厥陰，故厥陰為客二氣，即天之右間也。一陰生二陰，二陰少陰，故少陰為客三氣，即司天之氣也。二陰生三陰，三陰太陰，故太陰為客四氣，即天之左間也。三陰陰極生一陽，一陽少陽，故少陽為客五氣，即地之右間也。一陽生二陽，二陽陽明，故陽明為客六氣，即在泉之氣也。丑未寅申之歲，皆仿此法起之。卯酉卻與子午倒換，辰戌卻與丑未倒換，巳亥卻與寅申倒換。謂卯酉之歲，陽明燥金司天，少陰君火在泉；辰戌之歲，太陽寒水司天，太陰濕土在泉；巳亥之歲，厥陰風木司天，少陽相火在泉；彼此倒換也。每歲司天在泉左右四間氣者，即六氣分統上下，本年司天統主上半年，在泉統主下半年之統氣也。</p>
<figure>
<img alt="客氣司天在泉間氣圖">
</figure>

<h2>運氣分主節令歌</h2>
<p>大立雨驚春清穀，立滿芒夏小大暑，立處白秋寒霜立，小大冬小從頭數。初大二春十三日，三運芒種十日甫，四運處暑後七日，五運立冬四日主。</p>
<p>【注】天以六為節，謂以二十四氣六分分之，為六氣之六步也。地以五為制。謂以二十四氣五分分之，為五運之五位也。二十四氣，即大寒、立春、雨水、驚蟄，主初之氣也；春分、清明、穀雨、立夏，主二之氣也；小滿、芒種、夏至、小暑，主三之氣也；大暑、立秋、處暑、白露，主四之氣也；秋分、寒露、霜降、立冬，主五之氣也；小雪、大雪、冬至、小寒，主終之氣也。此主氣、客氣分主六步之時也。大寒起，至春分後十二日，主初運也。春分十三日起，至芒種後九日，主二運也。芒種十日起，至處暑後六日，主三運也。處暑七日起，至立冬後三日，主四運也。立冬四日起，至小寒末日，主五運也。此主運客運分主五位之時也。</p>
<figure>
<img alt="五運節令圖">
</figure>
<figure>
<img alt="六氣節令圖">
</figure>

<h2>五音主客太少相生歌</h2>
<p>主運角徵宮商羽，五音太少中運取。如逢太徵太商年，必是少角少宮羽。若逢太角宮羽年，必是少商與少徵。以客取主太少生，以主定客重角羽。</p>
<p>【注】主運之音，必始角而終羽者，乃五音分主四時，順布之常序也。然陽年為太，陰年為少者，是五音四時太過不及之變化也。如逢戊年太徵，庚年太商之年，則主運初運，必是少角，二運則是太徵，三運必是少宮，四運則是太商，終運必是少羽也。若逢壬年太角，甲年太宮，丙年太羽之年，則主運初運則是太角，二運必是少徵，三運則是太宮，四運必是少商，終運則是太羽也。故曰太少皆以中運取，此是以客之中運取主之五運，太少相生之義也。又以主之太少，定客之五運，太少相重之法，以發明相加相臨，太過不及之理也。</p>
<figure>
<img alt="五音太少相生圖">
</figure>

<h2>五運齊化兼化六氣正化對化歌</h2>
<p>運過勝己畏齊化，不及乘衰勝己兼。太過被克不及助，皆為正化是平年。氣寅午未酉戌亥。正司化令有餘看。子醜卯辰巳申歲。對司化令不足言。</p>
<p>【注】五運之中運，統主一年之運也。中運太過則旺，勝己者則畏其盛，反齊其化矣。如太宮土運，反齊木化；太角木運，反齊金化；太商金運，反齊火化；太微火運，反齊水化；太羽水運，反齊土化也。即經所謂畏其旺，反同其化，薄其所不勝也。中運不及則弱，勝己者，則乘其衰，來兼其化矣。如少宮土運，木來兼化；少角木運，金來兼化；少商金運，火來兼化；少徵火運，水來兼化；少羽水運，土來兼化，即經所謂乘其弱，來同其化，所不勝薄之也。中運戊辰陽年，火運太過，遇寒水司天，則為太過被制；中運乙卯陰年，金運不及。遇燥金司天，則為同氣；中運辛卯陰年，水運不及，則為相生；俱為不及得助。凡遇此類，皆為正化平和之年也。</p>
<p>氣者，六氣之客氣，統一歲之司化之氣也。如厥陰司巳亥，以厥陰屬木，木生於亥，故正化於亥，對化於巳也。少陰司子午，以少陰為君火，當正南離位，故正化於午，對化於子也。太陰司丑未，以太陰屬土居中，旺於西南未宮，故正化於未，對化於醜也。少陽司寅申，以少陽屬相火，位卑於君火，火生於寅，故正化於寅，對化於申也。陽明司卯酉，以陽明屬金，酉為西方金位，故正化於酉，對化於卯也。太陽司辰戌，以太陽為水，辰戌屬土，然水行土中，而戌居西北，屬水漸王之鄉，是以《洪範》五行，以戌屬水，故正化於戌，對化於辰也。是以寅、午、未、酉、戌、亥為正化。正化者，令之實，主有餘也。子、醜、卯、辰、巳、申為對化。對化者，令之虛，主不足也。</p>
<figure>
<img alt="五運齊化兼化圖">
</figure>
<figure>
<img alt="六氣正化對化圖">
</figure>

<h2>六十年運氣上下相臨歌</h2>
<p>客運中運主一歲，客氣天泉主半年。氣生中運曰順化，運被氣克天刑言。運生天氣乃小逆，運克司天不和愆。氣運相同天符歲，另有天符歲會參。</p>
<p>【注】客運之初運，即統主一歲之中運也。經曰：甲己之歲，土運統之云云者是也。客氣司天之三氣六氣，即統主上半年；在泉，統主下半年之氣也。經曰：歲半以前，天氣主之；歲半以後，地氣主之者是也。六十年中，運氣上下臨遇，則有相得、不相得者也。氣生中運者，謂司天生中運也。如癸巳、癸亥木生火也，甲子、甲午、甲寅、甲申火生土也，乙丑、乙未土生金也，辛卯、辛酉金生水也，壬辰、壬戌水生木也。六十年中，有此十二年天氣生運，以上生下，故名順化，為相得之歲也。運被氣克者，謂司天克中運也。如己巳、己亥木剋土也，辛丑、辛未土剋水也，戊辰、戊戌水剋火也，庚子、庚午、庚寅、庚申火剋金也，丁卯、丁酉金剋木也。六十年中，有此十二年天氣克運，以上克下，故名天刑，為不相得之歲也。運生天氣者，謂中運生司天也。如癸丑、癸未火生土也，壬子、壬午、壬寅、壬申木生火也，辛巳、辛亥水生木也，庚辰、庚戌金生水也，己卯、己酉土生金也。六十年中有此十二年，運生天氣，以下生上，雖曰相生，然子居母上，故為小逆而主微病也。運克司天者，謂中運克司天也。如乙巳、乙亥金剋木也，丙子、丙午、丙寅、丙申水剋火也，丁丑、丁未木剋土也，癸卯、癸酉火剋金也，甲辰、甲成土剋水也。六十年中有此十二年運克天氣，以下克上，故名不和，亦為不相得而主病甚也。氣運相同者，如運氣皆木，丁巳、丁亥；運氣皆火，戊子、戊午、戊寅、戊申；運氣皆土，己丑、己未；運氣皆金，乙卯、乙酉；運氣皆水，丙辰、丙戌。六十年中有此十二年運氣相同，皆天符也。雖曰同氣，不無偏勝亢害焉。其太乙天符、歲會等年，另詳在後。</p>
<figure>
<img alt="六十年運氣上下相臨圖">
</figure>

<h2>起主客定位指掌歌</h2>
<p>掌中指上定司天，中指根紋定在泉，順進食指初二位，四指四五位推傳，司天即是三氣位，在泉六氣位當然，主以木火土金水，客以陰陽一二三。</p>
<p>【注】左手仰掌，以中指上頭定司天之位，中指根紋定在泉之位。順進食指三節紋，定初之氣位，頭節紋定二之氣位。中指上頭定三之氣位，即司天之位也。第四指頭節紋定四之氣位，二節紋定五之氣位。中指根紋定六之氣位，即在泉之位也。主氣以木火土金水者，五氣順布之五位也。故初之氣，厥陰風木；二之氣，少陰君火；三之氣，少陽相火；四之氣，太陰濕土；五之氣，陽明燥金；六之氣，太陽寒水。是木生火，火生土，土生金，金生水，水復生木，順布相生之序，一定不易者也。客氣以一二三名之者，三陰三陽六氣加臨也。故厥陰為一陰，少陰為二陰，太陰為三陰，少陽為一陽，陽明為二陽，太陽為三陽。是一生二，二生三，三複生一，陰極生陽，陽極生陰，六步升降之次每歲排取也。以此定位，主氣客氣，瞭然在握矣。</p>
<figure>
<img alt="指掌圖">
</figure>

<h2>天符太乙天符歲會同天符同歲會歌</h2>
<p>天符中運同天氣，歲會本運臨本支，四正四維皆歲會，太乙天符符會俱。同天符與同歲會，泉同中運即同司，陰歲名曰同歲會，陽年同天符所知。</p>
<p>【注】天符者，謂中運與司天之氣同一氣也。如木運木司天，丁巳、丁亥也；火運火司天，戊子、戊午、戊寅、戊申也；土運土司天，己丑、己未也；金運金司天，乙卯、乙酉也；水運水司天，丙辰、丙戌也，共十二年。歲會者，謂本運臨本支之位也。如木運臨卯，丁卯年也；火運臨午，戊午年也；金運臨酉，乙酉年也；水運臨子，丙子年也，此是四正。土運臨四季，甲辰、甲戌、己丑、己未也，此是四維，共八年。太乙天符者，謂天符之年，又是歲會，是天氣、運氣、歲支三者俱會也。如己丑、己未，中運之土，與司天土同氣，又土運臨丑未也。乙酉中運之金，與司天金同氣，又金運臨酉也。戊午中運之火，與司天火同氣，又火運臨午也。共四年。同天符、同歲會者，謂在泉之氣，與中運之氣，同一氣也。以陽年名曰：同天符，如木運木在泉，壬寅、壬申也；土運土在泉，甲辰、甲戌也；金運金在泉，庚子、庚午也。以陰年名曰：同歲會，如水運水在泉，辛丑、辛未也；火運火在泉，癸卯、癸酉、癸巳、癸亥也，共十二年。此氣運符會之不同，人不可不知也。右天符十二年，太乙天符四年，歲會八年，同天符六年，同歲會六年。然太乙天符四年，己同在天符十二年中矣。歲會八年，亦有四年同在天符中矣。合而言之，六十年中只得二十八年也。</p>
<figure>
<img alt="天符之圖">
</figure>
<figure>
<img alt="歲會之圖">
</figure>
<figure>
<img alt="同天符同歲會圖">
</figure>

<h2>執法行令貴人歌</h2>
<p>天符執法犯司天，歲會行令犯在泉，太乙貴人犯天地，速危徐持暴死占。二火相臨雖相得，然有君臣順逆嫌，順則病遠其害小，逆則病近害速纏。</p>
<p>【注】邪之中人，在天符之年，名曰中執法，是犯司天天氣。天，陽也；陽性速，故其病速而危也。邪之中人在歲會之年，名曰中行令，是犯在泉地氣。地，陰也；陰性徐，故其病徐而持也。邪之中人在太乙天符之年，名曰中貴人，是犯司天、在泉之氣。天地之氣俱犯，故其病暴而死也。二火，君火、相火也，雖同氣相得，然有君臣順逆之嫌，不可不知也。君火，君也；相火，臣也，二火相臨，謂司天加臨中運六步，客主加臨，君火在上，相火在下，為君臨臣則順，順則病遠，其害小也。相火在上，君火在下，為臣犯君則逆，逆則病近，其害速也。</p>

<h2>南北政年脈不應歌</h2>
<p>天地之氣行南北，甲己一運南政年，其餘四運俱為北，少陰隨在不應占。北政反診候不應，姑存經義待賢參。從違非失分微甚，尺反陰陽交命難。</p>
<p>【注】天地之氣，謂三陰三陽，司天、在泉，左間、右間之客氣也。客氣行南政之歲，謂之南政；行北政之歲，謂之北政。南政之歲，惟甲己一運，其餘乙庚、丙辛、丁壬、戊癸四運，俱為北政之年也。少陰隨在不應占者，謂少陰君火客氣，隨在司天、在泉、左間、右間加臨之位，主占其脈不應於診也。應於診者，即經曰：少陰之至，其脈鉤。不應者，謂脈不鈞也。南政之年，少陰司天，則主佔兩寸不應，在泉則主佔兩尺不應；厥陰司天，其天左間則少陰，主占右寸不應；太陰司天，其天右間則少陰，主占左寸不應；厥陰在泉，其泉左間則少陰，主占左尺不應；太陰在泉，其泉右間則少陰，主占右尺不應，此皆在客氣少陰之位也。北政之年，則反診候其不應，皆在客氣陽明之位。如少陰司天，則主佔兩尺不應；在泉則主佔兩寸不應；厥陰司天，其天左間則少陰，主占左尺不應；太陰司天，其天右間則少陰，主占右尺不應；厥陰在泉，其泉左間則少陰，主占右寸不應；太陰在泉，其泉右間則少陰，主占左寸不應。然南政十二年，北政四十八年，其南政候以正診，北政候以反診，應與不應之理，熟玩經文，總令人難解，姑存經義，以待後之賢者參詳可也。不應之部不應者，則為得其氣而和也。不應之部反應者。則為違其氣而病也。應左而右，應右而左者，則為非其位。應上而下，應下而上者，則為失其位，皆主病也，而有微甚之別。甚者即尺寸反陰陽交也，謂少陰之脈，當寸不應反見於尺，當尺不應反見於寸，是為尺寸反，子、午、卯、酉年有之；少陰之脈，當左不應，反見於右，當右不應，反見於左，是為陰陽交，辰、戌、醜、未、寅、申、巳、亥年有之。皆主死，故曰命難也。</p>
<figure>
<img alt="南北政圖">
</figure>
<figure>
<img alt="南政年脈不應圖">
</figure>
<figure>
<img alt="北政年脈不應圖">
</figure>

<h2>五運氣令微甚歌</h2>
<p>運識寒熱溫涼正，氣審加臨過及平。六氣大來皆邪化，五運失和災病生。微甚非時卒然至，看與何時氣化並，更與年虛月空遇，重感於邪證不輕。</p>
<p>【注】運，五運也，主四時，在天則有寒熱溫涼之正令，在地則有生長收藏之正化。氣，六氣也，主六步，在主則有風、熱、火、濕、燥、寒一定之常候，在客則有六氣加臨太過、不及、平和之異應也。凡五運六氣之來，應時而至，無微甚而和者，皆為平氣也。即應時而至，或六氣大來，或五運微甚，或至非其時，或卒然而至，皆邪化失和不平之氣，主害物病人也。但看與何時之氣化與病同並，則當消息其宜而主治也。若犯之而病者，更與不及之年，廓空之月，重感於邪，則其證必重而不輕也。</p>

<h2>五運平氣太過不及歌</h2>
<p>木曰敷和火升明，土曰備化金審平，水曰靜順皆平運，太過木運曰發生，火曰赫曦土敦阜，水曰流衍金堅成；不及委和伏明共，卑監從革涸流名。</p>
<p>【注】太過被抑，不及得助，皆曰平運。木名敷和，敷布和氣生萬物也。火名升明，陽性上升，其德明也。土名備化，土母萬物，無不化也。金名審平，金審而平，無妄刑也。水名靜順，體靜性順，喜安瀾也。甲、丙、戊、庚、壬陽年，皆曰太過之運，木名發生，木氣有餘，發生盛也；火名赫曦，炎暑施化，陽光盛也；土名敦阜，敦厚高阜，土尤盛也；金名堅成，堅則成物，金有餘也；水名流衍，水氣太過，流漫衍也。乙、丁、己、辛、癸陰年，皆曰不及之運，木名委和，和氣委弱，發生少也；火名伏明，火德不彰，光明伏也；土名卑監，土氣不及，化卑監也；金名從革，金氣不及，從火革也；水名涸流，水氣不及，涸其流也。</p>

<h2>運氣所至先後時歌</h2>
<p>應時而至氣和平，正化承天不妄行，太過氣淫先時至，侮刑我者乘我刑。不及氣迫後時至，所勝妄行刑所生，所生被刑受其病，我所不勝亦來乘。</p>
<p>【注】應時而至，謂交五運六氣之日、之時，正當其日、其時而氣即至，則為正化平氣，承天之令，不妄行也。如時未至而氣先至，來氣有餘則為太過，名曰氣淫，即邪化也。刑我，謂克我者也；我刑，謂我克者也。假如木氣有餘，克我之金不能制我，金反受木之侮，則木盛而土受克也必矣。其年若見肝病為正邪，見肺病為微邪，見脾病則為賊邪也，余時法此。若時已至而氣未至，來氣不足，則為不及，名曰氣迫，亦邪化也。所勝謂我所勝，即我克者也。所生，我所生者也。所不勝，謂我所不勝，即克我者也。假如木氣不及，我克之土，無畏妄行，則生我之水必受病也；木衰，金乘其衰亦來刑木為病也。其年若腎病為實邪，見心病為虛邪，見肺病則賊邪也。余時法此，推此可知二經三經兼病之理矣。</p>

<h2>運氣亢害承製歌</h2>
<p>運氣亢則皆為害，畏子之制敢不承，因有承製則生化，亢而無制勝病生。勝後子報母仇復，被抑屈伏郁病成，鬱極乃發因子弱，待時得位自災刑。</p>
<p>【注】五運六氣太過而極，則謂之亢，亢則必害我所勝者也。假如木亢極，則必害我之所勝之土；土之子金，隨起而制木，木畏承受其制，則不敢妄刑彼母也。五行有此承製之道，自相和順，則生化不病矣。假如木亢盛而無制，則必生勝病；勝病者肝，受病者脾，二經同病也。有勝必有復，有盛必有衰，自然之道也。木盛而後必衰，土之子金，則乘衰必復勝母之仇，是則更生復病也；復病者肺，受病者肝，二經同病也。餘臟法此。若木不及，則被金遏抑，屈伏不伸，而木鬱之病生也。然被鬱極而乃發者，蓋以木氣不及，不能令子火旺，故不能復也，所以必待其己之得位時而後乃發也；雖發而不為他害，但自為災病，亦由本氣弱耳。故方其未發之時，與勝病同，勝病者肺，郁病者肝，及其已發之時，不復病肺，惟病肝也。餘臟法此。此上文以太過釋勝，不及釋郁病，非謂一歲之太過不及，則分司之氣無勝、復、郁病也。凡太過妄行害彼而病者，皆勝病也。受害子終不能復，鬱而發病者，皆郁病也。不及被抑而病者，亦郁病也。被郁待子來報母仇而病者，皆復病也。推此余皆可通也。</p>

<h2>六氣勝復歌</h2>
<p>邪氣有餘必有復，勝病將除復病萌，復已又勝衰乃止，有無微甚若權衡。時有常位氣無必，勝在天三複地終，主客有勝而無復，主勝客逆客勝從。</p>
<p>【注】六氣有勝，則必有復，陰陽循環之道也。勝病將除，復病即萌，邪正進退之機也。勝已而復，復已又勝，本無常數，必待彼此氣衰乃止，自然之理也。有勝則復，無勝則否，勝微復微，勝甚復甚，猶權衡之不相過也。然勝復之動時，雖有常位，而氣無必也。氣無必者，謂應勝之年而無勝也。時有常位者，謂勝之時在前，司天天位主之；自初氣以至三氣，此為勝之常也。復之時在後，在泉地位主之；自四氣以至終氣，此為復之常也。所謂六氣互相勝復也。若至六氣主客，則有勝而無復也。有勝而無復者，以客行天令，時去則已，主守其位，順承天命也。主勝客，則違天之命，而氣化不行，故為逆。客勝主，則上臨下奉，而政令乃布，故為從也。</p>

<h2>五運鬱極乃發歌</h2>
<p>火土金鬱待時發，水隨火後木無恆。水發雹雪土飄驟，木發毀折金清明，火發曛昧有多少，微者病已甚無刑。木達火發金鬱泄，土奪水折治之平。</p>
<p>【注】五郁之發，各有其時。火鬱待三氣火時而發，土鬱待四氣土時而發，金鬱待五氣金時而發，此各待旺時而發也。水鬱不待終氣水時，而每發於二氣三氣二火時者，以水陰性險，見陽初退，即進乘之，故不待水旺而發也。木鬱之發，無一定之時者，以木生風，善行數變，其氣無常，故木發無恆時也。五發之時既已審矣，然五發徵兆，五氣微甚，天時民病，不可不知也。水發之徵，微者為寒，甚為雹雪；雹雪，寒甚也。土發之徵，微者為濕，甚為飄驟；飄驟，暴風雨也。木發之徵，微者為風，甚為毀折；毀折，摧拔也。金髮之徵，微者為燥，甚為清明；清明，冷肅也。火發之徵，微者為熱，甚為曛昧；曛昧，昏翳也。多少者，謂有太過、不及也。不及者病微，太過者病甚。微者病已，謂本經自病也。甚者兼刑，謂兼我刑、刑我者同病也。如木氣甚，我刑者土，刑我者金，土畏我乘來齊其化，金畏我勝來同其化，故三經兼見病也。餘氣法此。木達謂木鬱達之；達者，條達舒暢之義也。凡木鬱之病，風為清斂也，宜以辛散之、疏之，以甘調之、緩之，以苦湧之、平之，但使木氣條達舒暢，皆治木鬱之法也。火發謂火鬱發之；發者，發揚解散之義也。凡火鬱之病為寒束也。宜以辛溫發之，以辛甘揚之，以辛涼解之，以辛苦散之，但使火氣發揚解散，皆治火鬱之法也。金泄謂金鬱泄之；泄者，宣泄疏降之義也。凡金鬱之病，燥為火困也，宜以辛宣之、疏之、潤之，以苦泄之、降之、清之，但使燥氣宣通疏暢，皆治金鬱之法也。水折謂水鬱折之；折者，逐導滲通之義也。凡水鬱之病，水為濕瘀也，宜以辛苦逐之、導之，以辛淡滲之、通之，但使水氣流通不蓄，皆治水鬱之法也。土奪謂土鬱奪之；奪者，汗、吐、下利之義也。凡土鬱之病，濕為風阻也，在外者汗之，在內者攻之，在上者吐之，在下者利之，但使土氣不致壅阻，皆治土鬱之法也。</p>

<h2>天時地化五病二火歌</h2>
<p>運氣天時地化同，邪正通人五臟中，五臟受邪生五病，五病能該萬病形。熱合君火暑合相，蓋以支同十二經，雖分二火原同理，不無微甚重輕情。</p>
<p>【注】木、火、土、金、水五運之化，不能外乎六氣風、熱、暑、濕、燥、寒。六氣之化亦不能出乎五行，故運雖有五，氣雖有六，而天之氣令地之運化皆同也。邪化正化之氣，皆通乎人之五臟之中。正化養人，邢化病人。五臟受邪，則生五臟之病。五病能該萬病情形，謂主客一定之病，主客錯雜之病，及勝復郁病，皆莫能逃乎五病之變。猶夫天地化生萬物，皆莫能逃乎五行之屬也。五行惟火有二，在地為火，在天為熱、為暑。以熱合少陰為君火，暑合少陽為相火。蓋以地有陰陽十二支，同乎人之陰陽十二經，火雖有二，理則一也。故其德、政、令、化、災、病皆同。然不無熱微病輕、暑甚病重之情狀也。</p>

<h2>五星所見太過不及歌</h2>
<p>五星歲木熒惑火，辰水鎮土太白金，不及減常之一二，無所不勝色停勻，太過北越倍一二，畏星失色兼母云，盛衰徐疾徵順逆，留守多少吉凶分。</p>
<p>【注】天之垂象，莫先乎五星。五星者，木、火、土、金、水之五星也。木曰歲星，居東方。火曰熒惑星，居南方。水曰辰星，居北方。土曰鎮星，居西南。金曰太白星，居西方。其主歲之星，不大不小，不芒不暗，不疾不徐，行所行道，守所守度，此其常也。若五陰年是為不及，其星則減常之一。不及之甚，則減常之二，其光芒縮。主歲之星，其色兼我所不勝之色而見也。如木不及，歲星青兼白色也；火不及，熒惑星紅兼黑色也；土不及，鎮星黃兼青色也；金不及，太白星白兼紅色也；水不及，辰星黑兼黃色也。五陽年是為太過，其主歲之星北越，謂越出本度而近於北也。北乃紫微之位，太乙所居之宮也。故倍常之一，太過之甚，倍常之二，其光芒盈。主歲之星，其色純正，畏我之星，失其本色，而兼生我之母色也。假如木太過，畏木之星、土星也，失其本色之黃，而兼生土之火赤色也。蓋以木盛而土畏，必盜母氣為助，故兼母色見也。土兼赤色，土又生子，余星仿此。凡星當其時則當盛，非其時則當衰，星遲於天為順，為災病輕。星速於天為逆，為災病重。稽留不進，守度日多，則災病重。稽留不進，守度日少，則災病輕。故曰吉凶分也。</p>

<h2>五行德政令化災變歌</h2>
<p>木德溫和政舒啟，其令宣發化生榮，其變烈風雲物飛，其災摧拔殞落零。</p>
<p>【注】木主春，故其德溫暖柔和也。春氣發，故其政舒展開啟也。春氣升，故其令宣發也。春主生，故其化生榮也。春主風，故其變烈風而云物飛揚，此風之勝也。木勝不已，則為摧折拔殞，散落飄零之災也。</p>
<p>火德彰顯化蕃茂，其令為熱政曜明，其變災烈水泉涸，其災焦灼萎枯形。</p>
<p>【注】火主夏，故其德彰著昭顯也。夏主長，故其化蕃秀茂盛也，夏陽盛，故其令熱也。夏陽外，故其政光明顯曜也。夏主熱，故其變炎光赫烈而水泉乾涸，此熱之勝也。火勝不已，則為萬物焦灼，草萎木枯之災也。</p>
<p>土德溽蒸政安靜，其令雲雨其化豐，其變陰埃震驟注，其災霖雨岸堤崩。</p>
<p>【注】土主長夏，故其德溽蒸熱也。土主靜，故其政安靜也。長夏氣濡，故其令雲雨也。土氣厚，故其化萬物豐備也。長夏主濕，故其變陰晦煙埃震雷，驟注暴雨，此濕之勝也。土勝不已，則為久霖淫雨，潰岸崩堤之災也。</p>
<p>金德清潔政勁切，其化緊斂令露膏，其變肅殺霜早降，其災蒼乾草木凋。</p>
<p>【注】金主秋，故其德清涼皎潔也。秋氣肅，故其政肅勁齊切也。秋主收，故其化緊收斂縮也。秋主露，故其令露膏萬物也。秋主燥，故其變肅寒早霜殺物，此燥之勝也。金勝不已，則為蒼枯，草木凋零之災也。</p>
<p>水德淒滄政堅肅，其化清謐其令寒，其變凜冽寒太甚，其災冰雹霜雪連。</p>
<p>【注】水主冬，故其德淒滄而寒也。冬氣固，故其政堅凝肅勁也。冬主藏，故其化清冷靜謐也。冬主寒，故其變凜冽，寒氣太盛，此寒之勝也。水勝不已，則為冰雪霜雹之災也。</p>

<h2>五行地化蟲畜谷果有太過不及齊兼化歌</h2>
<p>木主化毛犬麻李，火主羽馬麥杏饒，土主化倮牛稷棗，金主化介雞稻桃，水主化鱗彘豆慄，得氣皆育失蕭條，太過齊化我克我，不及兼化克皆苞。</p>
<p>【注】蟲者，毛、羽、倮、介、鱗也。麟為毛蟲之長，而諸毛皆橫生，故屬木也。鳳為羽蟲之長，而諸羽皆翔升，故屬火也。人為倮蟲之長，而諸倮物皆具四肢，故屬土也。龜為介蟲之長，而諸介皆甲堅固，故屬金也。龍為鱗蟲之長，而諸鱗皆生於水，故屬水也。次則其畜犬，其谷麻，其果李，皆木化也。其畜馬，其穀麥，其果杏，皆火化也。其畜牛，其谷稷，其果棗，皆土化也。其畜雞，其谷稻，其果桃，皆金化也，其畜彘，其谷豆，其果粟，皆水化也。凡此五化之物，得其氣之和，則皆蕃育，失其氣之和，則皆蕭條而不育也。太過齊化，謂我所化之物，與克我者所化之物皆育也。假如木太過，毛蟲、犬畜、麻谷、李果，木化之類育，而介蟲、雞畜、稻穀、桃果、金化之類亦育。蓋太過則氣盛，所不勝者，來齊其化也，其餘太過之化仿此。不及兼化，謂克我者、我克之者皆茂育也。假如木不及克我之金，其蟲介，其畜雞、其谷稻、其果桃，皆化育也。蓋不及則氣衰，克我者我畏之，我克者不畏我，來兼其化也。其餘不及之化仿此。苞者，茂也。</p>

<h2>運氣為病歌</h2>
<p>五運六氣之為病，名異情同氣質分，今將二病歸為一，免使醫工枉費心。</p>
<p>【注】五運六氣之為病，雖其名有木、火、土、金、水、風、火、濕、燥、寒之異，而其實為病之情狀則同也。今將木運之病、風氣之病，火運之病、暑氣之病，土運之病、濕氣之病，金運之病、燥氣之病，水運之病、寒氣之病，總歸為一病。不使初學醫工，枉費心思而不得其頭緒也。</p>
<p>諸風掉眩屬肝木，諸暴強直風所因，支痛軟戾難轉側，裡急筋縮兩脅疼。</p>
<p>【注】在天為風，在地為木，在人為肝，在體為筋。風氣通於肝，故諸風為病，皆屬於肝木也。掉，搖動也，眩，昏暈也。風主動旋，故病則頭身搖動目昏眩暈也。暴，卒也，強直，筋病，強急不柔也。風性勁急，風入於筋，故病則卒然筋急強直也。其四肢拘急疼痛，筋軟短縮，乖戾失常，難於轉側，裡急脅痛，亦皆風傷其筋，轉入里病也。</p>
<p>諸痛癢瘡屬心火，諸熱昏喑躁譫狂，暴注下迫嘔酸苦，膺背徹痛血家殃。</p>
<p>【注】在天為熱，在地為火，在人為心，在體為脈。熱氣通於心，故諸火痛癢瘡之病，皆屬於心火也。熱微則燥，皮作癢。熱甚則灼，膚作痛。熱入經脈與血凝結，淺則為癰，深則為疽，更深入之，則傷臟腑。心藏神，熱乘於心，則神不明，故昏冒不省人事也。心主言，熱乘於心，則神不辨，故喑而不能言，或妄言而譫語也。火主動，熱乘於身，則身動而不寧，故身躁擾，動甚則發狂也。暴注者，卒暴水瀉，火與水為病也。下迫者，後重裡急，火與氣為病也。嘔吐酸苦，火病胃也。膺背徹痛，火傷胸也。血家殃者，熱入於脈，則血滿騰，不上溢則下瀉，而為一切失血之病也。</p>
<p>諸濕腫滿屬脾土，霍亂積飲痞閉疼，食少體重肢不舉，腹滿腸鳴饗泄頻。</p>
<p>【注】在天為濕，在地為土，在人為脾，在體為肉。濕氣通於脾，故諸濕為病，皆屬於脾土也。濕蓄內外，故肉腫腹滿也。飲亂於中，故病霍亂也。脾失健運，故病積飲也。脾氣凝結，故病痞硬、便閉而痛也。脾主化谷，病則食少也。脾主肌肉，濕勝故身重也。脾主四肢，四肢不舉，亦由濕使然也。脾主腹，濕淫腹疾，故腹滿、腸鳴、饗泄也。</p>
<p>諸氣膹郁痿肺金，喘咳痰血氣逆生，諸燥澀枯涸乾勁，皺揭皮膚肩臂疼。</p>
<p>【注】在天為燥，在地為金，在人為肺，在體為皮。燥氣通於肺，故諸燥氣為病，皆屬於肺金也。膹郁，謂氣逆胸滿，膹郁不舒也。痿，謂肺痿咳嗽，唾濁痰涎不已也。喘咳氣逆、唾痰涎血，皆肺病也。凡澀枯涸乾勁，皆燥之化也。幹勁似乎強直，皆筋勁病也。故卒然者，多風入而筋勁也。久之者，多枯燥而筋勁也。皺，膚皺澀也。揭，皮揭起也，此燥之病乎外也。臂痛肩痛也，亦燥之病於經也。</p>
<p>諸寒收引屬腎水，吐下腥穢徹清寒，厥逆禁固骨節痛，癥瘕㿗疝腹急堅。</p>
<p>【注】在天為寒，在地為水，在人為腎，在體為骨。寒氣通於腎，故諸寒氣為病，皆屬於腎水也。收，斂也，引，急也。腎屬水，其化寒，斂縮拘急，寒之化也。熱之化，吐下酸苦，故寒之化，吐下腥穢也。熱之化，水液渾濁，故寒之化，澄徹清冷也。厥逆，四肢冷也。禁固，收引堅勁。寒傷於外，則骨節痛也。寒傷於內，則癥瘕、㿗疝、腹急堅痛也。</p>

<h2>五運客運太過為病歌</h2>
<p>風氣大行太過木，脾土受邪苦腸鳴，饗泄食減腹支滿，體重煩冤抑氣升，雲物飛揚草木動，搖落木勝被金乘，甚則善怒顛眩冒，脅痛吐甚胃絕傾。</p>
<p>【注】上文統論主運主氣為病，此詳言五運客運專主之病也。歲木太過、六壬年也，或歲土不及、六已年也。木太過則恃強乘土，土不及則母弱而金衰，無以制木，而木亦來乘土，故木氣盛則風氣大行，為木太過之化。在人則脾土受邪為病，苦腸鳴、饗泄、食少，腹滿、體重、煩冤。煩冤者，謂中氣抑鬱不伸故也。在天則有云物飛揚之變，在地則有草木動搖之化。木勝不已而必衰，衰則反被金乘，有凋隕搖落之復也。故更見善怒、顛疾、眩冒、脅痛、吐甚之肝脾病也。胃絕傾者，謂胃土衝陽之脈絕而不至，是為脾絕，故主命傾也。</p>
<p>暑熱大行太過火，肺金受邪喘咳疴，氣少血失及病瘧，注下咽干中熱多，燔炳物焦水泉涸，冰雨寒霜水復過，甚則譫狂胸背痛，太淵脈絕命難瘥。</p>
<p>【注】歲火太過、六戊年也，或歲金不及、六乙年也。火太過，則火恃強而乘金。金不及，則母弱而水衰無以制火，而火亦乘金。故火氣盛則暑熱大行，為火太過之化。在人則肺金受邪，其為病喘而咳嗽，氣少不足息，血失而顏色瘁，及瘧疾注下，火瀉咽乾中熱也。在天則有燔炳炎烈沸騰之變，在地則有物焦槁、水泉涸之化。火勝不已而必衰，衰則反被水乘，有雨冰雹早霜寒之復也；故更見譫語狂亂，胸背痛之心肺病也。太淵，肺脈也，肺金之脈絕而不至，是為肺絕，故主病難愈也。</p>
<p>雨濕大行太過土，腎水受邪腹中疼，體重煩冤意不樂，雨濕河衍涸魚生，風雨土崩鱗見陸，腹滿溏瀉苦腸鳴，足痿瘈痛並飲滿，太谿腎絕命難存。</p>
<p>【注】歲土太過，六甲年也，歲水不及，六辛年也，土太過，則土恃強而乘水，水不及，則母弱而木衰無以制土，而土亦乘水。故土氣盛則雨濕大行，為土太過之化。在人則腎水受邪，其為病，四肢冷厥、腹中痛，體重、煩冤、意不樂也。在天則有雨濕數至之變，在地則有河衍涸澤生魚之化。濕勝不已而必衰，衰則反被木乘，有風雨大至，土崩鱗見於陸之復也，故更見腹滿、溏瀉、腸鳴、足痿瘈痛、飲滿之脾胃病也。太谿，腎脈也，腎水之脈絕而不至，是為腎絕，故曰主命難存也。</p>
<p>清燥大行太過金，肝木受邪耳無聞，脅下少腹目赤痛，草木凋隕焦槁屯，甚則胸膺引背痛，胠脅何能反側身，喘咳氣逆而血溢，太衝脈絕命難生。</p>
<p>【注】歲金太過，六庚年也。歲木不及，六丁年也。金太過，則金恃強而乘木；木不及，則母弱而火衰無以制金，而金亦乘木。故金氣盛則清燥大行，為金太過之化。在人則肝木受邪，其為病耳聾無聞，脅下痛、少腹痛、目眥赤痛也。在天則有清燥肅殺之變，在地則有草木凋隕之化。燥勝不已而必衰，衰則反被火乘，有蒼干、焦槁之復也。故更見胸膺引背、胠脅疼痛、不能轉側，喘咳、氣逆、失血之肝肺病也。太衝，肝脈也，肝木之脈絕而不至，是為肝絕，故主命難生也。</p>
<p>寒氣大行太過水，邪害心火熱心煩，躁悸譫妄心中痛，天冰霜雪地裂堅，埃霧蒙郁寒雨至，甚則腫咳病中寒，腹滿溏鳴食不化，神門脈絕死何言。</p>
<p>【注】歲水太過，六丙年也。歲火不及，六癸年也，水太過，則水恃強而乘火；火不及，則母弱而土衰無以制水，而水亦乘火。故水氣盛則寒氣大行，為水太過之化。在人則心火受邪，其為病心煩躁悸，譫語妄言，心中熱痛也。在天則有雨冰霜雪之變，在地則有凍裂堅剛之化。寒勝不已而必衰，衰則反被土乘，有埃霧蒙郁不散，寒雨大至之復也。故更見腫、喘、中寒，腹滿、溏瀉、腸鳴，飲食不化之腎脾病也。神門，心脈也，心火之脈絕而不至，是為心絕，故主死也。</p>

<h2>六氣客氣主病歌</h2>
<p>少陰司天熱下臨，肺氣上從病肺心，燥行於地肝應病，燥熱交加民病生，喘咳血溢及血瀉，寒熱鼽嚏涕流頻，瘡瘍目赤嗑干腫，厥心脅痛苦呻吟。</p>
<p>【注】上文統論主運、主氣為病，此則詳言六氣客氣專主之病也。少陰君火司天，子午歲也。火氣下臨金之所畏，故肺氣上從而病肺心也。凡少陰司天，則陽明燥金在泉，故燥行於地而病肝也。是則知燥熱交加，民病喘咳，血上溢，血下泄，寒熱、鼽塞、噴嚏、流涕、瘡瘍、目赤、嗌乾、腫痛、心痛、脅痛，皆其證也。</p>
<p>太陰司天濕下臨，腎氣上從病腎陰，寒行於地心脾病，寒濕交攻內外淫，民病身重足跗腫，霍亂痞滿腹脹䐜，肢厥拘急腳下痛，少腹腰疼轉動屯。</p>
<p>【注】太陰濕土司天，丑未歲也。濕氣下臨水之所畏，故腎氣上從而病腎陰也。凡太陰司天，則太陽寒水在泉，故寒行於地而病心脾也。是知寒濕內外交攻，民病身重，足跗腫，霍亂，痞滿，腹脹，四肢厥逆拘急，腳下痛，少腹痛，腰痛難於動轉，皆其證也。</p>
<p>少陽司天火下臨，肺氣上從火刑金，風行於地肝木勝，風火為災是乃因，民病熱中咳失血，目赤喉痹聾眩瞑，瘡瘍心痛瞤瘛冒，暴死皆因臣犯君。</p>
<p>【注】少陽相火司天，寅申歲也。火氣下臨金之所畏，故肺氣上從而病肺也。凡少陽司天，則厥陰風木在泉，故風行於地，木勝則病在肝，是則知風火為災，民病熱中，咳而失血，目赤，喉痹，耳聾眩瞑、瘡瘍，心痛、瞤動，瘛瘲，昏冒，皆其證也。暴死者，是三之客氣，相火加臨君火，以臣犯君故也。</p>
<p>陽明司天燥下臨，肝氣上從病肝筋，熱行於地心肺害，清燥風熱互交侵，民病寒熱咳膹郁，掉振筋痿力難伸，煩冤脅痛心熱痛，目痛眥紅小便熏。</p>
<p>【注】陽明燥金司天，卯酉歲也。燥氣下臨木之所畏，故肝氣上從而病肝筋也。凡陽明司天，則少陰君火在泉，故熱行於地而病肺心也。是則知清燥風熱交侵，民病寒熱而咳，胸郁膹滿，掉搖振動，筋痿無力，煩冤抑鬱不伸，兩脅心中熱痛，目痛眥紅，小便絳色，皆其證也。</p>
<p>太陽司天寒下臨，心氣上從病脈心，濕行於地脾肉病，寒濕熱內去推尋，民病寒中終反熱，癰疽火鬱病纏身，皮𤸆肉苛足痿軟，濡瀉滿腫乃濕根。</p>
<p>【注】太陽寒水司天，辰戌歲也。寒氣下臨火之所畏，故心氣上從而病心脈也。凡太陽司天，則太陰濕土在泉，故濕行於地而病脾肉也。是則知寒濕熱氣相合，民病始為寒中終反變熱，如癰疽一切火鬱之病，皮𤸆痹而重著，肉苛不用不仁，足痿無力，濕瀉腹滿身腫，皆其證也。</p>
<p>厥陰司天風下臨，脾氣上從脾病生，火行於地冬溫化，風火寒濕為病民，耳鳴掉眩風化病，支滿腸鳴饗瀉頻，體重食減肌肉痿，溫厲為災火化淫。</p>
<p>【注】厥陰風木司天、巳亥歲也。風氣下臨土之所畏，故脾氣上從而病脾也。凡厥陰司天，則少陽相火在泉，故火行於地而病溫也。是則知風火寒濕雜揉，民病耳聾，振掉，眩暈，腹滿腸鳴，完穀不化之瀉，體重食減，肌肉痿瘦，皆其證也。</p>

<h2>運氣當審常變歌</h2>
<p>未達天道之常變，反謂氣運不相應，既識一定之常理，再審不定變化情，任爾百千雜合病，要在天時地化中，知其要者一言畢，不得其旨散無窮。</p>
<p>【注】近世醫者，皆謂五運六氣與歲不應，置而不習，是未達天道之常變也。時之常者，如春溫、夏熱、秋涼、冬寒也。日之常者，早涼、午熱、暮溫、夜寒也。時之變者，春不溫、夏不熱、暑不蒸、秋不涼、冬不寒也。日之變者，早溫、午寒、暮涼、夜熱也。但學醫者，欲達常變之道，當先識一定主客之理，次審不定變化卒然之情，然後知百千雜合之氣為病，俱莫能逃天時地化之理也。雖或有不應，亦當審察與天時何時、地化何化、人病何病相同，即同彼時、彼化、彼病而施治之，乃無差謬。此知其要者，一言而終也。為醫者可不於運氣中一加意耶？</p>
<p><u>附：衝陽諸脈穴位：</u></p>
<p>衝陽穴——在足跗上五寸，去陷骨二寸骨間動脈。</p>
<p>太淵穴——在掌後內側，橫紋頭動脈中。</p>
<p>太谿穴——在足內踝後五分，跟骨上動脈陷中。</p>
<p>太衝穴——在足大指本節二寸間，動脈應手陷中。</p>
<p>神門穴——在掌後銳骨端陷中。</p>
<p><u>附：衝陽諸脈穴圖</u></p>
<figure>
<img alt="衝陽諸脈穴圖">
</figure>
