<header data-type="book">
<h1>醫貫</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>趙獻可</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1687">公元1687年</data></dd></div>
<div><dt>底本</dt><dd>明薛三才刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=6b07fd3dc29d40afb5e142a0a8be4432fDE2NzM1&SourceID=1">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>

<h1>醫巫閭子醫貫序</h1>
<p>凡人有所以生。而非形也。形有所以促。而非病也。病有所以治。而非藥石也。中醫以藥石治病。上醫借藥石以治生。病病者不受不生。惟生生者病而生危。甚則促。故欲治生者原生。夫人何以生。生於火也。三統之說。人生於寅。寅生火也。火陽之體也。造化以陽為生之根。人生以火為生之門。儒者曰。天開於子。水為元。醫者曰。人生於水。腎為元。孰知子為陽初也。又孰知腎為火藏也。陰生於陽。故水與火為對。然而火不與水為對體。其與水對者。後天之火。離火也。其不與水為對者。先天之火。乾火也。夫乾、陽之純也。夫陽、火之主也。夫水、火之原也。後天之火有形。而先天者無形。有形之火。水之所克。無形之火。水之所生。今夫艾臺見日而火。方諸見月而水。此水火之大分也。然取水者迎月之光。而不迎其魄。何也。魄陰也。而光借於日則陽也。水不生於水。而生於火明矣。是故土蒸而潤。膚燠而澤。釀醅而溢。釜炊而汗。丹砂硫黃之所韞而湯也。匯為溫泉出焉。水之生於火也益信。火生乎水。亦還藏於水也。其象在坎。一陽陷於二陰之中。而命門立焉。蓋火也而腎水寄之矣。其生乎水也。其象在干。純陽立於雜卦之先。左旋而坎水出焉。右旋而兌水納焉。蓋水也而陰陽之火。則分而寄之矣。此所謂後天中之先天也。有氣而未始有形也。無形之火以陽生。陽寄位於心則為君。神明以官。譬若火之光。以陽生陰。寄運於三焦則為相。腑臟以充。譬若火之焰。君火在上。而相火巽乎水而上行。譬若轆轤之轉而未始停也。水乃升而火降。所謂既濟者也。如是則生全。不則其生非者。反以剋木。水為火所克。則水竭而無所與藏。還以自克而生害。故養生莫先於養火。醫巫閭子曰。余所重先天之火者。非第火也。人之所以立命也。仙煉之為丹。釋傳之為燈。儒明之為德者。皆是物也。一以貫之也。故命其名曰醫貫。其說具載於書余不論。論其原生之大指若此。醫巫閭子姓趙氏。名獻可。別號養葵。其為今稱。蓋有逃名之意焉。且以書成於幽州。若曰藏諸山以俟其人。刻而行之者。家伯兄司馬公也。</p>
<p><u>賜進士第奉訓大夫右春坊右諭德兼翰林院侍講撰述</u></p>
<p><u>誥敕東宮日講官甬東友人薛三省拜撰</u></p>

<h1>卷之一·玄元膚論</h1>

<h2>內經十二官論</h2>
<p>心者。君主之官也。神明出焉。肺者。相傳之官。治節出焉。肝者。將軍之官。謀慮出焉。膽者。中正之官。決斷出焉。膻中者。臣使之官。喜樂出焉。脾胃者。倉廩之官。五味出焉。大腸者。傳道之官。變化出焉。小腸者。受盛之官。化物出焉。腎者。作強之官。伎巧出焉。三焦者。決瀆之官。水道出焉。膀胱者。州都之官。津液藏焉。氣化則能出矣。凡此十二官者。不得相失也。故主明則下安。以此養生則壽。歿世不殆。以為天下則大昌。主不明則十二官危。使道閉塞而不通。形乃大傷。以此養生則殃。以為天下者。其宗大危。戒之戒之。至道在微。變化無窮。孰知其原。窘乎哉。消者瞿瞿。孰知其要。閔閔之當。孰者為良。恍惚之數。生於毫釐。毫釐之數。起於度量。千之萬之。可以益大。推之大之。其形乃制。</p>
<p>此內經文。</p>
<p>玩內經註文。即以心為主。愚謂人身別有一主非心也。謂之君主之官。當與十二官平等。不得獨尊心之官為主。若以心之官為主。則下文主不明則十二官危。當云十一官矣。此理甚明。何注內經者昧此耶。蓋此一主者。氣血之根。生死之關。十二經之綱維。醫不達此。醫云乎哉。</p>
<p>或問心既非主。而君主又是一身之要。然則主果何物耶。何形耶。何處安頓耶。余曰悉乎問也。若有物可指。有形可見。人皆得而知之矣。惟其無形與無物也。故自古聖賢。因心立論。而卒不能直指其實。孔門之一貫。上繼精一執中之統。惟曾子子貢得其傳。然而二子俱以心悟。而非言傳也。若以言傳。當時門人之所共聞。不應復有何謂之問也。後來子思衍其傳而作中庸。天命之性。以中為大本。而終於無聲無臭。孟子說不動心有道。而根於浩然之氣。及問浩然之氣。而又曰難言也。老氏道德經云。穀神不死。是為玄牝之門。造化之根。又口。恍恍惚惚。其中有物。佛氏心經云。空中無色。無受想形識。無眼耳鼻舌身意。又曰。萬法歸一。一歸何處。夫一也中也性也。浩然也。玄牝也。空中也。皆虛名也。不得已而強名之也。立言之士。皆可以虛名著論。至於行醫濟世。將以何味的為君主之藥。而可以綱維一身之疾病耶。餘一日遇一高僧問之。自心是佛。佛在胸中也。僧曰非也。在胸中者是肉團心。有一真如心是佛。又問僧曰。真如心有何形狀。僧曰無形。余又問在何處安寄。僧曰想在下邊。余曰此可幾於道矣。因與談內經諸書。及銅人圖。豁然超悟。唯唯而退。今將十二經形景圖。逐一申示。俾學者按圖考索。據有形之中。以求無形之妙。自得之矣。特撰形影圖說於後。</p>
<p>臟腑內景。各有區別。咽喉二竅。同出一脘。異途施化。喉在前主出。咽在後主吞。喉系堅空。連接肺本。為氣息之路。呼吸出入。下通心肝之竅。以激諸脈之行。氣之要道也。咽系柔空。下接胃本。為飲食之路。水穀同下。並歸胃中。乃糧運之關津也。二道並行。各不相犯。蓋飲食必歷氣口而下。氣口有一會厭。當飲食方咽。會厭即垂。厥口乃閉。故水穀下咽。了不犯喉。言語呼吸。則會厭開張。當食言語。則水穀乘氣。送入喉脘。遂嗆而咳矣。喉下為肺。兩葉白瑩。謂之華蓋。以復諸臟。虛如蜂窠。下無透竅。故吸之則滿。呼之則虛。一吸一呼。本之有源。無有窮也。乃清濁之交運。人身之橐龠。肺之下為心。心有系絡上繫於肺。肺受清氣。下乃灌注。其象尖長而圓。其色赤。其中竅數多寡各異。迥不相同。上通於舌。下無透竅。心之下有心包絡。即膻中也。象如仰盂。心即居於其中。九重端拱。寂然不動。凡脾胃肝膽兩腎膀胱。各有一系。繫於包絡之旁以通於心。此間有宗氣。積於胸中。出於喉嚨。以貫心脈而行呼吸。即如霧者是也。如外邪干犯。則犯包絡。心不能犯。犯心即死矣。此下有膈膜。與脊脅周迴相著。遮蔽濁氣。使不得上熏心肺。膈膜之下有肝。肝有獨葉者。有二三葉者。其系亦上絡於心包。為血之海。上通於目。下亦無竅。肝短葉中。有膽附焉。膽有汁。藏而不寫。此喉之一竅也。施氣運化。熏蒸流行。以成脈絡者如此。咽至胃。長一尺六寸。通謂之咽門。嚥下是膈膜。膈膜之下。有胃盛受飲食。而腐熟之。其左有脾。與胃同膜。而附其上。其色如馬肝赤紫。其形如刀鐮。聞聲則動。動則磨胃。食乃消化。胃之左有小腸。後附脊膂。左環回周迭積。其注於迴腸者。外附臍上。共盤十六曲。右有大腸。即迴腸。當臍左。回周迭積而下。亦盤十六曲。廣腸附脊。以受迴腸。左環迭積。下闢乃出滓穢之路。廣腸左側為膀胱。乃津液之府。五味入胃。其津液上升。精者化為血脈。以成骨髓。津液之餘。流入下部。得三焦之氣施化。小腸滲出。膀胱滲入。而溲便注泄矣。凡胃中腐熟水穀。其精氣自胃口之上口。曰賁門。傳於肺。肺播於諸脈。其滓穢自胃之下口曰幽門。傳於小腸。至小腸下口。曰闌門。泌別其汁。清者滲出小腸。而滲入膀胱。滓穢之物。則轉入大腸。膀胱赤白瑩淨。上無所入之竅。止有下口。全假三焦之氣化施行。氣不能化。則閉格不通而為病矣。此咽之一竅。資生氣血。轉化糟粕。而出入如此。三焦者。上焦如霧。中焦如漚。下焦如瀆。有名無形。主持諸氣。以象三才。故呼吸升降。水穀腐熟。皆待此通達。與命門相為表裡。上焦出於胃口。並咽以上貫膈而布胸中走腋。循太陰之分。而行傳胃中谷味之精氣於肺。肺播於諸脈。即膻中氣海所留宗氣是也。中焦在中脘。不上不下。主腐熟水穀。泌糟粕。蒸津液。化其精微。上注於肺脈。乃化為血液。以奉生身。莫貴於此。即腎中動氣。非有非無。如浪花泡影是也。下焦如瀆。其氣起於胃下脘。別迴腸。注於膀胱。主出而不納。即州都之官氣化則能出者。下焦化之也。腎有二。精所舍也。生於脊膂十四椎下。兩旁各一寸五分。形如豇豆。相併而曲附於脊外。有黃脂包裹。里白外黑。各有帶二條。上條繫於心包。下條過屏翳穴後趨脊骨。兩腎俱屬水。但一邊屬陰。一邊屬陽。越人謂左為腎。右為命門非也。命門即在兩腎各一寸五分之間。當一身之中。易所謂一陽陷於二陰之中。內經曰。七節之旁。有小心是也。名曰命門。是為真君真主。乃一身之太極。無形可見。兩腎之中。是其安宅也。其右旁有一小竅。即三焦。三焦者。是其臣使之官。稟命而行。周流於五臟六腑之間而不息。名曰相火。相火者。言如天君無為而治。宰相代天行化。此先天無形之火。與後天有形之心火不同。其左旁有一小竅。乃真陰。真水氣也。亦無形。上行夾脊。至腦中為髓海。泌其津液。注之於脈。以榮四支。內注五臟六腑。以應刻數。亦隨相火而潛行於周身。與兩腎所主後天有形之水不同。但命門無形之火。在兩腎有形之中。為黃庭。故曰五臟之真。惟腎為根。褚齊賢云。人之初生受胎。始於任之兆。惟命門先具。有命門。然後生心。心生血。有心然後生肺。肺生皮毛。有肺然後生腎。腎生骨髓。有腎則與命門合。二數備。是以腎有兩岐也。可見命門為十二經之主。腎無此。則無以作強。而技巧不出矣。膀胱無此。則三焦之氣不化。而水道不行矣。脾胃無此。則不能蒸腐水穀。而五味不出矣。肝膽無此。則將軍無決斷。而謀慮不出矣。大小腸無此。則變化不行。而二便閉矣。心無此。則神明昏。而萬事不能應矣。正所謂主不明則十二官危也。余有一譬焉。譬之元宵之鰲山走馬燈。拜者舞者飛者走者。無一不具。其中間惟是一火耳。火旺則動速。火微則動緩。火熄則寂然不動。而拜者舞者飛者走者。軀殼未嘗不存也。故曰汝身非汝所有。是天地之委形也。余所以諄諄必欲明此論者。欲世之養身者治病者。的以命門為君主。而加意於火之一字。夫既曰立命之門。火乃人身之至寶。何世之養身者。不知保養節欲。而日夜戕賊此火。既病矣。治病者。不知溫養此火。而日用寒涼。以直滅此火。焉望其有生氣耶。經曰。主不明則十二官危。以此養生則殃。戒之戒之。余今直指其歸元之路而明示之。命門君主之火。乃水中之火。相依而永不相離也。火之有餘。緣真水之不足也。毫不敢去火。只補水以配火。壯水之主。以鎮陽光。火之不足。因見水之有餘也。亦不必瀉水。就於水中補火。益火之原。以消陰翳。所謂原與主者。皆屬先天無形之妙。非曰心為火而其原在肝。腎為水而其主屬肺。蓋心脾腎肝肺。皆後天有形之物也。須有無形之火。配無形之水。直探其君主之穴宅而求之。是為同氣相求。斯易以入也。所謂知其要者。一言而終也。若夫風寒暑濕燥火之入於人身。此客氣也。非主氣也。主氣固。客氣不能入。今之談醫者。徒知客者除之。漫不加意於主氣何哉。縱有言固主氣者。專以脾胃為一身之主。焉知坤土是離火所生。而艮土又屬坎水所生耶。明乎此。不特醫學之淵源有自。而聖賢道統之傳。亦自此不昧。而所謂一貫也。浩然也。明德也。玄牝也。空中也。太極也。同此一火而已。為聖為賢。為佛為仙。不過克全此火而歸之耳。小子茲論。闡千古之未明。慎勿以為迂。</p>
<p>繫辭曰。易有太極。是生兩儀。周子懼人之不明。而製為太極圖。無極而太極。無極者。未分之太極。太極者。已分之陰陽也。一中分太極。中字之象形。正太極之形也。一即伏羲之奇一而圓之。即是無極。既曰先天太極。天尚未生。盡屬無形。何為伏羲畫一奇。周子畫一圈。又涉形跡矣。曰此不得已而開示後學之意也。夫人受天地之中以生。亦原具有太極之形。在人身之中。非按形考索。不能窮其奧也。</p>
<figure>
<img alt="圖">
</figure>
<p>兩腎俱屬水。左為陰水。右為陽水。以右為命門非也。命門在兩腎中。命門左邊小黑圈是真水之穴。命門右邊小白圈是相火之穴。此一水一火俱無形。日夜潛行不息。兩腎在人身中合成一太極。自上數下十四節。自下數上七節。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p>余因按古銅人圖。畫一形象。而人身太極之妙。顯然可見。是豈好事哉。亦不得已也。試即命門言之。</p>
<p>命門在人身之中。對臍附脊骨。自上數下。則為十四椎。自下數上。則為七椎。內經曰。七節之旁。有小心。此處兩腎所寄。左邊一腎。屬陰水。右邊一腎。屬陽水。各開一寸五分。中間是命門所居之官。即太極圖中之白圈也。其右旁一小白竅。即相火也。其左旁之小黑竅。如天一之真水也。此一水一火。俱屬無形之氣。相火稟命於命門。真水又隨相火。自寅至申。行陽二十五度。自酉至醜。行陰二十五度。日夜周流於五臟六腑之間。滯則病。息則死矣。人生男女交媾之時。先有火會。而後精聚。故曰火在水之先。人生先生命門火。此褚齊賢之言也。發前人之所未發。世謂父精母血非也。男女俱以火為先。男女俱有精。但男子陽中有陰。以火為主。女子陰中有陽。以精為主。謂陰精陽氣則可。男女合。此二氣交聚。然後成形。成形俱屬後天矣。後天百骸俱備。若無一點先天火氣。盡屬死灰矣。故曰主不明。則十二官危。</p>
<p>或又問曰。如上所言。心為無用之物耶。古之聖賢。未有不以正心養心盡心為訓。而先生獨欲外心以言道。恐心外之道。非至道也。余曰。子細玩經文。自得之矣。經曰。神明出焉。則所繫亦重矣。豈為無用哉。盍不觀之朝廷乎。皇極殿。是王者嚮明出治之所也。乾清宮。是王者嚮晦晏息之所也。指皇極殿而即謂之君身可乎。蓋元陽君主之所以為應事接物之用者。皆從心上起經綸。故以心為主。至於棲真養息。而為生生化化之根者。獨藏於兩腎之中。故尤重於腎。其實非腎而亦非心也。</p>

<h2>陰陽論</h2>
<p>陰陽之理。變化無窮。不可盡述。姑舉其要者言之。夫言陰陽者。或指天地。或指氣血。或指乾坤。此對待之體。其實陽統乎陰。天包乎地。血隨乎氣。故聖人作易。於乾則曰大哉乾元。乃統天。於坤則曰至哉坤元。乃順承天。古人善體易義。治血必先理氣。血脫益氣。故有補血不用四物湯之論。如血虛發熱。立補血湯一方。以黃耆一兩為君。當歸四錢為臣。氣藥多而血藥少。使陽生陰長。又如失血暴甚欲絕者。以獨參湯一兩頓煎服。純用氣藥。斯時也。有形之血。不能速生。幾微之氣。所當急固。使無形生出有形。蓋陰陽之妙。原根於無也。故曰無名天地之始。生死消長。陰陽之常度。豈人所能損益哉。聖人裁成天地之化。輔相天地之宜。每寓扶陽抑陰之微權。方復而先憂七日之來。未濟而預有衣袽之備。防未然而治未病也。然生而老。老而病。病而死。人所不能免。但其間有壽夭長短之差。此岐黃之道所由始。神農嘗藥。按陰陽而分寒熱溫涼辛甘酸苦鹹之辨。凡辛甘者屬陽。溫熱者屬陽。寒涼者屬陰。酸苦者屬陰。陽主生。陰主殺。司命者欲人遠殺而就生。甘溫者用之。辛熱者用之。使共躋乎春風生長之域。一應苦寒者俱不用。不特苦寒不用。至於涼者亦少用。蓋涼者秋氣也。萬物逢秋風不長矣。或時當夏令。暑邪侵入。或過食炙煿辛熱而成疾者。暫以苦寒一用。中病即止。終非濟生之品。世之慣用寒涼者。聞余言而怪矣。幸思而試之。其利溥哉。若夫尊生之士。不須服食。不須導引。不須吐納。能大明生死。幾於道矣。生之門。死之戶。不生則不死。上根頓悟無生。其次莫若寡欲。未必長生。亦可卻病。反而求之。人之死。由於生。人之病。由於欲。上工治未病。下工治已病。已病矣。繹其致病之根。由於不謹。急遠房幃。絕嗜欲。庶幾得之。世人服食以圖長生惑矣。甚者日服補藥。以資縱欲。則惑之甚也。</p>
<p>天上地下。陰陽之定位。然地之氣每交於上。天之氣每交於下。故地天為泰。天地為否。聖人參贊天地。有轉否為泰之道。如陽氣下陷者。用味薄氣輕之品。若柴胡升麻之類。舉而揚之。使地道左旋。而升於九天之上。陰氣不降者。用感秋氣肅殺為主。若瞿麥扁蓄之類。抑而降之。使天道右遷而入於九地之下。此東垣補中益氣湯。萬世無窮之利。不必降也。升清濁自降矣。</p>
<p>春秋晝夜。陰陽之門戶。一歲春夏為陽。秋冬為陰。一月朔後為陽。望後為陰。一日晝為陽。夜為陰。又按十二時而分五藏之陰陽。醫者全憑此。以明得病之根原。而施治療之方術。</p>
<p>春夏秋冬。非今行夏之時。當依周正建子。冬至一陽生。夏至一陰生。此二至最為緊要。至者極也。陰極生陽。絕處逢生。自無而有。陽極生陰。從有而無。陽變陰化之不同也。若春分秋分。不過從其中平分之耳。然其尤重者。獨在冬至。故易曰。先王以至日閉關。閉關二字。須看得廣。觀月令云。是月齋戒掩身。以待陰陽之所定。則不止關市之門矣。</p>
<p>或問冬至一陽生。當漸向暖和。何為臘月大寒。冰雪反盛。夏至一陰生。當漸向清涼。何為三伏溽暑。酷熱反熾。亦有說乎。曰此將來者進。成功者退。隱微之際。未易以明也。蓋陽復於下。逼陰於上。井水氣蒸。而堅冰至也。陰盛於下。逼陽於上。井水寒。而雷電合也。今人病面紅口渴煩燥喘咳者。誰不曰火盛之極。抑孰知其為腎中陰寒所逼乎。以寒涼之藥進而斃者。吾不知其幾矣。冤哉冤哉。</p>
<p>朔望分陰陽者。初一日為死魄。陰極陽生。初三日而胐。十三日而幾望。十五則盈矣。漸至二十已後。月廓空虛。海水東流。人身氣血亦隨之。女人之經水。期月而滿。滿則溢。陰極而少陽生。始能受孕。故望以前屬陽。</p>
<p>陽病則晝重而夜輕。陽氣與病氣交旺也。陰病則晝輕而夜重。陰氣與病氣交旺也。若夫陽虛病則晝輕。陰虛病則夜輕。陰陽各歸其分也。治之者既定其時。以證其病。若未發之時。當迎而奪之。如孫子之用兵。在山谷則塞淵泉。在水陸則把渡口。若正發之時。當避其銳鋒。若勢已殺。當擊其惰歸。恐曠日遲久。反生他患也。至於或晝或夜。時作時止。不時而動。是純虛之證。又不拘於晝夜之定候。當廣服補藥。以養其正。如在平川廣漠。當清野千里。又以十二時。分配五臟六腑。自子至午。行陽之分。自午至亥。行陰之分。仲景云。少陰之病欲解時。從子至寅。乘此陽道方亨之時而投之。藥易以入。故仲景傷寒論中。逐時分治。不可不考。</p>
<p>年月日時。皆當各分陰陽。此其大略也。獨甲子運氣。內經雖備言之。往往不驗。當時大撓作甲子。即以本年本月本日本時為始。統紀其數如此。未必能直推至上古甲子年甲子月日時為曆元也。內經特明氣運有如許之異。民病亦有如許之別如此。讀內經者。不可執泥。譬如大明統歷。選擇已定。可信乎。不可信乎。</p>
<p>陽一而實。陰二而虛。蓋陰之二。從陽一所分。故日秉全體。月有盈虧。人之初生。純陽無陰。賴其母厥陰乳哺。而陰始生。是以男子至二八。而精始通。六十四而精已絕。女子至二七。而經始行。四十九而經已絕。人身之陰。止供三十年之受用。可見陽常有餘。陰常不足。況嗜欲者多。節欲者少。故自幼至老。補陰之功。一日不可缺。此陰字指陰精而言。不是泛言陰血。今之以四物湯補陰者誤也。王節齋云。水虛成病者。十之八九。火虛成病者。十之一二。微得其意矣。褚侍中雲。男子陰已耗。而思色以降其精。則精不出而內敗。小便道澀如淋。陽巳痿而復竭之。則大小便牽痛。愈痛則愈便。愈便則愈痛。玩褚王二公之言。陰中有水有火。水虛者固多。火衰者亦不少。未有精泄已虛。而元陽能獨全者。況陰陽互為其根。議補陰者。須以陽為主。蓋無陽則陰無以生也。</p>
<p>男子抱陽而負陰。女子抱陰而負陽。人身劈中分陰陽左右。男子右屬火而為氣。左屬水而為血。女子右屬水。而左屬火。凡人半肢風者。男子多患左。女子多患右。豈非水不能營耶。</p>
<p>此皆泛言陰陽之理。有根陰根陽之妙。不窮其根。陰陽或幾乎息矣。談陰陽者。俱曰氣血。是矣。詎知火為陽氣之根。水為陰血之根。盍觀之天地間。日為火之精。故氣隨之。月為水之精。故潮隨之。然此陰陽水火。又同出一根。朝朝稟行。夜夜覆命。周流而不息。相偶而不離。惟其同出一根。而不相離也。故陰陽又各互為其根。陽根於陰。陰根於陽。無陽則陰無以生。無陰則陽無以化。從陽而引陰。從陰而引陽。各求其屬而窮其根也。世人但知氣血為陰陽。而不知水火為陰陽之根。能知水火為陰陽。而誤認心腎為水火之真。此道之所以不明不行也。試觀之天上。金木水火土五星見在。而日月二曜。所以照臨於天地間者。非真陰真陽乎。人身心肝脾肺腎五行俱存。而所以運行於五臟六腑之間者。何物乎。有無形之相火行陽二十五度。無形之腎水行陰二十五度。而其根則原於先天太極之真。此所以為真也。一屬有形。俱為後天。而非真矣非根矣。謂之根。如木之根而枝葉所由以生者也。</p>
<p>既有真陰真陽。何謂假陰假陽。曰此似是而非。多以誤人。不可不知。如人大熱發燥口渴舌燥。非陽證乎。余視其面色赤。此戴陽也。切其脈。尺弱而無力。寸關豁大而無倫。此係陰盛於下。逼陽於上。假陽之證。余以假寒之藥。從其性而折之。頃刻平矣。如人惡寒身不離復衣。手足厥冷。非陰證乎。余視其面色滯。切其脈澀。按之細數而有力。此係假寒之證。寒在皮膚。熱在骨髓。余以辛涼之劑。溫而行之。一汗而愈。凡此皆因真氣之不固。故假者得以亂其真。假陽者。不足而示之有餘也。假陰者。有餘而示之不足也。既已識其假矣。而無術以投其所欲。彼亦捍格而不入。經曰。伏其所主。而先其所因。其始則異其終則同。可使去邪。而歸於正矣。</p>
<p>有偏陰偏陽者。此氣稟也。太陽之人。雖冬月身不須綿。口常飲水。色欲無度。大便數日一行。芩連梔柏大黃芒硝。恬不知怪。太陰之人。雖暑月不離復衣。食飲稍涼。便覺腹痛泄瀉。參朮薑桂。時不絕口。一有欲事。呻吟不已。此兩等人者。各稟陰陽之一偏者也。與之談醫。各執其性之一偏而目為全體。常試而漫為之。雖與之言。必不見信。是則偏之為害。而誤人多矣。今之為醫者。鑑其偏之弊。而製為不寒不熱之方。舉世宗之。以為醫中王道。豈知人之受病。以偏得之。感於寒則偏於寒。感於熱則偏於熱。以不寒不熱之劑投之。何以補其偏而救其弊哉。故以寒治熱。以熱治寒。此方士之繩墨也。然而苦寒頻進。而積熱彌熾。辛熱比年。而沉寒益滋者何耶。此不知陰陽之屬也。經曰。諸寒之而熱者取之陰。諸熱之而寒者取之陽。所謂求其屬也。斯理也。惟王太僕能窮之。注云。寒之不寒。是無水也。熱之不熱。是無火也。無水者。壯水之主。以鎮陽光。無火者。益火之原。以消陰翳。啟玄達至理於繩墨之外。而開萬世醫學之源也。</p>
<p>陰陽者虛名也。水火者實體也。寒熱者。天下之淫氣也。水火者。人之真元也。淫氣湊疾。可以寒熱藥施之。真元致病。即以水火之真調之。然不求其屬。投之不入。先天水火。原屬同宮。火以水為主。水以火為原。故取之陰者。火中求水。其精不竭。取之陽者。水中尋火。其明不熄。斯大寒大熱之病。得其平矣。偏寒偏熱之士。不可與言也。至於高世立言之士。猶誤認水火為心腎。無怪乎後人之懵懵也。</p>

<h2>五行論</h2>
<p>以木火土金水。配心肝脾肺腎。相生相剋。素知之矣。諸書有云。五行惟一。獨火有二。此言似是而非。論五行俱各有二。奚獨一火哉。若論其至。五行各有五。五五二十五。五行各具一太極。此所以成變化而行鬼神也。今以五行之陰陽生死言之。木有甲木屬陽。乙木屬陰。人身之膽是甲木。屬足少陽。肝是乙木。屬足厥陰。甲木生於亥而死於午。乙木生於午而死於亥。火有丙火屬陽。丁火屬陰。人身之相火屬手少陽。心火屬手少陰。丙火生於寅而死於酉。丁火生於酉而死於寅。水有壬水屬陽。癸水屬陰。人身之腎水屬足少陰。膀胱屬足太陽。壬水生於申而死於卯。癸水生於卯而死於申。土有戊土屬陽。己土屬陰。人身之胃土屬足陽明。脾土屬足太陰。戊土生於寅而死於酉。己土生於酉而死於寅。金有庚金屬陽。辛金屬陰。人身之肺金屬手太陰。大腸金屬手陽明。庚金生於巳而死於子。辛金生於子而死於巳。欲察病情者。專以時日之生旺休囚。而驗其陰陽之屬。如膽火旺。則寅卯旺而午未衰。肝火旺。則午未甚而亥子衰。五行各以其類推之。</p>
<p>獨土金隨母寄生。故欲補土金者。從寄生處而補其母。是以東垣有隔二之治。是從母也。有隔三之治。又從母之外家也。土金惟寄生。故其死為真死。惟水火從真生。故其死不死。絕處逢生矣。歸庫者。絕其生氣而收藏也。返魂者。續其死氣而變化也。況水火隨處有生機。鑽木可取。擊石可取。圓珠可取。方諸取水。掘地取水。承露取水。若金死不救。土死不救。木死不救。是以余於五行中。獨重水火。而其生克之妙用。又從先天之根。而與世論不同。</p>
<p>近世人皆曰。水剋火。而余獨曰水養火。世人皆曰金生水。而余獨曰水生金。世人皆曰土剋水。而余獨於水中補土。世人皆曰木剋土。而余獨升木以培土。若此之論。顛倒拂常。誰則信之。詎知君相二火。以腎為宮。水剋火者。後天有形之水火也。水養火者。先天無形之水火也。海中之金。未出沙土。不經鍛鍊。不畏火。不剋木。此黃鐘根本。人之聲音。出自肺金。清濁輕重。丹田所繫。不求其原。徒事於肺。抑末也。今之言補肺者。人參黃耆。清肺者。黃芩麥冬。斂肺者。五味訶子。瀉肺者。葶藶枳殼。病之輕者。豈無一效。若本源虧損。毫不相干。蓋人肺金之氣。夜臥則歸藏於腎水之中。丹家謂之母藏子宮。子隱母胎。此一臟名曰嬌臟。畏熱畏寒。腎中有火。則金畏火刑而不敢歸。腎中無火。則水冷金寒而不敢歸。或為喘脹。或為咳噦。或為不寐。或為不食。如喪家之狗。斯時也。欲補土母以益子。喘脹愈甚。清之瀉之。肺氣日消。死期迫矣。惟收斂者。僅似有理。然不得其門。從何而入。仁齋直指云。肺出氣也。腎納氣也。肺為氣之主。腎為氣之本。凡氣從臍下逆奔而上者。此腎虛不能納氣歸元也。毋徒從事於肺。或壯水之主。或益火之原。火向水中生矣。</p>
<p>若夫土者。隨火寄生。即當隨火而補。然而補火。有至妙之理。陽明胃土。隨少陰心火而生。故補胃土者補心火。而歸脾湯一方。又從火之外家而補之。俾木生火。火生土也。太陰脾土。隨少陽相火而生。故補脾土者。補相火。而八味丸一方。合水火既濟而蒸腐之。此一理也至理也。人所不知。人所不信。余持申言之。蓋混沌之初。一氣而已。何嘗有土。自天一生水。而水之凝成處始為土。此後天卦位。艮土居坎水之次也。其堅者為石。而最堅者為金。可見水土金。先天之一原也。又有補子之義。蓋肺為土之子。先補其子。使子不食母之乳。其母不衰。亦見金生土之義。又有化生之妙。不可不知。甲木戊土所畏。畏其所勝。不得已以己妹嫁之。配為夫婦。後歸外氏成家。此甲己化土。其間遇龍則化。不遇龍則不化。凡化物以龍為主。張仲景立建中湯。以健脾土。木曰曲直。曲直作酸。芍藥味酸屬甲木。土曰稼穡。稼穡作甘。甘草味甘屬己土。酸甘相合。甲己化土。又加肉桂。蓋桂屬龍火。使助其化也。仲景立方之妙類如此。又以見木生土之義。蓋土無定位。旺於四季。四季俱有生理故及之。至於木也者。以其剋土。舉世欲伐之。余意以為木借土生。豈有反克之理。惟木鬱於下。故其根下克。蓋木氣者。乃生生之氣。始於東方。盍不觀之為政者。首重農事。先祀芒神。芒神者木氣也。春升之氣也。陽氣也。元氣也。胃氣也。同出而異名也。我知種樹而已。雨以潤之。風以散之。日以暄之。使得遂其發生長養之天耳。及其發達既久。生意已竭。又當斂其生生之氣。而歸於水土之中。以為來春發生之本。焉有伐之之理。此東垣脾胃論中用升柴以疏木氣。諄諄言之詳也。但未及雨潤風散。與夫歸根覆命之理。余於木鬱論中備言之。總之申明五行之妙用。專重水火耳。</p>
<p>論五行各有五</p>
<p>以火言之。有陽火。有陰火。有水中之火。有土中之火。有金中之火。有木中之火。陽火者。天上日月之火。生於寅而死於酉。陰火者。炳燭之火。生於酉而死於寅。此對待之火也。水中火者。霹靂火也。即龍雷之火。無形而有聲。不焚草木。得雨而益熾。見於季春而伏於季秋。原夫龍雷之見者。以五月一陰生。水底冷而天上熱。龍為陽物。故隨陽而上升。至冬一陽來復。故龍亦隨陽下伏。雷亦收聲。人身腎中相火。亦猶是也。平日不能節欲。以致命門火衰。腎中陰盛。龍火無藏身之位。故遊於上而不歸。是以上焦煩熱咳嗽等證。善治者。以溫腎之藥。從其性而引之歸原。使行秋冬陽伏之令。而龍歸大海。此至理也。奈何今之治陰虛火衰者。以黃柏知母為君。而愈寒其腎。益速其斃。良可悲哉。若有陰虛火旺者。此腎水乾枯而火偏盛。宜補水以配火。亦不宜苦寒之品以滅火。壯水之主。以鎮陽光。正謂此也。如燈燭火。亦陰火也。須以膏油養之。不得雜一滴寒水。得水即滅矣。獨有天上火入於人身。如河間所論六氣暑熱之病。及傷暑中暑之疾。可以涼水沃之。可以苦寒解之。其餘爐中火者。乃灰土中無焰之火。得木則煙。見濕則滅。須以炭培。實以溫燼。人身脾土中火。以甘溫養其火。而火自退。經曰。勞者溫之。損者溫之。甘能除大熱。溫能除大熱。此之謂也。</p>
<p>空中之火。附於木中。以常有坎水滋養。故火不外見。惟乾柴生火、燎原不可止遏。力窮方止。人身肝火內熾。鬱悶煩躁。須以辛涼之品發達之。經曰。木鬱則達之。火鬱則發之。使之得遂其炎上之性。若以寒藥下之。則愈郁矣。熱藥投之。則愈熾矣。</p>
<p>金中火者。凡山中有金銀之礦。或五金埋瘞之處。夜必有火光。此金鬱土中而不得越。故有光輝發見於外。人身皮毛空竅中。自覺針刺蚊咬。及巔頂如火炎者。此肺金氣虛。火乘虛而現。肺主皮毛也故也。經曰。東方木實。因西方金虛也。補北方之水。即所以瀉南方之火。雖曰治金中之火。而通治五行之火。無餘蘊矣。</p>
<p>以水言之。有陽水。有陰水。有火中之水。有土中之水。有金中之水。有木中之水。陽水者。坎水也。氣也。希夷先生陰陽消息論曰。坎以一陽陷於二陰。水氣潛行地中。為萬物受命根本。蓋潤液也。氣之液也。月令於仲秋云。殺氣浸盛。陽氣日衰水始涸。是水之涸地之死也。於仲冬云。水泉動。是月一陽生。是水之動地之生也。謂之火中之水可也。謂之土中之水可也。陰水者。兌澤也。形也。一陰上徹於二陽之上。以有形之水。普施萬物。下降為資生之利澤。在上即可謂雨露之水。在下即為大溪之水。人之飲食入胃。命門之火。蒸腐水穀。水穀之氣。上熏於肺。肺通百脈。水精四布。五經並行。上達皮毛。為汗為涕為唾為津。下濡膀胱。為便為液。至於血亦水也。以其隨相火而行。故其色獨紅。周而復始。滾滾不竭。在上即可為天河水。在下即為長流水。始於西北天門。終於東南地戶。正所謂黃河之水天上來。奔流到海不復回。故黃河海水。皆同色也。</p>
<p>金中之水。礦中之水銀是也。在人身為骨中之髓。至精至貴。人之寶也。木中水者。巽木入於坎水而上出。其水即木中之脂膏。人身足下有湧泉穴。肩上有肩井穴。此暗水潛行之道。凡津液潤布於皮膚之內者。皆井泉水也。夫水有如許之不同。總之歸於大海。天地之水。以海為宗。人身之水。以腎為源。而其所以能晝夜不息者。以其有一元之乾氣為太極耳。此水中之五行也。明此水火之五行。而土木金可例推矣。經曰。紀於水火。餘氣可知。</p>

<h1>卷之二·主客辨疑</h1>

<h2>中風論</h2>
<p>王安道中風辨</p>
<p>人有卒暴僵仆。或偏枯。或四肢不舉。或不知人。或死或不死者。世以中風呼之。而方書以中風治之。余考諸內經。則曰風之傷人也。或為寒熱。或為熱中。或為寒中。或為癘風。或為偏枯。或為風也。其卒暴僵仆。不知人。四肢不舉者。並無所論。止有偏枯一論而已。及觀千金方。則引岐伯曰。中風大法有四。一曰偏枯。二曰風痱。三曰風癔。四曰風痹。金匱要略中風篇云。寸口脈浮而緊。緊則為寒。浮則為虛。寒虛相搏。邪在皮膚。浮者血虛。絡脈空虛。賊邪不瀉。或左或右。邪氣反緩。正氣即急。正氣引邪。喎僻不遂。邪在於絡。肌膚不仁。邪在於經。即重不勝。邪入於腑。即不識人。邪入於臟。舌即難言。口吐涎沫。由是觀之。知卒暴僵仆。不知人。偏枯四肢不舉等證。固為因風而致者矣。故用大小續命。西州續命。排風八風等諸湯散治之。及近代劉河間李東垣朱彥修三子者出。所論始與昔人異矣。河間主乎火。東垣主乎氣。彥修主乎濕。反以風為虛象。而大異於昔人矣。以予觀之。昔人三子之論。皆不可偏廢。但三子以相類中風之病。視為中風而立論。故使後人狐疑而不能決。殊不知因於風者。真中風。因於火因於氣因於濕者。類中風而非中風也。三子之所論者。自是因火因氣因濕。而為暴病暴死之證。與風何相干哉。如內經所謂三陰三陽發病。為偏枯痿易。四肢不舉。亦未嘗必因於風而後然也。夫風火氣濕之殊。望聞問切之間。豈無所辨乎。辨之為風。則從昔人以治之。辨之為火氣濕。則從三子以治之。如此庶乎析理明而用法當矣。惟其以因火因氣因濕之證。強引風而合論之。所以真偽不分而名實相紊。若以因火因氣因濕證分出之。則真中風病彰矣。</p>
<p>王氏之論甚妙。但類中風與真中風並論。無輕重緩急之分。亦不能無弊。愚意邪之所湊。其氣必虛。內傷者間而有之間字。當作五百年間出之間。當專主虛論。不必兼風。河間東垣各發前人所未發。至為精妙。但有論無方。後人何所依從。而彥修以陰虛立論。亦發前人所未發。惜乎以氣血濕痰為主。而不及真陰。不能無遺弊於後世焉。</p>
<p>東垣云。有中風者。卒然昏憒。不省人事。痰涎壅盛。語言謇澀等證。此非外來風邪。乃本氣自病也。凡人年逾四旬。氣衰之際。或憂喜忿怒傷其氣者。多有此證。壯歲之時無有也。若肥盛者。則間而有之。亦是形盛氣衰而如此耳。</p>
<p>觀東垣之論。當以氣虛為主。縱有風邪。亦是乘虛而襲。經曰。邪之所湊。其氣必虛是也。當此之時。豈尋常藥餌能通達於上下哉。急以三生飲一兩。加人參一兩。煎服即蘇。夫三生飲乃行經治痰之劑。斬關奪旗之將。每服必用人參兩許。駕驅其邪。而補助真氣。否則不惟無益。適以取敗。觀先哲用耆附參附。其義可見矣。若遺尿手撒口開鼾睡為不治。然用前藥。多有得生者。不可不知。</p>
<p>河間曰。所謂中風癱瘓者。非為肝木之風實甚而卒中之。亦非外中於風。良由將息失宜。心火暴甚。腎水虛衰。不能制之。則陰虛陽實。而熱氣拂鬱。心神昏冒。筋骨不用。而卒倒無知也。亦有因喜怒思悲恐五志有所過極而卒中者。夫五志過極。皆為熱甚。俗云風者。言末而忘其本也。</p>
<p>觀劉氏之論。則以風為末。而以火為本。世之尊劉氏者。專以為劉氏主火之說。殊不知火之有餘。水之不足也。劉氏原以補腎為本。觀其地黃飲子之方可見矣。故治中風。又當以真陰虛為本。</p>
<p>注云。舌暗不能言。足廢不能行。此謂少陰氣厥不至。急當溫之。名口痱證。</p>
<p>但陰虛有二。有陰中之水虛。有陰中之火虛。火虛者專以河間地黃飲子為主。水虛者。又當以六味地黃為主。果是水虛。則辛熱之藥。與參耆之品。俱不可加。</p>
<p>河間東垣專治本而不治風。可為至當不易之論。學者必須以陰虛陽虛為主。自後世醫書雜出。而使後學狐疑不決。丹溪篡要曰。有氣虛。有血虛。有濕痰。左手脈不足。及左半身不遂者。以四物湯補血之劑為主。而加以竹瀝薑汁。右手脈不足。及右半身不遂者。以四君子補氣之劑。而佐以竹瀝薑汁。如氣血兩虛。而挾痰盛者。以八物湯為主。而加南星半復竹瀝薑汁之類。丹溪之論。平正通達。宜世之人盛宗之。但持此以治中風。而多不效。或少延而久必斃。何也。蓋治氣血痰之標。而不治氣血痰之本也。人之有是四肢也。如木之有枝幹也。人之氣血。榮養乎四肢也。猶木之漿水。灌溉乎枝葉也。木有枝葉。必有根本。人之氣血。豈無根本乎。人有半身不遂。而遷延不死者。如木之根本未甚枯。而一邊之枝幹先萎耳。人有形容肥壯。忽然倒僕。而即斃者。如木之根本已絕。其枝葉雖滋榮。猶枯楊生華。何可久也。忽遇大風而摧折矣。觀此則根本之論明矣。然所謂氣血之根本者何。蓋火為陽氣之根。水為陰氣之根。而火與水之總根。兩腎間動氣是也。此五臟六腑之本。十二經之源。呼吸之門。三焦之根。又名守邪之神。經曰。根於中者命曰神機。神去則機息。根於外者名曰氣立。氣止則化絕。今人縱情嗜欲。以致腎氣虛衰。根先絕矣。一或內傷勞役。或六淫七情。少有所觸。皆能卒中。此陰虛陽暴絕也。須以參附大劑。峻補其陽。繼以地黃丸十補丸之類。填實真陰。又有心火暴甚。腎水虛衰。又兼之五志過極。以致心神昏悶。卒倒無知。其手足牽掣。口眼喎斜。乃水不能榮筋急而縱也。俗云風者。乃風淫末疾之假象。風自火出也。須以河間地黃飲子。峻補其陰。繼以人參麥門冬五味之類。滋其化源。此根陽根陰之至論也。若夫所謂痰者。凡人將死之時。必有痰。何獨中風為然。要之痰從何處來。痰者水也。其原出於腎。張仲景曰。氣虛痰泛。以腎氣丸補而逐之。觀此凡治中風者。既以前法治其根本。則痰者不治而自去矣。若初時痰涎壅盛。湯藥不入。少用稀涎散之類。使喉咽疏通。能進湯液即止。若欲必盡攻其痰。頃刻立斃矣。戒之哉。戒之哉。</p>
<p>或問人有半肢風者。必須以左半身屬血。右半身屬氣。豈復有他說乎。曰未必然。人身劈中分陰陽水火。男子左屬水。右屬火。女子左屬火。右屬水。男子半肢風者多患左。女子半肢風者多患右。即此觀之。可見以陰虛為主。又有一等人。身半以上俱無恙如平人。身半以下。軟弱麻痹。小便或澀或自遺。果屬氣乎。屬血乎。此亦足三陰之虛證也。不可不知。</p>
<p>經曰。胃脈沉鼓澀。胃外鼓大。心脈小堅急。皆得偏枯。男子發左。女子發右。不喑舌轉可治。三十日起。其從者喑三歲起。年不滿二十者。三歲死。蓋胃與脾為表裡。陰陽異位。更實更虛。更逆更從。或從內。或從外。是故胃陽虛。則內從於脾。內從於脾。則脾之陰盛。故胃脈沉鼓澀也。澀為多血少氣胃之陽盛。則脾之陰虛。虛則不得與陽主內。反從其胃。越出於部分之外。故胃脈鼓大於臂外也。大為多氣少血。心者元陽君主宅之。生血生脈。因元陽不足。陰寒乘之。故心脈小堅急。小者陽不足也。堅急者陰寒之邪也。夫如是心胃脾三脈。凡有其一。即為偏枯者何也。蓋心是天真神機開發之本。胃是穀氣充大真氣之標。標本相得。則胸膈間之膻中氣海。所留宗氣盈溢。分布四臟三焦。上下中外。無不周遍。若標本相失。則不能致其氣於氣海。而宗氣散矣。故分布不周於經脈。則偏枯。不周於五臟則喑。即此言之。是一條。可為後之諸言偏枯者綱領也。未有不因真氣不周而病者也。</p>
<p>乾坤生氣云。凡人有手足漸覺不遂。或臂膊及髀股指節麻痹不仁。或口眼歪斜。語言謇澀。或胸膈迷悶。吐痰相續。或六脈弦滑而虛軟無力。雖未至於倒僕。其中風暈厥之候。可指日而決矣。須預防之。愚謂預防之理。當節飲食。戒七情。遠房事。此至要者也。如欲服餌預防。須察其脈證之虛實。如兩尺虛衰者。以六味地黃八味地黃。培補肝腎。如寸關虛弱者。以六君子十全大補之類。急補脾肺。才有補益。若以搜風順氣。及清氣化痰等藥。適所以招風取中也。不可不知。</p>
<p>岐伯謂中風大法有四。一曰偏枯。謂半身不遂而痛也。如木之根本未甚枯。而一邊枝幹先萎者是也。言不變。志不亂。病在分腠之間。巨針取之。益其不足。損其有餘。乃可復也。二曰風痱。謂身無疼痛。四肢不收也。如癱瘓是也。癱者坦也。筋脈弛縱。坦然而不舉也。瘓者渙也。血氣渙散而無用也。志亂不甚。其言微知可治。甚則不能言。不可治也。三曰風癔。謂奄然忽不知人也。咽中塞窒。舌強不能言。則是急中風。而其候也。發汗身軟者生。若汗不出。身硬唇乾者死。視其鼻。人中左右上下白者可治。一黑一赤吐沫者死。四曰風痹。謂諸痹。類風狀也。經曰。風寒濕三氣。合而成痹。曰痛痹。筋骨掣痛。曰著痹。著而不行。曰行痹。走注疼痛。曰周痹。身疼痛。又曰行痹屬風。痛痹屬寒。著痹屬濕。如正氣不足之證。只補正氣。不必祛邪。如邪氣有餘。若痹證之類。雖以扶正氣為主。不可不少用祛邪之法。如易老天麻丸之類。</p>
<p>口眼喎斜</p>
<p>靈樞言足陽明之筋。其病頰筋有寒。則急引頰移口。熱則筋弛。縱緩不能收。故僻。是左寒右熱。則左急而右緩。右寒左熱。則右急而左緩。故偏於左者。左寒而右熱。偏於右者。右寒而左熱也。夫寒不可徑用辛熱之劑。蓋左中寒。則逼熱於右。右中寒。則迫熱於左。陽氣不得宣行故也。</p>
<p>口之喎。炙以地倉。目之斜。炙以承泣。苟不效。當炙人迎。夫氣虛風入而為偏。上不得出。下不得泄。真氣為風邪所陷。故宜灸。經曰。陷下則灸之是也。</p>
<p>惟外中風邪者。方有喎斜等證。若夫熱則生風者。不可謂盡得病於窗隙之風。縱有喎斜等證。乃假象也。亦不甚。蓋火勝則金衰。金衰則木盛。木盛則生風。惟潤燥則風自息。不必用前灸法。</p>
<p>素問曰。諸風掉眩支痛強直筋縮。為厥陰風木之氣。自大寒至小滿。風木君火二氣之位。風主動。善行數變。木旺生火。風火屬陽。多為兼化。且陽明燥金。主於緊斂縮勁。風木為病。反見燥金之化。由亢則害承乃制。謂己極過。則反似勝己之化。故木極似金。況風能勝濕而為燥。風病勢甚而成筋縮燥之甚也。此等證候。正所謂風淫所勝。治以清涼者也。不宜用桂附。</p>
<p>或問曰。當此之時。小續命湯可用乎。曰未必然。小續命湯此仲景金匱要略治冬月直中風寒之的方。即麻黃桂枝湯之變方也。其間隨六經之形證。逐一加減。未便可按方統用其全方也。如太陽無汗。於本方中倍麻黃杏仁防風。如有汗惡風。於本方中倍桂枝芍藥杏仁。如陽明無汗身熱不惡風。於本方中加石膏知母甘草。有汗身熱不惡風。於本方中加葛根桂枝黃芩。如太陽無汗身涼。於本方中加附子乾薑甘草。少陰經中有汗無熱。於本方中加桂枝附子甘草。凡中風無此四證。六經混淆。繫於少陽厥陰。或肢節攣痛。或麻木不仁。每續命八兩。加羌活四兩。連翹六兩。此係六經有餘之表證。須從汗解。如有便溺阻隔。宜三化湯。或局方麻仁丸通利之。雖然。邪之所湊。其氣必虛。世間內傷者多。外感者間而有之。此方終不可輕用也。</p>
<p>許學士云。氣中者。因七情所傷。</p>
<p>經曰。神傷于思慮則肉脫。意傷於憂愁則肢廢。魂傷於悲哀則筋攣。魄傷於喜樂則衰槁。志傷於盛怒則腰脊重。難俯仰也。又曰。暴怒傷陰。暴喜傷陽。故憂愁不已。氣多厥逆。牙關緊急。若作中風誤治殺人多矣。蓋中風者。身溫且多痰涎。中氣者。身涼而無痰涎。宜蘇合香丸灌之即蘇。經曰。無故而喑脈不至者。雖不治自已。謂氣暴逆也。氣復自愈。</p>
<p>王節齋云。飲食過傷。變為異常急暴之病。人所不識。多有飲食醉飽之後。或感風寒。或著氣惱。食填太陰胃氣不行。須臾厥逆。昏迷不省。若誤作中風中氣治之立斃。惟以陰陽淡鹽湯探吐之。食出即愈。經曰。上部有脈。下部無脈。法當吐。不吐則死。詳見格致餘論木鬱則達之條下。以上二條論。當與厥門互看。</p>
<p>有一等形體肥胖。平素善飲。忽一日舌本硬強。語言不清。口眼喎斜。痰氣上湧。肢體不遂。此肥人多中。以氣盛於外而歉於內也。兼之酒飲濕熱之證。須用六君子加煨葛根山梔神麯而治之。</p>
<p>有一人久病滯下。忽一日昏僕。目上視。溲注而汗瀉。脈無倫。丹溪先生曰。此陰虛陽暴絕也。得之病後而酒且內。急治人參膏。而促灸其氣海。頃之手動。又頃之唇動。參膏成三飲之而蘇。後服盡數斤而愈。予觀此。凡人大病後。及婦人產後。多有此證。不可不知。</p>
<p>按丹田氣海與腎脈相通。人於有生之初。先生命門。胞系在臍。故氣海丹田。實為生氣之源。十二經之根本也。故灸而效。</p>
<p>有一婦人先胸脅脹痛。後四肢不收。自汗如雨。小便自遺。大便不實。口緊目瞤。飲食頗進。十餘日。或以為中臟甚憂。請薛立齋先生視之。曰非也。若風既中臟。真氣既脫。惡證既見。禍在反掌。焉能延至十日。乃候其色。面目俱赤而或青。診其脈左三部洪數。惟肝尤甚。乃知胸乳脹痛。肝經血虛。肝氣痞塞也。四肢不收。肝經血虛不能養筋也。自汗不止。肝經血熱。津液妄泄也。小便自遺。肝經熱甚。陰挺失職也。大便不實。肝木熾盛克脾土也。遂用犀角散四劑。諸證頓愈。又用加味逍遙散調理而安。後因鬱怒。前證復作。兼發熱嘔吐。飲食少思。月經不止。此木盛剋土而脾不能攝血也。用加味歸脾為主。佐以逍遙散而愈。後每遇怒。或睡中手足搐搦。復用前藥即愈。</p>
<p>唐柳太后病風不能言。脈沉欲脫。群醫束手相視。許胤宗曰。是餌陽藥無及矣。即以黃耆防風煮湯數十斛。置床下。氣騰騰如霧熏薄之。是夕語。更藥之而起。</p>
<p>盧州王守道風噤不能語。王克明令熾炭燒地。上灑以藥。置病者於其上。須臾小蘇。</p>
<p>以上二法。病至垂絕。湯液不及。亦治法之變者也。</p>
<p>有人平居無疾苦。忽如死人。身不動搖。默默不知人。目閉不能開。口噤不能言。或微知人。惡聞人聲。但如眩冒。移時方寤。此由出汗過多。血少氣並於血。陽獨上而不下。氣壅塞而不行。故身如死。氣過血還。陰陽復通。故移時方寤。名曰鬱冒。亦名血厥。婦人多有之。宜白薇湯倉公散。</p>
<p>厥</p>
<p>此厥與傷寒二厥不同。不可不知分辨。</p>
<p>陽氣衰乏者。陰必湊之。令人五指至膝上皆寒。名曰寒厥。是寒逆於下也。宜六物附子湯主之。陰退則陽進。故陰氣衰於下。則陽往湊之。故令人足下熱也。熱甚則循三陰而上逆。謂之熱厥。宜六味地黃丸主之。肝藏血而主怒。怒則火起於肝。載血上行。故令血菀於上。是血氣亂於胸中。相搏而厥逆也。謂之搏厥。宜蒲黃湯主之。諸動屬陽。故煩勞則擾乎陽。而陽氣張大。陽氣張大。則勞火亢矣。火炎則水乾。故令精絕。是以遷延闢積至於夏月。內外皆熱。水益虧而火益亢。孤陽厥逆。如煎如熬。故曰煎厥。宜人參固本丸主之。五屍之氣。暴注於人。亂人陰陽氣血。上有絕陽之絡。下有破陰之紐。形氣相離。不相順接。故令暴厥如死。名曰屍厥。宜二十四味流氣飲、蘇合香丸主之。寒痰迷悶。四肢逆冷。名曰痰厥。宜姜附湯主之。胃寒即吐蛔蟲。名曰蛔厥。宜烏梅丸加理中湯主之。氣為人身之陽。一有拂鬱。則陽氣不能四達。故令手足厥冷。與中風相似。但中風身溫。中氣身冷耳。名曰氣厥。宜八味順氣散主之。</p>
<p>余按常病陽厥補陰。壯水之主。陰厥補陽。益火之源。此陰厥陽厥。與傷寒之陰陽二厥不同。傷寒陽厥。用推陳致新之法。陰厥則用附子理中。冰炭殊塗。死生反掌。慎之哉。慎之哉。</p>

<h2>傷寒論</h2>
<p>傷寒專祖仲景。凡讀仲景書。須將傷寒與中寒。分為兩門。始易以通曉。為因年久殘缺。補遺註釋者。又多失次錯誤。幸歷代考正者漸明。逮陶節庵六書吳綬蘊要二書刊行。而傷寒之理始著。余於至理。未暇詳辨。先將傷寒中寒。逐一辨明。庶不使陰陽二證混亂。夫傷寒治之。得其綱領不難也。若求之多歧。則支離矣。先以陽證言之。夫既云傷寒。則寒邪自外入內而傷之也。其入則有淺深次第。自表達里。先皮毛。次肌肉。又次筋骨腸胃。此其漸入之勢然也。若夫風寒之初入。必先太陽寒水之經。便有惡風惡寒頭痛脊痛之證。寒鬱皮毛。是為表證。若在他經。則無此證矣。脈若浮緊無汗為傷寒。以麻黃湯發之。得汗為解。浮緩有汗為傷風。用桂枝湯散邪。汗止為解。若無頭疼惡寒。脈又不浮。此為表證罷而在中。中者何。表裡之間也。乃陽明少陽之分。脈不浮不沉。在乎肌肉之間。謂皮膚之下也。然有二焉。若微洪而長。即陽明脈也。外證鼻乾不眠。用葛根湯以解肌。脈弦而數。少陽脈也。其證脅痛耳聾。寒熱往來而口苦。以小柴胡湯和之。蓋陽明少陽不從標本從乎中治也。若有一毫惡寒尚在表。雖入中還當兼散邪。過此為邪入里。為實熱。脈不浮不沉。沉則按之筋骨之間方是。若脈沉實有力。外證不惡風寒。而反惡熱譫語大渴。六七日不大便。明其熱入里而腸胃燥實也。輕則大柴胡湯。重則三承氣湯。大便通而熱愈矣。以陰證言之。若初起。便怕寒。手足厥冷。或戰慄蜷臥不渴。兼之腹痛嘔吐泄瀉。或口出涎沫。面如刀刮。不發熱而脈沉遲無力。此為陰證。不從陽經傳入熱證治例。更當看外證如何。輕則理中湯。重則姜附湯四逆湯以溫之。由此觀之。可見傷寒者。由皮毛而後入臟腑。初雖惡寒發熱而終為熱證。其人必素有火者。中寒者。直入臟俯。始終惡寒。而並無發熱等證。其人必無火者。一則發表攻裡。一則溫中散寒。兩門判然明白。何至混雜於中而使後人疑誤耶。</p>
<p>寒傷榮。風傷衛。衛陽也。風亦陽也。陽從陽之類。故風能傷衛。血陰也。寒亦陰也。陰從陰之類。故寒能傷榮。辛甘發散為陽。風宜辛散。寒宜甘發。桂枝辛而熱者。故能發散衛中之風邪。麻黃甘而熱者。故能發散血中之寒邪。又桂枝麻黃。氣味俱輕。陽中之陽。故能入太陽經。散皮膚間之風寒也。此二方者乃治冬月正傷寒之的方。霜降後至春分前。此時太陽寒水用事。房勞辛苦之人其太陽寒水之氣。乘虛而客入於太陽經。同氣相求。故易以傷也。仲景特以殺氣最重。故詳言之。其餘時月則無傷寒。則二方不可用也。今人醫牌上多書治四時傷寒。名不正則言不順矣。活人言頭痛如破者。連須蔥白湯。不可便與升麻葛根湯。恐太陽流入陽明。是太陽邪氣引入陽明。不能解也。未至少陽者。不可便與柴胡湯。如有惡寒證。本方加麻黃。惡風加桂枝。如正陽明腑病。不惡寒有汗而渴。當用白虎湯。</p>
<p>太陽經表之表也。行身之背。陽明經表之裡也。行身之前。少陽經半表半裡也。行乎兩脅之旁。過此則少陰太陰厥陰俱入臟而為里。</p>
<p>大凡傷寒邪熱傳裡結實。須看熱氣淺深用藥。今之醫不分當急下可少與宜微和胃氣之論。一概用大黃芒硝亂投湯劑下之。因茲枉死者多矣。余謂傷寒之邪。傳來非一。治之則殊耳。病有三焦俱傷者。則痞滿燥實堅俱全。宜大承氣湯。厚朴苦溫以去痞。枳實苦寒以泄滿。芒硝鹹寒以潤燥軟堅。大黃苦寒以泄實去熱。病斯愈矣。邪在中焦。則有燥實堅三證。故用調胃承氣湯。以甘草和中。芒硝潤燥。大黃泄實。不用枳實厚朴。恐傷上焦元氣。調胃之名。由此立矣。上焦受傷。則痞而實。用小承氣湯。枳實厚朴之能除痞。大黃之泄實。去芒硝不傷下焦真陰。謂不伐其根本也。若夫大柴胡湯。則有表證尚未除。而里證又急。不得不下者。只得以此湯通表裡而緩治之。尤有老弱及血氣兩虛之人。亦宜用此。故經云。轉藥孰緊。有芒硝者緊也。大承氣最緊。小承氣次之。柴胡又次之。其大柴胡加芒硝。方得轉藥。蓋為病輕者設也。仲景云。盪滌傷寒熱積。皆用湯藥。切不宜用丸藥。不可不知。如欲用此三方。須以手按病人。自胸至小腹。果有硬處。手不可近。方敢下手。然其至妙處。尤須辨舌之燥滑若何。此金鏡錄三十六舌。不可不細玩也。</p>
<p>初病無熱。便四肢厥冷。或胸腹中滿。或嘔吐腹滿痛下利。脈細無力。此自陰證受寒。即真陰證。非從陽經傳來。便宜溫之。不宜少緩。經云。發熱惡寒者。發於陽也。無熱惡寒者。發於陰也。治宜四逆湯。腹滿腹痛。皆是陰症。只有微甚不同。治難一概。腹痛不大便。桂枝芍藥湯。腹痛甚。桂枝大黃湯。若自利腹痛。小便清白。宜溫中。理中四逆看微甚用。輕者五積散。重者四逆湯。無脈者通脈四逆湯。使陰退而陽復也。</p>
<p>陰毒病。手足指甲皆青。脈沉細而急者。四逆湯。無脈者。通脈四逆湯。陰毒甘草湯。臍中蔥熨。氣海關元著艾。可灸二三百壯。乃用溫和補氣之藥。通其內外。以復陽氣。若俱不效。死證也。</p>
<p>以上皆真陰證。人皆知之。至於反常。則不易曉。有發熱面赤。煩躁揭去衣被。飲冷脈大。誤為陽證投寒藥。死者多矣。必須憑脈下藥。不問浮沉大小。但指下無力。按至筋骨。全無力者。必有伏陰。不可與涼藥。若已曾服過涼藥。脈必鼓指而有力。脈又難憑矣。若一應茶湯。及寒熱藥俱吐者。此陰盛格陽。急用白通湯。加人尿膽汁。以通拒格之寒。所以仲景傷寒論中。傳經與直中並論者。正謂有陽證似陰。陰證似陽。所宜詳辨。但年久散亂。後人誤相補集。致使不明。如太陽證頭痛發熱。當脈浮而反沉。又似少陰矣。故用麻黃附子細辛湯。如少陰證脈沉。應無熱。而反發熱者。又似太陽矣。須用乾薑附子甘草湯。如陰證四肢厥逆。而陽證亦有厥逆者。此四逆湯與四逆散不同。又如陰證下利。而陽證又有漏底者。此理中湯與黃龍湯不同。若此之類。疑似難明。幸陶節庵六書。已明分矣。予又有說焉。若讀傷寒書。而不讀東垣書。則內傷不明。而殺人多矣。讀東垣書。而不讀丹溪書。則陰虛不明。而殺人多矣。讀丹溪書。而不讀薛氏書。則真陰真陽不明。而殺人亦多矣。東垣曰。邪之所湊。其氣必虛。世間內傷者多。外感者間而有之。此一間字當作五百年間出之間。甚言其無外感也。東垣脾胃論。與夫內傷外感辨。深明飢飽勞逸發熱等證。俱是內傷。悉類傷寒。切戒汗下。以為內傷多。外感少。只須溫補。不必發散。外感多而內傷少。溫補中少加發散。以補中益氣湯一方為主。加減出入。如內傷兼傷寒者。以本方加麻黃。兼傷風者。本方加桂枝。兼傷暑者。本方加黃連。兼傷濕者。本方加羌活。實萬世無窮之利。東垣特發明陽虛發熱之一門也。然世間真陰虛而發熱者十之六七。亦與傷寒無異。反不及論何哉。今之人一見發熱。則曰傷寒。須用發散。發散而斃。則曰傷寒之書法已窮。奈何。豈知丹溪發明之外。尚有不盡之旨乎。予嘗於陰虛發熱者。見其大熱面赤口渴煩躁。與六味地黃大劑。一服即愈。如見下部惡寒足冷。上部渴甚燥極。或欲飲而反吐。即以六味湯中。加肉桂五味。甚則加附子冷飲。下咽即愈。予嘗以此活人多矣。敢以私秘乎。因制補天要論一卷。以補前人之不迨。所望於高明者。再加裁奪。幸甚幸甚。且舉傷寒口渴一證言之。邪熱入於胃腑。消耗津液故渴。恐胃汁干。急下之。以存津液。其次者。但云欲飲水者。不可不與。不可多與。並無治法。縱有治者。徒知以芩連知柏麥冬五味天花粉。甚則石膏知母以止渴。此皆有形之水。以沃無形之火。安能滋腎中之真陰乎。若以六味地黃大劑服之。其渴立愈。何至傳至少陰。而成燥實堅之證乎。既成燥實堅之證。仲景不得已而以承氣湯下之。此權宜之伯術。然諄諄有虛人老弱人之禁。故以大柴胡代之。陶氏以六乙順氣湯代之。豈以二湯為平易乎。代之而愈。所喪亦多矣。況不愈者十之八九哉。當時若多用六味地黃飲子大劑服之。取效雖緩。其益無窮。況陰虛發熱者。小便必少。大便必實。其上證口渴煩躁。與傷寒無異。彼之承氣者。不過因亢則害。下之以承真陰之氣也。予今直探其真陰之源而補之。如亢旱而甘霖一施。土木皆濡。頃刻為清涼世界矣。何不可哉。況腎水既虛矣。復經一下之後。萬無可生之理。慎之慎之。吾為此懼。故於補天要論中詳言之。</p>
<p>陶節庵亦悟此理。有云自氣而至血。血而復之氣者。大承氣湯下之。自血而之氣氣而復之血者。生地黃黃連湯主之。二者俱不大便。此是承氣湯對子。又與三黃石膏湯相表裡。是皆三焦胞絡虛火之用也。病既危急。只得以此湯降血中之火耳。陶以血為陰。故有此論。惜乎其不識真陰真陽之至理也。</p>
<p>合而言之。真知其為陽虛也。則用補中益氣湯。真知其為陽虛直中也。則用附子理中湯。真知其為陰虛也。則用六味腎氣湯。真知其為陰虛無火也。則用八味腎氣湯。其間有似陰似陽之假證也。則用寒因熱用之法從之。不可少誤。惟以補正為主。不可攻邪。正氣得力。自然推出寒邪。汗出而愈。攻之一字。仁人之所惡也。百戰百勝。戰之善者也。不戰而屈人之兵。善之善者也。故曰善戰者服上刑。</p>

<h2>溫病論</h2>
<p>夫傷寒二字。蓋冬時嚴寒而成殺厲之氣。觸冒之而即時病者。乃名傷寒。不即發者。寒毒藏於肌膚。至春變為溫。至夏變為暑病。暑病者。熱極重於溫也。既變為溫。則不得復言其為寒。不惡寒而渴者是也。此仲景經文也。其麻黃桂枝。為即病之傷寒設。與溫熱何與。受病之源雖同。所發之時則異。仲景治之。當別有方。緣皆遺失而無徵。是以各家議論紛紛。至今未明也。劉守真謂欲用麻黃桂枝。必加涼藥於其中。以免發黃之病。張子和六神通解散。以石膏寒藥中。加麻黃蒼朮。皆非也。蓋麻黃桂枝辛熱。乃冬月表散寒邪所宜之藥。不宜用於春夏之時。陶氏欲以九味羌活湯。謂一方可代三方。亦非也。羌活湯易老所制之方。乃治感四時不正之氣。如春宜溫而反寒。夏宜熱而反溫。秋宜涼而反熱。冬宜寒而反溫。又有春夏秋三時為暴寒所折。雖有惡寒發之證。不若冬時肅殺之氣為甚。故不必麻黃桂枝以散寒。惟宜辛涼之藥。通內外而解之。況此方須按六經加減之法。不可全用也。不若逍遙散為尤妙。真可一方代三方也。然則欲治溫病者。將如何。余有一法。請申而明之。經曰。不惡寒而渴者是也。不惡寒則知其表無寒邪矣。曰渴則知腎水乾枯矣。蓋緣其人素有火者。冬時觸冒寒氣。雖傷而亦不甚。惟其有火在內。寒亦不能深入。所以不即發。而寒氣伏藏於肌膚。自冬至三四月。歷時既久。火為寒鬱。中藏亦久。將腎水熬煎枯竭。蓋甲木陽木也。借癸水而生。腎水既枯。至此時強木旺。無以為發生滋潤之本。故發熱而渴。非有所感冒也。海藏謂新邪喚出舊邪。非也。若復有所感。表又當惡寒矣。余以六味地黃滋其水。以柴胡辛涼之藥舒其木鬱。隨手而應。此方活人者多矣。予又因此而推廣之。凡冬時傷寒者。亦是鬱火證。若其人無火。則為直中矣。惟其有火。故由皮毛而肌肉。肌肉而腑臟。今人皆曰寒邪傳裡。寒變為熱。既曰寒邪。何故入內而反為熱。又何為而能變熱耶。不知即是本身中之火。為寒所鬱而不得泄。一步反歸一步。日久則純熱而無寒矣。所以用三黃解毒。解其火也。升麻葛根即火鬱發之也。三承氣即土鬱則奪之。小柴胡湯木鬱達之也。其理甚簡而易。只多了傳經六經諸語。支離多歧。凡雜證有發熱者。皆有頭疼項強目痛鼻乾脅痛口苦等證。何必拘為傷寒。局傷寒方以治之也。余於冬月正傷寒。獨麻黃桂枝二方。作寒鬱治。其餘俱不惡寒者。作鬱火治。此不佞之創論也。聞之者孰不駭然吐舌。及閱虞天民醫學正傳傷寒篇云。有至人傳曰。傳經傷寒。是郁病。余見之。不覺竊喜。以為先得我心之同然。及考之內經。帝曰。人傷於寒。而傳為熱何也。岐伯曰。寒氣外凝內郁之理。腠理堅緻。玄府閉密。則氣不宣通。濕氣內結。中外相搏。寒盛熱生。故人傷於寒。轉而為熱。汗之則愈。則外凝內郁之理可知。觀此而余以傷寒為鬱火者。不為無據矣。故特著郁論一篇。</p>
<p>論陽毒陰毒</p>
<p>金匱要略云。陽毒之為病。面赤斑斑如錦紋。咽喉痛。唾膿血。五日可治。七日不可治。</p>
<p>陰毒之為病。面目青。身痛如被杖。咽喉痛。死生如陽毒。升麻鱉甲湯並主之。</p>
<p>千金云。陽毒湯治傷寒一二日。變成陽毒。或服藥吐下後。變成陽毒。身重腰脊背痛。煩悶不安。狂言或走。或見鬼神。或吐血下利。其脈浮。</p>

<h2>郁病論</h2>
<p>內經曰。木鬱則達之。火鬱則發之。土鬱則奪之。金鬱則泄之。水鬱則折之。然調其氣。過者折之以其畏也。所謂瀉之。</p>
<p>注內經者。謂達之吐之也。令其條達也。發之汗之也。令其疏散也。奪之下之也。令其無壅凝也。泄之謂滲泄解表利小便也。折之謂制其沖逆也。予謂凡病之起。多由於郁。郁者抑而不通之義。內經五法。為因五運之氣所乘而致郁。不必作憂鬱之郁。憂乃七情之病。但憂亦在其中。丹溪先生云。氣血沖和。百病不生。一有怫鬱。諸病生焉。又製為六郁之論。立越鞠丸以治郁。曰氣曰濕曰熱曰痰曰血曰食。而以香附撫芎蒼朮。開鬱利氣為主。謂氣鬱而濕滯。濕滯而成熱。熱鬱而成痰。痰滯而血不行。血滯而食不消化。此六者相因為病者也。此說出而內經之旨始晦。內經之旨。又因釋注之誤而復晦。此郁病之不明於世久矣。苟能神而明之。擴而充之。其於天下之病。思過半矣。且以注內經之誤言之。其曰達之謂吐之。吐中有發散之義。蓋凡木鬱乃少陽膽經半表半裡之病。多嘔酸吞酸證。雖吐亦有發散之益。但謂無害耳。焉可便以吐字該達字耶。達者暢茂調達之義。王安道曰。肝性急怒氣逆。胠脅或脹。火時上炎。治以苦寒辛散而不愈者。則用升發之藥。加以厥陰報使而從治之。又如久風入中為飧泄。及不因外風之入而清氣在下為飧泄。則以輕揚之劑舉而散之。凡此之類。皆達之之法也。此王氏推廣達之之義甚好。火鬱則發之。發之汗之也。東垣升陽散火湯是也。使勢窮則止。其實發與達不相遠。蓋火在木中。木鬱則火鬱相因之理。達之即所以發之。即以達之之藥發之。無有不應者。但非汗之謂也。汗固能愈。然火鬱於中。未有不蒸蒸汗出。鬚髮之得其術耳。土鬱奪之。謂下奪之。如中滿腹脹。勢甚而不能頓除者。非力輕之劑可愈。則用鹹寒峻下之劑。以劫奪其勢而使之平。此下奪之義也。愚意謂奪不止下。如胃亦土也。食塞胃中。下部有脈。上部無脈。法當吐。不吐則死。內經所謂高者因而越之。以吐為上奪。而衰其胃土之郁。亦無不可。東垣書引木鬱於食填肺分。為金剋木。何其牽強。金鬱泄之。如肺氣□滿。胸憑仰息。非解利肺氣之劑。不足以疏通之。只解表二字。足以盡泄金鬱之義。不必更滲泄利小便。而滲利自在其中。況利小便是涉水鬱之治法矣。獨水鬱折之難解。愚意然調其氣四句。非總結上文也。乃為折之二字。恐人不明。特說此四句。以申明之耳。然猶可也。水之鬱而不通者。可調其氣而愈。如經曰。膀胱者州都之官。津液藏焉。氣化則能出矣。肺為腎水上源。凡水道不通者。升舉肺氣。使上竅通則下竅通。若水注之法。自然之理。其過者。淫溢於四肢。四肢浮腫。如水之氾濫。須折之以其畏也。蓋水之所畏者。土也。土衰不能制之。而寡於畏。故妄行。茲惟補其脾土。俾能制水。則水道自通。不利之利。即所謂瀉之也。如此說。則折字與瀉字。於上文接續。而折之之義益明矣。內經五法之注。乃出自張子和之注。非王啟玄舊文。故多誤。予既改釋其誤。又推廣其義。以一法代五法。神而明之。屢獲其效。故表而書之。蓋東方先生木。木者生生之氣。即火氣。空中之火。附於木中。木鬱則火亦鬱於木中矣。不特此也。火鬱則土自郁。土鬱則金亦郁。金鬱則水亦郁。五行相因。自然之理。唯其相因也。予以一方治其木鬱。而諸郁皆因而愈。一方者何。逍遙散是也。方中唯柴胡薄荷二味最妙。蓋人身之膽木。乃甲木少陽之氣。氣尚柔嫩。象草穿地始出而未伸。此時如被寒風一郁。即萎軟抑遏。而不能上伸。不上伸則下克脾土。而金水並病矣。唯得溫風一吹。鬱氣即暢達。蓋木喜風。風搖則舒暢。寒風則畏。溫風者。所謂吹面不寒楊柳風也。木之所喜。柴胡薄荷辛而溫者。辛也故能發散。溫也故入少陽。古人立方之妙如此。其甚者方中加左金丸。左金丸止黃連吳茱萸二味。黃連但治心火。加吳茱萸氣燥。肝之氣亦燥。同氣相求。故入肝以平木。木平則不生心火。火不刑金。而金能制木。不直伐木。而佐金以制木。此左金之所以得名也。此又法之巧者。然猶未也。一服之後。繼用六味地黃加柴胡芍藥服之。以滋腎水。俾水能生木。逍遙散者。風以散之也。地黃飲者。雨以潤之也。木有不得其天者乎。此法一立。木火之郁既舒。木不下克脾土。且土亦滋潤。無燥熇之病。金水自相生。予謂一法。可通五法者如此。豈惟是哉。推之大之。千之萬之。其益無窮。凡寒熱往來。似瘧非瘧。惡寒發熱嘔吐吞酸嘈雜。胸痛胠痛。小腹脹悶。頭暈盜汗。黃疸溫疫。疝氣飧泄等證。皆對證之方。推而傷風傷寒傷濕。除直中外。凡外感者。俱作郁看。以逍遙散加減出入。無不獲效。如小柴胡湯四逆散羌活湯。大同小異。然不若此方之響應也。神而明之。變而通之。存乎人耳。倘一服即愈。少頃即發。或半日或一日又發。發之愈頻愈甚。此必屬下寒上熱之假證。此方不宜復投。當改用溫補之劑。如陽虛以四君子湯加溫熱藥。陰虛者。則以六味湯中加溫熱藥。其甚者。尤須寒因熱用。少以冷藥從之。用熱藥冷探之法。否則拒格不入。非惟無益。而反害之。病有微甚。治有逆從。玄機之士。不須予贅。</p>

<h1>卷之三·絳雪丹書</h1>

<h2>血症論</h2>
<p>客有問於余曰。失血一證。危急駭人。醫療鮮效。或暴來而頃刻即逝。或暫止而終亦必亡。敢問有一定之方。可獲萬全之利否。余曰。是未可以執一論也。請備言之。</p>
<p>凡血證。先分陰陽。有陰虛。有陽虛。陽虛補陽。陰虛補陰。此直治之法。人所共知。又有真陰真陽。陽根於陰。陰根於陽。真陽虛者。從陰引陽。真陰虛者。從陽引陰。復有假陰假陽。似是而非。多以誤人。此真假二字。曠世之所不講。舉世之所未聞。在雜病不可不知。在血證為尤甚也。汝知之乎。</p>
<p>既分陰陽。又須分三因。風寒暑濕燥火外因也。（過食生冷。好啖炙煿。醉飽無度。外之內也。）喜怒憂思恐。內因也。（勞心好色。內之內也。）跌撲閃朒。傷重瘀蓄者。不內外因也。</p>
<p>既分三因。而必以吾身之陰陽為主。或陰虛而挾內外因也。或陽虛而挾內外因也。蓋陰陽虛者。在我之正氣虛也。三因者。在外之邪氣有餘也。邪之所湊。其氣必虛。不治其虛。安問其餘。</p>
<p>客問曰。吐衄血者。從下炎上之火。暑熱燥火。固宜有之。何得有風寒之證。曰此六淫之氣。俱能傷人。暑熱者十之一二。火燥者半。風寒者半。而火燥之後。卒又歸於虛寒矣。</p>
<p>內經曰。歲火太過。炎暑流行。肺金受刑。民病血溢血泄。又曰少陽之復。火氣內發。血溢血泄。是火氣能使人失血也。而又云太陽司天。寒淫所勝。血變於中。民病嘔血血泄鼽衄善悲。又太陽在泉。寒淫所勝。民病血見。是寒氣能使人失血也。又云太陰在泉。濕淫所勝。民病血見。是濕氣使人失血也。又云少陰司天之政。水火寒熱持於氣交。熱病生於上。冷病生於下。寒熱凌犯。能使人失血者也。太陰司天之政。初之氣。風濕相薄。民病血溢。是風濕相搏血溢也。又云歲金太過。燥氣流行。民病反側咳逆。甚而血溢。是燥氣亦能使人血溢也。六氣俱能使人血溢。何獨火乎。況火有陰火陽火之不同。日月之火。與燈燭之火不同。壚中之火。與龍雷之火不同。又有五志過極之火。驚而動血者。火起於心。怒而動血者。火起於肝。憂而動血者。火起於肺。思而動血者。火起於脾。勞而動血者。火起於腎。能明乎火之一字。而於血之理。思過半矣。</p>
<p>劉河間先生。特以五運六氣暑火立論。故專用寒涼以治火。而後人宗之。不知河間之論。但欲與仲景傷寒論對講。各發其所未發之旨耳。非通論種種不同之火也。自東垣先生出。而論脾胃之火。必須溫養。始禁用寒涼。自丹溪先生出。而立陰虛火動之論。亦發前人所未發。可惜大補陰丸補陰丸二丸中。俱以黃柏知母為君。而寒涼之弊又盛行矣。嗟乎。丹溪之書不息。岐黃之道不著。余特撰陰陽五行之論。以申明火不可以水滅。藥不可以寒攻也。</p>
<p>六淫中雖俱能病血。其中獨寒氣致病者居多。何也。蓋寒偽榮。風傷衛。自然之理。又太陽寒水少陰腎水。俱易以感寒。一有所感。皮毛先入。肺主皮毛。水冷金寒。肺經先受。血亦水也。故經中之水與血。一得寒氣。皆凝滯而不行。咳嗽帶痰而出。問其人必惡寒。切其脈必緊。視其血中間。必有或紫或黑數點。此皆寒浮之驗也。醫者不詳審其證。便以為陰虛火動。而概用滋陰降火之劑。病日深而死日迫矣。余嘗用麻黃桂枝湯而愈者數人。皆一服得微汗而愈。蓋汗與血一物也。奪血者無汗。奪汗者無血。余讀蘭室秘藏而得此意。因備記以廣其傳。</p>
<p>一貧者冬天居大室中。臥大熱炕。得吐血。求治於余。余料此病大虛弱而有火。熱在內。上氣不足。陽氣外虛。當補表之陽氣。瀉其里之虛熱。是其法也。冬天居大室。衣蓋單薄。是重虛其陽。表有大寒壅遏。裡熱火邪不得舒伸。故血出於口。憶張仲景所著傷寒論中一證。太陽傷寒當以麻黃湯發汗而不與。遂成衄血。卻以麻黃湯。立愈。</p>
<p>獨有傷暑吐衄者。可用河間法。必審其證面垢口渴喜飲。乾嘔腹痛或不痛。發熱或不發熱。其脈必虛大汗出者。黃連解毒主湯之。甚者白虎湯。</p>
<p>金匱方云。心氣不足。吐血衄血者。瀉心湯主之。大黃二兩。黃連黃芩各一兩。水三升。煮取一升。頓服之。此正謂手少陰心經之陰氣不足。本經之陽火亢甚。無所輔。肺肝俱受其火而病作。以致陰血妄行而飛越。故用大黃泄去亢甚之火。黃芩救肺。黃連救肝。使之和平。則陰血自復而歸經矣。</p>
<p>愚按暑傷心。心氣既虛。暑氣故乘而入之。心主血。故吐衄。心既虛而不能主血。恐不宜過用寒涼以瀉心。須以清暑益氣湯中。加丹皮生地。兼犀角地黃治之。蓋暑傷心。亦傷氣。其人必無氣以動。脈必虛。以參耆助氣。使氣能攝血。斯無弊也。</p>
<p>客問曰。既雲鬚分陰陽。則吐衄血者。陰血受病。以四物湯補血是矣。參耆補氣。奚為用之。而復有謂陽虛補陽之說何耶。曰子正溺於世俗之淺見也。自王節齋制本草集要。有云陰虛吐血者。忌人參。服之則陽愈旺。而陰愈消。過服人參者死。自節齋一言。而世之受病治病者。無問陽虛陰虛而並棄之若砒毒矣。冤哉冤哉。蓋天地間之理。陽統乎陰。血隨乎氣。故治血必先理氣。血脫必先益氣。古人之妙用也。</p>
<p>凡內傷暴吐血不止。或勞力過度。其血妄行。出如湧泉。口鼻皆流。須臾不救即死。急用人參一兩或二兩為細末。入飛羅面一錢。新汲水調如稀糊。不拘時啜服。或用獨參湯亦可。古方純用補氣。不入血藥何也。蓋有形之血。不能速生。無形之氣。所當急固。無形自能生有形也。若有真陰失守。虛陽泛上。亦大吐血。又須八味地黃湯固其真陰。以引火歸原。正不宜用人參。及火既引之而歸矣。人參又所不禁。陰陽不可不辨。而先後之分。神而明之。存乎人耳。</p>
<p>凡失血之後。必大發熱。名曰血虛發熱。古方立當歸補血湯。用黃耆一兩。當歸六錢。名曰補血。而以黃耆為主。陽旺能生陰血也。如丹溪於產後發熱。用參耆歸芎黑姜以佐之。或問曰。乾薑辛熱。何以用之。曰姜味辛。能引血藥入氣分。而生新血。神而明之。不明此理。見其大熱。六脈洪大。而誤用發散之劑。或以其象白虎湯證。而誤用白虎。立見危殆。慎之哉。</p>
<p>客又問曰。陽能統陰。聞命矣。傷寒吐血。亦聞命矣。然除傷寒外。或者寒涼之藥。不能不少加一二。以殺其火氣。至於辛熱之品。以火濟火。恐一入口而直衝不止。奈何。寧和平守中。以免謗怨。何如。若丹溪產後用乾薑者。為有惡露凝留。故用之以化其瘀。未必可為典耍也。余見先生治血證。不惟不用寒涼。而反常用大辛熱之藥。屢以奏功。不已霸乎。曰子之言。不讀古書。不窮至理。不圖活人之命者也。試檢古人已驗之名言以示之。</p>
<p>金匱方云。吐血不止。柏葉湯主之。柏葉乾姜各二兩。艾三把。以水五升。取馬通一升。合煮取一升。分溫再服。</p>
<p>凡吐血不已。則氣血皆虛。虛則生寒。是故用柏葉。柏葉生而西向。乃稟兌金之氣而生。可制肝木。木主升。金主降。取其升降相配。夫婦之道和。則血得以歸藏於肝矣。故用是為君。乾薑性熱。炒黑則止而不走。用補虛寒之血。艾葉之溫。能入內而不炎於上。可使陰陽之氣。反歸於里。以補其寒。用二味為佐。取馬通者為血生於心。心屬午。故用午獸之通。主降火消停血。引領而行為使。仲景治吐血準繩。可以觸類而長之。</p>
<p>仁齋直指云。血遇熱則宣流。故止血多用涼藥。然亦有氣虛挾寒。陰陽不相為守。榮氣虛散。血亦錯行。所謂陽虛陰必走耳。外必有虛冷之狀。法當溫中。使血自歸於經絡。可用理中湯加南木香。或乾薑甘草湯。其效甚著。又有飲食傷胃。或胃虛不能傳化。其氣逆上。亦能吐衄。木香理中湯甘草乾薑湯。出血諸證。每以胃藥收功。</p>
<p>曹氏必用方。吐血須煎乾姜甘草作湯與服。或四物理中湯亦可。如此無不愈者。若服生地黃藕汁竹茹。去生便遠。</p>
<p>三因方云。理中湯能止傷胃吐血。以其方最理中脘。分別陰陽。安定氣血。按患人果身受寒氣。口受冷物。邪入血分。血得冷而凝。不歸經絡而妄行者。其血必黑黯。其色必白而夭。其脈必微遲。其身必清涼。不用薑桂而用涼血之劑。殆矣。臨病之工。宜詳審焉。</p>
<p>褚氏遺書云。喉有竅咳血傷人。腸有竅便血殺人。便血猶可治。咳血不易醫。飲溲溺百不一死。服寒涼百不一生。血雖陰類。運之者其陽和乎。玩陽和二字。褚氏深達陰陽之妙者矣。</p>
<p>海藏云。胸中聚集之殘火。腹裡積久之太陰。上下隔絕。脈絡部分陰陽不通。用苦熱以定於中。使辛熱以行於外。升以甘溫。降以辛潤。化嚴肅為春溫。變凜冽為和氣。汗而愈也。然餘毒土苴。猶有存者。周身陽和。尚未泰然。胸中微燥而思涼飲。因食冷物服涼劑。陽氣復消。余陰再作。脈退而小。弦細而遲。激而為衄血吐血者有之。心肺受邪也。下而為便血溺血者有之。腎肝受邪也。三焦出血。色紫不鮮。此重沓寒濕化毒。凝泣水穀道路。浸潰而成。若見血證。不詳本末。便用涼折。變乃生矣。</p>
<p>客又問曰。吐血可用辛熱。為扶陽抑陰。始聞命矣。然復有真陰真陽之說。可得聞乎。答曰。世之言陰陽者。氣血盡之矣。豈知火為陽氣之根。水為陰血之根乎。吾所謂水與火者。又非心與腎之謂。人身五行之外。另有一無形之火。無形之水。流行於五臟六腑之間。惟其無形。故人莫得而知之。試觀之天。日為火之精。故氣隨之。月為水之精。故潮隨之。如星家看五行者。必以太陽太陰為主。然此無形之水火。又有一太極為之主宰。則又微乎微矣。此天地之正氣。而人得以生者。是立命之門。謂之元神。無形之火。謂之元氣。無形之水。謂之元精。俱寄於兩腎中間。故曰五臟之中。惟腎為真。此真水真火真陰真陽之說也。</p>
<p>又問曰。真陰真陽。與血何干乎。曰子但知血之為血。而不知血之為水也。人身涕唾津液痰汗便溺。皆水也。獨血之水。隨火而行。故其色獨紅。腎中之真水乾。則真火炎。血亦隨火而沸騰矣。腎中之真火衰。則真水盛。血亦無附而泛上矣。惟水火奠其位。而氣血各順布焉。故以真陰真陽為要也。</p>
<p>又問曰。既是火之為害。正宜以水治之。而先生獨曰火不可水滅。反欲用辛熱何耶。曰子但知火之為火。而不知火有不同也。有天上之火。如暑月傷暑之病是也。方可以井水沃之。可以寒涼折之。若壚中之火。得水則滅。在人身即脾胃之火。脾胃之中無火。將以何者蒸腐水穀。而分溫四體耶。至於相火者。龍雷之火。水中之火也。龍雷之火。得雨而益熾。惟太陽一照。而龍雷自息。及秋冬陽氣伏藏。而雷始收聲。龍歸大海矣。此火不可水滅。而用辛熱之義也。當今方書亦知龍雷之火。不可水滅。不可直折。但其注皆曰黃柏知母之類是也。若是依舊。是水滅直折矣。誤天下蒼生者。此言也。哀哉。</p>
<p>又問曰。黃柏知母既所禁用。治之將何如。若與前所論。理中溫中無異。法何必分真陰真陽乎。曰溫中者。理中焦也。非下焦也。此係下焦兩腎中先天之真氣。與心肺脾胃後天有形之體。毫不相干。且乾薑甘草當歸等藥。俱入不到腎經。惟仲景八味腎氣丸斯為對證。腎中一水一火。地黃壯水之主。桂附益火之原。水火既濟之道。蓋陰虛火動者。若腎中寒冷。龍宮無可安之穴宅。不得已而遊行於上。故血亦隨火而妄行。今用桂附二味純陽之火。加於六味純陰水中。使腎中溫暖。如冬月一陽來復於水土之中。龍雷之火。自然歸就於原宅。不用寒涼而火自降。不必止血而血自安矣。若陰中水乾而火炎者。去桂附而純用六味。以補水配火。血亦自安。亦不必去火。總之保火為主。此仲景二千餘年之玄秘。豈後人可能筆削一字哉。</p>
<p>客又問曰。假寒假熱之說何如。曰此真病之狀。惑者誤以為假也。經曰。少陰司天之政。水火寒熱持於氣交。熱病生於上。冷病生於下。寒熱凌犯而爭於中。民病血溢血泄。內經蓋指人之臟腑而言。言少陰司天者。腎經也。凡腎經吐血者。俱是下寒上熱。陰盛於下。逼陽於上之假證。世人不識而為其所誤者多矣。吾獨窺其微。而以假寒治之。所謂假對假也。但此證有二。有一等少陰傷寒之證。寒氣自下腎經。而感小腹痛。或不痛。或嘔或不嘔。面赤口渴不能飲水。胸中煩躁。此作少陰經外感傷寒看。須用仲景白通湯之法治之。一服即愈。不再作。又有一等真陰失守。命門火衰。火不歸元。水盛而逼其浮游之火於上。上焦咳嗽氣喘惡熱面紅嘔吐痰涎出血。此係假陽之證。須用八味地黃。引火歸元。茲二方俱用大熱之藥。倘有方無法。則上焦煩熱正甚。復以熱藥投之。入口即吐矣。須以水探冷。假寒驅之。下嗌之後。冷性既除。熱性始發。因而嘔噦皆除。此加人尿豬膽汁於白通湯。下以通拒格之寒也。用八味湯者。亦復如是。倘一服寒涼。頃刻立死。慎之哉。</p>
<p>客曰。真假之說。至矣精矣。吾何以辨其為假而識之耶。又何以識其為傷寒與腎虛而辨之耶。曰此未可以易言也。將欲望而知之。是但可以神遇。而不可以目遇也。將欲聞而知之。是可以氣聽。而不可以心符也。將欲問而知之。可以意會。而不可以言傳也。將欲切而知之。得之心而應之手。巧則在其人。父不能傳之子也。若必欲言之。姑妄言乎。余辨之舌耳。凡有實熱者。舌胎必燥而焦。甚則黑。假熱者。舌雖有白胎而必滑。口雖渴而不能飲水。飲水不過一二口。甚者少頃亦吐出。面雖赤而色必嬌嫩。身作躁而欲坐臥於泥水中。此為辨也。傷寒者。寒從下受之。女人多有此證。大小便閉。一劑即愈。此暴病也。陰虛者。大小便俱利。吐痰必多。此陰虛火衰之極。不能以一二藥愈。男女俱有之。縱使引得火歸。又須以參耆補陽兼補陰。歲月調理。倘不節欲。終亦必亡而已。余所傳如此。此不過糟粕耳。所望於吾子者。得意而忘言。斯得之矣。</p>
<p>凡治血證。前後調理。須按三經用藥。心主血。脾裹血。肝藏血。歸脾湯一方。三經之方也。遠志棗仁補肝以生心火。茯神補心以生脾土。參耆甘草補脾以固肺氣。木香者。香先入脾。總欲使血歸於脾。故曰歸脾。有鬱怒傷脾思慮傷脾者尤宜。火旺者加山梔丹皮。火衰者加丹皮肉桂。又有八味丸。以培先天之根。治無餘法矣。</p>
<p>薛立齋遇星士張東谷談命時。出中庭。吐血一二口。云久有此證。遇勞即發。余意此勞傷肺氣。其血必散。視之果然。與補中益氣湯。加門冬五味山藥熟地茯神遠志。服之而愈。翌早請見。云服四物黃連山梔之類。血益多而倦益甚。得公一匕。吐血頓止。精神如故。何也。薛曰脾統血。肺主氣。此勞傷脾肺。致血妄行。故用前藥。健脾肺之氣。而噓血歸元耳。</p>
<p>一男子咳嗽吐血。熱渴痰盛。盜汗遺精。用六味地黃料。加門冬五味治之愈。後因勞怒。忽吐紫血塊。先用花蕊石散。化其紫血。又用獨參湯漸愈。後勞則咳血一二口。脾肺腎三脈。皆洪數。用歸脾湯六味丸而全愈。</p>
<p>一童子年十四。發熱吐血。余謂宜補中益氣。以滋化源。不信。用寒涼降火愈甚。始謂余曰。童子未室。何腎虛之有。參耆用之奚為。余述丹溪云。腎主閉藏。肝主疏泄。二臟俱有相火。而其繫上屬於心。為物所感。則易於動。心動則相火翕然而起。雖不交會。其精已暗耗。又褚氏精血篇云。男子精未滿而御女。以通其精。則五臟有不滿之處。異日必有難狀之疾。遂與補中益氣六味地黃而瘥。</p>
<p>愚謂童子之證。須看先天父母之氣。而母氣為尤重。凡驚風痘疹。腎虛發熱。俱以母氣為主。如母有火者。其子必有火。母脾虛者。子必多脾病。母火衰者。子必從幼有腎虛證。如齒遲語遲行遲囟門開大腎疳等證。皆先天不足。從幼填補。亦有可復之天。不必如上所言暗泄。方有血證。客問曰。吐血衄血。同是上炎之火。一出於口。一出於鼻。何也。</p>
<p>東垣云。衄血出於肺。從鼻中出也。嘔血出於胃。吐出成碗成盆也。咯唾血者。出於腎。血如紅縷。在痰中唾中。咳咯而出也。痰涎血者。出於脾。涎唾中有少血散漫而出也。</p>
<p>東垣論雖如此。然肺不特衄血。亦能咳血唾血。不特胃嘔血。肝亦嘔血。蓋肺主氣。肝藏血。肝血不藏。亂氣自兩脅中。逆而出之。然總之是腎水隨相火炎上之血也。腎主水。水化液為痰為唾為血。腎脈上入肺。循喉嚨。挾舌本。其支者從肺出絡心。注胸中。故病則俱病也。但衄血出於經。衄行清道。吐血出於胃。吐行濁道。喉與咽二管不同也。蓋經者走經之血。走而不守。隨氣而行。火氣急。故隨經直犯清道而出於鼻。其不出於鼻者。則為咳咯。從肺竅而出於咽也。胃者守營之血。守而不走。存於胃中。胃氣虛不能攝血。故令人嘔吐。從喉而出於口也。今人一見吐衄。便以犀角地黃為必用之藥。然耶否耶。曰犀角地黃乃是衄血之的方。若陰虛火動吐血與咳咯者。可以借用成功。若陽虛勞力及脾胃虛者。俱不宜。蓋犀水獸也。焚犀可以分水。可以通天。鼻衄之血。從任督而至巔頂。入鼻中。惟犀角能下入腎水。由腎脈而上引。地黃滋陰之品。故為對證。今方書中所載云。如無犀角。以升麻代之。犀角升麻氣味形性。迥不相同。何以代之。曰此又有說焉。蓋緣任沖二脈。附陽明胃經之脈。亦入鼻中。火鬱於陽明而不得泄。因成衄者。故升麻可代。升麻陽明藥。非陽明經衄者。不可代。衄亦有陰虛火衰者。其血必點滴不成流。須用壯火之劑。不可概用犀角。有傷寒病五六日。但頭汗出。身無汗。劑頸而還。小便自利。渴飲水漿。此瘀血證也。宜犀角地黃湯桃仁承氣湯。看上下虛實。用犀角地黃湯治上。桃仁承氣湯治中。抵當湯丸治下也。</p>
<p>有血從齒縫中。或牙齦中出。名曰齒衄。亦系陽明少陰二經之證。蓋腎主骨。齒者骨之標。其齦則屬胃土。又上齒止而不動屬土。下齒動而不止屬水。凡陽明病者。口臭不可近。根肉腐爛。痛不可忍。血出或如湧。而齒不動搖。其人必好飲。或多啖炙煿肥甘。豢養所致。內服清胃湯。外敷石膏散。甚者服調胃承氣湯。下黑糞而愈。或有胸虛熱者。以補中益氣加丹皮黃連亦得。少陰病者。口不臭。但浮動。或脫落出血。或縫中痛而出血。或不痛。此火乘水虛而出。服安腎丸而愈。余嘗以水虛有火者。用六味加骨碎補。無火者八味加骨碎補。隨手而應。外以雄鼠骨散敷之。齒動復固。又有齒痛連腦者。此係少陰傷寒。用麻黃附子細辛湯。不可不知。又小兒疳證。出血口臭肉爛者。蘆薈丸主之。</p>
<p>有怒氣傷肝。而成吐衄者。其人必唇青面青脈弦。須用柴胡梔子清肝散。</p>
<p>有鬱氣傷脾者。須用歸脾湯。加丹皮山梔。推而廣之。世人因鬱而致血病者多。凡郁皆肝病也。木中有火。郁甚則火不得舒。血不得藏而妄行。但郁之一字。不但怒為郁。憂為郁。怒與憂固其一也。若其人素有陰虛火證。外為風寒暑濕所感。皮毛閉塞即為郁。鬱則火不得泄。血隨火而妄行。鬱於經絡。則從鼻而出。鬱於胃脘。則從吐而出。凡系郁者。其脈必澀。其人必惡風惡寒。不知者便以為虛而溫補之。誤矣。須視其面色必滯。必喜嘔。或口苦。或口酸。審有如是證。必當舒散其鬱為主。木鬱則達之。火鬱則發之是也。其方惟逍遙散為的藥。外加丹皮茱連。隨手而應。血止後。若不用六味地黃以滋其陰。翌日必發。余於五郁論中。言之詳矣。</p>
<p>有飲酒過多。傷胃而吐血。從吐後出者。以葛花解酲湯。加丹皮倍黃連。使之上下分消。酒病愈。血亦愈矣。有過啖炙煿辛熱等物而得者。上焦壅熱。胸腹滿痛。血出紫黑成塊者。可用桃仁承氣湯。從大便導之。此釜底抽薪之法。</p>
<p>以上二證。雖屬內傷。猶作有餘之證。可用前法。</p>
<p>有婦人發熱。經水適來適止。譫語晝輕夜重。如見鬼。小便利或不禁。此名熱入血室。須用小柴胡湯。加紅花生地丹皮官桂歸尾破血之劑。詳見傷寒門。</p>
<p>有墜車墜馬。跌撲損折。失血瘀蓄腫痛發熱者。先以桃仁大黃川芎當歸赤芍丹皮紅花。行血破瘀之劑。折其銳氣。而後區別治之以和血消毒之藥。張子和嘗以通經散神祐丸。大下數十行。病去如掃。不致有癃殘跛躄之患。又嘗以此法治杖瘡痛腫發熱絕者。十餘行而腫退熱消。真不虛語也。</p>
<p>有產後惡露未盡。兒枕作痛者。須用桃仁紅花當歸川芎赤芍丹皮等。行血破血之藥。加薑桂辛熱。以行其瘀。又有虛痛無瘀血者。當另行溫補。不可概用破血之劑。且以今時之弊言之。夫人之吐衄。非陰虛則陽虛。余備言矣。今人一見血證。以為陰虛者。血虛也。舍四物何法乎。火動者熱也。非芩連梔柏何藥乎。咳嗽者火也非紫菀百部知母貝母何物乎。丹溪節齋。俱有明訓。豈能外之。誰知陰虛之證。大抵上熱下寒者多。始而以寒涼進之。上焦非不爽快。醫者病者無不以為道在是矣。稍久則食減。又以為食不化。加神麯山楂。再久而熱愈盛。痰嗽愈多。煩躁愈甚。又以藥力欠到。寒涼增進。而泄瀉腹脹之證作矣。乃以枳殼大腹皮寬中快氣之品進矣。至此不斃。將待何時。是故咳嗽吐血。時時發熱。未必成瘵也。服四物黃柏知母之類不已。則瘵成矣。胸滿膨脹。悒悒不快。未必成脹也。服山楂神麯之藥不已。則脹成矣。面浮胕腫。小便秘澀。未必成水也。服滲利之藥不已。則水成矣。氣滯膈塞。未必成噎也。服青皮枳殼寬快之藥不已。則噎成矣。成則不可復藥及阽於危。乃曰病犯條款。雖對證之藥。無可奈何也。</p>

<h3>附方</h3>

<h4>中風</h4>
<p><u>三生飲方</u></p>
<p>生南星（一兩）　生川烏（半兩去皮）　生附子（半兩去皮）　木香（二錢）　每用共一兩。加人參一兩煎。</p>
<p><u>河間地黃飲子方</u></p>
<p>熟地巴戟（去心）　山茱萸肉　肉蓯蓉（酒浸）　附子　石斛　五味　茯苓　石菖蒲　遠志（去心）　官桂　麥門冬（去心）　各等分。每服五錢。入薄荷少許。薑棗煎服。</p>
<p><u>易老天麻丸方</u></p>
<p>天麻（六兩酒浸三日焙乾除風）　牛膝（六兩酒浸三日焙乾強筋）　玄參（六兩樞機管領）　杜仲（七兩使筋骨相著）　萆薢（六兩壯筋骨）　當歸（二十兩和養血脈）　附子（一兩炮過行諸經中之血）　羌活（十兩去骨間風）　生淮地黃（一斤益真陰）</p>
<p>諸書所載。名曰愈風丹。與此方相合。治諸風肢體麻木。手足不遂等證。但愈風丹無附子。加肉桂三兩。淮地黃一斤。其餘品數分兩俱一般。</p>
<p><u>考補小續命湯</u></p>
<p>麻黃　人參　黃芩　白芍　防己　桂枝　川芎　防風　甘草　附子　杏仁　石膏　當歸　本方無附子防風防己</p>

<h4>厥</h4>
<p><u>六味附子湯</u></p>
<p>附子　肉桂　防己（各四錢）　白朮　茯苓（各三錢）　炙甘草（二錢）</p>
<p><u>蒲黃湯</u></p>
<p>蒲黃（一兩炒褐色）　清酒（十大盞熱沃之）　溫服。</p>
<p><u>二十四味流氣飲</u></p>
<p>丁香　肉桂　草果　麥門冬　赤茯苓　木通　檳榔　枳殼　厚朴　木瓜　大腹皮　青皮　陳皮　木香　人參　白朮　蓬莪朮　甘草　紫蘇　香附　菖蒲</p>
<p><u>烏梅丸</u></p>
<p>烏梅（三十個去核）　人參　細辛　香附　附子（炮）　桂枝（洗淨炮各六錢）　黃連（一兩六錢炒）　乾薑（一兩炮）　當歸（酒浸）　蜀椒（去目及閉口者各四錢）　共為丸。理中湯下。</p>
<p><u>八味順氣散</u></p>
<p>白芷　臺烏　青皮　陳皮　白朮　人參　茯苓　甘草</p>

<h4>傷寒</h4>
<p><u>桂枝湯</u>　治太陽經傷風發熱。自汗惡風。</p>
<p>桂枝　芍藥　甘草</p>
<p><u>麻黃湯</u>　治太陽經傷寒發熱。無汗惡寒。</p>
<p>麻黃　桂枝　甘草　杏仁</p>
<p><u>小柴胡湯</u>　治少陽膽經耳聾脅痛。寒熱往來。口苦。</p>
<p>柴胡　黃芩　甘草</p>
<p><u>大柴胡湯</u>　表證未除。而里證又急。汗下兼行。</p>
<p>柴胡　黃芩　芍藥　半夏　人參　大黃　枳實</p>
<p><u>白虎湯</u>　治身熱大渴而有汗。脈洪大者。如無渴者。不可用此藥。為大忌。倘是陰虛發熱。服之者死。若五六月暑病者。必用此方。又當審其虛實。</p>
<p>石膏　知母　甘草　人參　竹葉　糯米</p>
<p><u>調胃承氣湯</u>　治太陽陽明。不惡寒反惡熱。大便秘結而嘔。日晡潮熱者。陽明有二證。在經則解肌。入腑則攻下。</p>
<p>大黃　甘草　芒硝</p>
<p><u>小承氣湯</u>　六七日不大便。腹脹滿悶。病在陽明表證。汗後不惡寒。潮熱狂言而喘者。</p>
<p>大黃　厚朴　枳實</p>
<p><u>大承氣湯</u>　治陽明太陰譫語。五六日不大便。腹滿煩渴。並少陰舌乾口燥。日晡發熱脈沉實者。</p>
<p>大黃　厚朴　枳實　芒硝</p>
<p><u>桃仁承氣湯</u>　治外證已解。小腹急。大便黑。小便利。為瘀血證。</p>
<p><u>四逆散</u>　治陽氣亢極。血脈不通。四肢厥逆。在臂脛之下。若陰證則上過乎肘。下過乎膝。以此為辨也。</p>
<p>柴胡　芍藥　甘草　枳實</p>
<p><u>理中湯</u>　治即病太陰。自利不渴。寒多而腹痛等證。</p>
<p>人參　甘草　乾薑　白朮　加附子。即為附子理中湯。</p>
<p><u>真武湯</u></p>
<p>茯苓　芍藥　生薑　附子　白朮</p>
<p><u>四逆湯</u></p>
<p>附子　乾薑　甘草</p>
<p><u>朮附湯</u></p>
<p>白朮　甘草　附子</p>
<p><u>姜附湯</u></p>
<p>乾薑　附子</p>
<p><u>回陽返本湯</u>　此方治陰盛格陽。陰極發躁。渴而面赤。欲坐臥泥水中。脈來無力。或脈全無欲絕者。</p>
<p>熟附　乾薑　甘草　人參　五味　黃連　臘茶</p>
<p>面戴陽者。下虛也。加連須蔥白七莖。用澄清泥漿水煎。臨服須以冷水探冷。入豬膽汁人尿各一匙服。無脈者脈漸出者生。暴出者死。</p>
<p><u>生地黃連湯</u></p>
<p>生地　川芎　當歸　梔子　黃連　黃芩　芍藥　防風</p>

<h4>溫病</h4>
<p><u>陽毒升麻湯</u></p>
<p>升麻（半兩）　當歸　蜀椒　雄黃　桂枝（各一兩）　每服五錢。水一鍾半。煎一盞溫服。復手足取汗。得吐亦佳。</p>
<p><u>陰毒甘草湯</u></p>
<p>甘草　升麻（各半兩）　當歸　川椒　鱉甲（各一兩）　每服五錢。水一盞半。煎一盞服。</p>
<p>此二方。與傷寒論陽毒陰毒特異。故記之。是感天地疫癘非常之氣。沿家傳染。所謂時疫證者是也。</p>

<h4>郁病</h4>
<p><u>古方逍遙散</u></p>
<p>柴胡　薄荷　當歸　芍藥　陳皮　甘草　白朮　茯神　加味者。加丹皮山梔。予以山梔屈曲下行泄水。改用茱萸炒黃連。</p>

<h4>血症</h4>
<p><u>麻黃桂枝湯</u></p>
<p>人參（益上焦元氣不足而實其表也）　麥門冬（保肺氣各三分）　桂枝（辛甘發散寒氣）　當歸（和血養血各五分）　麻黃（去根沫主發散寒氣）　甘草（味甘發散寒氣）　黃耆（實表益衛）　白芍藥（以上各一錢）　五味子（五個安其脈氣）　上以水三盞。先煮麻黃一味。令沸。去沫。至二盞。入余藥同煎至一盞。去渣熱服。只一服而愈。不再作。</p>

<h1>卷之四·先天要論（上）</h1>

<h2>八味丸方</h2>
<p><u>八味丸</u>　治命門火衰。不能生土。以致脾胃虛寒。飲食少思。大便不實。或下元衰憊。臍腹疼痛。夜多溲溺等證。</p>
<p>熟地黃（八兩用真生懷慶酒洗淨浸一宿柳木甑砂鍋上蒸半日曬乾再蒸再曬九次為度臨用搗膏）　山藥（四兩）　山茱萸肉（四兩）　丹皮（三兩）　白茯苓（三兩）　澤瀉（三兩）　肉桂（一兩）　附子（一兩）</p>
<p>製附子法。附子重一兩三四錢。有蓮花瓣。頭圓底平者佳。備童便五六碗。浸五七日。候透潤。揭皮切作四塊。仍浸三四日。用粗紙數層包之。浸濕煨灰火中。取出切片。檢視有白星者。仍用新瓦上炙熱。至無星為度。如急欲用。即切大片。用童便煮三四沸。熱瓦上炮熟用之。</p>
<p>八味丸。乃張仲景所制之方也。聖惠云。能伐腎邪。皆君主之藥。宜加減用。加減不依易老亦不效。今人有加人參者。人參乃是脾經藥。到不得腎經。有加黃柏知母者。有欲減澤瀉者。皆不知立方本意也。</p>
<p>六味加五味子名曰都氣丸。述類象形之意也。</p>
<p>錢氏減桂附。名曰六味地黃丸。以治小兒。以小兒純陽。故減桂附。</p>
<p>楊氏云。常服去附子加五味。名曰加減八味丸。</p>
<p>丹溪有三一腎氣丸。獨此方不可用。</p>
<p>仲景有金匱腎氣丸。</p>
<p>益陰地黃丸。治目病火衰者。濟陰地黃丸。治目病有火者。二方見原機啟微。</p>
<p>易老云。八味丸治脈耗而虛。西北二方之劑也。金弱木勝。水少火虧。或脈鼓按之有力。服之亦效。何也。答曰。諸緊為寒。火虧也。為內虛水少。為木勝金弱。故服之亦效。</p>

<h2>張仲景八味丸用澤瀉論</h2>
<p>（出東垣十書）</p>
<p>張仲景八味丸用澤瀉。寇宗奭本草衍義云。不過接引桂附等歸就腎經。別無他意。王海藏韙之。愚謂八味丸。以地黃為君而以余藥佐之。非止為補血之劑。蓋兼補氣也。若專為補腎而入腎經。則地黃山茱萸白茯苓牡丹皮。皆腎經之藥。固不待夫澤瀉之接引而後至也。其附子乃右命門之藥。浮中沉無所不至。又謂通行諸經引用藥。官桂能補下焦相火不足。是亦右腎命門藥也。然則桂附。亦不待夫澤瀉之接引而後至矣。且澤瀉雖曰咸以瀉腎。乃瀉腎邪。非瀉腎之本也。故五苓散用澤瀉者。詎非瀉腎邪乎。白茯苓亦伐腎邪。即所以補正耳。是則八味丸之用澤瀉者。非為接引諸藥瀉腎邪。蓋取其養五臟。益氣力。起陰氣。補虛損、五勞之功。寇氏又何疑耶。且澤瀉固能瀉腎。然從於諸補藥之中。雖欲瀉之。而力莫能施矣。其妙為何如。</p>
<p>余所以諄諄於此方者。蓋深知仲景為立方之祖。的認此方為治腎之要。毫不敢私意增減。今人或以脾胃藥雜之。或以寒涼加之。皆不知立方之本意也。余特將仲景立意之奧旨。闡發於各條門下。</p>

<h2>水火論</h2>
<p>坎乾水也。氣也。即小而井。大而海也。兌坤水也。形也。即微而露。大而雨也。一陽陷於二陰為坎。坎以水氣潛行地中。為萬物受命根本。故曰潤萬物者。莫潤乎水。一陰上徹於二陽為兌。兌以有形之水。普施於萬物之上。為資生之利澤。故曰說萬物者。莫說乎澤。明此二水。可以悟治火之道矣。心火者。有形之火也。相火者。無形之火也。無形之火內燥熱而津液枯。以五行有形之兌水制之者。權也。吾身自有上池真水。氣也。無形者也。以無形之水沃無形之火。當而可久者也。是為真水真火。升降既宜。而成既濟矣。醫家不悟先天太極之真體。不窮無形水火之妙用。而不能用六味八味之神劑者。其於醫理。尚欠太半。</p>
<p>陳希夷正易消息曰。坎乾水也。氣也。一陽陷於二陰為坎。坎以水氣。潛行地中。為萬物受命根本。故曰潤萬物者。莫潤乎水。蓋潤液也。氣之液也。月令於仲秋乃云。殺氣浸盛。陽氣日衰。水始涸。是水之涸。地之死也。於仲冬乃云。水泉動。然而是月一陽生。是水之動。地之生也。由斯而觀。不過欲人脫死地而求生地。凡舉動先自潛固根本以待。後乃能萬應而萬舉萬勝。明其理也。</p>
<p><u>六味丸</u>（一名地黃丸）　治腎虛作渴。小便淋秘。氣壅痰涎。頭目眩暈。眼花耳聾。咽燥舌痛齒痛。腰腿痿軟等證。及腎虛發熱。自汗盜汗。便血諸血。失音水泛為痰之聖藥。血虛發熱之神劑。又治腎陰虛弱。津液不降。敗濁為痰。或致咳逆。又治小便不禁。收精氣之虛脫。為養氣滋腎。制火導水。使機關利而脾土健實。</p>
<p>熟地黃（八兩杵膏）　山茱萸肉　山藥（各四兩）　牡丹皮　白茯苓　澤瀉（各三兩）　上為細末。和地黃膏。加煉蜜。丸桐子大。每服七八十丸。空心食前。滾鹽湯下。凡服須空腹。服畢少時。便以美膳壓之。使不得停留胃中。直至下元。以瀉沖逆也。</p>

<h2>六味丸說</h2>
<p>腎虛不能制火者。此方主之。腎中非獨水也。命門之火併焉。腎不虛。則水足以制火。虛則火無所制。而熱證生矣。名之曰陰虛火動。河間氏所謂腎虛則熱是也。今人足心熱。陰股熱。腰脊痛。率是此證。乃咳血之漸也。熟地黃山茱萸。味厚者也。經曰。味厚為陰中之陰。故能滋少陰補腎水。澤瀉味鹹。咸先入腎。地黃山藥澤瀉。皆潤物也。腎惡燥。須此潤之。此方所補之水。無形之水。物之潤者亦無形。故用之。丹皮者。牡丹之根皮也。丹者南方之火色。牡而非牝屬陽。味苦辛。故入腎而斂陰火。益少陰。平虛熱。茯苓味甘而淡者也。甘從土化。土能防水。淡能滲泄。故用之以制水臟之邪。且益脾胃而培萬物之母。壯水之主。以鎮陽光。即此藥也。</p>

<h2>八味丸說</h2>
<p>君子觀象於坎。而知腎中具水火之道焉。夫一陽居於二陰為坎。此人生與天地相似也。今人入房盛而陽事易舉者。陰虛火動也。陽事先痿者。命門火衰也。真水竭則隆冬不寒。真火息則盛夏不熱。是方也。熟地山萸丹皮澤瀉山藥茯苓。皆濡潤之品。所以能壯水之主。肉桂附子。辛潤之物。能於水中補火。所以益火之原。水火得其養。則腎氣復其天矣。益火之原。以消陰翳。即此方也。蓋益脾胃而培萬物之母。其利溥矣。</p>

<h2>滋降火論</h2>
<p>節齋云。人之一身。陰常不足。陽常有餘。況節欲者少。縱欲者多。精血既虧。相火必旺。火旺則陰愈消。而癆瘵咳嗽咯血吐血等證作矣。故宜常補其陰。使陰與陽齊。則水能制火。而水升火降。斯無病矣。故丹溪先生。發明補陰之說。謂專補左尺腎水也。古方滋補藥。皆兼補右尺相火。不知左尺原虛。右尺原旺。若左右平補。依舊火勝於水。只補其左制其右。庶得水火相平也。右尺相火。固不可衰。若果相火衰者。方宜補火。但世之人火旺致病者。十之八九。火衰成病者。百無一二。且少年腎水正旺。似不必補。然欲心正熾。妄用太過。至於中年。欲心雖減。然少年斫喪既多。焉得復實。及至老年。天真漸絕。只有孤陽。故補陰之藥。自少至老。不可缺也。節齋先生髮明先聖之旨。以正千載之訛。其功盛哉。但水衰者固多。火衰者亦不少。先天稟賦若薄者。雖童子尚有火衰之證。焉可獨補水哉。況補陰丸中。以黃柏知母為君。天麥門冬為佐。蓋黃柏苦寒泄水。天門寒冷損胃。服之者。不惟不能補水。而且有損於腎。故滋陰降火者。乃謂滋其陰。則火自降。當串講。不必降火也。然二尺各有陰陽水火互相生化。當於二臟中各分陰陽虛實。求其所屬而平之。若左尺脈虛弱而細數者。左腎之真陰不足也。用六味丸。右尺脈遲軟。或沉細而數欲絕者。是命門之相火不足也。用八味丸。至於兩尺微弱。是陰陽俱虛。用十補丸。此皆滋其先天之化源。實萬世無窮之利。自世之補陰者。率用黃柏知母。反戕脾胃。多致不起。不能無遺憾於世。予特表而出之。以廣前人之未備。使醫者病者加意於六味八味二方云。</p>
<p><u>附錄十補丸</u>　治腎虛冷。足寒膝軟。</p>
<p>五味子　附子（各二兩）　山萸　山藥　丹皮　桂心　茯苓　澤瀉　制鹿茸（各一兩）</p>

<h2>相火龍雷論</h2>
<p>火有人火。有相火。人火者。所謂燎原之火也。遇草而爇。得木而燔。可以濕伏。可以水滅。可以直折。黃連之屬可以制之。相火者。龍火也。雷火也。得濕則焫。遇水則燔。不知其性而以水折之。以濕攻之。適足以光焰燭天。物窮方止矣。識其性者。以火逐之。則焰灼自消。炎光撲滅。古書瀉火之法。意蓋如此。今人率以黃柏治相火。殊不知此相火者。寄於肝腎之間。此乃水中之火。龍雷之火也。若用黃柏苦寒之藥。又是水滅濕伏。龍雷之火愈發矣。龍雷之火。每當濃陰驟雨之時。火焰愈熾。或燒燬房屋。或擊碎木石。其勢誠不可抗。惟太陽一照。火自消滅。此得水則熾。得火則滅之一驗也。</p>
<p>又問龍雷何以五六月而啟發。九十月而歸藏。蓋冬時陽氣在水土之下。龍雷就其火氣而居於下。夏時陰氣在下。龍雷不能安其身而出於上。明於此義。故惟八味丸桂附與相火同氣。直入腎中。據其窟宅而招之。同氣相求。相火安得不引之而歸原。即人非此火不能有生。世人皆曰降火。而予獨以地黃滋養水中之火。世人皆曰滅火。而予獨以桂附溫補天真之火。千載不明之論。予獨表而出之。高明以為何如。</p>
<p>震本坤體。陽自外來交之。有動乎情欲之象。是以聖人於。卦中。凡涉乎震體者。取義尤嚴。洊雷震。君子以恐懼修省。在復則曰先王以至日閉關。欲其復之靜也。在隨則曰嚮晦入晏。意欲其居之安也。在頤則曰慎言語。節飲食。欲其養之正也。明乎此義。而相火不藥自伏矣。</p>

<h2>陰虛發熱論</h2>
<p>世間發熱類傷寒者數種。治各不同。傷寒傷風及寒疫也。則用仲景法。溫病及瘟疫也。則用河間法。此皆論外感者也。今人一見發熱。皆認作傷寒。率用汗藥以發其表。汗後不解。又用表藥以涼其肌。柴胡涼膈白虎雙解等湯。雜然並進。若是虛證。豈不殆哉。自東垣出。而發內傷補中益氣之論。此用氣藥以補氣之不足者也。至於勞心好色。內傷真陰。真陰既傷。則陽無所附。故亦發熱其人必面赤煩躁。口渴引飲。骨痛脈數而大。或尺數而無力者是也。惟丹溪發明補陰之說。以四物湯加黃柏知母。此用血藥以補血之不足者也。世襲相因。屢用不效何耶。蓋因陰字認不真。誤以血為陰耳。當作腎中之真陰。即先天也。內經曰。諸寒之而熱者。取之陰。諸熱之而寒者。取之陽。所謂求其屬也。王太僕先生注云。大寒而盛。熱之不熱。是無火也。大熱而盛。寒之不寒。是無水也。又云。倏忽往來。時發時止。是無火也。晝見夜伏。夜見晝止。時節而動。是無水也。當求其屬而主之。無火者。宜益火之源。以消陰翳。無水者。宜壯水之主。以鎮陽光。必須六味八味二丸。出入增減。以補真陰。屢用屢效。若泥黃柏知母苦寒之說。必致損傷脾陰而斃者。不可勝舉。大抵病熱作渴。飲冷便秘。此屬實熱。人皆知之。或惡寒發熱。引衣蜷臥。四肢逆冷。大便清利。此屬真寒。人亦易知。至於煩擾狂越。不欲近衣。欲坐臥泥水中。此屬假熱之證。其甚者。煩極發燥。渴飲不絕。舌如芒刺。兩唇燥裂。面如塗朱。身如焚燎。足心如烙。吐痰如湧。喘急大便秘結。小便淋瀝。三部脈洪大而無倫。當是時也。卻似承氣證。承氣入口即斃。卻似白虎證。白虎下咽即亡。若用二丸。緩不濟事。急以加減八味丸料一斤。內肉桂一兩。以水頓煎五六碗。水冷與飲。諸證自退。翌日必畏寒脈脫。是無火也。當補其陽。急以附子八味丸料。煎服自愈。此證與脈俱變其常。而不以常法治之者也。若有產後。及大失血後。陰血暴傷。必大發熱。亦名陰虛發熱。此陰字正謂氣血之陰。若以涼藥正治立斃。正所謂象白虎湯證。誤服白虎湯必死。當此之時。偏不用四物湯。有形之血。不能速化。幾希之氣。所宜急固。須用獨參湯。或當歸補血湯。使無形生出有形來。此陽生陰長之妙用。不可不知也。或問曰。子之論則詳矣。氣虛血虛。均是內傷。何以辨之。予曰。悉乎子之問也。蓋陰虛者。面必赤。無根之火。載於上也。若是陽證。火入於內。面必不赤。其口渴者。腎水乾枯。引水自救也。但口雖渴。而舌必滑。脈雖數而尺必無力。甚者尺雖洪數。而按之必不鼓。此為辯耳。雖然若問其人曾服過涼藥。脈亦有力而鼓指矣。戴復庵云。服涼藥而脈反加數者。火鬱也。宜升宜補。切忌寒涼。犯之必死。臨證之工。更宜詳辨。毫釐之差。柱人性命。慎哉慎哉。</p>

<h2>痰論</h2>
<p>王節齋云。痰之本水也。原於腎。痰之動濕也。主於脾。古人用二陳湯。為治痰通用。然以治濕痰寒痰則是矣。若夫陰火炎上。熏於上焦。肺氣被郁。故其津液之隨氣而升者。凝結而成痰。腥穢稠濁。甚則有帶血而出者。此非中焦脾胃濕痰寒痰之所比。亦非半夏枳殼南星之所治。惟用清氣化痰。須有效耳。噫。節齋論痰而首揭痰之本於腎。可為發前人所未發。惜乎啟其端而未竟其說。其所制之方。皆治標之藥。而其中寒涼之品甚多。多致損胃。惟仲景先生云。氣虛有痰。用腎氣丸補而逐之。吳茭山諸證辨疑又云。八味丸治痰之本也。此二公者。真開後學之矇聵。濟無窮之夭枉。蓋痰者病名也。原非人身之所有。非水泛為痰。則水沸為痰。但當分有火無火之異耳。腎虛不能制水。則水不歸源。如水逆行。洪水氾濫而為痰。是無火者也。故用八味丸。以補腎火。陰虛火動。則水沸騰動於腎者。猶龍火之出於海。龍興而水附。動於肝者。猶雷火之出於地。疾風暴雨。水隨波湧而為痰。是有火者也。故用六味丸以配火。此不治痰之標。而治痰之本者也。然有火無火之痰。何以辨之。曰無火者純是清水。有火者中有重濁白沫為別耳。善用者。若能於腎虛者。先以六味八味。壯水之主益火之原。復以四君子或六君子。補脾以制水。於脾虛者。既補中理中。又能以六味八味制水以益母。子母互相生克。而於治痰之道。其庶幾矣。</p>
<p>龐安常有言。有陰水不足。陰火上升。肺受火侮。不得清肅下行。徭是津液凝濁。生痰不生血者。此當以潤劑。如門冬地黃枸杞之屬滋其陰。使上逆之火。得返其宅而息焉。則痰自清矣。投以二陳。立見其殆。有腎虛不能納氣歸原。原出而不納則積。積而不散則痰生焉。八味丸主之。龐公之見甚確。錄之以為案。</p>
<p>蒙筌謂地黃泥膈生痰。為痰門禁藥。以薑汁炒之。嗟乎。若以薑汁炒之。則變為辛燥。地黃無用矣。蓋地黃正取其濡潤之品。能入腎經。若雜於脾胃藥中。土惡濕。安得不泥膈生痰。八味六味丸中諸品。皆少陰經的藥。群隊相引。直入下焦。名曰水泛為痰之聖藥。空腹服之。壓以美膳。不留胃中。此仲景制方立法之妙。何必固疑。</p>

<h2>咳嗽論</h2>
<p>咳謂無痰而有聲。嗽是有痰而有聲。雖分六腑五臟之殊。而其要皆主於肺。蓋肺為清虛之府。一物不容。毫毛必咳。又肺為嬌臟。畏熱畏寒。火刑金故嗽。水冷金寒亦嗽。故咳嗽者。必責之肺。而治之之法。不在於肺。而在於脾。不專在脾。而反歸重於腎。蓋脾者。肺之母。腎者。肺之子。故虛則補其母。虛則補其子也。</p>
<p>如外感風寒而咳嗽者。今人率以麻黃枳殼紫蘇之類。發散表邪。謂從表而入者。自表而出。如果系形氣病氣俱實者。一汗而愈。若形氣病氣稍虛者。宜以補脾為主。而佐以解表之藥。何以故。蓋肺主皮毛。惟其虛也。故湊理不密。風邪易以入之。若肺不虛。邪何從而入耶。古人所以制參蘇飲中必有參。桂枝湯中有芍藥甘草。解表中兼實脾也。脾實則肺金有養。皮毛有衛。已入之邪易以出。後來之邪。無自而入矣。若專以解表。則肺氣益虛。腠理益疏。外邪乘間而來者。何時而已耶。須以人參黃耆甘草以補脾。兼桂枝以驅邪。此予謂不治肺而治脾。虛則補其母之義也。</p>
<p>仁齋直指云。肺出氣也。腎納氣也。肺為氣之主。腎為氣之本。凡咳嗽暴重。動引百骸。自覺氣從臍下逆奔而上者。此腎虛不能收氣歸元。當以地黃丸安腎丸主之。母徒從事於肺。此虛則補子之義也。余又有說焉。五行之間。惟肺腎二藏。母盛而子宮受邪。何則。肺主氣。肺有熱。則氣得熱而上蒸。不能下生於腎。而腎受邪矣。腎既受邪。則肺益病。此又何也。蓋母藏子宮。子隱母胎。凡人肺金之氣。夜臥則歸藏於腎水之中。今因肺受心火之邪。欲下避水中。而腎水乾枯有火。無可容之地。於是復上而病矣。</p>
<p>有火爍肺金而咳嗽者。宜清金降火。今之醫書中。論清金降火者。以黃芩天麥冬桑白皮清肺金。以黃連降心火。石膏降胃火。以四物黃柏知母降陰火。謂枳半燥泄傷陰。易用貝母栝蔞竹瀝枇杷葉以潤肺而化痰。以上治法。豈不平正通達耶。殊不知清金降火之理。似是而實非。補北方。正所以瀉南方也。滋其陰。即所以降火也。獨不觀啟玄子壯水之主。以制陽光乎。予相火論。及滋陰降火論中。已詳言黃柏知母之不宜用。與夫寒涼諸藥之害矣。予又有說焉。王節齋云。凡酒色過度。損傷肺腎真陰者。不可服參耆。服之過多則死。蓋恐陽旺而陰消也。自此說行。而世之治陰虛咳嗽者。視參耆如砒毒。以黃柏知母為靈丹。使患此證而服此藥者。百無一生。良可悲也。有能寡欲而不服藥者。反可綿延得活。可見非病不可治。乃治病之不如法也。蓋病本起於房勞太過。虧損真陰。陰虛而火上。火上而刑金故咳。咳則金不能不傷矣。予先以壯水之主之藥。如六味地黃之類。補其真陰。使水升而火降。隨即以參耆救肺之品。以補腎之母。使金水相生而病易愈矣。世之用寒涼者。膚淺庸工。固不必齒。間有知用參耆者。不知先壯水以鎮火。而遽投參耆以補陽。反使陽火愈旺。而金益受傷。豈藥之罪哉。此所謂不識先後著者也。</p>
<p>有脾胃先虛。土虛不能制水。水泛為痰。子來乘母而嗽者矣。又有初雖起於心火刑金。因誤服寒涼。以致脾土受傷。肺益虛而嗽者。乃火位之下。水氣承之。子來救母。腎水復火之仇。寒水挾木勢而上侵於肺胃。水冷金寒故嗽。前病未除。新病愈甚。粗工不達此義。尚謂痰火難除。寒涼倍進。豈不殆哉。斯時也。須用六君子湯加炮姜。以補脾肺。八味丸以樸土母。而引水歸原。此等治咳嗽之法。幸同志者加之意焉。</p>
<p>金匱云。咳而上氣。喉中水雞聲、射干麻黃湯主之。此論外感。</p>
<p>有嗽而聲啞者。蓋金實不鳴。金破亦不鳴。實則清之。破則補之。皆治肺之事也。又須知少陰之絡入肺中。循喉嚨。挾舌本。肺為之標。本虛則標弱。故聲亂咽嘶。舌萎聲不能前。出仲景傷寒書。</p>
<p>一男子年五十餘歲。病傷寒咳嗽。喉中聲如齁。與獨參湯。一服而齁聲除。至二三服而咳嗽亦漸退。服二三斤病始全愈。</p>
<p>（此陽虛之案。）</p>
<p>衍義云。有暴嗽服諸藥不效。或教之進生料鹿茸丸大菟絲子丸方愈。有本有標。卻不可以其暴嗽。而疑驟補之非。所以易愈者。亦覺之早故也。（此陰虛之案。）</p>
<p>有一等乾咳嗽者。丹溪云。乾咳嗽極難治。此係火鬱之證。乃痰鬱其火。邪在中。用逍遙散以開之。下用補陰之劑而愈。</p>

<h2>吐血論</h2>
<p>問。吐血多起於咳嗽。嗽血者。肺病也。方家多以止嗽藥治肺兼治血而不效。何也。曰。諸書雖分咳血嗽血出於肺。咯血唾血出於腎。余謂咳嗽咯唾皆出腎。蓋腎脈入肺。循喉嚨。挾舌本。其支者。從肺出絡心注胸中。故二臟相連。病則俱病。而其根在腎。腎中有火有水。水乾火燃。陰火刑金。故咳。水挾相火而上化為痰。入於肺。肺為清虛之府。一物不容。故嗽。中有痰唾帶血而出者。腎水從相火炎上之血也。豈可以咳嗽獨歸之肺耶。褚氏遺書津潤論云。天地定位。水位乎中。人肖天地。亦有水焉。在上為痰。在下為水。伏皮為血。從毛竅中出為汗。可見痰也水也血也。一物也。血之帶痰而出者。乃腎水挾相火炎上也。又云。服寒涼百不一生。飲溲溺百不一死。童便一味。可謂治血之要。然但暴發之際。用之以為降火消瘀之急劑則可。若多服。亦能損胃。褚氏特甚言寒涼之不可用耳。曰若是。則黃柏知母。既所禁用。童便又不宜多服。治之當如何。曰惟六味地黃。獨補腎水。性不寒涼。不損脾胃。久服則水升火降而愈。又須用人參救肺補胃藥收功。使金能生水。蓋滋其化源也。</p>
<p>又有一等腎水泛上。上侵於肺。水冷金寒。故咳嗽。肺氣受傷。血無所附。故亦吐血。醫見嗽血者火也。以寒折之。病者危而危者斃矣。須用八味丸補命門火。以引水歸原。次用理中湯補脾胃。以補肺之母。使土能剋水。則腎水歸原。而血復其位矣。</p>
<p>以上論陰虛吐血者。用補天之法。若陽虛吐血。與夫六淫七情所致。各各不同。余另有絳雪丹書。專論血症。逐一可考。茲不能悉。（今有一單方。只是節欲。不但節欲。直須絕欲。不絕欲。而徒恃乎藥。未有能生者也。）</p>

<h2>喘論</h2>
<p>喘與氣短不同。喘者。促促氣急。喝喝息數。張口抬肩。搖身擷肚。短氣者。呼吸雖數。而不能接續。似喘而不抬肩。似呻吟而無痛。呼吸雖急而無痰聲。宜詳辨之。丹溪云。須分虛實新久。久病是氣虛。宜補之。新病是氣實。宜瀉之。</p>
<p>愚按喘與短氣分。則短氣是虛。喘是實。然而喘多有不足者。短氣間亦有有餘者。新病亦有本虛者。不可執論也。</p>
<p>金匱云。實喘者。氣實肺盛。呼吸不利。肺竅壅塞。若寸沉實。宜瀉肺。虛喘者腎虛。先覺呼吸短氣。兩脅脹滿。左尺大而虛。宜補腎。此腎虛證非新病虛者乎。</p>
<p>邪喘者。由肺受邪。伏於肺中。關竅不通。呼吸不利。若寸沉而緊。此外感也。亦有六部俱伏者。宜發散。則身熱退而喘定。此郁證。人所難知。非短氣中之有餘乎。</p>
<p>論人之五臟。皆有上氣。而肺為之主。居於上而為五臟之華蓋。通榮衛。合陰陽。升降往來。無過不及。何病之有。若為風寒暑濕所侵。則肺氣脹滿而為喘。呼吸迫促。坐臥不安。或七情內傷。鬱而生痰。或脾胃俱虛。不能攝養。一身之痰。皆能令人喘。</p>
<p>真知其風寒也。則用仲景青龍湯。真知其暑也。則用白虎湯。真知其濕也。則用勝濕湯。真知其七情鬱結也。則用四磨四七湯。又有木鬱火鬱土鬱金鬱水鬱。皆能致喘。治者察之。（以上俱屬有餘之證。）</p>
<p>東垣云。病機云。諸痿喘嘔。皆屬於上。辯云傷寒家論喘。以為火熱者。是明有餘之邪中於表。寒變為熱。心火太旺攻肺。故屬於上。又云。膏粱之人。奉養太過。及過愛小兒。亦能積熱於上而成喘。宜以甘寒之劑治之。飲食不節。喜怒勞役不時。水穀之寒熱感則害人六腑。皆由中氣不足。其䐜脹腹滿。咳喘嘔食不下。宜以大甘辛熱之劑治之。脈經云。肺盛有餘。則咳嗽上氣渴煩。心胸滿短氣。皆衝脈之火行於胸中而作。系在下焦。非屬上也。觀東垣之辯。可見起於傷寒者有餘之邪。雜病者。不足之邪。自是標本判然條析。如遇標病。或汗或吐或下。一藥而痰去喘定。奏功如神。粗工以其奏功如神也。執而概施之不足之證。豈不殆哉。婁全善云。凡下痰定喘諸方。施之形實有痰者神效。若虛而脈浮大。按之澀者。不可下之。下之必反劇而死。</p>
<p>經云。諸喘皆屬於上。又謂諸逆衝上。皆屬於火。故河間敘喘病在於熱條下。華佗云。肺氣盛為喘。活人書云。氣有餘則喘。後代集證類方。不過遵此而已。獨王海藏辯云。氣盛當作氣衰。有餘當認作不足。肺氣果盛與有餘。則清肅下行。豈復為喘。以其火入於肺。炎爍真陰。衰與不足而為喘焉。所言盛與有餘者。非肺之氣也。肺中之火也。海藏之辯。超出前人。發千古之精奧。惜乎起其端。未竟其火之所由來。愚謂火之有餘。水之不足也。陽之有餘。陰之不足也。凡諸逆衝上之火。皆下焦衝任相火。出於肝腎者也。故曰沖逆。腎水虛衰。相火偏勝。壯火食氣。銷鑠肺金。烏得而不喘焉。丹溪云。喘有陰虛。自小腹下火起而上。宜四物湯加青黛竹瀝陳皮。入童便煎服。如挾痰喘者。四物加枳殼半夏。補陰以化痰。夫謂陰虛發喘。丹溪實發前人之所未發。但如此治法。實流弊於後人。蓋陰虛者。腎中之真陰虛也。豈四物湯陰血之謂乎。其火起者。下焦龍雷之火也。豈寒涼所能降乎。其間有有痰者。有無痰者。有痰者。水挾木火而上也。豈竹瀝枳半之能化乎。須用六味地黃。加門冬五味大劑煎飲。以壯水之主。則水升火降。而喘自定矣。蓋緣陰水虛故有火。有火則有痰。有痰則咳嗽。咳嗽之甚則喘。當與前陰虛相火論參看。</p>
<p>又有一等。似火而非火。似喘而非喘者。經曰。少陰所謂嘔咳上氣喘者。陰氣在下。陽氣在上。諸陽氣浮。無所依歸。故上氣喘也。黃帝針經云。胃絡不和。喘出於陽明之氣逆。陽明之氣下行。今逆而上行故喘。真元耗損。喘出於腎氣之上奔。其人平日若無病。但覺氣喘。非氣喘也。乃氣不歸元也。視其外證。四肢厥逆。面赤而煩燥惡熱。似火非火也。乃命門真元之火。離其宮而不歸也。察其脈兩寸雖浮大而數。兩尺微而無力。或似有而無為辨耳。不知者以其有火也。少用涼藥以清之。以其喘急難禁也。佐以四磨之類以寬之。下咽之後。似覺稍快。少頃依然。豈知寬一分。更耗一分。甚有見其稍快。誤認藥力欠到。倍進寒涼快氣之劑。立見其斃矣。何也。蓋陰虛至喘。去死不遠矣。幸幾希一線牽帶在命門之根。尚爾留連。善治者。能求其緒。而以助元接真鎮墜之藥。俾其返本歸原。或可回生。然亦不可峻驟也。且先以八味丸安腎丸養正丹之類。煎人參生脈散送下。覺氣若稍定。然後以大劑參耆補劑。加破故紙阿膠牛膝等。以鎮於下。又以八味丸加河車為丸。日夜遇飢則吞服方可。然猶未也。須遠房幃。絕色欲。經年積月。方可保全。不守此禁。終亦必亡而已。予論至此。可為寒心。聰明男子。當自治未病。毋蹈此危機。</p>
<p>又有一等火鬱之證。六脈微澀。甚至沉伏。四肢悉寒。甚至厥逆。拂拂氣促而喘。卻似有餘。而脈不緊數。欲作陰虛。而按尺鼓指。此為蓄郁已久。陽氣拂遏。不能營運於表。以致身冷脈微而悶亂喘急。當此之時。不可以寒藥下之。又不可以熱藥投之。惟逍遙散加茱連之類。宣散蓄熱。得汗而愈。愈後仍以六味地黃。養陰和陽方佳。此謂火鬱則發之。木鬱則達之。即金匱所云六脈沉伏。宜發散。則熱退而喘定是也。經曰。火鬱之發。民病少氣。治以諸涼。或問喘者多不能臥何也。素問逆調論云。夫不得臥。臥則喘者。水氣之客也。夫水者。循經液而流也。腎者水藏。主津液。主臥與喘也。東垣云。病人不得臥。臥則喘者。水氣逆行乘於肺。肺得水而浮。使氣不得流通也。</p>
<p>仲景云。短氣皆屬飲。金匱云。短氣有微飲。當從小便去之。苓桂木甘湯主之。腎氣丸亦主之。</p>
<p>以上詳論陰虛發喘之證治。若陽虛致喘。東垣已詳盡矣。外感發喘。仲景已詳盡矣。茲為補天立論。故加意於六味八味云。</p>

<h2>喉咽痛論</h2>
<p>喉與咽不同。喉者肺脘。呼吸之門戶。主出而不納。咽者胃脘。水穀之道路。主納而不出。蓋喉咽司呼吸。主升降。此一身之緊關橐龠也。經曰。足少陰所生病者。口渴舌乾咽腫。上氣嗌乾及痛。素問云。邪客於足少陰之絡。令人咽痛。不可納食。又曰。足少陰之絡。循喉嚨。通舌本。凡喉痛者。皆少陰之病。但有寒熱虛實之分。少陰之火。直如奔馬。逆衝於上。到此咽喉緊鎖處。氣鬱結而不得舒。故或腫或痛也。其證必內熱口乾面赤。痰涎湧上。其尺脈必數而無力。蓋緣腎水虧損。相火無制而然。須用六味地黃門冬五味大劑作湯服之。又有色欲過度。元陽虧損。無根之火。遊行無制。客於咽喉者。須八味腎氣丸大劑煎成。冰冷與飲。使引火歸原。庶幾可救。此論陰虛咽痛者。如此治法。正褚氏所謂上病療下也。人之喉咽如曲突。曲突火炎。若以水自上灌下。曲突立爆烈矣。惟灶床下以盆水煦之。上炎即熄。此上病燎下之一驗也。其間有乳鵝纏喉二名不同。腫於咽兩旁者。為雙鵝。腫於一邊者為單鵝。治法用鵝翎蘸米醋攪喉中。去盡痰涎。復以鵝翎探吐之。令著實一咯。咯破鵝中紫血即潰。或紫金錠磨下即愈。甚而不散者。上以小刀刺出紫血即愈。古方有刺少商穴法甚好。刀針刺血。急則用之。然亦有不宜用者。薛案云。一人年五十。咽喉腫痛。或針去血。神思雖清。尺脈洪數而無倫。次按之微細如無。余曰。有形而無痛。戴陽之類也。當峻補其陰。今反傷陰血必死。已而果歿。引此一案。以為粗工輕用刀針之戒。</p>
<p>纏喉風者。腫透達於外。且麻且癢且痛。可用謙甫解毒雄黃丸。</p>
<p><u>解毒雄黃丸</u></p>
<p>雄黃（一錢）　鬱金（一分）　巴豆（十四粒去油皮）　醋糊丸。綠豆大。熱茶送下。吐頑痰立蘇。未吐再服。</p>
<p>古方有用巴豆油。攤紙作燃子。點火吹滅。以煙燻鼻中。即時口鼻流涎。牙關自開。即用此搐患處愈。有一等陽虛咽痛者。口舌生瘡。遇勞益甚。其脈必浮大。此脾肺氣虛。膀胱虛熱。須以理中湯加山藥山茱萸服乃痊。有上焦風熱者。用荊防敗毒散效。有咽喉腫痛。作渴飲冷。大便秘結。六脈俱實。必下之乃愈。可用防風通聖散。今人虛熱者多。實熱者少。如此證不多得。此法不可輕用。又有急喉痹者。其聲如鼾。痰如拽鋸。此為肺絕之候。速熬人參膏。用竹瀝薑汁同調服。如未即得膏。速煎獨參湯服。早者十全七八。次則十救四五。遲則不救。</p>
<p>丹溪云。咽喉腫痛。有陰虛陽氣飛越。痰結在上者。脈必浮大。重取必澀。其去死不遠。宜獨參湯濃煎細細飲之。如作實證治。禍在反掌矣。仲景云。少陰客熱咽痛。用甘草湯。少陰寒熱相搏。用桔梗湯。少陰客寒咽痛。用半夏散及湯。少陰病咽中傷生瘡。不能語言。聲不出者。苦酒湯。少陰陰虛客熱不利。咽痛胸滿心煩者。豬膚湯。世人但知熱咽痛。而不知有寒咽痛。經曰。太陽在泉。寒淫所勝。民病咽腫頷腫。陳藏器用附子去皮臍。炮裂切片。以蜜塗炙。令蜜入內。噙咽其津。甘味盡。再換一片噙之。</p>
<p>仲景云。下利清穀。裡寒外熱。脈微欲絕。面赤咽痛。用通脈四逆湯。蓋以冬月伏寒在於腎經。發則咽痛下利。附子湯溫其經則愈。又有司天運氣。其年鄉村相染。若惡寒者。多是暴寒折熱。寒閉於外。熱鬱於內。切忌膽礬酸寒之劑點喉。反使陽鬱結不伸。又忌硝黃等寒劑下之。反使陽下陷入里。則禍不旋踵矣。須用表散之劑。若仲景甘桔湯之類。又有陽毒咽痛。用升麻湯。陰毒咽痛。用甘草湯。方見金匱要略及千金方中。</p>
<p>咽痛用諸藥不效者。此非咽痛。乃是鼻中生一條紅絲如發。懸一黑泡。大如櫻珠。垂掛到咽門。而口中飲食不入。須用牛膝根直而獨條者。洗淨入米醋四五滴。同研細。就鼻孔滴二三點入內去。則紅絲斷而珠破。其病立安。又有喉間作痛。潰爛日久不愈。此必楊梅瘡毒。須以萆薢（即土茯苓）湯為主。</p>

<h2>眼目論</h2>
<p>經曰。五臟六腑之精氣。皆上注於目。而為之精。腎藏精。故治目者。以腎為主。目雖肝之竅。子母相生。腎肝同一治也。</p>
<p>華元化云。目形類丸。瞳神居中而前。如日月之麗東南。而晦西北也。有神膏、神水、神光、真氣、真血、真精。此滋目之源液也。神膏者。目內包涵膏液。此膏由膽中滲潤精汁。積而成者。能涵養瞳神。衰則有損。神水者。由三焦而發源。先天真一之氣所化。目上潤澤之水是也。水衰則有火勝燥暴之患。水竭則有目輸大小之疾。耗澀。則有昏眇之危。虧者多。盈者少。是以世無全精之目。神光者。原於命門。通於膽。發於心火之用事也。火衰則有昏瞑之患。火炎則有焚燥之殃。雖有兩心而無正輸。心君主也。通於大眥。故大眥赤者。實火也。命門為小心。小心相火也。代君行令。通於小眥。故小眥赤者。虛火也。若君主拱默。則相火自然清寧矣。真血者。即肝中升運滋目注絡之血也。此血非比肌肉間易行之血。即天一所主之水。故謂之真也。真氣者。即目之經絡中往來生用之氣。乃先天真一發生之元陽也。真精者。乃先天元氣所化精汁。起於腎。施於膽。而後及瞳神也。凡此數者。一有損。目則病矣。大概目圓而長。外有堅殼數重。中有清脆肉。包黑稠神膏一函。膏外則白稠神水。水以滋膏。水外則皆血。血以滋水。膏中一點黑瑩。是腎膽所聚之精華。惟此一點。燭照鑑視。空闊無窮者。是曰水輸。內應於腎。北方壬癸亥子水也。五輸之中。惟瞳神乃照。或曰瞳神水耶氣耶血耶膏耶。曰非氣非血非水非膏。乃先天之氣所生。後天之氣所成。陰陽之妙蘊。水火之精華。血養水。水養膏。膏護瞳神。氣為運用。神即維持。喻以日月。理實同之。男子右目不如左目精華。女子左目不如右目光彩。此皆各得其陰陽氣血之正也。</p>
<p>許學士云。經曰。足少陰之脈。是動則病坐而欲起。目䀮䀮如無所見。又曰。少陰所謂起則目䀮䀮無所見者。陰內奪。故目䀮䀮無所見也。此蓋房勞目昏也。左腎陰虛。益陰地黃丸六味地黃丸。右腎陽虛。補腎丸八味地黃丸。</p>
<p>東垣云。能遠視不能近視者。陽有餘。陰氣不足也。海藏云。目能遠視。責其有火。不能近視。責其無水。秘要云。陰精不足。陽光有餘。病於水者。故光華髮見散亂。而不能收斂近視。治之在心腎。心腎平。則水火調而陰陽和。夫水之所化為血。在身為津液。在目為膏汁。若貪淫恣欲。飢飽失節。形脈勞甚。過於悲泣。能斫耗陰精。陰精虧則陽火盛。火性炎而發見。陰精不能制伏挽回。故越於外而遠照。反不能近之而視也。治之當如何。壯水之主。以鎮陽光。東垣云。能近視不能遠視。陽氣不足。陰氣有餘也。海藏云。目能近視。責其有水。不能遠視。責其無火。秘要云。此證非謂稟成近窺之病。乃平昔無病。素能遠視。而忽然不能者也。蓋陽不足。陰有餘。病於火者。故光華不能發越於外。而畏斂近視耳。治之在膽腎。膽腎足則木火通明。神氣宣暢。而精光遠達矣。夫火之所用為氣。在身為威儀。在目為神光。若縱恣色欲。喪其元陽。元陽既憊。則云霾陰翳。腎中之陰水。僅足以回光自照耳。焉能健運精汁。以滋於膽。而使水中之火。遠布於空中耶。治之當何如。益火之原。以消陰翳。</p>
<p>以上之證。皆陰弱不能配陽。內障之病。其病無眵淚痛癢羞明緊澀之證。初但昏如霧露中行。漸空中有黑花。又漸暗。物成二體。久則光不收。遂為廢疾。患者皆宜培養先天根本。乘其初時而治之。況此病最難療。服藥必積歲月。絕酒色淫欲。毋飢飽勞役。驅七情五賊。庶幾有效。不然必廢。終不復也。世不知此。始曰目昏無傷。略不經意。及病成。醫亦不識。直曰熱致。竟用涼藥。殊不知涼藥傷胃。況涼為秋為金。肝為春為木。又傷肝矣。往往致廢而後已。病者不悟藥之過。諉之曰命也。醫者亦不自悟。而曰病拙。悲夫。</p>
<p>又有陽虛不能抗陰者。若因飲食失節。勞役過度。脾胃虛弱。下陷於腎肝。濁陰不能下降。清陽不能上升。天明則日月不明。邪害空竅。令人耳目不明。夫五臟六腑之精。皆稟受於脾土。而上貫於目。此精字乃飲食所化之精。非天一之元精也。脾者諸陰之首也。目者血氣之宗也。故脾虛則五臟之精氣。皆失所司。不能歸明於目矣。況胃氣下陷於腎肝。名曰重強。相火挾心火而妄行。百脈沸騰。血脈逆上而目病矣。若兩目暗昏。四肢不怠者。用東垣益氣聰明湯。若兩目緊小羞明畏日者。或視物無力。肢體倦怠。或手足麻木。乃脾肺氣虛。不能上行也。用神效黃耆湯。若病後。或日晡。或燈下。不能視者。陽虛下陷也。用決明夜光丸。或升麻鎮陰湯。</p>
<p>張子和云。目不因火則不病。白輪病赤。火乘肺也。肉輪赤腫。火乘脾也。黑水神光被翳。火乘肝與脾也。赤脈貫目。火自甚也。能治火者。一句可了。但子和一味寒涼治火。余獨補水以配火。亦一句可了。至於六淫七情錯雜諸證。詳倪仲賢原機啟微。此書甚好。而薛立齋又為之參補。深明壯水之主。益火之原。甚有益於治目者也。</p>

<h1>卷之五·先天要論（下）</h1>

<h2>齒論</h2>
<p>素問曰。男子八歲。腎氣實而齒生。更三八真牙生。五八則齒稿。八八而齒去矣。女子亦然。以七為數。蓋腎主骨。齒者骨之標。髓之所養也。凡齒屬腎。上下齦屬陽明。上齦痛。喜寒而惡熱。取足陽明胃。下齦痛。喜熱而惡寒。取手陽明大腸。凡動搖袒脫而痛。或不痛。或出血。或不出血。全具如欲落之狀者。皆屬腎。經曰。腎熱者色黑而齒稿。又曰。少陰經者。面黑齒長而垢。其蟲疳齦腫不動。潰爛痛穢者。皆屬陽明。或諸經錯雜之邪。與外因為患。俱分虛實而治。腎經虛寒者。安腎丸還少丹。重則八味丸主之。其冬月時。大寒犯腦。連頭痛。齒牙動搖疼痛者。此太陽並少陰傷寒也。仲景用麻黃附子細辛湯。凡腎虛者多有之。如齒痛搖動。肢體倦怠。飲食少思者。脾腎虧損之證。用安腎丸補中益氣並服。如喜寒惡熱者。乃胃血傷也。清胃湯。若惡寒喜熱者。胃氣傷也。補中益氣湯。</p>
<p>凡齒痛遇勞即發。或午後甚者。或口渴面黧。或遣精者。皆脾腎虛熱。補中益氣送八味丸。或十全大補湯。若齒齦腫痛。焮連腮頰。此胃經風熱。用犀角升麻湯。若善飲者。齒痛腮頰焮腫。此胃經濕熱。清胃湯加葛根。或解醒湯。</p>
<p>海藏云。牙齒等齲。臭穢不可近。數年不愈。當作陽明蓄血治。桃仁承氣湯。為細末蜜丸服之。好飲者。多有此證。屢服有效。</p>
<p>凡小兒行遲語遲齒遲。及囟門開者。皆先天母氣之腎衰。須腎氣丸為主。</p>
<p><u>固齒方</u></p>
<p>雄鼠骨　當歸　沒石子　熟地　榆皮　青鹽　細辛（各等分）　上研為細末。綿紙裹成條。抹牙床上。則永固不落矣。常有人齒縫出血者。余以六味地黃。加骨碎補。大劑一服即瘥。間有不瘥者。腎中火衰也。本方加五味肉桂而愈。</p>

<h2>口瘡論</h2>
<p>口瘡。上焦實熱。中焦虛寒。下焦陰火。各經傅變所致。當分別而治之。如發熱作渴飲冷。實熱也。輕則用補中益氣。重則用六君子湯。飲食少思。大便不實。中氣虛也。用人參理中湯。手足逆冷。肚腹作痛。中氣虛寒。用附子理中湯。日晡熱。內熱。不時而熱。血虛也。用八物加丹皮五味麥門。發熱作渴唾痰小便頻數。腎水虛也。用八味丸。日晡發熱。或從小腹起。陰虛也。用四物參朮五味麥門。不應。用加減八味丸。若熱來復去。晝見夜伏。夜見晝伏。不時而動。或無定處。或從腳起。乃無根之火也。亦用前丸。及十全大補加麥門五味。更以附子末唾津調。抹湧泉穴。若概用寒涼。損傷生氣。為害匪輕。</p>
<p>或問虛寒何以能生口瘡。而反用附子理中耶。蓋因胃虛谷少。則所勝者。腎水之氣。逆而乘之。反為寒中。脾胃衰虛之火。被迫炎上。作為口瘡。經曰。歲金不及。炎火乃行。復則寒雨暴至。陰厥乃格陽反上行。民病口瘡是也。故用參朮甘草補其土。姜附散其寒。則火得所助。接引而退舍矣。</p>
<p>按聖濟總錄。有元藏虛冷上攻口舌者。用巴戟白芷高良薑末豬腰煨服。又有用丁香胡椒松脂細辛末。蘇木湯調塗舌上。有用當歸附子蜜炙含咽。若此之類。皆治龍火上迫。心肺之陽不得下降。故用此以引火歸原也。</p>

<h2>耳論</h2>
<p>耳者。腎之竅。足少陰之所主。人身十二經絡中。除足太陽手厥陰。其餘十經絡。皆入於耳。惟腎開竅於耳。故治耳者。以腎為主。或曰。心亦開竅於耳。何也。蓋心竅本在舌。以舌無孔竅。因寄於耳。此腎為耳竅之主。心為耳竅之客爾。以五臟開於五部。分陰陽言之。在腎肝居陰。故耳目二竅。陰精主之。在心脾肺居陽。故口鼻舌三竅。陽精主之。靈樞云。腎氣通乎耳。腎和則能聞五音。五臟不和。則七竅不通。故凡一經一絡有虛實之氣入於耳者。皆足以亂其聰明。而致於聾聵。此言暴病者也。若夫久聾者。於腎亦有虛實之異。左腎為陰主精。右腎為陽主氣。精不足氣有餘。則聾為虛。若其人瘦而色黑。筋骨健壯。此精氣俱有餘。固藏閉塞。是聾為實。乃高壽之兆也。二者皆稟所致。不須治之。又有乍聾者。經曰。不知調和七損八益之道。早衰之節也。其年未五十。體重耳目不聰明矣。是可畏也。其證耳聾面頰黑者。為脫精腎憊。安腎丸八味丸蓯蓉丸薯蕷丸。選而用之。若腎經虛火面赤口乾痰盛內熱者。六味丸主之。此論陰虛者也。至於陽虛者。亦有耳聾。經曰。清陽出上竅。胃氣者。清氣元氣春升之氣也。同出而異名也。今人飲食勞倦。脾胃之氣一虛。不能上升。而下流於腎肝。故陽氣者閉塞。地氣者冒明。邪害空竅。今人耳目不明。此陽虛耳聾。須用東垣補中益氣湯主之。有能調養得所。氣血和平。則其耳聾漸輕。若不知自節。日就煩勞。即為久聾之證矣。</p>
<p>又有因虛而外邪乘襲者。如傷寒邪入少陽。則耳聾脅痛之類。當各經分治之。</p>
<p>又有耳痛耳鳴耳癢耳膿耳瘡。亦當從少陰正竅。分寒熱虛實而治之者多。不可專作火與外邪治。耳鳴以手按之而不鳴。或少減者。虛也。手按之而愈鳴者。實也。王節齋云。耳鳴盛如蟬。或左或右。或時閉塞。世人多作腎虛治不效。殊不知此是痰火上升。鬱於耳而為鳴。甚則閉塞矣。若其人平昔飲酒厚味。上焦素有痰火。只作清痰降火治之。大抵此證多先有痰火在上。又感惱怒而得。則氣上少陽之火客於耳也。若腎虛而鳴者。其鳴不甚。其人必多欲。當見勞怯等證。惟薛立齋詳分縷析。云血虛有火。用四物加山梔柴胡。若中氣虛弱。用補中益氣湯。若血氣俱虛。用八珍湯加柴胡。若怒便聾而或鳴者。屬肝膽經氣實。用小柴胡加芎歸山梔。虛用八珍湯加山梔。若午前甚者。陽氣實熱也。小柴胡加黃連山梔。陽氣虛。用補中益氣湯。加柴胡山梔。午後甚者。陰血虛也。四物加白朮茯苓。若腎虛火動。或痰盛作渴者。必用地黃丸。</p>
<p>耳中哄哄然。是無陰也。又液脫者。腦髓消。脛瘦。耳數鳴。宜地黃丸。</p>
<p>腎虛耳中潮聲蟬聲。無休止時。妨害聽聞者。當墜氣補腎。正元飲咽黑錫丹。間進安腎丸。腎臟風耳鳴。夜間睡著。如打戰鼓。更四肢抽掣痛。耳內覺風吹奇癢。宜黃耆丸。腎者宗脈所聚。耳為之竅。血氣不足。宗脈乃虛。風邪乘虛。隨脈入耳。氣與之搏。故為耳鳴。先用生料五苓散。加制枳殼橘紅紫蘇生薑同煎。吞青木香丸。散邪風下氣。續以芎歸飲和養之。耳中耵聹。耳鳴耳聾。內有汙血。宜柴胡聰耳湯。</p>
<p>其餘耳痛耳癢耳腫等證。悉與薛氏論相參用之。丹鉛續錄云。王萬里時患耳痛。魏文靖公勸以服青鹽鹿茸煎雄附為劑。且言此藥非為君虛損服之。曷不觀易之坎為耳痛。坎水藏在腎。開竅於耳。而在志為恐。恐則傷腎。故耳痛。氣陽運動常顯。血陰流行常幽。血在形。如水在天地間。故坎為血卦。是經中已著病證矣。竟餌之而悉愈。</p>
<p>聖惠云。有耳癢。一日一作。可畏。直挑剔出血稍愈。此乃腎臟虛。致浮毒上攻。未易以常法治也。宜服透冰丹。勿飲酒啖濕面雞豬之屬。能盡一月為佳。不能戒無效。</p>

<h2>耳瘡論</h2>
<p>羅謙甫云。耳內生瘡者。為足少陰。是腎之經也。其氣上通於耳。其經虛。風熱乘之。隨脈入於耳。與氣相搏。故令耳門生瘡也。曾青散主之。黃連散亦可。內服黍黏子湯。</p>
<p><u>曾青散</u></p>
<p>曾青（五分）　雄黃（七分半）　黃芩（二分半）　有膿水搓胭脂拭乾。細末一分。裹綿納耳中。</p>
<p><u>黃連散</u></p>
<p>黃連（五分）　枯礬（七分）　細末。綿裹納耳中。</p>
<p>薛氏云。耳瘡屬手少陽三焦經。或足厥陰肝經血虛風熱。或肝經暴火風熱。或腎經風火等因。若發熱焮痛。屬少陽厥陰風熱。用柴胡梔子散。若內熱癢痛。屬前二經血虛。用當歸川芎散。若寒熱作痛。屬肝經風熱。小柴胡湯加山梔川芎。若內熱口乾。屬腎經虛火。用加味地黃丸。如不應。用加減八味丸。余當隨證治之。</p>
<p>耳膿即聤耳。用紅綿散麝香散。內服柴胡聰耳湯、通氣散俱可。如壯盛之人。積熱上攻。膿水不住。則上二散不宜用。恐收斂太過也。用三黃散有效。</p>
<p>有一小兒患耳膿。經年屢月。服藥不效。殊不知此腎疳也。用六味丸加桑螵蛸。服之即愈。</p>
<p><u>黃耆丸方</u></p>
<p>黃耆（一兩）　沙苑蒺藜（炒）　羌活（各半兩）　黑附子（大一個）　羯羊腎（一對焙乾）　上為細末。酒糊丸如桐子大。每服四十丸。空心食前。煨蔥鹽湯下。</p>
<p><u>柴胡聰耳湯</u>　治耳中干耵。耳鳴致聾。</p>
<p>柴胡（三錢）　連翹（四錢）　水蛭（半錢炒另研）　虻蟲（三個去翅足研）　麝香（少許研）　當歸身　炙甘草　人參（各二錢）　上除另研外。以水二盞。姜三片。煎至一盞。少熱下水蛭等末。再煎一二沸。食少遠熱服。</p>
<p><u>透水散</u></p>
<p>川大黃（去粗皮）　山梔子（去皮）　蔓荊子（去白皮）　白茯苓（去皮）　益智子（去皮）　葳靈仙（去蘆頭洗焙乾）　白芷（各半兩）　香墨（燒醋淬干細研）　麝香（研一錢）　茯神（去木半兩）　川烏（二兩用河水浸半月切作片焙乾用鹽炒）　天麻（去苗）　仙靈脾葉（洗焙各三錢）　上為細末。煉蜜和如麥飯相似。以真酥塗。杵臼搗萬杵。如干旋入蜜令得所。和成劑。每服旋丸。如桐子大。用薄荷自然汁。同溫酒。化下兩丸。如卒中風。涎湧昏塞。煎皂莢白礬湯。溫化兩丸。</p>
<p>蟲入耳痛。將生薑擦貓鼻。其尿自出。取尿滴內。蟲即出而愈。</p>
<p>有一人耳內不時作痛。痛而欲死。痛止如故。就診於立齋先生。診之六脈皆安。非瘡也。話間痛忽作。意度其有蟲。令急取貓尿滴耳。果出一臭蟲。遂不復痛。或用麻油滴之。則蟲死難出。或用炒芝麻枕之。則蟲亦出。但不及貓尿之速也。</p>

<h2>消渴論</h2>
<p>上消者。舌上赤裂。大渴引飲。逆調論云。心移熱於肺。傅為膈消者是也。以白虎湯加人參治之。中消者。善食而瘦。自汗大便硬。小便數。叔和云。口乾飲水。多食肌膚瘦。成消中者是也。以調胃承氣湯治之。下消者。煩躁引飲。耳輸焦乾。小便如膏。叔和云。焦煩水易虧。此腎消也。六味丸治之。古人治三消之法。詳別如此。余又有一說焉。人之水火得其平。氣血得其養。何消之有。其間攝養失宜。水火偏勝。津液枯槁。以致龍雷之火上炎。熬煎既久。腸胃合消。五臟乾燥。令人四肢瘦削。精神倦怠。故治消之法。無分上中下。先治腎為急。惟六味八味。及加減八味丸。隨證而服。降其心火。滋其腎水。則渴自止矣。白虎與承氣。皆非所治也。</p>
<p>婁全善云。肺病本於腎虛。腎虛則必寡於畏。妄行陵肺而移寒與之。故肺病消。仲景治渴而小便反多。用八味丸補腎救肺。後人因名之曰腎消也。</p>
<p>總錄謂不能食而渴者。末傳中滿。能食而渴者。必發腦疽背癰。蓋不能食者。脾之病。脾主澆灌四旁。與胃行其津液者也。脾胃既虛。則不能敷布其津液。故渴。其間縱有能食者。亦是胃虛引谷自救。若概以寒涼瀉火之藥。如白虎承氣之類。則內熱未除。中寒復生。能不未傳鼓脹耶。惟七味白朮散。人參生脈散之類。恣意多飲。復以八味地黃丸。滋其化源。才是治法。及能食而渴發疽者。乃肥貴人膏粱之疾也。數食甘美而肥多。故其上氣轉溢而為消渴。不可服膏粱芳草石藥。其氣慓悍。能助燥熱。經曰。治之以蘭。消陳積也。亦不用寒涼。及發癰疽者。何也。經曰。膏粱之變。饒生大疔。此之謂也。其腎消而亦有腦疽背癰者。蓋腎主骨。腦者髓之海。背者太陽經寒水所過之地。水涸海竭。陰火上炎。安得不發而為癰疽。其瘡甚而不潰。或赤水者是。甚則或黑或紫。火極似水之象。乃腎水已竭不治。或峻補其陰。亦可救也。</p>
<p>或曰。人有服地黃湯而渴仍不止者。何也。曰此方士不能廢其繩墨。而更其道也。蓋心肺位近。宜制小其服。腎肝位遠。宜制大其服。如鬲消中消。可以前丸緩而治之。若下消已極。大渴大燥。須加減八味丸料一升。內肉桂一兩。水煎六七碗。恣意水冷飲之。熟睡而渴病如失矣。處方之制。存乎人之通變耳。</p>
<p>或問曰。下消無水。用六味地黃丸。可以滋少陰之腎水矣。又加附子肉桂者何。蓋因命門火衰。不能蒸腐水穀。水穀之氣。不能熏蒸。上潤乎肺。如釜底無薪。鍋蓋乾燥。故渴。至於肺亦無所稟。不能四布水精。並行五經。其所飲之水。未經火化。直入膀胱。正謂飲一升溺一升。飲一斗溺一斗。試嘗其味。甘而不咸可知矣。故用附子肉桂之辛熱。壯其少火。灶底加薪。枯籠蒸溽。稿禾得雨。生意維新。惟明者知之。昧者鮮不以為迂也。昔漢武帝病渴。張仲景為處此方。至聖玄關。今猶可想。八味丸誠良方也。瘡疽痊後。及將痊口渴甚者。舌黃堅硬者。及未患先渴。或心煩燥渴。小便頻數。或白濁陰痿。飲食少思。肌膚消瘦。及腿腫腳瘦。口齒生瘡。服之無不效。一貴人病疽。疾未安而渴作。一日飲水數升。愚遂獻加減地黃方。諸醫大笑云。此藥若能止渴。我輩當不復業醫矣。皆用木瓜紫蘇烏梅人參茯苓百藥煎等。生津液之藥止之。而渴愈甚。數劑之後。茫無功效。不得已而用前方。三日渴止。因相信。久服不特渴疾不作。氣血亦壯。飲食加倍。強健過於少壯之年。蓋用此藥。非予敢自執鄙見。實有源流。薛氏家藏此方。屢用有驗。故詳著之。使有渴疾者信其言。專志服餌取效。無為庸醫所惑。庶廣前人之志。久服輕身。耳目聰明。令人皮膚光澤。（方內用北五味子。最為得力。獨能補腎水降心氣。其肉桂一味不可廢。若去肉桂。服之不效。）</p>
<p>一男子患此。余欲以前丸治之。彼則謂肉桂性熱。乃私易之以黃柏知母等藥。遂口渴不止。發背疽而殂。彼蓋不知肉桂為腎經藥也。前證乃腎經虛火炎上無製為患。用桂導引諸藥以補之。引虛火歸元。故效也。成無己曰。桂猶圭也。引導陽氣。若執圭以從使者然。若夫上消者。謂心移熱於肺。中消者。謂內虛胃熱。皆認火熱為害。故或以白虎湯。或以承氣湯。卒致不救。總之是下焦命門火不歸元。遊於肺則為上消。遊於胃即為中消。以八味腎氣丸。引火歸元。使火在釜底。水火既濟。氣上熏蒸。俾肺受濕潤之氣而渴疾愈矣。</p>
<p>有一等病渴。惟欲飲冷。但飲水不過二三口。即厭棄。少頃復渴。其飲水亦如前。第不若消渴者之飲水無厭也。此證乃是中氣虛寒。寒水泛上。逼其浮游之火於咽喉口舌之間。故上焦一段。欲得水救。若到中焦。以水見水。正其所惡也。治法如面紅而煩躁者。煎理中湯吞八味丸。二三服而愈。若用他藥。必不能濟。</p>
<p>又有一等病。渴急欲飲水。但飲下不安。少頃即吐出。吐出片刻。復欲水飲。至於藥食。毫不能下。此是陰盛格陽。腎經傷寒之證也。予反復思之。用仲景之白通湯。加人尿膽汁。熱藥冷探之法。一服稍解。三服全瘳。其在男子間有之。女子多有此證。（陶節庵名之曰回陽返本湯。）</p>

<h2>氣虛中滿論</h2>
<p>中滿者。其證悉與鼓脹水腫無異。何故屬之氣虛。請得明言之否。曰氣虛者。腎中之火氣虛也。中滿者。中空似鼓。虛滿而非實滿也。大略皆脾腎兩虛所致。海藏云。夫水氣者。乃胃土不能制腎水。水逆而上行。傳入於肺。故令人腫。治者惟知泄水。而不知益胃。故多下之強令水出。不依天度流轉。故胃愈虛。食無滋味。則發而不能制也。莫若行其所無事。則為上計。何今之人。不知此等高論。舉手便以為水腫。用內經去宛陳莝。開鬼門潔淨府之法治之。如舟車丸禹功散之類。若真知其為水濕之氣。客於中焦。侵於皮膚。皮膚中如水晶之光亮。手按之隨起者。以前藥一服而退。若久病大病後。或傷寒瘧痢後。女人產後。小兒痘後。與夫元氣素弱者。概以前法施之。脾氣愈泄愈虛。不可復救矣。故治腫者。先以脾土為主。須補中益氣湯。或六君子湯溫補之。俾脾土旺。則能散精於肺。通調水道。下輸膀胱。水精四布。五經並行矣。或者疑謂喘脹水滿。而又加純補之劑。恐益脹滿。必須補藥中。加行氣利水之品方妙。此論似深得病情。終非大方家體。蓋肺氣既虛。不可復行其氣。腎水已衰。不可複利其水。純補之劑。初時似覺不快。過時藥力得行。漸有條理矣。</p>
<p>至於補腎以治腫。其說難明。蓋禹之治水。行其所無事也。若一事疏鑿。則失之矣。今人之治腎水者。牽牛大戟。粗工之小智。正禹之所惡也。間有用五苓五皮者。以為中正。亦轉利轉虛。腎氣愈衰而愈不能推送矣。故須用補腎。經曰。腎開竅於二陰。腎氣化則二陰通。二陰閉則胃填脹。故曰腎者胃之關。關門不利。故水聚而從其類也。又曰。腎主下焦。三焦者。決瀆之官。水道出焉。膀胱者。州都之官。津液藏焉。必待三焦之火化。始能出也。其三焦之經。在上者布膻中。散絡心包。在下者。出於委陽。上絡膀胱。上佐天道之施化。下佐地道之發生。與手厥陰為表裡。以應諸經之使者也。是故腎虛者。下焦之火虛也。宣明五氣論云。下焦溢為水。以水注之。斯氣窒而不瀉。則溢而為水也。經曰。三焦病者。氣滿小腹尤堅。不得小便。溢則水留而為脹。惟張仲景制金匱腎氣丸。補而不滯。通而不泄。誠治腫之神方。國朝薛立齋先生。屢用屢效。詳載之醫案中。余依其案。親試之甚效。故敢詳著焉。世有患此者。幸毋誕之乎。</p>
<p><u>金匱腎氣丸</u>　此方藏於金匱玉函</p>
<p>白茯苓（三兩）　附子（五錢）　川牛膝（一兩）　肉桂（一兩）　澤瀉（一兩）　車前子（一兩）　山茱萸（一兩）　山藥（一兩）　牡丹皮（二兩）　熟地（四兩）</p>
<p>中滿之病。原於腎中之火氣虛。不能行水。此方內八味丸為主。以補腎中之火。則三焦有所稟命。浩然之氣。塞乎天地。腎氣不虛而能行水矣。內有附子肉桂辛熱之品。熱則流通。又火能生土。土實而能制水矣。內加牛膝車前子二味。最為切當。考之本草云。車前子雖利小便。而不走氣。與茯苓同功。強陰益精。令人有子。牛膝治老人失溺。補中續絕。壯陽益精。病人虛損。加而用之。方見金匱要略。故名金匱腎氣丸。</p>
<p>前所論證治。乃脾腎兩虛者。至於純是脾虛之證。既以參耆四君為主。亦須以八味丸兼補命門火。蓋脾土非命門火不能生。虛則補母之義。不可不知。</p>
<p>又有一等純是陰虛者。其證腹大臍腫腰痛。兩足先腫。小水短澀。喘嗽有痰。不得臥。甚至頭面皆腫。或面赤口渴。但其人飲食知味。大便反燥。醫見形腫氣喘水證標本之疾。雜用利水之藥而益甚。殊不知陰虛。三焦之火旺。與衝脈之屬火者。同逆而上。由是水從火溢。上積於肺而嗽。甚則為喘呼不能臥。散聚於陰絡而為跗腫。隨五臟之虛者。入而聚之。為五臟之脹。皆相火氾濫其水而生病也。以六味地黃加門冬五味大劑服之。余親試有驗。故錄。</p>
<p>又有一等火鬱者。其證口苦脅痛惡寒。目黃面黃嘔酸等證。須用逍遙散舒其鬱。繼以六味、腎氣滋其陰。亦禁用分利。</p>

<h2>噎膈論</h2>
<p>噎膈、翻胃、關格三者。名各不同。病原迥異。治宜區別。不可不辨也。噎膈者。飢欲得食。但噎塞迎逆於咽喉胸膈之間。在胃口之上。未曾入胃。即帶痰涎而出。若一入胃下。無不消化。不復出矣。唯男子年高者有之。少無噎膈。翻胃者。飲食倍常。盡入於胃矣。但朝食暮吐。暮食朝吐。或一兩時而吐。或積至一日一夜。腹中脹悶不可忍而復吐。原物酸臭不化。此已入胃而反出。故曰翻胃。男女老少皆有之。關格者。粒米不欲食。渴喜茶水飲之。少頃即吐出。復求飲復吐。飲之以藥。熱藥入口即出。冷藥過時而出。大小便秘。名曰關格。關者下不得出也。格者上不得入也。唯女人多有此證。</p>
<p>論噎膈。丹溪謂得之七情六淫。遂有火熱炎上之化。多升少降。津液不布。積而為痰為飲。被劫時暫得快。不久復作。前藥再行。積成其熱。血液衰耗。胃脘乾槁。其槁在上。近咽之下。水飲可行。食物難進。食亦不多。名之曰噎。其槁在下。與胃為近。食雖可入。難盡入胃。良久復出。名之曰膈。亦曰反胃。大便秘少。若羊矢然。必外避六淫。內節七情。飲食自養。滋血生津。以潤腸胃。則金無畏火之炎。腎有生水之漸。氣清血和。則脾氣運健。而食消傳化矣。丹溪之論甚妙。但噎膈翻胃。分別欠明。余獨喜其火熱炎上之化。腎有生水之漸二句。深中病源。惜其見尤未真。以潤血為主。而不直探乎腎中先天之原。故其立方。以四物中牛羊乳之類。加之竹瀝韭汁化痰化瘀。皆治標而不治本也。豈知內經原無多語。唯曰三陽結謂之膈。三陽者。大腸小腸膀胱也。結謂結熱也。大腸主津。小腸主液。大腸熱結則津涸。小腸熱結則液燥。膀胱為州都之官。津液藏焉。膀胱熱結。則津液竭。然而三陽何以致結熱。皆腎之病也。蓋腎主五液。又腎主大小便。腎與膀胱為一臟一腑。腎水既干。陽火偏盛。熬煎津液。三陽熱結。則前後閉澀。下既不通。必反於上。直犯清道。上衝吸門喉咽。所以噎食不下也。何為水飲可入。食物難下。蓋食入於陰。長氣於陽。反引動胃口之火。故難入。水者陰類也。同氣相投。故可入口。吐白沫者。所飲之水。沸而上騰也。糞如羊矢者。食入者少。渣滓消盡。腸亦干小而不寬大也。此證多是男子年高五十以外得之。又必其人不絕色欲。潛問其由。又諱疾忌醫。曰近來心事不美。多有鬱氣而然。予意郁固有之。或以郁故。而為消愁解悶之事。不能無也。此十有八九。亦不必深辨。但老人天真已絕。只有孤陽。只以養陰為主。王太僕云。食入即出。是無水也。食久反出。是無火也。無水者。壯水之主。無火者。益火之源。褚侍中雲。上病療下。直須以六味地黃丸料大劑煎飲。久服可挽於十中之一二。又須絕嗜欲。遠房幃。薄滋味。可也。若曰溫胃。胃本不寒。若曰補胃。胃本不虛。若曰開鬱。香燥之品。適以助火。局方發揮。已有明訓。河間劉氏下以承氣。鹹寒損胃。津液愈竭。無如補陰。焰光自滅。世俗不明。余特詳揭。</p>
<p>論反胃。金匱要略云。趺陽脈浮而澀。浮則為虛。澀則為傷脾。脾傷則不磨。朝食暮吐。暮食朝吐。宿食不化。名曰反胃。予閱函史列傳。有一醫案云。病反胃者。每食。至明日清晨皆出不化。醫以暖胃藥投之罔效。脈甚微而弱。有國工視之。揆諸醫所用藥。元遠於病而不效。心歉然未有以悟也。讀東垣書。謂吐有三證。氣積寒也。上焦吐者從氣。中焦吐者從積。下焦從寒。今脈沉而遲。朝食暮吐。暮食朝吐。小便利大便秘。此下焦吐也。法當通其閉溫其寒。乃遂躍然。專治下焦散其寒。徐以中焦藥和之而愈。觀此可見下焦吐者。乃命門火衰。釜底無薪。不能蒸腐胃中水穀。腹中脹滿。不得不吐也。王太僕所謂食久反出。是無火也是矣。須用益火之原。先以八味地黃丸補命門火。以扶脾土之母。徐以附子理中湯理中焦。萬舉萬全。不知出此。而徒以山楂神麯平胃化食。適以速其亡也。</p>
<p>論關格者。忽然而來。乃暴病也。大小便秘。渴飲水漿。少頃則吐。又飲又吐。唇燥眼珠微紅。面赤或不赤。甚者或心痛或不痛。自病起。粒米不思。滴水不得下胃。飲一杯吐出懷半。數日後脈亦沉伏。此寒從少陰腎經而入。陰盛於下。逼陽於上。謂之格陽之證。名曰關格。關格者。不得盡其命而死矣。須以仲景白通湯。用內經寒因熱用之法。經曰。若調寒熱之逆。冷熱必行。則熱物冷服。下咽之後。冷性既除。熱性始發。由是病氣隨愈。嘔噦皆除。情且不違。而致大益。此和人尿豬膽汁鹹苦寒之物。於白通湯中。要其氣相從。可以去拒格之寒也。服藥後。脈漸出者生。脈乍出者死。陶節庵殺車槌中。有回陽反本湯極妙。愈後須以八味丸常服。不再發。</p>
<p>又有一種肝火之證。亦嘔而不入。但所嘔者酸水。或苦水。或青藍水。惟大小便不秘。亦能作心痛。此是火鬱木鬱之證。木鬱則達之。火鬱則發之。須用茱連濃煎。細細呷之。再服逍遙散而愈。愈後須以六味丸調理。</p>

<h2>瀉利並大便不通論</h2>
<p>臟腑瀉利。其證多端。大抵皆因脾胃而作。東垣先生制脾胃論一篇。專以補中益氣湯。升提清氣為主其間治脾泄之證。庶無餘蘊矣。特未及乎腎泄也。是故以其濕也。利水以分之。以其風也。助風以平之。以其實也。下之。以其虛也。補之。寒則溫之。熱則清之。有食者化之。有積者祛之。凡五行之相勝。與六氣之加臨。莫不以生剋制化之法治之。然而經年經月。不得一效者何耶。仲景云。下利不止。醫以理中湯與之。利益甚。理中者理中焦也。此利在下焦。當以理下焦法則愈矣。昔趙以德有云。予聞先師言泄瀉之病。其類多端。得於六淫五邪飲食所傷之外。復有雜合之邪。似難執法而治。乃見先師治氣暴脫而虛。頓瀉不知人事。口眼俱閉。呼吸甚微幾欲絕者。急灸氣海。飲人參膏十餘斤而愈。治積痰在肺。致其所合大腸之氣不固者。湧出上焦之痰。則肺氣下降。而大腸之虛自復矣。治憂思太過。脾氣結而不能升舉。陷入下焦而成泄瀉者。開其鬱結。補其脾胃。使穀氣升發也。治陰虛而腎不能司禁固之權者。峻補其腎而愈也。凡此之類甚多。因問先生治病何神也。先生曰無他。圓機活法。內經熟自得之矣。</p>
<p>經曰。腎主大小便。又曰。腎司開闔。又曰。腎開竅於二陰。可見腎不但主小便。而大便之能開而復能閉者。腎操權也。今腎既虛衰。則命門之火熄矣。火熄則水獨治。故令人多水瀉不止。其瀉每在五更天將明時。必洞泄二三次。此其故何也。蓋腎屬水。其位在北。於時為亥子。五更之時。正亥子水旺之秋。故特甚也。惟八味丸以補真陰。則腎中之水火既濟。而開闔之權得宜。況命門之火旺。火能生土。而脾亦強矣。故古方有椒附丸五味子散。皆治腎泄之神方。不可不考也。考之薛案云。脾胃虛寒下陷者。用補中益氣湯。加木香肉果補骨脂。若脾氣虛寒不禁者。用六君子湯。加炮姜肉桂。若命門火衰。脾土虛寒者。用八味丸。若脾胃氣血俱虛者。用十全大補湯。送四神丸。若大便滑利。小便閉澀。或肢體漸腫。喘嗽唾痰。為脾腎虧損。宜金匱加減腎氣丸。</p>
<p>秦越人難經。有五泄之分。曰胃泄。曰脾泄。曰大腸泄。曰小腸泄。曰大瘕泄。夫所謂大瘕泄者。即腎泄也。注云。裡急後重。數至圊而不能便。莖中痛。世人不知此證。誤為滯下治之。禍不旋踵。（滯下即今所謂痢疾也。）此是腎虛之證。欲去不去。似痢非痢。似虛努而非虛努。蓋痢疾後重。為因邪壓大腸墜下。故大腸不能升舉而重。治以大黃檳榔輩。瀉其所壓之邪而愈。又有久瀉大腸虛滑。元氣下陷。不能自收而重。乃用粟殼等澀劑。以固其脫升其墜而愈。其虛坐努責。此痢後積已去盡。無便而但虛坐耳。此為亡血過多。倍用歸芎以和之而愈。惟腎虛後重者。亦數至圊而不能便。必莖中痛。或大便不能得。而小便先行而澀。或欲小便。而大便反欲去而痛。獨褚氏精血論中雲。精已耗而復竭之。則大小便道牽痛。愈痛則愈便。愈便則愈痛。須以補中益氣湯。倍升麻送四神丸。又以八味地黃丸料。加五味吳茱萸補骨脂肉豆蔻。多服乃效。此等證候。以痢藥致損元氣。肢體腫脹而斃者。不可枚舉。腎既主大小便而司開闔。故大小便不禁者責之腎。即此推之。然則大便不通者。獨非腎乎。金匱真言論云。北方黑色。入通於腎。開竅於二陰。故腎氣虛。則大小便難。宜以地黃蓯蓉車前子茯苓之屬。補其陰利水道。少佐辛藥。開腠理致津液。而潤其燥。潔古云。臟腑之秘。不可一概治療。有熱秘。有冷秘。有實秘。有虛秘。有風秘。有氣秘。老人與產後。及發汗利小便過多。病後氣血未復者。皆能成秘。禁用硝黃巴豆牽牛等藥。世人但知熱秘。不知冷秘。冷秘者冷氣橫於腸胃。凝陰固結。津液不通。胃氣閉塞。其人腸內氣攻。喜熱惡冷。宜以八味地黃丸料。大劑煎之。冷飲即愈。或局方半硫丸。碾生薑。調乳香下之。或海藏己寒丸俱效。海藏云。己寒丸雖熱。得芍藥茴香潤劑。引而下之。陰得陽而化。故大小便自通。如遇春和之陽。水自消矣。然不若八味丸更妙也。</p>
<p>東垣云。腎主五液。津液盛則大便如常。若飢飽勞役。損傷胃氣。及食辛熱厚味而助火邪。伏於血中。耗散真陰。津液虧少。故大腸結燥。又有老年氣虛。津液衰少而結者。腎惡燥。急食辛以潤之是也。予嘗體法東垣之論。不用東垣之方。如潤腸丸潤燥湯通幽散之類俱不用。惟用六味地黃丸料。煎服自愈。如熱秘而又兼氣虛者。以前湯內加參耆各五錢立愈。此因氣虛不能推送。陰虛不能濡潤故耳。以上治法。予嘗親試而必驗。且又不犯大黃桃仁枳殼等破氣破血之禁。可以久服。永無秘結。故表而出之。</p>
<p>或問曰。何為不用四物湯。曰四物湯特能補血耳。此是先天津液不足。故便難。經曰。大腸主津。小腸主液。又曰。腎主五液。津液皆腎水所化。與血何干。故不用四物湯。或又問曰。如干結之甚。硝黃亦可暫用否。曰承氣湯用硝黃。乃為傷寒從表入里。寒變為熱。熱入三陰。恐腎乾枯。故用硝黃以逐去外邪。急救腎水。余獨禁用者。乃是論老人虛人及病後人。腎水原不足。以致乾枯。若再用硝黃等藥以下之。是虛其虛。今日雖取一時之快。來日必愈結。再下之。後日雖鐵石亦不能通矣。倘有患此者。當勸慰之。勿令性急。以自取危殆。況老人後門固者。壽考之徵。自是常事。若以六味八味常服。永保無虞。</p>

<h2>小便不通並不禁論</h2>
<p>溲溺不通。匪細故也。小腹急痛。狀如復碗。奔迫難禁。期朝不通。便令人嘔。名曰關格。又日不通而斃矣。今人一見此證。除用五苓散之外。束手待斃。若鹽熨丹田。螻蛄田螺罨臍之法。抑末也。</p>
<p>若津液偏滲於腸胃。大便泄瀉。而小便不通者。宜五苓分利之。若水停心下。不能下輸膀胱者。亦用五苓滲泄之。若六腑客熱。轉於下焦而不通者。用益元散以清之。若氣迫閉塞。升降不通者。宜升麻以提之。或探吐之。譬如水注之氣。上竅開而下竅通也。</p>
<p>經曰。膀胱者。州都之官。津液藏焉。氣化則能出矣。又曰。三焦者決瀆之官。水液出焉。可見膀胱但能藏水。必待三焦之氣化。方能出水。有服附子熱藥太過。消盡肺陰。氣所不化。用黃連解毒而通者。有用茯芩陳皮甘草湯。送下木香沉香末而通者。此皆氣化之驗也。以上治法。皆有餘之證。謂膀胱中原有水。或為熱結。或氣閉。有水可通而通之也。至於不足之證。乃虛勞汗多。五內枯燥。脂腴既去。不能生津。膀胱中原無水積而欲通之。如向乞人而求食。已窮而益窮矣。故東垣分在氣在血而治之。以渴與不渴辨之。如渴而小便不利。此屬上焦氣分。水生於金。肺熱則是清化之源絕矣。當於肺之分助其秋令。水自生焉。如天令至秋。白露降。須用清金之藥。如生脈散之類為當。又有脾虛者。蓋因飲食失節。傷其胃氣。陷於下焦。經所謂脾胃一虛。令人九竅不通。用補中益氣湯。以參耆甘溫之品。先調其胃氣。以升柴從九原之下而提之。則清升而濁自降矣。清肺者。隔二之治也。補脾者。隔三之治也。東垣虛則補母之妙用。類如此。此皆滋後天之化源者。如不渴而小便不利。此屬下焦血分。下焦者。腎與膀胱也。乃陰中之陰。陰受熱。閉塞其下流。經曰。無陽則陰無以生。無陰則陽無以化。若淡滲之藥。乃陽中之陰。非純陰之劑。陽何以化。須用滋腎丸。此氣味俱陰。乃陰中之陰也。東垣先生治一人目睛突出。腹脹如鼓。膝以上堅硬。皮膚欲裂。飲食不下。便秘急危者。精思半夜而得之。投之即愈。此是陰虛。陽無以化也。蓋至於真陽真陰虛者。東垣未之論。如有真陰虛者。惟六味地黃以補腎水。滋腎丸又所當禁。黃柏知母恐其苦寒泄水。又忌淡味滲泄之藥。有真陽虛者。須八味丸。褚氏云。陰已萎而思色以降其精。則精不出而內敗。小便道澀如淋。精已耗而復竭之。則大小便道牽痛。愈痛則愈便。愈便則愈痛。戴氏云。有似淋非淋。便中有如鼻涕之狀。此乃精溺俱出。精塞溺道。故欲出不能而痛。宜大菟絲子丸鹿茸丸。戴氏亦得褚氏之法也。若至於轉筋喘急欲死。不問男女孕婦產後。急用八味丸料煎飲。緩則不救。或疑桂附辛熱。不敢輕用。豈知腎氣虛寒。水寒水凍之義。得熱則流通。舍此更有何物。能直達膀胱。而使雪消春水來耶。</p>
<p>丹溪治一老人患小便不利。因服分利之藥太過。遂致秘塞。點滴不出。予以其胃氣下陷。用補中益氣湯。一服而通。因先多用利藥。損其腎氣。遂致通後。遺尿一夜不止。急補其腎然後已。凡醫之治是證者。未有不用泄利之劑。誰能顧其腎氣之虛哉。予特表之。以為世戒。</p>
<p>後若有善法丹溪者。已明知其肺虛矣。乃以補中益氣湯。送腎氣丸。豈不上下相須。子母相益耶。靈樞言手太陰之別。名曰列缺。其病虛則欠缺。小便遺數。肺為上焦。通調水道。下輸膀胱。腎又上連肺。故將兩藏。是子母也。母虛子亦虛。自然之理。東垣云。小便遺失。肺金虛也。宜安臥養氣禁勞役。以黃耆人參之類大補之。不愈當責之腎。經曰。膀胱不約為遺尿。仲景云。下焦竭則遺溺失便。又云。下焦不歸。則遺溲。蓋下焦在膀胱上口。主分別清濁溲小便。下焦不歸其部。不能約制溲便。故遺溺。大抵天暖衣厚則多汗。天冷衣薄則多溺。多溺者寒也。至於不禁。虛寒之甚。非八味丸不效。古方如菟絲子丸。鹿茸散。二氣丹。俱可選用。戴氏云。睡著遺尿者。此亦下元冷小便無禁而然。宜大菟絲子丸。豬胞炙碎煎湯下。凡遺尿皆屬虛。劉河間謂熱甚。客於腎部。干於足厥陰之經。廷孔鬱結。甚而氣血不能宣通。則痿痹。神無所用。故津液滲入膀胱。而旋溺遺失。不能收禁也。即內經淫氣遺溺。痹聚在腎。此係熱證。不可不知。考之薛按。有因勞發熱作渴。小便自遺。或時閉澀。余作肝火血虛。陰挺不能約制。午前補中益氣湯。加山藥山茱。午後六味丸。月餘悉退。</p>
<p>大抵不禁之病。虛寒多而實熱少。倘以虛證誤投瀉火。頃刻危殆。慎之慎之。</p>

<h2>夢遺並滑精論</h2>
<p>治以腎肝為主。經曰。陰陽之要。陽密乃固。陽強不能密。陰氣乃絕。陰平陽秘。精神乃治。陰陽離決。精氣乃絕。夫所謂陽強者。乃肝腎所寄之相火強也。所謂陰絕者。乃腎中所藏之真陰絕也。腎為陰。主藏精。肝為陽。主疏泄。是故腎之陰虛。則精不藏。肝之陽強。則火不秘。以不秘之火。加臨不藏之精。除不夢。夢即泄矣。或問曰。何故不為他夢。而偏多淫夢耶。曰靈樞經淫邪發夢篇云。厥氣客於陰器。則夢接內。蓋陰器者。泄精之竅。主宗筋。足太陰陽明少陰厥陰之筋。與夫衝任督三脈之所會。諸筋皆結聚於陰器。而其中有相火寄焉。凡平人入房。而強於作用者。皆此相火充其力也。若不接內。不與陰氣合。則精不泄。一接內。與陰相合。則三焦上下內外之火。翕然而下從。百體玄府悉開。其滋生之精。盡趨於陰器以泄。而腎不藏矣。若其人元精堅固者。淫氣不能搖。久戰而尚不泄。況於夢乎。縱相火動而成宵夢。夢亦不遺。此謂陰平陽秘。無病人也。今人先天稟賦原虛。兼之色欲過度。以致腎陰衰憊。陰虛則相火動。相火之系。上繫於心為君火。感物而動。動則相火翕然而隨。雖不交會。而精已離其位。即客於陰器間矣。夜臥時。當所寄之相火一遇。與接內時與陰氣相合同。故臥而即夢。夢而即遺也。若腎不虛。則無復是夢。夢亦不遺矣。故治是證者。先以腎肝為主。或問曰。陰虛火動而夢遺。服丹溪補陰丸。以滋陰降火。則證與藥相對。每依法服之。而不效何也。曰。此未得丹溪滋陰之本意也。蓋丹溪心法第一方。原以腎氣丸為滋陰之要藥也。今人不會其意。以黃柏知母為君。概用坎離丸固本之類。凡此俱是沉寒瀉火之劑。苦寒極能瀉水。腎有補而無瀉。焉能有裨於陰哉。獨薛立齋發明丹溪之所未發。專用六味地黃以補腎。而治夢遺屢效。縱有相火。水能滋木。水升而木火自息矣。倘有脾胃不足。濕熱下流者。以前丸為主。煎服補中益氣湯以升提之。有用心過度。心不能主令。而相火代事者。亦以前丸為主。而兼用歸脾湯。有命門火衰。元精脫陷。玉關不閉者。急用八味丸。或用金鎖正元丹。以壯真陽。使之涵乎陰精而不泄。此其大略也。</p>
<p><u>歸脾湯</u></p>
<p>人參　茯神　黃耆　白朮　龍眼肉　酸棗仁（炒研各二錢半）　木香　炙甘草（各五分）　用水二鍾。生薑二錢。大紅棗一枚。煎一鍾服。薛新甫加當歸遠志。各一錢。亦妙。</p>
<p>昔趙以德云。予治鄭魯叔二十餘歲。攻舉子業。四鼓猶不臥。遂成此病。臥間玉莖但著被與腿。便夢交接脫精。惟懸空不著則不夢。飲食日減。倦怠少氣。此用心太過。二火俱起。夜不得睡。血不歸肝。腎水不足。火乘陰虛。入客下焦。鼓其精房。則精不得聚藏而欲走。因玉莖著物。猶厥氣客之。故作接內之夢。於是上補心安神。中調脾胃升其陽。下用益精生陰固陽之劑。近三月乃痊。</p>
<p>昔吳茭山有治遺精得法論治。一男子。因病後用心過度。遂夢遺多痰瘦削。諸醫以清心蓮子飲。久服無效。吳診其脈緊澀。知冷藥利水之劑太過。致使腎氣獨降。服此愈劇矣。隨用升提之法。升坎水而濟離火。降陽氣而滋陰血。次用鹿角膠人乳填補精血。逾月全愈。因思夢遺多端。難作一途施治。有因用心積熱而泄者。有因多服門冬茯苓車前知母黃柏冷利之藥而泄者。有久泄玉門不閉而泄者。治療之法。積熱者。當清心降火。冷利者。溫補下元。腎氣獨降者。當升提。使水火交而坎離定位。</p>
<p>上二案。皆以腎為主。而兼治心脾者也。獨有一等。腎不虛而肝經濕熱火旺者。莖中作痛。筋急縮。或作癢。或腫。或挺縱不收。白物如精。隨溺而下。此筋疝也。宜用龍膽瀉肝湯。張子和曰。遺溺閉癃陰痿脬腫精滑白淫。皆男子之疝也。若血涸不月。月罷腰膝上熱。足躄嗌乾癃閉。而小腹有塊。或定或移。前陰突出。後陰痔漏。此女子之疝也。惟女子不曰疝而曰瘕。</p>

<h1>卷之六·後天要論</h1>

<h2>補中益氣湯論</h2>
<p><u>補中益氣湯</u></p>
<p>黃耆（一錢）　當歸　人參　炙甘草　陳皮　升麻　柴胡　白朮</p>
<p>此方東垣所制。治內傷之方。古方只有黃耆一錢。其餘各三分。薛立齋常用參耆各錢半。白朮一錢。當歸一錢。陳皮七分。升柴各五分。進退加減。神應無窮。如病甚者。參耆或三錢五錢。隨證加用。凡脾胃喜甘而惡苦。喜補而惡攻。喜溫而惡寒。喜通而惡滯。喜升而惡降。喜燥而惡濕。此方得之。</p>
<p>或問曰。古今稱補中益氣湯。為萬世無窮之利。其義云何。曰此發前人之所未發。繼仲景河間而立。意義深遠也。世人一見發熱。便以外感風寒暑濕之邪。非發散邪從何處解。又不能的見風寒暑濕對證施治。乃通用解表之劑。如九味羌活湯敗毒散十神湯之類。甚則涼膈白虎。雜然並進。因而致斃者多矣。東垣深痛其害。創立此方。以為邪之所湊。其氣必虛。內傷者多。外感者間有之。縱有外邪。亦是乘虛而入。但補其中益其氣。而邪自退聽。不必攻邪。攻則虛者愈虛。而危亡隨其後矣。倘有外感。而內傷不甚者。即於本方中。酌加對證之藥。而外邪自退。所謂仁義之師。無敵於天下也。至於飲食失節。勞役過度。胃中陽氣自虛。下陷於陰中而發熱者。此陽虛自病。誤作外感而發散之。益虛其虛矣。為害豈淺哉。又有一種內傷真陰而發熱者。與內傷陽氣相似。此當補真陰。非四物湯之謂。又非坎離丸之類。詳見先天要論中者。心肺在上。腎肝在下。脾胃處於中州。為四臟之主氣者。中焦無形之氣。所以蒸腐水穀。升降出入。乃先天之氣。又為脾胃之主。後天脾土。非得先天之氣不行。是方蓋為此氣因勞。而下陷於腎肝。清氣不升。濁氣不降。故用升麻使由右腋而上。用柴胡使由左腋而上。非借參耆之功。則升提無力。是方所以補益後天中之先天也。</p>
<p>或問曰。余見先生動輒以先天后天立論。余考之易中先天后天之圖。乾南坤北離東坎西等卦位。於醫道中甚無所合。而先生屢言之不已。其義云何。曰怪乎子之問也。余所謂先天者。指一點無形之火氣也。後天者。指有形之體。自臟腑及血肉皮膚。與夫涕唾津液。皆是也。既曰先天。此時天尚未生。何況有乾南坤北八卦對待之圖乎。曰。然則伏羲此圖。何為而設也。余曰。此非先天之圖。乃中天八卦之圖。天位乎上。地位乎下。日出乎東。水源於西。風雨在天上。山雷在地下。人與萬物位乎中。余嘗見邵子排列如此。有中天八卦數。其當今所用者。止一文王后天圖。出乎震。齊乎巽。相見乎離。致役乎坤。悅言乎兌。戰乎乾。勞乎坎。成乎艮。以春秋晝夜十二時相配。因以定陰陽。決生死。推而天文地理星相醫卜。無一不以此圖為則。至於先天者。無形可見。即易中帝出乎震之帝。神也者妙萬物而為言之神是也。帝與神。即余先天要論中所稱真君真主。本系無形。不得已而強立此名。以為主宰先天之體。以為流行後天之用。東垣先生獨會其宗。而於補中益氣方中。用柴胡升麻者。正以升發先天之氣。於脾土之中。真萬世無窮之利。余所以諄諄為言也。蓋人身以脾胃為主。人皆知之。而先天隱於無形者。舉世置而弗論。故余既立先天要論矣。後於後天論中。發明東垣脾胃論。亦用先天無形者為主。讀脾胃論者。讀至人受水穀之氣以生。所謂清氣營氣衛氣元氣穀氣春升之氣。皆胃氣之別名。則可見矣。飲食入胃。猶水穀在釜中。非火不熟。脾能化食。全借少陽相火之無形者。在下焦蒸腐。始能運化也。此時若用寒涼之藥。飲食亦不運化矣。蓋脾胃中之火。土中之火。納音所謂爐中火。養爐中火者。須頻加煤炭。蓋以熱灰溫養其火。而火氣自存。一經寒水。便成死灰。將以何者蒸腐水穀。以何者接引燈燭。舉目皆地獄光景。可不戒哉。經曰。勞者溫之。損者溫之。正取溫養之義也。</p>
<p>東垣曰。岐伯曰有所勞倦。形氣衰少。穀氣不盛。上焦不行。下脘不通。而胃氣熱。熱氣熏胸中故內熱。舉痛論云。勞則氣耗。勞則喘且汗出。內外皆越。故氣耗。夫喜怒不節。起居不時。有所勞傷。皆損其氣。氣衰則火旺。火旺則乘其脾土。脾主四肢。故困熱無氣以動。懶於語言。動作喘乏。表熱自汗。心煩不安。當病之時。宜安心靜坐。以養其氣。以甘寒瀉其熱火。以酸味收其散氣。以甘溫補其中氣。經言勞者溫之。損者溫之是也。金匱要略云。平人脈大為勞。脈極虛亦為勞。夫勞之為病。其脈大。手足煩熱。春夏劇。秋冬瘥。以黃耆建中湯治之。此亦溫之之意也。蓋人受水穀之氣以生。所謂清氣營氣元氣衛氣春升之氣。皆胃氣之別名也。夫胃氣為水穀之海。飲食入胃。遊溢精氣。上輸於脾。脾氣散精。上歸於肺。通調水道。下輸膀胱。水精四布。五經並行。合於四時。五臟陰陽。揆度以為常也。若飲食失節。寒溫不適。脾胃乃傷。喜怒憂恐。損耗元氣。脾胃氣衰。元氣不足。而火獨盛。火者陰火也。起於下焦。元氣之賊也。壯火食氣。少火生氣。火與元氣不兩立。一勝則一負。脾胃氣虛。則下流肝腎。名曰重強。陰火得以乘其土位。故脾證始得。則氣高而喘。身熱而煩。其脈洪大而頭痛。或渴不止。其皮膚不任風寒。而生寒熱。蓋脾胃之氣下流。使穀氣不得升浮。是春生之令不行。則無陽以護其榮衛。遂不任風寒。而生寒熱。此皆脾胃之氣不足所致也。然與外感風寒之證。頗同而實異。內傷脾胃。乃傷其氣。外感風寒。乃傷其形。傷其外則有餘。有餘者瀉之。傷其內則不足。不足者補之。汗之下之吐之克之之類。皆瀉也。溫之和之調之養之之類。皆補也。內傷不足之病。苟誤認作外感有餘之證。而反瀉之。則虛其虛也。實實虛虛如此死者。醫殺之耳。然則奈何。唯當以辛甘溫劑補其中。而升其陽則愈矣。經曰。勞者溫之。損者溫之。又曰。溫能除大熱。大忌苦寒之藥。損其脾胃。今立補中益氣湯主之。夫因飢飽勞役。損傷脾胃。或專因飲食不調。或專因勞力過度。或飢飽之後。加之勞力。或勞力之後。加之飢飽。皆為內傷。脾胃一虛。肺氣先絕。故用黃耆以益皮毛而閉腠理。不令自汗。損其元氣。上喘氣短。人參以補之。心火乘脾。須炙甘草之甘。以瀉大熱。而補脾胃中元氣。若脾胃急痛。並大虛腹中急縮者。宜多用之。經曰。急者緩之。白朮苦甘溫。除胃中熱。利腰臍間血。胃中清氣在下。必加升麻柴胡以引之。引黃耆甘草甘溫之氣味上升。能補衛氣之散解而實其表也。又緩帶脈之縮急。二味皆苦平。味之薄者。陰中之陽。引胃中清氣升於陽道。及諸經生髮之氣。以滋春氣之和也。氣亂於胸中。為清濁相干。用去白陳皮以理之。清升而濁自降矣。胃氣虛不能升浮。為陰火傷其生髮之氣。榮血大虧。榮氣不營。陰火熾起。日漸熬煎。血氣日減。心主血。減則心無所養。致使心亂而煩。故以當歸和之。如煩猶未止。加服地黃丸。以補腎水。水旺而心火自降。以手捫之。而肌表熱者。表證也。只服補中益氣湯一二服。得微汗則已。非止發汗。乃陰陽氣和。自然汗出也。</p>
<p>如精神短少。倍加人參五味子。如頭痛。加蔓荊子。如頭痛有痰沉重。乃太陰痰厥頭痛。加半夏天麻。如腹中痛者。加白芍藥。如惡寒冷痛。更加桂心。如惡熱喜寒熱痛。更加黃連。如腹中痛惡寒。而脈弦者。是木來剋土也。小建中湯主之。蓋芍藥味酸。於土中瀉木為君。如脈沉細腹痛。以理中湯主之。乾薑葉熱。於土中瀉水。以為主也。</p>
<p>臍下痛者。加熟地黃。如不已。乃大寒也。更加肉桂。凡小腹痛。多屬腎氣奔豚。惟桂泄奔豚。故加之。如脅痛。或脅下縮急。俱加柴胡芍藥。如體重肢節痛。或腹脹自利。脈來濡緩者。濕勝也。加蒼朮厚朴主之。如風濕相搏。一身盡痛。加羌活防風藁本。別作一服。病去勿再服。以諸風藥損人元氣也。</p>
<p>如冬月惡寒發熱無汗。脈浮而緊。本方加麻黃桂枝。（如麻黃五分用參耆各一錢。）如冬月惡風發熱有汗。脈浮而緩。加桂枝芍藥。傷寒必惡寒。傷風必惡風。傷食必惡食。傷寒惡寒。烈火不能熱。重綿不能溫。內傷者。得就暖處。著綿溫火。便不惡矣。內傷飲食。口不知味。不思飲食。傷寒者。雖不能食。未嘗不知味也。勞力內傷者。身體沉重。四肢困倦。百節煩疼。心滿氣短。懶於言語。若傷寒者。太陽則頭痛。少陽則脅痛。陽明則目痛。不若內傷之怠惰嗜臥也。傷寒發熱。拂拂如羽毛之熱。熱在皮毛。內傷者。肌體壯熱。捫之烙手。右手氣口脈大於左手人迎三倍。其氣口脈急大而數。時一代而澀。澀是肺之本脈。代是氣不相接。乃脾胃不足之脈。大是洪大。洪大而數。乃心脈刑肺。急是弦急。乃肝木挾心火克肺金也。其右關脈屬脾。比五脈獨大而數。數中時顯一代。此不甚勞役。是飲食不時。寒溫失所。胃脈損弱。隱而不見。惟內顯脾脈如此。若外傷。人迎脈大於氣口也。</p>
<p>東垣以手捫熱。有三法。以輕手捫之則熱。重按之則不熱。是熱在皮毛血脈也。重按筋骨之間則熱蒸手。輕摸之則不熱。是熱在骨髓也。輕手捫之不熱。重手按之亦不熱。不輕不重按之而熱者。是熱在筋骨之上。皮毛血肉之下。乃熱在肌肉。肌肉間熱者。正內傷勞倦之熱也。若余於內傷真陰者。以手捫熱。亦有二。捫之烙手骨中如炙者。腎中之真陰虛也。捫之烙手。按之筋骨之下。反覺寒者。腎中真陽虛也。面必赤者。陰盛於下。逼陽於上也。口必渴者。腎水乾枯。引水自救也。若口吐痰多。如清水者。腎水泛上為痰。口必不渴也。口咯痰如沫者。水沸為痰。陰火熬煎。口必渴也。腰脅痛者。腎肝虛也。足心如烙者。湧泉涸竭也。膝以下冷者。命門衰絕。上氣必喘也。尺脈必數者。陰火旺也。尺脈數而無力。或欲絕者。真陽衰也。骨痛如折者。腎主骨。骨衰乘火也。此陽虛陰虛之辨。而陰虛之中。又有真陰真陽之不同。其治法詳於先天論中。</p>
<p>或問曰。丹溪云東南之人。陽氣易以升。不可服補中益氣湯。當今江以南之人。果盡不當服乎。曰此東南指人之臟腑而言也。蓋東方屬肝。南方屬心。肝與心有火者。不可服。恐木火愈旺也。若黃帝起四方之問。岐伯有四治之能。此東南西北方指地位也。既不可服東南二方之劑。其人上盛者。必下虛。其腎氣大虛矣。急須填補北方先天之元氣為要。總而言之。先天后天不得截然兩分。上焦元陽不足者。下陷於腎中也。當取之至陰之下。下焦真陰不足者。飛越於上部也。焉可不引而歸原耶。是以補中益氣湯。與腎氣丸並用。朝服補陽。暮服補陰。互相培養。但先後輕重之分。明者知之。不必詳述。</p>
<p>或問腎氣丸中。以地黃為君。恐其泥膈。或於脾胃有妨乎。曰腎氣丸中。盡是腎經的藥。並無一味脾胃藥雜其中。徑入腎經。焉能泥膈。凡用藥須要分得陰陽水火清淨。如朝廷有六部。一部有一部之事。一部有一部用事之人。今欲輸納錢糧。而可與天曹用事之人同議乎。曰若如所言。予正謂腎經水部。不可與脾經戶部相雜之謂耳。曰余所謂不雜者。謂腎水藥中。不可雜脾土藥。脾胃藥中。不得雜腎經藥。如四君子湯。脾經藥也。雜地黃其中。則泥膈矣。八味地黃丸。腎經藥也。加人參則雜矣。若論腎與脾胃。水土原是一氣。人但知土之為地。而不知土亦水也。自天一生水。而水之凝成處。始為土。土之堅者為石。此後天卦位坎之後。繼之艮。艮為山為土。艮土者。先天之土。水中之主也。土無定位。隨母寄生。隨母而補。故欲補太陰脾土。先補腎中少陽相火。若水穀在釜中。非釜底有火則不熟。補腎者。補腎中火也。須用八味丸。醫不達此。而日從事於人參白朮。非探本之術。蓋土之本初原是水也。世謂補腎不如補脾。余謂補脾不如補腎。</p>

<h2>傷飲食論</h2>
<p>陰陽應象論云。水穀之寒熱。感則害人六腑。是飲食之傷。傷於寒熱也。痹論云。飲食自倍。腸胃乃傷。是飲食之傷。自傷於飢飽也。古人治法。分上中下三等而治之。在上者因而越之。瓜蒂散之類主之。中者消化。神麯麥芽山楂三稜廣朮之類主之。在下者引而竭之。硝黃巴豆牽牛甘遂之類主之。古人又分寒熱而治之。傷熱物者。以寒藥治之。傷寒物者。以熱藥治之。如傷冷物二分。熱物一分。則用熱藥二停。寒藥一停。若備急丸是也。予意當隨證加減。大抵飲食之病。傷寒物一邊居多。以上法門。未必可為典要也。</p>
<p>當今方家。以平胃散為主。出入增減。亦可為脾胃之準繩。平胃者。胃中有高阜。則使平之。一平即止。不可過劑。過劑則平地反成坎矣。今人以平胃散。為常服補劑者。誤也。不若枳朮丸為勝。夫枳朮丸。乃潔古老人所制。用枳實一兩。白朮二兩。補藥多於消藥。先補而後消。以荷葉裹飯。燒熟為丸。蓋取荷葉色青。得震卦之體。有仰盂之象。中空而清氣上升。燒飯為丸。以助穀氣。謂潔古枳朮一方。啟東垣末年之悟。補中益氣。自此始也。但潔古專為有傷食者設。今人以此丸為補脾藥。朝服暮餌。更有益之橘半番砂者。則又甚矣。吾恐枳實一味。有推牆倒壁之功。而人之腸胃中。既已有傷。牆壁不固。能經幾番推倒乎。</p>
<p>至若山楂神麯麥芽三味。舉世所常用者。余獨永棄。蓋山楂能化肉積。凡年久母豬肉。煮不熟者。入山楂一撮。皮肉盡爛。又產婦兒枕痛者。用山楂二十粒。砂糖水煎一碗服之。兒枕立化。可見其破氣又破血。不可輕用。曲糵者。以米與水在瓷缸中。必借曲以釀成酒。必借糵以釀成糖。脾胃在人身。非瓷缸比。原有化食之能。今食不化者。其所能者病也。只補助其能而食自化。何必用此消克之藥哉。大凡元氣完固之人。多食不傷。過時不飢。若夫先因本氣不足。致令飲食有傷矣。前藥一用。飲食雖消。但脾既已受傷。而復經此一番消化。愈虛其虛。明後日食復不化。猶謂前藥已效。藥力欠多。湯丸並進。展轉相害。羸瘦日增。良可悲哉。余痛此弊。因申言之。凡太平丸保和丸肥兒丸之類。其名雖美。俱不敢用。蓋名之美者。其藥必惡。故以美名加之。以欺人耳目。非大方家可用也。故醫有貪賤之醫。有富貴之醫。膏粱之子弟。與藜藿之民不同。太平之民。與瘡痍之民不同。鄉村閭巷頑夫壯士。暴有所傷。一服可愈。若膏粱子弟。稟受虛弱。奉養柔脆。概以此術施之。貽害不小。夫有醫術。有醫道。術可暫行一時。道則流芳千古。有古方。有今方。有聖方。有俗方。余以為今人不如古人。不敢自立一方。若脾胃惟東垣為聖。擇而用之。以調中益氣補中益氣二方。因人增減。真知其寒物傷也。本方中加熱藥。如薑桂之類。熱物傷也。加黃連之類。真知有肉食傷也。加山楂數粒。酒食傷也。加葛花一味。隨證調理。此東垣之法。方士之繩墨也。然以寒治熱而熱不去。以熱治寒而寒不除。奈之何。經曰。寒之不寒。是無水也。熱之不熱。是無火也。壯水之主。益火之原。此東垣之未及也。</p>
<p>如有食填太陰。名曰食厥者。上部有脈。下部無脈。不治則死。急以陰陽鹽湯。探吐其物即愈。如有食積。腸腹絞痛。手不可按者。不得不下。審知其為寒積。必用巴豆感應丸。審知其為熱積。必用大黃承氣湯。下之不當。死生立判。慎之哉。</p>
<p>昔張子和動輒言下。蓋下之當也。仲景三承氣。審之詳密。可下不可下急下。分毫不爽。如下血積。必用桃仁紅花。下水必用牽牛甘遂。下水中之血。必用虻蟲水蛭。今人畏而不敢下者。不明之罪小。無忌而妄用者。殺人之罪大。醫司人命。豈易言哉。</p>
<p>何柏齋云。造化生物。天地水火而已。主之者天。成之者地也。故曰乾知大始。坤作成物。至於天地交合變化之用。則水火二氣也。天運水火乾地之中。則物生矣。然水火不可偏盛。太旱物不生。火偏盛也。太澇物亦不生。水偏盛也。水火和平而物生。自然之理。人之臟腑。以脾胃為主。蓋飲食入於胃。而運以脾。猶地之土也。然脾胃能化物。實由於水火二氣。非脾所能也。火盛則脾胃燥。水盛則脾胃濕。皆不能化物。乃生諸病。制其偏而使之平。則治之之法也。</p>
<p>愚按制其偏而使之平一句。甚好。所謂制者。非去水去火之謂。人身水火。原自均平。偏者病也。火偏多者。補水配火。不必去火。水偏多者。補火配水。不必去水。譬之天平。此重則彼輕。一邊重者。只補足輕之一邊。決不鑿去馬子。蓋馬子一定之數。今人慾瀉水降火者。鑿馬子者也。</p>
<p>余於脾胃。分別陰陽水火而調之。如不思飲食。此屬陽明胃土受病。須補少陰心火。歸脾湯補心火。以生胃土也。能食不化。此屬太陰脾土。須補少陽相火。八味丸補相火。以生脾土也。無非欲人培養一點先天之火氣。以補土之母耳。若理中湯用乾薑。所以制土中之水也。建中湯用芍藥。所以制土中之木也。黃耆湯所以益土之子。使不食母之食也。六味丸所以壯水之主也。八味丸所以益火之原也。土無定位。寄旺於四時。無專能。代天以成化。故於四臟中兼用之。總之以補為主。不用克伐。脾氣下陷。補中益氣。肝木乘脾。加左金丸。鬱怒傷脾。歸脾湯。脾虛不能攝痰。六君子湯。脾腎兩虛。四君四神。陰火乘脾。六味丸。命門火衰。不生脾土。八味丸。先天之氣足。而後天之氣不足者。補中氣為主。後天足而先天不足者。補元氣為主。或曰。正當胸膈飽悶之時。數日粒米不下。陳皮枳殼木香烏藥。日夜吞嚥。尚且不通。復可補乎。曰此正因初先不知補益。擅用發散。克伐太過。虛痞之病也。經曰。下焦虛乏。中焦痞滿。欲治其虛。則中滿愈甚。欲消其痞。則下焦愈乏。庸醫值此。難以措手。疏啟其中。峻補於下。少用則邪壅於上。多用則峻補於下。所謂塞因塞用者也。善用者能以人參一兩。或七八錢。少加升麻一錢。大劑一服即愈。此內經之妙用。不可不知也。</p>
<p>東垣云。酒者大熱有毒。氣味俱陽。乃無形之物也。若傷之。止當發散。汗出則愈矣。其次莫如利小便。乃上下分消其濕。今之病酒者。往往服酒症丸大熱之藥下之。又有牽牛大黃下之者。是無形元氣受病。反下有形陰血。乖誤甚矣。酒性大熱。已傷元氣。而復重瀉之。又損腎水真陰。及有形血氣。俱為不足。如此則陰血愈虛。真水愈弱。陽毒之熱大旺。反增其陰火。是元氣消鑠。折人長命。不然則虛損之病成矣。宜以葛花解酲湯主之。</p>
<p><u>葛花解酲方</u></p>
<p>青皮（去瓤三錢）　木香（五分）　橘紅　人參　茯苓（各一錢五分）　豬苓（一錢五分）　白豆蔻（五分）　葛花（五分）　砂仁（五分）　澤瀉（一錢）　白朮（二錢）　乾薑（一錢）　神麯（一錢）　上為細末。每服（三錢）。白湯調下。得微汗則病去。此東垣原方。宜加減用。</p>

<h2>中暑傷暑論</h2>
<p>中暑者。面垢自汗口燥。悶倒昏不知人。背冷手足微冷。或吐或瀉或喘或滿是也。當是時。切勿便與冷水。或臥冷地。如行路暍死者。即置日中熱地上。以小便溺熱土上。取熱土罨病人臍上。急以二氣丹同蘇合香丸。湯調灌下。如無二氣丹。研蒜水灌之亦可。蓋中傷暑毒。外陽內陰。諸暑藥多用暖劑。如大順散之用薑桂。枇杷葉散之用丁香。蒜亦辛熱之物。又蒜氣臭烈。能通諸竅也。</p>
<p>東垣分陰陽動靜而治之。</p>
<p>靜而得之者。為陰證。或深堂水閣。過處涼室。以傷其外。或浮瓜沉李。過食生冷。以傷其內。所謂因暑而傷暑者也。其病必頭痛惡寒。肢節疼痛而煩心。肌膚大熱無汗。腹痛吐瀉。為房室冷物之陰寒所遏。使周身陽氣不得伸越。以大順散主之。</p>
<p>動而得之者。為陽證。或行人或農夫。於日中勞役得之。為熱傷元氣。其病必苦頭疼發燥惡熱。捫之肌膚大熱。必大渴引飲。汗大泄齒燥。無氣以動。乃為暑傷氣。蒼朮白虎主之。若人元氣不足。用前藥不應。惟清暑益氣湯。或補中益氣湯為當。大抵夏月陽氣浮於外。陰氣伏於內。若人飲食勞倦。內傷中氣。或酷暑勞役。外傷陽氣者多患之。法當調補元氣為主。而佐以解暑。若陰寒之證。用大順散桂附大辛熱之藥。此內經舍時從證之良法。不可不知。今人患暑證歿而手足指甲或肢體青黯。此皆不究其因。不溫其內。而泛用香薷飲之類所誤也。夫香薷飲。乃散陽氣導真陰之劑也。須審有是證而服之。斯為對證。今人平日間恐患暑病。而先服此以預防。適所以招暑也。若人元氣素虛。或房勞過度而飲之者。為禍尤不淺。若欲預防。惟孫真人生脈散。為夏令最宜。</p>
<p>暑乃六氣中之一。即天上火。惟此火可以寒水折之。非比爐中火與龍雷火也。凡傷暑腹痛吐瀉交作者。一味冷井水。加清蒿汁飲之立愈。暑毒從小便中泄矣。名曰臭靈丹。</p>
<p>暑喜傷心。心屬南方火。從其類也。小腸為心之府。利心經暑毒。使由小腸出。故青蒿香薷為要。</p>
<p>有因傷暑。遂極飲冷水。或醫者過投冷劑。致吐利不止。外熱內寒。煩躁多渴。甚欲裸形。狀如傷寒。此陰盛格寒。宜用溫藥。香薷次中加附子。浸冷服。</p>
<p>又有因冒暑。吐極胃虛。百藥不入。粒米不下。入口即吐。病甚危篤。急用人參一錢。黃連五分。薑汁炒焦。糯米一撮。水一鍾。煎一小酒盞。候冷用茶匙徐徐潤下。少頃再入一匙。得入數匙不吐。盡一小盞。便可投藥食矣。</p>
<p>暑病與熱病相似。但熱病脈盛。暑病脈虛為辨耳。</p>
<p><u>二氣丹</u>　治伏暑傷冷。二氣交錯。中脘痞結。或吐或瀉。</p>
<p>硝石　硫黃（各等分）　上為細末。石器內火炒令黃色。再研。用糯米丸如梧桐子大。每服四十丸。</p>
<p><u>大順散</u>　治冒暑伏熱。引飲過多。脾胃受濕。水穀不分。霍亂嘔吐。臟腑不調。</p>
<p>甘草（三兩）　乾薑　杏仁　肉桂（四兩）　上先將甘草炒八分黃色。次入乾薑同炒。令姜裂。次入杏仁同炒。令杏仁不作聲為度。用篩篩淨後。同作一處搗羅。每服二錢。水一鍾。煎七分溫服。如煩躁。井花水調服。不拘時。</p>
<p><u>香薷飲</u>　治伏暑引飲。口燥咽乾。或吐或瀉。並皆治之。</p>
<p>香薷（半斤）　白扁豆（炒四兩）　厚朴（薑汁炒四兩）　黃連（薑汁炒二兩）　</p>
<p>上㕮咀。每服三錢。水一鍾。入酒少許。煎七分溫服。</p>
<p><u>十味香薷飲</u>　消暑氣。和脾胃。</p>
<p>香薷（一兩）　人參　陳皮　白朮　茯苓　黃耆　白扁豆　木瓜　厚朴（薑汁炒）　甘草（炙）　以上各半兩。上為細末。每服三錢。冷水調下。</p>
<p><u>清暑益氣湯</u></p>
<p>黃耆（一錢）　蒼朮（錢半）　升麻（一錢）　人參　白朮　陳皮　神麯　澤瀉（各五分）　甘草　黃柏　葛根　青皮　當歸　麥門冬（各三分）　五味子（九粒）　水二鍾。煎至一鍾。</p>
<p>內經曰。陽氣者。衛外而為固也。熱則氣泄。今暑邪干衛。故身熱自汗。以黃耆甘溫補之為君。人參陳皮當歸甘草。微溫補中益氣為臣。蒼朮白朮澤瀉。滲利而除濕。升麻葛根苦甘平。善解肌熱。又以風勝濕也。熱則食不消。而作痞滿。故以炒曲甘辛。青皮辛溫。消食快氣。腎惡燥。急食辛以潤之。故以黃柏苦寒。借其氣味。瀉熱補水。虛者滋其化源。故以麥門冬五味子酸甘微寒。救天暑之傷庚金為佐。此病皆由飲食勞倦。傷其元氣。乘天暑而發也。元氣不虛。暑邪從何處而入哉。</p>
<p>一小兒患嘔吐瀉利。煩躁搐搦。或以為驚。或以為風。余見其口燥。手指茶壺。腹中鳴。出對諸醫曰。易治也。借藥籠中三味藥足矣。用黃連五分。甘草三分。人參五分。水煎冷服。下咽頃刻。即睡而安。或問曰。黃連甘草解毒善矣。又加人參五分。謂何。余曰若不用參。此兒當病氣弱數日。得參明後日復如無病人矣。次日果然。</p>
<p><u>白虎湯</u></p>
<p>石膏　知母　甘草　人參　糯米</p>
<p>此方是暑月熱病發熱之正方。名曰白虎者。西方之金神也。將來者進。成功者退。使秋金之令行。則火令退聽。石膏寒中之藥。淡而辛。能汗能利。必審其人有大汗而渴齒燥。其脈洪而長。時當夏月可用。若無汗不渴。脈虛而不洪長。或重按全無。雖壯熱口渴。象白虎湯證。此係脾胃氣虛。元陽不足。誤服白虎必死。又有一等大失血後。或婦人產後。壯熱喘促。面赤引飲。脈虛。名曰血虛發熱。最忌白虎。須用當歸補血湯則安。</p>
<p>夷堅甲志云。昔虞丞相自渠川被召。途中冒暑。得疾泄痢連月。蘿壁間有韻語云。暑毒在脾。濕氣連腳。不泄則痢。不痢則瘧。獨煉雄黃。蒸餅和藥。甘草作湯。服之安樂。別作治療。醫家大錯。如方制服。其疾隨愈。引此為例。余可類推。</p>

<h2>濕論</h2>
<p>有在天之濕。雨露霧是也。在天者本乎氣。故先中表之榮衛。有在地之濕。泥水是也。在地者本乎形。故先傷肌肉筋骨血脈。有飲食之濕。酒水乳酪是也。胃為水穀之海。故傷於脾胃。有汗液之濕。謂汗出沾衣。未經解換者是也。有太陰脾土所化之濕。不從外入者也。陽盛則火勝。化為濕熱。陰盛則水勝。化為寒濕。其證發熱惡寒。身重自汗。筋骨疼痛。小便秘澀。大便溏泄。腰痛不能轉側。跗腫肉如泥。按之不起。</p>
<p>經曰。因於濕首如裹。濕氣蒸於上。故頭重。又曰。濕傷筋。故大筋緛短。小筋弛長。緛短為拘。弛長為痿。又曰。濕勝則濡泄。故大便溏泄。大便泄故小便澀。又曰。濕從下受之。故跗腫。又曰。諸濕腫滿。皆屬脾土。故腹脹肉如泥。濕氣入腎。腎主水。水流濕。各從其類。故腰腎痛。</p>
<p>治法在上者當微汗。羌活勝濕湯。在下者當利小便。五苓散。夫脾者。五臟之至陰。其性惡濕。今濕氣內客於脾。故不能腐熟水穀。致清濁不分。水入腸間。虛莫能制。故濡泄。法當除濕利小便也。</p>
<p>東垣曰。治濕不利小便。非其治也。又曰。在下者引而竭之。聖人之言。雖布在方策。其不盡者。可以意求耳。夫濕淫從外而入里。若用淡滲之劑以除之。是降之又降。是復益其陰。而重竭其陽。則陽氣愈削。而精神愈短矣。是陰重強陽重衰。反助其邪之謂也。故用升陽風藥即瘥。以羌活獨活柴胡升麻各一錢。防風根半錢。炙甘草半錢。水煎熱服。大法云。濕淫所勝。助風以平之。又曰。下者舉之。得陽氣升騰而愈矣。又曰。客者除之。是因曲而為之直也。夫聖人之法。可以類推。舉一而知百也。</p>
<p>有腳氣。類傷寒。發熱惡寒。必腳脛間腫痛。俱從濕治。千金方有陰陽之分。陰腳氣。脛處腫而不紅。陽腳氣。腫而紅者是也。</p>
<p>有濕熱發黃者。當從郁治。凡濕熱之物。不鬱則不黃。禁用茵陳五苓散。凡見用五苓茵陳者。十不一生。當用逍遙散。方見郁論。</p>
<p>凡傷寒必惡寒。傷風必惡風。傷濕必惡雨。如傷濕而兼惡寒無汗。骨節疼痛者。仲景有甘草附子湯。</p>
<p><u>甘草附子湯</u></p>
<p>甘草（炙一錢）　附子（錢半）　白朮（二錢）　桂枝（四錢）　水煎。作一服。</p>
<p><u>金匱防己湯</u>　治濕勝身重陽微。中風則汗出惡風。故用黃耆炙。甘草以實表。防己白朮以勝濕。</p>
<p>防己（三錢）　甘草（錢半炙）　白朮（二錢）　黃耆（三錢半）　加生薑大棗。水煎作一服。</p>
<p><u>羌活勝濕湯</u>　通治濕證。</p>
<p>羌活　獨活　藁本　防風　甘草　川芎（各一錢）　蔓荊子（三分）如身重腰痛沉沉然。經中有寒也。加酒防己五分。附子五分。</p>
<p>有一友宦遊京師。病腿痛發熱。不能履地。眾以為腿癰。延予視之。扶掖而出見。予曰。非癰也。以補中益氣湯。加羌活防風各一錢。一服如失。次日乘馬來謝。</p>
<p>餘一日患陰丸一個腫如鴨卵。發熱。以濕熱證治之。不效。細思之。數日前從定海小船回。有濕布風帆在坐下。比上岸始覺。以意逆之。此感寒濕在腎丸也。乃用六味地黃。加柴胡吳茱萸肉桂各一錢。獨活五分。一服而熱退。再服而腫消。後有患偏墜者。此方多妙。</p>

<h2>瘧論</h2>
<p>或問曰。經云夏傷於暑。秋必病瘧。前人雖備言之。旨殊未暢。盍明示諸。曰不發於夏。而發於秋。此亢則害承乃制。子來救母之義。蓋暑令當權。君火用事。肺金必受傷克。火位之下。水氣承之。腎水為肺之子。因母受火傷。子來承之。以制火救母。於是水火相戰。陰陽交爭。大勝則大復。小勝則小復。此陰陽勝復之常理。瘧之所由作也。然而有病有不病者。蓋邪之所湊。其氣必虛。故其人元氣不固者。暑邪得以乘之。所以治瘧。以扶元氣為主。</p>
<p>發在夏至後處暑前者。此三陽受病。傷之淺者。近而暴也。發在處暑後冬至前者。此三陰受病。傷之重者。遠而深也。</p>
<p>發在子半之後午之前。是陽分受病。其病易愈。發於午後者。是陰分受病。其病難愈。</p>
<p>或問曰。有一日一發。有間日一發。有三日一發。何也。曰在陽則發早。在陰則發晏。淺則日作。深則間日。夫人榮衛之氣。一日一周。歷五臟六腑十二經絡之界分。每一界各有一舍。榮衛之有舍。猶行人之傳舍也。邪氣客於榮衛之舍。與日行之衛氣相接。則病作。離則病退。故一日一周。有止發之定期。其間日而作者。氣之舍深。內薄於陰。陽氣獨發。陰氣內著。陰與陽爭。不得出。故間日而作也。三日一作者。邪入於三陰也。作於子午卯酉日者。少陰也。寅申已亥日者。厥陰也。辰戌丑未日者。太陰也。</p>
<p>凡治瘧必先問其寒熱多寡。而參之脈證。有寒多熱少者。有熱多寒少者。大抵寒熱往來。皆屬少陽經證。治法當以小柴胡為主。若寒多者。小柴胡加桂枝。有但熱不寒者。名曰癉瘧。有但寒不熱者。名曰牝瘧。金匱云。陰氣孤絕。陽氣獨發。則熱而少氣煩冤。手足熱而欲嘔。名曰癉瘧。邪氣內藏於心肺。外舍於分肉之間。令人消爍脫肉。又云。溫瘧者。其脈如平。人身無寒但熱。骨節疼煩。時時嘔逆。以白虎加桂枝湯主之。但寒者。名曰牡瘧。蜀漆散主之。此寒熱多寡之定法也。然亦有不可執者。當察其脈之虛實何如。若但寒者。其脈或洪實或滑。當作實熱治之。若但熱者。其脈或空虛或微弱。當作虛寒治之。仲景云。瘧脈自弦。弦數者多熱。弦遲者多寒。弦小緊者可下。弦遲者可溫。弦緊者可發汗及針灸也。弦數者。風痰發也。以飲食消息止之。</p>
<p>凡瘧將發之時。與正發之際。慎勿施治。治亦無效。必待陰陽並極而退。過此邪留所客之地。然後治之。且當病未發二三時前。迎而奪之可也。</p>
<p>古今治瘧證候。有風寒暑濕不同治療。有汗吐下各異方術。無慮千百。不能盡述。獨無痰不成瘧。無食不成瘧。深得致瘧之因。無汗要有汗。散邪為主。有汗要無汗。扶正氣為主。深得治瘧之法。以青皮飲一方。治秋時正瘧。隨證加減。屢用屢效。若胃中有郁痰伏結者。以草果飲一服即愈。</p>
<p>服前方不應。當以補中益氣湯。倍柴胡加半夏生薑。養正而邪自除。薛立齋先生云。凡人久瘧。諸藥不效。以補中益氣湯加半夏。用人參一兩。煨姜五錢。此不截之截也。一服即愈。</p>
<p>仁齋云。有人臟腑久虛。大便常滑。忽得瘧疾。嘔吐異常。以二陳加人參白豆蔻。進一二服。病人自覺氣脈頓平。寒熱不作。蓋白豆蔻流行三焦。元氣榮衛一轉。寒熱自平。繼今遇有嘔吐發瘧之證。或其人素虛者。慎勿用常山等藥。以上專論秋時正瘧之法也。世間似瘧非瘧者多。世人一見寒熱往來。便以截瘧丹施治。一截不止則再截。再截而止。止而復發復截。以致委頓。甚或因而致斃者有之。是不可不辨也。經曰。陽虛則惡寒。陰虛則惡熱。陰氣上入於陽中。則惡寒。陽氣下陷於陰中。則惡熱。凡傷寒後大病後產後勞瘵等證。俱有往來寒熱。似瘧非瘧。或一日二三度發。並作虛治。但有陽虛陰虛之別。陽虛者補陽。如理中湯。六君子湯。補中益氣湯加薑桂。甚則加附子。諸方中必用升麻柴胡。以提出陰中之陽。水升火降而愈。醫書中有論及之者矣。至於陰虛者。其寒熱亦與正瘧無異。而陰瘧中又有真陰真陽之分。人所不知。經曰。晝見夜伏。夜見晝止。按時而發。是無水也。晝見夜伏。夜見晝止。倏忽往來。時作時止。是無火也。無水者。壯水之主。以鎮陽光。六味湯主之。無火者。益火之原。以消陰翳。八味湯主之。世人患久瘧而不愈者。非瘧不可愈。乃治之不如法也。丹溪云。夜發者邪入陰分。宜用血藥引出陽分。當歸川芎紅花生地黃柏治之。亦未及真陰真陽之至理。遍考諸書瘧論。並未能露其意。且余常試有神驗。故特表而出焉。余見發瘧有面赤口渴者。俱作腎中真陰虛治。無不立應。凡見患者寒來如冰。熱來如烙。惟面赤如脂。渴欲飲水者。以六味地黃加柴胡芍藥肉桂五味。大劑一服便愈。</p>
<p>有渴甚者。每發時飲湯不絕。必得五六大壺方可。余以六味丸一料。內肉桂一兩。水十碗。作四砂鍋。煎五六碗。以水探冷。連進代茶。遂熟睡渴止而熱愈。</p>
<p>又有惡寒惡熱。如瘧無異。面赤如脂。口渴不甚。吐痰如湧。身以上熱如烙。膝以下自覺冷。此真陽泛上。腎虛之極。急以附子八味地黃湯。大劑冷飲而熱退。繼以人參建中湯調理。</p>
<p><u>加減地黃方</u>　腎肝同治之法。</p>
<p>熟地（四錢）　山藥（二錢）　山茱萸肉（二錢）　丹皮（錢半）　茯苓（錢半）　澤瀉（一錢）　五味子（一錢）　柴胡（一錢）　芍藥（一錢）　肉桂（一錢）　水三鍾。煎一鍾服。</p>
<p><u>八味地黃方</u>　即六味地黃分兩。外加附子一錢。肉桂一錢。</p>
<p><u>補中益氣湯加半夏方</u></p>
<p>人參　黃耆　甘草　當歸　白朮　柴胡　升麻　陳皮　半夏　加煨姜</p>
<p><u>六味丸方</u></p>
<p>熟地（八兩）　山藥（四兩）　山萸肉（四兩）　丹皮（三兩）　茯苓（三兩）　澤瀉（三兩）　加肉桂（一兩）</p>
<p><u>建中湯方</u></p>
<p>人參（一錢）　芍藥（二錢）　甘草（一錢）　肉桂（七分）　大棗　飴糖</p>
<p>又有一等郁證似瘧者。其寒熱與正瘧無異。但其人口苦嘔吐清水或苦水。面青脅痛耳鳴脈澀。須以逍遙散。加茱連貝母。倍柴胡。作一服。繼以六味地黃。加柴胡芍藥調理而安。</p>
<p>至於三陰瘧者。惟太陰瘧。當用理中湯。必加肉桂。若少陰厥陰。非八味地黃不效。</p>
<p><u>逍遙散</u>　治郁瘧。</p>
<p>柴胡（一錢）　芍藥（一錢）　陳皮（一錢）　牡丹皮（一錢）　茯神（一錢）　當歸（一錢）　白朮（一錢）　貝母（一錢）　薄荷（七分）　黃連（五分每一兩用吳茱萸二錢水拌炒焦色合用）。</p>
<p><u>青皮飲</u></p>
<p>青皮　厚朴　白朮　柴胡　草果仁　茯苓　黃芩　半夏　甘草　此方以柴胡為主。大抵寒熱往來。屬少陽經證。故用以為君。草果厚朴所以化食。青皮半夏所以祛痰。寒多者。可加肉桂。熱多者。可加黃連。</p>
<p><u>草果飲</u>　治脾胃有郁痰伏涎者。元氣壯強者可用。虛者莫用。</p>
<p>草果　常山　知母　烏梅　檳榔　甘草　穿山甲</p>
<p>趙以德云。知母性寒。入足陽明藥。用治陽明獨盛之火熱。使其退就太陰也。草果性溫藥。治足太陰獨盛之寒。使其居於陽明也。二經合和。則無陰陽交錯之變。是為君。常山主吐胸中痰結。是為臣。甘草和諸藥。烏梅去痰。檳榔除痰癖。破滯氣。是佐藥。穿山甲者。以其穿山而居。遇水而入。則是出陰入陽。穿其經絡於榮分。以破暑結之邪。為之使也。</p>
<p><u>白虎湯加桂方</u>　治癉瘧。若脈虛弱不宜。</p>
<p>石膏（一斤）　知母（六兩）　甘草（二兩）　桂枝（去皮三兩）　糯米（二合）　每服五錢。</p>
<p><u>蜀漆散</u>　治牝瘧。見金匱。</p>
<p>蜀漆（燒去腥）　雲母（燒三夜）　龍骨（各等分）　上為散。未發前。以漿水服半錢匕。如溫瘧加蜀漆一錢。臨發時服一錢匕。</p>
<p><u>牡蠣湯</u>　治牡瘧。</p>
<p>牡蠣（四兩熬）　麻黃（去節）　蜀漆（各三兩）　甘草（二兩）　水八升。先煮蜀漆麻黃去沫。得六升。內諸藥。煮取二升。溫服一升。若吐則勿更服。</p>
<p><u>理中湯</u>　此方專治大陰瘧。必加肉桂一錢乃效。</p>
<p>人參（二錢）　白朮（二錢）　乾薑（錢半）　炙甘草（一錢）</p>

<h2>痢疾論</h2>
<p>痢者。古名滯下是也。裡急後重。逼迫惱人。或膿或血。或膿血相雜。或無糟粕。或糟粕相雜。或腸垢。或痛或不痛。或嘔或不嘔。或發熱或不發熱。當詳辨其陰陽寒熱虛實而施治。不可偏執一見也。</p>
<p>原病式云。利為濕熱甚於腸胃。怫鬱而成。其病皆熱證也。俗以白痢為寒誤也。世有用辛熱藥而愈者。蓋病微。得熱則鬱結開通。氣和而愈。甚者其病轉極。故治痢者。必用寒以勝熱。燥以勝濕。少加辛熱佐之。以為發散開通之用。如此無不愈者。</p>
<p>丹溪謂仲景可下者。悉以承氣湯下之。大黃之寒。其性善走。佐以厚朴之溫。善行滯氣。緩以甘草之甘。飲以湯液。盪滌腸胃。滋潤輕快。積行即止。禁用砒丹巴硇等藥。恐其暴悍毒氣。有傷腸胃清純之氣。又謂局方例用熱藥為主。澀藥為佐。用之於下痢清白者猶可。其裡急後重。經所謂下重者。皆屬於火。又加溫熱之藥。非殺而何。按前論皆專主寒治之說。以為痢發於秋。是暑月鬱熱所致。其理甚著。其議論亦和平。但不詳所以致鬱熱者。多因暑熱酷烈。過飲冰水。過食生冷。熱為寒鬱。久而為沉寒積冷者。亦有之。不可泥定是熱。當辨證切脈。真知其有熱積。方可用大黃。若系寒積而用大黃。不惟不愈。反增痛極而危矣。大凡下熱痢用大黃。下寒痢用巴豆。有是病則服是藥。詳按古人之成法。不容毫髮差謬。內經通因通用。原有兩條。有酒蒸大黃。有蠟丸巴豆。分析甚明。不可不考也。又謂溫熱之藥。用於下痢清白者猶可。則純紅血痢者。必不可用溫熱矣。然王海藏有云。暑月血痢。不用黃連。陰在內也。本草衍義云。有一男子暑月患血痢。醫以涼藥逆治。專用黃連木香阿膠。此病始感便治則可。病久腸虛。理不可服。逾旬幾至委頓。理當別治。（此一段論。又見證類本草序中）　海藏云。楊師三朝大醉。至醒發大渴。飲冷水三巨杯。次日又飲茶三碗。後病便鮮血。四次約一盆。先以吳茱萸丸。翌日又以平胃五苓各半散。二大服血止。復白痢。又以感應丸。四服白痢乃止。其安如故。或問曰。何為不用黃連之類以解毒。而所用者溫熱之劑乎。予曰。若用寒涼。其疾大變難療。寒毒內傷。復用寒涼。非其治也。況血為寒所凝。浸入大腸間而便下。得溫乃行。所以用熱藥其血自止。經曰。治病必求其本。此之謂也。胃既得溫。其血不凝而自行。各守其鄉矣。舉此為例。可見不可偏執用寒之說。倘有遇血痢者。不可偏見以為熱也。</p>
<p>大抵後重者宜下。腹痛者宜和。身重者宜除濕。脈弦者去風。膿血稠黏者。以重藥竭之。身冷自汗者。以毒藥溫之。風邪內縮者。宜汗之。滑泄不及拈衣者。止澀之。鶩溏為利。宜溫之而已。必當求其所因。辨其陰陽而治之。斯得之矣。</p>
<p>世人一見滯下。不分寒熱陰陽虛實。便以大黃湯盪滌之。是重劑也。其次以黃芩芍藥湯和之。是輕劑也。香蓮丸是常藥也。當歸芍藥和其血。檳榔枳殼調其氣。見有血色者。紅花生地地榆以涼其血。黃連黃柏以清其火。朝夕更醫。出入增減。不過如此。已瀕於危。猶曰血色依然。腹痛未減。誰敢溫補。死而無悔。傷哉傷哉。</p>
<p>凡腹痛後重。小便短少。口渴喜冷飲。大腸口燥辣。是為挾熱下痢。前法固宜。若腹痛口不渴。喜熱飲。小便清長。身不熱。腹喜熱手熨者。是為挾寒下痢。須理中薑桂溫之。至於初起受病。原系熱痢。遷延日久。各證不減。或反加重。理當別治。竟作虛看。須用補中益氣一升一補。倍加參耆溫補。如小腹重墜。切痛奔豚。此兼屬少陰症。急加吳萸肉桂破故紙肉果。甚則加附子。如有純血者。加炒黑乾薑。虛回而利自止。若必待血清利止而後補。亦晚矣。</p>
<p>世間似痢非痢者多。東垣云。飲食有傷。起居不時。損其胃氣。則上升清華之氣。反從下降。是為飧泄。久則太陰傳少陰。而為腸澼。裡急後重。膿血交錯。數至圊而不能即便者。專用補中益氣湯為主。使升降之道行。其痢不治而自消矣。余法東垣。凡有熱者。加姜炒黃連。有寒者加薑桂。兼小腹痛者。用建中湯。有風濕者。加防風羌活。肝氣乘脾者。倍柴胡。加芍藥木香。滑泄者。加粟殼訶子。如此溫補不愈。又當別治。經曰。熱之不熱。是無火也。無火者。益火之原。急補命門之火。以生脾土之母。此萬舉萬全之策也。</p>
<p>又有一等陰虛似痢者。即五泄中大瘕泄者。是也。經曰。裡急後重。數至圊而不能便。必莖中痛。褚氏云。陰已耗而復竭之。則大小便牽痛。愈痛則愈便。愈便則愈痛。其證紅白相雜。裡急後重。悉似痢疾。必小便短澀而痛。或不通而痛。或欲小便而大便先脫。或欲大便而小便自遺。兩便牽引而痛。此腎虛之危證。急以八味地黃。加補骨脂肉豆蔻阿膠。兼理中湯加升麻桂附。相繼間服。庶可挽回。世以痢藥致斃者。不可枚舉。其詳見先天要論泄瀉條內。</p>
<p>有一等積滯已少。但虛坐努責。此為下多亡血。倍用當歸為主。生血藥為佐。血生自安。此是血虛陰證。</p>
<p>後重有二。邪氣墜下者。圊後不減。虛努不收者。圊後隨減。此可以辨虛實。</p>
<p>有一等噤口痢者。湯藥入口隨出。在下纏住急迫。多因熱毒熾盛。逆沖胃口。胃氣伏而不宣。急用黃連以吳茱萸炒過。揀去茱萸。共人參等分。加糯米一撮。濃煎一盞。細口一匙一匙潤下。但得二三匙嚥下。便不復吐矣。如吐再服。有一等寒氣逆上者。用溫補之藥調之。其病易治。</p>
<p>有一等休息痢者。經年累月。愈而復發。此係寒積在大腸底。諸藥所不到。獨巴豆一味研炒。蠟丸如龍眼大。空腹服之。再不復發。此亦通因通用之法也。</p>
<p>不肖體素豐。多火善渴。雖盛寒。床頭必置茗碗。或一夕盡數甌。又時苦喘急。質之先生。為言此屬鬱火證。常令服茱連丸。無恙也。丁巳之夏。避暑檀州酷甚。朝夕坐冰盤間。或飲冷香薷湯。自負清暑良劑。孟秋痢大作。初三晝夜下百許。次紅白相雜。絕無渣滓。腹脹悶。絞痛不可言。或謂宜下以大黃。先生弗顧也。竟用參朮薑桂漸愈。猶白積不止。服感應丸而痊。後少嘗蟹螯。復瀉下委頓。仍服八味湯。及補劑中重加薑桂而愈。夫一身歷一歲間耳。黃連苦茗。曩不輟口。而今病以純熱瘥。向非先生。或投大黃涼藥下之。不知竟作何狀。又病室孕時。喘逆不眠。用逍遙散立安。又患便血不止。服補中黑姜立斷。不再劑。種種奇妙。未易殫述。噫。先生隔垣見人。何必飲上池水哉。聞之善贈人者以言。其永矢勿諼者。亦以言。不肖侏儒未足為先生重。竊以識明德云爾。四明弟子徐陽泰頓首書狀。</p>
<p>世有瘧後痢。有痢後瘧者。夫既為瘧後發泄已盡。必無暑熱之毒。復為痢疾。此是元氣下陷。脾氣不能升舉。似痢非痢也。既為痢後下多則亡血。氣又隨痢散。陰陽兩虛。陽虛則惡寒。陰虛則惡熱。故寒熱交戰。似瘧非瘧也。俱作虛論。俱用補中益氣加溫補。其病自愈。</p>
<p>有一孕婦瘧痢齊發。醫治兩月餘。瘧止而痢愈甚。又加腹痛飲食少進。延余視之。余曰虛寒也。以補中益氣加薑桂。一服痢止太半。再一服而反加瘧病大作。主人驚恐。余曰此吉兆也。曏者瘧之止。乃陰盛之極。陽不敢與之爭。今服補陽之劑。陽氣有權。敢與陰戰。再能助陽之力。陰自退聽。方中加附子五分。瘧痢齊愈。大服補劑。越三月產一子。產後甚健。</p>
<p><u>大黃湯</u></p>
<p>用大黃（一兩銼碎）　好酒二大盞。浸半日。煎至一盞半。去渣分作二服。痢止勿服。如未止再服。取利為度。</p>
<p><u>芍藥湯</u></p>
<p>芍藥（一兩）　當歸　黃連　黃芩（各五錢）　肉桂（二錢半）　大黃　甘草　檳榔　木香（一錢）　上九味。每服五錢。水二鍾。煎至一鍾。</p>
<p><u>香蓮丸</u></p>
<p>黃連（淨二十兩用吳茱萸十兩同炒焦檢去茱萸不用）　木香（五兩不見火）　上為細末。醋糊丸。如桐子大。每服三十丸。米飲下。</p>
<p><u>感應丸</u>　新舊冷積並可治。此方神妙不可言。雖有巴豆不令人瀉下。其積自然消化。</p>
<p>南木香　肉豆蔻　丁香（各一兩半）　乾薑（炮一兩）　百草霜（二兩）　巴豆（七十粒去皮心膜研去油）　杏仁（一百四十粒去皮尖）　上前四味為末。外入百草霜研。巴豆與杏仁另研細末同和勻。用好黃蠟六兩。溶化成汁。以重絹濾去渣。更以好酒一升。於砂鍋內。煮蠟數沸傾出。酒冷其蠟自浮於上。取蠟稱用。丸用清油一兩。銚內熬令香熟。次下蠟四兩。同化成汁。就銚內乘熱拌和前藥末。捏作錠子。丸如豆大。每服三十丸。薑湯空心送下。</p>
<p>楊子建云。世人有患疫毒痢。初得時。先發寒熱。忽頭痛壯熱。思入涼室。思吃冷水。狂言狂走。渾身肌肉疼痛。手不可著。忽下痢。或白或赤。或赤白相雜。此證難治。此係太歲在中。其年春夏之內。多有寒肅之化。陽光少見。寒熱二氣。更相交爭。忽於夏月多寒熱之化。寒邪犯心。水火相戰。所以先發寒熱。水火相犯。血變於中。所以多下赤痢。如紫草色。如莧菜色者。寒邪犯心之重也。白色者尚輕。赤色者漸重。赤白相雜者。氣血相等。寒熱之氣相搏也。治諸證之法。先奪其寒。以後隨證調理。</p>
<p><u>萬全護命方</u></p>
<p>麻黃（去根節）　官桂（去粗皮各七錢半）　大川芎　白朮（各二兩）　藁本　獨活　桔梗　防風　芍藥　白芷（各半兩）　丹皮　甘草（各二錢半）　細辛（三錢三分）　牽牛（一錢七分）　上為細末。每服二錢。熱湯調下。和渣熱服。若服此藥後。寒熱已退。赤痢已消減。便修合第二方。</p>
<p>訶子（五枚）　用麵裹火煨熱。去核為細末。每服二錢匕。以米湯一盞半。煎取一盞。空心和渣服。</p>
<p>服前二方藥病勢已減。所下之物止余些小。或下清水。或如鴨溏。或只餘些小紅色。宜修合第三方。以牢固大腸。還復真氣。</p>
<p>舶上硫黃（一兩去砂細研為末）　薏苡仁（二兩炒研為末）　上二味和勻。滴熟水為丸。如桐子大。每服五十丸。空心米湯下。</p>
