<header data-type="book">
<h1>鬻嬰提要說</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張筱衫</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1889">公元1889年</data></dd></div>
</dl>
</header>

<h1>敘</h1>
<p>蘇內翰曰：惟有子為不朽。人之有子也，詎可忽乎哉！境不論貧富，家不論貴賤，其愛之、惜之、保護之則一也。獨是嬰兒之生，猶草木之有萌櫱也。萌櫱甫出，遇嚴寒酷熱，則或枯；經驟雨狂風，則不達。生機方露，調護為難。若嬰兒亦人之萌櫱耳，近來由萌櫱而夭折者不可勝數。其中，或飢飽之不均，或寒燠之不節，或調養之無法，或禁忌之不知。惻然心傷，計無可施。因念古人於所愛惜、於所保護者，如何閱歷，如何經驗，而後垂一法以施之，立一說以遵之。余乃集群書之奧旨，採先哲之格言，顏曰：鬻嬰提要說。即繫於《釐正按摩要術》之後。夫《按摩要術》治已疾也，《鬻嬰要說》治未疾也。《詩》曰：恩斯勤斯，鬻子之閔斯！其即此義也。夫家有一人病，則一家不安，家有嬰兒病，且疾痛不能言，啼泣不能止，湯藥不肯服。亦時聞父母之言曰：天與我病，勿與我兒也。其一家之不安何如乎！是書防患於未然，所期家置一編，仿而行之，以為保嬰之寶筏也可。</p>
<p><u>光緒十有五年春三月寶應惕厲子張振鋆原名醴泉筱衫甫敘於安宜梁氏草堂</u></p>

<h1>正文</h1>
<p>乳母形色所宜，其候甚多，不可求備。但取不狐臭、癭痿、氣咳、瘡疥、癡癃、白禿、癧瘍、藩唇、耳聾、齆鼻、癲癇，無此等疾者，便可乳兒也。（《千金方》）</p>
<p>乳母當擇無病婦人，肌肉豐肥，性情和平者為之。如病寒者乳寒，病瘡者乳毒，貪口腹則味不純，喜淫欲則氣不清。（萬密齋）</p>
<p>為乳母者，夏不去熱乳，令兒嘔逆；冬不去寒乳，令兒咳利。母新房以乳兒，令兒羸瘦，交脛不能行。母有熱以乳兒，令變黃不能食。母怒以乳兒，令善驚，發氣疝；又令上氣癲狂。母新吐下以乳兒，令虛羸。母醉以乳兒，令身熱腹滿。（《千金方》）</p>
<p>乳兒之母，當淡滋味，一切酒面肥甘熱物，瓜果生冷寒物，皆當禁之。又須慎七情，調六氣，以養太和。蓋母強則子強，母病則子病，母寒則子寒，母熱則子熱。故保嬰者，必先保身。（《保嬰易知錄》）</p>
<p>乳母淫佚情亂，令兒吐瀉身熱，啼叫如鴉者不治。（《寶鑑》）</p>
<p>乳母飲食下咽，乳汁便通，情欲中動，乳脈必應，病氣到乳，汁必凝滯。兒得此乳，疾病立至，不吐則瀉，不瘡則熱，或為口糜，或為驚搐，或為夜啼，或為腹痛。病之初來，其溺必少，便須詢問，隨證治母，母安亦安，可消患於未形也。（朱丹溪）</p>
<p>凡乳兒不可過飽，飽則溢而成嘔吐。大飽以空乳吮之即消。若乳來多猛，先捏去宿熱乳，然後乳之。乳母與兒臥，令乳與兒頭平，母欲睡時即奪其乳，恐其不知飽足，致成嘔吐。且恐睡熟悶兒口鼻致死。父母交合之間，兒臥於側，或驚起，不可乳兒。蓋氣亂未定，必能殺兒也。（《千金方》）</p>
<p>夜間乳兒，母起身坐抱兒喂之，勿側臥乳兒。乳後抱兒使其身直，恐軟弱顛倒，致乳溢出也。不爾，皆令兒病。（《顱囟經》）</p>
<p>凡乳母生喜，則乳為喜乳，令兒上氣顛狂，亦令兒生痰喘急，或生驚。（孫兆）</p>
<p>凡乳母動氣，則為氣乳，令小兒面黃且白，乳哺減少，夜啼哯乳。（《寶鑑》）</p>
<p>凡乳母有病時為病乳，令兒黃瘦骨蒸盜汗，嗞𠷁夜哭，及生諸疾。（《寶鑑》）</p>
<p>凡乳母有娠孕者為鬾乳，令兒臟冷腹急而瀉，胸背皆熱，夜啼肌瘦，一如積塊。（《寶鑑》）</p>
<p>乳母飲酒而醉者為醉乳，令兒熱，腹急痛。扁鵲云：醉淫隨亂，兒恍惚多驚。（《千金翼方》）</p>
<p>凡乳母當風乳兒，風冷入肺，則令咳嗽。（倉公）</p>
<p>凡乳母有怒，則乳為怒乳，令兒生疝氣病。扁鵲云：女子則腹脹。（《千金翼方》）</p>
<p>凡乳母於夜露下飲兒，冷氣入咽不散，多成嘔逆。（《心鑑》）</p>
<p>乳母於大勞大飢之後，不俟氣息稍和，即以傷乳與兒，令兒成疳。（《真訣》）</p>
<p>凡兒因乳母致病者，事起於隱微，人多翫忽，醫所不知。故乳母稟受之厚薄，性情之緩急，骨肉之堅脆，德行之善惡，令兒相肖，大有關係，不可不慎也。（朱丹溪）</p>
<p>兒啼未定，其氣尚逆，遽以乳飲之，則乳停胸膈，令兒生咳逆嘔吐諸病。（《巢氏病源》）</p>
<p>每清晨睡醒欲飲乳，皆須捏去宿乳。乳汁弗投地，蟲蟻食之，令乳無汁，可沃東壁上佳。（《顱囟經》）</p>
<p>乳之性見酒則凝。試將牛乳一碗，加陳酒一小杯，攪和蒸一沸，乳凝如腐，物性然也。飲乳之兒，父母愛之，戲以酒滴兒口中，往往漸成乳癖、驚癇、疳積等證，可不慎哉！（《蘭閨口議》）</p>
<p>月內小兒，不可聞啼即抱，一啼便乳。須令啼哭，則胎中所受熱毒從此而散，胎中驚風從此而解，則期月之間，無重舌、木舌、口噤、胎熱之疾。（《大生要旨》）</p>
<p>小兒初生宜多睡，勿強與乳，自然長而少病。（《保生要法》）</p>
<p>夏中熱盛，乳母浴後，或值兒啼，均不可與乳，使兒損於胃，秋成赤白痢。浴後必須定息良久，捏去熱乳，然後乳之。（《聶氏》）</p>
<p>熱乳令兒面黃不食嘔吐。張氏云：熱乳傷損肺氣，令兒成龜背。（《千金翼方》）</p>
<p>凡乳兒，乳氣寒虛冷，故令兒便青而啼。《千金翼方》云：令兒咳嗽。（《史記·華佗論》）</p>
<p>壅乳令兒生痰涎，涎壅生驚。（《靈秘》）</p>
<p>壅乳成乳癖，又吐逆生痰。（《寶鑑》）</p>
<p>調攝小兒之法，病家能知之者，千不得一。蓋小兒純陽之體，最宜清冷，今人非太暖即太飽，而其尤害者，則在於有病之後而數與之乳。乳之為物得熱則堅韌如棉絮，況兒有病則食乳甚稀，乳久不食則愈充滿，吮則迅疾湧出，較平日之下咽更多，前乳未清，新乳復充，填積胃口，化為頑痰，頑痰相結，諸脈皆閉而死矣。譬如常人平日食飯幾何，當病危之時，其食與平時不減，安有不死者哉！然囑病家云，乳不可食。則群相詬曰，乳猶水也，食之何害？況兒虛如此，全賴乳養，若復禁乳則餓死矣。不惟不肯信，反將醫家詬罵。其餘之不當食而食，與當食而反不與之食，種種失宜，不可枚舉，此小兒之所以難治也。（《醫學源流》）</p>
<p>兒病即宜少與乳食。若似驚風，即宜斷乳。如欲食，與米飲一勺。必欲食乳，須先將乳擠空，然後以空乳令吮，否則乳下喉中即成頑痰，雖神丹無效，俟少安漸與乳可也。（《蘭臺軌範》）</p>
<p>小兒無傷乳法，即乳滿而溢亦無大害，惟與食並，則乳裹食不化，遂成痰癖，是傷食非傷乳也。故小兒以食乳為主，三歲後方可食糕粥，五歲後方可食葷腥，則一生永無脾胃之疾矣。（《慈幼外編》）</p>
<p>乳者奶也，哺者食也。乳後不得與食，哺後不得與乳，乳食相併，難以克化，大則成癖，小則成積，疳氣自此始矣。（《保生碎事》）</p>
<p>凡兒吮乳，初則乳汁漸行，其來尚緩而少，久則如泉湧急而多，則以二指捺住乳頭兩邊，來自緩矣。惟恐兒氣弱吞嚥不及，有傷胃氣也。（《育嬰家秘》）</p>
<p>凡治病必藉胃氣以為行藥之主，胃氣強者，攻之則疾去而易愈，以其藥力易行也。胃氣虛者，攻病而病不去，非藥力不達，以胃氣本弱，攻之則益弱，而藥愈不行，胃氣傷，病亦愈甚矣。（陳飛霞）</p>
<p>生兒缺乳，不得不喂以穀食，母細嚼以手喂之，不可以口對口喂之，致生疳疾腹脹。（《保嬰易知錄》）</p>
<p>小兒無病，切忌服藥，否則遇疾無效。（《疾呼錄》）</p>
<p>凡小兒有停滯，於臥後用手順摩其腹，自胸至臍下，輕輕摩至百數，能順氣消食。（《慈幼論》）</p>
<p>小兒有疾，口不能言，脈無可診，名曰啞科，醫者不可不究其病源，而病家亦須詳審而明言之。愚者拱默而令醫師切脈，以試其知病否，是以兒命為鵠也。孫真人云：未診先問，最為有準。蘇東坡云：只圖愈疾，不欲困醫。徐氏曰：小兒致疾之由，有婢媼明知而不敢言者，當委曲善詢之，若加以聲色，是緘其口也。旨哉斯言！（《活動芻言》）</p>
<p>幼科有拿掐法，乃按摩之變也。小兒未周歲，難以藥餌，治誠宜之。（《保嬰撮要》）</p>
<p>急驚之證，搐搦反張，頭搖目竄，唇動牙咬，壯熱痰潮，神昏便秘是也。當其搦搐反張之時，切忌把其手足，攀其身軀，若強力持之，致風氣流入筋絡，以致俯仰拘牽，雖生已成殘廢。當其動作之際，置一竹簟鋪之平地，使兒臥其上，任其搐搦，風力行遍經絡，勢極自止也。醒後易於頻發，宜慎防之。（吳氏）</p>
<p>小兒足脛冷，腹虛脹，糞色青，吐乳食，睛珠青，面青白，少神，聲音弱，脈沉微者，內已虛寒，忌投涼藥。若足脛熱，兩腮紅，大便閉，小便黃赤，口渴痰稠，氣粗聲壯，脈緊數者，乃為熱證，忌投溫熱藥。（《金鑑》）</p>
<p>乳母須每日三時摸兒項後風池，若壯熱者即須熨之，使微汗而愈。諺云：戒養小兒，謹護風池。風池在頸項筋中兩轅之邊。（張渙）</p>
<p>凡小兒痘瘍驚風等證，皆由胎毒蘊結。初生三日內，自風門至尾閭，用雞子清按節細摩，周而復始，有毛出如發者。尾閭須多摩，愈摩愈出，將黑毛拔盡，終身即不出痘，即出亦惟數粒耳。如產至六九日再摩，尤妙。（山左張洙源封翁家傳）</p>
<p>凡產兒艱難，或於天寒日生，無哭聲，或至已死者，急用棉衣包裹，再將香油紙捻，將臍帶緩緩燒斷，俾暖氣入腹而生矣。倘剪斷臍帶則死。（《集驗良方》）</p>
<p>急慢驚風危極者，孩兒肚皮以手巾蓋之，以真烏骨雞一隻，令人捧立肚皮上，少刻，其雞自能撲翅，蹲在肚上，半日雞自走落，孩兒即愈。將雞快灌香油，否則雞必死。（《集驗良方》）</p>
<p>斷乳奇法，擇伏斷日，用山梔一枚，辰砂、麝香、雄黃、雌黃各二分，輕粉一分，研末，待兒熟睡時，麻油調搽兩眉，名畫眉膏，斷乳之奇法也。（《集驗良方》）</p>
<p>小兒無知，自將豆粒塞入鼻孔，用手指自挖，愈挖愈入，經涕浸大，腫脹痛甚，百方不能取出，法用二人，以一人將兩手掩緊小兒兩耳竅，令小兒眼目閉緊，一人用手掩住無物鼻竅，以口對小兒之口，用力一吹，即時落下。妙極！（《集驗良方》）</p>
<p>蔡葛山先生曰：吾校《四庫書》，坐偽字奪俸者數矣，惟一事深得校書力。吾一幼孫偶吞鐵釘，醫以朴硝等藥攻之不下，日漸羸弱，後校《蘇沈良方》，見有小兒吞鐵物方云：剝新炭皮，研末，調粥三碗食之，其鐵物自下。依方試之，果以炭屑裹釘而下。（《紀文達公槐西雜誌》）</p>
<p>小兒痘後餘熱結毒，纏綿不愈者，用三豆散。赤豆、黑豆、綠豆等分，將三豆浸水中一日，搗爛塗患上，干即更換敷上，用油紙包好，立愈。（程韞山）</p>
<p>小兒初生大小便閉，令婦人以溫水嗽口，吸小兒前後心，手足心並臍下共七處，以紅色為度，即通。（《集驗良方》）</p>
<p>凡小兒有湯火傷者，急以草紙濕尿貼患處，痛立止，遲則起泡。（《集驗良方》）</p>
<p>暑驚，用生半夏、皂莢等分，研末調勻，吹鼻中得嚏即愈。老少並用。（《集驗良方》）</p>
<p>小兒為異物所侵，夜睡驚悸，啼哭不止，面色或黑或紫，宜用雜色紙，作一異物形狀，令受驚嚇者之兒視之，即對兒以火焚化，兒疑釋則病愈矣。（夏禹鑄）</p>
<p>小兒滿月剃頭，須就溫暖避風處，剃後以杏仁三枚，去皮尖，研碎，入薄荷三葉同研，入生麻油三四滴，膩粉拌和，擦新剃頭上，以避風傷，免生瘡疥熱毒。（《按摩經》）</p>
<p>嘉禾有陳姓業醫者，於小兒啼哭不止，命煎甘草水為兒洗浴，浴畢，病若失，謝千金。問何術之神，陳曰：木香棚下，曬有兒衣，木香多刺毛蟲，衣曬其下，刺毛蟲或遺溺，或落刺毛於衣，故痛。醫者須到處留心。（《世說新語》）</p>
<p>小兒螺哽喉間，用百隻活鴨，醫以手指入鴨嘴，於瓷杯口逐一刮之，積至半杯，即用匙灌入，頃刻啼止，病立愈。（《世說新語》）</p>
<p>小兒臍帶中多有蟲，急剔撥去，否則入臍成疾。《養子真訣》云：吃熱莫吃冷，吃軟莫吃硬，吃少莫吃多，自然無恙。故黏膩、乾硬、酸鹼、辛辣，一切魚肉、水果、濕面、燒炙、煨炒、煎煿難化之物，皆宜禁絕。小兒無知，豈能知節，知節者父母也。（《保嬰易知錄》）</p>
<p>小兒初生，用淡豆鼓煎濃汁，與兒三五口，其毒自開。繆仲淳《廣筆記》，以甘草三錢，淡豆豉三錢，入沸湯一碗，隔水煮乾，至一二小杯，以棉為乳，蘸藥汁，令兒吮之，以盡為度，腹內有聲，去胎糞數次，方飲乳，月內永無驚風諸病。（《醫宗金鑑》）</p>
<p>古法拭口多用黃連者，不知黃連大苦大寒，小兒以胃氣為主，安得初生即可以苦劣之氣相犯。致損胃氣，則他日變嘔變瀉由此而起，大非所宜。（張景岳）</p>
<p>小兒出胎，氣生收斂，則口內上齶齒根喉舌皆淨。若氣血不斂，胎毒上攻，無不先見於口內者。或有泡生於上齶懸雍之前，初起白色，繼則赤色，最為惡候，急以指爪摘去其頭，或以針刺之，潰去惡血，速以帛拭淨，毋令下咽，此為第一要著。次看齒根上有白泡，如半粒米狀，急以銀針挑去。再看齒根上有黃筋兩條，以葦刀輕輕割斷，以瀉惡血。或舌上白屑堆聚，以手指纏亂髮拭淨。若舌根有膜裹舌，如蘆籜盛水狀者，以針破之，瀉其氣。如舌下有膜如石榴子樣，或如蟲形，急以針刺之，其針向兩旁挑破，不可用正針深刺，傷其本路。以上各證，刮淨刺潰之後，以甘草湯絞淨，再用桑樹皮白汁，或陳京墨，或白殭蠶，研末，頻頻塗之。或選用拭口諸解毒法，可保無虞。倘父母姑息為兒護疼，不為刺刮，毒無瀉路，速則變成臍風、噤口、撮口等惡證，百無一生。遲則致成內釣、盤腸、驚搐之險，挽救莫及矣。或謂小兒口病，挑動則有病必挑，非此不可，最為費事。殊不知挑口一法，能瀉胎毒而無傷元氣，較服峻厲之藥，萬分穩妥，安可輕視。（《嬰兒至要錄》）</p>
<p>臥兒紉舊布多層，襯兒受尿，輪流洗曬，最妙。有用布袋盛稻杆灰以收濕者，若甫離灶突，火毒未出，兒中之，必生丹毒驚癇等證。必須將灰篩淨，預貯數日，然後用之。（《活嬰方》）</p>
<p>兒如愛惜太過，三兩歲猶未飲食，致令脾胃虛弱，一生多病。但兒生半年後，煎陳米稀粥，粥面時時與之，十月後漸與稠粥爛飯，以助中氣。但不與乳並，自然無病易養。（《保嬰易知錄》）</p>
<p>有幼女者病嗜臥，頰赤而身不熱，諸醫誤以慢驚進攻風之劑。呂滄洲診之，右關滑數，他部皆和，曰女無病，關滑為宿食，意乳母致之，乳母必嗜酒，酒後輒乳，故令女醉，非風也。詢之如其言，飲以枳椇子、葛花，遂如常。（《古今醫案》）</p>
<p>俗云：要得小兒安，常帶三分飢與寒。此說甚偽。要知小兒臟腑脆薄，飢飽寒暑皆不能耐，全賴調養得宜。若帶三分飢寒，恐帶飢則多啼哭，帶寒則多感冒，誠不宜也。蓋要得小兒安，須常調飢與寒。大約調養之法，只要先飢與食，不可過飽；先寒與衣，不可太暖。非獨小兒為然，凡虛弱衰老病後之人，俱當如此調養。（《傳家寶》）</p>
<p>凡乳母與兒睡時，切勿以手膀與兒枕頭，恐胸膊熱氣，緊蒸小兒頭腦，致生癰毒瘡癤，此一弊也。況又兒頭與母面相對，乳母鼻息出入，吹兒囟門，日後長大時，易感風寒，動輒鼻流清涕，藥不能治。惟用新綠豆作枕，與兒枕之，最清涼，去胎毒熱毒。（石天基）</p>
<p>幼時酷嗜甘飴，忽一日見飴中有蚯蚓，伸頭而出，自此不敢食飴，至長始知長上為之，此可為節戒之妙法。（王隱君）</p>
<p>小兒脾胃柔弱，其母或以口物飼之，不能克化，必致成疾。小兒於天氣和暖，宜抱出日中嬉戲，頻見風日，則血肉因之緊固，可耐風寒，不致生痰。（《按摩經》）</p>
<p>小兒宜用菊花作枕，則清頭目。（《按摩經》）</p>
<p>小兒不宜食肉太早，致傷脾胃。雞肉能生蛔蟲，成疳積證，非三歲以上勿食。（《按摩經》）</p>
<p>小兒入夏，宜縫囊盛杏仁七枚，去皮尖，隨身佩之，聞雷聲不懼。（《按摩經》）</p>
<p>小兒勿令入神廟，恐精神閃灼，致生怖畏。（《按摩經》）</p>
<p>小兒臨浴時，須擇無風密處，湯須不冷不熱，適可而止，不可久在水中。冬月防其受寒，夏月恐其傷熱。但兒在周歲內，切忌頻浴，以致濕熱鬱聚。（《醫宗金鑑》）</p>
<p>凡兒切忌食肉，雞肉尤忌，過食則生蛔蟲。螺螄蚪蜆鰻鱉蝦蟹等類食之，則或泄或痢。（《保嬰易知錄》）</p>
<p>小兒同母睡時，切忌鼻風口氣，吹兒囟門，恐成風疾。（《瑣碎錄》）</p>
<p>小兒衣裳被衲，日曬日收，不宜在外過夜，因天上有飛星惡鳥，不可干犯，小兒染著戾氣，生無辜疳，或則啼哭不止。須用醋炭熏過，或日光照過方可衣。（錢仲陽）</p>
<p>初生小兒，不得用油膩手繃裹。春忌覆頂裹足，夏忌飲冷食冰，冬忌火炙衣被。（《小兒精要》）</p>
<p>凡小兒於戲謔之物，不令恣樂。刀刃凶具，無使摸捉。莫近猿猴，近則傷意。莫抱鴉雀，抱恐傷眼。男方學語，勿令揮霍。會坐勿久，致令腰折。行莫令早，筋骨柔弱。雷鳴擊鼓，莫為掩耳。睡臥須節，須令早起。飲食休過飽，衣勿重襲。常食蔬羹，休哺美味。甘肥酸冷，姜蒜瓜菜，油膩生茄，切勿過食。夜莫停燈，晝莫說鬼。睡莫當風，坐莫近水。笑極與和，哭極與喜，笑哭之後，莫即與乳。（《馮氏錦囊》）</p>
<p>臥兒冬用水桶，夏用竹筐，必須直身嚮明而臥。倘背明向暗，則兒眠仰看亮光，易致目睛上竄。臥旁切近之處，不可有悅目引看之物，致兒側視，目睛左竄右竄。兒帽面前亦不可用五彩之飾，亦恐惹兒仰視也。（《察兒錄》）</p>
<p>衣兒用父故衣，女用母故衣改作，切不可過厚，恐令兒壯熱，生瘡發癇，皆自此始。（《千金論》）</p>
<p>初生小兒，未剃胎頭，不與戴帽，則自幼至長，可以無傷風之患，亦永無鼻塞流涕之病。（《大生要旨》）</p>
<p>凡養兒寒則加衣，熱則除棉，過寒則氣滯而血凝，過熱則汗出而腠理泄，以致風邪易入，疾病乃生，更忌解脫當風。然無風日暖，又當抱出遊戲，又不可置之地間，令著地受寒。況五臟腧穴，皆繫於背，肺臟尤嬌，風寒一感，毫毛畢直，皮膚閉而為病，咳嗽喘嘔，肚熱憎寒，故兒背宜暖也。肚者脾胃處也，胃為水穀之海，脾為健運之司，冷則物不腐化，致多腸鳴腹痛嘔吐泄瀉，故兒肚宜暖也。足系陽明胃脈所絡，故曰寒從下起，故兒足宜溫也。頭者六陽所會也，腦為髓海，涼則堅凝，熱則流泄，或囟顱腫起，頭縫開解，目疾頭瘡，故頭宜涼也。心屬離火，若外有客熱，則內動心火，表裡合熱，輕則口乾舌燥，腮紅面赤，重則啼叫驚掣，多躁煩渴，故心胸宜涼也。（《馮氏錦囊》）</p>
<p>兒生六十日後，則瞳子成而能笑認人，切忌生人懷抱，及見非常物類。百日則任脈成，自能反復，一百八十日，則尻骨成，母當令兒學坐。二百四十日，則掌骨成，母當扶教匍匐。三百日則臏骨成，母當扶教兒立。周歲之後，則膝骨成，母當扶教兒行，皆育兒一定之法。若日捧懷抱，不見風日，不著地氣，以致筋骨緩弱，數歲不行，一失調護，疾病乃生，此皆保育太過之失。（張渙）</p>
<p>小兒玩弄嬉戲，常在目前之物，不可強奪去之，使其生怒，但勿令弄刀刃，銜銅錢，近水火，入廟堂，見鬼神耳。（《育嬰家秘》）</p>
<p>凡乳母抱兒，切勿哭泣淚入兒眼，令兒眼枯。（《馮氏錦囊》）</p>
<p>小兒能言，必教之以正言，如鄙俚之言勿語也。能食，則教之恭敬，如褻慢之習勿作也。能坐能行，則扶持之，勿使傾跌也。宗族鄉黨之人，則教以親疏尊卑長幼之分，勿使媟嫚也。言語問答，教以誠實，勿使欺妄也。賓客往來，教以拜揖迎送，勿使退避也。衣服器用，五穀六畜之類，遇物則教之，使其知之也。或教以數目，或教以方隅，或教以歲月時日之類，如此則不但無疾，而知識亦早矣。（《育嬰家秘》）</p>
<p>兒初生形骸雖具，筋骨甚柔，猶草木之柔條軟梗，可曲可直，或俯或仰也。故百日之內不可豎抱，豎抱則宜於惹驚，且必致頭傾項軟，有天柱倒側之虞。半歲前不可獨坐，獨坐則風邪入背，脊骨受傷，有龜背傴僂之疾。（《大生要旨》）</p>
<p>小兒始生，肌膚未實，宜單衣不宜暖衣，暖則筋骨緩弱，易發瘡瘍。宜舊絮不宜新棉，恐汗出表虛，易受寒邪。宜見地氣，尤宜見風日，不見地氣風日，則肌膚柔軟，易得損傷。嘗見富貴之家，重茵疊被，日在懷抱，雖數歲亦未能行。而田舍小兒，終日暴露，或飢或寒，絕無他病。譬如草木生於深山大澤中，容易合抱，至園圃奇材異卉，縱加培植，多有秀而不實者，豈貴賤之理有異哉！（《巢氏病源》）</p>
<p>嬰兒初生，血氣未定，臟腑未備，每三十一日一變蒸，或發熱，或惡寒，或吐瀉，或汗，皆長血脈增智慧之候。其指紋淡紅水色如常，既無亂紋，亦無青紫赤黑之色，是為變蒸。每一變蒸，或生一臟，或生一腑，至十變蒸而臟腑始完，胎毒始散，周歲內須知此候。然胎亢充實者不如是。（周於蕃）</p>
<p>每見士大夫之家，於嬰兒多雇乳孃，其痛癢不甚相關，但於其哭時，恐父母聞之，或勉強與之乳食，或暗中與以油糖餅餌黏膩生冷之物，希圖不出啼哭之聲，殊不知嬰病每在傷食。諺云：要得小兒安，須帶三分飢和寒。但所謂飢者，勿令過飽；寒者，勿令過暖，非令忍飢受寒之謂也。（周於蕃）</p>
<p>小兒有實痰壅築喉內，吐不出，咽不入，於氣海穴以手指曲節抵之，旋又放之，再將兒中指掐至尖數下，再推湧泉穴，左轉不揉，以指對抵夾車穴，用耳挖爬舌上即吐。（夏禹鑄）</p>
<p>丹溪曰：小兒過用棉絹溫暖之服，以致陽氣不舒，因多發熱。即長，下體勿令過暖，蓋十六歲以前，氣血方盛，如日方升，惟陰常不足耳，下體主陰，得寒涼則陰易長，過溫暖則陰暗消。故《曲禮》曰：童子不衣裘裳。（《保嬰易知錄》）</p>
<p>小兒落下臍帶，瓦上焙乾為末，臍帶若有五分重，入硃砂、黃連、甘草各二分五釐，和勻蜜拌，或用生地、當歸煎濃湯，調如糊，做四五次塗乳母乳頭上，俟兒餂之，必使一日夜餂盡，次日大便遺下穢汙濁垢之物，皆惡毒也。日後不但痘稀，可免變黑歸腎之患。竟有不出者，亦無囟門不合之疾。須候臍帶落下，即便制服，在六七日間為妙，其硃砂須研極細末，以甘草湯飛過，此乃真保生最上一乘良法，一以解毒，一以補腎。蓋臍帶乃有生之河車，繫於母之命門，兩腎之所生，以腎補腎故耳。（《保嬰易知錄》）</p>
<p>凡富貴之家，不宜為兒新制綾羅華麗之服，當知為兒惜福也。（《琢王篇》）</p>

<h1>跋</h1>
<p>扁鵲入咸陽聞秦人愛小兒即為小兒醫，是愛小兒者自古已然矣。然愛之不得其道，則適以害之，良可慨也！筱衫先生輯《按摩要術》成，又採古人育嬰之說，匯為斯編，既明且簡，易知易從。書曰：如保赤子，心誠求之。《素問》曰：聖人不治已病治未病。先生其深體此意也夫。</p>
<p><u>光緒己丑夏仲江都孫鳳翔犢山甫謹識</u></p>
