<header data-type="book">
<h1>陸地仙經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>馬齊</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1726">公元1726年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>仙未必得，但以多壽少病為至驗也。先祖至餘四世矣，男女壽百歲以上者十五人，九十者四人，八十者六人，七十者九人，自成人後夭折者希，亦未有多疾而奇疾者也。余祖任慶陽縣，因感山嵐氣而病，忽路遇仙師鼓掌嘯詠曰：得便宜，落便宜，若非感著山嵐氣，安得徐徐告疾歸。邀於館舍，仙師拈藥一丸，令以涼水送下，遂腹鳴如雷，瀉惡物鬥許，疾頓除。仙師曰：此疾臟腑不實易中，若精氣堅固，焉得而入耶？祖乞其方，書此言授之。問其姓名，仙師曰：予姓張，名百字，此法不拘男女皆可行之，能上卻百病，肢體強健，益壽延年，當為陸地仙矣。言訖不見。至今不輕傳，予家男女口授於姻戚亦未必全。茲因吳老師、陳宗師、馮年兄、劉年弟、裴年弟諸公屢求此書，於是啟仙師手筆以付諸公，名為《陸地仙經》。願我同調之士謹遵而行之，廣而傳焉，則仙師仁人之意溥矣。</p>
<p><u>賜進士第加太保兼太子太傅保和殿大學士兼戶部尚書總理事務二等伯加五級馬齊序並注時雍正四年歲次丙午夏六月望日雨後珍書於槐蔭堂之石笏軒</u></p>

<h1>總論（共百字二十句五言）</h1>
<p><u>淡食能多補</u>（肥濃能滑人腸，令人生痰。早飯淡而早，午飯厚而飽，晚飯須要少，若能常如此，無病直到老）</p>
<p>五味之嗜，在負重辛苦之人自不可缺，而修養者當漸減之，則穀氣壯而真氣長，並無疾之為害。</p>
<p><u>搓塗自助顏</u>（面不離手，金漿玉液常塗面，顏色如童永不改）</p>
<p>先以唾津傅面，次搓手掌極熱，向臉上搓之數遍，或睡時、或醒時、或清晨行之，俱無不可。城中雲：馬家顏色好，恰似正開蓮。</p>
<p><u>運睛除眼翳</u></p>
<p>閉目轉睛，左右各七次，忽然大睜急視，自覺眼內熱氣出，即是妙境，有金花恍惚者更佳。轉睛時口鼻閉氣，睜眼時盡力用口呵出濁氣，吸入清氣，各七次。又東坡云：酒醒後清晨行之，可消宿疾。</p>
<p><u>掩耳去頭旋</u></p>
<p>每清晨或臨睡時，搓兩耳令熱，以手急掩住，左右扭頸回顧，各七次，又盡力點頭如鳥啄食之狀，七次，呵出濁氣七口，永無頭旋之疾。</p>
<p><u>叩齒牙無病</u>（齒宜頻叩）</p>
<p>睡醒時叩齒三十六通，永無蟲牙之患。周蓮峰云：勸君閒時莫挑牙。朱升溪云：勸君切莫偏冷熱。趙復陽云：於大小便時急咬牙關，緊唇嚴密，則無齒疾。</p>
<p><u>兜禮治傷寒</u>（兜外腎者，固精除寒也）</p>
<p>偶覺身上寒熱不均，頭痛口苦，類傷寒之狀，即舒兩腿，兩手兜外腎囊，閉氣低頭，至氣促，張口呵之，如此者七次，則盤膝而坐，鼻納清氣，或行猿臂熊經之法亦可。余家不拘男婦俱行此法，遂少此病。</p>
<p><u>鼓呵消積聚</u></p>
<p>晨起，兩手抱肩，閉氣鼓腹，澄心下視臍輪，待氣促，緩緩呵之，如此九次。又緊抱其肩左右扭之，各七次，名曰攪轤。腹中自然快利，能消積聚，亦治心疼、腹疼、泄瀉諸疾，甚驗。</p>
<p><u>膝風摩湧泉</u></p>
<p>膝疼有三種：曰風痛，曰冷痛，有精血虛而氣不通，注於下部，名曰脛痛。臨睡時，摩搓左右足心各七遍，令極熱，抱膝而眠，足趾常常自撓之，使血氣能通，而痛自止矣。人年四五十多感此疾。鄭年兄常患此疾，吳老師教以川椒煮湯，臨睡時將兩足溫泡湯內三、四時辰，又令人於足趾間稍按捏之，至大腿處，不記遍數，未及一月，膝氣盡除。</p>
<p><u>猿臂和血脈</u></p>
<p>左手伸直，以右手探左手心，頭卻右顧，右手亦然。此法當於食後行二、三次，能消食。孕婦行之，臨產最易，亦無胎產之患。</p>
<p><u>熊經免痰涎</u></p>
<p>臨睡時，兩手拘定兩足，直舒其腰，頭卻回顧後視，如此七次，自無痰涎之患。此法可夜間常行不間。</p>
<p><u>愛惜精與氣</u></p>
<p>精氣乃人之根本，不可妄施，雖不當絕，亦須愛惜。年友鄭公曰：餘年三十五歲無子，荊妻勸余娶妾，余此後常獨宿，每月見妾面一、二次，亦未嘗通宵宿處也。餘六子三女，並無胎癇疹毒之患。餘八十九歲矣，尚能夜書細字，行步如幼，說者謂有奇術，余自以為愛惜精氣所致也。</p>
<p><u>子午固關元</u></p>
<p>關元乃人氣海也，修養家名曰丹田，在臍下一寸三分，乃元氣所蓄。人每心意一動則耗元氣。子午二時洗心靜坐，鼻息調勻，反觀內顧於關元之所，則一時有元氣復長之機矣。年友鄭公曰：子乃陽長之候，屬腎；午乃血生之時，屬心。年六十以上者宜守此穴，則大便密而小便少，且能耐老。</p>
<p><u>托踏應無病</u></p>
<p>兩手上托如舉千斤之重，兩腳踏地如豎石柱之直，盡力上托，閉氣不出，待氣促，徐徐呵之。每清晨或食後，不拘何時常常行之，百病皆除。</p>
<p><u>三眠魂自安</u></p>
<p>病龍眠，拳屈其膝也；寒猿眠，抱其膝也；龜息眠，踵其膝也，手足曲則心自定。大凡臨睡時，萬念俱絕，閉口瞑目，勻息側身而臥，甚妙。蓋人自寅而申，應事接物精神已倦，惟一睡乃心神歇息之頃，如有事，可卻之度外。如有掛心事，必著衣端坐，秉燭應之，不可枕上懸思，大耗元氣。</p>
<p><u>飲食必節制</u>（飲食有節，脾土不泄）</p>
<p>道經三世上有四百種病，惟有宿食為根本。晚飯少吃，自無宿食之患矣。城中人語曰：莫問馬家食，十人餓得九人死，蓋以此也。</p>
<p><u>起居要慎焉</u></p>
<p>邵子四不出，謂大風、大雨。大暑、大寒。周子云：切記寅時怒，損肺又傷肝，夏月宜早起，冬天要遲眠，春綿漸漸減，秋夾徐徐添。</p>
<p><u>多行陰騭事</u></p>
<p>陰騭不在修寺設醮、看經唸佛，只在人身上打點，若當惻隱之處，勉力行之，如魏犨嫁女，而有結草之報，宋郊救蟻，而有及第之祥；馮高善德，而有三元之嗣；燕山賢人，而得五子之榮。但行陰騭之事，不可有望報之心。</p>
<p><u>莫作身後冤</u></p>
<p>作惡事則身後冤也。周蓮峰云：惟世宦世豪之家多作此冤，寒微之人何由而作？</p>
<p><u>遵行勿間斷</u></p>
<p>自「淡食」至「莫作」一十六條，遵而行之，不可忽焉。</p>
<p><u>可為陸地仙</u></p>
<p>縱不能飛昇，亦能延壽十紀，真陸地仙矣。</p>
<p>此書為馬齊作。按《先正事略》：馬齊姓富察氏，滿洲鑲黃旗人，一等敏果公米思翰之次子，由廕生受員外郎，累遷內閣學士河督尚書武英殿大學士改保和殿進太保贈太傅一等伯爵，諡文穆，以乾隆四年薨，年八十有八。銜條與此書頗合，但賜進士第不實了。</p>

<h1>〔附一〕治眼九法</h1>
<p>梳：將兩手之指揸開梳，自眉際至眼下，九次。</p>
<p>擂：屈兩大指骨，自大眼角橫搽至小眼角外，九次。</p>
<p>勒：並手指，橫勒眼皮，九次。</p>
<p>撮：揸五指，撮眼皮上，如撮物之狀，九次。一撮一摔，撮時閉目，摔時開目。</p>
<p>攀：左手從項後攀右眼，右手從項後攀左眼，各九次。</p>
<p>揉：屈兩大指骨，蘸少津唾，揉大小眼角，各九次。</p>
<p>運：搓熱兩手心，摩眼上，九次，如勒狀。</p>
<p>轉：閉目轉睛各九次。</p>
<p>閉：閉目良久，忽大睜開。</p>

<h1>〔附二〕茹穹子入道始終</h1>

<h2>入手</h2>
<p>諸真人說玄說妙，真個玄妙，然皆命寶凝性珠明，譬之秋成以後，谷谷咸熟，粒粒有味，百千真人，玄門家諸書，言言道妙，如百穀不可缺一，其所以得成熟者，莫不由春耕夏耨，及時培養得來。今學者不知真人入手一著，妄冀道妙，從半空而入，備極艱苦，以為道在是，是何異不耕耨而求秋成者？所以初學道者，妄冀有神仙之事，才坐思報，此理必不能深，未始有功□之修，雖得必失，此功□□能久。入手者先有善根，後堅道念，何患不成？</p>

<h2>身法</h2>
<p>凝神定氣，閉目合口，盤足而坐，右足疊外，兩手安兩足曲處。從□伸腰背，用力提兩手起，平肩分開一字，掌仰上伸，至頂合掌，分開彎抱懷中，右手疊左手，掐純陽訣，疊臍下，則一陽生於陰，而陰陽互包。先旋左肩，次旋右肩，貴圓，轉三十六數。提撮前後道如忍大小便狀，尾閭左右轉亦如轉左右肩數。然後叩齒，齒合定，舌向下攪中線，自左至右，復至左為一轉，開齒，舌向外唇，自下線卷至左，向上線，從右復下線，為一轉，津液滿口，漱吞下。以上俱三十六數，是為身法。</p>
<p>有生以後，人身出孔皆有液，皆不可復歸，惟舌下津液可飲，復歸五臟，故曰道水也。在人身曰氣也、液也，氣衰則液不起，液少則命不長。命之系在三線。舌下線為臟腑泉脈，線兩旁為陰之都，為百川四海之統匯，外唇上線為年壽，下線為疾病，三線左右無時不濕。萬物之生化，從陰入陽皆以濕生，則可知人生矣。真人以舌為赤龍，攪神水，吞精液，液化為精，精化為氣，氣化為神，神復化為液，液復化為精，精復化為氣，氣復化為神，輪轉無窮，運行無極，天地不足為久壽矣。《九皇上經》曰：始青之時月與日，兩半同升合成□，出彼玉池入金室，大如彈丸黃如橘，中有佳味甜如蜜。玉池者，舌下線兩旁之液。液與神氣一合，謂兩半合也。玉醴金漿原是大藥，而人身亦有之。假如習不唾法，有唾則咽之，令人精氣常存，面目光彩。又況液之湧為醴泉，液之聚為華池，液之降為甘露，液之靈為神水，隨攪隨服，無時不然。養精源於臟腑，宣百脈以長春，玉醴金漿莫過是矣。</p>
<p>舌下津液為在天所以與我之糧，而搬運不窮，資飲不涸，故曰糧泉。每一日可攪得十六兩，一晝夜計二斤。服津液歸臟腑，歸而復出，散而復歸。津液之菁華入丹田，每斤得一毫。勤學之士除飲食遊臥荒廢六個時，計一晝夜只得六個時服液，是每日有一毫至丹田。由外入內之功一年，計液入臟腑之數有三百六十斤，計液之菁華入丹田之數止三分六釐。行之一年，溉臟潤身；行之二年，化養萬神；行之三年，與天地齊。其徑又況抱藥飛身，晝夜咽升，得十二卣，全在於此。故曰：神水不離身，華池日月親，若能常得飲，便是大羅人。</p>
<p><u>由外入內之功</u>（此功行一年）</p>
<p>《易》曰：一合一闢謂之變，往來不窮謂之通，合闢往來見之鼻息，故曰氤氳開闢，其妙無窮。凡人胎中隨母呼吸，氣足受生，一點元陽聚於臍下，而上通於鼻，是云呼吸。呼吸者，氣之最先者也。氣之在人身，有八百十丈，經絡相纏，靡刻不運。朱紫陽曰：天地間只是一氣。自今年冬至到明年冬至，只是一呼吸，大則為天地一歲之呼吸，小則為人身一息之呼吸。天地人身萬物、精氣神合聚，去所不過呼吸兩字，然則入道者安得不於此處下手也？古真人多言服氣，是以有閉息至十至百至千者，世人不知其竅，亦效之。豈知閉息者，先吸多呼少，漸有吸無呼，後並呼吸俱無。故有一坐數日，一睡數年，即千百年猶是也，此已至仙之化境也。初學者不可效，何也？蓋閉息之功，妙在不動心，若忍住不出則心氣阻抑，神先囂矣。已動之心而復阻其息，內氣既亂，必招之疾。人心上千頭萬緒便是千生萬死。無生子仙師開示由外入內之功：由外者，由鼻息入也。吞液以來，將訣⊙頓在心上，數息一百以調和氣息，然後將前所頓在心上之訣⊙取出，安在兩鼻孔內，每一吸有五訣⊙，綿綿而進，至於呼則聽其自出。行之純熟，此時之心但能領略惟是皈依道訣，自無暇作別想，不收心而心自收。其妙在頓，初猶知有五進，已覺氣脈和暢，及至融貫，竟似不出，漸至不知有進，並不知有訣，乃是合外於內，而內之瑩然者出焉。五數，且二五，漸至三五、四五、五五，自然而進，毫無勉強。有從此得忘者，是云坐忘，靜極則忘，道根乃生；有從此得睡者，是云坐睡，精氣不倒，魂魄乃靈。忽然有氣自丹田起，湧至喉間為橐，漸至泥丸，氣衝下為龠。橐龠既見，其聲如雷，是云內呼吸。內呼吸已至，便不用鼻息，並無暇用訣。以由外入者，以外呼吸觸取內呼吸，今內呼吸已至，則外者可廢矣。世人無一事不用心，自用訣頓心，此如爐中火焰正飛，忽以一物頓於其上，焰自不起，而火之力皆為所頓之物之所用。頓心亦猶是，其以五數送入，如有聲者，即以鼻為口；其以五數輪轉，悉能照者，即以鼻為心。心死而神生，譬之汞然。汞之體無刻不動，有法以死之，汞死而寶成。此數在身為五官，在天為五行。儒體天之教，而以五倫治天下；佛出天之外，而空五蘊見吾心。不觀之易數乎？一三五七九，陽數也，天數五五二十有五；二四六八十，陰數也，地數六五得三十。天地之數，合五十有五。蓋以乾二五成十者，一九合也，坤二五成十者，四六合也；巽兌二五成十者，二八合也；震艮二五成十者，三七合也；離單得五，坎二五成十，坎離無偶。總之五十有五，不離五數也。呼接天根，吸接地根，大易衍五，天地之數，咸備人身。五官在父母胎中，官官皆⊙象。今訣以一⊙還一⊙，每一吸還五官，原自⊙之數而還之，既久仍自歸一，如大易五數之相生是為真息。故曰：息心明理儒之極，息氣凝神道之玄，息玄達本禪之機。古詩曰：諦觀三教聖人書，息之一字最簡直，若於息上做工夫，為佛為仙不勞力。其歸一者，一水也，道水一也。水之數原是五數，觀之土德一氣，火德三氣，金德七氣，木德九氣，而水德五氣，其數皆以單行，要不外二五成十之數。</p>
<p>寂兮寥兮，恍兮惚兮，杳兮冥兮，此何物也？⊙也。⊙內取真汞，⊙內採真陽。爐何在？太極是也；丹母何在？清淨是也：龍虎鄞鄂何在？無所為而為，不期然而然是也。行住坐臥皆可見此⊙。行之時，形動神凝，住之時，休靜神照；坐之時，心死神生；臥之時，氣精神一，是之謂真息。</p>
<p>鼻氣之入，止一寸二分而即出，出一尺二寸而未盡。人身之氣，大抵入數少出數多，此其驗也。訣之妙，只取其入而非苦於入，其入也，悠焉長焉。五進，非真以五吸而進也，綿綿耳；出，亦非聽其出而不之照也，出乃所以入耳。曷為其然？假如入數止一寸二分而即出，則雖有五入，而未能達於重樓，直至一出乃得下降，恍有一股暖氣自喉引至臍下，此時之心，領略出之妙勝於領略入之妙，是出非出也，出乃所以入也。</p>

<h2>得手</h2>
<p>由外者，取天地之氣也，外呼吸也，以外取內，橐龠已到，喜怒哀樂見未發矣，風火雷電云見已發矣。橐龠升降，肢體動盪，無為而為，不期然而然。此時鼻內竟無呼吸，所謂內呼吸也。人既得此，其樂無比，其喜無極，其變百出，一年來亦盡受用矣。然得手以後，大通原無可喜，雖已得手，有未得者，有得之更無窮者，喜樂之念亦隔礙念也。</p>
<p><u>由內入內之功</u>（此功第二年）</p>
<p>得手所喜，在內呼吸，然猶有出入，在由內者，無出入而有上下。蓋天地之所以長久，惟中氣不息。人秉中氣以生，因有官骸魂魄是為命。有生以後，能不失中氣，以合於天地之中氣，是為理。在開關時，此理入於臟腑肢竅而得極樂。為理與欲戰，欲不能勝理，久之而理著，又久之而理融。雖曰心死神生，然死者妄也，妄死而真生，真即為理。理即為神，既得真心，則萬化從心，心忘其心，惟有神行，而存於中，此「中」非中外之「中」，四維六合之「中」，中央之「中」，兩腎中間之「中」，心下腎上肺左肝右之「中」。靜中觀照，內呼吸漸生漸長，漸融漸細，上至泥丸，下入海源，而以心領略其妙，無弗會於中宮。塵心雜念一毫不起謂之中，四大五行一毫不著謂之中。吾神吾氣有持行之道，不可太過；有補虧之道，不可不及。故曰：寂然不動者，中之體；感而遂通者，中之用。就形以求之，心之上盡處為天，臍之下盡處為地，上盡處至下盡處計八寸四分。自上下四寸二分，自下上四寸二分之中為中，即玄門所謂規中也，規者尺也。地之去天八萬四千里，而以規合之，人處其中，為三才，人一身咸備之，天地之中氣在人身也。無呼吸而有上下者，益融益細，每一氣從中而上，有五⊙送上，每一氣從中而下，有五⊙送下，上至於心盡之天，下至於臍盡之地。行之既久，自覺忘氣合神，欲盡理見。始也精神魂魄意各安其位，既也精神魂魄意各安其居。中之兩頭，上下皆|，或以上|作頭，或以下|作頭，分道而行，油然融然。其以上作頭者，|貫上泥丸，從重樓直達而不由夾脊。其以下作頭者，|貫下湧泉，從氣海直達而不由脛骨。|所到之處便是玄關，至此不復用訣⊙上下，只以訣⊙安中處，如玄門存想法。是時受用，又非復開關時景象矣。其所以致此|者，大道猶大路也，由內之路，不以路為路而以水為路，水路既足，任其上下，當在一年之後，糧泉足乎一千八十時也，若初入手開關即思行此，則未有水路，舟安從行？故曰：經營鄞鄂體虛無，便把元神裡面居，息往息來無間斷，全胎成就合元初。天地之中氣在此，人體天地之中氣以為氣在此，生天、生地。生人、生萬物之中氣靡不在此。</p>
<p><u>由內化內之功</u>（此功第三年）</p>
<p>入道之妙，至無呼吸，天身、地身、人身，三身渾然一片，瑩然在中矣。猶有上下，則是有中間，而後有兩頭。兩則不一，上頭多|，下頭亦多|，未還於太極之⊙象，原未有上下之至一處也。無天無地無人則一矣，有天有地有人，歷不一而無不一則化矣。一從何生？生於無，自無生育，太極中一畫是也。上一畫天，下一畫地，中一畫人，畫三為乾。三身露矣，六畫成坤，三身之配，生二生三生萬，身愈多配愈多，不可復歸於一矣。然而無處非一何也？動靜一交而兩儀生，陰陽一交而四象生。一之見於老陽者，乾一兌二；一之見於老陰者，艮七坤八；一之見於少陰者，離三震四；一之見於少陽者，巽五坎六。卦之化生無非一之分現，故曰：一者天地之根，陰陽之祖，萬物之首，乃生神也。天地以一之根，生人而為神，人復以神之靈，生天生地生萬而歸於一，得一畢萬，確有其驗也。由內入內後，亦既得一而未化也。化者即從前之「中」，今去其上|、下|、並去其○，豎者作橫，以一頓於中，而用訣⊙五數，自左之一頭，以訣運轉，自左下轉至為上，四五訣，五<img>也。運轉行訣，微微綿綿，純一不己，此其時也。一者剛也，陽也。五訣運動，而柔之，而陰之，忽焉五<img>初如豆，漸如日如月，欠得天左旋之體，自然而然，運轉如車輪，分頭入五臟六腑九竅四肢，遍歷毛孔，迨其止也，忽然不見，而不知何所去。千變萬化，其妙不可言，又非復由內入內時快活矣。和合三家，混一三元，攢簇五行，鑿開七竅，調和五臟，返氣三田，周流六虛，一得永來，與玄門家到頭化境，總之一理。道家三乘，禪家五派，儒家五教，見為分別，實無分別。譬之燈然，處處光照，千燈萬燈，共成一火，是為歷不一而無不一，則化一之說也，故曰道一生，蓋水藏也。由外由內，兩年足乎七百二十斤之數，然後<img>者，可得運轉，其化如龍，龍不得水，何以神其變化耶？</p>

<h2>進步</h2>
<p>入內化內，行之三年，足乎糧泉。此時靜中受用，靜中體認，於極樂無比處，見陰陽之根，於極樂無比渾忘處，入混沌之竅。周身是理，不戰而勝，三尸六賊，不殺自殺。不滅自滅矣。然採取時，一千八十是液之精華；烹煉時，一錢八釐為丹之糟粕。其分頭入五臟六腑九竅四肢，遍歷毛孔，千變萬化者，液也，即丹也。而非丹之化而神，神而生，生而復化，化而復神者也，夫陰之氣，至亥而極，一陽乃生，故曰活子。人一身之氣之神，由午歷亥，陰濁不堪用，子時乃清。是時清神靜坐，清也，活也，皆水也，慮有道外之想，棼吾靜念，故曰息棼。息棼之息即胎息之息。息棼飲泉，行三線之功，曏者但卷赤龍，今則舌至線上，略存一存，存而後攪，攪而復存。此時之液，即一千八十菁華所升，其液較向時每一錢加重一分，是以當伸頸仰面，以力送下，向用吞，如日用飲食；今用咽，宜汩然有聲。已清之神，神之最靈動處為意，存誠神化之意，原非從心上起的，是為死心以後，去妄存真之意。意即道水，水活意活，水清意清。以此意送所攪之水，由重樓規中，從容送入臍下丹田，隨於丹田中，略存一存，運訣⊙，自左至右<img>五數，覺有暖氣發動，然後以訣將<img>者拽橫分開為兩頭，向後分入兩腎，復合為一，穿入命門，略存一存，然後以訣⊙作。<img>五數，引直而上，歷轆轤、夾脊、玉枕上泥丸，以訣⊙作<img>五數，覺有冷氣旋轉，意以為有水下至上，以舌頂上齶，迎入三線為一轉，又照前行起。初行九轉為率，後至二九三九至九九，其數以行功三日，乃如一九。初以意為有水下至上齶者，非真有也，訣也。行之九九，液中有菁華，菁華中有神化，入內化內之入丹田者，一千八十灌滿丹田，太極圈中不容空缺也，九九之入丹田者，一錢八釐猶嫌其多，損之又損，混淪圈中不著一毫也。三年所積，自一毫至十至百至千，而今九九功成，多者少之，少者微之，微者神之。去其千百十而復歸於一毫，此一毫為水中金，他處容不得，故仍歸氣海之母，乃丹田中，並此一毫容不得毛，猶有倫是也。又煉之至於微，微而無，無而神，神而復生，生而復化，丹之中，實無有丹，而真丹成矣，是之謂聖胎寶珠。其珠上升泥丸，有真水一點。香美不可名言，下於上齶，為真玉醴真金漿，即以此一點入三線，又攪又煉，此時有自然而然之功，不復用意與訣，而自然有聲，達至丹田。所至之路，其路以水為路，小則五湖，大則四海；而百川細流無不具。其聲以空為聲，五音八音，大塊噫氣，迦陵梵聲無不具。行之九九，以丹之中為無物，而物外有物，以丹之中為有物，而不物於物。無無有有，生生化化。神乎！神乎！言仙必加神，故曰神仙。人生甲子當去世，成丹以後，多留數十年，謂龜身難得，從此當愈加修煉也。</p>
<p>進步之說，去凡步而仙步也。進則不復退轉，無上之門也，前篇服活時之旨，原該浹死晝在內，復申言之。六陽至巳而絕，至午則梏亡而化為煙。煙從火，午者，火盡熾，既熾不名為火，名為煙。子之水不收拾而涸，午之火不收拾而煙，一也，其法亦照活時，清神靜坐，攪三線，水含於口中，未即行咽，而以意引起規中以上，至於心盡之天之火，其火之化而煙者，原是死心以後未盡滅之根，其火之可不化為煙，而仍還於水者，即是化內以來所最真之息。此火引起上重樓，而頓於中線，以一火而與三線之水交，水火濟，陰陽生，漸至少陰少陽，復歸老陰老陽。三水亦化為火，而純陽成，梏者浹之，死者生之，煙盡火明，是煉火之法也。火含口中，與三線交，約用訣⊙五五之數，然後以意送下，汩然有聲，照前以意送所煉之火，由重樓規中，從容送入丹田，略存一存，運訣⊙自左至右<img>五數，覺有冷氣發動，然後以訣將<img>者橫分為兩頭，向後分入兩腎，復合為一，穿入命門，略存一存，然後以訣⊙作<img>五數，引直而上至泥丸、以訣⊙作<img>五數，覺有暖氣旋轉，意以為有火下至上齶，以舌頂上齶，迎入三線，水火相見為一轉，至九九為率。此法與服活時，子午每日兼行，俟其自然而然，不見為水，不見為火，並不必行活時死晝之功，斯入聖矣。</p>
<p>玄門下手時，即攪華池，抵上齶，用子午功，鼻吸清氣，嚥下有聲，以意會及心，送至臍下，穿腎堂，過夾脊、陶道、天柱、風府、玉枕，透入泥丸，與服活時氣亦用意相似。而今用意何以在三年化境之後也？蓋玄門家所以誤人，在初下手即用意。意者火也，火動阻氣，氣鬱生疾，不開關猶可言也，若開關則夾脊一路，通道泥丸，天一之水，混沌已破，從此閉精，可得中法，倘欲念一動，其水已不能自安，加之媾淫一泄，其腦髓即從夾脊直流，下至腎堂，一泄無餘，為患將不可言矣。無生仙師道妙，在三年化境以後，始用此意，是為死心來、去妄存之意。意即道水，以訣⊙行之，訣不過引路，初猶有訣，水之既行，並從前訣一毫不用，存誠神化，可以了生死矣。故不死者死者也，死者不死者也。可以在家，享用一切，而為不損其真之至人；可以出家，抱藥飛昇，而成金身不壞之仙子。</p>

<h2>入手</h2>
<p>直體正坐，平手頂天。抱胎疊手，用力貴圓。捏純陽訣，垂簾勿愆。旋左右背，提撮谷便。尾閭擺折，叩齒漱玄。行是數者，六六皆然。維虛與靜，鼻息綿綿。風火雷電，云開氣旋。橐龠已見，卻病延年。</p>

<h2>進步</h2>
<p>清神靜坐，息棼飲泉。服活時氣，浹死晝煙。見祖在腦，云升惟淵，多行善事，漸寡世緣。胎成果結，魔閻避焉。後天而老，蛻形化仙。</p>

<h2>數息</h2>
<p>凡數息乃初入之工夫。人為物誘已久，一旦離境，不能自主，未凝而復散，故用心息相依法，拴系此心。由粗入妙，自一息數至百千息，方得此心離境，漸漸純熟，而息自調矣，此法最捷徑，最容易，最無病，與守丹田、守泥丸、守黃中者不同。</p>

<h2>調息</h2>
<p>凡息有四種：曰風，曰喘，曰氣，曰息。坐時鼻息有聲謂之風，往來頻促謂之喘，出入不細謂之氣，綿綿密密謂之息。風則散，喘則戾，氣則勞，息則定。所謂調者，但欲其不風不促不喘不勞而已，與數息不同。調息無意，數息有意。綿綿密密，若存若亡，息調則神自歸根，所以謂之胎息。</p>

<h2>胎息</h2>
<p>夫調息久，而神愈凝，而息愈微，又久則鼻中全無呼吸，只有微息在臍上往來，如嬰兒在母腹中一般，所以謂之胎息。息者，心無思，目無視，耳無聞，四體無動，如種火相似，真意燔結，雌雄相聚，微息綿綿，與虛空同體，自然與虛空同壽。</p>

<h2>丘真人呼吸歌</h2>
<p>呼吸歌，呼吸歌，呼吸原來是橐龠。呼吸上下閒來往。呼吸升降有著落。呼吸採藥知老嫩，呼吸法度不要錯。呼吸中間有一竅，呼吸惟恐無聲樂。呼吸以喉風順去，呼吸以踵聖逆奪。人人盡把呼吸過，不認呼吸空打坐。呼字坐在北斗下，吸字住在南宮角。呼字搬上崑崙頂。吸字運入三清閣。呼字洪濛開至竅，吸字未生弄橐龠。不是口鼻呼吸處，實笑愚人大弄錯。人死若得真呼吸，復舊如初又在世。有人識破呼吸處，拜訪明師說仔細。</p>
<p><u>桑榆漫志</u>（陶輔）</p>
<p>鼻陽也，飲天之六氣；口陰也，食地之五穀。氣以滋元，谷以養血。氣附血而固，如天之附地，血依氣而榮，如地之依天。血氣和而精生，精神堅而神爽。一不能招存，兩不能禁止。能禁者久視，能存者神乎。</p>
<p><u>推蓬寤語</u>（云間李豫亨）</p>
<p>丹書曰：五行順行，法界火坑；五行顛倒，大地成寶。夫地至廣大，何以能成寶也？蓋五行相生，俱自土中，而形見於外，故生金生水生木生火，而坤土之氣遂泄。如水不外流而藏體於金，火不外揚而藏體於木，金木交併復歸真土，則氣不散逸，為人物、為草木禽魚，而堅固不散，盡成黃金。氣不敗朽矣。故曰：遍地俱黃金也。知此，人能內固精神，不外施用，身中三寶亦如金之不敗朽矣，其長生久視奚疑？</p>
