<header data-type="book">
<h1>嬰童類萃</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王大倫</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1622">公元1622年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://rmda.kulib.kyoto-u.ac.jp/item/rb00001283">京都大學掃描本</a></dd></div>
</dl>
</header>

<h1>凡例</h1>
<p>大凡治病，藥用依時，方隨病制；寒熱溫涼，性各不一；宣通補瀉，貴乎得宜。恆存濟人、博愛之心，樂人之樂，憂人之憂，則藥無不效靈矣。謹附凡例九則：</p>
<p><u>一、辨風土</u></p>
<p>如北方凜冽，藥宜辛熱；兩廣煙瘴，解毒為先；雲貴高暖，清涼取勝，江南亦然；江北則地卑多濕，辛溫是主。推之九州風氣而用藥，罔不效者。</p>
<p><u>一、按時令</u></p>
<p>春季則以升陽散火，加以辛溫；夏則清暑益氣，濟以清涼；秋當肅殺之時，清金去燥；冬則閉藏之候，藥宜辛熱。故曰：必先歲氣，毋伐天和，此之謂也。</p>
<p><u>一、守經</u></p>
<p>幼科諸症，治驚最難。大率琥珀抱龍丸、紫金錠、睡驚丸、利驚丸、利驚丹，俱皆良劑。痰甚，玉芝丸、白玉餅、牛黃八寶散、牛黃丸、蠍梢餅，皆治驚之要藥也。審症而投，無有不效。非經驗者不贅。</p>
<p><u>一、用權</u></p>
<p>凡用藥當從王道之劑，即有偶爾不效，不至傷人。若附子、蜈蚣、全蠍諸有毒之藥，不可浪用。藥不投症，害兒不淺。如慢驚，諸藥不效，不得已而用之，亦當斟酌，中病則已。如金石之藥，取以鎮驚安神，多服令兒癡呆。麝香、冰片，用以通竅，多服返泄真元。巴豆有定禍亂而致太平之功，非製得法，返受其害矣，舉此為例，則諸毒藥之可知。凡用毒劑，以甘草煎引佐之則善矣。</p>
<p><u>一、芽兒當下即下</u></p>
<p>兒初生落地取遲，口吃惡穢內蓄，腹脹不乳，亦似臍風；或乳少以食哺兒，或乳多，又將餅食哺兒；又有將柿餅黑棗哺兒者，芽兒無知，任彼喂之，開口便納。幼年之婦，見兒肯吃，喜而喂之不已。余目擊種種，庶不知芽兒初生，腸胃脆薄，此物日積，何能克化，以致肚腹膨脹，嘔吐發熱，諸疾生矣。病家昧而不言，醫者不知，苟不察而用諸驚之藥，大謬之甚，欲求病愈可乎！宜感應丸如菜子大七八丸和平胃丸少許，生薑紫蘇甘草湯下。出月者加五六丸。凡遇此症宜即下，食消而病愈。此良法也。況小兒純陽之體，即下未必便虛，失下遲延，日久病日甚，痞塊內作，多致不救。</p>
<p><u>禁挑筋論</u></p>
<p>一、夫小兒兩手虎口風、氣、命三關，即大人兩手寸關尺之脈也。左辯心肝之理，右察脾肺之情。有諸內，故形見於紋，視形察色，以驗病症，以決死生，非細故也。余郡原無此術，禍於羅平野。古有小兒推拿法，村落無醫，用此法援一時之急耳。以薑蔥擦印堂虎口，摩擦肚腹上，藉蔥姜之力，開通毛孔，取微汗即愈。平野術且不精，兒羅害多矣。平野死，但在通郡教書者俱云：平野傳授，又變而為挑筋之說，真胡說可笑之極。若虎口三關筋可挑，必有傳授之書可據，出於黃帝素問乎？出於歷代明醫乎？出何經典乎？病家昧而不知，恣行無憚，視兒為奇貨，反構索謝儀，所為惑世巫民，深為可恨。小兒疾三間虎口筋可挑，則大人有疾，寸關尺之筋亦可挑乎？凡針灸必看人神所在，挑筋者諒不知此，豈顧人神所在乎！如值之，兒受禍豈淺淺耶。筋有大絡小絡，各有定數，容易可挑斷耶。此術不禁，則流漫不已，俟道中高明正之。筋斷紋絕，兒有疾何憑治之？</p>
<p>一、兒初落地，穩婆即將砭針割舌下筋，致血淋漓，以墨塗之，因而口害，畏痛不乳。余甚不忍，問之何意？彼云：不割，兒長大舌強語言不利。生此孟浪之言，未割者多未常見語言不利，鄉村之間，那得穩婆？執此可破，不該刀刺明矣。</p>
<p><u>落地受驚論</u></p>
<p>一、兒初生，穩婆將兒地上滾轉數遍。彼言：如此兒膽大不懼驚嚇。愚人聽從行之。殊不知兒初脫胞，從曖處來，芽兒落地，便知驚嚇，隨時變驚者有之，臍風撮口者有之。夏月猶可，冬月冒寒。肺主皮毛，喜溫惡寒，致兒咳嗽喘急者有之。寒傷腎，腎先著之，偏墜疝氣者有之，寒氣入腹，皮鱗骨瘠、腹中冷痛者有之。種種他症，如膠入漆牢不可解。好好芽兒無辜受害，齧臍何及。</p>
<p><u>小兒禁洗浴</u></p>
<p>一、兒初生，將豬膽汁洗浴，令膚細膩，且無瘡疥。如無，用軟絹輕輕洗之，其白垢自退。每見穩婆將肥皂洗兒頭面，抹入眼中，致目日久不開，因害成瞽有之；且令皮膚粗澀，亦不可頻洗，泄兒元氣或傷臍帶，臍瘡終身痼疾矣。</p>

<h1>上卷</h1>

<h2>小兒初受氣論</h2>
<p>聖濟總錄：小兒在母腹中，受其精氣而成形。一月血凝，二月成胚胎，三月如桃花，陽神為魂，四月分四肢，陰靈為魄，五月五行分五臟，六月六律定六腑，七月七精開竅，八月八景俱全，九月氣象成，十月百神集備而生也。生後六十日瞳子成，笑語識人；百日任脈生能反覆；一百八十日尻骨成能獨坐；二百一十日掌骨成能匍匐；三百日脛骨成能獨倚；三百六十日為一期，骨節成乃能移步而行。夫醫之道至難也，治小兒則尤難。蓋周歲之間，精神未備，骨格未堅，形聲未正，脈息未全。語不能問其得病之由，脈不能診其必然之理。故云：冠壯易明，幼童難治。苟不潛心玩味，何乃寄幼兒之司命也。</p>

<h2>受胎論</h2>
<p>人皆謂嬰兒滿十月而生，余究內經理，二百七十日實為定論。蓋就中虛計一月，以應十個月之數也。經云：九九為上，八八次之，七七又次之。凡人之生，稟二儀之氣會合，三才之道各得其九，三九二十七，則二百七十日而生。八八者，三才各得其八，三八二十四則二百四十日而生。七七者，三才各得其七，三七二十一則二百一十日而生。其逾十月而生者為大過，其七八月而生者為不及。大過者氣血陰之有餘；不及者，血氣養之不足也。大抵人得中道而生，陰陽劑合，剛柔兼濟；氣血相和，百脈相調；心智明通，精神全備；臟腑充實，形體壯健。觀其顱囟便可知矣。未周之兒，顱囟堅合，睛黑神清，口方背厚，骨粗臀滿，臍深肚軟，莖小卵大，齒細發潤，聲洪睡穩，此乃受氣得全者。如二三歲，其囟尚大解開，齒髮未生，手腳攣縮，膝如鶴節；或五六歲，尚不能行，身體手足瘦瘠者，此皆受氣不足故也。</p>

<h2>小兒形證歌</h2>
<p>初生芽兒一塊血，也無形症也無脈，有驚須知是胎驚，有熱須知是母熱。三朝繃抱未安和，七日一臘古來說，臍風撮口老孃乖，鎖肚青筋唇口撮。又有因邪客忤兒，不乳一宵神自脫，蠍蛇餅子保安康，琥珀抱龍亦可啜。若知難救病須臾，嫌兒指甲兼唇黑。女子初生小便血，正是胎中受熱得；男兒兩目閉不開，或患丹瘡俱熱極。二症皆宜化毒丹，血出單煎生地黃。月中口內生痰涎，將衣向火或加綿，神情不穩目斜視，強直反張真可憐。用藥若認驚風錯，涼心牛黃散安樂，利驚少許地黃煎，加些白蜜神仙藥。芽兒未周便識驚，忌物擊響不安神。月內半周及襁褓，驚熱須當審變蒸。三十四日為一變，六十四日為一蒸，一十八次變蒸足，方有脈自寸口生。變蒸未足在面部，左眼太陽陰右處，眉稜上下俱屬木，準是中宮鎮心土。耳間屬腎常主虛，唇口兩畔脾所居，面中顴臉屬心火，惟有人中是肺都。五行相生重卻生，若還相剋用工夫，順候易治逆難療，智不通兮性莫粗。心主驚兮肺主氣，肝主風兮脾主味，胃家不溽冷兼虛，吐瀉不止驚風至。自古皆言心主驚，五臟六腑皆驚名，心驚血散氣不復，流入諸經百病生。肺經咳嗽並喘急，嘔吐無時脾胃因，腎候咬牙肝眼搐，夜啼常恐臉紅心。五心熱是脾家咎，面青翻白膽主驚，若是三焦口作渴，流入膀胱卵作聲。</p>

<h2>顱囟要略</h2>
<p>顱囟青筋　脨虛不榮　顱囟常陷　湑瀉無停　顱囟虛軟　顛癇不免　顱囟扁闊　暴瀉易脫　顱囟腫起　風痰不已　顱囟久冷　吐瀉青青　顱囟歪長　風作即亡　顱囟連額　驚風易得　顱囟未充　怕熱怕風　顱囟緩收　胎氣不周　顱囟動數　神氣昏弱　顱囟寬大　受疾恐害　顱囟未合　筋骨軟弱</p>

<h2>擇乳母論</h2>
<p>小兒隨母呼吸，母安則子安，母病則子病，此必然之理也。凡擇乳母，須要婉靜寡欲，無痼疾並瘡疥者。且兒稟父母之精血，化育而生。初離胞胎，血氣脆弱，憑乳母之乳而生養焉。乳母肥實，則乳濃厚，兒吮之則氣體充實；乳母瘦瘠，則乳清薄，兒吮之則亦清瘦體弱。壯實肥瘦，系兒終身之體格非小故也。強悍暴戾，和婉清靜，亦習隨乳母之性情，稍非其人，兒亦隨而化矣。猶涇渭之分焉，源清則派清，源濁則派濁。又有體氣者，兒吮此乳，則腋下狐臭不免。又有生過楊梅瘡者，兒吮此乳，即生此瘡。如出痘症，十難全一。父母有此瘡者，胎中受毒，出痘亦然。余目擊非藥所能救者，擇乳母可不慎歟。</p>

<h2>慎護論</h2>
<p>巢氏曰：將養小兒，衣不可大暖，熱則汗出，而表虛風邪易入。乳不可大飽，則胃弱而易傷，積滯難化。千金論云：夏不去熱，乳兒令嘔逆。冬不去冷，乳兒令咳痢。葛氏云：乳者，奶也。哺者，食也。乳後不可與食，食後不可與乳。小兒曰芽兒者，猶草初生之芽。脾胃怯弱，乳食易傷，難以消化，初得成積，久則成癖。自我致寇，又何咎焉。張煥曰：小兒周歲，膝骨成乃能行，此乃是定法。若襁褓不令佔地氣藏之，房帳之中使之不教見風日，致令筋骨緩弱，過歲不行，誠非愛護之法。譬如草木，生於山林容易合抱；至若園囿異果奇花，常加培植，秀而不實者有矣。</p>

<h2>護持歌</h2>
<p>養子須調護，看承莫縱馳；乳多終損胃，食壅則傷脾；衾厚非為益，衣單正所宜；無風頻見日，寒暑順天時。</p>

<h2>調理五法</h2>
<p><u>一要背暖</u></p>
<p>經云：其背脊三椎，六節兩傍，是肺俞二穴。若風傷於肺俞，使人毫毛卓立，皮膚閉塞而為病。其症或咳、或嗽、或喘、或嘔噦、或吐逆，及胸滿、憎寒、壯熱皆肺俞受寒而得也。故曰背宜暖。</p>
<p><u>二要肚暖</u></p>
<p>俗云：肚無熱肚，肚者胃也。胃為水穀之海，若冷則物不腐化，腸鳴腹痛，嘔吐、泄瀉等疾生焉。經云：胃熱則消穀善飢，所以能飲食也。故曰肚宜暖。</p>
<p><u>三要足暖</u></p>
<p>經云：其足陽明胃經，乃胃經經絡之所主也，故云寒從下起此之謂也。故曰足宜暖。</p>
<p><u>四要頭涼</u></p>
<p>經云：頭乃六陽之會，諸陽之所湊也。頭腦為髓之海，若熱則髓溢汗出，或顱囟腫起，或顱囟開解，或頭瘡目疾。故云頭無涼頭。故曰頭宜涼。</p>
<p><u>五要心胸涼</u></p>
<p>其心屬丙火，若外受客熱，內接心火，則內外俱熱也。其症輕則口乾舌燥腮紅，重則啼叫驚掣。故心胸宜涼。</p>

<h2>長壽無病歌</h2>
<p>小兒長壽相，體態自昭然。鼻中干無涕，喉中絕沒涎，頭如青黛染，唇似點朱鮮，臉方花映竹，頰綻水中蓮。喜引方才笑，非時手不宣，縱哭無多哭，雖眠不久眠。意同波浪靜，性似鏡中天。此子身多吉，何憂病患纏。</p>

<h2>壽夭歌</h2>
<p>身軟陽痿頭四破，臍小臍高肉不就，發稀色脆短聲啼，遍體青筋俱不壽。尻腫臏骨若不成，能踞能行能立死。臍深囊黑性尊持，方是人家長命子。</p>

<h2>雜病證候歌</h2>
<p>望聞審察嬰兒病，諸症原由當細評。先觀面部推五色，某色某臟各呈形。心赤肝青肺主白，脾黃腎黑自分明。歲氣合來參四季，寒熱溫涼藥變更。次觀虎口何色現，紅輕青重黑非輕。風關初見為易治，氣關紋見病邅迍；若在命關危惡候，透指膏肓藥不靈。眼赤羞明肝家熱，驚搐啼叫屬心經，嘔吐瀉痢脾土厄，水腫痞積亦脾經。面青眉皺心腹痛，臉上斑癬蚘鱉真。積聚日久成雀目，口臭牙宣胃火蒸。傷風咳嗽病在肺，痰喘氣急肺寒凝。龜背卻因寒客背，龜胸肺熱症相應。疝氣偏墜寒在腎，走馬牙疳亦腎經。疳有五疳分五臟，驚風八症熱痰生。渾身瘡癤乳熱毒，頸項痰核火結成。小便不利膀胱熱，大腸蓄熱便不行。借問驚癇從何起？風痰火熱一齊興。傳變慢驚脾困極，亦有風寒變此形。反張目閉肢瘛瘲，速灸關元尚可生。此是幼科入門訣，請君牢記在心經。</p>

<h2>一見生死歌</h2>
<p>幼童死症辯何形　二十五種甚分明　抱著遍身不溫暖（血絕）　四肢重軃哭鴉聲（骨絕）　鼻乾黑燥目直視（脾絕）　啼哭無淚瀉涎青（肝絕）　撏眉摘眼爪甲黑（肝絕）　泥垣腫起或為坑（腎絕）　將口咬人魚口急　腳直肚大有青筋（氣絕）　上覷似視於高物（膽絕）　長噓出氣黑侵唇（肺絕）　吃乳不收舌出口（胃絕）　唇不蓋齒眼眶青（脾絕）　瀉痢便變黑黯血（心絕）　偏搐自笑沒心情（心絕）　不論貴賤及男女　救療十人無一生。</p>

<h2>惡症十五候</h2>
<p>眼上赤脈、下貫瞳人、囟門腫起、兼及作坑、鼻乾黑燥、肝大青筋、目多直視、睹不轉睛、指甲黑色、忽作鴉聲、弄舌虛出、齒戛咬人、魚口氣急、啼不作聲、蚘蟲鼻出、必是死形。用藥速救，十無一生。</p>

<h2>通真子診脈歌</h2>
<p>小兒三歲至五歲　呼吸須將六至看</p>
<p>七至不安十至田　短長大小有邪干</p>

<h2>診脈歌</h2>
<p>小兒脈大多風熱　沉細原因乳食結　弦長多是膈肝風　緊數驚風四肢掣　浮洪胃口是火燒　沉緊腹中痛不歇　虛濡少氣更兼驚　脈芤便痢並失血　前大後小童脈順　前小後大必食結　四至洪來主煩滿　沉細腹中痛切切　滑主霧露冷所傷　弦長客忤分明說　五至夜甚浮大晝　六至夜細浮晝別　息數平和六至五　此是聖人傳妙訣</p>

<h2>診脈捷徑歌</h2>
<p>浮沉遲數四般脈　五臟六腑為準則　浮主風邪病在表　沉主在裡及筋骨　遲脈為寒兼是虛　數者熱多依此例</p>

<h2>五經統論</h2>
<p>肝在天為風，在地為木，在人為肝，在時為春。腎水為母，心火為子。主筋，主藏魂。其聲呼，其液泣，其味酸。上應眼，外應爪甲，其色青，欲如青玉之光澤，不欲如藍。肝主風，風喜傷肝，病主驚風。急怒氣逆則傷肝氣。痘主水泡。燥氣盛則病。面白則逆（金邪剋木也。）</p>
<p>肝病：面青筋急，多怒目痛，自閉不欲見人，臍左動氣。</p>
<p>肝實：目赤，多怒，頭眩，引脅痛，連小腹之下。</p>
<p>肝虛：目昏，胸痛，筋縮拘攣，恐懼如人將捕。</p>
<p>肝絕：唇反腮青，四肢多汗，多泣，舌卷囊縮。</p>
<p>當春之脈則弦緩而長，為善，旺春七十二日。</p>
<p>賊脈浮澀而短，（金剋木。）危脈弦如弓弦，無胃氣死。</p>
<p>心在天為熱，在地為火，在人為心，在時為夏。肝木為母，脾土為子，克肺金。主血，主藏神。其聲言，其液汗，其味苦，上應舌，外應掌。其色赤，赤欲如帛裹朱不欲如赭。心主熱，熱喜傷心。病主驚熱，憂愁思慮則傷心。痘主紅斑。寒氣甚則病。面黑則逆。（水剋火。）</p>
<p>心病：面赤喜笑，心煩掌熱，口渴開目，妄語，臍上動氣。</p>
<p>心實：口乾喜笑，身熱汗出，肋脅應背作滿痛。</p>
<p>心虛：恍惚多驚，憂煩少色，咳嗽舌強，腰背痠疼。</p>
<p>心絕：搖頭直視，色如煙煤。</p>
<p>長夏之脈，當洪緩浮大而散，來疾去遲為善。</p>
<p>賊脈沉濡，（水剋火。）旺夏七十二日。</p>
<p>危脈洪大無胃氣者死。</p>
<p>脾在天為濕，在地為土，在人為脾，在時為四季。心火為母，肺金為子，克腎水。主肌肉，藏意智。其聲歌，其液涎，其味甘，上應口，外應四肢。其色黃，欲如羅裹雄黃不欲如土。乳食飢飽則傷脾，痘為膿漿。風勝濕則病。而青為逆。（水剋土也。）</p>
<p>脾病：面黃善思善嗜，體重卵痛，四肢怠惰不收。</p>
<p>脾實：肢體重著而不舉，腹脹尿秘而若飢。</p>
<p>脾虛：嘔逆瀉痢，乳食不消，腫脹腸鳴，四肢無力。</p>
<p>脾絕：臍突唇反，環口黧黑，柔汗發黃。</p>
<p>脾土之脈和緩溫厚，行於臟腑之間，平和不見衰乃見焉。四季之月，各旺一十八日。</p>
<p>賊脈弦長而緊。（木剋土。）危脈來如雀啄、屋漏者死。</p>
<p>肺在天為燥，在地為金，在人為肺，在時為秋。脾土為母，腎水為子，克肝木。主氣，主藏魄。其聲哭，其液涕，其味辛，上應鼻，外主皮毛。其色白，白欲如白玉之光澤，不欲如堊。肺主燥，燥則傷肺，病咳嗽。形寒飲冷則傷肺。痘為膿泡。痧屬肺經，面赤則逆。（火邪剋金也。）</p>
<p>肺病：面白悲愁不樂，寒熱喘咳，噴嚏吐衄，右脅動氣。</p>
<p>肺實：喘促咳嗽，上氣鼻塞，脛股肩背疼痛胸滿。</p>
<p>肺虛：呼吸少氣，鼻涕嗌乾，喘乏咳血。</p>
<p>肺絕：汗出如珠，發毛氣出汗而不休。</p>
<p>秋肺之脈宜微浮短澀為善。旺秋七十二日。</p>
<p>賊脈洪大牢。（火剋金也。）危脈如風吹毛，無胃氣死。</p>
<p>腎在天為寒，在地為水，在人為腎，在時為冬。肺金為母，肝木為子，克心火。主骨，主藏精志。其聲呻，其液唾，其味鹹，上應耳，下應腰腎。其色黑黑欲如漆光澤不欲如炭。腎主寒，寒則傷腎。其病疝。（偏墜。）欲甚傷腎。痘主黑陷。濕氣盛則病，面黃甚則逆。（土邪剋水。）</p>
<p>腎病面黑恐欠，手足寒厥，腹痛滲瀉，後重，臍下動氣。</p>
<p>腎實：腹脹體重，少氣不言，骨痛餐泄，小便少。</p>
<p>腎虛：心懸如飢，胸痛引脊，厥逆，溲多，耳鳴。</p>
<p>腎絕：反目直視，狂言遺尿，腰折骨枯。</p>
<p>冬腎之脈宜沉濡，旺冬季七十二日。</p>
<p>賊脈緩而大。（土剋水。）危脈來如解索，去如彈石，無胃氣者死。</p>

<h2>變蒸賦</h2>
<p>凡看嬰兒，先明四時。既有變蒸之狀，還有強弱之推。寒熱初來，慎一七而方退；周期未滿，當四八以重期。原夫魂魄將營，筋骨始成，開舒腠理，通徹奇經。運用而陰陽以正；往來氣血初平，頓覺精神，喜笑嚶嚶，有異未知變蒸，仔細一一須明。肝者干也，東方所屬為木，象之三數，發形證於兩目。渾身壯熱，令瞳子以無輝；徹夜驚啼，因神魂而未足。四數於金，二由在火。咳嗽頻頻，汗珠顆顆。兩日間噴涕仍加，數夜虛驚。又可暗增骨髓，學反復以翻身；漸長性情，畏傍人而戀母。脾土五呼，腎水一稱。穀氣暗引，精志時增。乳哺甘甜，尻骨成而獨坐戲；經絡流利，掌骨具而匍匐能。次後筋骨之少更；膝踝之漸硬。氣血乃榮於四肢；光彩而盎於滿面。停停立猶未穩，嘍嘍語尚聲顫。手足受血，移步行而堪憐；耳目精通，意智生而可羨。斯乃呼息稍勻，肌體乃厚。兩氣而外陽內陰；一氣而入鼻出口。期來應節，自然臟腑充盈，將養乖宜，感受寒邪，甚有於是發豎無潤，乳哺吐嘔，珠起丹唇；冷侵骫骨，內腸鳴而微利，或驚啼而勿喜。經云：蒸則蒸氣血之堅，變則變形容之正矣。</p>

<h2>變蒸日例</h2>
<p>三十二日，一變生癸，腎臟生焉。　屬足少陰經。</p>
<p>六十四日，二蒸生壬，膀胱腑氣生焉。　屬足太陽經。</p>
<p>九十六日，三變生丁，心臟氣生焉。　屬手少陰經。</p>
<p>一百二十八日，四蒸生丙，小腸腑氣生焉。　屬手太陽經。</p>
<p>一百六十日，五變生乙，肝臟氣生焉。　屬足厥陰經。</p>
<p>一百九十二日，六蒸生甲，膽腑氣生焉。　屬足少陽經。</p>
<p>二百二十四日，七變生辛，肺臟氣生焉。　屬手太陰經。</p>
<p>二百五十六日，八蒸生庚，大腸腑氣生焉。　屬手陽明經。</p>
<p>二百八十八日，九變生己，脾臟氣生焉。　屬足太陰經。</p>
<p>三百二十日，十變五蒸生戊，胃腑氣生焉。　屬足陽明經。</p>
<p>心胞絡臟三焦腑，此臟腑俱無形，故不變亦不蒸焉。</p>
<p>十變五蒸訖後，又三大蒸，計六十日一蒸。</p>
<p>三百八十四日為一大蒸，四百四十八日為二大蒸，五百七十六日為三大蒸。</p>
<p>共五百七十六日，變蒸俱畢，兒乃成人。所謂變者，變生五臟也；蒸者，蒸養六腑也。變蒸全，血脈方榮，骨節方長，情性方異於前也。凡當變蒸之時，先看兒上唇尖有水泡微腫即斯候也。切不可藥攻火炙傷兒。慎之！慎之！</p>

<h2>看三關證經訣</h2>
<p>小兒三歲以前，若有疾病，須看虎口三關脈紋，次辯何樣以知病源，再看五色，以知深淺吉凶。紅黃病淺，青紫病深，黑至重。男左女右察之。</p>

<h2>入門辯症歌</h2>
<p>初起寅關淺，紋形過卯深，生枝終不治，辰位實難禁。五指稍頭冷，驚來未可安。若逢中指熱，必定是傷寒。中指獨自冷，痧痘證相傳。女右男分左，分明仔細看。</p>

<h2>相手指訣</h2>
<p>當辨左手之紋，病應心肝；右手之紋，病應脾肺。放此消息之，凡紋透甲者死，紋黑死。</p>
<p>凡紋向內者，雖重可治。如弓反外，病輕必重，難治。如流珠形見於關口或面俱不治。</p>
<figure>
<img alt="三關圖">
</figure>
<p><u>一風關易治</u>　二氣關病深　三命關難治</p>

<h2>指紋總歌</h2>
<p>魚刺初驚候，懸針瀉痢多，水紋驚肺積，乙樣是肝訛，曲蟲驚疳病，環弓一論過，亂紋蟲咬甚，流珠病已疴。</p>
<figure>
<img alt="魚刺紋　懸針形">
</figure>
<p><u>魚刺紋○形如魚刺是初驚，遍體如湯麵色青，吐瀉燥煩如是此，通腸和氣便惺惺。</u></p>
<p>懸針形○形似懸針瀉痢多，發驚身熱定違和，此病若變驚風慢，命關已度是沉疴。</p>
<figure>
<img alt="水字形　乙字形　曲蟲形">
</figure>
<p><u>水字形○形如水字肺家驚，虛積相傳面色青，鬲上有痰須與治，命關已過命難存。</u></p>
<p>乙字形○形如乙字病因肝，眼慢驚啼瘛瘲間，冷積久傷傳變此，慢脾風已度三關。</p>
<p>曲蟲形○形如蛇曲病應深，脾積疳勞又帶驚，未過二關宜早治，若過三關更莫論。</p>
<figure>
<img alt="來蛇形　去蛇形　來去蛇形">
</figure>
<p><u>來蛇形○來蛇停食並積聚，腹內不安常啾唧，十全丹服是良方，不必求神並拜佛。</u></p>
<p>去蛇形○去蛇形症多風熱，疳積相應變此形，壯熱惺惺宜解散，若到三關症不輕。</p>
<p>來去蛇形○來去蛇形內外虛，脾家疳熱發毛稀，扶脾養胃消疳積，命關若到藥休提。</p>
<figure>
<img alt="彎弓形　玉環形　亂紋形">
</figure>
<p><u>彎弓形○形如弓樣是疳癆，肌肉尪羸內火燒，醫與環形同一治，免教他日哭啕啕。</u></p>
<p>玉環形○形似環弓疳積評，好餐泥布炭茶頻，急用消疳脾積藥，若過三關命必傾。</p>
<p>亂紋形○亂紋蚘症更何疑，曉夜悲啼識者稀，急取玉露膏一服，敢教父母笑嘻嘻。</p>
<figure>
<img alt="雙環形　川字形　流珠形">
</figure>
<p><u>雙環形○雙環形現氣關中，紅紫風邪青是寒，認症早尋良藥治，三關已到死難逃。</u></p>
<p>川字形○形如川字在三關，紫赤黃紋亦不妨，醫藥即同亂紋治，青黑相臨命必難。</p>
<p>流珠形○流珠惡候急須醫，病人膏肓莫療之，三間若見兒休望，安排後事更無疑。</p>

<h2>驗新生死訣</h2>
<figure>
<img alt="驗拳生死訣">
</figure>
<p><u>驗急慢驚風握拳生死訣男握此拳則順，女握此拳則逆。</u></p>
<p>女握此拳大指內藏為順，男握此拳則逆不可治。</p>
<p>此症不俱男女，三歲至十三四歲，握此拳者，百無一生。驗驚良法也。</p>

<h2>面部總圖</h2>
<figure>
<img alt="面部總圖">
</figure>
<p><u>頭乃諸陽經絡之所聚，面者五臟氣血之榮枯，臟者神之舍，色者神之旗。五臟衰敗面色枯槁，五臟充實面色光華。故容色光澤者壽，容顏枯槁者夭。凡看嬰童必先望氣色盛衰，凶吉可知矣。</u>中庭與天庭，司空及印堂，額角方廣處，有病定存亡，青黑驚風惡。</p>
<p>體和潤澤光，不可陷兼損，唇黑最難當，青黑順憂慮，昏暗實堪傷。</p>

<h2>面部七圖</h2>
<figure>
<img alt="面部應五臟圖">
</figure>
<p><u>面部應五臟配五色，某部見某色病，順四時者生，克四時者為逆，各隨其部位治之。</u></p>
<figure>
<img alt="面部應八卦圖一">
</figure>
<figure>
<img alt="面部應八卦圖二">
</figure>
<p><u>五行生、克、旺、相、休、囚、死、絕，看在何位，方知凶吉，隨卦決生死也。</u></p>
<figure>
<img alt="面應五色之圖">
</figure>
<p><u>看天庭並兩顴骨，或青黃紫黑紅紋，或入口不入口，決吉凶生死如神。滿面無紋惟見黑色，天庭、兩額黑霧騰騰者，百無一生。</u></p>
<figure>
<img alt="面應天干地支圖">
</figure>
<p><u>面部觀五色以知五臟之病。青主肝、赤主心、黃主脾、白主肺、黑主腎。又看大小腸、膀胱並三焦色現何部，當隨其經而治之，則病情無逃矣。</u></p>
<figure>
<img alt="黑紋侵部位之圖">
</figure>
<p><u>此紋成黑點，如現面部必是死症，雖神藥不能救。更看何色，亦急驚，青慢驚，黃白紋來朝猶可，黑紋鎖目過眼上死，紫色亦死。</u></p>
<figure>
<img alt="面應五嶽四瀆圖">
</figure>
<p><u>面應五嶽四瀆，頭圓象天，口方應地，眼目猶日月，血脈似江河，毛髮若草木，聲音如雷霆。聲音洪遠者貴，細無韻者貧。能聽聲察色，貴賤定矣。</u></p>
<figure>
<img alt="面部諸症驗紋圖">
</figure>
<p><u>紋如雙鉤主傷寒，如環有腳主傷食，如蟲三曲食毒物，如紋、或青白赤入口、或過目俱重可治，若見黑色則不可救矣。</u></p>

<h2>諸穴面圖</h2>
<figure>
<img alt="面圖">
</figure>

<h2>諸穴背圖</h2>
<figure>
<img alt="背圖">
</figure>

<h2>驚風二十四圖</h2>
<p>（附灸諸驚穴）</p>
<figure>
<img alt="第一喘腦驚">
</figure>
<p><u>小兒喘急欲成驚，潮熱猶同似火蒸，此症當分寒與熱，臍下三火妙如神。</u></p>
<p>臍下照圖各三壯，不可與乳食；琥珀抱龍、紫金錠、白玉餅、定喘湯。</p>
<figure>
<img alt="第二胎驚">
</figure>
<p><u>胎驚原從胎里來，兩脅脹滿哭哀哀，或驚或厥依圖治，保取嬰兒脫病治。</u></p>
<p>牛黃散、蠍蛇餅子、利驚丹，並效；心下灸三壯，攢臍五火。</p>
<figure>
<img alt="第三厥逆驚">
</figure>
<p><u>厥逆驚原嚇上來，雙手豎起目瞪呆，醒來手足猶驚戰，灸照圖經病自瘥。</u></p>
<p>男左女右，灸手腳心各三壯；利驚丸、琥珀抱龍丸並效，熱甚惺惺散。</p>
<figure>
<img alt="第四眠厥驚">
</figure>
<p><u>眠厥驚原飲食來，睡中驚覺意癡呆，虛汗纏身心腹脹，依圖灸治免悲哀。</u></p>
<p>左右耳下灸三壯，合谷三壯；先消食，次鎮驚，熱甚惺惺散加神麯、枳實。</p>
<figure>
<img alt="第五走厥驚">
</figure>
<p><u>走厥驚風一跌死，痰纏咽喉搐不已，四肢溫暖灸則生，肢冷麵青命已矣。</u></p>
<p>灸手足心各三壯；先用通關散，得噴涕則生，次用鎮驚藥。</p>
<figure>
<img alt="第六兔兒驚">
</figure>
<p><u>兔兒驚是風寒症，乳食嘔吐壯熱甚，腹膨消食解風邪，按此圖灸病自退。</u></p>
<p>心下兩肘各三壯；利驚丹、黑神丸，熱不退羌活湯、加味惺惺散。</p>
<figure>
<img alt="第七吐瀉驚">
</figure>
<p><u>吐瀉驚從脾胃虛，或停乳食亦如之，依圖灸治還宜藥，分利扶脾病自除。</u></p>
<p>心上、心下、臍上各灸三壯；保驚錠、牛黃散、補脾益真湯、銀白散。</p>
<figure>
<img alt="第八痘痧驚">
</figure>
<p><u>痘痧驚從痧痘來，痰熱驚搐惱心懷，未見點驚猶可治，痘見驚時赴九垓。</u></p>
<p>離心下灸三火，凡痘痧症，不宜灸，慎慎之；玉芝丸、琥珀抱龍丸、惺惺散、升麻湯兼導赤散。</p>
<figure>
<img alt="第九痢疾驚">
</figure>
<p><u>痢疾驚因脾胃衰，懨懨氣息實堪哀，依圖速灸還堪救，內服回陽藥可瘥。</u></p>
<p>天門穴臍下一指，灸三壯；牛黃散、助胃膏、參苓白朮散、觀音散、參附湯。</p>
<figure>
<img alt="第十愛眠驚">
</figure>
<p><u>眠驚不醒沉沉睡，熱蘊心經叫不醒，黃連加入小柴內，依此圖醫可保危。</u></p>
<p>自悟穴在耳下一指，灸三壯，男左女右；琥珀丸、琥珀抱龍丸、千金龍膽湯、酸棗仁湯。</p>
<figure>
<img alt="十一蛇甩驚">
</figure>
<p><u>蛇甩驚來心火甚，弄舌伸縮真可畏，涼心鎮驚及早施，免教父母雙垂淚。</u></p>
<p>人中穴灸三壯；琥珀抱龍丸、牛黃丸、四苓散、麥冬、木通、硃砂。</p>
<figure>
<img alt="十二老鴉驚">
</figure>
<p><u>老鴉驚、老鴉驚，咳嗽啾啾不絕聲，方眠即醒腹膨脹，消導依圖方得寧。</u></p>
<p>男左女右，乳上離一指，灸三壯；滾痰丸、玉餅子、琥珀抱龍丸、麥煎散。</p>
<figure>
<img alt="十三夜宿老鴉驚">
</figure>
<p><u>夜宿老鴉驚嚇來，夜間啼哭日間瘥，內服鎮驚安神藥，按圖一灸實奇哉。</u></p>
<p>印堂、心下各灸三壯；利驚丸、牛黃丸，發熱惺惺散。</p>
<figure>
<img alt="十四啞驚">
</figure>
<p><u>啞驚不哭失聲音，肚脹心煩壯熱蒸，此症飲食嚇上起，遲灸應為泉下人。</u></p>
<p>男左女右，項後二穴，各三壯，合谷各三壯；滾痰丸、黑神丸、白玉餅、防風湯、羌活湯。</p>
<figure>
<img alt="十五猛行驚">
</figure>
<p><u>猛行驚症帶風寒，發熱驚啼並咬牙，睡里呢喃痰壅盛，印堂急灸莫𭉊嗟。</u></p>
<p>印堂、頰車各灸三壯；琥珀抱龍、滾痰丸、九味羌活湯、惺惺散、脫甲散。</p>
<figure>
<img alt="十六閉脈驚">
</figure>
<p><u>閉目驚由驚人心，渾身冰冷汗頻頻，鎮驚定魄扶脾胃，乳上關元灸可生。</u></p>
<p>乳上、臍傍四處各灸三壯；牛黃丸、安神丸、鉤藤飲、七實靈砂丹。</p>
<figure>
<img alt="十七乳風驚">
</figure>
<p><u>乳風驚是肺家寒，吃乳當風內受邪，咳嗽腹脹潮熱甚，失治終當變肺疳。</u></p>
<p>下頦一穴、期門穴乳下半指各三壯；九轉玉華丹、玉芝丸、麥煎散。</p>
<figure>
<img alt="十八肥瘠驚">
</figure>
<p><u>肥瘠驚從飲食傷，面黃肌爍實狼當，骨蒸口臭兼齦蝕，十全丹用是良方。</u></p>
<p>攢心五火；十全丹、蘆薈肥兒丸、靈犀飲、柴胡飲子。</p>
<figure>
<img alt="十九班脊驚">
</figure>
<p><u>班脊驚疳屬肺經，背環肩聳咳頻頻，鼻蝕明知蟲食肺，良醫見此也寒心。</u></p>
<p>期門二穴、肺俞二穴各灸三壯，肺俞五七壯更好；蟾酥丸、蘆薈保童丸、清肺飲、梅花飲子。</p>
<figure>
<img alt="二十擺驚">
</figure>
<p><u>擺驚原從驚嚇起，四肢驚掣熱不已，眼竄痰喘呼吸間，及早涼心驚自止。</u></p>
<p>手足掌心、高骨處各灸三壯；滾痰丸、真方白丸子、牛黃丸、鉤藤飲。</p>
<figure>
<img alt="二十一四足擺驚">
</figure>
<p><u>四末擺驚擺驚同，四肢僵直時瘛瘲，按圖速灸宜良藥，不治變作慢脾風。</u></p>
<p>灸法，擺驚同；牛黃散、保驚錠、真方白丸子、九實靈砂丹。</p>
<figure>
<img alt="二十二急風驚">
</figure>
<p><u>急驚風症多般類，見此從容看仔細，痧斑痘疹及風寒，食積停痰並暑氣，有客忤、有邪祟，莫將一概驚風治，箇中意趣少人知，治火消痰驚自去。</u></p>
<p>合谷穴，灸左右各三壯；滾痰丸、琥珀抱龍丸、惺惺散，治諸症無礙。</p>
<figure>
<img alt="二十三風寒驚">
</figure>
<p><u>風寒驚便是風寒，乳食停滯不得通，腹脹目瞑四肢厥，散寒消食見神功。</u></p>
<p>燈心湛油，燃火蹙兩手虎口並兩手心臍上下；利驚丹、滾痰丸、玉餅子、藿氣正氣散。</p>
<figure>
<img alt="二十四腫瀉驚">
</figure>
<p><u>腫瀉驚從元氣弱，瀉痢日久脾消索，遍身浮腫水無圍，臍凸脈細休用藥。</u></p>
<p>男左女右，食指二節、中指頂各一壯，臍上下各三壯；木香檳榔丸、香平散、加味胃苓湯去甘草。</p>

<h3>附灸諸驚穴</h3>
<p>馬脾風（一名馬鼻風，兩鼻孔相扇，故以名之。）</p>
<p>印堂　期門　人中（男左女右各灸三壯）</p>
<p>啞驚</p>
<p>期門　天泉　頰車（各灸三壯）</p>
<p>諸驚</p>
<p>百會　印堂　期門　天泉</p>

<h2>初誕論</h2>
<p>嬰兒，在胎稟陰陽、五行之氣，以生五臟、六腑。百骸之體悉具，必籍胎液以養之，受氣既足，月滿而生。分娩之時，初離母體，口有液毒，啼聲未出，急用軟絹裹指，湛甘草湯，拭去口中毒液，此須良法。倉卒之際或有不及此法者，以黃連、甘草、硃砂法俱妙，免使毒物嚥下，伏之千內，遇天行時疫，熱氣熏蒸，乃乘於心。心主血脈，脈得血，流散於胃。胃主肌肉，故發於外，而成痘疹之候，世之長幼無可免者。若依初生拭口之法，而免痘瘡之患，或遇天行時疫侵染，只出膚疹細瘡，易於調治。此乃秘法，人罕知者。又斷臍之法，猶當謹慎。當隔單衣以牙咬斷，將口暖氣呵四五遍；若用剪刀須納懷中暖透用之。斷臍，當令長至足。若大短則傷臟，令兒腹中不調；若大長則傷肌，令兒皮枯鱗起。斷臍之後不可入生水，以綿紙裹定，用艾火臍頭灸五壯，或七壯。不拘寒暑，此法甚妙。不然重則臍風噤口，輕則臍瘡腹痛之症生矣。尤宜避風，初離胞胎亦宜溫暖。芽兒者如初生之草芽，謹慎護持可也。</p>
<p><u>硃砂鎮心膏</u>　鎮心安神解胎毒，去惡液。一生免痘疹之患。</p>
<p>辰砂（三分，水飛。）　牛黃（一分，無亦可。）</p>
<p>甘草、黃連各一錢煎湯，調化，抹兒口中。（未開乳前用。）</p>
<p><u>三朝洗兒法</u>　用溫湯不可過浴，亦不宜頻洗。</p>
<p>豬膽（洗兒令皮膚細膩，不生瘡疥。）　桃枝　柳枝（捶碎煎湯，可闢不祥。）</p>
<p>寅、卯、酉日洗兒更吉，如不值此三時亦佳。</p>
<p><u>回氣法</u>　治兒初生氣欲絕，不能啼哭者，因難產冒寒所致。急以綿絮包裹，納懷中，未可斷臍，脫衣火上烘暖，蓋之；仍以紙燃醮油點火臍帶上，往來遍燎，兒得火氣，由臍入腹，以熱醋湯澆蕩臍帶，待氣回啼哭，方可斷臍。</p>
<p><u>通便法</u>　治兒初生，大小便不通，腹脹欲絕者。急令本婦口含溫湯，吮咂兒前後心，並臍手足心，共七處。每一處吮三五次，紅色為度，須臾自通。不爾則無生氣矣。遇此症，急用此法救之。</p>
<p><u>刺泡回生法</u>　治兒生下即死，口中上齶有泡，名曰懸癰，當塞氣路。以手摘破，將帛拭血淨即活。若血入喉亦死。</p>
<p><u>遍身無皮法</u>　治兒生下遍身無皮，用白早米為末，干撲上侯皮生方止。</p>
<p><u>無穀道</u>　治兒生下無穀道，必假物以通之。通後用蜜煉老，捏如棗物大塞之，日用一次則不閉矣。</p>
<p><u>還元湯</u>　解胎毒，補元陽，安神鎮心，終身無痘瘡之患。</p>
<p>臍帶（一條即兒脫下者，炭火煅過存性。）硃砂（三分）</p>
<p>同硃砂乳細，甘草湯調下，七日前後服。</p>
<p><u>硫黃膏</u>　治兒十日內腎縮，啼哭不止，乃受寒故也。</p>
<p>硫黃　吳茱萸（各二錢）</p>
<p>為末，蒜煨熟，和藥搗膏，貼小腹上，用絹縛之。</p>
<p><u>貼囟膏</u>　兒出胎時被風寒吹囟，鼻塞氣粗。</p>
<p>天南星（二錢）　皂角（三分）　北細辛（三分）</p>
<p>為末，蔥湯加薑汁一茶匙，調敷囟上，烘手熨之。</p>
<p><u>蜜陀生散</u>　治兒生下遍身如魚泡，又如水晶，破則水流。此症多生於富貴之家，樓房居住，不沾土氣故也。</p>
<p>蜜陀僧（五錢）　黃柏（三錢）　灶中土（二錢）</p>
<p>黃柏用豬膽汁炙黃為末，同乳極細摻之。</p>
<p>灶心土（名）伏龍肝（愈陳愈效）治臍水不幹甚效。</p>
<p><u>龍肝散</u>　治臍凸流水日久不愈，變臍風瘡，終身之患。</p>
<p>黃柏（制如前炙）　赤石脂　伏龍肝（各一錢）　干胭脂　龍骨（各五分）　白礬（三分飛）</p>
<p>為末，加麝香少許，瓷罐收貯，每用少許摻上。</p>
<p><u>定驚膏</u>　治兒胎驚時發如癇。</p>
<p>辰砂（二錢）</p>
<p>𠪙細末，新汲水調塗五心，即止。</p>
<p><u>藏胎衣秘法</u>（出子母秘錄，兒難養者，用之永吉。）</p>
<p>小兒衣胞，用清水洗淨，再用酒洗，入大豆、小豆各一合，將罐盛貯；次取城門土、市門土、獄門土、蔥園土、韭園土各一合，重覆上；再用五色綢，各一尺五寸，重系罐口，上用鐵板一尺二寸，將淨墨塗遍，用硃砂書云：大豆某胡去無辜，小豆歷歷去子癖，城門土見公卿，市門土足下行，獄門土避盜兵，蔥韭土剪復生，與兒青，令兒壽命得長生；與兒赤，令兒身命皆清吉；與兒白，令兒壽祿皆千百；與兒皂，令兒長壽不衰老；與兒黃，令兒清吉去百殃。急急如律令。鐵券置罐上，埋土入深三尺，此法試已有驗，宜按行之。</p>
<p>剃胎頭　寅丑日吉，丁未日凶。</p>
<p><u>加味歸芎湯</u>　新產二三日服之，去瘀生新，且無兒枕痛之苦。</p>
<p>當歸（五錢）　川芎（二錢）　山楂（三錢）</p>
<p>水二甌，煎甌半，加赤砂糖十數茶匙服。</p>
<p><u>湧泉散</u>　治婦新產乳少，或惱怒動氣、或因久病鬱結無乳者，並宜服之。</p>
<p>穿山甲（五錢用前胸脅者蛤粉炒）　肉豆蔻（三錢）　胡桃肉（一兩去皮）　芝麻（一兩炒同胡桃研如泥）</p>
<p>共搗成膏，每服三錢，好酒調下，合面睡一時，辰用豬蹄湯催之。又用油木梳雙手梳乳千遍，乳行即止。未效，隔日再用。乳脹，麥芽（炒）煎湯服。</p>

<h2>噤口撮口臍風論</h2>
<p>初生噤口、撮口、臍風證，雖有三，其病一也。噤口者，眼閉口噤，啼聲漸少，舌上聚如粟米狀，舌強吮乳不得，口吐白沫，大小便俱通。蓋由胎中感受熱毒，流於心脾，故形見於喉舌間也；生下時，復為風邪擊搏，肚腹脹滿，青筋四布，至百二十日，見此名犯風禁，一曰胎驚，依法調護，防於未然，則免此症。撮口者，面目黃色，氣息喘急，唇青口撮，啼聲不出。蓋由胎氣夾熱，兼風邪入臍，流於心脾二經，故令舌強唇青，撮口皺面，飲乳有妨。若口出白沫，四肢厥冷，不可救矣。臍風者，斷臍之後，為水濕風冷所乘，風濕之氣入於臍，亦流於心脾，遂令腹脹臍腫，身體僵直，日夜多啼，不能吮乳，甚則發為風搐；若唇青口撮，臍邊青黑，是為內搐，不治；爪甲黑者，不治。其或熱在胸膈，伸引努氣，亦令臍腫，用藥疎利則愈。三症受病之源，非一朝一夕之故。在胎中其母憂思驚恐，不守禁忌，恣食辛辣毒物，生下又為客風所吹，裡外氣鬱壅結不通而生此症。千金云：小兒始生，其氣尚盛，若有患，急須下之；若不即下，或生大疾則難療矣。下之一字，非有餘之實下，不過用藥疎通熱毒耳。七日之內，得此症，生者百無二三。遇此症者，看牙齦上，有小泡如粟米大，以帛裹指醮溫水，擦破則開口便安，不須服藥，此亦良法。又有牙齦上下有白色豆大許，便以指甲當中掐之，自外達內，微有血出不妨，或用針挑破，內有白星，抹去則安。以上諸方並效。選而用之。</p>
<p>定風膏　治臍風撮口，一切驚癇並效。</p>
<p>南星（二錢）　殭蠶（二錢）　白附子　牙硝　天麻　全蠍　五靈脂　辰砂（各一錢）　硼砂（六分）　輕粉（五分）　蜈蚣（一條赤足者炙）　巴豆（二分去油）　麝香（一分）　冰片（一分）</p>
<p>各取淨末，糊丸芡實大，每用半丸，生薑、薄荷湯下。</p>
<p>蠍蛇餅子　治症同前。</p>
<p>赤足蜈蚣（一條炙）　蠍梢（炙）　白花蛇（酒浸去骨）　硃砂　膽星　殭蠶（各五錢）　麝香（三分）</p>
<p>各為淨末，乳細酒糊為丸，捏作餅子，每餅四分重，薄荷湯化下。</p>
<p>牛黃散　治症同前，此方甚效。</p>
<p>牛黃（一分）　珍珠（一分）　蜈蚣（一分炙）　冰片（一釐）</p>
<p>為末，老母豬乳汁調下。一方有殭蠶（二分）。</p>
<p>蜈蚣散　治臍風撮口，牙齦白點，掐破，此藥擦之。</p>
<p>蜈蚣（一條炙去嘴足）　麝香（少許）</p>
<p>為末擦牙齦，用少許薑湯調下亦可。</p>
<p>獨聖散　治症同前。</p>
<p>全蠍（七個取中段烤乾）　麝香（少許）</p>
<p>為末，老母豬乳調下。</p>
<p>回生膏　治臍風撮口，腹脹青筋，口不吮乳。</p>
<p>大田螺（二個）　蘿蔔子　蔥白　生地　生薑（各二錢）</p>
<p>同搗爛，敷臍並四圍，少頃有屁，大小便通利即活</p>
<p>螺麝膏　治症同前，肚腹腫脹如石。</p>
<p>大田螺（三個）　麝香（一分）</p>
<p>同搗爛罨臍上，須臾再易，腫痛立消。</p>
<p>灸法　治臍風撮口。</p>
<p>承漿穴（在下唇宛宛中。）　頰車穴（在耳稚下。）　各灸三壯。</p>

<h2>胎毒論</h2>
<p>凡婦懷孕，宜清心遠欲，飲食宜淡，忌煎炒辛辣厚味，並飛禽走獸之肉俱不可食。行正語正，保養胎元，生子必聰明、端正無疾而多壽。若少年之婦，不守禁戒，辛辣炙爆食為泛常，房圍恣欲，而無禁忌，行坐偏斜，生子必蠢。故多疾而夭。又有懷孕，而受驚恐，或登山入廟，見神禮佛，心生恐怖，胎即受之，生下故有胎驚之症。或暑月耽胎，冬月擁爐，胎中內蘊熱毒，所以生下而生重舌、木舌、鵝口、疳瘡、繭唇、並諸風瘡、疥癬、赤遊丹毒種種胎毒，皆母不潔故也。淫乳乳兒腹生痞塊。房中喜用春方熱藥者、並父母生過楊梅瘡並諸毒瘡者，其毒尤甚，生子必夭。宜早解毒之藥，庶免痘痧之患。胎毒難以枚舉，以下諸方皆治胎毒之良劑，選而用之無有不效。凡治胎毒，必求其本則效矣。</p>
<p>胎驚（用）牛黃八寶散、琥珀抱龍丸。（見驚風門。）</p>
<p>胎感熱毒重者（用）涼膈散（母子同服、）化毒丹。（生地煎湯服。）</p>
<p>胎毒犯梅瘡、並諸瘡毒者（用）得效良方。（下疳門。）</p>
<p>胎中春方毒者（用）紫雪丹、辰砂益元散。（加琥珀冰片。）</p>
<p>重舌者、（舌下復生小舌，不能吮乳。）木舌者，（舌腫硬滿，口不能吮乳。）　金鎖匙、化毒丹、冰蓬散（外科口舌門，必先銀砭針刺血方可用藥。）</p>
<p>鵝口瘡（牙齦舌上滿口白屑，堆起入喉即死。）　化毒丹（生地黃連湯、化下。）　綠袍散。（加冰片，先用黃連薄荷甘草湯，攪淨用藥。）</p>
<p>赤遊丹毒，起如雲朵，紅紫色。先砭針敲血，方用敷藥。起於頭面四肢，入心即死。</p>
<p>繭唇、（上下唇撮緊不乳。）諸瘡毒疥癬肥瘡、（外科瘡門。）赤眼爛眼眼腫、（流血水。）尿血並赤斑爛瘡。（俱屬胎毒。）</p>
<p><u>加味涼膈散</u>　治一切胎毒。</p>
<p>防風　荊芥　薄荷　連翹　山梔　黃芩　桔梗　生地　赤茯　木通　甘草（各一錢）　朴硝（一錢半）　大黃（二錢，要利加二錢。常服，加當歸，去硝黃。）</p>
<p>防風通聖散（亦效）水二鍾，煎鍾半母子同服。</p>
<p>瘡毒（加）土茯苓（二兩），下部（加）木瓜、薏苡仁、牛膝。</p>
<p><u>釀乳方</u>　若要兒安，先調其母。母即乳也。此方主之。</p>
<p>白朮（炒）　茯苓　陳皮　甘草　當歸　白芍（炒）　生地　薄荷　花粉　香附　木通（各等分。隨症加減。）</p>
<p>生薑三片，燈心二十寸，水二甌，煎一甌二分，母子同服。夏月加香薷、厚朴、黃連，冬月加紫蘇、桂枝、乾薑，（少用。）</p>
<p>凡小兒吐瀉（禁）乳一二宿無妨，米湯當乳吃，服藥方效。</p>
<p>乳少加穿山甲末（一錢），乳脹用麥芽（二兩炒），水煎服。</p>

<h2>胎驚論</h2>
<p>小兒百日之內，壯熱煩燥，啼哭無時，目睛上竄，時發驚搐，面青腰直，撮口縮腮，大便時去青黃之水，此名胎驚。皆因在母腹中，母受跌撲驚恐，或恣食辛辣毒物，胎中感之，鬱熱在內，故生下而有此症。</p>
<p><u>利驚丸</u>　治一切驚風搐搦，胎驚變蒸，傷風咳嗽。</p>
<p>膽星（三錢，牛膽制）　天竺黃（二錢）　礞石（二錢）　牛黃（一錢）　輕粉（一錢）　硃砂（一錢）　麝香（二分）　冰片（一分）　巴豆肉（五分，去油）</p>
<p>各為淨末，神麵糊丸，蘿蔔子大，金箔為衣。一歲三四丸，隨歲加數。大人中風痰厥，三十丸薑湯下。</p>
<p><u>利驚丹</u>　治症同前。</p>
<p>硃砂　半夏　桔梗　枳殼（各二錢）　防風　天麻（各三錢）　膽星　礞石　牛黃（各一錢）　雄黃（五分）　大黃（一兩，酒煨）　巴豆（五分，制過）</p>
<p>為末，麵糊為丸，黍米大，硃砂為衣，每服二三十丸，薄荷燈心湯下，視兒大小用之。</p>
<p><u>琥珀丸</u>　治嬰童一切驚癇諸般痰症。</p>
<p>琥珀（一錢）　牛黃（一錢）　雄黃（二錢）　辰砂（二錢，為衣）　貝母（一兩）　天麻（一兩）　天竺黃（二錢）　膽星（五錢）　全蠍（二錢，炙）　殭蠶（二錢，炒）　薄荷（二錢）　麝香（五分）</p>
<p>為末，黃連、甘草煎膏為丸，芡實大，硃砂為衣，生薑、薄荷湯化下。</p>
<p><u>牛黃丸</u>　治症同前。</p>
<p>貝母（一兩）　天麻（一兩）　花粉（一兩）　白朮（一兩）　廣皮（一兩）　天竺黃（五錢）　雄黃（三錢）　辰砂（三錢，為衣）　甘草（三錢）　山藥（三錢）　全蠍（三錢，炙）　殭蠶（三錢，炒）　人參（五錢）　茯神（五錢）　薄荷（三錢）　珍珠（二錢，煅）　膽星（一兩）　牛黃（一錢）　琥珀（二錢）　麝香（一錢）</p>
<p>各取淨末，黃連、甘草膏為丸，芡實大，硃砂為衣，薄荷、燈心湯化下。</p>
<p><u>醜寶丹</u>　治症同前，陳養心方。</p>
<p>知母（一兩五錢）　蓬砂（一兩五錢）　五靈脂（一兩五錢）　木香（九錢）　薑黃（七錢五分）　急性子（一兩五錢）　青鹽（六錢）　枯礬（九錢）　陳石灰（一兩五錢）　雄黃（六錢）　碙砂（一錢二分）　牛黃（五分）　琥珀（一錢）　麝香（一錢）</p>
<p>各為淨末，牛膽汁為丸。小兒一分，大人二分。生薑湯調化下，酒服亦可。</p>
<p><u>琥珀抱龍丸</u>　治小兒胎驚夜啼，變蒸不解，壯熱不退，傷風咳嗽，痰涎壅，諸驚變易皆可服之。</p>
<p>天竺黃（五錢）　膽星（八錢）　辰砂（五錢）　雄黃（五錢）　琥珀（三錢）　花粉（二兩）　麝香（五分）　冰片（一分）　金箔（十張，為衣）</p>
<p>各為淨末，甘草煎膏為丸，芡實大，再用硃砂二錢為衣，每服一丸，薄荷、燈心湯下。發散用蔥湯。</p>

<h2>夜啼論</h2>
<p>小兒夜啼，其症有拾，當辨是何症，隨病治之。有客忤夜啼、有躽啼、有邪於心痛啼、有胎熱伏心啼、有盤腸內釣啼、有胎寒啼、有乳食作痛啼、有驚啼、有天釣啼、有受寒肚痛啼。利驚丸、琥珀抱龍丸、利驚丹、治諸夜啼並效。</p>
<p><u>千金龍膽湯</u>　治胎驚發熱，四肢驚掣及變蒸未解，夜啼諸症，諸風驚癇，臍風撮口並效。</p>
<p>龍膽草　鉤藤　柴胡　黃芩　桔梗　白芍　茯苓（各一錢）　甘草（五分）　大黃（一錢五分，酒煨）</p>
<p>生薑三片，水二鍾，煎鍾半，母子同服。</p>
<p>驚搐加天麻、殭蠶（各六分，）鬾病加青黛（五分）</p>
<p><u>酸棗仁湯</u>　治心驚不寧，恍惚恐怖，及夜啼諸症。</p>
<p>人參（五分）　茯神（一錢）　麥冬（一錢）　甘草（五分）　鉤藤（六分）　遠志（肉，一錢）　茯苓（一錢）　木通（七分）　酸棗（七分，炒）　硃砂（末，臨服入）</p>
<p>燈心二十寸，生薑三片，水二鍾，煎鍾半，母子同服。為末，燈心湯調服一錢，加麝（少許）</p>
<p><u>琥珀丹</u>　安心神，鎮驚邪，治一切夜啼，胎驚變蒸，並效。</p>
<p>膽星（二錢）　琥珀（三錢）　天麻（八錢）　殭蠶（五錢）　白芷（五錢）　白附子（二錢，煨熱）</p>
<p>為末蜜丸，芡實大，每服一丸。生薑、薄荷湯化下。</p>
<p><u>安眠散</u>　治夜啼不止，狀若鬼祟。</p>
<p>蟬蛻（七個，只用下半段）</p>
<p>乳細，薄荷湯加酒少許，臨睡調服。如不信，服上半節仍舊啼。</p>
<p><u>燈花散</u>　治夜啼。</p>
<p>燈花（七個）　硼砂（三分）　硃砂（少許）</p>
<p>為末，蜜湯調下，臨睡服。抹乳頭，令兒吮之亦可。</p>
<p><u>二土膏</u>　治兒客忤，驚啼夜睡不寧。</p>
<p>灶中黃土　蚯蚓糞。</p>
<p>為末，新汲水調塗五心，即效。</p>
<p><u>禁兒夜啼訣</u></p>
<p>用黃紙朱書彼處巡按名字，上寫敕令二字；四邊寫虎字，貼在床上。口唸咒曰：小兒夜啼幾時休，門管先生在床頭，今夜若還再啼哭，飛劍斬了鬼驢頭。</p>

<h2>變蒸論</h2>
<p>變蒸之症，形類傷寒。發熱驚搐，咳嗽聲重，噴嚏驚啼，無汗耳熱，骫熱唇尖無白泡者，乃感冒之症。耳冷骫冷，或無汗，或自汗，上唇有白泡，如魚目者，變蒸之候也。兒生雖皮膚、筋骨、臟腑、氣血俱全，而未充實，故有變蒸焉。變者，異也；蒸者，熱也。每蒸一次，氣血稍強，精神特異，經十變五蒸訖。又三大蒸，共五百七十六日。變蒸俱畢，而乃成人也。凡遇此症，不可容易汗下，重則七日，輕則二三日自退。病重者利驚丸、琥珀抱龍丸、惺惺散、俱效。腹脹喘急五色丸、白玉餅微利之。</p>
<p><u>巴豆製法</u>　巴豆不拘多少，去殼，取鮮白色潤者，碾如泥，用紙重重包裹，以石壓去油，置地上。冬一二月，夏半月，任其出梅去毒，方可取用。不爾傷人。</p>
<p><u>牛膽南星制</u>　南星不拘多少，為末，用臘月黑牛膽拌濕，黃牛膽次之，灌入原膽內，當風懸過三月方可用。伏天制更好。（南星性烈不制不可輕用。）</p>
<p><u>白玉餅</u>　治諸驚潮熱，痰涎壅盛，肚腹膨脹，變蒸諸症，悉皆治之。多則行痰，少則消痰。</p>
<p>滑石（五兩）　桔梗（四兩）　半夏（一兩，薑製）　膽星（八錢，制）　輕粉（三錢）　飛礬（三錢）　巴豆（二錢，制。此藥有斬關奪旗之功，性烈。不制不可輕用，慎之！慎之！）</p>
<p>為末，麵糊丸，小麥大，捏作小餅。每歲二十餅，看大小加減用。</p>
<p><u>五花丸</u>　治小兒一切所傷，痰涎壅胸膈不利，乳食不消，變生積癖，脅腹堅硬，按之疼痛；兼治一切驚風癇症並效。</p>
<p>青丸子</p>
<p>青黛　南星（制。各五錢）　巴豆（五分，制過方可用）</p>
<p>紅丸子</p>
<p>硃砂　半夏（薑製。各五錢）　巴豆（五分）</p>
<p>黃丸子</p>
<p>大黃（煨）　鬱金（各五錢）　巴豆（五分）</p>
<p>白丸子</p>
<p>白附子　寒水石（煅。各五錢）　巴豆（五分）</p>
<p>黑丸子</p>
<p>五靈脂（炒）　全蠍（炒。各五錢）　巴豆（五分）</p>
<p>各為末，糊丸，粟子大，每歲服五六丸，薑湯下。驚風痰盛薄荷湯下。</p>
<p>琥珀抱龍丸、利驚丸、利驚丹、牛黃丸，並效選用。</p>
<p><u>惺惺散</u>　治變蒸發熱，咳嗽聲重，並傷風咳嗽，時行痧痘疑似之間，並皆服之。</p>
<p>白朮　茯苓　陳皮（各一錢）　甘草　白芍　桔梗　薄荷　荊芥（各五分）　北辛（三分）　防風（七分）　人參（五分，壯熱少用）　生薑三片，水二鍾，煎鍾半，母子同服。</p>
<p><u>加味惺惺散</u>　治症同前。</p>
<p>陳皮　半夏　茯苓　甘草　乾葛　枳殼　防風　羌活　花粉　前胡　川芎　黃芩　柴胡　薄荷（各等分）</p>
<p>姜三片，水二鍾，煎鍾半，母子同服。</p>
<p><u>柴胡湯</u>　治變蒸壯熱，心煩啼哭，及骨蒸勞熱。</p>
<p>沙參　柴胡　防風　麥冬　甘草（五分）　龍膽草　地骨皮　知母　生地（各一錢）　木通（七分）　燈心二十寸，水二鍾，煎鍾半，母子同服。</p>
<p><u>五苓湯</u>　治變蒸，餘熱不退，心經伏熱，夜啼或瀉。</p>
<p>白朮　白茯　豬苓　澤瀉　木通　生地　小柴胡（各一錢）　薄荷（六分）</p>
<p>燈心二十寸，水二鍾，煎一鍾五分，母子同服。</p>

<h2>急慢驚風論</h2>
<p>小兒急慢驚風症候，素問所謂陰陽癇者是也。急者，屬陽，陽盛而陰虧；慢者，屬陰，陰盛而陰虧。陽動而燥疾；陰靜而遲緩。其始也，皆由臟腑內虛，失於調理而得之。虛則生熱，熱則生風。是以風生於肝，痰生於脾，驚出於心，熱乘於肺，驚風痰熱四證已具，八候生焉。八候者：搭眼搖頭、口張舌出、唇紅臉赤、搐搦顫汗。其症面青眼青、唇青瀉青、太陽髮際印堂青筋、虎口三關紋紅紫或青色、皆驚風症候也。須知表裡、察寒熱、論虛實、辨逆順、而隨症治。大抵急驚用藥以涼；慢驚用藥宜溫。又看男搐左視左；女搐右視右。男眼上竄；女眼下竄。男握大拇指在外；女握大拇指在內。男手左引；女手右引。此皆順症可治。反此則逆。凡治驚先截風；治風先於利驚，治驚先於解熱；解熱先於豁痰；治痰先於降火。若四症俱見兼而治之。慢脾風者，或泄瀉、或嘔吐、或痢久飲食不進，元氣虛極乃變此症。須溫脾和胃，扶元氣為主，驅風豁痰次之。又有馬脾風一症極惡，乃風寒失於發散，寒氣客於肺經而成斯候。面青氣急，口張鼻孔扇，兩脅連胸牽動而喘，類馬走乏而喘急，故以名之，鮮有生者。</p>
<p>非時吊眼驚入肝　睡後咬牙驚入腎</p>
<p>夜啼到曉驚入小腸　氣喘飲水驚入肺</p>
<p>面紅臉赤驚入心　五心煩熱驚入脾</p>
<p>面青乍白驚入膽　喉中痰鋸驚入大腸</p>
<p>乾嘔無時驚入胃　睡中啼哭驚入三焦</p>
<p>又一說八候：搐、搦、掣、顫、反、引、竄、視。（皆惡症也。）</p>
<p>搐者，（兩手伸縮；搦者，十指開合；）掣者，（勢如相撲；）顫者，（頭偏不正；）反者，（似弓反張；）引者，（臂若開弓；）竄者，（目瞪似怒，）視者，（睛露不轉。）</p>
<p><u>通關散</u>　治急慢驚風，昏迷不醒。</p>
<p>豬牙皂角（一錢）　生半夏（一錢）　北細辛（三分）</p>
<p>共碾細末，用燈心醮藥入鼻孔，得噴涕為驗，不則難療。用薑湯調少許服之，亦效。</p>
<p><u>九轉玉華丹</u>（一名白鳳髓）　治小兒痰迷心竅，驚厥不醒，五癇並效，及大人中風。</p>
<p>半夏曲（三錢。製半夏曲法：伏天磨末，每斤加白麵半斤，搗薑汁攔勻成塊，懸當風聽用。）　輕粉（一錢五分）　巴豆（一分制）　冰片（三分）</p>
<p>𠪙細，綠豆粉打糊為丸，菜子大，量大小，薑湯下。</p>
<p><u>大抱龍丸</u>　治小兒急慢驚風，手足抽掣及傷風咳嗽，神昏多睡，一切中風、中暑、中惡、痰厥喘急並效。</p>
<p>天竺黃（二錢）　珍珠（二錢）　殭蠶（三錢）　人參（三錢）　膽星（五錢）　雄黃（二錢）　琥珀（二錢）　神砂（二錢，為衣）　礞石（五錢）　牛黃（一錢）　犀角（五錢，鎊）　甘草（一錢）　麝香（五分）　冰片（一分）</p>
<p>各取淨末，加白丸子末五錢，甘草煎膏丸，芡實大，金箔為衣，薑湯下。</p>
<p><u>大驚丸</u>　治症同前。</p>
<p>羌活　防風　川芎　茯苓　茯神（各五錢）　白附子（炮）　白朮（炒）　全蠍（炙）　殭蠶（炙。各二錢）　膽星（六錢）　明天麻（三錢）</p>
<p>為末，蜜丸，芡實大，薄荷、燈心化下。</p>
<p><u>安神丸</u>　治急慢驚風，安神鎮心，消痰順氣，育養心神，心經伏熱，夜啼並效。</p>
<p>人參　白朮（各五錢炒。）　茯苓（五錢）　甘草（二錢）　羌蠶（炒）　桔梗（各二錢五分）　全蠍（五個，炙）　麥冬（五錢）　酸棗（五錢，炒）　木香（三錢）　辰砂（五錢）　大赭石（一兩，醋煅七次）</p>
<p>為末，蜜丸，芡實大，每服一丸，薄荷、燈心湯下。</p>
<p><u>羌活湯</u>　治驚風潮熱，痰涎壅盛，牙關緊急。</p>
<p>柴胡　羌活　地骨皮（各一錢）　前胡　川芎　茯苓　獨活　天麻　枳殼　桔梗（各七分）　人參（肺熱少用）　薄荷　甘草（各五分）</p>
<p>生薑三片水煎。體僵直加麻黃，驚熱加蟬蛻。</p>
<p><u>鉤藤飲</u>　治一切驚風潮熱，痰涎壅盛，抽制眼竄，昏沉不醒，驚癇變易，並效。</p>
<p>麻黃　升麻　甘草　蟬蛻（研去土，五分）　膽草　川芎　鉤藤　羌活　防風　獨活　薄荷（各七分）　天竺黃（三分，乳細和煎劑服）</p>
<p>生薑三片，水二鍾，煎一鍾五分，乳母同服。</p>
<p><u>防風湯</u>　治急驚餘熱不退，手足時復搐掣，心悸不寧。</p>
<p>防風　柴胡（各一錢）　半夏（五分）　黃芩　川芎（七分）　細辛（四分）　白芷　薄荷　甘草（各六分）　大黃（一錢）</p>
<p>生薑三片，水一鍾五分，煎一鍾服。便秘加芒硝。</p>
<p><u>導赤飲</u>　治急驚之潮熱，瀉心經之蘊熱，分陰陽，利小水。</p>
<p>赤茯　木通　生地　山梔　黃芩　柴胡（各一錢）　半夏（五分）　麥冬（八分）　甘草　薄荷（各五分）</p>
<p>燈心二十寸，水煎。便秘加大黃。春加防風、蟬蛻；夏加香薷、五味；秋加升麻；冬加連翹。</p>
<p><u>溫膽湯</u>　治心驚膽怯，煩燥多痰，驚後夜睡不眠。</p>
<p>陳皮　半夏（制）　茯苓　甘草　枳實（麩炒）　酸棗（炒。各等分）</p>
<p>竹葉十片，水煎。</p>
<p><u>瀉青丸</u>　肝主風，瀉心肝之火，風自退矣。</p>
<p>龍膽草（三錢）　大黃（五錢，煨熟）　當歸　川芎　山梔　羌活　防風　黃連（各四錢）</p>
<p>為末，蜜丸，蘿蔔子大，竹葉、燈心湯下。</p>
<p><u>紫金錠</u>（即玉樞丹）　治小兒一切驚風癇症，痰涎壅盛，手足顫掉。治痰之功過於牛黃等劑。男婦諸症，並皆服之。解諸毒，療諸瘡，通關利竅，百病如神。</p>
<p>山茨菰（三兩，去皮焙）　文蛤（即五倍子，捶碎洗淨，二兩）　麝香（三錢）　千金子（一兩五錢，去殼去油）　紅芽大戟（一兩五錢，如苦參段堅實紫色者佳）　大硃砂（六錢，透明者）　大雄黃（六錢，透明者。俱𠪙極細）</p>
<p>各取淨末，糯米打稀糊和勻為錠。紫金錠。大人加倍用之。修制此藥須擇端午、七夕重陽。如欲急用，或天德、月德日亦佳。要在淨室焚香虔誠，更忌婦人、雞、犬及孝服之人見之。否則無效。小兒驚風一切痰症，生薑薄荷湯化下；男婦一切痰迷心竅，昏沉不醒，薑湯化下；嬰童癇病，生薑湯化下；傷寒時疫發狂，涼水磨化下；一切兊疽疔毒，毒氣攻心，甘草湯化下；治卒中鬼祟僵仆不醒，生薑湯下；久瘧不止，桃柳枝煎湯下；久痢不止口噤；黃連甘草湯下；卒中一切食毒，甘草湯化下，涼水亦可，一切怪症、痰症、無不見效，並用生薑湯下。</p>
<p><u>保驚錠</u>　治小兒一切驚風癇症並皆治之。</p>
<p>蛇含石（八兩，入瓦罐內，鐵皮蓋上，火煅，酒淬七次。研末，紅米飲湯、調餅再煅一次，研飛。）　膽星（二兩）　白附子（一兩，炒黃）　硃砂（一兩）　麝香（二錢）</p>
<p>石用水飛過，各為細末，端午日用三家粽搗爛為錠，生薑、薄荷湯化下。</p>
<p><u>黑神丸</u>　治急慢驚風，身熱瘛瘲，兼風等症。肝疳並效。</p>
<p>胡粉（一錢五分）　香墨（一錢）　蘆薈（一錢）　牛黃（五分）　青黛（五分）　使君子（一錢，煨）　飛羅面（一錢）　麝香　冰片（各半分）</p>
<p>為末，糊丸，桐子大，每服三五丸，薄荷湯下。要微利再加數丸。</p>
<p>睡驚丸　有硃砂（一錢，）無面麝。</p>
<p><u>天麻定驚丸</u>　治小兒急慢驚風，身體壯熱，精神恍惚，痰涎多睡，驚悸不安，手足搐搦，並宜服之。</p>
<p>天麻（明）　殭蠶（炒）　防風　人參（各五錢）　甘草　硃砂　全蠍（各三錢）　雄黃（一錢五分）　牛黃（一錢）　麝香（三分）</p>
<p>為末，蜜丸，芡實大，每服一丸，薄荷湯下。</p>
<p><u>牛黃散</u>　治症同前。驚風、變易皆可服。</p>
<p>膽星（五分）　牛黃（一分）　天竺黃（二分）　珍珠（一分，煅）　硃砂（三分）　雄黃（一分五釐）　蓬砂（五釐）　冰片（二釐）</p>
<p>為細末，每服三五分，生薑、薄荷湯下。</p>
<p>八寶散　加琥珀（一分。）</p>
<p><u>牛黃丸</u>　治急慢驚風，發搐痰壅，及吐瀉生風。</p>
<p>牛黃（二錢）　膽星（五錢）　乳香（五錢）　人參（三錢）　天麻（五錢）　防風（四錢）　全蠍（五個，炙去足）　茯神（四錢）　殭蠶（三錢，炒）　硃砂（三錢）　麝香（二分）　冰片（五釐）</p>
<p>為末，煉蜜為丸，芡實大，硃砂為衣，荊芥薄荷湯下。</p>
<p><u>牛黃丸</u>　治症同前。二方並效。</p>
<p>胡黃連　犀角屑　白茯（各五錢）　川芎（四錢）　人參　天竺黃　鉤藤　龍齒（各三錢）　木香（一錢五分）　麝香（三分）　牛黃（二錢）　冰片（一分）</p>
<p>為末，蜜丸，芡實大，每服一丸，薄荷湯化下。</p>
<p><u>青州白丸子</u>　治小兒急慢驚風，及中風、中惡，痰涎壅上，一切諸風痰症。大人並宜服此。</p>
<p>半夏（七兩，生）　南星（三兩，生）　白附子（三兩，生）　川烏（五錢，去皮臍，生用）</p>
<p>為末，絹袋盛之，用新汲水擺，次以手揉，有楂再研、再揉，藥盡為度。入瓷盆內，日曬夜露，換水又曬，過七日曬乾研末，麵糊為綠豆大。小兒三五丸，大人十五丸，生薑、薄荷湯下。</p>
<p><u>真方白丸子</u>　治症同前，及麻木、癱瘓、風痰、膈壅之疾。</p>
<p>半夏（湯泡去次）　南星（洗焙）　白附子（炮）　川烏（炮去皮臍）　明天麻　全蠍（各等分）</p>
<p>為末，薑汁打糊為丸，如前用法。小兒驚風，生薑薄荷湯下。</p>
<p>男婦小兒齁喘，生薑、幸皮、杏仁湯下。</p>
<p><u>七寶靈砂丹</u>　治嬰兒慢驚及慢脾風，精神困憊，膈上有虛痰不能得化，服行痰之劑，恐動臟腑，用此丹服之。其痰須臾自下，良久眼開神定，漸與四君子湯加附子，次用調理、鎮驚、去風之藥。</p>
<figure>
<img alt="開元錢">
</figure>
<p><u>乃開元錢，背上，上下有兩個月，一個月者不用，其錢色黑比諸錢頗小。</u></p>
<p>將錢置鐵匙頭，放炭火內燒，霎時，四維上下有黃白珠子，遍弦都是，將出候冷，傾於盞內，入硃砂末少許，只作一服。取金銀同薄荷煎湯調下。閒中宜收此錢，備用。或預燒珠子，存用妙。</p>
<p><u>觀音散</u>　治胃氣不和，瀉痢日久，不思乳食，脾胃困憊，神昏體冷，欲成慢驚。</p>
<p>人參　白朮（炒）　茯苓　藿香　扁豆（各一錢）　枳殼　甘草（各五分）　木香（三分）　黃耆　紫蘇（六分）　酸棗仁　石蓮肉（各一錢）</p>
<p>老米一撮，烏梅一個，水煎。</p>
<p>觀音全蠍散　加附子（五分）　全蠍（三個，炙）　冬瓜仁（百粒）</p>
<p><u>補脾益真湯</u>　治嘔吐泄瀉，胃口不開，將成慢驚，或變蒸驚嚇之症，誤用鎮心寒涼之藥，而成慢驚，並效。</p>
<p>人參　黃耆　白朮　當歸（各一錢）　訶子　陳皮　茯苓（各七分）　厚朴　甘草　半夏　附子（各五分）　肉蔻（三分）　木香　官桂（各二分）　全蠍（二個，炙）　丁香（二分）　砂仁（三分）</p>
<p>生薑三片，水煎。口渴，去丁附，加乾葛、麥冬、五味。</p>
<p><u>大醒脾散</u>　治吐瀉不食，懨懨欲成慢驚。</p>
<p>人參　陳皮　茯苓（各一錢）　甘草　南星（制）　附子（各五分，炮）　蓮肉（十粒）　全蠍（一個，炙）　木香（三分）</p>
<p>陳老米百粒（炒），共為末，每服一二錢，白滾湯調下。</p>
<p>醒脾散　無陳皮南星，有白朮（一錢），天麻（八分），菖蒲（六分）。</p>
<p><u>寶真丹</u>　病傳慢驚、慢脾風，用此甚效。</p>
<p>人參　茯神（各三錢）　琥珀　天麻　殭蠶（炒）　防風　南星　白附子（各二錢）　全蠍（一錢，炙）　硃砂（一錢）　烏蛇肉（二錢，酒浸一宿，炙乾用）　麝香（三分）</p>
<p>為末，煉蜜丸，芡實大，每服一丸，薑湯下。</p>
<p><u>回生丹</u>　治症同前。</p>
<p>人參　茯神　琥珀　天麻　殭蠶　防風　南星　白附子　全蠍　硃砂　烏蛇肉（各三錢）　麝香（一分）</p>
<p>為末，煉蜜丸，芡實大，硃砂為衣，薑湯下。</p>
<p><u>銀白散</u>　治小兒吐瀉不止，睡露揚睛，欲變慢驚。</p>
<p>人參　茯苓　石蓮肉　白扁豆　天麻（各一錢）　白附子（五分，炮）　木香（三分）　藿香（六分）　全蠍（二個，炙）　甘草（五分）　陳米（三錢，炒）</p>
<p>共為末，每服一二錢，米湯調下。</p>
<p><u>溫白散</u>　健脾暖胃，驅風豁痰。</p>
<p>人參　白附子　天麻　南星　防風（各一錢）　殭蠶　全蠍（炙。各五分）</p>
<p>為末，糊丸，菜子大，薑湯下。</p>
<p><u>南星散</u>　驅風豁痰，急驚、慢驚、陰癇並效。</p>
<p>天南星（重八九錢一個）　琥珀　全蠍（炙。各一錢）</p>
<p>地上作小坑，深四五寸許，用炭燒紅，以醋半盞灑入坑中，入星於內，以火炭條密蓋之，又用盆蓋上；一伏時取出，焙乾為末，加琥珀、全蠍𠪙勻。每服五分，生薑、防風湯下。</p>
<p><u>參附湯</u>　元氣虛脫，將成慢驚。</p>
<p>大附子　人參（各一錢）　丁香（五粒）</p>
<p>生薑五片，水煎。</p>
<p><u>失音散</u>　治驚癇愈後，失音不語，服之即能言語。</p>
<p>天南星（炮製）</p>
<p>為末，周歲兒三分，豬膽汁調化下。</p>
<p><u>慢驚灸法</u></p>
<p>尺澤穴（在肘後橫紋，灸三壯）</p>
<p>百會穴（在頭頂旋毛中，灸三壯）</p>
<p>大沖穴（在腳面脈動處，灸三壯）</p>
<p>角弓反張，髮際（入三分，灸三）</p>

<h1>中卷</h1>

<h2>癇症論</h2>
<p>癇之舉發，症類爭驚，眼白上竄，痰涎壅盛，痰吼如鋸，身體僵仆，目不知人，發有輕重，症歸於一。其病總歸風、熱、痰、火四證。而發有時度，遠則一年、半載一發，近一二月一發，或有一月而發數次者。發則昏暈，自不知其所為。其名有五，而屬五臟。肝經病則為犬癇，面青反折上竄；心經病則為羊癇，面赤目瞪吐舌，或出血沫；脾經病則為牛癇，面黃目直視，肚腹脹滿；肺經病則為雞癇，面白驚叫，反折手瘲；腎經病則為豬癇，面黑口吐白沫；外馬癇一症亦屬心經。凡醫此症，先須辨聲，審是何獸、屬何臟，隨經而治之。</p>
<p>犬癇　三伏日取犬齒，磨水服。犬頷骨（煅為末服。）</p>
<p>羊癇　三月三日取羊齒，磨水服。</p>
<p>馬癇　取馬齒磨水服。馬尾（燒灰為末服。一方馬蹄為末。）</p>
<p>牛癇　烏牛齒水磨汁服。　牛鼻中木（燒灰末服。一方牛蹄末服。）</p>
<p>雞癇　白雞腦水調服。</p>
<p>豬癇　五月五日豬齒水磨服；豬乳亦可。</p>
<p><u>五色丸</u>　五癇並治。</p>
<p>硃砂（五錢）　水銀（二兩）　鉛（三兩，同水銀熬）　雄黃（二兩）　珍珠（一兩）</p>
<p>𠪙勻，蜜丸，麻子大，每服三五丸，薄荷湯下。</p>
<p><u>萬金丹</u>　治五癇。</p>
<p>硃砂（二錢）　輕粉（二錢）　蜈蚣（一條，炙黃）</p>
<p>七月五日，採取青蒿內蟲數筒，磁中搗爛，將三味為丸，麻子大。一歲一丸，男用女乳，女用男乳下。五月五日，採取更好蒿莖，腫節內方有此蟲。</p>
<p><u>虎睛丸</u>　治五癇，並驚風搐掣，痰涎盛，一切驚症。</p>
<p>虎睛（一對，酒浸，切碎，焙乾）　明天麻　茯神　牛黃　硃砂（各五錢）　天漿子（五十個，炒黃，去殼）　使君子肉（一百個，焙）　南星（一兩二錢，慢火炮裂）　全蠍（五錢，炙）　京墨（五錢，煅）　青黛（五錢）　輕粉（一錢）　白附子（一錢）　麝香（五分）</p>
<p>為末，糊丸，麻子大，每服五六丸，薄荷湯下。</p>
<p><u>大聖奪命金丹</u>　治小兒一切急慢驚風，身體壯熱，手足搐搦，口眼喎斜，背項強直，牙關緊急，肚腹堅硬，目睛上視，口沫漫溢，精神昏睡，痰涎壅盛，夜啼夢語，搖頭弄舌，及初生臍風撮口，並歷神效。</p>
<p>膽星　防風　附子　殭蠶（炒）　天麻　天竺黃（各一兩）　天漿子（二十一個，炒）蟬蛻（去土）　硃砂（各五錢）　麝香（二錢）　全蠍（四十九個，炒）　牛黃（一錢五分）　乾蟾（一個，炙）　赤足蜈蚣（一條，背上開路入麝）</p>
<p>將蜈蚣紙裹。陰乾為末，蜜丸，芡實大，金箔為衣，薄荷湯化下。</p>
<p><u>聖力丹</u>　治急慢驚風，諸癇瘛瘲，頭項動搖，目睛上視，角弓反張，口噤牙緊或吐瀉，元氣虛脫，變成驚症，及大人中風，不醒人事，並效如神。</p>
<p>牛黃（一錢）　辰砂（二錢）　雄黃（二錢）　犀角（二錢，鎊）　天麻（二錢）　殭蠶（二錢，炒）　半夏（一錢五分，制）　蟬蛻（一錢五分，去土）　使君子（二錢）　木香（一錢五分）　香墨（一錢）　肉豆蔻（一錢五分）　南星（二錢）　白附子（二錢）　胡粉（一錢）　水銀（三錢五分）　鉛（三錢五分。同炒砂子）　白花蛇　烏蛇（二蛇取項後粗肉，酒浸，曬乾，各一兩）　螺青（一兩二錢）　附子（一錢五分，炮）　蜈蚣（二條，炙）　全蠍（一錢）　蟾酥（一錢）　天漿子（二十五個，炒去殼）　檳榔（二錢）　丁香（一錢）　麝香（一錢）　龍腦（五分）　金箔（二十張，為衣）</p>
<p>上為末，旋入研極細，大皂角一條刮去皮弦，好酒一斤，浸一宿，揉取汁，煎數滾放冷，入蜜少許，和丸，皂子大，薄荷湯化下。</p>
<p><u>紫石英</u>　治驚癇瘛瘲，日數十發，醫不能療，兼治大人風引並效。</p>
<p>紫石英　白石脂　赤石脂　滑石　石膏　寒水石（各三兩）　甘草　桂心　牡蠣（各二兩五錢）　大黃　龍骨　乾薑（各二兩）</p>
<p>十二味，各研粗末，拌勻，以絳囊懸於高涼處，每用一撮，水一鍾，煎六分服。大人倍用。</p>
<p><u>定驚丸</u>　治驚癇。</p>
<p>茯苓（三錢）　甘草（一錢五分）　桔梗（二錢）　白朮（四錢）　全蠍（五個，炙）　酸棗（五錢，炒）　殭蠶（二錢，炒）　天竺黃（三錢）　南星（一錢五分）　牛黃（五分）　天麻（三錢）　鉤藤（二錢）　辰砂（一錢五分）</p>
<p>為末，甘草膏為丸，圓眼肉大，燈心湯化下，日服二次。</p>
<p><u>定心丸</u>　治症同前，作煎劑亦可。</p>
<p>天麻　人參　桔梗　遠志肉　殭蠶（炒）　羌活　蟬蛻（研去土）　茯苓（各五錢）　薄荷　甘草　白附子　荊芥（各三錢）　全蠍　木香（各一錢）　南星（二錢）　防風　山藥（各三錢）</p>
<p>為末，煉蜜丸，芡實大，辰砂為衣，每服一丸，薄荷湯下。</p>
<p><u>安神丸</u>（一名養神丸）　治症同前，育養心神。</p>
<p>山藥　生地　當歸　遠志（肉）　茯苓　貝母　麥冬　黃連　白朮　人參　酸棗仁　辰砂（各五錢）</p>
<p>為末，竹瀝為丸，芡實大，辰砂為衣，圓眼、燈心湯下。</p>
<p><u>安神湯</u>　治一節驚癇搐搦，神志不寧。</p>
<p>人參（五分）　茯苓　白鮮皮　遠志（肉）　菖蒲　犀角（鎊）　麥冬（各一錢）　石膏（二錢）　山梔（七分）　甘草（三分）</p>
<p>生薑一片、燈心二十寸，水煎。痰甚，加膽星、半夏；睡不寧，加酸棗仁；口渴，加花粉、五味、肺熱，加黃芩；咳嗽，加杏仁、貝母；心經熱，加黃連；肝經，加小柴胡、龍膽草。</p>
<p><u>神應丸</u>　治一切驚癇，久服除根。</p>
<p>蛇含石（火煅醋淬七次）　磁石　石綠　硃砂　粉霜（各一兩）　石燕子（二個，火煅醋淬七次）　雄黃　牛黃　輕粉（各五錢）　麝香（二錢）</p>
<p>為末，甘草膏為丸，芡實大，薄荷湯化下。</p>
<p><u>牛黃涼膈丸</u>　治驚癇心肺壯熱。</p>
<p>玄明粉（五錢）　石膏（一兩）　甘草（三錢）　膽星（二錢）　牛黃（五分）　紫石英（一兩）　寒水石（一兩）　麝香（三分）　冰片（一分）</p>
<p>為末，煉蜜丸，麻子大，竹葉、燈心湯下。</p>
<p><u>神烏散</u>　治暗風。暗風者即癇症也，猶言病在內，人不得而知，舉發無常也。日服三次，此方極效。</p>
<p>臘月烏鴉一個全　半兩硃砂口內填</p>
<p>麻繩扎嘴安瓶內　鹽泥固濟火中安</p>
<p>黃昏上火天明住　取出篩羅為末研</p>
<p>每服一錢麝酒下　服之十日病安痊</p>
<p><u>又方神烏散</u>　治症同前。亦治疝氣，大小俱效。</p>
<p>黑老鴉（一個）　胡桃（七個）　蒼耳子心（七個）</p>
<p>俱入瓦瓶內，鹽泥固濟，炭火煅，煙盡為度，取出研細，每服一錢，空心酒調下。疝氣偏墜者，加新孩兒胎衣一付同煅依上法，蔥椒熱酒調下。</p>
<p><u>啄木鳥散</u>　治多年癇病。</p>
<p>石膏（二兩，煅）　鐵粉（一兩，漿水半升煮乾）　硃砂（二錢）　附子（一兩，炮）　麝香（一分）　冰片（二分）　臘月啄木鳥一個（用瓦罐一個，將荊芥穗鋪底一寸厚，再荊芥一寸蓋鳥上，入酒三斤，傾入罐中，鹽泥固口，炭火煅，酒干青煙出為度，去荊芥用鳥）</p>
<p>各碾為細末，次入麝、片，𠪙勻。每服一錢，溫酒送下。能飲再飲一二杯，便睡少時，再服一服。過一二日再服，不過十服除根。屢用屢驗秘之。</p>
<p><u>碧雲散</u>　治痰涎壅盛。</p>
<p>石綠（四錢）　輕粉（一錢）</p>
<p>共為末，每服三五分，薄荷湯下。</p>
<p>單方　銅青醋丸（桐子大，每服三四丸，薄荷湯下，須臾，痰涎如膠，湧出拽去。）</p>
<p><u>附諸驚癇症灸法</u>　艾炷如小麥大，過大傷肉。</p>
<p>臍風撮口，治驚風並效。</p>
<p>然谷穴（在內踝前大骨陷中。灸三壯）　百會穴（在頂後中央旋毛中。灸三壯）</p>
<p>急慢諸驚，風癇並效。</p>
<p>兩乳黑肉上（男左女右。灸三壯）　髮際穴　印堂穴　囟會穴（各三壯）　手足大拇指當甲角（兩手指扎一處，騎縫灸之。男近左，女近右。先灸足，後灸手。三壯）</p>
<p><u>驚癇</u></p>
<p>尺澤穴（在肘橫紋動脈處。灸三壯，或七壯）　長強穴（在脊骶端。灸三壯）　神庭穴（入髮際三分。灸三壯）</p>
<p>已前諸方並灸法，俱經驗得效者。</p>

<h2>中風論</h2>
<p>（附破傷風　雞爪風）</p>
<p>小兒中風之症，比大人亦同。小兒氣血柔弱，肌肉脆薄，若寒溫失度，膚腠乘虛為風邪所中。四肢僵直，口張氣急，痰涎壅盛，雖與驚癇相似，然發而時醒，身軟者，癇也；腰背反折而不醒者，中風之症也。岐伯曰：風為百病之長。大法四症：一曰偏枯半身不遂；二曰風排身無痛楚，四肢不收；三曰風懿奄忽不知人；四曰風痹周身麻木，此其大概也。凡言中者，乃卒然而中於風也，中於腑者可治；中於臟者難治。其症：發豎、吐沫、汗出如珠、遺尿失禁、面赤如斑、頭面青黑，皆為不治之症。更看人中左右上下，白者可治；一黑一赤者死。又有破傷風一症，其候與中風無異，治法頗同。外用敷藥，內用解表，驅風、化痰之劑。又有傷寒失於汗、下，變生此症。角弓反張、四肢瘛瘲、身體僵直，名曰痓病。無汗為剛痓；有汗為柔痓。亦類中風，詳見傷寒門。先用生薑擦牙開口，方可用藥。</p>
<p><u>救急稀涎散</u>　治中風、中惡、破傷風、痓病並效。</p>
<p>晉礬（光明者，一錢）　豬牙皂角（一條）</p>
<p>共為末，每服三五分，溫水調下。</p>
<p><u>烏藥順氣散</u>　治小兒一切風症，攻注四肢、遍身頑麻，口眼喎斜，語言謇澀。此藥疎通氣道，先服甚效。</p>
<p>麻黃　烏藥　陳皮　白殭蠶　川芎　白芷　甘草　桔梗（各八分）　枳殼（六分）　乾薑（三分）</p>
<p>生薑三片，水煎，天寒加附子（五分）</p>
<p><u>小續命湯</u>　中風者，非外來風邪，乃中氣虛自病也。此二方治中風四症甚捷。若小兒之風症，由父母不謹，或睡於壁風之處，或痧痘見風大早，中氣虛，風邪易入而成此症，或成厲風而不能治者。其中有三：中血脈則口眼喎斜；中腑則四肢不舉；中臟則不可治矣。男婦嬰童，並歷奇效。</p>
<p>麻黃　人參　黃芩　芍藥　甘草　杏仁　防風　防己（各一錢）　肉桂　附子（各三分）</p>
<p>生薑三片，水煎。無汗惡寒，倍麻黃、杏仁、防風；有汗惡風，加桂枝、杏仁、白朮；手足牽引，加天麻、鉤藤、殭蠶；身熱煩燥，加石膏、知母。</p>
<p><u>排風湯</u>　治中風昏憒，痰壅失音，精神錯亂，並痓病、破傷風並效。</p>
<p>白朮　白鮮皮　川芎　麻黃　杏仁　芍藥　當歸　防風　獨活　甘草　茯苓（各八分）　官桂（三分）</p>
<p>生薑三片，水煎。</p>
<p><u>換骨丹</u>　治中風癱瘓，口眼喎斜，一切驚癇、暗風並效。</p>
<p>我有換骨丹，傳之極齒秘，疎開病者心，扶起衰翁背。氣壯則延年，神清自不睡，南山張仙翁，三百八十歲。槐皮芎術芷，仙人防首蔓，十味各停勻，苦味香減半。龍麝各少許，硃砂作衣纏，麻黃煎膏丸，大小如指彈。修合在深房，勿令陰人見。夜臥服一丸，遍身津液滿，萬病自消除，神仙為侶伴。</p>
<p>桑白皮　茅朮　川芎　白芷　人參　威靈仙　防風　何首烏　蔓荊子（各一兩）　苦參　木香　五味　硃砂（各五錢）　槐角子（一兩）　麝香　龍腦（各五分）　麻黃（煎膏）</p>
<p>各取淨末，麻黃膏為丸，每兩分十丸，小兒減半，硃砂為衣。每服一丸，擊碎滾酒半盞浸之，以物蓋上，不可透氣，食後臨睡服，取汗用衣蓋之，得汗即瘥。</p>
<p><u>牛黃清心丸</u>　治諸風瘛瘲，四肢不隨，語言謇澀，痰涎壅盛，怔忡健忘。治癲癇並效。</p>
<p>羚羊角（一兩，鎊）　人參（二兩）　茯苓（一兩二錢五分）　川芎（一兩二錢五分）　防風（一兩五錢）　乾薑（七錢）　阿膠（一兩五錢，麩炒）　白朮（一兩五錢，炒）　牛黃（一兩）　麝香（五錢）　犀角末（一兩五錢）　雄黃（八錢）　白芍（一兩五錢）　柴胡（一兩二錢）　甘草（一兩）　山藥（二兩）　麥冬（一兩五錢）　桔梗（一兩二錢）　黃芩（二兩五錢）　杏仁（一兩二錢）　神麯（二兩五錢，炒）　白蘞（七錢五分）　肉桂（一兩五錢）　大黃豆卷（一兩二錢五分）　蒲黃（二兩）　當歸（一兩五錢）　冰片五錢　金箔（一千片，留四百為衣）</p>
<p>棗兒二斤，蒸熟去核，搗膏，和眾藥為丸。每兩分十丸，金箔為衣。每服一丸，薄荷湯下，小兒減用。</p>
<p><u>太乙蠟丸</u>　治小兒急慢驚風，癲癇痰症。</p>
<p>此二方即：廣中臘丸、牛黃丸，二藥俱用蠟包裹。</p>
<p>白朮（炒）　犀角（鎊）　青木香　香附　硃砂　沉香　白檀香　訶子　蓽茇　茯苓（各二兩）　安息香（三兩，酒一升熬膏）　蘇合香油（入安息香膏內，一兩）　冰片（三錢）　薰陸香（即乳香）　青皮　殭蠶（炒）　陳皮　人參　南星（制）　防風　白花蛇（酒浸）　天麻　藿香　白附子（炮）　羌活　當歸　川芎　地龍　甘草（各一兩）　全蠍（十五個，炙）　川烏（一個，去皮臍）　蟬蛻　麝香（一兩）　丁香（一兩五錢）</p>
<p>上除諸香不見火，腦麝諸香別研，余藥諸香各取淨末，煉蜜丸，每丸一錢重。用黃蠟三斤，於銅鍋內煮溶，候冷，去浮蠟，再入鍋內溶化。以木坯子頭，如此樣<img class="字" alt="圖">，柄用鐵線釘上，以涼水浸透，湛蠟數遍，候冷，以刀剖開，裹藥在內，再用物熨縫完固。大人一丸，小兒減用。</p>
<p><u>槐子膏</u>　治中風不醒人事，口眼喎斜。</p>
<p>槐子（炒）　殭蠶（炒）　白附子（炮）　防風（各一兩）　乾薑（五錢，炮）　麻黃　半夏　硃砂（各五錢）　牛黃（一錢）　麝香（五分）</p>
<p>用醋一碗，入半夏末，熬成膏，和藥為丸，如綠豆大。每服五丸，溫酒下。</p>
<p><u>大風膏</u>　定諸般風搐，一切驚癇。</p>
<p>白花蛇（一兩，酒浸去骨，焙乾）　蛇含石（二兩，醋煅七次）　大赭石（一兩，醋煅七次）　全蠍（五個，炙）　天竺黃（五錢）　天麻（三錢）　防風（三錢）　青黛（二錢）　紫草（三錢）　殭蠶（五錢，炒）　白附子（五錢）　南星（三兩，薑製）　辰砂（五錢）　麝香（五分）　赤足蜈蚣（一條，酒浸一宿，換鹽水再浸一宿，同南星、附子紙包焙乾）</p>
<p>為末，煉蜜丸，芡實大。每服一丸，薄荷生薑湯下。</p>
<p><u>烏蛇散</u>　治中風不醒人事，口眼喎斜，及破傷風角弓反張，一切風痰驚症並效。</p>
<p>烏蛇肉（一兩）　石菖蒲（一兩）　天麻（五錢）　全蠍（五錢，焙）　殭蠶（五錢）　附子（一個，重五錢，炮）　羌活　人參　白附子（二錢，炮）　半夏（二錢）</p>
<p>為末，每服一錢，生薑薄荷湯調下。</p>
<p><u>玉真散</u>　治破傷風及金刃傷損，並瘋犬咬，並效。</p>
<p>南星　防風（各等分）</p>
<p>上為末，破傷風先將此藥封口，用一錢酒調服；角弓反張，牙緊用二錢，童便調下；或打內傷，用一錢酒調下。南星，防風所制，服之不麻。</p>
<p>瘋犬咬，口含漿水，洗淨拭乾。此藥封上，自然不發，不貫膿。</p>
<p><u>江鰾丸</u>　治破傷風角弓反張，手足瘛瘲，大便秘結。</p>
<p>殭蠶　雄黃　江鰾（炒）　野鴿糞（各五錢，炒）　天麻　蜈蚣（二條，炙）</p>
<p>上為末，分三分，二分加硃砂二錢為衣；一分加制過巴豆一錢，俱用糊丸，麻子大。每服硃砂丸三十丸；巴豆丸五六丸，便秘多加數丸，利為度。再服硃砂丸，病愈止。</p>
<p><u>天仙膏</u>　治口眼喎斜。</p>
<p>天南星（大者，一個）　白芨（一錢）　大草烏頭（一個）　殭蠶（七個）</p>
<p>上為末，鱔血調敷。左喎敷右，右喎敷左，正則洗去。</p>
<p>又方：單用南星為末，薑汁調敷。左喎敷右，右喎敷左。</p>
<p><u>復正散</u>　治法同前。</p>
<p>白礬　附子　伏龍肝　牡蠣</p>
<p>上為末，雄雞冠血調敷。左偏敷右，右偏敷左，覺正即洗去。如遲，則又偏不復正矣。</p>
<p><u>一寸金</u>　治破傷風，用此即活。</p>
<p>蠐螬蟲（一個。人家灰糞內有、爛草屋上亦有。）</p>
<p>將他背脊捻住，待他口吐出沫來，將涎抹在瘡上，覺麻，身上汗出，無不愈者。</p>
<p><u>雞爪風</u>　兩手動搖，不能舉物。</p>
<p>五加皮　海桐皮　牡丹皮　川芎　草烏　赤芍（各五錢）　肉桂　乾薑（各一錢）</p>
<p>為粗末，每服二三錢。水一盞，入古銅錢一個同煎，煎過，浸清油內，再煎，再浸。</p>
<p><u>灸法</u>　腎俞穴（中風不醒，灸三壯。）</p>
<p>口眼喎斜（用筆管五寸長，插入耳內，面塞四圍，一頭艾火灸十四壯。左喎灸右，右灸左。）</p>
<p>又方：耳墜垂處，綠豆艾火灸三壯。左喎灸右，右喎灸左。</p>

<h2>中寒中暑</h2>
<p>（附中惡）</p>
<p>寒為天地肅殺之氣，時應乎冬。其在天則為霜雪，草木臨之而凋摧。原夫人之將養失宜；氣體虛弱，寒氣乘虛而入，因而卒中之者，名曰中寒。中寒者，中氣虛而受於寒也。其症：身體僵仆，四肢厥冷，兩脈沉伏，昏不知人，形類中風。</p>
<p>中暑者，形同而病別，診治亦各不同。暑之為氣，時應乎夏。在天為熱，在地為火，在人為心。暑之傷，先著於心。其症：頭痛眩暈，心煩面垢，身熱口渴，其脈虛濡。昏僕不知人，亦與中風相似。名曰中暑。中暑者，中氣虛而受於暑也。</p>
<p>中寒治以溫散；中暑治以清涼。先候天時，次隨症治。大小須則形殊，病症漫同一例，因時視症，舉一隅而類三隅也。</p>
<p>中惡者，亦類中風。原夫體弱神短，為祟所乘，名曰中惡。其症：面青唇紫，痰延壅盛，四肢厥冷，目睛不轉，身體僵仆，昏憒失音；或夢寐中為鬼所魘，昏昏默默，譫言妄語，推叫不醒。如遇此症，不可妄行汗下、驅風之藥。先用擦牙散、通關散吹鼻。焚香，輕擊鼓，耳邊低低喚其名字，待其甦醒，方用安神驅邪之藥。以上四症，並類驚癇，面青唇黑，大小便齊出，則不可救矣。</p>
<p><u>雙金散</u>　治中風、中暑、中惡、一切驚癇甚效。</p>
<p>蜈蚣（一條，大者，去頭足，酥炙黃，以竹刀當背縫分兩半）　麝香（一塊，五六分者，一分兩半）</p>
<p>將二味，左配左，右配右，各為細末，用紙包裹，不可泄氣。左右封記不可錯亂。如遇病者，眼睛吊上，止露白睛，搐搦不醒，不能出聲。用蘆管挑藥少許，隨搐者左右吹入，不可過多。如眼吊未下，再用少許吹之，眼隨下，搐亦便止。</p>
<p><u>通關擦牙散</u>　治驚癇、諸中、牙關不開。</p>
<p>南星（二錢，炮）　皂角（五分）　殭蠶（一錢）　蜈蚣（赤足一條，炙）　麝香（一分）</p>
<p>用生薑片，湛藥擦牙，或用薑湯調少許服。</p>
<p><u>生料五積散</u>　治感冒寒邪，頭疼、身痛，項背拘急，惡寒，嘔吐腹痛，並內傷生冷，外感風邪，寒氣客於經絡，腰腳痠疼，手足拘攣並效。</p>
<p>陳皮　白芷　厚朴（薑製）　桔梗　枳殼（麩炒）　當歸　川芎　茯苓　甘草　芍藥　蒼朮（炒）　麻黃　半夏（薑製）　肉桂　乾薑</p>
<p>生薑三片、蔥白三莖，水煎。分兩隨症加減用。挾氣，加茱萸、木香；手足逆冷，加附子；婦人調經催產，加艾（醋炒）。</p>
<p><u>理中湯</u>　治中寒，口噤失音，四肢僵直，及男婦胃脘停痰，冷氣刺痛。</p>
<p>人參　白朮　乾薑　甘草</p>
<p>附子理中湯：本方加附子、生薑五片，水煎。</p>
<p><u>四逆湯</u>　治厥陰感寒，手足厥冷，及中寒脈細欲絕。</p>
<p>當歸　桂枝　白芍　甘草　乾薑　通草（各等分）</p>
<p>生薑五片，水煎。厥冷，加附子</p>
<p><u>安胃散</u>　治寒氣犯胃，嘔吐不止，飲食不進，並治冷嗽。</p>
<p>陳皮　半夏（薑製）　厚朴（薑製）　藿香　白朮（炒）　茯苓　人參（各五分）　吳茱萸　砂仁　乾薑　甘草（各三分）　生薑三片，水煎。</p>
<p><u>消腎散</u>　治感受寒邪，腎囊腫痛，或偏墜舉發，沖連心腹，㽲痛不可忍者，大小並效。</p>
<p>豬苓　澤瀉　白朮　茯苓　陳皮　官桂　大茴香　小茴香　玄呼索　木通</p>
<p>各等分，水煎，乘熱服，取汗。</p>
<p>中暑諸方</p>
<p><u>至聖來復丹</u>　治榮衛不和，心腎不交，上實下虛，氣厥痰閉，心腹冷痛，臟腑虛滑。不問男婦老幼，危急之症，但有胃氣，無不獲安。此藥類二氣，均調陰陽，掌天地衝和之氣，有水火既濟之功。可冷可熱，可緩可急，其效殊勝。</p>
<p>硝石　硫黃（各一兩）　大陰玄精石（一兩）　五靈脂（四兩，研，水飛）　陳皮　青皮（各二兩，俱去白，取淨末）</p>
<p>先將硝、硫入銚內，細火微炒，用柳條不住手攪勻，候冷得所，碾細。次加諸藥，醋糊為丸，麻子大。大人四十丸，小兒二十丸，薑湯下。</p>
<p><u>二氣丹</u>　治伏暑傷冷，二氣交錯，中脘痞結，或吐或瀉。</p>
<p>硝石　硫黃（各一兩）</p>
<p>為末，銀石器內，微火炒黃色，碾細，糯米為丸，每服三四十丸，新汲水下。</p>
<p><u>龍涎散</u>　治中暑，迷悶不醒人事，及泄瀉藿亂，解暑毒，消煩渴。</p>
<p>飛羅面（一兩）　五味（二兩）　烏梅（二兩，去核）　甘草（一兩五錢，半生半熟）　白礬（一兩，生）</p>
<p>為末，水丸，彈子大。大人一丸，小兒半丸，新汲水下。一方有訶子一兩。</p>
<p><u>香樸飲</u>　治大小伏熱，吐瀉，虛煩口渴。</p>
<p>人參　茯苓　甘草　紫蘇葉　木瓜　澤瀉　香薷　半夏曲　白扁豆（炒）　陳皮　烏梅　厚朴（各等分）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>十味香薷飲</u>　消暑氣，和脾胃。</p>
<p>香薷　人參　陳皮　白朮　厚朴（制）　木瓜　扁豆（炒研）　茯苓　甘草　黃耆（各等分）</p>
<p>生薑三片，水煎。</p>
<p><u>清暑益氣湯</u>　治長夏濕熱太甚，熏蒸熾人，肢體困倦，精神短少，不思飲食，身熱而煩，小便赤數，大便溏瀉，口渴自汗。</p>
<p>人參　蒼朮（炒）　乾葛　黃耆　陳皮　當歸　白朮（炒）　麥芽（炒）　澤瀉　青皮　神麯（炒）　黃柏（酒炒）　升麻　甘草（炙）　五味</p>
<p>生薑三片，棗一枚，水煎，母子同服。</p>
<p><u>六和湯</u>　驅暑和中，調心脾，定吐瀉。</p>
<p>香薷　藿香　茯苓　人參　半夏　厚朴　木瓜　扁豆（各七分）　砂仁　杏仁　甘草（五分）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>香薷飲</u>　治夏月一切暑症。</p>
<p>香薷（二錢）　厚朴（一錢）　扁豆（一錢五分）　黃連（一錢）</p>
<p>水煎。</p>
<p><u>二香散</u>　治夏月一切外感。</p>
<p>香薷　藿香　厚朴　扁豆　黃連　陳皮　半夏　大腹皮　桔梗　紫蘇　茯苓　蒼朮　白芷（各等分）　甘草（減半）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>香薷解毒湯</u>　治中暑危急，及熱毒下血。</p>
<p>香薷（一錢）　厚朴　扁豆　黃連　山梔　黃柏　黃芩（各七分）</p>
<p>水煎。</p>

<h2>中惡諸方</h2>
<p><u>破棺散</u>　治魘卒死，一切暴絕橫死，心頭微溫者並效。</p>
<p>半夏（一味，湯泡去滑）</p>
<p>為細末，每用豆許，蘆管吹入鼻中。</p>
<p><u>朱雄散</u>　治中惡。或暮夜登廁，或出郊野，或入空房，或遊戲人所不到之處，忽見鬼物，鼻口吸著毒氣，驀然倒地，四肢厥冷，兩手握拳，口鼻血出，性命逡巡，須臾不救，此症與屍厥相同。如心腹暖，切不可移動，將人圍繞，打鼓焚香，候醒方可移歸，移場則不可救矣。</p>
<p>大硃砂　大雄黃（各一錢）　麝香（一分）</p>
<p>為末，新汲水調下。</p>
<p><u>八毒赤丸</u>　治男婦小兒染著神鬼，謂之鬼疰。（服此神效。）</p>
<p>雄黃　礬石　硃砂　牡丹皮　附子（炮）　藜蘆（各五錢）　巴豆（一錢，制）　蜈蚣（二條，炙）</p>
<p>為丸，蜜丸麻子大。每二三十丸，冷水下。桃柳枝湯更好。</p>
<p><u>斬鬼丹</u>　治兒鬼魘，及男婦與鬼魅交通。此方神效。</p>
<p>虎頭骨　硃砂　雄黃　雌黃　鬼桕　皂角　蕪荑　鬼箭　藜蘆（各一錢）</p>
<p>為末，蜜丸彈子大。囊盛一丸，男左女右，系膊上。又用一丸，當門戶燒之，一切鬼邪不入。</p>
<p><u>鎮心丸</u>　治心氣虛弱，夜多夢魘。</p>
<p>辰砂　防風　官桂　細辛　當歸　鐵粉　防己　茯苓　茯神　雄黃　桔梗　菖蒲　遠志　乾薑　人參　甘草（各一兩）　紫石英（二兩）　銀屑（如無，銀箔代之）</p>
<p>為末，蜜丸，硃砂為衣。圓眼、燈心湯下。</p>
<p><u>辟邪膏</u>　治中惡。症候如癇，服之立醒。</p>
<p>降真香　白膠香（別研）　沉香　虎頭骨（酥炙）　鬼桕（去毛）　龍膽草（去蘆）　人參　白茯苓　雄黃（各五錢）　麝香（一錢）</p>
<p>為末，入雄麝為丸，芡實大。乳香湯化下。用二丸絳囊，令兒珮帶吉。</p>
<p><u>闢瘟丹</u>　卻瘟疫，辟邪氣。官舍、空房夏月燒。甚妙。</p>
<p>蒼朮（茅山者）　川芎　黃連　白朮　羌活　草烏　細辛　防風　獨活　白芷　藁本　香附　當歸　荊芥　天麻　乾薑　牙皂　甘松　山柰　麻黃　芍藥　官桂　甘草（各等分）</p>
<p>為末，棗肉為丸，彈子大，曬乾收貯。</p>
<p>加雄黃、柏樹果子（加倍用。）名辟邪丹。夏月除濕驅蚊。</p>
<p><u>雄朱丹</u>　一女十歲，無恙。忽得疾，嗜食善飢，悲哭，自不知其所為，似祟似顛，面青或赤，因惱怒動心肝之火故也。此方效。</p>
<p>龍膽草（七錢）　黃連　黃芩（酒炒）　大黃（煨）　山梔　防風　羌活　當歸（各五錢）　川芎（四錢）　膽星（三錢）　酸棗仁（五錢炒）　青黛（三錢）　石膏（一兩煅）　雄黃（七錢，為衣）</p>
<p>為末，糊丸，麻子大。薄荷、燈心湯下。</p>

<h2>中火酒毒論</h2>
<p>夏末秋初之時，嬰兒患瀉痢，皆因吮母熱乳，或生冷飲食停積，失於調理而成斯疾。夏月瀉痢，無非熱症。用藥消導，分利陰陽，瀉痢自止。一等愚人，用火酒加赤砂糖空心飲之，間有大者能飲，果系生冷停積，得效者有之。庶不知火酒經宿，其毒浮聚，結花於上，酒壺一下，其毒逕入壺中。兒飲之者，身體僵仆，手足瘛瘲，與驚癇無二，但身體四肢俱柔軟如綿，面青，口鼻中有酒氣者，此症也。宜審曾吃火酒否，可置避風暖處，先用益元散涼水調下，次用四苓散加乾葛、黃連徐徐調理。有過二三日方得轉陽言語者，可謂再生，作驚醫治，百無一生。余目擊種種，故述之。</p>
<p>益元散（見泄瀉門）　琥珀抱龍丸（見前驚門，黃連甘草湯下）</p>
<p><u>四苓解毒湯</u>　治中火酒毒，兼治熱泄痢疾。</p>
<p>白朮（一錢）　茯苓（一錢）　豬苓（一錢）　澤瀉（一錢）　乾葛（二錢）　黃連（一錢五分）　甘草（一錢）</p>
<p>燈心二十寸，水煎，候冷，頻頻當水灌之。熱甚，加香薷　柴胡　黃芩　木通；痰甚，加貝母　麥冬　花粉　黃芩。</p>

<h2>傷寒論</h2>
<p>傷寒遵仲景之法，藥症精明，諸醫罕及。至陶節庵三百九十七法，一百一十三方，其間雜症疊興，非有真傳不足語此。夫小兒傷寒與大人無異，所兼者驚積而已。其煎劑，視兒大小，比大人少減耳。大人診脈，視症顯而易明；小兒之症，隱而難見。況兼驚、積、變蒸混雜難明。果的是傷寒，亦不可大汗下。何也？小兒腸胃脆薄、肌膚嬌嫩、一經汗下，恐變生痘痧之症，則難於調治矣。慎之！慎之！又當辨虎口三關，紋色紅紫，色盛便是此症。大者，診人迎脈，盛於氣口一倍，乃真感冒之症也。須察天時，識表裹，辨陰陽，審汗下，臨時視症。用藥十分斟酌，毫釐之差，千里之謬，醫乃人之司命可不謹歟。又有時行瘟疫，大小傳染，卒皆相似。治法又與傷寒不同一例而治。須明天時，識歲運，隨寒溫，看是何經受病，隨經而治之。藥以清涼解熱毒為主。</p>
<p><u>麻黃湯</u>　治寒傷榮。</p>
<p>麻黃（三錢）　杏仁（一錢五分）　桂枝（一錢）　甘草（五分）</p>
<p>生薑三片，蔥頭一個，水煎，熱服取汗。</p>
<p><u>桂枝湯</u>　治風傷衛。</p>
<p>桂枝（二錢）　白芍（一錢）　甘草（七分）</p>
<p>生薑三片，水煎。</p>
<p><u>三拗湯</u>　治風寒無汗，氣急痰喘。</p>
<p>麻黃（二錢）　杏仁（一錢五分）　甘草（一錢）</p>
<p><u>四拗湯</u>　本方加石膏（三錢）　治症同前。</p>
<p><u>參蘇飲</u>　治四時感冒，時行瘟疫，及傷風咳嗽並效。</p>
<p>紫蘇（一錢）　陳皮（七分）　半夏（五分）　茯苓　甘草　桔梗　枳殼　前胡　人參　乾葛（各七分）　木香（三分）</p>
<p>生薑三片，蔥白三莖，水煎，熱服取汗。痰喘氣急，加杏仁、桑皮、麻黃。</p>
<p><u>十神湯</u>　治症同前。</p>
<p>麻黃　紫蘇　乾葛　川芎　甘草　升麻　赤芍　陳皮　白芷　香附（各等分）</p>
<p>生薑三片，蔥白三莖，水煎，熱服。</p>
<p><u>芎芷香蘇散</u>　治四時傷寒，頭痛，發熱，惡寒。</p>
<p>紫蘇　香附　陳皮　甘草　白芷　川芎　麻黃</p>
<p>生薑三片，蔥白三莖，水煎，熱服。</p>
<p><u>九味羌活湯</u>　治四時傷寒。春分後，代麻黃湯用。</p>
<p>蒼朮（炒）　防風　羌活（各一錢）　白芷　甘草　川芎　生地　黃芩　細辛</p>
<p>生薑三片，蔥一根，水煎。取汗加麻黃、杏仁、石膏。</p>
<p><u>升麻葛根湯</u>　治時行瘟疫，頭痛，發熱及痧痘之症。已發未發疑似之間，並宜服。</p>
<p>升麻（一錢）　葛根（一錢五分）　白芍（八分）　甘草（五分）</p>
<p>姜三片，水煎。</p>
<p><u>防風通聖散</u>　此方古人治傷寒，隨症加減，心得不傳之妙，後學宜玩味之。</p>
<p>防風　川芎　麻黃　薄荷　當歸　連翹　芒硝　黃芩　桔梗　石膏　滑石　甘草　荊芥　白朮　山梔　大黃（便秘加倍）</p>
<p>姜三片，水煎。隨症加減，其功效無窮。自利去大黃、芒硝；自汗，去麻黃。</p>
<p><u>人參敗毒散</u>　治傷寒頭疼，壯熱惡寒，及時行疫症。</p>
<p>柴胡　前胡　川芎　人參　甘草　桔梗　羌活　獨活　茯苓　枳殼</p>
<p>各等分，生薑三片，水煎。</p>
<p><u>小柴胡湯</u>　治傷寒五六日，潮熱似瘧，心胸痞滿。</p>
<p>柴胡（二錢）　黃芩（一錢）　半夏　人參　甘草（各五分）</p>
<p>生薑三片，水煎。</p>
<p><u>大柴胡湯</u>　治嬰童感冒七八日，餘邪內結，身熱煩躁，潮熱讝語，大便不通，繞臍刺痛。</p>
<p>柴胡（一錢五分）　枳殼　赤芍　黃芩（各七分）　半夏（五分）　甘草（二分）　大黃（二錢，便結加三錢）</p>
<p>水煎，臨起加大黃，再煎一沸服。</p>
<p><u>白虎湯</u>　治傷寒汗後，邪熱未除，熱結在裡，心胸煩渴，躁欲飲水。</p>
<p>知母（三錢）　石膏（五錢）　甘草（一錢）</p>
<p>水煎。</p>
<p><u>白虎加蒼朮湯</u>　（本方加）蒼朮　治感寒濕兩足痠疼。</p>
<p><u>化斑湯</u>　（本方加）人參　治汗後七八日，不解及時行痧症。</p>
<p><u>竹葉石膏湯</u>　（本方加）麥冬　人參　竹葉　治口渴心煩，餘熱不退。</p>
<p><u>加味溫膽湯</u>　治病後虛煩不眠，心驚膽怯。</p>
<p>茯苓　半夏　橘紅　枳實　麥冬　酸棗仁（炒）　人參　柴胡　甘草　桔梗</p>
<p>浮小麥百粒，燈心二十寸，水煎。</p>
<p><u>藿香正氣散</u>　治傷寒頭疼發熱，四時疫症，及山嵐瘴氣，不服水土，霍亂吐瀉。</p>
<p>紫蘇　藿香　厚朴　茯苓　陳皮　白芷　半夏　桔梗　大腹皮　白朮（各等分）　甘草（減半）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>茵陳湯</u>　治病後變成黃疸，目黃如金，小便如血，心神煩躁。</p>
<p>茵陳　山梔　木通　花粉　柴胡　秦艽（各一錢）　甘草（二分）　麥冬（一錢五分）</p>
<p>淡竹葉二十片，燈心二十寸。</p>
<p><u>木通琥珀湯</u>　治熱病小便不通，或淋瀝疼痛。</p>
<p>木通（一錢五分）　生地　赤芍　赤茯　茅根（各一錢）　甘草（三分）</p>
<p>水煎，臨服入琥珀末五分服。</p>
<p><u>葳蕤湯</u>　治病後邪熱蘊於心經，昏昏默默，但眠不醒，難於汗下，此方主之。</p>
<p>葳蕤仁　白薇　麻黃　獨活　杏仁　川芎（各一錢）　石膏（三錢）　甘草　青木香（各三分）</p>
<p>水煎。便秘加大黃、芒硝。</p>
<p><u>酸棗仁湯</u>　治汗吐下後，心煩少氣，晝夜不眠。</p>
<p>酸棗仁　麥冬（各一錢五分）　甘草　知母　茯苓　川芎（各一錢）　乾薑（三分）</p>
<p>圓眼肉五個，燈心二十寸，水煎。</p>
<p><u>普濟消毒丸</u>　治時行瘟疫，增寒體重，渾身壯熱，舌燥口乾，咽膈不利，頭面浮腫，一切變易，功效如神。</p>
<p>黃芩　黃連（各五錢）　人參　陳皮　玄參　柴胡　甘草　桔梗（各三錢）　連翹　馬勃　牛蒡子（炒）　板藍根（各一錢五分）</p>
<p>姜三片，水煎。</p>
<p><u>解毒犀角丸</u>　治熱毒發斑，及時行痧痘，煩躁悶亂。</p>
<p>犀角（鎊）　黃芩　馬牙硝　大青　山梔　牛黃（二錢）　天竺黃（三錢）　赤茯苓　甘草　黃連（各五錢）　麥冬（一兩）　麝香（五分）</p>
<p>為末，蜜丸，芡實大。每服一丸，竹葉、燈心湯下。</p>
<p><u>鐵粉丸</u>　治時疫熱毒大甚，心神恍惚，悲喜不常，發狂欲走。</p>
<p>遠志　丹參　茯神　升麻（各一兩）　鐵粉（八錢）　殭蠶（五錢）　馬牙硝（一兩五錢）　牛黃（二錢）　硃砂（三錢）　冰片（三分）</p>
<p>為末，煉蜜為丸，金箔為衣，丸如圓眼大。涼水化下。</p>
<p><u>雞子飲</u>　治熱病五六日不解，壯熱發狂。</p>
<p>雞子清（一枚）　芒硝　寒水石（各三錢）</p>
<p>為末，新汲水調芒硝、寒水石，次入雞子清服。</p>
<p><u>太乙順氣湯</u>　此湯代大承氣、小承氣、大陷胸、大柴胡湯之神方也。治傷寒熱邪傳裡，無頭痛，不惡寒，反惡熱，口燥咽乾，心腹痞脹，繞臍刺痛，舌卷囊縮，燥渴譫語；及邪熱傳入陽明，潮熱自汗，揭去衣被，揚手擲足，發狂譫妄；或蓄血發黃，喘滿結胸，大小便不通。悉皆下之，此方甚妥。</p>
<p>大黃（一錢或三錢）　芒硝（一錢）　枳實　黃芩　厚朴　柴胡（一錢）　甘草　芍藥（各七分）</p>
<p>生薑三片，水煎。視症大小，虛實加減。小兒感冒宜下者，當遵此方甚效。</p>
<p><u>化斑青黛飲</u>　治大小邪熱傳裡，裡實表虛，血熱火盛，發為斑疹，煩躁悶亂，紅者輕，紫者重，黑者死，並時行痧症並效。</p>
<p>青黛　犀角　玄參　黃連　白芍　牡丹皮　生地　柴胡　甘草（各等分）</p>
<p>水煎。口渴，加麥冬、花粉；便秘，加大黃、桃仁。</p>
<p><u>黃連解毒湯</u>　大小感冒時疫，六七日不解，鼻衄不止。</p>
<p>黃連　茅根　山梔　犀角　黃芩　沙參　桔梗　生地　甘草</p>
<p>燈心二十寸，水煎。血甚，韭汁磨墨服。</p>
<p><u>松煙飲</u>　治熱病，鼻衄如泉不止。</p>
<p>上號京墨（為末）</p>
<p>每服一二錢。生地煎湯，入雞子清，冷服，涼水調亦可。</p>
<p><u>石葦湯</u>　治熱病，小便熱結不通。</p>
<p>石葦　瞿麥（各一錢）　木通（七分）　冬葵子（半合，研）　黃芩（七分）　甘草（五分）</p>
<p>燈心二十寸，水煎。用螺螄加麝香，鹽搗罨臍上。</p>
<p><u>蜜導法</u>　大便秘結，氣弱者用此，老人虛秘甚效。</p>
<p>白蜜（四兩，煉老入）　皂角末（少許）</p>
<p>小兒，捻棗核大，湛豬膽用之。多用數個不妨。</p>
<p>豬膽導法（用細竹管磨滑，送入穀道，將膽灌入。）</p>
<p><u>蔥餅熨法</u>　治氣虛陽脫，體冷無脈，厭厭氣息欲絕。</p>
<p>蔥（一束，用細繩纏如餅，去根葉，惟存白，二寸許）</p>
<p>將一頭烘熱，著臍，將熨斗熨上，令蔥餅熱氣透入腹中。更作三四餅，壞則換之，候病醒，手足溫，有汗方止。內服四逆湯。</p>
<p><u>雀茶飲</u>　治延纏日久，無藥可愈者，及發黃症。</p>
<p>雨前茶（真清明前者）</p>
<p>入鍋炒焦，用水烹之，候溫，令頻頻飲之，即愈。</p>
<p><u>傷寒灸法</u>　此三穴（陰厥，脈微欲絕，囊縮遺尿，腸鳴俱效。）</p>
<p>氣海穴（在臍一寸，看兒大小。治陰厥，手足逆冷）　石門穴（在臍下一寸五分）　關元穴（在臍下一指）陽陵泉（二穴，在臍下一寸二分）</p>

<h2>咳嗽論</h2>
<p>夫肺屬金，時應乎秋，外主皮毛，形寒飲冷則傷肺，喜溫而惡寒。如受寒邪，則皮毛先受其病矣。失於表散，則寒注於肺經；而生咳嗽。咳為有聲，肺氣傷而不清；嗽為有痰，脾濕動而生痰。須明四時，而施補瀉。如秋季肺經正旺，其病咳者，病必實。其症：面赤身熱，痰涎壅盛，法當下痰，降火為先。冬季咳嗽，病則頭痛身熱，口乾鼻塞，乃傷於寒也。藥以辛散為主。故云：輕則傷風，重則感寒。更當辨脈、視症而別之。傷寒，面垢，脈緊數；傷風，面赤，脈浮緩。大凡熱則泄之，寒則散之，有餘者瀉之，不足者補之。發散必以辛甘，湧泄系乎酸苦。臨時視症，故難執方，補瀉宣通，尤謹嚴於投劑。</p>
<p><u>加味參蘇飲</u>　治傷風咳嗽，及四時瘟疫。</p>
<p>紫蘇　乾葛　陳皮　茯苓　半夏　枳殼　桔梗　前胡　人參　甘草</p>
<p>春加升麻、防風；夏加香薷、石膏；秋加杏仁、金沸草、桑皮；冬加麻黃、杏仁、桂枝。</p>
<p>生薑三片，蔥白三莖，水煎。視兒大小加減。</p>
<p><u>蘇沉九寶湯</u>　治肺受寒邪，吼哮喘急，咳嗽聲重。</p>
<p>紫蘇　麻黃　杏仁　陳皮　桑皮　大腹皮　紫蘇子　薄荷　官桂　甘草</p>
<p>生薑三片，水煎，熱服。</p>
<p><u>麥煎散</u>　治四時感冒，傷風咳嗽，潮熱往來，昏沉多睡，夾驚夾食，渾身壯熱，痧痘後餘毒未解，並效。</p>
<p>麻黃　杏仁　甘草　石膏　知母　貝母　地骨皮　葶藶　滑石　桑皮　人參（肺熱，用沙參）　薄荷（各等分）</p>
<p>生薑三片，浮小麥百粒，水煎。</p>
<p><u>金沸草散</u>　治傷風咳嗽，痰涎壅盛。</p>
<p>麻黃　荊芥　半夏　白芍　前胡　金沸草（各一錢）　甘草（五分）</p>
<p>生薑三片，水煎。</p>
<p><u>二陳湯</u>　治一切咳嗽痰飲。</p>
<p>陳皮（二錢）　半夏（一錢）　茯苓（一錢五分）　甘草（五分）</p>
<p>生薑三片，水煎。</p>
<p><u>蘇子降氣湯</u>　治咳嗽日久，虛火上炎，痰涎壅盛，氣不升降。此藥降火、清痰、順氣。</p>
<p>當歸　陳皮　半夏　甘草　厚朴　蘇子（炒）　肉桂　桑皮</p>
<p>生薑三片，水煎。咳甚，加杏仁、五味。</p>
<p><u>清肺飲</u>　治脾胃虛寒，咳嗽喘急。</p>
<p>麻黃　杏仁　桑皮　阿膠　半夏　地骨皮　甘草　知母　人參　五味　久嗽，加粟殼（蜜炒）　烏梅</p>
<p>生薑三片，水煎。</p>
<p><u>礞石滾痰丸</u>　治男婦嬰童傷風咳嗽，痰涎壅盛，一切痰火，諸般怪症，無不神效。孕婦禁服。</p>
<p>大黃（八兩，酒蒸三次）　黃芩（八兩，酒炒）　礞石（一兩，水飛）　沉香（五錢）</p>
<p>為末，水疊為丸，硃砂（二兩）為衣。白滾湯、茶湯下。</p>
<p>玉芝丸（本方加）　蘿蔔子（一兩）　皂角（五錢）</p>
<p><u>流金丸</u>　治一切痰火咳嗽如神。</p>
<p>大黃（一斤，酒浸，蒸三次）　膽星　半夏曲　青黛　礞石（各二兩）　硼砂（一兩）　枳實（四兩）　沉香（一兩）</p>
<p>為末，竹瀝為丸。每服四五十丸，薑湯、茶湯下。</p>
<p><u>珍珠丸</u>　不拘遠年近日，一切咳嗽。</p>
<p>陳皮　半夏　茯苓（各一兩）　甘草　桔梗　枳殼　貝母　膽星　蛤粉（各七錢）　枯礬（五錢）</p>
<p>為末，水疊為丸，萊子大。每服四五十丸，薑湯下。</p>
<p><u>玉露散</u>　治一切咳嗽，及男婦痰火。</p>
<p>寒水石（四兩，煅）　蛤粉（一兩）　半夏（七錢）　膽星（七錢）　枯礬（五錢）　貝母（一兩）　甘草（七錢）　花粉（六兩為末，入水攪百遍，去水，曬乾入藥）</p>
<p>各𠪙極細。每服一錢，小兒三四分，薑湯加蜜調化下。</p>
<p><u>太平丸</u>　治男婦小兒久嗽，肺痿肺兊，一切勞症並效。</p>
<p>天冬　麥冬　知母　貝母　冬花　杏仁（去皮尖炒。各二兩）　當歸　生地　熟地　黃連　阿膠（麩炒。各一兩五錢）　蒲黃　京墨　桔梗　薄荷（各一兩）</p>
<p>各為細末，煉蜜為丸，彈子大。每服一丸，噙化下，蜜湯化下亦可。服後即睡，任其流入肺竅。</p>
<p><u>消化丸</u>　治症同前。痰甚者服此亦可。</p>
<p>礞石　明礬　膽星　半夏（制）　牙皂（各五錢）　茯苓　陳皮（各二兩）　枳殼（麩炒）　枳實（炒。各一兩五錢）　薄荷（一兩）</p>
<p>為末，神麯打糊為丸。每服糖飴湯送下，次噙太平丸。二藥交攻，痰嗽除根矣。看大小用之。</p>
<p><u>清氣化痰丸</u>　治大小一切咳嗽，氣鬱痰結。</p>
<p>南星（制）　半夏（制。各一兩）　陳皮　枳實　茯苓　黃芩（各一兩五錢）　杏仁（一兩，去油）　栝蔞子（一兩，去油）　甘草（六錢）</p>
<p>為末，薑汁打糊為丸，茶清下。</p>
<p><u>款冬花散</u>　治咳嗽氣急，痰喘不寧。</p>
<p>款冬花　知母　貝母　阿膠（蛤粉炒）　杏仁（去油。各一兩）　桑皮　半夏　麻黃（蜜炒）　甘草（各七錢）</p>
<p>為末，瓷罐收貯，每服一二錢，蜜湯下。或煉蜜為丸，噙化下。</p>
<p>人參款花膏（加）紫菀、五味，去麻黃、半夏、杏仁。</p>
<p><u>加味人參款花膏</u>　治如前症，咳嗽吐血。</p>
<p>紫菀　桑皮　人參　款冬花（各一兩）　五味　杏仁（各七錢）　木香　檳榔　紫蘇　桔梗　貝母　兜鈴（各五錢）</p>
<p>為末，煉蜜丸，芡實大。每服一丸，薑湯下。</p>
<p><u>白玉丸</u>　利膈下之頑痰，去胸中之噎塞，一切咳嗽痰症並效。</p>
<p>南星　半夏（各五錢，俱生用）　殭蠶（炒）　白礬（各二錢五分）</p>
<p>上為淨末，加杏仁（去皮尖，十個）　巴豆（一粒）　同碾如泥，薑汁為丸，麻子大，每服十五丸，看大小用。</p>
<p><u>二母膏</u>　治熱嗽，兼治痰喘。</p>
<p>貝母　知母（各一兩，俱用巴豆肉七粒，新瓦上焙黃，去豆不用）</p>
<p>為末，薑湯調化下，蜜湯亦可。</p>
<p><u>青金丸</u>　治咳嗽，化風痰，定喘息。</p>
<p>南星（制）　半夏（制。各一兩）　明礬（五錢，飛）　辰砂（二錢）</p>
<p>為末，薑汁糊丸，麻子大，雄黃（三錢）為衣，薑湯下。</p>
<p><u>梅花飲子</u>　治傷風咳嗽，痰喘氣急，及五心煩熱。</p>
<p>硼砂（三錢）　牙硝　芒硝　桔梗（各一兩）　甘草（五錢）　貝母（五錢）　辰砂（二錢）　梅片（一分）</p>
<p>為末，瓷罐收貯，封固。每服一二茶匙，麥冬湯下。</p>
<p><u>參杏膏</u>　治咳嗽日久，諸藥不效，服此即止。</p>
<p>杏仁（去皮尖，砂去油，一兩）　人參（三錢）</p>
<p>為末，和勻，每服一錢，胡桃肉煎湯調下。</p>
<p><u>白虎膏</u>　治痧痘後，餘毒不解，內熱咳嗽，吐血。</p>
<p>寒水石（一兩，煅）　貝母（一錢）　硼砂（五分）</p>
<p>為末，蜜湯調下。為丸亦可。</p>
<p><u>玉露霜</u>　清肺化痰，此咳嗽。</p>
<p>花粉（八兩，水飛澄清）　綠豆粉（八兩。用薄荷葉一兩，同二粉拌勻，入罐煮一炷香）　桔梗　貝母（各一兩）　柿霜（二兩）　甘草（五錢）</p>
<p>將二粉篩去薄荷，加藥和勻，瓷罐收貯。每服數匙，頻頻服之，加白砂糖四兩和用。</p>
<p><u>二黃膏</u>　治咳嗽有紅。</p>
<p>生地黃　熟地黃　天冬　麥冬　大薊　小薊　側柏葉（各等分，礬水浸一宿，炒）</p>
<p>水煎成膏，每服數茶匙。或作煎劑亦妙。</p>
<p><u>法制半夏</u>　消飲化痰，壯脾順氣。</p>
<p>半夏（一斤，潔白者，炮去皮臍，焙乾；再洗，再焙，如此七次）</p>
<p>用米泔水浸一宿，取出曬乾。白礬一斤八兩，碾細，同半夏水浸兩指許，浸五宿。再用鉛白霜一兩五錢，溫水化開，浸一日夜，取出，置漿水內，細火煮滾，取出焙乾，瓷罐收貯。每服一二粒，薑湯下。</p>
<p><u>煮肺藥</u>　治咳嗽日久，不肯服藥，二方並效。</p>
<p>杏仁　款冬花　紫軟　貝母　五味　阿膠　甘草（各一錢，為粗末）</p>
<p>用不著水豬肺一個，白蜜一兩，酥油五錢和藥，灌入肺管內，將繩紮緊，水煮熟，連汁食之，去藥不用。</p>
<p><u>寧肺膏</u></p>
<p>一兩清油二兩蜜，半兩生薑自然汁，紫菀麻黃及杏仁，桔梗細辛加添入，訶子枯礬各二錢，慢火煎熬黑如漆，臨臥每服二三匙，明朝咳嗽無蹤跡。</p>
<p><u>三奇散</u>　咳嗽日久不止。</p>
<p>款冬花　佛耳草　熟地黃</p>
<p>等分，為末，每用一匙。安香爐上焚之，蘆管罩煙，頻頻吸之。單款冬花末亦效。</p>
<p><u>靈寶煙筒</u>　治喘嗽。</p>
<p>黃蠟（三錢）　雄黃（二錢）　佛耳草（一錢）　款冬花（一錢）　艾（三錢）　鵝管石（一錢）</p>
<p>先將蠟溶搽紙上，次艾鋪上，又將藥末細細摻上，捲成筒子。用火點著一頭，吸菸三四口，茶清下。</p>
<p><u>灸法</u>　肺俞穴（治咳嗽不止。在第三椎兩傍一寸。五壯）　咳逆灸（乳下黑肉上，五壯）</p>

<h2>喘論</h2>
<p>（附齁　馬脾風）</p>
<p>諸喘為熱者何也？長夏熱甚，則息數氣粗，喘之為熱明矣。蓋肺主氣，為陽。陽氣流行，通條臟腑，故肺為五臟之華蓋，喜清虛，嫌滯濁。呼隨陽出，吸隨陰入，一升一降，陰陽乃和。若有窒礙，則陰不上升，陽不下降，陰陽乖戾，則生喘急矣；又有風寒暑濕，邪氣相干，皆能為喘；又有七情之氣，傷於五臟，亦能為喘。其症：口張氣急，胸滿痰喘，或喉間如拽鋸之聲。症候雖有十六，當究其源。如感寒邪，則驅散之；氣鬱則調順之；脾胃虛則溫理之。若小兒，無過四症：有肺受寒邪，咳嗽而生喘者；有肺熱，痰壅而上氣喘急者；有食鹹酸，肺經受傷而作喘者；又有病後，氣虛生痰而喘急者，尤為難治。脈滑手足溫者生；脈澀手足厥冷者死。若發汗如油，汗出如珠不流，喘而不休者死。</p>
<p><u>八仙丸</u>　治男婦嬰兒咳嗽痰喘。</p>
<p>膽星（一兩）　半夏　款冬花　牙皂（炙）　枯礬　甘草（各五錢）　杏仁（六錢，去皮尖研）　巴豆（九粒，入黑棗肉，火煨，存性）</p>
<p>為末，醋糊為丸，麻子大。每服二三十丸，薑湯下。</p>
<p><u>定喘湯</u>　治喘齁。</p>
<p>白果（二十個，去殼炒）　款冬花　麻黃　蘇子　桑皮（各二錢）　黃芩　杏仁（去皮尖）　半夏（制。各一錢五分）</p>
<p>生薑五片，水煎，小兒減半用之。</p>
<p><u>寧肺湯</u>　治上氣喘急，痰涎壅盛。</p>
<p>紫菀　陳皮　杏仁　枳殼　五味　半夏（制）　桑皮　紫蘇子（各一錢）　甘草　冬花（各七分）</p>
<p>生薑三片，水煎。</p>
<p><u>人參定喘湯</u>　肺氣上逆，喘急痰響，坐臥不安。</p>
<p>人參　麻黃　阿膠（蛤粉炒）　半夏曲　五味　粟殼　桑皮（各一錢）　甘草（五分）</p>
<p>生薑三片，水煎。</p>
<p><u>清金湯</u>　治男婦小兒不拘遠年近日咳嗽喘急，喉中涎響，胸滿氣逆，飲食不進，坐臥不安。</p>
<p>陳皮　半夏（制）　茯苓　甘草　阿膠（蛤粉炒）　杏仁　五味（二分）　桑皮　紫蘇　薏仁　貝母　粟殼　冬花（各一錢）　人參（六分）　百合（一錢）</p>
<p>生薑三片，水煎。</p>
<p><u>蘇杏飲</u>　治上氣喘嗽，面目浮腫。</p>
<p>杏仁　紫蘇（各一錢）　大腹皮　五味　紫菀　甘草　陳皮　麻黃　桑皮　阿膠　桔梗（各七分）</p>
<p>生薑三片，水煎。</p>
<p><u>玉華散</u>　治咳嗽喘急。此藥調順肺經，清利咽膈，安和神氣。</p>
<p>葶藶（炒）　桑皮　半夏　貝母　天冬　馬兜鈴　杏仁　紫軟　百合　人參　百部　甘草（各等分隨兒大小加減）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>瀉白散</u>　治肺氣有餘，咳嗽喘急，面腫身熱。</p>
<p>桑皮　地骨皮（各一錢五分）　甘草（五分）</p>
<p>生薑三片，水煎。</p>
<p><u>四磨湯</u>　治七情鬱結，上氣喘急，小兒郁少，備用。</p>
<p>烏藥　沉香　白檳榔　人參</p>
<p>各磨水，約相等，頓溫服。</p>
<p><u>牛黃奪命丹</u>　治大小肺脹喘滿，胸脅氣急，兩肋扇動，陷下作坑，鼻孔開扇，痰涎壅盛，心煩口渴，俗云馬脾風，此方神效。及辛辣厚味，肺熱作喘。</p>
<p>白牽牛　黑牽牛（各一兩。半生半熟）　青皮　陳皮（各六錢）　大黃（一兩五錢）　檳榔（一兩）</p>
<p>經云：肺氣上逆，急食苦以泄之。故用牽牛，苦寒瀉肺氣，利濕熱為君。陳皮苦溫，理其肺氣；青皮苦辛，散肺中滯氣為臣。檳榔辛溫，性沉重，下痰降氣；大黃苦寒，盪滌邪熱為使。每服二三錢，薑湯下。</p>
<p><u>皺肺丸</u>　專治喘。</p>
<p>款冬花　知母　秦艽　百部　紫菀　貝母　阿膠（各一兩）　杏仁（四兩，去皮，另研）　糯米（一兩，炒）</p>
<p>各為末，羊肺一具，先將水灌入，看容得多少，即用此水煮杏仁令沸，濾過，灌入肺中，以繩繫緊，同糯米煮熟為度，搗爛，和前藥為丸，麻子大。每服五十丸，桑皮湯下，量大小用之。</p>
<p><u>無價散</u>　治馬脾風。</p>
<p>硃砂（二錢五分）　輕粉（五分）　甘遂（一錢五分，麵裹煨熟）為末，每服三分，薑湯調下。</p>
<p><u>紫金丹</u>　治年久齁喘，日夜不臥，只一二服可愈。</p>
<p>淡豆豉（一兩）　白信石（一錢五分）</p>
<p>同碾成膏，丸綠豆大，每服七丸、十丸，冷茶湯下。</p>
<p>紫金膏　（即此方）將豉信碾膏塗碗內，用艾熏一時辰，取下加珍珠末一錢。用如前法。</p>
<p>服藥後忌一切熱物。</p>
<p><u>定喘化痰方</u></p>
<p>豬蹄甲（四十九個，洗淨，每個入）　半夏末　白礬末（各三分）</p>
<p>入罐內固濟，火煅，勿令煙出，研細加麝香一錢，瓷罐封貯。每服大者一錢，小者五分，薑湯下。</p>
<p><u>鯽魚丸</u>　治肺經久受寒邪，喘齁痰盛。初發其寒從背起，冷如冰雪，漸漸喘促，氣不相續，痰涎壅塞，咯吐不出，坐臥不得，莫可支吾，兩肩聳豎，背曲如弓，困憊垂死。一服見效，未效再服神驗。</p>
<p>鯽魚（重一斤者，不去腸鱗肚，近頭處開一孔，入）　白砒末（一錢），將魚入竹管內，外用青蒿搗泥固濟，候乾，火煅竹管通紅存性，去魚未燒過者，再加蛤粉三錢，綠豆粉丸，麻子大，硃砂五錢為衣。每服七八丸，赤糖湯冷下。忌一切熱物，大人服十丸。</p>
<p><u>內金丸</u>　專治喘齁。</p>
<p>雞內金（二十個）　白砒（二錢）　黃丹（五錢）　牽牛（五錢）　葶藶（五錢）</p>
<p>各碾細，露星月下七宿，再入半夏末二錢五分，同碾，棗肉為丸，再露二宿，硃砂為衣，如前服法。</p>
<p><u>雄黃丸</u>　治症如前，並鹽醋等齁哮吼。</p>
<p>雄黃（五錢）　半夏（一兩）　白礬（三錢）　信石（一錢）　巴豆（一錢去油）</p>
<p>將礬信同炒乾，研細，再入前藥，薑汁糊丸，綠豆大，辰砂為衣。每服五六丸，茶清冷下。</p>
<p><u>如聖散</u>　治諸般喘嗽，年久不愈。</p>
<p>蝙蝠（一個，去頭，炙令焦乾）</p>
<p>為末，每服一錢，米湯下。大者二錢。</p>
<p><u>十六般喘哮方</u></p>
<p>阿膠（一兩，蛤粉炒）　馬兜　甘草　半夏　杏仁（各一兩）　人參（五錢）</p>
<p>為末，每服一二錢，臨睡用後引調下：</p>
<p>心嗽，面赤，乾葛湯下；胃嗽，嘔吐酸水，蛤粉湯下；肝嗽，眼中流淚，烏梅湯下；膽嗽，不睡，酸棗仁湯下；脾嗽，不思飲食，吊惡，生薑湯下；膈嗽，痰涎內結，薑湯下；肺嗽，上氣喘急，桑皮湯下；勞嗽，骨蒸，秦艽湯下；傷風暴嗽，薑蔥湯下；冷嗽，薑蔥煎湯下；氣嗽，腹痛滿，青皮湯下；喘嗽帶紅，當歸湯下；腎嗽，連臍下痛，糖飴湯下；喉中拽鋸，生薑、半夏湯下。</p>

<h2>嘔吐論</h2>
<p>胃為水穀之海。胃主受盛，脾司運化，人身賴之以生，將養乖宜，致有嘔吐之患。嘔吐之症，非止一端，各從症治。或為寒氣內蓄；或為暑氣所幹；或為飲食所傷；或痰結而氣逆。須辨明是何症嘔吐，寒則溫暖之；暑則清涼之；停食當從消化；痰積必須順氣。有未周之兒，或乳母夏月當風取涼；或冬月觸冒風寒，此乳乳兒，亦令嘔吐，隨其冷熱而治之。凡小兒乳不可過飽，若滿則溢，亦令嘔吐。胃之納乳，如器之盛物，杯卷之小，不可容巨𨴗之物，雨驟則沼溢，酒暴則卮翻，理必然也。</p>
<p><u>青金丹</u>　專治吐逆。</p>
<p>水銀（八錢）　硫黃（一錢）</p>
<p>入銚內，慢火化開，將柳條撥炒，或有煙焰，以醋灑之，結成砂子，碾細，糊丸，麻子大。每二十丸，生薑、陳皮湯下。</p>
<p><u>定吐紫金核</u>　治冒寒嘔吐，及胃氣不和。</p>
<p>白茯苓（一兩）　藿香葉　枇杷葉（薑汁炙去毛。各六錢）　砂仁（二錢）　官桂（二錢）　木香（二錢）　乾薑（三錢）　白朮（五錢）　丁香（一錢五分）</p>
<p>棗肉為丸，硃砂三錢為衣。每服一丸，薑湯下。</p>
<p><u>燒針丸</u>　治吐瀉。</p>
<p>黃丹（二兩）　生礬（一兩）　硃砂（三錢）</p>
<p>棗肉為丸，桐子大。每用二三丸，針簽燈上燒存性，米泔化下。</p>
<p><u>香胃九仙丹</u>　治小兒一切嘔吐，及男婦反胃噎塞。</p>
<p>人參　甘草　南星　木香（各二錢）　半夏（五錢，制）　枳殼（一兩，麩炒）　枯礬（一錢）　豆豉（一兩）　厚朴（五錢，薑製）</p>
<p>為末，候晴夜露一宿，人參、厚朴煎湯作糊，作餅子，慢火焙乾。每服一餅，薑湯下。</p>
<p><u>辰砂五苓散</u>　治受暑毒，心煩嘔吐，小便不通，大便頻泄無度。</p>
<p>赤茯苓（二錢）　豬苓　澤瀉（各一錢）　白朮（一錢五分）　官桂（三分）</p>
<p>水煎，和硃砂末五分服。氣虛加生脈散：人參（五分）　麥冬（一錢）　五味（十粒）</p>
<p><u>益胃散</u>　止嘔吐，進飲食，益脾胃，寬胸。</p>
<p>茯苓　陳皮　藿香（各五錢）　白豆蔻　砂仁　木香（各三錢）　丁香　甘草（各二錢）</p>
<p>為末，每服一錢，薑湯下。</p>
<p><u>清膈飲</u>　治伏暑嘔逆。</p>
<p>香薷（二錢）　茯苓（一錢）　人參　半夏　甘草　檀香（各五分）</p>
<p>淡竹葉二十片、粳米百粒，水煎。</p>
<p><u>人參藿香散</u>　治脾胃不和，嘔逆不止。</p>
<p>人參　白朮　藿香　枇杷葉（各一錢）　丁香　良薑　甘草（各一分）　木瓜（五分）</p>
<p>生薑三片，水煎。</p>
<p><u>白豆蔻散</u>　治脾胃不和，腹痛嘔吐，飲食不進。</p>
<p>枇杷葉（姜炙去毛）　白豆蔻　陳皮　川芎　甘草　人參　木瓜　黃耆（各一錢）</p>
<p>生薑三片，棗一枚。</p>
<p><u>定吐良方</u>　治吐逆，諸藥不效，此方立驗。</p>
<p>半夏（二兩）　生薑（二兩，銼碎）　官桂（五錢）</p>
<p>生薑、半夏順手同炒，令香熟為度，方入官桂再焙，用紙鋪地上，出火毒，去焦屑。每服二錢，水煎。</p>
<p><u>萬安丹</u>　治胃氣傷冷嘔吐。</p>
<p>半夏（制）　白朮（各一錢）　附子（五錢一個，炮）　硫黃（一錢）　硃砂（五錢）</p>
<p>為末，薑汁為丸，麻子大。每服十丸，米湯下。</p>
<p><u>丹方</u>　治吐瀉立效。</p>
<p>硫黃　滑石（各等分）</p>
<p>每服一錢，米湯調化下。</p>
<p><u>灸法</u>　中庭穴（立止吐瀉，在亶中一寸陷中，灸三壯。）</p>

<h2>霍亂論</h2>
<p>霍亂者，何也？原胃氣虛弱，內傷飲食，外感寒邪。此症多行於長夏秋初，濕熱交蒸之際。日受生冷之積，夜復感於寒邪，陰不上升，陽不下降，陰陽否塞，而成斯症。先心痛則先吐，先腹痛則先瀉，心腹齊痛，吐瀉並作，甚則轉筋，有聲有物而吐利者，此乃其症也，名曰霍亂。又有心腹齊痛，有聲無物，吐又不吐，瀉又不瀉，煩躁悶亂，甚則轉筋入腹，須臾不救，名為乾霍亂，俗云攪腸痧者是也。脈洪大者易治；脈微手足厥冷者難治。若遍體轉筋，舌卷腎縮者死。倉卒之際，用冷水一半，滾湯一半，加鹽少許，名曰陰陽湯，引其必吐宿食殆盡，為妙。重甚者，用艾臍下灸七壯。切不可用寒涼之藥。治法；宜引清氣上升，濁氣下降，散寒消食，分利陰陽。不可便吃米飲湯，熱湯投之即死。待平靜半日後，方可與冷稀粥湯方妥。冬月霍亂，宜用五積散；夏月霍亂，藿苓湯主之。凡轉筋不止，男子手挽其陰，女子手挽兩乳，甚妙法也。</p>
<p><u>藿苓湯</u>　（即藿香正氣散合五苓散）　治藿亂心腹卒痛，上吐下瀉，增寒壯熱。</p>
<p>藿香　紫蘇　大腹皮　陳皮　桔梗　甘草　茯苓　半夏曲　厚朴　白芷　白朮　豬苓　澤瀉（各等分）　官桂（少）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>二香散</u>　治夏月內傷生冷，外感風寒，霍亂轉筋，渾身壯熱。</p>
<p>蒼朮　厚朴　陳皮　甘草　紫蘇　藿香　茯苓　半夏　大腹皮　白芷　香薷　扁豆　黃連　桔梗　麻黃（各等分）</p>
<p>生薑三片，水煎熱服。（即藿香正氣散合香薷飲）</p>
<p><u>加味理中湯</u>　治霍亂吐瀉，肚腹疼痛，手足厥冷，脈來沉細。</p>
<p>白朮（炒）　茯苓（各一錢五分）　乾薑　甘草（各一錢）</p>
<p>生薑三片。水煎。</p>
<p><u>附子理中湯</u>（本方加）附子　治手足厥冷，脈沉細。</p>
<p><u>治中湯</u>（本方加）青皮、陳皮　治心腹膨脹。</p>
<p><u>五苓蘇木湯</u>　治霍亂吐瀉，外感寒邪。</p>
<p>白朮　茯苓　朱苓　澤瀉（各一錢）　官桂（三分）　紫蘇　木瓜（各五分）</p>
<p>生薑一片，水煎，臨服入少許。</p>
<p><u>不換金正氣散</u>　治霍亂吐瀉，下痢赤白，及四時疫症，山嵐瘴氣，寒熱往來，不伏水土並效。</p>
<p>茅朮　厚朴　陳皮　甘草　藿香　半夏（制等分）</p>
<p>生薑三片，水煎。</p>
<p><u>木瓜湯</u>　治霍亂轉筋，上吐下瀉。</p>
<p>木瓜（二錢）　茴香　吳朱萸（各一錢）　甘草（六分）</p>
<p>生薑五片，水煎。兒小者減半。</p>
<p><u>立應散</u>（胃家有熱難停食，胃冷無綠紗水漿，二症皆令兒嘔吐，又家聖藥是生薑。此方主之。）</p>
<p>生薑（一兩）　鹽（二兩）</p>
<p>同炒變色。三歲兒五分，童便一杯，煎服。大人倍用。</p>
<p><u>灸法</u>　霍亂已死，心腹有暖氣者，納鹽臍中，灸七壯。</p>

<h2>泄瀉論（附）宿食</h2>
<p>泄瀉之症，經云有五。所謂五泄者：曰胃泄、脾泄、大腸泄、大瘕泄、小腸泄。胃泄者：飲食不化，色黃；脾泄者：腹脹滿，瀉注，食則吐逆；大腸泄者：食已窘迫，腸鳴切痛，大便色白；大瘕泄者：裡急後重，數至圊而不能便，小腹痛；小腸泄者：溲而便膿血，小腹痛，莖中痛。名則有五，泄非一端。有因脾胃虛弱，飲食不能運化而作泄者；有飲食過傷，食積停滯而作瀉者；有久陰動濕而泄者；有寒暑調理失宜而作泄者；有乳母自病；兒吮熱乳，而作瀉者。脾虛則溫補之；停食消導之；積聚隨緩急而下之；動濕則辛散而滲之；寒暑則隨時令冷熱調理之；乳母有疾，問其症而治之。泄瀉初起，不可便用補劑，恐宿食不消，反生他症矣。證見五虛：脈細、厥冷、少氣、泄痢、不食，為難治。</p>
<p><u>保和丸</u>　治一切食積，泄瀉酸臭，嘔吐不食，心膈膨脹。</p>
<p>山楂肉（六兩）　神麯（四兩）　半夏曲（三兩）　茯苓（三兩）　陳皮（二兩）　連翹　蘿蔔子（炒。各一兩五錢）</p>
<p>為末，水疊為丸，薑湯下。</p>
<p>大安丸（本方加）白朮（三兩）　治脾泄。</p>
<p><u>木香檳榔丸</u>　治男婦小兒一切食積，肚腹膨脹，面色痿黃，內有蟲鱉癥瘕，及泄瀉痢疾，並歷神效。</p>
<p>大黃（一斤，銼片，酒拌一宿，曬乾）　牽牛（一斤，半生半熟）　檳榔（八兩，白色者）　木香（一兩五錢）　乾薑（一兩，炮）</p>
<p>各為淨末，稀糊為丸，麻子大，薑湯空心下。去血鱉蚘蟲，赤砂糖、空心五更時下。日午下後，稀粥補。當日不可吃腥葷。</p>
<p><u>神聖丸</u>　消食去積，順氣止痛。</p>
<p>青皮　陳皮（各八兩，醋炒）　烏梅肉（四兩）　巴豆肉（一兩，制）　大椒（五錢）</p>
<p>為末，糊丸，菜子大。每服五十丸，薑湯下。</p>
<p><u>助胃膏</u>　治脾胃素弱，外感寒邪，內傷生冷，上吐下瀉，久痢不止，胃口不開，面黃肌瘦，神昏目慢，手足厥冷，懨懨欲成慢驚。此藥健脾開胃，扶元氣，育養心神，及男婦久瀉，並效。</p>
<p>人參（五錢）　白朮（一兩，炒）　茯苓（一兩）　甘草（五錢，炙）　陳皮（八錢）　白豆蔻（三錢）　砂仁（三錢）　木香（三錢）　藿香（六錢，去土）　丁香（二錢）　訶子肉（六錢，煨）　肉豆蔻（三錢，麵煨）　枇杷葉（六錢，薑汁炙，去毛）</p>
<p>為末，煉蜜搗勻合助胃膏。每服一錠，清米湯下。</p>
<p><u>香橘餅</u>　治嘔吐瀉痢，冷熱不調，赤白膿血，小腹疼痛，脾虛不食，及內有積聚。常服甚效。</p>
<p>蒼朮（一兩二錢，炒）　厚朴（八錢，薑製）　陳皮（一兩）　甘草（五錢）　山稜（七錢，醋炒）　蓬朮（七錢，醋炒）　青木香（三錢）　木香（三錢）　神麯（一兩，炒）　麥芽（八錢，炒）　山楂肉（八錢）　青皮（醋炒）　香附（各一兩）　官桂（五錢）　砂仁（三錢）</p>
<p>共為末，煉蜜搗勻合香橘餅。每服一餅，米湯化下。</p>
<p><u>啟脾丸</u>　健脾胃，進飲食，止泄瀉，治久痢，及男婦老弱脾泄。並歷神效。</p>
<p>人參（五錢）　白朮（一兩，炒）　茯苓（一兩）　甘草（五錢，炙）　蓮肉（一兩）　山藥（一兩）　山楂肉（一兩）　陳皮　澤瀉（各七錢）　肉蔻（三錢，麩煨）</p>
<p>為末，煉蜜搗勻為丸，圓眼核大，清米湯下。</p>
<p><u>參苓白朮散</u>　治一切泄瀉，脾胃虛弱，及久痢不止。</p>
<p>人參　白朮（炒）　茯苓　薏苡仁（炒）　甘草（炙）　山藥　蓮肉　扁豆（炒。各一兩）　砂仁（五錢）　桔梗（七錢，炒）</p>
<p>為末，每服一二錢，白滾湯調化下。作煎劑亦可。</p>
<p><u>胃苓湯</u>（即平胃散合五苓散）　治一切瀉痢，及不服水土，脾胃不和，三焦氣壅。寬中順氣；分利陰陽。</p>
<p>蒼朮（炒）　厚朴（薑製）　陳皮　甘草　白朮（炒）　豬苓　澤瀉（各等分）　官桂（少）　茯苓（一錢二分）</p>
<p>生薑三片，棗一枚。此方隨症應變，功效無窮。</p>
<p><u>加味觀音散</u>　外感風冷，內傷飲食，脾胃不和，嘔吐泄瀉，不進乳食，漸至羸瘦。大抵胃虛則嘔，脾虛則瀉，脾胃俱虛，吐瀉不已。此藥溫養脾胃。</p>
<p>人參　黃耆　茯苓（各一錢）　藿香　扁豆（各七分）　木香（三分）　白芷（六分）　甘草（五分）　神麯　蓮肉　石蓮肉（各八分）　乾薑（三分）</p>
<p>冬瓜仁百粒、烏梅一個，水煎。</p>
<p><u>溫脾散</u>　治泄瀉腹痛，乳食不化。</p>
<p>蒼朮（一錢，炒）　厚朴（七分，制）　甘草（五分）　陳皮　訶子　人參　茯苓　桔梗（各六分）　木香　乾薑（各三分）</p>
<p>為末，鹽梅湯調化下；或作煎劑亦可。</p>
<p><u>人參豆蔻散</u>　止泄瀉，厚腸胃，進飲食。</p>
<p>人參（五分）　白朮　茯苓　陳皮（各八分）　厚朴　訶子肉　肉豆蔻（各五分）　白豆蔻（三分）　白扁豆　甘草（各七分）</p>
<p>生薑三片，鹽梅一個，捶碎水煎；為末服尤妙。</p>
<p><u>錢氏白朮散</u>　脾胃不和吐瀉，並作心煩口渴。</p>
<p>人參　白朮　茯苓　甘草　藿香　乾葛　木香</p>
<p>生薑三片，水煎。</p>
<p><u>五苓散</u>　分陰陽，利小水，熱瀉用之甚效。</p>
<p>豬苓（一錢五分）　白朮　澤瀉　茯苓（各一錢）　官桂（三分）</p>
<p>水煎。熱吐，加半夏（一錢）。</p>
<p><u>生脈散</u>　治長夏濕熱熏蒸，心煩口渴；元氣虛弱者用之，生津止渴，生脈益元氣。</p>
<p>人參（五分）　麥冬（一錢）　五吐（十粒）　</p>
<p>川米百粒，水煎。</p>
<p><u>桂苓甘露飲</u>　治暑月熱瀉，心煩口渴，面赤唇紅。</p>
<p>茯苓　白朮　豬苓　澤瀉（各一錢）　石膏　滑石　寒水石（各二錢）　官桂　甘草（各三分）</p>
<p>淡竹葉二十片，水煎。</p>
<p><u>辰砂益元散</u>　治中暑身熱，小便不利。此藥專能燥濕，利小便，實大腸，化食毒，去積滯，逐瘀血，解煩渴，補脾胃，清暑降火之要藥也。</p>
<p>滑石（一斤，桂府者佳，如無，細膩潔白亦好。牡丹皮煮過用）　甘草（一兩）</p>
<p>碾極細，加辰砂五錢，𠪙勻。每服一二錢，蜜水下。</p>
<p>滑石，青黃二種殺人，並上面垢不去，亦傷人。</p>
<p><u>團參散</u>　治脾胃虛弱，冷熱不調，一切吐瀉痢疾，手足厥冷並效。</p>
<p>人參　茯苓　扁豆（炒）　山藥　川芎　粟殼（各一兩，蜜炒）　甘草（炙）　白朮（炒。各七錢）　木香（三錢）　厚朴　白芷　烏藥　粟米（炒。各五錢）</p>
<p>為末，瓷罐收貯。每服一錢，滾湯調化下。</p>
<p><u>固腸丸</u>　治脾胃虛弱，滑泄無度，腹痛腸鳴，及疳瀉痢不止。並效。</p>
<p>當歸　人參　白芷　赤石脂　龍骨（煅）　白朮（炒）　烏魚骨（各等分）</p>
<p>為末，醋糊為丸。量大小，米湯下。</p>
<p><u>香礬丸</u>　治瀉痢日久不瘥。</p>
<p>枯礬　訶子　酸石榴皮（炒黑。各等分）　木香（減半）</p>
<p>為末，糊丸麻子大。每二三十丸，米湯下。</p>
<p><u>瀉痢奇方</u>　治小兒泄瀉，日久不止，及男婦脾泄並用。</p>
<p>糯米（半升，薑汁浸一宿炒熟）　山藥（半斤，炒黃）</p>
<p>為末，加大椒末一錢，和勻，瓷罐收貯。每服一二錢，赤砂糖湯調化下。</p>
<p>單方車前子　（微炒為末，每服一錢，米湯調化下。）</p>
<p><u>灸法</u>　關元穴　治灸瀉不止，灸五壯。見前。</p>

<h2>痢疾論</h2>
<p>痢疾古云滯下，多行於夏末秋初，其故何也？然內為生冷所積，外為暑濕相搏，其得病之由也。脾胃不和，生冷過度，停積於腸胃之間，不得克化；又為風寒暑濕之氣相干，淹留日久，而成斯疾。大抵痢疾無積不成。所謂痢者，利也。乘病初起，必先用疎利之藥，盪滌腸胃，使毒氣外泄。切不可先用補澀之藥，使積停滯，不得外泄，則熱毒固閉，惡症生矣。所謂痢不可止，此也。當下不下，日久脾胃益虛，尤不可下矣。其證有八：曰冷、曰熱、曰疳、曰驚、曰冷熱不調、曰休息痢、曰蠱毒、曰瀼痢。冷痢則去白，熱痢則去紅。余謂不然，當辨手足溫暖則為熱；厥冷則為寒。以此分別治之，則不誤矣。疳症，痢兼黃白，下無時度；驚痢去青，乍寒乍熱；冷熱不調，則赤白相雜；休息痢，糞黑如魚腸，愈而復作；瀼痢，停積失於不下，大便秘澀，疼痛啼叫，惡食糞臭；蠱毒下痢紫黑。又有三惡症：曰禁口痢者，毒氣侵胃，乾嘔不食；二曰刮腸痢，腸頭鮮血頻滴，肛門深黑，開張可畏，肚腹㽲痛，裡急後重；三曰滑腸痢，日夜頻並，飲食直過，完穀不化。如遇此症，非盡誠醫治，十中難全一二。久痢渴而思酒，是腸胃精液耗竭故也。治之之法：冷者溫之，熱者清之，和胃溫脾，寬腸順氣。下痢身涼，脈微細者生；身熱脈浮大者死；舌黑汗出者死。</p>
<p><u>感應丸</u>　治一切食積，下痢赤白，肚腹㽲痛，裡急後重，不拘男婦，此藥乃斬關奪營之將，定禍亂而致太平，真有起死回生之功，用之得宜神效。</p>
<p>茅朮（一兩五錢，炒）　厚朴（一兩，薑製）　陳皮（一兩二錢）　甘草（五錢）　乾薑（五錢）　百草霜（三錢）　巴豆（五錢，制）</p>
<p>制巴豆法：如用，先於三月之前，去殼，取仁，去枯油者不用。研細，用紙包裹．壓去油。再研，再壓。仍置泥地，任其上梅，去毒，方可合藥，否則傷人。為末，次人百草霜、巴豆，𠪙細和勻。麵糊為丸，麻子大，周歲十二三丸，大人四五十丸。</p>
<p>小兒七八朝，惡露內蓄，腹脹不乳。黃連甘草湯服六七丸，甚效。</p>
<p><u>脾積丸</u>　治臟腑一切寒食積聚。</p>
<p>三稜（一兩，醋炒）　蓬朮（一兩，醋炒）　青皮（一兩，醋炒）　良薑（醋炒）　木香（各五錢）　丁香（三錢）　皂莢（三條，燒灰）　巴豆（五錢，制）　百草霜（三錢）</p>
<p>為末，麵糊為丸，麻子大，薑湯量大小服。</p>
<p><u>導滯湯</u>　痢疾初起，必下，此方視大小承氣最穩當。</p>
<p>黃芩（酒炒）　黃連（薑汁炒）　當歸　赤芍（炒）　枳殼（麩炒）　檳榔（各一錢）　木香（五分）　大黃（小者二三錢，大人六錢，酒擺過，曬乾候用）</p>
<p>水鍾半，煎三滾，入大黃再煎一滾，置水中候冷，再上火頓熱服。渣再煎服效。</p>
<p><u>加味胃苓湯</u>　內傷生冷之食，外感暑濕之氣，肚腹㽲痛，裡急後重，一切痢疾泄瀉，脾胃不和，並效。</p>
<p>豬苓　澤瀉　白朮　茯苓　蒼朮（炒）　厚朴（制）　陳皮（各一錢）　甘草（五分）　枳殼　檳榔　黃連　薑汁（炒）　黃芩（七分）　木香　官桂（各三分）</p>
<p>生薑三片，棗一枚，水煎。夏月加香薷、扁豆，去官桂；腹痛甚加生薑、雨茶；久瀉加訶子、肉果；久痢加烏梅、粟殼，便血加槐花、荊芥、當歸；小便不利加木通、滑石；口渴加乾葛、麥冬、五味，去桂。</p>
<p><u>調中湯</u>　治症同前。</p>
<p>黃連（薑汁炒）　黃芩（酒炒。各一錢五分）　當歸（一錢）　白芍（酒炒）　檳榔（各八分）　水香（三分）</p>
<p>生薑五片，雨茶一撮，水煎。</p>
<p>加味調中湯，有蒼朮、白朮、滑石、生地。</p>
<p><u>胃風湯</u>　治風冷乘虛客於腸胃，腹痛腸鳴，水穀不化，下注豆汁，或下瘀血。</p>
<p>人參　白朮　當歸　川芎　茯苓　芍藥　羌活　防風（各等分）　官桂（少）</p>
<p>粟米一撮，水煎。</p>
<p><u>神效散</u>　下痢赤白，裡急後重，肚腹㽲痛，不拘新久，並效。</p>
<p>蒼朮（一錢）　厚朴　陳皮（各七分）　甘草（五分）　當歸　川芎（各七分）　黃連（一錢五分）　枳殼　升麻（各六分）　木香（三分）　白芍（一錢）　人參（五分）</p>
<p>烏梅一個，黑棗二枚，水煎。</p>
<p><u>真人養臟湯</u>　治冷熱不調，下痢赤白，臍腹攪痛，裡急後重，瀉痢已久。</p>
<p>人參　白朮（炒）　當歸　芍藥（炒）　訶子　肉蔻（煨）　甘草　粟殼（蜜炒。各八分）　肉桂　木香（各三分）</p>
<p>生薑三片，水煎。手足厥冷加附子。</p>
<p><u>解毒香薷飲</u>　治暑毒，下痢純血，身熱口渴，心煩面赤，臍腹㽲痛，裡急後重，小便赤澀。</p>
<p>黃芩　黃連　黃柏（各一錢）　香薷（二錢）　厚朴　扁豆（炒研。各八分）</p>
<p>水煎服。大人酒毒便血，加當歸　阿膠（蛤粉炒。各一錢）</p>
<p><u>三黃熟艾湯</u>　本方加祁艾（一錢醋炒）</p>
<p><u>生熟飲</u>　治痢日久，肚腹絞痛，裡急後重，日夜無度。</p>
<p>粟殼（四個）　陳皮（二片）　甘草（一寸，兩破）　烏梅（二個）　黑棗（二個）　生薑（二片）　木香（一錢，分二塊）　訶子（二個）　黑豆（六十粒）　黃耆（二寸）　白朮（二塊）　當歸（二寸，兩破）</p>
<p>俱要半生半熟，不用銼碎，水二碗，煎一碗，徐徐服。此方按君臣佐使，調陰陽，和脾胃，順益三焦，安調五臟。日久泄痢，無不神效，不可忽之。</p>
<p><u>五聖散</u>　治一切瀉痢日久，諸藥不效，懨懨欲絕，可轉危就安。</p>
<p>烏梅（七個，捶碎）　黑棗（七個，搗）　粟殼（七個，蜜炙）　甘草（七寸，炙）　蓮肉（七粒，搗）</p>
<p>生薑七片，雨茶七分，水煎，露一宿。天明頓溫，徐徐服。酒煎尤妙。小兒分二日服。</p>
<p><u>香連丸</u>　治一切瀉痢，肚腹不和，胸膈痞悶，氣痛，並效。</p>
<p>黃連（淨，一斤，吳茱萸四兩，同炒）　肉豆蔻（二兩，麵煨）　木香（二兩）　茅朮（六兩，炒）　厚朴（三兩，薑汁炒）　陳皮（四兩）　甘草（一兩五錢）</p>
<p>為末，醋糊為丸，量大小，米湯、醋湯，隨意服。</p>
<p><u>驚粟丸</u>　治症同前。未經行過不可用。</p>
<p>粟殼（四而，醋炒）　青皮　陳皮　當歸　訶子　白芍（各二兩）　甘草　木香　乾薑（各一兩）</p>
<p>為末，煉蜜為○大。每服一丸，蜜湯磨化，頓熱服。</p>
<p><u>豆蔻丸</u>　瀉痢日久，腸胃虛寒，腸滑，糟粕不聚，此方主之。</p>
<p>肉豆蔻（煨）　胡粉（炒）　龍骨（煅）　白礬（煅）</p>
<p>各等分，為末，糊丸。量大小，米湯下。</p>
<p><u>百中散</u>　治症如前。</p>
<p>粟殼（蜜炒）　厚朴（薑汁炒）</p>
<p>等分，為末。每服一錢，白痢赤砂糖湯；赤痢蜜湯，調下。</p>
<p><u>海藏仙方</u>　治受暑毒，久瀉、久痢、久瘧，並效如神。</p>
<p>雄黃（透明者）</p>
<p>不拘多少，為末，蒸餅為丸，綠豆大。甘草湯下。</p>
<p>端午日製更效。</p>
<p><u>鐵門栓</u>　治赤白痢疾，五種泄瀉。</p>
<p>文蛤（一兩炒）　白礬（三錢半，生）　黃丹（二錢，炒）</p>
<p>為末，黃蠟一兩為丸，生薑、雨茶泡湯下。</p>
<p><u>參連飲</u>　治禁口痢。</p>
<p>人參　黃連（各一錢）</p>
<p>水煎頻頻呷之。</p>
<p>附禁口痢諸方：</p>
<p>精豬肉切片，將麵粉搽上，頻炙，頻搽，香熟食之。不吃，鼻下聞之。</p>
<p>寧波白鯗炙香，食之。</p>
<p>鳳尾草煎湯露一宿，頓溫，徐徐服。</p>
<p>川烏三兩，光圓者。一兩生用，一兩煨，一兩燒存性。同為末，糊丸，每服十丸，甘草湯下。</p>
<p>五爪龍草陰乾，為末，每服一錢，酒下。</p>
<p><u>封臍膏</u></p>
<p>陳小粉（五錢）　乳香　沒藥（各一錢）</p>
<p>研末，醋調敷臍。</p>
<p>黃瓜藤經霜者，曬乾，燒灰存性，香油調敷臍中。</p>
<p><u>熏痢秘方</u>　瀉痢日久，用此熏之。</p>
<p>地骨皮（新鮮者，煎百沸）</p>
<p>傾入陳馬桶內，乘熱坐上熏之。亦治膿窠瘡。</p>
<p><u>灸法</u>　治瀉痢日久。</p>
<p>關元穴　翠尾穴（各灸，三壯。）</p>

<h2>失血論</h2>
<p>經云：心生血，肝藏血，脾統血，氣引血行，血隨氣轉，榮養四肢百骸，灌溉五臟六腑。故目得血而能視，耳得血而能聽，手得血而能握，足得血而能行。大人失血，心肝二經受病者多；小兒失血，脾胃受傷者多。亦有跌撲內傷者。怒甚氣逆，血出於肝，嘔血亦出於肝；咯血出於腎；衄血亦出於肺；舌衄出於心，吐血亦出於心，溺血亦出於心；便血出於脾；腸風出於大腸；血淋出小腸，牙宣出於胃。血者神氣也，持之則存，失之則亡。凡治此症，視何經受病，先以順氣為主，降火次之。氣順則血歸於經，火降則血自止。小兒純陽之體，不可妄補，亦不可便用止劑。失血之脈，沉細者生，浮大牢實者重。手足逆冷者死。</p>
<p><u>涼血地黃湯</u>　治吐血、衄血、便血、溺血並效。</p>
<p>當歸　生地　熟地（各一錢）　知母（鹽水炒）　黃柏（鹽水炒）　槐花　青皮（各七分）</p>
<p>水煎。在上食後服，在下食前服。吐血加茅草根、韭菜汁，衄血加茅花、側柏葉；便血加阿膠（炒）、黃芩；溺血加發灰、琥珀；咯血加款花、百合；咳嗽有紅加款花、貝母。</p>
<p><u>犀角地黃湯</u>　治症同前，加減亦如前法。</p>
<p>犀角　生地　當歸　牡丹皮　黃連　黃芩　山梔</p>
<p>水煎。臨服入藕汁半合，韭汁、生薑汁各少許服。如無上二味，入童便亦效。便秘加大黃、檳榔。</p>
<p><u>瓊玉膏</u>　治勞傷，一切血症。小兒減用。</p>
<p>生地黃（二斤，用河水十斤，砂鍋煮一晝夜，約汁四五斤）　加人參（三兩）　茯苓（三兩。共為末）　荊芥（燒灰存性，一兩）</p>
<p>三味同汁和勻；置地上，去火毒。每服三錢，米湯下。</p>
<p><u>二薊飲</u>　治便血、溺血、血淋，治諸血並效。</p>
<p>苦參（酒焙乾）　荷葉（連蒂焙乾）</p>
<p>大薊小薊各三錢，煎湯。大者二錢，小者一錢，調下。</p>
<p><u>當歸和血散</u>　治便血，治諸血並效。</p>
<p>槐花　青皮（各六錢）　當歸　升麻（各二錢）　荊芥　熟地　白朮　川芎（各一錢）</p>
<p>為末。每服二錢，米湯調下。</p>
<p><u>小薊飲</u>　治下焦蘊熱，溺血、血淋。</p>
<p>生地　小薊　滑石　甘草　蒲黃　當歸　山梔　通草　藕節（各等分）</p>
<p>淡竹葉二十片、燈心二十寸，水煎。此方加琥珀末五分更效。</p>
<p><u>腸風便血方</u></p>
<p>當歸　生地　白朮（炒。各一錢）　地榆　秦艽　防風　柴胡　枳殼　槐花（炒。各七分）　升麻　黃芩（酒炒。各六分）</p>
<p>水煎。</p>
<p><u>三黃飲</u>　治血痢，兼治酒毒便血。</p>
<p>黃連（一錢）　黃柏　黃芩　白芍　枳殼　蒼朮　厚朴　陳皮（各七分）　甘草（五分）　木香（三分）</p>
<p>水煎。</p>
<p><u>經驗良方</u>　余便血諸藥不效，此方一服效，二服永不發。濟人無不效者，兒分三劑用。</p>
<p>當歸（五錢）　川芎（三錢）　白芍（二錢，酒炒）　淮地（五錢）　白芷（一錢）　祁艾（二錢，醋炒）　阿膠（五錢，蛤粉炒）　茅草根（三錢，搗）　側柏葉（三錢，礬水浸一宿，炒黃）</p>
<p>合一大劑，水三碗，煎二碗。頻頻頓溫服。</p>
<p><u>三黃苦參丸</u>　治症同前。</p>
<p>黃連（薑汁炒）　黃柏（酒炒）　黃芩（酒炒）　槐花（炒）　荊芥　苦參（酒炒）　甘草（各一兩）</p>
<p>為末，蜜丸。白滾湯下，米湯亦可。</p>
<p><u>槐花散</u>　治如前症。</p>
<p>槐花（炒）　柏葉（礬水炒）　荊芥　枳殼（麩炒）</p>
<p>為末。每服一錢，米湯下。</p>
<p><u>苦參飲</u></p>
<p>苦參（三錢，酒炒）　甘草（五錢）</p>
<p>水煎。露一宿，空心熱服。</p>
<p><u>槐角丸</u>　治症同前。</p>
<p>黃柏（一兩）　槐角　白芷　熟地黃（各五錢）</p>
<p>為末，糊丸。米湯下。</p>
<p><u>得效方</u>　治便血，並痔瘡臟毒，下血。</p>
<p>柿餅（十個，五個燒存性）　槐花（一兩，炒）　烏梅（一兩，飯上蒸熟）</p>
<p>烏梅搗爛為丸，白滾湯下。</p>
<p>單方　柿餅（燒灰存性，柿餅煎湯下，一錢效）。</p>
<p><u>臟連丸</u>　治一切便血。</p>
<p>黃連（一斤為末）</p>
<p>用豬臟頭粗，將連末裝入，兩頭紮緊，煮熟搗丸，隨意不拘引服、</p>
<p><u>止血三奇方</u></p>
<p>石榴皮（為末）　糞前下血，茄枝煎湯服一錢。</p>
<p>五倍子（為末）　糞後下血，艾葉煎湯服一錢。</p>
<p>茄蒂（燒灰為末）　糞中下血，米湯調服一錢。</p>

<h2>瘧疾論</h2>
<p>經云：夏傷於暑，秋必痎瘧。瘧，猶言凌虐也。其名有五：曰癉、曰寒、曰濕、曰牝、曰牡。證候雖各不同，皆由外受六淫之氣，內為七情所傷，寒氣客於腠里，痰飲積於胸膈。其症：呵欠厥冷，口渴心煩，面色青黃，身體拘急，振振而寒，翕翕而熱。又曰：風寒暑濕，邪從外來；飲食起居，邪由內作。蓋暑邪與正氣相搏，陰陽交爭，互相勝負。邪並於陽則熱；邪並於陰則寒。陽勝則熱多；陰勝則寒多；陰陽更盛、更虛則熱大作。陰陽相離，故得汗而解。衛氣晝行陽，夜行陰，得陽而外出，故發於日；榮血夜行陰，晝行陽，得陰而內搏，故發於暮。古云：一日一發，所感日近，為易治。二日、三日一發，所感日深，為難治，未可據也。二三日一發，而反易治者，一日一發，用藥難於治者。大法：弦數則熱，弦遲則寒：風以散之，寒以溫之；痰以滌之，食以消之。視症胗脈，隨經取之。嬰兒未食生冷，未冒暑熱，而瘧者何也？因乳母抱持，解脫衣裳，不避風寒，邪入腠里，因而成瘧。又有食積，日晡潮熱，似瘧非瘧，當從消導。宜細辨之。</p>
<p><u>截瘧丹</u>　治一切瘧疾，日久不愈，用此截之。</p>
<p>上號黃丹（不拘多少，炒紫色）</p>
<p>端午用獨蒜煨熟，搗爛為丸，桐子大。大人七丸，小兒五丸，三丸，柳枝、桃枝煎湯，露一宿，空心服。忌婦人、雞、犬見之。合藥亦忌。</p>
<p><u>碧霞丹</u>　治如前症。</p>
<p>東方甲乙木，巴豆肉　南方丙丁火，官桂　中央戊己土，硫黃　西方庚辛金，白礬　北方壬癸水，青黛（俱各研細）</p>
<p>各等分，五月初一日，各用紙包，按方位供於神前，端午日，用五家粽尖，搗為丸，桐子大。每用一丸，綿裹塞耳內或鼻亦可，男左女右用之。</p>
<p>修合併用藥，俱忌雞、犬、婦人。</p>
<p><u>柴平湯</u>　治瘧如神，百發百中。</p>
<p>小柴胡（一錢五分）　半夏（八分）　人參（七分）　黃芩（一錢，酒炒）　甘草（五分）　蒼朮（一錢二分）　厚朴（七分，薑汁炒）　陳皮（八分）</p>
<p>生薑五片，棗一枚，水煎，預期先服。初瘧，加紫蘇、乾葛；食積，加神麯、枳實；痰甚，加枳殼、貝母；久不止，加常山、知母，午前發者，加白朮、茯苓；午後發者，加當歸、川芎。忌腥葷，只吃稀粥，使胃氣清也，否則無效矣。</p>
<p><u>柴苓湯</u>　治瘧熱多寒少，兼治熱瀉。</p>
<p>柴胡（一錢二分）　人參　半夏　黃芩　甘草（各五分）　豬苓　澤瀉　白朮　茯苓（各一錢）</p>
<p>生薑三片，水煎。久不止，加常山、知母、檳榔；口渴，加烏梅、乾葛。</p>
<p><u>青脾飲</u>　治一切瘧疾。</p>
<p>白朮　茯苓　青皮　半夏　草果　柴胡　黃芩　甘草（各等分）</p>
<p>生薑三片，水煎。</p>
<p><u>養胃湯</u>　治瘧，外感風寒，內傷生冷，溫中快胃。</p>
<p>蒼朮（一錢）　厚朴　半夏　霍香　草果（五分）　人參　茯苓　陳皮　檳榔（各七分）　甘草（五分）</p>
<p>生薑三片，水煎。</p>
<p><u>神授千金湯</u>　治一切瘧，無不神效。</p>
<p>陳皮（一錢）　茯苓（八分）　常山（酒煮）　半夏（各六分）　草果（半分）　甘草　檳榔（各五分）</p>
<p>生薑五片，水一鍾，煎五分，露一宿，雞鳴面東服，渣再煎服。</p>
<p><u>八寶飲</u>　治瘧如神。</p>
<p>青皮　陳皮　常山（酒煮）　草果　檳榔　厚朴　蟬蛻　甘草（各等分）</p>
<p>水酒各半煎，露一宿，空心服。</p>
<p><u>常山飲</u>　治症如前。</p>
<p>知母　貝母　半夏　茯苓　甘草　人參　常山　厚朴（各等分）　草果（減半）</p>
<p>生薑三片，棗一枚，水煎，露一宿服。忌婦人、雞、犬。</p>
<p><u>鬼哭飲</u>　截一切久瘧。</p>
<p>知母　貝母　檳榔　常山（酒炒。各等分）</p>
<p>水煎，露一宿，空心服。</p>
<p><u>鬼見愁</u>　治乳兒患瘧，無計可施，此方神應。</p>
<p>代赭石（用丁頭者五粒，火煅，醋淬七次，乳細）　硃砂（好者，五分）　砒霜（豆大）</p>
<p>上三味，濕紙七重包裹，慢火內煨，至紙干為度；取出，地上出火毒，入腦、麝各一分，金箔五片，同乳為末。每用二三分，於發日早晨，麻油一滴，調抹鼻尖即止。</p>
<p><u>符法治諸瘧</u>　於發日不得梳頭、洗面、嗽口，日出時用之。</p>

<h3>䖚挆譴</h3>
<p>用新筆醮硃砂，書上第一字於淨紙上，寫九個剪下，貼兩手心、兩足心、兩頰、並前後心九處；然後吃飲食，如未效，次日書第二字即住。鮮有書及第三字者。</p>
<p><u>貼眉心膏</u>　治瘧如神。修合用時，並忌婦人、雞、犬。</p>
<p>半夏（五錢）　滑石（五錢）　白芨（三錢）　巴豆（二錢）　砒霜（一錢）</p>
<p>端午日，薄糊為丸，綠豆大。晝發夜貼，夜發晝貼。</p>
<p><u>灸法</u>　大椎中第一節骨盡處（小兒三壯）　第三骨盡處亦效。</p>

<h2>積熱論</h2>
<p>積熱之症非一，有實熱，有虛熱。實熱之候：實則脈實，眼赤，驚搐，面紅唇赤，心煩口渴，二便秘澀，腹中疼痛，胸脅脹滿，噯氣吞酸，肌肉消爍，飲食不能為肌膚；虛熱之候：虛則脈虛，飲食不進，微聲短氣，惡聞人聲，大便溏瀉，完穀不化，小便清利，肚腹虛膨。得病之源，或為風寒暑濕所乘；或為飲食生冷所傷；或內有積聚；或外受驚恐；或肥甘油膩過度；或厚衣溫暖過節。積熱者，內有所積鬱而不泄，日久乃發。其發也，或渾身壯熱，經月不退；或寒熱往來，似瘧非瘧；或日晡潮熱，發作有時。失而不治，久久發不已，餘邪不退，久熱成疳，則不可救矣。調治之法：風寒和解之；暑熱清散之；飲食消導之；生冷溫散之；積聚蚘鱉，視虛實而下之；跌撲驚恐，安神散驚而治之。肥甘，藥須寒苦；溫熱，治以清涼。察虛實而補瀉之。</p>
<p><u>脫甲散</u>　治小兒傷寒壯熱，頭目昏沉，夾驚夾食，煩躁口渴，無汗自汗，或積滯停於胸膈，肚腹脹滿，日夜壯熱及傷風傷暑，驚癇客忤，一切疳熱並效。</p>
<p>柴胡　當歸　龍膽草　知母　茯苓（各一錢）　川芎　甘草（各五分）</p>
<p>蔥白三莖，水煎熱服。秘結加大黃；欲汗加麻黃。</p>
<p><u>柴胡飲子</u>　治骨蒸疳熱，五心煩熱，日晡潮熱，口乾無味，煩渴胸滿，面紅痰盛，小便黃赤，食減神昏。</p>
<p>柴胡　人參　當歸　黃芩　赤芍（各一錢）　枯梗　半夏　甘草（各五分）　五味（三分）　大黃</p>
<p>生薑三片，烏梅一個，水煎服。大黃視虛實加減。</p>
<p><u>當歸防風飲</u>　謹按此方用大黃瀉陽明之濕熱，從大腸出；用滑石瀉三焦之火，從小便出；黃芩涼膈；柴胡解肌；防風清頭目；人參、甘草以補中氣；當歸、芍藥以補血瀉心肝之陽，補脾胃之陰，而無辛香燥熱之謬，真乃治風濕燥火虛熱之良劑。非聖於醫者，不足語此。及傷寒時疫，汗下後餘熱不退神效。</p>
<p>當歸　柴胡　黃芩　芍藥　人參　防風　滑石　大黃　甘草（各等分）</p>
<p>生薑三片，水煎，視症加減用。</p>
<p><u>犀角飲</u>　治小兒骨蒸潮熱，盜汗肌瘦。</p>
<p>柴胡　知母　犀角（鎊）　胡黃連　地骨皮　鱉甲（酥炙。各等分）　大黃（加倍，用酒製）</p>
<p>桃柳枝各一錢，水煎服。</p>
<p><u>生犀飲子</u>　日晡潮熱，骨蒸肌瘦，頰赤唇乾，五心煩熱，夜多盜汗。</p>
<p>大黃　鱉甲　麥冬　黃耆　秦艽　犀角　人參　桑皮　茯苓　柴胡　地骨皮　赤芍　枳殼　知母（各等分）</p>
<p>青篙五穗，水煎。痰甚去黃耆，加貝母、半夏。</p>
<p><u>靈犀飲</u>　治骨蒸潮熱，咳嗽盜汗，口渴心煩，面黃肌瘦。</p>
<p>犀角　秦艽　羌活　甘草　柴胡　地骨皮　桔梗　胡黃連　茯苓（各等分）</p>
<p>烏梅一個，竹葉十片，水煎。</p>
<p><u>鱉甲散</u>　治症同前。</p>
<p>鱉甲（酥炙）　地骨皮　秦艽　柴胡　枳殼　知母　當歸（各等分）</p>
<p>桃柳枝各三寸，烏梅一個，水煎。</p>
<p><u>骨皮散</u>　治虛熱，及傷寒汗後餘熱不退。</p>
<p>人參　知母　柴胡　地骨皮　甘草　茯苓　半夏　黃芩</p>
<p>生薑三片，水煎。</p>
<p><u>秦艽飲子</u>　治驚熱。本方加蟬蛻　秦艽</p>
<p><u>梨漿飲</u>　治榮衛俱熱，日晡潮熱，癉瘧獨熱。</p>
<p>柴胡　前胡　黃芩　人參　秦艽　甘草　薄荷（少）　生地（各等分）　青蒿（五穗）</p>
<p>水煎入藕汁、梨汁各半杯服。</p>
<p><u>羚羊角湯</u>　治一切驚熱。</p>
<p>羚羊角（鎊）　蟬蛻（去土）　茯神　柴胡　麥冬（各一錢）　地骨皮　黃芩（各七分）　甘草（五分）</p>
<p>姜三片，竹葉十片，水煎。</p>
<p><u>甘露飲子</u>　胃熱口臭，不思飲食，齒齦腫痛，唇口生瘡，眼赤目腫，不俱痧痘後餘毒未盡，熱不退。</p>
<p>枇杷葉　麥冬　枳殼　生地　熟地　茵陳　天冬　石斛　寒水石　黃芩　甘草（各等分）</p>
<p>燈心二十寸，水煎，徐徐服。</p>
<p><u>梔子仁湯</u>　汗下後餘熱不退。</p>
<p>山梔　赤芍　大青　知母　升麻　黃芩　石膏　柴胡　杏仁　甘草</p>
<p>生薑一片，豆豉三十粒，水煎。</p>
<p><u>導赤湯</u>　心熱上竄，煩躁悶亂，臍下脹滿，小便淋瀝。</p>
<p>生地　麥冬　木通　黃芩　甘草</p>
<p>瀉心湯　本方加黃連，去黃芩、赤茯，燈心二十寸引。</p>
<p><u>瀉肝湯</u>　治肝經實熱。</p>
<p>當歸　川芎　山梔　龍膽草　羌活　防風（各等分）　大黃（視症加多少，酒煨）</p>
<p>竹葉十片，水煎。</p>
<p><u>瀉白散</u>　治肺實熱。</p>
<p>桑皮　地骨皮　甘草</p>
<p>燈心二十寸，水煎。</p>
<p><u>瀉黃散</u>　治脾胃實熱，口臭咽乾。</p>
<p>石膏　山梔　防風　藿香　甘草</p>
<p>水煎。</p>
<p><u>瀉腎丸</u>　治嬰童腎經火盛，陰硬不軟。</p>
<p>黃柏（一兩，鹽水炒）　知母（五錢，鹽水炒）　生地（五錢）</p>
<p>為末，蜜丸。盥湯下，燈心湯亦可。</p>
<p><u>四物二連湯</u>　治童子骨蒸，婦人產癆。</p>
<p>胡黃連　黃連　當歸　川芎　白芍　生地（各等分）</p>
<p>水煎服或為末，作丸服亦妙。</p>

<h1>下卷</h1>

<h2>五疳論</h2>
<p>疳症有五，其原亦別，皆由飲食不調，肥甘過節之所致也。大人為癆，小兒為疳，同症而異名也。大人癆症，起於房勞，腎經受病者多；小兒疳症，皆由飲食所傷，脾胃受病者多。脾胃虛損，津液消亡，病久相傳，五臟皆損也。大人癆疾，骨削而氣耗；小兒疳疾，腹鼓而神羸。其始也，由晡食腥葷大早；或恣食肥甘油膩過度；或食生冷大多，凝滯中脘；或寒暄失宜，不善調理；或房勞以乳吮兒；或母有癆氣因而傳子，種種不同。疳之為候，頭皮光急、發毛焦稀、腮縮鼻乾、口燥唇裂、兩眼昏爛、揉鼻撏眉、肌肉消爍、便瀉酸臭、尿白如泔、腹鳴肚痛、或發潮熱、或生症癖、或咬指甲、或貪冷水、或食炭米泥土茶布鹹酸果品，如此等症，皆疳之候也。所謂五疳者，外則傳變不同，內則關於五臟。</p>
<p>一曰肝疳，即風疳也。其症搖頭揉目、白膜遮睛、遍身多汗、喜覆面而臥、兩目澀癢、發豎頭焦、筋青腦熱、腹中積聚、下痢頻數、日漸羸瘦。</p>
<p>二曰心疳，即驚疳也。其症渾身壯熱、頰赤面黃、心膈煩躁、口舌生瘡、小便赤澀、盜汗多驚、下痢膿血、或純紫黑敗血、神彩衰耗。</p>
<p>三曰脾疳，即食疳也。其症皮黃色黯、腹鼓腳細、肚多青筋、氣乏喘促、啼哭吐逆、水穀不消、下痢酸臭、飲食減少、好食泥土、情意不樂、憎明喜暗、肌爍形枯。</p>
<p>四曰肺疳，即氣疳也。其症咳嗽氣逆、皮毛焦枯、膚粟惡寒、鼻蝕流涕、頤爛吐紅、咽喉不利、大便糟粕、瀉痢不常。</p>
<p>五曰腎疳，即急疳也。其症上熱下冷、寒熱時作、牙齦生瘡、耳焦胸熱、手足厥冷、滑瀉厥逆、爪黑麵黧、身多瘡疥、下部生䘌、脫肛不收、漸成困憊、骨痿乃敗。</p>
<p>雖五疳受病之不同，彼此相傳，五臟皆損矣。經言五損者：一損於皮毛，皮聚而毛落；二損損於肌肉，肌肉消瘦，飲食不能為肌膚；三損損於血脈，血脈虛少，不能榮養五臟六腑也；四損損於筋，筋緩不能自收持；五損損於骨，骨痿不能起於床者死。五疳又有五蟲：肝蟲尾散如馬尾；心蟲乃血鱉；肺蟲寸白，蟲食肺間；脾蟲即蚘蟲；腎蟲如細發，下食肛。久而失治，各附本臟，食其精血，消耗元氣，精血盡則死矣。</p>
<p>又有丁奚哺乳疳，即今之鬾病。困母腹中有孕，此乳吮兒，兒吃此乳，令兒肌肉消削，面色痿黃，肚大青筋，瀉痢無時，毛焦發立，形症似疳，實非疳也。乃日繼胞，子繼胎中之子，故以名之。雖重不死，斷乳調理，侍兒生下病自愈矣。</p>
<p>一云粉瘤疳，其症初起，腦項後有核如彈，按之轉動，軟而不痛，日漸長大，其間有蟲，如米粉白星，若不速破，則蟲隨熱氣流散，淫食臟腑，以致遍體瘡癰疥癩，則無救矣。</p>
<p>一云無辜疳，乃兒所穿之衣，日曬失收，夜有鳥名無辜鳥，所遺不潔及毛羽在衣，兒穿此衣，乃生此症，曰無辜疳。此言近誣，閩廣之地，或有此鳥，留此備考。</p>
<p><u>五疳得效方</u>　治一切疳熱、積熱，小便赤澀。</p>
<p>白朮　茯苓　豬苓　澤瀉　柴胡（各一錢）　黃芩　黃連　胡連　銀柴胡（各七分）　甘草　龍膽草　青皮（各六分）</p>
<p>生薑三片，桃頭三個，水煎，侵晨服。</p>
<p><u>五疳飲</u>　治一切疳症，疳積疳熱，疳瀉疳痢，面目浮腫，心腹膨脹並效。</p>
<p>人參　白朮　茯苓（各一錢）　甘草（五分）　陳皮　蓬朮　檳榔　神麯　山楂（各八分）　木香（三分）</p>
<p>隨症加減，水煎。</p>
<p>疳熱，加銀柴胡、小柴胡、胡黃連；虛熱，加小柴胡、黃芩、烏梅；腹脹，加枳實、麥芽、砂仁、青皮；泄瀉，加黃連、訶子、肉豆蔻；小便不利，豬苓、澤瀉、麥冬、生地；陰虛發熱，當歸、川芎、知母、柴胡；癥瘕，山稜、官桂；口渴，乾葛、麥冬、五味；疳痢，枳殼、白芍、黃連；不食，白豆蔻、砂仁；水腫，蒼朮、厚朴、秦艽、大腹皮、階沿草；蟲痛，苦楝根、使君子；咳嗽，貝母、杏仁、知母；喘急，杏仁、桑皮、葶藶、蘇子、枳殼；鬾病加龍膽草、柴胡、黃芩。</p>
<p><u>龍膽湯</u>　治肝疳鬾病。</p>
<p>柴胡　黃芩　龍膽草　茯苓　白芍　桔梗　鉤藤　當歸（各八分）　人參　甘草（各四分）</p>
<p>生薑三片，水煎。便秘，加大黃。</p>
<p><u>加味胃苓湯</u>　治五疳八痢，脾胃不和，胸膈不寬。嬰童百病，隨症加減，其效如神。</p>
<p>茅朮　厚朴　陳皮　甘草　豬苓　白朮　澤瀉　茯苓　檳榔　黃連</p>
<p>生薑三片，燈心二十寸，水煎。發熱，柴胡、乾葛；疳熱，銀柴胡、胡黃連；傷食，神麯、麥芽、木香；食積作痛，山楂、神麯、乾薑、木香；嘔吐，藿香、砂仁；症癖，加山稜、蓬朮、枳實、木香，蚘痛，使君子肉、苦楝根；痢疾，當歸、白芍、枳殼；晝熱屬陽虛，人參；夜熱屬陰虛，當歸、生地；口渴，麥冬、乾葛、五味；小便短澀，龍膽草、山梔；咳嗽，杏仁、半夏、黃芩；痰喘，加栝蔞子、貝母。</p>
<p><u>蘆薈保童丸</u>　治五疳八痢，臟腑虛弱，身體消瘦，頭髮焦稀，肚腹青筋，小便白濁，內熱飲水，洞瀉無度、完穀不化，遍身瘡疥，神色枯槁。此藥養脾胃，壯元氣，止瀉痢，去一切蟲積並效。</p>
<p>蘆薈（五錢）　檳榔　黃連　川練子（肉）　陳皮　青皮（炒）　神麯（炒）　蕪荑　夜明砂　麥芽（炒。各一兩）　肉豆蔻（六錢）　木香（三錢）　胡黃連　使君子肉（各七錢）</p>
<p>為末，豬膽為丸，菜子大。每服百丸，清米湯下。</p>
<p><u>蘆薈肥兒丸</u>　治症同前，甚效。</p>
<p>人參（五錢）　白朮（一兩二錢）　茯苓（一兩二錢）　甘草（五錢）　胡連　宣連　使君肉　神麯（炒）　麥芽（炒）　山楂（各八錢）　蘆薈（五錢）　木香（五錢）　檳榔　青黛（各七錢）　乾蟾（二個，炙）</p>
<p>豬膽汁為丸，米湯下。</p>
<p><u>蘆薈丸</u>　治一切疳症，調理脾胃。州守林震西方。</p>
<p>人參（五錢）　白朮（一兩五錢，炒）　茯苓（一兩）　甘草（四錢）　山蓮肉（一兩五錢）　山楂肉　麥芽（炒）　神麯（炒）　陳皮（各一兩）　蘆薈（五錢）　使君肉（八錢）　黃連　胡連　檳榔（各八錢）　木香（三錢）</p>
<p>為末，煉蜜丸，彈子大。每服一丸，米湯下。</p>
<p><u>大蘆薈丸</u>　治疳殺蟲，和胃止瀉。</p>
<p>胡連（一兩）　宣連　蕪荑　青皮（各七錢）　雷丸　鶴膝草　蘆薈　木香（各五錢）　麝香（一錢）</p>
<p>為末，豬膽汁為丸，米湯下。</p>
<p><u>十全丹</u>　諸疳鬾病，氣血不榮，肌肉消鑠發熱。</p>
<p>青皮　陳皮（各一兩）　白豆蔻（五錢）　蓬朮（七錢）　檳榔（七錢）　蘆薈（五錢）　使君肉　木香　乾蟾（炙）　砂仁　五靈脂（炒。各五錢）　香附（一兩）　五穀蟲（一兩，炒）</p>
<p>為末，豬膽汁為丸。每服四五分，米湯下。</p>
<p><u>保童丸</u>　治肝疳，諸疳並效。以上諸方，治疳聖藥也。</p>
<p>黃連　胡連　膽草（各一兩）　蕪荑　青黛　檳榔（各七錢）　蘆薈（五錢）　木香（三錢）　使君肉（六錢）</p>
<p>為末，雄豬膽汁為丸，米湯下。</p>
<p><u>褐丸子</u>　治陰陽不和，臟腑虛弱，乳食不消，心腹脹滿，嘔吐氣急，腸鳴泄瀉日夜頻並，臍腹冷痛，食症乳癖，面目虛浮，不思乳食，五疳八痢，肌肉消瘦，腹鼓腳細，神色昏憒。常服調理脾胃，安和臟腑，去疳積，止瀉痢，進飲食，生肌肉，功效非常。</p>
<p>青皮　陳皮（各二兩）　蘿蔔子（四兩，炒）　蓬朮（醋炒）　三稜（各二兩）　牽牛（三兩，炒）　胡椒　木香（各五錢）</p>
<p>各為淨末，糊丸，蘿蔔煎湯下。</p>
<p><u>茯神丸</u>　治驚疳。</p>
<p>黃連　赤茯　茯神（各二錢）　琥珀　蘆薈（各一錢）　遠志（肉）　鉤藤　石菖蒲（各一錢五分）　乾蟾（灰，一錢）　麝香（一分）</p>
<p>為末，米糊為丸，薄荷湯下。</p>
<p><u>蟾酥丸</u>　治脾疳，殺蟲退熱。</p>
<p>胡連　宣連　川練子　陳皮　膽草　使君肉　蕪荑　茴香（各一兩）　木香（五錢）　乾蟾（炙，一個）巴豆肉（一錢）</p>
<p>為末，豬汁為丸，青黛為衣，紫蘇湯下。</p>
<p><u>加味地黃丸</u>　治腎疳。</p>
<p>山藥　茱萸（肉）　茯苓（各一兩）　熟地（二兩，酒浸）　澤瀉　牡丹皮　使君肉　川練肉（各七錢）　蘆薈（三錢）　胡連　銀柴胡（各五錢）</p>
<p>為末，煉蜜丸，白滾湯下。</p>
<p><u>千金肥兒丸</u>　小兒疳症，因脾家有積，脾土虛則肝木乘之，致積久不散，復傷生冷厚味，肚大青筋，潮熱咳嗽。此藥調脾養血，消積殺蟲，除疳熱。</p>
<p>白朮（八兩，炒）　蒼朮（八兩，炒）　陳皮（一斤）　厚朴（一斤。薑汁炒）　甘草（四兩半，炙）　乾蟾（十個，酥炙）　川連（一斤，苦參拌炒）　神麯（一斤，炒）　牡蠣（一斤，醋煅七次）　蘆薈（四兩）　禹餘糧（一斤，煅。如無，蛇含石代之）　青蒿（一斤，童便炒）　山楂肉（一斤）　胡連（八兩）　鱉甲（一斤，酥炙）　夜明砂（四兩，淘淨）　使君肉（四兩）　小茴香（四兩，炒）　鶴蝨草（八兩）</p>
<p>黃連內揀去苦參不用，共為末；黃耆、當歸各一斤，水煎，入紅棗煮熟，去核，搗和為丸，麻子大。三歲服五十丸，十歲百丸，清米湯下。</p>
<p><u>一乜金</u>　治諸疳，毛髮羸瘦，藥不能療者，此方神驗。</p>
<p>青黛（即真靛花，不拘多少）</p>
<p>為末，小者三分，大者五分，白滾湯調下。</p>
<p><u>小黃丸</u>　治驚疳，啼哭煩躁，面赤痰喘。</p>
<p>黑醜（頭末，一兩）　雄黃（一兩）　天竺黃（二兩）</p>
<p>為末，飯丸，粟米大。每歲五丸，入粥內與食。</p>
<p><u>小黑丸</u>　治肝熱，肚大青筋，面黃腳細，飲食不貪，或飲食倍進，此胃中火甚故也。</p>
<p>大黃（三兩，酒浸）　黑醜（三兩，炒）　百草霜（一錢）　木香（二錢）　牙皂（三錢）</p>
<p>為末，水疊為丸，照前用法。</p>
<p><u>小青丸</u>　治諸疳並鬾病。</p>
<p>真青黛　黑醜　光粉（各一兩）</p>
<p>為末，飯丸，如前用法。（鉛粉即光粉、胡粉、韶粉、定粉、麵粉，皆一也。）</p>
<p><u>靈雞瑪瑙膏</u>　治疳症。此方仙授宜寶之。</p>
<p>雞蛋（一個）　木鱉子（一個，油內煎過，研細入蛋內）</p>
<p>將蛋開一孔，銀簪攪勻，入鱉末，將紙封口，飯上蒸熟食之。忌麵食、油膩、生冷之物。</p>
<p><u>快活丸</u>　治一切疳。</p>
<p>蒸餅（每一兩加青礬一錢於內，仍用餅屑蓋之，用紙包封，火灰內煨透）</p>
<p>焙乾為末，棗肉為丸。每服三五十丸，米湯下。</p>
<p><u>玉蟾丸</u>　治一切諸疳，諸藥無效，一服虛熱退，二服渴止，三服瀉痢止。神效無比。</p>
<p>癩蝦蟆（大者四個，取糞蛆三四升，同傾入壇內，任蛆食蟆，肉盡取出，入布袋內，急水浸一宿）</p>
<p>新瓦上焙乾，研末，加麝三分，糊丸，米湯下。</p>
<p><u>桃柳湯</u>　治一切疳，用此洗法。</p>
<p>桃枝　柳枝（各一握，捶碎。端午日預採，陰乾，備用更好。）</p>
<p>用河水煎湯浴兒，洗畢用青布被蓋之，疳蟲自出為驗。單用桃柳葉，燒熱鋪席上，將兒睡上，取蟲更妙。</p>
<p><u>灸法</u>　治一切疳積，痞塊，癥瘕。</p>
<p>灸十二椎下，（兩傍一寸五分，灸五七壯。）</p>
<p>合谷一穴（在足大指、次指兩骨間陷中，三壯）治肝疳眼久不愈。</p>
<p>翠尾穴（骨上三寸骨陷中。灸三壯）治疳痢，肛脫不收。</p>
<p>胃俞二穴（在十二椎下，兩傍各一寸半陷中，三壯）治疳瘦，不生肌肉。</p>

<h2>心腹痛論</h2>
<p>（附諸蟲痛）</p>
<p>心腹疼痛之症，非止一端。或有積、有聚、有蟲、有食、有冷、有熱。辨明症候，庶無誤矣。經云：五臟有五積，六腑有六聚。肝之積，曰肥氣，在左脅下，如覆杯，有頭足，心之積，曰伏梁，起臍上，大如臂，上至心下；脾之積，曰痞氣，在胃中脘，覆大如盤；肺之積，曰息賁，在右脅下，覆如大杯，腎之積，曰奔豚，發於小腹，上至心下，若豚狀，或上或下無時。積者五臟之所生；聚者六腑之所成。積者積也，發有常處，其痛不離其部；聚者聚也，其痛止無常處。經有九蟲，嬰兒脾氣衰弱，腸胃脆薄，凡一切生冷之物，積之於中，久而不化，皆能為積，變生諸蟲矣。再失於不治，附食臟腑，內耗精血。其候面色㿠白，口吐清水，心腹時疼，肌肉消鑠，變生疳疾矣。凡蟲在人腹中，上旬頭向上，中旬橫之，下旬頭向下。欲取蟲，須上旬五更時服藥，至午前蟲盡下矣，否則藥不驗矣。張子和云：諸痛皆屬於氣，凡一切心腹痛疾，當先理氣為主。治熱以寒，必因時而制伏；驅邪養正，須仗藥力以成功。</p>
<p><u>指迷七氣湯</u>　治大小一切疼痛，諸般痞積，面色痿黃，肌體羸瘦，皆緣內有蟲積，或好食生米，或好食泥土、茶炭、酸鹹等物，並效。</p>
<p>蓬朮（醋炒）　三稜（醋炒）　藿香　甘草（炙）　官桂　桔梗（炒）　青皮（醋炒）　陳皮　益智仁　香附（醋炒）　檳榔（各等分）　大黃（酒煨，多用五錢，少用二錢）</p>
<p>水一碗三分，煎三滾入大黃，再煎一滾，空心早服。日午後下蟲鱉之物，用粥補之。</p>
<p><u>勻氣散</u>　治一切氣痛，冷熱不和，肚腹疼痛，嘔吐吞酸，停滯生冷之物。</p>
<p>桔梗　藿香　陳皮（各三錢）　白豆蔻　砂仁　沉香　木香（各一錢二分）　丁香　茴香　良薑（各一錢）　玄胡索（炒）　五靈脂（炒。各二錢）</p>
<p>為末，每服一二錢，視大小，用薑湯下。</p>
<p>冷氣痛：五積散（見中寒門。）加香附、紫蘇、木香。</p>
<p>熱症痛：四苓散加山梔、木通、生地。</p>
<p><u>三稜丸</u>　治男婦小兒，五積六聚，癥瘕氣塊。</p>
<p>三稜（醋炒）　青皮（醋炒）　陳皮　蓬朮（醋炒）　枳殼（麩炒）　枳實（麩炒）　蘿蔔子（炒）　香附（醋炒。各一兩）　神麯（炒）　麥芽（炒）　鱉甲（酥炙）　乾漆（炒煙盡）　桃仁（炒研）　硇砂（綠豆甘草湯煮）　砂仁　歸尾　木香（各三錢）　檳榔（二兩）　山楂（一兩五錢）　甘草（二錢）</p>
<p>為末，醋糊為丸，白滾湯下。</p>
<p><u>肥氣丸</u>　肝之積在左脅下，如覆杯，有頭足。久不愈，令人發咳逆、㾬瘧連歲不已。</p>
<p>厚朴（五錢，制）　黃連（七錢）　柴胡（二兩）　花椒（四錢）　乾薑（五分）　廣朮（二錢五分）　烏頭（一錢二分）　人參（二錢五分）　甘草（三錢）　昆布（二錢五分）　茯苓（一兩）　皂角（一錢五分）　巴霜（五分，制）</p>
<p>為末，煉蜜為丸。大人綠豆大，小兒麻子大。先二丸起，日增一丸。大便溏，再從二丸起，消大半，止服。</p>
<p><u>伏梁丸</u>　心之積，起臍上，大如臂，上至心下。久不愈，令人病煩心。</p>
<p>黃連（一兩五錢）　人參　厚朴（制。各五錢）　黃芩（二錢）　官桂（一錢）　乾薑　菖蒲（各五分）　紅豆（三分）　茯苓　丹參（各一錢）　川烏頭（五分）　巴豆（五分，制）</p>
<p>為末，蜜丸，服如前法。</p>
<p><u>痞氣丸</u>　脾積在胃脘，覆大如盤。久不愈，令人四肢不收，身發黃疸，飲食下為肌膚。</p>
<p>厚朴（四錢五分。制）　黃連（八錢）　茱萸（二錢）　黃芩（二錢）　茯苓（一錢五分）　澤瀉（一錢二分）　人參　川烏頭（各五分）　茵陳（酒炒）　乾薑（炮）　砂仁（各一錢五分）　白朮　官桂　巴豆（各四分）　川椒（五分）</p>
<p>為末，煉蜜丸，服如前法，甘草湯下。</p>
<p><u>息賁丸</u>　肺積在右脅下，大如覆杯。久不愈，令人灑淅寒熱，喘咳發肺癰。</p>
<p>厚朴（八錢）　黃連（一兩二錢）　乾薑　茯苓　川椒（各二錢五分）　紫軟（二錢五分）　桂心（一錢）　川烏頭（炮）　白豆蔻　桔梗　陳皮　三稜（各一錢）　天門冬（一錢）　人參（二錢）　青皮（五分）　巴霜（四分）</p>
<p>為末，煉蜜丸，服如前法，薑湯下。</p>
<p>以上四方，秋冬加厚朴，減黃連。</p>
<p><u>奔豚丸</u>　腎積發於小腹，上至心下，若豚狀，或上或下無時。久則令人咳逆，骨痿少氣，及男子七疝，婦人癥瘕、帶下。</p>
<p>厚朴（一錢）　黃連（五錢）　澤瀉　茯苓　菖蒲（各二錢）　烏頭　丁香（各五錢）　川練肉（二錢）　玄胡索（一錢五分）　全蠍（一錢，炙）　附子　獨活（各一錢）　官桂（三分）　巴霜（四分，制）</p>
<p>為末，蜜丸，服如前法，薑湯下，鹽湯亦可。</p>
<p>以上諸方，削堅積，破滯氣，隨症加減，性烈，非常服之劑。</p>
<p><u>靈應丹</u>　治年久氣積，痞塊癥瘕，蚘蟲血鱉，馬尾穿心，蝦蟆牛頭猿猴，寸白蛇形，諸樣怪症，蟲積，金、銀、銅、鐵等物，及男婦十般水蠱，五種膈氣，墮死胎，下瘀血，山嵐瘴氣，並服如神。</p>
<p>黑醜（四兩）　使君肉（一兩二錢）　檳榔（四兩）　磨碎碾頭（十二兩）　鶴蝨（一兩二錢，曬乾）　錫灰　雷丸　木香　蕪荑（炒。各一兩）　阿魏（一兩，肉積用之）</p>
<p>為末，酒糊為丸，連須蔥白湯空心下。大人三錢，小兒一二錢。午後看下何物，稀粥補之。</p>
<p><u>萬病無憂散</u>　治症同前。</p>
<p>黑醜（八兩。四兩，用巴豆四十粒紙包火煨，去豆不用）　大黃（二兩）　檳榔（二兩，雞心者）　雷丸　蕪荑（各一兩）</p>
<p>各取淨末，用皂角十兩，去黑皮，水三碗，煮十滾，濾去渣為丸。大人三錢，小兒看大小茶湯下。</p>
<p><u>神應丸</u>　治症同前。</p>
<p>黑醜（取頭，三斤）　檳榔（十二兩，雞心）　使君肉（二兩，生熟各半）　大黃（四兩五錢）　木香　雷丸　錫灰（炒）　蕪荑（炒。各一兩八錢）</p>
<p>為末，蔥白煎湯，打糊為丸，空心蔥白湯下。如前服。</p>
<p><u>遇仙丹</u>　追蟲取積。</p>
<p>檳榔　黑醜（炒。各二兩半）　木香（五錢）</p>
<p>為末，磁罐收貯。上旬，空心，赤砂糖湯下。</p>
<p><u>得效方</u>　治症同前。</p>
<p>白牽牛（四兩，生熟各半）　白檳榔　蓬朮（醋煮）　三稜（醋煮）　皂角（各五錢）</p>
<p>為末，醋糊為丸。看大小，赤砂糖湯下。</p>
<p><u>取癖丸</u>　治一切癥瘕、痞積、瘧母，及男婦水蠱、膈氣。</p>
<p>甘遂　蓬朮　芫花　牽牛（炒）　官桂　五靈脂　青皮　桃仁（去皮尖，炒研）　木香（各二錢）　巴豆（五分，制）</p>
<p><u>紅丸子</u>　治症同前。</p>
<p>山稜（醋炒）　蓬朮（醋炒）　芫花　烏梅肉　桃仁（炒）　杏仁（炒去皮尖。各五錢）　硃砂（三錢）　巴豆（五分，制）</p>
<p>為末，醋糊為丸，麻子大，硃砂為衣，白滾湯下。冷粥補之。</p>
<p><u>木香醒脾丸</u>　治疳疾虛羸，蟲積食積，肚腹作痛，兼治痞塊水腫。</p>
<p>檳榔　枳殼（麩炒）　青皮（醋炒）　砂仁（各五錢）　丁香（二錢）　木香　使君肉（各三錢）　神麯　香附（醋炒。各五錢）　蘆薈（二錢）　胡連（六錢）</p>
<p>為末，健豬膽汁為丸，清米湯下。</p>
<p><u>消塊丸</u>　治氣塊、血塊、積塊，一切癥瘕、痞積並效。</p>
<p>沉香　阿魏　全蠍（炙）　羌活（各二錢）　砂仁（三錢）　蘿蔔子（炒）　水紅花（四錢）　土狗（二十個，瓦上焙乾）　赤小豆（二錢）</p>
<p>為末，豬油去皮，搗爛為丸，麻子大。大人三十丸，小兒量大小，空心、午前，日服二次，酒下。</p>
<p><u>化蟲丸</u>　治一切蟲積，心腹咬痛。小者化水，大者自下。</p>
<p>鶴蝨草　胡粉　檳榔　枯礬　蕪荑　黃連　石榴皮　雷丸（各五錢）　苦楝根皮（一兩，曬乾）</p>
<p>為末，糊丸，麻子大。每服白滾湯加油數點，空心下。</p>
<p><u>靈礬散</u>　蟲咬心痛，奄奄欲絕，服藥必吐出蟲而愈。</p>
<p>五靈脂（二錢）　白礬（五分）</p>
<p>水一盞，煎五分服。</p>
<p><u>奪命飲</u>　治症同前，兼治中脘痛，㽲痛欲絕。</p>
<p>老蔥頭（七個入）　真香油（四兩）同熬，蔥枯為度，用油。候溫服。</p>
<p><u>玉露膏</u>　治蚘蟲作痛。此藥不吐、不瀉，自令從大便成團而出。多止二服，少止一服，除根。真濟世仙方也。</p>
<p>苦練皮（四兩，東引不出土根洗淨取皮）　使君子（連殼，二兩，捶碎）　生薑（三兩）</p>
<p>用水五碗，煎至二碗，去渣，加蜜四兩，煎至一碗二三分，露星月下，空心，頓熱，徐服之。渣再煎服。</p>
<p><u>沉香化氣丸</u>　治大小一切痞塊氣積。</p>
<p>香附（八兩，四制）　白朮（四兩，炒）　枳實（二兩，麩炒）　廣皮（三兩）　青皮（二兩）　黃連（一兩五錢，薑製）　山梔（二兩，姜炒）　膽星（一兩）　半夏曲（一兩五錢）　厚朴（一兩五錢，制）　沉香（一兩）　砂仁（七錢）　木香（五錢）</p>
<p>水疊為丸。婦人氣痞加吳茱萸、蘿蔔子各一兩。</p>
<p><u>磨積丸</u>　健脾開胃，消積理氣，及男婦痞積並效。</p>
<p>黃連（一兩五錢）　香附（二兩，醋浸炒）　陳皮　青皮（炒）　三稜（醋炒）　蓬朮（醋炒）　蘿蔔子（炒）　桃仁（一兩，炒去皮尖）　山楂（肉）　山梔（姜炒。各一兩）　乾薑（炮）　官桂（各三兩）</p>
<p>為末，神麯糊丸，白滾湯下，米湯亦可。</p>
<p><u>脾積膏</u>　治蟲積腹痛。</p>
<p>雞蛋（一個）　硃砂（三分）　巴豆（一粒，去油）</p>
<p>將蛋開一孔，入朱、豆攪勻，紙封口，飯上煮熟食。</p>
<p><u>貼痞靈應膏</u>　治一切痞塊。</p>
<p>蟾酥　黃蠟（各一兩）　羚羊角　牛黃（各二分五釐）　硇砂（五釐）　巴豆（五分）　麝香（一分）　冰片（五釐）</p>
<p>為末，糊丸，菜子大，每用一丸。先將扁頭針，針痞塊上，將藥納入，用膏藥貼上。一伏時揭起，其痞化水，待膿水盡，方用調理脾胃藥。</p>
<p><u>貼痞膏</u></p>
<p>大黃（一兩）　雄黃（五兩）　皮硝（一兩）　水紅花</p>
<p>為末，蒜煨熟，搗爛成膏，貼上。</p>
<p><u>琥珀膏</u></p>
<p>大黃　皮硝（各等分）</p>
<p>蒜煨熟，搗膏敷上。</p>
<p><u>貼諸痞癥瘕血塊</u></p>
<p>白芥子　蘿蔔子　山梔　硫黃（各一兩）　大黃（六錢）　鬱金　滑石（各一錢）</p>
<p>為末，酒調如餅。貼患處，三炷香。</p>
<p><u>熨痞法</u>　先將麩皮同鹽炒熱，熨病處。</p>
<p>白芥子　牽牛（各二錢）　大黃（三錢）　蕎麥麵（半合）</p>
<p>將燒酒將藥入面調勻，用布攤貼患處。三炷香去之，又用：</p>
<p>蔥子（一兩）　飛羅面（五錢）　阿魏（三錢）　麝香（半分）</p>
<p>細捶搗成膏，貼之。三日一換。</p>
<p><u>灸法</u>　治痞塊日久不消，隨痞塊上攢火灸，更妙。</p>
<p>中脘穴　在𩩲骨下，取兒四指頭是，灸五壯。</p>
<p>章門穴（在橫骨外，直臍季脅端，側臥，曲上足，舉臂取。灸五壯）</p>
<p>脾俞穴（在十一椎下，兩傍相等五分。灸七壯。）</p>

<h2>水腫論</h2>
<p>（附脹）</p>
<p>水腫之症，皆由脾胃虛弱，不能制水所致。岐伯所謂水脹、膚脹、鼓脹、腸覃、石瘕，名雖不同，即斯症也。腫之初起，目窠微腫如臥蠶之狀，漸及渾身胖大，面目虛浮，咳嗽喘急，胸膈䐜脹，足脛跗腫，小便不利，即水腫之候矣。千金云：水腫有十，其名不同，所感亦異，合而為五。一曰風腫，先從四肢腫起，時常走注，皮膚麻木；二曰氣腫，其侯乍消乍起，乍盛乍虛；三曰血腫，其候血絲縷縷；四曰陽水，色多青黃，身熱口渴，大小便秘澀；五曰陰水，色多青白，大便溏瀉，小便清利，四肢厥冷。各隨其症而治之。脈浮大易治；脈沉細者難治。凡水腫，肌肉崩潰、足脛流水、缺盆平滿、臍凸唇黑、手足心平，有此症者，五臟內傷不可治矣。素問曰：面腫者為風，足腫者為水。若腰以上腫者，宜發散；腰以下腫者，必當利水。此治腫之要法也。腎水橫流，當益脾元防泛溢；藥憑淡滲，謹調胃氣始全功。</p>
<p>脹滿之症，即鼓脹是也。亦由脾胃虛弱，過食生冷，並腥葷毒物，凝滯中膈，積久不消，清濁不分，升降失職，則生䐜脹矣。腫脹忌鹽、醬、麵食、腥葷，服藥方效。</p>
<p>又有久瘧、久瀉、久痢、久疾，飲食少進，脾氣虛極，自然身發浮腫。用藥當補脾胃，扶元氣為主。宜補不宜瀉。四君子湯、補中益氣湯去甘草，加分利陰陽溫暖之藥。脾元一復，腫自消矣。治宜寬緩，不在水腫治例。</p>
<p><u>葶藶散</u>　治十種水氣，咳嗽喘急，坐臥不安，小便短少。</p>
<p>葶藶（一錢五分，微炒研）　澤瀉　黑醜（各一錢）　椒目（炒研）　豬苓（各一錢二分）</p>
<p>蔥白三莖，水煎，空心服。日午下小便升許，間日再用蔥白煮稀粥催之。</p>
<p><u>五皮飲</u>　治風濕客於脾經，氣血凝滯，以致面目浮虛，肢體腫滿，心腹膨脹，上氣喘急。</p>
<p>五加皮　地骨皮　大腹皮　茯苓皮　生薑皮</p>
<p>各等分，水煎。氣急加紫蘇、桑皮、陳皮、杏仁。</p>
<p><u>加味胃苓湯</u>　治一切水腫脹滿。隨症加減，功效如神。</p>
<p>蒼朮（一錢二分）　厚朴（七分）　陳皮　茯苓　白朮　豬苓　澤瀉（各一錢）　紫蘇　香附（各七分）　木香（五分）</p>
<p>階沿草十葉，淡竹葉二十片，生薑三片，水煎。風腫：九味羌活湯加紫蘇；氣腫：木香流氣飲去甘草；陽水身熱：八正散；陰水身涼：本方加乾薑；血腫：桃仁承氣湯兼平胃散；春月：升麻、羌活、防風；夏月：香需、乾葛、黃連；秋月：桂枝、白芍，倍紫蘇；冬月：乾薑、官桂；喘急：杏仁、桑皮、蘇子；心膈飽脹：檳榔、枳殼；氣脹：蘇子、葶藶（炒研）、大腹皮；口渴：花粉、麥冬、五味；發熱：柴胡、黃芩、乾葛；痢疾：枳殼、檳榔、黃連：泄瀉：黃連、訶子；小便短澀：木通、滑石；便秘：大黃、芒硝。</p>
<p><u>神助丸</u>　治十種水氣，隨症加減。</p>
<p>一青水：先從左邊脅腫起，根在肝，大戟、芫花；</p>
<p>二赤水：先從舌根腫起，一云腳根，根在心，葶藶；</p>
<p>三黃水：先從腰腹腫起，根在脾，甘遂、椒目；</p>
<p>四白水：先從腳腫起，根在於肺，桑白皮；</p>
<p>五黑水：先從腎腫起，根在腎，澤瀉、連翹；</p>
<p>六玄水：先從面腫起，根在外腎，芫花；</p>
<p>七風水：先從腎腫起，根在膀胱，甘遂、茯苓；</p>
<p>八石水：先從四肢腫起，根在骨，藁本；</p>
<p>九高水：先從小腹腫起，根在小腸，巴豆、巴戟；</p>
<p>十氣水：或盛或衰，根在腹，赤小豆。</p>
<p>主君者一兩，臣使五錢。三錢蜜丸，茯苓湯下。為散亦可。</p>
<p><u>八正散</u>　治陽水發熱，頭目浮腫，大小便不通，及熱淋。</p>
<p>瞿麥　萹蓄　大黃　滑石　梔子　木通　車前子（各一錢）　甘草（少）</p>
<p>燈心二十寸，水煎。</p>
<p><u>分氣飲</u>　治腫脹，氣短而喘。</p>
<p>陳皮　桑皮　桔梗　枳殼　半夏（六分，制）　大腹皮　蘇子　紫蘇　木通（各一錢）　草果（五分）</p>
<p>生薑三片，水煎。</p>
<p><u>香平散</u>　治大小水腫，隔氣噎塞，並效。</p>
<p>蓬朮（醋炒）　三稜（醋炒）　香附（醋炒）　黑醜（各一兩）　乾薑（五錢）　蒼朮（一兩，炒）　厚朴（六錢，制）　陳皮（七錢）　甘草（一錢）</p>
<p>為末，每服一錢，薑湯調下。醋糊為丸亦可。</p>
<p>木香檳榔丸（方見前。治腫脹甚效。）</p>
<p><u>檳榔丸</u>　水腫腹脹，心膈痞悶，喘急不安。</p>
<p>檳榔　黑醜（炒）　蘿蔔子（炒）　青皮（巴豆炒，去豆）　香附（各一兩）　木香（五錢）</p>
<p>為末，姜糊為丸。每服二三十丸，白滾湯下。</p>
<p><u>土狗半邊散</u>　治諸般水腫。</p>
<p>芫花（醋炒）　甘遂　大戟　土狗（七個，五月內取能飛者）　大黃（半生半熟。各三錢）</p>
<p>先將蔥搗爛為餅，推新瓦上，將土狗安蔥上，焙乾。去翅、足、嘴，每個剪作兩片，分左右成對，記之再焙乾，為末。欲退左邊腫，即以左邊七片末，加藥二錢，淡竹葉、天冬煎湯，五更調服。候左邊腫消至第四日，再服右邊七片末，加藥如前。服未效，用大黃三錢，煎湯助之。如未動，茶清助之。</p>
<p><u>聖腰子</u>　治十般水腫。忌甘草數日。</p>
<p>大戟　牽牛　木香（各一錢）　甘遂（五分，共研細）</p>
<p>將腰子左右一對，每用一個，剖開入末藥一錢，紙裹煨熟，細細呷之。</p>
<p><u>蛤粉丸</u>　治氣虛，面目虛浮、腫脹。</p>
<p>蛤粉　大蒜（一個，煨熟）</p>
<p>搗丸，麻子大。每服三十丸，白滾湯下。若氣不升降，大蒜一個，每瓣入小茴七粒，紙裹煨熟，細嚼，白湯下。瀉不止，每瓣加丁香一粒，如茴香煨服。</p>
<p><u>甘遂餅</u>　治膜外水氣。</p>
<p>甘遂　大麥麩（各五錢）</p>
<p>為末，和作餅，燒熟食之。如不利，熱湯催之；利不止，冷水洗手足頭面即止。小兒減之。</p>
<p><u>廣朮潰堅湯</u>　治腫脹，內有痞塊積聚，堅硬如石，坐臥不安，二便短澀，上氣喘急，遍體虛浮並效。</p>
<p>厚朴（薑製）　黃芩　草豆蔻　益智仁　當歸　黃連　半夏（制）　蓬朮（醋炒）　紅花　升麻　吳茱萸　柴胡　神麯（炒）　澤瀉　甘草（一分）　青皮　陳皮（各五分）</p>
<p>生薑三片，水煎。</p>
<p><u>治脹神方</u>　治大小一切腫脹。久病十劑，無有不效。</p>
<p>砂仁（七分、五分、五分）　陳皮（一錢）　枳實（七分、五分、七分）　厚朴（七分、五分）　草豆蔻（一錢、七分）　半夏（七分、五分、七分）　青皮（五分）　紅花（一錢、五分）　檳榔（七分）　山楂（七分、五分、五分）　蒼朮（一錢、七分、五分）　神麯（五分）　山梔（五分）　香附（一錢、五分、七分）　川芎（七分）　茯苓（七分）</p>
<p>胡桃肉五錢，生薑三片，棗一枚，水煎。</p>
<p>初三劑，照上分兩；次三劑，照中；後三劑，照下分數。</p>
<p><u>腫脹丹方</u>（取水法）　大人作一餅，小兒作二餅。</p>
<p>真輕粉（二錢）　巴豆肉（五錢）　生硫黃（二錢）</p>
<p>共碾為餅。如爛，加飛羅面少許，用絹一片，鋪臍上，將藥餅當臍罨之，再用絹縛緊。約人行五六里，其惡水瀉下，二三便，方去餅。以稀粥補之。久患隔日再用。一餅，可救十人。</p>
<p><u>敷臍膏</u>　消脹利水。</p>
<p>大田螺（四個）　大蒜（五個）　車前子（三錢）</p>
<p>共搗為餅。罨臍上，以帛縛緊即效。</p>
<p><u>又方</u>　用此方忌甘草。</p>
<p>地龍（二條）　甘遂（一錢五分）　豬苓（三錢）　針砂（醋煅，三錢）</p>
<p>為末，蔥涎調敷臍上。日換一次，以絹縛之。</p>
<p><u>蠱脹良方</u></p>
<p>沉香（三錢）　木香（二錢）　大黃（五錢）　澤瀉　青皮　陳皮（各五錢）　砂仁（三錢）　木通（五錢）　連翹（二錢）　桑皮　黑醜　葶藶（各五錢）　檳榔（一錢）　益智仁（三錢）　枳殼（五錢）　川椒（一錢）　大椒（二錢）　甘遂（四錢）</p>
<p>為末。大人二錢，小兒一錢，五更時服。病在上陳皮湯；在中桑皮湯；在下沉香湯下。忌鹽、醬、葷、酒。此方水疊為丸亦妙，浸火酒亦妙。</p>
<p><u>單方</u>　治症如前。上噯氣，下放屁即效。</p>
<p>大蝦蟆（一個入砂仁三錢）</p>
<p>鹽泥封固，火緞存性，為末，酒調空心服。大人二錢，小兒一錢。</p>
<p><u>雞醴</u></p>
<p>雞糞（乃屎中白者，曬乾，或半斤四兩）</p>
<p>鍋內炒焦，入酒二斤，澄清，去糞，取酒。空心頻頻飲之。忌鹹酸一切雜物妙。</p>
<p>商陸根（去皮，水煮，吃根連湯，頻頻飲之。）</p>
<p>黑魚（同蒜煨熟吃，或煮蒜吃亦妙。）</p>
<p>芥菜子（炒研末，每服四五分，好酒下。）</p>
<p>魯丁草（煮紅棗，連汁吃棗亦效。）</p>

<h2>黃疸論</h2>
<p>（附黃病）</p>
<p>黃疸之症，內經有五：一曰黃汗，二曰黃疸，三曰谷疸，四曰酒疸，五曰女勞疸，皆濕熱內蒸而為病也。譬猶酓醬，濕熱相鬱則生黃矣。小兒黃症比大人相似，所感不同，皆由脾胃飲食過傷，濕熱熏蒸，黃疸生矣。其候，面目身體皆黃，小便亦皆黃色。其症亦有虛、有實、有寒、有熱。隨其症，調理之。又有飲食如常，不生肌肉，遍身黃色，好食泥土、布絮、茶炭等物，內有蟲積，一名黃病。即今俗云黃胖病是也。另有黃病方，不可作疸醫治。又有傷寒陽明無汗、發黃，乃蓄血症，當從傷寒症調治之。其脈浮、大便滑、小便如塵汁、汗著衣皆黃、面黧者，難治。</p>
<p><u>茵陳五苓散</u>　治一切黃疸並效。</p>
<p>白朮　豬苓　澤瀉　茯苓（各一錢）　肉桂（三分）　茵陳（一錢五分）</p>
<p>燈心二十寸，淡竹葉二十片，水煎。</p>
<p><u>茵陳湯</u>　治身熱發黃，胸滿心煩，乃內蓄積熱，宜下；及陽明蓄熱，發黃並效。</p>
<p>茵陳（三錢）　大黃（二錢）　山梔（一錢）</p>
<p>水煎。臨起入大黃，煎一滾服。</p>
<p>木香檳榔丸（方見前。治疸甚效。）</p>
<p><u>加味茵陳湯</u>　疸症初起，先視虛實，用藥微利其蘊熱，後用退疸藥方效。</p>
<p>赤茯苓　蒼朮　厚朴　陳皮　白朮　豬苓　澤瀉（各五分）　甘草　黃柏皮　山梔（各三分）　茵陳（一錢）</p>
<p>生薑一片，竹葉十片，水煎。</p>
<p><u>犀角湯</u>　治身熱發黃，口乾煩躁，心神驚悸。</p>
<p>茵陳（一錢）　乾葛　龍膽草　升麻　滑石（一錢五分）　寒水石（一錢五分）　犀角　生地（各七分）</p>
<p>燈心二十寸，竹葉十片，水煎。</p>
<p><u>退黃丸</u>　治黃病，及久瀉、久痢、便血並效。</p>
<p>蒼朮（三兩，炒）　厚朴（一兩五錢，薑製）　陳皮（二兩五錢）　甘草（一兩）　綠礬（醋炒焦枯，二兩）</p>
<p>為末，醋糊為丸，棗湯下。</p>
<p><u>綠霞丸</u>　治遍身面目俱黃，服之即退；治疳病垂死，服之亦效。</p>
<p>綠礬（四兩，醋一碗，煮焦枯）</p>
<p>為末，紅棗蒸熟為丸，麻子大。每服二三十丸，茶湯下。赤痢白砂糖湯下；白痢赤砂糖湯下。</p>
<p><u>黃病丸</u>　治嬰童一切黃病，男婦並宜服之。</p>
<p>皂礬（一斤）　白麵（二斤，做餅裹礬煨熟）　胡桃肉（一斤）　川椒（二兩）　厚朴（三兩）　蒼朮（四兩）　甘草（二兩）　紅棗（二斤，蒸熟去核搗）</p>
<p>為末，棗膏為丸。日服三次，溫酒下，不飲白湯下。</p>
<p>以上三方忌腥葷、油膩、生冷之物。</p>

<h2>盜汗自汗論</h2>
<p>經云：飲食飽甚，汗出干胃；驚而奪精，汗出於心；持重遠行，汗出於腎；強力房勞，汗亦出於腎；疾走恐懼，汗出於肝；搖動作勞，汗出於脾。所謂盜汗者，猶賊潛窺人息而行盜也。睡則汗出，症屬陰虛，四物湯加牡蠣粉主之。自汗者，常居無故自汗，症屬陽虛，四君子兼六黃湯主之。皆因氣血內虛，腠里不密，所謂陰虛陽必湊，陽虛陰必乘。汗乃心之液，心虛則外泄。久而不治，汗多則亡陽，面黃肌瘦，皮焦毛槁，變生他症矣。又有乳母壯盛，嬰兒體實，睡中汗出，不拘日夜，時常汗多，無妨，不必服藥。</p>
<p><u>四物牡蠣湯</u>　治睡則汗出，皮黃肌瘦。</p>
<p>當歸（一錢）　黃耆（一錢二分）　白芍　川芎（各六分）　生地（一錢）　牡蠣（一錢）　官桂（三分）</p>
<p>圓眼肉五個，浮小麥百粒，水煎。</p>
<p><u>加味四君子湯</u>　治自汗不止。</p>
<p>人參　白朮　茯苓　甘草　黃連　黃耆　白芍（各一錢）　官桂（四分）</p>
<p>燈心二十寸，浮小麥百粒，水煎。</p>
<p><u>當歸六黃湯</u>　治陰陽兩虛，自汗、盜汗並效。</p>
<p>當歸　生地　熟地　黃連（酒炒）　黃芩（酒炒）　黃柏（酒炒）　黃耆（蜜炒）</p>
<p>各等分，生薑三片，棗一枚，水煎。</p>
<p><u>黃耆湯</u>　治自汗、盜汗。</p>
<p>黃耆（一錢）　茯苓　熟地　麻黃根　天冬　防風　當歸（各七分）　甘草（五分）　五味　官桂（各三分）　牡蠣（一錢二分，煅）</p>
<p>生薑三片，棗一枚，浮小麥百粒，水煎。</p>
<p><u>大建中湯</u>　治虛熱盜汗，怔忡驚悸，四肢倦怠，氣促。</p>
<p>黃耆（一錢，蜜炒）　遠志肉　當歸（各八分）　澤瀉　白芍　人參　甘草（炙）　酸棗仁（炒）　龍骨（煨研，各五分）</p>
<p><u>牡蠣固真湯</u>　自汗、盜汗，陰陽兩虛，夜睡多驚，怔忡恐怖，四肢怠惰，皮焦口苦。</p>
<p>黃耆　麻黃根　當歸　生地　人參　麥冬（各一錢）　小柴胡　酸棗（炒）　五味（二分）　白朮　黃芩（各七分）　甘草（五分）</p>
<p>浮小麥百粒，圓眼肉五個，水煎。</p>
<p><u>團參飲子</u>　治小兒驚熱盜汗。</p>
<p>人參（一錢）　黃耆（二錢）　當歸（一錢五分）</p>
<p>加豬心一片，水煎。</p>
<p><u>單方</u>　五倍子為末，臨睡時，乳母唾調敷臍即止。</p>

<h2>脾胃論</h2>
<p>（附滯頤）</p>
<p>經曰：胃為水穀之海，脾為生化之源。丹溪曰：脾具坤靜之德，而有乾健之運。胃陽主氣，脾陰主血。胃司納受，脾司運化。一納一運，化生精液，清氣上升，糟粕下降。飲食入胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通條水道，下輸膀胱。清者為榮，濁者為衛。清陽發腠里，濁陰歸五臟。水精四布，五經並行，合於四時，榮養五臟。若夫飲食有節，寒溫適宜，則脾胃壯實，飲食易消，運化精微，充溢五臟六腑，榮養四肢百骸，何病之有！脾胃衰弱，則飲食不消，運化之令不行，化生之功失職，嗜臥多困，其病生焉。脾胃者，五臟之根本；飲食者，性命之大原。調理脾胃，為醫中之王道，誠有旨哉。所謂脾胃健，則諸病悉安；脾胃弱，則諸疾蜂起。</p>
<p><u>天下受拜平胃散</u>　治脾胃不和，三焦氣壅，胸膈痞脹，飲食不美，嘔吐不食，不服水土，及山嵐瘴氣。不俱大小老幼並宜服之。</p>
<p>真茅朮（五兩，炒）　厚朴（三兩，薑製）　陳皮（四兩）　甘草（一兩五錢）　生薑（三兩）　南棗（一斤，蒸去核）</p>
<p>連棗、藥，搗成餅，曬乾為末。大人二錢，小兒一錢，鹽湯下。</p>
<p><u>補中益氣湯</u>　治大小脾胃不和，四肢怠惰，飲食不進，日漸羸瘦，及男婦勞傷，諸虛百損並效。</p>
<p>人參（五分）　白朮（一錢二分）　黃耆（一錢）　陳皮（八分）　甘草（五分，炙）　當歸（一錢）　柴胡（五分）　升麻（五分）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>益黃散</u>　治脾胃虛寒，嘔吐泄瀉。</p>
<p>陳皮　青皮（各五錢）　訶子（三錢）　甘草　丁香（各一錢）</p>
<p>每服一錢，清米湯調化下。</p>
<p><u>益脾散</u>（本方加肉豆蔻二錢。）</p>
<p><u>益黃丸</u>　治脾胃受傷，肌肉消瘦，肚腹膨脹，好食泥土，漸成脾疳。</p>
<p>白朮（炒）　黃連　茯苓　神麯（炒。各一兩）　砂仁（三錢）　山楂肉　胡連　蕪荑（各六錢）</p>
<p>豬膽汁為丸，清米湯下。</p>
<p><u>補脾丸</u>　治脾胃不和，飲食少進，泄瀉不止，及男婦脾胃虛弱者並效。</p>
<p>茅朮（十兩。小茵香、茱萸、肉果、破故紙，四制去囊藥）　蓮肉　人參（各一兩）　白芍（炒）　甘草（各五錢）　山藥　陳皮（各七錢）　乾薑（炮）　木香（各四錢）</p>
<p>神麯打糊為丸，薑湯下，米湯亦可。</p>
<p><u>參苓造化糕</u>（一名八珍糕）　調理脾胃，不過此方之妙。</p>
<p>人參（五錢）　茯苓　山藥　蓮肉　芡實（肉）　薏苡仁（各一兩）　山楂（肉）　麥芽（炒。各八錢）　白砂糖（二兩）</p>
<p>為末，每服二三錢。白滾湯調，再頓滾服，日進二三次。男婦脾胃弱者，及脾泄服之甚效。</p>
<p>蒸糕，拌陳米屑一升；作餅，拌炒米屑二升，添糖二兩。</p>
<p><u>二仙膏</u>　治症同前。脾泄久不止者甚效。</p>
<p>陳川米（一升，薑汁拌濕一宿，炒熟）　山藥（一斤，乾者，微炒）</p>
<p>為末，每服二三錢，白滾湯調下，加白砂糖一匙。</p>
<p><u>益榮湯</u>　驚恐後，心君失輔，脾胃衰弱，怔忡恍惚，悲喜不常，小便渾濁，夜睡不寧。此方補脾胃，養心血。經云：損其心，益其榮。男婦心血不足者並效。</p>
<p>當歸　黃耆　遠志　小草　茯神　人參　酸棗　柏子仁　白芍（各八分）　木香（三分）　紫石英（二錢）　甘草（五分）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>歸脾湯</u>　補脾胃，養心血，安神鎮驚。</p>
<p>人參　白朮（炒）　黃耆（蜜炒）　酸棗（炒）　茯神　當歸　遠志（各一錢）　甘草（五分）　木香（三分）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>人參養榮湯</u>　養血補氣，健脾開胃，安養心神。</p>
<p>人參　白朮　茯苓　黃耆　當歸　白芍　熟地　遠志（肉）　陳皮（各八分）　五味（二分）　甘草　官桂（各四分）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>人參養胃湯</u>　治脾胃虛弱，內傷生冷，嘔吐、泄瀉、不食。</p>
<p>蒼朮（炒）　厚朴（炒）　陳皮　甘草　茯苓　藿香　人參　半夏（制）　草果　砂仁　香附（醋炒。各等分，量症加減。）</p>
<p><u>六君子湯</u>　養脾和胃，清痰順氣。</p>
<p>人參　白朮　茯苓　甘草　陳皮　半夏（制。各等分，視症加減）</p>
<p>生薑三片，棗一枚，水煎。</p>
<p><u>橘半枳實丸</u>　治痞消食，化痰強胃。</p>
<p>白朮（四兩）　枳實（二兩，麩炒）　廣皮（二兩）　半夏（一兩五錢，薑製）</p>
<p>為末，水疊為丸，白滾湯下。婦人加香附、砂仁。</p>
<p><u>橘半健脾丸</u>　本方加神麯、山楂肉、砂仁、木香。</p>
<p><u>溫脾湯</u>　治滯頤。涎為脾液，脾胃虛寒，不能收制其津液，故涎於頤間也。其症亦有脾熱口臭，而流涎者。當分冷熱調治之。</p>
<p>人參　白朮　陳皮　茯苓（各一錢）　甘草　半夏（制）　訶子（煨）　肉蔻（各五分）</p>
<p>生薑三片。脾寒症，加丁香、木香；脾熱，加黃連、軟石膏</p>
<p><u>啟脾丸</u>（方見泄瀉門）　治滯頤。</p>
<p>寒症，加訶子（煨）、丁香、木香；熱症，加寒水石（煅）、胡連、黃連。</p>
<p>為末，蜜丸，米湯下。</p>

<h2>五淋論</h2>
<p>（附便濁）</p>
<p>膀胱與腎為表裡，俱主水，為熱所乘，乃煎熬而成淋也。如水煎滾則渾，火之症明矣。其名有五：一曰石淋，腎經為熱所乘，化沙石從小便出，瀝瀝有聲，莖中疼痛；二曰氣淋。腎經為肺熱所乘，流入膀胱，小便短澀，其痛來去，小便或赤或白，三曰血淋，心主血，心經熱盛，血失其常，滲入膀胱，小便痛而尿血，四曰寒淋，先戰慄而後小便方得出者是也；五曰熱淋，三焦鬱熱，下乘於腎，流入膀胱，小便赤澀，身熱而煩。淋者，淋瀝而不得通利也。其症，小便引臍莖中急痛。又有兒在胎中，父母交媾，用興陽熱藥，胎中受毒，生下即有此症，當用紫雪丸方效，不在五淋醫治。又有小便渾濁，溺出即變米泔白色，此乃飲食傷脾，熱結於中，陰陽不分。宜消食清熱，分利陰陽，亦不在五淋治例也。</p>
<p><u>八正散</u>　治心蘊熱，口燥咽乾，目赤便澀。五淋初起，必先用此分利為主。</p>
<p>萹畜　瞿麥　滑石　山梔　木通（各一錢）　大黃（二錢）　車前子（一錢，研炒）　甘草（三分）</p>
<p>燈心二十寸，水煎。</p>
<p><u>立效散</u>　治沙石淋，小便淋瀝，莖中疼痛。</p>
<p>木通　海金沙　滑石　山梔　檳榔　甘草　王不留行（各等分）</p>
<p>胡荽二錢，水煎。寒淋，加紫蘇、獨活。</p>
<p><u>加味四苓散</u>　治熱淋，兼治五淋並效。</p>
<p>茯苓　豬苓　澤瀉　白朮　木通　生地　山梔　滑石　車前子（炒，另研為末，和服）</p>
<p>各等分，燈心二十寸，水煎。暑月，加香薷、黃連。</p>
<p><u>清心蓮子飲</u>　治五淋，及小便渾濁，男子遺精並效。</p>
<p>人參　黃耆　白茯苓　石蓮肉　木通　車前子　地骨皮　黃芩（各一錢）　甘草（五分）</p>
<p>淡竹葉二十片，燈心二十寸，水煎。</p>
<p><u>分清飲</u>　治氣淋，及小便渾濁。</p>
<p>益智仁　川萆薢　石菖蒲　烏藥　茯苓　白芍　黃芩　木通　麥冬　生地</p>
<p>各等分。燈心二十寸，水煎。</p>
<p><u>金砂散</u>　治石淋疼痛難忍。</p>
<p>鬱金　海金砂　滑石　甘草</p>
<p>為末。每服一二錢，燈心、木通湯下。</p>
<p><u>二仙湯</u>　小便淋瀝，腹中急痛。</p>
<p>冬葵子（五錢）　木通（二錢）</p>
<p>分二劑，燈心二十寸，水煎。</p>
<p><u>葵子散</u>　治五淋痛不可忍，及小便不通。</p>
<p>葵子　車前子　木通　瞿麥　山梔　赤茯　桑皮（各三錢）　茅根（五錢，搗）　甘草（一錢）</p>
<p>為末，每服二三錢，燈心湯調下。</p>
<p><u>必效飲</u>　治症同前。</p>
<p>山梔　赤芍　滑石　茵陳　生地　赤茯　甘草　車前子　荊芥（各等分）</p>
<p>淡竹葉二十片，燈心二十寸，水煎。氣淋，加紫蘇、羌活、獨活、官桂（少許）。</p>
<p><u>通秘瀉心湯</u>　治血淋，及諸淋並效。</p>
<p>豬苓　澤瀉　茯苓　木通　山梔　黃芩　萹畜　滑石　黃連　車前</p>
<p>各等分。水煎，臨服入發灰三分，和勻服。</p>
<p><u>尿血良方</u></p>
<p>當歸　川芎　白芍　生地　麥冬　木通（各一錢）　甘草（三分）　豆豉（一錢五分）</p>
<p>淡竹葉二十片，燈心二十寸，水煎，臨服入藕汁。</p>
<p><u>又方</u>　以下單方並治血淋。</p>
<p>生蒲黃　赤茯苓　生地　甘草</p>
<p>為末，每服一二錢，人發灰，淡竹葉湯下。</p>
<p>單方</p>
<p>紫蘇煎湯服效。</p>
<p>車前葉搗汁服。</p>
<p>琥珀末，薄荷、燈心調下。</p>
<p>發灰井花水調下。</p>
<p><u>紫雷丸</u>　治兒胎中受熱藥毒，小便赤澀，淋瀝疼痛，啼哭不安，及尿血並效。</p>
<p>黃柏（一兩，鹽水炒）　知母（五錢，鹽酒炒）　玄明粉（八錢）　滑石（八錢）　琥珀（三錢）　黃連（五錢）　甘草（三錢）　青黛（三錢）</p>
<p>為末，蜜丸，菜子大。每服百丸，木通、生地湯下。</p>
<p><u>通幽瀉毒飲</u>　治症同前。</p>
<p>木通　赤茯　生地　黃連　甘草　大黃（二錢，酒煨）　滑石　牽牛末（各等分）</p>
<p>燈心二十寸，水煎服。唇燥，加麥冬、花粉。</p>
<p><u>秘方</u>　治大小便不通。</p>
<p>蚯蚓糞（二錢）　百草霜（一錢）</p>
<p>為末。用米泔水，順水擂服，即通。</p>
<p><u>潤腸丸</u>　治大便秘澀不通，體弱氣虛，血熱內結，難以轉下，此方常服甚佳；及婦人產後，老人虛秘。</p>
<p>大黃（四兩，酒蒸二次）　當歸（二兩）　桃仁（一兩，去皮，炒研）　麻仁（二兩）　枳實（一兩）　熟地（二兩）　郁李仁（二兩，淨仁）</p>
<p>為末，蜜丸。視大小加減，白滾湯下。</p>
<p><u>透骨膏</u>　治淋諸藥不效，此方甚驗。</p>
<p>穿山甲（尾足者）　五靈脂（各二錢）　巴豆（一錢，肉）</p>
<p>用蒜煨熟，同搗為膏。罨臍上，以絹帕縛之，將手烘熱，頻頻熨之。</p>
<p><u>掩臍膏</u>　治膀胱鬱熱，小便不通。</p>
<p>螺螄（一合，搗）　蔥白（五個）　麝香（一分）　鹽（少許）</p>
<p>共搗成餅。罨臍上，須臾即通。</p>
<p>毛毛酸草搗汁服（加酒少許。）</p>
<p>單燈心湯空心服。</p>
<p><u>灸法</u>　礬末，安臍中，用艾灸七壯；鹽安臍中，艾火灸七壯。</p>
<p>神闕穴（即臍中）　三陰交一穴（灸五壯）</p>

<h2>脫肛論</h2>
<p>肺與大腸為表裡，蓋肺蘊熱則秘結不通，肺臟虛寒則肛門外脫。因兒久患瀉痢，腸胃內虛，或因病後氣虛下陷，亦令脫肛。下失久不治，外為風濕所乘，則為終身之痼疾矣。凡脫肛之症，內用調理之藥為主；外用洗托之藥方得效也。又有父母有痔，生兒有此，照痔症調理之。參苓白朮散、助胃膏、啟脾丸三方並效。</p>
<p><u>固腸丸</u>　治氣虛脫肛。</p>
<p>龍骨（煅）　訶子　沒石子　粟殼　赤石脂</p>
<p>等分，為末，糊丸，米湯下。</p>
<p>單方磁石醋煅七次，每服一錢，醋湯下；石榴皮湯亦效。</p>
<p><u>五倍子湯</u></p>
<p>五倍子（一兩）　白礬（五錢）</p>
<p>水煎，先熏後洗，拭乾。用木賊草散托上。</p>
<p><u>木賊草散</u></p>
<p>木賊灰（五錢）　龍骨（煅）　枯礬（各一錢五分）</p>
<p>為極細末，軟絹托上即睡。</p>
<p><u>鱉頭散</u>　治脫肛不收。</p>
<p>鱉頭（一個燒存性）　赤石脂（一錢）　冰片（少許）</p>
<p>碾為極細末。艾湯洗淨，絹拭乾用之。</p>
<p><u>苦參湯</u>　治脫肛並痔。</p>
<p>苦參（一兩）　荊芥　防風　當歸　甘草　蓮蓬殼　石榴皮（各五錢）</p>
<p>水煎，先熏後洗。</p>

<h2>疝氣偏墜論</h2>
<p>（附陰腫）</p>
<p>小兒疝氣偏墜，與大人頗同，但幼小難於用藥耳。皆因下部受寒，又為風濕所乘，氣血凝結而成斯疾。或久坐濕地，夏月陰地取涼，或坐於石上，寒氣入腎，氣結不散，不為此症者鮮矣。或父有此疾，兒胎受之，產下百日或一周而成斯疾，尤為難治。又有陰腫及囊腫。光浮可畏。此皆濕熱為疾，不妨。或坐地蚓吹，亦能作腫。照後方治之。</p>
<p><u>指迷湯</u>　治偏墜疝氣，不俱大小並效。</p>
<p>青皮　陳皮　橘核（炒）　小茴香（炒）　大茴香　木通　澤瀉　豬苓　茯苓　烏藥　益智仁　川練肉　黃柏（鹽酒炒）</p>
<p>各等分，胡桃肉三個，水煎服。大人用胡桃七個。</p>
<p><u>治疝神方</u>　治疝氣偏墜，大小並效。</p>
<p>川練肉　吳茱萸　紫蘇　蒼朮　陳皮（各一錢）　半夏（制）　甘草（各六分）</p>
<p>蔥白三莖，生薑三片，酒煎，空心熱服取汗。</p>
<p><u>治疝氣偏墜方</u></p>
<p>澤瀉（一錢）　茴香（八分）　白朮（七分）　橘核（一錢，炒研）　檳榔（五分）　肉桂（五分）　木通（五分）　赤茯（七分）　豬苓（一錢）　金鈴子（七分）</p>
<p>水煎，食前服。</p>
<p><u>疝氣丸</u></p>
<p>沉香　木香（各五錢）　川練肉　大茴香　小茴香　青皮　陳皮　山楂肉　荔核　橘核（炒研）　吳茱萸（各二兩）</p>
<p>共為末，煉蜜丸，鹽湯或酒服。大人二錢，小兒減半。</p>
<p><u>偏墜丸</u></p>
<p>雄殼樹葉（不拘多少，曬乾為末，每兩加）　沉香（五分）　橘核（五分）　木香（三分）</p>
<p>酒糊為丸。大人二錢，小兒減半，空心白滾湯下。</p>
<p><u>浸酒方</u>　治偏墜疝氣並效，大小俱可服。</p>
<p>當歸（一兩）　玄胡索（一兩，炒）　木香（五錢）　大茴香（一兩半）　烏藥　澤瀉（八錢）　菟絲子（一兩，研）　川練肉（一兩）　牡蠣（八錢，煅）　乳香（二錢）　川芎（八錢）　蒼朮（一兩）　破故紙（一兩半，麩炒）　青皮（一兩）　茯苓（二兩）　桃仁（一兩半，炒去皮尖，研）</p>
<p>浸酒二十斤。每服一二杯，頻頻飲之。</p>
<p><u>治腎如斗</u>　小兒無此症，治大人此症甚效。</p>
<p>青皮　荔枝　大茴</p>
<p>等分，炒黃為末。每服二錢，酒服；為丸亦可。</p>
<p><u>消腎散</u>　治腎感寒之氣，偏墜疝氣舉發衝心，小腹㽲痛，及外腎囊浮腫並效。</p>
<p>白朮（炒）　茯苓　豬苓　澤瀉　陳皮　小茴香（炒）　木通　玄胡索（各一錢）　官桂（五分）　大茴（八分）</p>
<p>胡桃肉五個，水煎，入鹽少許，服加川練肉一錢。</p>
<p><u>蔥白散</u>　治症同前。</p>
<p>澤瀉（一錢）　豬苓　赤茯苓　白朮（炒）　陳皮　荔枝核（炒研）　赤芍　川煉肉（各七分）　青木香　官桂　小茴香（各五分）</p>
<p>蔥白五寸，水煎服；或為末，糊丸，鹽湯下亦可。</p>
<p><u>四製蒼朮丸</u>　治偏墜疝氣神效。</p>
<p>茅山術（一斤，四制。青鹽一兩、川練肉三兩、破故紙三兩、小茴香三兩）</p>
<p>加四物湯共為末，煉蜜為丸。鹽湯下；鹽酒更好。</p>
<p><u>吳茱萸丸</u>　治症同前神效。</p>
<p>吳茱萸（一斤，四制。童便、酒、醋、鹽，各浸一宿炒）　蒼朮（四兩）　木香　澤瀉（各二兩）</p>
<p>為末，醋糊為丸。醋湯空心下。</p>
<p><u>偏墜方</u>　此方甚效，二三歲五分，大人倍用。</p>
<p>大紅石彈子（一個，燒紅，入好酒一斤內）　皂角（數條，燒灰存性）　木香　大茴香</p>
<p>三味，等分為末。每服五分、一錢，此酒送下。</p>
<p><u>加味青娥丸</u>　治症同前，並止腰痛。</p>
<p>故紙（半斤）　杜仲（四兩，鹽酒炒）　蒼朮（四兩）　當歸（二兩）　川芎　小茴香　大茴香（各一兩五錢）</p>
<p>為末，蜜丸。看大小加減，鹽湯下。</p>
<p><u>立消飲</u>　治疝氣。</p>
<p>天門冬（五錢）　烏藥（二錢五分）</p>
<p>水煎，臨服，加酒少許服。</p>
<p>單方（二道）</p>
<p>木耳二兩，炒焦，傾酒一壺於內，煎滾。徐徐飲之。</p>
<p>屋上葫蘆經霜者，燒灰為末，空心酒服。</p>
<p><u>立消疝氣方</u>　偏墜亦效。</p>
<p>大茴香（二兩）　小茴香（二兩）　冬瓜仁（五錢）　陳皮（一兩）</p>
<p>為末。將犍豬肚洗淨，入藥於內，線縫好。酒五斤，煮熟，吃肚，吃酒，隨意徐徐食之。藥渣炒乾為末，酒調，空心服。藥完病愈。</p>
<p><u>蟬蛻散</u>　治陰囊浮腫，或風濕所乘，或蟲蟻吹者。</p>
<p>蟬蛻（五錢）</p>
<p>水煎淋洗。將渣用蔥白十莖煨熟，搗爛敷上，青絹縛之。</p>
<p>內服五苓散，加燈心二十寸，水煎。</p>
<p>蚯蚓糞，雞子清調敷，甘草湯調亦可。</p>
<p><u>灸法</u>　小兒偏墜疝氣，灸囊後縫十字紋上三壯。</p>
<p>崑崙二穴，在內踝後五分，筋骨陷中。各三壯。</p>

<h2>遺溺論</h2>
<p>小兒遺尿者，乃膀胱虛冷不能禁約，故尿自出也。夫腎主水，下通於陰，小便者津液之餘也。膀胱為津液之腑，因虛弱內寒不能約制，其尿出而不禁，故云遺溺也。又有尿床者，亦由膀胱虛冷，夜間不禁，小便睡中自出謂之尿床。宜用溫補之藥即效。下賤之輩，有此疾者多，此亦非病，藥不能療也。</p>
<p><u>加味地黃丸</u>　治腎虛冷，膀胱遺溺。</p>
<p>白茯苓　山藥　山茱萸　熟地黃（各一兩）　丹皮（五錢）　大附子（五錢，炮）　官桂（三錢）　益智仁（六錢）</p>
<p>為末，蜜丸。空心、午前，日服二次，鹽湯下。</p>
<p><u>破故紙散</u>　治遺溺。</p>
<p>破故紙（一兩，炒）　白茯苓　益智仁（各五錢）</p>
<p>為末，每服一錢，米湯下。</p>
<p><u>雞腸散</u>　治小兒尿床。</p>
<p>雞腸（一具，炙乾）　牡蠣（煅醋淬）　白茯苓　真桑螵蛸（炒。各五錢）　龍骨　官桂（各一錢五分）</p>
<p>為末。每服一二錢，生薑、黑棗煎湯，室心下。一方將藥為末，灌入豬尿胞內煮熟，搗為丸，鹽湯下。</p>
<p><u>䏶胵散</u>　治同前症。</p>
<p>雞䏶胵（一具，炙）　雞腸（炙乾）　豬胞（炙焦）</p>
<p>共為末。每服一錢，溫酒下。男用雌，女用雄。</p>

<h2>解顱論（附）囟填、囟陷</h2>
<p>腎主骨髓以藏精，故腦為髓海，乃人之根本也。解顱者，原兒稟受胎氣不足，腎氣衰弱，其囟常開而不合，名曰解顱。寶鑑云：父精不足，則頭叵而囟開；母氣衰微，則體虛肉瘠。其兒目睛㿠白，多愁少喜，精神困憊。有此症者，兒多不壽。宜早用溫補之藥治之。又有囟填、囟陷二症。經云：寒氣上衝則牢靳，熱氣上衝則浮腫。或吐瀉脾虛，元氣暴脫，其囟陷而凹；或風邪內蓄，鬱熱上攻，願腫而凸。二症俱為惡候，急用散驚，隨其寒熱而治之。休視小疾，否則不可救矣。</p>
<p>寒症，益脾、溫胃、散驚為主。（方在脾胃泄瀉門選用）</p>
<p>熱症，消風、清熱、鎮驚為主。（方在風寒急驚門選用）</p>
<p><u>加味四君子湯</u>　治寒症解顱囟陷。</p>
<p>人參　白朮　茯苓　甘草（炙）　熟地　鹿茸（酥炙）　山茱萸　枸杞子　訶子（煨）　丁香（三分）　山藥（各一錢）</p>
<p>生薑三片，棗一枚，水煎。手足厥，加附子三分。</p>
<p><u>加味惺惺散</u>　治熱症囟腫。</p>
<p>陳皮　半夏　茯苓　甘草　羌活　防風　天麻　鉤藤　薄荷　桔梗　枳殼　殭蠶（炒。各等分）</p>
<p>生薑三片，水煎。驚搐，加全蠍；痰甚，加貝母。</p>
<p><u>地黃丸</u>　治氣虛解顱。</p>
<p>鹿茸（酥炙）　山藥　茯苓　人參　熟地　山茱萸（各一兩）　牡丹皮　官桂（各五錢）</p>
<p>為末，蜜丸。清米湯下，日服兩三次。</p>
<p><u>玉乳丹</u>　治解顱囟陷。</p>
<p>鍾乳粉（五錢，煅）　柏子仁　熟地　當歸　補骨脂　白茯苓　黃耆　防風（各二錢）</p>
<p>為末，蜜丸，茴香湯下。</p>
<p><u>南星散</u>　治囟腫、囟陷並效。</p>
<p>南星（二錢）　北細辛（五分）　共為末。</p>
<p>寒症，蔥湯加生薑汁調敷；泄瀉下陷，醋調敷；熱症，薄荷、甘草湯調敷。</p>
<p><u>烏附膏</u>　治氣虛囟陷。</p>
<p>川烏　附子（各二錢）　雄黃（一錢）</p>
<p>碾為末，蔥白煨熟，搗成小餅，貼囟上。</p>
<p>單方　黃狗頭骨燒灰，為末，雞子清調敷。</p>

<h2>語遲論</h2>
<p>腎經之脈絡於肺，而繫於舌本，行血氣，通陰陽，伏行而溫於骨髓也。腎稟胎氣不足，水不能上升以沃心陽通條肺氣。經云：肺主聲，心為言。舌乃心之苗，心肺失調，致舌本強，故不能發而為言也。治當滋腎、益肺、瀉心火，水升火降，陰陽和暢，語言自辨也。</p>
<p><u>腎氣丸</u>　語遲，此方主之。</p>
<p>山藥　山茱萸（肉）　茯苓　熟地　澤瀉　丹參　石菖蒲　天門冬　麥冬　牡丹皮</p>
<p>等分為末，天、麥二冬搗蜜丸，硃砂三錢為衣。每服燈心湯下，日服二三次。</p>

<h2>行遲論</h2>
<p>（附手足拘攣）</p>
<p>腎主骨，肝主筋。骨得髓則堅健；筋得血則流通。小兒腳軟行遲，亦稟受胎氣之不足耳。宜滋腎水、益肝氣、養血、補脾之藥，何患乎不行也！啟脾丸間地黃丸服。</p>
<p><u>虎骨丸</u>　治腳軟行遲。</p>
<p>虎脛骨　生地黃　酸棗仁　白茯苓　黃耆　防風　山藥（各二錢）　官桂（二錢）　當歸（四錢）</p>
<p>為末，蜜丸，木瓜湯下。</p>
<p><u>羚羊角丸</u>　治症同前。</p>
<p>羚羊角（鎊）　虎脛骨（酥炙）　酸棗仁（炒）　白茯苓　生地　當歸　木瓜　牛膝　薏苡仁（各五錢）　官桂（三錢）</p>
<p>為末，蜜丸，鹽湯下。</p>
<p><u>腳氣神方</u>　足膝受寒，拘攣不展，疼痛難忍。</p>
<p>杉木節（一升）　橘葉（一升，無葉，皮亦可）　檳榔（七錢）</p>
<p>童便三升，煎一半，頻頻頓溫服。</p>
<p><u>海桐皮散</u>　治腳攣不展。經云：曲而不伸者，其病在筋；伸而不屈者，其病在骨，皆由寒束筋攣而不展也。藥宜溫暖，散寒氣為主。</p>
<p>海桐皮　牡丹皮（各五錢）　當歸　熟地黃　牛膝　山茱萸　補骨脂（各一兩）　附子（三錢）</p>
<p>為末。每服一二錢，蔥白湯下；煉蜜為丸亦可。</p>
<p><u>薏苡仁丸</u>　治手足拘攣，不能舒展。</p>
<p>苡仁（炒）　當歸　秦艽　酸棗（炒）　防風　羌活（各一兩）　獨活（六錢）</p>
<p>為末，蜜丸，酒服；鹽湯亦可。</p>

<h2>齒遲論</h2>
<p>小兒齒生遲，乃稟受腎氣不足故也。夫齒乃骨之餘，腎氣主之，腎不足則骨髓不充，所以齒生遲也。</p>
<p><u>六味地黃丸</u></p>
<p>山茱萸（肉）　山藥　熟地　茯苓（各一兩）　澤瀉　牡丹皮（各五錢）</p>
<p>為末，蜜丸，鹽湯下。</p>
<p><u>擦牙散</u></p>
<p>鹿茸（五錢，炙）　生地　當歸（各三錢）　雄鼠骨（微火炒，一錢）</p>
<p>為末，擦牙三四次。不半月，齒生矣。</p>
<p>單方：雄鼠糞，兩頭尖者是，日用一粒，擦牙齦上，至二十一，立即生矣。</p>

<h2>龜胸論</h2>
<p>小兒龜胸者，其胸骨高凸脹起，形如龜胸，故以名之，乃肺經鬱熱而生。此症皆因乳母恣啖五辛煎煿厚味而有此；亦有乳母氣鬱而不得伸越，憂憶之乳乳兒，亦生此症；或夏月受暑飲冷，當風取涼，此乳乳兒亦生此症。宜審其病情而治之，日久不治成痼疾矣。</p>
<p><u>四黃丸</u>　治肺熱龜胸。</p>
<p>黃連　黃芩　大黃（酒煨）　胡連　山梔　銀柴胡（各五錢）　青黛　甘草　香附（醋炒。各三錢）</p>
<p>為末，豬膽汁為丸，菜子大。每服百丸，薑湯下，日三服。</p>
<p><u>香附越鞠丸</u>　治氣鬱龜胸。</p>
<p>香附（四兩。四制，鹽、酒、醋、童便，各浸一宿，炒乾）　烏藥　檳榔　青皮　陳皮（各五錢）　沉香　木香　青黛（各三錢）　蘿蔔子（一兩炒研）　生薑（一兩）　煎湯，神麯打糊為丸，菜子大。每服百丸，白滾湯下。</p>
<p><u>白虎丸</u>　治龜胸三症並效。</p>
<p>寒水石（二兩，煅）　百合　大黃（煨）　杏仁（炒去皮尖）　黃芩（酒炒）　天冬（去心）　葶藶（炒。各一兩）　胡黃連（五錢）</p>
<p>為末，煉蜜為丸。日服三次，桑皮湯下，白滾湯亦可。</p>

<h2>龜背論</h2>
<p>背為陽，腹為陰，五臟之俞諸穴皆在背。乳母不善調護，當風脫衣，其背為客風所中，失於解散，寒氣入骨俞，故背高起如龜形，故曰龜背。或兒小骨嫩，坐令大早，亦令傴僂。須早治之，免成痼疾。</p>
<p><u>疏風飲</u></p>
<p>麻黃（酒炒）　桂枝　杏仁　甘草　大黃　獨活　防風　松花　枳殼</p>
<p>生薑三片，水煎。按四季加減用之。</p>
<p><u>灸法</u>　肺俞穴　在二椎兩傍各半寸，灸五壯。</p>

<h2>鶴膝論</h2>
<p>足膝乃三陰絡脈所行聚之處，多氣少血，為寒氣所中，結而不散。必先起於寒熱，失於發散，寒氣客於膝骨之中，日夜疼痛，朝輕夜重，上下股肉消爍，膝粗浮腫，殆類鶴膝，故以名之。又曰鶴膝風，又名鼓槌風，病同而異名也。切不可用寒涼敷藥，亦不宜擅用刀針，有一於此，多致不救，良可憫也。聞有生者，則廢疾終身矣。敷藥宜暖，內服宜溫，寒氣散，腫自消矣。</p>
<p><u>五積散</u>（方見中寒門）　加附子、木瓜、牛膝甚效。</p>
<p>玉龍膏　沖和膏（二方並見外科。敷寒濕毒並效。）</p>
<p><u>獨活寄生湯</u>　治寒氣傷腎，流注腰膝，足膝浮腫，疼痛難忍，及手足拘攣，不得屈伸，及男婦冷痹並效。</p>
<p>當歸　川芎　獨活　桑寄生　杜仲　牛膝　細辛（少）　人參　茯苓　秦艽　官桂（少）　白芍　熟地　甘草（少）　防風（各等分）</p>
<p>生薑三片，水煎，熱服。</p>
<p><u>加味香蘇散</u>　治腳氣腫痛，鶴膝風，及男婦並效如神。</p>
<p>紫蘇　陳皮　香附　白芷　川芎　金銀花　赤芍藥（各一錢）　木香　甘草（各五錢）　木瓜（一錢二分）</p>
<p>生薑三片，水煎。</p>
<p>人參敗毒散加蟬蛻、蒼木、當歸，便秘，大黃。</p>
<p><u>神授散</u>　治鶴膝，並男婦腳氣神效。</p>
<p>木鱉子（去殼，切二片麩皮炒，銼碎再炒，研細，紙裹，壓去油）　厚官桂（去皮）</p>
<p>各等分，同研為末。量大小，熱酒調服，取汗即愈。</p>
<p><u>八味地黃丸</u>　治鶴膝久不愈，用此內消。</p>
<p>山茱萸　熟地　山藥　澤瀉　茯苓（各一兩）　牡丹皮（五錢）　附子（炮）　官桂（各三錢）</p>
<p>為末，煉蜜為丸，麻子大。每服百丸，鹽湯下。</p>
<p><u>浸酒方</u>　治症同前，及男婦並效。</p>
<p>淮熟地　淮生地　當歸　天冬（去皮心）　麥冬（各二兩）　川牛膝　杜仲（各一兩五錢）　何首烏（二兩）</p>
<p>浸酒二十斤，七日後，每服數杯，頻頻服。服酒完，再加十斤。此酒兼地黃丸服，更妙。</p>
<p>單方　甘遂為末，敷腫處，內服甘草湯即散。</p>
<p><u>星烏散</u>　此方散寒拔毒，止痛舒筋。</p>
<p>天南星（一兩）　半夏　乾薑（五錢）　川烏（三錢）</p>
<p>為末，蔥白濃煎，加蜜調敷，再用蔥酒煎頻頻潤之。</p>
<p>單方　蔥白煨熟，搗爛，加白蜜、薑汁、飛羅面，調敷。</p>
<p>又　蕎麥麵同酒醅作餅，蒸熟罨上，連換數個效。</p>
<p>又方　忍冬草（即金銀花）、桑枝，煎湯頻頻熱洗亦效。</p>
<p><u>畫眉膏</u>　小兒斷乳，俟睡將香油調抹兩眉，即效。如未效再用：</p>
<p>山梔（三個，燒存性）　辰砂　雌黃　輕粉（各少許為末）</p>

<h2>治雜症日用補遺方</h2>
<p><u>加味平胃散</u>　此方治男婦嬰童脾胃不和，胸脅飽脹，三焦氣壅，胃口不開，及風寒偏疝，山嵐瘴氣，不服水土。或作湯劑，或作丸散，治百病，隨症加減。（綸）日用濟人無有不效。（按本草欲求長生可覓山精，即蒼朮是也。）</p>
<p>蒼朮（一兩，炒。味甘性溫，無毒，益脾、除濕，與白朮同補中，滲濕力不及白；發汗、驅濕、開鬱、寬中功過於白。茅山者佳）　陳皮（七錢。味苦，性溫，無毒，寬中理氣。留白，補胃和中；去白，消痰泄氣）　厚朴（六錢，生薑汁炒。味苦甘，性溫，無毒。苦能下氣，去實滿而消腹脹；溫能益氣，除濕滿散結調中）　甘草（四錢。腹脹少用，腫脹禁用。生則分身梢而瀉火，炙健脾胃而和中，解百毒而有效。協諸藥而無爭，以其甘能緩急，故有國老之稱）</p>
<p>生薑三片，棗一枚，水煎；或作粗末，每服五錢。</p>
<p>一、脾胃不和，嘔吐不食，心膈不寬，或胸脅膨脹，加二陳湯、藿香、香附、砂仁。</p>
<p>一、飲食停滯、傷脾泄瀉不止，加四苓散、神麯、山楂、麥芽。夏月，黃連、香需：冬月，乾薑。腹痛，乾薑、木香。</p>
<p>一、痢疾腹痛，必先行過，後用本方加四苓、黃連、檳榔、枳殼、白芍、木香。久痢去四苓、生薑，雨茶引。不效，腹中㽲痛，去四苓，加當歸、川芎、白芍、黃芩（酒炒）、黃連（薑汁炒）、枳殼（麩炒）、檳榔、木香。</p>
<p>一、痢久不止，本方加粟殼、烏梅、黃連、當歸、白芍、木香。後重不除，法行血而調氣。</p>
<p>一、七情鬱結，飲食不進，本方加香附、砂仁、山梔（炒）、半夏、枯梗、枳殼、紫蘇子、蘿蔔子、黃連。</p>
<p>一、外感風寒，本方加紫蘇、乾葛、羌活、防風、川芎、白芷（生薑引）。取汗加麻黃、桂枝、杏仁（生薑蔥引）。</p>
<p>一、疝氣偏墜，惡寒發熱，筋骨拘攣，本方加紫蘇、吳茶萸、川楝肉、半夏（蔥白五莖，酒煎熱服。得汗愈，未效再二服。）</p>
<p>一、時疫流行，本方加紫蘇、羌活、川芎、白芷、豆豉一撮。便秘加大黃、芒硝。大頭症亦用。</p>
<p>一、夏月熱病流行，前方去硝黃，加香薷（豆豉引）。</p>
<p>一、風寒變瘧，本方加小柴胡湯、紫蘇、乾葛。午前屬氣虛，加人參、白朮；午後屬陰虛，當歸、川芎。久不止，本方兼小柴胡加知母、青皮（檳榔、烏梅引）。</p>
<p>一、腫脹、蠱脹，木方去甘草，加四苓、枳殼、檳榔、白芥子、蘇梗、木香。氣喘急加桑皮、葶藶、紫蘇。</p>
<p>一、水腫，照前方加蘿蔔子、階沿草、淡竹葉（姜皮引）。腰以上腫宜發汗，紫蘇、羌活。腰以下腫宜去濕，乾薑、木瓜。</p>
<p>一、風腫發熱，宜取汗，羌活、防風、紫蘇、荊芥（薑蔥引）。</p>
<p>一、嘔吐不食，本方加二陳、白豆蔻、砂仁、枇杷葉。</p>
<p>一、霍亂，照前方去杷葉、砂、蔻、加藿香、木瓜（鹽引）。夏月加乾葛、香薷、黃連；冬月加乾薑、官桂。</p>
<p>一、嘔吐厥逆，加附子（炮）、乾薑（炮各一錢。重則一錢五分）。久瀉久痢，俱照前方並效。</p>
<p>一、下部濕腫、足痿，本方加木瓜、紫蘇、苡仁、金銀花。腳氣或流注，或寒氣凝結，膝中疼痛難忍，日夜悲啼，此方內俱加附子、乾薑，外敷玉龍膏。</p>
<p>一、冬月，寒中陰經，腹痛，本方加理中湯，去參。</p>
<p>一、蚘厥腹痛，本方加理中湯，入烏梅五分。</p>
<p>一、蚘蟲作痛，諸藥不效，本方加苦楝皮（三錢）、檳榔（一錢）、乾薑（一錢）、使君子肉（一錢），水煎（加蜜一兩）。</p>
<p>一、治一切痞塊、積聚，結於心腹，本方（少用）甘草，加三稜、蓬朮（俱醋炒）、五靈脂、玄胡索（俱炒）、青皮（醋炒）、蘿蔔子（炒）、漆渣（炒煙盡），各等分。木香減半、香附醋炒倍用，酒糊為丸，白湯下。</p>
<p>一、平胃散為末，神麯打糊為丸，治小兒一切諸症，隨症用引甚效。</p>
<p>一、平胃散為末，治諸腫毒癰疽，用蔥煎湯，加蜜調敷並效。</p>
<p>此方述其大略，至於臨病，隨機應變於無窮也。</p>
<p><u>皇甫真人一塊氣</u>　治男婦小兒一切積聚，癥瘕氣塊，肚腹膨脹，心膈不寬，及婦人氣滯，流注疼痛，血氣攻心，食積酒積，並歷神效。</p>
<p>三稜（二兩，醋炒）　蓬朮（二兩，醋炒）　青皮（二兩，醋炒）　陳皮　枳殼（二兩，麩炒）　檳榔（二兩）　大黃（二兩，酒煨）　蘿蔔子（二兩，炒）　牽牛（四兩，生熟各半）　木香（六錢）　皂角（六錢）　丁香（六錢）　砂仁（一兩）　丁皮（一兩）　薑黃（一兩二錢）　甘草（一兩）　乾漆（一兩五錢，炒）　麥芽（四兩，巴豆仁四十粒，炒芽黃色去豆）</p>
<p>為末，酒糊為丸，桐子大。大人三十丸，小兒減，用薑湯，酒服亦可。</p>
<p><u>天王補心丹</u>　寧心保神，益血固精，壯力強志，令人不忘，除怔忡，定驚悸，清三焦，化痰涎，祛煩熱，療咽乾，育養心神，小兒胎氣不足者甚效。</p>
<p>淮生地（四兩）　黃連（二兩，酒炒去蘆）　天冬（去心）　麥冬（去心）　五味　人參　當歸　柏子仁　酸棗仁（炒）　茯苓　玄參　丹參　遠志肉　桔梗（各一兩）</p>
<p>各取淨末，煉蜜為丸，桐子大，硃砂五錢為衣。每服三四十丸，竹葉燈心湯下。小兒丸圓眼肉大。一方加石菖蒲、熟地黃、杜仲、百部、茯神、甘草各五錢。無此六味亦可。</p>
<p><u>坎離丸</u>　此藥取天一生水，地二生火之意。藥輕而功效殊，常服而取效速，無辛香燥熱之性，王道之聖藥也。大能生精、益血。升坎水，以沃心陽；降離火，以滋腎水。</p>
<p>黃柏（八兩，人乳、童便、酒、鹽水，各四制）　知母（四兩，同上四制）　當歸（四兩，全用酒洗）　生地（淮慶者，八兩。四兩，砂仁一兩煮；四兩，茯苓二兩煮。俱用砂鍋）　川芎（三兩）　白芍（二兩五錢，酒浸一宿，炒）</p>
<p>六味修制明白，要天晴明日，日曬夜露三日，收日月精華之氣，為末，煉蜜為丸，桐子大。每服六七十丸，白滾湯下。冬月酒服。</p>
<p><u>八味補賢丸</u>　滋腎壯陽，治下部一切不足之疾。</p>
<p>淮熟地（八兩，酒浸一宿，同蓯蓉蒸搗）　肉蓯蓉（五兩，去皮甲，酒浸一宿，蒸）　菟絲子（八兩，用一斤水淘去砂，酒浸三宿，酒蒸，同蓯蓉搗勻，切片，曬乾淨）　山茱萸（肉，三兩五錢，酒洗同蓯蓉蒸）　當歸（淨末，三兩五錢，酒洗）　破故紙（一兩，麩皮炒）　黃柏（一兩，酒炒）　知母（一兩，酒炒）</p>
<p>各取淨末，酒糊為丸，桐子大。每服六七十丸，空心鹽湯下；酒服亦可。</p>
<p><u>橘半枳朮丸</u>　治脾胃不和，消食健脾，化痰順氣。男婦小兒並宜服之。</p>
<p>白朮（四兩，炒）　枳實（二兩，麩炒）　廣皮（三兩，去白）　半夏（二兩，薑製）　香附（二兩，醋炒）　砂仁（一兩）　木香（五錢）</p>
<p>為末，水疊為丸，白滾湯下。</p>
<p><u>和中丸</u>　治症同前。</p>
<p>香附（一斤，酒浸炒）　山楂肉（一斤，飯上蒸）　半夏曲（四兩，炒）　蘿蔔子（二兩，炒）</p>
<p>共為末，水疊為丸。白滾湯、薑湯隨意服。</p>
<p><u>治膈氣反胃方</u></p>
<p>五靈脂（一兩）　大梨（一個，去心，入脂於內，濕紙裹五層，細火煨枯，去梨紙，將脂瓦上焙乾）　沉香（三錢）木香（三錢）　蓬砂（三錢）　蘿蔔子（一合，炒）　桑寄生末（三錢）</p>
<p>五靈脂約六七錢，同眾藥碾細，瓷罐盛之，黃蠟封口。遇此症取末藥三錢，加好牛黃三錢，細碾和勻。每服五分，燒酒調下。酒服亦可，不飲薑湯。下日二服，服完除根。余醫此症，玉芝丸甚效。</p>
<p><u>治蠱脹，一匙金</u></p>
<p>雄黃　葶藶（炒）　澤瀉　川椒目（微炒）　桑皮　大戟　茯苓　芫花（各五錢）　甘遂（麵煨，一兩）</p>
<p>為末，每服五分，火酒下。</p>
<p><u>蜣螂丸</u>　治蠱脹，單腹脹。將碗盛水，令病人吐唾，碗中浮上不散，為單腹；唾沉為蠱脹；有紅絲為血蠱，此法甚驗。</p>
<p>蜣螂（飛來更妙，取一個，糞門開孔，入有殼巴豆三個，將陰陽瓦合鹽泥封固，火煅存性）</p>
<p>將刀平切兩分，左加甘遂末，右加商陸末，各等分，皂角煎膏為丸。左三丸硃砂為衣；右京墨為衣。先服左三丸，先日大戟湯下，次日枳殼湯下，第三日蔥白湯下。右三丸芫花湯下，次日陳皮湯下，第三日桑皮湯下。共服六日後，腹中作痛，皂角末吹少許鼻中，左三丸消左，右三丸消右。服此藥後忌口十日。</p>
<p><u>益元丹</u>　治男婦氣血衰弱，變成痰火。日服二次。</p>
<p>乳汁（二鍾）　梨汁（半鍾）</p>
<p>和勻，湯中頓金花分裂，乘熱服，飲酒少許助之。</p>
<p><u>紅花散</u>　治婦女逆經。服此藥後，服通經丸。</p>
<p>三稜（醋炒）　蓬朮（醋炒。各一兩）　胡椒（三錢）　砂仁（五錢）　紅花（一兩）　麥芽（五錢）　川芎（一兩）　青皮　甘草（各七錢）</p>
<p>共為末，每服二三錢，酒調下。不飲，米湯空心下。</p>
<p><u>通經丸</u></p>
<p>當歸　官桂　青皮　大黃（煨）　乾薑（煨）　桃仁（炒去皮）　乾漆（炒）　花椒（炒去仁。各一兩）　川烏（一枚，炮）</p>
<p>共為末，醋糊為丸，桐子大。每服三十丸，酒下。不飲，白湯下。</p>
<p><u>血瘕方</u>　余見婦女得此症，不早治多致不救，此方甚效。</p>
<p>當歸　白芍（酒炒）　生地　黃芩（酒炒）　青皮　川芎　枳殼　三稜（醋炒）　蓬朮（醋炒）　玄胡索（各一兩）　乳香（三錢）　沒藥（四錢）　烏藥（五錢）　檳榔　雷丸　紅花　小茴香　五靈脂（醋炒。各五錢）　桃仁（一兩，炒去皮，研）</p>
<p>為末，酒糊為丸，桐子大。每服五十丸，酒服。</p>
<p><u>益母丸</u>　治婦女百病。</p>
<p>益母草（一斤，淨末，端午日採，插透風處，過梅天，曬乾方用。如不經梅，合藥作脹，無效）　香附米（八兩，水淘淨，童便、酒、醋、鹽制，炒微黑）　當歸（六兩）　川芎（四兩）　白芍（四兩）　生地（淮慶者，六兩，酒浸，蒸熟）　白朮（五兩，土炒）　黃芩（三兩）　砂仁（二兩）　木香（二兩）</p>
<p>共為末，生地搗，煉蜜為丸，桐子大。每服五六十丸，隨意不拘引服。病甚服烏雞丸（在丹溪附余）。</p>
<p>骨蒸症，加胡黃連、宣連、銀柴胡，各二兩，加半料內。</p>
<p><u>通經湯</u>　治婦女經閉不通，及血積、癥瘕等症。</p>
<p>當歸　川芎　白芷　三稜　蓬朮　白芍　青皮　蘇木　鬱金　香附　紅花（各一錢）　乳香　沒藥（各五分）　馬鞭草（五錢，搗碎）</p>
<p>酒二鍾，煎鍾半，入乳、沒末，和勻服。加琥珀（三分）更妙。</p>
<p><u>治赤白帶方</u>（二道）</p>
<p>五靈脂（五兩，米醋一盅，炒乾為末，每服一錢，白酒空心下。）烏梅肉（二兩）　硫黃末（二兩，搗丸桐子大，每服三十丸，鹽湯下。酒服亦可。）</p>
<p><u>造神麯法</u>　六月六日，諸神所集之辰，故曰神麯。過此日則非也，不及此日。三伏內取甲寅、戊寅、庚寅，名三奇神麯。</p>
<p>白麵（名白虎，一百斤）　蒼耳汁（名勾陳，取汁三升）　赤豆（名朱雀，三升煮熟）　野蓼草（名騰蛇，搗汁三升）　青蒿（名青龍，取汁三升）　杏仁（名玄武，四升，去皮尖）</p>
<p>將杏仁、赤豆搗碎，將三汁拌麵和勻，如干加煮豆湯添入，踏極實為妙，懸透風處。</p>
<p><u>制玄明粉法</u>　於臘月大寒時制，治一切火症。</p>
<p>淨皮硝（一名朴硝，一斗）　豆腐（三塊，水三升）</p>
<p>入硝煎三四滾，濾汁澄清，傾瓦盆內露一宿，天明去水，晚上用水三升，將蘿蔔切片，煮硝三滾去卜，將硝傾入盆內，用稀布將渣濾淨，仍傾入瓦盆內露，明晨去水，將凝結者，用桑皮紙作小袋，懸當風處，自然成粉。隨意取用，點風眼加冰片。</p>
<p><u>煅玄明粉法</u>　治風熱痰壅咽喉，口瘡之疾，及翳膜遮睛，迎風多淚，或殘風作癢。</p>
<p>煉過朴硝（將陽城罐填實，將瓦蓋火，煅溶百沸，候冷，凝結如霜）</p>
<p>為末，或單服，或入煎劑內，或加冰片點眼。</p>
<p><u>製半夏曲法</u>　治一切咳嗽痰火，無有不效。</p>
<p>半夏（一斤為末）　白麵（半斤）　皂角（一兩）　生薑（搗汁）</p>
<p>伏天，薑汁拌勻作餅，懸透風處，過四十日可用。</p>
<p><u>法制陳皮</u>　消痰順氣，生津止渴。</p>
<p>廣陳皮（一斤）　烏梅　甘草（各二兩）</p>
<p>三味用水同煮一炷香，去甘、烏，將皮刮去白，切片，拌薄荷葉二兩，蓬朮末、孩兒茶末各七錢。拌勻，曬乾，收貯。</p>
<p><u>香茶餅</u>　治體氣、口氣、汗氣。</p>
<p>兒茶（一兩）　白豆蔻（五錢）　檀香　木香（各一錢）　雨茶（兩半）　冰片（二分）　麝香（二分）</p>
<p>為末，蜜丸，綠豆大。每用一丸，噙化下。</p>
<p><u>合香方</u></p>
<p>排草（一斤）　甘松（四兩）　廣陵香（半斤）　藿香（四兩）　丁香（一兩）　木香（二兩）　檀香（四兩）　荔枝核（四兩，無核炭亦可）　青黛（少許）　麝香（多少隨意加之）</p>
<p>共磨為末，瓷罐收貯。</p>
<p><u>合印色方</u></p>
<p>麻油（半斤）　牙皂（一個）　花椒（四十粒，不變色）　藤黃（少許，不落色）　明礬（三分，發亮）　黃柏（少許）　黃蠟　白蠟（各一錢半）　胡椒（二十粒）　辰砂（一兩）　二紅（一兩）　水花朱（二兩）　麻子仁（多些更好）　艾（隨意用）</p>
<p>麻油、麻仁熬數沸，次下皂角、二椒，滴水成珠，後下蠟、礬起入辰砂。</p>

<h1>跋</h1>
<p>夫醫之道微矣，醫及嬰童抑又微矣。蓋男婦之疾，感於七情，當其感而成疾也，各能自察其杞荄，各能自周其調折，即求醫而功與醫各操其半，故治之易。在幼兒，月內為襁褓，及期曰嬰，三歲為孩，七齠、八齔、十歲稚子，十六歲為童。嬰孩則不能言，言亦不能悉；在童則能言，言而不能自攝。嬰童之病，獨聽命於醫，而醫獨為眾嬰之母，治未易易也。倉公曰：醫者意也。旨在斯言，意殆為嬰兒司命鑰乎！顧身之所及，意斯及。身所不及則意窮，意所不及則藥窮。惟是使藥不窮於意，意不窮於身，非無窮方術不可也。昔韓子原道，而所喻於薪盡火傳，安見夫火傳之方脈，即不盡之薪耶。余家世業岐黃迄今九葉矣。祖孫父子相授受，不啻三折肱矣。其間大小方脈，多所研究，而尤於幼科為專門。綸潛心覓古，凝志探今，備考先賢之論，附察有驗之方，積以歲月，匯成斯帙。一曰痘痧心法；一曰嬰童類萃；續以外科經驗諸方，總名曰王氏家抄。遇病則按症尋方，審候則隨宜投劑，儻亦火傳之遺旨乎　不揣愚陋，悉授梓人，以公吾黨，為幼兒三指之助。俟高明覆加刪斥正，未必無小補云。</p>
<p><u>天啟二年菊月怡岡王大綸跋</u></p>
