<header data-type="book">
<h1>古本康平傷寒論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="張機">張機</data>著，<data value="大塚敬節">大塚敬節</data>校正</dd></div>
<div><dt>朝代</dt><dd>東漢</dd></div>
<div><dt>年份</dt><dd><data value="0025/0220">公元25年至公元220年</data></dd></div>
<div><dt>底本</dt><dd>*《古本康平傷寒論重排本》，一〇四年四月二十六日版，葉橘泉重校，王孝義重排，中醫書局出版發行。</dd></div>
<div><dt>品質</dt><dd>80%</dd></div>
</dl>
</header>

<div class="縮進1字" data-rev="古版-元素">
<h2>傷寒卒病論</h2>
</div>
<p><small class="旁注">集論曰</small>余每覽越人入虢之診。望齊侯之色。未嘗不慨然嘆其才秀也。怪當今居世之士。曾不留神醫藥。精究方術。上以療君親之病。下以救貧賤之厄。中以保身長全。以養其生。但競逐榮勢。企踵權豪。孜孜汲汲。惟名利是務。崇飾其末。忽棄其本。華其外而悴其內。皮之不存。毛將安附焉。哀乎。趨世之士。馳競浮華。不固根本。卒然遭邪風之氣。嬰非常之疾。患及禍至。而方震慄。降志屈節。欽望巫祝。告窮歸天。束手受敗。齎百年之壽命。持至貴之重器。委付□醫。而恣其所措。咄嗟嗚呼。厥身已斃。神明消滅。變為異物。幽潛重泉。徒為啼泣。痛夫。舉世昏迷。莫能覺悟。不惜其命。若是輕生。彼何榮勢之云哉。而進不能愛人知人。退不能愛身知已。遇災值禍。身居厄地。矇矇昧昧。蠢若游魂。忘軀徇物。危若冰谷。至於是也。余宗族素多。向餘二百。建安紀年以來。猶未十稔。其死亡者。三分有二。傷寒十居其七。感往昔之淪喪。傷橫夭之莫救。乃勤求古訓。博采眾方<b class="圓圈">注</b><small class="雙行夾注">撰用《素問》。《九卷》。《八十一難》。《陰陽大論》。《胎臚藥錄》。并平脉辨證。</small><b class="陰文">經</b>為《傷寒雜病論》。雖未能盡愈諸病。庶可以見病知源。若能尋余所集。思過半矣。</p>
<div class="縮進2字">
<p>夫天布五行。以運萬類。人稟五常。以有五臟。經絡府俞。陰陽會通。玄冥幽微。變化難極。自非才高識妙。豈能探其理致哉。上古有神農。黃帝。歧伯。伯高。雷公。少俞。少師。仲文。中世有長桑。扁鵲。漢有公乘陽慶及倉公。下此以往。未之聞也。觀今之醫。不念思求經旨。以演其所知。各承家技。終始順舊。省疾問病。務在口給。相對斯須。便處湯藥。按寸不及尺。握手不及足。人迎趺陽。三部不參。動數發息。不滿五十。短期未知決診。九候曾無彷彿。明堂闕庭。盡不見察。所謂窺管而已。夫能視死別生。實為難矣。孔子云。生而知之者上。學則亞之。多聞博識。知之次也。余素尚方術。請事斯語。</p>
</div>
<div class="換頁"></div>

<div class="縮進1字">
<p>漢長沙守南陽張機著</p>
<p>晉太醫令王叔和撰次</p>
</div>
<div class="縮進2字" data-rev="古版-元素">
<h2>傷寒例</h2>
</div>
<div class="縮進1字" data-rev="古版-元素">
<p><small class="旁注">陰陽大論云</small>凡春氣溫和。夏氣暑熱。秋氣漓冷。冬□冷冽。此則四時正氣之序也。<b class="圓圈">注</b><small class="雙行夾注">冬時嚴寒。萬類深藏。君子固密。則不傷寒。觸冒之者。乃名傷寒耳。</small><b class="圓角陰文">例</b>其於傷四時之氣。皆能為病<small class="旁注">以傷寒為毒者。以其最成殺厲之氣也。</small>。中□而卽病者。名曰傷寒。</p>
<p>中寒。不卽病者。寒毒藏於肌膚。至春變為溫病。至夏變為暑病。暑病者。熱極重於溫也。<b class="圓圈">注</b><small class="雙行夾注">是以辛苦之人。春夏多溫熱病。皆由冬時觸寒所致。非時行之氣也。</small></p>
<p>凡時行者。春時應暖。而復大寒。夏時應大熱。而反大涼。秋時應涼。而反大熱。冬時應寒。而反大溫<small class="旁注">此非其時。而有其氣</small><b class="圓圈">注</b><small class="雙行夾注">是以一歲之中。長幼之病。多相似者也。</small>□此則時行之氣也。</p>
</div>
<div class="縮進2字">
<p>夫欲候知四時正氣為病。及時行疫氣之法。皆當按斗曆占之。九月霜降節後。宜漸寒。向冬大寒。至正月雨水節後。宜解也。所以謂之雨水者。以冰解而為雨水故也。至驚蟄二月節後。氣漸和暖。向夏大熱。至秋便涼。從霜降以後。至春分以前寒冽。凡有觸冒霜露。體中寒卽病者。謂之傷寒也。九月十月。寒氣尚微。為病則輕。十一月十二月。寒冽已嚴。為病則重。正月二月。寒漸將解。為病亦輕。此以冬時不調。適有傷寒之人。卽為病也。冬有非節之暖者。名曰冬溫。冬溫之毒。與傷寒大異。冬溫復有先後。更相重沓。亦有輕重。為治不同。證如後章。從立春節後。其中無暴大寒。又不冰雪。而有人壯熱為病者。此屬春時陽氣。發於冬時伏寒。變為溫病。從春分以後。至秋分節前。天有暴寒者。皆為時行寒疫也。</p>
<p>三月四月。或有暴寒。其時陽氣尚弱。為寒所折。病熱猶輕。</p>
<p>五月六月。陽氣已盛。為寒所折。病熱則重。七月八月。陽氣已衰。為寒所折。病熱亦輕。</p>
<p>病與溫及暑病相似。但治有殊耳。十五日得一氣。於四時之中。一時有六氣。四六名為二十四氣也。然氣候亦有應至而不至。或有未應至而至者。或有至而太過者。皆成病氣也。</p>
<p>但天地動靜。陰陽鼓擊者。各正一氣耳。</p>
<p>是以彼春之暖。為夏之暑。彼之秋之忿。為冬之怒。是故冬至後。一陽爻升。一陰爻降也。夏至之後。一陽氣下。一陰氣上也。斯則冬夏二至。陰陽合也。春秋二分。陰陽離也。陰陽交易。人變病焉。此君子春夏養陽。秋冬養陰。順天地之剛柔也。小人觸冒。必嬰暴疹。須知毒烈之氣。留在何經。而發何病。詳而取之。是以春傷於風。夏必飧泄。夏傷於暑。秋必病□。秋傷於濕。冬必欬嗽。冬傷於寒。春必病溫。此必然之道。可不審明之。</p>
</div>
<p>傷寒之病。逐日淺深。以施方治。今世人傷寒。或始不早治。或治不對病。或日數久淹。困乃告醫。醫人又不依次第而治之。則不中病。皆宜臨時消息製方。無不效也。今搜採仲景舊論。錄其證候。診脉。聲色。對病□方。有神驗者。擬防世急也。</p>
<p>凡土地溫涼。高下不同。物性剛柔。餐居亦異。是黃帝興四方之問。岐伯舉四治之能。以訓後賢。開其未悟者。臨病之工。宜須兩審也。</p>
<p>凡傷於寒。則為病熱。熱雖甚。不死。若兩感寒。而病者必死。若更感異氣。變為他病者。當依後壞病證。而治之。</p>
<div class="縮進2字">
<p>尺寸俱浮者。大陽受病也。當一二日發。以其脉上連風府。故頭項痛。腰脊強。</p>
<p>尺寸俱長者。陽明受病也。當二三日發。以其脉夾鼻。絡於目。故身熱目疼。鼻乾不得臥。</p>
<p>尺寸俱弦者。少陽受病也。當三四日發。以其脉循脇。絡於耳。故胸脇痛而耳聾。</p>
<p>此三經皆受病。未入於府者。可汗而已。</p>
<p>尺寸俱沈細者。大陰受病也。當四五日發。以其脉布胃中。絡於嗌。故腹滿而嗌乾。</p>
<p>尺寸俱沈者。少陰受病也。當五六日發。以其脉貫腎。絡於肺。繫舌本。故口燥舌乾而渴。</p>
<p>尺寸俱微緩者。厥陰受病也。當六七日發。以其脉循陰器。絡於肝。故煩滿而囊縮。</p>
<p>此三經皆受病。已入於府。可下而已。</p>
<p>若兩感於寒者。一日大陽受之。卽與少陰俱病。則頭痛口乾。煩滿而渴。二日陽明受之。卽與大陰俱病。則腹滿身熱不欲食。譫語。三日少陽受之。卽與厥陰俱病。則耳聾。囊縮而厥。水漿不入。不知人者。六日死。若三陰三陽。五藏六府皆受病。則榮衛不行。府藏不通。則死矣。其兩感於寒。更不傳經。不加異氣者。至七日大陽病衰。頭痛少愈也。八日陽明病衰。身熱少歇也。九日少陽病衰。耳聾微聞也。十日太陰病衰。腹減如故。則思飲食。十一日少陰病衰。渴止舌乾。已而嚏也。十二日厥陰病衰。囊縱。少腹微下。大氣皆去。病人精神爽慧也。若過十三日以上不間。寸尺陷者大危。若脉陰陽俱盛。重感於寒者。變為溫瘧。陽脉浮滑。陰脉濡弱者。更遇於風。變為風溫。陽脉洪數。陰脉實大者。更遇溫熱。變為溫毒。溫毒為病最重也。陽脉濡弱。陰脉弦堅者。更遇溫氣。變為溫疫。以此冬傷於寒。發為溫病。脉之變證。方治如說。</p>
</div>
<p>凡人有疾。不時卽治。隱忍冀差。以成痼疾。小兒女子。益以滋甚。時氣不和。便當早言。尋其邪由。及在腠理。以時治之。罕有不愈者。患人忍之。數日乃說。邪氣入藏。則難可制。此為家有患。備慮之要。</p>
<p>凡作湯藥。不可避晨夜。覺病須臾。卽宜便治。不等早晚。則易愈矣。若或差遲。病卽傳變。雖欲除治。必難為力。服藥不如方法。縱意違師。不須治之。</p>
<p>凡傷寒之病。多從風寒得之。始表中風寒。入裏則不消。然未有溫覆而當不消散者。擬欲攻之<small class="旁注">不在證治</small>。猶當先解表。乃可下之。若表已解。而內不消。雖非大滿。猶生寒熱。□□□□□。則病不除。若表已解。而內不消。大滿<small class="旁注">大實堅</small>有燥屎。自可除下之。雖四五日。不能為禍也。若不宜下。而便攻之。內虛熱入。協熱遂利。煩燥諸變。不可勝數。輕者困篤。重者必死矣。</p>
<p>凡兩感病俱作。治有先後。發表攻裏。本自不同。而執迷妄意者。乃云神丹甘遂。合而飲之。且解其表。又除其裏。言巧似是。其理實違。夫智者之舉錯也。常審以慎。愚者之動作也。必果而速。安危之變。豈可詭哉。世上之士。但務彼翕習之榮。而莫見此傾危之敗。惟明者。居然能護其本。近取諸身。夫何遠之有焉。</p>
<div class="縮進2字">
<p>夫陽盛陰虛。汗之則死。下之則愈。陽虛陰盛。汗之則愈。下之則死矣。夫如是。則神丹安可以誤發。甘遂何可以妄攻。虛盛之治。相背千里。吉凶之機。應若影響。豈容易哉。況桂枝下咽。陽盛卽斃。承氣入胃。陰盛以凶。死生之要。在乎須臾。視身之盡。不暇計日。此陰陽虛實之交錯。其候至微。發汗吐下之相反。其禍至速。而醫術淺狹。懵然不知病源。為治乃誤。使病者殞沒。自謂其分。至今冤魂塞于冥路。死屍盈於曠野。仁者鑒此。豈不痛歟。</p>
</div>
<p>凡發汗。溫服湯藥。其方雖言日三服。若病劇不解。當促其間。若與病相阻<small class="旁注">可半日中盡三服。</small>。卽便有所覺。重病者。一日一夜。當晬時觀之。如服一劑。病證猶在。故當復作本湯服之。至有不肯汗出。服三劑乃解。<b class="圓圈">注</b><small class="雙行夾注">若汗不出者死病也</small></p>
<p>凡得時氣病。至五六日。而渴欲飲水。飲不能多。不當與也。何者。以腹中熱尚少。不能消之<b class="圓圈">注</b><small class="雙行夾注">便更與人作病也</small><b class="圓角陰文">例</b>至七八日。大渴。欲飲水者。猶當依證與之。與之常令不足。勿極意也。若飲而腹滿<small class="旁注">言能飲一斗與五升。</small>。小便不利。若喘若噦。不可與之也。若飲水。忽然大汗出。是為自愈也。</p>
<p>凡得病。反能飲水。此為欲愈之病。其不曉病者。但聞病飲水自愈。小渴者。乃強與飲之。因成其禍。不可復數也。</p>
<p>凡得病厥。脉動數。服湯藥更遲。脉浮大減小。初躁後靜。此皆愈證也。</p>
<p>凡治溫病。可刺五十九穴。</p>
<div class="縮進2字">
<p>又身之穴。三百六十有五。其三十穴。灸之有害。七十九穴。刺之為災。並中髓也。</p>
<p>又脉四損。三日死。平人四息。病人脉一至。名曰四損。脉五損。一日死。平人五息。病人脉一至。名曰五損。脉六損。一時死。平人六息。病人脉一至。名曰六損。脉盛身寒。得之傷寒。脉虛身熱。得之傷暑。脉陰陽俱盛。大汗出。不解者。死。脉陰陽俱虛。熱不止者。死。脉至乍疏乍數者。死。脉至如轉索者。其日死。譫言妄語。身微熱。脉浮大。手足溫者。生。逆冷。脉沈細者。不過一日。死矣。此以前是傷寒熱病證候也。</p>
</div>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨太陽病<small class="旁注" data-sec="">傷寒所致</small>　　痙濕暍<b class="圓圈" data-sec="">注</b><small class="雙行夾注" data-sec="">此三種。宜應別論。以為與傷寒相似。故此見之</small></h2>
</div>
<div class="縮進1字">
<p>大陽病。發熱無汗。反惡寒者。名曰剛痓。</p>
<p>大陽病。發熱汗出。而不惡寒。名曰柔痓。</p>
</div>
<p>大陽病。發熱。脉沈而細者。名曰痓。</p>
<p>大陽病。發汗太多。致痓。</p>
<p>病身熱足寒。頸項強急。惡寒。時頭熱面赤。目脉赤。獨頭面搖。卒口噤。背反張者。痓病也。</p>
<p>大陽病。關節疼痛而煩。脉沈而細者。名中濕。</p>
<div class="縮進1字">
<p>濕痺之候。其人小便不利。大便反快。但當利其小便。</p>
</div>
<p>濕家之為病。一身盡痛。發熱。身色如熏黃。</p>
<p>濕家。其人頭汗出。背強。欲得被覆向火。若下之早則噦。胸滿。小便不利。舌上如胎<small class="旁注">丹田有熱。胃中有寒</small>。渴欲得水而不能飲。口燥渴也。</p>
<div class="縮進2字">
<p>濕家下之。額上汗出。微喘。小便利者死。若下利不止者亦死。</p>
<p>問曰。風濕相摶。一身盡疼痛<small class="旁注">值天陰雨不止。</small>。法當汗出而解。醫曰。此可汗。汗之病不愈者。何也。答曰。發其汗。汗大出者。但風氣去。濕氣在。是故不愈也。</p>
</div>
<div class="縮進1字">
<p>若治風濕者。發其汗。微微□似欲汗出者。風濕俱去也。</p>
</div>
<p>濕家病身上疼痛。發熱面黃而喘。頭痛鼻塞而煩。其脉大。自能飲食。腹中和無病<small class="旁注">病在頭。中寒濕。故鼻塞</small>。內藥鼻中則愈。</p>
<p>病者一身盡痛。發熱。日晡所劇者。此名風濕<b class="圓圈">注</b><small class="雙行夾注">此病傷於汗出當風。或久傷取冷所致也。</small></p>
<p>大陽中熱者。暍是也。其人汗出惡寒。身熱而渴也。</p>
<p>大陽中暍者。身熱疼重。而脉微弱。<b class="圓圈">注</b><small class="雙行夾注">此亦夏月傷冷水。水行皮中所致也。</small></p>
<p>大陽中暍者。發熱惡寒。身重而寒痛。其脉弦細。小便已。洒洒然毛聳。手足逆冷。小有勞。身卽熱。口開前板齒燥。</p>
<div class="縮進1字">
<p>若發汗。則惡寒甚。加溫針。則發熱甚。下之則淋甚。</p>
</div>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨大陽病</h2>
</div>
<p>大陽之為病。脉浮。頭項強痛而惡寒。</p>
<p>大陽病。發熱。汗出。惡風。脉緩者。名為中風。</p>
<p>大陽病。或已發熱。或未發熱。必惡寒。體痛。嘔逆。脉陰陽俱緊者。名曰傷寒。</p>
<div class="縮進2字">
<p>傷寒一日。大陽受之。脉若靜者。為不傳。頗欲吐。若躁煩。脉數急者。此為傳也。</p>
<p>傷寒二三日。陽明。少陽證不見者。為不傳也。</p>
</div>
<p>大陽病。發熱而渴。不惡寒者。為溫病。</p>
<div class="縮進1字">
<p>若發汗已。身灼熱者。名風溫。</p>
</div>
<p>風溫為病。脉陰陽俱浮。自汗出。身重。多眠睡。鼻息必鼾。語言難出。</p>
<div class="縮進1字">
<p>若被下者。小便不利。直視失溲。若被火者。微發黃色。劇則如驚癇。時瘈瘲。若火熏之。一逆尚引日。再逆促命期。</p>
</div>
<div class="縮進2字">
<p>病有發熱惡寒者。發于陽也。無熱惡寒者。發于陰也。發于陽者七日愈。發于陰者六日愈。以陽數七。陰數六故也。</p>
<p>大陽病。頭痛至七日以上自愈者。以行其經盡故也。若欲作再經者。針足陽明。使經不傳則愈。</p>
<p>大陽病欲解時。從巳至未上。</p>
<p>風家。表解而不了了者。十二日愈。</p>
</div>
<div class="縮進1字">
<p>病人身大熱。反欲得衣者。熱在皮膚。寒在骨髓也。身大寒。反不欲近衣者。寒在皮膚。熱在骨髓也。</p>
</div>
<p>大陽中風。陽浮而陰弱<small class="旁注">陽浮者熱自發。陰弱者汗自出</small>。嗇嗇惡寒。淅淅惡風。翕翕發熱。鼻鳴乾嘔者。桂枝湯主之。</p>
<div class="縮進1字">
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右五味。㕮咀三味。以水七升。微火煮取三升。去滓。適寒溫。服一升。服已須臾。歠熱稀粥一升餘。以助藥力。溫覆令一時許。遍身漐漐微似有汗者益佳。不可令如水流離。病必不除。若一服汗出病差。停後服。不必盡劑。若不汗。更服依前法。又不汗。後服小促其間。半日許令三服盡。若病重者。一日一夜服。周時觀之。</p>
<p>服一劑盡。病證猶在者。更作服。若汗不出。乃服至二三劑。禁生冷粘滑。肉麵五辛。酒酪臭惡等物。</p>
</div>
<p>大陽病。頭痛。發熱。汗出。惡風者。桂枝湯主之。</p>
<p>大陽病。項背強几几。反汗出惡風者。桂枝加葛根湯主之。</p>
<div class="縮進1字">
<p>葛根<small class="雙行夾注">四兩</small>　芍藥<small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　桂枝<small class="雙行夾注">二兩</small></p>
<p>右六味。以水一斗。先煮葛根減二升。去白沫。納諸藥。煮取三升。去滓。溫服一升。覆取微似汗。不須啜粥。余如桂枝法將息及禁忌。</p>
</div>
<p>大陽病。下之後。其氣上衝者<small class="旁注">方用前法</small>。可與桂枝湯<b class="圓圈">注</b><small class="雙行夾注">若不上衝者。不得與之。</small></p>
<p>大陽病三日。已發汗。若吐。若下。若溫針。仍不解者。此為壞病<b class="圓圈">注</b><small class="雙行夾注">桂枝不中與之也。觀其脉證。知犯何逆。隨證治之。</small></p>
<div class="縮進1字">
<p>桂枝本為解肌。若其人脉浮緊。發熱汗不出者。不可與之也。常須識此勿令誤也。</p>
</div>
<div class="縮進2字">
<p>若酒客病。不可與桂枝湯。得之則嘔。以酒客不喜甘故也。</p>
</div>
<div class="縮進1字">
<p>喘家。作桂枝湯。加厚朴杏子佳。又服桂枝湯吐者。其後必吐膿血也。</p>
</div>
<p>大陽病。發汗遂漏不止。其人惡風。小便難。四肢微急。難以屈伸者。桂枝加附子湯主之。</p>
<div class="縮進1字">
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">三兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　附子<small class="旁注">炮去皮破八片</small><small class="雙行夾注">一枚</small></p>
<p>右六味。以水七升。煮取三升。去滓。溫服一升。<b class="圓圈">注</b><small class="雙行夾注">本云桂枝湯。今加附子。</small><b class="圓角陰文">例</b>將息如前法。</p>
</div>
<p>大陽病下之後。脉促胸滿者。桂枝去芍藥湯主之。若微惡寒者。桂枝去芍藥加附子湯主之。</p>
<div class="縮進1字">
<p>桂枝去芍藥湯方</p>
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右四味。以水七升。煮取三升。去滓。溫服一升。<b class="圓圈">注</b><small class="雙行夾注">本云。桂枝湯。今去芍藥。</small><b class="圓角陰文">例</b>將息如前法。</p>
<p>桂枝去芍藥加附子湯方</p>
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　附子<small class="旁注">炮去皮破八片</small><small class="雙行夾注">一枚</small></p>
<p>右五味。以水七升。煮取三升。去滓。溫服一升。<b class="圓圈">注</b><small class="雙行夾注">本云桂枝湯。今去芍藥。加附子。</small><b class="圓角陰文">例</b>將息如前法。</p>
</div>
<p>大陽病。得之八九日。如瘧狀。發熱惡寒。熱多寒少。其人不嘔。清便欲自可。一日二三度發<b class="圓圈">注</b><small class="雙行夾注">脉微緩者。為欲愈也。脉微而惡寒者。此陰陽俱虛。不可更發汗。更下。更吐也。面色反有熱色者。未欲解也。</small><b class="陰文">經</b>以其不能得小汗出。身必癢。宜桂枝麻黃各半湯。</p>
<div class="縮進1字">
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">一兩十六銖</small>　芍藥　生姜<small class="旁注">切</small>　甘草<small class="旁注">炙</small>。麻黃<small class="旁注">去節</small><small class="雙行夾注">各一兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">四枚</small>　杏仁<small class="旁注">湯積去皮尖及兩仁者</small><small class="雙行夾注">二十四枚</small></p>
<p>右七味。以水五升。先煮麻黃一二沸。去上沫。內諸藥。煮取一升八合。去滓。溫服六合<b class="圓圈">注</b><small class="雙行夾注">本云桂枝湯三合。麻黃湯三合。併為六合。頓服。</small><b class="圓角陰文">例</b>將息如上法。</p>
</div>
<p>大陽病。初服桂枝湯。反煩不解者。先刺風池風府。卻與桂枝湯則愈。</p>
<p>服桂枝湯。大汗出。脉洪大者。與桂枝湯。如前法。若形似瘧。一日再發者。汗出必解。宜桂枝二麻黃一湯。</p>
<div class="縮進1字">
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">一兩十七銖</small>　芍藥<small class="雙行夾注">一兩六銖</small>　麻黃<small class="旁注">去節</small><small class="雙行夾注">十六銖</small>　生姜<small class="旁注">切</small><small class="雙行夾注">一兩六銖</small>　杏仁<small class="旁注">去皮尖</small><small class="雙行夾注">十六個</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">一兩二銖</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">五枚</small></p>
<p>右七味。以水五升。先煮麻黃一二沸。去上沫。內諸藥。煮取二升。去滓。溫服一升。日再服<b class="圓圈">注</b><small class="雙行夾注">本云桂枝湯二分。麻黃湯一分。合為二升。分再服。今合為方。</small><b class="圓角陰文">例</b>。將息如上法。</p>
</div>
<p>服桂枝湯。大汗出後。大煩渴不解。脉洪大者。白虎加人參湯主之。</p>
<p>大陽病。發熱惡寒。熱多寒少。脉微弱者此無陽也。不可大發汗。宜桂枝二越婢一湯。服桂枝湯。或下之。仍頭項強痛。翕翕發熱。無汗心下滿微痛。小便不利者。桂枝去桂加茯苓白朮湯主之。</p>
<div class="縮進1字">
<p>桂枝二越婢一湯</p>
<p>桂枝<small class="雙行夾注">去皮</small>　芍藥　麻黃　甘草<small class="旁注">炙</small><small class="雙行夾注">各十八銖</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">四枚</small>　生姜<small class="旁注">切</small><small class="雙行夾注">一兩二銖</small>　石膏<small class="旁注">擘綿裹</small><small class="雙行夾注">二十四銖</small></p>
<p>右七味。以水五升。煮麻黃一二沸。去上沫。內諸藥。煮取二升。去滓。溫服一升<b class="圓圈">注</b><small class="雙行夾注">本云。當裁為越婢湯桂枝湯。合之飲一升。今合為一方。桂枝湯二分。越婢湯一分。</small></p>
<p>桂枝去桂加茯苓白朮湯方</p>
<p>芍藥<small class="雙行夾注">三兩</small>甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　白朮　茯苓<small class="雙行夾注">各三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右六味。以水八升。煮取三升。去滓。溫服一升。小便利則愈。<b class="圓圈">注</b><small class="雙行夾注">本云桂枝湯。今去桂枝加茯白朮。</small></p>
</div>
<p>傷寒脉浮。自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝<b class="圓圈">注</b><small class="雙行夾注">欲攻其表此誤也</small><b class="陰文">經</b>得之便厥。咽中乾。躁。吐逆者。作甘草乾姜湯與之<small class="旁注">以復其陽</small>。若厥愈。足溫者。更作芍藥甘草湯與之。若胃氣不和。語者。少與調胃承氣湯。若重發汗。復加燒針。得之者。囘逆湯主之。</p>
<div class="縮進1字">
<p>甘草乾姜湯方</p>
<p>甘草<small class="旁注">炙</small><small class="雙行夾注">四兩</small>　乾姜<small class="雙行夾注">二兩</small></p>
<p>右二味。以水三升。煮一升五合。去滓。分溫再服。</p>
</div>
<div class="縮進2字">
<p>問曰。證象陽旦。按法治之。而增劇。厥逆。咽中乾燥。兩脛拘急。而讝語。師曰。言夜半手足當溫。兩腳當伸。後如師言。何以知此。答曰。寸口脉浮而大。浮為風。大為虛。風則生微熱。虛則兩脛攣。病形象桂枝。因加附子。參其間。增桂令汗出。附子溫經。亡陽故也。厥逆。咽中乾。煩躁。陽明內結。讝語煩亂。更飲甘草乾姜湯。夜半陽氣還。兩足當熱。脛尚微拘急。重與芍藥甘草湯。爾乃脛伸。以承氣湯微溏。則止其讝語。故知病可愈。</p>
</div>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨大陽病</h2>
</div>
<p>大陽病。項背強几几。無汗惡風。葛根湯主之。</p>
<div class="縮進1字">
<p>葛根<small class="雙行夾注">四兩</small>　麻黃<small class="旁注">去節</small><small class="雙行夾注">三兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　芍藥<small class="雙行夾注">二兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右七味。以水一斗。先煮麻黃葛根。減二升。去白沫。內諸藥。煮取三升。去滓。溫服一升。覆取似汗。餘如桂枝法。將息及禁忌<b class="圓圈">注</b><small class="雙行夾注">諸湯藥皆倣之。</small></p>
</div>
<p>大陽與陽明合病者。必自下利。葛根湯主之。</p>
<p>大陽與陽明合病。不下利。但嘔者。葛根加半夏湯主之。</p>
<div class="縮進1字">
<p>葛根<small class="旁注">四兩</small>　麻黃<small class="旁注">去節</small><small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　芍藥<small class="雙行夾注">二兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">二兩</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右八味。以水一斗。先煮葛根麻黃。減二升。去白沫。內諸藥。煮取三升。去滓溫服一升。覆取微似汗。</p>
</div>
<p>大陽病。桂枝證。醫反下之。利遂不止<small class="旁注">脉促者。表不解也</small>。喘而汗出者。葛根黃芩黃連湯主之。</p>
<div class="縮進1字">
<p>葛根<small class="雙行夾注">半斤</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　黃芩<small class="雙行夾注">三兩</small>　黃連<small class="雙行夾注">三兩</small></p>
<p>右四味。以水八升。先煮葛根。減二升。內諸藥。煮取二升。去滓。分溫再服。</p>
</div>
<p>大陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風。無汗而喘者。麻黃湯主之。</p>
<div class="縮進1字">
<p>麻黃<small class="旁注">去節</small><small class="雙行夾注">三兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">一兩</small>　杏仁<small class="旁注">去皮尖</small><small class="雙行夾注">七十箇</small></p>
<p>右四味。以水九升。先煮麻黃減二升。去上沫。內諸藥。煮取二升半。去滓。溫服八合。覆取微似汗。不須啜粥。餘如桂枝法將息。</p>
</div>
<div class="縮進2字">
<p>大陽與陽明合病。喘而胸滿者。不可下。宜麻黃湯。大陽病。十日已去。脉浮細而嗜臥者。外已解也。設胸滿脇痛者。與小柴胡湯。脉但浮者。與麻黃湯。</p>
</div>
<p>大陽中風。脉浮緊。發熱惡寒。身疼痛。不汗出而煩燥者。大青龍湯主之。若脉微弱。汗出惡風者。不可服之。服之則厥逆。筋惕肉瞤。</p>
<div class="縮進1字">
<p>大青龍湯方</p>
<p>麻黃<small class="旁注">去節</small><small class="雙行夾注">六兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　杏仁<small class="旁注">去皮尖</small><small class="雙行夾注">四十枚</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十枚</small>　石膏<small class="旁注">碎</small><small class="雙行夾注">雞子大</small></p>
<p>右七味。以水九升。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。取微似汗<b class="圓圈">注</b><small class="雙行夾注">汗出多者。溫粉撲之。</small>□一服汗者。停後服<b class="圓圈">注</b><small class="雙行夾注">若復服汗多。亡陽遂虛。惡風煩躁不得眠也。</small></p>
</div>
<p>傷寒脉浮緩。身不疼。但重。乍有輕時無少陰症者。大青龍湯主之。傷寒表不解。心下有水氣。乾嘔發熱而欬。或渴。或利。或噎。小便不利。少腹滿。或喘者。小青龍湯主之。</p>
<div class="縮進1字">
<p>小青龍湯方</p>
<p>麻黃<small class="旁注">去節</small>　芍藥　細辛　乾姜　甘草<small class="旁注">炙</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">各三兩</small>　五味子<small class="雙行夾注">半升</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small></p>
<p>右八味。以水一斗。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。</p>
<p>若渴。去半夏。加栝樓根三兩。若微利。去麻黃。加蕘花如一雞子<small class="旁注">熬令赤色</small>。若嘻者。去麻黃。加附子<small class="旁注">炮</small>一枚。若小便不利。少腹滿者。去麻黃。加茯苓四兩。若喘者去麻黃。加杏仁半升<b class="圓圈">注</b><small class="雙行夾注">且蕘花不治利。麻黃主喘。今此語反之。疑非仲景意。</small></p>
</div>
<p>傷寒心下有水氣。欬而微喘<small class="旁注">服湯已渴者。此寒去欲解也。</small>。發熱不渴。小青龍湯主之。</p>
<p>大陽病。外證未解。脉浮弱者。當以汗解。宜桂枝湯。</p>
<p>大陽病。下之微喘者。表未解故也。桂枝加厚朴杏子湯主之。</p>
<div class="縮進1字">
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　厚朴<small class="旁注">炙去皮</small><small class="雙行夾注">二兩</small>　杏仁<small class="旁注">去皮尖</small><small class="雙行夾注">五十枚</small></p>
<p>右七味。以水七升。微火煮取三升。去滓。溫服一升。覆取微似汗。</p>
</div>
<p>大陽病。外證未解。不可下<small class="旁注">下之為逆</small>。欲解外者。宜桂枝湯。</p>
<div class="縮進2字">
<p>大陽病。先發汗不解。而復下之。脉浮者不愈。浮為在外。而反下之。故令不愈。今脉浮故在外。當須解外則愈。宜桂枝湯。</p>
</div>
<p>大陽病。脉浮緊無汗。發熱身疼痛。八九日不解。表證仍在。<b class="圓圈">注</b><small class="雙行夾注">此當發其汗。服藥已微除也。</small><b class="陰文">經</b>其人發煩。目瞑。劇者必衄<small class="旁注">衄乃愈</small>。所以然者。陽氣重故也。麻黃湯主之。</p>
<div class="縮進1字">
<p>大陽病。脉浮緊。發熱。身無汗。自衄者愈。</p>
</div>
<p>二陽併病。大陽初得病時。發其汗。汗先出不徹。因轉屬陽明。續自微汗出。不惡寒<b class="圓圈">注</b><small class="雙行夾注">大陽病證不罷者。不可下。之為逆</small><b class="陰文">經</b>如此可小發汗。設面色緣緣正赤者。陽氣怫鬱<small class="旁注">在表。當解之。熏之。</small><b class="圓圈">注</b><small class="雙行夾注">若發汗不徹。不足。陽氣拂鬱</small><b class="陰文">經</b>不得越註當汗不汗。其人躁煩。○不知痛處。乍在腹中乍○四肢按之不可得經其人短氣。但坐<small class="旁注">以汗出不徹故也</small>。更發汗則愈。<b class="圓圈">注</b><small class="雙行夾注">何以知汗出不徹。以脉濇故知也。</small><b class="陰文">經</b>若<small class="雙行夾注">厥文</small></p>
<div class="縮進1字">
<p>脉浮數者。法當汗出而解。若下之。身重心悸者。不可發汗。當自汗出乃解。所以然者。尺中脉微。此裏虛。須表裏實。津液自和。便自汗出愈。</p>
<p>脉浮緊者。法當身疼痛。宜以汗解之。假令尺中遲者。不可發汗。何以知然。以榮氣不足。血少故也。</p>
</div>
<div class="縮進2字">
<p>脉浮者。病在表。可發汗。宜麻黃湯。脉浮而數。可發汗。宜麻黃湯。</p>
</div>
<div class="縮進1字">
<p>病常自汗出者。此為榮氣和。榮氣和者。外不諧。以衛氣不共榮氣諧和故爾。以榮行脉中。衛行脉外。復發其汗。榮衛和則愈。宜桂枝湯。</p>
</div>
<div class="縮進2字">
<p>病人藏無他病。時發熱。自汗出而不愈者。此衛氣不和也。先其時發汗則愈。宜桂枝湯。</p>
</div>
<p>傷寒脉浮緊。不發汗。因到衄者。麻黃湯主之。</p>
<div class="縮進2字">
<p>傷寒不大便六七日。頭痛在熱者。與承氣湯。其小便清者。知不在裏。仍在表也。當須發汗。若頭痛者必衄。宜桂枝湯。</p>
</div>
<div class="縮進1字">
<p>傷寒發汗已解。半日許復煩。脉浮數者。可更發汗。宜桂枝湯。</p>
<p>凡病若發汗。若吐。若下。亡津液。如此者。陰陽自和則必自愈。</p>
<p>發汗後。身疼痛。脉沈遲者。桂枝加芍藥生姜各一兩人參三兩新加湯主之。</p>
<p>發汗後。喘家不可更行桂枝湯。汗出而喘。無大熱者。可與麻黃杏仁甘草石膏湯。</p>
<p>麻黃<small class="旁注">去節</small><small class="雙行夾注">四兩</small>　杏仁<small class="旁注">去皮尖</small><small class="雙行夾注">五十個</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩　</small>石膏<small class="旁注">碎綿裹</small><small class="雙行夾注">半斤</small></p>
<p>右四味。以水七升。煮麻黃減二升。去上沫。內諸藥。煮取二升。去滓。溫服一升。</p>
</div>
<div class="縮進2字">
<p>發汗過多。其人叉手自冒心。心下悸。欲得按者。桂枝甘草湯主之。</p>
</div>
<div class="縮進1字">
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">四兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small></p>
<p>右二味以水三升。煮取一升。去滓頓服。</p>
</div>
<div class="縮進2字">
<p>發汗後。其人臍下悸者。欲作奔豚。茯苓桂枝甘草大棗湯主之。</p>
</div>
<div class="縮進1字">
<p>茯苓<small class="雙行夾注">半斤</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">四兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十五枚</small></p>
<p>右四味。以甘瀾水一斗。先煮茯苓。減二升。內諸藥。取三升。去滓。溫服一升。日三服。</p>
</div>
<div class="縮進2字">
<p>作甘瀾水法。取水二斗。置大盆內。以杓揚之。水上有珠子五六千顆相逐。取用之。</p>
</div>
<div class="縮進1字">
<p>發汗後。腹脹滿者。厚朴生姜半夏甘草人參湯主之。</p>
<p>厚朴生姜半夏甘草人參湯方</p>
<p>厚朴<small class="旁注">去皮</small><small class="雙行夾注">半斤</small>　生姜<small class="旁注">切</small><small class="雙行夾注">半斤</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半斤</small>　甘草<small class="雙行夾注">二兩</small>　人參<small class="雙行夾注">一兩</small></p>
<p>右五味。以水一斗。煮取三升。去滓。溫服一升。日三服。</p>
</div>
<p>傷寒若吐若下後。心下逆滿。氣上衝胸。起則頭眩。脉沈緊。發汗則動經。身為振振搖者。茯苓桂枝白朮甘草湯主之。發汗病不解。反惡寒者<small class="旁注">虛故也</small>。芍藥甘草附子湯主之。發汗若下之。病仍不解煩燥者。茯苓囘逆湯主之。發汗後惡寒者。虛故也。不惡寒但熱者。實也。當和胃氣。與調胃承氣湯。</p>
<div class="縮進1字">
<p>茯苓桂枝白朮甘草湯方</p>
<p>茯苓<small class="雙行夾注">四兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　白朮　甘草<small class="旁注">炙</small><small class="雙行夾注">各二兩</small></p>
<p>右四味。以水六升。煮取三升。去滓。分溫三服。</p>
<p>芍藥甘草附子湯方</p>
<p>芍藥　甘草<small class="旁注">炙</small><small class="雙行夾注">各三兩</small>　附子<small class="旁注">炮去皮破八片</small><small class="雙行夾注">一枚</small></p>
<p>右三味。以水五升。煮取一升五合。去滓。分溫三服。</p>
<p>茯苓囘逆湯方</p>
</div>
<div class="縮進2字">
<p>茯苓四兩　人參一兩　附子<small class="旁注">生用去皮破八片</small><small class="雙行夾注">一枚</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　乾姜<small class="雙行夾注">一兩</small></p>
<p>右五味。以水五升。煮取三升。去滓溫服七合。日三服。</p>
<p>調胃承氣湯方</p>
<p>芒硝<small class="雙行夾注">半升</small>　甘草<small class="旁注">炙</small>　大黃<small class="旁注">去皮清酒洗</small><small class="雙行夾注">四兩</small></p>
<p>右三味。以水三升。煮取一升。去滓。內芒硝。日三服。更煮一兩沸。頓服。<b class="圓圈">注</b><small class="雙行夾注">加減方非疑仲景方</small></p>
</div>
<div class="縮進1字">
<p>大陽病。發汗後。大汗出。胃中乾。燥煩不得眠。欲得飲水者。少少與飲之。令胃氣和則愈。若脉浮。小便不利。微熱消渴者。五苓散主之。</p>
<p>發汗已。脉浮數。煩渴者。五苓散主之。</p>
</div>
<div class="縮進2字">
<p>豬苓<small class="旁注">去皮</small><small class="雙行夾注">十八銖</small>　澤瀉<small class="雙行夾注">一兩六銖</small>　白朮<small class="雙行夾注">十八銖</small>　茯苓<small class="雙行夾注">十八銖</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">半兩</small></p>
<p>右五味。擣為散。以白飲和。服方寸匕。日三服。多飲煖水。汗出愈。如法將息。</p>
</div>
<p>傷寒汗出而渴者。五苓散主之。小渴者。茯苓甘草湯主之。</p>
<div class="縮進1字">
<p>茯苓<small class="雙行夾注">二兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">一兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small></p>
<p>右四味。以水四升。煮取二升。去滓分溫三服。</p>
</div>
<p>中風發熱。六七日不解而煩<small class="旁注">有表裏證</small>。渴欲飲水。水入口吐者。五苓散<small class="旁注">名曰水逆</small>主之。</p>
<div class="縮進2字">
<p>未持脉時。病人叉手自冒心。師因教試令欬。而不欬者。此必兩□聾無聞也。所以然者。重以發汗虛故也。發汗後。飲水多必喘。以水灌之亦喘。</p>
</div>
<p>發汗後。水藥不得入口<small class="旁注">為逆</small>。若更發汗。必吐下不止。發汗吐下後。虛煩不得眠。若劇者。必反覆顛倒。心中懊憹。梔子豉湯主之。若少氣者梔子甘草豉湯主之。若嘔者梔子生姜豉湯主之。</p>
<div class="縮進1字">
<p>梔子豉湯方</p>
<p>梔子<small class="旁注">擘</small><small class="雙行夾注">十四個</small>　香豉<small class="旁注">綿裹</small><small class="雙行夾注">四合</small></p>
<p>右二味。以水四升。先煮梔子得二升半。內豉。煮取一升半。去滓。分為二服。溫進一服。得吐者。止後服。</p>
<p>梔子甘草豉湯方</p>
<p>梔子<small class="旁注">擘</small><small class="雙行夾注">十四個</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　香豉<small class="旁注">綿裹</small><small class="雙行夾注">四合</small></p>
<p>右三味。以水四升。先煮梔子甘草。取二升半。內豉。煮取一升半。去滓。分二服。溫進一服。得吐者。止後服。</p>
<p>梔子生姜豉湯方</p>
<p>梔子<small class="旁注">擘</small><small class="雙行夾注">十四個</small>　生姜<small class="雙行夾注">五兩</small>　香豉<small class="旁注">綿裹</small><small class="雙行夾注">四合</small></p>
<p>右三味。以水四升。先煮梔子生姜。取二升半。內豉。煮取一升半。去滓分二服。溫進一服。得吐者。止後服。</p>
</div>
<p>發汗若下之。而煩熱胸中窒者。梔子豉湯主之。</p>
<p>傷寒五六日。大下之後。身熱不去。心中結痛者。未欲解也。梔子豉湯主之。</p>
<p>傷寒下後。心煩腹滿。臥起不安者。梔子厚朴湯主之。</p>
<div class="縮進1字">
<p>梔子<small class="旁注">擘</small><small class="雙行夾注">十四箇</small>　厚朴<small class="旁注">去皮</small><small class="雙行夾注">四兩</small>　枳實<small class="旁注">浸水炙令黃</small><small class="雙行夾注">四枚</small></p>
<p>右三味。以水三升半。煮取一升半。去滓。分二服。溫進一服。得吐者。止後服。</p>
</div>
<p>傷寒。醫以丸藥。大下之。身熱不去。微煩者。梔子乾姜湯主之。大下之後。復發汗<small class="旁注">亡津</small>。小便不利者。勿治之。得小便利必自愈。下之後。復發汗。必振寒脉微細。<b class="圓圈">注</b><small class="雙行夾注">所以然者。以內外俱虛故也。</small><b class="陰文">經</b>下之後。發汗。晝日煩燥不得眠。夜而安靜。不嘔不渴。無表證。脉沈微。身無大熱者。乾姜附子湯主之。</p>
<div class="縮進1字">
<p>梔子乾姜湯方</p>
<p>梔子<small class="旁注">擘</small><small class="雙行夾注">十四箇</small>　乾姜<small class="雙行夾注">一兩</small></p>
<p>右二味。以水三升半。煮取一升半。去滓。分二服。溫進一服。得吐者止後服。</p>
</div>
<div class="縮進2字">
<p>凡用梔子湯。病人舊微溏者。不可與服之。</p>
</div>
<div class="縮進1字">
<p>乾姜附子湯方</p>
<p>乾姜<small class="雙行夾注">一兩</small>　附子<small class="旁注">生去皮切八片</small><small class="雙行夾注">一枚</small></p>
<p>右二味。以水三升半。煮取一升。去滓。頓服。</p>
</div>
<p>大陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩。身瞤動。振振欲擗地者。玄武湯主之。</p>
<div class="縮進1字">
<p>咽喉乾燥者。不可發汗。</p>
<p>淋家。不可發汗。發汗必便血。</p>
<p>瘡家雖身疼痛。不可發汗。汗出則痓。衄家不可發汗。汗出則必額上陷。脉急緊。直視不能目眴。不得眠。</p>
<p>亡血家。不可發汗。發汗則寒慄而振。汗家重發汗。必恍惚心亂。小便已陰疼。與禹餘糧丸。</p>
<p>病人有寒。復發汗。胃中冷吐蚘。</p>
</div>
<div class="縮進2字">
<p>本發汗。而復下之。此為逆也。若先發汗。治不為逆。本先下之。而反汗之。為逆。若先下之。治不為逆。</p>
</div>
<p>傷寒醫下之。續得下利。清穀不止。身疼痛者。急當救裏。後身疼痛。清便自調者。急當救表。救裏宜囘逆湯。救表宜桂枝湯。</p>
<div class="縮進1字">
<p>病發熱頭痛。脉反沈者□□若不瘥。身體疼痛。當救其裏。宜囘逆湯。</p>
</div>
<p>大陽病。先下之而不愈。因後發汗。其人因致冒。</p>
<div class="縮進1字">
<p>冒家汗出自愈。所以然者。汗出表和故也。裡未和。然後復下之。</p>
</div>
<p>大陽病未解。脉陰陽俱停。下之必先振慄。汗出而解。<b class="圓圈">注</b><small class="雙行夾注">但陽脉微者。先汗出而解。但陰脉微者。下之而解。</small><b class="陰文">經</b>若欲下之。宜調胃承氣湯。</p>
<div class="縮進2字">
<p>大陽病。發熱汗出者。此榮弱衛強。故使汗出。欲救邪風者。宜桂枝湯。</p>
</div>
<p>傷寒五六日<small class="旁注">中風</small>往來寒熱。胸脇苦滿。默默不欲飲食。心煩喜嘔。或胸中煩而不嘔。或渴。或腹中痛。或脇下痞鞕。或心下悸。小便不利。或不渴。身有微熱。或欬者。小柴胡湯主之。</p>
<div class="縮進1字">
<p>柴胡<small class="雙行夾注">半斤</small>　黃芩<small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">三兩</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small>　甘草<small class="雙行夾注">炙</small>　生姜<small class="旁注">切</small><small class="雙行夾注">各三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右七味。以水一斗二升。煮取六升。去滓再煮取三升。溫服一升。日三服。</p>
<p>若胸中煩而不嘔者。去半夏人參。加栝樓實一枚。若渴。去半夏。加人參合前成四兩半。栝樓根四兩。若腹中痛者。去黃芩。加芍藥三兩。若脇下痞鞕。去大棗。加牡蠣四兩。若心下悸。小便不利者。去黃芩。加茯苓四兩。若不渴。外有微熱者。去人參。加桂枝三兩。溫覆微汗愈。若欬者。去人參大棗生姜。加五味子半斤。乾姜二兩。</p>
<p>血弱氣盡腠理開。邪氣因入。與正氣相摶。結於脇下。正邪分爭。往來寒熱。休作有時。嘿嘿不欲飲食。藏府相違。其病必下。邪高病下。故使嘔也。小柴胡湯主之。</p>
<p>服柴胡湯已渴者。屬陽明。以法治之。得病六七日。脉遲浮弱。惡風寒。手足溫。醫二三下之。不能食。而脇下滿痛。面目及身黃。頸項強。小便難者。與柴胡湯。後必下重。</p>
</div>
<div class="縮進2字">
<p>本渴飲水而嘔者。柴胡湯不中與也。食穀者噦。</p>
</div>
<p>傷寒四五日。身熱惡風。頸項強。脇下滿。手足溫而渴者。小柴胡湯主之。</p>
<p>傷寒陽脉濇陰脉弦。□□<small class="旁注">法當腹中急痛</small>先與小建中湯。不差者。小柴胡湯主之。</p>
<div class="縮進1字">
<p>小建中湯方</p>
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　芍藥<small class="雙行夾注">六兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　膠飴<small class="雙行夾注">一升</small></p>
<p>右六味。以水七升。煮取三升。去滓內飴。更上微火消解。溫服一升。日三服。</p>
</div>
<div class="縮進2字">
<p>嘔家不可用建中湯。以甜故也。</p>
</div>
<div class="縮進1字">
<p>傷寒中風。有柴胡證。但見一證便是。不必悉具。</p>
<p>凡柴胡湯病證而下之。若柴胡證不罷者。復與柴胡湯。必蒸蒸而振。卻復發熱汗出而解。</p>
</div>
<p>傷寒二三日。心中悸而煩者。小建中湯主之。</p>
<p>大陽病<small class="旁注">過經</small>十餘日。反二三下之。後四五日。柴胡證仍在者。先與小柴胡湯。嘔不止。心下急。鬱鬱微煩者。為未解也。與大柴胡湯。下之則愈。</p>
<p>柴胡<small class="雙行夾注">半斤</small>　黃芩<small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">三兩</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small>　生姜<small class="旁注">切</small><small class="雙行夾注">五兩</small>　枳實<small class="旁注">炙</small><small class="雙行夾注">四枚</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右七味。以水一斗二升。煮取六升。去滓。再煎。溫服一升。日三服。<b class="圓圈">注</b><small class="雙行夾注">一方加大黃二兩。若不加。恐不為大柴胡湯。</small></p>
<p>傷寒十三日不解。胸脇滿而嘔。日晡所發潮熱<small class="旁注">潮熱者實也</small>。已而微利<b class="圓圈">注</b><small class="雙行夾注">此本柴胡證。下之而不得利。今反利者。知醫以丸藥下之。非其治也。</small><b class="陰文">經</b>先宜服小柴胡湯以解外。後以柴胡加芒硝湯主之。</p>
<div class="縮進1字">
<p>柴胡<small class="雙行夾注">二兩十六銖</small>　黃芩<small class="雙行夾注">一兩</small>　人參<small class="雙行夾注">一兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">一兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">一兩</small>　半夏<small class="旁注">洗本云五枚</small><small class="雙行夾注">二十銖</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">四枚</small>　芒硝<small class="雙行夾注">二兩</small></p>
<p>右八味。以水四升。煮取二升。去滓。內芒硝。更煮微沸。分溫再服<b class="圓圈">注</b><small class="雙行夾注">不解更作。</small></p>
</div>
<p>傷寒十三日。不解。時讝語者<small class="旁注">過經</small>。以有熱也。當以湯下之。若小便利者。大便當鞕。而反下利。脉調和者。知醫以丸藥下之。非其治也。若自下利者。脉當微厥。今反和者。此為內實也。調胃承氣湯主之。</p>
<p>大陽病不解。熱結膀胱。其人如狂<small class="旁注">血自下者愈</small>。其外不解者。尚未可攻。當先解其外。外解已。但小腹急結者。乃可攻之。宜桃核承氣湯。</p>
<p>桃核承氣湯</p>
<p>桃仁<small class="旁注">去皮尖</small><small class="雙行夾注">五十個</small>　大黃<small class="雙行夾注">四兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　芒硝<small class="雙行夾注">二兩</small></p>
<p>右五味。以水七升。煮取二升半。去滓。內芒硝。更上火。微沸。下。先食溫服五合。日三服<b class="圓圈">注</b><small class="雙行夾注">當微利。</small></p>
<p>傷寒八九日。下之。胸滿煩驚。小便不利。讝語。一身盡重。不可轉側者。柴胡加龍骨牡蠣湯主之。<b class="圓圈">注</b><small class="雙行夾注">本云柴胡湯。今加龍骨等。</small></p>
<div class="縮進2字">
<p>又方</p>
<p>柴胡四兩　龍骨　黃芩　生姜<small class="雙行夾注">切</small>　鉛丹　人參　桂枝　茯苓<small class="雙行夾注">各一兩半</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">二合半</small>　大黃<small class="雙行夾注">二兩</small>　牡蠣<small class="雙行夾注">一兩半</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">六枚</small></p>
<p>右十二味。以水八升。煮取四升。內大黃切如碁子。更煮一兩沸。去滓。溫服一升。</p>
<p>傷寒。腹滿讝語。寸口脉。浮而緊。此肝乘脾也。名曰縱。刺期門。</p>
<p>傷寒。發熱嗇嗇惡寒。大渴欲飲水。其腹必滿。自汗出。小便利。其病欲解。此肝乘肺也。名曰橫。刺期門。</p>
</div>
<p>大陽病二日反躁。反熨背。而大汗出。大熱入胃。胃中水竭。躁煩。必發讝語。<b class="圓圈">注</b><small class="雙行夾注">十餘日。振慄。自下利者。此為欲解。</small><b class="陰文">經</b>故其發汗。從腰以下。不得汗。欲小便不得。反嘔欲失溲。足下惡風。大便鞕。<b class="圓圈">注</b><small class="雙行夾注">小便當數。而反不數。及不多。</small><b class="陰文">經</b>大便已。頭卓然而痛<small class="旁注">氣下流故也</small>。其人足心必熱。</p>
<p>大陽病中風。以火劫發汗。邪風被火熱<small class="旁注">失其常度兩相熏灼</small>。血氣流溢。其身必發黃。<b class="圓圈">注</b><small class="雙行夾注">陽盛則欲衄。陰虛則大便鞕。陰陽俱虛竭。身體則枯燥。</small><b class="陰文">經</b>但頭汗出。劑頸而還。腹滿。微喘。口乾咽爛。或不大便。久則讝語。甚者至噦。手足躁擾。捻衣摸床。<b class="圓圈">注</b><small class="雙行夾注">小便利者。其人可治。</small></p>
<p>傷寒。脉浮。醫以火迫劫之<small class="旁注">亡陽</small>。必驚狂。臥起不安者。桂枝去芍藥加蜀漆牡蠣龍骨救逆湯主之。</p>
<div class="縮進1字">
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　牡蠣<small class="旁注">熬</small><small class="雙行夾注">五兩</small>　蜀漆<small class="旁注">洗去醒</small><small class="雙行夾注">三兩</small>　龍骨<small class="雙行夾注">四兩</small></p>
<p>右七味。以水一斗二升。先煮蜀漆。減二升。內諸藥。煮取三升。去滓。溫服一升。<b class="圓圈">注</b><small class="雙行夾注">本云桂枝湯。今去芍藥。加蜀漆牡蠣龍骨。</small></p>
<p>形作傷寒。其脉不弦堅而弱。<small class="旁注">弱者發熱</small>弱者必渴。被火必讝語。弱者發熱。脉浮。解之當汗出愈。</p>
</div>
<p>大陽病。以火熏之。不得汗。其人必躁<small class="旁注">到經不解</small>。必清血。名為火邪。</p>
<div class="縮進1字">
<p>火邪。脉浮熱甚。而反炙之<small class="旁注">此為實。實以虛治。</small>。因火而動。必咽燥吐血。</p>
<p>微數之脉。慎不可炙。因火為邪<small class="旁注">追虛追實</small>。則為煩逆。血散脉中。火氣雖微。內攻有力<small class="旁注">焦骨傷筋</small>。血難復也。</p>
<p>脉浮宜以汗解用火炙之。邪無從出。因火而盛。病從腰以下。必重而痺。欲自解者<small class="旁注">火逆之也</small>。必當先煩。煩乃有汗而解。<b class="圓圈">注</b><small class="雙行夾注">何以知之。脉浮。知汗出解。</small></p>
</div>
<p>燒針令其汗。針處被寒。核起而赤者。必發奔豚<small class="旁注">氣從少腹上衝心者。</small>。灸其核上各一壯。與桂枝加桂湯。<b class="圓圈">注</b><small class="雙行夾注">更加桂枝二兩也。本云桂枝湯。今加桂五兩。所以加桂者。以能泄奔豚氣也。</small></p>
<p>大陽病。當惡寒發熱。今自汗出。反不惡寒不發熱。<small class="旁注">關上</small>脉細數者。以醫吐之過也<small class="旁注">此為小逆</small>。</p>
<div class="縮進1字">
<p>一二日吐之者。腹中饑口不能食。三四日吐之者。不喜糜粥。欲冷食。朝食暮吐。以醫吐之所致也。</p>
<p>大陽病吐之。但大陽病當惡寒。今反不惡寒。不欲近衣。此為吐之內煩也。</p>
<p>病人脉數。數為熱。當消穀引食。而反吐者。此以發汗。令陽氣微。膈氣虛。脉乃數也。數為客熱。不能消穀。以胃中虛冷。故吐也。</p>
</div>
<p>大陽病。<small class="旁注">過經</small>十餘日。心下溫溫欲吐。而胸中痛。大便反溏。腹微滿。鬱鬱微煩。先此時。自極吐下者。與調胃承氣湯<b class="圓圈">注</b><small class="雙行夾注">若不爾者。不可與。○但欲嘔。胸中痛。微溏者。此非柴胡湯證。以嘔故知極吐也。</small></p>
<p>大陽病六七日。表證仍在。脉微而沈。反不結胸。其人發狂者。以熱在下焦。小腹當鞕滿。小便自利者。下血乃愈<b class="圓圈">注</b><small class="雙行夾注">所以然者。以大陽隨經。瘀熱在裏故也。</small><b class="陰文">經</b>抵當湯主之。</p>
<div class="縮進1字">
<p>水蛭<small class="旁注">熬</small>　蝱蟲<small class="旁注">去翅足熬</small><small class="雙行夾注">各三十箇</small>　桃仁<small class="旁注">去皮尖</small><small class="雙行夾注">二十個</small>　大黃<small class="旁注">酒洗</small><small class="雙行夾注">二兩</small></p>
<p>右四味。以水五升。煮取三升。去滓。溫服一升。不下更服。</p>
</div>
<p>大陽病身黃。脉沈結。小腹鞕<small class="旁注">小便不利者。為無血也。</small>。小便自利。其人如狂者<small class="旁注">血證諦也</small>。抵當湯主之。</p>
<p>傷寒有熱。小腹滿。應小便不利。今反利者<small class="旁注">為有血也</small>。當可下之。宜抵當丸<small class="旁注">不可餘藥</small>。</p>
<div class="縮進1字">
<p>水蛭<small class="旁注">熬</small><small class="雙行夾注">二十箇</small>　蝱蟲<small class="旁注">去翅足熬</small><small class="雙行夾注">二十箇</small>　桃仁<small class="旁注">去皮尖</small><small class="雙行夾注">二十五箇</small>　大黃<small class="雙行夾注">三兩</small></p>
<p>右四味。擣分四丸。以水一升。煮一丸。取七合服之。晬時當下血<small class="旁注">若不下者更服</small>。</p>
</div>
<div class="縮進2字">
<p>大陽病小便利者。以飲水多。必心下悸。小便少者。必苦裏急也。</p>
</div>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨大陽病　　結胸</h2>
</div>
<div class="縮進2字">
<p>問曰。病在結胸。有藏結。其狀何如。答曰。按之痛。寸脉浮。關脉沈。名曰結胸也。何謂藏結。答曰。如結胸狀。飲食如故。時時下利。寸脉浮關脉小細沈緊。名曰藏結。舌上白胎滑者難治。</p>
<p>藏結無陽證。不往來寒熱。其人反靜。舌上胎滑者。不可攻也。</p>
</div>
<div class="縮進1字">
<p>病發于陽。而反下之。熱入因作結胸。病發於陰而反下之。因作痞也。</p>
<p>所以成結胸者。以下之太早故也。</p>
<p>結胸者。項亦強。如柔痓狀。下之則和。宜大陷胸丸。</p>
<p>結胸證。其脉浮大者。不可下。下之則死。結胸證悉具。煩躁者亦死。</p>
</div>
<p>大陽病脉浮而動數<b class="圓圈">注</b><small class="雙行夾注">浮則為風。數則為熱。動則為痛。數則為虛。</small><b class="陰文">經</b>頭痛發熱。微盜汗出。而反惡寒者。表未解也。醫反下之。動數變遲膈內拒痛<small class="旁注">胃中空虛客氣動膈</small>。短氣躁煩。心中懊憹。陽氣內陷。心下因鞕。則為結胸。大陷胸湯主之。若不大結胸。但頭汗出。餘處無汗。劑頸而還。小便不利。身必發黃也。宜大陷胸丸。</p>
<div class="縮進2字">
<p>大陷胸湯方</p>
</div>
<div class="縮進1字">
<p>大黃<small class="旁注">去皮</small><small class="雙行夾注">六兩</small>　芒硝<small class="雙行夾注">一升</small>　甘遂<small class="雙行夾注">一錢匕</small></p>
<p>右三味。以水六升。先煮大黃。取二升。去滓。內芒硝。煮一兩沸。內甘遂末。溫服一升。得快利。止後服。</p>
</div>
<div class="縮進2字">
<p>大陷胸丸方</p>
</div>
<div class="縮進1字">
<p>大黃<small class="雙行夾注">半斤</small>　葶藶子<small class="旁注">熬</small><small class="雙行夾注">半升</small>　芒硝<small class="雙行夾注">半升</small>　杏仁<small class="旁注">去皮尖熬黑</small><small class="雙行夾注">半升</small></p>
<p>右四味。擣篩二味。內杏仁芒硝。合研如脂。和散。取如彈丸一枚。別擣甘遂末一錢匕。白蜜二合。水二升。煮取一升。溫頓服之。一宿乃下。如不下更服。取下為效。禁如藥法。</p>
</div>
<p>傷寒六七日。結胸熱實。脉沈而緊。心下痛。按之石鞕者。大陷胸湯主之。</p>
<p>傷寒十餘日。熱結在裏。復往來寒熱者。與大柴胡湯。但結胸無大熱<small class="旁注">無大熱者。此為水結在胸脇也。</small>。但頭微汗出者。大陷胸湯主之。</p>
<p>大陽病。重發汗而復下之。不大便五六日。舌上燥而渴。日晡所小有潮熱。發心胸大煩。從心下。至少腹。鞕滿而痛。不可近者。大陷胸湯主之。少結胸者。正在心下。按之則痛。脉浮滑者。小陷胸湯主之。</p>
<div class="縮進1字">
<p>黃連<small class="雙行夾注">一兩</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small>　括蔞實<small class="旁注">大者</small><small class="雙行夾注">一枚</small></p>
<p>右三味。以水六升。先煮括蔞實取三升。去滓。內諸藥。煮取二升。去滓。分溫三服。</p>
</div>
<p>大陽病二三日。不能臥。但欲起。心下必結。脉微弱者<small class="旁注">此本有寒飲也</small>。反下之。若利止。必作結胸。未止者。四五日復下之。此作協熱利也。</p>
<p>大陽病。下之。其脉促。不結胸者<small class="旁注">此為欲解也</small>。□□□□□□。</p>
<div class="縮進1字">
<p>脉浮者。必結胸。脉緊者。必咽痛。脉弦者。必兩脇拘急。脉細數者。頭痛未止。脉沈緊者。必欲嘔。脉沈滑者。協熱利。脉浮滑者。必下血。</p>
</div>
<p>病在陽。應以汗解之。反以冷水潠之。若灌之。其熱被劫不得去。彌更益煩。肉上粟起。意欲飲水。反少渴者。服文蛤散。若不差者。與五苓散。寒實結胸。無熱證者。與三物小陷胸湯<b class="圓圈">注</b><small class="雙行夾注">白散亦可服。</small></p>
<div class="縮進1字">
<p>文蛤散</p>
<p>文蛤<small class="雙行夾注">五兩</small></p>
<p>右一味。為散。以沸湯。和一方寸匕服。湯用五合。</p>
</div>

<div class="縮進2字">
<p>白散</p>
<p>桔更<small class="雙行夾注">三分</small>　巴豆<small class="旁注">去皮去熬黑研如脂</small><small class="雙行夾注">一分</small>　貝母<small class="雙行夾注">三分</small></p>
<p>右三味為散。內巴豆。更於臼中杵之。以白飲和服。強人半錢匕。羸者減之。病在膈上必吐。在膈下必利。不利。進熱粥一杯。利過不止。進冷粥一杯。</p>
</div>
<div class="縮進1字">
<p>五苓散</p>
<p>身熱。皮粟不解。欲引衣自覆者。若以水潠之洗之。益令熱劫不得出。當汗而不汗。則煩。假令汗出已。腹中痛。<small class="雙行夾注">與</small>芍藥三兩如上法。</p>
</div>
<div class="縮進2字">
<p>太陽與少陽併病。頸項強痛。或弦冒。時如結胸。心下痞鞕者當刺大椎第一間。肺俞。肝俞。慎不可發汗。發汗則譫語。脉弦。五日讝語不止。當刺期門。</p>
<p>婦人中風。發熱惡寒。經水適來。得之七八日。熱除而脉遲。身涼。胸脇下滿。如結胸狀。讝語者。此為熱入血室也。當刺期門。隨其實而取之。</p>
</div>
<p>婦人中風七八日。續得寒熱。發作有時。經水適斷者<small class="旁注">此為熱入血室</small>。其血必結。故使如瘧狀。發作有時。小柴胡湯主之。</p>
<div class="縮進1字">
<p>婦人傷寒發熱。經水適來。晝日明了。暮則讝語。如見鬼狀者。此為熱入血室。無犯胃氣及上二焦。必自愈。</p>
</div>
<p>傷寒六七日。發熱微惡寒。支節煩疼。微嘔。心下支結。外證未去者。柴胡桂枝湯主之。</p>
<div class="縮進1字">
<p>柴胡桂枝湯方</p>
<p>桂枝<small class="旁注">去皮</small>　黃芩<small class="雙行夾注">一兩半</small>　人參<small class="雙行夾注">一兩半</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">一兩</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">二合半</small>　芍藥<small class="雙行夾注">一兩半</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">六枚</small>　生姜<small class="旁注">切</small><small class="雙行夾注">一兩半</small>　柴胡<small class="雙行夾注">四兩</small></p>
<p>右九味。以水七升。煮取三升。去滓。溫服一升。<b class="圓圈">注</b><small class="雙行夾注">本云人參湯。作如桂枝法。加半夏柴胡黃芩。復如柴胡法。今用人參作各半劑。</small></p>
</div>
<p>傷寒五六日。已發汗。而復下之。胸脇滿。微結。小便不利。渴而不嘔。但頭汗出。往來寒熱。心煩者<small class="旁注">此為未解也</small>。柴胡桂枝乾姜湯主之。</p>
<div class="縮進1字">
<p>柴胡桂枝乾姜湯方</p>
<p>柴胡<small class="雙行夾注">半斤</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　乾姜<small class="雙行夾注">二兩</small>　括樓根<small class="雙行夾注">四兩</small>　黃芩<small class="雙行夾注">三兩</small>　牡蠣<small class="旁注">熬</small><small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small></p>
<p>右七味。以水一斗二升。煮取六升。去滓。再煎。取三升。溫服一升。日三服。初服微煩。復服。汗出便愈。</p>
</div>
<p>傷寒五六日。頭汗出。微惡寒。手足冷。心下滿。口不欲食<small class="旁注">此為陽微結。必有表。復有裏也。脉沈亦有裏也。</small>大便鞕。脉細者。<b class="圓圈">注</b><small class="雙行夾注">汗出為陽微。假令純陰結。不得復有外證。悉入在裏。此為半在裏半在外也。脉雖沈緊。不得為少陰病。所以然者。陰不得有汗。今頭汗出。故知非少陰也。</small><b class="陰文">經</b>可與小柴胡湯。設不了了者。得屎而解。</p>
<p>傷寒五六日。嘔而發熱者。柴胡湯證具。而以他藥下之。柴胡證仍在者。復與柴胡湯<small class="旁注">此雖已下之不為逆也</small>。必蒸蒸而振。卻發熱汗出而解。若心下滿而鞕痛者<small class="旁注">此為結</small>。大陷胸湯主之。但滿而不痛者<small class="旁注">此為痞</small>。柴胡不中與之。宜半夏瀉心湯。</p>
<div class="縮進1字">
<p>半夏<small class="雙行夾注">半升</small>　黃芩　乾姜　人參　甘草<small class="旁注">炙</small><small class="雙行夾注">各三兩</small>　黃連<small class="雙行夾注">一兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右七味。以水一斗。煮取六升。去滓。再煮。取三升。溫服一升。日三服。</p>
</div>
<p>大陽中風。下利嘔逆。<b class="圓圈">注</b><small class="雙行夾注">表解者。乃可攻之。</small><b class="陰文">經</b>其人漐漐汗出。發作有時。頭痛。心下痞鞕滿。引脇下痛。乾嘔短氣。汗出不惡寒者<small class="旁注">此表解裏未和也</small>。十棗湯主之。</p>
<div class="縮進1字">
<p>芫花<small class="旁注">熬</small>　甘遂　大戟</p>
<p>右三味等分。各別擣為散。以水一升半。先煮大棗肥者十枚。取八合。去滓。內藥末。<b class="圓圈">注</b><small class="雙行夾注">強人服一錢匕。羸人者服半錢。</small><b class="陰文">經</b>溫服之<small class="旁注">平旦服</small>。若下少。病不除者。明日更服<small class="旁注">加半錢</small>。得快下利後。糜粥自養。</p>
</div>
<p>大陽病。醫發汗。遂發熱惡寒。因復下之。心下痞<small class="旁注">無陽則陰獨</small><b class="圓圈">注</b><small class="雙行夾注">表裏但虛。陰陽氣竝竭。</small><b class="陰文">經</b>復加燒針。因胸煩<b class="圓圈">注</b><small class="雙行夾注">面色青黃。膚瞤者難治。今色微黃。手足溫者易愈。</small><b class="陰文">經</b>心下痞。按之濡。其脉<small class="旁注">關上</small>浮者。大黃黃連瀉心湯主之。心下痞。而復惡寒。汗出者。附子瀉心湯主之。心下痞<small class="旁注">本以下之故</small>。與瀉心湯。痞不解。其人渴而口燥者。小便不利者。五苓散主之。<b class="圓圈">注</b><small class="雙行夾注">一方云。忍之一日乃愈。</small></p>
<div class="縮進1字">
<p>大黃黃連瀉心湯方</p>
<p>大黃<small class="雙行夾注">二兩</small>　黃連　黃芩<small class="雙行夾注">各一兩</small></p>
<p>右三味。以麻沸湯二升漬之。須臾絞去滓。分溫再服。</p>
<p>附子瀉心湯方</p>
<p>大黃<small class="雙行夾注">二兩</small>　黃連<small class="雙行夾注">一兩</small>　黃芩<small class="雙行夾注">一兩</small>　附子<small class="旁注">炮去皮破別煮取汁</small><small class="雙行夾注">二枚</small></p>
<p>右四味。切三味。以麻沸湯二升漬之。須臾絞去滓。內附子汁。分溫再服。</p>
</div>
<p>傷寒汗出解之後。胃中不和。心下痞鞕。乾噫食臭。脇下有水氣。腹中雷鳴。下利者。生姜瀉心湯主之。</p>
<p>生姜<small class="旁注">切</small><small class="雙行夾注">四兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">三兩</small>　乾姜<small class="雙行夾注">一兩</small>　黃芩<small class="雙行夾注">三兩</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small>　黃連<small class="雙行夾注">一兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右八味。以水一斗。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>傷寒中風。醫反下之。其人下利日數十行。穀不化。腹中雷鳴。心下痞鞕而滿。乾嘔。心煩不得安。醫見心下痞。謂病不盡。復下之。其痞益甚<small class="旁注">此非結熱</small><b class="圓圈">注</b><small class="雙行夾注">但以胃中虛。客氣上逆。故使鞕也。</small><b class="陰文">經</b>甘草瀉心湯主之。</p>
<div class="縮進1字">
<p>甘草<small class="旁注">炙</small><small class="雙行夾注">四兩</small>　黃芩<small class="雙行夾注">三兩</small>　乾姜<small class="雙行夾注">三兩</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small>　大棗<small class="雙行夾注">十二枚</small>　黃連<small class="雙行夾注">一兩</small></p>
<p>右六味。以水一斗。煮取六升。去滓。再煎取三升。溫服一升。日三服。<b class="圓圈">注</b><small class="雙行夾注">附子瀉心湯。本云。加附子半夏瀉心湯。甘草瀉心湯。同體別名耳。生姜瀉心湯。本云理中人參黃芩湯。去桂枝朮。加黃連。并瀉肝法。</small></p>
</div>
<p>傷寒服湯藥。下利不止。心下痞鞕。服瀉心湯已。復以他藥下之。利不止。醫以理中與之。利益甚<b class="圓圈">注</b><small class="雙行夾注">理中者。理中焦。此利在下焦</small><b class="陰文">經</b>赤石脂禹餘糧湯主之<b class="圓圈">注</b><small class="雙行夾注">復不止者。當利其小便。</small></p>
<div class="縮進1字">
<p>赤石脂<small class="旁注">碎</small><small class="雙行夾注">一斤</small>　太一禹餘糧<small class="旁注">碎</small><small class="雙行夾注">一斤</small></p>
<p>右二味。以水六升。煮取二升。去滓。分溫三服。</p>
<p>傷寒吐下後。發汗。虛煩。脉甚微。八九日心下痞鞕。脇下痛。氣上衝咽喉。眩冒。經脉動惕者。久而成痿。</p>
</div>
<p>傷寒發汗。若吐。若下。解後。心下痞鞕。噫氣不除者。旋復代赭湯主之。</p>
<div class="縮進1字">
<p>旋復花<small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">二兩</small>　生姜<small class="雙行夾注">五兩</small>　代赭<small class="雙行夾注">一兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">三兩</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右七味。以水一斗。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>喘家下後。不可更行桂枝湯。若汗出而喘。無大熱者。可與麻黃杏子甘草石膏湯。</p>
</div>
<p>大陽病。外證未除。而數下之。遂協熱。而利下不止。心下痞鞕。表裏不解者。桂枝人參湯主之。</p>
<div class="縮進1字">
<p>桂枝<small class="旁注">別切</small><small class="雙行夾注">四兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">四兩</small>　白朮<small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">三兩</small>　乾姜<small class="雙行夾注">三兩</small></p>
<p>右五味。以水九升。先煮四味。取五升。內桂。更煮取三升。去滓。溫服一升。<b class="圓圈">注</b><small class="雙行夾注">日再夜一服。</small></p>
</div>
<p>傷寒。大下後。復發汗。心下痞。惡寒者<small class="旁注">表未解也</small>。不可攻痞。當先解表。表解乃可攻痞。<b class="圓圈">注</b><small class="雙行夾注">解表宜桂枝湯。攻痞宜大黃黃連瀉心湯。</small></p>
<p>傷寒。發熱汗出不解。心中痞鞕。嘔吐而下利者。□□□□之。</p>
<p>病如桂枝證。頭不痛。項不強。寸脉微浮。胸中痞鞕。氣上衝喉咽。不得息者。當吐之<small class="旁注">此為胸中有寒飲也</small>。宜瓜蒂散。</p>
<div class="縮進1字">
<p>瓜蒂<small class="旁注">熬黃</small><small class="雙行夾注">一分</small>　赤小豆<small class="雙行夾注">一分</small></p>
<p>右二味。各別擣篩。為散已。合治之。取一錢匕。以香豉一合。用熱湯七合。煮作稀糜。去滓。取汁和散。溫頓服之。不吐者。少少加得快吐乃止。<b class="圓圈">注</b><small class="雙行夾注">諸亡血虛家。不可與爪蒂散。</small></p>
</div>
<div class="縮進2字">
<p>病脇下素有痞。連在臍旁。痛引少腹。入陰筋者。此名藏結。死</p>
</div>
<p>傷寒。若吐。若下後。七八日不解<b class="圓圈">注</b><small class="雙行夾注">熱結在裏</small><b class="陰文">經</b>表裏俱熱。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。白虎加人參湯主之。</p>
<div class="縮進1字">
<p>知母<small class="雙行夾注">六兩</small>　石膏<small class="旁注">碎</small><small class="雙行夾注">一斤</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　人參<small class="雙行夾注">二兩</small>　粳米<small class="雙行夾注">六合</small></p>
<p>右五味。以水一斗。煮米熟。湯成去滓。溫服一升。日三服。<b class="圓圈">注</b><small class="雙行夾注">此方。立夏後立秋前乃可服。立秋後不可服。正月二月三月尚凜冷。亦不可與服之。與之則嘔利而腹痛。○諸亡血虛家。亦不可與。得之則腹痛下利者。但可溫之。當愈</small></p>
</div>
<p>傷寒無大熱。口燥渴。心煩背微惡寒者。白虎加人參湯主之。</p>
<p>傷寒。脉浮。發熱無汗<b class="圓圈">注</b><small class="雙行夾注">其表不解者。不可與白虎湯。</small><b class="陰文">經</b>渴欲飲水。無表證者。白虎加人參湯主之。</p>
<div class="縮進2字">
<p>大陽少陽併病。心下鞕。頸項強而眩者。當刺大椎。肺俞。肝俞。慎勿下之。</p>
</div>
<p>大陽與少陽合病。自下利者。與黃芩湯。若嘔者。黃芩加半夏生姜湯主之。</p>
<div class="縮進1字">
<p>黃芩湯方</p>
<p>黃芩<small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右四味。以水一斗。煮取三升。去滓溫服一升。<b class="圓圈">注</b><small class="雙行夾注">日再。夜一服。</small></p>
<p>黃芩加半夏生姜湯方</p>
<p>黃芩<small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small>　生姜<small class="旁注">切</small><small class="雙行夾注">一兩半</small></p>
<p>右六味。以水一斗。煮取三升。去滓溫服一升。<b class="圓圈">注</b><small class="雙行夾注">日再。夜一服。</small></p>
</div>
<p>傷寒。胸中有熱。胃中有邪氣。腹中痛欲嘔吐者。黃連湯主之。</p>
<div class="縮進1字">
<p>黃連<small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">三兩</small>　乾姜<small class="雙行夾注">三兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">二兩</small>　半夏<small class="旁注">洗</small><small class="雙行夾注">半升</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右七味。以水一斗。煮取六升。去滓。溫服。<b class="圓圈">注</b><small class="雙行夾注">晝三夜二</small><small class="旁注">晝三夜二疑非仲景法</small></p>
</div>
<p>傷寒八九日。風濕相摶。身體疼煩。不能自轉側。不嘔。不渴。脉浮虛而濇者。桂枝附子湯主之。若其人大便鞕。小便不利者。去桂加白朮湯主之。</p>
<div class="縮進1字">
<p>桂枝附子湯</p>
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">四兩</small>　附子<small class="旁注">炮去皮破</small><small class="雙行夾注">三枚</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small></p>
</div>
<p>右五味。以水六升。煮取二升。去滓。分溫三服。</p>
<div class="縮進1字">
<p>去桂加白朮湯</p>
<p>附子<small class="旁注">炮去皮破</small><small class="雙行夾注">三枚</small>　白朮<small class="雙行夾注">四兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右五味。以水六升。煮取二升。去滓。分溫三服。</p>
<p>初一服。其人身如痺。半日許復服之。三服都盡。其人如冒狀。勿怪。此以附子朮。併走皮內。逐水氣。未得除。故使之耳。□法當加桂四兩。<b class="圓圈">注</b><small class="雙行夾注">此本一方二法。以大便鞕。小便不利去桂也。以大便不鞕。小便不利。當加桂。附子三枚<small class="旁注">恐多也</small>。虛弱家及產婦。宜減服之。</small></p>
</div>
<p>風濕相摶。骨節疼煩。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。甘草附子湯主之。</p>
<div class="縮進1字">
<p>甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　附子<small class="旁注">炮去皮破</small><small class="雙行夾注">二枚</small>　白朮<small class="雙行夾注">二兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">四兩</small></p>
<p>右四味。以水六升。煮取三升。去滓。溫服一升。日三服。<b class="圓圈">注</b><small class="雙行夾注">初服得微汗則解。能食汗出止。復煩者。將服五合。恐一升多者。宜服六七合為妙。</small></p>
</div>
<p>傷寒脉浮滑。白虎湯主之。</p>
<div class="縮進1字">
<p>知母<small class="雙行夾注">六兩</small>　石膏<small class="旁注">碎</small><small class="雙行夾注">一斤</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　粳米<small class="雙行夾注">六合</small></p>
<p>右四味。以水一斗。煮米熟。湯成去滓。溫服一升。日三服。</p>
</div>
<p>傷寒解而後。脉結代。心動悸。炙甘草湯主之。</p>
<div class="縮進1字">
<p>甘草<small class="旁注">炙</small><small class="雙行夾注">四兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">二兩</small>　生地黃<small class="雙行夾注">一斤</small>　桂枝<small class="雙行夾注">三兩</small>　阿膠<small class="雙行夾注">二兩</small>　麥門冬<small class="旁注">去心</small><small class="雙行夾注">半升</small>　麻仁<small class="雙行夾注">半升</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">三十枚</small></p>
<p>右九味。以清酒七升。水八升。先煮八味。取三升。去滓。內膠烊消盡。溫服一升。日三服。<small class="雙行夾注">一名復脉湯</small></p>
</div>
<div class="縮進2字">
<p>脉按之來緩。時一止復來者。名曰結。又脉來動而中止。更來小數。中有還者。反動。名曰結陰也。脉來動而中止。不能自還。因而復動者。名曰代陰也。得此脉者必難治。</p>
</div>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨陽明病</h2>
</div>
<div class="縮進2字">
<p>問曰。病有大陽陽明。有正陽陽明。有少陽陽明。何謂也。答曰。大陽陽明者。脾約是也。正陽陽明者。胃家實是也。少陽陽明者。發汗利小便已。胃中燥煩實。大便難。是也。</p>
</div>
<p>陽明之為病。胃家實是也。</p>
<div class="縮進2字">
<p>問曰。何緣得陽明病。答曰。大陽病。發汗。若下。若利小便。此亡津液。胃中乾燥。因轉屬陽明。不更衣。內實大便難者。此名陽明也。</p>
<p>問曰。陽明病外證云何。答曰。身熱汗自出不惡寒。反惡熱也。</p>
<p>問曰。病有得之一日。不發熱而惡寒者。何也。答曰。雖得之一日。惡寒將自罷。卽自汗出而惡熱也。</p>
<p>問曰。惡寒何故自罷。答曰。陽明居中。主土也。萬物所歸。無所復傳。始雖惡寒。二日自止。此為陽明病也。</p>
</div>
<p>本大陽。初得病時。發其汗。汗先出不徹。因轉屬陽明也。傷寒。發熱無汗。嘔不能食。而反汗出濈濈然者。是轉屬陽明也。</p>
<div class="縮進2字">
<p>傷寒三日。陽明脉大。</p>
<p>傷寒脉浮而緩。手足自溫者。是為繫在太陰。太陰者。身當發黃。若小便自利者。不能發黃。至七八日。大便難者。為陽明病也。</p>
<p>傷寒轉繫陽明者。其人濈然。微汗出也。</p>
<p>陽明中風。口苦咽乾。腹滿微喘。發熱惡寒。脉浮而緊。若下之。則腹滿小便難也。</p>
<p>陽明病。若能食。名中風。不能食。名中寒。</p>
</div>
<div class="縮進1字">
<p>陽明病。若中寒者。不能食。小便不利。手足濈然汗出。<small class="旁注">此欲作固瘕</small>必大便初鞕後溏<b class="圓圈">注</b><small class="雙行夾注">所以然者。以胃中冷。水穀不別故也。</small></p>
<p>陽明病。初欲食。小便反不利。大便自調。其人骨節疼。翕翕如有熱狀。奄然發狂。□□□□濈然汗出。而解。<b class="圓圈">注</b><small class="雙行夾注">汗出而解者。此水不勝穀氣。與汗共併。脉緊則愈。</small></p>
</div>
<div class="縮進2字">
<p>陽明病。欲解時。從申至戌上。</p>
</div>
<div class="縮進1字">
<p>陽明病。不能食<small class="旁注">以其人本虛。攻其熱必噦。</small>。攻其熱必噦<b class="圓圈">注</b><small class="雙行夾注">所以然者。胃中虛冷故也。</small></p>
<p>陽明病。脉遲。食難用飽。飽則微煩。頭眩。必小便難<small class="旁注">此欲作穀癉</small>。雖下之。腹滿如故<b class="圓圈">注</b><small class="雙行夾注">所以然者。脉遲故也。</small></p>
</div>
<div class="縮進2字">
<p>陽明病。法多汗。反無汗。其身如蟲行皮中狀者。此以久虛故也。</p>
<p>陽明病。反無汗。而小便利。二三日嘔而欬。手足厥者。必苦頭痛。若不欬不嘔。手足不厥者。頭不痛。</p>
<p>陽明病。但頭眩。不惡寒。故能食而欬。其人咽必痛。若不欬者。咽不痛。</p>
</div>
<div class="縮進1字">
<p>陽明病。無汗。小便不利。心中懊憹者。身必發黃。</p>
<p>陽明病。被火。額上微汗出。而小便不利者。必發黃。</p>
</div>
<div class="縮進2字">
<p>陽明病。脉浮而緊者。必潮熱發作有時。但浮者。必盜汗出。</p>
<p>陽明病。口燥。但欲漱水。不欲嚥者。此必衄。</p>
</div>
<div class="縮進1字">
<p>陽明病。本自汗出。醫更重發汗。病已差。尚微煩不了了者<small class="旁注">此必大便鞕故也</small>。以亡津液胃中乾燥。故令大便鞕。<b class="圓圈">注</b><small class="雙行夾注">當問其小便日幾行。若本小便日三四行。今日再行。故知大便不久出。今為小便數少。以津液當還入胃中。故知不久必大便也。</small></p>
<p>傷寒嘔多。雖有陽明證。不可攻之。</p>
</div>
<div class="縮進2字">
<p>陽明病。心下鞕滿者。不可攻之。攻之利遂不止者死。利止者愈。</p>
<p>陽明病。面合赤色。不可攻之。必發熱色黃者。小便不利也。</p>
<p>陽明病。不吐不下。心煩者。可與調胃承氣湯。</p>
</div>
<p>陽明病。脉遲。雖汗出。不惡寒者。其身必重。短氣腹滿而喘。有潮熱。<small class="旁注">有潮熱者。此外欲解。可攻裏也。</small>手足濈然汗出者<small class="旁注">汗出者。此大便已鞕也。</small>。大承氣湯主之。</p>
<div class="縮進1字">
<p>若汗多。微發熱惡寒者。外未解也。其熱不潮。未可與承氣湯。若腹大滿。不通者。可與小承氣湯。微和胃氣。勿令至大泄下。</p>
<p>大承氣湯</p>
<p>大黃<small class="旁注">酒洗</small><small class="雙行夾注">四兩</small>　厚朴<small class="旁注">炙去皮</small><small class="雙行夾注">半斤</small>　枳實<small class="旁注">炙</small><small class="雙行夾注">五枚</small>　芒硝<small class="雙行夾注">三合</small></p>
<p>右四味。以水一斗。先煮二物。取五升。去滓。內大黃。更煮取二升。去滓。內芒硝。更上微火一兩沸。分溫再服。<b class="圓圈">注</b><small class="雙行夾注">得下餘勿服。</small></p>
<p>小承氣湯</p>
<p>大黃<small class="雙行夾注">四兩</small>　厚朴<small class="旁注">炙去皮</small><small class="雙行夾注">二兩</small>　枳實<small class="旁注">大者炙</small><small class="雙行夾注">三枚</small></p>
<p>右三味。以水四升。煮取一升二合。去滓。分溫二服。<b class="圓圈">注</b><small class="雙行夾注">初服湯。當更衣。不爾者。盡飲之。若更衣者。勿服之。</small></p>
</div>
<p>陽明病。潮熱。小便微鞕者。可與小承氣湯。<small class="旁注">不鞕者。不可與之。</small></p>
<div class="縮進1字">
<p>若不大便六七日。恐有燥屎。欲知之法。少與小承氣湯。湯入腹中。轉矢氣者。此有燥屎也。乃可攻之。若不轉矢氣者。此但初頭鞕。後必溏。不可攻之。攻之必脹滿。不能食也。欲飲水者。與水則噦。其後發熱者。必大便復鞕而少也。以小承氣湯和之。不轉矢氣者。慎不可攻也。</p>
<p>夫實則讝語。虛則鄭聲。<b class="圓圈">注</b><small class="雙行夾注">鄭聲重語也。</small></p>
</div>
<div class="縮進2字">
<p>直視讝語。喘滿者死。下利者亦死。發汗多。若重發汗者。亡其陽。讝語。脉短者死。脉自和者不死。</p>
</div>
<p>傷寒。若吐若下後。不解。不大便五六日以上。至十餘日。日晡所發潮熱。不惡寒。獨語如見鬼狀。若劇者。發則不識人。循衣摸牀。怵惕而不安。微喘直視<small class="旁注">脉弦者生。濇者死。微者但發潮熱。</small>讝語者大承氣湯主之。<b class="圓圈">注</b><small class="雙行夾注">若一服利。則止後服。</small></p>
<div class="縮進1字">
<p>陽明病。其人多汗。以津液外出。胃中燥。大便必鞕。鞕則讝語。小承氣湯主之。若一服讝語止者。更莫復服。</p>
<p>陽明病。譫語發潮熱。脉滑而疾者。小承氣湯主之。</p>
</div>
<div class="縮進2字">
<p>因與承氣湯一升。腹中轉氣者。更服一升。若不轉氣者。勿更與之。明日又不大便。脉反微濇者。裏虛也。為難治。不可更與承氣湯也。</p>
<p>陽明病。讝語有潮熱。反不能食者。胃中必有燥屎五六枚。若能食者。但鞕耳。宜大承氣湯下之。</p>
<p>陽明病。下血讝語者。此為熱入血室。但頭汗出者。刺期門。隨其實而瀉之。濈然汗出則愈。</p>
</div>
<div class="縮進1字">
<p>汗出讝語者。以有燥屎在胃中<small class="旁注">此為風</small>。須下者。過經乃可下之。下之若早。語言必亂。以表虛裏實故也<small class="旁注">下之愈</small>。宜大承氣湯。傷寒四五日。脉沈而喘滿<small class="旁注">沈為在裏</small>。而反發其汗。津液越出。大便為難。表虛裏實。久則讝語。</p>
</div>
<p>三陽合病。腹滿身重。難以轉側。口不仁。面垢。讝語。遺尿。發汗。讝語。□□□下之則額上生汗。手足逆冷。若自汗出者。白虎湯主之。</p>
<p>二陽併病。大陽證罷。但發潮熱。手足漐漐汗出。大便難而讝語者。下之則愈。宜大承氣湯。</p>
<p>陽明病。脉浮而緊。咽燥口苦。腹滿而喘。發熱汗出。不惡寒反惡熱。身重。若發汗則躁。心憒憒反讝語。若加溫針。必怵惕煩躁不得眠。若下之則胃中空虛。客氣動膈心中懊憹。舌上胎者。梔子豉湯主之。若渴欲飲水<small class="旁注">脉浮發熱</small>。口乾舌燥者。小便不利者。豬苓湯主之。</p>
<div class="縮進2字">
<p>陽明病汗出多而渴者。不可與豬苓湯以汗多胃中燥。豬苓湯復利其小便也。</p>
</div>
<div class="縮進1字">
<p>脉浮而遲。表熱裏寒。下利清穀者。囘逆湯主之。</p>
</div>
<div class="縮進2字">
<p>若胃中虛冷。不能食者。飲水則噦。脉浮發熱。口乾鼻燥。能食者。則衄。</p>
</div>
<p>陽明病。下之。其外有熱。手足溫<small class="旁注">小結胸</small>。心中懊憹。飢不能食。但頭汗出者。梔子豉湯主之。</p>
<p>陽明病發潮熱。大便溏。小便自可。胸脇滿不去者。柴胡湯主之。</p>
<div class="縮進1字">
<p>陽明病。脇下鞕滿。不大便而嘔。舌上白胎者。可與小柴胡湯。上焦得通。津液得下。胃氣因和。身濈然汗出而解。</p>
</div>
<p>陽明病。中風。脉弦浮大。而短氣。腹都滿。脇下及心痛。久按之氣不通。鼻乾不得汗。嗜臥。一身及面目悉黃。小便難。有潮熱。時時噦。耳前後腫。刺之小差。外不解。病過十日。脉續浮者。與小柴胡湯。脉但浮。無餘症者。與麻黃湯。<b class="圓圈">注</b><small class="雙行夾注">若不尿。腹滿加噦者。不治。</small></p>
<div class="縮進1字">
<p>陽明病自汗出。若發汗。小便自利者<small class="旁注">此為津液內竭</small>。雖鞕不可攻之。當須自欲大便。宜蜜煎導而通之。若土瓜根。及大豬膽汁。皆可為導。</p>
<p>蜜煎方</p>
<p>食蜜<small class="雙行夾注">七合</small></p>
<p>右一味。於銅器內。微火煎。當須凝如飴狀。攪之勿令焦著。候可丸。並手捻作挺。令頭銳。大如指。長二寸許。當熱時急作。冷則鞕。以內穀道中。以手急抱。欲大便時。乃去之。已試甚良<small class="旁注">疑非仲景意</small>。</p>
<p>又大豬膽一枚。瀉汁和少許法酢。以灌穀道內。如一食頃。當大便出宿食惡物。甚效。</p>
</div>
<div class="縮進2字">
<p>陽明病。脉遲。汗出多。微惡寒者。表未解也。可發汗。宜桂枝湯。</p>
<p>陽明病。脉浮。無汗而喘者。發汗則愈。宜麻黃湯。</p>
</div>
<p>陽明病。發熱。汗出者<small class="旁注">此為熱越</small>。不能發黃也。但頭汗出。身無汗。劑頸而還。小便不利<small class="旁注">此為瘀熱有裏</small>。渴引水漿者。身必發黃。茵陳蒿湯主之。</p>
<div class="縮進1字">
<p>茵陳蒿湯方</p>
<p>茵陳蒿<small class="雙行夾注">六兩</small>　梔子<small class="旁注">擘</small><small class="雙行夾注">十四枚</small>　大黃<small class="雙行夾注">二兩</small></p>
<p>右三味。以水一斗二升。先煮茵陳。減六升。內二味。煮取三升。去滓。分三服。小便當利。<b class="圓圈">注</b><small class="雙行夾注">尿如皂莢汁狀。色正赤。一宿。腹減。黃從小便去也。</small></p>
</div>
<p>陽明證。其人喜忘者。必有蓄血<small class="旁注">所以然者。本有久瘀血。故令喜忘。</small>。尿雖難。大便反易。而其色必黑者。宜抵當湯。下之。</p>
<p>陽明病。下之。心中懊憹而煩。胃中有燥屎者。宜大承氣湯。<b class="圓圈">注</b><small class="雙行夾注">若有燥屎者。可攻。腹微滿。初頭鞕。後必溏。不可攻之。</small></p>
<div class="縮進1字">
<p>病人不大便五六日。繞臍痛。煩躁。發作有時者。此有燥屎。故使不大便也。病人煩熱。汗出則解。又如瘧狀。日晡所發熱者。屬陽明也。脉實者。宜下之。脉浮虛者。宜發汗。下之與大承氣湯。發汗宜桂枝湯。</p>
</div>
<p>大下後。六七日不大便。煩不解。腹滿痛者。此有燥屎也<small class="旁注">所以然者。本有宿食故也。</small>。宜大承氣湯。</p>
<div class="縮進1字">
<p>病人小便不利。大便乍難乍易。時有微熱。喘冒不能臥者。有燥屎也。宜大承氣湯。</p>
</div>
<p>食穀欲嘔。屬陽明也。吳茱萸湯主之。<b class="圓圈">注</b><small class="雙行夾注">得湯反劇者。屬上焦也。</small></p>
<div class="縮進1字">
<p>大陽病。脉<small class="旁注">寸關尺</small>緩浮弱。其人發熱汗出。復惡寒。不嘔。但心下痞者。此以醫下之也。如其不下者。病人不惡寒而渴<small class="旁注">渴者此轉屬陽明也</small>。小便數者。大便必鞕。不更衣十日。無所苦也。渴欲飲水。少少與之。但以法救之。渴者。宜五苓散。</p>
</div>
<div class="縮進2字">
<p>脉陽微而汗出少者。為自和也。汗出多者。為太過。陽脉實。因發其汗。汗出多者。亦為太過。太過者。為陽絕於裏。亡津液。大便因鞕也。</p>
<p>脉浮而芤。浮為陽。芤為陰。浮芤相摶。胃氣生熱。其陽則絕。</p>
<p>趺陽脉浮而濇。浮則胃氣強。濇則小便數。浮濇相摶。大便則難。其脾為約。麻子仁丸主之。</p>
</div>
<div class="縮進1字">
<p>麻子仁<small class="雙行夾注">二升</small>　芍藥<small class="雙行夾注">半斤</small>　枳實<small class="旁注">炙</small><small class="雙行夾注">半斤</small>　大黃<small class="旁注">去皮</small><small class="雙行夾注">一斤</small>　厚朴<small class="旁注">去皮炙</small><small class="雙行夾注">一尺</small></p>
<p>杏仁<small class="旁注">去皮尖熬</small><small class="雙行夾注">一升</small></p>
<p>右六味。蜜和丸如梧桐子大。飲服十丸。日三服。<b class="圓圈">注</b><small class="雙行夾注">漸加以知為度。</small></p>
</div>
<p>大陽病三日。發汗不解。蒸蒸發熱者。屬胃也。調胃承氣湯主之。</p>
<div class="縮進1字">
<p>傷寒吐後。腹脹滿者。與調胃承氣湯。</p>
<p>大陽病。若吐。若下。若發汗後。微煩。小便數。大便因鞕者。與小承氣湯。和之愈。</p>
</div>
<div class="縮進2字">
<p>得病二三日。脉弱。無大陽柴胡證。煩躁心下鞕。至四五日。雖能食。以小承氣湯。少少與之。微和之。令小安。至六日。與承氣湯一升。若不大便六七日。小便少者。雖不受食。但初頭鞕後必溏。未定成鞕。攻之必溏。須小便利。屎定鞕。乃可攻之。宜大承氣湯。</p>
</div>
<div class="縮進1字">
<p>傷寒六七日。目中不了了。睛不和。無表裏證。大便難。身微熱者此為實也。急下之。宜大承氣湯。</p>
</div>
<div class="縮進2字">
<p>陽明病。發熱汗多者。急下之。宜大承氣湯。</p>
<p>發汗不解。腹滿痛者。急下之。宜大承氣湯。腹滿不減。減不足言。當下之。宜大承氣湯。</p>
</div>
<div class="縮進1字">
<p>陽明少陽合病。必下利<small class="旁注">其脉不負者。為順也</small>。<b class="圓圈">注</b><small class="雙行夾注">負者失也。互相剋賊。名為負也。</small><b class="陰文">論</b>脉滑而數者。有宿食也。當下之。宜大承氣湯。</p>
</div>
<div class="縮進2字">
<p>病人無表裏證。發熱七八日。雖脉浮數者。可下之。假令已下。脉數不解。合熱則消穀喜飢。至六七日。不大便者。有瘀血。宜抵當湯。若脉數不解。而下不止。必協熱便膿血也。</p>
</div>
<div class="縮進1字">
<p>傷寒發汗已。身目為黃。所以然者。以寒濕在裏不解故也。以為不可下也。□□□□□<b class="圓圈">注</b><small class="雙行夾注">於寒濕中求之。</small></p>
</div>
<p>傷寒七八日。身黃如橘子色。小便不利。腹微滿者。茵陳蒿湯主之。</p>
<p>傷寒身黃發熱者。梔子蘗皮湯主之。</p>
<div class="縮進1字">
<p>肥梔子<small class="旁注">擘</small><small class="雙行夾注">十五個</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">一兩</small>　黃蘗<small class="雙行夾注">二兩</small></p>
<p>右三味。以水四升。煮取一升半。去滓。分溫再服。</p>
<p>傷寒瘀熱在裏。身必發黃。麻黃連軺赤小豆湯主之。</p>
<p>麻黃<small class="旁注">去節</small><small class="雙行夾注">二兩</small>　連軺<small class="旁注">連翹根是也</small><small class="雙行夾注">二兩</small>　杏仁<small class="旁注">去皮尖</small><small class="雙行夾注">四十個</small>　赤小豆<small class="雙行夾注">一升</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　生梓白皮<small class="旁注">切</small><small class="雙行夾注">一升</small>　生姜<small class="旁注">切</small><small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small></p>
<p>右八味。以潦水一斗。先煮麻黃再沸。去上沫。內諸藥。煮取三升。去滓。分溫三服。<b class="圓圈">注</b><small class="雙行夾注">半日服盡</small></p>
</div>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨少陽病</h2>
</div>
<p>少陽之為病。口苦咽乾目眩也。</p>
<div class="縮進1字">
<p>少陽病。兩耳無所聞。目赤。胸中滿而煩者。不可吐下。吐下則悸而驚。</p>
<p>傷寒脉弦細。頭痛發熱者。屬少陽。</p>
<p>少陽不可發汗。<small class="旁注">此屬胃。胃不和煩而悸。</small>發汗則讝語。胃和則愈。</p>
</div>
<p>本大陽病不解。轉入少陽者。脇下鞕滿。乾嘔不能食。往來寒熱。尚未吐下。脉沈緊者。與小柴胡湯。</p>
<p>若已吐下發汗溫針。讝語。柴胡證罷。此為壞病。<b class="圓圈">注</b><small class="雙行夾注">知犯何逆。以法治之。</small></p>
<div class="縮進1字">
<p>三陽合病。脉浮大<small class="旁注">上關上</small>。但欲眠睡。目合則汗。</p>
</div>
<div class="縮進2字">
<p>傷寒六七日。無大熱。其人躁煩者。此為陽去入陰故也。</p>
<p>傷寒三日。三陽為盡。三陰當受邪。其人反能食。而不嘔。此三陰不受邪也。</p>
<p>傷寒三日。少陽脉小者。欲已也。少陽病欲解時。從寅至辰上。</p>
</div>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨大陰病</h2>
</div>
<p>大陰之為病。腹滿而吐。食不下。自利益甚。時腹自痛。若下之。必胸下結鞕。</p>
<div class="縮進2字">
<p>大陰中風。四肢煩疼。脉陽微陰濇而長者。為欲愈。</p>
<p>大陰病。欲解時。從亥至丑上。</p>
</div>
<div class="縮進1字">
<p>大陰病。脉浮者。少可發汗宜桂枝湯。自利不渴者。屬大陰。藏有寒故也。當溫之。<b class="圓圈">注</b><small class="雙行夾注">宜服四逆輩。</small></p>
<p>傷寒脉浮而緩。手足自溫者。繫在大陰。當發身黃。若小便自利者。不能發黃。□□□□至七八日。雖暴煩。下利日十餘行。必自止。<b class="圓圈">注</b><small class="雙行夾注">以脾家實。腐穢當去故也。</small></p>
</div>
<p>本大陽病。醫反下之。因爾腹滿時痛者。桂枝加芍藥湯主之屬大陰也。大實痛者。桂枝加大黃湯主之。</p>
<div class="縮進1字">
<p>桂枝加芍藥湯</p>
<p>桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">六兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small></p>
<p>右五味。以水七升。煮取三升。去滓。溫分三服。<b class="圓圈">注</b><small class="雙行夾注">本云桂枝湯。今加芍藥。</small></p>
<p>桂枝加大黃湯</p>
<p>桂枝<small class="雙行夾注">三兩</small>　大黃<small class="雙行夾注">二兩</small>　芍藥<small class="雙行夾注">六兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　甘草<small class="雙行夾注">二兩</small>　大棗<small class="雙行夾注">十二枚</small></p>
<p>右六味。以水七升。煮取三升。去滓。溫服一升。日三服。</p>
</div>
<div class="縮進2字">
<p>大陰為病。脉弱。其人續自便利。設當行大黃芍藥者。宜減之。以其人胃氣弱。易動故也。</p>
</div>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨少陰病</h2>
</div>
<p>少陰之為病。脉微細。但欲寐也。</p>
<div class="縮進1字">
<p>少陰病。欲吐不吐。心煩。但欲寐。五六日自利而渴者<small class="旁注">屬少陰也</small>。虛故引水自救。若小便色白者。少陰病形悉具。<b class="圓圈">注</b><small class="雙行夾注">小便白者。以下焦虛有寒。不能制水。故令色白也。</small></p>
</div>
<div class="縮進2字">
<p>病人脉陰陽俱緊。反汗出者。亡陽也。此屬少陰。法當咽痛而復吐利。少陰病。欬而下利讝語者。被火氣劫故也。小便必難。以強責少陰。汗也。</p>
<p>少陰病。脉細沈數。病為在裏。不可發汗。</p>
<p>少陰病。脉微。不可發汗。亡陽故也。陽已虛。尺脉弱濇者。復不可下之。少陰病。脉緊。至七八日。自下利。脉暴微。手足反溫。脉緊反去者。為欲解也。雖煩。下利必自愈。</p>
<p>少陰病下利。若利自止。惡寒而踡臥。手足溫者。可治。</p>
<p>少陰病。惡寒而踡。時自煩。欲去衣被者。可治。</p>
<p>少陰中風。脉陽微陰浮者。為欲愈。</p>
<p>少陰病欲解時。從子至寅上。</p>
<p>少陰病。吐利。手足不逆冷。反發熱者。不死。脉不至者。炙少陰七壯。</p>
<p>少陰病。八九日。一身手足盡熱者。以熱在膀胱。必便血也。</p>
<p>少陰病。但厥無汗。而強發之。必動其血。未知從何道出。或從口鼻。或從目出者。是名下厥上竭。為難治。少陰病。惡寒身踡。而利。手足逆冷者。不治。</p>
<p>少陰病。吐利躁煩。四逆者死。</p>
<p>少陰病。下利止。而頭眩。時時自冒者死。</p>
<p>少陰病。四逆。惡寒而身踡。脉不至。不煩而躁者死。</p>
<p>少陰病。六七日。息高者死。</p>
<p>少陰病。脉微細沈。但欲臥。汗出不煩。自欲吐。至五六日。自利。復煩躁。不得臥寐者。死。</p>
</div>
<p>少陰病。始得之。反發熱脉沈者。麻黃細辛附子湯主之。</p>
<div class="縮進1字">
<p>麻黃<small class="旁注">去節</small><small class="雙行夾注">二兩</small>　細辛<small class="雙行夾注">二兩</small>　附子<small class="旁注">炮去皮破八片</small><small class="雙行夾注">一枚</small></p>
<p>右三味。以水一斗。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。日三服。</p>
</div>
<p>少陰病。得之二三日。麻黃附子甘草湯。微發汗。<b class="圓圈">注</b><small class="雙行夾注">以二三日無裏證。故微發汗也。</small></p>
<div class="縮進1字">
<p>麻黃附子甘草湯方</p>
<p>麻黃<small class="旁注">去節</small><small class="雙行夾注">二兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　附子<small class="旁注">炮去皮破八片</small><small class="雙行夾注">一枚</small></p>
<p>右三味。以水七升。先煮麻黃。一兩沸。去上沫。內諸藥。煮取三升。去滓。溫服一升。日三服。</p>
</div>
<p>少陰病。得之二三日以上。心中煩不得臥者。黃連阿膠湯主之。</p>
<div class="縮進1字">
<p>黃連<small class="雙行夾注">四兩</small>　黃芩<small class="雙行夾注">二兩</small>　芍藥<small class="雙行夾注">二兩</small>　雞子黃<small class="雙行夾注">二枚</small>　阿膠<small class="旁注">一云三挺</small><small class="雙行夾注">三兩</small></p>
<p>右五味。以水六升。先煮三物。取二升。去滓。內膠烊盡。小冷。內雞子黃。攪令相得。溫服七合。日三服。</p>
</div>
<p>少陰病。得之一二日。口中和。其背惡寒者。附子湯主之。</p>
<div class="縮進1字">
<p>附子<small class="旁注">炮去皮破八片</small><small class="雙行夾注">二枚</small>　茯苓<small class="雙行夾注">三兩</small>　人參<small class="雙行夾注">二兩</small>　白朮<small class="雙行夾注">四兩</small>　芍藥<small class="雙行夾注">三兩</small></p>
<p>右五味。以水八升。煮取三升。去滓。一升。日三服。</p>
</div>
<p>少陰病。身體痛。手足寒。骨節痛。脉沈者。附子湯主之。</p>
<p>少陰病。下利。便膿血者。桃花湯主之。</p>
<div class="縮進1字">
<p>赤石脂<small class="旁注">一半全用一半篩末</small><small class="雙行夾注">一斤</small>　乾姜<small class="雙行夾注">一兩</small>　粳米<small class="雙行夾注">一升</small></p>
<p>右三味。以水七升。煮米令熟。去滓。內赤石脂末方寸匕<small class="旁注">溫服七合</small>。日三服。<b class="圓圈">注</b><small class="雙行夾注">若一服愈。餘勿服。</small></p>
</div>
<p>少陰病。二三日至四五日。腹痛。小便不利。下利不止。便膿血者。桃花湯主之。</p>
<div class="縮進1字">
<p>少陰病。下利。便膿血者。可刺。</p>
</div>
<p>少陰病。吐利。手足逆冷。煩躁欲死者。吳茱萸湯主之。</p>
<div class="縮進1字">
<p>吳茱萸<small class="雙行夾注">一升</small>　人參<small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">六兩</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">十二枚</small></p>
<p>右四味。以水七升。煮取二升。去滓。溫服七合。日三服。</p>
</div>
<p>少陰病。下利。咽痛。胸滿。心煩。豬膚湯主之。</p>
<div class="縮進1字">
<p>豬膚<small class="雙行夾注">一斤</small></p>
<p>右一味。以水一斗。煮取五升。去滓。加白蜜一升。白粉五合。熬香。和令相得。溫分六服。</p>
</div>
<p>少陰病。二三日。咽痛者。可與甘草湯。不差者。與桔梗湯。</p>
<div class="縮進1字">
<p>甘草湯方</p>
<p>甘草<small class="雙行夾注">二兩</small></p>
<p>右一味。以水三升。煮取一升半。去滓。溫服七合。日三服。</p>
<p>桔梗湯方</p>
<p>桔梗<small class="雙行夾注">一兩</small>　甘草<small class="雙行夾注">二兩</small></p>
<p>右二味。以水三升。煮取一升。去滓。溫分再服。</p>
<p>少陰病。咽中傷生瘡。不能語言。聲不出者。半夏苦酒湯主之。</p>
<p>半夏<small class="旁注">洗破如棗核</small><small class="雙行夾注">十四枚</small>　雞子<small class="旁注">去黃內上苦酒。著雞子殼中</small><small class="雙行夾注">一枚</small></p>
<p>右二味。內半夏。著苦酒中。以雞子殼。置刀環中。安火上。令三沸。去滓。少少含嚥之。不差。更作三劑。</p>
<p>少陰病。咽中痛。半夏散及湯主之。</p>
<p>半夏<small class="旁注">洗</small>　桂枝<small class="旁注">去皮</small>　甘草<small class="旁注">炙</small></p>
<p>右三味。等分。各別擣篩已。合治之。白飲和。服方寸匕。日三服。若不能服散者。以水一升。煮七沸。內散兩方寸匕。更煮三沸。下火令小冷。少少嚥之。<b class="圓圈">注</b><small class="雙行夾注">半夏有毒。不當散服。</small></p>
</div>
<p>少陰病。下利。白通湯主之。</p>
<div class="縮進1字">
<p>蔥白<small class="雙行夾注">四莖</small>　乾姜<small class="雙行夾注">一兩</small>　附子<small class="旁注">生去皮破八片</small><small class="雙行夾注">一枚</small></p>
<p>右三味。以水三升。煮取一升。去滓。分溫再服。</p>
</div>
<p>少陰病。下利脉微者。與白通湯。利不止。厥逆無脉。乾嘔煩者。白通加豬膽汁湯主之。<b class="圓圈">注</b><small class="雙行夾注">服湯。脉暴出者死。微續者生。</small></p>
<div class="縮進1字">
<p>蔥白<small class="雙行夾注">四莖</small>　乾姜<small class="雙行夾注">一兩</small>　附子<small class="旁注">生去皮破八片</small><small class="雙行夾注">一枚</small>　人尿<small class="雙行夾注">五合</small>　豬膽汁<small class="雙行夾注">一合</small></p>
<p>右五味。以水三升。煮取一升。去滓。內膽汁人尿。和令相得。分溫再服<b class="圓圈">注</b><small class="雙行夾注">若無膽。亦可用。</small></p>
</div>
<p>少陰病。二三日不已。至四五日。腹痛小便不利。四肢沈重疼痛。自下利<small class="旁注">自下利者。此為有水氣也。</small>。其人或欬。或小便利。或下利。或嘔者。玄武湯主之。</p>
<div class="縮進1字">
<p>茯苓<small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">三兩</small>　白朮<small class="雙行夾注">二兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">三兩</small>　附子<small class="旁注">炮去皮破八片</small><small class="雙行夾注">一枚</small></p>
<p>右五味。以水八升。煮取三升。去滓。溫服七合。日三服。若欬者。加五味子半升。細辛一兩。乾姜一兩。若小便利者。去茯苓。若下利者。去芍藥。加乾姜二兩。若嘔者。去附子。加生姜。足前為半斤。</p>
</div>
<p>少陰病。下利清穀。裏寒外熱。手足厥逆。脉微欲絕。身反不惡寒。其人面色赤。或腹痛。或乾嘔。或咽痛。或利止。脉不出者。通脉囘逆湯主之。</p>
<div class="縮進1字">
<p>甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　附子<small class="旁注">生用去皮破八片</small><small class="雙行夾注">大者一枚</small>　乾姜<small class="旁注">強人可四兩</small><small class="雙行夾注">三兩</small></p>
<p>右三味。以水三升。煮取一升二合。去滓。分溫再服。其脉卽出者愈。面色赤者。加蔥九莖。腹中痛者。去蔥。加芍藥二兩。嘔者。加生姜二兩。咽痛者。去芍藥。加桔梗一兩。利止脉不出者。去桔梗。加人參二兩。<b class="圓圈">注</b><small class="雙行夾注">脉病皆與方相應者乃服之。</small></p>
</div>
<p>少陰病<small class="旁注">四逆</small>。其人或欬。或悸。或小便不利。或腹中痛。或泄利下重者。囘逆散主之。</p>
<div class="縮進1字">
<p>甘草<small class="旁注">炙</small>　枳實<small class="旁注">破水漬炙乾</small>　柴胡　芍藥</p>
<p>右四味。各十分。擣篩。白飲和。服方寸匕。日三服。欬者加五味子。乾姜各五分。并主下利。悸者。加桂枝五分。小便不利者。加茯苓五分。腹中痛者。加附子一枚。炮令折。泄利下重者。先以水五升。煮薤白三莖。煮取三升。去滓。以散三方寸匕。內湯中。煮取一升半。分溫再服。</p>
</div>
<p>少陰病。下利六七日。欬而嘔渴。心煩不得眠者。豬苓湯主之。</p>
<div class="縮進1字">
<p>豬苓　茯苓　阿膠　澤瀉　滑石<small class="雙行夾注">各一兩</small></p>
<p>右五味。以水四升。先煮四物。取二升。去滓。內阿膠。烊盡。溫服七合。日三服。</p>
</div>
<p>少陰病。得之二三日。口燥咽乾者。急下之。宜大承氣湯。</p>
<p>少陰病。自利清水。色純青。心下必痛。口乾燥者。可下之。宜大承氣湯。</p>
<div class="縮進2字">
<p>少陰病。六七日。腹脹不大便者。急下之。宜大承氣湯。</p>
</div>
<p>少陰病。脉沈者。急溫之。宜囘逆湯。</p>
<div class="縮進1字">
<p>甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　乾姜<small class="雙行夾注">一兩半</small>　附子<small class="旁注">生用去皮破八片</small><small class="雙行夾注">一枚</small></p>
<p>右三味。以水三升。煮取一升二合。去滓。分溫再服。強人可大附子一枚，乾姜三兩。</p>
</div>
<p>少陰病。飲食入口則吐。心中溫溫欲吐。復不能吐。始得之。手足寒。脉弦遲<small class="旁注">脉弦遲者此胸中實當吐之</small>。不可下也。若隔上有寒飲。乾嘔者。不可吐也。當溫之。宜囘逆湯。</p>
<div class="縮進2字">
<p>少陰病。下利脉微濇。嘔而汗出。必數更衣。反少者。當溫其背上。炙之。</p>
</div>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨厥陰病</h2>
</div>
<p>厥陰之為病。氣上撞心<small class="旁注">消渴</small>。心中疼熱。飢而不欲食。食則吐<small class="旁注">吐蚘</small>。下之。利不止。</p>
<div class="縮進2字">
<p>厥陰中風。脉微浮。為欲愈。不浮為未愈。</p>
<p>厥陰病。欲解時。從丑至卯上。</p>
<p>厥陰病。渴欲飲水者。少少與之愈。</p>
<p>諸四逆厥者。不可下之。虛家亦然。</p>
<p>傷寒先厥。後發熱而利者。必自止。見厥復利。</p>
<p>傷寒始發熱六日。厥反九日而利。凡厥利者。當不能食。今反能食者。恐為除中。食以索餅。不發熱者。知胃氣尚在。必愈。恐暴熱來出而復去也。後三日脉之。其熱續在者。□期之旦日夜半愈。所以然者。本發熱六日。厥反九日。復發熱三日。并六日。亦為九日。與厥陰相應。故期之旦日夜半愈。後三日脉之而脉數。其熱不罷者。此為熱氣有餘。必發癰膿也。</p>
<p>傷寒脉遲六七日。而反與黃芩湯。徹其熱。脉遲為寒。今與黃芩湯。復除其熱。腹中應冷。當不能食。今反能食。此名除中。必死。</p>
<p>傷寒先厥後發熱。下利必自止。而反汗出。咽中痛者。其喉為痺。發熱無汗。而利必自止。若不止必便膿血。便膿血者。其喉不痺。</p>
<p>傷寒二三日至四五日。厥者。必發熱。前熱者。後必厥。厥深者。熱亦深。厥微者。熱亦微。厥應下之。而反發汗者。必口傷爛赤。</p>
<p>傷寒病。厥五日。熱亦五日。設六日。當復厥。不厥者自愈。厥終不過五日。以熱五日。故知自愈。</p>
</div>
<div class="縮進1字">
<p>凡厥者。陰陽氣不相順接。便為厥。<b class="圓圈">注</b><small class="雙行夾注">厥者。手足厥冷者是。</small></p>
<p>傷寒脉微而厥。至七八日膚冷。其人躁無暫安時者。非為蚘厥也<small class="旁注">此為臟厥</small><b class="圓圈">注</b><small class="雙行夾注">蚘厥者。其人當吐蚘。</small><b class="陰文">論</b>令病者靜。而復時煩<small class="旁注">此為藏寒</small><b class="圓圈">注</b><small class="雙行夾注">蚘上入其隔。故煩。</small><b class="陰文">論</b>須更復止。得食而嘔。又煩<small class="旁注">煩者蚘聞食臭出</small>。其人當自吐蚘。蚘厥者。烏梅丸主之。<b class="圓圈">注</b><small class="雙行夾注">又主久利。</small></p>
<p>烏梅<small class="雙行夾注">三百枚</small>　細辛<small class="雙行夾注">六兩</small>　乾姜<small class="雙行夾注">十兩</small>　黃連<small class="雙行夾注">十六兩</small>　當歸<small class="雙行夾注">四兩</small>　附子<small class="旁注">炮去皮</small><small class="雙行夾注">六兩</small></p>
<p>蜀椒<small class="旁注">出汗</small><small class="雙行夾注">四兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">六兩</small>　人參<small class="雙行夾注">六兩</small>　黃蘗<small class="雙行夾注">六兩</small></p>
<p>右十味。異擣篩。合治之。以苦酒漬烏梅一宿。去核。蒸之五斗米下。飯熟擣成泥。和藥令相得。內臼中。與蜜杵二千下。丸如梧桐子大。先食飲服十丸。日三服。稍加至二十丸。禁生冷滑物臭食等。</p>
</div>
<div class="縮進2字">
<p>傷寒熱少微厥。指頭寒。嘿嘿不欲食。煩躁數日。小便利。色白者。此熱除也。欲得食。其病為愈。若厥而嘔。胸脇煩滿者。其後必便血。</p>
<p>病者手足厥冷。言我不結胸。小腹滿。按之痛者。此冷結在膀胱關元也。</p>
<p>傷寒發熱四日。厥反三日。復熱四日。厥少熱多者。其病當愈。四日至七日。熱不除者。必便膿血。</p>
<p>傷寒厥四日。熱反三日。復厥五日。其病為進。寒多熱少。陽氣退。故為進也。</p>
<p>傷寒六七日。脉微。手足厥冷。煩躁。炙厥陰。厥不還者死。</p>
<p>傷寒發熱。下利厥逆。躁不得臥者死。</p>
<p>傷寒發熱。下利至甚。厥不止者死。</p>
<p>傷寒六七日。不利。便發熱而利。其人汗出不止者死。有陰無陽故也。</p>
<p>傷寒五六日。不結胸。腹濡。脉虛。復厥者。不可下。此亡血。下之死。發熱而厥。七日下利者。為難治。</p>
<p>傷寒脉促。手足厥逆者。可灸之。</p>
</div>
<p>傷寒脉滑而厥者。裏有熱也。白虎湯主之。</p>
<p>手足厥寒。脉細欲絕者。當歸囘逆湯主之。</p>
<p>若其人內有久寒者。宜當歸囘逆加吳茱萸生姜湯。</p>
<div class="縮進2字">
<p>又方</p>
<p>當歸<small class="雙行夾注">三兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">三兩</small>　細辛<small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　通草<small class="雙行夾注">二兩</small>　大棗<small class="旁注">擘一法十二枚</small><small class="雙行夾注">二十五枚</small></p>
<p>右九味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>當歸囘逆加吳茱萸生姜附子湯方</p>
<p>當歸<small class="雙行夾注">三兩</small>　芍藥<small class="雙行夾注">三兩</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　通草<small class="雙行夾注">二兩</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">三兩</small>　細辛<small class="雙行夾注">三兩</small>　生姜<small class="旁注">切</small><small class="雙行夾注">半斤</small>　茱萸<small class="雙行夾注">二升</small>　大棗<small class="旁注">擘</small><small class="雙行夾注">二十五枚</small></p>
<p>右九味。以水六升。清酒六升。和煮取三升。去滓。分溫五服。</p>
<p>大汗出。熱不去。內拘急。四肢疼。又下利厥逆。而惡寒者。囘逆湯主之。</p>
</div>
<div class="縮進1字">
<p>大汗。若大下利。而厥冷者。囘逆湯主之。</p>
<p>病人手足厥冷。脉乍緊者。邪結在胸中。心下滿而煩。飢不能食者。病在胸中。當須吐之。宜瓜蒂散。</p>
<p>傷寒厥而心下悸。宜先治水。當服茯苓甘草湯。卻治其厥。不爾。水漬入胃。必作利也。</p>
<p>傷寒六七日。大下後。<small class="旁注">寸</small>脉沈而遲。手足厥逆。與囘逆湯。下部脉不至。咽喉不利。唾膿血。泄利不止者<small class="旁注">為難治</small>。屬麻黃升麻湯。</p>
</div>
<div class="縮進2字">
<p>麻黃<small class="旁注">去節</small><small class="雙行夾注">二兩半</small>　升麻<small class="雙行夾注">一兩一分</small>　當歸<small class="雙行夾注">一兩一分</small>　知母<small class="雙行夾注">十八銖</small>　黃芩<small class="雙行夾注">十八銖</small>　萎蕤<small class="旁注">一作菖蒲</small><small class="雙行夾注">十八銖</small>　芍藥<small class="雙行夾注">六銖</small>　天門冬<small class="旁注">天心</small><small class="雙行夾注">六銖</small>　桂枝<small class="旁注">去皮</small><small class="雙行夾注">六銖</small>　茯苓<small class="雙行夾注">六銖</small>　甘草<small class="旁注">炙</small><small class="雙行夾注">六銖</small>　石膏<small class="旁注">碎綿裹</small><small class="雙行夾注">六銖</small></p>
<p>白朮<small class="雙行夾注">六銖</small>　乾姜<small class="雙行夾注">六銖</small></p>
<p>右十四味。以水一斗。先煮麻黃一兩沸。去上沫。內諸藥。煮取三升。去滓。分溫三服。相去如炊三斗米頃。令盡。汗出愈。</p>
<p>傷寒四五日。腹中痛。若轉氣下。趣少腹者。此欲自利也。</p>
</div>
<p>傷寒本自寒下。醫復吐下之。寒格更逆吐下。若食入口卽吐。乾姜黃芩黃連人參湯主之。</p>
<div class="縮進1字">
<p>乾姜黃芩黃連人參湯方</p>
<p>乾姜　黃芩　黃連　人參<small class="雙行夾注">各三兩</small></p>
<p>右四味。以水六升。煮取二升。去滓。分溫再服。</p>
</div>
<div class="縮進2字">
<p>下利有微熱而渴。脉弱者。令自愈。</p>
<p>下利脉數。有微熱汗出。令自愈。設復緊為未解。</p>
<p>下利。手足厥冷。無脉者。灸之不溫。若脉不還。反微喘者死。小陰負趺陽者。為順也。</p>
<p>下利寸脉反浮數。尺中自濇者。必清膿血。</p>
<p>下利脉沈弦者。下重也。脉大者。為未止。脉微弱數者。為欲自止。雖發熱不死。</p>
<p>下利清穀。下可攻表。汗出。必脹滿。下利脉沈而遲。其人面少赤。身有微熱。下利清穀者。必鬱冒汗出而解。</p>
</div>
<div class="縮進1字">
<p>病人必微厥。所以然者。其面載陽。下虛故也。</p>
</div>
<div class="縮進2字">
<p>下利脉數而渴者。令自愈。設不差。必清膿血。以有熱故也。</p>
<p>下利後脉絕。手足厥冷。晬時脉還。手足溫者生。脉不還者死。</p>
<p>傷寒。下利日十餘行。脉反實者死。</p>
</div>
<p>下利清穀。裏寒外熱。汗出而厥者。通脉囘逆湯主之。</p>
<p>熱利下重者。白頭翁湯主之。</p>
<p>白頭翁<small class="雙行夾注">二兩</small>　黃蘗<small class="雙行夾注">三兩</small>　黃連<small class="雙行夾注">三兩</small>　秦皮<small class="雙行夾注">三兩</small></p>
<p>右四味。以水七升。煮取二升。去滓。溫服一升。不愈。更服一升。</p>
<div class="縮進1字">
<p>下利腹脹滿。身體疼痛者。先溫其裏。乃攻其表。溫裏宜囘逆湯。攻表宜桂枝湯。</p>
<p>下利欲飲水者。以有熱故也。白頭翁湯主之。</p>
<p>下利讝語者。有燥屎也。宜小承氣湯。</p>
<p>下利後更煩。按之心下濡者。為虛煩也。宜梔子豉湯。</p>
<p>嘔家有癰膿者。不可治嘔。膿盡自愈。</p>
<p>嘔而脉弱。小便復利。有微熱。見厥者。難治。囘逆湯主之。</p>
</div>
<p>乾嘔。吐涎沫。頭痛者。吳茱萸湯主之。</p>
<p>嘔而發熱者。小柴胡湯主之。</p>
<p>傷寒。大吐。大下之。極虛。復極汗出者。其人外氣怫鬱。復與之水。以發其汗。因得噦。所以然者。胃中寒冷故也。</p>
<p>傷寒噦而腹滿。視其前後。知何部不利。利之卽愈。</p>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨厥陰病　　霍亂</h2>
</div>
<div class="縮進2字">
<p>傷寒。其脉微濇。本是霍亂。今是傷寒。卻四五日。至陰經。上轉入陰。必利。本嘔下利者。不可治也。欲以大便。而反失氣。仍不利。此屬陽明也。便必鞕。十三日。所以然者。經盡故也。下利後當便鞕。鞕則能食者愈。今反不能食。到後經中。頗能食。復過一經能食。過之一日當愈。不愈者。不屬陽明也。</p>
</div>
<p>吐利惡寒。脉微而復利<small class="旁注">利止亡血也</small>。囘逆加人參湯主之。</p>
<div class="縮進1字">
<p>甘草<small class="旁注">炙</small>三兩　附子<small class="旁注">生去皮破八片</small>一枚　乾姜一兩半　人參一兩</p>
</div>
<p>右四味。以水三升。煮取一升二合。去滓。分溫再服。</p>
<p>吐利頭痛發熱<small class="旁注">霍亂</small>。身疼痛。熱多欲飲水者。五苓散主之。寒多不用水者。理中丸主之。</p>
<div class="縮進1字">
<p>人參　乾姜　甘草<small class="旁注">炙</small>　白朮<small class="雙行夾注">各三兩</small></p>
<p>右四味。擣篩。蜜和為丸。如雞子黃許大。以沸湯數合。和一丸。研碎溫服之。<b class="圓圈">注</b><small class="雙行夾注">日三四。夜一服。</small></p>
<p>腹中未熱。益至三四丸。然不及湯。湯法以四物。依兩數切。用水八升。煮取三升。去滓。溫服一升。日三服。若臍上築者。腎氣動也。去朮。加桂四兩。吐多者。去朮。加生姜三兩。下多者。還用朮。悸者。加茯苓二兩。渴欲得水者。加朮。足前成四兩半。腹中痛者。加人參。足前成四兩半。寒者加乾姜。足前成四兩半。腹滿者去朮。加附子一枚。服湯後。如食頃。飲熱粥一升許。微自溫。勿發揭衣被。吐利止。而身痛不休者。當消息和解其外。宜桂枝湯<small class="旁注">小和利之</small>。</p>
</div>
<p>吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。囘逆湯主之。</p>
<p>既吐且利。小便復利。而大汗出。下利清穀內寒外熱。脉微欲絕者。囘逆湯主之。吐已下斷。汗出而厥。四肢拘急不解。脉微欲絕者。通脉囘逆加豬膽汁湯主之。</p>
<div class="縮進1字">
<p>甘草<small class="旁注">炙</small><small class="雙行夾注">二兩</small>　乾姜<small class="旁注">強人可四兩</small><small class="雙行夾注">三兩</small>　附子<small class="旁注">生去皮破八片</small><small class="雙行夾注">大者一枚</small>　豬膽汁<small class="雙行夾注">半合</small></p>
<p>右四味。以水三升。煮取一升二合。去滓。內豬膽汁。分溫再服<small class="旁注">其脉卽來</small>。<b class="圓圈">注</b><small class="雙行夾注">無豬膽。以羊膽代之。</small></p>
</div>
<p>吐利發汗。脉平。小煩者。新虛不勝穀氣故也。</p>
<div class="換頁"></div>

<div class="縮進2字" data-rev="古版-元素">
<h2>辨陰陽易差後勞復病</h2>
</div>
<p>大病差後。勞復者。枳實梔子豉湯主之。</p>
<div class="縮進1字">
<p>枳實<small class="旁注">炙</small><small class="雙行夾注">三枚</small>　梔子<small class="旁注">擘</small><small class="雙行夾注">十四個</small>　豉<small class="旁注">包綿</small><small class="雙行夾注">一升</small></p>
<p>右三味。以清漿水七升。空煮取四升。內枳實梔子。煮取二升。下豉。更煮五六沸。去滓。溫分再服。覆令微似汗。<b class="圓圈">注</b><small class="雙行夾注">若有宿食者。內大黃如博碁子五六枚。服之愈。</small></p>
</div>
<p>傷寒差以後。更發熱。小柴胡湯主之。</p>
<p>脉浮者。少以汗解之。脉沈實者。以下解之。</p>
<p>大病差後。從腰以下。有水氣者。牡蠣澤瀉散主之。</p>
<div class="縮進1字">
<p>牡蠣<small class="旁注">熬</small>　澤瀉　蜀漆<small class="旁注">暖水洗去醒</small>　葶藶子<small class="旁注">熬</small>　商陸根<small class="旁注">熬</small>　海藻　栝蔞根<small class="雙行夾注">各等分</small></p>
<p>右七味。異擣。下篩為散。更於臼中治之。白飲和。服方寸匕。日三服。小便利。止後服。</p>
</div>
<p>傷寒解後。虛羸少氣。逆欲吐。竹葉石膏湯主之。</p>
<div class="縮進1字">
<p>竹葉二把　石膏一斤　半夏<small class="旁注">洗</small>半升　麥門冬<small class="旁注">去心</small>一升　人參二兩　甘草<small class="旁注">炙</small>二兩　粳米半升</p>
<p>右七味。以水一斗。煮取六升。去滓。內粳米。煮米熟。湯成去米。溫服一升。日三服。</p>
</div>
<div class="縮進2字">
<p>病人脉已解。而日暮微煩。以病新差。人強與穀。脾胃氣尚弱。不能消穀。故令微煩。損穀則愈。</p>
</div>
<p><br></p>
<p>凡療治之方有奇恆之理奧毒藥之化機又經旨之所祕多傳方文字傳法□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□中之學先講家傳之論說而後可令逅四部之教習□也</p>
<div class="縮進1字">
<p>康平三年二月十七日</p>
</div>
<div class="縮進4字">
<p>侍醫丹波雅忠</p>
</div>
<div class="縮進1字">
<p>貞和二年十二月十五日以家祕說授典藥權助畢</p>
</div>
<div class="縮進4字">
<p>和氣朝臣嗣成</p>
</div>
<div class="行尾對齊 行尾縮進2字">
<p><small class="略小字">南山隱士山秋五徂謹書</small></p>
</div>
