<header data-type="book">
<h1>平治會萃</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="朱震亨">朱震亨</data>著，<data value="薛己">薛己</data>校</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00584_0005/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>中風</h2>
<p>中風不治證，口開手撒，眼合遺尿，吐沫直視，喉如鼾睡，肉脫筋痛皆不治。○大率治風主血虛有痰，以治痰為先，或虛挾火與熱。○亦有死血流滯者，外中於風者，亦有中氣者，當從痰治，順氣化痰。</p>
<p>半身不遂，大率多痰。在左屬死血、無血；在右屬痰，有熱氣虛。○在左者，四物湯等加桃仁、紅花、竹瀝、薑汁；在右者，二陳湯、四君子等加竹瀝、薑汁。</p>
<p>痰壅盛者，口眼喎邪者，不能言者，皆當吐。</p>
<p>吐法：輕用瓜蒂、蝦汁、皂角。重用藜蘆五分或三分，加麝香灌入鼻內，或口內，吐痰出。一吐不已，再吐之。亦有虛而不可吐者。</p>
<p>氣虛卒倒，參耆補之。</p>
<p>氣虛有痰，濃參湯合竹瀝、薑汁。血虛宜四物湯。俱用薑汁炒，恐泥痰。再加竹瀝、薑汁入內服。能食者去竹瀝加荊瀝。○又法，以豬牙皂角、白礬等分為末，薑湯調下，名稀涎散。血虛者四物湯補之。</p>
<p>挾痰者亦用薑汁、竹瀝。</p>
<p>《脈訣》內言，諸不治證，見則不可治。筋枯者不治。舉動則筋痛者，是筋枯，以其無血滋潤故也。</p>
<p>治痰氣實能食用荊瀝，氣虛少食用竹瀝。然此二味，用開經絡，行血氣，入四物湯中。必用薑汁助之。</p>
<p>肥白人多濕，少用附子、烏頭行經。</p>
<p>初昏倒，急掐人中。至醒時，然後用去痰藥，二陳湯，四物、四君子等湯加減用。</p>

<h2>六郁</h2>
<p>戴云：郁者結聚而不得發越也，當升者不得升，當降者不得降，當變化者不得變化也。此為傳化失常，六郁之病見矣。氣鬱者，胸膈痛，脈沉澀。濕鬱者，周身走痛，或關節痛，遇陰寒則發，脈沉細。痰鬱者，動則即喘，寸口脈沉滑。熱鬱者，督，小便赤，脈沉數。血鬱者，四肢無力，能食，便紅，脈沉。食鬱者，噯酸腹飽，不能食，人迎脈平和，氣口脈緊者是也。</p>
<p>氣血沖和，萬病不生。一有拂鬱，諸病生焉。</p>
<p>氣鬱，香附子、蒼朮、川芎。</p>
<p>濕，蒼朮、川芎、白芷。</p>
<p>痰，海石、香附、南星、瓜蔞。</p>
<p>熱，青黛、香附、蒼朮、川芎、梔子。</p>
<p>血，桃仁、紅花、青黛、川芎、香附。</p>
<p>食，蒼朮、香附、針砂（醋炒）、山楂、神麯。</p>
<p>春加芎、半，夏加苦參，秋冬加吳茱萸。</p>
<p><u>越鞠丸</u>　解諸郁，又名芎術丸。</p>
<p>蒼木　香附　撫芎　神麯　梔子</p>
<p>上為末，水丸如綠豆大。</p>
<p>凡郁皆在中焦，以蒼朮、撫弓開提其氣以升之。假如食在氣上，提其氣則食自降。余皆仿此。</p>

<h2>癘</h2>
<p>大風病，是受得天地間殺物之氣。古人謂之癘風者，以其酷烈暴悍可畏耳。人得之者，須分在上在下。夫在上者，以醉仙散取涎血於齒縫中出；在下者，以通天散取惡物、陳蟲於穀道中出。取出雖有道之異，然皆不外乎陽明一經。治此證者，須知其意。若其疙瘩與瘡，上先見者，上體多者，在上也；下先見者，下體多者，在下也；上下同得者，在上覆在下也。陽明胃經與大腸，無物不受。此風之入人也，氣受之則在上多，血受之則在下多，氣血俱受之者，上下俱多也。自非醫者神手，病者鐵心，罕見免此。夫從上從下，以漸而來者皆可治。人見其病勢之緩多忽之。雖按法施治，病已痊可。若不能忌口絕色，皆不免再發，發則終於不能救也。余曾治五人，中間惟一婦人不再發。以其貧甚而且寡，無物可食也。餘四人三四年後皆再發。孫真人云：吾嘗治四五十人，終無一人免於死。非真人不能治，蓋無一人能守禁忌耳。此婦人，本病藥外，又是百餘貼加減四物湯，半年之上，方得經行，十分安愈。</p>
<p>治法：在上者醉仙散，在下者通天再造散，後用通神散，及三稜針於委中出血。但不能忌口絕房者不治。</p>
<p><u>醉仙散</u></p>
<p>胡麻仁　牛蒡子　蔓荊子　枸杞子（各半兩，為粗末，同炒紫色）　白蒺藜　苦參　防風（各半兩）</p>
<p>上八味為細末，每一兩半入輕粉二錢，拌勻。大人一錢，空心日午臨睡各一服，淡茶調下。五七日間必然齒縫中出臭涎水，渾身覺痛，昏悶如醉，利下惡臭屎為度。量大小虛實，加減與之。證候重而急者，須以再造散下之，候補養過還復，與此藥吃。須斷鹽醬醋，諸般魚肉，椒料果子，燒炙等物，止可淡粥及淡煮熟時菜食之，茄尚不可食。惟有烏稍蛇、菜花蛇可以淡酒煮熟食之，以助藥力。</p>
<p><u>再造散</u></p>
<p>鬱金（半兩，生用）　大黃（一兩，炮）　皂角刺（一兩黑者大者）　白牽牛（頭末，六錢，半炒半生用）</p>
<p>上為末，五錢，臨夜冷酒調下，以淨桶伺候，泄出蟲。如蟲口黑色，乃是多年。蟲口如赤色，是近者。三四日又進一服，直候無蟲，即絕根也。</p>

<h2>寒（主乎溫散）</h2>
<p>有卒中天地之寒氣，有口傷生冷之物。</p>
<p>戴云：此傷寒謂身受肅殺之氣，口食冰水、果瓜冷物之類。病者必脈沉細，手足冷，息微身倦，雖身熱亦不渴，倦言語。或遇病熱，誤用此法，輕者至重，重者至死。凡脈數者，或飲水者，或煩躁動搖者，皆是熱病。寒熱二證，若水火也，不可得而同治，誤即殺人，學者慎之。</p>

<h2>傷寒</h2>
<p>傷寒必須身犯寒氣，口食寒物者，從補中益氣湯中加發散藥。屬內傷者十居八九。其法邪之所湊，其氣必虛，只用補中益氣湯中，從所見之證，出入加減。氣虛熱甚者，少用附子以行參耆之劑。如果氣虛者，方可用此法。已上傷寒治法，可用於南方，不宜於北。</p>

<h2>暑</h2>
<p>戴云：暑乃夏月炎暑也，盛熱之氣著人也。有冒有傷有中，三者有輕重之分，虛實之辨。或腹痛水瀉者，胃與大腸受之。噁心者，胃口有痰飲也。此二者冒暑也，可用黃連香薷飲。蓋黃連退暑熱，香薷消蓄水。或身熱頭疼，燥亂不寧者，或身如針刺者，此為熱傷在分內也，當以解毒白虎湯加柴胡。氣如虛者，加人參。或咳嗽，發寒熱，盜汗出不止，脈數者，熱在肺經，用清肺湯、柴胡天水散之類。急治則可，遲則不可治矣，賦火乘金也，此為中暑。凡治病須要明白辨別，慎勿混同施治。春秋間亦或有之，切莫執一，隨病處方為妙。</p>
<p><u>黃連香薷飲</u>　挾痰加半夏，乘虛加人參、黃耆或清暑益氣湯加減用。</p>

<h2>注夏（屬陰虛元氣不足）</h2>
<p>戴云：秋初夏末，頭痛腳軟，食少體熱者是也。補中益氣湯去柴胡、升麻，加炒黃柏。挾痰止用南星、半夏，陳皮之類。或生脈散。出《千金方》。</p>

<h2>暑風</h2>
<p>戴云：暑風者，夏月卒倒，不省人事是也。有因火者，有因痰者。火，君相二火也。暑，大地二火也。內外合而炎爍，所以卒倒也。痰者，人身之痰飲也，因暑氣入而鼓激痰飲，塞礙心之竅道，則手足不知動躡而卒倒也。此二者皆可吐。《內經》曰：火鬱則發之。挾火挾痰，實者可用吐法。吐即發散也，量其實虛而吐之。吐醒後，可用清劑調治之。</p>

<h2>濕</h2>
<p>戴云：濕有自外入者，有自內出者，必審其方土之致病源。東南地下，多陰雨地濕，凡受必從外入，多自下起，以腫腿腳氣者多。治當汗散，久者宜疏通滲泄。西北地高，人多食生冷濕面，或飲酒後，寒氣怫鬱，濕不能越，作腹皮脹痛，甚則水鼓脹滿，或通身注腫如泥，按之不起，此皆自內而出也。辨其元氣多少，而通利其二便，責其根在內也。此方土內外，亦互相有之，但多少不同，須對證施治。不可執一。</p>
<p>本草蒼朮治濕，上下俱可用。</p>
<p>二陳湯加酒芩、羌活、蒼朮，散風行濕，最妙。</p>

<h2>內傷</h2>
<p>內傷病退後燥渴不解者，有餘熱在肺家，可用參、苓，甘草少許，薑汁冷服，或茶匙挑薑汁與之。虛者可用人參湯。世之病此者為多，但有挾痰者，有挾外邪者，有熱鬱於內而發者，皆以補元氣為主，看其所挾之病而兼用藥。</p>

<h2>火</h2>
<p>有可發者二：風寒外來者可發，郁者可發。</p>
<p>陰虛火動難治。火鬱當發看何經，輕者可降，重則從其性升之。實火可瀉，小便降火甚速。凡氣有餘便是火。火急甚，重者必緩之。生甘草兼瀉兼緩，人參、白朮亦可。人壯氣實，火盛顛狂者，可用正治，或硝水、冰水飲之。人虛火盛狂者，可用生薑湯與之。若投以冰水正治，立死。有補陰即火自降者，炒黃柏、地黃之類。焦山桅子仁，大能降火，從小便泄去。其性能曲屈下行降火，人所不知。凡火盛者，不可驟用涼藥，必用溫散，入方：</p>
<p><u>左金丸</u>　治肝火。</p>
<p>黃連（六兩）　茱萸（一兩，或半兩）</p>
<p>水丸，白湯下五十丸。</p>

<h2>傷風</h2>
<p>戴云：新咳嗽，鼻塞聲重者是也。屬氣者多。散宜辛溫，或辛涼之劑。</p>

<h2>發癍（屬風熱）</h2>
<p>戴云：癍有色點而無頭粒者是也。</p>
<p>風熱挾痰而作，自里而發於外，通神散消息。當以微汗以散之，下之非理也。內傷癍者，胃氣極虛，一身火遊行於外所致，宜補以降之。發癍似傷寒者，痰熱之病發於外，微汗以散之，下之非理也。</p>

<h2>疹</h2>
<p>戴云：疹，浮小有頭粒者是，隨出即收，收則又出者是也。非若癍之無頭粒者，當明辨之。屬熱與痰在肺，清肺火降痰，或解散出汗，亦有可下者。</p>

<h2>溫病</h2>
<p>眾人病一般者是也。又謂之天行時疫。有三法，宜補宜降宜散。入方：</p>
<p>大黃　黃芩　黃連　人參　桔梗　防風　蒼朮　滑石　香附　人中黃</p>
<p>上為末，神麯為丸。五七十丸。分氣、血、痰作湯，使氣虛四君子湯，血虛四物湯，痰多二陳湯送下。如熱甚者，可用童子小便送下。</p>
<p>大頭天行病，東垣有方：</p>
<p>羌活　酒芩　大黃（酒蒸）</p>
<p>冬溫為病，非其時而有其氣者。冬時君子當閉藏，而反發泄於外，專用補藥帶表。</p>
<p>入方以竹筒兩個，留節，中作一竅，納甘草於中，仍以竹木釘閉竅，於大糞缸浸一月，取出，曬乾，治疫毒。</p>

<h2>瘧</h2>
<p>有風，有暑，有食，老瘧。瘧無痰病。</p>
<p>老瘧病，此係風暑，入陰分在臟，用血藥川芎、撫芎、紅花、當歸，加蒼朮、白朮、白芷、黃柏、甘草，煎露一宿，次早服之。無汗要有汗，散邪為主，帶補。有汗要無汗，正氣為主，帶散。有瘧母者，用丸藥消導，醋煮鱉甲為君，三稜、蓬朮、香附，隨證加減。二三日一發者受病一年，間發者受病半年，一日一發者受病一月。連二日發者，住一日者，氣血俱受病。一日間一日者，補藥帶表藥，後用瘧丹截之。在陰分者用藥徹起，在陽分方可截。</p>
<p>入方：</p>
<p>草果　知母　檳榔　烏梅　常山　甘草（炙）　穿山甲</p>
<p>用水酒一大碗，煎至半碗，露一宿，臨發時前二時溫服。如吐則順之。</p>
<p><u>截瘧青蒿丸</u></p>
<p>青蒿（一兩）　冬青葉（二兩）　馬鞭草（二兩）　官桂（二兩）</p>
<p>上三藥，皆曬乾，稱為末，水丸如胡椒子大。每服作四眼，於當發前一時服盡。</p>
<p>大發暑風，必當發汗。夏月多在風涼處歇，遂閉其汗而不泄，因食者，從食上得瘧。而虛者要用朮、參一二貼，托住其氣，不使下陷，後用他藥。治內傷挾外邪者同法。內必主痰，必以汗解，二陳湯加常山、柴胡、黃芩、草果。</p>
<p>瘧而甚者，發寒熱，頭痛如破，渴而飲水，自汗，可與參、耆、朮、芩、連、梔子、川芎、蒼朮、半夏等治。</p>
<p>久病瘧，二陳湯加川芎、蒼朮、柴胡、葛根、白朮，一補一發。</p>

<h2>咳嗽</h2>
<p>風寒。火主降火。勞。肺脹。火鬱。痰主降痰。</p>
<p>戴云：風寒者，鼻塞聲重，惡寒者是也。火者有聲痰少，面赤者是也。勞者盜汗出。兼痰者多作寒熱。肺脹者，動則喘滿，氣急息重。痰者嗽動便有痰聲，痰出嗽止。五者大概耳，亦當明其是否也。風寒，行痰開腠理，二陳湯加麻黃、杏仁、桔梗。</p>
<p>火，清金化痰降火。一本云降火清金化痰。</p>
<p>勞，四物湯中加竹瀝、薑汁，必以補陰為主也。</p>
<p>肺脹而嗽者，用訶子、青黛、杏仁。訶子能治肺氣因火傷寒，遂成郁遏脹滿，取其味酸苦，有收斂降火之功，佐以海蛤粉、香附、瓜萎、青黛、半夏、神麯。</p>
<p>食積痰作嗽發熱者，半夏、南星為君，瓜萎、蘿蔔子為臣，青黛、石鹼為使。</p>
<p>火鬱嗽者，訶子、海石、瓜萎、青黛、半夏、香附。</p>
<p>咳嗽聲嘶者，此血虛受熱也，用青黛、蛤粉，蜜調服。</p>
<p>久嗽風入肺，用鵝管石、雄黃、鬱金。款冬花研末，和艾中，以生薑一片，留舌上，炙之以煙，入喉中為度。乾咳嗽者難治。此係火鬱之證，乃痰鬱火邪在中，用苦梗以開之，下用補陰降火。不已則成勞，倒倉好。此證不得志者有之。一本作此證不得愈者有之。</p>
<p>嗽而脅痛，宜疏肝氣，用青皮等方。在後二陳湯加南星、香附、青黛、薑汁。</p>
<p>治嗽藥，大概多用生薑者，以其辛散也。</p>
<p>上半日嗽多者，屬胃中有火，貝母、石膏能降胃火。</p>
<p>午後嗽多者，屬陰虛，必用四物湯加知母、黃柏，先降其火。五更嗽多者，此胃中有食積，至此時候流入肺金，知母、地骨皮降肺火。</p>
<p>火氣浮於肺者，不宜用涼藥，用五味、五倍斂而降之。有痰因火逆上者，先治火，後治其痰。</p>
<p>肺虛甚者，用參膏，此好色腎虛有之，以生薑、陳皮治之。大概有痰者可加痰藥治之。</p>
<p>治嗽多用粟殼，不必疑，但要先去病根，此乃收後之藥也。師云：陰分嗽，此多屬陰虛治之。</p>
<p>有嗽而肺脹，壅遏不得眠者，難治。</p>
<p>治嗽煙筒：</p>
<p>佛耳草　款冬花　鵝管石</p>
<p>上為末，用紙卷燒其煙燻之。或白湯調亦得。</p>
<p>治嗽有痰，天突、肺腧二穴，炙治嗽泄火熱，大瀉肺氣。三推骨下橫過各一寸半是穴。</p>
<p>嗽：春是春升之氣，用清藥二陳加薄、荊之類。夏是火炎上，最重芩、連。秋是濕熱傷肺，冬是風寒外來，用藥發散之後，以半夏必逐去痰，庶不再來。</p>
<p>入方，治嗽劫藥：</p>
<p>五味子（半兩）　五倍子（一錢）　甘草（二錢半）　風化硝（一錢）</p>
<p>上為末，以蜜為丸，噙化之。</p>

<h2>痰（脈浮當吐）</h2>
<p>凡治痰用利藥過多，致脾氣下陷，則痰反易生多。</p>
<p>濕痰，用蒼朮、白朮。</p>
<p>老痰，海石、半夏、瓜萎、香附、五倍子。</p>
<p>熱痰，用青黛、黃芩、黃連。</p>
<p>食積痰，神麯、麥櫱、山楂子。</p>
<p>痰在腸間胃者，可下而愈。痰在經絡中者，非吐不可出。吐法中就有發散之義也。</p>
<p>膈上之痰，必用吐之，瀉亦不能去也。</p>
<p>氣實痰熱結在上者則吐，吐難得出或成塊，或吐咯不出，氣滯兼郁者，此則難治矣。</p>
<p>膠固者必用吐之。吐法兼用牙茶、齏水、薑汁、醋少許，瓜萎散少許，加防風、桔梗，皆升動其氣，便吐也。</p>
<p>吐法：用附子尖、桔梗蘆、人參蘆、瓜蒂（不甚用）、藜蘆、艾葉、末茶。上藥此皆自吐，不用手探，但藥但湯皆可吐。</p>
<p>吐法先以布搭膊勒腰，於不通風處行此法。蘿蔔子半升擂和，以漿水一碗，濾與粗人，少油與蜜，旋至半溫，服後以鵝翎探吐。凡用鵝翎，須以桐油浸，卻以皂角水去其肥，曬乾用之。</p>
<p>又法，用蝦帶殼半斤，入醬、蔥、姜等料物煮汁，先吃蝦，後飲汁，以翎勾引吐，必須緊勒肚腹。</p>
<p>二陳湯一身之痰都能管，如在下加下引藥，如在上加上引藥。凡人身上中下有塊者，多是痰也。問其平日好食何物，吐下用藥。</p>
<p>許學士用蒼朮治痰飲成窠囊一邊行極效。痰挾瘀血，遂成窠囊。痰之清者屬寒，用二陳湯之類。內傷挾痰，必用人參、黃耆、白朮之屬，多用薑汁傳送，或用半夏之屬。虛甚者宜加竹瀝。</p>
<p>痰熱者多挾風，外證為多。</p>
<p>濕痰多軟，如身倦而重之類。熱者清之。食積者必用攻之，兼虛者，用補氣藥送。</p>
<p>因火盛逆上者，治火為先，白朮、黃芩、石膏之類。中氣不足，則加人參、白朮。痰之為物，隨氣升降，無處不到。脾虛者補中氣，二陳湯加白朮之類，兼用提藥。</p>
<p>中焦有痰，則食積胃氣，賴其所養，卒不便虛；若攻之盡，則虛矣。眩運嘈雜，乃火動其痰，用二陳湯加梔子、芩、連之類。噫氣吞酸，此係食鬱有熱，火氣上動，以黃芩為君，南星、半夏為臣，橘紅佐之，熱多者加青黛。痰在脅下，非白芥子不能達。痰在皮裡膜外者，非薑汁、竹瀝不可達。</p>
<p>痰在膈間，使人顛狂健忘，宜用竹瀝。風痰亦服竹瀝，又能養血。痰在四肢，非竹瀝不開。</p>
<p>痰結核在咽喉，燥不能出入，化痰藥加軟堅咸藥味。</p>
<p>杏仁　海石　桔梗　連翹　瓜蔞仁　少佐朴硝，上以薑汁、蜜調丸，噙化之。</p>
<p>海蛤即海石，熱痰能降，濕痰能燥，結痰能軟，頑痰能消，可入丸子末子，不可入煎藥。黃芩治熱痰，假以降其熱也。竹瀝滑痰，非薑汁不能行經絡也。枳實瀉痰，能沖牆壁。五倍子能治老痰。</p>
<p>小胃丹，能治隔上痰熱、風痰、濕痰，肩膊諸痛。然能損胃氣，食積痰實者用之不宜多。</p>
<p>青礞石，凡去濕痰，重在風化硝。</p>
<p>潤下丸降痰最妙。</p>
<p>陳皮（半斤，去白，以水化鹽半兩，拌陳皮，令得所煮，候乾炒燥。一方不去白）　甘草（一兩，炙）　上為末，蒸餅丸綠豆大。每服三五十丸，溫水送下。油炒半夏，大治濕痰，又治喘止心痛，粥丸，薑湯下。</p>
<p><u>痰方</u></p>
<p>黃芩（空心）　香附　半夏（薑製）　貝母　已上治濕痰，加瓜蔞仁、青黛，作丸子治濕痰。</p>
<p><u>中和丸</u>　治濕痰氣熱。</p>
<p>蒼朮　黃芩　半夏　香附</p>
<p>上各等分，為末，粥丸。</p>
<p><u>濕痰方</u>　亦治白濁因痰者。</p>
<p>南星（一兩）　半夏（一兩）　蛤粉（二兩）　青黛（為末）</p>
<p>上為末，神麯糊丸。</p>
<p><u>痰嗽方</u></p>
<p>黃芩（一兩半，酒浸洗）　滑石（半兩）　貝母（一兩）　南星（一兩）　風化（二錢半）　白芥子（半兩，去殼）</p>
<p><u>導痰湯</u></p>
<p>半夏（四兩）　南星　橘皮　枳殼　赤茯苓（半兩）　甘草（五錢）</p>
<p>上用生薑煎服。</p>
<p><u>千緡湯</u></p>
<p>半夏（七枚，泡製四片，破之）　皂角（去皮，炙，一寸）　甘草（炙，寸）　生薑（如指大）　煎服治喘。</p>
<p><u>治痰方</u></p>
<p>南星　半夏　滑石　輕粉（各三錢）　巴豆（三十粒）</p>
<p>用皂角仁浸濃汁，丸如梧桐子大。每服五七丸。</p>
<p><u>黃連化痰丸</u></p>
<p>黃連（一兩）　陳皮（半兩）　吳茱萸（酒浸，一錢半）　半夏（一兩半）</p>
<p>上為末，入桃仁二十四個，研如泥，和勻，神麯糊丸如豆綠大。每服百丸，薑湯送下。</p>
<p><u>消痰方</u></p>
<p>鹽元散（七錢）　吳茱萸（三錢）</p>
<p><u>治郁痰方</u></p>
<p>白殭蠶　杏仁　瓜蔞　訶子　貝母</p>

<h2>喘</h2>
<p>戴云：有痰喘，有氣急喘，有胃虛喘，有火炎上喘。有痰喘者，凡喘便有痰聲。氣急喘者，呼吸急促而無痰聲。有胃虛喘者，抬肩擷肚，喘而不休。火炎上喘者，乍進乍退，得食則減，食已則喘。大概胃中有實火，膈上有稠痰，得食咽墜下稠痰喘即止，稍久則食已入胃，反助其火，痰再升上，喘反大作。俗不知此，作胃虛，治以燥熱之藥者，以火濟火也。葉都督患此，諸醫以胃虛治之，不愈，後以導水丸，利五六次而安。</p>
<p>凡久喘未發，以扶正氣為要。已發，以攻邪為主。</p>
<p>有氣虛短氣而喘。有痰亦短氣而喘。</p>
<p>有陰虛，自小腹下火起而上者。</p>
<p>喘急有風痰者，《婦人大全良方》千緡湯。</p>
<p>陰虛有痰喘急者，補陰降火，四物湯加枳殼、半夏。</p>
<p>氣虛者，人參、蜜炙黃柏、麥門冬、地骨皮之類。</p>
<p>大概喘急之病甚，不可用苦藥涼藥，火氣盛故也，可用導痰湯加千緡湯治之。</p>
<p>諸喘不止者，用劫藥一二貼則止之。劫藥之後，因痰治痰，因火治火。椒目研極細末，用一二錢，以生薑湯調下止之。</p>
<p>又法，用蘿蔔子蒸熟為君，皂角燒灰，等分為末，以上薑汁、煉蜜為丸，小桐子大。每服五七十丸噙化之。</p>

<h2>哮（專主於痰宜吐法）</h2>
<p>治哮必用薄滋味，不可純用涼藥，必帶表散。</p>
<p><u>治積方</u>　用雞子略敲，殼損膜不損，浸於尿缸內三四日夜，取出煮熟，食之效。蓋雞子能去風痰。</p>

<h2>痢　身熱　後重　腹痛　下血</h2>
<p>戴云：痢雖有赤白二色，終無寒熱之分。通作濕熱治，但分新舊，更量元氣。用藥與赤白帶同。</p>
<p>身熱挾外感，不惡寒，小柴胡湯去人參。</p>
<p>惡寒發熱為表證，宜微汗和解。</p>
<p>蒼朮　川芎　陳皮　芍藥　甘草　生薑</p>
<p>煎服。</p>
<p>後重積與氣鬱墜下，兼升兼消。</p>
<p>或氣行血和積少，但虛坐努力，此為亡血，倍用歸身尾，卻以生芍藥、生地黃、桃仁佐之，復以陳皮和之。或下痢而大孔痛者，此因熱流於下也，用：</p>
<p>木香　檳榔　黃芩　黃連　炒乾姜</p>
<p>或經退減十之七八，積已盡，糟粕未實，當炒芍藥、炒白木、炙甘草、陳皮，茯苓湯，下固腸丸三十粒。然固腸丸性燥，有去濕實腸之功，恐氣滯未盡者，不可遽用此藥，只宜單服此湯可也。</p>
<p>或痢後糟粕未實，或食稍多，或飢甚方食，腹中作痛者，切勿驚恐，以白朮、陳皮各半盞和服，和之則安。</p>
<p>或久痢後體虛氣弱，滑瀉不止，又當以訶子、肉豆蔻、白礬、半夏之類，擇用以澀之，甚則加牡蠣，然須以陳皮為佐。若大澀亦能作痛。又甚者，炙天樞、氣海。</p>
<p>上方用川厚撲，為瀉凝滯之氣。然樸太溫而散氣，久服大能虛人，滯氣稍行即去之。余滯未盡，以炒枳殼、陳皮。然枳殼亦能耗氣，比之厚撲稍緩，比陳皮亦重，滯退一半當去之，只用陳皮以和諸藥。陳皮去白，有補瀉之兼才；若為參、木之佐，亦能補也。</p>
<p>凡痢疾腹痛，必以白芍藥、甘草為君，當歸、白朮為佐，惡寒痛者加桂，惡熱痛者加黃柏，遠者更能參以歲氣時令用藥，則萬舉萬全，豈在乎執方而已哉。</p>
<p>諸不治證：</p>
<p>下痢純血者必死。下痢如塵腐色考死。下痢如屋漏者死。下痢如竹筒注者不可治。下痢如魚腦者，半生半死。</p>

<h2>噤口痢（胃口熱甚故也）</h2>
<p>黃連多加人參煮湯，終日呷之。如吐了再吃，開以降之，人不知此，多用溫藥甘味，此以火濟火，以滯益滯。一方臍中用田螺盦之，以引下其熱。</p>
<p>亦有誤服熱藥澀藥之毒犯胃者，當明審以祛其毒。</p>
<p>大黃　黃芩　黃連　黃柏　枳殼　當歸　滑石　甘草　桃仁　白芍　白朮（各等分）</p>
<p>上為末，神麯糊丸。</p>
<p>孫郎中因飲水過多，腹脹瀉痢帶白：</p>
<p>蒼朮　白朮　厚朴　茯苓　滑石　上煎下保和丸。</p>
<p>小兒八歲下痢純血，以食積治。</p>
<p>蒼朮白朮、黃芩　白芍　滑石　茯苓　甘草　陳皮　炒曲　煎下保和丸。</p>
<p>又下痢法熱不止者，屬陰虛，用寒涼藥兼升藥熱藥。</p>

<h2>泄瀉　濕　氣虛　火　痰　食積</h2>
<p>戴云：凡瀉水腹不痛者，是濕也。飲食入胃不往，或完穀不化者，是氣虛也。腹痛瀉水腹鳴，痛一陣瀉一陣，是火也。或瀉時或不瀉，或多或少，是痰也。腹痛甚而瀉，瀉後痛減者，食積也。</p>
<p>濕，燥濕兼滲泄之，四苓散加蒼朮、白朮，甚者二術炒。氣虛用人參、白朮、炒芍藥、升林。</p>
<p>火，宜伐火、利小水，黃芩、木通，入四苓散。</p>
<p>痰積宜豁之，海石、青黛、黃芩、神麯、蛤粉，或用吐法。</p>
<p>食積，宜消導疏滌之，神麯、大黃。</p>
<p>已上諸藥，皆作丸子服之。</p>
<p>凡泄瀉水多者，仍用五苓散治之。</p>
<p>世俗類用澀藥治痢與瀉，若積久而虛者，或可行之；而初得之者，恐必變他疾，為禍不小矣。殊不知多因於濕，惟分利小水，最為上策。</p>
<p><u>止瀉方</u></p>
<p>肉豆蔻（五錢）　滑石（春冬一兩二錢半，夏一兩半，秋二兩）</p>
<p>又方　姜曲丸</p>
<p>神麯（六兩，炒）　陳麥（亦可）　茴香（五錢）　生薑（一兩）</p>
<p>上炒白朮、炒曲、炒芍藥，或丸或散，或湯作丸子，切當。</p>

<h2>脾泄</h2>
<p>治一老人奉養太過，飲食傷脾，常常泄瀉，亦是脾泄。</p>
<p>白朮（二兩）　白芍藥（一兩，酒拌炒）　神麯（一兩半，炒）　山楂（一兩半，炒）　半夏（一兩，洗）　黃芩（五錢，炒）</p>
<p>上為末，荷葉包飯燒為丸。</p>
<p>治一老人年七十，面白，脈弦數，獨胃脈沉滑，因飲白酒，作痢下血，淡水膿後，腹痛，小便不利，裡急後重，參、術為君，甘草、滑石、檳榔、木香、蒼朮，最少下保和丸二十五丸。第二日前症俱減，獨小便不利，以益元散服。</p>

<h2>霍亂</h2>
<p>戴云：霍亂者吐也，有聲有物。凡有聲無物而躁亂者，謂之乾霍亂也。</p>
<p>轉筋不住，男子以手挽其陰，女子以手牽其乳，近兩傍邊，此乃《千金》妙法也。</p>
<p>內有所積，外有所感，陽不升陰不降，乖隔而成矣，切勿與米湯，食之立死。脈多伏為絕。</p>
<p>見成吐瀉不徹，還用吐，提其氣起。大法生薑理中湯最好。有可吐者，有可下者。吐用二陳湯加減亦可，或樟樹木煎湯吐亦可。</p>

<h2>乾霍亂</h2>
<p>此病最難治，死在須臾，升降不通故也。此係內有所傷，外有邪氣所遏也。有用吐法者，則兼發散之義也。吐提其氣，亦是良法，世多用鹽湯。</p>
<p>有用溫藥解散者，其法解散不用涼藥。</p>
<p>二陳湯加和解散，川芎、防風、蒼木，白芷。</p>

<h2>嘔吐</h2>
<p>凡有聲有物，謂之嘔吐。有聲無物，謂之噦。</p>
<p>有痰隔中焦者，食不得下者，有氣逆者，有寒氣鬱於胃口者。然胃中有火與痰，而致嘔吐者多。</p>
<p>胃中有痰有熱。</p>
<p>朱奉議以半夏、生薑、橘皮為主。</p>
<p>孫真人誤以吵為咳逆。</p>
<p>劉河間謂嘔者火氣炎上，此特一端耳。</p>
<p>胃中有熱，隔上有痰，二陳湯加炒梔子、黃連、生薑。</p>
<p>久病嘔者，胃虛不納穀也。用：</p>
<p>生薑　人參　白朮　黃耆　香附</p>

<h2>噁心（有熱，有痰，有虛）</h2>
<p>戴云：噁心者，無聲無物，心中欲吐不吐，欲嘔不嘔。雖曰噁心，非心經之病，皆在胃口上，宜用生薑，蓋能開胃豁痰也。皆用生薑，隨證用藥。</p>

<h2>翻胃（即膈噎。噎乃翻胃之漸，《發揮》備言）</h2>
<p>戴云：翻胃有四，血虛、氣虛、有熱、有痰。血虛者，脈必數而無力。氣虛者，脈必緩而無力。氣血俱虛者，則口中多出沫，但見沫大出者必死。有熱者，脈數而有力。有痰者，脈數滑。二者可治。血虛者四物為主，氣虛者四君子為主，熱以解毒為主，痰以二陳為主。大約有四，血虛，氣虛，有熱，有痰兼病。</p>
<p>必用童便、竹瀝、薑汁、牛羊乳。</p>
<p>糞如羊屎者，斷不可治，大腸無血故也。</p>
<p>痰用二陳湯為主，寸關脈沉，或伏而大。</p>
<p>有氣結滯者，通氣之藥，皆可用也。寸關脈沉而澀，氣虛四君子湯為主，血虛四物湯為主。左手脈無力，大不可用香燥之藥，服之必死，宜薄滋味。</p>
<p>馬剝兒燒灰存性，一錢重，好棗肉，平胃散二錢，溫酒調服。食即可下，然後隨病源調理，神效。</p>
<p>陳皮（三斤十兩）　樸（三斤二兩）　草（三十兩）　蒼（五斤）</p>

<h2>傷食</h2>
<p>戴云：惡食者胸中有物，導痰補脾，以二陳湯。</p>
<p>白朮　山楂　川芎　蒼朮</p>

<h2>痞（食積兼濕，東垣有法有方）</h2>
<p>又痞滿方：吳茱萸（三兩）　黃連（八兩）　粥為丸。</p>
<p>軟石膏研末，醋丸如綠豆大，瀉胃火、食積、痰。</p>

<h2>噯氣（胃中有火有痰）</h2>
<p>南星　半夏　軟石膏　莎草根　或湯或丸。</p>

<h2>吞酸</h2>
<p>戴云：濕熱在胃口上，飲食入胃，被濕熱鬱遏，其食不得傳化，故作酸也。如穀肉在器，濕熱則易為酸也。必用茱萸順其性而折之，反佐茱萸、黃連。</p>

<h2>嘈雜（只是痰因火動）</h2>
<p>戴云：此即俗謂之心嘈也。</p>
<p>梔子、姜炒黃連不可無。梔子、黃芩為君。</p>
<p>南星、半夏、橘皮。熱多加青黛。</p>
<p>肥人嘈雜，二陳湯加撫芎，用蒼朮、白朮、炒梔子。</p>

<h2>五疸</h2>
<p>不用分五，同是濕熱，如盦曲相似。</p>
<p>戴云：五疸者，周身皮膚並眼，如梔子水染。因食積黃者，量其虛實，下其食積。其餘但利小便為先，便利白，其黃自退矣。熱多者加黃連。</p>
<p>輕者用小溫中丸，重者用大溫中丸。</p>
<p>溫多者茵陳五苓散，加食積藥。</p>

<h2>消渴　泄瀉</h2>
<p>先用白朮、白芍藥炒為末，調服；後卻服消渴藥。</p>
<p>養肺、降火、生血為主，分上中下治。</p>
<p>黃連末　天花粉末　人乳　生地黃汁　生藕汁</p>
<p>上二物汁為膏，入上藥攪和，佐以薑汁和蜜湯為膏，徐徐留於舌上，以白湯少許送下。</p>
<p>能食加軟石膏。瓜蔞根治消渴神藥。</p>

<h2>水腫</h2>
<p>戴云：水腫者，通身皮膚光腫如泡者是也。以健脾滲水，利小便，進飲食，元氣實者可下。</p>
<p>此因脾虛不能制水，水漬妄行，當以參朮補脾氣，得實則自能健運，自能降升，運動其樞機，則水自行，非五苓之行水也。宜補中行濕，利小便，水切不可下。</p>
<p>二陳湯加白朮、人參為主，佐以蒼朮、炒梔子、黃芩、麥門冬制肝木。若腹脹少佐厚朴；氣不通加木香、木通；氣若陷下，升麻、柴胡提之。隨症加減，必須補中。</p>
<p>產後必用大補氣血為主，少佐以蒼朮、茯苓，使水自降。用白朮大劑補脾壅滿，用半夏、陳皮、香附監之。</p>
<p>有熱當清肺，麥門冬、黃芩之屬。</p>
<p>一方用山梔子，去皮取仁，炒，捶碎，米飲送下。若胃脘熱病在上者，帶皮用。</p>

<h2>鼓脹（又名單鼓。其詳在《格致論》中）</h2>
<p>大補中氣行濕。此乃脾虛之甚，須必遠音樂，斷厚味。以大劑人參、白朮，佐以陳皮、茯苓、蒼朮之類。</p>
<p>有血虛者，當以四物湯行血。</p>
<p>脈實兼人壯盛者，或可用攻藥，便可收拾。白朮為主。厚朴治腹脹，因味辛以散其氣，在中焦故也。</p>

<h2>自汗（屬氣虛，虛濕熱，陽虛）</h2>
<p>東垣有法有方：</p>
<p>人參　黃耆　佐桂枝，陽虛附子亦可目。</p>
<p>撲法：牡蠣　麩皮　藁本　糯米　防風　白芷　麻黃根</p>
<p>上為末，周身撲之。</p>
<p>火氣上蒸，胃中之濕，亦能作汗，涼膈散主之。</p>
<p>痰證亦有汗者。</p>

<h2>盜汗血　陰虛</h2>
<p>戴云：盜汗者，睡則汗自出，覺則無矣。非若自汗而自出也。小兒不須治。</p>
<p>東垣有法有方：當歸六黃湯。</p>
<p><u>盜汗方</u></p>
<p>白朮四兩（一兩用黃耆問妙，一兩石斛同炒，一兩牡蠣同炒，一兩麩皮同炒）　各微黃色，余藥不用，止用白朮。</p>
<p>上為細末，每服三錢，用粟米湯調下，盡四兩為效。</p>

<h2>吃逆</h2>
<p>有痰、氣虛、陰火，視其有餘不足治之。</p>
<p>戴云：吃逆者，因痰與熱，胃火者極多。</p>
<p>不足者，人參白朮湯下大補丸。</p>
<p>有餘並痰者吐之，用人參蘆之屬。</p>

<h2>頭風（有痰者多）</h2>
<p>左屬風，荊芥、薄荷；屬血虛，川芎、當歸、芍藥。</p>
<p>右屬痰，蒼朮、半夏；屬熱，黃芩。</p>
<p>搐藥有用蓽茇、豬膽。</p>

<h2>頭痛（多主於痰）</h2>
<p>痛甚者火多，亦有可吐者，亦有可下者。</p>
<p>清空膏，治諸般頭痛，除血虛頭痛不治。</p>
<p>血虛頭痛，自魚尾上攻頭痛，必用川芎當歸湯。</p>
<p>占方有追涎藥，出《東垣試效》。</p>
<p>羌活　防風　黃連（各一兩，炒）　柴胡（七錢）　川芎（二錢）　甘草（炙，一兩半）　黃芩（三兩，刮取黃色，銼碎一半，酒炒一半）</p>
<p>上為末，每服二錢。己熱盞內，入茶少許，湯調如膏，抹在口內，少用湯送下，臥臨服之。</p>

<h2>頭眩</h2>
<p>痰挾氣虛、火，治痰為主，挾補氣藥，並降火藥。屬痰，無痰則不能作眩。屬火，痰因火動。又有濕痰者，有火多者。</p>
<p>左手脈數熱多，脈澀有死血，左手脈實痰積，脈大者必是久病也。</p>

<h2>眩運（火動其痰）</h2>
<p>二陳湯加黃芩、蒼朮、羌活。散風行濕，或用防風行濕之劑可也。昔有老婦患赤白帶一年，半是頭眩，坐立不久，睡之則安。</p>
<p>專用治赤白帶，除之其眩則自安矣。</p>

<h2>眉稜痛</h2>
<p>風熱痰，作風痰治類頭風，白朮、酒黃芩未，茶調。又方，草烏、川烏頭二味為君，童便浸洗，炒去毒，細辛、羌活、黃芩、甘草佐之。</p>

<h2>耳聾</h2>
<p>少陽、厥陰熱多，皆屬於熱。耳鳴者是。</p>
<p>戴云：亦有氣閉者。蓋亦是熱氣閉者，耳不鳴也。</p>
<p>萆麻子（四十九粒）　棗肉（十枚）</p>
<p>上入乳搗成膏於，石頭上略曬乾，便丸如桐子大。以綿裹塞於耳中。</p>
<p>又方，用鼠膽入耳中尤好，仍開痰散風熱。大病復須用四物湯降火。有陰虛火動耳聾者，亦如上法。</p>

<h1>卷二</h1>

<h2>心痛（即胃脘痛）</h2>
<p>心痛，雖日數多，不吃飲食不死。若痛方止便吃，還痛，用須三五服藥後，方可吃物。</p>
<p>大凡心膈之痛須分新久。若明知身受寒氣，口食寒物而病，於初得之時，當以溫散或溫利之藥。若曰病得稍久則成郁矣，鬱則蒸熱，熱則久必生火，《原病式》中備言之矣。若欲行溫利，寧無助火添病那。由是古方中多以山梔為熱藥之嚮導，則邪伏而病易痊，正易復而病易安。雖然病安之後，若縱恣口味，不改前非，病復作時，則難治也。</p>
<p>山梔炒去皮，每十五個，濃煎湯一呷，入生薑汁令辣，再煎小沸，服或入芎一錢，尤妙。山梔大者用七個或九個。大概胃口有熱而作痛，非山梔子不可。佐以薑汁，或半夏、橘紅各五，黃芩三，甘草一。用二陳湯，加蒼、芎，倍加炒梔。痛甚者，用加炒乾姜從之，反治之法。心痛輕者散之，麻黃、桂枝；重者加石鹼、川芎、蒼朮，梔子必炒去皮，用作丸服。</p>
<p>凡治病必須先問平日起居如何。假如心痛因平日喜食熱物，以致死血流於胃口作痛，用桃仁承氣湯下之。切記。輕者用韭汁、桔梗，能開提氣血，藥中兼用之。以物拄按痛則止者，挾虛也，以二陳湯加炒乾姜和之。有蟲痛者，面上白斑，唇紅能食，屬蟲，治苦楝根、錫灰之類。脈堅實，不大便者下之。</p>
<p>痛甚者脈必伏，多用溫藥，不用參、術，可用附子。</p>
<p>諸痛不可用補氣藥。</p>
<p>各寒犯胃，草豆蔻丸用之，熱亦可用。止用一二服。</p>
<p>草豆蔻（一錢四分，裹，燒熱，去皮）　吳茱萸（湯泡洗去梗焙秤）　益智仁　白殭蠶　橘皮　人參　黃耆（各八分）　生甘草　歸身　炙甘草　青皮（各六分）　曲末　薑黃（各四分）　桃仁（七個，去皮）　半夏（洗，一錢）　麥櫱（一錢半，炒黃）　澤瀉（一錢，小便多減半）　柴胡（四分）　詳膈下痛，多為用之。</p>
<p>上一十八味，除桃仁另研如泥外，余極細末，同桃仁研勻，用湯泡蒸餅為丸，如桐子大。每服三十丸，食遠用白湯送下，旋斟酌多少用之。</p>
<p>又方，用黃荊子炒焦為末，米飲調服。亦治白帶。</p>
<p>又方，脾痛用海蛤粉，佐以香附末，用川芎、山梔，生薑煎辣湯調服為佳。</p>
<p>又方，單用壯蠣粉，酒調下，一二錢。氣實不可用。</p>

<h2>腰痛</h2>
<p>濕熱腰疼者，遇天陰或久坐而發者是也。腎虛者，疼之不已者是也。瘀血者，日輕夜重是也。</p>
<p>脈大者腎虛，用杜仲、龜板、黃柏、知母、枸杞、五味之類，用豬脊髓丸。</p>
<p>脈澀者瘀血，用補陰丸中加桃仁、紅花。</p>
<p>濕熱者，用蒼朮、杜仲、黃柏、川芎。痰者用南星。</p>
<p>凡諸痛皆屬火，寒涼藥不可峻用，必用溫散之藥。</p>
<p>諸痛不可用人參。蓋人參補氣，氣旺不通，而痛愈甚。臍下忽大痛者，人中如黑色者，多死，難治也。</p>
<p>人面上忽有紅點者多死。</p>

<h2>脅痛</h2>
<p>肝火盛，木氣實，有死血，肝急，有痰流注。</p>
<p>本氣實：川芎、蒼朮、青皮、當歸。</p>
<p>龍薈丸瀉火要藥。</p>
<p>死血：桃仁、紅花、川芎。</p>
<p>痰流注：二陳湯加南星、蒼朮、川芎。</p>
<p>肝苦急，急食辛以散之，用撫芎、蒼朮。血病入血藥中行血。脅痛甚者，用薑汁，下龍薈丸，火盛故也。</p>
<p>咳嗽脅痛，二陳湯加南星，多香附、青皮、青黛、薑汁。</p>

<h2>腹痛</h2>
<p>有寒，積熱，死血，食積，濕痰。</p>
<p>戴云：寒痛者，綿綿痛而無增減者是寒。痛時止者，是熱也。死血痛者，每痛有處，不行移者是也。食積者，甚欲大便，利後痛減者是。濕痰者，凡痛必小便不利。</p>
<p>脈弦強者食。脈滑者痰。</p>
<p>滑痰多作腹痛，用苔芎、蒼朮、香附、白芷、生薑汁，入湯服。腹中水鳴，乃火擊動其水也，二陳湯加黃芩、黃連、梔子。凡心腹痛，必用溫散。此是鬱結不散，阻氣不運，故病在下者多屬食，宜溫散之。</p>
<p>一老人腹痛，年高不禁下者，用：</p>
<p>川芎　蒼朮　香附　白芷　乾薑　茯苓　滑石</p>

<h2>痛風</h2>
<p>四肢百節走痛，風熱，風濕，血虛，有痰。</p>
<p>大法之方：</p>
<p>南星　蒼朮　川芎　白芷　當歸　酒黃芩</p>
<p>在上者加羌活、桂枝、桔梗、威靈仙。</p>
<p>在下者加牛膝、防己、木通、黃柏。</p>
<p>血虛者多用川芎、當歸，佐以桃仁、紅花。</p>
<p>薄桂治痛風，無味而薄者，獨此能橫行手臂，領南星、蒼朮等治之。</p>
<p><u>上中下痛風方</u></p>
<p>威靈仙（三錢）　南星（二兩）　苔芎（一兩）　白芷（半兩）　桃仁（半兩）　桂枝（三錢）　防己（五分）　蒼朮（二兩）　黃柏（酒浸，炒，二兩）　紅花（一錢半）　羌活（三錢）　神麯（一兩，炒）　草龍膽（五分）</p>
<p>張子元氣血虛，有痰濁、陰火痛風：</p>
<p>人參（一兩）　白朮（二兩）　黃柏（二兩，炒黑）　海石（一兩）　鎖陽（五錢）　乾薑（三錢，燒灰）　南星（一兩）　敗龜板（二兩，炙）　熟地黃（二兩）　粥為丸。</p>
<p>治臂痛：</p>
<p>半夏（一錢）　陳皮（五分）　茯苓（五分）　蒼朮（一錢半）　酒芩（一錢）　靈仙（三分）　白朮（一錢）　甘草（少許，炒）　南星（一錢）　香附（一錢）</p>

<h2>勞瘵（其主在乎陰虛，痰與血病）</h2>
<p>青蒿一斗五升，重便三斗，文武火熬。約童便減二斗，去蒿，熬至一斗。入豬膽汁七個，再熬數沸，甘草末收之。</p>
<p>虛勞身瘦屬火，因火燒爍。</p>
<p>勞病四物湯加人尿、薑汁。</p>

<h2>咳血（痰盛。身熱多是血虛）</h2>
<p>戴云：咳血者，嗽出痰內有血者是。嘔血者，嘔全血者是。咯血者，每咯出皆是血疙瘩。蛆血者，鼻中出血也。溺血，小便出血也。下血者，大便出血也。雖有名色分六，俱是熱證，但有虛實新舊之不同。或妄言為寒者，誤也。</p>
<p>青黛　訶子　山梔　海石　瓜萎仁</p>
<p>上為末，薑汁、蜜調噙化。嗽甚者加杏仁，後以八物湯加減調理。身熱多是血虛，四物湯加減。</p>

<h2>嘔血（火載血上，錯經妄行）</h2>
<p>脈大發熱，喉中痛者，是氣虛，用人參、黃耆蜜炙，黃柏、荊芥，並當歸、生地黃用之。</p>
<p>嘔血用韭汁、童便、薑汁磨鬱金，同飲之，其血自清。</p>
<p>火載血上，經錯妄行，四物湯加炒梔子、童便、薑汁、山茶花。童便、薑汁酒調。鬱金末治吐血，入薑汁、童便。痰帶血絲出者，童便、薑汁、竹瀝。</p>
<p>又方，用韭汁、童便二物相合，用鬱金細研，入在二物之內同飲，其血自消。</p>
<p>治衄血上行，鬱金如無，山茶花代，薑汁、童便和好，酒調服，即止之。</p>

<h2>咯血</h2>
<p>薑汁、童便、青黛，入血藥中用之，加以四物湯、地黃膏、牛膝膏之類。</p>

<h2>衄血</h2>
<p>涼血行血為主，犀角地黃湯入鬱金同用。</p>
<p>經血逆行，或血腥，或唾血吐血，用韭葉汁，立效。</p>

<h2>溺血</h2>
<p>屬熱，山梔子炒，水煎服。或用小薊、琥珀。</p>
<p>有血虛者，四物湯加牛膝膏。</p>

<h2>下血</h2>
<p>不可純用寒涼藥。必於寒涼藥中用辛味，並溫，如酒浸炒，涼藥酒煮黃連之類。</p>
<p>有熱，四物湯加炒梔子、升麻、秦艽、膠珠。下血屬虛，當溫散，四物湯加炮乾薑、升麻。</p>
<p>又方，用白芷五倍於丸。凡用血藥，不可單行單止。有風邪下陷，宜升提之。蓋風傷肝，肝生血故。有濕傷血，宜行濕消熱可也。《內經》謂身熱即死，寒則生。此亦是大概言之，必兼證詳之則可，今豈無身熱生寒而死者。脈沉小流連，或微者易治。脈浮大洪數者難愈。宜滑不宜弦。</p>
<p>仲景治痢可溫者五法，可清者十法。或解表，或利小便，或待其自己，區分易治難治極密。但與瀉同，立法不分。學者當辨之。</p>
<p>大孔痛，一曰溫之，一曰清之。久病，身冷自汗，脈沉小者，久病宜溫；暴病，身熱，脈浮洪，宜清。</p>
<p>有可吐者，有可下者，有可汗者。</p>
<p>初得時，原氣未虛，必推蕩之。此通用之法，稍久氣虛則不可。</p>
<p>先水瀉後膿血，此脾傳腎，賊邪難愈；先膿血，後水泄，此腎傳脾，易愈微邪。</p>
<p>如豆汁者濕也。蓋脾胃為水穀之海，無物不受，常兼四臟，故如五色之相雜。當先通利，此迎而奪之之義。如虛者亦宜審之。</p>
<p>因熱而作，不可用巴豆等藥。如傷冷物者或可用，亦宜謹之。</p>
<p>又有時疫作痢，一方一家之內，上下傳染相似，卻宜明運氣之勝，復以治之。</p>

<h2>腸風（獨在胄與大腸出）</h2>
<p>用黃芩、秦艽、槐角、升麻、青黛。</p>

<h2>夢遺（專主熱，脫精）</h2>
<p>戴云：因夢交而出精者，謂之夢遺。不因夢而自泄精者，謂之精滑。皆相火所動。久則有虛而無寒者也。帶下與夢遺同法治。</p>
<p>青黛　海石　黃柏　即椿樹根丸。</p>
<p>內傷氣血，不能固守，當補，八物湯加減，吞椿樹根丸。思想成病，其病在心，安神帶補，熱則流通。</p>
<p>知母　黃柏　蛤粉</p>

<h2>精滑（專主濕熱）</h2>
<p>戴云：滑者，小便精滑下也。俱是膀胱濕熱，雖有赤白之異，終無寒熱之別。河間云：天氣熱則水渾濁，寒則澄徹清冷。由此觀之，濁之為病，濕熱明矣。</p>
<p>黃柏　知母　牡蠣　蛤粉</p>
<p>又方　良薑（三錢）　芍藥（二錢）　黃柏（二錢，燒灰存性）　樗樹皮（白皮，一兩半）</p>
<p>上為末，糊為丸，每服三十丸。</p>

<h2>濁</h2>
<p>濕熱，有痰，有虛。赤濁屬血，白濁屬氣。（痢、帶同。）寒則堅凝，熱則流通。</p>
<p>大率皆是濕熱流注，宜燥中宮之濕，用二陳湯加蒼朮、白朮。燥去濕，赤者乃是濕傷血，加白芍藥，仍用珍珠粉丸。如椿樹根皮，滑石、青黛等作丸。</p>
<p>虛勞者，用補陰藥，大概不利熱藥。</p>
<p>肥白人必多痰，以二陳湯去其熱。胃弱者兼用人參，以柴胡升胃中之氣。丸藥用青黛、黃柏（炒絹包）、乾薑（炒微黑色）、海石、蛤粉。</p>
<p>胃中濁氣下流為赤白濁者，用柴胡、升麻、蒼朮、白朮，二陳湯丸，藥用樗末、蛤粉、炒薑、炒黃柏。</p>
<p>專主胃中之濁氣下流，滲入膀胱，用青黛、蛤粉。</p>
<p>肝脈弦者，用青黛以瀉肝。</p>
<p>又方　黃柏（一兩，炒黑）　生柏（二錢半，一作三兩）　海石（三兩）　神麯（五錢）</p>
<p>上為末，水為丸。</p>
<p>有熱者，黃柏、滑石、青黛之類。</p>
<p>燥濕痰，南星、半夏、蛤粉。上神麯為丸，青黛為衣，或用海石代曲。</p>
<p>張子元氣血兩虛，有痰，痛風時作，陰火間起，小便白濁，或帶下赤白，方在前痛風中。</p>
<p>一人便濁常有半年，或時夢遺，形瘦，作心虛主治，珍珠粉丸和勻，定志丸服。</p>
<p>一婦人年近六十，形肥，奉養膏粱，飲食肥美，中焦不清，濁氣流入膀胱，下注白濁，白濁即是濕痰也。</p>
<p>戴云：斷用二陳湯去痰，加升麻、柴胡，升胃中之清氣，加蒼朮去濕，白朮補胃，全在活法。服四帖後，濁減大半，覺胸滿。因柴胡、升麻升動其氣，痰阻滿閉，用二陳湯加炒曲、白朮。素無痰者，升動胃氣不滿。</p>
<p>青黛　椿皮　蛤粉　滑石　乾薑　黃柏（炒）</p>
<p>上為末，炒神麯糊丸，仍用前燥濕痰丸，亦能治帶。</p>
<p>又方　滑石利竅，黃柏治濕熱，青黛解鬱結，蛤粉鹹寒入腎，炒乾姜味苦，斂肺氣下降，使陰血生，姜監治之。</p>

<h2>淋（皆屬於痰熱）</h2>
<p>淋者小便淋瀝，欲去不去，不去又來，皆屬於熱也。宜解熱利小便，山梔子之類，用苦參、甘草煎服。諸藥中皆加牛膝。</p>
<p>老人亦有氣虛者，人參、白朮中帶木通、山梔。</p>
<p>亦有死血作淋者，以牛膝作膏，此證亦能損胃不食。</p>

<h2>小便不通</h2>
<p>氣虛　血虛　痰　風閉　實熱</p>
<p>吐之以提其氣，氣升則水自下。蓋氣承載其水也。氣虛用人參、黃耆、升麻等，先服後吐，或參耆藥中探吐。血虛四物湯，先服後吐，芎歸湯吐亦可。痰多二陳湯，先服後吐。皆用探吐。痰氣閉塞，二陳湯加木香、香附探吐，實熱者宜利之。</p>
<p>一婦人脾痛，後患大小便不通。此是痰隔中焦，氣滯於下焦，二陳湯加木通，初吃後煎柤吐之。</p>

<h2>關格</h2>
<p>戴云：關格者，謂膈中覺有所礙，欲升不升，欲降不降，欲食不食，此力氣之橫格也。</p>
<p>必用吐，提其氣之橫格，不必在出痰也。</p>
<p>有痰以二陳湯吐之，吐中便有降。有中氣虛不運者補氣，藥中升降。</p>

<h2>小便不禁（屬熱，屬虛）</h2>
<p>戴云：小便不禁出而不覺，赤者有熱，白者為氣虛也，熱者五苓散加解毒散，虛者五苓散加四物湯。</p>

<h2>癇驚（痰，宜吐）</h2>
<p>戴云：癇者，俗曰豬癲風者是也。</p>
<p>大率行痰為主。</p>
<p>黃連　南星　瓜蔞　半夏</p>
<p>尋痰尋火，分多少，治無不愈。</p>
<p>分痰分熱，有熱者以涼藥清其心；有痰者必用吐藥，吐後用東垣安神丸。此證必用吐，吐後用平肝之藥，青黛、柴胡、川芎之類。</p>

<h2>健忘</h2>
<p>戴云：健忘者，為事有始無終，言談不知首尾，此以為病之名，非比生成之愚頑不知世事者。精神短少者多。亦有痰者。</p>

<h2>怔忡（大概屬血虛）</h2>
<p>有慮便動屬虛。時作時止，痰因火動。</p>
<p>戴云：忡怔者心中不安，惕惕然如人將捕是也。瘦人多是血少。肥人屬痰。尋常者多是痰。真覺心跳者是血少，用四物安神之類。</p>

<h2>驚悸</h2>
<p>血虛，用硃砂安神丸。</p>

<h2>痓（大率與癇病相似）</h2>
<p>多是血虛。有火兼痰。人參、竹瀝之類。不用兼風藥。</p>

<h2>血塊（一名積瘕）</h2>
<p>塊在中為痰飲，在右力食積，在左為血積。</p>
<p>氣不能作塊。成聚塊乃有形之物，痰與食積、死血，此理曉然。醋煮海石、三稜、莪朮、桃仁、紅花、五靈脂、香附之類。白朮湯吞下瓦龍子，能消血塊，次消痰。治塊當降火消食積，食積即痰也。行死血，塊去須大補。石鹼一物，有痰積有血塊可用，洗滌垢膩，又消食積。</p>

<h2>吐蟲</h2>
<p>以黑錫炒成灰，檳榔末，米飲調。</p>

<h2>癥瘕</h2>
<p>戴云：積聚癥瘕，有積聚成塊，不能移動者是症；或有或無，或上或下，或左或右者是瘕。</p>
<p>用蜀葵根煎湯，煎人參、白朮、陳皮、青皮、甘草梢、牛膝成湯，入細研桃仁、玄明粉各少許，熱飲一服，可見塊下。病重補接之，後加減再行。</p>
<p><u>消塊丸</u>　即《千金》大消石丸，止可磨塊，不令人困，須量虛實而用可也。</p>
<p>硝石（六兩）　大黃（八兩）　人參　甘草（各三兩）</p>
<p>上為末，以三年苦酒三斗，置銅器中以竹片作準，每入一升，作一刻柱器中熬，先納大黃，不注手攪，使微沸盡一刻，乃下余藥，又盡一刻微火熬。使可丸，則取丸如雞子中黃大，每服一丸，米飲下。如不能大丸，則作小丸，如桐子大，每服三十丸。後下如雞肝，如米泔赤黑等色。下後忌風冷，淡軟粥調理。</p>
<p>又，　三聖膏</p>
<p>未化石灰半斤為末，瓦器中炒，令淡紅色，提出火外，候熱少減，吹下大黃末，以大黃一兩為末，就爐炒同熱，減入桂心末半兩略炒，入米醋熬成膏藥，厚攤火烘，熱貼患處。</p>
<p><u>貼積聚塊</u></p>
<p>大黃、朴硝各一兩為末，用大蒜搗膏和勻，貼之。</p>
<p>痞塊在皮裡膜外，須用補氣，香附開之，兼二陳湯加補氣藥，先須斷厚味。</p>

<h2>茶癖</h2>
<p>石膏　黃芩　升麻</p>
<p>上為末，砂糖水調服。</p>

<h2>癭氣</h2>
<p>先須斷厚味。海石藻（一兩）　黃藥（二兩）　上為末，以少許置於掌中，時時舐之，津嚥下。如消三分之二，須止後服藥。（食積一方乃在婦人門食積條下。）</p>

<h2>疝</h2>
<p>濕熱痰積，流下作痛，大概因寒鬱而作也，即是痰飲、食積並死血。</p>
<p>戴云：疝本屬厥陰肝之一經，余嘗見俗說小腸，膀胱下部氣者，皆妄言也。</p>
<p>子和云：疝本肝經，宜通勿塞，只此見治之法。</p>
<p>專主肝經，與腎絕無干，不宜下。</p>

<h2>㿗濕多（疝氣灸大敦穴）</h2>
<p>食積與瘀血成痛者：</p>
<p>梔子　桃仁　山楂　枳實　吳茱萸</p>
<p>上為末，生薑汁順流水作湯調服。</p>
<p>按之不定，必用桂枝，屬虛：</p>
<p>桂枝　山梔（炒）　烏頭（細切，炒）</p>
<p>上為末，薑汁為丸，每服三十丸劫痛。</p>
<p><u>治病方</u>　定痛速效，濕勝者加荔枝核（炮）。</p>
<p>枳殼（十五個）　山梔（炒）　糖球（炒）　茱萸（炒，或等分）</p>
<p><u>又守效丸</u>　治㿗要藥，不疼者：</p>
<p>蒼朮　南星　白芷　山楂　川芎　半夏　枳實（又云枳核）</p>
<p>上為末，神麯作丸。</p>
<p>治陽明受濕熱，傳入大腸，惡寒發熱，小腸連毛際結核，悶痛不可發：</p>
<p>山梔（炒）　枳殼（炒）　桃仁（炒）　山楂（等分）</p>
<p>上研細，炒，缽內入生薑汁，用水一盞，煎令沸，熱服之。</p>
<p>治諸疝發時，用海石、香附二味為末，以生薑汁湯調服。亦能治心痛。</p>
<p><u>治疝方</u></p>
<p>梔子　桃仁　橘核　茱萸　川烏</p>
<p>研細煎服。</p>
<p>劫藥，用烏頭細切，炒梔子、枳核散，單止痛。</p>

<h2>腳氣</h2>
<p>蒼朮（鹽炒）　白朮　防己　檳榔　川芎　犀角　甘草　木通　黃連　生地黃（酒炒）　黃柏　有熱加黃芩、黃連，有痰加竹瀝、薑汁。凡大熱及時令熱加石膏，大便實加桃仁，小便澀加牛膝。</p>
<p>有食積流注：</p>
<p>蒼朮　黃柏　防己　南星　川芎　白芷（作丸）　犀角　檳榔</p>
<p>血虛加牛膝、龜板。</p>
<p>如常腫者專主乎濕熱，朱先生有方，肥人加痰藥。</p>
<p>戴云：有腳氣衝心，宜四物湯加炒柏；再宜湧泉穴，用附子津拌䭃，以艾灸，泄引其熱。</p>
<p><u>健步丸</u></p>
<p>歸尾　芍藥　陳皮　蒼朮（各一兩）　生地黃（半兩）　大腹子（三兩）　牛膝　茱萸（各半兩）　條黃芩（半兩）　桂枝（二錢）</p>
<p>上為末，蒸餅為丸，每服百丸。白朮、通草煎湯，食前下。</p>
<p>一婦人足腫：</p>
<p>黃柏　蒼朮　南星　紅花（酒洗）　草龍膽　川芎　牛膝（酒洗）　生地黃</p>
<p>筋動於足大指動上來，至大腿近腰結了，奉養厚，因風寒作，四物湯加酒芩、紅花、蒼朮、南星。</p>
<p>筋轉皆屬乎血熱，四物湯加酒芩、紅花。</p>
<p>大病虛脫，本是虛陰。用艾灸丹田者，所以補陽，陽生則陰生故也。不可用附子，可用參多服。</p>

<h2>痿</h2>
<p>斷不可作風治而甲風藥。</p>
<p>濕熱　痰　無血而虛　氣弱　瘀血</p>
<p>濕熱，東垣健步方中加燥濕降陰火藥，芩、柏、蒼朮之類。濕痰，二陳湯中加蒼朮、白朮、芩、柏之類，入竹瀝。氣虛，四君子湯中加蒼朮、黃芩、黃柏之類。血虛，四物湯中加蒼朮、黃柏，下補陰丸。亦有食積妨礙不得降者，亦有死血者。</p>
<p><u>健步丸方</u></p>
<p>羌活　柴胡　滑石（炒）　甘草（炙）　天花粉（酒製，各半兩）　防風（三錢）</p>
<p>上為末，酒糊丸如桐子大，每服七十丸，煎愈風湯以空心服下之。</p>

<h2>發熱（陰虛難治）</h2>
<p>戴云：凡脈數而無力者，便是陰虛也。</p>
<p>陰虛發熱，用四物湯加黃柏，兼氣虛加參、耆、白朮。蓋四物湯加黃柏，是降火補陰之妙藥。</p>
<p>又陰虛發熱，用四物湯，甚者加龜板、炒黃柏。</p>
<p>吃酒人發熱者難治。不飲酒之人，若因酒而發熱者，亦難治。</p>
<p>一男子年三歲，因酒發熱，用青黛、瓜萎仁、薑汁，每日以數匙入口中，三日而愈。</p>

<h2>陽虛惡寒</h2>
<p>戴云：凡背惡寒甚者，脈浮大而無力者，是陽虛也，用人參、黃耆之類。甚者加附子少許，以行參、耆之氣。</p>
<p>一女子惡寒，用苦參一錢，赤小豆一錢，為末。齏水吐，用川芎、蒼朮、南星、黃芩，酒麴丸。</p>

<h2>手心熱</h2>
<p>梔子　香附　蒼朮　白芷　川芎　半夏（生用）</p>
<p>上為末，曲糊丸。</p>

<h2>手麻</h2>
<p>此是氣虛也。</p>

<h2>手木</h2>
<p>東垣云：麻木，氣不行也，補肺中之氣。是濕痰死血，十指麻是胃中有濕痰死血。</p>

<h2>厥</h2>
<p>因痰，用白朮、竹瀝。厥者手足冷也，熱厥逆也，非寒證，因氣虛。熱，承氣湯。外感解散，加薑汁、酒。</p>

<h2>面寒面熱</h2>
<p>火起，寒鬱熱，面寒，退胃熱。</p>

<h2>喉痹</h2>
<p>大概多是熱痰也，只以桐油吐之。或用射干逆流水吐。又方，用李實根皮一片，噙口內，更用李實根研水，傅頂上，立效，新採園中者。</p>

<h2>纏喉風</h2>
<p>戴云：屬痰熱纏喉風者，謂其咽喉裡外皆腫者是也，用桐油以鵝翎探吐。又法，用燈油腳探吐之。又方，用遠志去心，水調，傅頂上一道，立效。</p>

<h2>咽喉生瘡並痛</h2>
<p>多屬虛血熱遊行無制，客於咽喉。</p>
<p>人參蜜炙　黃柏　荊芥</p>
<p>虛，人參、竹嚦。無實火。</p>
<p>熱，黃連、荊芥、薄荷、硝石。</p>
<p>上為細末，用蜜、薑汁調噙。</p>
<p>血虛，四物湯中加竹瀝。</p>

<h2>口瘡</h2>
<p>服涼藥不愈者，此中焦氣不足，虛火泛上無制。</p>
<p>用理中湯，甚者加附子。或噙官桂亦可。</p>
<p>又方，用西瓜漿水，口痛甚者，以此徐徐飲之。冬月紫榴皮燒灰噙，亦可。</p>

<h2>酒皶鼻（血熱入肺）</h2>
<p>四物湯中加陳皮、紅花、酒炒黃芩，煎入好酒數滴，就炒五靈脂末服效。</p>
<p>又用桐油入黃連，以天吊藤燒油熱傅之。</p>

<h2>肺癰</h2>
<p>已破入風者不治，搜風湯吐之。（出《醫壘元戎》）</p>
<p>收斂瘡口，止有合歡樹皮，白蘞湯飲之。</p>

<h2>肺痿</h2>
<p>專主養肺，養血，養氣清金。</p>

<h2>天泡瘡</h2>
<p>通聖散及蚯蚓泥略炒，蜜調傅之妙。</p>
<p>從肺上起者，裡熱發，外邊服通聖散可也。</p>

<h2>漏瘡</h2>
<p>先須服補藥以生氣血，即參、耆、朮、歸、芎為主，大劑服之。外以附子末，唾和作餅，如錢厚，以艾炷灸之。漏大艾炷亦大，漏小艾炷亦小。但灸令微熱，不可令痛。於則易之。乾研為末，再和再灸。如困則止。來日如前法再灸，直至肉平為效。亦有用附片灸，仍前氣血藥用作膏藥貼之。</p>

<h2>痔漏</h2>
<p>用五倍子、朴硝、桑寄生、蓮房煎湯，先蒸後洗。腫者用木鱉子、五倍子，研細末，調傅。</p>
<p>漏專以涼藥為正。</p>
<p><u>痔漏方</u></p>
<p>人參　黃耆　當歸　川芎　生地　升麻　枳殼　條芩　槐角</p>

<h2>腸癰</h2>
<p>作濕熱食積治。入風難治。</p>
<p>治漏外塞藥，蘆甘石小便煅、牡蠣粉。</p>

<h2>結核</h2>
<p>或在頸在項在身在臂，如腫毒。多痰注作核不散。治耳後頂門各一塊：</p>
<p>殭蠶（炒）　青黛　膽星　酒大黃</p>
<p>上為末，蜜丸噙化之。</p>
<p>頸頰下生痰核：</p>
<p>二陳湯加炒大黃、連翹、桔梗、柴胡。</p>
<p>治臂核作痛：</p>
<p>連翹　防風　川芎　酒芩　蒼朮　皂角刺</p>
<p>治環跳穴痛防生附骨癰方：</p>
<p>以蒼木佐黃柏之辛，行以青皮，冬月加桂伎，夏月加條子黃芩，體虛者加土牛膝，以生甘草為使，大料煎入生薑汁，帶辣食前飲之。病甚者，恐朮、柏、桂枝十數貼發不動，少加麻黃一兩貼。又不動者，恐癰將成矣，急撅地成坑，以火煅紅，沃以小便，赤體坐其上，以被席圍抱下體，伏熱氣黛蒸，腠理開，血氣暢而愈。</p>

<h2>脫肛</h2>
<p>氣熱，氣虛。</p>
<p>氣虛補氣，用人參、當歸、黃耆、川芎、升麻。</p>
<p>血虛者，四物湯。血熱者涼血，四物湯加黃柏炒。</p>

<h1>卷三</h1>

<h2>婦人科</h2>
<p>經水經候過期而作痛者，乃虛中有熱，所以作疼。</p>
<p>經水不及期，血熱也，四物湯加黃連。</p>
<p>經候將來而作疼者，血滯也：</p>
<p>桃仁、香附、黃連。</p>
<p>過期乃血少也：</p>
<p>川芎、當歸，帶人參、白朮與痰藥。</p>
<p>過期紫黑色有塊，血熱也，必作痛：</p>
<p>四物湯加黃連、香附。</p>
<p>淡色過期者，乃痰多也：</p>
<p>二陳湯加川芎、當歸。</p>
<p>紫色成塊者，乃是熱也，四物湯加黃連之類。</p>
<p>痰多佔住血海地位，因而下多者，目必漸昏，肥人如此：</p>
<p>南星　蒼朮　香附　川芎，作丸服。</p>
<p>肥人不及日數而多者，痰多血虛有熱，前方加黃連、白朮。若血枯經閉者，四物湯加桃仁、紅花。</p>
<p>軀肥脂滿經閉者，導痰湯加芎、連，不可服地黃泥隔故也，如用以生薑汁炒。</p>

<h3>血崩</h3>
<p>崩之為病，乃血之大下，豈可為寒。但血去後，其人必虛，當大補氣血。</p>
<p>東垣有治法，但不言熱，其主於寒，學者宜再思之。</p>
<p>急則治其標，白芷湯調百草霜，甚者棕櫚皮灰，後用四物湯加於姜調理。因勞者，用參、耆帶升補藥。</p>
<p>因寒者，加乾薑。因熱者，加黃芩、參、耆。崩過多者，先服五靈脂末一服。當分寒熱。五靈脂能行，止婦人血崩。用白芷、香附為丸。白帶用椒目末，又用白芷末。一方用生狗頭骨，燒灰存性，或酒調服，或入藥服之。又方用五靈脂，半生半熟，為末，以酒調服。氣虛血虛者，皆於四物湯加人參、黃耆。漏下乃熱而虛者，四物湯、黃連。</p>

<h3>帶下赤白</h3>
<p>赤屬血，白屬氣。主治燥濕為先。</p>
<p>帶漏俱是胃中痰積流下，滲入膀胱，宜升，無人知此。肥人多是濕痰。</p>
<p>海石　半夏　南星　蒼朮　川芎　椿皮　黃柏。</p>
<p>瘦人帶病少。如有帶者，是熱也。</p>
<p>黃柏　滑石　川芎　椿皮　海石</p>
<p>甚者上必用吐以提其氣，下用二陳湯加蒼朮、白朮，仍用丸子。（一本作瓦龍子。）</p>
<p>又云：赤白帶皆屬於熱，出於大腸、小腸之分。</p>
<p>一方，黃荊子炒焦為末，米飲湯下。治白帶，亦治心痛。羅先生治法：或十棗湯，或神佑丸，或玉燭散，皆可用。不可峻攻。實者可用此法，虛則不宜。</p>
<p>血虛者加減四物湯；氣虛者以參、朮、陳皮間與之；濕甚者用固腸丸；相火動者，於諸藥中少加炒柏；滑者加龍骨、赤石脂；滯者加葵花；性燥者加黃連；寒月少入薑、附。臨機應變。必須斷厚味。</p>
<p>又方，用：</p>
<p>良薑、芍藥、黃柏（二錢，各燒灰），入椿樹皮末（一兩半）。</p>
<p>上為末，粥為丸，每服三四十丸。</p>
<p>痰氣帶下者：</p>
<p>蒼朮　香附　滑石　蛤粉　半夏　茯苓</p>
<p>婦人上有頭風鼻涕，下有白帶：</p>
<p>南星　蒼朮　黃柏（炒焦）　滑石　半夏　川芎　辛夷　牡蠣粉（炒）　茯苓</p>
<p>白帶兼痛風：</p>
<p>半夏　茯苓　川芎　陳皮　甘草　蒼朮（炒，浸）　南星　牛膝（酒洗）　黃柏（酒浸，曬乾，炒）</p>

<h3>子嗣</h3>
<p>肥盛婦人不能孕育者，以其身中膜脂閉塞子宮而致，經事不能行，可用導痰湯之類。</p>
<p>瘦怯婦人不能孕育者，以其子宮無血，精氣不聚故也，可用四物湯養血養陰等藥。</p>

<h3>產前胎動</h3>
<p>孕婦人因火動胎，逆上作喘者，急用條黃芩、香附之類。將條芩更於水中沉，取重者用之。</p>
<p>固胎：</p>
<p>地黃（五分）　人參　白芍（各一錢）　白朮（一錢半）　川芎　歸身尾（一錢）　陳皮（一錢）　甘草（二錢）　糯米（一十四粒）　黃連（些少）　黃柏（些少）　桑上羊兒藤（用七葉完者）</p>
<p>上㕮咀，煎湯服之。</p>
<p>血虛不安者用阿膠。痛者縮砂，行氣故也。</p>
<p>一切病不可表。</p>

<h3>惡阻（從痰治）</h3>
<p>戴云：惡阻者謂婦人有孕，噁心阻其飲食者是也。肥者有痰，瘦者有熱。多用二陳湯。</p>
<p>或白朮為末，水丸。隨所好，或湯或水下。</p>
<p>婦人懷妊愛物，乃一臟之虛假。如肝臟虛，其肝氣止能生胎，無餘用也，又云不能榮其肝，肝虛故受酸。</p>
<p>血塊、死血、食積、痰飲成塊，在兩脅動作腹鳴，嘈雜眩運，身熱時作時止：</p>
<p>黃連（一兩。一半用茱萸炒，去茱萸；一半益智拌抄，去益智）　山梔（半兩，炒）　苔芎（半兩）　香附（一兩。用童便浸）　蘿蔔子（一兩半，炒）　山楂（一兩）　三稜　青皮　神麯（各半兩）　莪朮（半兩，用米醋煮）　桃仁（半兩，留尖去皮）　白芥子（一兩半，炒）　瓦龍子（消血塊）</p>
<p>上為末，作丸子服之。</p>
<p>一婦人血塊如盤，有孕難服峻劑：</p>
<p>香附（四兩，煮醋）　桃仁（一兩，去皮尖）　海石（二兩，醋煮）　白朮（一兩）</p>
<p>上為末，神麯為丸。</p>

<h3>束胎</h3>
<p><u>束胎丸</u>　第八個月服之。</p>
<p>黃芩（酒炒，夏用一兩，秋用七錢半，冬用半兩）　茯苓（七錢半）　陳皮（二兩，忌火）　白朮（一兩）　粥為丸。</p>
<p><u>束胎散</u>　即達生散。</p>
<p>人參（五分）　陳皮（五分）　白朮　白芍　歸身尾（各一錢半）　甘草（二錢、炙）　大腹皮（三錢）　紫蘇（五分）　或加枳殼、砂仁作一貼，入青蔥五葉，黃楊木葉梢十個煎。待於八九個月上服十數貼，甚得力。或夏加黃芩，冬不必加，春加川芎。或有別證，以意消息。</p>
<p>第九個月服：</p>
<p>黃芩（一兩，酒炒，宜熱藥，不宜涼藥，怯弱人減半）　白朮（一兩）　枳殼（七錢半，炒）　滑石（七錢半。臨月十日前小便多時，減此一味）</p>
<p>上為末，粥為丸，如梧桐子大。每服三十丸，空心熱湯下。不可多，恐損元氣。</p>

<h3>安胎</h3>
<p>白朮　黃芩　炒曲　粥為丸。</p>
<p>黃芩安胎，乃上中二焦藥，能降火下行。</p>
<p>縮砂安胎治痛，行氣故也。</p>
<p>益母草即茺蔚子，治產前產後諸病，能行血養血。難產作膏：</p>
<p>地黃膏、牛膝膏。</p>

<h3>胎漏</h3>
<p>氣虛　血虛　血熱</p>
<p>戴云：胎漏者謂婦人有胎而血下漏者。</p>

<h3>子腫（濕多）</h3>
<p>戴云：子腫者，謂婦孕手足或頭面通身浮腫者是也。用山梔炒，合米飲湯吞下。</p>

<h3>難產</h3>
<p>難產之由，亦是八九個月內不謹者。</p>
<p>氣血虛故，亦有氣血凝而不能轉運者。</p>
<p>催生方：</p>
<p>白芷灰　滑石　百草霜</p>
<p>上為末，芎歸湯或薑汁調服之。治胎衣不下。</p>
<p>《婦人大全方》別有藥。</p>

<h3>產後血暈</h3>
<p>虛火帶血漸漸暈來：</p>
<p>用鹿角燒灰，出火毒，研為極細末，以好酒調灌下即醒，行血極快也。</p>
<p>又方，用韭葉細切，盛於有嘴瓶中，以熱醋沃之，急封其口，以嘴塞產婦鼻中，可愈眩暈。</p>
<p>產後補虛：</p>
<p>人參　白朮（各一錢）　黃芩　陳皮　川芎　歸身尾（五分）　甘草（三錢，炙）</p>
<p>有熱加生薑（三錢），茯苓（三錢）。必用大補氣血，雖有雜症，以末治之。</p>
<p>當清熱、補血氣。</p>
<p>消血塊：</p>
<p>滑石（三錢）　沒藥（二錢）　麒麟竭（二錢）　無則牡丹皮</p>
<p>上為末，醋糊作丸。</p>
<p>瓦龍子能消血塊。</p>

<h3>泄</h3>
<p>川芎　黃芩　白朮　茯苓　乾薑　滑石　白芍（炒）　陳皮　㕮咀，煎湯服之。</p>

<h3>惡露不盡</h3>
<p>謂產後敗血所去不盡，在小腹作痛：</p>
<p>五靈脂　香附米　蛤粉　醋丸（甚者入桃仁，不去尖）</p>
<p>如惡血不下，以五靈脂為末，神麯糊丸，白朮、陳皮湯下。</p>

<h3>中風</h3>
<p>不可作風治，切不可以小續命湯服之。必大補氣血，然後治痰。當以左右手脈分其氣血多少而治。口眼喎斜，不可服小續命湯。</p>

<h3>發熱惡寒</h3>
<p>大發熱必用乾薑，輕用茯苓淡滲。其藥一應苦寒，熱發表藥皆不可用也。</p>
<p>才見身熱，便不可表。發熱惡寒，皆是氣血。</p>
<p>左手脈不足，補血藥多於補氣藥。右手脈不足，補氣藥多於補血藥。</p>
<p>惡寒發熱腹滿者，當去惡血。腹滿者不是，腹痛者是。產後不可用白芍藥，以其酸寒，伐生髮之氣故也。</p>
<p>產後一切痛，皆不可發散。</p>

<h2>小兒科</h2>
<p>小兒食積、痰熱、傷乳為病，大概肝與脾病多。</p>
<p>小兒肝病多，及大人亦然。肝只是有余，腎只是不足。</p>

<h3>吐瀉黃疸</h3>
<p>三稜　莪朮　陳皮　青皮　神麯　麥芽　甘草　白木　茯苓　黃連</p>
<p>上為末，水調服。</p>
<p>傷乳吐瀉者加山楂，時氣吐瀉者加滑石，發熱者加薄荷，吐瀉用益元散。錢氏五補五瀉之藥俱可用。</p>

<h3>急慢驚風</h3>
<p>發熱口瘡　手心伏熱　痰熱痰喘　痰嗽</p>
<p>並用通法，重則用瓜蒂散，輕則用苦參、赤小豆末，須酸齏汁調服，吐之後用通聖散蜜丸服之。</p>
<p>驚有二證：一者熱痰主急驚，當直瀉之；一者脾虛乃為慢驚，所主多死，當養脾。</p>
<p>東垣云：慢驚者先實脾土，後散風邪。</p>
<p>急者只用降火下痰養血。</p>
<p>慢者只用硃砂安神丸，更於血藥中求之。</p>
<p><u>黑龍丸</u></p>
<p>牛膽南星　礞石（各一兩，焰硝等分，煅）　天竺黃　青黛（各半兩）　蘆薈（二兩半）　硃砂（二錢）　殭蠶（五分）　蜈蚣（二錢半，火燒存性）</p>
<p>上為細末，煎甘草湯膏，丸如雞頭大。每服一丸或二丸。急驚薄荷湯下，慢驚桔梗、白朮湯下。</p>
<p><u>神聖牛黃奪命散</u></p>
<p>檳榔（半兩）　木香（三錢）　大黃（二兩，麵裹煨熟為末）　白牽牛（一兩，一半炒，一半生用）　黑牽牛（粗末，一半生用，一半炒用）</p>
<p>上為一處，研作細末，入輕粉少許。每服二錢，用蜜漿水調下。不拘時候，微利為度。</p>

<h3>疳病</h3>
<p><u>胡黃連丸</u></p>
<p>胡黃連（五分，去果積）　阿魏（一錢半，醋煮，去肉積）　麝香（四粒）　神麯（二錢半，去食積也）　黃連（二錢半，炒，去熱積）</p>
<p>上為末，豬膽汁丸如黍米大，每服二十丸，白朮湯下。</p>
<p>小兒疳病腹大黃連丸二十丸，白朮湯下。</p>

<h3>痘瘡</h3>
<p>分血虛氣虛補之：氣虛用人參、白朮，加解毒藥；血虛四物湯加解毒藥，酒炒芩、連，名解毒散。但見紅點，便忌升麻葛根湯，發得表虛也。吐瀉少食為裡虛，不吐瀉能食為實。裡實而補，則結癰腫。陷伏、倒靨、灰白為表虛，或用燒人屎。黑陷甚者，燒人屎。紅活綻凸，為表實，而復用表藥，則要潰爛不結痂。二者俱見，為表裡俱虛。痘瘡或初出或未出時，人有患者，宜預服此藥，多者合少，重者合輕，方用絲瓜近蒂三寸，連瓜子皮燒灰存性，為末，砂糖拌吃，入硃砂末亦可。</p>
<p>解痘瘡毒藥：</p>
<p>絲瓜　升麻　酒芍藥　甘草（生用）　糖球　黑豆　犀角　赤小豆</p>
<p>解痘瘡法，已出未出皆可用硃砂為末，以蜜水調服，多者可減，少者可無。</p>

<h3>腹脹</h3>
<p>蘿蔔子（蒸）　紫蘇梗　陳皮　乾薑（各等分）　甘草（減半）　食減者加白朮煎服。</p>

<h3>夜啼</h3>
<p>人參（一錢半）　黃連（一錢半，薑汁炒）　甘草（五分）　竹葉（二十片）</p>
<p>上作三服，姜一片煎服之。</p>
<p>戴云：謂滿口生瘡者是也。江茶、粉草傅之。又方，苦參、黃丹、五倍子、青黛各等分傅之。</p>

<h3>脫囊腫大</h3>
<p>戴云：脫囊者，陰囊腫大，墜下不收上之說。</p>
<p>木通　甘草　黃連　當歸　黃芩　煎服。</p>
<p>脫囊，紫蘇葉為末，水調傅上，荷葉裹之。</p>

<h3>脫肛</h3>
<p>戴云：脫肛者，大腸脫下之說。</p>
<p>東北方陳壁上土湯泡，先薰後洗。亦可脫囊，用藥服之。</p>

<h3>木舌</h3>
<p>戴云：木舌者，舌腫硬不和軟也。又言重舌者亦是。類此二者，皆是熱病。用：</p>
<p>百草霜　滑石　芒稍　為末，酒調服。</p>

<h3>癮疹</h3>
<p>黑斑、紅斑、瘡癢，用通聖散調服。</p>

<h3>咯紅</h3>
<p>戴云：咯紅者，即唾內有血，非吐血與咳血。</p>
<p>黑豆　甘草　陳皮　煎服。</p>

<h3>吃泥（胃熱故也）</h3>
<p>軟石膏　甘草　黃芩　陳皮　茯苓　白朮</p>
<p>上煎湯服之。</p>

<h3>痢疾　食積</h3>
<p>黃芩　黃連　陳皮　甘草　煎服。</p>
<p>赤痢加紅花、桃仁，白痢加滑石末。</p>
<p>食積痢：</p>
<p>炒曲　蒼朮　滑石　芍藥　黃芩　白朮　甘草　陳皮　茯苓</p>
<p>上㕮咀，煎下保和丸。</p>

<h3>解顱</h3>
<p>乃是母氣虛與熱多耳。</p>
<p>戴云：即初生小兒頭上骨未合而開者。</p>
<p>上以四君子湯、四物湯，有熱加酒芩、炒黃連、生甘草煎服，外以絹帛繫緊，用白蘞末敷之。</p>

<h3>蛔蟲</h3>
<p>楝樹根為君，佐以二陳湯煎服。</p>

<h3>口噤</h3>
<p>鬱金　黎蘆　瓜蒂　為末搐鼻。</p>

<h3>風痰</h3>
<p>南星（半兩，切）　白礬（半兩，入器中水高一指浸，曬乾研細末入）　白附子（二兩）　用飛白麵丸如雞黃大，每服一丸或二丸，薑、蜜、薄荷湯化下服之。</p>

<h3>癩頭</h3>
<p>用紅炭淬長流水，令熱洗之。又服酒製通聖散。除大黃酒炒外，以胡荽子、伏龍肝、懸龍尾、黃連、白礬為末調敷。又方用：</p>
<p>松樹厚皮（燒灰，二兩）　白膠香（熬沸傾石上，二兩）　黃丹（一兩，飛）　白礬（半兩，火飛）　軟石膏（一兩）　黃連（半兩）　大黃（半兩）　輕粉（四釐）</p>
<p>上極細末，熬熟油，調敷瘡上。先洗了瘡痂敷乃佳。</p>

<h3>赤瘤</h3>
<p>生地黃　木通　荊芥　苦藥帶表之類，用芭蕉油塗患處。</p>

<h3>鼻赤</h3>
<p>雄黃　黃丹　同敷。</p>
<p>一小兒好吃粽成腹痛：</p>
<p>黃連　白酒藥　為末，調服乃愈。</p>

<h3>火豈君相五志俱有論</h3>
<p>火之為病，其害甚大，其變甚速，其勢甚彰，其死甚急。何者？蓋能燔灼焚焰，飛走狂越，消鑠於物，莫能御之。遊行乎三焦，虛實之兩途：曰君火也，猶人火也；曰相火也，猶龍火也。火性不妄動，能不違於道，常以稟位，聽命運行造化生存之機。今夫人在氣交之中，多動少靜，欲不妄動，其可得乎！故凡動者皆屬火也。火一妄行，元氣受傷，勢不兩立，偏勝則病移他經，事非細故。動之極也，病則死矣。經所以謂一水不勝二火。火之出於天造君相之外，又有厥陰臟腑之火，根於五志之內，六慾七情激之，其火隨起。大怒則火起於肝，醉飽則火起於胃，房勞則火起於腎，悲哀動中則火起於肺。心謂君主，自焚則死矣。丹溪又啟火出五臟主病，曰：諸風掉眩屬於肝，火之動也。諸瘡痛瘍屬於心，火之用也。諸氣憤郁屬於肺，火之升也。諸濕腫滿屬於脾，火之勝也。經所謂一水不勝五火之火，出自人為。又考《內經》病機一十九條，內舉屬火者五：諸熱瞀瘛，皆屬於火。諸禁鼓慄，如喪神守，皆屬於火。諸逆衝上，皆屬於火。諸燥狂越，皆屬於火。諸病胕腫，疼酸驚駭，皆屬於火。而河間又廣其說，火之致病音甚多，深契《內經》之意。吐酸、嘔、喘、暴注下迫、轉筋、小便渾濁、腹脹大鼓之有聲、癰疽瘍疹、瘤氣結核、吐下霍亂、瞀郁腫脹、鼻塞鼽衄、血溢血泄、淋閉、身熱惡寒、戰慄驚感、悲笑譫妄、衄蔑血汙之病，皆少陰君火之火，乃真心、小腸之氣所為也。若瞀瘛暴喑、冒昧、躁擾狂越，罵詈驚駭、跗踵痠疼、氣逆上衝，禁慄如喪神守，嚏嘔瘡瘍、喉瘂耳鳴及聾，嘔湧溢食不下、目昧不明、暴注，瞤瘛，暴病暴死，此皆少陽相火之熱，乃心絡包、三焦之氣所為也。是皆火之變見於諸病也。謂為脈虛則浮大，實則洪數。藥之所主，各因其屬。君火者心火也，可以濕伏，可以水滅，可以直折，惟黃連之屬可以制之。相火者龍火也，不可以濕析之，從其性而伏之，惟黃柏之屬可以降之。噫！瀉火之法，豈止如此。虛實多端，不可不察。以臟氣司之，如黃連瀉心火，黃芩瀉肺火，芍藥瀉脾火，柴胡瀉肝火，知母瀉腎火，此皆苦寒之味，能瀉有餘之火耳。若飲食勞倦，內傷元氣，火不兩並，為陽虛之病，以甘溫之劑除之，以黃耆、人參、甘草之屬。若陰微陽強，相火盛熾，以乘陰位，日漸煎熬，為火虛之病，以甘寒之劑降之，如當歸、地黃之屬。若心火亢極，鬱熱內實，為陽強之病，以鹹冷之劑折之，如大黃、朴硝之屬。若腎水受傷，其陰失守，無根之火，為虛之病，以壯水之劑制之，如生地黃、玄參之屬。若右腎命門火衰，為陽脫之病，以溫熱之劑濟之，如附子、乾薑之屬。若胃虛過食冷物，抑遏陽氣於脾土，為火鬱之病，以升散之劑發之，如升麻、乾葛、柴胡、防風之屬。不明諸此之類，而求火之為病，施治何所依據。故於諸經集略其說，略備處方之用，庶免實實虛虛之禍也。</p>

<h3>氣屬陽動作火論</h3>
<p>捍衛沖和不息之謂氣，擾亂妄動變常之謂火。當其和平之時，外護其表，復行於里，周流一期，循環無端，出入升降，繼而有常，源出中焦，總統於肺氣，昌嘗病於人也。及其七情之交攻，五志之間發，乖戾失常，清者遂變之為濁，行者抑遏而反止，表失衛護而不和，內失健悍而少降，營運漸遠，肺失主持，妄動不已，五志厥陰之火焉，上燔肺氣之病焉。何者？氣本屬陽，反勝則為火矣。河間有曰：五志過極，則為火也。何後世不本此議，而一概類聚香辛燥熱之劑，氣作寒熱，所據何理？且言七氣湯製作，其用青皮、陳皮、三稜、蓬朮、益智、甘桂、甘草，遂以為平和可用，常通治七情所傷。混同一意，未愈其藥，以治真氣。以下諸氣，尤有甚焉者，茲不復敘。況所居之情，各各不同。且夫經言九氣之變，未嘗略而不詳，如怒則氣上，喜則氣緩，悲則氣散，恐則氣下，寒則氣收，熱則氣泄，驚則氣亂，勞則氣耗，思則氣結。其言治法，高者抑之，下者舉之，寒者熱之，驚者平之，勞者溫之，結者散之，喜者以恐勝之，悲者以喜勝之。九氣之治，各有分別，何嘗混作寒論，治而類聚香熱之藥，通言以治諸氣，豈理之哉。夫氣乃氤氳清虛之象，若霧露之著物。今以時以其氣久抑滯，藉此暫行開發之意，藥中無佐使制伏，所起之氣遇之，甚則增熾鬱火，蒸薰氣液而成積，自積滋長而成痰，一飲下隔。氣乃氤氳清虛之象，若霧露之著物，滯雖易散，內挾痰積，閉而復結，服之日久，安有氣實而不動，氣動而不散者乎？此皆人所受誤之由，刁俗已久，相沿而化，卒莫能救。升發火過，香辛散氣，燥熱傷氣，真氣耗散，濁氣上騰。猶曰腎虛，不能攝氣歸原，遂與蘇子降氣湯、四磨湯，下黑錫丹、養氣丹，鎮墜上升之氣。且硫黃、黑錫佐以香熱，又無補養之性，藉此果能生氣而補腎乎？當熟詳之。夫濕痰盛甚者，亦或當之初服，未顯憎變，由其喜墜而愈耳。形質弱者，何以收救？不悟，肺受火炎，子氣亦弱，降令不行，火無以制，相扇而動，本勢空虛，命絕如縷。積而至深，丹毒濟火，一旦火氣狂散，喘急奔息而死。所以有形丹石丸藥，重墜無形之氣，其氣將何抵受，隨而降之乎？譬以石投水，水故未嘗沉也，豈不死歟！丹溪有曰：上升之氣，自肝而出，中挾相火，其熱愈甚，自覺無冷，非真冷也。火熱似水，積熱之甚，陽亢陰微，故有此證。認假作真，似是之禍，可勝言哉！《內經》雖云百病皆生於氣，以正氣受邪之下一也。今七情傷氣，鬱結不舒，痞悶壅塞，發為諸病，當詳所起之因，滯於何經，上下部分。藏氣之不同，隨經用藥，有寒熱溫涼之同異。若枳殼利肺氣，多服損胸中至高之氣。青皮瀉肝氣，多服損真氣。與夫木香之治中下焦氣，香附之快滯氣，陳皮之泄氣，藿香之馨香，上行胃氣，紫蘇之散表氣，厚朴之瀉衛氣，檳榔之瀉至高之氣，沉香之升降其氣，腦麝香之散真氣，若此之類，氣實可宜。其中有行散者，有損泄者，可過劑乎？用之能卻氣之標，而不能治氣之本。豈可又佐以燥熱之藥，以火濟火，混同施治？又使之常服多服，可乎？氣之與火，一理而已。動靜之變，反化為二氣作火論治，與病情相得，丹溪《發揮》論云：冷生氣者，出於高陽生之謬言也，身非自受寒氣，口食寒物，而足論寒者，吾恐十之無一二也。</p>

<h3>血屬陰難成易虧論</h3>
<p>《內經》曰：榮者水穀之精也，和調五臟，灑陳於六腑，乃能入於脈也。源源而來，生化於脾，總統於心，藏於於脾，宣布於肺，施泄於腎。灌溉一身，目得之而能視，耳得之而能聽，手得之而能攝，掌得之而能握，足得之而能步，髒得之而能液，腑得之而能氣。是以出入升降，濡潤宣通者，由此使然也。注之於脈，少則澀，充則實。常以飲食日滋，故能陽生陰長，取汗變化，而亦為血也。生化旺則經恃此而長養，衰耗竭則百脈由此而空虛，可不謹養哉？故曰血者神氣也，持之則存，失之則亡。是知血盛則形勝，血弱則形衰；神靜則陰生，形役則陽充。陽盛則陰必衰，又何言陽旺而生陰血者，何哉？蓋謂血氣之常，陰從乎陽，隨氣運行於內，而無陰以羈束之，則氣何以樹立。故其致病也易，而調治也難。以其比陽常虧而又損之，則陽易亢，陰易乏之論，可以見矣。諸經有云：陽道實，陰道虛；陽道常饒，陰道常乏；陽常有餘，陰常不足。以人之生也，年十四歲而經行，至四十九而經斷，可見陰血之難成易虧如此。陰氣一虧傷，所變之證妄行於上，則吐衄衰涸於外，則虛勞妄返於下，則便紅。稍血熱則膀胱癃閉，溺血滲透腸間，則為腸風。陰虛陽搏，則為崩中。濕蒸熱瘀，則為滯下。熱極腐化，則為膿血。火極似水，血色紫黑。熱盛於陰，發於瘡瘍。濕滯於血，則為痛癢癮疹，皮膚則為冷痹。畜之在上，則人喜念。畜之在下，則人喜狂。墮恐跌僕，則瘀惡肉凝。若分部位，身半已上，同天之陽；身半已下，同地之陰。此恃舉其所顯之證者。治血必血屬之藥。欲求血藥，其四物之謂乎！河間謂：隨證輔佐，謂之六合湯者，詳言之矣。余故陳其氣味專司之要，不可不察。大川芎，血中之氣藥也，通肝經，性味辛散，能行血滯於氣也。地黃，血中血藥也，通腎經，性味甘寒，能生真陰之虛也。當歸分三治，血中主藥，通腎經，性味辛溫，全用能活血，各歸其經也。芍藥，分陰藥也，通脾經，性味酸寒，能和血氣腹痛也。若求陰藥之屬，必於此而取則焉。《脾胃論》有云：若善治者，隨經損益，損其一二味之所宜，為主治可也。此特論血病而求血藥之屬者也。若氣虛血弱，又當從長沙。血虛以人參補之，陽旺則生陰血也。若四物者，獨能主血分受傷，為氣不虛也。輔佐之屬，若桃仁、紅花、蘇木、血竭、牡丹皮者，血滯所宜；蒲黃、阿膠、地榆、百草霜、桐灰者，血崩所宜；乳香、沒藥、五靈脂、凌霄花者，血痛所宜；蓯蓉、鎖陽、牛膝、枸杞子、益母草、夏枯草、敗龜板者，血虛所宜；乳酪，血液之物，血燥所宜；乾薑、桂者，血寒所宜；生地黃、玄參，血熱所宜。此特取其正治之大略耳。以其觸類而長，可謂無窮之應變矣。</p>

<h3>滯下辯論</h3>
<p>滯下之病，嘗見世方以赤白而分寒熱，妄用兜澀燥劑止之。或言積滯，而行巴硇丸藥攻之；或指濕熱，而與淡滲之劑利之。一偏之誤，可不明辨乎！按《原病式》所論，赤白同於一理，反復陳喻，但不熟察耳。果腸胃積滯不行，法當辛苦寒涼藥，推陳致新，盪滌而去，不宜巴硇毒藥下之。否則鬱結轉甚，而病變危者有之矣。若瀉痢不分兩證，混言濕熱，不利小便，非其治也。夫泄者水穀濕之象，滯下垢瘀之物，同於濕熱而成，治分兩歧，而藥亦異。若淡滲之劑，功能散利水道，濁流得快，使泄自止。此有無之形，豈可與滯下混同論治，而用導滯行積可乎？其下痢出於大腸，傳送之道了不幹於腎氣。所下有形之物，或如魚腦，或下如豆汁，或便白膿，或下純血，或赤或白，或赤白相雜。若此者豈可與瀉混同論治，而用淡滲利之可乎？嘗原其本，皆由腸胃日受飲食之積，余不盡行，留滯於內，濕蒸熱瘀，鬱結日深，伏而不作，時逢炎暑，不行相火司令，又調攝失宜，復感酷熱之毒，至秋陽氣始收，火氣下降，蒸發畜積，而滯下之症作矣。以其積滯之滯行，故名之曰滯下。其濕熱瘀積，干於血分則赤，干於氣分則白。赤白兼下，氣血俱受邪矣。久而不愈，氣弱不運，脾積不磨，陳積脫滑下凝，猶如魚腦矣。甚則腸胃空虛，關司失守，濁液並流，色非一類，錯雜混下注出，狀如豆汁矣。若脾氣下陷，虛坐努責，便出色如白膿矣。其熱傷血深，濕毒相瘀，黏結紫色，則紫黑矣。其汙濁積而欲出，氣滯而不與之出，所以下迫窘痛，後重裡急，至圊而不能便，總行並頻，亦少乍止乍起而不安，此皆大腸經有所壅遏窒礙，氣液不得宣通故也。眾言難據，何法則可求之？長沙論云：利之可下者，悉用大黃之劑；可溫者，悉用薑、附之類。何嘗以巴硇毒藥下之，緊澀重藥兜之。又觀河間立言：後重則宜下，腹痛則宜和，身重則宜溫，脈弦則去風，膿血黏稠以重藥竭之，身冷自汗以重藥溫之，風邪內縮宜汗之，騖溏為痢當溫之，在表者汗之，在裡者下之，在上者湧之，在下者竭之，在表熱者內疏之，在小便澀者分利之。用藥輕重之別，又加詳載。行血則便自愈，調氣則後重自除。治實治虛之要論。而丹溪又言大虛大寒者，其治驗備載《局方發揮》。觀此諸法，豈可膠柱而調瑟。又有胃弱而閉不食，此言噤口痢病。七方未有詳論者，以內大法推之，內格嘔逆，火起炎上之象。究乎此，則胃虛木火乘之，是土敗木賊也。見此多成危候。</p>

<h3>三焦之疾燥熱勝陰</h3>
<p>嘗讀劉河間先生三消之淪，始言天地六氣五味，以配養人身六位五臟，而究乎萬物之原，終引《內經》論渴諸症，以辨乎世方熱藥之誤。此比物立象，反復申明，非深明陰陽造化之機者，孰能如是邪，請陳其略。夫經中有言心肝氣厥而渴者，有腎熱而渴者，有言胃與大腸結熱而渴者，有言脾癉而渴者，有因小腸痹熱而渴者，有因傷飽肥甘而食渴者，有因醉飽入房而渴者，有因遠行勞倦遇天熱而渴者，有因傷害胃十而渴者，有因腎熱而渴者，有因痛風而渴者，雖五臟之部分不同，而病之所遇各異，其乾燥熱勝液一也。三消之熱，本濕寒之陰氣衰，燥熱之陽氣大甚，皆因乎飲食飢飽失節，腸胃乾涸，而氣液不得宜平；或耗亂精神，過違其度；或因大病，陰氣損而血液衰虛，陽氣輝而燥熱鬱甚；或因久嗜咸物，恣食炙搏，飲食過度。亦有年少脈金石丸散，積久實熱結於下焦，虛熱血虛不能利，實熱燥甚於腎，故渴而不飲。若飲水多而小便多者，名曰消渴。若飲食多而不甚渴，小便數而消瘦者，名曰消中。若渴而飲水不絕，腿消瘦而小便有脂液者，名曰腎消。此三消者，其燥熱同也，故治疾者補腎水陰寒之虛，而瀉心火陽熱之實，除腸胃燥濕之甚，濟身津液之衰，使道路散而不結，津液生而不枯，氣血利而不澀，則病日已矣。豈不以滋潤之劑養陰，以制燥滋水而充液哉！何故？泄漏消渴，多者不知。其書謂因下部腎水虛，不能制其上焦心火，使上實熱而多煩渴，下虛冷而小便多；更服寒藥，則元氣轉虛，而下部腎水轉衰，則上焦心火尤難治也，但以暖藥補養元氣。若下部腎水得實，而勝退上焦心火，則自然渴止，小便如常，而病愈也。籲！若此未明陰陽虛實之道也！夫腎水屬陰而本寒，虛則為熱；心火屬陽而本熱，虛則為寒。若腎水陰虛，則心火陽實，是謂陽實陰虛，而上下俱熱矣。以彼人言，但見消渴數溲，妄言為下部寒爾。豈知腸胃燥熱怫鬱使之然也。且夫寒物屬陰，能養水而瀉心；熱物屬陽，能養火而耗水。今腎水既不能勝心火，則上下俱熱。奈何以熱養腎水，欲令勝心火，豈不暗哉！彼不謂水氣實者必能制火，虛則不能制火，故陽實陰虛而熱燥其液，小便淋而常少；陰實陽虛不能制水，小便利而常多。此又不知消渴小便多者，蓋燥熱太甚，而三焦腸胃之腠理怫鬱結滯，緻密壅塞，而水液不能滲泄，浸潤於外，以養乎百骸。故腸胃之外燥熱大甚，雖多飲水入於腸胃之內，終不能浸潤於外，故渴不止而小便多。水液既不能滲泄浸潤於外，則陰燥竭而無以自養，故久而多變為聾、盲、瘡瘍、痤痱之類而危殆，其為燥熱傷陰也明矣。</p>

<h3>泄瀉從濕治有多法</h3>
<p>泄瀉者水瀉所為也，由濕本土，土乃脾胃之氣也。得此證者，或因於內傷，或感於外邪，皆能動乎脾濕，脾病則升舉之氣下陷，濕變注並出大腸之道，以胃與大腸同乎陽明一經也。云濕可成泄，垂教治濕，大意而言。後世方論，泥云治濕不利小便，非其治也，故凡泄瀉之藥，多用淡滲之劑利之。下久不止，不分所得之因，遂以為寒，而用緊澀熱藥兜之。夫泄有五：飧泄者，水穀不化而完出，濕兼風也；溏泄者漸下，汗積黏垢，濕兼熱也；鶩泄者，所下澄澈清冷，小便清白，濕兼寒也；濡泄者，體重軟弱，泄下多水，濕自甚也；滑泄者，久下不能禁固，濕勝氣脫也。若此有寒熱虛實之不同，舉治不可執一而言，謹書數法於後。夫泄有宜汗解者。經言春傷於風，夏必飧泄。又云久風為飧泄，若《保命集》云用蒼朮、麻黃、防風之屬是也。有宜下而保安者，若長沙言下痢脈滑而數者，有宿食也，當下之。下利己差，至其時復發者，此為下未盡，更下之安，悉用大承氣湯加減之劑。有宜化而得安者。《格致餘論》：夏月患泄，百方不效，視之久病，而神亦瘁，小便少而赤，脈滑而頗弦，格悶食減。因悟此久積所為，積濕成痰，留於肺中。宜大腸之下固也，清其源則流自清。以茱萸等作湯溫服一碗許，探喉中，一吐痰半升，如利減一半。次早晨飲，吐半升而利止。有以補養而愈者，若《脾胃論》言脈弦氣弱自汗，四肢發熱，大便泄瀉，從黃耆建中湯。有宜調和脾濕而得止者，若潔古言曰，四肢懶倦，小便不利，大便走泄，沉困，飲食減少，以白朮、芍藥、茯苓，加減治之。有宜升舉而安者，若《試效方》言胃中濕，脾弱不能運行，食下則為泄，助甲膽風勝以克之，以升陽之藥，羌活、獨活、升麻、防風、炙甘草之屬。有宜燥濕而後除者，若《脾胃論》言土濕有餘，脈緩，怠惰嗜臥，四肢不收，大便泄瀉，從平胃散。有宜寒涼而愈者。若長沙言脅熱自利者，黃芩湯主之，舉其濕熱之相宜者。若長沙言下利脈遲緊，痛未欲止，當溫之；下利心痛，急當救里；下痢清白，水液澄澈，可與理中、四逆湯輩。究其利小便之相宜者，河間言濕勝則濡泄，小便不利者，可與五苓散、益元散分導之。以其收斂之相宜者，東垣言寒滑氣泄不固，制訶子散澀之。以上諸法，各有所主，宜獨利小便而濕動也，豈獨病因寒，必待龍骨、石脂緊重燥毒之屬澀之。治者又當審擇其說。一途取利，約而不博，可乎？</p>
