<header data-type="book">
<h1>傷寒解毒療法</h1>
</header>

<h1>胡宣明博士序</h1>
<p>予於民國六年自美返國，服務於中華衛生教育會，蒙雲臺先生不棄，邀寓於其宅中，知先生對於醫藥衛生夙饒興趣，施送藥品，秉於慈訓，行之已數十年。民國十二年，予與先生組織中國衛生會，從事文字宣傳，時予譯印《哲嗣學》一冊，先生為予作序，蓋先生對於道德、品性、遺傳夙有研究，以歷史人物為其證明。予於戰後返滬，見先生衰病臥床，仍讀書勤學，不異昔年，並於過去十年間出版醫籍六種，皆說明腸炎、傷寒有捷效療法，並製藥送人，歷有實驗證例。予讀其近稿，說明中藥對於各種細菌性劇烈熱病之療效，皆在植物藥黃色苦味劑及維他命乙、丙之解毒作用，引證日本醫學家生理化學之說明，解毒劑與合理的排泄法同用，能縮短腸炎、傷寒症過程，理趣甚為新穎。先生現又有《結核症輔生療法》稿，注重輔助生理代謝機能以自療愈病，其要點為調整血循環障礙，清除組織間廢料，使發揮營養細胞之高效。多種結核性症，各有療效多例，經中日新醫師數人之證明，見於各刊物，皆屬古效方現在證實者。聶先生則根據此等療效，說明其科學之理據云。予按醫藥科學近日進步甚速，但肺病新藥及傷寒療法亦尚未臻完美之境，聶先生之研究非欲與科學背道而馳，但注重輔助生理本能，說明古人所以用簡單平淡之生物藥而能愈病之理據。雖有多數新醫師聞人稱道中藥之療效而掩耳欲走，予則深知聶先生之研究與舊醫學說不同，蓋一一根據實驗，非同空論。其利用生理本能及代謝作用以愈病，以予生平見聞經驗及觀察之心得認為合理，其學說實有研究發明之必要。然真理出世亦有時節因緣，昔奧人奧恩卜魯格氏（Auenbrugger）發明敲診之法，自序言「此法必被醫界所痛罵，然真理遲早必須出世」。果也，醫界一笑置之，無人一試，百年之後，始有法國名醫拉恩列氏（Laennee）稱揚其價值，而敲診之法遂風行於全世界矣。但先生之法本為古今之經驗，不致為人所疑懼譏謗，且終必備受歡迎採納也。予與先生交三十餘年，知其志學問、求真理之心與年俱進，四十年前已譯有《無線電信及赫氏電浪》一書出版，彼時室中已有小型X光機，能照手骨相。其為學不但求知，而務現實。其研究醫藥，尤重實驗，有毒藥物亦親嘗試，非確知有效不以用之於人。其研究科學哲學，尤多獨到之見解，其思想與生活法，常走在時代之前，不追隨世俗之後。未病之時，嘗發行《聶氏家言旬刊》，以改進社會為目的，經五年之久，銷行各地，頗受歡迎。此次新著兩種，在醫學界又屬具創造性之新說，然論理根據實驗，且得最新科學之證明，可能使科學眼光一變，醫療學說一新，其當為社會所重視，可預言也。</p>
<p><u>胡宣明　民國三十七年十二月</u></p>

<h1>弁言</h1>
<p>予為腸熱傷寒症，在九年臥病中，書其療法出版，今年為第五種。良以人命至重，生之長之甚難，傷之死之甚易。經數千年用人作試驗，已發明有妥善辦法，仍復湮沒，國醫亦不能採用，使此每年數萬可以不死之人冤枉而死，予能不大聲疾呼以告世人乎？死之固冤矣，亦多有因傷寒而致腦神經及心臟或他臟受損傷，終身不愈者，亦復不少，予所知者亦有數人。友人何志姜醫師，二十八年患類似傷寒症，高熱十二三日始退，愈後心臟受損，患不整脈，稍勞即發，三十年自服胎盤劑（即用胞衣焙乾為末），服七八具而心臟病全愈，時年已六十歲，雖步行數里不再發。另一人亦因傷寒損心臟，西醫謂無治法，迄未愈。此法非科學所知，何君因中醫書極言胞衣療效之神，故一試之而竟效也。英人概君為天津西報編輯，數年前患傷寒病，毒素傷腦，致手足神經皆痿痹，從此病發失業。上述三例，皆傷寒毒素所致之損害，亦皆可完全避免者。醫學家驟聞此言，殆不能見信。請說明之：蓋凡細菌傳染病發高熱及激烈之症狀，皆由生理受毒素之壓迫，因感應系的影響，全體機能皆感覺呆滯，分泌、循環、排泄、營養同時失去正常功用，見為各種症狀。科學醫發見細菌學以來，專注意於殺菌，數十年來，合全世界科學腦經研究傷寒，絕無辦法，昔亦用水楊酸苯酯（Salol）直入腸內殺菌，然對於治療絲毫無補。中藥則絕對不能殺菌而能使熱勢迅速降低，不假髮汗藥之幫助，並使一切症狀迅速減輕，既非殺菌之效用，可以推知其為解毒之功用。蓋由解除生理機能所受毒素之壓迫，則其抗病之本能自然而恢復，細菌之武器（毒素）忽然消失，遂變為不能為害之生物，終被生理機能所消滅，或被溶解，或被排泄出外，此為病愈之理由也。本書初稿系前年所作，今則對於解毒功用有進一步的瞭解，並搜得多數客觀的證明，即如傷寒效藥，以及多數急性傳染病之古效方得有證明者，其所用各藥在《本草綱目》均說明有解毒之功用。古人並未知傷寒及各種熱病皆由於毒素，亦未言其均須用解毒之法（上述元、明、清諸家已略知解毒意義），甲、乙諸家在不同的時期言某數種藥治療傷寒發狂，丙、丁諸家在不同的時期說此數種藥解某某諸種毒。予則以客觀眼光發見此等紀錄有重要意義，聯繫起來成為我的一切急性傳染病之治療心得——解毒療法。例如傷寒、斑疹、白喉、猩紅熱、扁桃腺炎、赤痢、霍亂、流行性感冒、痧疹、天花、肺炎、腦膜炎、破傷風、瘋犬咬，內均有經驗效方，所用多數為黃色苦味藥，更兼多數富於維乙、維丙素之鮮蔬果汁，皆《本草綱目》中發見其解毒之說明。從此解毒療法，各種細菌傳染症可變為簡單易治，非從今日發明，實有數千年經驗可據也。所用各藥價廉而極普通，或鄉村田園隨處可得，或全國藥店日日廣售，一經揭出，則深玄之理論一掃而空，只需依據科學診斷方法，辨明病狀，照方服藥可耳。以上解毒法為輔助生理療法之一要點，尚有另一要點，則為排泄法，此法以大黃為最要，遇必要時亦兼用芒硝。大黃兼含有分泌、排泄、解毒三種作用。腸傷寒症，消化系先受病，因而分泌呆滯，不能起正常之消化及排泄作用，大黃能使消化系分泌復活，排泄充滿細菌物之糞垢，解除其壓迫，即能影響相聯繫之生理機能，使之恢復作用。此法須與解毒藥相輔而行，則療效更著。此排泄法不獨腸熱症應用，其他炎症熱病多數適用。所謂解毒劑者，多屬黃色而兼苦味，按西藥亦有黃色素解毒劑，治傷寒、斑疹等熱病有相當之功效，而我國傷寒效藥多種皆為黃色，亦屬巧合，想黃色確含有解毒因素，苦味能引起消化系分泌，西藥典本已列為專類，則黃色苦味藥之適應於腸胃系炎症，亦有理由。予之研究醫學，素不空談理論，今所述者，一一根據古方實驗，再以科學之理論、實驗相互證明，非憑空理想也。予近者研究結核病，亦以解毒為要（詳見拙著《結核輔生療法》）。細查《本草綱目》，治肺癆藥約九十種，而內有說明為解毒者約四十種，為肺癆發熱盜汗之效藥，蓋此等症狀皆毒素之表現也。最近閱《華西醫藥雜誌》，載臺灣張永霖君譯，日本山本氏「論渡邊氏維乙證」一文，據言「肺結核之某種徵候群，與腳氣病徵候群相同，乃從廣義稱之為內因中毒徵候，結核症有此徵候時，投以大量維乙，則結核病勢易見鎮靜。此等徵候，熱病亦同，因此使肝臟機能發生障礙，致肝臟本有之解毒功用因而消失，但投以大量維乙，則肝臟解毒作用即亢進云。」又云「中藥柴胡湯證之徵候群與Bergmans所舉之肝臟機能異常之徵候群不謀而合，又與維乙症相似（列表證明，表不錄），故當此等徵候群發現之時，為保護肝臟計，當投以碳水素物，及大量維乙，再加投以柴胡湯亦無不可云。」氏又云「故今日西醫為學問立場，尤當確認東洋古學醫之價值云」（云按：指中國醫學）。以上為渡邊博士在大阪結核療養所供職時之研究報告也。所稱柴胡湯即中醫所用之普通退熱劑，對於虛勞退熱尤效，《本草綱目》舉有證列，方為漢張仲景所定，原稱為肝膽經藥。然則中藥之解毒，實際為輔助肝臟機能之解毒作用，不僅適用於肺病，亦兼適於多種熱病及內因毒素病。蓋中藥之特長，在能輔助生理機能解毒抗病，故能以簡單平淡之生物藥治療各種不同之細菌毒性病也。至於維乙之解毒功用，中國用之最多，予於六年前所作《霍亂研究》中已斷言：中藥治霍亂必為維乙有解毒作用。今讀渡邊氏之文，更得充分之科學理據，惜多數西醫尚未知之也。吾深信不久之將來，醫學界將採用此等輔助生理本能解毒抗病療法，而多數劇烈傳染病之死亡率得以大為減低也。</p>

<h1>緒論</h1>
<p>研究醫藥須先具忠於科學之熱忱，及鑑別虛實之眼光，屏除成見，虛懷考慮，凡求學問，皆應如此。但對於中國醫學為多數科學家所輕鄙者，尤應獨具隻眼，潛心觀察，勿以先入之言為主，成見在胸，抹殺事實，無從得其真相。我國為開化最早之民族，製造儀器，測量天文，制定歷數，造指南針，遠在四千年前，哲學思想尤為深造，對於自然界之觀察，腦智發達最早。《神農本草》雖多出於後人添湊附會，而當時實有其人，即實有其學，西漢時方書已有五百餘卷，皆出於前代流傳。漢以後至今約二千年，醫學之書與年俱積，合多數民間療法之經驗，載於醫學書或各種之史料，其中有多數經驗方藥，偶然其一二，即可引起新科學之重要發明，惟中國醫學有一缺點，即好雜以虛玄理論，說明病理漸入歧途，致使後世學者在不正確之理論中鑽研，對於實驗方面反不注重，即如藥學界偉人李時珍，博覽強記，錄輯效方多至萬條，引證古書八百餘種，著為《本草綱目》，使後人研究藥物者，開卷即是，朗若列眉，可稱空前絕後之鉅製，然而亦犯此病。於一藥名下必加以理論的說明，此種說明徒然引人入於不正確之觀點，使真相不能顯露。所以我輩研究國藥，須具揀擇的眼光，於其空疏之理論概從掃除，對於肯定說明之效方鄭重注意，即可發現中國藥物學在實驗上當佔世界最高的地位。</p>

<h1>研究熱腸症的緣起</h1>
<p>我的研究傷寒熱腸開始於十八年前，其時，國醫革新派先進惲鐵憔先生因讀了我的「人生指津」，通函讚許枉顧見教，並告我說，傷寒有速愈之法，時醫不善用古方，致認為難治。惲先生對於西醫內科學亦深有研究（先生系南洋公學出身，曾充湖南優級師範英文教師），其言有速愈之法，即是對於西醫必須經過四星期過程之理論，亦在抹殺之列，我認為極有興趣，我素來不願研究醫學，從此開始即照惲先生指示的幾種書加以研究。</p>
<p>凡講一切學問，對於當前有兩種相反之學說，必須加以辨明，不能含糊了事，豈能任其浮沉，不求解決，如能使有效之法加以證明，使多數人免於枉死，世間學問事業有比此更急更大者否？此即我研究醫學，並從傷寒治法入手之動機。</p>
<p>我研究的著眼，在撇去理論，搜輯實證。所以然者，因見古來講理論各家如傷寒派之六經傳經用桂枝湯入手，確有弊無利。近人吳鞠通溫病派，甘淡滲濕、芳香化濁之理論，亦復拖延貽誤。惟明清以來認為溫疫傳染之派，用藥不依古理論者，均有實效證明，作為我研究的依據。至二十七年起，開始按照此派中證驗最確之呂氏書製藥送人，成效確著，即刊小冊子送請中西醫學家指正。三十年，重訂呂心齋書印行。三十一春，因吐血失音，仍臥病刊行小冊子三種。至三十三年，足患骨癆，三十四年鋸腿，遂完全放棄。去春稍有氣力，又繼續工作，將數年來續得經驗加以科學說明，以期新醫瞭解。</p>
<p>據租界時代之衛生報告：公共租界二十八、九年兩年傷寒死亡率為百分之五十左右，三十三年一年則增至百分之八十、九十，中醫、西醫治療均包括在內。西人患者死亡為百分之十八，則由看護營養之法較佳，及早期即入醫院能通利大便之所致。從明、清諸家治效說明，及我數年實驗，則傷寒確有速效之法，百分之五十以上固冤，百分之十八亦大可減少。所以要將我的方法加以科學說明，期望新醫界加以公開實驗，驗血證明拙法是否確有效驗，此為我病中努力之原因。</p>

<h1>藥療方法之歷史根據</h1>
<p>金、元、明、清七百年間，約有十家名醫著書證明，溫疫性的熱病開始即用大黃，並用苦味的副藥，效驗確實。其法從金劉河間發明，清御刻醫家金鑑證明，此法治各種熱病，不論為傷風寒或為溫疫，均一律速見效驗。明末（約公元1600），吳又可發明，高熱症傳染多人，須用溫疫療法，即上述之法，不可遵張仲景《傷寒論》，認一切發熱概系風寒由某經入體之理論。從始至終不可發汗，自然可使熱速退。此為中國醫學史上革命之一頁。清代約有六家均證明此說，加以發明，彼等認定病為傳染，非由風寒，暗合細菌之說，距今六十年前，蘇州名醫陸久芝先生著書證明，此六七家之方法確實有效，渠用此法治病三十年，凡溫疫熱病，無不在十日之內使病人達到安全的境界。清嘉慶年間，即距今百二十年前，有呂心齋之書，節錄吳又可、楊慄山、陳三錫之書，標準又較簡明，並有特製簡單之藥。此書經後人在各省翻刻，各翻刻者之序均說明，照症用藥，無不應效。此書為予發生信仰之第一書，後即照法制藥送人，確有效驗，並重刻其書，又續著小冊數種，辨證用藥，用更簡單之標準。經八年之實驗與研究，漸得科學之根據。</p>
<p>注：以上各家之法，為現在大多數中醫所不用，因其與受寒受濕之說相反之故。</p>

<h1>腸炎傷寒症痊愈過程能否縮短之討論</h1>
<p>腸傷寒系細菌由口入腸，經腸的淋巴組織傳入周身血液，毒素髮為高熱，又在腸壁發生腫瘍、潰爛，後結痂愈合，熱亦隨退，經過約四星期之久，此係化驗及解剖經長期的證明，乃不能推翻的事實。科學到今日，尚無撲滅腸熱菌之藥物，所以認此症無法縮短過程。現在的問題是：幾種和平的植物藥，並無殺菌力的茶湯，竟會撲滅傷寒細菌，使其速愈否？</p>
<p>上述的明清幾位醫家，均說明溫疫熱病，確有速效穩效的方法，後人為他們刻書作證明的很多。陸久芝更以三十年的實驗，肯定的言詞，說明其穩效速愈。我們斷不能說他們許多人的記述都是虛假，更不能說他們治好的熱病，決無一個真腸熱症在內。因為科學家所應取的態度，是不肯用我的主觀輕下判斷。對於此等重要問題，不肯輕輕放過，要把他們的法子實地研究。</p>

<h1>我的製藥實驗</h1>
<p>我看得上述各家已離理論而趨重實驗，我就照呂氏的方法制藥實驗，參考科學的病理與藥理學，作為我的製藥根據。因為腸炎症系腸部腫瘍潰爛，所以用各種消炎藥汁浸入陶土，直入腸部敷於病灶，解除細菌毒素，制止細菌繁殖，即可減其炎腫，免於潰爛。同時各種藥汁被吸收入體內，有解毒退熱之功。所用之藥，不但系古方治溫熱病之藥，同時為古方治痢疾之效藥，所以，我認為此法可兼治腸熱及赤痢。按《醫學心悟》，某年疫痢傳染，死亡甚眾，用各種治痢之方皆不效，後改用苦參、黃芩、黃連，即應手奏效。此方後經他人證明，此即為予之傷寒主藥，因兩症同是細菌在腸發炎之故。第一次試驗系一赤痢婦人，臥床七日，給與此丸三服，次日即已痢止起床。第二次又治一人赤痢，速效亦同，我的理想已得美滿的證明。隨後即治幾個熱病多日的人，均在數日內痊愈，有丁福保醫師及另三人函證明。以上均是二十七年最初試驗。二十八年五月，小孫女年十二歲，患熱病數日，百○四度，請何志姜醫師交程慕頤驗血，為正腸熱症，同時請一中醫商量後，用大黃、芒硝兼黃芩等苦藥，兼服自制藥陶土，兩日後，即第十日，熱度降至九八．六，夜九九.六，經二日之久，精神亦愉快，中醫見其熱退，認為病愈，即改用洋參等滋陰補品，全不用瀉藥、苦藥，候熱再高又欲改用瀉藥。但其母從港歸來，另請西醫，不再服中藥，又高至百○四度，經二星期有餘始退。此次經驗血證明為腸熱症，理論不應在第十日，忽退熱至平度兩日半之久，足以證明是藥效。停藥兩日，熱度又高，證據更為明確。友人榮君，配敝藥送人，成績甚多。最可注意者，一為其女孩傷寒十日，先服中醫藥，已下血矣，予告以多服梨汁蘿蔔汁，並服藥陶土及湯藥，數日後熱退。一為其店友某，傷寒瀉下不止，俗稱「漏底傷寒」，請滬上最有名之傷寒世醫某君治之，服方兩日毫無效驗。其方案言，症極危篤，變在不測。榮君改用敝藥陶土治之，兩日瀉止，又兩日熱退。予查此名醫之方毫無苦藥，恰與敝方相反也。</p>

<h1>證明</h1>
<p>三十一年三月，有王馨濤醫師之子，在敝寓教英文，見予配藥甚多，詢知為傷寒藥，因言其家有人患傷寒，予即以敝書所刊傷寒治效之各證明書並藥，囑其帶去，請其父考慮，即照用之，果有良效，熱速退。停藥一日半，熱又高，又服大黃稍多之三黃丸，熱又退，連服二日，體溫全平。在第二次熱高時，病人自己信仰，索藥服，否則，已界第十日，醫師當不敢再用大黃藥也。王醫師來函證明，原函英文，此係其令郎譯稿如下。</p>

<h1>試用聶氏腸熱症良藥臨床實錄</h1>
<p>民國三十一年三月七日，濤診察一王姓病人，年四十五，男性。患者自稱起病快速，寒慄高熱，且有頭痛，全身發酸，大便不暢，體溫達華氏一○二度，脈搏一三六，症象似急性感冒，故投以退熱與通便劑，同時，皮下注射Transpulmin，日復往診視，患者稱頭痛已見消除，體溫華氏一○三.六，無甚變化，脈數144，病者胸部頗覺鬱悶，舌苔甚厚，且便秘，當疑為腸熱症，即為皮下注射Omnadin，同時進服稀鹽酸少許，增其抵抗，舒其鬱悶，並囑其家人每小時記其體溫變化。</p>
<p>九日，體溫甚穩定，在華氏一○二.八度至一○三.二度之間，脈數一一六，胸悶鬱積更形顯著，舌苔益厚，但其舌緣則潔淨，同時脾臟（Spleen）擴大，微有隱痛。就診狀言，當斷為腸熱病，除施以八日治療外，更為灌腸一次，並投Typhofagos，令其日服四次。</p>
<p>十日，症狀與九日相同，體溫平均為華氏一○二.六度，胸悶如舊，注射Thiazon。</p>
<p>十一日，症狀與前無異，且胸腹間並四肢發現紅色疹點甚多，聶氏腸熱症良藥即於此日起施用，早晚各一服。</p>
<p>十二日，體溫已降至華氏一○○.八度，患者感輕快，大便亦暢利。</p>
<p>十三日，體溫再降至華氏一○○.二度，一般情形已大見好轉。</p>
<p>十四日，體溫為華氏九九度，患者已無病痛，談笑自若。</p>
<p>十五日，體溫再升至華氏一○○度，患者無所覺，當囑以靜養，勿太勞動（因先一日為星期日，未索藥，致停藥一日，而熱度復升高）。</p>
<p>十六日，體溫又降至九八．二度，胃悶已消去大半，聶氏良藥遂於該晚起停服。</p>
<p>十八日，體溫為九九.四度，患者覺病已消除，且表示一俟精力稍復，即願起床。</p>
<p>十九日，體溫一如常人，且思飲食甚切，食欲與日俱增，體力亦漸恢復。</p>
<p>綜觀上症情，聶氏腸熱症良藥確有偉效，施用僅十服，為時五日，已熱退病消，如此迅速達治療目的，允宜許為腸熱症專藥，臨床實驗，功效尤切。濤感激之餘，敬錄如上。</p>
<p><u>王聲濤醫師敬啟</u></p>
<p>頃由中央研究院何重光先生送下昆明顏公辰君與郭沫若君辯論「中醫科學化」之函數件，印成小冊子。據顏君云，曾用大黃抵當湯，治愈傷寒三人，皆經西醫驗血證明為正傷寒者，皆於短期間速愈，其餘治愈者尚有多例，無一貽誤者。此與鄙人治傷寒用大黃有速愈確愈之法相證明。顏君本為西醫，後加研中醫，其所論中醫療法，乃扶助生理之抗病本能，與予之見解不謀而合，顏君之科學基本知識甚充分，而辨論之文字亦能暢達其學說，故郭君覆函亦為之讚許也。</p>
<p><u>三十六、十一、二十七雲臺識</u></p>

<h1>海門翟劍如來函</h1>
<p>第一函：舍親患腸窒扶斯，腹部膨脹雷鳴，下痢如豌豆汁，人事不省，舌苔乾裂，體溫常在三十九度至四十度間，身上有青紅色隆起之圓點，發病已半月光景，中西醫生束手，昔曾閱大作，知溫病三黃丹等實為治腸熱症特效藥，思欲配製，然蘿蔔汁難覓，乞寄藥救人命，感激非淺。</p>
<p>三十五、八、二十七。通訊處：江蘇海門茅家鎮浙寧會館轉交。</p>
<p>第二函：昨奉大札指教，對於病人之措施，照服後已見良效，日前未奉尊書時，已買得萊菔秧搗汁，一部分作飲料，一部分並照尊著配合表裡丹及三黃丹，日服三次，每次二錢，並服西瓜汁、梨汁及西醫甘汞等藥，體溫微低，次日（1日）延名醫某診治，所開方藥為淡豆豉、鮮石斛、甘菊、銀花、連翹等味，並勸病家大黃劑有毒不可服，於是，三黃丹等皆棄而不用，午後熱度升至多四○.五，余乃勸其復服大黃劑，並示溫熱標本捷效及附篇於其父，二日再服三黃丹、表裡丹及瓜果汁等，熱度復降至少三十九.五，一般症狀均改輕。三日，熱度為三十八．七，舌苔薄膩，大便通暢，頭痛較平。</p>
<p>四日，接大札及尊著急性傳染病療法，即照先生所定方煎服後，熱度頓挫，日間為三十八．一，晚為三十八．三，頭痛消失，大便日二次，神智能清爽，淡笑如常，惟有時眩暈，西醫勸吃葡萄酒少量，先生以為何如？九月五日</p>
<p>當即覆函告以葡萄酒可服，葡萄糖可注射。</p>
<p>第三函：來示敬悉，舍親已脫難險境，惟以臥病多日，衰憊殊甚，刻正在調養，一待起床，即執筆致謝，劍於往日不信輪迴鬼神，故於佛學書，素未一顧，閱先生所贈佛學撮要，內多報紙近事徵寶，一改往日思想，其中尤以戒殺為余所信奉（下略）。十月四日。</p>
<p>第四函（因第三函未敘九月六日以後服藥退熱之詳情，故去函請其詳告，得覆函如下）：手示敬悉，舍親因食物不慎，險些喪生，渠不欲奉告，今述如下：九月七日，余赴麒麟鎮，九日歸，詢知舍親於七日晨覺飢思食，而豆漿賣盡，粥又未煮，故購食油條二條，豈知至午後，熱度即至三十八．八，九日余歸時，已達三十九.二矣，舌苔又起，神識微昏，急與梨汁、蘿蔔汁以及前所食之丸藥，是日微有升降，十日仍延西醫為注射葡萄糖，並服三黃丸及表裡丹三錢，熱度三十八．八，晚三十九。十一日，兼服濕溫標準湯，加膽星一錢五分、鮮菖蒲五分，飲葡萄酒少許，熱度三十八．五，晚三十八．六。十二晨飲豆漿少許，湯丸藥皆服，以鮮汁作飲，熱度三十八．一，舌苔稍薄，神智清爽。十三日用烏梅碳五分加入藥內，去膽星、菖蒲，熱三十七.七，晚三十七.八。十四日，熱度三十七.四，舌苔已薄，微有斑駁，晚未升。十五日早晨，熱度大減為三十六.八，晚三十六.七，舌苔已清。十六日停藥，惟梨汁、葡萄酒等未停，晚熱度仍為三十六.六。十七日，服西洋參三錢，白芍三錢，當歸三錢，蘆根一尺，熟地三錢，（九月九日來信所示）熱度三十六.五，食雞蛋一枚，豆漿一碗，晚未升，迄今二旬余，別無所苦，惟身體軟弱耳。</p>
<p>云按：此數函臨床實驗應注意之點如下：</p>
<p>（一）足見時醫之藥方大致為此種之藥。</p>
<p>（二）凡屬苦寒之藥，概不敢用，上海大名醫大多數如此。</p>
<p>（三）大黃認為毒藥不可用，又恐引起瀉下不止，故更在禁例。</p>
<p>（四）此證先半月經中西醫治療，熱度已高至四十度，服敝藥丸一日即稍降，因該名醫言大黃不可服，又改服名醫藥一日，熱度又升高，次日改服敝藥丸，熱又降，再服敝湯方與丸藥同服兩日，而退至三十八度三，共退攝氏兩度余。</p>
<p>（五）食物不慎，致病反復，最為危險，仍服敝藥，熱又速退。</p>
<p>（六）末期用芍藥湯送服烏梅炭粉末，系予之經驗，此次囑該患者照用，亦大見速效，烏梅滅腸內桿菌，日本兒科權威築田博士言梅湯能治小兒疫痢及虎疫。</p>
<p>（七）足見敝法標準之簡單，止須憑症狀診斷，即可照法用藥。</p>
<p>（八）此次患者每日大解二次，熱即速退，所以維持大便通暢為要。但在第二、三星期恐引起腸穿孔，為慎重計，可服無大黃之芩連丹。</p>
<p>（九）此次患者下痢如豌豆汁，並非大解不通，然仍服三黃丸、表裡丹同用，表裡丹一次服三錢，大見效益，實由翟君讀拙著後，知所引證者皆為客觀事實，故能深信不疑，否則，慎之又慎，從極小劑試嘗，則不能如此速效也。</p>
<p><u>雲臺謹識</u></p>

<h1>廣西莫逸緻來函</h1>
<p>第一函：我於三十三年二月，在中國醫藥月刊第四卷六期，讀尊著「急性傳染病標準捷效療法總論」一文，欽仰先生中西學識經驗豐富，即照尊方配合表裡和解丹，用以治愈熱病及小兒牙疳數十人，久欲致函購尊著數種，惜郵寄不通，直至今年五月，始向上海千頃堂購得《溫熱標準捷效附篇》等三種，惟《急性傳染療法》等兩種，因售完未能買到，不知尚有其他新著否？敬乞示知，以便寄款照購。三十五、七、一十五。</p>
<p>第二函：承寄下溫熱標準捷效及急性傳染病療法，均已收到，先生所著各書，確屬實驗靈效，並非虛語，鄙人尊貴著配製各種藥物，施濟以來，治愈各種急性熱病，為數不少，曾逐一登記於診療錄內，其中尤以表裡和解丹，功效最為卓著（下略）。三十五、九、二。</p>
<p>三十七年夏秋療效二例附於解毒章後，請查閱。</p>

<h1>關於赤痢及急性腸胃炎之療效證明</h1>
<p>三十年夏秋，上海痢疾極多，城內佛教施診所用敝藥三黃丸、芩連丹，治愈者以百計，予囑其請葛氏化驗所化驗糞十七次，八次為Y型桿菌，余培養無菌，程慕頤化驗四次，二次為Y型桿菌，但病人均已痊愈，其驗不出者，不知是否阿米巴，又先在猶太醫生處驗五次，四次為阿米巴。該醫生無培養設備，不知餘一起是否為細菌，然病人亦愈。照此推之，似此藥對於桿菌及原蟲痢均效。同時，友助醫院倪章祺醫生（前協和醫科教授）函云：一女人赤痢，服藥特靈二日不效，渠給以此藥，次日大減，又服二日痊愈，又以余藥給另一病人，亦速愈。</p>
<p>友助醫院楊郁生醫師函云：三黃丸、芩連丹，治細菌痢有效，已經化驗證明。惟治阿米巴痢，則雖然能大減其病狀，服十日後驗糞，仍有阿米巴存在。又一函云何志姜醫師云（本市普濟醫院院長）治一人痢驗糞為阿米巴，注射Emetin尚不見效，給以芩連丹，大見減輕。</p>
<p>《本草》言苦參殺蟲治疥，西國農學家亦用苦參作除蟲藥，或能殺阿米巴蟲，但用量須稍多，敝藥丸中苦參與各藥同用，或嫌量太少，止能改輕症狀，不能滅盡原蟲，此須加以試驗證明。又鴉膽子能治阿米巴痢，經煙臺劉醫生證明：鴉膽子，藥店又稱苦參子，二十四年，予函詢劉醫師，據覆函云，鴉膽子乃苦木之子，非苦參之子也。</p>
<p>三十年，一人上吐下瀉，請何志姜醫師來診，斷為急性腸胃炎，次早吐愈而瀉不止，予給以芩連丹二次而瀉全止，可知此法對於真性霍亂亦必能消其炎勢，使之痊愈。</p>
<p>同一藥陶土能治愈腸傷寒、赤痢、霍亂與急性腸胃炎，此由直接在腸內解毒消炎也。</p>
<p>近讀三十六年四月《中華醫學雜誌》，四川徐仲呂醫師實驗中國治痢藥大蒜、大黃、黃連、黃柏、白芍等七種對於痢疾桿菌有抗生制菌之作用，又言王冠山醫師用生熟大黃、蒼朮、甘草等藥之粉末治痢，頗著功效。</p>

<h1>療法概說</h1>

<h2>第一　論排泄</h2>
<p>腸熱症須用排泄法，古代已知，漢張仲景《傷寒論·序》云：渠族二百人，死於傷寒者約有半數，渠始發憤學醫。昔時醫家多用巴豆、輕粉（汞綠）為瀉劑，敝害甚大，渠改用大黃、芒硝，始治效確著，後人奉為醫聖，稱其書為聖經。金、元、明、清所謂革命派之療法，實亦系善用張氏排泄之法。但張氏流傳之方，門徒展轉傳授，參入已意，加以理論。張君死後約六十年，始有王叔和整理編訂，書始出世，然而其次序與說明已非張氏原文，此為錯誤之所由來。其書開始第一方，即言熱症先由某經受風，必須用某種發汗之方，篤守此法，言非至某時則不可用下劑，貽誤千數百年即在於此。予則遵明、清諸名家之法，開始即用腸胃系之藥，直達病灶，效驗確切，其法即張氏之法也，不獨此瀉法為張氏之法，即苦味退熱藥亦為張氏之法。而張氏又為遵用《內經》治熱病之術語「熱淫於內，治以鹹寒，佐之以苦」之定律，大黃、芒硝及苦味均包含在此語中，前人經驗，陸續由後人加以發明而已。</p>
<p>從千年來實驗，可證明大黃不止為瀉藥，實為治腸炎症之主要藥，併為多種細菌熱病之主要藥。《宋史》、《元史》均有記載，言大黃治瘟疫之效驗。所謂瘟疫包括傳染病，種類甚多，除上述各家名醫著作外，另有雜見各醫書之治瘟病特效藥方五種，均以大黃為主藥，一一說明其神效。我所特別注意的為「七液丹」，其法以大黃一分，陶土六分半，芳香藥之鮮汁七種，合成此方，說明治痢，治各種喉症、猩紅熱、傷寒、瘟病、斑疹熱，及治外科腫瘍丹毒，調敷可消腫毒。我初見此方即十分注意，後有人從北平寄來此藥，言渠家制此藥送人多年，治愈劇烈之症甚多，予所制之表裡丹及三黃丹，即用此方之意，參加呂氏書內之法，成效極良。如前所述，此是用大黃一味治數種不同之細菌症，似乎大奇怪而不可信，我請以病理學說明如下：人體生理各機能有相互調劑、彼此誘導之作用，一處有病，能影響他部分機能呆滯，一處發生療效，感覺輕快，能使他部分恢復抗病活力。排泄療法能治療多種急性、慢性細菌性、非細菌性病，慢性病用慢性排泄法治療，急性病用急性排泄法治療。慢性症如結核性瘰癧、關節炎、腫瘍、肋膜積水（此非用排糞通腸藥，詳見《結核輔生療法》）及非結核性之內痔腸血等症。急性症如肺炎、猩紅熱、扁桃腺炎，甚至白喉，及化膿性腫瘍，或直接立即見效，或與他藥同用使得速效，歷有證例載在各書。此種療效從現在新醫眼光則認為不合理，若對於生理本能認識較深，則可知其並非可怪。最普通之經驗，如多數高熱病人大小便均不通，汗腺呆滯，眼淚口津甚干，如服藥使大小便得暢通，則其餘分泌、排泄亦都會復活，病即見愈。特別是腸熱症，糞垢充滿細菌毒素，一經合理的排泄，病源即減去大半，病勢立見輕鬆。所謂合理的排泄，指消化系包含腸、胃、肝、膽、胰等的分泌全部生理作用之活動而言。我所用之瀉劑藥名表裡丹，用之已十年，除自用送人外，友人周厚坤君及榮柏云君亦各製備敝處各藥送人，亦有十年左右之經驗。茲就排泄藥表裡丹而論，對於高熱症，雖病因各種不同，大抵投之即愈。若腸熱傷寒症，則與苦味消炎解毒藥同用屢著奇效，此為根據古書療效，我不過加以實驗說明，我的不同之點，即在用大量陶土稀釋，苦藥及鮮汁和丸，使入腸接觸之點極小，而所鋪之面積極寬，每次所服大黃不過五六分（即一公分半至二公分），已有和緩排泄之良效，而無激烈衝動之虞。約在七、八小時始發動，非若蓖麻子油，或瀉鹽之沖蕩猛迅，二、三小時即下，使腸壁受過分之刺激也。尤有一點須注意者，大黃為合於生理需要之藥品，其瀉下作用由於引起腸胃系全部分泌，促進其生理自然之排泄，按西藥物學，大黃用小量，有健胃及收斂止瀉作用，用稍大量能下稀糞，無副作用，適於病愈期、貧血狀態、老人、虛弱人及小兒之用。雖用大量不能起強下作用，若欲大瀉，須加用他藥云，此即我所謂合理的排泄。中國數千年來特別專重大黃，為傷寒病之瀉劑，可知其為深有經驗。如西醫所用蓖麻子油等即不能有同樣之功效也。</p>
<p>熱病之必須注重排泄，尤其是腸熱症，不但有細菌毒素，兼有未消化之蛋白質，在大腸腐敗發酵，變為「死體毒素」，如積之過多，即發生眩暈、嘔吐、頭痛、血壓升高等症狀，名為自己中毒，普通無病之人，便秘數日，腸內產生毒素流至腦部，腦血管即破裂，等於中風症。若取此等糞液注射動物體內，再解剖動物之腦檢視，則見百分百均有腦出血的現象。若用動物行便秘試驗，剖檢腸部，黏膜已死壞，因該部被壓迫不流通而腐敗，變為毒素回至腦部，致引起腦出血，多數人均有此等腦出血之經過，由於蛋白質食物未消化而便秘數日之所致。此等輕度之中風，自己及醫師均不易覺察，然檢查多數屍體，百人中竟有九十七人之多，亦為易致衰老之原因。此節從《科學大眾》去年十月份薛德煜君所作「主要營養素」一文摘錄，此為最新之發明，舊時醫學界所不知也。予特徵引此文足以知腸內積糞毒素之烈，因腸熱症多數便秘或每日作泄，亦為黏稠奇臭之物，雖泄也不暢，大部分之毒糞仍積於腸內，培養細菌蘊釀毒素，使患者受兩重毒素之壓迫，毒力愈加強盛，此所以早用排泄法為治療腸熱症極重要之一點。明清瘟疫派名醫有「溫病下不嫌早」之術語，知其對於此點深有認識（參看「腸穿孔章」）。</p>
<p>善用排泄法，則傷寒熱病症狀及危險性自然減輕，痊愈期較速，此有實驗證例具在前章，非僅理想也。</p>

<h2>第二　論解毒</h2>
<p>解毒藥物之多，為中醫藥之特點。中藥皆平淡之生物，而能治愈各種劇烈之細菌症，療效遠在化學藥之上，此為西醫所不能瞭解之問題，其毅然不信而輕視中醫，亦即由此。中醫雖多有用此等藥物治愈諸病者，然能知其為解毒效用者甚少，且不能利用此等藥者尤多。蓋因未有人確知炎症熱病皆為毒素，能治愈此等症之藥皆為解毒效用，故無人能為有系統之說明，以確認解毒療法之價值，致世界藥療學上最重大之一事，至今未得為科學界所聞知，誠為大可惜之事也。</p>
<p>科學醫知有細菌，知為毒素，然未能利用天然解毒之生物藥以為治療，雖有各種免疫抗毒血清，然甲種血清不可能抗乙種之毒，且製法均需高深技術，更有時效問題，病者財力問題，比之生物解毒藥效能殊不及也。</p>
<p>近年磺胺劑為化學藥一大成績，對數種細菌症有良效，然對多種重要傳染症仍無功效。據最近科學文獻，磺胺劑、青黴素均系制菌而非殺菌，抑制細菌使不繁殖，仍靠身體發生抗力殺菌。據予推測，其亦為解毒作用，解除生理所受毒素之壓迫，致細菌失其作用，而生理本能遂能自然由代謝作用及自淨力而溶解消滅細菌也。</p>
<p>鏈黴素治結核菌進行時有顯著之效，然不能滅菌，故效力殊不圓滿，醫學家稱其為「抗生作用」，予竊謂「抗生」之名詞恐有未妥，如為抗生作用則生物遇之應不能生存，今注射鏈黴素或經一年之久，細菌依然生活，故竊謂為非抗生作用也。結核進行時，現盜汗、發熱、吐血等症狀，此為毒素之表現，注射此劑則能使症狀靜止，故言其為解毒作用也。在結核進行時，投以中藥退熱劑，如小柴胡湯（見下）之類，則發熱、盜汗等症狀亦即消失，此類藥皆為解毒作用（理據說明如後），故可知鏈黴素之療效亦系解毒作用也。</p>
<p>予昔年已覺悟中藥治細菌症之療效，皆為解毒作用，最初之發現，為從治霍亂症古方見單用維乙物品者約有二十餘方，如用綠豆或赤豆、扁豆、蠶豆、黑豆研粉吞服，又或用米、麥、粟、黍和水研取汁服，又或用米泔水、粟泔水吞服，又或用西瓜汁、蘿蔔汁、扁豆莖葉汁吞服，此等物平淡之極，乃能使劇烈之霍亂症狀靜止乎？從昨日之科學眼光觀之，蓋不值一笑也。繼而予發見此各物之條下，一一皆有解毒之說明，此各物今日知為皆維乙素，然維乙素之解毒作用科學書所未言，予於三十一年著霍亂研究小冊子，錄述上列各物之方，並言必為維乙素解毒作用。曾以此商之某某兩醫師，皆答以無科學之理據，而不信也，然予信仰千數百年來多數人之經驗，知其可靠，故仍堅持維乙解毒說而不搖。直至今年見重慶出版之《華西醫藥雜誌》一月號，及去年十二月號，臺灣張永霖君譯日本石本氏撰「渡邊氏維乙證說明」一文，予之理想遂獲得科學之理據，且渡邊氏能以種種生理、化學詳細說明，以臨床實驗為其佐證，而解毒療法，遂成有價值之學說矣。原文數千言不能詳錄，拙作《結核輔生療法》已摘錄其大要，茲更簡錄之如下：</p>
<p>大阪病院醫長渡邊一郎，常以漢方醫學態度研究維乙之功用，在於某種一定之徵候群，稱之為「維乙證」，臨床甚有成績。渡邊氏任職結核療養所，得肺結核之研究機會極多，據稱結核與腳氣合併症，病勢不易鎮靜，投以大量維乙，腳氣症狀消失，結核病勢亦易鎮靜，此維乙證之徵候群，如便秘、腹部膨隆、食慾不振、四肢發熱、第二肺動脈亢進、脈洪數、腓腸筋硬結，或一般植物性機能不安定狀態等，概稱腳氣徵候，爾後更細加臨床再三研究之結果，乃知此等徵候群不必為腳氣合併始有，肺結核本身亦可發現之。結局以廣義之意義，認為是慢性內因中毒症，即從此二病所發現之共通性中毒徵候群也。且此等徵候群，急性傳染病內因性中毒、中間新陳代謝病（例如糖尿病）、肝臟機能障礙、妊孕時均能發現。故凡有此等徵候群者，不論何種病，何種原因，均投以大量維乙劑，徵候可立減退，此亦臨床家所公認也。據渡邊氏之報告，謂當結核初期或咯血之際，維乙證甚是顯明，投以大量維乙，非特其病可立消解，即結核自身亦顯然日見輕快也。據渡邊氏言，結核病體體況，皆由結核菌毒或其產物所出生狀態云云。據液體病理學言之，可云是液體失調狀態，簡言之，即中毒徵候所表現也。氏又言酸毒症即由維乙缺乏，又即內外性中毒之徵候群所表現。由此所發現機能障礙中最主要者，厥惟肝臟，夫肝臟機能在人體最為重要，其作用如下：</p>
<p>一、由身體內所產生毒素，肝臟能以種種方法中和而解除之。</p>
<p>二、肝臟能產生種種抗體，以抵抗諸種傳染病。</p>
<p>三、造血機能——最近知赤血球之製造，肝臟與胃均有作用關係。</p>
<p>四、調節血液循環。</p>
<p>其他尚有種種作用。唯肝臟一經受損，則此等機能受障，中和解毒等等作用為之減退，或全消失，故「肝臟保護」為最近所盛唱。如何保護肝臟？即務圖肝臟貯蓄大量動物澱粉又名肝臟糖（Glykogen），如此必須多攝含水炭素及維乙是也。</p>
<p>凡異變之肝臟機能，投以大量維乙則可調整，最近屢經諸家之試驗確有實證（中略）。谷口氏云：維乙有兩大作用，其一，為抗過敏反應allergie性之作用；其二，能使肝臟解毒作用亢進。</p>
<p>渡邊氏又言，中國醫學所謂柴胡湯證之徵候群，與Bergman所舉肝臟機能異常之徵候不謀而合（列表證明茲不錄），且與維乙證亦相近似，以此可證中醫學術確有價值之一斑。吾故曰，今日西醫為學問立場，尤須確認東洋古醫學（云按：應稱為中國古醫學），如表中所列柴胡湯證徵候概屬肝臟被侵之象，而大、小柴胡湯確係調整肝臟機能之方。故曰：維乙證顯明之時，為圖保護肝臟，則含水炭素及維乙同時並進，更加以柴胡湯亦無不可也。</p>
<p>又所謂維乙劑有啤酒、酵母製劑兩種，或有力之注射劑云。</p>
<p>上為渡邊氏對於維乙解毒功用及其用於肺結核之療效，可謂有價值之發明，與予歷年之理想竟相符合。予所謂平淡生物藥能治療肺結核及多種劇烈之炎症熱病，遂有無限之樂觀矣。氏所言柴胡湯證與維乙證相似，此從古今治虛勞發熱療效亦可證明，柴胡湯能治肺癆發熱，《本草綱目》中記有證例，數日見效，可知其亦系解毒作用。細繹本草各家所言，柴胡主治皆為解毒功用，又說明柴胡為肝膽經藥，亦與渡邊氏所言維乙能治肝臟機能障礙及谷口氏所言維乙使肝臟解毒作用亢進亦同。然則維乙與柴胡之解毒同系輔助生理本能之解毒作用也（本草說明：所用以銀柴胡為上，白色，形如鼠尾，長尺許，與前胡相似，須注意）。由此推之，本草中藥物說明，有解毒作用者數百種之多，均是輔助生理機能之解毒作用，而吾人對於古人之經驗，可加一層之信任矣。</p>
<p>予對於解毒意義既略有認識，兩年以來，對此問題之檢討頗饒興趣，以為各種解毒藥品從予所知者言之，可分為六大類。</p>
<p>一、維他命及營養物品：維他命乙解毒已如上述；維丙能治敗血症，可知亦為解毒作用；又維丙為左旋酸，入體則呈鹼性反應，當能中和酸毒，維甲亦為增加抵抗之功用。我的愚見，凡各種維他命缺乏症，均是慢性內因中毒之徵候，用某種維他命能使某種症狀消失，均是解除其毒素，使生理機能得恢復正常之發育。再者，我的愚見是，凡適於生理營養之植物食品，均能輔助生理機能起解毒作用，如上述炭水素物為輔助肝臟解毒作用必要之物，是其證明。又葡萄糖（即炭水素）為近日醫界所用為治療及解毒之要物（本草已言飴糖、蜂蜜、蔗糖治熱病，解藥毒），據藥物學說明：葡萄糖對於全身細胞有特殊之營養價值，能增進細胞原形質之活力，以強其抵抗，又具有解毒作用。在重篤傳染病時，能降其體溫，促進利尿。從營養促進細胞活力以增強抵抗言之，實由化學所起生理作用以解毒也。此與渡邊氏所說炭水素輔助肝臟機能解毒作用互相證明，同為化學作用也。至注射葡萄糖時因滲透壓之不同，而發生滲透作用以利尿而排泄毒素，雖可說為一部分之物理的作用以排毒，然此等作用系短暫的，同時病灶又能產生毒素，故其物理作用之排毒，殊不如化學作用所起之生理解毒之重要也。切要言之，生理具有解毒之本能，必須先有明確的認識，而生物的食物藥物能輔助生理解毒，為第二步必要之認識，此輔助生理療法之意義所在也。</p>
<p>二、色素植物：植物之色素多與其治療功效有關，在科學中已知者為黃色素、葉綠素、胡蘿蔔素等，予發現細菌熱病，常用效藥十數種，皆為黃色而兼苦味，故認為黃色素有特殊之解毒功用。我的愚見是，太陽光線的熱力為一切生物生理能力的來源，太陽光線的色素為一切營養及療病解毒之來源。</p>
<p>三、苦味劑：苦味劑（Amara）從西藥物學所言之功效，頗足與中藥學互相發明，但其對於熱病之消炎解毒功效則為科學所未知。據張克成臨床藥物學言：「苦味劑之功用，迄於近日始稍為闡明，從實驗所得證明如次：（一）苦味與香料同用時，血循環之白血球即見增加，此白血球之增加與腸管淋巴樣組織之營養吸收有一定之關係。（二）在食前三十分時服苦味劑，則食欲亢進，胃液分泌增加，其胃液有強消化力。（三）用動物作瘻管試驗，用苦味劑時於腸黏膜見分泌及吸收著明增進」。從上說明苦味在腸胃均能輔助生理起分泌吸收之作用。從解毒理論言之，人體生理各部分皆有自淨力以抗禦細菌毒素，如皮膚汗腺黏膜，時時有被細菌侵襲之危險，幸賴其能起分泌、有解毒功用，使菌毒隨時消滅。如腸部受毒素壓迫時，機能障礙，不能自起分泌作用，病勢遂得發展，此時加入苦味劑，恢復生理機能使起分泌作用，即能解除毒素，細菌即失其作用也。又白血球之增加，亦為輔助生理抗毒作用之證明，白血球具有消失細菌之功用，如腸炎症白血球數即降低，則白血球之增加尤為治療傷寒腸熱症合理之藥甚明也。在中國藥理學，苦味劑名為苦寒，寒者因其能消炎退熱也，又名苦降，降者因其能起分泌幫助排泄也。中醫治熱病及腸胃病有一術語，曰「辛開苦降」，此與西醫學經驗互相證明，即苦味與芳香同用，則作用更著也，如陳皮、豆蔻之類常與苦味並用，竟與西藥方相同，可知中醫學皆由實驗而來也。予研究古人所稱治熱病有效之藥，計得十數種，皆為黃色而兼苦味，茲列如下：</p>
<p>黃芩、黃連、大黃、黃鬱金、黃梔子、連翹、苦參、黃柏、柴胡、薑黃，大多數本草說明解毒。其未有說明為解毒而實為解毒者，如黃芩為治療各種細菌熱病之第一要藥，本草未有解毒之說明，然古方有解毒湯數種均用之，如解毒湯（治傷寒作泄者）、普濟消毒飲（治大頭瘟等傳染症）、甘露消毒丹（通治傷寒熱症、赤痢腸炎等症）、除瘟化毒湯（治喉痹、白喉及傷寒瘟疫等症），無一方不用黃芩。張仲景治傷寒熱病有瀉心湯四方，亦無一不用黃芩。李時珍自言少年時患劇烈之咳嗽多日且發熱（當是肺炎或急性支氣管炎），其父用黃芩一兩煎湯治之，一日而愈，可知其解各種細菌毒均有良效。日人研究黃芩亦言其退熱有效，但現時中醫多棄而不用。予嘗蒐集上海多數治傷寒之名醫處方，有一例為時方派，經五十餘日熱始退，計共十七方，換醫五人，內有著名傷寒世醫某君十一方，竟無一用黃芩者，其他用辛熱興奮藥一派亦不用黃芩，貽誤則同。蓋由於認傷寒為受寒或有濕不可用苦寒藥，不知瘟疫傳染為毒素，不知各藥之解毒作用，不能從善治傷寒之張仲景及二、三百年來善用解毒苦藥之醫方研究，以致貽誤世人，使多數傷寒及他種熱病累累枉死，此苦味解毒療效所以急待發明也。</p>
<p>四、為荷爾蒙物品：向來西醫用荷爾蒙為抗毒隱劑，據蘇聯國立內分泌院荷爾蒙仿單說明云：凡人精神或體力勞乏過度，自然產生毒素，各種急性傳染病及各種內外因毒素均消耗體內之荷爾蒙，皆須用荷爾蒙以治療之。日人研究胎盤劑能中和孕娠中疽毒，中國古方書亦言胞衣及數種含荷爾蒙之物能解毒。中國對於荷爾蒙之功效知之最早，如動物睪丸、動物卵巢（母豬之卵巢浙人稱為花蒂頭，浙人取以治肺癆病，閹豬者用剖腹手術，趁其幼時割去之則豬不孕，能發育肥大）、動物月經（猴子月經漬於土者，西康有售，治婦人月經病）、人胞、臍帶（藥店均有售）、童尿、人中白（尿沉澱石灰，日人言其富有荷爾蒙）、孵雞蛋及其殼膜、蠶卵殼，內有數種用於急性傳染病，大多數用於肺癆病，療效證例見拙著《結核輔生療法》，茲不詳述。古書言其為解毒功效，除從各種細菌毒病證明外，予之愚見說明其理由如次：</p>
<p>一切病理由於毒素，一切生理能解除毒素，列表如下：</p>
<figure>
<img alt="表">
</figure>
<p>吾人生理進行由於生殖力之策動，故其解毒力之來源即生殖素（荷爾蒙）所發生之力。再者，青春健美，生理完全，為生殖素或生殖力充分之表現。疾病症狀，衰老死亡，為毒素髮展之表現及結果。故生殖素與毒素常處於對待而不兩立之地位，吾人之生存必由生殖素具有解毒力甚明也。</p>
<p>讀者或疑予好多談理論，然此與輔助生理本能解毒愈病之基本理論有關，故不得不詳言之。且英國有胎盤荷爾蒙治痧疹劑，中醫書已早用臍帶及其他數種荷爾蒙治痧疹、天花之重症。最近世界防癌協會主席宣布，現已證明荷爾蒙確能制止毒癌細胞之發展。中醫書早有臍帶治癌方，言早期用之確效，與最新科學之發明一致，又有兩方用鹿角膠及鹿角屑（鹿角荷爾蒙）治癌，與有強力之解毒劑木蓮（即又名木饅頭，薜荔藤之果，能解鴉片、砒霜等毒）同用，亦均言其確效。夫癌細胞亦系劇烈之毒素關係，古人則早知以荷爾蒙劑及其他解毒劑治之，大抵今日多數之神奇發明，皆為我國先民所實驗。然則科學家欲求醫學進步，當細玩日本渡邊氏之言「今日西醫為學問立場，尤當確認中醫學之價值」。要在屏除成見，勿視中國醫藥為不科學，蓋科學者實驗與證實之謂也。有實驗而又證實，尚視為非科學乎？更從何處以求科學乎？若徒從生理、解剖、細菌、化學以責難中醫，而忽視其實驗特長之點，尚未合於講科學之方法也。</p>
<p>五、甲角類：動物角甲類多有解毒作用，最著者為羚羊、犀角、牛角、羊角及獸蹄甲、人指甲。細閱《本草綱目》各物條下所治之症皆毒素徵候，或化膿性癰疽毒症。其用於傳染熱病者如羚羊、犀角，治傷寒斑疹熱皆有顯效，兼治痘症。水牛角燒研服亦治傷寒大熱，又治大人、小兒喉痹（喉峽炎、扁桃腺炎），據稱下咽即愈。羚羊、犀角等物價極貴，予所不採用，嘗研究其他角甲是否有同樣之功效，後遇經商西貢之友人，言及西貢有犀蹄殼，價廉而有犀角之功效。又有一種牛角，質細結青白色如玉，長二尺，亦有同樣之功效。又有一種充犀角，有竹理直紋而無粟粒紋，亦有相同之功效。此三種予皆托友人辦得，皆親試驗其功用，確有退熱、止神經痛之功，與羚羊、犀角不甚相遠，但價值相差不止十倍。以此知多數同類之角甲皆有相同之療效，但用量多少略有差別。龜、鱉甲均有解毒退熱之效，玳瑁甲解毒之效尤強，據稱解百藥毒，亦治痘毒、癰毒、傷寒熱病發狂，大致療效與犀角同。以上角甲多種對於神經有安靜之功效，予素患神經衰弱症，歷試各種角及犀蹄甲，確有鎮靜之功效。中國所謂肝陽旺症，即神經勞乏產生毒素之徵候，服此等物能鎮靜安眠，皆由解除腦神經所受毒素之壓迫。此等角甲均有治驚癇之功效，加急性、慢性腦膜炎之類，由於解毒作用恢復神經之活動力，故對於多種細菌症影響神經系統者為重要之藥也。</p>
<p>六、蟲鱗類：蟲類如蟬蛻、殭蠶，為退熱常用之效藥，又與蠍子同為治腦膜炎之效藥，蠍子兼治癲癇、破傷風、產褥抽搐症，皆細菌毒素影響神經者也。斑蝥治瘋犬毒，蚯蚓、蝦蟆、蟾治傷寒大熱症，蟾兼治瘋犬咬毒，蛇肉、蛇皮治驚癇及多數毒症。魚鰾（即魚肚）治產褥抽搐、嬰兒臍風、破傷風症，皆細菌症也。黃魚頭骨治多種中毒症，其他蟲魚類有解毒療效者尚多，茲惟錄其著效最廣者數種。</p>
<p>以上有解毒作用之物，略分之為六大類，此外尚有屬動植物之解毒物品多種。予從實驗療效而解釋其理由，認為生物生理具有解毒作用，故能利用之以輔助人體生理解除病毒，增強生理作用也。</p>
<p>凡毒素致病，先影響神經系，其壓迫生理機能，亦由神經呆滯而起之病態也。故凡藥物能解除各種劇烈病態者，皆由於解毒作用，使神經恢復健全，生理機能活潑，各種發炎症狀自然消失。至於治愈驚癇、抽搐、昏迷、發狂，其為解毒作用更為顯然。然中藥解毒藥品如是之多，而中醫能說明諸病為毒，此等藥為解毒者甚少。蓋由缺乏生理、解剖等學，不知神經系統作用，但知其有感應作用，故名之為氣分，神經病態則名之為肝風，神經病源謂屬於肝經。夫神經與肝毫無關係，從科學言之，誠為錯誤，然從解毒理論言之，解毒作用大多由輔助肝臟本有之解毒作用。故古人治療此等症狀，名之曰平肝熄風，因毒素徵候消失，而知為肝經安定。又知角甲等類及植物藥苦物多種為肝經之藥，與新科學肝臟解毒說相證明，古人之觀察力殊可佩也。</p>
<p>上解毒療法說明，不覺言之過長，然此為國藥之迷，中外醫學界對此素未了解，平淡生物藥無殺菌之力，而能治愈各種不同之劇烈症，其秘要即在此。雖新醫見之未必即能信受，然不妨從科學方法觀察、實驗、比較以至證實等步驟，而實行研究予言之是否屬實，爾時當知世界真理，即在目前，被人忽視而急待闡明者不少。此解毒療法，僅為其一端，而科學醫術或將從此面目一新，效能頓然增高也。吾國醫學受科學之威脅，氣息奄奄垂盡之時，亦許能因此解毒療法之發明而頓呈活氣，以延長壽命。趁此進而研究生理病理必要之科學，使國藥治療，悉有科學之理據，實我國及世界人類幸福之所託也。此則予臥病中努力執筆，不憚煩勞之意也。</p>
<p>以上排泄、解毒兩大端，為治療傷寒及多種熱病之主要方法，其藥物則具詳後章。</p>

<h1>最近腸傷寒療效二例</h1>
<p>三十七年六月，恆豐紗廠總工程司黃炳奎君夫人患寒熱六日，夜間作糊語，黃君即陪同至熟識之顧毓琪醫師處診治驗血，次日得顧醫師電話，驗血為正傷寒，昨開方有瀉藥不可服矣，黃君因素知予之傷寒捷效療法，即請舍弟聶疊聲往診，服藥一劑即覺輕快，每二日診一次，共服方四劑，經八日，熱退至平度停藥。前三方為大黃、黃芩、黃連、連翹、鬱金、枳殼、豆蔻，後一方因熱已大減，止有黃芩、黃連、連翹，而無大黃。黃君早見予書言傷寒症須多服西瓜，一聞醫師言為傷寒，即令先服西瓜汁，共服西瓜十餘個，此為退熱特速之一大原因，此一證例尤足為予之捷效療法有力證明也。</p>
<p>三十七年七月，葉伸膴夫人遣人來，並函述其子十二歲患傷寒，已將二十日，服中醫利濕藥，西醫打維他命針，熱度仍高，早三十七度半，晚三十九度，因接葉君由港來函，囑至予處索藥，並乞指導治法。予詢知其每日食豆漿沖雞蛋五枚之多，開一方為穀芽、麥芽各五錢，六神麯三錢，枳殼、陳皮各二錢，連翹四錢，鬱金三錢，鮮茅根二兩，蘆根一尺，煎湯送芩連丹（即腸熱消炎丸），早晚各三錢，並囑令多飲西瓜汁、蘿蔔汁。雞蛋沖豆漿雖佳，止可每日食一個或二個，並叮囑如熱退，飲食仍須小心，勿食有渣之物，三日後來函云。服藥二日熱已大退，晚間止三十七度七矣，又數日即下床。此症已到三星期本應熱漸退，然兩日間退攝氏一度三則顯為藥效，及大量鮮汁之效。予所開方前五味為維乙素消化劑，因其食物太多恐腸穿孔也，後四味及鮮汁均為解毒劑，消炎丸則入腸解毒標準藥也。</p>

<h1>腸出血與腸穿孔之研究</h1>
<p>傷寒症腸出血情形分為幾種，在初期腸壁充血發生小量出血者，亦屬常有，可藉資診斷，無重要性。在第二星期以後，若暫出鮮血，或下墨糞，量不多者，亦不十分重要，若量多者，即危險也。有下小量之血，熱反漸退者，亦常見之。護養之法，須切戒用力動作，勿食有質之物。</p>
<p>傷寒症之最危險者，為腸穿孔，因潰瘍腐肉脫痂牽連腸壁致穿小孔，或下大量鮮血，或不排泄出外，而向內流入腹壁，發生腹膜炎，無法可治，惟有立刻剖腹，縫合傷孔，洗滌腹腔，約有半數可望救活。凡腸穿孔者，因大量血液損失，脈息呼吸均極低微，體溫降至正常以下，旋又上升，是其徵候也。</p>
<p>關於腸穿孔之歐美人統計，《臺式內科學》言：居傷寒病例百分之三或四，占死因百分之二十五。他本亦有較多者，蓋各地情形、各年情形皆不同，故各家統計亦異。若以此為依據，以實際數字說明，例如七、八年前，工部局衛生報告：上海歐美人傷寒症死亡率為百分之十八。則可知此十八人死者內有四、五人系由腸穿孔而死。醫院中治此症者必施手術，西人皆服從醫師主張，手術救治有效之比率約為百分之四十，則可推知，上海西人患腸穿孔之數約佔病例百分之十，此為上海歐美人腸穿孔之數也。中國人患傷寒腸穿孔者究有若干，素無數字可考，兩個月前，予函致六處醫師友人，調查滬杭醫院此項問題，僅得少數答覆，言無此種記錄可查，惟震旦醫學院鄺安堃醫師送來本年出版之臨床醫藥季刊（此刊惜即停發），內有上海市立第四醫院徐寶彝醫師所撰該院去年八個月間，傷寒症腸穿孔病例一文，為極可寶之資料，所述傷寒症腸穿孔，外國統計為百分之三，占死因百分之三十三，數字與他書又略有不同。該文詳論手術技術及早施手術之重要，但非本文之研究點，故不必錄述。茲惟述其統計數字如下，據稱：自三十五年七月至三十六年二月止，八個月間，該院患傷寒症者計五十二人，腸穿孔者十四人，計占病例百分之二十七，傷寒症死者十六人，計為百分之三十點七，腸穿孔死者九人，占死因百分之六十四點三，十四人中施手術者十二人，治愈者五人，死者七人，手術之療效為百分之四十二，餘二人未施手術者皆死。腸穿孔之時期，以第三星期為最多，計十四人中佔九例，第四日發生者一例，第十日發生者二例，第十一日發生者一例，第五星期者一例。診斷之顯然易知者，為體溫忽然降至平度以下，脈搏速而細弱，呼吸急促浮淺，寒戰等。所舉發生穿孔原因，一例為病人熟睡時，忽樓上打翻面盆驚醒而腹急痛送院求治者，一例為服冷粥一碗，忽然腹痛送院求治者。穿孔有二、三孔者，有一例多至十三孔云。以上為徐玉彝文之節要，文中所舉發生原因，兩例皆為在外發生始送院者，故所舉死亡率與病例數目，非在院傷寒病人之正確比率也。</p>
<p>今所欲研究者，腸穿孔有無防免及減少之法，欲研究此點，則不可不先研究穿孔之原因。施手術者焦頭爛額之法也，所救亦不能得半，則應努力以求曲突徒薪之法，使穿孔不致發生，此為本文之目的也。</p>
<p>據《臺式內科學》言：穿孔的原因，由於腐肉脫落，腹膜壞死，黏著腐肉的牽引以致穿孔。其發生則由於食物不慎，服瀉藥，及身體驟動，有人謂此為穿孔的誘因。但近年注意治療，發現穿孔者已極少。謂之為誘因，則真正主因別有所在，但醫學界尚不能確言其故也。</p>
<p>《臺式》又言：有極度之毒血症者，可毫無朕兆而穿孔。此兩句中，我認為有極重要之意義，從其文字語氣，可知毒血症與穿孔關係之重矣，欲研究穿孔原因，當從此等處著眼也。張學成醫師在紅十字第二醫院得有傷寒症經驗頗多，著有傷寒症研究小冊子印行，予因函張醫師詢求穿孔統計，張君函覆言：穿孔發生與療養起居、飲食情形及病毒之輕重均有關係。予因病毒之說為予素來注意之點，特請張君將病毒輕重之意義詳加說明，據覆函云：同一傷寒，病毒有輕有重，同一傷寒菌，毒素有輕有重，有人長年帶菌在身而不病者，其菌為輕毒型，有人偶染菌即發劇烈病症，其菌為重毒型，輕毒者為粗糙型，重毒者為光滑型，在顯微鏡下可以檢查而知，此兩型又可互變，輕毒者可變為重毒型，重毒者亦可變為輕毒型。文長千餘言，不能詳錄，其殷殷指示之盛意，與研究之熱忱，至可感佩。</p>
<p>予素主解毒療法，對於極度毒血症與穿孔之關係，與病毒輕重與穿孔之關係，認為有重要之意義，以為從此點研究，可得防免穿孔之法，茲說明如下：</p>
<p>本編前章療法概說內已言，腸熱症不但有傷寒菌毒素，尚有未消化之蛋白質食品變為死體毒素，普通無病之人，止須便秘數日，腸內即可發生劇烈之毒素，流至腦部使腦中血管破裂。從屍體解剖檢查，人們百分之九十七腦部有出血的老疤，或曾經出血一次或數次，可知血中毒素能影響血管之健全，甚至使之破裂，用抽象的說明，可說是毒素使血管忽然硬化（即變為脆性，失去彈性），腦部是高等細胞，更為嬌嫩，故更易破裂。從此可推知，腸穿孔是受毒血的影響成份最多。造成毒血的原因，傷寒菌之外又有腐爛的食物毒素，不須要外來誘因亦可穿孔。食物、瀉藥、運動固然系誘因，腐肉脫落的牽動亦系誘因。所以我們研究的眼光，須要集中於毒素及解毒法。按蘇聯勃氏長壽解毒血清可防免血壓高、動脈硬化，可資印證。</p>
<p>另有一點可注意的，系薛德煜文中說：此種腦出血之事，十歲以內完全無有的，十歲以上始稍有之，其多少比例與年歲同增進。《臺氏內科學》言：數歲小孩腸穿孔者絕少發現。我的推測是，小兒對於傷寒症的解毒力較強，比較的能保持腸壁血管的彈性。據《臺氏內科學》言：數歲小兒傷寒症的死亡率較低，比之大人約在一半以下。所以我認為小兒對於傷寒症的解毒力較強。</p>
<p>另有一點應研究的，據各本內科學言：腸穿孔的發生，因醫療的進步已較前大為減少。所謂醫療進步所指何事？大應研究，從藥療方面說，傷寒並無進步。從護養方面說，所指幾種防免方法，如禁止有質的食品，禁止瀉藥，禁止動作，四十年前的內科學已均言之，亦並非現在始有，醫院向來即知遵守，則進步亦非在此。從我所知的進步，唯有注射葡萄糖及多用維生素乙、丙，和飲桔汁、蕃茄汁等物，系近二十年始通行。此等物均有解毒作用，已在前章說明。又近年所廣行之強灌液體療法，如多服飲料，或每日注射生理鹽水，或鹽水兼加葡萄糖者，兩年來聞醫友數人所述，用此等法者，療效皆佳。水為增加排泄作用，物理的排毒法。鹽水則本草已言其解毒效用，蓋糖與鹽同為人體生理必要之成分，故各種糖，《本草》皆言其有解毒功用，此皆輔助生理本能之解毒也。然則所謂近年療養進步使腸穿孔減少之原因，其顯然可稱之點，即在善用此等解毒療法，可知治療腸熱症及防免腸穿孔，必須注重解毒藥品及解毒法，此為本編之主旨也。對於本病原因及療效認識明白，並對於國藥解毒效能亦能瞭解，在早期即依本編療法審慎用藥，穿孔之事可以完全避免。</p>

<h1>醫療要義</h1>

<h1>診斷</h1>
<p>茲錄《臺氏內科學》傷寒症狀診斷法如下：</p>
<p>初起症狀：一、頭痛，二、疲乏軟弱，三、腹痛，四、腹泄或便秘，五、不思食，六、或有鼻血，七、高熱惡寒，但發戰甚少。</p>
<p>第一星期：兩頰潮紅耳微聾，舌有苔，咳嗽，思想微變亂，熱度逐日上升，至第四日晚，升至華氏一○三度余，或攝氏三十九度半；至第七日，則到極度一○四（攝氏四○），脈率九十左右，較其他熱症之脈搏比例為低；至第七日至第十日之間，發生要事三點：一、脾臟腫大可觸知，二、發紅疹，三、驗血可見反應。</p>
<p>第二星期：思想遲鈍，無頭痛，面容遲鈍，面色蒼白或微紅，口唇及舌乾燥，耳聾更甚，大便秘，或腹泄糞如豆漿。症重者，夜間有譫語，神識昏迷，腸出血或穿孔多在第二星期之末。</p>
<p>第三星期：危險併發之時期，症狀與第二星期略同，肌肉消瘦，虛弱顯著，體溫不規則，早晨漸減低，脈搏一一○至一三○。如在此時熱度不減反加高，或譫言、昏迷更甚，心臟衰弱，或兼肺炎，則為危險之狀，腸穿孔多在此時期發見。</p>
<p>第四星期：起始向愈，食欲轉佳，熱度漸減以至正常，舌苔漸清潔，精神及腹症狀消失，但全身軟弱。在此時期，如病情嚴重則一般症狀轉重，舌乾裂，唇垢，昏迷妄語，大小便不禁，心臟衰弱。其他併發症均為危險之候。凡熱度驟然下降至體溫下者，多為腸出血、腸穿孔之徵候。輕病例可在第二星期熱度即下降，重症可延長至數星期。</p>
<p>發疹：薔薇色，多在第一星期，胸部、背部、大腿，余處少見。</p>
<p>舌苔：初起薄而潤，以後漸厚，至第二星期則乾燥，輕病則不幹燥。傷寒舌苔特點為邊緣及尖紅光，中間至根濁膩。</p>
<p>傷寒熱度初起即在百○一度或二度，早晚相差約一度余，第四日以後，晚間高至百○四度，早晚約百○二度半，甚有規律，以後日日維持此熱型，至第三或第四星期向愈時逐漸降落，但服中藥早期排泄及服苦劑解毒劑者，不在此例。</p>
<p><u>藥療法</u></p>
<p>前章療法概說內已說明大要，第一先須排泄，但開始已見水瀉者，則不用泄劑，但用苦味陶土劑入腸直接消炎，此等苦味並非有澀止作用，惟消其炎而瀉自止耳。</p>
<p>現時中醫對於傷寒所以不敢用泄劑者，其解釋為恐用泄劑引起洞泄不止。實際上，在劇烈之腸炎症，如夏令之急性腹瀉，或霍亂吐瀉，古效方皆有用大黃者，予所用之治水瀉及痢疾、夏令吐瀉藥數種皆用大黃，一一有良效。傷寒症或結或瀉，為其定律，由大黃引起大瀉者，尚無所聞也。凡發高熱而症狀可疑為傷寒者，初起時予皆以表裡丹投之，多數非真傷寒症者，不服他藥而愈，其不愈而熱度似傷寒者，則當詳考症狀，加投解毒退熱湯劑（見前章），仍須服輕泄劑及消炎丸（芩連丹），或有輕量大黃之消炎丸劑（三黃丸），並加服各種鮮汁，此為藥療之大概方法。如每日有黏液之糞一次，仍可服輕量大黃之三黃丸，排泄丸劑如不備，可照前章升降散配製，或在解毒湯劑內加大黃煎服，或再加芒硝亦可，仍可加黃酒及蜜。</p>
<p>若求診時在第八日以後，則用大黃即須慎重，注重在解毒湯，及大量鮮汁，西瓜汁第一，萊菔汁、馬齒莧汁亦佳。西瓜有助通利大、小便之作用，然非泄劑，不至引起腸穿孔出血之事。蜂蜜亦有潤腸之功而無弊害，消炎丸劑須打碎開水泡發，服時略攪起。大便秘者勿多服渣，大便瀉者多服渣，渣即滑石，能止瀉也。</p>
<p>神識昏迷及心臟衰弱可服牛黃丸、安宮牛黃丸，最適用而廉，萬氏牛黃丸無麝不適用，牛黃丸治劇烈之傷寒症有良效。予所知親友中有兩例，最近一例為前約翰大學教授劉君寰偉之子，傷寒已危篤，本有肺病，醫院醫師告以絕對無望，儘可服中藥，劉君乃延其同事王君並不掛牌之醫師治之，竟逐漸告痊。劉君特刊小冊子述其療效經過，送予閱之。其第一日之藥即安宮牛黃丸，連服兩日即見轉機。牛黃為極強之解毒劑，黃色而兼苦味，兼含有牛之膽汁在內。日人小金井博士有實驗報告，言牛黃治腸窒扶斯有效。此數種牛黃丸中皆有麝香，亦有兼犀角、羚羊者，一一皆解毒作用也。</p>
<p>至寶丹、玉樞丹亦為傷寒之效藥，皆有麝香。紫雪丹亦為傷寒發狂之效藥，中有麝香，內有芒硝，然服量甚小，不致引起腹泄，每服三至五、六分，日三次。</p>
<p>傷寒高熱及毒素，每致心臟衰弱，故有麝香之藥效用甚大，病勢方盛之時，牛黃丸、紫雪、至寶丹、玉樞丹均相宜，病退心弱時，至丹、紅靈丹亦可用，每分作三次服，每服內有麝香、冰片各約二毫有餘，然已有強心之效，此予所親試驗者也，一日服三次無妨。普通藥店紅靈丹每瓶有二分，須大藥店麝香可靠。先母九十歲時，偶有卒然疾病，眩暈阻逆（心弱症狀），即自服紅靈丹小半瓶即愈，強心之效也。古方言：傷寒壞症用人參一兩煎服，治效甚確。友人某君，中醫師也，其母患傷寒五十日熱未退，每日注葡萄糖，因大腿發癰停注，予贈以高麗白參一兩，囑其入竹葉石膏湯內煎服，計每日三錢，熱尚未退而神氣大佳，予囑照呂氏書中柴胡養榮陽，仍加白參三錢，服一劑而大解暢通，次日熱度退至平度矣。高麗白參乃別直參之未制過者，性平和且能安定神經，其製成紅參者，即參店之別直參，已經煮熟曬乾，維他命已全失，故止有興奮作用，不能安定神經，覺有燥性以此故也。《本草目綱》說明人參形狀，惟高麗白參與之相合。古之人參產於上黨，陶宏景唐初時人，言上黨已無人參，李時珍言上黨久無人參，今之人參皆來自新羅、百濟、高麗，皆朝鮮之別名也。予於四十前在安慶晤一老醫邵君，曾隨袁世凱居朝鮮京城數年，據云：人參惟高麗為真參，朝鮮每年解貢至清廷者，白參為上品，朝鮮全國無用紅參者，紅參專銷中國，即別直參是也，參質雖同，其性則燥云云。予後訪之數年，購得半斤，以示各醫及藥店、參店，皆斥為無用，後因黴壞拋棄。十數年前遇一鮮人，又購得此參，試服之，並治一心臟衰弱病人，大得其效。再研究本草，始知邵君之言確實。紅別直參由日人包銷並有重稅故昂，白參無稅故廉，予以極佳之白參示參店，仍笑斥為無用，予乃覺悟世間似此之事甚多，隨地隨時須自己研究，而中藥之須待研究整理，此其一端也。</p>
<p>白參惜年惟鮮商帶售，霞飛路金文公司有之，戰後來貨已少，大枝者漸難得，今更難入口矣，昔年價值僅西洋參三分之一，今則少而貴，予不提倡貴藥，但略述其事而已。</p>
<p>西洋參亦有相當之強心作用，味與白參略同，未經制過，故無燥性，紅別直參及中國產之邊江參亦可用。最劣者為吉林人參，因須久煮灌入糖分，使其胖起美觀，大增重量，原汁大有走失，維他命完全無存。現產之參皆系家園培植，因年歲不久，其質甚松。予托友人從吉林買種參未制過者，皮色紫黑，質松乾癟，看相甚劣，然效用與高麗白參略同。參商煮制加糖，剝去外皮始成白色，非原質矣，此等紫皮參，藥店不售，醫生不識，惟用糖制之參，枉費高價，殊可嘆也。所謂黨參，醫家皆認為即古之上黨人參，乃大誤也。人參為五加科植物，三椏五葉，今之黨參乃蔓草豆科植物，色香味質完全不同，雖亦有補益之效，但非人參，此亦藥物失真之一例也。李時珍尚未見此種黨參，《綱目失遺》始載之，行用不過二、三百年也。</p>
<p>附子亦為有力之強心劑，因其大熱有毒，向來溫病派視為禁藥，然在心臟衰弱之時，熱勢雖盛，儘可與苦寒及排泄藥同用，古方附子瀉心湯即是此意。在末期壞症，防其虛脫，用大量別直參、附塊、白朮，有良效，曾見驗案數例，可無疑義。滬上醫家有兩派：一派在熱病初起，心臟不衰，亦專用麻桂姜附，絕不用排泄及苦寒藥。予親見一友傷寒初起，服此派方四劑，第五日發狂，遂送醫院。又一派專用不負責任之藥，苦寒泄劑均不用，至末期心臟衰弱，脈息沉微或細數，又不敢用參、附興奮之品，因此貽誤多矣。</p>
<p>傷寒症早期或末期，每有發生肺炎症，甚為危險，此西醫內科學之言也，近年有磺胺劑、青黴素之發明，肺炎漸有治法，然不十分美滿，故近日有多用鏈黴素者，然價太昂，非普通人所能堪，成效亦非十分美滿。予所知有兩孩注青黴素六日，鏈黴素四日，熱尚未退淨。中醫善治肺炎者向用泄肺藥，如宋錢乙之桑白皮地骨皮甘草湯是其一也。民十七年，舍親曾君在南京中央大學肄業，患傷寒臥鼓樓醫院，醫師云：肺炎併發，難有希望。遂遷居友人家延中醫王吉慶生治之，服藥之次日，瀉下糞半桶，熱度與咳喘大減，連服七方，熱全退矣。予即託人抄得其七方，惜戰事抄本已失，尚憶其第一方為：旋覆花三錢，竹茹四錢，蘿蔔汁一杯，更衣丸（為蘆薈下劑）三錢，餘數味已不記憶，按旋覆花、蘿蔔汁為泄肺痰水之要藥，蘆薈為瀉大腸藥，蘿蔔汁又為解毒之要藥也。此一證例為予發心研究傷寒療法之動機，蓋信中醫確有捷效之療法也。其後見有用麻杏石甘湯加桔梗、桑白皮、象貝、茅根治愈肺炎者，又見人用薤白瓜蔞湯有效者。予之實驗瓜蔞、薤白甚為有效，薤白有強心作用，強心為治肺炎甚重之條件。予之季妹一孩痧疹後喘熱不退，用溫補定驚丸治愈，內有附子、肉桂、黨參、乾薑、半夏、蠍子、川貝，服二粒即見效，予亦用之治痧疹後肺炎三例均效。其中附子、肉桂不過三、四毫已有強心功效，想蠍子刺激神經效用最大。</p>
<p>以予之經驗定肺炎通用方如下：薤白三錢，麻黃六分，杏仁三錢，旋覆花二錢，瓜蔞仁三錢，甘草八分，木通二錢，黃芩三錢，生石膏末八錢，象貝三錢，桑白皮三錢，黃玉金三錢，鮮茅根一兩半。以上煎湯，蘿蔔汁一大杯另服，每日二、三次，無蘿蔔則以萊菔子三錢搗碎入沖藥代之。痧痘併發之肺炎加入干臍帶一個，極有效，乃荷爾蒙解毒功用，無干臍帶可用鳳凰衣六錢代之，並可加綠萼梅二錢，解毒強心，止咳排痰，痧疹尤為有效。</p>

<h1>方劑說明</h1>
<p><u>解毒退熱湯方</u></p>
<p>葛根（三錢）　苦參（三錢）　黃芩（三錢）　黃連（八分）　甘草（八分）　白芍（三錢）　黃鬱金（三錢）　生梔子（二錢）　連翹（四錢）　橘皮（二錢）　蔻仁（八分）　象貝（三錢）　鮮茅根（一兩）　鮮蘆根（一尺）</p>
<p>加減法：咳劇者，加桑白皮三錢；有肺炎症狀（即喘急），再加旋覆花（絹包）三錢、竹瀝二兩；昏迷甚者，加鮮菖蒲二錢，或再加膽汁制南星一錢；鼻血或腸出血，多服鮮汁。</p>
<p>本方藥理根據：第一為漢張仲景葛根黃芩黃連甘草湯，此四味均為解毒作用，原方說明治傷寒下痢，蓋適應於細菌性腸炎腹瀉之用。此方雖每個醫生熟知，但能用以治傷寒症者則甚少，因多數醫家守其錯誤之師傳，認傷寒為寒或濕故也。方中黃芩甚關重要，詳見解毒章苦味劑條下，茲不贅述。葛根功效多有認為興奮發汗作用者，實則其發汗作用由於解毒而已。蓋發汗藥有兩種，一種為興奮中樞神經，另一種則純由解毒作用使汗腺恢復正常之排泄，如石膏、豆豉、豆卷、銀柴胡、葛根皆屬此類，皆無興奮中樞之作用，此數物在本草中皆說明為寒涼，即與興奮刺激作用相反。予母常用綠豆泡水，水作綠色，維他命全入水內，以治大熱，屢見發汗退熱之效。本草葛根綠豆條下皆有解毒效方數條，可知此類物發汗退熱純由解毒作用。第二苦參，晉唐方書苦參治傷寒發狂方有數起，或單用苦參一味，並言非苦參不能愈，知其療效甚確，近七、八百年久已無人用之。予從古書中發見其重要性，後見《醫學新悟》言：某歲疫痢流行，死亡甚眾，各藥無效，後用苦參與葛根、黃芩即皆治愈，加黃連更佳云云。按本草苦參本治痢，予因思苦參治傷寒又治痢，皆為消細菌性之腸炎也，遂用上述各藥煎湯浸滑石為丸，使入腸消炎，先用於兩赤痢患者，其一甚劇，皆一日即愈。後治傷寒多日之患者數人，皆速見良效，證例見前，今則知全為解毒消炎也。第三白芍，亦為張仲景用治傷寒下痢之藥，與黃芩同用。明陶節庵氏言其為治傷寒退熱要藥。第四鬱金，明清以來各派一致公認為瘟病熱症要藥，本草言其解多種毒，日本生理化學家言其能使肝臟解毒機能亢進。第五梔子，為古今治傷寒熱病之要藥，本草說明解毒。第六連翹，為近代治傷寒之要藥，本草言其解毒，且為治各種化膿性瘡瘍之要藥，其解毒力可知。第七象貝，為化痰止咳之要藥，凡腸熱傷寒症皆兼有氣管炎，故本品為要藥。本草說明其治傷寒解鬱解毒，凡傷寒症因毒素關係，故胸中感覺悶郁難堪。予從一病者藥方中發見其效用，該病者煩燥鬱悶，醫方內有象貝、連翹、鬱金、梔子，遂得安適，次日改方去連翹、象貝，又煩燥不寐，其父乃改用前方服之，胸中又暢適，予乃深信此兩藥之解毒作用。藥學專家曾廣方博士告予云：從貝母提出之贗鹼，證明有化痰止咳功用，象貝中之有效成分較川貝更多雲云。予按《本草綱目拾遺》言：治急性之痰咳症，象貝較川貝為優。與《新藥學》所言殆相符合，至其何以化痰止咳，予以為是解毒作用使不發炎，正如今日之磺胺劑能治各種細菌炎症及瘡瘍，又能治氣管及肺炎。象貝、川貝皆能治瘡瘍，象貝並治梅毒，故知其為解毒作用，使不發炎，自然痰不生也。以上藥共十種，為予選定之傷寒主藥，乃從古方書擇其屢經後人證明比較效驗最確切者，再加以十年來治驗多人之成效為其證明，非泛泛抄錄古書也。各藥皆有治細菌性病及解毒作用之說明，予從此對於國藥治傷寒及各種炎症由於解毒療效，有深切之認識。次為副藥兩種，橘皮、豆蔻為芳香劑，與苦味劑同用，能興奮消化系機能引起分泌作用，中醫「辛開苦降」之術語，與新醫之學說巧相符合（詳見解毒章苦味條下），此中醫學之經驗值得注意者也。次為鮮葉兩種，茅根、蘆根均具利尿強心止咳治吐血之功用，兩物均有解毒作用，蘆根之解毒力尤強。兩物之效用，民間多知之，時方亦多用之，但用於腸熱傷寒者，又不多見。予搜輯傷寒病家之時醫方數起，竟未見一方用此兩物者，亦奇矣。小菜場常有鮮蘆根出售，上海人常用以治喉痛，小兒癤子熱病之用云。</p>
<p><u>鮮瓜果等汁功用說明</u>　傷寒症療法，西醫近年大有進步，其最顯著之法，即在多用鮮果汁及維乙、丙，及葡萄糖是也，詳見後腸出血及腸穿孔研究章，茲不贅述。中醫稱西瓜汁為天生白虎湯，白虎湯為傷寒熱病古方之名稱，可知西瓜治熱病之效也。李時珍稱賞梨治熱病之功用云：昔人不言梨之功，並言梨之害，蓋因古人論病都主風寒，用藥皆是桂、附，故不知梨有潤肺、涼心、消痰、降火、解毒之功，今人痰病、火病十居六七，梨之功蓋不為少云云。清季葉天士、吳鞠通之書有五汁飲療法。甘蔗汁治痧疹及肺氣喘咳（肺炎）之效亦見於古方書，蘿蔔汁、蔓菁汁均有治咳喘之效方。予所聞見傷寒劇症數例，均以用西瓜汁而大便通、熱速退。然今日時下名醫能用此法者殊少見矣。西醫多用橘汁、番茄汁，取其維丙多。據日人渡邊三郎之研究，維乙解毒功用尤著，用於熱病及肺病功效甚佳，詳見解毒章，茲不贅述。大抵今日多數科學發明，久為古人所經驗，此點可注意也。凡傷寒八九日以上大便秘結，不能用下藥之時，服西瓜汁一大碗可得通利，多服數次無妨。予治一傷寒症，從始即令每日服蘿蔔汁一大碗，連服十數日之久，至熱全退為止。馬齒莧搗汁服亦佳，馬齒莧治細菌痢已經余云岫醫師證明。羅登義《營養論叢》言：馬齒莧含維他命甲、乙、丙、己，四種均豐，又治腸痔便血（見刊物）。本草言其解毒治多種瘡瘍，可知其為腸炎熱症佳藥。近有人在醫刊發表馬齒莧搗汁早晚各服一大酒杯，治愈肺癆吐血、旬日小效，一月大效，與渡邊氏維乙治肺病吐血經驗相證明，其效用之廣，誠值得注意也。次則藕汁、番茄汁、梨汁、橘汁均佳。夏令無蘿蔔則蘿蔔菜葉搗汁亦佳，解毒效用詳見「療法概說」解毒章。</p>
<p><u>解毒消炎丸劑</u>　昔年所制名苦參七液丹，復改名芩連丹，歷年方有改動茲述如下：</p>
<p>二十七年所制苦參七液丹方</p>
<p>苦參（六兩）　葛根（三兩）　黃芩（三兩）　黃連（一兩）　薑黃（五錢）　青蒿（五兩）　甘草（一兩，以上七味煎湯）　鮮藿香　鮮蘇葉　鮮佩蘭（各六兩）　生萊菔子（二兩）</p>
<p>以上四味同搗，加入藥湯同絞汁，再加鮮萊菔汁四兩，侵入滑石二十兩，為大丸，重二錢半。服時打碎，開水泡服。</p>
<p>三十一年因改制小丸，名芩連丸，故多用藥末，減少滑石，方如下：</p>
<p>苦參（二兩）　葛根（五兩）　黃芩（一兩）　黃連（一兩）　白芍（一兩）　蟬蛻（一兩）　象貝（二兩）　甘草（二兩）　薄荷（一兩）　水飛滑石（十四兩）</p>
<p>以上十味研末。</p>
<p>苦參（五兩）　葛根（三兩）　黃芩（三兩）　赤芍（二兩）　白芍（三兩）　天花粉（三兩）　茵陳（三兩）　青蒿（三兩）　枳殼（一兩）　薑黃（一兩）　鬱金（一兩）　連翹（六兩）</p>
<p>以上十二味煎湯，二道熬濃。</p>
<p>鮮荷葉、鮮蘇葉、鮮藿香、鮮薄荷、鮮茅根各四兩，生萊菔子打碎三兩。以上六味同入石臼搗融，加入藥湯絞汁，再加入萊菔汁八兩，同泛小丸，以上兩種藥稍不同，效驗均佳，茲擬參酌兩方，仍多用滑石，但藥味煎湯者，則照第二方增多如下：</p>
<p><u>腸炎丸新方</u></p>
<p>苦參（五兩）　葛根（五兩）　黃芩（五兩）　黃連（二兩）　甘草（一兩）　茵陳（三兩）　白芍（三兩）　黃鬱金（四兩）　梔子（二兩）　連翹（五兩）　象貝（三兩）　枳殼（二兩）　陳皮（二兩）　木香（一兩）　蔻仁（一兩）</p>
<p>以上十五味煎湯，二道熬稠，浸石膏及藥末如下：象貝一兩，葛根一兩，白芍一兩，水飛滑石二十兩，以上四味研細末。</p>
<p>鮮荷葉八兩，鮮蘇葉、鮮藿香、鮮佩蘭各五兩，生萊菔子打碎二兩。五種入石臼同搗融，再加萊菔汁四兩、馬齒莧汁四兩，和勻，浸藥末及滑石，為大丸或小丸均可。如汁水太多，則可先將冷藥湯浸滑石及藥末曬乾，後浸各種鮮汁做丸更妙。各種鮮藥各地缺乏者，惟多加萊菔汁可也。</p>
<p>藥理說明：中藥滑石即西藥陶土（見後說明），其治腸胃病之效用在物理作用，能吸收細菌之毒素，使發炎部分減輕炎勢，此西藥用之於腹泄及痢疾、霍亂、腸炎等症之意也。予從古方七液丹、甘露消毒丹兩方師得其意，因兩方均為治腸炎、傷寒之效藥。但改良製法，用濃厚藥汁，浸入滑石，使滑石入腸後將藥味徐徐放出，以消炎解毒，發生物理化學兩種效用。最初使用於兩種赤痢病者，著奇捷之效，連用於傷寒病者數人，亦得相同之效。經十年之實踐，並有新醫師數人之證明（見前），理想可云證實矣。</p>
<p>以上丸劑，昔年稱之為芩連丹或葛苦芩連丹數種名稱，今擬定名為腸炎丸，為治療各種急性腸炎及赤痢、霍亂之通用劑。</p>
<p>用本方加大黃二兩，名曰大黃腸炎丸，亦為腸炎赤痢通用劑。依予之經驗，傷寒腸炎症最初期，宜日日用適當之緩和排泄劑，則熱可速退，若早用排泄法並解毒劑，使熱勢由三十九或四十度（即百○二至百○四華氏）逐漸退下攝氏一度有餘，即三十八度左右，可知毒素逐日減退，無腸穿孔及出血之危險，則第九日後仍可用此法之輕泄劑，退熱甚速，如王馨濤醫師所證明一例是也。若熱度無顯著之逐漸減退，則至第九日起，不用此有大黃之丸可也。</p>
<p><u>排泄劑說明</u></p>
<p>藥方之根據：予所見數百年來，傷寒瘟疫各家之書，最能確定標準療法、辨症明白、用藥簡單、後人屢刊其書、各有序文證明其療效確切者，以呂心齋之書為最，予改定其名稱為《溫熱標準捷效》者也。予仿製其藥用之屢效，始重刊其書，故知前之重刊其書者一一確有實驗也。其書詳言各種辨證之法，共計有數十條，而以排泄藥之名升降散者為其主要藥，予最初於二十七年仿用之有效，友人榮柏云君亦制以送人屢效，後數年始加滑石製為丸劑，然不可不述其原方之功用療效，茲錄方如下：</p>
<p><u>升降散方</u></p>
<p>殭蠶（二錢）　蟬蛻（一錢）　廣薑黃（三分）　生大黃（三錢）</p>
<p>研末和勻，病輕者分四次服，重症分兩次服，輕劑用黃酒一杯、蜂蜜五錢調服，重劑照加，製成丸劑者名太極丸（北京藥店如京都達仁堂、宏仁堂有太極丸，亦為治小兒時疫、昏迷不醒，當即是此方，大人亦可用之）。原書為小兒時疫病之用。</p>
<p>本方歷史：呂氏之書系根據楊慄山之《寒溫條辨》，此方為楊氏所賞用，蜜與酒尤為楊氏之特色，凡屬溫病各種藥方皆加之。升降散原方見於明代之《萬病回春》，《驗方新編》白喉條下亦用此方，並言其兼治溫病，可知明清以來，治傳染性熱病，深知排泄法之重要矣。</p>
<p>本方效用說明：古人說明藥效，多數臆測，撰為極荒唐之理論，如楊氏、呂氏原書說明此方各藥之效用，凡稍有常識者，當知其謬，予於刊印是書時已指出此點，但此方之效用則確實。吾輩研究醫藥者，不可因其理論錯誤，而捨棄其功用。蓋中國古效方極多，皆由歷史久遠積累而來，後人用之有效，遂造出多種理論，其實原方並無理論，其理論荒謬，非古人傳方者之咎也。予曩年曾作改正之說明刊於原書，然彼時對於國藥之解毒作用尚無認識，今再研究此方，計藥四種，一一皆為解毒作用，大黃則兼排泄作用，蟬、蠶為蟲類之解毒藥，詳見解毒章，茲不贅述。蜜與酒予向來未採用，亦由昔年未知其有極佳之解毒功用也。蜜服下後約有十之九變為葡萄糖，含有維他命乙，兼有營養、解毒及通利大便之作有用。黃酒含有多量之維乙，並有強心、營養、解毒之功用，然則歷來用此方者亟稱其效驗之神，確實有理據也。</p>
<p>予於二十九年，用此方之法制成丸劑，仿七液丹之法，加入滑石、甘草及鮮汁，又加入皂角，乃仿古方二聖救苦丹，以大黃、皂角二味為治瘟疫之效方，用之已八年，凡遇發熱症，皆以此方先投之。八年間，制以施人者約有四十餘料（每料約一斤），友人周君榮君均制有大量隨時送人，亦有遠地讀予書照方制用者。來函皆極稱其功效之佳，據稱對於多數發熱症一泄而愈，其效用非蓖麻子油所可比也。原方如下：</p>
<p><u>表裡和解丹</u>　方名意義：表者發汗之意，里者排泄之意，即謂各種熱病適用也。</p>
<p>蟬蛻（一兩）　殭蠶（一兩半）　皂角（五錢）　大黃（四兩半）　廣薑黃（五錢）　荊芥　薄荷　藿香（各二錢半）　甘草（一兩）　滑石（六兩）　蘿蔔汁（十兩）</p>
<p>泛成小丸，最近制者為西式藥片，每片一分六釐即半公分，給人時便於計算分量，丸內每一錢含有大黃三分，予所定普通劑量每服一錢半（即內含有大黃四分半），壯健人可加倍，婦女可減少，據原書云有孕亦可服，予嘗詢之西醫，據云孕婦亦可服大黃也，但有多數婦女服後腹痛，故予對於婦女所服劑量較少，但不腹痛者亦有之，其劑量須隨經驗而定。小兒十歲左右服六、七分，若急症須速瀉者可略加，六、七、八歲者四、五分，二、三歲二、三分，此為大概劑量。</p>
<p>上方雖用經九年，效驗甚確切，然其配伍藥，亦應研究隨時改良，予意欲加木香、吳萸、橘皮湯以浸大黃並白芍鎮痛之劑，使服後全不覺痛，茲擬方如下，望醫界高明斟酌採用，以比較其成績。照瘟疫派之學說，瘟熱病不可用辛燥劑，予意與大黃排泄劑同用當無弊，擬方如下：</p>
<p>蟬蛻（一兩）　殭蠶（一兩）　皂角（五錢）　大黃（四兩五錢）　白芍（一兩五錢）　飛滑石（五兩）　烏梅炭（約半兩，以上研末）　橘皮（二兩）　枳殼（二兩）　廣木香（一兩）　吳萸（四錢）　蔻仁（一兩）　甘草（一兩）　鬱金（一兩）　廣薑黃（五錢）　烏梅肉（一兩半）</p>
<p>以上九味用黃酒十兩煮湯一道，再用水煮湯一道，兩湯和勻，浸上開藥末曬乾，藥湯中之烏梅渣須揀出炒炭研末，加入藥末內，藥末浸藥汁後曬乾後，再加鮮汁泛丸或做成西式片劑，鮮汁須看當地季節所有者選用之，或用萊菔汁，無萊菔時則用萊菔菜搗汁，或加馬齒莧汁、胡蘿蔔汁、西瓜汁亦可，或無鮮汁則用生萊菔子一兩，研碎加上藥湯絞汁和丸亦可。</p>
<p>丸劑臨時制辦不及，可照上述之升降散方臨時配製，甚為便易，但每服劑量不妨較原方減輕，並宜照原方加黃酒、蜂蜜調服，並可加六一散一倍同調服，丸劑亦可用蜜酒同服。</p>
<p>又上述消炎丸劑，臨時不及製備，可用藥店之甘露消毒丹代之，此為各種腸炎症及各種熱病之效藥，時醫治傷寒者亦有加用此丸者。其方滑石、黃芩、茵陳為主藥，余則多為解毒物，予之制腸炎丸各種，亦因見先母素制此丸送人，治療各種熱病有效，故仿其法而多用苦味劑，並加多滑石，取其能吸收毒素以消炎也。此丸為葉天士、吳鞠通派所賞用，故惟江浙等省及京津有之，湖南以上則藥店不備，服時須攪起略服其渣，否則，滑石不服下，失去大部分功效，此點須注意。原方如下：</p>
<p><u>甘露消毒丹</u></p>
<p>滑石（三兩七錢五分）　茵陳（二兩七錢五分）　黃芩（二兩五錢）　石菖蒲（一兩）　貝母（一兩二錢五分）　木通（一兩二錢五分）　藿香（一兩）　連翹（一兩）　射干（一兩）　薄荷葉（一兩）　白豆蔻（一兩）</p>
<p>用神麯糊丸彈子大，市售者則為水泛小丸，方中原用川貝，予則改用象貝，理由見前。</p>
<p>中滑石即陶土，非西滑石之辨明，西藥之爽身粉亦名滑石，故新醫藥家皆以為中滑石即Talcum，予嘗以此事問醫師及藥學家數人，皆言中滑石為矽酸鎂，乃至丁福保君著《新本草綱目》根據日人名詞直稱為硅酸鎂，以訛傳訛，由來久矣，予竊疑之。一、從物理鑑別，形質顯然不同，西滑石觸之甚滑，故能爽身，中滑石拈之澀手，且帶黏性。二，從療效研究，中滑石能治痢疾、腹瀉、霍亂，與西藥陶土同，若為爽身粉Talc，無吸收作用者則不能有此效用。然予之意見竟與各醫師之言相左，乃請倪章祺醫師托藥學專家楊恩孚君作定性分析。據覆函云，是矽酸鋁，乃高領土之不純潔者，予之理想遂得證實。後又請上海泰山磚瓦公司將中滑石燒成小筆架一個，果為瓷胚也。此事雖無關重要，然與新醫研究中藥之心理則大有關係。由前之誤解，則引起輕視中藥療效之心理，以為中醫不知用黏性之陶土，而用無吸收作用之肥皂石為治腸胃炎等病，可知其所言療效之不可信也。若知中滑石實為陶土類，則當引起驚奇之感想，以為中醫在二千年前已知用吸收作用治腸炎等症，並治霍亂，中醫書所言療效經驗大有研究之價值也（一九二一年英人瓦克氏始發明陶土治霍亂有效，由於能吸收毒素減少腸部發炎）。夫科學方法首在觀察，我國新醫學家自視太高，不肯深入民間做第一步的觀察工夫，宜其膈膜已甚，假使早能多向民間訪問醫藥療效實際情形，則昔年對於中醫所用臟器療法，不致斥其純為臆想、毫無療效，對於多種陽性荷爾蒙、胚胎素荷爾蒙療法不致詈其迷信愚昧，又對於多種維他命乙、丙物品治療細菌毒素高熱劇症，不致笑其荒唐，決其斷無效用，昔年之笑罵此等療法者，由於科學本身幼稚知識不足，亦由科學醫家不肯用科學研究工夫，如能實行觀察、實驗、比較等方法，則必恍然覺悟，知此等物確有療效，科學醫本身大有缺點，歷史積累之經驗確有價值，必當及早捐除成見，更多做觀察、實驗等研究工夫，即不致使多數有重要性之有效療法沉埋至今，尚未能為科學所利用也，予特因滑石問題而一論及之。</p>

<h2>護養</h2>
<p>腸炎傷寒症最須注重護養，此章為本編最重要之一章，望讀者特別注意焉。</p>
<p>新醫學治傷寒症，多得力於護養，多數傷寒死者由於護養疏忽，尤其在熱退將愈之時，每每以誤食及勞動而致死也。</p>
<p>古醫書所謂勞復、食復，即指此勞動或食物而反復也。</p>
<p>多數人以為熱度已退，即食肉、乾飯及有質之菜，既無體溫表，雖有微熱亦不知之。傷寒熱退後，大多數熱度較平時低數分，若僅退至平度，尚未可認為全退也。</p>
<p>用此書之方藥，退熱較普通為速，其注意護養，尤為重要，因熱退為炎症已止，但腸有潰瘍，未能速即結痂愈合，若誤食難化之物，危險極大也。</p>
<p>近年西醫發明傷寒病必須有適當之營養維持體力，否則心臟衰弱易致虛脫而死，故令病人食粉質之食物及沖雞蛋或蒸雞蛋略加水打勻，蒸勿太老，及肉湯等物，成績頗佳，但亦宜注意，如某種食品能令熱度升高則宜改正也。</p>
<p>中國舊俗止准病人飲鍋巴水，全無粉質，營養不足，以致十分衰弱，誤事不少。予主張在初、中期多服煮飯之米湯，須帶白色，略有粉質，含維他命亦多。如能稍多進，則將粥煮爛，稀布絞去未化之米，令病人食之，用豆漿煮熟沖雞蛋及蒸雞蛋均可食。《本草綱目》有兩方，治傷寒發狂用生雞蛋一枚吞服，另方用生雞蛋開水沖服。據此，則雞蛋生服或沖服兼有治療效能，不僅營養豐富而已。豆漿加蜜少許調服，亦為治傷寒之效方，豆漿含維他命乙、蛋白質及脂肪均多，蜜亦含維乙，兩物皆有極佳之解毒作用，乃傷寒食品之佳者。甜酒釀去渣服之亦有強心之力，維他命亦多，或用以沖蛋亦可。至西瓜汁、蘿蔔汁，前於解毒章已言其重要，有西瓜時須多食西瓜去渣，蘿蔔、胡蘿蔔、藕、梨、甘蔗、番茄、橘取汁均佳。</p>
<p>關於勞動一點，西醫管理甚嚴，不許病人左右轉側，大小便均令病人平臥在床上接之。此層在我國則辦不到，既無此種便盆，亦無能力僱人看護，惟有下床大解時，家人侍病者善為扶持，勿使病人費力為要，臥時亦須有人叮囑勿常左右翻轉，偶爾轉側宜極和緩。</p>
<p>退熱時仍宜注意安靜，不可即下床勞動費力，必須熱退淨六、七日，大解色質正常，始可下床小坐，仍不宜勞動也。</p>
<p>至服此書之藥療法而退熱較常為速者，則其謹慎尤宜加倍，因熱度雖退，腸瘡未愈合，若有疏忽，勞動最為危險也。</p>
<p>關於防免傳染者，須知傷寒、赤痢、霍亂等腸胃炎症，均由細菌從食物傳染，一由食物未煮熟者，二由器具及手沾病菌，又沾食物而入口，所以侍病人，沾染病人糞便、器具、衣褲宜注意洗淨曬透，多煮開水洗器物、洗手，手中抹布宜多備幾塊，輪換煮曬後用，一切細菌經過蒸煮即皆消滅，火酒亦能滅菌（鄉間燒酒太淡者則無殺菌力），所以醫生、護士均常用火酒揩手揩器具，以避免傳染。洗菜淘米之處切宜注意，凡洗滌病人穢物須距離甚遠，亦勿在小河溪水邊洗之，恐他家被傳染也。</p>

<h1>傷寒解毒療法附篇</h1>

<h2>幾種普通急性傳染病解毒療法</h2>
<p><u>流行感冒</u>　氣管炎　肺炎　喉炎　痧疹　天花　斑疹　瀉痢</p>
<p>予既發見傷寒各藥為解毒作用，乃進而研究其他各種傳染熱病效力，所用各藥，大多數經本草說明為解毒作用，茲將普通常見之各病症效方列後。尚有數種因付印匆匆，隨後補印加附。方內藥旁加標記，甲為興奮，乙為解毒，丙為疏通排泄。</p>
<p><u>流行感冒通用方</u></p>
<p>麻黃（甲，六分）　杏仁（乙、丙，三錢）　石膏（乙，七錢）　甘草（乙，七分）　荊芥（甲、乙，一錢）　蟬蛻（甲、乙，一錢）　象貝（乙、丙，三錢）　連翹（乙、丙，三錢）　桑白皮（乙、丙，三錢）　桑葉（乙、丙，三錢）　木通（乙、丙，一錢半）　黃芩（乙、丙，二錢）　白芷（乙、丙，二錢）　辛夷花（甲、乙，五分）　鮮茅根（一札）　蘆根（乙，一尺）</p>
<p>咳劇痰多或喘急，加薤白（甲、乙、丙）三錢、瓜蔞仁（乙、丙）三錢，黃鬱金（乙、丙）三錢，黃芩（乙、丙）加成三錢；咳更劇者再加旋覆花（丙）二錢，大便秘者須服大黃等藥通利大便，蘿蔔汁、甘蔗汁、梨汁或生嚼服，均能解毒退熱，綠豆泡開水或煮一滾服，亦能解毒退熱。</p>
<p><u>簡便之流行感冒方</u>　鼻流清涕、頭痛、微覺惡寒者通用。</p>
<p>蟬蛻（甲、乙，一錢研細）　雞蘇散（二、丙，一兩）</p>
<p>和勻，每服一滿湯匙，開水調攪連渣服，此一料可作三、四次，家中常備，有人服二次即愈。或加茅根一兩煎水調服，或即用綠茶（甲、乙）泡水調服亦可。雞蘇散藥店有售，即六一散加薄荷一成。</p>
<p>流行感冒為一種顯微鏡所不能見之細菌傳染，雖非重症，然拖延時日，每每釀成肺炎、腦膜炎、或肺結核等症，故以速行治愈為妙。上通用方，予所經驗多次，一劑二劑可愈，以予所知西醫治此症，毫無把握。三十六年某期《美國讀者文摘》載一醫師論文，題為「醫生不能治愈傷風症」，文中言退熱、鎮痛等劑皆非治傷風之有效療法，磺胺劑、青黴素均非治感冒之藥，滴鼻油不宜多用，能惹起發炎，最妙之療法為靜養數日，使其自愈云云，又他種刊物言美國人平均冬日傷風各二次，全國每年損失二十億元云。足知傷風雖小恙，而影響之巨如此。予於民國九年在紐約患傷風發熱，臥旅館中，該館高四十層摟，有掛牌醫師數家，一少年醫師為予診視，言沙尖入目，括之即愈，費美金六元，次日未愈，又往診，換一專家再括，費十元，仍未愈，病系發熱流清涕，目實無病也。予手冊中抄有夏蔭堂君傷風流清涕方，內有辛夷四分，為治鼻流清涕專藥，余不記憶，即請同行李耀邦博士至唐人街購藥，連酒精燈壺，共費一元左右，煎服後次早諸恙全愈。予對於當時兩醫師之滑稽劇，及改服中藥之速效，印象殊深，彼醫亦給以藥片，不知何藥。中藥之效，則在解毒作用也。</p>
<p>予之方標準簡單，藥物平淡，極易施諸實驗，科學家不妨實驗，是否確能一、二日必愈。我們既知傷風症可能造成嚴重後果，又知科學尚無有效療法，此等平淡藥茶是值得一試的。</p>
<p><u>治氣管炎</u>　肺炎通用方</p>
<p>薤白（甲、乙、丙，三錢）　瓜蔞仁（乙、丙，四錢）　旋覆花（丙，一錢半）　杏仁（乙、丙，三錢）　連翹（乙、丙，三錢）　木通（丙，二錢）　桑白皮（乙、丙，三錢）　黃芩（乙、丙，三錢）　生石膏（乙，六錢）　黃鬱金（乙、丙，二錢）　橘皮（乙，丙，二錢）　象貝（乙、丙，三錢）　綠萼梅（甲、乙，二錢）　茅根（乙、丙，一兩）　蘆根（乙，一尺）</p>
<p>大便不暢者加大黃（乙、丙）二錢、元明粉（乙、丙）二錢，或另服更衣丸（丙）二錢亦可，蘿蔔汁早晚各服一茶鍾，或無則用甘蔗汁、梨汁亦可。如屬結核性可加海浮石（丙）二錢、煅牡蠣（丙）三錢。有痰血者加茜草根（丙）二錢、桃仁（乙、丙）三錢，此方疏散肺部鬱血，故能治療肺炎有捷效。</p>
<p>近日治肺炎者均注射青黴素，稱為特效，每每注射五、六天始退熱，又數日始止咳，予所見聞者有多例，內有兩例為一歲孩，注青黴素六日，鏈黴素四日，熱咳均未全止，不知是否大多數如此。有友言青黴素對肺炎球菌確效，由於他種或雜有他種細菌者則不必效。觀上述各例，似乎雜有他種菌之肺炎甚為普通，為增加治療效能起見，不妨實驗同時服此方是否可兩日熱退咳止。如不誤，則再進一步實驗不注青黴素，單服此方是否亦可兩日見效。中藥治痰咳與西藥性質作用不同，西藥多數為衝動性，使氣管易於排痰吐出，如硇砂、吐根、焦木油（幾怪）之類，排痰而不能消炎，如可定（鴉片劑）鎮咳而不能排痰，如肺病劇者，排痰藥亦在不宜輕用之列（見《臺式內科學》）。中藥如上列之方，則為疏導鬱血、清除組織間廢料，由淋巴血管從小便排泄出外，炎勢即能減輕，痰咳自然漸止，吐血者血亦能止。</p>
<p>近年西醫已採用國藥桔梗、遠志、貝母為祛痰劑，桔梗、遠志屬於興奮衝動作用，貝母則兼解毒疏泄作用，但用於肺炎則力尚不足，予所定肺炎方則興奮、解毒、疏導排泄之品各有數種之多，故能發生捷效也，詳見拙作《結核輔生療法》排泄章。</p>
<p>藥店所售薤白實即野蒜，然效甚佳，此物與瓜蔞仁同用，原為漢張仲景治胸脅痰水之古方，予見友人用之治痰咳有捷效，遂定為痰咳之標準藥，近見《醫藥世界》第六期，歐洲有醫用大蒜切碎，沸水浸液，治百日咳有確效，足知薤白治痰咳之效非虛也。從本草經驗言，薤及蒜乃具有興奮、解毒、排水三種功效之藥也。</p>
<p>最近證例，劉性女性，年六十，素有血壓高症，三十八年二月，患肺炎住院，注青黴素六日，熱已退，擬出院矣，停注一日，熱又高，又注兩日始出院，咳仍劇，又數日始愈，四月中旬又患肺炎，詣前醫注青黴素一針，次日熱退至三十七度半，又再往注一針，同時予為開方服頭煎，第三日熱平，咳仍劇，不能寐，次晚服完前藥，即能安寐，停藥一日，咳又劇，痰稠，再配一劑，加鬱金，木通服頭煎，次早咳全止。鬱金解毒，疏散鬱血，木通為排水劑。第一方因聞其熱退而未知其咳劇，故少開數味，後方加鬱金、木通而效更著矣。此次共注射兩次，其捷效則為中藥兩劑也。</p>
<p>寧波華美醫院王醫師答覆云：肺炎注射青黴素，症狀消失後，須聽診或透視肺部，正常始可停注，否則可能復發，或成慢性，或成肺膿瘍，或為膿胸，此等病例甚多雲云。按肺炎為極普通而又難治之病，能致肺炎之病源亦有多種，上述疏導療法，似可消除後患。吾之此方雖經驗多次，是否如我所實驗之可靠，我亦深望得一科學之實驗證明。</p>
<p>二十八年，小孫六歲，患咳嗽發熱，先後請兩西醫診三天，皆言系氣管炎，服藥皆不效。予因其按時發熱，熱退又玩耍如常，頗似瘧疾，即開常山、青蒿煎湯，生蘿蔔子、蘇子搗碎沖服，另服阿魏丸，次日熱退，連服三日全愈。按常山、青蒿雖為治瘧之藥，其效亦在除痰解毒。近日小兒氣管炎有熱，服上開氣管炎方，咳大減未全愈，因於前方去麻黃加常山一錢二分、青蒿三錢、生蘿蔔子、蘇子、白芥子各二錢，打碎同煎服，二帖全愈。蘿蔔子、蘇子、芥子均有解毒除痰之效，古名三子養親湯，治急性、慢性氣管炎均效。近見《醫師世界》言余云岫醫師用此方有治驗云。普通氣管炎，亦可單用此三味治之，打碎沖服，效比煎服為優。</p>
<p>喉症療法：紅腫為喉蛾，即扁桃腺炎，有時亦有白點，若起灰白色膜延開者為白喉。予父母配有喉藥送人，並附以藥方一紙，名曰除瘟化毒湯，各種喉症通治，數十年來未嘗聞有貽誤者。</p>
<p><u>喉症通用方</u></p>
<p>葛根（甲、乙，二錢）　黃芩（乙、丙，三錢）　生地（乙、丙，三錢）　梔仁（乙、丙，二錢）　姜蠶（乙、丙，二錢）　象貝（甲、乙，三錢）　木通（乙、丙，二錢）　蟬蛻（甲、乙，一錢）　甘草（乙，五分）　桑葉（乙、丙，二錢）　山豆根（乙，一錢）　鮮茅根（乙、丙，一兩）</p>
<p>或加蘆根（乙，一尺）更妙。大便不暢者，須加生大黃（乙、丙）二錢、元明粉（丙）二錢，使大解暢下則速愈。方內各藥，本草方書內皆有解毒作用之說明。</p>
<p><u>吹藥方</u></p>
<p>西瓜霜（乙、丙，四錢）　硃砂（乙，四分）　冰片（甲、乙，二分）　人中白（乙，煅二分）　明雄黃（乙，四釐）</p>
<p>西瓜霜乃芒硝製成，北京藥店有之，如無，可用芒硝代之，或口含芒硝少許浸潤喉際亦佳，火硝（乙、丙）亦佳，藥店馬牙硝即火硝製成。</p>
<p>大藥店有錫類散出售，治白喉及一切喉症極有功效，以上兩藥均治走馬牙疳，八寶紅靈丹（甲、乙、丙）亦可治喉症及牙疳。</p>
<p>口中常嚼青果（乙）潤喉，能解毒消炎，或含鹽梅（甲、乙），亦可加白礬（乙、丙）少許。生蘿蔔汁（乙、丙）多服最妙，如難榨汁，則切絲加糖、鹽拌食之。甘蔗（乙）、生梨（乙）均佳，胖大海（乙、丙）二、三枚泡水連渣服，解毒又通便。西醫用抗毒血清治白喉效甚捷，然須第一日即注，次日注則效力減，第三日以後注則效力甚差。有西醫之處，力能及者，儘可注射血清，如能同時服上開藥方，則更穩妥。因白喉之危險在其毒素，中藥之效用，在解毒與排毒也。</p>
<p>西藥磺胺劑為消各種炎之效藥，如滴阿精、消治龍之類，喉症亦可內服，兼可含於口中，徐徐融化，能滅菌消炎。</p>
<p><u>痧疹治法</u></p>
<p><u>升麻葛根湯</u></p>
<p>升麻（乙，五分）　葛根（乙，三錢）　赤、白芍（乙、丙，各二錢）　綠萼梅（甲、乙，二錢）　生甘草（乙，七分）　桑白皮（乙、丙，三錢）　地骨皮（甲、乙，三錢）　生石膏（乙，六錢）　貫眾（丙、乙，三錢）　檉柳（乙，三錢）　鮮茅根（乙、丙，一兩）</p>
<p>吾湘藥店有配成之升麻湯。人家出麻痘者，即至藥店買以煎服。友人告予云：痧疹無須延醫，但服此方即愈。中醫皆言升麻、葛根、檉柳、浮萍之治疹為升提發散，細閱本草，此數物皆解毒作用也。予參酌古今人經驗，加瀉肺藥及副藥數種如上。瀉肺藥之意義，即能散肺中瘀血，及疏導組織中廢料從小便排出，使肺及氣管不發炎，因痧疹常與肺炎相連，痧疹之死亡大多數由於肺炎，服此方能保無恙。熱度高須加黃芩（乙、丙）三錢、鬱金（乙、丙）二錢，如狀症平和者，止煎服鮮茅根（乙、丙）一兩，連服二、三次，亦可免於變症，或大量服蘿蔔汁（乙），或嚼食生蘿蔔亦佳，或大量飲甘蔗汁（乙）亦佳，或多服赤豆、綠豆、黃、黑豆湯，均為維乙解毒作用，以上治痧疹並可防治肺炎。又江浙通用之方用海蜇（乙、丙）漂淡二、三兩，煮荸薺（乙、丙）十餘個服之，亦兼治肺炎，此兩物解炎而兼解除鬱血也。</p>
<p>凡口鼻周圍發青者，乃肺炎毒素之徵候，鼻煽氣喘即肺炎現象，藥內宜加薤白三錢、瓜蔞仁三錢、旋覆花一錢半、木通一錢半，並注意強心及補腎劑，強心劑用西洋參或黨參或別直參，或兼加附片二錢；補腎品用干劑帶一個入藥同煎，一個可煮四、五次，臍帶為治痧疹肺炎之要藥，或鳳凰衣五、六錢。予家有自制之溫補定驚丸，用於痧疹肺炎屢著奇效，內有附、桂、參、姜及蠍子、姜蠶，皆興奮心臟及神經之品，用量極微，收效甚著，痧疹後衰弱症狀用之極佳，久病久腹瀉成慢驚者用之屢效，茲將方錄後。</p>
<p><u>溫補定驚丸</u>（先母云此方為翁姓老醫所傳，時予年方一歲，距今七十年矣）專治小兒久病元氣虛弱、潮熱不退、吐泄、急、慢驚風等症，能祛風化痰退熱，惟初病慎用，周歲以內每服三、四丸，一、二歲者每服七丸，面色青白者最宜，面紅有熱者慎酌。</p>
<p>凡小孩已用開散及攻伐之劑一、二服後，標病雖退，仍有潮熱虛汗，大便溏，小便數等症，服之立效。若無熱度，而有以上虛象，更可放膽服（以上原方說明）。</p>
<p>川貝母（五兩）　霍石斛（三兩）　雲茯苓（四兩）　黃鬱金（三兩）　膽南星（一兩五錢）　姜蠶（三兩）　黨參（六兩）　上肉桂（二兩）　橘紅（一兩）　制附片（四兩）　明天麻（三兩）　酒白芍（六兩）　炮乾薑（二兩）　紅柴胡（一兩）　天生術（八兩）　地骨皮（三兩）　製半夏（三兩）　粉甘草（一兩）　全蠍子（去頭足，二兩）　飛辰砂（三兩，為衣）</p>
<p>上藥十九味共研細末，煉白蜜為丸，如梧子大，辰砂為衣。</p>
<p>「民國九年居滬，兒女四人次第患麻疹，延有名某小兒科一手診治，其三已愈，惟最幼者才半歲，疹已隱，熱不退，乳食日減，漸入昏迷狀態，眼不睜，喉中有痰聲，該醫仍執定兒內有伏熱，並謂兒唇裂出血是其明證，服方有鮮竹瀝、猴棗諸苦寒藥，仍無好象，乃持溫補定驚丸方至該醫寓，問可服否，醫冷笑云：此方涼溫補克，雜亂無理，何能有用？瑜默然歸，見兒終不進乳，亦不開目，鼻微掀動，喉間似痰堵塞，而竭力掙扎，呼吸皆痰聲，念已危急，毅然試此丸。深夜，燉化兩粒灌服，服後喉間掙扎，痰聲竟停，安然靜睡三十分鐘，時已日夜抱持不落枕者數日矣，醒即睜目索乳，吾心乃大定，天明更進兩丸，次日再進兩丸，兒全愈矣。民國二十七年瞿聶叔瑜書於北平。」以上系舍妹刊布此方所述。</p>
<p>云按：痧疹多數兼肺炎，其危險即在此。方子勤博士語予云：肺炎治法必須強心，每有因不知注重強心而誤事者，上述之孩即肺炎症象，此丸參、桂、薑、附皆強心之品，蠍子、肉桂興奮神經，其效用甚顯著，另附療效數例如下：</p>
<p>三十二年，榮柏云君介紹一婦人索此丸，據稱其孩發熱咳嗽，服中西藥不效，似將出疹，喘咳不暢，予照肺炎開一方：薤白三錢，桑白皮三錢，地骨皮三錢，蘿蔔子三錢，甘草七分，茅根一兩，干臍帶一個，早晚各服此丸三粒，兩日後痧即全出而愈。</p>
<p>一孩痘後咳嗽發熱，不食乳，服此丸當日即佳，續服三日全愈。</p>
<p>三十七年夏間，丁鴻圖居士之孩一歲患肺炎，住熟友某醫師醫院，注射青黴素六日，鏈黴素四日，肺炎已止，熱未全退，咳未全愈，因款不繼，勉強出院，因見刊物述此丸之效，來索藥，先因面微紅未敢服，次日因熱仍未退，至夜試服二粒，當晚熱退，次日續服二丸，並煎服干臍帶，咳亦全愈。後數月，其鄰家一兒肺炎，亦赴丁孩所住醫院，注射各藥全同，經十日，熱咳均未愈，丁君送以此丸，並服干臍帶全愈。</p>
<p>三十八年秋間，錢曉朕居士來函云：近用此丸給一慢驚垂危之孩，竟愈，其丸已略黴，開水洗去黴，仍有如是之效云。</p>
<p>云按：慢驚或由腹瀉已久，腸部毒素入腦，或肺炎菌入腦，發為抽搐，即腦膜炎症狀，此方本為治慢驚之藥，又治肺炎，應能治肺炎球菌之慢性腦膜炎。閱三十六年四月《中華醫學雜誌》錢德醫師（即上述錢居士之子）一文，述肺炎菌腦膜炎數例，用各種方法均未治愈。不知西醫亦肯試用此丸否。</p>
<p>結核性腦膜炎尤為難治，吾不敢亂言此丸之能有效，但亦可興奮機能以抗病，鄙意可與鏈黴素或對胺柳酸聯合使用，或能得較高之療效。服中藥者，則可與予定之肺病標準藥湯方及丸藥、童尿等療治同用。中藥療法系輔助生理，增強抵抗，因為生理有自然抗病之本能，能解毒制菌，止須加以外力輔助，此本能即可恢復而自然愈病。此種理論已陸續得最近科學之證明，與我在《結核輔生療法》所說的一致，詳見「自序」及「總論」等章，茲不贅述。</p>
<p>此丸所表現的療效，如肺炎及慢性腦膜炎如上述數例，已很值得重視，蟲類刺激神經，似有特殊功用，神經系為策動生理機能解毒制菌抗病作用之樞紐，有研究發明之必要，鄙意原方藥味太多，可改為較簡便之方，照原方計算，原藥共重六十五兩，加蜜約十兩，共重七十五兩，每粒約重六釐，其中蠍、蠶、桂、參、附、姜等藥每味重一毫半至二、三毫，兩粒即已有效。其分量之微細如此，可知其效在蠍、蠶、附、桂等刺激之品，其他各藥效力迂緩者，如霍石斛、柴胡、黨參、白朮，每次服幾毫幾釐，決無效用，所以方內多數藥可以刪除。古方本有用蠍子、姜蠶、附子三味治驚風，每服三分，此藥即從該方增加數味而來，鄙意可用蠍、蠶、桂、附、薑、膽南星、半夏、天麻、鬱金，九味比較有力之藥，等分用煉蜜為丸梧子大，每粒約六釐，劑量照舊，但每味藥量較多，效力較強，望醫學界斟酌採用。照此法則簡便易制，臨時可辦。</p>
<p><u>天花療法</u>　牛痘普及，天花已少，然亦常有發現，應略論及，治療要點即在解毒，最簡易者即三豆湯，用赤豆、黑豆、綠豆煎湯服。各種豆均含維乙素極豐，兩種、一種豆亦可，或蠶豆、扁豆亦可。如值天花流行之時，多服豆湯，能免傳染，已傳染者服之即輕鬆。各種古書治痘專注重興奮強心法，雖大體不錯，但熱高毒重者，痘色紫黑者，須用寒涼解毒法，升麻葛根赤白芍甘草湯仍然適用，並須加綠萼梅、黃芩、黃鬱金、連翹、茅根、蘆根消炎退熱之品，分量參看痧疹方，茲不贅述。如大便秘結者，須服大黃以通之；如腹泄致中氣虛弱，痘不透發者，或漿色淡不紅者，須改服黃耆、黨參、白朮、附片、肉桂以補氣行血，並加入干臍帶以補腎（荷爾蒙），無干臍帶則用紫河車二錢，或鳳凰衣六錢煎服，或末服，如又無，則生人中白研細用滾水泡後連渣服一錢，或用二、三錢煎服，或單服梅花二錢、臍帶一個煎服均可，梅花、臍帶強心而又解毒，為天花之上品藥，亦兼治痧疹。</p>
<p><u>斑疹傷寒療法</u>　此症素稱危險之症，然亦可用排泄、解毒兩法穩確治愈。中醫普通認為，凡從內發出斑疹之病，均須要發汗劑，不可服涼泄藥，有著書教人不可用大黃、芒硝者，因此貽誤非淺。比較善治療者，主張用犀角、地黃等藥，亦不知重用解毒、排毒之法。惟王海藏主用快斑散治斑疹不快者，即升麻湯加貫眾，據稱凡由內感而發出於外之病用之有效，亦治漆瘡云云。予照用治一人漆瘡確效。按：升麻、葛根、甘草固皆解毒要品，貫眾則《本草》言其解百毒，但多服則能致泄，尤為斑疹所適應。茲擬斑疹湯方如下：</p>
<p><u>斑疹熱通用方</u></p>
<p>升麻（甲、乙，一錢至二錢）　葛根（乙，三錢）　赤、白芍（乙、丙，各二錢）　生甘草（乙、丙，一錢）　貫眾（乙、丙，三錢）　黃鬱金（乙、丙，三錢）　黃芩（乙、丙，三錢）　連翹（乙、丙，三錢）　黃連（乙，八分）　象貝（乙、丙，三錢）　元參（乙、丙，三錢）　牛蒡子（乙、丙，三錢）　鮮茅根（乙、丙，一兩）　蘆根（乙，一尺）</p>
<p>另服：更衣丸（乙、丙）三錢，或湯方內加大黃（乙、丙）二錢，元明粉（乙、丙）二錢，並多服鮮汁。鄉間治豬瘟均用大量貫眾煎水服，一鄉人告予云：豬病多數系發疹云。斑疹症皆神識昏迷，即毒素之表現也，上方每日服一、二劑，並加意通大便，此症大便最秘結，如內服藥尚不通，則大黃、元明粉可加重，並加用灌腸法，日日暢通為宜。七液丹極佳，聞上海止童涵春有售，蘇州則王鴻翥有售，系以大黃為主藥，為治細菌熱病之良藥，傷寒及斑疹熱、猩紅熱、白喉皆有捷效。</p>
<p>犀角對於斑疹解毒之效雖佳，然太貴，可不必用，且極難磨，可用玳瑁代之，價廉而解毒之力極高，或銼屑或磨汁均可。每次可用四、五分，日二、三次。</p>
<p><u>腸炎瀉痢通用方</u></p>
<p><u>通利散方</u>　此方敝處送人數十年，治瀉治痢均效。三十六年四月，《中華醫學雜誌》載徐仲呂醫師文，言王冠三醫師用生熟、大黃、蒼朮、甘草粉方治痢頗著功效，據稱其效在大黃云，其方載於方書，亦名通利散，副藥二種與敝處之方稍不同而已。</p>
<p>生大黃（一兩半）　熟大黃（一兩半）　蒼朮（米泔水浸，三兩）　枳殼（麩炒，二兩）　橘皮（五錢）　甘草（五錢）</p>
<p>研細末，每服市稱七分二釐。予近年制者為西式片劑，每片半公分，每服五片即七分半，較為易便。據徐仲呂醫師化學試驗，生大黃與熟大黃制止赤痢菌之功用相同。本方蒼朮米泔水浸，枳殼麩皮拌炒，皆可增加其維乙素，古人未知維他命，而由經驗所得之智識如此。</p>
<p><u>通利丸方</u>　予從上方之法，推廣製為此丸，蓋因上方缺乏殺蟲劑，恐對於阿米巴蟲痢不效也。已用七、八年，鄰近人家夏天來索瀉痢者，每日二、三起，皆以此三包付之即愈，未愈者，次日再給三包皆愈。方中烏梅、檳榔皆殺蟲效藥，日本築田博士言烏梅治疫痢、霍亂均效。</p>
<p>（甲）生大黃（三兩）　枳殼（二兩）　蒼朮（一兩五錢）　陳皮（一兩）　甘草（八錢）　飛滑石（四兩）　檳榔（一兩二錢）　忍冬花炭（一兩）　烏梅肉炭（約二兩）　白芍（一兩半）　吳萸（七錢）　川連（一兩五錢）　陳茶葉末（一兩五錢）　廣木香（一兩二錢）</p>
<p>上藥十四味，用下開兩項湯汁泛丸。</p>
<p>（乙）生萊菔子（三兩）　鮮荷葉（八兩）</p>
<p>二味搗碎加（丙）湯擠汁，加入（丙）湯泛丸。</p>
<p>（丙）艾葉（一兩）　烏梅淨肉（五兩）</p>
<p>二味煎湯泛丸（烏梅煎後燒炭，加入藥末內）。</p>
<p>一、治普通赤痢及腹瀉、腹脹疼等症，每服二錢，茶湯送下，每三、四小時服一次。</p>
<p>一、如赤痢兼發熱、嘔吐、昏迷、噤口者，用烏梅或鹽梅十個，煎湯送服本丸二錢，每日二、三次，兼服生蘿蔔汁一大茶碗，即能止嘔進食，蘿蔔汁可連服數次。</p>
<p>一、霍亂痧閉初起，亦可先服此丸三錢，另服白礬二錢，又用燈草探鼻取嚏，服西瓜等汁或綠豆、扁豆粉以解毒，紅靈丹強心以救虛脫。另救醫治。</p>
<p><u>阿魏丸方</u>　此方治腹腸諸病著卓效，兼治細菌、原蟲，諸痢並治瘧。抗戰時期，各地向朋壽堂購制者，三十年止，已有二千料之多，每料可供二三十人治療，該店制有成品隨時可大量供應。茲將最著之療效兩例錄如下：</p>
<p>一為韓祖康君，卜內門洋行化學室主任，二十三年患腸瀉久不愈，在寶隆醫院及北平協和醫院先後檢查，不知病源，服藥年餘無效。二十四年與予淡及其病，予贈以阿魏丸，數日後來函言，已大見效，並言檢閱西藥典，阿魏為渠適應之藥，不知英、德、美各醫師何以均未開與服用，並告予此物並無毒性，謂予所定劑量太小云。</p>
<p>二為曾立群博士，同德醫校教務主任，約在三十一年，患腸病半年不愈，友人榮柏云君備有此丸送人，以送曾博士，告以此丸之奇效，曾君重實驗不存成見，遂試服數日，並無影響，仍耐心試用，忽在大解中發現整丸未化，遂將丸切碎服之，次日即見效而腸病從此全愈。並常向榮君索此丸，以給腸病患者，予去年因欲寫此報告，由榮君詢曾博士詳情，據稱渠當時所患為乙腸炎症云。</p>
<p>黃蠟為丸有時不易消化，予遵古法用蠟之故，因蠟不能在胃溶解，以免阿魏臭氣從口回出，但腸液能溶解蠟質，有覺其不易化者，可齧碎或切碎服之。</p>
<p>治瘧疾單用亦可見效，予特製一種加草果者，周厚坤君制以送人甚多，周君用滑石和水製成條子，較易消化。周君制送予之傷寒藥丸表裡丹甚多，據稱廣見療效。本方中之雄黃為難溶性砒，入腸後亦能溶解小量，故治瘧、治細菌痢、阿米巴痢均有效。但予特製一種加鴉膽子者治蟲痢有效，煙臺劉醫師實驗鴉膽子治阿米巴蟲痢有效。</p>
<p>昆明顏恭宸醫師見予之阿魏丸報告，即照方制鴉膽子阿魏丸，治愈阿米巴多例，經鏡檢數次證明，在刊物宣布。</p>
<p>治療胃痛，最近治一工人多年胃痛，近日更劇，日夜服蘇打片六次之多，改服此丸即完全不痛，飲食增進，此外尚有多例。又一人慢性盲腸炎，稍勞即發，服月餘全愈。</p>
<p>治肺病不消化及腸結核數例，服後各種症狀好轉，消化吸收顯有進步。本草言其治肺癆，可信不誤。</p>
<p>阿魏丸方</p>
<p>阿魏（一兩）　雄黃水飛（三錢）　黃蠟（二兩四錢）</p>
<p>每服五丸左右，日二，三次。朋壽堂之製法：將黃蠟烊化，加入切碎之阿魏及雄黃，在石臼中舂勻拈為丸。鄙意今後可減輕黃蠟為一兩四錢，當較易消化。</p>

<h2>各種病症療養注意</h2>
<p>各種急性傳染病是細菌毒素所致，藥物與食品均須注意解毒，人體生理本有解毒能力，其作用在於肝臟，欲保護肝臟之解毒作用，須多食維他命乙、丙之食物及碳水化物（即穀類物品及蔬果），不宜多食肉類，因蛋白質多能產生酸毒，蔬果穀類則有解毒作用。吾國相傳發熱等病必須忌口，勿食葷腥，此由古來經驗所得，適合最新科學。向來治療肺病，西醫認為必須多食肉類，現在瑞士成績最佳之羅義愛氏的二十個療養院則主張：多進疏食，少進肉食及蛋白質，療效最優。其他多種慢性頑固病症，如血壓高、動脈硬化中風症、糖尿病、腎炎症、肝臟病、心臟血管閉塞症、癌症等，多半為肉食過度所致，必須減少或全停蛋白質類。甚至麻瘋症，素來最無療法的，亦可用完全素食而治愈。神經衰弱、記憶減退、善怒等現象，尤宜注重維他命乙食品。</p>
