<header data-type="book">
<h1>本草徵要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李中梓</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1673">公元1673年</data></dd></div>
<div><dt>品質</dt><dd><data value="25%">25%（遺失標題及許多藥的章節）</data></dd></div>
</dl>
</header>

<h1>序言</h1>
<p>李中梓（字仕材）先生，系明末江南醫學教育家。籍貫松江府南匯縣。生於萬曆十五年丁亥（１５８７），卒於順治十二年乙未（１６５５），終年六十八歲。</p>
<p>先生精於醫，復精於文，臨症經驗甚豐。授徒眾多，其中頗有傑出者，如馬元儀、尤生州等皆是傳其法乳者。</p>
<p>李氏生平，著作甚豐，均著眼於培養後進與臨症切用。且文辭綺麗，使深於醫者與初學之士，兩皆適用。當其中年，曾草《頤生微論》，自視猶覺不足，乃改寫為《刪補頤生微論》，其中談藥之作，多編為韻語。崇禎十年（１６３７）又重著《醫宗必讀》十卷。鑑於學醫者必先有文學水平，故卷一為〈醫論、圖說〉首列論文十三篇，以骨度、藏象等圖附於後。卷二為《四言脈訣》，補原著之缺略，正傳本之差訛，仍舊者十之二三，新改者十之七八，並以〈脈法心參〉附於後，記臨症之得乎心而應乎手者與得乎心而不能喻諸口者，一一詳加記載，而以色診附焉。卷三、卷四，為《本草徵要》（詳見後述）。卷五為傷寒。卷六至卷十為雜病。於論述一病之後，多附有自己之醫案，內容均切實用，便於學習。嘉惠後學匪淺，乃傳世之傑作，故在清代，大江南北之習醫者，每以之作為範本。</p>
<p>此冊乃《徵要》之刪補單行本，姑就發展源流及變化情況，詳加敘述，以弁其端。</p>
<p>藥學書之用韻語或賦體，蓋冀後學者之便於誦習也。自金、元以來，傳本甚多，如《藥性賦》為四言四句等。然作賦須對比，每拈兩藥，湊為一聯，常有言而未透之感。四言者，限於十六字，有因內容較多，不盡其意者。有因主治單純，尚覺字多者，後者，雖關係不大，然從整體觀之，則藥之突出主次與使用面之寬窄，又難一目瞭然。李氏有鑑於此，故略仿賦體而採用長短偶句，使其繁簡適宜，修短合度，初學之士，受惠實多。著者於卷端題云：</p>
<p>「本草太多，令人有望洋之苦，藥性太少，令人有遺珠之憂，茲以綱目為主，刪繁去復，獨存精要，採集名論，竊附管窺，詳加註釋，比之珍珠囊，極其詳備，且字句整嚴，便於誦讀。」</p>
<p>徵要內容，首列藥名，藥名之下，以小字標出味、性、歸經及為使之藥。並記畏、忌、惡、反。與炮製之要求，間加必要之別名。次入正文，多以對比之句，述其主治，文辭典雅，表達透切，須長則長，可短則短，視作用之多少而著筆，能恰如其分。且詞藻美妙，如阿膠、石膏等藥之敘述，皆鏗鏘堪誦。正文之後又加必要之註解，並指出忌用之點，使患者蒙其利而不受其害，用心良苦。書成，遂風行一時。</p>
<p>問世不久，上洋蔡嵋、眉山氏仿其體例，續作《本草徵要補遺》計五十八種。清同治年間，先六伯祖光奇公（諱廷瑾）又為重新分類，意在便於翻檢，且酌刪其劇毒之品，以防初學之士掌握不善，易出偏差。並依臨症需要，增入便用而易得之品若干，顏曰《刪補本草徵要》供門徒抄讀。光緒年間，先君蕉麓公，又續有增補。晚清，吳興凌奐（字曉五），著《本草害利》內容多采李氏原文。民國初，丁甘仁先生，創上海中醫專門學校，採此書作藥物之課本，對李氏原文，有為刪節者，有作補充者，易其名曰《本草輯要》。丁氏又於其原書之後，補撰《本草續編》增入八十餘種。此外，尚見許多無名之傳抄本，有節略者，有摘抄者，有易書名者，有改內容者，因無刻本，姑不詳述。其足取者，亦予採入。</p>
<p>此次整理，以李氏明刊原本為主，更採入蔡氏、與先伯祖、先君及丁氏所補，切於實用者，凡若干種，並略插拙續於其中。仍依光奇公原意，釐為四卷，第一卷為通治部分，亦即多數為作用於全身者。第二卷為形體部分與專科，即分頭、面、七竅、四肢、百骸以及外科、傷科、女科、兒科等。第三卷依臟腑區分，各從其類，便於臨症時之參考。第四卷為外治、食療等等。末附拙作《澱粉類食療品》、《談中藥的變通使用》與《煎藥用之水火》，備倉猝時之選擇。</p>
<p>本書羅列前人一脈相承之精粹，言皆有徵，雖有一定特點，但由於匆促屬筆，直行改橫行，繁體改簡體，難免有訛誤之處，幸讀者加以指正，繼續修訂，當竢諸異日。書名原依先伯祖意仍題《刪補本草徵要》，乃遵李氏《刪補頤生微論》之例，今易為「重訂」二字，似更允當。</p>
<p><u>癸亥初冬揚州耿鑑庭識</u></p>

<h1>第一卷·通治部分</h1>

<h2>發散藥、退熱藥</h2>

<h3>（一）溫散風寒</h3>

<h4>紫蘇</h4>
<p>味辛，性溫，無毒，入肺經。</p>
<p>其氣芳香，其性和融，溫中達表，散風解凝。發表而不優於峻，性陽而無損於陰。通鼻塞、行氣滯。虛人需發汗，而弱不能投者，當以人參為伍。暑期受寒涼，用辛熱而於時有侮者，可與藿香同行。梗：能下氣安胎，胎元復固。子：可消痰定喘，喘息安寧。</p>
<p>此藥溫能散寒，香可和氣。譬諸盛德之人，可無往而不利。若與橘皮同用，尤為適宜。治受暑之藿香正氣散，治腳氣之雞鳴散，均作如此配伍。又可外治，孕婦嘔吐不止，以梗、葉煮水，嗅吸其蒸氣，能止逆下氣，可得平復。尚能解蟹毒。</p>

<h4>防風</h4>
<p>味甘，性溫，無毒。入肺、小腸、膀胱三經。畏萆薢。</p>
<p>惡乾薑、芫花。殺附子毒。色白而潤者佳。</p>
<p>散風解表，止痛醫瘡。清咽喉及口齒，治風疹與搔癢。頭目中滯氣，經絡中留濕，俱可療也。骨節之煩疼，四肢之攣急，均能解之。</p>
<p>能御防外風，故名防風，乃風藥中潤劑也。瘡科多用之，為其風濕交攻耳。張元素謂其「為手足太陽經之本藥。」王好古又謂其「行足陽明、太陰二經，為肝經氣分藥」。又謂「錢仲陽瀉黃散中，倍用防風者，乃於土中瀉木也」。《日華諸家本草》謂其「勻氣脈」，乃經驗之談。</p>

<h4>荊芥</h4>
<p>味辛、性溫、無毒。入肝經，反驢肉、無鱗魚、河豚、蟹、黃鱨魚。</p>
<p>散風邪：清巔頂。利咽喉，透麻疹。化瘀血，消瘰癧。理瘡瘍，破聚結。</p>
<p>長於治風，又兼治血，何也？為其入風木之藏，即是血海，故能並主。風在皮裡膜外者宜之。</p>

<h4>蔥白</h4>
<p>味辛、性平。入肺、胃二經。忌棗、蜜、犬、雉肉。</p>
<p>通中發汗，頭疼風濕總蠲除。利便開關，腳氣奔豚通解散。專攻喉痹，亦可安胎。傷寒寒熱皆宜，面目浮腫亦治。</p>
<p>蔥味最辛，肺之藥也。故解散之用居多。</p>
<p><u>多食蔥，令人神昏、發落、虛氣上衝。</u></p>

<h4>生薑</h4>
<p>味辛，性熱，無毒。入肺、胃二經。</p>
<p>生能發表，熟可溫中。開胃有奇功。止嘔為聖劑。氣脹腹疼俱妙，痰凝血滯皆良。刮下姜皮，脹家必用。</p>
<p>凡中風、中暑、中氣、中毒、中惡、霍亂等一切卒暴之證，用薑汁和童便服之。薑汁能開痰，童便能降火也。古方以薑茶治痢，熱痢留皮，冷痢去皮，大妙。忌服同乾薑。</p>

<h4>桂枝</h4>
<p>味辛、甘，性溫。入心、肺、膀胱三經。</p>
<p>助陽散寒，溫經通脈。達營衛，和表裡。無汗能發，有汗能止。理心腹之痛。搜關節之痹。橫行而為手臂之引經。直行兼為奔豚之嚮導。</p>
<p>本經疏證云：「和營、通陽、利水、下氣、行瘀、補中為桂枝之六大功效。」</p>

<h4>麻黃</h4>
<p>味苦、性溫，無毒。入心、肺、膀胱、大腸四經。厚朴為使。惡辛夷、石葦。去根節，水煮，去沫。</p>
<p>去營中寒氣，泄衛分風邪。發汗仗其溫散，消腫在其行水。既主用於實喘，亦伍用於痛痹。</p>
<p>輕可去實，為發散第一藥。惟在冬月，真有寒邪在表者，宜之。或非冬月，或無寒邪，或寒邪在裡，或傷風等證，雖發熱惡寒，不頭痛身疼而拘急，六脈不浮緊者，皆不可用。雖可汗之證，亦不宜多服，汗為心液，若不可汗而汗，與可汗而過汗，則心血為之動矣。或亡陽，或血溢，而成大患，可不慎哉。</p>
<p>麻黃乃太陽經藥，兼入肺經。肺主皮毛；葛根乃陽明經藥，兼入脾經。脾主肌肉，發散雖同，所入迥異。</p>

<h4>細辛</h4>
<p>味辛，性溫，無毒。入心、小腸二經。惡黃耆、山茱萸。畏滑石。反藜蘆。</p>
<p>風寒濕痹，頭痛鼻塞。下氣破痰，頭面遊風。百節拘攣，齒痛目淚。</p>
<p>味辛，性溫，稟升陽之氣，而為風劑，辛香開竅，故主療如上。單服末至一錢，令人悶絕，辛藥不可多用也。</p>
<p><u>細辛發表散寒，祛風止痛。溫肺化痰飲，用之得當，收效甚捷。然其性燥烈，凡血虛內熱，因而頭痛咳嗽者，痛戒之。</u></p>

<h3>（二）清散風熱</h3>

<h4>薄荷</h4>
<p>味辛，性溫，無毒。入肺經。產蘇州者良。</p>
<p>散風熱，清頭目。利咽喉，淨齦舌。闢口臭，暢鼻塞。透痧疹，通關節。下滯氣，除穢惡。</p>
<p>發汗解表，故去風清熱、利於頭面，辛香開氣，故脹滿食滯者，並主之。</p>
<p><u>薄荷辛香伐氣，多服損肺傷心。</u></p>

<h4>豆豉</h4>
<p>味甘、苦，性寒，無毒。入肺、脾二經。</p>
<p>解肌發汗，頭疼與寒熱同除。下氣清煩，滿悶與溫㿀並妙。疫氣瘴氣，皆可用也。痢疾瘧疾，無不宜之。外用治口舌生瘡，煮汁救喉痹不語。</p>
<p>豆經蒸窨，能升能散，得蔥則發汗，得鹽則止吐，得酒則治風，得薤則治痢。炒熟又能止汗，亦要藥也。</p>
<p><u>傷寒直中三陰，與傳入陰經者，勿用。熱結胸煩悶，宜下不宜汗亦忌之。</u></p>

<h4>水萍</h4>
<p>味辛，性寒，無毒。入肺經。</p>
<p>通毛竅，達肌膚，透癮疹，癢能除。發汗開鬼門，下水潔淨腑。</p>
<p>水萍輕浮，入肺經發汗，氣化及州都，因而利水。</p>
<p><u>水萍，發汗力比麻黃，下水功同通草，苟非大實大熱者，安敢輕試耶。</u></p>

<h4>柳芽</h4>
<p>味微苦，性寒。入肺，脾、肝諸經。</p>
<p>散風去濕，解熱止痛，感冒鼻塞，用之可通。</p>
<p><u>此即一般楊柳之芽，須尚未飛花者為佳。</u></p>

<h4>桑葉</h4>
<p>味苦、甘，性寒。入肺、肝二經。</p>
<p>散風解熱，治感冒與乾咳。清上平肝，療眩暈與頭疼。耳鳴重聽，視弱目昏。桑菊往往偕行，表裡均治著稱。風濕日久，健筋骨配以烏麻。疫喉初起，清高熱伍以葛根。癆熱可用其止汗，膚癢能仗其安寧。嫩葉煎酒醴關節通利，蠶蝕之殘絡，喉患堪珍。沏茶止渴，沐發生新。作湯洗浴老年麻木遍於肢體，研汁塗小兒吻瘡延及牙齦。經霜為上，氣質尤純。</p>
<p>《石室秘錄》謂桑葉乃收汗之妙品。與烏麻（即黑芝麻）共為蜜丸，即桑麻丸，尚可卻老駐顏。蠶蝕之殘絡，其上有蠶涎附著，故因痰熱之咽喉疼痛，音啞聲嘶者多效。因藥肆不備，須預蓄之。</p>

<h4>菊花</h4>
<p>味甘，性微寒，無毒。入肺、腎二經。枸杞、桑白皮為使，去蒂。</p>
<p>散風清熱，明目平肝。頭痛眩暈，耳鳴心煩。血脈欠利，風陽上干。令發不白，耐老駐顏。花能作枕，葉可佐餐。飲水益壽，酈有菊潭。野生苦薏，解毒涼肝。療瘡癰癤，用之咸安。破血通絡，亦治麻頑。</p>
<p>獨稟金精，善制風木，高巔之上，惟風可到，故主用多在上部。目者，肝之竅也；淚者，肝之熱也，宜其瘳矣。</p>

<h3>（三）解暑　利濕　退熱</h3>

<h4>香薷</h4>
<p>味辛，性微溫，無毒。入脾、胃二經。忌見火。</p>
<p>發汗解表，和中利濕。暑期感冒，無汗發熱。腹痛吐利，陽為陰遏。</p>
<p>治乘涼飲冷，陽氣為陰邪所遏，以致頭疼、發熱、煩躁、口渴。吐瀉者宜用之；以發越陽氣，散水和脾則愈。若勞役受熱，反用香薷，是重虛其表，而又濟之以溫，則大誤矣。</p>
<p><u>香薷乃夏月解表之劑，無表邪者戒之。</u></p>

<h4>藿香</h4>
<p>味辛，性微溫，無毒。入脾，肺二經。</p>
<p>解暑闢濁，化濕快膈。溫中開胃，行氣止嘔。</p>
<p>稟清和芳郁之氣，為脾肺達氣要藥。若陰虛火旺，胃熱作嘔，法當戒用。</p>

<h4>豆卷</h4>
<p>味甘，性平。入脾、胃二經。</p>
<p>利濕解熱。襲受暑濕，脘悶蒸熱。得汗不解，午後加熾，肢體酸沉，溲少便澀。</p>
<p>此物具通達宣利之能，故可分利濕熱，清達表邪，纏綿之患，用之有益。</p>

<h3>（四）解肌</h3>

<h4>葛根</h4>
<p>味甘、性平，無毒。入肝經。</p>
<p>散鬱火，解肌熱。生津液，止消渴。頭痛乾嘔，泄瀉下痢。生用能墮胎，蒸熟化酒毒。</p>
<p>跡其治驗，皆在陽明一經。止痢者，升舉之功；散郁者，火鬱則發之義也。東垣曰：葛根鼓午胃氣上行，治虛瀉之聖藥。風藥多燥，葛根獨止渴者，以其升胃家下陷。上輸肺金以生水耳。《聖惠方》治小兒熱渴久不止，用葛根煎服。此法尤適用於夏季。</p>
<p>附：葛蔓，治喉痹，消癰腫。</p>

<h3>（五）和解</h3>

<h4>柴胡</h4>
<p>味苦，性微寒，無毒。入肝、膽二經。惡皂莢，畏藜蘆。忌見火。</p>
<p>少陽經藥，性主升騰。理肝膽，善和解。祛時疾內外熱不解，治邪氣半表復半里。寒熱往來，傷寒瘧疾。胸脅滿痛，熱入血室。</p>
<p><u>柴胡，少陽經半表半裡之藥，病在太陽者，服之太早，則引賊入門。病在陰經者，復用柴胡，則重傷其表。世俗不知柴胡之用，每遇傷寒，傳經未明，以柴胡為不汗、不吐、不下可以藏拙、輒混用之，致命不可勝數矣。勞證唯在肝經者，用之。若氣虛者，不過些小助參耆，非用柴胡退熱也。若遇勞證，便用柴胡，不死安待。惟此一味，貽禍極多，故特詳言之。</u></p>
<p>《幼科鐵鏡》卷一，首列九恨，其第八恨云：恨必用柴胡退燒，……脾虛腎虛，氣血兩虛，諸燒熱亦用柴胡。對予說出理來，予便不恨。</p>

<h3>（六）治發作有時之寒熱</h3>

<h4>草果</h4>
<p>味辛，性溫。入胃經。</p>
<p>破瘴癘之瘧，消痰食之愆。</p>
<p>氣猛而濁，故前人以仲由未見孔子時氣象比之。</p>
<p><u>瘧不由於嵐瘴，氣不實，邪不盛者並忌。</u></p>

<h4>常山</h4>
<p>味辛、苦，性寒，有毒。入肝經。酒炒透。</p>
<p>療痰飲有靈，截瘧疾必效。</p>
<p>常山去老痰積飲，為瘧家要藥。必須好酒久炒令透，不爾使人吐也。</p>
<p><u>常山猛烈，施之強壯者多效。若稍稍挾虛，不可輕入。</u></p>

<h2>清熱藥</h2>

<h3>（一）清熱退溫症高燒</h3>

<h4>金銀花</h4>
<p>味甘，性平，無毒。入脾經。</p>
<p>清熱除瘟，消癰解毒。淨咽喉，治齦舌。風溫溫毒，火丹瘡癤。可寬膨脹，能療痢血。取用其藤，通經入絡。飲用其葉，祛暑止渴。</p>
<p>稟春氣以生，性極中和，故無禁忌。乃清解熱毒之良藥也。藤名忍冬、另有專條。</p>

<h4>連翹</h4>
<p>味苦，性寒，無毒。入心、胃、膽、腎、大腸五經。</p>
<p>清熱解毒，消腫涼血。除胸中火焰，散諸經血結。</p>
<p>手少陰主藥也。諸瘡痛癢，皆屬心火，故為瘡家要藥。</p>
<p><u>連翹苦寒，多服即減食，謹之。</u></p>

<h4>黃芩</h4>
<p>味辛，性寒，無毒。入肺，大腸二經。山茱萸、龍骨為使。畏丹砂、牡丹、藜蘆。酒浸蒸熟，曝之。</p>
<p>中枯而大者，清肺部而止嗽化痰，並理目赤疔癰。堅實而細者，瀉大腸，而除濕治痢，兼可安胎利水。</p>
<p>苦能燥濕，苦能泄熱，苦能下氣，故治療如下：經飄者上行，堅重者下降，不可不別也。楊仁齋謂：柴胡退熱，不及黃芩，不知柴胡苦以發之，出火之標，黃芩寒以勝熱，折火之本。又黃芩所清為腑熱，柴胡所解為經熱。</p>
<p><u>苦寒傷胃，證挾虛寒者均戒，女人虛胎亦不宜與。</u></p>

<h4>梔子</h4>
<p>味苦，性寒，無毒。入肺、三焦二經。炒透。</p>
<p>治胸中懊憹，而眠臥不寧。疏臍下血滯，而小便不利。清太陰肺，輕飄而上達。瀉三焦火，屈曲而下行。</p>
<p>梔子本非吐藥，仲景謂邪氣在上，得吐則邪出，所謂高者因而越之也。亦非利小便藥，蓋肺清則化行，而膀胱津液之腑，奉氣化而出矣。</p>
<p><u>大苦大寒，能損胃伐氣，虛者忌之。心腹痛，不因火者，尤為大戒。世人每用治血，不知血寒則凝，反為敗證。治實火之吐血，順氣為先，氣行則血自歸經。治虛火之吐血，　養正為先，氣壯則能攝血，此治療之大法，不可少違者也。</u></p>
<p>梔子花：另有專條。見咽喉用藥。</p>

<h4>青蒿</h4>
<p>味苦，性寒，無毒。入肝、腎二經。童便浸一宿，曝。</p>
<p>清熱、涼血。解暑熱，退潮熱，清虛熱，治癆熱。溫瘧癉瘧，早涼暮熱，熱自陰來，用之多捷。</p>
<p>苦寒之藥，多與胃家不利。惟青蒿芬芳襲脾，宜於血虛有熱之人，取其不犯沖和之氣耳。</p>
<p><u>寒而泄瀉者，仍當避之。</u></p>

<h4>知母</h4>
<p>味苦，性寒，無毒。入肺、腎二經。忌鐵器。肥白者佳。去毛，鹽酒炒透。</p>
<p>清肺熱而消痰捐咳，瀉腎火而利水滑腸。肢體腫浮為上劑，傷寒煩熱號神良。補寒水於不充，益五臟之陰氣。</p>
<p>瀉腎家有餘之火，是其本功，至夫清金治腫諸效，良由相火不炎，自當馴致也。</p>
<p><u>知母陰寒，不宜多服，近世理癆，尊為上品，往往致泄瀉而斃，故腎虛陽痿，脾虛溏泄，不思食，不化食者，皆不可用。</u></p>

<h3>（二）清熱涼血、退骨蒸</h3>

<h4>地骨皮</h4>
<p>味甘，性寒，無毒。入腎經。</p>
<p>治在表無定之風邪，主傳屍有汗之骨蒸。清血熱，退低燒。</p>
<p>熱淫於內，瀉以甘寒，退熱除蒸，目宜爾也。又去風邪者，肝腎同治也。肝有熱則風自內生，熱退則風息，此與外感之風不同耳。春日飲其湯，可防皮膚病。</p>
<p><u>地骨皮乃除熱之劑，中寒者勿服。</u></p>

<h4>牡丹皮</h4>
<p>味辛，性微寒，無毒。入心、心胞、肝、腎四經。畏貝母、大黃、菟絲子。忌蒜、胡荽與鐵器。紅花單瓣者佳。</p>
<p>酒拌蒸，曬用。</p>
<p>去血中之伏火，退無汗之骨蒸，消瘀通經，排膿生血，更散諸痛，能療諸風。</p>
<p>潔古云：牡丹為群花之首，其色赤而其性寒，故能去血中之伏火，因入手厥陰與足少陰，故能退無汗之骨蒸。消瘀通經，乃其辛散之用，排膿生血，皆其去熱之功，且能入厥陰風木，而善消瘀滯、又何諸風諸痛之患哉。李瀕湖云：「血中伏火，即陰火也，陰火即相火也。古方以此治相火，故仲景腎氣丸用之。後人乃專尚黃柏。不知牡丹皮之功更勝也。此乃千載秘奧，特為拈出。」</p>
<p><u>牡丹皮性寒而辛散，若久病血虛發熱、及產婦虛熱而無瘀者，宜斟酌用之。</u></p>
<p>紅牡丹花瓣，另列專條，見咽喉用藥。</p>

<h4>白薇</h4>
<p>味苦、咸，性寒，無毒。入肝、胃二經。</p>
<p>清熱，涼血。陰虛發熱，血虛昏厥，產後煩亂，衝任須協。低燒難退，斷續不絕。丹皮、地骨、青蒿、竹葉。分別配伍、隨症而設。用之得宜，收效尚捷。</p>
<p>白薇涼降，能清血熱。既為女科藥，又為溫熱證邪入血分之藥，更為種種低燒如喉蛾、久咳、浮腫、腰痠、溲渾等之有效藥，配伍得宜，頗有良效。因與白前易混淆，故處方多書「軟白薇」、以之與「硬白前」相對比也。</p>

<h4>龜甲</h4>
<p>味鹹，性寒，有毒。入心、腎二經。惡沙參、蜚蠊。去肋，酥炙。</p>
<p>補腎退骨蒸，養心增智慧。固大腸而止瀉痢，除崩漏而截痎瘧。小兒囟門不合，臁瘡腐臭難聞。治軟弱之四肢，愈赤白之帶下。</p>
<p>龜稟北方之氣，故有補陰之功，若入丸散須研極細，恐著人腸胃，變為瘕也。（煎成膠良）龜鹿皆永年，龜首藏向腹，能通任脈，取下甲以補腎補血，皆陰也。鹿鼻反向尾，能通督脈，取上角以補火補氣，皆陽也。</p>
<p><u>腎虛而無熱者不用。</u></p>

<h4>鱉甲</h4>
<p>味鹹，性寒，無毒。入肝經。惡礬。酒浸一宿，炙黃。</p>
<p>解骨間蒸熱，消心腹癥瘕。婦人漏下五色，小兒脅下堅疼。</p>
<p>鱉色青，主治皆肝證。龜色黑，主治皆腎證。同歸補陰，實有分別。龜甲以自敗者為佳。鱉甲以不經湯煮者為佳。肝無熱者忌之。鱉肉涼血補陰，亦治瘧痢，唯冷而難消，脾虛者，大忌。</p>

<h3>（三）清熱瀉火</h3>

<h4>生石膏</h4>
<p>味辛、性寒，無毒。入肺、胃二經。惡莽草、巴豆。畏鐵。</p>
<p>營衛傷於風寒，青龍收佐使之勳。相付囚於火熱，白虎定為君之劑。頭疼齒痛肌膚熱，入胃而搜逐。消渴陽狂逆氣起，入肺以驅除。口乾舌焦，可得效也。中暑自汗、又何患焉。</p>
<p>氣味俱薄，體重而沉，少壯火熱之人，功如反掌；老弱虛寒之人，禍不旋踵。極能寒胃、使人腸滑不能食，非有大熱者，切勿輕投。</p>
<p>熟石膏：煅熟，研極細末。外用可生皮，治瘡口不斂。與少量赤石脂為伍，酌加冰片，摻之有良效。</p>

<h4>寒水石</h4>
<p>味辛、咸，性寒。入胃、腎二經。</p>
<p>降火，清熱。治天行火症，止躁狂出血，口乾齒衄，丹投紫雪。</p>
<p>此藥與石膏相仿，但能入腎，故降火之力更著，能直達下焦。</p>

<h4>地龍</h4>
<p>味鹹，性寒，入脾、胃二經。</p>
<p>清熱定驚，平喘通絡。火症高燒，神昏抽搐。半身不遂，肢體麻木。風陽上擾、矇蔽頭目。小便欠利。時發喘促。</p>
<p>此物易黴易蛀，若已黴蛀者，萬不可再用。</p>

<h3>（四）清熱燥濕</h3>

<h4>黃連</h4>
<p>味苦，性寒，無毒。入心經。龍骨、連翹為使。惡菊花、玄參、芫花、白蘚皮、白殭蠶。畏款冬、牛膝。解巴豆、附子毒。忌豬肉。薑汁炒。</p>
<p>體陰質燥，清熱除濕。瀉心除痞滿，明目理瘡瘍。痢疾腹疼，心痛驚煩。殺蟲安蛔，利水厚腸。</p>
<p>稟清寒之氣，直瀉丙丁，痞滿、目疾、瘡瘍、驚痛，南方亢上之象。泄痢、蛔蟲，濕熱之愆。苦以燥之，寒以清之，固宜痊也。韓⿱予心曰：「黃連與官桂同行，能使心腎交於頃刻。」</p>
<p>時珍曰：「香連丸用黃連、木香。木火散用黃連、乾薑。左金丸用黃連、吳茱萸。薑黃散用黃連、生薑。口瘡方用黃連、細辛。皆一冷一熱，寒因熱用，熱因寒用，陰陽相濟，最得制方之妙」。</p>

<h4>黃柏</h4>
<p>味苦，性寒，無毒。入腎經。惡乾漆。鹽酒炒。肥厚鮮黃者佳。</p>
<p>瀉龍火而救水，利膀胱以燥濕。佐以蒼朮，理足膝之痹痛。漬以蜜水，漱口舌之生瘡。</p>
<p>黃柏瀉陰火，除濕熱，故治療如上。昔人謂其補陰者，非其性補益，熱去則陰不受傷，雖謂之補亦宜。按苦寒之性利於實熱，不利於虛熱，凡脾虛食少，或瀉或嘔，或好熱，或惡冷，或腎虛五更泄瀉，小便不禁，少腹冷痛，陽虛發熱，瘀血停止，產後血虛發熱，金瘡發熱，癰疽潰後發熱，傷寒發熱，陰虛小水不利，痘後脾虛小水不利，血虛煩躁不眠等症，法咸忌之。</p>

<h4>苦參</h4>
<p>味苦，性寒，無毒。入腎經。玄參為使。惡貝母、菟絲、漏蘆，反藜蘆。泔浸一宿，蒸過曝乾。</p>
<p>除熱祛濕，利水固齒。癰腫瘡瘍，腸澼下血。風癘疥癬，在所亟需。</p>
<p>味苦性寒，純陰之品，故理濕熱有功。瘡毒腸澼。皆濕蒸熱閼之愆，宜其咸主。齒乃骨之餘，清腎骨自固耳。</p>
<p><u>苦參，大苦大寒，不惟損胃，兼且寒精，向非大熱，惡敢輕投。</u></p>

<h3>（五）清熱解毒</h3>

<h4>犀角</h4>
<p>味苦、酸、咸，性寒，無毒。入心、胃、肝三經。升麻為使。惡烏頭、烏喙。忌鹽。</p>
<p>解煩熱而心寧，驚悸狂邪都掃。散風毒而肝清，目昏痰壅偕消。吐衄崩淋，投之輒止。癰疽發背，用以消除。解毒高於甘草，祛邪過於牛黃。</p>
<p>犀角雖有徹上徹下之功，不過涼血解毒，驅邪清熱而已。</p>
<p><u>大寒之性，非大熱者，不敢輕服。妊婦多服，能消胎氣。</u></p>

<h4>牛黃</h4>
<p>味苦、甘，性平，無毒。入心、肝二經。人參為使。惡龍骨、龍膽、地黃、常山、蜚蠊。畏牛膝、乾漆。</p>
<p>清心主之煩，熱狂邪祟俱消，攝肝臟之魂，驚癇健忘同療。利痰氣而無滯，入筋骨以搜風。</p>
<p>東垣曰：牛黃入肝治筋，中風入臟者，用以入骨追風。若中腑，中經者，誤用之，反引風入骨，如油入面，莫之能出。</p>

<h4>玳瑁</h4>
<p>味甘，性寒，無毒。入心、肝二經。</p>
<p>解毒清熱，鎮心平肝。熱病傳裡，五內灼燔。神昏譫語，煩躁不安。能救客忤，可止驚癇。</p>
<p>局方至寶丹中用之，乃救急之良劑也。</p>

<h4>貫眾</h4>
<p>味苦，性寒，有毒。入肝經。去皮毛，銼，焙。</p>
<p>殺蟲解毒，化哽破症。產後崩淋，金瘡鼻血。</p>
<p>有毒而能解毒，去瘀而能生新，然古方中不恆用之，別名管仲，豈音相類耶，抑為其有雜霸之氣耶？</p>

<h4>馬齒莧</h4>
<p>味酸，性寒，無毒。入心、大腸二經。</p>
<p>清利濕熱，解毒散血。內服治痢，又療瘡癤，禳解疫癘，通利關節。外敷消腫，疔癰流火，蜂螫劇疼，塗之緩和。</p>
<p>唐寶經驗方云：「六月六日採馬齒莧曬乾，元旦煮熟，同鹽醋食之，可解疫癘氣。」迄今，長江下游，春節尚食用馬齒點心，名之曰安樂菜。蓋此菜可以清腸，可防節日傷食所致諸疾也。一切紅腫熱痛之症，以之擠汁外塗，均有良效。</p>

<h2>補益藥</h2>

<h3>（一）補氣</h3>

<h4>人參</h4>
<p>味甘，性微溫，無毒。入肺、脾二經。茯苓為使。惡藜蘆。畏五靈脂。去蘆用。</p>
<p>補氣安神，除邪益智。療心腹寒痛，除胸脅逆滿。止消渴，破堅積。氣壯而胃自開，氣和而食自化。</p>
<p>人參得陽和之氣，能回元氣於垂亡。氣足則神安，正旺則邪去。益智者，心氣強，則善思而多智也。真氣虛者，中寒而痛，胸滿而逆，陽春一至，寒轉為溫，否轉為泰矣。破積消食者，脾得干健之運耳。</p>
<p><u>人參，亦有不宜用者：世之錄其長者，遂忘其短，摘其瑕者，並棄其瑜。或當用而後時，或非宜而妄設。不蒙其利，只見其害，遂使良藥見疑於世，粗工互騰其口，良可憾　也。</u></p>
<p>參鬚：性專下行，宜於胃虛嘔逆、咳血等。不宜於久痢、滑精、崩中、下血等。</p>
<p>參葉：能生津，可代茶飲。</p>

<h4>黨參</h4>
<p>味甘，性平，無毒。入脾、肺二經。</p>
<p>補中益氣，脾肺均宜。健脾運而中宮不燥。滋胃陰而胸膈不泥。潤肺而不犯寒涼、養血而不偏滋膩。中氣微弱、氣短心悸。食少便溏、體倦易疲。鼓午清陽，常服有濟。</p>
<p>黨參功同人參，而力量較薄，但能久服、可無大弊。</p>

<h4>黃耆</h4>
<p>味甘，性微溫，無毒。入肺、脾二經。茯苓為使。惡龜甲、白蘚皮。嫩綠色者佳。蜜炙透。</p>
<p>補肺氣，而實皮毛，斂汗托瘡，解渴定喘。益胃氣，而去膚熱，止瀉生肌，補虛治癆。風癩急需，痘瘍莫缺。</p>
<p>種種功勳，皆是補脾實肺之力。能理風癩者，經謂邪之所湊，其氣必虛，氣充於外，邪無所容耳。</p>
<p><u>黃耆，實表，有表邪者勿用。助氣，氣實者勿用。多怒則肝氣不和，亦禁用也。</u></p>

<h4>白朮</h4>
<p>味苦、甘，性溫，無毒。入脾、胃二經。防風為使。忌桃、李、青魚。產於潛者佳。米泔水浸半日，土蒸，切片，蜜水拌勻，炒令褐色。</p>
<p>健脾進食，消穀補中。化胃經痰水，理心下急滿。利腰臍血結，祛周身濕痹。君枳實以消痞，佐黃芩以安胎。</p>
<p>白朮甘溫，得土之沖氣，補脾胃之良藥也。脾胃健於轉輸，新谷善進，宿谷善消。土旺自能勝濕，痰水易化，急滿易解。腰臍間血，周身之痹，皆濕停為害，濕去則安矣。消痞者，強脾胃之力。安胎者，化濕熱之功。</p>
<p><u>陰虛燥渴，便閉滯下，肝腎有築築動氣者勿服。又《百草鏡》謂冬採者為冬朮，汁歸本根，滋潤而不枯燥，卻易油不能止瀉。故處方稱為冬朮。</u></p>

<h4>甘草</h4>
<p>味甘，性平，無毒。入脾、肺二經。白朮為使。反大戟、芫花、甘遂、海藻。惡遠志。忌豬肉，令人陽痿。</p>
<p>補脾以和中，潤肺而療痿，退熱止瀉，堅筋長肌，調和群品，普治百邪。解一切毒，和一切藥。稍止莖中作痛，節醫腫毒諸瘡。</p>
<p>外赤內黃，備坤離之色，味甘氣平，資戊己之功。益陰除熱，有裨金宮，故咳嗽、咽痛、肺痿均治也。安中扶正，補益土臟，故瀉痢、虛熱、肌肉均賴也。諸毒遇土則化，甘草為九土之精，故百毒化。熱藥用之緩其熱，寒藥用之緩其寒，理中湯用之，恐其僭上，承氣湯用之，恐其速下。</p>
<p>黃宮繡謂「《傷寒論》、《金匱要略》兩書中，凡為方二百五十，用甘草者，至一百二十方，非甘草之主病多，乃諸方必合甘草，始能曲當病情也。」</p>
<p><u>甘能作脹，故中滿者忌之。嘔家忌甘，酒家亦忌甘。</u></p>

<h3>（二）補陽</h3>

<h4>鹿茸</h4>
<p>味甘、咸，性溫，無毒。入腎經。形如茄子，色如瑪瑙，紅玉者良。烙去毛、酥炙。</p>
<p>益氣而強志，健骨而生齒，去肢體痠疼，除腰脊軟痛。虛癆聖劑，崩漏神丹。</p>
<p>角（茸生兩月，即成角矣。）補腎生精髓，強骨壯腰膝。止崩中與吐血，除腹痛而安胎。肉（甘溫）補中強五臟，通脈益氣力。</p>
<p>鹿稟純陽之質，含生髮之氣，其性極淫。一牡常御百牝，腎氣有餘，足於精者也。故主用最多。專以壯陽道、補精髓為功。</p>
<p>茸：較佳於角。</p>
<p>肉：有益於脾。</p>
<p><u>上焦有痰熱，胃家有火，吐血屬陰衰火盛者，俱忌。</u>（生角，消腫毒，逐惡血不及膠之用宏也。）鹿，山獸屬陽，夏至解角，陰生陽退之象也。麋澤獸屬陰，冬至解角，陽生陰退之象也。主用相懸，不可不辨。</p>

<h4>鐘乳石</h4>
<p>味甘，性熱，有毒。蛇床為使。惡牡丹、牡蒙。畏紫石英。忌羊血。反人參、白朮。入銀器、煮水，減即添煮，三日夜，色變黃白，換水再煮，色清不變，毒去盡矣。水飛過，再研半日。</p>
<p>益精壯陽，下焦之虛弱堪珍。止嗽解渴，上部之虛寒宜寶。</p>
<p>其氣剽悍，令陽氣暴充，飲食倍進。昧者，得此肆淫，則精竭火炎，發為癰疽淋濁，豈鍾乳之罪邪？大抵命門火衰者，相宜。不爾，便有害矣。</p>

<h3>（三）補陰</h3>

<h4>沙參</h4>
<p>味苦，性微寒，無毒。入肺經。惡防己，反藜蘆。</p>
<p>補中益肺，養胃生津。肅清上熱，疏痰利咳。定心內驚煩，退皮間邪熱。</p>
<p>氣輕力薄，非肩弘任大之品也。人參甘溫體重，專益肺氣，補陽而生陰。沙參甘寒體輕，專清肺熱，補陰而制陽。</p>
<p><u>沙參性寒，臟腑無實熱及寒留肺經而嗽者，勿服。</u></p>

<h4>太子參</h4>
<p>又名孩兒參。味甘、微苦，性平，無毒。入脾、肺二經。</p>
<p>益氣健脾，生津養肺。氣血不足，病後虛羸。倦怠乏力，自汗萎靡。食少心悸，口乾液虧，用以調補，能使春回。</p>
<p>此藥力薄，須持續服用，其效始著。</p>

<h4>西洋參</h4>
<p>味苦、甘，性涼，無毒。入肺、胃二經。</p>
<p>滋補肺金稱善，療治虛火尤宜。能養胃以生津，除煩倦而不疲。</p>
<p>傷寒論之竹葉石膏湯，白虎加人參湯，均可改用西洋參。</p>

<h4>生地黃</h4>
<p>味甘，性寒，無毒。入心、肝、脾、腎四經。惡貝母。</p>
<p>忌銅、鐵、蔥、蒜、蘿蔔、諸血。產懷慶，黑而實肥者佳。</p>
<p>涼血補陰，去瘀生新。養筋骨，益氣力。理胎產，主勞傷，通二便，消宿食。心病而掌中熱痛，脾病而痿躄貪眠。</p>

<h4>熟地黃</h4>
<p>性、味、畏、忌俱同生地黃。用砂鍋、柳甑，襯以荷葉，將生地黃酒潤，用縮砂仁粗末拌蒸，蓋復極密。文武火蒸半日，取起，貯極干。如前又蒸九次，為度。令中心透熟，純黑乃佳。</p>
<p>滋腎水，封填骨髓。利血脈，補益真陰。久病餘，脛股痠痛。新產後，臍腹急疼。</p>
<p>地黃合地之堅凝，得土之正色，為補腎要藥，益陰上品。稟仲冬之氣，故涼血有功，陰血賴養。新者生則瘀者去，血受補則筋受榮，腎得之而骨強力壯矣。胎產勞傷，皆血之愆，血得其養，證因以痊，腎開竅於二陰，況血主濡之，二便所以利也。濕熱盛則食不消，地黃去濕熱以安脾胃，宿滯乃化，掌中應心主，痿蹶乃脾熱，奉君主而清其倉廩，兩證可瘳矣。熟者稍溫，補陰補血，滋腎養肝，其功更溥。六味丸以之為首，天一所生之本也。四物湯以之為主，乙癸同源之義也。久病陰傷，新產血敗，在所極需。</p>
<p><u>生地黃，性寒而潤，胃虛食少，脾虛瀉多，均在禁例。熟者性滯，若痰多氣鬱之人，能窒礙胸膈，當斟酌用之。姜酒拌炒，生者不妨胃，熟者不泥膈。</u></p>

<h4>黃精</h4>
<p>味甘，性平，無毒。入脾經。</p>
<p>益氣養陰，補脾潤肺。肺燥乾咳，氣餒消渴。體虛乏力，用以服食。味甘氣和，為益脾陰之劑，土旺則濕除，故又能祛濕。</p>

<h4>石斛</h4>
<p>味甘，性平，無毒。入胃、腎二經。惡巴豆。畏殭蠶。</p>
<p>酒浸，酥拌，蒸。</p>
<p>清胃生肌，逐皮膚虛熱。強腎益精，療腳膝痹弱。厚腸止瀉，安神定驚。益陰也，而愈傷中；清肺也，則能下氣。</p>
<p>入胃清濕熱，故理痹證泄瀉；入腎強陰，故理精衰骨痛；其安神定驚，兼入心也。</p>
<p><u>石斛，宜於湯液，不宜入丸，形長而細且堅，味甘不苦為真。誤用木斛，味大苦，餌之損人。</u></p>

<h4>旱蓮草</h4>
<p>一名鱧腸。味甘、咸，無毒。入腎經。</p>
<p>補腎止血，黑髮烏須。</p>
<p>其效甚宏，當及時多收之。苗如旋覆，實如蓮房，斷之有汁，須臾而黑，故名墨旱蓮。或酒煎，或熬膏。</p>

<h3>（四）陰陽雙補</h3>

<h4>葳蕤</h4>
<p>味甘，性平，無毒。入肺、脾、肝、腎四經。蜜水拌蒸。</p>
<p>潤肺而止嗽痰；補脾而去濕熱；養肝而理眥傷淚出；益腎而除腰痛莖寒。</p>
<p>葳蕤，滋益陰精，與地黃同功；增長陽氣，與人參同力。潤而不滑，和而不偏。譬諸盛德之人，無往不利。本經謂其主諸不足，確是如此。</p>

<h4>何首烏</h4>
<p>味苦、澀，性微溫，無毒。入肝、腎二經。茯苓為使。</p>
<p>忌豬血、無鱗魚、蘿蔔、蔥、蒜、鐵器。選大者，赤白合用。泔浸，黑豆拌，九蒸九曬。</p>
<p>補真陰而理虛癆，益精髓而能續嗣。強筋壯骨，黑髮悅顏。消諸種癰瘡，療陰傷久瘧，治崩中帶下，調產後胎前。</p>
<p>昔有老叟何姓者，見有藤夜交，掘而服之，鬚髮盡黑，故名何首烏。補陰而不滯不寒，強陽而不燥不熱，稟中和之性，而得天地之純氣者歟。</p>
<p><u>何首烏與白蘿蔔同食，能令鬚髮早白，犯鐵器損人，謹之。</u></p>

<h4>山茱萸肉</h4>
<p>味酸，性微溫，無毒。入肝、腎二經。蓼實為使。忌桔梗、防風、防己。酒潤去核，微火烘乾。</p>
<p>補腎助陽事，腰膝之疴，不必慮也。固精縮小便，遺泄之證，寧足患乎。月事多而可以止。耳鳴響而還其聰。益腎養肝，陰陽雙補。</p>
<p>四時之令，春氣暖而生，秋氣涼而殺，萬物之性，喜溫而惡寒。人身精氣，亦賴溫暖而後充足，況腎肝居至陰之位，非得溫暖之氣，則孤陰無以生，山茱萸正入二經，性溫而主補，味酸而主斂，故精氣益而腰膝強也。</p>
<p><u>強陽不痿，小便不利者不宜用。</u></p>

<h4>五味子</h4>
<p>味甘、酸，核中苦、辛、咸，性溫，無毒。入肺、腎二經。</p>
<p>蓯蓉為使。惡葳蕤。嗽藥生用，補藥微焙。遼東肥潤者佳。</p>
<p>滋腎經不足之水，強陰澀精，除熱解渴。收肺氣耗散之金，療咳定喘，斂汗固腸。</p>
<p>潔古云：「夏服五味，使人精神頓加，兩足筋力湧出。」東垣云：「收瞳神散大，火熱必用之藥」。丹溪云：「收肺保腎，乃火嗽必用之藥。五味功用雖多，收肺保腎四字，足以盡之。」</p>
<p><u>五味，乃要藥，人多不敢用者，寇氏虛熱之說誤之耳。惟風邪在表，痧疹初發，一切停飲，肺家有實熱者，皆當禁之。</u></p>

<h4>南天燭子</h4>
<p>味酸、甘，性平。入肺、脾、腎三經。</p>
<p>益氣力，強筋骨。固精氣，駐顏色。斂肺金，治久咳。</p>
<p>此藥得效即止，不宜常用。亦陰陽雙補之品也。</p>

<h4>人胞</h4>
<p>味甘、咸，性溫，無毒。入心、腎二經。米泔洗淨，童便浸揉，色白為度，入鉛瓶中，封固，重湯煮三時，待冷方開。</p>
<p>補心除驚悸，滋腎理虛癆。養血益氣、寧志返老。陰陽雙補，坎氣名高。</p>
<p>此物陳藏器、吳球二氏均富使用之經驗。吳氏所訂之大造丸乃傳世之名方也。</p>

<h4>血餘</h4>
<p>味苦，性溫，無毒。入心、肝、腎三經。</p>
<p>去瘀血，補真陰。父發與雞子同煎，免嬰兒驚悸。己發與川椒共煅，令本體烏頭。吐血衄紅取效，腸風崩帶宜求。</p>
<p>發者，血之餘也。故於血證多功。入罐中，鹽泥固濟，煅存性。</p>
<p>肺腎陰虛之失音，以血餘炭加入適當方中，活血補陰，頗有裨益。</p>

<h3>（五）補血藥</h3>

<h4>當歸</h4>
<p>（見女科）</p>

<h4>熟地</h4>
<p>（見補陰）</p>

<h4>三七</h4>
<p>味甘、苦，性溫，無毒。</p>
<p>生者：散瘀止血，消腫定痛。跌僕外傷，諸種失紅。熟品。補血和血、虛症堪用。</p>
<p>此藥既能內服，亦可外治。活血化瘀、旅行及居家備之，可以救急。</p>

<h4>仙鶴草</h4>
<p>味辛、澀，性偏溫，無毒。入肺、肝、脾三經。</p>
<p>能強身止血，治過力勞傷。熱病腸紅拯救，虛人吐衄頻嘗。</p>
<p>此草止血和血，又能補益，為虛人血症不可或缺之藥。</p>

<h4>龍眼肉</h4>
<p>（見食療）</p>

<h4>阿膠</h4>
<p>（見女科）</p>

<h2>理血藥</h2>

<h3>（一）涼血</h3>

<h4>紫草</h4>
<p>味苦，性寒，無毒。入心、胞絡、肝三經。</p>
<p>涼血和血，清解瘡瘍。宣發痘疹、通大小腸。治五疳以稱善，利九竅而允藏。</p>
<p><u>紫草，涼而不凝，為痘家血熱之要藥。但痘證極重脾胃，過用則有腸滑之虞。</u></p>

<h4>丹皮</h4>
<p>（見退骨蒸藥）</p>

<h4>白薇</h4>
<p>（見退骨蒸藥）</p>

<h4>赤芍</h4>
<p>味苦，性寒，入肝經。</p>
<p>涼血清營，散瘀通結，止痛消腫，用於癰癤。</p>
<p>《本草求真》曰：「赤芍與白芍主治略同，但白則有斂陰益營之力，赤則只有散邪行血之意；白則能於土中瀉木，赤則能於血中活滯。」</p>

<h3>（二）止血兼化瘀</h3>

<h4>茅根</h4>
<p>味甘，性寒，無毒。入肺經。</p>
<p>涼金定喘，治吐衄並血瘀。利水通淋，祛黃疸及癰腫。茅針潰癰，茅花止血。</p>
<p>甘寒可除內熱，性又入血消瘀，且下達州都，引熱下降，故吐血衄血者急需之。</p>
<p><u>吐血有因於寒，有因於虛者，非所宜也。</u></p>

<h4>蒲黃</h4>
<p>味甘，性平。無毒。入肝經。</p>
<p>熟用止血，生用行血。伍五靈脂，治心腹痛。</p>
<p>入東方血海，是其本職。利小便者，兼入州都耳。蒲黃，乃手足厥陰血分藥，能涼血散血，故血分瘀滯之痛，皆可用之。又舌脹滿口，及舌上生瘡，均可外用。</p>
<p><u>無瘀血者勿用。</u></p>

<h4>白芨</h4>
<p>味苦，性微寒，無毒。入肺經。反烏頭。</p>
<p>肺傷吐血建奇功。癰腫排膿稱要劑。</p>
<p>性收色白，合乎秋金，入肺經以療諸熱之證，收中有散，又能排膿。</p>
<p><u>癰疽潰後，不宜與苦寒藥同服。</u></p>

<h4>茜草</h4>
<p>味苦，性寒，無毒。入心胞、腎二經。</p>
<p>行血止血、消瘀通經。風痹咸宜，撲損可治。</p>
<p>茜草忌鐵、根可染絳，但無瘀者勿用。</p>

<h4>大薊小薊</h4>
<p>味甘，性溫，無毒。入心、肝二經。</p>
<p>崩中吐衄，瘀血停留。</p>
<p>二薊性味，主療皆同，但大薊兼主癰疽也。</p>
<p><u>二薊，破血之外，無他長，不能益人。</u></p>

<h4>翻白草</h4>
<p>味甘、微苦，性平無毒。</p>
<p>止血，解毒。吐血下血，崩中齒衄。口瘡常發，頻餐可復。渾身疥賴，臁瘡濕毒，潰瘍不愈，用之洗浴。速效難期，貴在持續。</p>
<p>此草有撥亂反正之功。頑固難愈之出血與潰瘍，常用於適當方中，頗有靈驗。</p>

<h4>側柏葉</h4>
<p>味苦，性微寒，無毒。入肝經。牡蠣為使。忌同柏子仁。</p>
<p>止吐衄來紅，定崩淋下血。歷節風疼可愈，周身濕痹能安。</p>
<p>微寒補陰，故應止血，其治風濕者，益脾之力也。柏有數種，惟根上發枝數莖，蒙葺茂密，名千頭柏，又名佛手柏，是真側柏也。</p>
<p><u>柏性挾燥，血家不宜多服。</u></p>

<h4>墨</h4>
<p>味辛、性溫，無毒。燒紅，研細。</p>
<p>止血以苦酒送下。消癰用豬膽調塗。磨濃點入目之飛絲。和酒治胞胎之不下。</p>
<p>墨者，北方之色，血者，南方之色，止血者，火見水而伏也。內有鹿角膠、非煅紅，不可用。</p>

<h4>海鰾鮹</h4>
<p>即烏賊骨。味鹹，性溫，無毒。入肝經。惡白芨、白蘞、附子。炙黃。</p>
<p>止吐衄腸風、澀久虛瀉痢。外科燥膿收水，眼科去翳清煩。吐血下血，腹痛環臍，女子血枯，漏下赤白。</p>
<p>味鹹入血，性澀能收，故有軟堅止滑之功。</p>

<h4>花蕊石</h4>
<p>味酸，性平，無毒。火煅，水飛。</p>
<p>止吐衄如神，消瘀血為水。</p>
<p>血見花蕊石，即化為水。過用損血，不可不謹。</p>

<h3>（三）破血逐瘀</h3>

<h4>桃仁</h4>
<p>味苦，甘，性平，無毒。入肝、大腸二經。香附為使。</p>
<p>泡，去皮尖，炒。勿用雙仁者。</p>
<p>破諸經之血瘀，潤大腸之血燥。肌有血凝，而燥癢堪除，熱入血室，而譫言可止。</p>
<p>苦重於甘，氣薄味厚，沉而下降，為陰中之陽，苦以推陳，甘以生新，故血疾恆需之。</p>
<p><u>桃仁破血，血瘀者當用，若用之不當，大傷陰氣。</u></p>

<h4>荊三稜</h4>
<p>味苦，性平，無毒。入肝經。醋炒。</p>
<p>下血積有神，化堅癖為水。</p>
<p>昔有患癖死者，遺言開腹取視得病塊，堅如石，紋理五色，人謂異物，竊作刀柄，後以刀刈三稜，柄消成水，故治癖多用焉。</p>
<p><u>潔古謂三稜瀉真氣，虛者勿用。東垣五積諸方，皆有人參贊助，如專用克削，脾胃愈虛，不能運行，積安得去乎。</u></p>

<h4>蘇木</h4>
<p>味甘鹹，性平，無毒。入心、肝、脾三經。</p>
<p>能除新舊之瘀血，兼宣表裡之風邪。</p>
<p>蘇木理血，與紅花同功，少用和血，多用即破血也。故能治跌撲損傷、壅塞作痛。其治風者，所謂治風先治血，血行風自滅也。</p>

<h4>麒麟竭</h4>
<p>一名血竭。味甘鹹，性平，有小毒。入心、肝二經。</p>
<p>凡用另研，若同他藥搗，則化為飛塵。產於外國，難得真者，磨之透甲，燒灰不變色者佳。</p>
<p>走南方，兼達東方，遂作陰經之主。和新血，且推陳血，真為止痛之君。</p>
<p>乳香、沒藥兼主氣血，此則專於血分者也。善收瘡口，然性急，不可多使，卻能引膿。</p>

<h4>水蛭</h4>
<p>味鹹，苦，性平。入肝經。畏石灰。鹽炒枯黃。</p>
<p>惡血積聚，閉結堅牢，炒末調吞多效。赤白丹腫，癰毒初生，竹筒含咂有功。</p>
<p>咸走血，苦勝血，故為攻血要藥。</p>

<h4>䗪蟲</h4>
<p>味鹹，性寒，有毒。畏皂莢、菖蒲、屋遊。即地鱉蟲。</p>
<p>去血積，搜剔極周，主折傷，補接至妙。煎含而木舌旋消，水服而乳漿立至。</p>
<p>仲景有大黃䗪蟲丸，以有攻堅下血之功也。虛人斟酌用之。</p>

<h4>歸尾</h4>
<p>（見女科）</p>

<h4>紅花</h4>
<p>（見女科）</p>

<h2>氣血兼理藥與理氣藥</h2>

<h3>（一）氣血兼理</h3>

<h4>鬱金</h4>
<p>味辛、苦，性寒，無毒。入肺、心、心胞、肝、胃五經。</p>
<p>解鬱行氣，止痛活血。涼心通肺，寬胸舒脅。配明礬，豁痰涎，開神明之蒙。伍射干，治喉痹，散陰陽之結。</p>
<p>能開肺金之郁，故名鬱金。丹溪又謂：「古人用治郁遏不能升者，恐命名因此。」</p>
<p><u>鬱金本入血分之氣藥。由產地不同，尚可區分其功效。廣產者色黃，善行氣而有功肺部。川產者色紫，能入營而長於活血。</u></p>

<h4>薑黃</h4>
<p>味苦、辛，性溫，無毒。入脾、肝二經。破血下氣，散腫消癰。辛散苦泄，故專功於破血，下氣其旁及者耳。此藥能宣通血中之氣，使氣行而血無壅滯。別有一種片子薑黃，止臂痛有效。</p>
<p><u>血虛者，不宜服之。</u></p>

<h4>玄胡索</h4>
<p>味辛，性溫，無毒。入肺、肝二經。酒炒。</p>
<p>活血利氣，止腹痛心疼。調經利產，主血暈崩淋。</p>
<p>行血中氣滯，氣中血滯，理通身諸痛，療疝舒筋，乃破血利氣之良藥也。</p>
<p><u>玄胡索走而不守，惟有瘀滯者宜之，若經事先期，虛而崩漏，產後血虛而暈，則不可服。</u></p>

<h4>蓬莪朮</h4>
<p>味甘、辛，性溫，無毒。入脾、肝二經。酒炒。</p>
<p>破氣行血，消積止痛。婦人結聚，丈夫奔豚。</p>
<p>氣不調和，臟腑壅滯，陰陽乖隔，病邪憑之，此能利氣達竅，則邪無所容矣。</p>
<p><u>蓬莪朮誠為磨積之藥。但虛人得之，積不去而真已竭，重可虞也，或與健脾補元之藥同用，乃無損耳。</u></p>

<h4>降真香</h4>
<p>味辛，性溫，無毒。色紅者良。</p>
<p>行瘀滯之血如神，止金瘡之血至驗，理肝傷吐血，勝似鬱金，理刀傷出血，過於花蕊。</p>
<p>降香色鮮紅者，行血下氣有功，若紫黑色者，不堪用也。兼可辟邪逐穢，燒之，闢天行時氣，宅舍怪異。</p>

<h4>五靈脂</h4>
<p>味甘，性溫，無毒，入肝經。惡人參。酒飛去沙，曬。</p>
<p>止血氣之痛，無異手拈。行冷滯之瘀，真同仙授。</p>
<p>五靈脂，乃寒號禽之糞也。氣味俱厚，獨入厥陰。主血，生用行血，炒熟止血，痛證若因血滯者，下咽如神。</p>
<p><u>性極膻惡，脾胃虛薄者，不能勝也。</u></p>

<h3>（二）理氣</h3>

<h4>香附</h4>
<p>味苦，性微溫，無毒。入肺、肝二經。童便浸，曬，焙。生用發表，制用化氣。消痰開鬱，解憂釋疑。止脅下痛與腹內脹疼，治胸中熱與脘際悶痞。胎產常用，女科偏宜。十二經通，三焦暢利。</p>
<p>稟天地溫燥之氣，入人身金木之宮，血中之氣藥也。</p>
<p><u>韓飛霞稱香附，於氣分為君藥，統領諸藥，隨用得宜，乃氣病之總司，女科之主帥也。性燥而苦，獨用久用，反能耗血，如上所述之功，皆取其治標，非治本也。懼燥蜜水炒，懼散醋炒之。</u></p>

<h4>木香</h4>
<p>味辛，性溫，無毒。入肺、脾、肝三經。生用理氣，煨熟止瀉。</p>
<p>平肝降氣，郁可開而胎可安，健胃寬中，食可消而痢可止。何患乎，鬼邪蠱毒，無憂於冷氣心疼。</p>
<p>氣味純陽，故辟邪止痛。吐瀉停食，脾疾也；土喜溫燥，得之即效。氣鬱氣逆，肝疾也。木喜疏通，得之即平，胎前須順氣，故能安胎。</p>
<p><u>木香香燥，而偏於陽，肺虛有熱，血枯而燥者慎用。</u></p>

<h4>橘絡</h4>
<p>味甘、微苦，性平。入肝、胃二經。</p>
<p>舒氣化痰，通絡散結。可消阻滯，又能活血。</p>
<p>金御乘稱之為橘絲，謂其專能宣通經絡滯氣。趙學敏謂其驅皮裡膜外積痰，活血。</p>

<h4>枳殼</h4>
<p>味苦，微寒，無毒。入肺、脾、胃、大腸四經。麵炒。</p>
<p>破至高之氣，除咳逆停痰。助傳導之官，消水留脹滿。枳實（即枳殼之小者）破積有雷厲風行之勢，瀉痰有沖牆倒壁之威。解傷寒結胸，除心下急痞。</p>
<p>枳殼、枳實，上世未嘗分別。自東垣分枳殼治高、枳實治下。海藏分枳殼主氣、枳實主血，然究其功用，皆利氣也。又何必分上與下，氣與血乎。但枳實則性急，枳殼則性緩，為確當耳。</p>
<p>枳殼花：《致富全書》云：「花細而香、聞之破鬱結。」急症關下喉痹，嗅其芳香之氣有益。</p>

<h4>大腹皮</h4>
<p>味苦，性微溫，無毒。入脾、胃二經。</p>
<p>開心腹之氣，逐皮膚之水。</p>
<p>主用與檳榔相仿，但力少緩耳。鴆鳥多集大腹樹上，宜以大豆汁多洗，令黑汁去盡，火焙用。</p>
<p><u>病涉虛者勿用。</u></p>

<h4>楝實</h4>
<p>一名金鈴子。味苦，性寒，有毒。入脾、肺二經。</p>
<p>熱厥心痛，腹疼疝氣。可殺三蟲，能利小便。根微寒。殺諸蟲，通大腸。</p>
<p>與延胡索相伍，治心腹痛頗靈。性寒極苦，若脾胃虛寒者忌之。</p>

<h4>烏藥</h4>
<p>味辛，性溫，無毒。入胃、膀胱二經。</p>
<p>主膀胱冷氣攻衝，療胸腹積停為痛。天行疫瘴宜投，祟犯蠱傷莫廢。</p>
<p>辛溫芳馥，為下氣溫中要藥。</p>
<p><u>氣虛及血虛者勿用。</u></p>

<h4>沉香</h4>
<p>味辛，性溫，無毒。入脾、胃、肝、腎四經。</p>
<p>調和中氣，破結滯而胃開。溫補下焦，壯元陽而腎暖。療脾家痰涎之血，去肌膚水腫之邪。大腸虛閉宜投，小便氣淋須用。</p>
<p>芬芳之氣，與脾胃相投，溫而下沉，與命門相契。怒則氣上，肝之過也，辛溫下降，故平肝有功。</p>
<p><u>沉香降氣之要藥，然命門火衰，不宜多用，氣虛下陷者，切勿沾唇。</u></p>

<h4>檀香</h4>
<p>味辛，性溫，無毒。入肺、心、胃三經。</p>
<p>芳香闢穢，降逆理氣，運中宮，能於開胃進食療噎。調上焦，氣在胸膈咽嗌之間。通鼻竅塞，止心腹疼。</p>
<p>東垣云：「白檀調氣，引芳香之物，上至極高之分，最宜橙橘之屬，輔以砂、蔻、益智，通行陽明之經，為理氣要藥。」</p>

<h4>薤白</h4>
<p>（見食療）</p>

<h4>香櫞</h4>
<p>味苦，性溫，無毒。入肺、脾二經。年久者良。去白，炒。</p>
<p>理上焦之氣，止嘔宜求。進中州之食，健脾宜簡。</p>
<p>性雖中和，單用多用，亦損正氣、脾虛者，須與參朮並行，乃有相成之益耳。</p>
<p>花：作茶飲、可舒氣寬胸。</p>

<h4>佛手</h4>
<p>味辛、苦，酸。性溫，無毒。入肝、胃二經。</p>
<p>行氣開鬱，豁痰辟惡。舒肝悅脾，和胃止惡。胸悶脅脹，咳喘頻作。梅核氣阻，時時感覺。</p>
<p>花：芳香止痛，和暢肺肝。</p>
<p><u>陰血不足者，不宜常用多用。</u></p>

<h4>建蘭葉</h4>
<p>味辛，性平，無毒。入肺、脾、胃、肝四經。</p>
<p>生津止渴，開胃消痰。通舒經絡、流暢肺肝。陳郁之氣、久積能散。</p>
<p>辛平能散結滯、芳香能除穢惡。又能潤肌膚、悅顏色。產閩中者，力勝江浙諸種。</p>

<h2>治痰藥</h2>

<h3>（一）溫化寒痰</h3>

<h4>橘皮（附橘紅）</h4>
<p>味辛、性溫，無毒。入肺、脾二經。廣中者最佳，福建者力薄，浙產便又遜矣。陳久愈佳。去蒂及浮膜，曬乾。</p>
<p>止嗽定嘔，頗有中和之妙。清痰理氣，卻無峻烈之嫌。留白者，補胃偏宜，去白者，疏通端掌。</p>
<p>苦能泄氣，又能燥濕，辛能散氣，溫能和氣，同補藥則補，同瀉藥則瀉，同升藥則升，同降藥則降。夫脾乃元氣之母，肺乃攝氣之龠，故獨入二經；氣雖中和，然單服久服，亦損真元。橘皮下氣消痰，橘肉生痰聚氣，一物也、而相反如此。</p>
<p>橘紅：性熱。除寒下氣、消痰散結。</p>

<h4>半夏</h4>
<p>味辛，性溫，有毒。入心、脾、胃三經。柴胡為使。惡皂莢。畏雄黃、薑、鱉甲及烏頭。忌羊血、海藻、飴糖。水浸五日，每日換水，去涎，姜礬同煮，汁干為度。</p>
<p>消痰燥濕，開胃健脾。咳逆嘔吐，頭眩昏迷。痰厥頭痛，心下滿堅。消癰可也，墮胎有焉。</p>
<p>汪機曰：脾胃濕熱，涎化為痰，此非半夏，曷可治乎。時珍曰：脾無濕不生痰，故脾為生痰之源，肺為貯痰之器；半夏治痰，為其體滑辛溫也。俗以半夏為燥，不知濕去則土燥，痰涎不生，非其性燥也，但恐非濕熱之邪而用之，是重竭其津液，誠非所宜。按半夏主治最多，莫非脾濕之證，苟無濕者，均在禁例。古人謂半夏有三禁，謂血家、渴家、汗家也。若無脾濕，且有肺燥，誤服半夏，悔不可追，責在司命，謹諸戒諸。</p>

<h4>南星</h4>
<p>味苦，辛，性溫，有毒。入肝、脾二經。畏附子、乾薑、生薑。冬月研末，入牛膽中，懸風處。風痰阻絡之麻痹以及上擾之眩暈，均堪醫治。痰濁凝聚之堅積，破傷風、濕之噤強。亦可酌施。伍木香利痰行氣，和龍腦急救揩齒。配荊芥治風痰頭痛，調薑汁治風痛痰迷。</p>
<p>南星入肝去風痰，性烈而燥，得牛膽則燥氣減；得火炮則烈性緩；得防風則不麻。和豬膽能治小兒癇後之喑。</p>
<p><u>南星治風痰，半夏治濕痰，功用雖類，而實殊也。非西北人真中風及懷孕之人勿服。</u></p>

<h4>白附子</h4>
<p>味辛，性溫，有毒。入胃經。炮，去皮臍。</p>
<p>消痰去濕，止痙除麻。中風失音，口眼喎斜。</p>
<p>白附子，引藥上行，與黑附子非一類也。</p>
<p><u>白附子，燥藥也。似中風證，雖有痰亦禁用，小兒慢驚勿用。</u></p>

<h4>白芥子</h4>
<p>味辛，性熱，無毒。入肺經。</p>
<p>解肌發汗，利氣疏痰。溫中而冷滯冰消，辟邪而祟魔遠遁。酒服而反胃宜痊，醋塗而癰毒可散。伍蘇萊為三子養親，同術棗治胸脅痰飲。</p>
<p>痰在脅下，及皮裡膜外者，非白芥子不能達，煎湯不可太過，便減力量。</p>
<p><u>肺經有熱，陰虛火亢者勿服。莖葉動風動氣，有瘡瘍痔疾者俱忌。</u></p>

<h3>（二）清化熱痰</h3>

<h4>天花粉</h4>
<p>味甘、微苦、酸，性寒，無毒。入心、脾二經。枸杞為使。惡乾薑，畏牛膝、乾漆，反烏頭。</p>
<p>燥得以潤，痰可以清。排膿散腫，利膈清心。止渴退煩熱，通乳生唾津。消瘀血，催月經。</p>
<p>消痰解熱，是其職專，通經者，非若桃仁薑黃之直行血分，熱清則血不瘀耳。舊稱補虛，亦以熱退為補，不可不察。耳聾未久者，可用釀酒，飲之有益。</p>
<p><u>天花粉稟清寒之氣，脾胃虛寒及泄瀉者忌用。</u></p>

<h4>竹瀝</h4>
<p>味甘，性寒，無毒。入心、胃二經。薑汁為使。</p>
<p>痰在皮裡膜外者，直達以宣通。痰在經絡四肢者，屈曲而搜剔。失音不語偏宜，肢體攣蜷決用。</p>
<p>竹瀝滑腸，脾虛泄瀉者勿用。惟痰在皮裡膜外，經絡肢節者相宜。若寒痰、濕痰與食積痰勿用。</p>

<h4>荊瀝</h4>
<p>味甘，性平。入心、肺、肝諸經。</p>
<p>除風熱，開經絡。行血氣，導痰涎。去胸中煩悶，治頭風眩暈。大人中風失音，小兒心熱驚癇。</p>
<p>牡荊，俗名黃荊。截取尺余架磚上，中間火炙，兩頭以器承取，即得。</p>
<p>李時珍云：「荊瀝：化痰去風為妙藥。」千金翼方云：「凡患風人多熱，常宜以竹瀝、荊瀝、薑汁合計五合，和勻熱服，以瘥為度」。延年秘錄云：「熱多用竹瀝，寒多用荊瀝」。朱震亨云：「二汁同功，並以薑汁助送，則不凝滯。但氣虛不能食者用竹瀝。氣實能食者用荊瀝」。</p>

<h4>海石</h4>
<p>味鹹，性平，無毒。入肺經。</p>
<p>清金降火，止濁治淋。積塊老痰逢便化，癭瘤結核遇旋消。</p>
<p>海石乃水沫結成，體質輕飄，肺家之象也。氣味鹹寒，潤下之用也。故治證如上。</p>
<p><u>多服損人氣血。</u></p>

<h4>青礞石</h4>
<p>味鹹，性平。入肝經。火煅，水飛。</p>
<p>化頑痰癖結，行食積停留。</p>
<p>痰見青礞，即化為水。脾虛者大忌。</p>

<h4>瓦楞子</h4>
<p>即蚶殼也。味鹹，性平，無毒。火煅，醋淬，研。</p>
<p>消老痰至效，破血癖殊靈。</p>
<p>咸走血而軟堅，故主治如上。</p>

<h3>（三）逐痰</h3>

<h4>皂莢</h4>
<p>味辛、咸，性溫，有小毒。入肺、肝、胃三經。柏子為使。惡麥門冬。畏人參、苦參。刮去粗皮及弦與子，酥炙用。</p>
<p>宣壅導滯，開竅通關。驅邪辟疫，搜風逐疫。㗜之治噤口中風，濯之則除濕去垢，塗之而散腫消毒，焚之可闢疫除瘟。</p>
<p>性極尖利，無閉不開，無堅不破，中風傷寒門，賴為濟急之神丹。若類中風、由於陰虛者，禁之。孕婦亦禁。</p>
<p>子：去皮，水浸軟，煮糖漬食之，治大腸虛秘，瘰癧惡瘡。</p>
<p>刺：另見外科類。</p>

<h2>溫里藥</h2>

<h3>附子</h3>
<p>味辛、甘，性熱，有毒。入脾、腎二經。畏防風、黑豆、甘草、黃耆、人參、童便、犀角。重一兩以上，矮而孔節稀者佳。童便浸一日，去皮，切作四片，童便及濃甘草湯同煮，汁盡為度，烘乾。（冬採為附子、主寒疾。春採為烏頭，主風疾。）</p>
<p>補元陽，益氣力，墮胎孕，堅筋骨。心腹冷疼，寒濕踒躄。足膝癱軟，堅瘕症癖。</p>
<p>主治繁眾，皆由風、寒、濕三氣所致。邪客上焦，咳逆心痛。邪客中焦，腹痛積聚。邪客下焦，腰膝腳痛。附子熱而善走，諸證自瘥也。虞摶曰：「稟雄壯之質，有斬關之能，引補氣藥，以追散失之元陽；引補血藥，以養不足之真陰；引發散藥，以驅在表之風邪；引溫暖藥，以除在裡之寒濕。」吳綬曰：「傷寒傳變三陰，及中寒夾陰，身雖大熱，而脈沉者，必用之。厥冷腹痛，脈沉而細，唇青囊縮者，急用之。近世往往不敢用，直至陰極陽竭，而後議用，晚矣。」</p>
<p><u>附子，退陰益陽，祛寒濕之要藥也。若非陰寒寒濕，陽虛氣弱之病，而誤用於陰虛內熱，禍不旋踵。</u></p>

<h3>肉桂</h3>
<p>味辛、甘，性大熱，有小毒。入肝、腎二經。畏石脂。</p>
<p>忌生蔥，去皮用。見火無功。</p>
<p>益火消陰，救元陽之痼冷。溫中降氣，扶脾胃之虛寒。堅筋骨、強陽道，乃助火之勳。定驚癇，通血脈，屬平肝之績。下焦腹痛，非此不除。奔豚疝瘕，用之即效。宣通百藥，善墮胞胎。</p>
<p>桂心：（入心腎二經）理心腹之恙，三蟲九痛皆瘥。補氣脈之虛，五癆七傷多驗。宣氣血而無壅，利關節而有靈。托癰疽痘毒，能引血成膿。</p>
<p>肉桂乃近根之最厚者，桂心即在中之次厚者。桂枝即頂上細枝。（另列專條）以其皮薄，又名薄桂。肉桂在下，主治下焦，桂心在中，主治中焦，桂枝在上，主治上焦。此本乎天者親上、本乎地者親下之道也。</p>
<p><u>桂性偏陽，不可誤投，如陰虛之人，一切血證、及無虛寒者，均當忌之。</u></p>

<h3>乾薑</h3>
<p>味辛，性熱，無毒。入肺、脾二經。</p>
<p>破血消痰，腹痛胃翻均可服。溫中下氣，癥瘕積脹悉皆除。開胃扶脾，消食去滯。生行則發汗有靈，炮黑則止血頗驗。</p>
<p>乾薑本辛，炮之則苦，守而不移，非若附子行而不止也。其止血者，蓋血虛則熱，熱則妄行，炒黑則能引補血藥入陰分，血得補則陰生熱退，且黑為水色，故血不妄行也。然血寒者可多用，血熱者不過用三四分，為嚮導而已。</p>
<p><u>姜味大辛，辛能僭上，亦能散氣，走血，久服損陰傷目，凡陰虛有熱者勿服。</u></p>

<h3>蜀椒</h3>
<p>味辛，性熱，有毒。入肺、脾、胃三經。杏仁為使。畏款冬花、防風、附子、雄黃。閉口者害人。</p>
<p>溫脾土，而擊三焦之冷滯，補元陽，而蕩六腑之沉寒。飲癖氣症和水腫，累建奇功，殺蟲止嘔及腸虛，恆收速效。通血脈則痿痹消除，行肢節則機關健運。椒目：「善消水腫，可塞耳聾。」</p>
<p>椒稟純陽之氣、乃祛寒濕，散風邪，溫脾胃，暖命門之良藥。</p>
<p><u>命門火衰，中氣寒冷者，宜之。若陰虛火旺之人，在所大忌。</u></p>

<h1>第二卷·形體用藥及專科用藥</h1>

<h2>頭面七竅</h2>

<h3>（一）巔頂、頭面用藥</h3>

<h4>天麻</h4>
<p>味辛，性平，無毒。入肝經。酒浸，煨熟，焙乾。</p>
<p>風虛眩暈，麻痹不仁。語言蹇謇澀，腰膝軟疼。理風癇驚氣。治恍惚失神。</p>
<p>肝為風木之臟，藏血主筋，獨入肝經，故主治如上。</p>
<p><u>天麻，雖不甚燥，畢竟是風劑助火，若血虛無風者，不可妄投。</u></p>

<h4>白蒺藜</h4>
<p>又名刺蒺藜。味苦、辛，性平，無毒。入肺、肝二經。</p>
<p>去刺用。孕婦不宜服。</p>
<p>祛風而皮膚搔癢可止，平肝而眼目翳膜能除。頭疼眩暈堪定、鼻鼽，噴嚏無虞。</p>
<p>刺蒺藜主治肝肺、沙苑蒺藜主治在腎。刺者多治上部外部；沙苑者多治下部內部，是其區別。</p>

<h4>芎藭</h4>
<p>味辛，性溫，無毒。入肝經。白芷為使。畏黃連。</p>
<p>主頭痛面風，淚出多涕。寒痹筋攣，去瘀生新。調經種子，長肉排膿。小者名撫芎，止利且開鬱。</p>
<p>辛甘發散為陽，故多功於頭面，血和則去舊生新，經調而攣痹自解，長肉排膿者，以其為血中氣藥也。撫芎之止利開鬱，亦上升辛散之力。</p>
<p><u>芎藭性陽味辛，凡虛火上炎，嘔吐咳逆者，忌之。衍義云：「久服令人暴亡，為其辛喜歸肺，肺氣偏勝，金來賊木，肝必受侮，久則偏絕耳。」</u></p>

<h4>茺蔚子</h4>
<p>味辛，性微寒，無毒。入心胞、肝二經。忌鐵。</p>
<p>活血養肝，益精調經，頭痛眩暈，目赤欠明。</p>
<p>此子宜於血滯之目病。如瞳子散大者，忌用。頭痛眩暈而兼血滯之象者，用之更宜。又能除水氣，益心氣。</p>

<h4>藁本</h4>
<p>味辛，性溫，無毒。入膀胱經。惡䕡茹。</p>
<p>風家巔頂作痛，女人陰腫疝疼。</p>
<p>辛溫純陽，獨入太陽理風寒，疝瘕陰痛，皆太陽經寒濕為邪也。</p>
<p><u>頭痛挾內熱者，及傷寒發於春夏，陽證頭痛，不宜進也。</u></p>

<h4>蔓荊子</h4>
<p>味苦辛，性平，無毒。入肝、膀胱二經。惡烏頭、石膏。</p>
<p>頭風連於眼目、搜散無餘，濕痹甚而拘攣，展舒有效。</p>
<p>氣清味辛，體輕而浮，上行而散，故所主者，皆在風木之臟，目之與筋，皆肝所主也。</p>
<p><u>頭痛目痛，不因風邪，而因於血虛有火者，忌之。元素云：「胃虛人不可服，恐生痰疾。」</u></p>

<h4>夏枯草</h4>
<p>味苦、辛、性寒，無毒。入肝經。土瓜為使。</p>
<p>辛能散結，苦能泄熱。清肝火，防薄厥。陽浮於上，眩暈欲跌。目痛羞明，鼠瘻瘰癘。</p>
<p><u>夏枯草，久用亦傷胃家。</u></p>

<h4>荷葉</h4>
<p>味微苦，性平，無毒。入肝、脾、胃三經。</p>
<p>清熱解暑，升發清陽。助胃消食、蓋粥芳香。治頭暈與頭脹，發痘瘡以成漿。散宿血而止吐衄、止瀉痢而澀滑腸。巔頂昏蒙，如墮雲霧，與茶同用，開暢清涼。</p>
<p>荷蒂：可治雷頭風。</p>
<p>荷梗：去刺用，能通氣寬胸。夏受暑濕，胸悶不暢，用為藥引。</p>
<p><u>荷之全部，均能治病。今將藕、藕節、藕皮、蓮子、蓮心、蓮花瓣、蓮花須、蓮房等分立專條，供互相參考。</u></p>

<h4>桑椹子</h4>
<p>味甘、酸。性偏溫。入肝、腎二經。</p>
<p>補肝益腎，養血生津。頭旋心悸，目眩耳鳴。鬚髮早白，便秘難行。</p>
<p>此子能潤滑大腸，故大便稀者勿用。</p>

<h4>十大功勞葉</h4>
<p>原名枸骨。味苦，性涼。入肝、腎二經。</p>
<p>腰腳痿弱令健，陽浮於上使平。額沉頭暈，目眩耳鳴。</p>
<p>此物益腎平肝，用於調理上盛下虛之症有益。</p>

<h3>（二）鼻科用藥</h3>

<h4>辛夷</h4>
<p>味辛，性溫，無毒。入肝、胃二經。芎藭為使。惡五石脂。畏菖蒲、蒲黃、黃連、石膏。去心及毛。毛射肺中，令人發咳。</p>
<p>辛溫開竅，鼻塞與昏冒咸宜。清陽解肌，壯熱與憎寒並選。</p>
<p>肺開竅於鼻，而胃脈環鼻上行，凡中氣不足，清陽不升，則頭痛而九竅不利。辛夷稟陽春之氣，味薄而散，能助胃中清氣，上達高巔。故頭面諸竅，皆歸於治平也。</p>
<p><u>辛香走竄，虛人禁之，雖偶感風寒而鼻塞者，亦禁之。頭痛屬血虛火熾者，服之轉甚。</u></p>

<h4>白芷</h4>
<p>味辛，性溫，無毒。入脾、胃、大腸三經。當歸為使。</p>
<p>惡旋覆花。微焙。</p>
<p>通鼻塞，祛濁涕。頭風目淚，齒痛眉疼，肌膚搔癢，嘔吐不寧，女人赤白帶下，瘡家止痛排膿。</p>
<p>色白味辛，行手陽明庚金；性溫氣厚，行足陽明戊土；芳香上達，人手太陰辛金。肺者，庚之弟，戊之子也，故主治不離三經。</p>
<p><u>白芷，燥能耗血，散能損氣，有虛火者，勿用。癰疽已潰，宜漸減去。</u></p>

<h4>蒼耳子</h4>
<p>味甘、苦，性溫，無毒。入肝經。忌豬肉、米泔。去刺，酒拌蒸。</p>
<p>通鼻塞，去膚癢。能發汗，散風濕。主肢攣目暗，療眩暈頭疼。</p>
<p><u>其性上通腦頂，下行足膝，外達皮膚，乃走散之品也。虛人豈可久服多服。</u>（作浴湯，治遍身瘙癢。瘡疥採根葉熬服，名萬應膏。）</p>

<h4>絲瓜藤根</h4>
<p>味甘，氣芳，性平，無毒。入肺經。</p>
<p>專治鼻淵、通氣斷涕、研末炒服、常用有利。</p>
<p>此物可用至地上五尺之處。曬乾、研末，入鍋炒，待散發香氣取起，每用一錢至二錢，紅糖水調服。亦能治老年之咳嗽多痰者。</p>

<h4>蕺菜</h4>
<p>一名魚腥草，以其味如魚氣也。味辛，氣腥，性微溫。</p>
<p>有小毒。入肺、大腸二經。</p>
<p>鼻中發腥臭，肺癰唾膿血。塗痔瘡，熏肛脫。寬胸膺，除濕熱。</p>
<p>此物可作菜食，炒熟則無腥氣矣。老人胸痛，嚼食可止。</p>

<h4>木芙蓉花及葉</h4>
<p>味微辛，性平，無毒。入肺經。</p>
<p>清肺涼血，散熱解毒。消腫止痛，排膿除濁。鼻齆難通，以之內服，咳唾臭痰，仗其清肅。</p>
<p>癰癤疔瘡，痄腮時毒，用作外敷，能於平復。</p>
<p><u>此花又名拒霜花，性滑涎黏。內服多花葉並用，外塗則單用其葉，伍以菊花葉、紅豆粉尤妙，名清涼散。</u></p>

<h4>鵝不食草</h4>
<p>（見外治）</p>

<h3>（三）眼科用藥</h3>

<h4>穀精草</h4>
<p>味甘，性溫，無毒。入肝、胃二經。</p>
<p>頭風翳膜遮睛，眉痛牙疼疥癢。</p>
<p>田中收谷後多有之，田低而谷為水腐，得谷之餘氣結成，此草其亦得天地之和氣者歟？兔糞名望月沙，兔喜食此草，故目疾家收之。如未出草時，兔糞不可用也。</p>

<h4>決明子</h4>
<p>味鹹，性平，無毒。入肝經。</p>
<p>青盲內障、翳膜遮睛。赤腫眶爛，淚出羞明。</p>
<p>此馬蹄決明也，以決能明目，故得此名。另有草決明、石決明與之同功，而各為一種。石決明獨與雲母石相反。</p>

<h4>密蒙花</h4>
<p>味甘、性平，無毒。入肝經。酒潤，焙。</p>
<p>養營和血，退翳開光。大人眥淚羞明，小兒痘疳攻眼。</p>
<p>獨入東方，為滌熱和營之用，故治目之外，無他長也。</p>

<h4>蕤仁</h4>
<p>味甘，性溫，無毒。入肝經。湯浸，去皮、尖，水煮過，研膏。</p>
<p>退翳膜赤筋，理眥傷淚出。破心下結痰，除腹中痞氣。</p>
<p>外能散風，內能清熱，肝氣和則目疾愈。痰痞皆熱邪為祟，故宜並主。</p>
<p><u>目疾不緣風熱，而因於虛者勿用。</u></p>

<h4>木賊草</h4>
<p>味甘、苦，性平，無毒。入肝經。</p>
<p>迎風流淚，翳膜遮睛。</p>
<p>木賊為磋擦之需，故入肝而伐木。去節者善發汗，中空而輕，有升散之力也。</p>
<p><u>木賊，多服損肝，不宜久用。</u></p>

<h4>夜明砂</h4>
<p>味辛，性寒。入肝經。惡白薇、白蘞，淘淨，焙用。</p>
<p>明目活血、行瘀清積。</p>
<p>即蝙蝠矢也，因食蚊，砂皆蚊眼，故治目疾。本草稱其下死胎，則其攻血積也，何疑。</p>

<h4>紫貝齒</h4>
<p>味鹹，性平，無毒。入脾、肝二經。</p>
<p>除熱平肝，安神明目。治驚愓而不眠，退遮睛之翳膜。</p>
<p>此物煎湯須打碎或研末。外用點眼須水飛。</p>

<h4>羊膽</h4>
<p>（見食療）</p>

<h4>爐甘石</h4>
<p>（見外治）</p>

<h4>銅青</h4>
<p>（見外治）</p>

<h3>（四）耳科用藥</h3>

<h4>龍膽草</h4>
<p>味苦、澀，性大寒，無毒。入肝、膽二經。惡地黃。酒浸炒。</p>
<p>大苦大寒，性沉而降，主肝膽熱邪，耳鳴頭脹。清下焦濕火，陰癢生瘡。火炎上而咽痛，濕蘊中以目黃。小兒高熱驚癇，成人傷寒發狂。</p>
<p>稟純陰之氣，但以盪滌肝膽之熱為職。</p>
<p><u>龍膽大苦大寒，苟非氣壯實熱之證，不能率爾輕投。</u></p>

<h4>女貞子及葉</h4>
<p>味苦，性平，無毒。入肝、腎二經。</p>
<p>滋肝陰以明目，益腎陰以聰耳。黑鬚發，養精神。膂力加倍，腰膝健壯。合鱧腸成二至之丸，為益陰妙品，齦衄頭昏均可治。伍荷葉為二至之茶，乃清上佳飲，額疼眩暈，陽浮巔頂總堪嘗。</p>
<p>稟天地至陰之氣，故凌冬不凋，氣薄味厚，陰中之陰，降也。雖曰補益，偏於陰寒者也。</p>
<p><u>脾胃虛家，久服之往往腹痛作瀉。又尚有女貞子、桑椹子、蔓荊子合用之驗方，名三子煎，治頭風及因虛風動，有抽筋之感覺者。</u></p>
<p>女貞葉：味微苦，性平，無毒。</p>
<p>除風散血，消腫定痛。治頭目昏疼，祛血凝熱腫。口舌生瘡，搗汁含用。</p>

<h4>黑豆</h4>
<p>（見食療）</p>

<h4>骨碎補</h4>
<p>味苦，性溫，無毒。入腎經。去毛，蜜蒸。</p>
<p>主骨碎折傷，去瘀生新。耳響不聰、牙疼發落。上熱下冷、腎虛泄瀉。</p>
<p>所治諸症，皆是足少陰腎經。觀其命名，想見功力。戴元禮用以治骨痿有效。</p>
<p><u>經疏云：「勿與風燥藥同用。」</u></p>

<h4>菖蒲</h4>
<p>味辛，性溫，無毒。入心、脾二經。秦艽為使。惡麻黃。忌飴糖、羊肉。勿犯鐵器，令人吐逆。石生，細而節密者佳。去毛，微炒。</p>
<p>宣五臟，耳聰目明，通九竅，心開智長。和中闢濁，能出音聲。風寒濕痹宜求，咳逆上氣莫缺。止小便利，理膿疱瘡。</p>
<p>菖蒲，稟孟夏之氣，合從革之辛，芳香利竅，辛溫達氣，心脾之良藥也；故善宣通，能除濕痹。</p>
<p><u>菖蒲香燥，陰血不足者，禁之。惟佐地黃、門冬之屬，資其宣導，臻於太和。與遠志伍，入涼膈散，名轉舌膏，可清心寧神，轉舌活命。</u></p>

<h4>路路通</h4>
<p>味苦、澀，性平，無毒。入脾經，兼能通十二經。</p>
<p>能通十二經穴、祛邪辟瘴卻瘟。除筋絡拘攣，治周身痹疼。通竅活血，通乳行經。利水除濕，腫消全身、薰衣除蚤、闢穢須焚。</p>
<p>此藥鼻科、耳科常用之，蓋取其通竅活血也。</p>

<h4>磁石</h4>
<p>味辛、性溫，無毒。入腎經。惡牡丹皮、莽草。畏石脂。火煅，醋淬，水飛。</p>
<p>治腎虛之恐怯，鎮心臟之怔忡。能消目障、可治耳聾。</p>
<p>鎮心益腎，故磁朱丸用之，可暫用，不可久也。咽痛久久不愈，查無所見者，用之能引熱下行。</p>

<h4>苦丁茶</h4>
<p>味甘，性苦，氣香，無毒。入肝、腎二經。乃取歙縣之茶葉以苦丁葉（即枸骨，俗名老鼠刺）同焙製成，故又稱角刺茶。</p>
<p>清頭目，散肝風。瀉腎火，涼胞宮。活血脈，斷斯螽。聤耳流膿，耳鳴或聾。陰浮於上，眩暈瞈矇。</p>
<p>孕婦忌用。</p>

<h4>虎耳草</h4>
<p>（見外治）</p>

<h3>（五）咽喉科用藥</h3>

<h4>陳蘿蔔英</h4>
<p>味辛、苦，性平。入肺、脾、胃、腸、三焦等經。</p>
<p>清咽消痰，下氣和中。喉痛失音、胸悶腹膨。化積滯，利關節，散瘀血治痢疾。</p>
<p>立冬時，拔取扁白小蘿蔔、連葉臥於地、數日之後、葉即翹起、而根心已空、乃根汁已入葉中矣，故能具如上之效，切下風乾備用。乃咽喉病不可或缺之藥也。</p>

<h4>金蓮花</h4>
<p>味微苦，質滑，性寒，無毒。入肺及心、肝、脾、腎諸經。</p>
<p>治口瘡喉腫，消浮熱牙宣。耳疼目痛均治、疔瘡大毒能痊。</p>
<p>此藥既可仗其寒涼敗毒，治急熱之症。又可用以泡茶，清上清火，治諸種慢症。其氣芳香，沏之藥色與茶色相兼，頗為悅目。</p>

<h4>甘草</h4>
<p>詳見補氣藥，茲將有關咽喉部分補述於此。</p>
<p>治咽喉症，多仗此品：紅腫者用之，取其清咽也。多伍桔梗、陳蘿蔔英、金蓮花等用。破潰、生瘡、起泡者用之，取其清火也。多伍元參、升麻或黃連用。腐爛者用之，取其解毒也。多伍七葉一枝花或金果欖用。殗殜久而虛弱咽喉痛者用之，取其補益也。多伍玉竹、北沙參用。入吹喉藥中，又有止痛、消腫、緩急，利於吞嚥及改善藥味諸作用。療治咽喉疾患，除兼有嘔吐者外，（必要時，亦可用甘草露以代之）往往以之與諸藥配合而行，可作主藥，又可作輔藥及佐使藥。喉癰、喉癤、喉疔則改用甘草節，以其專治腫毒諸瘡也。</p>

<h4>桔梗</h4>
<p>味苦、辛，性平，無毒。入肺經。畏白芨、龍膽草。泔浸，去蘆，微焙。</p>
<p>清肺熱以除癰痿，通鼻塞而理咽喉。排膿行血，下氣消痰。定痢疾腹痛，止胸脅煩疼。</p>
<p>桔梗為舟楫之劑，引諸藥上至高之分以成功，肺經要藥也。風症、鬱症、肺證皆不可缺。</p>
<p><u>桔梗、功著於華蓋之臟，攻補下焦藥中，不可入也。</u></p>

<h4>殭蠶</h4>
<p>味鹹、辛，性溫，無毒。入肺、脾二經。惡桑螵蛸、桔梗、茯苓、萆薢。米泔浸一日，待涎浮水上，微火焙乾、去絲及黑口甲。</p>
<p>祛風解痙，清咽消腫。治中風失音，去皮膚風癢。化風痰，消瘰癧，拔疔毒，滅瘢痕，男子陰癢，女人崩淋。</p>
<p>即蠶之病風者，用以治風，殆取其氣相感歟。</p>
<p>蠶蛻與蠶連紙，治牙齦、咽喉、聲音諸病。</p>

<h4>蟬殼</h4>
<p>味鹹，性寒，無毒。入肺、肝、脾三經。沸湯洗淨，去足翅，曬乾。</p>
<p>清咽喉、療喑啞。快痘疹之毒。宣皮膚之風，小兒驚癇夜啼、目疾昏花障翳。</p>
<p>感木土之氣，吸風飲露，其氣清虛，故主療皆風熱之恙，又治音聲不響及嬰兒夜啼，取其晝鳴夜息之義也。</p>
<p><u>痘疹虛寒證，忌服。</u></p>

<h4>馬勃</h4>
<p>味辛，性平，無毒。入肺經。</p>
<p>清肺而喘嗽失音可治，解熱而喉疼鼻衄堪瘳。外敷諸瘡，兼能散血。</p>
<p>生濕地朽木上，狀如肺肝，紫色虛軟，彈之粉出，取粉用。</p>

<h4>牛蒡子</h4>
<p>一名鼠黏子，一名惡實。味辛，性平，無毒。入肺經。</p>
<p>酒炒，研。</p>
<p>滑能瀉熱，辛可散結。宣肺氣，理痘疹，清咽喉，消腫毒。</p>
<p>開毛竅，除熱毒，為痘疹要藥。</p>
<p><u>牛蒡子，性冷而滑，惟血熱便閉者宜之，否則忌用。</u></p>

<h4>浙貝母</h4>
<p>又稱大貝母。味苦，性微寒，無毒。入肺、肝二經。</p>
<p>清肺平肝，止咳化痰。消腫散結，喉蛾時毒。配合栝蔞，可以潤腸。玄參牡蠣，同治瘰癧。</p>
<p>浙貝消腫，尤其上部之腫，其效甚捷，如咽喉、口舌、牙齦、唇頰、頸項、鼻腔等之結塊與腫厚者，均可以消散。又：川貝用於內傷，浙貝用於外感，宜加區別。</p>

<h4>射干</h4>
<p>味苦，性平，有毒。入肺經。泔浸煮之。</p>
<p>清咳逆熱氣，捐喉痹咽疼。治弄舌與搖頭，除蟲蛇之毒螫。</p>
<p>泄熱散結，多功於上焦。一陰一陽結之急症關下喉痹，妨於吞嚥。與鬱金等為伍，以入心包之牡丹花，走三焦之梔子花為引經，其效甚捷。</p>
<p><u>射干雖能泄熱，不能益陰，故別錄云：「久服令人虛，虛者大戒。」</u></p>

<h4>紅牡丹花瓣</h4>
<p>味辛、苦，性平。入心胞經。</p>
<p>急症喉痹，與梔花為伍，可解手厥陰，手少陽之結。吞嚥有礙，與射干共用，能除咽堵塞、食難下之危。</p>
<p>此花瀉伏火而散結，又能涼血活血。故急症關下喉痹用之，有奇功。</p>

<h4>梔子花瓣（連蒂用）</h4>
<p>味微苦、性平、無毒。入肺、三焦二經。</p>
<p>瀉火消痰，清熱除煩。急症關下喉痹，配伍牡丹射干。</p>
<p>朱丹溪謂梔子瀉三焦火，解熱鬱，行結氣。《滇南本草》謂梔子花瀉肺家實痰實火。與牡丹花瓣同行，解急症關下喉痹之危，有顯效。</p>

<h4>山豆根</h4>
<p>味苦，性寒，無毒。入心、肺二經。</p>
<p>含之咽其汁，解咽喉腫毒。切片夾患處，治牙齦腫痛。消熱結瘡瘍，下寸白諸蟲。</p>
<p><u>其味大苦大寒，脾胃所苦。食少而瀉者，切勿沾唇。</u></p>

<h4>錦燈籠</h4>
<p>味酸、苦，性偏寒，無毒。入肺，小腸二經。</p>
<p>肺熱咳嗽，咽痛生瘡，能利小便，亦治目黃。</p>
<p>此藥清肺火，能消痰，故治小兒風溫及咽中生瘡甚效。然其味惡，須與甘草同行，方易下咽。孕婦忌用。</p>

<h4>鴨跖草</h4>
<p>味苦，性寒，無毒。入心、肝、脾、肺、腎、大小腸、膀胱諸經。</p>
<p>退熱去火、消腫利尿。咽喉紅腫疼痛，高燒難嚥，垂危，鮮者煎水，熱退春回。若兼浮腫，或歷節痹、小溲短少，口渴無苔，赤豆同煮，切勿徘徊，疔瘡丹毒，亦可消災。</p>
<p>此草苦寒瀉火，引熱下行，但須火熱內蘊之症，方可投之。</p>

<h4>金果欖</h4>
<p>味極苦，性涼，無毒。入肺、胃二經。</p>
<p>寒涼敗毒，靖咽清上。咽喉紅腫腐破，口爛目痛耳脹。磨汁內服，生效極良。亦可外用、吹嗓治瘍。</p>
<p>此藥味大苦，若與甘草同行，既可矯味，又能增加療效。但須磨汁兌服。其效更顯。又可磨敷腫毒，冷塗，能止其急痛。研末加冰片，作吹藥亦佳。</p>

<h4>金鎖銀開</h4>
<p>又名野蕎麥。味辛，性偏涼。入肺、肝二經。</p>
<p>解毒消腫，通塞去痰。喉閉用之，可使開關。</p>
<p>咽喉閉塞不通，用其根醋磨含漱，去痰涎而閉者可開，其莖葉亦可煎湯內服，清痰消腫。項部兼有腫塊者，外治內服均可。</p>

<h4>雪裡青</h4>
<p>即白毛夏枯草，一名筋骨草。味苦，性寒，無毒。入肺經。</p>
<p>喉蛾紅腫，火旺口乾。清咽解毒，止咳去痰。養筋和血，痹痛能安。</p>
<p>咽喉病火熱象重者，用之尤宜。</p>

<h4>荔枝草</h4>
<p>味苦辛，性涼。</p>
<p>清解熱毒，咽喉腫痛能消。涼血利尿，浮腫溲渾可治。外用止血，研末塗痔。</p>
<p><u>咽喉腫甚難嚥者，亦可用其汁探吐。</u></p>

<h4>玄參</h4>
<p>味苦，咸，性微寒，無毒。入腎經。惡黃耆、乾薑、大棗、山茱萸。反藜蘆。忌銅器。蒸過曬乾，黑潤者佳。</p>
<p>滋陰降火，益腎生津。解煩渴，利咽喉。明眼目，清蒸熱。癆證骨蒸，傷寒斑毒。外科瘰癧癰疽，女科產乳余疾。</p>
<p>色黑味鹹，腎家要藥、明目除蒸，皆壯水之效也。至如咽痛煩渴，癍毒癧瘡，皆肺病也。正為水虛火亢，金受賊邪，但與壯水鎮其陽光，產乳余疾，亦屬陰傷，故應並主。《石室秘錄》云：「玄參去浮游之火。」又云：「亦能平胃火之浮游。」</p>
<p><u>玄參寒滑、脾虛泄瀉者禁之。</u></p>

<h4>麥門冬</h4>
<p>味甘，微寒，無毒。入心、肺二經。地黃、車前為使。</p>
<p>惡款冬花。忌鯽魚。肥白者佳，去心用。</p>
<p>退肺中伏火，止渴益精，清心氣驚煩，定血療咳。燥咳痰稠宜用，咽乾津少頻嘗。</p>
<p>麥門冬，稟秋金之微寒，得西方之正色，故清肺多功。心火焦煩，正如盛暑，秋氣一至，炎蒸若失矣。心主血，心既清寧，妄行者息。脾受濕熱、則肌肉腫而腸胃滿，熱去即濕除，腫滿者自愈。金不燥，則不渴。金水生，則益精。</p>
<p><u>麥門冬與天門冬，功用相當，寒性稍減，虛寒泄瀉，仍宜忌之。</u></p>

<h4>枸橘葉</h4>
<p>一名臭橘、臭枳，味辛、苦，性溫。</p>
<p>其臭導毒，其宣解鬱。療咽喉怪症生瘻，治後重下痢膿血。</p>
<p>夏子益奇病方云：「咽喉生瘡，層層如疊。不痛，日久出臭氣，廢飲食，用臭橘葉煎湯，連服必愈。」李時珍謂此葉「治喉瘻消腫導毒」。其果實亦能治喉蛾。</p>

<h4>絡石藤</h4>
<p>味甘、微酸，性平，無毒。入心、脾、胃、腎四經。</p>
<p>消咽腫，利關節，喉舌腫閉，水漿不入，可消流注，能堅筋骨。</p>
<p>此藥以開芳香小白花者為良，喉蛾與關節腫痛併發者宜用。</p>

<h4>紫荊皮</h4>
<p>味苦，性平，無毒。入心包、肝二經。</p>
<p>活血行氣止痛，消腫散結解毒。癰疽未成，釀膿未熟、速破宿血、未固先逐。喉癰初起、用之煎服。往往能消、免生危篤。外敷瘍腫，其勢可束。</p>
<p>此藥用之宜早、能消癰腫於血氣剛凝之際。外消之力亦大。如意金黃散中即用之。</p>

<h4>訶黎勒</h4>
<p>味苦，性溫，無毒。入肺、大腸二經。蒸，去核，焙。</p>
<p>固腸而泄痢咸安，斂肺而喘嗽俱止，利咽喉而通津液，可以清音。下食積而除脹滿，能驅冷氣。</p>
<p>按其主用，皆溫澀收斂之功，若肺有實熱，瀉痢因濕熱，氣喘因火沖，法咸忌之。</p>

<h4>蓬砂</h4>
<p>味苦，辛、性寒，無毒。入肺經。</p>
<p>治咽喉痛，最為切要。潤嗓開音，生津止燥。積聚堪嘗，咳嗽有效。華蓋失其清肅，痰熱壅於上焦。雖作內服，用量宜少。外治多端，主在七竅，目翳耳膿可點，鼻胬木舌能消。谷賊與骨哽噙除，齦腫與口氣含妙。用洗潰瘍，淨而膿少。</p>
<p>性能柔五金，則消克可知，但療有餘，難醫不足。虛勞證內服非所宜也。</p>

<h4>百草霜</h4>
<p>味辛，性溫，無毒。</p>
<p>清咽治痢，解熱定血。療陽毒發狂，醫瘡生口舌。</p>
<p>黑奴丸。用以療陽毒發狂，亦從治之義也。</p>

<h4>玄精石</h4>
<p>味甘、咸，性寒，無毒。入肺、心、胃、腎四經。</p>
<p>咽喉腫痛，不利似噎。重舌腫脹，涎出不絕。目生赤脈，頭痛如裂。成人傷寒，小兒風熱。狂言煩渴，虛汗肢厥。面色青黑，心下滿結。熱深傳裡，危在旦夕。甘寒沉降，扶危拯逆。</p>
<p>此藥之功，主要在於「降」字，故治熱盛於上之疾多功。此李時珍之卓見。張氏又增「沉」字，更為中肯。《方氏脈症正宗》謂「肺胃蘊熱生痰，玄精石研極細，每服三分，煉蜜一匙和白湯調服。」用之頗有良效。</p>

<h4>石蟹</h4>
<p>味鹹、性寒，無毒。入肺、心、胃、肝四經。</p>
<p>喉痹劇痛，磨其汁，內服外敷均效。青盲目翳，入湯液，撥雲開霧有靈。救漆瘡中蠱，治熱疾天行。既可催生，又療血運。</p>
<p>馬志謂此物須「細研水飛，入諸藥相助用之」。《玉揪藥解》謂其「清心瀉熱」。孕婦忌服。</p>

<h4>土牛膝</h4>
<p>味苦、酸，性平。生用入肺、胃二經。</p>
<p>搗汁生吞，治喉風、湧吐痰涎，能於救急。用之煎服，消咽腫，清火降濁，引熱下行。</p>
<p><u>此即野生牛膝，俗稱方梗對葉草。生用之以湧吐救急，往往轉危為安。曬乾研末，又可伍薄荷、硼砂、冰片等，作吹喉藥用。另有一種杜牛膝，也混稱土牛膝，亦具良效，別詳下條。</u></p>

<h4>杜牛膝</h4>
<p>味甘辛，性平。入肺經。</p>
<p>咽喉腫痛，搗汁鵝翎探掃。湯水不下，用之可以開關。</p>
<p><u>杜有假借之意。引伸之，又有代替之意。即功效與莧科植物土牛膝相仿，可用之代替治咽喉者。一名天名精，亦即李時珍所謂開小黃花如小野菊花者，乃菊科植物，近世華南　用以　治白喉者即此種。過去土牛膝與杜牛膝兩種每每混稱。當依本草綱目，專稱天名精之根為杜牛膝，以示區別。</u></p>

<h4>秋海棠梗</h4>
<p>（見外治）</p>

<h4>西瓜霜</h4>
<p>（見外治）</p>

<h4>綠萼梅花</h4>
<p>味微酸、澀，性平，無毒。入肝、肺二經。</p>
<p>開鬱和中、生津除渴。止口燥飲而不解、治咽乾如有異物。躁煩易怒多疑，酸以柔之可擇。</p>
<p>此花同諸藥製為丸，遠行含之，可以不渴。</p>

<h4>玫瑰花</h4>
<p>味甘、微苦，氣香、性溫。入脾、肝二經。</p>
<p>理氣散氣，和血行血，止痛寬胸，開鬱解結。咽喉阻窒，如有葉貼。酒煎內服，乳腫可滅。少林拳經明載，用治損傷僕跌。</p>
<p>此花亦可與香櫞花同作茶劑，飲之能消胸中鬱悒之氣。</p>

<h4>木蝴蝶</h4>
<p>味苦，性偏寒，無毒。入肺、肝二經。</p>
<p>平肝潤肺，止痛和中。脘脅時疼，音啞不洪。潰瘍日久，貼之能封。</p>
<p>音嗄，由於肝肺不舒者，用之尤宜。</p>

<h4>青蘘</h4>
<p>即芝麻葉。味甘，性微寒，無毒。能入肺、心、脾、肝、腎、大腸諸經。</p>
<p>安五臟，健頭面。益氣腦髓補，祛風筋骨堅。風寒濕痹可去，傷於暑熱能蠲。皮膚澤滑，血色和妍。聰耳明目，返老壽延。咽喉欠爽，嚼之可痊。湯沐祛風發潤矣，作蔬毒解腸潤焉。</p>
<p>此為平和無害之良藥，不能以其易得而忽之。唯藥肆不備，須預蓄焉。</p>

<h4>芝麻殼</h4>
<p>俗稱芝麻鈴。性味同青蘘。</p>
<p>酒水煎治半身不遂，得汗生效。燒存性治湯火外傷，麻油調塗。咽喉不利覺堵，煎之常服能除。</p>
<p>此物於收成後，趁殼青時，陰乾收藏備用。</p>

<h4>棉花殼</h4>
<p>味甘，性溫。入胃經。</p>
<p>爽利咽關、通暢食嗓。降氣平逆、吞嚥無妨。</p>
<p>此即棉桃之果皮，收花後趁青陰乾、收貯備用。本草綱目拾遺謂「用此忌食鵝。」</p>
<p>棉根：能強壯體力、可代黃耆。</p>

<h3>（六）口齒科用藥</h3>

<h4>營實（附根、葉）</h4>
<p>即薔薇。味酸、澀，性微寒，無毒。入胃經。</p>
<p>治上焦有熱，咽喉痛癢，以及口瘡糜爛。利關節筋骨，歷節風疼，又主遺尿好暝。</p>
<p>冬用根皮，夏用枝葉，秋用子。專達陽明解熱，為口瘡之聖藥，內服外用皆宜。以其性澀，故兼有遺尿之療也。</p>

<h4>蘆根</h4>
<p>味甘，性寒，無毒。入肺、胃二經。</p>
<p>清肺胃火，生津止渴。治肺癰，除嘔噦。胸中煩熱，鮮者煎嘗。牙疳腐爛，生飲其汁。</p>
<p>入太陽、陽明，清熱下降，故主治如上。</p>
<p>蘆芽，能解河魨毒。按霍亂嘔吐，由於寒者勿服。</p>

<h4>絲瓜絡</h4>
<p>味甘，性平，無毒。入肺、胃、肝三經。</p>
<p>通經絡，行血脈。去風化痰、涼血解毒。風熱襲絡，項僵頭木。喉閉齦腫，痄腮時毒。腸風痔漏，下血危篤。乳汁不通，燒研酒服。</p>
<p>鮮絲瓜葉，可搗敷天泡瘡。若和入碧玉散（即六一散加青黛）更妙。</p>
<p>絲瓜藤治鼻病，絲瓜作食療、另列專條。</p>

<h4>升麻</h4>
<p>味甘，苦，性平，無毒。入肺、胃、脾、大腸四經。青色者佳，忌火。</p>
<p>解百毒，宣肌腠。闢疫瘴，止喉疼。頭痛齒痛，口瘡斑疹。散陽明風邪，升胃中清氣。</p>
<p>稟極清之氣而升，得陽氣之全者也。故宣腠辟邪。頭、喉、口齒皆在高巔之上，風邪、斑疹皆在清陽之分，總獲其升清之益。凡氣虛下陷，如瀉痢崩淋，脫肛遺濁，須其升提，虛人之氣，升少降多。內經曰：「陰精所奉其人壽，陽精所降其人天」。東垣取入補中湯，獨窺其微矣。</p>
<p><u>升麻屬陽性升，凡吐血、鼻衄、咳嗽多痰、陰虛火動，氣逆嘔吐、怔忡癲狂，切勿誤投。</u></p>

<h4>蒲黃</h4>
<p>味甘，性平，無毒。入心包、肝二經。</p>
<p>生用破瘀消腫，炒用補血止血，醫血氣心腹痛，外治塗耳與舌。舌脹滿口，重舌生瘡。以此頻摻，平復如常。</p>
<p>此與五靈脂同行，名失笑散。乃應急之名方。</p>

<h4>木槿花</h4>
<p>味甘、淡，性涼。質滑無毒。</p>
<p>清濕熱，涼血熱。久痢帶下，痔瘡出血。口內之瘡頻發，常用頗有效益。</p>
<p>此花質滑，可打滷拌入麵條，以作食療。口瘡屢屢發作，用之有良效。</p>

<h4>臘梅花</h4>
<p>味辛、性溫，無毒。</p>
<p>解暑生津，點茶頻飲。口乾舌燥、用之多靈。</p>
<p>此花溫而不燥，乃溫潤之劑也。</p>

<h4>露蜂房</h4>
<p>味甘，性溫，有毒。惡乾薑、丹參、黃芩、芍藥、牡蠣。炙。</p>
<p>止風蟲牙齒之痛，拔疔瘡附骨之根。起陰痿而止遺尿，洗乳癰而塗瘰癧。</p>
<p>蜂房乃黃蜂之巢，蜂大房大，且露天樹上者為勝。</p>
<p><u>其用，以毒攻毒，若癰疽潰後，禁之。</u></p>

<h2>四肢百骸</h2>

<h3>（一）養筋骨利關節</h3>

<h4>秦艽</h4>
<p>味苦、辛，性平，無毒。入肝、膽、胃三經。菖蒲為使。</p>
<p>畏牛乳。左紋者良。</p>
<p>祛風活絡，養血舒筋。能利濕養胎，治黃疸骨蒸。</p>
<p>秦艽長於養血，故能退熱舒筋。治風先治血，血行風自滅，故療風無間久新。入胃祛濕熱，故小便利，而黃疸愈也。</p>
<p><u>下部虛寒、小便不禁及大便滑者忌用。</u></p>

<h4>續斷</h4>
<p>味苦、辛，性微溫，無毒。入肝經。地黃為使。惡雷丸，酒浸，焙。</p>
<p>補肝腎，治勞傷。通經絡，續筋骨。破閼結，利關節。縮小便，止遺泄。癰毒宜收，胎產莫缺。</p>
<p>補而不滯，行而不泄，故外科女科，取用宏多也。</p>
<p><u>雷公云：「草茆根，似續斷，誤服令人筋軟。」</u></p>

<h4>杜仲</h4>
<p>味辛，甘，性溫，無毒。入肝、腎二經。惡玄參、蛇蛻。去浮皮，酥炙。</p>
<p>強筋壯骨，益腎添精，腰膝之疼痛皆痊。遍體之機關總利。</p>
<p>腎苦燥，急食辛以潤之。肝苦急，急食甘以緩之。杜仲辛甘，故主用如上。亦治陰下濕癢、小便餘瀝。</p>
<p><u>腎虛火熾者勿用。</u></p>

<h4>狗脊</h4>
<p>味苦，性平，無毒。入肝、腎二經，萆薢為使。銼，焙。</p>
<p>強筋最奇，壯骨獨異，男子腰腳軟疼，女人關節不利。</p>
<p>狀如狗之脊，故名狗脊，以形得名也。別名扶筋，以功得名也。</p>

<h4>五加皮</h4>
<p>味辛，性溫，無毒。入腎、肝二經。遠志為使。惡玄參。</p>
<p>明目舒筋，歸功於藏血之海。益精縮便，得力於閉蟄之官。風濕宜求，疝家必選。</p>
<p>五加皮，服食家誇之不已，嘗曰：寧得一把五加，不用金玉滿車。雖詞多溢美，必非無因，而獲此譽也。</p>
<p><u>下部無風寒濕邪而有火，及肝腎虛而有火者，皆忌之。</u></p>

<h4>石南葉</h4>
<p>味辛、苦，性溫，無毒。入肝、腎二經。關中者佳。</p>
<p>利皮毛筋骨，治風痹內傷。男子陽衰堪酌服，婦人陰冷可頻嘗。</p>
<p>今人不用，以藥性論有陰痿之說耳。不知能令腎強。人或藉此縱欲，以致痿弱，豈其咎哉。</p>

<h4>桑枝</h4>
<p>味微苦，性平，無毒。入肝、脾二經。</p>
<p>祛風濕，利關節。肩臂痠疼，肌膚麻木。</p>
<p>此物性極平和，可久服，亦可泡酒頻飲。</p>

<h4>桑寄生</h4>
<p>味苦，性平，無毒。入肝經。忌火。</p>
<p>和血脈，充肌膚，而齒髮堅長。舒筋絡，利關節，而痹痛捐除。安胎簡用，崩漏徵醫。</p>
<p>能益血，兼能去濕，故功效如上。海外深山、地暖不蠶、桑無採捋之苦，氣化濃密，自然生出。有言鳥銜他子，遺樹而生者，非也。</p>

<h4>松節</h4>
<p>味苦，性溫，無毒。入肝、腎二經。</p>
<p>舒筋止肢節之痛，去濕搜骨肉之風。</p>
<p>苦燥溫通、能燥血中之濕，故陰虧血虛者不宜多用。</p>

<h4>豨薟</h4>
<p>味苦，性寒，有小毒。入肝、腎二經。</p>
<p>肢節不利，肌體麻痹，腳膝軟疼，纏綿風氣。</p>
<p>能宣能補，故風家珍之。本草相傳，功用甚奇。然近世服之，經年罕效。意者，製法未盡善歟？風氣有分別歟？藥產非道地歟？亦以見執方者之失也。</p>
<p><u>豨薟，長於理風濕，畢竟是祛邪之品，恃之為補，未敢信也。</u></p>

<h4>木瓜</h4>
<p>味酸，性溫，無毒。入肝經。陳者良。忌鐵，去穰。</p>
<p>筋急者，得之即舒；筋緩者，遇之即利。濕痹可以兼攻，腳氣惟茲最要。</p>
<p>得東方之酸，故入厥陰治筋，非他藥所能儔匹。東垣云：「氣脫能收，氣滯能和，故於筋急、筋緩，兩相宜耳。」</p>
<p><u>孟洗云：「多食損齒及骨。」素問所謂陰之所生，本在五味，陰之所營，傷在五味，五味太過，則有增勝之憂也。</u></p>

<h4>牛膝</h4>
<p>味苦、酸，性平，無毒。入肝、腎二經。惡龜甲，忌牛肉，酒蒸。</p>
<p>壯筋骨，利腰膝，除寒濕，解拘攣。益精強陰，通經墮胎。理膀胱氣化遲難，引諸藥下行甚捷。</p>
<p>肝為血海而主筋，血海得補則經通，而攣急者解矣。骨者，腎所司也；腰者，腎之府也；精者，腎所藏也；小便者，腎所主也。補腎則眾疾咸安。寇宗奭云：「牛膝同蓯蓉浸酒飲，益腎。」墮胎者，以其破血下行耳。《石室秘錄》云：「牛膝乃引下之絕品」。</p>
<p><u>牛膝主用，多在腎肝下部，上焦藥中勿入，氣虛下陷，血崩不止者戒用。</u></p>

<h4>天仙藤</h4>
<p>即馬兜鈴之藤葉也。味苦，性偏溫。入脾、肝二經。</p>
<p>流氣活血，利水除風。化濕止痛，鬱滯宣通。經遂暢達、絡道和融。腿膝痠疼，妊娠水腫。</p>
<p>此藥功用雖多、不出宣通氣血四字。《成方切用》謂其「能解血中之風氣」。對奇經八脈之陽維、陰維、陽蹺、陰蹺有強健及療治之功。</p>

<h3>（二）搜逐風寒濕</h3>

<h4>獨活、羌活</h4>
<p>味苦、甘，性平，無毒。入小腸、膀胱、肝、腎四經。</p>
<p>風寒濕痹，筋骨攣疼。頭旋掉眩、頸項難伸。</p>
<p>本入手足太陽表裡引經，又入足少陰、厥陰。小無不入，大無不通。故既散八風之邪，兼利百節之痛。時珍曰：「獨活、羌活乃一類二種。中土產者為獨活，色黃氣細，可理伏風。西羌出者為羌活，色紫氣雄，可理遊風。」</p>
<p><u>獨活、羌活，皆主風疾，若血虛之頭痛及遍身肢節痛，誤用風藥，反致增劇。</u></p>

<h4>威靈仙</h4>
<p>味苦，性溫，無毒。入膀胱經。忌茶茗、面。</p>
<p>宣五臟而療痛風，去冷滯而行痰水。</p>
<p>此風藥之善走者也。威者，言其猛烈，靈者，言其效驗。</p>
<p><u>威靈仙，大走真氣，兼耗人血，不得已而後用之，可也。</u></p>

<h4>防己</h4>
<p>味苦、辛，性寒，無毒。入膀胱經。惡細辛。畏萆薢、女菀、滷鹼。</p>
<p>止痹痛，利關節。祛下焦之濕，瀉血分之熱。理水腫腳氣，通二便閉結。</p>
<p>防己分木漢二種。木者專風，漢者專水。</p>
<p><u>東垣云，防己大苦大寒，瀉血中濕熱，亦瞑眩之藥也。服之使人身心煩亂，飲食減少，惟濕熱壅遏，及腳氣病，非此不效。若虛人用防己，其害有三：穀食已虧，復泄大便，　重亡其血，一也；渴在上焦氣分，而防己乃下焦血分，二也；傷寒邪傳肺經氣分，濕熱而小便黃赤，禁用血藥，三也。</u></p>

<h4>老鸛草</h4>
<p>味苦，微辛，性平。</p>
<p>祛風濕，活絡脈。關節疼痛，肢體麻木。</p>
<p>此草治風寒濕痹，平穩可取。</p>

<h4>海桐皮</h4>
<p>味苦，性平，無毒。入脾、胃二經。</p>
<p>除風濕之害，理腰膝之疼。可塗疥癬，亦治牙蟲。</p>
<p><u>腰膝痛非風濕者，不宜用。治癬治牙，須與他藥同行。</u></p>

<h4>虎杖</h4>
<p>俗名斑根。味苦，性平，無毒。</p>
<p>活血定痛，清利濕熱。久患痹症，更番歷節。變形僵硬，可使靈活。用以泡酒，內飲外擦。</p>
<p>手足漫腫，熬湯浸漬。</p>
<p>孕婦忌用。</p>

<h4>海風藤</h4>
<p>味辛、苦，性微溫。入心，腎二經。</p>
<p>祛風濕，通絡道。可舒筋，能理氣。關節疼痛頻作，腰膝屈伸欠利。</p>
<p>此藤亦能治跌僕損傷。</p>

<h4>虎骨</h4>
<p>味辛，性溫，無毒。脛骨最良。酥炙。</p>
<p>壯筋骨，而痿軟可起，搜毒風，而攣痛堪除。</p>
<p>風從虎，虎嘯而風生。故骨可以入骨而搜風也。</p>

<h4>穿山甲</h4>
<p>古名鯪鯉甲。味鹹，性寒，有毒。炙黃。</p>
<p>搜風逐痰，破血開氣。療蟻瘻絕靈，截瘧疾至妙。治腫毒，未成即消，已成即潰。理痛痹，在上則升，在下則降。</p>
<p>穴山而居，寓水而食，能走竄經絡，無處不到，直達病所成功，患病在某處，即用某處之甲，此要訣也。性猛，不可過服。</p>

<h4>蘄州白花蛇</h4>
<p>味鹹，性溫，有毒。去頭尾，酒浸三宿。皮骨俱有大毒，應去盡。</p>
<p>主手足癱瘓，及肢節軟疼，療口眼歪斜，及筋脈攣急。厲風與破傷同寶，急驚與慢驚共珍。</p>
<p>透骨搜風，截驚定搐，為風家要藥，內達臟腑，外徹皮膚，無處不到，服者大忌見風。產蘄州者，最佳，然不可多得。龍頭虎口，黑質白花，脅下有二十四方勝紋，腹有念珠斑，口有四長牙，尾有爪甲，長一二分，腸如連珠，眼光如生。產它處者，或兩目俱閉，或一開一閉也。</p>
<p><u>白花蛇，性走竄有毒，惟真有風者宜之。若類中風屬虛者大忌。烏稍蛇，大略相同。但無毒而力淺，色黑如漆，尾細有脊者良。</u></p>

<h4>淘鵝油</h4>
<p>（見外治）</p>

<h2>外科皮科骨傷科</h2>

<h3>蚤休</h3>

<h3>紫花地丁</h3>
<p>味苦、辛，性寒。入心，肺、肝三經。</p>
<p>疔瘡癰癤，無名腫毒。咽喉谷賊，嚼咽清肅。</p>
<p>此藥清解熱毒，內服多效，亦可搗爛外敷。</p>

<h3>半枝蓮</h3>
<p>味微苦，性涼。</p>
<p>清解熱毒，活血去瘀。治疔毒散黃，塗跌僕蛇傷。</p>
<p>此草亦治咽喉腫痛，兼潰爛者宜用之。</p>

<h3>忍冬藤</h3>
<p>味辛、甘、苦，性微寒，無毒。入心、肺二經。</p>
<p>散熱解毒，除濕醫瘍。身腫發無定處，流火流注堪嘗。風濕熱痹，疔瘡散黃。伍甘草與好酒，對口發背均治。上方制以為丸，消渴成癰可防。喉蛾痄腮，口舌生瘡。</p>
<p>此藤與花相同，亦能除脹治痢。</p>

<h3>蒲公英</h3>
<p>一名黃花地丁。味甘，性平，無毒。入脾、胃二經。</p>
<p>化熱毒，解食毒，治痄腮疔瘡，消乳癰瘰癧。</p>
<p>乳癰同銀花煎，入酒服。莖中白汁，塗惡刺。</p>
<p>東垣曰：「苦寒入腎，腎經必用之藥」。故本草載其有烏鬚髮之功，何以世人罕用也。</p>

<h3>山慈菇</h3>
<p>味甘、辛，性平，有小毒。入胃經。</p>
<p>癰疽疔毒酒煎服。瘰癧瘡痍醋拌塗。治毒蛇狂犬之傷，傅粉滓斑點之面。</p>
<p><u>寒涼之品，不得過服。</u></p>

<h3>土貝母</h3>
<p>味苦，性微寒。</p>
<p>散結消腫，軟堅解毒。乳房生塊，頸部瘰癧。鼻齆難通少通多塞，蒼耳芙蓉，同施有益。土貝母與川貝之潤肺，浙貝之止咳不同，旨在消腫，兼能解毒。鼻內腫窄，而氣難通。並非息肉者，與芙蓉葉、蒼耳子、白芷、菖蒲、路路通等同行有益。同時，可用冰片、白芷二藥，共研吸之。</p>

<h3>海藻</h3>
<p>味苦、咸，性寒，無毒。入腎經。反甘草。</p>
<p>消瘰癧癭瘤，散癥瘕癰腫。</p>
<p>苦能泄結，寒能滌熱，咸能軟堅，故主療如上。</p>
<p><u>脾家有濕者勿服。</u></p>

<h3>昆布</h3>
<p>味鹹，性寒，無毒。入腎經。洗淨。</p>
<p>頑痰結氣，積聚癭瘤。</p>
<p>咸能軟堅，噎證恆用之，取其祛老痰也。</p>
<p><u>昆布之性，雄於海藻，不可多服，令人瘦削。</u></p>

<h3>馬鞭草</h3>
<p>味苦，性寒，無毒。入肝、腎二經。</p>
<p>清解熱毒，治面頰腫。敗楊梅惡氣、理髮背瘡癰。血閉宜求、癥瘕須用。</p>
<p>此草專以驅逐為長，瘡症久而虛者，斟酌用之。咽腫連頰，飲汁甚效，蓋其行血活血，消腫解毒之功也。</p>

<h3>皂莢刺</h3>
<p>性、味、歸經、畏、惡詳見治痰藥皂莢條。</p>
<p>其性銳利，直達瘡區。山甲相伍，穿透癰疽。</p>
<p>為癰疽、妒乳、丁腫未潰之神藥。醋熬嫩刺，塗癬有效。癰疽已潰者勿服。孕婦忌用。</p>

<h3>白膠香</h3>
<p>味辛、苦，性平，無毒。入脾、肝二經。</p>
<p>活血涼血，解毒止痛，內可消疽，金瘡癰腫。瘰癧隱疹，吐衄皆用。外治牙疼、骨哽能通。</p>
<p>此香性黏膩，能去風燥。對外症內服外用均宜，故小金丹中用之。又藏書家除夕每用以熏書，謂可闢螙魚。</p>

<h3>乳香</h3>
<p>味辛，性溫，無毒。入心經。若土烘去油，同燈心研之，則細。</p>
<p>定諸經之痛，解諸瘡之毒。活血舒筋，和中治痢。香口闢臭，頻用噙之。風蟲牙痛，含而嚼之。</p>
<p>諸瘡痛癢，皆屬心火，乳香入心，內托護心，外宣毒氣，有奇功也。但疽已潰勿服，膿多者勿敷。凡筋不伸者，加入熏洗藥中有效。咽喉骨哽，水研下咽，往往滑利而下。</p>

<h3>沒藥</h3>
<p>味苦，性平，無毒。入肝經。製法同乳香。</p>
<p>宣血氣之滯，醫瘡腐之疼。可攻目翳，堪墮胎兒。</p>
<p>血滯則氣壅，故經絡滿急，發腫作痛。沒藥善通壅滯，和血去瘀，則血行而氣暢痛止也。</p>
<p><u>骨節痛與胸腹筋痛，不由血瘀，而因於血虛；產後惡露去多，腹中虛痛；癰疽已潰，法咸禁之。</u></p>
<p>乳香偏於調氣，沒藥偏於散血，二者每相兼而用。</p>

<h3>松脂</h3>
<p>味苦、甘，性溫，無毒。入肺、胃二經。水煮百沸，白滑方可用。</p>
<p>祛肺金之風，清胃土之熱，除邪下氣，壯骨強筋。排膿止痛生肌，煎膏而用。牙疼惡痹崩中，研末而嘗。咽乾含化，耳聾丸吞。</p>
<p>松脂感太陽之氣而生，燥可去濕，甘能除熱，故外科取用極多也。</p>
<p><u>松脂性燥而溫，血虛者勿服。</u></p>

<h3>白蘚皮</h3>
<p>味苦，性寒，無毒。入脾經。惡桔梗、茯苓、萆薢。</p>
<p>主筋攣死肌，化濕熱毒瘡。風痹要藥，利竅稱良。治黃疸咳逆淋瀝、愈女子陰腫生瘍。</p>
<p>地之濕氣感，則害人皮肉筋脈，白蘚皮善除濕熱，故療肌死筋攣瘡毒。</p>
<p><u>下部虛寒之人，雖有濕證，弗敢餌也。</u></p>

<h3>地膚子</h3>
<p>味苦，性寒，無毒。入脾、膀胱二經。</p>
<p>利膀胱，散惡瘡。皮膚風熱，可作浴湯。</p>
<p>其主用多在皮膚。其入亦在土臟，蓋脾主肌膚也。即其利水兼能祛濕者歟。</p>

<h3>葎草</h3>
<p>土名擄蘿藤。味甘苦，性寒，無毒。入肺、脾、大小腸四經。</p>
<p>潤三焦，益五臟，主瘀血，清兩腸，退恙後虛熱，洗遍體疥瘡。</p>
<p>根能治瘰癧，花；治虛勞盜汗。</p>
<p>此草隨處有之，惜藥肆不備，醫家亦少知利用，乃農村易得之良藥也。</p>

<h3>槐枝</h3>
<p>（見外治）</p>

<h3>劉寄奴</h3>
<p>味苦、性溫。入心、脾二經。</p>
<p>破血去瘀，通經止痛。跌僕損傷，癥結亦用。</p>
<p>此藥為破血之品，多服令人吐利。故血氣虛弱、無瘀滯者忌用。</p>

<h3>自然銅</h3>
<p>味辛、性平，無毒。</p>
<p>續筋接骨，折傷者依然復舊。消瘀破滯，疼痛者倏爾消除。</p>
<p><u>自然銅，雖有接骨之功、頗多燥烈之性，宜慎用。</u></p>

<h2>女科</h2>

<h3>當歸</h3>
<p>味甘、辛，性溫，無毒。入心、肝、脾三經。畏菖蒲、海藻、生薑。酒洗，去蘆。</p>
<p>去瘀生新，舒筋潤腸。溫中止心腹之痛，養營療肢節之疼。外科排膿止痛，女科瀝血崩中。</p>
<p>心主血；脾統血；肝藏血，歸為血藥，故入三經，而主治如上。本經首言主咳逆上氣，辛散之勳也。頭止血；尾破血；身補血；全和血；能引諸血各歸其所當歸之經，故名當歸。氣血昏亂，服之即定。</p>
<p><u>當歸，善滑腸，泄瀉者禁用。入吐血劑中，須醋炒之。</u></p>

<h3>白芍藥</h3>
<p>味苦、酸，性微寒，無毒。入肺、脾、肝三經。惡石斛、芒硝。畏鱉甲、小薊，反藜蘆。煨熟，酒焙。</p>
<p>養血斂陰，柔肝定痛。通補奇經，女科必用。</p>
<p>斂肺而主脹逆喘咳，腠理不固；安脾而主中滿腹痛、瀉痢不和；制肝而主血熱目疾，肋下作疼。</p>
<p>收斂下降，適合秋金，故氣寧而汗止，專入脾經血分，能瀉肝家火邪，故功能頗多，一言以蔽之，斂氣涼血而已矣。</p>
<p>李時珍曰：「芍藥，同白朮補脾，同芎藭瀉肝，同人參補氣，同當歸補血。以酒炒補陰，同甘草止腹痛及腿痠拘攣，同黃連止瀉痢，同防風發痘疹，同薑棗溫經散濕。」</p>
<p>張元素曰：「其用凡六：安脾經，一也；治腹痛，二也；收胃氣，三也；止瀉痢，四也；和血脈，五也；固腠理，六也。」</p>
<p>《本草求真》曰：「血盛於氣，則血凝而不行；氣盛於血，則血燥而益枯。血之盛者，必賴辛為之散，故川芎號為補肝之氣；氣之盛者，必賴酸為之收，故白芍號為斂肝之液。收肝之氣，而令氣不妄行也。」</p>
<p><u>芍藥之性，未若芩連之苦寒，而寇氏云：「減芍藥以避中寒」。丹溪云：「產後勿用芍藥，恐酸寒伐生生之氣。」嗟乎，藥之寒者，行殺伐之氣，違生長之機，雖微寒如芍藥，古人猶諄諄告戒，況大苦大寒之藥，其可肆用而莫之忌耶。</u></p>

<h3>丹參</h3>
<p>味苦，性微寒，無毒。入心經。畏鹹水，反藜蘆。</p>
<p>安神散結，益氣養陰。去瘀血，生新血；安生胎，落死胎。胎前產後，帶下崩中。</p>
<p>色合丙丁，獨入心家，專主血證。古稱丹參一味，與四物同功，嘉其補陰之勣也。</p>
<p><u>丹參，雖能補血，長於行血、妊娠，無故勿服。</u></p>

<h3>益母草</h3>
<p>味辛，性微寒，無毒。入心胞、肝二經。忌鐵。</p>
<p>活血行瘀，利水消腫。經閉不通，經來腹痛。臨盆難產，子死腹中。</p>
<p>補而能行，辛而能潤，為胎產要藥。</p>
<p><u>此草善行走，凡崩漏者慎用。</u></p>

<h3>紅花</h3>
<p>味辛，性溫，無毒。入心肝二經。酒噴，微焙。</p>
<p>通調血脈，去瘀生新。產後血暈急需，胎死腹中必用。</p>
<p>時珍曰：「活血潤燥，行血之要藥也。」</p>
<p><u>紅花過用，使人血行不止，人所未知。</u></p>

<h3>月季花</h3>
<p>味甘，性溫。</p>
<p>活血調經，消腫止痛。</p>
<p>此花品種甚多，以每月開小紅花，俗稱月月紅者，入藥為佳。</p>

<h3>澤蘭</h3>
<p>味苦、甘，性微溫，無毒。入肝、脾二經。</p>
<p>通達九竅，用於女科。和血有消瘀之能，利水有消蠱之效。</p>
<p>甘能和血，獨入血海，攻擊稽留。其主水腫者，乃血化為水之水，非脾虛停濕之水也。又荀子云：「澤芷以養鼻」。蓋謂澤蘭白芷之氣，芳香通乎肺也。</p>
<p><u>澤蘭，行而帶補，氣味和平無偏勝之憂。</u></p>

<h3>艾葉</h3>
<p>味苦，性微溫，無毒。入肺、脾、肝、腎四經。苦酒、香附為使。陳久者良。</p>
<p>安胎氣，暖子宮。止血痢，理腸風。灸除百病，吐衄崩中。</p>
<p>幸可利竅，苦可疏通，故氣血交理，而女科帶下調經多需之。</p>
<p><u>艾性純陽香燥，凡血燥生熱者禁與。</u></p>

<h3>王不留行</h3>
<p>味苦，性平，無毒。入大腸經。水浸、焙。</p>
<p>行血通乳，止衄消疔。</p>
<p>王不留行，喻其走而不守，雖有王命，不能留其行也。古云：穿山甲、王不留、婦人服了乳常流，乃滑利及行血之力耳。</p>
<p><u>失血後，崩漏者，孕婦並忌之。</u></p>

<h3>棕櫚皮</h3>
<p>味苦、澀，性平，無毒。</p>
<p>吐血鼻紅腸毒病。十全奇效。崩中帶下赤白痢，一切神功。</p>
<p>性澀，故止血有功，然惟血去己多，滑而不止者，宜之。若早服，恐停瘀為害。火炒煙盡，存性，窨地上，出火毒。</p>

<h3>藕節</h3>
<p>味甘、澀，性平。入肺、胃、肝三經。</p>
<p>止血消瘀、吐衄崩中均可止。芎藭同用，鼻淵腦瀉緩能除。</p>
<p><u>《日華諸家本草》云：「產後血悶，用藕節和地黃研汁，入熱酒小便飲」。可以拯危。又可開胃，解蟹毒。</u></p>
<p>藕皮：能散血。</p>

<h3>蓮房</h3>
<p>味苦、澀，性溫，無毒。</p>
<p>入厥陰血分，能消瘀散血。經事頻行不斷，胎漏難於固攝。煮服解野菌毒，外治天泡濕熱。</p>
<p><u>此物不宜久服。</u></p>

<h3>阿膠</h3>
<p>味鹹，性平，無毒。入肺、肝二經。山藥為使。畏大黃，蛤粉拌炒。</p>
<p>止血兮，兼能去瘀。疏風也，又且補虛。西歸金臟、化痰止咳除癰痿。東走肝垣，強筋養血理風淫。安胎始終並用，治痢新久皆宜。</p>
<p>阿井乃濟水之眼，故入肝治血證、風證如神。烏騾皮合北方水色，以制熱生風也，真者，光明脆徹、歷夏不柔。偽者，反能滯痰，不可不辨。</p>
<p><u>胃弱作嘔吐，脾虛食不消者，均忌。</u></p>

<h3>苧麻根</h3>
<p>味甘，性寒，無毒。</p>
<p>安胎，止血。提氣，固攝。胎動不安，肛門下脫。痰哮時作，小便帶血。</p>
<p><u>苧麻根安胎，須與銀器同煎。</u></p>

<h3>蛇床子</h3>
<p>味苦、辛，性溫，無毒。入脾、腎二經。</p>
<p>男子強陽事，婦人暖子宮。除風濕痹癢，擦瘡癬多功。燒煙而吸入，救咽窒難通。</p>
<p>去足太陰之濕，補足少陰之虛，強陽頗著奇功，人多忽之，寧知至賤之中，乃伏殊常之品耶。得地黃汁拌蒸三遍後，色黑乃佳。</p>
<p><u>腎火易動者勿食。</u></p>

<h2>兒科、附驅蟲藥</h2>

<h3>勾藤</h3>
<p>味甘，性微寒，無毒。入肝及心胞經。</p>
<p>平肝經風，祛心胞火。舒筋除眩，解痙息風。小兒驚癇，熱壅瘛瘲。</p>
<p>祛肝風而不燥，庶幾中和，但久煎便無力，俟它藥煎就，一二沸即起，頗得力也。去梗純用嫩勾，其功十倍。本草綱目云：鉤藤手足厥陰藥也，足厥陰主風，手厥陰主火，驚癇眩暈，皆肝風相火之病，鉤藤通心包，平肝木，風靜火息，則諸證自除。</p>

<h3>胡荽</h3>
<p>（見食療）</p>

<h3>薺菜花</h3>
<p>味甘，性溫，無毒，入肝、脾、腎三經。</p>
<p>利肝益胃，和中消脹。五臟得調，情志開暢。小兒痰滯能消，目患服之重光。久痢赤白，煅炭與嘗。春初採菜佐餐，老幼受惠無量。</p>
<p>三月初三日，趁花期採其全草，曬乾備用。無毒而效宏，為嬰幼兒病、七竅病不可缺之良藥。</p>

<h3>天竺黃</h3>
<p>味甘，性寒，無毒。入心經。</p>
<p>祛痰解風熱，鎮心安五臟。大人中風不語，小兒天吊驚癇。</p>
<p>竹之津氣結成，與竹瀝功用相仿，故清熱養心、豁痰利竅，久用亦能寒中。</p>

<h3>胡黃連</h3>
<p>味苦，性寒，無毒。入肝、膽二經。惡菊花、玄參。忌豬肉。折之塵出如煙者真。</p>
<p>醫小兒疳積驚癇，主虛家骨蒸久痢。</p>
<p>清肝膽之熱，與黃連略似，但產於胡地者也。</p>
<p><u>胡黃連大苦大寒，脾虛血弱之人，雖見如上諸證，亦勿輕投，必不得已，須與補劑同施。</u></p>

<h3>鶴蝨</h3>
<p>味苦、辛，性平，有小毒。入肝經。</p>
<p>蟲積腹痛，入丸散用。</p>
<p><u>目前市售商品中有兩種。藥典中以菊科天名精之果實為正品。</u></p>

<h3>使君子</h3>
<p>味甘，性溫，無毒。入脾、胃二經。</p>
<p>殺諸蟲，治疳積。</p>
<p>殺蟲藥皆苦，使君子獨甘，空服食數枚，次日蟲皆死而出矣。忌飲熱茶，犯之即瀉。</p>
<p><u>使君子，為殺蟲而設，苟無蟲積，服之必致損人。</u></p>

<h3>雷丸</h3>
<p>味苦，性寒，有小毒。入胃經。荔實，厚朴，蓄根，芫花，為使。惡葛根。酒蒸。殺臟腑諸蟲，除嬰兒百病。</p>
<p>雷丸乃竹之餘氣，得霹靂而生，故名雷丸。殺蟲之外無他長，久服令人陽痿。</p>

<h3>棗樹皮</h3>
<p>（見外治）</p>

<h1>第三卷</h1>

<h2>心經及小腸經</h2>

<h3>（一）清心</h3>

<h4>蓮心</h4>
<p>味苦，性寒，入心經。</p>
<p>清心去熱，止血治遺。渴者作茶，快膈忘機。</p>
<p>蓮花瓣：味苦、甘。鎮心益色，駐顏輕身。</p>
<p>蓮花須：味甘、澀，性溫，無毒。入心、腎二經。忌地黃、蔥、蒜。清心而諸竅之出血可止，固腎而丹田之精氣無遺。鬚髮變黑，顏駐情怡。溫而不熱，澀而不滯，血家瀉家，尊為上劑。</p>

<h4>竹葉</h4>
<p>味苦、甘，性寒，無毒。入心、胃二經。</p>
<p>清心滌煩熱，止嗽化痰涎。</p>
<p>用捲心者尤良。</p>

<h3>（二）怡悅心情</h3>

<h4>萱花及葉</h4>
<p>又名宜男草。味甘，性平，無毒。入心經。</p>
<p>長於利水快膈，令人歡樂忘憂。金針菜：主用亦同。</p>
<p>萱，古作諼。詩云：焉得諼草，即此種也。諼，忘也，欲樹之以忘憂也。</p>
<p>萱葉：可使人安寐，用三莖煮水飲之有效。改用金針菜葉，亦有同效，可連續用。</p>

<h4>合歡皮及花</h4>
<p>一名夜合。味甘，性平，無毒。入心、脾二經。</p>
<p>安和五臟，歡樂忘憂。</p>
<p>心為君主之官，土為萬物之母，二臟調和則五臟自安，神明自暢。嵇康養生論云，合歡蠲忿、正謂此也。</p>

<h4>榆莢（附榆葉、榆皮）</h4>
<p>味微辛，性平，無毒。入心、脾二經。</p>
<p>榆令人愉，使之多睡。助肺健脾，消食下氣。和牛肉作羹，療虛弱婦人帶下。採子同造醬，消心腹間之惡氣。</p>
<p>榆葉：嫩葉作羹或炸食，利小便能消浮腫，棗仁等分蜜為丸，治膽熱虛勞不眠。又以之煎汁，洗酒齄鼻有效。</p>
<p>榆白皮：味甘，性平，滑利無毒。荒年代谷，暫使不飢。因餓浮腫，須雜糠粃。利竅滲濕，除邪和脾。滑可去著，通便甚宜。</p>

<h3>（三）安神寧心</h3>

<h4>蕨菜</h4>
<p>（見食療）</p>

<h4>遠志</h4>
<p>味苦、辛，性溫，無毒。入心、腎二經。畏珍珠，藜蘆。</p>
<p>殺附子毒，冷甘草湯浸透，去水焙乾。</p>
<p>定心氣，止驚益智，補腎氣，強志益精。治皮膚中熱，令耳目聰明。療咳逆而愈傷中，培不足以除邪氣。</p>
<p>心主鎮定，則震撼無憂，靈機善運，故止驚益智，水腑充盈，則堅強稱職。閉蟄封藏，故強志益精。水旺而皮熱可除，心安而耳目自利。</p>
<p><u>遠志，水火併補，迨交坎離，而成既濟者耶？本功外治，善療癰毒，敷服皆奇，苦以泄之，辛以散之之力也。</u></p>

<h4>酸棗仁</h4>
<p>味酸、性平，無毒。入心、脾、肝、膽四經。惡防己。</p>
<p>炒熟。</p>
<p>酸收而心守其液，乃固表虛有汗，肝旺而血歸其經，用療徹夜無眠。</p>
<p>膽怯者，心主易動，驚悸盜汗之所自來也。肝虛者，血不歸經，則虛煩不眠之所自來也。棗仁能補肝益膽，則血得其養，而諸證皆安矣。</p>
<p><u>肝膽二經有實邪熱者勿用，以其收斂故也。</u></p>

<h4>柏子仁</h4>
<p>味甘辛，性平，無毒。入心、肝、腎三經。畏菊花。蒸，曬，炒。</p>
<p>安神定悸，壯水強陽。潤血而容顏美少，補虛而耳目聰明。</p>
<p>心藏神，腎藏精與志，心腎虛，則病驚悸，入心養神，入腎定志、悸必愈矣。悅顏聰明，皆心血與腎水互相灌溉耳。王好古謂：「柏實能潤肝。」</p>
<p><u>柏子多油而滑，作瀉者勿服，多痰者亦忌，有油透者勿入藥。</u></p>

<h4>琥珀</h4>
<p>味甘，性平，無毒。入心、肺、脾、小腸四經。</p>
<p>安神而邪祟不侵，清肺而小便自利，新血止而瘀血消，翳障除而光明覆。感土木之氣，而兼火化，味甘色赤，有艮止之義，故能安神；有下注之象，故利小便而行血。丹溪曰：「燥脾土有功，脾能運化，肺金下降。小便自通。若因血少而小便不利者，反致燥急之苦。」</p>
<p><u>滲利之性，不利虛人，凡陰虛內熱，火炎水涸者勿服。</u></p>

<h3>（四）止盜汗、自汗</h3>

<h4>龍骨及龍齒</h4>
<p>味甘，性平，無毒。入心、肝、腎三經。忌魚及鐵器。</p>
<p>畏石膏。火煉，水飛，酒煮用。</p>
<p>養精神，定魂魄。澀精而遺泄能收，固腸而崩淋可止。縮小便，止自汗，生肌肉，收脫肛。</p>
<p>龍齒：鎮心安神，定驚止痙。</p>
<p>龍骨多主肝病。腎主骨，故又益腎也。許叔微云：「肝藏魂，能變化，魂飛不定者，治之以龍齒。」</p>
<p><u>龍骨收斂太過，非久病虛脫者，切勿妄投。</u></p>

<h4>浮小麥</h4>
<p>味甘、咸、性涼。入心經。即水淘浮起者。</p>
<p>止虛汗盜汗，解勞熱骨蒸。益胃弱，養心神。</p>
<p>秋種夏熟，備受四時之氣，但南方地暖，下濕，不如北產之良。</p>

<h4>糯稻根</h4>
<p>味甘，性平，無毒。入肺、胃、腎三經。</p>
<p>補肺生津、健脾益胃。退虛熱、止盜汗。養胃陰，扶氣餒。</p>
<p>鮮根尤佳。須於割稻後收集備用。</p>

<h3>（五）鎮心、辟邪</h3>

<h4>硃砂</h4>
<p>味甘，性寒，有毒。入心經。惡磁石，畏鹹水，忌一切血。水飛鎮心而定癲狂，辟邪而除魔祟。解胎熱痘毒，療目痛牙疼。</p>
<p>色赤應離，為心經主藥，獨用多用，令人呆悶。</p>

<h4>金箔</h4>
<p>味辛，性平，有毒。</p>
<p>安鎮靈臺，神魂免於飄蕩。闢除惡祟，臟腑搜其伏邪。</p>
<p>稟西方之質，為五金之主，最能制木。故中風驚癇皆需之。銀箔，功用相仿。</p>
<p><u>金有大毒，磨屑頓服，不過三錢而斃，豈可多服乎。催生者用之。</u></p>

<h4>紫石英</h4>
<p>味甘，性溫，無毒。入心、肝二經。畏扁豆、附子，惡黃連。火煅，醋淬，水飛。</p>
<p>上通君主，鎮方寸之靡寧。下達將軍，助胎宮而有孕。</p>
<p>紫石英，南方之色，故功在血分，火熱者忌之。</p>

<h4>安息香</h4>
<p>味辛苦，性平，無毒。入心經。</p>
<p>服之而行血下氣，燒之而辟惡驅邪。</p>
<p>手少陰，主藏神，神昏則邪祟侵之。心主血，血滯則氣不宣快，安神行血，故主治如上。</p>
<p><u>病非關惡氣侵犯者勿用。</u></p>

<h3>（六）開竅通神除惡</h3>

<h4>蘇合香</h4>
<p>味甘、性溫，無毒。入心、脾二經。</p>
<p>開竅通神，逐穢辟惡。甘暖和脾，鬱結凝留咸霧釋。芬芳徹髓，妖邪夢魘盡冰消。</p>
<p>沈括云：「蘇合油，如黐膠，以箸挑起，懸絲不斷者真也。蘇合香，能開竅豁痰。走真氣，唯體氣壯實者宜之，否則慎用。」</p>

<h4>龍腦香</h4>
<p>（見外治）</p>

<h4>麝香</h4>
<p>（見外治）</p>

<h3>（七）通小腸</h3>

<h4>木通</h4>
<p>味辛、甘、淡，性平，無毒。入心、小腸二經。色白而梗細者佳。</p>
<p>降心火出於小腸。治五淋並宣九竅。通血脈，利關節。清肺泄濕，行經下乳。</p>
<p>功用雖多，不出宣通氣血四字。若君火為邪，宜用木通。相火為邪，宜用澤瀉，利水雖同，用各有別。</p>
<p><u>木通，性通利，精滑氣弱。內無濕熱，妊娠者均忌。</u></p>

<h4>燈心</h4>
<p>味淡，性平，無毒。入心、小腸二經。</p>
<p>清心必用，利水偏宜。燒灰吹喉症，塗乳治夜啼。</p>
<p><u>中寒，小便不禁者忌之。</u></p>

<h4>淡竹葉</h4>
<p>味淡，性寒，無毒。入小腸經。</p>
<p>專通小便，兼解心煩。</p>
<p>淡味五臟無歸，但入太陽利小便，小便利，則心火因之而清也。</p>
<p><u>淡竹葉，有走無守，不能益人，孕婦禁服。</u></p>

<h2>肺經及大腸經</h2>

<h3>（一）治咳化痰</h3>

<h4>前胡</h4>
<p>味苦，性微寒，無毒。入肺、脾、胃、大腸四經。半夏為使。惡皂莢，畏藜蘆。</p>
<p>散結而消痰定喘。下氣以消食安胎。</p>
<p>李時珍曰：「前胡主降，與柴胡上升者不同。氣降則痰亦降矣」。安胎化食，無非下氣之力耳。前胡去風痰，與半夏治濕痰、貝母治燥痰者各別也。</p>
<p><u>前胡治氣實風痰，凡陰虛火動之痰，及不因外感而有痰者，法當禁之。前胡又為散風之品，故多用於感冒之初。</u></p>

<h4>杏仁</h4>
<p>味苦、甘，性溫，有毒。入肺、大腸二經。惡黃芩、黃耆、葛根。泡去皮尖，焙。雙仁者勿用。</p>
<p>散上焦之風，除心下之熱，利胸中氣逆而喘嗽，潤大腸氣閉而難通。解錫毒有效，消狗肉如神。</p>
<p>杏仁性溫，散肺經風寒滯氣，殊效。</p>
<p><u>陰虛咳嗽者忌之。雙仁者，能殺人，有毒蓋指此耳。</u></p>

<h4>紫菀</h4>
<p>味苦、辛，性溫，無毒。入肺經。款冬花為使。惡遠志。畏茵陳。洗淨，蜜水炒。</p>
<p>開泄肺郁，宣通窒滯。散結行瘀，降逆止咳。寒飲盤踞，濁涎膠固。痰喘上氣，如水雞聲。唾血溲少，用之咸宜。</p>
<p>苦能下達，辛可益金，故吐血保肺，收為上品。雖入至高，善於下趨，使氣化及於州都而小便自利。</p>
<p><u>紫菀入血分，款冬入氣分。紫菀以化痰為主，款冬以止咳為主。</u></p>

<h4>款冬花</h4>
<p>味辛，性溫，無毒。入肺經。杏仁為使。惡玄參。畏貝母、辛夷、麻黃、黃耆、連翹、甘草、黃芩。蜜水炒。</p>
<p>化痰則喘嗽無憂，清肺則癰痿有賴。</p>
<p>雪積冰堅，款花偏豔，想見其純陽之稟，故其主用，皆辛溫開豁也，卻不助火，可以久任。</p>
<p><u>此藥溫而不燥，乃溫潤之品。急症喉風之嗆咳而氣息不平者，可用射干麻黃湯減細辛治之。久咳難止，可用蜜拌款冬，燃煙燻吸有效。</u></p>

<h4>枇杷葉</h4>
<p>味苦，性平，無毒。入肺、胃二經。刷去背上毛，治胃病，薑汁塗炙。治肺病，蜜水塗炙。</p>
<p>走陽明則止嘔下氣，入太陰則定咳消痰。</p>
<p>長於降氣，氣降則火清痰順，但去毛不淨，射入肺中，作咳難療。</p>
<p><u>胃寒嘔吐，及風寒咳嗽者忌之。</u></p>

<h4>旋覆花</h4>
<p>一名金沸草。味鹹、甘，性微溫，無毒。入肺、大腸二經。去蒂，焙。</p>
<p>老痰堅硬，結氣留飲。風氣濕痹，利腸通脈。具宣行肺胃之功，噫氣不除，賴其辛散。有斡旋胸中之力，肝邪痹著，藉以溫通。</p>
<p>咸能軟堅，故能祛老痰結積，風濕燥結之療，溫能解散，咸可潤下也。</p>
<p><u>丹溪云：「走散之藥，虛者不宜多服，冷利大腸，虛寒人禁之。」</u></p>

<h4>百部</h4>
<p>味甘，性微溫，無毒。入肺經。</p>
<p>肺寒咳嗽，傳屍骨蒸。殺蛔蟲寸白，除蠅蝨蟯蚊。</p>
<p>與天門冬形相類，而用相仿，故名野天門冬，但天門冬治肺熱，此治肺寒為別也。</p>
<p><u>脾胃虛人，須與補藥同用，恐其傷胃氣，又恐其滑腸也。</u></p>

<h3>（二）潤肺</h3>

<h4>天門冬</h4>
<p>味甘，性寒，無毒。入肺、腎二經。地黃、貝母為使。</p>
<p>忌鯉魚。去心用。</p>
<p>定喘定嗽，肺痿肺癰，是潤燥之力也。益精益髓，消血消痰，非補陰之力歟。善殺三蟲，能通二便。</p>
<p>甘寒養陰，肺腎虛熱之要藥也。</p>
<p><u>天門冬性寒而滑，若脾虛而泄瀉、惡食者大非所宜。即有前證，亦勿輕投。</u></p>

<h4>川貝母</h4>
<p>味辛、苦，性微寒，無毒。入心、肺二經。厚朴為使。</p>
<p>畏秦艽。反烏頭。去心，糯米拌炒，米熟為度。</p>
<p>消痰潤肺，滌熱清心。喘咳紅痰要矣。心中鬱結神哉。</p>
<p>辛宜歸肺，苦宜歸心，大抵心清氣降，肺賴以寧，且潤而化痰，故多功於西方也。</p>
<p><u>汪機曰：俗以半夏燥而有毒，代以貝母，不知貝母治肺金燥痰，半夏治脾土濕痰，何可代也。脾為濕土，故喜燥；肺為燥金，故喜潤。若痰在脾經，誤用貝母之潤，投以所惡，反增病勢，故寒痰、濕痰、風痰、食積痰、腎虛水泛為痰，均非川貝所司也。</u></p>

<h3>（三）止咳平喘</h3>

<h4>白前</h4>
<p>味甘，性平，無毒。入肺經。甘草湯泡，去須，焙。</p>
<p>療喉間喘呼欲絕，寬胸中氣滿難舒。</p>
<p>感秋之氣，得土之味，清肺有神，喉中作水雞聲音，服之立愈。</p>
<p><u>白前，性無補益，肺實邪壅者宜之，否則忌也。</u></p>

<h4>葶藶子</h4>
<p>味辛，性寒，無毒。入肺經。榆皮為使。酒炒。</p>
<p>疏肺下氣，喘逆安平，消痰利水，理脹通經。耳中積水，用之甚靈。</p>
<p>十劑云：泄可去閉，葶藶大黃之屬，但性利，不可混服。有甜苦二種，甜者力稍緩也。</p>

<h4>桑根白皮</h4>
<p>味甘，性寒，無毒。入肺經。續斷、桂心、麻子為使。</p>
<p>刮去粗皮，蜜水炙。有涎出，不可去也。</p>
<p>瀉肺金之有餘，止喘定嗽。疏小腸之閉滯，逐水寬膨。降氣散瘀血，止渴消燥痰。</p>
<p>瀉肺降氣，是其職專，利便去水者，兼瀉子之法也。</p>
<p><u>桑白皮瀉火，肺虛無火，因風寒而嗽者，勿服。桑椹子：雖能補血，脾胃虛滑者勿服。</u></p>

<h4>馬兜鈴</h4>
<p>味苦，性寒，無毒。入肺經。焙。</p>
<p>清金有平咳之能，滌痰有定喘之效。</p>
<p>體性輕揚，有功於至高之臟，根名青木香，塗諸毒熱腫。</p>
<p><u>肺虛挾寒者，畏之如螫。</u></p>

<h3>（四）補肺平喘</h3>

<h4>冬蟲夏草</h4>
<p>味甘，性溫，入肺、腎二經。</p>
<p>補肺益腎，止血化痰。氣短喘咳可止，已入虛損可還。能健腰膝軟弱，可轉憔悴之顏。</p>
<p>此物乃陰陽雙補之品，性溫而潤，既補肺陰，又納腎陽；益上焦之陰，補下焦之陽。乃虛損勞劫不可或少之品也。</p>

<h4>蛤蚧</h4>
<p>味鹹，性平。入肺、腎二經。去眼、頭、足，洗去鱗內不淨及肉毛。酥炙，或蜜炙、或酒浸，焙用。</p>
<p>補肺潤腎，益精助陽。治消渴而通淋。療肺痿而定喘。</p>
<p><u>李瀕湖云：「補肺止渴，效若人參。扶羸益精，功同羊肉。」嗽由風邪者不宜用。</u></p>

<h3>（五）斂肺</h3>

<h4>五倍子</h4>
<p>（見外治）</p>

<h3>（六）潤大腸、降氣</h3>

<h4>麻仁</h4>
<p>味甘，性平，無毒。入脾、胃、大腸三經胃牡蠣、白薇、茯苓。絹包，置沸湯中，至冷取出，懸井中一夜，勿著水，曝乾。新瓦上挼去殼。</p>
<p>潤五臟，通大腸。宣風利關節，催生療產難。</p>
<p>滑利下行，走而不守。陳士良云：「多食損血脈，滑精氣，痿陽事。婦人多食，即髮帶疾」。</p>

<h4>栝蔞</h4>
<p>味苦，性寒，無毒。入肺、胃、大腸三經。</p>
<p>胸中痹痛，古有良方，伍薤白白酒，加半夏尤良。傷寒誤下結胸，則用小陷胸湯。除上焦之熱，使痰氣下降。利咽喉，通大腸。</p>
<p>此物能通大便，與浙貝母同行，其效更著。小兒痰滯重者，雖大便仍通，加用於清化方中，頗有良效。</p>
<p>栝蔞皮：寬中利氣，清熱化痰。</p>
<p>栝蔞仁：潤燥滌痰，滑腸通便。</p>

<h4>郁李仁</h4>
<p>味酸，性平，無毒。入脾、大腸二經。湯浸去皮，研如膏。</p>
<p>潤達幽門，而關格有轉輸之妙。宣通水腑，而腫脹無壅遏之嗟。</p>
<p>性專降下，善導大腸燥結，利周身水氣，然下後令人津液虧損，燥結愈甚，乃治標救急之藥，津液不足者，慎勿輕服。</p>

<h4>松子</h4>
<p>（見食療）</p>

<h4>萊菔子</h4>
<p>味辛，性溫，無毒。入肺、胃、大腸三經。</p>
<p>下氣定喘，消食除膨。降濁通便，以靖中宮。生研堪吐風痰，醋調能消毒腫。</p>
<p>丹溪云：「萊菔子，治痰有推牆倒壁之功，表其性烈也」。按虛弱人服之，氣淺難布息。</p>

<h3>（七）瀉下</h3>

<h4>大黃</h4>
<p>味苦，性寒，有毒。入脾、胃、肝、大腸四經。黃芩為使。無所畏。錦紋者佳。</p>
<p>沉降下行，腸通胃滌。瀉實熱之稽留，破可攻之聚積。黃疸、瘀血、腸癰痢疾，慎而遣之，其功無敵。外塗可消癤腫，制服能清血熱。</p>
<p><u>大黃，雖有撥亂反正之功，然峻利猛烈，長驅直搗，苟非血分熱結，六脈沉實者，切勿輕與推蕩。</u></p>

<h4>朴硝</h4>
<p>味辛、咸、酸，性寒，無毒。入胃、大腸二經。</p>
<p>破血攻痰，消食解熱。法制玄明粉，功緩力稍輕。明目清燥，推陳致新。</p>
<p>朴硝在下，最粗而濁，芒硝在上，其質稍清。玄明粉再經煎煉，尤為精粹。方士濫誇玄明粉去病延年，不根之說也。若施之於有虛無火之人，及陰毒沉寒之證，殺人慘於刀劍矣。</p>

<h4>牽牛子</h4>
<p>味苦，性寒，有毒。入肺、大、小腸三經。酒蒸，研細。</p>
<p>瀉肺行痰，下氣除風。陰囊水腫、二便難通。</p>
<p>辛熱有毒之藥，性又迅急，主治多是肺脾之病，多因虛起，何賴瀉藥，況諸症應用藥物，神良者不少，何至舍其萬全，而就不可必之毒物哉。東垣諄復其詞，以戒後人勿用，蓋目擊張子和旦暮用之，故闢之甚力，世俗不知，取快一時，後悔奚及。孕婦忌用。</p>

<h3>（八）清大腸</h3>

<h4>白頭翁</h4>
<p>味苦，性寒，無毒，入胃、大腸二經。得酒良。</p>
<p>熱痢溫瘧、血痔疝瘕。癭癧禿瘡，鼻衄齒痛。</p>
<p>仲景治熱痢白頭翁湯，加黃蘗、黃連、秦皮同用。</p>
<p>東垣云：「腎欲堅，急食苦以堅之。痢則下焦虛。故以此純苦之劑堅之也。」</p>
<p>按此物有風則靜，無風則搖，亦奇。</p>

<h4>秦皮</h4>
<p>味苦、澀，性寒，無毒。入肝、膽、大腸三經。惡吳茱萸。</p>
<p>清腸祛濕，專治熱痢。又醫目疾，服洗咸宜。</p>
<p>此藥能收澀、故帶下清稀者亦用之。</p>

<h4>檳榔</h4>
<p>味辛，性溫，無毒。入胃、大腸二經。忌見火。</p>
<p>降至高之氣，似石投水。疏後重之急，如驥追風，瘧疾與痰癖皆收，腳氣與殺蟲並選。</p>
<p>足陽明為水穀之海，手陽明為傳導之宮。二經相為貫輸，以運化精微者也。二經病，則痰積蟲癖生焉。辛能破滯，苦能殺蟲，故主如上諸證。</p>
<p><u>檳榔墜諸氣，至於下極，氣虛下陷者，所當遠避。</u></p>

<h4>地榆</h4>
<p>味苦，性寒，無毒。入肝、大腸二經。惡麥門冬。</p>
<p>止血利腸風，除帶下五漏。</p>
<p>味苦而厚，性沉而降，善主下焦血證，兼去濕熱。</p>
<p><u>地榆，寒而下行，凡虛寒作瀉，氣虛下陷而崩帶者，法並禁之。</u></p>

<h4>槐花</h4>
<p>味苦、酸，性寒，無毒。入肝、大腸二經。含蕊而陳者佳。微炒。</p>
<p>止便紅，除血痢，咸藉清腸之力。療五痔，明眼目，皆資滌熱之功。炒香頻嚼。能治失音。</p>
<p>子：名槐角，用頗相同，兼行血而降氣，亦催生而墜胎。</p>
<p>感天地陰寒之氣，而兼木與水之化，故為涼血要品。血不熱則陰自足，目疾與痔證交愈矣。</p>
<p>按槐性純陰，虛寒者禁用，即虛熱而非實火者亦禁之。</p>

<h4>刺蝟皮</h4>
<p>味苦，性平。入胃，大腸二經。炒用。</p>
<p>降逆定痛、涼血止血。反胃吐食、腹疼不歇。腸風痔漏，脫肛肛裂。五色痢疾、疝氣陰蝕。遺泄頻頻、寒精自出。鼻衄鼻息，為末裹塞。</p>
<p>炒時須以滑石粉燙之。配合胡黃連、炮山甲、槐米、名胡連追毒丸、治痔漏甚效。</p>

<h4>扁豆花葉</h4>
<p>（見食療）</p>

<h3>（九）澀大腸</h3>

<h4>石榴皮</h4>
<p>味酸、澀，性溫，無毒。入脾、肺、腎三經。</p>
<p>瀉痢久而腸虛，崩帶多而欲脫。水煎服而下蛔。汁點目而止淚。</p>
<p><u>榴味酸澀，故入斷下崩中之劑。若服之太早，反為害也。</u></p>

<h4>橡斗子</h4>
<p>味苦，性溫，無毒。入脾、胃二經。</p>
<p>止瀉痢稱奇，固精液頗效。</p>
<p><u>新痢起，濕熱甚者忌服。</u></p>

<h4>樗白皮</h4>
<p>俗稱臭椿。味苦澀、性寒，有小毒。東引者良、以醋炙之。</p>
<p>澀血止瀉痢、殺蟲收產腸。</p>
<p>苦寒之性，虛寒者禁用，腎家真陰虛者，亦忌之。以其徒燥耳。止入丸用，不入湯煎。椿白皮，即香椿，主用相仿，力稍遜之。</p>

<h4>沒石子</h4>
<p>味苦，性溫，無毒。入肺、腎、大腸三經。忌銅鐵器。</p>
<p>用漿水於砂盆中研，焙乾再研，如鳥犀色。</p>
<p>固腸醫瀉利，斂肺治咳血。興陽事，止遺泄。外用能止牙疼，能染鬚髮，能治口瘡陰瘡，能塗酒渣之鼻。</p>
<p>此藥有功於止澀，然亦不宜獨用多用也。</p>

<h4>赤石脂</h4>
<p>味酸、辛，性大溫，無毒。入心、脾、大腸三經。畏芫花，惡大黃、松脂。煅，水飛。</p>
<p>久患腸澼，頻頻脫肛。生肌長肉，外治癰瘍。</p>
<p>石脂固澀，新痢家忌用。</p>

<h2>脾經與胃經</h2>

<h3>（一）健脾與溫脾消浮腫</h3>

<h4>白朮</h4>
<p>（見補氣）</p>

<h4>蒼朮</h4>
<p>味苦、辛，性溫，無毒。入脾經。畏惡同白朮。產茅山者佳。泔浸，蒸曬。</p>
<p>燥濕消痰，發汗解鬱。除山嵐瘴氣，弭災診惡疾。</p>
<p>蒼朮為濕家要劑，痰與氣俱化，辛溫快氣，汗與郁並解。芳氣辟邪，得天地之正氣者歟。</p>
<p><u>蒼朮與白朮，功用相似，補中遜之，燥性過之，無濕者便不敢用，況於燥證乎。</u></p>

<h4>楮實</h4>
<p>味甘，性寒，無毒。入脾經。</p>
<p>健脾消水腫，益氣充肌膚。</p>
<p><u>楮實，雖能消水健脾，然脾胃虛寒者勿用。</u></p>

<h4>大麥芒</h4>
<p>味甘，性平，入脾經。</p>
<p>水腫初起，飲之可消，雖藥味平常，而奏功甚妙。</p>
<p>農村用之治浮腫有效，蓋健脾行水之功也。</p>

<h4>益智仁</h4>
<p>味辛，性溫，無毒。入心、脾、腎三經。去殼，鹽水炒，研細。</p>
<p>溫中進食，補腎扶脾。攝涎唾，縮小便。安心神，止遺濁。</p>
<p>辛能開散，使鬱結宣通，行陽退陰之藥也。古人進食，必先益志，為其於土中益火故耳。</p>
<p><u>益智，功專補火，如血燥有熱，及因熱而遺濁者，不可誤入也。</u></p>

<h4>丁香</h4>
<p>味辛，性溫，無毒。入肺、胃、腎三經。忌見火。畏鬱金。去丁蓋。雞舌香，是其別名。母丁香乃其大者。</p>
<p>溫脾胃而嘔呃可瘳，理壅滯而脹滿宜療。腹痛能止，口臭堪去。齒除疳䘌，痘發白灰。</p>
<p>脾為倉廩之官，傷於飲食生冷，留而不去，則為壅脹，或為嘔呃，暖脾胃而行滯氣，則脹嘔俱瘳也。</p>
<p><u>丁香辛熱而燥，非屬虛寒，概勿施用。</u></p>

<h4>蓽茇</h4>
<p>味辛，性熱，無毒。入肺、脾二經。去挺，醋浸一宿，焙乾，刮去皮，粟子令淨。</p>
<p>溫脾除嘔逆，定瀉理心疼。鼻淵牙痛，俱作外用。</p>
<p>古方用此，百中之一，以其辛熱耗散，能動脾肺之火，多用損目也。</p>

<h3>（二）溫胃與健胃</h3>

<h4>厚朴</h4>
<p>味苦辛，性大溫，無毒。入脾、胃二經。乾薑為使。</p>
<p>惡澤瀉、硝石、寒水石。忌豆。色紫味辛者良，刮去粗皮，切片，薑汁炒。</p>
<p>辛能散風邪，溫可解寒氣，下氣消痰，去實滿而寬膨，溫胃和中，調胸腹而止痛，吐利交資，驚煩共主。</p>
<p>溫熱之性，長於散結去滿，溫胃暖脾，故主食停痰滯，脹痛吐利等證，然但可施於元氣未虛、邪氣方盛，或客寒犯胃，濕氣侵脾，若脾虛之人，雖有如上諸證，切勿沾唇。或一時未見其害，而清純沖和之氣，潛傷耗矣。可不謹諸。李東垣云：「苦能下氣，故泄實滿，溫能益氣，故散實滿」。</p>

<h4>白豆蔻</h4>
<p>味辛，性溫，無毒。入肺、胃二經。去衣，微焙。</p>
<p>溫中除吐逆，開胃消飲食，瘧證宜投，目翳莫缺。</p>
<p>味辛氣溫，為寬中去滯之需。翳膜遮睛，亦滯氣也。</p>
<p><u>豆蔻辛溫，火升作嘔，因熱腹痛者，禁之。</u></p>

<h4>草豆蔻</h4>
<p>味辛，性溫，無毒。入肺、脾、胃三經。去膜，微炒。</p>
<p>散寒止心腹之痛，下氣驅逆滿之疴，開胃而理霍亂吐瀉，攻堅而破噎膈癥瘕。</p>
<p>辛能破滯，香能達脾，溫能散寒。</p>
<p><u>草豆蔻辛燥，犯血忌，陰不足者遠之。</u></p>

<h4>肉豆蔻</h4>
<p>味辛，性溫，入胃、大腸二經。麵裹，煨透，去油，忌鐵。</p>
<p>溫中消食，止瀉止痢，心疼腹痛，闢穢殺蟲。</p>
<p>日華稱其下氣，以脾得補而善運，氣自下也。非若陳皮、香附之泄氣耳。</p>
<p><u>肉果性溫，病人有火，瀉痢初起，皆不宜服。</u></p>

<h4>縮砂仁</h4>
<p>味辛，性溫，無毒。入肺、脾、胃、大、小腸、腎六經，炒，去衣。</p>
<p>下氣而止咳嗽奔豚，化食而理心疼嘔吐，霍亂與瀉痢均資，結滯與安胎並效。</p>
<p>芳香歸脾，辛能潤腎，為開脾胃之要藥，和中氣之正品，若腎虛氣不歸元，非此嚮導不濟，結滯需通，胎喜疏利，故咸主之。</p>
<p><u>砂仁性燥，血虛火炎者，不可過用，孕婦食之太多，耗氣必致難產。</u></p>

<h3>（三）降逆和胃止痛</h3>

<h4>竹茹</h4>
<p>味甘，性微寒，無毒。入胃經。又名竹二青。（刮去青皮，用第二層）</p>
<p>疏逆氣，而嘔呃與噎膈皆平；清血熱，而吐衄與崩中咸療。</p>
<p>竹種最多，惟大而味甘者為勝，必生長甫及一年者，嫩而有力。然久用能損氣。</p>

<h4>刀豆子</h4>
<p>味甘，性平，無毒。入胃、腎二經。</p>
<p>溫中下氣、益腎歸元。利腸胃，止呃逆。</p>
<p>刀豆止呃，下氣歸元四字，足以盡之。</p>

<h4>娑羅子</h4>
<p>一名天師慄、乃七葉樹之果實。味甘，性溫，無毒。</p>
<p>入脾、肺二經。</p>
<p>平胃通絡、理氣寬中。驅寒利膈，醫疳治蟲。脘腹脹滿、胃寒作痛。以此投之，可以見功。此子須搗碎煎服。</p>

<h4>伏龍肝</h4>
<p>味辛，性溫，無毒。</p>
<p>咳逆反胃治之效，燥濕消腫投之靈。女人崩中帶下，丈夫尿血遺精。</p>
<p>即灶心黃土，去濕有專長。</p>

<h4>代赭石</h4>
<p>味苦，性寒。入心包、胃、肝三經。乾薑為使。畏雄、附。煅紅，酢淬，水飛。</p>
<p>重可鎮虛逆，止嘔痞噫氣。寒能降虛陽，平眩暈耳鳴。吐衄崩中可用，腸風下血稱靈。</p>
<p>《傷寒論》治汗吐下後，心下痞鞭，噫氣者，用代赭旋覆湯。《傷寒蘊要》以之與百合、滑石同行，治百合病復發。《普濟方》用之煮汁飲，治咽喉痛。臨症用於有上阻之感者有效，乃沉降之功也。</p>

<h3>（四）健胃、消化</h3>

<h4>穀芽</h4>
<p>味甘、苦，性溫，無毒。</p>
<p>消食與麥芽同等，溫中乃谷櫱偏長。</p>
<p>味甘氣和、具生化之性，故為消食健脾，開胃和中之要藥。</p>

<h4>麥櫱</h4>
<p>味甘、咸，性溫，無毒。入胃經。炒黃去芒，留芽用。</p>
<p>熟腐五穀、消導而無停。運行三焦，宣通而不滯。療腹鳴與痰飲，亦催生而墜胎。</p>
<p>以谷消穀，有類從之義，無推蕩之峻，胃虛停穀食者宜之。然有積化積，無積消腎氣，墜胎。</p>

<h4>六曲</h4>
<p>味甘、辛，性溫，無毒。入胃經。研細，炒黃，陳久者良。</p>
<p>健脾消穀，食停腹痛無虞。下氣行痰，泄痢胃翻有藉。暑期感冒，用之表裡均和，閃挫腰疼，煅過淬酒溫服。</p>
<p><u>脾陰虛，胃火盛者勿用。能損胎孕。</u></p>

<h2>肝膽二經</h2>

<h3>（一）補肝兼補腎</h3>

<h4>枸杞子</h4>
<p>味甘、性微溫，無毒。入肝、腎二經。</p>
<p>益肝以養營，強筋明目。補腎而填精，止渴除煩。</p>
<p>精不足者，補之以味，枸杞子是也。能使陰生則陰血自長。肝開竅於目，黑水神光屬腎，二髒得補，目自明矣。</p>
<p><u>枸杞能利大小腸，故泄瀉者勿用。</u></p>

<h3>（二）溫肝</h3>

<h4>吳茱萸</h4>
<p>味辛，性熱，有小毒。入肝、脾、胃三經。蓼實為使。</p>
<p>惡丹參、滑石。畏紫石英，開口者良、鹽湯泡過，焙乾。</p>
<p>燥腸胃，而止久滑之瀉。散陰寒而攻心腹之疼。祛冷脹的獨得，疏肝氣有偏長。疝疼腳氣相宜。開鬱殺蟲至效。</p>
<p>辛散燥熱，獨入厥陰，故能溫肝。至於脾胃，其旁及者也。東垣云：「濁陰不降，厥氣上逆，甚而脹滿，非茱萸不可治也。多用損元氣」。寇氏曰：「下氣最速，腸虛人服之愈甚。凡病非寒滯者，勿用。即因寒滯者，亦當酌量虛實，適病為效也。」</p>

<h3>（三）斂肝</h3>

<h4>烏梅</h4>
<p>味酸，性平，無毒。入肺、脾、肝、大腸四經。</p>
<p>定嗽定渴。皆由斂肺之功，止血止利，盡是固腸之力。清音去痰涎，安蛔理煩熱。蝕惡肉而至速，消酒毒以清神。白梅（即霜梅也）。牙關緊閉，擦齦涎出便能開，刀箭傷膚，研爛敷之血即止。</p>
<p>烏梅、白梅皆以酸收為功，疽愈後，有肉突起，烏梅燒敷，一日減半，兩日而平。真奇方也。夫梅生於春，曲直作酸，病有當發散者，大忌酸收，誤食必為害。若過食而齒齼者，嚼胡桃肉解之。</p>

<h3>（四）舒肝</h3>

<h4>木蝴蝶</h4>
<p>（見喉科）</p>

<h4>柴胡</h4>
<p>（見和解）</p>

<h3>（五）柔肝</h3>

<h4>白芍</h4>
<p>（見女科）</p>

<h3>（六）涼肝</h3>

<h4>羚羊角</h4>
<p>味鹹，性寒，無毒。入肝經。</p>
<p>真達東方，理熱毒，而昏冒無虞。專趨血海，散瘀結，而真陰有賴。清心明目，辟邪定驚。濕風痢血宜加用，瘰癧癰疽不可無。</p>
<p>羚羊角主在平肝息風，清解熱毒。肝虛而熱者宜之。外有二十四節掛痕，內有天生木胎。此角須銼細，避風搗篩用。</p>
<p><u>獨入厥陰，能伐生生之氣。</u></p>

<h4>青黛</h4>
<p>味鹹，性寒，無毒。入肝經。</p>
<p>清肝火，解鬱結，幼稚驚疳，大方吐血。傷寒發斑，瘡生口舌。</p>
<p>內服輕浮上達，清火解毒，外用有收水燥濕之功。</p>
<p><u>青黛性涼，中寒者勿與。</u></p>

<h4>蘆薈</h4>
<p>味苦、性寒，無毒。入心、肝、脾三經。</p>
<p>善療五疳、能殺三蟲。主去熱明目，理幼稚驚風。肝火上炎，耳鳴或聾。</p>
<p>稟陰寒之氣，寒能除熱，苦能泄熱，故除熱殺蟲及明目也。疳以濕熱為咎，濕熱去，則愈矣。此藥清熱涼肝，能瀉肝經實火，直折火勢，若頭暈頭痛，耳鳴耳聾，躁狂易怒，屬陽亢實熱之象者與青黛、梔子、大黃等為伍可收速效。</p>
<p><u>蘆薈，大苦大寒，凡脾虛不思食者，禁用。</u></p>

<h3>（七）鎮肝熄風</h3>

<h4>石決明</h4>
<p>味鹹、性平，無毒。入肝，腎二經。鹽水煮、水飛。</p>
<p>平肝潛陽，息風止眩。內服而障翳潛消，外點而赤膜盡散。</p>
<p>七孔九孔者良，十孔者不佳。久服令人寒中。</p>

<h4>蜈蚣</h4>
<p>味辛，性溫，有毒。入肝經。畏蜘蛛、蜒蚰、雞屎、桑皮、鹽。</p>
<p>搜風息風，止痙定搐。散腫行瘀，走串攻毒。口眼喎斜，惡瘡頭禿。破傷臍風。積聚在腹。</p>
<p>使用此物，須藥病相當，不可過劑。</p>

<h4>全蠍</h4>
<p>味辛、性平，有毒。入肝經。</p>
<p>善逐肝風，深透筋骨。中風恆收，驚癇亦簡。</p>
<p>諸風掉眩，皆屬肝木，蠍屬木，色青，獨入厥陰，為風家要藥，全用者謂之全蠍，但用尾謂之蠍梢，其力尤緊。</p>
<p><u>似中風和小兒慢脾風，屬於虛者，法咸禁之。</u></p>

<h3>（八）伐肝瀉膽</h3>

<h4>青皮</h4>
<p>即橘之小者。麩炒。</p>
<p>破滯氣、愈低愈效，削堅積、愈下愈良。引諸藥至厥陰之分，下飲食入太陰之倉。</p>
<p>青皮伐肝，兼能發汗，性頗猛銳，不宜多用，如人年少壯，未免躁暴，及長大而為橘皮，如人至老年，烈性漸減，經久而為陳皮，則多歷寒暑，而躁氣全消也。</p>

<h3>（九）清肝膽火</h3>

<h4>龍膽草</h4>
<p>（見耳科）</p>

<h2>腎與膀胱經</h2>

<h3>（一）補腎陽</h3>

<h4>補骨脂</h4>
<p>味辛，性溫，無毒。入腎經。惡甘草。忌羊肉、諸血，胡桃拌炒。一名破故紙。</p>
<p>興陽事，止腎泄。固精氣，止腰疼。肺寒咳嗽無虞，腎虛喘息宜用。</p>
<p>暖則水藏，壯火益土之要藥也。</p>
<p><u>補骨性燥，凡陰虛有熱，大便閉結者戒之。</u></p>

<h4>肉蓯蓉</h4>
<p>味甘、咸，性溫，無毒。入腎經。酒洗，去甲。</p>
<p>益精壯陽事，補傷潤大腸。男子血瀝遺精，女子陰疼帶下。滋腎補精之首藥，亦溫潤之首藥。但須大至斤許，不腐者佳，溫而下熱，潤而不燥，補而不驟，故有蓯容之名。別名黑司命，亦多其功力之意云。</p>
<p><u>巫蓉性滑，泄瀉及陽易舉，而精不固者忌之。</u></p>

<h4>鎖陽</h4>
<p>味甘、咸，性溫，無毒。入腎經。</p>
<p>強陰補筋，潤腸壯骨。</p>
<p><u>鎖陽功用，與蓯蓉相仿，禁忌亦同。亦溫潤之藥也。</u></p>

<h4>淫羊藿</h4>
<p>味辛，性溫，無毒。入腎經。山藥為使。得酒良。用羊油拌炒。</p>
<p>強筋骨，起陽事衰，利小便，除莖中痛。補命門之真火，愈四肢之不仁。</p>
<p>陶弘景雲：「服之好為陰陽，別名仙靈脾，千兩金、棄杖草，皆矜其功力也。」</p>
<p><u>淫羊藿補火，相火易動者遠之。</u></p>

<h4>仙茅</h4>
<p>味辛，性溫，有小毒。入腎經。忌鐵器。禁牛乳。糯米泔浸一宿，去赤汁則毒去。</p>
<p>助陽填骨髓，心腹寒疼。開胃消宿食，強記通神。</p>
<p>補而能宣，西域僧獻於唐玄宗，大有功力，遂名婆羅門參。廣西英州多仙茅，羊食之遍體化為筋，人食之大補。其消食者，助少火以生土，土得干健之運也。其強記者，腎氣時上交於南離故也。</p>
<p><u>仙茅，專於補火，惟精寒者宜之。火熾者有暴絕之戒。</u></p>

<h4>巴戟天</h4>
<p>味甘，性溫，無毒。入腎經。覆盆子為使。畏丹參，酒浸，焙。</p>
<p>安五臟以益精，強筋骨而起陰。</p>
<p>補助元陽，則腎氣滋長，諸病自息。</p>
<p><u>陰虛相火熾者不宜用。</u></p>

<h3>（二）固攝腎氣</h3>

<h4>沙苑蒺藜</h4>
<p>味甘，性溫，無毒。入腎經。酒炒。</p>
<p>補腎止遺，強陰益精。目昏腰痛，帶下尿頻。</p>
<p>沙苑蒺藜，市多雜品。須狀如腎子，帶綠色，咬之作生豆氣者真。</p>

<h4>菟絲子</h4>
<p>味辛、甘，性平，無毒。入腎經。山藥為使。酒煮令吐絲，打作餅，烘乾再研，即成細末。</p>
<p>續絕傷，益氣力，強陰莖，堅筋骨。溺有餘瀝，寒精自出。口苦燥渴，寒血為積。</p>
<p>雷公云：稟中和之性，凝正陽之氣，腎臟得力，則絕傷諸症愈矣。主口苦燥渴者，水虛則內熱津枯，辛以潤之，二證俱安也。</p>
<p><u>菟絲子助火，強陽不痿者忌之。</u></p>

<h4>金櫻子</h4>
<p>味酸、澀，性平，無毒。入脾、腎二經。</p>
<p>扃鑰元精，合閉蟄封藏之本。牢拴倉廩，贊傳導變化之權。</p>
<p>金櫻子性澀，不利於氣。丹溪云：「經絡墜道，以通暢為和平，昧者，喜其澀精而服之，致生別證，自不作靖，咎將誰執。雖然，無故而服以縱欲，則不可。若精滑者服之，何咎之有。」</p>

<h4>覆盆子</h4>
<p>味甘，性平，無毒。入肝、腎二經。去蒂，酒蒸。</p>
<p>固精攝溺，益下封藏。強陰美顏色，補虛續絕傷。</p>
<p>能益閉蟄封藏之本，以縮小便，服之當覆其溺器，故名。</p>
<p><u>覆盆子，固澀，小便不利者禁之。</u></p>

<h4>牡蠣（附蛤粉）</h4>
<p>味鹹、微澀，性微寒，無毒。入肝、腎二經。貝母為使。</p>
<p>惡麻黃、辛夷、吳茱萸。火煅，童便淬之。</p>
<p>固精澀二便，止汗免崩淋。消胸中之煩滿，化痰凝之瘰癧。愈婦人帶下，治虛勞煩熱。傷寒而寒熱宜求，溫瘧與驚恚莫缺。</p>
<p>蛤粉：蛤蜊殼煅為粉用。</p>
<p>粉與牡蠣同功。肉則止渴解酒。</p>
<p>牡蠣、蛤蜊俱出海中。大抵海物鹹寒。故功用相仿。江湖蛤蚌，無鹽水浸漬。但能清熱利濕，不能軟堅。</p>
<p><u>虛而熱者宜之。有寒者禁與。</u></p>

<h4>桑螵蛸</h4>
<p>味鹹，性平，無毒。入腎經。畏旋覆花，蒸透，再焙。</p>
<p>起陽事而痿弱何憂。益精氣而育麟可冀。</p>
<p>即螳螂之子，必以桑樹上者為佳也。</p>

<h3>（三）利水滲濕、清膀胱</h3>

<h4>茯苓</h4>
<p>味甘淡，性平，無毒。入心、腎、脾、胃、小腸五經。馬藺為使。畏牡蒙、地榆、秦艽、龜甲。忌醋。產雲南、色白而堅實者佳。去皮膜用。</p>
<p>益脾胃而利小便，水濕都消。止嘔吐而定泄瀉，氣機咸利。下行伐腎，水泛之痰隨降。中守鎮心，憂驚之氣難侵。保肺定咳嗽，安胎止消渴。抱根者為茯神，主用俱同，而安神獨掌。紅者為赤茯苓，功力稍遜，而利水偏長。</p>
<p>茯苓，假松之餘氣而成。無中生有，得坤厚之精，為脾家要藥。素問曰：飲入於胃，遊溢精氣，上輸於肺，通調水道，下輸膀胱，則利水之藥，皆上行而後下降也。故潔古謂其上升，東垣謂其下降，各不相背也。按小便多，其源亦異。素問云：肺氣盛則便數，虛則小便遺，心虛則少氣遺溺。下焦虛則遺溺。胞絡遺熱於膀胱，則遺溺。膀胱不約為遺溺。厥陰病則遺溺。所謂肺氣盛者，實熱也。宜茯苓以滲其熱。故曰：小便多者，能止也。若肺虛心虛、胞絡熱、厥陰病，皆虛熱也。必上熱下寒，法當升陽，膀胱不約，下焦虛者，乃火投於水，水泉不藏，必肢冷脈遲，法當用溫熱之藥，皆非茯苓可治。故曰：陰虛者，不宜用也。</p>
<p>茯神抱根而生，有依守之義，故魂不守舍者，用以安神。赤者入丙丁，但主導赤而已。</p>
<p><u>病人小便不禁，虛寒精滑者皆不得服。</u></p>

<h4>豬苓</h4>
<p>味甘淡，性平，無毒。入腎、膀胱二經。去皮。</p>
<p>分消水腫，淡滲濕痰。</p>
<p>豬苓感楓根之餘氣而成，利水諸藥，無如此訣。</p>
<p><u>寇宗奭曰：「多服豬苓，損腎昏目。」潔古云：「淡滲，亡津液，無濕證者勿服。」</u></p>

<h4>澤瀉</h4>
<p>味甘、咸，性微寒，無毒。入腎、膀胱二經。畏文蛤。</p>
<p>去皮、酒潤，焙。</p>
<p>利水泄熱，滲濕通淋。若與白朮配合，滌飲平眩甚妙。伍於六味之中，補瀉相輔而行。</p>
<p>李時珍曰：澤瀉利水泄下。脾胃有濕熱，則頭重而目昏耳鳴。澤瀉滲去其濕，則熱亦隨去，而土氣得令，清氣上行，使人明爽，故有治頭眩、聰明耳目之功。若久服，則降令太過，清氣不升，真陰潛耗，安得不目昏耶。</p>
<p><u>澤瀉善瀉，古稱補虛者，誤矣。扁鵲謂其害眼者，確也。病人無濕，腎虛精滑，目虛不明，切勿輕與。</u></p>

<h4>茵陳</h4>
<p>味苦，性寒，無毒。入脾、胃、肝、膽、膀胱五經。</p>
<p>理黃疸而除濕熱，佐五苓而利小腸。</p>
<p>茵陳去濕熱，獨宜於五疸，然亦須五苓之類，佐助成功。濕熱上干，口舌生瘡，甘露飲中用之。後世普治暑濕內蘊，時毒項腫等之甘露消毒丹中，亦用之。</p>
<p><u>用茵陳者，中病即已，若過用之，元氣受賊。</u></p>

<h4>黃櫨</h4>
<p>味苦，性寒，無毒。入肝、膽、膀胱三經。</p>
<p>解煩熱，除黃疸。塗漆瘡，洗赤眼。</p>
<p>即北京香山紅葉也，清利濕熱，兼能解毒，故主用如上。</p>

<h4>滑石</h4>
<p>味甘、淡，性寒，無毒，入胃，膀胱二經</p>
<p>利小便，行積滯。宣九竅之閉，通六腑之結。</p>
<p>滑石利竅，不獨小便也，上能利毛竅，下能利精竅，蓋甘淡先入胃家，上輸於肺，下通膀胱，肺主皮毛，為水上源，膀胱司津液，氣化則能出，故上則發表，下則利水，為蕩熱燥濕之劑。與甘草為伍，名六一散，能利水瀉火，解暑除煩。再入硃砂，名益元散，可以清心。</p>
<p><u>多服使人精滑。脾虛下陷者禁之。</u></p>

<h4>通草</h4>
<p>味甘、淡，性寒，無毒。入肺、胃、膀胱三經。</p>
<p>瀉肺利水，引熱下行。通氣滲濕，來乳催生。</p>
<p><u>通草之花上粉，外治痔瘻惡瘡、納之多效。蘇頌謂其療胸中伏氣攻胃咽。咽喉不利，如存異物者，用之亦有效。惜藥肆不備。</u></p>

<h4>車前子</h4>
<p>味甘，性寒，無毒。入肝、腎、小腸三經。酒拌蒸曝。</p>
<p>利水止瀉，解熱催生。益精明目。開竅通淋。用其莖葉，行血多靈。濕熱瘡癢，用之安寧。</p>
<p>利水之品，乃云益精，何也？男女陰中，各有二竅，一竅通精，乃命門真陽之火；一竅通水，乃膀胱濕熱之水。二竅不並開，水竅開，則濕熱外泄，相火常寧，精竅常閉，久久精足，精足則目明。</p>
<p><u>陽氣下陷，腎氣虛脫，勿入車前。多用久用，滲利太過，反致傷津。</u></p>

<h4>冬葵子</h4>
<p>味甘，性寒，無毒。入膀胱經。</p>
<p>能催生通乳，疏便閉諸淋。</p>
<p>氣味俱薄，淡滑為陽，故能利竅。</p>
<p><u>冬葵乃滑利之品，滑可去著，故能治如上諸症。但無故服用，必有損真之害。</u></p>

<h4>葫蘆</h4>
<p>味甘，性平，無毒。入脾、腎二經。</p>
<p>能利水消腫，治面浮腹大。</p>
<p>陳瓢，亦與之同功。</p>

<h4>萆薢</h4>
<p>味苦，性平，無毒。入肝、腎、膀胱三經。薏苡為使。</p>
<p>惡葵根，大黃、柴胡、前胡。</p>
<p>祛風而通經絡，利濕而分清濁。主風寒濕痹，腰膝作疼，五淋惡瘡，莖中刺痛。既可去膀胱宿水，又能止失溺便頻。</p>
<p><u>萆薢本除風濕，如陰虛火熾，溺有餘瀝，及無濕而腎虛腰痛皆禁。</u></p>

<h4>瞿麥</h4>
<p>味苦，性寒，無毒。入膀胱經。</p>
<p>利水破血，出刺墮胎。消腫決癰，明目去翳。降心火，利小腸。疏癃結而治淋，逐膀胱之邪熱。</p>
<p>八正散用為利小便之主藥。若心雖熱而小腸虛者忌服。恐心熱未除，而小腸復病矣。去刺者，拔肉刺也。</p>

<h4>萹蓄</h4>
<p>味苦，性平，無毒。入膀胱經。</p>
<p>利水治癃淋，殺蟲理瘡疾。</p>
<p>治癃及瘡，皆去濕熱也。</p>
<p><u>萹蓄直逐，不能益人，不宜恆用。</u></p>

<h4>石韋</h4>
<p>味甘、苦，性微寒，無毒。入肺、膀胱二經。杏仁、滑石、射干為使。</p>
<p>清肺金以資化源，通膀胱而利水道。面浮腰痠溲渾，極宜用也。肺熱咳嗽躁煩，亦可投之。</p>
<p><u>本藥多與車前或滑石為伍，其效更著。</u></p>

<h4>海金沙</h4>
<p>味甘，性寒，無毒。入小腸、膀胱二經。</p>
<p>除濕熱、消腫滿。清血分，利水道。</p>
<p>產於黔中及河南，收曝日中，小干，以紙襯之，以杖擊之，有細沙落紙上，且曝且擊，以淨為度。性不狼戾，惟熱在太陽經血分者宜之。</p>

<h4>玉米鬚</h4>
<p>味甘、性平、無毒。</p>
<p>利水消浮腫，熏煙治鼻淵。</p>
<p>此物尚有平肝、止血等作用，乃廢物利用、無害之良藥也。</p>

<h4>蠶沙</h4>
<p>味甘、辛。性溫。入脾、胃、肝三經。</p>
<p>去風燥濕，經絡宣通。導胃腸濕濁，治關節痹痛。既可內服，又作熨用。</p>
<p>治霍亂之蠶矢湯，治濕熱痹之宣痹湯皆有效之名方也。</p>

<h4>螻蛄</h4>
<p>味鹹，性寒，無毒。去翅足炒。入大小腸、膀胱三經。</p>
<p>通便而二陰皆利，逐水而十種俱平。貼癢燥頗效。化骨哽殊靈。</p>
<p>螻蛄自腰以前，其澀能止二便，自腰以後，其利能通二便，治水甚效。但其性猛，虛人戒之。</p>

<h4>石燕</h4>
<p>味甘，性涼，無毒。入肝、腎、膀胱三經。</p>
<p>利竅行濕熱，明目治淋瀝、婦人帶下，小兒疳積。能牢牙止痛，治氣阻咽嗌。或磨汁而飲，一枚用三日。或為末水飛，一錢末飲服。或火煅醋淬，硃砂紅曲同為散，或搗如黍米，桑根白皮共煎液。或蜜調其粉塗唇，便用於小兒。或細末蔥白湯調，治傷寒尿澀。</p>
<p>石燕乃古代生物化石，藥源甚廣。孕婦忌用。</p>
<p>揚州、鎮江等地，用以磨汁治咽喉有阻窒之感者多顯效。</p>
<p>附：紅燕丹方（見《醫宗說約》）</p>
<p>大石燕一對，火煅醋淬九次，研細末。硃砂三錢，另研，水飛。紅曲一兩，洗淨。共研極細末。每服三分、糖拌，開水沖服。此方消疳化積、（有握拳努掙現象者尤宜。）且無藥氣、利於小兒之畏藥者。蔣示吉先生並附親歷之醫案一則云：「予表侄二三歲間，患疳積症，頭大身瘦、發熱溺如米泔，諸藥不效。後聞藥氣即吐，束手無策。偶遇異人傳此方、和於糖果粥飯中與之、竟痊愈。後以此濟人，無不效」。其餘用法之主症、請參閱《本草綱目》。</p>

<h3>（四）治疝</h3>

<h4>懷（茴）香</h4>
<p>味辛、性溫，無毒。入胃、腎二經。</p>
<p>主腹疼疝氣，平霍亂吐逆。</p>
<p>辛香宜胃、溫性宜腎，故其主治，不越二經。</p>
<p><u>懷香辛溫，若陽道數舉，得熱則吐者，均戒。</u>（八角者，名大茴香。小如粟米者力薄。）</p>

<h4>葫蘆巴</h4>
<p>味苦，性熱，無毒。入腎、膀胱二經。淘淨，酒焙。</p>
<p>元臟虛寒，膀胱疝氣。</p>
<p>寒濕成疝，肝疾也。元臟暖，則筋自和而疝愈，此腎肝同治，乙癸同源之理也。</p>
<p><u>相火熾盛，陰血虧少者禁之。</u></p>

<h4>橘核</h4>
<p>味苦，性溫，無毒。入肝、腎二經。</p>
<p>理氣，止痛。治睪丸脹痛，除乳腫腰疼。</p>
<p>實症為宜，虛人不宜多用。</p>

<h4>荔枝核</h4>
<p>味甘，性溫。燒存性。</p>
<p>散滯氣，闢寒邪。睪腫消，狐疝回。</p>
<p>胃脘痛，婦人血氣痛，用五錢，香附一兩，末之，每服二錢，鹽湯或米飲下，名蠲痛散。㿗疝卵腫，酒調一味服。又：殼，發痘瘡。</p>

<h2>心胞與三焦經</h2>

<h3>（一）去心胞火</h3>

<h4>牡丹花瓣</h4>
<p>（見咽喉科）</p>

<h3>（二）瀉心胞積熱</h3>

<h4>紫葳花</h4>
<p>味酸、性寒，無毒。入心胞、肝二經。畏滷鹼。</p>
<p>三焦血瘀，二便燥干。</p>
<p>即凌霄花也。乃手足厥陰血分藥。能去血中伏火及血熱生風之證。又一陰一陽結之急症關下喉痹。便秘者，與烏扇，浙貝、連翹等為伍，其效頗著。</p>
<p><u>紫葳酸寒。不能益人，走而不守，虛人避之。</u></p>

<h3>（三）瀉三焦火</h3>

<h4>梔子花瓣</h4>
<p>（見咽喉科）</p>

<h1>第四卷</h1>

<h2>外治</h2>

<h3>（一）植物藥</h3>

<h4>龍腦香</h4>
<p>即冰片，味辛苦，性微溫，無毒。入心、肺、肝三經。</p>
<p>外用能治五官諸病，可引諸藥達於深處。內服能開通關竅，驅逐祟邪。善消風而化濕，使耳聰而目明。</p>
<p>芳香為百藥之冠，香甚者，性溫熱。善於走竄，入骨搜風，能引火熱之氣，自外而出。</p>
<p><u>龍腦入骨，風病在骨髓者，宜也。若風在血脈肌肉，輒用腦麝，又引風入骨，如油入面，莫之能出。目不明，屬虛者，不宜入點。</u></p>

<h4>乳香</h4>
<p>（見外科）</p>

<h4>沒藥</h4>
<p>（見外科）</p>

<h4>松脂</h4>
<p>（見外科）</p>

<h4>松葉</h4>
<p>味辛、性偏溫。</p>
<p>可生毛髮，宜窨凍瘡。</p>
<p>此葉有功於皮毛，發落者，用之沐頭，可以新生。</p>

<h4>松花粉</h4>
<p>味甘，性溫。</p>
<p>外用收水拔干，能治塌皮濕爛。嬰兒以之撲撒，創傷以之止血。內服潤人心肺，能於益氣除風，頭目眩暈酌投，痢疾亦可試治。</p>
<p>此藥以外用為主，內服甚少用。</p>

<h4>槐枝（附葉）</h4>
<p>味苦，性平，無毒。</p>
<p>繡球風，陰囊濕癢。煎頻洗，平復如常。可沐頭長髮，須燒灰煮湯。</p>
<p>槐葉：鼻氣窒塞，煮汁，與蔥豉調和同煎服。牙齒諸風，採嫩葉食。</p>

<h4>川槿皮</h4>
<p>味苦，性平，無毒。</p>
<p>擦頑癬及蟲瘡，止腸風與久痢。</p>
<p>肉厚而色紅者真。不宜多服。外用無妨。</p>

<h4>大楓子</h4>
<p>味辛，性熱，有毒。內仁油黃者，不堪用。入丸，壓去油。</p>
<p>治瘡癬疥癩，能劫毒殺蟲。</p>
<p>丹溪云：「粗工以其油治風症，不知性熱傷血，至有病未愈，而先失明者。」故當以外用為主。</p>

<h4>葎草</h4>
<p>土名擄蘿藤。味苦，性寒，無毒。</p>
<p>遍體生瘡，煎湯洗漬。病後虛熱，內服亦宜。</p>
<p>此藤能利濕熱，故小便不利或淋瀝者，均可用之。</p>

<h4>蛇床子</h4>
<p>（見女科）</p>

<h4>景天</h4>
<p>一名慎火草。味苦、酸，性寒，無毒。入心經。</p>
<p>諸腫火丹能療，一切遊風可醫。毒蛇傷咬，急用搗敷。</p>
<p>大寒純陰之品，故獨入離宮，專清熱毒。</p>
<p><u>中寒之人，服之有大害，惟外塗不妨耳。</u></p>

<h4>馬齒莧</h4>
<p>（見清熱解毒）</p>

<h4>菊葉</h4>
<p>（見清散風熱）</p>

<h4>鵝不食草</h4>
<p>味辛，性溫。入肺經。</p>
<p>鼻齆難通，中生息肉。呼吸有礙，頭疼咳嗽。以之塞鼻，內服亦可。</p>
<p>此草專主辛通，但嚏多者勿用。雖可內服，宜少用。</p>

<h4>荸薺粉</h4>
<p>（見附錄澱粉類）</p>

<h4>秋海棠梗</h4>
<p>味酸、澀，性寒，無毒。</p>
<p>生用搗汁含漱，能治咽喉劇痛。</p>
<p>若稍稍嚥下，尚無不可，多則不宜。</p>

<h4>西瓜霜</h4>
<p>味甘、微咸，無毒。入肺、胃、大腸三經。</p>
<p>外用作散，清咽喉口舌。內服小量，治痰火上炎。將半熟西瓜，留至冬至日。切一小口，納入元明粉半斤，仍以切開之皮作蓋，封懸透風之處，待其吐霜，頻頻掃下備用。也可加冰片十分之一，同研細，吹患處。</p>

<h4>虎耳草</h4>
<p>味辛、苦，性寒。</p>
<p>清涼解毒、取汁外用。耳竅紅腫，耳底脹痛。</p>
<p>此草外治耳患有良效。但須洗淨，搗汁用。</p>

<h4>兒茶</h4>
<p>味苦，性澀。</p>
<p>生肌收澀，生津化痰。一任金瘡牙爛，儘教痔腫陰疳。</p>
<p>口瘡以蓬砂等分，研勻搽之有效。又能定痛生肌，故外科急需之。</p>

<h4>橄欖核炭</h4>
<p>（見食療）</p>

<h4>棗樹皮葉</h4>
<p>味甘，性溫。</p>
<p>小兒壯熱，煎湯浴之。</p>
<p>此《日華諸家本草》之經驗也。用之確有良效。又《名醫別錄》云：「和葛粉揩熱痱瘡良。」可見此皮葉宜於外治。</p>

<h4>麥麩</h4>
<p>味甘、咸，性寒。</p>
<p>腰足折傷，風痹腳氣。醋拌炒熟，熨之外治、汗出為度，加溫互易。</p>
<p>此物農村得之甚易，乃平和無害之法，其效甚佳。</p>

<h4>蓖麻子</h4>
<p>味甘、辛，性平，有毒。</p>
<p>口眼不正，瘡毒腫浮。頭風腳氣，瘰癘丹瘤。胞衣不下，子腸不收。</p>
<p>如前諸症，皆從外治，不經內服，以其長於吸收，能拔病氣出外。凡服蓖麻，一生不得食豆，犯之甚者能脹死。</p>

<h4>阿魏</h4>
<p>味辛，性溫，無毒。入脾、胃二經。</p>
<p>破症積，辛散溫行，內外同施。除邪氣，殺蟲化蠱。實者投之。</p>
<p>臭烈殊常，故殺蠱辟惡，辛則能散，溫則能行，故消積化蠱。</p>
<p><u>人之血氣，聞香則順，聞臭則逆；故凡虛人，雖有痞積，不可輕用。當先養胃氣，胃強則堅積漸磨而消矣。經曰：「大積大聚，其可犯也。衰其大半而止」，蓋重視於根本者乎。</u></p>
<p>製成膏藥，外貼化痞積，平穩可取。</p>

<h3>（二）動物藥</h3>

<h4>麝香</h4>
<p>味辛，性溫，無毒。入心經。忌大蒜。微研。</p>
<p>作外治，用途甚廣；若內服，多入丸丹。開竅通經，穿筋透骨。理客忤，治驚癇。殺蟲蠱，去風痰。搜穢辟邪，催生墮胎。救卒中之內閉，消僵腫之疽癭。</p>
<p>走竄飛揚，內透骨髓，外徹皮毛。東垣云：「搜骨髓之風，風在肌肉者，誤用之，反引風入骨。證屬虛者，概勿施用，必不得已亦宜少用」。李時珍謂其通諸竅。王好古謂其療鼻窒不聞香臭。癆怯人及孕婦，不宜佩帶。</p>

<h4>象皮</h4>
<p>味鹹，性溫，無毒。</p>
<p>合金瘡之要藥，長肌肉之神丹。</p>
<p>以鉤刺插入大象皮中，頃刻創收，故主用如上。</p>

<h4>珍珠</h4>
<p>味鹹，性寒，無毒。入肝經。絹包，入豆腐中，煮一炷香，研極細。</p>
<p>外用收口生肌，點睛退翳。綿裹塞耳治聾，塗面駐顏潤澤。內服止渴除蒸，安魂定悸。</p>
<p>稟太陰之精氣而結，宜其主用多入陰經。</p>
<p><u>珠體最堅，研如飛面，方用，不細損人臟腑。病不由火熱者忌之。</u></p>

<h4>蟾酥</h4>
<p>味辛、性溫，有毒。入胃、腎二經。</p>
<p>發背疔疽，五疳羸弱，立止牙疼，善扶陽事。</p>
<p>入外科方有奪命之功。然輕用能發泡，爛人肌肉。</p>

<h4>五倍子</h4>
<p>味苦、酸、澀，性平，無毒。入肺、胃二經。</p>
<p>外治：糝口瘡，須臾可食，洗脫肛，頃刻能收。染鬚髮之白，治目爛之疴。</p>
<p>內服：斂肺化痰，故止嗽有效，散熱生津，故止渴相宜。上下之血皆止，陰陽之汗咸瘳。瀉痢久而能斷，腫毒發而能消。</p>
<p><u>五倍子、專收斂。咳嗽由於風寒者，忌之；瀉痢非虛脫者，忌之；咳嗽由於肺火實者，忌之；誤服反致壅滿，以其收斂太驟，火氣無從泄越耳。</u></p>

<h4>淘鵝油</h4>
<p>味鹹、性溫，無毒。</p>
<p>理痹痛癰疽，可穿筋透骨。</p>
<p>取其脂熬化，就以其嗉盛之，則不滲漏。雖金銀磁玉之器盛之，無不透漏者，此可見其入骨透髓之功，然但資外敷，不入湯丸。</p>

<h3>（三）礦物藥</h3>

<h4>硃砂</h4>
<p>（見心經）</p>

<h4>水銀</h4>
<p>味辛，性寒，有毒。</p>
<p>以毒攻毒，解毒殺蟲，僅作外用，滅蝨有功。</p>

<h4>輕粉</h4>
<p>性味同水銀。</p>
<p>惡瘡潰瘍、久不愈合，拔毒生肌，外用有益。成人盜汗，小兒夜啼，為末津調，用以塗臍。耳膿日久，口瘡斷續。疳蝕唇鼻，一切腫毒，用以外治，往往平復。手足皸裂，鬚髮早白，塗之染之、收效亦速。痔瘡日久，肛門下脫，燒煙先熏，煎湯坐浴。</p>
<p>此藥以外用為主，切勿內服。</p>

<h4>黃升紅升</h4>
<p>有大毒。</p>
<p>搜膿拔毒，去腐生新，癰瘍久久不愈，外用僵局能平。</p>
<p>此藥乃用水銀等昇華而成，有毒不能內服。外用伍乳香、沒藥為散，名三香散，撒於膏藥，貼於瘡口，化腐提毒，收效頗捷。</p>

<h4>元明粉</h4>
<p>（見瀉下藥）</p>

<h4>雄黃</h4>
<p>味苦、性平，有毒。研細，水飛。</p>
<p>塗蛇虺之傷，楊梅疔毒，疥癬痔瘍，遵法搽敷力不小。化痰涎之積，血瘀風淫，邪乾屍疰，依方制服效偏奇。</p>
<p>獨入厥陰，為諸瘡殺毒之藥。與巴豆、鬱金為伍醋丸，名雄黃解毒丸。治急症喉痹有良效，乃急救之藥也。</p>

<h4>白礬</h4>
<p>味酸、澀，性寒，無毒。入脾、胃二經。甘草為使。惡牡蠣、麻黃。</p>
<p>外治：收脫肛陰挺，理疥癬濕淫。內服：消痰止利，滌熱祛風。</p>
<p>礬之用有四：諸血脫肛，陰挺瘡瘍，取其酸澀而收也；喉痹、癰疽、蛇傷、蟲毒，取其解毒也；吐風熱痰涎，取其酸苦湧泄也；治風痰、泄痢、崩帶，取其收而燥濕也。多服傷骨損心肺。</p>

<h4>硫黃</h4>
<p>味酸，性大熱，有毒。入心、腎二經。畏細辛、朴硝、鐵、醋，用萊菔剜空，入硫合定，糠火煨熟，紫背浮萍同煮，皂角湯淘去黑漿。</p>
<p>外用：殺蟲燥寒濕。疥瘡盡掃。內服：壯陽堅筋骨，陰氣全消。老年風秘，君半夏而立通。泄痢虛寒，佐蠟礬而速止，艾湯投一匕，陰毒回春。溫酒送三丸，沉寒再造。</p>
<p>秉純陽之精，能補君火，可救顛危，烏須黑髮，亦可引年，然須制煉得宜，斷房者，方可用之，一有不當，貽禍非輕，故極少用。外治疥瘡，收效甚速。然同時須服利濕解毒之劑，庶不致瘡毒內攻，而生浮腫難治。</p>

<h4>硼砂</h4>
<p>（見咽喉藥）</p>

<h4>赤石脂</h4>
<p>（見澀大腸）</p>

<h4>爐甘石</h4>
<p>味甘，性溫。煅。水飛。</p>
<p>散風熱而腫消，祛痰氣而翳退。</p>
<p>金銀之氣所結，為眼科要藥。</p>

<h4>銅青</h4>
<p>味辛、酸，無毒。入肝經。</p>
<p>內服：眼科主風熱之疼；外科止金瘡之血；內科吐風痰之聚；女科理血氣之痛。殺蟲有效，疳證亦宜。</p>
<p>色青入肝，專主東方之證，然服之損血。</p>

<h2>食療</h2>

<h3>（一）穀類</h3>

<h4>胡麻</h4>
<p>味甘，性平，無毒。入肝、脾、腎三經。其色如醬，其狀如蝨。九蒸，曬。</p>
<p>養血潤腸，燥結焦煩誠易退。補中益氣，風淫癱瘓豈難除。堅筋骨，明耳目，輕身不老。長肌膚，填腦髓，辟穀延年。</p>
<p>補陰是其本職。又去風者，所謂治風先治血，血行風自滅也。李廷飛雲，風病人久服，步履端正，語言不謇。神農收為上品。道書載其功能，洵服食之佳品。但令人腸滑，得白朮並行為勝。</p>
<p><u>胡麻即黑芝麻，除上述者外，又能補肝腎，能潤五臟，虛風眩暈，病後虛羸，鬚髮早白，產婦乳少，常服之，均有益。</u></p>

<h4>麻油</h4>
<p>味甘，性微寒，無毒。</p>
<p>熟者利大腸，下胞衣。生者摩瘡腫，生禿髮。</p>
<p>生者，不宜過食。脾虛作瀉者忌之。</p>

<h4>粳米</h4>
<p>北粳涼，南粳溫。白粳涼，紅粳溫。晚稻得金氣多，更涼。得宇宙之沖氣，養生人之後天。色白而入肺清熱，煮汁則止渴除煩。新米動氣，胃強者何礙，陳廩沖淡，脾虛者宜餐。</p>
<p>仲景白虎、桃花、竹葉石膏三湯，並用之，以清熱補不足也。</p>

<h4>糯米</h4>
<p>味甘，性溫。釀酒則熱，熬湯更甚。</p>
<p>脾虛最補，肺寒可瘳。大便既堅，而小便又縮。痘瘡雖發，而自汗能收。</p>
<p><u>糯米，雖大補脾肺寒虛。但性極黏滯，病人及小兒不宜多食。</u></p>

<h4>粱</h4>
<p>《名醫別錄》分載黃梁、白粱與青粱。分述於下：</p>
<p>①黃　粱　米</p>
<p>味甘，性平，無毒。</p>
<p>益氣安中，治痹止泄，利小便，除煩熱。</p>
<p>②白　粱　米</p>
<p>味甘，性微寒，無毒。</p>
<p>除胸膈熱，益氣和中。緩筋骨，止煩渴。</p>
<p>③青　粱　米</p>
<p>味甘，性微寒，無毒。</p>
<p>補脾益胃，補中益氣。利小便，止泄痢。</p>
<p>蘇頌云「諸粱比之他谷，最益脾胃。」又能利水益腎，故《名醫別錄》謂青粱煮粥食之輕身長年。</p>

<h4>粟米</h4>
<p>即小米。味鹹，性微寒，無毒。入脾、胃、腎三經。</p>
<p>補氣，養腎。開脾胃，益丹田，利小便而稱良，治反胃與熱痢。李時珍云「粟之味鹹淡，氣寒下滲，腎之谷也。腎病宜食之。虛熱、消渴、泄痢，皆腎病也。滲利小便，所以泄腎邪也。降胃火，而脾胃之病宜食之。」</p>

<h4>小麥</h4>
<p>味甘，性平。</p>
<p>益心神，養胃氣。</p>
<p>以淮產者為佳，無壅滯生熱之慮，有涼心潤燥之功。故能治婦人臟燥。</p>
<p>浮麥，即水淘浮起者。除虛熱，斂心津。汗乃心之津液，養心退熱，津血不為火擾，則可無自汗盜汗之慮矣。</p>

<h4>黍米</h4>
<p>味甘、性溫、無毒。入肺、脾、胃三經。</p>
<p>甘溫益氣，補肺補中。鵝口杖瘡，均堪外用。</p>
<p>孟詵謂「燒灰和油塗杖瘡，止痛不作瘢」。李時珍謂「嚼濃汁塗小兒鵝口瘡有效。」</p>

<h4>稷米</h4>
<p>味甘，性寒、無毒。入脾、胃二經。</p>
<p>安中益氣，利胃宜脾。涼血解暑，闢除瘟疫。補諸不足，解苦瓠毒。</p>
<p>孫真人云「稷，脾之谷也，脾病宜食之。」</p>

<h4>秫米</h4>
<p>味甘，性微寒，無毒。入肺、脾、大腸三經。</p>
<p>利大腸，治筋攣。陽盛陰虛，夜不得眠。伍以半夏，睡足神安。</p>
<p>亦可單用，煮粥食之，頗益人。</p>

<h4>菰米</h4>
<p>一名茭米，又名雕苽、雕菰。管子謂之雁膳。味甘，性冷，質滑，無毒。入肺、胃、腎三經。</p>
<p>調腸胃，除熱煩。止渴滋口燥，生津潤嗌乾。咽喉患者食之，滑利易於過關。</p>
<p>此即茭白所結之穎果，如針狀，作飯香脆，荒年且可濟飢。</p>
<p>根名茭白，詳見菜部，另列專條。</p>

<h4>薏苡仁</h4>
<p>味甘，性微寒，無毒。入肺、脾二經。淘淨，曬，炒。</p>
<p>健脾益胃，排膿除痹。祛風濕，理腳氣拘攣，保燥金，治痿癰咳嗽。瀉痢不能缺也，水脹其可廢乎。</p>
<p>薏仁得地之燥，稟秋之涼，能燥脾濕，善祛肺熱。</p>
<p><u>大便燥結，因寒轉筋，及妊娠者並禁之。</u></p>

<h4>芡實</h4>
<p>味甘、性平，無毒。入脾、腎二經。</p>
<p>補腎固精，而遺濁有賴，益脾養氣，而泄瀉無虞。使耳目聰明，愈腰脊痠痛。</p>
<p>稟水土之氣以生，獨於脾腎得力。小兒不宜多食者，以其難消也。</p>

<h4>赤豆</h4>
<p>味甘、酸，性平，無毒。入心、小腸二經。</p>
<p>利水去蟲，一味磨吞決效。散血排膿，研來醋敷神良。止渴行津液，清氣滌煩蒸。通乳汁，下胞衣，產科要矣。除痢疾，止嘔吐，脾胃宜之。</p>
<p>赤豆，心之谷也，其性下行，入陰分，通小腸，治有形之病，消瘕散腫，雖潰爛幾絕者，為末敷之，無不立效。</p>
<p><u>久服赤豆，令人枯燥，肌瘦、身重，以其行降令太過也。</u></p>

<h4>綠豆</h4>
<p>味甘、性寒。入肝經。反榧子殼，惡鯉魚。</p>
<p>解熱毒而止渴，去浮風而潤膚。利小便以治脹，厚腸胃以和脾。</p>
<p>綠豆屬木，通於厥陰，解毒之功，過於赤豆，但功在綠皮，若去殼，即壅氣矣。</p>
<p><u>胃寒者，不宜食。</u></p>

<h4>黑豆</h4>
<p>味甘、性平，無毒。入腎經。</p>
<p>活血散風，除熱解毒。消水腫歷節，能聰耳明目。</p>
<p><u>甘草與黑豆伍用，能解百藥毒。蓋甘草和中，黑豆散熱，又均能解毒也。蘇頌云：「古稱大豆解百藥毒，試之不然。又加甘草，其驗乃奇」。今以二藥加骨碎補治中毒耳聾，得效。</u></p>

<h4>扁豆</h4>
<p>味甘、性溫，無毒。入脾經。去皮，炒。</p>
<p>補脾胃而止吐瀉，療霍亂而清濕熱。解諸毒大良、治帶下頗驗。</p>
<p>色黃味甘，得乎中和，脾之谷也。能化清降濁，故有消暑之用。皮如粟色者，不可入藥。</p>
<p><u>傷寒邪熾者，禁用。</u></p>
<p>花、葉：均對暑期瀉、痢有益。</p>
<p>藤：治轉筋。</p>

<h4>豆豉</h4>
<p>（見發散）</p>

<h3>（二）釀造與調味及飲料</h3>

<h4>飴糖</h4>
<p>味甘，性溫，無毒。入脾經。</p>
<p>止嗽化痰，千金方每嘉神效。脾虛腹痛，建中湯累奏奇功。瘀血熬焦和酒服，腸鳴須用水煎嘗。</p>
<p><u>飴糖，雖能補脾潤肺，然過用之，反能動火生痰，凡中滿、吐逆、酒病、牙疳，咸忌之。</u></p>

<h4>白沙糖</h4>
<p>味甘、性寒，無毒。入脾經。</p>
<p>生津解渴，除咳消痰。補脾緩肝，和中潤肺。</p>
<p>中滿者少用。</p>

<h4>紅沙糖</h4>
<p>味甘、性寒，無毒。</p>
<p>功用與白者相仿，和血乃紅者獨長。（紅白二種，皆蔗汁煎成。）</p>
<p>多食能損齒生蟲。作湯下小兒丸散者繆矣。</p>

<h4>蜂蜜</h4>
<p>味甘、性平，無毒。入脾經。忌生蔥。凡蜜一斤，入水四兩，磁器中煉去沫，滴水不散為度。</p>
<p>和百藥而解諸毒。安五臟而補諸虛。潤大腸而悅顏色，調脾胃而除心煩。同薑汁行初成之痢，同薤白塗湯火之瘡。</p>
<p>採百花之英，合雨露之氣釀成。其氣清和，其味甘美，虛實寒熱之正，無不相宜也。</p>
<p><u>大腸虛滑者，雖熟蜜亦在禁例。酸者，食之令人心煩；同蔥食害人；同萵苣食，令人利下；食蜜飽後，不可食醋，令人暴亡。</u></p>

<h4>醋</h4>
<p>味酸，性溫，無毒。入肝經。澆紅炭而聞氣，產婦房中常起死。塗癰疽而外治，瘡科方內屢回生。消心腹之疼，症積盡破。殺魚肉之毒，日用恆宜。</p>
<p>陳藏器曰：「多食損筋骨、損胃、損顏色。」</p>

<h4>食鹽</h4>
<p>味鹹，性寒，無毒。入腎經。</p>
<p>擦齒而止痛，洗目而去風。二便閉結，納導隨通。心腹煩疼，服吐即愈。治疝與辟邪有益，痰停與霍亂無妨。潤下作咸，咸走腎。喘嗽、水脹、消渴，大忌食鹽，或引痰生，或凝血脈，或助水邪，多食損顏色，傷筋力。故西北人不耐咸，少病多壽，東南人嗜咸，少壽多病。青鹽，功用相同，入肝散風。</p>

<h4>胡椒</h4>
<p>味辛，性大熱，有毒。入胃、大腸二經。</p>
<p>溫中下氣，消風去痰。食積與快膈稱良，腹痛與胃寒共治。</p>
<p>陰虛火旺之人忌用。畢澄茄即胡椒之大者，乃一類二種，亦易僭上。</p>

<h4>茶葉</h4>
<p>味甘、苦，性微寒，無毒。入心、肺二經。畏威靈仙、土茯苓，惡榧子。</p>
<p>消食下痰氣。止渴醒睡眠。解烤炙之毒，消痔瘻之瘡。善利小便，頗療頭疼。</p>
<p>稟土之清氣，兼得春初生髮之意，故其所主，皆以清肅為功，然以味甘不澀，氣芬如蘭，為良。茶稟天地至清之氣，產於瘠砂之間，專感云露之滋培，不受纖塵之滓穢，故能清心滌腸胃，為振發之品。昔人多言其苦寒，不利脾胃，及多食發黃消瘦之說，此皆語其粗惡苦澀者耳。故入藥須擇上品，方有利益。茶子：研末吹鼻，治頭腦鳴響。</p>

<h4>酒</h4>
<p>味苦、甘、辛，性熱，有毒。入肺、胃二經。</p>
<p>通血脈而破結，厚腸胃而潤肌。宣心氣以忘憂，助膽經以發怒。善行藥勢，可御風寒。</p>
<p>少飲則和血行氣，壯神消愁，過飲則損胃耗血，生痰動火。故沉湎無度，醉以為常者，輕則致疾，重則亡身。此大禹所以疏儀狄，周公所以著酒誥也。燒酒散寒破結，損人尤甚。</p>

<h3>（三）菜蔬</h3>

<h4>薯蕷</h4>
<p>一名山藥。味甘，性平，無毒。入心、脾、腎三經。蒸透用。</p>
<p>益氣長肌，安神退熱。補脾除瀉痢，補腎止遺精。</p>
<p>山藥得土之沖氣，稟春之和氣，故主用如上，但性緩，非多用不效。</p>
<p><u>山藥與面同食，不能益人。尚有藤上之珠芽、名零餘子、另立專條。</u></p>

<h4>零餘子</h4>
<p>味甘、性平、（偏於溫）無毒。入肝、腎二經。即山藥藤上之珠芽，俗稱山藥果子。生曬乾，切碎入藥。若作食療，煮熟，去皮，蘸糖食。</p>
<p>補脾益腎，而重點在腎。聰耳明目，具防老之能。強健腰部，濟弱扶傾。挽救虛損，轉瘦為豐。餒者啖之不飢，老人食之駐顏。</p>
<p>陳藏器云：「零餘子，功用強於薯蕷。」李時珍云：「勝於山藥，美於芋子。」</p>

<h4>百合</h4>
<p>味甘，性微寒，無毒。入心、肺二經。花白者入藥。</p>
<p>保肺止咳，驅邪定驚。耳聾耳痛，百合諸病。止涕淚多，利大小便。</p>
<p>心主鎮定，邪不能侵。肺相清肅，咳嗽可療。涕淚，肺肝熱也。二便不通，腎經熱也。清火之後，復何患乎。仲景云：「行住坐臥不定，如有神靈，謂之百合病，以百合治之，是亦清心安神之效歟。」</p>
<p><u>百合潤肺，能通二便，中寒下陷者忌之。</u></p>

<h4>芋艿</h4>
<p>一名蹲鴟，旁生小者曰芋子。味甘、辛，性平，質滑，生則有毒。入胃、大腸二經。</p>
<p>寬胃下氣，利腸通閉，散結消瘰癧，補中充肌膚。止熱渴，敷燙傷。</p>
<p>多食反能滯氣困脾。患瘰癘者，可常作食療。</p>

<h4>慈姑</h4>
<p>又作茨菰。味甘、微苦，性微寒，無毒。入肺、肝二經。</p>
<p>清肺而止咳嗽痰血，和血而治產後血悶。</p>
<p>須去皮煮熟食。其葉又可作藥引，風熱咳嗽方中，加用一至三片為引，有良效。搗爛可塗丹毒。</p>

<h4>茭白（附茭草）</h4>
<p>正名為菰，又作菰菜、茭筍。味甘，性冷，質滑，無毒。入肺、脾、胃、腎四經。</p>
<p>去煩熱，利五臟。開胃口，通兩腸。滋人齒，除目黃。</p>
<p>茭白為菜蔬之一，與鯽魚為羹，能開胃口。又能治咽中潰爛，口舌生瘡。</p>
<p>茭草：即菰葉。《日華諸家本草》謂其「利五臟」。</p>

<h4>紫菜</h4>
<p>味甘、咸，性寒，無毒。入肺經。</p>
<p>清煩滌熱，化痰軟堅。和血下氣，開胃加餐。治少寐，利咽喉。除腳氣，醫咳嗽。散結氣，消癭瘤。</p>
<p>《食療本草》云：「若熱氣塞咽喉者，汁飲之。」干嚼能治肺癰初起，咳唾臭痰。又能兼利小便。</p>

<h4>蓴菜</h4>
<p>味甘，性寒，無毒。入脾、胃、肝三經。</p>
<p>清胃脘之熱逆，逐停聚之水濕。降浮上之陽氣，宜老人之服食。消痰除煩，解毒清熱。安下焦，調消渴。</p>
<p>此菜涼滑鮮美，故張翰見秋風而動故鄉蓴鱸之思。多食令人嗜睡，故難寐之人，佐餐有益。</p>
<p>以其質滑。咽部欠爽利者，用之亦宜。</p>

<h4>蕨菜</h4>
<p>味甘，性寒，質滑，無毒。入心、脾二經。</p>
<p>泄陽氣，利水道。降而不升，靜而止燥。令人入睡，消除煩惱。饑年代谷，可以免夭。氣壅經絡，用之多效。</p>
<p>難以入睡或睡而不實，多慮者，常食此物有效。</p>

<h4>香椿頭</h4>
<p>即椿之嫩芽，味微苦，性偏溫。</p>
<p>嫩芽瀹食，祛毒消風。</p>
<p>李時珍謂：「椿葉無毒。」然亦不可多食。</p>

<h4>木耳</h4>
<p>味甘，性平。入胃、大腸二經。</p>
<p>利五臟，和胃腸，活血脈，使血涼。治出血，醫痔瘡。</p>
<p>以楮、槐、榆、柳、桑五種樹上所生者為良。常食有益。</p>

<h4>葛仙米</h4>
<p>味甘、淡，性寒。</p>
<p>清神解熱，清膈利腸。能消痰火，可醫夜盲。亦作外治，湯火燙傷。為羹入饌，鮮爽清香。</p>
<p>此為藻體，商品中常夾有沙子，宜撿淨再用。</p>

<h4>韭菜</h4>
<p>味辛、性溫，無毒。</p>
<p>固精氣、暖腰膝，強腎之功也。止瀉痢，散逆冷，溫脾之力歟。消一切瘀血，療喉間噎氣。</p>
<p>韭根搗汁，去瘀血，治反胃。</p>
<p>韭子：固精生精，助陽止帶。</p>
<p>古方用韭，專治瘀血，蓋酸入肝，辛能散，溫能下也。多食則神昏目暗。</p>

<h4>胡荽</h4>
<p>味辛，性溫。</p>
<p>內通心脾，外達四肢。能辟邪惡，最發痘疹。</p>
<p>酒煎。掩頭面含噴遍身，即發痘疹。</p>

<h4>大蒜</h4>
<p>味辛、性溫，有毒。入脾、腎二經。忌蜜。</p>
<p>消穀化食，闢祟驅邪。破痃癖多功，炙惡瘡必效。搗貼胸前，痞格資外攻之益。研塗足底，火熱有下引之奇。</p>
<p>大蒜用最多，功至捷，外塗皮肉，發疱作疼，則其入腸胃而搜刮，概可見矣。</p>
<p><u>性熱氣臭，凡虛弱有熱之人，切勿沾唇。即宜用者，亦勿過用，生痰動火，損目耗血，謹之。</u></p>

<h4>薤白</h4>
<p>味辛、苦、性溫、質滑、無毒。入心、胃、大腸三經。</p>
<p>溫中散結、下氣散血。胸痹刺痛、心痛宜食。亦治久痢、咽中哽骨。輕身耐寒、能補不足。</p>
<p>《本草匯言》謂：「陰虛發熱病，不宜食。」</p>

<h4>生薑</h4>
<p>（見發散）</p>

<h4>蔥</h4>
<p>（見發散）</p>

<h4>金針菜</h4>
<p>（見萱花下）</p>

<h3>（四）瓜果</h3>

<h4>冬瓜</h4>
<p>味甘淡，性偏涼，無毒。入心、肺、脾、大小腸五經。</p>
<p>清解暑熱，利水消痰。胸悶膈熱，口渴心煩。腫脹溲少，濕困減餐。</p>
<p>暑期連皮子煮食，頗能益人。</p>
<p>冬瓜皮：利水消腫。洗面去黑䵟。</p>
<p>冬瓜子：清肺消癰。治肺癰、腸癰。</p>

<h4>西瓜</h4>
<p>味甘，性寒。</p>
<p>解暑除煩，利水醒酒。</p>
<p>瓜性寒，曝之尤寒，稽含賦云：「瓜曝則寒，油煎則冷」，物性之異也。</p>
<p>一味單行，名天生白虎湯。但多食傷脾，助濕，至秋易患瘧痢。甜瓜略同。</p>

<h4>絲瓜</h4>
<p>味甘，性平，無毒。</p>
<p>化痰涼血，除熱利膈。祛風解毒，清上稱良。鼻病齒患，腮腫唇僵。食之有益，常用無妨。</p>
<p>固氣和胎，孕產如常。又能下乳，母子安康。</p>
<p>根、藤、葉、絡另有專條。</p>

<h4>大棗</h4>
<p>味甘，性平，無毒。入脾經。堅實肥大者佳。</p>
<p>調和脾胃，具生津止瀉之功。潤養肺經，操助脈強神之用。</p>
<p>經言：棗為脾果，脾病宜食之。又曰：脾病人，毋多食甘，毋乃相戾耶？不知言宜食者，指不足之脾也。如脾虛泄瀉之類。毋多食者，指有餘之脾也，如中滿腫脹之類。凡用藥者，能隨其虛實而變通之，雖尋常品味，必獲神功，苟執而泥之，雖有良劑，莫展其長，故學者以格致為亟也。</p>
<p><u>棗雖補中，然味過於甘、中滿者忌之。小兒疳病及齒痛，痰熱之人，俱不宜食；生者，尤為不利。紅棗：功用相仿，差不及耳。</u></p>

<h4>青梅</h4>
<p>味酸，性平。</p>
<p>既能止渴生津，又可斂肺澀腸。</p>
<p>口渴咽乾，乾咳少痰，大便稀溏者，以之作食療，甚為有益。</p>
<p>附：核仁，除煩熱，明眼目。吳普本草謂其益氣不飢。</p>

<h4>枇杷果</h4>
<p>味甘、酸，性平。入肺、胃二經。</p>
<p>利肺氣、止吐逆。治渴、下氣，主上焦熱，能潤五臟。</p>
<p>此果主降、能潤、故咽喉不利，口舌乾燥者，用之甚宜。</p>

<h4>梨</h4>
<p>味甘、酸，性寒，無毒。入心、肝、脾三經。</p>
<p>外宣風氣，內滌狂煩。潤肺涼心，降火消痰。熱嗽口渴，失音咽乾。</p>
<p>人知其清火消痰，不知其散風之妙。生之，可清六腑之熱；熟之，可滋五臟之陰。</p>
<p>初病連皮蒸食，病七日以上者，可去皮生食。</p>

<h4>柿</h4>
<p>味甘，性寒，無毒。入肺、脾二經。</p>
<p>潤肺止咳嗽，清胃理焦煩。</p>
<p>乾柿：俗稱柿餅。能厚腸而止泄，主反胃與下血。</p>
<p>柿霜：清心而退熱生津，潤肺而化痰止嗽，口瘡常發，用此含之。</p>
<p>三者主用，大同小異。總之，肅清上焦火邪，兼有益脾之功也。</p>
<p><u>柿性頗寒，肺經無火，及風寒作嗽者、冷痢滑泄者忌之。不宜與蟹同食，令人腹痛作瀉。</u></p>
<p>柿蒂：止呃逆。</p>

<h4>蘋果</h4>
<p>味甘酸，半熟者味兼澀。入胃、腸二經。</p>
<p>止口渴，治瀉痢。</p>
<p>此果尤宜於暑期腹瀉。舌紅口渴者。以用將熟味兼澀者為佳。</p>

<h4>山楂</h4>
<p>味酸、性平，無毒。入脾、胃二經。去核。</p>
<p>消肉食之積，行乳食之停。疝氣為殃，茴香佐之而取效。兒枕作痛，沙糖調服以成功。發小兒痘疹，理下血腸風。</p>
<p>善去腥膻油膩之積，與麥芽之消穀積者，不同也。核主催生、疝氣。按胃中無積、及脾虛惡食者忌服。</p>

<h4>無花果</h4>
<p>味甘、性平。入肺、脾、大腸三經。</p>
<p>清肺清腸、和脾開胃。咽喉疼痛聲嘶，大便不調生痔。</p>
<p>此果有製為糖脯者、便於啖食。腸風下利固宜，便秘亦可暢行、乃調節大腸之食療佳品。</p>
<p>其葉煎湯熏洗，可治痔瘡腫痛。</p>

<h4>橘肉</h4>
<p>味甘酸，性溫。入肺、胃二經。</p>
<p>潤肺開胃，寬胸快膈。</p>
<p>橘絡，理氣尤佳。另有專條。</p>

<h4>金橘餅</h4>
<p>味酸、甘，性平，無毒。入肝、胃二經。</p>
<p>寬胸快膈，降氣下氣。咽喉覺阻，食之爽利。消滯醒酒均可，解渴闢臭咸宜。</p>
<p>此餅能發胸中陳郁之氣，食後，上則噯氣，中則腹鳴，下則矢氣，患者每覺有鬆快之感。</p>

<h4>柚</h4>
<p>味酸，性寒，無毒，入肺、胃二經。</p>
<p>消食積，去腸胃中惡氣。解酒毒，治飲酒人口氣。妊婦口淡，不思進食，以之食療，和暢胸膈。</p>
<p>柚皮：味甘、辛，性平。入肺、胃二經。</p>
<p>消食快膈，散憤懣之氣。化痰止咳，酒蜜浸之甚宜。</p>

<h4>慄</h4>
<p>味甘，性溫。入胃、腎二經。</p>
<p>益氣厚腸胃，補腎治腰腳。</p>
<p>蘇子由詩云，「老去自添腰腳病，山翁服慄舊傳方，客來為說晨興晚，三咽徐收白玉漿。」</p>
<p>此得食慄之益，故記之以歌訣也。</p>

<h4>石榴</h4>
<p>味甘、酸、澀，性溫，無毒。</p>
<p>咽喉燥渴，食之有益。瀉痢帶下，仗其酸澀。</p>
<p>咽喉紅腫劇痛，以石榴汁點之可止。</p>

<h4>龍眼</h4>
<p>味甘、性平，無毒。入心、脾二經。</p>
<p>補心虛而長智，悅胃氣以培脾。除健忘與怔忡，能安神而熟寐。血不歸脾莫缺，思慮過度者宜。</p>
<p>不熱不寒，和平可貴，別名益智者，為其助心生智也。歸脾湯用為嚮導者，五味入口，甘先歸脾也。道家用龍眼肉，細嚼千餘，待滿口津生，和津汩汩而咽，此即服玉泉之法也。</p>

<h4>胡桃</h4>
<p>味甘、性平，無毒。入肺、腎二經。</p>
<p>佐補骨而治痿強陰，兼胡粉而拔白變黑。久服潤腸胃，恆用悅肌膚。通命門而理三焦，治腰腳與心腹痛。</p>
<p>一幼兒痰喘，五日不乳，服人參胡桃湯，喘即定。明日，去胡桃衣、喘復作，仍連皮服，遂愈。蓋皮有斂肺之功也。但用一味，空腹時連皮食之，最能固精。</p>
<p><u>肺有痰熱，命門火熾者勿服。</u></p>

<h4>銀杏</h4>
<p>味甘、苦、澀，性平、有小毒。入肺、腎二經。</p>
<p>熟食有溫華蓋益氣、定哮寧嗽，縮小便、止帶濁之功。生用能塗䵟𪒟皶疱，疥癬陰蝨，防皴皺，浣油膩之效。</p>
<p><u>銀杏，確有小毒，生食及熟者多食，均易中毒，小兒尤當慎之。</u></p>
<p>銀杏葉：斂肺平喘，能治咳喘而胸前痹痛。</p>

<h4>巴旦杏</h4>
<p>又名叭噠杏。味甘，性平，偏溫，無毒。入肺、胃二經。</p>
<p>止咳嗽下氣，消心腹逆悶。</p>
<p>此物可炒食，一般不入煎劑。</p>

<h4>松子</h4>
<p>味甘，小溫，無毒。</p>
<p>潤五臟，補不足。澤皮膚，發不白。燥咳停，風眩默。虛秘者，宜常服。</p>
<p>潤燥通腸，乃老年頤養之品也。</p>

<h4>榛子仁</h4>
<p>味甘，性平，無毒。入脾、胃二經。</p>
<p>益氣力，實腸胃。調中進食，令人健行。</p>
<p>此子食之益人，但不必多食。</p>

<h4>橄欖</h4>
<p>味酸、澀、甘，性平，無毒。入胃經。清咽喉而止渴，厚腸胃而止瀉。消酒稱奇，解毒更異。</p>
<p>跡其主用，約與訶黎勒相同。誤中河豚毒，惟橄欖煮汁服之可解。諸魚骨鯁，嚼橄欖汁咽之，如無橄欖，即以核研末，急流水調服，亦效。</p>
<p>核：燒炭、研末，與冰片、硼砂、西瓜霜、硃砂、薄荷等為伍，名鎖匙散。治咽部紅腫，局部不淨者，吹之有良效，以其能吸附垢物也。</p>

<h4>榧子</h4>
<p>味甘，性平，無毒。入肺經。反綠豆。</p>
<p>殺百種之蟲，手到而痊，療五般之痔，頻嘗則愈。消穀食而治咳，助筋骨而壯陽。東坡詩云：「驅除三彭蟲，已我心腹疾。」指其殺蟲也。不問何蟲，但空腹食榧子二十一枚，七日而蟲下，輕者，兩日即下矣。</p>
<p><u>丹溪云，榧子肺家果也。多食則引火入肺、大腸受傷。</u></p>

<h4>蓮子</h4>
<p>味甘，性平，無毒。入心、脾、腎三經。泡去皮、心。</p>
<p>心腎交，而君相之火邪俱靖，腸胃厚，而瀉痢之滑脫均收。頻用能澀精、多服令人喜。養神而氣力長，治血而崩帶瘳。</p>
<p>蓮子脾家果也，久服益人。石蓮子，乃九月經霜後，堅黑如石，墮水入泥者。今肆中石蓮子，其味大苦，產廣中樹上，不宜入藥。</p>
<p>另有蓮子心、蓮花瓣、蓮花須、蓮房等，均入藥用。詳見蓮心條。</p>

<h4>藕肉</h4>
<p>味甘，性平。入心、脾二經。忌鐵。</p>
<p>生用則滌熱除煩，散瘀而還為新血。熟用則補中和胃，消食而變化精微。</p>
<p>藕性帶澀，止血有功，產婦忌生冷，惟藕不忌，為能去瘀故也。</p>
<p>另有藕節、藕皮等，俱能作藥用。詳見藕節條。</p>

<h4>荸薺</h4>
<p>味甘、性寒，無毒。</p>
<p>益氣而消食，除熱以生津。腹滿須用，下血宜嘗。</p>
<p>同胡桃食，能化銅物於烏有。一味為末，能闢蠱毒。</p>
<p><u>孟詵云，有冷氣人勿食，多食令人患腳氣，孕婦忌之。</u></p>
<p>尚有荸薺粉，商品稱馬蹄粉，詳見附錄中。</p>

<h4>甘蔗</h4>
<p>味甘、澀，性平，無毒。入肺、胃二經。</p>
<p>下氣和中，消痰快膈。除心胸煩熱，止嘔噦口渴。除秋燥咳嗽，去其皮嚼汁。治發熱少津，而小便赤澀。</p>
<p>與青粱米同煮，能潤人心肺。</p>
<p>蔗皮燒研，摻小兒口疳甚效。</p>

<h3>（五）動物</h3>

<h4>烏骨雞</h4>
<p>味甘、咸，性平，無毒。入肺、腎二經。</p>
<p>最闢妖邪，安五臟。善通小便，理煩蒸。產中亟取。崩帶多求。</p>
<p>雞為陽禽，屬木應風；在卦為巽，其色有丹、白、黃、烏之異，總不如白毛烏骨，翠耳金胸，為最上乘也。</p>

<h4>鴨</h4>
<p>味甘、咸，性平，無毒。入肺、腎二經。</p>
<p>流行水腑。滋陰氣以除蒸。闖達金宮，化虛痰而止嗽。</p>
<p>類有數種，惟毛白而烏嘴鳳頭者，為虛癆良藥。白屬西金，黑歸北水，故葛可久治癆，有白鳳膏也。</p>

<h4>鳧</h4>
<p>即野鴨。味甘，性溫。</p>
<p>益氣補中、平胃消食。治水腫與熱毒，療瘡癤而殺蟲。</p>

<h4>雀卵</h4>
<p>味酸，性溫，無毒。入腎經。</p>
<p>益氣力，補髓精。乾道衰微，陽事難興；坤元素弱，宮冷不孕。挽饑年之浮腫，返老者之頹齡。雀屬陽而性淫，故強壯陽事。下元有真陽謂之少火，火衰則陰痿精寒，火足則精旺陽強，雀卵之於人，火矣哉。</p>
<p><u>陰虛火盛者勿食。不可同李食，服術人亦忌之。</u></p>

<h4>燕窩</h4>
<p>味甘，性平。入肺、脾、胃、腎四經。</p>
<p>養陰潤燥，益氣補中。虛損癆瘵，咳嗽痰紅。久病傷脾，憔悴不榮，補而不燥，潤而不滯，入腎滋水，入肺壯氣。入胃加餐，無往不利。</p>
<p>虛人老人，常食均有效益。</p>

<h4>黃牛肉</h4>
<p>味甘，性溫，無毒。入脾經。</p>
<p>補脾開胃，益氣調中。牛乳有潤腸之美。牛喉有去噎之功。</p>
<p>牛為稼穡之資，不輕屠殺。自死者食之損人。</p>

<h4>羊肉（附羊肝、羊膽）</h4>
<p>味甘、性溫，無毒。入脾、腎二經。</p>
<p>反半夏、菖蒲。忌醋。</p>
<p>補中益氣，安心止驚。宣通風氣，起發毒瘡。角堪明目殺蟲，肝能清眼主翳。腎可助陽、血能醫傷。</p>
<p>東垣云：補可去弱，人參羊肉之類是已。凡形氣痿弱，虛羸不足者，宜之。羊血又主產後血暈悶絕。生飲一杯即活。中砒、磠、鍾乳、礬石、丹砂之毒者，生飲可解。</p>
<p><u>羊食毒草，凡瘡家及痼疾者，食之即發，宜忌之。</u></p>
<p>羊肝：明目去翳、目患者、冬季常食有益。</p>
<p>羊膽：能明目。夷堅志。有二百味草花膏，即羊膽與蜜同熬而成，蓋取羊食百草，蜂採百花而得名也。</p>

<h4>豬脊髓</h4>
<p>味甘，性平，無毒。</p>
<p>補虛癆之脊痛，益骨髓以除蒸。心血共硃砂，補心而治驚癇。豬肺同薏苡，保肺而蠲咳嗽。</p>
<p>䐗本益脾，可止瀉而可化症，腎仍歸腎，能引導而不能補益。</p>
<p>豬：水畜也。在時屬亥，在卦屬坎。其肉性寒，能生濕痰。</p>

<h4>狗肉</h4>
<p>味鹹、性溫，無毒。入脾、腎二經。</p>
<p>反商陸。畏杏仁，惡蒜。</p>
<p>暖腰膝，而壯陽道，厚腸胃，而益氣力。</p>
<p>屬土性溫，故能暖脾，脾暖則腎亦旺矣。黃犬益脾，黑犬補腎，他色者，不宜用也。以其能暖腰膝，故風寒濕痹患者，可常食之。</p>

<h4>鯉魚</h4>
<p>味甘，性平。</p>
<p>下水氣、利小便。喘嗽腳氣、腫脹黃疸。</p>
<p>劉河間曰：「鯉之治水，鳧之利水，所謂因其氣相感也。」</p>

<h4>鯽魚</h4>
<p>味甘，性溫。諸魚屬火，獨鯽屬土。忌麥冬、芥菜、沙糖、豬肝。</p>
<p>和足陽明，實手陽明。運就下水，制氾濫水。</p>
<p>可和胃實腸，而又能行水者，以性獨屬土。而自能制水也。</p>

<h4>鰻鱺</h4>
<p>亦名白鱔。味甘，性平。</p>
<p>煮食補虛損，燒煙燻蚊蟲。能去風，又闢蛀。風瘙陰癢，濕痹骨蒸。</p>
<p>張鼎云：其骨燒煙，蚊化為水。熏竹木，闢蛀蟲。置衣箱、闢諸蠹。</p>

<h4>鱔魚</h4>
<p>俗稱黃鱔。味甘，性溫，無毒。</p>
<p>補中益血，逐風除痹。產後失調，食療甚宜。</p>
<p>血：可塗口眼歪斜。</p>

<h4>海參</h4>
<p>味鹹，性偏溫。入心、肺、脾、腎四經。</p>
<p>降火滋腎，通腸潤燥。精血虧損，怯弱虛勞。補養肺陰，免於短夭。陽事難興，常餐得效。</p>
<p>清燉食之，對虛人有益。</p>

<h4>淡菜</h4>
<p>味甘，性平，偏溫，無毒。</p>
<p>潛陽、益人。補五臟，理虛勞。潤毛髮，消癭氣。</p>
<p>吳鞠通先生於小定風珠方解中曾云：「淡菜生於鹹水之中而能淡，外偶內奇，有坎卦之象，能補陰中之真陽，其形翕闔，故又能潛真陽之上動。」李時珍《本草綱目》引阮氏云：「淡菜生海藻上，故治癭與海藻同功。」</p>
<p><u>本品與冬瓜同煮食，味尤美。</u></p>

<h4>蟶</h4>
<p>味甘，性溫，無毒。</p>
<p>煮軟作羹湯，補虛主冷痢。去胸中邪熱煩悶，治婦人產後虛損。</p>
<p>商品俗稱蟶乾，作湯頗為鮮美，寓藥於食，能消疾病於無形。</p>
<p>蟶殼：置瓦上，日曬夜露，待色轉白，漂淨為末，同冰片成散吹咽中，治喉風急症。</p>

<h4>蟹</h4>
<p>味鹹，性寒，有小毒。畏紫蘇、大蒜、木香。忌柿。</p>
<p>和經脈而散惡血，清熱結而續筋骨。合小兒之囟，解漆毒之瘡。</p>
<p>性寒，能發風，能薄藥力。孕婦不宜食。爪能墜胎。</p>

<h2>附錄</h2>

<h3>（一）澱粉類食療品</h3>
<p>１.葛粉</p>
<p>即葛根中之澱粉。味甘，性平，無毒。入胃經。為止渴生津之食療佳品。宋·寇宗奭謂：「冬月取生葛，搗爛入水中，揉出粉，澄成垛。入沸湯中良久，色如膠，其體甚韌，以蜜拌食」。查葛根製為粉食，由來已久，唐·陳藏器即謂：「作粉尤妙」；宋·蘇頌亦謂：「今人多作粉食」。風藥多燥，唯葛根獨潤，作粉則性更和緩。《食醫心鑑》治煩躁熱渴，即以葛粉與粟米同煮食；又治小兒壯熱嘔吐，亦以葛粉水調，糜飲和食。余家治諸般咽喉症，每囑患者食此，少加糖或蜜調服，味甚甘美。可起清熱、止痛、止嘔之作用。余曾用葛粉作賦形劑，將鎖匙散製成含片，有易於結合及崩解之特點，頗便於應用。</p>
<p>２.藕粉</p>
<p>《宦遊筆記》謂：「淮以南，皆澤國。居人蒔藕濾為粉，淘汰既淨，去其渣滓，存其甘液，風吹日曝，漸成碎珠，以湯沃而食之，別有風味，亦野物之可尚者矣。尤著名者曰片粉，擇藕之極佳者淘曬，人工十倍尋常，及其既成，則如白雪片片，纖塵不染，味亦絕勝」。明·朱權（臞仙）云：「藕搗浸澄粉，服食輕身益年」。《本草綱目拾遺》謂其「味甘氣芬芳性平。調中開胃，補髓益血，通氣分，清表熱。常食安神生智慧，解暑生津，解渴止瀉」。藕節也可以搗澄取粉，《本草綱目拾遺》謂其「味甘微帶苦，性平。開膈，補腰腎，和血脈，散一切瘀血，生一切新血。產後及吐血者，食之尤佳」。藕粉質滑易於下咽，又能止血養陰，開胃生津，故用於喉證最宜。其果實蓮子研磨成粉即為蓮子粉。味甘性平無毒，入心、脾、腎三經。《本草經》謂其「補中養神，益氣力，除百疾」。《日華諸家本草》謂其「多食令人歡喜」。《新修本草》謂其「輕身益氣，令人強健」。《本草蒙筌》謂其「安靖上下君相之火邪」。明·李時珍謂其「交心腎，厚腸胃，固精氣，利耳目」。根據以上諸說，虛損喉症，如咽喉結核等，或兼神志之病，用之均宜。一般咽喉病而兼心、腎、脾、胃不足者，用之亦頗為適合。</p>
<p>３.荸　薺　粉</p>
<p>荸薺載於《名醫別錄》，原名「烏芋」。以其根如芋而色烏也。《爾雅》名之為「鳧茈」，以鳧喜食之也。又以音近而轉為「鳧茨」、「葧臍」宋·鄭樵《通志》則作「地慄」，蓋亦取其形似也。其地下塊莖淘製成粉則為荸薺粉。味甘性微寒，質滑無毒，能入肺、胃、腸諸經。為清熱化痰之品。唐·孟詵謂其「除胸中實熱氣」；蘇頌謂其「厚人腸胃，不飢，能解毒」。《食規》謂可治「傷風失聲」。余家治咽痛失音，用荸薺粉加糖，開水沖調頻服。咽喉及食道腫瘤，湯水難下，調粉食之，可以易下；咽喉腐塊難退，或角化如珠，難以剝脫者，可用荸薺粉伍硼砂等作吹藥。本品又是眼科去翳之妙品。</p>
<p>４.菱粉</p>
<p>即菱肉所制之粉也。朱權云：「搗爛澄粉食，補中延年」。《本草綱目拾遺》謂「能補脾胃，益氣健力，耐飢行水，祛暑解毒，強腳膝」。余家遇老年而患慢性咽喉病，出現衰弱症狀者，每勸其間服菱粉，確具有強健之功。</p>
<p>５.芡粉</p>
<p>即芡實所制之粉也。唐·蘇敬謂「作粉食益人，勝於菱也」。《養余月令》謂其「益精氣，強智力，靈耳目，固精添髓」。余家治喉症之慢性而兼虛損者，如便溏、遺精、帶下等，每賞用之。喉蛾又兼關節疼痛，屢屢發作者亦宜之。《孫升談圃》謂「人之食芡，必咀嚼之……能使華液流通，轉相灌溉，其功甚於乳石也」。余每遇咽痛口乾之患者，多使其嚼之，能令滿口津生。庚子，余於役酒泉，每晚必嚼服十數粒，覺其確有殊功。</p>
<p>６.山　藥　粉</p>
<p>山藥原名薯蕷，後因唐代宗名預，避諱改為薯藥；至宋英宗名署，遂又改為山藥。味甘性平無毒（《本草經》則謂其小溫），入心、脾、腎三經。為補益脾腎藥，亦可補心安神。研磨成粉，調成糊狀，加糖食之。余家每用此於喉症之調理善後。單用而量大，其力更專，其效更顯。山藥藤上所結之珠芽，名零餘子。味甘性溫無毒，入心、脾、腎諸經。為強壯補腎藥。陳藏器謂其「益腎，強腰腳，補虛損，食之不飢」。李時珍則謂其「勝於山藥，美於芋子」。研磨成粉，可供食療。余家經驗，山藥重在補脾，此物重在補腎，故腎虛所致之頭眩耳鳴，腰痠腳弱，或兼有咽痛者，則必用之。</p>
<p>７.百　合　粉</p>
<p>由百合研磨而成。味甘性平無毒，入心、肺二經。能滋養五臟，益陰安神，潤肺止咳，除熱利尿。舉凡心虛少寐，精神不寧；肺虛乾咳，甚或吐血；陰虛熱渴及脾腎失健，浮腫，小便不利等，用之均有益。《名醫別錄》曾謂其「治喉痹」，蓋指後期而言。《隨息居飲食譜》謂其「上理咽喉」。余家於喉痹、喉癰、白喉、喉痧等病後陰虛，或兼神志欠寧，咳嗽浮腫者，均用之。每仿《金匱要略》百合病諸方，依其需要，適當加入地黃、知母、滑石等，或伍以玉竹、天冬、麥冬、石斛等。山丹即百合之開紅花者，主治略同，但其補力稍遜，以之入喉科方，亦甚相宜。《隨息居飲食譜》云：「清營滌暑，潤燥通腸，或蒸或煮，亦可澄粉，益人」。注：第二行之喉痹，應作急症關下喉痹。</p>
<p>８.橡　子　粉</p>
<p>由橡子研磨而成。味苦性微溫無毒，入脾、胃、腎諸經。是代食品，也是收澀藥。《列子·說符》有「夏食菱芰，冬食橡慄」之記載。唐代大詩人杜甫在《乾元中寓居同谷縣作歌七首》中也提到「拾橡慄」。唐·孫思邈謂其「非果非谷，而最益人……令人強健不飢」。《日華本草》謂其「煮食止飢，御歉歲」。李時珍謂其「如老蓮肉，山人儉歲採以為飯，或搗浸取粉食」。以上均是代食之記載。至於如何食法，應當以水多次泡浸，淘去其澀味，蒸熟食之；或磨粉食之；亦有磨成漿汁，過濾後取其沉澱，曬乾成粉應用者，其未沉澱部分，還可以做涼粉，或類似豆腐的食品。在治療方面，概括言之，澀腸止瀉，兼可固精。咽痛而伴有慢性腹瀉的患者，溫燥非其所宜，以橡子粉加糖沖調服用，平易而效宏。又咽喉結核與腸結核並見，且兼遺泄或帶下者，亦宜用之。</p>
<p>以上所舉粉類食品，合而言之，均能治療咽喉諸症；析而言之，則又有所區別：大抵葛粉走表；荸薺粉清痰；藕粉和中；菱粉、蓮子粉、百合粉、山藥粉、零餘粉均可補中，然又各有側重；藕粉、蓮子粉、百合粉、山藥粉均能調和情志，然藕可除煩，蓮令人喜，百合定驚，山藥安神；芡粉、橡子粉雖均達下焦而起收澀作用，然芡之重點在前陰，橡之重點在後陰。若依病期而言，則葛粉宜於早期，發熱或嘔吐者非但不忌，且宜頻服，後期口渴者，用之亦無忤；荸薺粉亦宜於早期，後期痰熱仍重者，用亦無妨；山藥粉、百合粉均宜於後期；菱粉則宜於後期及慢性病患者；蓮子粉、芡粉、零餘粉並宜於病後；橡子粉則宜於慢性病而腸滑者；藕粉則先後咸宜，乃通用之品。</p>

<h3>（二）談中藥的變通使用</h3>
<p>中藥的資源，相當豐富，中藥的品種，相當繁多。我國疆域廣大，過去由於交通的不便，儘管是甲地易得之品，往往乙地又有一時不濟現象。再則，有些藥材，本身就是很稀少的東西。所以古代醫家，便想出種種解決的方法來，不但作為權宜之計，而且形諸筆墨，留給後人參考。考中藥代用之法，由來已久，張仲景稱無豬膽以羊膽代之，又說，無膽亦可用。《金匱·雜療方》治飲食中毒方，用苦酒，而方後云：「或以水煮亦得」。仲景以後方書，類此者，又層見不窮。今將此類資料，梳剔整理，述其要者，歸納成類，供從事中醫中藥者之參考。</p>
<p>１.限於地域的變通使用</p>
<p>（１）植物——《本事方》引柳柳州纂《救死方》用橘葉，注云：「北地無葉，以皮代之」。又《聖濟總錄》治乾腳氣之杉節湯，亦用橘葉，注云：「皮亦得」。當是考慮北地使用之故。</p>
<p>（２）水類——《千金方》風眩薯蕷湯，用江水，注云：「秦中無江水處，以千里東流水代之」。又《瑣碎錄》治痔漏，以海水煎湯熏洗，注云：「入鹽煎亦得」。《蘇沈良方》治腸痔，用河水，注云：「井水亦得」。《雞峰普濟方》及《聖濟總錄》均有同樣記載。</p>
<p>２.照顧少數民族習慣的變通使用</p>
<p><u>古方中變通使用之法，頗有可供少數民族地區醫療工作之參考者，特輯為一類，其最初立方，雖不必因此而設，但是，能以啟發吾輩，俾得觸類旁通。</u></p>
<p>《千金方》肺虛寒門用豬胰，注云：「無豬胰，以羊胰代」。《聖惠方》治婦人乳癰方以豬膽汁調服，注云：「以醋漿水服之亦得」。</p>
<p>《聖濟總錄》摩傅神明膏用豬膏，注云：「以牛酥代豬膏亦佳」。《聖惠方》治頭瘡方用豬脂調塗，注云：「用麻油調亦可」。</p>
<p>３.季節性的變通使用</p>
<p>（１）冬雪夏水——魏氏鼻衄奇效散，須「頻用雪塊熨藥上」。注云：「無雪只冷水掃」。《保幼大全》治㿉瘡，用雪水，以雪水須預藏，故注云：「無雪水，用新水」。</p>
<p>（２）冬根夏葉——《博愛心鑑》謂水楊：「春冬用枝，秋夏用葉」。《備急方》療口中及舌上生瘡方用薔薇根，注云：「冬用根，夏用枝葉」。《聖惠方》治婦人乳癰方用蔓菁葉，注云「冬無葉，即用根也」。</p>
<p>（３）冬用乾者——《古今錄驗》蘇子湯，用蘇子及生蘇葉，注云：「冬天煮乾枝、莖葉亦佳」。《千金方》妊娠尿血方用生艾葉，注云：「冬用乾者」。</p>
<p>４.鮮貨與乾貨的變通使用</p>
<p>（１）干代鮮——《聖惠方》治難產方「益母草搗汁三合，如無生者，用乾者一握，以水煎服」。</p>
<p>《聖濟總錄》治舌上出血清心散用刺薊研絞取汁，注云：「如無生汁，只搗乾者為末，冷水調下」。又治小兒脾熱方用桑根白皮，取自然汁，注云：「如無新桑根白皮，取干桑白皮，細銼水煎」。乾薑代生薑，文獻極多，如《深師方》五味子湯，《古今錄驗》桂心湯等均是。</p>
<p>（２）鮮代干——《肘後方》治篤病新起早勞方用干蘇，注云：「無干者，生亦可用」。</p>
<p>（３）分兩須有變動——《本草新編》云：「蒲公英百斤，無鮮草可用乾者，干則不必百斤。三十斤便可，熬膏取七斤也」。《全嬰方論》有云：「如無生地黃，只用乾地黃，每乾地黃五兩，當生地黃一斤。」以上為干須減量之例。《直指方》腸癰四聖散中，有生栝蔞一枚，注云：「若干栝蔞，則用兩枚。」又是干須加量之例。</p>
<p>５.不同部份的變通使用</p>
<p><u>這一類的文獻很多，各舉一二例，恕不詳引。</u></p>
<p>（１）根代葉——《是齋百一選方》治小兒走馬疳，用芭蕉杆或葉，注云：「無即用根」。</p>
<p>（２）根或根皮代花——《小品方》茅花湯云：「若無茅花，取茅根代之亦可」。又《傷寒百問歌》治鼻衄方云：「無（茅）花，可以茅根代之」。《婦人良方》療婦人乳癰方，以芙蓉花研爛，注云：「若無花，只取根上皮，先用竹刀，刮去粗皮，但用內一層嫩白皮，研爛」。《經驗秘方》仙方香連丸用葛花，注云：「無葛花，以葛粉代之」。葛粉乃葛根中之澱粉也。</p>
<p>（３）根代子——《證類本草》黃蜀葵條引《經驗後方》用黃蜀葵子，注云：「如無子，以根細切，煎汁令濃滑、待冷服」。</p>
<p>（４）側根（子根）代主根（母根）——《古今錄驗》牡丹丸中用烏頭，注云：「無烏頭，附子亦可炮用之」。又《方氏家藏方》健脾散，亦以附子代烏頭。</p>
<p>（５）莖、葉代子——《澹寮方》苦參圓：「蒼耳子，無，則以莖葉代用」。《聖惠方》治齲齒方，用葫蘆子，注云：「莖葉亦可用」。</p>
<p>（６）苗、葉、子代瓜——《聖濟總錄》消渴竹龍散用冬瓜，注云：「無冬瓜，用冬瓜苗、葉、子煎湯俱可」。</p>
<p>（７）枝代果、子——《聖惠方》治妊娠霍亂轉筋方用木瓜，注云：「如無木瓜，煎枝亦佳」。</p>
<p>《聖濟總錄》胞衣不出槐子湯注云：「如無（槐）子用枝」。</p>
<p>（８）莖葉代花——《外科精要》金銀花散注云：「無花，用苗葉嫩莖代之」。</p>
<p>（９）花代根、葉、子——《直指方》瞿麥湯，「如無茅根，只用茅花」。《聖濟總錄》肝藏風毒天麻湯用甘菊葉，注云：「如無葉，以花代」。揚氏紫草散用紅花子。注云：「如無，紅花代之」。</p>
<p>（１０）子代葉、花——《肘後備急方》療小兒蠼螋瘡方用蒺藜葉，注云：「無葉，子亦可。」《婦人良方》催生葵子散用黃蜀葵花，注云：「無花時，只用葵子。」</p>
<p>（１１）核代果——《朱氏集驗方》治骨鯁方用橄欖，注云：「若無橄欖，核燒為炭，亦可」。</p>
<p>（１２）骨代臟——《千金翼方》補虛勞方用羊心、肺、肝、肚、腎。注云：「若無羊五臟，羊骨亦可用之」。</p>
<p>（１３）角代茸——《壽親養老書》中有鹿茸方，注云：「如無，以鹿角屑代之亦妙」。</p>
<p>６.同類品的變通使用</p>
<p>（１）同稱異物——《葉氏錄驗》有用葵葉方，注云：「如無葵葉，蜀葵子亦得」。</p>
<p>（２）同物異稱——《婦人良方》舒經湯云：「無薑黃，用嫩莪朮代之」。</p>
<p>（３）同是油類——《外科精要》白龍膏，用杏子油，注云：「芝麻油亦可」。</p>
<p>（４）同類而易得——《活人事證後集》糜茸圓注云：「無糜茸，以鹿茸代」。《活幼口議》暖金丹，「無牛黃，以黃牛膽代，加用」。</p>
<p>７.功效相似的變通使用</p>
<p>（１）療風——《千金翼方》秦王續命大八風散，用牡荊子，注云：「若無，用柏子仁代」。</p>
<p>（２）潤燥養陰——《活幼口議》黃耆散，用天門冬，注云，「麥門冬亦得」。</p>
<p>（３）保肺——《聖濟總錄》咳嗽百部煎用生百合汁，注云：「如無，以藕汁代」。</p>
<p>（４）寧心——魏氏小兒安神圓用琥珀，注云：「如無琥珀，以茯神代之」。</p>
<p>（５）風痹——《朱氏集驗方》獨活寄生湯注云：「無桑寄生，則以川續斷代」。</p>
<p>（６）除痰——《衛生家寶》中暑地榆奪命散用牛膽制天南星，注云：「如無，以法制半夏代之」。</p>
<p>（７）解熱——《經心錄》漏蘆湯用白薇，注云：「如無，則用知母」。《衛生寶鑑》地仙丹用青蒿，注云，「如無，則用竹葉。」</p>
<p>（８）止血——《傷寒蘊要》及《醫碥》生地黃湯，均用生藕自然汁，無藕則用刺薊汁，再無則用刺薊末。</p>
<p>（９）活血——《千金方》之遠志湯；茯苓湯；白芷圓；內補當歸湯；及《外臺秘要》引深師溫脾丸，均以川芎代當歸。</p>
<p>（１０）退黃——《醫宗金鑑》於麻黃連軺赤小豆湯下注云：「無梓皮，以茵陳代之」。</p>
<p>（１１）下氣——《壽親養老書》云：「如無烏藥，用厚朴亦得」。《蘭臺軌範》引局方藿香正氣散注云：「大腹皮換檳榔亦可」。</p>
<p>（１２）溫中——《肘後方》治心腹痛方云：「無桂，用乾薑亦佳」。</p>
<p>（１３）通下——《經心錄》漏蘆湯云：「無大黃用芒硝。」</p>
<p>（１４）利水——《千金方》甘草圓有澤瀉，注云：「無澤瀉，以白朮代之」。</p>
<p>（１５）溫腎——《活人事證》十柔圓有蓯蓉，注云：「無以鹿茸代之」。</p>
<p>（１６）調經——《婦人明理方》謂「丹參一味，主治與四物相同」。</p>
<p>（１７）外用治湯火傷——《聖惠方》治湯火所灼方用柳白皮，注云：「用柏白皮亦佳」。</p>
<p>８.代用其一兩種功效</p>
<p><u>前一類，是治療功效，大致相若的，即某某可代某某。這一類，是僅代其一兩種功效的，如茯苓代人參定心則可，代其它功能即不適宜。具體材料，仍分數類列下。</u></p>
<p>（１）定心——《千金翼方》淡竹茹湯（亦見千金，但敘述較略），注云：「若有人參，內一兩，若無人參內茯苓一兩半，亦佳，人參茯苓，皆治心煩悶及心驚悸，安定精神，有即為良」。</p>
<p>（２）除煩——《廣濟方》血氣煩悶方用生藕，注云：「竹瀝亦得」。</p>
<p>（３）發血中之表——張文仲療晚發傷寒方用地黃，注云：「無地黃，用豉一升」。《溫病條辨》謂生地能發血中之表，此用豆豉，亦代其發表也。</p>
<p>（４）止血兼化瘀——《千金方》白芷圓注云：「無續斷，以大薊根代之」。大薊根僅代續斷之止血化瘀作用，其它不能代也。</p>
<p>（５）下氣——《聖濟總錄》小兒吐逆丁香湯，用花桑葉，注云：「如無，則以枇杷葉代」。</p>
<p>（６）宣中——《朱氏集驗方》仙茅散，注云：「無仙茅，則以好蒼朮代之」。</p>
<p>（７）牙疼——魏氏薑黃散，注云：「偶無薑黃，檢本草云：川芎亦治牙疼，遂以代之」。</p>
<p>（８）解毒——《千金方》傷寒木香湯，內有犀角，注云：「無犀角，以升麻代之」。</p>
<p>９.應急的變通使用</p>
<p>（１）——《聖濟總錄》蘇合香丸注云：「倉猝求人參不得，只白湯亦佳」。</p>
<p>（２）——同上、治傷寒狂躁大安丸注云：「如緩急無地黃汁，新水化下」。</p>
<p>（３）——魏氏中風木香附子湯注云：「附子炮去皮臍，若急中，不炮」。</p>
<p>（４）——《肘後方》救猝死方破白犬以覆心上，注云：「無白犬，小雞亦佳」。</p>
<p>１０.降格以求、甚至缺之亦可</p>
<p>（１）地道問題——《朱氏集驗方》木瓜敗毒散注云：「無宣瓜，尋常木瓜亦可。」</p>
<p>（２）品種問題——《千金方》治黃疸方，用小麥苗，搗絞取汁。注云：「無小麥苗，野麥苗亦得」。範注云：「用小麥勝也」。</p>
<p>（３）大小——《廣濟方》下乳汁用栝蔞，須青色大者，注云：「若無大者，用小者兩枚。」又《聖濟總錄》腳氣木瓜丸用木瓜大者一枚，注云：「小者兩枚亦可」。</p>
<p>（４）顏色——《廣濟方》下乳汁用栝蔞，須青色大者。又注云：「無青色者，黃色者亦好」。</p>
<p>（５）觸類旁通——《衛生家寶》紫金丹中用鹿脊骨，注云：「以羊脊骨代之亦得」。《直指方》吐血地黃煎用鹿膠，注云：「無鹿膠，以透明阿膠代用」。《方氏家藏方》王醫師麝香鹿茸圓用鹿角膠和丸，注云：「如無鹿角膠，蜜和亦得。」</p>
<p>（６）廢物利用——《肘後方》治霍亂方注云：「無新藥，煮滓亦得」。</p>
<p>（７）缺之亦可——《幼幼新書》引嬰孺黃耆散，注云：「若無黃耆，可缺也」。《濟生方》五香連軺湯注云：「桑寄生，無真者，寧缺之」。《施氏續易簡方》丁附湯，注云：「急切，無丁香亦得」。又《肘後方》治水病方亦云：「無蘇合，可缺之也」。</p>
<p>１１.結語</p>
<p>以上就已有材料，分為十類。古人有言，「世無難治之病，有不善治之醫；藥無難代之品，有不善代之人」。觀於上引種種，可悉變通使用，亦是一門學問，靈活而不呆板，辨證而不機械，若能通盤掌握，豁然於胸，自可隨機應變。中醫診療之特點，在於辯症論治，理、法、方、藥，自有其規矩繩墨，然法有定而方藥無定，立法既准，使用何藥，可以廣為選擇，所以不憚辭費而廣徵博引者，意在多所啟發，廣我思路，俾臨症使用時之靈活變通耳。若不加變化，目其為固定不移，認為某某等於某某，恐終將行之鮮效，則又非演述者落筆之本意也。</p>
<p><u>從上引材料里，可以反映出，祖國的藥用資源，是極其廣泛的。過去的醫務工作者，在向疾病作鬥爭的過程中，是有其豐富經驗的。就所錄各條來看，有很多代用之品，並未載於本草書。溫習此項材料，可以廣開思路，對於擴大藥源並充分的利用原有藥材來說，會有一些參考意義。近年來，各地民間貢獻出許多單方草藥，編纂了許多草藥方書，在群眾的防病治病方面，在城鄉的保建醫療方面，都發揮了巨大的作用。</u></p>

<h3>（三）煎藥水火之應用</h3>
<p>李時珍云：「凡服湯藥，雖品物專精，修治如法，而煎藥者鹵莽造次，水火不良，火候失度，則藥亦無功。觀夫茶味之美惡，飯味之甘餲，皆繫於水火烹飪之得失，即可推矣。」余家對於煎藥之水火，特加註意，雖不必拘泥，然在可能範圍內講究之，則能增加藥效。故於本草徵要之末，特附水、火二項，以備臨症之參考。</p>
<p>１.煎藥用水</p>
<p>（１）天水</p>
<p>雨水</p>
<p>即天上落雨之水，揚州俗稱之為天落水。又可細分數種：</p>
<p>春水：即立春以後落雨而得。虞搏《醫學正傳》謂「立春節雨水，可以煮中氣不足，清氣不升之藥。」李時珍謂其「可煎發散及補中益氣藥。」</p>
<p>潦水：潦，《說文》雨水大貌。《曲禮》有「水潦降」之說。韓退之詩「潢潦無根源。」李時珍謂「降注雨水謂之潦，又淫雨謂之潦。」實即是指大雨與久雨所得之水。余家則以伏天暴雨之水稱為潦水。但梅雨（亦作黴雨）之水則不取（芒種後逢壬為入梅，小暑後逢壬為出梅。）《傷寒論》麻黃連翹赤小豆湯即用潦水成煎。無已謂「其味薄不助濕氣而利熱。」李時珍則謂其「甘平無毒（宜）煎調脾胃去濕熱之藥。」</p>
<p>液雨水：李時珍云：「立冬後十日為入液，至小雪為出液，得雨謂之液雨，亦曰藥雨。」又謂「宜煎殺蟲消積之藥。」</p>
<p>李時珍又於「節氣水」項下詳為敘述云：「立春清明二節貯水，宜浸造諸風脾胃虛損諸丹丸散及藥酒，久留不壞。」寒露冬至小寒大寒四節及臘月水，宜浸造滋補五臟及痰火積聚、蟲毒諸丹丸並煮釀藥</p>
<p>酒與雪</p>
<p>水同功。</p>
<p>端陽日午時水（鑑案：餘十餘歲時，曾一遇之。端陽午時，忽降暴雨，先父立命檢查《本草綱目》及《本草綱目拾遺》加以研究。）李時珍謂其「宜造瘧痢瘡瘍、金創百蟲蠱毒諸丹丸。」趙學敏謂「五月五日雨、剖竹得水可刷治汗癍。」</p>
<p>小滿芒種白露三節內水，造藥釀酒醋一應食物，皆易敗壞，人飲之，亦易生脾胃疾。</p>
<p><u>雨水除梅雨之水不宜煎藥外，其它時間者，皆可用，但宜新不宜陳，取水之法，可於雨時張潔淨布兜，下承以盆桶，亦可就瓦屋檐溜取得，須待落雨兩小時以後者，方可用，　否則檐瓦未經沖洗盡淨，多含雜質。且必先貯於桶，待其沉清，再倒入缸內，徹去桶底之渣備用　，以之煎茶煮飯，均甚宜人，較之江河湖池之水為優，比之井水則更優。</u></p>
<p>雨水不宜用鉛桶鉛盆貯存，因雨水是軟水，能溶解氧，具有腐蝕性質、若貯之能將鉛溶於水中，於人不利。</p>
<p>露水</p>
<p>趙學敏謂「露本陰液，夜則地氣上升，降而為露，其性隨物而變。」余家煎藥及製藥所用露水，計取二種，分述於下：</p>
<p>荷葉露</p>
<p>趙學敏謂：「夏日黎明，日將出時，將長勺坐碗於首，向荷池葉上傾瀉之，以伏露為佳，秋露太寒，花上者，性散，有小毒，勿用。」又謂「味甘，明目，寬中，解暑，利胸膈，下水膨氣脹。」又謂：「露本養陰扶陽，又得荷葉之清氣，故能奏功如此。」余家制眼藥，用荷葉露，內服亦有明目之功，咽喉不利之患者，久久不愈，疑慮重重，胸膈欠舒者，每令其清晨自取荷葉露煎藥，往往得滿意之效果。</p>
<p>稻葉尖上露</p>
<p>趙學敏謂：「諸草木皆須天露始潤，惟稻至酉時，其根上津潤之氣漸升，入夜乃達葉尖，至曉復自上而降於根，故無露之夜，稻葉獨潤。陳翠虛詞『一些珠露，阿誰運上稻花頭'是也。」先六伯祖光奇公，每用此以治虛損之盜汗，有良效。蓋以其既可自升自潤，又能自降自收也。秋燥咽乾者，用此亦有良效。</p>
<p>雪水</p>
<p>味甘性冷無毒。陳藏器謂其「解一切毒，治天行時氣瘟疫。」吳瑞謂其「煎茶煮粥，解熱止渴。」李時珍謂其「宜煎傷寒火熱之藥。」按雪水適應之症，多見於晚春長夏秋燥之時，落雪季節使用之機會反不多，故須預貯，且須使用者（即醫者）每年儲存。余家治喉痧及白喉之毒火燔灼者，每用雪水煎藥，頗能得滿意之效果。或以之烹茶，飲之覺有「沁人心脾」之感。</p>
<p>（２）地水</p>
<p>活水</p>
<p>即流水，又稱千里水，東流水。流水乃對止水而言，活水乃對死水而言。朱熹詩有「源頭活水來。」蘇東坡詩「活水還須活火烹。」故余家稱之以「活水。」李時珍云：「流水者，大而江河、小而溪澗，皆流水也。其外動而性靜，其質柔而氣剛，與湖澤陂塘之止水不同，然江河之水濁，而溪澗之水清，復有不同焉。」陳藏器謂「千里東流二水，皆堪盪滌邪穢，煎煮湯藥。」</p>
<p><u>江河之水，汲取後必澄清而後用之，溪澗之水，多屬山泉，須選擇使用。總之，活水煎藥，較諸池塘之水及井水為優。</u></p>
<p>逆流水與急流水</p>
<p>亦屬活水範疇。虞搏《醫學正傳》云：「逆流回瀾之水，其性逆而倒上，故發吐痰飲之藥用之。急流水，湍上峻急，其性急速而下達，故通二便風痹之藥用之。」寇宗奭謂：「東流水，取其性順急速，通膈下關也。倒流水，取其洄旋流，止上而不下也。」李時珍謂「逆流水，主治咽喉諸病……。」余家治咽喉病，喜用逆流水，若兼關節腫痛者，則用急流水，然須視條件之許可而用之，不必拘拘或帶勉強也。</p>
<p>甘　瀾　水</p>
<p>一名勞水。李時珍云：「勞水，即揚泛水，張仲景謂之甘瀾水，用流水二斗，置大盆中，以杓高揚之千萬遍，有沸珠相逐，乃取煎藥，蓋水性本寒而體重，勞之則甘而輕，取其不助腎氣，而益脾胃也。」又謂「主五勞七傷，腎虛脾弱，陽盛陰虛，目不能瞑……。」陳藏器則謂「病後虛弱，揚之萬遍，煮藥最驗。」余家治喉病之慢性屬虛而嘈雜少寐者，每用之。又可和蜜揚之，效更佳。</p>
<p>井水</p>
<p>一稱井華水，汪穎謂「井水，新汲療病，利人，平旦第一汲為井華水……凡井水，有遠從地脈來者為上，有從近江湖滲來者次之，其城市近溝渠，汙水雜入者，……氣味俱惡，不堪入藥、食、茶、酒也。」又論及不得已而用之時謂「用須煎滾停一時候，鹼澄，乃用之。」李時珍謂其須「取其土厚水深，源遠而質潔者，食用可也。」虞摶謂其「宜煎補陰之藥」李時珍謂其「宜煎一切痰火氣血藥。」掌禹錫謂「凡飲水療疾，皆取新汲清泉，不用停、汙、濁、暖，非直無效，亦且損人。」總之，煎藥用者，井水不若活水，更不若天水。尚有簡易作外治之數法，附錄於下備參。</p>
<p>《嘉祐補註本草》謂其「治口臭」新汲水則「下魚骨哽。」此二法皆出自《肘後方》，前者「取水一杯，合口向水，張口取水氣，哽當自下」後者則「正旦含井華水、吐棄。」又《直指方》「治飲酒齒痛，井水頻含漱之。」皆簡便易行，可以試用。</p>
<p>２.煎藥用火</p>
<p>蘆火與竹火</p>
<p>蘆即蘆柴，竹即以竹劈之成塊而代薪。李時珍謂其「宜煎一切滋補藥。」又謂「火用陳蘆。枯竹，取其不強，不損藥力也。」吾鄉普遍以蘆柴作炊薪，故用之煎藥，既便而易行，又能保證藥之質量。</p>
<p>稻麥穗火</p>
<p>趙學敏謂「麥穗火煮飲食，主消渴、咽乾、利小便。」「稻穗火、烹煮飲食、安神、利五臟六腑。」余家治肺燥嗌乾咽痛者，喜用麥穗火。咽喉不利而兼神志欠寧者，則用稻穗火，均有裨益。產米之鄉，二者皆不難致。若在北方，則稻穗得之不易。</p>
<p>余嘗逆旅於北京頤和園附近，周圍皆是稻田，亦曾介紹病家用之，因捶手可得也。</p>
<p>桑　柴　火</p>
<p>抱朴子謂「一切藥，不得桑煎不服。桑能助藥力，除風寒痹諸痛。」李時珍謂「凡一切補藥諸膏，宜此火煎之。」又謂「桑木能利關節，養津液，得火則拔引毒氣而祛逐風寒。」</p>
<p><u>此雖指炙法而言，然亦可作煎藥用桑柴之參考。又於木部，桑枝之下注云「煎藥用桑者，取其能利關節，除風寒濕痹諸痛也。觀《靈樞經》治寒痹內熱，用桂酒、法以桑炭炙布巾，熨痹處。治口僻，用馬膏法，以桑鉤鉤其口，及坐桑灰上，皆取此意也。」　余家治喉蛾而兼痹症者，每介紹病家以桑柴煎藥，煎絡石防風營柳湯，即指明用桑柴火，雖屬遵循李氏之說，然亦於實踐中證明其確有裨益。</u></p>
<p>炭火</p>
<p>在昔煤炭未曾普通使用前，取暖、燉食，煎藥，熨衣，大都皆用木炭，李時珍謂「櫟炭火宜煅煉一切金石藥，烰炭火宜烹煎焙炙百藥丸散。」又謂「櫟炭取其力緊，烰炭取其力慢。」</p>
<p>總之，炭火煎藥，既便於掌握火候，又不致影響藥力，宜採用。至煤炭煎藥及煤油爐煎藥，則不相宜，尤其煎喉症之藥，更不相宜。</p>
<p>以上附錄三則，均是耿鑑庭講解，耿引循記錄。</p>
