<header data-type="book">
<h1>錦身機要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>混沌子</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1515">公元1515年</data></dd></div>
</dl>
</header>

<h1>敘</h1>
<p>《錦身機要》之書，乃採真機之梯航也。昔漢之正陽翁傳於唐之希賢鄧先生，相繼不遇至人則不傳也。稽之自古及今學道之士，知採真而不知錦身有焉，知錦身而不知採真有焉，二者兼修者，幾何人哉？其毘陵混沌子慕道精誠，存心懇切，是以希賢先生以金丹口訣作成《採真機要》以授之，猶慮乎不知《錦身機要》，則煉己之功不可得也。故又以錦身之事作成絕句三十六首以按三十六氣候，次之三卷。上之十二首，以錦其龍；中之十二首，以錦其虎；下之十二首，以錦其龍虎交媾之要以授之。所以採真煉己之功，預集授真之道，既授而復請予以為注。予固辭之不得，未免妄僭就罪，於每章之下，釋以直指，以成其書矣。其築基之法，養性之方，龍虎爭馳，內外交煉，無不備焉。無不行之，無不知之，知之分明，行之純熟，以為《採真機要》之梯航者信乎其為《採真機要》之梯航也。有《採真機要》之書，其可無《錦身機要》之書乎？毘陵魯至剛敘。</p>

<h1>卷上</h1>

<h2>踏地龍</h2>
<figure>
<img alt="踏地龍">
</figure>
<p>兩手牢拿兩肘中，腳頭著實腳根舂。</p>
<p>力行三八潮皆落，天地山河一瀉空。</p>
<p>志剛曰：以兩手拿兩肘者，所以斂其筋骨也。以腳根舂地者，所以降其氣血也。蓋筋骨斂則身中氣血不妄行也，氣血既降而不妄動庶可施也。</p>

<h2>擺尾龍</h2>
<figure>
<img alt="擺尾龍">
</figure>
<p>擺尾須令左右如，膝依向處莫容虛。</p>
<p>力行三八舒筋骨，筋骨能舒動尾閭。</p>
<p>志剛曰：以腰扭向左而實其左膝，所以左之筋骨舒也。扭向右而實右膝，所以右之筋骨舒也。左右力行之者，所以動尾閭之筋骨也。</p>

<h2>摩頂龍</h2>
<figure>
<img alt="摩頂龍">
</figure>
<p>左手拿龍做甚麼，卻將右手頂中摩。</p>
<p>前輕後重無多少，但使心酸沒奈何。</p>
<p>志剛曰：以左手拿龍之頸，以右手摩龍之頂。前輕者，無其畏也，後重者，使其頑也。無多少者，心酸方止，然既止而復摩，使其頑劣無知，見虎不懼也。</p>

<h2>旋風龍</h2>
<figure>
<img alt="旋風龍">
</figure>
<p>左拳陽左右陰隨，右亦如之左也回。</p>
<p>俯首力行因甚事，毋令遍體骨筋衰。</p>
<p>志剛曰：以左拳向左而右拳隨之，以右拳向右而左拳隨之。俯首力行為甚麼來，無非所以動身之筋骨，使其氣血周流，毋令衰敗也。</p>

<h2>交足龍</h2>
<figure>
<img alt="交足龍">
</figure>
<p>兩足當胸兀坐間，手叉抱膝膝撐彎。</p>
<p>左來右去俱三八，夾脊雙關透上關。</p>
<p>志剛曰：身坐虛，則蟠其膝，交其胸；手叉實，則抱其膝，撐於兩肘。然後以左肩向前，右肩向後，左右如之則夾脊雙關可以透過矣。</p>

<h2>撞關龍</h2>
<figure>
<img alt="撞關龍">
</figure>
<p>叉手擎天著力齊，身躬氣撞頂門追。</p>
<p>力行三八泥丸透，透得泥丸笛可吹。</p>
<p>志剛曰：兩手擎天而力撞，以一身就鞠而氣衝。沖則泥丸透，透則笛可吹。笛既吹，則泥丸自然有風生之驗也。</p>

<h2>閉息龍</h2>
<figure>
<img alt="閉息龍">
</figure>
<p>閉息工夫不可無，不能閉息盡成誣。</p>
<p>若行九九工純熟，此是修行大丈夫。</p>
<p>閉息工夫不可無者，苟不能閉息，雖能別改工夫，皆為誣妄矣。若能行之純熟，可謂能修行第一件真難事也。豈不為大丈夫乎？</p>

<h2>登天龍</h2>
<figure>
<img alt="登天龍">
</figure>
<p>將身臥地把心閒，以膝齊胸用手扳。</p>
<p>一築一登連九九，自然轉過尾閭間。</p>
<p>志剛曰：身臥地而心無妄也，兩手扳膝齊胸。用登扳之數轉過尾閭之關，未有不登扳而尾閭之關能轉者也。</p>

<h2>升騰龍</h2>
<figure>
<img alt="升騰龍">
</figure>
<p>忍便吸鼻手叉腰，蟠膝垂唇舌抵橋。</p>
<p>九九三三重用力，雙關夾脊湧如潮。</p>
<p>志剛曰：不忍便則有降而無升，不吸鼻則有塞而無通。不以唇垂則夾脊之筋不舒；不以舌抵橋則玉枕之關難過。遍身著力則黃河之水逆上如潮矣。</p>

<h2>取水龍</h2>
<figure>
<img alt="取水龍">
</figure>
<p>夾脊雙關路已通，鼻中吸氣水隨龍。</p>
<p>龍吞香水升騰後，效驗馨香到口中。</p>
<p>志剛曰：龍降池而取水，水隨龍而昇天。全憑鼻吸之功，以致通玄之妙。馨香既到，始合鉛永效驗，能通方宜下手。</p>

<h2>降丹龍</h2>
<figure>
<img alt="降丹龍">
</figure>
<p>既濟泥丸頂上來，卻將蔥管鼻中栽。</p>
<p>喉中吸涕頻催墜，頃刻無為自降腮。</p>
<p>志剛曰：栽蔥入鼻開孔竅之不通，吸涕喉中使靈丹之不脫。無為自降，恐吸重而傷丹，有作相吞，莫咽轉而失所。先師此詩但言無自降，不言有相吞者，自然孔竅中行故也。</p>

<h2>拍火龍</h2>
<figure>
<img alt="拍火龍">
</figure>
<p>巍然靜坐意須存，兩手更相拍囟門。</p>
<p>一百數周安氣血，遍身涼冷爽如神。</p>
<p>志剛曰：不存意則意不存，不靜坐則火不降。故於身體勞動之後，氣血甚盛之時，須默然存意，更拍頂門，使火降而氣血安，則無妄行之患矣。</p>

<h1>卷中</h1>

<h2>躍山虎</h2>
<figure>
<img alt="躍山虎">
</figure>
<p>立在南山躍北山，兩山往復莫令閒。</p>
<p>力行三八山門闢，好使青龍接虎顏。</p>
<p>志剛曰：人不躍山則山門不闢，龍不接虎而虎體不來也。然龍雖欲接虎，奈何山門不闢，入頭不得。欲闢其門，必藉往來則自然振動也。</p>

<h2>出洞虎</h2>
<figure>
<img alt="出洞虎">
</figure>
<p>先把身如四足形，前伸後屈力而行。</p>
<p>後伸前屈依前法，三八工夫各等停。</p>
<p>志剛曰：以手為足，故曰先把身如四足形。前伸後屈者，以身坐定，伸手著地也。後伸前屈者，以身向前，伸其足也。前後如之，若虎出洞之狀，則筋骨舒暢，臟腑安，血脈調也。</p>

<h2>飛虹虎</h2>
<figure>
<img alt="飛虹虎">
</figure>
<p>直伸兩手悉飛虹，轉向西來也一同。</p>
<p>左右力行三八數，自然舒暢美心胸。</p>
<p>志剛曰：以兩手飛向左而轉右，飛如長虹之狀，則筋骨安舒，心胸美暢，而疾病何由生哉？</p>

<h2>舒筋虎</h2>
<figure>
<img alt="舒筋虎">
</figure>
<p>形體須令四足然，左前右後直如弦。</p>
<p>右前左後仍如此，筋骨安舒疾病痊。</p>
<p>志剛曰：前左足，後右足，後左足，前右足，直舒如弓弦之狀，數周二十四次，則筋骨安舒而疾病遠矣。</p>

<h2>懸梁虎</h2>
<figure>
<img alt="懸梁虎">
</figure>
<p>手把懸梁著力伸，仍令左右各分明。</p>
<p>一升一降周三八，疾病蠲除氣血行。</p>
<p>志剛曰：兩手把懸梁將身著力懸起，一力起於梁左，一力起於梁右，須以肩至梁。如是行之，則氣血和暢，四肢舒參，五臟安逸，而疾病蠲除矣。</p>

<h2>鼎峙虎</h2>
<figure>
<img alt="鼎峙虎">
</figure>
<p>蟠膝仍令兩手撐，肩前肩後力如爭。</p>
<p>頭昂背直行三八，擺此形骸理大經。</p>
<p>志剛曰：蟠膝而坐，為一足兩手而撐，共三足，故曰鼎峙。然後昂其頭，以左右肩如相爭之狀，擺其形骸，則經調氣順，百病皆除。鼎峙之功，其大如此。</p>

<h2>獨立虎</h2>
<figure>
<img alt="獨立虎">
</figure>
<p>曲令一足在其髓，兩手舒如舉重酸。</p>
<p>左右力行三八就，自然遍體骨筋安。</p>
<p>志剛曰：曲一足在髖者，以一足曲於股間也。舒兩手如舉重者，以兩手如提物也。左右如之，遍身調暢，疾病可除也。</p>

<h2>翻身虎</h2>
<figure>
<img alt="翻身虎">
</figure>
<p>翻首翻身把腳飛，卻將雙手去扶持。</p>
<p>連行三八骨筋活，免使闔門有倦疲。</p>
<p>志剛曰：以頭著地，以腳飛過，兩手著頭兩旁使不歪也。如此行之，則筋骨豈有不活，氣血豈有不調暢乎？</p>

<h2>反躬虎</h2>
<figure>
<img alt="反躬虎">
</figure>
<p>反手巴肩務到家，力巴不著處偏巴。</p>
<p>昂頭蟠膝工當九，九九行持效可誇。</p>
<p>志剛曰：蟠膝昂頭身先坐定，反手巴肩，巴不著處愈巴之。自然胸膈寬舒，氣血調暢。這意思誰肯安排？如數行之，方知效驗。</p>

<h2>納泉虎</h2>
<figure>
<img alt="納泉虎">
</figure>
<p>心火那堪盛上升，一身氣血妄流行。</p>
<p>聚精咽納惟三八，火降神安五臟寧。</p>
<p>志剛曰：錦身之後，心火上升，氣血妄動。故先師作此詩，納精咽之。引納泉之妙旨，以降心火，以安神也。神安火降，五臟寧矣。</p>

<h2>桃花虎</h2>
<figure>
<img alt="桃花虎">
</figure>
<p>挺身蟠膝手來呵，呵十呵兮更十搓。</p>
<p>面上力摩令火熱，自然皺少與紅多。</p>
<p>志剛曰：十搓十呵，欲待如何？晨昏摩面，皺少紅多。</p>

<h2>安神虎</h2>
<figure>
<img alt="安神虎">
</figure>
<p>無為斂足謂安神，神既能安體自淳。</p>
<p>萬里坦然皆莫顧，一心惟守滿園春。</p>
<p>志剛曰：無為靜坐，乃安神也。神既安，體必淳樸。惟守一不幹事也，但見滿目春光，一身和氣耳。</p>

<h2>虎吹龍笛</h2>
<figure>
<img alt="虎吹龍笛">
</figure>
<p>笛無孔竅不須橫，就便輕吹氣自通。</p>
<p>直使箇中一二物，泥丸頂上覺生風。</p>
<p>志剛曰：笛不吹，氣不入，氣不入，路不通，路不通，丹不行。自吹不得，故令彼吹，使氣入路通而丹行也。方可煉之，覺窗門氣透，泥丸風生，此吹笛之驗矣。</p>

<h2>龍鼓虎琴</h2>
<figure>
<img alt="龍鼓虎琴">
</figure>
<p>貼胸交股動渠心，輔翼勾肩興趣臨。</p>
<p>此是鼓琴真妙訣，不須徽指發清音。</p>
<p>志剛曰：貼胸交股惹他心情，輔翼勾肩動他興趣。心情發則清音至，興趣動則妙理來。所謂「無絃琴到底，清音何自中。但得琴中趣，何勞弦上音」。</p>

<h2>龍虎交加</h2>
<figure>
<img alt="龍虎交加">
</figure>
<p>龍先擒虎虎擒龍，龍虎交加興趣濃。</p>
<p>卻用口傳心授法，口傳心授要勤功。</p>
<p>志剛曰：此安爐立鼎之象也，他以兩翼而擒我，我以兩翼擒他。所謂兩翼七竅，輔翼人也。是詩雖不出先師之意，觀其交加之字，乃安爐立鼎之道也，又非上章可比。口傳心授詳見下章。</p>

<h2>龍虎傳授</h2>
<figure>
<img alt="龍虎傳授">
</figure>
<p>口訣還須口口傳，只因口訣路通玄。</p>
<p>既知火發靈光透，顯出青龍惹妙鉛。</p>
<p>志剛曰：人之一身以心為主，小腸與舌又專主乎心。故知舌舐舌則心火盛，心火盛則小腸盛，小腸盛則知先天真鉛將至矣。真鉛既至，此口傳心授之妙訣驗矣。</p>

<h2>獻龍招虎</h2>
<figure>
<img alt="獻龍招虎">
</figure>
<p>獻出青龍惹黑龜，光華閃爍透簾幃。</p>
<p>若非獻出青龍首，怎得天門發地雷。</p>
<p>志剛曰：天門者，西北也，地雷者，復卦也。一陽生於西北，便宜獻出青龍，引惹黑龜。所謂一陽初動，中宵漏水，溫溫鉛鼎，光透簾幃之意也。</p>

<h2>地龍天虎</h2>
<figure>
<img alt="地龍天虎">
</figure>
<p>獻龍招虎總相連，此際須當地作天。</p>
<p>欲得倒顛玄妙理，真機乃向舌頭邊。</p>
<p>志剛曰：獻龍招虎皆牽惹之方，顛倒倒顛乃希求之法。欲希真火龍頭上，仍覓真機虎舌邊。</p>

<h2>虎動龍迎</h2>
<figure>
<img alt="虎動龍迎">
</figure>
<p>仍從口訣討清音，地上於大試舌心。</p>
<p>變火作冰宜下手，龍居虎穴虎來尋。</p>
<p>志剛曰：舌如火則潮動，舌如冰則陽生，此穴之功其重於此。</p>

<h2>龍居虎窟</h2>
<figure>
<img alt="龍居虎窟">
</figure>
<p>龍居虎穴世情同，此際應當下死工。</p>
<p>顛倒作為令彼動，須臾一滴過吾東。</p>
<p>志剛曰：龍入虎門，虎為龍主，世之所同；虎為龍主，龍作虎賓，道之所向。使得死心塌地由他活於周天，若非這樣工夫，怎得那般造化？</p>

<h2>龍問虎信</h2>
<figure>
<img alt="龍問虎信">
</figure>
<p>彼既情濃我不知，言言透露候其時。</p>
<p>低頭閉目真鉛至，倏地飛來似火馳。</p>
<p>志剛曰：他快樂，我不知，我問他，他方說。彼若低頭目閉，我直吸鼻通玄。這樣工夫，誰知誰識？此般效驗，如火如珠。</p>

<h2>虎躍龍潭</h2>
<figure>
<img alt="虎躍龍潭">
</figure>
<p>西方白虎接青龍；孰料東方道路通。</p>
<p>一吸盡令歸北海，看來只此是奇功。</p>
<p>志剛曰：虎接青龍，龍反接虎。先將脊後通其路，更徑鼻中吸那鉛。即知火珠而來，便用登扳之錦。未蒙師旨，安敢胡為？既得師傳，無不應也。</p>

<h2>虎至龍鄉</h2>
<figure>
<img alt="虎至龍鄉">
</figure>
<p>東方西到即登扳，若不登扳復出關。</p>
<p>果使一時工足備，自然轉過尾閭彎。</p>
<p>志剛曰：這樣工夫詳於龍錦，至此而又發明者，可見前之所言皆煉已之功，其實用卻在於此。若不如此，焉得周轉一身而致吞服之妙？學道之士，逢師口訣，切宜仔細安排。</p>

<h2>三虎朝龍</h2>
<figure>
<img alt="三虎朝龍">
</figure>
<p>三虎朝龍澆灌功，常將二虎作屯蒙。</p>
<p>屯蒙兩卦將朝暮，一虎鬚防月月紅。</p>
<p>志剛曰：三虎者，即鼎分三足也。朝用這個，暮用那個，待那個月桂花開卻用也。乃始於屯蒙，終於既濟。十月火足，六百卦終也。</p>
<p>一者上山採藥，二者臥地登天。（二九遍）三者坎宮叉手（叉腰），四者定自心神（先定坐），五者還丹擊鼓（叩齒三十六），六者灌頂除火（拍頂門一百數），七者朝天見聖（反手朝天九九數）。八者搖動山川（兩手挽頭搖九九數）。九者垂腰足步（腳登二九數），十者任從離合（聽其自然）。</p>
<p>訣曰：其法於甲子日甲子時下功，子前午後共行三次，進則吸，退則吹。</p>

<h1>大道修真捷要選仙指源篇</h1>
<p>夫修煉金液大還丹者，參悟大道，見性明心，萬緣頓息，方可修行。若有絲毫片晌即不是也。若修行人不悟大道金丹之要，迷失真性，坐守頑空，任意多般，有咽月吞霞，河車搬運，以火燒臍，吞津運氣，按摩導引，閉眼搖精，盲修瞎煉，終為下鬼。行多傍門小法，用盡精機，四大分散，只是精靈下鬼，不能入聖超凡。若修正法者，參悟大道，不必多求一得。永得一悟，寸絲不掛。《內外貞》曰：實證實悟，性命雙全，方可下手修煉真性真命。呂祖師云：只修煉丹不悟性，此是修行第一病。只悟祖性不修丹，萬劫陰靈難入聖。性命者，是陰陽之祖，天地之根。人之一身，得天地之中，是萬神朝禮之宮。左為性，右為命，是人一身之主宰，便是真根蒂也。</p>
<p>夫性者是丹，丹者是神，神者是道，道者是心。心音，即性也，非人之身中坎離肉心也。此心與天地同生，日月並長。陰陽未有，此心先有，是父母未生以前虛無之心也。從今至古，未曾有增有壞。與元始同其年，老君齊其壽。亙古至今，朗耀虛空無邊際，不沽南北與西東。金丹一粒，大如黍米，輝輝獨露，燦燦光明。《度人經》云：元始懸一寶珠，大如黍米，在空懸之中，去地五丈。即此意也。在先天之心者，謂之性。萬體一珠，無欠無餘，行如掣電，坐若太虛，杳杳冥冥，清清朗朗，是一靈真性。發之不毀，散之不滅，無中有象，此乃是先天之神也。一合意生，落於母腹胎中，體如嬰兒，為之心也。性命相連，不能出戶。九月胎全，十月氣足，子母分離，各自乾坤，以為氣質之性，是謂全體。散滿六合，一體萬殊，日累月長，六情相連。眼觀心動，耳聽神移，此為耗散不全之體，故要修煉。修煉者，性命，乃太極在黃庭之中是也。夫命者，氣之精也。嬰兒初在母腹中，其臍與母氣相連，母呼亦呼，母吸亦吸。氣足降生，剪斷臍帶，然後各自呼吸。而受父母一點元氣，落於下丹田中，寄體於腎。下丹田者，前對臍，後對腎，居兩腎中間，其形若連環。廣一寸二分，應天地十二月，應日中十二時，應四時八節，應二十四氣，應周天三百六十五度數，四分度之一周圍。八竅應八卦，二竅應乾坤。上通泥九，下透湧泉。傍六竅，應震兌，六卦以通六腑。中間一竅，第一神室玄關，萬神都會之府，萬神、萬氣、萬精皆聚於此竅，是人身之主宰，即真命也。呼吸動靜乃玄關一竅，又名爐灶。每日進工鍛鍊，內想不出，外想不入，萬緣放下，更時時刻刻照顧保養神氣。補滿三田一氣足，方可坐關修煉陽神是也。可不慎歟。</p>
<p>夫修煉金丹者，抱元守一，修煉神丹。守一者，只守下丹田玄關一竅，此是爐灶，又名萬神都會府。每日行工，存想只在下丹田。諸氣歸根此處，煅煉綿綿不絕，時時守一，保養純陽浩然之氣。補足三田，一身氣足，方可坐三靜關而修煉神丹耳。</p>
<p>夫金丹者，乃人之身中□□真陽是也，與天地同出，日月並明。散則成氣，聚則成丹，此乃大道，學人當自悟焉。凡修煉全真者，須明性命，大徹大悟，無所不通。若不得真火煅煉，道化不成，片段終為下鬼。要坐三靜關，不坐者，三百日工夫不成，陽神不現，實要坐三靜關。若坐三靜關者，避靜去處，不聽雞犬之聲，斷絕是非，忘思息念，一靈真性，不去不來，只存想心中黑氣下降，落於爐鼎，此是添汞也。次好腎中紅氣上升於爐鼎之內，萬氣歸爐，真火煅煉，滿爐紅氣，氣中自有精、氣、神三者混合，此是金丹也。火候不差，一心內守，綿綿不絕。三萬六千刻之工夫，時時守鼎爐修煉。除修補外，十個月胎圓，陽神自現。正要保養胎嬰兒，蒼老方可出戶，不可遠離，步步要小心。自有證驗。</p>

<h2>歸空口訣</h2>
<p>凡人臨命終之時，四大分散，何處安身立命？先要每日工夫，臨命純熟，放下萬緣，絲毫不掛，一心內守。若神離凡殼之時，從泥丸宮太極天門出，不可離了此宮。若離了，即墜幽冥。無真心，無真相，無有絲毫念起。見諸色相者，不可起念頭。正要澄心定意，緊守念頭，不得分毫有趨向。無去無來，湛然圓滿，如香菸而起，直至太空白雲深處。撥不開，吹不散，一靈真性觀萬里如在目前，此乃真空也。行如掣電，坐若太虛，日月為鄰，諸星為友。火不能燒，水不能溺，任意縱橫，去來無礙，獨露真空，便是安身超凡也。萬劫長存，切不可思親念友，但起一念，能墮落人間，意入胞胎，萬劫難出，是為下鬼。慎哉！</p>
<figure>
<img alt="天地總圖">
</figure>
<p>周天三百六十五度九還七返金液大還丹立功純陽火候圖</p>
<figure>
<img alt="圖">
</figure>
<p>人本身龍虎交媾產金鼎抽添進退之圖</p>
<figure>
<img alt="圖">
</figure>
<p>此天地大道備矣，不可輕泄。輕泄者殃及九祖，秘之。</p>
<figure>
<img alt="日用火候真訣之圖">
</figure>
<figure>
<img alt="四時符火陰陽交媾之圖">
</figure>
<figure>
<img alt="天地之根">
</figure>
<figure>
<img alt="圖">
</figure>
<p>凡既濟一次，一粒如金粟大逐入黃庭，每粒出金光一道。</p>

<h2>金液還丹捷徑</h2>
<p>金液還丹者，神與氣精。一夫一婦為之道，執著無為妄行。有作只可入定出神，不得反被落陰敗體。執著有者，行有為之正術，先天真一之氣以奪其命。鼎分三足，缺一不可。朝用這個，待其月桂花開，卻用那個是也。人之一身，豈無真鉛、真汞？只在坎離中尋。離中生鉛，坎中生汞。又曰：龍來尋白虎，虎自覓青龍。其餘草木鉛汞，交梨火棗，坤牛乾馬，皆是假名金丹大藥。久煉築基，汞後授鉛。鉛者，陽精也；汞者，陰精也。澆灌十月休離鼎，溫養三年不用爐。十月火終，六百卦足，提得陽精過我身來，近便處運一點陰汞以迎之，配合真鉛，日日可築成矣。《金剛經》曰得夫堅固是也，方可入聖超凡。安排用運，交媾收擒，務心誠意虔採取，無令失所人。人經至為有晦朔，此般至寶，家家有之。三日晦，四日朔，便要問明。明者，經行時是也，卻用那個。午進陰符，切忌吾家五漏；子行陽火，仍防彼家三傷。甘津滿口勤吞嚥，採在弦前扳體望後。後休扳，勿用徵扳者。行功在九淺一深八十一數，運動用⿱⻗仔、⿱⻗縮、⿱⻗抽、⿱⻗吸、⿱⻗閉。此五字訣，說下手真個醜。形如龜行，體似蟲爬，慢進徐退，一退一吸。進則吸，退則吹，妙在於多，惟多愈益。吸之不得開口，鼻引清氣，嘔乳汁入腦戶，使靈根不倒，此採氣之妙道也。鼻為天門，腎為命門，吸時存想赤黃二氣入靈柯，如竹筒吸水自下而上，運動河車一轉通。若人如得赤黃二氣，便覺氣熱如火，變火作冰宜下手，龍居虎窟虎來尋。舌如火則潮動，舌如冰則陰生，急急採之。暗裡來，明裡煉，待他氣至。至後，使鼎手從尾閭夾脊背後，往上重摩三、五次，十數次。運動使有升而有降。送歸土釜須封固，棄去金爐密煉烹。那期夫婦雙和暢，何慮金丹不結成。噫，慎哉！</p>
<p>老子曰：一得永得，自然身輕，第一件難事矣。工夫在此，便用登扳之錦。若不登扳復出關，登天九九如無怠。這件東西轉過灣，須端坐，運歸空，挺身叉腰，綏款輕提休墜下。待滿口津液，分三口嚥下，後依次行工。</p>

<h2>銀劍式樣</h2>
<p>訣曰近便運一點真汞以迎之法：第一握固七次。第二按腿七次。第三交固七次。第四摩腎堂五十次。第五抱運七次。第六鼻引清氣，長出一口氣，左手恰子午而坐。工夫畢，以舌柱頂上齶，赤龍攪左右二十一次，分作三口嚥下。以殺心火，恐身生瘡疽。以兩手面上力摩搓，皺少紅多。工畢，退大功。先出濁氣四十九口，返叉托天七次。左右握拳，使力托天七次，放下。鼻引清氣，長出一口氣止。此是一度之功，任意靜坐也。若採得一度者，延壽一紀。如得十感，即年一百二十歲矣。若得先天后天之氣者，功超萬劫。如覺採得數多，其山色漸凋，可即須之。慎焉！</p>
<p>祖師曰：白玉蟾云金丹修煉，先當究玄夫一竅的在何處。腎之前，臍之後，大腸右中，回光反照。詩曰：</p>
<p>修丹真要識玄關，識破玄關事不難。</p>
<p>臍後腎前虛若有，分明一氣透天端。</p>
<p>問：採藥如何下工？聚氣凝神，灰心泯志，絕後再蘇，欺居不得。神安則氣聚，神是氣之子，氣是神之母，神氣相見，人命始生。詩曰：</p>
<p>下工採藥易非難，只要凝神向內觀。</p>
<p>萬類一時皆忘卻，觀中就見有多端。</p>
<p>問性命如何說？詩曰：</p>
<p>性在泥丸命在臍，天魂地魄坎交離。</p>
<p>箇中便是生死戶，多少修行人不知。</p>
