<header data-type="book">
<h1>覺廬醫話錄存</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>盧覺愚</dd></div>
</dl>
</header>

<h1>弁言</h1>
<p>此編為二十年前舊稿。當十七歲時，先慈患熱病吐血，諸醫競進溫補，病寢加劇，遷延五十餘日，憑几倚坐，晝夜不得交睫者二十餘日，張口喘息，血絲縷縷自齒縫中出，齒垢焦黑，舌芒刺，便秘溺澀，渴甚，頻索飲童便。先師廣西桂林還俗老僧方博齋、雷丹峰夫子最後至，一診即曰：「病屬誤藥，時機已失，不可為矣。」勉擬大劑白虎湯，竟不及救。彌留時，口不能言，猶力注視愚面不少瞬，嗚呼慟哉！躬歷情境，印象最深，每一瞑想，宛在心目，此誠終身之大憾已。當是時，愚方肆業西營盤官立英文學校，遘此慘變，深慨乎人子之不可不知醫。遂請於先君，願輟學習醫。先君許焉。因從丹峰夫子遊，四年卒所業，而人事倥傯，不遑寧處，忽忽有年矣。</p>
<p>愚先世曾以醫名，先君亦嘗修藥濟人，不取值。顧自中年後，遭遇坎坷，所業虧折殆盡，又以所生子女十一人，時惟四兄覺非與愚二人存者。先慈在日，以是兒致喪明。先君亦壯志銷磨，不復事家人生產。惟其如是，故對兄及愚，期望愈殷，督教愈切，嘗詔愚曰：「人子固不可不知醫，矧醫不特可救己，更可救人。然欲救己救人必仗真實學問，欲得真實學問，必須腳踏實地，刻苦用功，否則學之不精，識之不廣，豈特不能救己救人，反足以害己害人。害己固不可，害人尤不可，汝既粗在成就，更宜勇猛勤修，以求進益。凡讀書當知札記，絜其綱領，撮其旨要，參照所得，條理記錄而存之，既以鞭策上進，更可備異日檢閱，以覘所學進退。須知為學如逆水行舟，不進則退，苟不能刻苦用功，世上事業正多，何必孳孳此道為也。汝當志之。」愚敬謹遵命，因盡發家中所藏醫書百數十種而讀之，就其理論、治法、方藥、病案排比類別，次第刺取其要，加以評騭論斷，著錄於篇。數年，成醫論三卷，醫話兩卷，雜說一卷，都十萬言。</p>
<p>其後先君棄養，愚亦營役奔走，時而港澳，時而鄉邑，十餘年間，九遷其居，器物委棄，文稿散佚，久不復置念矣。近以兄督使刊布歷年治案若干篇，以就正當世，書將付印，忽憶尚有如許舊稿，因使家人發箱啟篋而遍搜之，僅得此數十則。始憶醫論三卷，在澳門時，為謝君景文取去，久借不歸，今事隔十餘年，已無可追際。雜說一卷，半飽蟲腹，漫濾不堪寓目。即此數十則醫話，亦僅佔原稿三分一強，披閱一過，淺率簡陋，無可為諱。誠哉，為學之道，不進則退，二十年來，思想播遷，學術禪變，若是其亟，舊日所為，良未足當大雅一盼，惟習醫之經過如此，而焚膏繼晷，兀兀窮年之苦況，恩之若有回甘。重以有此一番嚴命，未敢湮沒，復恐磨以歲月，連此蟲余片段亦散失無可追憶，愛於醫案刊印之始，略為編次，一字不易，以存其真，附益成書，共表於世，記其緣起，以永其事，並書之家乘，以勖我後昆。</p>
<p><u>民國二十七年五月吉旦盧覺愚謹識。</u></p>

<h1>覺廬醫話錄存</h1>

<h2>古人自序</h2>
<p>嘗謂讀古人自序，即可覘其造詣之精粗與品格純駁，而歷代醫字之因革，亦大略可見。如《傷寒論》自序，悲天憫人之意，既真且切，蓋仲景當時傷宗族之死亡，憫橫夭之莫救，乃勤求古訓，博採眾方，冀於世有所濟。故其學之精與其言之切，有至相似者。孫思邈之《千金方》、《千金翼方》，序文氣度沉椎，文辭古雅，如見其人。第思邈為道家，其言每不離玄門色彩，如論醫須妙解陰陽、祿命相法、龜灼五兆、周易六壬，又所論房中補益、服食修養、咒禁掌訣，皆其證也。王祿幼多疾病，長好醫術，遭逢有道，遂躡亨衢，登南宮，拜東掖，繁臺閣，由是遍讀弘文館圖籍方書。後貶守房陵，提攜江上，冒犯蒸暑，自南徂北，染瘴掉攖疴十有六七，死生契闊不可問天。賴有經方，僅得存者，故發奮刊削，成《外臺秘要》四十卷。讀其序文，殷殷以救濟生民為言，以利天下為心，其不敢苟率將事，有由來矣。劉河間自序，言多玄妙，所著《原病式》，以內經病機十九條，而暢發其義，雖言或偏激，為邵元偉所譏，而闡發之詳，亦足稱者。李東垣《辨惑論》自序，寥寥數行，言頗自負。查當壬辰改元之時，正當擾攘之秋，居民流離失所，飢飽無時，元氣既虛，易於感病，其升補脾陽一法，當然有左右逢源之妙，其自負固宜。《儒門事親》成於麻知幾之手，而無自序。《丹溪心法》為後人輯錄，《金匱鉤玄》為戴原禮校補，及《格致餘論》均無序。惟《局方發揮》篇首數言，辨晰局方之訛，頗為明顯，書中議論，亦多切理。喻嘉言深通佛學，序文多釋家言，《陰病論》一篇更足代表之，第言多虛泛，浮詞滿目，蔣式玉謂其好發議論，洵不誣也。觀其論春溫，強分三撅，已為尤在涇所譏。論青龍二方，亦為柯韻伯所鄙。第其苦心力學，入理頗深，《醫門法律》、《寓意草》，皆可傳之作，其功未可盡掩。張隱菴、高士宗，道不行時，乃隱居錢塘，閉戶著書，所作《傷寒集註》，會經義以為註解。讀其序文，謂童而習之，白首始獲其要。研讀之苦，晝之所思，夜則夢焉，夜之所得，旦則錄焉，經寒暑，歷歲月，廢寢食，絕交遊，春花秋月之莫問，澄山佳水之弗臨，故其書之精博，非偶然也。黃元御自負古今無雙，其為文之牢騷抑鬱，與其驕做自負，歷歷如見。故詆譭前賢，強同奪理，而立論偏頗，惟知補陽，雖才宏學博，亦瑜瑕參互。而竊書之隱，更為陸九芝抨擊，品格如何，可見一斑。陳修園在都門時，忤某鉅公，乃罷職歸閩，公餘著述，成書頗富。然其憤世傲慢之性，至老不衰，觀《醫病順其自然說》一篇可知。且性喜扶陽，參、地、萸、麥等陰藥，尤深惡痛絕，觀《景岳新方砭》一書又可知。修園自謂讀《傷寒論》數十年，方悟出存津液三字，楊素園謂其用藥仍偏辛燥，不知所悟者何在，亦定論也。王潛齋稟性穎悟，刻苦自勵，其習醫也，足不出戶者十年，手不釋卷者永夜，故見理精而議論博。田杏村謂其當時於醫家稱祭酒，然其遭遇坎坷，觀《歸硯錄》自序，感慨蒼涼，不忍卒讀。意者其不慕榮勢，自甘淡薄，乃得肆力於醫，而宏造就乎。醫籍從古至今，汗牛充棟，茲之所論，掛一漏萬，勢所難免，然歷代醫學沿革變遷，習醫者所宜知。余嘗欲著《中國醫學概論》一書，以就正醫界先覺，惜人事倥傯，未暇命筆，倘有機緣契合，當俟諸異日。</p>

<h2>醫不三世</h2>
<p>《禮記》曰：「醫不三世，不眼其藥。」後人多以父子三世相傳釋之，惟漢儒謂《神農本草》、《黃帝素問》、《玄女脈訣》為三世醫書，必盡讀之，方為有本之學，非言祖孫相傳之三世也。王潛齋曰：「《橘旁雜著》云：『醫必父而子，子而孫，如是則其業精，始服其藥。若傳至曾玄，更為名醫矣。』其間賢者不待言，其不肖者奈何？因其世業而安心服其藥，設為所誤，生死攸關，雖愚者不為也。況醫道通乎仙道，遠數十百年，偶出一豪傑之士，聰明好學，貫微徹幽，然其上世並非醫者，舍是人而必求所謂三世者，有是理乎？」梁茝林曰：「古之醫師，必通於三世之書：一曰《申農本草》，二曰《靈樞針灸》，三曰《素問脈訣》。脈訣所以察證，針灸所以去疾，本草所以辨藥，非是三者，不足以言醫。」俞子容曰：「古之豪傑自振者，不能悉舉，若李東垣、朱丹溪、滑伯仁輩，皆非世傳，而精造方術，屢起危殆，著書立言，為後世楷模，初不聞其父子相傳也。是知醫在讀書，不在三世明矣。」葉香岩曰：「醫者必須天資敏悟，又讀破萬卷書，而後可借術以濟世，不然鮮有不殺人者。」俞東扶曰：「習醫何難，不過多讀書耳。夫學無前後，達者為師，固不定限以三世，否則縱十世，何益哉！」</p>

<h2>熟讀王叔和不如臨證多</h2>
<p>「熟讀王叔和，不如臨證多。」世俗之言也。余謂彼之徒守家傳，獨承師訓，讀父書而不知通變者，固無足取，若夫胸無學問者，臨證之際，既不明致病之源，豈能知為治之道，如是而求其能收治療之效，豈可得哉？縱使日夕臨證，亦徒傷生害命而已。須知讀書與臨證，均不可偏廢，而讀書以培其學識，尤為吃緊之圖，俗人之言，不足論也。吳鞠通曰：「醫者必先讀書，而後臨證始知用方之變化，況病有虛實，變化萬端，治有補瀉，方不執一。如同一發熱，而熱有虛實，宜溫宜補，宜涼宜瀉，不讀書何以知彼虛而此實，如大匠之無繩墨，不幾悵悵無之耶。」曹炳章曰：「先讀書則胸有成竹，而後臨證，則凡病之虛實寒熱，自知有一定之標準，而用藥之補瀉溫涼，必不至於妄施。」此亦先理想而後實驗，乃必由之徑也。斯皆先余而言者，益知余言非過矣。又俗有行醫須憑時運之說，更為悖理。果如所言，則為醫者，只專候時運之至，便可為治十全，不必讀書矣。張隱菴《侶山堂類辨》曾論及之，問世之士，幸毋為所惑也。</p>

<h2>古書之遭割據</h2>
<p>古之醫籍，其湮沒既久，為後人所得者，每竊其言，參以已意，冒為己作。亦有流傳既遠，版已殘闕，而忘其著者之真名，誤以為別人之書者。如喻嘉言《尚論篇》，多方中行《條辨》之語；黃元御之新方，則竊自《松峰說疫》書中；張元素著《保命集》，後人偽撰序文，混入傷寒六書中，不知者，竟屬之劉河間。又《脈因證治》乃秦皇士所著，而刻本則屬之朱丹溪；《景岳全書發揮》人盡知為葉香岩之書，亦有謂是姚頤真所撰者。餘外見於《冷廬醫話》、《世補齋醫書》者，辨正尤多，至如《東垣十書》、《薛氏醫案》、《陳修園七十二種》等，多非本人自著。四庫提要醫家類謂：「坊賈務新耳目，濫為增入，以足卷數」，此則顯而易見者也。</p>

<h2>古書存疑</h2>
<p>古書所載，有荒謬者，有欠解音。如龐安常捫腹針兒一案，夫胎兒在胞，豈能手執母之腸胃？雖針之得下，而立論則乖。免腦丸治難產，服之則男握左手出，女握右手出，遑計未消化之藥劑不能奏效，而丸入腸胃，何能竟入胎兒手中？姚蒙診鄒來學，以其脈左關滑而緩，謂肝第四葉有漏通下，故根器上別有一竅出汗水，則明屬誇張之詞矣。《清代異記》載咽膈奇方，用老蘇梗泡水和麵粉，俟日食時，在日中搓為丸，即日本干，則丸皆中空，治咽膈奇效，他時制之則不然。嬰兒初生，啼哭一聲，後竟默不作聲，治法以貓一隻，以袱包之，持向兒耳邊，隔袱咬貓耳，貓必大曝，而兒亦即應聲而啼。胞衣不下，用芡葉囫圇不碎者一張，煎湯服立效；若芡葉裂作兩片者，胞衣亦分裂而下。此等法，古人曾經試驗，真不可解也。至《千金》所載禁法掌決，《串雅》所載疔毒、徙癰等，雖祝由遺意，然其事不經，且不曾試驗，存而不論可也。</p>

<h2>醫家附會之說</h2>
<p>古來醫家恆多依託之言，其事怪誕，多不切理。如《史記》扁鵲遇長桑君飲藥，以此視病，盡見五臟癥結；華佗《中藏經》謂佗之外孫，因吊寢室，得之於夢中；許叔微夢白衣神，勸其習醫；劉河間夢道者飲以美酒，既醒，遂有所悟；《金史》載張元素夢有神人以斧洞其腹，納書數卷；張景岳則謂遊東藩遇老人秘授；朱明重刻《薛氏醫案》，謂見夢於立齋；黃元御著《傷寒懸解》，謂夢境初回，恍然而通其義；周夢覺著《三指禪》，自云鬼神默為啟迪。更謬者，陳遠公《石室秘錄》托諸歧伯、雷公、仲景、元化所傳；竇林《神（心）書》，居然自比扁鵲，皆欲藉此以神其術，而堅後人之信，此古來醫家通弊也。按扁鵲《神（心）書》論治以艾灸為第一，服丹藥次之，服附子又次之，更詆譭仲景，不遺餘力，立言荒誕不經，早為四庫館書所不採，惟汪蓮石《傷寒論匯言》則極推重之。考《匯言》多采喻嘉言、舒馳遠、陳修園之注，而三家於傷寒均好用溫補者，則其推重是書，意亦可見矣。</p>

<h2>世人好溫補之非</h2>
<p>「人情畏虛，補死無怨」，此張信堂述徐靈胎之激論也。今則溫補之說，猶牢在人心，舉世滔滔，如飲狂藥，故喻嘉言先議病後議藥之說，今則竟成絕調矣。夫有是病，服是藥，藥得其宜，硝、黃即為補；藥失其宜，參、術亦為毒。若必以參朮為補，失之遠矣。須知溫補不過治病之一法，雖不可廢，但非可盡治諸病也。蓋凡病未必皆虛，即虛矣未必盡為寒證，而溫補之藥，只可以治陽虛，不可以治陰虛。凡陰虛之病，脈見虛促細數者，悉宜清滋，不比虛寒之脈，浮大無力之宜溫補者也。設陰虛之證，而投以溫補，不死何待？雖然，世人相習成風，原無足怪，獨醫者亦徇隨俗好意用溫補，從未有別其證之當補當瀉，宜溫宜涼，而隨證以用藥者，不亦可怪哉！王潛齋曰：「古人詳於治寒，略於治溫，故好用參、耆者，每謂甘溫能除大熱，而投之陰虛之症，則其弊立見。蓋參、耆能除之熱，乃脾肺虛寒之熱，非肝腎陰虛之熱也。」魏玉璜曰：「凡產後陰虛血少之病，第以二地、二冬、杞子，一切養營之劑，投之無不立愈。若氣血兼補，雜以薑、附剛劑，非擔延時日，即貽病者後患矣。」葉香岩曰：「『《內經》言勞者溫之』，謂溫存以養，使氣自充，若甲熱藥為溫補，大失經旨矣。」李東垣亦有熱藥耗人元氣之誡，奈何世之好用溫補者，竟不一思哉！</p>

<h2>小兒之病多由不善防護所致</h2>
<p>小兒骨肉柔脆，臟腑嬌嫩，血氣未充，精神易動，防護不易，調治亦難。而病苦不能自言，全憑醫者之意以為推測，幸而得，則得矣，否則魯莽施治，貽患何堪！故非確知其病情，毋寧守不服藥為中醫之誡。昔張子和告陳敬之，以蒸餅泛丸，給妻妾以為真藥，使兒服之，以俟天命。蓋取其不傷胃氣，兼有化氣消滯利水之功，遠勝誤服別藥也。且小兒之病，多由將理失宜，或間接由母體感受而成，苟知其故，自能預為防護。觀《顱囟經》曰：「初生小兒，乳劑如膠，是母寒氣傷胃；乳劑如血，是母胸有滯熱。兩眼赤者，是在胎時，母吃炙爆、熱面擁滯氣入胎中，熏兒腦所致。孩子無故煩渴，由飲乳猛衝損肺；無故肚大項細，四肢消瘦，筋脈骨節弛緩，是因母乳少，嚼飯與吃，遂成骨熱疳癆；行走遲者，是少時抱損。夏熱時，乳母沐浴多使冷水，乳得冷氣，血氣皆亂，氣未定，便與兒乳，使兒胃毒，及成赤白惡痢。師巫燒錢，乳母須預祝之，勿令著水噴兒，致令驚熱入心，轉成患害。」凡此皆醫書所未載者。後薛鎧《保嬰撮要》，其論乳下嬰兒有疾，必調治其母，母病子病，母安子安，且云小兒苦幹服藥，亦當令母服之，藥從乳傳，其效自捷。錢仲陽亦謂糞溺不可近褪褓小兒，蓋恐其為穢氣所觸也。其意悉與《顱囟經》合，爰錄於此，以告為人父母者。</p>

<h2>聖人不治已病</h2>
<p>經云：「聖人不治已病治未病」，謂治病於未傳，非無病而服藥也，如《金匱》謂見肝之病，當先實脾者是，後人縱情聲色，耽於逸樂，汲汲惟恐不足，黯者又倡為房中之術，服食之藥，以投其所好，獨不思藥猶干戈耳。無病而服藥，是鑄兵也，烏乎可！袁簡齋謂享長年者生平不服丸散，惜世人不悟耳。蓋無病而服藥者，原自有說。裴兆期曰：「人之一身，無非病也，亦無非藥，泥金、石、鳥、獸、蟲、魚為藥，偏矣亦後矣。飢飽待時，飲食藥也；寒溫適所，衣服藥也；動靜有常，起居藥也。色不視邪則甘明；聲不聽淫則耳聰；口無莠言，行無顛步，則口體正，均藥也。使有人焉，知填精而不知寡欲，知養氣而不知守默，知保神而不知絕慮，亦焉往而得藥？至如逸可治營，靜可治躁，處陰以避暑，就懊以避寒，凡此之類，皆隨在而得之之聖藥，遠勝草根木皮萬萬，其如世人之不肯服食何？</p>

<h2>用方須知</h2>
<p>藥雖與病合，而病重藥輕者，非可求效於一、二劑之間，若不明其故，見其不效，又即轉方，朝寒暮熱，朝攻晚補，漫無主宰，必致誤人。徐靈胎曰：「病之中人，愈必有漸，不可因無速效而即換方也。況所服之方，或未盡善，不思於前方損益萬當，而遽求變法，皆胸無定見之故。」然有病與藥不合，亦見小效者，必須明察其故，急當轉藥，切勿以有小效而不思變法也。劉河間曰：「有病鬱熱甚而反惡寒，得寒較甚，得暖少愈者，謂暖則腠理疏通，而陽氣得散，怫鬱稍退，故小愈。然藥力盡則病必反甚也，減病則微，加病則甚。」俗無所悟，但云服之而獲效，力盡而病加，因而加志服之，由是諸熱證皆生矣。此兩說均醫者所當知，故並錄之。</p>

<h2>古方宜忌</h2>
<p>古人治病，類多各明一義，如東垣善治勞倦致虛，脾陽不升之病，故用藥多升補。子和以汗吐下盡賅治法，故力表獨聖、雙解、舟車、神佑之功。他如河間之主火，丹溪之主痰濕熱亦然。在當時善用某種藥而獲愈者多，便以為天下各病悉皆同病，而其治法可以盡治天下各病矣，故其議論方藥，每每表彰過甚。古醫書類多如此，全在後人之能洞達其理，融會而貫通之，勿泥執其說而誤人也。至於東垣之升補，果遇脾陽不升之病，自然奏效；子和之三法，果是實證，自是不可廢。若以升補之藥，而概用之溫病；以汗吐下峻劑，而泛施於虛證，其禍可忍言哉！夫藥有定性，熱治寒，寒治熱，不可假借也，雖有監製佐使等法，亦仍利用藥之偏性以為治。故用熱藥能治之病，皆寒病也；以補藥能愈之病，皆虛病也，豈有熱藥能治火病，補藥能瀉實病者。昔聖散子一方，固燥熱霸劫之劑也，只以東坡之言，遂至天下盲從，流禍萬世，俞子容辨之詳矣。醫者必須知此義，自不為古書所惑。</p>

<h2>醫不執方</h2>
<p>醫貴變通，尤貴識證，如《傷寒論》熱入血室三條，一刺期門；一無犯胃氣及上二焦；待其自愈；其出方者，只有小柴胡湯一方。後人凡遇此證，必援用之，竟不思是方有參、夏、薑、棗之辛甘溫，以之治熱入血室，豈可輕投；嘗讀沈堯封《女科輯要》治熱入血室兩案，一屬胃液乾燥，用白虎加生地、麥冬，繼與麻仁丸；一則病從怒起，用膽草、黃芩、山梔、丹皮、羚羊角、蘆薈、甘草、當歸。其治張女一案，用腎氣丸，即自謂似是實非之症，不可不辨，其不膠守小柴胡一法，可謂善變通矣。又《金匱》治陰吹，用豬膏發煎，取其潤腸而氣自順，不轉趨於前陰耳。而吳鞠通《醫醫病書》一書，治陰吹者三案皆用辛溫藥獲效，設必泥豬膏發煎一方，而不詳辨脈證，安有愈理乎？舉一反三，識此以例其餘。</p>

<h2>服藥煎藥之法</h2>
<p>古醫者於藥之服法、煎法均有研究，如《傷寒論》之麻黃證，則覆取微似汗；桂枝證，則服藥後驟熱稀粥以助藥力；五苓散證，則多飲暖水；柴胡瀉心諸方，則去渣再煎；炙甘草湯，則用酒水合而久煎。餘外分煎、合煎，先煮、後入等，尤宜博考。蓋藥雖對症，而煎服不合法，亦難奏效，或反害之。如服麻黃湯，不溫覆取汗，則邪從何去？然或取汗太過，則虛其衛陽，交自變證矣。至若桂枝，雖性本辛溫，其實不能出汗。楊素園曾論之，苟非借熱粥以助藥力，豈能令其漐漐微汗乎？若五苓散證之飲暖水，亦猶桂枝症之啜熱粥。而柴胡瀉心諸方，醫者多不知去渣再煎之法，炙甘草湯只以水煎數沸即飲，諸如此類，不勝記載，觀徐靈胎《醫學源流論》及《慎疾芻言》自知。又繆仲淳曰：「凡諸煎湯，必先以主治之君藥先煎數沸，然後下余藥，文火緩緩熬之，勿揭蓋，煎畢連罐取起，坐涼水中，候溫熱服之，庶氣味不泄，若遽乘熱揭封，則氣泄而性不全。煎時不宜烈火，其湯騰沸，耗蝕而速，藥性未盡出，而氣味不純，人家多有此弊，反責藥不效，咎將誰歸？」又曰：「凡服湯藥，雖品物專精，修治如法，而煎藥者鹵莽造次，水火不良，火候失度，則藥亦無功。觀夫茶味之美惡，飯味之甘褐，皆繫於水火熟飪之得失，即可推矣。」王秉衡曰：「凡清解之藥，煎須急火，則氣尚存，若緩火煎濃，即全失清涼之味矣。」此則各有攸宜，可補徐氏所未及，特載於此，以告醫者。</p>

<h2>某藥人某經</h2>
<p>張元素著《臟腑標本藥式》，王海藏集《湯液本草》多以某藥入某經，某經用某藥為言，余竊疑之而未有說也。後讀徐靈胎《醫學流源論》，謂人之血氣無所不通，而藥性之寒熱溫涼，有毒無毒，亦一定不移，入於人身，其功能亦無所不到，豈有某藥只入某經之理。蓋人之病，各有所現之處，而藥之治病，必有專長之功。如柴胡治往來寒熱，能愈少陽之病；桂枝治惡寒發熱，能愈太陽之病；葛根治肢體大熱，能愈陽明之病。蓋其愈寒熱，已畏寒，除大熱，此乃柴胡、桂枝、葛根專長之事，因其能治何經之病，後人即指為何經之藥，孰知其功能實不僅入少陽、太陽、陽明也。故以某藥能專治某經之病則可，以某藥為獨治某經則不可；謂某經之病當用某藥則可，謂某藥不復入他經則不可也。後再讀鄒潤安《本經疏證》，以方論病，以證論藥，以藥論方，反復推勘，一掃本草諸家龐雜蕪穢之言而歸於至當，由是知張、王二書之未可心准也。又如沈芊綠謂今人治瘧必用柴胡，若其瘧果發於少陽，服之自愈，若系他經用之，則必使他經之邪展轉而入少陽，遷延以斃云。余謂小柴胡湯中參、夏、薑、棗，皆辛甘溫之品，投諸溫熱暑濕時瘧，當然誤事，然其咎不僅在柴胡也。且謂柴胡為少陽經藥，他經病而誤用之，以致邪入少陽，何不仍以柴胡治之？昔華佗論傷寒，謂熱毒在胃外，未入於胃而先下之者，其熱乘虛入胃，則爛胃也。然熱入胃病，要當須復下之，不得留於胃中雲。是則先以下早而傷胃，後則仍當復下以救其誤，彼誤服柴胡而邪入少陽，固可援引此例，何至遷延至斃。蓋芋綠所言，實有語病，與元素所謂早服葛根反引邪入陽明，同一無稽也。</p>

<h2>藥有特性</h2>
<p>丁氏叢書《醫界鐵椎》曰：「人類雖瞑目於地下，猶有使世界人類永不消滅之希望，宇宙間之萬物如此各逞其欲望，雖死不易其初心。不問其有生活力、無生活力，是有機體、非有機體，凡物莫不向其所有之特性而進行不已。」如水蛭、虻蟲，古人以之配藥，疏滌瘀血，號下瘀血湯，能下瘀血。貼於急性化膿炎症，能速化膿，速破潰，容易流出膿汁，是即其死後猶具生前特性之徵也。番木鱉為為諸動物之毒物，特於犬鼠等尤甚，古人以之配藥，治犬毒病、鼠毒病，此亦向其自然性進行不已之徵。蛇畏蜈蚣，蜈蚣畏蟾蜍，蟾蜍復畏蛇，相畏相制，循環不已。唐宗海《本草問答》以五行之理釋之，雖未足為訓，然亦可見物之各有特性，故能相畏相制也。琥珀拾芥，磁石引針，則又以所含之電力有陰陽之異耳。吳又可《溫疫論》謂蟹得霧則死，棗得霧則枯，此則以氣質而相制。喻嘉言《尚論篇》謂雞瘟死雞，豬瘟死豬，牛馬瘟死牛馬，於人亦然，此則感受其同類之厲氣使然，而又足見氣與質之互相感應也。王秉衡《重慶堂隨筆》謂葭管飛灰，惟河南□縣之葭應候而飛，足見藥之所產，各有土地之宜，而物性亦各有專長，如蜜能固密護內，酥能融化攻堅。又各有所制，如以醋浸象牙一宿，則軟如腐，再用木賊水煮之，則堅如故；白銀觸倭硫磺則色黑；犀羚之角畏人氣；珍珠畏屍氣，並不近鐵與柏木；梨與蘆菔同藏，冬採橙橘藏綠豆中，皆不壞；銅以鳧茈水煮可刻字；木槿葉揉水浸絲則不亂；桃杏仁可澄水；血汙衣嚼蘆菔擦之則潔；墨汙衣生半夏或白果、杏仁杵爛，揉之則去；圍爐炭烈，分開易滅，不分易熾；用草紙一張覆於火頂，燒過存灰，則火不焰而四布；嚴冬向火，惟桑柴炭不燥皮膚，此足徵物各有特性。其特性之表露，即其物之效用也，在人能知其所以然而善用之耳。又方書所載藥忌、食忌等，尤不勝縷述，凡此之類，皆當博考。</p>

<h2>治血病用炭藥</h2>
<p>醫治血病，多用炭藥，謂血見黑則止也。所用多斂澀之品，流弊之多，惟葛可久十灰散，尚稱平穩，蓋彙集止血行瘀清熱之藥成方，初非斂澀之謂也。且用炭藥，亦有分別，趙晴初曰：「樓全善《醫學綱目》治血崩，用香礬散，以香附醋浸一宿，炒黑為炭、存性，每兩入白礬末二錢，米飲空心調服，此氣滯者用行氣炭止之也。五靈脂散用五靈脂炒令煙盡為未，每服一錢，溫酒調下。一法每服三錢，水酒童便各半盞煎服，名抽刀散，此血淤者用行血炭止也。荊芥散，用麻油點燈，多上燈芯，就上燒荊芥焦色為末，每服三錢，童便調下，此氣陷者用升氣藥炭止之也。治崩中不止，不問年月遠近，用槐耳燒作炭，為末，以酒服方寸匕，此血熱者用涼血藥炭止之也。如聖散：棕櫚、烏梅各一兩，乾薑一兩五錢，並燒炭存性為細末，每服二錢，烏梅酒調下，空心服，久患不過三服愈，此血寒者用熱血炭止之也。棕櫚、白礬煅為末，酒調服，每二錢，此血脫者用澀血炭止之也。同一血崩證，同一用炭藥，而條分縷晰如是。治病用藥，首貴識證，可以一隅三反矣。</p>

<h2>產後與生化湯</h2>
<p>婦人產後，必服生化湯，云以消瘀。外此如吾筦俗更服吳萸、薑、醋等，動輒數兩以至數十斤，似非此不足以復其元氣者。而易思蘭謂瑞州之婦，產後必以胡椒炒雞為饌，是則更有甚焉者矣。故余嘗謂婦人產後有病，強半由俗例釀成，非過論也。丹溪《局方發揮》曰：「初產之婦，好血未必虧，汙血未必積，臟腑未必寒，何以藥為？飲食起居，勤加調護，何病之有？或有他病，當求病起何因，氣病治氣，血病治血，寒者溫之，熱者清之，凝者行之，虛者補之，血多者止之。」是故產後無病，只當以糜粥清湯將養，不當亂投藥餌，尤不當投以種種僭熱之品。且人之體質，萬有不齊，分娩時日亦不一致，即使有病，亦須察其有無夾雜外邪，食積痰瘀，尤當細審，何可概以生化湯為不祧之方哉？蓋是方重用芎、歸之辛溫走竄，原為血寒而滯者設，若血虛而熱之體，即不可誤服，吳鞠通、王潛齋論之詳矣。惟陸九芝謂是方為婦科要藥。原方炮姜只用四分，不過藉以行氣之用，助芎、歸、桃仁以逐瘀生新，而甘草輔之，寒固可消，熱亦可去。後人不善會其義，見方中有炮薑炭，遂援其例而用於薑、生薑、桂、附、丁、萸等物，且更有將川芎、桃仁疑前人之不通而去之，於是生化湯遂多變相，直謂生化湯不可用。不知此說之不可用者，即此變相之生化湯，非此但用四分炮姜之生化湯，亦非以芎歸為治之生化湯也。然陸記其先人治唐春鈴一案，盛夏畏冷，以麻黃三分、附子三分、甘草一分與之，果一服解一裘，兩服而重裘皆弛。夫七分之藥，既可以愈病，反之亦何嘗不可以增病，蓋劑雖有輕重，而藥之性不殊也。彼變相之生化湯固不可用，即只用四分炮姜之生化湯，仍有大劑芎歸，詎可輕用乎？其謂寒固可消，熱亦可去，恐無此理。雖然，昔人善用生化湯加減以治產後各病者，以傅青主、閻純璽、計壽喬等為最著，蓋必審之真而辨之確，斯能無弊耳。用是方者，宜知之。</p>

<h2>麻桂兩證</h2>
<p>桂枝證之自汗，麻黃證之無汗，其所以然之故，醫者聚訟紛壇，靡所依歸。余考泰西生理諸書，謂飲食入胃，賴消化作用變成乳糜，由小腸之微細管吸收之，匯歸吸收系，流入回血管，入心過肺，與氧氣化合，生出熱度，以維持體溫。復賴心臟循環作用，使血液周流全體，於是各臟器即就血液中吸取滋養料，以維持其生活。而血液又吸收各臟器之廢料，運往各排泄機關而排除之，彼皮膚之汗液，口鼻之碳氣，與乎糞溺涕唾皆是，此所謂新陳代謝作用，無須臾之停者也。皮膚有無數之汗孔，為廢料排泄之路，若一旦感受寒氣，則皮膚收縮，汗孔閉緊，初則凜凜惡寒，繼則體中熱度不能排泄於外，則積而發熱，且因其汗孔閉塞，汗液不能通至皮膚，故始終無汗，此麻黃證也。若桂枝證，雖同為皮膚感寒所致，不過汗液尚能通至汗孔，而熱度之蒸發自能隨汗液外泄，故發熱不比麻黃證之甚，而惡寒亦較減，故楊素園謂此證雖一月、半月不解，仍無變證者也。反觀麻黃證，因熱度與汗液不能排泄而鬱結於裡，故變證恆多。至表證之解與未解，全在惡寒上別之，世醫多能辨此，惟有裡熱已發，惡寒未盡解，雖遍身大熱，日日出汗，寒自不動。周學海謂宜扶正氣，兼用行血通絡之品，乃能發疹而愈，非只表散能治。此則同中有異，故附錄及之。</p>

<h2>輪迴酒</h2>
<p>世有「血征服童便者，百無一死；服寒涼者，百無一生」之語。更有創為輪迴酒者，愚人誤信，貽害不淺。王秉衡曰：「小便必用童子者，取其智識未開，而無妄動之火也。尤須淡薄滋味，不食葷膻，去其頭尾，但以中間一段清澈如水者，始有功效。若煉成秋石，昔人尚謂其中寓暖氣，在所不取，何後人妄造輪迴酒之名，令病人自飲己溺？夫人既病矣，溺即病溺，以病溺猶堪治病，則無病之溺皆可為藥，何必取童子，戒葷膻、去頭尾、欲清澈，而故難其事哉？蓋人雖無病，其飲食之精華，皆已化為氣液，其糟粕則下出而為便溺，以二便為濁陰之出路也。可見病人之便，濁陰中更有病氣雜焉，再使病人飲之，是以既出之病氣，更助以濁陰之汙氣，仍令入腹，殆不欲其病之去乎！況病人之溺，臭穢必甚於平人，極能敗胃。若溺色清澈者，則其病非寒則虛，治宜溫養，更不可令飲己溺矣。」其辯析最詳，足破世俗之惑。爰備錄之，以警世焉。</p>

<h2>宣通之義</h2>
<p>方有七，大、小、緩、急、奇、偶、復也。劑有十，宣、通、補、瀉、輕、重、滑、澀、燥、濕也。王好古補寒熱二種，其用乃備。顧俗醫多以宣為瀉劑者，抑不思十劑中已有瀉劑；又以宣為通劑音，抑不知十劑中已有通劑。舉世皆曰春宜宣，以為下奪之藥，抑不知仲景曰：「大法春宜吐。」《內經》曰：「高者因而越之，木鬱則達之。」宣者升而上也，以君召臣曰宣，義或同此。傷寒邪氣在上，宜瓜蒂散；頭痛蔥根豆豉湯；傷寒懊憹，宜梔子豆豉湯，皆湧劑也，乃仲景不傳之妙。故以宣訓吐，確而有理，因節錄子和之說以明之。至於通劑，王荊公曰：「治法云：『諸痛為實，痛隨利減。』世俗以利為下也。假令痛在表者，實也；痛在裡者，實也；痛在血氣者，亦實也。故在表者，汗之則愈；在裡者，下之則愈；在血氣者，散之，行之則愈，豈可以利為下乎？宜作通字訓則可。」此說雖非因通劑而發，然以通釋利，義亦明顯，可互參也。</p>

<h2>上下異治</h2>
<p>仲景諸瀉心湯，寒熱並用，開後人無窮法門。蓋寒熱之邪，交結不散，藥難偏用，非此不可也。然病或有上下、虛實不同，寒熱、攻補不一者，又當另求治法矣。</p>
<p>間嘗閱昔賢醫案，頗多成法可遵，如孫文垣治陳松弈五更胸膈脹痛，寒熱溫涼，遍投不效。診之右寸軟弱，左平，兩尺亦弱，病屬肺腎兩經不足，法當補而斂之。用人參、鹿角霜、故紙、萸肉、杜仲、巴戟、山藥、茯苓、車前，以鹿角膠酒化為丸，空心淡鹽湯送下。又以御米殼煨訶子、陳皮蜜丸，五更枕上服之，白湯送下，一月而愈。王潛齋謂人參鹿角之丸，佐以茯苓、車前，是導之下行，以斂虛氣之上逆，故不用蜜丸，而送以鹽湯。粟殼訶子之方，丸之以蜜，服於枕上，是使其留戀胸膈，以斂肺化痰。用藥之法，絲絲入扣。</p>
<p>又陸養愚治陸前川，素患腸風便燥，冬天喜食銅盆柿，致胃脘當心而痛。醫以溫中行氣之藥療其心痛，痛未減而腸紅如注。以寒涼潤燥之藥療其血，便未通而心痛如刺。屢易醫而技屢窮。其脈上部沉弱而遲，下部洪滑而數，乃胃中積冷腸中熱也。先以潤字丸三錢，以沉香末三分衣其外，濃煎薑湯送下二錢，半日許又送一錢。平日每服寒涼藥，胃脘必痛如割，今兩次丸藥，胸膈竟不作祟，夜半便行極堅，但不甚痛，血減平日十之六七，少頃又便一次，微痛而血亦少，便亦不堅，清晨又解一次，微見血而竟不作痛矣，惟心口之痛未愈。因為修合臟連丸，亦用沉香為衣，薑湯送之，以清下焦之熱，而潤其燥，又以附子理中料為散，以溫其中，飴糖拌吞之。取其戀膈，不使速下，不終劑而兩病並愈。盧紹庵謂其妙在丸散異治，蓋丸者緩以達下，不犯中宮；散者過咽即消溶，不犯魄門之熱，更妙在沉香飴糖，合成其功。陸又治陳曙倉妻，咳嗽、吐痰有血，夜熱頭眩，胸膈不舒，腳膝無力。醫用滋陰降火藥已半年，飲食漸少，精神漸羸，其脈兩寸關沉數有力，兩尺澀弱而反微浮，乃上盛下虛之證。上盛者，心肺間有留飲、瘀血也；下虛者，肝腎之氣不足也。用人參固本丸，令空腹時服之，日中用貝母、蘇子、山查、丹皮、桃仁、紅花、小薊，以茅根煎湯代水煎藥，服十劑，痰清血止。後以清氣養榮湯與固本丸間服，三月後病痊而受孕。盧紹庵謂上盛下虛之證比比，治之見效者寥寥。蓋此證必下虛培之，上盛抑之，上下攻補，並行不悖，乃能隨施輒效耳。</p>
<p>王潛齋治程芷香，春日病溫，而精關不固，旬日後陡然莖縮寒顫，醫欲以附補之。王謂其平日體豐多濕，厚味釀痰，是以苔膩不渴，善噫易吐，而吸受風溫，即以痰濕為山險，乘其陰虧陽擾，流入厥陰甚易，豈容再投溫補，以劫液銅邪，而速其痙厥耶？乃於午後進肅清肺胃方以解客邪，蠲痰熱而斡樞機，早晨投涼腎舒肝法，以靜浮越，搜隧絡而守關鍵，病果逮減。奈善生嗔怒，易招外感，不甘淡薄，反復多次，每次必莖縮寒顫，甚至齒縫見紫血瓣，指甲有微紅色，溺短而渾黑極臭。幸其上焦已清，中焦已運，亟宜填腎陰、清肝熱，以西洋參、二冬、二地、蓯蓉、花粉、知、柏、連、楝、石英、斛、芍、三甲、阿膠、雞子黃之類，相迭為方，大劑連服二十餘帖，各恙漸退。繼以此藥熬膏晨服，午用繆仲淳資生丸，各品不炒，皆生曬研末，竹瀝為丸，枇杷葉湯送下，服之入秋，始得康復。楊素園謂此乃四損症之最重者，治法稍不善，即變症紛如，便不可保矣。王氏又治屠敬思，素屬陰虧，久患痰嗽，動即氣逆，夜不能眠，頻服滋潛，納食漸減，稍沾厚味，嘔腐吞酸，其脈左弦而微數，右則軟滑兼弦。病由水常氾濫，土失堤防，肝木過升，肺金少降，良由久投滋膩，濁濕內燔，無益於下焦，反礙乎中運，左強右弱，升降不調。以蓯蓉、黃柏、當歸、芍藥、熟地、丹皮、在苓、楝實、砂仁，研為末，藕粉為丸，早服溫腎水以清肝；以黨參、白朮、枳實、菖蒲、半夏、茯苓、橘皮、黃連、蒺藜，生曬研末，竹瀝為丸，午服培中土而消痰；暮吞威喜丸，肅上源而化濁，三焦分治，各恙皆安。徐然石謂上下分治，原有矩□，當隨證而施，如此案是也。徐靈胎批《葉案》，亦謂醫能煎丸異藥，上下異方，則治無不順，故此等治法，醫者所當博考也。</p>

<h2>表裡相通</h2>
<p>《素問·咳論》曰：「皮毛者，肺之合也。」《靈樞·本輸篇》曰：「肺合大腸。」又曰：「腎合膀胱。膀胱者，津液之府也。少陰屬腎，腎上連肺，故將兩藏。」生理學謂皮膚與肺臟同營呼吸作用，所以排碳氣而吸氧氣者也，而皮膚又與腎臟之泌尿機能有密切之關係。彼徒知肺司呼吸，而不知皮膚於排汗之外，其吸引力亦最強，彼知皮膚有排汗功用，而不知其與腎臟有盈虧關係者，是皆未了然人體臟器之生活狀態者也。人身體溫，無論冬夏皆能保持常度，並無增減，其有自覺寒熱者，不過感觸天空氣體之殊常耳。故夏熱則人身之血液流往肌膚者多，而排汗亦多；冬寒則皮膚收斂，汗液排泄於外者自少。此類之廢料仍隨血流返腎臟，賴其泌尿作用，將之濾出，由輸尿管下輸膀胱為溺，故夏日汗多而冬日溺多。何夢瑤謂夏日陽外泄，則汗出而內涸；冬月氣內斂，則化水而陰充，亦是此義。又考外感諸證，肌表不通，碳氣容積於裡者多，勢必影響於肺臟之呼吸。觀桂枝證之鼻鳴，麻黃證之乾嘔，麻杏石甘證之氣喘可知。不特此也，表證未解，影響於腎臟者亦絕巨，彼膀胱蓄水之五苓散證，血結精室之桃核承氣、抵當諸證，雖有表裡先後不同，何莫非由皮膚間接波及乎？若汗液不能排泄於外，表證仍屬未解，腎臟又不能將血液中之水量濾而為溺，於是此應排泄之水量乃滲入大腸而下利，則又屬葛根證矣。察其挾熱，則葛根芩連；挾寒，則人參桂枝，雖寒熱不同，而病因則一。若不下利而但嘔者，則又氣體上衝所致，彼葛根證原有不下利但嘔者之文，故不必治利，不必治嘔，但察其由表病未解而轉屬者，一解其表，而利與嘔自止矣。於此足見皮膚與肺、腎、膀胱、大腸之相為表裡，而亦可見病傳之必有所因，彼之頭痛醫頭，腳痛治腳者，安足語此？</p>

<h2>攻補兼用</h2>
<p>裴兆期曰：「凡用補藥，必兼瀉邪，邪去則補藥得力。」《古今醫案按選》載丹溪治葉名儀痢疾案，先投以參、朮、陳皮、芍藥等數劑，奈藥日投而病日甚，遊朋譁然，後始以小承氣湯飲之遂愈。問故，曰：「前診氣口脈虛，形雖實而面黃稍白，此平素與人接言多，多言者，中氣虛。又其人務竟己事，恆失之飢而傷之飽，傷於飽，其流為積，積之久，成為痢疾。夫滯下之病，謂宣去其舊而新是圖，而我顧投以補藥十餘帖，安得不日以劇？然非浹旬之補，豈能當此兩帖承氣哉！故先補完胃氣之傷，而後去其積，則一旦霍然矣。」然此乃飢飽勞役之虛痢，故可先補而後瀉，況其所謂補者，參朮之中，仍助陳皮，芍藥以調氣破滯，並非後人之重濁蠻補之藥，蓋深得補中兼攻之法以裁方者。又古人治虛中夾實之病，凡用攻藥，必兼以補藥助胃氣而行藥力。如黃龍湯中用參，則硝黃得鼓盪之功，其破敵之力愈銳。此旨惟張石頑《千金方衍義》一書，闡發最詳，醫者不可不讀也。</p>

<h2>瀉痢異治</h2>
<p>《內經》言腸澼，昔人謂之滯下，即今之痢疾也。古無痢字，與泄瀉同以利言，惟證候各異，治亦不同。尤在涇曰：「泄瀉多起寒濕，寒則宜溫，濕則宜燥也；痢病多由濕熱，熱則宜清，濕則宜利也。雖泄瀉亦有熱證，然畢竟寒多於熱；痢病亦有寒證，然畢竟熱多於寒。是以泄瀉經文，必傷脾陽，而腫脹喘滿之病生；痢病經久，必損其陰，而虛煩痿廢之疾起。痢疾兜澀太早，濕熱留注，多成痛痹；泄瀉疏利或過，中虛不復，多作脾勞。兩者不同，於斯可見。」後人未達其義，混同論治，競用溫補；張景岳其尤者也。雖泄瀉門中原有溫補之法，張景岳其尤者也。雖泄瀉門中原有溫補之法，但非治瀉之全法，更不可概施於痢病也。考之仲景，以熱痢下重，渴欲飲水，主以白頭翁湯。譫語有燥屎，下利脈反滑，主以承氣湯。張潔古發調氣行血之論，創芍藥湯。皆以痢言，蓋痢病無不裡急後重，或血或膿。腹痛口渴者，與泄瀉之病原易分別，即濕傷血分之痢，口不渴，腹不痛，亦必裡急後重，小便短少而脈數。劉河間主以黃連湯，陸定圃嘗言其效，然則瀉痢兩證，其可混而莫別乎？</p>

<h2>滋陰降火</h2>
<p>地黃、龜板、知母、黃柏，為大補陰丸，俗醫執方施治，每每僨事。非方之不善，實用者之不善耳。方中地黃、龜板補陰，知母、黃柏降火，以治陰虛火亢，脾胃實而便艱者，確切不移，故好用溫補之陳修園亦盛稱其妙。蓋陰虛固宜滋，火亢亦宜降，若只滋陰而不降火，則病豈能愈？葉香岩曰：「譬如釜中之水，灶底之火，火旺則水煎乾，頻加其水，火終不退，莫若加水而釜底抽薪，自然釜中之水不於。」薛時平曰：「凡水虛火實之甚者，非滋陰降火之劑兼致其力，不能盡治法之要妙。」《素問》謂諸寒之熱者，取之陰，所謂求其屬也。王冰注曰：「壯水之主，以制陽光。」夫以寒治熱而熱不除者，由乎真水不足，不能制其火故也。水之主，腎也，壯者，滋益之也，必當滋腎水之不足。彼苦寒之藥，能瀉火者，不過折其威勢而使之暫伏耳，終不能使其不再作也。然病非因陰虛者，誤眼滋陰之藥，每致嘔悶減食；病不因火亢而服知柏者，每致傷胃泄瀉，此則用藥者之責，不可歸咎於藥也。</p>

<h2>補陰發表</h2>
<p>補陰發表之說，創於張景岳，藥用理陰、補陰、溫中等方，補血散寒，使邪從榮解。後賢如尤在涇、楊玉衡，皆盛稱之。惟葉香岩深叱其謬，謂《內經》雲氣味辛甘發散為陽，豈有陰柔膩滯之藥而能發汗者？言亦有據。然則張說是乎？抑葉說是乎？余謂葉說據理言之固當，而張氏之法，亦未嘗不是也。觀王潛齋治羅元奎，患傷寒，脈極虛細，陰血太虧，不可徒攻其病，乃用當歸、熟地、芍藥、炙草、橘皮、柴胡等藥，一劑而愈，此即景岳五柴胡飲也。魏玉璜治陳士華感冒案，謂病前因誤藥傷其津液，外邪乘虛內結，故以大劑甘潤之品，如二地、杞子等藥投之，即借其熱結之力，蒸鬱勃發，乃一湧而汗出邪散，此所謂內托之法也。按此與景岳雖用藥不同，而法則相同，是則張說未為厚非。故醫者治病，總須隨證而施，勿徒守一說也。</p>

<h2>血脫益氣</h2>
<p>血脫益氣，乃血證門中治法之一。蓋血以載氣，血盡而氣將隨之，此時補血，既不能驟生，惟先固其氣，氣固血止，再商治法。然亦為氣不攝血，可用參耆之證言之耳。設外受熱迫，內因火動，而致諸般失血，亦難概援此例也。顧曉瀾治徐氏婦，吐血傾盆，數日不止，危如累卵。病雖因鬱火久蒸肺胃，復緣暑熱外迫，惟苦寒之藥，到口即吐，其為虛火可知。故借用八汁飲意，純取甘寒，冀其入胃清上，先止其血。乃以蔗、藕、蘆根、白果、蘿蔔水、梨、西瓜、鮮荷葉等，生取汁，和勻，燉熱與服，不住口緩緩灌之，血遂止。惟神倦懶言，奄奄一息，脈雖稍平，右愈浮大無力，此血去過多，將有虛脫之患，始以當歸補血湯合生脈散意裁方，煎成仍加入諸汁，服之而愈。王潛齋治陳秋槎，年六十八歲，忽大便驟下黑血數升，繼即大吐鮮紅之血，汗出神昏，肢冷搐搦，躁亂妄言，其脈左手如無，右弦軟，僉慮其脫，將煎參湯灌之矣。王氏急止之，謂高年陰分久虧，陰血大虧，而風陽陡動，殆由忿怒，兼服熱藥所致耳。詢之果然，乃以西洋參、羚羊、犀角、生地、銀花、綠豆、梔子、元參、茯苓、茅根為劑，衝入熱童便灌之。外以燒鐵淬醋，令吸其氣，龍牡研粉撲汗，生附子搗貼湧泉穴，以引納浮陽，兩服血止，仍以是法加減，半月後，始解黑燥屎，便溺之色皆正，以滋補藥善後而愈。讀上兩案，其先後緩急之序，辨證用藥之妙，堪為師法，益可見治病不可徒守一說也。</p>

<h2>陽生陰長</h2>
<p>《內經》陽生陰長之說，本為寒證而發，所謂無陽則陰無以生也。更有無陰則陽無以化之語，正與此相對待。後人斷章取義，而好用溫補者，遂援陽生陰長一語為口實，竟欲以此一法，盡治天下寒熱各病，實古人所不及料。如喻嘉言《寓意草》治金鑑一案，魏玉璜謂其病於春月，故曰春溫，其實乃是傷寒，若屬溫病，斷無用麻黃附子細辛湯之理，是固然矣。不知喻氏指為溫病者，亦自有故，蓋喻氏嘗謂今人見熱勝煩躁之證，而不敢用附子者，惡其以熱助熱也，不知不藏精之人，腎中陽氣不鼓，津液不得上升，故枯燥外見，才用附子助陽，則陰精上交於陽位，如釜底加薪，則釜中之氣水上騰，而潤澤立至矣。其持論如此，固無怪其謂金鑑為病溫，不知其論，乃陰凝之枯燥，故可用溫藥，非所論於陰竭之枯燥也。尤在涇嘗辨之矣。設金鑑果屬溫病，則現證如彼，陰液已竭，投以麻附，不死何待！此亦誤會陽生陰長之義者。</p>

<h2>虛損須知</h2>
<p>楊素園曰：「虛損之病，多由陰虛，其證無不潮熱、咳嗽、吐血、減食。脈來細數者，治法固以滋陰清熱為主，然滋而不滯，清而不寒，且時時照顧脾胃，方不犯手。但得脈象日和，飲食漸增，即是生機，至陰氣已充，可以用參耆時，而其病已愈矣。」從古醫書，專重扶陽，每云不服參耆者不治，脈細數者不治，豈知能服參耆之證，愈之甚易，固不勞諸公之暢發高論也。至陰虛而脈細數者，誤服參耆，則陰竭而死，故古人皆謂不治。然調治得法，亦有生者，未可盡諉於不治也。至於景岳、立齋輩，亦有補陰之論，特專任重濁膩滯之品，機樞愈窒，去生愈遠，使人愈信扶陽之說為不誣，而虛損之證，遂萬無愈理。又《古今醫案按》載葉香岩治黃公子勞病案，王潛齋辨之曰：「上損下損，皆以脾胃為扼要，固治損之大旨也。」然亦此人脾胃素弱，故病前先有泄瀉，而病後調理，於天暑時服生脈散，獨囑云便溏則停也。設病肝腎真陰不足，能食便艱者，亦不能捨滋濡之藥為治矣，故醫者治病，必先辨證而後議藥也。又《冷廬醫話》載海鹽寺僧，能療一切虛損、吐血、勞傷、干勞之證。此僧不知《神農本草》、《黃帝內經》，惟善於起居得宜，飲食消息，患者住彼寺中，三月半年，十愈八九，此蓋以怡養性真，調節飲食之法，助藥餌之不及耳。然虛損之證，病熱重者，脾胃必傷，飲食已難運化，精血無以資生，又加偏熱、偏寒之藥，即使對證，亦恐更傷脾胃。至曰怡養性真，不知患此者，多心若忘猿，情難自禁，安能使其心如止水，天君泰然者哉？故病淺者，原易調治；重者，雖神醫無益，奉勸世人，宜早猛醒。</p>

<h2>引火歸源</h2>
<p>今醫治相火之證，動用桂、附，輒云引火歸源。不知相火寄於肝腎，上應心包，心動則相火妄行，勢必爍及真陰，肝腎陰虛，則相火愈熾，故秦皇士謂乙癸同源，治宜培養肝腎真陰以制之，若用辛熱攝伏，豈不誤哉？夫引火歸源而用桂、附者，乃治真陽不足，無根之火，為陰邪所逼，失守上炎，如戴陽、陰燥之證而已。葉香岩曰：「引火歸源，因腎水不足，虛火上亢，用滋陰降火之法，少加熱藥為嚮導，引之下降，使無拒格之患。若以溫補之藥為引火，則大誤矣。蓋陽為火，陰為水，水衰陽無所附，而浮於上者，宜滋補真陰，則孤陽下附。若可用熱藥者，乃戴陽、格陽二證，是內真寒而外假熱，陰極似陽，仍是寒證，故用熱藥，此處務要講究明白。」何夢瑤曰：「桂、附引火歸源，為下寒上熱者言之。若水涸火炎之證，上下皆熱，治宜六味丸之類，補水制火，若動用桂、附為引火，不知引歸何處？」以上數說，明白曉暢，足破俗醫之惑，爰錄之以為世戒。</p>

<h2>舌辨寒熱</h2>
<p>舌為肉質，其色本紅，熱則赤，甚則絳；寒則淡，甚則白；熱則液涸，故舌焦；寒則濕聚，故舌潤。外邪入里，與痰涎穢濁相合則生胎（苔），故外感者，舌無苔，有苔則邪已入里矣。邪從外入，其苔由白而黃而黑，其體由潤而燥而焦，若伏氣從里發，則初病之時，舌或無苔，但舌色必赤，舌體必燥，伏邪既化，苔乃漸露。然投藥不差，則苔亦漸化，由厚而薄，由焦而潤，由黃而白，故舌色可測病之寒熱，舌苔可辨邪之進退也。推之雜證，驗舌亦為至要，如楊乘六治沈某父病一案，證甚危，舌黑而枯，滿舌遍裂人字紋，曰：「脈不必診也，此虛寒證，誤用芩、連，無救矣。」病家固請一診，曰：「脈隱而難憑，不若舌之顯而有據也，何必診？」窬日果歿。又治張學海，病微寒壯熱，頭痛昏沉，服發散藥數劑，目瞪而聾，熱猶熾，油汗如珠，譫語撮空，惡候悉具，其脈洪大疾而空，其舌乾黃焦燥而胖。諸醫金擬白虎承氣，楊獨以養榮湯，用參、附各三錢與之，曰：「服此後，當得睡，睡醒則諸脈俱靜，諸病俱退，而舌變嫩紅滑潤矣。」翌日復診，果如所言。蓋病有真假，憑諸脈，脈有真假，憑諸舌。如系實證，則脈必洪大躁疾而重按愈有力；如系實火，則舌必乾燥焦黃而斂縮且堅卓。豈有重按而脈全無，滿舌俱胖，尚得謂之實證也。仍用原方，減去參、附各一半，數劑而愈。按此案議論甚創，辨舌數言，亦發諸家所未發，醫者如遇此等脈證，所當細審也。</p>

<h2>平脈病脈</h2>
<p>今世盛行之《脈訣》，乃高陽生所撰，而偽託王叔和之名者。元委戴啟宗同父曾著《脈訣刊誤》一書以正之。汪石山為之補正，並附所撰《矯世辨惑論》於後而為之敘。略謂俗間所傳《脈訣》，辭最鄙淺，非叔和本書。殊不知叔和所輯者，《脈經》也，當叔和時，未有歌括，此蓋後人特假其名以取重於世耳。摭為韻語，取便講習，故人以能口熟脈訣為能，而不復窮其經之為理也。同父因集諸家之論，正於歌括之下，勒為成書，誠診家之至要云。明李時珍復撮舉其父言聞《四診發明》，著《瀕湖脈學》一卷，釋論二十七種脈象，頗為精核，並附載崔嘉彥及諸家考證《脈訣》之說，以互相發明。《四庫提要》醫家類，謂是書一出，《脈訣》遂廢，其廓清醫學之功，亦不在啟宗下也云。然診脈必先知常，乃能通變，能熟習平人之脈，即易辨病人之脈，故用功在平時，不在臨時。周夢覺《三指禪》曰：「二十七脈，以緩為極平脈，餘二十六為病脈。定清緩脈，方可定諸病脈；精熟緩脈，即可以知諸病脈；脈之有緩，猶權度之有平定星也。夫緩者，不浮不沉，恰在中取；不遲不數，正好四至；欣欣然，悠悠然，從容柔順，圓淨分明。微於緩者即為微，細於緩者即為細，虛實長短、弦弱滑澀，無不皆然。至於芤、革、緊、散、濡、牢，洪、伏、促、結、動、代，為緩為權度，尤其顯而易見者也。又程觀泉《諸脈條辨》乃衷輯景岳、士材之書而成，言頗簡切，如謂浮脈輕手便得，非必中沉俱無。如崔氏云，有表無里，有上無下，則脫然無根，混於散脈矣。洪脈只是腳根潤大，卻非堅硬，若大而堅硬，則為實脈矣。濡脈浮軟，與虛脈相類，但虛脈形大，而濡脈形小也。濡脈之細小，與弱脈相類，但弱在沉分，而濡在浮分也。樹以根深為牢，蓋深入於下者也，監獄以禁固為牢，蓋深藏於內者也。仲景云：「寒則牢堅，又有堅固之義。」以牢脈與革脈議論，則革浮而牢沉，革虛而牢實，脈象不同，為病亦異，不可混也。緊脈熱為寒束，故其象繃急而不寬舒；實脈邪為火迫，故其象堅滿而不柔和。微脈模糊難見，細脈則顯而易見，故細比於微，稍稍加大也。陰寒之證，脈必見遲，然與緩脈絕不相類，蓋緩以其形之寬縱得名，遲以至數不及為義。醫者於各種脈象，必須嚴為分別，不可稍有含混，否則認脈既差，為治亦誤矣。</p>

<h2>脈之虛實</h2>
<p>仲景論脈以浮、大、滑、動、數為陽，沉、弱、澀、遲為陰，柯韻伯以六法釋之，無餘蘊矣。然脈與證宜合參，脈證相應，辨治弗難，第病情隱伏，頭緒紛繁，脈理淵深，推測匪易。先以虛實言之，證虛脈虛，證實脈實，其常也。若證則實矣，而脈似虛；或證則虛矣，而脈似實，其將何說以通之？不知脈證詎有相反之理，蓋所謂病實脈虛者，其脈或隱伏難尋，或至數模糊，或澀滯不利，雖似乎虛而非虛也。若丹溪論澀脈曰：「人之所藉以為生者，血與氣也。或因憂鬱，或因厚味，或因無汗，或因補劑，氣騰血沸，清化為濁，老瘀宿痰，膠固雜揉，脈道阻澀，不能自行，亦見澀象。若重取至骨，來似有力，參之於證，驗之形氣，但有熱證，當作錮熱治之。」葉香岩論喉閉證曰：「暴病暴死，皆屬於火，火鬱於內，不能外達，故似寒證。經絡不通，脈道不行，多見沉澀無火之脈，非虛也。」易思蘭曰：「凡遇極微之脈，久久尋之而得於指，稍稍加力，按之至骨，愈堅牢者，乃伏匿之脈，陽鬱極矣，豈可認作虛寒？」凡此皆氣機鬱滯，脈道不利所致，切忌誤作虛治。若證虛而脈似實者，或浮大而數，按之豁然，或鼎指洪盛，而重取則絕，乃陽氣浮散於外，而裡虛所致，此則似實而非實也。至於虛實不相應，脈證悉相反者，自非佳兆，又不可並此同論矣。</p>

<h2>傷食脈澀</h2>
<p>仲景以脈滑者，遲實者，緊而轉索無常者主宿食，夫人而知之。惟脈浮而大，按之反澀，尺中亦微而澀，亦主宿食，則知者鮮矣。張石頑治汪五符夏月傷食，六脈模糊，尋之似有如無，自認陰寒，而服五積散，病遂劇。葉陽生以為傷暑，而與香薷飲，遂頭面汗出如蒸。程郊倩以其證大熱，而脈息模糊，按之殊不可得；以為陽欲脫亡之候，欲猛進人參、附子。沈明生以陰證無汗出如蒸之理，脈雖虛而證大熱，當用人參白虎。相持未下，乃取決於石頑。診之，六脈雖澀弱模糊，而心下按之大痛，舌上灰刺如芒，乃食填中宮，不能鼓運其脈也。以涼膈散下之，一下神思大清，脈息頓起，當知傷食之脈，雖氣口滑盛，若屢傷不已，每致澀數模糊，乃脾不消運之兆，此證若非下奪而與參、附助其壯熱，則頃刻立斃矣。</p>

<h2>戰汗脈伏</h2>
<p>傷寒邪不內傳，其人胃氣復，則汗解而不戰；胃氣雖復而未充，邪氣將退而未散，邪正搏結漸通，鬱滯漸散，始戰汗而愈。滑伯仁曰：「傷寒家服藥後，身熱煩燥，發渴冒瞀，兩手脈忽伏而不見，惡寒戰慄，此皆陰陽氖氫，正邪相爭，作汗之徵也。」魏玉璜曰：「病有脈雙伏，或單伏，而四肢厥冷，或爪甲青紫，欲戰汗也。」吳又可曰：「發汗之理，自內以達表，若裡氣壅滯，陽氣不能敷布於外，即四肢未免厥逆，又安能氣液蒸蒸以達表？譬如縛烏之足，乃欲飛昇其可得乎？蓋鳥之將飛，其身必伏，先縱足而後揚翅，方得升舉，此戰汗之義也。又欲作戰汗之時，慎勿以藥擾之。」故張石頑但主熱薑湯，助其驅邪之力，義可見矣。</p>

<h2>溫病譫語</h2>
<p>陸九芝《世補齋醫書》論溫病譫語，歸本陽明，一以硝黃為正治，深叱葉香岩逆傳心包之非，學者多宗之。青浦陸士諤曰：「溫病譫語，有陽明、厥陰之別。陽明證，斷不能投厥陰劑；厥陰證，斷不能投陽明劑。一主硝黃盪滌，一主犀角開透，誤投皆有弊害。辨別之法，凡厥陰心包之譫語，是昏不識人，雖喚之不醒，是神明已蔽之鐵證；陽明之譫語，呼之即醒，呼過仍譫語如舊，足徵神明未盡蔽也。雖同屬譫語，而兩證判若天淵，足見九芝專以硝黃為治者，仍未盡善。然陽明譫語，雖呼之即醒，而病重者亦間有呼之不應，若只以呼之醒與不醒為別，似亦難憑。雖知陽明諺語以胃家實為本，柯韻伯所謂只因有胃家實之病根，即有胃家實之病情是也；若厥陰心包之譫語，則以熱傳營分，痰蔽清陽為主，亦必各有本證可辨。羅伯夔曰：「溫邪傳入氣分，熱結胃腑，腹滿譫語，舌苔黃厚而燥，脈沉實，宜盪滌熱邪，承氣湯主之。若熱邪入營，血液受劫，舌色純絳，神昏譫語者，宜清營熱，佐以宣竅，犀角地黃湯加味，送至寶丹、牛黃丸等主之。」余謂《傷寒論》三陽合病，腹滿身重，難以轉側，口不仁而面垢，譫語遺尿汗出，白虎湯主之一節，亦是陽明證，特承氣則責在燥屎，此則責在熱氣耳。故溫病譫語，不獨有厥陰、陽明之別，即同屬陽明，亦有承氣與白虎之分。他如葉香岩治濕熱作痞，神識如蒙，有瀉心法。玉潛齋治痰熱交結，閉塞心包，有小陷胸合蠲飲六神法，皆宜博考。至若雜證中譫語，仍當以雜證法治之，又不可與溫熱門中譫語同論也。</p>

<h2>三消屬火</h2>
<p>飲不解渴為上消；多食不為肌膚曰中消；小便如膏，飲一溲一曰下消，皆熱證也。劉河間《宣明論》隸諸燥門，其義可見。而三消論，闡發尤詳。謂治消渴者，當補腎水陰寒之虛，瀉心火陽熱之實，除腸胃燥熱之甚，濟一身津液之衰，使道路散而不結，津液生而不枯，氣血利而不滯，則其病日已矣。又釋下消溲數之故，謂燥熱太甚，而三焦腸胃之腠理，怫鬱結滯，密緻壅塞，水液不能滲泄浸潤於外，以榮養百骸，故腸胃之外，燥熱太甚，雖復多飲於中，終不能浸潤於外，故渴不止。小便多出者，為其多飲不能滲泄於腸胃之外，故溲數也。其說頗精。張子和亦以三消從火斷，謂五行之中，惟火能焚物；六氣之中，惟火能消物。故火之為用，潘木則消而為炭，焚土則消而為伏龍肝，鍊金則消而為汁，煅石則消而為灰，煮水則消而為湯，煎海水則消而為鹽，干汞則消而為粉，熬錫則消而為丹。故澤中之潦，涸於炎暉；鼎中之水，干於壯火。夫火得其平，則熟煉飲食，糟粕去焉；不得其平，則燔灼臟腑，而津液竭焉。以故入水之物，無物不長；入火之物，無物不消。故一身之火，甚於上，則為膈膜之消；甚於中，則為腸胃之消；甚於下，則為膏液之消，其言甚精。</p>
<p>後世以《內經》有心火移寒飲一溲二之說，《金匱》有男子消渴，小便反多，飲一斗，小便亦一斗，腎氣丸主之一節，遂謂消渴有寒證，戒用清涼。何夢瑤辨之曰：「《金匱》所言，乃因其人命門火衰，不能蒸動腎水與脾胃中谷氣以上達於肺，故上焦失潤而渴；其所飲之水，未經火化，直下膀胱，故飲一溲一，其味不咸。腎氣丸以壯其命門之火，如釜底加薪，則水穀之氣上騰，蒸為潤澤也。然此證只因水不上滋而渴，非如盛火之焚灼，則其渴不甚，飲亦必不多，其謂飲一斗，便一斗，乃合計之詞，非言每飲輒一斗也。其與熱證之大渴引飲者，安得無殊耶？且腎熱則小便如膏，腎寒則小便清白，又自有辨也。至《內經》所言心火衰微，反為水冷金寒之化，不特所飲之水，無氣以化，即身中之津液，亦無氣提攝。相併下趨，而成飲一溲二之證，則肺氣之消索已極，尚何大渴大飲之有？似皆不當名為消渴，以至後人涇渭不分，動手溫補，熱證逢之，不死何待！」此辨最為精切。此外更有可笑者，謂腎氣丸乃仲景立以治武帝消渴而設，是未考建安為何人年號，而二人相去且三百餘年，不知其何能相值於一時？章杏云曰：「醫師所列諸方，嘗有某帝王某卿相試驗之說，皆是遊方術士，虛張聲勢，哄騙鄉愚之法，理或然歟。</p>

<h2>黃帝內經</h2>
<p>孟子曰：「盡信書，不如無書。」柯韻伯曰：「讀書無眼，病人無命。」蓋謂古書不可盡信，而讀書須具隻眼也。《內經》十八卷，為醫書之鼻祖，王太僕謂其文簡，其意博，其理奧，其趣深，故歷數千年，醫家尊之，莫敢或貳，然謂其為歧黃遺書。究屬可疑。薛生白曰：「其書乃成於不知何代，明夫醫理，托為君臣問答之詞，而傳於民者，蓋其時始命大撓作甲子，其干支節序占候，豈符於今日？而旨酒溺生，禹始惡之，當其玄酒味溏，人誰嗜以為漿，以致經滿絡虛，肝浮膽橫耶？至於十二經配十二水名，彼時未經地平天成，何以江淮河濟，方隅珍域，竟與後世無岐？如此罅漏，不一而足。」史琦曰：「醫籍之古，無如《神農本草》、《靈素》、《難經》，後之言醫者，莫敢違也。以為此神農、黃帝、越人之傳，秦火未亡者，可深信也。」夫文字之古，無如羲畫？而羲畫無言語。其次則《尚書》，然而《尚書》積千百年之久，匯四代之籍，而文不滿數萬，即雲散失者多，而其完善者，固班班可考也。即就《禹貢》一篇而論，蓋完善也，平地成天之略，稍衍之，百萬言不足盡，今乃簡略若是，況以在黃、農之世，作醫者之書，其文辭不當益簡耶？而《靈素》之文，累數十萬，字義條暢，仿之《月令》、《樂記》之文，抑又何歟？漢世鷹緯諸書，盡托古聖，儒者且不難誣聖，況方士乎哉！況漢之方士，其敢於欺世，如文成五利之後徒，概不少矣。馬端臨號稱博雅，其《文獻通考》之敘書籍也，謂醫卜種樹之書，當時雖未嘗廢錮，而並無一卷流傳至今。當宋元之際，《靈素》、《本草》已大行，豈得曰並無一卷流傳？蓋馬氏固疑之矣。《神農經》每藥必曰久服輕身延年，雖毒藥亦云，此正方士口語。《靈素》明經絡臟腑，驗之人身，多齟齬出入，其疾病治療，亦或效或否，而《難經》則竊《靈素》之緒以衍之。司馬遷傳扁鵲，言其特假診脈為名，然則即令《難經》出扁鵲，已非心傳，況又近贗乎。余謂學術隨時代而進化，千年古籍，必難免有不盡不實之處，後人自當辨其疑似，重補修正，去偽存真，方為首務。觀《內經》所載脈絡、骨度、營衛生會等，證以解剖生理學，顯有出入。如謂人一日一夜一萬三千五百息，試問平人每日呼吸，豈有此數？此數既差，則漏水下百刻，營衛五十度周於身之說，亦必不確。他如天有日月，人有兩目；地有九洲，人有九竅等，雖云取譬，究屬無謂，司天在泉，天符歲會，亦與人體無關。張飛疇、何夢瑤曾論之。而人身之骨，全體連目耳部之三小骨，不過二百零八件，而書則作三百六十五節，以附會一歲之三百六十五日。更可議者，如雲胃大一尺五寸，徑五寸，長二尺六寸，橫屈受水穀三斗五升，以及大小腸之尺度等，皆不可信。然數千年前之解剖術，當然不及今日之精，即權衡度量，亦與今異，其能定出臟腑名目，足見當日確曾將人體剖視。觀《靈樞·經脈篇》曰：「夫八尺之士，皮肉在此，外可度量切循而得之，其死可解剖而視之」之言可知。後世以解剖為有傷人道，誰肯遵行，故其書類此之誤，至今未破。清道光時，王清任著《醫林改錯》力闢古書論臟腑之謬，而以所親見者繪圖而說明之。嘗謂論病不知臟腑，如癡人說夢；治病不知臟腑，如盲子夜行。其革新醫學之功，實在不小，雖仍多未盡善，而其志可嘉也。後唐宗海《中西匯通》五書，嘗引王說，兼採泰西生理諸書而折衷之，亦多所發明。惜其尊經過甚，處處務求與經論相合，附會武斷之處，不一而足，遂為陳邦賢、盧予甫所譏。故余嘗謂習中醫者，宜兼參西學，則於古書之謬誤，自不致於承訛，而所學必更有進者。語云：「他山之石，可以攻玉。」有志之士，其勉之哉。</p>

<h2>石山醫案</h2>
<p>《汪石山醫案》三卷，案中以參、耆奏效者居其強半，或則疑其偏於溫補，或則泥其法以誤人，是皆不得汪氏之意耳。觀其凡以參、耆主治者，其載脈不曰浮濡、即曰虛數無力，此正氣虛之確據。且雖以參、耆為主，然不輔以桂、附之辛熱，而佐以麥冬、黃柏之甘昔寒，即制方之緩急輕重、佐使先後，皆有法度，洵非淺識所能步武。其門弟子程延彝亦曰：「先主治病，多用參、耆，蓋其病已遍試諸醫，歷嘗諸藥，非發散之過，則降泄之多；非傷於剛燥，則損於柔潤，胃氣之存也幾希矣。而先生最後至，不得不用參、耆以救胃氣，實出於不得已，非性偏也。」觀此知汪氏非執板方以試病者，獨怪其《營衛論》中有曰：「人於日用之間，不免勞則氣耗，悲則氣消，恐則氣下，怒則氣上，思則氣結，喜則氣緩，凡此數傷，皆傷氣也。以有涯之氣，而日犯此數傷，欲其不虛難矣。」虛而不補，氣何由行？則正言氣虛而宜用參、耆者也。姑無論氣上、氣結之因於思怒者，不可妄補，然尚不失為論氣之言。惟下文則曰：「衛固陽也，營亦陽也。」又曰：「補陽者，補營之陽；補陰者，補營之陰。」又曰：「譬如天之日月，皆在大氣之中。分而言之，日為陽，月為陰。合而言之，月雖陰而不稟日之陽，則不能光照而運行矣。故古人於陰字下加一氣字，可見陽固此氣，陰亦此氣也。」是則混營衛陰陽為一矣。故其下再曰：「是知人參、黃耆補氣，亦補營之氣。補營之氣，即補營也。」補營，即補陰也，豈非太含混乎？昔董載臣論婦人暈厥者，謂宜逍遙散為主，輕則合四物，重則合六味加黃連，云極有效驗。王潛齋正之曰：「如果腎水虧少，肝枯木動之暈眩，惟集靈膏、瓊玉膏、甘露飲、固本丸等為宜。逍遙、四物，如何有效？董氏所云乃血虛暈眩也。」是則不獨營衛、氣血宜分論，即血之與陰，仍有分際，豈如汪氏之混而莫別乎！</p>

<h2>丹溪學說</h2>
<p>丹溪陽有餘陰不足論，謂人自有生以後，端賴水穀以養。男二八，女二七，而精通經至，陰氣始成。及男八八，女七七，而精絕經斷。夫陰氣之成，只供給得三十年之視聽言動，此難成易虧之陰，詎可不加保養哉？又其《茹談論》，謂谷菽果菜，為開賦之味，自然沖和，有養人補陰之功。揆其意，以精血化生於水穀，故純以飲食為補，此深得子和之法者也。後人不達其義，見其補陰丸中用知、柏，即援以為例，及治而誤事，竟不咎己之審證不明，而咎丹溪立方以誤世，甚有醜詆謾罵，不遺餘力，如黃元御、張景岳輩，其尤者也。不知丹溪之用知、柏，原以治陰虛火亢，能食便艱之證，非概治一切陰虛而脾胃不實之證也。又其醫案中言陰虛者，每用參、術為治，蓋以脾在六經為足太陰，《內經》所謂陰中之至陰也，胃納脾運，胃降脾生，水穀腐化，精血賴以資生。設若勞倦內傷，虛耗脾氣，則飲食不能腐化，而精血虛矣。故用參、術以助脾之用，乃不易之定法。則知其所云陰虛，乃指足太陰脾臟之虛而言，與陰虛火亢治宜清滋之陰虛不同也。後之虞夭民、汪石山，雖有論列，惜皆未明斯義。陳修園雖知補脾為補陰，亦矯枉過正，一若補脾之外，其它補陰之法，均可不講。故王子能謂人之才識學力，各有能至不能至，真知言哉。</p>

<h2>東垣方法</h2>
<p>李東垣發明補脾升陽之法，以治勞倦致虛，脾陽下陷之證，其功甚大。至《脾胃論》雖以脾胃並舉立名，《蘭室秘藏》雖知歸本脾胃，其實只明治脾之法，而治胃之法則闕焉不詳，且其立方，多雜群隊之藥。徐靈胎曾譏其駁雜，而不拘何病，立方必兼升散之藥數種。後賢如陸麗京、魏玉衰、章杏云，嘗非議之。試以其所立諸方而論，清暑益氣湯雖以清暑為名，卻無清暑之實；補中益氣湯，只可治虛人外感及脾陽不升之病；升陽益胃湯、瀉陰火升陽湯等，則藥太龐雜，誠如徐氏所譏矣。抑嘗論之，凡病屬脾氣下陷者，升陽之法原不可廢，但不可誤施於溫熱門中耳。蓋東垣生平獨得力於此法，故其所論，不外發明斯義，非治病之全體也。而《四庫全書》醫家類謂其制方：「君臣佐使，相制相用，條理整然，他人罕能效之者。斯則事由神解，不涉言詮」云，未免推許過當，實未敢贊同也。</p>

<h2>溫病條辯</h2>
<p>吳鞠通《溫病條辨》，力辨寒溫之異，多所發明，論藥亦多精妙。《解產難》、《解兒難》兩篇，皆屬可傳之作。顧《條辨》一書，簡誤之處亦在不少，詳見王潛齋《歸硯錄》、章虛谷《醫門棒喝》中，著書之難，古今同患，詎不信哉！然《條辨》之未盡善，實吳氏自取之咎。古越曹炳章謂當時吳以省墓回紹城，與任濟堂先生善，因出《條辨》一書、互相辨析。任君獨贊《解產難》、《解兒難》兩篇，余則謂自條自注，著書無此成例，且其中缺誤處甚多雲。由是拂其意，交遂疏。蔣湖書屋主人謂吳性剛氣做，洵不誣也。故惟其性剛，乃不能容物；氣做，則自視過高，雖得良友，亦無從獲益。設當日能虛心下問，互相切磋研究，棄瑕取瑜，重為編訂，當能免此遺憾。今則長留缺點，為後人駁難，未免不值矣。</p>

<h1>跋</h1>
<p>范文正公曰：「不為良相，當為良醫。」蓋良醫活人，良相治國，其要一也。劊於課餘之後，常侍家君診證，每見有扶掖而來者，揹負而來者，輿乘車載而來者，或喘或咳，或暈眩嘔吐，或熱極煩躁，坐立不安，為狀至苦。家君一一為之詳辨脈證，分別擬方與之，明日再來，則病已輕減，更數日，遂漸痊愈。釗見之，極感興趣，所謂良醫活人者非耶。然又見頑痼之疾，非一二劑所能奏效者，家君必發篋取書，詳細參究，有時至廢寢食，既而治愈，則津津樂道其診斷、處方之經過，若不勝愉快者。惟其如是，故年甫四十而發半斑白，此皆勞惱焦思所致。不肖等屢請節勞，家君惟頷之而已。嘗詔不肖等日：「醫者半以謀衣食，半以活人，且醫為性命之學，萬不能苟且從事。不特診證擬方，須極端審慎，即平日研究醫理，亦須痛下功夫。惟勤之一字，實為治學之根本，要知凡學皆不能僥倖得來者，一分勤學，一分成就，十分勤學，十分成就，不獨醫學為然，其他學術，莫不然也。汝等有志於學，必須以此自勉。」不肖等敬謹遵諾，不敢或忘，是知家君醫學之成就，全由刻苦用功得來，非可幸致也。今以其所積存醫案，擇取四十則，刊表於世，此皆歷來治驗之成績，知醫者讀之，可增加其學識，不知醫者讀之，亦可明醫藥之得失。並附醫話一卷，為早年習醫札記所成，其中言論皆有根據，足裨實用。然則家君是書，其必永傳於世也夫，他日人手一編，與金石同壽，是不肖等之私願矣。全書校閱既竟，敬附數言於書末，以志不忘焉。次男啟釗敬跋。</p>
