<header data-type="book">
<h1>隨息居飲食譜</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王士雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>前序</h1>
<p>嗚呼！國以民為本，而民失其教，或以亂天下；人以食為養，而飲食失宜，或以害身命。衛國、衛生，理無二致，故聖人疾與戰並慎，而養與教並重也。《中庸》曰：人莫不飲食也，鮮能知味也。夫飲食為日用之常，味即日用之理。勘進一層，善頤生者，必能善教民也，教民極平易，修其孝、悌、忠、信而已。頤生無元妙，節其飲食而已。食而不知其味，已為素餐，若飽食無教，則近於禽獸。余嘗曰：子、臣、弟、友，聖人之道學也，孝、悌、忠、信，王者之於城也。聖賢書具在，小子何敢贅焉！惟飲食乃人之大欲所存，易為腹負，故大禹菲飲食，而武候甘淡泊也。今夏石米八千，斤齏四十。茫茫浩劫，呼籲無門。呂君慎庵，知我將為餓殍也，招遊梅涇，寓廣川之不窺園，無事可為，無路可走，悠悠長夜，枵腹無聊。丐得枯道人禿筆一枝，畫餅思梅，纂成此稿，題曰《飲食譜》。質諸知味者，或不賤其養小失大而有以教我也。</p>
<p><u>咸豐十一年辛酉秋七月睡鄉散人書於隨息居</u></p>

<h1>後序</h1>
<p>嗚呼！《飲食譜》何為而作耶？蓋世味深嘗，不禁有飲水思源之感也。竊謂食毛踐土二百餘年，歲無奇荒，國無苛政，竟至禽獸食人食而塗有餓殍，豈非亙古未聞之奇事哉！士雄年十四失怙，賴先慈搘住門戶，而家有七口，廚無宿舂。蒙父執金履思丈，念舊憐孤，字余曰孟英，命往金華鹺業，佐司會計。舅氏俞公桂庭，誼篤親親，力肩家事，贈余齋名曰「潛」，屬潛心學問，勿以內顧為憂。乃未十載，金丈、舅氏相繼謝世。余愧無以仰副二公盛意而潛修英發也。徒以性情疏邁，遇合多奇，同郡周君光遠，知我最深。挈舍弟季傑另闢一業，俾資事蓄。而余律身極儉，不善居積，或以癡目之，遂自號半癡。迨周君作古，母逝子殤，世景日非，益無意人間事矣。乙卯冬，攜眷回籍，息影窮鄉，賃屋而居，堂名「歸硯」，欲遂首丘之志而終老焉。詎上年春，省垣失事，季傑幸縋城歸，秋仲渟溪遭難，雖不傷人，而坐食無山，癡將安用？今旅濮院，麩核充飢。我生不辰，兔爰興嘆，華胥學步，神挈希夷，因易字曰「夢隱」，並粗述四十年孤露衷情，以志前路悠悠，皆先人所留之餘地，而後路茫茫，惟有不忘溝壑耳！知味者鮮，且藏稿以俟之。</p>
<p><u>辛酉八月中旬隨息子又題</u></p>

<h1>飲食譜題辭</h1>
<p>名教於今賴主持，先生洵不愧人師。匡時念切成憂憤，遁世情高託夢癡。（先生一號半癡，近又更字夢隱。）生幸同庚憐我弱，學慚無術負公知。還忻兒輩叨恩庇，長荷春風化雨施。</p>
<p><u>辛酉仲冬同邑教弟周在恩二郊</u></p>
<p>精心搜輯健揮毫，水始螽終特見操。例似蟲魚箋《爾雅》，體參草木注《離騷》。養生獨抉神符秘，作議翻嫌食憲勞。手筆如君真傑出，何當相賞醉芳醪。</p>
<p><u>同治元年仲夏錢塘後學吳淦菊潭</u></p>
<p>《飲食譜》寄託至深，寓意最廣。欽佩，欽佩！</p>
<p><u>壬戌季夏宜春後學袁鳳桐蓮芾</u></p>
<p>讀書能明理，方許為良醫。良醫亦多術，開卷每厥疑。王君著作才，手卷不停披。古汲得井綆，學羞傍藩籬。方非秘橘泉，水非飲上池。觀書眼如鏡，大用包無遺。一伎尚如此，何況民牧司。政柄失舉措，兵燹災黔黎。東西兩浙境，百萬生靈糜。速將醫國法，起天下瘡痍。硝黃肆攻伐，滌盪其垢疵。參苓兼補益，漸漸生氣滋。邪去正可助，明辨無參差。慎勿耽美疢，鴆毒長亂機；慎勿畏惡石，苦口是良規。不然飲食人，人得而賤之。君乃明理者，累牘亦何為？意別有所在，未許以管窺。能事絀遊夏，莫為贊一詞。</p>
<p><u>壬戌長夏錢塘後學張蔭榘矩卿</u></p>
<p>薄俗紛紛口腹貪，先生仁術砭愚憨。養修精義農經補，飲食源流上古參。箋註書徵山海富，酸鹹味各性情諳。我慚未解蘭臺秘，快睹新編作指南。</p>
<p><u>壬戌秋初餘杭姻愚弟褚維培子耘</u></p>
<p>甘苦深嘗世味余，閉門且著一編書。青燈風雨西窗下，箋疏功深午夜初。</p>
<p>寒溫物性辨分明，例似嵇康論養生。不識先生開卷意，豳風無逸兩含情。</p>
<p>硯已無田可自鋤，浪遊橐筆隱華胥。嘗來雋永惟書味，食字成仙脈望如。（先生慨硯無歸而遠遊，因自號華胥小隱。曩嘗自書楹聯云：近人情之謂真學問，知書味即是活神仙。）</p>
<p>安得溪山買一區，荷衣芰帶與君俱。（君於乙卯冬忽攜一硯歸鄉，余兄仲和屢欲移家往結鄰，而輒為事阻，卒罹於難，豈非數耶？且耕且鑿忘年月，靜俟河清守我愚。）</p>
<p><u>壬戌仲秋仁和愚弟朱志成萊云</u></p>
<p>此書大旨，每物求其實驗，不為前人臆說所惑，較勝《食物本草》多矣。夢隱以校訂見委，余方避地無聊，藏書已燼，多病善忘，雖妄附數語，未必能為此書之益也。</p>
<p><u>壬戌閏月烏程愚弟汪曰楨謝城</u></p>
<p>《飲食譜》採擷浩博，妙能以簡約出之。少陵雲：讀書破萬卷，下筆如有神。正此之謂。所列單方，亦皆精妙。發刊後定當風行海宇，傳之無窮。敬附小詩二首，以識悅服之忱云。</p>
<p>烽火連天急，蕭然獨隱居，不勝憂世念，更著活人書。道可淵泉證，言真菽粟如，勸懲關政教，仁術豈虛譽。（君醫案有《仁術志》八卷，周光遠、張柳吟諸君所輯。）</p>
<p>萬卷充腸後，名山業始成，立言皆有物，析理必求精。世鮮能知味，人當重養生，一編傳刻遍，利濟及環瀛。</p>
<p><u>壬戌季秋桐鄉愚弟陸以湉定圃</u></p>
<p>一篇新著出青箱，濟世仁心術更良。秦客獨傳伊摯法，齊候請試越人方。食單安用門生議，饌品先宜膳宰嘗。省識延年兼卻疾，底須仙府乞瓊漿。</p>
<p><u>壬戌嘉平烏程愚弟蔣堂海珊</u></p>
<p>參天地為人，人莫不飲食，飲食有其經，明者為之述，息養憑天功，長育資地力，飲水當思源，民以之為質。谷蔬蓏介鱗，詳辨須博識，燥濕熱溫涼，先民程以式。四氣有乘除，五行互生克，宜臊宜膻殊，用鹽用醬悉。知味者鮮何，用是心怵怵，一篇養生論，洋洋快心得。</p>
<p>著論者嵇康，猶未得其詳，投筆蹶然起，我友瑯琊王。分門更別類，一一提其綱，窮原以竟委，紹遠更搜旁。始知天地間，萬物無盡藏，渡河竄三承，逾嶺識五羊。循名而責實，棄短以從長，東南正蹂躪，避寇在窮鄉。劬書劇嗜炙，厥義大為彰，門生食單議，無奈徒彷徨。</p>
<p>韓柳唐通儒，著作一代擅，韓有圬者篇，柳有梓人傳。圬者梓人儔，夫豈攑之彥，韓柳不憚煩，微言寓諷勸。先生此書成，可作韓柳論，始以水開端，終以䥱螽殿。魚子一失水，䥱螽極其變，害稼信有然，得水乃所願。猶之橫暴民，撫育跡亦斂，遷善日不知，洗心更革面。許我讀終篇，窺管一斑見。</p>
<p>上海，乃海隅一邑也。茲為蘇省會垣，而江浙之竄難者，率止於此，地狹人稠，難乎駐足。夏間夢隱來遊，假榻鎮海周君採山寓中。會陳君春泉之女，患證垂危，因採山轉乞援手，乃一劑得生，春泉不勝感佩。而夢隱瀛眷適至，遂以黃歇浦西矮屋三楹，為先生隨息居。朋輩過從，輒有題贈，虛室生白，人皆羨之。且《飲食譜》一書，聞歷伯符方伯已刻於鄂垣，今陳君又刊於滬，而《重訂霍亂論》諸稿同志者，亦將梓以壽世。爰再賦二律，藉攄欽悅之懷焉。</p>
<p>一枝聊借類鷦鷯，白板門間遠市囂。深巷寂寥泥滑滑，隔城棖觸路迢迢。捲簾挹爽過朝雨，倚枕無眠聽夜潮。劫歷紅羊隨處息，先生物外獨逍遙。</p>
<p>朝朝仰屋著書勞，洛下應騰紙價高。為有安排徐稚榻，更兼持贈呂虔刀。嗟嗟世事揉升木，鬱郁人情馬齧槽。縱復此心名利淡，元龍意氣總能豪。</p>
<p><u>壬戌嘉平嘉興愚弟張保沖小尹</u></p>
<p>片語移時實起予，春申浦上識君初。緣深到處能驅疾，心靜無為日著書，壽物壽人知獨任，醫民醫國有誰如。沿江一折塵囂絕，即是先生隨息居。</p>
<p>超然物外隱華胥，撰述洋洋辨魯魚。（撰述各種，多糾正前人之謬。）寓意良深托耕鑿，發揮豈僅志含茹。言中有物文章老，（先生家向懸一聯云：精神到處文章老，學問深時意氣平。聞系稟承先訓，書以自勵者，家風品學即此可徵矣。）眼底無塵習俗除。料得鐫成還示我，一編快讀笑談余。</p>
<p><u>壬戌嘉平仁和世晚徐嗣元起庵</u></p>
<p>海上重尋我友王，新編著述富琳瑯。泉源善導皆滋養，頑梗能安即秀良。（譜以水始，以蝗終，謂魚子得水，可不為蝗，猶莠民向化可不為盜，寓意深厚，獨具苦心。）日用尋常真學問，致知格物大文章。卻求韜隱無容隱，一枕酣恬託夢鄉。（君字近改夢隱。）</p>
<p>靜掩雙扉遠俗塵，名言析理務推陳。篋中剩有攜歸硯，（已刻之書十餘種，劫後僅《歸硯錄》四卷倖存。）指下全無不活人。（客臘余久患喘渴，腫脹腹瀉，無眠，服君方三劑，諸恙遂減，十劑而霍然。殆今之仲景也。）潑甕香醪剛報熟，登盤早韭快嘗新。（時將往泰州兼承飲餞。）那堪驪唱匆匆別，悵望天涯益愴神。</p>
<p><u>癸亥春王仁和世晚許之棠培之</u></p>
<p>人以飲食生，亦以飲食死，飲食有何常，死生亦偶耳。昂藏七尺軀，大地可小視，俯仰適其適，何悲復何喜。藜藿與鼎鍾，吾心祗如是，首陽儻無稱，孤竹自脫屣。後車數十乘，永懷子輿氏，一醉方獨醒，誰識其中旨？狂病不可藥，問君奈何爾？王君丈人行，狂言幸無訾。耳名逾十年，跡還知我否？君今隱於醫，我但鑽故紙。不知蠹食靈，聊為爵飲洗，滌吾腸胃間，有如水清泚。</p>
<p>今天下之病亟矣，元氣耗竭，而外邪益熾，吾謂縱有醫國手，亦將聽之天命而已。然中外諸公，方且徐徐焉起而圖之。夫飲食之道貴以需，剝極而復，尚可須臾緩邪。顧及是而謀所以復元氣者，則亦仍求之飲食之道可矣！今有病者於此，原其受病之始，必曰飲食不節，究其養病之端，亦必曰飲食必調。知曏者之受病，即可知今日治病之所在。夫治病於今日者，培其本，節其流，兩言盡之矣。不見夫病起者之調養得宜，未幾而瘠者肥，弱者強，或且有倍勝於前者，飲食之義大矣哉！頃讀《飲食譜》大略，已覺津津有餘味。竊意此書出，非僅膾炙人口，將使知味者因是而洗滌腸胃，含茹性情，則先生噓枯起廢之功，蓋不啻遍飲食之矣。複製蕪詞以申讚頌：</p>
<p>天一生水，人心之精，仁發於知，鑿通乎耕。飲且食焉，遊神太清，道味世味，辨逾淄澠。淡而彌永，元酒太羹，觀象山雷，頤貞則吉。蒙養以需，有孚斯實，不浚其源，其流乃窒。天君泰然，百體受職，身之肥也，肥家肥國。</p>
<p><u>癸亥孟春秀水教侄張王熙欣木</u></p>
<p>從來仙佛最多情，名利悠悠兩不縈。一片深心惟濟世，教人隨意學長生。</p>
<p>醫國醫人理本同，能因物性即為功。東南民力瘡痍遍，也在調元贊化中。</p>
<p><u>餘杭姻家愚弟褚維奎星艖</u></p>
<p>夢隱先生，通儒也。軫念民艱，慨然有救世之志，談窮檐疾苦，懾焉失氣，或扼腕而籲，乃遁跡於醫。性耽著書，下筆數千言，近鬚髯半霜雪，猶竭毣毣之思，撰述不倦，作《飲食譜》。自水穀至鱗介覙縷如列眉，箋註簡當，尤切日用。雖然懸壺末伎也，生人之意靡窮，生人之量有限，出門一望，瘡痍溢目，蓬蒿滿田。痌瘝在抱者，盍起而飲食教誨吾民哉。</p>
<p><u>餘杭姻家愚弟褚維厚子方</u></p>
<p>膏粱非所願，丹藥亦有毒，造物養吾生，陽飲陰食足。世人味鮮知，萬錢恣口腹，損形兼損神，酣豢病已伏。參苓雖美材，元氣剝難復，先生懷苦心，方書補未錄。治病在病先，物性諳極熟，珍奇既旁搜，尤不遺寂粟。味得味外味，淡然自節欲，固可咬菜根，何妨嘗鼎肉。</p>
<p><u>癸亥仲春餘杭世侄郎璟子魯</u></p>
<p>人生何苦縱嗜欲，乃以口腹戕其身。國家晏安滋耽毒，降災勿謂天不仁。上醫醫人先醫國，能挽造化回艱迍蒸蒸元氣務培養，飲和食德何其醇。不然歸去壺中住，杏林一枝著手春。君平隱卜梅福市，同作千秋高蹈人。先生痌瘝夙在抱，惻然疾苦念吾民。針膏起廢托奢願，手無斧柯徒風塵。去年大疫東南遍，貔貅十萬聲吟呻。（元年夏，浙、皖、金陵諸營無不病。）奈何百戰勝精銳，竟使沉疴化碧磷。今時安得起陀扁，刀圭一服神乎神。好為朝廷留猛士，廊清海宇平黃巾。又如流亡滿鄉梓，垢惡所聚疵癘因。老弱踣困壯者病，面黧容槁衣則鶉。問誰大展回春手，參宇妙劑調君臣。瘡庚到處盡蘇息，仁民之意推親親。嗚呼此願不能遂，一遍《靈》、《素》遙傳薪。飲食之味知者鮮，寓意則遠理則真。可補《本草》條目闕，可悟《爾雅》經注新。立言本旨不在此，救時藥石勞諄諄。譬諸草檄愈風疾，警心惕目無其倫。先生之學在經世，先生之書可問津。願刊萬本摹萬紙，獻之彤墀徵蒲輪。行見陰陽調燮沴氣泯，肥家肥國澤九垠。</p>
<p><u>秀水愚弟金福曾苕人</u></p>
<p>雨後精苗數藥欄，蟲魚草木見聞殫。非關博物誇龍鮓，豈為談經喻馬肝。春野煙浮千品活，秋窗葉落一燈殘。別從醫案開生面，莫笑豪華議食單。</p>
<p><u>秀水愚侄趙銘桐孫</u></p>
<p>顛沛危亡際，（先生道不窮，著書多歲月，醫俗煦春風。慧眼人情識，靈心物理通，先生論事論學總以近人情為第一義，故能盡人之性，以盡物之性如此也。）不才忻附驥，小伎愧雕蟲。</p>
<p><u>同邑受業周開第少謙</u></p>
<p>菽粟疏食生民寶，上古教人有至道。後世貪饕口腹恣，徒自肥腸復滿腦。飲食以生亦以死，先生用是惄焉搗。飲水思源理當然，厥義於人易了了。蒐羅殆遍無一遺，蔬蓏鱗介牲禽鳥。王綱失墜政凌夷，以致中原頻擾擾。飲之食之失其經，頤養殊乖明哲保。爰知其理將毋同，一編窮年閉門草。飲和食德盛世氓，日用為質遊皞皞。及今蹂躪年復年，生民塗炭思逞狡。太和元氣誰為回，調攝得宜細參考。食之以時王政垂，生養往往關億兆。先生著書格物功，家風志不在溫飽。若論鬥石才恢恢，不棄葑菲躬藐藐。小子何知大度涵，用敢作歌識傾倒。安得人人如此仁（心存同胞），同與痌瘝常在抱。</p>
<p><u>餘杭姻愚侄褚成亮叔寅</u></p>
<p>少陵每飯不忘君，飲水思源至理廑。千里膏腴豢豺虎，（上三句叔夢中與煃聯句得之，醒而命煃足成一律。）萬般波浪痛榆枌。（家鄉蹂躪，慘不可言。）旨參造化陰陽燮，味倩調和鼎鼎芬。（譜以調和列蔬食前，其意深矣。）春草偏成竹林句，聯吟從此更殷勤。</p>
<p>等身著作鬼神驚，（叔未刻諸稿不止盈尺。）探得源頭物理精。濟世不隨塵世混，存心只見道心瑩。生涯淡極詩書潤，德澤深從忠孝成。（靖康之難，我安化始祖忠肅王暨子錫京公同殉節，敕建專祠，吾叔嘗重立忠孝流芳賜額時舉此二字，以訓後人。）歸硯咀含曾盥讀，（承賜讀《歸硯錄》，亦寓木本水源之意。）　垂青小阮感衷情。難後時蒙存注。</p>
<p><u>海鹽族侄元煃肖士</u></p>
<p>復獲追隨杖履前，申江重聚假天緣。瘡痍遍地心愁絕，鋒鏑餘生意惘然。不倦折肱商舊學，（《重訂霍亂論》將次付梓重校，《證治針經》亦已脫稿。）又經著手出新編。切於日用斯為貴，逐物推求邁昔賢。（汪謝城先生，謂此書遠勝《食物本草》，詢定評也。）</p>
<p>湖山美地劫灰揚，猶喜名山著述藏。（公昔居杭會，嘗刊醫書十餘種，版未攜歸，諒遭兵燹，幸諸稿皆存，近聞楊素園先生將為重刻於江西，且欲以《溫熱經緯》諸種並付剞劂。）樗櫟材庸慚述德，（《歸硯錄》採先祖論醫一則。）淵源學富纘重慶。（公之曾大父著《重慶堂隨筆》，公嘗刊入叢書。）　繁徵博引偏能盡，遠紹旁搜罔不藏。悟得先生言外意，漫天何至有飛蝗。</p>
<p><u>同邑姻愚侄戴其浚鶴山</u></p>

<h1>水飲類</h1>
<p>（附淡巴菰、鴉片）</p>
<p><u>天雨水</u>（《戰國策》名上池水，陶隱居名半天河，俗名天泉水。）　甘涼養陽分之陰，瀹茗清上焦之熱，體輕味淡，煮粥不稠，宿久澄徹者良。</p>
<p><u>露水</u>（立秋後五日白露降，夜來不可露身出戶，故曰：白露身勿露。）　甘涼潤燥，滌暑除煩。若秋前之露，皆自地升。蘇詩：露珠夜上秋禾根是已。云秋禾者，以禾成於秋也。稻頭上露，養胃生津。菖蒲上露，清心明目。韭葉上露，涼血止噎。荷花上露，清暑怡神。菊花上露，養血息風。余可類推。</p>
<p><u>冬雪水</u>　甘寒清熱，解毒殺蟲。溫疫熱狂、暑暍霍亂，徐徐頻灌，勿藥可瘳。淹浸食物，久藏不壞。</p>
<p><u>溪、河、湖、池水</u>　各處清濁不同，非清而色白味淡者不可飲。凡近地無好水，宜飲天泉。或以其水澄清，煮熟而藏之，即為好水。海水咸濁，蒸取其露，即清淡可飲。</p>
<p><u>井泉水</u>　甘寒清下焦之熱，煮飯補陰中之陽。新汲者良，咸濁勿用。中煤炭毒，灌之即蘇。</p>
<p>食井中每年五月五日午時，入整塊雄黃，整塊明礬各斤許，以闢蛇蟲陰濕之毒，或整塊硃砂數兩尤妙。</p>
<p>食水缸中，宜浸降香一二段，菖蒲根養於水面亦良。水不甚清者，稍以礬澄之，並解水毒。</p>
<p>雨雪之水，皆名天泉。其質最輕，其味最淡，杭人呼曰淡水，瀹茗最良，宜煎清肅滌熱諸藥。惟杭人飲之，故人文秀美，甲於天下。杭城皆瓦屋，以竹木或磚或銅錫為承溜，（周曰承溜，漢曰銅池，宋曰承落，皆檐溝水筧之稱也。杭人呼為閣漏。）引其水而注諸缸。然必日使人梯而上視，如有鳥惡貓穢之瓦，即以潔瓦易之。再以淨帚頻為掃除，毋使木葉塵砂之積，則水始潔。若近廚之屋，必有煤炲之汙，勿取其水也；狂風暴雨，必夾塵砂，亦勿取焉。久晴乍雨，亦勿遽取，恐瓦有積垢，濯之未淨也。既注之缸，必待其澄，而後挹其清者，藏諸別缸，藏久彌良。凡藏水之缸，宜身長而口小者，上以缶盆冪之，而置於有風無日之所。日曬久則水易耗，而色不白也。置缸之地，甃以磚石，或埋入土中一二尺亦可。先慈嗜茗而取水甚嚴，蓄水甚精，謹詳識之，雖他處亦可仿行，以免水土惡劣之病，不但備烹茶煮藥之用已。</p>
<p>溪澗之水，發源于山，清甘者良。水如惡劣，其山必嶮巇或為砒礜毒藥之所產，或為蟲蛇猛獸之所居。而人之飲食，首重惟水。乍人其鄉者飲之，疾病生焉；生於其地者習之，很戾鍾焉。欲籌斡旋補救之策，以期革獷猂之俗，而康濟斯民者，惟有廣鑿井泉，是為亟務。爰採泰西掘井法於下，庶無井之地，悉可仿而行焉。</p>
<p>高地作井，未審泉源所在，其求之法有四：</p>
<p>第一氣試：當夜水氣恆上騰，日出即止。今欲知此地水脈安在，宜掘一地窖，於天明辨色時，人入窖以目切地，望地面有氣如煙騰騰上出者，水氣也。氣所出處，水脈在其中。</p>
<p>第二盤試：望氣之法，曠野則可，城邑之中，室居之側，氣不可見，宜掘地深三尺，廣長任意，用銅錫盤一具，清油微微遍擦之，窖底用木高一二寸以搘，盤偃置之，盤上乾草蓋之，草上土蓋之。越一日開視，盤底有水欲滴者，其下則泉也。</p>
<p>第三缶試：近陶家之處，取瓶缶坯子一具，如前銅盤法用之。水氣沁入瓶缶者，其下泉也。無陶之處，以土甓代之，或用羊絨代之。羊絨者，不受濕，得水氣必足見也。</p>
<p>第四火試：掘地如前，篝火其底，煙氣上升蜿蜒曲折者，是水氣所滯，其下則泉也。煙氣直上者否。</p>
<p>鑿井法有五：</p>
<p>第一擇地：山麓為上，蒙泉所出，陰陽適宜；園林室屋所在，向陽之地次之；曠野又次之；山腰者居陽則太熱，居陰則太寒為下。（此論泉水之高下等第耳，然山腰、山頂亦有甘泉，不可泥也。）鑿井者，察泉水之有無，斟酌避就之。</p>
<p>第二量淺深：井與江河地脈通貫，其水淺深，尺度必等。今問鑿井應深幾何？宜度天時旱潦河水所至，酌量加深幾何而為之度，去江河遠者不論。（不論者，不論深淺，而以及泉為度也。泉愈深則水愈美，雖水土惡劣之鄉，深泉必清冽無毒也。）</p>
<p>第三避震氣：地中之脈，條理相通，有氣伏行焉，強而密理。中人者九竅俱塞，迷悶而死，俗謂之犯土者是。凡山鄉高亢之地多有之，澤國鮮焉。此地震之所由也，故曰震氣。凡鑿井遇此，覺有氣颯颯侵入，急起避之，俟泄盡，更下鑿之。欲候知氣盡者，縋燈火下視之，火不滅，是氣盡也。</p>
<p>第四察泉脈：凡掘井及泉，視水所從來而辨其土色，若赤埴土，其水味惡。赤埴，黏土也，中為甓為瓦者是。若散沙土，水味稍淡。若黑墳土，其水良。黑墳者，其土色黑稍黏也。若沙中帶細石子者，（雖赤土、黃土皆佳。）其水最良。</p>
<p>第五澄水：凡作井底，用木為下，磚次之，石次之，鉛為上。既作底，更加細石子厚一二尺，能令水清而味美。</p>
<p>試水美惡，辨水高下，其法有五。凡江河、井泉、雨雪之水，試法皆同。</p>
<p>第一煮試：取清水置淨器煮熟，傾入白瓷器中，候澄清，下有沙土者，此水質濁也，水之良者無滓。又水之良者，以煮物則易熟。</p>
<p>第二日試：清水置白瓷器中，向日下，令日光正射水，視日光中若有塵埃絪縕如遊氣者，此水質不淨也。水之良者，其澄徹底。</p>
<p>第三味試：水，元氣也。元氣無味，無味者真水，凡味皆從外合之。故試水以淡為主，味佳者次之，味惡為下。（天泉最淡，故烹茶獨勝，而煮粥不稠。）</p>
<p>第四稱試：有各種水，欲辨優劣，以一器更酌而衡之，輕者為上。</p>
<p>第五紙帛試：用紙或絹帛之類，色瑩白者，以水蘸而干之，無痕跡者為上。（於文白水為泉，故水以色白為上。）</p>
<p>人可以一日無谷，不可以一日無水。水之於人，顧不重歟！苟知掘井試水之法，則在在可飲甘泉而免疾病，且藉以備旱災，御兵火，一舉而數善存焉。余性喜鑿井而力有未逮，惟冀同志者勉為之。但井欄之口宜小而多，既免墜溺，仍便引汲也。設無水之地而萬難鑿井者，更列水庫法於後：</p>
<p>水庫法：泰西書云：若天府金城，居高乘險，江湖溪澗，境絕路殊，鑿井百尋，盈車載綆，時逢亢旱，涓滴如珠，或絕徼孤懸，恆須遠汲，長圍久困，人馬乏竭，如此之類，世多有之。臨渴為謀，豈有及哉？計惟恆儲雨雪之水，可以御窮。而人情紐近，未或先慮，及其已至，坐槁而已。亦有依山掘地，造作池塘，以為旱備。而彌月不雨，已成龜坼，徒傷挹注之易窮，不悟滲漏之實多也。西方諸國，因山為城者，其人積水如積穀。谷防紅腐，水防漏渫。其為計慮，亦略同之。以故作為水庫，率令家有三年之蓄，雖遭大旱，遇強敵，莫我難焉！且上方之水比於地中，陳久之水方於新汲，其蠲煩去疾，益人利物，往往勝之。彼山城之人，遇江河井泉之水，猶鄙不屑嘗矣。（天泉宿水，遠勝山泉，此惟杭人知之。）名曰水庫者，固之其下，使無受渫也；冪之其上，使無受損也。（原注：冪防耗損，亦防不潔，故古人井亦有冪也。）四行之性，土為至干，（土性干，故勝濕，受水太過，是卑濫而為濕土。）甚於火矣。水居地中，風過損焉，日過損焉。夏之日大旱，金石流，土山焦，而水獨存乎？（妄人謂濕熱相合為暑，真是夢囈。）故固之，故冪之。水庫之事有九：一曰具，具者所以庀其物也。（細砂、石灰、烏樟、桐油等物。）二曰劑，劑所以為之和也。三曰鑿，鑿所以為之容也。（在家、在野，皆可擇地而為之，不論方圓，宜下侈上弇為妙。）中底以三分之一為坎，（渟其垢時，以吸筒吸去之，則年久彌清也。）四曰築，築所以為之地也。（底牆皆須築實，毋使滲漏。）五曰塗，塗所以為之固也。（築堅候至八分干，再以烏樟或細灰塗之。）六曰蓋，蓋所以為之冪也。七曰注，注所以為之積也。（以承溜引注也。）八曰挹，挹所以受其用也。九曰修，修所以為之彌縫其闕也。（凡造擴、造窖、造鹽地，皆須築實，毋使滲漏，其事同也，而各處造法，微有不同。若造水庫之法，亦可各隨其便者。故附載其略於此，智者自能因地制宜。）</p>
<p>水倉法：水庫或卒難集辦，更有水倉一法，較易從事。其法創自乾隆間楊州余君觀德。凡水土惡劣之鄉，人煙稠密之地，距河稍遠之處，皆可仿行，以備兵火、旱災、疾病諸患。但置曠地一區，繚以土垣，前設門楹，傍曰水倉，中為大院，置大缸數百，或百十隻，腳埋入土尺許，滿儲以水，復置水桶百十隻，水龍數具，外鐍以鎖。設有災患，開取甚易，若大家、巨剎，凡有空院者，尤易仿行。為己為人，公私兩益，故附載之。</p>
<p>煎藥用水歌：何西池《醫碥》云：急流迅速堪通便，宣吐洄瀾水（即逆流水。）最宜。百沸氣騰能取汗，甘瀾勞水（流水杓揚萬遍，名甘瀾水，亦名勞水。）意同之。黃齏水吐痰和食，霍亂陰陽水（百沸天泉與新汲井水各半也。）可醫。（治瘧亦妙。）新汲無根皆取井，除煩去熱補陰施。地漿解毒兼清暑，（亦和中補土。）臘雪寒冰療疫奇。更有輕靈氣化水，（如蒸露法蒸水，以管接取用之，一名氣汗水，亦名水露。雖海水，但蒸取其露，即清淡可飲，以咸濁不能上升也。）奇功千古少人知。善調升降充津液，滋水清金更益脾。（肺熱而腎涸，清金則津液下澤，此氣化為水，天氣下為雨也。腎涸而肺熱，滋陰則津液上騰，此水化為氣，地氣上為云也。蒸水使水化為氣，氣復化水，有循環相生之妙。而升降之機，脾為之主，故兼主中樞不運也。</p>
<p><u>乳汁</u>　甘平補血，充液填精，化氣生肌，安神益智，長筋骨，利機關，壯胃養脾，聰耳明目。本身氣血所化，初生藉以長成。強壯小兒，周歲即宜斷乳，必以穀食，始可培植後天造物之功，不容穿鑿。故大人飲乳，僅能得其滋陰養血，助液濡枯，補胃充肌而已。設脾弱氣虛，膏粱濕盛者飲之，反有滑瀉釀痰、減餐痞悶之虞。且乳無定性，乳母須擇肌膚豐白，情性柔和，別無暗疾，不食葷濁厚味者，其乳汁必醲白甘香，否則清稀腥濁，徒增兒病也。</p>
<p>牛、馬、蛇肉毒，飲人乳解之。</p>
<p><u>牛乳</u>　甘平。功同人乳而無飲食之毒、七情之火。善治血枯便燥，反胃噎膈，老年火盛者宜之。水牛乳良。小兒失乳者，牛、羊乳皆可代也。</p>
<p><u>馬乳</u>　甘涼。功同牛乳而性涼不膩，故補血潤燥之外，善清膽、胃之熱，療咽喉口齒諸病，利頭目，止消渴，專治青腿牙疳。白馬者尤勝。</p>
<p><u>羊乳</u>　甘平。功同牛乳。專治蜘蛛咬毒。白羜羊者勝。</p>
<p><u>酪酥醍醐</u>　牛、馬、羊乳所造。酪上一層凝者為酥，酥上如油者為醍醐。並甘涼潤燥，充液滋陰，止渴耐飢，養營清熱。中虛、濕盛者均忌之。</p>
<p><u>茶</u>　微苦微甘而涼。清心神，醒睡除煩；涼肝膽，滌熱消痰；肅肺胃，明目解渴。不渴者勿飲。以春采色青，炒焙得法，收藏不泄氣者良。色紅者已經蒸庵失其清滌之性，不能解渴，易成停飲也。普洱產者，味重力峻，善吐風痰，消肉食。凡暑穢、痧氣、腹痛、乾霍亂、痢疾等證，初起飲之輒愈。</p>
<p><u>諸露</u>　凡谷、菜、果、蓏、草、木、花、葉諸品，具有水性之物，皆取其新鮮及時者，以法入甑，蒸溜得水，名之為露。用得其宜，遠勝諸藥。何者？諸藥既干且久，或失本性，譬用陳米作酒，酒力無多。若不堪久藏之物，尤宜蒸露密儲。如以諸藥煎作湯飲，味故不全，間有因煎失其本性者。惟質重味厚，滋補下焦，如地黃、枸杞之類，必須煎汁也。若作丸散，並其渣滓啖之，殊勞脾運。惟峻厲猛烈之藥，宜丸以緩之；冰、麝忌火諸香，必丸而進之；五苓、六一等劑，須散以行之。凡人飲食，蓋有三化，一曰火化，烹煮熟爛；二曰口化，細嚼緩咽；三曰胃化，蒸變傳運。二化得力，不勞於胃。故食生冷，大嚼急咽，則胃受傷也。胃化既畢，乃傳於脾，傳脾之物，悉成乳糜，次乃分散達於周身。其上妙者化氣歸筋，其次妙者化血歸脈，用能滋益精髓，長養肌體，調和營衛。所云妙者，飲食之精華也，故能宣越流通，無處不到。所存糟粕，乃下於大腸。今世滋補丸劑，皆干藥合成，精華已耗，又須受變於胃，傳送於脾，所沁入宣布，能有幾何？不過徒勞脾胃，悉成糟粕下墜而已。朝吞暮餌，抑何愚耶！</p>
<p>汪謝城曰：諸露生津解熱，誠為妙品。但肆中貪多而蒸之過久，以致味薄，或羼他物以取香，如枇杷葉露，亦羼香物，正與嗽證相反，故必以自蒸為佳。又中有飲濕者，諸露皆非所宜。</p>
<p><u>酒</u>　大寒凝海而不冰，其性熱也。甘苦辛酸皆不是，其味異也。合歡成禮，祭祀宴賓，皆所必需。壯膽闢寒，和血養氣，老人所宜。行藥勢，劑諸餚，殺鳥獸、鱗介諸腥。陳久者良。多飲必病，故子弟幼時，總不令飲酒，到大來不戒而自不飲矣。凡民日食不過一升，而尋常之量，輒飲斗酒，是一人之飲，足供數人之食。至於盛餚饌，多朋從，其費又不可勝計也。酒之為物，勤儉多妨，故禁酒可以使民富。貞潔之人，以酒亂性；力學之人，以酒廢業；盜賊之徒，以酒結夥；剛暴之徒，以酒行凶。凡世間敗德損行之事，無不由於酒者。此《書》之所以作「酒誥」，漢時所以三人群飲罰金四兩也。酒之為物，志氣兩昏，故禁酒可以興民教，富之，教之，誠富國坊民之善術。今蕞爾小邑，歲費造酒之米，必以萬石計，不但米價日昂，徑至釀成大劫。此其一端也，可不鑑哉！</p>
<p>解酒毒（大醉不醒。）　枳椇子煎濃汁灌；人乳和熱黃酒服。外以生熟湯浸其身，則湯化為酒而人醒矣。</p>
<p><u>酒釀</u>　甘溫。補氣養血，助運化，充痘漿，多飲亦助濕熱。冬制者耐久藏。</p>
<p><u>燒酒</u>（一名汗酒。）　性烈火熱，遇火即燃。消冷積，御風寒，闢陰濕之邪，解魚腥之氣。陰虛火體，切勿沾唇。孕婦飲之能消胎氣。汾州造者最勝。凡大雨淋身，及多行濕路，或久浸水中，皆宜飲此，寒濕自解。如陡患泄瀉，而小溲清者，亦寒濕病也，飲之即愈。</p>
<p>風寒入腦，久患頭痛，及飲停寒積，脘腹久疼，或寒濕久痹，四肢痠痛，諸藥不效者，以滴花燒酒，頻摩患處自愈。若三伏時，將酒曬熱，拓患處，效更捷。素患凍瘃者，亦於三伏時，曬酒塗患處，至冬不作矣。</p>
<p>霍亂轉筋而肢冷者，以燒酒摩拓患處效。</p>
<p>解燒酒毒，蘆菔汁、青蔗漿隨灌。綠豆研水灌，或以枳椇子煎濃湯灌。大醉不醒，急以熱豆腐遍體貼之，冷即易，以醒為度。外用井水浸其發，並用故帛浸濕貼於胸膈，仍細細灌之，至蘇為度。凡燒酒醉後吸菸，則酒焰內燃而死。又有醉後內火如焚，而反惡寒者，厚覆衣被，亦能致死。即口渴飲冷，止宜細細飲之，以引毒火外達。若連飲過多，熱毒反為驟冷所遏，無由外達，亦多閉伏不救也。</p>
<p>愈風酒方</p>
<p>陳海䖳（漂淨拭乾，晾極燥。十二兩）　黑大豆　嫩桑枝　松針（杵爛。各四兩。）</p>
<p>陳酒七斤，封浸，煮三炷香。</p>
<p>喇嘛酒方　治半身不遂，風痹麻木。</p>
<p>胡桃肉　龍眼肉（各四兩）　杞子　首烏　熟地（各一兩）　白朮　當歸　川芎　牛膝　杜仲　白芍　豨薟草　茯苓　丹皮（各五錢）　砂仁　烏藥（各二錢五分）</p>
<p>上十六味，絹袋盛之，入瓷瓶內，浸醇酒五斤，隔水煮濃，候冷，加滴花燒酒十五斤，密封七日。</p>
<p>健步酒方</p>
<p>生羊腸（一具，洗淨晾燥）　龍眼肉　沙苑蒺藜（隔紙微炒）　生苡仁（淘淨曬燥）　仙靈脾（以銅刀去邊毛）　真仙茅（各四兩）</p>
<p>上六味，用滴花燒酒二十斤，浸三七日。下部虛寒者宜之，華亭董氏方也，見《三岡識略》。</p>
<p>熙春酒方</p>
<p>生豬板油（一斤）　甘杞子　龍眼肉　女貞子（冬至日採，九蒸九曬）　直生地（洗淨曬乾）　仙靈脾（去邊毛）　生綠豆（洗淨曬乾。各四兩）</p>
<p>上七味，滴花燒酒二十斤，封浸一月。茹素者去豬油，加耿柿餅一斤可也。此酒健步駐顏，培養心腎，衰年飲之甚妙。但以豬脂白蜜浸之，名玉液酒。溫潤補肺，澤肌膚，美毛髮，治老年久嗽極效。隨息自驗。</p>
<p>固春酒方　治風寒濕襲入經絡，四肢痹痛不舒，俗呼風氣病，不論新久，歷治輒效。</p>
<p>鮮嫩桑枝　大豆黃卷（或用黑大豆亦可）　生苡仁　樞木子（即十大功勞紅子也，黑者名極木子，亦可用。無則用葉，或用南天燭子亦可。各四兩）　金銀花　五加皮　木瓜　蠶砂（各二兩）　川黃柏　松子仁（各一兩）</p>
<p>上十味，絹袋盛而縫之。以好燒酒十斤，生白蜜四兩，共裝壇內，將口封固紮緊。水鍋內蒸三炷香取起，放泥地上七日，即可飲矣。每日量飲一二杯。病淺者一二斤即愈。</p>
<p>定風酒方</p>
<p>天冬　麥冬　生地　熟地　川芎　五加皮　牛膝　秦艽（各五錢）　川桂枝（三錢）</p>
<p>上九味，絹袋盛之。以滴花燒酒二十斤，淨白蜜、赤沙糖、陳米醋各一斤，攪勻，浸入瓷壇，豆腐皮封口，壓以巨磚，安水鍋內，蒸三炷香。（壇須寬大，則蒸時酒弗溢出也。）取起，埋土中七日，此內府方也。功能補血息風而健筋骨，且製法甚奇，凡患虛風病者，飲之輒愈，而藥味平和，衰年頻服，極有裨益，並無流弊。</p>
<p>按：酒性皆熱，而燒酒更烈，韌如羊腸，潤如豬脂，並能消化，故不但耗穀麥，亦最損人，尤宜禁之。然治病養老之功亦不可沒。世傳藥酒，率以剛燥之品助其猛烈，方名雖美，而遺患莫知。惟此七方，用藥深有精義，洵屬可傳。但飲貴微醺，不可過恣，始為合法。虛寒衰老之人，寒宵長夜，苦難酣眠達曉，宜制小銀瓶，略如鼻菸壺式，口用旋蓋，以暖酒灌入，佩於衷衣兜肚之間，酒可徹夜不涼。丁夜醒時，飲而再睡，不煩人力，恬適自如，補益之功甚大。若能此外勿飲，更可引年。凡飲酒，並宜隔湯燉溫也。</p>
<p><u>淡巴菰</u>　辛溫。闢霧露穢瘴之氣，舒憂思郁懣之懷，殺諸蟲，禦寒濕。前明軍營中始吸食之，漸至遍行天下，不料其為鴉片煙之先兆也。然聖祖最惡之，而昧者猶以熙朝瑞草譽之，謬矣。</p>
<p>臥房卑濕，以干菸葉厚鋪席下良，並可以闢臭蟲、蜈蚣、蛇、蠍諸蟲也。</p>
<p>絞腸痧，煙筒中垢如豆大一丸，放病人舌下，掬水灌之，垂死可活。</p>
<p>蛇咬及諸毒蟲螫，以煙筒中垢塗之。</p>
<p><u>鴉片</u>　鴉片入藥，亦始前明，李瀕湖《本草綱目》收之。國朝乾隆間，始有吸其煙者。初則富貴人吸之，不過自速其敗亡；繼則貧賤皆吸之，因而失業破家者眾，而盜賊滿天下。以口腹之慾，致毒流宇內，塗炭生民，洵妖物也，智者遠之。亦有因衰病而誤墜其中者，以吸之入口，直行清道，頃刻而遍一身，壅者能宣，郁者能舒，陷者能舉，脫者能收，凡他藥不能治之病，間有一吸而暫效者，人不知其為劫劑，遂詫以為神丹，而因病吸此，尤易成癮，迨癮既成，臟氣已與相習，嗣後舊疾復作，必較前更劇，而煙亦不能奏效矣。欲罷不能，噬臍莫及，乃致速死，余見實多，敢告世人，毋蹈覆轍。徐松龕曰：天竺自六朝後皆稱印度。今五印度為英吉利所轄，進口貨物，近以鴉片為主。宇宙浮孽之氣，乃獨鍾於佛國，何其怪也。</p>
<p>戒法：斷癮之方，驗者甚少，且用煙或菸灰者居多，似乎煙可少吸，一不服藥，癮即如故。惟此方日服，仍可吸菸，旬余癮自漸減，又不傷身。蓋物性相制，此藥專治鴉片之毒，故能斷癮，絕無他患也。方用鮮松毛數斤，略杵，井水熬稀膏，每晨開水化服一二錢，或每土一斤，用松樹皮半斤，煎湯熬煙，如常吸食，癮亦漸斷。或以一味甘草熬為膏，調入煙內，初且少人，漸以加多，如常吸之，斷癮極效。</p>
<p>解毒：肥皂或金魚杵爛，或豬屎水和，絞汁灌之，吐出即愈。甘草煎濃汁，俟涼頻灌。生南瓜搗，絞汁頻灌。青蔗漿恣飲。凡服煙而死，雖身冷氣絕，若體未僵硬，宜安放陰處泥地，（一經日照，即不可救。）撬開牙關，以竹箸橫其口中，頻頻灌以金汁、南瓜汁、甘草膏之類，再以冷水在胸前摩擦，仍將頭髮解散，浸在冷水盆內，或可漸活。</p>

<h1>穀食類</h1>
<p><u>秈米</u>　甘平。宜煮飯食。補中養氣、益血生津、填髓充肌，生人至寶。量腹節受，過飽傷人。凡患病不飢，婦人初產，感證新愈，並勿食之。磨粉蒸糕，松而不韌，病人弱體可作點心。飯露生津，補虛療膈。</p>
<p>秈種甚多，有早、中、晚三收，赤、白二色，以晚收色白者良。凡不種秔之處，皆呼秈為秔，湖州蒸谷，或炒谷而藏之，作飯尤香。早收者性溫，不耐久藏。</p>
<p>汪謝城曰：凡八谷一類之中，必皆有大小、早晚、黏不黏各種。如稻為一谷，其黏者為糯，不黏者為秔，而秈又秔之別種。呼秈為秔，猶呼穬為大麥，未為大誤。吾鄉蒸谷、炒穀米，用米少而得飯多，不但取其香也。鄭元慶《湖錄》論之甚詳。</p>
<p>秔米（亦作粳）　甘平。宜煮粥食，功與秈同。秈亦可粥而糯較稠，秔亦可飯而秈耐飢。粥飯為世間第一補人之物，強食亦能致病伐生。《易》云：節飲食。《論語》云：食無求飽。尊生者，能繹其義，不必別求他法也。惟患停飲者不宜啜粥，痧脹霍亂，雖米湯不可入口，以其性補，能閉塞隧絡也。故貧人患虛證，以濃米飲代參湯，每收奇績。若人眾之家，大鍋煮粥時，俟粥鍋滾起沫團，醲滑如膏者，名曰米油，亦曰粥油。撇取淡服，或加煉過食鹽少許服亦可，大能補液填精，有裨羸老。至病人、產婦，粥養最宜，以其較秈為柔，而較糯不黏也。亦可磨粉作糕。而嘉興人不善藏谷，收米入囤，蒸罨變紅，名曰冬舂米，精華盡去，糟粕徒存，暴殄天物，莫此為甚。炒米雖香，性燥助火，非中寒便瀉者忌之。又有一種香秔米，自然有香，亦名香珠米，煮粥時，稍加入之，香美異常，尤能醒胃。凡煮粥宜用井泉水，則味更佳也。</p>
<p><u>糯米</u>（一名元米，亦名占米）　甘溫。補肺氣，充胃津，助痘漿，暖水臟。釀酒熬餳，造作餅餌。若煮粥飯，不可頻餐，以性黏滯難化也。小兒、病人尤當忌之。凍米（冬月所制。）性不黏滯，止瀉補脾。炒米　香燥助火，多食傷津。</p>
<p>脾虛泄瀉，糯米炒黃磨粉，加白沙糖調服。</p>
<p>虛寒多溺，糯米飯杵為糍，臥時煮熱，細嚼食之。</p>
<p>諸米泔（第二次者清而可用。）　清熱止煩渴。</p>
<p>諸禾稈　甘溫。煎汁飲，治寒濕發黃，停食腹脹，消牛肉積。作薦禦寒，暖於棉絮。挼穰籍靴鞋，暖足去濕。燒灰淋汁，冷服解砒毒。</p>
<p><u>飴</u>（稀者為飴，乾者為餳，諸米皆可熬，以糯米熬者為勝。）　甘溫補中，益氣養血，能助濕熱，動火生痰。凡中滿吐逆、疸瘧、疳膨、便閉、牙痛、水腫、目赤等證，皆忌之。</p>
<p>魚臍疔、瘭疽、瘑瘡，並用飴糖塗。</p>
<p>稻芒、魚骨鯁喉，及誤吞竹、木、錢、釵，中天雄、附子、草烏毒，並宜頻食飴糖。</p>
<p>解銀黝毒，日用飴糖四兩作小丸，不時以麻油吞下，須服過百日外，方無慮。</p>
<p>火燒成瘡，餳糖燒灰傅。</p>
<p><u>粟米</u>（色有青黃，粒有粗細，種類不一，亦名粱，俗呼小米）　功用與秈、秔二米略同，而性較涼，病人食之為宜。糯者亦名秫。</p>
<p>汪謝城曰：粱之黏者，固可稱秫，而實非治不寐之秫。</p>
<p><u>黍米</u>（北人呼為黃米，以其色黃也，然亦有赤者。）功與秈似，厥性較溫，南方所無也。</p>
<p><u>稷米</u>（一名高粱，俗呼蘆穄）　甘涼清胃、補氣養脾。糯者名秫，治陽盛陰虛，夜不得寐，及食鵝鴨成癥。凡黍、稷、粟之糯者，皆可釀酒造餳。而南方稷米，但有不黏者耳。</p>
<p>汪謝城曰：前人本草，分別多誤，惟程氏《九穀考》所辨為是。《本草綱目》以黏不黏分黍稷，是分一谷為二谷也。</p>
<p><u>小麥面</u>　甘溫。補虛乏，實皮膚，厚腸胃，強筋力。北產重羅者良。造為掛麵，可以致遠，病人食之甚宜。南方地卑，麥性黏滯，能助濕熱，時感及瘧痢、疳疸、腫脹、腳氣、痞滿、痧脹、肝胃痛諸病並忌之。新麥尤甚。惟單酵水造為蒸餅，較不助病，且可入藥。</p>
<p>跌打挫朒，白麵同梔子搗勻，水調塗。</p>
<p>遠行腳研成疱，白麵水調塗。</p>
<p>大衄血出，飛羅面入鹽少許，冷水調服三錢。</p>
<p>大便久瀉，飛羅麵炒熟，每晨加白砂糖，或炒鹽調服。</p>
<p><u>麩</u>（麥皮也）　凡患身體疼痛及瘡瘍潰爛沾漬，或小兒暑月出痘，潰爛不能著席者，並用夾褥裝麩藉臥，性涼而軟，洵妙法也。</p>
<p>麵筋（麩入水中，洗揉而成。）　性涼解熱，止渴消煩，勞熱人宜煮食之，但不易化，須細嚼之。誤吞錢者，以麵筋放瓦上炙存性，研末，開水調服。在喉者即吐出，入腹者從大便下。</p>
<p>麥粉（麩洗面筋澄出之漿，濾幹成粉，俗呼小粉）　甘涼。可為粢餌、素食、漿衣之用。陳久者炒焦，以醋熬成膏，治一切癰瘍、湯火傷。</p>
<p><u>大麥</u>（一名麰麥，一名穬麥。）　種類不一，方土不同，今人罕食。藥肆以造麥糵，金華人以之飼豬，故其肉最佳，而造為蘭熏，甲於天下也。</p>
<p>汪謝城曰：麥為小麥，牟為大麥，穬麥一名⿺辶𦵺麥，則大麥之別種。南方無牟，即呼穬為大麥，實則同類而異種也。大麥須有消腫之功，穬麥須亦可用。</p>
<p><u>荍麥</u>（亦作蕎，俗名烏麥。）　甘溫。羅面煮食，開胃寬腸，益氣力，御風寒，煉滓穢，磨積滯。與蘆菔同食良。以性有微毒，而發痼疾，蘆菔能制之也。而易長易收，尤為救荒極品，各處皆宜廣種為是。另有一種味苦者，雖不堪食。亦可濟荒。</p>
<p>小兒丹毒、熱瘡，荍麥面，醋調塗。白濁白帶，脾積久瀉，休息痢，並宜食此面。</p>
<p>痢疾，炒熟荍麥二錢，砂糖湯調下。</p>
<p>絞腸痧痛，荍麥炒焦，開水調服。</p>
<p>湯火傷，荍麵炒黃，水和傅。</p>
<p><u>玉蜀黍</u>（一名玉高粱，俗名苞蘆，又名紆粟，又名六穀）　嫩時採得去苞須，煮食味甚甜美。老則粒堅如石，舂磨為糧，亦為救荒要物。但粗糲性燥，食宜半飽，庶易消化。至東廧穇子，各種雜糧，及黃精、玉竹之類，並可充飢作食，造酒濟荒，茲不備載。</p>
<p><u>苡米</u>　甘平。健脾益胃，補肺緩肝，清熱息風，殺蟲勝濕。故治筋急拘攣，風濕痿痹，水腫消渴，肺痿吐膿，咳嗽血溢，肺、胃、腸癰，疝氣五淋，乾溼腳氣，便瀉霍亂，黃疸，蛔蟲諸病，並煮湯飲，亦可蒸食，煮粥煮飯，無不宜之。脾約便艱，不宜多食。性專達下，孕婦忌之。</p>
<p><u>黑大豆</u>　甘平。補脾腎，行水調營，祛風邪，善解諸毒。性滯壅氣，小兒不宜多食。服厚朴者忌之。服蓖麻子者，犯之必死。小者名穭豆，品較下，僅堪餵馬，故名馬料豆。俗謂功勝黑大豆，殊失考也。</p>
<p>辟穀救荒，黑豆（淘淨，蒸極透，曬乾，如是三次，九次更妙。）磨細末，柿餅（煮爛去蒂、核。）與豆末等分搗丸，雞子大，每細嚼一丸，津液嚥下，勿用湯水，可終日不飢。遠行攜帶甚便，且可任吃諸物，略無所忌。又能滋補脾腎，而治噎食、便瀉等病。</p>
<p>闢疫稀痘，解諸藥毒。黑大豆（二合），甘草（一錢），煎汁頻飲。</p>
<p>黑大豆皮，入藥止盜汗。</p>
<p>大豆黃卷（即黑大豆為糵也）　治濕痹、筋攣、膝痛，消水病脹滿，非表散藥也。</p>
<p><u>黃大豆</u>　甘平。補中解毒。宜煮食，炒食則壅氣。浸罨發芽，摘根為蔬，味最鮮美。肺癰痧氣，生嚼不腥，疑似之間，試之甚驗。</p>
<p>痘後癰毒，嚼生黃豆塗之，即潰。浸胖，搗塗諸癰瘡亦妙。</p>
<p><u>青大豆</u>　甘平。補肝養胃。嫩時剝而為餚，味極鮮美。鹽水煮而烘之，可以久藏致遠。</p>
<p>諸豆有早、中、晚三收，以晚收粒大者良。並可作腐、造醬、榨油。惟青豆性較軟，更為食品所宜，莢闊粒扁者尤佳。</p>
<p>兵荒救飢，豆（青黃隨用）。七斗，芝麻（黑白不拘）。三斗，並淘淨即蒸，蒸過即曬，曬乾去殼，再蒸再曬，凡三次，搗極熟，丸胡桃大，每細嚼一丸，津液嚥下，可三日不飢。諸無所忌。所費不多，一料可濟萬人。</p>
<p><u>白豆</u>　豆具五色，功用略同。惟白者夏熟早收，故粒小而性溫，能發病也。</p>
<p><u>赤豆</u>　甘平。補心脾，行水消腫，化毒排膿。多食耗液。蛇咬者百日內忌之。以緊小而赤黯色者入藥，其稍大而鮮紅淡紅色者，止為食用，故本草以赤小豆名之。後人以廣產木本、半紅半黑之相思子，亦有紅豆之名，遂致誤用。亦猶黑大豆，有緊小為雄一言，而昧者訛為馬料豆也。</p>
<p>水腫腳氣，赤小豆一斗，煮極爛，取汁五升，溫漬足膝，兼食小豆，勿雜食。</p>
<p>水鼓腹大，動搖有聲，皮膚黑者，赤小豆三升，白茅根一握，水煮食豆，以消為度。</p>
<p>乳汁不通，赤小豆煮汁飲，或煮粥食。</p>
<p>諸般癰毒，赤小豆生研，入苧根杵勻，雞子清調傅。</p>
<p>丹毒如火，赤小豆末，雞子清稀調塗之。</p>
<p><u>綠豆</u>　甘涼。煮食清膽養胃，解暑止渴，潤皮膚，消浮腫，利小便，已瀉痢，析酲弭疫。浸罨發芽，摘根為蔬，味極清美。生研絞汁服，解一切草木金石諸藥、牛馬肉毒。或急火煎清湯冷飲亦可。</p>
<p>綠豆皮　入藥，清風熱，去目翳，化斑疹，消腫脹。</p>
<p>綠豆粉　宜作糕餌素饌，食之清積熱，解酒食諸毒。新汲水調服，治霍亂轉筋，解砒石、野菌、燒酒及諸藥毒。</p>
<p>暑月痱瘡，綠豆粉、滑石和勻撲。</p>
<p>打撲損傷，綠豆粉炒紫色，新汲水調傅，以杉木皮縛定。杖瘡疼痛，綠豆粉炒研，雞子清和塗。</p>
<p>一切癰腫初起，綠豆粉炒黃黑色，牙皂一兩同研，米醋調傅，皮破者油調之。</p>
<p>外腎生瘡，綠豆粉、蚓糞等分研塗之。</p>
<p><u>蠶豆</u>（以其熟於蠶時，故名蠶豆，一名佛豆）　甘平。嫩時剝為蔬饌，味甚鮮美。老則煮食，可以代糧，炒食可以為餚。性主健脾快胃，浸以發芽，更不壅滯，亦可煮糜作糕餌。肆中磨細，攙入小粉，亦可燙皮搓索以混綠豆粉。</p>
<p><u>豌豆</u>（粒圓如珠，《爾雅》名戎菽，《管子》作荏菽，《本草》名胡豆，《唐史》作畢豆，《遼志》作回回豆，俗呼淮豆，亦曰寒豆）　甘平。煮食，和中生津，止渴下氣，通乳消脹。研末塗癰腫，擦面去䵟𪒟亦可作醬用。</p>
<p><u>豇豆</u>　甘平。嫩時採莢為蔬，可葷可素。老則收子充食，宜餡宜糕。頗肖腎形，或有微補。</p>
<p><u>扁豆</u>　甘平。嫩莢亦可為蔬，子以白者為勝。去皮煮食，補肺開胃，下氣止嘔，清暑生津，安胎去濕。治帶濁時痢，解魚酒藥毒。炒熟則溫，健脾止瀉。患瘧者忌之。</p>
<p>赤白帶下，白扁豆為末，米飲下，每服二錢。</p>
<p>毒藥傷胎，腹痛口噤，手強頭低，自汗，似乎中風，九死一生，人多不識，若作風治，必死無疑。生白扁豆末，米飲服方寸匕，或濃煎汁亦可。亦解輕粉毒，宜冷飲。</p>
<p>霍亂轉筋，生白扁豆末，冷水和，少入醋服，或以藤葉搗汁服。</p>
<p>砒石、諸鳥獸肉毒，生白扁豆末，冷水和服。</p>
<p>扁豆花　治痢疾崩帶，解諸藥毒。</p>
<p><u>刀豆</u>　嫩莢可醬以為蔬，蜜以為果。子老入藥，甘平下氣，溫中止噦。</p>
<p><u>薯蕷</u>（一名山藥）　甘平。煮食補脾腎，調二便，強筋骨，豐肌體，闢霧露，清虛熱。既可充糧，亦堪入饌，不勞灌溉，廣種為宜。子名零餘子，功用相同。腫脹、氣滯諸病均忌。</p>
<p>噤口痢，山藥半生半炒，研末，米飲下二錢。</p>
<p>諸腫毒，山藥搗爛塗，即散。</p>
<p><u>甘藷</u>（一名番薯，一名地瓜，亦名山薯）　甘溫。煮食補脾胃，益氣力，御風寒，益顏色。種類不一，以皮赤、無筋、味純甘者良。亦可生啖。凡渡海注船者，不論生熟，食少許即安。磽瘠之地，種亦蕃滋，不勞培壅，大可救飢。切而蒸曬，久藏不壞。切碎同米煮粥食，味美益人。惟性大補，凡時疫、瘧痢、腫脹、便秘等證，皆忌之。</p>

<h1>調和類</h1>
<p><u>胡麻</u>（一名脂麻，俗名油麻）　甘平。補五內，填髓腦，長肌肉，充胃津，明目息風，催生化毒。大便滑瀉者勿食。有黑、白二種，白者多脂。相傳謂漢時自大宛來，故名胡麻。生熟皆可食，為餚為餌，榨油並良，而不堪作飯。本草列為八谷之麻，誤矣。古人救飢用火麻，即《本經》之大麻，殆即八谷之麻也。</p>
<p>小兒初生，嚼生脂麻，綿包與䃋，最下胎毒，頻䃋可稀痘。</p>
<p>婦人乳少，脂麻炒研，入鹽少許食之。（此方可作小菜，杭人呼為脂麻鹽，余最喜之，且可治口臭。孕婦乳母，尤宜常食，甚益小兒也。）</p>
<p>腰腳疼痛，新脂麻炒香杵末，日服合許，溫酒蜜湯任下，以愈為度。</p>
<p>溺血，脂麻杵末，東流水浸一宿，平旦絞汁，煎沸服。</p>
<p>頭面諸瘡，婦人乳瘡，陰瘡，生脂麻嚼爛傅。</p>
<p>谷賊，（稻芒阻喉也。）脂麻炒研，白湯下。</p>
<p>湯火傷，諸蟲咬傷，脂麻生研塗。</p>
<p><u>麻醬</u>　脂麻炒如法，磨為稀糊，入鹽少許，以冷清茶攪之則漸稠，名對茶麻醬。香能醒胃，潤可澤枯。羸老、孕婦、乳媼、嬰兒，臟躁、瘡家及茹素者，藉以滋濡化毒，不僅為餚中美味也。</p>
<p><u>脂麻油</u>　甘涼潤燥，補液息風，解毒殺蟲，消諸瘡腫。烹調餚饌，葷素咸宜。諸油惟此可以生食，故為日用所珍，且與諸病無忌，惟大便滑瀉者禁之。凡方書所載香油，即麻油也。久藏泄氣，則香味全失，故須隨制隨用。渣亦香甘，可為食料。筍得之而味美質軟，故麻渣不可以壅竹。</p>
<p>漏胎、難產，（因血液乾澀也。）麻油、白蜜各一兩，同煎數十沸溫服。</p>
<p>小兒丹毒、湯火灼傷，生麻油塗浸，並飲之。</p>
<p>小兒發熱，不拘風寒、飲食、時行痘疹，並宜用之。以蔥涎入麻油內，手指蘸油，摩擦小兒五心、頭面、項背諸處，輒愈。</p>
<p>蠱毒及砒石、河豚毒，多飲生麻油即吐出。</p>
<p>腫毒初起，麻油煎蔥黑色，趁熱通手旋塗，自消。雖大毒初起，若內服一二斤，毒氣自不內攻也。猘犬、毒蛇咬者，亦宜先飲生麻油一二盞良。</p>
<p>打撲傷腫，麻油熬熟，和醇酒服，以火燒地令熱，俾臥之，立愈無痕。</p>
<p><u>茶油</u>　甘涼潤燥，清熱息風，解毒殺蟲，上利頭目。烹調餚饌，日用所宜。蒸熟用之，澤發生光。諸油惟此最為輕清，故諸病不忌。燃燈最亮而不損目。澤發不䐈，其渣浣衣去垢，豈他油之濁膩可匹哉！</p>
<p><u>豆油</u>　甘辛溫。潤燥，解毒，殺蟲。熬熟可入烹炮，雖穀食之精華，而肥膩已甚。盛京來者，清徹獨優。燃燈甚亮。</p>
<p><u>菜油</u>　甘辛溫。潤燥殺蟲，散火丹，消腫毒。熬熟可入烹炮。凡時感、痧脹、目疾、喉證、咳血、瘡瘍、痧痘、瘧疾、產後，並忌之。以有微毒，而能發風動疾也。世俗以其氣香而尚之，罔知其弊，以致疾病纏綿而不察。惟外用塗湯火傷，刮痧，調瘡藥，皆妙。肆中或以花生、蘇子等油羼之。</p>
<p><u>鹽</u>　咸涼補腎，引火下行，潤燥祛風，清熱滲濕，明目，殺蟲，專治腳氣。和羹醃物，民食所需。宿久滷盡色白，而味帶甘者良。擦牙固齒，洗目去翳，點蒂鍾墜，傅蛇蟲螫，吐乾霍亂，熨諸脹痛。</p>
<p>霍亂轉筋，鹽滷摩拓患處，或以裹腳布浸滷束之。並治諸般腳氣。無滷用極鹹鹽湯亦可。凡無病人濯足，湯中常加鹽滷，永無腳疾。</p>
<p><u>豉</u>（俗呼豆豉）　鹹平和胃，解魚腥毒，不僅為素餚佳味也。金華造者勝。淡豉入藥和中，治溫熱諸病。</p>
<p><u>醬</u>　純以白麵造者，鹹甘而平，調饌最勝。豆醬以金華蘭溪造者佳，鹹平。篘油則豆醬為宜，日曬三伏，晴則夜露。深秋第一篘者勝，名秋油，即母油，調和食味，葷素皆宜，痘痂新脫時食之則瘢黑。嘉興造者鹹寒，以少日曬之功也，油亦質薄味淡，不耐久藏。</p>
<p>猘犬咬及湯火傷，未成瘡者，以醬塗之。</p>
<p>中砒毒，豆醬調水服。</p>
<p>胎氣上衝，及虛逆嘔吐，好醬油開水調服；亦解鴉片毒。</p>
<p><u>醋</u>　酸溫。開胃養肝、強筋暖骨、醒酒消食、下氣辟邪，解魚蟹鱗介諸毒。陳久而味厚氣香者良。性主收斂，風寒咳嗽，外感瘧痢，初病皆忌。《續文獻》曰：獅子日食醋、酪各一瓶，故俗謂獅吼為「吃醋」云。</p>
<p>產後血運，熱病神昏，驚恐魂飛，客忤中惡，並用鐵器燒紅，更迭淬醋中，就病人之鼻以熏之。</p>
<p>湯火傷，醋淋洗。</p>
<p>諸腫毒，醋調大黃末塗。</p>
<p><u>糟</u>　甘辛溫，醒脾消食，調臟腑，除冷氣，殺魚腥毒。以杭紹白糯米所造，不榨酒而極香者勝。拌鹽糟藏諸食物，味皆美嫩。</p>
<p>惟發風動疾，痧痘、產後、咽喉、目疾、血證、瘡、瘧均忌之。以糟入油料製為糟油，調饌香美，然亦發疾，非病人所宜。</p>
<p>撲損打傷及蛇蟲蜂螫，酒糟罨。</p>
<p><u>蜜</u>　蜜者，密也。味甘質潤而性主固密護內，故能補中益氣，養液安神，潤肺和營，殺蟲解毒。生者涼，熟者平。以色白起沙，而作梨花香者為勝。煉法以器盛置重湯中煮一日，候滴水不散為熟蜜。或以蜜一斤，入水四兩，放砂石器內，桑柴火慢熬，掠去浮沫，至滴水成珠亦可。但經火煉，其性溫也。若果餌餚饌，漬製得宜，味皆甘美，洵神品哉！忌同蔥食。痰濕內盛、脹滿嘔吐者亦忌。以之丸藥，須察其宜，顢頇濫用，焉能濟事哉？</p>
<p>湯火、熱油傷，蜜塗。</p>
<p>產後口渴，煉蜜調白湯服。</p>
<p><u>川椒</u>（一名蜀椒，一名巴椒，一名漢椒。）　辛熱。溫中下氣、暖腎祛寒、開胃殺蟲、除濕止瀉、滌穢舒郁、消食辟邪。制魚腥、陰冷諸物毒，闢蠅、蚋、蜈蚣、蚊、蟻等蟲。多食動火墮胎，陰虛內熱者忌之。閉口者殺人，中其毒者，冷水解之。</p>
<p>漆瘡作癢，川椒煎湯洗。凡入漆所，嚼川椒塗鼻中，不患漆瘡，並闢疫穢邪氣。</p>
<p>婦人禿鬢，川椒四兩酒浸，密室內日日塗之。</p>
<p><u>花椒</u>（本名秦椒，一名檓）　辛溫。調中下氣，除濕殺蟲，止痛行瘀，解魚腥毒。</p>
<p><u>胡椒</u>　辛溫。溫中除濕，化冷積，止冷痛，去寒痰，已寒瀉，殺一切魚肉、鱉、蕈、陰冷食毒。色白者勝。多食動火爍液，耗氣傷陰，破血墮胎，發瘡損目，故孕婦及陰虛內熱、血證、痔患，或有咽喉、口齒、目疾者皆忌之。綠豆能制其毒。</p>
<p>發散寒邪，胡椒、丁香各七粒，碾碎，以蔥白杵膏，和塗兩手心，合掌握定，夾於大腿內側，溫覆取汗。</p>
<p>蜈蚣咬，嚼胡椒封。</p>
<p><u>辣茄</u>（一名榝，一名鎚，亦名越椒，俗名辣子，亦曰辣椒、辣虎、辣枚子。各處土名不一，其實即古人重九所佩之食茱萸也）　辛苦熱。溫中燥濕，御風寒，殺腥消食，開血閉，快大腸。種類不一，先青後赤。人多嗜之，往往致疾。陰虛內熱，尤宜禁食。</p>
<p><u>丁香</u>　辛溫暖胃，去濕散寒，辟惡殺蟲，消痞解穢，已冷利，止冷痛，療虛噦，補虛陽，制酒肉、魚蟹、瓜果諸毒。古人噙之奏事，治口臭也。陰虛內熱人忌之。</p>
<p>闢穢，丁香一兩為末，川椒六十粒，和之，絹囊盛佩。</p>
<p>過食蟹、蚌、瓜果致病，丁香末五分，薑湯下。</p>
<p>乳頭裂破，丁香末傅，並治癰疽惡肉，外以膏藥護之。</p>
<p>陰冷，母丁香為末，紗裹如指大納入。</p>
<p>反胃，母丁香一兩為末，鹽梅肉搗丸芡子大，每噙一丸。</p>
<p>胃寒吐瀉，母丁香、橘紅等分研，蜜丸豆大，米湯下一丸。</p>
<p><u>桂皮</u>　辛溫暖胃，下氣和營，燥濕去風，殺蟲止痛，制鳥獸、鱗介、瓜果諸毒。血虛內熱、溫暑時邪諸病均忌。</p>
<p><u>桂花</u>　辛溫闢臭，醒胃化痰。蒸露、浸酒、鹽漬、糖收、造點、作餡，味皆香美悅口。亦可蒸茶油澤發。</p>
<p><u>松花</u>　花上黃粉，及時拂取，和白沙糖作糕餌，食之甚美。亦可釀酒。主養血息風。多食亦能助熱。單服治瀉痢，隨證以湯調。</p>
<p><u>椿芽</u>　香椿嫩葉也。甘辛溫。祛風解毒。入饌甚香，亦可瀹熟醃焙為脯，耐久藏。多食壅氣動風，有宿疾者勿食。</p>
<p><u>玫瑰花</u>　甘辛溫，調中活血，舒鬱結，闢穢和肝。蒸露熏茶，糖收作餡，浸油澤發，烘粉悅顏，釀酒亦佳。可消乳癖。</p>
<p><u>茉莉花</u>　辛甘溫。和中下氣，闢穢濁，治下痢腹痛。熏茶、蒸露、入藥皆宜。珍珠蘭更勝。</p>
<p><u>甜菊花</u>　甘涼。清利頭目，養血息風，消疔腫。點茶、蒸露、釀酒皆佳。苦者勿用。余如野薔薇、金銀花，功用略同，可類推也。</p>
<p>久患頭風，或目疾時作，甘菊花去蒂裝枕用。</p>
<p>疔腫垂死，甘菊花一握，搗汁飲；冬月取根用。</p>
<p>女人陰腫，甘菊苗杵爛煎湯，先熏後洗。</p>
<p><u>薄荷葉</u>　辛甘苦溫。散風熱，清利頭目、咽喉、口齒諸病，和中下氣，消食化痰，開音聲、舒郁懣，闢穢惡邪氣，療霍亂癧瘡。釀酒、蒸糕、熬糖、造露均妙。惟虛弱多汗者忌之。</p>
<p>鼻衄，薄荷葉塞。</p>
<p>血痢，薄荷葉煎服。</p>
<p>蛇、蜂、貓傷，薄荷葉絞汁塗。</p>
<p>汪謝城曰：薄荷多服，耗散真氣，致生百病。余嘗親受其累，不可不知。如浸火酒，拌水煙，人多嗜之，實陰受其害而不覺耳！</p>
<p><u>紫蘇葉</u>　辛甘溫。下氣安胎，活血定痛，和中開胃，止嗽消痰，化食，散風寒。治霍亂腳氣，制一切魚、肉、蝦、蟹毒。氣弱多汗、脾虛易瀉者忌食。</p>
<p>乾霍亂，紫蘇煎服；並治蛇咬及中蟹毒。</p>
<p>乳癰腫痛，紫蘇湯頻飲，渣滓封患處。</p>
<p>金瘡、跌打出血，紫蘇杵爛傅；並治猘犬咬。</p>
<p><u>茴香</u>　辛甘溫。調中開胃，止痛散寒。治霍亂、蛇傷、㿗疝、腳氣，殺蟲闢穢。餚饌所宜，制魚肉腥臊、冷滯諸毒。</p>
<p>小便頻數而色清不渴者，茴香淘淨，鹽炒研末，炙糯米糕蘸食。</p>
<p><u>蒔蘿</u>（一名小茴）　辛甘溫。開胃健脾，散寒止痛，殺蟲消食，調氣止嘔。定腰齒之疼，解魚肉之毒。</p>

<h1>蔬食類</h1>
<p><u>蔥</u>　辛甘平。利肺能陽，散癰腫，祛風達表，安胎止痛，通乳和營。主霍亂轉筋、奔豚、腳氣，調二便，殺諸蟲，理跌撲金瘡，制魚肉諸毒。四季不調、味辛帶甘而不臭者良。氣虛易汗者不可單食，又忌同蜜食。</p>
<p>胎動下血，蔥白煎濃汁飲，未死即安，已死即下，未效再飲。</p>
<p>中惡卒死，急取蔥心黃，刺入鼻中，男左女右，入七八寸，血出即愈。並以蔥刺入耳中五寸，亦治自縊垂死。</p>
<p>小兒無故卒死，以蔥白納入下部及兩鼻孔內，氣通或嚏即生。</p>
<p>小兒盤腸內釣腹痛，以蔥湯洗兒腹，仍搗蔥貼臍上，良久，溺出痛止。</p>
<p>小便閉脹，蔥白三斤，銼炒，帕包二個，更互熨小腹。</p>
<p>陰囊腫痛，煨蔥入鹽杵爛塗。</p>
<p>赤白痢，蔥白一握，細切，和米煮粥，日日食之。</p>
<p>一切腫毒，蔥白杵爛，和蜜塗；並治跌打杖傷，金瘡挫朒，流注走痛，筋骨痹疼，腦破血流，癰毒初起，均宜厚傅，可取立效。</p>
<p>乳癰初起，蔥白煮汁飲；並解金銀毒。</p>
<p><u>韭</u>　辛甘溫。暖胃補腎，下氣調營。主胸腹腰膝諸疼，治噎膈、經、產諸證，理打撲傷損，療蛇、狗、蟲傷。秋初韭花，亦堪供饌。韭以肥嫩為勝，春初早韭尤佳。多食昏神。目證、瘧疾、瘡家、痧痘後均忌。</p>
<p>產後血運，切韭安瓶中，沃以熱醋，令氣入鼻中。</p>
<p>產後怒哭傷肝，嘔青綠水，韭汁入薑汁少許和服。</p>
<p>卒然中惡，韭汁注鼻中。</p>
<p>漏脯、郁肉、諸食物毒，韭汁灌之。</p>
<p><u>薤</u>　辛溫散結，定痛寬胸，止帶安胎，活血治痢。多食發熱。忌與韭同。</p>
<p>奔豚氣痛，搗薤汁服。</p>
<p>赤白痢、產後痢、小兒疳痢，薤白和米煮粥食。</p>
<p>湯火傷，薤白和蜜杵塗。</p>
<p><u>蒜</u>（今名小蒜，俗曰夏蒜，相傳此為中國之蒜。）　辛溫下氣，止痛殺蟲，發風損目，病後忌之。</p>
<p><u>葫</u>（今名大蒜，漢時自西域來。）　生辛熱，熟甘溫。除寒濕，闢陰邪，下氣暖中，消穀化肉，破惡血，攻冷積。治暴瀉腹痛，通關格便秘，闢穢解毒，消痞殺蟲。外灸癰疽，行水止衄，制腥臊、鱗介諸毒。入藥以獨子者良。昏目損神，不宜多食。陰虛內熱，胎產、痧痘、時病、瘡瘧、血證、目疾、口齒、喉舌諸患，咸忌之。子、苗皆可鹽藏，葉亦可茹，性味相似。</p>
<p>干、濕霍亂轉筋，噤口痢，鼻淵，鼻衄不止，並搗蒜貼湧泉穴。</p>
<p>水腫、溺閉，大蒜、田螺、車前子等分杵，攤臍中。</p>
<p>喉痹腫痛、諸物鯁喉，並以大蒜塞鼻中。</p>
<p>陰疽陰毒，以蒜片安瘡頂，艾炷灸之。</p>
<p>蛇、蠍、蜈蚣咬，杵蒜封之。</p>
<p>心腹冷痛、虛寒瀉痢，陳年醋浸大蒜，食數顆。</p>
<p><u>蕓薹</u>　辛滑甘溫，烹食可口。散血消腫，破結通腸。子可榨油，故一名油菜。形似菘而本削、莖狹葉銳，俗呼青菜，以色較深也。發風動氣，凡患腰腳口齒諸病，及產後、痧痘、瘡家、錮疾、目證、時感，皆忌之。</p>
<p>遊風丹毒，婦人乳吹，並以油菜搗敷。兼可煎洗諸瘡。</p>
<p><u>芫荽</u>（本名胡荽）　辛溫。散寒，辟邪解穢，殺蟲止痛，下氣通腸，殺魚腥，發痘疹。多食損目，凡病忌之。子，性味略同。</p>
<p>上七品，二氏以為葷菜，謂其損性靈也。</p>
<p>痘證不達，胡荽二兩切碎，以酒二大盞煎沸沃之，蓋定，勿令泄氣，候冷去滓，微微含噴，從項背至足令遍，勿噀頭面。按《直指方》云：痘症不快，用此噴之，以辟惡氣。床帳上下左右，皆宜掛之，以御天癸淫佚、寒濕諸氣，一應穢惡，所不可無。然惟兒體虛寒，天時陰冷，噴之故妙。若兒壯實，及春夏晴暖，陽氣發越之時，用之助虐，以火益火，胃中熱熾，毒血聚蓄，則必變黑陷也。不可不慎！今人治痘疹，不辨證之寒熱、時之冷暖，輒用芫荽子入藥者，誤人多矣。</p>
<p><u>芥</u>　辛甘而溫。御風濕，根味尤美；補元陽，利肺豁痰，和中通竅，醃食更勝。開胃性平。以冬收細葉無毛、青翠而嫩者良。一名雪裡蕻，晴日刈之，晾至乾癟，洗淨，每百斤以燥鹽五斤，壓實醃之。數日後，松缸一伏時，俾滷得浸漬；如滷少，泡鹽湯候冷加入，仍壓實。一月後開缸，分裝壇甕，逐壇均以滷灌滿浸為法，設滷不敷，仍以冷鹽湯加之，緊封壇口，久食不壞，生熟皆宜，可為常饌。若將醃透之菜于晴燥時，一日曬極干，密裝干潔壇內，陳久愈佳，香能開胃，最益病人。用時切食，葷素皆宜。以之燒肉，雖盛暑不壞。或切碎醃裝小壇，毋庸滷浸，但須築實密封，尤堪藏久。醃芥滷煮食物，味甚鮮美。若壇盛埋土中，久則清澈如水，為肺癰、喉證神藥。春芥發風動氣，亦可醃食，病人忌之。</p>
<p>白芥子研末，水調如糊，以紙密封半時，可作食料。辛熱爽胃，殺魚腥、生冷之毒。多食動火，內熱者忌之。入藥治痰在脅下及皮裡膜外者。</p>
<p><u>菘</u>（一名白菜，以其莖色白也。亦有帶青色者，然本豐莖闊，迥非油菜）　甘平養胃，解渴生津。葷素咸宜，蔬中美品。種類不一，冬末最佳。醃食曬乾，並如上法，諸病不忌。喻氏嘗曰：白飯青蔬，養生妙法，肉食者鄙，何可與言？鮮者滑腸，不可冷食。</p>
<p><u>黃矮菜</u>（一作黃芽菜。）　甘平養胃，葷素皆宜，雪後更佳，但宜鮮食。北產更美，味勝珍羞，亦可為菹，諸病不忌。</p>
<p><u>蕪菁</u>（即蔓菁，一名九英菘，一名諸葛菜。一種根如蘆菔者，名大頭菜，向產北地，今嘉興亦種之）　醃食鹹甘，下氣開胃，析酲消食，葷素皆宜，肥嫩者勝，諸病無忌。其子入藥，明目養肝。</p>
<p><u>蘆菔</u>（俗名蘿蔔）　生者辛甘涼。（有去皮即不辛者，有皮味亦不辛，生啖勝於梨者，特少耳。）潤肺化痰，祛風滌熱。治肺痿吐衄，咳嗽失音，塗打撲、湯火傷，救煙燻欲死，噤口毒痢，二便不通，痰中類風，咽喉諸病。解酒毒、煤毒、（並搗汁飲。）面毒、（一名來服，）言來（麰之所服也。俗作萊菔。）茄子毒。消豆腐積，殺魚腥氣。熟者甘溫，下氣和中，補脾運食。生津液，御風寒，肥健人，已帶濁，澤胎養血，百病皆宜。四季有之，可充糧食。故《膳夫經》云：貧窶之家，與鹽飯偕行，號為三白，不僅為蔬中聖品已。種類甚多，以堅實無筋、皮光肉脆者勝。葷餚素饌，無不宜之。亦可醃曬作臘，醬製為脯。</p>
<p>守山糧：用堅實蘆菔，（不拘白赤。）洗淨蒸熟，俟半乾搗爛，再以糯米舂白，浸透蒸飯，搗如糊，二物等分合杵勻，泥竹壁上，待其自干，愈久愈堅，不蛀不爛。如遇兵荒，鑿下掌大一塊，可煮成稀粥一大鍋，食之耐飢。或做成土坯式砌牆亦可。有心有力者，不可不知之。</p>
<p>反胃噎食、沙石諸淋、噤口痢疾、腸風下血，蜜炙蘆菔，細嚼，任意食之。</p>
<p>肺痿咳血，蘆菔和羊肉或𩺀魚，頻煮食。</p>
<p>消渴，蘆菔煮豬肉頻食，或搗汁和米煮粥食亦可。</p>
<p>渾身浮腫及濕熱腹脹，出了子蘆菔，（名地骷髏。）煎濃飲。</p>
<p>葉　辛苦。瀹過可鮮茹，可醃食，可曬乾久藏。或生菜掛干，俟蘆菔罷時洗淨，浸去苦味，切碎，和米煮飯，儉鄉雖有年亦爾，不僅為救荒之食也。若於立冬日，採而露之，任其雨淋日曬，雪壓風吹，至立春前一日，入甕封藏。如不燥透，收懸屋內，俟極干入甕。凡一切喉證、時行瘟疫、斑疹瘧痢、水土不服、飲食停滯、痞滿疳疸、脹瀉、腳氣、痧毒諸病，洗淨濃煎，服之並效。</p>
<p>子　入藥，治痰嗽、齁喘、氣鼓、頭風、溺閉及誤服補劑。</p>
<p><u>胡蘆菔</u>（皮肉皆紅，亦名紅蘆菔，然有皮肉皆黃者）　辛甘溫。下氣寬腸。氣微燥，雖可充食，別無功用。</p>
<p><u>羊角菜</u>　苦辛甘溫。下氣。病人忌食，能動風也。煎湯可洗痔瘡，搗罨風濕痹痛。</p>
<p><u>菠薐</u>（亦名菠菜）　甘辛溫。開胸膈，通腸胃，潤燥活血。大便澀滯及患痔人，宜食之。根味尤美，秋種者良。驚蟄後不宜食，病人忌之。</p>
<p><u>菾菜</u>（亦名甜菜）　甘苦涼。清火祛風，殺蟲解毒，滌垢濁，稀痘瘡，止帶調經，通淋治痢。婦人、小兒尤宜食之。老者良。先用清水煮去苦味，（其湯浣衣，最去油垢。）然後再煮食之。或云：即古之葵菜也。</p>
<p><u>莧</u>　甘涼。補氣清熱，明目滑胎，利大小腸。種類不一，以肥而柔嫩者良。痧脹、滑瀉者忌之，尤忌與鱉同食。</p>
<p>蛇、蜂、蜈蚣螫，搗莧汁服，渣敷患處。</p>
<p>徐靈胎云：嘗見一人頭風痛甚，兩目皆盲，遍求良醫不效，有鄉人教用十字路口及人家屋腳邊野莧菜，煎湯注壺內，塞住壺嘴，以雙目就壺熏之，日漸見光，竟得復明。愚按：本草莧通九竅，其實主青盲明目。而莧字從見，益嘆古聖取義之精。</p>
<p><u>同蒿</u>（一名蓬蒿，亦呼蒿菜）　甘辛涼。清心養胃，利腑化痰。葷素咸定。大葉者勝。</p>
<p><u>芹</u>　甘涼清胃，滌熱祛風，利口齒、咽喉、頭目，治崩帶、淋濁、諸黃。白嫩者良。煮勿太熟。旱芹味遜，性味略同。</p>
<p><u>薺</u>　甘平明目，養胃和肝，治痢闢蟲。病人可食。</p>
<p><u>姜</u>　辛熱散風寒，溫中去痰濕，止嘔定痛，消脹殺蟲。治陰冷諸疴，殺鳥獸、鱗介、穢惡之毒。可醬漬，可糖醃。多食、久食，耗液傷營。病非風寒外感、寒濕內蓄，而內熱陰虛、目疾、喉患、血證、瘡瘍，嘔瀉有火，暑熱時瘧，熱哮火喘，胎產、痧脹及時病後、痧痘後，均忌之。</p>
<p>閃拗手足，跌打損傷，生薑、蔥白杵爛，和麵炒熱罨。</p>
<p>初伏日，以生薑穿線，令女子貼身佩之，年久愈佳，治虛陽欲脫之證甚妙，名女佩姜。</p>
<p><u>萵苣</u>　微辛微苦，微寒微毒。通經脈，利二便，析酲消食，殺蟲蛇毒。可醃為脯。病人忌之。莖葉性同，薑汁能制其毒。</p>
<p><u>苦菜</u>（本名荼，一名苦苣，亦名苦蕒，北人甚珍之）　苦寒清熱，明目補心，涼血除黃，殺蟲解暑，療淋痔，愈疔癰。入饌先瀹去苦味，盛暑以之煨肉猶凝，故脾胃虛寒者忌之。不可共蜜食。或云：蠶婦亦不宜食。</p>
<p>血淋、溺血，苦蕒一把，酒水各半，煎服。</p>
<p>諸疔，搗苦蕒汁塗，能拔根。或預採青苗，陰乾研末，水調傅亦妙。</p>
<p><u>蒲公英</u>（一名黃花地丁）　甘平清肺，利膈化痰，散結消癰，養陰涼血，舒筋固齒，通乳益精。嫩可為蔬，老則入藥，洵為上品。今人但以治乳患，抑何陋耶？別有紫花地丁，一名如意草。甘涼。清熱補虛，消癰涼血，耐飢益氣，為救荒仙草。以生嚼無草氣，故可同諸草木葉咀食充飢也。</p>
<p><u>萱萼</u>（干而為菹，名黃花菜，一名金針菜）　甘平利膈，清熱養心，解憂釋忿，醒酒除黃。葷素宜之，與病無忌。</p>
<p><u>馬蘭</u>　甘辛涼。清血熱，析酲解毒，療痔殺蟲。嫩者可茹、可菹、可餡，蔬中佳品，諸病可餐。</p>
<p><u>蒲蒻</u>（即香蒲根，《詩》云：其蔌維何？維筍及蒲是矣）　甘涼清熱，養血消癰，明目，利咽喉，堅牙，通二便。其花中蕊屑，名蒲黃，細若金粉。當欲開時便取之，可密收作果食。入藥涼血消瘀，炒黑又專止血，為喉舌諸血證妙品。按草木嫩時可茹者，在在有之。惟各處好尚不同，名謂不一，因限於篇幅，繁不勝搜。姑譜一二如上，以例其餘。</p>
<p><u>蓴</u>（一作篿）　甘涼柔滑。吳越名蔬。下氣止嘔，逐水治疸。柔嫩者勝。時病忌之。</p>
<p>一切癰疽，蓴菜搗傅，未成即消，已成毒即散。</p>
<p><u>海帶</u>　鹹甘涼。軟堅散結，行水化濕。故內而痰飲、帶濁、疳脹、疝瘕、水腫、奔豚、黃疸、腳氣，外而癭瘤、瘰癧、癰腫、瘻瘡，並能治之。解煤火毒，析酲消食。葷素僉宜。短細者良。海藻、昆布，粗不中食，入藥功同。</p>
<p><u>紫菜</u>　甘涼。和血養心，清煩滌熱。治不寐，利咽喉，除腳氣、癭瘤，主時行瀉痢，析酲開胃。淡乾者良。</p>
<p><u>石華</u>　甘鹹寒滑。專清上焦客熱，久食愈痔，而能發下部虛寒。盛夏煎之，化成膠凍。寒凝已甚，中虛無火者忌食。粗者名麒麟菜，性味略同。</p>
<p><u>海粉</u>　甘涼清膽熱，去濕化頑痰，消癭瘤，愈瘰癧。</p>
<p><u>髮菜</u>（本名龍鬚菜）　與海粉相同，而功遜之。</p>
<p><u>苔菜</u>　咸涼。清膽，消瘰癧、癭瘤，泄脹化痰，治水土不服。</p>
<p><u>木耳</u>　甘平。補氣耐飢，活血，治跌撲傷，凡崩淋、血痢、痔患、腸風，常食可瘳。色白者勝。煮宜極爛，葷素皆佳。</p>
<p><u>香蕈</u>　甘平開胃，治溲濁不禁。包邊圓嫩者佳。俗名香菰。痧痘後、產後、病後忌之，性能動風故也。</p>
<p><u>蘑菰</u>　甘涼。味極鮮美，葷素皆宜。開胃化痰，嫩而無砂者勝。多食發風動氣，諸病人皆忌之。</p>
<p><u>鮮蕈</u>（一名土菌）　甘寒開胃，蔬中異味。以寒露時松花落地所生者，無毒，最佳。葷素皆宜。病人均忌。或洗淨瀝乾，以麻油或茶油沸過，入秋油浸收，久藏不壞。設莫辨良毒，切勿輕嘗。中其毒者，以地漿、金汁解之。</p>
<p><u>茭白</u>（一名菰筍，一名茭筍）　甘寒。清濕熱，利二便，解酒毒，已癩瘍，止煩渴、熱淋，除鼻皺、目黃。以杭州田種肥大純白者良。精滑、便瀉者勿食。</p>
<p><u>茄</u>（一名落蘇）　甘涼活血，止痛消癰，殺蟲已瘧，（故一名草鱉甲。）消腫寬腸。治傳屍勞、瘕疝諸病。便滑者忌之。種類不一，以細長深紫，嫩而子少者勝。葷素皆宜，亦可醃曬為脯。秋後者微毒，病人勿食。</p>
<p>婦人血黃，老茄竹刀切片，陰乾為末，溫酒下二錢。</p>
<p>腸風下血，經霜茄子連蒂，燒存性研，每日空心酒服二錢匕。</p>
<p>㿉疝、胎疝，雙蒂茄懸房門上，出入視之，茄蔫所患亦蔫，茄干亦干矣。又法：雙茄懸門上，每日抱兒視之二三次，釘針於上，十餘日消矣。</p>
<p>磕傷青腫，老黃茄極大者，切如指厚，新瓦焙研，溫酒服二錢匕，臥一宿，了無痕跡。</p>
<p>熱毒瘡腫，生茄一枚，割去二分，去瓤二分，似罐子形，合患處即消。如已出膿，再用取瘳。</p>
<p>喉痹，糟茄或醬茄，細嚼咽汁。</p>
<p>乳裂，老茄裂開者，陰乾，燒存性，研，水調塗。</p>
<p><u>瓠𤬛</u>（亦作壺盧，俗作葫蘆，一名瓠瓜，俗呼蒲蘆）　甘涼清熱，行水通腸。治五淋，消腫脹。其嫩葉亦可茹。故《詩》云：「幡幡瓠葉，採之烹之」也。種類不一，味甘者嫩時皆可食。苦者名瓠瓜，入藥用。老則皆可為器。</p>
<p><u>冬瓜</u>（一名白瓜）　甘平清熱，養胃生津，滌穢除煩，消癰行水。治脹滿、瀉痢、霍亂，解魚酒等毒。諸病不忌，葷素咸宜。惟冷食則滑腸耳！以搭棚所種，瓜不著地，皮色純青、多毛、味純甘而不酸者良。</p>
<p>諸般渴痢，煮冬瓜食之，並飲其汁。亦治水腫，消暑濕。若孕婦常食，澤胎化毒，令兒無病。與蘆菔同功。</p>
<p>發背，冬瓜截去頭，合瘡上，瓜爛，截去再合，以愈為度。已潰者合之，亦能漸斂。</p>
<p>練（瓜瓤也。）　甘平。絞汁服，止消渴，治淋，解熱毒，洗面澡身去䵟𪒟，令人白皙。</p>
<p>子（古方所用瓜子，皆冬瓜子也。）　甘平潤肺，化痰濁，治腸癰。</p>
<p>皮　甘平祛風熱，治皮膚浮腫，跌撲諸傷。</p>
<p>葉　清暑。治瘧痢、泄瀉，止渴，療蜂螫、惡瘡。</p>
<p>藤　秋後齊根截斷，插瓶中，取汁服，治肺熱、痰火、內癰諸證良。</p>
<p><u>絲瓜</u>（一名天羅）　甘涼。清熱解毒，安胎，行乳調營，補陽通絡，殺蟲理疝，消腫化痰。嫩者為餚，宜葷宜素。老者入藥，能補能通，化濕除黃，息風止血。</p>
<p>痘瘡不快，初出或未出，多者令少，少者令稀，老絲瓜近蒂三寸，連皮燒存性研，砂糖湯調下。</p>
<p>喉痹，絲瓜搗汁灌之。</p>
<p>癰疽不斂，絲瓜搗汁頻抹。</p>
<p>酒痢，或便血腹痛，或肛門患痔，乾絲瓜煅存性，研，酒服二錢。兼治乳汁不通，經阻氣痛，腰痛，疝痛，酒積，黃疸等病。</p>
<p>化痰止嗽，絲瓜煅存性研末，棗肉丸彈子大，每一丸酒下。</p>
<p>風熱牙痛，絲瓜一條，以鹽擦過，煅存性，研，頻擦。兼治腮腫，水調敷。</p>
<p>小兒浮腫，絲瓜、燈心、蔥白等分，煎濃汁服，並洗。</p>
<p>葉　嫩時可茹。絞汁服，治痧穢腹痛。性能消暑解毒，挼貼疔腫甚妙。</p>
<p>蟲癬，侵晨採帶露絲瓜葉七片，逐片擦七下，忌雞魚發物。</p>
<p>睪丸偏墜，絲瓜葉煅存性三錢，雞子殼燒灰二錢，同研，溫酒下。</p>
<p>湯火傷，搗絲瓜葉敷。</p>
<p><u>苦瓜</u>（一名錦荔枝）　青則苦寒滌熱，明目清心，可醬可醃。鮮時燒肉，先瀹去苦味，雖盛夏而肉汁能凝，中寒者勿食。熟則色赤，味甘性平，養血滋肝，潤脾補腎。</p>
<p><u>菜瓜</u>（一名越瓜，一名梢瓜）　生食甘寒，醒酒滌熱。糖醃充果，醯醬為菹，皆可久藏。病目者忌。</p>
<p><u>黃瓜</u>（一名胡瓜，《隨園食單》誤作王瓜）　生食甘寒，清熱利水。可菹可饌，兼蓏蔬之用。而發風動熱，天行病後，疳、瘧、瀉、痢、腳氣、瘡疥、產後、痧痘皆忌之。</p>
<p>喉腫、眼痛，老黃瓜一條，上開一小孔去瓤，入芒硝令滿，懸陰處，待硝透出，刮下吹點。</p>
<p>杖瘡、湯火傷，五月五日，掐黃瓜入瓶內，封掛檐下，取水掃之。</p>
<p><u>南瓜</u>　早收者嫩，可充饌，甘溫耐飢，同羊肉食則壅氣；晚收者甘涼，補中益氣，蒸食味同番藷，既可代糧救荒，亦可和粉作餅餌。蜜漬充果食。凡時病、疳、瘧、疸、痢、脹滿、腳氣、痞悶、產後、痧痞皆忌之。</p>
<p>解鴉片毒，生南瓜搗汁頻灌。</p>
<p>戒鴉片癮，宜用南瓜蒸熟多食，永無後患。</p>
<p>火藥傷人，生南瓜搗敷，並治湯火傷。</p>
<p>槍子入肉，南瓜瓤傅之即出。晚收南瓜，浸鹽滷中備用，亦良。</p>
<p>胎氣不固，南瓜蒂煅存性研，糯米湯下。</p>
<p>虛勞內熱，秋後將南瓜藤齊根剪斷，插瓶內取汁服。</p>
<p><u>芋</u>　煮熟甘滑利胎，補虛滌垢，可葷可素，亦可充糧。消渴宜餐，脹滿勿食。生嚼治絞腸痧；搗塗癰瘍初起；丸服散瘰癧，並奏奇功。煮汁洗膩衣，色白如玉；搗葉罨毒箭及蛇、蟲傷。</p>
<p><u>筍</u>（竹萌也）　甘涼舒郁，降濁升清，開膈消痰。味冠素食。種類不一，以深泥未出土而肉厚色白，味重軟糯，純甘者良。可入葷餚，亦可鹽煮，烘乾為臘，久藏致遠。出處甚繁，以天目早園為勝。小兒勿食，恐其咀嚼不細，最難克化也。毛竹筍，味尤重，必現掘而肥大極嫩，墮地即碎者佳。葷素皆宜，但能發病，諸病後、產後均忌之。閩人造為漉筍，以貨遠方，極嫩者勝。煮去劣味，始可入饌。產處州者較優，惟山中盛夏之鞭筍，嚴寒之冬筍，味雖鮮美，與病無妨。</p>
<p><u>豆腐</u>（一名菽乳）　甘涼清熱，潤燥生津，解毒補中，寬腸降濁。處處能造，貧富攸宜，洵素食中廣大教主也，亦可入葷饌。冬月凍透者味尤美。以青黃大豆，清泉細磨，生榨取漿，入鍋點成後嫩而活者勝。其漿煮熟未點者為腐漿。清肺補胃，潤燥化痰。</p>
<p>漿面凝結之衣，揭起晾乾為腐皮，充飢入饌，最宜老人。</p>
<p>點成不壓則尤嫩，為腐花，亦曰腐腦。</p>
<p>榨乾所造者有千層，亦名百葉，有腐乾，皆為常餚，可葷可素。而腐乾堅者，甚難消化，小兒及老弱、病後皆不宜食。蘆菔能消其積。由腐乾而再造為腐乳，陳久愈佳，最宜病人。其用皂礬者，名青腐乳，亦曰臭腐乳，疳膨、黃病、便瀉者宜之。生榨腐渣，炒食，名雪花菜。熟榨者，僅堪飼豬。</p>
<p>豆腐泔水，浣衣去垢。一味熬成膏，治臁瘡甚效。</p>
<p>休息久痢，醋煎豆腐食。</p>
<p>杖後青腫，切豆腐片貼之，頻易，或以燒酒煮貼，色紅即易，不紅乃已。</p>
<p>解鹽滷毒，熟豆腐漿灌之。</p>

<h1>果食類</h1>
<p><u>梅</u>　酸溫。生時宜蘸鹽食，溫膽生津，孕婦多嗜之。以小滿前肥脆而不帶苦者佳。食梅齒齼，嚼胡桃肉解之。多食損齒，生痰助熱，凡痰嗽、疳膨、痞積、脹滿、外感未清、女子天癸未行及婦女汛期前後、產後、痧痘後，並忌之。青者鹽醃，曝乾為白梅，亦可蜜漬糖收法制，以充方物。半黃者煙燻為烏梅，入藥及染色用之。極熟者榨汁，曬收為梅醬，古人用以調饌。故《書》曰：若作和羹，爾惟鹽梅也。</p>
<p>喉痹乳蛾，青梅二十枚，鹽十二兩，醃五日，取梅汁，入明礬三兩，桔梗、白芷、防風各二兩，牙皂三十條，俱研細末，拌汁和梅，入瓶收之，每用一枚噙咽。凡中風痰厥，牙關不開，以此擦之，亦妙。</p>
<p>梅核膈氣，半黃梅子，每個用鹽一兩，醃一日夜，曬乾，又浸又曬，至水盡乃止。用青錢三個，夾二梅，麻線縛定，通裝瓷罐內，封埋土中百日取出。每用一枚，含之咽汁，入喉立愈。</p>
<p>刺在肉中，白梅肉嚼傅，亦治刀箭傷出血。</p>
<p>乳癰腫毒，白梅煅存性研，入輕粉少許，麻油和圍，初起、已潰皆可用。諸瘡努肉，烏梅肉燒存性研傅。</p>
<p>久崩、久痢、便血日久，烏梅燒存性研，米飲下二錢。</p>
<p>蛔蟲上行，蛔結腹痛，烏梅煎湯飲。</p>
<p>指頭腫痛，烏梅肉和魚鮓搗封。</p>
<p>梅花　半開時收藏，或蜜漬，或點茶，或蒸露，或熬粥均妙。以綠萼白梅為佳。入藥舒肝解鬱，清火稀痘。</p>
<p>梅葉　解水毒，洗葛衣，則去黴點而不脆。</p>
<p><u>杏</u>　甘酸溫。須俟熟透食之，潤肺生津。以大而甜者勝。多食生痰熱、動宿疾，產婦、小兒、病人尤忌之。亦可糖醃蜜漬，收藏致遠，以充方物。其核中仁，味苦入藥，不堪食。</p>
<p>陰瘡爛痛，杏仁燒黑，研膏傅。</p>
<p>陰戶蟲癢，杏仁燒存性，研爛，綿裹納入。</p>
<p>肛䘌癢痛，杏仁杵膏頻傅。</p>
<p>小兒臍爛成風，杏仁去皮研傅。</p>
<p>箭鏑在咽，或刀刃在咽膈諸隱處，杵杏仁傅。</p>
<p>杏葉　煎湯，洗眼癬良。</p>
<p><u>叭噠杏</u>　甘涼潤肺，補液濡枯。仁味甘平，補肺潤燥，止咳下氣，養胃化痰。闊扁尖彎如鸚哥嘴者良。去衣，或生或炒，亦可作酥酪。雙仁者有毒，勿用。寒濕痰飲，脾虛腸滑者忌食。</p>
<p><u>桃</u>　甘酸溫。熟透啖之，補心活血，解渴充飢。以晚熟大而甘鮮者勝。多食生熱，發癰瘡、瘧痢、蟲疳諸患。可作脯，制醬造醋。凡食桃不消，即以桃梟燒灰，白湯下二錢，吐出即愈。別有一種水蜜桃，熟時吸食，味如甘露，生津滌熱，洵是仙桃。北產者良，深州最勝；太倉、上海亦產，較遜。</p>
<p>桃梟（桃實在樹，經冬不落，正月採收，中實者佳。）煎湯服，止盜汗，已痁瘧。</p>
<p>桃仁　治產後陰腫，（炒研傅。）婦人陰瘡。（杵爛綿裹塞。）</p>
<p><u>李</u>（一名嘉慶子）　甘酸涼。熟透食之，清肝滌熱，活血生津。惟槜李為勝，而不能多得。不論何種，以甘鮮無酸苦之味者佳。多食生痰助濕，發瘧痢，脾弱者尤忌之。亦可鹽曝、糖收、蜜漬為脯。</p>
<p><u>柰</u>　南產實小名林檎，一名來禽，一名花紅。其青時體松不澀者，一名桬果。甘酸溫。下氣生津，和中止瀉。瀹湯代茗，味極清芬，均以大者勝。多食澀脈滯氣，發熱生痰。北產實大名頻婆，俗呼蘋果。甘涼輕軟，別有色香，潤肺悅心，生津開胃，耐飢醒酒，辟穀救荒，洵果中仙品也。</p>
<p><u>慄</u>　甘平補腎，益氣厚腸，止瀉耐飢，最利腰腳，解羊肉毒。辟穀濟荒，生熟皆佳，點餚並用。嫩時嚼之，作桂花香，老者風乾，則甜而嫩。同橄欖食，風味尤美。以錢塘產者良。凡食均須細嚼，連液吞嚥則有益。若頓食至飽，反壅氣傷脾。其外感未去、痞滿、疳積、瘧痢、瘰癧、產後、小兒、病人、不飢便秘者並忌之。以生極難化，熟最滯氣也。</p>
<p><u>棗</u>　鮮者甘涼，利腸胃，助濕熱，多食患脹瀉、熱渴，最不益人，小兒尤忌。乾者甘溫，補脾養胃，滋營充液，潤肺安神，食之耐飢，亦可浸酒。取瓤作餡，葷素皆宜。殺烏頭、附子、天雄、川椒毒。臥時口含一枚，可解悶香。以北產大而堅實肉厚者，補力最勝，名膠棗，亦曰黑大棗。色赤者名紅棗，氣香味較清醇，開胃養心，醒脾補血，亦以大而堅實者勝。可取瓤和粉作糕餌。焚之辟邪穢。歉歲均可充糧。義烏所產為南棗，功力遠遜，僅供食品，徽人所制蜜棗，尤為膩滯。多食皆能生蟲助熱、損齒生痰。凡小兒、產後及溫熱、暑濕諸病前後、黃疸、腫脹、疳積、痰滯，並忌之。</p>
<p><u>梨</u>　甘涼潤肺，清胃涼心，滌熱息風，化痰已嗽，養陰濡燥，散結通腸，消癰疽，止煩渴，解丹石、煙煤、炙煿、膏粱、曲糵諸毒。治中風不語、痰熱驚狂、溫暑等疴，並絞汁服，名天生甘露飲。以皮薄心小，肉細無渣，略無酸味者良，北產尤佳。切片貼湯火傷，止痛不爛。中虛寒瀉、乳婦、金瘡忌之。新產及病後，須蒸熟食之。與蘆菔相間收藏則不爛。可搗汁熬膏，亦可醬食。</p>
<p><u>木瓜</u>　酸平調氣，和胃養肝，消脹舒筋，息風去濕。蜜漬，酒浸。多食患淋，以酸澀太過也。專治轉筋，能健腰腳，故老人宜佩也。</p>
<p>腳氣筋攣，以木瓜切片囊盛，日踐踏之。</p>
<p>霍亂轉筋，木瓜一兩煎服，仍煎湯浸青布，裹其足。</p>
<p>闢臭蟲，木瓜片鋪席下。</p>
<p>反花痔，木瓜末，鱔魚身上涎，調塗。</p>
<p>黴瘡結毒，木瓜一味研末，水法丸，日以土茯苓湯下三錢。</p>
<p><u>柹</u>（俗作柿。）　鮮柹甘寒，養肺胃之陰，宜於火燥津枯之體。以大而無核，熟透不澀者良。或採青柹以石灰水浸過，則澀味盡去，削皮啖之，甘脆如梨，名曰綠柹。凡中氣虛寒，痰濕內盛，外感風寒，胸腹痞悶，產後病後，瀉痢、瘧疝、痧痘後皆忌之。不可與蟹同食。</p>
<p>干柹　甘平。健脾補胃，潤肺澀腸，止血充飢，殺疳療痔，治反胃，已腸風。老稚咸宜，果中聖品，以北產無核者勝。惟太柔腴，不堪藏久。柹餅、柹花功用相似，體堅耐久，並可充糧。</p>
<p>反胃便瀉，並以柹餅飯上蒸熟，日日同飯嚼食，能不飲水更妙。凡小兒初食飯時，亦如此嚼喂甚良。</p>
<p>產後嗽逆，氣亂心煩，柹餅碎切煮汁飲。</p>
<p>痰嗽帶血，大柹餅飯上蒸熟，每用一枚，批開，攙真青黛一錢，臥時食之，薄荷湯下。</p>
<p>痘瘡入目，柹餅日日食之。</p>
<p>解桐油、銀黝毒，多食柹餅。</p>
<p>熱痢血淋，柹餅細切，同秔米煮粥食。</p>
<p>柹霜　乃柹之精液，甘涼清肺。治吐血、咯血、勞嗽、上消、咽喉、口舌諸病，甚良。</p>
<p>柹蒂　下氣。治咳逆、噎噦、氣衝不納之證。</p>
<p>柹漆　另有一種小柹，雖熟而色不赤，名曰椑柹，亦曰漆柹。須於小暑前柹未生核時，採而搗爛，其汁如漆，可以染罾葛，造扇，蓋性能卻水也。亦可生啖，性尤冷利。</p>
<p><u>石榴</u>　甘酸溫澀，解渴析酲。多食損肺傷齒，助火生痰，最不益人，但供觀美而已。皮可染皂。</p>
<p>中蟲毒，石榴皮煎濃飲。</p>
<p>腿肚生瘡，初起如慄，搔之漸開，黃水浸淫，癢痛潰爛，遂致繞脛而成錮疾，酸榴皮煎濃汁，冷定頻掃。</p>
<p>花　治吐血，研末吹鼻，止衄血，亦傅金瘡出血，以千葉大紅者良。按諸花忌澆熱水，惟此花可以烈日中灌溉，並宜以葷濁，熱湯澆之則益茂，但勿著鹹味耳！正月二十日分枝，則當年即花，物性之難測如此。余幼時見業師王烺中先生，善養此花，而人罕知其法，故附識以傳於世。</p>
<p><u>橘</u>　甘平潤肺，析酲解渴。閩產者名福橘，黃岩所產，皮薄色黃者，名蜜橘，俱無酸味而少核，皆為佳品。然多食生痰聚飲，風寒咳嗽及有痰飲者勿食。味酸者，戀膈滯肺，尤不益人。並可糖醃作脯，名曰橘餅。以其連皮造成，故甘辛而溫，和中開膈，溫肺散寒，治嗽化痰，醒酒消食。</p>
<p>橘皮　解魚蟹毒，化痰下氣。治咳逆嘔噦、噫噎脹悶、霍亂疳瘧、瀉痢便秘、腳氣諸病皆效。去白者名橘紅，陳久愈良，福橘皮為勝。或瀹茗時入一片，亦妙。惟化州無橘，俗尚化州橘紅，其色不紅，皆柚皮也。</p>
<p>產後溺閉不通，橘紅二錢為末，空心溫酒下。</p>
<p>乳吹，橘皮一兩，甘草一錢，水煎服。</p>
<p>魚骨鯁，橘皮常含咽汁。</p>
<p>嵌甲痛不能行，橘皮煎濃湯，浸良久，甲肉自離，輕手剪去，以虎骨末敷之。</p>
<p>橘核　治疝氣乳癰。</p>
<p>橘葉　消癰腫，治乳癖。</p>
<p><u>金橘</u>（《廣州志》名夏橘。《上林賦》曰盧橘）　甘溫醒脾，下氣闢穢，化痰止渴，消食解酲。其美在皮，以黃岩所產、形大而圓、皮肉皆甘而少核者勝。一名金蛋。亦可糖醃壓餅。</p>
<p><u>橙皮</u>　甘辛利膈，辟惡化痰，消食析酲，止嘔醒胃，殺魚蟹毒。可以為菹，可以拌齏，可以為醬，糖制宜餡，蜜製成膏。嗅之則香，咀之則美，洵佳果也。肉不堪食，惟廣東產者，可與福橘爭勝。</p>
<p>香橙餅</p>
<p>橙皮（二斤，切片）　白砂糖（四兩）　烏梅肉（二兩，同研爛）　入甘草末（一兩）　檀香末（五錢）</p>
<p>搗成小餅，收干藏之。每噙口中，生津舒郁，闢臭解酲，化濁痰，御嵐瘴，調和肝胃，定痛止嘔，湯瀹代茶，亦可供客。</p>
<p><u>柑</u>　甘寒清熱，止渴析酲。以永嘉所產者名甌柑，核少無滓最勝，京師呼為春橘。多食滑腸停飲，傷肺寒中。凡氣虛脾弱，風寒為病，產婦、小兒及諸病後忌之。種類甚多，大小不一。海紅柑，樹小而結實甚大，皮厚肉紅，可久藏，俗呼文旦。生枝柑，形不圓，色青膚粗，味微酸，留之枝間，大可耐久，俟味變甘，乃帶葉折，故名，俗呼蜜羅。</p>
<p>柑皮　辛甘涼。下氣調中，解酒，殺魚腥氣。可以入茗，或去白焙研末，點湯入鹽飲，亦有用湯瀹過，以之煨肉者。</p>
<p><u>柚</u>（一名朱欒，一名香欒。俗作香櫞者非）　酸寒闢臭，消食解酲。多食之弊，更甚於柑。種類甚繁，大小不一。俗呼大者為香脬，小者為香圓。</p>
<p>柚皮　辛苦而甘。消食化痰，散憤懣之氣。陳久者良。</p>
<p><u>佛手柑</u>（《圖經》名枸櫞，亦名香櫞，今人誤以柚之小者為香櫞，蓋失考也）　辛溫下氣，醒胃豁痰，辟惡解酲，消食止痛。多食耗氣，虛人忌之。金華產者勝，味不可口，而清香襲人。置之案頭，可供玩賞。置芋片於蒂，而以濕紙圍護，經久不癟。搗蒜罨其蒂，則香更充溢，浸汁浣葛紵最妙。亦可蜜漬收藏。入藥以陳久者良，蒸露尤妙。其花功用略同。</p>
<p><u>枇杷</u>　甘平潤肺，滌熱生津。以大而純甘、獨核者良。多食助濕生痰，脾虛滑瀉者忌之。蜜餞、糟收，可以藏久。</p>
<p>葉　毛多質韌，味苦氣平，隆冬不調，盛夏不萎，稟激濁揚清之性，抱忘炎耐冷之姿。靜而能宣，凡風溫、溫熱、暑燥諸邪在肺者，皆可藉以保柔金而肅治節；香而不燥，凡濕溫、疫癘、穢毒之邪在胃者，皆可用以澄濁氣而廓中州。本草但言其下氣止渴，專治嘔嗽、噦噫，何其疏耶？宜以夏前採葉，刷毛洗淨，切碎，淨鍋炒燥，入瓶密收，用以代茶常飲，可免時氣沾染，真妙法也。亦可蒸露。</p>
<p><u>山楂</u>（亦作查，一名山裡果。北產者大，亦名棠球，俗名紅果。）　酸甘溫。醒脾氣，消肉食，破瘀血，散結消脹，解酒化痰，除疳積，已瀉痢。大者去皮核，和糖蜜搗為糕，名楂糕，色味鮮美，可充方物。入藥以義烏產者勝。多食耗氣、損齒易飢，空腹及羸弱人，或虛病後忌之。</p>
<p>痘疹乾黑危困，山楂為末，紫草煎，酒調服一錢，輕者白湯下，即時紅活。</p>
<p>食肉不消，山楂四兩，水煮食，並飲其汁。</p>
<p>腸風下血，山楂為末、艾湯調服。</p>
<p>惡露不行，腹痛，山楂煎湯，調砂糖服。</p>
<p><u>楊梅</u>　甘酸溫。宜蘸鹽少許食，析酲止渴，活血消痰，滌腸胃，除煩懣惡氣。鹽藏蜜漬，酒浸糖收，為脯為干，消食止痢。大而純甜者勝。多食動血，酸者尤甚，諸病挾熱者忌之。</p>
<p>樹皮　煎湯洗惡瘡疥癬，漱牙痛。澄冷服，解砒毒。研末燒酒調敷，治遠近攣筋。燒灰油調，敷湯火傷。</p>
<p><u>櫻桃</u>　甘熱溫中，不宜多食，諸病皆忌，小兒遠之，酸者尤甚，青蔗漿能解其熱。</p>
<p><u>銀杏</u>（一名白果）　生，苦平澀。消毒殺蟲，滌垢化痰，擦面去皶疱、䵟𪒟、皴皺及疥癬，疳䘌，陰蝨；熟，甘苦溫，暖肺益氣，定喘嗽，止帶濁，縮小便。多食壅氣動風，小兒發驚動疳。中其毒者，昏暈如醉，白果殼或白鯗頭，煎湯解之。食或太多，甚至不救，慎生者不可不知也！</p>
<p>小便頻數，腸風下血，赤白帶下，並以白果煨熟，去火氣，細嚼，米飲下。</p>
<p>手足皴裂，下疳陰蝨，頭面癬瘡，並用生白果杵爛，塗擦。</p>
<p>針刺入肉，瓷鋒嵌腳，水疔暗疔，並將白果肉浸菜油中，年久愈佳，搗敷患處。</p>
<p><u>胡桃</u>（一名核桃）　甘溫潤肺，益腎利腸，化虛痰，止虛痛，健腰腳，散風寒，助痘漿，已勞喘，通血脈，補產虛，澤肌膚，暖水臟，制銅毒，療諸痛，殺羊膻，解齒齼。以殼薄肉厚、味甜者良。宜餡宜餚，果中能品。惟助火生痰，非虛寒者，勿多食也。</p>
<p>風寒感冒，頭痛身熱，胡桃肉、蔥白、細茶、生薑共杵爛，水煎熱服，汗出而痊。內熱者去姜加白砂糖。</p>
<p>小便頻數，胡桃肉，臥時嚼之，溫酒下。</p>
<p>石淋痛楚，胡桃肉一斤，同細米煮漿粥，日日食之。</p>
<p>小腸氣痛，便毒初起，並以胡桃煅研，溫酒下。</p>
<p>背癰、附骨疽未成膿者，胡桃十個，煨熟去殼，槐花一兩同研，熱酒調下。</p>
<p>疔瘡、惡瘡，胡桃破開，取肉嚼爛，仍安殼內，合瘡上，頻換。</p>
<p>壓撲損傷，胡桃肉杵爛，溫酒頓服。</p>
<p><u>榛</u>　甘平補氣，開胃耐飢，長力厚腸，虛人宜食。仁粗大而不油者佳。亦可磨點成腐，與杏仁腐皆為素饌所珍。</p>
<p><u>梧桐子</u>　甘平潤肺，清熱治疝，諸病無忌。鮮更清香。</p>
<p><u>桑椹</u>　甘平。滋肝腎，充血液，止消渴，利關節，解酒毒，祛風濕，聰耳明目，安魂鎮魄。可生啖，宜微鹽拌食。　可飲汁，或熬以成膏，或曝乾為末。設逢歉歲，可充糧食。久久服之，鬚髮不白。以小滿前熟透、色黑而味純甘者良。</p>
<p>熟桑椹，以布濾取汁，瓷器熬成膏收之，每日白湯或醇酒調服一匙。老年服之，長精神，健步履，息虛風，靖虛火，兼治水腫脹滿、瘰癧結核。</p>
<p><u>櫧子</u>　有甜、苦二種。苦者煮炒令熟，味亦帶甘。並可食，亦可磨粉充糧，耐飢止瀉。氣實腸燥者勿食。患酒膈者，苦櫧煮熟，細嚼頻食自愈。</p>
<p><u>橡實</u>（櫟樹子也。其殼可染皂，故一名皂鬥）　苦溫。須浸透，去其澀味，蒸煮極熟食之。補脾胃，益氣力，止瀉耐飢。性似慄櫧。可御凶年。杜工部客秦州，嘗採以自給，其嫩葉亦可煎飲代茶。</p>
<p>癰堅如石，不作膿，橡斗子用醋於青石上磨汁塗，干則易，自平。</p>
<p><u>荔枝</u>　甘溫而香。通神益智，填精充液，闢臭止疼，滋心營，養肝血。果中美品，鮮者尤佳，以核小肉厚而純甜者勝。多食發熱、動血、損齒，凡上焦有火者忌之。</p>
<p>食之而醉者，即以其殼煎湯，或蜜湯解之。</p>
<p>痘瘡不發，荔枝肉浸酒飲，並食之，忌生冷。</p>
<p>諸疔，荔枝肉、白梅肉各三個，搗餅貼之，根即出。</p>
<p><u>龍眼</u>（一名桂圓，俗呼圓眼）　甘溫。補心氣，定志安神，益脾陰，滋營充液。果中神品，老弱宜之，以核小、肉厚、味純甘者良。然不易化，宜煎汁飲。外感未清，內有鬱火，飲停氣滯，脹滿不飢諸候均忌。</p>
<p>玉靈膏（一名代參膏）　自剝好龍眼肉，盛竹筒式瓷碗內，每肉一兩，入白洋糖一錢，素體多火者再入西洋參片如糖之數。碗口冪以絲綿一層，日日於飯鍋上蒸之，蒸到百次。凡衰羸老弱，別無痰火、便滑之病者，每以開水瀹服一匙，大補氣血，力勝參、耆。產婦臨盆服之尤妙。</p>
<p>核　研末，名驪珠散，傅刀刃、跌打諸傷，立能止血定痛，愈後無瘢。</p>
<p>殼　研細，治湯火傷。焚之闢蛇。</p>
<p><u>橄欖</u>（一名青果）　酸甘平。開胃生津，化痰滌濁，除煩止渴，涼膽息驚，清利咽喉，解魚、酒、野蕈毒。鹽藏藥制，功用良多。點茶亦佳。以香嫩多汁者勝。</p>
<p>河豚、魚鱉諸毒，諸魚骨鯁，橄欖搗汁，或煎濃湯飲。無橄欖，以核研末，或磨汁服。</p>
<p>下疳，橄欖燒存性研，油調敷，兼治耳足凍瘡。</p>
<p>稀痘，橄欖核常磨濃如糊，頻與小兒服之。</p>
<p>欖仁　甘平潤肺，解毒殺蟲，稀痘，制魚腥，塗唇吻燥痛。小兒及病後，宜以為果餌。</p>
<p><u>榧</u>　甘溫潤肺，止嗽化痰，開胃殺蟲，滑腸消穀。可生啖，可入素羹。豬脂炒，皮自脫。以細而殼薄者佳。多食助火，熱嗽非宜。</p>
<p>腸胃諸蟲患，每晨食榧肉七枚，以愈為度。</p>
<p><u>海松子</u>　甘平潤燥，補氣充飢，養液息風，耐飢溫胃，通腸闢濁，下氣香身，最益老人，果中仙品，宜餚宜餡，服食所珍。</p>
<p><u>檳榔</u>　苦甘溫澀。下氣消痰，闢瘴殺蟲，析酲化食，除脹泄滿，宣滯破堅，定痛和中，通腸逐水。制肥甘之毒，膏粱家宜之。尖長質較軟，色紫而香，俗呼棗兒檳榔者良。且能堅齒，解口氣。惟虛弱人及淡泊家忌食。</p>
<p><u>枳椇</u>（一名雞距子）　甘平潤燥，止渴除煩，利大小腸，專解酒毒。多食發蛔蟲。</p>
<p><u>無花果</u>　甘寒清熱，療痔潤腸，上利咽喉，中寒忌食。</p>
<p><u>蒲桃</u>　甘平補氣，滋腎液，益肝陰，養胃耐飢，御風寒，強筋骨，通淋逐水，止渴安胎，種類甚多，北產大而多液、味純甜者良，無核者更勝，可干可釀。枸杞同功。</p>
<p>胎上衝心，蒲桃煎湯飲，無則用藤葉亦可。</p>
<p>嘔噦、霍亂、溺閉、小腸氣痛，並以蒲桃藤葉煎濃汁飲。外可淋洗腰腳腿痛。</p>
<p>附種蒲桃法：正月末，取蒲桃嫩枝，長四五尺者，卷為小圈，令緊實。先治地土松而沃之以肥種之，止留二節在外。候春氣透發，眾萌竟吐，而土中之節不能條達，則盡萃於出土之二節，不二年成大棚。其實如棗，且多液也。</p>
<p><u>落花生</u>（一名長生果）　煮食甘平，潤肺，解毒，化痰；炒食甘溫，養胃調氣，耐飢。入饌頗佳，榨油甚劣。以肥白香甘者良。有火者但宜煮食。</p>
<p><u>西瓜</u>　甘寒。清肺胃，解暑熱，除煩止渴，醒酒涼營，療喉痹口瘡，治火毒時證。雖霍亂瀉痢，但因暑火為病者，並可絞汁灌之。以極甜而作梨花香者勝。一名天生白虎湯。多食積寒助濕，每患秋病。中寒多濕，大便滑泄、病後、產後均忌之。食瓜腹脹者、以冬醃乾菜瀹湯飲，即消。瓜瓤餵豬，肉味美色佳而不膩，瓜肉，曝乾醃之，亦可醬漬，以作小菜，食之已目赤、口瘡。肉外青皮，以瓷鋒刮下，名西瓜翠衣，入藥涼驚滌暑。</p>
<p>瓜子　生食化痰滌垢，下氣清營。一味濃煎，治吐血，久嗽皆妙。剝配橙飣，作餡甚美。帶殼炒香佐酒，為雅俗共賞之尤。大者勝。</p>
<p><u>甜瓜</u>　甘寒滌熱，利便除煩，解渴療飢，亦治暑痢。種類匪一，以清香甘脆者勝。多食每患瘧痢。凡虛寒多濕，便滑腹脹，腳氣及產後、病後皆忌之。其子亦可食。</p>
<p>黃疸、鼻瘜，濕家頭痛，並用瓜蒂為末，吹鼻內，口含冷水，俟鼻出黃水愈。</p>
<p><u>藕</u>　甘平。生食生津，行瘀止渴，除煩開胃，消食析酲。治霍亂口乾，療產後悶亂。罨金瘡，止血定痛，殺射罔、魚蟹諸毒。熟食補虛，養心生血，開胃舒郁，止瀉充飢。搗罨凍瘡。亦可入饌，果中靈品，久食休糧。以肥白純甘者良。生食宜鮮嫩，煮食宜壯老，用砂鍋，桑柴緩火煨極爛，入煉白蜜收干食之，最補心脾。若陰虛肝旺，內熱血少及諸失血證，但日熬濃藕湯飲之，久久自愈，不服他藥可也。老藕搗浸澄粉，為產後、病後、衰老、虛勞妙品。但須自制，市物恐攙雜不真也。市中熟藕多雜穢物，故易糜爛，最不宜食，諸病皆忌。藕節入藥，功專止血。</p>
<p><u>藕實</u>（即蓮子）　鮮者甘平，清心養胃。治噤口痢，生熟皆宜。乾者甘溫，可生可熟，安神補氣，鎮逆止嘔，固下焦，已崩帶、遺精，厚腸胃，愈二便不禁。可磨以和粉作糕，或同米煮為粥飯，健脾益腎，頗著奇勳。以紅花所結、肉厚而嫩者良。但性澀滯氣，生食須細嚼，熟食須開水泡，剝衣挑心煨極爛。凡外感前後、瘧疸疳痔、氣鬱痞脹、溺赤便秘、食不運化及新產後皆忌之。</p>
<p>汪謝城曰：陳蓮子雖久煮不糜，取蓮根新出嫩芽同煮，則爛矣。</p>
<p><u>薏</u>（蓮子心也）　苦涼。斂液止汗，清熱養神，止血固精，所謂能靖君相火邪也。</p>
<p>勞心吐血，蓮心七枚，糯米二十一粒為末，酒下。</p>
<p>心動精遺，蓮心一錢研末，入辰砂一分，淡鹽湯下。</p>
<p>蓮鬚　苦澀。治遺精失血。</p>
<p>蓮花　貼天泡瘡。以一瓣書人字於上，吞之，可催生。研末酒服方寸匕，治跌打嘔血。白者蒸露，清心、滌暑、涼營。千葉小瓣者，鮮服壯陽。</p>
<p>蓮房（蓮蓬殼也）　破血，亦能止血。酒煮服，治胎衣不下。水煎飲，解野蕈毒。</p>
<p>杆　通氣舒筋，升津止渴。霜後採者，清熱止盜汗，行水愈崩淋。</p>
<p>葉　功用與房略同。其色青，其象震，故能升發膽中清氣以達脾氣，凡脾虛氣陷而為便瀉不運者，可佐入培中之劑，如荷米煎之類是也。古方荷葉燒飯，即是此義。蓋燒飯即煮飯，後人拘泥字面，不解方言，入火燒焦，全失清芳氣味矣。凡上焦邪盛，治宜清降者，切不可用。東垣清震湯之謬，章杏云已力辨其非。試察其能治痘瘡倒陷，則章氏之言益信，《痘疹論》云：痘瘡倒陷，若由風寒外襲，竅閉血凝，漸變黑色，身痛肢厥者，溫肌散邪，則氣行而痘自起也。用霜後荷葉貼水紫背者，炙乾，白直殭蠶炒去絲，等分為末，每服五分，溫酒或芫荽湯調下。蓋荷葉能升發陽氣，散瘀血，留好血：殭蠶能解結滯之氣故也。此藥平和易得，而活人甚多，勝於人牙、龍腦多矣。名南金散。</p>
<p>陽水浮腫，敗荷葉燒存性研，每二錢，米飲下，日三。</p>
<p>諸般癰腫，荷葉蒂不拘多少，煎湯淋洗，拭乾，以飛過寒水石，同臘豬脂塗之，能拔毒止痛。</p>
<p>孕婦傷寒，大熱煩渴，恐傷胎氣，嫩卷荷葉焙乾五錢，蚌粉減半，共研，每三錢，新汲水入蜜調服，並塗腹上。名罩胎散。</p>
<p>胎動已見黃水，乾荷蒂一枚，炙研，糯米淘汁一鐘調下。</p>
<p>赤白痢，荷葉煅研，每二錢，糖湯下。</p>
<p>脫肛，貼水荷葉焙研，酒服三錢，並以荷葉盛末坐之。</p>
<p>赤遊火丹，新生荷葉杵爛，入鹽塗。</p>
<p>陰腫痛癢，荷葉、浮萍、蛇床，煎湯日洗。</p>
<p>漆瘡，乾荷葉煎湯洗。</p>
<p>刀斧傷，荷葉煅研傅。</p>
<p>遍身風癘，荷葉三十張，石灰一斗，淋汁合煮漬之，半日乃出，數日一作。</p>
<p><u>芡實</u>（一名雞頭）　甘平補氣，益腎固精，耐飢渴，治二便不禁，強腰膝，止崩淋帶濁。必蒸煮極熟，枚齒細咀，使津液流通，始為得法。鮮者鹽水帶殼煮而剝食亦良；乾者可為粉作糕，煮粥代糧，亦入藥劑，惟能滯氣，多食難消。禁忌與蓮子同。其莖嫩時可茹，能清虛熱。根可煮食，祲歲濟飢。葉一張，（須囫圇者。）煎湯服，治胞衣不下。</p>
<p><u>菱芰</u>　鮮者甘涼，析酲清熱，多食損陽助濕，胃寒脾弱人忌之。老者風乾，肉反轉嫩。熟者甘平，充飢代谷，亦可澄粉，補氣厚腸。多食滯氣，胸腹痞脹者忌之。芡花向日，菱花向月，故芡暖而菱寒。鏡號菱花，謂女人容貌如月也。</p>
<p><u>鳧茈</u>（即荸薺，一名烏芋，一名地慄）　甘寒清熱，消食析酲，療膈殺疳，化銅闢蠱，除黃泄脹，治痢調崩。以大而皮赤味甜無渣者良，風乾更美。多食每患脹痛，中氣虛寒者忌之，煮熟性平，可入餚饌，可御凶年。澄粉點目，去翳如神，味亦甚佳，殊勝他粉。</p>
<p>闢蠱，荸薺曬為末，每白湯下二錢。蠱家知有此物，即不敢下。</p>
<p>血崩，荸薺一歲一枚，煅存性研，酒調下。</p>
<p>便血，搗荸薺汁一鍾，好酒半鍾和，空心溫服。</p>
<p>赤白痢，午日午時，取完好荸薺，洗淨拭乾，勿令損破，安瓶內，入好燒酒浸之，黃泥密封收藏。每用二枚，細嚼，空心原酒下。</p>
<p><u>慈菇</u>（俗作茨菰，一名白地慄，一名河鳧茈）　甘苦寒。用灰湯煮熟去皮食，則不麻澀。入餚加生薑以制其寒。功專破血通淋，滑胎利竅。多食發瘡動血，損齒生風。凡孕婦及癱瘓、腳氣、失血諸病，尤忌之。</p>
<p><u>百合</u>　甘平潤肺，補胃清心，定魄息驚，澤膚通乳，祛風滌熱，化濕散癰，治急黃，止虛嗽，殺蠱毒，療悲哀，闢諸邪，利二便。下平腳氣，上理咽喉，以肥大純白味甘而作檀香氣者良。或蒸或煮，而淡食之，專治虛火勞嗽。亦可煮粥、煨肉、澄粉食，並補虛羸，不僅充飢也。入藥則以山中野生、彌小而味甘者勝。風寒痰嗽、中寒便滑者勿食。</p>
<p><u>山丹</u>（俗呼紅花百合。種類不一，亦有黃花者）　甘苦涼。清營滌暑，潤燥通腸。剝去外一層，水浸去苦味，或蒸或煮，加白洋糖食之耐飢。亦可煮粥、澄粉，補力雖遜，似亦益人。忌同上。</p>
<p>按：藕粉、百合粉之外，尚有嘉定澄造之天花粉，陰虛內熱及便燥者，服之甚宜。余者只可充平人之食，不可調養病人。最不堪者，徽州之葛根粉，非風寒未解者，皆不可食。</p>
<p><u>甘蔗</u>　甘涼清熱，和胃潤腸，解酒節蛔，化痰充液。治癉瘧暑痢，止熱嗽虛嘔，利咽喉，強筋骨，息風養血，大補脾陰。榨漿名天生復脈湯。以皮青、圍大、節稀、形如竹竿者勝。故一名竹蔗，亦作竿蔗，與榧仁同嚼，則渣軟。皮紫者性溫，功遜。</p>
<p><u>蔗飴</u>（蔗汁煎成如飴，色黑，今人呼曰砂糖）　甘溫。和中活血，止痛舒筋。越人產後輒服之。然多食助熱生痰，傷營滯胃。凡內熱或血不阻者忌之。</p>
<p><u>赤沙糖</u>（出處不一，品色甚多，有青糖、紅糖、球糖、綿糖等名）　甘溫。暖胃緩肝，散寒活血，舒筋止痛，制鴉片煙。吳人產後用以行瘀。多食損齒生蟲，其弊如上。</p>
<p>以上兩種味不帶酸苦者佳。</p>
<p><u>白砂糖</u>（即白洋糖，亦曰白糖，古名石蜜，此乃竹蔗煎成。堅白如冰者為冰糖，輕白如霜者為糖霜。凡霜一甕，其中品色亦自不同，故有冰花、上白、次白等名也）　甘平。潤肺和中，緩肝生液，化痰止嗽，解渴析酲，殺魚蟹腥，制豬肉毒，闢韭蒜臭，降濁怡神。辛苦潛移，酸寒頓改，調元贊化，燮理功優。冰糖、糖霜均以最白者為良。多食久食，亦有損齒生蟲之弊。痞滿嘔吐，濕熱不清，諸糖並忌。</p>
<p>解鹽滷毒，糖霜多食。</p>
<p>小兒未能穀食、久瘧不瘳，濃煎冰糖湯服。</p>
<p>中虛脘痛，痘不落痂，食魚蟹而不舒，啖蒜韭而口臭，並以糖霜點濃湯飲。</p>
<p>噤口痢，冰糖五錢，烏梅一個，煎濃頻呷。</p>
<p>汪謝城曰：諸糖，時邪、痧疹、霍亂皆大忌。余見誤服致危者，不一其人。即夏月產後用以行瘀，亦宜慎也。</p>
<p>吾叔苦志力學，自垂髫以來，憂勤惕厲垂四十餘年。雖經世變，身超物外，得以隨處而息焉、遊焉，乃飲水思源，譜是書寓意。故以水始，次穀食，而以胡麻冠於調和，抑鹽於油後者，蓋土產百物，天之所以養人，不欲官與其事也；次蔬果而以蔗糖殿者，將及肉食，豫伏制豬肉毒之糖霜於前也。伏讀至此，不但經綸足以濟世，烈且以知叔之晚境如飴，更有甘蔗旁生之兆焉。</p>

<h1>毛羽類</h1>
<p><u>豶</u>（豬肉去勢曰豶）　甘鹹平。補腎液，充胃汁，滋肝陰，潤肌膚，利二便，止消渴，起尪羸。以壯嫩花豬，糯而易熟，香而不腥臊者良。烹法甚多，惟整塊洗淨，略抹糖霜，干蒸極爛者，味全力厚，最為補益，古人所謂蒸豚也。吳俗尚蹄肘，乃古之豚肩遺意，但須緩火煨化。（嘉蘇婦人，不事中饋，而尚市脯，劣廚欲速用硝，不但失飪，亦且暴殄。）多食助濕熱，釀痰飲，招外感，昏神智，令人鄙俗。故先王立政，但以為養老之物。聖人云：勿使勝食氣，而回回獨謂此肉為葷也。末俗貪饕，不甘淡泊，厚味臘毒，漫不知省，蔑禮糜財，喪其廉儉。具不得已之苦心者，假神道以設教，創持齋之日期，雖屬不經，良有深意。若幼時勿縱其口腹，不但無病，且易成人。至一切處感及哮嗽、瘧痢、痧疸、霍亂、脹滿、腳氣、時毒、喉痹、痞滿、疔癰諸病，切忌之。其頭肉尤忌。產後食肉亦勿太早。痧痘、時病後，須過彌月始可食也。新鮮之肉曰腥，（《論語》君賜腥是也。）方書所云：忌食新鮮之鮮，忌食魚腥之腥，皆指此言也。醫家、病家往往顢頇不省，故詳及之。其未經去勢之豭豬肉、婁豬肉，皆不堪食。黃⿱⿰凵凵干豬肉、瘟豬肉，並有毒，雖平人亦忌之。中其毒者，芭蕉根搗汁服。</p>
<p>小兒火丹及打傷青腫、破傷風，並用新宰豬肉，乘熱片貼，頻易。</p>
<p>液干難產，津枯血奪，火灼燥渴、干嗽、便秘，並以豬肉煮湯，吹去油飲。</p>
<p><u>豬皮</u>　杭人以乾肉皮煮熟，刮去油，刨為薄片，暴燥以充方物，名曰肉酢，久藏不壞，用時以涼開水浸軟，麻油、鹽料拌食甚佳。按皮即膚也，豬膚甘涼，清虛熱，治下痢，心煩，咽痛，今醫罕用此藥矣。若無心煩，咽痛兼證者，是寒滑下利，不宜用此。凡勘病擇藥，先須辨此，庶不貽誤。</p>
<p><u>千里脯</u>　冬令極冷之時，取㷟淨好豬肋肉，每塊約二斤余，勿浸水氣，晾乾後，去其裡面浮油及脊骨肚囊，用糖霜擦透其皮，並抹四圍肥處，（若用鹽亦可，然藏久易酵也。）懸風多無日之所，至夏煮食，或加鹽醬煨，味極香美，且無助濕發風之弊，為病後、產後、虛人食養之珍。</p>
<p><u>蘭熏</u>（一名火腿。）　甘鹹溫。補脾開胃，滋腎生津，益氣血，充精髓，治虛勞怔忡，止虛痢泄瀉，健腰腳，愈漏瘡。以金華之東陽冬月造者為勝，浦江、義烏稍遜，他邑不能及也。逾二年，即為陳腿，味甚香美，甲於珍饈，養老補虛，洵為極品。取腳骨上第一刀，（俗名腰封。）刮垢洗淨，整塊置盤中，飯鍋上干蒸悶透，如是七次，極爛而味全力厚，切食最補。然必上上者，始堪如此蒸食，否則非咸則硬矣。或老年齒落，或病後脾虛少運，則熬湯撇去油，但飲其汁可也。外感未清、濕熱內戀、積滯未淨、脹悶未消者均忌。時病愈後，食此太早，反不生力，或致浮腫者，皆餘邪未淨故耳！</p>
<p>附醃腿法：十一月內，取壯嫩花豬後腿，（花豬之蹄甲必白，㷟淨取下，勿去蹄甲，勿灌氣，勿浸水。）用力自爪向上緊捋，有血一股向腿面流出，即拭去。（此血不擠出，則至夏必臭。）晾一二日待乾，將腿面浮油細細剔淨，不可傷膜。（若膜破，或去蹄甲，則氣泄而不能香。）每腿十斤，用燥鹽五兩，（鹽不燥透，則滷味入腿而帶苦。）竭力擦透其皮，然後落缸，腳上懸牌，記明月日。缸半預做木板為屜，屜鑿數孔，將擦透之腿平放板屜之上，余鹽均灑腿面，腿多則重重疊之不妨。鹽烊為滷，則從屜孔流至缸底，醃腿以此為要訣，蓋沾滷則肉黴而必苦也。既醃旬日，將腿翻起，再用鹽如初醃之數，逐腿灑勻，再旬日，再翻起，仍用鹽如初醃之數，逐腿灑勻，再旬日，自初醃至此匝一月也，將腿起缸，浸溪中半日，刷洗極淨，隨懸日中曬之，故起缸必須晴日，若雨雪不妨遲待。如水氣曬乾後，陰雨則懸當風處，晴霽再曬之，必須水氣幹盡，皮色皆紅，可不曬矣。修圓腿面。入夏起花，以綠色為上，白次之，黃黑為下，並以菜油遍抹之。若生蟲有蛀孔，以竹籤挑出，菜油灌之。入伏裝入竹箱盛之。苟知此法，但得佳豬，處處可造。（常州造腿未得此法。）且後腿之外，余肉皆可按法醃藏，雖補力較遜，而味亦香美，以為夏月及忌新鮮者之用。</p>
<p>噤口痢，醃肉脯煨爛食。</p>
<p>中諸肉毒及諸食停滯，惡痢不瘳，並用陳火腿骨煅存性研，開水下。按：紀文達公云：油膩得灰即解散。故油膩凝滯之病，即以其物燒灰調脹，自愈，猶之以灰浣垢耳！余謂尚未盡然，如過食白果、荔枝而醉者，即以其殼煎湯飲之立解。吾杭市脯，獨香黏味美者，其煮豬肉或羊肉鍋中之湯，永不輕棄，但日撇浮油，加鹽添水煮之，名曰老汁，故物易化也。即純用秋油、醇酒，煨雞、鴨、鹿、豕等肉之滷鍋，亦功在老汁，故味美易糜。觀此則食物不消，當以本物消之之義，別有至理存焉。</p>
<p><u>豬脂</u>（俗呼板油）　甘涼潤肺，澤槁濡枯，滋液生津，息風化毒，殺蟲清熱，消腫散癰，通腑除黃，滑胎長髮。以白厚而不腥臊者良。</p>
<p>臘月煉之，瓷器收藏，每油一斤，入糖霜一錢於內，經久不壞。暑月生豬脂，以糖霜醃之，亦可久藏，此物性之相制也。外感諸病、大便滑瀉者均忌。</p>
<p>胞衣不下，小便不通，並以豬脂一兩，水一盞，煎數沸服。</p>
<p>小兒蛔病羸瘦，頻服豬油。</p>
<p>中諸肝毒，豬油一盞，頓服。</p>
<p>痘瘡，便秘四五日，肥豬脂一塊，水煮熟，切如豆大與食，自然臟腑滋潤，痂亦易落，無損於兒。</p>
<p>乳癰，發背諸腫毒，豬脂切片，冷水浸貼，熱即易，以散盡為度。</p>
<p>誤吞鐵釘，豬脂多食令飽，自然裹出。</p>
<p><u>豬腦</u>　性能柔物，可以熟皮。塗諸癰腫及手足皸裂，皆效。多食損人，患筋軟、陽萎。</p>
<p><u>豬𦚠</u>（俗作胰）　甘平潤燥，滌垢化痰，運食清胎，澤顏止嗽。凡婦人子宮脂滿不受孕，及交合不節而子宮不淨者，皆宜蒸煮為餚，久食自可受孕。妊婦食之，蠲胎垢，其兒出痘必稀。小兒食之，消積滯，可免疳黃諸病。且血肉之品，無克伐之慮，雖頻食亦無害也。所謂澤顏止嗽者，非用以作面脂而治肺也，食此則痰垢潛消，無穢濁熏蒸之弊，容顏自澤，而咳嗽自平矣。</p>
<p><u>豬肺</u>　甘平補肺，止虛嗽，治肺痿、咳血、上消諸證。用須灌洗極淨，煮熟，盡去筋膜，再煮糜化食，或和米作粥，或同苡仁末為羹，皆可。</p>
<p>豬之臟腑，不過為各病引經之用，平人不必食之。不但腸胃垢穢可憎，而肺多涎沫，心有死血，治淨匪易，烹煮亦難。君子不食豢腴，有以夫！</p>
<p><u>豬心</u>　甘鹹平。補心，治恍惚、驚悸、顛癇、憂恚諸證。皆取其引入心經，以形補形，而藥得祛病以外出也。煮極難熟。余病皆忌。</p>
<p><u>豬肝</u>　甘苦溫。補肝明目，治諸血病用為響導。余病均忌。平人勿食。</p>
<p>打傷青腫，炙豬肝貼之。</p>
<p>一切癰腫初起，新宰牡豬肝，切如瘡大一塊貼之。以布纏定，周時即愈。肝色變黑，狗亦不食。</p>
<p>陰癢，炙豬肝納入，當有蟲出。</p>
<p><u>豬膽</u>　苦寒。補膽清熱，治熱痢，通熱秘，殺疳蟲，去目翳，傅惡瘡，治厥顛疾，浴嬰兒，沐發生光。</p>
<p>小兒初生，豬膽汁入湯浴之，不生瘡疥。</p>
<p>喉痹，臘月朔，取豬膽不拘大小五六枚，用黃連、青黛、薄荷、殭蠶、白礬、朴硝各五錢，裝入膽內，青紙包了，掘一地窟，深方各一尺，以竹橫懸此膽於內，用板蓋定，候至立春日取出。待風吹去青紙膽皮，研末密收，每吹少許。</p>
<p>赤白痢，臘月豬膽百枚，俱盛黑豆入內，著麝香少許陰乾，每用五七粒為末，生薑湯下。</p>
<p>疔瘡惡毒，臘月豬膽風乾，和生蔥搗傅。</p>
<p>湯火傷，豬膽汁調黃柏末塗。</p>
<p><u>豬腰子</u>（豬內腎也）　甘鹹平。煮極難熟，俗尚嫩食，實生啖也。腰痛等證，用以引經，殊無補性，或煮三日，俾極熟如泥，以為老人點食，頗可耐飢。諸病皆忌，小兒尤不可食。</p>
<p>癰疽、發背初起，豬腰子一對，同飛面杵如泥傅。</p>
<p><u>豬石子</u>（外腎也）　甘鹹溫。通腎。治五癃、奔豚、莖痛、陰陽易、少腹急痛、顛癇、驚恐、鬼蛀、蠱毒諸證。無是病者勿食。</p>
<p><u>豬脾</u>（一名聯貼，俗名草鞋底）　甘平消痞，甚不益人。</p>
<p><u>豬胃</u>（俗呼豬肚）　甘溫補胃，益氣充飢，退虛熱，殺勞蟲，止帶濁遺精，散癥瘕積聚。肉厚者良。須治潔煨糜，頗有補益。外感未清、胸腹痞脹者均忌。</p>
<p>胎氣不足，或屢患半產及娩後虛羸，豬肚煨糜，頻食，同火腿煨尤補。</p>
<p>中虛久瀉，豬肚一枚，入蒜煮糜，杵爛，丸梧桐子大，每米飲下三十丸。</p>
<p>虛弱遺精，豬肚一枚，入帶心連衣紅蓮子煮糜，杵丸桐子大，每淡鹽湯下三十丸。</p>
<p><u>豬腸</u>　甘寒潤腸，止小便數，去下焦風熱，療痢、痔、便血、脫肛。治淨煨糜食。外感不清、脾虛瀉滑者均忌。</p>
<p>腸風臟毒，血痢不已，脫肛出血，並以豬大腸入槐花末令滿，縛定，以醋煮爛，搗丸梧子大，每二十丸，米飲下。</p>
<p><u>豬脬</u>　甘鹹涼。炙食，治夢中遺溺。</p>
<p><u>豬脊髓</u>　甘平。補髓養陰，治骨蒸勞熱，帶濁遺精。宜為衰老之饌。</p>
<p><u>豬血</u>　鹹平。行血殺蟲，余病皆忌。</p>
<p><u>豬蹄爪</u>　甘鹹平。填腎精而健腰腳，滋胃液以滑皮膚，長肌肉可愈漏瘍，助血脈能充乳汁。較肉尤補，煮化易凝。宜忌與肉同，老母豬者勝。</p>
<p>婦人無乳及乳癰、發背初起，並以母豬蹄一雙，通草同煮食，並飲其汁。</p>
<p>硇砂損陰，豬蹄一隻，浮萍三兩，煮汁漬之，冷即出，以粉傅之。</p>
<p><u>豬乳</u>　甘鹹涼。初生小兒飲之，無驚癇、痘疹之患；大人飲之，可斷酒。</p>
<p><u>狗肉</u>（廣南名曰地羊。）　本草云：味酸溫。中其毒者，杏仁解之。孕婦食之，令子無聲。時病後食之必死。道家謂之地厭。</p>
<p><u>羊肉</u>　甘溫暖中，補氣滋營，御風寒，生肌健力，利胎產，愈疝止疼。肥大而嫩、易熟不膻者良，秋冬尤美。與海參、蘆菔、筍、慄同煨，皆益人。加胡桃煮則不膻。多食動氣生熱。不可同南瓜食，令人壅氣發病。時感前後、瘧痢、疳疸、脹滿、顛狂、哮嗽、霍亂諸病，及痧痘瘡疥初愈，均忌。新產後，僅宜飲汁，勿遽食肉。</p>
<p>產後虛羸，腹痛覺冷，自汗帶下，或乳少，或惡露久不已，均用羊肉切治如常，煮糜食之。兼治虛冷勞傷，虛寒久瘧。</p>
<p><u>羊脂</u>　甘溫潤燥，治勞痢，澤肌膚，補胃耐飢，御風寒，療痿痹，殺蟲治癬，利產舒筋。多食滯濕釀痰。外感不清、痰火內盛者均忌。</p>
<p>婦人陰脫、赤丹如疥，並煎羊脂塗。</p>
<p>發背初起，羊脂切片，冷水浸貼，熱即易之。</p>
<p>誤吞針鐵，多食羊脂則自下。</p>
<p><u>羊腦</u>　甘溫。治風寒入腦，頭疼久不愈者良。多食發風生熱。余病皆忌。</p>
<p><u>羊骨髓</u>　甘溫，潤五臟，充液，補諸虛，調養營陰，滑利經脈，卻風化毒，填髓耐飢，衰老相宜，外感咸忌。</p>
<p><u>羊血</u>　鹹平，生飲止諸血，解諸毒，治崩衄及死胎不下，產後血悶欲絕，胎衣不落，並誤吞一切金石、草木、蜈蚣、水蛭者，均宜熱服即瘳。熟食但能止血，患腸風痔血者宜之。</p>
<p><u>羊脊骨</u>　甘溫補腎，利督強腰。脛骨磨銅，頭骨消鐵。</p>
<p>羸老胃弱，羊脊骨一具，捶碎，熬取濃汁，煮粥常食。</p>
<p>腎虛腰痛，羊脊骨一具捶碎，熬取濃汁，和鹽料食。</p>
<p>膏淋、虛濁、虛利，羊脊骨煅研末，米飲湯下二錢。</p>
<p>誤食金、銀、銅錢，羊脛骨煅研三錢，米飲下。</p>
<p>誤吞鐵物，羊頭骨煅研，調稀粥食。</p>
<p><u>羊肺</u>　甘平。補肺氣，治肺痿，止咳嗽，行水通小便，亦治小便頻數。病後產後、虛羸老弱，皆可以羊之臟腑煮爛食之。外感未清者均忌。</p>
<p><u>羊心</u>　甘平補心，舒鬱結，釋憂恚。治勞心膈痛如神。余先慈苦節撫孤，遂患此證，諸藥不應，食此即愈。後屢發，用之輒效，久食竟痊。</p>
<p><u>羊肝</u>　甘涼。補肝明目，清虛熱，息內風，殺蟲愈癇，消疳蠲忿。諸般目疾，並可食之。</p>
<p><u>羊膽</u>　苦寒。清膽熱，補膽汁。專療諸般目疾，兼治蠱毒瘡瘍。</p>
<p>目疾，羊膽汁點，或煮熟吞之。</p>
<p>代指，以指刺熱湯中七度，刺冷水中三度，隨以羊膽汁塗之。</p>
<p><u>羊腰子</u>（羊內腎也）　甘平。補腰腎。治腎虛耳聾，療癥瘕，止遺溺，健腳膝，理勞傷。</p>
<p><u>羊石子</u>（羊外腎也）　甘溫。功同內腎而更優，治下部虛寒、遺精、淋帶、癥瘕、疝氣、房勞內傷、陽萎陰寒、諸般隱疾。並宜煨爛，或熬粥食、亦可入藥用。下部火盛者忌之。</p>
<p><u>羊脬</u>　甘溫，補脬損，攝下焦之氣。凡虛人或產後患遺溺者宜之。</p>
<p><u>羊胃</u>（俗名羊肚）　甘溫補胃，益氣生肌，解渴耐飢，行水止汗。</p>
<p><u>羊腸</u>　甘溫補氣，健步固精，行水厚腸，便溺有節，故董香光秘傳藥酒方以之為君也。捶熟為線，堅韌絕倫，補力之優，於此可見。</p>
<p><u>牛肉</u>　章杏云云：牛為稼穡之資，天子無故不忍宰。祭祀非天神不敢歆，豈可妄殺乎？及觀《莊子》犧牛、耕牛之喻，知古人宰殺者惟犧牛，而耕牛必不殺也。袁存齋云：天生萬物，大概以有用於人為貴，律文宰牛、馬有禁，宰羊、豕無禁。所以然者，羊、豕無用於人，而牛、馬有用於人也。按此二說，皆通儒之論。余家世不食牛，奉祖訓而守禮法，非有惑於福利之說也，故不譜其性味。中其毒者，杏仁、蘆根汁、稻杆煎濃汁，人乳並可解之。</p>
<p>汪謝城曰：牛肉亦有可食者，其祭祀之胙乎，每見不食牛者，以此胙賜與儓，不免褻越。余有一法，以此牛供祭之後，用合霞天膠、黃明膠諸藥，不褻神余，又治民病，最為兩得。</p>
<p><u>馬肉</u>　辛苦冷，有毒。食杏仁或飲蘆根汁解之。其肝，食之殺人。</p>
<p><u>驢肉</u>　酸平有毒，動風。反荊芥，犯之殺人。</p>
<p><u>騾肉</u>　辛苦溫，有毒。孕婦食之難產。</p>
<p><u>野豬肉</u>　甘平。補五臟，潤肌膚。治顛癇、腸風、痔血。禁忌與豬肉同。蹄爪補力更勝。一切癰疽不斂，多年漏瘡，煨食即愈。其脂臘月煉過收藏，和酒服，令婦人多乳。服十日後，可給三四兒，素無乳者亦下。亦可塗腫毒、疥癬。</p>
<p><u>豪豬肉</u>（一名箭豬）　甘寒，有毒。多膏滑腸，能發風虛，不可多食。</p>
<p><u>虎肉</u>　酸鹹溫。作土氣，味不佳，宜醃食。補脾胃，益氣力，止多唾善嘔，闢精魅鬼瘧，入山則虎見畏之。其脂治反胃，塗白禿、凍瘡、痔瘡、狗咬瘡。</p>
<p><u>豹肉</u>　酸溫。安五臟，補絕傷，御風寒，闢鬼魅，壯筋骨，強健人。</p>
<p><u>熊肉</u>　甘溫。補虛損，殺勞蟲。治風痹，筋骨不仁。有錮疾者忌食。其蹯，（俗呼熊掌。）　益氣力，御風寒。極難胹，須用石灰沸湯剝盡，以酒、醋、水三件同封固，微火煮一晝夜，大如皮球，白肉紅絲，色味豔美。其背上脂，惟冬月有之，名熊白。功與肉同，味更美。其膽入藥，治疔疽，去翳息驚，為珍品。</p>
<p><u>象肉</u>　甘平。不益人，多食則體重。煮汁飲，通小便；煅灰服，治溺多；和油傅，愈禿瘡。其皮生肌，為瘡家收功藥。又治金瘡不合，塗下疳，並煅灰用。其牙，治風癇驚悸、內熱骨蒸、諸物鯁喉。通小便，療諸瘡、久痔，闢一切邪魅精物，並以生屑調服，外傅針刺諸物入肉。</p>
<p><u>羚羊肉</u>　甘平。治筋骨急強、中風，愈惡瘡，免蛇蟲傷。</p>
<p><u>山羊肉</u>（野羊也）　甘熱。治冷勞、赤白帶下，利產婦，闢嵐瘴，理筋骨急強。時病人忌之。其血破瘀生新，療跌打諸傷，筋骨疼痛、吐衄、瘀停諸病。</p>
<p><u>鹿肉</u>　甘溫。補虛弱，益氣力，強筋骨，調血脈，治產後風虛，辟邪。麋肉同功，但宜冬月炙食。諸外感病忌之。其茸、角、鞭、血皆主溫補下元，惟虛寒之體宜之。若陰虛火動者服之，貽誤匪淺。全鹿丸尤不可信，葉天士嘗闢之，不可不知也。</p>
<p>中風口眼喎斜，生鹿肉同生椒搗貼，正即去之。</p>
<p><u>麂肉</u>　甘平補氣，暖胃耐飢，化濕祛風，能瘳五痔。痞滿氣滯者勿食。</p>
<p><u>獐肉</u>（一名麕）　甘溫祛風，補五臟，長力，悅容顏。按《食療》云：八月至十一月食之，味美勝羊；十二月至七月食之，動氣。多食發錮疾，患消渴。</p>
<p><u>貍肉</u>　甘平。補中益氣，治諸疰，去遊風，療溫鬼毒氣，皮中如針刺，愈腸風下血及痔瘻如神。貍類甚多，惟南方有白麵而尾似牛者，名牛尾貍，亦曰玉面貍。專上樹木食百果，俗呼果子貍，冬月極肥美，亦可糟食。《內則》：食貍去正脊。若捕而畜之，鼠皆帖服不敢出。別種皆不堪食。</p>
<p><u>貒肉</u>（一名豬獾）　甘溫，補羸瘦，長肌，下氣，平咳逆。勞熱、水脹、久痢，煮食即瘳。野獸中佳品也。</p>
<p><u>獾肉</u>（一名狗獾。）　功與貒相似，兼能殺蛔蟲。黃瘦疳膨，食之自愈。</p>
<p><u>狼肉</u>　鹹溫。補五臟，御風寒，暖胃厚腸，壯陽填髓。其脂潤燥，治諸惡瘡。《內則》：食狼去腸。腹有冷積者最宜，陰虛內熱人忌食。狼肥豺瘦。諺云：體瘦如豺。故豺肉不堪食也。《食療》云：食豺令人瘦。</p>
<p><u>兔肉</u>　甘冷涼血，祛濕療瘡，解熱毒，利大腸。多食損元陽、令人痿黃。冬至後至秋分食之，傷人神氣。孕婦及陽虛者尤忌。兔死而眼合者，誤食殺人。</p>
<p><u>水獺肉</u>　甘鹹涼。清血熱，理骨蒸，下水通經，祛毒風，利大小便。多食消男子陽氣。其肝性熱，闢蠱殺蟲，補產虛，已勞嗽。治傳屍鬼疰、魚骨鯁喉、瘧久不瘳、心腹積聚、腸痔下血、寒疝攻疼。其爪搔喉，亦治骨鯁。</p>
<p><u>蝟肉</u>（俗名刺鼠）　甘平。下氣殺蟲，治反胃、痔漏。按：食此必去骨淨盡，誤食令人瘦劣。其皮煅研服，治遺精甚效。</p>
<p><u>雞</u>　甘溫補虛，暖胃，強筋骨，續絕傷，活血調經，拓癰疽，止崩帶，節小便頻數，主娩後虛羸。</p>
<p>以騸過、細皮肥大而嫩者勝。肥大雌雞亦良，若老雌雞熬汁最佳。烏骨雞滋補功優。多食生熱動風，凡時感前後，痘疹後、瘡瘍後、瘧痢疳疸、肝氣目疾、喉證、腳氣、諸風病，皆忌之。未騸者，愈老愈毒，諸病均不可食。惟辟邪宜用丹雄雞也。</p>
<p>中惡昏憒，丹雄雞一隻，安放病者心間，以雞頭向病人之面，雞伏而不動，待其飛下，病者亦蘇。</p>
<p><u>雞冠血</u>　老雄雞者力勝。治無故卒死，或寢臥奄忽而絕，皆是中惡。刺取雞冠血塗面上，干則再上，並滴入口鼻中。卒縊垂死，心中猶溫者，勿斷繩，刺雞冠血滴口中。卒然杵死不能言，刺雞冠血，和真珠末丸小豆大，納三丸入口中，小兒卒驚，似有痛處，不知疾狀，亦刺血滴口中。鬼擊卒死，刺雞冠血瀝口中令咽，仍彼此雞拓心下，冷乃棄之道旁。女人交接違禮血出，刺雞冠血頻塗。對口、發背諸毒，刺雞冠血滴疽上，血盡再換，不過五六雞，痛止毒散。淫浸瘡，不早治殺人，宜刺雞冠血塗，日四五次。蜈蚣、蜘蛛咬、馬咬成瘡、燥癬作癢，並刺雞冠血塗。中蜈蚣毒，舌脹出口者是也，刺雞冠血浸舌，並咽之。諸蟲入耳，雞冠血滴耳中。</p>
<p><u>雞膍胵</u>（一名雞內金）　治喉痹，雞內金勿洗，陰乾煅末，竹管吹之。一切口瘡，雞內金煅灰傅。鵝口白，雞內金為末，乳服五分。走馬牙疳，雞內金不落水者五枚，枯礬五錢，共研搽。小兒疣目，雞內金擦之自落。小兒瘧疾，雞內金煅存性，乳服，男用雌，女用雄。噤口痢，雞內金焙研，乳汁服。反胃，雞內金一具，煅存性研，酒下，男用雌，女用雄。發背初起，雞內金不落水者陰乾，用時溫水潤開貼之，隨干隨潤，以愈為度。發背已潰，雞內金同棉絮焙末擦。瘡口不合，雞內金日貼之。陰頭疳蝕，雞內金不落水拭淨，新瓦焙脆，出火毒，研細，先以米泔洗淨擦之，亦治口疳。穀道生瘡，雞內金燒存性，研末傅。</p>
<p><u>雞腸</u>　治遺濁、淋帶、消渴、遺溺、小便不禁或頻數無火者，並可炙食。</p>
<p><u>雞卵</u>（一名雞子，亦曰雞蛋）　甘平。補血安胎，鎮心清熱，開音止渴，濡燥除煩，解毒息風，潤下止逆。新下者良。並宜打散，以白湯或米飲，或豆腐漿攪熟服。若囫圇煮食，性極難熟，雖可果腹，甚不易消。惟帶殼略煮之後，將殼擊碎，再入瓷罐內，多加粗茶葉同煨三日，茶汁既入，蛋亦熟透，剝殼食之，色黑而味香美，不甚閉滯也。多食動風阻氣，諸外感及瘧、疸、疳、痞、腫滿、肝鬱、痰飲、腳氣、痘疹皆不可食。小兒、產婦，氣壯者幸食無恙，弱者多因此生疾，不可不知！</p>
<p>解野葛毒，雖已死者，抉開口，灌生雞子三枚，須臾吐出。</p>
<p>胎動下血，雞子二枚打散，粥湯攪熟服。</p>
<p>產後血暈，身痙直口，目向上，不知人，雞子清一枚，調荊芥末二錢灌之。</p>
<p>妊娠下血不止，血盡則子死，名曰胎漏，雞子黃十四枚，以好酒二升，煮如餳服，未止再服。</p>
<p>鳳凰胎，即雞卵抱已成雛而未出者，用為傷科長骨之藥甚妙。其殼名鳳凰衣，煅存性，研服，治勞復及小便不通暨飲停脘痛，外治痘瘡入目、白禿、聤耳、下疳、囊癰，均為妙品。</p>
<p><u>鵝</u>　甘溫，暖胃升津，性與葛根相似。能解鉛毒，故造銀粉者，月必一食也。鮮美，補虛益氣，味較雞、鶩為濃。動風發瘡，凡有微恙者，其可嘗試乎？肥嫩者佳，烤食尤美。其肫、其掌，性較和平，煨食補虛，宜於病後。其卵補中，滯氣更甚於雞。其血解一切金石毒，熱飲即瘥。其毛於銅鍋內炒焦，研末，豆腐皮包，酒吞服三錢，能內消諸般腫毒。</p>
<p><u>鴨</u>（本名鶩，一名舒鳧）　甘涼。滋五臟之陰，清虛勞之熱，補血行水，養胃生津，止嗽息驚，消螺螄積。雄而肥大極老者良。同火腿、海參煨食，補力尤勝。多食滯氣滑腸，凡陽虛脾弱、外感未清、痞脹腳氣、便瀉腸風，皆忌之。其血熱飲，救中惡、溺死及服金、銀、丹石、砒霜、野葛、鴉片、諸蠱毒，入咽即活。並塗蚯蚓咬瘡。其卵夜下，純陰性寒，難熟，滯氣甚於雞子，諸病皆不可食。惟醃透者，煮食可口，且能愈瀉痢。更有造為皮蛋、糟蛋者，味雖香美，皆非病人所宜。</p>
<p><u>雉</u>（一名野雞）　甘溫。補中益氣，止泄痢，除蟻瘻。冬月無毒。多食損人，發痔，諸病人忌之。勿與荍麥、胡桃、木耳、菌蕈同食。春、夏、秋皆毒，以其善食蟲蟻而與蛇交也。又諸鳥自死者，皆有毒，勿食。</p>
<p><u>鷓鴣</u>　甘溫。利五臟，開胃，益心神，解野葛、菌蕈、生金、蠱毒。南方之鳥也，飛必南翔，集必南首，故一名懷南。性屬火，多食發腦痛、喉癰。蓋天產作陽，本乎天者親上，飛禽之性無不升發，於鷓鴣何尤？</p>
<p><u>竹雞</u>　甘平。解野雞、山菌毒，殺腹內諸蟲。</p>
<p><u>鶉</u>　甘平。和胃，消結熱，利水化濕，止疳痢，除膨脹，愈久瀉。</p>
<p><u>鷃</u>（一作鵪）　甘平。清熱，療陰䘌諸瘡。</p>
<p><u>鷸</u>（與翡翠同名異物）　甘溫。暖胃補虛。</p>
<p><u>鴿</u>　甘平清熱，解毒愈瘡，止渴息風。孕婦忌食。卵能稀痘，食品珍之。</p>
<p><u>雀</u>　甘溫壯陽，暖腰膝，縮小便，已崩帶。但宜冬月食之。陰虛內熱及孕婦忌食。其卵利經脈，調衝任，治女子血枯、崩帶、疝瘕諸病。</p>
<p><u>燕窩</u>　甘平。養胃液，滋肺陰，潤燥澤枯，生津益血，止虛嗽虛痢，理虛膈虛痰。病後諸虛，尤為妙品；力薄性緩，久任斯優。病邪方熾勿投。其根較能下達。</p>
<p><u>鷦鷯</u>（一名巧婦，俗呼黃脰雀）　甘溫暖胃。</p>
<p><u>斑鳩</u>　甘平。養老和中，令人不噎。</p>
<p><u>鳲鳩</u>（即布穀）　甘溫。定志安神，令人少睡。</p>
<p><u>桑鳸</u>（一名臘嘴雀。）　甘溫補胃。</p>
<p><u>鶯</u>（《詩》云黃鳥。《左傳》曰青鳥。《爾雅》名商庚。《說文》謂黃鵬。《月令》作倉庚）　甘溫。舒郁和肝，令人不妒。</p>
<p><u>鴷</u>（啄木鳥也）　甘平。開膈，利噎，平驚，追勞蟲，已痔漏。牙疳、齒齲，煅末塞之。</p>
<p><u>鴇</u>　甘平。補虛，已風痹病。</p>
<p><u>鳧</u>（野鴨也）　甘涼。補脾腎，祛風濕，行水消腫，殺蟲，清熱，開胃運食。療諸瘡、癇。病後虛人，食之有益。肥而其喙如鴨者良，冬月為勝。</p>
<p><u>鸊鷉</u>（一名刁鴨，一名油鴨）　甘平。補中開胃。</p>
<p><u>雁</u>　甘平。解毒祛風。多食動氣，君子勿食，以其知陰陽之升降，少長之行序也。道家為之天厭。</p>
<p><u>鵠</u>（一名天鵝）　甘平。醃炙食之，利臟腑。</p>
<p><u>鷺</u>（即鷺鷥）　咸涼。炙熟食，解魚蝦毒。其卵似鴨卵，稍銳而色較青，土人混入鴨卵中售之。氣腥而冷，更不宜人。</p>
<p><u>鴞</u>（亦作梟，俗呼貓頭鳥）　甘溫。補虛勞，殺蟲，闢鬼魅，開胃消食，利噎平驚。治痁瘧顛癇，愈惡瘡鼠瘻。炙食味美，古人所珍，《莊子》「見彈而求鴞炙」是也。病後及衰弱、勞瘵人最宜。惟孕婦忌之。</p>

<h1>鱗介類</h1>
<p>（附蠶蛹、䥱螽）</p>
<p><u>鯉魚</u>　甘溫下氣，功專行水，通乳，利小便，滌飲，止咳嗽。治妊娠子腫，敷癰腫骨疽。可鮮可脯，多食熱中，熱則生風，變生諸病，蓋諸魚在水，無一息之停，發風動疾，不獨鯉也。以鯉脊上有兩筋，故能神變而飛越江湖，為諸魚之長，品雖拔萃，性不益人。杭俗以其為聖子之諱，相戒勿食，最通。其兩筋及黑血皆有毒。天行病後及有宿癥者均忌，醉者尤甚。曩余遊婺，見烹此者，必先抽去其筋，而他處不知也。甚以醉鯉為病人珍味，豈不誤人？</p>
<p><u>鱮魚</u>（一名鰱魚）　甘溫暖胃，補氣澤膚。其腹最腴，烹鮮極美，肥大者勝，醃食亦佳。多食熱中、動風發疥。痘疹、瘧痢、目疾、瘡家皆忌之。</p>
<p><u>鱅魚</u>（亦作溶魚，一名鱃魚，俗呼包頭魚，以其頭大也）　甘溫。蓋魚之庸常以供饈食者，故命名如此。其頭最美，以大而色較白者良。</p>
<p><u>鯇魚</u>（音混，俗作鱔，非。）　甘溫。暖胃和中。俗名草魚，因其食草也。婺州云間以其色青也，誤以青魚呼之。禾人名曰池魚，尤屬可笑。夫池中所蓄之魚，豈獨鯇而已哉！</p>
<p><u>青魚</u>　甘平。補氣養胃，除煩懣，化濕祛風，治腳氣、腳弱。可鱠、可脯、可醉。古人所謂五候鯖即此。其頭尾烹鮮極美，腸臟亦肥鮮可口，而鬆江人呼為烏青，金華人呼為烏鯔，杭人以其善啖螺也，因呼為螺螄青。其膽臘月收取陰乾，治喉痹、目障、惡瘡、魚骨鯁，皆妙。</p>
<p>上五種，皆購秧而蓄之，故無子。惟鯉魚則溪河亦有，故間有有子者。</p>
<p>膾　以諸魚之鮮活者劊切而成。青魚最勝，一名魚生。沃以麻油、椒料，味甚鮮美，開胃析酲。按《食治》云：凡殺物命，既虧仁愛，且肉未停冷，動性猶存，烹飪不熟，食猶害人。況魚膾肉生，損人尤甚，為癥瘕，為錮疾，為奇病，不可不知。昔有食魚生而成病者，用藥下出，已變魚形，膾縷尚存；有食鱉成積者，用藥下出，已成動物而能行，可不戒哉！</p>
<p>鮓　以鹽糝醞釀而成，俗所謂糟魚、醉鯗是也。惟青魚為最美，補胃醒脾，溫營化食。但既經糟醉，皆能發疥動風，諸病人均忌。</p>
<p><u>鱒魚</u>（一名赤眼魚）　甘溫。補胃暖中。多食動風生熱。</p>
<p><u>鯔魚</u>　甘平。補五臟，開胃，肥健人。與百藥無忌。湖池所產，無土氣者良。腹中有肉結，俗呼算盤子，與腸臟皆肥美可口，子亦鮮嫩，異於他魚。江河產者遜之，但宜為臘。</p>
<p><u>白魚</u>（一名鱎魚）　甘溫。開胃下氣，行水助脾，發痘排膿，可醃可鮓。多食發疥、動氣、生痰。</p>
<p><u>鱤魚</u>（即鰥魚，一名黃頰魚）　甘溫暖胃，與鱒略同。</p>
<p><u>石首魚</u>（一名黃魚，亦名江魚）　甘溫開胃，補氣填精。以大而色黃如金者佳。多食發瘡助熱，病人忌之。醃而臘之為白鯗，性即和平，與病無忌。且能消瓜成水，愈腹脹、瀉痢。以之煨肉，味甚美。太平所產，中伏時一日曬成，尾彎色亮，味淡而香者最良，名松門臺鯗，密收，勿受風濕，可以久藏。煮食開胃，醒脾，補虛活血，為病人、產後食養之珍。按古以乾魚為鮑魚，《禮記》謂之𥻆，諸魚皆可為之。《內經》治血枯有之，後人聚訟紛紛，迄無定指。愚謂臺鯗，雖生嚼不腥，性兼通補，入藥宜用此為是。其鰾甚薄，不為珍品，但可熬膠耳！</p>
<p><u>鮸魚</u>　形似石首魚而大，其頭較銳，其鱗較細。鮮食味遜，但宜為臘。《正字通》以為即石首魚者，誤也。鮸，本音免，今人讀如米。其鰾較石首魚者大且厚，干之以為海錯，產南洋者佳。古人名為鱁鮧，煨爛食之，補氣填精，止遺帶，大益虛損。外感未清、痰飲內盛者勿食，以其膩滯也。又治諸血證，療破傷風如神。</p>
<p><u>勒魚</u>　甘平開胃，暖臟補虛。大而產南洋者良。鮮食宜雄，其白甚美；雌者宜鯗，隔歲尤佳。多食發風，醉者更甚。</p>
<p><u>鯧魚</u>（亦作䱽。）　甘平補胃，益血充精。骨軟肉腴，別饒風味。小而雄者勝。可脯可鮓。多食發疥動風。</p>
<p><u>鰣魚</u>　甘溫開胃，潤臟補虛。其美在鱗，臨食始去，厥味甚旨，可蒸可糟。諸病忌之，能發錮疾。鱗可為鈿，亦可拔疔。</p>
<p><u>鮆魚</u>（亦作鱭。）　甘溫補氣。肥大者佳，味美而腴，亦可作鮓。多食發瘡助火。以溫州所產有子者佳。干以為臘，用充方物，味甚鮮美，古人所謂子魚是也。大者尤勝，食品珍之，與病無忌。</p>
<p><u>鱸魚</u>　甘溫，微毒。開胃安胎，補腎舒肝。可脯可鮓。多食發瘡、患癖。其肝尤毒，剝人面皮。中其毒者，蘆根汁解之。</p>
<p><u>𩺀魚</u>（其美在脊也，俗作鯽魚，一名鮒魚）　甘平開胃，調氣生津，運食和營，息風清熱，殺蟲解毒，散腫愈瘡，止痢止疼，消疳消痔。大而雄者勝。宜蒸煮食之。外感邪盛時勿食，嫌其補也，余無所忌。煎食則動火。</p>
<p>痔血，鯽魚常作羹食。</p>
<p>酒積下血，酒煮鯽魚常食。</p>
<p>浸淫瘡，生鯽魚切片，鹽搗貼，頻易。</p>
<p><u>魴魚</u>（一名鯿魚）　甘平。補胃養脾，去風運食。功用與鯽相似。產活水中、肥大者勝。</p>
<p><u>鱖魚</u>（一名鯚魚）　甘平。益脾胃，養血，補虛勞，殺勞蟲，消惡血，運飲食，肥健人。過大者能食蛇，故有毒而發病。</p>
<p><u>䱂魚</u>（一名渡父魚，俗呼土鮒，亦曰菜花魚。）　甘溫暖胃，運食補虛。春日甚肥。與病無忌。</p>
<p><u>鰷魚</u>（一名白條，小者名䱗條）　甘溫暖胃，助火發瘡，諸病人勿食。</p>
<p><u>銀魚</u>（一名鱠殘魚）　甘平。養胃陰，和經脈。小者勝。可作干。</p>
<p><u>蠡魚</u>（一名黑鱧，亦名烏鱧，亦曰黑魚，即七星魚）　甘寒行水，化濕祛風，稀痘愈瘡，下大腹水腫、腳氣，通腸療痔，主妊娠有水膚浮。病後可食之。道家以為水厭。</p>
<p>稀痘，除夕黃昏，用大黑魚一尾，煮湯浴小兒，七竅俱到，不可嫌腥，以清水洗去也，甚驗。</p>
<p>水氣垂死，腸痔下血，黑魚一斤重者煮汁，和冬瓜、蔥白作羹食。</p>
<p>偏正頭風，陳黑魚頭，煎湯熏數次斷根。</p>
<p><u>鱘魚</u>　甘溫補胃，活血通淋。多食發疥患癥。味佳而性偏劣，作鮓亦無補益，鼻脯味美療虛，子主殺蟲，味亦肥美。</p>
<p><u>鰉魚</u>（亦作黃，本名鱣，一名蠟魚，亦名玉版魚）　甘溫補虛，令人肥健。多食難化，發疥生痰。作鮓極珍，亦勿多食。反荊芥。其肚及子，鹽藏頗佳，其脊骨、顋、鼻、唇、鬐，皆肥美脆軟，以充珍錯。其鰾最良，固精止帶。</p>
<p><u>鮠魚</u>（亦作⿳丽龷比回，一名白⿰草力）　甘溫行水調中。多食能動錮疾。</p>
<p><u>鮫魚</u>（即沙魚）　甘平。補五臟。作鮓甚益人，其皮亦良，解諸魚毒，殺蟲闢蠱，愈傳屍勞。煨肉味佳，滋陰補血。鬣翅以清補勝，煨糜甚利虛勞。</p>
<p><u>烏鰂</u>（亦作烏賊，一名墨魚）　鹹平。療口咸，滋肝腎，補血脈，理奇經，愈崩淋，利胎產，調經帶，療疝瘕，最益婦人。可鮮可脯。南洋所產淡乾者佳。骨名海螵蛸，入藥功相似。</p>
<p>卒然吐血，小兒痰齁，並以海螵蛸末二錢，米飲下。</p>
<p>跌打出血，海螵蛸末傅。</p>
<p><u>比目魚</u>（本名鰈，一名箬魚）　甘平。補虛，多食動氣。</p>
<p><u>鮎魚</u>　甘溫。微毒。利小便，療水腫。痔血肛痛，不宜多食。余病悉忌。反荊芥。口眼喎斜者，活切其尾尖，朝吻貼之。</p>
<p><u>黃顙魚</u>（俗呼黃刺魚）　甘溫。微毒。行水祛風，發痘瘡。反荊芥。</p>
<p><u>河豚魚</u>（一名西施乳）　甘溫。補虛去濕，療痔殺蟲。反荊芥、菊花、桔梗、甘草、附子、烏頭。中其毒者，橄欖、青蔗、蘆根、金汁，或槐花微炒，同干胭脂等分，搗粉，水調灌之。其肝、子與血尤毒。或云去此三物，洗之極淨，食之無害。然衛生者，何必涉險以試耶！</p>
<p><u>帶魚</u>　甘溫暖胃，補虛澤膚。產南洋而肥大者良。發疥動風，病人忌食。作鯗較勝，冬醃者佳。</p>
<p><u>鱝魚</u>（一名荷魚，俗呼鍋蓋魚）　甘鹹平。尾有毒。主玉莖澀痛、白濁膏淋。性不益人。亦可作鯗。</p>
<p><u>海䖳</u>（一名樗蒲魚，即水母也）　鹹平。清熱消痰，行痰化積，殺蟲止痛，開胃潤腸。治哮喘、疳黃、癥瘕、瀉痢、崩中、帶濁、丹毒、顛癇、痞脹、腳氣等病。諸無所忌。陳久愈佳。</p>
<p><u>蝦</u>　甘溫，微毒。通督壯陽，吐風痰，下乳汁，補胃氣，拓痘瘡，消癥瘕，傅丹毒。多食發風動疾，生食尤甚。病人忌之。</p>
<p>海蝦　性味相同，大小不一，產東洋者尤佳。鹽漬暴乾，乃不發病，名式甚夥，厥味皆鮮。開胃化痰，病人可食。其子可醃、可暴，味亦鮮美。</p>
<p><u>海參</u>　鹹溫滋腎，補血健陽，潤燥調經，養胎利產。凡產虛、病後、衰老、尪孱，宜同火腿或豬羊肉煨食之。種類頗多，以肥大肉厚而糯者，膏多力勝。脾弱不運、痰多便滑、客邪未盡者，均不可食。</p>
<p><u>蟾蜍</u>　甘苦涼。清熱殺蟲，消疳化毒，平驚散癖，行濕除黃，止痢療溫，愈諸惡瘡及猘犬咬。凡小兒瘡家、疫病，並宜食之，其肝尤良。其眉間白汁有大毒，名蟾酥，為外科要藥。</p>
<p>發背腫毒初起，取活蟾蜍一隻，系放瘡上半日，蟾必昏憒，置水中救其命。再易一隻如前法，蟾必踉蹌，再易一隻。必俟蟾如故，則毒散矣。</p>
<p><u>田雞</u>（一名水雞）　甘寒清熱，行水殺蟲，解毒愈瘡，消疳已痔。多食助濕生熱。且肖人形而殺之甚慘。孕婦最忌。其骨食之患淋。</p>
<p><u>鰻鱺</u>　甘溫。補虛損，殺勞蟲，療癘瘍瘻瘡，祛風濕。湖池產者勝，肥大為佳。蒸食頗益人，亦可和麵。苗亦甚美，名曰鰻線。然其形似蛇，故功用相近。多食助熱發病。孕婦及時病忌之。且其性善鑽，能入死人、死畜腹中，唼其膏血。不但水行昂首，白點黑斑，四目無腮，尾扁過大者，始為毒物也。尊生者慎之！產海中者，形大性同，名狗頭鰻，多醃為臘。瘡痔家宜食之，余病並忌。</p>
<p><u>鱓</u>（俗作鱔，亦呼鱔魚）　甘熱。補虛助力，善去風寒濕痹，通血脈，利筋骨。治產後虛羸，愈臁瘡痔瘻。肥大腹黃者勝，宜與豬脂同煨。多食動風，發疥，患霍亂損人。時病前後，瘧疸脹滿諸病，均大忌。黑者有毒，更有蛇變者，項下有白點，夜以火照之，則通身浮水上，或過大者皆有毒，不可不慎也。其血塗口眼喎斜、赤遊風，滴鼻止衄；滴目治疹後生翳。</p>
<p><u>鰌</u>（俗名泥鰍）　甘平。暖胃壯陽，殺蟲收痔。耕牛羸瘦，以一條送入鼻中，立愈。</p>
<p><u>蚺蛇</u>　甘溫。治諸瘡癘，闢蠱殺蟲，化毒祛風，除疳御瘴，療猘犬咬。味美勝雞。燒酒浸之，歷久不壞。膽為傷科聖藥，腹內之油縮陽。雄蛇之如意鉤，又為房術妙品。</p>
<p><u>白花蛇</u>　甘鹹溫。祛風濕，治半身不遂，口面喎斜，風癘癧瘍，骨節疼痛，痘瘡倒陷，搐搦驚癇，麻痹不仁，黴瘡疥癬。頭尾甚毒，去盡用之。產蘄州者良，雖乾枯而目光不陷，故一名蘄蛇。凡飲蛇酒，切忌見風。</p>
<p><u>烏蛇</u>　甘平。治諸風頑痹，皮膚不仁，熱毒癩瘡，眉髭脫落。功並白蛇，性善無毒。《朝野僉》載：商州有人患大風，家人惡之。為起茅屋，有烏蛇墮酒罌。時病人不知，飲酒漸瘥，罌底見有蛇骨，始知其由。</p>
<p>一法，以大烏蛇三條，蒸熟，取肉焙末，蒸餅，丸米粒大，以喂烏雞，待盡，殺雞烹熟，取肉焙研末，酒服一錢，或蒸餅丸服，不過三五雞愈。</p>
<p>一法，用大烏蛇一條，打死，盛之待爛，以水二碗，浸七日，去皮骨，入糙米一升，浸一日，曬乾，用白雞一隻，餓一日，以米飼之，待毛羽脫盡，殺而煮食，以酒下之，吃盡，用熱湯一盆，浸洗大半日即愈。</p>
<p>或謂君以限於篇幅，雖穀肉果菜，未及遍搜。顧因鰻、鱓而類及於蛇，豈以其形相若耶？然毒物惡可以供饌也？余曰：子但知蛇之毒，不可以供食，而不知腊之以為餌，可已大風、攣踠、瘻癘，去死肌，殺三蟲。更有烏蛇之性善無毒，誤飲其酒者，大風遂愈。此非常之士，能立非常之功也。彼鰻、鱓者，世以為尋常食品，竟有食之即死者，此庸碌之人，往往僨事也。類而譜之，可為任才者循名不責實之鑑，豈徒為飲食之人費筆墨哉！</p>
<p><u>龜</u>　四靈之一，變化神通，本非食品，亦與蛇匹。有殺之而得禍者，有食之而即死者，書家所載甚多，茲不具贅。不但為孕婦所忌也。其殼入藥，但可煎熬末而服之，能還本質。</p>
<p><u>鱉</u>（一名團魚，亦曰甲魚）　甘平。滋肝腎之陰，清虛勞之熱，主脫肛崩帶，瘰癧癥瘕。以湖池所產，背黑而光澤，重約斤許者良。宜蒸煮食之，或但飲其汁則益人。多食滯脾，且鱉之陽聚於上甲，久嗜令人患發背。孕婦及中虛、寒濕內盛、時邪未盡者，切忌之。又忌與莧同食。回回不食鱓、鱉，謂之無鱗魚。凡鱉之三足者，赤腹者，赤足者，獨目者，頭足不縮者，其目四陷者，腹下有王字、卜字紋者，過大者，在山上者，有蛇紋者，並有毒殺人。或云薄荷煮鱉亦害人。其殼入藥，亦不可作丸散服。</p>
<p>人咬指爛，久而欲脫，及陰頭生瘡，諸藥不愈者，鱉甲煅存性研，雞子清調傅。</p>
<p><u>黿</u>　甘平，有毒。難死通靈。異味損人，勿輕染指。</p>
<p><u>蟹</u>　甘鹹寒。補骨髓，利肢節，續絕傷，滋肝陰，充胃液，養筋活血。治疽愈痎，療跌打骨折筋斷諸傷，解鱔魚、莨菪、漆毒。殼主辟邪破血，爪可催產墮胎。種類甚繁，名號不一，以吳江、烏程、秀水、嘉興、海昌等處河中所產、霜後大而脂滿者勝。和以薑、醋，風味絕倫。多食發風，積冷。孕婦及中氣虛寒、時感未清、痰嗽、便瀉者均忌。別種更寒，尤不益人。中其毒者，紫蘇、冬瓜、蘆根、蒜汁，皆可解之。反荊芥，又忌同柹食。誤犯則腹痛吐利，急以丁香、木香解之。海產者黃堅滿而無膏不鮮。並可鹽漬、酒浸、糟醬久藏。得皂莢則不沙。</p>
<p><u>鱟</u>　辛鹹平。殺蟲療痔。多食發嗽及癬瘡。腋以為鮓，俗呼鱟醬。</p>
<p><u>蠣黃</u>　甘平。補五臟，調中，解丹毒，析酲止渴，活血充肌。味極鮮腴，海錯珍品。周亮工比為太真乳。殼名牡蠣，入藥。</p>
<p><u>蚌</u>　甘鹹寒。清熱滋陰，養肝涼血，息風解酒，明目定狂。崩帶、痔瘡，並堪煨食。大者為勝。多食寒中。外感未清，脾虛便滑者，皆忌之。</p>
<p><u>蜆</u>　甘鹹寒。清濕熱，治目黃、溺澀、腳氣，洗疔毒、痘、癰諸瘡。殼黃而薄者佳。多食發嗽、積冷。</p>
<p><u>蛤蜊</u>　甘鹹寒。清熱解酒，止消渴，化癖除癥。多食助濕生熱。</p>
<p><u>蟶</u>　甘平清胃，治痢除煩，補產後虛，解丹石毒。可鮮可臘。時病忌之。</p>
<p><u>蚶</u>　甘溫補血，潤臟生津，健胃暖腰，息風解毒。治泄痢膿血、痿痹不仁。產奉化者佳。可炙可鮓。多食壅氣。濕熱盛者忌之。殼名瓦楞子，入藥滌飲消癖、破血止疼。傅牙疳，皆有效。</p>
<p><u>鰒魚</u>　甘鹹溫。補肝腎，益精明目，開胃養營，已帶濁崩淋，愈骨蒸勞極。體堅難化，脾弱者飲汁為宜，殼入藥，名石決明，主鎮肝磨障。</p>
<p><u>淡菜</u>　甘溫補腎，益血填精。治遺帶崩淋、房勞產怯、吐血久痢、膝軟腰疼、痃癖癥瘕、臟寒腹痛、陽萎陰冷、消渴癭瘤。干即可以咀食，味美不腥。產四明者，肉厚味重而鮮，大者彌勝。</p>
<p><u>江瑤柱</u>　甘溫補腎，與淡菜同。鮮脆勝之，為海味冠。乾者咀食，味美不腥，嬌嫩異常，味重易化。周棟園比之梅妃骨。其殼如淡菜，上銳下平，大者長尺許，肉白而韌，不中食，美惟在柱也。瀕湖以為海月者，謬已。</p>
<p><u>璅𤥐</u>　甘平開胃，滋液補虛，化濁升清，聰耳明目。按璅𤥐狀似珠蚌，殼青黑色，長寸許，大者二三寸，生白沙中，不汙泥淖，乃物之最潔者也。有兩肉柱，能長短。又有數白蟹子在腹中，狀如榆莢，合體共生，常從其口出，為之取食。然璅𤥐清潔不食，但寄其腹於蟹，蟹為璅𤥐而食，食在蟹而飽在璅𤥐，故一名共命螺，又名月蛄。每冬大雪，則肥瑩如玉，日映如雲母，為海錯之至珍。至海鏡，即海月也，一名石鏡，亦名蠣鏡，又呼膏藥盤，土人磨其殼以為明瓦者。一殼相合甚圓，肉亦瑩潔。有紅蟹子居其腹為取食，名曰蚌奴，與在璅𤥐腹者白蟹子，各不同也。</p>
<p><u>西施舌</u>　甘平開胃，滋液養心，清熱息風，涼肝明目。海錯美品，得此嘉名，實即車蛤也。</p>
<p><u>海螺</u>　甘冷明目，治心腹熱痛。靨名甲香，主管領諸香。</p>
<p><u>田螺</u>　甘寒清熱，通水利腸。療目赤、黃疸、腳氣、痔瘡。多食寒中。脾虛者忌。性能澄濁，宜蓄水缸。</p>
<p>小便不通，腹脹如鼓，大田螺，鹽半匕，生搗敷臍下一寸三分。亦治水氣浮腫，同大蒜、車前搗貼。</p>
<p>噤口痢，大田螺二枚杵爛，入麝香三分，作餅烘熱貼臍間半日，即思食矣。</p>
<p>腳氣上衝，大田螺杵爛，傅兩腿上。</p>
<p>疔毒、痔瘡，田螺入冰片，化水點之。</p>
<p><u>螺螄</u>　甘寒清熱，功遜田螺。過清明不可食。</p>
<p><u>海螄</u>　咸涼。舒郁，散結熱，消瘰癧。</p>
<p><u>吐鐵</u>　鹹寒補胃，明目析酲。以大而肉嫩無泥，拖脂如凝膏，大如本身者佳。產南洋，醃者味勝，更以蔥酒醉食，味益佳。</p>
<p><u>蠶蛹</u>　甘溫補氣，止渴殺蟲。治疳積、童勞，助痘漿、乳汁。繅絲後濾干，曬焙極燥，可以久藏。氣香最引蜈蚣，故須密收。炙食味佳。患腳氣者忌之。猘犬咬者，終身勿犯，誤食必難免也。</p>
<p><u>䘀螽</u>　䘀從阜，言其生息之繁；螽從冬，言其子能歷冬不死，必得大雪，則入土也。種類不一，形狀稍殊，《春秋》書之。以其害稼，實即蝗之屬也。若旱年水涸，魚蝦諸子，悉化䘀螽之類而食禾，人始稱為蝗矣。故平時之䘀螽，旱歲之蝗，北人皆炙而食之。辛甘溫。暖胃助陽，健脾運食。餵豬最易肥腯。</p>
<p>按：捕蝗雖有法，必得大雨而始息者。蝗得水而復可為魚蝦也。嗚呼！猶之民失教以為盜賊，誅之必不勝誅；得有善教者，何難復化為民耶？譜飲食，以水始，以蝗終。讀是書者，毋使民之失教，如魚蝦之失水，則蝗飛何至蔽天？庶不徒為飲食之人矣。</p>
<p>吾師嘗自書楹帖云：近人情之謂真學問，知書味即是活神仙。（開第）謂：讀書破萬卷者多，識此十六字者鮮。必識此十六字，方許讀是書。</p>

<h1>跋</h1>
<p>昔汪信民先生曰：人嘗咬得菜根，則百事可做。噫！豈為咬菜根者言耶！</p>
<p>國朝湯文正公撫吳時，日給惟薺韭。其公子偶市一雞，公知之，立召公子跪庭下，責之曰：惡有士不嚼菜根而能作百事者哉？即遣去。奈何世之肉食者流，竭人脂膏，供其口腹，豢其妻孥，以為分所應爾。及當天下事，則碌碌無所措。暴殄天物，莫此為甚。飲不思源，則為忘本，此夢隱《飲食譜》之所由作也。夢隱名重三江，傳食諸候數十年。會世有亂徵，歸處窮鄉，布素自甘，粹然儒士。門以內，不佞佛，亦不殺生。蓋儉以養廉，淡以寡欲，安貧之道於是，卻疾之方於是。而其立身養生之有素者，慨然欲與世共而譜是書。書先水穀。水，食之精也；谷，食之本也。調和為制宜之具也，蔬果亦日用之常也，故曰飲曰食，而考之實，辨之詳。毛羽鱗介不言食，以非人人可常食也，至穀食以番藷終，救荒之功也。至蔬食以菽乳終，薄海之常饌也。義例謹嚴，意寓懲戒，美不勝書。書所管見者，蘇文忠公云：屠殺牛羊，刳臠魚鱉，以為饍羞，食者甚甘，死者甚苦。故無故不殺，聞聲不食，古聖賢於斯三致意焉。則是書之微意，實通古今而酌其宜，豈若愚人佞佛持戒殺之說而終不可行者耶？且夢隱嘗處膏脂而不潤，今食糠㖨而充，然蓋無人而不自得也。是編之纂，直胥天下後世而飲食之、教誨之，顧可以養生卻病一端視之哉！余敢述其微，以告夫世之肉食者。</p>
<p><u>咸豐辛酉仲冬秀水董耀枯匏</u></p>

<h1>跋</h1>
<p>春秋戰爭七十國，而顏淵、原憲之徒以陋巷終者，其時天下尚能容隱君子也。夫隱君子者，或高尚其事而隱，或功成身退而隱，或時不可為而隱，或不堪從政而隱，類皆有地以容其隱者也。否則，托跡於農、工、樵、賈、緇黃、末伎之流，以自食其力而隱。其途雖殊，其歸則同。更或力不能為農、工、樵、賈、緇黃、末伎者，如留侯、鄴侯之隱於白雲鄉；劉、阮、陶、李之隱於醉鄉；司馬長卿以溫柔鄉隱；希夷先生以睡鄉隱，尤為隱中之尤著者也。吾友海昌王君，抱有用之才，無功名之志，操活人之術，而隱於布衣。此海豐張雨農司馬以為奇人，而吾鄉莊芝階中翰稱曰隱君子也。余謂惟奇人斯能隱，王君身雖隱而名望日隆，邀遊公卿數十年，知劫運釀成，莫從挽救，飄然歸籍，貧無立錐，嘗著《歸硯錄》以見志。乃不數年，而遍地荊榛，硯田蕪穢，癡無所用，身亦難潛。君號半癡，而顏其室曰潛齋。今夏挈眷來此，米珠薪桂，並日而食，因纂《飲食譜》以攄懷，易字曰夢隱。噫！顧仁術猶不能容於擾攘之世，而欲追步希夷，隱於睡鄉，以待承平之日哉！是譜以水始，以蝗終，寓意深矣。夢隱身嘗世味，如辨淄澠，豈治亂之理，果可徵之人事歟！初，省垣以重兵自衛，縻餉年餘，秋杪被圍，至六十餘日，升米三千，斤蔬七百，草根掘盡，餓斃者以數萬計；卒以兵潰城陷，死於鋒鏑及自殉者亦以萬計；其被擄與流轉而死者，又不可以數計。千古名城，遂無噍類，蝗飛蔽天之禍，竟至是耶！嗚呼，慘矣！韓子云：食焉而怠，其事必有天殃，殃之及也，生民塗炭，可不痛哉！是書言近而旨遠，吾願後之覽者，無負其苦心焉。爰抒聞見，跋諸卷尾。</p>
<p><u>咸豐辛酉嘉平秀水呂大綱慎庵</u></p>
