<header data-type="book">
<h1>針學通論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="佐藤利信">佐藤利信</data></dd></div>
<div><dt>底本</dt><dd>*收錄於《皇漢醫學叢書》第十冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>凡例</h1>
<p>—此書。本欲使瞽者就針術之學。故要字句簡略。若文字深艱。學者恐難以記憶也。蓋所以誘導瞽者學於針科者也。天降生民。精神各有等差焉。容貌亦有好醜焉。人之愚者。因教而為有知識。然天賦之畸形。雖神醫亦不能奈之何。就中如瞽者。則為不幸極端。誠可憫憐者也。惟尚有辨明遠近之區別。及萬物之外貌者。喑啞。聾跛之類是也。獨瞽者反之。不能判斷色澤紋理。不能諦認道途遠近。故授業於彼。亦舍針術而他無好機焉。因而所以施余之婆心。於彼輩亦不過之。</p>
<p>—古來指示刺針之訣。所謂俞穴。然此書現今因所行於世解剖者。而定其針局。故盡改俞穴。稱局名。</p>
<p>—書中偶有插入洋語。蓋洋語者。所用泰西醫學之原語。襲用之也。</p>
<p>一書中所以不採針局之名稱於漢法者。方今當萬國交通之際。殆如不適時態。故悉除之。但限緊要之個所。則記漢名。又代漢名。由解剖而定名稱。如謂施針頭於何筋之起始。何仙蔑篤兒。然予固不敏。學亦陋淺。有何為焉。故待後之訂正者也。</p>

<h1>第一章　定形</h1>
<figure>
<img alt="第一圖　第二圖">
</figure>
<p>森羅萬象固是無形。自然成焉。唯為其形也。有圓。有扁。有角。有長短。或有大小厚薄。故定形之法。宜從尺度。然尺度。亦各國其制不同。獨用佛國之蔑篤兒尺。則謂無大等差矣。蓋一蔑篤兒者。概當我三尺強矣。但尺者寸十倍之稱。然謂寸。謂尺。亦其根據創於大極。大極者。謂斥象無形之點。譬以針頭沖物體。則如第一圖。更謂如呈一個之點者也。又一點之傍。加一點倍增。加而橫連列之點。則為一文字之形。名曰地平線。恰如橫針之象。如第二圖。又從地平線之中心。向上下而畫線者。名曰鉛直線。如直立針。既縱橫二線相合。則為十字形。又加十字形之間。漸次追間隙。以作十字形。又施點於各線末端之間。點連作環。然後假除去十字形。則如第三圖。</p>
<figure>
<img alt="第三圖　第四圖">
</figure>
<p>唯殘一輪。名曰圓。譬猶針干之橫斷面。蓋圓輪之內畫十字形。且從十字形之中心。一方之橫線。與縱線相對。則所謂為九十度之角。譬猶人身直立橫開上肢。則如第四圖顯腋下角度是也。故圓輪之角度。成於三百六十。而一個之其角悉銳。譬第五圖如烏嘴。反九十度之角鈍矣。又半割圓輪者。名曰孤線。譬擬眼窩緣如第六圖。又象九十度自橫線之極端。縱線與並行。而更覆割孤線。畫鉛直線。且當二個縱線之末端。引橫線則所謂為角。第七圖是也。譬欲象用四個之針。則先置一個針於縱線。又一個針者。以針長之距離。令並行。而殘針二個者。橫並行縱針之上下。則所謂為角。又從角之一隅。對他隅而更引斜線。則得二個三角形。三角形者。人身直立。而開足於左右。則顯股間。如第八圖是也。</p>
<figure>
<img alt="第五圖">
</figure>
<figure>
<img alt="第六圖　第七圖　第八圖">
</figure>

<h1>第二章　古今針之種類</h1>
<figure>
<img alt="第九圖　第十圖">
</figure>
<figure>
<img alt="第十一圖　第十二圖">
</figure>
<figure>
<img alt="第十三圖">
</figure>
<p>古有制九針法。如第九圖。第十圖。第十一圖是也。內經曰。虛實之要。九針最妙者。為其各有所宜也。注曰。熱在頭身。宜鑱針。分肉氣滿。宜圓針。脈氣虛少。宜鍉針。瀉熱出血。發泄。痼病。宜鋒針。破癰腫。出膿血。宜鈹針。調陰陽。去暴痹。宜圓利針。治經絡中痛痹宜毫針。痹深居骨解腰脊。節腠之間者。宜長針。虛風。舍於骨解皮膚之間者。宜大針。此之謂各有所宜也。（以下略）然而。所用治療之針者。近世雖有如第十二圖柳葉針。或如第十三圖三稜針等。若千種類。各是。所用瀉血法之針。而所謂屬外科的器具也。是以適針術者。無勝毫針。又針者。以金屬製之。蓋金屬之通性。除水銀。他金屬在常溫。則悉屬固形體。又存一種礦輝。又其色。各礦色不同。有淡白。有青色。有灰白色。但在黃金及銅則具固有之色。又金屬者。各雖不透明獨如黃金者。槌為箔則通光線。又金屬者。溫且電氣之好導體也。故銀自銅易導。銅自黃金易導矣。又遇適應之溫。則雖得熔融。多是得結晶者也。又金屬者。堅軟各異之。又所以有用工業。無他。易展延。由難摧折。又輕金屬。大氣之酸素與親和力。甚強。氣中速酸化。雖失光澤。又金屬親和力。弱故永遠。可得保光澤。又金屬與水素無化合之性。又白金及黃金。投沸騰硫酸。亦敢不熔解。銀及他金屬。能可熔解硝酸。又如銀及黃金者其分子。凝聚至緻密。故制之宜作毫針。</p>

<h1>第三章　銀針及金針之性質</h1>

<h2>第一款　銀</h2>
<p>（所在）有純銀。又為硫化銀礦。又硫黃及砒素。或有使安質母尼化合。總他金屬混。化合物現出矣。偶其小量混硫化鉛。</p>
<p>（製法）不混合他金屬。則製法。亦簡易。其遊離者於爐中熔融。而除去不潔物。如硫化銀礦者。於爐中加高度之熱。而熔融。則全得銀。</p>
<p>（性狀）銀者。白色金屬。而能無變化氣中。其比重一○五也。煅至千度。則為熔融。又遇爆鳴瓦斯火焰熱。則蒸餾。又使易溫熱及電氣導。又捶則為箔片。又牽延。則為細微線。又銀者。不論熱高低。均無酸素與化合。雖然。熱之熔融之際。能使自溶二十倍酸素。攝收。將冷卻。還固形。當此期。復放離之。其放離際發特異之音。謂名之銀沸迸。銀者含有硫化水素。故觸大氣。則被黑色鏽衣。是由化生其硫化銀。又有格魯兒。貌魯繆母。及沃度。與親和力甚盛。而直與之化合性。又遇鹽酸。亦不論溫度之高低。渾雖無侵。遇濃厚熱硫酸溶液。則使硫酸銀化成。且溶解於其中。又常溫於硝酸能使銀溶解。終以硝酸銀化生焉。</p>

<h2>第二款　黃金</h2>
<p>（所在）是能以遊離。存在地中及河海。雖然。多是含礦質中銀。</p>
<p>（製法）坊間所販黃金者。必不純精。若不混銀。則必混銅焉。又欲制其純金。則宜投礦塊於硝酸。然則其混合物中在礦塊銀等。而悉雖可溶解。獨黃金。決無侵之而殘留於其溶液中。</p>
<p>（性狀）黃色光輝。其質柔軟。槌可為箔片。又牽延。則為細微線。其比重一九三二也。若白熾熱。遇千百度。則熔化為淡綠色液。又取箔片。透見之。則能呈綠色於氣中。或於酸素中。以烈火煅之。亦敢不酸化。又冒濕氣不生鏽。鹽酸。硫酸或煮硝酸。亦敢無侵。唯以王水。則溶解於化格魯兒化金。又黃金之鹽溶液。為諸般還元劑。蓋遇綠礬。亞格魯兒化錫。蓚酸。及諸金屬。則為褐色粉末沉澱矣。然而其金且其化合物。亦皆是受高溫則分解。以還元。生金矣。</p>

<h1>第四章　針之區別及名稱</h1>
<figure>
<img alt="第十四圖">
</figure>
<p>夫制針者。別頭。鋒。腳。柄。於四部。針頭者。則尖端而紡錐形。針鋒者。其體圓且長細。但具上下二端。上端顆粒狀。下端存竇。又常針。其長概用我二寸強。又針腳者。突入於柄之下端。其竇中。且柄質與密著。其柄亦向金屬製。而其大。雖五倍十倍針鋒。其長僅不過二仙。又針頭者穿皮霄。使組織刺入之部。而針鋒。與針柄者。則是依術者。被使役之部也。</p>

<h1>第五章　針洗潔法</h1>
<p>片山氏曰。古來針家曰。雖謂無起化膿於刺針部。誠是攝生上不注意之至也。宜擬一定之防腐。而不可有無其法焉。然矣。譬猶有施刺針於傳播性之患者。直行以其針於他之患者。則恰是不異傳播性之病毒。因彼接種法試之。是以一回所用患者之針者。悉投於盛五十倍之石炭酸水。平缽之陶器。宜洗滌針鋒及針尖。洗滌後拭之。可用花綿布。而全至無針鋒之微濕。後更以柔軟制鹿皮。叮嚀反復。拭淨其針鋒。而可藏針函。</p>

<h1>第六章　針貯藏法</h1>
<figure>
<img alt="第十五圖">
</figure>
<p>凡所貯藏制針之函。雖由各自之嗜好者。恐莫優鱉甲制者。是由⿰扌神原氏等之經驗。亦然矣。漆工制。木製次之。蓋針函。則先函底內面。更鋪平磨銅板。且堆積版面以棉花。又包絡綿花。以赤色絹。或緋縮緬悉覆之。而日常欲安置針。則斜針鋒。或為地平線。但其針頭聊令穿絹面。徐徐進針鋒於綿花之堆積中。漸至以柄之下端而止矣。</p>

<h1>第七章　針頭硎磨法</h1>
<p>凡針頭尖銳甚。則當臨穿表皮。患者有感惡痛。然若紡錐形。則其針頭進入組織之中。亦患者不訴惡痛者也。是以甲硎法有損治術。乙磨法知有益。雖然。是大有關係術者之巧拙者也。諺曰莫邪之劍因持手。有味哉。又欲知硎磨之精練者。則先用面積緻密白色楮紙。可以試之。其式左手取紙。右手持針。徐徐刺衡紙面。亦敢莫聞幽音。況且其紙面快以貫通為可者也。反而如呈微音者。惟其針之硎磨。不至精良。</p>

<h1>第八章　制針番數之理由</h1>
<figure>
<img alt="第十六圖　第十七圖">
</figure>
<p>凡制針者。自一番至七番。而尋常所用之針者。三番乃至四番。是也。將五番以上之針者。多是用最急性之患者也。仮令。如施卒倒。或眩暈症之類。而自一番至二番。則用彼小兒。或老叟等之體質軟弱者。蓋一番之針鋒。比較其直徑於蚊嘴。自二番以上以順。令針鋒之實質為增積之。殆至七番。則擬似蜂劍。是以。三番。四番。位於其中間者也。</p>

<h1>第九章　記號配點</h1>
<figure>
<img alt="第十八圖　第十九圖">
</figure>
<p>假所以配置記號於手部各處者。無他。當行針術。大欲使術者得便利者也。則名左手拇指腹。為A點。名同食指腹。為B點。名同中指腹。為C點。名同副指腹。為D點。名同小指腹。為E點。名同掌心。為F點。名同手掌外側緣。為G點。又名右手拇指腹。為H點。名同食指腹。為L點。名同中指腹。為M點。名同副指腹。為N點。名同小指腹。為O點。名同掌心。為P點。名同掌外側緣。為Q點。</p>

<h1>第十章　刺針一般</h1>
<figure>
<img alt="第二十圖　第二十一圖　第二十二圖">
</figure>
<p>既診斷了後。患者衣服厚。則適宜取除之。沉意正形。而開針函。容所出之。針柄上端。於杉山氏管之下口。此際管之上口斜於下方。下口向於上方。更反轉管之下口。使針局密接。且其接端者。以A　B暫時押之。且顯其管之上端打針柄。以L捷手二三回。此際極力則患者訴痛。不用力。亦不能使針頭穿皮膚。況且各人之皮膚堅軟異之。宜注意矣。蓋針頭。全知穿皮膚。則以H　L摘管之上端。徐徐拔去其管。此時以A　B近針頭插鋒。則此是A　B二點。所謂為押手。又以H　L為副手夫押手者。常可翦置下端。又當進入針鋒皮膚。宜酌量患者之強弱與感應。若察患者之愉快。則可知應針頭分子之波動虛。反之而患者訴疼痛。則可知分子之波動實。內經曰。刺虛者。段其實。解云刺實須其虛者。為針陰氣隆。至針下寒。乃去針也。刺虛須其實者。為針陽氣隆。至針下熱。乃去針也。注曰。要以氣至。而有效也。○總而主針之掌面者。左右相共空洞之。形仮令如擁雞卵。抑亦欲下氣。則針鋒副B點。而捻。欲上氣。則針鋒副A點。而捻。或以順有行。或由逆有施。難經曰。氣滑則針出疾。氣澀則針出遲。氣隆則針小而入淺。氣澀則針大而入深。深則欲留。淺則欲疾。（中略）以刺針者。永留則神經之感應。亦反有不屢無效已。令患者疲勞。故淺深遲疾。響波。稽留。臨機行之。蓋施術之後。三十分乃至五十分時間。可命安臥患者。</p>

<h1>第十一章　正式及變式</h1>
<figure>
<img alt="第二十三圖">
</figure>
<p>凡刺針之法者。宜由正式及變式治療之。術者。宜斟酌患者之急慢。與肥瘠。內經曰。上工守神。神乎神客有門。未睹其疾。惡知其源。刺之微。在遲速。櫟因曰刺針部。宗氣聚來。則將欲逐邪氣。所謂經氣至是也。誠然矣。其氣未至。引針則不能逐邪氣。故無益治愈。反之而其氣雖至。不去針則似塞邪氣之出路。又是無利治術。是以氣之至速。則刺針進。退亦速之。氣之至遲。則其法遲之。</p>

<h2>第一款　正式</h2>
<p>取刺針之方向。於鉛直線。溶溶然進針頭。終始相共。不失其規。而徐徐行。是謂正式。多是用正式者也。又正式有二種。其一曰。操柄針。（圖略）其二曰。揉下針。則第十八圖是也。</p>

<h2>第二款　變式</h2>
<p>凡取刺針之方向。於銳角。終始間斷臨機。或稽留。凡揮發。或潑潑乎為針頭之動者。稱變式。曰斜行針。第二十圖是也。又將欲行針法。於貴要之部。則宜用此式。但變式之針法者。取地平線之方向。而進入其針局。況亙組織間道程。雖長。亦針頭至淺。故無與害患者。而舉例。則流行性感冒。謂施本式於顱頂骨與顳顬骨之間。其縫際部之類。</p>

<h1>第十二章　補法及瀉法</h1>
<figure>
<img alt="第二十四圖">
</figure>
<p>內經曰。補虛者。必先捫而循之。切而散之。推而按之。彈而怒之。抓而下之。通而取之。外引其門。以閉其神。呼盡納針。靜而久留。以氣至為故候。吸引針。氣不得出。各在其處。推闔其門。命神氣。存大氣。留止。命曰補虛瀉實者。吸則納針。無令氣忤。靜以久留。無令邪布。吸則轉針。針以得氣。為故候。呼引針。呼盡乃去。大氣皆出。故命曰瀉。又曰。補者。隨經脈。推而納之。左手閉針孔。徐出針而疾按之。瀉者。迎經脈。動而伸之。左手閉針孔。疾出針。而徐按之。隨而濟之。是謂補。迎而奪之。是謂瀉。又一說云。補者。刺針於呼息。拔吸息。而揉其針痕。瀉者刺針於吸息。拔呼息。而不揉其針痕也。</p>

<h1>第十三章　被黏著牽引拔針法</h1>
<figure>
<img alt="第二十五圖">
</figure>
<p>被刺針之牽引。有不拔。是必竟受筋肉分子之凝聚力故也。理學的曰。凝聚力者。隨異物體中分子之位置。自為強弱之區別。蓋凝聚力之強弱。隨熱度之增減而生矣。即倒比溫度。又凝聚力者。獨不固體耳。亦存液體。雖然。有液體。則自己之重力卻而勝凝聚力。是以使分子容易動搖。故如彼唯不較著己。則患者之元氣。亦欲為相逼迫也。故術者此際。使彼我之意靜穩。更當其下傍。刺他針。然而可拔初針。或輕打不拔針柄之上端。以俟其進入而後拔去針。亦是可也。</p>

<h1>第十四章　不可施針症</h1>
<p>一曰格列羅。二曰赤痢。三曰腸窒扶斯。四曰發疹。窒扶斯。五曰痘瘡。六曰實扶的里亞（以上六病者。猛劇之傳染病也。故衛生上。大加警戒是以所慎針家也。依而省之。）七曰丹毒。八曰酒客。九曰勞動過多。十曰憤怒者。十一曰飽滿。十二曰飢餓。十三曰熱度高者。十四曰流汗。十五曰煩渴。十六曰衰耗。十七曰怖驚。十八曰下車後。十九曰乘船後。</p>

<h1>第十五章　折針拔取法</h1>
<p>凡刺針。在筋肉組織間。而動則有折其鋒。是有術者由失策。或有針質由不煅練。然則靜肅沉意。必不可放押手。尚以A　B捷手可壓縮其皮膚。必可得發顯折針之鋒端。但此際不可使患者動搖。至若患者動搖。則彼折針。曲行於筋肉中。復難發顯者也。（因曰。患者突然發咳之際。有如斯者也。）</p>

<h1>第十六章　刺針禁局</h1>
<p>凡針局之可禁部。大別。為頭首及顏面。胸腹。脊柱。四肢之七款。</p>

<h2>第一款　頭首</h2>
<p>對前頭縫合　漢名　（神庭）</p>
<p>對前頭百會　同　（囟會）</p>
<p>對耳上筋起始　同　（角孫）</p>
<p>對後頭動脈孔　同　（顱息）</p>
<p>對勁靜脈孔　同　（玉枕）</p>
<p>對顱頂孔　同　（絡郄）</p>
<p>對後頭百會　同　（腦戶）</p>

<h2>第二款　顏面</h2>
<p>對顴骨顳顬管　漢名　（客主人）</p>
<p>對下眼窠孔　同　（承泣）</p>

<h2>第三款　胸部</h2>
<p>對腋下動脈經路　同　（雲門）</p>
<p>對胸骨劍身之中央　同　（膻中）</p>
<p>對胸骨劍尖之下方　同　（鳩尾）</p>

<h2>第四款　腹部</h2>
<p>對臍部上一應　漢名　（水分）</p>
<p>對臍中窩　同　（神關）</p>
<p>對臍下二應　同　（石門）</p>
<p>對示丨ハルト氏韌帶　同　（橫骨）</p>
<p>對會陰　同　（同　）</p>

<h2>第五款　脊柱</h2>
<p>對胸椎第五椎下（或外側）　同　（神道）</p>
<p>對胸椎第六椎下　同　（靈臺）</p>

<h2>第六款　上肢</h2>
<p>對肩胛內緣。與鎖骨中央之內陷　漢名　（缺盆）</p>
<p>對三角筋。頭靜脈開口部　漢名　（肩井）</p>
<p>對上膊骨內上髁上方。凡三應。　漢名　（五里穴）</p>
<p>對上膊骨外上髁上方。凡一應。　同　（青靈）</p>
<p>對內橈骨筋腱之補側。　同　（三陽）</p>
<p>對短外轉拇筋起始部。　同　（合谷）</p>

<h2>第七款</h2>
<p>對股動脈之通路　同　（箕門）</p>
<p>對比目魚筋　同　（承筋）</p>
<p>對脛骨之內踝　同　（三陰交）</p>

<h1>第十七章　筋肉揉按</h1>
<p>凡筋肉者。雖有隨意不隨意之二種。自有所其主宰。而各使骨格圍擁。且其筋肉者。由神經之刺劇。而或起感覺。或催收縮。又如筋肉之肥瘠者。則所分布其筋肉之血管。關係得其營養與否。又揉按。將使其筋肉之收縮。或痙攣等復常形。故揉按者。先刺針。而有施之。又刺針後有行之。然而欲行揉按者。則先術者之手掌面。宜拭清。而後可接患者。況手術中。使患者之體格。不可動搖。又揉按者。以手掌及指腹。叮嚀反復。雖不如行之。或用肘角。或手背。或握手。如與響音者。則有外飾。亦卻而為之。非有效驗。</p>

<h1>第十八章　螺旋管之用法</h1>
<p>刺針之際。寒威凜冽。則仮令。有雖厚患者之衣服。難除去之。不凜冽。亦依患者之弊。而有絡厚衣。然則可用螺旋管。蓋螺旋管者如杉山氏管。圓甬管之實質中。謂設螺旋狀之裝置管。且其用法。先以A　B探察衣服之厚度。豫定其方寸。仮今其服之厚假定二仙。則延長螺旋部。亦為同等二仙。又假定一仙亦然矣。蓋螺旋管者。伸縮適宜。足得為術者之隨意者也。又其管質者。以銀製為善良。又其形有八角。或有圓甬形。但有管口之兩緣。若不圓滑者。則當治術之際。令患者之皮膚。剔剝。是以管口之緣端。為善圓滑。而惡粗糙且有銳角者。</p>

<h1>第十九章　針頭電氣力與導法</h1>
<p>穿進針頭。於皮膚之組織。則必先至所充各組織。使分子更發生波動。又依其分子波動。而分布其所神經。亦聿起感覺者也。蓋波動發興。亦大須寒心注意焉。凡針療。有初試者。有數回者。有亙數月者。有一周年。且至數歲者。譬有初試者。則概先其感極而敏。且有呈不快。反之。而受針療之日亙長久。能在知針效者。則仮令雖鈍術。敢如不介意者。故診斷之際。憶察為其初試者。則施之制針。亦可用二番等。且勿可與響。又亙針療長久者。施之。則番數稍升大。亦刺針時間。且可與響。苟刺針時間無制度。只一局耳。久時行之。則奏效變。有釀害理學的。有言曰。取活蛙。直剝棄下肢表皮。且從腰部橫斷之。當其縫匠筋。以釘（消極及積極屬）尖頭令牴觸。則大腿。下腳。相共能呈伸縮。猶行之數回。且至長時間。則其筋麻痹。終為強直。嗚呼萬法。至其度則呈妙效。過其度則卻而作害。唯是。以中庸為至德。又欲導電氣力於左方。則用力。於A之爪端外方。反之。欲施電氣力於右方。則加力於B之爪端C側方。此際患者。若發乾咳。則全身為之受其震動。故動則有針折鋒術者。不可有不注意焉。</p>
