<header data-type="book">
<h1>孕育玄機</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陶本學</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1722">公元1722年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>古昔聖人憫民生疾痛顛危，作《靈》、《素》以明病源脈理，興醫藥以濟其殃枉，初無分於男女也。後世以病候多端，奈何以一人之心，兼理眾病，責其成功，故析醫教，各使專科，而婦人亦為一科矣。所謂擇科而醫，醫道之衰也。婦人雜病，無異男子。古稱難治者，難於悉其望聞問切之詳也，況胎產之尤難者乎。蓋病在旦夕，變在須臾，或虛或實，當補當瀉，玄機活法，必素日講習既明，而後可以投劑不訛也。倘生平無考究之詳，臨期乏運用之智，以狐疑未決之心，投含糊孟浪之劑，如夜行無燭，鮮不顛仆，良乎然哉！山人慨世人有婦人之專科，而無胎產之良訣，陳、薛二家著心頗佳，余如《產寶》、《便產》等方，並散見於各書者，未見發揮爽朗之妙，則治產者無所適從矣。雖其所投輒應，而閨閫皆春得乎。為是不揣拙鄙，旁求博採，仍取陳、薛諸家之言，擴以生平所歷之驗，斟酌損益，一證一論，縷析條分，彙輯成編，名曰《孕育玄機》。首「調經」，惟經正而生育可期也；次「保胎」，惟胎全而子嗣可興也；次「產後」，惟治產有法而母子全也。循是以治，而通以應變之宜，庶可轉危而安。昔之難者，今之易乎，專科者不有所規繩而為畫一之治乎？後之子孫世守其言，益加研礪，臻於上乘，又予心之所深望者矣。</p>
<p><u>天啟龍飛首歲辛酉七月既望之後五日　</u></p>
<p><u>會稽山人陶本學泗源氏題　</u></p>
<p><u>康熙五十二年癸巳七月望後　</u></p>
<p><u>後學乾堯謹錄</u></p>

<h1>卷上</h1>

<h2>調經總訣</h2>
<p>婦人經病，多是氣盛血虛，宜順氣養血為先。經水或前或後，或多或少，或逾月不來，或一月兩來，俱是不調之故也。先期而來，血虛有熱，當補血清熱，其經自准。過期不來作痛，乃血虛有寒，溫經養血，其痛自止。將來作痛，腹中陣陣，乍作乍止，血實氣滯，當行經順氣，痛自息也。經行著氣，心腹腰脅俱發疼痛，乃瘀血也，順氣消瘀，病即已矣。過期紫黑成塊，氣鬱血滯，涼血去瘀，順氣自平。過期色淡，乃痰多也，活血化痰。過期作痛，血虛有熱，生血清熱，導瘀行氣。過多不止，久之而成血崩，涼血補血。行後作痛，氣血俱虛，補氣養血。去多不止，乃發腫滿，是脾經血虛，健脾養血消腫。月水不行，發生腫滿，是瘀血滲入脾經，活血健脾，行氣消腫。日久不行，腹脅有塊作痛，是為血結癥瘕，調經止痛，塊能漸消。他如錯經妄行，口鼻出血，是火載血而上行氣亂也，滋陰降火，順氣調經。但脈若芤澀而不治，必成虛怯。經行身痛麻痹，寒熱頭疼，因觸經感冒，用五積散之類是也。</p>

<h2>調經</h2>
<p>有天地然後有萬物，有萬物然後有男女，有男女然後有夫婦，有夫婦則生育之道所不已也。欲使生育，在於調經。若使經不調而生育者，未之能也。《素問》曰：「女子二七而天癸至，任脈通，太衝脈盛，月事以時下，故有子。」夫所謂月事以時下者，蓋言三旬以一來，則氣血和平，不冷不熱，不先不後，應時而下，不爽其候，乃謂之經，萬古不易之常道也。以和平之氣血，而交合以時，則胎孕乃成矣。若不調，則有先期而行者，有逾期而行者，有將行而作疼者，有行後而作痛者，有經行不止者，有經水不通者。夫先期而至者，血之熱，用四物加芩、連之類。逾期者，血之虛，四物加參、耆、白朮之類。過期而色淡者，有痰也，二陳加芎、歸之類。經水紫黑色及有塊者，血熱也，四物加芩、連、香附之類。若診肝腎脈遲微小，腹冷痛者，屬寒，四物加炒乾姜之類。將行而作疼者，血實而氣滯也，四物加莪朮、玄胡、木香；挾熱加黃連、木香；或四物加桃仁、紅花、香附之類。行後而作痛者，氣血俱虛也，八物湯。經行不止者，四物加阿膠、地榆、荊芥穗之類。經水不通者，八物湯加紅花、丹皮、桃仁、牛膝之類。要知經脈不調者，氣血之不和也。不和則生生之機滅息矣。然所以致其不和而不調者，豈無因哉？或天稟之素弱，而氣血之本虛；或勞心於世務，而真元之耗損。此皆足以致婦人之病，而經之不調，所由然矣。然則思欲生子，必使調經，舍調經而曰別有種子之仙丹，吾不信矣。</p>
<p>薛云：心脾和平則經候如常。苟或七情內傷，六淫外侵，飲食失節，起居失宜，脾胃虧損，心火妄動，先期用至者血熱；後期而至者血虛。然先期而至者，有因脾經血燥，有因脾經鬱火，有因肝經怒火，有因血分有熱，有因勞後火動。過期而至，有因脾經血虛，有因肝經血少，有因氣虛血弱。主治之法，脾經血燥者，加味逍遙散；脾經鬱火者，歸脾湯；肝經怒火者，加味小柴胡湯；血分有熱者，加味四物湯；勞後火動者，補中益氣湯；脾經血虛者，人參養榮湯；肝經血少者，六味地黃丸；氣虛血弱者，八珍湯。蓋血生於脾土，故云脾統血。凡血病當用甘苦之劑，以助陽氣而生陰血也。</p>
<p>一云：痰多佔住血海地位，因而下多，目必漸昏，肥人有之。以南星、蒼朮、川芎、香附作丸服之。肥人脂滿經閉者，導痰湯加芎、歸、芩、連，不可多用地黃，即用宜薑汁拌炒。肥人少子，亦由多痰，脂膜閉塞，子宮不能攝受陽精而施化也，宜服前藥。瘦人少子，因子宮無血，精氣不聚，可用四物湯養陰等藥。</p>
<p>加味逍遙散</p>
<p>當歸　白芍　茯苓（各錢半）　柴胡（八分）　甘草（四分）　白朮（一錢五分）</p>
<p>加丹皮、黑山梔各一錢。上水煎服。</p>
<p>歸脾湯</p>
<p>嫩黃耆　云白朮　制遠志　酸棗仁　木香　人參　茯神　炙甘草　龍眼肉</p>
<p>上薑棗水煎。</p>
<p>加味四物湯</p>
<p>當歸　生地　白芍　川芎　（加）白朮　茯苓　柴胡　丹皮</p>
<p>水煎。</p>
<p>加味小柴胡湯</p>
<p>柴胡　半夏　人參　黃芩　甘草</p>
<p>加生地，薑棗水煎服。</p>
<p>補中益氣湯</p>
<p>黃耆　人參　炙甘草　白朮　陳皮　當歸　升麻　柴胡</p>
<p>上薑棗水煎。</p>
<p>人參養榮湯</p>
<p>人參　當歸　黃耆　白朮　陳皮　白芍　熟地　五味子　遠志　桂心　茯苓　炙甘草</p>
<p>薑棗水煎。</p>
<p>六味地黃湯</p>
<p>熟地　山萸肉　淮山藥　白茯苓　丹皮　澤瀉</p>
<p>上水煎服。</p>
<p>八珍湯</p>
<p>白朮　茯苓　炙甘草　人參　當歸　地黃　白芍　川芎</p>
<p>水煎服。</p>

<h2>經行先期</h2>
<p>經血有先期而至者，其因不同：有因血分有熱，有因肝經怒火者，有因勞後火動。治法：血分有熱者，加味四物湯；肝經怒火者，加味逍遙散；勞後火動者，補中益氣湯。</p>
<p>愚按：經行先期，各有不同：有先一二日者，有先三四五六日者，有先一十餘日者，總一血熱之故。蓋熱有微甚不同，故行有早暮不齊耳。</p>
<p>加味四物湯　治經水先期血分熱。</p>
<p>當歸　川芎　白芍　阿膠　黃連　生地　艾葉　甘草　條芩　香附</p>
<p>水煎，空心服</p>
<p>加味逍遙散　補中益氣湯（二方見調經）</p>

<h2>經行過期</h2>
<p>經血有過期而至者，所因亦不同焉：有因脾經鬱滯，有因脾經血虛，有因肝經血少，有因氣虛血弱。治法：脾經鬱滯者，歸脾湯；脾經血虛者，人參養榮湯；肝經血少者，六味地黃丸；氣虛血弱者，八珍湯。</p>
<p>又云：後期三五日者，為血虛，四物湯加參、耆、白朮、陳皮、升麻；瘦人只是血少，四物湯，倍歸、地，少加桃仁、紅花；肥人多痰，二陳湯，加南星、蒼朮、滑石、芎、歸、香附；來少色和者，四物湯；內寒血澀，來少或遲五六日以上者，四物加桃仁、紅花、丹皮、葵花。</p>
<p>歸脾湯　人參養榮湯</p>
<p>八珍湯　六味地黃湯（四方俱見調經）</p>

<h2>經血錯亂妄行</h2>
<p>婦人經血，一月一行，不失其候，故謂之月信。無病之人，應時而至。或前或後，以氣之冷熱不同，虛實各異也。又有一月之內三四至者，或五六日一來，或十日一來，或半月一來，謂之錯經妄行。古云：錯經妄行者，氣之亂也。蓋血隨氣行，氣亂則血亦亂，理固然耳。然豈無致之之因乎？究其因，或因於脾氣困弱，不能統攝，致血下陷而然者；或由於血虛血熱，沸騰而然者；或由於心多愁郁，不能主血而然者；或由於肝有鬱火，血不歸經而然者。所因不同，治法各異。慎毋曰：血熱則行，專以寒涼之藥止之也。若脾經虛弱者，用補中益氣湯加地榆之類；血虛血熱者，四物湯加芩、連之類；心多愁郁者，四七湯兼歸脾湯之類；肝有怒火者，小柴胡湯加山梔、香附、膽草之類，俱以順氣之藥佐之。氣一順，則血循經而錯妄者愈矣。</p>
<p>又按：有經行之日，出於口鼻，是火載血上，治當滋陰降火。有三月一行者，是謂居經，俗名按季。有一年一行者，是謂避年。有一生經不行而受胎者，是謂暗經。有受胎之後，月月行經而產子者，是謂盛胎，俗名垢胎。有受胎數月，血忽大下，而胎不殞者，是謂漏胎。此雖以氣血有餘、不足言，而異於常矣，此皆錯妄之類。然錯妄者，病也。調經者，所當亟治者也。若居經、避年之類，乃稟賦所然，固不必療以藥矣，醫家不可不知也。</p>
<p>補中益氣湯　歸脾湯（二方見調經）</p>
<p>四物湯</p>
<p>當歸　地黃　川芎　白芍</p>
<p>水煎。</p>
<p>四七湯</p>
<p>半夏　茯苓　厚朴　藕葉</p>
<p>姜水煎。</p>
<p>小柴胡湯</p>
<p>柴胡　半夏　人參　黃芩　甘草</p>
<p>姜水煎。</p>

<h2>經行作痛</h2>
<p>夫經行而作痛者，血實氣滯也。又云：風冷客於胎絡衝任，或傷手太陽、手少陰經，用溫經湯、桂枝桃仁湯；若憂思氣滯而血滯，用桂枝桃仁湯、地黃通經丸。</p>
<p>薛云：風寒傷脾者，用六君、炮姜；思慮傷血者，四物加參、術；思慮傷氣者，歸脾加柴胡、山梔；鬱怒傷血者，歸脾、逍遙兼服。</p>
<p>愚按：經行而作痛者，古云：血熱而氣滯也。夫血熱則不流通，氣滯則不運動，是宜作痛固然矣，蓋痛則不通也。莪朮、三稜等破其實，香附、砂仁、木香、青皮等行其氣，治法之正也，世人所易知也。然氣血兩虛之人，亦有經行而作痛者。夫氣虛則餒，而無力健運；血虛則澀，而經脈否滯，此人不易知也。治同血實氣滯之例，藥用疏導浚利之方，此經年曆歲，不可愈耳。一婦人二七天癸至，至七七之期，凡月水欲來，腹痛異常。以其素性多怒，每服行血利氣之藥，經血既來，腹痛暫止。然其病根常在，下月仍然，久久倍痛，困憊不可支矣。後予治之，詳探其根，知其氣血兩匱，不可疏利，惟以八珍湯，兼順氣之藥服之，氣足則健運，血旺則流通，腹不再痛而安。</p>
<p>又曰：經事欲行未行，臍腹絞痛者，為血滯。經水臨行時作痛者，為氣滯。</p>
<p>牛膝散　治月水不利，臍腹作痛，或小腹引腰，氣攻胸膈。</p>
<p>牛膝　桂心　赤芍（炒）　桃仁（去皮尖）　玄胡索（炒）　當歸　丹皮（各一兩）　木香（三錢）</p>
<p>上末，每服溫酒調下一錢。或五錢，水煎服。</p>
<p>溫經湯　治寒氣客於血室致氣血凝滯，臍腹作痛，其脈沉緊。</p>
<p>當歸　川芎　芍藥　桂心　蓬朮（醋炒）　丹皮（各五分）　人參　牛膝　炙甘（各一錢）</p>
<p>水煎服。</p>
<p>桂枝桃仁湯　治經脈不行，腹中作痛，或上攻心脅，或因經脈不行，漸成積塊，臍如覆杯。</p>
<p>桂枝　芍藥　生地（各二錢）　桃仁（七枚，去皮尖）　甘草（一錢）</p>
<p>姜水煎服。</p>
<p>地黃通經丸　治月經不行，或產後惡露臍腹作痛。</p>
<p>熟地（四兩）　虻蟲（去頭翅，炒）　水蛭（糯米同炒黃，去米）　桃仁（去皮尖，各五十枚）</p>
<p>上為末，蜜丸桐子大，每服五七丸，空心溫酒下。</p>

<h2>月水不斷</h2>
<p>婦人月水不斷淋瀝，或因勞傷氣血而傷衝任；或因經行而合陰陽，以致外邪客於胞內，滯於血海故也。</p>
<p>薛云：若鬱結傷脾，用歸脾湯；恚怒傷肝，用逍遙散；肝火妄動，加味四物湯；脾氣虛弱，六君子湯；元氣下陷，補中益氣湯；熱傷元氣，前湯加五味子、麥冬、炒黑黃柏。</p>
<p>愚按：月水之行，婦人無病者恆以三日而淨。元氣既弱，不能統攝，多有四、五、六日者，此外淋瀝不止，謂之不斷。究其致病之因，或因勞傷，氣血虛弱，衝任不能約制於經血；或由於寒熱邪氣客於胞內，滯於血海，此一恆人能辨也。余思世俗婦人，縱性者多怒，多怒則肝傷。夫血藏於肝，肝有怒火，其氣盛滿，不納不藏，所以血下不斷，非如風寒與衝任氣虛者比，必用柴胡、香附、芎、芍、防風、山梔、膽草、黃芩，加以六味丸料，則血自止矣。屢驗。此因血去多則生風，故用六味以補血，山梔、防風等以瀉肝火，神效。</p>
<p>四物湯（見錯妄）　補中益氣湯　加味四物湯　歸脾湯　逍遙散（四方見調經）</p>
<p>六君子湯</p>
<p>人參　白朮　茯苓　炙甘　半夏　陳皮</p>
<p>姜水煎服。</p>
<p>四君子湯（即六君子去半夏、陳皮）</p>
<p>順氣散瘀湯　治經行時著腦、心、腹、腰、脅痛不可忍，脈弦急不勻，乃瘀作痛也。</p>
<p>當歸　川芎　芍藥　生地　桃仁　紅花　玄胡索　莪朮　青皮</p>
<p>水煎服。</p>
<p>四物調經止痛散　治月水將來或將盡前後數日腹痛。</p>
<p>當歸　玄胡索　廣沒藥　頭紅花（等分）</p>
<p>為末，每服二錢，黃酒送下。</p>
<p>大調經湯　治婦人血氣虛弱，血海寒冷，經水不調，或心腹疼痛，或下白帶如魚腦，或似米泔，不分信期，每月淋瀝不止，面色痿黃，四肢無力，頭目眩暈。</p>
<p>當歸　芍藥　香附（各六分）　川芎　熟地（各五分）　人參　砂仁　阿膠　沉香（另研）　小茴香　吳茱萸　肉桂　粉草（各三分）　玄胡索　白朮　茯苓　黃耆　陳皮（各四分）</p>
<p>水煎服。</p>
<p>調經順氣湯　治婦女經閉不調，或前或後，心腹疼痛。</p>
<p>當歸　芍藥（鹽炒）　生地　香附　阿膠　丹皮　桃仁　紅花（各一錢）　川芎　艾葉（各八分）　白朮（五分）　甘草（四分）</p>
<p>上姜水煎服</p>
<p>調經散</p>
<p>川芎　吳茱萸　人參　半夏　白芍　當歸　丹皮　肉桂　阿膠　甘草（各一兩）　麥冬（二兩半）</p>
<p>上每服五錢，姜五片，水煎服。</p>

<h2>經閉</h2>
<p>婦人經閉不通者，或因食少，胃氣之化源薄，而血無所榮；或因中消胃熱，內火盛而津液內損；或因墮胎，及多產傷血；或久患潮熱耗血；或久發盜汗耗血；或因勞心，致心火上炎，而胞脈閉；或七情傷心，心氣停結，而血不行。此數者，皆令經脈不通。大率以生血為主，補血除熱之劑，隨症用之。其心火上炎者，宜降火而安心。心氣停結者，宜通心而解鬱，兼以血藥補之，則經脈自通。又云：經閉者，多因損傷脾胃，以致血少不行，只宜補脾益榮湯，使脾旺則能生血，經自行矣。有積滯者，加曲糵為妙。果因血塊凝結，方宜破血通經，但不可輕用耳。</p>
<p>薛云：經血，陰水也。屬衝任二脈，上為乳汁，下為月水。其經閉者，有因脾氣不能生血者，有因脾鬱而血不行者，有因胃火而血消爍者，有因勞傷心而血少者，有因怒傷肝而血少者，有因腎水不能生肝而血少者，有因肺氣虛而不能行血者。</p>
<p>愚按：婦人經脈不行者，其暫時不行，或由於瘧痢之後，或由於傷寒之後，或因於瘰癧之後。如前薛氏所言之類，各有不同，治各因其因而藥之，可愈矣。其有久久不行者，予因思世俗婦人，患此者，多由鬱結在心，鬱怒在肝，憂思在脾。三經之氣，不能暢達，則榮身之血，日且耗減，尚安望其血之有餘，流灌衝任，下為月水哉？一婦人怒而且郁，以同室之妒也，月事不至者，半載有奇，且兼夜熱、咳嗽、吐血、聲啞、喉瘡、容顏枯槁。多醫視之，以為必危。家人視若死灰不復再燃。余曰：病由情志，倘誘以喜，而善調以藥，猶可挽回。眾在疑信。予用枸杞子一兩，茯苓、遠志、棗仁、當歸、生地、麥冬、香附、貝母等，補心生血；解鬱之藥，兼以百事順其情，而無少拂之意。一月之內，枯葉再榮，經通聲亮，血止嗽除。斯見鬱結者，則血脈乾涸，而意適者，則血脈自暢也。大抵婦人女子，所見極狹，拂鬱者恆多。患此者，惟能自解，斯可耳。有等婦室，天稟素弱，一旦月事不來，或數月，或半載，診其脈體安靜，不鼓不躁，又無咳嗽、夜熱之症。此惟調補之劑，俟其元氣稍充，自然經行。不可因其不月，遂用疏導之劑。若急遽苟且，反成壞症。慎之！慎之！</p>
<p>養真湯　治經閉，臍下一塊，已經久遠，百藥不效，服數劑經行，又數劑塊消。</p>
<p>當歸　川芎　白芍（酒炒）　熟地（薑汁炒）　黑山梔　山萸肉　茯苓　小茴香（炒）　益母草　香附（四制）　陳皮（各等分）</p>
<p>上銼，六劑，水煎服。經通之後作丸服。</p>

<h2>血崩</h2>
<p>婦人衝任二脈，為經血之海。人身之血，外循經絡，內榮臟腑，有餘者，流灌衝任，下為月水。陰陽和平，經下依時，不愆其候。倘使勞傷過度，七情致虛，不能約制，血不循經，則忽然暴下矣，甚則昏暈。崩血之脈，數小為順，脈洪大為逆。治以調脾為主。</p>
<p>薛云：《經》曰：陰虛陽搏為之崩。又曰：陽絡傷則血外溢，陰絡傷則血內溢。又曰：脾統血，肝藏血。治法：若因脾胃虧損，不能攝血歸源，用六君加芎、歸、柴胡；若肝經有火，而血下行，用奇效四物湯，或四君加柴、梔、芩、術；若肝經風熱，而血妄行，用加味逍遙散，或小柴胡加梔、芍、丹皮。若怒動肝火，而血沸騰，亦用前藥；若脾經鬱結，而血不歸經，用歸脾加柴、梔、丹皮；若悲傷胞絡，而血下崩，用四君加柴、梔、升麻。崩漏不止，若不早治，漸至於崩中不息，甚則化為白濁、白淫、血枯、發熱勞極之症，不可治矣。</p>
<p>崩漏之疾，乃血大下，豈可為寒？但血去後，其人必虛，當大補氣血為主。東垣專主於寒，而不言熱者，亦間而有之，但不知熱之甚也。</p>
<p>愚按：天地生人，氣與血也。惟外不傷於勞後，內不傷於七情，則氣血沖和，主於心，藏於肝，統於脾，氣不下陷，血乃升騰，循環經絡，榮養百脈，滋生臟腑，有餘之血，流灌衝任，血海盈溢，下為月水。一月一來，不爽其候，如潮之有信也。乃多思多慮而心傷，大怒大鬱而肝傷，勞倦飲食而脾傷。夫君主之官傷，則血無所主，乃妄行而下；將軍之官傷，則血無所歸，乃不循經而下；倉稟之官傷，則血無統攝，乃脫陷而下。傾刻之間，大下升斗者，謂之崩。崩之日久，淋瀝不止者，謂之淋。皆以三精虧損，失其禁固之權也。風冷所搏，房勞所觸，間有之耳。治法：傷心者，以補心為主；傷肝者，以平肝為主；傷脾者，以補脾為主。佐以升舉、止澀、涼血之藥可也。若曰：血熱而一於涼，血滑而一於澀。吾恐芩、連、梔、柏徒傷胃氣，牡蠣、棕灰枉費兜攔。不究本而末治，未見其能收功於旦夕也。</p>
<p>凡暴崩人事昏沉，汗出不收，六脈微弱，似有似無，氣息奄奄，必用人參一二兩。煎服即蘇，不然難救，不可遽投血藥，又不可用涼血藥。</p>
<p>王汝言案中，有多食著惱，以致血崩者，須用消食藥，導去其食。此因飲食填塞中氣，不能健運，不能統血之故耳。</p>
<p>奇效四物湯　治肝經虛熱，血沸騰而崩久不止。</p>
<p>當歸　熟地　芍藥（炒）　川芎　阿膠　艾葉（炒）　黃芩（炒，等分）</p>
<p>每服四錢，水煎服。</p>
<p>涼血地黃湯　治婦人血崩由陰虛不能制火，故血熱而崩。</p>
<p>黃芩　荊芥穗（各七分）　蔓荊子　黃柏　知母　藁本　細辛　川芎　黃連　羌活　升麻　柴胡　防風（各三分）　生地　當歸（各八分）　甘草（五分）　紅花（少許）</p>
<p>上，水鍾半，煎八分服。</p>
<p>龍骨散　治血崩不止。</p>
<p>龍骨（煅）　香附（炒）　當歸（各一兩）　棕灰</p>
<p>上細末，每服四錢，空心米湯調下。</p>
<p>膠艾丸　活血崩，老婦尤效。</p>
<p>香附（童便炒，一兩）　玄胡（炒，六錢）　阿膠（炒，一兩）　白姜（鹽酒或米醋炒，八錢）　艾葉（一兩，用糯米糊作餅，瓦上焙乾，研為細末）</p>
<p>上為末，酒糊丸如梧子大，每服三十丸，鹽湯送下。</p>
<p>如聖散　治血崩，三服全愈。</p>
<p>棕櫚子　烏梅肉　乾薑（俱燒存性，為末，各二兩）</p>
<p>上為末，每服二錢，空心烏梅湯下。</p>
<p>七灰散　治血崩效，此方專澀。</p>
<p>蓮蓬殼　益母草　旱蓮草　罌粟殼　醃蟹殼　棕葉　藕節（各等分，俱燒灰存性，為末）</p>
<p>上末，醋點湯，空心調三錢。</p>
<p>又方　治風熱血崩。</p>
<p>荊芥穗燒焦為末，每服三錢，童便下。</p>
<p>獨聖散　治肝經有風熱血崩。</p>
<p>防風為末，每服二錢，空心，酒煮白麵，清飲調下。</p>
<p>又方　用四物湯加荊芥穗、條芩，止血神效。</p>
<p>又方　治脾胃氣虛血崩，神效。</p>
<p>白朮（八錢）　白芍（三錢）</p>
<p>水煎服，立效。</p>

<h2>限外經行</h2>
<p>婦人經血，七七限外，氣血衰少，僅供一身之養，無有饒餘下為月水。若已經斷絕，復一旦再來，多因勞心、勞力，又兼多怒，血不循經以養身，而流於衝任，下為月水，此與脫陷相同。治須補中、平肝、養心，用歸脾湯、逍遙散、補中益氣湯為主。或溫、或涼、或提，少少佐之。本源堅固，血不下行，復其循經之舊矣。</p>
<p>愚按：《內經》曰：女子二七而天癸至，七七而天癸絕。外此不再月，理也。如天道秋冬令行，萬物歸藏，而草木枯槁，無發生之機也。今有婦人，月水既絕於四十九年之前，復來於五旬有餘之後，此豈氣血有餘而然乎？切思年少之人，血盛而藏納於肝，晝夜運行於經絡，養榮乎肢體。養身之血，積於血海，充裕而有餘，羨下為月水。一月一行，此常候也。所謂七欲其損是已。及其垂老，氣血既衰，僅可充身，安得有餘復為月水？若使復有月水，必其憂勞過傷，或性急多怒，肝氣盛滿。今既不能納血，又不能攄血於諸經以養身，兼以土被木侮，又不能統攝，以致脫陷，非有餘如少壯時當來之血也。久而不已，大可畏也。倘有明師洞知治法，在於大補氣血，平肝養脾，攝血歸經，患婦又能慎起居，戒性澄心以養之，轉履霜為陽和，所可必也。奈何患者多不自重，又且縱性不已；而時師只以涼澀為治，無遠圖救本之能，涼澀稍效，輒頌神功，隔月又來，止澀數四，終成不起。一婦人年逾五十，素多怒、多勞，診得革脈，而左關弦甚，決其病將至。忽口歪、語蹇，風木旺也；兼有逾限之經，肝不藏也。理宜慎起居，兼以平心戒性，而藥以平肝扶土，猶可全也。奈何多醫視之，僉以涼澀，希其近效，不知拔本塞源之方，後終不起。此可以為不知治本之戒也。又有一等婦人，天質太厚，七七限外，亦有經行者。蓋因限內未曾斷絕後。若既斷而後行者，則系病矣。</p>
<p>有崩漏既久，忽然所來者皆白水，何也？《經》曰：崩中日久為白帶，漏下多時骨髓枯是也。蓋經血必假火色而後紅。今胃中新液，脾已受傷，不能統攝，脫陷而下，故無火色，而所漏者白水耳。此宜補中升固，所當不容緩者。</p>
<p>《心鏡》曰：年高婦人漏下赤白，多是憂思過度，氣血俱虛，此為難治。必須大補氣血，養脾，開固，庶保十之二三。薛氏治年老婦人月事復行，皆大補獲安。</p>
<p>一老婦年五十三，血崩久不止，諸藥不效，以橡斗子、蒼耳草根二物，燒存性，用四物湯加白芷、茅花、乾薑，煎湯調服。</p>
<p>蒼耳散　治婦人血崩不止。</p>
<p>蒼耳草一味燒灰存性，好酒調服，立止；或四物湯調送亦效。</p>
<p>唐瑤經驗方　婦人五十外經水不止，作敗血論。</p>
<p>茜根（一兩）　阿膠　側柏葉（炒）　黃芩（各五錢）　生地（一兩）　胎髮（三錢，煅）</p>
<p>上分六服，每帖水一盞半，煎七分，入發灰服。</p>

<h2>［附］調經方</h2>
<p>婦人經行諸病多因氣盛血虛之故。</p>
<p>調經養血湯　專治婦室氣血不和，胎產諸病。蓋婦人以血為主，以氣先不調，故血脈不順而諸病生。</p>
<p>香附（炒，二兩）　烏藥　砂仁　當歸　川芎　白芍（酒炒）　熟地（薑汁浸、焙，各一錢）　炙甘（三分）</p>
<p>上薑棗水煎。如氣痛加吳萸，如痰多加二陳。</p>
<p>千金調經湯　治經水不調；或曾小產；或帶下三十六疾，腹痛口乾；或發熱，小腹急痛，手足煩熱，六腑不調，時時泄血，久不懷孕。</p>
<p>當歸　川芎　白芍（炒，各二錢）　人參　阿膠（炒）　丹皮　肉桂　吳茱萸（炒，各二錢）　甘草（五分）　麥冬　半夏（各一錢五分）</p>
<p>上姜水煎。</p>
<p>經水先期而來，血虛有熱也。當補血清熱。</p>
<p>當歸（一錢五分）　川芎　阿膠　黃柏　知母（各五分）　白芍（炒）　黃連（姜炒，各八分）　生地　條芩　香附（各一錢）　艾葉（三分）　甘草（三分）</p>
<p>水煎空服。</p>
<p>經血過期不來作痛，血虛有寒，治當溫經養血。</p>
<p>當歸（一錢五分）　川芎　肉桂　甘草（各五分）　芍藥（炒）　熟地　香附　蓬朮　蘇木（各一錢）　紅花（三分）　木通（八分）　桃仁（去皮尖，二十個）</p>
<p>水煎，空肚溫服。</p>
<p>經水將來作痛者，血實氣滯也。治當行血順氣。</p>
<p>當歸　川芎　芍藥　生地　黃連　香附　桃仁（去皮尖）　紅花（減半）　玄胡索　丹皮　莪朮（各等分）</p>
<p>上，水煎，空心溫服。如發熱加柴胡、黃芩。</p>
<p>經水過期而來，紫黑成塊者，氣鬱血滯也。</p>
<p>當歸　川芎　芍藥　生地　桃仁　紅花　丹皮　青皮　甘草　香附　玄胡索</p>
<p>上水煎服。</p>
<p>經水過期而來，色淡者，痰多也。</p>
<p>當歸　川芎　芍藥　生地　陳皮　半夏　茯苓　甘草</p>
<p>上姜三片水煎服。</p>
<p>經水過多久不止者，成血崩也。</p>
<p>當歸　川芎　白芍　生地　白朮　條芩　阿膠　茯苓　黑山梔　地榆　荊芥　香附</p>
<p>水煎空服。如久不止者，加茅根汁、京墨汁同服。</p>
<p>經行後作痛者，氣血虛也。</p>
<p>當歸　川芎　白芍（炒）　熟地　人參　白朮　薑炭　甘草</p>
<p>薑棗水煎服。</p>
<p>經水去多久不止，發腫滿者，是脾經血虛也。</p>
<p>當歸　川芎　白芍（炒）　熟地　茯苓　白朮　甘草　砂仁　香附　大腹皮　牛膝　木香</p>
<p>上水煎服。</p>
<p>經水久不行，發腫者，是瘀血滲入脾經也。</p>
<p>當歸　川芎　白芍　桃仁　紅花　丹皮　乾薑　肉桂　厚朴　枳殼　木香　香附　牛膝　玄胡索</p>
<p>上水煎服。</p>

<h1>卷中</h1>

<h2>胎前</h2>
<p>種子之法在於調經。經若不冷不熱，不先不後，經前經後無有作痛，此平和之氣血也。氣血和，生意盛，未有交而不孕，孕而不育者矣。且男女交媾，天下所同，成男成女，各有所異，何以故哉？古今男女交合，二情胥暢，陰血先至，陽精後沖，血開裹精，陰外陽內，陰含陽胎，而男形成矣；陽精先至，陰血後沖，精開裹血，陽外陰內，陽含陰胎，而女形成矣。又有陰陽均至，非男非女之身；精血散分，駢胎、品胎之兆。大凡人父少母老，產女必羸；母壯父衰，生男必弱。古之良工先察乎此，受氣偏瘁，與之補劑。補羸女必養血壯脾，補弱男必壯脾節色。羸女宜及時而嫁，弱男貴俟壯而婚。此疾外務內之本也，不可不知。</p>

<h2>胎脈</h2>
<p>《經》云：陰搏陽別，謂之有子。解之者曰：搏者，近也。陰脈逼近於下，陽脈別出於上，陰中見陽，乃知陽施陰化，法當有子。《經》又曰：手少陰動甚者，妊子也。解之者曰：手少陰屬心，足少陰屬腎。心主血，腎主精，精血交會，適投於其間則有娠。又三部浮沉正等無病者，有娠也。又左尺脈浮洪者為男胎，右尺脈浮洪者為女胎；兩尺脈俱浮洪者為兩男，俱沉實者為兩女。《脈訣》云：肝為血兮肺為氣，血為榮兮氣為衛，陰陽配偶不參差，兩臟和通皆類例，血衰氣旺定無娠，血旺氣衰應有體。又曰：寸微關滑尺帶數，往來流利並雀啄，小兒之脈已見形，數月懷耽猶未覺。又曰：左疾為男右為女，流利相通速來去，兩手關脈大相應，已形亦在通前語。又曰：兩手帶縱兩個男，右手帶橫一雙女。左手脈逆生三男，右手脈順還三女。寸關尺部皆相應，一男一女分形症。又曰：左手太陽浮大男，右手太陰沉細女。諸陽為男諸陰女，指下分明長記取。三部沉正等無疑，尺內不止真胎⿰⺼負。</p>
<p>愚按：近世醫家診視胎脈，皆宗諸家訓解，以尺脈為主，然多不驗。夫云陰搏陽別，謂之有子。蓋言左寸心脈，屬少陰經。然左寸，陽位也，其平常之脈浮大而散，陽體也。陰搏陽別者，言少陰心脈，忽見沉伏，按之動甚，無復浮大而散之陽體。是以謂之陰脈搏擊，而與陽體之平脈為殊別耶，為妊子之兆。故曰：陰搏陽別，謂之有子。所以然者，以心主血脈，女人受胎之後，血不下脫，積以養胎，彼榮氣所化之血，既皆心之所統，則所見之脈，安得不實盛而不鼓動耶？又《平人氣象論》曰：婦人手少陰動甚者，妊子也。《靈樞·診尺篇》亦曰：女子手少陰動甚者，妊子。夫手少陰言左寸心脈也，動者謂滑利搖動不寧靜也。如滑利而過甚，則妊子之脈也。及王太僕解經，改手經為足經，夫以手為足，豈不曰懷娠之事當在下體？下體當應尺脈，況胞門子戶又在尺也。丹溪朱氏復從而和之：受胎當在臍腹之下，則氣當盛於下，故尺鼓擊有力，與陽之寸脈殊別也。又謂當兼手足二經。此皆悖《經》之甚，所不敢遵。夫手少陰脈何以動甚而懷胎？蓋心主血脈，既以懷娠，則血養胞胎而不下脫，由是血脈上壅，而所主之脈滑利動搖，故知其妊子也。夫動而過甚，則必生子；如既動而不甚動，則必生女。余常以此脈診視胎脈，無有不驗。《脈訣》云：諸陰為男諸陰女，所言大是。蓋浮大動數滑，陽脈見，多生男；沉澀弱弦微，陰脈見，必生女。有六脈俱微，或俱無，身冷自汗而不月者，乃脈道閉塞而成胎，然多是女胎。設若輕取若動而重取則否；或指下弦滑而稍按即空；或動而不流轉，如迎刃他部，時見怪狀，而本部獨不流動；此則月信雖停，必是氣血為病，皆不可誤認為胎脈也。</p>

<h2>無子之因（男女均有精）　［附］種子方</h2>
<p>夫有夫婦必有生育，天地間之常也。今有婦人，容貌起居如常，又無大病，月水依期，自少迄壯，絕不生育。薛氏曰：丹溪云，人之育胎者，陽精之施也。陰血能攝精成其子，血成其胞，胎孕乃成。今婦人無子者，卒由血少，不足以攝精也。然欲得子者，必使補其精血，無使虧欠，乃可以成肥孕。若泛用秦桂丸等劑戕臟腑，禍必旋踵矣。竊謂婦人之不孕，亦有因六淫七情之邪，有傷衝任；或宿疾淹留，傳遺臟腑；或子宮虛冷；或氣旺血衰；或血中伏火；又有脾胃虛損，不能榮養衝任。更當察其男子之形，虛實何如？有腎虛精弱，不能融育成胎者；有稟賦原弱，氣血虛損者；有嗜欲無度，陰精衰備者，各當察其原。而治之大要，當審男女之尺脈：若左尺微細，或虛大無力者，用八味丸；左尺洪大，按之有力者，用六味丸；兩尺俱微細，或浮大者，用十補丸。若誤用辛熱燥火，不惟無益，反受其害矣。無子者，其因不同，不獨婦人之無生也。或風水不利，或夫婦年命相剋，或夫婦俱有疾病。夫風水年命，非藥可救。若夫疾病，必須藥治，不生子而治婦人，人知之矣。然獨非男子之故哉。男子有腎虛精滑；有精冷精清；或臨事而不堅，堅即流而不射；有盜汗夢遺；有便溺淋澀；有腰憊不能轉搖；有好色以致陰虛；有勞熱；有虛寒者，諸如此類，必按症治之，以藥猶可育也。蓋無山不草木，無地不生物，要在栽培而灌溉之，生機勃然不可遏也。又有人所不及知，而已所獨知，不語諸人，不療以藥，先輩無剖露之言，後世昧治療之法，終於孤獨，委之天命，良可悲哉。予故吐露其理，以示諸人。男子之交，交其神也，交其精也。神交而精不交，何以成形？既交而即泄，則陰精之後至也，猶或可以成女。有等宮牆外望，不睹室家之好，垂首而返，兩無繾綣之情，是神與精兩不交也。夫兩石相擊，而後火生焉。兩不交而何以成生育哉？觀此則難獨咎於婦人矣。世人若有是病，急求治療，毋諉諸天。生育之道，男女各輸其精，然後成形，非男精女血之謂也。予嘗以其理而詳辨之。《黃帝素問》曰：女子二七而天癸至，七七而天癸絕；男子二八而天癸至，八八而天癸絕。然男女均稱為天癸，則男女均有精也。世人認男子之精為天癸，以其所見於外者言也。認女子之血為天癸，亦以所見於外者言也。予思女子之經行，乃真精之充長，故經血之外見，因經行而知天癸至矣。若以經血即為天癸，則男女之身，尺寸之膚，皆有血養，則尺寸之膚皆天癸耶？特以女子屬陰，血有餘而月脫。男子屬陽，血不足而無下也。按《上古天真論》曰：由是男女交媾，各輸其精，胎孕乃成。若云男輸精，女輸血，豈理也耶？果使女輸血而無精，何古聖歷歷言之耶？《易》曰：陽精陽氣，聚而成物。又曰：男女媾精，萬物化生。又曰：二五之精，妙合而凝。《靈樞·決氣篇》曰：兩神相搏，合而成形，常先身生，是謂之精。蓋精者，五臟六腑之真液，內含生氣，而具有魂魄神意志，故能施化而成形也。《心印經》亦云：人各有精，精各有神，神合其氣，氣合其真。《子華子》云：生之所自謂之精，兩精相薄謂之神。《關尹子》亦云：兩精相薄而神應之。歷觀古聖先賢之言，未曾有以血言者也。知此則知女人天癸為陰之精，男之天癸為陽之精，而成胎非血有明據矣。且腎為藏精之所，男女皆有腎，則皆有精藏焉。未聞女子之腎，所藏者獨血也。腎之所藏者非血，而交感以施泄者，獨為血，萬萬無是理也！有志斯道，惟細詳之，毋學侏儒觀場，隨眾喧喝可耳！</p>
<p>婦人受胎，氣血壯健，略無少病，月經如期，一交而孕者，常也。有艱於子嗣者，經水不調之故耳。經水不調，真精不足可知矣，焉能妙合而凝耶？然有生平多病之婦，常臥衽席之間，亦能生子。此腎中陽氣，先天稟素旺也。亦有月經先期一二日者受胎，若先期多日，並逾期者，萬無受孕之理也。或曰：婦人受胎，大都必氣血壯盛者。今有癆怯之婦，氣血已大虛矣，故為反能成胎？答曰：此如枯木，猶有生意未絕，開花結果，終致萎謝，不成正果也。夫勞怯之婦，血已乾涸，結胎者，腎之真精猶未盡乏也。此見生子，不在於血矣。</p>
<p>凡求子者，交會之禁，固所當遵。轉女為男，理之所有。其受孕以一、三、五日為男，二、四、六日為女，理之常也。然其化生之妙，恐未必然也。過六日不成胎，尤未必然也。若婦人怯弱，經既淨後，元氣未復，生意不濃，直至十二三日後，精神稍復，交感方娠。不然，雖一、三、五日，亦罔益也。大抵陽精先泄則成女，陰精先至則成男，此不易之確論也。</p>
<p>［附］種子方</p>
<p>滋陰百補丸　治婦人勞傷氣血，諸虛百損，五勞七傷，陰陽不和，乍寒乍熱，心腹疼痛，不思飲食，尪羸乏力。</p>
<p>香附（一斤，分四制）　益母草（半斤，火焙乾，另為末，不見日並鐵器）　炒玄胡索（二兩）　當歸（六兩）　川芎　熟地　芍藥（炒，三兩）　人參（二兩）　白朮　茯苓（各四兩）　炙甘草（一兩）</p>
<p>上末，蜜丸，梧子大，每服六七十丸，空心白湯送下。</p>
<p>螽斯丸　治婦人赤白帶下，經候不調，或前或後，行時小腹作痛，腿膝麻痹，腰腹疼痛，子宮不能攝受。</p>
<p>生地　熟地　當歸（各四兩）　陳皮　五靈脂　蘇木　紅花（各一兩）　白茯苓　川芎　赤芍　枳殼　黃芩　青皮　玄胡索（各二兩）　制香附（一斤）　乾薑（炒，五錢）</p>
<p>上末，用艾湯入醋一盞，打糊為丸，如梧子大，每服五六十丸，白湯送下。</p>
<p>滋血暖宮丸　氣血不足服此藥，無不孕者。</p>
<p>香附（制，十二兩）　當歸（二兩）　艾葉（酒煮曬乾）　白芍（酒炒）　川芎　熟地　阿膠（炒）</p>
<p>上為末，醋糊丸，梧子大，每服百丸，空心，淡醋湯下，以食壓之。</p>
<p>妙應丸　治婦人氣虛痰盛，滿溢子宮，不能受精，肥胖婦人服此大效。</p>
<p>蒼朮（米泔浸，酒炒）　人參　黃耆（蜜炙）　白朮（土炒）　生地　陳皮　半夏　當歸　茯苓（各一兩）　滑石　炙甘（各七錢）</p>
<p>上為末糊丸，梧子大，每服五十丸，空心薑湯下。</p>
<p>加味養榮丸　此藥能使婦人速孕，且無小產之患。</p>
<p>熟地　當歸　白朮（各三兩）　白芍　黃芩（炒，各一兩五錢）　川芎　人參　茯苓　香附　陳皮（去白）　麥冬　貝母（各一兩）　阿膠（炒）　炙甘（各五錢）　黑豆（四十粒，炒去殼）</p>
<p>上末，蜜丸，梧子大，每服八十丸，食前溫酒或鹽湯任下，忌諸血。</p>
<p>神效墨附丸　治久不孕育，月經不調及數墮胎甚效。</p>
<p>香附（一斤，四制）　艾葉（四兩，醋四大碗，同香附搗爛，捏餅如錢，新瓦烙干，研末）　熟地　當歸　川芎　人參　茯苓　南木香（各一兩）　京墨（一兩，火煅煙盡，醋淬）</p>
<p>上末，糊丸，梧子大，每服六十丸，空心溫酒下。</p>
<p>八珍益母丸　專治氣血兩虛，脾胃虛弱，飲食少思，四肢無力，月經違期，或先期而至，或腰腹脹，緩而不收，或斷或續，或赤白帶下，身作寒熱，服之無不效。一月之後即可受胎，甚者服藥一斤，必對期受孕。</p>
<p>益母草（四兩）　人參　白朮（土炒）　茯苓　炙甘　川芎　白芍（醋炒）　熟地（酒蒸）</p>
<p>上末，蜜丸，彈子大，空心，蜜湯下一丸。如作小丸，則丸如小豆大，每服七八十丸。如脾胃虛寒者，加砂仁一兩，姜炒；如腹中脹滿者，加山楂肉一兩，飯上蒸曬。</p>
<p>經驗種子方</p>
<p>人參（一兩二錢）　白朮（二兩）　茯苓（一兩五錢）　炙甘（五錢）　當歸（二兩）　川芎（一兩）　芍藥（一兩五錢）　熟地（四兩）　鹿角霜（一兩五錢）　阿膠（一兩）　玄胡索　破故紙　杜仲　牛膝　黃芩　桑寄生（各一兩）　香附（四兩，四制）　益母草（末，四兩）　枸杞子（二兩）　麥冬（一兩五錢）　山藥（二兩）　黃耆（一兩五錢）</p>
<p>上除熟地酒蒸爛另搗外，余共為末，蜜丸，梧子大，每服一百丸，空心淡鹽湯下。以上治女。</p>
<p>聚精丸　精清薄者用之，神效。</p>
<p>魚鰾（八兩，切細，麵炒成珠，再加酥油，炒黃色）　當歸（一兩，炒黃色）　沙苑蒺藜（一兩，炒黃色）</p>
<p>上為末，蜜丸，梧子大，每服五十丸，空心酒下，或鹽湯下。人年四十以外，加童便煮大附三錢。服藥忌魚。</p>
<p>老龜丸　專補原陽精髓，腰腎強健，委可興，速可久，兼治五勞七傷，烏須種子。神效。</p>
<p>龜（半斤以上者一個，清水煮熟，去甲用肉，以好酒浸，火干，研末）　人參（一兩）　羯羊肝（四兩，煮熟）　韭菜根（去須，干，二兩）　菟絲子（酒煮，二兩）　當歸　枸杞子　銀杏仁（去衣、心）　蓮肉（去心，各二兩）</p>
<p>上末，入羊肝、龜肉，搗千餘下，丸，梧子大，空心，白湯或酒送百丸。</p>
<p>種子鹿興丸</p>
<p>鹿興（三條，酒炙熟，銼片，用頭男胎人乳浸，曬，七次）　蜜魚膠（一個，淡者佳，約重二三兩，切片，銅鍋炒乾，發泡時加豆酒一碗，以干為度）　沙苑蒺藜（四兩，微炒）　川歸　白芍（各四兩）　菟絲子（二兩）</p>
<p>上為細末，蜜丸，如梧子大，每服四五十丸，陳酒送，早晨及臨臥服。忌蔥、韭。</p>
<p>延壽丹</p>
<p>黃狗腎（三副，酥炙）　黃耆（二兩，蜜炒）　山藥（二兩）　人參（四兩）　山萸肉（三兩）　鹿茸（二對）　鹿角膠（三兩）　枸杞子（三兩）　杜仲（二兩半）　鹿跑草（三兩）　茯苓（三兩）　破故紙　天冬　鎖陽　仙茅（各二兩）　紫河車（二具）　牛膝　五味子（各一兩）　熟地　沙苑蒺藜　菟絲子　丹皮　魚鰾（麵炒成珠，加酥油炒黃，各四兩）</p>
<p>上為末，蜜丸，梧子大，每服百丸，空心白湯下。</p>
<p>資始乾健丸　男子少病而無子宜服。</p>
<p>秋石　鹿角霜（各四兩）　人參　枸杞子　山萸肉　麥冬　天冬　杜仲（姜炒）　生地　熟地（各二兩）</p>
<p>上為末，老米麵糊為丸，如桐子大，每服五十丸，空心白湯下。一月後，俟女子月經淨，男子空心服車前草湯半盞，交即有孕。</p>
<p>端效丸　治元氣不足，腎虛陽脫易萎易泄，尺脈微弱，壯陽益氣，補虛添精。</p>
<p>菟絲子　枸杞子　破故紙（酒炒）　韭子（炒）　茴香（鹽炒）　川山甲　京墨（煅）　遠志　蓮芯　紅花　蓮肉　母丁香　芡實　牛膝（酒洗）　木香（各一兩）　巴戟天（酒浸，去心）　益智仁　川楝肉　青鹽　沉香</p>
<p>上為末，酒糊丸，桐子大，每服五十丸，空心酒或鹽湯下。</p>
<p>還少丹　尺脈細微，陽事痿弱，精氣不射無子。</p>
<p>熟地　枸杞子（各一兩五錢）　川牛膝　制遠志　山藥　山萸肉　白茯苓　川巴戟　五味子　石菖蒲　楮實子　肉蓯蓉（酒洗）　杜仲（姜炒）　茴香（炒，各一兩）</p>
<p>上末，蜜和，棗肉丸，梧子大，每服五十丸，食前溫酒下，或鹽湯下，日三服。</p>
<p>加味虎潛丸　腎脈虛弱，精神短少，腰膝無力，此藥健筋骨，補腎壯精。</p>
<p>人參　黃耆（蜜炙）　白芍　當歸　山藥（各一兩）　鎖陽（酥炙）　虎骨（酥炙）　龜板（酥炙）　菟絲子　補骨脂（炒）　杜仲（姜炒）　五味子（各七錢半）　牛膝（酒浸，二兩）</p>
<p>上末，蜜共豬脊髓丸，梧子大，每服七十丸，空心鹽湯下。</p>
<p>滋陰大補丸　腎虛微弱，陰陽兩虛，補陰和陽，生精益血，潤肌澤膚，強筋壯骨。</p>
<p>牛膝　山藥（各一兩五錢）　杜仲　山萸肉　巴戟　肉蓯蓉　五味子　茯苓　茴香（炒）　遠志　石菖蒲　枸杞子（各五錢）　熟地（二兩）</p>
<p>上為細末，煉蜜和紅棗肉為丸，如梧子大，每服七十丸，空心酒或鹽湯下。以上治男。</p>

<h2>論子宮</h2>
<p>愚按：《易》曰：男女媾精，萬物化生。又曰：乾道成男，坤道成女。又《內經》曰：胞門子戶，為受胎之所。丹溪云：陰陽交媾，胎孕乃凝，所藏之處，名曰子宮。一系在下，上有兩歧，一達於左，一達於右，精勝其中，則陽為之主，受氣於左子宮，而男形成。精不勝血，則陰為之主，受氣於右子宮，而女形成。夫男左女右，陽左陰右，天地之定位也。以左右分男女之受胎，固揆之以天地間之常理耳，似或可信者。然自予思之，亦不能無疑焉。假使人生一男，必左子宮之所受也，無庸議矣。人生一女，必右子宮之所受也，亦無庸議矣。至於駢胎同生二男，則右子宮亦可以成女矣。一乳二女，則左子宮亦可以成又矣。吾恐左男右女，既一定而不可易，安得陽成陰，陽成陽，左易右，右易左耶？且又有說焉，按國朝天順時，揚州民家一產五男，皆韶秀。又汝寧秀才燕生妻一產三男。知州陸人傑榜境內同時一產三女者妻之。又當塗縣吳倫妻一產三男一女。及不佞所目睹耳聞，二男二女，三男三女，不可勝記。然則二男二女者，猶曰子宮左可男而右可女也。其五男，三男，三女，並三男一女者，豈婦人之子宮，或有五而生五，或有四而生四，或有三而生三也？不然，則生五者，餘三無所著；生四者，餘二無所著；生三者，其一受於何所耶？故知子宮有二，左男右女之說，為誕而不經，甚矣。愚謂獨男獨女，生理之常；駢胎、品胎，生理之異。如蓮開並頭，果生雙子，木之連理，瓜子同蒂，核之雙仁，卵之二黃，魚之比目，鳥之比翼。虎一交而生，兔望月而孕，與夫周生八士，四乳各二，蓋有不期然而然者，非常理也。豈曰胞門子戶，必其左成男而右成女哉？此理之所必無者也。理必無而丹溪言之，乃一時信口之談耳。不然，則丹溪而生有窺垣之聖，如秦越人者，能知五臟癥結，婦人子宮，或一或二，或左或右，何不一一剖晰，著為其說，以垂示萬世，必待丹溪出而始言之耶。又按雲南永昌軍民府有九嶺，在城南相傳有一婦浣絮馬羅池，觸沉木有感，因妊產九男，後沉木化為龍，眾子驚走，惟季子背龍而坐，因砥其背，蠻語謂背為九，謂坐為隆，故名九隆，長而黠，遂推酋長。又有一婦生九女，九龍兄弟妻之。夫觀此一產九男，一產九女，益知左右子宮有二之說，為不足信矣。</p>

<h2>妊娠惡阻</h2>
<p>惡阻者謂嘔惡阻其飲食是也。由婦人胃氣怯弱，中脘停痰，受孕之後，經血既閉，飲血相搏，氣不宣通，遂致肢體沉重，頭目昏眩，惡聞食氣，好食酸鹹，多臥少起，甚作寒熱，心中憤悶，嘔吐，恍惚不能支持。治宜豁痰導水，理氣養血。</p>
<p>薛云：若中脘停痰，用二陳加枳殼；若飲食停滯，用六君子加枳殼；若脾胃虛，用異功散；若胃氣不足，用人參橘皮湯；兼氣惱加枳殼；胸肋脹悶再加蘇梗；肋痛加柴胡；若飲食少思，用六君加柴蘇、枳殼；頭暈體倦，用六君子湯；若脾胃虛弱，嘔吐不食，用半夏茯苓湯，蓋半夏乃健脾氣、化痰涎，主藥也；脾胃虛弱而嘔吐，或痰涎壅滯，飲食少思，胎不安，必用茯苓半夏湯，倍加白朮。然半夏、茯苓、白朮、陳皮、砂仁，善能安胎氣，健脾胃，予常用有驗。惡阻以聞食氣而嘔惡，責之脾虛；嘔吐以食入復出，責之有火。所謂諸逆衝上，皆屬於火也。此是厥陰之血，既養其胎，少陽之火，虛而逆上也。</p>
<p>愚按：惡阻之病，雖婦人之常，元氣壯盛者，但嗜酸鹹爽口之物，嘔惡頭暈，或間有之耳。若嘔惡不止，全不進食，其胎或有不能安者。</p>
<p>白朮湯　治脾虛惡阻吐水，甚至十餘日，粥漿不食，入口即吐。</p>
<p>白朮（炒，一錢）　人參（五分）　丁香　甘草（各二分）</p>
<p>上姜水煎服。</p>
<p>人參橘皮湯　治惡阻嘔吐痰水，飲食少思，肢體倦怠。</p>
<p>人參　橘紅　白朮（炒）　麥冬　茯苓（各一錢）　厚朴　炙甘（各五分）</p>
<p>上加竹茹姜水煎服。</p>
<p>保生湯　治妊娠惡阻，少食嘔吐，或兼吐瀉作渴。</p>
<p>人參（一錢）　炙甘　白朮（炒）　香附　烏梅　橘紅（各五分）</p>
<p>上姜水煎服。</p>
<p>安胎飲　治體倦惡食，或胎動腹痛，或下血發熱。</p>
<p>炙甘　茯苓　當歸　熟地　川芎　白朮（炒）　黃耆（炒）　半夏　阿膠　地榆（各五分）</p>
<p>姜水煎服。</p>
<p>又方　治惡阻。</p>
<p>陳皮　半夏　砂仁　當歸　黃芩　柴胡（各八分）　川芎　蘇梗　枳殼　厚朴（各七分）　香附（一錢）　甘草（三分）</p>
<p>上姜水煎服。</p>
<p>參朮飲</p>
<p>人參（五錢）　白朮（一兩）　炙甘（五錢）　藿香（三錢）　陳皮（四錢）　丁香（二錢五分）</p>
<p>噁心加炙乾姜，胸膈不寬加枳殼。上為末，每用二錢，姜五片，水一鍾，煎七分，溫服。</p>
<p>又方　砂仁為末，每服二錢，薑湯或米飲調下。</p>
<p>又有時時噁心，嘔吐水穀，兼又吐蛔，此胃氣虛寒，可用理中湯加烏梅、花椒之類。</p>

<h2>妊娠痰逆不食</h2>
<p>妊娠痰逆不食者，乃水飲停積，結聚為痰。輕者妨食嘔逆，甚者腹痛傷胎，皆由胃氣不健，或風冷外乘所致，此阻為甚。三月惡阻，病有痰涎流不絕者，此乃脾虛不能約束津液也，當健脾自愈。</p>
<p>薛云：因飲食停滯，用半夏茯苓湯加枳殼；氣惱加柴胡；因痰壅滯，用半夏茯苓湯加白朮；因風寒外傷，參蘇飲；傷飲食腹脹，用香砂六君子湯；寒熱嘔吐，人參養胃湯。</p>
<p>半夏茯苓湯　治妊娠脾胃虛弱，飲食不化，嘔吐不止。</p>
<p>半夏（泡，炒黃色）　陳皮（各一錢）　茯苓（二錢）　砂仁（炒一錢）　炙甘（五分）</p>
<p>薑棗水煎服，二三劑後用茯苓丸。</p>
<p>茯苓丸　治妊娠煩悶噁心，聞食氣嘔逆；或胸腹痞悶。</p>
<p>赤茯苓　人參　桂心　炮姜　炙甘　半夏（泡，炒黃）　橘紅（各二兩）　白朮（炒）　葛根　枳殼（各二兩）</p>
<p>上為末，蜜丸，梧子大，每服五十丸，米飲下，日三服。</p>
<p>香砂六君子湯　治飲食所傷腹脹，即六君子湯加香附、砂仁，見月水不斷。</p>
<p>參蘇飲　治妊娠感冒。</p>
<p>人參　紫蘇　前胡　半夏　葛根　茯苓　陳皮　枳殼　桔梗　木香　甘草</p>
<p>姜水煎服。</p>
<p>人參養胃湯　治外感風寒，內傷飲食，寒熱頭痛，或作瘧疾。</p>
<p>半夏　厚朴　橘紅（各八分）　藿香　草果　茯苓　人參（各五分）　炙甘（三分）　蒼朮（一錢）</p>
<p>上姜梅水煎服。</p>

<h2>胎動不安</h2>
<p>妊娠胎動不安，或飲食起居，或衝任風寒，或跌僕擊觸，或怒動肝火，或脾氣虛弱，或房室過度，或登高上下，風攻產戶，入於子宮，當各推其因而治之。若因母病而胎動，但治其母；若因胎動而母病，惟當安其胎，轉動為安，重者必致傷墮。</p>
<p>薛云：胎氣鬱滯者，用紫蘇飲；脾氣虛弱者，六君子湯加蘇殼；郁傷脾者，歸脾湯加柴、梔；怒傷肝脾者，四七湯加芎、歸；怒動肝火者，加味小柴胡湯；若胎已死，急用平胃散加樸、硝腐化之。</p>
<p>紫蘇飲　治子懸腹痛，或臨產驚恐氣結，連日不下，或大小便不利。</p>
<p>當歸　甘草　人參　大腹皮（黑豆水浸泡）　川芎　陳皮　白芍（炒，各五分）　紫蘇（一錢）</p>
<p>薑蔥水煎服。</p>
<p>一孕婦累日不產，催藥不驗，此坐草太早，心懷畏懼，氣結而血不行也，用此飲，一服便產。</p>
<p>一婦人孕七月，上衝腹痛，面不赤，舌不青，乃子懸也，亦用此飲而胎母俱安。</p>
<p>鉤藤散　治妊婦胎動腹痛，面青冷汗，氣欲絕者。</p>
<p>鉤藤　當歸　茯神　人參（各一錢）　桔梗（一錢五分）　桑寄生（八分）</p>
<p>水煎服，煩熱加石膏。</p>
<p>黃耆湯　治氣虛胎動，腹痛，下水。</p>
<p>糯米（一合）　黃耆（炒）　川芎（各一兩）</p>
<p>上水煎，分三份。</p>
<p>順氣飲子　服之安胎。</p>
<p>蘇葉　木香　人參　草豆蔻　茯苓　大腹皮（各一兩，若氣虛者不用）　炙甘草（五錢）</p>
<p>每服三錢，苧根三寸，糯米少許，水煎服。</p>
<p>安胎寄生湯　治妊娠下血，或胎不安，或腰腹作痛。</p>
<p>桑寄生　白朮（各五分）　茯苓（四分）　甘草（一錢）</p>
<p>上水煎服。</p>
<p>四物湯（見錯妄）　加熟艾、阿膠、茯苓。</p>
<p>六君子湯（見月水不斷）　加紫蘇、枳殼。</p>
<p>歸脾湯（見調經）　加柴胡、梔子。</p>
<p>四七湯（見錯妄）　加川芎、當歸。</p>
<p>加味小柴胡湯（見調經）</p>
<p>平胃散</p>
<p>蒼朮　厚朴　陳皮　甘草</p>
<p>姜水煎服。</p>

<h2>漏胎</h2>
<p>妊娠經水時下，名曰漏胎。此是陰虛不足以濟火，氣虛不足以固血，故有此患，以膠艾丸治之。阿膠、地黃、芎、歸以益其血，黃耆、艾葉、甘草以固其氣，血以養之，氣以固之，止漏之治在是矣。又婦人榮經有風，則經血喜動。《經》曰：風勝則動，則血室不寧是也。治以防風、黃芩、山梔自愈矣。</p>
<p>薛云：若因風熱，用防風黃芩丸；若因血熱，用加味逍遙散（見調經）；若因血虛，用二黃散；若因去血太多，用八珍湯（見調經）；未應，補中益氣湯；若因肝火，用柴胡山梔散；若因脾火，用加味歸脾湯（見調經）；若因房事，下血作痛，用八珍湯加阿膠、熟艾；若因脾胃虛弱，用補中益氣湯加五味子；若脾胃虛陷，前湯內倍升、柴；若晡熱、內熱，用逍遙散。</p>
<p>愚按：世醫遇下血、漏血，以血熱則行，動用芩、連、梔、柏一切涼血之藥。不應，又以血滑則行，動用牡蠣、棕灰一切止澀之藥，非徒無益而反下多，以止澀、寒涼，反傷脾胃也。蓋血生於脾，又統攝於脾，歸於肝而藏於肝，脾氣困弱，不生不攝，肝有怒火，不歸不藏，不用治本之藥，而徒以寒澀末治，揚湯止沸，徒費手力，吾未見其有一效也。</p>
<p>二黃散　治漏胎下血，或內熱、晡熱，或頭痛頭暈，或煩躁作渴，或脅肋脹痛等症。</p>
<p>生地　熟地</p>
<p>上為末，每服三錢，白朮枳殼湯下。二黃鬚杵膏為丸，庶藥不枯槁而有力也。</p>
<p>膠艾丸　不問月數深淺，安胎。</p>
<p>熟地（二兩）　艾　當歸　川芎　甘草　阿膠（各三兩）　黃耆（一兩）</p>
<p>每用三錢，水煎服。</p>
<p>防風黃芩丸　治肝經有風熱，致血崩、便血、尿血。</p>
<p>條芩（炒焦）　防風</p>
<p>各等分為末，酒糊丸如梧子大，每服三五十丸，食前米湯下。</p>
<p>柴胡山梔散（即後二方）</p>
<p>梔子清肝散　治三焦及肝膽經風熱，耳內作癢，或生瘡出水，或脅肋胸乳作痛，寒熱往來。</p>
<p>柴胡　山梔（炒）　丹皮（各一錢）　茯芩　川芎　芍藥　當歸　牛蒡子（炒，各七分）　白朮　甘草（各五分）</p>
<p>水煎服。</p>
<p>柴胡清肝散　治肝膽三焦風熱怒火，以致項胸作痛，或頭目不清，或耳前後腫痛，或寒熱體疼。</p>
<p>柴胡　黃芩（炒，各五分）　人參　山梔（炒）　川芎（各一錢）　連翹　桔梗（各八分）　甘草（五分）</p>
<p>上水煎服。</p>

<h2>卒然下血</h2>
<p>妊娠卒然下血者，因衝任脈虛；或因勞後喜怒，飲食生冷，觸胃風寒；或冷熱不調，卒然勞動，故血卒下，腰腹疼痛。</p>
<p>薛曰：若因怒氣，用小柴胡湯；若因風熱，用一味防風丸；若因血熱，用一味子芩丸；若因脾氣虛弱，用六君子湯；若中風下陷，用補中益氣湯；若氣血盛而下者，不用服藥。</p>
<p>安胎飲　治卒然腰痛下血。</p>
<p>熟地　艾葉　白芍（炒）　川芎　黃耆（炒）　阿膠（炒）　當歸　炙甘　地榆（各五分）</p>
<p>薑棗水煎服。</p>
<p>子芩丸　治肝經有熱，致血妄行。</p>
<p>細條芩為末，每服一錢，以秤錘燒赤，焠酒熱調服，若脾胃虛不宜用。</p>
<p>防風丸　治肝經有風，以致血得風而流散不歸經。</p>
<p>用防風一味為末，每服一錢，白湯調下。</p>
<p>防風黃芩丸（見上條）</p>

<h2>妊娠驚動跌僕胎漏</h2>
<p>妊娠驚僕漏胎，乃懷娠之時，或從高墜下，傷損胞絡；或甚至於下血，其母面赤舌青，無沫出者，子死母活；唇口俱青，沫出者，母子俱死；面青赤，舌沫出，母死子活；如僵仆，無血下，輕者猶可救之。</p>
<p>薛云：若驚動跌僕，或手足抽搐，用鉤藤湯；若因氣滯，用紫蘇飲；若因脾胃氣虛，用六君子加蘇梗；若鬱結傷脾，用歸脾湯；若鬱怒傷肝脾，用四七湯加芎、歸；若去血過多，用佛手散；如不應，膠艾湯；氣血虛，八珍湯加膠艾。</p>
<p>佛手散　胎痛服之即安，胎損服之立下。</p>
<p>當歸　川芎（各五錢）</p>
<p>用酒煎；如血崩昏暈，水煎。</p>
<p>又方　治妊娠從高墜下，腹痛下血。</p>
<p>生地　益母草（各二錢）　當歸　黃耆（炒，各一錢）</p>
<p>上姜水煎服。</p>
<p>膠艾湯　治妊娠頓僕，胎動不安，腰腹疼痛，或胎上搶，去血腹痛。</p>
<p>阿膠（炒，一兩）　熟艾葉（數枝）</p>
<p>水三碗，煮二碗，分三服。</p>
<p>又方</p>
<p>帶殼砂仁炒，為末，每服二錢，米飲下，熱服即安。</p>
<p>安胎飲（見下血）</p>
<p>又方　治寒邪所犯，心腹作痛。</p>
<p>桂枝　芍藥　半夏（各一錢）　茯苓　厚朴　枳殼　甘草（各五分）　人參　紫蘇（各一錢）</p>
<p>薑棗水煎服。</p>
<p>鉤藤湯（見胎動）</p>

<h2>子懸</h2>
<p>妊娠胎上逼，脹疼悶絕者，子懸也。若將養如法，則氣血調和，胎安而易產；否則胎動氣逆，脹滿疼痛，臨產亦難，甚至危矣。此症乃下焦氣舉胎而上也，故用紫蘇、陳皮等流其氣，歸、芍利其血，氣流血利，而胎自下矣。</p>

<h2>誤服毒藥胎動</h2>
<p>妊娠誤服毒藥動胎氣，其人憎寒，手指、唇口、爪甲青白，色黃黑；或上搶心，悶絕，血下不止，冷汗自出，喘滿，宜用甘草、黑豆、淡竹葉煎湯治之。</p>

<h2>心痛</h2>
<p>妊娠因風邪痰飲乘於心，邪氣搏於正氣，或飲食所傷而作痛，或怒動肝氣而作痛，或口食冷物，或身冒冷氣，皆能作痛，大抵是胃脘作痛，非真心痛也，治者當審其因而藥之。</p>

<h2>心腹痛</h2>
<p>妊娠心腹痛者，或因宿有冷疾，或新觸風寒，臟虛邪正相擊，隨氣而行，衝心則心痛；攻下則腹痛；痛擊胞絡必致動胎，甚則傷墮。</p>
<p>愚按：婦人心性多不和平，憂思忿怒之氣恆鬱於中，發為諸痛；飲食所傷，間而有之；風寒所觸，十中一二。其肝脾氣滯者，用二陳加山楂、梔子、青皮、木香；或以六君加升麻、柴胡、木香治之。</p>
<p>當歸芍藥湯　治妊娠心腹急痛。</p>
<p>白芍　當歸　茯苓　白朮　澤瀉（各一錢）　川芎（二錢）</p>
<p>水煎服。</p>
<p>阿膠散　治胎動腹痛。</p>
<p>茯苓　白朮　川芎　阿膠（各一錢）　當歸　陳皮（各一錢）　炙甘（三分）</p>
<p>薑棗水煎。</p>
<p>又方　治胎動腹痛欲落。</p>
<p>上等銀（一斤）　茅根（二斤，去黑皮）</p>
<p>水五碗，煮取三碗，入清酒一碗，並茅根，煎數沸，徐徐服，立安，金銀首飾亦可。</p>

<h2>腰腹背痛</h2>
<p>腎主腰足，因勞後傷損其經，以致風冷乘之，入腰則腰痛，乘腹則腹痛，其痛相引，背痛蓋腎以系胞，痛甚則胎墮也。</p>
<p>薛云：外邪所傷，用獨活寄生湯；勞傷元氣，用八珍加杜仲、砂仁、膠、艾；脾腎不足，以前藥加白朮、補骨脂；氣血鬱滯，用紫蘇飲（見胎動）加枳、桔；肝火所動，用小柴胡加白朮、枳殼、山梔；肝脾鬱結，用歸脾加柴胡、枳殼。</p>
<p>獨活寄生湯</p>
<p>獨活　桑寄生　續斷　杜仲　細辛　牛膝　秦艽　茯苓　白芍　桂心　川芎　防風　人參　熟地　當歸　炙甘（各五分）</p>
<p>上水煎服。</p>

<h2>小腹痛</h2>
<p>妊娠小腹痛，由胞絡虛，風寒相搏，痛甚亦令胎動也。</p>
<p>愚按：小腹乃肝脈所絡，大抵肝腎陰虛能令小腹作痛，故治用大劑熟地、黃柏、青皮則安。然而婦人多性氣，常多惱怒，肝氣鬱滯，則小腹作痛者為多，治以平肝解鬱則愈矣。若風寒所搏等症，間有之耳。</p>

<h2>心腹脹滿</h2>
<p>妊娠心腹脹滿者，若外感風寒，內傷飲食，用藿香正氣散；若食傷脾胃，用六君子湯；若陽氣壅滯，用紫蘇飲。</p>
<p>愚按：前症有中氣虛甚，無力健運，以致填中宮，痞滿而不通泰者；有脾本土虛，復有肝氣所乘，以致脹滿不舒快者；有陰火上衝，填塞而脹，似有餘者。</p>
<p>藿香正氣散</p>
<p>藿香　大腹皮　紫蘇　茯苓　白芷　陳皮　白朮　厚朴　半夏曲　桔梗　甘草</p>
<p>薑棗水煎。</p>

<h2>妊娠中惡</h2>
<p>妊娠若忽然心痛，悶絕欲死者，謂之中惡。蓋因氣血不足，精神衰弱，故邪毒得以中之也。</p>
<p>薛云：前症當調補正氣為善，用金銀藤一味，煎湯飲之。</p>
<p>又方　治前症。</p>
<p>生地（二錢）　枳殼（一錢）　木香（三分）</p>
<p>酒煎服。</p>

<h2>妊娠墮胎並胎不長大</h2>
<p>愚按：二症皆娠母氣弱血虛之故。氣虛則不能固胎，血虛則不能蔭胎。譬諸草木果實，全賴地土，肥厚則得其力，蔭方能長大成熟。雖風雨摧，不致殞落，根深則蒂固也。如土磽則木瘁，木瘁則果落，縱使不落，則果亦細小不大，治在培養元氣，則根本牢固，縱有剪伐之傷，必無墮落之患，自然日新月茂矣。如娠母氣血俱虛，用八珍湯；如脾胃虛，飲食少，不能生血氣，用補中益氣湯。</p>

<h2>妊娠咳嗽</h2>
<p>愚按：咳嗽一症，孰不曰肺感風寒乎？肺受火邪乎？散風寒，清火熱是矣。豈不曰：肺為諸臟之華蓋也。風寒暑濕為外邪，皆得而犯之；五勞七傷為內邪，均得而侵之。外來之客感，祛而散之易易耳。至於腎虛之陰火，非以補陰之藥不可也。怒火之刑金，非以平肝之藥不可也。肺金之自虛，非以補肺之藥不可也。若不能區別，而概曰肺病也，專於治肺，欲其投劑而止嗽，難矣！腎虛火炎刑金，用六味丸加牛膝、故脂、桑皮；怒火焚金，必用小柴胡加歸、芍、膽草、香附、山梔、麥冬；本臟自病虛症，必用參、朮、耆、歸、麥冬五味。若認得的確，投劑立安，此治嗽之確見，幸毋忽焉。</p>

<h2>吐血衄血</h2>
<p>妊娠吐血由七情臟腑所傷，氣逆於上，致血上溢不止，心悶甚者多死，或墮胎也。宜用《局方》必勝散。</p>
<p>薛云：若肝經怒火，先用小柴胡、山梔、生地，次用前藥合四物，後用加味逍遙散。肝經風熱，防風子芩丸；心經有熱，硃砂安神丸；心氣不足，補心湯；思慮傷心，妙香散；胃經有火，犀角地黃湯；膏粱積熱，加味清胃散；鬱結傷脾，加味歸脾湯；肺經有火，黃芩清肺飲；因氣鬱滯，紫蘇飲子；氣不攝血，用補中益氣湯；腎經虛火，加味六味丸。</p>
<p>硃砂安神丸</p>
<p>硃砂（飛過，五錢）　黃連（六錢）　炙甘（五分）　生地　當歸（各一錢五分）</p>
<p>蜜丸，小豆大，每用一錢，滾白水下。</p>
<p>補心湯</p>
<p>茯苓（四兩）　桂心　炙甘（各三兩）　紫石英（煅）　人參（各一兩）　大棗（廿枚）　麥冬（去心，三兩）　赤小豆（廿四粒）</p>
<p>上水七升，煎二升半，分三服。</p>
<p>妙香散</p>
<p>炙甘（五錢）　遠志（炒，一兩）　辰砂（另研，三錢）　麝（另研，二錢）　山藥（炒，一兩）　人參（五錢）　木香（二錢半）　茯苓　茯神　黃耆（各一兩）　桔梗（五錢）</p>
<p>上末，每服二錢，溫酒下。</p>
<p>犀角地黃湯</p>
<p>犀角（鎊）　生地　白芍　丹皮（各一錢）</p>
<p>上水煎服。</p>
<p>加味清胃散</p>
<p>川連（錢半）　當歸　生地　丹皮（各一錢）　升麻（二錢）</p>
<p>加犀角，連翹，甘草。</p>
<p>上水煎服。</p>
<p>黃芩清肺飲</p>
<p>黃芩（炒）　山梔（炒，各一錢）</p>
<p>水煎服。</p>
<p>必勝散</p>
<p>熟地　小薊（並根用）　人參　蒲黃（炒）　當歸　芎藭　烏梅肉（各等分）</p>
<p>水煎服。</p>

<h2>子煩</h2>
<p>妊娠子煩，以四月受少陰君火之氣以養精，六月受少陽相火之氣以養氣，所以有此。又有不拘此二月，若煩悶，由娠母將理失宜，七情感傷，心驚膽寒，多有此症。臟腑虛而熱，乘於心曰心煩，但煩熱而已曰虛煩；有痰飲而嘔吐涎沫，五心煩熱，曰胸中煩。</p>
<p>愚按：有云子煩者，懷子有煩悶也。責心肺有熱故，用犀角涼心，地骨皮退熱，條芩瀉火，麥冬清金，赤茯苓導赤，甘草和中而愈矣。然有腎虛者，則水不制火，上乘於心，發為煩心。蓋腎子通於肺母也，須大劑補水制火，方有效耳。</p>

<h2>煩躁面赤口乾</h2>
<p>妊娠煩躁，面赤口乾者，蓋足太陰脾經其氣通於口，手少陰心經其氣通於舌，臟腑不調，氣血不和，以致內熱乘於心脾，津液消鑠，故令心煩口乾也。與子煩大同小異。</p>
<p>愚按：娠母身中大熱煩躁，日夜不寐，嘔吐痰涎，米穀水漿，入口即吐，多日不曾下咽，六脈洪大急數，一似有餘熱症，似宜寒涼瀉火乃為正治。醫用寒涼，芩、連、梔、柏之類，火不少退，更用犀角、地黃，熱反倍甚，前症益增，坐臥不安，只可人扶而立，視其六脈空大，乃假熱，非真火也。以肝腎之陰虛極，火厥上矣。理應大補腎肝之陰，佐以引火歸經之品，斯火斂歸經而諸症陡息矣！用六味地黃加減治之。</p>

<h2>中風</h2>
<p>愚按：中風一症，西北苦寒之地，人有觸冒其殺厲嚴凝之氣，乃成中風；東南之方，陽氣常多，真中風寒者，十不一二，乃類中風耳。中痰、中火、中氣、中暑、中濕等症，外症相似，而病源各異，男子且然，而況婦人居家室之內，處帷幕之中，而有真中風寒者乎？雖有厥逆、口歪、舌強等症，亦不據投風藥，宜詳其致病之源，投以應病之藥；若急遽孟浪，反成壞症。慎之！慎之！有等富貴之家，暑月患病，令人扇風取涼，患病者偶而睡熟，伏侍之人扇不停手，以致風入毫竅，變成風症。予所常見。第世人多忽，今予書此，後所當慎也。</p>

<h2>子癇</h2>
<p>愚按：凡熱甚則生風，懷子而癇僕，由於厥陰之血，既養其胎則陰虛，火亢無所制而上泛，痰隨火上，而倒僕故耳，治惟補陰制火為妙也。</p>

<h2>瘛瘲</h2>
<p>竊謂：瘛者，筋脈急而縮也；瘲者，筋脈緩而伸也。一縮一伸，手足相引，搐搦不已，大抵與嬰孩發搐相似，謂之瘛瘲也。此症多屬風，蓋風主搖動。駱龍吉云：心主脈，肝主筋；心屬火，肝屬木；火主熱，木主風，風火相熾，則為瘛瘲也。治法：若因風熱，用鉤藤湯加柴胡、山梔、黃芩、白朮，以平肝木，降心火，養氣血；若風痰上湧，加竹瀝、南星、半夏；若風邪急搐，加全蠍、殭蠶；虧損氣血，用八珍湯加鉤藤、山梔為主；若無力抽搐，戴眼反折，汗出如珠者，肝氣絕也，俱不治。</p>

<h2>鬼胎</h2>
<p>夫人臟腑調和，則血氣充實，精神健旺；若榮衛虛損，精神衰弱，妖魅之類乘之，亦如懷妊之狀，故曰鬼胎也。</p>
<p>薛云：前症因七情脾肺虧損，氣血虛弱，行失常道，衝任乖違而致之者，乃元氣不足，病氣有餘也；若見經候不調，就行調補，庶無是症。治法以補元氣為主，而佐以雄黃丸之類行散之；若脾經鬱結氣逆者，用加味歸脾湯調補之；若脾虛血不足者，用六君、芎、歸培養之；肝火血耗者，用加味逍遙散滋抑之；肝脾鬱怒者，用加味歸脾、逍遙二藥兼服；腎肝虛弱者，用六味地黃丸。</p>
<p>雄黃丸　漢鬼胎瘀血腹痛。</p>
<p>雄黃　鬼臼（去毛）　莽草　丹砂（細研）　巴豆（去油、皮）　獺肝（炙黃，各五錢）　蜥蜴（一枚，炙黃）　蜈蚣（一條，炙黃）</p>
<p>上為末，蜜丸，桐子大，每服二丸，空心溫酒下，日二服；或下如蛇蟲之類，其病乃除。</p>

<h2>傷寒</h2>
<p>冬時觸冒嚴寒之氣，即病為傷寒，藏於肌骨，夏至為暑病，即熱症也。妊娠患之多致墮胎，熱病與中暑相似，但熱病者脈實，中暑者脈虛，治當審察，不可概施。</p>

<h2>瘧疾</h2>
<p>瘧疾由於外感風寒暑濕之邪，內傷生冷飲食、居處之邪。不必夏傷於暑，秋為痎瘧也。發瘧之候，始而呵欠，繼而足冷，面色青黃，身體拘急寒慄，鼓頷，腰脊俱疼，寒去未幾，內外皆熱，頭疼而渴，但欲飲冷，嘔惡妨悶，而不欲食者，此其危也。</p>
<p>薛云：此因脾胃虛弱，飲食停滯，或外邪所感，或鬱怒傷脾，或暑邪所伏。審系飲食停滯，用六君加桔梗、蒼朮、藿香；外邪多而飲食少，用藿香正氣散；外邪少而飲食多，用人參養胃湯（見痰逆）；勞傷元氣，補中益氣湯；若鬱怒所傷，用小柴兼歸脾；若木侮土而久不愈，用六君為主，佐以安胎藥，參三陰三陽經而治之。</p>
<p>愚按：古人治瘧，多用常山、草果、檳榔之類，稍涉虛怯者，雖男子且不敢輕用。今之時世然也，況妊娠之尤弱，尤關利害者乎。然瘧之所發不特飲食、風暑與怒氣之所傷已也。陰虛而類瘧者，與中虛而似瘧者，不可不辨也。若概用止截髮散，非惟瘧不能愈，反傷胎孕矣。可不慎歟？陰虛者，用六味丸料加柴胡、黃芩、甘草、花粉、防風、乾葛、煨姜；中虛者，用補中益氣湯加黃芩、花粉、防風、乾葛，倍柴胡，水煎，發前早早服，俱一服而效。</p>

<h2>霍亂</h2>
<p>夫飲食過度，觸冒風冷，陰陽不和，清濁相干，謂之霍亂。其間或先吐，或腹痛吐利，是因於熱也。若頭疼，體痛，發熱，是挾風邪也；若風折皮膚，則氣不宣通，而風熱上衝為頭痛；若風入腸胃，則泄利嘔吐，甚則手足逆冷，此陽氣暴竭，謂之四逆。妊娠患之，多致傷胎也。</p>
<p>薛云：前症若因內傷飲食，外感風寒，用藿香正氣散（見心腹脹滿）；若因飲食停滯，用平胃散；果脾胃頓傷，陽氣虛寒，手足逆冷者，須用溫補之劑。治當詳審，毋使胎動也。</p>

<h2>泄瀉</h2>
<p>妊娠泄瀉，冷熱不同，或飲食不節，或暑氣相干，致脾胃虛弱而受之，使米穀不化，小腸熱結，使水濕不行，清濁相干，腸鳴腹痛，故泄瀉不止。治宜六君為主，更審察其因以加減之。若元氣下陷，肢體怠甚，則當用補中益氣湯。</p>

<h2>下痢</h2>
<p>妊娠痢疾日久者，須察其病勢，不甚急迫，不可竟治痢疾，只宜補脾胃，扶元氣，以補中、六君二方加以開胃品味，投之自能奏功。若初痢者，又當於安胎中，帶消導理氣以治之。</p>
<p>愚按：下痢一症，不獨飲食所傷，風寒暑濕燥火之邪皆能致之。自有治例，可考而知也。乃妊母下痢比之平時不同，更宜慎重。有胎熱而似痢者，不可不審也。妊婦八九個月，傷暑傷熱，心腹脹滿，下墜似痢，每登廁時坐炊久，忽爾氣下，方得大便一通。世俗不知，率用痢藥，不知此病胎中有熱，可用小柴胡湯下黃連阿膠丸；或用炒阿膠、淨黃連各一錢，枳殼、大黃半之，分作二服，烏梅、薑、蜜煎服而愈。又有血虛氣滯而似痢者，夫血虛則臟腑涸燥，氣滯則經絡否澀，所以擾亂腸胃，痛而痢，痢而欲去不得去也。一婦人下痢，腹痛異常，晝夜去一百五六十遍，所去止一點，諸同道僉用芩、連、木香、檳榔、芍藥、蒼朮、厚朴一切治痢套藥，更數醫不效。迎余診之，六脈滑利動搖，左關脈弦甚。予曰：此娠耳。因怒動肝火，而肝血涸燥，肝火擾亂腸胃之故耳。患人疑信相半。蓋以斷乳未久，或未必然也。予見真確，投以當歸一兩，芍藥二錢，熟地四錢，佐以砂仁、木香。一服減去十分之六，再服之立瘥。一月之後，娠有動驗，始信脈藥兩神也。夫食積而痢，胎熱而痢，七情所感，血虛氣滯而痢不同，如此豈可曰痢病？藥之治痢之方足矣，而可不加審察之力耶？一婦人妊娠病痢不止，其脈虛而滑，兩關若澀，此由胎氣不和，相火炎上，而有胎熱似痢，實非痢也。乃用黃芩、白朮以安胎，四物以養血，遂安。</p>

<h2>大小便不通</h2>
<p>妊娠大小便不通，由臟腑之熱所致也，或由素弱之婦，血既蔭胎，小腸血燥有熱，則小便不利；大腸血燥有熱，則大便不通；大小腸俱血燥而熱，則大小便俱不通矣。</p>
<p>愚按：大小便不通，由於大小腸固然矣，抑不知其所以然者，由於氣血之兩虛乎。夫腎肝開竅於二陰，心肺之陽虛不能降，肝腎之陰餒不能升，則升降出入遂乖其運用之能。又云：大腸供肺為傳送。又云：膀胱者，州都之官，津液藏焉，氣化則能出矣。肝腎心肺之氣血，既以兩虛，則一不能傳送，一不能濡潤，是以大小便俱閉結，而不宣通。妊婦所有氣血，既養胎則臟腑自燥，治以補益氣血為上策也。降火分利似當兼治，若徒治火，潤腸利便，欲其利而反不得利矣。一婦人大小便不通，多日服四物湯，並降火通利之藥，多服反不利，用補中益氣湯加木香、檳榔，大利。</p>

<h2>小便不通</h2>
<p>妊娠轉脬，小便閉澀，多因胎婦虛弱，兼以憂悶性躁，所食厚味所致。古方用滑利疏導罔效。若脬為胎墜壓而不通，但用補中益氣之品，升舉其胞胎，而小便自行；若臍腹作脹，而小便淋閉，此脾胃氣虛，胎壓尿胞。四物、二陳、參、術，空心服後探吐數次自安。前症亦有脾肺氣虛，不能下輸膀胱者；亦有氣熱鬱結，津液不利者；亦有火鑠脾土，濕熱甚而不利者，更當詳審施治。</p>

<h2>子淋</h2>
<p>妊娠小便欲去不去，不去又來，謂之淋。何以故哉？腎虛而膀胱有熱也。腎虛不能制火，則小便數。膀胱熱，則小便澀而數。蓋胞系於腎，腎虛則熱而成淋，甚者心煩悶亂，以致胎動，治之以安榮散。</p>
<p>安榮散　治子淋甚妙。</p>
<p>麥冬　通草　滑石　當歸　燈心　甘草　人參　細辛（各五分）</p>
<p>上水煎服。</p>

<h2>遺尿</h2>
<p>妊娠尿出不知，用白薇、芍藥為末，酒調下；或白礬、牡蠣為末，酒調二錢；或雞毛灰末，酒服一匕；或炙桑螵蛸、益智仁為末，米飲下。</p>
<p>愚按：前症若脬中有熱，宜用加味逍遙散；若脾肺氣虛，宜用補中益氣湯加益智；若肝腎陰虛，宜用六味丸。</p>

<h2>尿血</h2>
<p>妊娠尿血，內熱乘於血分，以致血熱流滲於脬，名子淋。用葵子一升，研細，水五升，煮二升，分三服；或生艾葉一斤，酒五升煮二升，分三服；或生地黃一斤，酒四升煮二升，分三服。亦治落產後下血。</p>
<p>愚按：前症因怒動火者，宜小柴胡加山梔；因勞動火者，宜補中益氣湯；若因厚味積熱，宜加味清胃散；若因肝經血熱，宜加味逍遙散；若因脾氣下陷，宜補中益氣湯；若因脾虛血熱，宜用加味逍遙散。</p>

<h2>子腫</h2>
<p>《產乳集》云：妊娠三月，足腫至腿出水，飲食不甘，似水腫，謂之子氣。至分娩方消者，此脾胃氣虛，或衝任經有血風。《名醫錄》云：宋少主元徽與徐文伯微行，學針法。文伯見一妊婦足腫，脈之。少主曰：此女形也。文伯曰：此鬼胎也。在左而黑，遂用針胎下。果然。亦有脾虛，水氣流溢；或因瀉痢，臟腑虛寒；或因瘧疾飲水，脾虛濕漬；或因水漬於胞，不能分利，皆致腿足肚腹腫症也。</p>
<p>薛云：前症若胸滿腹脹，小便不通，遍身浮腫，用鯉魚湯；脾胃虛弱，佐以四君子；若面目虛浮，肢體如水氣，用全生白朮散，如未應，用六君子湯；脾虛濕熱，下部作腫，用補中益氣湯加茯苓；若飲食失宜，嘔吐泄瀉，用六君子湯；若腿足發腫，喘悶不安，或指縫出水，用天仙藤散；脾胃虛弱，兼四君子湯，如未應，用補中益氣湯；若脾虛氣滯，用加味歸脾湯，佐以加味逍遙散。</p>
<p>天仙藤散</p>
<p>天仙藤（洗，略炒）　香附子（炒）　陳皮　甘草　烏藥（白者、辣者良，各等分）</p>
<p>每服五錢，生薑、木瓜、蘇葉各三片，水煎，日三服。</p>
<p>鯉魚湯</p>
<p>白朮（五兩）　茯苓（四兩）　當歸　芍藥（各三兩）</p>
<p>上先以小鯉魚一頭，如食法煮，取汁，每汁二盞，入藥五錢，姜七片，橘皮少許，煎七分，空心服。</p>
<p>全生白朮散</p>
<p>白朮（一兩）　生薑皮　大腹皮　陳皮　白茯苓（各五錢）</p>
<p>上為末，每服二錢，米飲下。</p>

<h2>傷食</h2>
<p>《經》曰：飲食自倍，腸胃乃傷。又云：陰之所生，本在五味；陰之五宮，傷在五味，故妊娠傷食最難調治。</p>
<p>愚按：東垣先生云：脾胃之氣壯，則過時而不飢，多食而不傷。蓋胃主司納，脾主消化，五臟之本也。然食倍而傷者，乃脾氣虛而不化也。若投以峻劑則脾胃復傷而胎亦損矣。當審其所困而調治之。若飲食停滯或肚腹作痛，用平胃散；嘔吐噁心，加枳殼、砂仁；吞酸噯腐，加黃連三分、吳茱萸二分；腹滿泄瀉，用六君子湯；停滯肉食，倍加山楂；停滯麵食，倍加麥糵；停滯糯食，用白酒麴末一味；米食停滯，倍加谷糵；魚腥所傷，倍加陳皮；傷辛熱之物，加黃連；傷生冷之物，加砂仁、木香，如不應，更加肉豆蔻、補骨脂；再不應，用四神丸；若脾氣下陷，用補中益氣湯。凡噯覺藥氣，且戒藥餌節飲食。《經》云：損其脾胃者，調其飲食，適其寒溫。大凡飲食難化，多系脾胃虛弱，以白朮、陳皮為末等分，曲糊丸常服，最善枳朮丸，但可暫用，枳實峻厲，能耗真氣，治者慎之。</p>
<p>四神丸　治脾胃虛弱，清晨五更作瀉，或全不思飲食或食而不化，神效。</p>
<p>破故紙（炒，四兩）　肉豆蔻（二兩）　五味子（二兩）　吳茱萸（四兩）</p>
<p>上制過為末，用大紅棗四十九枚，生薑四兩，切碎，同棗用水煮熱去姜，取棗肉和藥丸，桐子大，每用五十丸，空心鹽湯下。</p>

<h2>不語</h2>
<p>孕婦不語，不須服藥，臨產月但服保生丸、四物湯，產下便語。《素問》曰：人有重身，九月而喑，何也？岐伯曰：胞絡繫於腎，腎脈貫系舌本，故不能言。十月分娩後，自為之言也。人有患此，當調攝以需之。不必驚畏而泛用藥也。</p>
<p>保生丸</p>
<p>大麻仁（去殼，一兩半）　貝母　黃芩　大豆黃卷　粳米　炙甘　炮姜　肉桂　石斛（去根）　石膏　秦椒（微炒，出汗，各一兩）　當歸（炒，五錢）</p>
<p>上為末，蜜丸，彈子大，每用一丸，空心溫酒或棗湯化下。</p>

<h2>悲傷</h2>
<p>許學士云：一婦無故數次悲泣，是為臟躁，用大棗湯而愈。又，程虎卿內妊娠五月，慘慼悲傷，亦投大棗湯而愈。</p>
<p>愚按：前症或因寒水攻心，或肺有風邪者，治當審察。</p>
<p>大棗湯</p>
<p>甘草（三兩）　小麥（三兩）　大棗（十枚）</p>
<p>上水六鍾煎三鍾，分三服，亦補脾氣。</p>

<h2>喘急</h2>
<p>妊娠喘急，兩脅刺痛，脹滿，因五不利，血氣虛弱，或食生冷，致憎寒，唇青面白，筋脈拘攣，骨節痠痛，皮毛乾澀，上氣喘急；或嘔吐；或大便不通，可服紫蘇飲。</p>
<p>愚按：世之喘急者，多因外感風寒，客於肺經而然。又有痰滯於肺經，阻礙氣道而然。又有懷娠，肝腎虛極，陰火上衝，刑害肺金而然。又有死胎作喘，其脈氣口盛於人迎一倍，厥陰絃動而疾，兩尺俱短而離經。蓋得之毒藥損胎，奔迫而上衝，非風寒作喘也。已上諸症，各有不同，不可例視而不辨也。</p>

<h2>頭旋項腫</h2>
<p>妊娠頭目旋眩，視物不明，腮項腫滿者，皆因懷娠多居火閤，衣厚蓋熱，並食辛辣之物，致令胎熱，肝臟壅熱，風衝入腦也；若加涎壅則危大，忌酒、面、煎、熬、炙、煿、辛辣一切熱物。治用益血涼血之藥。</p>

<h2>乳自出</h2>
<p>妊娠乳自出，謂之乳泣。此因原氣虛薄，不能收攝而然也。可服八珍湯加黃耆、附米、陳皮。</p>

<h2>胎肥</h2>
<p>身居富貴，口咽肥甘，喜樂不常，食物無度，飽即便臥，致令胞胎肥厚，根蒂堅牢，行動氣急，於臨盆必致難產。可服無憂散，並瘦胎、滑胎等方。</p>
<p>無憂散</p>
<p>當歸　川芎　白芍　枳殼　乳香（各三錢）　木香　甘草　血餘（各一錢五分）</p>
<p>上為末，每服二錢，水煎，日進二服。</p>
<p>縮胎飲（即達生散）</p>
<p>大腹皮（三錢）　人參　陳皮　蘚莖、葉（各五分）　白芍　白朮　當歸（身、尾各一錢）　炙甘（二錢）　枳殼（五分）　縮砂（五分）　青蔥（五葉）　黃楊樹腦（一錢）</p>
<p>上水煎服。</p>
<p>滑胎方</p>
<p>車前子為末，酒調方寸匕。不能飲者，水調。</p>

<h2>半產</h2>
<p>《脈訣》云：半產漏下，革脈主之，弱即血耗，立見傾危。仲景曰：弦則為寒，芤為虛，虛寒相搏，名曰男子亡血失精，婦人半產漏下。</p>
<p>愚按：半產一症不同正產，如果中粟熟，其殼自拆，兩無所損。若小產，如採粟折其枝條，碎其膚殼，損其皮膜，然後取得其實，是胎元損傷，胞條斷去而後始墜，皆因月未滿足，血氣虛弱，不能榮養。如果木無力，自然萎謝，或誤服藥餌，或寒邪熱毒所傷，或舉重跌僕所傷，或犯禁忌，或大怒傷肝，或衝任脈虛漏下所致。大都半產者初次三個月墜；再娠墜亦三個月、五個月墜；再娠必五個月、七個月墜；再娠必七個月，不差毫髮。若其氣血虛弱者，理宜預服藥，以防之。既墜之後，尤宜慎重將息，比之正產更十倍也。有嫌兒女太多，一覺有娠，服毒去胎，尤關利害，此則自招，於人何尤？</p>

<h2>孕癰</h2>
<p>治孕癰用瀉藥五錢，水一鍾，煎七分，入牛皮膠一兩，煎化溫服，或薏仁煮汁飲之。</p>
<p>薛云：孕癰即是腹內患癰，如前法不應，宜用牡丹皮散或薏苡仁湯。</p>
<p>牡丹皮散</p>
<p>丹皮　人參　天麻　白茯苓　黃耆（炒）　川芎（各一錢）　官桂　炙甘（各五分）　木香（三分）</p>
<p>水煎服。</p>

<h2>滑胎易產</h2>
<p>愚按：生產之難，難於氣血之劣弱；生產之易，易於娠母氣充而血裕也。乃若壯實之婦，懷娠十月滿足，生育不費時日，易易耳。何必服藥？若怯弱者，難概論矣。是宜補血氣。以培其元，則芎、歸、茺蔚、參、術之類所不能已；滑水道以利其路，則車前子、滑石、葵子之類，在所必用。清熱有條芩，寬胎用枳殼，順氣用蘇梗，如此之藥，預多服於第九個月之時，臨產無艱難之慮，既產無諸病之生，誠預防之妙　法也。若奉養之家，胎氣肥厚者，須無憂散、枳殼達生散以寬其胎，則生產亦易。保生家宜隨虛實以為用舍，不可拘泥。</p>

<h1>卷下</h1>

<h2>論脈離經</h2>
<p>《脈訣》云：欲產之婦脈離經。解之者曰：一呼三至，曰離經，此陽加於陰一倍也。一呼一至，亦曰離經，此陰加於陽四倍也。注云：經者，常也。平人一呼再至，今一呼三至，比平人行速，此至脈之離經也。平人一呼脈再至，今一呼一至，比平人脈遲，此損脈之離經也，謂離其經常之度也。又曰：沉細而滑也同名，謂臨產脈沉細而滑，乃腎臟本脈之形。腎系胞胎，見此脈者，亦與離經之脈同也。</p>
<p>愚按：經者，常也。離經謂常脈一呼二至，今則一呼三四至矣；一吸二至，今則一吸一至矣。又或妊婦平日脈小，今忽大矣，平日脈大，今忽小矣，是離其經常之脈體。且又腰腹俱痛，知其將產之時也，此見成易明之說，不必引《難經》亦可。</p>
<p>「夜半覺痛應分誕，來朝日午定知生。」注云：若妊婦夜半時覺腹痛，一定知來日午時當分娩也。此謂子午相對，正半日時數也。</p>
<p>愚按：生產有難易。婦人易產者，腹才痛便產，或初產，或妊婦質弱，氣血不充。近有腹已痛，胞水已破，腹既痛而又不痛，經二三晝夜不即生，安可拘定半日，當以活法。</p>
<p>通真子曰：夜半痛，日午生，此言恐未的。又曰：腹痛而腰不痛者，未產也。又腹連腰痛，甚者即產。所以然者，腎候於胞，腰繫於腎也。診其尺脈，轉急如切繩展珠者，即產也。</p>

<h2>論產婦生死形症</h2>
<p>《脈訣》云：身重體寒熱又頻，舌下之脈黑復青，反舌上冷子死腹，當知見此母歸冥。注云：凡妊婦身體沉重，胃氣絕也。又體熱寒慄頻並，陽氣衰，陰氣盛也。若舌根下脈青黑，及舌反捲上，冰冷不溫者，母子俱死之候。</p>
<p>「面赤舌青細尋看，母活子死定應難。」凡妊母面色赤，是榮氣流通，母活之候。舌上青色，是妊母脈絡絕，胎死之候。「唇口俱青沫又出，子母俱死總教棄。」若妊母唇口俱青色者，榮衛氣絕也。又口中吐出痰沫者，是脾胃之氣俱絕，此子母俱死之候也。</p>
<p>「面青舌赤沫出頻，母死子活定知真。」凡妊母面與舌皆青色，又吐痰沫者，是產母榮衛俱絕，胎氣上衝之候，此是子活母死之候。如胎先下，其子得活，如未下見此候，子母俱死。</p>
<p>按《脈訣指南》作「面青舌赤」。蓋面以候母，舌以候子。今雲子活，合以赤舌為是。若云舌青，則與前面赤舌青，母活子死之候相反矣。</p>

<h2>論新產脈</h2>
<p>《訣》云：新產之脈緩滑吉，實大弦急死來侵。夫緩滑為沖和胃氣，實大弦急是無胃氣，必死矣。</p>
<p>「若得沉重小者吉，忽若堅牢命不停」。夫沉重微小，乃形虛相應。若堅硬牢實，是脈盛形衰相反矣。</p>
<p>「寸口澀疾不調死，沉細附骨不絕生。」夫脈澀則不疾，疾則不澀，大小不調而澀疾也。產婦失血，五臟空虛，故以緩滑沉微為脈應病。今惟澀疾不調，則氣血衰絕，脈不應病，故云死也。若沉細附骨不斷，乃生活之兆。</p>
<p>愚按：產後脈洪大矣，中有和緩之狀，雖危可生也。曾兩遇產婦六脈洪大異常，意甚危之，俱以補藥調理獲安。然洪大之中，有和緩從容之胃氣在也。若洪大而又急數，非佳兆矣。</p>
<p>產後脈洪數，產前脈細小澀弱，多主死。懷孕者，脈主洪數，已產而洪數不改者，多主死。</p>

<h2>生產事宜</h2>
<p>凡妊婦八九個月以後，切勿久坐久睡，以致氣不運動。亦勿勞於女工，以致氣血虛弱。調養得宜，自然易產。</p>
<p>凡臨月不可洗頭、浴身、濯足，恐致橫逆之患。</p>
<p>凡臨月忽然腹痛，或作或止，或一日、二日、三四五日，胎水已來，腹痛不止者，此名弄痛，非當產也。有一月之前忽然腹痛，如欲即產卻又不產者，此名試月，非當產也。不問胎水來與不來，俱不妨事。第當寬心待時，時至自產矣。有胎有近上未下墜者，非當產也。凡此俱不可早先驚動，恐產婦聞而氣怯，致難產耳。</p>
<p>凡覺胎轉動，腰腹急痛之時，或捏產母手之中指，其中節，或末節，筋骨跳動，方與臨盆即產矣。切不可聽信穩婆預先頻頻試水，及輕易下手，恐有誤傷胞破，以致胞水先涸；或風入產門，因而腫脹狹小，分娩為難。</p>
<p>凡腰腹陣陣痛極不已，穀道迸迫如欲大便，眼中溜火，漿破血來，此則正生之候也，全賴穩婆接應。</p>
<p>凡臨盆之際，腹中急痛，乃是兒方轉動。若胎氣壯者，轉身易易；胎氣弱者，轉身艱難，未免延緩時日。惟是腹痛不已，因時候未到也，宜令人扶持行走，或靠物直立，又令人以兩手摩其兩腰眼處。若或精神倦怠，則以被褥壅墊脊背，正身仰臥少頃，又令行立如初，不可彎腰扭身，斜倚側靠，恐胎兒折破胞水，轉身向下，尋到生門，被迷出路也。</p>
<p>凡腰腹雖痛，而其勢向緩，且令產婦勉強食飲，惜力養神，自然臨盆快易。切不可輕聽穩婆，妄亂用力，以致困乏。況兒方轉身，頭將向下，若用力妄逼，令兒錯路，多致橫逆之患。必須試探兒之頭腦，正對產門，別無絆礙，於是用力一逼，譬如人之登廁，時候未至，用力何益。</p>
<p>凡腹痛未產之前，如覺心煩或口渴，可用滾白水調蜂蜜一匙與飲；如飢，則與稀粥少許，勿忍飢忍渴。</p>
<p>分娩如值寒冷之時，切不可預去下衣。早先試水，恐致寒冷則血氣凝滯，不能流通，難於分娩，古人謂之凍產。是以衣裳宜厚，產室宜暖，閉塞窗戶，毋令透風，內須置火一二盆，不使有煙。蓋室暖氣和，生產自易，及至產畢，以釅醋碗許澆灑火內，使醋氣熏鼻，可無血暈。</p>
<p>生產若遇暑熱之月，產婦當溫涼得宜，熱甚則產母頭疼面赤昏暈；若產室人眾，熱氣蒸逼，亦致前患；若夏月風涼陰雨，亦宜謹避。</p>
<p>凡臨產宜預擇老成有識穩婆及淳謹婦人一二在房扶持，其一切外來親戚及孝服汙穢、月經不淨、或體氣、酒醉之婦，皆宜杜絕，勿令入房，觸犯胎氣。</p>
<p>凡臨產之時，雖有急逼異常等事，房中不得喧鬧，戶外不得叫喊，恐產婦受驚，則氣散而胎氣反滯澀也。惟宜閉戶息向，靜以待生。</p>
<p>臨產之月須要緊梳頭，以候一月之後。</p>

<h2>既產事宜</h2>
<p>產畢未可上床，且用兩人扶住，卻令人從心下輕輕按至臍腹五七次，惡血皆下，此後雖睡，時時按之，惡露不滯乃止。</p>
<p>上床之後雖有困倦，不可任其熟睡，須時時喚醒。如不思睡，可與溫粥食之，勿令太飽。</p>
<p>產母才分娩，須燒秤錘或硬炭石灰令通赤，置器中，急於床前，以醋沃之，聞氣可除血暈。</p>
<p>產畢且令飲童便、老酒各一杯，須火溫。</p>
<p>產畢不宜便睡倒，且閉目少坐，背後倚物，須更，方扶上床，仰臥豎膝，未可伸足，勿令側臥。</p>
<p>才分娩切忌問男女。且看血下多少，隨症用壓藥，良久吃溫粥。且得男則喜，恐有紅汗之症（大喜傷心，喜則氣散，血隨氣行，故汗也）；得女則憂，恐致敗血衝心之症。</p>
<p>凡七日內不可洗身、洗足，七日外方可洗。倚著親手洗面，須在一月之外，滿月卻梳頭、洗澡；一百二十日內，不可勞力過度。</p>
<p>新產宜厚褥遮四圍，使無隙風。</p>
<p>夏月不宜房內燒火煮粥。</p>
<p>才產勿多飲酒，酒能引血奔入四肢，臟氣方虛，不耐酒力。</p>
<p>產後不可獨宿，恐致虛驚。</p>
<p>產後不可刮舌，恐傷心氣。</p>
<p>產後不可刷齒，恐致血逆。</p>
<p>產後不可即多食肥甘等物。</p>
<p>才產血暈昏迷，不可誤認為虛脫，遽服參湯。若使腹作痛，惡血去少，俱不可服；倘使去血過多，生產費力，產婦昏倦；或多自汗，夜不成寐；或血大脫；或發厥；或大瀉不止，急用服參，不可拘執新產不可服參之說也。</p>

<h2>產後藥忌</h2>
<p>丹溪云：產後須大補氣血，雖有雜症，以末治之。又曰：產後不可用白芍，以其酸寒伐生生之氣也。</p>
<p>有發熱，不可用麻黃、紫蘇、柴胡、葛根、蒼朮、羌活、前胡等一切發散之藥。</p>
<p>產後瘧疾，切不可用常山等截瘧。</p>
<p>產後感寒，心下痞滿，不可專用消導。</p>
<p>產後感冒，風寒咳嗽，或身熱，不可專散風寒。</p>
<p>產後忿怒，不可專用烏藥、厚朴、枳實等理氣。</p>
<p>產後失血，心神失守，妄言見邪，決不可執是痰火，用消導藥並符尺。</p>
<p>產後血崩決，用大劑參、耆、白朮並桂、姜，不可用歸、地補血，並一切涼血止血之藥。</p>
<p>產後目痛赤腫、昏熱，不可用芩、連等藥。</p>
<p>產後大便燥結不通，決不可用大黃等通利之藥，致成鼓疾。</p>
<p>產後有生癰毒，多是血注，不可用敗毒散、大黃等方，並針刀去毒。</p>
<p>產後咳血吐血，不可用生地、黃柏等寒涼。</p>
<p>產後無乳，宜大補氣血，不可用川山甲等行乳。</p>

<h2>產後不可服寒涼解</h2>
<p>天生藥物，誰不可服？連、芩、梔、柏，降火所宜。而新產之後，不可服寒涼之品者，何也？蓋吾人之所恃以生者，氣與血也。而氣血之所藉以生生不息者，脾與胃也。胃主受納，脾主運化，一納一運，飲食入胃，化生氣血，榮養百骸，氣血充盛，人體長春。是故脾為化生之源，不可傷也，況新產之後乎？百脈空虛，所藉以復其既虧之氣血者，賴有脾胃之中一點化生之機，此機不可以寒涼之藥再傷而遏絕之也。倘使見其有火，陡用芩、連、梔、柏等物，以傷其喜溫惡寒之脾胃，則不惟胸滿泄瀉，且土中幾希之生意盡泯。如星星之火，復灌以滔天之水，欲其不滅，不可得已。丹溪云：產後不可用白芍，以其酸寒伐生生之氣也。夫白芍酸寒，非比芩、連、梔、柏，且戒勿服，則余可知矣。雖然，予曾見一婦產後火症，大服山梔而愈。此蓋元氣充實，非尋常產婦之弱者可論也，亦千百而一二耳，豈可以例視之耶？</p>
<p>又產後燥惡熱，乃陰虛火動，一切寒涼之藥禁不可服，而況瓜水寒冷之物乎？夏月尚不可用，而況寒冷之時乎？</p>

<h2>論難產</h2>
<p>愚按：婦人所謂難產者，凡胞水乾涸，經日不產，或橫或逆，或偏或坐，或礙，或盤腸，或交骨不開，或胞衣不下等項，皆難產也。病家聽之而不救，則生之難；醫師昧療治之法，則蘇之難。究其因，在孕婦氣血之弱耳。若使氣血充足，十月滿足而生，如瓜熟蒂脫在頃刻間，不費時日，固易易耳。惟氣不充而血不裕，則難產矣。有富貴之家，過於安逸，以致氣血凝滯而不能轉者；有漏胎去血多而臟燥者；有八九月內不能謹欲者。或腹才痛即便驚動，血露早下，未產而血先枯，令子道乾澀，產婦力疲，致有橫逆不順等項，理宜補養氣血，氣充血裕自然轉危為安。為是，作產前宜大補氣血論。</p>
<p>《論》曰：丹溪云，婦人產後，須以大補氣血為主，雖有雜症，以末治之。後世誦之，皆以為治產之良法。反復思之，固王道之言乎？予則有說焉，產之前更宜以大補氣血為先也。夫丹溪以產後言，而予以產前言，何也？蓋人生天壤間，借氣血以為立命之源，榮養百體，灌溉臟腑。血蓄則為乳汁，血下則為月水；既孕則資之以養胎，臨產則借之以送胎。無一日不可不充足，無一日不可不補養也。夫苟妊母天稟素弱而氣血虧矣，五勞七傷而氣血耗矣，則胎何所藉以長養而易產耳？即使胎既長大，十月滿足，氣不足以送此胎，血不足以順此胎，臨產既有艱難之症，產後自多諸病之生。是以參、術之類以補氣，芎、歸、茺蔚之類以補血，少佐以順氣清熱，宜保生家之所亟圖也。何也？蓋胎猶舟也，血猶水也，氣猶風也。水溢則舟利，風疾則行速，氣血充而胞胎順，理固然耳。且也氣血既足，產不費力，產後諸病何由而生，何須大補？乃胎前之補，一舉而兩得。何利如之？世人但知產後既病之補為得治產之妙，而不知產前未病之補為產育預防之妙法耶。古云：不治已病治未病，豈非高出尋常之見哉？或曰：胎前宜補，子之所云，似或近理。但古賢立有瘦胎飲、達生散、無憂散、滑胎散，皆以枳殼、蘇梗葉、大腹皮之類為束胎易產之良劑。而今云：宜補氣血。何矛盾若此？曰：此因婦人之肥盛者而說也。倘使怯弱之婦復耗胎元，則產後變症將有不可測者，則瘦胎等方可例施耶？世間之人，壯者寡而弱者多。故其治，補者多而消者少。向使產前失補，而有產後之病，則產後大補氣血之言，不為治產之長策也。然究其道固並行不悖者，在司命者權之。</p>

<h2>難產治例</h2>
<p>橫產者，言兒方轉身，產母用力逼之之故也。凡產母當令安然仰臥，穩婆進推兒身順直，頭對產母，以中指探其肩，不令臍帶羈絆，方用藥催之，繼以產母努力即生。</p>
<p>倒產者，言兒未能轉身，產母努力故也。當令產母仰臥，穩婆推入，候兒自順。若良久不生，令穩婆手入產戶一邊撥兒轉，頭已近產門，卻服推生藥並努力，即下。</p>
<p>偏產者，言兒回身未順生路，產母努力，逼兒頭偏一邊，雖露頂，非也，乃頭角耳。當令產母仰臥，穩婆輕手正其頭向產門，卻令產母努力，子即下。若兒頂後骨偏拄穀道，露額，令穩婆以綿衣炙暖，裹手於穀道外傍輕手推出，令產母努力，子即下。</p>
<p>礙產者，言兒身已順，門路已正，兒頭已露，因兒轉身，臍帶絆其肩，以致不生。令產母仰臥，穩婆輕推兒向上，以中指按兒肩，脫臍帶，仍令兒身正順，產母努力，兒即生。</p>
<p>坐產當從高處牢系手巾一條，令產母以手攀之，輕輕屈坐，令兒生下，不可坐抵兒路。</p>
<p>盤腸生者，臨盆則子腸先出，然後產子，其腸不收，一方穩婆以醋水各半盞，默然噀產母面背，才收。此不可不知。</p>
<p>古方以蓖麻子四十九粒，研，塗產母頭頂，腸已收上，急洗去。其腸若干開，以磨刀水少許溫潤之，再用磁石煎湯服之，即收上。磁石須陰陽家有驗者。若以水噀面，恐其氣亂。</p>
<p>又方以半夏末蓄鼻中，腸自收。</p>
<p>又方以麻油以大紙捻潤油，點火吹滅，以煙燻產婦之鼻，腸自收。</p>
<p>又方，腸出，盛以潔淨漆器，濃煎黃耆湯浸之，腸即上。</p>
<p>愚按：盤腸一症，非產婦本生之病，大都以婦人氣血下陷，故欲產，則氣並於下，而腸先出也。家荊初產二三次，並無盤腸之症，及產後既多遍，元氣已弱，不能收攝，便有此症。若產前早服益血固氣之藥，則自不脫陷，自無前症，此治法與脫肛同。</p>
<p>倒產手足露者，以針法治之。用常使小針於兒手足心針入分許，三四刺之，以鹽塗其上，輕輕送入，兒得驚轉，一縮，當即回頭。若兒腳下，可以鹽塗，腳底又可急搔之，並以鹽塗母腹上。</p>
<p>炙法符藥不驗，急於產母右腳小指尖頭上艾灸，如麥粒大，三壯立產。</p>
<p>一方　治橫倒產難。</p>
<p>蛇蛻（一條全）　蠶故紙（一張）</p>
<p>上俱入新瓦瓶中，鹽泥固濟，燒存性，為末，煎榆白皮，乳香湯調下，二服出。</p>
<p>又方　治橫逆手足先露。</p>
<p>阿膠（炒）　滑石（一兩）　黃葵子（一合）　酥（一兩）</p>
<p>每服四錢，水一大盞，煎七分，二三次服。</p>
<p>又方　治橫逆子死腹中。</p>
<p>伏龍肝　多年紅者研細，溫酒調下一錢，其藥兒頭戴出。</p>
<p>又方　治同前。</p>
<p>伏龍肝　百草霜　白芷（各等分）</p>
<p>上為末，酒便各半，調服二錢，不下，再服。</p>
<p>又方　治橫生。</p>
<p>菟絲子　車前子</p>
<p>上各等分，為末，酒調服三錢。</p>

<h2>經日不產子死腹中</h2>
<p>前症多因驚動太早，漿水先下，未產血枯；或觸犯禁，或抱腰太重，或墮，或跌，或頻試水，胞破水乾，致有子死腹中之症。但看產母舌青黑及胎上冷者，是其候也。若胎已死不出，用平胃散一兩，酒、水各半，煎卻投朴硝五錢服。或用硝一兩，童便調下，亦妙。</p>
<p>奪命丸</p>
<p>牡丹皮　桃仁　茯神　赤芍　桂心（各等分）</p>
<p>上為末，蜜丸彈子大，每服一丸，醋湯化下，或蔥白濃煎湯化下尤妙。連進兩丸，死胎腐爛，立出。</p>
<p>產數日，子死腹中不出，母氣欲絕。</p>
<p>瞿麥（六兩）　通草（三兩）　桂心（三兩）　牛膝（四兩）　榆白皮（四兩）</p>
<p>上水九升，煎三升，去渣，分三服。</p>
<p>牛膝丸</p>
<p>杜牛膝（三兩）　紫金藤（七錢）　厚朴（二錢）　土當歸（四兩）　葵根（七錢）　麝香（五分）</p>
<p>上末，米飲丸如桐子，硃砂為衣，每服五十丸，乳香湯下。</p>

<h2>胞衣不下</h2>
<p>胞衣不下者，因產母氣力困憊，不能努力；或血入衣中，脹大而不能下，上衝心胸疼痛，久而不下則死。但去衣中之血，則胎衣自下矣。其方用黑豆一二合，洗淨炒熟，入醋一大碗，煎六七沸，去豆取汁，分作二服。服之，其胎衣即下。雖系醋煮，並無酸惡之味，然須預備，應手見功。</p>
<p>一方　用滾酒下失笑散一劑，惡露、胎衣並下。</p>
<p>奪命丹　逐胞衣並喉中喘急，亦用此方。</p>
<p>附子（炮，去皮、臍，五錢）　丹皮（一錢）　乾漆（一兩，炒煙盡）　大黃（二兩）</p>
<p>上以大黃為末，米醋一升熬膏，和藥丸如桐子大，每服五七丸。</p>
<p>牛膝散　治胞衣不出，腹中脹痛，急服此藥，腐化而出，緩則不救。</p>
<p>牛膝　川芎　朴硝　蒲黃（各三兩）　當歸（兩半）　桂心（五錢）</p>
<p>上每服五錢，姜三片，生地黃一錢，水煎。</p>
<p>又方　蓖麻子研爛，塗足心下，即洗去。</p>
<p>又方　紅花一兩，酒煎，濃汁服。</p>
<p>脫衣散　治胎衣不下。</p>
<p>牛膝　木通（各三錢）　歸尾（二錢）　冬葵子（二錢）　加枳殼（二錢）</p>
<p>水煎溫服。</p>
<p>不佞歷查古法，治胞衣不下一症，皆用活瘀推蕩之藥，如回生丹、黑神散、黑龍丹、益母丸、奪命丹之類，並未有以人參療此症而效者。近見產醫誤用獨參湯，以致產母立斃，因作論以辯之曰：胎產之易易而無橫逆者，以妊母之氣充而血裕也。夫氣充則有力，以運此胎；血裕則滑利，以送此胎。十月滿足之時，兒在母腹如人在千仞崗上翻身倒豎，拆胞而出，胎亦乘此血水順流而下，沛然有莫御之勢也。倘或妊母氣血虧弱，無力以運，無水以利，胎不易下；或胎雖得下，而胞衣不下，停之；或久風冷乘之，以致瘀血與衣相雜而凝。斯時也，大宜溫和逐瘀之藥，俾氣和而血利，則血去而不凝。治若稍緩，瘀惡撞塞母心，遂成不救。夫人參雖足以療產母之虛，當用於未產之前，俾其氣壯而易產。然則非其時，則瘀血以補而凝結，反成大患。奈何舍當逐之瘀血，反用大補之獨參？原其心，豈不曰：產母氣血少而胞難下，今者補其氣而元氣壯，血易行，胞自下。不思瘀血之留滯，可推而不可補也。得補而必留滯也。昇平之粱肉，豈撥亂之神丹乎？何其弗思之甚耶！</p>

<h2>交骨不開　陰門不閉　子宮不收</h2>
<p>產婦交骨不開，多日不產，由元氣素弱，胎前失於調攝，以致氣血不能運達而然也。幼婦受娠亦有不開者，總一氣血之弱耳。須用加味芎歸湯。</p>
<p>產後陰門不閉，亦由元氣怯弱，不能收攝，腫痛，理宜十全大補湯以收之。有腫痛既愈，而有不閉者，用補中益氣湯。切忌寒涼之藥。</p>
<p>產後子宮不收者，亦由元氣不足，用補中益氣湯加醋，炒芍藥、半夏補而舉之。</p>
<p>加味芎歸湯　治交骨不開，不能生產，功效如神。</p>
<p>川芎（一錢）　當歸（三錢）　龜板（酥炙，一錢五分）　生產過婦人發（一握，煅存性）　加人參（或一錢，或二錢，或三、四、五錢）　益母草（三錢）</p>
<p>上酒水各半，煎服，立產。</p>
<p>按：加減芎歸湯。薛氏云：凡難產者服，有神功。不佞寓都門時，有初產者，經三四日不得下，胞水已乾，用前方加人參、益母草等一服，立產，母子兩全。又一婦人生兩晝夜，漿水乾涸，痛陣已無，勢在危迫，亦與一服，立產。及歸家，遇多人與服，無不立效，真仙丹也。但芎歸加味效不必言，予加人參等尤見效奇，萬發萬中，保產之藥，勝於諸方，倍萬萬矣！</p>
<p>一方　治難產。</p>
<p>用真金箔大者五片，小者七片，以小磁鍾將水少許去紙入箔，內指研勻，後再添水至半鍾，一面先令人扶產母虛坐，又一人用兩手大指按定產母兩肩井穴，以前藥溫服，其胎即下，此催生聖藥也。</p>
<p>又方</p>
<p>人參（一兩）　川芎（八錢）　葵子（五錢）</p>
<p>上水二碗煎一碗，溫服。</p>
<p>立應催生散　治難產及橫生逆產。</p>
<p>車前子　當歸（各一兩）　冬葵子　白芷（各三錢）　牛膝　大腹皮　枳殼　川芎（各二錢）　白芍（一錢）</p>
<p>上水三碗煎一碗，入老酒少許，每用立產。</p>

<h2>血暈</h2>
<p>產後血暈者，因敗血流入肝經，眼見黑花，頭目旋暈，昏悶不知人事。其暈有三：一因用力過多，勞倦甚而氣竭神昏；二因去血過多，而元氣欲絕；三因去血少而心下急滿，神昏口噤。其用力多，而勞倦致暈者，用補中益氣湯；氣血虛極而暈者，清魂散，勿為人參不可用也；若去血過多，神昏渴亂，此真元失守，陰無所附，以芎、歸、薑、附溫經可也；去血少而心下急滿，神昏口噤，不省人事，黑神散神妙；惡露上行，失笑散；此外又有痰火乘虛泛上而神不清者，八物合二陳湯，去芍藥；虛者亦用人參，肥人多痰，加竹瀝、薑汁。</p>
<p>愚按：產後血暈，敗血者多。蓋因一時腹中空虛，熱血氣奔逆所致。第一取釅醋沃火中，使聞其氣為妙。若果六脈空脫，形色俱脫，不得不用參以挽之耳。危急之際，慎勿草草。</p>
<p>清魂散　治產後氣血暴損，虛火妄動，血隨火上，以致心神昏亂，口噤眼花，甚至悶絕而蘇。</p>
<p>澤蘭葉　人參（各一錢）　荊芥（三分）　川芎（一錢）　一方有炙甘草（一錢）</p>
<p>上各為末和勻，每服二錢，熱渴和酒調灌之。</p>
<p>又方　治產後血暈昏迷，用多年陳荊芥穗，燈上燎焦黑，存性，每服三錢，童便兼少酒調下，妙。</p>
<p>從權救危化生湯　治產後形色暈。</p>
<p>當歸（四錢）　川芎（一錢）　乾薑（炙）　荊芥　炙甘（各四錢）　桃仁（十個）　人參（三錢）</p>
<p>如血塊痛甚，加肉桂七分；渴加麥冬一錢，五味子十粒；汗多加麻黃根一錢。如血塊不痛，加黃耆一錢以止汗；傷食加神麯八分，麥芽五分；傷肉加山楂、砂仁各五分。水煎服。</p>
<p>黑神散</p>
<p>熟地　蒲黃（炒）　當歸　乾薑　桂心　白芍（各二兩）　炙甘（二錢）　黑豆（炒，去皮，二合半）</p>
<p>上細末，每服二錢，酒半鍾，童便同煎調服。</p>
<p>凡產後諸症，用前藥治之。</p>
<p>一病熱胎死　二難產　三血暈　四虛腫　五胞衣不下　六口乾心悶　七乍寒乍熱　八忽見鬼神　九月內不語　十腹痛兼瀉（更用調中湯）　十二遍身疼　十三血崩　十四腹脹嘔吐　十五中風</p>

<h2>血崩</h2>
<p>產後血大來，當審血色之紅紫，視形色之虛實。如血多色紫有塊，乃當去之敗血也；若留止反作痛，不可為崩。如鮮紅之血大來，乃是驚傷心，不能主；怒傷肝，不能藏；勞傷脾，不能統血歸原。又有誤服通利之藥，以致大脫，當作崩治。若形脫，或多汗不收，或氣促，或氣息奄奄，宜大加參、耆，以大益元氣。斯氣固而血不走，非四物、芩、連、棕灰、牡蠣、地榆等可以止也，宜升舉大補湯。</p>
<p>薛云：若血滯小腹脹滿，用失笑散；血少小腹虛痞，芎藭湯；肝火血妄行，加味逍遙散；脾郁不統血，加味歸脾湯；脾虛不攝血，補中益氣湯；厚味積熱傷血，清胃散加槐花；風熱相搏傷血，四君、防風、枳殼。</p>
<p>升舉大補湯</p>
<p>白朮　當歸　熟地　人參（各二錢，血去多者加）　陳皮　炙甘（各四分）　川芎　黃耆（二錢）　麥門冬（一錢）　荊芥　防風　羌活　升麻　白芷（各五分，炒焦）</p>
<p>加山萸、薑、桂、五味、棗仁。上水煎服。</p>
<p>固經丸</p>
<p>艾葉　赤石脂（煅）　補骨脂（炒）　木賊　附子（一個，炮）</p>
<p>上末，飯丸，梧子大，每服二十丸，米飲下。</p>
<p>愚按：產後血崩，世醫循習舊套，多用四物等補血，芩、連、梔、柏等涼血，棕灰、地榆、牡蠣、蒲黃等澀血，意以崩脫之後，血必大虛，宜補以生之，一也；血熱則行，血冷則凝，惟寒涼則血可止，二也；血滑則下溜，血澀則凝止，三也。似頗近理。然每見血大崩脫者，生死在一瞬間，三法多不獲效。若欲挽回妙法，在於益氣。蓋人身之血，隨氣而行，氣升血升，氣降血降。今既血脫氣陷，可知不急固氣，血安從止？故惟人參二兩，或兩半，或一兩，並耆、朮、薑、桂、五味子、山茱萸、升麻之類，服有神效，歷驗不訛。若彼四物陰滯之品，反戕中氣，芩、連苦寒之味，沉降脾氣。元氣陷而血愈陷，血不止而氣愈脫矣。呼吸存亡之秋，此氣將絕未絕之頃，故惟大益其氣為上策也。雖然，此患人本元素弱，內無七情之擾，一旦勞傷，血大崩脫，昏迷汗出，氣息奄奄，六脈虛濡，似有似無，無益氣之法莫能救耳。若正產，或半產，或悲慼之過傷，或大怒以傷肝，此非無感而血脫者，似未可概以參、耆補之。蓋肝有怒火，則肝氣盛滿，不納不藏，為旺血沸，下為崩淋，淋瀝之久，血涸生風。《經》曰：風勝則動，血室不寧，迴旋鼓扇，逼血妄行，故不易止矣。一婦半產，多怒血崩，醫用平肝止血，久服罔效。予診六脈弦健而數，意其肝火大旺，亦與伐肝降火不應。思其血脫既久，必然大虛，虛則臟腑純陽無陰以和雜之，必生風。治在專補陰血，血足則火熄，火熄則風滅。庶血室寧而血可止也。用六味丸料加防風、山梔、黃芩，一服而血止。後以治崩血因怒者，俱立效。及查薛氏案，有單用六味地黃丸料治血崩陡效者，則予之所治，非鑿空而杜撰者倫矣。然前法用參、耆而效者，以氣虛而血陷也，若用四物等則悖矣。後用補陰而效者，以血涸而風生也，若用參、耆反助火矣。此大關係處。予見前人治脫血多用四物，芩、連，棕灰、牡蠣等三法一常套，不能一通變，百不起一，深為惜之。敬書此，以為高明者告云。</p>
<p>又云：產後血崩一症，世醫多不敢大用人參，拘定三法，且局於習俗之談，多致一脫而亡。然醫不敢用參者，恐或攔住瘀血耳。予曰：血既大脫，人身好血且崩而去，尚何留瘀？故惟獨參益氣為上策耳。</p>
<p>世醫治血症好用寒涼，以東垣涼血地黃湯皆寒涼藥也。殊不知只可用於陰盛搏陽之症，不可用於氣虛血陷之症也。臨症宜三思之。</p>

<h2>發熱</h2>
<p>產後發熱一症，雖人所常患，然決不可以常時發熱散邪之例治之也。予見誤投蘇、葛、柴、前而傷生莫救者不少矣。蓋未審產後之熱有不同之因乎。有因去血過多者，有因惡露不盡者，有因內傷飲食者，有因外感風寒者，有因感冒夾食兼氣者，有三日蒸乳者，俱憎寒發熱，並身痛腹痛，不可概以發散為主也。</p>
<p>產後去血過多發熱者，脈必虛大無力。內無痛者，此非有餘之熱，乃陰虛不足生熱，用四物湯去芍藥，加參、朮、茯苓，淡滲其熱；若大熱不退，加炒黑乾薑，效如神；或用芎歸調血飲，尤妙。凡有傷力發熱，或早起勞動發熱者，皆同此治法也。</p>
<p>產後惡露不盡，亦有發熱惡寒，必脅肋脹滿，連大小腹有塊作痛，名「兒枕」。產後腹痛血瘀，宜四物湯加五靈脂、牡丹皮、桃仁、紅花、玄胡、香附、青皮、乾薑、官桂，酒、水各一鍾，黑豆一撮後磨，木香入童便、薑汁，取下惡物為效；或用黑神散尤妙，後以八物湯加乾薑、陳皮，佐童便、炒香附調理。</p>
<p>產後脾胃虛弱，飲食必難克化，以致停滯發熱，必有噫氣作酸，惡食而口中無味，胸膈飽悶，氣口脈必緊盛，發熱惡寒，頭痛用治中湯加神麯、山楂、砂仁、炒黃連、川芎、當歸佐之，或用理脾散亦效。（傷食者，必瀉。而熱結屎者，小腹實痛）</p>
<p>產後榮衛俱虛，腠理不密。若冒風發熱者，其脈浮而微或自汗，以芎芷香茹散加羌活、防風主之；如感寒者，脈弦而緊，或惡露欠通，以五積散主之；如風寒兩感者，脈浮而緊，以五積散、交加散主之；有汗去麻黃，邪盛去人參。</p>
<p>產後內傷飲食，外感風寒，或兼氣惱而發熱者，人迎氣口脈俱緊盛，以行氣香蘇散主之；又有純是著惱，以致肝火上炎，或寒或熱，須用小柴胡湯加香附、砂仁、膽草之類。</p>
<p>產後蒸乳，惡寒發熱者，必乳間脹硬疼痛，令產母揉乳汁通，其熱自退；或用麥芽二兩，水煎服立愈。</p>
<p>芎歸調血飲　治產後氣血虛損，脾胃怯弱，或惡露不行，或去血過多，或飲食失節，或怒氣以致發熱惡寒，自汗，口乾，心煩，喘急，心腹疼痛，脅肋脹滿，頭暈眼花，耳鳴口噤，不語昏憒等症。</p>
<p>當歸　川芎　白朮　茯苓　熟地　陳皮　香附（便制）　烏藥　乾薑（炒黑）　益母草　丹皮　甘草</p>
<p>上薑棗水煎。</p>
<p>更生散　治產後去血過多；或不止，或頭眼暈花，口噤，發熱憎寒。</p>
<p>人參　當歸　熟地（薑汁炒，各一兩）　川芎（五錢）　乾薑（炒黑，三錢）　荊芥穗（香油燈上燒過，三錢）</p>
<p>上水煎，空心服。如血大下不止，加龍骨、赤石脂俱煅，等分為末，每二錢以前藥調服。外以五倍子末津調，納臍中即止。</p>
<p>理脾湯　治產後停食，胸膈飽悶，身發寒熱。</p>
<p>蒼朮　陳皮　神麯　山楂　麥芽（各一錢）　厚朴（薑汁，一錢半）　砂仁（七分）　乾薑（炒黑，八分）　炙甘（三分）</p>
<p>泄瀉加白朮、茯苓。</p>
<p>上姜三片，水煎。</p>
<p>按：丹溪云，產後當以大補氣血為主，雖有雜症，以末治之。須問臨產難易，去血多少。如產難去血多者，病致寒熱頭疼，脈虛數大，或虛浮弦緊者，勿誤認作外感。是陰血既亡，陽氣外散，而未復也，名為正虛。當用八物湯加炒黑乾薑，能於肺分利肺氣入肝，分引血藥生血，然必與補血藥同用。若產易及惡露不通，腰腹疼痛，致寒熱頭疼者，當去惡血，若腹滿者，非惡血也，切不可發表。有素稟血熱，因產重傷，遂致血病偏虛，潮熱，脈弦數，口舌生瘡。雖有惡露，惟宜清涼，勿犯溫燥，防其血傷，熱極漸成癆瘵。</p>

<h2>虛煩發熱</h2>
<p>此症乃陽隨陰散，氣血俱虛。若惡寒發熱，煩躁作渴，急用十全大補湯；若熱愈甚急，加桂、附；若作渴面赤，宜用當歸補血湯；若誤認為火症，投以涼劑，禍在反掌。治法：無水者，六味丸；無火者，八味丸；氣血虛，八珍湯、十全大補湯。</p>
<p>人參當歸湯　治產後虛煩，短氣煩悶。</p>
<p>人參　當歸　麥冬　桂心　生地　淡竹葉（各二錢）　芍藥（炒，一錢）　大棗（四枚）　粳米（一合）</p>
<p>上水煎。</p>
<p>蒲黃散　治同上。</p>
<p>四物湯加茯神、遠志，治產後虛煩，十全大補湯尤效。</p>
<p>六味丸　八味丸　八珍湯　六君子湯</p>

<h2>產後乍寒乍熱</h2>
<p>寒熱日夜無度。由氣血虛損，陰陽不和，敗血不散，循經入於肺，閉於諸陽，則熱；入於脾，閉於諸陰，則寒。亦有陰虛生內熱，內熱生煩，不可作瘧治。若陰勝則乍寒，陽勝則乍熱，宜用增損四物湯。若因敗血不散，腹內作疼，宜用奪命丹，後用增損四物湯。陳無擇云：敗血流閉諸陽諸陰，用大調經散、五積散。</p>
<p>薛云：若因陽氣不足，陰氣上入於陽中而惡寒者，用補中益氣湯。若因陰氣不足，陽氣下陷於陰中而發熱者，用六味丸。若氣血俱不足，而惡寒發熱者，用八珍湯。若病後寒熱倦怠者，用補中益氣湯。若肌熱大渴，目赤面紅者，用當歸補血湯。</p>
<p>一云：陰陽不和，增損四物湯；敗血不散，奪命丹；若時有刺痛者，敗血也；但寒熱無他症者，陰陽不和也。</p>
<p>增損四物湯</p>
<p>人參　當歸　芍藥　川芎　乾薑（炒，各一兩）　甘草（四錢）</p>
<p>每服四錢，姜水煎。</p>
<p>大調經散　治產後惡露未消，寒熱自汗，或肚腹作痛。</p>
<p>大豆（一兩半，炒去皮）　茯神（一兩）　真琥珀（一錢）</p>
<p>上末，每服二錢，空心，濃煎，烏豆紫蘇湯調下。</p>
<p>奪命丹</p>
<p>丹皮　乾漆（碎之，炒，令煙盡，各一兩）　附子（炮，半兩）</p>
<p>上末，以好醋一升，大黃末一兩同熬成膏，和藥丸如梧子大，溫酒吞五、六丸。</p>
<p>五積散　六君子湯　補中益氣湯　十全大補湯　當歸補血湯　八珍湯</p>

<h2>傷寒</h2>
<p>夫大產之後，氣血兩虛之日也。若患外感傷寒之症，當以調養為主。譬如勞傷、房勞，全用補劑，謂之溫能除大熱也。豈若壯健之人可直施汗吐下之法也。果因感冒寒邪，憎寒壯熱，頭疼身痛，無汗者，用五積散；若因傷風感寒，傷暑中濕，以致咳嗽氣喘，痰涎壅盛，發熱不安，旋覆花湯；若傷風發熱，面赤喘而頭疼，竹葉防風湯；六經見症，彷彿胎前。若傷寒十數日不解，頭微痛，惡寒，時時發熱，心下堅，乾嘔汗出者，陽旦湯；若血虛寒變成痙症，身強項背反張，如中風狀者，仍分剛、柔二痙，用麻黃葛根湯、栝蔞湯、桂枝湯、小續命湯之類以治剛痙；用補中益氣湯、八物湯、四物湯之類以治柔痙；若虛羸發熱，食少腹脹，或往來寒熱，柴胡湯；亡血汗多，以致鬱冒，脈微弱，不食，頭汗大出，便堅，柴胡湯；若寒熱往來，心胸煩悶，骨節疼痛，身發壯熱，日晡加甚，如瘧之狀者，蜀漆湯；若四肢煩熱，小柴胡湯；頭不疼只煩者，黃芩湯加當歸、川芎，虛加人參；若身熱氣衝，胸滿脅痛，小柴胡湯加枳殼、生薑；大發熱者，加白朮、乾薑、茯苓、四物湯；若虛煩不眠，四物湯加人參、歸身、陳皮、川芎；若發熱口渴，大便燥結，惡露不去，四物湯加桃仁、紅花、烏梅；若是者，豈足以盡氣血大虛之法哉？要之，隨症加減，毋大汗大下已也。</p>
<p>五積散（見身痛）</p>
<p>旋覆湯　治婦人產後傷風寒暑濕，咳嗽氣喘，痰涎壅盛，發熱，坐臥不安。</p>
<p>旋覆花　赤芍　前胡　半夏　五味子　荊芥　甘草　茯苓　杏仁　麻黃（各等分，如夏月並有汗，去麻黃）</p>
<p>上每服四錢，薑棗水煎。</p>
<p>竹葉防風湯　治產後傷風，發熱頭疼，面赤氣喘。</p>
<p>竹葉（廿四片）　防風　人參　桂枝　桔梗　前胡　陳皮　白茯苓</p>
<p>上薑棗水煎。</p>
<p>陽旦湯</p>
<p>芍藥　甘草　桂枝（各二錢）　黃芩（三錢）</p>
<p>上水煎，溫服，取小汗。</p>
<p>麻黃葛根湯　太陽發熱惡寒，無汗，惡風及剛痙，背項反張。</p>
<p>麻黃　赤芍（各三錢）　葛根（一錢五分）　豉（半合）</p>
<p>上水二鍾，蔥白一莖，煎八分。</p>
<p>栝蔞桂枝湯</p>
<p>蜀漆湯　治產後寒熱往來，心胸煩悶，骨節疼痛，頭疼壯熱，日晡加甚，又如瘧狀。</p>
<p>黃耆（兩半）　生地　桂心　甘草　黃芩　蜀漆（各一兩）　知母　芍藥（各二兩）</p>
<p>上每服五錢，水煎。</p>
<p>黃芩湯　治產後傷風，四肢苦煩熱，頭疼。</p>
<p>黃芩（半兩）　苦參（一兩）　生地（二兩）</p>
<p>加當歸、川芎，虛加人參。上每服四錢，水煎。</p>
<p>小續命湯　補中益氣湯　四物湯　小柴胡湯</p>

<h2>產後中風</h2>
<p>產後中風，口噤，角弓反張，因氣血虛而風入於頷頰夾口之筋也。手三陽之筋結於頷，產則勞損臟腑，風則乘之，筋得風則急，故令口噤也。角弓反張，因虛風入陽經，則腰背反張。</p>
<p>薛云：前症果外邪所感，屬形氣不足，病氣有餘，當補元氣為主，稍佐以治病之藥；若強力下床，月內入房，屬形氣病氣俱不足，當純補元氣，多得復安；若誤投風藥，乃促其危耳。</p>
<p>一云：產後中風，不可治風而服小續命湯。須大補氣血，然後治疾。大都產後勞損，風邪乘之，客於皮毛，經絡疼痛，羸乏少氣，若筋脈挾寒則攣急歪僻，挾濕則瘛瘲軟弱，入臟則恍惚驚悸，隨所傷而為病也。</p>
<p>愚按：中風一症，世間真中風寒者，十不一二，皆類中風也。產後百脈空虛，一有感觸，便成風象，不特外感風邪為然也。如感暑受濕、痰火、七情、中虛、中氣、中食等項，皆見中風之症，實尤元氣之虛假象見於外。若以虛作實，誤投祛風之藥，反成不治之危矣。</p>
<p>舉輕古拜散　治風痙，口噤不開，腰背強直，頭痛壯熱，暈悶瘛瘲，角弓反張。</p>
<p>荊芥穗（瓦上略炒）</p>
<p>上為末，每服三錢，溫酒，或黑豆淋酒；或童便調下，其效如神。</p>
<p>又方　治中風口噤，四肢麻痹不仁，或角弓反張。</p>
<p>羌活　防風　大烏豆（一升，炒）</p>
<p>上以酒五升，先浸二味經宿，大豆炒，乘熱投酒中，攪勻，密封一日，以湯煮瓶，良久，服八合。略略取汗，卻急速以豆淋酒服之，即愈。</p>
<p>又方　治產後身背拘急，妄言發熱，四肢拘攣，不時驚悸。</p>
<p>川芎　羌活　羚羊角　棗仁　芍藥（炒，各四兩）　桑白皮（六分）　防風（五分）</p>
<p>上水煎，分三服。</p>
<p>獨活寄生湯</p>
<p>獨活　桑寄生　杜仲　肉桂　人參　茯苓　甘草　當歸　川芎　芍藥　熟地　牛膝　細辛（各二兩）　秦艽</p>
<p>上每服一兩，姜水煎。</p>

<h2>瘛瘲</h2>
<p>產後瘛瘲者，因產陰血去多，陽火熾盛，筋無所養而然耳。無風可逐，無痰可消。若屬陽氣脫陷者，用補中益氣湯加薑、桂；陽氣虛敗者，十全大補湯加桂、附。此等症候若肢體惡寒，脈微者，此為真狀。脈浮大，發熱煩渴，此為假象，惟當固本為善。若無力抽搐，戴眼反折，汗出如珠者，皆不治也。</p>
<p>交加散　治瘛瘲，或顫振，或產後不省人事，口吐涎沫。</p>
<p>當歸　荊芥（各等分）</p>
<p>上為末，每服二錢，水一盞，酒少許，煎七分，神效。</p>
<p>增損柴胡湯　治產後或經適斷，致手足牽搐，咬牙昏冒異症。</p>
<p>柴胡（八錢）　人參　半夏（各三錢）　黃芩（炒）　石膏（各四錢）　黃耆（五錢）　炙甘　知母（各二錢）</p>
<p>上粗末，每服半兩，姜五片，棗四枚，水煎服。</p>
<p>舉卿古拜散　補中益氣湯　四君子湯　治前症效。</p>

<h2>四肢筋攣</h2>
<p>產後四肢筋攣，乃氣血俱虛，或風邪客於皮膚，則頑痹入於筋脈，則四肢攣急。</p>
<p>薛云：若肝經風熱，血燥不能養筋，用加味逍遙散。如未應，當用六味丸以補腎水。《經》云：風寒淫氣，精乃亡，邪傷肝也。</p>
<p>一方　治產後氣血不足，風邪所襲，肢節攣痛，項背強直。</p>
<p>防風（一兩）　赤芍（炒）　桂心（各半兩）　羚羊角　川芎　羌活　當歸　棗仁　牛蒡子（炒，各三錢）</p>
<p>上每服四錢，水酒煎服。</p>

<h2>妄見妄言</h2>
<p>產後妄見妄言，由氣血兩虛而神魂無依也。夫心主血，藏神而言，乃心之聲也。心血不虧而精神常在，則所言不妄。又肝藏血藏魂，而目乃肝之竅也，目得血而能視。若產後血氣暴竭，則心神失守，故言語無倫。肝神無依，則童神妄見。《經》云：心者，君主之官，神明出焉。主不明則十二官危，是以視聽言動皆失其職。有虛妄焉，雖或有痰，不可用化痰之藥，可用補中益氣湯加安神之品調治之也。</p>
<p>一云：產後乍見神鬼，言語顛倒，不獨敗血奔沖，邪淫於心所致；亦有因血虛，心神不足，志意不定，驚悸恐怖，喜怒不常，悲憂慘慼而致者。</p>
<p>薛云：若敗血停滯，用調經散；若血虛發熱，用八珍湯加炮姜；若心血虛損，用柏子仁散；大抵此症由心脾血少所致，但調補胃氣，則痰清而神自安矣。若果系鬼祟所附，即灸鬼哭穴可愈。</p>
<p>調經散　治血虛經閉，心神煩躁，渾身疼痛，或時見怪。</p>
<p>沒藥　琥珀（並研細）　桂心（各一錢）　芍藥　當歸（各一錢）　細辛（五分）　麝香（少許）</p>
<p>上為末，每服五分，薑汁溫酒各少許，調服。</p>
<p>柏子仁散　治產後元氣虛弱，瘀血停滯，狂言亂語。</p>
<p>柏子仁　遠志　人參　桑寄生　當歸（炒）　生地　防風　琥珀（另研）　炙甘（各等分）</p>
<p>上用白羊心一個，水三盞煮汁，七分入藥，五錢煎服。</p>
<p>寧神湯</p>
<p>川芎　當歸　茯苓　人參　柏子仁（各一錢）　乾薑　炙甘（各四分）　益智仁（炒，八分）　桃仁（十二粒）　陳皮（三分）</p>
<p>棗二枚，水煎服。</p>
<p>滋陰益氣茯神湯</p>
<p>川芎　白朮　熟地　人參　黃耆　當歸　棗仁　柏子仁　茯神　益智　麥冬（各一錢）　炙甘（四分）　陳皮（三分）　五味子（十粒）　圓眼肉（八個）　</p>
<p>上棗二枚，水煎服。</p>

<h2>驚悸怔忡</h2>
<p>產後驚悸怔忡，由產驚憂勞倦，去血過多，則中心躁動不寧，惕然而驚，謂之驚悸。心中惕惕然如人將捕之狀，謂之怔忡。治此惟宜調和脾胃，補養心血，俾志定神寧，氣舒心安，而病愈矣。</p>
<p>加減養榮湯</p>
<p>川芎　當歸　茯神　棗仁　人參　麥冬　遠志　黃耆　白朮（各一錢）　炙甘　陳皮（各四分）　圓眼肉（八個）</p>
<p>姜水煎，如虛煩加竹茹一錢，有痰加竹瀝、薑汁。</p>
<p>養心湯　治產後心血不足，驚恐，悸惕不安。</p>
<p>黃耆　當歸　麥冬　棗仁　柏子仁（各一錢）　茯神　川芎　遠志（各八分）　人參　炙甘（四分）　五味子（十五粒）</p>
<p>姜水煎，另服安神丸尤妙。</p>
<p>又方　治產後血虛，驚悸少寐及產後敗血停留，少腹作痛。</p>
<p>辰砂　琥珀　沒藥（俱另研細）　當歸（等分）</p>
<p>上末，每服二錢，空心，日午、臨臥用白湯調下。</p>
<p>茯苓散　治產後心虛忪悸，言語錯亂，健忘少睡，或自汗盜汗。</p>
<p>人參　炙甘　芍藥（炒）　當歸　生地（各八分）　遠志（去心）　茯苓（各一錢）　桂心（六分）　麥冬（五分）　大棗（二枚）</p>
<p>水煎服。</p>
<p>抱膽丸　治產後遇驚發狂，或遇經行發狂。</p>
<p>水銀（二兩）　黑鉛（一兩五錢）　硃砂（一兩，細研）　乳香（一兩，另研）</p>
<p>上將黑鉛入銚內火熔，下水銀，結成砂子，下硃砂、乳末，乘熱用柳木槌研勻，丸雞頭子大，每服一丸，空心，薄荷湯下，得睡勿驚，覺來即安。</p>

<h2>癲狂</h2>
<p>產後癲狂者，因驚風敗血衝心。心藏神主血，惡血攻心，所以昏悶，如見鬼狀，精神不定或譫語者，不可作風邪治之，血下畜則狂，血上畜則忘。</p>
<p>茯苓散（見驚悸）　妙香散亦好。</p>
<p>一方　治產後發大熱，其脈虛疾而大，惡露不行，敗血攻心，狂言叫呼奔走，捉拿不住。</p>
<p>乾荷葉　生地　丹皮</p>
<p>上濃煎湯，調下生蒲黃二錢，一服即定。</p>
<p>又方　治產後驚狂如見鬼狀。</p>
<p>當歸　川芎　芍藥　熟地　茯神　人參　青黛　升麻（各五錢）</p>
<p>上分二服，水煎。</p>

<h2>不語</h2>
<p>產後不語者多緣敗血閉於心竅，神志不能明。夫心之脈系舌本散舌下，心氣通於舌，心氣閉塞則舌強，故令不語。</p>
<p>一云：產後不語，有熱血迷塞心竅者，有熱痰迷塞心竅者，用七珍散以治熱血；用白礬末一錢，熱水調下，以治熱痰。肥人多是熱痰，瘦人多是熱血。</p>
<p>薛云：大腸之脈散舌下。又云：脾之脈是動則病舌本強，不能言。又云：腎之別脈上入於心，系舌本，虛則不能言。竊謂前證若心腎氣虛，用七珍散；腎虛風熱，地黃飲；大腸風熱，加味逍遙散加防風、白芷；脾經風熱，秦艽升麻湯；肝經風熱，柴胡清肝散加防風、白芷；脾氣鬱結，加味歸脾湯加升麻；肝木太過，小柴胡加鉤藤；脾受肝侮，六君加升麻、鉤藤；肝脾血虛，用佛手散；脾氣虛，用四君子湯；氣血俱虛，八珍湯；如不應，用獨參湯；更不應，急加附子，補其氣而生其血；若竟用血藥則誤矣。</p>
<p>愚按：心藏神，而言者，心之聲也。氣血不虛，精神完足，則靈臺爽朗，心常惺惺而不昧，故口能言。惟氣衰血脫，則神靈昏昧，口不能言。然則，不語豈皆熱血、熱痰迷塞心竅者使然哉？是故司命者宜審之。</p>
<p>七珍散　通神出語。</p>
<p>人參　石菖蒲　生地　川芎（各一兩）　細辛（一錢）　防風　辰砂（另研，各五錢）</p>
<p>上末，每服一錢，荷葉湯調下。</p>
<p>又治產後不語方</p>
<p>人參　石菖蒲　石蓮肉（各等分）</p>
<p>每服五錢，水煎。</p>
<p>秦艽升麻湯</p>
<p>升麻　葛根　甘草　芍藥　人參　秦艽　白芷　防風　桂枝（各三錢）</p>
<p>每服一兩，蔥白二根，水煎。</p>
<p>柴胡清肝散</p>
<p>柴胡　黃芩（炒，各五分）　人參　山梔（炒）　川芎（各一錢）　連翹　桔梗（各八分）　甘草（五分）</p>
<p>上，水煎服。</p>

<h2>傷食</h2>
<p>凡生產之後形體勞倦，脾胃怯弱，不易消克，用膏粱味厚之物，惟食粥茹蔬，乃無停滯。若不善調治之家，惟以產母虛矣，以多食為有益，厚味乃能補本，不思食強與厭，足以致停滯否塞，腹膨噯氣吞酸，治當扶持本原為主，健脾助胃，審傷何物，佐以消導。斯脾氣復而健運轉輸，滯物行而胃開思食，此消補雙行，無有不安。若使不審虛實，惟在一消，更醫又消，不惟食不能消，反壞元氣，絕不進食者有之，消而隨脫者有之矣。戒之！慎之！</p>
<p>藥用參、朮、芎、歸、神麯、麥芽、甘草加減，隨所傷何物以治之，豈可始也慮其虛而欲以食補，以致停滯。既傷之後，反以為實，竟以藥消，以致虛脫。何世人之愚也？何醫師之劣耶？</p>

<h2>自汗盜汗</h2>
<p>產後汗出不止，由勞傷脾，驚傷心，恐傷肝也。此氣血俱虛，不必即用斂汗之藥，急用大補氣血則汗自止。若娩後倦甚，而濈濈然汗出，形色又脫，乃亡陽汗脫也，當速服參、耆、歸、地等，大補以救危急，難泥塊痛。夫汗乃心之液，榮於內為血，發於外為汗。若不大補，安能使心肯攝液而汗收乎？六黃湯雖盜汗之聖藥，恐寒涼太多，有未穩耳。產後喜汗出，亡陰血虛，陽氣獨盛，故多汗出。</p>
<p>麻黃根湯　治產後虛汗不止。</p>
<p>當歸　人參　麻黃根　牡蠣（各一錢）　黃耆（一錢五分）　桂枝　甘草（炙，各五分）　浮小麥（一大撮）　熟地（三錢）　白朮（一錢，血塊痛不加）</p>
<p>上水煎。</p>
<p>如虛脫汗多，手足冷，加熟附子一片，炙乾姜五分；暮服八味丸，去熟地加生地、五味子、黃耆。</p>
<p>又方　治產後盜汗。</p>
<p>人參（一錢）　當歸（二錢）　麻黃根（一錢四分）　熟地（三錢）　黃連（酒炒，五分）　浮小麥（一大撮）</p>
<p>水煎服。</p>
<p>當歸補血湯　治肌熱躁熱，目赤面紅，煩渴引飲，晝夜不息，脈洪大而虛，重按全無者。</p>
<p>當歸（三錢）　黃耆（炙，一兩）</p>
<p>又方　治產後自汗盜汗，胃氣虛弱，服別藥則嘔吐，不能入。</p>
<p>當歸　黃耆（各一兩）　麻黃根（二兩）</p>
<p>上，每服三錢，水煎。</p>
<p>人參湯　治產後諸虛不足，發熱盜汗，內熱晡熱。</p>
<p>人參　當歸（等分）</p>
<p>上為末，以豬腰子一枚切片，水二鍾，以糯米半合，蔥白二根，煮取汁八分，入藥三錢，煎服。</p>
<p>參附湯　治陽虛自汗，惡寒；或手足逆冷，大便自利；或臍腹疼痛，吃逆不食，或汗多發痙等症。</p>
<p>人參（八錢）　附子（炮，五錢）</p>
<p>上作一服，薑棗水煎，徐徐服，去人參加黃耆，名耆附湯。</p>
<p>黃耆湯</p>
<p>黃耆　白朮　防風　熟地　牡蠣　白茯苓　麥冬</p>
<p>上，紅棗二枚，水煎。</p>

<h2>產後忽冒悶汗出</h2>
<p>產後忽冒（冒者，昏也）悶，汗出，大虛，宜固元氣為主，其汗不止，必變柔痙。東垣云：婦人分娩及半產漏下，昏冒目瞑，因血暴亡而火上熾，但補其血而神自昌。若常時血下，當補而升舉其氣，陽得血而神安，則目明矣。今立一方，以補手足厥陰之血，兼益陽氣，宜。</p>
<p>全生活血湯　治發熱自汗，兩目䀮䀮，四肢無力，口乾頭暈，行走倚側。</p>
<p>柴胡　當歸　防風　羌活　獨活　葛根　炙甘（各二錢）　生地　熟地（各一錢）　川芎　藁本（各一錢五分）　細辛　蔓荊子（各五分）　升麻　芍藥（炒，各三錢）　紅花（三分）</p>
<p>每服五錢，水煎，熱服。</p>

<h2>汗多變痙</h2>
<p>產後汗多變痙，蓋因去血既多，元氣已虧；或外邪所乘，以致牙關緊急，四肢痙強；或陰火內動；或腰背反張，肢體抽搐。若有汗而不惡寒者，名柔痙；若無汗而惡寒者，名剛痙。亡液過多，筋無所養之故耳，急以十全大補湯治之。如不應，急加附子，多有復甦者。如汗拭不及者，不治。</p>
<p>一云：有氣血本虛之人，如產後汗出多而變痙者；或因七情怒氣而變痙者；或因濕熱內盛而痰涎壅遏經絡以作痙者。治各不同，惟宜補血降火，敦土平木清痰。</p>
<p>又云：汗多重亡津液，無以養筋，筋急而牽，故令百節強痙。</p>
<p>小續命湯　治剛痙或腳氣痹弱不能轉舒，行走倚側，或口眼歪斜，牙關緊急，角弓反張。</p>
<p>麻黃　桂心　甘草（各五錢）　防風（七分半）　芍藥（炒）　白朮（炒）　人參　川芎　附子（炮）　防己（酒拌）　黃芩（各等分）</p>
<p>上，每服五錢，水煎，入姜少許，溫服。</p>

<h2>血塊</h2>
<p>產後有血塊作痛者，乃母胎中宿血也。產婦勞傷，氣血並虛，娩子後無力送塊，留滯腹中；或因風冷凝滯；或因怒氣凝滯，皆令小腹作痛。明知惡露去少，脈又澀滯不流利，此是瘀血作痛，務必以失笑散行之可也。明知去血過多，脈浮洪或虛細，此是血虛作痛也，不宜用行瘀藥，地黃、芎、歸等補之可也。</p>
<p>愚按：世醫治凡一切作痛之症，以為諸痛不宜補，況產後之血塊與腹痛乎？大都以三稜、蓬朮、桃仁、紅花、丹皮、赤芍、山楂、澤蘭、劉寄奴等為仙品矣。若果是瘀，已上諸品豈曰不宜。或使產婦虛弱，腹中無血不能榮養，亦有作疼。又有雖因惡血，病久困乏，血亦難行。須在明師設法以療之，不可拘拘舊例也。一少婦新產三四日內，小腹作痛，每於寅卯時痛甚，諸用行瘀藥倍劇。予診六脈軟弱，令人按痛處稍減，知是陰血虧損，氣寒且滯而作痛耳。與熟地、芎、歸，佐以肉桂、蒲黃，一服立痊。又一婦人新產，因怒氣惡露不行，小腹作痛。予謂瘀血不行也，與失笑散加玄胡索、芎、歸，不服。呼產科，誤與大寒之藥，瘀凝結倍劇。用祛瘀消克太過，以致胃氣大傷，不惟瘀不得行，而且增嘔吐、惡寒、發熱、煩躁等症。其血積堅大如甕，按冷如冰，飲食不進，肌肉黃腫，劇矣。予曰：諸症皆大虛，難推蕩矣。內乏元氣，雖推不行也，用十全大補湯二十餘貼，經行而積塊消矣。譬如溝中淤物，有水則活動而出也。此症若循去瘀之例，專用行血之方，必致元氣索然不可救也。司命者詳之。</p>
<p>失笑散</p>
<p>蒲黃　五靈脂（等分）</p>
<p>上為末，每服二錢，熱酒調服。</p>
<p>蠲痛湯　治血塊如神。</p>
<p>當歸　川芎　香附　蒲黃　肉桂　五靈脂　玄胡索</p>
<p>上水一盞，酒半盞，煎七分，溫服。</p>

<h2>腹痛</h2>
<p>產後腹痛，宜先問血塊有無。如有血塊，只用生化湯調失笑散消塊，痛自止；若風寒乘虛作痛，五積散；如傷飯食作痛，加神麯、麥芽；傷肉食作痛，加山楂、砂仁。</p>
<p>產後小腹作痛，蓋以氣血既虛，受寒感冷，則寒冷之氣下攻，小腹故痛，並有瘀血而痛；血虛，臍下亦能作痛。</p>
<p>薛云：若以手按腹愈痛，此是瘀血為患，宜行血以消散之；若按之反不痛，是血虛，宜四物加參、苓、白朮；若痛而作嘔，是胃虛，宜六君子湯；若痛而作瀉，是脾虛；宜六君子湯送二神丸；或因停食瀉痛，須用山楂、厚朴、當歸、車前、滑石等行之。</p>
<p>愚按：產後腹痛並小腹作疼，未可全為瘀血，血虛受寒固多。猶有產母生平性急，或有感觸，肝火倏起，氣滯小腹，手不可按，若認為瘀血，投失笑散，誤矣。務用小柴胡湯並醋炒香附、芍藥、膽草，庶肝火平而速效耳。蓋肝之經脈絡於小腹，一疏肝而氣條達，故愈矣。</p>
<p>附案：侄女產後一月，發熱小腹痛。產醫曰：瘀血。又醫曰：兒枕，用消瘀、破血藥，俱不效，予視之，右關弦實，此結矢也，與大劑芎、歸潤腸，果去結矢，腹不痛矣。三日右脅下一塊頂起，仍大痛。前醫又以兒枕瘀血，與行血藥。予再診曰，是乾結未淨也。主人不信，隔日果大去結矢而安。是見以兒枕瘀血者，臆度也。予以燥糞者，憑脈也。主人才服矣。然而瘀血者多結，垢者亦常有，不可拘泥也。瘀血者脈必澀。腸癰者，脈必芤，不澀不芤，非癰非瘀矣。</p>
<p>生化湯</p>
<p>川芎（二錢）　當歸（二錢五分）　桃仁（一錢）　黑薑炭（六分）　炙甘（五分）</p>
<p>水煎服。</p>
<p>隱居澤蘭湯　治產後惡露作痛。</p>
<p>澤蘭　生地　當歸　芍藥　生薑（各一錢）　甘草（炒，五分）　大棗（四枚）</p>
<p>水煎。</p>
<p>延胡索散　治產後惡露凝滯，臍下作痛，或作寒熱。</p>
<p>延胡索　桂心（各五錢）　當歸（一兩）</p>
<p>上末，每二錢，食前用熱酒調下，失笑散尤效。</p>
<p>當歸養血丸　治產後瘀血心腹脹痛，或腰腳疼痛。</p>
<p>當歸　赤芍　玄胡索（炒）　丹皮（各二兩）　桂心（一兩）</p>
<p>上為末，煉蜜丸，梧子大，每服三四十丸，溫酒下。</p>
<p>又方</p>
<p>山楂濃煎汁，入砂糖少許，再煎，熱服。</p>

<h2>頭痛</h2>
<p>夫頭者諸陽之會也，產後五臟皆虛，脾胃困弱，飲食不充，陽氣微弱，不能上升，故頭痛也。又有敗血不散，上攻於頭，故頭痛也。又有火勝痰起，停於中脘者。</p>
<p>薛云：若中氣虛，用補中益氣湯加蔓荊子；若血虛，用四物湯加參、術；氣血俱虛，用八珍湯；若因風寒，用補中益氣湯加川芎。</p>
<p>愚按：頭痛一症，產後患之，氣血兩虛、瘀血上衝者居多。但有治之而不效，其中未必無風寒暑濕之外侵，七情勞役之內傷，陰衰陽虛之上厥，痰火飲食之相犯也。治者只拘治例，不能一審，辨而通變以治之，不幾於刻舟求劍乎？</p>
<p>芎附散　治氣虛頭痛。</p>
<p>大附子一枚去皮、臍，切四片，拌釅醋一碗，炙附蘸盡，同川芎一兩為末，每服二錢，茶清調服。</p>
<p>又方　治血虛頭痛。</p>
<p>川芎　當歸　每服五錢，水煎。</p>
<p>都梁丸</p>
<p>白芷末，蜜丸，彈子大，每嚼一丸，荊芥湯下。</p>
<p>又方　治產後二十餘日，頭大痛。</p>
<p>人參　黃耆　當歸　白朮　甘草　升麻　川芎　柴胡　細辛　蔓荊子　陳皮　藁本</p>
<p>上，水煎。</p>
<p>又方　治產後身熱，頭、肚痛。</p>
<p>陳皮　白朮　白芍　川芎（各二錢）　黃芩（二錢五分）　乾薑　丹皮（一錢五分）　甘草（五分）　荊芥（五分）</p>
<p>上分四貼，水煎服。</p>
<p>加減四物湯　治產後頭疼血虛痃癖寒厥。</p>
<p>蒼朮（一兩六錢）　羌活　川芎　防風　香附　白芷（各一兩）　石膏（二兩）　細辛　當歸　甘草（各半兩）</p>
<p>上，每服一兩，水煎服，無時。如有汗者，是氣弱頭痛也。</p>
<p>一方加芍藥二兩，桂一兩半，姜水煎。</p>
<p>如痰癖頭痛，加半夏三兩，茯苓一兩。</p>
<p>如熱厥頭痛，加白芷三兩，石膏三兩，知母一兩。</p>
<p>如寒厥頭痛，加天麻三兩，附子一兩半。</p>
<p>一方　治瘀血頭痛。</p>
<p>用黑龍丹效如神。</p>

<h2>心痛</h2>
<p>產後心痛者，心為身之主，因產大虛，寒搏於血，血瘀不散，其氣上衝於心之經脈，故心痛耳。</p>
<p>薛云：若陽氣虛寒，用岩蜜湯溫之；瘀血上衝，用失笑散祛之；血既散而仍作痛，用八珍湯補之。大凡肚腹作痛，以手按之卻不痛，此虛也，須用補養之劑。</p>
<p>一云：凡產後心痛，即胃脘痛，或受寒氣；或傷冷物，故此作痛。治法須散胃中之寒氣，消胃中之冷物。若綿綿而痛，可按而止，則由於虛而可補也。其產後心痛與腹內作痛，二症相同，因寒食上攻於胃，則心痛；下攻於腹，則腹痛，治各不同。</p>
<p>大岩蜜湯　治產後陽氣虛寒，心腹作痛，不食嘔吐，四肢逆冷。</p>
<p>生地　當歸　獨活　吳茱萸　芍藥（炒）　乾薑（炒）　桂心　小草（各一兩）　細辛（半兩）</p>
<p>每五錢，水煎。</p>
<p>加減芎歸湯</p>
<p>川芎（一錢）　當歸（二錢）　乾薑（炙）　炙甘（各五分）　肉桂（八分）　吳茱萸（七分）</p>
<p>上，水煎。</p>
<p>傷寒物加吳茱萸、肉桂；傷肉食加山楂、砂仁；傷面飯加神麯、麥芽；大便不通加肉蓯蓉。</p>

<h2>身痛</h2>
<p>產後遍身疼痛，因產百節開張，血流百節，以致肢體沉重不利，筋脈引急，發熱頭疼，宜用趁痛散治之；若兼感寒傷食，宜用五積散；若誤作傷寒發汗，則筋脈抽搐，手足厥冷，變生他病。</p>
<p>有產後偏身筋痛，是亦亡血故爾。</p>
<p>薛云：若以手按而益甚，是瘀血留滯也，用四物、炮薑、紅花、桃仁、澤蘭補而散之；若按之而痛稍緩，此是血虛也，用四物、炮薑、人參、白朮補而養之。</p>
<p>趁痛散　治產後骨節疼痛，發熱頭重，四肢不舉。</p>
<p>牛膝　甘草　薤白（各一兩）　當歸　桂心　白朮（炒）　黃耆　獨活　生薑（各五錢）</p>
<p>每服半兩，水煎。</p>
<p>五積散　治產後遍身拘急，頭頂作痛，惡寒脈浮緊，此風寒之症也。</p>
<p>當歸　茯苓　川芎　炮姜　人參　白芷　陳皮　桔梗（炒）　厚朴（姜炒）　白芍（炒）　蒼朮　半夏　肉桂　麻黃　炙甘（各五分）</p>
<p>薑、棗水煎。</p>

<h2>腰痛</h2>
<p>腰者腎之府，轉搖不能，腎將憊矣。婦人腎為胞胎所繫，產則勞腎傷胞，以致風冷客之，故腰痛不能屈側也。</p>
<p>薛云：真氣虛邪乘之者，用當歸黃耆湯，或十全大補為主，佐以寄生湯；如不應，須十全大補加附子。</p>
<p>養榮壯腎湯　治產後風邪頭眩，腰痛不可轉側，四肢沉重，行走艱難。</p>
<p>獨活　川芎　芍藥（炒）　桂心　續斷　杜仲　桑寄生（各六分）　當歸　防風（各八分）</p>
<p>姜水煎服。</p>
<p>產後惡露不盡，腰重痛，或兩股痛如錐刺，宜服桃仁湯；若作癰，五香連翹湯。</p>
<p>桃仁湯　治產後惡露不盡，腹中作痛，或注腿股作痛，急用此湯治之；如未應，多變作癰。</p>
<p>桃仁（去皮、尖）　蘇木　生地　虻蟲（去足、翅，炒）　水蛭（炒，各三錢）</p>
<p>上每服五錢，姜水煎，空心熱服，以惡露下為度。</p>
<p>五香連翹湯</p>
<p>木通　木香　丁香　沉香　乳香　麝香　升麻　獨活　桑寄生　連翹（各二兩）</p>
<p>上每服五錢，水煎，入竹瀝少許服。</p>
<p>生科五積散　加桃仁逐敗血，去風濕。</p>

<h2>兩脅脹痛</h2>
<p>產後兩脅脹痛，因惡露不盡，或肝經血虛，或肝經氣滯，當分而治之。</p>
<p>薛云：若肝經瘀血，用玄胡散；若肝經氣滯，用四君、青皮、柴胡；若肝經血虛，用四物、參、朮、柴胡；氣血俱虛，用八珍、柴胡；若腎水不足，不能生肝，用六味丸；若肺金太旺，剋制肝木，宜用瀉白散。</p>
<p>愚按：肝之經絡散小腹，布兩脅，非有怒氣犯之，不脹不痛也。產後兩脅脹痛，豈皆惡露不盡？並血虛使然哉。或者性急多怒，肝氣盛滿致然耳。診其左關脈弦細，按之如刀口者是矣。當用小柴胡加香附、膽草。有不終劑而愈者，不可不別而治之。</p>
<p>玄胡索散　治產後惡血凝滯，脅痛或寒熱。</p>
<p>玄胡索　桂心（各半兩）　當歸（一兩）</p>
<p>上每服二錢，食前熱酒調下。</p>
<p>經效散　治產後肝經氣滯，脅肋脹痛，或寒熱往來，內熱晡熱。</p>
<p>當歸（一錢五分）　芍藥（炒）　苦梗（炒）　檳榔　枳殼（麩炒，各八分）　桂心　青木香　柴胡（各八分）</p>
<p>上水煎。</p>

<h2>惡露不下</h2>
<p>產後惡露不下，因臟腑勞傷，氣血虛損，或風冷相搏所致，若惡露不去，用失笑散。若氣滯血凝，用花蕊石散。</p>
<p>失笑散　花蕊石散</p>

<h2>惡露不絕</h2>
<p>產後惡露不絕，由產後傷於經血，虛損不足，或分娩時血去不盡，在於腹中，挾於宿冷，致氣不調，淋瀝不絕。</p>
<p>薛云：若肝氣熱而不能藏血，用六味地黃丸；若肝氣虛而不能攝血，用逍遙散；若脾氣虛而不能統血，用六君子湯。胃氣下陷而不能統血，用補中益氣湯；若脾經鬱熱，而血不歸經，用加味歸脾湯；若肝經怒火而血妄行，用加味四物湯；若氣血俱虛，用十全大補湯；若肝經風邪而血沸騰，用一味防風丸。</p>
<p>一方　用蒲黃（炒，二兩），水煎，頓服。</p>
<p>一方　貫眾醋蘸，炙乾為末，每服二錢，米飲調下。</p>
<p>獨聖散　止血。</p>
<p>生地　當歸　川芎　熟地　白芷　牡蠣　地榆　續斷　黃耆　酒芩　甘草　水煎</p>
<p>又方　治產後三月，惡露不止，腹疼。</p>
<p>當歸　川芎　生地　芍藥　香附　蒲黃　甘草　青皮（炒黑）　阿膠　地榆</p>
<p>上水煎，空心服。</p>
<p>又方　治四十五日後，因怒氣，惡露不止如米粒，淡紅色，此方甚妙。</p>
<p>當歸　川芎　芍藥　熟地　丹皮　甘草　青皮（炒黑）　蒲黃（炒黑）　紅花　黃芩（炒黑）</p>
<p>水煎服。</p>
<p>返魂丹　治產後惡露不絕。</p>
<p>用當歸酒化下。</p>
<p>防風丸</p>
<p>用防風一味為末，每服一錢，白湯調服。</p>

<h2>血瘕</h2>
<p>產後血瘕，乃寒乘客，氣血壅結，此因氣病而血病也。當補養胃氣，調和月經，寬緩靜養為善。</p>
<p>一方　治血瘕作痛，臍下脹滿，或月經不行，發熱體倦。</p>
<p>當歸（八分）　桂心　芍藥（炒）　血竭　蒲黃（炒，各六分）　玄胡索（炒，四分）</p>
<p>上為末，每服二錢，空心酒調下。</p>

<h2>瘀血</h2>
<p>產後瘀血奔心，煩悶。蓋因分娩後不飲童便，以致虛火上炎之，故宜黃金散。</p>
<p>黃金散　治惡血上衝，肚腹作痛，或發熱作渴。</p>
<p>玄胡索　蒲黃（各一錢）　桂心（二分）</p>
<p>上末，酒調服。</p>
<p>一方　用炒蒲黃，每服三錢，水煎。失笑散亦佳。</p>

<h2>四肢浮腫</h2>
<p>產後四肢浮腫者，因敗血停積，流入四肢，日深腐外，故面黃浮腫，不可作水氣治之。又如心腹脹堅，大如盤，邊如旋盤，水飲所作，名曰水分，又名血分。諸痛俱可用小調經散。</p>
<p>薛云：若寒水侮土，宜養脾肺；若氣虛浮腫，宜益脾胃；若水氣浮腫，宜補中氣，又有水分、血分之不同。</p>
<p>一云：產後浮腫，皮膚光瑩，乃脾虛不能制水，腎虛不能行水也。必用大補氣血為主，佐以蒼朮、茯苓、白朮補脾。壅滿用半夏、陳皮監之。虛人加人參、木通；有熱加麥冬、黃芩以清肺金；健脾利水用補中益氣湯。七日外，用人參、白朮各三錢，茯苓、白芍各一錢，陳皮五分，木瓜八分，紫蘇、木通、大腹皮、蒼朮、厚朴各四分。</p>
<p>愚按：腫滿之症虛實不同，實者可消，虛者當補。乃若產後之腫，除有瘀血、食積、怒氣外，皆虛也。或中氣大虛，不能通調水道，小便不利而腫者，治在補中；或腎氣大虛，不能分注水氣，以致水積膀胱而腫者，治在補腎。補中用補中益氣湯加茯苓、澤瀉、木通；補腎用金匱腎氣丸加琥珀、沉香；如氣血兩虛者，早用補氣藥利水，晚用補陰藥兼利水，早晚兩治，效速如神。毋曰腫脹屬實，必以大腹皮、蒼朮、枳、樸、商陸、牽牛、大戟、芫花、千金子等物也。</p>
<p>若產後傷食，脾胃不堅，發腫兼喘，多不可救。</p>
<p>小調經散</p>
<p>沒藥　琥珀　桂心　芍藥　當歸（各二錢）</p>
<p>上末，每服五分，薑汁溫調下。</p>
<p>大調經散　治中滿急，煩渴，小便不利。</p>
<p>大豆（一兩半炒、去皮）　茯神（一兩）　真琥珀（一錢）</p>
<p>上每服二錢，空心，濃煎，烏豆紫蘇湯調下。</p>
<p>漢防己散　治水腫。</p>
<p>漢防己　豬苓　枳殼　桑白皮（各一兩）　商陸　甘草（各二錢）</p>
<p>上每服四錢，水煎。</p>
<p>金匱加減腎氣丸　治脾腎虛寒，腰重腳腫，濕飲留積，小便不利，或腹脹四肢浮腫，氣喘痰盛。</p>
<p>白茯苓（三兩）　車前子　山茱萸（各一兩）　附子（五錢）　牛膝（一兩）　肉桂（一兩）　澤瀉（一兩）　山藥（一兩）　陳皮（五分）　丹皮（一兩）　熟地（四兩）</p>
<p>上末，同地黃、蜜，丸如梧桐子，每服八十丸，空心飲下。</p>

<h2>口乾痞悶</h2>
<p>產後口乾痞悶者，脾胃大虛，氣血未定，因食米、面、乾物太早，不能消克，熱毒上熏，故口乾痞悶，或產母內積憂煩，外傷燥熱，不可作胸膈壅滯治之，可服清心蓮子飲。</p>
<p>薛云：若宿食停滯，用六君、枳實、神麯；若因肉食所致，更加山楂；若因魚膾之類，再加陳皮，其物既消，而仍痞，或反作痞作嘔，此脾胃受傷，用六君子湯；或咽酸噯腐，加炮姜；作瀉更加升麻，如不應，佐以四神丸，或間用補中益氣湯。</p>
<p>清心蓮子飲　治產後心煩發渴。</p>
<p>黃芩（炒）　麥冬　地骨皮　車前子　甘草（各一錢五分）　石蓮肉　茯苓　黃耆　柴胡　人參（各一錢）</p>
<p>每用五錢，水煎。</p>

<h2>產後血渴</h2>
<p>產後血渴，因惡露去多，津液少而生渴也。</p>
<p>薛云：若去血過多，虛火上炎，用童便，或四物、白朮、麥冬、丹皮；若胃氣虛而有熱，用竹葉歸耆湯；若血虛發熱，用八珍加麥冬、五味子；若血脫髮熱、煩躁，用當歸補血湯；若胃氣虛弱，用補中益氣湯，或七味白朮散。</p>
<p>愚按：渴症以血液散亡之餘，真水涸竭，虛火上炎，引水以濟，不獨產後為然也。今人多泛套治，投以乾葛、知母、生地、麥冬、花粉之類，又以口乾必火，投以芩、連、梔、柏之類，豈知津液之耗散，非以大補大酸之物，無以收拾而萃聚之也。是故必以白芍、山萸、烏梅、五味子、酸棗仁為君，而臣以地黃、枸杞、人參、黃耆，佐以升、柴、甘草，一投而液足矣。蓋液得酸則收，得補則生，得升則上朝於口也。此治法之妙者。</p>
<p>七味白朮散　治中風虛弱，津液短少，口乾作渴。</p>
<p>人參　白朮（炒）　木香　茯苓　甘草（炒）　藿香　乾葛（各一錢）</p>
<p>水煎。</p>
<p>竹葉黃耆湯　治胃氣虛熱，口乾作渴，惡冷飲食者。</p>
<p>竹葉（一錢五分）　當歸　人參　白朮（各一錢）　黃耆（二錢）　麥冬（七分）　炙甘（五分）</p>
<p>水煎。</p>
<p>生津止渴益水飲</p>
<p>黃耆（一錢五分）　人參　生地　麥冬　葛根（各一錢）　五味子（十粒）　當歸（二錢）　茯苓（八分）　甘草　升麻（各四分）</p>
<p>汗多加麻黃根、棗仁各一錢，浮麥一撮；大便不通，加肉蓯蓉一錢；如渴甚，用生脈散代茶，不可疑而不用。</p>

<h2>蓐勞</h2>
<p>婦人因產生理不順，疲極筋力，憂勞心慮，致令虛勞喘乏，寒熱如瘧，頭痛自汗，肢體倦怠，咳嗽痰涎，腹中絞刺，名曰蓐勞。</p>
<p>薛云：蓐勞不必疏邪，當扶養正氣為主。若脾肺氣虛而咳嗽口乾，用補中益氣湯加麥冬、五味；若因中風虛而口乾頭暈，用補中益氣湯加蔓荊子；若肝經血虛而肢體作痛，用四物、參、術；若因肝腎虛弱而自汗、盜汗、寒熱往來者，用六味丸加五味子；若因脾虛血弱，肚腹作痛，月經不調，用八珍湯加倍白朮；若因脾虛血燥，皮膚搔癢，用加味逍遙散。大抵此症多因脾胃虛弱，飲食減少，以致諸經疲憊而作，當補脾胃，飲食一進，精血化生，諸臟有所倚賴，其病自去矣。仍照虛煩發熱主治。</p>
<p>增損柴胡湯　治產後虛弱，寒熱如瘧，食少腹脹。</p>
<p>柴胡　人參　炙甘　半夏　陳皮　川芎　白芍（炒，等分）</p>
<p>上每服五錢，薑、棗水煎，日二服。</p>
<p>白茯苓散　治產後蓐勞，頭目四肢疼痛，寒熱如瘧。</p>
<p>白茯苓（一兩）　當歸　川芎　桂心　白芍（炒）　黃耆　人參（各五錢）　熟地（五錢）</p>
<p>上先以水三盞入豬腎一雙，姜三片，棗三枚，煎二盞，去之入前藥半兩，煎一盞服。</p>
<p>黃耆建中湯　治產後諸虛不足，發熱，或惡寒腹痛。</p>
<p>黃耆（炒）　肉桂（各一兩）　白芍（炒，二兩）　炙甘（七錢）</p>
<p>每服五錢，棗姜水煎，日二三服，虛甚加附子。</p>
<p>豬腰子粥　治產後蓐勞發熱。</p>
<p>豬腰子二具，去膜切片，以鹽酒相拌。先用晚米一合，入蔥、椒煮粥，入鹽、醋調和，將腰子鋪碗底，以熱粥蓋之，如作盦生狀，空心服。</p>

<h2>虛羸</h2>
<p>產後虛羸者，因氣血虛竭，臟腑勞傷所致。若年少之人，將養便復；若中年及難產者，毋論日期，必須仔細將理方好；若不善養，為勞為怯，所必然矣。</p>
<p>前症若產傷氣血者，八珍湯；勞傷元氣者，補中益氣湯；飲食傷胃者，四君子湯；停食傷脾者，六君子湯。若噯氣覺有藥味者，此藥復傷胃也，但用四君子湯徐徐少飲，以調整脾胃，使胃氣一健，氣血自生，諸症自愈矣。</p>

<h2>腹脹嘔吐</h2>
<p>產後腹脹嘔吐者，因敗血散入脾胃，脾受之不能運化五穀，而成腹脹，胃受之不納水穀，而成嘔吐也，宜抵聖湯治之。</p>
<p>薛云：若敗血散於腸胃，宜用前方；若飲食停於脾，宜用六君子、厚朴；若飲食傷於胃，宜六君子湯。大凡損其脾者，當節其飲食為善。</p>
<p>抵聖湯</p>
<p>赤芍　半夏　澤蘭　人參　陳皮　炙甘（各一錢）　生薑（五錢）</p>
<p>水煎。</p>

<h2>嘔逆</h2>
<p>產後嘔逆不食，因胃氣虛弱，飲食所傷也。</p>
<p>薛云：若飲食過時，用六君子湯；飲食過多，用六君子加山楂、砂仁；勞役又兼飲食過時，用補中益氣湯；脾胃氣虛，用六君子湯，寒加炮薑、木香；寒水侮土，用益黃散；肝木侮土，用六君、升麻、柴胡；命門火衰，不能生土，用八味丸；嘔吐泄瀉，手足俱冷，或肚腹作痛，乃陽氣虛寒，急用附子理中湯。</p>
<p>愚按：嘔吐一症，世醫多循治例，況產後之嘔，為瘀血上衝之時，故治之者，不得不拘於治例矣。治而隨愈，理所宜然。第有久治不愈，此豈無風、寒、暑、濕之相侵乎？又豈無七情、飲食、痰火之相犯乎？一婦人新產，嘔吐不止，拘古法者，百治不痊，後用貝母、枳殼、蒼朮、茯苓等隨愈。此濕痰在胃，而嘔吐者，非產後之治例可拘也。又有大便秘結不行以致嘔吐者，古云：下既不行，必反而上行，魄門不利，則濁氣上衝於賁門，乃多嘔。醫不察此，只以上治，欲其嘔吐之愈也得乎？</p>
<p>石蓮散　治產後胃寒咳逆，嘔吐不食，或腹作脹。</p>
<p>石蓮肉（一兩半）　白茯苓（一兩）　丁香（五錢）</p>
<p>上末，每服二錢，不拘時，用薑湯或米飲下，日二服。</p>
<p>益黃散　治脾土虛寒，水反來侮，以致嘔吐不食，或肚腹作脹，或大便不實，手足逆冷等症。</p>
<p>陳皮（一兩）　青皮　訶子　甘草　丁香（各二錢）</p>
<p>每服四錢，水煎。</p>
<p>又方　治產後胃氣嘔逆。</p>
<p>橘紅（一兩）　半夏　甘草（炒，各五錢）　藿香（三兩）</p>
<p>每服五錢，姜水煎。</p>
<p>人參養胃湯　治外感風寒，內傷飲食，寒熱頭疼。</p>
<p>半夏　厚朴　橘紅（各八分）　藿香　茯苓　人參（各五分）　炙甘（三分）　蒼朮（一錢）　草果（五分）　姜（七片）　烏梅（一個）</p>
<p>水煎服。</p>

<h2>瘧疾</h2>
<p>產後寒熱往來，每用應期而發，其症類瘧，切不可用常山、草果等截瘧方藥治之。夫氣血虛而寒熱更作，元氣弱而外邪或侵，或晝輕夜重，或日晡寒熱，雖所見症與瘧疾同，其治之之法必當滋榮益氣以退寒熱。有汗急當止汗，如麻黃根等方；若頭汗而不及於身，乃孤陽絕陰之症也，宜加當歸、地黃等藥；若明知感寒頭痛、無汗，宜芎、歸、羌活、防風、蓮鬚、蔥頭五個以散之，決不可作正瘧治也。</p>
<p>薛云：產後瘧疾，因脾胃虛弱，飲食停滯，或因外邪所感，或鬱怒傷肝，或暑邪所伏。審系飲食，用六君加桔梗、蒼朮、藿香；如外邪多而飲食少，用藿香正氣散；如外邪少而飲食多，用人參養胃湯；飲食勞倦，用補中益氣湯；氣血虛弱，用十全大補湯加炮姜。</p>
<p>愚按：產後寒熱似瘧，此是瘧非瘧也。時師不審，多作邪治，或作虛治，藥無一效矣。有婦人新產，不時寒熱，治者既不能察脈，又不審病因，浪用四物、乾薑，服後熱益甚。予診六脈浮弦細數，如一絲髮，又如按刀口，知其怒動肝火，用柴胡、黃芩、芎、歸、砂仁、甘草、玄胡索，一服入口而寒熱除。又一婦人產後寒熱，醫作瘧治，投常山、草果、檳榔等，寒熱倍甚，不食，困憊。予投四物、參、術之類得安。一婦產後寒熱多，醫治之，久不能痊。予診六脈虛甚，而左關獨弦，意其產中兜氣，肝火鬱甚而然也。與人參、柴胡、甘草、黃芩、白朮、當歸、香附、砂仁、秦艽，二服而寒熱除，身亦不疼。已上皆類瘧之症，蓋因肝膽之火能作寒熱，怒則動其火而然也。疑似之症不可不辨。</p>
<p>滋榮益氣扶正湯　治產後寒熱有汗，每午後應期而發。</p>
<p>川芎　熟地　人參　黃耆　麥冬　麻黃根（各一錢）　當歸（二錢）　炙甘（五分）　陳皮（去白，四分）　白朮（八分）</p>
<p>上，水煎。晚用六味丸。</p>
<p>加減養胃湯　治產後寒熱往來，頭疼，有汗，類瘧。</p>
<p>當歸（三錢）　川芎　藿香　茯苓　蒼朮（各一錢）　人參（一錢五分）　半夏（八分）　炙甘　橘紅（各五分）</p>
<p>姜水煎。</p>

<h2>霍亂</h2>
<p>霍亂者，揮霍變亂，腹痛吐瀉並作也。產後患此，由勞傷氣血，臟腑虛損，不能運化食物，及感風冷所致。陰陽升降不順，清濁亂於腸胃，冷熱不調，邪正相搏，上吐下利矣。又有乾霍亂，欲吐不吐，欲瀉不瀉，腹中攪痛異常是也。治宜鹽湯探吐為妙。</p>
<p>生化六和湯</p>
<p>川芎（一錢）　當歸（四錢）　乾薑　甘草　陳皮　藿香（四分）　砂仁（六分）　茯苓（一錢）</p>
<p>上姜水煎服。</p>
<p>附子散　治產後霍亂，吐利，手足逆冷，問無塊痛可服。</p>
<p>白朮　當歸　人參（各一錢）　陳皮　乾薑（炙）　丁香　甘草（各四分）　熟附（五分）</p>
<p>上為末，粥飲調下二錢。</p>
<p>溫中散　治霍亂。</p>
<p>人參　白朮　當歸　厚朴　半夏　乾薑　茯苓　草豆蔻</p>
<p>上姜水煎。</p>
<p>產後七日外霍亂，用六和湯。</p>
<p>白朮　半夏　砂仁　杏仁　人參　甘草（各五分）　茯苓　藿香　白扁豆　木瓜（各一錢）　香茹　厚朴</p>
<p>上姜水煎。</p>

<h2>泄瀉腹痛</h2>
<p>產後腹痛泄瀉，因腸胃虛怯，寒邪乘虛襲之，或水穀不化，洞泄腸鳴，或產前停食，或產後傷食，或腸有乾結宿積，或寒瀉，或熱瀉，或六淫七情而致者，當隨所因而治之。</p>
<p>薛云：若胸膈飽悶，或惡食吞酸，此飲食停滯，用六君、枳實、山楂以消導；若食既消而仍痛，更或頭痛熱渴，惡寒欲嘔，此中氣被傷，用補中益氣、半夏、茯苓以健脾胃。</p>
<p>愚按：產後之瀉多從飲食所傷，脾胃困弱，不能通調水道，膀胱不利，水道混雜而然。其瘀血流入大腸而瀉者，所下必黑，產下惡露去少，可辨也。此千百而一二耳。</p>
<p>加減生化湯　治產後瀉，血塊未消時，宜服此方。</p>
<p>當歸（四錢）　川芎（一錢）　炙甘（五分）　茯苓（一錢）　桃仁（十粒）　蓮子（十粒）</p>
<p>上水煎服。</p>
<p>健脾利水生化湯　治產後瀉，血塊既消，宜服此方。</p>
<p>川芎　當歸　白朮（各一錢）　乾薑（炙，四分）　肉果（煨，一個）　陳皮（五分）　茯苓（一錢五分）　甘草（五分）　澤瀉（八分）　人參（三錢）</p>
<p>水煎。</p>
<p>如寒瀉，加炙乾姜八分；寒痛而瀉，加砂仁、乾薑各八分；熱瀉，加炒黃連八分；水瀉腹痛，米飲不化，加砂仁、山楂、麥芽各八分；若瀉有酸臭氣，加神麯、砂仁、麥芽、山楂各八分；若脾氣弱，元氣虛，產勞甚，必大補，佐消食，佐熱，佐祛寒；弱甚形色脫，必用丹溪參、苓、朮、附大補始回生。久瀉加升麻、蓮肉；水瀉加蒼朮。</p>
<p>有產前後傷食，腸胃停有食，稍並有乾結，小腹左右硬實有塊，痛即欲瀉，不痛即不瀉，治惟去其宿垢可也。第以新產，難用硝、黃，惟以大劑歸、芎、麻仁、滑石等，俾其滑利，自然垢去不瀉不痛矣。</p>

<h2>下痢腹痛</h2>
<p>產後下痢腹痛者，若瘀血滲於大腸則為血痢。（如惡露去少而大便瀉黑者，是瘀血）。若下青黑則極冷，蓋產後腸胃虛怯，邪易相侵，勞動太早，誤食生冷難化之物，傷於腸胃，飲食當風，襲於肓膜，散於腸胃，或痛或瀉，或下赤白，或胎前下痢，產後未痊，不易治也。</p>
<p>薛云：若胸膈飽，惡食吞酸，此飲食停滯，用六君、枳實、山楂以消導；若食既消而仍痛，更或頭疼熱渴惡寒欲瀉，此中氣被傷，用補中益氣加半夏、茯苓以健脾胃。</p>
<p>愚按：產後痢大都攻補兼用，不可純用治痢套方。若芩、連、梔、柏一切寒涼之藥尤不可用也。</p>
<p>一方　治產後腹痛身熱泄瀉。</p>
<p>當歸　川芎　芍藥（炒）　玄胡　砂仁　甘草　白朮　神麯　茯苓　乾薑皮</p>
<p>姜水煎。</p>
<p>加減芎歸湯　治七日內外患痢。</p>
<p>川芎（一錢）　當歸（五分）　炙甘（五分）　桃仁（十二粒）　茯苓（一錢）　陳皮（五分）　木香（磨，三分）</p>
<p>如紅痢腹痛，加砂仁（六分）。上水煎。</p>
<p>又方　治產後痢。</p>
<p>當歸　川芎　芍藥（炒）　香附（炒）　陳皮　茯苓　甘草　砂仁　澤瀉　白朮　神麯（炒）　乾薑（炒）　木香（不見火，研末）</p>
<p>上水煎，入木香末服。</p>
<p>薛又云：下痢，若米食所傷，用六君加麥芽；若麵食所傷，治同；若肉食所傷，用山楂、砂仁；凡兼嘔吐，俱加藿香；若兼咽酸或嘔吐，用前藥送越鞠丸；若肝木克脾土，用六君加柴胡、炮姜；若寒水反來侮土，用錢氏益黃散；若久瀉，或元氣下陷，兼補中益氣湯以升發陽氣；若瀉利色黃，乃脾土真氣，宜加木香、肉豆蔻；若屬脾胃虛寒，用六君加木香、薑、桂；若脾腎虛寒，用補中益氣及四神丸；若屬命門火衰而脾土虛寒，用八味丸以補土母；若小便澀滯，肢體漸腫，或兼喘咳，用金匱腎氣丸以補脾腎，利水道；若胃氣虛弱而四肢浮腫，須補脾為主。</p>
<p>一云：產後七日內外，患赤白痢疾，後重頻並，最為難治，欲調氣行血而推蕩外邪，猶慮產後之元氣，欲滋榮益氣而大補產弱，又助痢初之邪盛。其行不損元，補不助邪，惟生化湯加木香、茯苓，則善消惡露，兼行痢積，並治而不悖也。兼服加味香連丸，以俟二三日後視病勢加減。若產七日外，有患褐色頻並後重虛利，當補無疑。若產婦稟厚，期已逾二十餘日，可用生化湯加芩、連、厚朴、芍藥行積之劑。</p>
<p>加減生化湯　治七日患痢。（在前）</p>
<p>四味連香丸</p>
<p>黃連（五兩）　木香（一兩）　大黃（二兩酒蒸）　檳榔（五錢）</p>
<p>上陳麵糊為丸，如菜豆大，空心，米湯下七十丸。</p>
<p>一、產後久瀉，元氣下陷，大便不禁，肛門如脫，宜六君子加木香四分，肉果一個，炙乾姜四分。</p>
<p>二、產後瀉利赤黃，乃脾土真氣下陷，宜補中益氣加木香四分、肉果一個。</p>
<p>三、產後傷麵食瀉利，宜加參生化湯加神麯、麥芽；傷肉加山楂、砂仁。</p>
<p>四、產後胃氣虛弱，患痢，完穀不化，當溫助胃氣，宜六君子加木香、肉果。</p>
<p>五、產後胃虛脾弱，瀉利，四肢浮腫，宜六君加五加皮散治之。</p>
<p>六、產後瀉利不後重，但日久不止，宜六君加木香、肉果。</p>
<p>七、產後赤白痢，臍下熱痛，用當歸、厚朴、黃連、肉果、甘草。</p>
<p>八、產後白痢久不止，屬氣血虛，宜四物加荊芥、人參。</p>
<p>九、產後痢羸困，心腹絞痛，宜服韭白、石榴皮、當歸、黃連、地榆。</p>
<p>十、產後痢，腹痛不止，宜溫湯，布蘸暖腹，則痛緩。</p>

<h2>下痢作渴</h2>
<p>產後下痢作渴，乃內亡津液，或胃氣虛，不能生津液，又或中虛，清氣不能上升。</p>
<p>薛云：若渴而不喜冷飲，屬胃氣虛不能生津液，宜用七味白朮散；夜間發熱口渴，屬腎水弱而不能上潤，宜用六味丸，並佐以益氣湯以滋化源。</p>
<p>案：一婦懷娠下痢，既產倍甚，腹痛異常，身熱如火燒，汗出如洗浴，嘔吐，飲食全不納，惡露不行。迎產科視之，不能治而去，招余視之。六脈洪大如指，空數七八至。予思之，無積則不痢，積以腸中血裕則行，行則不痢。今者懷娠則血必燥，瘀物難行，則痢難止，所以刮動腸胃而痛也。發熱汗出，產後之虛症也。嘔吐不納穀者，腸胃惡濁之氣上蒸於膻中也。惟用補血滑利之藥，使其血生則積利，而諸症自退矣。何難之有？用當歸、芍藥以生血，佐以滑石、車前、陳皮、甘草，行以山楂、蒲黃、肉桂，一服而嘔止，粥進，三服而痢止。諸症頓退，惡露亦去。蓋血得補而生，積得血而利也。按此一症，危困極矣，使非知其機而治之，鮮不敗者。</p>
<p>同時有一產婦痢症俱同，彼以消積退熱而歿。</p>
<p>產後痢神效方</p>
<p>當歸（四錢）　芍藥（炒，二錢）　滑石　車前子（炒，各二錢）　陳皮（三分）　甘草（二分）　山楂（一錢五分）　蒲黃（一錢）　肉桂（三分）</p>
<p>上水煎，溫服。</p>
<p>產後下痢赤白，用紫莧菜一握，切，煮汁，入粳米三合，煮粥，食之立瘥。</p>
<p>戊辰冬，一婦小產，去血已多，復吃梨子，小腹大痛，下痢赤白，產科作痢，治用木香、檳榔、枳殼、陳皮等藥不應。予診之，六脈弦細，意其寒物傷脾，兼有怒氣，以既傷之脾土而肝木乘之，則下陷似痢，作痢治，必成敗症矣，用補中並伐肝之劑陡安。</p>

<h2>大小便秘澀</h2>
<p>產後大便秘澀，由產水血俱下，腸胃血液乾涸，以致秘結不行也。若用苦寒藥潤而通之，反傷中焦元氣，或愈加難通，或通而瀉不能止，必成壞症。</p>
<p>前症若計其日期、飲食數多，即用藥通之，禍在反掌，必待腹覺脹，欲去不能去者，乃結在直腸，宜用豬膽潤之。若用苦寒疏通，反傷中氣，通而不止，或成痞症；若去血過多，用十全大補湯，血虛火燥，用加味四物湯；氣血俱虛，用八珍湯；雖數日不通，飲食如常，腹中不脹不疼，仍用八珍湯加桃杏仁治之。若泥其日期、飲食數多而通之，則誤矣。</p>
<p>麻仁丸　利大便。</p>
<p>火麻仁（研如泥）　枳殼　人參（各四分）　大黃（二錢）</p>
<p>上為末，蜜丸如梧子，每服五十丸，米飲下。</p>
<p>愚按：肉蓯蓉補血潤大便之神藥也。產後血虛便結，正蓯蓉所宜，何不用之？而用麻仁、大黃，大悖矣。</p>
<p>一方　用芝麻一升，研末，和米二合，煮粥，食即通。</p>
<p>產後小便不通者，腸胃或本挾熱，因產水血俱下，津液燥竭，熱結小腸，或腎虛而膀胱有熱也，須用滋腎之藥，則小水自利。若用八正、五苓，恐未利也。</p>
<p>按：通利之藥俱系克伐元氣，雖是常人，尚宜審虛實，酌可否投劑，況產後血液乾涸之日乎？若輕躁孟浪，不徒無益已耳。</p>

<h2>淋病</h2>
<p>夫所謂淋者，小便欲去不去，不去又來是也。產後諸淋，由產後虛弱，熱客脬中，虛則頻數，熱則澀痛，氣虛而熱，血入胞中，則血隨小便而出，為血淋也。</p>
<p>薛云：若膀胱虛熱，用六味丸；若陰虛而陽無以化用，滋陰腎氣丸。</p>
<p>愚按：產後之淋皆虛而生熱，熱則淋，不可過於分利，分利多則氣血倍虛，反不得痊矣。惟養氣滋陰為上策也。</p>
<p>茅根湯　治產後冷、熱、膏、石諸淋。</p>
<p>白茅根（一兩）　桃膠　人參（各一錢五分）　瞿麥　茯苓（各五錢）　葵子（一錢五分）　滑石　紫貝（二個）　石首頭（四個，為末）</p>
<p>上，薑棗水煎，入齒末，空心服。</p>
<p>又方　治婦人尿血、出血，甚效。</p>
<p>當歸　赤芍　羚羊角（各五錢）　生地（一兩）　蘇葉（七錢五分）</p>
<p>每服八錢，水煎。</p>
<p>一方　治尿血。</p>
<p>破故紙（炒）　蒲黃（炒）　古石灰（炒）</p>
<p>上等分為末，空心，熱酒下三錢。</p>

<h2>大小便血</h2>
<p>產後大小便下血，因產損於氣血，氣血虛挾熱，血得熱則流通，虛則下溜，而大小便血下也。</p>
<p>薛云：若因膏粱積熱，用加味清胃散；若因酒濕，葛花解酲湯；若怒動肝火，六君加芍藥、芎、歸、柴、芩、膽草；若因鬱結傷脾，加味歸脾湯；若因思慮傷心，妙香散；若因大腸風熱，四物加側柏、荊、防、枳殼、槐花；若因大腸血熱，四物加芩、連；若因腸胃虛弱，六君加升麻、柴胡；若因腸胃虛寒，六君加肉果、木香；若因元氣下陷，補中益氣加茯苓、半夏；若因氣虛，六君加升、柴；血虛，四物湯；氣血俱虛，用八珍加升、柴。大凡病久，或元氣虛弱，見病百端，皆脾胃虛損，內真寒而外假熱，但用六君子，或補中益氣加炮姜，溫補脾胃，諸症悉退；若四肢畏冷，屬陽氣虛寒，急加附子。</p>
<p>葛花解酲湯　治酒積濕熱下血。</p>
<p>白豆蔻　砂仁　葛花（各五錢）　木香（五分）　青皮（三錢）　陳皮　茯苓　豬苓　人參（各一錢五分）　白朮　神麯　澤瀉　乾薑（各二錢）</p>
<p>為末，每服五錢，白湯調下。</p>

<h2>咳嗽</h2>
<p>產後咳嗽者，蓋肺主於氣，產後肺氣虛，或見風，或熱，或寒，或濕外乘之故，令咳嗽也。</p>
<p>薛云：產後咳嗽，或因陰血虧損，或因肺氣虧傷，或因陰火上炎，或因風寒所感。主治之法，若陰血虛者，用芎、歸、熟地、參、術；肺氣傷者，用四君、芎、歸、桔梗；陰火上炎者，六味丸加參、術；風寒所感者，補中益氣湯加桔梗、紫蘇。</p>
<p>知母散　治惡露上攻，咳嗽不已。</p>
<p>知母　貝母　茯苓　人參（各五錢）　桃仁　杏仁（去皮、尖，各一兩）</p>
<p>每服五錢，水煎。</p>
<p>又方　治風寒咳嗽。</p>
<p>甘草　桔梗（各六分）　款冬（四分）　麥冬　生地（各一錢二分）　蔥白（一握）</p>
<p>上，水煎。</p>
<p>旋覆花湯　治傷風、寒、暑、濕，咳嗽太盛，坐臥不寧。</p>
<p>旋覆花　赤芍　前胡　半夏曲　甘草　荊芥穗　茯苓　五味子　杏仁　麻黃（有汗不用）</p>
<p>每服四錢，薑棗水煎。</p>

<h2>喉中氣急喘促</h2>
<p>產後喉中氣急喘促，因產去血過多，榮血暴竭，衛氣無主，獨聚肺中，故令喘也。此名孤陽絕陰，最為難治。肺伏而厥，面黑喘者，亦難治也。若因敗血停滯，服奪命丹；若因榮血暴竭，服芎藭湯；若因風寒所傷，服旋覆花湯；若因氣血服結，小調經散；若飲食所傷，服見睍丸。</p>
<p>薛云：若脾肺氣虛弱，用六君、桔梗；若兼外邪，更加紫蘇；若中氣虛寒，用補中益氣湯加炮薑、肉桂；若陽氣虛脫，更加附子；若瘀血入肺，急用二味參蘇飲。</p>
<p>二味參蘇飲　治產後血入於肺，面黑髮喘，欲死者。</p>
<p>人參（一兩）　蘇木（二兩）</p>
<p>上水煎，頓服。</p>
<p>又，二味參、桃亦好。</p>
<p>五味子湯　治產後喘促，脈伏而厥。</p>
<p>五味子（杵、炒）　人參　杏仁（各二錢）　麥冬　陳皮（各一錢）　姜（三片）　棗（二枚）</p>
<p>水煎。</p>
<p>奪命丹（方見胞衣不下）</p>
<p>芎藭湯</p>
<p>芎藭　當歸　芍藥（各等分）</p>
<p>上，每服五錢，水煎。</p>

<h2>乳汁少</h2>
<p>產後乳少，若氣血虛弱不能化生，宜壯脾胃；怒動膽火而乳汁少，宜清肝火。夫乳汁乃氣血所化，在上為乳汁，在下為月水，若屢產無乳，或大便澀滯，當滋化源。</p>
<p>玉露散　治乳脈不行，身體壯熱，頭痛目昏，大便澀滯等症。</p>
<p>人參　茯苓　桔梗（炒）　川芎　白芷　當歸　芍藥（各一錢）　甘草（五分）</p>
<p>上水煎服。</p>
<p>治氣血虛而無乳，用鍾乳粉二錢煎漏蘆湯，調下。</p>

<h2>乳汁自出</h2>
<p>乳汁自出乃胃氣虛，宜服補藥止之。未產而乳自出之，汁泣，生子多不育。</p>
<p>薛云：氣血俱虛，十全大補湯；肝經血熱，加味逍遙散；肝經怒火，用四物、參、朮、柴、梔；肝脾鬱怒，用加味歸脾湯。</p>

<h2>乳吹妒乳</h2>
<p>產後吹乳者，因兒飲乳之時，兒忽自睡，口氣所吹，乳不得泄，蓄積在內，遂成腫硬疼痛，名曰吹乳。</p>
<p>新產兒，未飲，乳未泄，或脹或痛，名曰妒乳。輕則為吹為妒，重則成癰。</p>
<p>一方　治產後乳腫痛神效。</p>
<p>雞肫皮，煅存性，醋調皮末如厚糊，敷之二三次愈。</p>
<p>一方</p>
<p>生山藥去皮，搗爛敷之，腫即消，既消急去之，不然皮肉即爛矣。</p>
<p>又用服藥方</p>
<p>乳香　沒藥（各一錢）　黃柏　花粉（各二錢）</p>
<p>上酒煎服。</p>
<p>乳盛或無子飲乳，以致腫痛，炒大麥芽（二兩），水煎服，其腫痛即散。</p>
<p>又方　治乳癰。</p>
<p>蒲公英（一兩）　金銀花（二兩）</p>
<p>又方</p>
<p>百嬭根酒漿板搗敷。三白草亦好。生苧麻根和黃泥少許，搗勻，敷之，亦妙。</p>
<p>又方　治產後無乳汁。</p>
<p>母豬蹄三四個，通草六兩用綿裹，同蹄煮羹食最妙。復以木梳於乳上梳刷，或手摩乳房。</p>
<p>又方　治乳癰，未破即散，已結即潰，極痛即止。因小兒吹乳變成。如未產，為內吹。此方並治之。</p>
<p>陳皮（去白，日乾，炒黃，為末）　麝香（研）</p>
<p>酒調下二錢。</p>
<p>乳癰方　屢效如神。乳吹，肝病也。此方專治，所以速效。</p>
<p>香附　當歸　白芷　金銀花　柴胡　連翹　山梔　白芍　青菊葉　羌活　甘草　防風　膽草</p>
<p>水煎。</p>

<h2>口鼻起黑氣及鼻衄</h2>
<p>產後口鼻起黑氣及鼻衄。蓋陽明為經脈之海，起於鼻，交額中，還出頰口，交人中，左之右，右之左。此產後氣虛，榮血散亂，胃絕肺敗之症也，急取緋線，併產婦頂心發兩條緊繫中指節，以荊芥為末，童便調下。</p>
<p>薛云：胃脈俠口繞承漿。蓋鼻準屬土，鼻孔屬金，誠胃虛肺損氣脫血死之症，急用二味參蘇飲加附五錢服之，亦有得生者。</p>

<h2>咳逆</h2>
<p>夫肺主於氣而稟於胃。蓋產後脾胃傷損，風冷所搏，故咳逆也。急灸期門穴三壯，必愈。此穴乃胃之大絡也。（穴在乳下）</p>
<p>前症乃氣血虛寒之惡候，用後方未應，急投參附湯。</p>
<p>丁香散　治心煩咳逆。</p>
<p>丁香　白豆蔻（各五錢）　伏龍肝（一兩）</p>
<p>上末，每服一錢，煎桃仁吳茱萸湯調下。</p>
<p>羌活散　治咳逆</p>
<p>羌活　附子（炮）　茴香（炒，各五錢）　木香　白姜（炮，各一錢）</p>
<p>上末，每服二錢，水一盞，鹽一撮，煎服。</p>
<p>一方　用桂心五錢，薑汁三合，水煎服。</p>
<p>又方　用柿幹一個，切碎，水一盞，煎六分，熱呷。此因有熱者用此。</p>

<h2>積聚癥瘕</h2>
<p>夫積者，陰氣也，五臟所生。聚者，陽氣也，六腑所成。然積為陰，陰性沉伏，故痛不離其部；聚為陽，陽性浮動，故痛無常處。皆由飲食不節，起居失宜，產後血氣虛弱，風冷所搏，血氣相結，故成此疾。</p>
<p>薛云：若真氣虧損，邪因乘之，不可求旦夕之效，而攻其邪。況產後得之，尤當以固元為主，若破血行氣而攻其邪，是速其危矣。</p>
<p>大都此症皆因肝脾血氣虧損，或因肝脾鬱結而然。治惟八珍湯、逍遙散、歸脾湯，隨症互服自愈。蓋氣血足則健運而無凝滯之患，氣血不鬱則流暢而無阻礙之虞，周流旁達一身，皆太和元氣之流行也，尚何積聚癥瘕之不散哉。</p>
<p>逍遙散</p>
<p>當歸　芍藥　柴胡　茯苓　白朮　甘草</p>
<p>水煎。</p>
<p>八珍湯</p>
<p>歸脾湯</p>
<p>人參　黃耆　當歸　白朮　木香　茯神　遠志　棗仁　炙甘　龍眼</p>
<p>水煎服。</p>

<h2>流注</h2>
<p>產婦惡露，因怒因驚，滯而不散，流注於腰、臀、腿、足、關節之間，或漫腫，或結塊，久則腫氣作痛，肢體倦怠，急用蔥熨方以治外腫。內服：</p>
<p>參歸化生湯　治流注未成自散，已成自潰。</p>
<p>川芎（一錢五分）　當歸（三錢）　甘草（五分）　肉桂（八分）　人參　馬蹄香（各一錢）</p>
<p>若漫腫微痛，屬形氣病，氣血俱不足，最難治。或已成膿，或未成膿，或成膿而不潰，血虛也，宜服人參湯；憎寒惡風，氣虛也，宜十全大補湯；日晡內熱，四物湯加參、朮、丹皮；嘔逆，胃氣虛也，六君子湯加炒黑乾薑；食少體倦，脾氣虛也，補中益氣湯加升麻；四肢逆冷，小便頻數，腎氣虛也，補中益氣湯加益智仁。</p>
<p>蔥熨法</p>
<p>用蔥一握，炙熱，搗作餅，厚鋪腫處兩層，以熨斗火熨之，甚妙。</p>

<h2>腸癰</h2>
<p>產後腸癰，因產惡露停滯，小腹作痛，急宜行之，緩則腐為膿，難治。若流注關節，則患癰疽，多為敗症，宜服瓜子仁湯。</p>
<p>《訣》云：腸癰難知，滑數可推，數而不熱，腸癰何疑？遲緊未膿，下以平之；洪數膿成，不下為疑。又云：關內逢芤腸裹癰。其症繞臍生瘡，身皮甲錯，小便如淋狀，小腹作痛。</p>
<p>瓜子仁湯　治產後惡露未盡，瘀血停滯，小腹作痛，或成癰疽。</p>
<p>薏仁（五錢）　丹皮　桃仁（去皮、尖，炒，各三錢）　瓜蔞仁（四錢）</p>
<p>上作二帖，水煎。</p>
<p>神效瓜蔞散</p>
<p>大瓜蔞（一個，搗）　甘草　川歸（各五錢）　沒藥　乳香（各一錢）</p>
<p>酒三碗，煎二碗，分三次，食後服，渣盦患處。</p>
<p>愚按：產後流注與腸癰，皆敗血凝滯所致。逐去敗血，腫痛自除。荊人產後三四日，因驚，小腹之左不紅不腫，日夜痛楚。蓋因驚則氣亂，血不流行，凝滯而然，時師不識，誤為陰虛，大用補塞之藥，以致久久不得少可，四十四夜，痛苦萬狀，只剩皮骨。四十餘日後已成膿。用生薑切片置患處，艾炷於姜上灸之，膿於大便會出，得痊。一婦人新產，誤服人參，瘀血不行，流注兩足，腫痛，日間少可，至晚倍劇。醫亦不識血注之故，作腳氣治，八九日而歿。大都新產若患前症，皆系血滯，萬萬不可用補也。一少婦，初產腰內生癰，越醫不識瘀血流注，作外科治，用消風敗毒之藥，又誤用瘍醫開膿而歿。惜哉！又有塊在臍間，痛在夾縫，作癰血治，久之大危，潤便得安。</p>

<h2>陰蝕五疳</h2>
<p>產後陰中生瘡，名曰慝瘡。或疼或癢，如蟲行狀，濃汁淋瀝。陰蝕幾盡者，由心神煩郁，胃氣虛弱，致氣留滯而有此疾。治當清心養胃，外以藥薰洗。</p>
<p>此乃肝脾鬱結之症，木旺生蟲，宜解鬱清肝。</p>
<p>千金治陰蝕方</p>
<p>川芎　當歸　芍藥　地榆　甘草</p>
<p>以水五升，煎二升，去渣熏洗，日三次，夜一次，效。</p>
<p>又方　以豬肝入陰戶，引出蟲，妙。</p>
<p>又方　蒲黃一升，水銀一兩，研勻，糝之，效。</p>
<p>又方　肥豬肉十斤，煮水浸瘡，冷再易，不過兩三次。</p>
<p>又方　以蝦蟆、兔屎等分為末，傅瘡即愈。</p>
<p>又方　治疳蟲蝕下部及五臟。</p>
<p>取東南桃枝三七枝，輕打頭散，以綿纏之。又研石硫黃末，將綿纏桃枝捻轉，令末少厚。又截一短竹筒，先納下部，以所捻藥桃枝熱，然後熏之。</p>

<h2>陰脫玉門不閉</h2>
<p>產後陰脫，玉門不閉。因坐草努力舉動，或房勞所致，或脫肛陰挺，逼迫腫痛，小便淋瀝。</p>
<p>薛云：陰挺不上，玉門不閉，氣血虛也，用十全大補湯；若患處重墜，元氣下陷也，用補中益氣湯；若焮腫作疼，肝經虛熱也，用加味逍遙散；若素有鬱怒，肝脾血傷也，用加味歸脾湯；若因暴怒，肝火血傷也，用龍膽瀉肝湯；若婦人元氣本實，或玉門不閉，焮腫作痛，小便不利，此肝經濕熱壅滯，用加味逍遙散加車前子、牛膝、澤瀉。</p>
<p>產後寒疝，臍腹作痛，乃冷氣乘虛也，用當歸建中湯治之。又云：產當寒月，入門、臍下脹痛，手不可近，用羊肉湯治之。</p>
<p>又云：若脾胃虛弱，寒邪所侵，蟠蔥散；若肝經濕熱，小便不利，用龍膽瀉肝湯。仍參前論，恐有瘀血為患。</p>
<p>羊肉湯　治產婦脾虛，寒邪所乘，以致腹痛或頭眩脅臍急痛。</p>
<p>精羊肉（四兩）　當歸　川芎（各五錢）　生薑（一兩）</p>
<p>上，水用十鍾，煎四鍾，分四次，空心服。</p>
<p>蟠蔥散</p>

<h2>產後通用方</h2>
<p>通暢回生丹　治產後一十九症。</p>
<p>大黃（一斤，為細末）　蘇木（三兩，用水五碗，煎汁三碗，去滓存汁）　紅花（三兩，炒黃，入好酒一大壺，煮三五沸，去花存汁）　黑豆（三升，煮汁三碗，去豆存汁）</p>
<p>先將大黃末以好米醋三四碗攪勻，文武火熬成膏，如此二遍。次下紅花酒、蘇木湯、黑豆汁，攪勻，又熬成膏，取出，如有鍋焦，另焙乾為末，入後藥內。</p>
<p>當歸　川芎　熟地　茯苓　蒼朮（米泔浸）　香附　烏藥　玄胡　桃仁（另研）　蒲黃　牛膝（各一兩）　白芍（酒炒）　甘草　陳皮　木香　三稜　五靈脂　羌活　地榆　山萸（酒浸，各五錢）　人參　白朮　青皮　木瓜（各三錢）　良薑（四錢）　乳香　沒藥</p>
<p>上為細末，用大黃膏搗，丸如彈子大，每服一丸，酒頓化服。</p>
<p>子死腹中　妊母因染熱病，六七日經傳臟腑，熱極，以致子死腹中，命在須臾，急服三丸便生。</p>
<p>難產　因產時兒枕失破，血裹其子，但服此藥，逐去敗血，須臾自生，橫生、逆產同治。</p>
<p>胎衣不下　因生產，母受其寒，血入衣中，被血所脹，令人脹悶，飲食不進，逐去敗血，自然衣下。</p>
<p>產後血暈，起止不得，眼見黑花　產後氣血未定，奔克於肝，人若不識，誤為暗風，非矣。此丹服之即愈。</p>
<p>產後口乾心悶　產後氣血未定，食麵太早，積聚在心，是以煩渴。但服此丹，萬無一失。</p>
<p>產後寒熱似瘧　產後虛羸，血入於心肺，熱入於脾胃，則寒熱而渴。不可誤作瘧治。宜服此丹，神效。</p>
<p>產後四肢浮腫　敗血走注四肢，不得運化，乃為浮腫四肢。先用此丹去敗血，後用利水氣藥。</p>
<p>產後血邪，如見鬼神，言語無度，顛狂，產後敗血，心中熱極，所以煩躁，言語狂妄，非風邪也。急服此丹，萬無一失。</p>
<p>產後失音不語　人心皆有孔竅，敗血流入孔竅，被血所閉，言語不得，以此丹服之，神效。</p>
<p>產後腹痛泄痢　產後月內誤食酸冷、堅硬之物，與血相搏，流入大腸，不得轉化，但服此丹，即愈。</p>
<p>產後百節痠疼　產後百節開張，余血停留，經滯日久，結聚不散，是以百節痠疼，非濕症也，但服此丹，去其滯血，即安。</p>
<p>小腸尿血如雞肝　產婦月中將理失宜，飲食不得應時，兼以怒氣，以致血流入小腸，閉卻水道，是以小便澀結，血似雞肝，服此丹立愈。</p>
<p>產後下血似崩中　產後失於調理以致此疾，但服此丹，立愈。</p>
<p>產後氣滿嘔逆不定　產後血停於脾胃，胸膈脹滿、嘔吐，非反胃，但服此丹三二丸，即痊。</p>
<p>產後咳嗽寒熱往來　產後結痰上喘、咳嗽、四肢寒熱，宜服此丹。</p>
<p>產後喉中似蛙聲　宜服此丹。</p>
<p>產後面黃、舌乾、鼻中流血、遍身生斑點　產後敗血入臟腑、肌膚，更走四肢，故有此疾，如服此丹，可以無虞。</p>
<p>產後眼澀腰痛似角弓　產後在月中喜食爽口之物，致煩熱不得安寧，不能調理，兼百日之內過傷房事，殊不知產後血氣虧損，倘一犯之，則不能免此患矣。</p>
<p>產後小便澀，大便不通　血入腸中誰得知？小便淋瀝大便滯，乍寒乍熱常多汗，如醉如癡似鬼迷，花發目前如碎錦，病纏身上總成虛，只消一服回生藥，產婦從今免困危。</p>
<p>濟陰返魂丹　專治橫生、逆產、胎前產後一切諸症。</p>
<p>益母草（八兩，不犯鐵器，為末聽用，畏日）　當歸（七錢）　赤芍（六錢）　南木香（五錢）</p>
<p>上為末，煉蜜和丸，如彈子大，每服一丸，好酒、童便各半化下。或丸桐子大，酒、便各半，吞三十丸。</p>
<p>胎動不安，下血不止，及腹作痛，用溫米湯下。</p>
<p>胎前一切難產，子死腹中，脹滿不下，心痛心悶，酒、便化下，或炒鹽湯下。</p>
<p>月經不調，好酒下，或四物湯下。</p>
<p>臨產併產後各先服一丸，童便、酒下。安魂定魄，氣血自調，諸病不生，又能破血止痛，養脈調經，易產如神。</p>
<p>產胞衣不下，臟腑產羸，五心煩悶、燥熱，敗血流入衣中，脹而難出，用好酒化下。</p>
<p>產起臥不得，眼前黑暗生花，或血熱口乾、煩躁而渴，心神亂，如見神鬼，不思飲食，傷風發熱，手足麻木，百節疼痛，不可忍者，濃煎薄荷汁，酒、便各半送下。</p>
<p>產後氣壅，胸膈不利，噁心吐酸，及四肢浮腫，兩脅痛，舉動無力，溫酒送下。</p>
<p>產後惡血未盡，留滯作塊，惡露衝心，腹腰作痛，大便秘，小便澀，中風，吐逆，失音不語，不省人事，酒、便化下。</p>
<p>產後寒熱往來。蓋因敗血傷心則熱，傷脾則寒，傷狀如瘧疾，或腹痛，溫米湯、桂枝湯任下。</p>
<p>產後痢疾後重，瀉血，棗仁湯下。</p>
<p>產後崩中，下血，漏下不止，烏梅湯下，或糯米湯，或秦艽湯下。</p>
<p>產後赤白帶，艾湯下。</p>
<p>琥珀黑龍丹　治產後一切瘀血為患，危急欲死，及胎衣不下、但灌得藥下，無有不安。</p>
<p>五靈脂（去沙土）　川芎　當歸　良薑　生地（各五錢）</p>
<p>上銼，曬極干，以固濟小黃砂罐盛之，燈盞蓋定，赤石脂抿縫，紙筋鹽泥封固嚴密。以文武火煅一炷香，放涼處，退火毒，取出藥，如黑糖，研細，入後藥同丸。</p>
<p>花蕊石（煅，另研，二錢）　琥珀（另研，一錢）　乳香（另研，一錢五分）　百草霜（五錢）</p>
<p>上末，同前藥米醋糊丸，如彈子，每一丸，用薑汁、好酒、童便半盞，將藥於炭火中燒淬，入酒、便內調化，頓服，立效。</p>
