<header data-type="book">
<h1>隨息居重訂霍亂論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王士雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1862">公元1862年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2691">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>汪序</h1>
<p>經云：人之傷於寒也，則為病熱。蓋六氣之行，都從火化。外感之病，雖有因寒因熱之分，而熱者較多。霍亂不過外感之一證，其中亦有寒、有熱，初非專屬於寒也。特以其來太驟，擬議不及，辨證稍疏，生死立判，視傷寒溫暑，尤難措手。昧者，乃專執附桂一方，統治一切霍亂，不亦慎乎！夢隱向有《霍亂論》之刻，久已風行，近又重加編訂，益為詳備。蓋深疾偏執一方以治百病之弊，故不辭痛切，言之如此。讀者顧疑其偏用寒涼，未免以詞害意矣。昔洄溪作《慎疾芻言》，而自論之曰：有疑我為專用寒涼攻伐者，不知此乃為誤用溫補者戒，非謂溫補概不可用也。諒哉斯言！請以移贈夢隱此書可乎。</p>
<p><u>同治癸丑正月烏程汪曰楨</u></p>

<h1>自序</h1>
<p>隨息居士，當昇平盛世，生長杭垣，不幸，幼失怙。自知無應世才，而以潛名其齋。或謂甘自廢棄，而以癡目之，因自號半癡山人。嘗刊《潛齋醫學從書十種》問世。年未五十，忽挈兩弟，攜一硯以歸籍，然貧無錐地，賃屋而居。或問故，曰：余繼先人志耳！乃顏其草堂曰歸硯，輯歸硯錄以見志，藉硯遊吳越間哺其家口，洎庚申之變，或招遊甬越，辭不往。辛酉秋，勢日蹙，不克守先人邱壟，始別其兩弟，攜妻孥，棲於濮院。人視之如野鶴閒雲，而自傷孤露四十年。值此亂離靡定，題所居曰隨息，且更字夢隱，草隨息居飲食譜，以寓感慨。迨季冬，杭垣再陷，悠悠長夜，益覺難堪。今春，急將三、四兩女草草遣嫁，夏間避地申江，妻孥踵至，僦屋黃歇浦西，仍曰隨息居。略識顛末，俾展卷而知隨處以息者，即半癡山人，身不能潛，硯無所歸之華胥小隱也。</p>
<p>重訂《霍亂論》者，以道光間，嘗草《霍亂論》於天台道上，為海豐張柳吟先生閱定，同郡王君仲安梓以行世，蓋二十餘年矣，板存杭會，諒化劫灰，咸豐初元，定州楊素園先生，又與《王氏醫案》十卷，合刻於江西，不知其板尚存否，今避亂來上海，適霍亂大行，司命者罔知所措，死者實多。元和金君簠齋，仁心為質，惻然傷之，遍搜坊間《霍亂論》，欲以弭亂，而不能多得，聞余足跡，即來訂交，始知其讀余書有年，神交已久，屬余重訂，以為登高之呼。余自揣無撥亂才，方悔少年妄作之非，愧無以應也。逾兩月，簠齋亦以此證遽逝，尤愴余懷，哲嗣念慈，檢得《轉筋證治》遺書一冊，示余曰：此先人丁巳年刊於姑蘇者，今板已毀，書亦無餘，余讀之，簡明切當，多采蒭蕘，洵可傳之作。因嘆簠齋韜晦之深，竟不余告也。吳縣華君麗云：知余硯田蕪穢，持家藏下岩青花石一片，見贈曰：子將無意慰金君耶，有意慰金君，則重訂之舉，曷可以已乎。余不能辭，遂受其片石，纂此以慰簠齋於地下，非敢自忘不武，謂可以戡定斯亂也。書成，題曰《重訂霍亂論》。首病情，次治法，次醫案，次藥方，凡四篇。</p>
<p><u>同治建元壬戌閏月丙午華胥小隱自記</u></p>

<h1>卷上</h1>

<h2>病情篇第一</h2>

<h3>總義</h3>
<p>《素問·六元正紀大論》曰：太陰所至，為中滿，霍亂吐下。</p>
<p>太陰濕土之氣，內應於脾。中滿，霍亂吐下，多中焦濕邪為病。故太陰所至，不必泥定司天在泉而論也。五運分步，春分後交二運火旺，天乃漸熱；芒種後交三運土旺，地乃漸濕。濕熱之氣上騰，烈日之暑下爍，人在氣交之中，受其蒸淫。邪由口鼻皮毛而入，留而不去，則成溫熱暑疫諸病，霍亂特其一證也。若其人中陽素餒，土不勝濕，或飲冷貪涼太過，則濕遂從寒化，而成霍亂者亦有之。然熱化者，天運之自然；寒化者，體氣之或爾。知常知變，庶可治無不當也。</p>
<p>《靈樞·經脈篇》曰：足太陰厥氣上逆，則霍亂。</p>
<p>足太陰脾，土臟也，其應在濕，其性喜燥，鎮中樞而主升清降濁之司。惟濕盛而滯其升降之機，則濁反厥逆於上，清反抑陷於下，而為霍亂。雖有熱化、寒化之分，治宜宣其濁，則逆自平，而亂乃定，清自升也。</p>
<p>《傷寒論》曰：病有霍亂者，何？答曰：嘔吐而利，名曰霍亂。</p>
<p>此設為問答，以明霍亂之病。謂邪在上者，多吐；邪在下者，多利；邪在中焦，上逆而為嘔吐，復下注而利者，則為霍亂。霍亂者，揮霍悶亂，成於頃刻，變動不安之謂也。若上不能納，下不能禁之久病，但名吐利。不得謂之霍亂也。</p>
<p>又曰：病發熱頭痛，身痛惡寒，吐利者，此屬何病？答曰：此名霍亂。自吐下，又利止，復更發熱也。</p>
<p>徐洄溪曰：此霍亂是傷寒變證。郭白雲曰：此論霍亂，似傷寒之證。蓋傷寒而霍亂者，陰陽二氣亂於胸中也。初無病而霍亂者，往往飲食失節，而致胸中逆亂也。經云：清氣在陰，濁氣在陽。營氣順脈，衛氣逆行。清濁相干，亂於胸中，是為大悗。亂於腸胃，則為霍亂。惟亂於胸，所以吐。亂於腸，所以利。經言五亂，霍亂其一也。張路玉曰：傷寒吐利，由邪氣所傷；霍亂吐利，由飲食所傷。其有兼傷寒之邪，內外不和，加之頭痛發熱而吐利者，是傷寒霍亂也。</p>
<p>雄案：霍亂，有因飲食所傷者，有因濕邪內蘊者，有因氣鬱不舒者。但既有發熱頭痛，身痛惡寒之表證，則治法必當兼理其表，此仲聖主五苓散之義也。然表證之可兼者，不獨寒也。如吸受溫熱風暑之邪者，皆能兼見表證。舉隅三反，活法在人。其溫暑直侵脾胃，與內邪相協為虐，迨裡氣和而吐利止，則邪復還之表而為發熱者，駕輕湯主之。寒霍亂後，表不解者，有仲聖之桂枝法在。</p>
<p>《醫徹》曰：霍亂之候，其來暴疾，腹中㽲痛，擾亂不安。有吐瀉交作，有吐而不瀉、瀉而不吐，有不得吐而又不得瀉。則邪有上下淺深之分，而總以得吐為愈。邪有入，必有出，鹽湯探吐，上妙法門，然後調其胃氣可也。蓋霍亂每傷於胃，雖風寒暑濕，四氣相乘，而中必先虛，故邪入焉。至飲食失和，穢邪觸感者尤多。胃氣一傷，清濁相干，邪不去則正不安，所以攻邪尤要於扶正也。即至肢冷脈伏，轉筋聲啞，亦必驅逆至盡。蓋邪去則正安，非比他證，養正而邪自除也。所以當其發時，不可用米飲。先哲諄諄戒之，豈無謂哉！觀於乾霍亂，上不得吐，下不得瀉，亦因邪不能出，所以為劇。治者，益可思其故矣。此治霍亂之大法也。總以得吐為邪有出路者，承上不得吐瀉之乾霍亂言也。邪不去則正不安，尤為治諸病之名言。但霍亂雖無養正則邪自除之理，而虛多邪少之證，亦間有之，治宜攘外安中並用，又未嘗無其法也。</p>
<p>《病源》曰：霍亂，脈大可治，微細不可治。霍亂吐下，脈微遲，氣息劣，口不欲言者，不可治。</p>
<p>《治法匯》曰：吐瀉，脈代，乃是順候。氣口脈弦滑，乃膈間有宿食，雖吐，猶當以鹽湯鵝翎探之。吐盡，用和中藥。凡吐瀉，脈見結、促、代，或隱伏，或洪大，皆不可斷以為死。果脈來微細欲絕，少氣不語，舌卷囊縮者，方為不治。</p>
<p>《醫通》曰：脈伏，或微澀者，霍亂。脈長，為陽明本病。霍亂脈洪大，吉。虛、微、遲、細兼喘者，凶。霍亂之後，陽氣已脫，或遺溺不知，或氣怯不語，或膏汗如珠，或躁欲入水，或四肢不收，舌卷囊縮，皆為死候。</p>
<p>《金簠齋轉筋證治》云：此證重者，立時脈伏，乃邪閉而氣道不宣。勿輕信庸工，為脈絕不救也。</p>
<p>案：營虛氣奪，脈微欲絕者，復脈湯主之。氣散陽飛，脈微欲絕者，四逆湯主之。若客邪深入，氣機痹塞，脈道不能流通，而按之不見者，為伏脈，此為實證。與絕脈判若天淵，苟遇伏脈，而不亟從宣通開泄之治，則脈亦伏而漸絕矣。但此乃邪閉之絕，彼為元脫之絕。脫者誤開，陽亡而死；閉者誤補，邪錮而死。</p>
<p>又案，天士云：經曰：暴病暴死，皆屬於火，火鬱於內，不能外達，故似寒證。關竅閉塞，經絡不通，脈道不行，多見沉滯無火之脈。愚謂各證皆然，舉一可例其餘，然非閱歷深者，不能知此。</p>

<h3>熱證</h3>
<p>《素問·六元正紀大論》曰：土鬱之發，為嘔吐霍亂。</p>
<p>諸郁之發，必從熱化。土鬱者，中焦濕盛，而升降之機乃窒。其發也，每因吸受暑穢，或飲食停滯，遂至清濁相干，亂成頃刻，而為上吐下瀉。治法，如燃照湯，宣土鬱而分陰陽。連樸飲，祛暑穢而行食滯。若驟傷飽食，而脘脹、脈滑，或脈來澀數模糊，胸口按之則痛者，雖吐，猶當以鹽湯探吐，吐盡其食，然後以駕輕、致和等湯調之。</p>
<p>又云：不遠熱則熱至，熱至則身熱吐下霍亂。</p>
<p>此明指霍亂有因熱而成者。奈《病源》《三因》等書，咸謂霍亂本於風冷，遂致後人印定眼目。凡患熱霍亂者，率為藥誤，且不遠熱三字，亦非但以藥食為言。如勞役於長途田野之間，則暑邪自外而入。所謂熱地如爐，傷人最速，宜白虎湯、六一散之類，甘寒以清之。或安享乎醇酒膏粱之奉，則濕熱自內而生。所謂厚味臘毒，不節則嗟，宜梔豉湯、連樸飲之類，苦辛以泄之。其有暑入傷元，白虎湯可以加參。氣虛招感，用參朮必佐清邪。昔賢成法，自可比例而施。奈昧者，妄謂勞傷之病宜補，膏粱之體必虛。知其一，不知其二，信手溫補，動輒殘生，可哀也已。</p>
<p>《至真要大論》曰：諸熱瞀瘛，諸逆衝上，諸躁狂越，皆屬於火。</p>
<p>瞀，昏悶也，瘛，抽掣也。熱傷神則瞀，火迫血則瘛。火性炎上，故逆而衝上。躁，煩躁不安也。狂，狂亂也。越失常度也。熱盛於外，則肢體躁擾。熱盛於內，則神志煩亂。蓋火主動，凡病之動者，皆屬於火。霍亂而見此等證候者，皆為熱邪內盛之的據也。</p>
<p>又曰：諸轉反戾，水液渾濁；諸嘔吐酸，暴注下迫，皆屬於熱。</p>
<p>諸轉反戾，轉筋拘攣也。熱氣燥爍於筋，則攣瘛為痛，火主燔灼，躁動故也。水液，小便也。小便渾濁者，天氣熱水渾濁也。嘔吐者，火氣炎上之象也。胃為陽土，性主下行，胃中熱盛，則迫逆而上衝也。土爰稼穡，而味變酸者，肝熱內燔，故從而化也。暴注，卒暴注泄也。腸胃熱盛而傳化失常，火性疾速，故如是也。下迫，後重裡急迫痛也。火性急速，而能燥物故也。此段經文，形容霍亂轉筋證象如繪，業醫者，必人人讀之，何以臨證茫然。徒惑於吊腳痧、腳麻痧等俗名，而貿貿然妄投燥熱之藥，以促人天年，抑何不思之甚耶！</p>
<p>《千金要方》曰：中熱霍亂暴利，心煩脈數，欲得冷水者，以新汲井水，頓服一升。</p>
<p>郭白雲曰：治霍亂之法，惟《千金要方》，最為詳備。</p>
<p>《治暑全書》曰：暑氣入腹，噁心腹痛，上吐下瀉，瀉如水注。</p>
<p>春分以後，秋分以前，少陽相火，少陰君火，太陰濕土，三氣合行其政。故天之熱氣下，地之濕氣上。人在氣交之中，受其蒸淫之氣，由口鼻入而擾其中，遂致升降失司，清濁不分。所瀉者皆五臟之津液，急宜止之，然止非通因塞用之謂也。濕甚者，胃苓湯分利陰陽，暑亦自去；熱甚者，桂苓甘露飲清其暑火，濕亦潛消。若火盛之體，內本無濕，而但吸暑邪者，白虎湯之類宜之。且臟性有陰陽之別。陰虛者火旺，雖病發之時，適犯生冷，而橘、樸等只宜暫用；陽虛者濕勝，雖寒潤之品，非其所宜，如胃苓湯已為合法。縱使體極虛羸，亦不過補氣清邪並用。若因其素稟之虧，而忘其現病之暑，進以丁、附、薑、桂之劑，真殺人不轉睫矣。凡傷暑霍亂，有身熱煩渴，氣粗喘悶，而兼厥逆躁擾者，慎勿認為陰證。但察其小便必黃赤，舌苔必黏膩，或白厚，宜燃照湯，澄冷服一劑，即現熱象。彼時若投姜附藥，轉見渾身青紫而死矣。甚或手足厥冷少氣，唇面爪甲皆青，腹痛自汗，六脈皆伏，而察其吐出酸穢，瀉下臭惡，小便黃赤熱短，或吐下皆系清水，而瀉出如火，小便點滴，或全無者，皆是熱伏厥陰也。熱極似陰，急作地漿，煎竹葉石膏湯服之。又有吐瀉後，身冷如冰，脈沉欲絕，湯藥不下，或發噦，亦是熱伏於內，醫不能察，投藥稍溫，愈服愈吐，驗其口渴，以涼水與之即止，後以駕輕湯之類投之，脈漸出者生。然暑之為病，傷之驟，則發之暴；傷之漸，則發之緩。故九月時候，猶多伏暑霍亂之證，醫者不可不知。</p>
<p>《金匱》曰：轉筋之為病，其人臂腳直，脈上下行，微弦，轉筋入腹者，雞矢白散主之。</p>
<p>劉守真曰：轉反戾也，熱爍於筋，則攣瘛而痛。或以為寒客於筋者誤也。蓋寒主收引，然止為厥逆禁固，屈伸不利，安得為轉也。所謂轉者，動也。陽動陰靜，熱證明矣。夫轉筋者，多由熱甚，霍亂吐利所致。以脾胃土衰，則肝木自盛，而熱爍於筋，故轉筋也。夫發渴則為熱，凡霍亂轉筋而不渴者，未之有也。</p>
<p>尤拙吾曰：肝主筋，上應風木，肝病生風，則為轉筋。其人臂腳直，脈上下行，微弦。經云：諸暴強直，皆屬於風也。轉筋入腹者，脾土虛而肝木乘之也。雞為木畜，其矢微寒，而能祛風濕以利脾氣，故取以治是病焉。</p>
<p>張石頑曰：嘔吐泄瀉者，濕土之變也，轉筋者，風木之變也。濕土為風木所克，則為霍亂轉筋，平胃散加木瓜主之。有一毫口渴，即是伏熱。凡朮、附、薑、桂，種種燥熱之藥，誤服即死，雖五苓散之桂，亦宜慎用。雄案：張氏此言，可謂先獲我心矣。蓋仲聖雖立熱多欲飲水者，五苓散主之之法，然上文有頭痛惡寒之表證，仍是傷寒之霍亂，故用兩解之法，其雖兼表證而非風寒之邪，或本無表證而熱甚口渴者，豈可拘泥成法，不知變通，而徒藉聖人為口實哉。（透徹古人用法之意，是真讀書人語。定州，楊照藜識）</p>
<p>薛一瓢曰：風自火生，火隨風轉，乘入陽明則嘔，賊及太陰則瀉，是名霍亂。竄入筋中則攣急，流入脈絡則反張，是名痙。故余曰，痙與霍亂，同出一源，但痙證多厥，霍亂少厥。蓋痙證風火閉郁，鬱則逆勢愈橫，不免逼亂神明，故多厥。霍亂風火外泄，泄則邪勢外宣，不至循經而走，故少厥。此痙與霍亂之分別也。然痙證邪滯三焦，三焦乃火化，風得火而愈扇，則逼入膻中而暴厥。霍亂邪走脾胃，脾胃乃濕化，邪由濕而停留，則淫及諸經而拘攣，火鬱則厥，火竄則攣，又痙與厥之遺禍也。痙之攣急，乃濕熱生風，霍亂之轉筋，乃風來勝濕。（木剋土也）痙則由經及臟而厥，霍亂則由臟及經而攣，總由濕熱與風，淆亂清濁，升降失常之故。夫濕多熱少，則風入土中而霍亂，熱多濕少，則風乘三焦而痙厥。厥而不返者死。胃液乾枯　，火邪盤踞也。轉筋入腹者死。胃液內涸，風邪獨勁也。然則胃中津液所關，顧不鉅哉。厥證用辛開，泄胸中無形之邪也。乾霍亂用探吐，泄胃中有形之滯也。然泄邪而胃液不上升者，熱邪益熾。探吐而胃液不四布者，風邪更張。終成死候，不可不知。</p>
<p>雄案：霍亂濕多熱少，道其常也，至於轉筋，已風自火出，而有勝濕奪津之勢矣。余自髫年，即見此證流行，死亡接踵。嗣後留心察勘，凡霍亂盛行，多在夏熱亢旱酷暑之年，則其證必劇。自夏末秋初而起，直至立冬後始息。夫彤彤徂暑，濕自何來？只緣今人蘊濕者多，暑邪易於深伏，迨一朝卒發，漸至闔戶沿村，風行似疫，醫者不知原委，理中、四逆，隨手亂投，殊可嘆也！余每治愈此證，必詢其人。曰：豈未病之先，毫無所苦耶。或曰：病前數日，手足心如烙。或曰：未病之前，睹物皆紅如火。噫！豈非暑熱內伏，欲發而先露其機哉。智者苟能早為曲突徙薪之計，何至燎原莫救乎？以胃液之存亡，決病情之生死，尤為精識；昧者肆行燥烈，助虐爍津，徒讀父書，可為痛哭。（道光元年，直省此證大作，一覺轉筋即死。京師至棺木賣盡，以席裹身而葬，卒未有識為何證者，俗傳食西瓜者即死，故西瓜賤甚。余時年十一，輒與同學者日日飽啖之，卒無恙。今讀此論，則醫學之陋，不獨今日為然也。素園楊照藜識）</p>
<p>（楊氏之論極是。余於是年亦日食西瓜，而闔家無染病者，即其驗也。然是年霍亂，間有誤食西瓜而死者，為友人董鑄範所親見。蓋宜服香薷之證，誤信乩壇之語，以致寒涼遏抑而斃也，是亦不可不知。故處方論治，非辨證不可。本論第二篇治法、西瓜汁證法，有汗頻二字最的。烏程汪曰楨謝城。）</p>
<p>王清任曰：道光元年，病吐瀉轉筋者數省，都中尤甚，傷人過多。貧不能埋葬者，國家發帑施棺，月餘間，費數十萬金。彼時醫工，或云陰寒，或云火毒。余謂不分男、婦、老、少，眾人同病，即疫也（卓識名言）。或曰：既是疫，何以芩、連、薑、附，亦有或效者？余曰：芩連效在邪勝之時，姜附效在正虛之體。亦有服藥終不效，必針刺而得愈者，試看所流之血，盡是紫黑。豈不是疫火之毒，深入於營分哉？以疫邪自口鼻，由氣管達於血管，將氣血凝結，壅塞津門。（《醫林改錯》曰：幽門之左寸許，另有一門，名曰津門，津門上有一管，名曰津管，是由胃出精汁水液之道路。）水不得出，故上吐下瀉。初得病時，宜即用針刺尺澤穴，出紫黑血，則毒氣外泄矣。蓋人身氣管，周身貫通，血管周身亦貫通，尺澤左右四五根血管，刺之皆出血，皆可愈。尺澤上下刺之，亦可愈。一面針刺，一面以解毒活血之藥治之。</p>
<p>雄案：王氏親見臟腑而善針法，所論皆鑿鑿可信，非懸揣虛擬可比。雖用藥非其所長，而以解毒活血四字為綱，亦具有卓見。</p>
<p>《補亡論》曰：《靈樞》五亂之證，惟亂於腸胃一證，名霍亂，故作吐利。其餘四證，皆不作吐利，只謂之亂氣。昔柳州之疾，蓋亂氣干心之證，非霍亂也。謂為乾霍亂者雖謬，然尚不失為五亂之一，今則無復知亂氣之名矣。</p>
<p>《治法匯》曰：乾霍亂，俗名攪腸痧。其狀欲吐不吐，欲瀉不瀉，撩亂揮霍是也。急宜探吐，得吐方可，不吐則死。《法》曰：既有其入，必有其出，今有其入而不得其出者，痞塞也，多死。得吐後，方可理氣和中，隨證調治。《醫通》曰：乾霍亂，是土鬱不能發泄，火熱內熾，陰陽不交之故。</p>
<p>或問：方書皆言宿食與寒氣相搏，何以獨指為火耶？曰：昏亂躁悶，非諸躁狂越之屬火者乎！每致急死，非暴病暴死之屬火者乎！但攻之太過，則脾愈虛；溫之太過，則火愈熾；寒之太過，則反扞格，須反佐以治，然後火可散耳。古法有鹽煎童便，非但用之降火，且兼取其行血也。此證，病因非一。驟傷飲食者，宜探吐。宿食為患者，宜消導。氣鬱感邪者，宜宣豁。暑火直侵者，宜清解。諸法並列於後，用者審之。（慮其格拒，反佐以治，真精語也。桂苓甘露飲，治熱證而用桂；通脈四逆湯，治寒證而用豬膽汁，皆即此義。《夢影》中治陳嫗一案，石膏、芩、連，加細辛少許，燃照湯之用蔻仁，亦此義也。若寒證而用芩、連，熱證而用薑、附，則正與病反，非反佐之義矣。謝城。）</p>
<p>又曰：脾胃喜香燥而惡臭濕。若素多濕滯而犯臭氣，則正氣鬱遏，腹痛乃作。或上連頭額俱痛，或下連腰腿俱痛。有痛死不知人，少間復甦者；有腹痛不時上攻，水漿不入，數日不已者。甚至欲吐不吐，欲瀉不瀉，或四肢厥逆，面青脈伏，或遍體壯熱，面紫脈堅，俱與生黃豆嚼之，覺香甜者，是臭毒也。急以燒鹽探吐，或以童便制香附四五錢為末，停湯頓服最效。舉世有用水搭肩背及臂者，有以苧麻水濕刮之者，有以瓷碗油潤刮之者，有以瓷鋒針刺委中出血者，總欲使腠理開通之意耳。其脈多伏，或細小緊澀，或堅勁搏指，中帶促結，皆是陰逆陽伏之象。不可誤認陰寒而投熱藥，雖砂仁之辛溫香竄，亦不可輕用。若見面青唇黑，脈勁搏指，厥逆喘促，多不可救也。</p>
<p>又曰：觸犯臭穢，而腹痛嘔逆，刮其脊背，隨發紅斑者，俗謂之痧。甚則欲吐不吐，欲瀉不瀉，乾嘔㽲痛者，曰絞腸痧。更有感惡毒異氣而驟發黑痧，俗名番痧。卒然昏倒，腹痛，面色黑脹，不呼不叫。如不急治，兩三時即斃。有微發寒熱，腹痛麻瞀，嘔惡神昏者。或濈濈汗出，或隱隱發斑，此毒邪焮發於表也。亦有發即瀉利厥逆，腹脹無脈者，此毒邪內伏，不能外發也。所患最暴，多有不及見斑而死者。經謂大氣入於臟腑，雖不病而卒死是也。初覺，先將紙捻點淬頭額，即以蕎麥焙燥，去殼取末三錢，涼開水調服；重者少頃再服即安。蓋蕎麥能煉腸胃滓穢，降氣寬胸，而治濁滯，為痧毒之專藥。其毒甚面黑者，急於兩膝後委中穴，砭出黑血，以泄毒邪。凡驟發之病，勿慮其虛，非此急奪，束手待斃。原夫此病與臭毒相類，與霍亂相似，乃疫癘之最劇者。初起昏憒不省，脈多沉匿不顯，或渾渾不清。勿以腹痛足冷而與溫藥，如蕎麥一時莫得，或服之不應，即宜理氣為先，如香蘇散加薄荷、荊芥，辛涼透表；次則辟邪為要，梔子豉湯加牛蒡、生甘草，解毒和中。表熱勢甚，清熱為急，黃芩湯加連翹、木通，分利陰陽。若見煩擾腹脹，脈來數疾，急投涼膈散，以竹葉易生薑，則毒從下奪。熱劇神昏，雖合三黃，多不可救。煩渴引飲，遺溺，速清陽明，白虎湯加蔥豉，使毒從表化。斑點深赤，毒在血分者，濃煎益母草，少投生蜜，放溫恣服，取效最捷。以其專下惡血也，或加生萊菔汁半杯，總取散血之功。以上諸法，在未經誤藥，庶可挽回一二。曾見一商，初到吳會，暢飲酣歌，席間，霎時不安，索生薑湯一啜而逝。又有朔客，到楓覓湯澡浴，忽然眩暈嘔逆，到舟即斃（凡感受暑熱穢疫諸邪者，大忌熱湯澡身也）。更有誤認傷寒，而與發散，周身焮紫如雲而死者。亦有誤認麻疹，而與檉柳櫻桃核湯，咽痛失音而死者（亦有誤認寒證而與熱劑，口鼻流血而死者）。變生反掌，不似時行，猶可遷延數日也。</p>
<p>上海，特海陬一邑耳。二十年來，屢遭兵燹，乃滄海漸變桑田，外國之經營日廣，蘇省又以為會垣，而江浙之倖免於難者，率遷於此。各省商舶麇集，帆檣林立，踵接肩摩，居然一大都會矣。然人煙繁萃，地氣愈熱，室廬稠密，穢氣愈盛，附郭之河，藏垢納汙，水皆惡濁不堪。今夏，余避地來遊，適霍亂臭毒番痧諸證盛行，而臭毒二字，切中此地病因。奈醫者茫然，竟有令人先服薑汁一盞者；有以大劑溫補主治者。皆刊印遍貼通衢，病家信之，死者日以千計，道殣相望。錢塘吳菊，潭茂才告余，曰：目擊一人七竅流血而死，聞之惻然，豈亦劫運使然歟。</p>
<p>《玉衡》曰：先吐瀉而心腹㽲痛者，從穢氣而發者多；先心腹㽲痛而吐瀉者，從暑氣而發者多。然吐瀉之霍亂，乃暑穢傷人氣分。宜用油鹽刮其皮膚，則痧不內攻。若心胸脹悶，腹中㽲痛，或如板硬，或如繩縛，或如筋吊，或如錐刺刀刲，雖痛極而不吐瀉者，名乾霍亂。乃邪已入營，宜以針刺出血，則毒有所泄。然後，再審其因而藥之。若痧脹已極，難於刮刺者，又必先以藥救醒，乃可以回生，明此三法，庶可十全。</p>
<p>王晉三曰：痧者，寒熱之濕氣，皆可以為患，或四時寒濕，凝滯於脈絡；或夏月濕熱，郁遏於經隧；或鼻聞臭氣，而阻逆經氣；或內因停積，而壅塞腑氣。則胃脘氣逆，皆能脹滿作痛，甚至昏憒欲死。西北人，以楊柳枝蘸熱水鞭其腹，謂之打寒痧。東南人以油碗或油線刮其胸背手足內胻，謂之刮痧。以碗鋒及扁針，刺舌下指尖，及曲池委中出血，謂之鎙痧。更服玉樞丹等以治其內，是皆內外達竅以泄其氣，則氣血得以循度而行，其脹即已，實即霍亂耳。非另有痧邪也。</p>
<p>雄案：方書從無痧證之名，惟乾霍亂，有俗呼絞腸痧者，是世俗之有痧，不知起於何時也。《至醫說》始載：葉氏用蠶蛻紙治痧之法，以蠶性豁痰，祛風利竅，其紙已經鹽醃，而順下最速也。乃江民瑩誤為解㑊證，雖為杭堇浦所譏，然亦可見從前痧證不多，故古人皆略而不詳也。迨國初時，其病漸盛，自北而南，所以又有滿洲病與番痧之名。郭氏因龔雲林青筋之說，而著《痧脹玉衡》一書，推原極變，其說甚辨，而痧之證治乃備。石頑復分臭毒、番痧為二者，謂惡毒癘氣，尤甚於穢邪也。晉三又辨痧即外邪驟入，阻塞其正氣流行之道之謂，而痧之病義益明。至情志多郁之人，稍犯涼熱，即能成痧，且不時舉發，亦由氣血失其宣暢也。右陶雖有截痧方，而用藥殊乖。江氏以香附、芩、梔、撫芎為劑，較為合法。其諸痧名狀，《玉衡》書具在，不多贅。</p>
<p>長洲龍青霏脈學聯珠云：痧脹之證，多屬奇經。蓋奇經，為十二經之支流也，五臟之清氣不升，六腑之濁氣不降。譬猶五湖四瀆，漫溢氾濫，盡入江河，而清濁已混，更水甚土崩，泥沙渾擾，流蕩不清，井腧壅塞，故其病有痧脹之名。痧脹者，猶沙漲也，總由十二經清濁不分，流溢入奇經，而奇經脈現，則為痧證也。邪氣滯於經絡，與臟腑無涉，不當徒以藥味攻臟腑，宜先用提刮之法，及刺法，使經絡既通，然後用藥，始堪應手也。雄案：此說似創而實確，然經絡既通，雖不藥可愈，特慮邪已漸及腑臟，則刮刺不足了事。譬如險要為賊所據，不可徒講防堵也。</p>
<p>《疫疹一得》曰：凡初起六脈細數沉伏，面色青慘，昏憒如迷，四肢逆冷，頭汗如雨，其痛如劈，腹內攪痛，欲吐不吐，欲瀉不瀉，此為悶疫，斃不終朝。悶者，熱毒深伏於內而不能發越於外也。漸伏漸深，入臟而死，不俟終日也。至於治法，宜刺曲池、委中，以泄營分之毒；再灌以紫雪，清透伏邪，使其外達，或可挽回也。（治法精良。素園）</p>

<h3>寒證</h3>
<p>《素問·氣交變大論》曰：歲土不及，民病飧泄霍亂。歲土不及，則脾胃素虛之人，因天運而更見其虛，中陽既虛，寒濕自盛，以致朝食暮瀉而為飧泄，甚加嘔吐而為霍亂。觀其與飧泄並稱，則知利者，必是清穀而非臭穢，吐者亦必澄澈而非酸濁。小便之利，口之不渴，又從而可必矣。如此，才是寒濕霍亂，可以理中、五苓之類治之。故讀書須以意逆其理，自然觸處洞然，無往而不貫矣。且寒霍亂，多見於安逸之人。以其深居靜處，陽氣不伸，坐臥風涼，起居任意。冰瓜水果，恣食為常，雖在盛夏之時，所患多非暑病，王安道論之詳矣。輕則藿香正氣散，或平胃加木香、藿香、生薑、半夏之類。濕盛而四肢重著，骨節煩痛者，胃苓湯加木香、藿香、大腹皮之類。七情鬱結，寒食停滯者，厚朴湯、治中湯。頭痛惡寒無汗者，香薷飲先解其表，隨以大順散調其里。如果脈弱陽虛，腹痛喜得溫按，瀉出不臭者，來復丹。若吐瀉不止，元氣耗散，或水粒不入，或口渴喜冷而不多飲，或惡寒戰慄，手足厥冷，或煩熱發躁，揭去衣被，但察其瀉出不臭者，乃內虛陰盛格陽，宜理中湯，甚則四逆湯，加食鹽少許。更有暴瀉如水，冷汗四逆，脈弱不能言者，急進漿水散救之，並宜冷服。然此輩實由避暑而反為寒傷致病，若拘泥時令，誤投清暑之劑而更助其陰，則頃刻亡陽莫挽矣。前人有治此證而愈者，尚未確知其為寒病也。遂謂夏月暑病，通宜熱藥。妄立陰暑名目，貽誤後人，此因偶中而錯認面目也。余於《溫熱經緯》，辨之詳矣。</p>
<p>《至真要大論》曰：諸病水液，澄澈清冷，皆屬於寒。或曰：醫者，精脈理，諳藥性，胸羅經史，口熟方書，斯可以濟世矣。余曰：不可，必也能辨證乎。苟不辨證，而但憑脈以用方藥，雖引古證今，有典有則，恐不免為二豎所笑也。惟聖人早料及此，以辨證之法，大書特書，垂示後世，可謂既詳且盡，豈但為霍亂分寒熱哉！</p>
<p>《傷寒論》曰：霍亂，頭痛發熱，身疼痛，熱多欲飲水者，五苓散主之；寒多不用水者，理中丸主之。</p>
<p>此霍亂之因傷寒而致者，故兼有頭痛發熱身痛諸表證也。雖欲飲水，而表證未罷，故以五苓散為兩解之法。二方皆為風寒而設，熱多，謂表熱未衰；寒多，謂裡寒較盛。於一病中，察其內外之輕重，而辨邪氣之聚散，以施治法。聖人辨證，詳盡如是。而後人顢頇，或至誤會。凡夏秋熱霍亂之口渴者，輒用五苓，多致僨事。須知桂術為渴家所忌，惟風寒之邪，郁阻氣機，至水液不行而渴者，始可用以行氣化水也。（分析甚明，發前人所未發。蓋熱多並非表裡大熱，欲飲水亦與大渴引飲不同也。謝城。）</p>
<p>又曰：吐利止而身痛不休者，當消息和解其外，宜桂枝湯小和之。吐利止，里已和也。身痛不休者，表未解也。故須桂枝和解其外，所謂表病里和，汗之則愈也。但此為寒霍亂後之兼有風寒表邪者而言，若溫熱暑疫霍亂後之表未解者，不得率爾引用也。余擬駕輕湯一方，最為合治，然其意亦不敢出聖人之範圍也。詳其一曰消息，再曰小和之者，蓋以吐利之餘，裡氣已傷，故必消息其可汗而汗之，亦不可大汗而小和之也。況熱霍亂後，津液尤虛者，其可妄施汗法乎。故余但以輕清為制也。</p>
<p>又曰：吐利發汗，脈平小煩者，以新虛不勝穀氣故也。吐利可發汗者，傷寒霍亂也。脈平為邪已解，而小煩者，以吐下後胃氣新虛，不能消穀，故霍亂病。晬時內不可便與飲食，必待胃漸下行為順，而倉廩始開也。暑熱霍亂，尤奪胃津，溉以甘涼，自能思谷。</p>
<p>先曾祖秉衡公曰：傷寒，外感之總名；《傷寒論》，統論外感之書也。先大父永嘉公曰：《難經》云：傷寒有五。則五種外感，古人皆謂之傷寒矣。《傷寒論》有治風、治溫、治暍、治濕諸法，則非專論一傷寒矣。楊素園大尹曰：注傷寒者，無慮數十家，皆以為專論傷寒之書，故恆覺支離附會，不適於用。雄嘗謂傷寒有五，瘧亦有五，不過重輕之別耳。傷寒，惟感寒即病者，為正傷寒，乃寒邪由表而受，治宜溫散。其邪在半表半裡，或所感邪氣較輕，不為傷寒而為正瘧者，脈象必弦，並宜和解。設冬傷於寒而不即病，則為春溫夏熱之病。其較輕者，則為溫瘧、癉瘧。若感受風溫、濕溫、暑熱之氣者，重則為時感，　輕則為時瘧。今世溫熱多而傷寒少，故瘧亦時瘧多而正瘧少。惟葉天士先生，精於溫熱、暑濕諸感，故其治瘧也，一以貫之。余師其意，凡治時瘧，必辨其為風溫、為濕溫、為暑熱、為伏邪者，仍以時感法清其源。故四十年來，治瘧無難愈之證。推而廣之，仍不止瘧疾爾也，如風寒暑濕，皆可以為霍亂。則冬寒內伏，至春夏不為溫熱病，亦可以為霍亂也，特不多見，故從來無人道及。今年春、夏之交，余在濮院，即有是證，未交芒種，薄遊海上，則沿門闔戶，已成大疫，蓋去冬積雪久凍，傷於寒者較深，而流離失所，鬥米千餘，精神之不藏者既多，中氣之不餒者亦罕。且今春過冷，入夏甚涼，殆肅殺之氣未消，發生之機不暢，故伏邪不能因升發之令，外泄以為溫，久伏深藏，如奸匪潛匿，毫無覺察，或其人起居飲食之失調，或外感稍侵而引動，遂得乘機卒發，直犯中樞而為霍亂，故多無腹痛之兼證。而愈後輒有餘波，與向來夏秋所行因於暑濕為患者，證候則一，病情迥殊也，治法亦稍有不同。然伏邪化熱，自里達外，與伏暑內發，理無二致，故其人必口渴，而刺血則紫黑。不知者以為暑令未行，有何熱證，放膽姜附，塗炭生民，豈亦劫運使然耶，可哀也已。鎮海周君採山，極為折服，遂以此說刊印，傳播遠近。元和金君簠齋，同邑周君二郊，秀水呂君慎庵，鳥程汪謝城孝廉，桐鄉陸定圃進士，皆見而韙之，爰贅於傷寒霍亂後，以諗來者。</p>
<p>又曰：吐利汗出，發熱惡寒，四肢拘急，手足厥逆者，四逆湯主之。此陽虛之體，寒邪得以直入而為霍亂也。發熱惡寒者，身雖熱而惡寒，身熱為格陽之假象，惡寒為虛冷之真諦也。四肢拘急，手足厥逆者，陽氣衰少，不柔於筋，不溫於四末也。首重汗出者，為陽有外亡之象，故徑用四逆湯，祛其既入之寒，而挽其將去之陽。若止見厥逆惡寒，四肢拘急，脈來沉細沉緊，面如塵土，瀉出不臭，雖屬陰寒，而無汗出之候者，但宜冷香飲子治之。寒主收引，故四肢拘急，乃筋強不能屈伸之謂，與熱證之轉筋迥殊。監證極宜分別，苟或顛倒誤施，禍不旋踵。</p>
<p>又曰：既吐且利，小便複利，而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。</p>
<p>此亦虛冷霍亂之候。四肢拘急，手足厥逆，虛冷之著於外也。下利清穀，脈微欲絕，虛冷之著於內也。虛冷甚於內，則反逼其陽於外矣，故其外候，每多假熱之象。或煩躁去衣而欲坐地，或面赤喜冷而不欲咽，或脈大虛弦而不任按，是皆元氣耗散，虛陽失守，甚加喘噦，最為危險。惟四逆湯可以驅內勝之陰，而復外散之陽。但既吐且利之下，緊接曰小便複利，重申曰下利清穀，何其丁寧而鄭重耶？故讀者最宜著眼。洄溪所謂一證不具，即當細審也。倘熱霍亂因暑邪深入而滯其經隧，顯脈細肢寒之假象者，必有溺赤便臭，口渴苔黃之真諦，臨診慎毋忽焉。</p>
<p>又曰：吐下已斷，汗出而厥，四肢拘急，脈微欲絕者，通脈四逆加豬膽湯主之。尤拙吾曰：吐下已止，陽氣當復，陰邪當解。乃汗出而厥，四肢拘急，而又脈微欲絕，則陰無退散之期，陽有散亡之象，於法為較危矣。故於四逆加乾薑一倍，以救欲絕之陽。而又慮溫熱之過，反為陰氣格拒而不入，故加豬膽汁之苦寒，以為嚮導之用，即《內經》盛者從之之意也。</p>
<p>又曰：少陰病吐利，手足厥冷，煩躁欲死者，吳茱萸湯主之。少陰病吐利，煩躁四逆者，死。寒中少陰，吐利交作，陰邪盛極，而陽氣不勝也。然先厥冷而後煩躁者，猶有陽欲復而來爭之兆，故以吳茱萸溫里散寒，人參、大棗益虛安中為治也。若先煩躁而後四逆者，陽不勝而將絕也，故死。此二條本少陰中寒，非霍亂也，然有類乎霍亂。既明霍亂之治，複列其類證以廣其例，俾臨證不致眩惑也。</p>
<p>又曰：少陰病，自利清水，色純青，心下必痛，口乾燥者，急下之，宜大承氣湯。寒邪化熱，傳入少陰，逼迫津水，注為自利。質清而無滓穢相雜，色青而無黃赤相間。可見陽邪暴虐之極，反與陰邪無異。但陽邪傳自上焦，其人心下必痛，口必乾燥。設系陰邪，則心下滿而不痛，口中和而不渴，必無此枯槁之象。故宜急下，以救其陰也。夫既列少陰中寒二條於前，以明霍亂類證之治。更附少陰急下一條於此者，以病系傷寒，迨既化熱，雖見脈微細，但欲寐之少陰證，而口乾燥，心下痛，自利清水，尚宜急下。其病非傷寒，脈不微細，精情瞀亂而口渴，心下拒按之霍亂證，顧可以燥熱藥治之哉？《內經》以水液澄澈清冷為寒。此證雖自利清水，必熱而不冷，或小便赤短，審問之，自有分別。而仲聖於下利證，專以口渴與否，判清溫之治，尤為簡當。臨證者，當奉為南針也。</p>
<p>（此證最宜細辨，余嘗見一霍亂輕證，醫投涼膈散，次日下血而殞，謝城。）</p>
<p>《千金要方》曰：霍亂四逆，吐少嘔多者，附子粳米湯主之。治中湯，治霍亂吐下，脹滿，食不消化，心腹痛。《病源》曰：霍亂者，由人溫涼不調，陰陽清濁二氣有相干亂之時。其亂於腸胃之間者，因飲食而變，發則心腹㽲痛。其有先心痛者，先吐，先腹痛者，先利，心腹並痛者，則吐利俱發。挾風而實者，身發熱、頭痛、體痛，而復吐利。虛者，但吐利，心腹刺痛而已。亦有飲酒食肉，腥膾生冷過度，因居處不節，或露臥濕地，或當風取涼，而風冷之氣歸於三焦，傳於脾胃，脾胃得冷則不磨，不磨則水穀不消化，亦令清濁二氣相干。脾胃虛弱，便作吐利，水穀不消，則心腹脹滿，皆成霍亂。</p>
<p>熱霍亂，流行似疫，世之所同也；寒霍亂，偶有所傷，人之所獨也。巢氏所論雖詳，乃尋常寒霍亂耳。執此以治時行霍亂，猶腐儒將兵，其不覆敗者鮮矣。</p>
<p>又曰：霍亂而轉筋者，由冷氣入於筋故也。冷入於足之三陰三陽，則腳轉筋。入於手之三陰三陽，則手轉筋。隨冷所入之筋，筋即轉，轉者皆由邪冷之氣，擊動其筋而移轉也。轉筋有因熱因寒之異，須合兼證脈候而辯析之。（無病之人，亦有時患轉筋者，不過足受微涼，不足為病。乃時醫專以轉筋為邪入三陰，詎知三陽亦能轉筋，巢氏之論甚明乎。謝城。）</p>
<p>又曰：乾霍亂者，是冷氣搏於腸胃，致飲食不消，但腹滿煩亂，㽲痛短氣，其腸胃先挾實，故不吐利，名為乾霍亂也。乾霍亂，屬寒濕者固有之，挾食者亦或有之，亦有因寒濕而夾穢臭惡毒之氣者。故治法審非暑火為患，不可誤用清涼。但宜芳香辛散以宣通之。其薑、附、椒、巴等劑，勿輕信而妄試也。</p>
<p>醫道通治道，治國者必察民情，聽訟者必察獄情。用藥如用兵，為將者必察敵情，為醫者必察病情。民情得而政教行，獄情得而曲直分，敵情得則勝權獨操，可以寡克眾，可以逸待勞。病情得則生機在握，可以御沴癘，可以挽造化。嗚呼！不辨虛實寒熱而治霍亂者，猶之棄其土地，人民而講戰守也，故列病情第一。</p>

<h2>治法篇第二</h2>

<h3>伐毛</h3>
<p>霍亂及痧脹疫癘諸惡證，初起，即解散其發，細看。如有赤色者，急拔去之。再脫其衣，細看胸背，如有長毛數莖，必盡拔之。（熱毒深入營分，發為血之餘，毒焰上炎，故見赤色。甚至硬如駿鬣，余嘗目擊之。宗侄承烈紹武。）</p>

<h3>取嚏</h3>
<p>霍亂諸痧，皆由正氣為邪氣所阻。故濁氣不能呼出，清氣不能吸入，而氣亂於中，遂成閉塞之證。濁氣最熱，泰西人謂之炭氣，炭氣不出，人即昏悶而死。然呼出肺主之，肺開竅於鼻，用皂角末或通關散。或痧藥吹入鼻中，取嚏以通氣道，則邪氣外泄，濁氣可出，病自松也。</p>

<h3>刮法</h3>
<p>取嚏，不論有無，隨繼以刮。有嚏者，肺氣雖開，恐營衛氣機尚痹。當刮以宣之。無嚏者，肺既不開，尤必刮松衛氣，使已入營分之邪，時以外泄，而病可松也。故肩、頸、脊、背、胸、前脅肋、兩肋、臂、兩膝灣等處，皆宜用綿紗線，或苧麻繩，或青線，或瓷碗口。蘸菜油自上向下刮之，以紅紫色綻方止。項下及大小腹軟肉處，以食鹽研細，用手擦之。或以指蘸清水撮之。景岳云：凡毒深病急者，非刮背不可。以五臟之系，咸附於背也。或以鹽擦背亦可。</p>

<h3>淬法</h3>
<p>營衛之氣，為邪氣所阻而不流通，則手足厥冷而腹痛，身有紅點而隱約，此名斑痧，亦曰番痧。俗以其厥冷，謂之陰痧者謬也。宜以燈心微蘸油，點火淬之。以燈火近肉即提起，煏煿有聲，病即松。</p>

<h3>刺法</h3>
<p>《玉衡》曰：東南卑濕，利用砭，以針刺放毒血，即用砭之道也。凡霍亂痧脹，邪已入營，必刺出毒血。俾邪得外泄，然後據證用藥，可以望生。</p>
<p>第一宜刺少商穴。刺時，扶病人坐直，男左女右，用力將其手臂從上捋下，捋其惡血聚於指頭，以油頭繩扎住寸口，用尖銳銀針，在大指甲向里如韭葉許刺之，擠出毒血即松。重者，兩手並刺。若神昏不醒，刮刺不松者，為邪入心包絡。獲撐開病人之口，看舌底有黑筋三股，男左女右，用竹箸嵌瓷鋒，刺出惡血一點。兩臂灣，名曲池穴。兩膝灣，名委中穴。以手蘸溫水拍之，露出青筋紅筋。若肌膚白皙者，則露紫筋，皆痧筋也。並用銀針刺出紫黑毒血。其腿上大筋不可刺，刺亦無毒血，反令人心煩。腿兩邊硬筋上筋不可刺，刺之恐令人筋吊。案談往云：崇禎十六年，有疙瘩瘟、羊毛瘟等疫，呼病即亡，不留片刻，八九兩月，死者數百萬。十月間，有閩人曉解病由，看膝灣後有筋突起，紫者無救，紅則速刺出血可活。至霜雪漸繁，勢始漸殺。余謂此疫雖奇，殺人即速且多，然無非暑熱毒氣深入於絡耳。故輕者刺之可活，而霜雪繁，病自衰也。考嘉興王肱枕《蚓庵瑣語》，及桐鄉陳松濤《災荒記事》，皆云：崇禎十四年大旱，十五十六經年亢旱，通國奇荒，疫癘大作。合三書而觀之，其為暑燥熱毒之邪，深入營分無疑矣。故委中之筋已突起，不待拍之而始露。詳載之，以為留心民命者告。</p>
<p>《玉衡》又云：一應刺法，不過針鋒微微入肉，不必深入。又以諸穴非親見不明白，故不具載。而故人管榮棠，謂余曰：曩遇桐鄉八十老人張德祥者，善治痧，數十年來，生死決其針下，百不失一。凡針入而肌肉凝閉者，必不得生，然其所刺部位，不僅郭氏所言之十處，惜世罕知也。據云：痧證頭暈者，刺素髎。穴在鼻柱上端準頭，針入一寸。</p>
<p>頭痛者，刺風府。穴在項後入髮際一寸，大筋內宛宛中，針入一寸。</p>
<p>偏痛者，刺風池。穴在耳後顳顬後，腦空下，髮際陷中，針入一寸。</p>
<p>腹痛而吐者，刺上脘。穴在臍上五寸，針入一寸。</p>
<p>腹痛而瀉者，刺下脘。穴在臍上二寸，針入一寸。</p>
<p>腹痛而欲吐不吐，欲瀉不瀉者，刺中脘。穴在臍上四寸，針入一寸即愈。</p>
<p>以上三穴，須用手竭力提起其皮而刺（切記），以上六穴，並不出血。</p>
<p>手瘛者，刺少商。穴在手次指內側，去爪甲如韭葉，出血立已。</p>
<p>足吊者，刺厲兌。穴在足次趾之端，去爪甲如韭葉，出血立已。</p>
<p>刺承筋。穴在脛後足跟上七寸，出血立已。</p>
<p>刺承山。穴在腿肚下分肉間，出血立已。但此穴非精明者不易取，宜慎刺。</p>
<p>牙關緊閉者，刺人迎。穴在結喉兩旁一寸五分，大動脈應手處，刺之立開。按張叟刺法，必有所授。榮棠得其傳，故針痧極神。且榮棠之為人也，好善而率直，非牟利妄語者流，故余甚信之。嘗刊入業書，今備錄此篇，以便窮鄉僻壤，皆可按證而施治也。又《轉筋證治》云：凡心口腰脊腎俞穴等處，切勿誤聽愚人妄施針刺，親見一人因心口一針，立時隕命，不可不知。</p>

<h3>拓洗</h3>
<p>生大蒜，杵爛，貼兩足心。</p>
<p>吳茱萸一兩，研末，鹽滷和，塗兩足心。</p>
<p>辣蓼草八兩，杵爛，木瓜四兩，老酒二斤，加水煎，乘熱揩熨患處及手足遍身。辣蓼草乃水紅花之別一種，葉狹小而光，兩面皆綠梗，微赤有節，其味甚辛。合六神麯及造酒麴皆用之。雞生蝨，但以此草置雞棲內即愈。鹽滷頓熱淋洗，並以手蘸。摩擦其患處（如無鹽滷，作極鹹鹽湯可代也）。案：鹽，散風火，化濕熱。平人常用鹽滷濯足，永無足疾。若路途患此倒地者，但以病人兩腳浸溺桶中，亦妙。綿絮浸酒中，煎滾。取出，乘熱裹患處。或以燒酒摩擦其患處，以軟散為度，燒酒內入斑蝥末，力更勝也。</p>
<p>腳不冷者，但以鹽研細擦之。</p>
<p>水煎青布拓腳膝，冷即易之。</p>
<p>柏葉，杵爛裹之，並煎湯淋洗。</p>

<h3>熨灸</h3>
<p>主霍亂轉筋，乾霍亂之屬寒者。</p>
<p>炒鹽，一包，熨其心腹，令氣透，又以一包熨其背，待手足暖。再服神香散一錢。寒重者，再服（方見四篇）。或以吳茱萸，食鹽各數兩炒熱，包熨臍下亦妙。或以芥子研末，和塗臍上。胡椒七粒，以布包之，嚼碎，納臍中，用膏藥封之，再以熱手按之。蓋被臥少頃，腹中熱，有汗，則寒邪散矣。甚者，用回陽膏貼臍間（方見四篇），或以鹽填臍中。上蓋蒜片，艾灸二七壯。危甚者，再灸臍兩旁各開二寸之天樞二穴，臍上四寸中脘一穴，臍下寸半氣海一穴。</p>
<p>《外臺》法：以手挽所患腳大拇趾，當腳心急筋上，灸七壯。</p>
<p>喻氏法：凡卒中陰寒，厥逆吐瀉，色清氣冷，凜冽無汗者。用蔥一大握，以帶束緊，切去兩頭，留白寸許。以一面熨熱安臍上；用熨斗盛炭火，熨蔥上面。俾熱氣從臍入腹。甚者，連熨二三餅。又甚者，再用艾炷灸關元、氣海各二三十壯。若腠理素疏，陰盛逼陽而多汗者，用附子、乾薑回陽之不暇，尚可熨灼以助其散越乎？嘗讀仲聖《傷寒論》，知病屬陰虛血少者，概不可灸。必陽虛氣弱者，始可用灸。今喻氏復辨陽虛者，固宜用灸。若陽虛至於外越者，豈容再灸？是亦發人所未發，可補長沙之未及矣。世之不別陰陽，而妄施灼灸以傷人者，豈特霍亂為然乎？籲可嘆已！又案：凡腹雖痛極，而喜得溫。按，唇口刮白者，乃內虛陰寒之病。宜用火灸，切忌針刺。若四肢雖冷而苦渴苔膩，腹痛雖甚而睛赤唇紅，或煩躁喜涼者，乃熱鬱氣閉之證。急宜刺血，切忌火攻。設不辨明而誤用之，禍皆反掌。</p>

<h3>偵探</h3>
<p>生黃豆，細嚼，不腥者痧也。既可試病，亦解痧毒，生芋亦可。</p>
<p>大赤雄雞一隻，放病人腹上，以雞口朝其面，雞即伏而不動。痛止，雞自跳下。亦治屍厥中惡。神清而嚼姜，不辣者，真寒證也。</p>

<h3>策應</h3>
<p>新汲井水，百沸天泉，各半和服，名陰陽水。《瀕湖》曰：上焦主納，中焦腐化，下焦主出。三焦通利，陰陽調和，升降周流，則臟腑暢達。一失其道，二氣淆亂，濁陰不降，清陽不升，故發為霍亂吐利之病。飲此即定者，分其陰陽，使得其平也。案：汲井泉以上升，天雨水而下降，故汲者宜新，而降者宜熟也。以之煎瘧疾藥。蓋取分解寒熱之邪，而和其陰陽也。</p>
<p>東壁土煎汁飲。（《聖濟》）</p>
<p>鍋底墨煤、灶突上墨煤（各五分）百沸湯急攪數千下，以碗覆之，通口服一二口。（《經驗》）</p>
<p>生扁豆（研末）入醋少許，新汲水和服。（《普濟》）</p>
<p>絲瓜絡（一斤）白霜梅肉（一錢並核中仁用），共研爛，新汲水調服。（《廣筆記》）</p>
<p>梨樹枝　煎汁服。（《聖惠》）</p>
<p>海桐皮　煎汁飲。（《聖濟》）</p>
<p>路旁破草鞋，（去兩頭，洗三四次，）水煎服。（《事海文山》）</p>
<p>生藕　搗汁飲。（《聖惠》）</p>
<p>陳倉米煮清湯，稍稍飲之，治霍亂大渴。（《永類鈐方》）</p>
<p>冬瓜　水煮清湯，俟涼飲之，（半癡。）案：陳倉米，雖云清熱止渴，惟霍亂已止者，服之為宜。若邪勢方張，吐下未平之際，尚嫌其守。冬瓜，甘淡微涼，極清暑濕。無論病前、病後，用以代飲，妙不可言。即溫、濕、暑、疫、瀉、痢諸病，皆可用也。</p>
<p>蘆根、麥冬，水煎服。（《千金》）案：單用蘆根煎飲，亦止煩渴，或與竹葉同煎，更佳。</p>
<p>梨肉　煮湯服，渴甚，搗汁飲。（夢隱）</p>
<p>萊菔　煮湯服，或生嚼咽汁，吐去渣。（夢隱）</p>
<p>生綠豆急火煎清湯，涼服。（夢隱）</p>
<p>枇杷葉（刷去毛）　濃煎，徐飲。此方不但解霍亂之渴也，若深冬採之，刷毛洗淨切碎，淨鍋炒乾，瓷缸密收，常以代茗，可杜暑濕時疫，及噎利諸病。（夢隱）</p>
<p>以下治霍亂轉筋。</p>
<p>雄雞矢白　臘月收之，為末，水和溫服。（《金匱》）</p>
<p>地漿（掘乾淨地作坎，深三尺，以新汲井水沃入攪之，少頃取清者）飲三五杯。（《千金》）案：羅謙甫云：霍亂乃暑熱內傷，七神迷亂所致。陰氣靜則神藏，躁則消亡，非至陰之氣不愈。坤為地，屬陰，土曰靜順，地漿作於陰地坎中，為陰中之陰，能瀉陽中之陽也。愚謂得羅氏此言，治霍亂，已思過半矣。蔣式玉稱其勤求古訓，洵不誣也。</p>
<p>新汲井水　徐徐冷飲之，外以一盆盛水浸兩足，忌食熱物。（《救急良方》）案：果系暑熱熾盛，用臘雪水尤勝。</p>
<p>扁豆葉一握搗絞汁一碗，飲。（《廣筆記》）</p>
<p>桑葉一握煎汁服。（《聖惠》）</p>
<p>木瓜一兩水煎服。余湯浸青布，裹其腓。本方加桑葉七片尤良。（《聖惠》）</p>
<p>龍腦薄荷　煎湯飲。（《聖惠》）案：有汗者，此方勿服。</p>
<p>青錢（四十九枚）　木瓜（一兩）　烏梅（炒，五個）　水二盞煎，分溫服。（《聖濟》）案：此方專治風木行脾之證。時行重感，非所宜也。</p>
<p>鹽梅　煎湯，細細飲。（《如宜方》）案：方義與上同。垂死者，用敗蒲席一握（切），漿水一盞，煎服。（《聖惠》）原蠶沙（一兩）陰陽水煎，澄清、溫服。（夢隱）案：蠶沙乃桑葉所化。夫桑葉主息風化濕，故《聖惠》方以之治霍亂轉筋也。既經蠶食，蠶亦主勝風去濕。且蠶僵而不腐，得清氣於造物者獨純。故其矢不臭、不變色，殆桑從蠶化，雖走濁道而清氣獨全。《金匱》以雞矢治霍亂轉筋者，雞，屬巽，雖不溺而矢獨干，亦取其勝風濕，以領濁氣下趨也。蠶沙，既引濁下趨，又能化濁使之歸清，性較雞矢更優。故余用以為霍亂轉筋之主藥，頗奏膚功。嗣見治痧飛龍奪命丹，用人中白一味，領諸藥迅掃濁邪，下趨陰竅，較他方之藉硝以達下者，更覺貼切。故奏效尤捷。制方之義，可謂精矣。至來復丹之用五靈脂，亦從雞矢白脫苔也。霍亂轉筋，大渴、苔黃、汗頻無溺者，西瓜絞汁飲。（夢隱）</p>
<p>（凡陽氣遏抑在內，雖熱證亦無汗，西瓜汁當慎用。此特標汗頻二字，最確當。謝城。）</p>
<p>渴而氣機不舒者，金銀花、蒲公英、絲瓜葉、絲瓜，並可搗汁服，或用乾者，煎湯亦得。（夢隱）</p>
<p>渴而膚有赤色者，益母草，或紫花地丁，搗汁飲。或以乾者煎湯服亦可。（《夢隱》）案：紫花地丁，亦名如意草，主清血熱。生嚼之，味甘，不作草氣，故可同諸草木葉咀食充飢。悉無草氣，洵救荒之仙草也。附及之以為世告。</p>
<p>以下治乾霍亂。蕎麥，（焙燥，去殼，取末三錢。）涼開水調服。（《簡便方》）</p>
<p>梔子（二七枚，燒研）酒調下。（《肘後》）</p>
<p>鹽（一撮放刀上，用火炙透）熱童便和服，或以新汲水和服。少頃，即得吐下而氣通矣。（《柳州》）</p>
<p>益母草（一兩）　煎湯，少投生蜜，俟溫服。（《醫通》）</p>
<p>馬蘭根　細嚼咽汁。（《壽域》）</p>
<p>劉寄奴　煎湯溫服。（《聖濟》）</p>
<p>桃葉　煎湯溫服。（《外臺》）</p>
<p>石菖蒲（一兩杵汁）和水服。（《聖惠》）</p>
<p>煙管中油（俗呼煙油）取豆大一丸，放病人口內，掬水灌之，下咽即活。（《有堂》）</p>
<p>蕪菁子　煮汁飲。（《集簡》）</p>
<p>黑大豆　生研，水服方寸匕。《普濟》案：今人以黃豆試痧本此。</p>
<p>垂危者，用生芋一片，放入病人口內，咽汁即蘇。蘇後，再吃幾片，取其寬腸去垢濁，破血清痧毒也。世傳飲油吞礬二方，取其引吐澄濁也。然油滋膩，礬兜澀，皆有流弊，吾不取也。普洱茶　濃煎溫服。（夢隱）</p>
<p>淡海蛇（四兩）鳧茈（即荸薺，一名地慄二兩切）水煮，至海蛇烊。取汁，溫服。（夢隱）</p>
<p>萊菔　搗汁飲。（夢隱）</p>
<p>雄鼠矢陰陽水下二七枚。（夢隱）案：《經驗方》有馬矢絞汁，治乾霍亂一方。雖取義燥濕降濁，然臭味惡劣，徑以穢汁灌人，亦覺難堪。易以鼠矢，較近人情，其功似亦稍勝也。</p>
<p>（按：馬矢燒灰存性，名獨勝散。治絞腸痧證，服下即瘥。彼所謂臭味惡劣，未經燒灰故耳。）</p>
<p>萊菔葉（冬月掛樹上，或攤屋上，直至春前，乾燥極透時，收入淨壇密貯。每一兩洗淨）。水煎溫服。（夢隱）案：此味並治時行喉證，諸般外感。瘧痢泄瀉。</p>
<p>疳膨黃疸，水腫腳氣，諸病如神，物易功多，價廉無損，家家可備以濟世也。</p>
<p>稻稈　濃煎溫服。（夢隱）</p>
<p>六一散（方見四篇）新汲水調下三錢。（河間）</p>
<p>以下皆治邪深入絡，以及干藏之乾霍亂。霍亂轉筋。</p>
<p>紫雪（方見四篇下同）</p>
<p>碧雪</p>
<p>絳雪（一名紅靈散）</p>
<p>行軍散</p>
<p>玉樞丹</p>
<p>紫金丹</p>
<p>飛龍奪命丹（與外科飛龍奪命丹名同藥異，外科之方用蜈蚣為君，蜈蚣一名天龍，能飛而制蛇，因以名方，治痧之方用許多寶貴香靈之品，藉人中白駕輕就熟為使，力能迅掃穢惡之邪下趨濁道，有馬到功成之捷效，以駿馬有飛行之號，故以名方。）</p>
<p>案：以上諸方，皆有起死回生之力。惟有力者，卒不易得；無力者，貴不易購。苟能量力合送，或集資廣濟，洵造福無涯矣。</p>
<p>以下治寒濕乾霍亂。</p>
<p>陳艾葉　煎湯服。（《外臺》）</p>
<p>紫蘇　搗汁服，乾者煎飲。（《肘後》）案：此方治因食魚蟹諸水族而腹痛吐利者皆效。</p>
<p>橘紅、藿香（各五錢），煎服。（《百一選方》）</p>
<p>薤白　煮湯服。（《獨行方》）</p>
<p>姜炙厚朴研，溫湯服三錢。挾暑者，新汲水下。（《聖惠》）</p>
<p>丁香（十四枚研末）　沸湯和服。（《千金》）案：此治食蟹及水果太多而痛瀉者並效。</p>
<p>真神麯（三錢），水煎溫服。（夢隱）</p>
<p>吳茱萸（二七枚），砂仁（一錢研），泡湯吞下。（夢隱）</p>
<p>伽南香（涼開水磨取三分），沸湯點服。（夢隱）</p>
<p>以下皆治陰寒霍亂。</p>
<p>三聖丹（方見四篇。下同）</p>
<p>速效丹</p>
<p>蟾酥丸</p>
<p>姚氏蟾酥丸</p>
<p>霹靂散</p>
<p>回陽膏</p>
<p>以上數方，亦須預備應用。如合送濟人，須將病情敘明，庶免貽誤。</p>
<p>霍亂轉筋，吐下已多，脈無氣短，大汗欲脫者。置好醋二三斤於病人面前，將鐵器燒紅，頻淬醋內，使聞其氣，即可轉危為安。足冷者，並搗生附子二兩，貼於湧泉穴。再按證用藥，以挽回元氣。不論寒熱二證，凡元氣欲脫者，皆當亟用。余屢試多驗。並治產後昏暈，及諸病之神魂不安者，皆效。</p>

<h3>紀律</h3>
<p>一、忌米湯。得谷者昌，百病之生死，判於胃氣之存亡，猶之兵家餉道，最為要事。惟時邪霍亂痧脹，獨不然者。以暑濕穢惡之邪，由口鼻吸入肺胃，而阻其氣道之流行，乃痞塞不通之病。故濁不能降而腹痛嘔吐，清不能升而泄瀉無嚏。或欲吐不吐，欲瀉不瀉，而竊踞中樞。苟不亟為展化宣通，邪必由經入絡，由腑入臟，而滋蔓難圖矣。凡周時內，一口米湯下咽，即脹逆不可救者，正以穀氣入胃，長氣於陽。況煮成湯液，尤能閉滯隧絡，何異資寇兵而齎盜糧哉。惟吐瀉已多，邪衰正奪者，猶之寇去民窮，正宜撫卹。須以清米湯溫飲之，以為接續，不可禁之太過，反致胃氣難復。知所先後，則近道矣。物性中和，莫如谷矣。為生人之至寶，乃霍亂痧脹邪熱方張之際，不可一試。米湯如是，況補藥乎。其霍亂間有得溫補而愈者，是中虛之霍亂，非時行之霍亂也。須知中不必皆虛，虛不必同時而病，病不必皆成霍亂。既同時而病霍亂，豈非外邪為患。而流行漸廣，遂成疫癘。何司命者，尚不識其病情耶。凡一病有一病之宜忌，先議病，後議藥，中病即是良藥。故投之而當，硝黃即是補藥；投而不當，參朮皆為毒藥。譬如酒色財氣，庸人以之殺生。而英雄或以之展抱負，禮樂文章，聖人以之經世。而豎儒反以之誤蒼生。藥之於醫也，亦然。補偏救弊，隨時而中。病無定情，藥無定性。顧可舍病而徒以藥之純駁為良毒哉。或云：扶陽抑陰，治世之道，古聖以之立教，景岳以之喻醫。今人身不治，病亂於中，竟闢溫補扶陽。惟事清解助陰，毋乃偏任寒涼，將起後人之議乎？余曰：扶陽抑陰，大易原以喻君子小人。故章虛谷謂：但可以論治世，不可以論治病。惜章氏尚一間未達也。夫人身元氣，猶陽也。外來邪氣，猶陰也。扶正抑邪，豈必專藉熱藥哉？如熱傷胃液，仲聖謂之無陽矣。然欲扶其陽，必充其液。欲抑其陰，須撤其熱。雖急下曰存陰，而急下者，下邪也。下邪即是抑陰。存陰者，存正也。存正即是扶陽，苟知此義，則易理醫理，原一貫也。設但泥溫補為扶陽之藥，而不知陰陽乃邪正之喻。雖滿腹經綸，無非是蒼生之羅網，治人治世，無二致也。</p>
<p>或又曰：丹溪謂人身陰不足，景岳謂人身陽不足。君以為孰是，余謂人身一小天地，試以天地之理論之，陰陽本兩平，而無偏也。故寒與暑為對待，晝與夜為對待，然雨露之滋，霜雪之降，皆所以佐陰之不足，而制陽之有餘。明乎此，則朱張之是非判矣。或又曰：子言扶正即是扶陽，則補陰補陽，皆扶陽也。抑陰即是抑邪，則逐寒逐熱，皆抑陰也。顧專事逐邪，不崇補正，得毋未合扶陽抑陰之旨乎？余因述先慈之訓以答，曰：無論外感，不可妄投溫補。即內傷證，必求其所傷何病，而先治其傷，則病去而元自復。古人不曰內虛，而曰內傷，顧名思義，則純虛之證殊少也。徐洄溪亦云：大凡人非老死即病死，其無病而虛死者，千不得一。況病去則虛者亦生，病留則實者亦死。故去病正以扶陽也。余嘗謂人氣以成形耳。法天行健，原無一息之停。惟五氣外侵，或七情內擾，氣機愆度，疾病乃生。故雖在極虛之人，既病即為虛中有實，即酷暑嚴寒，人所共受，而有病有不病者，不盡關乎老少強弱也。以身中之氣，有愆有不愆也。愆則邪留，著而為病；不愆則氣默，運以潛消。調其愆而使之不愆，治外感內傷諸病，無餘蘊矣。霍亂云乎哉。（不惜傾筐倒篋而出之，嘉惠後學之心至矣。讀此而猶不悟，請勿從事於此道也。隨園云：人之氣血，有塞滯之處，則其壯者，為癰疽。而其弱者，為勞瘵。余嘗佩服以為名言。今讀此論，與二語正相合，定州楊照藜素園。）</p>
<p>或又曰：經言邪之所湊，其氣必虛，亦不然乎？曰：人身氣血，原有強弱，強者，未必皆壽。弱者，未必皆夭。正以氣血雖強，設為邪湊，而流行愆度，似乎虛矣。不去其邪，則病愈實而正愈虛，馴致於死，雖強而夭折矣。氣血雖弱，不為邪湊，則流行不愆，不覺其虛，即為邪湊，但去其邪，則病不留，而正自安，雖弱亦得盡其天年矣。使看勇如賁育之人，身軀不覺其重大者，以正氣健行不息也。卒受痧邪，亦遂肢冷脈伏告斃者，以氣為邪閉，而血肉即死也。所謂邪之所湊，其氣必虛者，當作如是解。凡治此證者，將急開其閉，以宣通乎。抑從而下石，更投補塞乎。不但痧證爾也。凡病未去而補之，則病處愈實。未病處必愈虛，以未病處之氣血，皆挹而注於病處也。蓋所謂補藥者，非能無中生有，以增益人身氣血也。不過具衰多益寡，挹彼注此之能耳。平人服之，尚滋流斃，況病人乎。故經言不能治其虛，焉問其餘。夫既虛矣，尚曰治而不曰補，可不深維其義乎？不但治人爾也。治家者，若以積財為務，有入而無出，甚則坎土穴牆以藏埋之。是故一人小積，則受其貧者百家。一人大積，則受其貧者萬家。雖然吝者之積財，以為久聚而不散矣。禍災之來，兵寇之攻，取百年之財，一日而盡之，安見其果不出也。治國者，若以積財為務，必至四海困窮，天祿永終。是天下之財源，如人身之氣血，俾得流通灌注，病自何來？故因論霍亂而並及之。（吾叔於道光間，輯裕後須知書，以勵末俗。因採魏昭伯奢吝說一條，頗招訾議。詎十餘年來，其言輒應，可慨也已。至於治虛，尤獨擅一時。憶丁巳春烈年二十七，在上海患吐血，諸醫用清火補陰等藥，久治不瘥，勢瀕於殆。返杭求診，投大劑參耆，數服而痊。迄今無恙，且茁實勝於曩時，雖流離播越，尚能勝任也。今讀此論，謹書以識感佩之忱。紹武。）（今夏先生來申，適謨患身熱便瀉口乾。幸能納食，仍強起任事。先生察脈弦大。曰：此憂勞過甚，元氣大虧之證也。投大劑參、朮、苓、草、防、芍、橘、斛、木瓜，旬日而痊。即旋里省親，逾月抵滬，患寒熱。先生視為暑濕類瘧，授清化藥，四貼霍然。但覺疲憊，仍以參、耆、甘、柏等峻補而瘳。治虛獨擅一時，豈不信哉？歸安陳廷謨半樵。）</p>
<p>二、忌薑糖。徐氏云：如有暑邪，姜斷不可用。雖與芩、連並行，亦不可也。況獨薑湯乎？惟初起挾寒者，或可量證略用些須。糖助濕熱而膩滯滿中，誤用之，反為穢濁之邪豎幟矣。不但增其嘔吐已也，推而至於棗子、龍眼、甘草一切甜膩守滯之藥，類可知矣。</p>
<p>三、忌熱湯、酒醴、澡浴，此三者，皆驅寒之事也。寒傷形，則客邪在表，飲以熱湯酒醴，或暖房澡浴，皆可使寒邪從汗而解也。故表散寒邪之藥，每佐甘草、薑、棗之類。俾助中氣以托邪外出，亦杜外邪而不使內入。若暑濕熱疫穢惡諸邪，皆由口鼻吸入，直傷氣分，而漸入營分。亟宜清涼疏淪，俾氣展濁行，邪得下走，始有生機。不但辛溫甘膩一概忌投，即熱湯酒醴澡浴，皆能助熱焰之披猖，不可不嚴申厲禁也。</p>
<p>四、慎痧丸。痧藥方最多，而所主之證不一。有宜於暑熱病者，有宜於寒濕病者，豈可隨便輕嘗耶？更有不經之方，群集猛厲之品，雜合為劑。妄誇無病不治，而好仁不好學者，廣制遍送，間有服之亦效者。大抵皆強壯之人，風餐露宿為病也。概施於人，多致輕者重，而重者死矣。故服藥難，施藥不易。必也擇方須良，擇藥須精。刊列證治，須分寒熱，實心實力行之，斯有功而無弊焉。如酷暑烈日之中，路途卒倒者，雖不可以霍亂痧脹名之，而其病較霍亂痧脹為尤劇。設以泛泛痧藥治之，每致不救。或口鼻出血而死，此為暑邪直入心包絡，必以紫雪灌之始效，然此藥貴重難得，有力者能備以濟世，必有善報也。凡陰虛內熱之人，或新產血去，陰陽之後，酷熱之時，雖不出戶庭，亦有患此者，余見屢矣。詳三篇《夢影》中。</p>
<p>五、慎延醫。醫之用藥，猶將之用兵。食祿之將，尚鮮其良。謀食之醫，宜乎其陋。然十室之邑，必有忠信如某者矣。語云：為人子者，不可不知醫，要在平時留意，知其有活人之術，而非道聽途說者流，則有病時，方可以性命托之。知其有用兵之才，而非惜死愛錢之輩，則有寇時，方可以土地人民托之。噫！難矣。</p>
<p>六、慎服藥。選醫難如選將，選得矣。或徒有虛名而無實學，或飽學而非通才，或通才而無卓識，或見到而無膽略，或有膽而少周詳。皆不足以平大亂，愈大證也。故服藥如出師，聖人以戰疾並慎也。然則如何而可服其藥耶？但觀其臨證時，審問精詳。心思周到，辨證剴切，方案明通，言詞慷爽近情，舉止落落大方者。雖向未謀面之人，亦一見而知為良醫矣。其藥可服也。</p>
<p>七、宜涼爽。霍亂痧脹，流行成疫，皆熱氣病氣，醞釀使然。故房中人勿太多，門窗勿閉，得氣有所泄也。蓋覆勿厚，總以病人不覺冷為度。昧者不知，強加衣被，而致煩躁昏瞀者，甚多也。如樓居者，必移榻清涼之所。勢劇者，宜鋪席於陰涼乾燥泥地上臥之，熱氣得土而自消也。凡見路途卒倒之人，縱無藥贈，但能移之陰處，即是一服清涼散也。吐瀉穢濁，隨時掃除淨盡。毋使熏觸病人與旁人，醫來時尤宜加意。否則臭難嚮邇。如何息心靜氣以辨證耶？</p>
<p>八、宜鎮靜。凡患急證，病人無不自危，旁人稍露張皇。病者逆謂必死，以致輕者重，而重者遂嚇殺矣。蓋人雖壽至百齡，未有不貪生畏死者，此人之情也。故近情之醫，雖臨危證，非病人耳聾者，必不當面言凶。親友切勿交頭接耳，以增病人之懼。婦女更勿顰眉掩淚，以致弄假成真。</p>
<p>九、宜泛愛。凡患急證，生死判乎呼吸，苟不速為救治，病必轉入轉深。救治而少周詳，或致得而復失，骨肉則痛癢相關，毋庸勉強。最苦者，貧老無依，經商旅賈，舟行寄廡，舉目無親。惟望鄰友多情，居停尚義，解囊出力，起此危疴。</p>
<p>十、保胎孕。凡懷妊於夏月而陡患腹痛者，雖在臨貧之際，先須握其手而指尖不冷，撫其額而身不發熱者，方是將娩之痛。否則即是痧患。而痧藥類多妨孕，概勿輕試。余每以晚蠶沙及雪羹治之，無不立效。挾寒者，紫蘇、砂仁、香附、橘紅之類可用。設患霍亂重證，先取井底泥，敷心下及丹田，再用卷而未舒之嫩荷葉，焙乾五錢，蚌粉減半共研，新汲水入蜜調服三錢。並塗腹上，名罩胎散。若系寒霍亂，用伏龍肝研末，水和塗臍方寸，干即再塗。服藥尤須加慎，一切傷胎之品，均不可用。回陽膏亦不可貼。</p>

<h4>附妊娠藥禁</h4>
<p>《便產須知》云：蚖青斑蝥水蛭與虻蟲，烏頭附子及天雄，野葛水銀暨巴豆，牛膝薏苡並蜈蚣，（三）稜莪（術）赭石芫花麝，（香）大戟蛇蛻黃雌雄，砒石（火芒牙）硝（大）黃牡丹桂，槐花（子）牽牛皂角同，半夏（制透者不忌）南星（膽制陳久者不忌）兼通草，瞿麥乾薑桃（仁）木通，鋼砂乾漆蟹爪甲，地膽茅根與䗪蟲。《本草綱目》云：烏喙側子羊躑躅，藜蘆茜（草厚）樸及薇銜，欓根䕡茹葵花子，赤箭繭草刺蝟皮，鬼箭紅花蘇方木，麥櫱常山蒺藜蟬，錫粉硇砂紅娘子，硫黃石蠶共蜘蛛，螻蛄衣魚兼蜥蜴，桑蠹飛生及樗雞，牛黃犬兔驢馬肉，鰍鱓蝦蟆鱉與龜。</p>
<p>《潛齋叢書》云：甘遂沒藥破故紙，延胡商陸五靈脂，薑黃葶藶穿山甲，歸尾靈仙樟（腦）續隨，王不留行龜鱉甲，麻黃（川）椒（神）曲伏龍肝，珍珠犀角車前子，赤芍丹參益（母）射干，澤瀉澤蘭紫草郁，（金）土瓜（根）滑石（自犀角至此，雖非傷胎之藥，然系行血通竅之品，皆能滑胎，非堅實之體，不可輕用）及紫葳（即凌霄花）。</p>
<p>猛厲之藥，皆能傷胎，人猶知之。如薏苡、茅根、通草、厚朴、益母之類，性味平和。又為霍亂方中常用之品，最易忽略，不可不加意也。</p>
<p>十一、產後，丹溪一代宗工，乃謂產後宜大補氣血為主。雖有別證，從末治之。景岳已辨其非矣。而俗傳自產後宜溫之說，不知創自何人，最為悖謬。夫產後陰血盡脫，孤陽獨立，臟腑如焚，經脈如沸，故仲聖專以養血消瘀為主。而石膏、竹茹亦不禁用。若夏令熱產，慮感暑痧，無病者，萬勿輕嘗藥餌。不但生化湯不可沾唇，雖沙糖酒亦須禁絕。設有腹痛，未審是否發痧。惟六一散最為雙關妙藥。若明系痧證，或患霍亂者，按常法治之。如果熱熾毒深，不妨仍用涼化。如無虛象，勿以產後而妄投補藥。如無寒證，勿以產後而妄施熱劑。魏柳洲云：近時專科及庸手，遇產後一以燥熱溫補為事，殺人如麻。故治產後之痧邪霍亂者，尤當兢兢也。</p>
<p>十二、善後，凡霍亂吐瀉皆止，腿筋已舒，始為平定。若暴感客邪而發者，即可向愈。口渴，以陳米湯飲之。知飢，以熟蘆菔熟鳧茈，或煮綠豆，或筍湯煮北方掛麵啖之。必小便清，舌苔淨，始可吃粥飯鯽魚臺鯗之類。油膩酒醴甜食新鮮補滯諸物，必解過堅矢，始可徐徐而進。切勿欲速，以致轉病。若因伏邪而發者，未必速愈，證勢雖平，尚多枝節，否則肢未全和，或熱不遽退。胸猶痞悶，苔色不化，溺澀不行，此皆餘熱逗留。或治未盡善，亟宜清滌餘邪，宣通氣道。勿以其不飢不食，而認為吐瀉傷元，妄投補滯。勿以其神倦肢涼，而疑作寒涼過度，妄進辛溫。良由深伏之邪，久匿而不能盡去也。仍宜以輕涼清肅之品，頻頻煎服。俾其疏淪，自然水到渠成，待得知飢，然後以飲食如前法消息之，自愈。其果因過服寒涼而便溏不已者，必溺清不渴，可以資生丸調治之（方見四篇）。（此段皆名言也，因善後不得法，誤事者，甚多，須熟讀。初思食時，余嘗用鹽調藕粉，似亦頗妥，陳米湯亦不若綠豆湯為穩，謝城。）</p>
<p>乾霍亂痛止為平，苔淨口和，便堅溺澈為痊，飲食消息之法同上。寒霍亂輕者，得平即愈。但節飲食，慎口腹可也。重者，多兼正虛，一俟陽回，熱藥不可再投。但宜平補元氣，如液傷口燥者，即須涼潤充津。蓋病或始於陽虛，而大下最能奪液，不知轉計，必墮前功，飲食調理，亦憑苔色便溺而消息之可也。（陽回之後，熱劑不可再投，知之者甚鮮。因過劑而誤事者亦時有之，此段語亦甚精當，謝城！）</p>

<h3>守險</h3>
<p>霍亂時行，須守險以杜侵擾。霍亂得愈，尤宜守險以防再來。昧者，不知，徒事符籙，以為擁兵自衛之謀，良可慨已。縱恣如常，效彼開門揖盜之愚，尤可笑也。苟欲御亂，略陳守險之法如下：</p>
<p>一、人煙稠密之區，疫癘時行，以地氣既熱，穢氣亦盛也。必湖池廣而水清，井泉多而甘冽。可藉以消弭幾分，否則必成燎原之勢。故為民上及有心有力之人，平日即宜留意。或疏浚河道，毋使積汙。或廣鑿井泉，毋使飲濁。直可登民壽域，不僅默消疫癘也。此越險守疆之事，為御亂首策，非吾儕仰屋而談者，可以指揮而行也。</p>
<p>一、當此流離播越之時，卜居最宜審慎。住房不論大小，必要開爽通氣，掃除潔淨，設不得已而居市廛湫隘之區，亦可以人工斡旋幾分，稍留餘地，以為活路，毋使略無退步。甘於黴時受濕，暑令受熱，平日受穢，此人人可守之險也。無如貪夫徇財，愚夫忘害，嬉玩泄沓，漫無警省。迨揮霍撩亂，突如其來，手足無措矣。</p>
<p>一、昔范文正公每就寢，則思一日之食，與所行之事，能相准否。雖朝齏暮鹽，貧不能自給，而每慨然憂天下之憂。以其志行磊落，足以紀綱人道，而豈腆然為飲食之人哉？嗚呼！此六十四字，為故人宜春袁蓮芾布衣跋，余《飲食譜》之絕筆也。跋未竟，未便刊於譜，故列以為霍亂守險之一策。因近人腹負者多，厚味臘毒，臟腑先以不清。故穢濁之邪，易得而乘之，同氣相求，勢所必然之事。若能效法先賢，不徒為飲食之人，以其餘資，量力而行疏河鑿井，施藥救人，斂埋暴露，掃除穢惡諸事，不但保身而杜病，吾聞積德可迴天。不僅可御霍亂也已。</p>
<p>一、祖父家訓，不許供設神像，遵聖人敬而遠之也。余性尤不佞佛，生長錢塘，天竺山未嘗一到。雖食貧居賤，而最惡持齋之說。先慈聞而責之曰：兒自命通脫，何亦效迂儒口吻乎？夫澹泊自甘者，有幾人哉！雖以聖賢言行教之，其如從而勿改何？蓋愚人必動之以禍福，惕之以報應。而始畏慕勉行也，故具不得已之苦心者。假神道以設教，創持齋之日期，誘而掖之，斡旋不少。試看疫癘流行之際，僧尼獨鮮死焉？此其明效也。余敬聽而識之，屢試不爽。益嘆母訓之非誣，故夏月款客。惟用海味乾肉魚蝦之類，間或為賓託言茹素，亦藉以節主人之費。但擇輕清平淡者而食之。追憶生平未患痧證，敢以此法，公諸同世。</p>
<p>一、造酒麴者，必取諸草汁，以和米糵而成。凡草初出之兩葉尖者屬陽，性烈而味辛，可以造麴。初出之兩葉圓者，屬陰，性涼而味酸或苦，皆不中用也。故酒性純陽，大冷不冰，造酒之屋，木尚漸腐，生物酒浸，皆能漸熟。不但能腐人腸也。然嚴寒之令，略飲可御風寒、卒犯飛屍，溫服可祛陰氣。若縱飲無節，未有不致病者。又惟夏月為尤甚，宋劉元城先生云：余初到南方，有一高僧教余，南方地熱，而酒性亦熱。況嶺南煙瘴之地，更加以酒，必大發疾。故余過嶺，即闔家斷飲，雖遍厲水土惡劣，他人必死之地。余闔家十口皆無恙，今北歸十年矣。無一患瘴者，此其效也。蘇文忠公云：器之酒量無敵，今不復飲矣。觀此則妄人所謂酒可以闢瘴疫者，豈非夢囈。夫瘴疫皆是熱濁穢毒之氣所釀，同氣相求，感受甚易，且酒之濕熱，久蓄於內，一旦因邪氣入之而併為一家，其勢必劇，其治較難，其愈不易，縱性耽曲糵，甘醉死而不辭者，夏令必須戒飲，或不屈死於揮霍撩亂之中也。</p>
<p>一、頤生之道，《易經》始發之。曰：節飲食。孔子曰：食無求飽。應休璉云：量腹節所受。陸放翁云：多壽只緣餐飯少。《隨園詩話》云：不飽真為卻病方。蓋飢飽勞逸，皆能致疾，而飽暖尤為釀病之媒，故神農氏播谷之餘，即收藥味。有熊氏垂裳之際，聿著方書，而世俗罕知，因強食致病者，不勝縷述。緣人身之氣。貴乎周流無滯，則濁降清升。雖感客邪，亦潛消默化，而不能留著為病。惟過飽則胃氣壅塞，脾運艱遲，偶吸外邪，遂無出路。因而為痧脹成霍亂者最多。故夏令不但膏粱宜屏，雖飯食且然。況無故喜服參藥，妄食膩滯之物，如龍眼、蓮子以圖補益，而窒塞其氣機哉。設犯痧穢之邪，多致不救。今夏有諸暨余小坡進士，竄難來申，與余親家褚子耘茂才比屋而居，亦知醫。為人視病歸，啖蓮子一盞畢，即覺不舒，尋即吐瀉轉筋，欲請余診而不及。以邪氣得補，無從宣泄，逼其深入。故告危如此之速，猶之賊來而自棄其險，閉城以待斃也。嘻！可悲已。（過飽不可，過飢亦不可，不飽非飢之謂，宜知之。謝城）</p>
<p>一、鰻鱔，性熱助陽。鱉，性寒滋陰。然或有毒者，夏令更有蛇變者，尤勿輕嘗。即無毒者，其質味濃厚，膩滯難消。如吸外邪而誤食之，皆難救治。市脯尤覺穢濁，咸宜杜絕。（因食鰻鱔而霍亂者，余見甚多。謝城）</p>
<p>一、瓜果冰涼等物，雖能滌熱，過食驟食，既恐遏伏熱邪，不能泄越。又慮過度，而反為所傷，並宜撙節為妙。若口不渴，汗不出，溺不赤者，諸冷食皆在所忌也。</p>
<p>一、冬夏衣被過暖，皆能致病，而夏月為尤甚。既因暖而致病矣，或又因病而反畏寒，以熱鬱於內，而氣不宣達也。再加蓋覆，則輕者重，而重者即死矣。竟有死已許久，而旁人未知者，年來聞見甚多，比如開門揖寇，城已陷。或有尚在夢中而不覺者，可嘆也已。亦勿過於貪涼，迎風沐浴，夜深露坐，雨至開窗，皆自棄其險，而招霍亂之來也。不可不戒。</p>
<p>一、食井中，每交夏令，宜入白礬、雄精之整塊者，解水毒而闢蛇虺也。水缸內，宜浸石菖蒲根、降香。</p>
<p>一、天時潮蒸，室中宜焚大黃、茵陳之類。亦可以解穢氣，或以艾搓為繩，點之亦佳。</p>
<p>一、用川椒研末，時塗鼻孔，則穢氣不吸入矣。如覺稍吸穢惡，即服玉樞丹數分，且宜稍忍飢，俾其即時解散，切勿遽食，尤忌補物。恐其助桀為虐，譬奸細來，而得內應也。</p>
<p>一、無論老少強弱之人，虛實寒熱之體，常以枇杷葉湯代茗，可杜一切外感時邪，此葉天士先生法也。見《醫案存真》。然必慎起居，節飲食，勿謂有葉先生法在，諸可廢弛也。</p>
<p>一、無論貧富夏月宜供饌者，冬醃乾菜、盧菔、芹筍、鳧茈、絲瓜、冬瓜、栝蔞、豇豆、紫菜、海帶、海蛇、大頭菜、白菜、甜菜及綠豆、黃豆所造諸物，人人可食，且無流弊。肉食者鄙，焉知此味。嗚呼！苟能常咬菜根，則百事可做。豈但性靈不為汩沒，足以御揮霍撩亂之災乎。</p>
<p>揮霍撩亂，突如其來，集餉徵師，動需時日，莫若乘其初發，何難一擊而平。爰備載伐毛、取嚏、刮淬、刺急、拓救諸事宜於前，復詳偵探、策應、紀律、守險、諸機要於後。雖婦豎一覽，咸知剿御之方，既可各保身家，而厲氣莫能張其焰，或可不蹈兵馬過籬笆破之諺也。故列治法第二。</p>

<h1>卷下</h1>

<h2>醫案篇第三</h2>

<h3>南針</h3>
<p>張戴人曰：泰和間，余見廣濟院僧病霍亂，一方士用附子、乾薑同煎，放冷服之。服訖，嘔血而死（如此而死，必是暑證。洄溪云：暑證忌姜，雖與連芩同用，亦有大害。況與附子同行，禍更烈矣）。頃合流鎮李彥直，中夜忽作吐瀉，自取理中丸服之。（洄溪云：此是寒霍亂之方，百不得一。誤用者，禍不旋踵）。醫至，謂有食積，以巴豆藥三五丸下之，亦不動，至明而死（縱有食積，何必下以巴豆）。遂平李仲安，攜一僕一佃客至偃城，夜宿邵輔之家，是夜僕逃，仲安覺其逸也，騎馬與佃客往臨穎追之。時七月天大熱，炎風如箭，埃塵漫天，至辰時而還。曾不及三時，往返百二十里，既不獲其人，復宿於邵氏齋。忽夜間聞呻吟之聲，但言救我，不知其誰也。執火尋，乃仲安之佃客也。上吐下瀉，目上視而不下，胸脅痛，不可動搖，口欠而脫臼，四肢厥冷，此正風濕暍三者俱合之證也（夜行風大，兼感涼氣，乘馬疾馳，更挾勞瘁）。其壻曾聞余言，乃取六一散，以新汲水，銼生薑調之，頓服半升。其人復吐，乃再調半升，令徐服之，良久方息（吐證服藥，往往不受，必徐徐服，始合法也）。至明又飲數服，遂能起（生薑不煎，但銼入新汲水中而調六一散，取其微辛佐甘涼之劑，以解風暑而清濕熱，略無助火之弊，可為用藥之法），調養三日平復（先清外感，而後調其勞悴之傷，可為治病之法）。</p>
<p>羅謙甫治一蒙人，因食酒肉潼乳而患霍亂，從朝至午，精神昏憒，脈皆浮數（暑邪未去），按之無力，所傷之物已出矣（正氣已虛）。即以新汲水調桂苓白朮散，徐徐服之（妙）。隨作地漿水，澄取清者一杯，再調服之（尤妙），吐瀉遂止。次日微煩渴，與錢氏白朮散，時服而愈（脈證如是，而所傷之物已出，則知中氣傷殘，暑邪未解，故用補正清邪之治。凡虛人受暑而病此者，即以是案為法可也。其理中、四逆等方，皆治陰寒致病，非治暑也。此等界限不清，亦何足以言醫耶）。</p>
<p>又治提舉公，年近八十。六月間患霍亂吐利，昏冒終日，不省人事（暑邪內擾），脈洪大有力，一息七八至（火勢沖激），頭熱如火（邪熱上僭，不是戴陽），足冷如冰（肺氣不降，非下虛也），半身不遂（胃氣大亂，不能束骨利機關），牙關緊急（熱入陽明之絡，不是中風）。遂以甘露散瀉熱補氣安神明，加茯苓以分陰陽，冰水調灌，漸漸省事，而諸證悉去。後慎言語（虛證最要），節飲食（諸病宜爾，無病人亦宜爾），三日，以參朮調中藥理正氣，十日後方平復。汪石山治一人，年三十餘，形瘦弱，忽病上吐下瀉，水漿不入口七日，自分死矣（未服燥熱藥，猶可不死）。診脈八至而數，曰：當夏而得是脈，暑邪深入也（提舉以八十之年而脈八至。此人七日不進水漿，脈亦八至，若非明眼，必以為虛矣）。吐瀉不納水穀，邪氣自盛也。遂以人參白虎湯進半杯，良久復進一杯（徐進可法）。覺稍安，三服後，減去石膏、知母，而人參漸次加至四五錢（操縱有法）。黃柏、橘皮、麥冬等，隨所兼病而佐使，（製劑有法）一月後平復（暑盛元傷之治，此案可法）。</p>
<p>一僕伕燕京人，縱酒，飲食無節，病霍亂吐瀉轉筋，煩渴幾殆。時六七月，淋雨晝夜，飲檐溜水數升而安（貧而無人服侍，得飲此而愈，余亦曾見一人如是，後生六子，起家致富，孫曾繞膝，壽至九秩而終。若富貴人患此，則每為溫補藥所誤也）。</p>
<p>《千金方》云：輕者水瘥（良然良然，古人豈欺我哉），此偶合古方。余目擊其事，後路途中，及六合縣，見一人服新汲井水良愈（凡暑熱病渴喜冷飲者，但以新汲水或冬雪水徐徐飲之，皆能向愈，不但霍亂為然也，今人雖明知其患熱，而尤禁飲冷，何耶）。</p>
<p>一人病霍亂，欲吐不吐，欲瀉不瀉，心腹㽲痛，脈之沉伏如無，（痛脈每如是）此乾霍亂也。急令鹽湯探吐宿食痰涎碗許，遂瀉（上竅得開，下竅自通。但得吐瀉，即可治矣）。與六和湯愈。孫文垣治程氏子，先醉酒，後入房（其平素縱恣貪涼可知矣）。次早，四肢冷，胃脘痛極，脈僅四至。或以鬱火治，投以寒涼，痛更甚。三日前所食西瓜，吐出未化（傷冷已甚），乃翁以為陰證傷寒（今人凡聞病犯房事者，雖不傷冷食，亦謂之陰證傷寒，輒以丁附薑桂殺之，可慘也已），欲用附子理中湯，不決（此翁頗虛心，故乃郎有命）。逆孫視之，面色青慘，叫痛而聲不揚，坐臥煩亂，是霍亂兼蛔厥證也。先當止痛安蛔，後理霍亂，可免死也，遲則誤事矣。急用醋炒五靈脂三錢，蒼朮一錢五分，烏梅三個，川椒、炮薑、桂心各五分，水煎飲下，痛減大半（恣啖生冷，復傷於酒，更誤於寒涼之藥，故以溫胃安蛔得效）。下午以大腹皮、藿香、半夏、橘皮、山楂、茯苓、五靈脂，兩帖全安（仍以和中化滯，理其脾胃而愈。入房一端，略不置議，洵可法也）。</p>
<p>江篁南治從叔於七月間得霍亂證，吐瀉轉筋，足冷多汗，囊縮。一醫以傷寒治之，增劇（庸工常技）。江診之，左右寸皆伏不應（上下痞塞，故脈伏而微），尺部極微，口渴欲飲冷水（足冷囊縮，似屬厥陰，口渴，亦似少陰引水自救，何以辨之，曰，直中陰經無轉筋多汗證，若少陰頭有汗則死矣），乃以五苓散與之（此治傷寒霍亂有表證之方，江氏不察，泥於熱多欲飲水句而誤也。此時如用桂苓甘露飲則得矣）。覺稍定，向午猶渴（囊縮乃暑熱入於厥陰，故口渴欲飲冷，非傷寒也，而與傷寒藥，渴何能已）。以五苓加麥冬、五味、滑石投之（始知為暑熱矣，僅加麥冬、滑石，不足蔽辜，而五味酸溫，尤不宜用），更以黃連、香薷飲冷進一服（前方拘泥俗說，妄用五味，不知服後何如，忽進此劑，殊屬可笑）。次早，脈稍出，按之無根，且人脫形（連投溫燥，又以香薷升散，宜乎如是），呃忒，手足逆冷，飲食入口即吐（桂術五味香薷等藥見效矣），大便稍不禁。為灸丹田八九壯，囊縮稍舒，手足稍溫（伏熱得火灸，已有流行之勢）。繼以理中湯二三服（茫無頭緒，若江氏者，可謂蔽於古而不知今者也，氣液兩傷，豈可再服此湯）。渴猶甚，咽痛，熱不解，時或昏沉（理中湯又見效矣。可見囊縮不是虛寒也）。乃以竹葉石膏湯（焦頭爛額之客），投之而愈（此案江氏初治，原知為熱，止用泥古，遂致一誤再誤，迨噦吐形脫之時，又不知清補兼施，而艾灸理中，幾至潰敗。幸而不用附子，故未著尚能挽救，然亦危矣，讀者鑑諸）。</p>
<p>江少微治一婦人，六月中旬，病霍亂吐瀉轉筋，一醫投藿香正氣散（此治襲涼飲冷兼寒濕而成霍亂之方），加煩躁面赤，揭衣臥地（藿香正氣散，溫散之劑也。尚不可誤施於暑熱霍亂，故誤投附桂者，每見下咽即昏沉厥冷，渾身青紫而死，醫者猶謂陰盛已極，此等大熱之藥，尚不克救。再遇此證，仍以此法投之，至老不悟，而死者之冤，亦無從訴。此余之所以述霍亂轉筋諸治法為世告也）。江診之，脈虛無力，身熱引飲，此得之傷暑，宜辛甘大寒之劑，瀉其火熱，以五苓散加滑石、石膏。吐瀉定，再與桂苓甘露飲而痊（暑熱為病，脈多虛微澀弱，弦細芤遲，以熱傷氣也。甚至隱伏不應指，或兩尺絕無，皆邪滯經絡，上下格拒使然。不可誤認為虛寒也。亦有脈因火煽而反洪大滑數異常者。此霍亂所以無一定之診，臨病極宜善審也）。</p>
<p>陳三農治一婦，暑月方飯後，即飲水而睡，睡中心腹痛極，肢冷上過肘膝，欲吐利而不得吐利，㽲痛垂死，六脈俱伏。令以藿香正氣散煎湯探吐。一吐減半，再吐而安（此停食飲冷睡臥當風而成乾霍亂也，以對證之劑引吐，又合機宜，不必拘守鹽湯一法也）。</p>
<p>繆仲淳治高存之家僕婦患霍亂，以砂仁一兩，炒研，鹽一撮，沸湯調，冷服一劑愈（此治夏月貪涼、脾胃不和之輕證也。冬月感寒患此亦可用，但宜溫服，余嘗自驗）。傷冷物者，加吳茱萸。張石頑云：一少年新婚，陡然腹痛麻瞀（《醫通》謂之番痧，即乾霍亂之因熱者）。或令飲火酒半杯，（此必疑其陰證也，而不知少年新婚，最多火證，何也。以不論貧富，冬夏衣被皆新，而合歡成禮，勞則生火也）。腹痛轉劇，旋增顱脹，身發紅點（熱毒得酒愈識，若不急從清解，必七竅流血而死）。與蘆根汁（解酒毒而清熱），得吐痛解。復有鼻衄，口燥，胸腹略見紅斑（血分熱極）。啜童子小便稍安（清營妙品）。又濃煎蔥豉湯（宣解惡氣穢毒之聖藥），仍入童便，續續與之，得大吐汗出而痊。葉天士治一人霍亂後，中氣大虛，肝風內動，心中空洞，身痛肢浮，用異功散加木瓜、薑、棗。按此以培中制木之劑，而為霍亂善後之治，最可法也。若見身痛肢浮，而誤用表散之品，則內風愈動，脾土重傷，因而致殆者多矣。夫霍亂固是中焦土病，而土病多由木侮，故雖治寒霍亂，必首察厥陰之動靜。倘其人肝陰素虧，內風暗動者，姜附等極宜慎用。即當用者，亦須妥為駕馭，毋使過劑。設或無節，雖不似熱霍亂之立時殞命，亦必增劇而生枝節。試觀仲聖治厥陰下利之用白頭翁湯，其義自明。蓋厥陰雖當兩陰交盡，而具合晦朔之理。陰之初盡，即陽之初生，其本陰，其標熱，其體木，其用火，是以獨稱剛臟。而爵以將軍，顧名思義，可以悟其治矣。世有治肝氣惟崇剛燥者，驟則變痙厥，緩則成關格。人但知病之日深，而不知藥之所釀，並及之，以為醫家病家兩鑑焉。</p>
<p>懷抱奇治一男子，恣飲梅水，吐瀉無度，手足厥逆，面色慘晦，聲音不出，而脈沉伏，小水點滴不通，服藥入口即吐，醫告技窮。余思梅味酸主收，故小便癃閉。而果得麝則敗。麝又香竄走竅，乃取麝半入臍中，半入鼻孔。病者即以手拂其鼻曰，此何物也？少頃，小水大下二三行，忽如醉而醒，夢而覺，越日索粥漸安（此無外因者，故但以敗果通竅即能奏效，其巧思正不可及也）。</p>
<p>童栻廬治陳氏婦，盛夏病霍亂吐瀉，腹中㽲痛，四肢厥冷，冷汗溱溱，轉筋戴眼，煩躁大渴，喜冷飲，飲已即吐，六脈皆伏。雖曰霍亂，實臟厥也。經云：大氣入臟，腹痛下注，可以致死，不可以致生，速宜救陽為急，遲則腎陽絕矣。以四逆湯薑、附各三錢，炙甘草、吳茱萸各一錢，木瓜四錢，煎成冷服，日夜連進三劑。四肢始和，危象皆退。口渴，反喜沸湯，寒象始露，即於方中佐以生津存液之品，兩服而安。按：此案論證用藥，皆具卓識，其真諦全在喜冷飲，而飲已即吐，及服熱藥後，反喜沸湯也。設能受冷飲者，即為內真熱而外假寒。然熱證亦有胸下格拒不通，雖喜冷飲，飲已仍吐，必細細呷之，始能受也。亦有痰濕內盛，雖渴而喜熱飲者，皆不可誤認為寒也。故必辨舌苔之色澤，驗小水之有無，始無遁情。案中未及，尚欠周詳。且大氣入臟，非人人共患之疫，而疫氣流行之際，亦間有此一證。故醫者必議病而用藥，毋執方以殺人，是乃仁術。</p>
<p>倪姓患霍亂吐瀉，審知始不作渴，四肢不逆，脈不沉細（易治之證），一醫用大順散兩帖，漸至於此。因見四逆，復加附子，脈證更劇（我見實多）。童曰：此病一誤再誤，命將殆矣。若果屬寒，投熱病已。今反四逆，脈轉沉細欲伏，乃釀成熱深厥深，與熱邪傳入厥陰者，何異（辨證中肯）？即以竹葉石膏湯，人參易西洋參（是），加黃連、滑石，兩劑而安。同時有陸姓患此，醫用回陽之劑，日夜兼進（豈真欲其速死哉，紙上談兵，讀書無眼者，往往如是，不僅粗工爾也，我見亦多），厥逆煩躁日增。病人慾得冷水，禁絕不與（可恨可嘆）。甚至病者自起，拾地上痰涎以解渴（可慘可憐），遷延旬日而死（能延旬日，則欲得冷水時，若能轉計，猶可活也）。噫！即使真屬陰寒，陽回躁渴如是，熱藥之性，鬱而無主，以涼藥和之，病亦立起，不學無術，曷勝浩嘆（涼藥和之妙理，未經人道，謝城）。</p>
<p>張氏女，夏月患霍亂，醫用薑、附，藿、樸、茱、連等藥，嘔吐雖止，腹痛不已，而痢五色。至第八日，童診脈細數，沉部有力，兩目罩翳，舌絳唇紅，胸膈煩懣，口渴引飲，是暑穢之毒，擾亂中宮而病霍亂。苦熱雖能開鬱止嘔，畢竟反助邪勢，致變五色毒痢（此暑毒尚不甚重，而兼濕邪，故僅變五色毒痢，若無濕而暑毒重者，早不救矣）。與子和桂苓甘露飲加黃連、銀花、黑豆，兩服翳退，而諸恙遞減，胃亦稍蘇。因畏藥不肯再服，余謂餘邪未淨，留而不去，戕害臟腑，必轉他病。乃與三豆湯加甘草頻飲而愈。</p>
<p>湯芷卿曰：常州伍某，素壯健，方啖飯，忽呼痛倒地，云胸膈如刀割，群醫莫治，閱三日，懨懨待斃矣。一老人過問病情，令磨陳墨汁與啜，痛立止。病如失，因問是何證也？曰：記少時鄰人患病類此，一老醫以此法治愈，云誤食天絲毒也。想墨汁無害，故令試之，不料其果合耳（此證雖罕，設有之，人必以為乾霍亂耳，故採之以廣聞見）。</p>
<p>固始有人於元旦食湯圓訖，方出門賀歲，忽腹如火燒，痛不可忍，絕暈仆地，移時稍蘇，而號痛聲徹四鄰。諸醫皆云：脈細如絲不治（痛極脈多細伏），越日，門外來一丐僧，家人辭以有病。僧云：何不問我？家人苦無策，姑令入。僧一望即曰：是誤食蛇精也（神乎伎矣，世有飽讀醫書而不識一證，自命為儒醫者，人因信其學問而並信其醫，彼此貿貿。雖日殺人而不悔悟，宜乎畸人逸士之晦跡以遁也.可慨也夫）。於破囊中取藥一丸，以水研灌，移時病者起，嘔如雀卵者數枚。僧曰：未也，復嘔穢狼藉，出一物如雞子大。僧曰：是矣，剖視乃血裹中蟠一小蛇，見人遽動，作勢上下，病已若失，舉家驚服（我亦拜服）。叩其所以。曰：多年陳谷，蛇交其上，餘瀝黏著，誤入腹中，乃成此物。少停即洞胸腹出矣。僧徑裹蛇而去。案揮霍撩亂，已不易平，必辨陰陽，始能奏績。此證雖非霍亂，而病去迅疾，儼似食滯之乾霍亂，且證勢之撩亂，較霍亂為尤亂也。苟無破敵之才，徒有虛名之學，焉能平此大亂哉。用藥如用兵，丐僧有之矣，採此以為撥亂反正者告，勿以資格用人也。凡腹中卒然大痛，在飲食後，而無別證可憑者，多系誤食毒物。重用紫金丹，或玉樞丹研灌，似亦有效。</p>
<p>楊素園治其仲郎，壬子夏患乾霍亂，身熱不渴，口燥無苔，六脈俱伏，痛在胃脘，連及胸脅，勢甚洶湧，先與地漿一碗，勢少定，少頃復作，因徑投大承氣湯一帖，其痛即下行至臍間，又一帖痛又下行，伏於少腹右角，按之則痛，不按則與平人無異。起病至此，已歷周時，思食甚急，乃以綠豆煮粥與之。食後一切如常。惟少腹右角，按之仍有小塊，隱隱作痛，遂重用當歸、枸杞、蔞仁，佐以桃仁、紅花，少加牛膝以導之。服一時許，腹中汩汩有聲，下紫黑血一塊，若五寸許，而少腹之痛塊若失。此病治法原出一時臆見，然竟以獲痊，特錄出，質之半癡，不知以為何如。按霍亂證，因於暑熱者多，故感受稍重，極易入營。古人刺以泄血，及內服益母湯、藕汁、童溺，皆所以治營分之邪也。楊公子舌燥無苔而不渴，痛又及脅，必平日偶有絡傷未覺，乃邪遂乘瑕而入也。承氣之硝黃，並是血藥，氣行則瘀降，故痛得漸下。迨塊在而按之始痛，且知飢能食，益見氣分之病已蠲，而血分之邪尚匿。毋庸承氣之直攻，改從濡化而曲導，操縱有法，余服其手眼之超。景岳謂飲食下行之道，必由少腹下右角而後出於廣腸，自誇閱歷而知，古人並未言及。蓋渠嘗治一人食麵角，雜投巴豆、大黃而不效也。魏柳洲曰：就此觀之，景岳平生臨證，遺憾多矣。夫面角由胃入腸，既至少腹之角，豈能作痛如是。而又如拳如卵，必其人素有疝病，偶因食麵而發，或兼當日之房勞，遂乃決張如是，故推蕩之藥不應，得木香火酒一派辛熱香竄而痛始止也。至謂食由少腹下右角而後出廣腸，更堪捧腹，經謂大小腸皆盤屈十六曲，則左旋右折可知，豈如筒如袋，而直下乎。嘻！案楊公子少腹右角之痛，設非乃翁卓識，時醫必誤認食滯，特附錄魏語以廣其義，為崇尚景岳者告。</p>
<p>山陰田雪帆明經晉元，著《時行霍亂指迷》，辨正世俗所稱吊腳痧一證，以為此真寒直中厥陰肝經，即霍亂轉筋是也。初起先腹痛，或不痛，瀉利清水，頃刻數十次，少者十餘次，未幾即手足抽掣，嘔逆口遏，厥逆聲嘶，脈微欲絕，舌短目眶陷，眼上視，手足青紫色，或遍身青筋硬凸如索，汗出脈絕。急者，旦發夕死。緩者，二三日或五六日而死。世醫或認為暑濕，妄投涼瀉。或認為痧氣，妄投痧藥，鮮有不斃。宜用當歸四逆加吳茱萸生薑湯，水煎冷服。輕者，二三劑即愈；重者，多服幾劑，立可回生，真神方也。如嘔者，加製半夏三錢，淡乾薑一錢。口渴恣飲，舌黃，加薑汁炒川連五分，為反佐，經所謂熱因寒用也。腹中絞痛，名轉筋入腹，加酒炒木瓜三錢。手足冷過肘膝，色見青紫，加製附子三錢。此證種種，皆肝經見證耳。緣坎中真陽，為邪寒所逼，因之外越，所謂內真寒而外假熱也。但以脈辨之，自無遊移矣。寒犯厥陰而為霍亂轉筋者，容或有之，豈可以概論時行之證耶？果系寒犯厥陰，而吐利汗出，則當用吳茱萸湯加減，或烏梅丸法，不當用當歸四逆加吳茱萸生薑湯。以當歸四逆，本桂枝湯加當歸、通草、細辛，通血脈以疏肌表，非汗出脈絕之證所可輕嘗。至脈不可憑，必以口渴、舌黃、喜冷飲，為辨真熱假寒之確據。竟敢顛倒其說，曲為妄解，何欺人之太甚哉？書生紙上談兵，好發想當然之議論，惑世誣民，大率類是，不可不辨也。故附錄於此。</p>

<h3>夢影</h3>
<p>道光元年冬，金履思丈，念祖父之勞勩，命余佐理鹺務於婺州之孝順街。公餘之暇，輒披覽醫書，焚膏繼晷，樂此不疲。三年夏間，主政周光遠先生，年二十七，體極腴皙，登廁後，忽體冷自汗，唇白音低，僉以為痧，欲進開竅等藥。時餘年十七，竊握其臂以診之，脈已微軟欲絕，因力排眾議曰：此陽氣之欲脫，非痧邪之內閉，再投香散，殆速其危也。人皆以童子何知而笑之，幸先生聞而首肯者再，倉卒不及購藥，余適有戚氏前所貽三年女佩姜一塊，約重四五錢，急煎而灌之，即安。後用培補，率以參、耆、朮、草為主。蓋陽氣偏虛之體也，先生甚德之，視余若弟，且逢人說項，遂以浪得虛名。癸卯為余刊治案，余愧無以報也。</p>
<p>先生年五十歲，無疾而逝，猶是陽虛暴脫耳。無子，一女適蔡氏，其夫人年逾六旬，杭垣再陷後，未知下落，無從探訪，追錄是案，抱憾滋深。又癸卯冬至前一日，管椒軒大中丞，忽於溺後汗淋氣短，色奪言微。余適往靈隱送葬，三遣弁丁速余至署，已痧藥進之屢矣，莫可挽回。凡陽氣極虛之人，便溺後忽然欲脫，是急宜參附回陽之證，誤認為痧，多致決裂，治霍亂者，須明辨之。</p>
<p>孝順一倉夫，丙戌春，忽患急證，扒床拉席，口不能言，問其所苦，惟指心抓舌而已。人皆以為乾霍亂，余謂乾霍亂，何至遽不能言，且欲抓舌，似中毒耳。或云：同膳數人，何彼中毒，然刮之淬之皆不驗。余以夤夜無從購藥，令取綠豆二升，急火煎清湯，澄冷灌之，果愈。越日詢之，始言久患痹痛，因餌草頭藥一服，下咽後即心悶不可耐，舌麻不能言，而旁人不知也。</p>
<p>一伎自幼喜食蠶蛹，游上江者數年，久不食此。比旋杭，得與家人暢啖，正歡笑間，腹痛陡作，隨地亂滾。或以為絞腸痧，亟請余勘之，脈色皆和，非痧非食也。若以為中毒，則共食老少皆無恙。諦思之，雖以椒蒜炙熟，與人同啖。恐其中有一二枚或異者，亦未可知。蠶，動物也，與馬同氣，其性熱，更益以椒蒜之辛。姑仿中馬肉毒例治之，命吸人乳，果飲下即安。</p>
<p>己丑五月，天氣驟熱，先慈陡患霍亂，肢冷自汗，脈微苔白，腹大痛，欲重按，是中虛有素，因熱而受寒侵也。進大劑理中湯加桂枝、白芍，覆杯而愈，此所謂舍時從證也。丁酉八九月間，杭州盛行霍亂轉筋之證，有沈氏婦者，夜深患此，繼即音啞厥逆。比曉，其夫皇皇求治，余診其脈，弦細以澀，兩尺如無，口極渴而沾飲即吐不已，足腓堅硬如石，轉時痛楚欲絕，乃暑濕內伏，阻塞氣機，宣降無權，亂而上逆也。為仿《金匱》雞矢白散例，而處蠶矢湯一方，令以陰陽水煎成，候涼徐服。此藥入口竟不吐，外以燒酒，令人用力摩擦其轉戾堅硬之處，擦及時許，鬱熱散而筋結始軟。再以鹽滷浸之，遂不轉戾，吐瀉漸止。晡時復與前藥半劑，夜得安寐。次日但覺困極耳，與致和湯數服而痊。後治相類者多人，悉以是法出入獲效，惟誤服附子者，最難救療。（此證火酒摩之時許，鬱熱散而筋漸舒，則轉筋雖因火熾，必兼外寒鬱遏而始反戾也。大抵霍亂寒熱相搏者多，雖知其為寒為熱，亦須反佐以治，蓋即此理。謝城。）</p>
<p>鄭鳳梧年六十餘，秋間患霍亂，凜寒厥逆，煩悶躁擾，口不甚渴。或以為寒，余察脈細欲伏，苔白而厚，乃暑濕內蘊未化也。須具燃犀之照，庶不為病所蒙。因制燃照湯與之，一飲而厥逆凜寒皆退，脈起而吐瀉漸止，隨以清滌法而愈。</p>
<p>一婦年少體瘦，初秋患霍亂轉筋，舌絳目赤，大渴飲冷，脈左弦強而右滑大，此肝胃之火素盛而熱復侵營也。以白虎湯去米、草，加生地、蒲公英、益母草、黃柏、木瓜、絲瓜絡、薏苡，一劑知，二劑已。丹溪云：轉筋由於血熱，此證是矣。</p>
<p>一丁姓者患霍亂，苔色白薄而不渴，但覺口中黏膩。彼自知醫，欲從寒濕治。余曰：中焦原有寒濕，所以不渴。然而黏膩，豈非暑入而釀其濕為熱乎？以胃苓湯去甘術，加苡仁、川連、半夏、枇杷葉，二劑而瘳。</p>
<p>錢某患霍亂，自汗肢冷脈無，平日貪涼飲冷，人皆謂寒證，欲用大劑熱藥。余曰：苔雖白，然厚而邊絳，且渴甚，頭大痛，不可因寒涼致病，而竟不察其有暑熱之伏也。遂以五苓去朮，加黃連、厚朴、黃芩、竹茹、木瓜、扁豆，服後脈稍出，汗漸收，吐利亦緩。即去肉桂、加桂枝、滑石、甘草，頭痛吐利皆止，苔色轉黃，隨用清暑和中而愈。一少年體肥畏熱，因酷暑，晨餐酒肉後，以席鋪磚地而臥。覺即飽啖西瓜，至晚覺頭重惡寒；夜分吐瀉大作，四肢拘急，汗冷息微，時時發躁。黎明速余勘之，脈沉弱。予漿水散加吳茱萸、厚朴，投匕即瘥，改授厚朴生薑半夏甘草人參湯，數服而愈。</p>
<p>陸叟年七十餘，仲秋患霍亂，自服單方二三日，嘔吐雖已，利猶不止，且頻頻作噦，聲不甚揚，面赤目閉，小便不通。醫云：高年戴陽，證原不治，且延已數日。縱投大劑回陽，亦恐不及。余視之，脈雖虛軟，並無脫象，況舌赤而干，利下臭惡，氣分伏暑，業擾及營，慮其絡閉神昏，胡可再投熱劑。聞所煎之藥，桂氣撲鼻，試之必死。迫令將藥傾潑，遂以紫雪三分，用竹茹、枇杷葉、通草、丹參、連翹、石菖蒲、桔梗、黃芩、蘆根煎湯，候涼調而徐服。次日復診，目開噦止，小溲稍行。於前方裁紫雪，加石斛、苡仁，服二劑利減。能啜米飲矣。隨用致和湯，十餘服而瘳。</p>
<p>戊戌夏，倪懷周室新產數日，患嘔吐泄瀉，時時自汗，人皆危之。余曰：此非真霍亂也。然較真霍亂尤險，以其犯產後三禁，而脈微欲絕，亟宜峻補，遲恐無濟也。予東洋參、龍、牡、耆、朮、木瓜、扁豆、茯神、石英、酒炒白芍、橘皮為劑，四服而痊。（新產後用參、耆大補，而又當盛夏之時，非有真知灼見者，不能也。誠以天下之病，千變萬化，原無一定之治，奈耳食之徒，惟知執死方以治活病，豈非造孽無窮，亦何苦人人皆欲為醫，而自取罪戾耶。錢塘周熔光遠此證正惟產後，放膽參、耆，猶人所能及，須看其餘藥，一一合拍，蓋得效不僅在參、耆也。至此方可云峻補，然慣服補劑者，必嫌其輕。加鹿角、五味等，必貽害矣。古來多少佳方，為妄人加減，貽害者何限。）</p>
<p>王某久患吐血，體極孱易。沈琴癡拉余治之，甫得漸愈，乃庚子夏酷熱之時，陡患霍亂轉筋，大汗如雨，一息如絲，人皆謂無生理矣。余不忍輕棄，勉用西洋參、枇杷葉、龍、牡、蠶沙、木瓜、扁豆、苡仁、滑石、桑葉、石斛、豆卷，地漿煎服之，良愈。調理旬日，仍服滋補以治宿恙。</p>
<p>倡女藹金，年二十七，患時疫頗危，余為治痊矣。忽又求診，云患急痧。及察其脈甚細，而按之數緊，神極委頓，氣喘欲嘔，腮紅腹痛，舌潤。似房勞太過，寒襲奇經之男勞復也。詢得其情，遂以胡桃肉、破故紙、龍、牡、鹿角霜、菟絲、覆盆、枸杞、茯苓、小茴、當歸、韭子為方。一劑知，二劑已。若貿貿然竟作乾霍亂治，當何如耶。乾霍亂而誤投此法，又當何如耶。（臨證如神，敘證如繪，佛心仙手，其言藹然。而一片靈光，傳之紙上，效顰不易，洵是天才。仁和胡耀曾榮甫。）</p>
<p>戚媼者，年六十餘矣。自幼傭食於杭州黃蓮泉家，忠勤敏干，老而彌甚，主僕之誼，勝於親戚也。壬寅秋，患霍亂轉筋。余視之，暑也。投蠶矢湯，兩服而瘥。三日後，忽倦臥不能反側，氣少不能語言，不食不飲，蓮泉惶懼。就近邀一老醫診之，以為霍亂皆屬於寒，且昏沉欲脫，定附子理中湯一方。蓮泉知藥猛烈，不敢遽投，商之王君安伯。安伯云：且勿服也。若謂寒證，則前日之藥，下咽即斃，吐瀉安能漸止乎？蓮泉大悟，仍著人飛刺招余往勘。余曰：此高年之體，元氣隨吐瀉而虛，治宜用補。第余暑未清，熱藥在所禁耳？若在孟浪之家，必以前之涼藥為未當，今日溫補為極是。縱下咽不及救，亦惟歸罪於前手寒涼之誤也。設初起即誤死於溫補，而舉世亦但知霍亂轉筋是危險之病，從無一人知此證有陰陽之異，治法有寒熱之殊，而一正其得失者。況一老年僕媼，非賢主人，亦焉肯如是之悉心訪治乎，此病之所以不可為也。今蓮泉見姜附而生疑，安伯察病機之已轉，主人愷惻而心虛，客亦多才而有識。二美相濟，遂使病者跳出鬼門關，醫者卸脫無妄罪。幸矣！幸矣！乃以高麗參、麥冬、知母、葳蕤、木瓜、扁豆、石斛、白芍、苡仁、甘草、茯苓等，服六劑，始能言動，漸進飲食，調理月餘而健。簠齋謂余云：此餘熱未清，正氣大虛者之治法。更有不因虛而余焰復燃者，須用煉雄丹治之。</p>
<p>（是證以半癡之學問，蓮泉之厚德，安伯之見識，三美相濟，始能起九死於一生。世之執死方治活病，視僕婢如草芥，不分皂白，信口雌黃者，讀此能無愧死耶？光遠。）</p>
<p>周光遠先生歸杭定省，七月十八夜，患霍亂轉筋甚劇，倉卒間，誤服青麟丸錢許，勢益甚。侵曉召余診：脈微弱如無，耳聾目陷，汗出肢冷，音啞肉脫，危象畢呈，藥恐遲滯。請其太夫人先濃煎參湯，亟為接續。隨以參、朮、苓、芍、附、桂、乾薑、扁豆、木瓜、苡仁、蓮實為方。終劑。即各證皆減。蓋氣分偏虛之體，不禁吐瀉之泄奪。誤餌苦寒，微陽欲絕，故以真武、理中合法以復脾腎之陽。詰朝再視，脈起肢和，即裁附、桂、乾薑，加黃耆、石斛，服旬日全愈。凡吐瀉甚而津液傷，筋失其養，則為之轉。故治轉筋者，最要。顧其津液，若陽既回，而再投剛烈，則津液不能復，而內風動矣，此寒霍亂之用附、桂，亦貴有權衡，而不可漫無節制，致墮前功也。（余此番之病，危同朝露，若非半癡，恐不能救，嘗聞張柳吟先生云，使病者聽半癡論病之無微不入，用藥之無處不到，源源本本，信筆成章，已覺疾瘳過半。古云：檄愈頭風，良有以也。光遠。案中議論極精微，凡用藥皆宜具此權衡，方無過當之言。否則藥雖中病，而服之不止，反受其害，不但熱藥爾也。定州楊照藜素園。霍亂之霍，即霍疾之義，謂亂之最速者也。嘗見體素豐腴之人，一病半日，僅存皮骨，其傷人之速可知。蓋霍亂脾土先傷，脾主肌肉也。謝城。）</p>
<p>陳藝圃亦知醫，其室人於仲秋患霍亂轉筋，自診以為寒也。投熱劑，勢益甚，招朱椒亭視之，亦同乎主人之見也。病尤劇，乃延余勘，曰：此寒為外束之新邪，熱是內伏之真病，口苦而渴，姜附不可投矣。與河間法，人皆不信，再與他醫商之，仍用熱劑，卒至口鼻出血而死。（霍亂一證，近來時有，而醫皆不甚識得清楚，死於誤治極多。半癡特著專論，辨析簡當，實今日醫家首要之書。以其切於時用，不可不亟為熟讀而研究也。光遠。）</p>
<p>甲辰五月下旬，天即酷熱異常，道路卒死者甚多，有腹痛者，有不痛者。人率以香燥痧丸投之，輒無效。蓋香燥反以益熱，而此證並非陰寒濕毒之邪，即古所謂中暍也。不出戶庭之人，亦有病此者，必其人陰分素虧，內熱較甚，或居處飲食之失宜也。往往延醫不及，醫多不識其病，雖死身不遽冷，亦有口鼻流血者，是暑從吸入，直犯心臟也。時余居錢塘之髦兒橋，嘗稟先慈，令家人慎起居，薄滋味，乃六月初二日午膳後。季傑弟婦，腹忽微痛，平日貪涼，自謂受寒也。私囑女僕沽燒酒飲之，即狂瞀不安。先慈知之，命僕從四路速余回，日晡昳也。病者已口鼻出血死矣。其時新產婦人死者尤多，以陰血大去，暑熱易侵。而昧者不知因時制宜，尚扃其窗戶，幕以簾幃，環侍多人，飲以糖酒故也。粗工亦不察天時人稟之不齊，動輒生化湯，雖熱象已顯，猶誤信產後宜溫之俗說，而不知因證制方之活法，以致覆杯而斃者比比。或問當此熱地如爐，惡露不行而腹痛者，生化湯既不可服，宜用何方？余謂六一散最佳。既行瘀血，又能清熱也。設暑熱重感，雖石膏犀角，對證皆為良藥，古人何嘗禁用。余案中治愈諸條，皆可參閱，然難與淺人言也。盔頭巷姚氏婦，妊已臨月，腹中陡痛。家人謂其欲娩，急煎參湯以助其力，服後痛益甚。忙喚穩婆至，婦已渾身赤斑，喘逆昏狂，始知受暑，頃刻云亡。寶佑坊曹氏婦，亦懷妊臨月腹痛，家人以為將產而煎參湯，迨湯成痛已止，察其情景，知不即娩，然炎威甚烈，參湯久存欲壞。其姑云，婦既未娩，豈可服參以滯胎氣，我體素弱，常服補劑，參湯定亦相宜，遂飲之。甫下咽，即覺氣悶躁擾，霎時危殆，逾刻而終。後丙午、壬子、丙辰，皆酷熱傷人，不勝縷述。古人以燥熱為暑，故曰：流金爍石，況人非金石之質乎？惜世人多不察耳。不但酷暑時，胎前產後之腹痛，當細審其有無別故也。潘紅茶方伯之孫翼廷，館於外氏，酷熱異常，因啜冷石花一碗，遂腹痛痞悶，四肢漸冷，上過肘膝，脈伏自汗，神困懶言，方某診謂陽虛陰暑，脫陷在即。用大劑薑、附、丁、桂以回陽。病者聞之，益形餒憊。其叔岳許杏書茂才，駭難主藥。適族人許芷卿茂才過彼，遂與商之。芷卿雲：此藥豈容輕試，而病象甚危，必延半癡決之。時已乙夜，余往視，面色垢滯，苔膩唇紅，是既受暑熱，驟為冷飲冰伏，大氣不能轉旋，故肢冷脈伏，二便不行。所謂閉證也，何脫之云。亟取六一散一兩，以淡鹽湯攪之，澄去滓，調下紫雪一錢。翼日再診，脈見痛蠲，溺行肢熱，口乾舌絳，暑象畢呈，化而為瘧，與多劑白虎法而痊。丙午舉於鄉，杏書多才尚義，與余稱莫逆，庚申春，聞其罵賊而死，嗚呼榮矣。（認證既確，治法用辛香以通冰伏之氣，用意又極精妙，真可為萬世法程。素園。）</p>
<p>室人徐氏素無病，胃亦強，且善作勞。丙午八月朔夜，猶鐙下針黹，伴余勘書，夜分忽瀉二次，晨起為余疏發未畢，又瀉一次。因診之，脈七至而細促不耐按，略無病苦，此脈病人不病，殆不始於今日，不可救藥也。未便明言，即令安歇，密稟先慈。函致乃兄友珊，請醫商治，既而瀉頗緩。且食山東掛麵一小碗，先慈謂余太矜持矣，余方躊躇，面即吐出，灌以參藥亦不受，瀉較緊，午刻醫來，亦云無法，然尚能以乳哺女，而既吸之後，乳即癟而不起矣，形亦漸削，汗亦漸多，脈亦漸脫，音亦漸嘶，戌刻遽逝，斯人也性極賢淑，且隔屏一聽，即知客之賢否，一旦抱此絕證，知者無不悼惜，乃中氣卒然潰散，絕無僅有之候也。戊申秋仲，張春橋令弟陡患腹痛。適飽啖羊肉麵條之後，初作痧治，繼作食治，痛愈甚而大渴，然啜飲輒吐，二便不行。又作寒結治，其痛益加，呻吟欲絕，已交四日。余診脈弦數，苔干微黃，按腹不堅，非痧非食，特肝火鬱而不宣耳。以海䖳一片，鳧茈八兩，煎至䖳烊頻灌，果不吐，將余汁煎梔、連、茹、楝、知、芩、延胡、旋覆、柿蒂、枇杷葉為劑，吞當歸龍薈丸。投已，即溲行痛減，次日更衣，不勞余藥而瘳。</p>
<p>朱留耕忽於飽食後，大吐而厥，冷汗息微，厥甫回而腹痛異常，乃翁湘槎以為急痧霍亂之候也。速余往勘，脈至弦緩，口極苦渴，二便不行，乃痰滯而熱伏厥陰，肝氣無從疏泄也，予雪羹、萸、連、梔、楝、旋、茹、橘、核、元胡、蓯蓉為劑，加蘆菔汁和服，一劑痛減，再服便行而愈。</p>
<p>（痧證霍亂挾食者，必先去食，傷寒亦然，秦氏論之詳矣。然竟有病始飽食之餘，初非因食為患者，半癡嘗云：既無枵腹待病之理，豈可專以攻消為治，故臨證必審問慎思而明辨之，庶免顢頇貽誤之弊。上二案，病皆起於食後，朱證已得大吐，不從食治，人或能之。張證不吐不瀉，腹痛日甚，雖明眼臨之，不免眩惑，乃半癡獨以非痧非食斷，竟投匕果瘥，已非人所能及矣。余門人沈南臺，癸丑冬患病，亦啖羊肉麵條而起，勢瀕於危，得半癡治愈，至四十餘日，始更衣，則尤奇也，用藥如用兵，豈徒讀父書者之可為哉，仁和趙夢齡菊齋。）</p>
<p>陳嫗年已七旬，辛亥秋，患霍亂轉筋甚危。亟延余診，已目陷形消，肢冷，音颯，脈伏、無溺，口渴、汗多，腹痛、苔黃，自欲投井。因先取西瓜汁命與恣飲，方用石膏、知母、麥冬、黃柏、芩、連、竹茹、木瓜、威靈仙，略佐細辛分許，煎成徐服，覆杯而瘥。（醫者能知少加細辛之何故，則可以言醫矣。素園。此方得效，可見辨證之的。若無汗而渴者，又當別論。謝城。）</p>
<p>姊丈李華甫繼室，陡患霍亂，而兼溺血如注，頭痛如劈，自汗息微，勢極危殆，速余診視。脈甚弦駃，此肝火內熾，暑熱外侵。以犀角、木通、滑石、梔子、竹茹、薏苡、銀花、茅根、菊葉為大劑，和入藕汁，送當歸龍薈丸，而吐瀉即已，溺血亦減。惟小便時，頭猶大痛，必使人緊抱其頭，重撳其巔，始可略耐。尚是風陽僭極，肺胃不清也。以葦莖湯去桃仁，加百合、白薇、元參、小薊、蒲公英、竹葉、西瓜翠衣、蓮子心為方，和入童溺，仍吞龍薈丸，服旬日全愈。陳楚珍仲媳，陡患霍亂。云昨晚曾食冷魚，夜分病作，想因寒致病也。然臍間貼以回陽膏而不效，故敢求診。余按脈滑數，右甚，口渴苔黃，令揣胸下，果堅硬而痛，曰：吐瀉雖多，食尚戀膈，非寒證也，回陽膏亟宜揭去，以菖、枳、蘇、連、芩、桔、茹、牛、海䖳、蘆菔為劑，一服而瘳。婦兄吳綠園，癸丑仲夏，陡患發熱嘔吐，莖縮腹痛。亟招余診，脈弦軟而數，苔色黃膩，宜清厥陰蘊熱，非痧也。予楝、茹、連、斛、梔、柏、銀花、通草、絲瓜絡為方，一劑知，數劑愈。沈峻揚令妹，年逾五旬，體極瘦弱，始則數夜不能眠，忽一日目張不能闔，淚則常流，口閉不能開，舌不能伸，語難出聲，飲不下咽，足冷便秘，筋瘛而疼，身硬不柔，胸膈板悶，或謂暑痧重感，慮即虛脫。余視之，苔黃不渴，脈來弦細軟澀，重按如無，然神氣不昏，身不發熱，非暑痧也。二便艱澀，咽膈阻悶，非脫證也。殆由情志鬱結，怒木直升，痰亦隨之，堵塞華蓋，故治節不行，脈道不利也。但宜宣肺，氣行自愈。以紫菀、白前、兜鈴、射干、菖蒲、枇杷葉、絲瓜絡、白豆蔻為方，一劑知，四劑愈。（證者，證也，如斷案之有證據也。然證有真有偽，有似是而非，以致恆為所眩，如此案辨暑脫，則得其證矣。素園。證極危而方甚輕，其效乃如神，全由辨證之的。謝城。）</p>
<p>蔣敬堂令堂，年七十四，陡患嘔瀉，身熱腹痛，神思不清。或以為霍亂，或慮其虛脫。迎余診之，脈微弱而數。曰：暑脈自虛，不可以高年而畏脫，辛散痧藥，則不免耗傷其津液，爰定芩、連、滑、斛、茹、柏、銀花、竹葉、橘皮、枇杷葉之方，冬瓜湯煎，一劑而熱退神清，再劑霍然，敬堂慷慨多情，知醫施藥，余契友也。庚申春，聞其爭先拒兵，竟以被戕。惜哉。徐德生家一婢，年十七矣。陡患腹痛，稍一言動，則痛不可支，以為急痧中惡，遍治不應。飛請余往，尚以丹雄雞強伏其心下，然神色如常，並不吐瀉，脈來牢澀，苔色膩黃，乃多食酸甘而汛阻也。詢之果然，以桃仁、紅花、生蒲黃、靈脂、香附、延胡、芍藥、海䖳、蘆菔為方，送龍薈丸，遂愈。陳喆堂令郎子堂，甲寅春，連日勞瘁奔馳之後，忽然大便自遺，並非溏瀉，繼言腹痛，俄即倦臥不醒，及喚醒，仍言腹痛，隨又沉沉睡去，或以為痧，或以為虛，邀余決之，身不發熱，二便不行，舌無苔而渴，脈弦澀不調，非痧非虛，乃事多謀慮而肝鬱，飢飽、勞瘁而脾困，困而食滯於中也。予檳、枳、橘、半、楂、曲、菔、楝、元胡、海䖳，服二劑，痛移臍下，稍覺知飢，是食滯下行矣。去楂、曲，加梔、芍，服一劑，更衣而愈。（此證不難於認食滯，而難於認肝鬱，且當勞倦後見嗜臥證，不以為痧，必以為虛，而兼用參朮以顧脾胃，如此則肝愈不舒，而變證作矣。半癡用藥至輕，而奏效至捷，良由手眼雙絕。素園。余嘗問半癡曰，既肝鬱於上，而食不下行矣，何以干矢自遺而不覺乎。半癡謂胃與大腸，原一氣相貫，惟其食滯於胃而不化，似與大腸氣不相貫。故廣腸宿糞出而不覺，經云：中氣不足，溲便為之變，是亦變也。所謂不足者，非言中氣虛也。以中氣為病所阻，則不足於降濁升清之職，故溲便為之改常也，余聞而折服其善讀古書，宜乎臨證之神明變化，令人莫測也。因思霍亂之吐瀉無度，乾霍亂之便秘不行，皆變也，皆中氣為病所阻，而不足於降濁升清之職也，設泥不足為虛，則諸霍亂皆當補中氣為治矣，於是益嘆半癡闡發經旨為不誣。菊齋。此說與前釋邪之所湊，其氣必虛之說，可以互證，謝城。）</p>
<p>姜秋農瘧瀉初痊，遽勞奔走，陡患霍亂轉筋，面臂色紫，目陷音嘶，胸悶苔黃，汗多口膩，神疲溲秘，脈細而弦。余以沙參、蠶矢、苡仁、竹茹、半夏、絲瓜絡、木瓜、車前子、扁豆葉，陰陽水煎，送左金丸一錢，外以吳萸一兩研末，調塗湧泉穴，服後吐瀉漸止。噫氣不舒，呃忒脅痛，汗減口燥，脘下拒按，脈軟而弦，以素多肝鬱也。去沙參、蠶矢、木瓜、車前、左金，加紫菀、鬱金、楝實、通草、枇杷葉，二帖。溲行呃止，苔退足溫，腰脹腿痛，手紫漸淡，去郁、菀、通、楝，加沙參、石斛、蘭葉、鮮藕、稻露，亦二帖。脈和脹減，啜粥口咸，體素陰虧也，去半夏、扁豆葉，加歸身、花粉、橘皮，又二帖。大解行而安穀，腰痠少寐，為易西洋參，加麥冬、羊藿以調之。數帖後，又加枸杞、杜仲而愈。（此本虛標實之證，須看其先後用藥之法。琴仙。此證頗急，淺術必至張皇失措，半癡遊刃有餘，治標而不犯其本，用藥與病機宛轉相赴，於此服其識之老。素園。）</p>
<p>仲韶弟主於葉氏，乙卯新秋，陡患洞瀉如注，即渾身汗出如洗，懨懨一息。夤夜速余往勘，脈來沉細，身不發熱，儼似虛寒之證，惟苔色黃膩，小溲全無，乃濕熱病也。予桂苓甘露飲加厚朴，投匕而瘳。丙辰仲夏，遊武林，仁和胡次瑤孝廉婦，陡患肢麻昏暈，以為急痧，速余視之。面微紅，音低神憊，睛微赤，苔色微黃，足微冷，身微汗，胸微悶，脈微弦。乃本元素弱，謀慮縈思，心火上炎，內風隨以上僭。豈可誤作痧閉，妄投香散之藥哉。以人參、龍、蠣、菖、連、石英、麥冬、小麥、竹葉、蓮子心為方，兩啜而瘥。尋予平補善其後。次瑤醇謹博學，與余交最深，久欲卜居結鄰而未果，庚申之變，率妻妾登舟，將來海昌，城閉不能出，與兵遇，並一幼女殉節於河，可哀也已。季傑之妾，秋夜陡患霍亂，腹痛異常，診其脈細數而弦，肢冷畏寒，蓋覆甚厚，詢其口不渴，而瀉亦不熱，然小便全無，吐者極苦，舌黃甚赤。新涼外束，伏暑內發也。絳雪、玉樞丹灌之皆不受。瀉至四五次，始覺漸熱，而口大渴，仍不受飲，語言微蹇。余令搗生藕汁徐灌之，漸能受。隨以芩、連、苡、楝、梔、斛、桑、茹、蒲公英煎服，痛即減，吐瀉亦止。改用輕清法而愈。丁巳秋，三侄壽和甫六歲，陡患凜寒身熱，筋瘛面紅，譫妄汗頻，四肢厥冷，苔色黃膩，口渴唇紅，時邪夾食也。以枳實梔豉湯加菖蒲，及冬干蘆菔菜。煎成，調入玉樞丹五分灌之。次日譫瘛皆減，而腹痛吐瀉，邪欲轉霍亂以外泄也。余嘗謂不但傷寒可轉霍亂，而溫熱暑濕，皆可轉霍亂也。治當迎刃而導之，於前方加蘇葉一分，黃連二分，同炒煎服。連吐三五次，瀉六七次，痛即減。第三日神始爽慧，然去疾莫如盡，再服原方一劑，遂愈。凡小兒之病，因於食滯者多，胃不和則臥不安，陽明實則譫瘛。若吐瀉乃病之出路，而世人動輒以驚風藥治之，每致僨事。昧者更惑於巫瞽，而祭非其鬼，尤可嗤也。余居渟溪七載，家人雖屢患大證，未嘗一用巫瞽，亦未傷人，鄉人目以為異。庚申秋，季傑之病甚危，壽萱侄求籤於觀音，大凶，其妾欲事祈禱，餘力止之，卒以治愈。附識之，以戒我後人。辛酉秋，余息濮院，盛行霍亂轉筋之證。一男子胸次拒按，余以蘆菔子、枳實、檳榔等導之。又某赤膊不容蓋覆，猶云五內如焚，目陷音嘶，苔黃大渴，而啜飲即吐，肢厥脈伏。市醫令服薑湯一杯，幸不受。適余至，亟取冷雪水，命將小匙徐灌之，遂不吐。更以石膏、黃連、知母，瀉其逆沖之火而愈。錢某患霍亂，兼吐蛔十餘條，而口乾脈細，是暑伏厥陰，以犯中也。以連、梅、茹、楝、苡、斛、蘇、芩清之而愈。陳某患霍亂，而所下皆血，苔黃大渴，而舌色紫黯，乃暑毒深伏。起病時，又飲燒酒也。用犀角、益母、地丁、茅根、菖蒲、綠豆、銀花、芩、連、黃柏、藕汁大劑灌之。皆投匕而瘥。一婦積虛患時症，汗出如浴，形脫聲嘶，脈微欲絕，為亡陽之候。予附子理中湯加白芍、茯苓、木瓜、苡仁、蠶沙。而汗收脈起，隨去薑、附，加黃耆，證漸平。去蠶沙，加橘、半，調補而安。劉氏婦患病，已兩月不納穀矣。忽吐瀉轉筋，舌光聲啞，氣液兩亡也。亟以人參、炙草、石脂、餘糧、龍、牡、斛、芍、木瓜、烏梅、冬蟲夏草為方，服兩劑，音開脈續，諸證皆平。所親沈則甫，按法調補而瘳。吳氏子患此，脈微弱，舌色淡紅，口微渴，此本虛邪不盛也。宜清解藥中，加參以扶正氣，則甫亦如法施治而愈。</p>
<p>今年三月間，呂君慎庵言一童子在鄰嬉戲，陡然吐瀉轉筋，歸家即斃。余以為偶然有此一證耳，既而聞患此證者漸多。四月初，有餘杭紙客，在舟次病此，抵濮院，乞余診。已舌卷囊縮，形脫神離，不可救藥矣。口開苔黑，詢中途並未服藥。竊謂此病之盛行，多在夏秋暑濕之時，何以今春即爾。諦思其故，暑濕既可伏至深秋而發為霍亂，則冬傷於寒者，至春不為溫病，亦可變為霍亂也。雖為溫病之變證，而溫即熱也，故與伏暑為病，不甚懸殊。或曰：此揣度當然耳。仲聖但有五苓、理中治傷寒轉霍亂法，未有治溫病轉霍亂之法，何耶？余謂古書傳兵火之餘，難免遺亡之憾，一隅三反，在讀者之善悟焉。且細繹仲聖書，亦未嘗不微露其意也。曰：太陽與少陽合病，自下利者，與黃芩湯。若嘔者，黃芩加半夏生薑湯主之。張石頑注云：溫病始發，即當用黃芩湯去熱為主。若傷寒必傳至少陽，熱邪漸入里，方可用黃芩佐柴胡解之。蓋黃芩湯乃溫病之主方，即桂枝湯以黃芩易桂枝而去生薑，以桂枝主在表風寒，黃芩主在裡風熱，乃不易之定法，其生薑辛散，非溫熱所宜，故去之。此表裡寒熱之不可不知者也。周禹載注云：明言太少二陽，何不用二經藥，非傷寒也。傷寒由表入里，此則自內發外，無表何以知太少二陽，或脅滿，或頭痛，或口苦引飲，或不惡寒而即熱，故不得謂之表也。如傷寒合病，皆表病也，今不但無表，且有下利里證，傷寒協熱利，必自傳經而入，不若此之即利也。溫何以即利？其人中氣本虛，內伏已深，不能盡泄於外，勢必下走利矣。</p>
<p>雄案：此論溫邪外發未久，即可下走為利。本文更有若嘔者句，豈非溫病可轉霍亂，早逗端倪於此乎。曩纂《溫熱經緯》，於此條下附註云：少陽膽木，挾火披猖，嘔是上衝，利由下迫，何必中虛始利，飲聚而嘔。半夏生薑，專開飲結，如其熱熾，宜易連茹。楊素園先生評云：此注精當，非前人所及。今治溫病轉為霍亂者，似當奉此以為法也。慎庵聞之，極為折服，再質宗匠，還望有以教我。（愚意此證梔子似亦可用，輕者亦可不必黃連，未知是否，惟大棗太守，必宜去之。謝城。）</p>
<p>五月初三日，余抵上洋，霍亂轉筋，已流行成疫。居鎮海周君採山家，不謁一客，藉以藏拙，且杜酬應之勞也。初八日，紹武近族稼書家，有南潯二客，同患此證。一韓姓，須臾而死，一紀運翔，年十七，勢亦垂危。採山強拉余往視曰：豈可見死而不救哉？然已手面皆黑，目陷睛竄，厥逆音嘶，脈伏無溺，舌紫苔膩，大渴汗淋，神情瞀亂，危象畢呈。時未交芒種，暑濕之令未行，仍是冬寒內伏，春令過冷，入夏猶涼，氣機郁遏不宣，故欲變溫病者，皆轉為此證。與伏暑為患者，殊塗同歸。但不腹痛耳，以寒邪化熱，究與暑濕較異也。亟令刺曲池、委中，出血如墨。方以黃芩為君，臣以梔、豉、連、茹、苡、半。佐以蠶矢、蘆根、絲瓜絡，少加吳萸為使。陰陽水煎，候溫徐徐服之，遂不吐。次日，脈稍起。又兩劑，黑色稍淡，肘膝稍和，反加睛赤煩躁，是伏邪將從外泄也。去吳萸、蠶矢，加連翹、益母草、滑石、而斑發遍身，苔始漸化，肢溫得寐，小溲亦行，隨與清搜化毒之藥，多劑而痊。採山因囑余詳述病因治法，刊印傳布，名其方曰黃芩定亂湯。嗣治多人，悉以此法增損獲效。如利泰一洞庭史客，素吸洋菸，而患此證。與此方數帖後，反便秘目赤，渴、汗、昏狂。亦是久伏之邪，漸欲外越也。予竹葉石膏湯加減而瘳。其濕盛者，加茵陳、滑石；氣實者，加枳、桔；飲阻食滯者，加厚朴、蘆菔；肝鬱氣結者，加紫蘇、楝實；口渴用茅根湯。或藕汁頻灌。活法在人，不能縷述。紹武在屠甸市，得余此方，勸人合藥施送，幾及千料云。（此方加減有法，較前尤妥善也。謝城。）</p>
<p>夏至後仍無大熱，而霍亂轉筋不息，雖與芒種以前者，同為伏邪所發，然證因略有不同，其病似較深一層。何也？按先曾祖《重慶堂隨筆》云：溫病、熱病、濕溫病，治不得法，皆易致死。流行不已，即成疫癘，猶之治盜不得其法，則賊黨日眾，變為流寇也。因熱氣病氣屍氣，互相轇轕，即成毒癘之氣而為疫.豈真天地之間，另有一種異氣哉。故疫之流行，必在人煙萃聚之區。蓋人氣最熱，紀文達公雜詩云:萬家煙火暖云蒸，銷盡天山太古冰。自注：烏魯木齊自設郡縣以來，嬰兒出痘，與內地同，蓋彼處氣候極寒，今則漸同內地，人氣盛也。紀氏此言，可謂獨窺其微矣。上古無痘，至漢始有，今時罕有不出痘者。以生齒日繁，地氣日熱，所以古人最重傷寒，今世偏多溫熱也。雄案：此段名言，括盡近世病情，治時證已無餘蘊矣。而於此日上海病因，尤為切貼，地氣既日熱，穢氣亦日盛，加以疫氣屍氣，與內伏之邪，欲化熱病而不得者。卒然相觸，遂致濁不能降，清不能升，揮霍悶亂，而為吐瀉轉筋之危證。是伏邪欲發，客邪外入，兩邪交訌，腸胃乃亂。故氣道立時閉塞，血脈因而瘀滯，四肢厥冷，手面皆黑。陽明多氣多血之經，見證若是之驟者，非氣血忽然枯槁也。夫人氣以成形耳，氣不流行，血肉即死。故初起亟宜開閉，俾氣通血活，邪得外泄，則正自復。昧者，不知邪閉血凝，熱深厥深之理，見其肢冷脈伏，即以為寒，又疑為脫，即不敢刺，更投熱藥，使邪無宣泄，愈閉愈冷。尚謂服此熱藥，一身盡冷，可見黍谷春回之不易，再遇此證，仍用此法，死者之冤，無可呼籲。雖有七竅流血而死者，亦不悔悟，亦有邪閉，則正氣無以自容而外脫者。陽從上脫，則汗多而氣奪；陰從下脫，則瀉多而液亡。所謂內閉外脫也。欲其不外脫，必開其內閉，如紫雪、絳雪、行軍散，皆開閉透伏之良方也。而飛龍奪命丹，即合行軍、絳雪二方而加峻者，且有人中白引濁下行，尤具斬關奪命之能。上虞陳君香谷聞之，概為制送，囑余詳敘方治刊布，因而救全不少，厥功偉哉。自紀運翔之證治愈後，凡患此者，紛紛踵門求診，情不能已，徼倖成功者，頗多。然夏至以後，病由內外合邪，其勢更劇，故必先以奪命丹開其閉伏，愈後變證不一，然隨機而應，甚費經營，非比往年之霍亂，雖系危證，但得轉機，即可霍然也。其故良由流離困苦，失志勞神，先有內傷，遂多曲折，故愈後調理，極宜詳慎。而上海多懋遷竄難之人，病得轉機，往往大意。所謂病加於小愈，因而致墮前功者不少。如餘杭褚子耘茂才，余親家也。其使女患此，已身僵矣，適余往訪知之，遂以香谷所贈奪命丹二分，囑其灌入，頃刻活動，隨予解毒活血湯，數服得生。嗣余往返崇明，聞其仍淹纏不健而亡。一王大生煙鋪夥友，余治愈後，已溺行能食，餘熱外泄，滿面赤瘰，忽然神氣瞀亂而死。一澧記錢鋪石某，余為治愈，二便已如常矣。越數日，云：飲食不得下，戴眼呃忒而逝。一綠蔭書坊陶姓，業已向愈，忽然神情恍惚，藥不及救，此麗云為余述者。又四明陳解香之弟，患此垂危，延余治愈，遂不服藥月餘，復來請勘，已咽痛礙進水穀，頤腫舌糜，牙關甚緊，痰嗽脅疼，溺赤管痛，便溏色醬，此餘毒蘊隆，失於清解，遂致燎原若此。是限於貧困，養癰成患。而脈已弦緊數疾，莫可措手，久之果斃。並錄為案以為賈旅告。或云：此地藥肆甚忙，每致誤付，病者誤服驟變，彼此不知，醫家、病家，皆須留意。嗣閱《冷廬醫話》云：吾邑陳莊李氏子患霍亂，醫定方有製半夏二錢，藥肆中誤以製附子與之，服後腹大痛，發狂，口中流血而卒。李歸咎於醫，醫謂用藥不誤，必有他故。索視藥渣，則附子在焉，遂控於官，罰藥肆以金和息之。觀此則或人之言尤信，然此案若病家良懦，隱忍而不言；醫者惶窘，走避而不辨；或藥渣棄無可證。則此獄雖皋陶莫斷矣。服藥可不慎哉。</p>
<p>朱鳴岐，患下利轉筋，醫見肢冷，即投溫補。而服藥即吐，既而呃忒不已。溫補加峻，病日以危，延至九朝，已萬無生理，備後事矣。子耘主其家，囑請余援，脈至左弦滑，右弱不應指，苔黃厚而膩濁，小水不行，臍上拒按。因謂曰：病原不重，誤藥致劇，命不應死，幸而得吐，否則早為泉下人也。予枳、桔、芩、連、茹、夏、蘇、翹、蘆根、枇杷葉、滑石，開痰行食，舒結通陽，兩劑呃果止，而遍身赤斑。又兩劑燥矢下，而苔化溺行，右脈漸振，隨與清肅調養法而瘳。</p>
<p>勘朱證時，適子耘令弟子方茂才在座。曰：如此重證，君胡以為病原不重也。余謂世間重證，大半因誤治而成，此證若初治得法，一二劑可愈也。奈舉世以瀉證、吐證、霍亂證、霍亂轉筋證、皆為寒證，往往不察病情，輒投熱藥，今見肢冷而右脈軟弱，彼方以為虛寒的據。況服藥即吐，呃忒隨來，以霍亂轉筋而見呃忒，何暇更問其餘。皇皇然以為虛脫之象，故溫補日以加峻。縱使一蹶不起，病家無怨，醫者不悔也。每見此地市醫臨證，雖極輕之病，必立重案，預為避罪邀功之地，授受相承，伎倆如是，良可慨已。此外如胸腹疼痛，瘧疾哮喘，經阻產後等證，世俗亦多指為寒病，雖以熱藥殺之，而彼此不知者，而呃忒則尤多枉死焉。余嘗治一角妓，患呃累日，破身太早，固是虛證。然血去陰傷，豈可反以溫燥助熱。遂致下焦不攝，素性畏藥。余用一味雞子黃，連進數服而安。吳竹溪時感將瘥，患呃三日，聲聞於鄰，人皆危之。予通府行氣法，便行痰吐而痊。南潯朱君浦香，年五十六，自幼患童勞，繼以吐血，三十外即絕欲得延至此。而平素便如羊矢，其血分之虧如是。今秋陡患呃忒，連服滋鎮溫納之藥，勢瀕於危。陸定圃進士，囑延余診，脈至弦滑搏數，苔黃厚而膩，口苦溺赤。遂力排眾議，主大劑涼潤，如雪羹、蔞仁、竹瀝、枇杷葉、蘆根、元參、紫菀、射干、兜鈴、菖蒲等多劑，連下赤矢始瘳。如此衰年虛體，尚因痰熱致呃，故虛寒之呃，殊不多見，而醫者不知辨證察脈，率以丁香、薑、桂為不祧之藥。何哉？謝氏婦，懷孕五月，便瀉四日，醫投薑、附、桂、樸藥一帖。遂四肢麻冷，氣塞神昏，溺閉汗淋，大渴嘔吐。急延余援，脈未全伏，先飲以醬油湯，吐漸止。隨予參、連、芩、柏、茹、斛、銀花、扁豆葉、蒲桃干、蘆根、綠豆，以冬瓜湯煎，徐徐溫服。外用炭醋熏之，各恙皆瘥。次日，脈弦滑，瀉未止。以白頭翁湯加參、草、銀花、扁豆、蒲公英、蒲桃干、砂仁，兩劑而痊。</p>
<p>婺源詹耀堂子，年二十，患霍亂，服薑、桂數劑，瀉不止。素吸鴉片，疑為虛漏，補之，瀉益甚。始延余視，大渴而脈弦數。幸而起病不因暑熱，然陰分素虧，雖飲冷貪涼，熱藥豈堪過劑，設無便瀉以分其藥力，則津液早枯矣。予白頭翁湯合封髓丹，加銀花、綠豆、石斛，一劑知，二劑已。</p>
<p>余赴申時過石門，吳君仁山在濮院，承其關切曰：毗陵張仲遠觀察，秀水楊嘯溪孝廉，皆已自楚至申，句當公事，君可往訪也。余感其意，唯唯而謝，緣久聞張氏家學淵源，雖閨閣皆通翰墨，然向見其宛鄰書屋醫書數種，似偏尚溫補者。曾與故人太倉王子能參軍言之，子能亦善醫。嘆曰：人之才識學力，各有能至不能至，不可強也。王半山不入相，即是伊川一流，秋壑鈐山，能甘恬退，不失為風雅之人。陽明先生勳業燦然，後人惜其多了講學一事。若張氏者，何必談醫，世人信其學問，而並信其醫，因而貽誤者實多。余弟季旭，仲遠之妹婿也。即為其所誤。噫！言猶在耳，子能已下世十餘年矣。乃嘯溪為仲遠來索余書，余推故不與。嗣聞仲遠之子患霍亂，徑投六君子湯一劑而已。是泥於扶正卻邪之說，猶之寇來不戰，但知守城，卒以自斃耳。秋間仲遠亦亡，後蔣寅昉大理信來，頗以余求書不與為是。昔某侍郎督學吾漸，亦以上工自命，嘗浼邵位西樞部求書，余亦不與。所謂道不人談免俗譏，備錄為案，願世人毋輕言醫，事必量而後入也。</p>
<p>錢塘姚歐亭協轉，復宰崇明。聞余在滬，新秋囑余弟𡸅庵比部持函聘余往遊，以初夏偶患大瀉，後苦脾約，更旬始一更衣，既而匝月一行，甚至月餘一行，極其艱滯，而先硬後溏，汗出神憊。年逾六秩，步履蹇滯，雖廣服人乳及潤導諸藥，率不效。間或納食如梗，嘔吐酸辣，六脈遲軟，苔色白潤不渴，小便清長，腹無脹痛，此真中氣不足，溲便為之變也。豈腸燥便秘，可以潤藥濡之哉。既不宜潤，更不可下，以中虛開闔無權，恐一開而不復闔，將何如耶？亦不可升提。蓋吐酸食梗，已形下秘上衝之勢。又素吸洋菸，設一闔而竟不開，又將何如耶？爰以參、朮、橘、半、旋、芍、雞金、木瓜、枇杷葉為方，服六劑，更衣兩次，解四彈丸。又三劑，解十五六丸。又三劑，下九丸而始暢，並不堅燥，亦無溏矣。毫不怯力，是藥證已符，為留調理法而別。設或吐酸食梗，則暫用參、連、橘、半、旋、茹、蘇葉、枇杷葉、紫石英以清肅鎮息之。八月初，秋陽正烈，歐亭因公來申，久住舟中，從者皆病。況久虛初愈之體乎。初七日，忽然身熱嘔瀉，哲嗣小歐別駕，急速余勘。白苔滿布，神憊不支，腹痛汗頻，音低溺澀，先予參、連、夏、樸、茹、滑、苡、蘇、蠶沙、扁豆葉二劑，熱退神清。而左脈仍弦，關上高，嘔酸無寐，手足振惕，客邪雖解，土受木乘也。去滑、樸、蠶沙、扁豆葉，加茯神、蛤殼、紫菜、綠豆、白蔻仁。三劑。苔化能眠，知飢瀉減，去蔻、蛤，加菖蒲、白朮，五劑而痊。霍亂之開闔失常，中樞為邪所亂也。此證之開闔無權，中虛不能主持也。一實一虛，正可互勘，至愈後之嘔瀉振惕，又為風暑乘虛擾中之霍亂證，故詳列拙治，統質通方。</p>
<p>汪謝城孝兼，招勘婺源石雨田司馬令慈，年近五旬，陡患霍亂轉筋，苔黃大渴，神情煩躁，證屬伏暑，脈頗不惡，而渾身冷汗，搖扇不停，已為陽越之象，不敢與方。尋即告殞，此憑證不憑脈也。次日，簠齋薦視朱君巽泉之尊人，年已六旬，患霍亂轉筋，證不甚劇，問答音清，而脈微欲絕，亦決其不治，已而果然，此憑脈不憑證也。汪金皆善醫，皆以余言為不謬，逾半月，簠齋於丙夜患此證，刺出黑血，侵曉速余往視，形脈兩脫，大汗如淋，目陷音嘶，溺無苔膩。平素嗜飲少谷，好善忘勞，暑濕蘊中，正氣潰散，勉投參藥，竟不能救。惜哉！因挽以一聯云：飄泊正無聊，感廿載神交。萍聚申江，將檢殘編求品鑑，考終原是福，徑一朝仙去，風淒秋夜，那堪衰鬢喪知音。</p>
<p>次女定宜年二十，體實耐勞，適同邑戴氏。初旬接女夫信云：女於八月二十三日，忽患痛瀉，肢冷脈伏。崔某進附子理中湯加減，瀉不止而苔黑唇燥，頗露熱象。改投犀斛生脈散等藥，形漸脫。又用附桂八味湯，遂於二十九日舌焦如炭而逝。彌留時語婿曰：吾父在此，病不至是也。噫！據此病情，是伏暑也。戴氏為積德世醫家，余曩刻業書十種，渠處皆有，竟使誤藥而亡，良可慘已。郵挽一聯云：垂老別兒行，只因膳養無人，吾豈好遊，說不盡憂勤惕厲底苦衷。指望異日歸來，或藉汝曹娛暮景，瀕危思父療，雖曰死生有命，爾如鑄錯，試遍了燥熱寒涼諸謬藥，回憶昔年鞠育，徒傾我淚灑秋風。嗚呼！良朋愛女，同病同日而亡，斯重訂之役，尤不可已矣。並附挽言，一以志交情，一以志藥誤也。霜降前，水北族侄棋偕，邀勘所親蔣君循庵之媳，患霍亂轉筋，交三日矣。厥逆目竄，膈悶無溺，苔黃苦渴，脈極弦細，屢進桂、附、薑、術，氣逆欲死。予昌陽瀉心湯加減，煎成徐服。外以吳萸研末滷調，貼湧泉穴。服二劑，吐止足溫。去蘇樸，加楝、斛、蒲公英多劑，始痊。蓋伏暑挾素盛之肝陽為病，誤服溫補，以致遽難廓清也。禾中方氏女，播遷三載，秋仲抵申。患吐瀉，其戚錢伯聲孝廉邀余視之，一藥而瘥。既而患腫，因在旅寄，竟不調治。交霜降，腫忽消，不數日。又患霍亂，即神氣瞀亂，屋中盤走，口呼姊姊，乃姊強納之臥，兩目旋轉不停，淚涔涔下，牙關即緊，欲延余診，竟不及也。伯聲詢故，余曰：此流離困苦，憂鬱深沉，木土相乘，吐瀉而腫，節交霜降，氣肅腫消，郁無所宣，直凌脾胃，吐瀉陡作，木火勃升，狂走目張，陽從上越，此情志內傷霍亂也。故告危如是之速。南潯沈春泉，年五十七，立冬前五日，食蟹面後，陡患霍亂轉筋，所吐瀉者皆水。初進桂附藥，筋轉益甚，周身微汗，神倦懶言，指漸冷，脈漸伏，時欲太息。更方，用牡蠣一兩，龜版八錢，阿膠四錢，服後勢較劇。延余視之，苔黃大渴，小便全無，瀉出極熱，心下拒按，伏暑挾食之證，不知何所見而予燥補澀膩之藥，乃病家謂其品學書畫甚優，故深信而不疑，竟以不起，可憐又可笑也。嗣聞其次郎，於立冬後亦患此證，醫知伏暑，用黃連等藥，吐瀉已止。因脈未遽起，不知為伏熱不清，改投附桂等三帖而亡，尤可哀已。上虞羅吉人，立冬前，患霍亂轉筋，子耘知其陰素虧，病由伏暑也。服藥已得轉機，數日後，漸有呃忒。延余視之，脈弦數，左甚，苔焦而渴，齦衄脘悶，便溏色醬，小便短赤，皆伏暑未清，氣機阻塞之象。既失清肅，乃當臍尚帖回陽膏，屢囑揭去而不從，後聞不起，此非敗證，余深惜之。</p>
<p>南潯張二梅，年逾六旬，秋間患霍亂轉筋，醫見高年而厥逆多汗，擬進溫補，張不敢服。但用平淡單方，及外治法而瘥。然從此大便不堅，時時自汗，遍身瘡疥，畏熱異常。延至立冬後，邀余診之，脈甚滑數，口渴苔黃，便溺皆熱，猶著袷衣。是賦質偏陽，濕熱內盛。幸而畏進溫補，得以引年，與大劑清化法漸愈。又今年患疥者，舉目皆是，所謂遍地瘡痍，洵非虛語。外治之方甚多，而平善者罕效。更有治不得法，瘡驟愈而變證，遽隕其生者。毒陷內訌也。子耘傳一方頗佳，以麻黃一兩，川椒五錢，蛇床子五錢，斑蝥七枚，雄豬油或柏油熬透去渣，另用明礬、黃柏各一兩，蓖麻子、大楓子各四十粒，共研末，入油內，絹包，擦患處，能拔蘊毒伏邪。未出旬日可愈。無後患，此與火酒摩轉筋之義正同，勿以藥猛而訾之，故附錄於此。無徵不信，有法可師，爰採群書，南針是仰，然病情之幻伏，猶敵情之譎觚，似是而非，云非恰是，千態萬狀，莫可端倪。謬以身經，附為夢影。蓋時移事易，境似炊粱，而比燭擬槃，癡同捫龠。或竹頭木屑，亦大匠所需。敢質通方，毋嗤瑣陋，故列醫案第三。</p>

<h2>藥方篇第四</h2>

<h3>藥性</h3>
<p>原蠶沙　諸霍亂之主藥也。</p>
<p>黃芩　溫病轉霍亂之主藥。凡吐下而熱邪痞結上焦，胸次不舒者，並可與黃連、半夏同用。</p>
<p>石膏　暑熱霍亂之主藥。凡吐利而苔黃大渴者，並宜用之。外挾風寒者，佐以紫蘇、桂枝、香薷、生薑之類。</p>
<p>內挾痰滯者，佐以厚朴、半夏、菖蒲、橘紅之類。下兼寒濕者，佐以防己、細辛、海桐皮、威靈仙之類。</p>
<p>滑石　濕熱霍亂之主藥。熱甚者，佐石膏；濕甚者，佐茵陳。</p>
<p>薏苡仁　霍亂轉筋、溺秘者之主藥也。</p>
<p>木瓜　霍亂轉筋、溺不秘者之主藥也。</p>
<p>香薷　夏令浴水，迎風而霍亂之主藥也。</p>
<p>扁豆　中虛而暑濕霍亂之主藥也。</p>
<p>西洋人參　虛人霍亂之主藥也。</p>
<p>枳、桔、蘆菔子　停食霍亂之主藥也。</p>
<p>梔、豉、石菖蒲　穢濁霍亂之主藥也。</p>
<p>楝實、黃柏、桑葉、絲瓜　霍亂而肝火盛者之主藥也。</p>
<p>茅根、地丁、益母、蒲公英　霍亂而血分熱熾之主藥也。</p>
<p>竹茹、石斛、蘆根、梔子、枇杷葉　霍亂嘔噦之主藥也。</p>
<p>厚朴、蘆菔、大腹皮　霍亂脹滿之主藥也。</p>
<p>茵陳、連翹、綠豆皮、絲瓜絡　霍亂身黃之主藥也。</p>
<p>通草、車前、海金沙　霍亂無溺之主藥也。</p>
<p>綠豆、銀花、竹葉、黃連　霍亂誤服熱藥之主藥也。</p>
<p>旋覆、紫菀、麥糵、蘆菔子　霍亂誤補之主藥也。</p>
<p>人參、龍骨、牡蠣、甘草、石脂、餘糧　霍亂大虛欲脫之主藥也。</p>
<p>桂枝　傷寒轉霍亂之主藥也。</p>
<p>紫蘇、藿香、生薑、厚朴、白豆蔻　霍亂因外寒之主藥也。</p>
<p>吳茱萸、烏藥、砂仁、高良薑　霍亂因內寒之主藥也。</p>
<p>人參、白朮、炙甘草、蓮子　中虛而寒濕霍亂之主藥也。</p>
<p>丁香、木香、川椒、神麯、瓜果魚蟹生冷傷中霍亂之主藥也。</p>
<p>乾薑、附子、肉桂、硫黃　陽虛中寒而霍亂，及寒霍亂誤服寒藥之主藥也。</p>

<h3>方劑</h3>

<h4>臥龍丹</h4>
<p>治諸痧中惡，霍亂五絕，諸般卒倒急暴之證。</p>
<p>西牛黃　飛金箔（各四分）　梅花冰片　荊芥　羊躑躅（各二錢）　麝香當門子（五分）　硃砂（六分）　豬牙皂角（一錢五分）　燈心炭（二錢五分）</p>
<p>九味共研細，瓷瓶密收，毋使泄氣。以少許搐鼻取嚏。垂危重證，亦可以涼開水調灌分許。並治癰疽發背，蛇蠍蜈蚣咬傷，用酒塗患處。</p>
<p>按：羊躑躅，俗名鬧羊花，辛溫大毒，湯不入劑，只可用以取嚏。近目即昏翳。今肆中臥龍丹，以此為君藥，又去牛黃而加蟾酥，減輕燈心炭，而冰麝不過略用些須耳。故藥力大遜，甚不可恃。好善者必自配製也。（案冰片近日有一種洋冰，以樟腦升提者，性熱萬不可用）</p>
<p>又方</p>
<p>西黃（六分）　梅片　當門子　北細辛（各一錢）　牙皂　羊躑躅（各二錢）　燈心炭（一兩）</p>
<p>七味制如上法，主治亦同。</p>

<h4>立效丹</h4>
<p>治同上。</p>
<p>硃砂（三兩）　明雄黃　硼砂（各一兩八錢）　梅冰　當門子（各九錢）　火硝（六錢）　蓽茇　牛黃（各三錢）</p>
<p>八味共研細，瓷瓶緊收，勿令泄氣，每用分許，蘆管吹入鼻內。若卒倒氣閉重證，則七竅及臍中均可放置，立蘇。凡暑月入城市，抹少許於鼻孔，可杜穢惡諸氣。</p>

<h4>開關散</h4>
<p>治番痧臭毒，腹痛如絞，氣閉神昏欲絕之證。</p>
<p>燈心炭（一兩）　羊躑躅（三錢）　北細辛　杜蟾酥　牙皂（各二錢）　牛黃　梅片　當門子（各一錢）</p>
<p>八味共研細，瓷瓶緊裝，毋令泄氣，每少許吹鼻，得嚏即生。</p>

<h4>速效丹</h4>
<p>治諸痧手足麻木，牙關緊急，目閉不語，胸背有紅點，或咽腫心痛，及風餐露宿寒暑雜感危急之證。</p>
<p>北細辛　牙皂（各三錢五分）　硃砂（二錢五分）　廣木香　陳皮　桔梗　貫眾　薄荷葉　防風　製半夏　甘草（各二錢）　枯礬（一錢五分）　白芷（一錢）</p>
<p>十三味，共研細末，瓷瓶緊裝，每用三分，吹入鼻孔，寒濕內盛而病重者，開水調服一錢。方內入蘇合香二錢尤妙。按：痧藥方，藥品珍貴者多。惟此價廉，用以搐鼻，頗亦有效。故人徐君亞枝嘗合大料，交余在淳溪施送累年，鄉人無不感頌。</p>

<h4>甘露消毒丹</h4>
<p>（天士）</p>
<p>治暑濕霍亂，時感痧邪，及觸冒穢惡不正之氣，身熱倦怠，脹悶肢痠，頤腫咽痛，身黃口渴，瘧痢淋濁，泄瀉瘡瘍，水土不服諸病。但看病人舌苔淡白，或厚膩，或干黃者，疫邪尚在氣分，悉以此丹主之。凡醫臨證，亦當准此化裁，自可十全為上。</p>
<p>飛滑石（十五兩）　綿茵陳（十一兩）　淡黃芩（十兩）　石菖蒲（六兩）　川貝母　木通（各五兩）　藿香　連翹　射干　薄荷葉　白豆蔻（各四兩）</p>
<p>十一味，不可加減，生曬研細末，瓷瓶密收，每服三錢，開水溫服，日二。或以神麯糊丸如彈子大，調化服亦可。此丹治濕溫時疫，著效亦神。累年同人合送，價廉功敏，無出此方之右者，一名普濟解疫丹。</p>

<h4>太乙玉樞丹</h4>
<p>（一名解毒萬病丹）</p>
<p>治諸痧霍亂，諸疫癘氣，喉風五絕，屍疰鬼胎，驚忤癲狂，百般惡證，及諸中毒，諸癰疽，水土不服，黃疸鼓脹，蛇犬蟲傷，內服外敷，功難殫述，洵神方也。</p>
<p>山慈姑（去皮，洗淨，焙）　川文蛤（即五倍子，捶破洗，刮內桴）　千金子（即續隨子，去油，取淨霜，各二兩）　紅芽大戟（洗，焙，一兩）　當門子（三錢）</p>
<p>五味，先將慈、蛤、戟三味研極細末，再入霜、香研勻。糯米湯調和，乾溼得宜，於辰日淨室中，木臼內杵千餘下，每料分四十錠，故亦名紫金錠。再入飛淨硃砂，飛淨明雄黃各五錢尤良，或以加味者杵成薄片，切而用之，名紫金片。每服一錢，涼開水調下。孕婦忌之，又不可與甘草藥同進也。</p>

<h4>太乙紫金丹</h4>
<p>治霍亂痧脹，嵐瘴中惡，水土不服，喉風中毒，蛇犬蟲傷，五絕暴厥，癲狂癰疽，鬼胎魘魅，及暑濕溫疫之邪，瀰漫熏蒸，神明昏亂，危急諸證。</p>
<p>山慈姑　川文蛤（各二兩）　紅芽大戟　白檀香　安息香　蘇合油（各一兩五錢）　千金霜（一兩）　明雄黃（飛淨）　琥珀（各五錢）　梅冰　當門子（各三錢）</p>
<p>十一味，各研極細，再合研勻，濃糯米飲。杵丸綠豆大，外以飛金為衣，每錢許，涼開水下。</p>
<p>按：一瓢云：此方比蘇合丸而無熱，較至寶丹而不涼，兼玉樞丹之解毒，備二方之開閉，洵為濟生之仙品，立八百功之上藥也。又，按昔人所云：太乙丹能治多病者，即上二方也。今俗傳太乙丹，不知創自何人。藥品龐雜，群集燥熱，惟風餐露宿藜藿人寒濕為病者，服之頗宜。若一概施之，誤人匪淺。</p>

<h4>行軍散</h4>
<p>治霍亂痧脹，山嵐瘴癘，及暑熱穢惡諸邪，直干包絡，頭目昏暈，不省人事，危急等證，並治口瘡喉痛，點目去風熱障翳。搐鼻，闢時疫之氣。</p>
<p>西牛黃　當門子　真珠　梅冰　硼砂（各一錢）　明雄黃（飛淨，八錢）　火硝（三分）　飛金（二十頁）八味，各研極細如粉，再合研勻，瓷瓶密收，以蠟封之。每三五分，涼開水調下。</p>

<h4>千金丹</h4>
<p>（一名人馬平安散）</p>
<p>治同上。</p>
<p>明雄黃　硼砂　硝石（各一兩）　硃砂（五錢）　梅冰　當門子（各二錢）　飛金（一百頁）</p>
<p>七味，各為細末合研勻，瓷瓶緊裝，每二三分，涼開水下。或嗅少許於鼻內，或加牛黃。洄溪云：此秘方也。</p>

<h4>紫雪</h4>
<p>治痧脹穢毒，心腹㽲痛，霍亂火熾，躁瞀煩狂。及暑火溫熱，瘴疫毒癘諸邪，直犯膻中猝死。溫瘧發斑，狂易叫走，五屍五疰，鬼魅驚癇，急黃蠱毒，麻痘火閉，口舌生瘡。一切毒火邪火，穿經入臟，蘊伏深沉，無醫可治之證。</p>
<p>黃金（百兩，石頑云：須賃金鋪中煉過葉子煮之方有性味，而止用十兩。薛公望雲：不用亦可。洄溪云：如用飛金萬頁研入，尤妙。）</p>
<p>寒水石（石頑云：如無真者，以元精石代之）　磁石（醋煅）　石膏　白滑石（各三斤，石頑止用各五兩）</p>
<p>四石共搗碎，用水一斛，（石頑一斗）連金煮至四斗（石頑五升）去滓，入下藥：</p>
<p>犀角屑　羚羊角屑　青木香（切）　沉香（研，各五斤，石頑止用五錢，按斤字恐是兩字之訛）丁香（一兩，石頑止用一錢。洄溪云：可用二兩）　元參（切）　升麻（各一斤，石頑用一兩六錢）甘草（八兩，石頑用生者八錢，洄溪用炙）</p>
<p>八味，入前藥汁中，煮取一斗五升（石頑一升五合），去滓，入下藥：</p>
<p>朴硝（十斤，石頑用芒硝一兩）　焰硝（四斤，石頑用三兩，洄溪云：余制此二硝，止用十之一）</p>
<p>二味，入前藥汁中，微火上煎。柳木篦攪不住手，候有七升（石頑七合半），投在木盆中半日，欲凝，入下藥：</p>
<p>硃砂（研細，水飛淨，三兩，石頑五錢）　當門子（研，一兩二錢五分，石頑一錢二分）</p>
<p>二味，入前藥中攪勻，勿見火，寒之二日。候凝結成霜紫色，鉛罐密收，每服三四分至一錢，量用，新水調灌。</p>
<p>按：《雞峰方》無磁石、滑石、硝石。二角只用各十兩，丁、沉、木香各五兩，升麻六兩，朴硝二斤，麝香卻用三兩。餘六味分兩同。《醫通》云：此方即千金元霜加甘草、丁香、硃砂三味，遂易紫雪之名。余以其香味易散，故減小其制。竊謂宜從張氏配合為是。</p>

<h4>碧雪</h4>
<p>治熱極火閉，痧脹昏狂，及霍亂誤服熱藥，煩燥瞀亂，及時疫憒亂，便秘發斑，一切積熱，咽喉腫痛，口糜齦爛，舌瘡喉閉，水漿不下等證。</p>
<p>寒水石　石膏　硝石　朴硝　芒硝　牙硝　青黛　甘草</p>
<p>八味等分，先將甘草煎湯去滓，納諸藥再煎。以柳木篦不住手攪令消熔得所，卻入青黛和勻，傾入砂盆內，候凝結成霜，研細密收。每錢許，涼開水下。上焦病以少許含化咽津。不能咽物者，蘆筒吹入喉中，齒舌病抹患處。</p>

<h4>絳雪</h4>
<p>（一名八寶紅靈丹）</p>
<p>治霍亂痧脹，肢厥脈伏，轉筋昏暈，瘴癘時疫，暑毒下痢等證。並治喉痹牙舌諸病湯，火金刃諸傷，均搽患處。</p>
<p>硃砂　牙硝（各一兩）　明雄黃　硼砂（各六錢）　礞石（煅，四錢）　梅片　當門子（各三錢）　飛真金（五十頁）</p>
<p>八味，擇吉日淨室中各研極細，再研勻，瓷瓶緊收。熔蠟封口，毋使泄氣，每一分，涼開水送下，小兒減半，以藥佩帶身上，可闢疫氣，牛馬羊瘟，以此點其眼即愈。</p>

<h4>飛龍奪命丹</h4>
<p>治痧脹㽲痛，霍亂轉筋，厥冷脈伏，神昏危急之證，及受溫暑瘴疫，穢惡陰晦諸邪，而眩暈痞脹。瞀亂昏狂，或卒倒身強，遺溺不語，身熱瘛瘲，宛如中風。或時證逆傳，神迷狂譫，小兒驚癇，角弓反張，牙關緊閉諸證。</p>
<p>硃砂（飛，二兩）　明雄黃　燈心炭（各一兩）　人中白（漂煅，八錢）　明礬　青黛（飛，各五錢）　梅冰麻黃（去節，各四錢）　真珠　牙皂　當門子　硼砂（各三錢）　西牛黃（二錢）　杜蟾酥　火硝（各一錢五分）飛真金（三百頁）</p>
<p>十六味，各研極細，合研勻，瓷瓶緊收，毋令泄氣，以少許吹鼻取嚏。重者，再用開水調服一分，小兒減半。</p>
<p>按：此丹芳香闢穢，化毒祛邪，宣氣通營，全體大用，真有斬關奪隘之功，而具起死回生之力也。</p>

<h4>煉雄丹</h4>
<p>治暑穢痧邪，直犯包絡，神明閉塞，昏憒如屍，及霍亂初定，餘熱未清，驟爾神昏，如醉如寐，身不厥冷，脈至模糊者。皆燥熱無形之氣，矇蔽膻中，如人在煙塵障霧中行，治失其宜，漸漸燥悶而死。此非牛黃清心、犀角地黃等方可療，此丹主之。</p>
<p>極明雄黃（一分，研極細）　提淨牙硝（六分）</p>
<p>研細，同入銅勺內，微火熔化撥勻，俟如水時，急濾清者於碗內，粗渣不用，俟其凝定收藏，此丹灶家秘製也。</p>
<p>按：此法，見《遊宦紀聞》，陳平伯載此方，黃多而硝少。素園糾其誤，謂黃多硝少。何能熔化，今依楊定雄一硝六為率。</p>
<p>木通（一錢）　通草（三錢）　陳雨水（一碗，用冬雪水似更良）</p>
<p>煎出味，去滓，再以陳雨水九碗，與藥汁和勻，每次用藥水一碗，磨入犀角三分，挑入煉雄三釐調勻，徐徐冷灌。能於三日內服盡十碗藥水，必有清痰吐出數碗而愈。簠齋嘗親驗矣。</p>

<h4>三聖丹</h4>
<p>治寒濕為病，諸痧腹痛，霍亂吐瀉。</p>
<p>木香（一兩，不見火）　明雄黃（二兩）　明礬（三兩）</p>
<p>共研細末，以鮮荷葉、橘葉、藿香葉各二兩搗汁，丸綠豆大，每服九分。重者，再服。</p>

<h4>蟾酥丸</h4>
<p>治暑月貪涼飲冷，食物不慎，兼吸穢惡，成痧脹腹痛，或霍亂吐瀉。</p>
<p>杜蟾酥（燒酒化）　硃砂（飛，各五錢）　明雄黃（飛）　茅山蒼朮（土炒焦，各一兩）　丁香　牙皂（各三錢）　當門子（一錢）</p>
<p>七味，各研極細，蟾酥打丸，鳳仙子大，辰砂為衣，放舌底化下。重者二三丸。洄溪云：此秘方也。</p>
<p>又方　治同上。</p>
<p>杜蟾酥（燒酒化開）　明雄黃（水飛，各三錢）　丁香　木香　沉香（各二錢）　茅山蒼朮（土炒焦，四錢）　硃砂（飛，一錢五分）　當門子（一錢）　西牛黃（三分）</p>
<p>九味，各研極細。擇上吉日，淨室中合研勻。同蟾酥，加糯米粽尖五個，搗千餘下，丸如椒子大，曬乾，盛於瓷碗內，再用硃砂一錢五分，燒酒調塗碗內，蓋好，用力搖一二千下，則光亮矣。密收瓷瓶內，每三粒。輕者，一粒；重者，五粒。泉水下。</p>

<h4>姚氏蟾酥丸</h4>
<p>治同上。</p>
<p>杜蟾酥（燒酒浸烊，如無杜酥，可以東酥加倍）　明雄黃（研）　硃砂（飛，各二兩）　木香（曬）　丁香（曬）　茅朮（炒）　滑石（飛，各四錢）　當門子（一兩）</p>
<p>八味，各研極細，和入蟾酥杵勻，丸黍米大，每藥丸就四兩，以火酒噴濕，蓋在碗內，加入飛淨硃砂六錢，竭力搖播，以光亮為度。</p>
<p>（本方去木香、滑石、當門子，名截痧丸，治痧甚效，方亦較穩。）</p>
<p>又方（一名通靈萬應丹）　治同上，而力較峻。</p>
<p>杜蟾酥（九錢，燒，酒化）　錦紋大黃（曬乾，六兩）　硃砂（飛）　明雄黃（飛）　明天麻（焙乾）　麻黃（去節，焙，各三兩六錢）　丁香（六錢）　甘草（去皮微炒，二兩四錢）　當門子（三錢）　茅朮（米泔水浸，切焙，三兩）</p>
<p>十味，各為細末，以糯米粥漿和，杵丸蘆菔子大，硃砂為衣。每七丸納舌下少頃，陰陽水下。若研細吹鼻，亦可取嚏。</p>

<h4>霹靂散</h4>
<p>治陽虛中寒，腹痛吐瀉，轉筋肢冷，汗淋苔白，不渴，脈微欲絕者。</p>
<p>附子（濃甘草湯煎去毒）　吳茱萸（泡去第一次汁，鹽水微炒，各三兩）　陳伏龍肝（二兩，燒酒一小杯收干）　木瓜（絡石藤七錢，煎汁炒乾，一兩五錢）　丁香（蒸曬，一兩）　絲瓜絡（燒酒洗，五兩）</p>
<p>六味，共為極細末，分作十九服，外以醋半酒杯，鹽一錢五分，藕肉一兩五錢，煎滾，瓦上炙存性研。每服加三釐，每病止須用半服，參湯下。</p>
<p>按確係寒證，此散固佳，若未辨陰陽，而用熱藥，以為外治，尚無大害，內服之藥，極宜審慎，勿輕試也。</p>

<h4>回陽膏</h4>
<p>治同上。</p>
<p>生香附（或用吳茱萸亦可，一兩八錢）　母丁香（一兩二錢）　上桂心（八錢）　倭硫黃（五錢）　當門子（四錢）</p>
<p>五味，共研極細，瓷瓶密收。每二三分安臍中，以膏藥封之，一時即愈。孕婦忌貼。</p>
<p>按：霍亂轉筋，既有寒暑之分，亦有寒暑雜感而成者。更有暑伏於內，而寒束於外者，故服藥最宜審慎。況利多亡陰，津液大奪，雖可投熱藥者，亦恐剛烈劫陰，終於不救。此方藥雖猛峻，而僅取其氣由臍入腹，自能溫通臟腑，以逐寒邪，不致傷陰，誠為善策。惟口渴苔黃，下利極熱者，顯為陽證。雖見肢冷脈伏，亦勿妄貼此膏，更張其焰也。</p>
<p>以上諸方，雖分別熱證寒證之治，而和平猛厲，用得其宜，並皆佳妙。然非倉卒可辦者，故列諸前茅。冀仁人君子，量力製備，刊明藥味證治，廣為傳播。俾醫家病家，一覽瞭然，不但將死者可以得生，而不死者亦不致誤藥以喪其生，利濟之功，不其偉哉。方下兼及別證治例者，既不敢沒良方之大用，且以推廣施藥之仁懷也。</p>

<h4>黃芩湯</h4>
<p>（《傷寒論》）</p>
<p>治溫病變霍亂之主方，用者因證加減。</p>
<p>黃芩（三兩）　炙草　芍藥（各二兩）　大棗（十二枚）</p>
<p>水一斗，煮取三升，去渣，溫服一升，日再，夜一服。</p>

<h4>黃芩加半夏生薑湯</h4>
<p>（《傷寒論》）</p>
<p>原方加半夏半升，生薑三兩。</p>
<p>按：冬傷於寒，至春發為溫病，有或瀉或嘔之兼證，皆少陽犯陽明也。故仲聖以黃芩清解溫邪，協芍藥泄迫血之熱，而以甘、棗、夏、姜，奠安中土，法至當矣。其溫病轉為霍亂，果由中虛飲聚而伏邪乘之者，仍宜以此法治之。如火勢披猖，上衝下迫，或脈數口渴，或熱深厥深，則無藉乎奠中滌飲，當從事於瀉火清中，舉一反三，在人善悟也。</p>

<h4>梔子豉湯</h4>
<p>（《傷寒論》）</p>
<p>治溫熱暑疫，轉為霍亂之主劑。</p>
<p>梔子（十四枚）　香豉（四合綿裹）</p>
<p>水四升，先煮梔子，得二升半，內豉，煮取升半，去滓，分二服。</p>
<p>按：此傷寒吐劑也，然古方梔子生用，故能湧吐。今皆炒黑用之，雖不作吐，洄溪謂其滌熱除煩之性故在也。而余之治熱霍亂，獨推以為主劑。蓋梔子苦寒，善泄鬱熱，故《肘後方》以之治乾霍亂矣。豉經蒸腐，性極和中。凡霍亂多由濕鬱化熱，挾穢濁惡氣，而擾攘於中宮，惟此二物，最為對證良藥。奈昔人皆不知察也。且二物之奇，匪可言罄，如偶以銀花、竹葉清暑風，配以白蔻、菖蒲宣穢惡，濕甚者，臣以滑、樸；熱勝者，佐以芩、連。同木瓜、扁豆則和中。合甘草、鼠黏而化毒。其有誤投熱藥而致煩亂躁悶者，亦可藉以為解救，厥功懋矣。而古今之治霍亂者，從不引用，豈非一大闕典耶。</p>

<h4>白虎湯</h4>
<p>（《傷寒論》）</p>
<p>治暑熱熾盛而為霍亂者。</p>
<p>石膏（一斤）　知母（六兩）　甘草（炙，二兩）　粳米（六合）</p>
<p>水一斗，煮米熟湯成，去滓，溫服一升，日三服。按：治霍亂，粳米，須用陳倉者。或用生苡仁亦妙。</p>

<h4>白虎加人參湯</h4>
<p>（《傷寒論》）</p>
<p>治證如前，而元氣已虛者。</p>
<p>原方加人參三兩。</p>
<p>按：白虎湯神於解熱，妙用無窮。加人參，則補氣以生津；加桂枝，則和營而化瘧；加蒼朮，則清濕以治痿。變而為竹葉石膏湯，則為熱病後之補劑。余因推廣其義，凡暑熱霍亂之兼表邪者，加香薷、蘇葉之類。轉筋之熱極似寒，非反佐莫能深入者，少加細辛、威靈仙之類。痰濕阻滯者，加厚朴、半夏之類。血虛內熱者，加生地、地丁之類。中虛氣弱者，加白朮、苡仁之類。病衰而氣短精乏者，加大棗、枸杞之類。無不奏效如神也。</p>

<h4>竹葉石膏湯</h4>
<p>（《傷寒論》）</p>
<p>治中虛暑熱霍亂，及霍亂已定，而餘熱未清，虛羸少氣者。</p>
<p>竹葉（二握）　生石膏（一斤）　半夏（半升，洗）　人參（三兩）　麥門冬（一升）　粳米（半升）　甘草（炙，二兩）</p>
<p>水一斗，先煮六味，取六升，去滓，內粳米，煮米熟湯成，去米，溫服一升，日三。按《集驗》云：此方加生薑，治嘔最良。余謂治霍亂，宜用地漿煎更妙。</p>

<h4>桂苓甘露飲</h4>
<p>（河間）</p>
<p>治暑熱挾濕之霍亂。</p>
<p>桂（去皮）　白朮　豬苓（各五錢）　茯苓（去皮）　澤瀉（各一兩）　滑石（四兩）　寒水石　石膏　甘草（炙，各二兩，一方甘草一兩五錢）</p>
<p>九味為末。每三錢，溫水或新汲水，或生薑湯，量證調下。小兒每服一錢。按：此方，一名桂苓白朮散。一方不用豬苓，或云去豬苓加人參，名桂苓白朮散。</p>

<h4>六一散</h4>
<p>（即益元散，一名天水散）</p>
<p>桂府膩白滑石（六兩）　甘草（炙，一兩）</p>
<p>二味為末。每三錢，溫水或新汲水調下，日三。挾表邪者，以蔥白五寸，豆豉五十粒，煎湯調下。本方加黃丹，名紅玉散。加青黛，名碧玉散。加薄荷，名雞蘇散。加硃砂，名辰砂益元散。</p>

<h4>蔥豉湯</h4>
<p>（《肘後》）</p>
<p>治霍亂髮斑。</p>
<p>蔥白（一握）　香豉（三合）</p>
<p>水煎，入童子小便一合，日三服。</p>
<p>按：石頑云：本方藥味雖輕，功效最著，凡虛人風熱，伏氣發溫，及產後感冒，靡不隨手獲效。余謂胎前外感，何嘗不是妙劑。蘆根、竹葉、蘇葉、黃芩，可以隨證佐入。</p>

<h4>四苓散</h4>
<p>（《溫疫論》）</p>
<p>治濕盛霍亂，胸悶溺澀而渴者。</p>
<p>茯苓　豬苓　澤瀉　橘皮</p>
<p>水煎服。</p>
<p>按：吳氏五苓去桂，而治胃中濕熱，最為有見，且以橘皮易術，則無實中之弊，而有利氣之功，當變而變，斯為善用古法。欲平霍亂者，宜知所趨響矣。（吳又可《溫疫論》解理透闢，用藥靈活，為病家不可不閱之書。素園）</p>

<h4>平胃散</h4>
<p>（《局方》）</p>
<p>治濕盛於中，霍亂吐瀉。</p>
<p>茅朮（去粗皮，米泔浸，四兩）　紫厚朴（去皮，薑汁炒）　陳皮（去白，各三兩二錢）　甘草（炙，二錢）</p>
<p>四味為末。每服二錢，水一盞，姜一片，煎七分服。轉筋者加木瓜。本方加藿香、半夏，名金不換正氣散。</p>

<h4>藿香正氣散</h4>
<p>治濕蘊於中，寒襲其外，而為霍亂吐瀉者。</p>
<p>厚朴　陳皮　桔梗　白朮　半夏（各二兩）大腹皮（一本作蒼朮，或用檳榔亦可）　白芷　茯苓　蘇葉　藿香（各三兩）　甘草（炙，一兩）</p>
<p>十一味為粗末。每三錢，姜三片，棗一枚，煎服。（《蘭臺軌範》此方無白朮，似更妥。謝城）</p>
<p>按：上二方，皆治風寒外感，食滯內停。或兼濕邪，或吸穢氣，或傷生冷，或不服水土等證，的是良方。若溫暑熱證，不兼寒濕者，在所切禁。今人謂其統治四時感證，不審病情，一概濫用，誤人不少，用治霍亂，薑棗宜裁。</p>

<h4>半夏厚朴湯</h4>
<p>（一名四七湯。《金匱》）</p>
<p>治情志不舒，痰濕阻氣，而成霍亂者。</p>
<p>半夏（一升）　厚朴（三兩）　茯苓（四兩）　干蘇葉（二兩）　生薑（五兩）</p>
<p>水七升，煮取四升，分溫四服。</p>
<p>按：此方既主七情不適之郁痰證，亦治寒濕不化，風感外侵，食滯不消。誤投滋補，因而病劇者，無不所響輒捷。</p>

<h4>六和湯</h4>
<p>治夏月虛人外感風寒，內傷生冷之霍亂吐瀉，而身發熱者。</p>
<p>香薷（二錢）　人參　茯苓　甘草　扁豆　厚朴（制）　木瓜　杏仁（去皮）　半夏（各一錢）　藿香砂仁（炒研，各六分）　生薑（三片）　大棗（一枚）</p>
<p>水煎服。</p>

<h4>香薷飲</h4>
<p>（《局方》）</p>
<p>治暑月乘涼飲冷，陽氣為陰邪所遏，頭痛發熱，惡寒煩躁，口渴腹滿之霍亂。</p>
<p>香薷（一斤）　厚朴（薑汁炒）　白扁豆（各半斤）</p>
<p>三味為粗末。每五錢至一兩，水煎，冷服。</p>

<h4>黃連香薷飲</h4>
<p>（《活人》）</p>
<p>治同上。</p>
<p>原方加薑汁炒黃連四兩。</p>

<h4>左金丸</h4>
<p>治霍亂轉筋，肝火內熾，或吐青綠苦水者。</p>
<p>川連（六兩）　吳茱萸（取陳而開口者，一兩）</p>
<p>二味同煮乾為細末，米飲糊丸，綠豆大。每三錢，陳木瓜五錢，煎湯下。吐酸味者，竹茹、生苡仁各三錢，煎湯下。</p>
<p>按：張雨農司馬見余採此方，極為首肯。云：嘗在都城，見杜石樵少宰，亦用此藥，治愈多人也。</p>

<h4>黃芩定亂湯</h4>
<p>治溫病轉為霍亂，腹不痛、而肢冷脈伏，或肢不冷而口渴苔黃，小水不行，神情煩躁。</p>
<p>黃芩（酒炒）　焦梔子　香豉（炒，各一錢五分）　原蠶沙（三錢）　製半夏　橘紅（鹽水炒，各一錢）　蒲公英（四錢）　鮮竹茹（二錢）　川連（薑汁炒，六分）　陳吳萸（泡淡，一分）</p>
<p>陰陽水二盞，煎一盞，候溫徐服。轉筋者，加生苡仁八錢，絲瓜絡三錢。溺行者，用木瓜三錢。濕盛者，加連翹、茵陳各三錢。</p>

<h4>燃照湯</h4>
<p>（《霍亂論》）</p>
<p>治暑穢挾濕，霍亂吐下，脘痞煩渴，苔色白膩，外顯惡寒肢冷者。</p>
<p>飛滑石（四錢）　香豉（炒，三錢）　焦梔（二錢）　黃芩（酒炒）　省頭草（各一錢五分）　製厚朴　製半夏（各一錢）</p>
<p>水煎，去滓，研入白蔻仁八分，溫服。苔膩而厚濁者，去白蔻，加草果仁一錢。</p>

<h4>連樸飲</h4>
<p>（《霍亂論》）</p>
<p>治濕熱蘊伏而成霍亂，兼能行食滌痰。</p>
<p>製厚朴（二錢）　川連（薑汁炒）　石菖蒲　製半夏（各一錢）　香豉（炒）　焦梔（各三錢）　蘆根（二兩）</p>
<p>水煎溫服。</p>

<h4>蠶矢湯</h4>
<p>（《霍亂論》）</p>
<p>治霍亂轉筋，肢冷腹痛，口渴煩躁，目陷脈伏，時行急證。</p>
<p>晚蠶沙（五錢）　生苡仁　大豆黃卷（各四錢）　陳木瓜（三錢）　川連（薑汁炒，三錢）　製半夏　黃芩（酒炒）　通草（各一錢）　焦梔（一錢五分）　陳吳萸（泡淡，三分）</p>
<p>地漿，或陰陽水煎，稍涼，徐服。</p>

<h4>解毒活血湯</h4>
<p>（夢影）</p>
<p>治溫暑痧邪，深入營分，轉筋吐下，肢厥汗多，脈伏溺無，口渴腹痛，面黑目陷，勢極可危之證。</p>
<p>連翹　絲瓜絡　淡紫菜（各三錢）　石菖蒲（一錢）　川連（吳萸水炒，二錢）　原蠶沙　地丁　益母草（各五錢）　生苡仁（八錢）　銀花（四錢）</p>
<p>地漿或陰陽水，煮生綠豆四兩，取清湯煎藥，和入生藕汁，或白茅根汁，或童便一杯，稍涼徐徐服。</p>

<h4>駕輕湯</h4>
<p>（《霍亂論》）</p>
<p>治霍亂後，餘邪未清，身熱口渴，及餘熱內蘊，身冷脈沉，湯藥不下而發呃者。</p>
<p>鮮竹葉　生扁豆（各四錢）　香豉（炒）　石斛（各三錢）　枇杷葉（刷，二錢）　橘紅（鹽水炒）　陳木瓜（各一錢）　焦梔（一錢五分）</p>
<p>水煎溫服。</p>

<h4>昌陽瀉心湯</h4>
<p>（夢影）</p>
<p>治霍亂後，胸前痞塞，湯水礙下，或渴或呃。</p>
<p>石菖蒲　黃芩（酒炒）　製半夏（各一錢）　川連（薑汁炒，五六分）　蘇葉（三四分）　製厚朴（八分）　鮮竹茹　枇杷葉（刷，各三錢）　蘆根（一兩）</p>
<p>天雨水急火煎，徐徐溫服。小溲秘澀者，加紫菀。（此方甚巧，謝城）</p>
<p>按：此瀉心湯證也，何必另立方治？以暑熱穢濁之邪，與傷寒不同，故五瀉心皆有圓柄方鑿之格，漫為引用。豈徒無益已哉？茲以菖蒲為君，辛香不燥，一名昌陽者，謂能掃滌濁邪，而昌發清陽之氣也。合諸藥以為劑，其奏蠲痰泄熱展氣通津之績，已歷試不爽矣。</p>

<h4>麥門冬湯</h4>
<p>（《金匱》）</p>
<p>治霍亂後，餘熱未清，神倦不飢，無苔而渴，或火升氣逆，乾咳無痰。</p>
<p>麥冬（一兩）　製半夏（一錢五分）　人參（一錢）　甘草（炙，六分）　粳米（半合）　大棗（四枚，擘）</p>
<p>水煎，溫分四服。</p>
<p>按：海藏以竹葉易半夏，治溫熱後房勞復之氣欲絕者，大效。余謂即不因房勞復，而氣液兩虧，不能受重劑峻補，皆可以此湯接續其一線之生機，余屢用輒效。</p>

<h4>致和湯</h4>
<p>（《霍亂論》）</p>
<p>治霍亂後，津液不復，喉乾舌燥，溺短便溏。</p>
<p>北沙參　生扁豆　石斛　陳倉米（各四錢）　枇杷葉（刷）　鮮竹葉　麥冬（各三錢）　陳木瓜（六分）　生甘草（一錢）</p>
<p>水煎服。</p>

<h4>五苓散</h4>
<p>（《傷寒》）</p>
<p>治傷寒轉霍亂，身熱頭痛，渴欲飲水。</p>
<p>白朮（石頑云：宜用生白朮）　茯苓　豬苓（各十八銖，按二十四銖為一兩，每銖重四分二釐弱，六銖為錙，即二錢五分，十八銖即七錢五分）　澤瀉（一兩六錢）　桂（五錢）</p>
<p>五味為末。以白飲和服方寸匕，日三，多飲暖水，汗出愈。</p>
<p>按：仲聖於霍亂，分列熱多寒多之治，皆為傷寒轉為霍亂而設。故二多字最宜玩味，所云：熱多者，謂表熱多於裡寒也；寒多者，裡寒多於表熱也。豈可以熱多二字，遂謂此方可治熱霍亂哉。沈果之云：其用桂者，宣陽氣，通津液於周身，非用之以通水道下出也。用瀉、朮、二苓，以通三焦之閉塞，非開膀胱之溺竅也。如果熱入而渴，復用桂、術以溫液耗津，又加苓、澤以滲之，是熱之又熱，耗之又耗，速之斃矣。余謂觀此，則多飲暖水，汗出愈之義益明。故霍亂無陽氣鬱遏身熱之表證，無三焦閉塞氣化不宣之裡證，而欲飲水者，切勿誤解熱多為熱證，而妄援聖訓，浪投此藥也。石頑、又可皆語焉未詳，河間則加三石以駕馭之，茲復詳述方義，庶用者，知所取捨焉。而今人治濕熱病，不察其有無外挾風寒，內傷生冷之兼證，輒以胃苓湯為通用之方，因則僨事者亦多，且古方用散，不過三錢，權量又小，今世改為湯劑，動輒一二兩，權量又大。宜乎中病者，恆少；而誤人者恆多也。豈獨霍亂然哉！可慨也夫。</p>
<p>又按：此方與苓桂朮甘湯，同為溫中滌飲之劑，而力較峻。凡霍亂之寒濕內盛，水飲阻閉三焦者，雖外無風寒之表邪，未嘗不可用也。故亦治水蓄之疝，濕聚之腫。氣滯者加厚朴，氣虛者加人參（名春澤湯），用藥如用兵，苟能量敵而選將，斯戰無不克矣。</p>

<h4>理中丸</h4>
<p>（《傷寒論》）</p>
<p>治寒霍亂，口不渴者。</p>
<p>人參　甘草　白朮　乾薑（各三兩）</p>
<p>四味搗篩為末，蜜和丸，雞子黃大。以沸湯數合，和一丸碎研，溫服之，日三夜二，腹中未熱，益至三四丸，然不及湯，湯法以味依兩數切，用水八升，煮取三升，去滓，溫服一升，日三。</p>
<p>加減法：若臍上築者，腎氣動也，去朮加桂四兩。</p>
<p>尤氏云：臍上築者，臍上築築然跳動，腎氣上而之脾也。脾方受氣，術之甘能壅脾氣，故去之。桂之辛能下腎氣，故加之。</p>
<p>按：此陽虛之腎氣動，欲作奔豚也。故去朮加桂，以杜其上凌之萌。若陰虛而臍上築築者，大忌剛燥之劑，非峻滋肝腎之陰不可。蓋一為水動，一為火動也。</p>
<p>吐多者，去朮，加生薑三兩。</p>
<p>尤氏云：吐多者，氣方上壅，甘能壅氣，故去朮。辛能散氣，故加生薑。</p>
<p>按：鄒潤安云：即吐且利，有屬太陰者，有屬少陰者。在少陰，則無用術之理。在太陰，亦在可用不可用之列。以術能治脾胃虛，不能治脾胃實。故吐多者，去之。下多者，還用之。蓋術能舉脾之陷，不能定胃之逆也。又洄溪云：寒霍亂可用理中者，百不得一。余謂是霍亂矣，可用理中矣。尚有如此細密加減之法，何今人既不議病，又不議藥，輕於一試，何異以不教之民，而使之戰耶。籲，可哀已。</p>
<p>下多者，還用術。悸者，加茯苓二兩。</p>
<p>尤氏云：下多者，脾氣不守，故須術以固之。悸者，腎水上逆，故加茯苓以導之。</p>
<p>按：今人治霍亂，既不辨其證之虛實寒熱，亦不察其吐多下多。溫補率投，漫無忌憚者，吾不知其何心也。</p>
<p>渴欲得水者加朮，足前成四兩半。</p>
<p>尤氏云：渴欲得水者，津液不足，白朮之甘，足以生之。</p>
<p>按：此渴因脾虛不能為胃行其津液，故加朮以補脾而致其津夜也。所謂白朮能生津液者，其義如此，豈熱爍津液而渴者，所堪一試哉。</p>
<p>腹中痛，加人參，足前成四兩半。</p>
<p>尤氏云：腹中痛者，裡虛不足。人參之甘，足以補之。</p>
<p>按：裡虛腹痛，必喜溫按。</p>
<p>寒者，加乾薑，足前成四兩半。</p>
<p>尤氏云：寒者，腹中氣寒也。乾薑之辛，足以溫之。</p>
<p>按：五苓，主熱多，謂表有熱也。理中，主寒多，謂里有寒也。故方下既有腹中未熱，益至三四丸之法。此復云：寒者加乾薑，是腹中尚未熱。故獨於此味，又加重也。蓋腹中寒，為寒之真諦。故仲聖不嫌煩複，而瑣瑣教人，以此為辨證之法。顧昧者一見吐下肢寒，略不察其腹中光景何如，擅以薑、附、丁、桂欲其轉熱，遂至從此而一身皆冷。嗚呼！豈未聞熱深厥深之聖訓乎。腹滿者，去朮，加附子一枚。服湯後如食頃，飲熱粥一升許，微自溫，勿發揭衣被。</p>
<p>尤氏云：腹滿者，氣滯不行也。氣得甘則壅，得辛則行，故去朮加附子。</p>
<p>按：飲熱粥一升許，固是助藥力，亦是辨證法。設時行熱霍亂，不但熱粥在所大忌，即使不忌，亦萬不能強飲升許。果能飲熱粥升許者，豈非虛寒為病乎？故可以理中治之，若蔽於古而不知今，是房琯之以車戰也。</p>
<p>按：原方加附子，名附子理中湯。加青皮、陳皮，名治中湯。加枳實、茯苓，名枳實理中湯。加黃連，名連理湯。合五苓，名理苓湯。</p>

<h4>厚朴生薑半夏甘草人參湯</h4>
<p>（《傷寒論》）</p>
<p>治虛人寒濕霍亂。</p>
<p>厚朴（去皮，炙）　生薑（切，各半斤）　半夏（洗，半升）　甘草（炙，二兩）　人參（一兩）</p>
<p>水一斗，煮取三升，去滓，溫服一升，日三。</p>

<h4>四逆湯</h4>
<p>（《傷寒論》）</p>
<p>治陰寒霍亂，汗出而四肢拘急，小便複利，脈微欲絕，而無頭痛口渴者。</p>
<p>生附子（一枚）　乾薑（一兩半）　甘草（炙，二兩）　　水三升，煮取一升二合，去滓，分溫再服。強人可用大附子一枚，乾薑三兩。</p>
<p>按：附子乾薑，非攻蕩之品，何以強人，乃可加倍用。蓋無論補瀉寒熱諸藥，皆賴身中元氣載之以行。故氣強者，堪任重劑。若氣弱者，投劑稍重，則氣行愈餒，焉能駕馭藥力以為補瀉寒熱之用耶。凡事皆然，用藥特其一端耳。顧知之者鮮，所以覆敗多而成功少也。</p>

<h4>通脈四逆加豬膽汁湯</h4>
<p>（《傷寒論》）</p>
<p>治陰寒霍亂愈後，四肢拘急，脈微欲絕者。</p>
<p>前方加入豬膽汁半合和服。如無豬膽，以羊膽代之。</p>

<h4>附子粳米湯</h4>
<p>（《金匱》）</p>
<p>治中寒霍亂，肢冷腹痛，吐少、嘔多者。</p>
<p>附子（薑汁炮，切）　半夏（薑汁炒）　甘草（炙，各三錢）　大棗（十枚，擘）　粳米（半升）</p>
<p>水五升，煮米熟湯成，去滓，溫服一升。</p>

<h4>吳茱萸湯</h4>
<p>（《傷寒論》）</p>
<p>治少陰吐利，厥逆煩躁，及厥陰寒犯陽明，食谷欲嘔。</p>
<p>吳茱萸（一斤，洗）　人參（三兩）　生薑（六兩，切）　大棗（十二枚，擘）</p>
<p>水七升，煮取二升，去滓，分三服。</p>

<h4>漿水散</h4>
<p>（潔古）</p>
<p>治陰寒霍亂，暴瀉如水，汗多身冷，氣少腹痛，脈沉或脫者。</p>
<p>甘草　乾薑　附子　桂（各五錢）　良薑　半夏（俱醋炒，各二錢）</p>
<p>漿水煎，去滓，冷服。</p>
<p>按：石頑云：漿水乃秫米和曲釀成，如醋而淡。今人點牛乳作餅用之，或用澄綠豆粉之漿水尤佳。余謂地漿亦可用。</p>

<h4>冷香飲子</h4>
<p>治陰寒霍亂，腹痛，脈沉細，或弦緊，無汗惡寒，面如塵土，四肢厥逆，陽氣大虛之證。</p>
<p>甘草　附子　草果仁　橘紅（各一錢）　生薑（五片）</p>
<p>水煎，冷服。</p>

<h4>大順散</h4>
<p>（《局方》）</p>
<p>治襲涼飲冷，陰寒抑遏陽氣而成霍亂，水穀不分，脈沉而緊者。</p>
<p>甘草（四兩八錢）　乾薑　杏仁（去皮尖）　桂心（各六錢四分）</p>
<p>先將甘草同白沙炒至八分黃熟，（王晉三云，白沙即河沙）次入乾薑同炒，令姜裂，次入杏仁同炒，候不作聲為度。篩去沙，與桂心同搗為散，每二錢，水煎服，或沸湯調服。如煩躁，井華水調下。</p>
<p>按：洄溪云：此治暑月內傷飲冷證，非治暑也。又甘草多於諸藥八倍，亦非法。此等病，百不得一，而世人竟以治燥火之暑病，殺人無算，可勝悼哉。余謂以上三方，皆治夏令因畏熱而浴冷臥風，冰瓜過啖，反為陰濕所傷致病，實夏月之傷寒也。故用藥如是，如《名醫類案》所載：羅謙甫治商參政與完顏小將軍二案，俱用熱藥，俱不名曰暑病。又吳球治暑月遠行人案，直曰中寒。蓋深恐後世誤以熱藥治暑，故特舉病因以稱之。可謂名正言順矣。乃昧者猶誤謂此等方為治暑之藥，誠有一盲引眾盲，相將入火坑之嘆。夫盛夏之有寒病，猶隆冬之有熱病，雖不多見，而臨證者，不可不諦辨而施治也。</p>

<h4>神香散</h4>
<p>（景岳）</p>
<p>治霍亂因於寒濕凝滯氣道者。</p>
<p>丁香　白豆蔻（各七粒）</p>
<p>二味研末，清湯下。小腹痛者，加砂仁七粒。</p>
<p>按：晉三云：此方治寒濕痧脹有神功。與益元散，治濕熱痧脹，可謂針鋒相對。</p>

<h4>來復丹</h4>
<p>（《局方》）</p>
<p>治上盛下虛，裡寒外熱，伏暑夾陰霍亂危證。</p>
<p>太陰元精石　舶上硫黃　硝石（各一兩，用硫黃為末，微火炒，結成砂子大）　橘紅　青皮（去皮）　五靈脂（澄去砂，炒令煙盡，各二錢）</p>
<p>六味為末，醋糊丸豌豆大。每服三十丸，白湯下。</p>

<h4>桂枝湯</h4>
<p>（《傷寒論》）</p>
<p>治寒霍亂後，身痛不休。</p>
<p>桂枝（去皮）　芍藥　生薑（切，各三兩）　甘草（炙，二兩）　大棗（十二枚，擘）</p>
<p>水七升，微火煮取三升，去滓，適寒溫服一升，須臾，啜稀熱粥一升余，以助藥力。</p>

<h4>異功散</h4>
<p>治霍亂後，中虛主劑。</p>
<p>人參（一錢至三錢）　白朮（炒黃，一錢至二錢半）　茯苓（一錢至錢半）　甘草（炙，六分至一錢）　橘紅（一錢）</p>
<p>水煎服。肝風動而身痛肢浮者，加木瓜、薑、棗。</p>

<h4>梅花丸</h4>
<p>治體虛多郁，血熱氣愆，木土相乘，嘔瀉腹痛，易感痧穢霍亂者。久服可杜外患，兼除宿恙。亦主肝胃久痛，消癥，調經帶，催生種子，孕婦忌之。</p>
<p>綠萼白梅蕊（三兩）　飛滑石（七兩，以粉丹皮八兩煎汁制透，去丹皮曬乾）　四制香附（三兩）　甘松　蓬莪朮（各五錢）　山藥　茯苓（各三錢五分）　人參（潞參、洋參、高麗參皆可因人酌用）　嫩黃耆　益智仁　砂仁（勿見火，各三錢）　遠志肉（甘草水制，二錢五分）　木香（不見火，一錢五分）桔梗（一錢）　甘草（七分）</p>
<p>十五味，各研細末，合研勻，煉白蜜搗丸，每丸重一錢，白蠟衣之。每一丸去衣，開水調服。</p>
<p>按：此方調和氣血，舒郁培元，男女皆堪久服。以杜諸疴。不僅可已肝胃之痛，而御腸胃之亂也。孕婦體堅，或胎氣多滯者，正宜用以宣展充暢，惟虛而不固者忌之。</p>

<h4>資生丸</h4>
<p>調和脾胃，運化飲食，滋養營衛，消除百疾，可杜霍亂等患。</p>
<p>人參（酌用同上）　白朮（各三兩）　橘紅　楂肉　神麯（各二兩）　茯苓（一兩五錢）　甘草（炙，五錢）川連（薑汁炒）　白蔻仁（各三錢五分）</p>
<p>九味研細末，煉蜜搗丸彈子大。每食後細嚼一丸，開水下，嚴寒時，或用淡薑湯下。</p>
<p>按：石頑云：此古方也。與後人加味者，雖繁簡不同，而功效不異。</p>

<h4>繆氏資生丸</h4>
<p>治同上。</p>
<p>人參（人乳浸，飯上蒸，烘乾）　白朮（米泔水浸，山黃土拌蒸九次，曬九次，去土切片，焙乾，各三兩）　楂肉（蒸）　橘紅（略蒸，各二兩）　白茯苓（細末水澄，蒸，曬乾，入人乳再蒸，曬乾）　懷山藥（切片，炒）白扁豆（炒）　湘蓮肉（炒）　芡實粉（炒）　薏苡仁（炒，各一兩五錢）　麥芽（炒研，磨取淨面，一兩）藿香葉（不見火，各三錢五分）　甘草（去皮炙）　桔梗（米泔浸，去蘆蒸，各五錢）　澤瀉（切片，炒）　白蔻仁（勿見火，各三錢五分）　川連（如法炒七次，三錢）</p>
<p>十七味，如法修制，細末，煉白蜜搗丸，每丸重二錢。飲後白湯，或橘皮湯、砂仁湯嚼化下。</p>
<p>按：《治法匯》《醫通》《蘭臺軌範》載此方，皆有神麯二兩，其餘分兩亦稍有參差。《名醫方論》有神麯，無澤瀉。《廣筆記》云：妊娠三月，陽明脈養胎，陽明脈衰，胎無所養，故易墮也。宜服此丸。洄溪云：此方治懷孕氣阻，用兼消補之法，以止嘔吐而固胎氣，意頗可取。余謂保胎止吐，皆健運脾胃之功，故曰資生，夫脾胃位鎮中樞，而司出納，為人生後天之本。一失健運，百病叢生。凡衰老稚弱，及飢飽不時，勞逸過度，思慮久傷之輩，脾胃尤易受病。若能常服此丸，俾升降不愆，周流無滯，揮霍撩亂，於是弭焉。俱收並蓄，待用無遺，為將為醫，理無二致，對證發藥，諺語堪師，十劑七方，陣圖有法，故必藥性明而兵法諳，始可制方臨敵也。先藥性，後方劑，特其大略耳。神明變化，存乎其人，方先外治而後內服，昭慎重也。始臥龍而中結以致和，末殿以資生，其有如臥龍之才者，出而撥亂反正，以致中和，則天地位，萬物育，化日舒長，更何疫癘之有哉。謹拭目待之，以慰余重訂此書之意焉。故列藥方第四。</p>

<h1>跋</h1>
<p>霍亂，急證也，而古無專書，間或及之，亦語焉未詳。故臨證者，苦無成法可遵。海昌王夢隱先生，曩遊玉環，嘗著專論以壽世。定州楊素園大尹，重刻於西江，謂其理明辭達，指陳病機。若黑白之不可混淆，顧海內多故，板之存否，杳不可知。壬戌夏，此間霍亂盛行，求先生書不易得，適先生避亂來遊，惻然傷之，慨將原稿重為校訂。語加暢，法加詳，類證咸備，寓意特深。讀此書者，苟能隅反，不但為霍亂之專書也。因請於先生，亟付剞劂以質恫瘝在抱之君子。</p>
<p><u>同治二年夏五月鎮海陳亨謹跋於上海崇本堂</u></p>
