<header data-type="book">
<h1>針灸問對</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪機</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1530">公元1530年（嘉靖九年）</data></dd></div>
<div><dt>底本</dt><dd>明嘉靖壬辰（十一年，1532）新安汪氏原刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=7d0927a0d8a946288f06804a832e167ffDcyMjIw0&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·針灸問對》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0072/WYG/">漢リポ掃描及文字化本</a>）。電子文本整理自行政院中醫藥委員會94年文本CM050。</dd></div>
</dl>
</header>

<h1>刻針灸問對敘</h1>
<p>石山居士校集諸方書於樸墅精舍。南澗子過之。出示針灸問對一冊。南澗子受讀。作而言曰。嘻。余於斯集。重有感焉。是可刻也已。夫道仁也。夫醫仁術也。術之神者。莫捷於針焫。蓋人受天地一氣以生。本自流通充溢。閼注羸痼。斯病矣。是故軒、岐、倉、扁針焫之說興焉。方其心悟神遇。動會肯綮。遊刃有間。而目牛無全。夫亦善通天地一氣。非外鑠也。是故其為書也。言賾而粹。辭微而則。旨邃而玄。後世學無根要。遂苦其奧。置而不講。徒誇於手法取穴之末。若今之針焫家者。扣其所以。瞠目無對。無惑乎施之靡效爾。斯集也。匯為問對。粹以賾章。則以微著。玄以邃通。俾夫神於昔者。神於今。完天和。溥仁術者。其斯取的無窮焉。又從而引伸觸長。以仁夫身者仁其心。時其私翳而針焫之。認得為己之中。將周流動盪。無一息之匪仁。聖門求仁功夫。豈待別易塗轍。則夫斯集也。進於技而幾於道矣。若彼支離色取。曰求仁求仁者。其真為不知痛癢。烏足以語此。嘻。余於斯集。重有感焉。是可刻也已。居士姓汪氏。諱機。字省之。別號石山。夙業儒。醫其餘事。而他方書稱是。已悉有刻云。</p>
<p><u>嘉靖壬辰年菊月南澗程鑌子礪書</u></p>

<h1>序</h1>
<p>客有過余者。坐間語及針灸。盛稱姑蘇之凌漢章。六合之李千戶者。皆能馳名兩京。延譽數郡。舍此他無聞焉。余曰。休歙有商於彼者。亦嘗從之遊而授其業矣。因得聞其詳焉。語凌則曰。熟於穴法。凡所點穴。不必揣按。雖隔衣針亦每中其穴也。語李則曰。用意精專。凡所用穴。必須折量。以墨點記。方敢始下針也。余嘗論之。凌則尚乎簡略。李則尚乎謹密。取穴之法。簡略者終不及謹密者之的確也。但素、難所論針灸。必須察脈以審其病之在經在絡。又須候氣以察其邪之已至未來。不知二家之術。亦皆本於素、難否乎。客曰。皆非吾之所知也。余因有感。乃取靈樞、素、難及諸家針灸之書。窮搜博覽。遇有論及針灸者。日逐筆錄。積之盈篋。不忍廢棄。因復序次其說。設為問難以著明之。遂用裝潢成帖。名曰針灸問對。以便老景之檢閱焉。庶或亦有補於針灸之萬一也。後之精於此者。尚惟改而正之。幸甚。</p>
<p><u>嘉靖庚寅冬長至日祁門樸墅汪機省之序</u></p>

<h1>卷之上</h1>
<p>或曰。內經治病。湯液醪醴為甚少。所載服餌之法才一二。而灸者四五。其他則明針法無慮十八九。厥後方藥之說肆行。而針灸之法。僅而獲存者。何也。</p>
<p>曰。內經上古書也。上古之人。其知道乎。勞不至倦。逸不至流。食不肥鮮。以戕其內。衣不蘊熱。以傷其外。起居有常。寒暑知避。恬憺虛無。精神內守。病安從生。雖有賊風虛邪。莫能深入。不過湊於皮膚。經滯氣鬱而已。以針行滯散郁。則病隨已。何待於湯液醪醴耶。當今之世。道德已衰。以酒為漿。以妄為常。縱欲以竭其精。多慮以散其真。不知持滿。不解御神。務快其心。逆於生樂。起居無節。寒暑不避。故病多從內生。外邪亦易中也。經曰。針刺治其外。湯液治其內。病既屬內。非藉湯液之盪滌。豈能濟乎。此和、緩以後。方藥盛行。而針灸罕用者。實由世不古若。人非昔比。病有深淺。治有內外。非針灸宜於古。而不宜於今。湯液宜於今。而不宜於古也。</p>
<p>經曰。上古作湯液。為而弗服。中古之時。服之萬全。當今之世。必齊毒藥攻其中。針灸治其外。雖形弊血盡而功不立。此之謂也。</p>
<p>或曰。針灸宜於古。而不宜於今。吾已聞命矣。然今之病。亦有針灸而愈者。何也。</p>
<p>經曰。病之始起者。可刺而已。又曰。邪之新客也。未有定處。推之則前。引之則止。逢而寫之。其病立已。蓋病之初起。邪之新客。當此之時。元氣未傷。邪氣尚淺。以針除之。甚得其宜。學者察識於此。而於用針治病。亦可以知其大概矣。故曰。上工刺其未生者也。其次刺其未盛者也。其次刺其已衰者也。下工刺其方襲者也。與其形之盛者也。與其病之與脈相逆者也。故曰。方其盛也。勿敢毀傷。刺其已衰。事必大昌。</p>
<p>或曰。九針之所主。皆外傷歟。抑亦有內傷歟。</p>
<p>經曰。一曰鑱針。頭大末銳。令無得深入。主病在皮膚無常者。二曰員針。筒身員末。主無傷肉分。主病在分肉間者。三曰鍉針。大其身。員其末。主病在血脈。按脈取氣。令邪出也。四曰鋒針。筒其身。鋒其末兩三隅。主四時八風。客於經絡為痼病者。令可以泄熱出血而發痼病也。五曰鈹針。末如劍鋒。主寒與熱爭。兩氣相搏。合為癰膿。可以取大膿也。六曰員利針。令尖如犛。且員且銳。微大其末。反小其身。主虛邪客於經絡而為暴痹。令可深內以取之也。七曰毫針。尖如蚊虻喙。長一寸六分。靜以徐往。微以久留。主邪客經絡。而為寒熱痛痹者也。八曰長針。鋒利身薄。主深邪遠痹。八風內舍於骨解腰脊骨腠間也。九曰大針。大如梃尖。微員。主淫邪流溢於節解皮膚之間。以寫機關之水也。九針長短大小各有所施。不得其用。疾弗能移。病淺針深。內傷良肉。病深針淺。病氣不寫。病小針大。氣寫大甚。病大針小。氣不泄泄。機按。今之針士。決癰用鋒針鈹針。其他諸病。無分皮膚肌肉血脈筋骨。皆用毫針。余者置而不用。甚有背於經旨矣。於此而知九針所主。多系外邪薄湊為病。用針施瀉。深中病情。使今之人而有是病。針亦在所必用。若夫病邪大甚。元氣已傷。決非針之所能濟矣。假如癆瘵陰虛火動。法當滋陰降火。針能滋陰否乎。痿症肺熱葉焦。法當清金補水。針能補水否乎。經曰。陰陽形氣俱不足。勿取以針。而調以甘藥是也。知此則病之可針不可針。亦可以類推矣。奈何世之專針科者。既不識脈。又不察形。但問何病。便針何穴。以致誤針成痼疾者有矣。間有獲效。亦偶中耳。因而誇其針之神妙。寧不為識者笑耶。</p>
<p>或曰。針灸當明經絡。可曉以否。</p>
<p>曰。直行者。謂之經。經有十二。所以行血氣。通陰陽。以榮於身者也。其始從中焦注手太陰、陽明。陽明注足陽明、太陰。太陰注手少陰、太陽。太陽注足太陽、少陰。少陰注手厥陰、少陽。少陽注足少陽、厥陰。厥陰復注手太陰也。（此則榮氣之行也。然衛氣晝但行於陽。而不行於陰。夜但行於陰。而不行於陽。不與榮同道。不與息數同應。）</p>
<p>又曰。五臟之道。皆出於經隧。以行氣血。氣血不和。百病乃變化而生。是故守經隧焉。（隧。潛道也。經脈行而不見。故謂之經隧。詳見陽經外絡內。陰經內絡外條。）旁出者。謂之絡。（經之橫支。交接別經者。）十二經有十二絡。（如太陰屬肺。絡大腸。手陽明屬大腸。絡肺之類。）兼陽蹺絡、陰蹺絡、脾之大絡。為十五絡也。皆從十二經之所始。轉相灌溉。朝於寸口、人迎也。又曰孫絡。（小絡也。經脈為里。支而橫者為絡。絡之別者為孫絡。又曰。節之交三百六十五會者。絡脈之滲灌諸節者也。節者。神氣之所遊行出入者也。非髀肉筋骨也。）</p>
<p>問曰。榮衛之氣。亦有別乎。</p>
<p>曰。榮者。水穀之精氣也。和調於五臟。灑陳於六腑。乃能入於脈也。故循脈上下。貫五臟。絡六腑也。衛者。水穀之悍氣也。其氣剽疾滑利。不能入於脈也。故循皮膚之中。分肉之間。熏於肓膜。散於胸腹。逆其氣則病。從其氣則愈。不與風寒濕氣合也。（詳見井滎俞經合注）</p>
<p>或曰。經脈與絡脈異乎。</p>
<p>曰。經脈十二者。伏行分肉之間。深而不見。其虛實也。以氣口知之。諸脈之浮而常見者。皆絡脈也。諸絡脈不能經大節之間。必行絕道而出入。復合於皮中。其會皆見於外。故諸刺絡脈者。必刺其結。上甚血者。雖無結。急取之。以寫其邪而去其血。留之發為痹也。凡診絡脈。色青則寒且痛。赤則有熱。魚際絡青。胃中寒。魚際絡赤。胃中熱。其暴黑者。留久痹也。其有赤有黑有青者。寒熱氣也。青短者。少氣也。凡刺寒熱。皆多血絡。必間日一取。大血盡而止。乃調其血實。</p>
<p>或曰。經病絡病。治有異乎。</p>
<p>經曰。邪之客於形也。必先舍於皮毛。留而不去。入舍於孫絡。留而不去。入舍於絡脈。（絡脈。血脈也。非十五絡之絡。）留而不去。入舍於經脈。內連五臟。散於腸胃。陰陽俱感。五臟乃傷。此邪之從皮毛而入。極於五臟之次也。如此。則治其經焉。（邪客於經。左盛則右病。右盛則左病。亦有移易者。左痛未已。而右脈先病。如此者。必巨刺之。左刺右。右刺左。必中其經。非絡脈也。）今邪客於皮毛。入舍於孫絡。留而不去。閉塞不通。不得入於經。流溢於大絡。（即前血絡。外不得出。內不得入故也。）而生奇病也。（病在血絡謂奇邪）夫邪客大絡者。左注右。右注左。上下左右。與經相干。而布於四末。其氣無常處。不入於經俞。故曰繆刺。（絡病。其痛與經脈繆處也。亦宜左刺右。右刺左。雖與巨刺同。此刺絡而彼刺經也。）</p>
<p>或曰。十二經脈皆絡三百六十五節。節有病。必被經脈。治之亦有法乎。</p>
<p>曰。五臟得六腑。相為表裡。經絡支節。各生虛實。其病所居。隨而調之。病在脈。調之血。病在血。調之絡。病在氣。調之衛。病在肉。調之分肉。病在筋。調之筋。病在骨。調之骨。淬針藥熨。病不知所痛。兩蹺為上。身形有痛。九候無病。則繆刺之。（繆刺者。刺絡脈。左痛刺右。右痛刺左。）痛在於左。而右脈先病者。巨刺之。（巨刺者。刺經脈也。左痛刺右。右痛刺左。）必謹察其九候。針道畢矣。</p>
<p>或曰。經病亦有宜刺者乎。</p>
<p>經曰。肝病。實則兩脅痛引少腹。善怒。虛則目䀮䀮無所見。耳無所聞。善恐。如人將捕之。取其經厥陰與少陽。（非其絡病。故取其經。取厥陰治肝氣。少陽調氣逆。）氣逆則頭痛。耳聾不聰。頰腫。取血者。（脅中氣滿。獨異於常。乃氣逆之診。隨其左右。有則刺之。）　心病。實則胸中痛。脅支滿痛。膺背肩甲間痛。兩臂內痛。虛則胸腹大。脅與腰相引痛。取其經少陰、太陽。舌本下血。其變病。刺郄中血。（或嘔變也。郄在掌後。去腕半寸。）　脾病。實則身重善飢。肉痿。足不收。行善瘛。腳下痛。虛則腹滿。腸鳴飧泄。食不化。取其經。太陰、陽明、少陰血。肺病。實則喘咳逆氣。肩背痛。汗出。尻陰股膝髀腨足皆痛。虛則少氣不能報息。耳聾嗌乾。取其經。太陰、足太陽外。厥陰內血。（太陽外。厥陰內。則少陰也。視少陰足脈。左右有血滿異常者。刺之。）　腎病。實則腹大脛腫。喘咳身重。寢汗憎風。虛則胸中痛。大小腹痛。清厥意不樂。取其經。少陰、太陽血。（注云。凡刺之道。虛補實寫。不虛不實。以經取之。是謂得道。經絡有血。刺而去之。是謂守法。猶當揣形定氣。先去血脈。而後乃調有餘不足也。）</p>
<p>或曰。六腑病形刺法何如。</p>
<p>經曰。大腸病者。腸中切痛而鳴。冬日重感於寒則瀉。當臍痛。不能久立。與胃同候。取巨虛上廉。　胃病者。腹脹。胃脘當心而痛。上支兩脅。膈咽不通。食飲不下。取之三里。　小腸病者。小腹痛。腰脊控睪而痛。時窘之後。當耳前熱。若寒甚。若獨肩上熱甚。及手小指次指間熱。若脈陷者。此其候也。取之巨虛下廉。　三焦病者。腹脹。小腹尤堅。不得小便。窘急。溢則水留為脹。取之委陽。膀胱病者。小腹偏腫而痛。以手按之。即欲小便而不得。肩上熱。若脈陷。及脛踝後足小指外廉皆熱。取之委中。　膽病者。善太息。口苦。嘔宿汁。心中澹澹。恐人將捕之。嗌中介介然。數唾。在足少陽之本末。亦視其脈之陷下者。灸之。取陽陵泉。（凡刺此者。必中氣穴。無中肉節。中肉節。則皮膚痛。中筋。則筋緩。邪氣不出。補寫反。則病益篤。）</p>
<p>或曰。精氣津液血脈。亦有別乎。</p>
<p>經曰。兩神相搏。合而成形。常先身生。是謂精。上焦開發。宣五穀味。熏膚。充身。澤毛。若霧露之溉。是謂氣。腠理發泄。汗出溱溱。是謂津。谷入氣滿。淖澤注於骨。骨屬屈伸。泄澤補益腦髓。皮膚潤澤。是謂液。中焦受氣。取汁變化而赤。是謂血。壅遏營氣。令無所避。是謂脈。精脫者。耳聾。氣脫者。目不明。津脫者。腠理開。汗大泄。液脫者。骨屬屈伸不利。色夭。腦髓消。脛酸。耳數鳴。血脫者。色白。夭然不澤。其脈空虛。</p>
<p>或曰。病有在氣分者。在血分者。不知針家亦分氣與血否。</p>
<p>曰。氣分血分之病。針家亦所當知。病在氣分。遊行不定。病在血分。沉著不移。以積塊言之。腹中或上或下。或有或無者。是氣分也。或在兩脅。或在心下。或在臍上下左右。一定不移。以漸而長者。是血分也。以病風言之。或左足移於右足。或右手移於左手。移動不常者。氣分也。或常在左足。或偏在右手。著而不走者。血分也。凡病莫不皆然。須知在氣分者。上有病。下取之。下有病。上取之。在左取右。在右取左。在血分者。隨其血之所在。應病取之。苟或血病寫氣。氣病寫血。是謂誅伐無過。咎將誰歸。</p>
<p>或曰。三陰三陽。氣血多少之刺。可得聞乎。</p>
<p>曰。經曰手陽明大腸、足陽明胃經。多血多氣。手少陽三焦、足少陽膽、手少陰心、足少陰腎、手太陰肺、足太陰脾六經。少血多氣。　手厥陰心包絡、足厥陰肝、手太陽小腸、足太陽膀胱四經。多血少氣。故刺陽明。出血氣。刺太陽、厥陰。出血惡氣。刺少陽、太陰、少陰。出氣惡血。故曰。知臟腑血氣之多少。而用補寫是也。</p>
<p>或曰。形氣病氣。何以別之。</p>
<p>經曰。形氣不足。病氣有餘。是邪勝也。急寫之。形氣有餘。病氣不足。急補之。形氣不足。病氣不足。此陰陽俱不足也。不可刺之。刺之則重不足。老者絕滅。壯者不復矣。形氣有餘。病氣有餘。此陰陽俱有餘也。急寫其邪。調其虛實。故曰。有餘者寫之。不足者補之。此之謂也。（夫形氣者。氣謂口鼻中喘息也。形謂皮肉筋骨血脈也。形勝者。為有餘。消瘦者。為不足。其氣者。審口鼻中氣。勞役如故。為氣有餘也。若喘息氣促氣短。或不足以息者。為不足。故曰。形氣也。乃人之身形中氣血也。當補當寫。不在於此。只在病來潮作之時。病氣精神增添者。是病氣有餘。乃邪氣勝也。急當寫之。病來潮作之時。精神困窮。語言無力及懶語者。為病氣不足。乃真氣不足也。急當補之。若病人形氣不足。病來潮作之時。病氣亦不足。此陰陽俱不足也。禁用針。宜補之以甘藥。不已。臍下氣海穴取之。）</p>
<p>或曰。病有臟腑陰陽內外高下。何別何治。願詳言焉。</p>
<p>經曰。內有陰陽。外亦有陰陽。在內者。以五臟為陰。六腑為陽。在外者。筋骨為陰。皮膚為陽。故曰。病在陰之陰者。刺陰之滎腧。病在陽之陽者。刺陽之合。病在陽之陰者。刺陰之經。病在陰之陽者。刺脈絡。</p>
<p>又曰。病有形而不痛者。陽之類也。無形而痛者。陰之類也。無形而痛者。其陽完而陰傷之也。急治其陰。無攻其陽。有形而不痛者。其陰完而陽傷之也。急治其陽。無攻其陰。陰陽俱動。乍有形乍無形。加以煩心。命曰陰勝其陽。此謂不表不里。其形不久。</p>
<p>經曰。風寒傷形。憂恐忿怒傷氣。氣傷臟乃病。臟傷形乃應。風傷筋脈。筋脈乃應。此形氣外內之相應也。治此者。病九日。三刺而已。病一月。十刺而已。多少遠近。以此衰之。久痹不去身者。視其血絡。盡出其血。帝曰。內外之病。難易之治何如。伯高曰。形先病而未入臟者。刺之半其日。臟先病而形乃應者。刺之倍其日。</p>
<p>經曰。刺諸熱者。如以手探湯。刺寒清者。如人不欲行。陰有陽疾者。取之下陵、三里。正往無殆。氣下乃止。不下復始也。疾高而內者。取之陰之陵泉。疾高而外者。取之陽之陵泉。經曰。病在上者。陽也。病在下者。陰也。痛者。陰也。以手按之不得者。陰也。深刺之。癢者。陽也。淺刺之。病先起陰者。先治其陰。後治其陽。病先起陽者。先治其陽。後治其陰。（病在上者。下取之。在下者。上取之。病在頭者。取之足。在腰者。取之膕。病生於頭者。頭重。生於手者。臂重。生於足者。足重。治病者。先刺其病所從生者也。）</p>
<p>經曰。病始手臂者。先取手陽明、太陰而汗出。病始頭首者。先取項太陽而汗出。病始足脛者。先取足陽明而汗出。足太陰可汗出。足陽明可汗出。故取陰而汗出甚者。止之於陽。取陽而汗出甚者。止之於陰。</p>
<p>或曰。經言病有虛邪。有實邪。有賊邪。有微邪。有正邪。何謂也。</p>
<p>經曰。從後來者。為虛邪。從前來者。為實邪。從所不勝來者。為賊邪。從所勝來者。為微邪。自病者。為正邪。假令心病由中風得之。為虛邪。木在火後。生火為母也。飲食勞倦得之。為實邪。土在火前。為子也。中濕得之。為賊邪。水剋火也。傷寒得之。為微邪。火勝金也。傷暑得之。為正邪。火自病也。</p>
<p>或曰。有正經自病。有五邪所傷。針治亦當別乎。</p>
<p>經曰。憂愁思慮。則傷心。形寒飲冷。則傷肺。恚怒氣逆。上而不下。則傷肝。飲食勞倦。則傷脾。久坐濕地。強力入水。則傷腎。此正經自病也。蓋憂思喜怒。飲食動作之過。而致然也。風喜傷肝。暑喜傷心。飲食勞倦喜傷脾。（勞倦亦自外至）寒喜傷肺。濕喜傷腎。此五邪所傷也。蓋邪由外至。所謂外傷也。凡陰陽臟腑。經絡之氣。虛實相等。正也。偏實偏虛。失其正。則為邪矣。由偏實也。故內邪得而生。由偏虛也。故外邪得而入。機按。經言凡病皆當辨別邪正內外虛實。然後施針補寫。庶不致誤。</p>
<p>或曰。經言虛者補之。實者寫之。不虛不實。以經取之。何謂也。</p>
<p>經曰。虛者補其母。母能令子實也。實者寫其子。子能令母虛也。假令肝病虛。則補厥陰之合。曲泉。實則寫厥陰之滎。行間。不虛不實。以經取之者。是正經自病。不中他邪。當自取其經。如井主心下滿之類。正經自病。所謂憂愁思慮則傷心。強力入水則傷腎之類是也。不虛不實。是諸臟不相乘。故云自取其經（重解卷末）</p>
<p>或曰。經言無實實。無虛虛。損不足。益有餘。何謂也。</p>
<p>經曰。此謂病有虛實也。假令肝木實。肺金虛。金木當更相平。當知金平木。假令肺實而肝虛。微少氣。用針不補其肝。而反重實其肺。所謂實其實。虛其虛。損不足。益有餘也。</p>
<p>或曰。七情所傷之病。何以察識。亦可以刺否。</p>
<p>經曰。智者之養生也。必順四時而適寒暑。和喜怒而安居處。節陰陽而調剛柔。如是則邪僻不生。長生久視。故心怵惕思慮。則傷神。傷神則恐懼自失。脾憂愁而不解。則傷意。意傷則悗亂。肝悲哀動中。則傷魂。魂傷則狂忘不精。肺喜樂無極。則傷魄。魄傷則狂。腎盛怒而不止。則傷志。志傷則喜忘。恐懼而不解。則傷精。精傷則骨酸痿厥。是故五臟主藏精者也。不可傷。傷則失守而陰虛。陰虛則無氣。無氣則死矣。故用針者。察觀病人之態。以知精神魂魄之存亡得失之意。五者以傷。針不可以治之也。</p>
<p>又曰。肝藏血。血舍魂。肝氣虛則恐。實則怒。脾藏營。營舍意。脾氣虛則四肢不用。五臟不安。實則腹脹。涇溲不利。心藏脈。脈舍神。心氣虛則悲。實則笑不休。肺藏氣。氣舍魄。肺氣虛則鼻塞不利。少氣。實則喘喝。胸盈仰息。腎藏精。精舍志。腎氣虛則厥。實則脹。五臟不安。必審五臟之病形。以知其氣之虛實而謹調之也。</p>
<p>又曰。肺心有邪。其氣留於兩肘。肝有邪。其氣留於兩腋。脾有邪。其氣留於兩髀。腎有邪。其氣留於兩膕。凡此八虛者。皆機關之寶。真氣之所過。血絡之所遊。邪氣惡血固不得住留。住留則傷筋絡骨節。機關不得屈伸。故病攣也。</p>
<p>或曰。八正之候何如。</p>
<p>經曰。候此者。常以冬至之日。立於葉蟄之宮。其至也。天必應之以風雨者矣。風雨從南方來者。為虛風。賊傷人者也。（從其所居之鄉來者。為實風。主生養萬物。從其沖後來者。為虛風。主傷人殺害。故聖人謹候虛風而避之。邪弗能害。）其以夜半至也。民皆臥而弗犯。故其歲民少病。以晝至也。民皆懈惰而中之。故民多病。虛邪入客於骨而不發於外。至其立春。陽氣大發。腠理開。因立春之日。風從西方來者。民皆又中於虛風。此兩邪相搏。經氣結代者矣。故諸逢其風而遇其雨者。命曰遇歲露焉。而歲之和而少賊風。則民少病而少死。賊風邪氣寒溫不和。則民多病而死矣。</p>
<p>或曰。諸病逆順。可得聞乎。</p>
<p>經曰。腹脹身熱脈大。一逆也。腹鳴而滿。四肢清泄脈大。二逆也。衄而不止脈大。三逆也。咳且溲血脫形。其脈小勁。四逆也。咳脫形身熱。脈小以疾。五逆也。如是者。不過十五日而死矣。腹大脹。四末清。脫形泄甚。一逆也。腹脹便血。脈大時絕。二逆也。咳溲血脫形。脈搏。三逆也。嘔血胸滿引背。脈小而疾。四逆也。咳嘔腹脹飧泄脈絕。五逆也。如是者。不及一時而死矣。工不察此而刺之。是謂逆治。五奪者。形肉已奪。一也。大奪血之後。二也。大汗出之後。三也。大泄之後。四也。新產及大血之後。五也。此皆不可寫。熱病脈靜。汗已出。脈盛躁。一逆也。病泄。脈洪大。二逆也。著痹不移。䐃肉破。身熱。脈偏絕。三逆也。淫而奪形。身熱。色夭然白。及後下血衃篤重。四逆也。寒熱奪形。脈堅搏。五逆也。小兒病。頭毛皆逆上者。必死。</p>
<p>或曰。經言痹病有眾痹。有周痹。何分別耶。</p>
<p>經曰。眾痹者。此各在其處。更發更止。更居更起。以右應左。以左應右。非能周也。刺此者。痛雖已止。必刺其處。勿令復起。周痹者。在於血脈之中。隨脈以上。隨脈以下。不能左右。各當其所。痛從上下者。先刺其下以遏之。後刺其上以脫之。痛從下上者。先刺其上以遏之。後刺其下以脫之。此內不在臟。而外未發於皮。獨居分肉之間。真氣不能周。故曰周痹。</p>
<p>問曰。經言凡痹往來。行無常處者。在分肉間痛。刺之以月。死生為數。何也。</p>
<p>經曰。用針者。隨氣盛衰以為痏數。針過其數。則曰脫氣。不及日數。則氣不寫。左刺右。右刺左。不已。復刺之。如其法。（言所以約月。死生為數者。隨氣之盛衰也。）月生一日一痏。二日二痏。漸多之。十五日十五痏。十六日十四痏。漸少之。（如是刺之則無過數。無不及矣。）</p>
<p>或曰。經言熱病有五十九刺。可得聞歟。</p>
<p>經曰。熱病三日。氣口靜。人迎躁者。取之諸陽。五十九刺。以寫其熱。而出其汗。實其陰以補其不足。所謂五十九刺者。兩手外內側各三。凡十二痏。五指間各一。凡八痏。足亦如是。頭入發一寸旁三分各三。凡六痏。更入發三寸。邊五。凡十痏。耳前後口下者各一。項中一。凡六痏。巔上一。囟會一。髮際一。廉泉一。風池二。天柱二也。熱病七日八日。脈口動。喘而短（一作弦）者。急刺之。汗且自出。淺刺手大指間。熱病汗且出。及脈順可汗者。取之魚際、太淵、大都、太白。寫之則熱去。補之則汗出。汗出太甚。取之內踝上橫脈以止之。熱病七八日。脈微小。病溲血。口中乾。日半死。脈代者。一日死。熱病已得汗。脈尚躁。喘且復熱者死。熱病七八日。脈不躁。躁不散數。後三日中有汗。三日不汗。四日死。熱病脈尚盛躁。不得汗者死。脈盛躁。得汗靜者生。熱病不知所痛。耳聾不能自收。口乾。陽熱甚。陰頗有寒者。熱在髓。死不可治。又熱病不可刺者有九。一曰。汗不出。大顴發赤。噦者死。二曰。泄而腹滿甚者死。三曰。目不明。熱不已者死。四曰。老人嬰兒。熱而腹滿者死。五曰。汗不出。嘔下血者死。六曰。舌本爛。熱不已者死。七曰。咳而衄。汗不出。出不至足者死。八曰。髓熱者死。九曰。熱而痙者死。腰折瘛瘲。口噤齘也。凡此九者。不可刺也。</p>
<p>或曰。刺熱病亦有異乎。</p>
<p>或曰。寒熱瘰癧在頸腋者。何氣使然。</p>
<p>經曰。此皆鼠瘻寒熱之毒氣。留於脈而不去也。鼠瘻之本。皆在於藏。其末上出於頸腋之間。浮於脈中。而未內著於肌肉。外為膿血者。易去也。去之從其本。引其末。可使衰去。而絕其寒熱。審按其道以予之。徐往徐來以去之。其小如麥者。一刺知。三刺已。若反其目視之。其中有赤脈。上下貫瞳子。見一脈。一歲死。見一脈半。一歲半死。見二脈。二歲死。見二脈半。二歲半死。見三脈。三歲死。見赤脈不下貫瞳子。可治也。</p>
<p>或曰。癰疽何以治之。</p>
<p>經曰。癰疽之生。膿血之成。積微之所生也。故聖人自治於未有形也。愚者遭其已成者。膿已成。十死一生。故聖人弗使已成。已有膿血。以小治小者其功小。以大治大者多害。故其已成膿血者。其惟砭石鈹鋒之所取也。所謂多害者。觀逆順也。其白眼青。黑眼小。一逆。內藥而嘔。二逆。腹痛渴甚。三逆。肩項不便。四逆。音嘶色脫。五逆。除此五者。順矣。</p>
<p>或曰。水腫之病。宜刺乎。</p>
<p>經曰。經脈滿則絡脈溢。絡脈溢則繆刺之。以調其絡脈。使復其形而不腫。繆刺者。不分隧穴而刺之。大法。水溢於表。或腹脹。或四肢腫而氣稍實。脈浮洪者。宜行此法。或病孤危。脈微弱者。今亦往往而繆刺之。禍不旋踵。蓋不審經言。脈絡滿溢。宜繆刺之理也。</p>
<p>或曰。人有肥瘦白黑小長。刺法同乎否乎。</p>
<p>經曰。年質壯大者。血氣充盈。膚革堅固。因加以邪。刺此者。深而留之。嬰兒者。其肉脆。血少氣弱。刺此者。以毫針淺刺而疾髮針。日再可也。肥人者。廣肩。腋項肉薄。皮厚黑色。唇臨臨然。其血黑以濁。其氣澀以遲。刺此者。深而留之。多益其數也。瘦人者。皮薄色少。肉廉廉然。薄唇輕言。血清氣滑。易脫於氣。易損於血。刺此者。淺而疾之。壯士真骨者。堅肉緩節。監監然。此人重則氣澀血濁。刺此者。深而留之。多益其數。勁則氣滑血清。刺此者。淺而疾之。常人者。視其黑白。各為調之。其端正敦厚者。血氣調和。刺此者。無失常數也。</p>
<p>或曰。匹夫大人。刺法同乎。</p>
<p>經曰。氣滑則出疾。氣澀則出遲。氣悍則針小而入淺。氣濁則針大而入深。深則欲留。淺則欲疾。以此觀之。刺布衣者。深以留之。刺大人者。微以徐之。此皆因氣剽悍滑利也。又曰。春氣在毛。夏氣在皮膚。秋氣在分肉。冬氣在筋骨。凡刺病者。各以其時為齊。故刺肥人以秋冬之齊。刺瘦人以春夏之齊。</p>
<p>經曰。營之生病也。寒熱少氣。血上下行。衛之生病也。氣痛時來時去。怫氣賁響。風寒客於腸胃之中。寒痹之為病也。留而不去。時痛而皮不仁。刺營者出血。刺衛者出氣。刺寒痹者內熱。刺布衣者以火淬之。刺大人以藥熨之。以熨寒痹所刺之處。令熱入至於病所。起步內無見風。每刺必熨。如此病已。所謂內熱也。</p>
<p>或曰。三虛三實者。何謂也。</p>
<p>經曰。三虛者。乘年之衰。逢月之虛。失時之和。因為賊風所傷。是謂三虛。故論不知三虛。反工為粗。三實者。逢年之盛。遇月之滿。得時之和。雖有賊風邪氣。不能危之也。</p>
<p>或曰。人身有四海。何也。</p>
<p>經曰。胃者水穀之海。其輸上在氣街。下至三里。衝脈者。為十二經之海。其輸上在於大杼。下出於巨虛之上下廉。膻中者。為氣之海。其輸上在於柱骨上下。前在於人迎。腦為髓之海。其輸上在於其蓋。下在風府。氣海有餘者。氣滿胸中。悗息面赤。不足。則氣少不足以言。血海有餘。則常想其身大。怫然不知其所病。不足。常想其身小。狹然不知其所病。水穀之海有餘。則腹滿。不足。則飢不受穀食。髓海有餘。則輕勁多力。自過其度。不足。則腦轉耳鳴。脛酸眩冒。目無所見。懈怠安臥。治此者。審守其輸。而調其虛實。無犯其害。順者得復。逆者必敗。</p>
<p>或曰。諸家言某穴主某病。其說亦可從乎。</p>
<p>曰。治病無定穴也。邪客於人。與正周流上下。或在氣分。或在血分。無有定止。故喻用針。正如用兵。彼動則此應。或出以奇。或守以正。無有定製。醫者不究病因。不察傳變。惟守某穴主某病之說。執中無權。按譜施治。譬之狂潦泛溢。欲塞下流而獲安者。亦偶然耳。夫病變無窮。灸刺之法亦無窮。或在上。下取之。或在下。上取之。或正取之。或直取之。審經與絡。分血與氣。病隨經所在。穴隨經而取。庶得隨機應變之理。豈可執以某穴主某病哉。或曰。此固然矣。但學者望洋無下手處。曰。譬猶匠者。教人以規矩。取方圓也。規矩之法在師。方圓之法則在子弟。夫聖人之於針。非經絡孔穴。無以教後學。後學非經絡孔穴。無以傳之師。苟不知通變。徒執孔穴。所謂按圖索驥。安能盡其法哉。故曰。粗守形。上守神。粗守關。上守機。機之動。不離其空中。此之謂也。</p>
<p>或曰。八穴治病。多有效者。何如。</p>
<p>曰。人身正經十二。奇經有八。大絡十五。小絡三百餘。皆所以行氣血也。聖人取穴。三百六十有六。按歲之三百六十六日也。後人以為未盡。更取奇穴。是猶置閏月也。故經絡不可不知。孔穴不可不認。不知經絡。無以知血氣往來。不知孔穴。無以知邪氣所在。知而用。用而的。病乃可安。今之用八穴者。絡穴六。經穴二。余絡余經。置而不用。速求巧捷。遂悖聖經。又有六十六穴。拘於日時開闔。用之猶未周備。而況拘於八穴者乎。蓋八穴病在氣分。則有可劫之功。若在血分。徒損元氣。病何由安。正是血病而瀉氣也。邪在血分。則直求病之所在。而取之可也。今人泥而不用。良可笑耶。</p>
<p>或曰。膻中、鳩尾、中庭。人亦有針之者。寧無禁乎。</p>
<p>曰。心為一身之主。至貴不可犯。膻中、鳩尾、巨闕。心之宮城也。心主虛怯。不能主事。往往為邪所乘。或為痰飲所迷。或為瘀血所積。以致痞滿疼痛者有之。或神不內守。發為癲狂者有之。用針之士。多於膻中、鳩尾、中庭針之。亦猶伊尹之於太甲。周公之於孺子。事有差誤。則將傾覆社稷。荼毒生靈。其害有不可勝言者矣。夫針三穴亦然。犯真心。死不可救。必須自揣己才。果有如伊周之能。可以扶危持顛。方能保心於無危也。</p>
<p>或曰。針三陰交。主何病也。</p>
<p>曰。足之三陰。從足走腹。太陰脾經循內踝上直行。厥陰循內踝前交入太陰之後。少陰腎經循內踝後交出太陰之前。故謂之三陰交。脾主中。腎肝主下。中下焦氣。一穴可以盡之。故非危疾急證。與三陰俱有乾者。不可輕刺。脾腎氣常不足。肝雖有餘。亦是宿血之藏。誤刺則脫人元氣。不可不慎。</p>
<p>或曰。傷寒刺期門穴者。何如。</p>
<p>曰。十二經始於手太陰之雲門。以次而傳。終於足厥陰之期門。期門者。肝之募也。傷寒過經不解。刺之。使其不再傳也。婦人經脈不調。熱入血室。刺之。以其肝藏血也。胸滿腹脹。脅下肥氣。凡是木鬱諸疾。莫不刺之。以其肝主病也。經云。穴直乳下兩肋端。又曰。在不容旁一寸五分。古人說得甚明。今人不解用也。</p>
<p>或曰。刺胸腹者。必避五臟。何謂也。</p>
<p>經曰。中心。一日死。中肝。五日死。中脾。十日死。中腎。六日死。中肺。三日死。中膽。日半死。中膈者。皆為傷中。其病雖愈。不過一歲必死。刺胸腹者。必以布㹠著之。乃從單布上刺。刺之不愈。復刺。刺跗上。中大脈。血出不止死。刺面。中溜脈。為盲。刺頭。中腦戶。入腦立死。刺舌下中脈太過。血出不止為喑。刺足下布絡中脈。血不出為腫。刺郄中大脈。令人僕脫色。刺氣街中脈。血不出。為腫鼠僕。刺脊間。中髓為傴。刺乳上。中乳房。為腫根蝕。刺缺盆。中內陷。氣泄令人喘咳逆。刺手魚腹內陷為腫。無刺大醉。無刺大怒。無刺大勞。無刺大渴。無刺大驚。無刺大飢人。無刺新飽人。刺陰股中大脈。血出不止死。刺客主人內陷中脈。為聾。刺膝臏出液為跛。刺臂太陰脈。出血立死。刺足少陰脈。重虛出血。為舌難言。刺膺中陷。中肺。為喘逆。刺肘中內陷。為不屈伸。刺陰股下三寸內陷。為遺溺。刺腋下脅間內陷。令人咳。刺少腹。中膀胱。溺出。令少腹滿。刺腨腸內陷。為腫。刺眶上陷骨中脈。為盲。刺關節中液出。不得屈伸。又曰。無刺渾渾之脈。熇熇之熱。漉漉之汗。如大風大雨。嚴寒盛暑。卑濕煩燥。便黑吐血。暴然失聽。失明失意。失神失便溺。及七情五傷。皆不可刺。乘車馬遠來。亦候血氣定。然後刺之。機按。今醫但問某病。便針某穴。求其如經所言。不犯針禁。不夭人壽者。幾何人哉。</p>
<p>問曰。針刺失宜。亦能殺人否乎。</p>
<p>經曰。人之所受氣者。谷也。谷之所注者。胃也。胃者。水穀氣血之海也。海之所行雲氣者。天下也。胃之所出氣血者。經隧也。經隧者。五臟六腑之大絡也。迎而奪之而已矣。迎之五里。中道而止。五至而已。五往而藏之氣盡矣。故五五二十五而竭其輸矣。（氣之息道。一呼一吸為一至。故此云五里者。五至而已。過其數。藏氣盡。更過其數。極其輸矣。五往者。五至已往。則六至七至也。）所謂奪其天氣者也。非能絕其命而傾其壽乎。又曰。窺門而刺之者。死於家中。入門而刺之。死於堂上。（機按。胃經固多氣血。若寫之太過。則夭壽矣。夫以多氣多血之經。尚戒寫之太過。余經可輕寫乎。）</p>
<p>或曰。針灸宜避天忌日。何也。</p>
<p>經曰。左足應立春。其日戊子己丑。左脅應春分。其日己卯。左手應立夏。其日戊辰己巳。膺喉首頭應夏至。其日丙午。右手應立秋。其日戊申己未。右脅應秋分。其日辛酉。右足應立冬。其日戊戌己亥。腰尻下竅應冬至。其日壬子。六腑膈下三臟應四季中州。其日戊巳。大禁太乙所在日。（即前所云）凡此九者。善候八正所在之處。所主左右上下。身有癰腫欲治之。無以其所值之日潰治之。是謂天忌日也。又曰。春三月。人氣在左。無刺左足之陽。夏三月。人氣在右。無刺右足之陽。秋三月。人氣在右。無刺右足之陰。冬三月。人氣在左。無刺左足之陰。</p>
<p>或曰。刺榮無傷衛。刺衛無傷榮。何謂也。</p>
<p>曰。榮為陰。行於脈中。衛為陽。行於脈外。各有淺深。故針陽必臥針之。以陽氣輕浮。過之恐傷於榮也。刺陰者。先以左手按所刺之穴良久。令氣散。乃內針。不然。則傷衛氣也。</p>
<p>或曰。刺骨者。無傷筋。刺筋者。無傷肉。刺肉者。無傷脈。刺脈者。無傷皮。何謂也。</p>
<p>曰。此謂刺淺。不至所當刺之處也。如病在骨。當刺至骨。但針至筋而去。則傷筋矣。</p>
<p>或曰。刺皮無傷肉。刺肉無傷筋。刺筋無傷骨。何謂也。</p>
<p>曰。此戒過分太深也。如病在皮中。針至皮中而止。無令深入傷肉也。</p>
<p>或曰。春夏刺淺。秋冬刺深。何謂也。</p>
<p>經曰。春氣在毛。夏氣在皮。秋氣在分肉。冬氣在筋骨。淺深之應也。是知春夏之氣。浮而上。人之氣亦然。故刺之當淺。欲其無太過也。秋冬陽氣沉而下。人之氣亦然。故刺之當深。欲其無不及也。經曰。必先歲氣。無伐天和。此之謂也。</p>
<p>或曰。春夏各致一陰。秋冬各致一陽。何謂也。</p>
<p>難經曰。致。取也。春夏氣溫。必致一陰者。春夏養陽之義也。初下針則沉之至腎肝之部。候其得氣。乃引針而提之至於心肺之分。所謂致一陰也。秋冬氣寒。必致一陽者。秋冬養陰之義也。初內針淺而浮之當心肺之部。候其得氣。推針納之達腎肝之分。所謂致一陽也。此則古人特推其理。有如此耳。凡用針補寫。自有所宜。初不必以是相拘也。</p>
<p>或曰。針家亦診脈否。</p>
<p>經曰。凡將用針。必先診脈。視氣之劇易。乃可以治也。五臟之氣。已絕於內。（言脈口氣內絕不至）用針者。反實其外之病處。與陽經之合。有留針以致其陽氣。陽氣至。則內重竭。重竭必死。其死也。無氣以動故靜。五臟之氣。已絕於外。（言脈口氣外絕不至）用針者。反實其內。取其四末之輸。有留針以致其陰氣。陰氣至。則陽氣反入。入則逆。逆則死。其死也。陰氣有餘故躁。故曰。上工平氣。中工亂脈。下工絕氣危生。（機按。此言工不診脈。妄行針刺。故不免於絕氣危生。）</p>
<p>經曰。持其脈口人迎。以知陰陽有餘不足。平與不平也。不病者。脈口人迎應四時也。上下相應而俱往來也。六經之脈。不結動也。是謂平人。少氣者。脈口人迎俱少而不稱尺寸也。如是者。則陰陽俱不足。補陽而陰竭。寫陰則陽脫。如此亦弗灸。可將以甘藥。不已者。因而寫之。則五臟氣壞矣。又曰。寸口主中。人迎主外。兩者相應。俱往俱來若引繩。大小齊等。春夏人迎微大。秋冬寸口微大。如是者。命曰平人。人迎大一倍於寸口。病在足少陽。一倍而躁。在手少陽。人迎二倍。病在足太陽。二倍而躁。在手太陽。人迎三倍。病在足陽明。三倍而躁。在手陽明。（盛則為熱。虛則為寒。緊則為痛癢。代則乍甚乍間。盛則寫之。虛則補之。緊痛則取之分肉。代則取血絡。見飲藥陷下則灸之。不盛不虛。以經取之。名曰經刺。）人迎四倍者。且大且數。名曰溢陽。溢陽為外格。死不治。必審按其本末。察其寒溫。以驗其臟腑之病。寸口大。平人迎一倍。病在足厥陰。一倍而躁。在手心主。寸口二倍。病在足少陰。二倍而躁。在手少陰。寸口三倍。病在足太陰。三倍而躁。在手太陰。（盛則脹滿寒中食不化。虛則熱中出糜少氣溺色變。緊則痛癢。代則乍痛乍吐。盛則寫之。虛則補之。緊則先刺而移灸之。代則取血絡而後調之。陷下則徒灸之。陷下者。血結於中。中有著血。血寒。故宜灸之。不盛不虛。以經取之。）寸口四倍者。名曰內關。內關者。且大且數。死不治。必審察其本末之寒溫。以驗臟腑之病也。人迎與太陰脈口俱四倍以上。命曰關格。關格者。與之短期。人迎一盛。寫足陽明。補足厥陰。二寫一補。日一取之。人迎二盛。寫足太陽。補足太陰。二寫一補。二日一取之。人迎三盛。寫足陽明。補足太陰。二寫一補。日二取之。脈口一盛。寫足厥陰。補足少陽。二補一寫。日一取之。脈口二盛。寫足少陰。補足太陽。二補一寫。二日一取之。脈口三盛。寫足太陰。補足陽明。二補一寫。日二取之。所以日二取之。太陰主胃。富於穀氣。故可日二取之也。（以上補寫。皆必切而驗之。疏取之。上氣和乃止。）人迎與脈口俱盛三倍以上。命曰陰陽俱溢。如是者不開。則血脈閉塞。氣無所行。流淫於中。五臟內傷。如此者。因而灸之。則變易而為他病矣。（機按。此節全憑察脈盛衰。以知病在何經。乃可隨病以施針刺也。苟不診視。則經脈之虛實。補寫之多寡。病症之死生。懵然皆無所知矣。於此而妄施針灸。寧免粗工之誚哉。故集見於此。俾後之針士。必先以診視為務也。）</p>
<p>經曰。脈之諸急者。多寒。緩者。多熱。大者。多氣。少者小者。血氣皆少。滑者。陽氣盛。微有熱。澀者。少血多氣。微有寒。刺急者。深納而久留之。緩者。淺內而疾髮針。以去其熱。大者。微寫其氣。無出其血。滑者。疾髮針而淺內之。以寫陽氣而去其熱。澀者。必中其脈。順其逆。順而久留之。必先按而循之。已髮針。疾按其痏。小者。陰陽形氣俱不足。勿取以針。而調以甘藥也。</p>
<p>經曰。凡刺之屬。一刺則陽邪出。再刺則陰邪出。三刺則穀氣至而止。所謂穀氣至者。已補而實。已寫而虛。故以知穀氣至也。邪氣獨出者。陰與陽未能調。痛雖不隨針。病必衰去矣。陰盛而陽虛。先補其陽。後寫其陰而和之。陰虛而陽盛。先補其陰。後寫其陽而和之。三脈動於足大指之間。（三脈盛虛和也）必審其實虛。虛而寫之。是謂重虛。重虛病益甚。凡刺此者。以指按之。動脈而實且疾者。疾寫之。虛而徐者。則補之。邪氣來也。緊而疾。穀氣來也。徐而和。脈實者。深刺之。以寫其氣。脈虛者。淺刺之。使精氣無得出。以養其脈。獨出其邪氣。久病者。邪氣深入。深內而久留之。間日而復刺之。必先調其左右。去其血脈。刺道畢矣。（機按。此節不惟詳於刺法。而亦詳於診法。但診則以指行間動脈也。脈實而疾。則深刺以寫。脈虛而徐。則淺刺以補。邪氣脈來。緊而疾。穀氣脈來。徐而和。學者於此而察識之。則臨病施針。庶免妄治之失矣。）</p>
<p>經曰。必先明知十二經絡之本末。皮膚之寒熱。脈之盛衰滑澀。其脈滑而盛者。病日進。虛而細者。久以持。大而澀者。為痛痹。寸口與人迎。脈小大等及浮沉等者。病難已。大便赤辦。飧泄。脈小。手足寒難已。手足溫而易已。審其尺之緩急大小滑澀。肉之堅脆。而病形定矣。（機按。今之針士。多不診脈。未免有誤刺害論焉。）</p>
<p>或曰。針家亦察色否。</p>
<p>經曰。視目之五色。以知五臟。決死生。視其血脈。察其色。以知其寒熱痹。故目赤色。病在心。白在肺。青在肝。黃在脾。黑在腎。黃色不可名。病在胸中。診血脈者。多赤多熱。多青多痛多黑為久痹。多赤多黑多青皆見者。寒熱身痛。而色微黃。齒垢黃。爪甲上黃。黃疸也。診目痛。赤脈從上下者太陽病。從下上者陽明病。從外走內者少陽病。耳間青脈起者。掣痛。（機按。切脈觀色。醫之大要。今之針士。置而弗論。此刺法所以不古。若而。愈疾亦十無一二也。故集次靈樞察色數條於此。後之學者。擴而充之。庶幾如經所謂能合色脈。可以萬全者矣。）</p>
<p>或曰。經云五臟五俞。五五二十五俞。六腑六俞。六六三十六俞。經脈十二。絡脈十五。凡二十七氣以上下。所出為井。所溜為滎。所注為俞。所行為經。所入為合。又云。五臟有六腑。六腑有十二原者。何謂也。</p>
<p>曰。井譬如谷。井。泉源之所出也。經穴之氣所生。則自井始。而溜滎注俞。過經入合。（合者。會也。如水會於海。）又以井主東方木。木者。春也。萬物發生之始。故陰井屬乙木。乙。陰木也。乙與庚合。故陽井屬庚金。庚。陽金也。陰木柔。陽金剛。剛柔相配。夫婦之道。則有父子之相生。是以肝木大敦陰井。木生陰滎行間火。火生陰俞太衝土。土生陰經中封金。金生陰合曲泉水。心之少衝井木。少府滎火。神門俞土。靈道經金。少海合水。脾之隱白井木。大都滎火。太白俞土。商丘經金。陰陵泉合水。　肺之少商井木。魚際滎火。太淵俞土。經渠經金。尺澤合水。　腎之湧泉井木。然谷滎火。太谿俞土。復溜經金。陰谷合水。　心包之中衝井木。勞宮滎火。大陵俞土。間使經金。曲澤合水。此陰經之穴。以次而相生也。　膽之竅陰陽井。金生陽滎俠谿水。水生陽俞臨泣木。木生陽經陽輔火。火生陽合陽陵泉土。　小腸少澤井金。前谷滎水。後谿俞木。陽谷經土。小海合火。　胃之厲兌井金。內庭滎水。陷谷俞木。解谿經火。三里合土。　大腸之商陽井金。二間滎水。三間俞木。陽谿經火。曲池合土。　膀胱之至陰井金。通谷滎水。束骨俞木。崑崙經火。委中合土。　三焦之關衝井金。液門滎水。中渚俞木。支溝經火。天井合土。此陽經之穴。以次而相生也。六腑又有原者。經曰。以三焦行於諸陽。故又置一俞。而名曰原。五臟則以俞為原。　肺俞太淵。心俞大陵。肝俞太衝。脾俞太白。腎俞太谿是也。　膀胱俞束骨。過於京骨為原。膽俞臨泣。過於丘墟為原。胃俞陷谷。過於衝陽為原。三焦俞中渚。過於陽池為原。小腸俞後谿。過於腕骨為原。大腸俞三間。過於合谷為原。蓋五臟陰經。止以俞為原。六腑陽經。既有俞。仍別有原也。臟之俞。腑之原。皆三焦之所行。氣之所留止也。主治五臟六腑之有病也。名之曰原。以臍下腎間動氣。人之生命。十二經之根本。三焦則為原氣之別使。主通行上中下之三氣。經歷於臟腑也。故曰。下焦稟真元之氣。即原氣也。</p>
<p>經曰。五臟有六腑。六腑有十二原。十二原出於四關。（言井滎俞經合。手不過肘。足不過膝。）四關主治五臟。五臟有疾。當取之十二原。十二原者。五臟之所以稟三百六十五節氣味也。（節之交。三百六十五會者。絡脈之滲灌諸節者也。）五臟有疾。應出十二原。明知其原。睹其應。而知五臟之害矣。</p>
<p>或曰。五臟募皆在陰。俞皆在陽。何謂也。</p>
<p>難經曰。陰病行陽。陽病行陰。故募在陰。俞在陽。募與俞。五臟孔穴之總名也。在腹為陰。謂之募。言經氣聚於此也。在背為陽。謂之俞。言經氣由此而輸於彼也。募在腹者。肺募中府。心募巨闕。脾募章門。肝募期門。腎募京門。俞在背者。肺俞在背第三椎下。心俞在第五椎下。肝俞在第九椎下。脾俞在十一椎下。腎俞在十四椎下。皆俠脊兩旁各一寸五分。陰病行陽。陽病行陰者。陰陽經絡。氣相交貫。臟腑腹背。氣相通應。所以陰病有時而行陽。陽病有時而行陰也。針法曰。從陽引陰。從陰引陽。</p>
<p>或曰。六腑各有俞。（背俞）風寒濕氣中其俞。而飲食應之。循俞而入。各舍其腑也。針治奈何。</p>
<p>經曰。五臟有俞。（井滎俞經合之俞）六腑有合。（六腑合穴）各有所發。各隨其過。（經脈所經過處）則病瘳矣。</p>
<p>或曰。靈樞難經以大陵為心之原。而又別以兌骨為少陰之原。諸家針灸書。並以大陵為手厥陰心主之俞。以神門在掌後兌骨之端者。為心經所注之俞。似此不同者。何也。</p>
<p>靈樞七十一篇曰。少陰無俞。心不病乎。岐伯曰。其外經病而藏不病。故獨取其經於掌後兌骨之端也。其餘脈出入屈折。行之疾徐。皆如手少陰心主之脈行也。又第二篇曰。心出於中衝。溜於勞宮。注於大陵。行於行間。入於曲澤。手少陰也。（按中衝以下。並手心主經俞。靈樞直指為手少陰。而手少陰經俞。不別載也。）素問繆刺篇曰。刺手心主少陰兌骨之端。各一痏。又氣穴篇曰。藏俞五十穴。（王注）五臟俞惟有心包絡井俞之穴。而亦無心經井俞穴。又七十九難曰。假令心病。寫手心主俞。補手心主井。詳此前後各經文義。則知手少陰與手心主同治也。</p>
<p>或曰。井滎俞經合。主何病也。</p>
<p>曰。六十八難注云。心下滿。肝木病也。足厥陰之支。從肝貫膈。上注肺。故井主心下滿也。滎主身熱。心火病也。俞主體重節痛。脾土病也。經主喘咳寒熱。肺金病也。合主逆氣而泄。腎水病也。此舉五臟之病。各一端為例。余病可以類推而互舉也。不言六腑者。舉藏足以該之。</p>
<p>或曰。諸經之井。皆在手指足趾梢。肌肉淺薄之處。不足使為補寫也。刺之奈何。</p>
<p>經曰。設當刺井者。只寫其滎。以井為木。滎為火。火者。木之子也。此專為寫井者言也。若當補井。則必補其合。故經言。補者不可以為寫。寫者不可以為補。各有攸當也。補寫反。則病危。可不謹哉。</p>
<p>或曰。經以井滎俞經。各系於四時。何謂也。</p>
<p>經曰。春刺井者。邪在肝。夏刺滎者。邪在心。季夏刺俞者。邪在脾。秋刺經者。邪在肺。冬刺合者。邪在腎也。</p>
<p>或曰。南唐何若愚謂三焦是陽氣之父。心包絡是陰氣之母。二經尊重。不繫五行所攝。主受納十經血氣養育。故只言十經。陰陽二脈。逐日各注井滎俞經合。各五時辰畢。每日遇陽干合處。注於三焦。遇陰乾合處。注於包絡。此二經亦各注井滎俞經合五穴也。陽干注腑。陰乾注臟。如甲日甲戌時。膽氣初出為井。然甲與己合。己巳時。脾出血為井。又如乙日乙酉時。肝出血為井。然乙與庚合。庚辰時。大腸出血為井。陰陽並行。流注無休。陽日。氣先脈外。血後脈內。陰日。血先脈外。氣後脈內。交貫而行。甲戌時。至甲申為陽干合處。己巳時。至己卯為陰乾合處。余經日辰皆依此推。陽日陽時。則陽經穴開。病在陽經。宜俟陽經穴開針之。陰經亦然。假如膽屬足少陽陽木。故甲日甲戌時。膽引氣出竅陰。（井木）丙子時。流於小腸前谷。（滎火）戌寅時。注於胃陷谷。（俞土）並過本原丘墟。庚辰時。經於大腸陽谿。（經金）壬午時。入於膀胱委中。（合水）此五腑井滎俞經合穴開時也。至甲申時。氣納三焦之關衝（井）液門（滎）中渚（俞）陽池（原）支溝（經）天井（合）穴亦開焉。　肝屬足厥陰乙木。故乙日乙酉時。肝引血出大敦。（井木）丁亥時。流於心之少府。（滎火）己丑時。注於脾之太白。（俞土）辛卯時。經於肺之經渠（經金）癸巳時。入於腎之陰谷。（合水）此五臟井滎俞經合穴開時也。至乙未時。血納包絡之中衝（井）勞宮（滎）大陵（俞）間使（經）曲澤（合）穴亦開焉。　小腸屬手太陽陽火。故丙日丙申時。小腸引氣出少澤。（井火）戊戌時。流於胃內庭。（滎土）庚子時。注於大腸三間。（俞金）過本原腕骨。壬寅時。經膀胱崑崙。（經水）甲辰時。入膽腕骨。（合木）丙午時。氣納三焦。　心屬手少陰陰火。故丁日丁未時。心引血行少衝。（井火）乙酉時。流於脾大都。（滎土）辛亥時。注於肺太淵。（俞金）癸丑時。經於腎復溜。（經水）乙卯時。入於肝曲泉。（合木）丁巳時。血納包絡。　胃屬足陽明陽土。故戊日戊午時。胃引氣出厲兌。（井土）庚辰時。流於大腸二間。（滎金）壬戌時。注於膀胱束骨。（俞水）並過本原衝陽。甲子時。經於膽陽輔。（經水）丙寅時。入於小腸少海。（合火）戊辰時。氣納三焦。　脾屬足太陰陰土。故己日己巳時。脾引血行隱白。（井土）辛未時。流於肺魚際。（滎金）癸酉時。注於腎太谿。（俞水）乙亥時。經於肝中封。（經木）丁丑時。入於心少海。（合火）己卯時。血納包絡。　大腸屬手陽明陽金。故庚日庚辰時。大腸引血出商陽。（井金）壬午時。流於膀胱通谷。（滎水）甲申時。注於膽臨泣。（俞木）丙戌時。經於小腸陽谷。（經火）戊子時。入於胃三里。（合土）庚寅時。氣納三焦。　肺屬手太陰陰金。故辛日辛卯時。肺引血行少商。（井金）癸巳時。流於腎然谷。（滎水）乙未時。注於肝太衝。（俞木）丁酉時。經於心靈道。（經火）己亥時。入於脾陰陵泉。（合土）辛丑時。血納包絡。　膀胱屬足太陽陽水。故壬日壬寅時。膀胱引氣出至陰。（井水）甲辰時。流於膽俠谿。（滎木）丙午時。注於小腸後谿。（俞火）並過本原京骨。戊申時。經於胃俠谿。（經土）庚戌時。入於大腸曲池。（合金）壬子時。氣納三焦。　腎屬足少陰陰水。故癸日癸亥時。腎引血出湧泉。（井水）乙丑時。流於肝行間。（滎木）丁卯時。注於心神門。（俞火）己巳時。經於脾商丘。（經土）辛未時。入於肺尺澤。（合金）癸亥時。血納包絡。　三焦屬手少陽。壬子時。三焦出關沖。（井金）甲寅時。流於液門。（滎水）丙辰時。注於中渚。（俞木）並過本原陽池。戊午時。經於支溝。（經火）庚申時。入於天井。（合土）　心主包絡屬手厥陰。癸丑時。包絡出中衝。（井木）乙卯時。流於勞宮。（滎火）丁巳時。注於太谿。（俞土）己未時。經於間使。（經金）辛酉時。入於曲澤。（合水）何公此法刊布。古今名曰子午流注。蓋謂左轉從子。能外行諸陽。右轉從午。能內行諸陰。於經亦有據乎。</p>
<p>曰。此皆臆說。素難不載。不惟悖其經旨。而所說亦自相矛盾者多矣。彼謂陽日陽時陽經穴開。故甲子日甲戌時。甲膽竅陰井開。此固然也。丙子時。屬於乙丑日辰。乃陰日陽時也。而謂丙小腸前谷滎穴開。其與陽日陽時之說。合乎否乎。經曰。邪氣者。常隨四時之氣血而入客也。因其陰氣。則入陰經。因其陽氣。則入陽脈。不可為度。然必從其經氣。闢除其邪。則亂氣不生。四時之氣所在。如春氣在經脈。夏氣在孫絡。秋氣在皮膚。冬氣在骨髓之類。故曰。春刺井。夏刺滎。季夏刺俞。秋刺經。冬刺合。亦因四時之氣所在而刺之也。又曰。謹候其時。病可與期。蓋言謹候其氣之所在之時而刺之。是謂逢時。如病在三陽。必候其氣在於陽分而刺之。病在三陰。必候其氣在於陰分而刺之。故古人刺法。惟以氣之所在之處。穴俞為開。氣之不在之處。穴俞為闔並無所謂陽日陽時陽穴開。陰日陰時陰穴開之說。又嘗考之經曰。補寫以時。與氣開闔相合者。氣當時刻謂之開。已過未至謂之闔。蓋邪來朝應之時。如波隴起。察其在何穴分。即於此時而刺之。謂之開。若依何公某穴某時某穴開。宜刺某穴。或遇邪至所定時穴刺之固宜。或邪已過未至。亦依其所定時穴刺之。寧不反增其病耶。經曰。刺不知四時之經病之所在。反之則生亂氣。此之謂也。經曰。陰井木。陽井金。陰滎火。陽滎水。陰經土。陽經木。陰俞金。陽俞火。陰合水。陽合土。今何公盡變其法。皆以十干配之十經。取干旺日時而注井滎俞經合。故甲日甲時取屬甲膽。而甲膽陽井之金。亦依日乾而變為木。小腸前谷滎水。亦依日乾而變為火。然三焦包絡。又依難經而無所變。顛倒錯亂如此。與經合乎否乎。周身十二經。各有井滎俞經合。其所主病。亦各不同。假如病在肝。宜針肝之滎穴行間。乃曰乙日肝之滎穴不屬行間。而屬心之滎穴少府。舍肝之滎而針心之滎。是謂亂經。病可去乎。不可去乎。又謂陽日氣先血後。陰日氣後血先。此亦不通之論。就以彼之所言。證之彼云。甲與己合。己日己巳時。脾引血出。甲戌時。膽引氣行。固合陰日血先氣後說矣。然甲日己巳時居前。而脾亦可引血先出。甲戌時居後。而膽亦可引氣後行。如此。則陽日血亦可先。氣亦可後矣。何其言之不審耶。機按。經曰榮者水穀之精氣。其始從中焦。注手太陰陽明。以次相傳。至足厥陰。復還注手太陰。入於脈。與息數呼吸應。此經脈行度終始也。榮氣一周於身。外至身體四肢。內至五臟六腑。無不周遍。故其五十周無陰陽晝夜之殊。與衛氣之行不同。衛者。水穀之悍氣。出於上焦。行於脈外。溫分肉。充皮膚。司開闔。不與脈同行。不與息數同應。晝但周陽於身體四肢之外。不能入五臟六腑之內。夜但周陰於五臟六腑之內。不能出身體四肢之外。故必五十周。至平旦方與榮大會於肺手太陰也。榮衛之行。各有常度如此。而謂陽日氣先血後。陰日氣後血先。不自知其亂經旨也大矣。豈可為法於天下。可傳於後世哉。（難經言。榮氣之行。常與衛氣相隨上下。由息而動。巢元方謂氣行則血行。氣住則血住。似皆未達榮衛異行之旨也。）</p>
<p>或曰。指微賦言。養子時刻注穴者。謂逐時干旺氣。注臟腑井滎之法也。每一時辰相生養子五度。各注井滎俞經合五穴。晝夜十二時。氣血行過六十俞穴也。假令甲日甲戌時。膽統氣出竅陰穴為井。（木氣）流至小腸為滎。（火氣）過前谷穴。注至胃為俞。（土氣）過陷谷穴並過本原丘墟穴。行至大腸為經。（金氣）過陽谿穴。入於膀胱為合。（水氣）入委中穴而終。是甲戌時。木火土金水相生。五度一時辰。流注五穴畢也。與七韻中所說。亦相通否。</p>
<p>曰。榮衛晝夜各五十度周於身。皆有常度。無太過。無不及。此平人也。為邪所中。則或速或遲。莫得而循其常度矣。今何公於七韻中謂井滎俞經合五穴。每一穴佔一時。如甲日甲戌時。膽出竅陰。丙子時。流於小腸前谷。戊寅時。流於胃合谷。並過本原丘墟。庚辰時。行於大腸陽谿。壬午時。入於膀胱委中。再遇甲申時。注於三焦。六穴帶本原。共十二穴。是一日一夜。氣但周於此數穴也。且五臟五腑十經。井滎俞經合。每一穴佔一時。獨三焦六穴佔一時。包絡五穴佔一時。而賦乃言甲戌一時。木火土金水相生。五度一時。流注五穴畢。與韻中所語大不相合。賦與韻出於一人。何其言之牴牾若是。不知不善於措辭耶。不知賦韻兩不相通耶。賦注又言。晝夜十二時。血氣行過六十俞穴。考其針刺定時晝夜周環六十首圖。乃知一時辰相生養子五度之說矣。假如甲日甲戌時。甲。陽木也。故膽始竅陰木。木生前谷火。火生陷谷土。過丘墟原。土生陽谿金。金生委中水。再遇甲申時。注於三焦關衝、液門、中渚、陽池、支溝、天井六穴。不特甲戌時為然。一日之中。凡遇甲時。皆如甲戌時所注之穴也。又如乙日乙酉時。乙。陰木也。故肝始大敦木。木生少府火。火生太白土。土生經渠金。金生陰陵水。再遇乙未時。注於包絡中衝、勞宮、大陵、間使、曲澤五穴。不特乙日乙酉時為然。一日之中。凡遇乙時。皆如乙酉時所注之穴也。所注皆在本日本時本經。注於井穴。以後時辰。不注井穴。以前時辰。如癸日癸亥時。主腎注於井。次至甲子時。膽經所注。一如甲日甲戌時所注之穴也。次至乙丑時。肝經所注。一如乙日乙酉時所注之穴也。次至丙寅時。小腸所注。一如丙日丙申時所注之穴也。舉此為例。余可類推。此所謂晝夜十二時。氣血行過六十俞穴也。但與七韻所說不合。莫若刪去七韻。只存此說。庶免後人心蓄兩疑。猶豫而不決也。雖然。二說俱與素難不合。無用其法。猶辨論之不置者。將使讀者不待思索。一覽即解其意矣。</p>
<p>問曰。保命全形論所言刺法。古聖傳心之要典也。今之針士。略無一言以及之。何耶。</p>
<p>曰。古語微奧。必須沉潛玩味。乃能深契。今人喜簡厭繁。但求熟於歌賦。其於聖經。視為虛文。孰肯留心於此哉。今吾子有志於此。可謂知本者矣。敢詳述之於下。岐伯曰。凡刺之真。必先治神。（專其精神。不妄動亂。刺之真要。其在茲乎。）五臟已定。九候已備。後乃存針。（先定五臟之脈。備循九候之診。而有太過不及者。然後乃存意於用針之法。）眾脈不見。眾凶弗聞。外內相得。無以形先。（眾脈謂七診之脈。眾凶謂五臟相乘。外內相得。言形氣相得也。無以形先。言不以己形之盛衰寒溫。料病人之形氣。使同於己。）可玩往來。乃施於人。（玩謂玩弄。言精熟也。經曰。謹熟陰陽。無與眾謀。此其類也。）人有虛實。五虛勿近。五實勿遠。至其當發。間不容瞚。（人之虛實。非其遠近而有之。蓋由氣血一時之盈縮耳。然其未發。則如雲垂而視之可久。至其發也。則如電滅而指所不及。遲速之殊。有如此矣。○瞚。音舜。太素作眴。）手動若務。針耀而勻。（手動用針。心如專務於一事。針耀而勻。謂針形圓淨。上下勻平也。）靜意視義。觀適之變。是謂冥冥。莫知其形。（冥冥。言血氣變化之不可見也。故靜意視息。以義斟酌。觀所調適經脈之變易耳。雖且針下用意精微。而測量之。猶不知變易形容誰為其象也。○新校正云。觀其冥冥者。形容榮衛之不形於外。而工獨知之。以日之寒溫。月之虛盛。四時氣之浮沉。參伍相合而調之。工常先見之。然而不形於外。故曰觀其冥冥。）見其烏烏。見其稷稷。從見其飛。不知其誰。（烏烏嘆其氣至。稷稷嗟其已應。言所針之得失。如從空中見飛鳥之往來。豈復知其所使之元主耶。是但見經脈盈虛而為信。亦不知其誰之所召遣耳。）伏如橫弩。起如發機。（血氣之未應。針則伏如橫弩之安靜。其應針也。則起如機發之迅疾。）帝曰。何如而虛。何如而實。（言血氣既伏如橫弩。起如發機。然其虛實。豈留呼而可為準定耶。虛實之形。何如而約之。）岐伯曰。刺虛者。須其實。刺實者。須其虛。（刺虛須其實者。陽氣隆。至針下熱。乃去針也。刺實須其虛者。留針陰氣隆。至針下寒。乃去針也。言要以氣至有效而為約。不必守息數而為定法。）　經氣已至。慎守勿失。（勿變更也。無變法而失經氣也。）深淺在志。遠近若一。如臨深淵。手如握虎。神無營於眾物。（深淺在志。知病之內外也。遠近如一。深淺其候等也。如臨深淵。不敢墮也。手如握虎。欲其壯也。神無營於眾物。靜志觀病人無左右視也。）</p>
<p>問曰。靈樞第一篇。針之大經大法。不可不讀也。其中義有不可曉者。奈何。</p>
<p>曰。此上古之書。傳寫已久。其中多有缺誤。但當通其所可通。缺其所可疑也。岐伯曰。小針之要。易陳而難入。（易陳者。易言也。難入者。難著於人也。）粗守形。（守刺法也）上守神。（守人之血氣有餘不足。可補寫也。）神乎神。客在門。（神客者。正邪共會也。神正氣客。邪氣在門者。邪循正氣之所出入也。）未睹其疾。惡知其原。（先知邪正。何經之疾。然後乃知所取之處也。）刺之微。在速遲。（徐疾之意也）粗守關。（守四肢而不知血氣邪正之往來也）上守機。（知守氣也）機之動。不離其空。（知氣之虛實。用針之疾徐也。）空中之機。清靜而微。（針以得氣。密意守氣勿失也。）其來不可逢。（氣盛不可補也）其往不可追。（氣虛不可寫也）知機之道者。不可掛以發。（言氣易失也）不知機道。叩之不發。（言不知補寫之意。血氣已盡。邪氣不下也。）知其往來。（知氣之逆順盛虛也）要與之期。（知氣之可取之時也）粗之暗乎。（冥冥不知氣之微密也。）妙哉。工獨有之。（盡知針意也）往者為逆。（言氣之虛小。小者。逆也。）來者為順。（言形氣之平。平者。順也。）明知逆順。正行無問。（言知所取之處也）迎而奪之。（寫也）惡得無虛。追而濟之。（補也）惡得無實。迎之隨之。以意和之。虛則實之。（言氣口虛而當補也）滿則寫之。（言氣口盛而當寫也○針解曰。氣虛則實之者。針下熱也。氣實乃熱也。滿而寫之者。針下寒也。氣虛亦寒也。）宛陳則除之。（去血脈也）邪勝則虛之。（言諸經有盛者。皆寫其邪也。○針解曰。出針勿按穴。俞且開。故得經虛。邪氣發泄也。）徐而疾則實。（言徐內而疾出也。○針解曰。徐出。謂得經氣已久。乃出之疾。按謂針出穴已疾。速按之。則真氣不泄。經脈氣全。故實。）疾而徐則虛。（言疾內而徐出也。○針解曰。疾出。謂針入穴已至於經脈。則疾出之。徐按。謂針出穴已徐緩。按之則邪氣得泄。精氣復間。故虛。）　言實與虛。若有若無。（言實者。有氣。虛者。無氣也。○針解曰。言實與虛者。寒溫氣多少也。寒溫謂經脈陰陽之氣。若無若有者。疾不可知也。言其冥昧不可即而知也。不可即知。故若無。慧然神悟。故若有也。）察後與先。若亡若存。（言氣之虛實。補寫之先後也。察其氣之以下與常存也。）為虛與實。（針解曰。為虛與實者。工勿失其法。）若得若失。（言補則秘然若有得。寫則恍然若有失也。○針解曰。若得失者。離其法也。妄為補寫。離亂大經。誤補實者。轉令若得。誤寫虛者。轉令若失也。○難經曰。實之與虛者。牢濡之意。氣來實牢者為得。濡虛者為失。氣來實牢濡虛。以隨濟迎奪而為得失也。言實與虛若有若無者。謂實者有氣。虛者無氣也。言虛與實。若得若失。謂補者秘然。若有得也。寫者恍然。若有失也。得失有無。義實相同。故交舉而互言之。）虛實之要。九針最妙。（針解曰。為其各有所宜也。熱在頭身。宜鑱針。肉分氣滿。宜員針。脈氣虛少。宜鍉針。寫熱出血。發泄痼病。宜鋒針。破癰腫。出膿血。宜鈹針。調陰陽。去暴痹。宜利員針。刺治經絡中痛痹。宜毫針。痹深居骨解腰脊節湊之間者。宜長針。虛風舍於骨解皮膚之間者。宜大針。此謂各有所宜也。）補寫之時。（與氣開闔相合也。氣當時刻謂之開。已過未至謂之闔）以針為之。（九針各不同形。長短鋒穎不等。或補或寫。宜隨其療而用之也。○機按。此節示人當知圓機活法。不可守經無權。與夫邪正之所當別。虛實之所當知。補寫之所當審。皆針家之要務。學者不可不熟讀也。）</p>
<p>寫曰必持納之。放而出之。排陽得針。邪氣得寫。按而引針。是謂內溫。血不得散。氣不得出也。補曰隨之隨之。意若妄之。若行若按。如蚊虻止。如留如還。去如弦絕。令左屬右。其氣故止。外門已閉。中氣乃實。必無留血。急取誅之。持針之道。堅者為寶。正指直刺。無針左右。神在秋毫。屬意病者。審視血脈者。刺之無殆。方刺之時。必在懸陽。及與兩衛。神屬勿去。知病存亡。血脈者。在輸橫居。視之獨澄。切之獨堅。（機按。上節文義不相蒙。恐有脫誤。且針解篇亦置之不釋。可見非錯簡則衍文。）</p>
<p>問曰。靈樞首篇。多有脫誤。既聞命矣。其中雲。懸陽兩衛。亦有義乎否乎。</p>
<p>曰。此節文義。亦不甚瑩。今姑隨文釋義。以俟明哲正焉。懸者。懸遠也。謂皮膚浮淺之氣。為天之陽與地之陰。相懸隔也。故曰懸陽。衛者。氣也。行於陽。為衛之陽。行於陰。為衛之陰。故曰兩衛。總而言之。懸陽兩衛。同一氣也。分而言之。皮膚者為懸陽。肌肉者為衛之陽。筋骨者為衛之陰。經曰。內有陰陽。外亦有陰陽。在內者。五臟為陰。六腑為陽。在外者。筋骨為陰。皮膚為陽。故曰病在陰之陰者。刺陰之滎俞。病在陽之陽者。刺陽之合。病在陽之陰者。刺陰之經。病在陰之陽者。刺絡脈是也。神屬勿去者。正氣猶相附屬也。經曰。身居靜處。占神往來。又曰。入臟者死。以神去也。存亡者。死生也。血脈在腧橫居者。言邪入血脈。注於穴腧。則橫逆也。經曰。血氣揚溢是也。澄者。靜而明也。經曰。沉而留止。又曰。病深專者。刺大臟是也。堅者。強而急也。經曰。察其脈之緩急。肉之堅脆。而病形定矣是也。蓋謂工之用針。當知氣之邪正。病之生死也。初則淺之。以候皮膚之氣。次則深之。以候肌肉之氣。又次則深之。以候筋骨之氣。若邪雖內舍。而神猶附屬者。則病尚可以生也。或邪入血脈。注於經腧而橫逆者。則神將去矣。邪之橫逆。審而視之。則淵澄而可見。切而按之。則勁急而可辨。用針之際。豈可不謹候乎。</p>

<h1>卷之中</h1>
<p>問曰。迎而奪之。惡得無虛。隨而濟之。惡得無實。然古今所論迎隨之義。及所用迎隨之法。各各不同。願發明之。</p>
<p>曰。素難所論。刺法之正也。今醫所傳。無稽之言也。不求諸古而師諸今。所謂下喬木。入幽谷。豈能升堂而入室哉。茲以古法釋之於前。以今法辨之於後。則古是今非。判然如黑白矣。岐伯曰。迎而奪之。惡得無虛。言邪之將發也。先迎而亟奪之。無令邪布。故曰。卒然逢之。早遏其路。又曰。方其來也。必按而止之。此皆迎而奪之。不使其傳經而走絡也。仲景曰。太陽病。頭痛七日以上自愈者。以行其經盡故也。若欲作再經者。針足陽明。使經不傳則愈。刺瘧論曰。瘧方欲熱。刺跗上動脈。開其孔。出其血。立寒。瘧方欲寒。刺手陽明、太陰。足陽明、太陰。隨井俞而刺之。出其血。此皆迎而奪之之驗也。夫如是者。譬如賊將臨境。則先奪其便道。斷其來路。則賊失其所利。惡得不虛。而流毒移害。於此而可免矣。隨而濟之。惡得無實。言邪之已過也。隨後以濟助之。無令氣忤。故曰。視不足者。視其虛絡。按而致之刺之。而刺之無出其血。無泄其氣。以通其經。神氣乃平。謂但通經脈。使其和利。抑按虛絡。令其氣致。又曰。太陰瘧病至則善嘔。嘔已乃衰。即取之。言其衰即取之也。此皆隨而濟之。因其邪過經虛而氣或滯郁也。經曰。刺微者。按摩勿釋。著針勿斥。移氣於不足。神氣乃得。（按摩其病處。手不釋散。著針於病處。亦不推之。使其人神氣內朝於針。移其人神氣令自充足。則微病自去。神氣復常。）岐伯曰。補必用員。員者行也。行者移也。謂行未行之氣。移未復之脈。此皆隨而濟之之證也。所以然者。譬如人弱難步。則隨助之以力。濟之以舟。則彼得有所資。惡得不實其經。虛氣鬱於此而可免矣。迎奪隨濟。其義如此。（他章又曰。追而濟之。注云。追。補也。或云。追隨同一意。靈樞曰。補曰隨之隨之。意若妄之。若行若按。如蚊虻止。此又似徐緩之意。後人訓隨有隨即之意。謂邪去經虛。隨即用補以助之。○愚謂補法兼此數義。故其所釋。各有不同。）難經曰。迎而奪之者。寫其子也。隨而濟之者。補其母也。假令心病。火也。土為火之子。手心主之俞。大陵也。實則寫之。是迎而奪之也。木者。火之母。手心主之井。中衝也。虛則補之。是隨而濟之也。迎者。迎於前。隨者。隨其後。此假心為例。余可類推。補寫雲手心主。所謂少陰無俞。手少陰與手厥陰同治也。調氣之方。必在陰陽者。內為陰。外為陽。里為陰。表為陽。察其病之在陰在陽而調之也。如陰虛陽實。則補陰寫陽。陽虛陰實。則補陽寫陰。或陽並於陰。陰並於陽。或陰陽俱虛俱實。皆隨其所見而調之。（一說男外女內。表陽里陰。調陰陽之氣者。如從陽引陰。從陰引陽。陽病治陰。陰病治陽之類也。）機按。素難所論。迎隨不同者。素問通各經受病言。難經主一經受病言。病合於素問者。宜依素問各經補寫之法治之。病合於難經者。宜從難經子母迎隨之法治之。各適其宜。庶合經意。又按。玄珠經曰。五運之中。必折其鬱氣。先取化源。其法。太陽司天。取九月。寫水之源。陽明司天。取六月。寫金之源。少陰司天。取三月。寫火之源。太陰司天。取五月。寫土之源。厥陰司天。取年前十二月。寫木之源。乃用針迎而取之之法也。詳此迎取之法。乃治氣運勝實淫郁。故用此法以治之。與素難之法不同也。</p>
<p>賦曰。足之三陽。從頭下走至足。足之三陰。從足上走入腹。手之三陽。從手上走至頭。手之三陰。從腹下走至手。捻針逆其經為迎。順其經為隨。假如足之三陽。從頭下走至足。捻針以大指向後。食指向前。為逆其經而上。故曰迎。以大指向前。食指向後。為順其經而下。故曰隨。三陰亦准此法。</p>
<p>機按。經曰。迎者迎其氣之方來而未盛也。寫之以遏其沖。何嘗以逆其經為迎。隨者隨其氣之方往而將虛也。補之以助其行。何嘗以順其經為隨。所言若是。其誕妄可知矣。豈可示法於人哉。</p>
<p>賦曰。迎者迎於前。隨者隨於後。迎接猶提也。隨送猶按也。針在孔穴之內。如舟在急流之中。拽上曰逆。撐下曰順。拽上猶提也。撐下猶按也。故曰。迎而奪之有分寸。隨而濟之有淺深。又曰。動退空。歇迎奪右而寫涼。推內進。搓隨濟左而補暖。動退空三字。明言提而出也。推內進三字。明言按而入也。迎隨即提按也。</p>
<p>機按。經言提針為寫。按針為補。是知提按只可以言補寫。不可以釋迎隨之義。</p>
<p>賦曰。吸而捻針。左轉為寫為迎。呼而捻針。右轉為補為隨。</p>
<p>機按。經曰。吸則內針。無令氣忤。靜以久留。無令邪布。吸則轉針。以得氣為故。候呼引針。呼盡乃去。大氣皆出。故命曰寫。呼盡內針。靜以久留。以氣至寫故。如待所貴。不知日暮。其氣已至。適而自護。候吸引針氣不得出。各在其處。推闔其門。令神氣存。大氣留止。故命曰補。（呼謂氣出。吸謂氣入。轉謂轉動。捫循謂手摸。欲氣舒緩。切謂指按。使經脈宣散。推按謂排蹙其皮。以閉穴。彈怒使脈氣䐜滿爪下。置針準定。審視氣已平調。則慎守勿更改。使疾更生也。即此觀之。則呼吸亦可以言補寫。不可以釋迎隨。且古人用針。但曰轉曰動而已。並無所謂左轉為寫。右轉為補。可見賦中所說。率多無稽之談。學者師之。寧免謬妄。）</p>
<p>或曰。針灸書有針法歌括。又有宏綱陳氏針法。今詳述之。以求質正。庶使知有所適從也。</p>
<p>歌曰。先說平針法。含針口內溫。按揉令氣散。掐穴故教深。持針安穴上。令他嗽一聲。隨嗽歸天部。停針再至人。次提針向病。針退天地人。（掐穴著力重些。最好令嗽一聲。左右用針轉入孔穴。則針易入不差。病人亦不知痛。）補必隨經刺。令他吹氣頻。隨吹隨左轉。逐歸天地人。待氣停針久。三彈更熨溫。出針口吸氣。急急閉其門。寫欲迎經取。吸則內其針。吸時須右轉。依次進天人。轉針仍復吸。依法要停針。出針吹出氣。搖動大其門。（凡出針不可猛出。猛出必見血也。必須作兩三次徐徐轉而出之。有暈針者。奪命穴救之。穴在手膊上側筋骨陷中。從肩至肘。正在當中即是。蝦蟆兒上邊也。）　宏綱陳氏謂。取穴既正。用左手大指掐穴。右手置針穴上。令嗽一聲。隨嗽內針至分寸。候針數穴畢。停少時。用右手大指及食指。持針細細動搖進退搓捻。如手顫之狀。謂之催氣。約行五六次。覺針下沉緊。卻用寫法。令患人呼氣一口。隨呼轉針。如針左邊。以右手大指食指持針。大指推前。食指向後。輕提針頭左轉。若針數穴。俱依此法。轉畢仍用右手大指食指持針。卻用食指連搓三下。謂之飛。卻輕提住針頭左轉。略退半分許。謂之三飛一退。依此行至五六次。覺針下沉緊。是氣至極矣。再輕提住針頭。左轉一二次。如針右邊。以左手大指食指持針。大指向前。食指向後。依前法輕提針頭右轉。是針右邊寫法。欲出針時。令咳一聲。隨咳出針。此謂之寫。　補則依前法催氣畢。覺針下氣至。卻行補法。令患人吸氣一口。隨吸轉針。如針左邊。捻針頭轉向右邊。以我之右手大指食指持針。以大指向後。食指向前。仍捻針深入一二分。使真氣深入肌肉之分。如針右邊。捻針頭轉向左邊。以我之左手大指食指持針。食指向前。大指向後。仍捻針深入一二分。若針數穴。俱依此法。行畢停少時。卻用手指於針頭上輕彈三下。如此三次。仍用我之左手大指食指持針。以大指連搓三下。謂之飛。將針深進一二分。輕提針頭轉向左邊。謂之一進三飛。依此法行五六次。覺針下沉緊。或針下氣熱。是氣至足矣。令病人吸氣一口。隨吸出針。急以手按其穴。此謂之補。</p>
<p>機按。以上二法。大同小異。但陳氏以搓為飛。他家以進為飛。無從可考。莫知誰是。其餘有可議者。詳辨於後。茲不復贅。</p>
<p>或曰。捻針之法。有左有右。有內有外。男子左寫右補。女人右寫左補。何謂也。</p>
<p>曰。以食指頭橫紋至指梢為則。捻針以大指食指相合。大指從食指橫紋捻上。進至指梢為左為外。從指梢捻下。退至橫紋為右為內。內針之時。須一左一右。捻入穴俞。經曰。知為針者。信其左。不知為針者。信其右。謂當刺時。先以左手壓按彈怒爪切。使氣來如動脈應指。然後以右手持針刺之。待氣至針動。因推針而內之。是謂補。動針而伸之。是謂寫。古人補寫心法。不出乎此。何嘗有所謂男子左寫右補。女人左補右寫也哉。是知補寫轉針。左右皆可。但當識其內則補。伸則寫耳。後人好奇。廣立諸法。徒勞無益。</p>
<p>或曰。今針家有十四法。又有青龍擺尾。白虎搖頭。蒼龜探穴。赤鳳迎源。龍虎交戰。龍虎升騰。子午搗臼。燒山火。透天涼。陽中隱陰。陰中隱陽。抽添法。調氣。進氣。納氣。留氣。種種諸法。亦可師歟否歟。</p>
<p>曰。此法多出金針賦。觀其自序可謂得之難。寶之至。考其針法。合理者少。悖理者多。錯雜紊亂。繁冗重複。今敢條陳。以俟明哲。</p>

<h2>三才法</h2>
<p>補者呼氣。初針刺至皮內。號曰天才。少停進針。刺至肉內。號曰人才。又停進針。刺至筋骨之間。號曰地才。得氣補之。再停良久。退針人部。待氣沉緊。倒針朝病。進退往來。飛經走氣。盡在其中。　寫者吸氣。針至天部。少停直至地部。得氣寫之。再停良久。退針人部。待氣沉緊。倒針朝病。施法同前。少停者。三息也。再停者。五息也。</p>
<p>經曰。徐而疾則實。疾而徐則虛者。謂徐出針而疾按之。則真氣不泄而實也。疾出針而徐按之。則邪氣得出而虛也。賦言內針作三次進。出針作三次退。與經文徐而疾。疾而徐之意。大不相合。且針出內而分三才。肉厚穴分。用之無礙。肉薄去處。法將何施。故針者惟當察其肉之厚薄。而酌其宜。庶幾無害。經曰。刺有淺深。各正其理。此之謂也。他篇又云。補法三次進。一次退。（假如此穴五分。先針入二分。候得氣。再入二分。候得氣。更入一分。撞五分止。然後急出其針。便以左手大指按其針孔。勿令出血。）寫法一次進。三次退。（假如此穴合針五分。便針入五分。候得氣。便退針二分。少停。又退二分。少停。候得氣。則起針。慢出不閉針孔。令其氣出。）與此補作三次進。二次退。寫作二次進。三次退。前後所言。亦自相矛盾矣。經曰。義無斜下者。欲端以正也。謂指直刺。針無左右也。惟針陽分。或臥針取之。賦言倒針朝病。與經相反。其曰飛經走氣。考經無載。不敢妄議。</p>

<h2>候氣法</h2>
<p>病未退者。針下如根。推之不動。轉之不移。此為邪氣。吸拔其針。未可出針。出則病復。再須補寫。停以待之。直候病勢已退。針下微松。如魚吞釣之狀。乃真氣至也。方可出針豆許。搓而停之。補者吸之去疾。急捫其穴。寫者呼之去徐。不閉其穴。</p>
<p>經曰。八正者。所以候八風之虛邪。以時至者也。四時者。所以分春夏秋冬之氣所在。以時調之也。然八正謂八節之正氣也。八風者。（東方嬰兒風。南方大弱風。西方剛風。北方大剛風。東北方凶風。東南方弱風。西南方謀風。西北方折風。）虛邪也。謂乘人之虛而為病者也。以時至者謂天應。太乙移居以八節之前後。風朝中宮而至者也。（義具天元玉冊。○如立春節前後數日。宜東北風。若於此時而得西南風。乃從後衝來。謂之虛邪。如春分節前後數日。宜東風。若遇西風。亦謂之虛邪。應時者為正。沖時者為邪。）八正虛邪。宜避之而勿犯。若以身之虛而逢天之虛。兩虛相感。其氣至骨。入則傷五臟。故曰天忌不可不知也。四時之氣所在。謂春氣在經脈。夏氣在孫絡。秋氣在皮膚。冬氣在骨髓也。機按。此以八節之正氣。候八風之虛邪。應時而來者。謂之正。非時而至者。謂之邪。人能候而避之。無用於針刺也。或有所犯。當隨四時之氣所在而調之。此亦候氣之法也。故集見於此。</p>
<p>經曰。凡刺必候日月星辰四時八正之氣。氣定乃刺之。如二分二至前後五日。氣未定也。然。候日月者。謂候日之寒溫。月之空滿也。月始生。則血氣始精。衛氣始行。月郭滿。則血氣實。肌肉堅。月郭空。則肌肉減。經絡虛。衛氣去。形獨居。是以天寒無刺。天溫無凝。月生無寫。月滿無補。月郭空無治。是謂因天時而調血氣也。（標幽賦謂。午前卯後。太陰生而疾溫。離左酉南。月死朔而速冷。此以月之生死為期。午前卯後者。辰巳二時也。當此之時。太陰月生。是故月郭空無寫。宜疾溫之。離左酉南者。未申二時也。當此之時。太陰月死。是故月郭盈無補。宜速冷之。將一月比一日也。又云。望不補。晦不寫。弦不奪。而朔不濟者。望。每月十五日也。晦。每月三十日也。弦。有上下弦。上弦。或初七或初八。下弦。或二十二或二十三。朔。每月初一日也。）四時八正之氣者。謂四時正氣。八節之風。來朝於太乙者也。（義具天元玉冊中）謹候其氣之所在而刺之。氣定乃刺者。謂八節之風。氣靜定乃可以刺經絡之虛實。故歷忌云。八節前後各五日。不可刺灸。以氣未定故也。機按。此亦因天時而用針刺。皆候氣之法也。故附次焉。</p>
<p>經曰。水下一刻。人氣在陽分。水下二刻。人氣在陰分。故病在三陽。必候氣在陽分而刺之。病在三陰。必候氣在陰分而刺之。謹候氣之所在。是謂逢時。是知氣之所在。謂之實。謂之來。氣之不在。謂之虛。謂之去。故云刺實者。刺其來也。刺虛者。刺其去也。此言氣之存亡之時。以候虛實而刺之是也。故曰。謹候其時。病可與期。失時反候。百病不治。此之謂也。又曰。邪氣者。常隨四時之氣血而入客也。至其變化。不可為度。然必從其經氣。闢除其邪。則亂氣不生。失時反候者。如春氣在經脈。反刺絡脈。令人少氣。夏氣在孫絡。反刺經脈。令人解㑊。秋氣在皮膚。反刺筋骨。令人寒慄。冬氣在骨髓。反刺肌肉。令人善忘。故刺不知四時之經。病之所在。反之則生亂氣。</p>
<p>經曰。寫實者。氣盛乃內針。針與氣俱內。以開其門。如利其戶。針與氣俱出。精氣不傷。邪氣乃下。外門不閉。以出其疾。搖大其道。如利其路。是謂大寫。必切而出。大氣乃屈。（切。急也。疾出其針也。大氣。大邪之氣。）補虛者。持針勿置。以定其意。候呼內針。氣出針入。針孔四塞。精無從去。方實而疾出針。氣入針出。熱不得還。閉塞其門。邪氣布散。精神乃存。動氣候時。近氣不失。遠氣乃來。是謂追之。（言但閉密其穴俞。勿令其氣散寫。近氣。已至之氣。遠氣。未至之氣。欲動經氣而為補。必候水刻氣之所在而刺之。是謂得時而調之追補也。）</p>
<p>經曰。邪氣中人。因其陰氣。則入陰經。因其陽氣。則入陽脈。無常處也。在陽與陰。不可為度。從而察之。三部九候。卒然逢遇。早遏其路。（謂即寫之。徑路既絕。則邪氣無能為矣。此所謂迎而奪之也。）帝曰。候氣奈何。岐伯曰。夫邪去絡入於經也。舍於血脈之中。如湧波之起。時來時去。不常在於所候之處。故曰。方其來也。必按而止之。止而取之。又曰。無逢其沖而寫之。（沖。謂應水刻數之平氣也。工以為邪而寫之。則誤矣。）故曰。其來不可逢也。候邪不審。若邪已過而寫之。則真氣脫。脫則不復。邪氣復至。而病益蓄。故曰。其往不可追也。（邪已隨經脈流去。不可復追使還也。）待邪至時。髮針寫矣。若先若後。血氣已虛。其病不可取。故曰。知其可取如發機。不知其取如扣椎。（機者。動之微。應之速。椎者。動之甚。覺之遲。智者。動之微而即知。故先時而早治。愚者。動之甚尚不覺。故後時而失治。機微椎大。因以喻之。）故曰。知機道者。不可掛以發。不知機者。扣之亦不發。（發。微物也。不可掛以發。比發更微矣。言氣微動。知機者而即知也。故曰。上工之取氣。乃救其萌芽是也。椎者。大杵也。言氣已大動。彼冥頑者。猶且不覺。正如以杵撞擊。亦不知也。故曰。下工守其已成。因敗其時是也。）</p>
<p>經曰。真邪以合。波隴不起。候之奈何。曰。審捫循三部九候之盛虛而調之。察其左右上下氣候不相類及相減者。審其病藏以期之。（期。謂病在陽。則候氣在陽分而刺之。病在陰。則候氣在陰分而刺之。如水下一刻。人氣在陽分是也。）故曰。不知三部九候病脈之處。不可以為工。</p>
<p>經曰。三部九候者。頭為上部。手為中部。足為下部。部各有三候。三而三之。合則為九。上部天。兩額動脈候頭角之氣。上部地。兩頰動脈候口齒之氣。上部人。耳前動脈候耳目之氣。中部天。手太陰經渠動脈以候肺。中部地。手陽明合谷動脈以候胸中。中部人。手少陰神門動脈以候心。下部天。足厥陰五里動脈以候肝。下部地。足少陰太谿動脈以候腎。下部人。足太陰箕門動脈以候脾胃。經曰。人身三陰三陽。其氣以何月各旺幾日。難經云。冬至之後。得甲子。少陽王。復得甲子。陽明王。復得甲子。太陽王。復得甲子。太陰王。復得甲子。少陰王。復得甲子。厥陰王。王各六十日。此三陰三陽之王時日也。少陽之至。陽氣尚微。故其脈乍大乍小。乍短乍長。陽明之至。猶有陰也。故其脈大而短。太陽之至。陽盛極也。故其脈洪大而長。陽極盛。則變而之陰。故夏至後為三陰用事之始。太陰之至。陰氣尚微。故其脈緊大而長。少陰之至。陰漸盛也。故其脈緊細而微。厥陰之至。陰極盛也。故其脈沉短以敦。陰盛極。則變而之陽。仍復三陽用事之始也。此則三陰三陽之王脈。</p>
<p>春溫夏暑秋涼冬寒。故人六經之脈。亦隨四時陰陽消長送運而至也。故曰。治不本四時。不知日月。不審逆從。不可以為工。（逆從。謂病有可治不可治也。）</p>
<p>經云。厥陰之至。其脈弦。少陰之至。其脈鉤。太陰之至。其脈沉。少陽之至。大而浮。陽明之至。短而澀。太陽之至。大而長。亦隨天地之氣卷舒也。如春弦夏洪秋毛冬石之類。則五運六氣四時。亦皆應之而見於脈耳。難經所論。以陰陽始生之淺深而言之也。</p>
<p>經曰。客氣謂六氣更臨之氣。主氣謂應四時正王。春夏秋冬也。○五臟各以時受病。非其時。傳以與之。（時。謂王月。如乘秋。則肺先受邪。乘春。則肝先受邪之類。非王月受邪。故各傳以與之。）○邪氣客於身。取之以時。故曰。春取絡脈。夏取分腠。秋取氣口。冬取經輸。凡此四時。各以其時為齊。絡脈治皮膚。分腠治肌肉。氣口治筋脈。經輸治骨髓。（邪者。不正之名。風寒暑濕飢飽勞逸。皆是邪。候可取之時而取之。如春氣在經脈之類。）○合人形以法四時五行而治。五行者。更貴更賤。（當時貴。失時賤。）以知死生而定五臟之氣。間甚之時。機按。賦言針下沉緊。為邪氣盛。針下微松。為正氣至。此但可以候氣於針下也。必須參究素難諸說。始知四時八節。何者為邪。何者為正。犯之而有其時。中之而有其處。或以波隴之起。而察其外。或以三部九候。而診其內。知脈之異於常者為邪。審脈之應於時者為正。如此。則取之以時。治之有準。庶幾萬舉而萬全也。苟不知此。徒以賦言針下沉緊為邪。微松為正。或逢其沖而誤作邪者有也。或追其往而謬為正者有也。寧免偏之為害哉。故比次素難諸說於此。實所以發賦之所未發歟。</p>
<p>或曰。靈樞經言水下一刻。人氣在太陽。二刻。人氣在少陽。三刻。人氣在陽明。四刻。人氣在陰分。是一時辰。氣周於身僅二度。一日一夜。氣周於身只得二十五度。與日行陽二十五度。夜行陰二十五度。晝夜周身五十度之說不合。今醫才言候氣。多從此說。是歟非歟。</p>
<p>靈樞衛氣行篇云。榮氣周身五十度。無分晝夜。衛氣晝但行陽二十五度。不能入於陰。夜但行陰二十五度。不能出於陽。榮衛雖不同行。而周於身五十度皆同也。故水下一刻。人氣在三陽。水下二刻。人氣在陰分。水下三刻。人氣在三陽。水下四刻。人氣在陰分。是一時八刻。周身四度有奇。方合晝夜周身五十度之說。此指榮氣言也。他篇又謂。一時八刻。周身二度。雖亦靈樞經文。以理言之。當從衍也。</p>

<h2>十四法</h2>
<p><u>一切</u>　凡欲下針之時。用兩手大指甲。於穴旁上下左右四圍掐而動之。如刀切割之狀。令血氣宣散。次用爪法。爪者。掐也。用左手大指甲。著力掐穴。右手持針插穴有準。此下針之法也。</p>
<p><u>二搖</u>　凡退針出穴之時。必須擺撼而出之。青龍擺尾亦用搖法。故曰搖以行氣。此出針法也。</p>
<p><u>三退</u>　凡施補寫。出針豆許。補時。出針宜寫三吸。寫時。出針宜補三呼。再停少時。方可出針。又一寫法。一飛三退。邪氣自退。其法。一插至地部。三提至天部。插針宜速。提針作三次出。每一次。停三息。宜緩。提時亦宜吸氣。故曰退以清氣。飛者。進也。</p>
<p><u>四動</u>　凡下針時。如氣不行。將針搖之。如搖鈴之狀。動而振之。每穴每次。須搖五息。一吹一搖。按針左轉。一吸一搖。提針右轉。故曰。動以運氣。白虎搖頭亦用此法。又曰。飛針引氣。以大指次指捻針。來去上下也。</p>
<p><u>五進</u>　下針後。氣不至。男左女右轉而進之。外轉為左。內轉為右。春夏秋冬各有淺深。又有補法。一退三飛。真氣自歸。其法。一提至天部。三進入地部。提針宜速。進針三次。每停三息。宜緩。進時。亦宜吹氣。故曰進以助氣。</p>
<p><u>六循</u>　下針後。氣不至。用手上下循之。假如針手陽明合谷穴。氣若不至。以三指平直。將指面於針邊至曲池。上下往來撫摩。使氣血循經而來。故曰循以至氣。</p>
<p><u>七攝</u>　下針之時。氣或澀滯。用大指食指中指三指甲。於所屬經分來往攝之。使氣血流行。故曰攝以行氣。</p>
<p><u>八努</u>　下針至地。復出人部。補寫務待氣至。如欲上行。將大指次指捻住針頭。不得轉動。卻用中指將針腰輕輕按之。四五息久。如撥弩機之狀。按之在前。使氣在後。按之在後。使氣在前。氣或行遲。兩手各持其針。仍行前法。謂之龍虎升騰。自然氣血搬運。故曰努以上氣。一說。用大指次指捻針。名曰飛針。引氣至也。如氣不至。令病人閉氣一口。著力努之。外以飛針引之。則氣至矣。</p>
<p><u>九搓</u>　下針之後。將針或內或外。如搓線之狀。勿轉太緊。令人肥肉纏針。難以進退。左轉插之為熱。右轉提之為寒。各停五息久。故曰。搓以使氣。機按。經曰針入而肉著者。熱氣因於針。則針熱。熱則肉著於針。故堅焉。茲謂轉緊纏針。與經不同。</p>
<p><u>十彈</u>　補寫之。如氣不行。將針輕輕彈之。使氣速行。用大指彈之。像左補也。用次指彈之。像右寫也。每穴各彈七下。故曰彈以催氣。</p>
<p><u>十一盤</u>　如針腹部軟肉去處。只用盤法。兼子午搗臼提按之訣。其盤法如循環之狀。每次盤時。各須運轉五次。左盤按針為補。右盤提針為寫。故曰盤以和氣。如針關元。先刺入二寸五分。退出一寸。只留一寸五分。在內盤之。且如要取上焦之病。用針頭迎向上。刺入二分補之。使氣攻上。臍下之病。退出二分。</p>
<p><u>十二捫</u>　補時出針。用手指掩閉其穴。無令氣泄。故曰捫以養氣。一說。痛處未除。以手捫摩痛處。外以飛針引之。除其痛也。</p>
<p><u>十三按</u>　欲補之時。以手緊捻其針按之。如診脈之狀。毋得那移。再入每次按之。令細細吹氣五口。故曰按以添氣。添助其氣也。</p>
<p><u>十四提</u>　欲寫之時。以手捻針。慢慢伸提豆許。無得轉動。再出每次提之。令細細吸氣五口。其法提則氣往。故曰提以抽氣。</p>
<p>經曰。針有補寫之法。非必呼吸出納針也。知為針者。信其左。不知為針者。信其右。當刺之時。先以左手壓按其所。針滎俞之處。彈而怒之。爪而下之。其氣之來。如動脈之狀。順針而刺之。得氣。因推內之。是謂補。動而伸之。是謂寫。不得氣。乃與男外女內。又不得氣者死。注言。彈而怒之。鼓勇之也。（或以拇指拉其中指。令中指搏擊其穴。或以食指交於中指。令食指彈其針處也。）爪而下之。掐之稍重。皆欲致其氣之至也。氣至指下。如動脈之狀。乃乘其至而刺之。順。猶循也。乘也。停針待氣。氣至針動。是得氣也。因推針而內之。是謂補。動針而伸之。是謂寫。此古人補寫。非呼吸出內者也。若停針候氣。久而不至。乃與男子則淺其針而候之於衛氣之分。女子則深其針而候之於榮氣之分。如此而又不得氣。病不可治矣。前言氣來如動脈狀。未刺之前。左手所候之氣也。後言得氣不得氣。針下所候之氣也。機按。古人針法。壓按彈怒爪切。多用左手。施之於未刺之先。以致其氣。氣至。順針刺之。別無法也。今之針法。雖十有四。多用右手。施之於既針之後。未針之前。不聞有致氣之說。古人針入氣至。補則推而內之而已。寫則動而伸之而已。氣若不至。停針待之而已。待之不至。不過男則淺針候之於衛分。女則深針候之於榮分。何嘗有所謂飛針引氣。提針運氣種種諸法者哉。且今之十四法。字雖異而法實同。言雖殊而意則復。觀其設心。無非誇多炫能。巧施手勢。以駭人之視聽也。殊不知眾人信之。烏可與識者道哉。茲焉援古證今。知針者必有所別。</p>
<p><u>青龍擺尾</u>　如扶船舵。不進不退。一左一右。慢慢撥動。又云。青龍擺尾行氣。龍為陽屬之故。行針之時。提針至天部。持針搖而按之。如推船舵之緩。每穴左右各搖五息。如龍擺尾之狀。兼用按者。按則行衛也。</p>
<p><u>白虎搖頭</u>　似手搖鈴。退方進員。兼之左右。搖而振之。又云。行針之時。開其上氣。閉其下氣。氣必上行。開其下氣。閉其上氣。氣必下行。如刺手足。欲使氣上行。以指下抑之。欲使氣下行。以指上抑之。用針頭按住少時。其氣自然行也。進則左轉。退則右轉。然後搖動是也。又云。白虎搖頭行血。虎為陰屬之故。行針之時。插針地部。持針提而動之。如搖鈴之狀。每穴各施五息。退方進員。非出入也。即大指進前往後。左右略轉。提針而動之。似虎搖頭之狀。兼行提者。提則行榮也。龍補虎寫也。</p>
<p><u>蒼龜探穴</u>　如入土之像。一退三進。鑽剔四方。又云。得氣之時。將針似龜入土之狀。緩緩進之。上下左右而探之。（上下。出內也。左右。捻針也。）又云。下針用三進一退。將兩指按肉。持針於地部。右盤提而剔之。如龜入土。四圍鑽之。盤而剔者。行經脈也。</p>
<p><u>赤鳳迎源</u>　展翅之儀。入針至地部。提針至天部。候針自搖。復進其源。上下左右。四圍飛旋。病在上。吸而退之。病在下。呼而進之。（吸而右退。呼而左進。此即上下左右也。）又云。下針之時。入天插地。復提至天。候氣入地。針必動搖。又復推至人部。持住針頭。左盤按而搗之。如鳳衝風擺翼之狀。盤而搗者。行絡脈也。鳳補龜寫也。</p>
<p>以上四法。通關過節者也。</p>
<p><u>龍虎交戰</u>　下針之時。先行龍而左轉。可施九陽數足。後行虎而右轉。又施六陰數足。乃首龍尾虎以補寫。此是陰中引陽。陽中引陰。乃反復其道也。又云。先於天部施青龍擺尾。左盤右轉。按而添之。亦宜三提九按。（即九陽也）令九陽數足。後於地部行白虎搖頭。右盤左轉。提而抽之。亦宜三按六提。（即六陰也）令六陰數足。首龍尾虎而轉之。此乃陰陽升降之理。住痛移疼之法也。</p>
<p><u>龍虎升騰</u>　先於天部持針左盤按之一回。右盤按之後一回。用中指將針腰插之。如撥弩機之狀。如此九次。像青龍純陽之體。卻推針至地部。右盤提之一回。左盤提之後一回。用中指將針腰插之。如此六次。像白虎純陰之體。按之在後。使氣在前。按之在前。使氣在後。若氣血凝滯不行。兩手各持其針行之。此飛經走氣之法也。</p>
<p><u>子午搗臼</u>　下針之後。調氣得勻。以針上下。行九入六出之數。左右轉之。導引陰陽之氣。百病自除。諺云。針轉千遭。其病自消。此除蠱膈膨脹之疾也。</p>
<p><u>燒山火</u>　針入先淺後深。約入五分。用九陽三進三退。慢提緊按。熱至。緊閉針穴。方可插針。令天氣入。地氣出。寒可除矣。又云。一退三飛。飛。進也。如此三次。為三退九進。則成九矣。其法。一次疾提至天。三次慢按至地。故曰疾提慢按。隨按。令病人天氣入。地氣出。謹按生成息數。病愈而止。一說。三進三退者。三度出入。三次則成九矣。九陽者。補也。先淺後深者。淺則五分。深則一寸。</p>
<p><u>透天涼</u>　先深後淺。約入一寸。用六陰三出三入。緊提慢按。寒至。徐徐退出五分。令地氣入。天氣出。熱可退也。又云。一飛二退。如此三次。為三進六退。即六陰數也。其法。一次疾插入地。三次慢提至天。故曰疾按慢提。隨提。令患人地氣入。天氣出。謹按臟腑生成息數。病自退矣。一說。一度三進三退。則成六矣。六陰者。補也。</p>
<p><u>陽中隱陰</u>　先寒後熱淺以深。針入五分。行九陽之數。熱至。便進針一寸。行六陰之數。乃陽行陰道之理。則先補後寫也。</p>
<p><u>陰中隱陽</u>　先熱後寒深而淺。先針一寸。行六陰之數。寒至。便退針五分之中。行九陽之數。乃陰行陽道之理。則先寫後補也。補者。直須熱至。寫者。直待寒侵。</p>
<p><u>抽添法</u>　針入穴後。行九陽之數。氣至慢慢轉換。將針提按。或進或退。使氣隨針到於病所。扶針直插。復向下納。回陽倒陰。又云。抽添。即提按出納之狀。抽者。拔而數拔也。添者。按而數推也。取其要穴。先行九陽之數。得氣。隨吹按添。就隨吸提抽。其實在乎動搖出內。呼吸同法。以動搖出內。呼吸相兼併施。故曰。同法。謹按生成息數足效也。此治癱瘓半身不遂之疾。</p>
<p><u>調氣法</u>　下針至地。復出於人。欲氣上行。將針右捻。欲氣下行。將針左捻。欲補。先呼後吸。欲寫。先吸後呼。氣不至者。以手循攝。以爪切掐。以針搖動。進退搓捻。直待氣至。以龍虎升騰之法。按之在前。使氣在後。按之在後。使氣在前。運氣走至病所。再用納氣之法。扶針直插。復向下納。使氣不回。若關節阻滯。氣不過者。以龍虎龜鳳四法。通經接氣。驅而運之。然用循攝爪切。無不應矣。</p>
<p><u>進氣法</u>　針入天部。行九陽之數。氣至。速臥倒針。候其氣行。令病人吸氣五七口。其針氣上行。此乃進氣之法。可治肘臂腰腳身疼。亦可龍虎交戰。走注之病。左捻九。右捻六。是亦住痛之針。</p>
<p><u>納氣法</u>　下針之時。先行進退之數。得氣。便臥倒針。候氣前行。催運到於病所。便立起針。復向下納。使氣不回。又云。下針之後。如真氣至。針下微微沉緊。如魚吞釣之狀。兩手持針。徐徐按倒。令針尖向病。使氣上行至病所。扶針直插。復向下納。使氣上行不回也。</p>
<p><u>留氣法</u>　用針之時。先進七分之中。行純陽之數。若得氣。便深入伸提之。卻退至原處。又得氣。依前法。可治痃癖癥瘕之病。</p>
<p>經曰。吸則內針。無令氣忤。靜以久留。無令邪布。吸則轉針。以得氣為故。候呼引針。呼盡乃去。大氣（邪氣）皆出。故命曰寫。必先捫而循之。切而散之。推而按之。彈而怒之。爪而下之。通而取之。外引其門。以閉其神。呼盡內針。靜以久留。以氣至為故。如待所貴。不知日暮。其氣已至。適而自護。候吸引針。氣不得出。各在其處。推闔其門。令神氣存。大氣（正氣）留止。故命曰補。注云。呼謂氣出。吸謂氣入。轉謂轉動。捫循謂手摸。欲氣舒緩。切謂指按。使經脈宣散。推按謂排蹙其皮以閉穴。彈怒使脈氣滿䐜爪下。置針準定。通而取之。以常法也。適平調也。審視氣已平調。則慎守勿更改。使疾更生也。機按。古人用針。於氣未至。惟靜以久留。待之而已。待之氣至。寫則但令吸以轉針。補則但令呼以轉針。如氣已至。則慎守勿失。適而自護也。何其簡而明。切而當哉。舍此之外。別無所謂法也。今人於氣之未至也。安知靜以久留。非青龍擺尾。則赤鳳迎源。非進氣。則留氣。氣之已至也。安知慎守勿失。非白虎搖頭。則蒼龜探穴。非調氣。則納氣。陰中隱陽。陽中隱陰。或施龍虎交戰。或行龍虎升騰。或用子午搗臼。或運抽添秘決。無非巧立名色。聾瞽人之耳目也。豈肯用心擴充其古法之未備。拯救其時習之難變哉。且其所立諸法。亦不出乎提按疾徐左捻右捻之外。或以彼而參此。或移前而那後。無非將此提按徐疾左捻右捻六法。交錯而用之耳。舍此別無奇能異術之可稱焉。是古非今。難逃僭逾。知我者。必以我為不得已焉。又按。素問捫循切散彈怒爪下推按。是施於未針之前。凡此不惟補可用。而寫亦可用也。故曰。通而取之也。</p>
<p>問曰。賦言生成息數。不足為生。太過為成。補生寫成。各依臟腑息數。補冷之時。令患人天氣入。地氣出。謹、按生成息數足。病人自覺和暖矣。寫熱之時。令患人地氣入。天氣出。謹按生成息數足。病人自覺清涼矣。生成息數者。即手陽九息。足陽十四息。手陰七息。足陰十二息是也。　賦云。要知接氣通經。須明上接下引。接引要知交會。息數謹按生成。經脈尺寸長短。應天常度。呼吸動搖出納。數法同行。注云。陽經上接下引。陰經下接上引。交會者。如手太陽交會足太陽。手少陽交會足少陽。手陽明交會足陽明。足太陰交會手太陰。足少陰交會手少陰。足厥陰交會手厥陰。若知上下交會。須知接氣引經。謹按生成息數者。一呼一吸為一息。氣行六寸。手足三陽。手九呼而足十四呼。以行衛氣。過經四寸。手足三陰。手七吸而足十二吸。以行榮血。過經七寸。手三陽經。施針定息。皆用九呼。足三陽經。施針定息。皆用十四呼。呼者。使衛氣上行也。手三陰經。施針定息。皆用七吸。足三陰經。施針定息。皆用十二吸。吸者。使榮氣下行也。　假如兩手三陽經。從手上行至頭。經長五尺。施針用九息者。一息氣行六寸。九息氣行五尺四寸。除准經長五尺。仍餘四寸。為催氣過他經四寸。令氣不回也。此為上接。接則宜補。　兩足三陽經。從頭下行至足。經長八尺。施針用十四息者。一息氣行六寸。十息氣行六尺。四息氣行二尺四寸。共八尺四寸。除准經長八尺。仍餘四寸。為催氣過他經四寸。令氣不回。此為下引。引則宜寫。　兩手三陰經。從胸下至手。經長三尺五寸。施針用七息者。一息氣行六寸。七息氣行四尺二寸。除准經長三尺五寸。外餘七寸。為催氣過他經七寸。令氣不回。　兩足三陰經。從足上至胸。經長六尺五寸。施針用十二息者。一息氣行六寸。十息六尺。二息二六一尺二寸。共七尺二寸。除准經長六尺五寸。仍餘七寸。為催氣過他經七寸。令氣不回。此即應天常度也。生成者。不足（經短）為生。太過（經長）為成。補生寫成。　呼吸動搖出納同行者。假如陽經十四息。隨呼按而動之。就隨吸提而動之。如此就完了一十四息之數。余經仿此。同行者。呼吸動搖出納三法。一時並用也。假令足有疾。手無疾。補手三陽。寫足三陽。手有疾。足無疾。寫手三陰。補足三陰。　指微賦注云。生成數者。依天地生成之數也。足太陽經、手少陽經、足少陰經、足陽明絡、手少陰絡、手厥陰絡。此三經三絡。皆迎六分。隨一分也。手太陽經、手少陰經、手厥陰經、足太陽絡、手少陽絡、手太陰絡。此三經三絡。皆迎七分。隨二分也。足少陽經、足厥陰經、手陽明絡、足太陰絡。此二經二絡。皆迎八分。隨三分也。手太陰經、手陽明經、手太陽絡、足厥陰絡。此二經二絡。皆迎九分。隨四分也。足陽明經、足太陰經、足少陽絡、足少陰絡。此二經二絡。皆迎一寸。隨五分也。斯皆經絡相合。補生寫成。不過一寸。蓋取五行生成之數。如天一生水。地六成之之類。</p>
<p>經曰。星辰者。所以制日月之行。乃二十八宿之成。應水漏刻者也。從房至畢十四宿。水下五十刻。半日之度也。為陽。主晝。從昴至心亦十四宿。水下五十刻。終日之度也。為陰。主夜。靈樞經曰。水下一刻。人氣在三陽。水下二刻。人氣在陰分。又曰。日行一舍。人氣行於身一周。與十分身之八。以至日行二十八舍。人亦行於身五十周。與十分身之四。又曰。周身十六丈二尺。以應二十八宿。合漏水百刻。都行八百一十丈。以分晝夜也。故人一萬三千五百息。氣行五十周於身。水下百刻。日行二十八宿也。機按。此則人氣應天之常度也。一呼脈行三寸。一吸脈行三寸。呼吸定息。脈行六寸。乃言無病人也。人有所病。則血氣澀滯。經絡壅塞。莫能循其常度而行矣。經曰。天溫日明。則人血淖液而衛氣浮。天陰日寒。則人血凝泣而衛氣沉。此人氣因天時而失常度也。病挾熱者。呼吸必疾而脈行速。病兼寒者。呼吸必慢而脈行遲。此人氣因其病而失常度也。若依其法。接某經當幾呼過幾寸。豈能一一中其肯綮者耶。素難雖不明言接氣通經。始初針砭之設。莫非接氣通經法也。經曰。病在上者。陽也。病在下者。陰也。病先起陰者。先治陰而後治陽。病先起陽者。先治陽而後治陰。又曰。身形有痛。九候無病。則繆刺之。繆刺者。左痛刺右。右痛刺左。此刺絡也。又曰。邪客於經。左盛則右病。右盛則左病。或左痛未已。而右脈先病。如此者。必巨刺之。巨刺者。左痛刺右。右痛刺左。此刺經也。氣陷而邪下。從其經上取之。以掣其氣上也。氣逆而邪上。隨其經下取之。以引其氣下也。病若在中。則旁取之（左刺右。右刺左。）</p>
<p>又曰。氣積於胸中者。上取之。寫人迎、天突、喉中。積於腹中者。下取之。寫三里與氣街。上下皆滿者。旁取之。上下取之。（上。天突、人迎。下。氣街、三里。）與季脅之下一寸。重者。雞足取之。診視其脈。大而弦急。及絕不至者。及腹皮急甚者。不可刺也。又曰。審其陰陽。以別柔剛。陽病治陰。陰病治陽。（即從陽引陰。從陰引陽。以左治右。以右治左亦同。）</p>
<p>又曰。當補之時。何所取氣。當寫之時。何所置氣。然。浮氣之不循經者。為衛氣。其精氣之行於經者。為榮氣。蓋補則取浮氣之不循經者。以補虛處。寫則從榮置其氣而不用。猶棄置之也。然病有虛實不一。補寫之道亦不一。是以陽氣不足。（浮氣）而陰氣有餘。則先補陽而後寫陰以和之。陰氣不足。而陽氣有餘。則先補陰而後寫陽以和之。如此。則榮衛自然通行矣。又曰。用針者。必先察其經絡之虛實。切而循之。彈而按之。視其應動者。乃後取之而下之。六經調者。謂之不病。雖病亦自已也。一經上實下虛而不通者。此必有橫絡盛加於大經。令之不通。視而寫之。此所謂解結也。上寒下熱。先刺其項太陽。久留之。已刺則熨項與背令熱。令熱下合乃止。此所謂推而上之者也。上熱下寒。視其虛脈而陷之於經絡者取之。氣下乃止。此所謂引而下之者也。大熱遍身。狂言。妄聞妄見。視足陽明及大絡取之。虛者補之。血而實者寫之。因其偃臥。居其頭前。以兩手四指挾按頸動脈。久持之卷而切推。下至缺盆中而復止如前。熱去乃止。此所謂推而散之者也。　凡此莫非通經接氣。但不以呼吸多少。而為經脈長短之候耳。指微賦注所釋。譬猶援儒入釋。以璞亂玉。何其謬哉。</p>
<p>或曰。今醫用針。動輟以袖覆手。暗行指法。謂其法之神秘。弗輕示人。惟恐有能盜取其法者。不知果何法耶。</p>
<p>曰。金針賦十四法。與夫青龍擺尾等法。可謂已盡之矣。舍此而他。求法之神秘。吾未之信也。況此等法。證之於經。則有悖於經。質之於理。則有違於理。彼以為神。我以為詭。彼以為秘。我以為妄。固可以愚弄世人。實所以見鄙識者。古人有善。惟恐不能及人。今彼吝嗇至此。法雖神秘。殆必神亦不佑。法亦不靈也。奚足尚哉。</p>
<p>或曰。今醫置針於穴。略不加意。或談笑。或飲酒。半晌之間。又將針捻幾捻。令呼幾呼。仍復登筵。以足其欲。然後起針。果能愈病否乎。</p>
<p>曰。經云。凡刺之真。必先治神。又云。手動若務。針耀而勻。靜意視義。觀適之變。又云。如臨深淵。手如握虎。神無營於眾物。又云。如待所貴。不知日暮。凡此數說。敬乎怠乎。又云。虛之與實。若得若失。實之與虛。若有若無。謂氣來實牢者為得。濡虛者為失。氣來實牢濡虛。以隨濟迎奪而為得失也。</p>
<p>又曰。有見如（如讀為而）入。有見如出。蓋謂入者。以左手按穴。待氣已至。乃下針。針入候其氣盡。乃出針也。</p>
<p>又曰。既至也。量寒熱而留疾。寒則留之。熱則疾之。留者遲也。疾者速也。凡補者。按之遲留。寫者。提之疾速也。</p>
<p>又曰。刺熱厥者。留針反為寒。刺寒厥者。留針反為熱。刺熱厥者。二刺陰而一刺陽。刺寒厥者。二刺陽而一刺陰。機按。以上數條。此皆費而隱者也。敬者能之乎。怠者能之乎。古人所以念念在茲。不敢頃刻而怠忽者。惟恐虛實得失。而莫知寒熱疾留而失宜也。因摭而輯之於此。庶使後學將以逞今之弊。而變今之習也歟。</p>
<p>或曰。諸家針書。載某穴針幾分。留幾呼。灸幾壯。出於經歟否歟。</p>
<p>曰。於經不載。多出於經傳出。經曰。病有浮沉。刺有淺深。淺深不得。反為大賊。過之則內傷。不及則外壅。古人治法。惟視病之浮沉。而為刺之淺深。豈以定穴分寸為拘哉。又謂某穴宜留幾呼。悖理尤甚。經曰。刺實須其虛者。留針。陰氣隆至。針下寒。乃去針也。經氣已至。慎守勿失。又曰。刺之而氣不至。無問其數。刺之而氣至。乃去之。勿復針。針各有所宜。各不同形。各任其所。為刺之要。氣至而有效。效之信。若風之吹雲。明乎若見蒼天。又曰。氣血之未應針。則伏如橫弩之安靜。其應針也。則起如機發之迅疾。然其氣血流注。豈留呼而可為準定耶。又曰。靜以久留。以氣至為故。不以息之多數而便去針。是古人用針。惟以氣至為期。而不以呼之多少為候。若依留呼之說。氣至則可。氣若不至。亦依呼數而去針。徒使破皮損肉。有何益於病哉。故曰。凡刺之害。中而不去則精泄。不中而去則致氣。精泄則病甚而恇。致氣則生為癰疽是也。又謂某穴宜灸幾壯。亦非至言。惟當視其穴俞。肉之厚薄。病之輕重。而為灸之多少大小則可耳。不必守其成規。所言某穴針幾分。灸幾壯。謂病宜針某穴。則宜入幾分。病宜灸。則宜灸幾壯。針則不灸。灸則不針也。不知其說者。既針復灸。既灸復針。為害不淺。</p>
<p>或曰。經言足陽明。五臟六腑之海也。其脈大。血多。氣盛。熱壯。刺此者。不深不散。不留不寫也。足陽明刺深六分。留十呼。足太陽深五分。留七呼。足少陽深四分。留五呼。足太陰深三分。留四呼。足少陰深二分。留三呼。足厥陰深一分。留二呼。手之陰陽。其受氣之道近。其氣之來疾。其刺深者。皆無過二分。其留皆無過一呼。灸之亦然。灸而過此者。得惡火。則骨枯脈澀。刺而過此者。則脫氣。此則古之法也。今觀前篇所云。則此篇所論。亦皆非歟。</p>
<p>曰。此古人特論其理之常如此耳。凡用刺法。自有所宜。初不必以是為拘也。經曰。邪氣在上。（言邪氣之中人也高）濁氣在中。（寒溫不適。飲食不節。而病在於腸胃。故曰濁氣在中。）清氣在下。（言清溫地氣中人。必從足始。故曰清氣在下。）故針陷脈。則邪氣出。（取之上）針中脈。則濁氣出。（取之陽明合）針太深。則邪氣反沉而病益。（浮淺之病。不欲深刺。深則邪反入。故曰反沉。）又曰。少長小大肥瘦。以心撩之。又曰。其可為度量者。不甚脫肉而血氣不衰也。若夫瘠瘦而形肉脫者。惡可以度量刺乎。審切循捫按。視其寒溫盛衰而調之。是謂因適而為之真者是也。</p>
<p>或曰。金針賦言。諸陽之經。行於脈外。諸陽之絡。行於脈內。諸陰之經。行於脈內。諸陰之絡。行於脈外。是歟非歟。</p>
<p>經曰。經脈十二。伏行分肉之間。深而不見。諸脈浮而常見者。皆絡脈也。又曰。當數者為經。不當數者為絡。又曰。諸絡脈。不能經大節之間。必行絕道而出入。復合於皮。（十四經發揮以十二經之支脈。伏行分肉之間者。皆釋為絡脈。則絡脈亦伏行分肉之間者。而不浮見。亦能經大節而不行絕道。亦當經脈十六丈二尺之數。而非不當數也。似涉於誤。）經曰。百病必先於皮毛。邪中之。則腠理開。開則入客於絡。（乃血絡。非大絡。）留而不去。傳入於經。又漸傳於臟腑。機按。經言則知諸經皆屬於內。諸絡皆屬於外。經中只言內經外絡。未嘗言陰陽也。且如榮行脈中。衛行脈外。榮氣之行。無分晝夜。衛氣晝但行陽。夜但行陰。素難嘗言之矣。今謂陽經外。陽絡內。陰經內。陰絡外。經無明文。不知何據。</p>
<p>或曰。賦言男子氣。早在上。晚在下。女子氣。早在下。晚在上。午前為早。午後為晚。從腰以上為上。從腰以下為下。男子早針。氣乃上行。晚針。氣乃下行。女子早針。氣乃下行。晚針。氣乃上行。其說亦有據乎。</p>
<p>經曰。榮氣行於脈中。周身五十度。無分晝夜。至平旦與衛氣會於手太陰。衛氣行於脈外。晝行陽二十五度。夜行陰二十五度。至平旦與榮氣會於手太陰。機按。衛氣之行。但分晝夜。未聞分上下也。男女臟腑經絡。氣血往來。未嘗不同也。今賦所言如是。似涉無稽之談。安可為法於人哉。</p>
<p>或曰。賦言補寫之法。男用大指進前左轉。呼之為補。退後右轉。吸之為寫。提針為熱。插針為寒。女用大指退後右轉。吸之為補。進前左轉。呼之為寫。插針為熱。提針為寒。午前如此。午後反之。其法是歟非歟。</p>
<p>經曰。冬至四十五日。陽氣微上。陰氣微下。夏至四十五日。陰氣微上。陽氣微下。此論一年陰陽之升降也。即此。一日陰陽之升降。午前陽升陰降。午後陰升陽降。無分於男女也。考之素難。男女臟腑經絡穴俞血氣。晝夜周流無不同。今賦言午前午後。男女補寫顛倒錯亂如此。悖經旨也甚矣。故曰。診不知陰陽逆從之理。此治之一失也。又曰。刺實須其虛者。針下寒也。刺虛須其實者。針下熱也。曰寒曰熱。惟針下為候。何嘗以提按而分男與女哉。</p>
<p>或曰。針法刺左邊之穴。將針右捻。而氣上行。將針左捻。而氣下行。刺右邊反之。欲補。先呼後吸。欲寫。先吸後呼。其法亦可師歟。</p>
<p>曰。經絡周於人身。無有左右上下之別。今針左右不同如此。將謂左之經絡與右。上與下。兩不相同耶。經曰。刺不知經絡之往來。血氣之流行。不足以為工。此亦可謂不知經絡之往來矣。呼補吸寫。古今皆同。予毋容議。</p>
<p>或曰。丹溪言針法。渾是寫而無補。何謂也。</p>
<p>經曰。陽不足者。溫之以氣。陰不足者。補之以味。針乃砭石所制。既無氣。又無味。破皮損肉。發竅於身。氣皆從竅出矣。何得為補。經曰。氣血陰陽俱不足。勿取以針。和以甘藥是也。又曰。寫必用方。補必用員。蓋謂以氣方盛。以月方滿。以日方溫。以身方定。以息方吸而內針。復候其吸而轉針。乃復候其方呼而徐引針。故曰。寫必用方。其氣而行焉。補必用員者。員者。行也。行者。移也。宣其不行之氣。令其行也。移其未復之脈。使之復也。夫寫。固寫其盛也。於補亦云。宣不行之氣。移未復之脈。曰宣曰移。非寫而何。且考素問九針之用。無非寫法。丹溪之言。豈無所本哉。經中須有補法。即張子所謂祛邪實所以扶正。去舊實所以生新之意也。帝曰。補寫奈何。岐伯曰。此攻邪也。疾出以去盛血。而復其真氣。故云補也。虞氏曰。針刺雖有補寫之法。余恐但有寫而無補焉。謂寫者。迎而奪之。以針迎其經脈之來氣而出之。固可以寫實也。謂補者。隨而濟之。以針隨其經脈之去氣而留之。未必能補也。不然。內經何以曰形氣不足。病氣不足。此陰陽皆不足也。不可刺之。刺之重竭其氣。老者絕滅。壯者不復矣。若此等語。皆有寫無補之謂也。</p>

<h1>卷之下</h1>
<p>或曰。病有宜灸者。有不宜灸者。可得聞歟。</p>
<p>曰。大抵不可刺者。宜灸之。一則沉寒痼冷。二則無脈。知陽絕也。三則腹皮急而陽陷也。舍此三者。余皆不可灸。蓋恐致逆也。</p>
<p>針經云。陷則灸之。天地間無他。惟陰與陽二氣而已。陽在外在上。陰在內在下。今言陷下者。陽氣下陷入陰血之中。是陰反居其上。而覆其陽脈。證俱見寒。在外者。則灸之。（夫病有邪氣陷下者。有正氣陷下者。邪氣陷下者。是經虛氣少邪入。故曰感虛乃陷下也。故諸邪陷下在經者。宜灸之。正氣陷下。宜藥升之。如補中益氣之類。）</p>
<p>經曰。北方之人。宜灸焫也。為冬寒大旺。伏陽在內。皆宜灸之。以至理論。則腎主藏。藏陽氣在內。冬三月。主閉藏是也。若太過則病。固宜灸焫。此陽明陷入陰水之中是也。</p>
<p>難經云。熱病在內。取會之氣穴。為陽陷入陰中。取陽氣通天之竅穴。以火引火而導之。此宜灸也。若將有病者。一概而灸之。豈不誤哉。　仲景云。微數之脈。慎不可灸。因火為邪。則為煩逆。追虛逐實。血散脈中。火氣雖微。內攻有力。焦骨傷筋。血難復也。又云。脈浮。宜以汗解。用火灸之。邪無從出。因火而盛。病從腰以下必重而痹。名火逆也。脈浮熱甚而灸之。此為實實。因火而動。必咽燥唾血。又云。身之穴三百六十有五。其三十穴灸之有害。七十九穴刺之為災。並中髓也。　經之所見。邪之所在。脈沉者。邪氣在內。脈浮者。邪氣在表。世醫只知脈之說。不知病證之禁忌。若表見寒證。身汗出。身常清。數慄而寒。不渴。欲覆厚衣。常惡寒。手足厥。皮膚乾枯。其脈必沉細而遲。但有一二證。皆宜灸之。陽氣下陷故也。若身熱惡熱。時見躁作。或面赤面黃。嗌乾咽乾口乾。舌上黃赤。時渴。咽嗌痛。皆熱在外也。但有一二證。皆不宜灸。其脈必浮數。或但數。亦不可灸。灸之。災患立生。若有鼻不聞香臭。鼻流清涕。眼瞼時癢。或欠或嚏。惡寒。其脈必沉。是脈證相應也。或輕手得弦緊者。是陰伏其陽也。雖面赤亦宜灸。不可拘於面赤也。機按。素難諸書。皆言陽氣陷下者。脈沉遲也。脈證俱見寒在外者。冬月陰寒大旺。陽明陷入陰水之中者。並宜灸之。設脈浮者。陽氣散於肌表者。皆不宜灸。丹溪亦曰。夏月陽氣盡浮於表。今醫灼艾。多在夏月。寧不犯火逆之戒乎。或者因火而生熱脹發黃腰痹咽燥唾血者。往往有之。尚不知為火逆所致。寧甘心於命運所遭。悲夫。經曰。春夏養陽。以火養陽。安有是理。論而至是。雖愚亦當有知者焉。</p>
<p>或曰。嗽病多灸肺俞、風門何如。</p>
<p>曰。肺主氣屬金。行秋之令。喜清而惡熱。受火所制。為華蓋。居四藏之端。飲食入胃。熱氣上蒸。兼之六部有傷。痰火俱作。發而為咳為嗽。其痰多者。顯是脾之濕濁。隨火上升為嗽。其痰少者。肺火抑鬱。不得宣通為咳。咳形屬火。痰形屬濕。風門、肺俞二穴。明堂、銅人皆云治嗽。今人見有痰而嗽。無痰而咳。一概於三伏中灸之。不計壯數。二穴切近華蓋。而咳與嗽本因火乘其金。茲復加以艾火燔灼。金欲不傷得乎。況三伏者。火旺金衰。故謂之伏。平時且不可灸。而況於三伏乎。夫治嗽。當看痰與火孰急。無痰者。火旺金衰。十死七八。瀉火補金。間或可生。痰多者。濕盛也。降火下痰。其嗽自愈。縱灸肺俞、風門。不過三壯五壯。瀉其熱氣而已。固不宜多灸。三伏之中。更不宜灸也。</p>
<p>或曰。頭目之疾。灸之何如。</p>
<p>曰。手之三陽。從手至頭。足之三陽。從頭走足。督脈自尾閭抵脊。上頭至人中。頭者。手足三陽與督脈所會之地。故冬月之寒。頭無所畏。美酒之飲。面為之赤。是皆諸陽所致也。今有頭風頭暈。中風發致眼目耳鼻等疾。輒於頭部諸穴。多灼艾炷。是猶抱薪救火。安能濟耶。當看病在氣分血分。分類施治。庶得其宜。縱使應灸。亦不過三壯五壯。以瀉熱氣而已。眼目疼痛。多由血熱。豈宜妄灸助熱。以傷其血哉。</p>
<p>或曰。人言無病而灸。以防生病何如。</p>
<p>曰。人之有病。如國之有盜。須用兵誅。其兵出於不得已也。針灸治病。亦不得已而用之。人言無病而灸。如破船添釘。又言。若要安。膏肓、三里不要干。此世俗之通論。予獨以為不然。夫一穴受灸。則一處肌肉為之堅硬。果如船之有釘。血氣到此。則澀滯不能行矣。昔有病跛者。邪在足少陽分。自外踝以上。循經灸者數穴。一醫為針臨泣。將欲接氣過其病所。才至灸瘢。止而不行。始知灸火之壞人經絡也。或有急證。欲通其氣。則無及矣。邪客經絡。為其所苦。灸之不得已也。無病而灸。何益於事。</p>
<p>或曰。膏肓治百病。而諸家取穴之法不同。何歟。</p>
<p>曰。高下各去胛骨一側指許是穴。不可失之狹。狹則內犯大筋。不可失之闊。闊則外犯胛骨。必須大筋之外。胛骨之內。空處按之。覺與前胸乳間膈膜相應。乃是真穴。舊傳取兩乳間量則。分作八寸。以比橫寸之則。量之於背。蓋人有生而背突者。背常闊。而胸常狹。胸突者。胸常闊。而背常狹。安能保其無過與不及焉。又有兒時偏臥一邊。以致背有邊闊邊狹者。亦不可以邊之闊狹為拘。但當隨其一邊闊狹。相去胛骨一側指許為正也。人之項。有二大筋。夾脊而下。兩筋外空。為第二行穴俞。穴俞外。又有二大筋。大筋外空。為第三行穴俞。膏肓系在三行魄戶之下。神堂之上。若點穴。不出胛骨一側指許。則傷筋骨。非真穴也。世人又有四肋三間之說。揣按自大椎至三節之下。四節之上。准望於三四柱間定穴。指為四肋三間。用之不疑。瘦人椎骨分曉。用之可也。肥人揣按實難。又以指節寸量開三寸取穴。背高而狹者。全不合四肋三間之說矣。嘗是灸一骨立之人。用側指許法點之。方大悟四肋三間之妙。蓋人之胛骨。微有少曲。胛骨下廉上廉四肋之內。自有三間。膏肓正在四肋三間之中。即非脊骨三四椎之間也。世人多灸之者。蓋膏肓神明所居。或為邪干。則脂膏銷鑠。肓膜瘦薄。灸之而病或安者。以三焦主氣。為諸陽之府。氣病則陽虛而陰不得相附。膏肓在三焦部分。氣之所聚而行於諸陽。宜其主於氣病也。若治血病。吾未見其可者。晉侯夢二豎子在膏肓間。非秦緩不能灸也。以陽氣將絕。邪得專之故也。</p>
<p>或曰。古謂癰疽始發。灸之可使輕淺。何謂也。</p>
<p>丹溪曰。用火以暢達拔引郁毒。此從治之意。惟頭為諸陽所聚。艾炷宜小而少。若身上痛則灸至不痛。不痛須灸至痛。有因灸而死者。蓋虛甚孤陰將絕。其脈必浮數而大且鼓。精神必短而昏。無以抵當火氣。宜其危也。</p>
<p>或曰。灸之不發何如。</p>
<p>羅氏曰。覃公四十九歲病臍腹冷疼。完穀不化。足跗寒逆。精神困弱。脈沉細微。灸氣海、三里、陽輔。三日後。以蔥熨灸瘡。皆不發。復灸數壯。亦不發。十日後。全不作膿。瘡干而愈。針書曰。凡用針。氣不至不效。灸之亦不發。大抵血氣空虛。不能作膿。失其所養故也。加以不慎。邪氣加之。病必不退。或曰。覃公所養。無不如意。何謂失其所養。曰。君言所養。口體者也。此論所養。性命者也。覃公壯年得志。務快其心。血氣空虛。以致此耳。</p>
<p>或曰。灸有補寫乎。</p>
<p>經曰。以火補者。無吹其火。須自滅也。以火寫者。疾吹其火。傳其艾。須其火滅也。虞氏曰。灸法不問虛實寒熱。悉令灸之。亦有補寫乎。曰。虛者灸之。使火氣以助元氣也。實者灸之。使實邪隨火氣而發散也。寒者灸之。使其氣復溫也。熱者灸之。引鬱熱之氣外發。火就燥之義也。</p>
<p>或曰。周身經絡。及穴俞相去分寸。經穴起止。十二經納支幹等條。古有歌括。亦可讀否。曰。經脈者。所以能決死生。處百病。調虛實。不可不通。先賢以歌括之。欲人易記誦耳。安可不讀。歌曰。手太陰肺中焦生。下絡大腸出賁門。上膈屬肺從肺系。系橫出腋臑中行。肘臂寸口上魚際。大指內側爪甲根。支絡還從腕後出。接次指屬陽明經。　陽明之脈手大陽。次指內側起商陽。循指上廉出合谷。兩筋岐骨循臂肪。入肘外廉循臑外。肩端前廉柱骨旁。從肩下入缺盆內。絡肺下膈屬大腸。支從缺盆直上頸。斜貫頰前下齒當。環出人中交左右。上夾鼻孔注迎香。　胃足陽明交鼻起。下循鼻外入上齒。還出俠口繞承漿。頤後大迎頰車裡。耳前髮際至額顱。支下人迎缺盆底。下膈入胃絡脾宮。直者缺盆下乳內。一支幽門循腹裡。下行直合氣沖中。遂由髀關抵膝臏。䯒跗中指內關同。一支下膝注三里。前出中指外間通。一支別走足跗趾。大趾之端經盡矣。　太陰脾起足大趾。上循內側白肉際。核骨之後內踝前。上腨循胻經膝里。股內前廉入腹中。屬脾絡胃與膈通。俠嚨連舌散舌下。支絡從胃注心宮。手少陰脈起心中。下膈直與小腸通。支者還從心系走。直上喉嚨系目瞳。直者上肺出腋下。臑後肘內少海從。臂內後廉抵掌中。兌骨之端注少衝。　手太陽經小腸脈。小指之端起少澤。循手外側出踝中。循臂骨出肘內側。上循臑外出後廉。直過肩解繞肩胛。交肩下入缺盆內。向腋絡心循咽嗌。下膈抵胃屬小腸。一支缺盆貫頸頰。至目兌眥卻入耳。復從耳前仍上頰。抵鼻升至目內眥。斜絡於顴別絡接。　足經太陽膀胱脈。目內眥上起額尖。支者巔上至耳角。直者從巔腦後懸。絡腦還出別下項。仍循肩膊俠脊邊。抵腰膂腎膀胱內。一支下與後陰連。貫臀斜入委中穴。一支膊內左右別。貫胛俠脊過髀樞。臀內後廉膕中合。下貫腨內外踝後。京骨之下指外側。　足經腎脈屬少陰。小指斜趨湧泉心。然谷之下內踝後。別入跟中腨內侵。出膕內廉上股內。貫脊屬腎膀胱臨。直者屬腎貫肝膈。入肺循喉舌本尋。支者從肺絡心內。仍至胸中部分深。　手厥陰心主起胸。屬包下膈三焦宮。支者循胸出脅下。脅下連腋三寸同。仍上抵腋循臑內。太陰少陰兩經中。指透中衝支者別。小指次指絡相通。　手經少陽三焦脈。起自小指次指端。兩指岐骨手腕表。上出臂外兩骨間。肘後臑外循肩上。少陽之後交別傳。下入缺盆膻中分。散絡心包膈里穿。支者膻中缺盆上。上項耳後耳角旋。屈下至頤仍注頰。一支出耳入耳前。卻從上關交曲頰。至目內眥乃盡焉。　足脈少陽膽之經。始從兩目銳眥生。抵頭循角下耳後。腦空風池次第行。手少陽前至肩上。交少陽右上缺盆。支者耳後貫耳內。出走耳前銳眥循。一支銳眥大迎下。合手少陽抵項根。下加頰車缺盆合。入胸貫膈絡肝經。屬膽仍從脅裡過。下入氣街毛際縈。橫入髀厭環跳內。直者缺盆下腋膺。過季脅下髀厭內。出膝外廉是陽陵。外輔絕骨踝前過。足跗小趾次趾分。一支別從大趾去。三毛之際接肝經。　厥陰足脈肝所終。大趾之端毛際叢。足跗上廉太衝分。踝前一寸入中封。上踝交出太陰後。循膕內廉陰股沖。環繞陰器抵少腹。俠胃屬肝絡膽逢。上貫膈里布脅肋。俠喉頏顙目系同。脈上巔會督脈出。支者還生目系中。下絡頰裡環唇內。支者便從膈肺通。</p>

<h2>十五絡脈歌</h2>
<p>（經之橫支交接他經者）</p>
<p>歌曰。人身絡脈一十五。我今逐一從頭舉。手太陰絡為列缺。手少陰絡即通里。手厥陰絡為內關。手太陽絡支正是。手陽明絡偏歷當。手少陽絡外關位。足太陽絡號飛揚。足陽明絡豐隆記。足少陽絡為光明。足太陰絡公孫寄。足少陰絡名大鐘。足厥陰絡蠡溝配。陽督之絡號長強。陰任之絡為尾翳。脾之大絡為大包。十五絡名君須記。</p>

<h2>周身經穴相去分寸歌</h2>

<h3>肺經</h3>
<p>太陰肺兮出中府。雲門之下一寸所。云、門氣戶旁二寸。人迎之下二骨數。天府腋下三寸求。俠白肘上五寸頭。尺澤肘中約紋是。孔最腕上七寸收。列缺側腕寸有半。經渠寸口陷中勘。太淵掌後橫紋端。魚際節後散脈間。少商大指內側尋。一十一穴憑君算。</p>

<h3>大腸經</h3>
<p>手陽明經屬大腸。食指內側號商陽。本節前取二間定。本節後取三間間。岐骨陷中尋合谷。陽谿腕中上側屬。腕後三寸、偏歷當。五寸半中溫溜場。下廉上廉下一寸。上廉里下一寸建。三里曲池三寸下。屈肘紋頭曲池罅。肘髎大骨外廉詳。五里肘上三寸量。臂臑五里上四寸。肩髃肩端兩骨央。巨骨肩端叉骨內。天鼎缺盆之上藏。扶突曲頰下一寸。禾髎五分水溝疆。鼻下孔旁五分內。左右二穴皆迎香。（二十穴）</p>

<h3>胃經</h3>
<p>胃之經兮足陽明。頭維本神寸五尋。下關耳前動脈是。頰車耳下五分真。承泣目下七分取。四白目下一寸扃。巨髎孔旁八分定。地倉夾吻四分平。大迎曲頷前一寸。人迎結旁五寸濱。水突在頸大筋前。下直氣舍上人迎。氣舍迎下夾天突。缺盆橫骨陷中親。氣戶俞府旁二寸。直乳六寸又四分。庫房屋翳膺窗近。乳中正對乳中心。乳根之穴出乳下。五穴各一寸六真。不容夾幽門寸五。承滿梁門關門有。太乙挨排滑肉門。各分一寸穴可全。天樞安在夾臍旁。外陵樞下一寸當。大巨二寸水道五。歸來七寸是其鄉。氣衝曲骨旁三寸。來下鼠上脈中央。髀關兔後六寸置。伏兔市上三寸量。陰市膝上三寸許。梁丘二寸是其場。膝臏骭下尋犢鼻。膝眼四穴乃兩旁。膝下三寸三里位。里下三寸上廉地。條口上廉下一寸。條口二寸下廉是。豐隆下廉外一寸。踝上八寸分明記。衝陽陷上二寸放。陷谷內庭後寸半。內庭次指外間容。厲兌大指次指上。</p>

<h3>脾經</h3>
<p>大指內側隱白位。大都節後陷中值。太白內側核骨下。公孫節後一寸與。商丘有穴屬經金。踝下微前陷中寄。內踝三寸三陰交。漏谷六寸踝上是。膝下五寸為地機。陰陵內側膝輔次。血海分明膝臏上。內廉肉際三寸據。箕門血海上六寸。筋間動脈須審議。衝門五寸大橫下。三寸三分府舍治。腹結橫下寸三分。大橫夾臍須可記。腹哀半寸去日月。直與食竇相連比。食竇天溪及胸鄉。周榮各一寸六置。大包淵液下三寸。此經足太陰脾地。</p>

<h3>心經</h3>
<p>少陰心起極泉宮。腋下筋間動脈從。青靈肘節上三寸。少海肘節後內容。靈道掌後一寸半。通里腕後一寸鍾。陰郄五分取動脈。神門掌後橫紋中。少府節後勞宮值。小指內側是少衝。</p>

<h3>小腸經</h3>
<p>手小指端為少澤。前谷外側節前索。節後陷中尋後谿。腕骨腕前骨下測。腕中骨下陽谷討。腕上一寸名養老。支正腕後量五寸。小海肘端五分好。肩貞胛下兩骨解。臑俞大骨之下考。天宗骨下有陷中。秉風髎後舉有空。曲垣肩中曲胛售。外俞大椎一寸從。肩中二寸大椎旁。天窗頰下動脈詳。天容耳下曲頰後。顴髎面頰兌端量。聽宮耳珠大如菽。手太陽穴終此鄉。</p>

<h3>腎經</h3>
<p>湧泉屈足蜷趾取。腎經起處此穴始。然谷踝後大骨下。踝後跟上太谿舉。溪下五分尋大鐘。水泉溪下一寸許。照海踝下陰蹺生。踝上二寸復溜停。溜前筋骨取交信。亦曰踝上二寸行。築賓六寸腨分別。陰谷膝內看輔骨。橫骨曲如偃月形。大赫氣穴四滿竭。中注肓俞正夾臍。五寸分作六穴隙。商曲石關陰都接。通谷幽門一寸列。幽門寸半夾巨闕。步廊神封靈墟謁。神藏彧中入俞府。各一寸六不差疊。欲知俞府在何方。璇璣之旁二寸量。</p>

<h3>膀胱經</h3>
<p>足太陽兮膀胱經。目眥內角睛明僉。攢竹眉頭陷中是。此穴禁灸可針釘。曲差二穴神庭畔。五處挨排夾上星。承光五處後寸半。通天絡卻亦相停。玉枕橫夾於腦戶。尺寸當準銅人形。天柱項後髮際治。大筋外廉陷中是。除脊量開五寸分。第一大杼二風門。肺俞三椎厥陰四。心俞五椎骨下論。督俞膈俞相等級。第六第七次第立。第八椎下穴無有。肝俞數之椎當九。十椎膽俞脾十一。十二椎下胃俞述。三焦腎俞氣海俞。十三十四十五椎。大腸關元並小腸。十六十七十八椎。上髎次髎中與下。一空之中容一髎。四髎四空憑眼觀。夾脊二寸腰胯間。五穴五寸至會陽。尾骨旁開二寸方。背部三行附分起。第二椎下此穴始。三寸半是夾脊量。若還除脊三寸當。魄戶第三椎下覓。第五椎下索神堂。膏盲四肋三間取。（一說。三椎下。四椎上。一說。四椎下五分。五椎上三分。）曲胛骨下側指許。第六噫嘻端可守。膈關第七魂門九。陽綱意舍並胃倉。十椎十一二相參。肓門椎數當十三。志室十四椎邊旁。除下十五六七八。胞肓十九合參詳。秩邊二十椎節下。承扶臀下橫紋疆。殷門承下六寸見。浮郄委陽上一寸。委陽卻並殷門鄉。膕中外廉兩筋許。委中膝膕約紋里。此下二寸合陽主。承筋腨腸中央論。承山腨下兩分尖。外踝七寸上飛揚。跗陽踝上三寸量。金門踝下軟骨上。申脈丘墟前後安。崑崙踝後跟骨逢。僕參跟骨後陷中。申脈踝上容爪甲。京骨外側大骨壓。束骨本節後陷容。通谷本節前陷向。至陰小指爪甲角。一百二十六穴窮。</p>

<h3>心包絡經</h3>
<p>厥陰心包何所得。乳後一寸天池索。天泉腋下二寸求。曲澤肘紋尋動脈。郄門去腕五寸通。間使腕後三寸逢。內關去腕才二寸。大陵掌後兩筋中。勞宮掌內屈指取。中指之末取中衝。</p>

<h3>三焦經</h3>
<p>關衝名指外側邊。小指次指間液門。中渚次指本節後。陽池表腕有穴存。腕上二寸外關絡。支溝腕後三寸著。會宗四寸空中求。消詳一寸無令錯。肘後五寸臂大脈。此是三陽絡所宅。四瀆肘外並三陽。天井肘上一寸側。肘上二寸清冷淵。消濼臂外肘分索。臑會去肩三寸中。肩髎肩端臑上通。天髎盆上毖骨際。天牖旁頸後天容。醫風耳後尖角陷。瘛脈耳後雞足逢。顱息耳後青絡脈。角孫耳郭開口空。絲竹眉後陷中看。禾髎耳前兌發叢。耳門耳前當耳缺。此是手少陽經穴。</p>

<h3>膽經</h3>
<p>瞳子髎起目眥銳。耳前陷中尋聽會。上關耳前開口空。懸釐顳顬下廉際。懸顱正在曲角端。頷厭顳顬上廉看。曲鬢掩耳正尖上。率谷入發寸半安。本神入髮際四分。穴在耳上率谷前。曲差之前一寸半。陽白眉上一寸判。臨泣有穴當目上。直入髮際五分望。目窗正營各一寸。承靈營後五寸放。天衝耳上三寸居。浮白入發一寸儲。竅陰枕下動有空。完骨入發四寸余。腦空正夾玉枕骨。風池腦後髮際祛。肩共骨前寸半衎。淵液腋下三寸按。輒筋平前卻一寸。日月期門一寸半。直下五分細求之。京門監骨腰中看。帶脈季肋寸八分。五樞直下三寸算。維道章下五寸三。居髎八寸三分參。脅堂脅下看二肋。環跳髀樞宛宛探。兩手著腿風市謀。膝上五寸中瀆搜。陽關陵泉上三寸。陰陵膝下二寸求。陽交外踝斜七寸。正上七寸尋外丘。光明外踝上五寸。陽輔踝上四寸收。踝上三寸名絕骨。丘墟踝前陷中留。臨泣俠谿後寸半。五會溪後一寸侔。俠谿小次岐骨內。竅陰小指次指休。</p>

<h3>肝經</h3>
<p>大敦拇指三毛聚。行間骨尖動脈注。節後有絡連五會。大沖節後二寸遇。中封內踝前一寸。貼著大筋後陷見。蠡溝踝上五寸候。上直中都下復溜。中都上取陰陵泉。折中下取內踝尖。膝關犢鼻下二寸。曲泉紋頭兩筋兼。陰包四寸膝臏上。內廉筋間穴可僉。五里氣衝下三寸。向內半寸陰股瞻。陰廉穴在羊矢下。氣衝相去二寸壇。羊矢氣衝旁一寸。股內橫紋有核見。章門臍上二寸量。橫取六寸季肋端。期門乳根外寸半。直下半寸二肋詳。</p>

<h3>督脈</h3>
<p>齦交唇內齦縫鄉。兌端正在唇上𦚞。水溝鼻下溝內索。素髎宜向鼻端詳。頭形北高而南下。先以前後髮際量。分為一尺有二寸。發上五分神庭場。庭上五分上星位。囪會星上一寸強。上至前頂一寸半。旋毛百會居中央。神聰百會四面取。各取一寸穴之方。後頂強間腦戶三。相去寸半共一般。後發五分定啞門。門上五分風府停。大椎在上下尾骶。分為二十一椎也。椎是骨接高處真。陷中無骨穴可尋。上之七椎用法折。每節一寸四分列。總計七椎數之的。九寸八分分七節。折量自有靈樞經。請君詳看骨度篇。大椎第一節上安。二椎陶道身柱三。神道靈臺至陽穴。第五六七椎下列。筋縮第九椎下住。脊中接脊十一二。懸樞命門十三四。陽關十六椎下次。二十一椎腰俞擠。更有長強居尾骶。十四椎節與臍平。中之七節端可詳。此下乃為下七節。奇分俱在下椎截。</p>

<h3>任脈</h3>
<p>會陰正在兩陰間。曲骨臍下毛際安。中極臍下四寸取。石門二寸關元三。氣海臍下一寸半。陰交臍下一寸放。分明臍中號神闕。水分臍上一寸列。下脘建里中上脘。各各一寸為君說。巨闕上脘一寸半。鳩尾蔽骨五分斷。中庭膻中寸六分。膻中兩乳中間存。玉堂紫宮及華蓋。相去各一寸六分。華蓋璣下一寸量。璇璣突下一寸當。天突結下宛宛內。廉泉頤下骨尖旁。承漿唇前頤稜下。任脈俞穴終此章。</p>
<p>或曰。諸穴相去尺寸。針灸家多屈男左女右中指中節兩橫紋尖為一寸。折量周身之穴。果合經歟否歟。</p>
<p>曰。天有三百六十五度。人身孔穴上應天度。亦有三百六十五穴。穴俞相去遠近而以中指中節橫紋為寸。不思人有身長指短者。有指長身短者。以此為準。寧無誤耶。靈樞骨度言。人之周身孔穴。各有定寸。如頭之大骨。圍二尺六寸。發所覆者。顱至項一尺二寸。前髮際至百會五寸。後髮際至百會七寸。頭形北高南下。顯然不同。折量令人散發分歸左右。用篾自前髮際量至後髮際。不拘頭之大小。折作一尺二寸。則穴穴各有攸當。髮際不明。取眉心直上。量至大椎穴上。折作一尺八寸也。今取百會穴者。云在頂上旋毛中。而旋有正有偏。又取前後髮際及兩耳尖上折中。殊不思五寸七寸多寡不同。豈能以此為準則哉。發以下至頤。長一尺。耳後當完骨。廣九寸。耳前當耳門。廣一尺三寸。兩顴之間。相去七寸。兩髀之間。廣六寸半。足長一尺二寸。廣四寸半。胸圍四尺五寸。腰圍四尺二寸。結喉下至缺盆中。長四寸。缺盆下至𩩲𩨗。長九寸。𩩲𩨗下至天樞。長八寸。天樞下至橫骨。長六寸半。橫骨上廉下至內輔上廉。長一尺八寸。內輔上廉下至下廉。長三寸半。內輔下廉下至內踝。長一尺三寸。內踝下至地。長三寸。膝膕下至跗屬。長一尺六寸。跗屬下至地。長三寸。角以下至柱骨。長一尺。行腋中不見者。長四寸。腋下至季脅。長一尺二寸。季脅下至髀樞。長六寸。髀樞下至膝中。長一尺九寸。膝下至外踝。長一尺六寸。外踝下至京骨。長三寸。京骨下至地。長一寸。背部大椎至尾骶。共二十一節。折作三尺。每節得一寸四分。奇分俱剩在下七節也。橫寸約取。背中脊骨作一寸橫開。腹部兩乳之間。折為八寸。橫寸准此。心蔽骨下至臍中七寸。無蔽骨。取心岐骨下至臍中作七寸。直寸准此。臍下用直寸量之。手部中指末至本節四寸半。本節至腕四寸。腕至肘一尺二寸半。肘至肩一尺七寸。可見俗以中指中節為一寸者。誤矣。此所謂同身寸也。無問湯之七尺。文王九尺。曾交九尺四寸。肥瘦侏儒。俱准靈樞所定尺寸。折量孔穴。不惟同身二字明白無疑。而古今固可以同之也。奈何時人厭繁喜簡。不讀靈樞。徒使患者無辜而受炮烙之苦。忍哉。</p>

<h2>經穴起止歌</h2>
<p>手肺少商中府起。大腸商陽迎香主。足胃厲兌頭維三。脾部隱白大包參。膀胱晴明至陰位。腎經湧泉俞府住。心包中衝天池隨。三焦關衝耳門推。膽家竅陰瞳子髎。肝經大敦期門紹。手心少衝極泉來。小腸少澤聽宮罷。十二經穴始終歌。學者銘於肺腑照。</p>

<h2>十二經納支幹歌</h2>
<p>肺寅大卯胃辰宮。脾巳心午小未中。申膀酉腎心包戌。亥三子膽醜肝通。此是經脈流注序。君當記取在心胸。甲膽乙肝丙小腸。丁心戊胃己脾鄉。庚屬大腸辛屬肺。壬屬膀胱癸腎藏。三焦亦向壬中寄。包絡同歸入癸方。</p>

<h2>天心十一穴歌</h2>
<p>三里內庭穴。曲池合谷接。環跳與陽陵。通里並列缺。委中配承山。下至崑崙穴。合擔用法擔。合截用法截。此法人不知。金鎖通關節。機按。他家又添太衝。作十二穴。去陽陵加陽輔。截者截穴。用一穴也。擔者兩穴。或手與足二穴。或兩手兩足各一穴也。（一說。右手提引謂之擔。左手推按謂之截。擔則氣來。截則氣去。所解無定見者。法不經見。故諸家各以己意而釋之也。）</p>

<h2>經脈交會八穴歌</h2>
<p>公孫衝脈胃心胸。內關陰維下總同。臨泣膽經連帶脈。陽維目銳外關逢。後谿督脈內眥頸。申脈陽蹺絡亦通。列缺肺任行肺系。陰蹺照海隔喉嚨。</p>

<h2>八會歌</h2>
<p>（熱病在內者。各隨其所屬而取之會也。）</p>
<p>八脈始終連八會。府會太倉中脘內。藏會季肋是章門。骨杼血膈（骨會大杼。血會膈俞。）都在背。氣會三焦在膻中。筋會陽陵居膝外。髓會絕骨脈太淵。（脈會太淵）學者當知其所在。</p>

<h2>十二經見證歌</h2>
<p>肺經多氣而少血。是動（因氣動也）則病喘與咳。肺脹膨膨缺盆痛。兩手交瞀為臂厥。所生病者（不因氣動）為氣嗽。喘渴煩心胸滿結。臑臂之內前廉痛。小便頻數掌中熱。氣虛肩背痛而寒。氣盛亦疼風汗出。欠伸少氣不足息。遺矢無度溺變別。大腸氣盛血亦盛。是動頰腫並齒病。所生病者為鼻衄。目痛口乾喉痹候。大指次指用為難。肩前臑外痛相參。　胃經多氣復多血。是動欠伸面顏黑。悽悽惡寒畏見人。忽聞木音心震懾。登高而歌棄衣走。甚則腹脹氣賁響。凡此諸疾骭厥竭。所生病者狂瘧說。濕溫汗出鼻血流。口喎唇胗喉痹結。膝臏疼痛腹脹兼。氣膺伏兔䯒外廉。足跗中趾俱痛徹。有餘消穀溺黃色。不足身前寒振慄。胃房脹滿不消食。氣盛身前熱似蒸。此是胃經之病真。　脾經氣盛而血衰。是動其病氣所為。食入即吐胃脘痛。更兼身體痛難移。腹脹善噫舌本強。得食與氣快然衰。所生病者舌腫痛。體重不食亦如之。煩心心下仍急痛。泄水溏瘕寒瘧隨。不臥強立股膝腫。疽發身黃大指痿。　心經多氣少血宮。是動心脾痛難任。渴欲飲水咽乾燥。所生脅痛目如金。脅臂之內後廉痛。掌中有熱向經尋。　小腸氣少還多血。是動則病痛咽嗌。頷下腫兮不可顧。肩似拔兮臑似折。所生病主肩臑痛。耳聾目黃腫腮頰。肘臂之外後廉痛。部分尤當細分別。　膀胱血多氣猶少。是動頭疼不可當。項似拔兮腰似折。髀強痛徹脊中央。膕如結兮腨如裂。是為踝厥筋乃傷。所主瘧痔小指廢。頭囟項痛目色黃。腰尻膕腳疼連背。淚流鼻衄及癲狂。　腎經多氣而少血。是動病飢不欲食。喘嗽唾血喉中鳴。坐而欲起面如垢。目視䀮䀮氣不足。心懸如飢常惕惕。所生病者為舌乾。口熱咽痛氣賁促。股內後廉並脊疼。心腸煩痛疸而澼。痿厥嗜臥體怠惰。足下熱痛皆骨厥。　心包少氣原多血。是動則病手心熱。肘臂攣急腋下腫。甚則胸脅支滿結。心中澹澹或大動。喜笑目黃面赤色。所生病者為煩心。心痛掌中熱之疾。　三焦少血還多氣。是動耳鳴喉腫痹。所生病者汗自出。耳後痛兼目銳眥。肩臑肘臂外眥疼。小指次指亦如廢。膽經多氣而少血。是動口苦善太息。心脅疼痛難轉移。面塵足熱體無澤。所生頭痛連銳眥。缺盆腫痛並兩腋。馬刀挾癭生兩旁。汗出振寒痎瘧疾。胸脅髀膝至跗骨。絕骨踝痛及諸節。　肝經血多氣少方。是動腰疼俯仰難。男疝女人少腹腫。面塵脫色及咽乾。所生病者為胸滿。嘔吐洞泄小便難。或時遺溺並狐疝。臨症還須仔細看。（機按。經言十二經是動及所生諸病。虛則補之。實則寫之。熱則疾之。寒則留之。陷下則灸之。不盛不虛。以經取之。盛者。寸口大三倍於人迎。虛者。寸口反小於人迎也。茲集切脈觀色數條於前。繼集諸經病症數條於後。蓋欲學者備舉兼盡。庶不陷於一偏。免致殺人於無知無識。陰譴之報。或可以少逭也。）</p>

<h2>十二經井滎俞經合歌</h2>
<p>少商魚際與太淵。經渠尺澤肺相連。商陽二三間合谷。陽谿曲池大腸牽。少衝少府屬於心。神門靈道少海尋。少澤前谷後谿腕。陽谷小海小腸經。大敦行間太衝看。中封曲泉屬於肝。竅陰俠谿臨泣膽。丘墟陽輔陽陵泉。隱白大都太白脾。商丘陰陵切要知。湧泉然谷太谿穴。復溜陰谷腎之經。厲兌內庭陷谷胃。衝陽解谿三里隨。至陰通谷束京骨。崑崙委中是膀胱。中衝勞宮心包絡。大陵間使曲澤傳。關衝液門中渚穴。陽池支溝天井源。此是三焦經穴俞。號曰流注五行全。</p>

<h2>禁針穴歌</h2>
<p>禁針穴道要先明。腦戶囟會及神庭。絡卻玉枕角孫穴。顱息承泣隨承靈。神道靈臺膻中忌。水分神闕並會陰。橫骨氣衝手五里。箕門承筋並青靈。更加臂上三陽絡。二十二穴不可針。孕婦不宜針合谷。三陰交內亦同倫。石門針灸應須忌。女子終身無妊娠。外有云門並鳩尾。缺盆客主人莫深。肩井針時令悶倒。三里急補命還平。</p>

<h2>禁灸穴歌</h2>
<p>禁灸之穴四十五。承光啞門並風府。天柱素髎臨泣上。晴明攢竹迎香數。禾髎顴髎絲竹空。頭維下關與脊中。肩貞心俞白環俞。天牖人迎共乳中。周榮淵液並鳩尾。腹哀少商魚際同。經渠天府中衝位。陽關陽池地五會。隱白漏谷陰陵泉。條口犢鼻並陰市。伏免髀關及委中。殷門申脈承扶忌。</p>

<h2>重解虛則補之四句</h2>
<p>機按。難經所解。義猶未悉。且舉心言之。經文虛實字。指虛邪實邪言。非心之虛實也。假如從心之後來者為虛邪。虛邪傷心當補。然心之後肝。肝為心之母也。從心之前來者為實邪。實邪傷心當寫。然心之前脾。脾為心之子也。舉此以例。從心所勝來者為微邪。微邪。金也。微邪傷心亦當補。從心所不勝來者為賊邪。賊邪。水也。賊邪傷心亦當寫。可見肝肺同一虛邪而當補。脾腎同一實邪而當寫。至於心之正邪。火也。心病於火。乃本經自病。既非他經之虛邪來傷。亦非他經之實邪來襲。是以不須補寫他經。只就本經之虛實以補寫也。故曰。不虛不實。以經取之。不虛不實。亦指虛邪實邪言。如此分解。其義方盡。可將此連前後數篇觀之。則可見矣。</p>
