<header data-type="book">
<h1>長沙藥解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃玉璐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1753">公元1753年</data></dd></div>
<div><dt>底本</dt><dd>清乾隆陽湖張琦刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=8852c4f9ab9b41bea562debc2b835e72fDcyNDMw0&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>聞之《呂覽》：始生之者，天也，養成之者，人也，成之者，遂其生也，是天人之合也。然生之者，布帛也，菽粟也，殺之者，若鋒刃，若鼎鑊，若水旱，若蝗螟，生之途，未能十一，殺之途，不止十三。何其生之寡而殺之多也？此人事乎？抑天道耶？玉楸子曰：此未足以為多也，有其至多者焉。屠羊說以屠羊傳，而羊不哀，其道孤也。無何，屠牛垣以屠牛傳，而庖丁起，其黨漸眾，牛始哀矣。無何，高漸離以屠狗傳，而聶政興，朱亥出，樊噲生，其徒愈繁，而狗始悲矣。無何，白起、章邯之屬以戰將名，寧成、郅都之輩以刑官著，自茲屠人者傳矣。風氣開，下流眾，苟道將、爾朱榮之徒且比肩來，索元禮、來俊臣之類更接踵至，尤而效之，抑又甚焉，至於原野厭人之肉，川穀流人之血，人始哭矣。</p>
<p>此良可疾首痛心已，而君子未以為痛也。何則？大難既平，目不睹兵革之事，耳不聞羅織之經，其人死，其禍絕，往者已矣，來者猶幸。夫何庸工群起，而談岐黃，則殺之至多，而不可勝窮者，無如此甚矣。不以戈鋌，而人罹鋒刃，不事箝網，而人遭誅夷，其書多，其傳久，其流遠，其派眾，其人已死，其禍不絕，遂使四海之大，百世之遠，盡飲其羽，飽其鋒，登其梯，入其甕。水旱不年有，而此無免時，蝗螟不歲見，而此無逃期。痛哉！痛哉！此最可痛哭流涕者也！其天道乎？抑人事耶？</p>
<p>玉楸子悲先聖之不作，後學之多悖，處滑靡波流之日，思以一簣障江河，垂簾著述，十載於茲矣。以為書者，庸工之法律，藥者，庸工之刀斧，千載大難，吾將解之。張睢陽曰：未識人倫，焉知天道。天道遠，人理近，始欲與之言人理，人理玄，物性昭，今且與之晰物性。恆有辯章百草之志，未遑也。</p>
<p>辛未秋，南浮江淮，客陽丘，默默不得意。癸酉仲春之初，東郊氣轉，北陸寒收，遂乃遠考《農經》，旁概百氏。近古以來，李時珍作《綱目》，蒐羅浩衍，援引該洽，備牛扁狗骨之木，列雞頭鴨腳之草，採神經怪牒以炫其奇，徵野史稗官以著其富，紀載博矣，而醜謬不經。嗟乎！未識人理，焉知物性，今欲與之言物性，仍兼與之晰人理。侍讀吳公駐馬相過，聞之惆然離席進曰：惟吾子刪其怪妄，歸於簡約，以復炎黃之舊，意亦可焉。玉楸子伏而唯曰：吾無從刪也。經傳炎帝，非盡曩文，錄出桐君，不皆昔義，下及餘子，更不曉事，秀盛苗穢，非種難鋤。悉剗爾類，利用大耕耳，乃取仲景方藥箋疏之，作《長沙藥解》。</p>
<p>停筆愴懷，中宵而嘆，公孫悼倍偏枯之藥以起死人，其藥不靈，何則？人已死也，然以治偏枯，則其藥靈。偏枯者，半死半生也，偏枯之人而使之不枯，是半死之人而使之不死也，則謂公孫悼之藥能起死人也可。今以起死人之藥而治偏枯，其藥亦不靈，非藥之不靈，人之不解也。</p>
<p>噫！前古聖人，嘗草木而作經，後古聖人，依感復而立法，欲以生人，而後世乃以之殺人，由其不解人理，不解物性也。玉楸子《長沙藥性》成，知其解者，旦暮遇之，斯拱而俟之耳。</p>
<p><u>乾隆十八年歲在癸酉二月昌邑黃元御撰</u></p>

<h1>後序</h1>
<p>《長沙藥解》者，黃氏述《傷寒》《金匱》方藥之旨而作也。</p>
<p>自神農嘗百草以治民疾，而醫學始興，故言藥性者以神農為主。而世傳《神農本草經》三卷，《漢志》不著錄，其言不類上古，又雜出後漢地名，陶宏景以為仲景、元化輩所記，而《傷寒論序》云：撰用《素問》《八十一難經》《陰陽大論》《胎臚藥錄》，而不及《本草經》，以其說按之，亦往往不合。蓋上古文字未興，多出口授傳，其學者乃編勒成書，受授既久，多所差謬，或間以己說，故其言雜而不能醇。魏晉以來，吳普、李當之、陶宏景皆有增益，各為撰述。唐宋諸臣，復屢事修纂，務為炫博，以求該備，於是異說橫出，破碎無紀。醫者無所宗尚，乃各出私智，人自為書，故宋元而後，醫有異學，藥有異性。明·李時珍作《本草綱目》，思以正之，而援據繁縟，輒未得其精要。蓋沿襲訛謬，數千百年，古籍淆亂，無所依據，而欲以一人心力拾掇而得之，斯固難矣。</p>
<p>余嘗以為學者生千載後，既不能具生知之性，通神明之德，以類萬物之情，僅據往籍，以得大概，而《本草》既訛，雜不可信，《素問》諸書，又不及方藥。惟仲景氏繼炎黃之業，作《傷寒》《金匱》，後世宗之，為方書之祖，其處方論藥，條理精密，有端緒可尋，又生當漢世，多得古說。然則今日而欲辨章百物，求神農黃帝之所傳者，舍仲景之書，其奚適焉？此即黃氏作書之意也。</p>
<p>余既刊《傷寒懸解》，乃復刊此，俾相輔以行，而述所知者序其後。至若排比方藥，以求其性，貫串大義，以達其用，探賾索隱，鉤深致遠，世有知者，自能鑑之，無事贅說爾。</p>
<p><u>陽湖張琦</u></p>

<h1>卷一</h1>
<p><u>甘草</u>　味甘，氣平，性緩，入足太陰脾、足陽明胃經。備沖和之正味，秉淳厚之良資，入金木兩家之界，歸水火二氣之間，培植中州，養育四旁，交媾精神之妙藥，調濟氣血之靈丹。</p>
<p>傷寒炙甘草湯，甘草四兩，桂枝三兩，生薑三兩，大棗十二枚，人參二兩，生地一斤，阿膠二兩，麻仁半升，麥冬半升。清酒七升，水八升，煮三升，去渣，入阿膠，消化，溫服一升，日三服。一名復脈湯。治少陽傷寒，脈結代，心動悸者。以少陽甲木化氣於相火，其經自頭走足，循胃口而下兩脅，病則經氣上逆，沖逼戊土，胃口填塞，礙厥陰風木升達之路，木鬱風作，是以心下悸動。其動在胃之大絡，虛里之分，正當心下。經絡壅塞，營血不得暢流，相火升炎，經絡漸而燥澀，是以經脈結代。相火上燔，必刑辛金，甲木上郁，必克戊土，土金俱負，則病轉陽明，而中氣傷矣。甲木之升，緣胃氣之逆，胃土之逆，緣中氣之虛。參、甘、大棗，益胃氣而補脾精，膠、地、麻仁，滋經脈而澤枯槁，薑、桂，行營血之瘀澀，麥冬清肺家之燥熱也。</p>
<p>甘草瀉心湯，甘草四兩，大棗十二枚，半夏半升，黃連一兩，黃芩三兩，乾薑三兩。治太陽傷寒中風，下後心下痞硬，乾嘔心煩，穀不化，腹中雷鳴下利者。以下後中氣虛寒，水穀不消，土木皆郁，升降倒行，脾陷而賊於乙木，則腹中雷鳴而下利，胃逆而賊於甲木，則心下痞硬而乾嘔。君相火炎，宮城不清，是以心煩。甘、薑、大棗，溫補中氣之虛寒，芩、連，清瀉上焦之煩熱，半夏降胃逆而止乾嘔也。</p>
<p>四逆湯，甘草二兩，乾薑一兩半，附子生，一枚。治太陰傷寒，脈沉腹脹，自利不渴者。以寒水侮土，肝脾俱陷，土被木賊，是以腹脹下利。附子溫補其腎水，薑、甘，溫補其脾土也。脾主四肢，脾土濕寒，不能溫養四肢，則手足厥冷。四肢溫暖為順，厥冷為逆，方以甘草而君姜附，所以溫中而回四肢之逆，故以四逆名焉。治少陰病，膈上有寒飲，乾嘔者。以其腎水上凌，火土俱敗，寒飲泛溢，胃逆作嘔。薑、甘、附子，溫補水土，而驅寒飲也。治厥陰病，汗出，外熱裡寒，厥冷下利，腹內拘急，四肢疼者。以寒水侮土，木鬱賊脾，微陽不歸，表裡疏泄。薑、甘、附子，溫補水土，以回陽氣也。</p>
<p>通脈四逆湯，甘草、乾薑各三兩，生附子一枚。治少陰病，下利清穀，手足厥逆，脈微欲絕者。以寒水侮土，木鬱賊脾，是以下利。脾陽頹敗，四肢失溫，是以厥逆。經氣虛微，是以脈微欲絕。薑、甘、附子，溫補裡氣，而益四肢之陽也。治厥陰病，下利清穀，裡寒外熱，汗出而厥者。以水土寒濕，木鬱賊脾，微陽不斂，表裡疏泄。薑、甘、附子，溫暖水土，以達木鬱也。</p>
<p>四逆散，甘草、枳實、柴胡、芍藥。等分，為末，飲服方寸匕。治少陰病，四逆者。以水寒木枯，郁生風燥，侵克脾土，中氣痞塞，不能四達。柴、芍，清其風木，甘草補其中氣，枳實瀉其痞滿也。</p>
<p>甘草乾薑湯，甘草四兩，乾薑二兩。治傷寒汗後，煩躁吐逆，手足厥冷者。以汗後火泄土敗，四肢失養，微陽離根，胃氣升逆。甘草、乾薑，補土溫中，以回升逆之陽也。</p>
<p>金匱甘草附子湯，甘草二兩，附子二枚，白朮二兩，桂枝四兩。治風濕相摶，骨節疼煩，汗出短氣，小便不利，惡風不欲去衣，或身微腫者。以水寒土濕，木鬱不能行水，濕阻關節，經絡不通，是以痛腫。濕蒸汗泄，衛陽不固，故惡風寒。朮、甘，補土燥濕，桂枝疏木通經，附子溫其水寒也。</p>
<p>甘草麻黃湯，甘草二兩，麻黃四兩。治里水，一身面目黃腫，小便不利者。以土濕不能行水，皮毛外閉，溲尿下阻，濕無去路，淫蒸肌膚，而發黃腫。甘草補其土，麻黃開皮毛而瀉水濕也。</p>
<p>傷寒調胃承氣湯，甘草二兩，大黃三兩，芒硝半斤。治太陽傷寒三日，發汗不解，蒸蒸發熱，屬陽明者。以寒閉皮毛，經郁發熱，汗出熱泄，病當自解，發汗不解，蒸蒸發熱者，此胃陽素盛，腑熱內作，將來陽明之大承氣證也。方其蒸蒸發熱之時，早以甘草保其中，硝、黃瀉其熱，胃氣調和，則異日之腑證不成也。</p>
<p>金匱白頭翁加甘草阿膠湯，白頭翁、黃連、黃柏、秦皮各三兩，甘草、阿膠各二兩。治產後下利虛極者。以產後亡血木燥，賊傷脾土，而病下利。白頭翁湯以清其濕熱，甘草補其脾土，阿膠潤其風木也。</p>
<p>傷寒甘草湯，生甘草二兩。治少陰病，二三日，咽痛者。少陰水旺，二火俱騰，上行清道，是以咽痛。生甘草瀉熱而消腫也。</p>
<p>甘草粉蜜湯，甘草二兩，鉛粉一兩，蜜四兩。水三升，煮甘草，取二升，入粉、蜜，煎如薄粥。治蛔蟲為病，吐涎心痛，發作有時者。以土弱氣滯，木鬱蟲化。甘草補土，白粉殺蟲，蜂蜜潤燥而清風，滑腸而下積也。</p>
<p>人之初生，先結祖氣，兩儀不分，四象未兆，混沌莫名，是曰先天。祖氣運動，左旋而化己土，右轉而化戊土，脾胃生焉。己土東昇，則化乙木，南升則化丁火，戊土西降，則化辛金，北降則化癸水，於是四象全而五行備。木溫、火熱、水寒、金涼，四象之氣也，木青、金白、水黑、火赤，四象之色也，木臊、水腐、金腥、火焦，四象之臭也，木酸、金辛、火苦、水咸，四象之味也，土得四氣之中，四色之正，四臭之和，四味之平。甘草氣色臭味，中正和平，有土德焉，故走中宮而入脾胃。</p>
<p>脾土溫升而化肝木，肝主藏血而脾為生血之本，胃土清降而化肺金，肺主藏氣而胃為化氣之源，氣血分宮，胥秉土氣。甘草體具五德，輔以血藥，則左行己土而入肝木，佐以氣藥，則右行戊土而入肺金。肝血溫升，則化神氣，肺金清降，則化精血，脾胃者，精神氣血之中皇，凡調劑氣血，交媾精神，非脾胃不能，非甘草不可也。</p>
<p>肝脾之病，善於下陷，入肝脾者，宜佐以升達之味，肺胃之病，善於上逆，入肺胃者，宜輔以降斂之品。嘔吐者，肺胃之上逆也，滯氣不能上宣，則痞悶於心胸，泄利者，肝脾之下陷也，滯氣不得下達，則脹滿於腹脅，悉緣於中氣之虛也。上逆者，養中補土，益以達鬱而升陷，則嘔吐與脹滿之家，未始不宜甘草，前人中滿與嘔家之忌甘草者，非通論也。</p>
<p>上行用頭，下行用梢，熟用甘溫培土須補虛，生用甘涼瀉火而消滿。凡咽喉疼痛及一切瘡瘍熱腫，並宜生甘草，瀉其鬱火。熟用，去皮，蜜炙。</p>
<p><u>白朮</u>　味甘、微苦，入足陽明胃、足太陰脾經。補中燥濕，止渴生津，最益脾精，大養胃氣，降濁陰而進飲食，善止嘔吐，升清陽而消水穀，能醫泄利。</p>
<p>金匱桂枝附子去桂加白朮湯，甘草二兩，大棗六枚，生薑兩半，附子一枚，白朮一兩。治風濕相摶，身體疼煩，大便堅，小便自利者。以汗出遇風，表閉汗回，流溢經絡關節，營衛郁阻，是以疼煩。若小便不利，此應桂枝加附子，暖水達木，以通水道，今大便堅，小便自利，則濕在表而不在裡，而水道過通，恐亡津液，故去桂枝之疏泄，加白朮以補津液也。</p>
<p>越婢加朮湯，麻黃六兩，石膏半斤，甘草二兩，生薑三兩，大棗十二枚，白朮四兩。治里水，一身面目黃腫，小便自利而渴者。以皮毛外閉，濕氣在經，不得泄路，鬱而生熱，濕熱淫蒸，是以一身面目黃腫。若小便不利，此應表裡滲瀉，以驅濕熱，今小便自利而渴，則濕兼在表，而不但在裡，便利亡津，是以發渴。甘草、薑、棗，補土和中，麻、膏，瀉經絡之濕熱，白朮補臟腑之津液也。</p>
<p>麻黃加朮湯，麻黃三兩，桂枝二兩，甘草一兩，杏仁七十枚，白朮四兩。治濕家身煩疼者。以濕鬱經絡，皮毛不泄，故身煩疼。麻黃湯泄皮毛以驅濕，恐汗去而津亡，故加白朮，以益津也。此即里水之證，小便不利者也。</p>
<p>理中丸，方在人參。治霍亂吐利。若臍下築者，腎氣動也，去朮，加桂四兩，去朮之滯，加桂枝益肝陽而伐腎陰也。吐多者，去朮，加生薑三兩，去朮之壅，加生薑降逆而止嘔吐也。腹滿者，去朮，加附子一枚，去朮之閉，加附子開瘀濁而消脹滿也。下多者，仍用術，以其固脫陷而止泄也。渴欲得水者，加朮足前成四兩半，以其生津液而去濕也。</p>
<p>白朮散，白朮、蜀椒、川芎、牡蠣等分。妊娠養胎。以胎妊之病，水寒土濕，木氣鬱結，而克脾土，則脾困不能養胎。白朮補土燥濕，蜀椒暖水斂火，芎藭疏乙木之郁，牡蠣消肝氣之結也。</p>
<p>脾以太陰而抱陽氣，故溫升而化木火，胃以陽明而含陰精，故清降而生金水，胃降則空虛而善容，是以食下而不嘔，脾升則磨蕩而善腐，是以谷消而不利。五行之性，火燥而水濕，太陰脾土，升自水分，因從水分而化濕，陽明胃土，降於火位，因從火位而化燥，太陰之濕濟陽明之燥，陽明之燥濟太陰之濕，燥濕調和，中氣輪旋，是以胃納脾消，吐利不作。</p>
<p>但太陰脾以濕土司令，陽明胃從燥金化氣，辛金己土，俱屬太陰，而辛金不如己土之濕，庚金戊土，俱屬陽明，而戊土不如庚金之燥，緣化於人，不敵主令於己者之旺也。人之衰也，火日虧而水日盛，燥日消而濕日長，濕則中氣凝郁，樞軸不運，升降反作，脾陷胃逆，脾陷則乙木不達，下克己土，水穀不消而為泄，胃逆則甲木失歸，上克戊土，飲食不納而為嘔。白朮補土燥濕，土燥而升降如前，是以吐泄兼醫。理中湯，方在人參。用之以治痞滿嘔泄，蓋與薑、甘、人參溫補中氣，轉其升降之軸，自復清濁之位也。其性守而不走，故於補虛固脫，獨擅其長，而於疏通宣導，則未能焉。若臍動腹滿諸證，非薑、桂、附子不能勝任矣。</p>
<p>凡去濕之品，每傷於燥，白朮氣味濃郁，汁漿淳厚，既養胃氣，亦補脾氣，最生津液，而止燥渴。仲景用之於桂枝、麻黃之內，汗去而津液不傷，至妙之法也。蓋濕淫之病，善傷津液。以土燥金清，則肺氣降灑，而化雨露，其露氣之氤氳而遊溢者，浸潤滑澤，是謂之津，津液滲灌，臟腑沾濡，是以不渴。濕則氣滯津凝，淫生痰涎，臟腑失滋，每生燥渴。津液無多，而再經汗泄，濕愈而燥傷矣。加白朮，去濕而養津，此除濕發汗之金繩也。</p>
<p>水火之交，其權在土。水化而為木火，由己土之左旋，火化而為金水，緣戊土之右轉，土者，水火之中氣也。中氣旺則戊土蟄封，陰降而抱陽，九地之下，常煦然而如春，己土升發，陽升而含陰，九天之上，常凜然而如秋。中氣衰則戊土逆升，失其封蟄之職，火飛而病上熱，己土順陷，乖其發達之政，水沉而病下寒，是以火熱水寒之病，必緣土敗。仲景治水，五苓、真武、附子，澤瀉諸方俱用白朮，所以培土而制水也。禹平水土，非土則水不可平，治天下之水者，莫如神禹，治一身之水者，莫如仲景，聖聖心符，天人不殊也。</p>
<p>白朮性頗壅滯，宜輔之以疏利之品。肺胃不開，加生薑、半夏以驅濁，肝脾不達，加砂仁、桂枝以宣郁，令其旋補而旋行，則美善而無弊矣。</p>
<p>產於潛者佳。選堅白肥鮮者，泔浸，切片，盤盛，隔布，上下鋪濕米，蒸至米爛，曬乾用。</p>
<p><u>人參</u>　味甘、微苦，入足陽明胃、足太陰脾經。入戊土而益胃氣，走己土而助脾陽，理中第一，止渴非常，通少陰之脈微欲絕，除太陰之腹滿而痛，久利亡血之要藥，盛暑傷氣之神丹。</p>
<p>金匱人參湯，人參、白朮、甘草、乾薑各三兩。即理中湯，治胸痹心痞，氣結在胸，胸滿，脅下逆搶心。以中氣虛寒，脾陷胃逆，戊土迫於甲木，則胸中痞結，己土逼於乙木，則脅下逆搶。甘草、白朮，培土而燥濕，薑、參，溫中而扶陽，所以轉升降之軸也。</p>
<p>理中丸，即人參湯四味作丸。治霍亂吐利，頭痛身疼，發熱惡寒。以夏月飲食寒冷，水穀未消，感冒風寒，皮毛外閉，宿食內阻，木氣不舒，鬱而剋土，胃氣壅遏，水穀莫容，胃逆則嘔，脾陷則利。參、朮、薑、甘，溫補中氣，所以撥上下之樞也。腹痛，加人參足前成四兩，以陽衰氣滯，土木逼迫，加人參補肝脾之陽，以消陰滯也。</p>
<p>四逆加人參湯，甘草二兩，乾薑二兩半，生附子一枚，人參一兩。治霍亂利止脈微。以泄利既多，風木不斂，亡血中之溫氣。四逆湯暖補水土，加人參以益血中之溫氣也。</p>
<p>傷寒通脈四逆湯，方在甘草。治少陰病，下利清穀，裡寒外熱，手足厥逆，脈微欲絕。利止脈不出者，加人參一兩，以利亡血中溫氣，故肢寒，脈微欲將斷絕，加人參補肝脾之陽，以充經脈也。</p>
<p>新加湯，桂枝三兩，甘草二兩，大棗十二枚，芍藥四兩，生薑四兩，人參三兩。治傷寒汗後身疼痛，脈沉遲者。以汗瀉血中溫氣，陽虛肝陷，故脈沉遲。經脈凝澀，風木鬱遏，故身疼痛。甘、棗、桂枝，補脾精而達肝氣，加芍藥清風木之燥，加生薑行血脈之瘀，加人參補肝脾之陽，以充經脈也。</p>
<p>白虎加人參湯，石膏一斤，知母六兩，甘草二兩，粳米六合，人參三兩。治傷寒汗後心煩，口渴舌燥，欲飲水數升，脈洪大者。以胃陽素盛，津液汗亡，腑熱未定，肺燥先動。白虎瀉熱清金，加人參以補汗亡之陽氣也。治太陽中暍，汗出惡風，身熱而渴者。以暑月感冒，風寒鬱其內熱，而傷元氣，熱盛而寒不能閉，是以汗出。白虎清金而瀉熱，加人參以益耗傷之陽也。</p>
<p>小柴胡湯，方在柴胡。治少陽傷寒，渴者，去半夏，加人參、栝蔞根，以津化於氣，氣熱故津傷而渴，人參、栝蔞根，清金而益氣也。</p>
<p>氣充於肺，而實原於腎，肺氣下降，而化腎水，水非氣也，而水實含肺氣。此氣在水，《難經》謂為生氣之原，道家名為水中氣。蓋陰陽之理，彼此互根，陰升而化陽，又懷陰精，陽降而化陰，又胎陽氣。陽氣一胎，己土左旋，升於東南，則化木火。脾以陰體而抱陽魂，非脾陽之春生，則木不溫，非脾陽之夏長，則火不熱，故肝脾雖盛於血，而血中之溫氣，實陽升火化之原也。及其升於火而降於金，則氣盛矣，是以肝脾之氣虛，肺胃之氣實。虛而實則肝脾升，實而虛則肺胃降。實而實則胃壅塞而不降，虛而虛則肝脾抑鬱而不升，而總由於中氣之不旺。</p>
<p>中氣居不戊不己之間，非金非木之際，旺則虛者，充實而左升，實者沖虛而右降，右不見其有餘，左不見其不足。中氣不旺，則輪樞莫轉，虛者益虛而左陷，實者益實而右逆。</p>
<p>人參氣質淳厚，直走黃庭，而補中氣。中氣健運，則升降復其原職，清濁歸其本位，上下之嘔泄皆止，心腹之痞脹俱消。仲景理中湯丸，用之以消痞痛而止嘔泄，握其中樞，以運四旁也。大建中湯、方見膠飴。大半夏湯、方見半夏。黃連湯方在黃連。諸方，皆用之治痞痛嘔利之證，全是建立中氣，以轉升降之機。由中氣以及四維，左而入肝，右而入肺，上而入心，下而入腎，無往不宜。但入心則宜涼，入腎則宜熱，入肺胃則宜清降，入肝脾則宜溫升，五臟自然之氣化，不可違也。</p>
<p>中氣者，經絡之根本，經絡者，中氣之枝葉，根本既茂，枝葉自榮，枝葉若萎，根本必枯。肝脾主營，肺胃主衛，皆中氣所變化也。凡沉、遲、微、細、弱、澀、結、代之診，雖是經氣之虛，而實緣中氣之敗，仲景四逆、新加、炙甘草，方在甘草。皆用人參，補中氣以充經絡也。</p>
<p>白朮止濕家之渴，人參止燥證之渴。白朮滲土金之濕，散濁氣而還清，清氣飄灑，真液自滴，人參潤金土之燥，蒸清氣而為霧，霧氣氤氳，甘露自零。至於盛暑傷氣之熱渴，大汗亡津之煩躁，加人參於白虎、清金之內，化氣生津，止渴滌煩，清補之妙，未可言喻。麥門冬湯、方在麥冬。竹葉石膏湯，方在竹葉。二方之用人參，清金補水之玉律也。</p>
<p>熟用溫潤，生用清潤。</p>
<p><u>大棗</u>　味甘、微苦、微辛、微酸、微咸，氣香，入足太陰脾、足陽明胃經。補太陰己土之精，化陽明戊土之氣，生津潤肺而除燥，養血滋肝而息風，療脾胃衰損，調經脈虛芤。</p>
<p>金匱十棗湯，甘遂、芫花、大戟等分為散，大棗十枚，煎服一錢匕。治中風表解，內有水氣，下利嘔逆，頭痛，心下痞硬滿，引脅下痛，汗出不惡寒者。以土敗不能制水，水邪氾濫，中氣鬱阻，肝脾下陷而為泄利，膽胃上逆而作嘔吐。戊土迫於甲木，是以心痞脅痛。相火升而衛泄，是以汗出。表證既解，故不惡寒。芫、遂、大戟，決其積水，大棗保其脾精也。</p>
<p>傷寒苓桂甘棗湯，方在茯苓。用之治傷寒汗後，臍下悸動，欲作奔豚，以汗瀉肝脾精氣，木枯風動，鬱勃衝擊，土敗而風木升騰，是為奔豚，大棗補脾精而滋風木也。金匱甘麥大棗湯方在小麥。用之治婦人臟燥，悲傷欲哭，以木枯風盛，肺津被耗，大棗補脾精而潤風燥也。</p>
<p>傷寒小柴胡湯，方在柴胡。治少陽傷寒，脅下痞硬者，去大棗，加牡蠣，咳者，去人參、大棗、生薑，加五味、乾薑，金匱黃耆建中湯，方在膠飴。治虛勞裡急，諸不足，腹滿者，去大棗，加茯苓一兩，以其補而不行，益滯而助壅也。</p>
<p>木宜直升，曲則作酸，金宜從降，革則作辛，水宜上行，潤下則咸，火宜下濟，炎上則苦。酸則木病，故宜辛散，辛則金病，故宜酸收，咸則水病，故宜苦溫，苦則心病，故宜鹹寒。金木不遂其性則病生，水火各遂其性則病作，治宜對宮之味，所以反逆而為順也。土居四象之中，得五味之和，五氣之正，不酸、不辛、不苦、不咸，其味曰甘，不腥、不臊、不焦、不腐，其氣曰香。味為陰而氣為陽，陽性動而陰性靜，以其味甘，則陰靜而降，以其氣香，則陽動而升，升則己土左旋而水木不陷，降則戊土右轉而火金不逆。四象之病而生四味者，土氣之弱也。</p>
<p>大棗純和凝重，具土德之全，氣味甘香，直走中宮，而入脾胃，其甘宜胃，其香宜脾。而香甘之外，則四象之味俱備，其辛宜肝，其酸宜肺，其苦宜腎，其咸宜心。補中宮而養諸子，既左右之咸宜，亦四達而不悖，真天下之佳果，人間之良藥。</p>
<p>其味濃而質厚，則長於補血而短於補氣。人參之補土，補氣以生血也，大棗之補土，補血以化氣也，是以偏入己土，補脾精而養肝血。凡內傷肝脾之病，土虛木燥，風動血耗者，非此不可，而尤宜於外感發表之際。</p>
<p>蓋汗血一也，肺主衛氣而司皮毛，肝主營血而司經絡，營行脈中，為衛之根，衛行脈外，為營之葉，非衛則營不生，非營則衛不化，醞於衛而藏於營，則為血，釀於營而泄於衛，則為汗，雖異名而實同出，故曰奪汗者勿血，奪血者勿汗。太陽中風，衛氣外斂，營鬱而生內熱，義詳桂枝、麻黃。桂枝湯方在桂枝。開經絡而瀉營郁，不以大棗補其營陰，則汗出血亡，外感去而內傷來矣，故仲景於中風桂枝諸方皆用之，補瀉並行之法也。十棗湯、葶藶大棗數方，悉是此意。惟傷寒營閉衛郁，義在瀉衛，不在瀉營，故麻黃湯方在麻黃。不用也。其甘多而香少，則動少而靜多，與薑桂同用，調其凝重之氣，使之遊溢於臟腑，灑陳於經絡，以精專之體，改而為流利之性，此先聖之化裁也。</p>
<p>桂枝為內外感傷之原，遇沉、遲、結、代之脈，一變而為新加，再變而為炙甘草，（方在甘草）。總不離桂枝之法。而當歸四逆方在當歸。治厥陰脈微欲絕，則倍用大棗以滋肝血，方用大棗二十五枚。擴桂枝之義以宏大棗之功，而大棗之能事始盡。其偉績殊效，備見於仲景諸方矣。</p>
<p>新制大棗法：選堅實肥大者，煮去苦水，換水煮爛，去皮核，淨肉半斤，加生薑汁八兩，入原湯煮化，連汁曬乾。</p>
<p><u>膠飴</u>　味甘，入足太陰脾、足陽明胃經。功專扶土，力可建中，入太陰而補脾精，走陽明而化胃氣，生津潤辛金之燥，養血滋乙木之風，善緩裡急，最止腹痛。</p>
<p>傷寒小建中湯，膠飴一升，芍藥六兩，桂枝、甘草、生薑各三兩，大棗十二枚。治少陽傷寒，陽脈澀，陰脈弦，寸為陽，尺為陰。法當腹中急痛者。以甲乙二木，表裡同氣，甲木不降，則陽脈澀，乙木不升，則陰脈弦。甲木不降，必克戊土，法當痛見於胸脅，乙木不升，必克己土，法當痛見於腹脅。木氣枯硬，是以其痛迫急。少陽膽從相火化氣，厥陰肝以風木主令，肝膽合邪，風火鬱生，中氣被賊，勢在迫急。膠飴、甘草，補脾精而緩裡急，薑、桂、芍藥，達木鬱而清風火也。治少陽傷寒，心中悸而煩者。以病傳少陽，相火鬱隆，不可發汗，汗亡少陽之津，木枯土弱，必傳陽明，五行之理，病則傳其所勝也。胃氣調和則病愈，胃土堙鬱而不和，其心中必生煩悸。蓋少陽甲木，化氣於相火，而下交癸水者，戊土培之也。汗瀉中脘之陽，土弱胃逆，不能降蟄相火，相火飛騰，升炎於上，心液消爍，故生郁煩。膽胃上壅，阻礙厥陰升降之路，是以動悸。以枯木而賊弱土，燥熱鬱生，傷耗胃脘之精液，則中宮敗矣。膠飴、甘草、大棗，補脾而生胃液，薑、桂、芍藥，疏木而清相火也。小建中證，即炙甘草證之輕者，煩悸不已，必至經脈結代。《金匱》治虛勞裡急腹痛，悸衄，夢而失精，四肢痠痛，手足煩熱，咽乾口燥者。以中氣衰弱，凝郁莫運，甲木不降，累及厥陰，升路郁阻，而生動悸，相火刑金，收令不行，而生吐衄。肺津消爍，則咽乾口燥。乙木不升，生氣莫遂，賊傷己土，則腹痛裡急。木鬱風動，疏泄不藏，則夢而失精。手之三陽，足之三陰，陷而不升，則手足煩熱，而肢節疼痛。膠飴、甘、棗，補土養精而緩裡急，薑、桂、芍藥，疏木達鬱而清風也。</p>
<p>金匱大建中湯，膠飴一升，人參一兩，乾薑四兩，蜀椒二合。治心胸中，大寒痛，嘔不能飲食，腹中寒氣，上衝皮起，頭足出現，上下走痛，而不可觸近。以火虛土弱，水邪無畏，中侮脾胃，上凌心火，火土雙敗，中上寒甚，嘔痛齊作，飲食俱廢。飴、參，培土而建中，乾薑、蜀椒，補火而溫寒也。</p>
<p>黃耆建中湯，黃耆兩半，膠飴一升，芍藥六兩，桂枝三兩，甘草二兩，生薑三兩，大棗十二枚。治虛勞裡急，諸不足。虛勞之病，土敗木遏，郁槁不榮，《素問》語。是以裡急。生氣失政，緣於陽虛。膠飴、甘、棗，補脾精而緩裡急，薑、桂、芍藥，疏木鬱而清風燥，黃耆補衛陽而生營陰也。</p>
<p>乙木生於癸水而植於己土，甲木生於壬水而培於戊土，中氣旺則戊土右降而甲木不逆，己土左升而乙木不陷，乙木直升，故腹脅松暢而不滿急，甲木順降，故胸脅沖和而不痞硬。中氣頹敗，不能四運，甲木上逆而賊戊土，乙木下陷而賊己土，土木逼迫，則痞硬滿急，疼痛驚悸，吐衄遺泄，乾燥煩熱之病生焉。總以根本失養，枝幹不榮，故變和緩而為急切，作盜賊以犯中原也。風木相火，郁生燥熱，內耗脾胃之精液，外爍肝膽之精血，久而生意枯槁，中氣亡敗，則性命傾矣。膠飴溫潤淳濃，補脾精而養肝血，緩急切而潤風燥，是以建中三方皆用之，以補中而緩急。</p>
<p>蓋中氣者，交濟水火之樞，升降金木之軸，中氣健旺，樞軸輪轉，水木升而火金降，寒熱易位，精神互根，自然邪去而正復，是強中御外之良規也。審其木燥而用芍藥，水寒則用椒姜，氣弱則加黃耆，血虛則加當歸，解此四法，膠飴之用，備建中立極之妙矣。</p>
<p><u>粳米</u>　味甘，入足太陰脾、足陽明胃、手太陰肺經。入太陰而補脾精，走陽明而化胃氣，培土和中，分清泌濁，生津而止渴燥，利水而通熱澀。</p>
<p>金匱附子粳米湯，附子一枚，粳米半升，半夏半升，甘草一兩，大棗十枚。治腹中寒氣，雷鳴切痛，胸脅逆滿，嘔吐。以火虛土敗，水寒木鬱，肝木克脾，故腹中雷鳴而為切痛，膽木克胃，故胸脅逆滿而作嘔吐。粳米、甘、棗，補土和中，附子驅下焦之濕寒，半夏降上脘之沖逆也。</p>
<p>傷寒桃花湯，方在赤石脂。用之治少陰病，腹痛下利，小便不利，便膿血者，以土濕水寒，木鬱血陷，粳米補土而和中，利水而瀉濕也。</p>
<p>人之中氣衝和，升降不反，則清陽弗陷而濁陰弗逆，中氣虧損，升降倒行，清氣下陷，痛墜而泄利，濁氣上逆，痛滿而嘔吐，則沖和之地，變而為急迫之場矣。物之沖和，莫如谷合氣，粳米得穀氣之完，《素問》：稻米者完。最補中焦，而理清濁，附子粳米湯以此和平厚重之氣助其中宮，桃花湯以此和煦發達之氣益其中脘。中旺則癸水將退，而後乾薑奏其回陽之效，己土將復，而後石脂成其固脫之功，陰邪欲遁，而後附子展其破寒之能，胃氣欲平，而後半夏施其降逆之力。若非粳米握其中權，雖以半夏、附子之長於降濁，何足恃其前茅，乾薑、石脂之善於升清，安得逞其後勁。常山率然，但有首尾，未能如此呼應之靈也。</p>
<p>飲食入腹，是變精氣，穀氣化精，歸於肝脾，穀精化氣，歸於肺胃。物之潤澤，莫過於氣，氣清而化津水，津旺則金潤，水利則土燥。水愈利則土愈燥而氣愈清，氣愈清則津愈旺而水愈利，故止渴之法，機在益氣而清金，清金之法，機在利水而燥土，以土燥則清氣飄灑，津液流布，臟腑被澤，是以不渴，土濕則濁氣湮鬱，痰涎凝結，臟腑失滋，是以渴也。粳米清液淳濃，最能化氣生津，清金止渴，長於利水而燥土。白虎湯方在石膏。用之治傷寒表解之熱渴，石膏、知母，清金而化水，粳米益氣而生津也。人參白虎湯方在人參。用之治傷寒汗後之燥渴，石膏、知母，清金而化水，粳米、人參，益氣而生津也。竹葉石膏湯方在竹葉。用之治大病差後，虛羸少氣，氣逆欲吐，麥冬、石膏，清金而化水，粳米、人參，益氣而生津也。麥門冬湯方在麥冬。用之治咳嗽，火逆上氣，咽喉不利，麥冬清金而化水，粳米、人參，益氣而生津也。</p>
<p>蓋非氣則津不化，非津則水不生，譬之水沸而氣騰焉，氣上之熏澤而滋潤者，津也，氣下之泛灑而滴瀝者，水也。使無粳米、人參益氣生津之藥，徒以知、膏、麥冬清金化水之品，求其止渴，斷乎不能！人之夏熱飲水，腸鳴腹脹而燥渴不止者，水不化氣故也。</p>
<p><u>薏苡</u>　味甘，氣香，入足太陰脾、足陽明胃經。燥土清金，利水瀉濕，補己土之精，化戊土之氣，潤辛金之燥渴，通壬水之淋瀝，最瀉經絡風濕，善開胸膈痹痛。</p>
<p>金匱薏苡附子散，薏苡十五兩，附子十枚。杵為散，服方寸匕。治胸痹緩急者。以水土濕寒，濁陰上逆，清氣鬱阻，胸膈閉塞。證有緩急不同，而總屬濕寒。薏仁瀉濕而降濁，附子驅寒而破壅也。</p>
<p>薏苡附子敗醬散，薏苡十分，附子二分，敗醬五分。杵為散，煎服方寸匕。小便當下。治腸癰，身甲錯，腹皮急，按之濡，如腫狀，腹無積聚，身無熱，脈數。以寒邪在腹，膏血凝澀，堙郁臭敗，腐而為膿。腸氣壅遏，故腹皮脹急，而狀如腫滿。凝瘀腐化，故腹無積聚，而按之軟塌。血敗不華肌腠，故皮膚甲錯，而失滑澤。衛阻而非表邪，故經脈數疾，而無外熱。附子破其寒鬱，敗醬行其膿血，薏苡瀉濕而開水竅也。敗醬能化膿為水，水竅既開，故自小便下。</p>
<p>水非氣清則不利，氣非土燥則不清，土非水利則不燥。欲燥其土，必利其水，欲利其水，必清其氣，欲清其氣，必燥其土。土居氣水之交，握其生化之權，而司其清濁之任者也。薏苡一物而三善備焉，上以清氣而利水，下以利水而燥土，中以燥土而清氣。</p>
<p>蓋氣化於精而水化於氣，薏苡精液濃厚，化氣最清，氣秉清肅，化水最捷。以清肅之氣而行降灑之令，千支萬派，盡赴溪壑，水注川瀆而大澤不涸，則土處沃衍而神洲不沉，濕消而氣爽，露零而木榮矣。麻杏薏苡甘草湯方在麻黃。以治風濕之病，推之凡筋攣骨痛、水脹氣鼓、肺癰腸疽、消渴淋痛之類，無不因濕，則薏苡之治效，固當不一而足也。</p>
<p>百病之來，濕居十九，悉緣於太陰脾土之陽衰也。瀉濕而燥土者，未必益氣清金，而利水者，未必補中，能清能燥，兼補兼瀉，具抑陰扶陽之力，擅去濁還清之長，未可得於凡草常木之中也。</p>
<p><u>小麥</u>　味甘、微苦，《素問》：肺色白，宜食苦，麥、羊肉、杏、薤皆苦。小麥是手太陰藥。入足太陰脾、足陽明胃、手太陰肺經。潤辛金之枯燥，通壬水之淋澀，能清煩渴，善止悲傷。</p>
<p>金匱甘麥大棗湯，甘草三兩，小麥一升，大棗十枚。治婦人臟燥，悲傷欲哭，數欠伸者。以厥陰風木之氣，最耗精血，風動而傷肺津，金燥則悲傷欲哭。五臟之志，在肺為悲，在腎為恐，五臟之聲，在肺為哭。蓋肺金燥降，則化腎水，物情喜升而惡降，升則得意而為喜，降則失意而為恐，悲者，恐之先機也。陽氣將降，則生欠伸，欠伸者，陰引而下，陽引而上，未能即降也。義詳《靈樞·口問》。甘草培土，大棗滋乙木而息風，小麥潤辛金而除燥也。此與消渴，俱厥陰病。</p>
<p>小麥粥生津止渴，除煩瀉熱，白朮散方在白朮。用之治心煩作嘔，以其清心而除煩也。枳實芍藥散方在枳實。用之治癰膿，以其瀉熱而除濕也。</p>
<p><u>大麥</u>　味甘、酸，性滑，入足陽明胃、手太陰肺經。利水消疸，止渴生津。</p>
<p>金匱硝礬散方在硝石。用之治女勞黑疸，以其利水而瀉濕也。白朮散方在白朮。用之治妊娠作渴，以其潤肺而生津也。</p>
<p>大麥粥利水瀉濕，生津滑燥，化谷消脹，下氣寬胸，消中有補者也。</p>
<p><u>神麯</u>　味辛、甘，入足太陰脾經。化谷消痰，瀉滿除症。</p>
<p>金匱薯蕷丸方在薯蕷。用之治虛勞百病，以其調中而消滯也。</p>
<p>神麯辛烈之性，化宿谷停痰，磨硬塊堅積，療脹滿泄利，化產後瘀血。</p>
<p>炒，研用。</p>
<p><u>吳茱萸</u>　味辛、苦，性溫，入足陽明胃、足太陰脾、足厥陰肝經。溫中瀉濕，開鬱破凝，降濁陰而止嘔吐，升清陽而斷泄利。</p>
<p>傷寒吳茱萸湯，吳茱萸一升，人參三兩，生薑六兩，大棗十二枚。治陽明傷寒，食谷欲嘔者。胃氣順降，則納而不嘔，胃氣逆升，則嘔而不納。人參、大棗，培土而補中，吳茱萸、生薑，溫胃而降逆也。治厥陰病，乾嘔，吐涎沫，頭痛者。以土虛木鬱，中氣被賊，胃逆不降，濁氣上衝，是以頭痛乾嘔。濕氣凝瘀，是以常吐涎沫。人參、大棗，培土而補中，茱萸、生薑，降逆而疏木也。治少陰病，吐利，手足厥冷，煩躁欲死者。以寒水侮土，脾陷胃逆，則吐利兼作。中氣虧敗，四肢失溫，則手足厥冷。坎陽離根，散越無歸，則煩躁欲死。人參、大棗，培土而補中，茱萸、生薑，降逆而升陷也。《金匱》治嘔而胸滿者。以中虛胃逆，濁氣衝塞，故嘔而胸滿。人參、大棗，培土而補中，茱萸、生薑，降逆而瀉滿也。</p>
<p>傷寒當歸四逆加吳茱萸生薑湯，當歸、芍藥、桂枝、通草各三兩，細辛、甘草各二兩，大棗十五枚，吳茱萸一升，生薑半斤。水六升，清酒六升，合煮，分三服。治厥陰病，手足厥冷，脈細欲絕，內有久寒者。以土主四肢，而手足之溫暖，經脈之充暢者，賴厥陰乙木之力，以乙木性溫，藏營血而孕君火，灌經絡而主肢節也。積寒內瘀，肝血冷澀，不能四運，故肢寒而脈細。當歸四逆補營血而通經脈，茱萸、生薑，溫寒凝而行陰滯也。</p>
<p>金匱溫經湯，當歸、阿膠、芍藥、川芎、桂枝、丹皮、人參、甘草、乾薑各二兩，半夏、麥冬各一升，吳茱萸三兩。水一斗，煮三升，分溫三服。亦主婦人少腹寒，久不受胎。兼崩中去血，或月水來過多，或至期不來。治婦人帶下，下利不止，暮即發熱，腹滿裡急，掌熱口乾。以曾半產，瘀血在腹，阻隔清陽升達之路，肝脾郁陷，故腹滿裡急。風木疏泄，故帶下泄利。君火上逆，故手掌煩熱，唇口乾燥。暮而陽氣不藏，是以發熱。歸、阿、芍藥，養血而清風，丹、桂、芎藭，破瘀而疏木，半夏、麥冬，降逆而潤燥，甘草、人參，補中而培土，茱萸、乾薑，暖肝而溫經也。</p>
<p>吳茱萸辛燥之性，瀉濕驅寒，溫中行滯，降胃逆而止嘔吐，升脾陷而除泄利，瀉胸膈痞滿，消腳膝腫痛，化寒痰冷飲，去噯腐吞酸，逐經脈關節一切冷痹，平心腹胸首各種寒痛，熨脅腹諸症，殺臟腑諸蟲，醫霍亂轉筋，療疝氣痛墜。熱水洗數次用。</p>
<p><u>蜀椒</u>　味辛，性溫，入足陽明胃、足厥陰肝、足少陰腎、足太陰脾經。暖中宮而溫命門，驅寒濕而止疼痛，最治嘔吐，善醫泄利。</p>
<p>金匱大建中湯方在膠飴。用之治心腹寒疼，以寒水而凌火土，蜀椒勝寒水而補火土也。烏頭赤石脂丸方在烏頭。用之治心痛徹背，背痛徹心，以腎邪而賊心君，蜀椒益君火而逐陰邪也。升麻鱉甲湯方在鱉甲。用之治陽毒，咽喉痛，吐膿血，以表邪而鬱肝火，蜀椒開腠理而瀉毒汁也。王不留行散方在王不留行。用之治病金瘡，以血亡而瀉溫氣，蜀椒溫肝脾而暖血海也。傷寒烏梅丸方在烏梅。用之治厥陰蛔厥，以蛔避寒濕，而居膈上，蜀椒溫寒而驅蛔蟲也。《金匱》白朮散（方在白朮）用之養妊娠胎氣，以胎遇寒濕，則傷殞墜，蜀椒燥濕土而溫寒水也。</p>
<p>蜀椒辛溫下行，降沖逆而驅寒濕，暖水土而溫中下，消宿食停飲，化石水堅症，開胸膈痹結，除心腹寒疼，止嘔吐泄利，療黃疸水腫，堅齒髮，暖腰膝，開腠理，通關節，行血脈，除腫痛，縮小便，下乳汁，破瘀血，殺蛔蟲。</p>
<p>去目及閉口者，炒去汗用。</p>
<p>椒目瀉水消滿，金匱己椒藶黃丸方在防己。用之治腸間有水氣，腹滿者，以其瀉水而消脹也。</p>
<p>椒目下氣，善治耳鳴盜汗。</p>
<p><u>乾薑</u>　味辛，性溫，入足陽明胃、足太陰脾、足厥陰肝、手太陰肺經。燥濕溫中，行郁降濁，補益火土，消納飲食，暖脾胃而溫手足，調陰陽而定嘔吐，下衝逆而平咳嗽，提脫陷而止滑泄。真武湯加減：下利者，去芍藥，加乾薑。</p>
<p>傷寒乾薑附子湯，乾薑一兩，生附子一枚。治太陽傷寒，下後復汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，脈沉，無表證，身無大熱者。以火土俱敗，寒水下旺，微陽拔根，不得寧宇。乾薑溫中以回脾胃之陽，附子暖下以復肝腎之陽也。</p>
<p>柴胡桂薑湯，柴胡半斤，黃芩三兩，甘草二兩，桂枝三兩，栝蔞根四兩，乾薑三兩。治少陽傷寒，汗後復下，胸脅滿結，小便不利，渴而不嘔，但頭汗出，心煩，往來寒熱。以汗下傷其中氣，土敗木鬱，不能行水，故小便不利。膽胃上逆，經氣纏迫，故胸脅滿結。相火升炎，發為煩渴。而表病未解，故往來寒熱。柴胡疏甲木之滯，桂枝達乙木之郁，牡蠣消胸脅之滿結，栝蔞潤心肺之煩躁，薑、甘，溫中而補土也。</p>
<p>乾薑芩連人參湯，乾薑、人參、黃芩、黃連各三兩。治厥陰病，本自寒下，醫復吐下之，寒格，更逆吐下。以中氣虛寒，脾陷為利，相火升炎，而生上熱。芩、連，清瀉君相以除煩熱，參、姜，溫補脾胃以止吐利也。</p>
<p>金匱姜甘苓朮湯，乾薑、甘草各二兩，茯苓、白朮各四兩。治腎著，身重腹重，腰中冷痛，如坐水中，小便自利，飲食如故。以身勞汗出，衣里冷濕，浸淫經絡，以犯腎臟，腎位於腰，故腰中冷痛。苓、術，利水而泄濕，薑、甘，溫中而培土也。</p>
<p>傷寒甘草乾薑湯，方在甘草。治傷寒汗後，煩躁吐逆，金匱桂枝人參湯，方在人參。治胸痹心痞，脅下逆搶心，理中丸，方在人參。治霍亂吐利，傷寒甘草瀉心湯，方在半夏。治傷寒下後，心下痞硬，乾嘔心煩，雷鳴下利，半夏瀉心湯，方在半夏。治少陽下後，心下痞滿，黃連湯，方在黃連。治太陰腹痛，欲作嘔吐，桃花湯，方在粳米。治少陰腹痛，下利膿血，金匱大建中湯，方在膠飴。治心胸寒痛，嘔不能食，膠薑湯，方在阿膠。治婦人陷經，漏下黑色，溫經湯，方在茱萸。治婦人帶下，下利不止，皆用之，以溫脾胃而止嘔吐也。</p>
<p>桂苓五味甘草去桂加乾薑細辛湯，茯苓四兩，五味半升，甘草、乾薑、細辛各三兩。治痰飲，咳逆胸滿，以中虛胃逆，肺氣鬱阻，是以咳滿，薑、辛，破壅而降逆也。</p>
<p>傷寒小柴胡湯，方在柴胡。治少陽傷寒，咳者，去人參、大棗、生薑。加五味、乾薑，四逆湯，方在甘草。治少陰病，四逆腹痛，咳者加五味、乾薑，真武湯，方在茯苓。治少陰病，腹痛下利，咳者，加五味、辛、薑、薑、辛、五味，善下氣逆，而治咳滿。小青龍湯，方在麻黃。治傷寒，心下有水氣，乾嘔，發熱而咳，厚朴麻黃湯，方在厚朴。治咳而脈浮者，皆用之，以其下衝而降逆也。</p>
<p>火性炎上，有戊土以降之，則離陰下達而不上炎，水性潤下，有己土以升之，則坎陽上達而不下潤。戊己旋轉，坎離交互，故上非亢陽而不至病熱，下非孤陰而不至病寒。中氣既衰，升降失職，於是水自潤下而病寒，火自炎上而病熱。戊土不降，逆於火位，遂化火而為熱，己土不升，陷於水位，遂化水而為寒，則水火分離，戊土燥熱而己土濕寒者，其常也。而戊土之燥熱，究不勝己土之濕寒，蓋水能勝火，則寒能勝熱，是以十人之病，九患寒濕而不止也。乾薑燥熱之性，甚與濕寒相宜，而健運之力，又能助其推遷，復其旋轉之舊。蓋寒則凝而溫則轉，是以降逆升陷之功，兩盡其妙。仲景理中用之，迴旋上下之機，全在於此，故善醫泄利而調霍亂。凡咳逆齁喘、食宿飲停、氣膨水脹、反胃噎膈之倫，非重用姜苓，無能為功。諸升降清濁、轉移寒熱、調養脾胃、消納水穀之藥，無以易此也。</p>
<p>五臟之性，金逆則生上熱，木陷則生下熱。吐衄嘔噦、咳嗽喘促之證，不無上熱，崩漏帶濁、淋澀泄利之條，不無下熱，而得乾薑，則金降木升，上下之熱俱退，以金逆而木陷者，原於中宮之濕寒也。乾薑溫中散寒，運其輪轂，自能復升降之常，而不至於助邪。其上下之邪盛者，稍助以清金潤木之品，亦自並行而不悖。若不知溫中，而但清上下，則愈清愈熱，非死不止！此庸工之遺毒，而千載之奇冤，不可不辨也。</p>
<p>血藏於肝而原於脾，乾薑調肝暢脾，暖血溫經，凡女子經行腹痛，陷漏紫黑，失妊傷胎，久不產育者，皆緣肝脾之陽虛，血海之寒凝也，悉宜乾薑，補溫氣而暖血海。</p>
<p>溫中略炒用，勿令焦黑。</p>
<p><u>生薑</u>　味辛，性溫，入足陽明胃、足太陰脾、足厥陰肝、手太陰肺經。降逆止嘔，瀉滿開鬱，入肺胃而驅濁，走肝脾而行滯，蕩胸中之瘀滿，排胃裡之壅遏，善通鼻塞，最止腹痛，調和臟腑，宣達營衛，行經之要品，發表之良藥。</p>
<p>傷寒生薑瀉心湯，生薑四兩，人參三兩，甘草三兩，大棗十二枚，乾薑一兩，半夏半升，黃芩三兩，黃連一兩。治太陽傷寒，汗出表解，胃中不和，乾噫食臭，心下痞硬，脅下有水氣，腹中雷鳴下利者。以汗後中氣虛寒，水穀不消，胃逆脾陷，土木皆郁，脾陷而賊於乙木，則腹中雷鳴而下利，胃逆而迫於甲木，則心下痞硬而噫臭。甲木化氣於相火，君相皆升，必生上熱。參、甘、薑、棗，溫補中氣之虛寒，黃連、黃芩，清瀉上焦之鬱熱，半夏、生薑，降濁氣之沖逆，消痞硬而止噦噫也。</p>
<p>黃芩加半夏生薑湯，方在半夏。治太陽少陽合病，下利而作嘔者。黃芩湯，方在黃芩。治太少之下利，加半夏、生薑，降胃逆而止嘔也。</p>
<p>金匱生薑半夏湯，生薑一斤，半夏半升。治病人胸中似喘非喘，似嘔非嘔，似噦非噦，心中潰潰然無奈者。以肺胃土逆，濁氣熏沖，胸膈郁煩，不可名狀。生薑、半夏，降逆氣而掃瘀濁也。</p>
<p>傷寒真武湯，方在茯苓。治少陰病，腹痛下利，嘔者，去附子，加生薑足前成半斤，通脈四逆湯，方在甘草。治少陰病，下利清穀，脈微欲絕，嘔者，加生薑二兩，傷寒理中丸，方在人參。治霍亂吐利，吐多者，去朮，加生薑二兩，以中郁胃逆，故作嘔吐，生薑降胃逆而豁郁濁，善止嘔吐也。</p>
<p>傷寒當歸四逆加吳茱萸生薑湯，方在吳茱萸。治厥陰傷寒，手足厥冷，脈細欲絕，內有久寒者。以肝司營血，久寒在肝，營血冷澀不行。當歸四逆補營血而通經脈，吳茱萸、生薑，溫寒凝而行瘀澀也。</p>
<p>新加湯，方在人參。治傷寒汗後，身疼痛，脈沉遲者，桂枝湯加人參三兩，芍藥、生薑各一兩，以經絡寒澀，生薑溫血海而行經脈也。</p>
<p>金匱當歸生薑羊肉湯，方在當歸。治寒疝，腹脅痛，裡急，併產後腹痛，寒多者，加生薑一斤，厚朴七物湯，方在厚朴。治腹滿痛，寒多者，加生薑半斤，生薑溫中寒而止腹痛力遜乾薑，然亦有良效也。</p>
<p>人身之氣，清陽左升於肝脾，濁陰右降於肺胃，胃上衝和，氣化右轉，則辛金清降，息息歸根，壬水順行，滴滴歸源，霧露灑陳，津液流布，下趣溪壑，川瀆注瀉，是以下不虛空而上不壅滿。肺胃不降，則氣水俱逆，下之膀胱癃閉，溲尿不行，上之胸膈堙塞，津液不布，於是痰飲喘嗽，噁心嘔噦之病生焉。生薑疏利通達，下行肺胃而降濁陰，善止嘔噦而掃瘀腐，清宮除道之力，最為迅捷。緣肺胃主收，收令不旺，則逆行而病堙塞，生薑開蕩堙塞，復其收令之常，故反逆而為順也。本為瀉肺之品，瀉其實而不至損其虛，循良之性，尤可貴焉。</p>
<p>氣盛於肺胃而實本於肝脾，血中之溫氣，肺氣之根也。陽氣初生於乙木之中，未及茂長，是以肝脾之氣易病抑鬱。生薑辛散之性，善達肝脾之郁，大棗氣質醇濃，最補肝脾，而壅滿不運，得生薑以調之，則精液遊溢，補而不滯。桂枝湯方在桂枝。用之於甘棗桂芍之中，既以和中，又以發表。凡經絡凝澀，沉遲結代，宜於補益營衛之品加生薑以播宣之，則流利無阻。炙甘草、新加湯、當歸四逆湯皆用之，以溫行經絡之瘀澀也。</p>
<p><u>半夏</u>　味辛，氣平，入手太陰肺、足陽明胃經。下衝逆而除咳嗽，降濁陰而止嘔吐，排決水飲，清滌涎沫，開胸膈脹塞，消咽喉腫痛，平頭上之眩暈，瀉心下之痞滿，善調反胃，妙安驚悸。</p>
<p>傷寒半夏瀉心湯，半夏半升，人參、甘草、乾薑、黃芩、黃連各三兩，大棗十二枚。治少陽傷寒，下後心下痞滿而不痛者。以中氣虛寒，胃土上逆，迫於甲木，經氣結澀，是以作痞。少陽之經，循胃口而下脅肋，隨陽明而下行，胃逆則膽無降路，故與胃氣並鬱於心脅，甲木化氣於相火，君相同氣，胃逆而君相皆騰，則生上熱。參、甘、薑、棗，溫補中脘之虛寒，黃芩、黃連，清瀉上焦之鬱熱，半夏降胃氣而消痞滿也。《金匱》治嘔而腸鳴，心下痞者。中氣虛寒則腸鳴，胃氣上逆則嘔吐也。</p>
<p>金匱大半夏湯，半夏二升，人參三兩，白蜜一斤。水一斗二升，和蜜揚之二百四十遍，煮，分三服。治胃反嘔吐者。以脾陽虛敗，水穀不消，而土木鬱陷，下竅堵塞，是以不為泄利，而為嘔吐。胃以下行為順，反而逆行，故名胃反。人參補中脘之陽，建其樞軸，白蜜潤下竅之結澀，半夏降上逆之胃氣也。</p>
<p>傷寒黃芩加半夏生薑湯，黃芩三兩，芍藥二兩，甘草二兩，大棗十二枚，半夏半升，生薑三兩。治太陽少陽合病下利而作嘔者；黃芩湯，方在黃芩。治太少之下利，加半夏、生薑，降胃逆而止嘔也。</p>
<p>葛根加半夏湯，葛根四兩，麻黃三兩，桂枝二兩，甘草二兩，芍藥二兩，生薑三兩，大棗十二枚，半夏半升。治太陽陽明合病，不下利，但嘔者。以陽明為少陽膽木所逼，水穀莫容，已消而在下脘則為利，未消而在上脘則為嘔。半夏降胃逆而止嘔也。</p>
<p>金匱半夏乾薑散，半夏、乾薑等分，為散，漿水服方寸匕。治乾嘔，吐逆，吐涎沫。以中寒胃逆，濁陰沖塞，肺氣堙郁，淫蒸涎沫。乾薑溫中而下衝氣，半夏降逆而蕩瘀濁也。</p>
<p>小半夏湯，半夏一升，生薑一斤。治心下有支飲，嘔而不渴者。以飲居心下，阻隔胃氣，故胃逆作嘔，而不覺燥渴。半夏、生薑，降逆氣而排水飲也。</p>
<p>苓甘五味姜辛加半夏湯，茯苓四兩，甘草三兩，五味半升，乾薑三兩，細辛一兩，半夏半升。治支飲，昏冒作嘔，而不渴者。以飲居心下，隔其胃陽，陽升則冒，胃逆則嘔，半夏驅水飲而止嘔冒也。</p>
<p>越婢加半夏湯，麻黃六兩，石膏半斤，甘草一兩，生薑三兩，大棗十五枚，半夏半升。治肺脹，咳喘上氣，目如脫，脈浮大者。以中氣虛滯，肺胃之降令素遲，一遇風寒，閉其皮毛，里郁莫泄，胃氣逆升，肺壅為熱，是以咳喘上氣，而脈浮大。此為肺脹之病，即傷風齁喘而為熱者。甘、棗，補其中虛，麻黃瀉其皮毛，石膏清其肺熱，生薑、半夏，降沖逆而破壅塞也。</p>
<p>傷寒半夏散，半夏、甘草、桂枝等分，為散，白飲和服方寸匕。不能服散，水煎服。治少陰病，咽痛者。以陰氣上衝，因致咽痛。半夏、桂枝，降其沖逆，甘草緩其急迫也。</p>
<p>金匱半夏厚朴湯，半夏一升，厚朴三兩，茯苓四兩，生薑五兩，蘇葉二兩。治婦人咽中如有炙臠。以濕旺氣逆，血肉凝瘀。茯苓瀉其濕，樸、半、薑、蘇，降其逆而散其滯也。</p>
<p>半夏麻黃丸，半夏、麻黃等分，蜜丸。治心下悸者。以陽衰土濕，升降失政，脾陷而乙木不得直升，則鬱勃而為悸，胃逆而甲木不能順降，則懸虛而為驚。胃土上逆，濁陰填塞，心下更郁，經絡壅澀，礙厥陰風木升達之路，是以心下悸動。《素問》：胃之大絡，名曰虛里，出於左乳下，其動應衣，即此謂也。驚原於魂氣之虛飄，悸原於經氣之阻礙。半夏降胃逆而驅濁陰，麻黃開堙鬱而通絡路也。</p>
<p>人之中氣，左右迴旋，脾主升清，胃主降濁。在下之氣，不可一刻而不升，在上之氣，不可一刻而不降。一刻不升，則清氣下陷，一刻不降，則濁氣上逆。濁氣上逆，則嘔噦痰飲皆作，一切驚悸眩暈，吐衄嗽喘，心痞脅脹，膈噎反胃，種種諸病，於是生焉，而總由於中氣之濕寒。蓋中脘者，氣化之原，清於此升，濁於此降，四象推遷，莫不本乎是。不寒不熱，不燥不濕，陰陽和平，氣機自轉。寒濕偏旺，氣化停滯，樞機不運，升降乃反，此脾陷胃逆之根也，安有中氣健運，而病胃逆者哉！</p>
<p>甲木下行而交癸水者，緣於戊土之降，戊土不降，甲木失根，神魂浮蕩，此驚悸眩暈所由來也。二火升炎，肺金被克，此燥渴煩躁所由來也。收令不遂，清氣堙郁，此吐衄痰嗽所由來也。膽胃逆行，土木壅迫，此痞悶膈噎所由來也。凡此諸證，悉宜溫中燥土之藥，加半夏以降之。其火旺金熱，須用清斂金火之品。然肺為病標而胃為病本，必降戊土，以轉火金，胃氣不降，金火無下行之路也。半夏辛燥開通，沉重下達，專入胃腑，而降逆氣。胃土右轉，濁瘀掃蕩，胃腑沖和，神氣歸根，則鶴胎龜息，綿綿不絕竭矣。</p>
<p>血原於臟而統於經，升於肝而降於肺，肝脾不升，則血病下陷，肺胃不降，則血病上逆。緣中脘濕寒，胃土上郁，濁氣衝塞，肺金隔礙，收令不行，是以吐衄。此與虛勞驚悸，本屬同原，未有虛勞之久，不生驚悸，驚悸之久，不生吐衄者。當溫中燥土，暖水斂火，以治其本，而用半夏降攝胃氣，以治其標。</p>
<p>庸工以為陰虛火動，不宜半夏，率以清涼滋潤之法，刊諸紙素。千載一轍，四海同風，《靈樞》半夏秫米之方、治目不得瞑，在「邪客篇」。《金匱》半夏麻黃之制，絕無解者。仁人同心，下士不悟，迢迢長夜，悲嘆殷廬，悠悠蒼天，此何心哉！</p>
<p>洗去白礬用。妊娠薑汁炒。</p>
<p><u>代赭石</u>　味苦，氣平，入足陽明胃經。降戊土而除噦噫，鎮辛金而清煩熱。</p>
<p>傷寒旋覆花代赭石湯，方在旋覆花。用之治傷寒汗吐下後，心下痞硬，噫氣不除者，以其降胃而下濁氣也。滑石代赭湯，方在滑石。用之治百合病，下之後者，以其降肺而清鬱火也。</p>
<p>代赭重墜之性，驅濁下衝，降攝肺胃之逆氣，除噦噫而泄郁煩，止反胃嘔吐，療驚悸哮喘，兼治吐衄，崩漏、痔瘻、泄利之病。</p>
<p>煅紅，醋淬，研細，綿裹，入藥煎。</p>
<p>鬆軟者佳，堅硬者無用。</p>
<p>肝脾下陷者忌之。</p>
<p><u>厚朴</u>　味苦、辛，微溫，入足陽明胃經。降沖逆而止嗽，破壅阻而定喘，善止疼痛，最消脹滿。</p>
<p>傷寒桂枝加厚朴杏子湯，桂枝、芍藥、生薑各三兩，甘草、厚朴各二兩，大棗十二枚，杏仁五十枚。治太陽傷寒，下後微喘者。下後中虛胃逆，肺金莫降，是以發喘。薑、甘、大棗，和中而補土，桂枝、芍藥，疏木而瀉熱，厚朴、杏仁，降逆而止喘也。《傷寒》：喘家作，桂枝湯加厚朴、杏子仁。</p>
<p>樸姜甘夏人參湯，厚朴一斤，生薑半斤，甘草二兩，半夏半升，人參一兩。治傷寒汗後，腹脹滿者。汗後中虛胃逆，濁陰沖塞，是以脹滿。人參、甘草，補中而培土，樸、半、生薑，瀉滿而消脹也。</p>
<p>金匱厚朴大黃湯，厚朴一尺，枳實四枚，大黃六兩。此即小承氣湯，而分兩不同。治支飲胸滿者。以飲居心下，肺胃郁阻，是以胸滿。大黃破結而逐飲，枳、樸，瀉滿而降逆也。</p>
<p>厚朴三物湯，厚朴八兩，枳實五枚，大黃四兩。此亦小承氣湯，而分兩不同。二方皆君厚朴。治腹滿而便閉者。以滯氣摶結，閉塞不通。枳、樸，行滯而止痛，大黃破結而開塞閉也。</p>
<p>厚朴七物湯，厚朴半斤，枳實五枚，大黃二兩，桂枝二兩，甘草三兩，生薑五兩，大棗十枚。治腹滿痛，發熱，脈浮而數，飲食如故者。以外感風邪，經腑皆郁，經氣不泄，故發熱脈數。腑氣不通，故腹滿而痛。甘、棗、桂、姜，達鬱而解外，枳、樸、大黃，瀉滿而攻裡也。</p>
<p>厚朴麻黃湯，厚朴五兩，小麥一升，麻黃四兩，石膏如雞子大，杏仁半升，乾薑二兩，半夏半升，細辛二兩，五味半升。治咳而脈浮者。以中脘不運，皮毛不合，肺胃郁阻，濁氣莫泄。麻黃髮表而散寒，小麥、石膏，清肺而潤燥，樸、杏、半夏、薑、辛、五味，降逆而止咳也。</p>
<p>大小承氣湯、方在大黃。半夏厚朴湯、方在半夏。枳實薤白桂枝湯、方在枳實。王不留行散方在王不留行。皆用之，以其降濁而行滯也。</p>
<p>厚朴苦辛下氣，善破壅塞而消脹滿，下衝逆而定喘嗽，疏通郁迫，和解疼痛，除反胃嘔吐，療腸滑泄利，消宿食停水，調泄穢吞酸，止腸胃雷鳴，平霍亂轉筋，下衝消滯之物也。</p>
<p>去皮，薑汁炒。</p>
<p><u>枳實</u>　味苦、酸、辛，性寒，入足陽明胃經。瀉痞滿而去濕，消陳宿而還清。</p>
<p>金匱枳朮湯，枳實七枚，白朮二兩。煎，分三服。腹中軟，即當散。治心下堅，大如盤，邊如旋杯，水飲所作。以水停中脘，胃氣鬱阻，膽經隔礙，不得下行，痞結心下，堅硬不消。枳實瀉水而消痞，白朮燥土而補中也。</p>
<p>枳實薤白桂枝湯，枳實四枚，厚朴四兩，栝蔞一枚，薤白半斤，桂枝一兩。治胸痹心痞，胸中滿結，脅下逆搶心。以膽胃上逆，胸膈填塞。枳、樸、薤白，破壅塞而消痹結，栝蔞、桂枝，滌濁瘀而下衝逆也。</p>
<p>傷寒枳實梔子湯，枳實三枚，梔子十四枚，香豉一兩。清漿水煎，分二服，覆令微似汗。治大病差後，勞復者。大病新差，中氣尚弱，因勞而復。濁陰上逆，中宮堙塞，經鬱熱作。枳實降濁而消滯，梔子瀉熱而清煩，香豉和中而散郁也。</p>
<p>金匱枳實芍藥散，枳實、芍藥等分。為散，服方寸匕，日三服，並主癰膿，以麥粥下之。治產後腹痛，煩滿不得臥。以產後血亡肝燥，風木剋土，是以腹痛。肝脾鬱結，則膽胃壅塞，而生煩滿。芍藥清風而止痛，枳實瀉滿而除煩也。</p>
<p>梔子大黃湯，方在梔子。用之治傷寒下後，心煩腹滿者，治酒疸懊憹熱痛者，橘枳生薑湯，方在橘皮。用之治胸中痹塞，短氣，桂姜枳實湯，方在桂枝。用之治心中痞塞懸痛，大小承氣湯，二方在大黃。用之治陽明胃燥便難，皆以其瀉痞滿而破壅塞也。</p>
<p>枳實酸苦迅利，破結開瘀，瀉痞消滿，除停痰留飲，化宿谷堅症，滌盪郁陳，功力峻猛，一切腐敗壅阻之物，非此不消。</p>
<p>麩炒黑，勿令焦，研用。</p>
<p><u>梔子</u>　味苦，性寒，人手少陰心、足太陰脾、足厥陰肝、足太陽膀胱經。清心火而除煩郁，瀉脾土而驅濕熱，吐胸膈之濁瘀，退皮膚之熏黃。</p>
<p>傷寒梔子乾薑湯，梔子十四枚，乾薑二兩。煎，分三服。得吐，止後服。治太陽傷寒，大下後，身熱不去，微煩者。大下敗其中氣，濁陰上逆，瘀生腐敗，阻隔君火，身熱心煩。乾薑降逆而溫中，梔子吐濁瘀而除煩熱也。</p>
<p>梔子厚朴湯，梔子十四枚，厚朴四兩，枳實四枚。煎，分二服。得吐，止後服。治傷寒下後，心煩腹滿，臥起不安者。以下傷土氣，中脘鬱滿，陽明不降，濁陰上逆，陳郁填塞，阻隔君火，煩躁不寧。枳、樸，瀉滿而降逆，梔子吐濁瘀而除煩也。</p>
<p>梔子香豉湯，梔子十四枚，香豉四兩。煎，分二服。得吐，止後服。治傷寒汗下後，煩熱，胸中窒者。汗下敗其中氣，胃土上逆，濁氣填瘀，君火不得下行，故心宮煩熱，胸中窒塞。香豉調中而開窒，梔子掃濁瘀而除煩熱也。治陽明傷寒，下後胃中空虛，客氣動膈，心中懊憹，舌上胎者。下傷胃氣，濁陰逆上，客居胸膈，宮城不清，故生懊憹。香豉和中而下氣，梔子湧濁淤而清懊憹也。治厥陰病，利後虛煩，按之心下濡者。香豉和中而瀉濕，梔子決濁瘀而清虛煩也。</p>
<p>梔子甘草香豉湯，梔子十二枚，香豉四兩，甘草二兩。煎，分二服。得吐，止後服。治傷寒汗吐下後，虛煩不得眠，劇則反覆顛倒，心中懊憹此梔子香豉證。而少氣者。香豉、甘草，調胃而補中氣，梔子滌濁瘀而清虛煩也。</p>
<p>梔子生薑香豉湯，梔子十二枚，香豉四兩，生薑五兩。煎，分二服。得吐，止後服。治傷寒汗吐下後，虛煩不得眠，劇則反覆顛倒，心中懊憹此梔子香豉證。而嘔者。香豉、生薑，降逆而止嘔吐，梔子蕩濁瘀而清虛煩也。</p>
<p>梔子柏皮湯，梔子十五枚，甘草一兩，黃柏皮一兩。治太陰傷寒，發熱身黃者。濕在經絡，鬱而不瀉，則發熱身黃。甘草、柏皮，補中而清表熱，梔子瀉濕而退身黃也。</p>
<p>金匱梔子大黃湯，梔子十四枚，香豉一升，枳實五枚，大黃三兩。治酒疸，心中懊憹，或熱痛者。酒疸濕熱鬱蒸，故心懊憹。甲木衝擊，故生熱痛。香豉、枳、黃，降濁而瀉熱，梔子清心而除懊憹也。</p>
<p>茵陳蒿湯，方在茵陳。治太陰病，身黃腹滿，小便不利者，谷疸同此。大黃硝石湯方在大黃。治黃疸腹滿，小便不利者，皆用之，以清乙木之鬱蒸，瀉膀胱之濕熱也。</p>
<p>梔子苦寒，清心火而除煩熱，煩熱既法，清氣下行，則濁瘀自湧。若熱在膀胱，則下清水道，而開淋澀。蓋厥陰乙木，內孕君火，膀胱之熱，緣乙木之遏陷，亦即君火之郁淪也，善醫黃疸者，以此。</p>
<p><u>香豉</u>　味苦、甘，微寒，入足太陰脾經。調和臟腑，湧吐濁瘀。</p>
<p>仲景傷寒梔子香豉湯方在梔子。用之治傷寒汗下後，煩熱，胸中窒者，土濕胃逆，濁瘀凝塞，香豉掃濁瘀而開凝塞也。治傷寒汗吐下後，虛煩不得眠，劇則反覆顛倒，心中懊憹者，以腐敗壅塞，濁氣熏沖，香豉湧腐敗而清宮城也。瓜蒂散方在瓜蒂。用之治胸中塞瘀，心中痞硬，氣衝咽喉，不得息，以寒瘀膠塞，阻礙氣道，香豉蕩腐物而清胸膈也。金匱梔子大黃湯方在梔子。用之治酒疸，心中懊憹熱痛，以濕熱熏沖，心君郁痞，香豉排郁陳而寧神宇也。</p>
<p>香豉調和中氣，瀉濕行瘀，掃除敗濁，宿物失援，自然湧吐，實非吐劑。肅清臟腑，甚有除舊布新之妙。</p>
<p><u>瓜蒂</u>　味苦，性寒，入足陽明胃、足太陰脾經。利水而瀉濕淫，行瘀而湧腐敗。</p>
<p>傷寒瓜蒂湯，瓜蒂二十枚。水一升，煎五合，頓服之。治太陽中暍，身熱痛重，而脈微弱。以夏月汗出，浴於冷水，水入汗孔，而行皮中，竅隧冷閉，郁遏陽火，而生內熱。壯火傷氣，故脈微弱。瓜蒂決皮中之水，開竅而瀉熱也。</p>
<p>瓜蒂散，瓜蒂一分，赤小豆一分。為散，取一錢匕，以香豉一合，用熱湯煮作稀糜，去滓，取汁和散，溫服，取吐。不吐，加之，得快吐乃止。治胸有寒瘀，病如桂枝證，頭不痛，項不強，寸脈微浮，心中痞硬，氣上衝咽喉，不得息者。以胃土上逆，礙膽經降路，二氣相迫，結於胃口，故心下痞硬。降路梗塞，則肺氣逆沖，咽喉阻閉，肺氣鬱遏淫蒸，而化痰涎，隧道皆填，是以胸膈壅悶，不得喘息。小豆、香豉，行其瘀濁，瓜蒂湧其痰涎也。治厥陰病，邪結胸中，心下煩，飢不能食，手足厥冷，脈乍緊者。以痰涎在胸，郁阻肺氣，不得四達。瓜蒂湧痰涎以通氣道也。治宿食在上脘者。宿食上停，濁氣不降，鬱悶懊憹，頭痛發熱，其狀甚似外感。瓜蒂湧之，則濁降而病除也。</p>
<p>瓜蒂苦寒，瀉水滌痰，湧吐腐敗，以清氣道，蕩宿食停飲，消水腫黃疸，通腦悶鼻鼽，止咳逆齁喘，濕熱頭痛，風涎喉阻，一切癲癇蠱脹之病皆醫。</p>
<p>亡血家忌之。</p>
<p><u>蜀漆</u>　味苦、辛，性寒，入足陽明胃、足太陰脾、足少陽膽經。蕩濁瘀而治痎瘧，掃腐敗而療驚狂。</p>
<p>金匱蜀漆散，蜀漆、雲母、龍骨等分。為散，未發前漿水服半錢匕。溫瘧加蜀漆半分，臨發時服一錢匕。治牝瘧，多寒者。寒濕之邪，客於少陽之部，郁遏陽氣，不得外達。陽氣發於陰邪之內，重陰閉束，莫能透越，鼓搏振搖，則生寒戰。陽鬱熱盛，透圍而出，是以發熱。陽氣蓄積，盛而後發，故至期病作，應如潮信。陽旺則蓄而即盛，故日與邪爭，陽衰則久而方振，故間日而作。陽進則一郁即發，銳氣倍常，故其作日早，陽退則閉極方通，漸至困乏，故其作日晏。作之日早，則邪退日速，作之日晏，則邪退日遲。作晏而退遲者，陽衰不能遽發，是以寒多。陽敗而終不能發，則絕寒而無熱矣。雲母瀉其濕寒，龍骨收其腐敗，蜀漆排決陳宿，以達陽氣也。</p>
<p>傷寒救逆湯方在龍骨。用之治傷寒火劫，亡陽驚狂，起臥不安者，以陽亡濕動，君相離根，濁陰上填，心宮膠塞，蜀漆除道而清君側也。</p>
<p>蜀漆苦寒疏利，掃穢行瘀，破堅化積，清滌痰涎，湧吐垢濁，是以善醫痎瘧驚狂之病。</p>
<p>洗去腥用。</p>
<p><u>黎蘆</u>　味苦、辛，性寒，入足陽明胃、手太陰肺經。湧胸膈之痰涎，定皮膚之瞤惕。</p>
<p>金匱黎蘆甘草湯，黎蘆、甘草。原方失載。治病人手指臂腫動，身體瞤瞤者。以手之三陰，自胸走手，手之三陽，自手走頭，經氣鬱遏，故結而為腫，鬱而為動。鬱極則身體瞤動，不但指臂而已。此緣胸有瘀濁，阻隔經氣往來之路，是以如此。甘草培其中氣，黎蘆吐其瘀濁，以通經氣也。</p>
<p>黎蘆苦寒毒烈，善吐濁痰，兼治疥癬，殺諸蟲，點痣，去瘜肉。</p>
<p><u>升麻</u>　味辛、苦、微甘，性寒，入手陽明大腸、足陽明胃經。利咽喉而止疼痛，消腫毒而排膿血。</p>
<p>金匱升麻鱉甲湯，升麻二兩，鱉甲手掌大一片，甘草二兩，當歸一兩，雄黃五錢，蜀椒一兩。水四升，煎一升，頓服。治陽毒為病，面赤斑斑如錦文，咽喉痛，吐膿血。陽毒之病，少陽甲木之克陽明也。手足陽明，皆行於面，少陽甲木，從相火化氣，火之色赤，故面見赤色。足陽明之脈，循喉嚨而入缺盆，膽胃壅迫，相火瘀蒸，故咽喉痛而吐膿血。其病五日可治，七日不可治。升麻、甘草，清咽喉而緩急迫，鱉甲、當歸，消凝瘀而排膿血，雄黃、蜀椒，瀉濕熱而下逆氣也。</p>
<p>升麻鱉甲去雄黃蜀椒湯，升麻二兩，鱉甲手掌大一片，甘草二兩，當歸一兩。治陰毒為病，面目青，身痛如被杖，咽喉痛。陰毒之病，厥陰乙木之克太陰也。厥陰乙木，開竅於目，木之色青，故面目青。脾主肌肉，足太陰之脈，上膈而挾咽，肝脾郁迫，風木衝擊，故身及咽喉皆痛。升麻、甘草，清咽喉而緩急迫，鱉甲、當歸，破結滯而潤風木也。</p>
<p>陽毒、陰毒，病在肝膽，而起於外邪，非風寒束閉，郁其臟腑，不應毒烈如是。升麻清利咽喉，解毒發汗，表裡疏通，是以奏效也。</p>
<p>傷寒麻黃升麻湯方在麻黃。用之治厥陰病，咽喉不利，吐膿血，以其清咽喉而排膿血也。</p>
<p>升麻辛涼升散，清利咽喉，解肌發表，善治風寒侵迫，咽喉腫痛，嘔吐膿血之病。最能解毒，一切蠱毒邪穢之物，入口即吐。避疫癘煙瘴之氣，斷泄利遺帶之恙，止吐衄崩淋諸血，消癰疽熱腫，平牙根臭爛，療齒疼，醫口瘡，胥有良效。</p>
<p>手陽明自手走頭，足陽明自頭走足，二經升降不同，升麻升提之性，入手陽明為順，入足陽明為逆。咽喉之病，以及口舌牙齒，其位在上，須用升麻，而加清降之藥，自高下達，引火歸根。若足陽明他病，悉宜降藥，不宜升麻，惟用於湧吐方中乃可。後世庸工，以之升提足陽明胃腑清氣，足陽明順下則治，逆上則病，何可升乎！</p>
<p><u>葛根</u>　味甘、辛，性涼，入足陽明胃經。解經氣之壅遏，清胃腑之燥熱，達郁迫而止利，降沖逆而定喘。</p>
<p>傷寒葛根湯，葛根四兩，麻黃、桂枝、芍藥、甘草各二兩，大棗十二枚，生薑二兩。治傷寒太陽陽明合病，項背強𠘧𠘧，無汗惡風者。陽明胃經，自頭走足，行身之前，背者，胸之府也，《素問》語。太陽經病不解，內侵陽明，陽明郁遏，不得順降，沖逆胸膈，胸膈莫容，遂後壅於項背，故項背強直，𠘧𠘧不柔。寒閉皮毛，故無汗惡風。薑、甘、大棗，利中宮而補土，桂枝、芍藥，達凝鬱而瀉熱，麻黃散太陽之寒，葛根解陽明之郁也。治太陽與陽明合病，自下利者。以經氣鬱遏，則腑氣壅迫，不能容受，未消之食，必至上嘔，已化之谷，必至下利。麻黃髮表而瀉郁遏，葛根疏里而達壅迫也。又治太陽病，欲作剛痙，無汗而小便反少，氣上衝胸，口噤不得語者。以過汗亡津，筋脈不柔，復感寒邪，閉其皮毛，則病剛痙。足陽明脈循上齒，手陽明脈循下齒，筋脈燥急，故口噤不開。麻黃瀉閉而散寒，葛根降逆而潤燥也。</p>
<p>桂枝加葛根湯，桂枝三兩，芍藥、甘草各二兩，大棗十二枚，生薑三兩，葛根四兩。煎服。治太陽陽明合病，項背強𠘧𠘧，汗出惡風者。風泄皮毛，故汗出惡風。桂、芍，瀉太陽而達營郁，葛根解陽明而降氣逆也。</p>
<p>葛根黃連黃芩湯，葛根半斤，黃連一兩，黃芩二兩，甘草二兩。治太陽中風，下後下利脈促，喘而汗出者。以下傷中氣，脾陷為利，胃逆為喘。上熱鬱生，竅開汗出。連、芩，清君相之火，葛根降陽明之逆也。</p>
<p>金匱竹葉湯方在竹葉。用之治產後中風，發熱面赤，喘而頭痛，以胃氣上逆，肺郁生熱，故氣喘頭痛而發熱面赤，葛根清胃而降逆也。</p>
<p>奔豚湯方在甘李根白皮。用之治奔氣上衝胸，腹痛，往來寒熱，以風木勃發，則生煩躁，生葛清風而潤燥，瀉熱而除煩也。</p>
<p>葛根辛涼下達，除煩瀉熱，降陽明經腑之郁，經腑條暢，上脘之氣不逆，則下脘之氣不陷，故嘔泄皆醫。生津止渴，清金潤燥，解陽明鬱火，功力尤勝。</p>
<p>作粉最佳。鮮者取汁用，甚良。</p>
<p><u>赤石脂</u>　味甘、酸、辛，性澀，入手少陰心，足太陰脾、手陽明大腸經。斂腸胃而斷泄利，護心主而止痛楚。</p>
<p>傷寒桃花湯，乾薑三兩，粳米一升，赤石脂一斤，用一半研末。水七升，煮米熟，去渣，溫服七合，入赤石脂末方寸匕。治少陰病，腹痛下利，小便不利，便膿血者。以水土濕寒，脾陷肝鬱，二氣逼迫，而腹為之痛。木愈鬱而愈泄，水道不通，則穀道不斂，膏血脫陷，凝瘀腐敗，風木摧剝，而下膿血。粳米補土而瀉濕，乾薑溫中而驅寒，石脂斂腸而固脫也。</p>
<p>赤石脂禹餘糧湯，赤石脂一斤，禹餘糧一斤。治傷寒下利不止，利在下焦，服理中湯，利益甚者。己土濕陷，庚金不斂，則為泄利。而己土濕陷之利，其病在中，理中可愈，庚金不斂之利，其病在下，理中不能愈。石脂、餘糧，澀滑而斷泄利也。</p>
<p>烏頭赤石脂丸方在烏頭。用之治心痛徹背，以其保宮城而護心君也。</p>
<p>赤石脂酸收澀固，斂腸住泄，護心止痛，補血生肌，除崩收帶，是其所長。最收濕氣，燥脾土，治停痰吐水之病。更行瘀澀，破凝滯，有摧生下衣之能。兼醫癰疽、痔瘻、反胃、脫肛之證。</p>
<p><u>禹餘糧</u>　味甘，微寒，入足太陰脾、足少陰腎、足厥陰肝、手陽明大腸經。止小便之痛澀，收大腸之滑泄。</p>
<p>傷寒禹餘糧丸，原方失載。治汗家重發汗，恍惚心亂，小便已陰痛者。以發汗太多，陽亡神敗，濕動木鬱，水道不利，便後滯氣梗澀，尿孔作痛。禹餘糧甘寒收澀，秘精斂神，心火歸根，坎陽續復，則乙木發達，滯開而痛止矣。</p>
<p>赤石脂禹餘糧湯方在石脂。用之治大腸滑脫，利在下焦者，以其收濕而斂腸也。</p>
<p>禹餘糧斂腸止泄，功同石脂，長於瀉濕，達木鬱而通經脈，止少腹骨節之痛，治血崩閉經之恙，收痔瘻失血，斷赤白帶下。</p>
<p>煎湯，生，研。作丸、散，煅紅，醋淬，研細用。</p>
<p><u>雞子黃</u>　味甘，微溫，入足太陰脾、足陽明胃經。補脾精而益胃液，止泄利而斷嘔吐。</p>
<p>傷寒黃連阿膠湯方在阿膠。用之治少陰病，心中煩，不得臥者，以其補脾而潤燥也。金匱百合雞子湯方在百合。用之治百合病，吐之後者，以其滌胃而降逆也。排膿散方在桔梗。用之，以其補中脘而生血肉也。</p>
<p>雞子黃溫潤淳濃，體備土德，滋脾胃之精液，澤中脘之枯槁，降濁陰而止嘔吐，升清陽而斷泄利，補中之良藥也。</p>
<p>煎油，治小兒濕熱諸瘡，甚效。（雞子白在三卷中。）</p>
<p><u>麻仁</u>　味甘，氣平，性滑，入足陽明胃、手陽明大腸、足厥陰肝經。潤腸胃之約澀，通經脈之結代。</p>
<p>傷寒麻仁丸，麻子仁二升，芍藥半斤，杏仁一斤，去皮尖，炒用，研如脂，大黃一斤，厚朴一斤，枳實半斤。末，煉蜜丸梧子大，飲服十丸，日三服，漸加。治陽明病，脾約便難。以脾氣約結，糟粕不能順下，大腸以燥金主令，斂澀不泄，日久消縮，約而為丸。燥結不下，是以便難。麻仁、杏仁，潤燥而滑腸，芍藥、大黃，清風而瀉熱，厚朴、枳實，行滯而開結也。</p>
<p>炙甘草湯方在甘草。用之治少陽病，脈結代，心動悸者，以其養血而潤燥也。</p>
<p>麻仁滑澤通利，潤大腸而滋經脈，隧路梗澀之病宜之。</p>
<p>去殼，炒，研用。</p>
<p><u>白蜜</u>　味甘、微咸，入足陽明胃、足太陰脾、手陽明大腸經。滑秘澀而開結，澤枯槁而潤燥。</p>
<p>傷寒蜜煎導法，蜜七合。煉乾，作挺如指，長二寸，內穀道中，欲大便時去之。治陽明病，自汗出，小便自利，津液內竭，大便硬者。以汗尿亡津，而致便硬，非胃熱便難之比，不可攻下，蜜煎潤燥而滑腸也。</p>
<p>金匱大半夏湯方在半夏。用之治反胃嘔吐，以腸竅閉塞，糟粕不得下傳，白蜜潤大腸而通傳道也。傷寒大陷胸丸方在大黃。用之治結胸項強，以其滑胸膈而下瘀濁也。金匱烏頭湯方在烏頭。用之治歷節疼痛，以其滑經絡而止寒濕也。大烏頭煎方在烏頭。用之治寒疝繞臍痛，以其潤筋脈而緩迫急也。甘草粉蜜湯方在甘草。用之治蛔蟲為病，吐涎心痛，以其滋乙木而息風燥也。甘遂半夏湯方在甘遂。用之治留飲欲去，心下續堅滿，以其滑腸胃而瀉水飲也。</p>
<p>蜂蜜濃郁滑澤，滋濡臟腑，潤腸胃而開閉澀，善治手足陽明燥盛之病。太陰濕旺，大便滑溏者勿服。</p>
<p>入水四分之一，煉熟用。</p>
<p><u>大黃</u>　味苦，性寒，入足陽明胃、足太陰脾、足厥陰肝經。瀉熱行瘀，決壅開塞，下陽明之燥結，除太陰之濕蒸，通經脈而破癥瘕，消癰疽而排膿血。</p>
<p>傷寒大承氣湯，大黃四兩，芒硝三兩，枳實五枚，厚朴半斤。治陽明病，胃熱便難。以表病失解，郁其胃陽，陽莫盛於陽明，陽明戊土，從燥金化氣，陽旺土燥，腸竅結澀，腑熱莫宣，故譫語潮熱，手足汗流。胃氣壅遏，不得下泄，故臍腹滿痛。大黃、芒硝，破結而瀉熱，厚朴、枳實，降逆而消滯也。</p>
<p>小承氣湯，大黃四兩，厚朴二兩，枳實三枚。治陽明病，腑熱方作。大黃瀉其燥熱，樸、枳，開其鬱滯也。</p>
<p>大陷胸湯，大黃六兩，芒硝一斤，甘遂一錢。水六升，煮大黃，取二升，去渣，入芒硝，煎化，入甘遂末，分服。治太陽中風，下早而為結胸。以腑熱未實，下之太早，傷其中氣，戊土不降，里陰上逆，皮毛未泄，表陽亦陷，陰陽拒隔，結於胸中。寒熱逼蒸，化生水氣，硬滿疼痛，煩躁懊憹。硝、黃，瀉其鬱熱，甘遂排其水飲也。</p>
<p>大陷胸丸，大黃半斤，芒硝半斤，葶藶半斤，杏仁半升。共末之，入芒硝，研如脂，丸如彈子大，取一枚，甘遂末一錢、白蜜二合，水二升，煮一升，溫頓服之。一宿乃下。不下，更服。治結胸項強，狀如柔痙。以濕熱熏沖，上連頸項。大黃、芒硝，破結而瀉熱，杏仁、葶藶、甘遂，降逆而瀉水也。</p>
<p>大黃黃連瀉心湯，大黃二兩，黃連一兩。麻沸湯一升漬之，去渣，分溫服。治傷寒下後復汗，心下痞硬。以汗下傷其中氣，陽亡土敗，胃氣上逆，阻礙膽經降路，結於心下，痞塞硬滿。相火既隔，君火亦升。大黃瀉戊土而清熱，黃連瀉心火而除煩也。</p>
<p>桂枝加大黃湯，桂枝三兩，甘草二兩，生薑三兩，大棗十二枚，芍藥六兩，大黃一兩。治太陽病，醫反下之，因而腹滿實痛，屬太陰者。以太陽表病，誤下而傷脾氣，脾陷木遏，郁生風熱，侵克己土，脹滿而成實痛。桂枝和中而解表，芍藥滋乙木而清風，大黃瀉己土而消滿也。</p>
<p>金匱大黃硝石湯，大黃、硝石、黃柏各四兩，梔子十五枚。水煎，頓服。治黃疸，腹滿自汗，小便不利而赤。以黃家濕淫經絡，皮毛莫啟，是以發黃，今汗孔外泄，水道里郁，表和裡實，濕不在經絡而在臟腑，法當用下。大黃、黃柏，瀉其瘀熱，硝石、梔子，清其濕熱也。</p>
<p>苓甘五味姜辛半杏加大黃湯，茯苓四兩，甘草三兩，五味半升，乾薑三兩，細辛三兩，半夏半升，杏仁半升，大黃三兩。治痰飲，水去嘔止，腫消痹愈，而面熱如醉者。痰飲服半夏而水去，服杏仁而腫消，若面熱如醉，是胃熱逆沖，上熏其面。緣足之三陽，自頭走足，陽明行身之前，自面而下，加大黃以瀉陽明之熱也。</p>
<p>大黃附子湯，大黃三兩，細辛二兩，附子三枚。炮用。治脅下偏痛，發熱，其脈緊弦。以脾土寒濕，郁其肝氣，風木抑遏，故脅痛而發熱，脈弦而且緊，宜以溫藥下其結寒。辛、附，溫寒而破瘀，大黃下積而開結也。</p>
<p>大黃甘草湯，大黃一兩，甘草一兩。治食已即吐者。以土弱胃逆，濁氣痞塞，郁生上熱，故水穀不下。大黃破其痞塞，甘草培土補中，緩其下行之急也。</p>
<p>傷寒抵當湯，大黃三兩，桃仁、水蛭、虻蟲各三十枚。水煎，分三服。治傷寒六七日後，表證猶在，脈微而沉，熱在下焦，其人發狂，小腹硬滿，小便自利者。以表病失解，經熱莫達，內傳膀胱之腑，血室瘀蒸，是以發狂，宜先解其表寒，而後下其瘀血，桃、蛭、虻蟲，破其瘀血，大黃瀉其鬱蒸也。</p>
<p>金匱大黃蟅蟲丸，大黃十分，甘草三兩，杏仁一升，芍藥四兩，乾地黃十兩，桃仁一升，乾漆一兩，虻蟲一升，水蛭百枚，蠐螬半升，蟅蟲半升，黃芩三兩。蜜丸，小豆大，酒飲服五丸，日三服。治五勞義詳《素問·宣明五氣篇》中。七傷，義詳《金匱·血痹虛勞》。羸瘦腹滿，內有乾血，肌膚甲錯，兩目黯黑。以中氣勞傷，己土濕陷，風木抑遏，賊傷脾氣，脾氣堙郁，不能腐熱水穀，化生肌肉，故羸瘦而腹滿。肝藏血而竅於目，肝氣抑遏，營血瘀澀，無以榮華皮腠，故肌膚甲錯而兩目黯黑。甘草培土而緩中，杏仁行滯而瀉滿，桃仁、乾漆、虻蟲、水蛭、蠐螬、蟅蟲，破鬱而消症，芍藥、地黃，清風木而滋營血，黃芩、大黃，瀉相火而下結塊也。</p>
<p>下瘀血湯，大黃三兩，桃仁二十枚，蟅蟲二十枚。煉蜜為四丸，酒一升，煮一丸，取八合，頓服之。瘀血下如豚肝。亦主經水不利。治產後腹痛，中有瘀血，著於臍下者。以瘀血在腹，木鬱為痛。桃仁、蟅蟲，破其瘀血，大黃下其症塊也。</p>
<p>大黃甘遂湯，大黃二兩，甘逆二兩，阿膠二兩。煮一升，頓服之。其血當下。治產後水與血結在血室，小腹脹滿，小便微難而不渴者。以水寒濕旺，乙木抑遏，水瘀血結，不得通達，故腹脹滿，便難而不渴。阿膠清風而潤木，大黃、甘遂，下瘀血而行積水也。</p>
<p>大黃牡丹皮湯，大黃四兩，芒硝四合，瓜子半升，桃仁五十枚，牡丹皮一兩。煎一升，入芒硝，煎化，頓服之。有膿當下，無膿下血。治腸癰，少腹腫痞，按之痛如淋，小便調，自汗出，時時發熱，復惡寒，膿已成，其脈洪數者。以濕寒隔礙，氣血不行，壅腫而為癰疽。營衛瘀遏，外寒內熱，鬱熱淫蒸，故肉腐為膿。膿之未成，氣血壅塞，則脈見遲緊，膿成結消，氣血通達，故見洪數。未膿可下，膿成宜排。丹皮、桃仁、瓜子，排決其膿血，大黃、芒硝，寒瀉其燔蒸也。</p>
<p>大黃苦寒迅利，瀉熱開瘀，決壅塞而通結閉，掃腐敗而蕩郁陳，一切宿食留飲，老血積痰，得之即下，心痞腹脹，胃結腸阻，飲之即通，濕熱瘀蒸，非此不除，關竅梗塞，非此不開，盪滌腸胃之力莫與為比，下痢家之停滯甚捷。</p>
<p>酒浸用。</p>
<p><u>巴豆</u>　味辛、苦，大熱，入足陽明胃、足太陰脾、足少陰腎經。驅寒邪而止痛，開冷滯而破結。</p>
<p>傷寒二白散方在桔梗。用之治寒實結胸，無熱證者，以寒實鬱結，痞塞不通，巴豆破寒實而決鬱塞也。</p>
<p>巴豆辛苦大熱，破沉寒積冷，止心疼腹痛，瀉停痰積水，下宿谷堅症，治霍亂脹痛，不能吐瀉，療寒痰阻閉，不得喘息，排膿血而去腐穢，蕩積滯而斷瘧痢，消死肌弩肉，點疣痣疥癬，種種奇功，神異非常。</p>
<p>去殼，炒，研用。強人可服二釐。</p>

<h1>卷二</h1>
<p><u>當歸</u>　味苦、辛，微溫，人足厥陰肝經。養血滋肝，清風潤木，起經脈之細微，回肢節之逆冷，緩裡急而安腹痛，調產後而保胎前，能通妊娠之小便，善滑產婦之大腸，奔豚須用，吐蛔宜加，寒疝甚良，溫經最效。</p>
<p>傷寒當歸四逆湯，當歸三兩，芍藥三兩，細辛二兩，通草三兩，甘草二兩，大棗二十五枚。治厥陰傷寒，手足厥冷，脈細欲絕。以肝司營血，而流於經絡，通於肢節，厥陰之溫氣虧敗，營血寒澀，不能充經絡而暖肢節。甘草、大棗，補脾精以榮肝，當歸、芍藥，養營血而復脈，桂、辛、通草，溫行經絡之寒澀也。</p>
<p>金匱當歸生薑羊肉湯，當歸三兩，生薑五兩，羊肉一斤。治寒疝腹痛，脅痛裡急，及產後腹痛。以水寒木鬱，侵克己土。當歸補血而榮木，生薑、羊肉，行滯而溫寒也。</p>
<p>當歸芍藥散，當歸三兩，芍藥一斤，芎藭三兩，白朮四兩，茯苓四兩，澤瀉半斤。治婦人妊娠雜病諸腹痛。以脾濕肝鬱，風木賊土。歸、芎、芍藥，疏木而清風燥，苓、澤、白朮，瀉濕而補脾土也。</p>
<p>當歸貝母苦參丸，當歸四兩，貝母四兩，苦參四兩。治妊娠小便難，飲食如故。以膀胱之水，生於肺金而瀉於肝木，金木雙郁，水道不利。當歸滋風木之郁燥，貝母、苦參，清金利水而瀉濕熱也。</p>
<p>當歸散，當歸一斤，芍藥、芎藭一斤，黃芩一斤，白朮半斤。為散，酒服方寸匕。治胎產諸病。以胎前產後諸病，土濕木鬱，而生風燥。芎、歸、芍、芩，滋風木而清熱，白朮燥濕土而補中也。</p>
<p>火為陽而水為陰，水中之氣，是為陽根。陽根左升，生乙木而化丁火，火降而陽清，則神發焉。神旺於火，而究其本原，實胎於木，陽氣全升則神旺。木處陽升之半，神之初胎，靈機方肇，是謂之魂，魂藏於肝而舍於血。肝以厥陰風木，生於癸水，癸水溫升，而化血脈。血者，木之精液，而魂之體魄也。</p>
<p>風靜血調，枝幹榮滋，則木達而魂安。溫氣虧乏，根本失養，鬱怒而生風燥，精液損耗，本既搖落，體魄傷毀，魂亦飄揚，此肝病所由來也，於是肢寒脈細，腹痛裡急，便艱尿澀，經閉血脫，奔豚吐蛔寒疝之類，由此生焉。悉當養血，以清風燥。</p>
<p>當歸滋潤滑澤，最能息風而養血，而辛溫之性，又與木氣相宜，酸則鬱而辛則達，寒則凝而溫則暢，自然之理也。血暢而脈充，故可以回逆冷而起細微。木達而土蘇，故可以緩急痛而安胎產。諸凡木鬱風動之證，無不宜之。但頗助土濕，敗脾胃而滑大便，故仲景用之，多土木兼醫。但知助陰而不知伐陽，此後世庸工所以大誤蒼生也。</p>
<p><u>阿膠</u>　味平，入足厥陰肝經。養陰榮木，補血滋肝，止胞胎之阻疼，收經脈之陷漏，最清厥陰之風燥，善調乙木之疏泄。</p>
<p>金匱膠艾湯，阿膠二兩，乾地黃六兩，芍藥四兩，當歸三兩，芎藭二兩，甘草二兩，艾葉三兩。治妊娠胞阻，腹痛下血。以乙木不達，侵克己土，是以腹痛。乙木鬱陷，而生風燥，疏泄失藏，是以下血。膠、地、歸、芍，養血而清風燥，甘草補中而緩迫急，芎藭疏木而達遏郁，艾葉暖血而回陷漏也。</p>
<p>膠薑湯，阿膠、乾薑。原方闕載，今擬加甘草、大棗、生薑、桂枝），治婦人經脈陷下，滴漏墨色。以脾腎陽虧，風木鬱陷，經寒血漏，色敗而黑。阿膠滋風木而止疏泄，乾薑溫經脈而收陷漏也。</p>
<p>乙木生於癸水而長於己土，水溫土燥，則木達而血升，水寒土濕，則木鬱而血陷，木氣抑遏，不得發揚，於是怫鬱而生風燥，凡諸腹痛裡急、崩漏淋利之證，無不以此。風木之性，專於疏泄，泄而未遂，則梗澀不行，泄而太過，則注傾而下。阿膠息風潤燥，養血滋陰，豬苓、方在豬苓。薯蕷、方在薯蕷。黃土、方在黃土。溫經、方在茱萸。白頭翁、方在白頭翁。炙甘草、方在甘草。鱉甲煎、方在鱉甲。黃連阿膠、方在黃連。大黃甘遂、方在大黃。諸方皆用之，以滋乙木之風燥也。其性滋潤凝滯，最敗脾胃而滑大腸，陽衰土濕，飲食不消，脹滿溏滑之家，甚不相宜。必不得已，當輔以薑、桂、二苓之類。</p>
<p>蛤粉炒，研用。</p>
<p><u>地黃</u>　味甘、微苦，入足太陰脾、足厥陰肝經。涼血滋肝，清風潤木，療厥陰之消渴，調經脈之結代，滋風木而斷疏泄，血脫甚良，澤燥金而開約閉，便堅亦效。</p>
<p>金匱腎氣丸，乾地黃八兩，山茱萸四兩，薯蕷四兩，茯苓三兩，澤瀉三兩，牡丹皮三兩，桂枝一兩，附子一兩。治虛勞腰痛，小腹拘急，小便不利，及婦人轉胞，不得小便，及短氣有微飲，及男子消渴，小便反多。以木主疏泄，水寒土濕，乙木鬱陷，不能上達，故腰痛而腹急。疏泄之令不行，故小便不利。土木鬱塞，下無透竅，故胞系壅阻而轉移。水飲停留，上無降路，故氣道格礙而短促。木以疏泄為性，鬱而莫泄，激怒而生風燥，津液傷耗，則病消渴。風木之性，泄而不藏，風盛而土濕，不能遏閉，泄之太過，故小便反多。久而精溺注傾，津液無餘，則枯槁而死。燥在乙木，濕在己土，而寒在癸水。乙木之燥，病之標也，癸水之寒，病之本也，是當溫補腎氣，以拔病本。附子補腎氣之寒，薯、萸，斂腎精之泄，苓、澤，滲己土之濕，地黃潤乙木之燥，桂枝達肝氣之郁，丹皮行肝血之滯。</p>
<p>蓋木愈鬱而風愈旺，風旺而疏泄之性愈烈，泄之不通，則小便不利，泄而失藏，則小便反多，標異而本同，總緣於土濕而水寒，生意之弗遂也。水溫土燥，郁散風清，則木氣發達，通塞適中，而小便調矣。</p>
<p>腎氣者，坎中之陽，《難經》所謂腎間動氣，生氣之根，呼吸之門也。方以腎氣為名，則君附子而不君地黃，地黃者，准陰之兵，多多益善，而究非主將也。</p>
<p>仲景於地黃，無作君之方，無特加之法。腎氣丸用之治消渴淋隆，君附子以溫腎氣，地黃滋風木之枯燥也。薯蕷丸方在薯蕷。用之治虛勞風氣，君薯蕷以斂腎精，地、膠、歸、芍，清風木之疏泄也。傷寒炙甘草湯方在甘草。用之治經脈結代，君甘草以補中氣，地、膠、麻仁，滋經脈之燥澀也。大黃蟅蟲丸方在大黃。用之治勞傷乾血，君大黃、蟅蟲以破積，地黃、芍藥，潤經脈之枯燥也。黃土湯方在黃土。用之治便後下血，君黃土以收血脫，地黃、阿膠，清風木之疏泄也。膠艾湯方在阿膠。用之治胎阻下血，君膠、艾以回血漏，地黃、歸、芍，清風木之疏泄也。百合地黃湯方在百合。用之治百合初病，君百合以清肺熱，地黃泄臟腑之瘀濁也。</p>
<p>地黃滋潤寒涼，最滑大便，火旺土燥者宜之。傷寒陽明病，腑燥便結，多服地黃濃汁，滋胃滑腸，勝用承氣。鮮者尤捷，故百合地黃湯以之瀉臟腑瘀濁，其力幾同大黃。溫疫、疹病之家，營郁內熱，大用生地，壯其里陰，繼以表藥發之，使血熱外達，皮膚斑生，亦為要物。血熱不得透泄，以致經絡鬱熱，而生痂癩，是為癩風，用生地於表散之中，清經熱以達皮毛，亦為良品。水旺土濕者，切不可服！</p>
<p>凡人木病則燥，土病則濕，而木之病燥，究因土濕。滋木之燥，勢必益土之濕，土濕愈增，則木燥愈甚，木益枯而土益敗，則人死矣。地黃甚益於風木，甚不宜於濕土。陽旺土燥則不病，病者皆陰旺而土濕者也。</p>
<p>外感陽明之中，燥濕相半，三陰全是濕寒。內傷雜病，水寒土濕者，十之八九，土木俱燥者，不多見也。脾約之人，大便結燥，糞若羊矢，反胃噎膈，皆有此證，是胃濕而腸燥，非真燥證也。衄家，惟陽明傷寒，衛郁莫泄，逆循上竅，沖逼營血，以致鼻流，於表汗之中，加生地涼營之味，使之順達皮毛，乃為相宜。至於內傷吐衄，悉緣土濕，更非燥證，以及種種外熱煩蒸，無非土濕陽飛，火奔水泛，久服地黃，無有不死！</p>
<p>蓋丁癸同宮，戊己並行，人之衰也，火漸消而水漸長，燥日減而濕日增，陽不勝陰，自然之理。陽旺則壯，陰旺則病，陽純則仙，陰純則鬼，抑陰扶陽，不易之道。但至理幽玄，非上智不解，後世庸工，以下愚之資，而談上智之業，無知妄作，遂開補陰滋水之派。群兒冒昧，翕習成風，著作流傳，遍於寰海，使抱病之家，死於地黃者十九，念之可為痛心也！</p>
<p>曬乾，生用。仲景方中生地，是用鮮者取汁。熟地之制，庸工妄作，不足用也。</p>
<p><u>芍藥</u>　味酸、微苦，微寒，入足厥陰肝、足少陽膽經。入肝家而清風，走膽腑而瀉熱，善調心中煩悸，最消腹裡痛滿，散胸脅之痞熱，伸腿足之攣急，吐衄悉瘳，崩漏胥斷，泄痢與淋帶皆靈，痔漏共瘰癧並效。</p>
<p>傷寒桂枝加芍藥湯，桂枝三兩，甘草二兩，大棗十二枚，生薑三兩，芍藥六兩。治太陽傷寒，下後腹滿痛，屬太陰者。以木養於土，下敗脾陽，己土濕陷，乙木遏郁，而生風燥，侵克己土，是以腹痛。木賊土困，便越二陽，而屬太陰。薑、甘、大棗，補土和中，桂枝達肝氣之郁，加芍藥清風木之燥也。</p>
<p>小柴胡湯，方在柴胡。治少陽傷寒，腹中痛者，去黃芩，加芍藥，通脈四逆湯，方在甘草。治少陰病，下利脈微，腹中痛者，去蔥，加芍藥二兩，金匱防己黃耆湯，方在防己。治風濕脈浮身重，胃中不和者，加芍藥三分，蓋土濕木陷，郁生風燥，風木衝擊，脾土被傷，必作疼痛，不以芍藥清風燥而瀉木鬱，痛不能止也。傷寒真武湯，方在茯苓。治少陰病，腹痛，四肢沉重疼痛，而用芍藥，小建中湯，方在阿膠。治少陽傷寒，腹中急痛，而倍芍藥，皆此義也。四逆散，方在甘草。治少陰病，四逆，腹痛用芍藥而加附子，法更妙矣。</p>
<p>新加湯，方在人參。治太陽傷寒，發汗後，身疼痛，脈沉遲者，桂枝加芍藥生薑各一兩人參三兩。以肝司營血，行經絡而走一身，汗泄營中溫氣，木枯血陷，營氣淪鬱而不宣暢，故身作疼痛而脈見沉遲。木陷則生風，人參補血中之溫氣，生薑達經脈之郁陷，芍藥清風木之枯燥也。</p>
<p>附子湯，方在附子。治少陰病，身體疼，手足寒，骨節痛，脈沉者。以血行於經絡，走一身而達肢節，水寒而風木鬱陷，是以脈沉。營血鬱澀，不能行一身而暖肢節，是以身疼而肢節寒痛。參、朮、苓、附，補火土而瀉寒水，芍藥清風木之枯燥也。</p>
<p>芍藥甘草湯，芍藥四兩，甘草四兩。治太陽傷寒，脈浮汗出，心煩惡寒，小便數，腳攣急。以陽虛土弱，脾陷胃逆，相火不降而心煩，風木不升而惡寒。風木疏泄，上下失藏，故汗出而尿數。津液耗傷，筋脈焦縮，故腿足攣急。甘草補其土虛，芍藥雙清木火，以復津液也。</p>
<p>相火上郁，則陽泄而煩心，小建中治少陽病心悸而煩者，芍藥清相火之逆升也。</p>
<p>風木下郁，則陽陷而惡寒，芍藥甘草附子湯，芍藥三兩，甘草三兩，附子一枚。治太陽傷寒，發汗病不解，反惡寒者。以汗傷中氣，風木不達，陽氣鬱陷，則表病不解而反加惡寒，緣陽不外達於皮毛也。陽氣之陷，因土虛而水寒。甘草補己土之虛，附子溫癸水之寒，芍藥清風木之燥也。</p>
<p>桂枝去芍藥湯，桂枝三兩，甘草三兩，大棗十二枚，生薑三兩。治太陽傷寒，下後脈促胸滿者。以表證未解，而誤下之，經陽內陷，為里陰所拒，結於胸膈，則為結胸。若脈促者，　「仲景脈法」：脈來數，時一止復來者，名曰促。是經陽不至全陷，「脈法」：陽盛則促，是為里陰所壅逼。故表證猶未解也，可用桂枝表藥。若覺胸滿，則當去芍藥。緣下傷中氣，里陰上逆，表陽內陷，為里陰所拒，是以胸雖不結，而亦覺壅滿，里陽既敗，故去芍藥之酸寒，而以桂枝達其經陽也。若微覺惡寒，便是陽陷稍深，則於去芍藥方中，加附子以溫寒水也。</p>
<p>真武湯，下利者，去芍藥，加乾薑二兩，以肝脾陽敗，則下陷而為泄利，故去芍藥之酸寒，而加乾薑之辛溫也。</p>
<p>陽根於水，升於肝脾，而化丁火，水寒土濕，脾陽郁陷，下遏肝木升達之路，則鬱勃而克脾土，腹痛裡急之病，於是生焉。厥陰以風木之氣，生意不遂，積鬱怒發，而生風燥，是以厥陰之病，必有風邪。風性疏泄，以風木抑遏，而行疏泄之令，若消若淋，若泄若痢，若崩若漏，若帶若遺，始因鬱而欲泄，究欲泄而終郁，其或塞或通，均之風燥則一也。芍藥酸寒入肝，專清風燥而斂疏泄，故善治厥陰木鬱風動之病。肝膽表裡同氣，下清風木，上清相火，並有捷效。</p>
<p>然能泄肝膽風火，亦伐脾胃之陽，《傷寒》：太陰為病，脈弱，其人續自便利，設當行大黃、芍藥者，宜減之，以其人胃氣弱，易動故也。凡風木之病，而脾胃虛弱，宜稍減之，與薑、桂、苓、術並用，土木兼醫。若至大便滑泄，則不可用矣。黃芩湯、大柴胡用之治少陽之下利，以甲木而克戊土，所以瀉少陽之相火也。傷寒別經及雜證下利，皆肝脾陽陷，不宜芍藥。其敗土伐陽，未如地黃之甚，然瀉而不補，亦非虛家培養之劑也。</p>
<p>《金匱》婦人腹痛用芍藥諸方，總列於後。妊娠及雜病諸腹痛，當歸芍藥散主之。方在當歸。產後腹痛煩滿，枳實芍藥散主之。方在枳實。產後虛羸，腹痛裡急，痛引腰背，雜病腹中痛，小建中湯主之。方在膠飴。帶下，少腹滿痛，經一月再見者，土瓜根散主之。方在土瓜根。</p>
<p><u>防風</u>　味甘、辛，入足厥陰肝經。燥己土而瀉濕，達乙木而熄風。</p>
<p>金匱桂枝芍藥知母湯方在桂枝。用之治歷節疼痛，以其燥濕而舒筋脈也。薯蕷丸方在薯蕷。用之治虛勞，風氣百病，以其燥濕而達木鬱也。竹葉湯方在竹葉。用之治產後中風，發熱面赤，以其疏木而發營郁也。</p>
<p>厥陰風木之氣，土濕而木氣不達，則鬱怒而風生。防風辛燥發揚，最瀉濕土而達木鬱，木達而風自息，非防風之發散風邪也。風木疏泄，則竅開而汗出，風靜而汗自收，非防風之收斂肌表也。其諸主治，行經絡，逐濕淫，通關節，止疼痛，舒筋脈，伸急攣，活肢節，起癱瘓，清赤眼，收冷淚，斂自汗盜汗，斷漏下崩中。</p>
<p><u>柴胡</u>　味苦，微寒，入足少陽膽經。清膽經之鬱火，瀉心家之煩熱，行經於表裡陰陽之間，奏效於寒熱往來之會，上頭目而止眩暈，下胸脅而消硬滿，口苦咽乾最效，眼紅耳熱甚靈，降膽胃之逆，升肝脾之陷，胃口痞痛之良劑，血室鬱熱之神丹。</p>
<p>傷寒小柴胡湯，柴胡半斤，半夏半升，甘草三兩，黃芩三兩，人參三兩，大棗十二枚，生薑三兩。治少陽傷寒中風五六日，往來寒熱，胸脅苦滿，默默不欲飲食，心煩喜嘔。以少陽之經，居表陽里陰之中，表陽內郁，則熱來而寒往，里陰外乘，則熱往而寒來。其經行於胸脅，循胃口而下，逆而上行，戊土被克，膽胃俱逆，土木壅遏，故飲食不納，胸脅滿而煩嘔生。少陽順降，則下溫而上清，少陽逆升，則下寒而上熱，熱勝則傳陽明，寒勝則傳太陰。柴胡、黃芩，清瀉半表，使不熱勝而入陽明，參、甘、大棗，溫補半里，使不寒勝而入太陰，生薑、半夏，降濁陰之沖逆而止嘔吐也。又治腹中急痛者，以膽胃逼迫，則生痞痛，參、甘、大棗、柴胡、黃芩，內補土虛而外疏木鬱也。治婦人中風，經水適斷，熱入血室，寒熱如瘧，發作有時者。以經水適斷，血室方虛，少陽經熱，傳於厥陰，而入血室。夜而血室熱作，必神撓亂，譫妄不明。外有胸脅痞滿，少陽經證。肝膽同氣，柴、芩清少陽經中之熱，亦即清厥陰血室之熱也。</p>
<p>大柴胡湯，柴胡半斤，黃芩三兩，半夏半升，生薑五兩，大棗十二枚，芍藥二兩，枳實四兩，大黃二兩。治少陽傷寒，汗出不解，心中痞硬，嘔吐而下利者。以少陽半表陽旺，熱勝而傳陽明，汗愈泄而胃愈燥，故汗出不解。甲木侵迫，戊土被逼，胃氣鬱遏，水穀莫容，故吐利俱作。胃口壅塞，故心中痞硬。少陽證罷，便是陽明之承氣證，此時痞硬嘔利，正在陽明少陽經腑合病之秋。柴、芩、芍藥，清少陽之經，枳實、大黃，瀉陽明之腑，生薑、半夏，降濁氣而止嘔逆也。</p>
<p>金匱鱉甲煎丸方在鱉甲。用之治病瘧一月不差，結為癥瘕，以瘧邪亦居少陽之部，柴胡所以散少陽經氣之痞塞也。</p>
<p>寒性閉塞而營性發散，傷寒則寒愈閉而營愈發，發而不通，遂裹束衛氣而生表寒，遲則陽鬱而後發熱。風性疏泄而衛性收斂，中風則風愈泄而衛愈斂，斂而不啟，遂遏逼營血而生裡熱，遲則陰鬱而後惡寒。陽盛於三陽，陰盛於三陰，少陽之經，行於二陽三陰之中，半表半裡之介，半里之陰乘於外，則閉藏而為寒，及其衰也，內郁之陽，又鼓發而為熱，熱來則寒往矣，半表之陽發於內，則蒸騰而為熱，及其衰也，內郁之陰，又裹束而為寒，寒來則熱往矣。陽明之不能熱往而寒來者，陽盛於表也，太陰之不能寒往而熱來者，陰盛於裡也。足少陽以甲木而化相火，順則下行而溫水臟，相火下秘，故上清而下暖，逆而上行，出水腑而升火位，故下寒而上熱。下寒則半里之陰內旺，所以勝表陽而為寒，上熱則半表之陽外旺，所以勝里陰而為熱。表陽里陰，各居其半，均勢相爭，勝負循環，則見寒熱之往來。陰勝則入太陰之臟，但有純寒而熱不能來，陽勝則入陽明之腑，但有純熱而寒不能來。</p>
<p>入腑則吉，徐用承氣，瀉其內熱而外無別慮，入臟則凶，急用四逆，溫其裡寒而未必萬全，是以入臟為逆，入腑為順，然入腑失下而亦有死者，究不如在經之更順也。方其在經，陰陽搏戰，勝負未分，以小柴胡雙解表裡，使表陽不至傳腑，里陰不至傳臟，經邪外發，汗出病退，此小柴胡之妙也。</p>
<p>足少陽經，自頭走足，行身之側，起於目之外眥，從耳下項，由胸循脅，繞胃口而下行，病則逆行，上克戊土，而刑辛金。以甲木而克戊土，胃無下降之路，則氣逆而作嘔吐，以相火而刑辛金，肺無下降之路，則氣逆而生咳嗽。辛金被賊，則痞塞於胸脅，戊土受虐，則脹滿於腹脅，以其經氣之結滯也。木氣盛則擊撞而痛生，火氣盛則熏蒸而發熱，凡自心脅胸肋而上，若缺盆頸項，若咽喉口齒，若輔頤腮顴，若耳目額角，一切兩旁熱痛之證，皆少陽經氣之逆行也。少陽甲木，居於左而行於右，邪輕則但發於左，邪旺則並見於右。柴胡入少陽之經，清相火之煩蒸，疏木氣之結塞，奏效最捷，無論內外感傷，凡有少陽經病，俱宜用之。緣少陽之性，逆行則壅迫而暴烈，順行則松暢而和平，柴胡清瀉而疏通之，經氣衝和，則反逆為順，而下行也。</p>
<p>肝膽表裡相通，乙木下陷而生熱者，凡諸淋濁泄利之類，皆有殊功。以其輕清蕭散，甚與肝膽之鬱熱相宜，熱退郁消，自復升降之舊，故既降少陽之逆，亦升厥陰之陷。痔漏之證，因手少陽之陷，瘰癧之證，因足少陽之逆，並宜柴胡。</p>
<p><u>黃芩</u>　味苦，氣寒，入足少陽膽、足厥陰肝經。清相火而斷下利，瀉甲木而止上嘔，除少陽之痞熱，退厥陰之鬱蒸。</p>
<p>傷寒黃芩湯，黃芩三兩，芍藥二兩，甘草一兩，大棗十二枚。若嘔者，加半夏半升，生薑三兩。治太陽少陽合病，自下利者。以太陽而傳少陽，少陽經氣內遏，必侵克戊土，而為嘔利。逆而不降，則壅逼上脘而為嘔，降而不舒，則鬱迫下脘而為利。利泄胃陽，則入太陰之臟，利亡脾陰，則傳陽明之腑。少陽以甲木而化相火，易傳陽明而為熱。甘草、大棗，補其脾精，黃芩、芍藥，瀉其相火也。</p>
<p>外臺黃芩湯，黃芩三兩，半夏半升，人參三兩，大棗十二枚，乾薑二兩，桂枝一兩。治乾嘔下利者。以中氣虛寒，脾陷而賊於乙木，則為下利，胃逆而賊於甲木，則為乾嘔。人參、大棗，補中培土，乾薑、桂枝，溫升肝脾而止下利，黃芩、半夏，清降膽胃而止乾嘔也。</p>
<p>傷寒小柴胡湯方在柴胡。用之治往來寒熱，胸脅硬滿，大柴胡湯方在柴胡。用之治發熱汗出，心下痞硬，半夏瀉心湯方在半夏。用之治嘔而發熱，心中痞滿。生薑瀉心湯方在生薑。用之治乾嘔食臭，心下痞硬，甘草瀉心湯方在甘草。用之治水穀不化，心下痞硬。附子瀉心湯方在附子。用之治惡寒汗出，心下痞硬，大黃黃連瀉心湯方在大黃。用之治關上脈浮，心下痞濡，以少陽之經，自頭走足，下胸貫膈，由心下而行兩脅，經氣鬱遏，內攻戊土，胃氣被賊，脹滿不運，外逼少陽之經，結塞不開，是以心脅痞滿，結微則濡，結甚則硬，少陽經郁，相火升炎，黃芩清少陽之相火，以瀉痞郁之熱也。葛根黃芩黃連湯方在葛根。用之治喘而汗出者，澤漆湯方在澤漆。用之治咳而脈浮者，清相火之刑辛金也。乾薑芩連人參湯方在乾薑。用之治食入即吐者，清甲木之克戊土也。金匱鱉甲煎丸方在鱉甲。用之治瘧病結為癥瘕，清少陽之鬱火也。大黃蟅蟲丸方在大黃。用之治虛勞內有乾血，清厥陰之燥熱也。當歸散方在當歸。用之治妊婦諸病，清風木之鬱蒸也。黃土湯方在黃土。用之治便後下血，清風木之疏泄也。</p>
<p>甲木清降，則下根癸水而上不熱，乙木溫升，則上生丁火而下不熱，足厥陰病則乙木鬱陷而生下熱，足少陽病則甲木鬱升而生上熱，以甲木原化氣於相火，乙木亦含孕乎君火也。黃芩苦寒，併入甲乙，瀉相火而清風木，肝膽鬱熱之證，非此不能除也。然甚能寒中，厥陰傷寒，脈遲，而反與黃芩湯徹其熱，脈遲為寒，今與黃芩湯復除其熱，腹中應冷，當不能食，今反能食，此名除中，必死，小柴胡湯，腹中痛者，去黃芩，加芍藥，心下悸，小便不利者，去黃芩，加茯苓，凡脈遲、腹痛、心下悸、小便少者，忌之。</p>
<p>清上用枯者，清下用實者，內行醋炒，外行酒炒。</p>
<p><u>黃柏</u>　味苦，氣寒，入足厥陰肝、足太陰脾經。瀉己土之濕熱，清乙木之鬱蒸，調熱利下重，理黃疸腹滿。</p>
<p>傷寒鳥梅丸方在鳥梅。用之治厥陰傷寒，氣上撞心，心中疼熱，食即吐蛔，以木鬱則蟲化，郁沖而生上熱，黃柏瀉郁升之上熱而殺蛔蟲也。</p>
<p>白頭翁湯方在白頭翁。用之治厥陰病，熱利下重者，以木鬱則利作，郁陷而生下熱，黃柏瀉郁陷之下熱而舉重墜也。</p>
<p>金匱梔子柏皮湯方在梔子。用之治太陰病，身黃髮熱者，大黃硝石湯方在大黃。用之治黃疸腹滿，小便不利者，以乙木濕陷，不能疏泄，郁生下熱，傳於膀胱，水竅不開，溢於經絡，則身黃腹滿而發熱，黃柏瀉濕熱而清膀胱也。</p>
<p>陽衰土濕，乙木不達，抑遏而生濕熱，衝於胃口，則心中疼熱，陷於大腸，則熱利下重，鬱於膀胱，淫於肌膚，則腹滿身黃。黃柏苦寒迅利，疏肝脾而瀉濕熱，清膀胱而排瘀濁，殊有捷效，最瀉肝腎脾胃之陽。後世庸工，以此為滋陰補水之劑，著書立說，傳流不息，誤人多矣。</p>
<p>黃柏清臟腑之濕熱，柏皮清經絡之濕熱，故發熱身黃用柏皮。</p>
<p><u>白頭翁</u>　味苦，性寒，入足少陽膽、足厥陰肝經。清下熱而止利，解鬱蒸而涼血。</p>
<p>傷寒白頭翁湯，白頭翁三兩，黃連三兩，黃柏三兩，秦皮三兩。治厥陰病，熱利下重，欲飲水者。以己土濕陷，木鬱而生下熱，不能疏泄水道，則為下利，緣風木之性，愈鬱則愈泄，水道不開，穀道必不能閉也。足厥陰風木，手少陽相火，俱陷於大腸，故魄門鬱熱而重墜。手少陽下陷，則足少陽上逆，君相合氣，升炎於上，故渴欲飲水。白頭翁清少陽之相火，黃連清少陰之君火，黃柏、秦皮，瀉厥陰之濕熱也。</p>
<p>白頭翁苦寒之性，併入肝膽，瀉相火而清風木，是以善治熱利。其諸主治，消癭瘤，平瘰癧，治禿瘡，化症塊，清咽腫，斷鼻衄，收血利，止腹痛，醫外痔，療偏墜。</p>
<p><u>秦皮</u>　味苦，性寒，入足厥陰肝經。清厥陰之鬱熱，止風木之疏泄。</p>
<p>傷寒白頭翁湯方在白頭翁。用之治熱利下重者，以其清熱而止利也。</p>
<p>秦皮苦寒酸澀，專入厥陰，清鬱蒸而收陷泄。其諸主治，通經脈，開痹塞，洗目赤，收眼淚，去瘴翳，除驚癇，收崩帶，止泄痢。</p>
<p><u>白蘞</u>　味苦，微寒，入足少陽膽、足厥陰肝經。清少陽上逆之火，瀉厥陰下郁之熱。</p>
<p>金匱薯蕷丸方在薯蕷。用之治虛勞，風氣百疾，以其瀉肝膽之鬱熱也。</p>
<p>白蘞苦寒疏利，入肝膽之經，散結滯而清鬱熱。其諸主治，消瘰癧，平痔漏，清赤目，止血痢，除酒齇，滅粉刺，理癰腫，收帶濁，解女子陰中腫痛。</p>
<p><u>豆黃卷</u>　味甘，氣平。利水瀉濕，達木舒筋。</p>
<p>金匱薯蕷丸方在薯蕷。用之，以其瀉濕而疏木也。</p>
<p>大豆黃卷專瀉水濕，善達木鬱，通腠理而逐濕痹，行經脈而破血症，療水鬱腹脹之病，治筋攣膝痛之疾。黑大豆長於利水而行血，及其芽生而為黃卷，更能破瘀而舒筋，以其發舒通達，秉之天性也。黑豆芽生五寸，干之為黃卷。</p>
<p><u>苦參</u>　味苦，性寒，入足厥陰肝、足太陽膀胱經。清乙木而殺蟲，利壬水而瀉熱。</p>
<p>金匱苦參湯，苦參一斤，煎湯熏洗。治狐惑蝕於下部者。以肝主筋，前陰者，宗筋之聚，土濕木陷，鬱而為熱，化生蟲䘌蝕於前陰。苦參清熱而去濕，療瘡而殺蟲也。</p>
<p>當歸貝母苦參丸方在當歸。用之治妊娠小便難，以土濕木陷，鬱而生熱，不能泄水，熱傳膀胱，以致便難，苦參清濕熱而通淋澀也。</p>
<p>苦參苦寒之性，清乙木之瘀熱而殺蟲䘌，瀉壬水之熱澀而開癃閉。其諸主治，療鼻齆，止牙痛，消癰腫，除疥癩，平瘰癧，調痔漏，治黃疸、紅痢、齒衄、便血。</p>
<p><u>生梓白皮</u>　味苦，性寒，入足少陽膽、足陽明胃經。瀉戊土之濕熱，清甲木之鬱火。</p>
<p>傷寒麻黃連翹赤小豆湯方在連翹。用之治太陰病，瘀熱在裡，而發黃者，以其清胃膽上逆之瘀熱也。</p>
<p>太陰土濕，胃氣逆行，脹滿不運，壅礙甲木下行之路，甲木內侵，束逼戊土，相火鬱遏，濕化為熱，則發黃色，以木主五色，入土化黃故也。梓白皮苦寒清利，入膽胃而瀉濕熱，濕熱消則黃自退。膽胃上逆，濁氣熏沖，則生噁心嘔噦之證。濕熱鬱遏，不得汗泄，則生疥痤癬痱之病。其諸主治，清煩熱，止嘔吐，洗癬疥，除瘙癢。</p>
<p><u>甘李根白皮</u>　味澀，性寒，入足厥陰肝經。下肝氣之奔沖，清風木之鬱熱。</p>
<p>金匱奔豚湯，甘草二兩，半夏四兩，生薑四兩，生葛五兩，黃芩三兩，芎藭二兩，當歸二兩，芍藥二兩，甘李根白皮一斤。治奔豚氣，上衝胸，腹痛，往來寒熱。以陽亡脾敗，陷遏乙木，木氣鬱發，衝於臍腹胸膈，則生疼痛，而兼寒熱。緣乙木上衝，胃膽俱逆，少陽郁迫，內與陰爭，勝負迭見，故寒熱往來。厥陰風木之氣，風動血耗，溫郁為熱。甘草補土緩中，生薑、半夏，降甲戊之上逆，黃芩、生葛，清膽胃之鬱熱，芎藭、芍藥，疏木而潤風燥，甘李根白皮清肝而下衝氣也。</p>
<p>甘李根白皮甘寒斂澀，善下厥陰沖氣，故治奔豚。其諸主治，止消渴，除煩逆，斷痢疾，收帶下。</p>
<p><u>狼牙</u>　味苦，性寒，入足厥陰肝經。清乙木之鬱熱，療女子之陰瘡。</p>
<p>金匱狼牙湯，狼牙三兩。水四升，煮半升，以綿纏箸如繭，浸湯瀝陰，日四。治婦人少陰脈滑而數，陰中生瘡，蝕爛者。尺中候腎，尺脈滑數，是木鬱於水，而生下熱，法當陰里生瘡。溫熱蒸腐，故剝蝕而壞爛。狼牙清鬱熱而達乙木，止蝕爛而消痛癢也。</p>
<p>狼牙草苦寒清利，專洗一切惡瘡。其諸主治，止便血，住下痢，療瘡瘍蝕爛，治疥癬瘙癢，女子陰癢，理蟲瘡發癢，殺寸白諸蟲。</p>
<p><u>豬膽汁</u>　味苦，性寒，入足少陽膽經。清相火而止乾嘔，潤大腸而通結燥。</p>
<p>傷寒白通加豬膽汁湯，蔥白四莖，乾薑一兩，生附子一枚，人尿五合，豬膽汁一合。治少陰病下利，厥逆無脈，乾嘔心煩者。以水寒土敗，君相皆飛，甲木克胃，故生乾嘔，丁火失根，故覺心煩。豬膽汁清相火而止嘔，人尿清君火而除煩也。</p>
<p>通脈四逆加豬膽汁湯，甘草三兩，乾薑三兩，大附子一枚，豬膽汁半合。治霍亂吐下既止，汗出而厥，四肢拘急，脈微欲絕者。以相火逆升，汗孔疏泄。豬膽汁清相火而止汗也。</p>
<p>豬膽汁方，大豬膽一枚，瀉汁，和醋少許，灌穀道中。食頃，當大便出。治陽明病，自汗出，小便利，津液內竭，大便硬者。以汗出水利，津亡便硬。證非胃實，不可攻下。豬膽汁合醋，清大腸而潤燥也。</p>
<p>豬膽汁苦寒滋潤，瀉相火而潤燥金，膽熱腸燥者宜之。</p>
<p><u>烏梅</u>　味酸，性澀，入足厥陰肝經。下衝氣而止嘔，斂風木而殺蛔。</p>
<p>傷寒烏梅丸，烏梅三百個，乾薑十兩，細辛六兩，人參六兩，桂枝六兩，當歸四兩，川椒四兩，附子六兩，黃連一斤，黃柏六兩。治厥陰病，氣上衝心，心中疼熱，消渴，食即煩生，而吐蛔者。以水寒土濕，木氣鬱遏，則生蛔蟲。木鬱風動，肺津傷耗，則病消渴。木鬱為熱，衝擊心君，則生疼熱。臟腑下寒，蛔移膈上，則生煩嘔。嘔而氣逆，衝動蛔蟲，則病吐蛔。烏梅、薑、辛，殺蛔止嘔而降沖氣，人參、桂、歸，補中疏木而潤風燥，椒、附，暖水而溫下寒，連、柏，瀉火而清上熱也。</p>
<p>烏梅酸澀收斂，瀉風木而降衝擊，止嘔吐而殺蛔蟲，善醫蛔厥之證。其諸主治，止咳嗽，住泄利，消腫痛，湧痰涎，瀉煩滿，潤燥渴，散乳癰，通喉痹，點黑痣，蝕瘀肉，收便尿下血，止刀箭流血，松霍亂轉筋，開痰厥牙閉。</p>
<p>醋浸一宿，去核，米蒸。</p>
<p><u>棗仁</u>　味甘、酸，入手少陰心、足少陽膽經。寧心膽而除煩，斂神魂而就寐。</p>
<p>金匱酸棗仁湯，酸棗仁二升，甘草一兩，茯苓二兩，芎藭二兩，知母二兩。治虛勞虛煩不得眠。以土濕胃逆，君相郁升，神魂失藏，故虛煩不得眠睡。甘草、茯苓，培土而瀉濕，芎藭、知母，疏木而清熱，酸棗斂神魂而安浮動也。</p>
<p>棗仁酸收之性，斂攝神魂，善安眠睡。而收令太過，頗滯中氣，脾胃不旺，飲食難消者，當與建中燥土，疏木達郁之品並用，不然則土木皆郁，腹脹吞酸之病作矣。其諸主治，收盜汗，止夢驚。生用泄膽熱多眠，熟用補膽虛不寐。</p>
<p><u>山茱萸</u>　味酸，性澀，入足厥陰肝經。溫乙木而止疏泄，斂精液而縮小便。</p>
<p>金匱八味丸方在地黃。用之治男子消渴，小便反多，以其斂精液而止疏泄也。</p>
<p>水主藏，木主泄，消渴之證，木能疏泄而水不蟄藏，精尿俱下，陽根失斂，久而陽根敗，則人死矣。山茱萸酸澀斂固，助壬癸蟄藏之冷，收攝精液，以秘陽根，八味中要藥也。八味之利水，則桂枝、苓、澤之力，非山茱萸所司也。</p>
<p>去核，酒蒸。</p>
<p><u>艾葉</u>　味苦、辛，氣溫，入足厥陰肝經。燥濕除寒，溫經止血。</p>
<p>金匱柏葉湯方在柏葉。用之治吐血不止，膠艾湯方在阿膠。用之治胞阻漏血，以其溫經而止血也。</p>
<p>血生於肝，斂於肺，升於脾，降於胃，行於經絡，而統於中氣，中氣旺則肝脾左升而不下泄，肺胃右降而不上溢，中氣虛敗，肺胃逆升，則上流於口鼻，肝脾下陷，則下脫於便溺。蓋血以陰質而含陽氣，其性溫暖而孕君火，溫則流行而條暢，寒則凝瘀而梗澀，瘀而不行，則為癥瘕，瘀而未結，則經脈莫容，勢必外脫，肺胃之陽虛，則逆流而不降，肝脾之陽虛，則陷泄而不升。肺胃之逆，非無上熱，肝脾之陷，非無下熱，而究其根原，全緣於中下之濕寒。</p>
<p>艾葉和煦通暢，逐濕除寒，暖補血海，而調經絡，瘀澀既開，循環如舊，是以善於止血，而治瘡瘍。其諸主治，止吐衄便尿、胎產崩帶、淋瀝痔漏、刀箭跌損諸血，治發背、癰疽、疔毒、疳瘡、臁瘡、風癩、疥癬諸瘡，除咽喉、牙齒、眼目、心腹諸痛，滅皯黯，落贅疣，調胎孕，掃蟲䘌。</p>
<p><u>灶中黃土</u>　味辛，入足太陰脾、足厥陰肝經。燥濕達木，補中攝血。</p>
<p>金匱黃土湯，灶中黃土半斤，甘草二兩，白朮三兩，黃芩三兩，阿膠三兩，地黃三兩，附子三兩。治先便後血。以水寒土濕，乙木鬱陷而生風，疏泄不藏，以致便血。其下在大便之後者，是緣中脘之失統，其來遠也。黃土、朮、甘，補中燥濕而止血，膠、地、黃芩，滋木清風而瀉熱，附子暖水驅寒而生肝木也。</p>
<p>下血之證，固緣風木之陷泄，而木陷之根，全因脾胃之濕寒。後世醫書，以為腸風，風則有之，而過不在腸，至於脾胃濕寒之故，則絕無知者。愈用清風潤燥之劑，而寒濕愈增，則注泄愈甚，以至水泛火熄，土敗人亡，而終不悟焉，此其所以為庸工也。</p>
<p>灶中黃土，以濕土而得火化，最能燥濕而斂血，合朮、甘以燥土，附子以暖水，膠、地以清風，黃芩以瀉熱，下血之法備矣。蓋水寒則土濕，土濕則木鬱，木鬱則風生，風生則血泄，水暖而土燥，土燥而木達，木達而風靜，風靜而血藏，此必然之理也。</p>
<p>足太陰以濕土主令，辛金從令化氣而為濕，手陽明以燥金主令，戊土從令化氣而為燥，失血之證，陽明之燥衰，太陰之濕旺也。</p>
<p>柏葉燥手太陰足陽明之濕，故止吐血，燥則氣降而血斂，黃土燥手陽明足太陰之濕，故止下血，燥則氣升而血收也。其諸主治，止吐衄、崩帶、便尿諸血，敷發背、癰疽、棍杖諸瘡。</p>
<p><u>新絳</u>　味平，入足厥陰肝經。行經脈而通瘀澀，斂血海而止崩漏。</p>
<p>金匱旋覆花湯方在旋覆花。用之治婦女半產漏下，以其斂血而止漏泄也。</p>
<p>新絳利水滲濕，濕去則木達而血升，故能止崩漏。其諸主治，止崩漏、吐衄、泄利諸血，諸血證皆緣土濕，以中氣濕鬱，故上溢而下泄也。除男子消渴消渴，厥陰風木之病，亦緣太陰土濕。通產後淋瀝。</p>
<p>止血，燒灰存性，研用。消渴、淋瀝，煮湯，溫服。</p>
<p><u>馬通</u>　味辛，性溫，入足厥陰肝經。最能斂氣，長於止血。</p>
<p>金匱柏葉湯方在柏葉。用之治吐血不止，以其斂氣而收血也。</p>
<p>白馬通性善攝血，其諸主治，專止吐衄崩漏諸血。</p>
<p><u>王不留行</u>　味苦，入足厥陰肝經。療金瘡而止血，通經脈而行瘀。</p>
<p>金匱王不留行散，王不留行十分，蒴藘細葉十分，桑東南根白皮十分，甘草十八分，厚朴二分，川椒三分，乾薑二分，黃芩二分，芍藥二分。治病金瘡。以金瘡失血，溫氣外亡，乙木枯槁，風燥必動。甘草培其中氣，厚朴降其濁陰，椒、姜，補溫氣而暖血，芩、芍，清乙木而息風，蒴藋化凝而行瘀，桑根、王不留行，通經而止血也。</p>
<p>王不留行通利經脈，善治金瘡而止血。其諸主治，止鼻血，下乳汁，利小便，出諸刺，消發背癰疽。</p>
<p>八月八日採苗，陰乾百日用。</p>
<p><u>桂枝</u>　味甘、辛，氣香，性溫，入足厥陰肝、足太陽膀胱經。入肝家而行血分，走經絡而達營郁，善解風邪，最調木氣，升清陽脫陷，降濁陰沖逆，舒筋脈之急攣，利關節之壅阻，入肝膽而散遏抑，極止痛楚，通經絡而開痹澀，甚去濕寒，能止奔豚，更安驚悸。</p>
<p>傷寒桂枝湯，桂枝三兩，芍藥三兩，甘草二兩，大棗十二枚，生薑三兩。治太陽中風，頭痛發熱，汗出惡風。以營性發揚，衛性斂閉，風傷衛氣，泄其皮毛，是以汗出。風愈泄而衛愈斂，郁遏營血，不得外達，是以發熱。甘草、大棗，補脾精以滋肝血，生薑調臟腑而宣經絡，芍藥清營中之熱，桂枝達營氣之郁也。</p>
<p>桂枝人參湯，桂枝四兩，人參、白朮、炙甘草、乾薑各三兩。治太陽傷寒，表證未解，而數下之，利下不止，心下痞硬。以誤下傷其中氣，己土陷下而為泄，戊土逆上而為痞，而表證猶存。人參湯理中氣之紛亂，桂枝解表邪之怫鬱也。</p>
<p>桂枝甘草湯，桂枝四兩，甘草二兩。治太陽傷寒，發汗過多，叉手自冒其心，心下悸動，欲得手按者。以陽亡土敗，木氣鬱勃，欲得手按，以定撼搖。甘草、桂枝，培土以達木也。</p>
<p>桂枝加桂湯，桂枝五兩，芍藥三兩，甘草二兩，大棗十二枚，生薑三兩。治太陽傷寒，燒針發汗，針處被寒，核起而赤，必發奔豚，氣從小腹上衝心胸者。以汗後陽虛脾陷，木氣不達，一被外寒，閉其針孔，木氣鬱動，必發奔豚。若氣從小腹上衝心胸，便是奔豚發矣。先灸其針孔，以散其外寒，乃以桂枝加桂，疏乙木而降奔沖也。</p>
<p>凡氣衝心悸之證，皆緣水旺土虛，風木鬱動之故。苓桂朮甘湯，方在茯苓。治太陽傷寒，吐下之後，心下逆滿，氣上衝胸，又發汗動經，身為振振搖者。金匱桂苓五味甘草湯，桂枝四兩，茯苓四兩，五味半升，甘草三兩。治痰飲咳逆，服小青龍湯後，方在麻黃。飲去咳止，氣從少腹上衝胸咽者。與桂苓五味甘草，治其沖氣。防己黃耆湯方在防己。治風濕脈浮身重，氣上衝者，加桂枝三分。傷寒，太陽病下後，其氣上衝者，與桂枝加桂湯。茯苓桂枝甘草大棗湯，方在茯苓。治太陽傷寒汗後，臍下悸動，欲作奔豚者。傷寒理中丸，方在人參。治霍亂吐利，若臍上築者，腎氣動也，去朮，加桂四兩。傷寒四逆散，方在甘草。治少陰病四逆，悸者，加桂五分。以足之三陰，自足走胸，乙木生於癸水而長於己土，水寒土濕，脾氣鬱陷，乙木抑遏，經氣不暢，是以動搖。其始心下振悸，枝葉之不寧也，及其根本搖撼，臍下悸作，則木氣奔突，勢如驚豚，直衝於胸膈咽喉之間。桂枝疏肝脾之鬱抑，使其經氣暢達，則悸安而衝退矣。</p>
<p>烏梅丸，方在烏梅。治厥陰病，氣上衝心，心中疼熱，食則吐蛔。以木鬱則蟲化，木氣勃升，故衝擊而作痛。桂枝疏木達郁，下衝氣而止心痛也。</p>
<p>金匱桂姜枳實湯，桂枝三兩，生薑三兩，枳實五兩。治心中懸疼，氣逆痞塞。以膽胃不降，心下痞塞，礙乙木上行之路，衝擊而生疼痛。枳、姜，降濁而瀉痞，桂枝通經而達木也。</p>
<p>外臺柴胡桂枝湯，柴胡四兩，黃芩二兩半，半夏二合半，甘草一兩，芍藥兩半，大棗六枚，生薑、桂枝各一兩半，人參一兩半。治心腹卒痛。以甲木鬱則上克戊土，而為心疼，乙木鬱則下克己土，而為腹疼。小柴胡補土而疏甲木，芍藥、桂枝，清風而疏乙木也。此本太陽少陽合病之方。少陽傷寒，肢節煩疼，微嘔，心下支結，是少陽之經證也，而外見發熱惡寒，是太陽之經證也，故以柴胡而加桂枝，雙解太少之經。然心腹疼痛之理，亦不外是也。</p>
<p>金匱桂甘薑棗麻附細辛湯，桂枝三兩，甘草二兩，生薑三兩，大棗十二枚，麻黃二兩，附子一枚，細辛三兩。治氣分，心下堅，大如盤，邊如旋杯。氣分，清陽之位，而濁氣痞塞，心下堅，大如盤，邊如旋杯，此下焦陰邪逆填於陽位也。陰邪上逆，原於水旺而土虛。甘、棗，補其土虛，附子溫其水寒，薑、桂、細辛，降其濁陰，麻黃瀉其滯氣也。</p>
<p>桂枝茯苓丸，桂枝、芍藥、丹皮、桃仁、茯苓等分。治妊娠，宿有症病，胎動漏血。以土虛濕旺，中氣不健，胎妊漸長，與症病相礙，中焦脹滿，脾無旋運之路，陷遏乙木，鬱而生風，疏泄失藏，以致血漏。木氣鬱沖，以致胎搖。茯苓瀉濕，丹皮、桃仁，破症而消瘀，芍藥、桂枝，清風而疏木也。</p>
<p>桂枝芍藥知母湯，桂枝、白朮、知母、防風各四兩，芍藥三兩，生薑五兩，麻黃、甘草、附子各二兩。治肢節疼痛，腳腫，身羸，頭眩，欲吐。以四肢稟氣於脾胃，中脘陽虛，四肢失養，濕傷關節，而生腫痛。濁陰阻格，陽不下濟，郁升而生眩暈，逆行而作嘔吐。朮、甘，培土以障陰邪，附子溫下而驅濕寒，知母清上而寧神氣，桂、芍、薑、麻，通經而開痹塞也。</p>
<p>八味腎氣丸，方在地黃。治婦人轉胞，不得小便。男子虛勞腰痛，少腹拘急，小便不利。男子消渴，小便反多。以木主疏泄，職司水道，水寒土濕，木氣抑鬱，疏泄不遂，而愈欲疏泄，泄而弗暢，則小便不利，泄而失約，則小便反多，桂枝疏木以行疏泄也。其短氣有微飲者，宜從小便去之，苓桂朮甘湯主之，腎氣丸亦主之，桂枝善行小便，是以並瀉水飲也。</p>
<p>桂枝附子湯，方在附子。治風濕相摶，骨節疼痛，小便不利，大便堅，小便利者，去桂，加朮，便利而去桂者，木達而疏泄之令行也。</p>
<p>桂枝辛溫發散，入肝脾而行營血。風傷衛氣，衛閉而遏營血，桂枝通達經絡，瀉營鬱而發皮毛，故善表風邪。</p>
<p>肝應春，而主生，而人之生氣充足者，十不得一，即其有之，亦壯盛而不病，病者，皆生氣之不足者也。蓋木生於水而長於土，水溫土燥，陽氣升達，而後生氣暢茂，水寒土濕，生氣失政，於是滯塞而克己土，以其生意不遂，故抑鬱而作賊也。肝病則燥澀湮瘀，經脈亦病。木中孕火，其氣本溫，溫氣存則鬱遏而生風熱，溫氣少則風熱不作，純是濕寒。其濕寒者，生氣之衰，其風熱者，亦非生氣之旺。此肝病之大凡也。</p>
<p>桂枝溫散發舒，性與肝合，得之臟氣條達，經血流暢，是以善達脾郁。經臟榮舒，而條風扇布，土氣松和，土木雙調矣。土治於中，則樞軸旋轉，而木氣榮和，是以既能降逆，亦可升陷，善安驚悸，又止奔豚。至於調經開閉，疏木止痛，通關逐痹，活絡舒筋，噎塞痞痛之類，遺濁淋澀之倫，泄穢、吞酸、便血之屬，胎墜、脫肛，崩中帶下之條，皆其所優為之能事也。大抵雜證百出，非緣肺胃之逆，則因肝脾之陷，桂枝既宜於逆，又宜於陷，左之右之，無不宜之，良功莫悉，殊效難詳。凡潤肝養血之藥，一得桂枝，化陰滯而為陽和，滋培生氣，暢遂榮華，非群藥所能及也。</p>
<p>去皮用。</p>
<p><u>羊肉</u>　味苦，《素問》：羊肉，杏、薤皆苦。氣膻，入足太陰脾、足厥陰肝經。溫肝脾而扶陽，止疼痛而緩急。</p>
<p>金匱當歸生薑羊肉湯，方在當歸。用之治寒疝腹痛者，以水寒木枯，溫氣頹敗，陰邪凝結，則為瘕疝，枯木鬱沖，則為腹痛，羊肉暖補肝脾之溫氣，以消凝郁也。治脅痛裡急者，以厥陰之經，自少腹而走兩脅，肝脾陽虛，乙木不達，郁迫而生痛急，羊肉溫補肝脾之陽氣，以緩迫切也。治產後腹中疼痛者，產後血亡，溫氣脫泄，乙木枯槁，郁克己土，故腹中疼痛，羊肉補厥陰之溫氣，以達枯木也。治虛勞不足者，以虛勞不足，無不由脾肝之陽虛，羊肉補肝脾之陽氣，以助生機也。</p>
<p>羊肉淳濃溫厚，暖肝脾而助生長，緩迫急而止疼痛，大補溫氣之劑也。其諸主治，止帶下，斷崩中，療反胃，治腸滑，暖脾胃，起勞傷，消腳氣，生乳汁，補產後諸虛。</p>
<p><u>黃酒</u>　味苦、辛，性溫，入足厥陰肝、足少陽膽經。行經絡而通痹塞，溫血脈而散凝瘀，善解凝郁，最益肝膽。</p>
<p>金匱鱉甲煎丸，方在鱉甲。治久瘧結為癥瘕。紅藍花酒，方在紅藍花。治婦人諸風，腹中血氣刺痛，並用之，以其通經而行血也。傷寒炙甘草湯、方在甘草。當歸四逆加吳茱萸生薑湯、方在茱萸。金匱腎氣丸、方在地黃。赤丸、方在烏頭。薯蕷丸、方在薯蕷。大黃蟅蟲丸、方在大黃。小建中湯、方在膠飴。當歸芍藥散、方在當歸。白朮散、方在白朮。下瘀血湯、方在大黃。土瓜根散方在土瓜根。諸方皆用之，取其溫行藥力，引達經絡也。</p>
<p>黃酒辛溫升發，溫血脈而消寒澀，陽虛火敗，營衛冷滯者宜之。尤宜女子，故胎產諸方，多用黃酒。</p>
<p><u>苦酒</u>　味酸、苦，性澀，入足厥陰肝經。理咽喉而消腫痛，瀉風木而破凝郁。</p>
<p>傷寒苦酒湯，雞子一枚，去黃，半夏十四枚，苦酒浸。內雞子殼中，火上三沸，去滓，少少含咽之。不差，更作。治少陰病，咽中生瘡，聲不出者。以少陰之經，癸水與丁火同宮，彼此交濟，病則水下流而生寒，火上炎而生熱。手少陰之經挾咽，是以生瘡。金被火刑，故聲不出。苦酒破瘀而消腫，半夏降逆而驅濁，雞子白清肺而發聲也。</p>
<p>豬膽汁方方在豬膽。用之治津亡便硬，以其斂津液而潤燥也。烏梅丸方在烏梅。用之治消渴吐蛔，以其斂風木而瀉肝也。金匱耆芍桂酒湯方在黃耆。用之治黃汗身腫，以其行營瘀而瀉熱也。</p>
<p>苦酒酸苦收澀，善瀉乙木而斂風燥，破瘀結而消腫痛。其諸主治，破瘀血，化癥瘕，除痰涎，消癰腫，止心痛，平口瘡，敷舌腫，塗鼻衄。</p>
<p><u>芎藭</u>　味辛，微溫，入足厥陰肝經。行經脈之閉澀，達風木之抑鬱，止痛切而斷泄利，散滯氣而破瘀血。</p>
<p>金匱白朮散方在白朮。用之養妊娠胎氣，心中痛者，倍加芎藭，當歸芍藥散方在當歸。用之治妊娠腹中疼痛，膠艾湯方在阿膠。用之治妊娠胞阻，漏血腹痛，奔豚湯方在李根白皮。用之治奔豚，氣衝腹痛，以風木鬱沖，則氣阻而痛作，芎藭疏木而達郁，散滯氣而止疼痛也。</p>
<p>溫經湯方在茱萸。用之治婦人帶下，瘀血在腹，腹滿裡急，下利不止，以其風木鬱陷，則血瘀而利生，芎藭疏木達郁，破瘀血而止泄利也。</p>
<p>酸棗仁湯方在酸棗。用之治虛勞虛煩不眠，薯蕷丸方在薯蕷。用之治虛勞，風氣百疾，當歸散方在當歸。用之治婦人妊娠諸病，皆以其疏木而達郁也。</p>
<p>芎藭辛烈升發，善達肝鬱，行結滯而破瘀澀，止疼痛而收疏泄，肝氣鬱陷者宜之。其諸主治，癰疽發背、瘰癧癭瘤、痔漏疥癤諸瘡皆醫，口鼻、牙齒、便溺諸血皆止。</p>
<p><u>牡丹皮</u>　味苦、辛，微寒，入足厥陰肝經。達木鬱而清風，行瘀血而瀉熱，排癰疽之膿血，化臟腑之癥瘕。</p>
<p>金匱腎氣丸方在地黃。用之治消渴，小便反多。以肝木藏血而性疏泄，木鬱血凝，不能疏泄水道，風生而燥盛，故上為消渴而下為淋澀。及其積鬱怒發，一泄而不藏，則膀胱失約而小便不禁。丹皮行血清風，調通塞之宜也。</p>
<p>鱉甲煎丸方在鱉甲。用之治久瘧而為癥瘕，桂枝茯苓丸方在桂枝。用之治妊娠宿有症病，溫經湯方在茱萸。用之治帶下，瘀血在腹，大黃牡丹皮湯方在大黃。用之治腸癰膿成，其脈洪數，以其消症瘀而排膿血也。</p>
<p>牡丹皮辛涼疏利，善化凝血而破宿症，瀉鬱熱而清風燥。緣血統於肝，肝木遏陷，血脈不行，以致瘀澀，而生風熱，血行瘀散，則木達風清，肝熱自退也。其諸主治，通經脈，下胞胎，清血熱，涼骨蒸，止吐衄，斷淋瀝，安撲損，續折傷，除癩風，消偏墜。</p>
<p><u>桃仁</u>　味甘、苦、辛，入足厥陰肝經。通經而行瘀澀，破血而化癥瘕。</p>
<p>傷寒桃核承氣湯，桃仁五十枚，甘草、桂枝、芒硝各一兩，大黃四兩。治太陽傷寒，熱結膀胱，其人如狂，外證已解，但小腹急結者。太陽為膀胱之經，膀胱為太陽之腑，太陽表證不解，經熱內傳，結於膀胱之腑，血室瘀蒸，其人如狂，是宜攻下。若外證未解，不可遽下，俟其表熱汗散，但只小腹急結者，乃用下法。甘草補其中氣，桂枝、桃仁，行經脈而破凝瘀，芒硝、大黃，瀉鬱熱而下積血也。</p>
<p>抵當湯方在大黃。用之治血結膀胱，少腹硬滿，金匱鱉甲煎丸方在鱉甲。用之治久瘧不愈，結為癥瘕，大黃蟅蟲丸方在大黃。用之治虛勞腹滿，內有乾血。桂枝茯苓丸方在桂枝。用之治宿有症病，胎動下血，下瘀血湯方在大黃。用之治產婦腹痛，中有瘀血，大黃牡丹皮湯方在大黃。用之治腸癰膿成，其脈洪數，以其破症瘀而行膿血也。</p>
<p>桃仁辛苦滑利，通經行血，善潤結燥而破症瘀。其諸主治，止咳逆，平喘息，斷崩漏，殺蟲䘌，療心痛，醫腹痛，通經閉，潤便燥，消心下堅積，止陰中腫癢，縮小兒㿗疝，掃男子牙血。</p>
<p>泡，去皮尖。</p>
<p><u>土瓜根</u>　味苦，微寒，入足厥陰肝經。調經脈而破瘀澀，潤腸燥而清陰癩。</p>
<p>金匱土瓜根散，土瓜根、蟅蟲、桂枝、芍藥等分。為散，酒服方寸匕，日進三服。治女子經水不利，一月再見，少腹滿痛者。以肝主藏血而性疏泄，木鬱不能疏泄，血脈凝澀，故經水不利。木鬱風動，而愈欲疏泄，故一月再見。風木遏陷，鬱塞衝突，故少腹滿痛。從此郁盛而不泄，則病經閉，泄多而失藏，則病血崩。桂枝、芍藥，疏木而清風，土瓜根、蟅蟲，破瘀而行血也。又治陰門癩腫者，以其行血而達木也。肝氣鬱陷，則病癩腫。又，導大便結硬者，以其瀉熱而潤燥也。陽明傷寒，自汗出，小便利，津液內竭，而便硬者，當須自欲大便，蜜煎導而通之，土瓜根、豬膽汁，皆可為導。《肘後方》：土瓜根汁，入少水，內筒，吹入肛門內，取通。</p>
<p>土瓜根苦寒滑利，善行經脈，破瘀行血，化癖消症。其諸主治，通經閉，下乳汁，消瘰癧，散癰腫，排膿血，利小便，滑大腸，療黃疸，墜胎孕。</p>
<p><u>蒴藋</u>　味酸，微涼，入足厥陰肝經。行血通經，消瘀化凝。</p>
<p>金匱王不留行散方在王不留行。用之治病金瘡，以其行血而消瘀也。</p>
<p>蒴藋辛涼清利，善行凝瘀，而通血脈。其諸主治，療水腫，逐濕痹，下症塊，破瘀血，洗隱疹風瘙，敷腳膝腫痛。</p>
<p>七月七日採細葉，陰乾百日用。</p>
<p><u>乾漆</u>　味辛，入足厥陰肝經。專通經脈，善破瘕症。</p>
<p>金匱大黃蟅蟲丸方在大黃。用之治虛勞腹滿，內有乾血，以其化堅症而破乾血也。</p>
<p>乾漆辛烈之性，善破瘀血，其力甚捷。而尤殺諸蟲，肝氣遏抑，血瘀蟲化者宜之。</p>
<p>炒枯存性，研細。</p>
<p><u>紅藍花</u>　味辛，入足厥陰肝經。專行血瘀，最止腹痛。</p>
<p>金匱紅藍花酒，紅藍花一兩，酒一升。煎減半，分服。治婦人諸風，腹中血氣刺痛。肝主藏血，木鬱風動，肝血枯燥，郁克己土，則生疼痛。紅藍花行血而破瘀，黃酒溫經而散滯也。</p>
<p>紅藍花活血行瘀，潤燥止痛，最能疏木而清風。其諸主治，通經脈，消胕腫，下胎衣，開喉閉，蘇血暈，吹聹耳。</p>
<p><u>敗醬</u>　味苦，微寒，入足厥陰肝經。善破瘀血，最排癰膿。</p>
<p>金匱薏苡附子敗醬散方在薏苡。用之治腸癰脈數，以其排積膿而行瘀血也。</p>
<p>敗醬苦寒通利，善破瘀血而消癰腫，排膿穢而化癥瘕。其諸主治，止心痛，療腹疼，住吐衄，破癥瘕，催生產，落胎孕，收帶下，平疥癬，除翳膜，去胬肉。敗醬即苦菜也。</p>
<p><u>鱉甲</u>　味鹹，氣腥，入足厥陰肝、足少陽膽經。破癥瘕而消凝瘀，調癰疽而排膿血。</p>
<p>金匱鱉甲煎丸，鱉甲十二分，柴胡六分，黃芩三分，人參一分，半夏一分，桂枝三分，芍藥五分，阿膠三分，乾薑三分，大黃三分，厚朴三分，葶藶一分，石韋三分，瞿麥二分，赤硝十二分，桃仁二分，丹皮五分，烏扇三分，紫葳三分，蜣螂六分，鼠婦三分，蜂窠四分，蟅蟲五分。為末，煅灶下灰一斗，清酒一斛五斗，浸灰，候酒盡一半，入鱉甲，煎化，取汁，入諸藥中，煎為丸，梧桐子大，空心服七丸，日進三服。治病瘧一月不差，結為癥瘕。以寒濕之邪，客於厥陰少陽之界，陰陽交爭，寒熱循環，本是小柴胡加桂姜證，久而不解，經氣痞塞，結於脅下，而為癥瘕，名曰瘧母。此瘧邪埋根，不可不急治之也。鱉甲行厥陰而消癥瘕，半夏降陽明而鬆痞結，柴胡、黃芩，清瀉少陽之表熱，人參、乾薑，溫補太陰之裡寒，此小柴胡之法也，桂枝、膠、芍，疏肝而潤風燥，此桂枝之法也，大黃、厚朴，瀉胃而清郁煩，此承氣之法也，葶藶、石韋、瞿麥、赤硝，利水而泄濕，丹皮、桃仁、烏扇、紫葳、蜣螂、鼠婦、蜂窠、蟅蟲，破瘀而消症也。</p>
<p>升麻鱉甲湯方在升麻。用之治陽毒、陰毒，以其排膿穢而行血瘀也。</p>
<p>鱉甲化瘀凝，消癥瘕而排膿血。其諸主治，下奔豚，平腸癰，療沙淋，治經漏，調腰痛，敷唇裂，收口瘡不斂，消陰頭腫痛。</p>
<p>醋炙焦，研細用。</p>
<p><u>紫葳</u>　味酸，微寒，入足厥陰肝經。專行瘀血，善消症塊。</p>
<p>金匱鱉甲煎丸方在鱉甲。用之治病瘧日久，結為癥瘕，以其行瘀而化癖也。</p>
<p>紫葳酸寒通利，破瘀消症。其諸主治，通經脈，止淋瀝，除崩中，收帶下，平酒齇，滅風刺，治癩風，療陰瘡。紫葳即凌霄花。</p>
<p><u>蟅蟲</u>　味鹹，微寒，入足厥陰肝經　善化瘀血，最補損傷。</p>
<p>金匱鱉甲煎丸方在鱉甲。用之治病瘧日久，結為癥瘕，大黃䗪蟲丸方在大黃。用之治虛勞腹滿，內有乾血，下瘀血湯方在大黃。用之治產後腹痛，內有瘀血，土瓜根散方在土瓜根。用之治經水不利，少腹滿痛，以其消症而破瘀也。</p>
<p>蟅蟲鹹寒疏利，專破症瘀，兼補傷損。其諸主治，療折傷，續筋骨。</p>
<p>炒枯存性，研細用。</p>
<p><u>蜣螂</u>　味鹹，微寒，入足厥陰肝經。善破癥瘕，能開燥結。</p>
<p>金匱鱉甲煎丸方在鱉甲。用之治病瘧日久，結為癥瘕，以其破症而開結也。</p>
<p>炒枯存性，研細用。</p>
<p><u>鼠婦</u>　味酸，微寒，入足厥陰肝經。善通經脈，能化癥瘕。</p>
<p>金匱鱉甲煎丸方在鱉甲。用之治病瘧日久，結為癥瘕，以其破血而消堅也。</p>
<p>炒枯存性，研細用。鼠婦，濕生蟲，在磚石下，形如蠹魚。</p>
<p><u>蜂窠</u>　味鹹，入足厥陰肝經。能化結硬，善破堅積。</p>
<p>金匱鱉甲煎丸方在鱉甲。用之治病瘧日久，結為癥瘕，以其消結而破堅也。</p>
<p>炒枯存性，研細用。</p>
<p><u>虻蟲</u>　味甘，微寒，入足厥陰肝經。善破瘀血，能化宿症。</p>
<p>金匱抵當湯方在大黃。用之治血結膀胱，少腹硬滿，大黃蟅蟲丸方在大黃。用之治虛勞腹滿，內有乾血，以其破瘀而消症也。</p>
<p>虻蟲苦寒，專破浮結之血，最墮胎孕。</p>
<p>炒枯，去翅足，研細用。</p>
<p><u>水蛭</u>　味鹹、苦，微寒，入足厥陰肝經。善破積血，能化堅症。</p>
<p>金匱抵當湯方在大黃。用之治血結膀胱，少腹硬滿，大黃蟅蟲丸方在大黃。用之治虛勞腹滿，內有乾血，以其破堅而化積也。</p>
<p>水蛭鹹寒，善下沉積之血，最墮胎孕。</p>
<p>炒枯存性，研細用。</p>
<p><u>蠐螬</u>　味鹹，微寒，入足厥陰肝經。能化瘀血，最消症塊。</p>
<p>金匱大黃蟅蟲丸方在大黃。用之治虛勞腹滿，內有乾血，以其破瘀而化積也。</p>
<p>炒枯存性，研細用。</p>
<p><u>蜘蛛</u>　味苦，微寒，入足厥陰肝經。能消偏墜，善治狐疝。</p>
<p>金匱蜘蛛散，蜘蛛十四枚，桂枝半兩。為散，取八分匙，飲和，日再服。治狐疝，偏墜有大小，時時上下。以水寒木陷，氣鬱為腫，出入無常，狀如妖狐。蜘蛛破瘀而消腫，桂枝疏木而升陷也。</p>
<p>炒枯存性，研細用。</p>
<p><u>雄黃</u>　味苦，入足厥陰肝經。燥濕行瘀，醫瘡殺蟲。</p>
<p>金匱雄黃散，雄黃，為末，筒瓦二枚合之，燒熏肛門。治狐惑蝕於肛者。以土濕木陷，鬱而生熱，化生蟲䘌，蝕於肛門。雄黃殺蟲而醫瘡也。</p>
<p>升麻鱉甲湯方在升麻。用之治陽毒、陰毒，以其消毒而散瘀也。</p>
<p>雄黃燥濕殺蟲，善治諸瘡。其諸主治，消腫痛，治瘡瘍，化瘀血，破症塊，止泄痢，續折傷，避邪魔，驅蟲蛇。</p>
<p><u>鉛丹</u>　味辛，入足少陽膽、足厥陰肝經。降攝神魂，鎮安驚悸。</p>
<p>傷寒柴胡加龍骨牡蠣湯方在龍骨。用之治少陽傷寒，胸滿煩驚，以其降逆而斂魂也。</p>
<p>鉛丹沉重降斂，寧神魂而安驚悸。其諸主治，療瘡瘍，去翳膜。</p>
<p><u>鉛粉</u>　味辛，入足厥陰肝經。善止泄利，能殺蛔蟲。</p>
<p>傷寒豬膚湯方在豬膚。用之治少陰病，下利咽痛，以其止利而醫瘡也。甘草粉蜜湯方在甘草。用之治蛔蟲，吐涎心痛，以其燥濕而殺蟲也。</p>
<p>鉛粉燥澀之性，能殺蟲䘌而止滑溏。其諸主治，止諸血，療諸瘡，續折傷，染鬚髮。</p>

<h1>卷三</h1>
<p><u>黃耆</u>　味甘，氣平，入足陽明胃、手太陰肺經。入肺胃而補氣，走經絡而益營，醫黃汗血痹之證，療皮水風濕之疾，歷節腫痛最效，虛勞裡急更良，善達皮腠，專通肌表。</p>
<p>金匱黃耆芍藥桂酒湯，黃耆五兩，芍藥三兩，桂枝三兩，苦酒一升。治黃汗身腫，發熱汗出而渴，汗沾衣，色黃如柏汁，脈自沉者。以汗出入水，水從竅入，淫泆於經絡之間，阻其衛氣，壅而為腫。衛氣不行，遏其營血，鬱而為熱。脾為己土，肌肉司焉，水氣浸淫，肌肉滋濕，營行經絡之中，遏於濕土之內，鬱熱熏蒸，化而為黃。營秉肝氣，而肝司五色，入脾為黃，營熱蒸發，衛不能閉，則開其皮毛，泄為黃汗，緣營血閉遏，而木鬱風動，行其疏泄之令也。風熱消爍，津液耗傷，是以發渴。木氣遏陷，不得升達，是以脈沉。黃耆走皮毛而行衛郁，桂枝走經絡而達營郁，芍藥、苦酒，瀉營熱而清風木也。</p>
<p>桂枝加黃耆湯，桂枝三兩，芍藥三兩，甘草二兩，大棗十二枚，生薑三兩，黃耆二兩。治黃汗，兩脛自冷，腰髖弛痛，如有物在皮中，身疼重，煩躁，腰以上汗出，小便不利。以水在經絡，下注關節，外阻衛陽而內遏營陰，營遏木陷，溫氣淪郁，內熱不宣，故兩脛自冷。風木鬱勃，經絡鼓盪，故腰髖弛痛，如有物在皮中。濕淫外束，故疼重煩躁。木陷而鬱於濕土，故小便不利。風升而開其孔竅，故腰以上汗出。水穀未消，中氣滿脹，營愈鬱而熱愈發，故食已則汗。暮而衛氣入陰，為營氣所阻，不得內斂，故外泄皮毛，而為盜汗。營熱鬱隆，不為汗減，熱蒸血敗，不能外華皮腠，久而肌膚枯澀，必至甲錯。血肉腐潰，必生惡瘡。甘、棗、生薑，補宣中氣，芍藥瀉營熱而清風木，桂枝達營氣之郁，黃耆行衛氣之郁，助以熱粥，而發微汗，經熱自隨汗泄也。</p>
<p>黃耆桂枝五物湯，黃耆三兩，桂枝三兩，芍藥三兩，生薑六兩，大棗十二枚。治血痹，身體不仁，狀如風痹，脈尺寸關上俱微，尺中小緊。以疲勞汗出，氣蒸血沸之時，安臥而被微風，皮毛束閉，營血凝澀，衛氣鬱遏，漸生麻痹。營衛阻梗，不能煦濡肌肉，久而枯槁無知，遂以不仁。營衛不行，經絡無氣，故尺寸關上俱微。營遏木陷，郁動水內，而不能上達，故尺中小緊。大棗、芍藥，滋營血而清風木，薑、桂、黃耆，宣營衛而行瘀澀，倍生薑者，通經而開痹也。</p>
<p>肝脾左旋，癸水溫升而化血，肺胃右轉，丁火清降而化氣。血司於肝，其在經絡則曰營，氣司於肺，其在經絡則曰衛。營行脈中，為衛之根，衛行脈外，為營之葉。營衛周行，一日五十度，陰陽相貫，如環無端。其流溢之氣，內溉臟腑，外濡腠理。營衛者，氣血之精華者也。二十二難：脈有是動，有所生病，是動者，氣也，所生病者，血也。氣主煦之，血主濡之，氣留而不行者，氣先病也，血滯而不濡者，血後病也。血陰而氣陽，陰靜而陽動，陰則內守，陽則外散，靜則不闢，動則不闔，而衛反降斂，以其清涼而含陰魄，營反溫升，以其溫暖而抱陽魂也。衛本動也，有陰以闔之，則動者化而為降斂，營本靜也，有陽以闢之，則靜者變而為升發。然則血之溫暖，氣煦之也，營之流行，衛運之也，是以氣有所動，則血病生焉。氣冷而後血寒，衛梗而後營瘀，欲調血病，必益血中之溫氣，欲調營病，必理營外之衛陽。衛氣者，逆則不斂，陷則不發，鬱則不運，阻則不通，是營血受病之原也。黃耆清虛和暢，專走經絡，而益衛氣。逆者斂之，陷者發之，郁者運之，阻者通之，是燮理衛氣之要藥，亦即調和營血之上品。輔以薑、桂、芍藥之類，奏功甚捷，余藥不及也。</p>
<p>五行之氣，涼則收而寒則藏，氣之清涼而收斂者，秉金氣也。黃耆入肺胃而益衛氣，佐以辛溫則能發，輔以酸涼則善斂，故能發表而出汗，亦能斂表而止汗。小兒痘病，衛為營閉，不得外泄。衛旺則發，衛衰則陷，陷而不發者，最宜參耆，助衛陽以發之。凡一切瘡瘍，總忌內陷，悉宜黃耆。</p>
<p>蜜炙用。生用微涼，清表斂汗宜之。</p>
<p><u>薯蕷</u>　味甘，氣平，入足陽明胃、手太陰肺經。養戊土而行降攝，補辛金而司收斂，善熄風燥，專止疏泄。</p>
<p>金匱薯蕷丸，薯蕷三十分，麥冬六分，桔梗五分，杏仁六分，當歸十分，阿膠七分，乾地黃十分，芍藥六分，芎藭六分，桂枝十分，大棗百枚為膏，人參七分，茯苓五分，白朮六分，甘草二十分，神麯十分，乾薑三分，柴胡五分，白蘞二分，豆黃卷十分，防風六分。蜜丸，彈子大，空腹酒服一丸。治虛勞諸不足，風氣百疾。以虛勞之病，率在厥陰風木一經，厥陰風木，泄而不斂，百病皆生。肺主降斂，薯蕷斂肺而保精，麥冬清金而寧神，桔梗、杏仁，破壅而降逆，此所以助辛金之收斂也，肝主升發，歸、膠，滋肝而養血，地、芍，潤木而清風，芎藭、桂枝，疏鬱而升陷，此所以輔乙木之升發也，升降金木，職在中氣，大棗補己土之精，人參補戊土之氣，苓、朮、甘草，培土而瀉濕，神麯、乾薑，消滯而驅寒，此所以理中而運升降之樞也，賊傷中氣，是惟木邪，柴胡、白蘞，瀉火而疏甲木，黃卷、防風，燥濕而達乙木，木靜而風息，則虛勞百病瘳矣。</p>
<p>陰陽之要，陽密乃固，陰平陽秘，精神乃治，陰陽離決，精氣乃絕。《素問》語。四時之氣，木火司乎生長，金水司乎收藏，人於秋冬之時，而行收藏之政，寶澀精神，以秘陽根，是謂聖人。下此於蟄藏之期，偏多損失，坎陽不密，木鬱風生，木火行疏泄之令，金水無封閉之權，於是驚悸、吐衄、崩帶、淋遺之病，種種皆起。是以虛勞之證非一，無不成於乙木之不謐，始於辛金之失斂，究之總緣於土敗。蓋坎中之陽，諸陽之根，坎陽走泄，久而癸水寒增，己土濕旺，脾不能升而胃不能降，此木陷金逆所由來也。法當溫燥中脘，左達乙木而右斂辛金。薯蕷之性，善入肺胃而斂精神，輔以調養土木之品，實虛勞百病之良藥也。</p>
<p><u>五味子</u>　味酸、微苦、咸，氣澀，入手太陰肺經。斂辛金而止咳，收庚金而住泄，善收脫陷，最下衝逆。</p>
<p>傷寒小青龍湯，方在麻黃。治太陽傷寒，心下有水氣，乾嘔，發熱而咳，用五味、乾薑、細辛，斂肺降逆，以止咳嗽。</p>
<p>小柴胡湯，方在柴胡。治少陽傷寒。若咳者，去人參、大棗、生薑，加五味、乾薑。真武湯，方在茯苓。治少陰病，內有水氣，腹痛下利。若咳者，加五味半升，細辛、乾薑各一兩。四逆散，方在甘草。治少陰病四逆，咳者，加五味、乾薑各五分，並主下利。金匱厚朴麻黃湯、方在厚朴。射干麻黃湯，方在射干。並用之，以治咳嗽。小青龍湯，治痰飲咳逆，飲去咳止，氣從少腹上衝胸咽者，以桂苓五味甘草湯治其氣衝，咳嗽沖逆者，辛金之不斂也，泄利滑溏者，庚金之不斂也。五味酸收澀固，善斂金氣，降辛金之上衝而止咳逆，升庚金之下脫而止滑泄，一物而三善備焉。金收則水藏，水藏則陽秘，陽秘則上清而下溫，精固而神寧，是亦虛勞之要藥也。</p>
<p><u>訶黎勒</u>　味酸、微苦，氣澀，入手陽明大腸、手太陰肺經。收庚金而住泄，斂辛金而止咳，破壅滿而下衝逆，疏鬱塞而收脫陷。</p>
<p>金匱訶黎勒散，訶黎勒十枚。為散，粥飲和，頓服。治氣利，以肝脾郁陷，二氣凝塞，木鬱風動，疏泄失藏，而為下利。利則氣阻而痛澀，是為氣利。訶黎勒行結滯而收滑脫也。</p>
<p>腸陷而為利者，清氣滯塞而不收也，肺逆而為咳者，濁氣壅塞而不斂也。訶黎勒苦善瀉而酸善收，苦以破其壅滯，使上無所格而下無所礙，酸以益其收斂，使逆者自降而陷者自升，是以咳利俱止也。其治胸滿心痛，氣喘痰阻者，皆破壅降逆之力，其治崩中帶下，便血墮胎者，皆疏郁升陷之功也。</p>
<p><u>白前</u>　味甘、辛，入手太陰肺經。降沖逆而止嗽，破壅塞而清痰。</p>
<p>金匱澤漆湯方在澤漆。用之治脈沉之咳，是緣水氣之裡沖，非由風邪之外閉，澤漆治其水氣，白前降沖逆而驅痰飲也。</p>
<p>白前善降胸脅逆氣，心肺凝痰，嗽喘沖阻，呼吸壅塞之證，得之清道立通，濁瘀悉下。宜於補中之劑並用乃效。</p>
<p><u>細辛</u>　味辛，溫，入手太陰肺、足少陰腎經。降沖逆而止咳，驅寒濕而蕩濁，最清氣道，兼通水源。</p>
<p>傷寒小青龍湯，方在麻黃。治太陽傷寒，心下有水氣，乾嘔，發熱而咳，用細辛、乾薑、五味，降逆斂肺，以止咳嗽。《金匱》以治痰飲，咳逆倚息，飲去咳止，氣從少腹上衝胸咽，用桂苓五味甘草，治其氣衝。沖氣既低，而反更咳胸滿者，用桂苓五味甘草去桂加乾薑細辛，方在乾薑。治其咳滿，傷寒真武湯，方在茯苓。治少陰病，內有水氣，腹痛下利，若咳者，加五味半升，細辛、乾薑各一兩，是皆小青龍之法也。</p>
<p>金匱厚朴麻黃湯方在厚朴。射干麻黃湯方在射干。皆用之，以治咳而下寒者。</p>
<p>麻黃附子細辛湯、方在麻黃。麻辛附子湯、方在桂枝。大黃附子湯、方在大黃。赤丸、方在烏頭。烏梅丸，方在烏梅。皆用之，以治寒氣之沖逆也。</p>
<p>防己黃耆湯，方在防己。治風濕脈浮身重，氣衝者，加桂枝三分，下有陳寒者，加細辛三分。風木沖逆，則用桂枝，寒水沖逆，則用細辛，此治沖逆之良法也。</p>
<p>肺以下行為順，上行則逆，逆則氣道壅阻，而生咳嗽。咳嗽之證，由於肺金不降，收氣失政，刑于相火。其間非無上熱，而其所以不降者，全因土濕而胃逆。戊土既濕，癸水必寒，水寒土濕，中氣不運，此肺金咳逆之原也。</p>
<p>當火炎肺熱之時，而推其原本，非緣寒氣衝逆，則由土濕堙塞，因而水飲停瘀者，十居七八。然則上熱者，咳嗽之標，水飲濕寒者，咳嗽之本也。</p>
<p>外感之咳，人知風寒傷其皮毛，而不知水飲濕寒實傷其腑臟。蓋濁陰充塞，中氣不運，肺金下達之路既梗，而孔竅又闔，裡氣愈阻，肺無泄竅，是以宗氣壅迫，沖逆而為咳。若使裡氣豁通，則皮膚雖閉，而內降有路，不至於此也。</p>
<p>細辛溫燥開通，利肺胃之壅阻，驅水飲而逐濕寒，潤大腸而行小便，善降沖逆，專止咳嗽。其諸主治，收眼淚，利鼻壅，去口臭，除齒痛，通經脈，皆其行郁破結，下衝降逆之力也。</p>
<p><u>射干</u>　味苦，微寒，入手太陰肺經。利咽喉而開閉塞，下衝逆而止咳嗽，最清胸膈，善掃瘀濁。</p>
<p>金匱射干麻黃湯，射干十二枚，紫菀三兩，款冬三兩，五味半升，細辛三兩，半夏半升，生薑四兩，大棗七枚，麻黃四兩。治咳而上氣，喉中如水雞聲。以風寒外閉，皮毛不泄，肺氣鬱迫，逆而上行，喉竅窄狹，泄之不及，以致呼吸閉塞，聲如水雞。射干、紫菀、款冬、五味、細辛、生薑、半夏，下衝逆而破壅塞，大棗補其里，麻黃瀉其表也。</p>
<p>氣通於肺，內司呼吸而外主皮毛，皮毛雖閉，而內有下行之路，不至堵塞如是。是其平日土濕胃逆，濁氣升隔，肺之降路不甚清通，一被外感，皮毛束閉，裡氣愈阻，內不能降而外不能泄，是以逆行而上衝，塞於咽喉，此即傷風齁喘之證。當飲食未消之際，水穀郁遏，中氣脹滿，故呼吸閉塞，迫急非常也。不降里陰，則胸膈莫容，不泄表寒，則經絡終郁，射干降逆開結，善利肺氣，麻黃外散其風寒，使經絡松暢，則裡氣不迫，射干內降其沖逆，使咽喉清虛，則表氣不壅，表邪外解而里陰下達，停痰宿水，積濕凝寒，皆從水道注泄而下，根株斬滅矣。</p>
<p>其諸主治，通喉痹，開胸滿，止咽痛，平腹脹，瀉肺火，潤腸燥，行積痰，化瘀血，下經閉，消結核，破癥瘕，除瘧母。鱉甲煎丸方在鱉甲。用之以治瘧母，烏扇即射干也。下衝破結，是其長也。</p>
<p><u>紫菀</u>　味苦、辛，入手太陰肺經。降氣逆而止咳，平息賁而止喘。</p>
<p>金匱射干麻黃湯方在射干。用之治咳而上氣，以其清肺而降逆也。</p>
<p>紫菀清金潤肺，止咳定喘，而兼善斂血。勞嗽吐血之證，因於肺逆而不斂，肺氣清降，則血自斂矣。其諸主治，開喉痹，通小便，定喘促，破息賁，止吐血，住便血，療肺癰，行膿血，皆清金降逆之力也。</p>
<p><u>款冬花</u>　味辛，氣溫，入手太陰肺經。降沖逆而止嗽喘，開痹塞而利咽喉。</p>
<p>金匱射干麻黃湯方在射干。用之治咳而上氣，喉中如水雞聲，以其開痹而止喘也。</p>
<p>款冬降逆破壅，寧嗽止喘，疏利咽喉，洗滌心肺，而兼長潤燥。肺逆則氣滯而津凝，故生煩躁，肺氣清降，濁瘀蕩掃，津液化生，煩躁自止。其諸主治，除肺癰膿血，去痰涕膠黏，開咽喉喘阻，潤胸膈煩躁，皆去濁還清之力也。</p>
<p><u>杏仁</u>　味甘、苦，入手太陰肺經。降沖逆而開痹塞，瀉壅阻而平喘嗽，消皮腠之浮腫，潤肺腸之枯燥，最利胸膈，兼通經絡。</p>
<p>金匱茯苓杏仁甘草湯，茯苓三兩，杏仁五十個，甘草一兩。治胸中痹塞，短氣。以土濕胃逆，濁氣衝塞，肺無降路，是以短氣。茯苓瀉濕而消滿，杏仁破壅而降逆，甘草補中而培土也。薯蕷丸、方在薯蕷。文蛤湯、方在文蛤。厚朴麻黃湯、方在厚朴。皆用之，以降逆也。</p>
<p>傷寒麻黃湯，方在麻黃。治太陽傷寒，惡風，無汗而喘者。麻杏甘石湯，方在麻黃。治太陽傷寒，汗下後，汗出而喘者。桂枝加厚朴杏子湯，方在厚朴。治太陽中風，下後表未解而微喘者。小青龍湯，方在麻黃。治太陽傷寒，心下有水氣。若喘者，去麻黃，加杏仁半升，皆用之以治喘也。</p>
<p>苓甘五味姜辛半夏加杏仁湯，茯苓四兩，甘草三兩，五味半升，乾薑三兩，細辛三兩，半夏半升，杏仁半升。治支飲嘔冒，飲去嘔止，其人形腫者，以經氣壅滯則為腫，杏仁利氣而消滯也。麻杏薏甘湯方在麻黃。用之以瀉表氣之滯，礬石丸、方在礬石。大陷胸丸方在大黃。用之以瀉裡氣之滯也。麻仁丸、方在麻仁。大黃蟅蟲丸方在大黃。用之以潤燥也。</p>
<p>肺主藏氣，降於胸膈而行於經絡，氣逆則胸膈閉阻，而生喘咳。臟病而不能降，因以痞塞，經病而不能行，於是腫痛。杏仁疏利開通，破壅降逆，善於開痹而止喘，消腫而潤燥，調理氣分之郁，無以易此。其諸主治，治咳逆，療失音，止咯血，斷血崩，殺蟲䘌，除齇刺，開耳聾，去目翳，平努肉，消停食，潤大腸，通小便，種種功效，緣其降濁消郁之能事也。</p>
<p><u>薤白</u>　味辛，氣溫，入手太陰肺、手陽明大腸經。開胸痹而降逆，除後重而升陷，最消痞痛，善止滑泄。</p>
<p>金匱栝蔞薤白白酒湯、栝蔞薤白半夏湯、二方在栝蔞。枳實薤白桂枝湯方在枳實。並用之，治胸痹心痛，以其破壅而降逆也。</p>
<p>傷寒四逆散，方在甘草。治少陰病，四逆。泄利下重者，加薤白三升，以其行滯而升陷也。</p>
<p>肺病則逆，濁氣不降，故胸膈痹塞，腸病則陷，清氣不升，故肛門重墜。薤白辛溫通暢，善散壅滯，辛金不至上壅，故痹者下達而變沖和，庚金不至下滯，故重者上達而化輕清。其諸主治，斷泄痢，除帶下，安胎妊，散瘡瘍，療金瘡，下骨鯁，止氣痛，消咽腫，緣其條達凝郁故也。</p>
<p><u>桔梗</u>　味苦、辛，入手太陰肺經。散結滯而消腫硬，化凝鬱而排膿血，療咽痛如神，治肺癰至妙，善下衝逆，最開壅塞。</p>
<p>傷寒桔梗湯，桔梗二兩，甘草二兩。治少陰病，咽痛者。以少陰腎脈，循喉嚨而挾舌本，少陰心脈，挾咽而系目系，少陰病則癸水上衝，丁火不降，鬱熱摶結，而生咽痛。桔梗開沖塞而利咽喉，生甘草瀉鬱熱而緩迫急也。通脈四逆湯，方在甘草。治少陰病，下利脈微。咽痛者，去芍藥，加桔梗一兩，亦此法也。《金匱》以治肺癰，咳而胸滿，振寒脈數，咽乾不渴，時出濁唾腥臭，久而吐膿如米粥者。以肺氣壅塞，濕熱淫蒸，濁瘀腐敗，化而為膿。桔梗破壅塞而行腐敗，生甘草瀉鬱熱而清肺金也。</p>
<p>二白散，桔梗三分，貝母三分，巴豆一分。為散，白飲和服。治太陽中風，寒實結胸。以經病未解，而水土濕寒，乃以冷水噀灌，愈閉其表，寒濕鬱動，逆沖清道，與膈上之陽，兩相隔拒，寒熱逼迫，痞結不開。桔梗、貝母，清降其虛熱，巴豆溫下其濕寒，結散郁開，腐敗難容，在上則湧吐而出，在下則泄利而去矣。《外臺》以治肺癰者，排決膿瘀，令其吐泄而下，肺腑清空，正氣續復，不使養癰以胎禍也。</p>
<p>金匱排膿湯，桔梗三兩，甘草二兩，大棗十枚，生薑二兩。以瘡疽膿硬，必當排而行之，使腫消而膿化。而死肌腐化，全賴中氣。甘、棗，培補脾精，生薑和中而行氣，桔梗消結而化膿也。</p>
<p>排膿散，桔梗二分，芍藥六分，枳實十六枚。為散，雞子黃一枚，以散數錢揉均，飲和服之，日一服。以瘡疽膿成，必當排而決之，使腐去而新生。而膿瘀既瀉，營血必傷。桔梗行其凝瘀，枳實逐其腐敗，芍藥清肝風而涼營，雞子黃補脾精而養血也。</p>
<p>薯蕷丸、方在薯蕷。竹葉湯、方在竹葉。並用之，以降肺氣之逆也。</p>
<p>桔梗苦瀉辛通，疏利排決，長於降逆而開結，消瘀而化凝，故能清咽喉而止腫痛，療瘡疽而排膿血。其諸主治，清頭面，理目痛，通鼻塞，療口瘡，止氣喘，平腹脹，調痢疾，破血淤，皆降逆疏壅之力也。</p>
<p><u>橘皮</u>　味辛、苦，入手太陰肺經。降濁陰而止嘔噦，行滯氣而瀉鬱滿，善開胸膈，最掃痰涎。</p>
<p>金匱橘皮湯，橘皮四兩、生薑八兩。用以治乾嘔噦，而手足厥者。以胃土上逆，濁氣熏沖，故生嘔噦。中氣堙郁，不能四達，故手足厥冷。橘皮破壅塞而掃瘀濁，生薑降沖逆而行凝滯也。</p>
<p>橘皮竹茹湯，橘皮一斤，竹茹二升，生薑半斤，甘草五兩，人參一兩，大棗三十枚。治噦逆者。以土衰胃逆，濁陰不降。甘、棗、人參，補中氣以培土，橘、薑、竹茹，降濁陰而行滯也。</p>
<p>橘枳生薑湯，橘皮一斤，生薑半斤，枳實三兩。治胸中痹塞，短氣。以胃土逆升，濁氣痞塞，肺無降路，是以短氣。橘、姜，破壅塞而降濁陰，枳實瀉痞滿而掃瘀腐也。外臺茯苓飲，方在茯苓。即於橘枳生薑湯加參、朮、茯苓，以治痰飲，補瀉並行，可謂妙矣。</p>
<p>橘皮辛散之性，疏利通暢，長於降濁止嘔，行滯消痰，而和平條達，不至破氣而損正，行郁理氣之佳藥也。其諸主治，療吹奶，調乳癰，除痎瘧，消癥瘕，行膠痰，磨宿谷，利小便，通大腸，理嘈雜，治淋痢，下魚骨鯁，殺寸白蟲，總緣善行滯氣也。</p>
<p><u>皂莢</u>　味辛、苦，澀，入手太陰肺經。降逆氣而開壅塞，收痰涎而滌垢濁，善止喘咳，最通關竅。</p>
<p>金匱皂莢丸，皂莢六兩。去皮，酥炙，蜜丸梧子大，棗膏和湯服三丸，日夜四服。治咳逆上氣，時時唾濁，但坐不得眠。以肺胃逆升，濁氣鬱塞，涎沫膠黏，下無泄路，故時時上唾。身臥則氣道愈阻，彌增壅悶，故但坐不得眠。皂莢開閉塞而洗痰涎，通氣道而降沖逆也。</p>
<p>皂莢辛烈開沖，通關透竅，蒐羅痰涎，洗盪瘀濁，化其黏聯，膠熱之性，失其根據，攀附之援，臟腑莫容，自然外去，雖吐敗濁，實非湧吐之物也。其諸主治，開口噤，通喉痹，吐老痰，消惡瘡，熏久利脫肛，平婦人吹乳，皆其通關行滯之效也。</p>
<p><u>白酒</u>　味辛，氣溫，入手太陰肺經。開胸膈之痹塞，通經絡之凝瘀。</p>
<p>金匱栝蔞薤白白酒湯、栝蔞薤白半夏湯二方在栝蔞。並用之，以治胸痹心痛，以其開瘀而消滯也。</p>
<p>酒性辛溫宣達，黃者重濁而走血分，白者輕清而走氣分，善開閉塞而行經絡，暖寒滯而止痛楚，故能治胸痹。</p>
<p>今之燒酒，與此證甚宜，用以代之，效更捷也。</p>
<p><u>蔥白</u>　味辛，氣溫，入手太陰肺經。回臟腑之利泄，起經脈之芤減，發達皮毛，宣揚郁遏。</p>
<p>傷寒白通湯，蔥白四莖，乾薑一兩，生附子一枚。治少陰病，下利。以寒水侮土，清氣下陷，而為泄利。薑、附，溫水土之寒，蔥白升清氣之陷也。</p>
<p>通脈四逆湯，方在甘草。治少陰病，下利脈微，面色赤者，加蔥九莖，以陽郁不能外達，故面赤，加蔥白以宣陽氣之郁也。</p>
<p>金匱旋覆花湯，方在旋覆花。治婦人脈體芤減，用之以通經氣之郁澀也。</p>
<p>蔥白辛溫發散，升陷達郁，行經發表，厥有功焉。其諸主治，下乳汁，散乳癰，消腫痛，止麻痹，療下血，熨便癃，通淋澀，調泄利。</p>
<p><u>麻黃</u>　味苦、辛，氣溫，入手太陰肺、足太陽膀胱經。入肺家而行氣分，開毛孔而達皮部，善瀉衛郁，專發寒邪，治風濕之身痛，療寒濕之腳腫，風水可驅，溢飲能散，消咳逆肺脹，解驚悸心忡。</p>
<p>傷寒麻黃湯，麻黃三兩，桂枝二兩，甘草一兩，杏仁七十枚。治太陽傷寒，頭痛惡寒，無汗而喘。以衛性斂閉，營性發揚，寒傷營血，閉其皮毛，是以無汗。肺氣壅遏，是以發喘。寒愈閉而營愈發，裹束衛氣，不得外達，是以惡寒。甘草保其中氣，桂枝發其營郁，麻黃瀉其衛閉，杏仁利其肺氣，降逆而止喘也。</p>
<p>大青龍湯，麻黃六兩，桂枝二兩，杏仁五十枚，甘草二兩，生薑三兩，大棗十二枚，石膏如雞子大。治太陽中風，脈緊身痛，發熱惡寒，煩躁無汗。以風中衛氣，衛斂而風不能泄，是以無汗。遏閉營血，內熱鬱隆，是以煩躁。病雖中風，而證同傷寒，桂枝不能發矣。甘、棗，補其脾精，桂枝發其營郁，麻黃瀉其衛閉，杏、姜，利肺壅而降逆氣，石膏清肺熱而除煩躁也。</p>
<p>小青龍湯，麻黃三兩，桂枝三兩，芍藥三兩，甘草二兩，半夏三兩，五味半升細辛三兩，乾薑三兩。治太陽傷寒，心下有水氣，乾嘔，發熱而咳。以水飲中阻，肺胃不降，濁氣逆沖，故作嘔咳。甘草培其土氣，麻、桂，發其營衛，芍藥清其經熱，半夏降胃逆而止嘔，五味、細辛、乾薑，降肺逆而止咳也。《金匱》以治痰飲，咳逆倚息者，使水飲化氣，而隨汗泄，降以五味、薑、辛，咳逆自平也。又以大、小青龍，通治溢飲。以飲水流行，歸於四肢，不能化汗而外瀉，則水飲注積，遏阻衛氣，以致身體疼重。麻黃髮汗，瀉其四末之集水也。</p>
<p>麻杏甘石湯，麻黃四兩，杏仁五十枚，甘草二兩，石膏半斤。治太陽傷寒，汗下後，汗出而喘，無大熱者。以經熱未達，表裡鬱蒸，故汗出而喘。麻黃瀉衛，甘草保中，杏仁降其逆氣，石膏清其鬱熱也。</p>
<p>麻黃附子細辛湯，麻黃二兩，附子一枚，細辛二兩。治少陰病，反發熱，脈沉者。以少陰脈沉而身反發熱，則裡寒已作而表寒未退。麻黃髮其表寒，附子驅其裡寒，細辛降其陰邪也。</p>
<p>麻黃附子甘草湯，麻黃二兩，附子一枚，甘草二兩。治少陰病，得之二三日，無里證者。以脈見沉細，經是少陰，而里證未作，宜解表寒。麻黃輕發其表，附子重暖其里，甘草培其中氣也。</p>
<p>麻黃升麻湯，麻黃二兩半，升麻一兩一分，萎蕤十八銖，石膏六銖，知母十八銖，當歸一兩一分，芍藥六銖，黃芩十八銖，桂枝六銖，茯苓六銖，白朮六銖，甘草六銖，乾薑六銖，天冬六銖。治厥陰傷寒，大下後，咽喉不利，吐膿血，泄利不止者。以下後中氣寒濕，相火上逆，刑辛金而為膿血，風木下陷，賊己土而為泄利。薑、甘、苓、朮、溫中燥土，知、膏、冬、蕤，清肺熱而生津，歸、芍、芩、桂，滋肝燥而升陷，升麻理其咽喉，麻、杏，瀉其皮毛也。</p>
<p>金匱麻杏薏甘湯，麻黃五錢，杏仁十枚，薏苡五錢，甘草一兩。治風濕發熱，身疼，日晡所劇。以汗出當風，閉其皮毛，汗熱鬱遏，淫溢竅隧，日晡濕動，應候而劇。甘草、薏苡，補土而燥濕，杏仁利氣而破壅，麻黃開竅而發汗也。</p>
<p>越婢湯，麻黃六兩，石膏半斤，甘草二兩，大棗十五枚，生薑三兩。治風水，身腫，脈浮，汗出，惡風。以汗出遇風，竅閉汗阻，淫溢經隧，壅遏衛氣，而為浮腫。麻黃髮皮毛而瀉水，石膏清肺金而瀉熱，甘、棗、生薑，補脾精而和中也。</p>
<p>麻黃附子湯，麻黃三兩，甘草一兩，附子一枚。即「少陰」麻黃附子甘草方，而分兩不同。治水病，脈沉小，屬少陰，虛腫者。以土弱陽飛，腎寒水脹，流溢經絡，而為浮腫。甘草、附子，補土而暖腎，麻黃髮表而瀉水也。</p>
<p>風濕與風水，皆汗為風閉，而濕則未至成水，其證稍異。緣有內水，不但表寒，故多用麻黃。</p>
<p>肝司營血，中抱陽魂，其性溫暖而發散，肺司衛氣，內含陰魄，其性清涼而收斂。衛氣清斂，則孔竅闔而寒不能傷，泄之以風，竅開而汗出，衛氣失其收斂之性，故病中風，營血溫散，則孔竅開而風不能中，閉之以寒，竅合而汗收，營血失其發散之性，故病傷寒。但衛性收斂，風愈泄而衛愈斂，則遏閉營血，而生裡熱，營性發散，寒愈閉而營愈發，則裹束衛氣，而生表寒。以營血溫升，則化火而為熱，衛氣清降，則化水而為寒，營鬱而發熱，衛閉而惡寒者，其性然也。風傷衛而營郁，故用桂枝以瀉營，寒傷營而衛閉，故用麻黃以瀉衛。桂枝通達條暢，專走經絡，而瀉營郁，麻黃浮散輕飄，專走皮毛，而瀉衛閉，竅開汗出，則營衛達而寒熱退矣。</p>
<p>麻黃髮表出汗，其力甚大，冬月傷寒，皮毛閉塞，非此不能透發，一切水濕痰飲，淫溢於經絡關節之內，得之霍然汗散，宿病立失。但走瀉真氣，不宜虛家，汗去陽亡，土崩水泛，陰邪無制，乘機發作，於是筋肉瞤動，身體振搖，驚悸奔豚諸證風生，禍變非常，不可不慎！</p>
<p>蓋腎主五液，入心為汗，非血不釀，非氣不醞，非水不變，非火不化。鼎沸而露滴者，水熱而氣暖也，身勞而出汗者，火動而血蒸也，汗出而溫氣發泄，是以戰慄而振搖。所謂奪汗者無血，奪血者無汗，以其溫氣之脫泄，非謂汗血之失亡。</p>
<p>陽者，陰之神魂，陰者，陽之體魄，體魄者，神魂之宮室，神魂者，宮室之主人。上士重其人而輕其宮，人存而宮亦修，下士賤其主而貴其室，主亡而室亦壞矣。</p>
<p>煮去沫用。</p>
<p>根節止汗，發表去其根節，斂表但用根節。</p>
<p><u>蘇葉</u>　味辛，入手太陰肺經。降沖逆而驅濁，消凝滯而散結。</p>
<p>金匱半夏厚朴湯方在半夏。用之治婦人咽中如有炙臠，以其降濁而散滯也。</p>
<p>蘇葉辛散之性，善破凝寒而下衝逆，擴胸腹而消脹滿，故能治咽中瘀結之證，而通經達脈，發瀉風寒，雙解中外之藥也。其諸主治，表風寒，平喘嗽，消癰腫，安損傷，止失血，解蟹毒。</p>
<p><u>栝蔞根</u>　味甘、微苦，微寒，入手太陰肺經。清肺生津，止渴潤燥，舒痙病之攣急，解渴家之淋癃。</p>
<p>金匱栝蔞桂枝湯，栝蔞根三兩，桂枝三兩，芍藥三兩，甘草二兩，大棗十二枚，生薑三兩。治太陽痙病，其證備，身體強，𠘧𠘧然，脈沉遲者。太陽之經，外感風寒，發汗太多，因成痙病。其證身熱足寒，頸強項急，頭搖口噤，背反張，面目赤。發熱汗出，而不惡寒者，是得之中風，名曰柔痙。以厥陰風木，藏血而主筋，筋脈枯燥，曲而不伸，是以項強而背反。木枯風動，振盪不寧，是以頭搖而齒齘。太陽行身之背，故病在脊背。此因汗多血燥，重感風邪，郁其營氣，故病如此。甘、棗，補脾精而益營血，薑、桂，達經氣而瀉營郁，芍藥、栝蔞，清風木而生津液也。</p>
<p>栝蔞瞿麥丸，栝蔞根三兩，薯蕷二兩，瞿麥一兩，茯苓三兩，附子一枚。治內有水氣，渴而小便不利者。陽衰土濕，寒水停留，乙木鬱遏，不能疏泄，故小便不利。木鬱風動，肺津傷耗，是以發渴。瞿麥、苓、附，瀉水而溫寒，薯蕷、栝蔞，斂肺而生津也。</p>
<p>栝蔞牡蠣散，栝蔞根、牡蠣等分。為散，飲服方寸匕，日三服。治百合病，渴不差者。百合之病，肺熱津傷，必變渴證。津液枯燥，故渴久不止。栝蔞、牡蠣，清金斂肺，生津潤燥而止渴也。</p>
<p>小青龍湯，方在麻黃。治太陽傷寒，內有水氣，渴者，去半夏，加栝蔞根三兩，小柴胡湯，方在柴胡。治少陽傷寒，渴者，去半夏，加人參、栝蔞根，以其涼肅潤澤，清金止渴，輕清而不敗脾氣也。</p>
<p>清肺之藥，最為上品，又有通達凝瘀，清利濕熱之長。其諸主治，下乳汁，通月水，醫吹奶，療乳癰，治黃疸，消囊腫，行撲損瘀血，理瘡瘍腫痛。</p>
<p><u>栝蔞實</u>　味甘、微苦，微寒，入手太陰肺經。清心潤肺，洗垢除煩，開胸膈之痹結，滌涎沫之膠黏，最洗瘀濁，善解懊憹。</p>
<p>金匱栝蔞薤白白酒湯，栝蔞實一枚，薤白三兩，白酒七升。治胸痹氣短，喘息咳唾，胸背疼痛，寸口脈沉而遲，關上小緊數。以胸膈痹塞，氣無降路，故喘息咳唾。逆沖胸背，而生痛楚。清道堙郁，爰生煩熱。薤白、白酒，開擴其壅塞，栝蔞清滌其鬱煩也。</p>
<p>栝蔞薤白半夏湯，栝蔞實一枚，薤白三兩，白酒一斗，半夏半升。治胸痹不得臥，心痛徹背者。以胸膈痹塞，氣無降路，逼迫宮城，故心痛徹背。背者，胸之府也，氣不前降於腹，胸膈莫容，是以逆衝於脊背。薤白、白酒、半夏，破壅而降逆，栝蔞清滌其鬱煩也。</p>
<p>傷寒小陷胸湯，大栝蔞實一枚，半夏半升，黃連一兩。治小結胸，正在心下，按之則痛，脈浮滑者。太陽中風，表證未解，下之太早，經陽內陷，為里陰所拒，結於胸膈，心下滿痛，煩躁懊憹，脈沉而緊，是為結胸。結之小者，濁氣衝塞，正在心下，其勢稍緩，非按不痛，脈則浮滑，未至沉緊。而陽氣鬱遏，亦生煩熱。半夏降其逆氣，黃連瀉其悶熱，栝蔞滌其鬱煩也。</p>
<p>小柴胡湯，方在柴胡。治少陽傷寒。胸中煩而不嘔者，去人參、半夏，加栝蔞實，以其清心而除煩也。</p>
<p>栝蔞實肅清涼潤，善解鬱煩，濁氣鬱蒸，涎沫黏聯，心緒煩亂，不可言喻者得之，肺府清潔，神氣慧爽，洗心滌肺之妙藥也。其諸主治，消咽痛，治肺痿，滌痰涎，止咳嗽，通乳汁，下胞衣，理吹奶，調乳癰，解消渴，療黃疸，通小便，潤大腸，斷吐血，收脫肛，平癰腫，醫瘡瘍。</p>
<p><u>麥冬</u>　味甘，微涼，入手太陰肺、足陽明胃經。清金潤燥，解渴除煩，涼肺熱而止咳，降心火而安悸。</p>
<p>金匱麥門冬湯，麥冬七升，半夏一升，粳米三合，人參二兩，甘草一兩，大棗十二枚。治咳嗽，火逆上氣，咽喉不利。以肺胃上逆，相火刑金。麥冬、半夏，清金瀉火而降逆，甘、棗、參、粳，補中化氣而生津也。</p>
<p>傷寒炙甘草湯方在甘草。用之治少陽傷寒，脈結代，心動悸者。以少陽相火不降，致累君火，逆升而生煩悸，麥冬清心而寧神也。</p>
<p>薯蕷丸、方在薯蕷。竹葉石膏湯方在竹葉。皆用之，以清金而潤燥也。</p>
<p>麥冬清涼潤澤，涼金瀉熱，生津除煩，澤枯潤燥之上品。然無益中虛肺熱之家，率因陽衰土濕，中氣不運，胃膽上逆，相火刑金，原非實熱之證。蓋土濕胃逆，則肺膽不得右降，以土者四象之中氣，轂敗則軸折，輪輻不轉，自然之理。戊土上壅，濁氣填塞，肺膽無下降之路，此相火刑金之原也。金受火刑，失其清肅降斂之性，嗽喘吐衄，於是生焉。但服清潤，陰旺濕滋，中氣愈敗，胃土更逆，上熱彌增。是以虛勞淹滯，非無上熱，而清金潤肺之法，絕不能效，以救其標而傷其本也。此宜金土同醫，故仲景用麥冬，必與參甘同劑。麥冬而得人參，清金益氣，生津化水，霧露泛灑，心肺肅涼，洗滌煩躁之法，至為佳妙也。其諸主治，安魂魄，除煩悸，療喉瘡，治肺痿，解消渴，平咳嗽，止吐衄，下痰飲，利水濕，消浮腫，下乳汁，通經水。</p>
<p><u>天冬</u>　味苦，氣寒，入手太陰肺、足少陰腎經。清金化水，止渴生津，消咽喉腫痛，除咳吐膿血。</p>
<p>傷寒麻黃升麻湯方在麻黃。用之治厥陰傷寒，大下後，咽喉不利，吐膿血，泄利不止者，以其清火逆而利咽喉，療肺癰而排膿血也。</p>
<p>水生於金，金清則水生，欲生腎水，必清肺金，清金而生水者，天冬是也，庸工以地黃血藥而滋腎水，不通極矣！蓋肺主化氣，氣主化水，肺中之氣，氤氳如霧，霧氣清降，化而為水，其精液藏於腎而為精，其渣滓滲於膀胱而為尿。天暑衣厚，則表開而外泄，天寒衣薄，則表合而內注，汗尿一也，外內不同耳。而肺金化水，必因土燥，陽明庚金，燥氣司權，收斂戊土之濕，化而為燥，胃氣右轉，肺氣清降，而水化焉，此如涼秋變序，白露宵零也。土濕則中鬱而胃逆，肺金莫降，霧氣凝塞，淫蒸而化痰涎，水源絕矣。</p>
<p>天冬潤澤寒涼，清金化水之力，十倍麥冬，土燥水枯者，甚為相宜。陽明傷寒之家，燥土賊水，腸胃焦涸，瘟疫斑疹之家，營熱內郁，臟腑燔蒸，凡此閉澀不開，必用承氣，方其燥結未甚，以之清金瀉熱，滋水滑腸，本元莫損，勝服大黃。又或瘡瘍熱盛，大便秘塞，重劑酒煎熱飲，亦良。腎陰有盛而無衰，宜溫不宜補，土燥水枯之證，外感中止有此種，至於別經傷寒，此證甚少，若內傷雜病，率皆陰旺土濕，未有水虧者。土勝而水負則生，水勝而土負則死，天冬證絕不偶見，未可輕服。其性寒滑濕濡，最敗脾胃而瀉大腸，陽虧陰旺，土濕便滑者，宜切忌之。久服不已，陽敗土崩，無有不死。後世庸工，以此殺人，不可勝數。凡肺痿肺癰，吐衄嗽喘，一切上熱之證，非土燥陽實者，概不宜此，用者慎之！其有水虧宜餌者，亦必制以滲利之味，防其助濕。土濕胃逆，痰涎淫生，愈服愈滋，而水源愈竭矣，是猶求水於陽燧也。其諸主治，止咳逆，定喘促，愈口瘡，除腫痛，療肺痿，治肺癰，去痰涎，解消渴，利小便，滑大腸。</p>
<p><u>竹葉</u>　味甘，微寒，入手太陰肺經。清肺除煩，涼金瀉熱。</p>
<p>金匱竹葉湯，竹葉一把，桔梗一兩，生薑五兩，附子一枚，葛根三兩，桂枝一兩，防風一兩，甘草一兩，人參一兩，大棗十五枚。治產後中風，發熱面赤，喘而頭痛。以產後中氣虛弱，陰陽不能交濟，肝脾易陷，肺胃易逆，陷則下寒，逆則上熱。風傷衛氣，衛斂而遏營血，上熱彌增，肺胃愈逆，故發熱面赤，喘而頭痛。肺胃愈逆而熱愈增，則肝脾益陷而寒益甚。竹葉、桔梗，涼肺而除煩，葛根、生薑，清肺而降逆，附子溫寒而暖水，桂、防，燥濕而達木，甘、棗、人參，補中而培土也。</p>
<p>竹葉石膏湯，竹葉二把，石膏一斤，麥冬一升，粳米半升，人參三兩，甘草二兩，半夏半升。治大病差後，虛羸少氣，氣逆欲吐者。以病後中虛，胃逆欲吐，三陽不降，燥熱鬱發。竹葉、石膏、麥冬，清金瀉熱而除煩，粳米、參、甘，補中化氣而生津，半夏降逆而止嘔也。</p>
<p>竹葉甘寒涼金，降逆除煩，瀉熱清上之佳品也。其諸主治，降氣逆，止頭痛，除吐血，療發黃，潤消渴，清熱痰，漱齒衄，洗脫肛。</p>
<p><u>竹茹</u>　味甘，微寒，入手太陰肺、足陽明胃經。降逆止嘔，清熱除煩。</p>
<p>金匱竹皮大丸，竹茹二分，石膏二分，白薇一分（有熱二分），甘草七分，桂枝一分。棗肉和丸。治產婦乳子中虛，煩亂嘔逆。以乳婦產子未久，中氣尚虛，遇土鬱木賊之時，胃逆作嘔，爰生煩亂。竹茹降濁而止嘔，石膏、白薇，清金而除煩，甘草、桂枝，培土而達木也。</p>
<p>橘皮竹茹湯方在橘皮。用之治噦逆，以其降逆而驅濁也。</p>
<p>竹茹甘寒之性，善掃瘀濁而除嘔噦，清金斂肺，更其所長。其諸主治，除吐衄，止崩漏，治膈噎，療肺痿。</p>
<p><u>萎蕤</u>　味甘，入手太陰肺經。清肺金而潤燥，滋肝木而清風。</p>
<p>傷寒麻黃升麻湯方在麻黃。用之治厥陰病，咽喉不利，吐膿血者，以金受火刑，萎蕤清金而潤燥也。</p>
<p>萎蕤和平滋潤，化氣生津，解渴除煩，清金利水，益氣潤燥。其諸主治，止消渴，通淋澀，潤皮膚，去黑䵟，療目眥赤爛，治眼睛昏花。即玉竹。《三國志·華佗傳》：以漆葉青黏散方，授弟子樊阿，謂可服食長生。青黏即玉竹也。</p>
<p><u>百合</u>　味甘、微苦，微寒，入手太陰肺經。涼金瀉熱，清肺除煩。</p>
<p>金匱百合知母湯，百合七枚，知母二兩。治百合病，發汗後者。傷寒之後，邪氣傳變，百脈皆病，是為百合。其證眠食俱廢，吐利皆作，寒熱難分，坐臥不安，口苦便赤，心煩意亂，不能指其為何經何臟之病也。然百脈之氣，受之於肺，肺者，百脈之宗也，是宜清肺。其在發汗之後者，津枯而金燔。百合清肺而生津，知母涼金而瀉熱也。</p>
<p>滑石代赭湯，百合七枚，滑石三兩，碎，代赭石如雞子大。治百合病，下之後者。下敗中脘之陽，土濕胃逆，肺熱鬱蒸。百合清肺而瀉熱，滑石、代赭，滲濕而降逆也。</p>
<p>百合雞子湯，百合七枚，煎湯，入雞子黃一枚，攪勻，煎。治百合病，吐之後者。吐傷肺胃之津，金土俱燥。百合清肺熱而生津，雞子黃補脾精而潤燥也。</p>
<p>百合地黃湯，百合七枚，生地黃汁一斤。入百合湯，煎服。大便當如漆。治百合病，不經發汗吐下，病形如初者。不經發汗吐下，而瘀熱淫蒸，敗濁未泄。百合清肺而瀉熱，生地黃汁涼瀉腸胃而下垢濁也。</p>
<p>百合洗方，百合一斤。水一斗，漬一宿，洗身。洗後食煮餅，勿以鹽。治百合病，一月不解，變成渴者。火炎金燥，則肺熱不解，變而為渴。肺主皮毛，百合洗皮毛，以清肺熱也。</p>
<p>百合滑石散，百合一兩，滑石二兩。為散，飲服方寸匕，日三服。微利，止服，熱則除。治百合病，變發熱者。濕動胃逆，肺郁生熱。百合清金而瀉熱，滑石利水而除濕也。</p>
<p>百合涼金潤燥，瀉熱消郁，清肅氣分之上品。其諸主治，收涕淚，止悲傷，開喉痹，通肺癰，清肺熱，療吐血，利小便，滑大腸，調耳聾耳痛，理脅癰乳癰、發背諸瘡。</p>
<p>水漬一宿，白沫出，去其水，更以泉水煎湯用。</p>
<p><u>貝母</u>　味苦，微寒，入手太陰肺經。清金瀉熱，消郁破凝。</p>
<p>傷寒二白散、方在桔梗。金匱當歸貝母苦參丸方在當歸。並用之，以其清金而瀉熱也。</p>
<p>貝母苦寒之性，瀉熱涼金，降濁消痰，其力非小，然輕清而不敗胃氣，甚可嘉焉。其諸主治，療喉痹，治乳癰，消癭瘤，去努肉，點翳障，敷瘡癰，止吐衄，驅痰涎，潤心肺，解燥渴，清煩熱，下乳汁，除咳嗽，利水道。</p>
<p><u>白薇</u>　味苦、微咸，微寒，入手太陰肺、足太陽膀胱經。涼金瀉熱，清肺除煩。</p>
<p>金匱竹皮大丸方在竹茹。用之治乳婦中虛，煩亂嘔逆，有熱者，倍白薇，以其瀉熱而除煩也。</p>
<p>白薇苦寒，長於清金而除煩熱，利水而通淋澀。其諸主治，通鼻塞，止血淋，清膀胱熱澀，斷胎產遺尿。</p>
<p><u>紫參</u>　味苦，微寒，入手太陰肺、手陽明大腸經。消胸中之痞結，止肺家之疼痛。</p>
<p>金匱紫參湯，紫參半斤，甘草三兩。治下利肺痛。以肺與大腸相為表裡，腸陷而利作，則肺逆而痛生。而肺腸之失位，原於中氣之不運，蓋己土不升則庚金陷，戊土不降則辛金逆。甘草補中而培土，紫參清金而破凝，使肺腸之氣，各復其升降之舊也。</p>
<p>澤漆湯方在澤漆。用之治咳逆而脈沉者，以其清金而降逆也。</p>
<p>紫參苦寒，清金瀉熱，降沖逆而破凝塞，清咳嗽而止疼痛。金清則肺氣收攝，故長於斂血，金清則肺氣通調，故長於行瘀。其諸主治，止吐衄，消癰腫，利小便，滑大腸，治金瘡，調血痢，破瘀血，通閉經，開胸膈積聚，散腹脅堅滿。</p>
<p><u>柏葉</u>　味苦、辛，澀，入手太陰肺經。清金益氣，斂肺止血。</p>
<p>金匱柏葉湯，柏葉三兩，乾薑三兩，艾三把，馬通汁一升。治吐血不止者。以中虛胃逆，肺金失斂，故吐血不止。乾薑補中而降逆，柏、艾、馬通，斂血而止吐也。</p>
<p>血生於木而攝於金，庚金不收，則下脫於便尿，辛金不降，則上溢於鼻口。柏葉秉秋金之收氣，最能止血，緣其善收土濕，濕氣收則金燥而自斂也。其諸主治，止吐衄，斷崩漏，收便血，除尿血，敷燒灼，潤鬚髮，治歷節疼痛。</p>
<p><u>柏實</u>　味甘、微辛，氣香，入手太陰肺經。潤燥除煩，降逆止喘。</p>
<p>金匱竹皮大丸，方在竹茹。治乳婦中虛，煩亂嘔逆。煩喘者，加柏實一分，以其清金降逆而止煩喘也。</p>
<p>柏實清潤降斂，寧神調氣，善去煩躁，而止喘逆。緣其香甘入土，能行凝滯，開土鬱，肺胃右行，神氣下達，煩喘自定。其諸主治，安魂魄，止驚悸，潤腸秘，澤發焦。</p>
<p>蒸，曬，炒，去皮，取仁用。</p>
<p><u>雞子白</u>　味甘，氣腥，微寒，入手太陰肺經。療咽喉之腫痛，發聲音之喑啞。</p>
<p>傷寒苦酒湯，方在苦酒。治少陰病，咽中生瘡，聲音不出，用之以其消腫痛而發聲音也。</p>
<p>雞子白秉天之清氣，有金象焉，善消腫痛而利咽喉，清肺金而發聲音。其諸主治，塗鼻瘡，治發黃，敷腫痛，洗燒灼。雞子黃在一卷。</p>
<p><u>豬膚</u>　味甘，微寒，入手太陰肺經。利咽喉而消腫痛，清心肺而除煩滿。</p>
<p>傷寒豬膚湯，豬膚一斤，白蜜一斤，白粉五合。治少陰病，下利咽痛，胸滿心煩者。以少陰寒水，侵侮脾胃，脾土下陷，肝脾不升，則為下利，胃土上逆，膽胃不降，相火荊金，則為咽痛。濁氣衝塞，宮城不清，則胸滿而心煩。豬膚、白蜜，清金而止痛，潤燥而除煩，白粉澀滑溏而收泄利也。</p>
<p>肺金清涼而司皮毛，豬膚秉金氣之涼肅，善於清肺，肺氣清降，君相歸根，則咽痛與煩滿自平也。豬膏在四卷。</p>
<p><u>瓜子</u>　味甘，性寒，入手太陰肺、手陽明大腸經。清肺潤腸，排膿決瘀。</p>
<p>金匱大黃牡丹皮湯方在大黃。用之，以其破瘀而排膿也。</p>
<p>瓜子仁甘寒疏利，善開壅滯而決膿血，故能治腸癰。</p>
<p><u>知母</u>　味苦，氣寒，入手太陰肺、足太陽膀胱經。清金瀉熱，止渴除煩。</p>
<p>傷寒白虎湯、方在石膏。金匱酸棗仁湯、方在棗仁。桂枝芍藥知母湯方在桂枝。並用之，以其清金而瀉火，潤燥而除煩也。</p>
<p>知母苦寒之性，專清心肺而除煩躁，仲景用之，以瀉上焦之熱也。甚敗脾胃而瀉大腸，火衰土濕，大便不實者忌之。後世庸工，以此通治內傷諸病，滋水滅火，誤人性命，至今未絕。其諸主治，瀉大腸，清膀胱。</p>
<p><u>石膏</u>　味辛，氣寒，入手太陰肺、足陽明胃經。清金而止燥渴，瀉熱而除煩躁。</p>
<p>傷寒白虎湯，石膏一斤，知母六兩，甘草二兩，粳米六兩。治太陽傷寒，表解後，表有寒，里有熱，渴欲飲水，脈浮滑而厥者。太陽表解之後，陰旺則汗去陽亡，而入太陰，陽旺則汗去陰亡，而入陽明，表解而見燥渴，是腑熱內動，將入陽明也。陽明戊土，從庚金化氣而為燥，太陰辛金，從己土化氣而為濕，陽旺之家，則辛金不化己土之濕而亦化庚金之燥，胃熱未發而肺燥先動，是以發渴。石膏清金而除煩，知母瀉火而潤燥，甘草、粳米，補中化氣，生津而解渴也。</p>
<p>金匱小青龍加石膏湯，麻黃三兩，桂枝三兩，芍藥三兩，甘草二兩，半夏半升，五味半升，細辛三兩，乾薑二兩，石膏二兩。治心下有水，咳而上氣，煩躁而喘，肺脹脈浮者。以水飲內阻，皮毛外闔，肺氣壅遏，而生咳喘。小青龍發汗以瀉水飲，石膏清熱而除煩躁也。</p>
<p>傷寒大青龍湯方在麻黃。用之治太陽中風，不汗出而煩躁者，麻杏甘石湯方在麻黃。用之治太陽傷寒，汗下後，汗出而喘，無大熱者，竹葉石膏湯方在竹葉。用之治大病差後，氣逆欲吐者，金匱越婢湯方在麻黃。用之治風水惡風，續自汗出者，木防己湯方在防己。用之治膈間支飲，其人喘滿者，厚朴麻黃湯方在厚朴。用之治咳而脈浮者，文蛤湯方在文蛤。用之治吐後渴欲得水，而貪飲者，竹皮大丸方在竹茹。用之治乳婦煩亂嘔逆者，皆以其瀉熱而除煩也。</p>
<p>石膏辛涼之性，最清心肺而除煩躁，瀉鬱熱而止燥渴。甚寒脾胃，中脘陽虛者勿服。其諸主治，療熱狂，治火嗽，止煩喘，清燥渴，收熱汗，消熱痰，住鼻衄，除牙痛，調口瘡，理咽痛，通乳汁，平乳癰，解火灼，療金瘡。</p>
<p>研細，綿裹，入藥煎。虛熱，煅用。</p>
<p><u>桑根白皮</u>　味甘、澀、辛，微寒，入手太陰肺經。清金利水，斂肺止血。</p>
<p>金匱王不留行散方在王不留行。用之，治病金瘡，以其清肺而斂血也。</p>
<p>桑根白皮甘辛斂澀，善瀉濕氣而斂營血。其諸主治，清肺火，利氣喘，止吐血，斷崩中，通小便，療水腫，消痰飲，止吐泄，理金瘡，敷石癰，生眉發，澤須鬢，去寸白蟲，塗鵝口瘡，汁搽口瘡，瀝搽疥瘡。</p>
<p>三月三日採東南根，陰乾百日。</p>
<p><u>旋覆花</u>　味鹹，入手太陰肺、足陽明胃經。行凝澀而斷血漏，滌瘀濁而下氣逆。</p>
<p>金匱旋覆花湯，旋覆花三兩，蔥白十四莖，新絳少許。煎，頓服。治婦人半產漏下。以肝脾陽虛，胎元失養，是以半產。血瘀不升，是以漏下。旋覆行血脈之瘀，蔥白通經氣之滯，新絳止崩而除漏也。</p>
<p>傷寒旋覆花代赭石湯，旋覆花三兩，半夏半升，代赭石一兩，人參二兩，甘草三兩，大棗十二枚，生薑五兩。治傷寒汗吐下後，表證已解，心下痞硬，噫氣不除者。以土虛胃逆，礙甲木下行之路，胃口痞塞，濁氣不降。參、甘、大棗，補其中脘，半夏、薑、赭，降其逆氣，旋覆花行其瘀濁也。</p>
<p>旋覆花通血脈而行瘀澀，能除漏滴，清氣道而下痰飲，善止噦噫。其諸主治，逐痰飲，止嘔逆，消滿結，軟痞硬，通血脈，消水腫。</p>

<h1>卷四</h1>
<p><u>茯苓</u>　味甘，氣平，入足陽明胃、足太陰脾、足少陰腎、足太陽膀胱經。利水燥土，瀉飲消痰，善安悸動，最豁鬱滿，除汗下之煩躁，止水飲之燥渴，淋癃泄痢之神品，崩漏遺帶之妙藥，氣鼓與水脹皆靈，反胃共噎膈俱效，功標百病，效著千方。</p>
<p>傷寒五苓散，茯苓十八銖，豬苓十八銖，澤瀉一兩六銖，白朮十八銖，桂枝半兩。治太陽中風，內有水氣，渴欲飲水，水入則吐者。以宿水停留，因表鬱而內動，阻隔三陽，不得下行，是以渴欲飲水。而以水投水，又復不受，是以水入則吐。茯、豬、朮、澤，瀉水而燥土，桂枝行經而發表也。治太陽傷寒，汗後脈浮，小便不利，熱微消渴者。以汗瀉脾陽，己土濕陷，乙木抑遏，不能疏泄水道，故小便不利。木鬱風生，肺津傷耗，是以消渴。茯、豬、朮、澤，瀉濕而生津液，桂枝達木以行疏瀉也。</p>
<p>金匱小半夏加茯苓湯，半夏一升，生薑半斤，茯苓四兩。治飲家水停心下，先渴後嘔。飲家水停心下，土濕津凝，必作燥渴。而再得新水，愈難消受，是以嘔吐。苓、薑、半夏，降濁陰而瀉水飲也。</p>
<p>茯苓澤瀉湯，茯苓八兩，澤瀉四兩，白朮三兩，甘草二兩，桂枝二兩，生薑四兩。治反胃嘔吐，渴欲飲水者。以土濕木鬱，抑塞不升，下竅閉結，濁陰無降泄之路，膽胃俱逆，是以嘔吐。桂枝達木鬱而升陷，生薑利胃壅而降逆，朮、甘，補土而生津，苓、澤，瀉水而去濕也。</p>
<p>外臺茯苓飲，茯苓三兩，人參三兩，白朮三兩，枳實三兩，橘皮二兩半，生薑四兩。治心胸中停痰宿水，吐出水後，心胸間虛滿，不能食者。心胸陽位，而痰水停宿，全緣中焦土濕。宿水雖吐，停痰尚在，而其中脘不旺，一吐之後，胃土上逆，濁氣壅塞，是以虛滿，不能下食。參、朮、茯苓，補中而燥土，枳、橘、生薑，降濁而消滿也。</p>
<p>傷寒桂枝去桂加茯苓白朮湯，芍藥二兩，甘草二兩，生薑三兩，大棗十二枚，茯苓三兩，白朮三兩。治太陽傷寒，汗出不解，頭疼發熱無汗，心下滿痛，小便不利。以汗後亡陽，水泛土濕，胃氣上逆，則心下滿痛，脾氣下陷，則小便不利，苓、術，燥土瀉水而消滿也。</p>
<p>小青龍湯，方在麻黃。治太陽傷寒，心下有水氣，小便不利，少腹滿者，去麻黃，加茯苓四兩，金匱黃耆建中湯方在黃耆。治虛勞裡急，腹滿者，去大棗，加茯苓一兩半，緣土濕木鬱，兩氣壅塞，而生痞滿，茯苓瀉濕，滿自消也。</p>
<p>傷寒苓桂朮甘湯，茯苓四兩，桂枝二兩，白朮二兩，甘草二兩。治太陽傷寒，吐下之後，心下逆滿，氣上衝胸，起則頭眩，又復發汗動經，身為振振搖者。吐下瀉其臟中之陽，風木動於臟，而氣上衝胸膈，復汗以瀉其經中之陽，風木動於經，則身體振搖，緣水泛土濕而木氣鬱動也。桂枝疏木而達郁，朮、甘、茯苓，培土而瀉水也。</p>
<p>真武湯，茯苓三兩，白朮二兩，附子一枚，芍藥二兩，生薑三兩。治少陰病，內有水氣，腹痛下利，小便不利，四肢沉重疼痛，或嘔者。以水泛土濕，風木鬱遏，不能疏泄水道，故小便不利。木鬱賊土，脾陷胃逆，故腹痛嘔利。營血寒澀，不能行經絡而充肢節，故四肢沉重疼痛。附子溫癸水之寒，芍藥清乙木之風，生薑降濁而止嘔，苓、術，燥土而瀉濕也。治太陽中風，服大青龍湯，汗後亡陽，手足厥逆，筋惕肉瞤者。以陽亡土敗，寒水大發，風木失溫，郁動不寧，故手足厥冷而筋肉振動。芍藥斂風木之搖盪，苓、朮、附子，溫補火土而瀉寒水也。治太陽傷寒，汗出不解，發熱頭眩，心下悸，身瞤動，振振欲擗地者。以汗後亡陽，水寒土濕，風木鬱動，身體戰搖。芍藥清風木之振撼，苓、朮、附子，溫補火土而瀉寒水也。</p>
<p>苓桂甘棗湯，茯苓半斤，桂枝四兩，甘草二兩，大棗十五枚。治汗後臍下悸動，欲作奔豚。風木鬱動，是生振悸。心下悸者，枝葉之不寧，臍下悸者，根本之不安，臍下振悸，根本撼搖，則奔豚作矣，因於水旺土崩，而根本失培也。甘、棗，補脾精以滋風木，桂枝達木鬱而安動搖，茯苓瀉水而燥土也。</p>
<p>《金匱》：假令瘦人，臍下有悸，吐涎水而顛眩，此水也，五苓散主之。理中丸，方在人參。治霍亂吐利，若臍下築者，腎氣動也，去朮，加桂四兩，悸者，加茯苓二兩。傷寒小柴胡湯，方在柴胡。治少陽傷寒，心下悸，小便不利者，去黃芩，加茯苓。蓋悸者，木也，所以致木之悸者，水也。緩則悸於心下，急則悸於臍間，臍下之悸，用桂枝以疏木，心下之悸，用茯苓以瀉水，緩急之不同故也。</p>
<p>茯苓四逆湯，茯苓四兩，甘草二兩，人參一兩，乾薑一兩，附子一兩。治汗下之後，病仍不解，煩躁者。以汗下亡陽，土敗水發，陽氣拔根，擾亂無歸，故生煩躁。參、甘、薑、附，溫補火土，茯苓瀉其水邪也。</p>
<p>火位於上，水位於下，水寒而下潤，火熱而上炎。人之生也，火水必交，交則火胎於坎而水不寒，水孕於離而火不炎。水火相交，爰生濕氣，土位在中，是以性濕。火燥水濕，自然之性，土生於火，而土之濕氣，實化於水。水火之交，全賴乎土，己土左旋，坎陽東昇而化火，戊土右轉，離陰西降而化水，水火互根，寒熱交濟，則胃不偏燥而脾不偏濕，陰陽和平，是以無病。</p>
<p>物不能有盛而無衰，火盛則土燥，水盛則土濕。水不勝火，則濕不勝燥，然丁癸同宮，丁火不能敵癸水之寒，戊己並列，而戊土何能敵己土之濕！人之衰也，火消而水長，燥減而濕增，其大凡也。</p>
<p>土濕不運，升降倒行，水木下陷而寒生，火金上逆而熱作，百病之來，莫不以此。自此以往，陽火漸虧，陰水漸盛。火復而土生則人存，水盛而土崩則人亡，是以仲景垂教，以少陰之負趺陽者為順。土勝為順，水勝為逆，古之聖人，燥土而制水，後之庸工，滋水而伐土，上智之與下愚，何其相遠也！</p>
<p>土燥之病，傷寒惟陽明有之，而濕居其半，他經已不少睹，內傷雜病之中，那復有此！後世庸工，開滋陰補水之門，而醫如蕭斧，人若朝菌矣。凡內傷諸病，如氣鼓水脹，咳嗽痰飲，泄利淋濁，吐衄崩漏，瘕疝帶下，黃疸消渴，中風癲狂，驚悸遺精，反胃噎膈，泄穢吞酸，骨蒸毛熱，閉經絕產，霍亂腹痛，傷風齁喘，種種幻怪，百出不窮，究其根原，悉緣土濕。茯苓瀉水燥土，沖和淡蕩，百病皆宜，至為良藥，道家稱其有延年之功，信非過也。</p>
<p>庸工用乳制，最繆不通！</p>
<p><u>豬苓</u>　味甘，氣平，入足少陰腎，足太陽膀胱經。利水燥土，瀉飲消痰，開汗孔而瀉濕，清膀胱而通淋，帶濁可斷，鼓脹能消。</p>
<p>傷寒豬苓湯，豬苓一兩，茯苓一兩，澤瀉一兩，滑石一兩，阿膠一兩。治陽明傷寒，脈浮發熱，渴欲飲水，小便不利者。陽明之證，有燥有濕，陽明旺而太陰虛，則燥勝其濕，太陰旺而陽明虛，則濕勝其燥。己土濕陷，乙木抑遏，不能疏泄水道，則小便不利。木鬱風動，肺津傷耗，則渴欲飲水。風氣飄揚，而表寒未解，則脈浮發熱。豬、茯、滑、澤，燥己土而瀉濕，阿膠滋乙木而清風也。治少陽病，下利，咳而嘔渴，心煩不得眠者。以水旺土濕，風木鬱陷，下克己土，疏泄不藏則為利，風燥亡津則為渴。乙木陷而甲木逆，上克戊土，濁氣逆沖，則為咳嘔，相火上炎，則心煩不得眠睡。豬、茯、澤、滑，滲癸水而瀉濕，阿膠滋乙木而清風也。</p>
<p>金匱豬苓散，豬苓、澤瀉、白朮等分。為散。治病在膈上，嘔吐之後，而思水者。痰飲內阻，多見渴證，而投以新水，益復難容，故隨飲而即吐。嘔傷津液，應當作渴，而水停心下，則反不渴，是以先渴而即嘔者，必有支飲。若飲在膈上，吐後而思飲水者，是飲去而津傷，為欲解也，此當急與之水，以救其渴。但其平日陽衰土濕，而後飲停膈上，宿水方去，又得新水，而土濕如前，不能蒸水化氣，則新水又停矣，是當瀉濕而生津。澤、苓，瀉水而去濕，白朮燥土而生津也。</p>
<p>豬苓滲利瀉水，較之茯苓更捷。但水之為性，非土木條達，不能獨行，豬苓散之利水，有白朮之燥濕土也，豬苓湯之利水，有阿膠之清風木也，五苓之利水，有白朮之燥土、桂枝之達木也，八味之利水，有桂枝之達木、地黃之清風也。若徒求利於豬、茯、滑、澤之輩，恐難奏奇功耳。</p>
<p>去皮用。</p>
<p><u>澤瀉</u>　味鹹，微寒，入足少陰腎、足太陽膀胱經。燥土瀉濕，利水通淋，除飲家之眩冒，療濕病之燥渴，氣鼓水脹皆靈，膈噎反胃俱效。</p>
<p>金匱澤瀉湯，澤瀉五兩，白朮二兩。治心下有支飲，其人苦冒眩者。以飲在心下，阻隔陽氣下降之路，陽不根陰，升浮旋轉，故神氣昏冒而眩暈。此緣土濕不能制水，故支飲上泛，澤瀉瀉其水，白朮燥其土也。</p>
<p>澤瀉鹹寒滲利，走水腑而開閉癃，較之二苓淡滲，更為迅速。五苓、八味、茯苓、澤瀉、當歸、芍藥諸方皆用之，取其下達之速，善決水竇，以瀉土濕也。</p>
<p><u>葵子</u>　味甘，微寒，性滑，入足太陽膀胱經。滑竅而開癃閉，利水而瀉膀胱。</p>
<p>金匱癸子茯苓散，葵子一升，茯苓三兩。為末，飲服方寸匕。治妊娠有水氣，身重，小便不利，灑淅惡寒，起即頭眩。以陽衰土濕，乙木下郁，不能行水，故身重而小便不利。木鬱陽陷，是以惡寒。停水瘀阻，陽氣浮蕩，不能下根，故起則頭眩。葵子滑竅而利水，茯苓瀉滿而滲濕也。</p>
<p>妊娠胎氣脹滿，脾胃不運，積水鬱遏，頗難疏決。葵子寒滑通利，善於開竅而行水，以茯苓瀉其滿，葵子滑其竅，滿消而竅利，然後奔注而下。長於滑胎通乳，消散初起奶癰，以其瀉濕燥土，滑利經脈之壅塞也。</p>
<p><u>瞿麥</u>　味苦，微寒，入足厥陰肝、足太陽膀胱經。利水而開癃閉，瀉熱而清膀胱。</p>
<p>金匱栝蔞瞿麥丸方在栝蔞。用之，治內有水氣，渴而小便不利者，以其通水道而利小便也。又能行血，鱉甲煎丸方在鱉甲。用之，以清濕熱而破血積也。</p>
<p>瞿麥滲利疏通，善行血梗而達木鬱，木達而疏泄之令暢，故長於利水。其諸主治，清血淋，通經閉，決癰膿，落胎妊，破血塊，消骨鯁，出竹刺，拔箭鏃，皆其疏決開宕之力也。</p>
<p><u>蒲灰</u>　味鹹，微寒，入足太陽膀胱經。開膀胱之閉，瀉皮膚之水。</p>
<p>金匱蒲灰散，蒲灰半斤，滑石二斤。為散，飲服方寸匕，日三服。治小便不利。以水泛土濕，木鬱生熱，不能行水，熱傳己土，而入膀胱，膀胱熱澀，小便不利。蒲灰鹹寒而開閉澀，滑石淡滲而瀉濕熱也。</p>
<p>蒲灰鹹寒，直走膀胱，而清熱澀，利水至捷。</p>
<p><u>通草</u>　味辛，入足厥陰肝、手少陰心。足太陽膀胱經。行血脈之瘀澀，利水道之淋癃。</p>
<p>傷寒當歸四逆湯方在當歸。用之，治厥陰病，手足厥冷，脈細欲絕，以其通經絡而開結澀也。</p>
<p>通草疏利壅塞，開通隧道，善下乳汁，而通月水，故能治經絡結澀，性尤長於瀉水。其諸主治，通經閉，下乳汁，療黃疸，消水腫，開淋澀，消癰疽，利鼻癰，除心煩。</p>
<p><u>石韋</u>　味苦，入足太陽膀胱經。清金瀉熱，利水開癃。</p>
<p>金匱鱉甲煎丸方在鱉甲。用之，治瘧日久，結為癥瘕，以其瀉水而消瘀也。</p>
<p>石韋清肺除煩，利水瀉濕，專治淋澀之證，並療崩漏金瘡，發背癰腫。</p>
<p><u>茵陳蒿</u>　味苦，微寒，入足太陰脾、足太陽膀胱經。利水道而瀉濕淫，消瘀熱而退黃疸。</p>
<p>傷寒茵陳蒿湯，茵陳蒿六兩，梔子十四枚，劈，大黃二兩。治太陰病，身黃腹滿，小便不利者。以己土濕陷，木鬱熱生，濕熱傳於膀胱，水竅不開，淫溢經絡，鬱蒸而發黃色。茵陳利水而除濕，梔子、大黃，瀉熱而消瘀也。</p>
<p>金匱茵陳五苓散，茵陳蒿末十分，五苓散五分。治病黃疸，茵陳行經而瀉濕，五苓利水而開癃也。</p>
<p>茵陳通達經絡，滲泄膀胱，性專去濕，故治發黃，並浴瘡疥瘙癢之疾。</p>
<p><u>連翹</u>　味苦，性涼，入足太陰脾、足太陽膀胱經。清丁火而退熱，利壬水而瀉濕。</p>
<p>傷寒麻黃連翹赤小豆湯，麻黃二兩，生薑二兩，甘草一兩，大棗十二枚，生梓白皮一斤，杏仁四十枚，連翹二兩，赤小豆一升。治太陰傷寒，瘀熱在裡，身必發黃。以太陰濕旺，胃土賊於甲木，肺金刑于相火，木火鬱遏，濕化為熱，則發黃色。緣肺熱則水道不利，濕無泄路，木主五色，入土而化黃也。甘、棗、生薑，補土和中，麻黃瀉皮毛之郁，杏仁降肺氣之逆，生梓白皮清相火而疏木，連翹、小豆，瀉濕熱而利水也。</p>
<p>連翹清心瀉火，利水開癃，善除鬱熱之證，尤能行血通經，涼營散結，療癰疽癭癧之病，擅消腫排膿之長。</p>
<p><u>澤漆</u>　味苦，微寒，入足太陽膀胱經。專行水飲，善止咳嗽。</p>
<p>金匱澤漆湯，澤漆三升，半夏半升，白前五兩，紫參五兩，黃芩三兩，人參三兩，甘草三兩，桂枝三兩，生薑五兩。治咳而脈沉者。火浮水沉，自然之性，其脈見沉，是有里水。水邪阻格，肺氣不降，金受火刑，是以作咳。人參、甘草，補中而培土，生薑、半夏，降逆而驅濁，紫參、白前，清金而破壅，桂枝、黃芩，疏木而瀉火，澤漆行其水積也。</p>
<p>澤漆苦寒之性，長於瀉水，故能治痰飲阻格之咳。</p>
<p>入藥用長流水煎。</p>
<p><u>赤小豆</u>　味甘，入手太陽小腸、足太陽膀胱經。利水而瀉濕熱，止血而消癰腫。</p>
<p>金匱赤小豆當歸散，赤小豆三升，當歸十兩。為散，漿水服方寸匕，日三服。治狐惑膿成，脈數心煩，默默欲臥，目赤眥青，汗出能食。以濕旺木鬱，鬱而生熱，濕熱淫蒸，肉腐膿化。赤小豆利水而瀉濕熱，當歸養血而排膿穢也。又治先血後便者。以土濕木遏，鬱而生風，疏泄不藏，以致便血。其下在大便之先者，是緣肝血之陷漏，其來近也。赤小豆利水而瀉濕熱，當歸養血而清風木也。</p>
<p>傷寒瓜蒂散方在瓜蒂。用之，治胸有寒瘀，心中痞硬，氣衝咽喉，以其滌胸中之濕淫也。</p>
<p>麻黃連翹赤小豆湯方在連翹。用之，治太陰病，瘀熱在裡，身必發黃，以其瀉經絡之濕邪也。</p>
<p>赤小豆利水瀉濕，行郁退熱，安胎下乳，善治一切癰腫，及諸下血之病。</p>
<p>浸令毛出，曝乾用。</p>
<p><u>防己</u>　味苦、辛，性寒，入足太陰脾、足太陽膀胱經。瀉經絡之濕邪，逐臟腑之水氣。</p>
<p>金匱防己黃耆湯，防己一兩，黃耆一兩，甘草五錢，白朮七錢五分，生薑四兩，大棗三枚。服後當如蟲行皮中，從腰以下如冰。上下繞被，溫令有微汗，差。治風濕脈浮身重，汗出惡風。以汗出當風，開其皮毛，汗液郁遏，不得外泄，浸淫經絡，是謂風濕。病在經絡，是以脈浮。濕性沉著，是以身重。風性疏泄，是以汗出惡風。朮、甘，燥土而補中，黃耆益衛以發表，防己瀉腠理之濕邪也。</p>
<p>防己茯苓湯，防己三兩，茯苓六兩，黃耆三兩，桂枝三兩，甘草二兩。治皮水為病，四肢腫者。水在皮膚，是謂皮水。四肢秉氣於脾胃，緣土旺於四季也，水邪侮土，不能行氣於四肢，故四肢作腫，聶聶動搖。甘草補土，黃耆、桂枝，宣營衛之郁，防己、茯苓，瀉皮膚之水也。</p>
<p>己椒藶黃丸，防己一兩，椒目一兩，葶藶一兩，大黃一兩。蜜丸，如梧子大，食前服一丸，日三服。治腸間有水氣，腹滿，口舌乾燥者。水在腸間，阻遏中氣，升降不行，是以腹滿。防己、椒目，瀉濕而行水，葶藶、大黃，浚流而決壅也。</p>
<p>木防己湯，木防己三兩，石膏如雞子大，人參四兩，桂枝二兩。治隔間支飲，其人喘滿，心下痞堅，面色黧黑，脈沉緊者。以土濕胃逆，不能行水，故飲停於胸膈。胃逆而阻膽經之降路，故心下痞堅。胃逆而阻肺氣之降路，故胸中喘滿。人參、桂枝，補中而疏木，防己、石膏，瀉水而清金也。</p>
<p>漢防己瀉經絡之濕淫，木防己瀉臟腑之水邪，凡痰飲內停，濕邪外郁，皮膚黑黃，膀胱熱澀，手足攣急，關節腫痛之證，悉宜防己。</p>
<p><u>海藻</u>　味鹹，性寒，入足少陰腎、足太陽膀胱經。利水而瀉痰，軟堅而消痞。</p>
<p>傷寒牡蠣澤瀉散方在牡蠣。用之，治大病差後，從腰以下有水氣者，以其利水而清熱澀也。</p>
<p>海藻鹹寒下行，走膀胱而通水道，善療奔豚腳氣，氣鼓水脹之疾，而軟堅化痞，尤為擅長，且凡癭瘤瘰癧，潰疝癥瘕，一切癰腫堅頑之病皆醫。</p>
<p><u>商陸根</u>　味苦、辛、酸，入足太陽膀胱經。專瀉水飲，善消腫脹。</p>
<p>傷寒牡蠣澤瀉散方在牡蠣。用之，治大病差後，從腰以下有水氣者，以其瀉水而開閉癃也。</p>
<p>商陸根酸苦湧瀉，專於利水，功力迅急，與芫、遂、大戟相同，得水更烈，善治水氣腫脹之病，神效非常，兼療癰腫痃癖諸證。</p>
<p>赤者大毒，用白者。鮮根搗汁，服後勿飲水。</p>
<p><u>葶藶</u>　味苦、辛，性寒，入足太陽膀胱經。破滯氣而定喘，瀉停水而寧嗽。</p>
<p>金匱葶藶大棗瀉肺湯，葶藶搗丸如彈子大，大棗十二枚。治支飲，喘不得息。飲阻肺金下降之路，肺氣壅礙，喘不得息。大棗補脾精而保中氣，葶藶瀉肺壅而決支飲也。又治肺癰，喘不得臥者。以土濕胃逆，濁氣痞塞，腐敗瘀蒸，化而為膿。肺氣阻格，喘不得臥。大棗補脾精而保中氣，葶藶破肺壅而排膿穢也。</p>
<p>傷寒大陷胸丸方在大黃。用之，治太陽結胸，以其開痹塞而瀉痰飲也。</p>
<p>葶藶苦寒迅利，行氣瀉水，決壅塞而排痰飲，破凝瘀而通經脈，凡停痰宿水，嗽喘腫脹之病，甚奏奇功，月閉經阻，夜熱毛蒸之疾，亦有捷效。</p>
<p><u>芫花</u>　味苦、辛，入足太陽膀胱經。性專瀉水，力能止利。</p>
<p>傷寒小青龍湯，方在麻黃。治太陽傷寒，心下有水氣。若微利者，去麻黃，加芫花如雞子大，熬令赤色，水旺土濕則利作，芫花瀉水而止利也。</p>
<p>金匱十棗湯方在大棗。用之，治心脅痞痛，下利嘔逆者，治懸飲內痛，脈沉而弦者，以其破壅塞而瀉飲也。</p>
<p>芫花破氣瀉水，逐飲滌痰，止喘嗽而化疝瘦，消癰腫而平瘡疥，善殺蟲魚，妙枯瘤痔，牙痛頭禿之病，皆有奇功。</p>
<p><u>甘遂</u>　味苦，性寒，入足太陽膀胱經。善瀉積水，能驅宿物。</p>
<p>金匱甘遂半夏湯，甘遂大者二枚，半夏十二枚，芍藥五枚，甘草指大一枚。水二升，煮半升，入蜜半升，煎八合，頓服。治留飲欲去，心下堅滿，脈伏，自利反快者。心下堅滿，脈氣沉伏，是有留飲。忽而自利反快，是水飲下行，漬於腸胃也。甘遂、半夏，瀉水而滌飲，甘草、芍藥，培土而瀉木，蜂蜜滑大腸而行水也。</p>
<p>傷寒大陷胸湯方在大黃。用之，治結胸熱實，煩躁懊憹者，十棗湯方在大棗。用之，治心脅痞痛，下利嘔逆者，治懸飲內痛，脈沉而弦者，大黃甘遂湯方在大黃。用之，治水與血結在血室者，皆以其破壅而瀉痰飲也。</p>
<p>甘遂苦寒迅利，專決積水，凡宿痰留飲，經腑停瘀，皮膚腫脹，便尿阻澀之證，一瀉而下，其力甚捷，並下癥瘕積聚，一切陳郁之物。</p>
<p><u>大戟</u>　味苦，性寒，入足太陽膀胱經。瀉水飲之停留，通經脈之瘀澀。</p>
<p>金匱十棗湯方在大棗。用之，治心脅痞痛，下利嘔逆者，治懸飲內痛，脈沉而弦者，以其破結而驅飲也。</p>
<p>大戟破氣瀉水，兼化老血症瘀，通經脈結閉，散頸腋癰腫，洗腳氣腫痛之病，胥有捷效。</p>
<p><u>滑石</u>　味苦，微寒，入足太陽膀胱經。清膀胱之濕熱，通水道之淋澀。</p>
<p>金匱滑石白魚散，滑石一斤，白魚一斤，亂髮一斤。為散，飲服方寸匕。治小便不利。以膀胱濕熱，水道不通。滑石滲濕而瀉熱，白魚、發灰，利水而開癃也。</p>
<p>滑石代赭湯，滑石三兩，代赭石如雞子大，百合七枚。治百合病，下後者。下傷中氣，濕動胃逆，肺郁生熱。滑石利水而瀉濕，百合、代赭，清金而降逆也。</p>
<p>傷寒豬苓湯方在豬苓。用之，治脈浮發熱者，渴欲飲水，小便不利者，以其滲膀胱而瀉濕熱也。金匱蒲灰散方在蒲灰。用之治皮水為病，四肢腫滿者，以其瀉經絡之水也，治小便不利者，以其瀉膀胱之濕也。百合滑石散方在百合。用之治百合病，變發熱者，以其利水而瀉濕也。</p>
<p>滑石甘寒，滲瀉水濕，滑竅隧而開凝郁，清膀胱而通淋澀，善治黃疸，水腫，前陰閉癃之證。</p>
<p><u>戎鹽</u>　味鹹，微寒，入足太陽膀胱經。清膀胱而瀉熱，開癃閉而利水。</p>
<p>金匱茯苓戎鹽湯，茯苓半斤，戎鹽彈丸大，白朮二兩。治小便不利。以其土濕，則水道不利。朮、苓，燥土而瀉濕，戎鹽利水而瀉熱也。</p>
<p>戎鹽鹹寒之性，直走膀胱，而清痰熱，長於利水。其諸主治，能止吐血、尿血、齒舌諸血，以咸走血而性清降也。</p>
<p>味鹹而甘，入藥殊勝食鹽之苦，即青鹽也。</p>
<p><u>硝石</u>　味鹹、苦，性寒，入足太陽膀胱、足太陰脾經。清己土而退熱，利壬水而瀉濕。</p>
<p>金匱硝礬散，硝石、礬石等分。為散，大麥粥汁合服方寸匕。病從大小便去，大便黑，小便黃。治女勞黑疸，日晡發熱，而反惡寒，足下熱，膀胱急，少腹滿，其腹如水狀，身盡黃，額上黑，因作黑疸，大便黑，時溏。以女勞瀉其腎陽，久而水寒土濕，乙木遏陷，郁生下熱，攻逼己土，己土受之，濕亦化熱，以其濕熱傳於膀胱，而木鬱不能疏泄，故小便黃澀而不利。一感風邪，瀉其衛氣，衛氣愈瀉而愈斂，皮毛遂閉，膀胱瘀熱，下不能泄而表不能達，因而淫溢經絡，熏蒸肌膚，而發黃色。乙木陷於壬水，積鬱莫散，則少腹脹滿而膀胱迫急。日晡土旺之時，濕盛熱發而木鬱陽陷，故足下常熱而身反惡寒。太陽膀胱之經，自目之內眥上額交顛，經氣上逆，故額見黑色。久而土負水勝，黃化而黑，因成黑疸。谷渣不從土化而從水化，因而大便亦黑，水從脾胃而侮土，則大便黑。土傳膀胱而剋水，則小便黃。總之，皆由於木邪，以肝主五色，入腎為黑，入脾為黃也。硝石鹹苦，清熱瘀而瀉木，礬石酸澀，收濕淫而瀉水也。</p>
<p>水中土木之郁，瀉於小便，故其色黃，土中水木之郁，瀉於大便，故其色黑。黑疸水陸瘀澀，隧路梗阻，硝石鹹寒之性，直達下脘，利水路而瀉穀道，合之礬石滌盪郁陳，注於二便，腐敗掃除，正氣清通，繼以補中養火之劑，垂盡之命，可以再延也。</p>
<p>大黃硝石湯，方在大黃。治黃疸腹滿，小便不利，用之以清膀胱之濕熱也。</p>
<p>硝石，掃地霜熬成，在上者，鋒芒細白，是謂芒硝，水底成塊者，謂之硝石。其性重濁下行，善於利水瀉熱，消瘀化腐，故能醫黃疸之疾。</p>
<p><u>芒硝</u>　味鹹、苦、辛，性寒，入手少陰心、足太陽膀胱經。瀉火而退燔蒸，利水而通淋瀝。</p>
<p>傷寒柴胡加芒硝湯，柴胡半斤，黃芩三兩，半夏半升，人參三兩，甘草三兩，大棗十二枚，生薑三兩，芒硝六兩。治少陽傷寒，十三日不解，胸脅滿而嘔，日晡所發潮熱，已而微利者。傷寒之證，六日經盡當解，自能汗愈，遲者十二日再經解矣。若十三日不解，已過再經之期，此非入臟，即是入腑，必不在經中也。其胸脅痞滿，而作嘔吐，是少陽經證。日晡所發潮熱，已而微利者，是陽明腑證。以少陽之經，循胸脅而走足，經病而侵胃腑，胃腑被逼，逆而上行，阻格少陽下降之路，二氣壅塞，故胸脅痞滿。胃腑郁迫，故水穀莫容，而生嘔利。少陽以甲木而化相火，傳於戊土，則胃腑生熱，陽明以戊土而化燥金，日晡土金旺相之時，故腑熱應期，發如潮信。經腑雙病，此本大柴胡證，外解其經而內下其腑，一定之法，乃已曾用丸藥下過，緩不及事，而又遺其經證，是以猶見微利，宜先以小柴胡解其經病，後以柴胡而加芒硝，清其腑熱，緣已服丸藥，無須用大黃也。</p>
<p>金匱木防己去石膏加茯苓芒硝湯，木防己三兩，人參四兩，桂枝二兩，茯苓四兩，芒硝三合。治支飲在胸，喘滿，心下痞堅，面黧黑，脈沉，服木防己湯，三日復發，復與不愈者。以土濕木鬱，而生下熱去石膏之清上，加茯苓以瀉濕，芒硝以清熱也。</p>
<p>傷寒大承氣湯方在大黃。用之，治陽明病，胃熱便難，所以瀉陽明之燥熱也。大陷胸湯方在大黃。用之，治太陽病結胸，所以瀉胸膈之濕熱也。金匱大黃牡丹皮湯方在大黃。用之，治腸癰膿成，脈洪數者，所以瀉腸中之瘀熱也。</p>
<p>芒硝鹹苦大寒，下清血分，瀉火救焚，軟堅破積，利水道而通淋澀，利穀道而開結閉，結熱瘀蒸，非此不退，宿痰老血，非此不消，寒瀉之力，諸藥不及。</p>
<p><u>赤硝</u>　味鹹、苦，入足厥陰肝、足太陽膀胱經。軟堅破積，化癖消症。</p>
<p>金匱鱉甲煎丸方在鱉甲。用之，治久瘧結為癥瘕，以其破瘀而消症也。</p>
<p>赤硝即朴硝之赤者，凡斥鹵之地，鹹水之旁，咸氣浸淫，土上生霜，有白有赤有黃，《本草》所謂清白者佳，黃者傷人，赤者殺人，性烈故也。其清熱軟堅，消塊化積，亦同諸硝，而迅利過之。</p>
<p><u>礬石</u>　味酸，澀，微寒，入足太陰脾、足太陽膀胱經。善收濕淫，最化瘀濁，黑疸可消，白帶能除。</p>
<p>金匱礬石丸，礬石三分，燒，杏仁一分。煉蜜丸棗核大，內臟中。治婦人帶下，經水閉不利，臟堅癖不止，中有乾血，下白物。以乾血結瘀，臟中癖硬，阻礙經脈下行之路，以致經水閉澀不利。血瘀因於木陷，木陷因於土濕，濕土遏抑，木氣不達，故經水不利。木陷於水，愈鬱而愈欲泄，癸水不能封蟄，精液溢流，故下白物。礬石化敗血而消痞硬，收濕淫而斂精液，杏仁破其鬱陷之滯氣也。</p>
<p>硝礬散，方在硝石。治女勞黑疸，以其燥濕而利水也。</p>
<p>千金礬石湯，礬石二兩。漿水一斗五升，煎，浸腳氣。治腳氣衝心，以其燥濕也。</p>
<p>礬石酸澀燥烈，最收濕氣，而化瘀腐，善吐下老痰宿飲。緣痰涎凝結，黏滯於上下竅隧之間，牢不可動，礬石蒐羅而掃蕩之，離根失據，臟腑不容，高者自吐，低者自下，實非吐下之物也。其善治癰疽者，以中氣未敗，癰疽外發，肉腐膿泄而新肌生長，自無餘事。陽衰土濕，中氣頹敗，癰疽不能外發，內陷而傷腑臟，是以死也，礬石收臟腑之水濕，土燥而氣達，是以愈也。</p>
<p>煅枯，研細用。</p>
<p><u>雲母</u>　味甘，入足少陽膽、足太陽膀胱經。利水瀉濕，消痰除瘧。</p>
<p>金匱蜀漆散方在蜀漆。用之，治牝瘧多寒，以其瀉濕而行痰也。</p>
<p>瘧以寒濕之邪，結於少陽之經，與淋瀝之證，皆緣土濕而陽陷，雲母瀉濕行痰，故治牝瘧而除淋瀝。</p>
<p><u>白魚</u>　味甘，入足太陽膀胱經。善行水道，最通淋澀。</p>
<p>金匱滑石白魚散方在滑石。用之，治小便不利，以其利水也。</p>
<p><u>文蛤</u>　味鹹，微寒，入手太陰肺、足太陽膀胱經。清金除煩，利水瀉濕。</p>
<p>傷寒文蛤散，文蛤。為散，沸湯和服方寸匕。治太陽中風，應以汗解，反以冷水噀灌，經熱被卻而不得去，彌更益煩，肉上起粟，意欲飲水，反不渴者。表病不以汗解，反以冷水閉其皮毛，經熱莫瀉，煩躁彌增。衛郁欲發，升於汗孔，衝突皮膚，凝起如粟。煩熱鬱隆，意欲飲水，而熱在經絡，非在臟腑，則反不覺渴。是其己土必當濕旺，若使非濕，表郁燥動，未有不渴者。文蛤除煩而瀉濕也。《金匱》治渴欲飲水不止者。以濕土堙郁，乙木不得升泄，則膀胱熱癃，辛金不得降斂，則胸膈煩渴。文蛤清金而瀉水也。</p>
<p>文蛤湯，文蛤五兩，石膏五兩，生薑三兩，杏仁五十枚，麻黃三兩，甘草三兩，大棗十二枚。溫服一升，汗出即愈。治吐後渴欲得水，而貪飲者。以水飲既吐，胃氣上逆，肺金格郁，刑于相火，是以渴而貪飲。甘草、大棗，補土而益精，石膏、文蛤，清金而瀉濕，杏、姜，破壅而降逆，麻黃髮表而達郁也。</p>
<p>文蛤鹹寒，清金利水，解渴除煩，化痰止嗽，軟堅消痞，是其所長，兼醫痔瘡鼠瘻、胸痹腰疼、鼻口疳蝕、便溺血脫之證。</p>
<p>煅粉，研細用。</p>
<p><u>雞屎白</u>　微寒，入足太陽膀胱經。利水而瀉濕，達木而舒筋。</p>
<p>金匱雞屎白散，雞屎白。為散，水服方寸匕。治轉筋為病，臂腳直，脈上下，微弦，轉筋入腹。筋司於肝，水寒土濕，肝木不舒，筋脈攣縮，則病轉筋。雞屎白利水道而瀉濕寒，則木達而筋舒也。</p>
<p>《素問·腹中論》：有病心腹滿，旦食則不能暮食，名為鼓脹，治之以雞矢醴，一劑知，二劑已。</p>
<p>其性神於瀉水，一切淋瀝黃疸之證皆醫，兼能化瘀破結，善磨癥瘕而消癰腫，敷瘰癧而塗鼠瘻。</p>
<p>白雞者良，臘月收之。</p>
<p><u>豬膏</u>　味甘，微寒，入足太陽膀胱經。利水瀉濕，滑竅行瘀。</p>
<p>金匱豬膏發煎，豬膏半斤，亂髮雞子大三枚。膏中煎之，發消藥成，分，再服，病從小便去。治諸黃。以土濕木陷，郁生下熱，傳於膀胱，膀胱閉癃，濕熱熏蒸，隨經逆上，侵於肌膚，則病黃疸。豬膏利水而清熱，發灰瀉濕而消瘀也。又治婦人陰吹。以土濕木陷，穀道鬱塞，胃中濁氣，不得後泄，故自前竅，喧吹而下。豬膏利水而滑大腸，發發瀉濕而通膀胱也。</p>
<p>豬膏利水滑腸，善通大小二便，治水腫、帶下之證。</p>
<p><u>亂髮</u>　味苦，入足太陽膀胱、足厥陰肝經。利水通淋，瀉濕行瘀。</p>
<p>金匱豬膏發煎方在豬膏。用之，治諸黃疸，及女子陰吹，以其瀉濕而行滯也。滑石白魚散方在滑石。用之，治小便不利，以其利水而通淋也。</p>
<p>發灰長於利水而善行血瘀，能止上下九竅之血，消一切癰腫，通女子經閉。童女發灰，治夢遺最神。</p>
<p>燒灰存性，研細用。</p>
<p><u>人尿</u>　味鹹，氣臊，性寒，入手少陰心經。清心瀉火，退熱除煩。</p>
<p>傷寒白通加豬膽汁湯方在豬膽汁。用之，治少陰病，下利，厥逆無脈，乾嘔煩者。以手足少陰，水火同居，少陰經病，水火不交，癸水下旺，丁火上炎，是以煩生。豬膽汁清相火而止嘔，人尿清君火而除煩也。</p>
<p>水曰潤下，潤下作咸，水入膀胱，下從寒水化氣，是以鹹寒而清火，除煩而瀉熱。性能止血，而寒瀉脾陽，不宜中虛家。</p>
<p>用童子小便清白者。</p>
<p><u>褌襠灰</u>　味苦，入足少陰腎、足太陽膀胱經。瀉壬水之濕寒，療陰陽之交易。</p>
<p>傷寒燒褌散，褌襠中近隱處剪燒灰，陰陽水服方寸匕，日三服。小便即利，陰頭微腫，則愈。男用女者，女用男者。治傷寒陰陽易病，身體重，少氣，少腹滿，裡急，或陰中筋攣，熱上衝胸，頭重不能舉，眼中生花，膝脛拘急者。以傷寒之病，坎陽發泄，肌膚熱蒸，而陰精自寒。大病新愈，遽與人交，以其陰寒，傳之於人，寒邪內入，直走命門，水寒木枯，筋脈緊急。緣肝主筋，筋聚於前陰而屬於關節，故陰器與膝脛皆攣。褌襠灰利水道而瀉陰邪也。</p>
<p>褌襠受前陰之薰染，同類相招，善引陰邪，而通小便，故治陰陽易病，兼醫女勞黃疸之病。</p>
<p><u>黃連</u>　味苦，性寒，入手少陰心經。清心退熱，瀉火除煩。</p>
<p>傷寒黃連湯，黃連三兩，桂枝三兩，甘草三兩，乾薑三兩，人參二兩，大棗十二枚，半夏半升。治太陰傷寒，胸中有熱，胃中有邪氣，腹中痛，欲嘔吐者。以中氣虛寒，木邪剋土，脾陷而賊於乙木，故腹中痛，胃逆而賊於甲木，故欲嘔吐。君火不降，故胸中有熱。薑、甘、參、棗，溫中而補土，桂枝達乙木而止疼，半夏降戊土而止嘔，黃連清君火而瀉熱也。</p>
<p>黃連阿膠湯，黃連四兩，黃芩一兩，芍藥二兩，阿膠三兩，雞子黃二枚。水五升，煎二升，去滓，入膠，消化，內雞子黃，攪，溫分三服。治少陰病，心煩不得臥。少陰水火同經，水勝則火負，火勝則水負。火本不勝水，其所以勝者，火旺而土燥也。君火下蟄，則心清而善寐，君火上亢，則心煩而不臥。緣坎水根於離陰，燥土剋水，消耗心液，神宇不清，是以生煩。黃連清君火而除煩，芩、芍，清相火而瀉熱，阿膠、雞子黃，補脾精而滋燥土也。</p>
<p>金匱黃連粉，黃連，研末，水調服。治浸淫瘡。以土濕火升，郁生上熱，濕熱浸淫，結為毒瘡。從口而走四肢則生，從四肢而入口則死。黃連瀉濕熱之浸淫也。</p>
<p>傷寒大黃黃連瀉心湯，方在大黃。治太陽傷寒，誤下成痞，附子瀉心湯，方在附子。治心下痞硬，惡寒汗出，甘草瀉心湯，方在甘草。治心下痞硬，乾嘔心煩，生薑瀉心湯，方在生薑。治心下痞硬，乾噫食臭，半夏瀉心湯，方在半夏。治少陽傷寒，心下痞滿，葛根黃連黃芩湯，方在葛根。治中風下後，喘而汗出，乾薑芩連人參湯，方在乾薑。治厥陰吐下後，食入即吐，小陷胸湯，方在栝蔞。治小結胸，脈浮滑者，白頭翁湯，方在白頭翁。治厥陰下利，熱渴飲水者，烏梅丸，方在烏梅。治厥陰蛔厥，心中疼熱，皆用之，以其瀉心君之火也。</p>
<p>火蟄於土，土燥則火降而神清，土濕則火升而心煩，黃連苦寒，瀉心火而除煩熱，君火不降，濕熱煩郁者宜之。土生於火，火旺則土燥，火衰則土濕，凡太陰之濕，皆君火之虛也，虛而不降，則升炎而上盛，其上愈盛，其下愈虛，當其上盛之時，即其下虛之會，故仲景黃連清上諸方，多與溫中暖下之藥並用，此一定之法也。凡瀉火清心之藥，必用黃連，切當中病即止，不可過劑，過則中下寒生，上熱愈甚。庸工不解，以為久服黃連，反從火化，真可笑也。</p>
<p><u>硃砂</u>　味甘，微寒，入手少陰心經。善安神魂，能止驚悸。</p>
<p>金匱赤丸，茯苓四兩，半夏四兩，烏頭二兩，細辛一兩。研末，煉蜜丸，硃砂為衣，麻子大，酒下三丸。治寒氣厥逆。以火虛土敗，不能溫水，寒水上凌，直犯心君。茯苓、烏頭，瀉水而逐寒邪，半夏、細辛，降逆而驅濁陰，硃砂鎮心君而護宮城也。</p>
<p>硃砂降攝心神，鎮安浮蕩，善醫驚悸之證。赤丸用之，取其保護君主，以勝陰邪也。</p>
<p><u>牡蠣</u>　味鹹，微寒，性澀，入手少陰心，足少陰腎經。降膽氣而消痞，斂心神而止驚。</p>
<p>傷寒牡蠣澤瀉散，牡蠣、澤瀉、海藻、蜀漆、葶藶、商陸根、栝蔞根等分。為散，白飲和服方寸匕。小便利，止服。治大病差後，從腰以下有水氣者。大病新瘥，汗下傷中，之後脾陽未復，不能行水，從腰以下，漸有水氣。牡蠣、栝蔞，清金而瀉濕，蜀漆、海藻，排飲而消痰，澤瀉、葶藶、商陸，決州都而瀉積水也。</p>
<p>傷寒小柴胡湯，方在柴胡。治少陽傷寒，脅下痞硬，去大棗，加牡蠣，以其軟堅而消痞也。</p>
<p>柴胡桂枝幹薑湯，方在乾薑。用之，治少陽傷寒，汗下後胸脅滿結者，以其化結而消滿也。金匱栝蔞牡蠣散，方在栝蔞。用之，治百合病，渴不差者，以其涼金而瀉熱也。白朮散方在白朮。用之，養妊娠胎氣，以其消瘀而除煩也。</p>
<p>金匱桂枝龍骨牡蠣湯、傷寒桂枝甘草龍骨牡蠣湯、桂枝去芍藥加蜀漆龍骨牡蠣湯、柴胡加龍骨牡蠣湯諸方並在龍骨。皆用之，以其斂神而止驚也。</p>
<p>牡蠣鹹寒降澀，秘精斂神，清金瀉熱，安神魂而保精液，凡心悸神驚，遺精盜汗之證皆醫，崩中帶下，便滑尿數之病俱療。善消胸脅痞熱，緣少陽之經，逆而不降，則胸脅硬滿，而生瘀熱，牡蠣降攝君相之火，甲木下行，經氣松暢，硬滿自消。一切痰血症瘕，癭瘤瘰癧之類，得之則化，軟堅消痞，功力獨絕。粉身止汗最良。</p>
<p>煅粉，研細用。</p>
<p><u>龍骨</u>　味鹹，微寒，性澀，入手少陰心、足少陰腎、足厥陰肝、足少陽膽經。斂神魂而定驚悸，保精血而收滑脫。</p>
<p>金匱桂枝龍骨牡蠣湯，桂枝三兩，芍藥三兩，甘草二兩，生薑三兩，大棗十二枚，龍骨二兩，牡蠣三兩。治虛勞，失精血，少腹弦急，陰頭寒，目眩發落，脈得芤動微緊虛遲者。凡芤動微緊虛遲之脈，是謂清穀亡血失精之診，男子得之，則為失精，女子得之，則為夢交，以水寒土濕，風木疏泄，精血失藏故也。相火升泄，則目眩發落。風木鬱陷，則少腹弦急。桂枝、芍藥，達木鬱而清風燥，甘、棗、生薑，補脾精而調中氣，龍骨、牡蠣，斂精血之失亡也。</p>
<p>傷寒桂枝甘草龍骨壯蠣湯，桂枝一兩，甘草二兩，龍骨二兩，牡蠣二兩。治太陽傷寒，火逆，下後，因燒針煩躁者。火逆之證，下之亡其里陽，又復燒針發汗，亡其表陽，神氣離根，因至煩躁不安。桂枝、甘草，疏木鬱而培中宮，龍骨、牡蠣，斂神氣而除煩躁也。</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣湯，桂枝三兩，甘草二兩，大棗二兩，生薑三兩，龍骨四兩，蜀漆三兩，牡蠣五兩。治太陽傷寒，脈浮，火劫亡陽，驚狂，起臥而不安者。以火逼汗多，因致陽亡。君火飛騰，神魂失根，是以驚生。濁陰上逆，迷失心宮，是以狂作。龍骨、牡蠣，斂神魂而止驚，加蜀漆以吐瘀濁，去芍藥之瀉陽氣也。</p>
<p>柴胡加龍骨牡蠣湯，柴胡四兩，半夏二合，人參兩半，大棗六枚，生薑兩半，牡蠣二兩半，桂枝兩半，茯苓兩半，鉛丹兩半，大黃一兩，龍骨兩半。治少陽傷寒，下後胸滿煩驚譫語，小便不利，一身盡重，不可轉側者。以下敗里陽，膽氣拔根，是以驚生。甲木逆沖，是以胸滿。相火升炎，故心煩而語妄。水泛土濕，故身重而便癃。大棗、參、苓，補土而瀉水，大黃、柴、桂，瀉火而疏木，生薑、半夏，下衝而降濁，龍骨、牡蠣、鉛丹，斂魂而鎮逆也。</p>
<p>龍骨蟄藏閉澀之性，保攝精神，安驚悸而斂疏泄，凡帶濁遺泄，崩漏吐衄，一切失精亡血之證皆醫，斷鬼交，止盜汗，除多夢，斂瘡口，澀腸滑，收肛脫。</p>
<p>白者佳，煅，研細用。</p>
<p><u>附子</u>　味辛、咸、苦，溫，入足太陰脾、足少陰腎經。暖水燥土，瀉濕除寒，走中宮而溫脾，入下焦而暖腎，補垂絕之火種，續將斷之陽根，治手足厥冷，開臟腑陰滯，定腰腹之疼痛，舒踝膝之攣拘，通經脈之寒瘀，消疝瘕之冷結，降濁陰逆上，能回噦噫，提清陽下陷，善止脹滿。</p>
<p>傷寒附子湯，附子二枚，茯苓三兩，白朮四兩，人參二兩，芍藥二兩。治少陰病，身體疼，骨節痛，手足寒，脈沉者。以少陰水旺，陰凝氣滯，故骨節疼痛。寒水侮土，脾胃不能溫養四肢，故手足厥冷。水寒木陷，故脈沉細。參、朮、茯苓，培土而瀉水，芍藥清乙木之風，附子溫癸水之寒也。《金匱》治妊娠六七月，子臟開，脈弦發熱，其胎愈脹，腹痛惡寒，少腹如扇。以水寒木鬱，陷而生風，故少腹如扇，子臟開張。陽氣下陷，是以發熱惡寒。脾土被克，氣滯不通，是以腹痛胎脹。參、朮、茯苓，培土瀉濕，芍藥清其風木，附子溫其水寒也。</p>
<p>傷寒桂枝加附子湯，桂枝三兩，芍藥三兩，甘草二兩，生薑三兩，附子一枚，炮去皮，破八片，焙焦，大棗十二枚。治太陽中風，發汗，遂漏不止，惡風，小便難，四肢微急，難以屈伸者。以表陽汗泄，衛虛失斂，是以汗漏不止。木鬱不能行水，是以小便不利。桂枝疏肝木之郁陷，芍藥斂風氣之疏泄，甘、棗、生薑，補土而和中氣，附子暖水以益陽根也。</p>
<p>附子瀉心湯，附子一枚，大黃二兩，黃連一兩，黃芩一兩。治太陽傷寒，下後心下痞硬，而復惡寒汗出者。以下傷中氣，升降倒行，膽胃俱逆，胃口填塞，故心下痞硬。君相二火，離根上騰，故下寒上熱。上熱熏蒸，是以汗出。大黃瀉胃土之逆，黃連瀉心火之逆，黃芩瀉膽火之逆，附子溫癸水之寒也。</p>
<p>金匱桂枝附子湯，桂枝四兩，甘草二兩，生薑三兩，大棗十二枚，附子三枚、炮去皮臍。治風濕相摶，骨節疼痛，不嘔不渴，小便不利。以水寒土濕，木氣下郁，不能疏泄水道。薑、甘、大棗，和中補土，桂枝疏乙木之郁，附子溫癸水之寒也。</p>
<p>傷寒四逆湯、方在甘草。真武湯、方在茯苓。茯藥甘草附子湯、方在芍藥。甘草附子湯、方在甘草。乾薑附子湯、方在乾薑。大黃附子湯、方在大黃。金匱黃土湯、方在黃土。附子粳米湯、方在粳米。腎氣丸。方在地黃。栝蔞瞿麥丸、方在栝蔞。烏頭赤石脂丸、方在烏頭。薏苡附子敗醬散、方在薏苡。諸方亦皆用之，以溫脾腎之寒也。</p>
<p>傷寒小青龍湯，方在麻黃。治太陽傷寒，心下有水氣，若噫者，去麻黃，加附子一枚，水寒土濕，胃氣上逆則為噫，附子溫胃而降逆也。</p>
<p>四逆散，方在甘草。治少陰病，四逆，腹中痛者，加附子一枚。水寒木鬱，賊傷己土則腹痛，加附子暖水而生木也。</p>
<p>理中丸，方在人參。治霍亂吐利，腹滿者，去朮，加附子，水泛土濕，賊於乙木則為滿，附子暖水而燥土也。</p>
<p>金匱竹葉湯，方在竹葉。治產後中風，頸項強，用大附子一枚，破之如豆大，太陽行身之背，自頭下項，寒水上逆，則頸項強，附子暖水而降逆也。</p>
<p>陰陽之理，彼此互根，陰降而化水，而坎水之中，已胎陽氣，陽升而化火，而離火之中，已含陰精。水根在離，故丙火下降，而化壬水，火根在坎，故癸水上升，而化丁火。癸水化火，陰升而化陽也，是以丁癸同經而手少陰以君火主令，丙火化水，陽降而化陰也，是以壬丙共氣而足太陽以寒水司權。陰陽交濟，水火互根，此下之所以不寒而上之所以不熱也。水火不交，則熱生於上而寒生於下。病在上下，而實緣於中氣之敗。土者，水火之中氣也，戊土不降，故火不交水而病上熱，己土不升，故水不交火而病下寒。升降之倒行者，火衰水勝而土濕也。火盛而土燥，則水枯而病實熱，陽明承氣之證是也。承氣之證少，真武之證多，以水易盛而火易衰，燥易消而濕易長。火衰土濕，丁火奔騰而癸水氾濫，是以寒盛於中下也。</p>
<p>蓋火不勝水，自然之理，所恃者，壯盛之時，生土以制之，至其漸衰，母虛子弱，火土俱虧，土無制水之權，而火處必敗之勢，寒水上凌，遂得滅火而侮土。火復而土蘇則生，火滅而土崩則死。人之死也，死於火土兩敗而水勝也，是以附子、真武、四逆諸方，悉火土雙補，以勝寒水。仲景先師之意，後世庸工，不能解也。附子沉重下行，走太陰而暖脾土，入少陰而溫腎水，腎水溫則君火歸根，上熱自清。補益陽根之藥，無以易此。</p>
<p>相火者，君火之佐也，君行則臣從，足少陽以甲木而化相火，隨君火下行，而交癸水。癸水之溫者，相火之下秘也，君火不藏，則相火亦泄，君相皆騰，是以上熱。而上熱之劇者，則全緣於相火，相火之性，暴烈迅急，非同君火之溫和也。人之神寧而魂安者，二火之歸根也，君火飛則心懸而神悸，相火飄則膽破而魂驚，故虛勞內傷之證，必生驚悸，其原因水寒土濕而二火不歸故也。庸工以為血虛，而用清潤之藥，諸如歸脾、補心之方，誤世多矣。當以附子暖水，使君相二火歸根坎府，神魂自安。但欲調水火，必先治土，非用補土養中、燥濕降逆之味，附子不能獨奏奇功也。惟驚悸年深，寒塊凝結，少腹硬滿，已成奔豚者，莫用附子，用之藥不勝病，反為大害。當以桂、附、椒、姜，研熨臍下，積寒消化，用之乃受。凡內傷虛勞，以及各門雜病，皆緣中氣不足，水旺火奔，下寒上熱，未有下熱者。下寒若盛，即宜附子暖癸水而斂丁火，絕有奇功。至於傷寒三陰之證，更為相宜也。其下熱而不宜附子者，水寒土濕而木陷也。生氣不足，故抑鬱而生下熱，下熱雖生，而病本仍是濕寒。如崩漏遺帶，淋癃痔瘻，黑疸氣鼓之證，悉木鬱下熱之證，但事清肝潤燥，而寒濕愈增，則木愈鬱而熱愈盛。法宜乾薑、甘、苓、木之內，副以清風疏木之品，鬱熱一除，即以附子溫其下焦，十有九宜，但法有工拙，時有早晚耳。</p>
<p>紙包數層，水濕，火中灰埋，煨熟，去皮臍，切片，砂鍋隔紙焙焦用，勿令黑。庸工用童便、甘草水浸，日久全是渣滓，毫無辣味，可謂無知妄作之至矣。</p>
<p><u>烏頭</u>　味辛、苦，溫，入足厥陰肝、足少陰腎經。開關節而去濕寒，通經絡而逐冷痹，消腿膝腫疼，除心腹痞痛，治寒疝最良，療腳氣絕佳。</p>
<p>金匱烏頭湯，烏頭五枚，麻黃三兩，甘草三兩，黃耆三兩，芍藥三兩。治歷節腫疼，不可屈伸。以濕寒浸淫，流注關節，經絡郁阻，故作腫痛。甘草培土，芍藥清肝，黃耆行其衛氣，麻黃通其經脈，烏頭去其濕寒也。</p>
<p>烏頭赤石脂丸，烏頭一分，炮，蜀椒一分，乾薑一兩，附子半兩，赤石脂一兩。治心痛徹背，背痛徹心。以寒邪沖逆，淩逼宮城。赤石脂保其心君，烏、附、椒、姜，驅逐其寒邪也。</p>
<p>大烏頭煎，大烏頭五枚。水三升，煎一升，去滓，入蜜二斤，煎令水老。治寒疝，臍痛腹滿，手足厥冷。以水寒木鬱，不得發越，陰邪凝結，衝突作痛。烏頭破寒氣之凝，蜜煎潤風木之燥也。</p>
<p>烏頭桂枝湯，烏頭三枚，桂枝三兩，芍藥三兩，甘草二兩，生薑三兩，大棗十二枚。蜜二升，煎烏頭，減半，去滓，以桂枝湯五合，煎一升。治寒疝腹痛。以肝腎寒邪，同犯脾土。桂枝補土疏木，烏頭破其寒凝也。</p>
<p>赤丸方在硃砂。用之，治寒氣厥逆，以其驅寒而降逆也。</p>
<p>烏頭溫燥下行，其性疏利迅速，開通關腠，驅逐寒濕之力甚捷，凡歷節腳氣，寒疝冷積，心腹疼痛之類，並有良功。</p>
<p>制同附子。蜜煎，取汁用。</p>
<p><u>蛇床子</u>　味苦、辛，微溫，入足太陰脾、足厥陰肝、足少陰腎經。暖補命門，溫養子宮，興丈夫玉麈痿弱，除女子玉門寒冷。</p>
<p>金匱蛇床子散，蛇床子。為末，以米白粉少許，和合如棗核大，綿裹，納之，自溫。治婦人陰寒。蛇床子溫肝而暖腎，燥濕而去寒也。</p>
<p>蛇床子溫燥水土，暖補腎肝，壯陽宜子，男女皆良。療前陰寒濕腫痛，理下部冷痹痠疼，斷赤白帶下，收溲尿遺失，浴疥癬痂癩，熏痔漏頑瘡，打撲、驚癇、脫肛、脫陰並效，漱牙痛，吹聽耳，浴男子陽痿絕佳。</p>
<p>去殼取仁，微研用。作浴湯，生用。</p>
