<header data-type="book">
<h1>醫暇卮言</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>程林</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1676">公元1676年</data></dd></div>
</dl>
</header>

<h1>吳序</h1>
<p>余友程子云來，學裕雕龍，品高立鶴。少有班揚之譽，未展其才，長聞莊老之言，獨知其義。所由望隆江左，萃拔汝南者矣。爾乃有術如岐，息流含氣，得經於扁，名動諸侯。通《金匱》之秘文，著銀丸之妙諦。疾無常異，煮一枕而咸瘥。人有寒溫，試五爐而胥效。又仰通於鴻術，將大拯夫駢生，暇而後醫也。醫安得暇乎？及觀其《卮言》一書，包舉二儀，周羅萬象，用河間之博識，杼稷下之雄譚，道自顯而知微，理由窮以得變，事分鉅細，以曠覽而不遺，類極洪纖，惟靜觀而自得。昔茂先辯物，僅著洽聞，輔嗣譚玄，唯多妙緒，粵稽斯集，實兼有之。以此去疑，譬金鑱之刮目。以此析理，如鐵鏡之照心，豈止王氏名流，辨異聞於砭石，秦山道士，傳靈冊於瓠𤬛而已哉!蓋一人之身，各具天地。萬物之族，咸有性情。不揆其通，則無以詳其變化，不知所合，則無以得其異同。既揆其通，復知其合，故咒樹能徒縛芻可針，病女或以出蛇，邪鬼於焉走獺。道之所至，技亦神焉。而眇彼戔夫，矜其陋術，未飲上池之水，徒求靈海之方，亦烏足窺秘義於巫咸，測玄機於秦緩耶。嗟乎!聖人無位，嘗居醫卜之間，大道有恆，聊存施濟之事。吾於程子是編，重有感矣。</p>
<p><u>年家弟豐南吳</u>　綺拜書</p>

<h1>尤序</h1>
<p>新安程云來先生，嘗輯即得方，予既序而行之矣。居久之，復出《醫暇卮言》示予。予讀而笑曰：嘻，夫醫安得暇乎哉？世所謂名醫，吾知之矣。旦起而納謁者，履滿戶焉。入其室，問其疾，各投以藥而去。其士大夫以折簡邀者，則登名於版，日中而食，肩輿而出，望門而止。候主人之顏色，酬酢未畢。索筆定案以授使者，歸而謀諸弟子，俾參劑焉，抵暮而返，則藥囊果然矣。其為小兒醫者，晝居不出，昏夜叩人之門戶，秉燭一視，疾趨而去，若驛傳之速。漏盡始休，或要於路，或候於門，咸喜其來而恨其晚也，其下醫竊慕之。雖病者之有無多寡未可知，往往乘車從僕，招搖過市，窮日之力而後已。見者詫之曰：夫夫也忙甚，必名醫也，醫安得暇乎哉？先生曰：唯唯否否，醫而不暇，何以為醫良。醫病萬病，藥亦萬變，是故以志一之。以氣輔之，以理持人，以神守之，寂而通之，息而遊之，此豈汲汲遑遑所能治乎夫治病猶治兵也。欒針之稱晉師曰：好以暇，金鼓方急，使攝飲焉，鄢陵所以勝也。諸葛之羽扇，謝艾之胡床，祭遵之投壺，安石之賭墅，皆暇也。余之治病，亦如是矣。或謂先生既暇，當注《金匱》之書，何取乎卮言。蓋聞之許子，醫者意也，意之所解，不可言傳。故先生即得方，述而不作也。若其《卮言》，籠天地。羅萬物，洸洋縱恣于堅白同異之談。雖不言醫，醫道寓焉。斫輪之說，通於讀古，解牛之旨，進於養生。觀《卮言》，則問難思過半矣。《周禮醫事》十全為上，十失一次之，十失二三次之，十失四為下，未有即得者，先生之即得。先生之暇為之也夫。</p>
<p><u>康熙丙辰中春朔日吳門年家弟尤侗拜撰</u></p>

<h1>薛序</h1>
<p>余稔程云來先生名久矣。前年自西陵移來，比屋而居，益悉其學術之淵博。讀《金匱玉函》注曰：是探河於宿海，尋山於昆丘岷嶓者也。又讀即得方曰：是引九曲之流於溝澮畝畝，使禾黍資茂而蠡勺可挹者也，以澤天下沛如矣。既又以《醫暇卮言》二卷，索序於余。尋繹久之，而知先生於性命物理之學，耽炙已深，而後寓意於醫，無往不臻其妙，茲則其見一端者也。世人等醫於巫史卜祝，以為與儒者分路而馳，不知不通天地人之理，未可與言㕮咀針石之事。況揲荒爪幕乎，且寧獨醫，即巫史卜祝亦然。堯夫不爐不扇，於百泉者數十年，而後成皇極經世觀物內外篇，世人徒知其精數學耳。丹溪研心理學，得白雲許先生之傳，因師有疾，而後學醫，人亦止以醫稱之。而元史列之道學傳，則知云來先生他日傳之不朽者，不僅以醫，以有《卮言》在也，美哉展成先生之序也。曰：醫安得有暇，夫天下事，何者不以暇成耶，綸巾緩帶毋論矣。陽明先生當矢石交馳之日，講學不輟，即戰小卻，出頒賞罰，入與諸生理前說，一言不亂，非以其暇乎？故能收平亂之功。然非績學知道，又安能於倥惚造次之頃，安間如無事乎？程先生知道者也，而寓於醫，性命物理之學。於是乎見，《卮言》云乎哉？且其家藏有宋徽宗《聖濟總錄》一書，元大德年間，耶律楚材重刊盈二百卷，世所未見，日夕津涉於此，自然出人意表。乃又索言於愚豈以道在秕稗，在瓦礫耶。聊以塞先生之請，終不能以蒙倛而效麗封人之子之步也。</p>
<p><u>時康熙丁巳歲清明日鴛水同學弟薛珩拜撰</u></p>

<h1>卷上</h1>
<p>《列子》曰：太易者，未見氣也。太初者，氣之始也。太始者，形之始也。太素者，質之始也。氣形質具而未相離，故曰渾淪。渾淪者，言萬物相渾淪，而未相離也。視之不見，聽之不聞，循之不得，故曰易也。</p>
<p>天始惟一氣耳，莊子所謂溟瞑是也。計其所先，莫先於水，水中滓濁，歷歲既久，積而成土，水土震盪，漸加凝聚，水落土出。遂成山川，故山形有波浪之勢焉。於是土之剛者，成石而金生焉。土之柔者，生木而火生焉，五行既具，乃生萬物，萬物化生，而變化無窮焉。</p>
<p>邵康節曰：天何依？依乎地。地何附？附乎天。天地何所依附，曰：自相依附。自斯言一出，宋儒標榜而互贊之，附聲而妄衍之。朱子遂云：天外更須有軀殼甚厚，所以固其氣也。天豈有軀殼乎？誰曾見之乎？既自撰為此說。他日遂因而實之曰：北海只挨著天殼邊過，似曾親見天殼矣。自古論天文者，宣夜周髀渾天之書，甘石洛下閎之流，皆未嘗言。非不言也，實所不知也。若邵子朱子之言，人所不言，亦不必言也。人所不知，亦不必知也。人所不問，亦不必問也。莊子曰：六合之外，聖人存而不論，此乃切要之言。孰謂莊子為虛無異端乎？元人趙緣督，始稍正邵子之誕，而今之俗儒已交口議之，又丘長春世之所謂神仙也。其言曰：世間之事，尚不能究，況天外之事乎？由此言之，則莊子長春乃異端之正論，而康節晦翁之言，則吾儒之異端矣。明朝劉伯溫，亦古甘石洛下之流，其言曰：天有極乎？極之外何謂也？天無極乎，凡有形必有極，理也，勢也，是聖人所不能知耳，非不言也。故天之行，聖人以曆紀之。天之象，聖人以器驗之。天之數，聖之以算窮之。天之理，聖人以易究之。天之所閟，人無術以知之者，惟此耳。今不曰不知，而曰不言，是何好勝之甚也。嗚呼!伯溫此言，其確論乎？其曰好勝者，蓋指宋儒之論天者。予嘗言東坡詩：不識廬山真面目，只緣身在此山中。蓋處於物之外，方見物之真也。吾人固不出天地之外，何以知天地之真面目歟？且聖賢之學，切問近思，亦何必求天外之事耶？</p>
<p>南北二極，所以定子午之位。歷家因二極而立赤道，所以定卯酉之位。北極瓜之蒂也，南極瓜之攢花處也，赤道瓜之腰圍也，指南針所以通二極之氣也。</p>
<p>赤道為天之腰圍，正當天之闊處。黃道自是日行之道，月之九道，又自月行之道也。</p>
<p>天如勁風旋轉，局大塊於中，吾恐日月星辰之上，則愈高，愈清，愈勁，愈光明而無窮矣。或人見天裂處，見其霞光閃爍，於此足以知之矣。</p>
<p>天以氣言，故無窮。地以形言，故有盡。</p>
<p>空即天也，自地而上，無非空也，即天也。地間亦有動也，亦氣動之耳。</p>
<p>天道不以理言，則歸於幻妄耳。</p>
<p>天為陽宗，故風火在上。地為陰統，故水土在下。</p>
<p>地為陰，故火隱而不見。擊石而火至，剛而後生也，兩木恆摩則火至，動而後生也。列星之為象也，在朝象官，在人象事，在野象物，各因其變而占焉。</p>
<p>日月星辰，天之四象，水火土石，地之四象。康節言土石而不言木金，蓋木乃土之華，金乃石之精也，是知康節皆以體數言也。</p>
<p>風雨雲霧雷，天之用也。吹噴噓呵呼，人之用也。天人一理也，但有小大之差耳，風露能生物，亦能殺物，順陰陽之氣也。</p>
<p>風陽也，故其氣清通而無形。云陰也，故其氣昏濁而可見。</p>
<p>論晝夜之長短，由於日之出入，日出入之舒縮，由於南北極出地之高下。故普天之下，時時曉，時時午，時時日晡，時時黃昏，時時夜半，各於其地作如是觀。</p>
<p>雪寒在上，故高山多雪。霜寒在下，故平地多霜。</p>
<p>地居天之中，地平不當天之半。地上天多，地下天少。是以日出落時，見日大，近人也。日中天時見日小，遠人也。</p>
<p>日初出時見日大，宜當熱而尚寒涼者，陰凝而陽未勝也。日中天時見日小，宜寒涼，而反漸暖漸熱者，陽積盛而陰已消也。申未熱愈於午者，陽尢積盛故也。</p>
<p>世間特一陽氣之周流耳，陽氣不及之處則為陰，觀之姤復之理可見。</p>
<p>鬥一南而萬物生，一北而萬物死。日一北而萬物生，一南而萬物死。鬥日互行，而成歲功也。</p>
<p>或問日生月落，古今異乎？曰：同也。云白山青，古今異乎？曰：同也。夏葛冬裘，古今異乎？曰：同也。曰：天同也，地同也，人同也。人寓形於天壤之間，特須臾爾，宜流浪大化之中，以順其同焉可也。</p>
<p>浮世乃生老病死之洪都，憂愁若惱之窟宅。</p>
<p>云雷雨雪，皆至半空，風則薄乎天，愈高愈勁。</p>
<p>霖雨既霽，閒云在天，皆神化之糟粕矣。</p>
<p>日一歲而一周天，月二十九日有奇而一周天，非謂月行速於日也，周天度數，每日日行一度，月行十三度有奇。凡月初生明時行南陸，如冬至時之日，及生魄時行中天，如夏至時之日，故月行一月，抵日行一歲也。</p>
<p>易澤中有火，《素問》曰：澤中有陽焰。注陽：焰如火，煙騰騰而起於水面是也。蓋澤有陽焰，乃山氣通澤。山有陰靄，乃澤氣通山。</p>
<p>水者，五行之首也，萬物之宗也，浮天而載地也，載形而浮氣也，始天地而終天地也七十二候，始於東風解凍，終於水澤腹堅。天地之始終，亦若是而已矣。</p>
<p>天以五氣育萬物，故雨露霜雪。自天降者，皆無味。地以五味養萬物，故自地生者，皆具五味焉。</p>
<p>火發外明者，薪之盡也。神知外見者，樸之散也。故曰：聖人以洗心退藏於密。</p>
<p>五行之理，有相生者，有相剋者。相生為正色，相剋為間色。正色，青赤黃白黑也。間色，綠紅碧紫流黃也。木色青，故青者東方也。木生火，其色赤，故赤者南方也。火生土，其色黃，故黃者中央也。土生金，其色白，故白者西方也。金生水，其色黑，故黑者北方也，此五行之正色也。甲己合而為綠，則綠者青黃之雜，以木剋土故也。乙庚合而為碧，則碧者青白之雜，以金剋木故也。丁壬合而為紫，則紫者赤黑之雜，以水剋火故也，此五行之間色也。（流黃一作駢黃）</p>
<p>《素問樞式》曰：水自西而東流也，西、金位也，故曰金生水，亦一說也。</p>
<p>《素問》又曰：根於內者，命曰神機，神去則機息。根於外者，命曰氣立，氣止則化絕，故植物去皮則死。氣在外也，動物傷內則死，神在中也。</p>
<p>太虛聚而有無，無聚則為精，無聚神結包之於土，兆生之理啟矣!經云：男女媾精，包胎始榮，乘其宿命，然後生人，故曰包命。當其元無初包，狀如垂囊，附脾作種。脾為真土，物所憑生，中黃太乙，為人巳命。其無流演不窮，故云元一黃演之氣。</p>
<p>魚在水中不知水，人在心中不知心。如魚能知水，人能知心，魚果魚乎？人果人乎？是以滴水可為六合之云，微塵可為萬方之剎者，非龍非聖人，孰能為之哉？吾以是知為龍不難，魚知水難，為聖人不難，人悟心難。故曰：日用而不知者，眾人也。</p>
<p>王符稱世俗畫龍，馬首蛇尾，又有三停九似之說。謂自首至膊，膊至腰，腰至尾，皆相停也。九似者，角似鹿，頭似駝，眼似鬼，項似蛇，腹似蜃，鱗似魚，爪似鷹，掌似虎，耳似牛。然龍之見也，皆為雷電雲霧擁護其體，得見其全形者罕矣。</p>
<p>鹿角、牛耳、駝首、鬼目、蛇項、蜃腹、魚鱗、虎掌、鷹爪，龍之狀也。鴻前、麟後、蛇頸、魚尾、鸛顙、鴛腮、龍文、龜背、燕頷、雞喙，五色備舉，鳳之狀也。麇首、半尾、狼頭、馬足、圜蹄、肉角，麟之狀也。有角為虯龍，無角為螭龍，有鱗為蛟龍，有翼為應龍，鳳之青曰鶡，赤曰鶉、黃曰焉，白曰鷫，紫曰鷟，麟之青曰聳孤，赤曰炎駒，白曰素冥，黑曰角端，黃曰麒麟。</p>
<p>龍之鱗八十有一，鯉之鱗三十有六。麟肉角而不觸，鳳肉喙而不啄。鱣骨脆，貘骨實，蛟骨青，鳳骨黑。龍珠在頷鮫珠在皮。蛇之珠在口，魚之珠在目，蚌之珠在腹，鱉之珠在足。蟒目圓，蛟眉連，蜃鱗逆，蝮鼻反，狼腸直，鷧喙曲。羱羊之角重於肉，斫木之舌。長於喙。犀體兼五種肉，象體具十二肖肉，或云有百獸肉。</p>
<p>莫靈於龍，人得而豢之。莫猛於虎，人得而檻之。有欲故也，故人而無欲，名利不能羈矣。</p>
<p>諸獸中獨獬豸不見經，史亦無聞，一云即神羊也。</p>
<p>春之風自下而升上，紙鳶因之以起。夏之風橫行空中，故樹杪多風聲。秋之風自上而下，木葉因之以隕。冬之風著土而行，是以吼地而生寒。</p>
<p>秦淮海《易解》曰：《內經》云：南方生熱，熱生火；北方生寒，寒生水；西方生燥，燥生金；東方生溫，溫生木；中央生濕，濕生土。是知水者寒之形，濕者土之氣，水之於土妻道也，夫從妻所好，故水流濕。火者熱之形，燥者金之氣，火之於金夫道也，妻從夫之令，故火就燥。或以陰求陽，或以陽求陰也。管輅曰：龍者陽精而居於淵，故能興云。虎者陰精而居於山，故能運風。是則龍陽中之陰也，惟陽中之陰能召陰，故云從龍。虎陰中之陽也，惟陰中之陽能召陽，故風從虎。</p>
<p>傳曰：天一生水，地六成之。鮑景翔曰：神為氣主，神動則氣隨。氣為水母，氣聚則水生。人之一身，貪心動則津生，哀心動則淚生，愧心動則汗生，欲心動則精生，可以為天一生水之證。地六成之，如上天同云，而雨雪至地則六出，六為陰，地數也，凡雨露之點亦皆六出，但碎而不可見耳，太陰玄精石皆六稜，是其證也。</p>
<p>程子曰：《素問》五運六氣，須是堯舜時，風雨調和，陰陽變理始可用。此必待上如堯舜之化，下之人體氣和平如童子，而後施劑焉，則闔棺無用素問之日矣。</p>
<p>太虛不能無氣，氣不能不聚而為萬物，萬物不能不散而為太虛，循是出入，是皆不得己而然也，知此可以言死生之理矣，可以生順死安矣。</p>
<p>飛昇有乎？曰：此必有術，不可得而測也，必也至人能之乎？然天上實無著處。</p>
<p>陳希夷詩、倏爾火輪煎地脈，愕然神瀵湧山椒。神瀵，出列子，即易所謂山澤通氣，參同契所謂山澤氣相蒸，興云而為雨是也。地理書，沃焦尾閭，皆此理耳。神瀵臭過椒蘭，味過醪醴。</p>
<p>人慾求道，須於功名上鬧一鬧，方心死。</p>
<p>《莊子》曰：道在秕稗，在瓦礫，在尿溺，每況愈下。蓋以道無乎不在也!</p>
<p>觀物者，所以玩心於其物之意也。是故於草木觀生，於魚觀自得，於云觀閒，于山觀靜，於水觀無息。</p>
<p>人生四十九日而七魄全，其死四十九日而七魄散。</p>
<p>古今分於一息，人物同於一原。</p>
<p>三茆真君云：天無謂之空，山無謂之洞，人無謂之房，山腹中空虛是謂洞庭，人頭中空虛是謂洞房。</p>
<p>邊讓章華臺賦，歸乎生風之廣廈兮，條黃軒之要道，攜西子之弱腕，援毛嬙之素肘。注云：黃帝軒轅氏得房中之術於素女，握固吸氣，還精補腦，留年益齡，長生忘老。張平子詩：明燈巾粉卸，設圖衾枕張，素女為我師，天姥教軒皇。</p>
<p>秘辛嘉禮也，剛卯佩玉也。</p>
<p>萬物中皆有元氣得以和柔，若胸中有藏，骨中有髓，草木中有空虛，與氣通，故得久生地。</p>
<p>《楚詞》云：毋滑爾魂（已也汞也）兮，彼（鉛也魄也）將自然。一氣（藥也）孔神兮，於中夜（時也）存。虛（心也）以待（時至也）之兮，母為之先，（二十七字括盡丹書可見參同悟真之說，由來遠矣。）前此《莊子》云：氣也者，虛而待物者也，唯道集虛，虛心者，心齊也。又云：善養生者，若牧羊然，視其後者而鞭之。夫不先不後，乃勿助勿忘之謂也。故沁園春云：煉已待時。《青華秘文》云：守已待癸生時。虛待二字之義，淵矣哉!</p>
<p>常人之息以喉者，謂其出多入少。膻中即回，不能至呼吸互換之根故也。真人之息以踵者謂其呼吸相稱，水火兩弦均平，上接天根，下接地根，與腎中祖無混合，故名真息。</p>
<p>桃君乃腎神，蓋宜懲忿窒欲，惜精愛無，為一身之主，性命之根也。色念動時，當存思桃君在心內。</p>
<p>神光寶光，即靈光也，蓋無形可捉，發秀暉採於長空青冥之表，在人則精神光彩，秀髮於雙目。故大洞經云：煙回太暉間，神光秀空峰，空峰，頭面也。</p>
<p>人有一百八十靈關，三百六十骨節，一千二百形骸，一萬二千精光，三萬六千根源本始，八萬四千毛竅關鍵。中咸生津液，人無津液，則枯槁云亡，天地得水而覆載，萬物得水而生成，其實一也。</p>
<p>《楞嚴經》曰：汝體先因父母想生，汝心非想，則不能來，想中傳命。</p>
<p>鬼神有性無命，草木有命無性，禽獸性少命多，惟人能全之。</p>
<p>歸去來辭曰：悟已往之不諫，知來者之可追，識迷途其未遠，覺今是而昨非，其曰悟、曰知、曰識、曰覺，四字極分分曉，此淵明所以為聞道也。</p>
<p>人之寐也，魂自雷門出入為夢，雷門者耳也。</p>
<p>條行人，行如風，立如松，坐如鐘，臥如弓。</p>
<p>白玉蟾曰：神則火也，氣則藥也，以火煉藥而成丹，即以神御氣而成道也。今夫蠮螉之蟲，孕螟蛉之子，以混其氣者，藥也，以和其神者火也。若龜之相顧，神交也，神交而氣未始不交，火中有藥也。鶴之相唳，氣交也，氣交而神未始不交，藥中有火也。至於不根而生芝蘭，不母而生蝤蠐，陰陽相搏，燥濕相育。亦有神火氣藥，為之根與母焉，以成其變化之用，而遂其生息之機矣。</p>
<p>白玉蟾曰：梧桐秋風，升也。蕉花春雨，降也。青山暮云，浮雲。碧潭秋月，沉也。不過形容升降之景象耳。</p>
<p>赤子頂門未合，能通宿命，純一無念。頂門既合，神附肉團心中，念想無窮，久而衰矣。</p>
<p>蜣螂轉丸，丸中空處一點虛白，乃是蜣螂精神聚會處，但假糞丸為之地耳，虛白成形，而蜣螂化去，心死神活，所謂脫胎也。</p>
<p>一氣萬物之母也，一靈天地之始也。</p>
<p>唇之上何以曰人中，若以為人身之中，則當在臍腹間。蓋自此而上，目耳鼻皆雙竅，自此而下口及二便皆單竅。上三畫陰，下三畫陽，合成泰卦也。</p>
<p>體一真機云：父母交媾，情欲正熾，陰陽參會，兩情和合，不可名狀，一施一合，化為神水，在母子宮，即有欲神主於中，所謂物所受為性，天所賦為命。凡人性命之蒂，在此係焉。古云：未有此身，先有此竅，方有此身，要窮此竅。乃不竅之竅，所謂中也。試取雞子熟而割之，近殼必有些小空隙，即未熟時正中虛處也，人身之中亦猶是也。</p>
<p>人身上有天谷泥丸，藏神之府也。中有應谷絳宮，藏氣之府也。下有靈谷關元，藏精之府也。聖人則天地之要，知造化之源，神守於元宮，氣騰於牝府，神交氣感，自然成真。</p>
<p>虛化神，神化氣，氣化血，血化形，形化嬰，嬰化童，童化少，少化壯，壯化老，老化死，死復化為虛，虛復化為神，神復化為氣，氣復化為物，化化不間，由環之無窮。夫萬物非欲生，不得不生。萬物非欲死，不得不死。達此理者，虛而乳之，神可以不化，形可以不生。</p>
<p>太上者，虛無之神也。天地者，陰陽之神也。人蟲者，血肉之神也。其同者神，其異者形。是故形不靈而氣靈，語不靈而聲靈，覺不靈而夢靈，生不靈而死靈。水至清而結冰不清，神至明而結形不明，冰泮返清，形散返明。能知真死者，可以遊太上之京。</p>
<p>手陽也，故指長。足陰也，故指短。上陽下陰，人也，猿猴四手皆陽也，故輕捷而在上。豬狗四足皆陰也，故奔突而在下。</p>
<p>《莊子》曰：百昌皆生於土，皆歸於土，此土所以始萬物而終萬物者也。</p>
<p>華佗有五禽戲，道經又有熊經、鳥伸、鳧浴、猿跳、鴟視、虎顧、鷮息、龜縮，謂之八禽。</p>
<p>亥子之交，兩鼻俱通，丹家謂玉洞只開是也，此處不得放過。</p>
<p>神不明謂之魍，精不明謂之魎。</p>
<p>有形無聲，木石也。有聲無形，雷霆也。有形有聲，人物也。無聲無形，鬼神也。</p>
<p>凡視五色皆損目，惟黑色於目無損。</p>
<p>世界內眾，如一器中貯百蚊蚋，啾啾亂鳴，於分寸中鼓發狂內。</p>
<p>常言魚不見水，人不見氣，故人終日在氣中游，未嘗得見。惟於屋漏日光之中，始視塵埃滾滾奔忙。集暗室之內，若有疾風驅之者，此等境界，可以悟道，可以閱世，可以息心，可以參禪。漆園齊物之論，首發此義，亦可謂通天人之故者矣。</p>
<p>或問浩然之氣，答曰：一片花飛減卻春，蓋言浩然是無虧欠時也。</p>
<p>壺隱子曰：禍從口出，病從口入。有味乎其言也，口之出入，禍福存亡，罔不由之。口之所繫於人也亦大矣，然必何如而後可。宣尼有言曰：君子以慎言語，節飲食，其良方也歟哉。</p>
<p>禮春夏教以禮樂，秋冬教以詩書。亦春夏養陽，秋冬養陰之法也。蓋春生夏長，乃陽氣發泄之時，教以禮樂者，歌詠以養其性情，舞蹈以養其血脈，亦養陽之道也。秋冬收藏，乃陰氣收斂之時，教以詩書者，猶遊以求之，涵詠以體之，亦養陰之道也。</p>
<p>舉天下之山無不虛也，舉天下之水無不實也。山惟虛而易崩，水惟實而不腐。</p>
<p>金者，石中之津液，水出石中，故曰金生水也。</p>
<p>萬漚起而復破，水之性未嘗亡也。萬燈明而覆滅，火之性未嘗亡也。漚燈，情也。水火，性也。情與性，魂與魄也。</p>
<p>相法出於黃帝，觀《靈樞經》五閱五使五色諸篇，可知此術不始於《左傳》也。</p>
<p>《相塚書》曰，山川而能語，葬師食無所，肺腑而能語，醫師色如土。</p>
<p>相隨心變，變從何始，必從目始。孟子曰：胸中正，則眸子了焉，蓋五臟之精華所聚也。如馳騖之人變為沉靜，其目必去昏而清。暴戾之人變為慈祥，其目必去殺而和。非但是也，其面之清濁慈戾，亦從而變。蓋肉色從氣，血氣從心，無足致疑。非但是也，詞氣動容亦從心變，故凡內相無不變，外相之不可變者，獨骨格耳。執相定人非也，荀卿不知心相之合面相，非又非也，但相人者，心不平正，則目不清明。我之眸子先眊矣，雖遵孟子之法，而實不能用。</p>
<p>何謂內相，品德居之矣。既富貴貧賤，亦有內相，意思行事是矣。貴人不諂而恭，富人不吝而樸。凡喜於靡費，莫非貧相；凡近於驕蹇，莫非賤相。不於其身，亦於其子孫。噫!子孫之貧賤，現於祖父之身，則內相之所繫長矣。</p>
<p>方術到絕頂，無不稍稍通於道。君平卜日，管郭卦課，袁李天文星曆，張果祿命，楊賴堪輿，皆立身頗高，不肯教人以無恥無義之事。只緣窺著本原，略信得死生有命，富貴在天，各有分限。欲中傷人，人不可得而傷。欲攫取多財，財不可得而攫。枉壞心術何為？不如循理安分，所以技術高者，決帶幾分道氣。今術家自負障天，甘心無賴，還是未窺見本原耳，就彼術中更加窮究，當有幡然改心易行之時。</p>
<p>《呂氏春秋》曰：一雨露也，梧櫝得之以養其柯條，荊棘得之以養其芒刺，造化者何嘗有心厚梧櫝之材，而稔荊棘之毒與，咸其自養，而未有養之者也。</p>
<p>花之色無有同者，惟黃者必開於土旺四季之月。春季則棠棣，夏季則黃葵，秋季則菊花，冬季則蠟梅。</p>
<p>動物本諸天，所以頭順天而呼吸以氣。植物本諸地，所以根順地而升降以津。故動物取氣於天，而乘戴以地。植物取精於地，而生養以天。《素問》云：出入廢，則神機化滅。升降息，則氣立孤危。無不出入，無不升降。器有小大，數有遠近。蓋謂此也。</p>
<p>《楞嚴經》以胎卵濕化，推萬物之生生，又以有無色想，推萬類之情識，蓋有色是有牝牡之屬，鳩鴿是也。無色是無雌雄之屬，螺蚌是也。有想是為蠶為蛾時也，無想是為蛹為蟻時也。非有色想，非無色想，此物又極微極細，其情識在於恍惚渺茫之間。如人身之積蟲，似卵白，似血片，似動非動，似生非生之屬是也。佛氏論說生類，可謂窮深極微矣，鬼神亦在非有非無之內。</p>
<p>草木一荄之細，一核之微，其色香葩落，相傳而生也，經千年而不變，其根干有生死，其神之傳也，未嘗死也，善乎莊生曰，火傳也，不知其盡也。</p>
<p>世間小蟲，如一絲半粟之細，以至目不可辨者，其手足頭目，動靜食息，避就噓吸，無不具足。此可以見天命之流行，無一之或遺，無微之不入，形有大小，而性無大小。</p>
<p>邵子曰：動物自首生，植物自根生。自首生命在首，自根生命在根。</p>
<p>木石皆有心也，使木石無心，何兩石相摩，兩木相摩，而火生乎？物之有火，猶人之有心也。</p>
<p>生血皆赤，怒心之所出也，赤火色，其心躁，故象之。二乘四果，其白如乳，出於淨心，而鱟魚血碧，蝦蛤無血，其故何也。</p>
<p>行行相值，莖莖相望，枝枝相准，葉葉相向，華華相順，實實相當，此無量壽經所言天宮寶樹，非塵世所有也。</p>
<p>馬騾驢陽類，起則先前，治用陽藥。牛羊駝陰類起則先後，治用陰藥，故獸醫有二種。</p>
<p>人順生，草木倒生，禽獸橫生。胎生者九竅，卵生者八竅。胎生者眼胞自下而瞑，卵生者眼胞自下而瞑。濕生者眼無胞而不寐，化生者眼無竅而有光。草木有可插而活者，竹以筍生者，胎生類也。以實而產者，卵生類也。荷芡濕生也，芝菌化生也。有雌無雄，龜鱉是也。有雄無雌，蜂蠆是也。龜雖有鼻而息以耳，牛雖有耳而聽以鼻，龍蜃能飛而無翼，鵝鴨有翼而不飛。陽鳥之飛，頭伸而足縮。陰鳥之飛，頭縮而足伸。馬之臥起自前足，牛之臥起自後足。鹿豕直行，蛇蚓曲行，郭索橫行，變踵卻行。蟢蠅倒行，率然兩頭行，蚇蠖屈伸行。木皆中實，而娑羅樹則中空。竹皆中空，而廣藤竹則中實。沉香木至輕也，而以水浸之則沉。中冷泉亦水也，而錫器盛之則泄。昆吾刀亦金也，而可以切玉。蕭山火至涼也，而可以供爨。生物之不齊類如此，造物者果有窮乎哉。</p>
<p>與之齒者去其角，付之翼者兩其足。甘瓜則抱苦蒂，美棗則生荊棘。荔枝非名花，牡丹無佳實。鷹鸇能搏鳩雁，而反受逐於鶺鴒。崖鶻能搏鶬鷺，而不能得飛鴿。雉善聽，狼善視，狐善疑，猶善豫，駱駝善知泉，象善知地虛實，而終不免於人之手，物各有能有不能也。</p>
<p>虎之小胃名曰貫，胃中諸肉皆化，而唯爪甲不化。爪甲入胃中，則惡貫滿矣，故囹圄名曰貫城云。</p>
<p>虎威在頸下二肋間，如乙字三寸許，虎鏡在當心皮裡膜外，若脆骨然，取而佩之，則無憎疾。虎帶在胸，而通前左右二足，乃大筋也，可為帶故名。前頸骨三稜，後頸骨圓直，色皆桃紅而不空虛，有微眼，以唾濕其一頭，吹之少有沫焉。其腸為馬韁，雖劣者可御。</p>
<p>虎大寒日始交，七月而生，性至猛烈，雖遭逐猶復徘徊顧步。其傷重者，輒咆哮作聲而去。聽其聲之多少，以知去之遠近，率鳴一聲者為一里，靠岩坐倚木而死，終不僵仆。其搏物不過三躍，不中則舍之。</p>
<p>月暈者，虎必交也。</p>
<p>古者胎教，欲見虎豹勇擊之物，虎子才生三日，即有食牛之氣。其不能搏噬者，輒殺之，為墮武也。</p>
<p>虎豹無事，行步若將不勝其軀。鷹在眾鳥間若睡，然故積怒而全剛生焉。</p>
<p>小兒齒生未足，未可與食虎肉，恐齒不生。</p>
<p>邵子曰：形統於首，神統於目，氣統於唇。</p>
<p>動物本諸天而體則溫，植物本諸地而體則冷，陰陽之謂也。</p>
<p>博花接果，當接博之上，則為是花是果，當接博之下，或有斷折，及其芽櫱再出，則為元花元果。此見造物之主宰處，物之氣類，萬古不移此主宰，所以謂之帝也。</p>
<p>草木一荄之微，而色香臭味，花實枝葉，無不具於一仁之中。及其再生，一一相肖，此造物所以顯諸仁而藏諸用也。</p>
<p>世間萬物無不生蟲，木水土之中生蟲最多，固其常也。至於火中生蟲，則火鼠也，極南方有之，其毛以為火浣布，而火南雞亦火食也。陰山之北，其雪歷世不消，其中生蛆，其大如瓠，北人謂之雪蛆，味極甘美。張子和醫書著《儒門事親》，言見民家一鐵鍋，底上起一鐵泡，錘破有一紅蟲，其走如飛，其嘴至硬，是金鐵中亦有蟲也。</p>
<p>邵康節云：魚水族也，蟲風族也，故蟲皆由風化。尋常榛慄之類，外殼完固，而蟲已長於腹中，豈是外物遺種，當由風化使然。</p>
<p>林棲之羽似葉，草宿之毛似草，水生之鱗似波，亦從其類也。</p>
<p>鱗蟲有蟄，龍蛇是也。羽蟲有蟄，鶯燕是也。毛蟲有蟄，黃鼠是也。介蟲有蟄，龜鱉是也。夫蟄物又造物減其半功耳，故其用不能。</p>
<p>琥珀不能呼腐芥，丹砂不能入燋金，磁石不能取憊鐵，元氣不能發陶爐。所以大人善用五行之精，善奪萬物之靈，食天人之祿，駕風馬之榮，其道也，在忘其形，而求其情。</p>
<p>魚有骨在內者，有骨在外者，有多骨者，有少骨者，有無骨者，萬不同也。然其所同者，蓋水也。草木之有葉大者，有小者，有長者，有短者，有厚者，有薄者，有圓者，有扁者，有尖者，有䰄者，有花鏤者，亦萬不同也。然其所同者，均含生意也。茲可以求萬物之一原者乎。</p>
<p>有雄而無雌，其名細腰，鋒蠆是也。有雌而無雄，其名大腰，龜鱉是也。</p>
<p>妙矣哉，造物之生群動也，隨大隨小，無不各自取足焉，無所待於外也。是故變、一足也，人、兩足也，馬、四足也，蜘蛛、六足也，螃蟹、八足也，螂蛆、四十足也，蜈蚣、百足也，帶、無足也。無者不資於多而後行，多者不見其多而反遲於行，動其天機，不言而喻。多者不見其為有，少者不見其為無。故曰惟蟲能蟲，惟蟲能天。</p>
<p>獐鹿非辰屬，八卦無主，故道家聽許為脯。</p>
<p>術家以十二肖，配十二辰，每肖各有不足之形焉。如鼠無牙，牛無齒，虎無脾，兔無唇，龍無耳，蛇無足，馬無膽，羊無神，猴無臀，雞無腎，犬無腹，豬無筋，人則無不足也。</p>
<p>蛇蟠向王，鵲巢背太歲，燕伏戊己虎奮衝破，干鵲知來，猩猩知往，鸛影抱，蝦蟆聲抱。</p>
<p>鸚鵡能言，眾為趾前三後一，唯此四指齊分。凡鳥下瞼眨上，獨此鳥兩瞼俱動如人，目舌亦如人。</p>
<p>食葉者有絲，食土者不息。食而不飲者蠶，飲而不食者蟬，不飲不食者蜉蝣。</p>
<p>事外無道，道外無事，故事愈近而道愈切。《莊子》曰：哀莫大於心死，而形死次之，誦之令人有生意。</p>
<p>人心思火則體熱，思水則體寒，怒則發豎，驚則汗滴，懼則肉顫，愧則面赤，悲則淚出，慌則心跳，氣則麻痹。言酸則垂涎，言臭則吐唾，言喜則笑，言哀則哭，笑則貌妍，哭則貌媸。又若日有所見，夜必夢擾。日有所思，夜必譫語。夢交則精泄，氣怒則發狂。此皆因心而生者也，人可於靈君，使令一刻不在絳宮以統百屬。《道經》云：蝶交則粉退，蜂交則黃退。</p>
<p>凡香品皆產自南方，南離位，離主火，火為土母，火盛則土得養。故沉水梅檀薰陸之類，多產自嶺南海表，土氣所鍾也。內經曰：香氣湊脾，火陽也，故氣芬烈。</p>
<p>《禽經》曰：鵲以怨望，鴟以貪顧，雞以嗔視，鴨以怒睨，雀以猜懼，燕以狂䀪，視也，鶯以喜囀，鳥以悲啼，鳶以飢鳴，鶴以潔唳，梟以凶叫，鴟以愁嘯，鳴也。</p>
<p>俗以初五、十四、廿三、為月忌，蓋三日乃河圖數之中宮五數耳。五為君象，故民庶不敢用。</p>
<p>山東無虎，浙江無狼，廣東無兔，蜀無鴿。</p>
<p>象體具百獸之肉，惟鼻是其本肉，以為炙，肥脆甘美。呂氏春秋曰：肉之美者，有髦象之約焉，約即鼻也。</p>
<p>蠍螫者，忍痛問人曰：吾為蠍螫奈何？答曰：尋愈矣!便即豁然，若叫號則愈痛，一晝夜始止。關中有天茄，可治蠍毒（木杯覆蠍螫痛即止）</p>
<p>久病者，忽無蝨必死，其氣冷也。</p>
<p>蜻蜓飛好點水，非愛水也，遺卵也。水蠆化為蜻蜓，蜻蜓相交還於水中，附物散卵，出復為水蠆，水蠆復為蜻蜓，交相化禪，無有窮已，淮南子曰：水蠆為⿰虫忽，兔齧為螚，物之所為，出於不意。</p>
<p>松為百木之長，蘭為百草之長，桂為百藥之長，梓為百木之王，牡丹為百花之王，葵為百蔬之王。綸組也，紫菜也，海中之草也。珊瑚也，琅玕也，海中之木也。</p>
<p>棗杏中屬為核果，梨奈為膚果，椰胡桃之屬為殼果，松柏之實為檜果。木謂之華，草謂之榮，不榮而實曰秀，榮而不實曰英。竹萌謂之荀，蘆萌謂之虇，谷稻萌謂之秧。</p>
<p>草木之花皆五出，雪花六出，朱文公謂地六生水之義。然桂花四出，潘笠江謂土之生物，其成數五，故草木花皆五，惟桂乃月中之木，居西方。四乃西方金之生數，故四出而金色，且開於秋云，然檐卜亦六出。</p>
<p>栽花竹，根下須撒谷種升許，蓋欲引其生氣，穀苗出土，則根行矣。</p>
<p>有睡草，亦有卻睡之草。有醉草，亦有醒醉之草。有宵明之草，亦有晝暗之草。有夜合之草，亦有夜舒之草。物性相反，有如此者。</p>
<p>重束為棗，並束為棘，棘亦棗之類也。埤雅曰：大者棗，小者棘，棘蓋今酸棗之類。而棗樹之短者，亦蔓延針刺，鉤人衣服。其與荊棘又何別哉？唯條而長之，接以佳種，遂見珍於天下，此亦君子小人之別也。故藥中諸果皆稱名，於棗獨加大字，明小者不足用也。</p>
<p>迎春也，半夏也，忍冬也，以時名者也。劉寄奴也，徐長卿也，使君子也，杜仲也，王孫也，丁公藤也，蒲公英也，以人名者也。鹿跑草也，淫羊藿也，鹿銜草也，以物名者也。高良，常山，天竺，迦南，以地名者也，虎掌，狗脊，馬鞭，烏喙，狗尾，鴨腳，鶴蝨，鼠耳，以形名者也。預知子，不留行，骨碎補，益母，狼毒，以性名者也。無名異，沒石子，威靈仙，沒藥，景天三七，則無名而強名之也。牝鹿銜草以貽其牡，蜘蛛齧芋以磨其腹。物之微者，猶知藥餌，而人反不知也，可乎？</p>
<p>土鱉，本草謂之䗪蟲，俗呼蚌虎。蚌者，屋蠹也，此物氣能禁蠹，令蠹盡死，故曰蚌虎。</p>
<p>或問海錯生鹹鹵，而其味每澹，及獲之醃浸以鹽，其味即咸矣，其理何在？答曰：生氣臨之者常，死氣臨之者變。生、生氣也，死、死氣也。故海錯在海皆澹，及其離海，鹽醃之即咸，生則氣血行，故味不入，死則氣血凝，故味能入。</p>
<p>藥中珍蚺蛇膽，而餌之能痿陽，其蛇絕大，以吞鹿為恆，而南越人徒手取之，或呼紅娘子，或以婦人褻衣投之，則伏不動，惟人之所牽紲屠剝，殆淫夫之後身與。</p>
<p>雲南景東府境，內有蛇不僅如守宮，常緣樹而棲，見人輒墮地，則碎為數段，人去復續，以為藥，可以已大內癧瘍，遠過白花烏蛇之屬。人挾筒而往，見則掇之以入筒，一經人手，則不復能續而死矣。然亦難值，其價與金等，名曰脆蛇，亦曰碎蛇。</p>
<p>西域有撒法藍，狀如紅藍花，熱之芬馥清潤，至中國價與黃金等，即所謂鬱金香也。陳藏器云：鬱金香，生大秦國，二月三月有花，狀如紅藍，四月五月採花，即香也。南州異物志云：鬱金香，出罽賓國，人種之先以供佛，數日萎，然後取之，色正黃，與芙蓉花裹嫩蓮者相似，可以香酒。唐書云：太宗時，伽毗國獻鬱金香，葉似麥門冬，九月花開，狀如芙蓉，其色紫碧，香聞數十步，花而不實，欲種者取根。此言花色不同，或不一種，今撒法藍乃作紅黃色，與前書異矣。此中人謂之番紅花，不知紅花元自張騫得之於西城，安得又有番紅花耶？今之所謂鬱金者，惟蜀中有之，佳者亦自難得，惟取薑黃代之。真鬱金雖亦辛香，而氣不馥烈。古之釀酒以降神者此耶，或四彝來賓，重驛而至者，遂為神廟用耶，或古有之而今無耶，皆不可知也。</p>
<p>巫彭初作醫。</p>
<p>《續統訓》曰：醫不死之病，庸醫能醫之，何欲於良醫哉？存不危之國，庸人能存之，何欲於君子哉？惟天下必死之人，足以試良醫之技，惟天下至危之國，足以試君予之能。</p>
<p>《物理論》曰：夫醫者，非仁愛不可托也，非聰明理達，不可任也，非廉潔淳良。不可信也。是以古之用醫，必選名姓之後，其德能仁恕博愛，其智能宣暢曲解，能知天地神只之次，能明性命吉凶之數，處虛實之分，定逆順之節，原疾疹之輕重，而量藥劑之多少，貫微達幽，不失細小，如此乃謂良醫。醫有名而不良者，有無名而良者，必參知而隱括之。</p>
<p>醫以生人，而庸工以之殺人；兵以殺人，而聖賢以之生人。</p>
<p>列郡施藥，始於韓魏公。</p>
<p>四月二十八，藥王誕。</p>
<p>祀先醫，春冬仲月上甲日，上祀三皇，配以勾芒、祝融、風后，力牧，而附歷代醫師二十八人，歲遣禮部太醫院堂官分獻。東廡僦貸季、岐伯、伯高、鬼臾區、俞跗、少俞、少師、桐君、雷公，馬師皇、伊、扁鵲、淳于意，張機。西廡華佗、王叔和、皇甫謐、葛洪、巢元方、真人孫思邈、藥王韋慈藏、啟玄子王冰、錢乙、朱肱、李杲、劉完素、張元素、朱彥修。</p>
<p>醫書云：燒灰存性，存性二字最妙。可見萬劫成灰，性未嘗不存。今人當陷溺之後，四端時露，即死柘骨，猶能蔭後。惟業重毒火燒然不留，則性滅，天地聖人無如之何。</p>
<p>明初，四明儒者赴召，見太祖於便殿，對曰：臣業醫。太祖曰：卿為醫，亦知蜜有苦而膽有甜者乎？對曰：蜂釀黃連花則蜜苦，猿猴食果多則膽甜。太祖曰：是能格物者，擢為太醫院使。（鱧魚膽亦甜）</p>
<p>方言殗憍病，半臥半起。</p>
<p>梁帝勸醫文云：更六一於金液，改三七於銀丸。</p>
<p>恙說文曰憂也。一曰蟲入腹，食人心，古者草居多被此毒，故相問無恙乎？今人稱疾為微恙貴恙，是又以恙訓疾也。</p>
<p>嬰兒男曰兒，女曰嬰，又兒曰孺。</p>
<p>䘒音雖，或作脧赤子陰也。老子云：未知牝牡之合而䘒作，精之至也。</p>
<p>醫家有龍樹王祝由科，乃移精變氣之術，誠可已中寒之病，傳疰之氣，疫癧之災不可廢也。若五勞六慾之傷，七損八益之病，必有待於藥耳。</p>
<p>男女之無子者，非情不洽，則神不交也。何謂情不洽也，或男情已動，而女情未洽，則玉體方交，瓊漿先吐，陽精雖至，而陰不上從乎陽，謂之孤陽，或女情已動，而男情未洽，則桃浪雖翻，玉露未滴，陰血雖至，而陽不下從乎陰，謂之寡陰。兩者不和，若春無秋，若冬無夏，故不成胎也。何謂神交也？夫媚其婦，婦依其夫，身雖未合，心已先孚，此神交也。或男子外慕而不專，女子善懷而不怡，事出勉強，中多牴牾，故亦不成胎也。凡若此者，服藥何益？（詳天寶秘訣）</p>
<p>王宇泰曰：萬曆丙午冬日，過鷲峰寺，訪汪仲嘉。留午餐，高原昱法師、王太古、吳翁晉、皆在焉，仲嘉謂余曰：公知王節齋所以死乎？余曰：不知也。仲嘉曰：節齋為四川參政時，得心腹痛疾，醫療之，百方不衰，日以益甚，聞峨眉有道者善醫，然不可至也。節齋親至山，屏癜輿從，徒步至其寓，所以示虔，道者望見即驚曰：病深矣，既展拜相讓，坐定，問公於服餌有生用氣血之物，焙制未徹者乎？曰：有之，常服補陰丸數十年矣，中用龜甲，酒炙而入之。曰：是矣!宜亟歸屈其指曰：猶可將及家也。節齋遽投檄歸，至吳閶，輒大下赤色小龜無數，是夕卒於舟中。余諗於眾曰：公等知其說乎？夫貪戀軀殼者，萬物皆然，而龜為甚，故最壽而難死。昔有支床足三十年無恙者，愚癡之效也。道家顧以為善導引而欲效之，不亦謬乎？先王知之，故用之以卜，謂其有神識在焉。古人用之入藥，必取自死朽敗者，防其得人生氣，則復活也，活則以人之氣血脂膜為糧，竭即及五臟六腑而死矣。本草稱龜甲所主，大率破癥瘕，已瘧痔陰蝕，漏下赤白，不言補心腎。自丹溪有補陰之說，而後世煎膠制丸，服之無纖毫之益，且有害，若是可不戒乎？既歸而錄之冊，以告來者。</p>
<p>邵麟武問欲學醫，須識藥性，欲識藥性，須讀本草乎？曰然!讀本草有法，勿看其主治。麟武曰：不看主治，又何以知藥性也？曰：天豈為病而生藥哉？天非為病而生藥，則曰何藥可治何病，皆舉一而廢百者耳。草木得氣之偏，人得氣之全，偏則病矣，以彼之偏，輔我之偏，醫藥所繇起也。讀本草者，以藥參驗之，辨其味，察其氣，觀其色，考其以何時苗，以何時華，以何時實，以何時萎，則知其稟何氣而生。凡見某病為何氣不足，則可以此療之矣。《靈樞經·邪客篇》，論不得臥者，因厥氣客於五臟六腑，則衛氣獨衛其外。行於陽，不得入於陰，行於陽，則陽氣盛，陽氣盛，則陽蹺滿，不得入於陰，陰氣虛，故目不瞑，治之以半夏湯。夏至而後一陰生，半夏茁其時，則知其稟一陰之氣而生也，所以能通行陰之道。五月陽氣尚盛，故生必三葉，其氣薄，為陽中之陰，故能引衛氣從陽入陰。又其味辛，能散陽蹺之滿，故飲之而陰陽通，其臥立至也。李明之治王善夫小便不通，漸成中滿，是無陰而陽氣不化也。凡利小便之藥，皆淡味滲泄為陽，止是氣藥，陽中之陰，所以不效，隨處以稟北方寒水所化。大苦寒氣味俱陰者，黃柏知母，桂為引用，為丸投之，溺出如湧泉，轉眄成流。蓋此病惟是下焦真陰不足，故純用陰中之陰，不欲干涉陽分，及上中二焦，故為丸，且服之多也。本草何嘗言半夏治不得臥、黃柏知母利小便哉？則據主治而覓藥性，亦何異夫鍥舟而求劍者乎？麟武曰善哉，未之前聞也。</p>
<p>面浮跗腫，小便淋澀，未必成水也，服滲利之藥而不已，則水症成矣。胸滿腹鼓，邑邑不快，未必成脹也，服破氣之藥而不已，則脹症成矣。咳嗽吐血，時時發熱，未必成瘵也，服四物黃柏知母之藥而不已，則瘵症成矣。氣滯膈塞，飲食不下，未必成膈也，服青陳枳樸寬中之劑而不已，則膈症成矣。成則不可復藥，及阽於危，乃曰病犯條款，雖對症之藥無可奈何也？誤哉!</p>
<p>痰火上壅，喘嗽發熱，足反冷者，服消痰降火藥必死。宜量其輕重而用人參，多至一兩，少則三五錢，佐以桂附煎濃湯，候冷飲之立愈。韓懋所謂假對假，真對真也。然此症實由腎中真水不足，火不受制而上炎。桂附火類也，下咽之初，得其冷性，暫解鬱熱，及至下焦，熱性始發，從其窟宅而招之。同氣相求，火必下降，自然之理也。然非人參君之，則不能奏功。</p>
<p>每見時師治中風，初用八味順氣散，多不得救，已而用二陳四物，加膽星天麻之類。自謂穩當之極，可以久而奏功，而有竟無一驗，何也？蓋妄以南星半夏為化痰之藥，當歸川芎為生血之劑，而泥於成方，變通無法故也。正不知通血脈，助真元，非大劑人參不可。而有痰者，惟宜竹瀝，少加薑汁佐之，不宜輕用燥劑。至於歸地，甘黏能滯脾氣，使脾精不運，何以能愈癱瘓？豈若人參出陽入陰，少則留，多則宣，無所不達哉!其能通血脈，雖明載本草，人誰信之。里中一老醫，右手足廢，不能起於床者二年矣，人傳其不起，過數月遇諸塗，訊之曰：吾之病幾危矣!始服順氣行痰之藥，了無應驗，薄暮神志輒昏，度不可支，令家人煎進十全大補湯，即覺清明，遂日服之，浹數月，能扶策而起。無何，則又能捨策而步矣。經曰：邪之氣湊，其氣必虛。吾治其虛，不理其邪，而邪自去，吾所以獲全也。余曰：有是哉，使進順氣疏風之藥不輟者，墓木拱矣。然此鋒拘於成方，不能因病而變通。隨時而消息，故奏功稍遲。使吾為之，當不止是也，姑書之以俟明者採焉。</p>
<p>治積之法，理氣為先，氣既升降，津液流暢，積聚何由而生。丹溪乃謂氣無形，而不能作塊成聚，只以消痰破血為主，誤矣!天地間有形之物，每自無中生，何止積聚也？戴復庵以一味大七氣湯，治一切積聚，知此道歟。肝積肥氣，用前湯煎熟待冷，卻以鐵氣燒通紅，以藥淋之，乘熱服。肺積息賁，用前湯加桑白皮半夏杏仁各半錢。心積伏梁，用前湯加石菖蒲半夏各半錢。脾之積痞氣，用前湯下紅丸子。腎之積奔豚，用前湯倍桂，加茴香，炒練子肉各半錢。</p>
<p>腦者，髓之海也，髓不足，則腦為之痛，宜茸珠丹之類治之。若用風藥，久之必死。</p>
<p>腹脹多是氣虛不斂，用辛散之藥反甚，宜以酸收之，白芍藥五味子之屬，少佐益智仁，以其能收攝三焦元氣也。朝寬暮急，用當歸為主。暮寬朝急，用人參為主。朝暮俱急，二味並用。按之有痛處，乃瘀血也，加行血藥。經云：濁氣在上，則生䐜脹。又云：下之則脹已，謂宜用沉降之藥，引濁氣之在上者而下之，非通利大腑之謂也。凡腫脹初起，痰多發喘，小便不利者，服濟生腎氣丸無不效。</p>
<p>許少微患口縻，余謂非乾薑不能愈，公猶疑之，後竟從余言而愈。從子懋鋙亦患此，勢甚危急，熱甚，惟欲飲冷，余令用人參白朮乾薑各二錢，茯苓甘草一錢，煎成冷服，日數服乃已。噫!此詎可與拘方者道也。（王宇泰筆麈）</p>
<p>問本草五味之補瀉五臟，其義何居？答：天地之氣不交，則造化幾乎息矣。故辛者散也，東方之氣散，宜辛而反酸，是震中有兌也。酸者，斂也，西方之氣斂，宜酸而反辛，是兌中有震也，故酸入肝而補肺，辛入肺而補肝，是震兌互也。鹹入腎而補心，苦入心而補腎，是坎離互也。脾不主時，寄旺於四季，則守其本味而已矣。至其瀉也，則又不然。腎肺肝之各以本味為瀉，易知也，乃心脾獨異何耶？曰：心、君主之官也，脾、臟腑經絡之所從稟氣者也，故獨異也。君主之官，以所生之甘味為瀉，惡其泄氣也。脾納水穀，散精於臟腑，新新相因，故以生我之苦味為瀉，惡其休氣也。我王則生我者休故也。</p>
<p>論曰：胸中結塊，原起於午食後，即臥用噙化丸，使睡中常有藥氣疏通肺胃之間，彼將欲結，藥往疏之，新結不增，舊結漸解，臥時成病，亦治以臥時。且病在膈上，不用湯之盪滌，丸之沉下，而用噙化徐徐沁入，日計不足，月計有餘也，服六七十丸後，膈間漸寬。</p>
<p>聖人發憤忘食，及下箸時又不草草，觀食不厭精一章，何等仔細，此無他，聖心不滯一處，故無所往而不存。王安石專精讀書，每食不辨美惡，但近身者必盡，當其好學時，已先犯心不在焉，食而不知其味一大病矣。世人無所用心，品題酒饌，此直飲食之人，又得罪於安石。善學道養身者，只是於味無求，臨食不苟，化元無常，先後天無定，孤臟以溉四旁，則脾者周身之化元。氣生質，陽生陰，則丹田者，精液肌體之化元也。滋味為後天，則嬰孩之乳哺為先天。推之則母懷又為先天推之則孕時父母之無疾又為先天，推之則父母自身之稟氣又為先天。凡先天皆命也，惟平生之調攝屬性。故康寧疾病命也，有性焉，君子不謂命也。腑表而臟里，腑病或不及臟，臟病無不及腑。腑易治而臟難療也。傷臟多起於七情，傷腑多因於飲食。聖人於損，致戒曰懲忿窒欲，於頤，致戒曰：慎言語，節飲食。夫懲忿則木和，窒欲則水滋，慎言則金息，節食則土不勞。四者全，神明亦無不調矣，養德之道，養生亦在其中，離德而言養生，生何繇養。</p>
<p>覺則脾能磨食，寢則易停，化之常也。勞極傷脾之後，飯余微寢，食反易餓，化之變也，然須少食。</p>
<p>滋益之味，骨肉為重，疏利之氣，草木為先。</p>
<p>食其氣者，水火宜淺。食其味者，水火宜中。食其質者，水火宜深。</p>
<p>甘草調和諸藥，為諸藥原有不調處。若所用各味，本皆純和，何所用調。譬諸良友相聚，呼一坊長立於其前為之勸解，所勸何人，所解何事，適妨諸公之歡笑耳。然辛甘發散為陽，甘草補中發散，固自有用。近時醫者，凡藥皆用以調和，是忘其本力，而謬取其藉資，盍審之。</p>
<p>本草言肉蓯蓉，驟用之反動大便，繆仲淳屢用奇效。然觀其疏解，尚昧所以。蓋比藥鹹溫潤下，本走腎經，但以膀胱竅窄，大腸竅寬，峻用則其潤降之力，膀胱不遑領受，而大腸能受之，故藥力不足膀胱，反走大腸。原非動大便之藥也，凡血液枯槁，用此為宜。倘有腎滑症者，用之則藥本歸腎，腎又熟路善通，徑增滑泄之病，而大便秘結如故矣，不可不察。</p>
<p>問孩童癖積，惟五穀蟲消之，此是何理？曰：鳥獸之糞，不生此蟲。蓋五穀腐後所化，取腐後化生之氣，潔之以水，焦之以火，消臟腑之所不能消。谷者，脾之五味，其本性能養脾，其變化後，又能助脾消積。</p>
<p>白菜疏利，而菜心有毒。竹葉竹茹竹瀝，皆解熱消痰，而筍有毒，何其反也。物有未伸之氣，先時而折之，雖蒙水火之變，借人氣息，猶能發泄。故患瘡腫之人，食之則增痛增癢。若人身平和，臟腑之氣足以運化物氣，不至為害。本草云：凡瓜果未熟者有毒，皆此意。非其性真毒也，郁也。譬如和厚之人，逆阻其方來，亦懷不樂，然此皆天郁也。酒之有毒，則人力造作之郁也。夫人之為郁異，而鬱之為毒同。又俗稱羊肉有毒，羊肉大補，功同參耆，毒性何在？然瘡腫增痛如神，蓋大溫大補之故，非關毒也。譬如癰疽早用白朮，則腫潰益甚，痛楚益加，膿窠瘡亦爾。白朮豈有毒耶。</p>
<p>丹溪云：氣有餘即是火。此語誤人，氣安有有餘之理？據云有餘，是凡火症，宜用克氣瀉氣藥也。若對血言氣，則是血之不足，豈氣之有餘。故曰：滋其陰則火自息，第令益彼，不令損此，意至明矣。凡火有二，在臟腑者，升降自如則為氣，沖逆上攻則為火：在經絡筋肉間者，流行不滯則為氣，壅於一處則為火。輕則為痛為癢，重則癰腫生焉。兩言以蔽之。氣逆為火，氣壅為火，斷不可以有餘為火也。逆則宜順，壅則宜通。</p>
<p>夜臥能使氣降，晝臥能使氣升。人至暮勞極，眼白昏而帶赤，靜臥一宵，詰朝對鏡清徹如故，此氣降之驗也。晝倦當靜坐片時，或散步玩物，睡態自解。若因而沉寢，則初覺之時，目白必赤，此因臥而氣反升之驗也。蓋晝當與陽俱開，乃逆其候而閉之，譬如夜當與陰俱閉。乃故狂呼豪飲，皆傷壽源。古人云：夙興夜寐，出作入息，天之命也，人之紀也，愚一生勸人夙興，不勸人夜坐。</p>
<p>飲後臥宜側左，食後臥宜側右，大腸膀胱，各從其便。</p>
<p>升與逆不同，肝腎俱下宜升心肺皆上宜降。水火交，則無疾也。肝為風木，木生必升，風起必升，豈得為病？其太過則口苦頭眩，是逆也。腎氣逆則口作咸，亦逆也。非水升之謂也，故居下者宜升不宜逆，居上者宜降不宜陷。</p>

<h1>卷下</h1>
<p>子華子曰：夫混茫之中，是名太初，實生三氣。上氣曰始，中氣曰元，三氣曰玄。玄資於元，元資於始，始資於初。太真剖割，通二而為一，離之而為兩，各有精專，是名陰陽。兩端而三之，數登於九而究矣。是以棲三陰之正氣於風輪，其專精之名曰太玄。棲三陽之正氣於水樞，其專精之名曰太一。太一，正陽也。太玄，正陰也。陽之正氣其色赤，陰之正氣其色黑。水、陽也，而其伏為陰。風、陰也，而其發為陽。上赤下黑，左青右白，黃潛中宮，而五運流轉，故有輪樞之象焉。水涵太一之中精，故能潤澤百物而行乎地中。風涵太玄之中精，故能動化百物而行乎天上。上赤之象，其宮成離。下黑之象，其宮成坎。夫兩端之所以平者，以中存乎其間故也。中名未立，兩端之不形，是以坎離斡乎中氣，中天地而立，生育萬物，新新而不窮。陽之氣為火，火勝，故冬至之日燥。陰之氣為水，水勝，故夏至之日濕。火則上炎，水則下注，鳥飛而上，魚動而下，物類相動，焱本相應，孰究其所以來，誰使其所以然。因其然也然，不然也不然，然乎然，不然乎不然，吾亦不知其所以然也。夫是之謂萬化原，上決而成天，下決而成地，既已決矣，命之曰中。決必有所合也，命之曰和，中和玄同，萬物所生，夫是之謂三三六六。</p>
<p>子華子曰：天地之大數，莫過乎五，莫中乎五。五居中宮，以制萬品，謂之實也。沖氣之守也，中之所以起也，中之所以止也，龜筮之所以靈也，神響之所以豐融也，通乎此。則條達而無礙者矣，是以二與四，抱九而上躋也；六與八，蹈一而下沉也，戴九而履一，據三而持七。五居中宮，數之所由生，一縱一橫，數之所由成。故曰天地之大數，莫大乎五，莫中乎五，通乎此，則條達而無礙者矣。</p>
<p>子華子曰：醫者，理也；理者，意也，藥者，淪也；淪者，養也。腑臟之伏也，血氣之留也，空窾之塞也，關鬲之礙也，意其所未然也，意其所將然也。察於四然者，而謹訓於理，夫是之謂醫。以其所有餘也，而養其所乏也；以其所益多也，而養其所損也，反其所養，則益者彌損矣；反其所養，則有餘者彌乏矣。察於二尺者，而加疏淪焉，夫是之謂藥。故曰：醫者，理也；理者，意也；藥者，淪也；淪者，養也。</p>
<p>（程叔本號子華子，晉人，程伯符之後樸之十六代祖也。孔子遇諸郯歡日天下之賢士也。詳子華子二卷並家乘子書無叔字。）</p>
<p>老子之言：大抵以無為無名為本，至於絕聖棄智。然所云將欲歙之，必固張之；將欲弱之，必固強之；將欲廢之，必固興之；將欲奪之，必固與之，乃似於用機械而有心者，微言淵奧，固莫探其旨也。</p>
<p>太上老君十三虛無。</p>
<p>虛、無、清、靜、微、寡、柔、弱、卑、損、時、和、嗇。</p>
<p>一曰遺形忘體，恬然若無，謂之虛。</p>
<p>二曰損心棄意，廢偽去欲，謂之無。</p>
<p>三曰專精積神，不與物雜，謂之清。</p>
<p>四曰反神服氣，安而不動，謂之靜。</p>
<p>五曰深居閒處，功名不顯，謂之微。</p>
<p>六曰去妻離子，獨與道遊，謂之寡。</p>
<p>七曰呼吸中和，滑澤細微，謂之柔。</p>
<p>八曰緩形縱體，以奉百事，謂之弱。</p>
<p>九曰憎惡尊榮，安貧樂辱，謂之卑。</p>
<p>十曰遁盈逃滿，衣食粗疏，謂之損。</p>
<p>十一曰靜作隨陽，應變卻邪，謂之時。</p>
<p>十二曰不飢不渴，不寒不暑，不喜不怒，不哀不樂，不疾不遲，謂之和。</p>
<p>十三曰愛視愛聽，愛言愛慮，堅固不費，精神內守，謂之嗇。</p>
<p>道家有交梨火棗者，蓋梨乃春花秋熟，外蒼內白，有金木交互之義，故曰交梨。棗味甘而色赤，為陽，有陽土生物之義，故曰火棗。</p>
<p>為道者如披乾草避火，愛欲人如執烈炬迎風。</p>
<p>不守庚申，都忘甲子。剪三尸內蠹，享六甲行廚。</p>
<p>名在丹臺玉室，名在瓊簡赤書。</p>
<p>云笈瓊函，神經怪牒。</p>
<p>仙丘絳露，見《山海經》；崑崙朱露，見《拾遺記》。</p>
<p>仙家三寶，有碧瓊杯，紅蕤枕，紫玉函。</p>
<p>仙家上藥，有玄霜，絳雪。</p>
<p>佩五嶽圖，服三尸酒（石榴也。）</p>
<p>不知上得不得，且怪懸之又懸。</p>
<p>佛有三不能，仙有三不過。</p>
<p>色香臭味，天之所生也。耳目鼻口，人之所具也。目知色，耳知聲，鼻知臭，口知味，此四者，天人之相交也。使無耳目，則聲色又烏用生之哉，則造化或幾乎熄矣，此天地之所以善藏其用也。至於心，則又所以具此理而應此事者也，宰制四者於中，而各聽命焉，此其所以官天地，役萬物者也，故並於兩間而為三。</p>
<p>夫咸者，生於火也。火然薪木，既已成灰，用水淋灌，即成灰滷。燥干之極，遇水即咸此其驗也。地中得火，既多燥干，燥干遇水，即成鹹味，咸者之性，尤多下墜。試觀五味，辛甘酸苦，皆寄草木，獨鹹味寄於海水，足徵四味浮輕，咸性沉重矣。今蜀道鹽井，先鑿得泉，悉是淡水，以桶隅之，更鑿數丈，乃得滷焉。又鹽池雨多，水味必淡。作為斗門，泄其淡水，下乃滷焉。咸重淡輕，亦其證也。海於地中，為最卑下，諸咸就之，積咸既多，淡入亦化，非獨水也。海中山島，或悉是咸，故咸重歸海，海水為鹽也。試觀人汗，俱作鹹味，亦由火故，理可類觀。溺處生硝，硝為火藥，亦一端也。或曰：咸既因火，火因於日，日遍大地，大地之下，悉有鹽乎？曰：豈不然乎？蜀道鹽井，三晉鹽池。西國有海，名曰地中，實不通海，亦是鹹水。西戎北狄，多有鹽澤，彼以咸故，悉名為海。足徵大地之下，無不有鹽矣!或曰：大地之下既皆鹽，緣何鹽井以深，鹽池鹽澤以淺？曰：咸生於火，火淺咸淺，火深咸深也。又感能固物，使之不腐，卻能斂物，使之不生。火在地中，藉溫暖多所變化，倘居地上，任其焚燒，有何不滅。若火與咸俱令在地，動植之物，悉皆泯矣。故日生熱，因熱生火，旋用水土壅閼，恆使在下，助生萬物，有時有處，間一發見，即歸本所。因火生咸，亦令性重，歸藏於海，為人作味，不令侵出地上，以為物害也。且海益於人，不止作味，鹹水生物，美於淡水，故海中之魚，旨於江河之魚。鹹水厚重，載物則強，故入江河而沉者，或入海而浮也。試以江河之舟，載物入海，載物不減，驗其水痕，頓淺尺許，此理何故？蓋緣燥熱之情，本自堅勁，加有鹹味，比之凡水，稠而密理，故載物獨強也。又海水夜光，江河不光，江河之水滅火，海水入火，如益膏油，反加熾盛，則咸為火情彰彰著矣。（海鹽）</p>
<p>月中有形質微黑者，人以為山河之影，非也，其質有常，如玉之有瑕也。（蟾影）</p>
<p>魚生於水，人生於塵。人俯視知為水，魚不知也，魚仰視知為塵，人不知也。立於百仞之上，清虛之間而觀之，塵水一也。大凡塵埃之中，皆氣所沖也，人一息不食氣則不生，魚一息不食水則死。人入水，魚抗塵，死不移時，違其所生之故也。水族入陸而不死者，魚鱉鱣鮰之類，是彼其吭間有闢塵之穴焉。陸族入水而不死者，烏鬼鮫人之類是，彼其吻下有逆水之竅也。人當不語之時，食氣從鼻入，而亦從鼻出。魚當倦遊之候，食水從腮入，而亦從腮出，及其食物也，口即為政，而鼻腮呼吸未嘗間斷也。魚育於水，必借透塵中之氣而後生，水一息不通塵，謂之水死，而魚隨之。試函水一匱，四隙弭之。經數刻之久，而起視其魚，魚死矣。人育於氣，必旁通運旋之氣而後不死，氣一息不四通，謂之氣死，而大命盡焉。試兀坐十笏閣中，周匝封糊，歷三飯之久而視其人，人死矣。是故三日絕粗糲之糧，淹然延命，十刻違正浩之養，溘爾捐軀。然則生人生長於氣，猶魚之於水也，通乎此。而子房辟穀之思，未甚怪誕矣。（水塵觀）</p>
<p>天地間非形即氣，非氣即形。雜於形與氣之間者，水火是也，由氣而化形，形復返於氣，百姓日習而不知也。氣聚而不復化形者，日月是也。形成而不復化氣者，土石是也。氣從數萬里而墜，經歷埃坷，奇候融結而為形者，星隕為石是也。氣從數百仞而墜，化為形而不能固者，兩雹是也。初由氣化形，人見之，卒由形化氣，人不見者，草木與生人禽獸蟲魚之類是也。氣從地下催騰，一粒種性，小者為蓬，大者為蔽牛干霄之材，此一粒原本幾何？其餘則皆氣所化也，當其蓊然於深山，蔚然于田野，人得而見之。即至斧斤伐之，製為宮室器用，與充飲食炊爨，人得而見之。及其得火而燃，積為灰燼，衡以曏者之輕重，七十無一焉，量以多寡，五十無一焉。即枯枝榴莖，落葉凋芒，殞墜漬腐，而為塗泥者，失其生茂之形，不啻什之九，人猶見以為草木之形。至灰燼與塗泥而止矣，不復化矣。而不知灰燼枯敗之歸土，與隨流而入壑也。會母無於黃泉，朝元精於冱穴，經年之後，潛化為氣，而未嘗為土與泥，此人所不見也。若灰燼塗泥，究竟積為土，生人豈復有卑處之域，滄海不盡為桑田乎？人身食草木之實，與禽獸之肉，不居然形耶，強飯之人，有日啖豚肩與鬥粟，而臟腑燥結，甚至三日而通。量其所入而度所出，百無一焉。形之化氣，只在晝夜之間，雖由人身火候，足以攢簇五行，而原其始初，則緣所食之物，皆氣所化，故復返於氣耳，或曰皆氣所化。胡為不俱化，而猶存一分滓穢耶，此非形耶。曰：糞田而後，滓穢安在，其旨與灰燼之潛化，又何以異乎？人身從空來，亦從空化。佛經以皮毛骨肉歸土，精血涕汗歸水，其亦見膚之義。開數百年古墓而視之，石槨而外，有剩土余骸否？覆載之間，草木之朽燼，與血肉毛骨之委遺，積月而成寸，積歲而成尺積世而得尋，積運會而不知紀極，非其還返於虛無也。頊之顓丘陵，入土千仞，高辛之城郭，高出泰山之表矣。是故草木之由萌而修暢，人與禽獸蟲魚之自稚而壯強，其長也，無呼吸之候不長，此即離朱之善察，巧曆之窮推，不能名狀其分數，而況於凡民乎？故其消化而還虛，亦若是而已（形氣化）。</p>
<p>譚子曰：蛇化為龜，雀化為蛤，彼忽然忘曲屈之狀，而得蹣跚之質，此倏然失飛鳴之態，而得介甲之體。斫削不能加其功，繩尺不能定其象，何化之速也。且夫當空團塊，見塊而不見空，粉塊求空，見空而不見塊，形無妨而人自妨之，物無滯而人自滯之，悲哉!</p>
<p>老楓化為羽人，朽麥化為蝴蝶，自無情而之有情也。賢女化為貞石，山蚯化為百合，自有情而之無情也。是故土木金石，皆有情性精魄，虛無所不至，神無所不通，氣無所不同，形無所不類。孰為彼，孰為我，孰為有識，孰為無識，萬物一物也，萬神一神也，斯道之至矣!</p>
<p>爪須者，我之形。何爪可割而無害？須可截而無痛？蓋榮衛所不至也，則是我本無害，而筋骨為之害，我本無痛，而血肉為之痛。所以知喜怒非我作，哀樂非我動，我為形所昧，形為我所愛。達此理者，可以出生死之外。</p>
<p>蜩笑子曰：水其寒乎？火其炎乎？石其浮乎？羽其浮乎？然驪山有溫泉，蕭丘有寒火，南海有浮石，牁牂不沉羽，名不可紀，而化不可窮。</p>
<p>《素問》云：霞擁朝陽，云奔雨府。《楚辭》云：虹蜺紛其朝霞，夕淫淫而淋雨。唐詩云：朝霞晴作雨。俗諺云：朝霞不出市。</p>
<p>舉世皆夢也。夢，夢也；不夢，亦夢也。夢乎夢，不夢乎不夢，是故得失蕉鹿也，物我蝴蝶也，榮枯黃梁也。噫!通晝夜而醒者誰與？</p>
<p>蜀僧湛然，注楞嚴及易，皆有名理，妙於談論，指柳枝云，此物何以易生？蓋柳星在二十八宿中，寄根於天，故栽之輒活。</p>
<p>心宿有男女二形，房宿具雌雄二狀。</p>
<p>斫竹根以辰日，捕魚鰕以亥日，栽種忌焦枯日。</p>
<p>易曰：天地盈虛，與時消息，而況於人乎？況於鬼神乎？可見盈虛消息，自有主宰之者，雖天地亦不能違也。然除卻天地，更有何物？此處見解，難以語人，亦不得不以語人也。</p>
<p>聖人之所謂知天者，豈有它哉？亦不過識得盈虛消息之理而已。說天者莫辯乎易，易之一書，千言萬語，總不出此四字。但天之盈虛消息，自然者也。聖人之知存亡進退，而不失其正，亦自然者也。世之高賢，亦有懼盛滿而勇退者矣，亦有薄富貴而高蹈者矣，但以出處之間，未免有心，故又多一番魔障也。</p>
<p>心之虛靈知覺，虛是能包萬事萬物之理，靈是能通萬事萬物之理，知是識其理之所當然，覺是悟其理之所以然。</p>
<p>佛氏以性為自底，不涉於天，不知於何處求天，以山河大地為幻妄。有時破壞，不知於何處求地，以四大為假合，本來非有，不知於何處求人。</p>
<p>佛氏之徒，曰無生者，是畏死之論也。老氏之徒曰不死者，是貪生之說也。死生天地之常理，畏不可以苟免，貪者不可以苟得也。</p>
<p>梅花道人畫骷髏一軸，其上題云：漏泄陽春，爹孃搬販。至今未休，吐百種鄉談。千般扭扮，一生人我。幾許機謀，有限光陰。無窮活計，汲汲忙忙作馬牛，何時了？覺來枕上試聽更籌。古今多少風流，想蠅利蝸名誰到頭。看昨日他非，今朝我是。三回拜相，兩度封侯。採菊籬邊，種瓜圃內，都只到邙山一土丘，惺惺漢，皮囊扯破。便是骷髏。</p>
<p>目視，太陽也，非日火不能自照，此離明外光也。乃木火之交，肝心之用，神魂之所以受役者也。耳聽，少陰也，非風氣不能自通，此坎暗內景也，乃金木之交，肺腎之用，精魄之所以受役者也。此兩端者，是皆體實而用虛，外感而內應也。</p>
<p>鼻息，少陽也，非內氣之出則不能接外氣之入，此雷風相搏也，金木之交，腦髓之用，氣脈之所以受役者也，乃生死之門乎。口食，太陰也，非己之液，不能滋外物之味，此山澤通氣也，水火之交，脾胃之用，肉血之所以受役者也，乃興敗之基乎。此兩端者，是皆體虛而用實，內感而外應也。</p>
<p>人之目與舌皆有形，而所視者亦有形。鼻惟容氣，故所嗅者亦惟氣。至於耳則中虛者也，而所聽之聲亦無跡，事物各以類應也夫。</p>
<p>血，少陰也，金也，故其氣腥。尿、太陰也，水也，故其氣臊。髓、少陽也，木也，故其氣膻。屎、太陽也，火也，故其氣臭。津、隱於舌，通於脾，故其氣香。《聖濟總錄》曰：血氣在人，猶人之津也。髭發，猶津之彡也，津之稿澤，而彡隨之，則髭發本血氣可知矣。</p>
<p>毛髮鬚眉，修直而中空。天地間細入塵微，莫不由理氣所生，故蚊喙能引血，蝴蝶絡緯蟋蟀以須交，理可見矣。</p>
<p>童女首經，能回垂絕之陽氣，第一時難得耳。如女子自受胎時，算至十四歲，恰是五千零四八日，歸黃道之數，用法招攝，如法服餌，亦可延齡。最上者，惟於經行時，有真氣先到，溫溫鉛鼎，光透簾幃而莫可遏。人能得之，名為大藥，可以還丹，可以接命，有感召之奇，非情想可得，知音者稀也。</p>
<p>抱朴子曰：人在氣中，氣在人中。天地萬物，無不須氣以生，無不假呼吸以養，故太上示人以息。夫人未有此身，先有此息，此身未滅，此息先滅。受生之物，在胞胎內，隨母呼吸，受氣而成，此縷與母聯續。漸次漸開。中空如管，通氣往來。前通於臍，後通於腎，上通夾脊泥丸，至山根而生雙竅，由雙竅下至準頭，而成鼻之兩孔，是以名曰鼻祖。斯時我之氣通母之氣，母之氣通天地之氣，天地之氣，通太虛之氣，竅竅相通，無有隔閡，及乎氣數滿足，裂胞而出，剪斷臍帶，㘞地一聲，一點元陽，落於立命之處。自此後天用事，雖有呼吸往來，不得與元始祖氣相通。人生自幼至老，未有一息駐於其中。三界凡夫，塵生塵滅，萬死萬生，只為尋不著來時舊路耳。太上立法，教人修煉而長生者，其能奪天地之正氣。人之所以奪天地之正氣者，由其有兩孔之呼吸也。所呼者，自己之元氣從中而出；所吸者，天地之正氣從外而入。人若根源牢固，呼吸之間，亦可奪天地之正氣，而壽綿長。人若根源不固，精竭氣弱，所吸天地之正氣，隨呼而出，身中元氣，不為己之所有，反為天地所奪。何也？蓋為呼吸不得其門而入耳，一切常人呼吸，皆從咽喉下至鬲膜而回，一吸則丹田氣與鼻氣相承，一呼則鼻氣出而丹田氣降，是以不能與祖氣相通，如魚飲水，而口進腮出，即莊子所謂眾人之息以喉者是也。若至人呼吸，貫明堂而上夾脊，流入命門，得與祖氣相連，如磁吸鐵，而同類相親，即莊子所謂真人之息以踵是也。踵者，其息深深之義，既得深深，則我命在我，而不為大冶陶鑄矣!今人往往謂一吸至丹田，則腹中上下氣滿，一呼則腹中之氣盡出矣。果能盡出乎？此皆不究根源，不達生身之理耳。至若數息調息，不過清淨其息道，其於煉己築基，去大丹邈乎遠矣!今再直指先天祖竅，夫人立命之初，此竅先凝，就生兩腎，次生其心，其腎喻藕，其心喻蓮，其梗中通外直，柱地撐天。心腎相去八寸四分，中餘一寸二分，謂之腔子里是也，乃心腎往來之路，水火既濟之鄉。此竅開通，則呼吸之氣，漸次通夾脊透混元，而直達於命府，方才子母會合，破鏡重圓，漸漸擴充，則根本完固矣!嗟乎？人生如無根之樹，全憑氣息以為根株，一息不來，命非己有。故欲修長生者，必固其氣，氣固，則身中之元氣，不隨呼而出，天地之正氣，恆隨吸而入，久之胎息定，鄞鄂成，而長生有路矣，有志者毋忽。（兩鼻孔是後天，腔子里是先天。）</p>
<p>夫火有陽火，有陰火，有水中之火，有土中之火，有金中之火，有木中之火。陽火者，天上日月之光，生於寅而死於酉；陰火者，燈燭之光，生於酉而死於寅，此對待之火也。水中火者，霹靂火也，即龍雷之火，無形而有聲，不焚草木，得雨而益熾見於季春而伏於季秋。原夫龍雷之見者，以五月一陰生，水底冷而天上熱，龍為陽物，故隨陽而上升，至冬至一陽來復，故龍亦隨陽下伏。雷亦收聲，人身腎中相火，亦猶是也。平居不節欲，以致命門火衰，腎中陰盛，龍火無藏身之位，故遊於上而不歸，是以上焦煩熱咳嗽等症。善治者，以溫腎之藥，從其性而引之歸原，使行秋冬陽伏之令，而龍歸大海，此至理也。</p>
<p>如燈燭火，亦陰火也，須以膏油養之，不得雜一滴寒水，得水即滅矣。其爐中之火，乃灰土中無焰之火，得木則煙，見濕即滅，須以灰培，實以濕燼。人身脾土中火，以甘溫養之，其火自退。經曰：甘能除大熱，溫能除大熱，此之謂也!</p>
<p>空中之火，附於木中，以有坎水滋養，故火不外見，惟乾柴生火，燎原不可止遏，力窮方止。人身肝火內熾，鬱悶煩躁，須以辛涼之品發達之。經曰：木鬱達之，火鬱發之，使之得遂其炎上之性。若以寒藥下之，則愈郁矣。熱藥投之，則愈熾矣。</p>
<p>金中火者，凡山中有金銀之礦，或五金埋瘞之處，夜必有火光，此金鬱土中而不得越。故有光輝發現於外，人身皮毛空竅中，自覺針刺蚊咬，及巔頂如火炎者，此水乘金虛，而見於皮毛故也。</p>
<p>以水言之，有陽水，有陰水，有火中之水，有土中之水，有金中之水，有木中之水。陽水者，坎水也，氣也。陳希夷《消息論》曰：坎以一陽陷於二陰，水氣潛行地中，為萬物受命根本，蓋潤液也，氣之液也。月令於仲秋云：煞氣浸盛，陽氣日衰，水始涸，是水之涸，地之死也。於仲冬云：水泉動，是月一陽生，是水之動，地之生也，謂之火中之水可也，謂之土中之水可也。陰水者，兌澤也，形也，一陰上徹於二陽之上。以有形之水，普施萬物，下降為資生之利澤。在上即雨露之水，在下即大溪之水也。金中之水，礦中之水銀是也。在人身為骨中之髓，至精至粹，人之寶也。木中水者，巽木入於坎水而上出，其水即木中之脂膏。人身足下有湧泉穴，肩上有肩井穴，此暗水潛行之道。凡津液潤布於皮膚之內者，皆井泉水也。夫水有如許之不同，總之歸於大海。天地之水，以海為宗。人身之水，以腎為源。而其所以能晝夜不息者，以其有一元之干氣為太極耳。經曰：紀於水火，餘氣可推。</p>
<p>紫間色，而天垣稱紫微，豈非寓意之精乎？夫紫之為色，赤與黑相合而成也。水火相交，陰陽相感，而後萬物以之而為生。萬物以之而為生，是故為萬物之主宰矣。</p>
<p>紫色乃水火陰陽相交，既濟流通之義也，故天垣曰紫宮，又曰紫微者，紫宮微妙之所也。是以天子之居亦曰紫宸，面南拱北之情合矣。</p>
<p>太陰之行，與日同宮為晦朔，對宮為望，日明晝，月明夜。初一初二，日月同於卯時出卯宮，至酉時日月俱沒於酉位，故月夜行於地下，出地下日稍近，則不能明也。初三初四，卯時月到寅宮，自寅加卯，遞數至申位逢酉，故月生於申。初五初六，卯時月到醜宮，自醜加卯，遞數至未位逢酉，故月生於未。初七初八初九，卯時月到子宮，自子加卯，遞數至午位逢酉，故月生於午。初十十一，卯時月到亥宮，自亥加卯，遞數至巳位逢酉，故月生於巳。十二十三，卯時月到戌宮，自戌加卯，遞數至辰位逢酉，故月生於辰。十四十五十六，卯時月到酉宮，自酉加卯，遞數至卯位逢酉，故月生於酉。十七十八，卯時月到申宮，自申加卯，遞數至寅位逢酉，故月死於申。十九二十，卯時月到未宮，自未加卯，遞數至醜位逢酉，故月死於未。二十一二十二二十三，卯時月到午宮，自午加卯，遞數至子位逢酉，故月死於午。二十四二十五二十六，卯時月到巳宮，自巳加卯，遞數至亥位逢酉，故月死於巳。二十七二十八二十九，卯時月到辰宮，自辰加卯，遞數至戌位逢酉，故月死於辰。三十日卯時月到卯宮，自與日近，故月全死。與日會而為晦矣，是以初一二卯時出，初三四辰時出，初五六巳時出，初七八九午時出，初十十一未時出，十二三申時出，十四五六酉時出，十七八戌時出，十九二十亥時出，二十一二三子時出，二十四五六丑時出，二十七八九寅時出，三十日亦卯時出也。蓋月出地上則明，卯酉分地平，卯酉上為出地，卯酉下為入地。日生於東，月生於西，其此之謂歟。</p>
<p>北斗位北而得七，為火之成數。南鬥位南而得六，為水之成數，此乃陰陽精神交感之義也。日生於東，乃有西酉之雞。月生於西，乃有東卯之兔，此陰陽魂魄往來之義也。</p>
<p>日之食也，月輪掩之，故遭食處必虧缺。月之食也，暗虛蔽之月本無光，借日光以為明行當日之正對。值暗虛而為食暗虛本氣，故但能蔽其光。遭食之處，光陰而魄露焉。</p>
<p>陽經而陰緯，經之體縱，緯之體橫。故天之度為經縱，五星之纏為緯橫。縱為經而靜。故列宿曰經星。橫為緯而動，故五星為緯星也。</p>
<p>潮之說多矣。蓋潮本屬陰，陰極則動。月亦陰也，與之同類，月行過於子午極處則潮起。初一二日，卯時月在卯，自卯順數，一時一位，當時至午位，故午時潮。初三初四日，卯時月在寅，以寅加卯，順數至未時在午位，故未時潮。初五初六日，卯時月在醜，以醜加卯，順數至申時在午位，故申時潮。初七初八初九日，卯時月存子，以子加卯，順數至酉時在午位，故酉時潮。初十十一日，卯時月在亥，以亥加卯，順數至戌時在午位，故戌時潮。十二十三日，卯時月在戌，以戌加卯，順數至亥時在午位，故亥時潮。十四十五十六日，卯時月在酉，以酉加卯，順數至子時在午位，故子時潮，下半月與此同。凡月臨子午，海水必起。但上半月晝為潮，夜為汐，下半月夜為潮，晝為汐，皆月行於子午之位也。波濤洶湧者，由江勢曲折，沙潭深淺，激之而使然也。</p>
<p>萬物之生也本乎天，故其生質也皆圓，父之道也。惟石之生也或方，方者為地之骨也。</p>
<p>陽之數一三五七九，陰之數二四六八十。若陽之數有首而無尾，陰之數有尾而無首，是以陽會於首而不至於足，陰會於足而不至於首也。</p>
<p>人為陽，物為陰。陽數自一而至九無尾，陰數自二而至十有尾，故人無尾，而物皆有尾也。</p>
<p>人之水溝穴在鼻下口上，一名人中，蓋居人身天地之中也。天氣通於鼻，地氣通於口，天食人以五氣，鼻受之，地食人以五味，口受之，穴居其中，故名之曰人中。（較前說更有理）</p>
<p>人與畜，凡動物血皆赤者，血為陰屬水，坎為水，中含陽，血色赤，所含者陽也。離中之交，生氣之動也，去體久即黑，熟之亦黑，返本之義也。</p>
<p>女人產育，哺養以乳，乳之體居經絡氣血始終之間也。蓋自寅時，氣始於手太陰肺經，出於雲門穴，雲門在乳上，陰陽繼續以行，周十二經。至丑時歸於足厥陰肝經，入於期門穴，期門在乳下，出於上，入於下，肺領氣，肝藏血，乳正居於其間也。</p>
<p>七損八益之說，始於軒歧，前人辨之亦已明矣，然的指不離乎易數。且九為老陽，六為老陰，乃數之極，極則不生，惟變化爾。八為少陰，七為少陽，少則生育，生育之道，交媾存乎其間，故八交七，七交八。八交七，是以女子之生也，七月而齒。七歲而齔，二七而天癸至，七七而天癸絕。七交八，是以男子之生也，八月而齒，八歲而齔，二八而天癸至，八八而天癸絕。蓋男子少陽得七數，其根實在於八。女子少陰得八數，其根實在於七也。</p>
<p>人之目上睫動，下睫靜，為觀卦之象，有觀見之義。巽風動於上，坤地靜於下。人之口下頦動，上頦靜，為頤卦之象，有頤養之義。震雷動於下，艮山止於上，目居上，上者動，天氣運於上也。口居下，下者動，地氣運於下也。</p>
<p>或問木色本青，而草木皆綠何也？蓋綠青黃之間色，木非土不養，故青依於黃而綠矣。</p>
<p>草木之花，雖曰五色，然獨無黑色。黑為水色，母道也，母但陰育於中，故不現也。</p>
<p>雞鵝鴨家畜不能飛，其他野禽皆能飛。或曰家畜皆卵內即生毛，故不能飛。野禽皆卵外生毛，故能飛。又曰家：畜雌抱伏，而雄不抱伏，得陰炁多，故不能飛。野禽則雌雄皆抱伏，故能飛也。二說皆通。</p>
<p>凡卵皆白在外而黃在內，及抱成形，則黃變居外，白變居內矣，何以知其然？觀夫雞鵝鴨，在殼內生毛者俱黃毛，其飛禽外生毛者，身與吻俱黃可驗。此蓋太極之前陰包陽，太極之後陽包陰也。</p>
<p>十二肖屬，子為陰極，幽潛隱晦，以鼠配之，鼠藏跡。午為極，顯易剛健，以馬配之，馬快行。醜為陰，俯而慈愛，以牛配之，牛舐犢。未為陽，仰而秉禮，以羊配之，羊跪乳。寅為三陽，陽勝則暴，以虎配之，虎性暴。申為三陰，陰勝則黠，以猴配之，猴性黠。卯酉為日月二門，二肖皆一竅，兔舐雄毛則孕，感而不交也。雞合踏而無形，交而不感也。辰巳陽起而變化，龍為盛，蛇次之，故龍蛇配辰巳。龍蛇者，變化之物也。戌亥陰斂而持守，狗為盛，豬次之，故狗豬配戌亥。狗豬者，鎮靜之物也。或云皆取不全之物配肖屬者，非也，庶物萬類，豈特十二哉。</p>
<p>畢少董妙於鼎篆，其論水字云：中間一豎，更不須曲，只是畫一坎卦☵三耳。余因思張有妙於小篆，嘗言心字是一個倒火字，豈知心字畫一離卦☲哉？上一點，上一畫也，旁二點中二畫也，一鉤下一畫也。</p>
<p>油絹紙、石灰、麥糠、馬矢糞草，皆能出火。</p>
<p>三建雖曰天開於子，地闢於醜，人生於寅。然卻但以冬至為一建，小寒為二建，大寒為三建也，何以知其然也？蓋造曆始於冬至，察天氣也，候花信之風。始於小寒，察地氣也，辨人身之氣。始於大寒，以厥陰為首，察人氣也。豈非三建之氣，只在於立春之前前也歟。</p>
<p>風雷在天，有聲而無形，故假干位戌亥肖屬以配之。是以風伯首像犬，雷公首像豕。雨為坎，坎中男也，雨師像士子。電、雷光也，對干配震者巽。巽、長女也，電母像婦人，古之鹵簿四神旗皆繪畫也。</p>
<p>梓潼文昌君從者，曰天聾，曰地啞，蓋帝君不欲聰明之盡用，故假聾啞以寓意，且夫天地豈可聾啞哉？</p>
<p>佛老有地府十王之說，蓋即十干之義。其五稱閻羅最尊，位配戊土，居雖故也。其有七七之名者，蓋取十干循流，至七則剋制。且如甲子第一，至第七日遇庚剋制。又如庚子第一，至第七日遇丙剋制，更以十二支論之。一日子，至七日遇午為沖。一日醜，至七日遇未為沖。仿此，以至易卦以七日來復，則初爻至六爻畢，七日又至於初爻，此亦義也。</p>
<p>或問酒因毒藥烏頭之類以釀造，故能醉人。客駁之曰：非也!烏頭之類，何嘗醉人乎？蓋酒因米曲相反而成，稻花晝開，麥花夜開，子午相反之義，故酒能醉人。予難之曰：南方作醋，亦多米麥而造，緣何醋不醉乎？況又北方有葡萄酒、梨酒、棗酒、棗酒，南方有蜜酒、樹汁酒、椰漿酒，皆得醉人。豈米麥相反而然耶？或人與客咸自愧。因謂之曰：酒味辛甘，醞釀米麥之精華而成之者也，至精純陽，故能走經絡而入腠理，酒飲入口，未嘗停胃，遍循百脈，是以醉後氣息必粗，瘢痕必赤。能飲者，多至鬥石而不辭，使若停留胃中，胃之量豈能容受如許哉？醋不能醉人，因其味酸屬陰，性收斂止蓄，不惟不能醉人，亦不能多飲。其他諸物之酒，皆不由米麥，然悉系至精純陽之性，不離乎辛甘之味，故可使人醉也，且葡萄梨棗蜜，不醞釀成酒，則不能醉。馬奶未成酒，亦不能醉。惟椰漿及樹汁，獨不須醞釀，是自然之性也。</p>
<p>孔隙風名為賊風何也？曰：平面風如開口之呵，檐下風如開口之吹，呵溫而吹冷，吹已不可不避，況孔隙乎？鐵之為物，方圓平厚，可坐可憑，惟刀錐不可近，薄與尖故也。縫風如刃，隙風如錐。</p>
<p>丹溪云：醇酒宜涼飲，醇酒謂不濃不淡，氣味之中和者也。涼、謂微涼也。昔司馬公晚年得一侍妾，問其所能，曰能暖酒，即是此意。蓋胃喜寒而惡熱，脾喜溫而惡寒，醇酒涼飲，初得其涼以養胃，次得其溫以養脾。人之喜飲熱酒者，善病胃脘痛，此熱傷瘀血作痛也。喜飲冷酒者，善腹痛，不嗜食而嘔，寒傷脾也。</p>
<p>孟望湖，淮安人，耳中聞人聲，悉是祖考談其家事，擾擾不休，邀劉春齋醫治。春齋胗視之曰：暴病謂之火，怪病謂之痰，用滾痰丸下之而痊。</p>
<p>李克齋公在兵部，正坐堂，忽空中飛一鶴，馴熟不去，對醫人劉春齋云，家曾有鶴飛來，第二小兒舉進士，今又有鶴飛來，大小兒定中進士矣!未幾而鶴折其脛，私心殊不喜，因問有人接其脛骨乎？一人對曰：家藏接骨秘方，想人禽一理，或可接也。急命修制之，方用土鱉新瓦焙乾，半兩錢醋焠七次，自然銅乳香沒藥菜瓜子仁各等分，為細末，每服一分半，酒調灌之，鶴脛如故。但人上體傷，食後服之。下體傷，空心服之。李公乃以其方傳之劉春齋。</p>
<p>晦翁中烏喙毒，頭岑岑汗漸煩憊，遍體皆黑，幾至危殆!深山中又無醫藥，因思漢質帝得水可活之言，汲新水連飲之，大嘔而解。</p>
<p>晦翁有足疾，有道人為行針熨之術，旋覺輕安，公大喜，厚謝之，且贈以詩云：幾載相扶藉瘦筇，一針還覺有奇功，出門放杖兒童笑，不是從前勃窣翁。道人得詩徑去。未數日，足疾大作，甚於未針時，亟令人尋逐道人，莫知所之矣。公歡息曰：某非欲罪之，但欲追索其詩，恐恃此以誤他人耳。</p>
<p>瘧鬼小，不能病巨人，故曰壯士不病瘧。晉人曰：君子不病瘧，蜀人以痎瘧為奴婢瘧　。</p>
<p>青箱雜記，蜀有亥市，間日而集，如痎瘧間日而作也，江南惡以痎稱，故止曰亥。荊吳俗，有取寅申巳亥日市，故謂亥市。（亥音皆）</p>
<p>觀前人治痰，立論頗詳，但混飲於其中，則難於立法施治，予不揣鄙陋，聊為分析之。痰者，病名也，涎之所變也。涎乃脾之液也，脾包胃脘而掩乎太倉之上，其形宛象馬蹄，其涎無可容之地，而即注於胃中，胃即脾之府也，其氣相通。平人無病，其涎但能滋養胃土，澆灌四旁，接順飲食下行而已。如因氣滯不行，或被火燔灼，或被濕熱熏蒸，即便稠濁凝聚，而化為痰矣。既化為痰，不比涎之尚有真氣也，所以飲食入胃，竟沉於下，而吐痰愈多。儼若浮萍木牌之浮於水面耳，衣服厚暖，則表易招寒；滋味過多，則里易招熱。</p>
<p>醫羸弱之人，令飲以人乳，或飲以鹿血，皆非至當之理何也？小兒吮乳，吮則不泄元氣，是活乳也，所以能肥能胖，易長易大。今乃擠而服之，則元氣已去，惟有死質獨存，但能潤腸充腹，久則戀隔生痰，何益之有？</p>
<p>古人有飲鹿血法，用銀管插入鹿之天突穴中吮之，是與元氣同過，乃活血也，服之大補，鹿亦不死。今則宰而取血飲之，此元氣已去，是死血也，不過充腸破血，服之何益？二者鑑之。</p>
<p>冬月雪花不可點入目內，令目病喪明。</p>
<p>患楊梅瘡者，必服土茯苓。若誤飲茶，必耳聾無聞，終身不能治。</p>
<p>孫思邈之論病也，推人於天。益州父老之言醫也，驗身於國。</p>
<p>韭名草鍾乳，瓜名天生白虎湯。</p>
<p>李獻吉云：道理一橫一直耳，十字是也，數盡十，理亦盡之矣。王字真草篆隸不變，挺三才而獨立也，變之非王也。</p>
<p>人慾心動時，一想惡醜凶怪之事而止，一想身世憂患而止，一想女子穢汙皮囊，及其病疾色衰，與其死亡，骸骨骷髏之狀可駭，而欲心可已。</p>
<p>立天下之命存乎農，決天下之疑存乎卜，寄天下之死生存乎醫。夫三者天下之大端也，先王之所不敢後也。</p>
<p>地以海為腎，故水咸，人以腎為海，故溺咸。</p>
<p>拘儒不可與譚禪，腐儒不可與論道。</p>

<h1>納音釋義</h1>
<p>（納音有至理。余嘗問之星卜及形家，俱茫然無以置對。今以吳草廬所稱術朱光甫者，梓之附《卮言》之後，以備博覽其深奧，則不能詳載。若天台陶氏錢塘王逵所釋，七修類藁並通書所載，俱穿鑿非理，陰陽家可不留意。）</p>
<p>（靜觀居士程林雲來識）</p>
<p>甲子乙丑海中金。金有五，何者為海中金？蓋天一生水，必先有金而後有水，水自金生，所以始於海中金，而終於大海水也。此金要知其象則鹽也，遇火成象，遇水復化為水，故曰海中金者，鹽也。又按子醜北方水旺之地，雖有醜土之制，又被天干甲乙之木所克，則土虛水旺而為海也。金也水母，子旺母必隨子，故醜中有金，此金遇火成象，遇水復化水而從子者，鹽也，鹽出於海，故曰海中金也。</p>
<p>壬申癸酉劍鋒金。金之至剛者，鐵也。又臨官於申，旺於酉，則金已成材，至堅至剛，得位西方申酉之地，假天干壬癸，之水以磨礪之，則鋒刃清明，成利器也，非劍鋒而何。</p>
<p>庚戌辛亥釵釧金。金旺於酉，當衰於戌，而病於亥。亥屬干，干為金，況庚辛以臨其上，處剛健之時，雖曰氣衰，則體健而不衰，其潔白之性益壯。金處此時，干為天為首為飾。庚辛既潔而不衰，體堅而不乏，在首飾之上，非釵釧而何？</p>
<p>壬寅癸卯金箔金。蓋金生於巳，而絕於寅。其壬癸水亦病死於寅卯，以垂絕之母，又被病子以竊其氣，肌體薄矣。然壬癸子死於卯，母無所竊，得以復究於卯，不絕於寅矣。況寅為造化之爐，萬物有生之地，金性至剛，入爐陶冶成器，愈煉愈剛。金體至此，縱薄如箔，繼能復完受胎為卯也，故喻以金箔金焉。</p>
<p>甲午乙未沙中金。天元甲乙屬木，支神午火未土，何以曰金？且以沙石為喻。蓋坤土在於午未，土氣充實，況聚於坤，唯能養金，緣金至午沐浴。又曰暴敗，力懦氣弱，不能支持，須假母土以長養之，方能冠帶成材。但土氣大厚，能藏其金，意若混於沙石，故曰沙中金也。</p>
<p>庚辰辛巳白鑞金。金絕於寅，復孕於卯，涵養於辰，形於內也。至巳長生，始形見於外，謂庚辛至辰涵養之地。如人在腹，如物在土，至巳方生，如人出腹，如金出土，類嬰孩也。雖稟堅成剛健之性，而體氣尚弱，未能強實。類五金中之鉛錫，言氣剛而體柔，故以為喻也。</p>
<p>庚寅辛卯松柏木。木臨官於寅，旺於卯。東方震之正位，得時得位，可謂至旺之木矣。況天干受庚辛堅成之氣，體堅性直，凌霜耐雪，堅不可蠹，冬則不凋，故以松柏為喻也。</p>
<p>壬午癸未楊柳木。木死於午，墓於未。木至午未，失時氣弱，況木假水金，金壬癸水，至午未則竭。火至午未則炎，土火氣燥，其本根不深，蒂不固，體不實，性不堅，有木之形，無木之實，縱花不果，標干柔弱，故以楊柳為喻也。</p>
<p>庚申辛酉石榴木。天元庚辛屬金，又臨申酉，正位兌宮，則金得時得位，當以金名，卻以為木何哉？蓋四時之木，各以其時而旺，以時而實。然石榴受夏火之氣，不榮於春，乃榮於仲夏，故花紅而象火。以受庚辛金，故結實於秋，猶藏火色。若以金氣至旺，木絕於申，則木當終絕於此矣!殊不知此木受火之令，七月流火，則金氣爍而木不可以終窮，是以不絕於申，復孕於酉，酉屬兌。兌者，悅也，萬物澤悅之時，木復胎孕，養成於戌，長生於亥，故庚申辛酉以石榴名之。言懷火令，金弱木眾，無任用之材，則應而果實，亦木之自用。能實而復有金也，立名取義。豈苟然哉？</p>
<p>戊辰己巳大林木，不肯指名，混言木者，何也？蓋天干戊己土也，辰戌未醜，則土維也，土生萬物為母。春生夏長，秋收冬藏，土之德也。故易曰：動萬物者，莫過於震。卯震，二月也。齊萬物者，莫過於巽。辰巳三月四月也，蓋戊己之土，長養萬物而齊於巽，不過私於一物，則萬俱齊，物齊成林木矣。</p>
<p>戊戌己亥平地木。戊己之土，長養萬物，春夏結實，至秋冬則當收斂。收之與斂，非母而誰。當假土之覆護，覆命歸根，聚土之下。戌為九月，萬物凋零之時。亥為十月，萬物肅殺之地。母當蔽藏，萬物悉在懷抱，如在其腹，地無私藏，無一不被其藏。則戊己土如地之平，藏木其下，故以平地名之也。</p>
<p>壬子癸丑桑柘木。天干壬水癸水，子水醜土，何以為木？殊不知子醜兩月，時當盛冬，兼壬癸水聚之時，若納音不以木名，則萬物當絕於此也。所以木生在亥，暴敗於子，冠帶於醜，臨官帝旺於寅卯，萬物之生，無非水土。蓋子為十一月，醜為十二月，水土凝聚之時，天寒地凍，陽氣潛藏在下，陰氣凝結在上，水土雖在凝寒之時，萬物歸根覆命於此，藏土之下，萌芽於地，故就之以陽也。立春之後，陽氣上升，萬物甲坼，而榮於上矣。原木所貴，先取有材，可以任重，後取有用，可以濟人。桑柘雖受水土凝寒之氣，體屈而無材，不能以任重。萬物有用，農桑為首，豈不為世之有用而濟人者耶？故以桑柘為喻也。</p>
<p>庚午辛未路傍土者，然坤為地，居未申之間，午未而處乎坤之上，何以名路傍？蓋天高西北則干也，地缺東南則巽也。巽乃辰巳之位，坤乃未申之位。坤地重厚，而連巽缺之隅，近陷之側，如路之傍，故取此為喻也。</p>
<p>戊申己酉大驛土者，蓋坤在申，當澤悅萬物於其酉，寢西北，位向干。天至此益高，地至此益廣。況寅申巳亥為四驛馬之神，土既在坤，大不可測，廣不可量，載人立物，如驛之廣，容人畜物，地之事也，故以大驛為喻也。</p>
<p>丙戌丁亥屋上土者，蓋戌為九月，亥為十月。九月則萬物凋零斂藏，十月則萬物覆命歸根，悉於土也。況土寒則肅殺萬物，土暖則養成萬物。火庫在戌而得丙，臨官於亥而得丁，土受丙丁和土之氣於其中，則庇覆萬物於其下矣。如人至冬不可露居，當在屋下。如土蓋萬物於下，故以屋為喻也。</p>
<p>庚子辛丑壁上土者，土於丙戌丁亥，己蓋萬物於下，而喻以屋。然子為十一月，醜為十二月。天寒地凍，況資以庚辛之金，則風益冷，氣益寒。萬物雖得土以蓋之，然四圍風雨，亦必假土以庇之，故用庚子辛丑土以圍之，如屋復有壁之。人得以居室周密，物得以固本深藏，故醜名壁上土也。</p>
<p>戊寅己卯城頭土者，土自九月十月，庇覆萬物於其下。十一月十二月，圍護萬物於其中，又包裹至寅卯之地，有如城焉。況戊己之土，置寅卯木上，非城而何？萬物得土包藏，見寅正月，東風解凍，物當甲坼卯為二月，雷乃動聲，萬物皆奮土而出，物在土內，如人在城中，擁並候門，欲奮城出。故物之與人，俱候其時次第而出，故以城為喻也。</p>
<p>丙辰丁巳沙中土者，蓋土自路傍，積坤成地，為驛路，為城頭，愛覆萬物。至於動雷齊巽，則長成矣，物既長成於巽，各自奮榮，土乃木母，至此氣血枯燥，退居於缺之隅。雖假天干丙丁火以相生，然體終枯燥，不能復生物也。雖有土之名，誠不足培物，如沙石焉，故以為喻。</p>
<p>丙午丁未天河水者，蓋午未南方，屬火為盛夏，午為離位，則真火也。況丙丁之火，加於午未之上，則陽極矣。陽極陰生，《素問》故曰熱極生寒，寒極生熱，水化為火，火化為水。又曰：地氣上升為云，天氣下降為雨，天地氣交，物窮則變。火者陽也，水者陰也，陽化為陰，水自火出，非雨而何？且如盛夏天氣鬱蒸，而雨必作，自上而下，甘雨及地。故曰天河水也，自此潤下為泉源，為澗，為溪沼，為大海，為長流濟舟楫，能潤物以及人也。</p>
<p>甲申乙酉井泉水者，自丙午丁未火化為水，須賴土以容受。土者坤也，而居為申，故水生於申，因土而生，此則雨出地氣也。坤土既受天河之水，當潤下為泉源，然後有江淮河濟，以流衍澤萬物。於其酉水在土下，非木鑿土不能以見泉，是用天干甲乙之木，鑿坤之土，始見泉源。所以甲申乙酉，為井泉水也。</p>
<p>壬戌癸亥大海水者，蓋戌亥為干，干為天為屬金。是干為出水之源，而連於坎，加之天干壬癸之水，臨於其上。壬癸得位，上則生於干，下則聚於坎，流蕩無窮，源深浩浩，土不可退，非海而何？故以大海名之。</p>
<p>丙子丁丑澗下水，蓋子為北坎，醜連乎艮，北坎乃水之正位，坎在艮山之奧，為水之源。非艮止而聚之，則漂流浩蕩，損物害人。非天干丙丁火以和暖之，上化為霜雪，下凝為冰凍，殺物而絕物也。故艮山之奧，習坎之水，止而聚，和而暖，所以能灌物而生物也。山奧積水曰澗，故曰澗下水也。</p>
<p>甲寅乙卯大溪水，蓋水聚艮山之奧，出艮之下曰溪。以天高西北，地缺東南，艮山漸近於巽，將至缺陷之危，其水則順流而下，水深土陷，流衍於東，可以潤物而濟人也。故天干甲乙臨官於寅卯之位，上下俱木，為舟楫以濟其流，利人濟物，故以大溪名之。</p>
<p>壬辰癸巳長流水，其水始自雨露，下降為天河。納於坤地潤土之下，為泉源。入干為海，入坎為澗，出艮為溪，為長流，而納於巽。蓋巽乃百川所聚之地，始自天河終於巽，故曰長流水也。</p>
<p>戊子己丑霹靂火，子為坎為水，況屬冬季。雷者陽也，陽者火也。水在雷上，雷在水下，坎於是而旺，而雷當屯。六陰既窮於亥，而陽當生於子，子為十一月，醜為十二月。陽雖欲生，則陰凝結，非擊觸而陽不能復也。故以戊己之土。觸坎之水。陰當迎刃而解。陰陽交攻，陽自陰出，則轟然有聲，所以取喻於霹靂也。是知剝而復，窮則變，變則通。故丙午丁未，火變為水，戊子己丑，水變為火也。</p>
<p>丙寅丁犯爐中火，寅為三陽而遇丙。丙者火也，火者陽也，陽於是而生，日於是而升，至卯而出。寅卯屬木，臨官帝旺，四時之首，萬物至此，而甲坼各見其象。此天地造化之爐也，故以爐為喻。</p>
<p>丙申丁酉山下火，日出山下，又曰白茆，何哉？天元丙丁真火則太陽也。以歲言之，申酉則七月八月，火氣漸衰，暑氣漸減。以日言之，至申酉之時，則水退火微，日巳西矣。故火病於申而死於酉，其火至此，則當沒而無炎上之性，明不能廣氣不能炎。況坤為地，日自東北而終於西南艮山之下，故以山下名之。火在東南，有巨木而發生，過巽與離，則炎畢而成灰燼，況火至申酉則衰，木至申酉，則枯槁無力以生火。其喻如草如茆，縱能生火，一閧而去，其力不足以炎上與升明矣，故又喻如茆也。</p>
<p>戊午己未天上火，火屬離，升明高高在上，則當照臨下土，以明為德。緣戊己屬土，正位乎坤。坤在地，乃下土也。其火在離，升明則照坤下土，麗光明之德，燭物之功，故曰天上火也。蓋易以火在上，土在下，曰火地晉。火在下，土在上，曰地火明夷。正此謂也。</p>
<p>甲戌乙亥山頭火者，以火當墓絕於戌亥，為天高西北，火在高高之上，有甲乙木以生，其火在山頭，故以此喻也。</p>
<p>甲辰乙巳覆燈火。蓋辰為巨陽，己為六陽，火將升明於離。天干甲乙屬木，復資火以極其明，大則覆照天下，小則遍燭幽隱，無往不照，喻如覆燈，能照人而燭物也。又按以籠燈曰覆燈，燈無草則滅，草亦木也。故籍天干之木以生，又籍木為籠為竿，則燈高明而照廣矣。正如六陽升明於離，而照則普也。納音象釋（出太黅三卷中）</p>
<p>音生於數，先天之體，象別以位，後天之用。</p>
<p>大海朝宗，天河既濟，泉有源，流有委，澗易涸，溪易盈。</p>
<p>日月麗天，霹靂奮地。爐中冶從革之化，山下篝繼晷之膏。覆燈禺中息爝，山頭蒙谷藏光。</p>
<p>大林自旺，平地自生。松柏楝隆，石榴果實。長夏取桑柘之火（伏火生金，）三春拖楊柳之金（春令秋色。）</p>
<p>劍鋒出淵，白金在礦。海金僅有氣，沙金已有質。釵釧破渾而成飾，金箔後素而成色。</p>
<p>高厚固藏惟屋上，滋疏生旺有沙中。闢上泥塗，城頭堞壘，皆不能以生物。路傍剪伐，大驛蹋蹂，又何足以成功。</p>
<p>合三十象之變通，歸十二辰之消息。</p>
<p>草廬吳澄曰：予嘗謂納甲之五行，猷先天之卦。納音之五行，猷後天之卦也。且納音始於誰乎？五行之上，曰某水某火某土某金某木者，又始於誰乎？疑未世術家猥瑣之所為也。予壯歲過朱光甫家，見其所撰甲子釋義，凡干支之屬五行，及其上所加二字，皆以理論，雖甚精密，而亦不無牽強者。予曰：納音蓋以數起，得木數者木，得金數者金，得土數則水，得水數則火，得火數則土也。先生布算，算之悉合。喜曰：當改而正之。越三十餘年，出所改釋義以示，下之五行概諸數，上之二字析諸理，愈明白而愈精密矣。</p>

<h1>靜觀居士雲遊疏</h1>
<p>（附《卮言》後）</p>
<p>靜觀居士者，姓程名林，字云來，歙槐塘之元愷也。名家令子，雅好閒靜，行在人間，志在物外，既葬其親，遂慨然有遠遊之賦。奕先子觴而送之曰：子固且奚適耶？子以事親禮終而遊始於此，其賢於婚嫁畢而為五嶽之行者遠矣，而子固且奚適耶？其將遊東中諸郡名山泛滄海耶，其將往來苕雪間耶？其將窺九疑，浮於沅湘涉汶泗，講學鄒魯之都耶？其將過廬山棲賢谷耶，抑將登華山落雁峰耶，豈將州有九而遊其八耶？不然，抑將遊玄關至蒙擊之上，與汗溫遊於九垓之外耶？是皆余所不得而知也。余所可知者，云來有巧思絕藝，常為竹根如意，筍籜冠，鹿皮巾，貌叔夜之杯，仿景山之槍，以示奇服奇器也。云來素服上池之水，能見垣一方人，必當如仲長子光賣藥自給也。云來不恨無二王法，但恨二王無其法。有請道者，必當劍書老易示之也。云來善畫，必當畫向子平於壁，圖阮藉遇蘇門於行障上，坐臥觀之，且所遊歷皆得圖之也。云來精於刻篆，必當留題象耳山，投筆峻極中院，皆手自摩崖勤之也。云來工文章，必當有山水漫遊之記也。他日余或遇之於山之陽，水之央，庶幾折芰為，以荷薦肉，瓠瓢盈酒，為披其記，發其圖，則所謂俯仰之問。若日再升，撫琴動操，眾山首響聲，古人豈欺我哉。更為乞碧霞餌刀圭匕服之，使尪羸之軀，忽變為濟勝之具，於是相與道崑崙之墟，題其柱而刻之曰：奕先云來遊此。</p>
<p><u>順治己亥冬十二月朔後一日弟光禮拜題</u></p>
