<header data-type="book">
<h1>《內經》運氣病釋</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陸懋修</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1884">公元1884年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>《素問》自「天元紀」以下七篇，皆言五運六氣，天時民病。同異生化之原，正反逆從之治。而先於「六節臟象篇」發其端。凡在天人氣交之病，非此不能知也。夫治病不外乎五行，五行又不外乎陰陽。而言五行者，不知言合化之五行。言陰陽者，又不知言過、不及之陰陽。則陰陽非此陰陽，五行亦非此五行矣。況並陰陽五行之不言，烏知所謂氣交者哉？爰就《內經》之言運氣者，首列經文民病於上，即以氣交之旨隱括而疏通之，並以宋人陳無擇三因十六方、國朝江陰繆問芳遠氏十六方解附焉。或有疑而詰之者曰：人病之來也何有常？而子獨以運氣為言，豈能於人身之病定相合耶？然而余之意本不為是也。經曰：善言天者必應於人，善言古者必驗於今。人身一小天地，天地之生長收藏備於人身，人身之盛衰虛實同於天地。論司天固足以明天道，即不論司天而人在氣交之中，即因氣交而為病。於古如是，於今如是。即仲景論傷寒所以撰用《素問》者，亦無不如是。蓋非是則不知病之所以為治，並不知人之所以為病。乃自有馬元素、程德齋之徒，索隱行怪，流入異端，而人不解《內經》大義，遂繼之以不信於是，而凡六經之病之生於氣交者，無人能道。曷怪其謂《內經》運氣若無與於六經病，而且謂仲景之論亦無與於《內經》運氣乎。故莫若揭此七篇病因治法，以求六經病所由來，而六經之何由而病，病之何由而治，即可以《內經》之言明仲景之法，並可以知今人之病無一不出於《內經》之言。此「天元紀」以下七篇所以不可廢也，豈必拘泥乎運氣哉。是編也，余於同治乙丙歲來往吳淞峰泖間所作，藏之篋衍二十年矣。今命子潤庠重加編次，將以授諸梓人。乃自述其作書之意如此。</p>
<p><u>光緒十年甲申人日，陸懋修書於邸舍之雙娛堂</u></p>

<h1>弁言</h1>
<p>吾友陸九芝封公，為鳳石中盾尊人。鳳石供奉內廷，君就養京邸。生平以著述自娛，而尤邃於醫學。嘗語余曰：《淮南子》有言，所以貴扁鵲者，知病之所從生也。所以貴聖人者，知亂之所由起也。此以治病喻已亂，與《內經》之以已亂喻治病者意別。而所以知病所從生，則盡在「天元紀」七篇陰陽五行中。自醫者不讀此七篇，而百病之始生，皆不知其所自。此余《內經病釋》所由獨舉此七篇而作也。夫病之生也，豈能外陰陽五行之理？故即《內經》他篇所言病亦無不可由此以推。君所釋雖止七篇，直不啻通一部《內經》而盡釋之，厥功偉矣。若以為此七篇者本言運氣，即謂此書專為運氣發，是豈君志哉？君與余同里閈，回首少年名場角逐，忽忽若前日事。今者見君書之成，非第為病者幸，實當為斯道幸也。君書凡三十三卷，皆醫學中不可少之作。此尤其蚤歲所獨得，而今亦不肯終秘焉。因乞一言，以弁簡端。時余奉命視學兩浙，行有日矣。倚裝書此，願以告後之讀君書者。</p>
<p><u>光緒十年甲申春三月，吳劉廷枚</u></p>

<h1>《內經》運氣病釋一</h1>

<h2>六節臟象論篇</h2>
<p>天以六六之節以成一歲。</p>
<p>此言日六竟而周甲，甲六復而終歲，三百六十日法也。</p>
<p>五日謂之候，三候謂之氣，六氣謂之時，四時謂之歲。</p>
<p>此言一歲之日，各從五行之氣而主治也。</p>
<p>五運相襲，而皆治之終期之日。周而復始，時立氣布，如環無端。故曰：不知年之所加氣之盛衰虛實，不可以為工矣。</p>
<p>此言五運統歲，歲立四時，時布六氣。工不可不知也。</p>
<p>太過不及，各有所勝。求其至也，皆歸始春。</p>
<p>此言春為四時之長，故凡候氣者，皆當始於立春日也。</p>
<p>未至而至，此為太過，則薄所不勝而乘所勝也。至而不至，此為不及，則所勝妄行而所生受病，所不勝薄之也。</p>
<p>此言民病之所由作也。</p>
<p>天食人以五氣，地食人以五味。</p>
<p>此言治法之所由出也。</p>

<h2>天元紀大論篇</h2>
<p>天有五行御五位，以生寒、暑、燥、濕、風；人有五臟化五氣，以生喜、怒、思、憂、恐。</p>
<p>此言人之五臟本於天之五行也。</p>
<p>神在天為風，在地為木；在天為熱，在地為火；在天為濕，在地為土；在天為燥，在地為金；在天為寒，在地為水。</p>
<p>此言在天為氣即在地成形，上下相召，而損益彰也。</p>
<p>甲己之歲，土運統之。乙庚之歲，金運統之。丙辛之歲，水運統之。丁壬之歲，木運統之。戊癸之歲，火運統之。</p>
<p>此言天之十干以合化而成五運也。</p>
<p>子午之歲，上見少陰。丑未之歲，上見太陰。寅申之歲，上見少陽。卯酉之歲，上見陽明。辰戌之歲，上見太陽。巳亥之歲，上見厥陰。</p>
<p>此言地之十二支以正化、對化而成六氣也。</p>
<p>厥陰之上，風氣主之。少陰之上，熱氣主之。太陰之上，濕氣主之。少陽之上，相火主之。陽明之上，燥氣主之。太陽之上，寒氣主之。</p>
<p>此言三陰三陽之本是為六元，亦即所謂天元也。</p>

<h2>五運行大論篇</h2>
<p>氣有餘，則制己所勝而侮所不勝；其不及，則己所不勝侮而乘之，己所勝輕而侮之。侮反受邪，侮而受邪，寡於畏也。</p>
<p>此言己不務德或所勝妄行，有勝必有復，復則己反受邪。亦民病所由作，而治法所從出也。</p>

<h2>六微旨大論篇</h2>
<p>亢則害，承乃制，制則生化。</p>
<p>此言亢必受制，而亦非制不生也。病如是，治亦如是。</p>
<p>言天者求之本，言地者求之位，言人者求之氣交。氣交之中，人之居也。氣交之分，人氣從之，萬物由之。</p>
<p>此言民病在於氣交，治亦當於氣交求之。工不可不知也。</p>

<h2>氣交變大論篇</h2>
<p>歲土太過，雨濕流行，腎水受邪。</p>
<p>此言六甲陽年太宮運，土勝水，水受克，水之子木來復也。</p>
<p>民病腹痛，清厥，意不樂，體重，煩冤。</p>
<p>此土邪傷腎既脾志不舒，而心腎亦不交也。</p>
<p>甚則肌肉萎，足痿不收，行善瘈，腳下痛。</p>
<p>此土邪有餘，脾經自病，發為痿痹也。脾司肌肉者也。</p>
<p>飲發，中滿食減，四肢不舉。</p>
<p>此土氣太過而水氣不行也。飲，痰飲也。</p>
<p>腹滿，溏泄，腸鳴。</p>
<p>此土盛水衰，水氣伏而土氣獨行也。</p>
<p>反下甚。</p>
<p>此水為土克，而水之子木以風氣復之也。木復而土病，始則有餘而侮，繼則侮反受邪，故土自病而利不止。</p>
<p>太谿絕者不治。</p>
<p>此腎脈也。土亢則腎氣絕，敦阜之紀有之。</p>
<p>歲土不及，風乃盛行，化氣不令。</p>
<p>此言六己陰年少宮運土不及。木勝土，土之子金來復也。</p>
<p>民病飧泄，霍亂，體重，腹痛，筋骨繇復，肌肉瞤酸，善怒。</p>
<p>此土不及而木乘之，皆脾弱肝強之病也。</p>
<p>咸病寒中。</p>
<p>此土氣不及，寒水無畏，水氣獨行而火土並衰也。惟己巳、己亥年相火在泉，民得無病。</p>
<p>復則胸脅暴痛，下引少腹，善太息。</p>
<p>此土衰木亢，而土之子金以燥氣復之，肝膽同病也。土不足不生金，金失蔭亦來復。後凡不及之年皆仿此。</p>
<p>氣客於脾，食少失味。</p>
<p>此以土不及則脾不磨谷，運化不速也。</p>
<p>土不及，其病內舍心腹，外在肌肉四肢。</p>
<p>此亦土衰之病，卑監之紀有之。</p>
<p>歲金不及，炎火乃行，生氣乃用，長氣專勝。</p>
<p>此言六乙陰年少商運金不及，火勝金，金之子水來復也。</p>
<p>民病肩背瞀重，鼽嚏，血便，注下。</p>
<p>此金受火邪，而金之母土亦病也。勝金之火為木火，金不及則木寡於畏，所勝妄行也。木妄行則土受其克，所生受病也。後皆仿此。</p>
<p>復則頭腦戶痛，延及腦頂，發熱，口瘡，甚則心痛。</p>
<p>此金衰火亢，而金之子水以寒氣復之也。寒甚於下，則格陽於上。</p>
<p>金不及，其病內舍膺肋肩背，外在皮毛。</p>
<p>此亦金衰之病，從革之紀有之。</p>
<p>歲金太過，燥氣流行，肝木受邪。</p>
<p>此言六庚陽年太商運，金勝木，木受克，木之子火來復也。</p>
<p>民病兩脅下少腹痛，目赤痛，眥瘍，耳無所聞，體重，胸病引背。</p>
<p>此金制其所勝之木，肝臟既傷，而膽腑亦病也。</p>
<p>甚則喘咳逆氣，肩背痛，尻、陰、股、膝、髀、腨、䯒、足皆病。此金燥過甚，肺金自病，金不生水，而水臟亦病也。</p>
<p>反暴痛，胠脅不可反側，咳逆甚而血溢。</p>
<p>此金盛傷肝，而木之子火以熱氣復之，金反自病也。</p>
<p>太衝絕者不治。</p>
<p>此肝脈也。金亢則肝氣絕，堅成之紀有之。</p>
<p>歲水太過，寒氣流行，邪害心火。</p>
<p>此言六丙陽年太羽運，水勝火，火受克，火之子土來復也。</p>
<p>民病身熱煩心，躁悸，陰厥，上下中寒，譫妄，心痛。</p>
<p>此水盛火衰，心臟受邪而神氣內虛也。上謂手，下謂足。</p>
<p>甚則腹大，脛腫，喘咳，寢汗出，憎風。</p>
<p>此水邪有餘，土不能制，水氣妄行，腎臟自病也。於丙辰、丙戌天符之歲尤甚。</p>
<p>反腹滿，腸鳴溏泄，食不化，渴而妄冒。</p>
<p>此水邪侮火，而火之子土以濕氣復之。心氣不舒也。</p>
<p>神門絕者不治。</p>
<p>此心脈也。水亢則心氣絕。流衍之紀有之。</p>
<p>歲水不及，濕乃盛行，長氣反用。</p>
<p>此言六辛陰年少羽運，水不及，土勝水，水之子木來復也。</p>
<p>民病腹滿身重，濡泄，寒瘍流水，腰股痛發，膕腨股膝不便，煩冤，足痿，清厥，腳下痛，甚則跗腫。</p>
<p>此土邪傷腎，關節不利，火鬱而濕亦不行也。</p>
<p>寒疾於下，甚則腹滿浮腫。</p>
<p>此土濕太過，陽光不治，而大寒在下，腎氣傷也。於辛丑、辛未寒水在泉之年尤甚。</p>
<p>復則面色時變，筋骨並闢，肉瞤瘈，目視䀮䀮，肌肉胗發，氣並鬲中，痛於心腹。</p>
<p>此水衰土亢，而水之子木以風氣復之。中土亦病也。</p>
<p>水不及，其病內舍腰脊骨髓，外在谿谷踹膝。</p>
<p>此亦水衰之病，涸流之紀有之。</p>
<p>歲木不及，燥乃盛行，生氣失應。</p>
<p>此言六丁陰年少角運，木不及，金勝木，木之子火來復也。</p>
<p>民病中清，胠脅痛，少腹痛。</p>
<p>此金邪乘木，而肝虛之為病也。</p>
<p>腸鳴溏泄。</p>
<p>此清氣在中，而木不生火，脾之寒也。於丁卯、丁酉兩年以金遇金尤甚。</p>
<p>復則病寒熱，瘡瘍，痱胗癰痤，咳而鼽。</p>
<p>此木衰土亢，而木之子火以熱氣復之。病在肺之合也。</p>
<p>木不及，其病內舍胠脅，外在關節。</p>
<p>此亦木衰之病，委和之紀有之。</p>
<p>歲木太過，風氣流行，脾土受邪。</p>
<p>此言六壬陽年太角運，木勝土，土受克，土之子金來復也。</p>
<p>民病飧泄，食減，體重，煩冤，腸鳴，腹支滿。</p>
<p>此木鬱土中，脾土受病而水穀不化也。</p>
<p>甚則忽忽善怒，眩冒巔疾。</p>
<p>此木勝肝強，厥陰之脈隨督脈會於巔，而火上逆也。</p>
<p>反脅痛而吐甚。</p>
<p>此土為木克，而土之子金以燥氣復之也。侮反受邪，故肝病而膽亦病。</p>
<p>衝陽絕者不治。</p>
<p>此胃脈也。木亢則胃氣絕。發生之紀有之。</p>
<p>歲火太過，炎暑流行，金肺受邪。</p>
<p>此言六戊陽年太徵運，火勝金，金受克，金之子水來復也。</p>
<p>民病瘧，少氣咳喘，血溢血泄，注下。</p>
<p>此火乘肺金，其性急速，而肺與大腸又相表裡，故逼血妄行於上下也。</p>
<p>嗌燥耳聾。</p>
<p>此水不上升，則少陽之火又行身之側也。</p>
<p>中熱，肩背熱。</p>
<p>此火不下降，而燔灼於中，且遊行於上也。</p>
<p>甚則胸中痛，脅支滿，兩脅痛，膺背肩胛間痛，兩臂內痛。</p>
<p>此皆手心主所行之處火盛，故包絡代君受邪而為病也。</p>
<p>身熱骨痛而為浸淫。</p>
<p>此火氣浮越於外，熱傷皮絡而為浸淫瘡也。於子午、寅申、四戊年上臨君相二火，其熱尤甚。</p>
<p>反譫妄狂越，咳喘息鳴，下甚血溢，泄不止。</p>
<p>此火盛金衰，而金之子水以寒氣復之也。復則心反受邪，故諸病同於首條而加甚。</p>
<p>太淵絕者不治。</p>
<p>此肺脈也。火亢則肺氣絕。赫曦之紀有之。</p>
<p>歲火不及，寒乃盛行，長政不用。</p>
<p>此言六癸陰年少徵運，火不及，水勝火，火之子土來復也。</p>
<p>民病胸中痛，脅支滿，兩脅痛，膺背肩胛間及兩臂內痛。</p>
<p>此火不足，則陰邪盛而心氣傷也。六戊歲火太過，六癸歲火不及，其病相同，而一熱一寒即分於徵運之剛柔。</p>
<p>鬱冒矇昧，心痛暴瘖。</p>
<p>此水制其火，心氣寒而不舒也。</p>
<p>胸腹大，脅下與腰背相引而痛甚，則屈不能伸，髖髀如刖。</p>
<p>此火虛而水逆，陰寒凝滯，陽氣不行也。</p>
<p>復則病鶩溏腹滿，食飲不下，寒中腸鳴，泄注腹痛。</p>
<p>此火衰水亢，而火之子土以濕氣復之，反侵水臟，而水之為害益甚，病在內也。</p>
<p>暴攣痿痹，足不任身。</p>
<p>此土製其水，而水氣不行，病在外也。</p>
<p>火不及，其病內舍膺脅，外在經絡。</p>
<p>此亦火衰之病，伏明之紀有之。</p>
<p>凡此氣交所變之病，以甲巳、乙庚、丙辛、丁壬、戊癸年為序者，所以明合化之義。而中運五音之太少，亦因此而見也。</p>

<h1>《內經》運氣病釋二</h1>

<h2>五常政大論篇</h2>
<p>敷和之紀，其病裡急支滿。</p>
<p>此言中運風木之平氣，其病宜在筋也。肝主筋也，凡人當運氣中應有之證，得助得制即可無病，病亦不甚，故曰平氣。後凡言平氣者仿此。</p>
<p>升明之紀，其病瞤瘈。</p>
<p>此言中運二火之平氣，其病宜在脈也。血脈生於心也。</p>
<p>備化之紀，其病否。</p>
<p>此言中運濕土之平氣，其病宜在肉也。脾司肌肉者也。</p>
<p>審平之紀，其病咳。</p>
<p>此言中運燥金之平氣，其病宜在皮毛也。皮毛，肺之合也。</p>
<p>靜順之紀，其病厥。</p>
<p>此言中運寒水之平氣，其病宜在骨也。腎主骨也。</p>
<p>委和之紀，其病動搖注恐。又病肢廢、癰腫瘡瘍。</p>
<p>此言中運木不及而從金化，金又刑木，木生火也。</p>
<p>伏明之紀，其病昏惑悲忘。</p>
<p>此言中運火不及而從水化，心陽為陰所遏也。</p>
<p>卑監之紀，其病留滿否塞。又病飧泄。</p>
<p>此言中運土不及而從木化，風又勝之，是為腸風也。</p>
<p>從革之紀，其病嚏咳鼽衄。</p>
<p>此言中運金不及而從火化，肺家每有風熱也。</p>
<p>涸流之紀，其病痿厥堅下。又病癃閉。</p>
<p>此言中運水不及而從土化，土邪又歸於腎也。</p>
<p>發生之紀，其病怒。又病吐利。</p>
<p>此言中運木太過而又剋土，故上吐下瀉也。</p>
<p>赫曦之紀，其病笑，瘧，瘍，血流，狂妄，目赤。又病痓。按：「痓」字當作「痙」。</p>
<p>此言中運火太過而又剋金，故病燥也。</p>
<p>敦阜之紀，其病腹滿、四肢不舉。</p>
<p>此言中運土太過而本經自病。脾主四肢也。</p>
<p>堅成之紀，其病喘喝胸憑仰息。又其病咳。</p>
<p>此言中運金太過而本經自病。肺為諸氣長，故病有聲也。</p>
<p>流衍之紀，其病脹。</p>
<p>此言中運水太過而長氣不化，火不生土也。</p>
<p>厥陰司天，風氣下臨，脾氣上從。</p>
<p>此以巳亥歲半以上風化於天，歲半以下火行於地言也。</p>
<p>民病體重，肌肉萎，食減口爽。</p>
<p>此風氣臨下，土之所畏，故脾氣從而病也。食減口爽，即損谷則愈之謂。</p>
<p>目轉耳鳴。</p>
<p>此言肝膽同見風木之病。以上皆天氣所生病也。</p>
<p>赤沃下。</p>
<p>此火行於地而見尿血，為地氣所生病也。</p>
<p>少陽在泉，其治苦酸。按：此當云酸苦。</p>
<p>是年上木則下火，風熱交加。酸屬木，以治其上；苦屬火，以治其下。不兼間味者，與□□司天同也。義見後。</p>
<p>少陰司天，熱氣下臨，肺氣上從。</p>
<p>此以子午歲半以上熱化於天，歲半以下燥行於地言也。</p>
<p>民病喘嘔，寒熱，嚏鼽衄，鼻窒，甚則瘡瘍燔灼。</p>
<p>此火氣臨下，金之所畏，故肺氣從之，而逆天氣所生病也。</p>
<p>脅痛善太息。</p>
<p>此燥行於地，甲木受傷，為地氣所生病也。</p>
<p>陽明在泉，其治辛苦甘。按：此當云苦辛甘。</p>
<p>是年上火則下金，燥熱交結。苦屬火，以治其上；辛屬金，以治其下。必兼甘者，火金之間味也。甘屬土，為火之子，為金之母，故能調和於火金之間。</p>
<p>太陰司天，濕氣下臨，腎氣上從。</p>
<p>此以丑未歲半以上濕化於天，歲半以下水行於地言也。</p>
<p>民病胸中不利，陰痿，氣大衰。</p>
<p>此濕氣臨下，水之所畏，故腎氣亦從而不用也。</p>
<p>反腰脽痛，厥逆。</p>
<p>此以土王之時，腎病尤甚，轉搖不便，皆天氣所生病也。</p>
<p>心下否痛，少腹痛。</p>
<p>此水行於地，心火受制，火不生土而時害於食。皆地氣所生病也。</p>
<p>太陽在泉，其治淡咸。</p>
<p>是年上土則下水，寒濕內蘊。淡屬土，即土之薄味，以治其上；咸屬水，為水之正味，以治其下。水土既平，故不兼間味也。</p>
<p>少陽司天，火氣下臨，肺氣上從。</p>
<p>此以寅申歲半以上火化於天，歲半以下木行於地言也。</p>
<p>民病咳嚏鼽衄，鼻窒口瘍，寒熱胕腫。</p>
<p>此火氣臨下，金之所畏，故肺氣亦從而上逆，與少陰司天略同，皆天氣所生病也。</p>
<p>心痛，胃脘痛，厥逆，鬲不通。</p>
<p>此風行於地，肝木自王，為地氣所生病也。</p>
<p>厥陰在泉，其治酸苦。按：此當云苦酸。</p>
<p>是年上火則下木，風熱為災。苦屬火，以治其上；酸屬木，以治其下。木火合德，故不兼間味。</p>
<p>陽明司天，燥氣下臨，肝氣上從。</p>
<p>此以卯酉歲半以上燥化於天，歲半以下火行於地言也。</p>
<p>民病脅痛、目赤、掉振、鼓慄、筋痿不能久立。</p>
<p>此燥氣臨下，木之所畏，故肝氣亦從而上逆也。肝竅在目而主風主筋，己所勝者，輕而侮之，皆天氣所生病也。</p>
<p>小便變，寒熱如瘧，甚則心痛。</p>
<p>此熱行於地，而病肺心，火在陰分，鬱而不伸，為地氣所生病也。</p>
<p>少陰在泉，其治辛苦甘。</p>
<p>是年上金則下火，燥熱交侵。辛屬金，以治其上；苦屬火，以治其下；甘味義見前。</p>
<p>太陽司天，寒氣下臨，心氣上從。</p>
<p>此以辰戌歲半以上寒化於天，歲半以下土行於地言也。</p>
<p>民病心熱，煩，嗌乾，善渴，鼽嚏，喜悲，數欠，善忘，甚則心痛。</p>
<p>此寒氣臨下，火之所畏，故心氣從而上逆也。水勝為寒，火鬱為熱，熱氣妄行，寒又復之，皆天氣所生病也。</p>
<p>水飲內蓄，中滿不食，皮𤸷肉苛，筋脈不利，甚則胕腫、身後癰。</p>
<p>此濕行於地，病在肌肉，為地氣所生病也。以其人𤸷痹久臥，故身後上背下臀為此癰瘡。</p>
<p>太陰在泉，其治甘鹹。按：此當云鹹甘。</p>
<p>是年上水則下土，寒濕相合。咸屬水，以治其上；甘屬土，以治其下。</p>
<p>按：此六治者，前人亦以六氣之化言之，然經文明言其治，疑當以治法為言，正與後文上取、下取、內取、外取，以求其過者合也。</p>

<h1>《內經》運氣病釋三</h1>

<h2>六元正紀大論篇</h2>
<p>厥陰司天之政，氣化運行後天。</p>
<p>此言巳亥十年，氣後天時而至也。按：經文先後之說，皆就正月朔日寅時言之。</p>
<p>民熱病行於下，風病行於上，風燥勝復形於中。</p>
<p>此以風甚則燥勝而熱復，故勝復更作，上下之氣相形而見於中也。</p>
<p>初之氣，民病寒於右之下。</p>
<p>此以燥金加於風木，初氣為地左間即天右間之下也。上年太陽寒水或未退位，故寒病復見於此。</p>
<p>二之氣，民病熱於中。</p>
<p>此以寒水加於君火，故熱為寒鬱，即傷寒成溫之候也。</p>
<p>三之氣，民病泣出，耳鳴，掉眩。</p>
<p>此以三氣即司天風木用事，風火交煽，有風必有火也。</p>
<p>四之氣，民病黃癉，而為胕腫，溽暑濕熱相薄，爭於左之上。</p>
<p>此以少陰暑熱與太陰濕土相爭，而為濕熱之病也。本年少陰君火在天之左間。</p>
<p>五之氣，寒氣及體。</p>
<p>此以客濕土主燥金，燥濕更勝，而為沉陰之病也。</p>
<p>終之氣，其病溫厲。</p>
<p>此以終氣即司地相火用事。相火者，畏火也。畏火司令，時寒氣熱，故病溫厲，即冬溫而民皆病者也。</p>
<p>歲宜以辛調上，以咸調下，畏火之氣無妄犯之。</p>
<p>此言辛從金化，以調上之風木；咸從水化，以調下之相火。然相火易虛易實，不比君火之有常，調之非易，故宜慎也。</p>
<p>少陰司天之政，氣化運行先天。</p>
<p>此言子午十年，氣先天時而至也。</p>
<p>民病咳喘，血溢，血泄，鼽嚏，目赤眥瘍，寒厥入胃，心痛，腰痛，腹大，嗌乾，腫上。</p>
<p>此以上火下金，火熱而金清，故熱病見上，清病見下也。</p>
<p>初之氣，民病關節禁固，腰脽痛，中外瘡瘍。</p>
<p>此寒水為病，而以二之氣炎暑將臨，故又病熱也。</p>
<p>二之氣，民病淋，目瞑目赤，氣鬱於上而熱。</p>
<p>此為木火相生，民氣當和，而火鬱亦不能不為病也。</p>
<p>三之氣，民病氣厥心痛，寒熱更作，咳喘，目赤。</p>
<p>此言三氣，即司天君火用事，二火交煽，故病熱也。</p>
<p>四之氣，民病寒熱，嗌乾，黃癉，鼽衄，飲發。</p>
<p>此以客主氣皆濕土，而又承君相二火之後，故病濕熱也。</p>
<p>五之氣，民病溫。</p>
<p>此以陽隨收令，惟火沴金，時寒氣熱，陽邪之勝，為病正多也。</p>
<p>終之氣，民病腫於上，咳喘，甚則血溢，病生皮腠，內舍於脅下，連少腹，而作寒中。</p>
<p>此以終氣即司地燥金用事。金性收，故五氣之餘火內格；金氣清，故本氣之新寒又作也。</p>
<p>歲宜咸以軟之而調其上，甚則以苦發之、以酸收之而安其下，甚則以苦泄之。</p>
<p>此以咸從水化，故能調在上之君火。金以酸補，故能安在下之燥金。甚則以苦發之者，上熱甚則非用苦之陽不能發越也。以苦泄之者，下熱甚則非用苦之陰不能湧泄也。同一苦味，而有從陽從陰之別，即有苦寒、苦熱之殊。余所以謂藥借病用，即由此悟入耳。</p>
<p>太陰司天之政，氣化運行後天。</p>
<p>此言丑未十年，氣後天時而至也。</p>
<p>民病寒濕腹滿，身膹膹胕腫，痞逆，寒厥，拘急。</p>
<p>此以陰凝於上，寒積於下，故所病皆寒濕也。</p>
<p>初之氣，民病血溢，筋絡拘強，關節不利，身重筋痿。</p>
<p>此以客主氣皆風木，而太陰以濕土司天，風濕相搏，風病筋而濕病肉，血溢為木火之逆，而亦寒濕所郁也。</p>
<p>二之氣，民病溫厲盛行，遠近咸若。</p>
<p>此以客主氣皆君火，其氣當和，而以濕熱交蒸，故作溫厲。</p>
<p>三之氣，民病身重胕腫，胸腹滿。</p>
<p>此以三氣即司天濕土用事，而主氣又為畏火，故病濕熱。</p>
<p>四之氣，民病腠理熱，血暴溢，瘧，心腹滿熱，臚脹，甚則胕腫。</p>
<p>此以客火主濕，而熱甚於濕，故病加甚。</p>
<p>五之氣，民病皮腠。</p>
<p>此以客主氣皆燥金，故病及肺金之合，同類相從也。</p>
<p>終之氣，民病關節禁固，腰脽痛。</p>
<p>此以終氣即司地寒水用事，故病見於太陽所經之路。</p>
<p>歲宜以苦燥之、溫之，甚者發之、泄之。</p>
<p>此言濕宜於燥，寒宜於溫，味必用苦者。苦從火化，正用苦之陽也。而及其濕寒既化為熱，又必有以發泄之。</p>
<p>少陽司天之政，氣化運行先天。</p>
<p>此言寅申十年，氣先天時而至也。</p>
<p>民病寒熱、外發瘡瘍，內為泄滿。</p>
<p>此火盛於外，而寒鬱於中，故為外熱內寒之證也。</p>
<p>往復之作，民病寒熱，瘧，泄，聾，瞑，嘔吐，上怫，腫色變。</p>
<p>此以木盛則陽明受傷，甲木之氣陵犯胃土，故為諸病。</p>
<p>初之氣，溫病乃起，其病氣怫於上，血溢，目赤，咳逆，頭痛，血崩，脅滿，膚腠中瘡。按：經凡言皮腠瘡瘍者，即今人病中斑疹之類。</p>
<p>此以君火用事於相火司上之年，二火合氣，故其病溫也。</p>
<p>二之氣，民病熱鬱於上，咳逆，嘔吐，瘡發於中，胸嗌不利，頭痛身熱，昏憒膿瘡。</p>
<p>此以濕土用事於君火主氣之時，故為濕熱之病也。</p>
<p>三之氣，民病熱中，聾瞑，血溢，膿瘡，咳嘔，鼽衄，渴，嚏欠，喉痹，目赤，善暴死。</p>
<p>此以三氣即司天相火用事，客主之火皆熾，故熱甚也。</p>
<p>四之氣，民病滿身重。</p>
<p>此以客燥主濕，燥勝而肺自病，濕勝而脾自病也。</p>
<p>五之氣，民避寒邪。</p>
<p>此以水寒金冷，示民當知所避也。</p>
<p>終之氣，民病關閉不禁，心痛，陽氣不藏而咳。</p>
<p>此以終氣即司地風木用事，以風加寒。風為陽邪，而其氣主乎動也。</p>
<p>歲宜咸、宜辛、宜酸，滲之、泄之、漬之、發之。</p>
<p>此言咸從水化，能勝火也；辛從金化，能平木也；酸從木化，能順木火之性。凡風火之相煽，尤賴酸以收之也。滲之是利小便，泄之是通大便，漬之、發之是解肌出汗。經所謂潔淨府、去菀陳莝、開發腠理，皆所以致津液而通氣也。</p>
<p>陽明司天之政，氣化運行後天。</p>
<p>此言卯酉十年，氣後天時而至也。</p>
<p>民病咳，嗌塞，寒熱，發暴振慄，癃閉。</p>
<p>此皆金燥火熱之病，肺與小腸受之也。</p>
<p>初之氣，民病中熱，脹，面目浮腫，善眠，鼽衄，嚏欠，嘔，小便黃赤，甚則淋。</p>
<p>此以客氣濕主氣風，風為陽邪，濕為陰邪，風濕相搏，脾腎交病也。</p>
<p>二之氣，厲大至，民善暴死。</p>
<p>此以客相火主君火，似乎二火合德，而以臣位君則大逆也。</p>
<p>三之氣，民病寒熱。</p>
<p>此以三氣即司天燥金用事，以陽盛之時而行大涼之氣，故病在皮毛也。</p>
<p>四之氣，民病暴僕，振慄，譫妄，少氣，嗌乾引飲，及為心痛，癰腫瘡瘍，瘧寒之疾，骨痿，血便。</p>
<p>此以四氣之後為司地君火所主，而太陽以寒水臨之，水火相逆，故心腎同病也。</p>
<p>五之氣，民氣和。</p>
<p>此以風木用事，而得司地君火之溫故也。</p>
<p>終之氣，民病溫。</p>
<p>此以終氣即司地君火用事，以溫加寒，民氣當平。而溫從火化，病則多熱也。</p>
<p>歲宜以咸、以苦、以辛，汗之、清之、散之。</p>
<p>此以咸之從水化者，治司地之君火；苦之從火化者，治司天之燥金；辛之從金化者，治本氣之不及。而火來乘之者，於上下求得其平也。歲半以下氣過於熱，故宜清；歲半以上氣過於斂，故宜散。</p>
<p>太陽司天之政，氣化運行先天。</p>
<p>此言辰戌十年，氣先天時而至也。</p>
<p>民病寒濕，發肌肉萎，足痿不收，濡瀉，血溢。</p>
<p>此皆寒濕使然。而惟血溢為木火之郁，寒甚必化熱也。</p>
<p>初之氣，民乃厲，溫病乃作，身熱，頭痛，嘔吐，肌腠瘡瘍。</p>
<p>此以上年終氣君火與本年初氣相火，為二火之交，重以主氣風木，又為風火相薄，故見諸病。</p>
<p>二之氣，民病氣鬱中滿。</p>
<p>此以清燥之氣固結於中，而陽郁也。陽鬱則必傷其陰也。</p>
<p>三之氣，民病寒，反熱中，癰疽注下，心熱瞀悶，不治者死。</p>
<p>此以三氣即司天寒水用事，以寒化火，故病寒反熱。所以太陽之寒傳入陽明即成溫也，不戢則燎原矣。</p>
<p>四之氣，民病大熱，少氣，肌肉萎，足痿，注下赤白。</p>
<p>此為以客勝主，濕土受風木之制，而陽明反燥也。</p>
<p>五之氣，民乃舒。</p>
<p>此以歲半之後地氣主之，以濕土而得君火之助故也。</p>
<p>終之氣，民乃慘淒，反者孕乃死。</p>
<p>此以終氣即司地太陰用事，再加於寒水之位故也。</p>
<p>歲宜苦以燥之、溫之。</p>
<p>此言凡遇濕土、寒水之年，濕宜燥之，寒宜溫之。味必用苦者，苦從火化，治寒以熱正用苦之陽也。太陰歲宜與此略同。不言發泄者，義已見於前也。</p>
<p>凡此司天所生之病，以巳亥、子午、丑未、寅申、卯酉、辰戌年為序者，所以明厥、少、太、少、陽、太之六氣，而於巳亥起厥之訣，亦可推而知也。</p>
<p>壬子、壬午，其病支滿。按：經文於《六元正紀》中，惟子午、寅申、辰戌載有民病，餘三紀無之。</p>
<p>此以中運太角木太過而剋土也。</p>
<p>戊子、戊午，其病上熱血溢。</p>
<p>此以中運太徵火太過而傷陰也。</p>
<p>甲子、甲午，其病中滿身重。</p>
<p>此以中運太宮土太過而脾自病也。</p>
<p>庚子、庚午，其病下清。</p>
<p>此以中運太商金太過而致燥病也。</p>
<p>丙子、丙午，其病寒下。</p>
<p>此以中運太羽水太過而見寒病也。</p>
<p>壬寅、壬申，其病掉眩，支脅驚駭。</p>
<p>此以中運太角木太過而肝為病也。</p>
<p>戊寅、戊申，其病上熱鬱，血溢，血泄，心痛。</p>
<p>此以中運太徵火太過而心為病也。</p>
<p>甲寅、甲申，其病體重，胕腫，痞，飲。</p>
<p>此以中運太宮土太過而脾為病也。</p>
<p>庚寅、庚申，其病肩背胸中。</p>
<p>此以中運太商金太過而肺為病也。</p>
<p>丙寅、丙申，其病寒，浮腫。</p>
<p>此以中運太羽水太過而腎為病也。</p>
<p>壬辰、壬戌，其病眩掉目瞑。</p>
<p>此以中運太角木太過而見風病也。</p>
<p>戊辰、戊戌，其病熱鬱。</p>
<p>此以中運太徵火太過而見熱病也。</p>
<p>甲辰、甲戌，其病濕下重。</p>
<p>此以中運太宮土太過而見濕病也。</p>
<p>庚辰、庚戌，其病燥，背瞀胸滿。</p>
<p>此以中運太商金太過而見燥病也。</p>
<p>丙辰、丙戌，其病大寒留於谿谷。</p>
<p>此以中運太羽水太過而見寒病也。</p>
<p>厥陰所至為裡急，為支痛，為軟戾，為脅痛嘔泄。</p>
<p>此巳亥十年初、終六氣之病，為病之常也。按：此以春夏秋冬四時為言。</p>
<p>少陰所至為瘍疹，身熱，為驚惑，惡寒，戰慄，譫妄，為悲妄，衄衊，為語笑。</p>
<p>此子午十年初、終六氣之病，為病之常也。</p>
<p>太陰所至為積飲否隔，為蓄滿，為中滿霍亂吐下，為重胕腫。</p>
<p>此丑未十年初、終六氣之病，為病之常也。</p>
<p>少陽所至為嚏，嘔，瘡瘍，為驚躁，瞀昧，暴病，為喉痹，耳鳴，嘔湧，為暴注，瞤瘈，暴死。</p>
<p>此寅申十年初、終六氣之病，為病之常也。</p>
<p>陽明所至為浮虛，為鼽、尻、陰、股、膝、髀、腨、䯒、足病，為皴揭，為鼽嚏。</p>
<p>此卯酉十年初、終六氣之病，為病之常也。</p>
<p>太陽所至為屈伸不利，為腰痛，為寢汗，痓，為流泄禁止。按：此條「寢汗痓」亦當作「寢汗痙」。</p>
<p>此辰戌十年初、終六氣之病，為病之常也。</p>
<p>木鬱之發。</p>
<p>此言金勝制木，而木鬱之，待時而發也。</p>
<p>民病胃脘當心而痛，上支兩脅，鬲咽不通，食飲不下。</p>
<p>此木淫土虛之病也。</p>
<p>甚則耳鳴眩轉，目不識人，善暴僵仆。</p>
<p>此風淫而本經自病也。</p>
<p>木之發，其氣無常。</p>
<p>此言其發無常期也。風善行而數變，故發亦無定。經曰：木發無時。</p>
<p>木鬱達之。</p>
<p>達，暢達也。木喜條達。凡在表者，當疏其經；在裡者，當疏其臟。但使氣得通行皆謂之達。</p>
<p>火鬱之發。</p>
<p>此言水勝制火，而火鬱之待時而發也。</p>
<p>民病少氣，瘡瘍癰腫，脅、腹、胸、背、面首、四肢䐜憤臚脹，瘍痱，嘔逆。</p>
<p>此火濕之上衝於肺胃也。</p>
<p>瘈瘲，骨痛，節乃有動。</p>
<p>此火濕之內淫於筋骨也。</p>
<p>注下，溫瘧，腹中暴痛，血溢，流注，精液乃少。</p>
<p>此火濕下上流行，經絡受傷，而動血耗精也。</p>
<p>目赤，心熱，甚則瞀悶，懊憹，善暴死。</p>
<p>此肝心二經之火濕並行於內，而其性急速也。</p>
<p>刻終大溫，汗濡元府。</p>
<p>此即火欲發之徵也。凡一氣主六十日八十七刻半，火之發在四氣，則三氣刻數將終，即有大溫之候。</p>
<p>火之發，其氣四。</p>
<p>四之氣為太陰，火鬱之發，獨在濕土王時，故其氣必兼乎濕也。</p>
<p>火鬱發之。</p>
<p>發，發越也。凡火之所居，其有結聚斂伏者，不宜蔽遏，故當因其勢而解散之、升揚之也。凡病於陽虛、陽盛二者之外，另有陽為陰遏之證，皆當用升陽散火之法，即此之謂。</p>
<p>土鬱之發。</p>
<p>此言木勝制土，而土鬱之待時而發也。</p>
<p>民病心腹脹，腸鳴而為數後。</p>
<p>此濕行於上中下三焦，必治其中而上下始安也。</p>
<p>甚則心痛脅䐜。</p>
<p>此心為濕乘，肝為侮也。</p>
<p>嘔吐霍亂。</p>
<p>此濕上下行，而或嘔或吐，或吐利交作。病每見於中也。</p>
<p>飲發注下，胕腫身重。</p>
<p>此水飲發而大便暴泄，脾傷而肌肉見病。皆土發濕邪之證也。</p>
<p>土之發也，以其四氣。</p>
<p>四氣為土之王時，故土之發也以四氣。</p>
<p>土鬱奪之。</p>
<p>奪，直取也。土畏滯，凡滯在上者可吐；滯在下者可瀉。而皆不外直取其中，以安其上下也。</p>
<p>金鬱之發。</p>
<p>此言火勝制金，而金鬱之待時而發也。</p>
<p>民病咳逆，嗌乾，面塵色惡。</p>
<p>此燥氣勝而肺病也。</p>
<p>心脅滿引少腹，善暴痛不可反側。</p>
<p>此金氣勝而傷肝也。</p>
<p>金之發也，其氣五。</p>
<p>五氣為陽明王時，故其發也以五氣。</p>
<p>金鬱泄之。</p>
<p>泄，疏利也。金鬱之病，為咳，為閉，為燥，為寒，凡解表，利氣，通便，皆謂之泄。</p>
<p>水鬱之發。</p>
<p>此言土勝制水，而水鬱之待時而發也。</p>
<p>民病寒客心痛，腰脽痛，大關節不利，屈伸不便。</p>
<p>此皆寒水為病，於太陽經行之路也。</p>
<p>善厥逆，痞堅腹滿。</p>
<p>此陰勝而陽氣不伸，遂成陽為陰遏之病也。</p>
<p>水之發也，其氣二火前後。</p>
<p>君火為二之氣，相火為三之氣。君火之後、相火之前，六十日之內乃水鬱之所發也。水王於冬，而發於火令之時，陰乘陽也。經曰：水隨火。</p>
<p>水鬱折之。</p>
<p>折，抑制也。水鬱之病為寒、為水，其性善流。凡養肺金、實脾土、利膀胱、壯命火，皆謂之折。</p>
<p>民病犯寒而不遠寒，則寒至。寒至則堅否腹滿，痛急下利之病生矣。</p>
<p>此言應遠寒藥，而仍用寒，則病即因寒藥之誤而甚也。</p>
<p>民病犯熱而不遠熱，則熱至。熱至則身熱，吐下霍亂，癰疽瘡瘍，瞀郁注下，瞤瘈腫脹，嘔，鼽衄，頭痛，骨節變，肉痛，血溢血泄，淋閉之病生矣。</p>
<p>此言應遠熱藥，而仍用熱，則病即因熱藥之誤而甚也。</p>
<p>大積大聚，其可犯也。衰其大半而止，過者死。</p>
<p>此言積聚之病必當攻之使去，而正乃得安。特攻之不可過甚耳。此正教人以宜攻之病，不可畏虛而留病也。</p>
<p>婦人重身，毒之何如？有故無殞，亦無殞也。</p>
<p>此言病苟有當去者，雖在有娠之婦，亦不可畏虛而留病也。</p>

<h1>《內經》運氣病釋四</h1>

<h2>至真要大論篇</h2>
<p>厥陰司天，風淫所勝。</p>
<p>此以巳亥歲半以上，風化於天而言也。</p>
<p>民病胃脘當心而痛，上支兩脅鬲咽不通，飲食不下，舌本強，食則嘔，冷泄，腹脹，溏泄，瘕，水閉，病本於脾。</p>
<p>此以肝邪乘脾，故諸病皆見於己土也。</p>
<p>風淫所勝，平以辛涼，佐以苦甘。以甘緩之，以酸瀉之。</p>
<p>此以風為木氣，惟金能勝，故治以辛涼。辛從金化，涼為金氣也。而過於辛則反傷其氣，故佐以苦甘。苦以溫金，甘以益氣也。經曰：肝苦急，急食甘以緩之。又曰：以酸瀉之。</p>
<p>風化於天，清反勝之。治以酸溫，佐以甘苦。</p>
<p>此以風木之化，而反為金之清氣勝之也。酸為木之同氣，溫以制清也，甘以緩肝之急，苦以溫金之清。</p>
<p>厥陰在泉，風淫所勝。</p>
<p>此言寅申歲半以下風司於地，為火風之氣也。</p>
<p>民病洒洒振寒，善呻數欠，心痛支滿，兩脅裡急，飲食不下，鬲咽不通，食則嘔，腹脹善噫，得後與氣則快然，如衰身體皆重。</p>
<p>此以木邪淫勝，而脾胃受傷為病也。</p>
<p>風淫於內，治以辛涼，佐以苦甘，以甘緩之，以辛散之。</p>
<p>此以金能勝木，故治以辛涼。然辛勝恐傷其氣，故必佐以苦甘。苦勝辛，甘益氣也。經曰：肝苦急，急食甘以緩之。肝欲散，急食辛以散之。</p>
<p>風司於地，清反勝之，治以酸溫，佐以苦甘，以辛平之。</p>
<p>此以木不勝土，而反為金氣之清者勝之也。以酸之與木同氣者，用溫以制金之清；即以苦之從火而化者，佐甘以緩木之急。凡木之正味，其補以辛。金之正味，其瀉以辛。故可兩平之。</p>
<p>少陰司天，熱淫所勝。</p>
<p>此以子午歲半以上，熱化於天而言也。</p>
<p>民病胸中煩熱，嗌乾，右胠滿，皮膚痛，寒熱，咳喘，唾血，血泄，鼽衄嚏嘔，溺色變，甚則瘡瘍胕腫，肩背臂臑及缺盆中痛，心痛，肺䐜，腹大滿膨膨而喘咳，病本於肺。</p>
<p>此以金受火傷，故諸病皆見於肺也。</p>
<p>熱淫所勝，平以鹹寒，佐以苦甘，以酸收之。</p>
<p>此以熱為火氣，惟水能勝，故治以鹹寒，咸從水化也。其佐苦甘者，苦能泄熱，甘能瀉火也，熱越不斂，故以酸收。經曰：心苦緩，急食酸以收之。</p>
<p>熱化於天，寒反勝之，治以甘溫，佐以苦酸辛。</p>
<p>此以君火之化，而反為水之寒氣所勝也。甘能制水，熱能制寒，故治以甘熱。寒得苦而溫，亦得辛而散，故佐以苦辛。火為水勝則心苦緩，故宜酸以收之。</p>
<p>少陰在泉，熱淫所勝。</p>
<p>此言卯酉歲半以下熱司於地，為燥火之氣也。</p>
<p>民病腹中常鳴，氣上衝胸，喘，不能久立，寒熱，皮膚痛，目瞑齒痛䪼腫，惡寒發熱如瘧，少腹中痛，腹大。</p>
<p>此火氣奔動於中，乘肺及胃，金水受傷，陰陽爭勝而上中下三焦俱病也。</p>
<p>熱淫於內，治以鹹寒，佐以甘苦，以酸收之，以苦發之。</p>
<p>此以水能制火，故治以鹹寒也。甘勝咸，所以防咸之過。苦能泄，所以去熱之實也。熱越而不能斂，則以酸收之。熱鬱而不能散，則以苦發之。</p>
<p>熱司於地，寒反勝之，治以甘熱，佐以苦辛，以鹹平之。</p>
<p>此以火不勝金，而反為水氣之寒者勝之也。甘勝水，熱制寒，而又佐以苦辛。寒得苦而溫，亦得辛而散也。火之正味，其補以咸。水之正味，其瀉以咸。故可兩平之。</p>
<p>太陰司天，濕淫所勝。</p>
<p>此以丑未歲半以上，濕化於天而言也。</p>
<p>民病胕腫，骨痛，陰痹。陰痹者，按之不得。腰脊頭項痛，時眩，大便難，陰氣不用，飢不欲食，咳唾則有血，心如懸。病本於腎。</p>
<p>此以水為土克，故諸病皆見於腎也。</p>
<p>濕淫所勝，平以苦熱，佐以酸辛，以苦燥之，以淡泄之。</p>
<p>此以濕為土氣，惟燥能勝，故治以苦熱。酸從木化，用以制土。而必酸辛並用者，辛勝酸，所以防酸之過也。苦從火化，火能助燥。經曰：脾苦濕，急食苦以燥之。淡滲者，利竅以去濕也。</p>
<p>濕上甚而熱，治以苦溫，佐以甘辛，以汗為故而止。</p>
<p>此濕鬱於上而成熱也。治以苦溫者，欲其燥。佐以甘辛者，取其汗。適復其故即止，戒過汗也。</p>
<p>濕化於天，熱反勝之，治以苦寒，佐以苦酸。</p>
<p>此以濕土之化，而反為火之熱氣勝之也。苦寒以祛濕熱，苦酸以瀉木火。酸為木之正味，木位之主其瀉以酸，木平則熱亦散矣。</p>
<p>太陰在泉，濕淫所勝。</p>
<p>此言辰戌歲半以下，濕司乾地，為寒濕之氣也。</p>
<p>民病飲積心痛，耳聾，渾渾焞焞，嗌腫喉痹，陰病血見，少腹痛腫，不得小便，病沖頭痛，目似脫，項似拔，腰如折，髀不可以回，膕如結，腨如別。</p>
<p>此以寒濕乘心，又土邪淫勝剋水，而三焦及腎、膀胱俱為水臟，故皆病也。</p>
<p>濕淫於內，治以苦熱，佐以酸淡，以苦燥之，以淡泄之。</p>
<p>此以燥能勝濕，故治以苦熱也。酸從木化，所以制土；淡與甘同，所以益土，故佐以酸淡。又必苦燥淡泄者，除濕而使濕有去路也。</p>
<p>濕司於地，熱反勝之，治以苦冷，佐以鹹甘，以苦平之。</p>
<p>此以土不勝水，而反為火之熱氣勝之也。故以苦冷者抑木火之邪，而即佐咸以除已甚之熱，甘以補已衰之土。平之以苦者，苦從火化，亦能溫土，故可兩平之。</p>
<p>少陽司天，火淫所勝。</p>
<p>此以寅申歲半以上，火化於天而言也。</p>
<p>民病頭痛，發熱惡寒而瘧。熱上皮膚痛，色變黃赤。傳而為水，身面胕腫，腹滿仰息，泄注赤白，瘡瘍，咳唾血，煩心胸中熱，甚則鼽衄，病本於肺。</p>
<p>此金受火邪，水不能制，故諸病皆見於肺也。當與子午年諸病參看。</p>
<p>火淫所勝，平以酸冷、佐以苦甘，以酸收之，以苦發之，以酸復之。</p>
<p>此以火即熱氣，惟水能勝，與熱淫同，故平以酸冷。酸能收逆氣，寒能勝熱氣也。其佐甘苦者，甘以緩火之急，苦以瀉火之實也。火盛則越，以酸收之；火鬱則伏，以苦發之。而又必以酸復之者，恐發之過而未免傷氣也。上文熱淫所勝，當參觀之。</p>
<p>火化於天，寒反勝之，治以甘熱，佐以苦辛。</p>
<p>此以相火之化，而反為水之寒氣勝之也。治以甘熱，甘能勝水，熱能制寒也。佐以苦辛，寒得苦而溫，亦得辛而散也。</p>
<p>少陽在泉，火淫所勝。</p>
<p>此言巳亥歲半以下，火司於地，為風火之氣也。</p>
<p>民病注泄赤白，少腹痛，溺赤，甚則血便。</p>
<p>此以熱在下焦，故氣血兩見傷也。余與少陰在泉同候。</p>
<p>火淫於內，治以鹹冷，佐以苦辛，以酸收之，以苦發之。</p>
<p>此以水氣制火，故治以鹹冷，與熱淫同。苦能泄火，辛能散火，故以為佐。酸收苦發者，熱越則斂之，熱鬱則散之也。</p>
<p>火司於地，寒反勝之，治以甘熱，佐以苦辛，以鹹平之。</p>
<p>此以火不勝金，而反為水氣之寒者勝之也。甘勝水，熱勝寒。寒得苦而溫，得辛而散。火之正味其補以咸，水之正味其瀉以咸，故可兩平之。</p>
<p>陽明司天，燥淫所勝。</p>
<p>此以卯酉歲半以上，燥化於天而言也。</p>
<p>民病左胠脅痛，寒清於中，感而瘧，咳，腹中鳴，注泄鶩溏，心脅暴痛，不可反側，嗌乾，面塵，腰痛，丈夫㿗疝，婦人少腹痛，目昧眥瘍，瘡痤癰。病本於肝。</p>
<p>此以木受金傷，故諸病皆見於肝也。</p>
<p>燥淫所勝，平以苦溫，佐以酸辛，以苦下之。</p>
<p>此以燥為金氣，惟火能勝，故平以苦溫，苦從火化也。佐以酸辛者，以酸瀉木而補金，即以辛瀉金而補木也。苦下，專指腸胃燥結而言。</p>
<p>燥化於天，熱反勝之，治以辛寒，佐以苦甘。</p>
<p>此以燥金之化，而反為火之熱氣勝之也。辛寒所以泄熱，苦甘所以瀉火。</p>
<p>陽明在泉，燥淫所勝。</p>
<p>此言子午歲半以下，燥司於地，為火燥之氣也。</p>
<p>民病喜嘔，嘔有苦，善太息，心脅痛不能反側，甚則嗌於，面塵，身無膏澤，足外反熱。</p>
<p>此以金邪淫勝，甲木受傷，故所見皆肝膽之病。</p>
<p>燥淫於內，治以苦溫，佐以甘辛，以苦下之。</p>
<p>此以苦能降逆，故治以苦溫。經曰：肺苦氣上逆，急食苦以泄之是也。木受金傷，佐以甘緩辛，則木補金瀉，兩得之矣。腸胃燥結，非下不可；急下之法，非苦不可。</p>
<p>燥司於地，熱反勝之，治以平寒，佐以苦甘，以酸平之，以和為利。</p>
<p>此以金不勝木，而反為火氣之熱者勝之也。燥金之性惡熱而畏寒，故用平寒者以瀉火。而佐以苦，即佐以甘，以甘能除大熱也。金衰故用酸以補金位之弱，即用酸以收浮越之火，故可兩平之。以和為利者，言不可過也。</p>
<p>太陽司天，寒淫所勝。</p>
<p>此以辰戌歲半以上，寒化於天而言也。</p>
<p>民病血變於中，發為癰瘍，厥心痛，嘔血，血泄，鼽衄，善悲，時眩僕，胸腹滿，手熱，肘攣，腋腫，心澹澹大動，胸脅胃脘不寧，面赤目黃，善噫，嗌於，甚則色炱，渴而欲飲。病本於心。</p>
<p>此寒水勝而邪乘，心火受寒傷，故諸病皆見於心也。</p>
<p>寒淫所勝，平以辛熱，佐以甘苦，以咸瀉之。</p>
<p>此以寒為水氣，惟熱能勝，熱從火化也。然陰病惡燥，故必兼以辛潤，辛從金化，水之母也。經曰：腎苦燥，急食辛以潤之。腎欲堅，急食苦以堅之。用苦補之，咸瀉之。</p>
<p>寒化於天，熱反勝之，治以鹹冷，佐以苦辛。</p>
<p>此以寒水之化，而反為火之熱氣勝之也。鹹冷以抑火，而又佐苦以泄火，辛以散火。</p>
<p>太陽在泉，寒淫所勝。</p>
<p>此言丑未歲半以下，寒司於地，為濕寒之氣也。</p>
<p>民病少腹控睪引腰脊，上衝心痛，血見，嗌痛，頷腫。</p>
<p>此以寒淫於下，腎、膀胱自傷其類，而水邪且上侮火府也。</p>
<p>寒淫於內，治以甘熱，佐以苦辛，以咸瀉之，以辛潤之，以苦堅之。</p>
<p>此以土能勝水，熱能勝寒，故治以甘熱。甘從土化，熱從火化也。經曰：腎苦燥，急食辛以潤之。腎欲堅，急食苦以堅之。用苦補之、咸瀉之。</p>
<p>寒司於地，熱反勝之，治以鹹冷，佐以甘辛，以苦平之。</p>
<p>此以水不勝火，而反為濕氣之熱者勝之也。鹹冷以抑火，甘以瀉火，辛以散火也。苦從火化，而又為水之正味，故可兩平之。</p>

<h1>《內經》運氣病釋五</h1>

<h2>至真要大論篇</h2>
<p>厥陰司天。</p>
<p>此以巳亥歲半以上，客主之氣有勝無復言也。</p>
<p>客勝則耳鳴掉眩，甚則咳。</p>
<p>此言客初氣燥金勝，客二氣寒水勝，客三氣風木勝也。風勝則耳目病，燥勝、寒勝皆能致咳。</p>
<p>主勝則胸脅痛、舌難以言。</p>
<p>此言主時三氣木火勝客也。木勝則胸脅痛，肝與膽為表裡也。火勝則舌難言，心開竅於舌也。</p>
<p>厥陰之客，以辛補之，以酸瀉之，以甘緩之。</p>
<p>辛補酸瀉，與主氣同。甘緩者，經曰：肝苦急，急食甘以緩之也。</p>
<p>木位之主，其瀉以酸，其補以辛。</p>
<p>木性升，酸則反其性而斂之，故曰瀉木喜達。辛則助其氣而發之，故曰補。經曰：肝欲散，急食辛以散之。用辛補之，酸瀉之。</p>
<p>厥陰在泉。</p>
<p>此以寅申歲半以下，客主之氣有勝無復言也。</p>
<p>客勝則大關節不利，內為痙強拘瘈，外為不便。</p>
<p>此言客四氣燥金勝，客五氣寒水勝，客終氣風木勝也。寒勝則太陽經病，風燥勝則血不榮筋。</p>
<p>主勝則筋骨繇，並腰腹時痛。</p>
<p>此言主時土金水三氣勝客也。金燥勝則木病，故風動而拘急；水寒勝則太陽經病；土濕勝則太陰經病。</p>
<p>厥陰之客。</p>
<p>辛補，酸瀉，甘緩，治與巳亥厥陰司天同。</p>
<p>木位之主。</p>
<p>酸瀉、辛補，治亦同巳亥司天。</p>
<p>少陰司天。</p>
<p>此以子午歲半以上，客主之氣有勝無復言也。</p>
<p>客勝則鼽嚏，頸項強，肩背瞀熱，頭痛，少氣，發熱，耳聾目瞑，甚則胕腫，血溢，瘡瘍，咳喘。</p>
<p>此言客初氣寒水勝，客二氣風木勝，客三氣君火熱勝也。寒勝則太陽所經之處皆病，而兼見咳喘；風勝則聾瞑，胕腫；熱勝則血溢、瘡瘍。</p>
<p>主勝則心熱煩躁，甚則脅痛支滿。</p>
<p>此言主時三氣木火勝客也。火勝則煩躁，木勝則脅痛滿。</p>
<p>少陰之客，以咸補之，以甘瀉之，以酸收之。</p>
<p>咸補、甘瀉，與主氣同。酸收者，經曰：心苦緩，急食酸以收之也。</p>
<p>火位之主，其瀉以甘，其補以咸。</p>
<p>火性速，甘則反其性而緩之，故曰瀉火欲軟。咸則順其氣而軟之，故曰補。經曰：心欲軟，急食鹹以軟之。用鹹補之，甘瀉之。</p>
<p>少陰在泉。</p>
<p>此以卯酉歲半以下，客主之氣有勝無復言也。</p>
<p>客勝則腰痛，尻、股、膝、髀、腨、䯒、足病，瞀熱以酸，胕腫不能久立，溲便變。</p>
<p>此言客四氣寒水勝，客五氣風木勝，客終氣君火勝也。寒勝則太陽經病；木勝則筋酸胕腫，火勝則溲便為之變，以火居陰分也。</p>
<p>主勝則厥氣上行，心痛，發熱，鬲中眾皆作，發於胠脅，魄汗不藏，四逆而起。</p>
<p>此言土金水三氣勝客也。君火受制於群陰，故厥逆痛痹。陰汗，肢冷，為陰氣有餘也。</p>
<p>少陰之客。</p>
<p>咸補、甘瀉、酸收，治與子午少陰司天同。</p>
<p>火位之主。</p>
<p>甘瀉、咸補，治亦同子午司天。</p>
<p>太陰司天。</p>
<p>此以丑未歲半以上，客主之氣有勝無復言也。</p>
<p>客勝則首面胕腫，呼吸氣喘。</p>
<p>此言客初氣風木勝，客二氣火熱勝，客三氣濕土勝也。皆風濕熱為病。</p>
<p>主勝則胸腹滿，食已而瞀。</p>
<p>此言主時三氣木火勝客也。主客初二氣相和，故惟三氣濕土為病。</p>
<p>太陰之客，以甘補之，以苦瀉之，以甘緩之。</p>
<p>甘補、苦瀉，與主氣同。甘緩者，經曰：脾欲緩，急食甘以緩之。</p>
<p>土位之主，其瀉以苦，其補以甘。</p>
<p>土性濕，苦則反其性而燥之，故曰瀉。土欲緩，甘則順其氣而緩之，故曰補。經曰：脾欲緩，急食甘以緩之。用苦瀉之，甘補之。</p>
<p>太陰在泉。</p>
<p>此以辰戌歲半以下，客主之氣有勝無復言也。</p>
<p>客勝則足痿下重，便溲不時。濕客下焦，發而濡瀉，及為腫，陰曲之疾。</p>
<p>此言客四氣風木勝，客五氣君火勝，客終氣濕土勝也。風濕熱俱勝，故為諸病。</p>
<p>主勝則寒氣逆滿，食飲不下，甚則為疝。</p>
<p>此言主時土金水三氣勝客也。金寒水冷，客之木火足以敵之，故惟見土濕之病。</p>
<p>太陰之客。</p>
<p>甘補，苦瀉，甘緩，治與丑未厥陰司天同。</p>
<p>土位之主。</p>
<p>苦瀉、甘補，治亦同丑未司天。</p>
<p>少陽司天。</p>
<p>此以寅申歲半以上，客主之氣有勝無復言也。</p>
<p>客勝則丹疹外發、及為丹熛瘡瘍，嘔逆、喉痹、頭痛、嗌腫、耳聾、血溢，內為瘈瘲。</p>
<p>此言客初氣君火勝，客二氣濕土勝，客三氣相火勝也。所見皆濕熱病，而熱甚於濕。</p>
<p>主勝則胸滿，咳，仰息，甚而有血，手熱。</p>
<p>此言主時三氣木火勝客也。風勝則氣逆，熱勝則營傷。</p>
<p>少陽之客，以咸補之，以甘瀉之，以咸軟之。</p>
<p>咸補，甘瀉，與子午少陰司天同。咸軟者，經曰：心欲軟，急食鹹以軟之。君相皆火，故其治同也。</p>
<p>火位之主。</p>
<p>甘瀉、咸補，治亦同子午司天。</p>
<p>少陽在泉。</p>
<p>此以巳亥歲半以下，客主之氣有勝無復言也。</p>
<p>客勝則腰腹痛而反惡寒，甚則下白，溺白。</p>
<p>此言客四氣君火勝，客五氣濕土勝，客終氣相火勝也。火居陰分，濕亦化熱，故諸見濕熱之病。</p>
<p>主勝則熱反上行而客於心，心痛，發熱，格中而嘔。少陰同侯。</p>
<p>此言主時土金水三氣勝客也。此與少陰同為陰盛格陽。</p>
<p>少陽之客。</p>
<p>咸補，甘瀉，治與子午少陰司天同。咸軟，治與寅申少陽司天同。</p>
<p>火位之主。</p>
<p>甘瀉，咸補，治亦同子午司天。</p>
<p>陽明司天。</p>
<p>此以卯酉歲半以上，客主之氣無勝無復言也。</p>
<p>清復內余，則咳衄，嗌塞，心鬲中熱，咳不止而白血出者死。</p>
<p>此獨不言客主之勝者，以燥金之客加於木火之主，金居火位，客不勝主。而清氣鬱極必發，益以木火熱邪充斥，肺津大傷。白涎、白液，皆為白血。營氣衰而血不及化，故主死也。三氣即司天之位，故清氣有餘，與太陽之在泉同。</p>
<p>陽明在泉。</p>
<p>此以子午歲半以下，客主之氣有勝無復言也。</p>
<p>客勝則清氣動下，少腹堅滿而數便瀉。</p>
<p>此言客四氣濕土勝，客五氣相火勝，客終氣燥金勝也。濕勝則便泄；火勝則便數；燥勝則腹堅滿。終氣在泉之位，故清氣下動。</p>
<p>主勝則腰重腹痛，少腹生寒，下為鶩溏，則寒厥於腸，上衝胸中，甚則喘不能久立。</p>
<p>此言主時土金水三氣勝客也。水濕勝則腰重腹痛便溏；金勝則下病腸腑，上病肺經也。</p>
<p>陽明之客，以酸補之，以辛瀉之，以苦泄之。</p>
<p>酸補、辛瀉，與主氣同。苦泄者，經曰：肺苦氣上逆，急食苦以泄之。肺本金臟，陽明為燥金，故治略同。</p>
<p>金位之主，其瀉以辛，其補以酸。</p>
<p>金性收，辛則反其性而散之，故曰瀉。金欲收，酸則順其氣而收之，故曰補。經曰：肺欲收，急食酸以收之。用酸補之，辛瀉之。卯酉年陽明司天，客主之氣無勝無復，故陽明之治，繫於是年在泉條下。</p>
<p>太陽司天。</p>
<p>此以辰戌歲半以上，客主之氣有勝無復言也。</p>
<p>客勝則胸中不利，出清涕，感寒則咳。</p>
<p>此言客初氣相火勝，客二氣燥金勝，客三氣寒水勝也。火勝則胸中不利；燥勝則鼻中不利；寒勝則喉中不利。</p>
<p>主勝則喉嗌中鳴。</p>
<p>此言主時木火三氣勝客也。主客惟火同氣，而火因寒覆，故陽氣欲達而喉嗌中作水聲。</p>
<p>太陽之客，以苦補之，以咸瀉之，以苦堅之，以辛潤之。</p>
<p>苦補、咸瀉，與主氣同。辛潤者，經曰：腎苦燥，急食辛以潤之。腎本水臟，太陽為寒水，故治略同。</p>
<p>水位之主，其瀉以咸，其補以苦。</p>
<p>水性凝，咸則反其性而軟之，故曰瀉。水欲堅，苦則順其氣而堅之，故曰補。經曰：腎欲堅，急食苦以堅之。用苦補之，咸瀉之。太陽在泉，無勝無復，故經無治法。</p>
<p>太陽在泉。</p>
<p>此以丑未歲半以下，客主之氣無勝無復言也。</p>
<p>寒復內余，則腰、尻痛，屈伸不利，股、脛、足、膝中痛。</p>
<p>此獨不言客主之勝者，以水居水位，兩不相勝也。然以寒水之客而加於土金之主，重陰氣盛，故寒氣有餘於內也。</p>

<h1>《內經》運氣病釋六</h1>

<h2>至真要大論篇</h2>
<p>厥陰之勝。</p>
<p>此言風木氣勝，而土受制也。</p>
<p>民病耳鳴，頭眩，憒憒欲吐，胃鬲如寒。</p>
<p>此風木之動，木邪傷胃，胃虛如寒，非真寒也，乃水飲也。</p>
<p>胠脅氣並，化而為熱，小便黃赤。</p>
<p>此肝邪盛而化熱，侵及小腸也。</p>
<p>胃脘當心而痛，上支兩脅，甚則嘔吐，鬲咽不通。</p>
<p>此木勝剋土，而胃病也。</p>
<p>腸鳴飧泄，少腹痛，注下赤白。</p>
<p>此以胃、大腸皆屬陽明，足經病而手經亦病也。</p>
<p>厥陰之勝，治以甘清，佐以苦辛，以酸瀉之。</p>
<p>甘為土味，清為金氣。土金相生，則木有制而土不受克矣。佐以苦辛，苦為火味以生土，辛為金味以制木。木性條達，反其性而斂之，故為瀉。</p>
<p>厥陰之復。</p>
<p>此言木氣先受金制，而既乃復也。</p>
<p>民病少腹堅滿，裡急暴痛。</p>
<p>此肝邪盛而氣急也。</p>
<p>厥心痛，汗發。</p>
<p>此肝邪乘胃，上陵於心，而陽氣泄也。</p>
<p>嘔吐，飲食不入，入而復出，甚則入脾，食痹而吐。</p>
<p>此脾受肝傷，故食入不化，或入而氣閉不通，吐出乃已也。</p>
<p>筋骨掉眩，清厥。</p>
<p>此風氣盛而頭目顫運，手足逆冷也。</p>
<p>厥陰之復，治以酸寒，佐以甘辛，以酸瀉之，以甘緩之。</p>
<p>酸為木味，寒為水氣。木之正味其瀉以酸。木火相生，宜清以寒也。佐以甘辛者，木盛土衰，以甘補土。辛從金化，以辛制木也。酸瀉甘緩，皆木之正味，而為正治。</p>
<p>少陰之勝。</p>
<p>此言君火氣勝，而金受制也。</p>
<p>民病心下熱，善飢，臍下反動。</p>
<p>此以少陰之脈起心中，出屬心系，下絡小腸，而熱乘之也。</p>
<p>氣遊三焦，嘔逆，躁煩，腹滿痛，溏泄，傳為赤沃。</p>
<p>此以熱盛包絡，包絡之脈歷絡三焦，而上中下俱病也。赤沃，便血也。</p>
<p>少陰之勝，治以辛寒，佐以苦鹹，以甘瀉之。</p>
<p>辛為金味，寒為水氣。金水相生，則火有制，而金不傷。佐以苦鹹，苦從火化，以助其辛；咸從水化，以助其寒也。火性急速，故以甘緩為瀉。</p>
<p>少陰之復。</p>
<p>此言君火先受水制，而既乃復也。</p>
<p>民病燠熱內作，煩躁，鼽衄嚏，嗌燥，少腹絞痛，分注時止。</p>
<p>此火炎上而在喉，火陷下而居腎。大腸分小便之水津，而時止時作也。</p>
<p>氣動於左，上行於右，咳，暴瘖，皮膚痛。</p>
<p>此以肺主音聲、外合皮毛，而受火之傷也。</p>
<p>心痛鬱冒不知人，乃灑淅惡寒，振慄譫妄。</p>
<p>此心邪自實，神明內亂，熱極則生寒，非真寒也。</p>
<p>寒已而熱，渴而欲飲，少氣，骨痿，隔腸不便，浮腫，噦噫。</p>
<p>此寒已，而復見真熱也。譫妄甚，故少氣。振慄甚，故骨痿。陰陽水火不交會於中土，故氣阻而外內交病。</p>
<p>痱、疹、瘡、瘍、癰、疽、痤、痔，甚則入肺，咳而鼻淵。</p>
<p>此熱甚傷肺，不外越於皮毛，即內入於肺經也。</p>
<p>少陰之復，治以鹹寒，佐以苦辛，以甘瀉之，以酸收之，辛苦發之，以咸軟之。</p>
<p>咸為水味，寒為水氣，制以其所不勝也。佐以苦辛，發不遠熱也。甘酸以瀉火而斂浮熱，苦鹹以散火而解熱結。</p>
<p>太陰之勝。</p>
<p>此言濕土氣勝，而水受制也。</p>
<p>民病火氣內郁，瘡瘍於中，流散於外。</p>
<p>此以寒濕外甚，則心火內郁，從中以達於皮膚之外也。</p>
<p>病在胠脅，甚則心痛。</p>
<p>此謂其瘡瘍在胠脅之皮膚，若不流散於外，則毒歸於內。以心脈出於腋下，而起於心中也。</p>
<p>熱格，頭痛，喉痹，項強。</p>
<p>此謂熱勝而格於上也。</p>
<p>獨勝則濕氣內郁，寒迫下焦，痛留頂，互引眉間，頭重，腰脽重強。</p>
<p>此謂無熱而濕獨勝也。無熱則為寒濕，而下與太陽寒水氣合，故其所病皆為太陽經脈所行之路。</p>
<p>胃滿，少腹滿，內不便，善注瀉，足下溫，足脛胕腫。飲發於中，胕腫於上。</p>
<p>此則寒濕合病，而滯於中下也。飲發則水又於濕合，而上行矣。</p>
<p>太陰之勝，治以咸熱，佐以辛甘，以苦瀉之。</p>
<p>咸為水味，熱為火氣。濕熱則以咸化之，寒濕則以熱治之。濕勝則土寒，辛能溫土，甘能補土，故佐以辛甘。若濕勝而土實，則以苦瀉之。土之正味，其瀉以苦也。</p>
<p>太陰之復。</p>
<p>此言土氣先受木製，而既乃復也。</p>
<p>民病體重，中滿，食飲不化。</p>
<p>此土邪盛而自傷同氣也。</p>
<p>胸中不便，飲發於中，咳喘有聲。</p>
<p>此陰氣上逆，脾濕侵肺也。</p>
<p>頭頂痛重，而掉瘈尤甚。</p>
<p>此濕在三陽，筋脈濡軟也。</p>
<p>嘔而密默，唾吐清液。</p>
<p>此寒濕內動也。</p>
<p>甚則入腎竅，瀉無度。</p>
<p>此土邪傳腎，腎開竅於二陰，而門戶不要，水泉不藏也。</p>
<p>太陰之復，治以苦熱，佐以酸辛，以苦瀉之、燥之、泄之。</p>
<p>苦為火味，熱為火氣。苦瀉土，熱燥濕也。佐以酸辛者，惟木生火，火不足則佐以酸；惟金生水，火太過則佐以辛也。土位之主，其瀉以苦，瀉以奪其實。燥以勝其濕，瀉以利其水也。</p>
<p>少陽之勝。</p>
<p>此言相火氣勝，而金受制也。</p>
<p>民病熱客於胃，煩心，心痛，目赤，欲嘔，嘔酸，耳痛。</p>
<p>此客熱行於上焦，故所見病多在上也。</p>
<p>善飢，善驚，譫妄。</p>
<p>此客熱行於中焦，而火盛傷陰也。</p>
<p>少腹痛，溺赤，下沃赤白。</p>
<p>此客熱行於下焦也。赤白有氣血之分，大便曰利，小便曰濁。</p>
<p>少陽之勝，治以辛寒，佐以甘鹹，以甘瀉之。</p>
<p>辛為金味，寒為水氣。金水相生，則火有制而金不傷。佐以甘鹹，甘能瀉火，咸能泄熱也。以甘瀉之者，甘能除大熱也。</p>
<p>少陽之復。</p>
<p>此言相火先受水制，而既乃復也。</p>
<p>民病驚瘈，咳衄，心熱煩躁，便數，憎風。</p>
<p>此火乘心肺，表裡交熱也。</p>
<p>面如浮埃，目乃瞤瘈，上為口糜，嘔逆，血溢，血泄。</p>
<p>此厥氣上行，火氣內發，故形色變，而逼血妄行也。</p>
<p>發而為瘧，惡寒鼓慄，嗌絡焦槁，渴引水漿，少氣脈萎。</p>
<p>此風火相薄，陰陽相併，寒極而熱，津液涸，氣血傷也。</p>
<p>色變黃赤，化而為水，傳為胕腫。</p>
<p>此氣蒸熱化，水道不通，故溺色變而浮腫如泥也。</p>
<p>甚則入肺，咳而血泄。</p>
<p>此以火盛剋金，而血溢於肺也。</p>
<p>少陽之復，治以鹹冷，佐以苦辛，以咸軟之，以酸收之，辛苦發之。</p>
<p>咸為水味，冷為水氣，制以所不勝也。佐以苦辛，發散其熱。苦從火化，火氣虛則佐以苦。辛從金化，火氣盛則佐以辛。而又必咸軟以解熱之結，酸收以斂熱之浮。辛苦發之，所以申發不遠熱，毋犯寒涼之意也。當與少陰參看。</p>
<p>陽明之勝。</p>
<p>此言燥金氣勝，而木受制也。</p>
<p>民病清，發於中，左胠脅痛，溏泄。</p>
<p>此金盛木鬱，而清邪陷於下也。</p>
<p>內為嗌塞，外發㿗疝。</p>
<p>此肝木受病，而清氣上下行也。</p>
<p>胸中不便，嗌塞而咳。</p>
<p>此以燥勝則肺氣斂，而失其治節也。胸中，肺之所居。</p>
<p>陽明之勝，治以酸溫，佐以辛甘，以苦泄之。</p>
<p>酸為木味，溫為火氣。木火相生，則金有制，而木不傷。陽明有燥金之氣，有清金之氣。燥氣而有餘，則辛以散之；清氣而不足，則甘以滋之。苦從火化，能泄其燥邪也。</p>
<p>陽明之復。</p>
<p>此言金氣先受火制，而既乃復也。</p>
<p>民病生胠脅氣歸於左，善太息。</p>
<p>此金氣盛而肝傷，則木為之郁，肝陽不升，膽亦病也。</p>
<p>甚則心痛否滿，腹脹而泄，嘔，苦咳噦，煩心，病在鬲中。</p>
<p>此清氣太過，陽明氣逆心胃，生寒而皆病也。</p>
<p>頭痛，甚則入肝，驚駭筋攣。</p>
<p>此金氣乘肝也。厥陰肝脈上額，與督脈會於巔。</p>
<p>陰明之復，治以辛溫，佐以苦甘，以苦泄之，以苦下之，以酸補之。</p>
<p>辛為金味，溫為火氣。瀉金以辛，勝清以溫也。苦以制金，甘以生金，故佐以苦甘。而又苦泄以開燥結，酸補以斂津液。下亦泄也。</p>
<p>太陽之勝。</p>
<p>此言寒水氣勝，而心受制也。</p>
<p>民病痔、瘧發。</p>
<p>此以太陽經脈貫臀，故痔發。以邪正分爭而寒熱互作，故瘧發。皆寒勝火鬱之病也。</p>
<p>寒厥入胃，內生心痛。</p>
<p>此寒入胃，胃脘當心而痛。胃脘在心下，故曰心痛。</p>
<p>陰中乃瘍，隱曲不利，互引陰股。</p>
<p>此以太陽之脈絡腎、屬膀胱故也。</p>
<p>筋肉拘苛，血脈凝泣，絡滿色變，或為血泄。</p>
<p>此筋肉血脈得寒而痹，經虛則絡滿，血凝則下泄也。</p>
<p>皮膚否腫，腹滿食減。</p>
<p>此水病之內外分見者也。</p>
<p>熱反上行，頭項囟頂腦戶中痛，目如脫。寒入下焦，傳為濡瀉。</p>
<p>此水病之上下分見者也。</p>
<p>太陽之勝，治以甘熱，佐以辛酸，以咸瀉之。</p>
<p>甘為土味，熱為火氣。火土相生，則水有制而火不散。佐以辛酸，辛散寒邪之實，酸收心氣之傷也。水之正味，其瀉以咸。</p>
<p>太陽之復。</p>
<p>此言水氣先受土製，而既乃復也。</p>
<p>民病心胃生寒，胸膈不利，心痛否滿。</p>
<p>此寒在膈間，而上下之氣不得通利也。</p>
<p>頭痛，善悲，時眩僕，食減。</p>
<p>此寒並於上，而陽神虛，清陽失守，不能熟腐水穀也。</p>
<p>腰脽反痛，屈伸不便。</p>
<p>此寒歸水臟，而太陽經脈自病也。</p>
<p>少腹控睪引腰脊，上衝心。</p>
<p>此寒客三陰，而上侵君火也。</p>
<p>唾出清水，及為噦噫。</p>
<p>此寒水侮土，胃脘無陽也。</p>
<p>甚則入心，善忘善悲。</p>
<p>此寒甚乘心，心藏神而神不足也。</p>
<p>太陽之復，治以咸熱，佐以甘辛，以苦堅之。</p>
<p>咸為水味，熱為火氣。瀉水以咸，治寒以熱也。佐以甘辛，甘以制水，辛能散寒也。經曰：腎欲堅，急食苦以堅之。</p>

<h1>《內經》運氣病釋七</h1>

<h2>至真要大論篇</h2>
<p>諸風掉眩，皆屬於肝。</p>
<p>此言肝之標為足厥陰，而其本風也。</p>
<p>諸暴強直，皆屬於風。</p>
<p>此言足厥陰肝經之病，風氣通於肝也。</p>
<p>諸痛癢瘡，皆屬於心。</p>
<p>此言心之標為手少陰，而其本熱也。</p>
<p>諸熱瞀瘛，皆屬於火。</p>
<p>此言手少陰心經之病，熱氣通於心也。心，君火也。</p>
<p>諸濕腫滿，皆屬於脾。</p>
<p>此言脾之標為足太陰，而其本濕也。</p>
<p>諸脹腹大，皆屬於熱。</p>
<p>此言足太陰脾經之病，濕氣通於脾，而化為熱也。</p>
<p>諸氣膹郁，皆屬於肺。</p>
<p>此言肺之標為手陰，而其本燥也。</p>
<p>諸病有聲，鼓之如鼓，皆屬於熱。</p>
<p>此言手太陰肺經之病，諸氣通於肺也。有聲者，咳喘之類。</p>
<p>諸寒收引，皆屬於腎。</p>
<p>此言腎之標為足少陰，其本寒也。</p>
<p>諸病水液澄澈清冷，皆屬於寒。</p>
<p>此言足少陰腎經之病，寒氣通於腎也。</p>
<p>諸痙項強，皆屬於濕。</p>
<p>此言足太陽膀胱之病也。膀胱為水濕之腑，故屬於濕。</p>
<p>諸躁狂越，皆屬於火。</p>
<p>此言足陽明胃經腑之病也。胃經胃腑，皆為燥金，熱甚則胃陰亡，故亦屬火。</p>
<p>諸嘔吐酸，暴注下迫，皆屬於熱。</p>
<p>此言足少陽膽經之病也。少陽為相火，故屬於熱。</p>
<p>諸轉反戾，水液渾濁，皆屬於熱。</p>
<p>此言手太陽小腸之病也。太陽本寒，而標則陽，故亦屬熱。</p>
<p>諸病胕腫，疼酸驚駭，皆屬於火。</p>
<p>此言手陽明大腸之病也。大腸為胃腑經熱入腑，遂為火證，故屬於火。</p>
<p>諸痿喘嘔，皆屬於上。</p>
<p>諸厥固泄，皆屬於下。</p>
<p>此言手少陽三焦之病也。三焦之氣遊行上下，而治必取諸中焦，中安而上下皆安也。痿屬心肺，厥屬肝腎。</p>
<p>諸禁鼓慄，如喪神守，皆屬於火。</p>
<p>此亦三焦之火獨盛於中，即陽明所見真熱之病，亦即厥陰所見假寒之病。所以口噤肢慄，似屬於寒，而實皆屬於火也。</p>
<p>諸逆衝上，皆屬於火。</p>
<p>此言手厥陰心包絡之病也。心包代君受邪，故亦屬火。</p>
<p>故大要曰：謹守病機，各司其屬。有者求之，無者求之，盛者責之，虛者責之。必先五勝，疏其地氣，令其調達，而致和平，此之謂也。</p>
<p>此引古經大要之言，以明十九條之病機各有所屬也。經何以言有者求之、無者求之？有、無皆以證言，人但知有是證之為病，而不知無是證之為病，或隱伏也。故即於有者求之，尤當於無者求之也。經何以言盛者責之、虛者責之？盛謂邪已實，邪而實，不可不知；虛謂邪末實，邪未實尤不可不知也。故既曰盛者責之，而又必曰虛者責之也。虛曰責之，不曰補之，謂必審其為實，而後可瀉耳。</p>
<p>辛甘發散為陽，酸苦湧泄為陰。鹹味湧泄為陰，淡味滲泄為陽。六者或收、或散，或緩、或急，或燥、或潤，或軟、或堅，以所利而行之，調其氣使其平也。</p>
<p>此言十九條之病機，總以調之使平為治。凡宜發散則用辛甘，宜湧泄則用酸苦，宜湧泄、宜滲泄則用鹹與淡者，皆治也，皆所以疏其氣使調達而致和平也。以見不疏其氣，即不調達而不和平也。治病之法，宜何從乎？而謂病機可不審乎？</p>
<p>經何以於十九條內獨不言燥？以燥本屬寒，而毗於寒則為寒，毗於火即為火，《易》所以謂「火就燥」也。況諸暴強直，風亦致燥；諸痙項強，濕亦化燥。燥無定也。則凡十九條皆可以求燥也。豈是獨遺燥耶？</p>

<h1>《內經》運氣病釋八</h1>
<p>陳無擇《三因方》附子山萸湯。病見前《氣交篇》，今不再出。</p>
<p>此以六甲年太宮運，歲土太過，雨濕流行，土勝木復，而民病焉。故宜以此方治之。</p>
<p>附子片炮　山茱萸　烏梅肉　木瓜　肉豆蔻　姜半夏　丁香　木香　生薑　大棗</p>
<p>繆問解此方曰：敦阜之紀，雨濕流行，腎中真氣被遏，則火之為用不宣，脾土轉失溫煦，此先後天交病之會也。經謂：濕淫於內，治以苦熱。故以附子大熱純陽之品，直達坎陽，以消陰翳，回厥逆而鼓少火，治腎而兼治脾。但附子性殊走竄，必賴維持之力而用始神，有如真武湯之於白芍，地黃飲之於五味是也。此而不佐以萸肉之酸收，安必其入腎而無劫液之慮？不偕以烏梅之靜鎮，難必其歸土而無爍肺之憂。得此佐治，非徒陽弱者賴以見功，即陰虛者亦投之中綮矣。然腹滿溏泄，為風所復，土轉受戕，則治肝亦宜急也。臟宜補，既有萸肉以培乙木；腑宜瀉，更用木瓜以泄甲木。所以安甲乙者，即所以資戊己也。肉、果辛溫助土，有止瀉之功，兼散皮外絡下諸氣，治肉痿所必需。再復以半夏之利濕，丁、木香之治胃，木瓜、烏梅之療痿，生薑、大棗之和中，眼光四射矣。風氣來復，有味酸群藥補之、瀉之，尚何顧慮之有哉。</p>
<p>陳無擇《三因方》白朮厚朴湯</p>
<p>此以六己年少宮運，歲土不及，風乃盛行，木勝金復，而民病焉。故宜以此方治之。</p>
<p>白朮　厚朴　桂心　青皮　甘草（炙）　藿香　乾薑（炮）　半夏</p>
<p>繆問解此方曰：歲土不及，寒水無畏，風乃大行。民病飧泄、霍亂等證，皆土虛所見端。但土虛則木必乘之，是補太陰必兼泄厥陰也。夫脾為陰土，所惡者濕，所畏者肝，其取資則本於胃。古人治脾必及胃者，恐胃氣不得下降，則脾氣不得上升，胃不能遊溢精氣，脾即無所取資。故君以白朮，甘苦入脾。燥濕即佐以厚朴，苦溫平胃理氣，是補臟通腑之法也。肝為將軍之官，乘土不足而陵犯中州，是宜泄之。桂心辛甘，泄肝之氣；青皮苦酸，泄肝之血。辛酸相合，足以化肝。復以甘草緩肝之急，監製過泄之品，毋令過侵臟氣。再合藿香之辛芬，橫入脾絡；炮姜之苦辛，上行脾經；半夏之辛潤，下宣脾氣。其種種顧慮，總不外乎奠安中土使脾氣固密，自不畏乎風氣之流行矣。金氣來復，又得厚朴、半夏，瀉肺氣之有餘，不用苦寒戕土，即《內經》以平為期，不可太過之義也。是方不用薑、棗，以脾之氣分受邪，無藉大棗入營之品，且畏姜之峻補肝陽。錦心妙諦，豈語言所能推贊哉。</p>
<p>陳無擇《三因方》柴菀湯</p>
<p>此以六乙年少商運，歲金不及，炎火乃行，火勝水復，而民病焉。故宜以此方治之。</p>
<p>紫菀茸　桑白皮　人參　黃耆　地骨皮　杏仁　白芍藥　甘草　生薑　大棗</p>
<p>繆問解此方曰：凡歲金不及之年，補肺即當瀉火，以折其炎上之勢。若肺金自餒，火乘其敝，民病肩背痛，瞀重，鼽嚏，便血，注下，不救其根本可乎哉？蓋肩背為雲門中腑之會，肺脈所循，鼻為肺竅，肺傷則鼽嚏。肺與大腸為表裡，氣不下攝，則為便血、注下。臟病而腑亦病，此時惟有清火止泄一法，急補肺金，斯為得耳。紫菀苦溫，下氣和血，寒熱咸治。桑皮甘寒，補血益氣，吐畜所需。而尤賴參、耆固無形之氣，即以攝走泄之陰也。氣交之火必潛伏金中，地骨皮甘平微苦，能瀉肺中伏火，止其血之沸騰。又肺苦氣上逆，泄之以杏仁之苦。肺欲收，斂之以白芍之酸。合之甘草補土生金，薑、棗調和營衛，緩諸藥於至高之分，而參、耆得收指臂之功。為水所復，不用別藥，蓋補土可以生金，而實土即以御水也。</p>
<p>陳無擇《三因方》牛膝木瓜湯</p>
<p>此以六庚年太商運，歲金太過，燥氣流行，金勝火復，而民病焉。故宜以此方治之。</p>
<p>牛膝　木瓜　白芍藥　杜仲　黃松節　菟絲子　枸杞子　天麻　生薑　大棗　甘草</p>
<p>繆問解此方曰：此治歲金太過，肝木受邪之方也。夫金性至剛，害必陵木，民病兩脅與少腹痛，目赤痛，肩背至胻足皆痛。是非肝為金遏，鬱而不舒，胡上下諸痛悉見耶？蓋肝藏血，而所畏惟金。肺氣逆行，不獨上蒙清竅，且無以榮養百骸，緣見諸痛。及其火復陰傷，更致氣血交病，用藥之例，補肝血者可以從酸，補肝氣者必不得從辛矣。何則？酸可育肝之陰，辛則劫肝之血也。故方用牛膝酸平下達為君，木瓜酸溫舒筋為臣。而即佐以白芍，和厥陰之陰，且制肺金之橫。杜仲養風木之氣，自無辛烈之偏。同為氣血交補，義仍重取肝陰，最為有見至。松節利血中之濕，且治關節之痛。菟絲子入三陰之經，專助筋脈之力。復以枸杞甘平潤肺，合之天麻辛溫息風，緊安而木亦平，此則柔克之道也。顧慮周密，雖有火氣來復，喘咳氣逆等證，亦可無憂矣。</p>
<p>陳無擇《三因方》黃連茯苓湯</p>
<p>此以六丙年太羽運，歲水太過，寒氣流行，水勝土復，而民病焉。故宜以此方治之。</p>
<p>黃連　黃芩　赤茯苓　半夏　通草　車前子　甘草　遠志　麥冬　生薑　大棗</p>
<p>繆問解此方曰：歲水太過，寒氣流行，邪害心火。此而不以辛熱益心之陽，何耶？按：六丙之歲，太陽在上，澤無陽焰，火發待時。少陰在上，寒熱陵犯，氣爭於中。少陽在上，炎火乃流。陰行陽化，皆寒盛火鬱之會也。故病見身熱，煩躁，譫妄，脛腫，腹滿等證，種種俱水濕鬱熱見端。投以辛熱，正速斃耳。丙為陽剛之水，故宗《內經》氣寒氣涼，治以寒涼立方，妙在不理心陽而專利水清熱。以黃連之可升可降，寒能勝熱者，平其上下之熱。更以黃芩之可左可右，逐水濕清表裡熱者，泄其內外之邪。茯苓、半夏通利陽明。通草性輕，專療浮腫。車前色黑，功達水源。甘草為九土之精，實堤御水，使水不上陵於心，而心自安也。心為君主，義不受邪，僅以遠志之辛，祛其譫妄，遊刃有餘。心脾道近，治以奇法也。但苦味皆從火化，恐燥則傷其嬌臟，故佐以麥冬養液保金，且以麥冬合車前，可已濕痹，具見導水功能。土氣來復，即借半夏之辛溫以疏土。實用藥之妙，豈思議所可及哉。</p>
<p>陳無擇《三因方》五味子湯</p>
<p>此以六辛年少羽運，歲水不及，濕乃盛行。土勝木復，而民病焉。故宜以此方治之。</p>
<p>五味子　附子片　熟地黃　巴戟天　鹿茸　杜仲（炒）　山茱萸　生薑　鹽</p>
<p>繆問解此方曰：辛年主病，身重，濡泄，寒瘍，足痿，清厥等證，皆涸流之紀，腎虛受濕也。然而淡滲逐濕則傷陰，風藥勝濕益耗氣，二者均犯虛虛之戒矣。蓋腎中之陽弱，少火乏生化之權則濡泄，肌肉失溫煦之運則濕不行，因而入氣分則為身重，入分血則為寒瘍。腎中之陰弱，則痿痛而煩冤，即《內經》所稱內舍腰膝，外舍谿谷。皆濕之為害也。故君以五味子之酸收，收陰陽二氣於坎中。臣以直入坎宮之附子，急助腎陽，遍走經絡，逐陰霾，破竹之勢有非他藥可及者。再佐以熟地甘苦悅下之味，填補腎陰，助五味子固護封蟄。治腎之法，無遺蘊矣。巴戟甘溫入陰，除痹有效。鹿茸鹹溫補血，益髓稱神。精不足者，補之以味是也。為木所復，目視䀮䀮，筋骨痠楚，肝虛可知。肝欲辛，補以杜仲之辛。肝喜酸，與之以萸肉之酸。況二藥並行，能除濕痹而利關節，補肝即所以益腎，又子能令母實之意，非獨治其來復也。</p>
<p>陳無擇《三因方》蓯蓉牛膝湯</p>
<p>此以六丁年少角運，歲木不及，燥乃盛行，金勝火復，而民病焉。故宜以此方治之。</p>
<p>蓯蓉　熟地黃　牛膝　當歸　白芍藥　木瓜　甘草　烏梅　鹿角　生薑　大棗</p>
<p>繆問解此方曰：此與六庚年之牛膝湯同為補肝之劑，而補之之法大有徑庭矣。民病胠脅少腹痛，厥陰之經下絡少腹，肝虛則陽下陷而為痛，木動則風內攻而為腸鳴鶩溏。是年風燥火熱，多陽少陰，不資液以救焚，則熇熇之勢遂致燎原，是當藉天一之水以制其陽焰者也。但腎為肝母，徒益其陰，則木無氣以升，遂失春生之性；僅補其陽，則木乏水以溉，保無隕落之憂？故必水火雙調，庶合虛則補母之義。蓯蓉咸能潤下，溫不劫津，坎中之陽所必需。熟地苦能堅腎，潤以滋燥，腎中之陰尤有賴。陰陽平補，不致有偏勝之虞矣。合之牛膝酸平達下，再復歸、芍辛酸化陰，直走厥陰之臟，血燥可以無憂。但為火所復，而為寒熱、瘡瘍，則一從少陽始，一從少陰來也。木瓜之酸泄少陽，甘草之甘瀉少陰，烏梅止溏泄，鹿角主瘡瘍，薑、棗和營衛。同一補肝，而法有不同如此。</p>
<p>陳無擇《三因》茯苓湯</p>
<p>此以六壬年太角運，歲木太過，風氣流行，木勝金復，而民病焉。故宜以此方治之。</p>
<p>白茯苓　白朮　甘草　草果　厚朴　半夏　乾薑（炮）　青皮　生薑　大棗</p>
<p>繆問解此方曰：發生之紀，風氣流行，木旺肝強，脾土受邪之會也。民病飧泄，食減，體重，煩冤，腸鳴，腹滿，甚則忽忽善怒，肝木乘脾極矣。是當用肝病實脾法以為根本之地。夫風淫所勝，治以苦甘，而治臟必先通腑。故君以茯苓，通利脾家之濕。而即臣以白朮、甘草，一苦一甘，補脾之體。佐以草果、厚朴，辛香導滯，宣脾之用。健運不愆，臟腑有交賴矣。半夏助辛淡之用，炮姜資焦苦之功，治脾之法已盡乎此。而風淫所勝，平之宜急，加以青皮之酸，合之甘草之甘，所謂以酸瀉之、以甘緩之是也。金氣來復，脅痛而吐，木益病矣。瀉之、緩之，已備具於諸藥之中。使以薑棗調營益衛，為治中所必需。信乎！治病之必求於本也。</p>
<p>陳無擇《三因方》麥門冬湯</p>
<p>此以六戊年太徵運，歲火太過，炎暑流行，火勝水復，而民病焉。故宜以此方治之。</p>
<p>麥門冬　人參　桑白皮　紫菀茸　半夏　甘草　白芷　竹葉　生薑　大棗</p>
<p>繆問解此方曰：歲火太過，炎暑流行，熱甚則燥，肺金受其侮矣。民病瘧，少氣，血溢泄等證，肺臟被爍可知。此而不陰陽並補，則金敗水竭，火無所畏，多將熇熇矣。麥冬養肺之陰，人參益肺之氣。張潔古謂參味苦甘，甘能瀉火，麥冬味苦兼泄心陽，且救金，且抑火，一用而兩擅其長，肺之欲有不遂者乎？然肺為多氣之臟，益之而無以開之亦不可也。桑皮甘寒，紫菀微辛，開其膹郁，藉以為止血之功。再用半夏、甘草以益脾土，虛則補其母也。白芷辛芬，能散肺家風熱，治脅痛稱神。竹葉性升，引藥上達。補肺之法，無餘蘊矣。水氣來復，實上即可御水，又何煩多贅乎？要知此方之妙，不犯瀉心苦寒之品最為特識。蓋歲氣之火屬在氣交，與外淫之火有間，設用苦寒，土氣被戕，肺之化源絕矣。是方也，惟肺脈微弱者可用。若沉數有力及浮洪而滑疾者，均非所宜。此中消息，願後賢會之。</p>
<p>陳無擇《三因方》黃耆茯神湯</p>
<p>此以六癸年少徵運，歲火不及，寒乃盛行，水勝土復，而民病焉。故宜以此方治之。</p>
<p>生黃耆　茯神　紫河車　遠志　酸棗仁　生薑　大棗</p>
<p>繆問解此方曰：六癸之水，其臟為心，其發為痛。揆厥病情，無一非心血不足見端。蓋心為生血之臟，血足則榮養百骸，不足則病多傍見，如胸脅膺背諸痛，甚則屈不能伸。而肩臂之絡如青靈、少海諸穴，咸繫於心。則止痛必專補血，從可知矣。方用黃耆走表止痛於外。茯神入心，益氣於中。而即以河車，血肉有情補其心血。遠志挈離入坎，育其心神。藥物無多，簡而賅，切而當矣。土氣來復，反侵水臟，亦足妨心。佐以苡米，甘淡悅脾，即有治痿之功，而又藉以交通心腎。蓋嬰兒奼女，必媒合於黃婆。此治心腎者，所以必兼治脾也。要之，氣交之病，多屬臟氣侵陵，非如六腑之可瀉。即偶用以佐治，亦不可以太過。天干十方，具本此義。特為拈出，可為世之操刃者頂門下一針矣。</p>

<h1>《內經》運氣病釋九</h1>
<p>陳無擇《三因方》敷和湯　病見前《六元篇》，今不再出。</p>
<p>此以巳亥十年，厥陰司天，少陽在泉，風燥火熱之氣見於氣交，而民病焉。故宜以此方治之。</p>
<p>半夏　茯苓　酸棗仁（生）　甘草（炙）　五味子　乾薑（炮）　枳實　青皮　訶子　大棗</p>
<p>初之氣，陽明加臨厥陰，本方加牛蒡子。</p>
<p>二之氣，太陽加臨少陰，本方加麥冬、山藥。</p>
<p>三之氣，厥陰加臨少陽，本方加紫菀。</p>
<p>四之氣，少陰加臨太陰，本方加澤瀉。</p>
<p>五之氣，太陰加臨陽明，依本方。</p>
<p>終之氣，少陰加臨太陽，依本方。</p>
<p>繆問解此方曰：風木主歲，經謂熱病行於下，風病行於上，風燥勝復形於中，濕化乃行。治宜辛以調其上，咸以調其下。蓋辛從金化能制厥陰，咸從水化能平相火。揆厥病機，或為寒，或為熱，或為溫厲。病非一端，氣原龐雜，用藥非具卓識，又何從而措手哉？此方配合氣味尤妙，論其氣則寒熱兼施，論其味則辛酸鹹合用。有補虛，有瀉實，其大要不過瀉火平木而已。半夏辛能潤下，合茯苓之淡滲，祛濕除黃。棗仁生用，能瀉相火。甘草炙用，能緩厥陰。《別錄》載五味子除熱有專功，故風在上以甘酸泄之，而火在下以鹹溫制之也。再加炮姜以溫上年未退之寒，枳實以泄本年中之濕。青皮、訶子，協大棗醒胃悅脾，無邪不治矣。初之氣，加牛蒡之辛平，導炮姜之辛溫以散寒。二之氣，病反中熱，加麥冬以清金，山藥以益土。三之氣，木邪內肆，加紫菀佐金平木。四之氣，濕熱交甚，加澤瀉以逐濕，山梔以清濕中之熱。五氣、終氣，並從本方。藥味無多，絲絲入扣。世謂司天板方，不可為訓，豈其然哉。按：繆氏於「初氣民病寒於右」之下，解作「右脅」，因謂炮姜能溫右脅之寒，此誤也，故改之。</p>
<p>陳無擇《三因方》正陽湯　按：陳氏以平氣升陽二字歸諸少陽相火，故於少陰君火之年以正陽名其方。</p>
<p>此以子午十年，少陰司天，陽明在泉，水火寒熱之氣見於氣交，而民病焉。故宜以此方治之。</p>
<p>當歸　川芎　元參　旋覆花　白薇　白芍藥　桑白皮　甘草　生薑</p>
<p>初之氣，太陽加臨厥陰，本方加升麻、棗仁。</p>
<p>二之氣，厥陰加臨少陰，本方加車前子、白茯苓。</p>
<p>三之氣，少陰加臨少陽，本方加麻仁、杏仁。</p>
<p>四之氣，太陰加臨太陰，本方加荊芥、茵陳。</p>
<p>五之氣，少陽加臨陽明，依本方。</p>
<p>終之氣，陽明加臨太陽，本方加蘇子。</p>
<p>繆問解此方曰：少陰司天之歲，經謂熱病生於上，清病生於下，寒熱固結而爭於中。病咳喘，血溢泄，及目赤心痛等證，寒熱交爭之歲也。夫熱為火性，寒屬金體，用藥之權，當辛溫以和其寒，酸苦以泄其熱，不致偏寒偏熱，斯為得耳。君當歸，味苦氣溫，可升可降，止諸血之妄行，除咳定痛，以補少陰之陰。川芎味辛氣溫，主一切血，治風痰飲發有神功。元參味苦鹹，色走腎，而味入心，偕旋覆之咸能軟堅、白薇之咸以泄熱者，合《內經》咸以調其上之法也。白芍酸苦微寒，主邪氣而除血痹，偕桑皮之瀉肺火而散瘀血者，合《內經》酸以安其下之義也。諸藥既有維持上下之功，復加甘草、生薑，一和一散，上熱下清之疾胥蠲矣。初之氣加升麻之升清陽，酸棗之除煩渴，以利其氣鬱。氣利則諸痛自止。二之氣加車前以明目，茯苓以通淋。三之氣加麻、杏二味，一以潤燥，一以開肺。四之氣加荊芥，入木泄火，止妄行之血。茵陳入土除濕，去淤熱之黃。陳氏藏器謂荊芥搜肝風，治勞渴、嗌乾、飲發均為專藥。五之氣依正方。終之氣加蘇子以下氣。傳曰：剛克柔克，真斯道之權衡也。</p>
<p>陳無擇《三因方》備化湯</p>
<p>此以丑未十年，太陰司天，太陽在泉，濕寒之氣見於氣交，而民病焉。故宜以此方治之。</p>
<p>附子片（炮）　生地黃　茯苓　覆盆子　牛膝　木瓜　生薑　甘草</p>
<p>初之氣，厥陰加臨厥陰，依本方。</p>
<p>二之氣，少陰加臨少陰，本方去附子，加防風、天麻。</p>
<p>三之氣，太陰加臨少陽，本方加澤瀉。</p>
<p>四之氣，少陽加臨太陰，依本方。</p>
<p>五之氣，陽明加臨陽明，依本方。</p>
<p>終之氣，太陽加臨太陽，依本方。</p>
<p>繆問解此方曰：丑未之歲，陰專其令，陽氣退避，民病腹脹，胕腫，痞逆，拘急，其為寒濕合邪可知。夫寒則太陽之氣不行，濕則太陰之氣不運。君以附子大熱之品，通行上下，逐濕祛寒。但陰極則陽為所抑，濕中之火亦能逼血上行，佐以生地涼沸騰之勢，並以制辛烈之雄。茯苓、覆盆，一滲一斂。牛膝、木瓜，通利關節。加辛溫之生薑，兼疏地黃之膩膈。甘溫之甘草，並緩附子之妨陰，謂非有制之師耶？二之氣熱甚於濕，故加防風走表以散邪，天麻息風以御火。三之氣濕甚於熱，故加澤瀉以利三焦決瀆之道。餘氣並依正方。抑其太過，扶其不及，相時而動，按氣以推。非深明於陰陽之遞嬗、藥餌之功用者，烏足以語於斯？</p>
<p>陳無擇《三因方》升明湯</p>
<p>此以寅申十年，少陽司天，厥陰在泉，風熱之氣見於氣交，而民病焉。故宜以此方治之。</p>
<p>酸棗仁（生、熟各半）　車前　紫檀香　薔薇　青皮　半夏　生薑　甘草</p>
<p>初之氣，少陰加臨厥陰，本方加白薇、元參。</p>
<p>二之氣，太陰加臨少陰，本方加丁香。</p>
<p>三之氣，少陽加臨少陽，本方加赤芍、漏蘆、升麻。</p>
<p>四之氣，陽明加臨太陰，本方加茯苓。</p>
<p>五之氣，太陽加臨陽明，依本方。</p>
<p>終之氣，厥陰加臨太陽，本方加五味子。</p>
<p>繆問解此方曰：是歲上為相火，下屬風木。正民病火淫風勝之會也。棗仁味酸平，《本經》稱其治心腹寒熱邪結。熟用則補肝陰，生用則清膽熱，故君之以泄少陽之火。佐車前之甘寒，以瀉肝家之熱。司天在泉，一火一風，咸賴乎此。紫檀為東南間色，寒能勝火，咸足柔肝，又上下維持之聖藥也。風木主令，害及陽明，嘔吐、瘧、泄，俱肝邪犯胃所致。薔薇為陽明專藥，味苦性冷，除風熱而散瘡瘍，兼清五臟客熱。合之青皮、半夏、生薑，平肝和胃，散逆止嘔。甘草緩肝之急，能瀉諸火。平平數藥，無微不入，理法兼備之方也。初之氣加白薇，苦鹹以清血分之邪。元參苦寒，以除氣分之熱。二之氣加丁香，醒脾止吐。三之氣加赤芍之酸寒，以清血分之熱。漏蘆之鹹寒，以清氣分之邪。蓋漏蘆能通小腸、消熱毒。且升麻升散火邪，以治目赤。四之氣加茯苓，利濕泄滿。五之氣依正方。終之氣加五味子之酸以收之。</p>
<p>陳無擇《三因方》審平湯</p>
<p>此以卯酉十年，陽明司天，少陰在泉，清熱之氣見於氣交，而民病焉。故宜以此方治之。</p>
<p>天門冬　山茱萸　白芍藥　遠志　紫檀香　白朮　生薑　甘草</p>
<p>初之氣，太陰加臨厥陰，本方加茯苓、半夏、紫蘇。</p>
<p>二初氣，少陽加臨少陰，本方加白薇、元參。</p>
<p>三之氣，陽明加臨少陽，本方去萸肉、遠志、白朮，加丹參、車前。</p>
<p>四之氣，太陽加臨太陰，本方加棗仁、車前。</p>
<p>五之氣，厥陰加臨陽明，依本方。</p>
<p>終之氣，少陰加臨太陽，依本方。</p>
<p>繆問解此方曰：陽明司天，少陰在泉，民見諸病，莫非金燥火烈見端。治宜咸與苦與辛。咸以抑火，辛苦以助金。故君以天冬，苦平濡潤，化燥抑陽，古人稱其治血妄行，能利小便，為肺家專藥，有通上徹下之功。金不務德，則肝必受戕，萸肉補肝陽也，白芍益肝陰也。但火位乎下，勢必炎上助燥，滋虐為害尤烈。妙在遠志辛以益腎，能導君火下行。紫檀咸以養營，且制陽光上僭。又佐白朮以致津，合生姜以散火，甘草潤肺瀉心。運氣交賴其配合氣味之妙如此。凡水火不調等證，有不立愈者哉！初之氣加茯、半利水和脾，紫蘇補中益氣。二之氣加白薇之苦鹹，以治寒熱。元參之苦寒，以泄浮火。三之氣燥熱相合，故去萸肉之酸收，遠志之苦泄，白朮之香燥，加丹參生血和營，佐車前益腎導火。四之氣加棗仁入心以育神，車前入腎以治痿。五氣、終氣皆不用加減。成法可稽，而無不可見活法之妙也。</p>
<p>陳無擇《三因方》靜順湯</p>
<p>此以辰戌十年，太陽司天，太陰在泉，寒濕之氣見於氣交，而民病焉。故宜以此方治之。</p>
<p>附子片（炮）　乾薑（炮）　茯苓　牛膝　甘草　防風　訶子　木瓜</p>
<p>初之氣，少陽加臨厥陰，本方去附子，加枸杞。</p>
<p>二之氣，陽明加臨少陰，本方仍加附子。</p>
<p>三之氣，太陽加臨少陽，本方去薑、附、木瓜，加人參、地榆、枸杞、白芷。</p>
<p>四之氣，厥陰加臨太陰，本方加石榴皮。</p>
<p>五之氣，少陰加臨陽明，依本方。</p>
<p>終之氣，太陰加臨太陽，本方去牛膝，加當歸、白芍藥、阿膠。</p>
<p>繆問解此方曰：太陽司天之歲，寒臨太虛，陽氣不令，正民病寒濕之會也。君附子，以溫太陽之經。臣炮姜，以煦太陰之陽。茯苓、牛膝，導附子專達下焦。甘草、防風，引炮姜上行脾土。復以訶子酸能醒胃，木瓜酸可入脾，且賴斂攝肺金，恐辛熱之僭上而無制也。防風、附子，皆通行十二經，合用之，而且表裡寒濕均除矣。初之氣風火交煽，故去附子之辛熱，且加枸杞以養陰。二之氣大涼反至，故仍加附子以禦寒也。三之氣病寒反熱，不宜酸溫益火，故去薑、附、木瓜。熱傷氣，加人參以助氣；熱傷血，加地榆以涼血。再以枸杞養營益陰，白芷消散外瘍。四之氣風濕交爭，加石榴皮甘酸溫澀，且治筋骨腰腳攣痛，並主注下赤白。五之氣無有他害，故依正方。終之氣一陽內伏，津液為傷，故去牛膝破血之品，而加歸、芍入肝以致津，阿膠入腎以致液焉。</p>

<h1>附：《內經》遺篇病釋一卷</h1>

<h2>《內經》遺篇小引</h2>
<p>《素問》不見「疫」字，以「刺法」、「本病」二篇之遺也。「六元正紀」初、終之氣有病溫癘者，固即《內經》之論疫。然疫之一字，則獨見於「刺法」、「本病」論中。自二篇之遺，而疫字遂不見於《內經》。後人之不識何病是疫，且競以溫熱病為疫者，蓋即因此二篇之遺故耳。余於運氣之病既逐篇盡釋之，而以此二篇所論五疫之大小相似，正與「六元紀」之遠近咸若互相發明，真是論疫之原，不可不並為之釋意。固不僅為天地五星呆詮升降，故不為之表，而但論而存之，以貽世之欲明疫病非溫熱，即可以知溫熱之治，必當求諸仲景傷寒之論。是則余所望於後之君子矣。</p>

<h2>《內經》遺篇病釋</h2>
<p>「刺法」、「本病」二篇</p>
<p>此二篇皆言疫癘之由，與「六元正紀」五郁證相表裡也。</p>
<p>巳亥年，火金二郁證。</p>
<p>民病伏陽，內生煩熱，心神驚悸，寒熱間作。久郁暴熱，化作溫癘火疫，皆煩而燥渴渴甚。治之以泄之可止。</p>
<p>此巳亥繼辰戌之後，厥陰當正太陽之位以司天，其間氣少陰君火居辰戌之泉右者，必先升巳亥之天左，然後司天厥陰得以遷正。而火所畏者，天蓬水星也，勝之則升而不前。凡醜、卯、巳、未、酉、亥，六支皆屬陰年，即皆不及。巳亥以不及之支，厥陰未及遷正，其昇天左之君火本未當位，而又遇辛巳、辛亥年干中運，並以水勝少陰之火，故巳亥支中獨於二辛水乾，每見火鬱之證也。</p>
<p>民皆昏倦，夜臥不安，咽乾引飲，懊熱內煩，久而掉眩，手足直而不仁，兩脅作痛，滿目忙忙。</p>
<p>此巳亥繼辰戌之後，厥陰當正太陽之位以司天，其間氣陽明燥金居辰戌之天右者，必先降巳亥之泉左，然後司天厥陰得以遷正。而金所畏者，地彤火星也，勝之則降而不入。凡子、寅、辰、午、申、戌六支，皆屬陽年，即皆有餘。上陽支辰戌司天，太陽以有餘而不退位，則天右陽明本未當位，而又遇癸巳、癸亥年干中運，並以火勝陽明之金，故巳亥支中獨於二癸火干，每見金鬱之證也。</p>
<p>巳亥年，太陽不退位，則厥陰不遷正。</p>
<p>民病原闕。按：是年經文原闕「民病」，而以上年太陽未即退位之義推之，當即可以「巳亥初氣，民病寒於右之下」一語補之。</p>
<p>又病喜怒，目系轉，轉筋，淋溲小便赤。按：前病是因不退位，後病是因不遷正。下仿此。</p>
<p>此以巳亥之年，猶行辰戌之令，寒氣布天，風化不行也。</p>
<p>子午年，土水二郁證。</p>
<p>民病風厥涎潮，偏痹不隨，脹滿，久而伏郁化疫，夭亡，臉肢腑黃疸，滿閉。</p>
<p>此子午繼巳亥之後，少陰當正厥陰之位以司天。其間氣太陰濕土居巳亥之泉右者，必先升子午之天左，然後司天少陰得以遷正。而土所畏者，天衝木星也。勝之則升而不前，凡他子午支火、土、金、水運，太陰土均無所畏。而惟壬子、壬午木運之年，剛木干太過之氣先天而至，中運之木隨之勝土，而巳亥泉右之土斯郁。故子午支中獨於二壬木干，每見土鬱之證也。</p>
<p>民病大厥，四肢重怠，陰痿少力。</p>
<p>此子午繼巳亥之後，少陰當正厥陰之位以司天，其間氣太陽寒水居巳亥之天右者，必先降子午之泉左，然後司天少陰得以遷正。而水所畏者，地阜土星也，勝之則降而不入。凡他子午支木、火、金、水之運，太陽寒水均無所畏，而惟甲子、甲午土運之年，剛土乾太過之氣先天而至，中運之土隨之勝水，巳亥天右之水斯郁。故子午支中獨於二甲土乾，每見水鬱之證也。</p>
<p>子午年，厥陰不退位，則少陰不遷正。</p>
<p>民病溫疫，疵廢風生，皆肢節痛，頭目痛，伏熱內煩，咽喉干引飲。又病寒熱，四肢煩痛，腰脊強直。</p>
<p>此以子午之年猶行巳亥之令，熱化不行，風反為災也。</p>
<p>丑未年，火木二郁證。</p>
<p>民病伏陽在內，煩熱生中，心神驚駭，寒熱間爭。久鬱而化，伏熱內煩，痹而生厥，甚則血溢。</p>
<p>此丑未繼子午之後，太陰當正少陰之位以司天，其間氣少陽相火居子午之泉右者，必先升丑未之天左，然後司天太陰得以遷正。而火所畏者，天蓬水星也，勝之則升而不前。凡醜、卯、巳、未、酉、亥六支，皆屬陰年，即皆不及。丑未以不及之支，太陰未及遷正，其應昇天左之少陽本未當位，而又遇辛丑、辛未年干中運，並以水勝少陽之火，故丑未支中獨於二辛水乾，每見火鬱之證也。</p>
<p>民皆風燥相伏，懼清傷臟。</p>
<p>此丑未繼子午之後，太陰當正少陰之位以司天，其間氣厥陰風木居子午之天右者，必先降丑未之泉左，然後司天太陰得以遷正。而木所畏者，地晶金星也，勝之則降而不入。凡子、寅、辰、午、申、戌六支，皆屬陽年，即皆有餘。上陽支子午司天，少陰以有餘而不退位，則右間厥陰本未當位，而又遇乙丑、乙未年於中運，並以金勝厥陰之木，故丑未支中獨於二乙金干，每見木鬱之證也。</p>
<p>丑未年，少陰不退位，則太陰不遷正。</p>
<p>民病膈熱，咽乾，血溢，驚駭，小便赤澀，丹瘤，疹，瘡瘍留毒。又病手足肢節腫滿、大腹水腫、填臆不食、飧泄、脅滿、四肢不舉。</p>
<p>此以丑未之年猶行子午之令，雨化不行，熱氣尚治也。</p>
<p>寅申年，金火二郁證。</p>
<p>民病上熱，喘嗽，血溢。久鬱而化，脅滿悲傷，寒鼽嚏，嗌乾，手拆，皮膚燥。</p>
<p>此以寅申繼丑未之後，少陽當正太陰之位以司天，其間氣陽明燥金居丑未之泉右者，必先升寅申之天左，然後司天少陽得以遷正。而金所畏者，天英火星也，勝之則升而不前。凡他寅申支木、土、金、水之運，陽明金均無所畏，而惟戊寅、戊申火運之年剛火干，太過之氣先天而至，中運之火隨之勝金，丑未泉右之金斯郁。故寅申支中獨於二戊火干，每見金鬱之證也。</p>
<p>民病面赤心煩，頭痛目眩，溫病欲作。</p>
<p>此以寅申繼丑未之後，少陽當正太陰之位以司天，其間氣少陰君火居丑未之天右者，必先降寅申之泉左，然後司天少陽得以遷正。而火所畏者，地元水星也，勝之則降而不入。凡他寅申支木、火、土、金之運，少陰火均無所畏，而惟丙寅、丙申水運之年剛水乾，太過之氣先天而至，中運之水隨之勝火，丑未天右之火斯郁。故寅申支中獨於二丙水乾，每見火鬱之證也。</p>
<p>寅申年，太陰不退位，則少陽不遷正。</p>
<p>民病四肢少力，食飲不下，足脛寒，陰痿閉塞，失溺小便數，泄注淋漓。又病痎瘧，骨熱，心悸驚駭，甚時血溢。</p>
<p>此以寅申之年猶行丑未之令，火氣不行，濕乃布天也。</p>
<p>卯酉年，水土二郁證。</p>
<p>民病注下，食不及化，久而成郁，厥逆而噦，熱生於內，氣痹於外，足脛痠冷，反生心悸懊熱，暴煩複厥。</p>
<p>此以卯酉繼寅申之後，陽明當正少陽之位以司天，其間氣太陽寒水居寅申之泉右者，必先升卯酉之天左，然後司天陽明得以遷正。而水所畏者，天芮土星也，勝之則升而不前。凡醜、卯、巳、未、酉、亥六支，皆屬陰年，即皆不及。卯酉以不及之支，陽明未及遷正，其應昇天左之太陽本未當位，而又遇巳卯、巳酉年干中運，並以土勝太陽之水，故卯酉支中獨於二巳土乾，每見水鬱之證也。</p>
<p>民病四肢不舉，昏眩，肢節痛，腹滿填臆。</p>
<p>此以卯酉繼寅申之後，陽明當正少陽之位以司天，其間氣太陰濕土居寅申之天右者，必先降卯酉之泉左，然後司天陽明得以遷正。而土所畏者，地蒼木星也，勝之則降而不入。凡子、寅、辰、午、申、戌六支，皆屬陽年，即皆有餘。上陽支寅申司天，少陽以有餘而不退位，則右間厥陰本未當位，而又遇丁卯、丁酉年干中運，並以木勝太陰之土，故卯酉支中獨於二丁木干，每見土鬱之證也。</p>
<p>卯酉年，少陽不退位，則陽明不遷正。</p>
<p>民病少氣，寒熱更作，便血，上熱，小腹堅滿，小便赤沃，甚則血溢。又病寒熱鼽嚏，皮毛折，爪甲枯焦，甚則喘嗽息高，悲傷不樂。</p>
<p>此以卯酉之年猶行寅申之令，火尚布天，金化不行也。</p>
<p>辰戌年，木火二郁證。</p>
<p>民病溫疫早發，咽嗌乾，四肢滿，肢節皆痛，郁久而發卒中偏痹，手足不仁。</p>
<p>此以辰戌繼卯酉之後，太陽當正陽明之位以司天，其間氣厥陰風木居卯酉之泉右者，必先升辰戌之天左，然後司天太陽得以遷正。而木所畏者，天柱金星也，勝之則升而不前。凡他辰戌支木、火、土、水之運，太陽水均無所畏，而惟庚辰、庚戌金運之年剛金干，太過之氣先天而至，中運之金隨之勝木，卯酉泉右之木斯郁。故辰戌支中獨於二庚金干，每見木鬱之證也。</p>
<p>民病面赤心煩，頭痛目眩，熱病欲作。</p>
<p>此以辰戌繼卯酉之後，太陽當正陽明之位以司天，其間氣少陽相火居卯酉之天右者，必先降辰戌之泉左，然後司天太陽得以遷正。而火所畏者，地元水星也，勝之則降而不入。凡他辰戌支木、火、土、金之運，少陽火均無所畏。而惟丙辰、丙戌水運之年剛水乾，太過之氣先天而至，中運之水隨之勝火，卯酉天右之火斯郁。故辰戌支中獨於二丙水乾，每見火鬱之證也。</p>
<p>辰戌年，陽明不退位，則太陽不遷正。</p>
<p>民病嘔吐，暴注，食飲不下，大便乾燥，四肢不舉，目瞑掉眩。又病溫癘，喉閉，嗌乾，煩躁而渴，喘息有音。</p>
<p>此以辰戌之年猶行卯酉之令，燥尚布天，寒化不行也。</p>
<p>按：此則《內經》遺篇所言疫癘者，方是後世所謂瘟疫之病。特因古無「瘟」字，概作「溫」字，故誤以溫熱病為即瘟疫耳。</p>
<p>巳亥陰年，火欲升，而天蓬之水抑之。當刺包絡之滎勞宮穴。</p>
<p>巳亥陰年，金欲降，而地彤之火窒之。當刺心包絡之所出中衝穴、手少陽之所入天井穴。</p>
<p>子午陽年，土欲升，而天衝之木抑之。當刺足太陰之俞太白穴。</p>
<p>子午陽年，水欲降，而地阜之土窒之。當刺足太陰之所出隱白穴、足陽明之所入三里穴。</p>
<p>丑未陰年，火欲升，而天蓬之水抑之。當刺包絡之滎勞宮穴。</p>
<p>丑未陰年，木欲降，而地晶之金窒之。當刺手太陰之所出少商穴、手陽明之所入曲池穴。</p>
<p>寅申陽年，金欲升，而天英之火抑之。當刺手太陰之經經渠穴，先左後右。</p>
<p>寅申陽年，火欲降，而地元之水窒之。當刺足少陰之所出湧泉穴、足太陽之所入委中穴，先左後右。</p>
<p>卯酉陰年，水欲升，而天芮之土抑之。當刺足少陰之合陰谷穴，先左後右。</p>
<p>卯酉陰年，土欲降，而地蒼之木窒之。當刺足厥陰之所出大敦穴、足少陽之所入陽陵泉穴。</p>
<p>辰戌陽年，木欲升，而天柱之金抑之。當刺足厥陰之井大敦穴。</p>
<p>辰戌陽年，火欲降，而地元之水窒之。當刺足少陰之所出湧泉穴、足太陽之所入委中穴。</p>
<p>凡天氣之病曰疫，地氣之病曰癘。疫以氣言，癘以形言也。</p>
<p>凡治升之法，木鬱治木，金鬱治金，治其本經是也。</p>
<p>凡治降之法，當折其所勝，如木鬱治金，金鬱治火是也。</p>
<p>凡經言刺法宜在何經，即可為藥食之准，故並載之。</p>

<h2>木疫解</h2>
<p>壬與丁合為木運，上壬則下丁。壬午、壬子，剛木之年，少陰主政，其在泉則陽明。丁酉、丁卯，柔木也，中運天衝木星抑其上年，地右濕土不得升為本年之天左。濕土不升，則上年司天之厥陰不退位，而本年司天之少陰亦不得遷正。在下丁木之柔，不得上合壬木之剛，而反以辛水之司天臨丁木之在泉，則上辛下丁不和。木運虛，金勝木，火又復金，不獨壬失守，丁亦失守，後三年化成木疫。甚則甲申、甲寅，微則乙酉、乙卯，木疫至矣。若更遇上年在泉之丙申、丙寅不退位，則丁酉、丁卯柔木之化不正於下，有壬無丁，剛乾孤立，亦為金勝火復，三年後必作木癘。</p>

<h2>火疫解</h2>
<p>戊與癸合為火運，上戊則下癸。戊申、戊寅，剛火之年，少陽主政，其在泉則厥陰。癸亥、癸巳，柔火也，中運天英火星抑其上年，地右燥金不得升為本年之天左。燥金不升，則上年司天之太陰不退位，而本年司天之少陽亦未得遷正。在下癸火之柔不得上合戊火之剛，而反以丁木之司天臨癸火之在泉，則上丁下癸不和。火運虛，水勝火，土又覆水。不獨戊失守，癸亦失守，後三年化成火疫。甚則庚戌、庚辰，微則辛亥、辛巳，火疫至矣。若更遇上年在泉之壬戌、壬辰不退位，則癸亥、癸巳柔火之化不正於下，有戊無癸，剛乾孤立，亦為水勝土復，三年後必作火癘。</p>

<h2>土疫解</h2>
<p>甲與巳合為土運，上甲則下己。甲子、甲午，剛土之年，少陰主政，其在泉則陽明。己卯、己酉，柔土也。中運地阜土星抑其上年，天右寒水不得升為本年之地左。寒水不降，則上年司天之厥陰不退位，而本年司天之少陰亦未得遷正。在下己土之柔不得上合甲土之剛，而反以癸火之司天臨己土之在泉，則上癸下己不和。土運虛，木勝土，金又復木。不獨甲失守，己亦失守，後三年化成土疫。甚則丙寅、丙申，微則丁卯、丁酉，土疫至矣。若更遇上年在泉之戊寅、戊申不退位，則己卯、己酉柔土之化不正於下，有甲無己，剛乾孤立，亦為木勝金習，三年後必作土癘。</p>

<h2>金疫解</h2>
<p>庚與乙合為金運，上庚則下乙。庚辰、庚戌，剛金之年，太陽主政，其在泉則太陰。乙未、乙丑，柔金也。中運天柱金星抑其上年，地右風木不得升為本年之天左。風木不升，則上年司天之陽明不退位，而本年司天之太陽亦未得遷正。在下乙金之柔不得上合庚金之剛，而反以己土之司天臨乙金之在泉，則上己下乙不和。金運虛，火勝金，水又復火。不獨庚失守，乙亦失守，後三年化成金疫。甚則壬午、壬子，微則癸未、癸丑，金疫至矣。若更遇上年在泉之甲午、甲子不退位，則乙未、乙丑柔金之化不正於下，有庚無乙，剛乾孤立，亦為火勝水復，三年後必作金癘。</p>

<h2>水疫解</h2>
<p>丙與辛合為水運，上丙則下辛。丙寅、丙申，剛水之年，少陽主政，其在泉則厥陰。辛巳、辛亥，柔水也。中運地元水星抑其上年，天右君火不得降為本年之地左。君火不降，則上年司天之太陰不退位，而本年司天之少陽亦未得遷正。在下辛水之柔不得上合丙水之剛，而反以乙金之司天臨辛水之在泉，則上乙下辛不和。水運虛，土勝水，木又復土。不獨丙失守，辛亦失守，後三年化成水疫。甚則戊辰、戊戌，微則己巳、己亥，水疫至矣。若更遇上年在泉之庚辰、庚戌不退位，則辛巳、辛亥柔水之化不正於下，有丙無辛，剛乾孤立，亦為土勝木復，三年後必作水癘。</p>
<p>按：《內經·素問》為篇八十有一，原有「刺法論」、「本病論」二篇，在「六元正紀」篇後。《新校正》謂此二篇亡在王氏之前，故林億等所見全元起本亦無之，則此二篇之散佚固已久矣。惟宋元符時劉溫舒，謂《素問》運氣為治病之要，而以答問紛糅，文辭古奧，讀者難知。因為論三十篇上於朝，末附「刺法」、「本病論」，題曰《黃帝內經素問遺篇》，其篇難未入正本，而猶在今《道藏》中。明馬仲化，謂不知何代為人竊出，私傳不轉。賴有此私傳者，而尚得別存乎。至吳鶴皋，又不解此篇本是論疫，本不是論尋常溫熱，遂目以為誕而譭棄之。然考此二篇所言陰陽上下、逐年升降、民病所由，正與運氣七篇大有準對，必非後人所能假託。余於同治乙丙間亦曾為之釋，今特附刊於病釋七篇之後，以明欲辨瘟疫者，亦甚賴有此二篇也。</p>
<p><u>甲申春正月，江左下工錄畢並記</u></p>
