<header data-type="book">
<h1>醫貫砭</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐大椿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1764">公元1764年</data></dd></div>
<div><dt>底本</dt><dd>《徐氏醫書八種》，清光緖十八年重刊本（<a href="https://lccn.loc.gov/2012402487">美國國會圖書館藏本</a>）；<a href="https://ctext.org/library.pl?if=gb&res=2984">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>小道之中，切於民生日用者，醫卜二端而已。卜者，最不可憑而可憑。醫者，最可憑而不可憑者也。蓋卜之為道，布策開兆，毫無據依，而萬事萬物之隱微變態，俱欲先知洞察，此最不可憑者也。然驗者應若桴鼓，不驗者背若冰炭，愚夫愚婦，皆能辨其技之工拙也。若醫之為道，辨症定方，彰彰可考。薑、桂入口即熱，芩，連下咽知寒，巴、黃必瀉，參、術必補，莫不顯然。但病無即愈即死之理，症有假熱假寒之異，上下殊方，六經異治，先後無容顛越，輕重不得倒施。愈期有久暫之數，傳變有淺深之別，或藥不中病反有小效，或治依正法竟無近功。有效後而加病者；有無效而病漸除者；有藥本無誤，病適當劇，即歸咎於藥者；有藥本大誤，其害未發，反歸功於藥者。病家者不知也，醫者亦不知也。因而聚訟紛紜，遂至亂投藥石，誰殺之，誰生之，竟無一定之論，此最無憑者也。事既無憑，則技之良賤，何由而定？曰：有之。世故熟，形狀偉，剿說多，時命通，見機便捷，交遊推獎，則為名醫。殺人而人不知也，知之亦不怨也。反此者則為庸醫。有功則曰偶中，有咎則盡歸之。故醫道不可憑，而醫之良賤，更不可憑也。若趙養葵《醫貫》之盛行於世，則非趙氏之力自能如此也。晚村呂氏，負一時之盛名，當世信其學術，而並信其醫。彼以為是，誰敢曰非。況只記數方，遂傳絕學。藝極高而功極易，效極速而名極美，有不風行天下者耶？如是而殺人之術，遂無底止矣。嗚呼！為盜之害有盡，而賞盜之害無盡。蓋為盜不過一身誅之，則人盡知懲；賞盜則教天下之人胥為盜也，禍寧有窮哉！余悲民命之所關甚大，因擇其反經背道之尤者，力為辨析，名之曰《醫貫砭》。以請正於明理之君子，冀相與共弭其禍。雖甚不便於崇信《醫貫》之人，或遭謗黷，亦所不惜也。</p>
<p><u>乾隆六年二月既望洄溪徐大椿題</u></p>

<h1>卷上</h1>

<h2>十二官論</h2>
<p>心者，君主之官也，神明出焉。肺者，相傅之官，治節出焉。肝者，將軍之官，謀慮出焉。膽者，中正之官，決斷出焉。膻中者，臣使之官，喜樂出焉。脾胃者，倉廩之官，五味出焉。大腸者，傳道之官，變化出焉。小腸者，受盛之官，化物出焉。腎者，作強之官，伎巧出焉。三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉，氣化則能出矣。凡此十二官者，不得相失也。故主明則下安，主明，主字緊頂上文，主字來下文，何得云別有一主。以此養生則壽，歿世不殆，以為天下則大昌。主不明，則十二官危，使道閉塞而不通，形乃大傷，以此養生則殃。以為天下者，其宗大危，戒之戒之！至道在微，變化無窮，孰知其原，窘乎哉！消者瞿瞿，孰知其要？閔閔之當，孰者為良？恍惚之數，生於毫釐，毫釐之數，起於度量。千之萬之，可以益大，推之大之，其形乃制。此書專為八味、六味而作，欲表彰二方，必先講明所以然之。故遍閱經文，並無其說，只有心主之官一語，又是斷斷不可用二方者，只得將命門二字增入，然後二方可為十二官之主藥。其作偽之心如此。</p>
<p>玩《內經》註文，即以心為主。愚謂人身別有一主，非心也。開口即闢《內經》，此乃邪說之根。謂之心主之官，當與十二官平等，不得獨尊心之官為主。若以心之官為主，則下文主不明，則十二官危，當云十一官矣。此理甚明，何注經者昧此耶。明明說君主則極尊之稱也，何以不得尊之。其曰十二官危者，蓋主不明則心亦自病也。若曰十一官，則主不明之病，反不在內，於義為不備矣。蓋此一主者，氣血之根，生死之關，十二經之綱維也。</p>
<p>或問：心既非主，而君主又是一身之要。然則主果何物耶？何形耶？何處安頓耶？余曰：悉乎問也。若有物可指，有形可見，人皆得而知之矣，惟其無形與無物也。故自古聖賢，因心立論，而卒不能直指其實。因心立論，乃是說心，不是說命門也。據爾言，則從古聖賢當以命門立論矣。孔門之一貫，上紹精一執中之統，惟曾子、子貢得其傳，而二子俱以心悟，而非言傳也。設以言傳，當時門人之所共聞，不應復有何謂之問也。後來子思衍其傳，而作《中庸》。天命之性，以中為大本，而終於無聲無臭。孟子說不動心有道，而根於浩然之氣，而又曰難言也。人因外感內傷而生疾病，用草木金石之藥補之、瀉之、寒之、熱之，以調其氣。此乃極平常之理，偏要說到四書六經，談性，談命，傳道等語，與疾病何涉？即《內經》所云：司天運氣，義極精微。亦不過指六淫之氣感人耳，何嘗大言欺人耶！老氏《道德經》云：穀神不死，是曰玄牝，玄牝之門，造化之根。又曰：恍恍惚惚，其中有物。佛氏《心經》云：空中無色，無受想形識，無眼、耳、鼻、舌、身、意。又曰：萬法歸一。一歸何處？夫一也，中也、性也、浩然也、玄牝也、空中也，皆虛名也，不得已而強名之也。立言之士，皆可以虛名著論。至於行醫濟世，將以何味的為君主之藥，而可以綱維一身之疾病耶？此段乃其邪說之所從出。其云一貫，大本，難言，萬法歸一，皆暗指命門為言。則古聖賢道統之傳，並與心上毫無干涉，只是傳此腎中命門之訣，而八味、六味二方，乃是一貫，大本，難言，萬法歸一之補藥。此等怪論，自開闢以來未之或有。小人之欺世、至於此極。而粗通文理之人觀之，不但不怪，且以此人為真知孔孟之學者，亦大可怪矣。</p>
<p>腎有二，精所舍也。生於脊膂十四椎下，兩旁各一寸五分，形如豇豆，相併而曲附於脊。外有黃脂包裹，里白外黑，各有帶二條，上條繫於心包，下條過屏翳穴後，趨脊骨。兩腎俱屬水，但一邊屬陰，一邊屬陽。越人謂左為腎，右為命門，非也。命門即在兩腎各一寸五分之間，此本舊說，然亦影響杜撰之語，與《內經》全不合也。當一身之中。《易》所謂一陽陷於二陰之中。《內經》云：七節之旁，有小心是也。名曰命門，是謂真君主。《內經》何不言命門者，君主之官也。乃一身之太極，無形可見。既云小心，何以無形。兩腎之中，是其安宅也。按《內經》並無命門之說，惟《靈樞·根結篇》云：太陽根起於至陰，結於命門。命門者，目也。《衛氣篇》亦云：命門者，目也。《素問·陰陽離合論》云：太陽根於至陰，結於命門。王啟玄注云：命門者藏精。光照之所，則兩目也。經文所指命門，皆以目言。蓋以目為五臟六腑精氣所注，故曰命門。又門者，出入開闔之地。目之精光，內瑩外照而啟閉隨時，於門字義為切。若腎中一點真陽而謂之門，義亦不合。其右旁有一小竅，即三焦。《內經》明云：上焦如霧，中焦如漚，下焦如瀆。乃指腎旁小竅，杜撰不倫。三焦者，是其臣使之官。經云：三焦者，決瀆之官。膻中者，臣使之官。前段明明引過，今乃以三焦為命門臣使之官，何顛倒如此。稟命而行，周流於五臟六腑之間而不息，名曰相火。相者，言如天君無為而治，宰相代天行化，此先天無形之火，與後天有形之火不同。決瀆之官如何代天行事？且命門而指為天君，尤為支離。其左旁有一小竅，乃真陰、真水氣也，亦無形。火無形猶可，水如何說無形？且真字乃對假而言，以三焦及此竅為真火、真水，將心火腎水為假火假水耶？且前竅名三焦，此竅又名何物耶？上行夾脊，至腦中為髓海，泌其精液，注之於脈，以榮四末，真陰之氣所泌者何物之精液，且何以見得必從髓海中到四末。內注五臟六腑以應刻數，亦隨相火潛行周身，與兩腎所主後天有形之火不同。按《靈樞·營衛生會篇》論中焦云：此所受氣者，泌糟粕，蒸津液，化其精微，上注於肺脈，乃化而為血，以奉生身，莫貴於此。故獨得行於經隧，命曰營氣。又云：上焦亦與營俱行於陽二十五度，行於陰二十五度，一周也。經文鑿鑿，皆指營氣而言。今乃移作腎中水氣，杜撰不倫，顛倒錯亂，真囈語也。但命門無形之火，在兩腎有形之中為黃庭。無形之火，前指三焦，今又指命門。故曰：是誰曰？五臟之真，惟腎為根。腎為五臟之真，何物為五臟之假耶？褚齊賢云：人之受胎，始於任之兆，惟命門先具，有命門然後生心。心主血，有心然後生肺。肺主皮毛，有肺然後生腎。腎主骨髓，有腎則與命門合，二數備，是以腎有兩歧也。前云命門在中，腎在兩旁。今又引腎與命門合為二，仍是左右對待之義，前後支離如此。可見命門為十二經之主，腎無此則無以作強，而伎巧不出矣。膀胱無此，則三焦之氣不化，而水道不行矣。膀胱與三焦鑿然兩腑，云膀胱無命門則三焦不化，如何接續？脾胃無此，則不能蒸腐水穀，而五味不出矣。肝膽無此，則將軍無決斷，而謀慮不出矣。大小腸無此，則變化不行，而二便閉矣。心無此，則神明昏而萬事不能應矣。將君主之官亦退而聽命於命門，尚足當君主之稱耶？此所謂主不明，則十二官危也。此所謂三字，竟鑿然以《內經》亦以命門為主，無忌憚已極。余有一譬焉，譬之元宵之鰲山走馬燈，拜者、舞者、飛者、走者，無一不具，其中間惟是一火耳。火旺則動速，火微則動緩，火息則寂然不動。而拜者、舞者、飛者、走者，軀殼未嘗不存也。走馬燈中之物，皆是死物。所以惟恃火氣衝突機關而動。若五臟六腑各有生氣，豈專恃命門耶？惟其視五臟六腑皆為死物，所以後文別無治五臟六腑之方，專恃一八味丸治五臟六腑之病，其根皆在此也。故曰：汝身非汝所有，是天地之委形也。引莊子語，亦與上文不接。余所以諄諄必欲明此論者，欲世之養身者、治病者，的以命門為君主，而加意於火之一字。養身補火已屬偏見，況治病必視其病之所由生，而一味補火，豈不殺人乎！夫既曰立命門之火，乃人身之至寶。何世之養身者，不知保養節欲，而日夜戕賊此火，不節欲亦非專於戕賊此火。倘以斫喪之火，一概補陽，又為殺人之術矣。既病矣。治病者，不知溫養此火，而日用寒涼以直滅此火，焉望其有生氣耶？治法多端，原不是專用寒涼，亦不是專於補火也。經曰：主不明，則十二官危，以此養生則殃，戒之戒之！余今直指其歸元之路，而明示其命門君主之火，命門竟指為君火，真千古之怪論。乃水中之火，相依而永不相離也。永不相離，何以有上越之病耶？火之有餘，緣真水之不足也。毫不敢去火，只補水以配火，壯水之主，以鎮陽光。上文俱為八味作地步，又恐遺卻六味。此處忽然轉出水不足之論，邪說害人，其苦心亦如此。所謂作偽心勞也。火之不足，因見水之有餘也。水有餘之病，不知是何形象？若是虛寒等證，不得為水之有餘。若是水腫等證，亦不得專於補火。總是欺人之大言，殺人之捷徑耳。亦不必瀉水，就於水中補火，益火之原，以消陰翳。所謂原與主者，皆屬先天無形之妙，非曰心為火而其原在肝，腎為水而其主屬肺。蓋心、脾、腎、肝、肺皆後天有形之物也，須以無形之火，配無形之水，直探其君主之穴宅而求之，是謂同氣相求，文理不接。斯易以入也。所謂知其要者，一言而終也。若夫風寒暑濕燥火六者入於人身，此客氣也，非主氣也。主氣固，客氣不能入。六淫未入之先，專一用補，服八味，六味無甚害。若六淫既感，邪已傷正，仍一概用二方，則非補主氣，反補邪氣矣。能不殺人耶！且無病之人，亦何必服藥，既服藥則必視人之氣體如何而後制方，亦何得專用二方也？今之談醫者，徒知客者除之，漫不加意於主氣，何哉？縱有言固主氣者，專以脾胃為一身之主，焉知坤土是離火所生，而艮土又屬坎水所生耶。命門既是太極，何以又屬坎。若以坎論，則坎水固屬腎，而離火又屬心，仍不關乎命門矣。明乎此，不特醫學之淵源，有自聖賢道統之傳，亦自此不昧。將命門為道統言之，自覺無恥耶。而所謂一貫也，浩然也，明德也，假如孔子云參乎吾道是火，孟子云吾善養吾火，《大學》云在明明火。豈不絕倒耶！玄牝也，空中也，太極也，同此一火而已。太極是一團火，有是理耶？為聖賢，為仙，為佛，不過克全此火而歸之耳。小子之一論，闡千古之未明，見者慎勿以為迂。仙佛我不能知。若全此火即為聖賢，真乃千古之怪論。宜其自稱為闡千古之未明也。此篇之論，專為盡天下之病皆用八味而設。便講出儒、釋、道三教之合一，以見八味之不可不用。此等亂道無一字連貫，稍通文理之人見之，宜無不知其狂悖，即使其醫道果精，見此等議論，亦並其醫道而疑之。乃世之號為通文理者讀之，反以為真知性命之理，因此益信其醫學之精。而八味竟不但為治病之藥，實性命之所繫，一日不可廢者。嗚呼！吾憐趙氏，尤憐讀趙氏之書而崇信之者，其愚更勝趙氏百倍也。</p>
<figure>
<img alt="圖">
</figure>
<p>太極圖中之白圈，相傳無二。蓋陰陽未判謂之太極。今於白圈之中先有黑白二點，為一陰一陽之象，然後生出太極來，則是《易》中該云：易有兩儀，是生太極矣。太極圖可改，則古聖之書何一不可改乎？小人之無忌憚，至於此極。</p>
<p>《繫辭》曰：易有太極，是生兩儀。周子懼人之不明，而製為太極圖。無極而太極，無極者，未分之太極也；惟其未分，所以為太極。豈有未分之時為無極，已分之時為太極，太極已分則陰陽矣，豈得為太極耶？太極者，已分之陰陽也。既名陰陽，則不可名太極矣。蓋太極動而生陽，靜而生陰，豈有分為陰陽而猶稱太極者！性理之說，猶不足與此等無知妄人辨，吾恐世之讀之者偶不經意，即為所惑，貽誤不小也。</p>
<p>兩腎俱屬水，左為陰水，右為陽水。以右為命門非也，命門在兩腎中。命門左邊小黑圈是真水之穴，右邊小白圈是相火之穴。此一水一火，俱無形，日夜潛行不息。兩腎在人身中，合成一太極。</p>
<figure>
<img alt="圖">
</figure>
<p>云兩旁俱是腎，命門在中間，雖非經旨，而其言尚有影響。至分左為陰水，右為陽水。又陰水為真水，陽水為相火。又左一黑圈為真水之穴，右一白圈為相火之穴。種種杜撰支離，真屬囈語。按：《甲乙經》脊骨十四椎下有命門穴，臍下二寸亦有命門穴，此穴名也，非真有物如小心者在脊骨之內，為太極也。若穴而必有物可指，將周身七百二十穴，竟有七百二十如小心者耶。</p>
<p>命門在人身之中，對臍附脊骨，自上數下則為十四節，自下數上則為七節。《內經》曰：七節之旁有小心是也。此句出《素問·刺禁論》云：鬲肓之上，中有父母。七節之旁，中有小心。王注云：小心謂真心，神靈之宮室。乃指心包言，似得小字之意。按：《靈·邪客篇》論云：心者，精神之所舍也，其臟堅固，邪勿能容也。故諸邪之在心者，皆在心之包絡。可知心藏於內，必有出入之處，別有脂膜結聚於包絡之間，形如小心，似有此理。針者中之，即有害，故在刺禁之列，並非表明小心即命門，為十二經之主也。豈可因此《刺禁》中偶及之語，遂以一部《內經》專為小心立論，而天下之病，專治小心則無不愈乎。即晚村亦辨之云曰：父母曰小心，尊卑自見。趙氏單摘此句，是欲以小心為父母之主也，恐與經旨不合。此晚村一隙之明也。</p>
<p>或又問曰：如上所言，心為無用之物耶？古之聖賢，未有不以正心、養心、盡心為訓，與醫病何干？而先生獨外心以言道，恐心外之道，非至道也。余曰：仔細玩經文，自得之矣。經曰：神明出焉。則所繫亦重矣，豈為無用哉。盍不觀之朝廷乎，皇極殿是王者嚮明出治之所也，乾清宮是王者嚮晦晏息之所也。指皇極殿，而即謂之君身可乎？蓋元陽君主之所以為應事接物之用者，皆從心上起經綸，故以心為主。至於棲真養息，而為生生化化之根者，獨藏於兩腎之中，故尤重於腎，其實非腎，而亦非心也。云元陽為君身，心是皇極殿，腎是乾清宮。是君身在皇極殿，則不在乾清宮，在乾清宮，則不在皇極殿，其理甚彰。然則元陽到心，則有心火而無腎火。到腎，則有腎火而無心火。有心火之時，腎惟一團陰頑之氣。有腎火之時，心遂為空空蕩蕩之物。向也以命門為主，今又以命門之君主即心之君主，心之君主即命門之君主，而心與命門皆是空器，皆非君主。前後背謬，真乃隨口亂道。非其人有失心之疾者，斷不至如此猖狂也。晚村批云：此段語甚活。大抵呂氏之心先死也。</p>
<p>呂氏評曰：自許學士開補脾不如補腎之理，薛院使因之用八味、六味通治各病，通治各病四字，何等不通。病是何物，而可通治耶！趙氏又從薛氏發明其要，一歸之命門，一歸之八味。益火二字，乃全書之宗旨也。其提闡快當親切處，有前此所未及者，真立齋之功臣矣。蘇氏所謂其父殺人報仇，其子必且行劫，正此之謂也。顧病機傳變，輾轉相因，治法逆從，淺深異用。趙氏所言，皆窮源返本之論，撥亂救弊，功用甚大。各病有各病之本原，各病有各病之偏弊，若一概用八味一方，則正大亂之道矣。然以之治敗證則神效，敗證亦有補瀉、寒熱、虛實、上下之不同，若一概用八味，則八味直是起死之金丹矣。而以治初病則多疏。蓋緣主張太過，立言不能無偏，遂欲執其一說，而盡廢諸法，亦不可行也。學者識其指歸，以明生化斡旋之機，又當詳考古今立法相因異用之故，斯為十全。若徒喜其直捷簡易以為高，則鹵莽滅裂，夭枉無窮，亦非趙氏所以濟世之心也。此人直是欺世，亦何嘗有濟世之心。且彼亦並不料世之盡為所欺，至於如此之貽害，量彼亦深悔於九原也。</p>

<h2>陰陽論</h2>
<p>陰陽之理，變化無窮，不可盡述，姑舉其要者言之。夫言陰陽者，或指天地，或指氣血，或指乾坤，此對待之理。其實陽統乎陰，天包乎地，血隨乎氣。故聖人作《易》，於乾則曰大哉，乾元乃統天；　於坤則曰至哉，坤元乃順承天。古人善體《易》義，治血必先理氣，血脫益氣，故有補血不用四物湯之論。四物湯本為補血而設，謂不得專用則可，謂不用則不可。如血虛發熱，立補血湯一方，以黃耆一兩為君，當歸四錢為臣，氣藥多而血藥少，使陽生陰長。又如失血暴甚欲絕者，以獨參湯一兩，頓煎服，純用氣藥。斯時也，有形之血不能速生，幾微之氣所當急固，使無形生出有形。血驟脫者，氣亦隨之而脫，勢極危殆，故用補氣之藥以固之，使不全脫。然後漸用補血之品，以填之、生之，非謂一時之氣即能生血也。即氣固之後，仍當大補其血而以氣藥佐之，亦非專補氣也。蓋陰陽之要，原根於無也。故曰無名天地之始，忽引老子語，甚覺無謂不倫。生死消長，陰陽之常度，豈人所能損益哉。聖人裁成天地之化，輔相天地之宜，每寓扶陽抑陰之微權，方復而先憂。七日之來未濟，而預有衣袽之備，血脫之後，陰已大虧，尚欲抑之，必使全然無陰而後已耶。且既欲抑之，又何必補氣以生之。蓋扶陽抑陰，又是一義，非補氣不補血之謂。若云聖人扶氣抑血，成何語耶。總之，此人心理已絕，凡所引證，皆全然不思，隨口亂道，本無足責。所恨者，崇信之人耳。防未然而治未病也。現在血脫而將死，此時救之不暇，便欲防其血太盛而成他病耶。神農嘗藥，按陰陽而分寒熱溫涼，辛甘酸苦鹹之辨。凡辛甘者屬陽，溫熱者屬陽；寒涼者屬陰，酸苦者屬陰。陽主生，陰主殺，司命者，欲人遠殺而就生。甘溫者用之，辛熱者用之，使其躋乎春風生長之域，一應苦寒者俱不用。《神農本草》上品藥中寒熱相半。《內經》論司氣勝復，宜寒宜熱亦相半。歷古以來，所傳養生方中，寒熱溫涼亦間雜互用，此有目所共見。乃敢肆然曰：一應苦寒俱不用。此真喪心之語。據所云：則《神農本草》宜只載溫熱諸品，其餘俱編入毒藥條內，禁用可也。要之服藥原是治病，無病本不必服藥。《內經》云：五穀為養，五果為助，五菜為充，毒藥攻邪。凡藥用之不當而或太過，皆有毒。故古人謂人參、甘草皆能殺人。惟六淫七情有偏勝，則以藥救之。且《內經》云：寒者熱之，熱者寒之，溫者清之，清者溫之，何等明白！乃不問病之何因，而一概禁寒用熱，能不十殺其五耶？不特苦寒不用，至於涼者亦少用。蓋涼者秋氣也，萬物逢秋，氣不長矣。服藥原為治病而設，並非藉以生長氣血也。</p>
<p>天上地下，陰陽之定位。然地之氣每交於上，天之氣每交於下。故地天為泰，天地為否。聖人參贊天地，有轉否為泰之道。如陽氣下陷者，用味薄氣輕之品，若柴胡、升麻之類，舉而揚之，使地道左旋，而升於九天之上。陰氣不降者，用感秋氣肅殺而生，若瞿麥、萹蓄之類，抑而降之，使天道右旋，而入於九地之下。此東垣補中益氣湯，萬世無窮之利，不必降也，升清濁自降矣。動筆便自相背謬。據云地天為泰，天地為否，則宜乎陽降而陰升矣。乃反欲升陽而降陰，是欲反泰為否也。據云瞿麥、萹蓄降濁降陰於九地之下，又云不必降也，升清而濁自降矣。種種背謬，總是慣以大言欺人，全不思其中義理，所以如此。須知轉否為泰，何等關係，而僅以升、柴、瞿、萹當之，本無是理。且補中益氣湯不過因胃陽因濕下陷，以此提出陽分耳。不必著此大話頭也。</p>
<p>年月日時，皆當各分陰陽，此其大略也。獨甲子運氣，《內經》雖備言之，往往不驗。當時大撓作甲子，即以本年、本月、本日、本時為始，統紀其數如此，未必直推至上古甲子年、甲子月、日、時為曆元也。將千古聖人不易之論，竟決然斷定指為無稽之談爾，知上古甲子確是何年、何月？大撓且不足憑，誰為可憑者耶！小人之無忌憚固不足責，讀者見此等荒唐而不駭，亦有喪心之疾者也。《內經》特明氣運有如許之異，民病亦有如許之別。如此讀《內經》者，不可執泥，譬如大明統歷，選擇已定，竟將千古陰陽家，言及選擇錄命占候等書，一味抹殺，翻覺痛快。細思之，不能不啞然失笑也。可信乎，不可信乎。</p>
<p>陽一而實，陰二而虛。蓋陰之二，從陽一所分，故曰秉全體。月有盈虧，人之初生，純陽無陰，賴其母厥陰乳哺，而陰始生。如此說，則小兒止有命門，並無左腎，直待乳哺足方生出左腎來。蓋純陽無陰者，謂小兒正當發生之時，乘初陽之氣，生氣極旺，猶如四時之春，陽氣方張，不必更助其陽。非謂其體中全無陰氣也。何得扯合？是以男子二八而精始通，六十四而精已竭。女子二七而經始行，四十九而經已絕。人身之陰，止供三十年之受用，可見陽常有餘，陰常不足。前段要扶陽抑陰，此處又要扶陰抑陽，總是隨口亂道。況縱欲者多，節欲者少，故自幼至老，補陰之功一日不可缺。此陰字指陰精而言，不是泛言陰血。今之四物湯補陰者誤也。補血亦有時必用，何以必不可補。蓋補陰、補血、補精，確是三項事，補陰不專指精血言，而精血則皆屬陰也。此段議論，專要放出六味來，所以作此地步。</p>
<p>談陰陽者，俱曰氣血是矣。詎知火為陽氣之根，水為陰血之根。《易》有太極，是生兩儀，兩儀生四象，則五行乃陰陽所分，豈有水火反為陰陽之根者。盍觀之天地間，日為火之精，故氣隨之；月為水之精，故潮隨之。然此陰陽水火，又同出一根，朝朝稟行，夜夜覆命，周流而不息，相偶而不離，惟其同出一根，而不相離也。故陰陽又各互為其根，陽根於陰，陰根於陽，無陽則陰無以生，無陰則陽無以化，從陽而引陰，從陰而引陽，各求其屬而窮其根也。世人但知氣血為陰陽，而不知水火為陰陽之根，能知水火為陰陽，而誤認心腎為水火之真，此道之所以不明不行也。試觀之天上金木水火土五星見在，而日月二曜，所以照臨於天地間者，非真陰真陽乎？《內經》之論陰陽極為明白，曰：陰陽者，天地之道也，萬物之綱紀，變化之父母，生殺之本始，神明之府也。又曰：陽化氣，陰成形。又曰：水為陰，火為陽。又曰：陰勝則陽病，陽勝則陰病。又曰：陰陽者，氣血之男女也。左右者，陰陽之道路也。水火者，陰陽之徵兆也。陰陽者，萬物之能始也。故曰：陰在內，陽之守也；陽在外，陰之使也。其言陰陽也，詳而且明。故五臟合言之，則心肝陽而肺腎陰。分言之，則五臟各有陰陽，惟腎有兩，則左屬水而為陰，右屬火而為陽。人之元氣藏於腎中，腎之陰陽必宜保護，不宜戕賊，比諸臟為尤重，何等明白。乃幻成真假無形有形，根源太極等語，其說愈微妙，愈俚鄙荒唐。意在欺世，實自欺耳！人身心、肝、脾、肺、腎五行具存，而所以運行五臟六腑之間者，何物乎？有無形之相火，行陽二十五度；無形之腎水，行陰亦二十五度。行陽行陰，《內經》指榮衛言，辨見前。而其根則原於先天太極之真，此所以為真也。一屬有形，俱為後天而非真矣，非根矣。謂之根，如木之根，而枝葉所由以生也。如此說，則八味、六味之能補真陽、真陰，竟是補太極矣。嗟乎！五臟六腑，孰非有形之體，草根木皮，亦孰非有形之物，不過氣性各殊，藉以補偏救弊耳，何必過高其論，自投魔境乎！</p>
<p>既有真陰真陽，何謂假陰假陽？曰：此似是而非，多以誤人，不可不知。如人大熱發躁，口渴舌燥，非陽證乎？余視其面色赤，此戴陽也，切其脈，尺弱而無力，寸關豁大而無倫。此係陰盛於下，逼陽於上，假陽之證。余以假寒之藥，從其性而折之，頃刻平矣。如人惡寒，身不離復衣，手足厥冷，非陰證乎？余視其面色滯，切其脈澀，按之細數而有力。此係假寒之證，寒在皮膚，熱在骨髓。余以辛涼之劑，溫而行之，一汗即愈。此亦有不可汗者。凡此皆因真氣不固，故假者得以亂其真。陰盛格陽，陽盛格陰，此病變之不同，何得指為真氣不固，此亦專欲為用八味地步耳。假陽者不足，而示之有餘也。假陰者有餘，而示之不足也。此假字又與前真字不對。前所云真者，謂先天真元之氣，非後天及諸臟之氣耳。此乃以陰盛似陽，陽盛似陰之證。對真而言，則前所云真，乃指熱為實熱，寒為實寒也。不荒謬之甚乎！總之，真字本不通之至，一身之中，原無所謂假陰、假陽也。既已識其假矣，而無術以投其欲，彼亦扞格而不入。經曰：伏其所主，而先其所因，其始則同，其終則異，可使去邪而歸於正矣。</p>

<h2>五行論</h2>
<p>以火言之，有陽火，有陰火，有水中之火，有土中之火，有金中之火，有木中之火。陽火者，天上日月之火，生於寅而死於酉。陰火者，燈燭之火，生於酉而死於寅，此對待之火也。水中火者，霹靂火也。即龍雷之火，無形有雷即有電，何謂無形？而有聲，不焚草木，得雨而益熾，見於季春，而伏於季秋。原夫龍雷之見者，以五月一陰生，水底冷而天上熱。龍為陽物，故隨陽而上升。驚蟄已後，龍已漸升，何待五月？欲遷就已說，遂不顧義理如此。冬至一陽來復，故龍亦隨陽下伏，然則冬至以前一陽未生，水底終日寒冷，龍竟日日在天上耶？豈非笑談。雷亦收聲，人身腎中相火，亦猶是也。平日不能節欲，以至命門火衰，腎中陰盛，不節欲，有傷陰者，有傷陽者，何得專指為火衰。若云陰盛則精脫者，必陰虛，豈有陰反盛者耶？龍火無藏身之位，故遊於上而不歸，是以上焦煩熱咳嗽等證。善治者以溫腎之藥，煩熱咳嗽，明系陰虛，溫腎藥豈可亂投？從其性而引之歸原，使行秋冬陽伏之令，而龍歸大海，此至理也。奈何今之治陰虛火衰者，以黃柏、知母為君，而愈寒其腎，益速其弊，良可悲哉！滋陰以治虛火，苦寒以治實火，此一定之法。至庸醫之誤治，原非正法也。</p>
<p>金中火者，凡山中有金銀之礦，或五金埋瘞之處，夜必有火光。此金氣，非火光也。此金鬱土中而不得越，故有光耀發見於外。人身皮毛空竅中，自覺針刺蚊咬，及巔頂如火炎者，此肺金氣虛，火乘虛而現，肺主皮毛故也。肺家之火，何得專屬皮毛。凡咳嗽聲啞，面熱氣悶，肺痿、肺癰、吐血、消渴，種種大證，皆是肺火之證，而乃遺卻，何故？經曰：東方木實，因西方金虛也。既曰肺火，何以又曰肺虛？補北方水，即所以瀉南方火。雖曰治金中之火。而通治五行之火，無餘蘊矣。</p>
<p>金中之水，礦中之水銀是也。水銀乃未成之金也，何得指之為水。在人身為骨中之髓，至精至貴，人之寶也。巽木中水者，巽木入於坎水，而上出其水，即木中之脂膏。巽木入坎水，乃是井卦之象，豈木中之水耶？然則凡井中之水皆木中之脂膏耶？欲欺人而又不深思，遂亂道如此。人身足下，有湧泉穴，湧泉屬腎，何以指為木中之水。肩上有肩井穴，此暗水潛行之道。凡津液潤布於皮膚之內者，皮膚之內，亦非木中之水。皆井泉水也。夫水有如許之不同，總之歸於大海。天地之水，以海為宗；人身之水，以腎為源。而其所以能晝夜不息者，以其有一元之乾為太極耳。一元之乾為太極，試看此七字有一字連貫否？醉生夢死之人，談理談性，本不足與辨，特無恥已極，為可厭耳。此水中之五行也。明此水火之五行，而土木金可例推矣。</p>

<h2>中風論</h2>
<p>中風之病，愚意謂邪之所湊，其氣必虛，外感者間而有之，間字當作五百年間出之間，當專主虛論，不必兼風。明明說是中風，乃非但云不盡是風，並云不必兼風。當時聖人何不竟云純虛之證，反將五百年間出之病，立為名號，使人因名責實，竟作風病治，誤人不淺耶！譬如論中暑病而曰不必兼暑，中寒病而曰不必兼寒，即有之，亦五百年間出之事，豈成說話乎。蓋真中風則專以風治，類中風則病各有因，視其所感何因而分別治之，何等明白穩當。要其意專欲以八味，六味二方治此病，則不得不先以此病為純虛之證也。是何肺腸？</p>
<p>河間、東垣治中風，專治本而不治風，可謂至當不易之論。即名中風，又專治本而不治風，則是本原虛弱之病，不是中風矣。況劉、李之書具在，雖各有所偏，並無專治本不治風之說。豈可誣之。學者必須以陰虛、陽虛為主，自後醫書雜出，使後學狐疑不決。陰虛用六味，陽虛用八味，自古並無以此二方治中風者，何嘗醫書雜出之後，始不專用二方耶。</p>
<p>或問：人有半肢風者，必須以左半身屬血，右半身屬氣，豈復有他說乎？曰：未必然。人身劈中分陰陽水火，男子左屬水，右屬火。女子左屬火，右屬水。男子半肢風者，多患左。女子半肢風者，多患右。即此觀之，可見以陰虛為主。左右一定之位，何嘗以男女而別。蓋左屬陽而右屬陰，男陽女陰，故病亦分屬。然亦非盡如此者，若以此為一定之病，則男子患右，女子患左者，又何說耶？</p>
<p>或問曰：當此之時，小續命湯可用乎？曰：未必然。小續命湯，此仲景《金匱要略》治冬月直中風寒之的方，即麻黃、桂枝之變方也。此又亂道，直中風寒四字，已屬不接，冬月二字，又是增出。《金匱》第五篇載此方於中風歷節條下，乃風痹、風痱之風，與麻黃、桂枝治傷寒傷風者何涉？其方下注云：治中風痱，身體不能自收，口不能言，冒昧不知痛處，或拘急不得轉側。何等明白，曾不一見耶？其間隨六經之形證逐一加減，未便可按方統用其全方也。中風之證，雖亦有各經之殊，然亦不過有一二現證，豈如傷寒之鑿鑿可分者，加減法皆後人所擬，非《金匱》原方所有也。如太陽無汗，於本方中倍麻黃、杏仁、防風。如有汗惡風，於本方中倍桂枝、芍藥、杏仁。如陽明無汗，身熱，不惡風，於本方中加石膏、無汗不得用白虎，何得反用石膏。知母、甘草。有汗，身熱，不惡風，於本方中加葛根、有汗不可更發，何得反用葛根。桂枝、黃芩。如太陽無杆，身涼，於本方中加附子、乾薑、甘草。少陰經中有汗無熱，於本方中加桂枝、附子、甘草。凡中風無此四證，六經混淆，繫於少陽、厥陰，或肢節攣痛，或麻木不仁，每續命湯八兩，加羌活四兩，連翹六兩，此係六經有餘之表證，須從汗解。如有便溺阻隔，宜三化湯，或《局方》麻仁丸通利之。雖然邪之所湊，其氣必虛，世間內傷者多，外感者少，間而有之，既云邪之所湊，則邪非外感而何？此方終不可輕用。</p>
<p>考補小續命湯</p>
<p>麻黃　人參　黃芩　白芍　防己　桂枝　川芎　防風　甘草　附子　杏仁　石膏　當歸</p>

<h2>傷寒論</h2>
<p>傷寒專祖仲景，凡讀仲景書，須將傷寒與中寒，分為兩門，始易以通曉。傷寒，從來無人以中寒併為一病者，即同一傷寒，亦有傷風、傷寒之不同，況本屬兩病耶。為因年久殘缺，補遺，註釋者又多失次錯誤，幸歷代考證者漸明，逮陶節庵《六書》，吳綬《蘊要》二書刊行，而傷寒之理始著。二書卻是自開簡便門戶，不足以發明仲景。仲景書細續本自了然也。予於至理未暇詳辨，先將傷寒、中寒逐一辨明，庶不使陰陽二證混亂。此中寒其意，蓋指直中陰經之傷寒言。若雜症之中寒，別是一病，非傷寒也，非直中也，乃寒邪太甚入於肌膚、血脈，或內連臟腑，陽氣為寒氣所束，不能和通，現種種畏寒等證，不依經傳變，亦不必盡在冬月，此感冒之至重者。其法以溫中散寒為主，亦不得概用辛熱之藥，使寒氣與熱氣相爭而無出路，則立死矣。夫傷寒治之，得其綱領不難也。若求之多歧，則支離矣。先以陽證言之，夫既云傷寒，則寒邪自外入內而傷之也。其入則有淺深次第，自表達里，先皮毛，次肌肉，又次筋骨、傷寒之病，不入筋骨。腸胃，此其漸入之勢然也。若夫風寒之初入，必行太陽寒水之經，便有惡風惡寒，頭痛脊痛之證。寒鬱皮毛，是謂表證。三陽皆是表證，何獨以太陽為表。若在他經，則無此證矣。三陽亦有兼證。脈若浮緊無汗為傷寒，以麻黃湯發之，得汗為解。浮緩有汗為傷風，用桂枝湯散邪，汗止為解。桂枝湯非止汗之藥，乃解肌之藥也。傷風自汗，乃邪汗，汗雖出而熱仍不已，故用桂枝湯和其營衛，仍令微微出汗而解。此謂之正汗，但不若麻黃之發汗為稍甚耳。若云汗止，則桂枝反為止汗之藥，邪風將何從出耶？若無頭疼惡寒，脈又不浮，此為表證罷而在中。中者何？表裡之間也，乃陽明、少陽之分。脈不浮、不沉，在乎肌肉之間，謂皮毛之下也。然有二焉，若微洪而長，即陽明脈也，外證鼻乾不眠，用葛根湯以解肌。脈弦而數，少陽脈也，其證脅痛耳聾，寒熱往來而口苦，以小柴胡湯和之。蓋陽明、少陽不從標本，從乎中治也。若有一毫惡寒，尚在表，雖入中，還當兼散邪。過此為邪入里，為實熱。脈不浮不沉。沉則按至筋骨之間方是。若脈沉實有力，外證不惡風寒，而反惡熱，譫語大渴，六七日不大便，明其熱入里，而腸胃燥實也。輕則大柴胡湯，重則三承氣湯，大便通而熱愈矣。以陰證言之，若初起便怕寒，手足厥冷，或戰慄，倦臥不渴，兼之腹痛，嘔吐泄瀉，或口出涎沫，面如刀刮，不發熱而脈沉遲無力，此為陰證。上文說三陽經證，此處便當接三陰傳變之證，乃不竟其說，反以直中陰經之證當之，何也？不從陽經傳入熱證治例，直中陰經，固宜用辛熱之品，而陽經傳入三陰之證，其間，熱極宜涼者固多，如上文，諸寒證亦復不少，即下文理中、姜附等湯，皆仲景治陽經傳入陰經之方，未嘗為直中陰經設也。更當看外證如何，輕則理中湯，重則姜附湯、四逆湯以溫之。由此觀之，可見傷寒者，由皮毛而後入腑臟，初雖惡寒發熱，而終為熱證，傳入三陰，亦非盡熱證矣。其人必素有火者。有火之人，卒遇大寒，何嘗無中寒之病。中寒者直入臟腑，始終惡寒，而並無發熱等證，其人必無火者。無火之人，熱邪入里，何嘗無極熱之證。若如此，則仲景當時著《傷寒論》，不必細細分別，只問其人之素體而寒熱立辨矣。豈非譫語耶？一則發表攻裡，一則溫中散寒，兩門判然明白，何至混雜，使人疑誤耶。此則以傳經為陽證，直中為陰證。至傳經之三陰證則置而不論，豈傳經即直中耶？抑三陰宜溫之證亦陽證耶？矇混已極。</p>
<p><u>桂枝湯</u>　治太陽經傷風，發熱，自汗，惡風。桂枝、芍藥、甘草。桂枝湯中薑棗為至要之品。成無己注云：以甘緩之，以辛散之是也。開卷第一方，而五味之中遺去二味，何耶？</p>
<p><u>葛根湯</u>　赤芍、葛根、蔥白、生薑、桂枝、麻黃、甘草、大棗。古時芍藥赤白不分，而傷寒方亦從無用赤芍者。彼之改白為赤者，蓋俗醫每以白芍為收斂之品，不宜用於疏表之方也。然則桂枝湯亦用赤芍耶？葛根湯中並無蔥白，《傷寒論》中惟少陰經中白通湯等三四方溫散腎邪用之，與陽明無涉也。治陽明胃經目痛，鼻乾，不寐。如有惡寒證，本方加麻黃；惡風加桂枝。如正陽明腑病，不惡寒，有汗而渴，當用白虎湯。正陽陽明腑病，是胃家實也，承氣湯主之。仲景論之甚明。若白虎則治陽明經汗出煩渴之證，與腑病迥別。此最大關節，經文鑿鑿，誤治立死矣！</p>
<p><u>小柴胡湯</u>　治少陽膽經耳聾，脅痛，寒熱往來，口苦。柴胡、黃芩、甘草。小柴胡只載三味，遺去人參、半夏、薑、棗四味，全不成方，最為怪誕。蓋小柴胡之得名，專以有人參也，用大黃則為大柴胡矣。今去人參已失原方之義，況並去半夏之辛散以治煩嘔，去薑、棗之甘辛以和營衛，而只此三味，何以治少陽諸證耶？此經無出入路，不可汗下，止有此湯和解之。如兼陽明證，本方加葛根、芍藥。如尚有惡寒等證，用大柴胡湯，惡寒，則病尚在表，大黃豈可輕用。惟往來寒熱，則可用耳。兼表兼下。</p>
<p><u>大柴胡湯</u>　表證未除，而里證又急，汗下兼行。柴胡、黃芩、芍藥、半夏、人參、大黃、枳實。大柴胡本無人參，偏加入人參。小柴胡原有人參，偏去人參。變亂古方，是何肺腸？</p>
<p><u>白虎湯</u>　治身熱，大渴而有汗，脈洪大者。如無渴者，不可用此藥，為大忌。倘是陰虛發熱，服之者死。若五六月暑病者，必用此方，又當審其虛實。石膏、知母、甘草、人參、竹葉、糯米。此又矇混之極者。白虎湯治陽明外熱之證，只有石膏、知母、甘草、粳米四味。至煩渴甚者，用白虎加人參湯，又是一方。至於人參、竹葉同用，又是竹葉石膏湯中之藥，俱不得竟指為白虎湯也。至以糯易粳，尤為不典。</p>
<p><u>小承氣湯</u>　治六七日不大便，腹脹滿悶，病在太陰。無表證，汗後不惡寒，潮熱狂言而喘者，此又大誤害人者。太陰病皆屬寒邪，《傷寒》太陰全篇無純用寒下之法，即有用大黃者，亦與桂枝同用，謂之溫下，一用寒涼必斃，此第一大關節也。乃以此為太陰之藥，豈不誤極。蓋小承氣乃陽明正藥，正與太陰相反，況太陰病豈有汗後潮熱、狂言等證？真乃自得狂疾，發此狂談也。大黃、厚朴、枳實。</p>
<p><u>大承氣湯</u>　治陽明、太陰譫語，太陰無用承氣法，辨在前。五六日不大便，腹滿煩渴。並少陰舌乾口燥，日晡發熱，少陰並無日晡發熱之證，日晡發熱者，陽明也。脈沉實者，大黃、厚朴、枳實、芒硝。</p>
<p><u>四逆散</u>　治陽氣亢極，此是熱邪漸深至於少陰，壅遏經絡，故用此以宣通之。若雲陽氣亢極，則惟有急下之法，四逆諸品何能愈之。故成無己云：邪在三陽則手足熱，在太陰則手足溫，在少陰則熱漸深，手足逆而不溫也。用四逆散以散傳經之熱，此為正解。血脈不通，四肢厥逆，在臂脛之下。若陰證，則上過乎肘，下過乎膝，以此為辨也。柴胡、芍藥、甘草、枳實。</p>
<p>仲景《傷寒論》中諸方字字金科玉律，不可增減一字。猶之錄六經四子語，豈可擅自刪改，將杜撰之語亂入耶？惟臨病增減，未嘗不可因證出入。若抄錄古方，先為變易，仍指為某方，則大亂之道矣。此人凡引錄唐宋諸方，皆非原本其方，本非聖經，姑不置辨。乃漢以前諸方，歷古無人敢易一字，而錯誤如此，則後人以偽傳偽，全失制方之義，為害不小矣。</p>
<p>初病無熱，便四肢厥冷，或胸腹中滿，或嘔吐，腹滿痛，下痢，脈細無力，此自陰證受寒，即真陰證，非從陽經傳來，便宜溫之，不宜少緩。經云：發熱惡寒者，發於陽也。無熱惡寒者，發於陰也。治宜四逆湯。此又亂道之至者。發熱二句，《傷寒論》開卷即載，乃指傷風、傷寒而言，人人皆見，何嘗以無熱句為陰證耶？無熱惡寒乃太陽經，宜麻黃湯發汗之證，四逆湯乃太陰、少陰經，宜溫里之證，遠隔三四經，將治宜四逆湯連屬上文，治正相反，一投即斃，可恨極矣。腹滿腹痛，皆是陰證，只有微甚不同，治難一概。腹痛不大便，桂枝芍藥湯；腹痛甚，桂枝大黃湯。此又殺人之術也。仲景治太陰條中雲：大實痛者，桂枝大黃湯主之。此乃傳經熱邪，陷入太陰，故兼表兼下。若以之治直中純寒之證而用大黃，則寒邪益陷而下脫，其危可立待也。若自利腹痛，小便清白，宜溫中。理中、四逆，看微甚用，輕者五積散，重者四逆湯。無脈者，通脈四逆湯，使陰退而陽復也。</p>
<p>予又有說焉，若讀傷寒書，而不讀東垣書，則內傷不明，而殺人多矣。讀東垣書，而不讀丹溪書，則陰虛不明，而殺人多矣。讀丹溪書而不讀薛氏書，則真陰真陽不明，而殺人亦多矣。此又隨口亂道矣。豈有仲景不知內傷，東垣不知陰虛之理？至真陰真陽則尤為邪說。從古無真陰真陽之論，此乃薛氏自創之邪說。已前諸公豈能預料後世有創造邪說之人，而先講明之耶。蓋仲景論傷寒，則說傷寒，傷寒中何得以內傷立論？東垣論內傷，則說內傷，內傷中何得以陰虛立論？丹溪論陰虛，則說陰虛，陰虛中何得以真假立論？彼所謂真者，指腎中之陰陽也。然謂五臟各有陰陽則可，謂腎為真，余為假則不可。東垣曰：邪之所湊，其氣必虛，世間內傷者多，外感者間而有之。此間字當作五百年間出之間，甚言其無外感也。明明云邪之所湊，乃云非外感，則邪是何邪，湊將安湊耶？若五百年間出之間，則是千中無一。直云內傷中無傷寒可矣，何以又入傷寒條內耶？東垣《脾胃論》與夫《內傷外感辨》，深明飢飽勞逸發熱等證，俱是內傷，悉類傷寒，切戒汗下。東垣原指內傷之類傷寒者，不可從傷寒治，並非指天下之傷寒，皆內傷也。引書失旨，自誤誤人。以為內傷多，外感少，只須溫補，不必發散。外感多而內傷少者，溫補中少加發散，以補中益氣湯一方為主，加減出入。如內傷兼傷寒者，以本方加麻黃；兼傷風者，以本方加桂枝；兼傷暑者，本方加黃連；兼傷濕者，本方加羌活。查東垣《脾胃論》調中益氣條下，並無此等加減法，不知出於何書。當時方法之亂，原自東垣啟其端，然尚不至如此之甚。總之，治病必求其本，一病自有一方，自然隨手皆效。必立一方以治盡天下之病，開簡便之路，為下愚立法，則必自陷於下愚之境。蓋醫者，人命所關，固至難極重之事，原不可令下愚之人為之也。實萬世無窮之利，東垣特發明陽虛發熱之一門也。陽虛發熱，從來所無。經云：陽虛生外寒。未聞陽虛反發熱者。若陽虛外越之證，則又是一類，正與補中益氣治法相反，投升柴即死也。然世間真陰虛而發熱者，十之六七，亦與傷寒無異，傷寒，桂枝、麻黃二證俱在，豈有陰虛發熱而類此者。真怪談也。反不論及，何哉？今之人一見發熱，則曰傷寒，須用發散，發散而斃，則曰傷寒之法已窮奈何。豈知丹溪發明之外，尚有不盡之旨乎！予嘗於陰虛發熱者，見其大熱面赤，口渴煩躁，與六味地黃大劑，一服即愈。若繫有外邪者，服六味未必即死，而病必無愈期。余見此等誤治而遷延以死者，不可勝計，所以痛心疾首而批此書。若其偶愈者，則必其邪氣甚微，兼有浮火之人耳。如見下部惡寒足冷，上部渴甚燥極，或欲飲而反吐，即於六味湯中加肉桂、五味，甚則加附子，冷飲下咽即愈。此陽虛之證，附、桂原不禁用。但或邪氣未盡，則熟地、五味、萸肉俱能留邪為害也。且舉傷寒口渴一證言之，邪熱入於胃腑，消耗津液故渴，恐胃汁干，急下之以存津液。其次者，但云欲飲水者，不可不與，不可多與，並無治法，縱有治者，徒知以芩、連、知、柏、麥冬、五味、天花粉，甚則石膏、知母以止渴，此皆有形之水以沃無形之火，安能滋腎中之真陰乎？若以六味地黃大劑服之，其渴立愈，何至傳至少陰，而成燥實堅之證乎！口渴宜下有二證，一則熱邪在陽明，一則熱邪傳少陰，下之所以驅邪使出也。若以熟地、萸肉補之、斂之，安有不死者？況六味為腎經滋補之藥，當邪火未入少陰之時，反引入少陰，使邪氣斂藏而無出路，從此之後雖小疾亦無愈期，而多變證矣。近日庸醫凡遇有邪而用此藥者，以後百藥不效。不咎其用六味之害，反以為曾用過六味而猶不效，真絕證也。嗚呼！傷哉。既成燥實堅之證，仲景不得已而以承氣湯下之，此權宜之霸術，然諄諄有虛人、老弱人之禁，故以大柴胡代之。八味湯即仲景之方也，去桂、附而為六味，諒亦可深思而得之，乃計不出此而造承氣之霸術，又自知此方之為害，造大柴胡代之，仍就不離大黃等峻藥，其譏訕仲景之愚昧，誤人如此。嗚呼！下愚之無忌憚，至於此極。真病狂之人本不足與辨，所以辨者，為天下有一隙之明者，亦為所惑而不察也。陶氏以六一順氣湯代之，豈以二湯為平易乎？代之而愈，所喪亦多矣。況不愈者十之八九哉。又一不知六味者。當時若多用六味地黃飲子，大劑服之，取效雖緩，其益無窮。果系傷寒，死不旋踵耳。況陰虛發熱者，小便必少，大便必實，其上證口渴煩躁，與傷寒無異。云與傷寒無異，則實非傷寒矣，前後背謬如此。彼之承氣者，不過因亢則害，下之以承真陰之氣也。真陰之氣，如何承？夢話也。予今直探其真陰之源而補之，如亢旱而甘霖一施，土木皆濡，頃刻為清涼世界矣，何不可哉。況腎水既虛矣，復經一下之後，萬無可生之理，如果腎虛之證，則絕不是傷寒，仲景從未嘗以承氣治虛勞。如系傷寒，則仲景當日用承氣亦不一矣，竟無一生者耶。慎之慎之。吾為此懼，故於補天要論中詳言之。</p>
<p>合而言之，真知其為陽虛也，則用補中益氣湯。陽虛者最懼越上為害，反用升、柴以提之，乃速之死也。東垣制此方，為胃陽下陷而設，非泛指陽虛也。如此誤解，即東垣亦不瞑目於地下矣。真知其為陽虛直中也，則用附子理中湯。真知其為陰虛也，則用六味腎氣湯。如有邪不得用。真知其為陰虛無火也，則用八味腎氣湯。有邪亦不得用。其間有似陰似陽之假證也，則用寒因熱用之法從之，不可少誤。惟以補正為主，不可攻邪，正氣得力，自然推出寒邪，汗出而愈。前此泛說不辨邪之有無，已屬糊塗。此處直云不可攻邪，竟不論何經傷寒，只將六味、八味二方大劑與服，使熟地、桂附等，發汗而愈，將仲景當日一片苦心，千年奉為章程者，一齊抹卻。下愚之無忌憚至此而極，可悲也夫。攻之一字，仁人之所惡也。養奸豢盜，仁政然乎？百戰百勝，戰之善者也。不戰而屈人之兵，善之善者也。故曰：善戰者服上刑。傷哉仲景，殺無赦矣。</p>
<p>呂氏曰：正氣得力二句，灼然妙理，與景岳論參看，更明自然二字妙甚，從東垣補中益氣論來。此等絕滅天理之談，獨有會心讚歎如此，其肺腸亦不可問矣。</p>

<h2>溫病論</h2>
<p>治溫病者將如何？予有一法。經曰：不惡寒而渴者是也。不惡寒，則知其表無寒邪矣。曰渴，則知其腎水乾枯矣。溫病非少陰之證，且渴者多屬陽明。何以知其必腎干也。蓋緣其人素有火者，冬時觸冒寒氣，雖傷而亦不甚，惟其有火在內，寒亦不能深入，所以不即發，而寒氣伏藏於肌膚，溫是天氣，非指人之本體也。如此說，將無火之人入春便變為寒病耶？是何等人一定生何等病矣？自冬至三四月，歷時既久，火為寒鬱於中亦久，將腎水熬煎枯竭。從無外感之邪，藏於腎中半年而發者。蓋甲木，陽木也，藉癸水而生。腎水既枯，至此時強，木旺無以為發生滋潤之本，故發熱而渴，非有感冒也。明明說是冬時觸冒寒氣，又云非有感冒。何前後矛盾也。海藏謂新邪換出舊邪，非也。換字何等不通。若復有所感，表又當惡寒矣。予以六味地黃滋其水，以柴胡辛涼之藥舒其木鬱，隨手而應，此方活人者多矣。柴胡為少陽疏散之藥，加入腎經滋補藥中，將引六味入少陽耶？將並柴胡納入少陰耶？制方之義已絕。彼曾駁人參不可入六味中，乃柴胡反可入六味，真喪心之談也。予又因此而推廣之。凡久時傷寒者，亦是鬱火證，既是傷寒，何云鬱火？若其人無火，則為直中矣。有火者變為溫病，無火者便是直中，天下竟無傳經正傷寒矣。且直中是至險之證，豈可派定無火人必患此耶。惟其有火，故由皮毛而肌肉而腑臟。傷寒無不由皮毛入者，豈必有火之人為然。今人皆曰寒邪傳裡，寒變為熱。既曰寒邪，何故入內而反為熱，又何為而能變熱耶？不知即是本身之火，為寒所鬱而不得泄，一步反歸一步，日久則純熱而無寒矣。所以用三黃解毒，解其火也，升麻、葛根即火鬱發之也，三承氣即土鬱奪之，小柴胡湯木鬱達之也。此理甚簡而易，只多了傳經、六經諸語，支離多歧。傷寒傳經之說，自《內經·熱論》及仲景《傷寒論》諸書相傳以來，數千年守之不變，淺學不能全窺，少有所誤，非殺人即寡效，然無有能出範圍者。今乃敢肆然以為無傳經、六經等法，且譏訕古聖以為支離多歧。此天理絕滅之談，原無足辨，但恐世之崇信者，終無悟日，故又不能已於言也。凡雜證有發熱者，皆有頭疼項強，目痛鼻乾，脅痛口苦等證，何必拘為傷寒，局傷寒方以治之也。雜證原不必守定傷寒法，但傷寒諸方加減出入，雜證所不能外，惟六味則斷斷無治雜感之理也。余於冬月正傷寒，獨麻黃、桂枝二方作寒鬱治。郁亦增出。其餘但不惡寒者，作鬱火治。鬱火另是一證，非傷寒類也。此二語專為欲用逍遙散而設。此不佞之創論也。聞之者，孰不駭然吐舌。及閱虞天民《醫學正傳》傷寒篇云有至人傳曰：傳經傷寒是郁病。如此亂道，不知是何等至人。餘一見之，不覺竊喜，以為先得我心之同然。及考之《內經》，帝曰：人傷於寒而傳為熱，何也？岐伯曰：寒氣外凝，內郁之理，之理二字，何等文理？腠理堅緻，玄府閉密，則氣不宣通，濕氣內結，與濕何涉？中外相薄，寒盛熱生，寒極生熱，改為寒盛熱生，便不接。故人傷於寒，轉而為熱，汗之則愈，則外凝內郁之理可知。觀此而余以傷寒為鬱火者，不為無據。故特著郁論一篇。此偽造《內經》，又怪異之極者。《內經·熱論》云：人之傷於寒也，則為病熱，熱雖甚不死。其兩感於寒而病者，必不免於死。帝曰：願聞其狀。下文岐伯即以傷寒傳經及兩感病狀分別言之，明白詳悉，何嘗有外凝內郁等語。偽造經文無忌俾已極。至云傳而為熱，尤不懂人事。蓋傷寒第一日在太陽，即已發熱不必傳也，故本經名為《熱論》。今改則字為傳字，彼固不知寒之何以為熱，所以上文造出有火、無火等邪說也。</p>

<h2>郁病論</h2>
<p>《內經》曰：木鬱則達之，火鬱則發之，土鬱則奪之，金鬱則泄之，水鬱則折之。然調其氣，過者折之，以其畏也，所謂瀉之。《內經》五法之注，乃出自張子和，非啟玄舊文，故多誤。無稽之談隨口而出，可怪。予既改釋其誤，又推廣其義，以一法代五法，自古從無一法可代幾法者。若爾，此書何止可代五法，直以六味、八味代儘自古以來萬病萬法也。神而明之，屢獲其效，故表而書之。蓋東方先生木，木者生生之氣，即火氣。空中之火，附於木中，木鬱則火亦鬱於木中矣。在木中，則非空中矣。不特此也，火鬱則土自郁，土鬱則金鬱，而水亦郁矣。然則非五郁，乃一郁也。此五行相因自然之理，惟其相因也，予以一方治其木鬱，則諸郁皆因而愈。一方者何，逍遙散是也。方中惟柴胡、薄荷二味最妙。蓋人身之膽木乃甲木，少陽之氣，何以只是膽，不是肝？氣尚柔軟，象草穿地，始出而未伸，此時被寒風一郁，何以郁必由寒風？即萎軟抑遏，而不能上伸。不能上伸，則下克脾土，而金水並病矣。何以一病並皆病？惟得溫風一吹，鬱氣即暢達。蓋木喜風，肝為風臟，最惡者風，反云喜風。風搖則舒暢，若寒風則畏矣。溫風者，所謂吹面不寒，楊柳風也，木之所喜也。柴胡、薄荷辛而溫者。柴胡、薄荷正驅風之藥，非即風也。真乃亂道。惟辛也故能發散，溫也故入少陽，立方之妙如此。其甚者，方中加左金丸。左金丸止黃連、吳茱萸二味。黃連但治心火，吳茱萸氣燥，黃連獨非寒藥乎？且肝最畏燥者，以風為燥氣。又燥能傷血也。肝之氣亦燥，同氣相求，故入肝以平木。同氣相求，如何反能平之？木平則不生心火，火不刑金，而金能制木。不直伐木，而佐金以制木，此左金之所以得名也。此又法之巧者，然猶未也，一服之後，繼用六味地黃加柴胡、芍藥，服之以滋腎水，憚水能生木。此處又要生木，前後顛倒。如此倘生木而心火又旺，銷鑠肺金，左金又無用矣。其意專為要用六味，而鬱證六味斷斷難下，所以立出生木一法來，則六味又為必用之方。作偽心勞亦可憐也。逍遙散者，風以散之也。地黃飲子者，雨以潤之也。木有不得其天者乎，此法一立，木火之郁既舒。木不克脾土，且土亦滋潤無燥熇之病，金水自相生，予謂一法可通五法者如此。必牽連說下方，可一法代五法，否則又要立一方矣。豈惟是哉，推之大之，千之萬之，其益無窮。凡寒熱往來，似瘧非瘧，惡寒惡熱，嘔吐吞酸，嘈雜胸痛，胠脅痛，小腹脹悶，頭暈盜汗，黃疸，瘟疫，疝氣，飧泄等證，皆對證之方也。一法可代諸雜病法。推而至於傷風、傷寒、傷濕，除直中，凡外感者，俱作郁看，一法可代傷寒諸法，余所謂不但一法可代五法，凡天下萬病萬法，俱可代者，誠然哉？誠然哉？嗟乎！古人治病，不但病名之異者各有治法，即一病之中亦千頭萬緒，種種各別，乃竟以一方了之，真喪心病狂之人也。以逍遙散加減出入，無不獲效。如小柴胡湯、四逆散、羌活湯大同小異，然不若此方之響應也。神而明之，變而通之，存乎人耳。所謂神明變通者，總用六味也。倘一服即愈，少頃即發，或半日或一日又發，發之愈頻愈甚，此必屬下寒上熱之假證。郁病本無此等似熱實寒之證，其所以又轉此語者，專為要用八味也。此方不宜復投，當改用溫補之劑。如陽虛，以四君子湯中加溫熱藥；陰虛者則以六味湯中加溫熱藥。甚者尤須寒因熱用，少以冷藥從之。用熱藥冷探之法，不則拒格不入，非惟無益，而反害之。病有微甚，治有逆從，玄機之士，不須予贅。</p>
<p><u>古方逍遙散</u>　柴胡、薄荷、當歸、芍藥、陳皮、甘草、白朮、茯神。</p>
<p>呂氏曰：六味加柴、芍，亦立齋法也，合逍遙散，謂腎肝同治。但立齋去芍藥，趙氏單用芍藥為不同。二方同用，萬無此理。薛氏本庸醫之首，經此二人一表章，尤誤之無盡也。</p>
<p>呂氏又曰：以加味逍遙散、六味丸治郁，自薛長洲始也，邪說之宗。然長洲之法，實得之丹溪。越鞠之芎藭，即逍遙之歸芍也；越鞠之蒼朮，即逍遙之白朮也；越鞠之神麯，即逍遙之陳皮也；越鞠之香附，即逍遙之柴胡也；越鞠之梔子，即逍遙之加味也。但越鞠峻而逍遙則和矣，越鞠燥而逍遙則潤矣。此則青出於藍，後來居上，亦從古作述之。大凡如東垣之補中益氣，比枳朮萬全無弊矣。然豈可謂枳朮之謬，而禁不用哉。此段議論，不但明末庸醫之技量盡見，而呂氏之分毫不曉，亦和盤拓出矣。古人治病，一病有一病之方，一方有一方之藥，一藥有一藥之性。一藥增損，方名即別。七情六淫，各有專治。譬如父子、夫婦，有天生者，有配合者，分毫不可假借。肉桂不容易以附子，黃連何得以易石膏，此醫道之所以難也。今云：此藥即可當某藥。倘有人曰：某人即我之父也，某人即我之夫也，人盡以為亂倫矣。為此說者，於古人治病之法，立方之義，用藥之妙，何嘗夢見哉！</p>

<h1>卷下</h1>

<h2>論血證</h2>
<p>六淫中雖俱能病血，其中獨寒氣致病者居多，寒氣致病，亦間有之，偏要以此為主，是何肺腸？何也？蓋寒傷榮，風傷衛，自然之理。又太陽寒水，少陰腎水，俱易以感寒。一有所感，皮毛先入。肺主皮毛，水冷金寒，肺經先受。血亦水也，故經中之水與血一得寒氣，皆凝滯而不行，咳嗽帶痰而出。問其人必惡寒，切其脈必緊，視其血中間必有或紫或黑數點，此皆寒淫之驗也。以上數證，熱極之病何嘗無之，一誤則立斃矣。醫者不詳審其證，便以為陰虛火動，而概用滋陰降火之劑，病日深而死日迫矣。余嘗用麻黃桂枝湯而愈者數人，皆一服微汗而愈。蓋汗與血一物也，奪血者無汗，奪汗者無血。此二語出《靈樞·營衛生會論》，專為汗血一類，故脫血之人不可再發其汗，汗多之人不可再去其血。乃反引為脫血者，必要出汗之證。其顛倒至於此極，而呂氏偏以至理二字贊之。癡人說夢，深信不疑，真可憐也。余讀《蘭室秘藏》而得此意，因備記以廣其傳。</p>
<p><u>麻黃桂枝湯</u>　人參、麥冬、桂枝、當歸、甘草、黃耆、白芍、五味子。此方出東垣《蘭室秘藏》治吐血門，寒鬱為火而得吐血證者，仍從表散，原有此理，但亦須有先後次序。即使一方之中欲兼顧本原，亦須擇其兩不相礙。古人曾有合用者，用之始不害制方之義。乃散者斂者，寒者熱者，上者下者，輕者重者，表者里者，燥者潤者一齊並用，將使此劑何所適從哉！蓋藥味既亂，生人固難，殺人亦不易。服之，人或不至於死而竟愈，亦間有之。但古聖立方，原有定法，最為嚴謹。至唐人專重藥性，規矩略寬，然古法仍不甚失，至宋末猶有存者。自東垣出而法度乃遂蕩然，特功夫頗深，自成一家，推崇已久，有言不信。惟願天下後世將《內經》及《金匱》、《傷寒》等書，沉潛參究，有得於心，自能明辨其是非也。</p>
<p>客曰：吐血可用辛熱，為扶陽抑陰，始聞命矣。然復有真陰真陽之說，可得聞乎？曰：世之言陰陽，氣血盡之矣。誰則云然？豈知火為陽氣之根，水為陰血之根乎。陰陽屬二氣，水火屬五行，豈有二氣反根五行者。吾所謂水火又非心腎之謂，人身五行之外，另有一無形之火、無形之水，流行於五臟六腑之間。陰陽二氣，《內經》言之不一。謂之氣，自然無形，謂之水火，則有形矣。乃又云無形之水火，故作玄妙之談以欺世，其實只見其支離耳。惟其無形，故人莫知。試觀之天，日為火之精，故氣隨之。月為水之精，故潮隨之。日月未嘗無形。如星家看五行者，必以太陽、太陰為主，然此無形之水火，又有一太極為之主宰，將辛熱之藥補太極，恐尚遠涉。則又微乎微矣。此天地之正氣，而人得以生者，是立命之門，謂之元神。無形之火，謂之元氣；無形之水，謂之元精。寄於兩腎中間，故曰：誰如此亂道？五臟之中，惟腎為真。餘臟皆假，有是理乎？此真水、真火，真陰、真陽之說也。又問曰：真陰真陽與血何干乎？曰：子但知血之為血，而不知血之為水也。人身涕、唾、津、液、痰、汗、便、溺，皆水也。獨血之水，隨火而行，故其色獨紅。腎中之真水乾，則真火炎，血亦隨火而沸騰。腎中之真火衰，則真水盛，血亦無附而泛上。從未聞有真水盛而得病者。火無附而升，理之所有，水亦無附而升，非笑談乎！水之為物，何必有附也。惟水火奠其位，而氣血各順布焉，故以真陰真陽為要也。</p>
<p>薛立齋遇張東谷談命時，出中庭吐血一二口，云：久有此證，遇勞即發。余意此勞傷肺氣，其血必散，視之果然，與補中益氣湯，加門冬、五味、山藥、熟地、茯神、遠志，服之而愈。呂氏云：此證今人必混入歸脾矣。看古人分明不苟處。勞傷肺氣吐血，用歸脾湯間或有之，但斷斷不用補中益氣耳。況補中益氣湯中門冬、五味、熟地與升、柴同用，惟薛氏效法東垣者有之，於古人制方之義全失。謬種流傳，至趙氏等而極，真堪痛心者也。或云：既如此不通，何以服之有效？蓋制方與選藥原屬二道，苟其藥不盡與病相反，一味合宜，即有小效。但藥是而不成方，或不能速愈，或不能全愈，或愈而有弊耳。非謂制方無法，人參竟不補，附子竟不熱也。惟急證、危證、大證、奇證，緊要關頭而制方有乖，則徒有害而無益。學者豈可因其有小效，而遂奉為章程耶。且安知無陰受其害而不覺者，亦安知無明受其害而諱言者。</p>

<h2>論八味丸</h2>
<p><u>八味丸</u>　治命門火衰，不能生土，致脾胃虛寒，飲食少思，大便不實，下元衰憊，臍腹疼痛，夜多漩溺等證。熟地、山藥、山萸、丹皮、茯苓、澤瀉、肉桂、附子。按：八味載於仲景《金匱要略》中，凡五見：一見於第五篇，云治腳氣上入少腹不仁。再見於第六篇，云虛勞腹痛，少腹拘急，小便不利者，八味腎氣丸主之。三見於第十二篇，云夫短氣有微飲，當從小便去之，腎氣丸主之。四見於第十三篇，云男子消渴，小便反多，飲一斗，小便亦一斗，腎氣丸主之。五見於第廿二篇，云婦人轉胞，不得溺，但利小便則愈，腎氣丸主之。觀此五條，皆瀉少腹膀胱寒濕之疾為多。蓋腎者，水臟，凡水病皆歸之，故用茯苓、澤瀉、山藥等利水之藥。而腎虛惡燥，故又用熟地、萸肉等滋斂之藥。又水為寒邪，故用附、桂等助陽通痹之藥，相濟而相成。總以通腎氣，利小便為主，此八味之正義也。孰知趙氏竟以之為補先天真火，並能補太極之方。不但仲景之所不料，即自古造方者亦不料也。又按：古法只有乾地黃、生地黃，並無熟地黃。熟地黃乃後人製法，以之入滋補下焦藥中頗為得宜。若入湯劑及涼血等藥，甚屬不合。蓋地黃專取其性涼滑利，熟則膩滯不能流行矣。況外感未消，痰火未除，一概用熟地為害尤甚。加減不依易老，亦不效。今人有加人參者，人參乃是脾經藥，到不得腎經。人參不可加，柴胡獨可加乎？有加黃柏、知母者，有欲減澤瀉者，皆不知立方本意也。加知、柏不知立方之本意，加柴胡獨知立方之本意乎！</p>

<h2>水火論</h2>
<p>坎，乾水也，氣也，即小而井，大而海也。兌，坤水也，形也，即微而露，大而雨也。井、海之水為氣，雨、露之水為形，成何說話。一陽陷於二陰為坎。坎以水氣潛行地中，坎為水，何以云坎以水氣？為萬物受命根本。故曰潤萬物者，莫潤乎水。一陰上徹於二陽為兌。兌以有形之水，普施於萬物之上，兌，澤也，如何普施萬物之上。為資生之利澤。故曰：說萬物者，莫說乎澤。明此二水，可以悟治火之道矣。心火者，有形之火也；相火者，無形之火也。無形之火，內燥熱而津液枯。然則命門之真火害人如是耶。以五行有形之兌水，制之者權也。兌水是身中何物？如何是制之之法？吾身自有上池真水氣也，無形者也。以無形之水，沃無形之火。無形之水又是身中何物？如何是沃之之法？一味胡言，即彼亦不能自解也。常而可久者也，是為真水真火。升降既宜，而水火既濟矣。醫家不悟先天太極之真體，又說到太極，更渺茫矣。不窮無形水火之妙用，而不能用六味、八味之神劑者，其於醫理尚欠大半。上文說乾、說坤、說坎、說兌，以及有形、無形、真水、真火、太極、真體，何等廣大淵微，不知有何等出神入化之治法，乃竟不過六味、八味二方。而八卦、太極之道，已無不貫串．通天徹地學問，只要記此二方足矣。豈非夢境？</p>

<h2>六味丸說</h2>
<p><u>六味丸</u>　治腎虛作渴，小便淋秘，氣壅痰涎，頭目眩暈，眼花耳聾，咽燥舌痛，腰腿痿軟等證，及腎虛發熱，自汗盜汗，便血諸血，失音，水泛為痰之聖藥，水泛為痰，是濕在上焦矣。豈熟地、萸肉所能治。血虛發熱之神劑。又治腎陰虛弱，津液不降，敗濁為痰，豈酸濕所宜。或致咳逆。萸肉、熟地亦非治咳之藥，將痰火補住，永成勞怯矣。又治小便不禁，收精氣之虛脫，為養氣滋腎，制火導水，使機關利而脾土健實。熟地、萸肉豈健脾之品？熟地、萸肉、山藥、丹皮、茯苓、澤瀉。地黃、山藥、澤瀉皆潤物也。此方所補之水，無形之水，六味有形之藥，何以能補無形之物？愈說得高妙，愈淺陋矣。物之潤者亦無形，此又亂道之至者，何以物之潤者皆無形，然則天下有形之物，皆極燥者耶？故用之。</p>
<p>呂氏曰：明·薛新甫治陰虛火動，用丹溪補陰法不驗者，以六味代之立應。自此以來，為補陰之神方矣。趙氏得力於《薛氏醫案》，而益闡其義，觸處旁通，外邪雜病，無不貫攝，外邪雜病，一方治盡。稍有知識者，決不為此言。而六味之用始盡。然趙氏加減之法甚嚴，又稍異於薛氏。高鼓峰嘗詳論兩家加減之法，而附以己意，呂氏之學，實得之高鼓峰，高鼓峰則首宗趙氏之人也。呂氏因信高之故而信趙，天下之人又因信呂氏選時文、講性理之故，而並信其醫。且只記兩方可治盡天下之病，愚夫又甚樂從，貽害遂至於此極。所以罪首禍魁，高不能辭，而承流揚波，呂之造孽更無窮。世所刻《鼓峰心法》、《高呂醫案》等書，一派相承，辨之不勝其辨。知趙氏之謬，則余者自能知之矣。以授其門人，甚辨，今述之下。</p>
<p>六味丸，薛氏一變而為滋腎生肝飲，用六味減半分兩，而加柴胡、白朮、當歸、五味，合逍遙而去白芍藥，加五味，合都氣意也。柴胡、白朮自是二藥，何以見得必定是逍遙、都氣中來，而云合也。以生肝故去芍藥，而留白朮、甘草以補脾。六味方中，何以容得補脾藥？補脾者，生金而制木也，以製為生，相生之法，別是一義，不得如此講。若云白朮補脾生金而制木，遠隔幾臟，則六味補腎，即便生肝。奈何，奈何。天地自然之序也。又一變而為人參補氣湯，其義愈變化無窮，真游龍戲海之妙。去澤瀉而加參、耆、朮、歸、陳皮、甘草、五味、門冬。參、耆、術，陳，又如何得合六味？夫白朮之與六味，其化相反，焉得合之？曰：從合生脈來，生脈中無白朮，且何以知其必從此來耶？則有自然相通之義。借茯苓以合五味異功之妙，止一茯苓，何以即是異功？用當歸、黃耆以合養血之奇。其不用澤瀉者，蓋為發熱作渴，小便不調，則無再竭之理。理無則竭，便當急生，云生脈，則非生小便也。生脈之所由來，既當生脈，異功之可以轉入也。且水生高原，氣化能出，肺氣將敗，故作渴不調，此所以急去澤瀉，而生金滋水，復崇土以生金，其苦心可不知哉。枉勞苦心。又一變而為加味地黃丸，又名抑陰地黃丸，陰如何放肆，而必欲抑之。加生地、柴胡、五味，復等其分，愈出愈奇矣。柴胡從逍遙散，生地從固本來，五味仍合都氣。一方自是一方，一藥自是一藥，除兩方合併名曰偶方之外，絕無可以牽連之道。乃必指方中某藥從某方來，則六味之中熟地從何方來，萸肉從何方來耶。其曰耳內癢痛，或眼昏痰喘，或熱渴便澀，而總為肝腎陰虛，則知其陰虛半由火鬱而致也。柴胡以疏之鬱火，非生地不能涼，用五味仍瀉丁以補金，補金以生水也。曰抑陰非疏不可，疏之所以抑之，生地涼血，便有瀉義，瀉之所以抑之也。生地又是瀉陰之藥，非但前後背謬，更是千古怪談。又一變而為九味地黃丸，以赤茯苓換白茯苓，加川楝子、當歸、使君子、川芎。此更怪之怪者。使君子治小兒疳蟲，疳蟲俱在腸胃之中若同六味入腎，將疳蟲已入腎耶？又川芎乃升提之品，將提六味於何處耶？抑欲令川芎亦入腎也？盡是直瀉厥陰風木之藥，仍是肝腎同治之法。緣諸疳必有蟲，皆風木之所化，肝有可伐之理，但伐其子則傷其母，故用六味以補其母。去澤瀉者，腎不宜再泄也。趙氏則以為六味加減法須嚴，其善用六味，雖薛氏啟其悟端，而以上變化，概未透其根底，故盡廢而不能用。見其能合當歸、柴胡，而去芍藥，則反用芍藥為疏肝益腎，此則其聰明也。乃謂白朮與六味，水土相反，人參脾藥不入腎，此二句乃趙氏一隙之明，但不知柴胡又何以可合六味耳。其論亦高簡嚴密。然細參薛氏，畢竟趙氏拘淺，薛氏諸變法似乎寬活，然其實嚴密。學者當善悟其妙，薛氏諸加減法昏憒已極，趙氏之不盡從之，亦非必能知其謬也。其意蓋以為六味一方，不必多用加減之法，而已無病不治耳。然其以薛之加減為未當，不可謂其無一隙之明。乃呂氏又不以為然而轉崇薛氏，則其昏憒更甚於趙矣。古人制方之法，有上下、大小、燥濕、寒熱、緩急、補瀉、內外、升降、氣血、陰陽、輕重、奇偶種種不同，絲毫不可假借。其間亦有並用之法，然必其經絡相通，雖相反而實相濟。又必先聖方中曾有合用者，乃可加入，否則即為杜撰。其云從某方某方來，更屬可笑。夫一藥乃萬方所共，安見此味必根於某方。如有人作文，自注云：此也字從某書來，此者字從某文來，豈不令人噴飯耶。呂氏述其說而稱之，我不慨薛氏而慨呂氏矣。而以意通之。大旨以肝腎為主，而旁救脾肺，則安頓君相二火不必提起，而自然帖伏矣。亂道一篇，到底是說何病？糊塗至此，其心殆如糞土矣。</p>

<h2>八味丸說</h2>
<p>君子觀象於坎，而知腎中具有水火之道焉。夫一陽居於二陰為坎，此人生與天地相似也。今人入房盛，而陽事易舉者，陰虛火動也。陽事先痿者，命門火衰也。真水竭，則隆冬不寒。真火息，則盛夏不熱。《素問·調經論》云：陽虛則外寒，陰盛則內熱。陽盛生外熱，陰盛生內寒。蓋陰陽或偏，則畏寒畏熱，此之謂病。若隆冬不寒，盛夏不熱，則是陰陽充足之候，去天神不遠矣。豈反是真水真火已竭，為將死之人乎？是方也，熟地、山萸、丹皮、澤瀉、山藥、茯苓，皆濡潤之品，澤瀉、茯苓、丹皮，俱不得為潤藥。所以能壯水之主。肉桂、附子辛潤之物，能於水中補火，所以益火之原。水火得其養，則腎氣復其天矣。益火之原，以消陰翳，即此方也。蓋益脾胃，熟地、萸肉並不能益脾胃。而培萬物之母，其利溥矣。</p>

<h2>相火龍雷論</h2>
<p>火有人火，有相火。人火者，所謂燎原之火也，遇草而焫，得木而燔。可以濕伏，可以水滅，可以直折，黃連之屬，可以制之。相火者，龍火也，雷火也，得濕則焫，遇水則燔。不知其性，而以水折之，以濕攻之，適足以光焰燭天，物窮方止矣。識其性者，以火逐之，則焰灼自消，炎光撲滅。今人率以黃柏治相火，是水滅濕伏，龍雷之火愈發矣。龍雷之火，每當濃陰驟雨之時，火焰愈熾，或燒燬房屋，或擊碎木石，其勢誠不可抗。惟太陽一照，火自消滅。此得水則熾，得火則滅之，一驗也。桂、附引火歸原，引之下達耳。是補龍雷之火，非滅之也。不顧文理，專以大言以惑愚人耳！</p>

<h2>陰虛發熱論</h2>
<p>世間發熱類傷寒者數種。至於勞心好色，內傷真陰，真陰既傷，則陽無所附，故亦發熱。其人必面赤煩躁，口渴引飲，骨痛脈數而大，或尺數而無力者是也。惟丹溪發明補陰之說，以四物湯加黃柏、知母，此用血藥以補血之不足者也。世襲相因，屢用不效，何耶？蓋因陰字認不真，誤以血為陰耳。當作腎中之真陰，即先天也。《內經》曰：諸寒之而熱者，取之陰；諸熱之而寒者，取之陽，所謂求其屬也。王太僕先生注云：大寒而盛，熱之不熱，是無火也。大熱而盛，寒之不寒，是無水也。又云：倏忽往來，時發時止，是無火也。晝見夜伏，夜見晝止，時節而動，是無水也。當求其屬而主之。無火者，宜益火之原，以消陰翳。無水者，宜壯水之主，以鎮陽光。必須六味、八味二丸，出入增減，以補真陰，此又自造王太僕語而誤者。諸寒之五句出《素問·至真要大論》，王注云：益火之源，以消陰翳，壯水之主，以制陽光，故曰求其屬也。只此五句是原文，余俱增出者注之意。蓋謂熱病以寒藥治其熱，熱宜自退，乃熱仍在，此不可以驅，當於陰分增益其水以配火，則陰盛而陽自伏。不用瀉而用補，所謂壯水之主也。寒病以熱藥治其寒，寒自宜已，乃寒仍在，此不可以驅，當於陽分增益其火以配水，則陽旺而陰自衰。亦不用瀉而用補，所謂益火之源也。何等明白！下文即接云：但益心之陽，寒亦通行，強腎之陰，熱之猶可。明指心為陽，腎為陰，即經文司天運氣以心為火，腎為水之說，並不指腎中之陰陽也。專指腎言，已屬不倫，又造出無數亂道，且接出必須六味、八味丸一句，似亦是王太僕之言，何等荒唐！自此說行，人竟以益火之源二句鑿鑿指腎經言，而六味、八味真王太僕以來不易之神方矣。嗚呼！豈不冤哉！屢用屢效。若有產後，及大失血後，陰血暴傷，必大發熱，亦名陰虛發熱。此陰字正謂氣血之陰。若以涼藥正治立死，正所謂象白虎湯證，誤服白虎湯必死。當此之時，偏不用四物湯，有形之血，不能速化，幾希之氣，所宜急固，須用獨參湯，或當歸補血湯，使無形生出有形來。血脫氣亦脫，故急固其氣不使脫盡，乃可用大補之劑。非始終用參，亦非一用參而不必服藥也。若云生出，非但緩不及事，且全失用參之義矣。此陽生陰長之妙用，不可不知也。或問曰：子之論則詳矣，氣虛血虛，均是內傷，何以辨之？予曰：悉乎子之問也。蓋陰虛者，面必赤，無根之火，戴於上也。若是陽證，火入於內，面必不赤。實熱之證，陽明火旺，面固赤。腎火上浮，面亦赤。何雲陽證無面赤者？其口渴者，腎水乾枯，引水自救也。陽明證口渴最甚。但口雖渴，而舌必滑，脈雖數，而尺必無力，甚者尺雖洪數，而按之必不鼓，此為辨耳。雖然，若問其人曾服過涼藥，脈亦有力而鼓指矣。戴復庵云：服涼藥而脈反加數者，火鬱也，宜升，虛人敗證，總無升法，云宜溫則得矣。宜補。切忌寒涼，犯之必死。臨證更宜詳辨，毫釐之差，枉人性命，慎哉。</p>

<h2>咳嗽論</h2>
<p>外感風寒而咳嗽者，今人率以麻黃、枳殼、紫蘇之類，發散表邪，謂從表而入者自表而出。如果系形氣、病氣俱實者，一汗而愈。若形氣、病氣稍虛者，宜以補脾為主，治嗽正與補脾相反，安見有外感咳嗽，而用耆、術等藥者。而佐以解表之藥，補脾中如何容得解表之藥，宜立方之盡不通也。何以故？蓋肺主皮毛，惟其虛也，故腠理不密，風邪易以入之。若肺不虛，邪何從而入耶？然則竟不必問其何因，一概大補可耶！古人所以制參蘇飲中必有參，人參本不為補脾而設，且感證亦非盡用參蘇飲也。桂枝湯中有芍藥、甘草，解表中兼實脾也。芍藥、甘草並非為補脾而設，傷寒諸家注甚明，且桂枝亦非治嗽方也。脾實則肺金有養，皮毛有衛。已入之邪易以出，邪已在內而補之，則補邪矣。世有賊未去而堅築牆垣，以為如此則賊易去者，非至愚乎！當改云：已入之邪，終身不出。後來之邪，無自而入矣。若專以解表，則肺氣益虛，腠理益疏，外邪乘間而來者，何時而已耶！須以人參、黃耆、甘草以補脾，兼桂枝以驅邪。此亦非咳嗽所宜用之品。此予謂不治肺而治脾，虛則補其母之義也。此句不如此解，蓋此乃隔二、隔三之治，以治臟邪久病則然。若感冒乃風火之疾，能待臟氣相生耶？</p>
<p>《仁齋直指》云：肺出氣也，腎納氣也。肺為氣之主，腎為氣之本。凡咳嗽暴重，動引百骸，自覺氣從臍下逆奔而上者，此腎虛不能收氣歸元，當以地黃丸、安腎丸主之。此亦當問其有邪無邪。毋徒從事於肺，此虛則補子之義也。補子未知何出。余又有說焉，五行之間，惟肺腎二臟，母盛而子宮受邪，何以獨此二臟為然，且盛則何以反受邪。何則？肺主氣，肺有熱，則氣得熱而上蒸，不能下生於腎，而腎受邪矣。不生則僅不生而已，邪從何來。腎既受邪，則肺益病，此又何也？蓋母藏子宮，子隱母胎。凡人肺金之氣，夜臥則歸藏於腎水之中，今因肺受心火之邪，又增出心火來。欲下避水中，而腎水乾枯有火，何以腎又有火？無可容之地，於是復上而病矣。是肺自病耶？是邪病耶？若是肺病，肺氣歸肺不得為病。若是邪病，則爾必欲肺之邪藏於腎而後為不病乎？</p>

<h2>吐血論</h2>
<p>問吐血多起於咳嗽，咳嗽血者，肺病也。方家多以止嗽藥治肺，兼治血而不效，何也？曰：諸書雖分咳血、嗽血出於肺，咯血、唾血出於腎。余謂咳、嗽、咯、唾皆出腎。蓋腎脈入肺，循喉嚨，挾舌本，其支者從肺出絡心，注胸中，故二臟相連，病則俱病，而其根在腎。吐血五臟皆有，獨肺為多。偏要說皆腎病，無肺病。講論病源，為濟世而設，每語必與古人相戾，誠何心也？謂腎病必關於肺則可，下焦之血必由咳吐出也。謂肺病必關於腎則不可，上焦之血不必從腰膂過也。其所以專指為腎者，不過獨欲用六味、八味，嗟呼！六味、八味，兩藥方耳，不知與趙氏何恩，每病非此不治。即使與此病毫無干涉，必先將此病牽到腎經，然後用此二方。其或斷斷不可牽者，則以真陰、真陽、太極概之。夫陰陽、太極，則處處可假借者，於是二方不可須臾離矣。故吾謂《醫貫》者，亡明之妖書也。《褚氏遺書》津液論云：天地定位，水位乎中。人肖天地，亦有水焉，在上為痰，在下為水，《遺書》云：在下為精。今改為水，與上文亦有水焉句如何接上？伏皮為血，從毛竅中出為汗。可見痰也，水也，血也，一物也。此又失褚氏之意者。褚氏明人身上下皆有水，並非謂四者即一物也。其動輒誣古人如此。血之帶痰而出者，乃腎水挾相火炎上也。既是一物，則指為痰，帶痰而出亦可耶。惟六味地黃丸獨補腎水，如有咳嗽等疾，及肺氣未清者亦禁用，無此等則未嘗不可用也。性不寒涼，不損脾胃，久服則水升火降而愈。又須用人參救肺，肺氣上逆，咳嗽者禁用。補胃藥收功，使金能生水，蓋滋其上原也。</p>

<h2>喘論</h2>
<p>經云：諸喘皆屬於上。又云：諸逆衝上，皆屬於火。故河間敘喘病，在於熱條下。華佗云：肺氣盛為喘。《活人書》云：氣有餘則喘。後世集證類方，不過遵此而已。獨王海藏辨云：氣盛當作氣衰，有餘當認作不足。肺氣果盛與有餘，則清肅下行，豈復為喘？以其火入於肺，炎爍真陰，衰與不足，而為喘焉。盛衰二字誤解不得，經云：邪氣盛則實，精氣奪則虛。故凡言盛者皆指邪氣，凡言虛者皆指精氣。凡盛虛有二種：有外感及別臟之氣來乘而盛者，有本經之氣血結聚而盛者；有外感及別臟之邪消伐而虛者，有本經之氣血衰少而虛者。病情不同，治法亦異。嗟乎！盛衰二字，極淺極易，而醫者聚訟紛紜，千古夢夢，可勝長嘆。所言盛與有餘者，非肺之氣也，肺中之火也。此何勞辨，即如腎有餘豈指精多，肝有餘豈指血多耶。至言肺中之火，又屬一偏。六淫之氣，皆為有餘，何但火哉！海藏之辨，超出前人，發千古之精奧。惜乎！起其端，未竟其火之所由來。愚謂火之有餘，水之不足也；此專為要用六味，然外來之火，不必盡水之不足也。陽之有餘，陰之不足也。凡諸逆衝上之火，皆下焦衝任相火，出於肝腎者也，故曰沖逆。腎水虛衰，相火偏勝，壯火食氣，銷爍肺金，烏得而不喘焉。《內經》云：腎者主水，主臥與喘也。喘何嘗不屬腎？舍此明證，反引支離之說，愈無頭腦。但喘雖屬腎，而因各不同，治法亦異，非六味一方所能盡耳。須用六味地黃加門冬、五味，大劑煎飲，以壯水之主。如上焦未清，痰涎湧結，服此非惟不能下達，且氣逆涎升，終無愈期矣。則水升火降，而喘自定矣。蓋緣陰水虛，故有火。有火則有痰，有痰則咳嗽，咳嗽之甚則喘。凡謂喘證，只此陰虛一病，六味一方，豈不孟波！當與前陰虛相火論參看。</p>

<h2>喉咽痛論</h2>
<p>喉與咽乃一身之緊關橐龠也。經曰：足少陰所生病者，口渴舌乾，咽腫上氣，嗌乾及痛。《素問》云：邪客於足少陰之絡，令人咽痛，不可納食。又曰：足少陰之絡，循喉嚨，通舌本。凡喉痛者，皆少陰之病。此又亂道。《靈》《素》手足太陰、足厥陰、少陽、足陽明、手少陽，少陰諸經，皆有喉咽之證，令皆抹殺。專指為腎經之疾，然後可獨用六味、八味，真苦心也。但有寒、熱、虛、實之分。少陰之火如奔馬，逆衝到咽喉緊鎖處，氣鬱結而不得舒，故或腫或痛也。其證必內熱口乾，面赤痰涎湧上，其尺脈必數而無力。蓋緣腎水虧損，亦有實火者。相火無制而然。須用六味地黃，門冬、五味大劑作湯服之。喉痛之挾風火者，十居八九，即以滋膩、酸斂之藥投之，百不一生。如辛酉、壬戌之間，咽喉痛者，十人而五不但服溫燥之藥者立斃，即清涼之藥而少加重濁者尚且不救。余治以百數，皆以辛寒清淡疏散之藥，不失一人。若依此方，無一活者矣。又有色欲過度，元陽虧損，無根之火遊行無制，客於咽喉者，須八味腎氣丸，若遇陽明有火者不立斃乎！大劑煎湯，冰冷與飲，使引火歸原，庶幾可救。此論陰虛咽痛治法如此，正褚氏所謂上病療下也。人之喉咽如曲突，曲突火炎，若以水自上灌下，突暴裂矣。如曲突之火已熾，炎及屋宇，安得不以水沃乎？惟灶床下以盆水映之，上炎即息，此上病療下之一驗也。</p>
<p>有急喉痹者，其聲如齁，痰如拽鋸，此為肺絕之候。此乃氣上脫之證，宜入類中風條，非急喉痹。急喉痹乃風火之證耳，不得誤引。且果系喉痹，人參、薑汁豈不立殆者？速宜人參膏，用薑汁、竹瀝放開服，如未得膏，先煎獨參湯救之。服早，十全七八，次則十全四五，遲則不救。</p>

<h2>眼目論</h2>
<p>經曰：五臟六腑之精，皆上注於目而為之精。腎藏精，故治目者，以腎為主。明明說為之精則即眼之精矣，明明說五臟六腑之精則五臟六腑各有精矣。若指腎藏精之精即是此精，將目中之脂膏盡在腎中耶。目雖肝之竅，子母相生，腎肝同一治也。並肝腎為一，總要專用六味一方耳。</p>
<p>又有陽虛不能抗陰者，若因飲食失節，勞役過度，脾胃虛弱，下陷於腎肝，濁陰不能下降，清陽不能上升，天明則日月不明，邪害空竅，令人耳目不明。夫五臟六腑之精，皆稟受於脾土，而上貫於目。此精字，乃飲食所化之精，非天一之元精也，《內經》明云：五臟六腑之精，皆上注於目而為之精。又曰：目者，五臟六腑之精也，榮衛魂魄之所常營也，神氣之所生也。其鑿鑿如此，偏要說是脾土飲食所化之精，反經背道已極。至稟受脾土二句，又是假造經文。用東垣益氣聰明湯。</p>
<p>張子和云：目不因火則不病，白輪病赤，火乘肺也。肉輪赤腫，火乘脾也。黑水神光被翳，火乘肝與脾也。赤脈貫目，火自甚也。能治火者，一句可了。亦一偏之見，六淫之邪皆能傷目也。但子和一味寒涼治火，余獨補水以配火，亦一句可了。若系邪火，豈補水所能化？至於六淫七情，錯雜諸證，詳倪仲賢《原機啟微》，此書甚好，而薛立齋又為之參補，深明壯水之主，益火之原，甚有益於治目者也。若系六淫，則壯水之六味，益火之八味，何可用耶？</p>

<h2>口瘡論</h2>
<p>口瘡，上焦實熱，中焦虛寒，下焦陰火。中焦何以必定虛寒，豈無脾胃實火者。下焦何以必定陰火，豈無虛寒而逼陽於上者。各經傳變所致，當分別而治之。如發熱作渴飲冷，此實熱也，輕則用補中益氣，實熱反用升補。重則用六君子湯。實熱而至發熱作渴，反用參、朮、橘、半，是何肺腸？飲食少思，大便不實，此中氣虛也。亦有邪火作瀉者。用人參理中湯。大熱大補之藥用於口瘡之證，其不變為危險者亦鮮矣。手足逆冷，肚腹作痛，此中氣虛寒，用附子理中湯。此是口瘡兼證，或是口瘡本證。兼證者，因口瘡誤治，釀成此等敗證也。本證者，本有虛寒之證，逼火而成瘡也。此則不治瘡而治本，不可以此為治口瘡之方也。且口瘡治法多端，豈寒熱虛實四字所能盡。晡熱，內熱，不時而熱，此血虛也，用八物加丹皮、五味，麥冬。發熱豈宜用五味。發熱作渴唾痰，小便頻數，此腎水虛也，用八味丸。作渴吐痰何得用八味？且小便數，亦不盡屬虛寒也。日晡發熱，或從少腹起，陰虛也，用四物、參、朮、五味、麥冬。不應，用加減八味丸。口瘡而日晡發熱，則屬陽明矣。以上兩方皆不合。且四物湯加入參、術，雜亂無章，非治口瘡之法。又不應而忽改作八味丸，則是以人試藥矣。按：不應二字，出之《薛氏醫案》。薛氏治病，每云某病，余投某藥不應，又改某藥，又不應，乃曰：然則非此病矣，又換某藥數十劑而愈。如此極多，明明是以藥試病矣。幸而天命未絕，能待換方而愈。豈無不應之時，不及換方而死，且再換一方仍不應而致死者，豈少哉。蓋能鑿鑿審為何病，猶恐藥力不至，不能有功。況全然相反，以藥試之耶？醫案俚鄙庸陋，遊移恍惚，至薛而極。後人猶奉為模範，何愚之甚也。或問：虛寒何以能生口瘡，而反用附子理中耶？蓋因胃虛谷少，則所勝者，腎水之氣，寒亦何必腎水之氣，或因他臟，或因本臟，上盛則下虛，上熱則下寒，無一定也。逆而承之，反為寒中，脾胃衰虛之火，被迫炎上，作為口瘡。經曰：歲金不及，炎火乃行，復則寒雨暴至，陰厥乃格，陽反上行，民病口瘡是也。故用參、朮、甘草補其土，薑、附散其寒，既成瘡則火已凝結，不先散解降納，而惟峻補助火，安有不危者乎？則火得所助，接引而退舍矣。</p>

<h2>消渴論</h2>
<p>消渴之疾，余有一說焉。人之水火得其平，氣血得其養，何消之有。其間攝養失宜，水火偏勝，津液枯槁，以致龍雷之火上炎，熬煎既久，腸胃合消，五臟乾燥，令人四肢瘦削，精神倦怠。故治消之法，無分上、中、下，先治腎為急。《內經》云：心移熱於肺，傳為鬲消。大腸移熱於胃，善食而瘦，謂之食㑊。則上、中二消，明明是心與大腸之火，與腎無干，反盡從腎治耶！況腎火上衝之證，往往不甚渴，即渴亦不能多飲。蓋腎中之火既上，則下焦之陽衰，陽衰則陰盛，水為陰屬，故不能多飲也。幾辨陰火、實火之法俱視此。奈何欲用二方，遂不及詳察耶。惟六味、八味及加減八味丸隨證而服，降其心火，滋其腎水，則渴自止矣。</p>
<p>或問曰：下消無水，用六味丸以滋少陰腎水矣。又加附子、肉桂者何？蓋因命門火衰，不能蒸腐水穀，水穀之氣，不能薰蒸，上潤乎肺。如釜底無薪，鍋蓋乾燥，故渴。至於肺，亦無所稟，不能四布水精，並行五經。其所飲之水，未經火化，直入膀胱，正謂飲一升溺一升，飲一斗溺一斗。此是下消之證，與肺又無涉。試嘗其味，甘而不咸可知矣。故用桂、附之辛熱，壯其少陰之火，灶底加薪，枯籠蒸溽，槁禾得雨，生意維新。惟明者知之，昧者鮮不以為迂也。昔漢武帝病渴，張仲景為處此方。仲景是漢獻帝時人，與武帝相去二百餘年，明明可考，乃造出此語，何耶？趙氏所談，無往非夢，而此則又夢之最不經者。至聖玄關，今猶可想，八味丸誠良方也。瘡疽痊後，及將痊口渴甚者，舌黃堅硬者，及未患先渴，或心煩躁渴，小便頻數，或白濁陰痿，飲食少思，肌膚消瘦，及腿腫腳軟，口齒生瘡，服之無不效。經云：諸痛癢瘡，皆屬於火。又云：水液渾濁，皆屬於熱。況經大泄膿血之後，陰血大傷，作渴煩躁，孤陽欲越，乃反以辛熱逐水之藥速之死，仇何深也。</p>

<h2>氣虛中滿論</h2>
<p>中滿者，證與鼓脹水腫無異，何故屬之氣虛？請得明言之否。曰：氣虛者，腎中之火氣虛也。如此該腎自病矣。中滿者，中空似鼓，虛滿而非實滿也，大略皆脾腎兩虛所致。故治腫者，先以脾土為主，須補中益氣湯，或六君子湯溫補之。水未去而補之，則補其水也。俾脾土旺，則能散精於肺，通調水道，下輸膀胱，水精四布，五經並行矣。或者疑謂喘脹水滿，而又加純補之劑，恐益脹滿，必須補藥中加行氣利水之品方妙。此說深似得病情，終非大方家體。治病而講體統，無恥已甚。蓋肺氣既虛，不可復行其氣，腎水已衰，不可複利其水。利邪水正所以衛正水，猶之驅邪氣正所以保正氣，豈並腎精而亦利之耶。純補之劑，初時似覺不快，過時藥力得行，漸有條理矣。</p>
<p>至於補腎以治腫，其說難明。蓋禹之治水，行其所無事也。若一事疏鑿，則失之矣。當時禹亦何嘗不浚川鑿河哉？據爾云，必須補腎，則禹當日只曰益水之源可矣。今人之治腎水者，牽牛、大戟，粗工之小智，正禹之所惡也，間有用五苓、五皮者，以為中正，亦轉利轉虛，腎氣愈衰，而愈不能推送矣，故須用補腎。經曰：腎開竅於二陰。腎氣化，則二陰通。二陰閉，則胃䐜脹。故曰：腎者胃之關，關門不利，故水聚而從其類也。可知要利關門，不是要補關門也。引來卻正與爾相左。又曰：腎主下焦。三焦者，決瀆之官，水道出焉。可知以決瀆為主。膀胱者，州都之官，津液藏焉。必待三焦之火化，始能出也。改《內經》文，氣化二字為火化，意在八味也。孰知換此一字，其弊遂百出乎。經曰：三焦病者，氣滿小腹，光堅，不得小便，溢則水留而為脹。曰溢，曰水留，尚專於用補耶。惟張仲景制金匱腎氣丸，補而不滯，通而不泄，誠治腫之神方。薛立齋屢用屢效，詳載《醫案》。余依其案，試之甚驗，故詳著焉。世有患此，幸無誕之乎。</p>
<p><u>金匱腎氣丸</u>　白茯苓、附子、牛膝、肉桂、澤瀉、車前子、山藥、山萸、丹皮、熟地。中滿之病，原於腎中之火氣虛，不能行水。此方內八味丸為主，以補腎中之火，八味為利水之劑，說見前。山藥、茯苓、澤瀉俱制土驅濕之藥，而水為陰類，故以附子溫之，肉桂通之。惟生地、萸肉為能滋潤以保腎陰，然初起猶不即用，須略加通利之後，始用之而效，此仲景制方之義也。知腎氣丸為治水之藥，即可知非全補真陽太極之藥。若以此方治盡天下之病，則是舉天下之病皆以治水腫之法治之矣。思之能不自笑哉！則三焦有所稟命，浩然之氣，塞乎天地，不必作如此大帽子。腎氣不虛，而能行水矣。內有附子、肉桂辛熱之品，熱則流通。又火能生土，土實而能制水矣。又有牛膝、車前二味，最為切當。方見《金匱要略》，故名金匱腎氣丸。《金匱》並無車前、牛膝，乃後人所加，亦後人所名也。</p>
<p>又有一等純是陰虛者，下一純字，專為要用六味，而病情又失矣。其證腹大臍腫，腰痛，兩足先腫，小水短澀，喘嗽有痰，不得臥，甚至頭面皆腫，或面赤口渴，但其人飲食知味，大便反燥。醫見形腫氣喘，水證標本之疾，雜用利水之藥而益甚。不知陰虛，三焦之火旺，與衝脈之屬火者同逆而上。由是水從火溢，水火不能相合，豈有水反從火溢者？即有之，亦宜引火達下，不得用純陰藥也。上積於肺而嗽，甚則為喘呼不能臥。散聚於陰絡，而為跗腫。隨五臟之虛者，入而聚之，為五臟之脹。皆相火氾濫其水而生病也。五臟之脹，皆屬於火，從無此論。腫脹用八味固是正治，用六味則無此理矣。蓋水勢橫逆，得純陰之品則陰氣益旺，且無辛芳之藥，則水道必不能開。但或遇陰虛之人，則用藥忌太燥熱耳。此人治病，六味、八味不可缺一。此論用八味而遺六味，則真陰又無著落，所以幻出陰虛一種，則六味仍不可缺。六味有知，亦感此周旋之德否。以六味地黃加麥冬、五味大劑服之。滋之不足，尚欲斂之，不殺不休！親試有驗，故錄。</p>

<h2>噎膈論</h2>
<p>《內經》曰：三陽結，謂之膈。三陽者，大腸、小腸、膀胱也。太陽為三陽，陽明為二陽，少陽為一陽。此處三陽，舊注指手太陽小腸，足太陽膀胱言。乃增出大腸末，蓋誤以三陽為三陽經也。結，結熱也。大腸主津，小腸主液。大腸熱結則津涸，小腸熱結則液燥。膀胱為州都之官，津液藏焉。膀胱熱結，則津液竭。然而三陽何以致結熱？皆腎之病也。然則《內經》何以不云少陰結謂之膈？蓋腎主五液，又腎主大小便。腎與膀胱為一臟一腑，腎水既干，陽火偏盛，熬煎津液，三陽熱結，則前後閉澀，下既不通，必反幹上，直犯清道，上衝吸門、喉咽，所以噎食不下也。何為水飲可入，食物難下？蓋食入於陰，長氣於陽，豈有食未下咽之時，陽氣已長之理乎！反引動胃口之火，故難入。水者，陰類也，同氣相投故可入。水自然比食易下，不必過高其說。若胸中有痰飲者，則食易下，而水反難下矣。口吐白沫者，所飲之水，沸而上騰也。既同氣相投，何以又沸？糞如羊矢者，食入者少，渣滓消盡，腸亦干小，而不寬大也。本系腸枯，非因食少。王太僕云：食入即出，是無水也。食久反出，是無火也。無水者，壯水之主。無火者，益火之原。王太僕只有寒之不寒是無水也數語，今改作治翻胃法，以湊上六味、八味二方。我想其作偽之心，不知如何詭秘也。直須以六味地黃丸料大劑煎飲，久服可挽於十中之一二。又須絕嗜欲，遠房幃，薄滋味可也。若曰溫胃，胃本不寒。何以必定無寒。若曰補胃，胃本不虛。此則又亂道矣。爾論病必曰：邪之所湊，其氣必虛。何獨此純虛之證，反曰不虛耶？若曰開鬱，香燥之品，開鬱亦不必專用香燥。適以助火。《局方發揮》已有明訓。河間劉氏下以承氣，鹹寒損胃，津液愈竭。無如補陰，此症多痰涎凝閉，當補陰者絕少。焰光自滅。</p>

<h2>夢遺並精滑論</h2>
<p>治以腎肝為主。經曰：陰陽之要，陽密乃固。陽強不能密，陰氣乃絕。陰平陽秘，精神乃治。陰陽離決，精氣乃絕。夫所謂陽強者，乃肝腎所寄之相火強也。所謂陰絕者，乃腎中所藏之真陰絕也。腎為陰，主藏精。肝為陽，主疏泄。惟此處疏泄不繫肝也。是故腎之陰虛，則精不藏。肝之陽強，則火不秘。明明是腎中相火，偏要說是肝火。凡肝火動者，必上升而易怒。今人每入房之時，必火升而大怒耶？以不秘之火加臨不藏之精，有不夢，夢即泄矣。薛立齋專用六味地黃以補腎，而治夢遺屢效。縱有相火，水能滋木，水升而木火自息矣。倘有脾胃不足，濕熱下流者，以前丸為主，煎服補中益氣湯以升提之。此又怪異之極者，濕熱如何提得，且既已有濕，又屬脾胃，亦何可用六味也。</p>

<h2>論補中益氣湯</h2>
<p><u>補中益氣湯</u>　黃耆、當歸、人參、炙甘草、陳皮、升麻、柴胡、白朮。或問曰：古今稱補中益氣湯為萬世無窮之利，其義云何？曰：此發前人所未發，繼仲景、不倫。河間而立，意義深遠也。世人一見發熱，便以為外感風寒、暑濕之邪，非發散，邪從何出。又不能灼見風寒、暑濕對證施治，乃通用解表之劑，雜然並進，因致斃者多矣。東垣深痛其害，創立此方，以為邪之所湊，其氣必虛。內傷者多，外感者間或有之。辨在前。立此方以治內傷而兼外感者，何等平常。必雲天下竟無外感之病，則亂道矣。此人每舉一方，必要說此方能治盡天下之病，不必更用別方，是何等肺腸！縱有外邪，亦是乘虛而入。但補其中，益其氣，而邪自退，不必攻邪。將歷古治病之方，一齊刪卻。攻則虛者愈虛，而危亡隨其後矣。攻邪不是攻正，何以虛者愈虛？倘有外感，而內傷不甚者，即於本方中酌加對證之藥，而外邪自退。所謂仁義之師，無敵於天下也。仁義之師，亦非竟不用兵刃也。</p>
<p>或問曰：余見先生動輒以先天后天立論，余考之《易》中先天后天之圖，乾南坤北，離東坎西等卦位，於醫中甚無所合，而先生屢言之不已，其義云何？曰：怪乎子之問也。余所謂先天者，指一點無形之火氣也。以火氣為先天，其玄妙如此。後天者，指有形之體。自臟腑及血肉皮膚，與夫涕、唾、津、液皆是也。既曰先天，此時天尚未生，何況有乾南坤北八卦對待之圖乎？先天，在天未生之前卻不知，到在人腹中專恃八味養之，豈非夢境。曰：然則伏羲此圖何為而設也？余曰：此非先天之圖，乃中天八卦之圖。歷古無中天之圖，造出此名，以遷就自己亂道，此等直是無人心者。天位乎上，地位乎下，日出乎東，水源乎西。以水對日，亦是怪論。風雨在天上，山雷在地下，人與萬物位乎中。予嘗見誰不見。邵子排列如此，有先天八卦數，其當今所用者，止一文王后天圖。誰用此。出乎震，齊乎巽，相見乎離，致役乎坤，悅言乎兌，戰乎乾，勞乎坎，成乎艮。以春秋晝夜十二時相配，因以定陰陽，決生死，推而天文地理，星相醫卜，無一不以此圖為則。至於先天者，無形可見，前圖何以無形可見，後天圖之有形可見在何處，種種欺人胡說。即《易》中帝出乎震之帝。神也者，妙萬物而為言之神是也。此二句，卻是文王后天圖之語，又與上文先天圖說不合。帝與神，即予先天要論中所稱真君真主，本系無形，何以反出在後天圖說內。不得已而強立此名。以為主宰先天之體，以為流行後天之用。東垣先生獨會其宗，而以補中益氣方中用柴胡、升麻者，正以生髮先天之氣於脾土之中。先天之氣，前要用六味、八味，則云在腎中，此要用補中益氣，則云在脾土中。況先天之氣立於天尚未生之前，獨升麻、柴胡足以左之右之，真乾坤在手之神技也。真萬世無窮之利，余所以諄諄為言也。若飲食失節，寒溫不適，脾胃乃傷。喜、怒、憂、恐，損耗元氣。脾胃氣衰，元氣不足，而火獨盛。火者陰火也，起於下焦，元氣之賊也。壯火食氣，少火生氣。火與元氣不兩立，必要將火滅盡，元氣方存，豈非胡說。一勝則一負。脾胃氣虛，則下流肝腎，名曰重強。何以虛則反下流，且流去是何物？《內經》重強二字，亦不如此講。經云：脾脈太過，則令人四肢不舉，其不及則令人九竅不通，名曰重強。此乃指脾之病脈，言脈病則五臟皆不和順也。何嘗指下流肝腎耶？陰火得乘其土位，故脾證始得，則氣高而喘，身熱而煩，脈洪大而頭痛，或渴不止，其皮膚不任風寒而生寒熱。又雜外感之證。蓋脾胃之氣下流，使穀氣不得升浮。是春生之令不行，句句不連貫，皆學舌語也。則無陽以護其營衛，衛即衛身之陽氣也，如何反要脾胃之氣為衛。遂不任風寒，而生寒熱，此皆脾胃之氣不足所致也。</p>
<p>傷寒發熱，拂拂如羽毛之熱，熱在皮毛。三陽俱有壯熱之證，若陽明則熱在肌膚為尤劇，如何皆只微熱。內傷者，肌體壯熱，捫之烙手，內傷雖熱，總不如外感之甚，如何反以為極熱。右手氣口脈大於左手人迎三倍。此又亂道，脈大三倍是關格之脈，危證矣，豈內傷乎？其氣口脈急大而數，時一代而澀。代脈亦是危證，安得內傷即現此脈，且脈亦不可派定也。澀是肺之本脈，代是氣不相接，乃脾胃不足之脈。大是洪大，洪大而數，乃心脈刑肺。急是弦急，乃肝木挾心火克肺金也。其右關脈屬脾，比五脈獨大而數，數中時顯一代。此不甚勞役，是飲食不時，寒溫失所。又何以鑿鑿派定如此。胃脈損弱，隱而不見，惟內顯脾脈如此。以上語語不接，說內傷肺，又俱說肺金受克，絕無頭緒。若外傷，則人迎脈大於氣口也。</p>
<p>或問曰：丹溪云東南之人，陽氣易以升，不可服補中益氣湯。當今江以南之人，果盡不當服乎？曰：東南指人之臟腑而言之。何不云東南之臟不可服補中益氣湯耶。然則肺腎謂之西北人矣。作此語者，其臟腑殆無人氣。其人上盛者，必下虛，其腎氣大虛矣。急須填補北方先天之元氣為要。總而言之，先天、後天，不得截然兩分。上焦元氣不足者，下陷於腎中也，元氣本不在上焦，即使上焦亦有元氣，如何陷入腎中。當取之至陰之下。下焦真陰不足者，飛越於上部也，陰氣如何能飛越。焉可不引而歸原耶。引陰歸原，從未前聞。是以補中益氣湯與腎氣丸並用。即前怪法。朝服補陽，暮服補陰，互相培養。</p>

<h2>傷飲食論</h2>
<p>大凡元氣完固之人，多食不傷，過時不飢。若夫先因本氣不足，致令飲食有傷矣。克削之藥一用，飲食雖消，但脾既已受傷，而復經此一翻消化，愈虛其虛。明後日食復不化，猶謂前藥已效，藥力欠多，湯丸並進，展轉相害，羸瘦日增，良可悲哉。消化之藥原不教人長服也。余痛此斃，因申言之。凡太平丸、保和丸、肥兒丸之類，其名雖美，俱不敢用。蓋名之美者，其藥必惡。然則陷胸、抵當等名，皆大補之劑，而天真、大造等方，皆傷生之藥耶？故以美名加之，以欺人耳目，非大方家可用也。古人立此名專為欺人而設，不知古人與後世何仇，欲騙人入其箇中耶。大方家以其名之美不可用，然則大方家所用，皆惡名之方耶？夫有醫術，有醫道。術可暫行一時，道可流傳千古。道中無術，術中無道，瀉藥是術，補藥是道，一時之人不妨瀉，千古之人必須補。不知其心何若，而能作此不通之談。有古方，有今方，有聖方，有俗方。余以為今人不及古人，不敢自立一方。六味、八味二方已足用，原不必更立方也。若脾胃惟東垣為聖，選而用之，以調中益氣、補中益氣二方出入增減。真知其寒物傷也，本方中加熱藥如薑、桂之類。熱物傷也，加黃連之類。真知有肉食傷也，加山楂數粒。酒食傷也，加葛花一味。隨證調理，二方誠有用處，然謂必要二方加減，則怪談矣。此東垣之法，方士之繩墨也。然以寒治熱，而熱不去，以熱治寒，而寒不除。奈何？經曰：寒之不寒，是無水也。熱之不熱，是無火也。壯水之主，益火之原。此東垣之未及也。治脾胃，原不專講寒熱。蓋飲食勞倦，所謂不內外因，與壯水、益火何涉？蓋一時偶不及說到六味、八味，忽然記起，遂著此二語耳。如有食填太陰，名曰食厥者，上部有脈，下部無脈，不吐則死。此語出《難經》，謂上部有脈，下部無脈者，若其人有吐病則不死。蓋吐則氣逆上湧，所以下部暫時無脈，吐定之後，氣平而脈自復。非謂無脈之人，必令其吐也。又並非指食厥而言。況食厥證，又未必下部無脈者。句句皆誤。急以陰陽鹽湯，探吐其物即愈。如有食積，腸腹絞痛，手不可按者，不得不下。食未消化，如何即下。審知其為寒積，必用巴豆感應丸。何不用八味加下藥？審知其為熱積，必用大黃承氣湯。何不用六味加下藥？下之不當，死生立判，慎之哉！</p>
<p>人身水火，原自均平，偏者病也。火偏多者，補水配火，不必去火。水偏多者，補火配水，不必去水。凡人身水火，有虛實二種。實火者，外來之邪火與臟腑偏盛之火也。虛火者，陰氣衰少，而火覺有餘也，惟水亦然。若陰氣並未虧，而外來實火及臟中浮火自旺，亦補陰以配之，將配到幾千百分而後平耶。宜其治傷寒陽明壯熱等疾，皆用六味也。譬之天平，此重即彼輕。一邊重者，只補足輕之一邊，決不鑿去馬子。蓋馬子一定之數，今人慾瀉水降火者，鑿馬子者也。據爾亦知馬子一定，若一頭物重，必要增馬子耶。</p>
<p>或曰：正當胸膈飽悶之時，數日粒米不下，陳皮、枳殼、木香、烏藥，日夜吞嚥，尚且不通，復可補乎？曰：此正因初先不知補益，擅用發散，克伐太過，虛痞之病也。經曰：下文經語，皆是自造，無忌憚已極，想彼料天下人斷無看《內經》者故耳。下焦虛乏，中焦痞滿，欲治其虛，則中滿愈甚，欲消其痞，則下焦愈乏，庸醫值此，難以措手矣。疏啟其中，峻補其下，少用則邪壅於上，多用則峻補於下，所謂塞因塞用者也。善用者，能以人參一兩，或七八錢，少加升麻一錢，反用升提，且二味亦不成方。大劑一服即愈。此《內經》之妙用，《內經》何嘗有此方？不可不知也。</p>

<h2>中暑傷暑論</h2>
<p>中暑者，面垢自汗，口燥悶倒，昏不知人，背冷，手足微冷，或吐或瀉，或喘或滿是也。當是時，切勿便與冷水，或臥冷地。如行路暍死者，即置日中熱地上，以小便溺熱土上，取熱土罨病人臍上，急以二氣丹同蘇合香丸湯調灌下。如無二氣丹，研蒜水灌之亦可。蓋中傷暑毒，外陽內陰。諸暑藥，多用暖劑，如大順散之用薑、桂，枇杷葉散之用丁香。蒜亦辛熱之物，又蒜氣臭烈，能通諸竅也。中暑用熱，又是暑中之一證，千不得一。或因好涼太過，或其人本屬虛極，或因暑邪入中，汗出太過，陽越於外。古方仍有用辛熱者，然必審其沉寒之脈證全具，方可一用。乃以為暑證盡然，則殺人如麻矣。此人凡論一病，必以此病中之極少者立論，真可恨也。</p>
<p>傷暑而苦頭痛，發躁惡熱，捫之肌膚大熱，必大渴引飲，汗大泄，齒燥，無氣以動，乃為暑傷氣，蒼朮白虎主之。有暑而無濕者，蒼朮亦不可用。若人元氣不足，用前藥不應，惟清暑益氣湯或補中益氣湯為當。自汗多而氣上，反用升、柴，熱氣未清，反用參、術，與爾何仇？必欲殺。大抵夏月陽氣浮於外，爾亦知陽浮，何以用升、柴也？陰氣伏於內。若人飲食勞倦，內傷中氣，或酷暑勞役，外傷陽氣者多患之。法當調補元氣為主，暑氣未清而補，即補暑矣。夏月服補而卒死者，我見亦多矣。皆此等邪說殺之也！而佐以解暑。若陰寒之證，用大順散，桂、附大辛熱之藥，此《內經》舍時從證之良法。《內經》何嘗有此議論。不可不知。</p>
<p><u>清暑益氣湯</u>　黃耆、蒼朮、升麻、人參、白朮、陳皮、神麯、澤瀉、甘草、黃柏、葛根、青皮、當歸、麥冬、五味。雜出不倫，古人制方之義至此而盡。醫道之一厄也。</p>
<p><u>白虎湯</u>　石膏、知母、甘草、人參、糯米。此是白虎加人參湯，不得只名白虎湯。此方是暑月熱病發熱之正方。白虎湯，仲景治傷寒汗后里熱等證。加人參，名人參白虎湯，治汗後表解大渴之證。《金匱》亦藉以治太陽中暍之證。乃隨手錄一方而有數誤焉，非治暑正方，一也。以白虎加人參湯指為白虎湯，二也。以粳米改糯米，三也。以為只夏月可用，余月不可用，四也。其每動必誤如此。</p>

<h2>濕論</h2>
<p>東垣曰：治濕不利小便，非其治也。又曰：在下者，引而竭之。聖人之言，雖布在方策，其不盡者，可以意求耳。夫濕淫從外而入里，若用淡滲之劑，是降之又降。乃復益其陰，而重竭其陽，利濕如何是益陰竭陽，豈濕氣是陽耶？則陽氣愈消，而精神愈短矣。是陰重強，陽重衰，反助其邪之謂也。濕而利之，是助何邪？故用升陽風藥即瘥，以羌活、獨活、柴胡、升麻各一錢，用水煎熱服。四味風藥，亦不成方。大法云：熱淫所勝，助風以平之。又假造《內經》。經云：濕淫所勝，平以苦熱，佐以酸辛。以苦燥之，以淡泄之。正上文淡滲利水之義。乃捏出此怪語，是何肺腸。又曰：下者舉之，下者舉之，為正氣下陷則提之，非欲舉濕也。得陽氣升騰而愈矣。又曰：客者除之，是因曲而為之直也。利水即是除客，反要提在上焦，將何以除之耶。曲直二字，亦糊塗。夫聖人之法，可以類推，是舉一而知百也。有腳氣類傷寒者，發熱惡寒，必腳脛間腫痛，俱從濕治。腳氣大段因濕為多，然治法亦不一也。有濕熱發黃者，當從郁治。凡濕熱之物，不鬱則不黃，禁用茵陳五苓散。茵陳五苓，治濕之正方也。凡古人相傳治病正方，猶之飢者之食五穀，一定不易。其以餚蔬下之，則加減法也。或米或麥之不同，則審用法也。更或五果、五菜之單食則變通法也。若謂古方不可用，則猶云凡飢者禁食五穀，服者十不一生也。嗟乎！是尚得為人言哉。凡見用茵陳五苓散者，十不一生，仲景殺過幾人？當用逍遙散，方見郁論。</p>
<p>予一日患陰丸一個腫如鴨卵，發熱，是濕熱證，治之不效。細思之，數日前從定海小船回，有濕布風帆在坐下，比上岸始覺，以意逆之，此感寒濕在腎丸也。乃用六味地黃加柴胡、吳萸、肉桂各一錢，獨活五分，知其為濕，仍必用六味，又必柴胡，此理莫解。至服此而病幸愈者，蓋一時輕疾，得茱萸、肉桂、獨活等辛散之藥，自然六味不能為害耳。一服熱退，再服腫消，後有患偏墜者，此方多效。</p>

<h2>瘧論</h2>
<p>或問曰：經云夏傷於暑，秋必病瘧。前人雖備言之，旨殊未暢，盍明示諸？曰：不發於夏而發於秋，此亢則害承乃制，子來救母之義。《內經·瘧論》言之甚詳，不容再贅一語，偏要扯出六節氣位，亢害承製之論以欺人，又全然不曉其義，豈不汗顏！蓋暑令當權，君火用事，肺金必受傷克。火位之下，水氣承之。腎水為肺之子，因母受火傷，子來承之。如此則瘧乃肺病，而寒熱則心腎交戰之病也。亂道無理，一至於此。以制火救母。於是水火相戰，陰陽交爭，大勝則大復，小勝則小復。此陰陽勝復之常理，瘧之所由作也。然而有病有不病者，蓋邪之所湊，其氣必虛。故其人元氣不固者，暑邪得以承之，所以治瘧以扶元氣為主。瘧邪方熾，如何扶元？且爾所謂扶元，必是六味助了腎水，以滅君火，火氣從此大敗，其人遂終冷不熱。奈何，奈何！</p>
<p>發在夏至後處暑前者，此三陽受病，傷之淺者，近而暴也。發在處暑後冬至前者，此三陰受病，陰陽受病之故，《內經》言之甚悉，何嘗以時之前後分陰陽。傷之重者，遠而深也。</p>
<p>至於陰虛者，其寒熱亦與正瘧無異。而陰瘧中又有真陰、真陽之分，先做六味、八味地步。人所不知。經曰：晝見夜伏，夜見晝止，按時而發，是無水也。晝見夜伏，夜見晝止，倏忽往來，時止時作，是無火也。又假造經文。以寒熱准者，皆是無水，不準者，皆見無火，豈非亂道。無水者，壯水之主以鎮陽光，六味湯主之。無火者，益火之原以消陰翳，八味湯主之。二方豈是治寒熱之藥，非但作書者可厭，即辨者，亦可厭矣。世患久瘧而不愈者，非瘧不可愈，乃治之不如法也。丹溪云：夜發者邪入陰分，宜用血藥引出陽分，當歸、川芎、紅花、生地、黃柏治之，亦未及真陰、真陽之至理。遍考諸書瘧論，並未能露其意。天下之病，盡用六味、八味，千古只有爾獨得之秘，非但治瘧無人能得此意也。且余常試有神驗，故特表而出焉。</p>

<h2>痢疾論</h2>
<p>世有瘧後痢者，亦有痢後瘧者。夫既為瘧後，發泄已盡，必無暑熱之毒。復為痢疾，瘧邪未清，中氣復虛，邪從內陷，此正暑毒陷入臟腑之疾，最為險證也。此是元氣下陷，脾氣不能升舉，似痢非痢也。非痢，將指為何病？既為痢後，下多則亡血，氣又隨痢散，陰陽兩虛。陽虛則惡寒，陰虛則惡熱，故寒熱交戰，似瘧非瘧也。雖系氣血兩虛，既復寒熱交爭，則是邪仍向外，仲景《傷寒論》中，凡陰病轉陽，皆易愈之候。此乃痢轉為瘧，病屬可治。若不指為瘧，竟作陰虛、陽虛論，則久病壞症，死期將至，亦非補中益氣所能愈也。則俱作虛論，俱用補中益氣加溫補，其病自愈。細閱此書，何必嘵嘵著成數卷，只兩言括之曰：陰虛用六味，陽虛用八味足矣。讀者亦不必終帙，只記二方，而千聖之妙訣已傳，濟世之良法已盡。所以天下庸醫，一見此書，無不狂喜，以為天下有如此做名醫之捷徑，恨讀之猶晚也。殺人之法，從此遍天下矣。嗟乎！無源亂道，何地無之，原不足與辨，因晚村輩力為崇奉，而流毒遂無盡。故作書者之罪小，而表章者之罪大也。</p>
