<header data-type="book">
<h1>八十一難經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>相傳為<data value="扁鵲">秦越人（扁鵲）</data>所著</dd></div>
<div><dt>底本</dt><dd>*《難經校注》，人民衛生出版社，1991；明初刊大字本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=0b8782ccd44f46ee9976841d464ab32dfDcyNDMz0&SourceID=1">國家圖書館掃描本</a>）</dd></div>
<div><dt>品質</dt><dd>90%</dd></div>
</dl>
</header>
<h2>一難</h2>
<p>一難曰：十二經皆有動脈，獨取寸口，以決五藏六府死生吉凶之法，何謂也？</p>
<p>然，寸口者，脈之大要會，手太隂之動脈<span data-rev="校"><small class="雙行夾注">或作「脈動」。</small></span>也。人一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸。人一日一夜凡一萬三千五百息，脈行五十度周於身。漏水下百刻，榮衛行陽二十五度，行隂亦二十五度，為一周也，故五十度復會於手太隂。寸口者，五藏六府之所終始，故法取於寸口也。</p>
<h2>二難</h2>
<p>二難曰：脈有尺寸，何謂也？</p>
<p>然，尺寸者，脈之大要會也。從關至尺是尺內，隂之所治也。從關至魚際是寸<span data-rev="校"><small class="雙行夾注">或作「寸口」。</small></span>內，陽之所治也。故分寸為尺，分尺為寸。故隂得尺內一寸，陽得寸內九分，尺寸終始，一寸九分，故曰尺寸也。</p>
<h2>三難</h2>
<p>三難曰：脈有太過，有不及，有隂陽相乘，有覆有溢，有關有格，何謂也？</p>
<p>然，關之前者，陽之動，脈當見九分而浮。過者，法曰太過；減者，法曰不及。遂上魚為溢，為外關內格，此隂乘之脈也。關以後者，隂之動也，脈當見一寸而沉。過者，法曰太過；減者，法曰不及。遂入尺為覆，為內關外格，此陽乘之脈也。故曰覆溢，是其真藏之脈，人不病而死也。</p>
<h2>四難</h2>
<p>四難曰：脈有隂陽之法，何謂也？</p>
<p>然，呼出心與肺，吸入腎與肝，呼吸之間，脾受穀氣<span data-rev="校"><small class="雙行夾注">或作「味」。</small></span>也，其脈在中。浮者陽也，沉者隂也，故曰隂陽也。</p>
<p>心肺俱浮，何以別之？</p>
<p>然，浮而大散者，心也；浮而短濇者，肺也。</p>
<p>腎肝俱沉，何以別之？</p>
<p>然，牢而長者，肝也；按之濡，舉指來實者，腎也。脾者中州，故其脈在中，是隂陽之法也。</p>
<p>脈有一隂一陽，一隂二陽，一隂三陽；有一陽一隂，一陽二隂，一陽三隂。如此之言，寸口有六脈俱動耶？</p>
<p>然，此言者，非有六脈俱動也，謂浮、沉、長、短、滑、濇也。浮者陽也，滑者陽也，長者陽也；沉者隂也，短者隂也，濇者隂也。所謂一隂一陽者，謂脈來沉而滑也；一隂二陽者，謂脈來沉滑而長也；一隂三陽者，謂脈來浮滑而長，時一沉也。所言一陽一隂者，謂脈來浮而濇也；一陽二隂者，謂脈來長而沉濇也；一陽三隂者，謂脈來沉濇而短，時一浮也。各以其經所在，名病逆順也。</p>
<h2>五難</h2>
<p>五難曰：脈有輕重，何謂也？</p>
<p>然，初持脈如三菽之重，與皮毛相得者，肺部也。如六菽之重，與血脈相得者，心部也。如九菽之重，與肌肉相得者，脾部也。如十二菽之重，與筋平者，肝部也。按之至骨，舉指來實<span data-rev="校"><small class="雙行夾注">或作「疾」。</small></span>者，腎部也。故曰輕重也。</p>
<h2>六難</h2>
<p>六難曰：脈有隂盛陽虚，陽盛隂虚，何謂也？</p>
<p>然，浮之損小，沉之實大，故曰隂盛陽虚。沉之損小，浮之實大，故曰陽盛隂虚。是隂陽虚實之意也。</p>
<h2>七難</h2>
<p>七難曰：經言少陽之至，乍大乍小，乍短乍長；陽明之至，浮大而短；太陽之至，洪大而長；太隂之至，緊大而長；少隂之至，緊細而微；厥隂之至，沉短而敦。此六者，是平脈邪？將病脈耶？</p>
<p>然，皆王脈也。</p>
<p>其氣以何月各王幾日？</p>
<p>然，冬至之後，得甲子少陽王，復得甲子陽明王，復得甲子太陽王，復得甲子太隂王，復得甲子少隂王，復得甲子厥隂王。王各六十日，六六三百六十日，以成一歲。此三陽三隂之王時日大要也。</p>
<h2>八難</h2>
<p>八難曰：寸口脈平而死者，何謂也？</p>
<p>然，諸十二經脈者，皆係於生氣之原。所謂生氣之原者，謂十二經之根本也，謂腎間動氣也。此五藏六府之本，十二經脈之根，呼吸之門，三焦之原，一名守邪之神。故氣者，人之根本也，根絕則莖葉枯矣。寸口脈平而死者，生氣獨絕於內也。</p>
<h2>九難</h2>
<p>九難曰：何以別知藏府之病耶？</p>
<p>然，數者府也；遲者藏也。數則為熱，遲則為寒。諸陽為熱，諸隂為寒。故以別知藏府之病也。</p>
<h2>十難</h2>
<p>十難曰：一脈為十變者，何謂也？</p>
<p>然，五邪剛柔相逢之意也。假令心脈急甚者，肝邪干心也；心脈微急者，膽邪干小腸也；心脈大甚者，心邪自干心也；心脈微大者，小腸邪自干小腸也；心脈緩甚者，脾邪干心也；心脈微緩者，胃邪干小腸也；心脈濇甚者，肺邪干心也；心脈微濇者，大腸邪干小腸也；心脈沉甚者，腎邪干心也；心脈微沉者，膀胱邪干小腸也。五藏各有剛柔邪，故令一脈輒變為十也。</p>
<h2>十一難</h2>
<p>十一難曰：經言脈不滿五十動而一止，一藏無氣者，何藏也？</p>
<p>然，人吸者隨隂入，呼者因陽出。今吸不能至腎，至肝而還，故知一藏無氣者，腎氣先盡也。</p>
<h2>十二難</h2>
<p>十二難曰：經言五藏脈已絕於內，用針者反實其外；五藏脈已絕於外，用針者反實其內。內外之絕，何以別之？</p>
<p>然，五藏脈已絕於內者，腎肝氣已絕於內也，而醫反補其心肺。五藏脈已絕於外者，其心肺氣<span data-rev="校"><small class="雙行夾注">或作「脈」。</small></span>已絕於外也，而醫反補其腎肝。陽絕補隂，隂絕補陽，是謂實實虚虚，損不足益有餘，如此死者，醫殺之耳。</p>
<h2>十三難</h2>
<p>十三難曰：經言見其色而不得其脈，反得相勝之脈者，即死；得相生之脈者，病即自已。色之與脈當參相應，為之奈何？</p>
<p>然，五藏有五色，皆見於面，亦當與寸口、尺內相應。假令色青，其脈當弦而急；色赤，其脈浮大而散；色黃，其脈中緩而大；色白，其脈浮濇而短；色黑，其脈沉濡而滑。此所謂五色之與脈，當參相應也。</p>
<p>脈數，尺之皮膚亦數；脈急，尺之皮膚亦急；脈緩，尺之皮膚亦緩；脈濇，尺之皮膚亦濇；脈滑，尺之皮膚亦滑。</p>
<p>五藏各有聲色臭味，當與寸口、尺內相應。其不相應者，病也。假令色青，其脈浮濇而短，若大而緩為相勝，浮大而散，若小而滑，為相生也。</p>
<p>經言知一為下工，知二為中工，知三為上工；上工者十全九，中工者十全七，下工者十全六，此之謂也。</p>
<h2>十四難</h2>
<p>十四難曰：脈有損至，何謂也？</p>
<p>然，至之脈，一呼再至曰平，三至曰離經，四至曰奪精，五至曰困<span data-rev="校"><small class="雙行夾注">或作「死」。</small></span>，六至曰命絕，此至之脈也。何謂損？一呼一至曰離經，再呼一至曰奪精，三呼一至曰困<span data-rev="校"><small class="雙行夾注">或作「死」。</small></span>，四乎一至曰命絕，此謂<span data-rev="校"><small class="雙行夾注">或無「謂」字。</small></span>損之脈也。至脈從下上，損脈從上下也。</p>
<p>損脈之為病奈何？</p>
<p>然，一損損於皮毛，皮聚而毛落；二損損於血脈，血脈虚少，不能榮於五藏六府也；三損損於肌肉，肌肉消瘦，飲食不<span data-rev="校"><small class="雙行夾注">或作「不能」。</small></span>為肌膚；四損損於筋，筋緩不能自收持；五損損於骨，骨痿不能起於床。反此者，至脈之病也<span data-rev="校"><small class="雙行夾注">或作「至於收病也」。</small></span>。從上下者，骨痿不能起於床者死；從下上者，皮聚而毛落者死。</p>
<p>治損之法奈何？</p>
<p>然，損其肺者，益其氣；損其心者，調其榮衛；損其脾者，調其飲食，適其寒温；損其肝者，緩其中；損其腎者，益其精。此治損之法也。</p>
<p>脈有一呼再至，一吸再至；有一呼三至，一吸三至；有一呼四至，一吸四至；有一呼五至，一吸五至；有一呼六至，一吸六至；有一呼一至，一吸一至；有再呼一至，再吸一至；有呼吸再，至<span data-rev="校"><small class="雙行夾注">謂再呼再吸，脈方一至。據此斷句。</small></span>。脈來如此，何以別知其病也？</p>
<p>然，脈來一呼再至，一吸再至，不大不小曰平。一呼三至，一吸三至，為適得病，前大後小，即頭痛、目眩；前小後大，即胸滿短氣。一呼四至，一吸四至，病欲甚，脈洪大者，苦煩滿；沉細者，腹中痛；滑者傷熱；濇者中霧露。一呼五至，一吸五至，其人當困，沉細夜加，浮大晝加，不大不小，雖困可治，其有大小者，為難治。一呼六至，一吸六至，為死脈也。沉細夜死，浮大晝死。</p>
<p>一呼一至，一吸一至，名曰損，人雖能行，猶當著床。所以然者，血氣皆不足故也。再呼一至，再吸一至，呼吸再，至，名曰無魂，無魂者當死也，人雖能行，名曰行尸。</p>
<p>上部有脈，下部無脈，其人當吐，不吐者死。上部無脈，下部有脈，雖困無能為害也。所以然者，譬如人之有尺，樹之有根，枝葉雖枯槁，根本將自生，脈有根本，人有元氣，故知不死。</p>
<h2>十五難</h2>
<p>十五難曰：經言春脈弦，夏脈鈎，秋脈毛，冬脈石，是王脈耶？將病脈也？</p>
<p>然，弦、鈎、毛、石者，四時之脈也。</p>
<p>春脈弦者，肝東方木也，萬物始生，未有枝葉。故其脈之來，濡弱而長，故曰弦。</p>
<p>夏脈鈎者，心南方火也，萬物之所盛<span data-rev="校"><small class="雙行夾注">或作「茂」。</small></span>，垂枝布葉，皆下曲如鈎。故其脈之來疾去遲，故曰鈎。</p>
<p>秋脈毛者，肺西方金也，萬物之所終，草木華葉，皆秋而落，其枝獨在，若毫毛也。故其脈之來，輕虚以浮，故曰毛。</p>
<p>冬脈石者，腎北方水也，萬物之所藏也，盛冬之時，水凝如石，故其脈之來，沉濡而滑，故曰石。</p>
<p>此四時之脈也。</p>
<p>如有變奈何？</p>
<p>然，春脈弦，反者為病。</p>
<p>何謂反？</p>
<p>然，其氣來實强，是謂太過，病在外；氣來虚微，是謂不及，病在內。氣來厭厭聶聶，如循榆葉曰平；益實而滑，如循長竿曰病；急而勁益强，如新張弓弦曰死。春脈微弦曰平，弦多胃氣少曰病，但弦無胃氣曰死，春以胃氣為本。</p>
<p>夏脈鈎，反者為病，何謂反？</p>
<p>然，其氣來實强，是謂太過，病在外；氣來虚微，是謂不及，病在內。其脉來累累如環，如循琅玕，曰平，來而益數，如鷄舉足者曰病；前曲後居，如操帶鈎曰死。夏脈微鈎曰平，鈎多胃氣少曰病，但鈎無胃氣曰死，夏以胃氣為本。</p>
<p>秋脈毛，反者為病，何謂反？</p>
<p>然，其氣來實强，是謂太過，病在外；氣來虚微，是謂不及，病在內。其脈來藹藹如車蓋，按之益大曰平；不上不下，如循鷄羽曰病；按之蕭索，如風吹毛曰死。秋脈微毛曰平。毛多胃氣少曰病，但毛無胃氣曰死，秋以胃氣為本。</p>
<p>冬脈石，反者為病，何謂反？</p>
<p>然，其氣來實强，是謂太過，病在外；氣來虚微，是謂不及，病在內。脈來上大下兑，濡滑如雀之喙曰平，啄啄連屬，其中微曲曰病；來如解索，去如彈石曰死。冬脈微石曰平，石多胃氣少曰病，但石無胃氣曰死，冬以胃氣為本。</p>
<p>胃者，水穀之海，主稟，四時<span data-rev="校"><small class="雙行夾注">或無「故」字。</small></span>皆以胃氣為本，是謂四時之變，病、死、生之要會也。脾者，中州也，其平和不可得見，衰乃見耳。來如雀之啄，如水之下漏，是脾之衰見也。</p>
<h2>十六難</h2>
<p>十六難曰：脈有三部九候，有隂陽，有輕重，有六十首，一脈變為四時。離聖久遠，各自是其法，何以別之？</p>
<p>然，是其病有內外證。</p>
<p>其病為之奈何？</p>
<p>然，假令得肝脈，其外證：善潔，面青善怒，其內證：齊<span data-rev="校"><small class="雙行夾注">意通「臍」，下同。</small></span>左有動氣，按之牢若痛；其病：四肢滿，閉癃<span data-rev="校"><small class="雙行夾注">或作「淋」。</small></span>，溲便難，轉筋。有是者肝也。無是者非也。</p>
<p>假令得心脈，其外證：面赤，口乾，喜笑；其內證：齊上有動氣，按之牢若痛，其病：煩心，心痛，掌中熱而啘。有是者心也，無是者非也。</p>
<p>假令得脾脈，其外證：面黃，善噫，善思，善味；其內證：當齊有動氣，按之牢若痛，其病：腹脹滿，食不消，體重，節痛，怠墮，嗜卧，四肢不收。有是者脾也，無是者非也。</p>
<p>假令得肺脈，其外證：面白，善嚏，悲愁不樂，欲哭；其內證：齊右有動氣，按之牢若痛；其病：喘欬，洒淅寒熱。有是者肺也，無是者非也。</p>
<p>假令得腎脈，其外證面黑，善恐，善欠<span data-rev="校"><small class="雙行夾注">或作「善恐欠」。</small></span>，其內證：齊下有動氣，按之牢若痛，其病：逆氣，少<span data-rev="校"><small class="雙行夾注">或作「小」。</small></span>腹急痛，泄如下重，足脛寒而逆。有是者腎也，無是者非也。</p>
<h2>十七難</h2>
<p>十七難曰：經言病或有死，或有不治自癒，或連年月不已。其死生存亡，可切脈而知之耶？</p>
<p>然，可盡知也。診病若閉目不欲見人者，脈當得肝脈强急而長，而反得肺脈浮短而濇者，死也。</p>
<p>病若開目而渴，心下牢者，脈當得緊實而數，反得沉濇而微者，死也。</p>
<p>病若吐血，復鼽衄血者，脈當沉細，而反浮大而牢者，死也。</p>
<p>病若譫言妄語，身當有熱，脈當洪大，而反手足厥逆，脈沉細而微者，死也。</p>
<p>病若大腹而泄者，脈當微細而濇，反緊大而滑者，死也。</p>
<h2>十八難</h2>
<p>十八難曰：脈有三部，部有四經，手有太隂、陽明，足有太陽、少隂，為上下部，何謂也？</p>
<p>然，手太隂、陽明金也，足少隂、太陽水也，金生水，水流下行而不能上，故在下部也。足厥隂、少陽木也，生手太陽、少隂火，火炎上行而不能下，故為上部。手心主、少陽火，生足太隂、陽明土，土主中官，故在中部也。此皆五行子母更相生養者也。</p>
<p>脈有三部九候，各何主之？</p>
<p>然，三部者，寸關尺也，九候者，浮中沉也。上部法天，主胸以上至頭之有疾也；中部法人，主膈以下至齊之有疾也；下部法地，主齊以下至足之有疾也。審而刺之者也。</p>
<p>人病有沉滯久積聚，可切脈而知之耶？</p>
<p>然，診在右脇有積氣，得肺脈結，脈結甚則積甚，結微則氣微。</p>
<p>診不得肺脈，而右脇有積氣者，何也？</p>
<p>然，肺脈雖不見，右手脈當沉伏。</p>
<p>其外痼疾同法耶？將異也？</p>
<p>然，結者，脈來去時一止，無常數，名曰結也。伏者，脈行筋下也。浮者，脈在肉上行也。左右表裏，法皆如此。假令脈結伏者，內無積聚；脈伏結者，外無痼疾；有積聚，脈不結伏；有痼疾，脈不浮結。為脈不應病，病不應脈，是為死病也。</p>
<h2>十九難</h2>
<p>十九難曰：經言脈有逆順，男女有常<span data-rev="校"><small class="雙行夾注">或作「恒」。</small></span>。而反者，何謂也？</p>
<p>然，男子生於寅，寅為木，陽也；女子生於申，申為金，隂也。故男脈在關上，女脈在關下。是以男子尺脈恒弱；女子尺脈恒盛，是其常也。反者，男得女脈，女得男脈也。</p>
<p>其為病何如？</p>
<p>然，男得女脈為不足，病在內，左得之，病則在左，右得之，病則在右，隨脈言之也。女得男脈為太過，病在四肢。左得之，病則在左；右得之，病則在右，隨脈言之，此之謂也。</p>
<h2>二十難</h2>
<p>二十難曰：經言脈有伏匿，伏匿於何藏而言伏匿耶？</p>
<p>然，謂隂陽更相乘，更相伏也。脈居隂部，而反陽脈見者，為陽乘隂也。脈雖時沉濇而短，此謂陽中伏隂也。脈居陽部，而反隂脈見者，為隂乘陽也。雖隂脈<span data-rev="校"><small class="雙行夾注">或作「脈雖」。</small></span>，時浮滑而長，此謂隂中伏陽也。</p>
<p>重陽者狂，重隂者癲，脫陽者見鬼，脫隂者目盲。</p>
<h2>二十一難</h2>
<p>二十一難曰：經言人形病，脈不病，曰生；脈病，形不病，曰死。何謂也？</p>
<p>然，人形病，脈不病，非有不病者也，謂息數不應脈數也。此大法。</p>
<h2>二十二難</h2>
<p>二十二難曰：經言脈有是動，有所生病。一脈輒<span data-rev="校"><small class="雙行夾注">或無「輒」字。</small></span>變為二病者，何也？</p>
<p>然，經言是動者，氣也；所生病者，血也。邪在氣，氣為是動；邪在血，血為所生病。氣主呴之，血主濡之。氣留而不行者，為氣先病也；血壅而不濡者，為血後病也。故先為是動，後所生病<span data-rev="校"><small class="雙行夾注">或無「病」字。</small></span>也。</p>
<h2>二十三難</h2>
<p>二十三難曰：手足三隂三陽脈之度數，可曉以不？</p>
<p>然，手三陽之脈，從手至頭，長五尺，五六合三丈。手三隂之脈，從手至胸中，長三尺五寸，三六一丈八尺，五六三尺，合二丈一尺。足三陽之脈，從足至頭，長八尺，六八四丈八尺。足三隂之脈，從足至胸，長六尺五寸，六六三丈六尺，五六三尺，合三丈九尺。人兩足蹻脈，從足至目，長七尺五寸，二七一丈四尺，二五一尺，合一丈五尺。督脈、任脈各長四尺五寸，二四八尺，二五一尺，合九尺。凡脈長一十六丈二尺。此所謂十二經脈長短之數也。</p>
<p>經脈十二，絡脈十五，何始何窮也？</p>
<p>然，經脈者，行血氣，通隂陽，以榮於身者也。其始從中焦，注手太隂、陽明；陽明注足陽明、太隂；太隂注手少隂、太陽；太陽注足太陽、少隂；少隂注手心主、少陽；少陽注足少陽、厥隂；厥隂復還注手太隂。別絡十五，皆因其原，如環無端，轉相灌溉，朝於寸口、人迎，以處百病，而决死生也。</p>
<p>經云：明知終始，隂陽定矣，何謂也？</p>
<p>然，終始者，脈之紀也。寸口、人迎，隂陽之氣，通於朝使，如環無端，故曰始也。終者，三隂三陽之脈絕，絕則死，死各有形，故曰終也。</p>
<h2>二十四難</h2>
<p>二十四難曰：手足三隂三陽氣已絕，何以為候，可知其吉凶不？</p>
<p>然，足少隂氣絕，即骨枯，少隂者，腎<span data-rev="校"><small class="雙行夾注">或作「冬」。</small></span>脈也，伏行而温於骨髓。故骨髓不温，即肉不著骨，骨肉不相親，即肉濡而却，肉濡而却，故齒長而枯，髮無潤澤，無潤澤者，骨先死。戊日篤，己日死。</p>
<p>足太隂氣絕，則脈不榮其口唇。口唇者，肌肉之本也。脈不榮，則肌肉不滑澤，肌肉不滑澤，則肉滿，肉滿則唇反，唇反則肉先死。甲日篤，乙日死。</p>
<p>足厥隂氣絕，即筋縮引卵與舌卷。厥隂者，肝脈也。肝者，筋之合也。筋者，聚於隂器而絡於舌本。故脈不榮，則筋縮急，筋縮急即引卵與舌，故舌捲卵縮，此筋先死。庚日篤，辛日死。</p>
<p>手太隂氣絕，即皮毛焦。太隂者，肺也，行氣温於皮毛者也。氣弗榮，則皮毛焦，皮毛焦則津液去，津液去即皮節傷，皮節傷則皮枯毛折，毛折者則毛先死。丙日篤，丁日死。</p>
<p>手少隂氣絕，則脈不通，脈不通則血不流，血不流則色澤去，故面黑如梨<span data-rev="校"><small class="雙行夾注">或作「黧」。</small></span>，此血先死。壬日篤，癸日死。</p>
<p>三隂氣俱絕者，則目眩轉，目瞑；目瞑者為失志，失志者則志先死，死即目瞑也。</p>
<p>六陽氣俱絕者，則隂與陽相離。隂陽相離則腠理泄<span data-rev="校"><small class="雙行夾注">或作「腠理發泄」。</small></span>，絕汗乃出，大如貫珠，轉出不流，即氣先死。旦占夕死，夕占旦死。</p>
<h2>二十五難</h2>
<p>二十五難曰：有十二經，五藏六府十一耳，其一經者，何等經也？</p>
<p>然，一經者，手少隂與心主別脈也，心主與三焦為表裏，俱有名而無形，故言經有十二也。</p>
<h2>二十六難</h2>
<p>二十六難曰：經有十二，絡有十五，餘三絡者，是何等絡也？</p>
<p>然，有陽絡，有隂絡，有脾之大絡。陽絡者，陽蹻之絡也；隂絡者，隂蹻之絡也。故絡有十五焉。</p>
<h2>二十七難</h2>
<p>二十七難曰：脈有奇經八脈者，不拘於十二經，何也？</p>
<p>然，有陽維，有隂維，有陽蹻，有隂蹻，有衝，有督，有任，有帶之脈，凡此八脈者，皆不拘於經，故曰奇經八脈也。</p>
<p>經有十二，絡有十五，凡二十七氣，相隨上下，何獨不拘於經也？</p>
<p>然，聖人圖設溝渠，通利水道，以備不然，天雨降下，溝渠溢滿，當此之時，霶霈妄行<span data-rev="校"><small class="雙行夾注">或作「作」。</small></span>，聖人不能復圖也。此絡脈滿溢，諸經不能復拘也。</p>
<h2>二十八難</h2>
<p>二十八難曰：其奇經八脈者，既不拘於十二經，皆何起何繼也？</p>
<p>然，督脈者，起於下極之俞，並於脊裏，上至風府，入屬於腦。任脈者，起於中極之下，以上毛際，循腹裏，上關元，至咽喉<span data-rev="校"><small class="雙行夾注">或作「喉咽」。</small></span>。衝脈者，起於氣衝，並足陽明之經，夾齊上行，至胸中而散也。帶脈者，起於季脇，迴身一周。陽蹻脈者，起於跟中，循外踝上行，入風池。隂蹻脈者，亦起於跟中，循內踝上行，至咽喉，交貫衝脈。陽維、隂維者，維絡於身，溢畜不能環流灌溉諸經者也。故陽維起於諸陽會也，隂維起於諸隂交也。比於聖人圖設溝渠，溝渠滿溢，流於深湖，故聖人不能拘通也，而人脈隆盛，入於八脈而不環周，故十二經亦不能拘之。其受邪氣，畜則腫熱，砭射之也。</p>
<h2>二十九難</h2>
<p>二十九難曰：奇經之為病何如？</p>
<p>然，陽維維於陽，隂維維於隂，隂陽不能自相維，則悵然失志，溶溶不能自收持。陽維為病苦寒熱，隂維為病苦心痛。隂蹻為病，陽緩而隂急。陽蹻為病，隂緩而陽急。衝之為病，逆氣而裏急。督之為病，脊强而厥。任之為病，其內苦結，男子為七疝，女子為瘕聚。帶之為病，腹滿，腰溶溶若坐水中。此奇經八脈之為病也。</p>
<h2>三十難</h2>
<p>三十難曰：榮氣之行，常與衛氣相隨不？</p>
<p>然，經言人受氣於穀，穀入於胃，乃傳與五藏六府，五藏六府皆受於氣，其清者為榮，濁者為衛。榮行脈中，衛行脈外，營周不息，五十而復大會，隂陽相貫，如環之無端，故知榮衛相隨也。</p>
<h2>三十一難</h2>
<p>三十一難曰：三焦者何稟，何主<span data-rev="校"><small class="雙行夾注">或作「生」。</small></span>？何始，何終？其始常在何許？可曉以不？</p>
<p>然，三焦者，水穀之道路，氣之所終始也。上焦者，在心下，下膈，在胃上口，主內而不出，其治在膻中，玉堂下一寸六分，直兩乳間陷者是。中焦者，在胃中脘，不上不下，主腐熟水穀，其治在齊旁。下焦者，在齊下<span data-rev="校"><small class="雙行夾注">或無此三字。</small></span>，當膀胱上口，主分別清濁，主出而不內，以傳道也，其治在齊下一寸。故名曰三焦，其府在氣街<span data-rev="注"><small class="雙行夾注">一本曰衝。</small></span><span data-rev="校"><small class="雙行夾注">前注四字或作正文。</small></span>。</p>
<h2>三十二難</h2>
<p>三十二難曰：五藏俱等，而心肺獨在膈上者，何也？</p>
<p>然，心者血，肺者氣。血為榮，氣為衛，相隨上下，謂之榮衛，通行經絡，營周於外，故令心肺在膈上也。</p>
<h2>三十三難</h2>
<p>三十三難曰：肝青象木，肺白象金。肝得水而沉，木得水而浮；肺得水而浮，金得水而沉。其意何也？</p>
<p>然，肝者，非為純木也。乙角也，庚之柔。大言隂與陽，小言夫與婦。釋其微陽，而吸其微隂之氣，其意樂金。又行隂道多，故令肝得水而沉也。肺者，非為純金也。辛商也，丙之柔。大言隂與陽，小言夫與婦。釋其微隂，婚而就火，其意樂火，又行陽道多，故令肺得水而浮也。</p>
<p>肺熟而復沉，肝熟而復浮者，何也？故知辛當歸庚，乙當歸甲也。</p>
<h2>三十四難</h2>
<p>三十四難曰：五藏各有聲、色、臭、味、液<span data-rev="校"><small class="雙行夾注">或無「液」字。</small></span>，可<span data-rev="校"><small class="雙行夾注">或作「皆可」。</small></span>曉知以不？</p>
<p>然，《十變》言：肝色青，其臭臊，其味酸，其聲呼，其液泣。心色赤，其臭焦，其味苦，其聲言，其液汗。脾色黃，其臭香，其味甘，其聲歌，其液涎。肺色白，其臭腥，其味辛，其聲哭，其液涕。腎色黑，其臭腐，其味鹼，其聲呻，其液唾。是五藏聲、色、臭、味、液<span data-rev="校"><small class="雙行夾注">或無「液」字。</small></span>也。</p>
<p>五藏有七神，各何所藏耶？</p>
<p>然，藏者，人之神氣所舍藏也。故肝藏魂，肺藏魄，心藏神，脾藏意與智，腎藏精與志也。</p>
<h2>三十五難</h2>
<p>三十五難曰：五藏各有所，府皆相近，而心肺獨去大腸、小腸遠者，何也？</p>
<p>然，經言心榮肺衛，通行陽氣，故居在上。大腸、小腸傳隂氣而下，故居在下，所以相去而遠也。</p>
<p>又諸府者，皆陽也，清淨之處。今大腸、小腸、胃與膀胱，皆受不凈，其意何也？</p>
<p>然，諸府者謂是，非也。經言小腸者，受盛之府也；大腸者，傳寫行道之府也；膽者，清凈之府也；胃者，水穀之府也；膀胱者，津液之府也。一府猶無兩名，故知非也。小腸者，心之府；大腸者，肺之府；胃者，脾之府；膽者，肝之府；膀胱者，腎之府。</p>
<p>小腸謂赤腸，大腸謂白腸，膽者謂青腸，胃者謂黃腸，膀胱者謂黑腸，下焦之所治也。</p>
<h2>三十六難</h2>
<p>三十六難曰：藏各有一耳，腎獨有兩者，何也？</p>
<p>然，腎兩者，非皆腎也。其左者為腎，右者為命門。命門者，諸神精之所舍，原氣之所繫也，男子以藏精，女子以繫胞。故知腎有一也。</p>
<h2>三十七難</h2>
<p>三十七難曰：五藏之氣，於何發起？通於何許？可曉以不？</p>
<p>然，五藏者，當上關於七<span data-rev="校"><small class="雙行夾注">或作「九」，下同。</small></span>竅也，故肺氣通於鼻，鼻和則知香臭矣；肝氣通於目，目和則知黑白矣；脾氣通於口，口和則知穀味矣；心氣通於舌，舌和則知五味矣；腎氣通於耳，耳和則知五音矣。五藏不和，則七<span data-rev="校"><small class="雙行夾注">或作「九」。</small></span>竅不通，六腑不和，則留結為癰。</p>
<p>邪在六府，則陽脈不和；陽脈不和，則氣留之；氣留之，則陽脈盛矣。邪在五藏，則隂脈不和；隂脈不和，則血留之；血留之，則隂脈盛矣。隂氣太盛，則陽氣不得相營也，故曰關<span data-rev="校"><small class="雙行夾注">或作「格」，與下「關」字倒。</small></span>。陽氣太盛，則隂氣不得相榮也，故曰格<span data-rev="校"><small class="雙行夾注">或作「關」。</small></span>。隂陽俱盛，不得相營也，故曰關格。關格者，不得盡其命而死矣。</p>
<p>經言氣獨行於五藏，不營於六府者，何也？</p>
<p>然，氣之所行也，如水之流，不得息也。故隂脈營於五藏，陽脈營於六府，如環之無端，莫知其紀，終而復始，其不覆溢。人氣內温於藏府，外濡於腠理。</p>
<h2>三十八難</h2>
<p>三十八難曰：藏唯有五，府獨有六者，何也？</p>
<p>然，所以府有六者，謂三焦也。有原氣之別焉，主持諸氣，有名而無形，其經屬手少陽，此外府也，故言府有六焉。</p>
<h2>三十九難</h2>
<p>三十九難曰：經言府有五，藏有六者，何也？</p>
<p>然，六府者，正有五府也，然五藏亦有六藏者，謂腎有兩藏也。其左為腎，右為命門，命門者，精神之所舍也，男子以藏精，女子以繫胞，其氣與腎通，故言藏有六也。</p>
<p>府有五者，何也？</p>
<p>然，五藏各一府，三焦亦是一府，然不屬於五藏，故言府有五焉。</p>
<h2>四十難</h2>
<p>四十難曰：經言肝主色，心主臭，脾主味，肺主聲，腎主液。鼻者，肺之候，而反知香臭；耳者，腎之候，而反聞聲，其意何也？</p>
<p>然，肺者，西方金也，金生於巳，巳者南方火也。火者心，心主臭，故令鼻知香臭。腎者，北方水也。水生於申，申者西方金，金者肺，肺主聲，故令耳聞聲。</p>
<h2>四十一難</h2>
<p>四十一難曰：肝獨有兩葉，以何應也？</p>
<p>然，肝者東方木也，木者春也。萬物始生，其尚幼小，意無所親，去太隂尚近，離太陽不遠，猶有兩心，故有兩葉，亦應木葉也。</p>
<h2>四十二難</h2>
<p>四十二難曰：人腸胃長短，受水穀多少，各幾何？</p>
<p>然，胃大一尺五寸，徑五寸，長二尺六寸，橫屈受水穀三斗五升，其中常留穀二斗，水一斗五升。小腸大二寸半，徑八分分之少半<span data-rev="校"><small class="雙行夾注">中國迄今發現最早的數學文本《筭數書》，成書於西漢初，距今2193年，云：「少半乘少半，九分之一也；半步乘半步，四分之一也；半步乘少半步，六分之一也；少半乘大半，九分之二也。」。知「少半」為1/3，「大（太）半」為1/2。</small></span>，長三丈二尺，受穀二斗四升，水六升三合合之太<span data-rev="校"><small class="雙行夾注">或作「大」。</small></span>半。迴腸大四寸，徑一寸寸之少半<span data-rev="校"><small class="雙行夾注">或作「徑一寸半」。</small></span>，長二丈一尺，受穀一斗，水七升半。廣腸大八寸，徑二寸寸之大半<span data-rev="校"><small class="雙行夾注">或作「二寸半」。</small></span>，長二尺八寸，受穀九升三合八分合之一。故腸胃凡長五丈八尺四寸，合受水穀九斗二升一合合之大半<span data-rev="校"><small class="雙行夾注">或作「八斗七升六合八分合之一」。</small></span>，此腸胃長短，受水穀之數也。</p>
<p>肝重四斤<span data-rev="校"><small class="雙行夾注">或作「二斤」。</small></span>四兩，左三葉，右四葉，凡七葉，主藏魂。心重十二兩，中有七孔三毛，盛精汁三合，主藏神。脾重二斤三兩，扁廣三寸，長五寸，有散膏半斤，主裹血，温五藏，主藏意。肺重三斤三兩，六葉兩耳，凡八葉，主藏魄。腎有兩枚，重一斤一兩，主藏志。</p>
<p>膽在肝之短葉間，重三兩三銖，盛精汁三合。胃重二斤二兩，紆曲屈伸，長二尺六寸，大一尺五寸，徑五寸，盛穀二斗，水一斗五升。小腸重二斤十四兩，長三丈二尺，廣二寸半，徑八分分之少半，左迴疊積十六曲，盛穀二斗四升，水六升三合三合之大半。大腸重二斤十二兩，長二丈一尺，廣四寸，徑一寸寸之少半<span data-rev="校"><small class="雙行夾注">或作「徑一寸」。</small></span>，當齊右迴十六曲，盛穀一斗，水七升半。膀胱重九兩二銖，縱廣九寸，盛溺九升九合。</p>
<p>口廣二寸半，唇至齒長九分，齒以後至會厭深三寸半，大容五合。舌重十兩，長七寸，廣二寸半。咽門重十兩<span data-rev="校"><small class="雙行夾注">或作「十二兩」。</small></span>，廣二寸半，至胃長一尺六寸。喉嚨重十二兩，廣二寸，長一尺二寸，九節。肛門重十二兩，大八寸，徑二寸大半，長二尺八寸，受穀九升三合八分合之一。</p>
<h2>四十三難</h2>
<p>四十三難曰：人不食飲，七日而死者，何也？</p>
<p>然，人胃中當有留穀二斗，水一斗五升。故平人日再至圊，一行二升半，一<span data-rev="校"><small class="雙行夾注">或無「一」字。</small></span>日中五升，七日五七三斗五升，而水穀盡矣。故平人不食飲七日而死者，水穀津液俱盡，即死矣。</p>
<h2>四十四難</h2>
<p>四十四難曰：七衝門何在？</p>
<p>然，唇為飛門，齒為戶門，會厭為吸門，胃為賁門，太倉下口為幽門，大腸小腸會為闌門，下極為魄門，故曰七衝門也。</p>
<h2>四十五難</h2>
<p>四十五難曰：經言八會者，何也？</p>
<p>然，腑會大倉，藏會季脇，筋會陽陵泉，髓會絕骨，血會鬲俞，骨會大杼，脈會太淵，氣會三焦<span data-rev="注"><small class="雙行夾注">外一筋直兩乳內也。</small></span><span data-rev="校"><small class="雙行夾注">前注或作正文。</small></span>。熱病在內，取其會之氣穴也。</p>
<h2>四十六難</h2>
<p>四十六難曰：老人卧而不寐，少壯寐而不寤者，何也？</p>
<p>然，經言少壯者，血氣盛，肌肉滑，氣道通，榮衛之行不失於常，故晝日精，夜不寤也。老人血氣衰，肌肉不滑，榮衛之道濇，故晝日不能精，夜不得寐也，故知老人不得寐也。</p>
<h2>四十七難</h2>
<p>四十七難曰：人面獨能耐寒者，何也？</p>
<p>然，人頭者，諸陽之會也，諸隂脈皆至頸、胸中而還，獨諸陽脈皆上至頭耳，故令面耐寒也。</p>
<h2>四十八難</h2>
<p>四十八難曰：人有三虚三實，何謂也？</p>
<p>然，有脈之虚實，有病之虚實，有診之虚實也。脈之虚實者，濡者為虚，緊牢者為實。病之虚實者，出者為虚，入者為實；言者為虚，不言者為實；緩者為虚，急者為實。診之虚實者，濡者為虚，牢者為實；癢者為虚，痛者為實；外痛內快，為外實內虚；內痛外快，為內實外虚。故曰虚實也。</p>
<h2>四十九難</h2>
<p>四十九難曰：有正經自病，有五邪所傷，何以別之？</p>
<p>然，經言<span data-rev="校"><small class="雙行夾注">或無「經言」二字。</small></span>憂愁思慮則傷心，形寒飲冷則傷肺，恚怒氣逆上而不下則傷肝，飲食勞倦則傷脾，久坐濕地，强力入水則傷腎。是正經之自病也。</p>
<p>何謂五邪？</p>
<p>然，有中風，有傷暑，有飲食勞倦，有傷寒，有中濕，此之謂五邪。</p>
<p>假令心病，何以知中風得之？</p>
<p>然，其色當赤。何以言之？肝主色，自入為青，入心為赤，入脾為黃，入肺為白，入腎為黑，肝為心邪，故知當赤色也。其病身熱，脇下滿痛，其脈浮大而弦。</p>
<p>何以知傷暑得之？</p>
<p>然，當惡臭。何以言之？心主臭，自入為焦臭，入脾為香臭，入肝為臊臭，入腎為腐臭，入肺為腥臭，故知心病傷暑得之也，當惡焦臭<span data-rev="校"><small class="雙行夾注">或作「當惡臭」。</small></span>。其病身熱而煩，心痛，其脈浮大而散。</p>
<p>何以知飲食勞倦得之？</p>
<p>然，當喜苦味也。虚為不欲食，實為欲食。何以言之？脾主味，入肝為酸，入心為苦，入肺為辛，入腎為鹹，自入為甘。故知脾邪入心為喜苦味也。其病身熱而體重，嗜卧，四肢不收，其脈浮大而緩。</p>
<p>何以知傷寒得之？</p>
<p>然，當譫言妄語。何以言之？肺主聲，入肝為呼，入心為言，入脾為歌，入腎為呻，自入為哭。故知肺邪入心為譫言妄語也。其病身熱，灑灑惡寒，甚則喘咳，其脈浮大而濇。</p>
<p>何以知中濕得之？</p>
<p>然，當喜汗出不可止。何以言之？腎主液<span data-rev="校"><small class="雙行夾注">或作「濕」。</small></span>，入肝為泣，入心為汗，入脾為涎，入肺為涕，自入為唾，故知腎邪入心為汗出不可止也。其病身熱而小腹痛，足脛寒而逆，其脈沉濡而大。</p>
<p>此五邪之法也。</p>
<h2>五十難</h2>
<p>五十難曰：病有虚邪，有實邪，有賊邪，有微邪，有正邪，何以別之？</p>
<p>然，從後來者為虚邪，從前來者為實邪<span data-rev="校"><small class="雙行夾注">「後」指生我之臟；「前」指我生之臟。</small></span>，從所不勝來者為賊邪，從所勝來者為微邪，自病者為正邪。何以言之？假令心病，中風得之為虚邪，傷暑得之為正邪，飲食勞倦得之為實邪，傷寒得之為微邪，中濕得之為賊邪。</p>
<h2>五十一難</h2>
<p>五十一難曰：病有欲得温者，有欲得寒者，有欲得見人者，有不欲得見人者，而各不同，病在何藏府也？</p>
<p>然，病欲得寒，而欲見人者，病在府也；病欲得温，而不欲得<span data-rev="校"><small class="雙行夾注">或無「得」字。</small></span>見人者，病在藏也。何以言之？府者，陽也，陽病欲得寒，又欲見人；藏者隂也，隂病欲得温，又欲閉戶獨處，惡聞人聲。故以別知藏府之病也。</p>
<h2>五十二難</h2>
<p>五十二難曰：府藏發病，根本等不？</p>
<p>然，不等也。</p>
<p>其不等奈何？</p>
<p>然，藏病者，止而不移，其病不離其處；府病者，彷彿賁響，上下行流，居處無常。故以此知藏府根本不同也。</p>
<h2>五十三難</h2>
<p>五十三難曰：經言七傳<span data-rev="校"><small class="雙行夾注">或曰「七」為「次」之誤。</small></span>者死，間藏者生，何謂也？</p>
<p>然，七傳者，傳其所勝也。間藏者，傳其子也。何以言之？假令心病傳肺，肺傳肝，肝傳脾，脾傳腎，腎傳心，一藏不再傷，故言七傳者死也。假令心病傳脾，脾傳肺，肺傳腎，腎傳肝，肝傳心，是子母相傳，竟而復始，如環無端，故曰生也。</p>
<h2>五十四難</h2>
<p>五十四難曰：藏病難治，府病易治，何謂也？</p>
<p>然，藏病所以難治者，傳其所勝也；府病易治者，傳其子也。與七傳、間藏同法也。</p>
<h2>五十五難</h2>
<p>五十五難曰：病有積有聚，何以別之？</p>
<p>然，積者，隂氣也；聚者，陽氣也。故隂沉而伏，陽浮而動。氣之所積名曰積，氣之所聚名曰聚。故積者，五藏所生；聚者，六府所成也。積者隂氣也，其始發有常處，其痛不離其部，上下有所終始，左右有所窮處。聚者陽氣也，其始發無根本，上下無所留止，其痛無常處，謂之聚。故以是別知積聚也。</p>
<h2>五十六難</h2>
<p>五十六難曰：五藏之積，各有名乎？以何月何日得之？</p>
<p>然，肝之積名曰肥氣，在左脇下，如覆杯，有頭足。久不愈，令人發咳逆、㾬<span data-rev="校"><small class="雙行夾注">或作「痎」。</small></span>瘧，連歲不已。以季夏戊己日得之。何以言之？肺病傳於肝，肝當傳脾，脾季夏適王，王者不受邪，肝復欲還肺，肺不肯受，故留結為積。故知肥氣以季夏戊己日得之。</p>
<p>心之積名曰伏梁，起齊上，大如臂，上至心下。久不愈，令人病煩心，以秋庚辛日得之。何以言之？腎病傳心，心當傳肺，肺以秋適王，王者不受邪，心復欲還腎，腎不肯受，故留結為積。故知伏梁以秋庚辛日得之。</p>
<p>脾之積名曰痞氣，在胃脘，覆大如盤。久不愈，令人四肢不收，發黃疸，飲食不為肌膚。以冬壬癸日得之。何以言之？肝病傳脾，脾當傳腎，腎以冬適王，王者不受邪，脾復欲還肝，肝不肯受，故留結為積。故知痞氣以冬壬癸日得之。</p>
<p>肺之積名曰息賁，在右脇下，覆大如杯。久不已，令人洒淅寒熱，喘咳，發肺壅。以春甲乙日得之。何以言之？心病傳肺，肺當傳肝，肝以春適王，王者不受邪，肺復欲還心，心不肯受，故留結為積。故知息賁以春甲乙日得之。</p>
<p>腎之積，名曰賁豚，發於少腹，上至心下，若豚狀，或上或下無時。久不已，令人喘逆，骨痿，少氣，以夏丙丁日得之。何以言之？脾病傳腎，腎當傳心，心以夏適王，王者不受邪，腎復欲還脾，脾不肯受，故留結為積，故知賁豚以夏丙丁日得之。</p>
<p>此是五積之要法也。</p>
<h2>五十七難</h2>
<p>五十七難曰：泄凡有幾？皆有名不？</p>
<p>然，泄凡有五，其名不同。有胃泄，有脾泄，有大腸泄，有小腸泄，有大瘕泄，名曰後重。胃泄者，飲食不化，色黃。脾泄者，腹脹滿，泄注，食即嘔吐逆。大腸泄者，食已窘迫，大便色白，腸鳴切痛。小腸泄者，溲而便膿血，少腹痛。大瘕泄者，裏急後重，數至圊而不能便，莖中痛。此五泄之要法也。</p>
<h2>五十八難</h2>
<p>五十八難曰：傷寒有幾？其脈有變不？</p>
<p>然，傷寒有五，有中風，有傷寒，有濕温，有熱病，有温病，其所苦各不同。</p>
<p>中風之脈，陽浮而滑，隂濡而弱。濕温之脈，陽濡<span data-rev="校"><small class="雙行夾注">或作「浮」。</small></span>而弱，隂小而急。傷寒之脈，隂陽俱盛而緊濇。熱病之脈，隂陽俱浮。浮之而滑，沉之而<span data-rev="校"><small class="雙行夾注">或無「而」字。</small></span>散濇，温病之脈。<span data-rev="校"><small class="雙行夾注">「浮之而滑，沉之而散濇」疑錯簡，應為温病之脈。故在「隂陽俱浮」及「温病之脈」下各加句號。</small></span>行在諸經，不知何經之動也，各隨其經所在而取之。</p>
<p>傷寒有汗出而愈，下之而死者；有汗出而死，下之而癒者，何也？</p>
<p>然，陽虚隂盛，汗出而愈，下之即死；陽盛隂虚，汗出而死，下之而愈。</p>
<p>寒熱之病，候之如何也？</p>
<p>然，皮寒熱者，皮不可近席，毛髮焦，鼻槀<span data-rev="校"><small class="雙行夾注">或作「槁」，下同。</small></span>，不得汗。肌寒熱者，皮膚痛，唇舌槀，無汗。骨寒熱者，病無所安，汗注不休，齒本槀痛。</p>
<h2>五十九難</h2>
<p>五十九難曰：狂癲之病，何以別之？</p>
<p>然，狂疾之始發，少卧而不饑<span data-rev="校"><small class="雙行夾注">或作「飢」，宜作「飢」。</small></span>，自高賢也，自辨智也，自倨貴也，妄笑，好歌樂，妄行不休是也。癲疾始發，意不樂，直視僵仆<span data-rev="校"><small class="雙行夾注">或作「僵仆直視」。</small></span>，其脈三部隂陽俱盛是也。</p>
<h2>六十難</h2>
<p>六十難曰：頭心之病，有厥痛，有真痛，何謂也？</p>
<p>然，手三陽之脈，受風寒，伏留而不去者，則名厥頭痛；入連在腦者，名真頭痛。其五藏氣相干，名厥心痛；其痛甚，但在心，手足青者，即名真心痛。其真心痛者，旦發夕死，夕發旦死。</p>
<h2>六十一難</h2>
<p>六十一難曰：經言望而知之謂之神，聞而知之謂之聖，問而知之謂之工，切脈而知之謂之巧，何謂也？</p>
<p>然，望而知之者，望見其五色，以知其病。聞而知之者，聞其五音，以別其病。問而知之者，問其所欲五味，以知其病所起所在也。切脈而知之者，診其寸口，視其虚實，以知其病，病在何藏府也。經言以外知之曰聖，以內知之曰神，此之謂也。</p>
<h2>六十二難</h2>
<p>六十二難曰：藏井滎有五，府獨有六者，何謂也？</p>
<p>然，府者陽也，三焦行於諸陽，故置一俞，名曰原。府有六者，亦與三焦共一氣也。</p>
<h2>六十三難</h2>
<p>六十三難曰：《十變》言，五藏六府滎合，皆以井為始者，何也？</p>
<p>然，井者，東方春也。萬物之始生，諸蚑行喘息，蜎飛蠕動，當生之物，莫不以春而生。故歲數始於春，日數始於甲，故以井為始也。</p>
<h2>六十四難</h2>
<p>六十四難曰：《十變》又言，隂井木，陽井金；隂滎火，陽滎水；隂俞土，陽俞木；隂經金，陽經火；隂合水，陽合土。隂陽皆不同，其意何也？</p>
<p>然，是剛柔之事也。隂井乙木，陽井庚金。陽井庚，庚者乙之剛也；隂井乙，乙者庚之柔也。乙為木，故言隂井木也；庚為金，故言陽井金也。餘皆放<span data-rev="校"><small class="雙行夾注">或作「倣」。</small></span>此。</p>
<h2>六十五難</h2>
<p>六十五難曰：經言所出為井，所入為合，其法奈何？</p>
<p>然，所出為井，井者東方春也，萬物之始生，故言所出為井也。所入為合，合者北方冬也，陽氣入藏，故言所入為合也。</p>
<h2>六十六難</h2>
<p>六十六難曰：經言肺之原出於太淵，心之原出於太陵，肝之原出於太衝，脾之原出於太白，腎之原出於太谿，少隂之原出於兑骨，膽之原出於丘墟，胃之原出於衝陽，三焦之原出於陽池，膀胱之原出於京骨，大腸之原出於合谷，小腸之原出於腕骨。十二經皆以俞為原者，何也？</p>
<p>然，五藏俞者，三焦之所行，氣之所留止也。</p>
<p>三焦所行之俞為原者，何也？</p>
<p>然，齊下腎間動氣者，人之生命也，十二經之根本也，故名曰原。三焦者，原氣之別使也，主通行三氣，經歷於五藏六府。原者，三焦之尊號也，故所止輒為原。五藏六府之有病者，皆取其原也。</p>
<h2>六十七難</h2>
<p>六十七難曰：五藏募皆在隂，而俞在陽者，何謂也？</p>
<p>然，隂病行陽，陽病行隂，故令募在隂，俞在陽。</p>
<h2>六十八難</h2>
<p>六十八難曰：五藏六府，各<span data-rev="校"><small class="雙行夾注">或作「皆」。</small></span>有井、滎、俞、經、合，皆何所主？</p>
<p>然，經言所出為井，所流為滎，所注為俞，所行為經，所入為合。井主心下滿，滎主身熱，俞主體重節痛，經主喘咳寒熱，合主逆氣而泄，此五藏六府其<span data-rev="校"><small class="雙行夾注">或無「其」字。</small></span>井、滎、俞、經、合所主病也。</p>
<h2>六十九難</h2>
<p>六十九難曰：經言虚者補之，實者瀉之，不實不虚<span data-rev="校"><small class="雙行夾注">或作「不虚不實」。</small></span>，以經取之，何謂也？</p>
<p>然，虚者補其母，實者瀉其子，當先補之，然後瀉之。不實不虚<span data-rev="校"><small class="雙行夾注">或作「不虚不實」。</small></span>，以經取之者，是正經自病<span data-rev="校"><small class="雙行夾注">或作「自生病」。</small></span>，不中他邪也，當自取其經，故言以經取之。</p>
<h2>七十難</h2>
<p>七十難曰：春夏刺淺，秋冬刺深者，何謂也？</p>
<p>然，春夏者，陽氣在上，人氣亦在上，故當淺取之。秋冬者，陽氣在下，人氣亦在下，故當深取之。</p>
<p>春夏必<span data-rev="校"><small class="雙行夾注">或作「各」。</small></span>致一隂，秋冬必<span data-rev="校"><small class="雙行夾注">或作「各」。</small></span>致一陽者，何謂也？</p>
<p>然，春夏温，必致一隂者，初下針，沉之至腎肝之部，得氣，引持之陽<span data-rev="校"><small class="雙行夾注">或作「隂」，與下文「陽」字倒。</small></span>也；秋冬寒，必致一陽者，初內針，淺而浮之，至心肺之部，得氣，推內之隂<span data-rev="校"><small class="雙行夾注">或作「陽」，與上倒。</small></span>也。是謂春夏必致一隂，秋冬必致一陽。</p>
<h2>七十一難</h2>
<p>七十一難曰：經言刺榮無傷衛，刺衛無傷榮，何謂也？</p>
<p>然，鍼陽者，卧鍼而刺之；刺隂者，先以左手攝按所針榮俞之處，氣散乃內針，是謂刺榮無傷衛，刺衛無傷榮也。</p>
<h2>七十二難</h2>
<p>七十二難曰：經言能知迎隨之氣，可令調之。調氣之方，必在隂陽。何謂也？</p>
<p>然，所謂迎隨者，知榮衛之流行，經脈之往來也，隨其逆順而取之，故曰迎隨。調氣之方，必在隂陽者，知其內外表裏，隨其隂陽而調之，故曰調氣之方，必在隂陽。</p>
<h2>七十三難</h2>
<p>七十三難曰：諸井者，肌肉淺薄，氣少，不足使也，刺之奈何？</p>
<p>然，諸井者，木也；滎者，火也，火者，木之子。當刺井者，以滎瀉之。故經言補者不可以為瀉，瀉者不可以為補，此之謂也。</p>
<h2>七十四難</h2>
<p>七十四難曰：經言春刺井，夏刺滎，季夏刺俞，秋刺經，冬刺合者，何謂也？</p>
<p>然，春刺井者，邪在肝；夏刺滎者，邪在心；季夏刺俞者，邪在脾；秋刺經者，邪在肺；冬刺合者，邪在腎。</p>
<p>其肝、心、脾、肺、腎而繫於春、夏、秋、冬者，何也？</p>
<p>然，五藏一病輒有五也<span data-rev="校"><small class="雙行夾注">或作「色」。</small></span>，假令肝病，色青者肝也，臊臭者肝也，喜酸者肝也，喜呼者肝也，喜泣者肝也。其病眾多，不可盡言也。四時有數，而竝繫於春夏秋冬者也。針之要妙，在於秋毫者也。</p>
<h2>七十五難</h2>
<p>七十五難曰：經言東方實，西方虚，瀉南方，補北方，何謂也？</p>
<p>然，金木水火土，當更相平。東方木也，西方金也。木欲實，金當平之；火欲實，水當平之；土欲實，木當平之；金欲實，火當平之；水欲實，土當平之。東方肝也，則知肝實；西方肺也，則知肺虚。瀉南方火，補北方水。南方火，火者木之子也；北方水，水者木之母也，水勝火。子能令母實，母能令子虚，故瀉火補水，欲令金不得平木也。經曰不能治其虚，何問其餘，此之謂也。</p>
<h2>七十六難</h2>
<p>七十六難曰：何謂補瀉？當補之時，何所取氣？當瀉之時，何所置氣？</p>
<p>然，當補之時，從衛取氣；當瀉之時，從榮置氣。其陽氣不足，隂氣有餘，當先補其陽，而後瀉其隂。隂氣不足，陽氣有餘，當先補其隂，而後瀉其陽。榮衛通行，此其要也。</p>
<h2>七十七難</h2>
<p>七十七難曰：經言上工治未病，中工治已病者，何謂也？</p>
<p>然，所謂治未病者，見肝之病，則知肝當傳之與脾，故先實其脾氣，無令得受肝之邪，故曰治未病焉。中工治已病者<span data-rev="校"><small class="雙行夾注">或作「中工者」。</small></span>，見肝之病，不曉相傳，但一心治肝，故曰治已病也。</p>
<h2>七十八難</h2>
<p>七十八難曰：針有補瀉，何謂也？</p>
<p>然，補瀉之法，非必呼吸出內針也。知為針者，信其左；不知為針者，信其右。當刺之時，先以左手厭<span data-rev="校"><small class="雙行夾注">音義通「壓」。</small></span>按所針榮俞之處，彈而努之，爪而下之，其氣之來，如動脈之狀，順針而刺之，得氣，因推而內之，是謂補；動而伸之，是謂瀉。不得氣，乃與男外女內。不得氣，是為十死不治也。</p>
<h2>七十九難</h2>
<p>七十九難曰：經言迎而奪之，安得無虚？隨而濟之，安得無實？虚之與實，若得若失，實之與虚，若有若無，何謂也？</p>
<p>然，迎而奪之者，瀉其子也；隨而濟之者，補其母也。假令心病，瀉手心主俞，是謂迎而奪之者也；補手心主井，是謂隨而濟之者也。所謂實之與虚者，牢濡之意也。氣來實牢者為得，濡虚者為失，故曰若得若失也。</p>
<h2>八十難</h2>
<p>八十難曰：經言有見如入，有見如出者，何謂也？</p>
<p>然，所謂有見如入者，謂左手見氣來至乃內針，針入，見氣盡乃出針，是謂有見如入，有見如出也。</p>
<h2>八十一難</h2>
<p>八十一難曰：經言無實實虚虚，損不足而益有餘，是寸口脈耶？將病自有虚實耶？其損益奈何？</p>
<p>然，是病，非謂寸口脈也，謂病自有虚實也。假令肝實而肺虚，肝者木也，肺者金也，金木當更相平，當知金平木。假令肺實而肝虚微少氣，用針不補其肝，而反重實其肺，故曰實實虚虚，損不足而益有餘。此者，中工之所害也。</p>
