<header data-type="book">
<h1>校注醫醇賸義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>費伯雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1863">公元1863年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>秦有良醫，曰和曰緩，彼其望色辨候，洞見膏肓，非所謂神靈詭異者歟！乃其論針灸，述湯藥，言言典要，開啟後人，又何其純粹以精也！豈不以疾病常有，怪病罕逢，惟能知常，方能知變，故於命名之日，早以和緩自任歟！夫疾病雖多，不越內傷外感，不足者補之以復其正，有餘者去之以歸於平，是即和法也，緩治也。毒藥治病去其五，良藥治病去其七，亦即和法也，緩治也。天下無神奇之法，只有平淡之法，平淡之極，乃為神奇；否則眩異標新，用違其度，欲求近效，反速危亡，不和不緩故也。雄自束髮受書，習舉子業，東塗西抹，迄無所成，遂乃決然捨去，究心於《靈、素》諸書，自張長沙下迄時彥，所有著述，並皆參觀。仲景夐乎尚已，其他各有專長，亦各有偏執，求其純粹以精，不失和緩之意者，千餘年來不過數人。因思醫學至今蕪雜已極，醫家病家目不睹先正典型，群相率而喜新厭故，流毒安有窮哉！救正之法，惟有執簡馭繁，明白指示，庶幾後學一歸醇正，不惑殊趨。爰將數十年所稍稍有得，而筆之於簡者，都為一集以問世，名曰《醫醇》，共二十四卷，分為六門：曰脈、症、治，首察脈，次辨症，次施治，此三者為大綱。就治字中又分三層：曰理、法、意，醫有醫理，治有治法，化裁通變，則又須得法外意也。不幸刻本盡付祝融，求之二年不可復得。近因左足偏廢，艱於步履，坐臥一室，乃追憶《醫醇》中語，隨筆錄出，不及十之二三。兒輩復請付梓，予以並非全書，不欲更災梨棗；而門下士以為雖非全豹，亦見一斑，且指迷處正復不少，若並此湮沒，則大負從前醫尚和緩之苦心矣。勉從其請，改題曰《醫醇賸義》，而自序其巔末如此。惟願閱是編者，諒予之心，匡其不逮而惠教之，則幸甚！</p>
<p><u>同治二年歲在癸亥仲春之吉武進費伯雄晉卿氏題於古延陵之寓齋</u></p>

<h1>卷一</h1>

<h2>脈法</h2>
<p>脈乃命脈，氣血統宗；氣能率血，氣行血從。</p>
<p>《內經》亦言血脈，而氣在血先之義自見，並無語病。後人著《脈經》，遂謂脈為血脈，氣往應之。其下文又云，脈不自行，氣動脈應。先說氣應脈，後復言脈應氣。尺幅之中，自相悖戾，今特正之。</p>
<p>右寸為肺，所以主氣；百脈上通，呼吸所繫。</p>
<p>左寸為心，血生之經；一氣一血，賴以養形。</p>
<p>天地之大用，莫先於水火；人身之至寶，不外乎氣血。陰以抱陽，陽以攝陰，陰陽生長，互相為根，故兩寸又為諸經之統領。胸中附右寸，膻中附左寸，此上以候上之義也。</p>
<p>其在右關，脾胃屬土；倉廩之官，水穀之府。</p>
<p>右外以候胃，內以候脾。土為萬物之母，脾胃不敗，則正氣猶存，病家所以重胃氣也。</p>
<p>其在左關，肝膽之部；風陽易動，不宜暴怒。</p>
<p>左外以候肝，內以候膽。肝膽應春，所以生長，然風陽易動，亢則為害，最宜善調。</p>
<p>右尺命門，釜下之火；日用必需，是可補助。</p>
<p>經謂尺外以候腎，尺裡以候腹。五臟惟腎有兩枚，故兩尺不分左右，皆屬於腎。腹中則統命門，大小腸、膀胱皆在其中。究竟不分配，則混淆無主，後人無所持循。今將命門歸於右尺，大腸隸之。命門火衰，便不能熏蒸脾土，百病從此而生，但宜善為溫養，不可過燥。</p>
<p>左尺腎水，性命之根；與右尺火，並號神門。</p>
<p>腎歸左尺，膀胱小腸隸之。天一生水，性命之源。尺脈有神，縱有重恙，猶能轉吉；若兩尺敗壞，決無生理。</p>
<p>部位既明，當知脈象；切脈之時不宜孟浪；以我中指，先按關上；前後兩指，寸尺相向。</p>
<p>掌後高骨，是名曰關。先將中指正按關上，再將前後二指，平放寸尺之上。人長，排指宜疏；人短，排指宜密。</p>
<p>脈有七診，浮中及沉；左右判別，上陽下陰。</p>
<p>寸脈浮取，關脈中取，尺脈沉取。左與右，即左右手分屬之臟腑；上與下，即寸以候上，尺以候下也。</p>
<p>九候之法，即浮中沉；三而三之，分部推尋。</p>
<p>浮以候寸，中以候關，沉以候尺，是合寸關尺為三候也。每部之中，又各有浮中沉三候，是分寸關尺為九候也。</p>
<p>別有一種名曰斜飛；尺則猶是，寸關相違。</p>
<p>斜飛之脈，尺部如常，關寸之脈斜行透過高骨。一手如此者甚多。浮沉之間，與常脈稍異。</p>
<p>更有一種，正位全無；反出關後，大象模糊。</p>
<p>反關之脈，正位全無，反出關後，形如血管。大象至數，不甚分明，畢竟反常之事，不足為訓，診時尤宜善會。</p>
<p>男脈左大女脈右盛；男子寸強，女子尺勝。</p>
<p>男為陽，女為陰，故男脈左大，女脈右大。男子寸盛尺虛，陽盛於陰也；女子尺盛寸虛，陰盛於陽也。</p>
<p>脈應四時，遞相判別；春弦夏洪，秋毛冬石。</p>
<p>春初發生，有枝無葉，故脈弦以象之。夏令繁盛，枝葉暢茂，故脈洪以象之。秋令肅清，草木黃落，故脈毛以象之。冬令閉藏，水土堅凝，故脈石以象之。長夏屬土，則脈更宜於和緩。</p>
<p>五臟之脈，各部分見；先能知常，方能知變。</p>
<p>五臟之脈，各有本象，反常則為病。</p>
<p>心脈浮大；肺脈浮澀；肝脈沉弦；腎脈沉實；脾胃之脈，和緩得中；右尺命火，與心脈同。舊說心脈之浮，浮大而散；肺脈之浮，浮澀而短；肝脈之沉，沉弦而長；腎脈之沉，沉實而濡等語，予竊有所未安。夫心為君火，火性炎上，故脈宜浮。君火柔和，故浮大而不洪數。但用浮大二字，狀心脈最佳；若兼散象，則氣血虛脫，疾不可為矣。散字宜節去。肺主氣，故脈亦浮；其兼澀者，氣多血少故也；若兼短，則氣病而為肺害。短字宜節去。肝脈沉弦，固也。若長脈，當候於寸尺，不當候於關上。長字宜節去。又云腎脈之沉，沉實而濡。濡脈之象，浮而且小，與沉實相反，斷不能相兼。濡字更宜節去。</p>
<p>臨診脈時，虛心靜氣；虛則能精，靜則能細。以心之靈，通於指端；指到心到，會悟參觀。</p>
<p>切脈之道，全貴心靈手敏，活潑潑地一片化機，方能因應。此在平日講求精切，閱歷既多，指下之妙，得之於心，不能宣之於口，實有此種境界。即如六陽之脈，偏於浮大；其沉候，即在常脈之中候，不得謂之沉候全無也。六陰之脈，偏於沉細；其浮候，即在常脈之中候，不得謂之浮候全無也。又況病有新久，體有強弱，年有壯老，見症雖同，施治不一，化裁通變，則泛應各當矣。</p>
<p>脈來太過，外感為病；脈來不及，內傷之症。</p>
<p>外感六淫，風寒暑濕燥火也，其脈必有洪數弦緊滑大等象。內傷七情，喜怒憂思悲恐驚也，其脈必有細澀濡微弱小芤散等象。</p>
<p>人之大氣積於胸中；呼吸出入，上下流通。呼出之氣，由心達肺；吸入之氣，肝腎相濟。</p>
<p>大氣積於胸中，所以統攝一身，呼出則由心達肺，吸入則由肝納腎。故論根氣，則歸本於腎，而樞紐實在中州。</p>
<p>呼吸定息，遲數可別；一息四至，和平之極。五至為常，亦無差忒。三至為遲，遲乃寒結；二損一敗，不可復活。六至為數，數即病熱；七至為疾，熱甚危極；若八九至，陽竭陰絕。</p>
<p>一息四至，脈極和平。其謂五至無疴，閏以太息者，是言四至中時多一至，乃人之息長，如三年一閏，五年再閏，非論一息五至之本脈也。其實一息五至，常人甚多，亦非病脈。惟三遲、六數、七疾，乃為寒病、熱病。其一二至與八九至，則為陰絕、陽絕，無從施治。</p>
<p>浮脈在上，輕按即得；肌膚之間，百不失一。沉脈在下，主裡主陰；按至筋骨，受病最深。</p>
<p>浮脈屬陽主表，沉脈屬陰主裡。</p>
<p>浮沉遲數，脈之大端；四者既明。餘脈詳看。</p>
<p>浮遲表寒，浮數表熱；沉遲裡寒，沉數里熱。余可類推。</p>
<p>大綱秩然，條目宜審；滑澀虛實，亦為要領。</p>
<p>浮沉以辨表裡，遲數以辨寒熱，是為脈之大綱。滑與澀，所以驗氣血之通塞；虛與實，所以分邪正之盛衰；是為脈之條件。脈症雖多，不外乎此，故以下分為八門以總括之。</p>
<p>浮脈上泛，如水漂木；輕取即得，重按不足。芤脈如蔥，輕手而空；浮沉俱有，但虛其中。如按鼓皮，其名曰革；中沉俱空陽亢陰竭。</p>
<p>浮脈為陽，主一切表病，故脈在肌膚之間。芤主失血，中空者氣不能攝血故也。革脈弦大而浮，故謂虛寒相搏，其實乃陰不抱陽，孤陽上浮，真陰下脫之象。</p>
<p>肌肉之下，其脈為沉；重按乃得，病發於陰。弦大而沉，厥名曰牢；氣凝血結，濁陰混淆。沉極為伏，三候如無；氣機閉塞，真陽已孤。</p>
<p>沉脈屬陰，主一切里症。牢則多主蓄血積聚。伏則氣分閉塞，清陽不能發舒。</p>
<p>遲脈為寒，氣凝血滯；若損與敗，不可復治。遲而一止，其名曰結；氣血錯亂，兼主冷積。結雖時止，至數無常；代則有定，氣血消亡。</p>
<p>遲為陰寒，氣不宣通，故至數艱緩。遲而時有一止，旋止旋還，並無定數，謂之結脈，乃氣血錯亂，寒氣積聚所致。若止不能還，兼有定數，便是代脈。四動一止，五六日死；兩動一止，三四日死也。</p>
<p>數脈為熱，其陰必虛；若因風火，則為有餘。熱甚則疾。一息七至；八九為極，煩冤而死。數而一止，其脈為促；多主肺癰，鬱熱陽毒。</p>
<p>數脈為熱，不外虛實兩端。疾則熱甚而危，極則必無生理。促乃數而一止，亦無定數。熱鬱於中，故多肺胃之病。</p>
<p>滑脈主痰，亦主諸氣；氣盛痰多，往來流利。動脈如豆，多見於關；若在寸尺，陰陽兩慳。</p>
<p>滑亦陽脈，痰氣盛，故往來流利。動脈多見關部，若在寸為陽動，主亡陽汗多；在尺為陰動，乃陰虛熱極。女子寸關脈動，即為孕娠。</p>
<p>澀為血少，往來澀滯；血不養氣，艱難而至。</p>
<p>血少不潤，故往來艱澀。輕刀刮竹，如雨沾沙，俱極形似。</p>
<p>虛脈如何，往來無力；浮中如常，沉候虧缺。濡脈浮小，如水漂棉；輕取無力，重按豁然。微脈更虛，有無之間；氣血虧損，病勢顛連。散脈無定，渙而不收；元氣將敗，如水浮漚。弱脈在下，似弦非弦；沉細而軟，不宜壯年。細則更沉，如發如絲；行於筋骨，虛寒可知。短脈氣病，見於寸尺；不能滿部，真陽遏抑。</p>
<p>虛脈往來無力，三候俱有，而沉候實空。濡脈小而且浮，浮中俱有，沉候如無。微則但有浮中，並無沉候。散則渙散無定，氣血皆脫之象。弱脈但有中沉兩候，浮候如無。細脈則更沉而且小，如一絲在筋骨之間。短則氣弱，真陽不能通暢。以上各脈，皆由氣血虛弱，故匯在虛字門中，不附於浮沉兩部。</p>
<p>實脈之來，三候有力；更大於牢，邪滯鬱結。洪脈上湧，與洪水同；泛泛不已，熱盛於中。大脈較潤，來剛去柔；正虛邪盛，病進可憂。弦脈勁直，如張弓弦；木旺剋土，痰飲連綿。弦而彈轉，其脈為緊；為寒為痛，沉浮宜審。寸尺之脈，有時而長；過於本位，毗陰毗陽。</p>
<p>實脈三候有力，更大於牢，為邪滯鬱結。洪則如湧如沸，邪熱熾盛。大則正虛病進，久病更危。弦為肝之本象，木旺剋土，故主氣，又主痰飲。浮緊為寒，沉緊為痛，併為氣病。長過於寸，則毗陽而亡陰；長過於尺，則毗陰而亡陽；又為關格之徵。以上各種，皆是實病，故匯入實字門中，不附別部。惟有緩脈，悠悠揚揚；是為胃氣，見之吉祥。別有一種，怠緩近遲；血虛氣弱，積濕可知。</p>
<p>緩者從容和緩，所謂胃氣也。悠悠揚揚，意思欣欣，此八字最能傳緩字之神。病家得此，定可無害。若怠緩無神，乃是濕病，不可不知。</p>
<p>一切病症，不外三因；何症何脈，辨之貴真。不能殫述，自可引伸；神而明之，存乎其人。</p>

<h2>察舌要言</h2>
<p>一、白為陰，為寒，為濕。</p>
<p>二、黃為胃中有熱，深黃為熱極胃火，黃厚苔為濕熱。</p>
<p>三、赤而帶血，為胃火，更必兼陰虧。赤如豬腰子，表面有極薄縐白衣，為腎臟本色上泛，難治。鮮紅如血，心胃熱熾。滿舌光紅，心營涸竭。正紅色，白淨苔，不膩亦不幹，是為平人正色舌。</p>
<p>四、黑而多津，為水剋火，宜參附四逆。</p>
<p>五、黃而起刺，黑而起刺，宜三承氣急下存陰。紅而起刺如楊梅，宜神犀丹。均以脈證合參決之。</p>
<p>六、舌底糙，上面黏著如碎飯粒，玉女煎主之；輕則桂苓甘露飲。虛勞見舌糜，為大忌。</p>
<p>七、不青不紫不黑，亦青亦紫亦黑，名死現舌，主肝胃絕，必敗無疑。</p>

<h2>四家異同</h2>
<p>仲景立方之祖，醫中之聖。所著《傷寒》、《金匱》諸書，開啟屯蒙，學者當奉為金科玉律，後起諸賢不可相提並論。所謂四大家者，乃劉河間、張子和、李東垣、朱丹溪也。就四家而論，劉張二家，善攻善散，即邪去則正安之義。但用藥太峻，雖有獨到處，亦未免有偏勝處。學者用其長而化其偏，斯為得之。李朱兩家，一補陽，一補陰，即正勝則邪退之義，各有灼見，卓然成家。無如後之學者，宗東垣則詆丹溪，宗丹溪則呵東垣，入主出奴，膠執成見，為可嘆也。殊不知相反實以相成，前賢並非翻新立異。即發熱一症而論，仲景謂凡熱病者，皆傷寒之類也，故有麻黃、桂枝等湯，以治外感之發熱。至內傷之症，東垣則以甘溫治陽虛之發熱；丹溪則以苦寒治陰虛之發熱，各出手眼，補前人所未備。本隨症治症，未嘗混施。乃宗東垣者，雖遇陰虛發熱，亦治以甘溫，參、耆不已，甚而附、桂。宗丹溪者，雖遇陽虛發熱，亦治以苦寒，地、冬不已，甚而知、柏。此尚何異於操刃乎！非東垣、丹溪誤人，乃不善學東垣、丹溪，自誤以誤人也。吾願世之學者，於各家之異處以求其同處，則辨症施治，悉化成心，要歸一是矣。</p>

<h2>重藥輕投辯</h2>
<p>無錫顧左，患中脘不舒，飲食減少。予診其脈，左關甚弦，右部略沉細，此不過肝氣太強，脾胃受制耳。乃出其前服方，則居然承氣湯，硝與黃各七八分，樸與枳各五六分，方案自載宗仲景法，重藥輕投。噫，過矣！予為制抑木和中湯，三劑而愈。今特申辯之。蓋三承氣湯，有輕有重原為胃實大症而設，故用斬關奪門之法，救人於存亡危急之秋，非可混施於尋常之症也。今以脾胃不和之小恙，而用此重劑，謂為重藥輕投，殊不知重藥既可輕投，何不輕藥重投，豈不更為妥當乎？予故不憚煩而辯之。</p>
<p><u>抑木和中湯</u>（自制）</p>
<p>蒺藜（四錢）　鬱金（二錢）　青皮（一錢）　廣皮（一錢）　茅朮（一錢炒）　厚朴（一錢）　當歸（二錢）　茯苓（二錢）　白朮（一錢）　木香（五分）　砂仁（一錢）　佛手（五分）　白檀香（五分）</p>

<h2>同病各發</h2>
<p>巧不離乎規矩，而實不泥乎規矩。岳忠武不深究陣圖，以為陣而後戰，本屬常法，然運用之妙，在乎一心，尤以臨機應變為要，旨哉言乎！吾於古方，亦猶是已。真珠母丸，本許學士治遊魂為變，夜寐不安而設。予嘗以此方，略為加減，治三種重恙，無不應手而效。蓋同病各發，見症雖異，而致病則同，化裁變通，於不執成見中，確有定見，斯頭頭是道矣。予非教人蔑古荒經，欲人師古人之意，而不泥古人之方，乃為善學古人。且執古方以治今病，往往有冰炭之不入者，尤不可以不審也。</p>
<p>丹徒張姓女，患五心煩擾，自頭至腰，時時作顫，坐臥不安。予制馴龍湯，連服數十劑而愈。</p>
<p><u>馴龍湯</u>（自制）</p>
<p>龍齒（二錢）　真珠母（八錢）　羚羊角（一錢五分）　杭菊（二錢）　生地（六錢）　當歸（二錢）　白芍（一錢）　薄荷（一錢）　沉香（五分）　續斷（二錢）　獨活（一錢）　紅棗（十枚）　鉤藤勾（四錢後入）</p>
<p>常州丁姓女，患驚悸氣促，喉舌作痛，予制馴龍馭虎湯，連服數十劑而愈。</p>
<p><u>馴龍馭虎湯</u>（自制）</p>
<p>龍齒（二錢）　琥珀（一錢）　真珠母（八錢）　生地（六錢）　玉竹（四錢）　栝蔞皮（三錢）　石斛（三錢）　柏子霜（二錢）　白芍（一錢五分）　薄荷（一錢）　蓮子（二十粒打碎勿去心）　沉香（四分人乳磨沖）</p>
<p>無錫孫左，身無他苦，飲食如常，惟徹夜不寐，間日輕重，如發瘧然，一載未愈。予診其脈，左關獨見弦數，餘部平平。因思不寐之症，共十三條，從無間日重輕之象，惟少陽受病，方有起伏。但少陽為半表半裡之經，不進則退，安能久留！此實與厥陰同病，甲乙同源，互相膠結，故有起伏而又延久也。為制甲乙歸臟湯，連服數十劑而愈。</p>
<p><u>甲乙歸臟湯</u>（自制）</p>
<p>真珠母（八錢）　龍齒（二錢）　沉香（五分）　薄荷（一錢）　生地（六錢）　柴胡（一錢醋炒）　白芍（一錢五分酒炒）　歸身（二錢）　夜合花（二錢）　丹參（二錢）　柏子仁（二錢）　紅棗（十枚）　夜交藤（四錢切）</p>

<h2>中風</h2>
<p>經曰：風者，百病之長也。風性輕而善走，無微不入，其中人也易，其發病也速，故為百病之長。人惟衛能捍外，營能固內，腠理秘密，毛竅不開，斯賊風外邪，無能侵犯。否則正氣一虛，外風乘間伺隙，由表入里，而病亦由淺入深矣。衛氣不能捍外，則風入於肌肉，故手指麻木，而肌肉不仁，若是者名曰中絡。營血不能固內，則風入於經脈，故身體重著，步履艱難，若是者名曰中經。由此而深入則為中腑。腑者胃腑也。胃為六腑之長，職司出納。風入於胃，胃火熾盛，水穀之氣，不生津液而化痰涎，痰隨火升，阻塞靈竅，故昏不知人也。由此而深入，則是中臟。臟者，心臟也。心體純陽，風性颷舉，風火上擾，神明散亂，故舌不能言，而口流涎沫。此偏枯症中由淺入深之次第也。論治者，河間主火，東垣主氣，丹溪主痰，是因火召風，因氣召風，因痰召風，反以火氣痰為主，而風往從之，標本倒置。誠如喻嘉言之所譏，蓋其人有火氣痰偏勝之處，因中於風，則有火者為風火；有氣者為風氣；有痰者為風痰。風為主，而火與氣與痰，乃與風合併交作，方為標本分明。惟侯氏黑散，填空竅以堵截外風一節，後人每多誤解，以為空竅之處，惟腸與胃，若將腸胃之空竅填塞，則水穀且不得通行，人將何以自立。若有形之水穀，仍能灌輸，則無形之邪風，豈反不能直走，蓄此疑者，不知凡幾。殊不思邪害空竅，《內經》已明明言之。所謂空竅者，乃指毛竅及腠理而言。故侯氏黑散中，用牡蠣、礬石等收澀之藥，欲令腠理秘密，毛竅固閉，正如暴寇當前，加築城垣以堵截之，使不得入耳；非欲將腸胃之空竅一併窒塞也。只因誤會一填字，遂將空竅二字亦一齊錯解，故特為明白剖析，庶幾積惑可除。且侯氏黑散中，尚有精義，未經揭出，茲再為表章之。其用牡蠣礬石，為堵截之計，固也。而其尤要者，則在於收澀斂肝，使在內之肝風不動；今先去其內應，而勾結之患除，雖有邪風，孤立無援，亦將自退矣。因思保障靈府之法，無如治脾胃以實中州。脾氣旺，則積濕盡去，而痰氣不生；胃氣和，則津液上行，而虛火自降。治病大法，無過於斯。至倉猝之時，病勢危急；則又當逆而折之，雖峻猛之劑，不得不隨症而施矣。</p>

<h3>中絡</h3>
<p>中絡者，風入肌表，肌肉不仁，或手指足趾麻木，加味桂枝湯主之。</p>
<p><u>加味桂枝湯</u>（自制）</p>
<p>桂枝（八分）　白芍（一錢五分）　甘草（五分）　懷牛膝（二錢）　川牛膝（一錢五分）　當歸（二錢）　蠶砂（四錢）　秦艽（一錢）　防風（一錢）　紅棗（五枚）　姜（三片）</p>

<h3>中經</h3>
<p>中經者，風入經脈，身體重著，步履艱難，養血祛風湯主之。</p>
<p><u>養血祛風湯</u>（自制）</p>
<p>生地（五錢）　當歸（二錢）　牛膝（二錢）　桂枝（六分）　茯苓（三錢）　白芍（一錢酒炒）　虎脛骨（一錢五分炙）　白朮（一錢）　秦艽（一錢）　續斷（二錢）　獨活（一錢酒炒）　木香（五分）　紅棗（十枚）　姜（三片）　桑枝（一尺）</p>

<h3>中腑</h3>
<p>風火熾盛，胃津不能上行，痰塞靈竅，昏不知人，加味竹瀝湯主之。</p>
<p><u>加味竹瀝湯</u>（自制）</p>
<p>麥冬（二錢）　石斛（三錢）　羚羊角（一錢五分）　橘紅（一錢）　膽星（五分）　殭蠶（一錢五分炒）　天麻（八分）　淡竹瀝（半杯沖服）　薑汁（一滴沖服）</p>

<h3>中臟</h3>
<p>心為一身之主，風火上犯，則神明散亂，舌不能言，口流涎沫，甚或神昏鼾睡，面色油紅，此為難治，姑擬牛黃清心飲，以備急救之一法。</p>
<p><u>牛黃清心飲</u>（自制）</p>
<p>牛黃（五分）　琥珀（一錢五分）　黃連（五分）　丹參（三錢）　遠志（五分甘草水炒）　菖蒲（八分）　橘紅（一錢）　膽星（五分）　麥冬（一錢五分）　淡竹葉（二十張）</p>
<p>中臟虛症，四肢懈散，昏不知人，遺尿鼾睡，此更難治，姑擬陰陽兩救湯，以備一法。</p>
<p><u>陰陽兩救湯</u>（自制）</p>
<p>熟地（八錢）　附子（三錢）　人參（二錢）　菟絲子（八錢鹽水炒）　枸杞（四錢）　茯神（二錢）　遠志（一錢甘草水炒）　干河車（三錢切）　炮薑炭（一錢）　煎濃汁，時時飲之。</p>

<h3>口眼喎斜</h3>
<p>足陽明之脈；夾口還唇；足太陽之脈，起於目內眥。胃有痰火，又風從太陽而來，兼擾陽明，故筋脈牽掣，而口眼喎斜也，消風返正湯主之。</p>
<p><u>消風返正湯</u>（自制）</p>
<p>羌活（一錢）　天麻（八分）　蠍尾（五支）　殭蠶（一錢五分炒）　貝母（二錢）　羚羊角（一錢五分）　石斛（三錢）　花粉（二錢）　麥冬（二錢）　黃荊葉（五張）</p>

<h3>半身不遂</h3>
<p>氣虛者，手足弛縱，食少神疲，不能步履，黃耆九物湯主之。</p>
<p><u>黃耆九物湯</u>（自制）</p>
<p>黃耆（二錢）　防風（一錢）　黨參（五錢）　茯苓（二錢）　白朮（一錢）　鹿膠（一錢五分角霜炒）　牛膝（二錢）　獨活（一錢酒炒）　甘草（五分）　大棗（二枚）　姜（三片）</p>
<p>血虛者，筋節拘攣，手指屈而不伸，不能步履，舒筋通絡湯主之。</p>
<p><u>舒筋通絡湯</u>（自制）</p>
<p>生地（四錢）　當歸（二錢）　楮實子（二錢）　川芎（一錢）　枸杞（三錢）　川斷（二錢）　金毛脊（二錢去毛切片）　宣木瓜（一錢酒炒）　白芍（一錢五分酒炒）　獨活（一錢酒炒）　牛膝（二錢）　秦艽（一錢）　紅棗（十枚）　姜（三片）　桑枝（一尺）</p>

<h3>中風僵臥</h3>
<p>氣血皆虛，手不能舉，足不能行，語言謇澀，補真湯主之。</p>
<p><u>補真湯</u>（自制）</p>
<p>紫河車（二錢干切）　熟地（五錢）　附子（一錢）　山萸肉（一錢五分）　當歸（二錢）茯神（二錢）　白芍（一錢五分酒炒）　遠志（五分甘草水炒）　獨活（一錢酒炒）　丹參（二錢）　石斛（二錢）　麥冬（二錢）　牛膝（二錢）　紅棗（十枚）　姜（三片）</p>

<h4>附肝風</h4>
<p>頭目眩暈，肢節搖顫，如登雲霧，如坐舟中，滋生青陽湯主之。</p>
<p><u>滋生青陽湯</u>（自制）</p>
<p>生地（四錢）　白芍（一錢）　丹皮（一錢五分）　麥冬（一錢五分青黛拌）　石斛（二錢）　天麻（八分）　甘菊（二錢）　石決（八錢）　柴胡（八分醋炒）　桑葉（一錢）　薄荷（一錢）　靈磁石（五錢整塊同煎）</p>

<h4>附腎風</h4>
<p>頭目眩暈，中心懸懸，驚恐畏人，常欲蒙被而臥，滋腎息風湯主之。</p>
<p><u>滋腎息風湯</u>（自制）</p>
<p>熟地（四錢）　當歸（二錢）　枸杞（三錢）　菟絲（四錢）　甘菊（二錢）　巴戟天（三錢）　豨薟（三錢）　天麻（八分）　獨活（一錢酒炒）　紅棗（十枚）　姜（三片）</p>

<h4>附：中風門諸方</h4>
<p><u>侯氏黑散</u>　治大風，四肢煩重，心中惡寒不足。</p>
<p>菊花（四十分）　白朮（十分）　茯苓（三分）　細辛（三分）　牡蠣（三分）　桔梗（八分）　防風（十分）　人參（三分）　礬石（三分）　黃芩（三分）　當歸（三分）　乾薑（三分）　川芎（三分）　桂枝（三分）　共研為末，酒服一方寸匕，</p>
<p>日三服，禁一切辛辣熱物。常宜冷食，六十日止，則藥積腹中不下，熱食即下矣。</p>
<p><u>愈風丹</u>　治諸風症，偏正頭痛。</p>
<p>羌活（一兩）　細辛（一兩）　甘菊（一兩）　天麻（一兩）　獨活（一兩）　薄荷（一兩）　何首烏（一兩）　共研末，煉蜜丸如彈子大，每服一丸，細嚼茶清下。</p>
<p><u>胃風湯</u>　治虛風症，能食，手足麻木，牙關急搐，目內蠕瞤，胃風面腫。</p>
<p>升麻（一錢二分）　白芷（一錢二分）　麻黃（一錢）　葛根（一錢）　當歸（一錢）　蒼朮（一錢）　甘草（一錢）　柴胡（五分）　羌活（五分）　藁本（五分）　黃柏（五分）　草蔻（五分）　蔓荊子（五分）　姜（三片）　棗（一枚）　</p>
<p><u>薏苡仁湯</u>　治中風，手足流注疼痛，麻痹不仁，難以屈伸。</p>
<p>苡仁（三錢）　當歸（一錢二分）　芍藥（一錢二分）　麻黃（五分）　官桂（五分）　蒼朮（一錢二分）　甘草（八分）　生薑（三片）</p>
<p><u>排風湯</u>　治風虛冷濕，邪氣入臟，狂言妄語，精神錯亂，及五臟風發等症。</p>
<p>防風（一錢）　白朮（一錢）　當歸（一錢）　白芍（一錢）　肉桂（一錢）　杏仁（一錢）　川芎（一錢）　甘草（一錢）　麻黃（一錢）　白蘚皮（三錢）　茯苓（三錢）　獨活（三錢）　姜（三片）</p>
<p><u>人參補氣湯</u>　治手指麻木。</p>
<p>人參（二錢）　黃耆（二錢）　升麻（五分）　柴胡（五分）　白芍（五分）　生甘草（五分）　炙甘草（五分）　五味子（五分）　不加引。</p>
<p><u>桂枝湯</u>　治風從外來，久客於絡，留而不去，此方主之。</p>
<p>桂枝（二錢）　白芍（三錢）　甘草（三錢）　生薑（三片）　大棗（二枚）</p>
<p><u>小續命湯</u>　治中風不省人事，漸覺半身不遂，口眼喎斜，手足顫掉，語言謇澀，肢體麻痹，精神昏亂，頭目眩暈，痰火併多，筋脈拘急，不能屈伸，肢節煩痛，不能轉側。</p>
<p>防風（一錢四分）　桂枝（一錢四分）　黃芩（一錢四分）　白芍（一錢四分）　杏仁（一錢四分）　甘草（一錢四分）　川芎（一錢四分）　人參（一錢四分）　防己（二錢）　麻黃（一錢）　附子（七分）　姜（三片）　棗（二枚）</p>
<p>附易老六經加減法</p>
<p>麻黃續命湯，治中風無汗，惡寒。本方中麻黃、杏仁、防風各加一倍。</p>
<p>桂枝續命湯，治中風有汗，惡風。本方中桂枝、白芍、杏仁各加一倍。</p>
<p>白虎續命湯，治中風有汗，身熱不惡寒。本方中加知母、石膏各一錢四分，去附子。</p>
<p>葛根續命湯，治中風有汗，身熱不惡風。本方中加葛根一錢四分，桂枝、黃芩各加一倍。</p>
<p>附子續命湯，治中風無汗，身涼。本方中加附子一倍，乾薑、甘草各加一錢。</p>
<p>桂附續命湯，治中風有汗，無熱。本方中桂枝、附子、甘草各加一倍。</p>
<p><u>防風通聖散</u>　治諸風驚搐，手足瘛瘲，小兒急驚風，大便急，邪熱暴盛，肌肉蠕動，一切風症。</p>
<p>防風（五分）　川芎（五分）　當歸（五分）　白芍（五分）　大黃（五分）　芒硝（五分）　麻黃（五分）　連翹（五分）　薄荷（五分）　山梔（五分）　石膏（五分）　黃芩（五分）　桔梗（五分）　白朮（五分）　荊芥（五分）　甘草（五分）　滑石（五分）　生薑（三片）　涎嗽加半夏五分，破傷風加羌活、全蠍各五分</p>
<p><u>烏藥順氣散</u>　治風氣攻注，四肢骨節疼痛，遍身㿏麻，語言謇澀，手足不遂。先宜多服此藥，以疏氣逆，然後隨症投以風藥。</p>
<p>麻黃（二兩）　陳皮（二兩）　烏藥（二兩）　川芎（一兩）　殭蠶（一兩）　白芷（一兩）　甘草（一兩）　枳殼（一兩）　桔梗（一兩）　乾薑（五錢）　</p>
<p>共研為末，每服三錢，溫酒調下。</p>
<p><u>加味六君子湯</u>　治四肢不舉，屬於脾土虛衰，須服此專治其本，不加入風藥。</p>
<p>人參（一錢）　茯苓（一錢）　甘草（一錢）　廣皮（一錢）　半夏（一錢）　麥冬（三錢）　竹瀝（半杯）　口渴去半夏，加玉竹。不熱者加附子。</p>
<p><u>資壽解語湯</u>　治中風脾緩，舌強不語，半身不遂。</p>
<p>防風（一錢）　附子（一錢）　天麻（一錢）　官桂（八分）　棗仁（一錢）　羌活（五分）　甘草（五分）　羚羊角（八分）　竹瀝（兩大匙沖服）　薑汁（兩滴沖服）</p>
<p><u>天麻丸</u>　治風因熱而生，熱盛則動，宜以靜勝其燥，養血通絡，兼去腎風。</p>
<p>天麻（四兩酒浸）　牛膝（四兩酒浸）　萆薢（四兩）　元參（四兩）　杜仲（七兩）　附子（一兩）　羌活（三兩）　獨活（三兩）　當歸（十兩）　生地（一斤）</p>
<p>共為細末，煉蜜為丸，如桐子大，每服五七十丸，空心溫酒下。</p>
<p><u>竹瀝湯</u>　治四肢不收，心神恍惚，不知人事，口不能言。</p>
<p>竹瀝（二升）　生葛汁（二升）　生薑汁（二合）　上三汁和勻，分三次溫服。</p>
<p><u>千金地黃湯</u>　治熱風心煩，及脾胃熱壅，食不下。</p>
<p>生地汁（五升）　枸杞子汁（五升）　真酥（一升）　荊瀝（五升）　竹瀝（五升）　人參（八兩）　茯苓（六兩）　天冬（八兩）　大黃（四兩）　梔子（四兩）</p>
<p>後五味，為細末，納前汁內調勻，服一方寸匕，日漸加，以利為度。</p>
<p><u>涼膈散</u>　治心火上盛，膈熱有餘，目赤頭眩，口瘡唇裂，吐衄，涎嗽稠黏，二便淋閉，胃熱發斑，諸風瘛瘲，手足搐逆。</p>
<p>連翹　梔子　薄荷　大黃　芒硝　甘草　黃芩　棗（一枚）　蔥（一根）</p>
<p><u>地黃飲子</u>　治舌喑不能言，足廢不能用，腎虛弱，其氣厥不至舌下。</p>
<p>熟地　巴戟　山茱萸　肉蓯蓉　石斛　附子　五味　茯苓　菖蒲　遠志（甘草水炒）</p>
<p>官桂　麥冬（各等分）　姜（三片）　棗（一枚）　薄荷葉（六張）</p>
<p><u>黑錫丹</u>　治真元虛憊，陽氣不固，陰氣逆沖，三焦不和，冷氣刺痛，飲食無味，腰背沉重，膀胱久冷，及陰症陰毒，四肢厥冷，不省人事。急用棗湯吞一百粒，即便回陽。</p>
<p>沉香（一兩）　葫蘆巴（一兩酒炒）　陽起石（一兩研末水飛）　肉桂（五分）　破故紙（一兩）　白茴香（一兩）　肉豆蔻（一兩面煨）　木香（一兩）　金鈴子（一兩蒸去皮核）　硫黃（二兩）　黑錫（二兩去滓）　用鐵鍋先炒硫黃、黑錫，結成砂子，於地上出火毒，研令極細，余藥並細末，和勻，自朝至暮，以研至黑光色為度，酒糊丸如梧子大，陰乾，入布袋內，擦令光瑩，每用四十丸，鹽薑湯下。急症，多者用至百丸。</p>
<p><u>古今錄驗續命湯</u>　治中風身體不能自收，口不能言，冒昧不知痛處，或拘急不得轉側。</p>
<p>麻黃（三兩）　桂枝（三兩）　當歸（三兩）　人參（三兩）　石膏（三兩）　乾薑（三兩）　甘草（三兩）　川芎（三兩）　杏仁（四十枚）　上九味，以水一斗，煮取四升，溫服一升，汗出則愈。</p>
<p><u>千金三黃湯</u>　治中風手足拘急，百節疼痛，煩熱，心亂，惡寒，經日不欲飲食。</p>
<p>麻黃（四分）　獨活（四分）　細辛（二分）　黃耆（二分）　黃芩（三分）</p>
<p>上五味，以水六升，煮取三升，分三次服。一服小汗，二服大汗。心熱加大黃二分，腹滿加枳實一枚，氣逆加人參三分，悸加牡蠣三分，渴加栝蔞根三分，先有寒加附子一枚。</p>
<p><u>近效白朮附子湯</u>　治風虛，頭重眩苦，食不知味，暖肌，補中益精氣。</p>
<p>白朮（二兩）　附子（一枚）　甘草（一兩炙）　上三味，銼為末，每用五錢，姜五片，棗一枚，煎七分，去渣服。</p>

<h2>中寒</h2>
<p>一陰一陽之謂道，天地萬物，莫之能外。陽主發舒，陰主收斂；陽主生長，陰主肅殺。人受二氣之中以生，陰陽調和，康強壽考。次則陽氣勝者，雖不無少偏，猶足自立。至陰氣一盛，則陽氣漸消，疾病夭折，不可究詰矣。寒者陰氣也，即肅殺之氣也。寒氣中人，為禍最烈。仲景欲利濟萬世，著傷寒、中寒為二論。《傷寒論》十卷，炳如日星，後世奉為科律。《卒病論》六卷，自晉以來，久已散失，無可稽考。然其分為二門之意，則可揣而知也。傷寒者，傳變之症，多由發熱而起，經所謂凡熱病者皆傷寒之類也。人之陽氣，未至大衰，雖感冒風寒，一時陽為陰掩，究竟真陽尚在，則陽回氣復，而病變亦旋瘳。自有《傷寒論》以來，後之註釋者，若程氏、柯氏、吳氏，代有發明。至喻氏《尚論篇》，更暢其說。學者融會貫通，可以泛應各當，故此編於傷寒門中，概不置喙，非闕也，實亦無庸更贊一詞也。今於中寒門，分列數條，蓋恐人不知傳經直中之分，仍以治傷寒之法治中寒，則大不可耳。傷寒者，寒從外來；中寒者，寒從內發。傷寒多發熱之候，中寒則但有厥冷，而無發熱之候，此必其人之真陽先虧，坎中之火漸為水淹；又必有澄寒痼冷，伏於臟腑，一遇寒氣，積病猝發，極為危險。故非氣雄力厚之溫劑，不能斬關奪門，以回真陽於俄頃，非如傷寒傳經之症，可以按部就班也。其見症列後。</p>

<h3>真心痛</h3>
<p>真心痛者，水來剋火，寒邪直犯君主，脘痛嘔吐，身冷，手足青至節，甚則旦發夕死，茯神四逆湯主之。</p>
<p><u>茯神四逆湯</u>（自制）</p>
<p>茯神（二錢）　附子（三錢）　乾薑（一錢）　人參（二錢）　甘草（五分）　木香（六分）　砂仁（一錢）　水三鍾，煎至一鍾，微溫服。</p>
<p>此方以四逆為主方，加茯神入心，以人參佐之。先生云，人參大補心脾。證見脘痛嘔吐，用香、砂以調之，則寒邪去而心痛止矣。祖怡注。朱祖怡姻世丈，字漪壘，為外曾祖母朱太君外家之侄孫。常州同鄉，前清孝廉。年長於我，與我先後同時受醫學於繩甫先生。晉卿公善於闡發長沙，漪壘頗喜精思，會心不遠，又從而闡發費氏學。今已作古，不忍沒其苦心，爰隨原文附註於下，加祖怡注三字以別之。徐相任識。</p>

<h3>厥心痛</h3>
<p>厥心痛者，中寒發厥而心痛也。雖在包絡，然已是心之外腑，故手足厥逆，身冷汗出，便溺清利，甚亦朝發夕死，白朮四逆湯主之。</p>
<p><u>白朮四逆湯</u>（自制）</p>
<p>白朮（三錢）　附子（三錢）　乾薑（一錢）　人參（二錢）　茯苓（二錢）　甘草（五分）　大棗（三枚）　水三鍾，煎一鍾，微溫服。</p>
<p>此方亦以四逆為主，而加白朮命名者，其補土之意，已瞭然矣。其實理中加附子法，亦即四逆加四君法，火土相生，虛寒兼顧，乃溫補法也。祖怡注。</p>

<h3>直中少陰</h3>
<p>腎氣厥逆，腹痛下利，手足厥冷，小便清利，茴香四逆湯主之。</p>
<p><u>茴香四逆湯</u>（自制）</p>
<p>小茴香（二錢）　附子（三錢）　乾薑（一錢）　破故紙（二錢）　杜仲（五錢）　茯苓（二錢）　甘草（五分）　大棗（三枚）　水三鍾，煎一鍾，溫服。</p>
<p>四逆湯本治少陰，此方加茴香泄腎邪，佐以茯苓；再加杜仲、故紙補命門，兼治泄瀉；紅棗能補土，與茯苓同用，又能泄腎中水氣。仲聖治奔豚，有苓桂棗甘湯，此方去桂代以茴香，更見立方之妙。祖怡注。</p>

<h3>直中厥陰</h3>
<p>肝氣厥逆，脅下及腹中絞痛，下利，手足厥冷，指爪皆青，茱萸附桂湯主之。</p>
<p><u>茱萸附桂湯</u>（自制）</p>
<p>吳萸（七分）　附子（二錢）　肉桂（八分）　當歸（三錢）　白芍（一錢五分）　白朮（一錢）　木香（六分）　烏藥（一錢）　棗（二枚）　姜（三片）</p>
<p>此方於四逆湯只取附子一味，以去沉寒，而以茱萸附桂名者，先生注重在厥陰也。厥陰為藏血之臟，當然以和營為主。方意取材於當歸四逆，加吳萸、生薑，去細辛、甘草、木通，以肉桂易桂枝，附、桂同用，加入吳萸，直驅厥陰之寒；以歸、芍和血，木香、烏藥順氣止痛，而用白朮、薑、棗，補脾正所以和營也。祖怡注。以上四方，雖治中寒，仍顧脾胃，先生常云，脾陽不運，虛則寒生。且脾主四肢，四逆之症，固以溫本臟為主，而總不離乎脾，實理所當然矣。祖怡又注。</p>

<h4>附：中寒門諸方</h4>
<p>（凡涉傷寒門傳經者不錄。）</p>
<p><u>姜白通湯</u>　治暴卒中寒，厥逆嘔吐，瀉利色清，氣冷，肌膚凜慄，無汗，盛陰沒陽之症。</p>
<p>附子（五錢）　乾薑（五錢）　蔥白（五莖）　豬膽（半枚）　先將附、姜二味煎好，後入蔥汁、膽汁，和勻溫服。</p>
<p><u>桂歸薑湯</u>　治暴卒中寒，兼傷營血者。</p>
<p>附子（二錢五分）　乾薑（二錢五分）　當歸（二錢五分）　肉桂（二錢五分）　水二盞，煎至一盞，入蜜一蛤蜊殼，溫服。</p>
<p><u>姜歸桂參甘湯</u>　治陽氣將回，陰寒少殺。</p>
<p>附子（一錢五分）　乾薑（一錢五分）　當歸（一錢五分）　肉桂（一錢五分）　人參（二錢）　甘草（二錢）　大棗（二枚）　加蜜三蛤蜊殼，溫服。</p>
<p><u>辛溫平補湯</u>　治暴中寒症，服前三方其陽已回，身溫色活，手足不冷，吐利漸除，用此平補臟腑，調和營衛，俾不致有藥偏之害。</p>
<p>附子（五分）　乾薑（五分）　當歸（一錢）　肉桂（五分）　人參（一錢）　甘草（一錢）　黃耆（一錢）　白朮（一錢土炒）　白芍（一錢酒炒）　五味子（十二粒）　大棗（二枚）　加蜜五蛤蜊殼，溫服。</p>
<p><u>四逆湯</u>　治三陰經症，四肢厥冷，虛寒下利，急溫其臟。</p>
<p>甘草（二兩）　乾薑（三兩）　附子（一枚）　上三味，以水二升，煎取一升二合，分溫再服。</p>
<p><u>通脈四逆加減湯</u>　治下利清穀，裡寒外熱，厥逆惡寒，脈微欲絕之證。</p>
<p>甘草（二兩）　附子（大者一枚）　乾薑（三兩強人可四兩）　面赤者加蔥九莖。腹中痛者去蔥，加芍藥三兩。嘔者加生薑二兩。咽痛者去生薑、芍藥，加桔梗一兩。利止、脈不出者，去桔梗，加人參二兩。</p>
<p><u>桂枝去芍藥加麻辛附子湯</u>　治中脘痛，心下堅，大如盤，邊如旋杯，水飲所作。</p>
<p>桂枝（三兩）　麻黃（二兩）　細辛（二兩）　甘草（二兩炙）　附子（一枚）　生薑（三兩）　大棗（十二枚）　水七升，煮麻黃，去沫，內諸藥，煮取二升，分三服，當汗出如蟲行皮中，即愈。</p>
<p><u>附子粳米湯</u>　治腹中寒氣，雷鳴切痛，胸脅逆滿，嘔吐。</p>
<p>附子（一枚）　半夏（半升）　甘草（一兩）　大棗（十枚）　粳米（半升）</p>
<p>水八升，煮米熟湯成，去渣，溫服一升。</p>
<p><u>大建中湯</u>　治心胸中大寒痛，嘔不能飲食，腹中寒，上衝皮起，出見有頭足，上下痛而不可觸近者。</p>
<p>蜀椒（二合）　乾薑（四兩）　人參（二兩）　水四升，煮取二升，去渣，入飴糖一升，微火煮取一升半，分溫服。</p>
<p><u>大黃附子湯</u>　治脅下偏痛，發熱，其脈緊弦，此寒也，以溫藥下之。</p>
<p>大黃（二兩）　附子（二枚）　細辛（二兩）　以水五升，煮取二升，分三服。</p>
<p><u>理中湯</u>　治自利不渴，寒多而嘔，腹痛，脈沉無力，或厥冷拘急，或結胸吐蛔。</p>
<p>白朮（二兩土炒）　人參（一兩）　乾薑（一兩炒）　甘草（一兩炙）　每服四錢。自利腹痛加木香，利多者倍白朮。渴者倍白朮。倦臥沉重，利不止加附子。腹滿去甘草。臍下動氣，去朮加桂。悸加茯苓。胸痞加枳實。吐蛔加川椒、烏梅。</p>
<p><u>回陽救急湯</u>　治身不熱，頭不痛，惡寒戰慄，四肢厥冷，腹痛吐瀉，指甲唇青，或無脈，或脈沉遲無力。</p>
<p>附子（五分）　乾薑（五分）　肉桂（五分）　人參（五分）　白朮（一錢）　茯苓（一錢）　半夏（七分）　陳皮（七分）　甘草（二分）　五味子（九粒）</p>
<p>無脈加豬膽汁。</p>

<h2>暑熱濕</h2>
<p>四序流行，春生夏長，秋收冬藏。故春為風木，秋為燥金，冬為寒水，各司其令。惟夏則暑熱濕三氣迭乘，合操其柄，此蓋大化循環之運，不期然而然，而亦不得不然也。所謂不期然而然者，何也？天一生水，貞下起元，由水生木，由木生火，至是而天氣下降，地氣上騰，大生廣生，百物蕃阜，此所謂不期然而然者也。所謂不得不然者何也？夏為火令，秋為金令，由夏入秋，乃火下起金，不惟不能相生，而反相剋，秋令不幾於或息乎！全賴地氣上騰，長夏土旺，由火生土，借土生金，此又大化斡旋之妙用，四序方得流行，生克方不顛倒，所謂不得不然者此也。但暑熱之氣自上而下，濕氣自下而上，人在其中，無時無處不受其熏蒸燔灼，致病已非一端，又況起居不慎，飲食不節，其受病尚可問乎！《金匱》有痙濕暍之訓，後賢推而廣之，立方愈多，醇駁互見。蓋傷寒有痙病，時邪亦有痙病，而時邪之痙，與傷寒之痙，又復不同。三氣之痙，只須究其致病之由，或由風熱，或由暑熱，或由濕熱，見症治症，直截了當。若牽涉傷寒之痙，較量比例，雖繁稱博引，更令人滋惑矣。且三氣為病，非有沉寒痼冷，如冬月傷寒之比，若拘執太陽篇中之痙病，動輒麻黃、桂枝，何異抱薪救火乎！茲特舉症於前，列方於後，以便檢閱。</p>

<h3>剛痙</h3>
<p>剛痙者，頭痛項強，手足搐逆；甚則角弓反張，發熱無汗，此風熱盛也。熱傷營血，筋脈暴縮，風入經絡，肢節拘攣，風熱合而為病，赤芍連翹散主之。</p>
<p><u>赤芍連翹散</u>（自制）</p>
<p>赤芍（一錢五分）　連翹（二錢）　葛根（二錢）　花粉（三錢）　豆豉（三錢）　防風（一錢）　薄荷（一錢）　獨活（一錢）　甘草（四分）　經霜桑葉（二十張）</p>

<h3>柔痙</h3>
<p>柔痙者，身體重著，肢節拘攣，有汗而熱。暑熱為天之氣，其來甚速，其去亦甚速。體重筋攣，乃熱邪為濕所留，故有汗而熱不退也，白朮苡仁湯主之。</p>
<p><u>白朮苡仁湯</u>（自制）</p>
<p>白朮（一錢）　茅朮（一錢）　苡仁（八錢）　茯苓（三錢）　當歸（一錢五分）　赤芍（一錢）　薄荷（一錢）　連翹（一錢五分）　花粉（三錢）　甘草（四分）　鮮荷葉（一角）</p>

<h3>傷暑</h3>
<p>傷暑者，汗多體倦，渴而引飲，心煩脈虛，加味白虎湯主之。</p>
<p><u>加味白虎湯</u>（自制）</p>
<p>石膏（五錢）　知母（一錢）　人參（一錢）　茯苓（二錢）　山藥（三錢）　麥冬（二錢）　石斛（三錢）　甘草（四分）　粳米（一合煎湯代水）</p>

<h3>中暑</h3>
<p>猝然而倒，昏不知人，身熱口噤，此熱邪內犯君主，黃連滌暑湯主之。</p>
<p><u>黃連滌暑湯</u>（自制）</p>
<p>黃連（五分）　黃芩（一錢）　梔子（一錢五分）　連翅（一錢五分）　葛根（二錢）　茯苓（二錢）　半夏（一錢）　甘草（四分）</p>

<h3>傷熱</h3>
<p>暑濕氣合，郁為大熱，五心煩躁，坐臥不安，渴飲胸痞，此三氣迭乘，已成燎原之勢，宜急下存陰，三焦通治，三解湯主之。</p>
<p><u>三解湯</u>（自制）</p>
<p>黃連（五分）　黃芩（一錢）　大黃（四錢）　梔子（一錢五分）　花粉（二錢）　連翹（一錢五分）　半夏（一錢）　茯苓（二錢）　木通（一錢）　澤瀉（一錢五分）　青荷梗（一尺）</p>

<h3>傷濕</h3>
<p>傷濕者，四肢倦怠，食少胸痞，加味神術湯主之。</p>
<p><u>加味神術湯</u>（自制）</p>
<p>白朮（一錢）　茅朮（一錢）　當歸（一錢五分）　茯苓（二錢）　苡仁（四錢）　厚朴（一錢）　砂仁（一錢）　半夏曲（三錢炒）　佩蘭葉（一錢）　川牛膝（一錢五分）　荷葉（一角）　姜（二片）</p>

<h3>嘔吐</h3>
<p>暑月嘔吐，乃飲食不節，外感不正之氣也，四正散主之。</p>
<p><u>四正散</u>（自制）</p>
<p>藿香（一錢五分）　茅朮（一錢）　厚朴（一錢）　砂仁（一錢）　茯苓（二錢）　廣皮（一錢）　半夏（一錢）　神麯（三錢）　淡竹茹（八分）　薑汁（兩小匙沖服）</p>

<h3>泄瀉</h3>
<p>暑月泄瀉，乃貪涼受寒，過食生冷，腸胃受傷所致，和中化濁湯主之。</p>
<p><u>和中化濁湯</u>（自制）</p>
<p>茅朮（一錢）　厚朴（一錢）　茯苓（二錢）　枳殼（一錢）　青皮（一錢）　砂仁（一錢）　木香（五分）　楂炭（三錢）　車前（二錢）　神麯（三錢）　烏藥（一錢）　荷葉（一角）　煨姜（三片）</p>

<h3>霍亂轉筋</h3>
<p>暑月受邪，鬱於中焦，上吐下瀉，手足厥冷，筋脈抽掣，化逆湯主之。</p>
<p><u>化逆湯</u>（自制）</p>
<p>黃連（六分）　吳萸（三分）　厚朴（一錢）　青皮（一錢）　藿香（一錢五分）　木瓜（一錢）　木香（五分）　白蔻（六分）　獨活（一錢）　烏藥（一錢）　蒺藜（四錢）　茯苓（二錢）　陰陽水煎服。</p>

<h3>發黃</h3>
<p>脾經受濕，胃經受熱，鬱蒸發黃，加味茵陳湯主之。</p>
<p><u>加味茵陳湯</u>（自制）</p>
<p>茵陳（二錢）　木通（一錢五分）　赤苓（三錢）　澤瀉（一錢五分）　苡仁（一兩）　茅朮（一錢）　厚朴（一錢）　薄荷（一錢）　青皮（一錢）　車前（二錢）　青荷梗（一尺）</p>

<h3>淋濁</h3>
<p>濕熱內蘊，移於下焦，小溲混濁作痛，牡丹皮湯主之。</p>
<p><u>牡丹皮湯</u>（自制）</p>
<p>丹皮（二錢）　赤芍（一錢）　木通（一錢）　萆薢（二錢）　花粉（二錢）　瞿麥（二錢）　澤瀉（一錢五分）　車前（二錢）　甘草（四分）　苡仁（一兩煎湯代水）　虛體夾濕，淋濁不痛，加味三才湯主之。</p>
<p><u>加味三才湯</u>（自制）</p>
<p>天冬（二錢）　生地（四錢）　沙參（四錢）　丹參（二錢）　柏仁（二錢）　萆薢（二錢）　澤瀉（一錢五分）　車前（二錢）　甘草（四分）　藕（三兩）　苡仁（一兩與藕同煎湯代水）</p>

<h4>附：三氣門諸方</h4>
<p>（凡涉傷寒門痙病者不錄。）</p>
<p><u>海藏神術湯</u>　治內傷冷飲，外感寒邪，而無汗者。</p>
<p>蒼朮（二兩）　防風（二兩）　甘草（一兩）　蔥白、生薑同煎服。</p>
<p><u>白朮湯</u>　治內傷冷物，外感風寒，有汗者。</p>
<p>白朮（三兩）　防風（二兩）　甘草（一兩）　每服三錢，加姜三片煎服。</p>
<p><u>人參瀉肺湯</u>　治肺經積熱，上喘咳嗽，胸膈脹滿，痰多，大便澀。</p>
<p>人參　黃芩　梔子　枳殼　薄荷　甘草　連翹　杏仁　大黃　桑皮　桔梗（各等分）　每服七錢，水二盞，煎八分服。</p>
<p><u>天門冬散</u>　治肺壅腦熱鼻乾，大便秘澀。</p>
<p>天冬（八分）　桑皮（八分）　升麻（八分）　大黃（八分）　枳殼（八分）　甘草（八分）　荊芥（一錢）　水二盞，煎八分，食後服。</p>
<p><u>赤茯苓湯</u>　治膀胱濕熱，小便不通，口苦舌乾，咽喉不利。</p>
<p>赤苓　豬苓　葵子　枳實　瞿麥　木通　黃芩　車前　滑石　甘草（各等分）　加姜三片，煎八分服。</p>
<p><u>龍腦雞蘇丸</u>　除煩熱鬱熱，肺熱咳嗽，吐血鼻衄，消渴驚悸，膈熱口瘡，清心明目。</p>
<p>薄荷（一兩六錢）　生地（六錢）　麥冬（四錢）　蒲黃（二錢）　阿膠（二錢）　黃耆（一錢）　人參（二錢）　木通（二錢）　甘草（一錢）　銀柴胡（一錢）　共研末，蜜丸如梧子大，每服二十丸。</p>
<p><u>利膈散</u>　治脾肺大熱，虛煩上壅，咽喉生瘡。</p>
<p>薄荷　荊芥　防風　桔梗　人參　牛蒡子　甘草（各一兩）　共為末，每服二錢，不拘時沸湯點服。</p>
<p><u>地黃煎</u>　治熱積。</p>
<p>地黃（一斤）　茯神（四兩）　知母（四兩）　玉竹（四兩）　花粉（四兩）　麥冬（四兩）　人參（二兩）　石膏（八兩）　地骨皮（四兩）　共研末，加白蜜、竹瀝、薑汁為丸，如梧子大，每服三十丸。</p>
<p><u>碧雪</u>　治一切積熱，咽喉口舌生瘡，心中煩躁，及天行時熱，發強昏憒。</p>
<p>芒硝　朴硝　硝石　馬牙硝　青黛　石膏　寒水石（水飛）　甘草（各等分）　先將甘草煎湯二升，去渣，入諸藥，再煎，用柳木棍不住手攪，令硝溶得所，再入青黛，和勻，傾入砂盆內，候冷，凝結成霜，研為細末。每用少許，含化津咽，不拘時候。如咽喉壅閉，吹藥入喉中，即愈。</p>
<p><u>麻黃杏子薏苡甘草湯</u>　治一身盡痛，日晡發熱，此傷於汗出當風，風濕為病也。</p>
<p>麻黃（四兩）　甘草（一兩）　苡仁（半斤）　杏仁（七十粒）　每服四錢，煎八分，有微汗，避風。</p>
<p><u>防己黃耆湯</u>　治風濕相乘，身重，汗出惡風。</p>
<p>防己（一兩）　甘草（五錢）　白朮（七錢）　黃耆（一兩二錢）　共銼細，每用五錢，大棗一枚，姜三片，水煎八分服。服後當如蟲行皮中，從腰下如水。暖坐被上，又以一被繞腰以下，令微汗。</p>
<p><u>和劑五積散</u>　治感冒寒邪，頭疼身痛，項背拘急，惡寒嘔吐，內傷生冷，及寒濕客於經絡。</p>
<p>白芷（三兩）　茯苓（三兩）　半夏（三兩）　當歸（三兩）　川芎（三兩）　甘草（三兩）　肉桂（三兩）　白芍（三兩）　枳殼（六兩）　麻黃（六兩）　陳皮（六兩）　桔梗（十二兩）　厚朴（四兩）　乾薑（四兩）　蒼朮（四兩）　每服四錢，加姜三片，蔥白三根，煎七分，熱服。</p>
<p><u>活人敗毒散</u>　治瘟疫風濕風痰，頭痛目眩，憎寒惡熱，山嵐瘴氣。</p>
<p>羌活（一兩）　獨活（一兩）　前胡（一兩）　柴胡（一兩）　茯苓（一兩）　枳殼（一兩）　桔梗（一兩）　人參（一兩）　甘草（五錢）　共為末，每服二錢，水二盞，加姜三片，煎七分，溫服。</p>
<p><u>清熱滲濕湯</u>　治熱濕鬱蒸，煩熱食少，神倦。</p>
<p>黃柏（二錢鹽水炒）　黃連（五分）　茯苓（二錢五分）　澤瀉（二錢）　蒼朮（二錢五分）　白朮（一錢五分）　甘草（五分）　水二鍾，煎八分服。</p>
<p><u>二術四苓湯</u>　治諸濕腫滿，一身盡痛，發熱煩悶，二便不利。</p>
<p>白朮　蒼朮　茯苓　豬苓　澤瀉　黃芩　羌活　芍藥　梔子　甘草（各等分）　加姜三片，燈芯一撮，煎服。</p>
<p><u>羌活勝濕湯</u>　治脊痛項強，腰如折，項如拔，上衝頭痛。</p>
<p>羌活（一錢）　獨活（一錢）　藁本（一錢五分）　防風（一錢五分）　蔓荊子（一錢）　川芎（八分）　甘草（四分）　水煎八分，溫服。</p>
<p><u>除濕湯</u>　治寒濕所傷，身體重著，腰腳痠疼，大便溏泄，小便或澀或利。</p>
<p>半夏曲（二錢）　厚朴（二錢）　蒼朮（二錢）　藿香葉（一兩）　陳皮（一兩）　甘草（七錢）　白朮（一兩）　茯苓（一兩）　每服四錢，加姜三片，棗二枚煎。</p>
<p><u>人參白虎湯</u>　治傷暑汗多而渴。</p>
<p>知母（六錢）　石膏（一斤）　甘草（二兩）　粳米（一合）　人參（三兩）　水一斗，煮米熟湯成，去渣，溫服一升。</p>
<p><u>清暑益氣湯</u>　治傷暑，四肢倦怠，胸滿氣促，肢節疼，或氣高而喘，身熱而煩，心下痞脹，小便黃數，大便溏泄，口渴，不思飲食，自汗，體重。</p>
<p>人參（一錢）　黃耆（一錢）　升麻（一錢）　蒼朮（一錢）　白朮（五分）　神麯（五分）　陳皮（三分）　炙甘草（三分）　黃柏（三分）　麥冬（三分）　當歸（三分）　乾葛（三分）　澤瀉（三分）　青皮（三分）　五味子（三分）　水煎服。</p>
<p><u>生脈散</u>　治熱傷元氣，肢體倦怠，氣短懶言，口乾作渴，汗出不止。</p>
<p>人參　麥冬　五味子（各等分）　水煎服。</p>
<p><u>竹葉石膏湯</u>　治暑熱煩躁。</p>
<p>石膏（一兩）　半夏（二錢）　人參（三錢）　麥冬（三錢）　甘草（二錢）　竹葉（二十張）　加姜三片，煎服。</p>
<p><u>香薷飲</u>　治一切暑熱腹痛，或霍亂吐瀉、煩心等症。</p>
<p>香薷（一斤）　厚朴（八兩）　白扁豆（八兩）　水煎服。加茯苓、甘草，名五物香薷飲。去扁豆，加黃連，名黃連香薷飲。</p>
<p><u>十味香薷飲</u>　治伏暑，身體倦怠，神昏，頭重，吐利。</p>
<p>香薷　人參　陳皮　白朮　茯苓　黃耆　木瓜　厚朴　扁豆　甘草（各五錢）　每用一兩，水煎服。</p>
<p><u>桂苓甘露飲</u>　治伏暑發渴，脈虛，水逆。</p>
<p>茯苓（一兩）　澤瀉（一兩）　白朮（一兩）　石膏（一兩）　滑石（四兩）　寒水石（一兩）　豬苓（五錢）　人參（一兩）　甘草（一兩）　乾葛（一兩）　木香（一兩）　藿香（一兩）　肉桂（五錢）　每服三錢，溫湯調下。</p>
<p><u>五苓散</u>　治暑濕為病，發熱頭痛，煩躁而渴。</p>
<p>白朮（一兩五錢）　茯苓（一兩五錢）　豬苓（一兩五錢）　桂枝（一兩）　澤瀉（二兩五錢）</p>
<p>共為末，每服二三錢，熱湯調下。</p>
<p><u>三黃石膏湯</u>　治濕火熾盛。</p>
<p>黃連（五分）　黃芩（一錢）　黃柏（一錢）　石膏（三錢）　元參（一錢）　山梔（一錢）　知母（一錢五分）　甘草（七分）　水煎服。</p>
<p><u>蒼朮白虎湯</u>　治煩渴汗多，舌苔白膩。</p>
<p>蒼朮（二錢）　石膏（五錢）　知母（一錢五分）　甘草（五分）　粳米（一撮）　水煎服。</p>
<p><u>六和湯</u>　治心脾不調，氣不升降，霍亂吐瀉，寒熱交作，冒暑伏熱，煩悶成痢。</p>
<p>香薷（三錢）　砂仁（五分）　半夏（五分）　杏仁（五分）　人參（五分）　甘草（五分）　赤苓（二錢）　藿香（一錢）　扁豆（二錢）　厚朴（一錢）　木瓜（一錢）　紅棗（五枚）　姜（三片）</p>
<p><u>消暑丸</u>　治伏暑引飲，脾胃不利。</p>
<p>半夏（一斤）　甘草（八兩）　茯苓（八兩）　薑湯糊為丸，如梧子大，每服五十丸。</p>
<p><u>地榆散</u>　治中暑，昏迷不省人事欲死者，並治煩躁，口苦舌乾，頭痛惡心，不思飲食，及血痢。</p>
<p>地榆　赤芍　黃連　青皮（各等分）　每服三錢，水煎服。</p>
<p><u>大順散</u>　治冒暑伏寒，引飲過多，脾胃受濕，水穀不分，清濁相干，陰陽氣逆，霍亂嘔吐。</p>
<p>甘草　乾薑　杏仁　桂枝（各等分）　共為末，每服二三錢，湯點服。</p>

<h1>卷二</h1>

<h2>秋燥</h2>
<p>燥為六淫之一，《內經》於此條，並未大暢其說。至西昌喻氏著《秋燥論》一篇，謂世俗相沿，誤以濕病為燥病，解者亦競以燥病為濕病，而於《內經》所謂「秋傷於燥，上逆而咳，發為痿厥」數語，全然誤會，可謂獨具隻眼，大聲喝破矣。惟篇中謂秋不遽燥，大熱之後，繼以涼生，涼生而熱解，漸至大涼，而燥令乃行焉。此則燥字之義，乃作大涼解，而燥中全無熱氣矣。獨不思「秋陽以暴之」一語，朱子注中，謂秋日燥烈，言暴之干也。可見秋陽甚於夏日，燥非全主乎涼。乃篇中又申其說，以為天道春不分不溫，夏不至不熱，則秋不分不燥之意，隱然言下矣。信斯言也，則必秋分以後，方得謂之秋燥。是燥病亦只主得半季，而秋分以前之四十五日，全不關秋燥矣。由斯以推，則冬至以後方是傷寒，春分以後方是春溫，夏至以後方是三氣；而於冬至以前，春分以前，夏至以前，秋分以前之四十五日內，所感者為何氣，所得者謂之何病乎？愚謂燥者干也，對濕言之也。立秋以後，濕氣去而燥氣來。初秋尚熱，則燥而熱；深秋既涼，則燥而涼。以燥為全體，而以熱與涼為之用，兼此二義，方見燥字圓相。若專主一邊，遺漏一邊，恐非確論。竊附管見或亦愚者千慮之一得云。</p>

<h3>肺燥</h3>
<p>肺受燥熱，發熱咳嗽，甚則喘而失血，清金保肺湯主之。</p>
<p><u>清金保肺湯</u>（自制）</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　南沙參（三錢）　北沙參（三錢）　石斛（二錢）　玉竹（三錢）　貝母（二錢）　茜根（二錢）　杏仁（三錢）　蔞皮（三錢）　茯苓（二錢）　蛤粉（三錢）　梨（三片）　藕（五片）</p>
<p>清金保肺，必先甘涼養胃，以胃為肺之來源，脾為肺母也。二沙、麥冬、玉竹、石斛，是肺藥亦是胃藥。甘不妨胃，潤能保肺，是先賢之定法，亦是費氏的絕唱。祖怡注。</p>
<p>肺受燥涼，咳而微喘，氣鬱不下，潤肺降氣湯主之。</p>
<p><u>潤肺降氣湯</u>（自制）</p>
<p>沙參（四錢）　蔞仁（四錢）　桑皮（二錢）　蘇子（二錢）　杏仁（三錢）　旋覆花（一錢絹包）　橘紅（一錢）　鬱金（二錢）　合歡花（二錢）　鮮姜皮（五分）</p>
<p>此方重在氣鬱不下，為咳而微喘之原因。乃秋涼抑鬱肺氣，涼而兼燥，肺少津液上供，肺氣不得下降而咳。郁解津回，燥能轉潤，而氣自下降也。祖怡注。</p>

<h3>心燥</h3>
<p>心受燥熱，渴而煩冤，養心潤燥湯主之。</p>
<p><u>養心潤燥湯</u>（自制）</p>
<p>松子仁（二錢）　柏子仁（二錢）　天冬（二錢）　丹參（二錢）　當歸（二錢）　犀角（五分）　生地（五錢）　人參（一錢）　茯神（二錢）　甘草（四分）　藕汁（半杯沖服）</p>
<p>此方重在渴而煩冤。心主生血，心受燥熱，則不能生血，而心失養。渴而煩冤者，心不得受邪，一受邪則如含冤而無門可訴，形容心之痛苦，呼之欲出矣。以丹參、茯神、柏仁、當歸、人參養心；以松仁、天冬、甘草、藕汁，潤其燥，止其渴而緩其急。當歸心家要藥，性雖溫而質特潤，又為血中氣藥，在天冬、犀角、生地、藕汁大劑涼潤中，藉以通心氣而舒心神，則燥郁解而生血作用可恢復正常矣。祖怡注。</p>
<p>心受燥涼，心煩而膈上喘滿，清燥解鬱湯主之。</p>
<p><u>清燥解鬱湯</u>（自制）</p>
<p>人參（一錢）　丹參（三錢）　茯神（二錢）　半夏（一錢）　柏仁（二錢）　當歸（二錢）　鬱金（二錢）　廣皮（二錢）　沉香（四分人乳磨沖）</p>
<p>此方與上第三方，同用丹參、茯神、柏仁、當歸、人參，皆補血養心，潤燥除煩主藥也。心肺同居膈上，氣血別有一小循環，關係特為密切。心病而肺亦喘滿，肺本惡涼，亦遭波及而肺氣鬱，故以沉香、鬱金舒其氣；郁必有痰，以橘、半化其痰。沉香以人乳磨沖，不獨潤燥，且以護血。不用肺受燥涼上第二方之法者（只有鬱金一味相同），彼重於咳，此重在喘滿也。祖怡注。</p>

<h3>肝燥</h3>
<p>肝受燥熱，則血分枯槁，筋縮爪干，涵木養營湯主之。</p>
<p><u>涵木養營湯</u>（自制）</p>
<p>生地（三錢）　熟地（三錢）　人參（一錢）　白芍（一錢）　棗仁（一錢五分炒研）　秦艽（一錢）　麥冬（一錢五分）　木瓜（一錢）　五味子（五分）　當歸（二錢）　紅棗（十枚）　桑枝（一尺）</p>
<p>此方以二地滋水涵木；以歸、芍潤燥養營；以棗仁合生脈，酸甘化陰，制丙火而收散失之氣液。重用紅棗以緩肝之急；木瓜以收胃氣之散失；合秦艽、桑枝舒筋，以肝主筋也。祖怡注。</p>
<p>肝受燥涼，血澀不行，筋短脅痛，當歸潤燥湯主之。</p>
<p><u>當歸潤燥湯</u>（自制）</p>
<p>歸身（二錢）　白芍（一錢五分）　紅花（五分）　木瓜（一錢）　秦艽（一錢）　丹參（二錢）　牛膝（二錢）　川斷（二錢）　獨活（一錢）　橘餅（四錢）　紅棗（十枚）</p>
<p>歸、芍、棗養營，秦艽、木瓜舒筋，用法與前第五方意同。再加丹參、紅花養血活血。筋縮必先見於足，故用中風證中之川斷、獨活、牛膝，而以橘餅調和肝胃。此方重在肝受燥涼而血行澀滯，故重用養營活血以暢通之。祖怡注。</p>

<h3>脾燥</h3>
<p>脾本喜燥，但燥熱太過，則為焦土，而生機將息，令人體疲便硬，反不思食，此正如亢旱之時，赤地千里，禾稼不生也，澤下湯主之。</p>
<p><u>澤下湯</u>（自制）</p>
<p>人參（一錢）　當歸（二錢）　白芍（一錢）　生地（六錢）　白蘇子（三錢）　大麻仁（三錢）　石斛（三錢）　山藥（三錢）　料豆（三錢）　紅棗（十枚）</p>
<p>參、棗、歸、芍，脾家血分藥，與涵木養營湯同。以肝藏血，脾統血也。生地與山藥、料豆同用，有補脾及腎之意，所以命名澤下。石斛有鹹味者，亦能滋腎，因脾燥必吸腎陰。氣血虛之便硬，反不思食，無攻瀉之可進，麻仁、蘇子油多潤腸，不妨氣血，最為穩著。祖怡注。</p>

<h3>腎燥</h3>
<p>腎受燥熱，淋濁溺痛，腰腳無力，久為下消，女貞湯主之。</p>
<p><u>女貞湯</u>（自制）</p>
<p>女貞子（四錢）　生地（六錢）　龜版（六錢）　當歸（二錢）　茯苓（二錢）　石斛（二錢）　花粉（二錢）　萆薢（二錢）　牛膝（二錢）　車前子（二錢）　大淡菜（三枚）</p>
<p>女貞常綠喬木，純陰至靜，蟲食其葉，能生白蠟，為止血聖藥，而況於其子。臣以生地、龜版、石斛、花粉、淡菜滋補腎陰，鹹寒有情，燥熱化解無餘。當歸以去腥氣，茯苓以顧脾胃，萆薢、牛膝、車前，則為淋濁溺痛而設。祖怡注。</p>
<p>腎受燥涼，腰痛足弱，溲便短澀，蓯蓉湯主之。</p>
<p><u>蓯蓉湯</u>（自制）</p>
<p>肉蓯蓉（三錢漂淡）　枸杞（三錢）　菟絲子（四錢）　當歸（二錢）　杜仲（三錢）　料豆（三錢）　茯苓（二錢）　牛膝（二錢）　甘草（四分）　紅棗（十枚）　姜（二片）</p>
<p>蓯蓉鹹溫，填精補血，植物而有似乎動物。腎臟燥涼，髓枯血少，便閉，非鮮首烏、當歸、麻仁、蘇子、蜂蜜所能必通者，惟蓯蓉之潤，足以通之。枸杞、菟絲、杜仲、料豆，亦腎家要藥；當歸、牛膝，活血舒筋；甘草、茯苓、薑、棗，以顧脾胃；生薑兼能去涼，茯苓兼能通溺，歸、菟、薑、棗，並以解蓯蓉之腥濁，顧全心胃，制方縝密極矣。歸、苓、膝三味，上兩方皆同用。祖怡注。</p>

<h3>胃燥</h3>
<p>胃受燥熱，津液乾枯，渴飲殺穀，玉石清胃湯主之。</p>
<p><u>玉石清胃湯</u>（自制）</p>
<p>玉竹（三錢）　石膏（四錢）　花粉（二錢）　石斛（三錢）　生地（五錢）　人參（一錢）　麥冬（二錢）　蛤粉（四錢）　山藥（三錢）　茯苓（二錢）　甘蔗汁（半杯沖服）</p>
<p>此方清胃，以玉竹、石膏、蔗汁，救津液而解渴飲。以蔗汁之甘寒，代知母之苦寒。以人參、麥冬、山藥、茯苓，顧脾胃之正氣。以石斛花粉、生地、蛤粉，助石、玉、蔗汁收全功。生地顧腎，地、冬同用，金水相生。蛤粉所以化燥痰。用玉竹、麥冬、石斛、茯苓、蛤粉，與肺受燥熱清金保肺湯同。用人參、山藥、生地、料豆，與脾受燥熱澤下湯同。清胃之法，盡美盡善矣。祖怡注。</p>

<h3>小腸燥</h3>
<p>小腸受燥熱，水穀之精不能灌輸，溲溺澀痛，滋陰潤燥湯主之。</p>
<p><u>滋陰潤燥湯</u>（自制）</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　丹參（二錢）　元參（一錢五分）　阿膠（一錢五分蛤粉炒）　丹皮（一錢五分）　牛膝（一錢五分）　澤瀉（一錢五分）　生地（五錢）　琥珀（一錢）　燈芯（三尺）</p>
<p>小腸以火腑受燥氣，劫陰耗血，焚如之禍甚急。二冬、膠、地，雖非小腸正藥，而救陰補血，其力甚偉。以琥珀、丹參、元參、丹皮、燈芯、澤瀉、牛膝，通溲溺，瀉相火，導之使從膀胱大腸而下出，小腸之燥火解（小腸火方，亦用二冬、琥珀、丹參、生地、丹皮、燈芯，可以互參），而本腑安矣。祖怡注。</p>

<h3>大腸燥</h3>
<p>大腸受燥熱，則臟陰枯槁，腸胃不通，大便秘結，清燥潤腸湯主之。</p>
<p><u>清燥潤腸湯</u>（自制）</p>
<p>生地（三錢）　熟地（三錢）　當歸（二錢）　麻仁（三錢）　蔞仁（四錢）　郁李仁（二錢）　石斛（三錢）　枳殼（一錢蜜水炒）　青皮（一錢五分蜜水炒）　金橘餅（一枚）</p>
<p>此方以二地、三仁為主藥，生津潤燥，開結之力頗速。再加當歸養血，石斛養胃，青皮、枳殼皆蜜水炒，協金橘餅流通肺胃之氣。肺與大腸相表裡，補其臟必兼疏其腑，瀉其腑必兼顧其臟，此臟腑相連，不可分割之定理也。祖怡注。</p>
<p>或問脾胃大小腸，何以不立燥涼方？答曰，胃為水穀之海，脾為濕土之臟，秋感燥涼，不畏其燥。且《金匱》云，大腸有寒者多鶩溏，小腸有寒者其人下重便血。其毋庸立燥涼方宜矣。本門方用紅棗十枚者，有肝燥熱、燥涼，脾燥熱、腎燥涼，共四方。祖怡又注。</p>

<h4>附：秋燥門諸方</h4>
<p><u>滋燥養營湯</u>　治皮膚皴揭，筋燥爪干。</p>
<p>當歸（二錢）　生地（一錢五分）　熟地（一錢五分）　白芍（一錢五分）　秦艽（一錢五分）　黃芩（一錢五分）　防風（一錢）　甘草（五分）　水煎服。</p>
<p><u>大補地黃丸</u>　治精血枯涸燥熱。</p>
<p>黃柏（四兩）　熟地（四兩）　當歸（三兩）　山藥（三兩）　知母（四兩）　枸杞（三兩）　萸肉（二兩）　白芍（二兩）　生地（二兩五錢）　肉蓯蓉（一兩五錢）　元參（一兩五錢）　研細末，蜜為丸，如梧子大，每服七八十丸。</p>
<p><u>潤腸丸</u>　治脾胃中伏火，大便秘澀，或乾結不通，全不思食。</p>
<p>麻仁（五錢）　桃仁（五錢）　羌活（五錢）　歸尾（五錢）　大黃（五錢）　皂角仁（五錢）　秦艽（五錢）　研細末，蜜為丸，如梧子大，每服三五十丸　。</p>
<p><u>導滯通幽湯</u>　治大便難，幽門不通上衝，吸門不開噎塞，不便燥秘，氣不得下。</p>
<p>當歸（一錢）　升麻（一錢）　桃仁（一錢）　生地（五分）　熟地（五分）　紅花（三分）　甘草（三分）　水煎，調檳榔末五分服。</p>
<p><u>清涼飲子</u>　治上焦積熱，口舌咽鼻乾燥。</p>
<p>黃芩（二錢）　黃連（五分）　薄荷（一錢五分）　元參（一錢五分）　當歸（一錢五分）　白芍（一錢五分）　甘草（一錢）　水煎服。</p>
<p><u>元戎四物湯</u>　治臟結秘澀者。</p>
<p>當歸　川芎　白芍　熟地　桃仁　大黃（各等分）　水煎服。</p>
<p><u>大補丸</u>　降陰火，補腎水，治陰虛燥熱。</p>
<p>黃柏（四兩）　知母（四兩）　地黃（六兩）　龜版（六兩）　共研末，加豬脊髓和煉蜜丸，每服七十丸。</p>
<p><u>清燥救肺湯</u>　治諸氣膹郁，諸痿喘嘔。</p>
<p>桑葉（二錢）　石膏（二錢）　甘草（一錢）　人參（七分）　麻仁（一錢）　阿膠（八分）　麥冬（一錢二分）　杏仁（七分）　枇杷葉（一片）　水煎服。痰多加貝母、栝蔞。血枯加生地。熱甚加羚羊角。</p>
<p><u>瓊玉膏</u>　治肺燥，咽乾而咳。</p>
<p>地黃（四斤）　茯苓（十二兩）　人參（六兩）　白蜜（二斤）　先將地黃熬汁去渣，入蜜煉稠，再將參、苓為末，和入瓷罐，隔湯煮一炷香，白湯化服。又方加琥珀、沉香各五錢。</p>
<p><u>麥門冬湯</u>　治火逆上氣，咽喉不利。</p>
<p>麥冬（七升）　半夏（一升）　人參（三兩）　甘草（二兩）　粳米（三合）　大棗（十二枚）　水煎，米熟湯成，溫服一升。</p>
<p><u>活血潤燥生津湯</u>　治內燥津液枯少。</p>
<p>當歸（二錢）　白芍（一錢）　熟地（四錢）　天冬（一錢五分）　麥冬（一錢五分）　栝蔞（三錢）　桃仁（八分）　紅花（五分）　水煎服。</p>
<p><u>黃耆湯</u>　治心中煩，不生津液，不思飲食，</p>
<p>黃耆（三兩）　熟地（三兩）　白芍（三兩）　天冬（三兩）　麥冬（三兩）　茯苓（一兩）　人參（三錢）　五味子（三錢）　甘草（三錢）　共研末，每服三錢，加烏梅、薑、棗煎。</p>

<h2>火</h2>
<p>外因之病，風為最多；內因之病，火為最烈。風者天之氣，火者人之氣也。火之為物，本無形質，不能孤立，必與一物相為附麗，而始得常存。故方其靜也，金中有火，而金不銷也；木中有火，而木不焚也；水中有火，而水不沸也；土中有火，而土不焦也；但見有金、有木、有水、有土，而不見火也。五行各有其用，五行惟火無體，火之體，即以金木水土之體為之體也。及其發而莫可遏也，銷金爍石，焚崗燎原，而炎威乃不可響邇矣。人身之火，何獨不然，方其靜也，肺氣肅而大腸潤，金不銷也；肝氣平而膽氣清，木不焚也；腎氣充而膀胱通，水不沸也；脾氣健而胃氣和，土不焦也。一經激發，則金銷水涸，木毀土焦，而百病叢生矣。其因於風者為風火；因於濕者為濕火；因於痰者為痰火。陽亢者為實火；勞傷者為虛火；血虛者為燥火；遏抑者為鬱火；酒色受傷者為邪火；瘡瘍蘊結者為毒火。又有一種無名之火，不歸經絡，不主病症，暴猝舉發，莫能自制，則氣血偏勝所致也。種種火症，或由本經自發，或由他經侵克，或有數經合病，必察其所以致病之由，方能對病施治，業醫者尚慎旃哉！</p>

<h3>肺火</h3>
<p>肺火自本經而發者，緣燥氣相逼，清肅之令不能下行，故肺氣焦滿，微喘而咳，煩渴欲飲，鼻端微紅，肌膚作癢，潤燥瀉肺湯主之。</p>
<p><u>潤燥瀉肺湯</u>（自制）</p>
<p>玉竹（四錢）　蔞皮（三錢）　桑皮（三錢）　沙參（四錢）　麥冬（二錢）　黃芩（一錢）　貝母（二錢）　杏仁（三錢）　苡仁（四錢）　梨汁（半杯沖服）</p>
<p>此方用玉竹、沙參、麥冬、貝母、蔞皮、杏仁，同於清金保肺湯。而梨直用汁，因火之烈尤甚於燥。金本畏火，東垣治肺熱如火，煩燥引飲而晝甚者，用一味黃芩湯，以瀉肺金氣分之火。先生因之，再加栝蔞、桑皮、苡仁，而肺家之實火可以下行而出矣。祖怡注。</p>

<h3>心火</h3>
<p>心火熾盛，五中煩燥，面紅目赤，口燥唇裂，甚則衄血吐血，加味瀉心湯主之。</p>
<p><u>加味瀉心湯</u>（自制）</p>
<p>黃連（五分）　犀角（五分）　蒲黃（一錢）　天冬（二錢）　丹參（二錢）　元參（一錢五分）　連翹（二錢）　茯苓（二錢）　甘草（五分）　淡竹葉（二十張）　燈芯（三尺）</p>
<p>此方以黃連清氣分之火，以犀角解血分之熱，丹參、元參、天冬、甘草以清養心臟，連翹、蒲黃、竹葉、燈芯以佐連、犀。再以茯苓佐甘草之甘淡，所以顧脾胃也。瀉心家實火，而不忘脾胃，所謂毋使過之，傷其正也。《內經》之真理，吾於先生得之矣。祖怡注。</p>
<p>心血大虧，心陽鼓動，舌絳無津，煩燥不寐，加味養心湯主之。</p>
<p><u>加味養心湯</u>（自制）</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　生地（五錢）　人參（一錢）　丹參（二錢）　龜版（五錢）　當歸（一錢五分）　茯神（二錢）　柏仁（二錢）　棗仁（一錢五分）　遠志（五分）　甘草（四分）　淡竹葉（二十張）</p>
<p>同一心火，同一煩燥，前證為實火，此由陰血虛。用天王補心丹方，去桔梗、元參、茯苓、五味，而加龜版、茯神、甘草、竹葉，不獨心肝脾可資挹注，主血三臟俱已顧到，即與血同類之肺腎陰分，亦未放過。此方與心受燥熱養心潤燥湯，大半相同，所不同者彼用犀角，此用龜版；彼只用天冬，此兼用麥冬；彼兼用松仁，此只用柏仁；彼用藕汁，此用竹葉；更加棗仁、遠志，異中有同，同中有異。初學制方選藥，必須於異同中求之。治心方如此，其他諸方，亦何莫不然。祖怡注。</p>

<h3>肝膽火</h3>
<p>肝膽火盛，肋痛耳聾，口苦筋痿，陰痛，或淋濁溺血，加味丹梔湯主之。</p>
<p><u>加味丹</u>（梔湯自制）</p>
<p>丹皮（二錢）　山梔（一錢五分）　赤芍（一錢）　龍膽草（一錢）　夏枯草（一錢五分）　當歸（一錢五分）　生地（四錢）　柴胡（一錢）　木通（一錢）　車前（二錢）　燈芯（三尺）</p>
<p>此條見證，與本門後附見龍膽瀉肝湯相彷彿，而去黃芩、澤瀉、甘草，加丹皮、山梔、赤芍、夏枯草、燈芯，同樣能去肝膽實火。方雖小異，效力則大致相同。二方皆用當歸、生地、補血涼血，以肝乃藏血之臟，瀉其腑必須顧其臟，且以舒其筋也。祖怡注。</p>

<h3>脾火</h3>
<p>脾有伏火，口燥唇乾，煩渴易飢，熱在肌肉，加味瀉黃散主之。</p>
<p><u>加味瀉黃散</u>（自制）</p>
<p>防風（一錢）　葛根（二錢）　石膏（四錢）　石斛（三錢）　山梔（一錢五分）　茯苓（三錢）　甘草（四分）　荷葉（一角）　粳米（一撮煎湯代水）</p>
<p>本方用瀉黃散去藿香而加葛根、石斛、茯苓、荷葉、粳米；從白虎湯法，去知母而添升陽散火意，清中有發，發中有清，陽升火散，而無抑遏之患。此條當與先生《醫方論》瀉黃散對比觀之，更易明白。祖怡注。</p>

<h3>腎火</h3>
<p>腎火者，龍火也。龍不蟄藏，飛騰於上，口燥咽乾，面紅目赤，耳流膿血，不聞人聲，加味腎熱湯主之。</p>
<p><u>加味腎熱湯</u>（自制）</p>
<p>磁石（四錢）　牡蠣（四錢）　生地（四錢）　白朮（一錢）　白芍（一錢）　人參（一錢）　元參（二錢）　甘草（五分）　豬腎（二枚煎湯代水）</p>
<p>生地、元參、白芍、豬腎，養陰益腎，顯而易見。加磁石以鎮之，牡蠣以潛之，二味腎家藥，亦顯而易見。用參、朮、草等中州藥者，龍火上騰，必是脾胃砥柱失守所致；中州有砥柱，龍火必無由而上騰矣。祖怡注。</p>
<p>陽火可瀉，陰火不可瀉，況龍性難馴，逆而折之，反肆沖激。故丹溪滋腎丸，於滋陰藥中，加肉桂一味，導龍歸海，從治之法，最為精當。茲更推廣其意，制潛龍湯主之。</p>
<p><u>潛龍湯</u>（自制）</p>
<p>龍齒（二錢）　龜版（八錢）　生地（五錢）　龍骨（二錢）　知母（一錢）　黃柏（一錢）　人參（一錢）　元參（二錢）　蛤粉（四錢）　肉桂（四分）　鮑魚（一兩切片煎湯代水）</p>
<p>黃柏、知母、肉桂，取一陽居二陰之中，成為坎象。不用肉桂，則龍不肯歸海。既用肉桂，尚恐知、柏之力不足以駕馭，故加人參、元參、生地以佐之。再用龍骨澀而兼鎮，龍齒但鎮不澀；龜版、蛤粉、鮑魚，則潛陽即所以潛龍。而一味肉桂，處於群陰之中，當亦馴服，而潛藏不顯矣。祖怡注。</p>

<h3>胃火</h3>
<p>胃火熾盛，煩渴引飲，牙齦腐爛，或牙宣出血，面赤發熱，玉液煎主之。</p>
<p><u>玉液煎</u>（自制）</p>
<p>石膏（五錢）　生地（五錢）　石斛（三錢）　麥冬（二錢）　玉竹（四錢）　葛根（二錢）　桔梗（一錢）　薄荷（一錢）　白茅根（八錢）　甘蔗汁（半杯沖服）</p>
<p>此方與胃燥玉石清胃湯，同樣用石膏、玉竹、生地、麥冬、石斛、蔗汁，而去人參、山藥、茯苓者，火之烈更甚於燥也。花粉、蛤粉，未嘗不能清化熱痰，去之而加葛根、桔梗、薄荷、茅根者，胃火已及血分，宜升陽散火，兼清血分也。以此方與玉石清胃湯比，彼為清潤，此為清散。觀於玉、石二味之互為重輕，亦可識其用意之所在矣。祖怡注。</p>

<h3>小腸火</h3>
<p>心經之火，移於小腸，溲溺淋濁，或澀或痛，琥珀導赤湯主之。</p>
<p><u>琥珀導赤湯</u>（自制）</p>
<p>琥珀（一錢）　天冬（一錢五分）　丹皮（二錢）　生地（五錢）　麥冬（一錢五分）　木通（一錢）　赤芍（一錢）　丹參（二錢）　甘草梢（五分）　淡竹葉（十張）　燈芯（三尺）</p>
<p>此方用導赤散之生地、木通、草梢、竹葉全部，而加琥珀、天冬、麥冬、丹參、丹皮、赤芍、燈芯，兼清心小腸之火，而照顧金水，使火氣去而津液長。以琥珀為主者，不但能清心小腸之火與濕熱，而並善解毒，為淋濁症聖藥也。祖怡注。</p>

<h3>大腸火</h3>
<p>肺經之火，移於大腸，大便硬秘，或肛門腫痛，槐子湯主之。</p>
<p><u>槐子湯</u>（自制）</p>
<p>槐米（三錢）　蔞仁（三錢）　麥冬（一錢五分）　枳殼（一錢蜜水炒）　天冬（一錢五分）　蘇子（三錢）　玉竹（三錢）　麻仁（三錢）　杏仁（三錢）　甘草（四分）　金橘餅（一枚）　白芝麻（三錢）</p>
<p>槐米為大腸火重，大便見血之主藥。再加火麻仁、白芝麻、蔞仁、杏仁、蘇子，凡仁皆潤，即通用之五仁丸。加金橘餅以顧胃，枳殼以寬腸，玉竹、甘草以顧脾胃，天、麥冬以保金水，與小腸火之琥珀導赤散，有異曲同工之妙。祖怡注。</p>

<h3>風火</h3>
<p>風助火勢，其性上升。面紅目赤，口燥咽疼，法當清潤上焦，使陽邪不能侵犯，兼用輕揚解散之品，俾上升者一舉而熄，消風散火湯主之。</p>
<p><u>消風散火湯</u>（自制）</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　元參（二錢）　茯苓（二錢）　桔梗（一錢）　柴胡（一錢）　薄荷（一錢）　蟬衣（一錢）　桑葉（一錢）　連翹（一錢五分）　牛蒡子（三錢）　蔞皮（二錢）　竹葉（十張）　黑芝麻（三錢）</p>
<p>桑、麻、柴、薄、牛、蟬、元、翹、桔、蔞、茯、竹，輕揚解散，清而不遏。加天、麥二冬，壯水即所以制火；三方皆用之，可以見二冬之功力所在矣。祖怡注。</p>

<h3>濕火</h3>
<p>重陰生陽，積濕化熱，濕火相乘，渴飲舌白，勝濕清火湯主之。</p>
<p><u>勝濕清火湯</u>（自制）</p>
<p>茅朮（一錢五分）　白朮（一錢五分）　茯苓（二錢）　苡仁（八錢）　石斛（三錢）　石膏（五錢）　知母（一錢）　豬苓（一錢）　澤瀉（一錢五分）　荷葉（一角）</p>
<p>方以二朮、苓、苡、澤瀉、豬苓勝濕，即以石斛、石膏、知母清火。蒼朮白虎湯去甘草、粳米之甘潤，加荷葉者，降藥已多，以升清者為反佐耳。祖怡注。</p>

<h3>痰火</h3>
<p>痰為頑濁之物，一得火勢，其性愈劣，甚則陽狂煩躁，語言錯亂，清火滌痰湯主之。</p>
<p><u>清火滌痰湯</u>（自制）</p>
<p>丹參（二錢）　麥冬（二錢）　茯神（二錢）　柏仁（二錢）　貝母（二錢）　化橘紅（一錢）　膽星（五分）　姜蠶（一錢五分炒）　菊花（二錢）　杏仁（三錢）　淡竹瀝（半杯）　薑汁（一滴沖服）</p>
<p>繩甫先生云：火本無質，得痰則實；痰本濕生，得火則燥。由此觀之，痰與火結，有不擾其神明者乎。南星除痰之力，更大於半夏，以牛膽制之，則燥性殺，而兼清肝膽之火矣。化橘紅比普通之橘紅力大，以產地適當有礞石也。再以竹瀝、薑汁、杏貝佐之，能開而且降，痰火有出路矣。用茯神、丹參、柏仁，顧其靈明之本也。再以麥冬之生胃津，菊花之清肝風。以狂必由火而起，火必因風而動，風火熄而靈明覆，則擾動者得返其清靜之常，真精心結構之方也。祖怡注。</p>

<h3>實火</h3>
<p>氣分偏勝，壯火升騰，發熱錯語，口燥咽乾，陽狂煩躁，加味三黃湯主之。</p>
<p><u>加味三黃湯</u>（自制）</p>
<p>黃連（五分）　黃芩（一錢）　黃柏（一錢）　連翹（一錢五分）　丹皮（二錢）　薄荷（一錢）　赤芍（一錢）　山梔（一錢五分）　水三鍾，煎一鍾，熱服。</p>
<p>三黃為瀉心、肺、肝、腎實火之方。加山梔名黃連解毒湯，見本門後第一張古方。再加薄荷、連翹散心肝，丹皮、赤芍涼血分，輕揚透發而不抑遏，以發熱煩躁，火鬱必須發之也。此方見證陽狂煩躁，與痰火同，而有發熱、口燥、咽乾，明明是氣分之火而不是痰火，從異點上著眼，故此方與痰火方無一味藥相同。祖怡注。</p>

<h3>虛火</h3>
<p>虛火者，飢飽勞役，正氣受傷，陽陷入陰，發熱神疲，飲食減少。東垣於此等證，用補中益氣湯，以升、柴升舉陽氣，又為之補脾和胃，此正有得於《內經》虛者溫其氣之旨，故甘溫能除大熱，開治陽虛一大法門。無如世之學東垣者，不辨陰陽虛實，雖陰虛發熱及上實下虛者，動輒升、柴，禍不旋踵矣。因自制和中養胃湯，以明宗東垣者當師其意云。</p>
<p><u>和中養胃湯</u>（自制）</p>
<p>黃耆（二錢）　人參（一錢）　茯苓（二錢）　白朮（一錢）　甘草（四分）　當歸（二錢）　料豆（四錢）　柴胡（一錢）　薄荷（一錢）　廣陳皮（一錢）　砂仁（一錢）　苡仁（四錢）　棗（二枚）　姜（三片）</p>
<p>此方即補中益氣湯，去升麻加薄荷以代之，有逍遙散之意。再加茯苓以和脾，料豆以安腎，砂仁、苡仁以和中化濕，升中有降，不犯下焦，用東垣意而不執其法，制方煞費苦心。祖怡注。</p>

<h3>燥火</h3>
<p>燥火者，血虛之所致也。血能養氣則氣不妄動，而陰陽得其平。營血一虧，則內失所養，而臟腑皆燥，火亦隨生，令人毛髮衰脫，肌膚枯槁，身熱咽乾，雪乳湯主之。</p>
<p><u>雪乳湯</u>（自制）</p>
<p>生地（三錢）　當歸（一錢五分）　白芍（一錢）　麥冬（一錢五分）　熟地（三錢）　五味子（五分）　天冬（一錢五分）　玉竹（四錢）　山藥（三錢）　人乳（一大杯）　藕汁（一大杯）　水二鍾煎服。</p>
<p>血不養氣，氣不化津，臟腑皆燥，土焦水涸，二地、二冬、玉竹、山藥、當歸、白芍，所以養血壯水者至矣。而方名以雪乳，用人乳、藕汁，潤至極矣，而更以五味之酸收以斂之，是合固本、生脈於一方，於肺燥肺火外，又別出手眼也，神乎技矣。祖怡注。</p>

<h3>鬱火</h3>
<p>所欲不遂，鬱極火生，心煩慮亂，身熱而躁，解鬱合歡湯主之。</p>
<p><u>解鬱合歡湯</u>（自制）</p>
<p>合歡花（二錢）　鬱金（二錢）　沉香（五分）　當歸（二錢）　白芍（一錢）　丹參（二錢）　柏仁（二錢）　山梔（一錢五分）　柴胡（一錢）　薄荷（一錢）　茯神（二錢）　紅棗（五枚）　橘餅（四錢）</p>
<p>此方用柴胡、當歸、白芍、薄荷，逍遙散之半，去茯苓、白朮、甘草、煨姜，而用合歡、鬱金沉香、山梔、橘餅，舒郁順氣，清火達木，即所以安胃。又用丹參、柏仁、茯神、紅棗，則所以養心脾而緩肝急，使君火與相火俱安，而脾胃亦得太和矣。識得鬱火與肝膽之火之分別，而後知兩方各有其合處。祖怡注。</p>

<h3>邪火</h3>
<p>酒色太過，下元傷損，腰膝無力，身熱心煩，甚則強陽不痿，加味三才湯主之。</p>
<p><u>加味三才湯</u>（自制）</p>
<p>天冬（二錢）　地黃（五錢）　人參（二錢）　龜版（八錢）　女貞子（一錢）　旱蓮（一錢）　茯苓（二錢）　丹皮（二錢）　澤瀉（一錢五分）　黃柏（一錢）　杜仲（二錢）　牛膝（一錢五分）　紅棗（五枚）</p>
<p>此方以三才合二至，加黃柏、丹皮、茯苓、澤瀉，得知柏八味之半而強。紅棗與參合用，而解苦顧胃；龜版、杜仲與牛膝合用，而潛虛陽，引虛火下行，以固其腎氣，則水火可以既濟，而邪火可望不動矣。祖怡注。</p>

<h3>毒火</h3>
<p>癰瘍初起，腫痛大熱，煩渴引飲，黃金化毒湯主之。</p>
<p><u>黃金化毒湯</u>（自制）</p>
<p>黃連（五分）　金銀花（二錢）　赤芍（一錢）　丹皮（二錢）　連翹（一錢五分）　土貝（二錢）　花粉（二錢）　菊花（二錢）　薄荷（一錢）　甘草（五分）　淡竹葉（二十張）</p>

<h4>附：火症門諸方</h4>
<p><u>黃連解毒湯</u>　治一切火熱，表裡俱盛，狂躁煩心，口燥咽乾，錯語不眠，吐血衄血，熱甚發斑。</p>
<p>黃連　黃芩　黃柏　梔子（各等分）　水煎服。</p>
<p><u>升陽散火湯</u>　治表裡俱熱，捫之烙手，及胃虛過食冷物，抑遏陽氣於脾土，並宜服此。</p>
<p>柴胡（八錢）　防風（二錢五分）　葛根（五錢）　升麻（五錢）　羌活（五錢）　獨活（五錢）　人參（五錢）　白芍（五錢）　炙甘草（三錢）　生甘草（三錢）</p>
<p>共為末，每用五錢，薑、棗煎湯服。</p>
<p><u>涼膈散</u>　治心火上盛，中焦燥實，煩躁口渴，目赤頭眩，口瘡唇裂，吐血衄血，大小便秘。</p>
<p>連翹（四兩）　大黃（二兩）　芒硝（二兩）　甘草（二兩）　梔子（一兩）　黃芩（一兩）　薄荷（一兩）　共為末，每服三錢，加竹葉，生蜜煎。</p>
<p><u>當歸龍薈丸</u>　治一切肝膽之火，神志不寧，躁擾狂越，頭暈目眩，耳鳴耳聾，胸膈痞塞，咽嗌不利。</p>
<p>當歸（一兩）　龍膽草（一兩）　梔子（一兩）　黃連（一兩）　黃柏（一兩）　黃芩（一兩）　大黃（五錢酒浸）　青黛（五錢水飛）　蘆薈（五錢）　木香（二錢）　麝香（五分）　蜜為丸，薑湯下。</p>
<p><u>龍膽瀉肝湯</u>　治肝膽經實火，脅痛耳聾，膽溢口苦，陰腫陰痛，白濁溲血。</p>
<p>龍膽草（一錢）　黃芩（一錢）　梔子（一錢五分）　澤瀉（一錢五分）　木通（一錢五分）車前（二錢）　當歸（二錢）　生地（三錢）　柴胡（一錢）　甘草（五分）　水煎服。</p>
<p><u>瀉青丸</u>　治肝火鬱熱，不能安臥，多驚多怒，筋痿不起，目赤腫痛。</p>
<p>龍膽草　山梔　大黃　川芎　當歸　羌活　防風（各等分）　蜜為丸，竹吐湯下。</p>
<p><u>瀉黃散</u>　治脾胃伏火，口燥唇乾，口瘡煩渴，易飢，熱在肌肉。</p>
<p>防風（四兩）　藿香（七錢）　山梔（一兩）　石膏（五兩）　甘草（二錢）</p>
<p>共研末，每用三錢，蜜酒調服。</p>
<p><u>清胃散</u>　治胃有積熱，上下牙痛，牽引頭腦，滿面發熱，或牙宣出血，唇口腫痛。</p>
<p>生地（四錢）　丹皮（二錢）　黃連（五分）　當歸（一錢五分）　升麻（五分）　石膏（四錢）　水煎服。</p>
<p><u>甘露飲</u>　治胃中濕熱，口舌生瘡，吐衄齒血。</p>
<p>生地　熟地　天冬　麥冬　石斛　茵陳　黃芩　枳殼　甘草　枇杷葉（等分）</p>
<p>每服五錢，一方加桂、苓，名桂苓甘露飲。又《本事方》加犀角。</p>
<p><u>瀉白散</u>　治肺火，皮膚蒸熱，灑淅寒熱，喘咳氣急。</p>
<p>桑白皮（二錢）　地骨皮（二錢）　甘草（五分）　粳米（一撮）　水煎服。易老加黃連。</p>
<p><u>導赤散</u>　治小腸有火，便赤淋痛，面赤狂躁，口糜舌瘡，作渴。</p>
<p>生地　木通　甘草梢　淡竹葉（等分）　水煎服。</p>
<p><u>蓮子清心飲</u>　治憂思抑鬱，發熱煩躁，火盛剋金，口苦咽乾，漸成消渴，遺精淋濁，五心煩熱。</p>
<p>石蓮肉　人參　黃耆　茯苓　柴胡　黃芩　地骨皮　麥冬　車前　甘草</p>
<p>水煎服。</p>
<p><u>導赤各半湯</u>　治傷寒後，心下不硬，腹中不滿，二便如常，身無寒熱，漸變神昏不語或睡中獨語，目赤，口乾不飲水，與粥則咽，不與勿思，形如醉人。</p>
<p>黃連（五分）　黃芩（一錢）　犀角（五分）　知母（一錢）　山梔（一錢五分）　滑石（三錢）　麥冬（一錢五分）　人參（一錢）　甘草（五分）　茯神（二錢）</p>
<p>加燈芯、薑棗煎。</p>
<p><u>普濟消毒飲</u>　治大頭時瘟，頭面腫盛，目不能開，咽喉不利，口渴舌燥。</p>
<p>黃芩（一錢）　黃連（五分）　廣皮（一錢）　甘草（五分）　元參（一錢）　連翹（一錢五分）　馬勃（五分）　薄荷（一錢）　板藍根（三錢）　牛蒡子（二錢）　殭蠶（一錢五分）　升麻（五分）　柴胡（一錢）　桔梗（一錢）　水煎服。便秘加大黃。</p>
<p><u>紫雪</u>　治內外煩熱，狂易叫走，發斑發黃，口瘡腳氣，熱毒菌毒。</p>
<p>寒水石（八兩）　石膏（八兩）　滑石（八兩）　磁石（八兩）　升麻（四兩）　元參（四兩）　甘草（四兩）　犀角（二兩）　金箔（一兩）　羚羊角（三兩）　沉香（二兩）　木香（二兩）　丁香（二兩）　朴硝（一斤）　硝石（一斤）　辰砂（三兩）　麝香（一兩二錢）　前藥共研細末，先將樸、硝二石兩味熬化，再入前藥末，微火煎，用柳木棍攪透，候汁將凝，加入辰砂、麝香，退盡火氣，密貯聽用。</p>
<p><u>人參清肌散</u>　治午前發熱，氣虛無汗。</p>
<p>人參（一錢）　茯苓（二錢）　白朮（一錢）　炙甘草（四分）　半夏曲（二錢）　當歸（一錢五分）　赤芍（一錢）　柴胡（一錢）　葛根（二錢）　加薑、棗煎。</p>
<p><u>白朮除濕湯</u>　治午後發熱，背惡風，四肢沉困，小便色黃。又治汗後發熱。</p>
<p>人參（五錢）　赤苓（五錢）　炙甘草（五錢）　柴胡（五錢）　白朮（一兩）　生地（七錢）　地骨皮（七錢）　知母（七錢）　澤瀉（七錢）　共研末，每服五錢。如有刺痛，加當歸七錢。</p>
<p><u>清骨散</u>　治骨蒸勞熱。</p>
<p>銀柴胡（一錢五分）　胡黃連（一錢）　秦艽（一錢）　鱉甲（二錢）　地骨皮（二錢）　青蒿（二錢）　知母（二錢）　炙草（五分）　水煎服。</p>
<p><u>二母散</u>　治肺勞有熱，不能服補氣之劑者。</p>
<p>知母　貝母（等分）　研末，薑湯服三錢。</p>
<p><u>元參升麻湯</u>　治發斑咽痛。</p>
<p>元參　升麻　甘草（等分）　水煎服。</p>
<p><u>清斑青黛飲</u>　治熱邪傳裡，裡實表虛，陽毒發斑。</p>
<p>青黛（五分）　黃連（五分）　犀角（五分）　石膏（四錢）　知母（一錢）　元參（一錢五分）　梔子（一錢五分）　生地（四錢）　柴胡（一錢）　人參（一錢）　甘草（五分）薑、棗煎，加醋一匙和服。大便實者去人參，加大黃。</p>
<p><u>玉屑無憂散</u>　治喉風喉痹，咽物有礙，或風痰壅塞，口舌生瘡。</p>
<p>元參（五錢）　黃連（五錢）　荊芥（五錢）　貫眾（五錢）　山豆根（五錢）　茯苓（五錢）　甘草（五錢）　砂仁（五錢）　滑石（五錢）　硼砂（三錢）寒水石（三錢）　共研末，每用二錢，清水化服。能除三尸，去八邪，闢瘟療渴。</p>

<h2>勞傷</h2>
<p>勞者，五臟積勞也；傷者，七情受傷也。百憂感其心，萬事勞其形，有限之氣血，消磨殆盡矣。思慮太過則心勞，言語太多則肺勞，怒郁日久則肝勞，飢飽行役則脾勞，酒色無度則腎勞。方其初起，氣血尚盛，雖日日勞之，而殊不自知；迨至愈勞愈虛，胃中水穀之氣，一日所生之精血，不足以供一日之用，於是營血漸耗，真氣日虧，頭眩耳鳴，心煩神倦，口燥咽乾，食少氣短，腰腳作痛，種種俱見，甚者咳嗽咽痛，吐血衄血，而疾不可為矣。秦越人謂虛勞則必有所損，精確不磨。其曰虛而感寒，則損其陽。陽虛則陰盛，損則自上而下，一損損於肺，皮聚而毛落；二損損於心，血脈不能營養臟腑；三損損於胃，飲食不為肌肉虛而感熱，則損其陰。陰虛則陽盛，損則自下而上，一損損於腎，骨痿不能起於床；二損損於肝，筋緩不能自收持；三損損於脾，飲食不能消化。自上而下者，過於胃則不可治；自下而上者，過於脾則不可治。蓋深知人身之氣血，全賴水穀之氣以生之，其急急於脾胃之旨可見。即因勞致虛，因虛致損之故，亦昭然若發蒙矣。至其論治法，謂損其肺者益其氣；損其心者調其營衛；損其脾者調其飲食，適其寒溫；損其肝者緩其中；損其腎者益其精；語語精當，度盡金針，後人恪遵成法，可以不惑於歧途矣。七傷者，《金匱》謂食傷、憂傷、飲食傷、房室傷、飢傷、勞傷、經絡營衛氣傷。是言此七者，皆是內傷，所以成虛勞之故。後人妄謂陰寒、陰痿、裡急、精速、精少等為七傷，則專主腎臟而言，豈有五臟之勞，專歸一臟之理。蓋七傷者，七情偏勝之傷也。夫喜怒憂思悲恐驚，人人共有之境。若當喜而喜，當怒而怒，當憂而憂，是即喜怒哀樂發而皆中節也，此天下之至和，尚何傷之有。惟未事而先意將迎，既去而尚多留戀，則無時不在喜怒憂思之境中，而此心無復有坦蕩之日，雖欲不傷，庸可得乎！然七情之傷，雖分五臟，而必歸本於心。喜則傷心，此為本臟之病，過喜則陽氣太浮，而百脈開解，故心臟受傷也。至於怒傷肝，肝初不知怒也，心知其當怒，而怒之太過，肝傷則心亦傷也。憂傷肺，肺初不知憂也，心知其可憂，而憂之太過，肺傷則心亦傷也。思傷脾，脾初不知思也，心與為思維，而思之太過，脾傷則心亦傷也。推之悲也、恐也、驚也，統之於心，何獨不然。故治七傷者，雖為肝脾肺腎之病，必兼心臟施治，始為得之。</p>

<h3>心勞</h3>
<p>心勞者，營血日虧，心煩神倦，口燥咽乾，宜調補營衛，安養心神，宅中湯主之。</p>
<p><u>宅中湯</u>（自制）</p>
<p>天冬（二錢）　紫河車（二錢切）　人參（二錢）　茯神（二錢）　黃耆（二錢）　當歸（二錢）　白芍（一錢）　丹參（二錢）　柏仁（二錢）　遠志（五分甘草水炒）　蓮子（二十粒去心）</p>
<p>先生此方根據《難經》損其心者調其營衛，以參、耆、神、志補心氣，衛即是氣，氣能生神。以丹參、柏仁、歸、芍補心血，營即是血，血能養神。補氣血不但是調營衛，亦且是安心神。蓮子以安脾，心脾為母子；天冬以滋腎，心腎在既濟。用河車者，乃生人造命之原，有補先天元氣之奇功也。祖怡注。</p>

<h3>肺勞</h3>
<p>肺勞者，肺氣大虛，身熱氣短，口燥咽乾，甚則咳嗽吐血，益氣補肺湯主之。</p>
<p><u>益氣補肺湯</u>（自制）</p>
<p>阿膠（二錢蛤粉炒）　五味子（五分）　地骨皮（二錢）　麥冬（二錢）　人參（二錢）　天冬（二錢）　百合（三錢）　貝母（二錢）　茯苓（二錢）　苡仁（四錢）　糯米（一撮煎湯代水）</p>
<p>先生此方根據《難經》損其肺者益其氣，以人參、麥冬、五味之生脈法，以阿膠、百合、天冬之補肺陰，因氣即是水，水能化氣也。以糯米、茯苓和脾肺，以貝母、地骨、苡仁退虛熱而止咳血，肺潤則氣治，而金水相生矣。祖怡注。</p>

<h3>肝勞</h3>
<p>肝勞者，陽氣拂逆，陰氣虧損，身熱脅痛，頭眩耳鳴，筋節弛縱，加味扶桑飲主之。</p>
<p><u>加味扶桑飲</u>（自制）</p>
<p>熟地（五錢）　當歸（二錢）　白芍（一錢五分）　川芎（八分）　木瓜（一錢酒炒）　棗仁（二錢炒研）　牡蠣（四錢煅炒）　茯苓（二錢）　廣皮（一錢）　甘草（五分）　金毛狗脊（二錢去毛切片）　續斷（二錢）　嫩桑枝（二兩煎湯代水）</p>
<p>先生此方根據《難經》損其肝者緩其中。肝，血臟也，主筋者也。以四物加棗仁補血，以牡蠣、木瓜、甘草，柔之斂之緩之。以續斷、毛脊、桑枝舒筋節，以茯苓、陳皮和脾而調氣，肝之不足在其血，肝之失調在其氣也。祖怡注。</p>

<h3>脾勞</h3>
<p>脾勞者，或飲食不調，或行役勞倦，積久脾敗，四肢倦怠，食少身熱，行健湯主之。</p>
<p><u>行健湯</u>（自制）</p>
<p>黃耆（二錢）　人參（二錢）　茯苓（二錢）　白朮（一錢）　甘草（五分）　當歸（二錢）　白芍（一錢酒炒）　青蒿梗（一錢五分）　廣皮（一錢）　砂仁（一錢）　料豆（三錢）　木香（五分）　大棗（二枚）　姜（三片）</p>
<p>先生此方根據《難經》損其脾者調其飲食，適其寒溫。從本來無方中，自出手眼立一方。用四君加黃耆，四物去芎、地，加料豆、蒿梗以佐歸、芍，加香砂、陳皮以佐參、耆、朮、苓、草、薑、棗，調其營衛，亦所以調其飲食，適其寒溫也。祖怡注。</p>

<h3>腎勞</h3>
<p>腎勞者，真陰久虧，或房室太過，水竭於下，火炎於上，身熱腰疼，咽乾口燥，甚則咳嗽吐血，來蘇湯主之。</p>
<p><u>來蘇湯</u>（自制）</p>
<p>天冬（二錢）　麥冬（二錢）　生地（三錢）　熟地（三錢）　南沙參（三錢）北沙參（三錢）　白芍（一錢）　赤芍（一錢）　沙苑（三錢）　貝母（二錢）　磁石（四錢）　杜仲（三錢）　茜草根（二錢）　牛膝（二錢）　杏仁（三錢）　蓮子（十粒去心）</p>
<p>先生此方根據《難經》損其腎者益其精。精，水也，而畏火，火動則精不安其宅，而腎勞起矣。所以欲補其精，必須先制其火；所謂制其火，非知、柏苦寒瀉火之謂，乃壯水以配火也，二地、二冬、南沙參、北沙參，所以壯水；二芍所以清心肝；杜仲、沙苑、磁石所以補腎固精而納氣；貝母、杏仁所以宣心肺；茜草、牛膝所以使上行之血下降；而蓮子則所以安靜上下君相火邪，而交心腎也。水旺火平，水火既濟，而未去之精可安，已去之精可再生也。五勞補方，不用一味助火藥，以勞字上半有二火字在焉。祖怡注。</p>

<h3>虛勞最重脾腎論</h3>
<p>五臟六腑，化生氣血；氣血旺盛，營養臟腑。虛勞內傷，不出氣血兩途。治氣血虛者，莫重於脾腎。水為天一之元，氣之根在腎；土為萬物之母，血之統在脾。氣血旺盛，二臟健康，他臟縱有不足，氣血足供挹注，全體相生，諸病自已。人苟勞心縱欲，初起殊不自知，迨至愈勞愈虛，胃中水穀所入，一日所生之精血，不足以供一日之用，於是營血漸耗，真氣日虧，頭眩耳鳴，心煩神倦口燥咽乾，食少短氣，腰痠足軟，種種俱見，甚則咳嗆失音，吐血盜汗，而生命危矣。孫思邈云補脾不如補腎，許叔微謂補腎不如補脾，蓋兩先哲深知兩臟為人生之根本，有相資之功能，其說似相反，其旨實相成也。救腎者必本於陰血，血主濡之，主下降，虛則上升，當斂而降之。救脾者必本於陽氣，氣主呴之，主上升，虛則下陷，當舉而升之。近人治虛勞，不是以四物湯加知母、黃柏，就是以大造丸用龜版、黃柏，一派陰寒腥濁性味，將置脾胃生長之氣於何地，不是在補養氣血，而是在敗壞氣血。因立兩法以救其弊。</p>
<p>陰虛火動，皮寒骨蒸，食少痰多，咳嗽短氣，倦怠焦煩，新定拯陰理勞湯主之。</p>
<p>人參（一錢）　甘草（五分）　麥冬（二錢）　五味（三分）　當歸（二錢）　白芍（一錢）　生地（二錢）　丹皮（二錢）　苡仁（三錢）　橘紅（一錢）　蓮子（十粒）</p>
<p>陽虛氣耗，倦怠懶言，行動喘急，表熱自汗，心中煩躁，偏身作痛，新定拯陽理勞湯主之。</p>
<p>人參（一錢）　黃耆（二錢）　白朮（二錢）　甘草（一錢）　肉桂（七分）　當歸（一錢五分）　五味（四分）　陳皮（一錢）　生薑（二片）　紅棗（二枚）</p>
<p>此一論二方，乃先生晚年所作，同是補腎補脾，而與五勞脾腎兩方不同，為吾家所珍藏，而未經刊布者。祖怡注。</p>

<h3>喜傷</h3>
<p>過喜則心氣大開，陽浮於外，經脈弛縱，建極湯主之。</p>
<p><u>建極湯</u>（自制）</p>
<p>天冬（二錢）　琥珀（一錢）　辰砂（五分）　五味（五分）　棗仁（二錢炒研）　黃耆（二錢）　人參（二錢）　當歸（二錢）　白芍（一錢五分酒炒）　丹參（二錢）　柏仁（二錢）　紅棗（十枚）　姜（三片）</p>
<p>此方與心勞同，用天冬、參、耆、歸、芍、丹參、柏仁，而去河車、茯神、遠志、蓮子，加琥珀、辰砂、五味、棗仁、薑、棗。當然以琥珀、辰砂、人參、丹參安鎮心神為主，以黃耆、五味、棗仁、白芍固表斂汗為輔。以喜則神越而汗泄，有暴脫之可能也。大喜暴脫，服藥不及，事所恆有；神凝則氣聚，氣聚即不患其脫矣。以天冬滋水而降火，當歸、柏仁養心血，薑、棗調營衛，使心氣鎮靜，心血充沛，君主無為，而皇建其有極矣。祖怡注。</p>

<h3>怒傷</h3>
<p>怒甚則脅痛，鬱極則火生，心煩意躁，筋節不利，入夜不寐，沖和湯主之。</p>
<p><u>沖和湯</u>（自制）</p>
<p>白芍（一錢五分酒炒）　棗仁（二錢炒研）　山萸肉（二錢）　當歸（二錢）　人參（二錢）　茯神（二錢）　甘草（五分）　沙苑蒺藜（三錢）　紅棗（五枚）　橘餅（四錢）</p>
<p>鬱怒傷肝，大都肝血必虛。此方以棗仁、白芍、萸肉斂肝體，以甘草、紅棗緩肝用，以人參、茯神、棗仁安心，沙苑、萸肉益腎。腎能生肝，肝能生心，生我我生，一齊顧到。且沙苑、橘餅，補中有疏，血充氣通，木可平而肝可舒矣。肝能藏魂，尚何不寐之有！祖怡注。</p>

<h3>憂傷</h3>
<p>憂愁太過，忽忽不樂，灑淅寒熱，痰氣不清，萱草忘憂湯主之。</p>
<p><u>萱草忘憂湯</u>（自制）</p>
<p>桂枝（五分）　白芍（一錢五分）　甘草（五分）　鬱金（二錢）　合歡花（二錢）　廣皮（一錢）　半夏（一錢）　貝母（二錢）　茯神（二錢）　柏仁（二錢）　金針菜（一兩煎湯代水）</p>
<p>此方根據合歡蠲忿，萱草忘憂，《養生論》之啟示而作。再以茯神、柏仁養其心，貝母、鬱金解其鬱，桂枝、芍、草調營衛、橘、半利痰氣，而諸證皆顧到矣。祖怡注。</p>

<h3>思傷</h3>
<p>思慮太過，心煩意亂，食少神疲，四肢倦怠，一志湯主之。</p>
<p><u>一志湯</u>（自制）</p>
<p>人參（二錢）　茯神（二錢）　白朮（一錢五分）　甘草（五分）　黃耆（二錢）　益智（一錢五分）　遠志（五分）　柏仁（二錢）　廣皮（一錢）　木香（五分）　大棗（二枚）　姜（三片）</p>
<p>《內經》不云乎，思則心有所存，神有所歸（歸字可作注字解），正氣（可作心氣解）留（可作著字解）而不行，故氣結矣。本方見證，氣分重於血分，故用歸脾湯法，去當歸、棗仁、龍眼，易以柏仁、益智、廣皮，就是根據經文，不偏重心血少，而偏重於心氣結。一經化裁，就另是一樣精神，可為不執古方之法。祖怡注。</p>

<h3>悲傷</h3>
<p>悲則氣逆，憤郁不舒，積久傷肺，清肅之令不能下行，加味參蘇飲主之。</p>
<p><u>加味參蘇飲</u>（自制）</p>
<p>人參（二錢）　蘇子（二錢）　沉香（五分）　桑皮（三錢）　蔞皮（三錢）　橘紅（一錢）　半夏（一錢）　丹參（二錢）　柏子仁（二錢）　苡仁（五錢）　姜（二片）</p>
<p>此方著重在經文悲則心系急，肺布葉舉，而上焦不通，故立方以顧氣血、降痰氣為主。祖怡注。</p>

<h3>恐傷</h3>
<p>恐則氣餒，骨節無力，神情不安，補骨脂湯主之。</p>
<p><u>補骨脂湯</u>（自制）</p>
<p>補骨脂（二錢核桃肉炒）　遠志（五分甘草水炒）　益智（一錢五分）　蓯蓉（四錢）　熟地（五錢）　當歸（二錢）　人參（二錢）　茯苓（二錢）　白芍（一錢）　丹參（二錢）　牛膝（二錢）　大棗（二枚）　姜（三片）</p>
<p>恐傷腎，腎主精與骨，陽氣與陰精之根也。骨脂，核桃以補陽氣；蓯蓉、熟地以充陰精；參、苓、益智、遠志，以養氣而安神；丹參、當歸、牛膝、白芍，以補血而養骨；薑、棗以調脾胃。重在腎而亦兼顧心脾。祖怡注。</p>

<h3>驚傷</h3>
<p>驚則氣浮，真陽外越，真陰不守，心悸筋惕，大安湯主之。</p>
<p><u>大安湯</u>（自制）</p>
<p>白芍（一錢五分酒炒）　五味子（五分）　牡蠣（四錢煅研）　龍齒（二錢）　木瓜（一錢酒炒）　棗仁（二錢炒研）　熟地黃（五錢）　人參（二錢）　茯苓（二錢）　柏仁（二錢）　金器（一具同煎）</p>
<p>此方治驚，以龍、牡、金器鎮其浮，以棗仁、白芍、五味、木瓜斂其越，人參、茯苓以益氣，當歸、柏仁以養血，乃心肝兼顧，神氣同固之法也。祖怡注。</p>

<h4>附：虛勞門諸方</h4>
<p><u>桂枝龍骨牡蠣湯</u>　治失精，亡血，目眩，發落，女子夢交。</p>
<p>桂枝（五分）　白芍（一錢五分）　甘草（五分）　龍骨（二錢）　牡蠣（四錢）　棗（二枚）　姜（三片）　水煎服。</p>
<p><u>天雄散</u>　治陽虛亡血失精。</p>
<p>天雄（三兩）　白朮（八兩）　桂枝（六兩）　龍骨（四兩）　共為末，每服五分，日三服。</p>
<p><u>黃耆建中湯</u>　治氣血虛弱，四肢倦怠，氣短懶言。</p>
<p>桂枝（三兩）　黃耆（二兩）　白芍（六兩）　甘草（三兩）　姜（二兩）　大棗（十二枚）　飴糖（一升）　水七升，煮三升，分服。</p>
<p><u>樂令建中湯</u>　治臟腑虛損，身體消瘦，潮熱自汗，將成癆瘵。</p>
<p>前胡（一兩）　細辛（五錢）　黃耆（一兩）　人參（一兩）　桂心（五錢）　橘皮（一兩）　當歸（一兩）　白芍（一兩）　茯苓（一兩）　麥冬（一兩）　甘草（一兩）　半夏（七錢五分）　共研末，每服二錢。</p>
<p><u>十四味建中湯</u>　治營衛不調，積勞虛損，形體瘦弱，短氣嗜臥。</p>
<p>當歸　白芍　白朮　麥冬　甘草　蓯蓉　人參　川芎　肉桂　附子　黃耆　半夏　熟地　茯苓（各等分）　每用三錢，姜三片，棗三枚，水煎服。</p>
<p><u>薯蕷丸</u>　治虛勞不足，風氣百病。</p>
<p>薯蕷（三十分）　當歸（十分）　桂枝（十分）　地黃（十分）　神麯（十分）豆卷（十分）　甘草（二十八分）　川芎（六分）　麥冬（六分）　白朮（六分）　白芍（六分）　杏仁（六分）　人參（七分）　柴胡（五分）　桔梗（五分）　茯苓（五分）　阿膠（七分）　乾薑（二分）　白蘞（二分）　防風（六分）　大棗（百枚）　共研末，蜜為丸，如彈子大，空心酒服一丸。</p>
<p><u>酸棗仁湯</u>　治虛勞虛煩，夜不得眠。</p>
<p>棗仁（二升）　甘草（一兩）　知母（二兩）　茯苓（二兩）　川芎（二兩）</p>
<p>水六升，煮三升，分溫服。</p>
<p><u>炙甘草湯</u>　治諸虛勞不足，汗出而悶。</p>
<p>甘草（四兩）　桂枝（三兩）　生薑（三兩）　麥冬（半升）　麻仁（半升）　人參（二兩）　阿膠（三兩）　大棗（三十枚）　生地（一斤）　酒七升，水八升，煮取三升，分溫服。</p>
<p><u>十全大補湯</u>　治男子婦人諸虛不足，五勞七傷，不進飲食，久病虛損，時發潮熱，氣攻骨脊，拘攣疼痛，夜夢遺精，面色痿夭，腳膝無力。</p>
<p>人參　茯苓　白朮　甘草　生地　當歸　白芍　川芎　黃耆　肉桂（各等分）</p>
<p>共為末，每服五六錢，薑、棗煎服。</p>
<p><u>聖愈湯</u>　治一切失血或血虛，煩熱躁渴，睡臥不安，或瘡瘍膿血出多，五心煩熱。</p>
<p>熟地（三錢）　生地（三錢）　當歸（二錢）　人參（二錢）　黃耆（二錢）　川芎（一錢）　水煎服。</p>
<p><u>還少丹</u>　大補心腎脾胃一切虛損，神志俱耗，筋力頓衰，腰腳沉重，肢體倦怠，小便渾濁。</p>
<p>山萸肉（一兩）　山藥（一兩）　遠志（一兩）　牛膝（一兩）　五味子（一兩）　茯苓（一兩）　巴戟天（一兩）　肉蓯蓉（一兩）　熟地（二兩）　菖蒲（一兩）　茴香（一兩）　杜仲（一兩）　楮實子（一兩）　枸杞子（二兩）　共研細末，煉蜜為丸如梧子大，每服三十丸。</p>
<p><u>人參養營湯</u>　治脾肺俱虛，發熱惡寒，肢體疲倦，食少作瀉。</p>
<p>白芍（一錢五分）　人參（一錢）　陳皮（一錢）　黃耆（二錢）　桂心（四分）　當歸（二錢）　白朮（一錢）　甘草（四分）　熟地（三錢）　五味（五分）　茯苓（二錢）　遠志（五分）　大棗（二枚）　姜（三片）</p>
<p><u>參朮膏</u>　治虛弱受風，諸藥不應，元氣日傷，虛症蜂起，但用此藥補其中氣，諸症自愈。</p>
<p>人參　白朮（等分）　水煎稠，湯化服之。</p>
<p><u>人參散</u>　治邪熱客經絡，痰嗽煩熱，頭目昏痛，盜汗倦怠，一切血熱虛勞。</p>
<p>黃芩（五錢）　人參（一兩）　白朮（一兩）　茯苓（一兩）　赤芍（一兩）　半夏（一兩）　柴胡（一兩）　甘草（一兩）　當歸（一兩）　葛根（一兩）　共研末，每服三錢，姜三片，棗三枚，同煎。</p>
<p><u>保真湯</u>　治虛勞骨蒸。</p>
<p>當歸（五分）　生地（五分）　熟地（五分）　黃耆（五分）　人參（五分）　白朮（五分）　茯苓（五分）　甘草（五分）　天冬（一錢）　麥冬（一錢）　白芍（一錢）　黃柏（一錢）　知母（一錢）　五味（一錢）　柴胡（一錢）　地骨皮（一錢）　陳皮（一錢）　蓮子（一錢）　姜（三片）　棗（二枚）　水煎服。</p>
<p><u>三才封髓丹</u>　治諸虛發熱，心腎不交，遺精夢泄。</p>
<p>天冬（一兩）　熟地（一兩）　人參（一兩）　黃柏（三兩）　砂仁（一兩）　甘草（七錢）　研末，麵糊丸如桐子大，每服五十丸。</p>
<p><u>天真丸</u>　治一切亡血過多，形體消瘦，飲食不進，腸胃滑泄，津液枯竭。</p>
<p>精羊肉（七斤去筋膜脂皮）　肉蓯蓉（十兩）　當歸（十二兩）　山藥（十兩）　天冬（一斤）</p>
<p>以上四味為末，安羊肉內，用陳酒四瓶，煨令酒盡，加水二升，煨候肉糜爛，再入黃耆末五兩人參末二兩，白朮末二兩，糯米飯為丸，如梧子大，每早晚各服一百丸。</p>
<p><u>補陰丸</u>　治陰虛發熱，腳膝無力。</p>
<p>黃柏（八兩）　知母（三兩）　熟地（三兩）　龜版（四兩）　當歸（一兩五錢）　白芍（二兩）　牛膝（二兩）　陳皮（二兩）　鎖陽（一兩五錢）　虎骨（一兩酥炙）　共研末，酒煮羊肉，丸如桐子大，每服五六十丸。</p>
<p><u>大造丸</u>　治虛損勞傷，咳嗽潮熱。</p>
<p>紫河車（一具）　龜版（二兩）　黃柏（一兩五錢）　杜仲（一兩五錢）　牛膝（一兩）　天冬（一兩）　麥冬（一兩）　地黃（二兩茯苓砂仁六錢同煮去之）　人參（一兩）　研末，酒米糊丸，每服四錢，鹽湯下。婦人去龜版，加當歸。</p>
<p><u>人參固本丸</u>　治肺腎勞熱。</p>
<p>人參（二兩）　天冬（四兩）　麥冬（四兩）　生地（四兩）　熟地（四兩）　蜜丸如桐子大，每服七十丸。</p>
<p><u>天王補心丹</u>　治心血不足，形體虛弱，怔忡健忘，心口多汗，口舌生瘡。</p>
<p>生地（四兩）　人參（一兩）　丹參（一兩）　元參（一兩）　茯神（一兩）　桔梗（一兩）　遠志（五錢）　棗仁（一兩）　柏仁（一兩）　天冬（一兩）　麥冬（一兩）　當歸（一兩）　五味子（五錢）　蜜丸如彈子大，硃砂為衣，燈芯湯下一丸。</p>
<p><u>龜鹿二仙膠</u>　治虛弱少氣，夢遺泄精，目視不明。</p>
<p>鹿角（十斤）　龜版（五斤）　人參（一斤）　枸杞（二斤）　桑柴火熬膏，每用三錢，溫酒服。</p>
<p><u>六味地黃丸</u>　治五勞七傷，精血枯竭，自汗盜汗，頭暈目眩，遺精失血，消渴淋濁，舌燥咽疼。</p>
<p>地黃（八兩）　萸肉（四兩）　山藥（四兩）　丹皮（三兩）　茯苓（三兩）　澤瀉（三兩）　蜜丸，鹽湯下四五錢。</p>
<p><u>歸脾湯</u>　治思慮太過，勞傷心脾，怔忡健忘，驚悸盜汗，發熱體倦，食少不眠。</p>
<p>人參（一錢五分）　茯神（一錢五分）　黃耆（一錢五分）　白朮（一錢五分）　棗仁（一錢五分）　當歸（一錢五分）　遠志（五分）　木香（五分）　甘草（五分）　龍眼肉（十枚）　姜（三片）　棗（二枚）　水煎服。</p>
<p><u>當歸補血湯</u>　治傷於勞役，肌熱面赤，煩渴引飲，脈大而虛。</p>
<p>黃耆（一兩）　當歸（二錢）　水煎服。</p>

<h2>腦漏</h2>
<p>腦漏者，鼻如淵泉，涓涓流涕。致病有三：曰風也，火也，寒也。鼻為肺竅，司呼吸以通陽，賊風侵入，隨吸入之氣上徹於腦，以致鼻竅不通，時流清涕，此風傷之腦漏也。陽邪外鑠，肝火內燔，鼻竅半通，時流黃水，此火傷之腦漏也。冬月祁寒，感冒重陰，寒氣侵腦，鼻竅不通，時流濁涕，此寒傷之腦漏也。致病不同，施治各異。宜隨證辨之。</p>
<p>風傷腦，桑菊愈風湯主之。</p>
<p><u>桑菊愈風湯</u>（自制）</p>
<p>桑葉（三錢）　杭菊（三錢）　蔓荊子（一錢五分）　當歸（一錢五分）　桔梗（一錢）　枳殼（一錢）　川貝（二錢）　杏仁（三錢）　川芎（八分）　黑芝麻（一撮）　</p>
<p>火傷腦，清肝透頂湯主之。</p>
<p><u>清肝透頂湯</u>（自制）</p>
<p>羚羊角（一錢五分）　夏枯草（二錢）　石決（八錢）　丹皮（一錢五分）　元參（一錢）　桔梗（一錢）　蟬衣（一錢五分）　桑葉（二錢）　薄荷（一錢）　陳橄欖（二枚）　寒傷腦，通陽聖化湯主之。</p>
<p><u>通陽聖化湯</u>（自制）</p>
<p>當歸（二錢）　川芎（一錢）　香附（二錢）　白朮（一錢五分）　羌活（一錢）　白芷（五分酒蒸）　辛夷（一錢切）　天麻（六分）　紅棗（五枚）　姜（三片）</p>

<h2>鼻衄</h2>
<p>鼻衄一證，與吐血不同。吐血者，陰分久虧，龍雷之火犯肺，日受熏灼，金氣大傷，其來也由漸，其病也最深，故血從口出，而不從鼻出。鼻衄之證，其平日肺氣未傷，只因一時肝火蘊結，驟犯肺穴，火性炎上，逼血上行，故血從鼻出，而不從口出。每見近來醫家，因方書犀角地黃湯條下，有統治吐血、衄血之語，一遇鼻衄，即以犀角地黃湯治之，究竟百無一效，此其弊在拘執古方，不明經絡。蓋犀角地黃，多心腎之藥，用以治肝肺，宜其格不相入矣。予自制豢龍湯一方，專治鼻衄，無不應手而效，數十年曆歷有驗，可知醫道當自出手眼，辨證察經，不可徒執古方也。</p>
<p><u>豢龍湯</u>（自制）</p>
<p>羚羊角（一錢五分）　牡蠣（四錢）　石斛（三錢）　南沙參（四錢）　麥冬（一錢五分青黛少許拌）　川貝母（二錢去心研）　夏枯草（一錢五分）　丹皮（一錢五分）　黑荊芥（一錢）　薄荷炭（一錢）　茜草根（二錢）　牛膝（二錢）　茅根（五錢）　藕（五大片）</p>

<h2>齒牙出血</h2>
<p>經曰：「中焦受氣，取汁變化而赤，謂之血。此知血生於中焦，而主於心，故五臟各有守經之血，而六腑則無之。其散於脈內者，隨衝任督三經，遍行經絡。其散在脈外者，周流於肌腠毛皮之間。凡吐血、衄血，牙齦齒縫出血，皆散在經絡之血，湧而上決者也。近人謂巨口吐紅，及牙齦齒縫出血者，謂之胃血，此說大謬。蓋胃為外腑，職司出納，為水穀蓄泄之要區，其中並無一絲一點之血。即牙宣出血一症，不過胃火熾盛，肉不附骨，故血熱而上湧。其牙不宣而出血者，乃陰虛陽亢，龍雷之火沖激胃經所致。湖州錢左，患齒縫出血，牙並不宣，多則血流盈盞，晝夜十餘次，面紅目赤，煩擾不安，為制蒼玉潛龍湯，連服十餘劑而愈。</p>
<p><u>蒼玉潛龍湯</u>（自制）</p>
<p>生地（四錢）　龜版（六錢）　石膏（三錢）　龍齒（二錢）　石斛（三錢）　花粉（二錢）　丹皮（一錢五分）　羚羊角（一錢五分）　沙參（四錢）　白芍（一錢五分）　藕（三兩）　茅根（五錢與藕同煎湯代水）</p>

<h2>關格</h2>
<p>關格一證，所繫最大，《靈、素》諸書及秦越人、張長沙，俱皆論列，而未有成方；後起諸賢，又絕無論及此證者。迨云歧子謂陰陽易位，病名關格。所傳九方，動輒腦、麝、硝、黃、皂角，非開透，即劫奪，奄奄將斃之人，其能堪此乎！是有方不如無方，醫學中反添一重魔劫矣。《素問》謂：人迎一盛，病在少陽；二盛在太陽；三盛在陽明；四盛以上為格陽。寸口一盛，病在厥陰；二盛在少陰；三盛在太陰；四盛以上為關陰。經絡分明，言言典要，而惜乎治法不傳也。秦越人發為陰乘陽乘之論，乃合寸尺之脈並言之。寸上過位，入魚際為溢；尺下過位，入尺澤為復；此陰陽之偏，各造其極，最為精當，而惜乎治法不傳也。張長沙謂寸口脈浮而大，浮為虛，大為實，在尺為關，在寸為格。又曰：心脈洪大而長，則關格不通。又謂趺陽脈伏而澀，伏則吐逆，水穀不化，澀則食不得入，名曰關格。凡三言之。其曰在寸為格，在尺為關者，乃言陰陽不相榮也。其曰心脈洪大而長，則關格不通者，言五志不安，營衛虧損，孤陽獨發，故上下不通也。曰趺陽脈伏而澀者，乃胃氣敗壞之明徵也。察脈論證，更為詳盡，而惜乎治法不傳也。至西江喻氏，力講調和營衛，不偏陰，不偏陽，聽胃氣之自為敷布，不問其關於何而開，格於何而通，一惟求之於中，握樞而運，以漸透於上下，營氣通則加意於營，衛氣通則加意於衛，因立進退黃連湯二方，又立資液救焚湯一方，以為標準，此與云歧子之九方，霄壤懸殊矣。而愚則以為所重者尤在於上。苟在上之格者能通，則在下之關者亦無不通。嘗見患此證者，多起於憂愁怒郁，即富貴之家，亦多有隱痛難言之處，可見病實由於中上焦，而非起於下焦也。始則氣機不利，喉下作梗；繼則胃氣反逆，食入作吐；後乃食少吐多，痰涎上湧，日漸便溺艱難。此緣心肝兩經之火煎熬太過，營血消耗，鬱蒸為痰；飲食入胃，以類相從，谷海變為痰藪，而又孤陽獨發，氣火升痰，宜其格而不入也。格與關皆為逆象，惟治之以至和，導之以大順，使在上者能順流而下，則在下者亦迎刃而解矣。故於調養營衛之中，平肝理氣，此一法也。於調養營衛之中，和胃化痰，亦一法也。於調養營衛之中，兼清君相之火，又一法也。關格既成，本難施治，但仁人孝子必不忍坐視危亡，欲於死中求活，非精心研究不可。續制四方，以備參酌。</p>
<p>肝氣犯胃，食入作吐，宜解鬱和中，歸桂化逆湯主之。</p>
<p><u>歸桂化逆湯</u>（自制）</p>
<p>當歸（二錢）　白芍（一錢五分酒炒）　青皮（一錢）　茯苓（二錢）　肉桂（五分）　鬱金（二錢）　合歡花（二錢）　蒺藜（四錢）　牛膝（二錢）　玫瑰花（五分）　木香（五分）　紅棗（五枚）　降香（五分）</p>
<p>方以歸桂化逆名，歸、桂為主藥無疑矣。以歸、芍、紅棗養其血，即以合歡、鬱金、玫瑰解其鬱，以青皮、蒺藜、木香、降香利其氣，又以茯苓、牛膝引之下達，治格而亦顧及關矣。祖怡注。</p>
<p>痰氣上逆，食入嘔吐，人參半夏湯主之。</p>
<p><u>人參半夏湯</u>（自制）</p>
<p>人參（二錢）　半夏（三錢）　廣皮（一錢）　茯苓（二錢）　當歸（二錢）　沉香（五分）　鬱金（二錢）　砂仁（一錢）　佩蘭（一錢）　苡仁（四錢）　牛膝（二錢）　佛手（五分）　白檀香（五分）</p>
<p>此方亦所以治格。以人參、當歸顧氣血，以茯苓、苡仁、牛膝，引之下行；以半夏、陳皮利痰，以佩蘭、鬱金、砂仁、佛手、沉香、檀香通氣。前法輕而此方較重，彼重用肉桂，此重用人參，意同而法自異也。祖怡注。</p>
<p>孤陽獨發，阻格飲食，甚則作呃，和中大順湯主之。</p>
<p><u>和中大順湯</u>（自制）</p>
<p>人參（二錢）　白芍（一錢）　丹皮（二錢）　柏仁（二錢）　潼蒺藜（三錢）　麥冬（二錢）　赤芍（一錢）　白蒺藜（三錢）　丹參（三錢）　生地（四錢）　赭石（三錢煅研）　合歡花（二錢）　竹瀝（兩大匙沖服）　薑汁（二滴沖服）</p>
<p>此方有人參、麥冬養胃家之氣陰，益以生地、白芍配獨發之孤陽。丹參、柏仁養心血，丹皮、赤芍清心肝。合歡開心，赭石鎮逆，竹瀝、薑汁豁痰，潼白蒺藜補腎疏肝。仍著重治格，而大利於開關。前方重用香藥，此方則重用潤藥。祖怡注。</p>
<p>二氣雙調飲，通治關格。</p>
<p><u>二氣雙調飲</u>（自制）</p>
<p>人參（二錢）　茯苓（二錢）　山藥（三錢）　歸身（二錢）　枸杞（三錢）　干蓯蓉（三錢）　牛膝（二錢）　廣皮（一錢）　半夏（一錢五分）　砂仁（一錢）　青皮（一錢五分蜜水炒）　沉香（五分人乳磨沖）</p>
<p>所謂二氣者，陰陽也。所謂雙調者，不偏陽不偏陰也。人參、茯苓、山藥偏於陽，人乳、歸身、枸杞、蓯蓉偏於陰，有沉香、砂仁、陳皮、青皮以和之，通治關格，此其所以為雙調也。祖怡注。</p>

<h3>附：關格門諸方</h3>
<p><u>喻氏進退黃連湯</u>　平調營衛，不偏陰，不偏陽，所謂運中樞以聽其進退也。</p>
<p>黃連（八分薑汁炒）　炮姜（八分）　人參（一錢五分人乳拌蒸）　桂枝（一錢）　半夏（一錢五分薑製）　大棗（二枚）　進法本方諸藥俱不制，水三鍾，煎一半，溫服。退法不用桂枝，黃連減半，或加肉桂五分，如上逐味制熟，煎服法同。每早加服附桂八味丸三錢。</p>
<p><u>資液救焚湯</u>　治五志厥陽之火。</p>
<p>生地（二錢取汁）　麥冬（二錢取汁）　人參（一錢五分人乳拌蒸）　炙甘草（一錢）　阿膠（一錢）　胡麻仁（一錢炒研）　柏子仁（七分）　五味子（四分）　紫石英（一錢）　寒水石（一錢）　生犀汁（二分磨）　滑石（一錢二分敲碎不為末）　生薑汁（二茶匙）　除四汁及阿膠共八味，用名山泉水四鍾，緩火煎至一杯半，去渣，入四汁及阿膠，再緩火略煎至膠烊化，斟出，調牛黃末五釐，日中分二、三次熱服。空朝先服附桂八味丸三錢。</p>

<h3>附：云歧子九方</h3>
<p>（此等方法斷不可用，錄之以為鑑戒。）</p>
<p><u>柏子仁方</u></p>
<p>人參　半夏　茯苓　陳皮　柏仁　甘草　麝香　郁李仁　姜（三片）</p>
<p><u>人參散</u></p>
<p>人參　麝香　冰片　甘草湯調服</p>
<p><u>既濟丸</u></p>
<p>附子　人參　麝香</p>
<p><u>檳榔益氣湯</u></p>
<p>檳榔　人參　白朮　當歸　黃耆　陳皮　升麻　甘草　柴胡　枳殼　生薑　煎服。</p>
<p><u>木通二陳湯</u></p>
<p>木通　陳皮　半夏　茯苓　甘草　枳殼　生薑煎服。</p>
<p><u>導氣清利湯</u></p>
<p>豬苓　澤瀉　白朮　人參　甘草　木通　梔子　茯苓　檳榔　枳殼　大黃　厚朴　麝香　黑牽牛　廣皮　半夏　藿香　柏仁　生薑煎服。</p>
<p><u>加味麻仁丸</u></p>
<p>大黃　白芍　厚朴　當歸　杏仁　麻仁　檳榔　木香　枳殼　蜜為丸。</p>
<p><u>皂角散</u></p>
<p>大皂角　燒存性，研細末，以豬脂一兩調服。又服八正散加檳榔、枳殼、朴硝、桃仁、燈芯，茶服。</p>
<p><u>大承氣湯</u></p>
<p>大黃　芒硝　枳實　厚朴</p>
<p>以上九方，只圖取快目前，不顧削伐元氣。然此等藥入口，輕者增劇，劇者立斃，究竟目前亦不快也。</p>

<h1>卷三</h1>

<h2>咳嗽</h2>
<p>經曰：五臟六腑皆令人咳，非獨肺也。可知心肝脾腎四經，各有咳嗽之症，不過假途於肺耳。只此二語，度盡金針。後人不明此義，一遇咳嗽，不辨其所以致咳之由，但從肺治，又安怪其效者少，而不效者多耶！茲將肺臟之咳，詳列於前；心肝脾腎之咳，條載於後；庶幾辨證則瞭然無疑，施治則知所措手矣。</p>
<p>肺熱而咳，上焦微喘，肌表漫熱，口燥咽乾者，玉環煎主之。</p>
<p><u>玉環煎</u>（自制）</p>
<p>玉竹（四錢）　羚羊角（一錢五分）　沙參（四錢）　麥冬（二錢）　石斛（三錢）　貝母（二錢）　蔞皮（三錢）　蛤粉（四錢）　梨汁（半杯沖服）</p>
<p>肺寒而咳，乃水邪射肺，水冷金寒，咳吐痰沫，胸脘作懣，肌膚懍冽者，薑桂二陳湯主之。</p>
<p><u>薑桂二陳湯</u>（自制）</p>
<p>炮姜（五分）　桂枝（五分）　橘紅（一錢）　半夏（一錢）　葶藶子（二錢）　當歸（一錢五分）　茯苓（二錢）　白朮（一錢）　蘇子（一錢五分）　杏仁（三錢）　苡仁（一兩煎湯代水）</p>
<p>肺虛而咳，肌表微熱，神倦氣短，不時火升，失血咽痛者，保肺濟生丹主之。</p>
<p><u>保肺濟生丹</u>（自制）</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　人參（一錢）　沙參（四錢）　五味（五分）　玉竹（三錢）　女貞子（二錢）　茯苓（二錢）　山藥（三錢）　貝母（二錢）　茜草根（二錢）　杏仁（三錢）　藕（三兩切片煎湯代水）</p>
<p>虛之甚者，火升體羸，咳嗽失血，咽破失音，此為碎金不鳴，症極危險，金水濟生丹主之。</p>
<p><u>金水濟生丹</u>（自制）</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　生地（五錢切）　人參（一錢）　沙參（四錢）　龜版（八錢）　玉竹（三錢）　石斛（三錢）　茜草根（二錢）　蔞皮（三錢）　山藥（三錢）　貝母（二錢）　杏仁（三錢）　淡竹葉（十張）　雞子清（一個）　藕（三兩煎湯代水）</p>
<p>肺實而咳，胸脘喘滿，時吐稠痰，降氣和中湯主之。</p>
<p><u>降氣和中湯</u>（自制）</p>
<p>蘇子（一錢五分）　沉香（五分）　海石（三錢）　蔞仁（四錢）　萊菔子（二錢）　芥子（一錢）　橘紅（一錢）　半夏（一錢）　桑皮（二錢）　貝母（二錢）　杏仁（三錢）　薑汁（兩小匙沖服）</p>
<p>實之甚者，痰氣閉結，語音不出，此為塞金不鳴，金牛湯主之。</p>
<p><u>金牛湯</u>（自制）</p>
<p>鬱金（二錢）　牛蒡子（三錢炒研）　芥子（一錢）　陳麻黃（四分蜜水炙）　栝蔞皮（三錢）　蘇子（一錢五分）　沉香（五分）　貝母（二錢）　杏仁（三錢）　橘紅（一錢）　半夏（一錢）　桑皮（二錢）　枇杷葉（二張刷去毛蜜炙）</p>
<p>嗜酒太過，傷肺而咳者，加減葛花湯主之。</p>
<p><u>加減葛花湯</u>（自制）</p>
<p>葛花（二錢）　雞椇子（三錢）　花粉（二錢）　石斛（三錢）　沙參（四錢）　麥冬（一錢五分）　茯苓（二錢）　苡仁（四錢）　橘紅（二錢）　貝母（二錢）　杏仁（二錢）　橄欖（二枚打碎陳者亦可用）</p>
<p>風痰入肺，久經吼咳者，鵝梨湯主之。</p>
<p><u>鵝梨湯</u>（自制）</p>
<p>鵝管石（五分煅研）　陳麻黃（五分蜜炙）　當歸（一錢五分）　蘇子（一錢五分）　茯苓（二錢）　蔞仁（四錢）　桑葉（一錢）　橘紅（一錢）　半夏（一錢）　貝母（二錢）　杏仁（三錢）　梨汁（兩大匙沖服）　薑汁（兩小匙沖服）</p>
<p>肺氣壅塞，致成肺癰，咳吐膿痰，氣甚腥穢者，石花湯主之。</p>
<p><u>石花湯</u>（自制）</p>
<p>白石英（三錢煅研）　合歡花（二錢）　鮮百部（四錢）　沙參（四錢）　麥冬（一錢五分）　貝母（二錢）　桑皮（二錢）　蘇子（一錢五分）　杏仁（三錢）　茯苓（二錢）　苡仁（四錢）　淡竹葉（十張）　金絲荷葉（二張去背上白皮）</p>
<p>肺葉痿敗，喘咳夾紅者，白膠湯主之。</p>
<p><u>白膠湯</u>（自制）</p>
<p>嫩白芨（四錢研末）　陳阿膠（二錢）　沖湯調服。</p>
<p>心經之咳，痰少心煩，夜不成寐，玄妙散主之。</p>
<p><u>玄妙散</u>（自制）</p>
<p>玄參（一錢五分）　丹參（三錢）　沙參（四錢）　茯神（二錢）　柏仁（二錢）　桔梗（一錢）　麥冬（一錢五分硃砂拌）　貝母（二錢）　杏仁（三錢）　夜合花（二錢）　淡竹葉（十張）　燈芯（三尺）</p>
<p>肝經之咳，痰少脅痛，易怒頭眩，丹青飲主之。</p>
<p><u>丹青飲</u>（自制）</p>
<p>赭石（三錢）　麥冬（一錢五分青黛拌）　杭菊（二錢）　石斛（三錢）　潼蒺藜（三錢）　白蒺藜（三錢）　沙參（四錢）　桑葉（一錢）　橘紅（一錢）　貝母（二錢）　杏仁（三錢）　旋覆花（一錢絹包）</p>
<p>脾經之咳，胸懣痰稠，食少體倦，術米湯主之。</p>
<p><u>術米湯</u>（自制）</p>
<p>當歸（一錢五分）　白朮（一錢五分）　茯苓（三錢）　苡米（八錢）　半夏（一錢五分）　橘紅（一錢）　萊菔子（二錢）　海石（三錢）　杏仁（三錢）　蔞仁（四錢）　薑汁（兩小匙沖服）</p>
<p>腎經之咳，或嗆或喘，痰味鹹而有黑花者，山虎湯主之。</p>
<p><u>山虎湯</u>（自制）</p>
<p>蛤蚧尾（一對酒洗）　生地（四錢切片蛤粉炒）　麥冬（一錢五分）　破故紙（一錢五分核桃肉拌炒）　人參（二錢）　沙參（四錢）　沉香（五分）　茯苓（二錢）　山藥（三錢）　貝母（二錢）　杏仁（三錢）　人乳（半杯沖服）　薑汁（兩滴沖服）</p>

<h3>五臟傳腑之咳</h3>
<p>經曰：五臟咳久，傳於六腑。脾咳不已，則胃受之。胃咳之狀，咳而嘔，嘔甚則長蟲出。胃乃脾之妻，故脾咳必傳於胃。胃受邪則水穀不安，故發嘔。長蟲常處胃中，嘔甚則胃氣逆而不降，故長蟲亦隨氣而出也。加味二陳湯主之。</p>
<p><u>加味二陳湯</u>（自制）</p>
<p>橘紅（一錢）　半夏（一錢五分）　茯苓（二錢）　白朮（一錢）　苡仁（四錢）　枳殼（一錢）　砂仁（一錢）　蘇梗（一錢）　花椒子（二十四粒）　姜（三片）</p>
<p>肝咳不已，則膽受之。膽咳之狀，咳嘔膽汁。膽為清淨之腑，肝邪中之，則膽不安，而汁內沸，故所嘔皆苦水。西清湯主之。</p>
<p><u>西清湯</u>（自制）</p>
<p>桂枝（五分）　梔子（一錢五分薑汁炒）　蘇子（一錢五分）　桑皮（二錢）　杏仁（三錢）　橘紅（一錢）　半夏（一錢）　茯苓（二錢）　蒺藜（三錢）　鬱金（二錢）　姜（三片）</p>
<p>肺咳不已，則大腸受之。大腸咳狀，咳而遺矢。肺與大腸，庚辛金也。風陽外爍，肺熱移於大腸，更兼風入空竅，宜其咳而遺矢矣。當培土化熱，兼以熄風，迴風養臟湯主之。</p>
<p><u>迴風養臟湯</u>（自制）</p>
<p>沙參（四錢）　蘇子（一錢五分）　枳殼（一錢）　前胡（一錢）　桑葉（一錢）　茯苓（二錢）　白朮（一錢）　苡仁（四錢）　橘紅（一錢）　貝母（二錢）　荷葉蒂（一枚）</p>
<p>心咳不已，則小腸受之。小腸咳狀，咳而失氣，氣與咳俱失。小腸下口接大腸之上口，小腸化則大腸通，小腸咳則氣達於大腸，故下焦之濁氣不時宣泄也。潔宮湯主之。</p>
<p><u>潔宮湯</u>（自制）</p>
<p>沙參（四錢）　茯神（二錢）　遠志（五分甘草水炒）　歸身（二錢）　麥冬（二錢）　貝母（二錢）　橘紅（一錢）　半夏（一錢）　白朮（一錢）　砂仁（一錢）　姜（三片）</p>
<p>腎咳不已，則膀胱受之。膀胱咳狀，咳而遺尿。膀胱為津液之腑，咳則氣不能禁而遺溺也。加味茯菟湯主之。</p>
<p><u>加味茯菟湯</u>（自制）</p>
<p>茯苓（三錢）　菟絲（四錢）　杜仲（三錢）　破故紙（一錢五分）　當歸（二錢）　貝母（二錢）　橘紅（一錢）　半夏（一錢）　白朮（一錢）　杏仁（三錢）　核桃肉（二枚過口）</p>
<p>久咳不已，則三焦受之。三焦咳狀，咳而腹滿，不欲飲食。此皆聚於胃，關於肺，使人多涕唾，而面浮腫氣逆也。久咳則三焦俱病。聚於胃者，胃為五臟六腑之本也。關於肺者，咳必動肺，面浮氣逆，皆肺病也。通理湯主之。</p>
<p><u>通理湯</u>（自制）</p>
<p>當歸（二錢）　茯苓（二錢）　白朮（一錢）　苡仁（四錢）　枳殼（一錢）　橘紅（一錢）　半夏（一錢）　厚朴（一錢）　青皮（一錢）　桑皮（二錢）　砂仁（一錢）　蘇子（一錢五分）　姜（三片）</p>
<p>先生批《醫學心悟》云：「喘病甚多，而皆非善症。治喘之法，不過一降一納盡之。上焦之有餘者降之，使不得反逆，而清肅之令行矣。下焦之不足者納之，使歸其窟宅，而根本之園地固矣。」先生所批，較葉香岩所謂實喘在肺、虛喘在腎之意，更為明顯。祖怡注。</p>

<h4>附：咳嗽門諸方</h4>
<p><u>補肺湯</u>　治肺虛咳嗽。</p>
<p>人參（一錢）　黃耆（二錢）　五味（五分）　紫菀（一錢）　桑皮（二錢）　熟地（三錢）　入蜜少許和服。</p>
<p><u>補肺阿膠散</u>　治肺虛有火，咳無津液而氣哽者。</p>
<p>阿膠（一兩五錢）　馬兜鈴（一兩）　甘草（一兩）　牛蒡子（一兩）　杏仁（七錢）　糯米（一兩）　水煎分溫服。</p>
<p><u>百合固金湯</u>　治肺傷咽痛，喘嗽痰血。</p>
<p>生地（一錢）　熟地（三錢）　元參（一錢）　貝母（一錢五分）　桔梗（一錢）　甘草（五分）　麥冬（一錢五分）　白芍（一錢）　當歸（一錢五分）　百合（三錢）　水煎服。</p>
<p><u>紫菀湯</u>　治肺傷氣極，勞熱久嗽，吐痰吐血。</p>
<p>紫菀（二錢）　知母（一錢）　貝母（二錢）　人參（一錢）　茯苓（二錢）　五味子（十二粒）　阿膠（二錢蛤粉拌炒）　甘草（五分）　桔梗（一錢）　蓮子肉（十粒去心）</p>
<p><u>秦艽扶羸湯</u>　治肺痿骨蒸，或寒或熱，成勞，咳嗽，聲嘎不出。</p>
<p>秦艽（一錢）　柴胡（一錢）　地骨皮（一錢五分）　當歸（一錢五分）　紫菀（一錢）　半夏（一錢）　人參（一錢）　甘草（五分）　鱉甲（一錢五分）　水煎服。</p>
<p><u>黃耆鱉甲散</u>　治男女虛勞客熱，五心煩熱，四肢倦怠，咳嗽咽乾，自汗食少，日晡發熱。</p>
<p>黃耆（五錢）　鱉甲（五錢）　桑皮（三錢五分）　秦艽（五錢）　紫菀（三錢五分）　人參（一錢五分）　茯苓（三錢）　柴胡（三錢）　半夏（三錢五分）　知母（三錢五分）　地骨皮（三錢）　白芍（三錢五分）　天冬（五錢）　肉桂（一錢五分）　桔梗（一錢五分）　甘草（三錢五分）　生地（三錢五分）　每用一兩，水煎服。一方加姜三片。</p>
<p><u>蓁艽鱉甲散</u>　治風勞骨蒸，午後壯熱，咳嗽肌瘦，頰赤盜汗，脈來細數。</p>
<p>秦艽（一錢五分）　鱉甲（三錢）　地骨皮（二錢）　柴胡（一錢）　知母（一錢五分）　青蒿（五葉）　烏梅（一個）　當歸（一錢五分）　水煎服。汗多加黃耆二錢。</p>
<p><u>蘇子降氣湯</u>　治虛陽上攻，氣不升降，上盛下虛，痰涎壅盛，喘嗽嘔血，或大便不利。</p>
<p>半夏（一錢）　蘇子（一錢五分）　前胡（一錢）　厚朴（一錢）　橘紅（一錢）　當歸（二錢）　甘草（五分）　沉香（五分）　水煎服。</p>
<p><u>定喘湯</u>　治肺虛感寒，氣逆膈熱，而作哮喘。</p>
<p>白果（二十一粒）　麻黃（四分）　半夏（一錢）　款冬花（一錢）　蘇子（一錢五分）　杏仁（二錢）　桑皮（二錢）　黃芩（一錢）　甘草（五分）　水煎服。</p>
<p><u>咳血方</u>　治咳嗽痰血。</p>
<p>青黛　蔞仁　海石　山梔　訶子肉　杏仁（各等分）　蜜為丸，噙化。</p>
<p><u>獨勝散</u>　治多年咳嗽，肺痿咯血。</p>
<p>白芨　研細末，每服二錢，臨臥時糯米湯下。</p>
<p><u>清咽太平丸</u>　治膈上有火，早間咯血，兩頰常赤，咽喉作痛不清。</p>
<p>薄荷（十兩）　川芎（二兩）　防風（二兩）　犀角（二兩）　柿霜（二兩）　甘草（二兩）　桔梗（三兩）　蜜為丸，如梧子大，每服五十丸。</p>
<p><u>犀角地黃湯</u>　治肝胃火盛，吐血、衄血、咳血、便血，及陽毒發斑。</p>
<p>生地（一兩五錢）　犀角（一錢）　赤芍（一兩）　丹皮（二錢）　每服五錢。</p>
<p><u>桑皮等汁十味煎</u>　治咳嗽經久，將成肺痿，乍寒乍熱，唾涕稠黏，喘息氣上，唇乾吐血。</p>
<p>桑皮汁（一升）　地骨皮汁（三升）　麥冬汁（二升）　生地汁（五升）　生葛汁（三升）　淡竹瀝（三升）　生薑汁（一升）　白蜜（一升）　棗膏（一升）　牛酥（三合）</p>
<p>共熬成膏，每服五錢。</p>
<p><u>二陳湯</u>　治一切痰飲為病，咳嗽脹滿，嘔吐噁心，頭眩心悸。</p>
<p>半夏（二錢）　陳皮（一錢）　茯苓（一錢）　甘草（五分）　姜（三片）　水煎服。</p>
<p><u>清肺飲</u>　治痰濕久留，咳嗽氣逆。</p>
<p>杏仁（二錢）　貝母（二錢）　茯苓（二錢）　桔梗（一錢）　甘草（五分）　橘紅（一錢）　五味子（五分）　姜（三片）</p>
<p><u>金沸草散</u>　治肺經傷風，頭目昏痛，咳嗽痰多。</p>
<p>金沸草（一錢絹包）　前胡（一錢）　細辛（三分）　荊芥（一錢）　茯苓（二錢）　半夏（一錢）　甘草（五分）　棗（二枚）　姜（三片）</p>
<p><u>百花膏</u>　治喘咳不已，或痰中有血。</p>
<p>川百合　款冬花（等分）　蜜丸如彈子大，噙化。</p>

<h2>痰飲</h2>
<p>痰飲者，先生痰而後停飲，積水為病也。人非水穀不能生活，然水氣太盛，不能流行，則病亦叢生。論者謂人身所貴者水也。天一生水，乃至充周流灌，無處不到。一有瘀蓄，即如江河回曲之處，穢莝積聚，水道日隘，橫流旁溢，必順其性，因其勢而利導之，庶得免乎氾濫，此說是矣。然謂為天一之水，充周流灌，以至於瘀蓄，則竊以為不然。夫天一之水，精也、血也、津液也，此人身之聖水，惟患其少，不患其多，安有變為痰飲之理。且停飲之人，往往嘔吐，所吐之水，或清或黃，或酸或腐，動輒盈盆，天一之水，顧若此之賤且多乎！蓋水穀入胃，除散精之外，其勢下趨，由小腸而膀胱，乃氣化而出，無所為飲也。惟脾有積濕，胃有蘊熱，濕與熱交蒸，脾胃中先有頑痰，膠黏不解，然後入胃之水遇痰而停，不能疾趨於下，日積月累，飲乃由是而成。又況嗜茶太過者，濕傷脾；嗜酒太過者，熱傷胃；過嗜生冷者，寒傷脾胃；各各不同。而於是痰飲、懸飲、溢飲、支飲、留飲、伏飲，遂由淺入深，而釀成痼疾矣。其見症與治法，均列於後。</p>

<h3>痰飲</h3>
<p>痰飲者，水從胃出，下走腸間，轆轆有聲，胸中微痞，頭目作眩，桂術二陳湯主之。</p>
<p><u>桂術二陳湯</u>（自制）</p>
<p>桂枝（八分）　白朮（一錢五分）　廣皮（一錢）　半夏（一錢五分）　茯苓（三錢）　枳實（一錢）　澤瀉（一錢五分）　牛膝（一錢五分）　車前（二錢）　姜（三片）</p>
<p>此方以苓桂術甘、二陳去甘草，以桂枝開太陽，以白朮健脾土，治痰飲之本也。去甘草者，欲其速，不欲其緩，欲其通、不欲其滿也。姜所以佐桂，枳所以佐橘。車前、澤瀉、牛膝所以導水氣下行，不嫌其涼者，有薑、桂在焉。祖怡注。</p>

<h3>懸飲</h3>
<p>懸飲者，水流脅下，咳唾引痛。脅乃肝膽之位，水氣在脅，則肝氣拂逆，而肺金清肅之令不能下行，故咳而引痛也。椒目栝蔞湯主之。</p>
<p><u>椒目栝蔞湯</u>（自制）</p>
<p>椒目（五十粒）　栝蔞頭（五錢切）　桑皮（二錢）　葶藶子（二錢）　橘紅（一錢）　半夏（一錢五分）　茯苓（二錢）　蘇子（一錢五分）　蒺藜（三錢）　姜（三片）</p>
<p>此方仍是二陳去甘草，以椒目通水道，栝蔞通穀道，葶藶、蘇子、桑皮以瀉肺，疾藜以疏肝。水飲下行，而肺肝和矣。祖怡注。</p>

<h3>溢飲</h3>
<p>溢飲者，水氣旁流於四肢也。脾受水邪，溢入四末，故肢節作腫，身重無力，桂苓神術湯主之。</p>
<p><u>桂苓神術湯</u>（自制）</p>
<p>桂枝（八分）　茯苓（三錢）　白朮（一錢）　茅朮（一錢）　苡仁（八錢）　廣皮（一錢）　半夏（一錢五分）　厚朴（一錢）　砂仁（一錢）　姜（三片）</p>
<p>此方合苓桂術甘、二陳、平胃，去甘草加苡仁、砂仁，純用溫運胃脾，而水飲自化。祖怡注。</p>

<h3>支飲</h3>
<p>支飲者，水停心下，入於胸膈，咳逆倚息短氣，其形如腫，桑蘇桂苓湯主之。</p>
<p><u>桑蘇桂苓湯</u>（自制）</p>
<p>桑皮（三錢）　蘇子（二錢）　桂枝（八分）　茯苓（三錢）　澤瀉（一錢五分）　大腹皮（一錢五分）　橘紅（一錢）　半夏（一錢五分）　杏仁（三錢）　豬苓（一錢）　姜（三片）</p>
<p>此方以苓、桂、橘、半生薑治飲之本，以桑皮、蘇子、杏仁瀉肺，以腹皮、瀉澤、豬苓行水，是肺脾同治也。祖怡注。</p>

<h3>留飲</h3>
<p>留飲者，留而不去也。心下痞滿，作噦頭眩，芎歸桂樸湯主之。</p>
<p><u>芎歸桂樸湯</u>（自制）</p>
<p>川芎（八分）　當歸（二錢）　桂枝（八分）　厚朴（一錢）　枳實（一錢）　廣皮（一錢）　半夏（一錢五分）　茯苓（三錢）　天麻（六分）　菊花（二錢）　姜（三片）</p>
<p>芎、歸肝家血藥也，薑、桂開太陽也，枳、樸、橘、半、茯苓消痰濕也，天麻、菊花佐芎、歸而上行也。諸方皆降，而此獨升，獨用血藥，以肝為寒飲侵犯，而血行不暢也。祖怡注。</p>

<h3>伏飲</h3>
<p>伏飲者，伏而不出也。痰滿喘咳吐，發則寒熱，背痛腰疼，其人振振身瞤劇，此乃三陽之氣為陰邪遏抑，鬱而不舒，桂枝半夏湯主之。</p>
<p><u>桂枝半夏湯</u>（自制）</p>
<p>桂枝（八分）　半夏（一錢五分）　茯苓（三錢）　廣皮（一錢）　白朮（二錢）　芥子（一錢）　厚朴（一錢）　紫蘇（一錢）　貝母（二錢）　甘草（四分）　姜（三片）</p>
<p>此方用苓桂術甘合二陳。再以芥子去皮裡膜外之水，得薑、桂而溫通之力更大。紫蘇以佐薑、桂，貝母以佐半夏，厚朴以佐廣皮。治伏飲方，亦可以之治瘧。蓋無痰不成瘧，見症發寒發熱，振振身瞤劇，豈不是痰飲伏而不出，有轉瘧之兆乎！飲證六方，每方皆有二陳，五方皆有桂、姜，三方皆有白朮，亦可見治飲用藥之大法矣。祖怡注。</p>

<h4>附：痰飲門諸方</h4>
<p><u>苓桂朮甘湯</u>　治胸脅支滿，頭目作眩。</p>
<p>茯苓（四兩）　桂枝（三兩）　白朮（三兩）　甘草（二兩）　水六升，煎三升，分溫服。</p>
<p><u>甘遂半夏湯</u>　治留飲結於腸胃。</p>
<p>甘遂（大者三枚）　半夏（十二枚）　白芍（五枝）　甘草（如指大一枚）　上四味，以水二升，煮取半升，去渣，加蜜半升，和藥汁煮取八合，溫服。</p>
<p><u>小青龍湯</u>　治水飲溢出於表，營衛不利，宜發汗以散其水。</p>
<p>麻黃（三兩）　白芍（三兩）　五味（半升）　乾薑（三兩）　甘草（三兩）　細辛（三兩）　桂枝（三兩）　半夏（半升）　水一斗，煮取三升，分溫服。</p>
<p><u>木防己湯</u>　治支飲上入膈中。</p>
<p>防己（三兩）　人參（四兩）　桂枝（二兩）　石膏（八兩）　水六升，煎取二升，分溫服。</p>
<p><u>木防己去石膏加茯苓芒硝湯</u>　治支飲，胸膈痞滿。</p>
<p>防己（二兩）　桂枝（二兩）　人參（四兩）　茯苓（四兩）　芒硝（三合）　</p>
<p>水六升，煎取二升，分溫服。</p>
<p><u>澤瀉湯</u>　治支飲之在心下者。</p>
<p>澤瀉（五兩）　白朮（二兩）　水二升，煎取一升，分溫服。</p>
<p><u>厚朴大黃湯</u>　治支飲，胸膈痞滿。</p>
<p>厚朴（一尺）　大黃（六兩）　枳實（五枚）　水五升，煮取二升，分溫服。</p>
<p><u>椒目葶藶大黃丸</u>　治腹滿，口舌乾燥，腸間有水氣者。</p>
<p>防己（一兩）　椒目（五錢）　葶藶（一兩）　大黃（一兩）　研末，蜜丸如梧子大，每服十丸，日三服。</p>
<p><u>小半夏加茯苓湯</u>　治濕痰懸飲。</p>
<p>半夏（一升）　茯苓（四兩）　生薑（八兩）　水七升，煮取一升五合，分溫服。</p>
<p><u>茯苓飲</u>　治痰飲胸痞。</p>
<p>茯苓（三兩）　人參（三兩）　枳實（二兩）　白朮（三兩）　陳皮（三兩）　生薑（四兩）　水六升，煮取二升，分溫服。</p>
<p><u>二賢湯</u>　治一切痰飲。</p>
<p>橘皮（一斤）　甘草（四兩）　水四升，煮取一升，分溫服。</p>
<p><u>豁痰湯</u>　治一切痰疾。</p>
<p>柴胡（一錢）　半夏（一錢）　枯芩（五分）　人參（五分）　甘草（五分）　紫蘇（五分）　陳皮（一錢）　厚朴（五分）　南星（五分）　薄荷（五分）　枳殼（五分）　羌活（五分）　姜（三片）</p>
<p><u>老痰丸</u>　潤燥開鬱，降火消痰。治老痰凝滯喉間，吐咯難出。</p>
<p>天冬（一兩）　黃芩（一兩）　海粉（一兩）　橘紅（一兩）　連翹（五錢）　桔梗（五錢）　青黛（一錢）　香附（五錢）　芒硝（二錢）　蔞仁（五錢）　研末，煉蜜加薑汁和丸，如梧子大，每服五十丸。</p>
<p><u>御愛紫宸湯</u>　解宿酒噦嘔，噁心痰唾，不進飲食。</p>
<p>木香（五分）　砂仁（一錢）　白芍（一錢）　檀香（一錢）　茯苓（二錢）　官桂（五分）　藿香（一錢）　陳皮（一錢）　葛根（二錢）　良薑（五分）　丁香（五分）　甘草（五分）　水煎服。</p>
<p><u>四七湯</u>　治七情鬱結，痰涎如敗絮，或如梅核，咽之不下，吐之不出。</p>
<p>半夏（二錢）　茯苓（二錢五分）　厚朴（一錢二分）　紫蘇（一錢二分）　棗（一枚）　姜（三片）</p>
<p><u>大川芎丸</u>　消風壅，化痰涎，利咽膈，清頭目。</p>
<p>川芎（二兩）　薄荷（四兩）　桔梗（三兩）　甘草（二兩）　防風（二兩）　細辛（五錢）　研末，蜜丸如梧子大，每服五十丸。</p>
<p><u>小川芎丸</u>　治膈上痰。</p>
<p>川芎（二兩）　大黃（二兩）　研末，皂角水為丸，如梧子大，每服三十丸。</p>
<p><u>神芎導水丸</u>　治一切熱痰鬱結。</p>
<p>黃芩（一兩）　黃連（五錢）　川芎（五錢）　薄荷（五錢）　大黃（一兩）　滑石（四兩）　黑醜（二兩）　研末，蜜丸，如梧子大，每服三十丸。</p>
<p><u>二陳湯</u>　治一切痰飲為病，咳嗽脹滿，噁心頭眩。</p>
<p>陳皮（一錢）　半夏（二錢）　茯苓（二錢）　甘草（五分）　姜（三片）</p>
<p><u>清氣化痰丸</u>　治痰熱。</p>
<p>半夏　膽星　橘紅　枳實　杏仁　蔞仁　黃芩　茯苓（等分）　淡薑汁和丸，每服三錢。</p>
<p><u>半夏天麻白朮湯</u>　治痰厥頭痛，四肢厥冷。</p>
<p>半夏（一錢）　麥芽（三錢）　神麯（三錢）　白朮（一錢）　蒼朮（一錢）　人參（一錢）　黃耆（二錢）　陳皮（一錢）　茯苓（二錢）　澤瀉（一錢五分）　天麻（六分）　乾薑（三分）　黃柏（五分）　研末，每服五錢。</p>
<p><u>茯苓丸</u>　治痰停中脘，兩臂疼痛。</p>
<p>半夏（一兩）　茯苓（一兩）　枳殼（五錢）　風化硝（二錢五分）　淡薑汁和丸，每服二錢。</p>

<h2>結胸</h2>
<p>結胸有五：一為邪氣結胸，一為痰氣結胸，一為滯氣結胸，一為水氣結胸，其一則誤下之結胸也。雖同一中脘痞懣，而受病不同，施治各異，倘一混投，為禍最烈，學者當明辨之。</p>
<p>邪氣結胸，不外因寒因熱。寒氣遏抑，則胃陽不通，故中脘痞滿，四肢倦怠，祛寒平胃散主之。風熱內郁，則胸脘煩悶，心神焦燥，梔子解鬱湯主之。</p>
<p><u>祛寒平胃散</u>（自制）</p>
<p>炮姜（五分）　廣皮（一錢）　茅朮（一錢）　厚朴（一錢）　佩蘭（一錢）　歸身（一錢五分）　茯苓（二錢）　木香（五分）　砂仁（一錢）　鬱金（二錢）　佛手柑（五分）</p>
<p><u>梔子解鬱湯</u>（自制）</p>
<p>黑山梔（二錢）　栝蔞實（一個切）　連翹（二錢）　薄荷（一錢）　葛根（二錢）　蘇梗（一錢五分）　豆豉（三錢）　鬱金（二錢）　淡竹葉（二十張）　白茅根（五錢）</p>
<p>痰氣結胸，當分燥濕。痰隨火升，壅於中脘，竹瀝滌痰湯主之。濕痰上泛，窒滯中都，香蘇二陳湯主之。</p>
<p><u>竹瀝滌痰湯</u>（自制）</p>
<p>川貝（二錢）　天竺黃（六分）　羚羊角（一錢五分）　桑皮（二錢）　栝蔞仁（四錢）　石決明（八錢）　杏仁（三錢）　旋覆花（一錢絹包）　淡竹瀝（半杯沖服）　薑汁（二滴沖服）</p>
<p><u>香蘇二陳湯</u>（自制）</p>
<p>沉香（六分）　蘇子（二錢）　橘紅（　一錢）　半夏（一錢五分）　茯苓（二錢）　枳殼（一錢）　厚朴（一錢）　杏仁（三錢）　鬱金（二錢）　苡仁（四錢炒）　薑汁（二小匙沖服）</p>
<p>滯氣結胸，症有緩急，治分輕重，古人成法具在，按症用藥，尤宜謹慎。</p>
<p>壯熱，神昏譫語，胸滿拒按，舌焦黑起刺，脈實有力，此為大結胸，大承氣湯主之。</p>
<p><u>大承氣湯</u></p>
<p>大黃（五錢酒洗）　芒硝（五錢）　枳實（一錢五分）　厚朴（一錢五分）　先將枳實、厚朴煎好，後入大黃，再後入芒硝，煎數沸。</p>
<p>發熱，譫語，便硬，胸痞拒按，舌焦黃，脈實有力，此為小結胸，小承氣湯主之。</p>
<p><u>小承氣湯</u></p>
<p>大黃（五錢酒洗）　厚朴（一錢五分）　枳實（一錢五分）　先將厚朴、枳實煎好，後入大黃，約百沸。</p>
<p>結胸痞滿，按之則痛，脈來浮滑者，小陷胸湯主之。</p>
<p><u>小陷胸湯</u></p>
<p>黃連（五分）　蔞仁（五錢）　半夏（一錢五分）　水煎服。</p>
<p>結胸失下，以致胸中大實，元氣大虧，不下則脹滿而死，下之則元氣隨脫，所謂下亦死、不下亦死也。然於死中求活，須一面攻下，一面保真如黃龍湯一法，人參、大黃並用，用意雖佳，然究竟互相牽制，補者不補，而攻者不攻；不若先服攻下之劑，俟藥力已達病所，隨後即服保納元氣之劑以收攝之。因自制承氣保真湯，十中可救三四。</p>
<p><u>承氣湯</u></p>
<p>即大黃、芒硝、枳實、厚朴四味。先煎服，俟滯氣將動，隨服保真湯。</p>
<p><u>保真湯</u>（自制）</p>
<p>人參（三錢）　附子（二錢）　干河車（四錢）　當歸（三錢）　五味（一錢五分）　菟絲子（八錢）　大棗（三枚）　姜（三片）</p>
<p>水結胸，心下至少腹硬滿，痛不可近，或潮熱，或無大熱，但頭微汗出，脈沉，名水結胸，大陷胸湯主之。</p>
<p><u>大陷胸湯</u></p>
<p>大黃五錢，先煎，去渣，入芒硝五錢，煎數沸，再入甘遂末一錢，溫服。</p>
<p>按此藥過於峻猛，萬不可輕投，予自制決壅順流湯，頗能於平穩中取效。</p>
<p><u>決壅順流湯</u>（自制）</p>
<p>大黃（三錢）　木通（三錢）　栝蔞實（一個）　厚朴（一錢）　青皮（一錢）　枳實（一錢）　瞿麥（二錢）　車前子（二錢）　水煎服。</p>
<p>誤下之結胸，因邪未入陽明，下之太早，徒傷元氣，邪反乘虛而入，居於心胸之間，內既不能從腸胃而下，外又不能從肌表而出，逗留蘊結，胸脘痞滿，按之不痛；蓋無形之邪，非有形之滯，邪在心胸而不在胃也。諸瀉心湯主之。其藥味分兩，當隨症隨時謹慎加減。</p>
<p>誤下之結胸，心下痞，而復惡寒汗出者，附子瀉心湯主之。</p>
<p><u>附子瀉心湯</u></p>
<p>附子　大黃　黃連　黃芩</p>
<p>誤下結胸，痞滿不痛，身寒而嘔，飲食不下者，半夏瀉心湯主之。</p>
<p><u>半夏瀉心湯</u></p>
<p>半夏　黃連　黃芩　甘草　人參　乾薑　大棗</p>
<p>誤下結胸，下利完穀不化，腹中雷鳴，心下痞滿，乾嘔心煩者，甘草瀉心湯主之。</p>
<p><u>甘草瀉心湯</u></p>
<p>甘草（倍用）　半夏　黃連　乾薑　大棗</p>

<h2>痎瘧</h2>
<p>經曰：痎瘧皆生於風，其蓄作有時者何也？歧伯之對，極為詳明。後之論者，乃為瘧病皆起於少陽。緣少陽為半表半裡之經，進而與陰爭則寒，退而與陽爭則熱，此解相沿已數百年。初閱之似亦近理，細思之頗為不然。蓋瘧有一日一作者，有間日一作者，有三日一作者，輕重懸殊，豈得謂之皆在少陽乎！且進而與陰爭，退而與陽爭，誰進之而誰退之，豈病之自為進退乎！當其寒也，鼓頷戰慄，固屬病進。及其熱也，譫語神昏，豈得謂之病退乎！細繹經文，乃恍然大悟。經曰：此皆得之夏傷於暑熱，因得秋氣，汗出遇風，及得之以浴，水氣舍於皮膚之間，邪氣與衛氣並居。此明明說暑熱之氣先入於內，後受風寒，包裹熱邪，是熱邪在裡，寒邪在外也。及其與衛氣同發，先發在外之寒邪，故先寒。次發在內之熱邪，故後熱。至得汗之後，風熱漸解，故寒熱俱平。則有寒有熱，乃邪之循序而發，而非進與陰爭、退與陽爭，斷斷然矣。其一日一作者何也？邪在衛也。經曰衛氣者，晝日行於陽，夜行於陰，內外相搏，是以日作。此言衛氣行於人身，一日一周，邪氣與衛氣同行，故瘧亦一日一作也。其間日一作者何也？邪在營也。經曰：邪藏於皮膚之內，腸胃之外此營氣之所舍也。邪氣在於營分，則雖衛氣獨發，而邪氣在內，不與之並行，更歷一周，而邪氣始與衛氣相遇，故瘧亦間日一作也。其三日一作者何也？邪在腑也。經曰：邪氣與衛氣客於六腑，有時相失，不能相得，故休數日乃作也。可知人之一身，由衛而營，由營而腑，自表及里，自有一定次第。邪氣在腑，已入第三層，故瘧亦三日一作也。治之之法，當先投辛溫，解其外裹之寒；更進辛涼，清其內蘊之熱；俾得邪從汗出，而病可霍然。至於在營在腑，按經投劑，方有端緒。雄於前賢，無能為役，何敢自矜獨得，妄議古人；然釋經辨症，不得不細細推敲，誰謂醫為小道，《內經》易讀乎！</p>
<p>初發寒邪，宜辛溫解散，闢寒散主之。</p>
<p><u>闢寒散</u>（自制）</p>
<p>川芎（八分）　防風（一錢）　白芷（五分）　廣皮（一錢）　半夏（一錢五分）　羌活（一錢）　秦艽（一錢）　枳殼（一錢）　蘇梗（一錢）　姜（三大片）</p>
<p>次發熱邪，宜辛涼解散，清暑散主之。</p>
<p><u>清暑散</u>（自制）</p>
<p>薄荷葉（二錢）　青蒿梗（一錢五分）　石斛（三錢）　貝母（二錢）　葛根（二錢）　連翹（一錢五分）　豆豉（三錢）　杏仁（三錢）　淡竹葉（二十張）</p>
<p>寒熱俱重，體盛脈實者，交加散主之。虛人禁用。</p>
<p><u>交加散</u>（自制）</p>
<p>附子（七分）　石膏（五分）　羌活（一錢）　防風（一錢）　廣皮（一錢）　連翹（一錢五分）　葛根（二錢）　豆豉（三錢）　薄荷（一錢）　藿香（一錢）　姜皮（八分）　荷葉（一角）</p>
<p>瘧邪在營，間日一作者，和營雙解散主之。</p>
<p><u>和營雙解散</u>（自制）</p>
<p>當歸（二錢）　柴胡（一錢）　葛根（二錢）　廣皮（一錢）　半夏（一錢五分）　貝母（二錢）　茯苓（二錢）　防風（一錢）　薄荷（一錢）　蘇梗（一錢）　姜皮（八分）　河井水煎服。</p>
<p>大瘧在腑，三日一作者，返正湯主之。</p>
<p><u>返正湯</u>（自制）</p>
<p>當歸（二錢）　茯苓（二錢）　白朮（一錢）　炮姜（五分）　葛根（二錢）　廣皮（一錢）　半夏（一錢五分）　貝母（二錢）　砂仁（一錢）　青皮（一錢）</p>
<p>大瘧日久，正氣虛而邪未解者，斑龍托裡湯主之。</p>
<p><u>斑龍托裡湯</u>（自制）</p>
<p>陳鹿膠（一錢五分角霜炒）　制首烏（二錢）　當歸（二錢）　茯苓（二錢）　白朮（一錢）　廣皮（一錢）　半夏（一錢五分）　貝母（二錢）　砂仁（一錢）　黨參（四錢）　蘇梗（一錢五分）　大棗（二枚）　姜（三片）</p>
<p>冬令受寒，伏藏於腎，春夏舉發，寒變為熱，先熱後寒，名曰溫瘧，清正散主之。</p>
<p><u>清正散</u>（自制）</p>
<p>青蒿梗（一錢五分）　薄荷（一錢）　廣皮（一錢）　貝母（二錢）　葛根（二錢）　山梔（一錢五分）　連翹（一錢五分）　豆豉（三錢）　杏仁（三錢）　茅根（五錢）</p>
<p>肺素有熱，陽氣盛而不衰，故但熱而不寒，令人消爍脫肉，名曰癉瘧，玉露散主之。</p>
<p><u>玉露散</u>（自制）</p>
<p>玉竹（四錢）　花粉（二錢）　沙參（四錢）　麥冬（二錢）　石斛（三錢）　貝母（二錢）　杏仁（三錢）　茯苓（二錢）　山藥（三錢）　梨（三大片）</p>

<h3>附：瘧症門諸方</h3>
<p><u>白虎加桂枝湯</u>　治瘧身熱不寒，骨節煩疼，渴而作嘔。</p>
<p>石膏（一斤）　知母（六兩）　甘草（二兩）　粳米（二合）　桂枝（三兩）　每用五錢，水煎服。</p>
<p><u>蜀漆散</u>　治瘧之寒多熱少者。</p>
<p>蜀漆（燒去腥）　雲母（燒二日夜）　龍骨（等分）　研為末，未發前漿水服半錢。</p>
<p><u>牡蠣湯</u>　治牝瘧。</p>
<p>牡蠣（四兩）　麻黃（四兩）　甘草（二兩）　蜀漆（二兩）　水八升，先煮蜀漆、麻黃，去上沫，內諸藥，煎取二升，分溫服。</p>
<p><u>柴胡去半夏加栝蔞根湯</u>　治瘧發渴者，亦治勞瘧　。</p>
<p>柴胡（八兩）　人參（三兩）　黃芩（三兩）　甘草（三兩）　栝蔞根（四兩）　大棗（十二枚）　生薑（二兩）　水一斗二升，煎六升，分溫服。</p>
<p><u>柴胡桂薑湯</u>　治瘧寒多微熱，或但寒不熱。</p>
<p>柴胡（八兩）　桂枝（三兩）　乾薑（二兩）　黃芩（三兩）　花粉（四兩）　牡蠣（二兩）　甘草（二兩）　水一斗二升，煎取六升，分溫服。</p>
<p><u>鱉甲煎丸</u>　治久瘧結為癥瘕，名曰瘧母。</p>
<p>鱉甲（十二分）　烏扇（三分）　黃芩（三分）　柴胡（六分）　鼠婦（三分）　乾薑（三分）　大黃（三分）　白芍（五分）　桂枝（三分）　葶藶（三分）　石葦（三分去毛）　厚朴（三分）　丹皮（五分）　瞿麥（二分）　紫葳（三分）　半夏（二分）人參（一分）　虻蟲（五分）　阿膠（三分炙）　蜂房（四分炙）　赤硝（十二分）　蜣螂（六分）　桃仁（二分）　共研末，先用灶下灰一斗，清酒一斛五升，浸灰，候酒盡一半，濾去灰，納鱉甲於中，先煮極爛，取汁和藥末為丸，如梧子大，空心服七丸，日三服。</p>
<p><u>桂枝黃芩湯</u>　和法中兼解表熱。</p>
<p>柴胡（一兩二錢）　黃芩（四錢五分）　人參（四錢五分）　甘草（四錢五分）　半夏（四錢）　石膏（五錢）　知母（五錢）　桂枝（一錢）　水煎，分溫服。</p>
<p><u>人參柴胡引子</u>　和法中略施攻裡。</p>
<p>人參　柴胡　黃芩　甘草　大黃　當歸　白芍（各等分）　每用三錢，加生薑一片煎服。</p>
<p><u>柴樸湯</u>　治瘧起於暑濕，兼有食滯者。</p>
<p>柴胡（一錢）　獨活（一錢）　前胡（一錢）　黃芩（一錢）　蒼朮（一錢）　厚朴（一錢）　陳皮（一錢）　半夏（一錢）　茯苓（一錢）　藿香（二錢）　甘草（三分）　姜（三片）</p>
<p><u>祛瘧散</u>　治瘧表裡之邪已透，而中氣虛弱者。</p>
<p>黃耆（一錢六分）　人參（一錢）　茯苓（二錢）　白朮（一錢）　砂仁（一錢）　草果（五分）　陳皮（一錢）　五味（五分）　甘草（五分）　烏梅（二枚）　棗（二枚）　姜（三片）</p>
<p><u>二術柴胡湯</u>　統治諸瘧，視其表裡寒熱之輕重，酌量加減。</p>
<p>白朮（一錢）　蒼朮（一錢）　柴胡（一錢）　葛根（二錢）　廣皮（一錢）　甘草（五分）　棗（二枚）　姜（三片）</p>
<p><u>小柴胡湯</u>　治少陽瘧，量病加減。</p>
<p>柴胡（一錢）　半夏（一錢）　人參（一錢）　甘草（五分）　黃芩（一錢）　棗（二枚）　姜（三片）</p>
<p><u>半夏散</u>　治痰瘧熱多寒少，頭痛作吐，面色帶赤者。</p>
<p>半夏（一分）　藿香（一分）　羌活（一分）　川芎（一分）　牽牛（半分）　研細末，每用三錢，食後白湯調下。</p>
<p><u>四獸飲</u>　治久瘧脾胃虛弱，痰氣不清。</p>
<p>黨參（三錢）　茯苓（二錢）　白朮（一錢）　甘草（五分）　廣皮（一錢）　半夏（一錢）　烏梅（二枚）　草果（五分）　棗（二枚）　姜（三片）</p>
<p><u>常山飲</u>　瘧久不已者，用此截之。瘧本不可截止，姑錄三方，不過明古有是法耳。</p>
<p>常山（二錢酒炒）　草果（一錢煨）　檳榔（一錢）　知母（一錢）　貝母（一錢）　烏梅（一個）　酒水各半煎，露一宿，日未出面東空心溫服。</p>
<p><u>截瘧七寶飲</u>　治實瘧久發不止。</p>
<p>常山　草果　檳榔　青皮　厚朴　陳皮　甘草（等分）　酒水各半煎，露一宿，於當發之早，面東空心溫服。</p>
<p><u>二十四味斷瘧飲</u>　治久瘧。</p>
<p>常山　草果　檳榔　知母　陳皮　青皮　川芎　枳殼　柴胡　黃芩　荊芥　白芷　人參　紫蘇　蒼朮　白朮　半夏　良薑　茯苓　桂枝　葛根　甘草　杏仁　烏梅（各等分）　每用一兩姜三片。棗二枚，煎發日早服。</p>

<h2>黃癉</h2>
<p>經曰：面目發黃，小溲赤澀，安靜嗜臥者，黃癉也。此係脾有積濕，故倦怠嗜臥；胃有積熱，故發黃溺赤。但濕鬱內生，熱邪外感，故內經有開鬼門、潔淨府之法。開鬼門者，開其腠理，使熱邪從肌表出也；潔淨府者，瀉其膀胱，使濕邪從小便出也。然外感之熱，可從汗解，若陽明內蘊之熱，發汗則劫陰，而內熱更甚，只宜清胃熱，利脾濕，而汗吐下之法均不可用矣。至於陽黃、陰黃、谷癉、酒癉、女勞癉，種種不同，見證旋治，條列於後。</p>

<h3>陽黃</h3>
<p>面目發黃，口燥而渴，小溲赤澀，胃火熾盛，濕熱熏蒸，是為陽黃，導黃湯主之。</p>
<p><u>導黃湯</u>（自制）</p>
<p>葛根（二錢）　花粉（二錢）　山梔（一錢五分）　連翹（一錢五分）　木通（二錢）　茵陳（三錢）　萆薢（二錢）　茯苓（二錢）　澤瀉（一錢五分）　車前（二錢）　苡仁（一兩煎湯代水）</p>

<h3>陰黃</h3>
<p>面目發黃，身冷不渴，小便微黃而利，此為陰黃，茵陳朮附湯主之。</p>
<p><u>茵陳朮附湯</u>（自制）</p>
<p>茵陳（三錢）　白朮（二錢）　附子（一錢）　茯苓（二錢）　當歸（二錢）　廣皮（一錢）　半夏（一錢）　砂仁（一錢）　苡仁（八錢）　姜皮（八分）</p>

<h3>谷癉</h3>
<p>谷癉者，脾胃不和，食谷則眩，穀氣不消，胃中濁氣下流，小便不通，濕熱入於膀胱，身體盡黃，名曰谷癉，和中茵陳湯主之。</p>
<p><u>和中茵陳湯</u>（自制）</p>
<p>當歸（二錢）　茯苓（二錢）　白朮（一錢）　廣皮（一錢）　厚朴（一錢）　木香（五分）　砂仁（一錢）　茅朮（一錢）　山梔（一錢五分）　茵陳（三錢）　萆薢（二錢）　車前（二錢）　生穀芽（二錢）　熟穀芽（二錢）　生苡仁（五錢）　熟苡仁（五錢煎湯代水）</p>

<h3>酒癉</h3>
<p>酒癉者，平日嗜飲，濕火熏蒸，面目發黃，黃甚則黑，心中嘈雜，雖食甘芳，如啖酸辣，小便赤澀，茵陳玉露飲主之。</p>
<p><u>茵陳玉露飲</u>（自制）</p>
<p>茵陳（三錢）　玉竹（三錢）　石斛（三錢）　花粉（二錢）　葛根（二錢）　山梔（一錢五分）　廣皮（一錢）　半夏（一錢）　茯苓（二錢）　萆薢（二錢）　苡仁（一兩煎湯代水）</p>

<h3>女勞癉</h3>
<p>女勞癉者，膀胱急，小腹滿，身盡黃，額上黑，足下熱，大便黑而時溏。此因血瘀不行，積於膀胱少腹，故仲景用硝石礬石散，峻攻其瘀，自極精當。但今人之體質，遠不逮古人，若復峻攻，更傷元氣。擬通利下焦兼去瘀之法，桃花化濁湯主之。</p>
<p><u>桃花化濁湯</u>（自制）</p>
<p>桃仁（二錢）　紅花（五分）　牛膝（二錢）　延胡索（一錢）　歸尾（一錢五分）　赤芍（一錢）　丹參（二錢）　茵陳（三錢）　澤瀉（一錢五分）　車前（二錢）　降香（五分）　血餘灰（一撮）</p>

<h4>附：黃癉門諸方</h4>
<p><u>大黃梔子湯</u>　治黃癉熱甚脈實者。</p>
<p>梔子（十四枚）　大黃（一兩）　枳實（五枚）　豆豉（一升）　水六升，煎至二升，分溫服。</p>
<p><u>茵陳蒿湯</u>　治黃癉濕熱俱盛者。</p>
<p>茵陳蒿（六兩）　梔子（十四枚）　大黃（二兩）　水六升，煎至二升，分溫服。</p>
<p><u>茵陳四逆湯</u>　治陰黃肢體逆冷，腰以上自汗。</p>
<p>茵陳（二兩）　乾薑（一兩五錢）　附子（一枚切）　甘草（一兩炙）　水煎，分溫服。</p>
<p><u>小茵陳湯</u>　治發黃，脈沉細遲，四肢及遍身冷。</p>
<p>茵陳（二兩）　附子（一枚）　甘草（一兩炙）　水煎，分溫服。</p>
<p><u>茵陳附子湯</u>　治服四逆湯，身冷汗不止者。</p>
<p>茵陳（一兩五錢）　附子（一枚切）　乾薑（二兩五錢）　水煎，分溫服。</p>
<p><u>茵陳茱萸湯</u>　治服茵陳附子湯，症未退及脈伏者。</p>
<p>茵陳（一兩五錢）　吳萸（一兩）　當歸（一兩）　附子（一枚）　木通（一兩）　乾薑（一兩）　水煎，分溫服。</p>
<p><u>茵陳橘皮湯</u>　治身黃，脈沉細數，身熱而手足寒，嘔喘，煩躁不渴者。</p>
<p>茵陳（一兩）　橘皮（一兩）　生薑（一兩）　白朮（一兩）　半夏（五錢）　茯苓（五錢）　水四升，煮取二升，分溫服。</p>
<p><u>茵陳茯苓湯</u>　治發黃，脈沉細數，四肢冷，小便澀，煩躁而渴。</p>
<p>茵陳（一兩）　茯苓（一兩）　桂枝（一兩）　豬苓（一兩）　滑石（一兩五錢）　研末，每服五錢。如脈未出加當歸。</p>
<p><u>梔子大黃湯</u>　治酒癉心中懊憹或熱痛。</p>
<p>山梔（十四枚）　大黃（一兩）　枳實（五枚）　豆豉（一升）　水六升，煮二升分溫服。</p>
<p><u>白朮湯</u>　治酒癉因下後變為黑癉，目青面黑，心中如啖蒜齏，大便黑皮膚不仁，脈微而數。</p>
<p>白朮（一錢）　桂心（五分）　枳實（一錢）　豆豉（三錢）　葛根（二錢）　杏仁（二錢）　甘草（五分炙）　水煎服。</p>
<p><u>加味四君子湯</u>　治色癉。</p>
<p>人參（一錢）　茯苓（二錢）　甘草（五分）　白朮（一錢）　黃耆（二錢）　白芍（一錢）　扁豆（三錢）　紅棗（二枚）　姜（五片）</p>
<p><u>小菟絲子丸</u>　治女勞癉。</p>
<p>石蓮肉（二兩）　茯神（一兩）　菟絲子（五兩）　山藥（三兩）　共研末，山藥打糊為丸，如梧子大，每服五十丸。</p>
<p><u>茯苓滲濕湯</u>　治黃癉，寒熱嘔吐，渴欲飲水，身體面目俱黃，小便不利。</p>
<p>茵陳（二錢）　茯苓（二錢）　豬苓（一錢）　澤瀉（一錢五分）　白朮（一錢）　陳皮（一錢）　蒼朮（一錢）　黃連（五分）　山梔（一錢）　秦艽（一錢）　防己（一錢）　葛根（二錢）　水煎服。</p>
<p><u>參朮健脾湯</u>　治發黃日久，脾胃虛弱，飲食不思。</p>
<p>人參（一錢）　茯苓（二錢）　白朮（一錢）　陳皮（一錢）　當歸（一錢五分）　白芍（一錢）　甘草（五分）　姜（三片）　棗（二枚）</p>
<p><u>當歸秦艽散</u>　治五癉，口淡，咽乾，倦怠，發熱，微冷。</p>
<p>白朮（一錢）　茯苓（二錢）　秦艽（一錢）　當歸（一錢五分）　川芎（一錢）　白芍（一錢）　熟地（三錢）　陳皮（一錢）　半夏曲（三錢炒）　甘草（五分）　姜（三片）</p>
<p><u>茵陳附子乾薑湯</u>　治寒涼藥服多，變陰黃者。</p>
<p>附子（一錢）　乾薑（一錢）　茵陳（二錢）　草蔻（一錢）　白朮（一錢）　枳實（一錢）　半夏（一錢）　澤瀉（一錢五分）　茯苓（二錢）　廣皮（一錢）　姜（五片）</p>
<p><u>一清飲</u>　治癉症發熱。</p>
<p>柴胡（一錢）　赤苓（二錢）　桑皮（二錢）　川芎（一錢）　甘草（五分）　紅棗（二枚）　姜（三片）</p>
<p><u>青龍散</u>　治風氣傳化，氣不得泄，鬱熱煩渴，面目發黃，引飲。</p>
<p>地黃（二錢）　仙靈脾（二錢）　防風（二錢）　荊芥（一兩）　何首烏（三錢）　研末，每服三錢。</p>
<p><u>小柴胡加梔子湯</u>　治邪熱留於半表半里而發黃者，仍以和其表裡為法。</p>
<p>柴胡（一錢）　黃芩（一錢）　人參（一錢）　甘草（五分）　半夏（一錢）　梔子（一錢五分）　大棗（二枚）　生薑（三片）　水煎服。</p>

<h2>三消</h2>
<p>上消者，肺病也。肺氣焦滿，水源已竭，咽燥煩渴引飲不休，肺火熾盛陰液消亡，當於大隊清潤中，佐以滲濕化痰之品。蓋火盛則痰燥，其消爍之力，皆痰為之助虐也，逢原飲主之。</p>
<p><u>逢原飲</u>（自制）</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　南沙參（四錢）　北沙參（三錢）　胡黃連（五分）　石斛（三錢）　玉竹（三錢）　蛤粉（四錢）　貝母（二錢）　茯苓（三錢）　廣皮（一錢）　半夏（一錢五分）　梨汁（半杯沖服）</p>
<p>中消者，胃病也。胃為谷海，又屬燥土，痰入胃中，與火相乘，為力更猛，食入即腐，易於消爍，經所謂除中，言常虛而不能滿也。宜清陽明之熱，潤燥化痰，祛煩養胃湯主之。</p>
<p><u>祛煩養胃湯</u>（自制）</p>
<p>鮮石斛（五錢）　石膏（四錢）　天花粉（三錢）　南沙參（四錢）　麥冬（二錢）　玉竹（四錢）　山藥（三錢）　茯苓（三錢）　廣皮（一錢）　半夏（一錢五分）　甘蔗（三兩煎湯代水）</p>
<p>下消者，腎病也。坎之為象，一陽居於二陰之中。腎陰久虧，孤陽無依，不安其宅，於是飲一溲一，或飲一溲二，夾有濁淋，腿股枯瘦，而病益深矣。急宜培養真陰，少參以清利，烏龍湯主之。</p>
<p><u>烏龍湯</u>（自制）</p>
<p>元武版（八錢）　生地（六錢）　天冬（二錢）　南沙參（四錢）　蛤粉（四錢）　女貞（二錢）　料豆（三錢）　山藥（三錢）　茯苓（二錢）　澤瀉（一錢五分鹽水炒）　車前（二錢）　藕（三兩煎湯代水）</p>

<h3>附：消渴門諸方</h3>
<p><u>金匱腎氣丸</u>　治男子消渴，小便反多飲一溲一。</p>
<p>地黃（八兩）　萸肉（四兩）　山藥（四兩）　丹皮（三兩）　茯苓（三兩）　澤瀉（三兩）　肉桂（一兩）　附子（一兩）　牛膝（三兩）　車前（三兩）　每用五錢，水煎服。</p>
<p><u>文蛤散</u>　治渴欲飲水不止者。</p>
<p>文蛤　研為末，以沸湯五合，和服一方寸匙。</p>
<p><u>竹葉黃耆湯</u>　治消渴症氣血虛，胃火盛而作渴。</p>
<p>生地（三錢）　黃耆（二錢）　麥冬（一錢）　當歸（一錢）　川芎（一錢）　黃芩（一錢）　甘草（一錢）　白芍（一錢）　人參（一錢）　石膏（三錢）　半夏（一錢）　竹葉（一錢）　淨水煎服。</p>
<p><u>地黃飲子</u>　治消渴，咽乾，面赤，煩躁。</p>
<p>生地　熟地　人參　黃耆　天冬　麥冬　枳殼　石斛　澤瀉　甘草　枇杷葉（各等分）　每服五錢，食遠服。</p>
<p><u>白朮散</u>　治虛熱而渴。</p>
<p>人參（一兩）　白朮（一兩）　茯苓（一兩）　甘草（一兩）　五味（三錢）　柴胡（三錢）　葛根（二兩）　藿香（一兩）　木香（一兩）　研末，每服五錢，水煎服。</p>
<p><u>宣明黃耆湯</u>　治心移熱於肺，為肺消，飲少溲多。</p>
<p>黃耆（三兩）　五味（二兩）　人參（二兩）　麥冬（二兩）　桑皮（二兩）　熟地（一兩五錢）　枸杞（一兩五錢）　研末，每服五錢，水煎服。</p>
<p><u>宣明麥門冬飲子</u>　治心熱移於肺，傳為膈消，胸滿心煩，精神短少。</p>
<p>人參　茯神　麥冬　五味　生地　炙甘草　知母　葛根　花粉（各等分）　每服五錢，加竹葉十四片，水煎服。</p>
<p><u>易老麥門冬飲子</u></p>
<p>人參　杞子　茯苓　甘草　五味　麥冬（各等分）　姜水煎服。</p>
<p><u>豬肚丸</u>　治強中消渴。</p>
<p>黃連（四兩）　粟米（四兩）　花粉（四兩）　茯神（四兩）　知母（二兩）　麥冬（二兩）　地黃（四兩）　葛根（二兩）　研細末，將大豬肚一個洗淨，入末藥於內，以麻線縫好，煮極爛，取出藥別研，以豬肚為膏，加煉蜜搗為丸，如梧子大，每服五十丸。</p>
<p><u>天門冬丸</u>　治初得消中，食已如飢，手足煩熱，背膊疼悶，小便白濁。</p>
<p>天冬（一兩五錢）　土瓜根（一兩五錢）　栝蔞根（一兩五錢）　熟地（一兩五錢）　知母（一兩五錢）　蓯蓉（一兩五錢）　五味（一兩）　鹿茸（一架）　澤瀉（一兩五錢）　雞內金（三具）　牡蠣（二兩）　苦參（一兩）　桑螵蛸（十枚）　蜜丸如梧子大，每服五十丸。</p>
<p><u>豬腎薺苨湯</u>　治消中，小便數。</p>
<p>豬腎（二枚）　薺苨（三兩）　黑大豆（二斤）　石膏（三兩）　人參（二兩）　茯苓（二兩）　知母（二兩）　葛根（二兩）　黃芩（二兩）　磁石（二兩）　天花粉（二兩）　甘草（二兩）　水一斗五升，先煮豬、腎、大豆，取一斗，下藥，煮至五升，分溫服。</p>
<p><u>腎瀝散</u>　治腎消發渴，小便數，腰疼痛。</p>
<p>人參（一兩）　遠志（一兩）　綿黃耆（一兩）　雞內金（五錢）　桑螵蛸（一兩）　澤瀉（一兩）　肉桂心（五錢）　熟地黃（一兩）　白茯苓（一兩）　龍骨（一兩）　當歸（一兩）　麥門冬（一兩）　川芎（一兩）　五味子（五錢）　炙甘草（五錢）　元參（五錢）　磁石（五錢）　研末，用羊腎一對先煎，次入藥五錢，姜五分，煎服。</p>

<h1>卷四</h1>

<h2>痿</h2>
<p>經言諸痿皆起於肺。說者謂肺氣空虛，金不伐木，肝火鬱結，大筋短縮，小筋弛長，故成痿症，此特可為筋痿言之耳。至於脈痿、肉痿、骨痿，豈得謂之金不伐火、金不伐土、金不伐水乎？是必不然矣。解經者不必過事高深，但求諦當。經又曰：治痿獨取陽明。只此一節，便可知肺胃相關，諸痿起於肺，治痿重陽明之故。蓋胃為水穀之腑，一身之精神氣血，從此而生。其糟粕則下歸小腸；其精華則上輸於肺，肺受精氣，然後澤及諸臟。茲以所求不得，躁急熱中，肺受熏蒸，葉焦成痿，不能散精於他臟，故痿起於肺也。其獨取陽明者，因胃為五臟六腑之海，所以滋養一身，又主潤宗筋，宗筋主束骨而利關節也。從此悟徹，則五臟之痿，可以次第區別矣。</p>
<p>經曰：肺熱葉焦，則皮毛虛弱急薄，著則生痿躄也。其下又曰：所求不得，則發肺鳴，鳴則肺熱葉焦。則此症全因肺陰耗散，肺氣空虛所致。蓋肺為主氣之臟，肺傷則元氣薄弱而不能下行，故足膝無力而不能任地，是肺痿即氣痿也，玉華煎主之。</p>
<p><u>玉華煎</u>（自制）</p>
<p>玉竹（四錢）　五味子（一錢）　麥冬（三錢）　沙參（四錢）　黨參（四錢）　茯苓（二錢）　白朮（一錢）　山藥（三錢）　川斷（二錢）　牛膝（二錢）　元米（一撮煎湯代水）</p>
<p>經曰：心氣熱則下脈厥而上，上則下脈虛，虛則生脈痿，樞折挈，脛縱而不任地也。百脈皆朝於心，心陽上亢，則在下之脈亦厥逆而上，上愈實則下愈虛，故為脈痿。關節之處，如樞紐之折而不可提挈。足脛縱緩，則脈不通而懈弛也。調營通脈湯主之。</p>
<p><u>調營通脈湯</u>（自制）</p>
<p>天冬（二錢）　生地（五錢）　丹參（二錢）　柏仁（二錢）　黨參（四錢）　茯神（二錢）　白朮（一錢）　黃連（四分酒炒）　當歸（二錢）　川斷（二錢）　牛膝（二錢）　紅棗（十枚）　桑枝（一尺）</p>
<p>經曰：肝氣熱則膽泄口苦，筋膜乾，筋膜乾則筋急而攣，發為筋痿。肝膽相連，肝熱則膽亦熱，膽汁內沸，故發為口苦。血為火劫，不能養筋，筋急而攣，故為筋痿也。水木華滋湯主之。</p>
<p><u>水木華滋湯</u>（自制）</p>
<p>生地（五錢）　當歸（二錢）　白芍（一錢五分）　丹皮（二錢）　山梔（一錢五分）　羚羊角（一錢五分）　木瓜（一錢酒炒）　黨參（四錢）　茯苓（二錢）　白朮（一錢）　川斷（二錢）　牛膝（二錢）　人乳（一杯）　桑枝（一尺）</p>
<p>經曰：脾氣熱則胃干而渴，肌肉不仁，發為肉痿。脾與胃皆屬土，而分燥濕，濕土既熱，則燥土更烈，故胃干而渴。熱鬱於內，則脾陰耗損，故肉不仁而為痿也。坤順湯主之。</p>
<p><u>坤順湯</u>（自制）</p>
<p>黨參（四錢）　茯苓（二錢）　白朮（一錢）　甘草（四分）　山藥（三錢）　花粉（三錢）　石斛（三錢）　料豆（三錢）　川斷（二錢）　牛膝（二錢）　紅棗（五枚）　蓮子（十粒去心）</p>
<p>經曰：腎氣熱則腰脊不舉，骨枯而髓減，發為骨痿。又曰：有所遠行勞倦，逢大熱而渴，渴則陽氣內伐，內伐則熱舍於腎；腎者，水臟也，今水不勝火，則骨枯而髓虛，故足不任身，發為骨痿。腰者腎之府，脊者腎之所貫，腎傷故腰脊不舉。遠行勞倦則傷骨。逢大熱而渴者，或外感之熱，或內蘊之熱，皆消陰耗髓，故骨枯而痿也。滋陰補髓湯主之。</p>
<p><u>滋陰補髓湯</u>（自制）</p>
<p>生地（五錢）　龜版（八錢）　黃柏（一錢鹽水炒）　知母（一錢鹽水炒）　虎脛骨（一錢五分炙）　當歸（二錢）　黨參（四錢）　枸杞（三錢）　白朮（一錢）　金毛脊（一錢五分）　茯苓（二錢）　牛膝（二錢）　川斷（二錢）　豬脊髓（一條同煎）</p>

<h2>痹</h2>
<p>經曰：風寒濕三氣雜至，合而為痹也。夫六淫之邪，暑燥火為陽，風寒濕為陰，陰氣迭乘，營衛不通，經脈阻滯，筋骨肉三部俱病，而三痹之症作矣。其風氣勝者為行痹。風為陰中之陽，中人最速其性善走，竄入經絡，故歷節作痛而為行痹。寒氣勝者為痛痹。寒為陰中之陰，乘於肌肉筋骨之間，營衛閉塞，筋骨拘攣，不通則痛故為痛痹。濕氣勝者為著痹。著者重著難移。濕從土化，病在肌肉不在筋骨，所謂腰間如帶五千錢者是也。古有三痹湯，今復自制三方，以附於後。</p>
<p>風痹者，血不營筋，風入節絡，當以養血為第一，通絡次之，去風又次之。若不補血而先事搜風，營愈燥而筋益拘攣，殊非治法。先用大劑補血去風，後即加入參、苓白朮以補氣分，營衛平調，方無偏勝之患。溫經養營湯主之。</p>
<p><u>溫經養營湯</u>（自制）</p>
<p>生地（三錢切片紅花炒）　熟地（三錢切片砂仁炒）　白芍（一錢五分酒炒）　當歸（二錢）　枸杞（三錢）　鹿筋（五錢切片）　木瓜（一錢酒炒）　川斷（二錢）　獨活（一錢酒炒）　桂枝（五分）　秦艽（一錢）　甜瓜子（三錢炒研）　木香（五分）　紅棗（十枚）　姜（三片）　桑枝（一尺）</p>
<p>風氣勝者為行痹，去風必先養血。本方以鹿筋、枸杞為主藥，以歸、芍、二地大養陰血，以桂枝、薑、棗調和營衛，以川斷、獨活、秦艽、桑枝、木瓜、甜瓜子搜風通絡，再加一味木香以調氣。立方已極周匝，而先生尚有風去血活之後，減輕風藥，再加補氣藥之叮嚀，可見良醫之用心無微不至矣。祖怡注。</p>
<p>痛痹者，營衛受寒，不通而痛，宜調養氣血，溫通經絡，龍火湯主之。</p>
<p><u>龍火湯</u>（自制）</p>
<p>蓯蓉（三錢）　肉桂（五分）　黨參（四錢）　茯苓（二錢）　白朮（一錢）　當歸（二錢酒炒）　白芍（一錢酒炒）　木香（五分）　川斷（二錢）　獨活（一錢酒炒）　角霜（四錢）　蠶砂（三錢）　紅棗（十枚）　姜（三片）</p>
<p>寒氣勝者為痛痹，止痛必先去寒。角霜、蓯蓉、肉桂，是本方之主藥。參、朮、苓以補氣，歸、芍以養血，川斷、獨活、蠶砂以去風寒濕，薑、棗、木香調營衛之氣。著重在龍火，而寒無立足之地矣。祖怡注。</p>
<p>著痹者，病在肌肉當補土燥濕，立極湯主之。</p>
<p><u>立極湯</u>（自制）</p>
<p>黨參（四錢）　附子（六分）　當歸（二錢）　茯苓（三錢）　白朮（一錢）　茅朮（一錢）　破故紙（一錢五分）　杜仲（二錢）　川斷（二錢）　獨活（一錢）　牛膝（二錢）　紅棗（五枚）　姜（三片）　苡仁（一兩煎湯代水）</p>
<p>濕氣勝者為著痹，去濕必先崇土。濕勝必先陽微，附子、茅朮、故紙是本方之主藥。以參、苓、白朮助主藥以回陽而扶土。病雖在肌肉，亦不能置筋骨而不問，仲、斷、獨活、苡仁健筋骨，而未嘗無益於肌肉。以當歸、牛膝、薑、棗利血脈而和營衛，著重在扶陽氣以勝濕。　三痹多起於營衛不通，故俱用薑、棗，而當歸、川斷、獨活，亦為必不可少之要藥。祖怡注。</p>
<p>三痹之外，又有臟腑之痹，症治詳後。</p>
<p>肺痹者，煩滿喘而嘔。此一條明是肺胃同病。肺居至高，脈循胃口，肺氣受邪，從胃而上，清肅之令不能下行，故煩滿而喘。其作嘔，則胃亦受邪，水穀之氣不安也。桑樸湯主之。</p>
<p><u>桑樸湯</u>（自制）</p>
<p>桑皮（二錢）　厚朴（一錢）　橘紅（一錢）　半夏（一錢）　茯苓（二錢）　沉香（五分）　蘇子（一錢五分）　杏仁（三錢）　蔞皮（二錢）　貝母（二錢）　鬱金（二錢）　佛手（五分）　姜（三片）</p>
<p>桑樸湯，命名以桑皮瀉肺、厚朴平胃為主藥。用《金匱》半夏厚朴湯全方，以蘇子易蘇葉。彼治咽中如有炙臠，此治煩滿喘而嘔，皆所以利氣。橘紅、蔞皮、杏仁宣肺化痰，沉香、鬱金、佛手和胃利氣，貝母通治痰鬱。其中厚朴、杏仁治喘，厚朴治滿，半夏治嘔，皆長沙古法。肺胃同治，先生始終不肯放鬆一嘔字。祖怡注。</p>
<p>心痹者，脈不通，煩則心下鼓，暴上氣而喘，嗌乾善噫，厥氣上則恐。此一條乃心經主病而兼腎病也。心為生血之臟，百脈皆朝於心。心脈支者挾咽，直者上肺。心營不足，故脈不通。心氣不舒，故心下鼓，暴上氣而喘。嗌乾善噫，則支脈與直脈俱病也。厥氣乃腎之邪，水來剋火，神衰而恐。恐屬於腎，腎病應於心，故為兼病也。宜養心營，通心氣，火能生土，則可以制水矣。通陽抑陰煎主之。</p>
<p><u>通陽抑陰煎</u>（自制）</p>
<p>當歸（二錢）　琥珀（一錢）　辰砂（五分）　丹參（三錢）　遠志（五分甘草水炒）　沉香（五分）　破故紙（一錢五分）　益智仁（一錢）　茯神（二錢）　白朮（一錢）　棗（二枚）　姜（三片）</p>
<p>本方以辰砂、琥珀為主藥，而以茯神、遠志安心氣，以丹參、當歸養心血，白朮、薑、棗扶脾而和營衛，故紙益智、沉香溫命門而通腎氣。心脾之血相通，心腎之氣相合。上方沉香同鬱金則治肺，此方沉香同琥珀則治心氣痹，瀉之即所以安之也。祖怡注。</p>
<p>肝痹者，夜臥則驚，多飲，數小便，上為引，如懷。此一條乃肝經主病，而波及脾胃者也。肝為多血之臟，而主藏魂。肝受邪則魂不安，而夜臥驚悸。木鬱生火，積而成熱，故多飲而小便數也。上為引者，渴而引飲也。如懷者，腹大如懷物也。此由肝火上升犯胃，故胃熱而渴；肝氣下行克脾，故脾弱而脹也。宜養血疏肝，兼調脾胃，三靈湯主之。</p>
<p><u>三靈湯</u>（自制）</p>
<p>當歸（二錢）　白芍（一錢）　羚羊角（一錢五分）　龍齒（二錢）　石決（六錢）　半夏曲（三錢）　柴胡（一錢）　葛根（二錢）　茯神（二錢）　白朮（一錢）　青皮（一錢）　冬瓜子（三錢煎湯代水）</p>
<p>本方以羚羊、龍齒、石決為主藥，故名為三靈。當歸、白芍是肝家之血藥，柴胡、青皮是肝家之氣藥，茯神、白朮以顧心脾。肝非心不靈，肝病先實脾。葛根、半夏曲、冬瓜子所以和胃，胃和而肝不能犯，肝病除而脾胃安矣。祖怡注。</p>
<p>腎痹者，善脹，尻以代踵，脊以代頭。舊解謂腎為脾胃之關，腎痹則邪及脾胃，故腹善脹。尻以代踵者，足攣不能伸。脊以代頭者，身僂不能直。此說近似而未暢。蓋善脹者，乃腎中真陽不運，重陰凝結所致。尻以代踵者，緣少陰之脈斜走足心，出於然谷之下，循內踝之後，別入跟中，腎痹則兩足廢而不能行也。脊以代頭者，乃精氣耗散，天柱不振也。當發腎中之陽，使重陰解散，精氣來復，庶幾首與足漸有起色。消陰來復湯主之。</p>
<p><u>消陰來復湯</u>（自制）</p>
<p>鹿茸（一錢）　附子（八分）　枸杞（三錢）　菟絲（四錢）　當歸（二錢）　破故紙（一錢五分）　益智仁（一錢）　小茴香（一錢）　牛膝（二錢）　木香（五分）　獨活（一錢酒炒）　金毛脊（二錢去毛切片）　棗（二枚）　姜（三片）</p>
<p>腎中之陽，命門也，督脈也。鹿茸血肉有情，善能補督脈，天柱骨督脈所主也。附子補腎陽要藥，枸、菟能補八脈，故紙溫腎命，益智溫脾腎，當歸、薑、棗和營衛，毛脊健脊足，二香溫胃腸，獨活、牛膝健兩足。痹為陰病，陰盛必傷陽，救陽不得不用溫補溫通，此原則也，亦定法也。祖怡注。</p>
<p>脾痹者，四肢懈惰，發咳嘔汁，上為大塞。此一條乃脾病而兼肺胃病也。脾主四肢，脾病故四肢懈惰。土敗則金衰，故發咳。脾病則胃亦病，故嘔汁。地氣不升，天氣不降，乾金之令不行，故上為大塞也。安貞湯主之。</p>
<p><u>安貞湯</u>（自制）</p>
<p>黨參（四錢）　炮姜（六分）　當歸（二錢）　半夏（一錢）　茯苓（三錢）　白朮（一錢）　厚朴（一錢）　砂仁（一錢）　桑皮（二錢）　杏仁（三錢）　蘇子（一錢五分）　陳香櫞皮（六分）</p>
<p>本方以理中、四君去甘草，加當歸以活血補血，桑皮蘇子、杏仁以瀉肺，厚朴、砂仁、香櫞以利氣。寒去肺開，氣順而大塞通矣。祖怡注。</p>
<p>腸痹者，數飲而出不得，中氣喘爭，時發飧泄。小腸上通胃口，下接大腸。病在小腸，鬱而成熱，故渴而數飲。下焦之氣閉塞不通，故小溲不得出。氣化不及膀胱，水不下行，逆而犯肺，故中氣喘爭。小水不入州都，而併入大腸，故時發飧泄也。加味木通湯主之。</p>
<p><u>加味木通湯</u>（自制）</p>
<p>木通（二錢）　橘紅（一錢）　半夏（一錢五分）　赤苓（二錢）　貝母（二錢）　桑皮（二錢）　杏仁（三錢）　瞿麥（二錢）　牛膝（二錢）　車前（二錢）　燈芯（三尺）</p>
<p>本方以木通為主藥，即認定腸為小腸也。心與小腸為表裡，而赤苓、車前、瞿麥、燈芯、牛膝莫非利濕之品，使鬱熱從水道而去，即所以治數飲而出不得也，水穀分而飧泄止矣。氣喘不免有痰阻，半、貝、橘、杏化痰。即所以通氣而平喘也。祖怡注。</p>
<p>胞痹者，少腹膀胱按之內痛，若沃以湯，澀於小便，上為清涕。膀胱氣閉，水液滿而不出，故按之內痛。氣有餘則生火，內有熱，故如湯之沃也。足太陽之脈，起於目內眥，上額交巔，其直者從巔入絡腦。膀胱氣閉，故小便下澀，清涕上流也。利濟湯主之。</p>
<p><u>利濟湯</u>（自制）</p>
<p>澤瀉（一錢五分）　沉香（五分）　枳殼（一錢）　青皮（一錢）　赤苓（二錢）　當歸（二錢）　赤芍（一錢）　廣皮（一錢）　牛膝（二錢）　車前（二錢）　小薊根（五錢）</p>
<p>膀胱，太陽寒水之腑也。按之內痛。澀於小便，不但水停不肯去，亦且有蓄血為之阻。澤瀉、赤苓、車前所以去停水；當歸、赤芍、牛膝、小薊所以行蓄血；沉香、枳殼、青陳皮所以利氣，氣利則停水蓄血亦必隨之而去矣。祖怡注。</p>
<p>痹證一門，立方雖不多，而選藥則極有尺度。蓋痹之為害，氣血不通也。十方之中，八方皆用當歸，氣味俱厚，能行能補，血中氣藥，無出當歸之右，先生重用之，即所以重視之也。惟桑樸湯、木通湯二方不用者，以其病不在血也。用沉香者有桑樸湯、抑陰煎、利濟湯三方，以氣痹已極，非枳、樸、香、砂、鬱金、小茴、青、陳、櫞、蘇、杏所能勝任，惟有沉香之大力，能摧枯拉朽，無堅不破也。虛證之所大忌，即實證之大將也。初學於此等處，必須深入研究。祖怡又注。</p>

<h3>附：痹症門諸方</h3>
<p><u>三痹湯</u>　治手足拘攣，風寒濕三痹。</p>
<p>人參　黃耆　當歸　川芎　白芍　生地　杜仲　川斷　防風　桂心　細辛　茯苓　秦艽　川膝　獨活　甘草　棗（一枚）　姜（三片）</p>
<p><u>桂枝五物湯</u>　治痹在上。</p>
<p>黃耆（三兩）　桂枝（三兩）　白芍（三兩）　生薑（六兩）　大棗（十二枚）　水煎，分溫服。</p>
<p><u>十味銼散</u>　治痛連筋骨，肩臂難支。</p>
<p>附子（一錢）　黃耆（二錢）　當歸（二錢）　川芎（一錢）　白芍（一錢五分）　防風（一錢）　白朮（一錢）　茯苓（二錢）　肉桂（五分）　熟地（四錢）　棗（二枚）　姜（三片）</p>
<p><u>薏苡仁湯</u>　治痹在手足，麻木不能屈伸。</p>
<p>薏苡仁（四錢）　當歸（二錢）　白芍（一錢五分）　肉桂（五分）　麻黃（五分）　甘草（五分）　蒼朮（一錢）　棗（二枚）　姜（三片）</p>
<p><u>通痹散</u>　治痹在身半以下，兩足至臍冷如冰，不能自舉者。</p>
<p>天麻　獨活　當歸　川芎　白朮　藁本（等分）　研末，每用三錢酒調服。</p>
<p><u>人參丸</u>　治痹在脈</p>
<p>人參（一兩）　麥冬（一兩）　茯神（一兩）　石脂（一兩）　龍齒（一兩）　遠志（一兩）　菖蒲（一兩）　黃耆（一兩）　熟地（二兩）　蜜為丸，如梧子大，每服三五十丸。</p>
<p><u>栝蔞薤白湯</u>　治胸痹不得臥，心痛徹骨。</p>
<p>栝蔞實（一枚）　薤白（三兩）　半夏（三兩）　白酒四升，同煮取一升半，分溫服。</p>
<p><u>腎瀝湯</u>　治胞痹，小腹急痛，小便赤澀。</p>
<p>麥冬（一錢）　五加皮（一錢）　犀角（一錢）　杜仲（二錢五分）　桔梗（二錢五分）　赤芍（二錢五分）　木通（二錢五分）　桑螵蛸（一兩）　加羊腎一枚，竹瀝少許，同煎，分溫服。</p>
<p><u>吳茱萸散</u>　治腸痹，腹痛氣急，大便飧泄。</p>
<p>吳萸（五錢）　乾薑（五錢）　甘草（五錢）　砂仁（一兩）　神麯（一兩炒）　肉蔻（五錢）　白朮（一兩）　厚朴（一兩）　陳皮（一兩）　良薑（五錢）　研末，每服一錢，食前米飲下。</p>
<p><u>羚羊角散</u>　治筋痹，肢節束痛。</p>
<p>羚羊角　薄荷　附子　獨活　白芍　防風　川芎（等分）　姜（三片）</p>
<p><u>羌活湯</u>　治皮痹，皮中狀如蟲行，腹脅脹滿，大腸不利，語不出聲。</p>
<p>羌活　細辛　附子　沙參　羚羊角　白朮　五加皮　生地　官桂　枳殼　麻黃　杏仁　白蒺藜　丹參　萆薢　五味　菖蒲　木通　郁李仁　檳榔　赤苓（各等分）　姜（五片）　水煎，分溫服。</p>
<p><u>升麻湯</u>　治熱痹，肌肉極熱，體上如鼠走，唇口反縮，皮毛變紅黑。</p>
<p>升麻（一錢）　人參（一錢）　茯神（二錢）　犀角（一錢）　羚羊角（一錢）　官桂（三分）　防風（五分）　羌活（五分）　姜（三片）　竹瀝（半杯）</p>
<p><u>巴戟湯</u>　治冷痹，腳膝疼痛，行步艱難。</p>
<p>巴戟天（二錢）　附子（五分）　五加皮（二錢）　川牛膝（一錢五分）　石斛（二錢）　甘草（五分）　萆薢（一錢）　茯苓（二錢）　防風（一錢）　防己（一錢）　姜（三片）</p>
<p><u>犀角散</u>　治心痹，神情恍惚，恐畏悶亂，不得睡，及語言錯亂。</p>
<p>犀角（一錢）　羚羊角（一錢）　人參（二錢）　沙參（三錢）　防風（一錢）　天麻（一錢）　天竺黃（一錢）　茯神（二錢）　升麻（一錢）　獨活（一錢）　遠志（一錢）　麥冬（一錢三分）　甘草（一錢）　龍齒（一錢）　丹參（一錢）　牛黃（一分）　麝香（一分）　冰片（一分）　研末，每服一錢五分，麥冬湯調服。</p>
<p><u>人參散</u>　治肝痹，氣逆，胸膈引痛，睡臥多驚，筋脈拘急。</p>
<p>人參（一兩）　黃耆（一兩）　杜仲（一兩）　棗仁（一兩）　茯神（一兩）　五味（一兩）　細辛（一兩）　熟地（一兩）　秦艽（一兩）　羌活（一兩）　丹砂（五錢）　每服一錢，不拘時調服。</p>
<p><u>溫中法曲丸</u>　治脾痹發咳嘔涎。</p>
<p>法曲（一兩）　麥芽（一兩）　茯苓（一兩）　陳皮（一兩）　厚朴（一兩）　枳實（一兩）　人參（五錢）　附子（五錢）　乾薑（五錢）　當歸（一兩）　甘草（五錢）　細辛（五錢）　桔梗（五錢）　吳萸（三錢）　研末，蜜丸如梧子大，每服七十丸。</p>
<p><u>紫蘇湯</u>　治肺痹，上氣不下。</p>
<p>紫蘇（一錢）　半夏（一錢）　陳皮（一錢）　桂心（五分）　人參（五分）　白朮（一錢）　甘草（三分）　姜（三片）　棗（二枚）</p>
<p><u>牛膝酒</u>　治腎痹，復感寒濕。</p>
<p>牛膝（一兩）　秦艽（一兩）　川芎（一兩）　防己（一兩）　茯苓（一兩）　官桂（一兩）　獨活（一兩）　丹參（一兩）　麥冬（一兩）　五加皮（四兩）　石斛（一兩）　杜仲（一兩）　附子（五錢）　乾薑（五錢）　苡仁（一兩）　地骨皮（五錢）　火麻仁（一兩）　好酒一斗，浸三五日，每服半杯。</p>

<h2>脹</h2>
<p>經曰：厥氣在下，營衛留止，寒氣逆上，真邪相攻，兩氣相搏，乃合為脹。一則曰厥氣，再則曰寒氣，可知各種脹症，皆由濁陰上干清道所致。衛氣遇寒則滯，營血遇寒則凝，營衛不調，不能捍衛，陰邪乃得乘虛而入，何臟虛即入何臟，何腑虛即入何腑，真氣與邪氣相搏，而五臟六腑遂各有脹病矣。茲將見症及治法，詳列於後。</p>
<p>經曰：心脹者，煩心短氣，臥不安。心本純陽，寒邪來犯，陰陽相戰，故煩滿短氣而臥不安也。治之之法，但須發其神明，摧蕩邪氣，使浮雲不能蔽日，自然離照當空，太陽之火不煩補助也。離照湯主之。</p>
<p><u>離照湯</u>（自制）</p>
<p>琥珀（一錢）　丹參（三錢）　硃砂（五分）　茯神（三錢）　柏子仁（二錢）　沉香（五分）　廣皮（一錢）　青皮（一錢）　鬱金（二錢）　燈芯（三尺）　姜皮（五分）</p>
<p>本方仍用心痹通陽抑陰煎之辰砂、琥珀、茯神、丹參、沉香，而去當歸、白朮、遠志、益智、故紙、紅棗，加柏子仁、燈芯、鬱金、青陳皮，姜亦用皮。以痹偏於血，而脹偏於氣，故減去歸、術等六味，而加鬱金、青陳皮等助沉香以行氣也。祖怡注。</p>
<p>肺脹者，虛滿而喘咳。肺為主氣之臟，居於至高，寒氣逆上，肺氣壅塞，清肅之令不能下行，故虛滿而喘咳。當溫肺降氣，以解寒邪，溫肺桂枝湯主之。</p>
<p><u>溫肺桂枝湯</u>（自制）</p>
<p>桂枝（五分）　當歸（二錢）　茯苓（二錢）　沉香（五分）　蘇子（一錢五分）　橘紅（一錢）　半夏（一錢二分）　栝蔞實（四錢）　桑皮（二錢）　薑汁（二小匙沖服）</p>
<p>本方以薑汁、桂枝為主藥，所以用當歸、茯苓者，助薑、桂也。消脹仍以沉香為大將，橘、半、栝蔞、蘇子、桑皮，皆肺胃氣分藥，所以助沉香也。祖怡注。</p>
<p>肝脹者，脅下滿而痛引小腹。肝為將軍之官，氣血皆盛。但木喜條達，寒氣上逆，則兩氣相積，而肝木怒張。脅下乃肝之本位，痛引小腹，則壅極而決矣。當疏肝化濁；青陽湯主之。</p>
<p><u>青陽湯</u>（自制）</p>
<p>青皮（一錢五分醋炒）　柴胡（一錢醋炒）　蒺藜（四錢）　烏藥（一錢）　炮姜（五分）　廣皮（一錢）　延胡（一錢酒炒）　木香（五分）　鬱金（二錢）　花椒子（二十四粒打碎）</p>
<p>本方所用青皮、柴胡、蒺藜、烏藥、延胡、鬱金、廣皮、木香，無非疏肝解鬱、利氣活血之品，俱是肝家不祧要藥。然而重點則在獨取烏梅安胃丸之椒、姜，蓋溫通之性強，而前八味皆大得其力矣。祖怡注。</p>
<p>脾脹者，善噦，四肢煩悗，體重不能勝衣，臥不安。脾為濕土而主四肢，寒氣乘之，則土德衰而真陽不運，故善噦而肢體疲重，夜臥不安也。當扶土滲濕，兼解寒邪，薑朮二仁湯主之。</p>
<p><u>薑朮二仁湯</u>（自制）</p>
<p>炮姜（五分）　白朮（二錢）　茯苓（三錢）　半夏（一錢）　當歸（二錢）　苡仁（八錢炒）　砂仁（一錢）　厚朴（一錢）　木香（五分）　廣皮（一錢）　生熟穀芽（各四錢煎湯代水）</p>
<p>本方以薑朮二仁命名，扶中陽即所以去伏寒。半夏、茯苓、厚朴、廣皮、砂仁、木香、生熟穀芽，所以健脾胃而助消化者至矣。一派純陽藥中，加一味當歸補血活血，不完全放棄血分，是制方之正法。本方與脾痹方薑、朮、苓、歸、夏、樸、砂七味相同，而不用桑皮、蘇子、杏仁。祖怡注。</p>
<p>腎脹者，腹滿引背，央央然腰髀痛。腎本屬水，寒氣乘之，水寒則成冰，氣益堅凝，坎中之真陽不能外達，故腹滿引背，時形困苦。腰髀痛則下元虛寒，營血不能流灌也。當溫腎祛寒，溫泉湯主之。</p>
<p><u>溫泉湯</u>（自制）</p>
<p>當歸（二錢）　附子（八分）　小茴香（一錢）　破故紙（一錢五分核桃肉拌炒）　烏藥（一錢）　杜仲（三錢）　牛膝（二錢）　木香（五分）　廣皮（一錢）　青皮（一錢）　姜（三片）</p>
<p>本方與腎痹用附、歸、茴、故、木香、牛膝、姜七味相同，而去茸、脊、菟、智、獨活、棗，加杜仲、核桃、烏藥、青陳皮，因彼系虛多，此則寒重。兩方皆溫通溫補，而用藥不同，大有分寸，其為重視腎陽，尤覺顯而易見，以丹田元陽，乃人類生命之本也。祖怡注。</p>
<p>胃脹者，腹滿，胃脘痛，鼻聞焦臭，妨於食，大便難。胃為水穀之腑，職司出納。陰寒之氣上逆，水穀不能運行，故腹滿而胃痛。水穀之氣腐於胃中，故鼻聞焦臭，而妨食便難也。當平胃祛寒溫中平胃散主之。</p>
<p><u>溫中平胃散</u>（自制）</p>
<p>炮姜（五分）　砂仁（一錢）　木香（五錢）　穀芽（三錢炒）　神麯（三錢炒）　廣皮（一錢）　茅朮（一錢）　厚朴（一錢）　枳殼（一錢）　青皮（一錢）　陳香櫞皮（八分）</p>
<p>本方以平胃散去甘草加炮薑、香、砂，而以神麯、枳殼、穀芽助消化，青皮、香櫞和肝胃。平胃散所以燥脾濕，此方所以溫胃寒，胃寒乃胃病中最習見之一種。祖怡注。</p>
<p>大腸脹者，腸鳴而痛濯濯，冬日重感於寒，則飧泄不化。大腸為傳道之官，居小腸之下，司變化而出糟粕。</p>
<p>寒氣上逆，變化失度，故腸鳴腹痛而有水聲。重感於寒，故完穀不化也。當溫通腸胃，上下兼顧，未可徒治大腸也。顧母理臟湯主之。</p>
<p><u>顧母理臟湯</u>（自制）</p>
<p>枳殼（一錢五分麩炒）　青皮（一錢五分）　厚朴（一錢）　乾薑（五分）　穀芽（二錢炒）　當歸（二錢）　茯苓（二錢）　白朮（一錢）　木香（五分）　白蔻（六分）　橘餅（三錢切片）</p>
<p>本方乃上條溫中平胃散加減，以乾薑易炮姜，以白朮易茅朮，加當歸、茯苓等，所以顧母也。枳、樸、蔻、香輩，所以溫通腸胃也。穀芽、橘餅皆扶胃藥，所以佐薑、朮、歸、苓也。理臟必須顧母者，胃是來源，大腸乃出路也。祖怡注。</p>
<p>小腸脹者，小腹䐜脹，引腰而痛。小腸為受盛之官，居胃之下，受盛水穀而分清濁，水液滲於前，糟粕歸於後。寒氣上逆，則化物不出，故小腹䐜脹、引腰而痛也。當分理水穀，俾二便通行，則脹滿自解。通幽化濁湯主之。</p>
<p><u>通幽化濁湯</u>（自制）</p>
<p>枳殼（一錢五分）　青皮（一錢五分）　木通（一錢五分酒炒）　車前（二錢）　赤苓（二錢）　蔞仁（三錢）　厚朴（一錢）　木香（五分）　烏藥（一錢）　穀芽（三錢炒）　姜（三大片）</p>
<p>本方與脾痹加味木通湯相同者，僅有木通（減其量而加酒炒）、赤苓車前三味，而另用枳、樸、青皮、烏藥、蔞仁、木香，以通幽門；重用生薑，佐以穀芽，以顧脾胃。因小腸上承胃而下走膀胱、大腸，所以分水穀而行糟粕。其本身薄而且細，曲折最多，上不如胃之厚，下不如大腸之寬，是消化系之關隘，其為病比胃、大腸為獨多，故以通二便為急務也。祖怡注。</p>
<p>膀胱脹者，少腹滿而氣癃。膀胱主藏津液，氣化則出。蓋水氣循下焦而滲入膀胱，津液之藏，皆由氣化滲入，然後能出。寒氣上逆，則水氣窒塞不通，故少腹滿而小便癃也。當理氣行水，俾寒水得真陽而通利，既濟湯主之。</p>
<p><u>既濟湯</u>（自制）</p>
<p>當歸（二錢）　肉桂（五分）　沉香（五分）　廣皮（一錢）　澤瀉（一錢五分）　牛膝（二錢）　瞿麥（二錢）　車前（二錢）　苡仁（四錢）　葵花子（四錢炒研同煎）</p>
<p>本方用當歸、牛膝、沉香、廣皮、澤瀉、車前，與胞痹利濟湯同，而其著重則在肉桂之活血，同沉香之通氣，二味大力之藥合作。因為脹重於痹，膀胱最易蓄血，而小便不通，有發生水道閉塞之危險。本方與其說是重在利水，不如說其重在通陽之更為正確也。祖怡注。</p>
<p>三焦脹者，氣滿於皮膚中，輕輕然而不堅。上焦如霧，中焦如漚，下焦如瀆，此狀其氣與水之流行，而究無實在形質。受寒氣逆，故氣滿於皮膚之中。因無形質，故雖脹而輕輕然不堅也。當調和氣血，疏導行水。通皮飲主之。</p>
<p><u>通皮飲</u>（自制）</p>
<p>廣皮（一錢）　青皮（一錢）　冬瓜皮（二錢）　茯苓皮（四錢）　當歸（二錢）　厚朴（一錢）　枳殼（一錢）　砂仁（一錢）　澤瀉（一錢五分）　車前子（二錢）　鮮姜皮（一錢）</p>
<p>本方以五皮飲為主，所謂以皮行皮，輕可去實也。再以枳、樸消痞滿，以澤瀉、車前利水道，最後以當歸、砂仁調和肝胃之氣血，可謂輕鬆流利，舉重若輕，於氣滿皮膚中，輕輕然不堅，針鋒相對矣。祖怡注。</p>
<p>膽脹者，脅下痛脹，口中苦，善太息。膽為中正之官，決斷出焉。肝雖強，非膽不能斷。但膽氣血皆少，為清靜之腑，寒氣干之，故脅痛口苦；氣鬱不舒，故善太息也。當輕揚和解，后辛湯主之。</p>
<p><u>后辛湯</u>（自制）</p>
<p>柴胡（一錢）　鬱金（二錢）　廣皮（一錢）　當歸（二錢）　茯苓（二錢）　梔子皮（一錢薑汁炒）　蒺藜（四錢）　枳殼（一錢）　合歡花（二錢）　佛手（五分）</p>
<p>本方柴胡為少陽正藥，鬱金為治郁良劑，當歸、茯苓肝脾兼顧，梔子佐柴胡而清少陽，合歡佐鬱金而通心氣，枳殼、蒺藜、廣皮、佛手皆肝家氣分藥，肝膽相為表裡，深得手揮目送之妙。祖怡注。</p>

<h3>水脹</h3>
<p>經曰：目窠上微腫，如新臥起之狀，其頸脈動，時咳，陰股間寒，足脛腫，腹乃大，其水已成矣。以手按其腹，隨手而起，如裹水之狀，此其候也。蓋上既目腫，下又脛腫，中則腹大，水氣已遍行周身，此必中州脾胃先敗，土不勝水，日積日甚，氾濫不收。其頸脈動而時咳，乃橫流溢出，犯胃射肺。病勢至此，危急之至，原非尋常之劑可以取效，但舟車、疏鑿等法，又過於峻猛，誠恐水氣雖去，元氣隨亡，仍歸於敗耳。消陰利導煎主之。</p>
<p><u>消陰利導煎</u>（自制）</p>
<p>當歸（二錢）　茯苓（三錢）　白朮（一錢五分）　廣　皮（一錢）　厚朴（一錢）　肉桂（五分）　附子（八分）　木通（一錢五分）　大腹皮（一錢五分）　牛膝（一錢五分）　澤瀉（一錢五分）　車前（二錢）　鮮姜皮（一錢）　苡仁（一兩煎湯代水）</p>
<p>本方以桂、附為消陰之主藥，以茯苓、姜皮、腹皮、澤瀉、車前、苡仁、木通為利導之整隊，以當歸、白朮、廣皮、厚朴顧氣血而調脾胃，是速戰速決，堂堂正正之師。祖怡注。</p>

<h3>膚脹</h3>
<p>膚脹者，寒氣客於皮膚之間，𪔣𪔣然不堅，腹大，身盡腫，皮厚，按其腹，窅而不起，腹色不變，此其候也。此症由於內則宗氣失守，虛氣無歸；外則寒氣客於皮膚，遍身流竄，故腹大身腫而皮厚。但氣為無形之邪，雖腫而不堅，按之則氣散而不能驟起。當扶正去寒，理氣化濁，祛寒建中湯主之。</p>
<p><u>祛寒建中湯</u>（自制）</p>
<p>當歸（二錢）　白芍（一錢酒炒）　茯苓（二錢）　白朮（一錢）　附子（八分）　廣皮（一錢）　厚朴（一錢）　枳殼（一錢麩炒）　白蔻（六分）　木香（五分）　棗（二枚）　姜（三片）</p>
<p>本方附、芍、茯苓同用，能除皮中水氣，兼有真武湯意。朮、歸以顧正，薑、棗以建中。以上是扶正祛寒。枳、樸、木香、白蔻、廣皮，理氣化濁。理路非常顯明。薑、棗並用，脹門惟此一方。蓋以寒水去路，不外汗與小便，既有附、朮、苓以通小便，而皮膚與營衛最近，不可無薑、棗以通營衛而作汗也。祖怡注。</p>

<h3>鼓脹</h3>
<p>鼓脹者，腹脹，身皆大，大與膚脹等，色蒼黃，腹筋起，此其候也。此症外象雖與膚脹略同，然色蒼黃、腹筋起二端，便與前症迥別。蓋黃為脾之本色，蒼則木氣勝而見於脾；腹起青筋，則肝邪熾盛，而脾土敗壞，症勢甚危。當扶土抑木，兼化陰邪，扶抑歸化湯主之。</p>
<p><u>扶抑歸化湯</u>（自制）</p>
<p>黨參（三錢）　茯苓（三錢）　白朮（一錢五分）　當歸（二錢）　附子（八分）　木瓜（一錢酒炒）　青皮（一錢）　蒺藜（三錢）　廣皮（一錢）　厚朴（一錢）　木香（五分）　砂仁（一錢）　牛膝（二錢）　車前（二錢）　姜（三大片）</p>
<p>本方是治土敗木賊、外脹內空之鼓脹，不是治內外俱實之蠱脹。以參、歸、朮、苓、薑、附扶中土，以厚朴、青、陳、蒺藜、香、砂抑肝木，木瓜以舒筋，牛膝以達下，車前以助茯苓行水。此方歸、朮、附、薑、廣皮、茯苓、厚朴、木香八味，與膚脹祛寒建中湯同。祖怡注。</p>
<p>治脹一門，根據《內經》寒氣厥氣為病，以溫治寒，以通治氣，終始不出兩大法之外。熱脹與其它諸脹，當然不在範圍之內。祖怡又注。</p>

<h4>附：腫脹門諸方</h4>
<p><u>金匱防己黃耆湯</u>　治水腫。</p>
<p>防己（一兩）　黃耆（一兩）　白朮（三兩）　甘草（五錢）　姜（七片）　棗（一枚）　水煎，分溫服。</p>
<p><u>防己茯苓湯</u>　治水腫。</p>
<p>防己（三兩）　黃耆（一兩）　桂枝（三兩）　茯苓（六兩）　甘草（二兩）　水煎，分溫服。</p>
<p><u>枳朮湯</u>　治水腫。</p>
<p>枳實（七枚）　白朮（二兩）　水煎，分溫服。</p>
<p><u>實脾飲</u>　治陰水發腫，用此先實脾土。</p>
<p>厚朴（一兩）　白朮（一兩）　木瓜（一兩）　大腹皮（一兩）　附子（一兩）　木香（一兩）　草果（一兩）　茯苓（一兩）　乾薑（一兩）　甘草（五錢）　每用四錢，水煎服。</p>
<p><u>復元丹</u>　治脾腎俱虛，發為水腫，四肢虛浮，心腹堅脹，小便不通，兩目下腫。</p>
<p>附子（二兩）　木香（一兩）　茴香（一兩）　川椒（一兩）　厚朴（一兩）　獨活（一兩）　陳皮（一兩）　白朮（一兩）　吳萸（一兩）　桂心（一兩）　澤瀉（一兩五錢）　肉蔻（五錢）　檳榔（五錢）　研末，糊丸如梧子大，每服五十丸。</p>
<p><u>導滯通幽湯</u>　治脾濕有餘，氣不宣通，面目手足浮腫。</p>
<p>木香（五錢）　白朮（五錢）　桑皮（五錢）　陳皮（五錢）　茯苓（一兩）　水煎分溫服。</p>
<p><u>胃苓湯</u>　治水腫。</p>
<p>陳皮（一錢五分）　蒼朮（一錢五分）　厚朴（一錢五分）　甘草（六分）　澤瀉（一錢）茯苓（一錢五分）　豬苓（一錢）　白朮（一錢五分）　官桂（三分）　水煎服。</p>
<p><u>驅風敗毒散</u>　治風水、皮水，凡在表宜從汗解者。</p>
<p>人參（一錢）　獨活（一錢）　桔梗（一錢）　柴胡（一錢）　枳殼（一錢）　羌活（一錢）　茯苓（一錢）　川芎（一錢）　前胡（一錢）　甘草（一錢）　荊芥（一錢）　防風（一錢）　姜（三片）</p>
<p><u>調營散</u>　治瘀血留滯，血化為水，四肢浮腫，皮肉赤紋，名為血分。</p>
<p>蓬朮　川芎　當歸　延胡索　白芷　檳榔　陳皮　赤芍　桑皮　大腹皮　赤苓　葶藶　瞿麥（各一錢）　大黃（一錢五分）　細辛　官桂　甘草（各五分）　紅棗（二枚）　姜（三片）</p>
<p><u>防己散</u>　治皮水，腫如裹水在皮膚中，四肢習習然動。</p>
<p>防己（一兩）　桑皮（一兩）　黃耆（一兩）　桂心（五錢）　赤苓（二兩）　甘草（五錢）　每用五錢，水煎服。</p>
<p><u>導水茯苓湯</u>　治頭面遍身腫如爛瓜，手按之塌陷，手起則隨手而起，喘滿倚息，小便澀少。</p>
<p>赤苓　麥冬　澤瀉　白朮（各三兩）　桑皮　紫蘇　檳榔　木瓜（各一兩）　大腹皮　陳皮　砂仁　木香（各七錢五分）　每用五錢，燈草二十五根。如病重者可用藥五兩，再加麥冬二兩，燈草五錢，水一斗，於砂鍋內熬至一大盞，溫服。</p>
<p><u>人參芎歸湯</u>　治煩躁喘急，虛汗厥逆，小便赤，大便黑，名血脹。</p>
<p>人參（二錢五分）　肉桂（二錢五分）　五靈脂（二錢五分）　烏藥（五錢）　蓬朮（五錢）　木香（五錢）　砂仁（五錢）　炙草（五錢）　川芎（七錢）　當歸（七錢）　半夏（七錢）　每用一兩，加棗二枚，姜五片，煎服。</p>
<p><u>化滯調中湯</u>　治脾弱氣脹。</p>
<p>白朮（一錢五分）　人參（一錢）　茯苓（一錢）　陳皮（一錢）　厚朴（一錢）　山楂（一錢）　半夏（一錢）　神麯（八分炒）　麥芽（八分）　砂仁（七分）　姜（三片）</p>
<p><u>人參丸</u>　治經脈不利，血化為水，流走四肢，悉皆腫滿，名曰血分。其候與水相類，若作水治非也，宜服此。</p>
<p>人參　當歸　大黃　肉桂　瞿麥　赤芍　茯苓（各五錢）　葶藶（一錢）　蜜丸如梧子大，先服十五丸，加至三十丸。</p>
<p><u>見晛丸</u>　治寒氣客於下焦，血氣閉塞而成瘕聚，腹中堅大，久不消者。</p>
<p>附子（四錢）　鬼箭羽（三錢）　紫石英（三錢）　澤瀉（二錢）　肉桂（二錢）　延胡索（二錢）　木香（二錢）　檳榔（二錢）　血竭（一錢五分）　水蛭（一錢）　三稜（五錢）　桃仁（三十粒）　大黃（二錢）　酒糊丸如梧子大，每服三十丸。</p>
<p><u>溫胃湯</u>　治憂思結聚，陽不能通，大腸與胃氣不和，脹滿上衝。</p>
<p>附子　厚朴　當歸　白芍　人參　甘草　陳皮（各一錢五分）　乾薑（一錢）川椒（三分）　水煎服。</p>
<p><u>強中湯</u>　治寒傷脾胃，致成脹滿，甚則腹痛。</p>
<p>人參（二錢）　青皮（二錢）　廣皮（二錢）　丁香（二錢）　白朮（一錢五分）　附子（一錢）　草果（一錢）　乾薑（一錢）　厚朴（一錢）　甘草（五分）　水煎服。</p>
<p><u>五皮飲</u>　治水病腫滿，上氣喘急。</p>
<p>陳皮（一錢）　青皮（一錢）　茯苓皮（五錢）　大腹皮（一錢五分）　鮮姜皮（一錢）　水煎服。</p>
<p><u>中滿分消丸</u>　治中滿膨脹，氣脹熱脹。</p>
<p>厚朴（一兩）　枳實（五錢）　黃連（五錢）　黃芩（五錢）　半夏（五錢）　陳皮（四錢）　知母（四錢）　澤瀉（三錢）　茯苓（二錢）　砂仁（二錢）　乾薑（二錢）　薑黃（一錢）　人參（一錢）　白朮（一錢）　甘草（一錢）　豬苓（一錢）　蒸餅丸如梧子大，每服五六十丸。</p>
<p><u>中滿分消湯</u>　治中滿寒脹。二便不通，四肢厥逆。</p>
<p>川烏（一錢）　乾薑（一錢）　畢澄茄（一錢）　生薑（一錢）　黃連（五分）　人參（一錢）　當歸（一錢五分）　澤瀉（一錢五分）　青皮（一錢）　麻黃（五分）　柴胡（一錢）　吳萸（五分）　草蔻（五分）　厚朴（一錢）　黃耆（一錢）　黃柏（五分）　益智（三分）　木香（三分）　半夏（三分）　茯苓（一錢五分）　升麻（三分）　水煎服。</p>
<p><u>舟車丸</u>　治水腫水脹，形氣俱實。</p>
<p>黑牽牛（四兩）　大黃（二兩酒浸）　甘遂（一兩面煨）　大戟（一兩）　芫花（一兩）青皮（一兩）　橘紅（一兩）　木香（五錢）　輕粉（一錢）　水泛丸，每服三十粒。</p>
<p><u>疏鑿飲子</u>　治遍身水腫，喘呼口渴，大小便秘。</p>
<p>羌活　秦艽　檳榔　大腹皮　茯苓皮　椒目　木通　澤瀉　商陸　赤小豆（各等分）　鮮姜皮（一錢）</p>

<h2>下痢</h2>
<p>下痢一症，《內經》謂之腸澼。後來論症者，不下數十家。其專主腸胃而言者，固屬掛漏；其主濕熱及招涼食冷者，亦不過時痢一門。至分別內傷外感，三陰三陽，虛實寒熱，則頗為詳明周至矣。但虛者補之，實者瀉之，寒者溫之，熱者清之，本屬定法，豈獨痢症為然！愚意尚有吃緊兩條，試申言之。外感各有主病，內傷各有主經，從此分別，更易下手。外感之邪，不外風寒暑濕燥火。風入腸胃，故為飧泄，內犯於肝。寒氣中人，腹痛下痢，內犯於腎。暑濕鬱蒸，腹痛下痢，兼有赤白，內犯於脾。燥氣中人，口渴心煩，下痢白滯，內犯於肺。火邪熾盛，渴飲不止，下痢膿血，頻數不休，內犯於心。此外感六淫，與五臟相應者也。至內傷之症，傷於肝者，脅痛腹痛，作噦下痢。傷於腎者，腹痛腰痛，身冷下痢。傷於脾者，胸滿身重，噦惡食少下痢。傷於肺者，口燥咽乾，微咳下痢。傷於心者，煩躁渴飲，下痢不休。此內傷之所致也。感於風者表解之，感於寒者溫通之，感濕熱者清利之，感於燥者清潤之，感於火者盪滌之，當各隨所主之病以施治。傷肝者解其鬱，傷腎者保其陽，傷於脾者運其中，傷於肺者存其津，傷於心者泄其亢，當各隨所主之經以施治。此特就內傷外感兩義，縷析言之。其他各症，《痢症匯參》所已載者，概不復贅。</p>
<p>感風下痢，身熱脈微弦者，迴風外解湯主之。</p>
<p><u>迴風外解湯</u>（自制）</p>
<p>柴胡（一錢）　薄荷（一錢）　前胡（一錢）　桔梗（一錢）　枳殼（一錢）　葛根（二錢）　豆豉（三錢）　廣皮（一錢）　茯苓（二錢）　白朮（一錢）　姜皮（六分）　荷葉（一角）</p>
<p>感寒下痢，腹痛，手足冷，舌白，口不渴，脈沉細者，溫中化濁湯主之。甚者加附子。</p>
<p><u>溫中化濁湯</u>（自制）</p>
<p>炮姜（五分）　小茴香（一錢）　烏藥（一錢）　木香（五分）　廣皮（一錢）　厚朴（一錢）　當歸（一錢五分）　茯苓（二錢）　白朮（一錢）　佛手干（五分）</p>
<p>感暑濕者，煩渴腹痛，下痢膿血，粉米湯主之。</p>
<p><u>粉米湯</u>（自制）</p>
<p>花粉（三錢）　苡米（一兩）　藿香（一錢）　薄荷（一錢）　黃連（五分酒炒）　黃芩（一錢酒炒）　木香（五分）　木通（一錢酒炒）　當歸（一錢五分）　赤苓（一錢酒炒）　荷葉（一角）　綠豆（一撮）</p>
<p>感燥下痢，咽乾作渴，腹痛，下痢白滯，金玉保和湯主之。</p>
<p><u>金玉保和湯</u>（自制）</p>
<p>金石斛（四錢）　玉竹（三錢）　蔞皮（三錢）　黃芩（一錢酒炒）　當歸（一錢五分）　茯苓（二錢）　山藥（三錢）　廣皮（一錢）　枳殼（一錢）　苡仁（四錢）　荷葉（一角）　陳粳米（一撮煎湯代水）</p>
<p>火盛下痢，晝夜不休，作渴腹痛，時下膿血，消炎化毒湯主之。</p>
<p><u>消炎化毒湯</u>（自制）</p>
<p>黃連（六分）　黃芩（一錢）　大黃（四錢）　銀花（二錢）　甘草（五分）　花粉（二錢）　木通（一錢）　青皮（一錢）　當歸（一錢五分）　赤芍（一錢）　淡竹葉（二十張）</p>
<p>肝鬱下痢，脅痛腹痛，噫氣食少，大順湯主之。</p>
<p><u>大順湯</u>（自制）</p>
<p>蒺藜（四錢）　鬱金（二錢）　烏藥（一錢）　白朮（一錢）　廣皮（一錢）　厚朴（一錢）　木香（五分）　青皮（一錢）　茯苓（二錢）　枳殼（一錢）　橘餅（四錢）　煨姜（三片）</p>
<p>腎氣虛寒，腹痛下痢，完穀不化，手足俱冷者，立命開陽湯主之。</p>
<p><u>立命開陽湯</u>（自制）</p>
<p>干河車（二錢切）　破故紙（一錢五分核桃肉拌炒）　益智仁（一錢五分）　制附片（八分）　當歸（一錢五分）　茯苓（二錢）　白朮（一錢）　小茴香（一錢）　木香（六分）　烏藥（一錢）　煨姜（三片）</p>
<p>脾虛下痢，食少神疲，胸腹時痛者，大中湯主之。</p>
<p><u>大中湯</u>（自制）</p>
<p>黨參（四錢）　制熟附（七分）　茯苓（三錢）　白朮（一錢五分）　當歸（二錢）　廣皮（一錢）　厚朴（一錢）　枳殼（一錢）　烏藥（一錢）　木香（五分）　大棗（二枚）　姜（三片）</p>
<p>肺熱移於大腸，口燥微咳，下痢白滯者，育金煎主之。</p>
<p><u>育金煎</u>（自制）</p>
<p>沙參（三錢）　石斛（三錢）　茯苓（三錢）　白朮（一錢五分）　山藥（三錢）　料豆（三錢）　當歸（二錢）　橘紅（一錢）　蓮子（二十粒打碎去心）</p>
<p>心火下陷，煩擾不安，下痢膿血者，蒲虎湯主之。</p>
<p><u>蒲虎湯</u>（自制）</p>
<p>生蒲黃（六分）　熟蒲黃（六分）　琥珀（一錢）　丹參（三錢）　茯神（二錢）　當歸（二錢）　赤芍（一錢）　黃連（六分）　木香（五分）　燈心（三尺）</p>

<h3>附：下痢門諸方</h3>
<p>（錄其純粹少疵者以備參用。）</p>
<p><u>芍藥湯</u>　行血則便膿愈，調氣則後重除。</p>
<p>芍藥（一兩）　當歸（五錢）　黃連（五錢）　黃芩（五錢）　大黃（三錢）　肉桂（二錢五分）　甘草（二錢）　檳榔（二錢）　木香（一錢）　每用五錢，水煎服。</p>
<p><u>白朮黃芩湯</u>　服前藥痢疾雖除，更宜調和。</p>
<p>白朮（二兩）　黃芩（七錢）　甘草（三錢）　水煎，分三服。</p>
<p><u>黃連阿膠丸</u>　治冷熱不調，下痢赤白，裡急後重，臍腹疼痛，口燥煩渴，小便不利。</p>
<p>黃連（三錢）　阿膠（一兩）　茯苓（二兩）　以連、苓為細末，水熬阿膠為丸，如梧子大，每服三十丸，空心米湯下。</p>
<p><u>白頭翁湯</u>　治熱痢下重，欲飲水者。</p>
<p>白頭翁（二兩）　黃連（三兩）　黃柏（三兩）　秦皮（三兩）　水七升，煮三升，分溫服。</p>
<p><u>加減平胃散</u>　治腸紅血痢。</p>
<p>白朮（一兩）　厚朴（一兩）　陳皮（一兩）　木香（三錢）　檳榔（三錢）　甘草（七錢）　桃仁（五錢）　人參（五錢）　黃連（五錢）　阿膠（五錢炒）　茯苓（五錢）　每服五錢，棗二枚，姜三片，水煎服。</p>
<p><u>蒼朮地榆湯</u>　治脾經受濕血痢。</p>
<p>蒼朮（三兩）　地榆（一兩）　每服一兩，水煎服。</p>
<p><u>槐花散</u>　治腸風血痢。</p>
<p>槐花　青皮　荊芥穗（等分）　研末，每用五錢，水煎服。</p>
<p><u>犀角散</u>　治熱痢下赤黃膿血，心腹困悶。</p>
<p>犀角屑（一兩）　黃連（二兩）　地榆（一兩）　黃耆（一兩）　當歸（五錢）　木香（二錢五分）　研末，每服三錢，水煎服。</p>
<p><u>羚羊角丸</u>　治一切熱痢及休息痢，日夜頻數，並治下血黑如雞肝色。</p>
<p>羚羊角（一兩五錢）　黃連（二兩五錢）　黃柏（一兩五錢）　赤苓（五錢）　研末，蜜和丸，如梧子大，每服二十丸，姜蜜湯下。暑月下痢用之尤驗。</p>
<p><u>生地黃湯</u>　治熱痢不止。</p>
<p>生地（五錢）　地榆（七錢五分）　甘草（二錢五分）　水煎服。</p>
<p><u>鬱金散</u>　治一切熱毒痢，下血不止。</p>
<p>川鬱金（五錢）　槐花（五錢）　甘草（二錢五分）　研末，每服一二錢，食前用豆豉湯調下。</p>
<p><u>茜根散</u>　治血痢心神煩熱，腹中痛，不納飲食。</p>
<p>茜根（一兩）　地榆（一兩）　生地（一兩）　當歸（一兩）　犀角（一兩）　黃芩（一兩）　梔子（五錢）　黃連（二兩）　每服四錢，水二鍾，入豆豉五十粒，薤白七寸，煎六分，溫服。</p>
<p><u>十寶湯</u>　治冷痢如魚腦者。</p>
<p>黃耆（四兩）　熟地（一兩）　人參（一兩）　茯苓（一兩）　當歸（一兩）　白朮（一兩）　半夏（一兩）　白芍（一兩）　五味（一兩）　官桂（一兩）　甘草（五錢）　研末，每服二錢，水二鍾，加姜三片，烏梅一個，煎六分，食前溫服。</p>
<p><u>芍藥黃芩湯</u>　治泄痢腹痛，或後重身熱，及下膿血稠黏。</p>
<p>黃芩（一兩）　芍藥（一兩）　甘草（五錢）　每服一兩，水二鍾，煎六分，溫服。如痛加桂少許。</p>
<p><u>香連丸</u>　治下痢赤白，裡急後重。</p>
<p>黃連（二十兩吳萸十兩炒赤去之）　木香（四兩八錢八分）　研末，醋糊丸，如梧子大，每服三十丸。</p>
<p><u>地榆芍藥湯</u>　治瀉痢膿血脫肛。</p>
<p>蒼朮（八兩）　地榆（三兩）　卷柏（三兩）　芍藥（三兩）</p>
<p><u>參苓白朮散</u>　治久瀉及痢後調理者尤宜。</p>
<p>人參（一斤半）　山藥（一斤半）　蓮子（一斤半）　白朮（二斤）　砂仁（一斤）　桔梗（一斤）　扁豆（一斤半）　茯苓（一斤）　苡仁（一斤）　甘草（一斤）　研末，每服三錢，米湯調下。或加薑、棗煎服。</p>
<p><u>倉廩湯</u>　治噤口痢，有熱及毒氣衝心，食入即吐。</p>
<p>人參　茯苓　甘草　前胡　川芎　羌活　桔梗　獨活　柴胡　枳殼　陳倉米（各等分）　每服五錢，姜三片，水煎服。</p>

<h2>諸痛</h2>
<p>人之一身，自頂至踵，俱有痛病。其始也，或因於風，或因於寒，或因於火，或因於氣，病各不同，而其為氣凝血滯則一也。氣能捍衛，則外感何由而入；營能流灌，則內病何自而生。不通則痛，理固宜然。茲將痛病略舉其凡。其咽痛、疝痛、肢節痛，見於肺病、疝病、痹病中者，不復贅。</p>

<h3>頭痛</h3>
<p>頭痛有因於風者，肌表不固，太陽受風，巔頂作痛，鼻竅微塞，時流清涕，香芷湯主之。</p>
<p><u>香芷湯</u>（自制）</p>
<p>香附（二錢）　白芷（六分）　當歸（一錢五分）　川芎（八分）　防風（一錢）　桑葉（一錢）　菊花（二錢）　蟬衣（一錢）　蔓荊子（一錢五分）　桔梗（一錢）　黑芝麻（三錢）</p>
<p>本方以白芷、防風、桔梗升清陽而去風邪，因桔梗力小而加香附。以蟬衣、蔓荊、桑、菊清利頭目，而以芎、歸、黑芝麻養血。芎本血分中風藥，治風寒頭痛，是其特長。而桑、麻合作，本是養腦之古方，乃用風藥而不忘養血之原則。祖怡注。</p>
<p>有因於火者，肝陽上升，頭痛如劈，筋脈掣起，痛連目珠。當壯水柔肝，以熄風火，不可過用風藥。蓋風能助火，風藥多則火勢更烈也。羚羊角湯主之。</p>
<p><u>羚養角湯</u>（自制）</p>
<p>羚羊角（二兩）　龜版（八錢）　生地（六錢）　白芍（一錢）　丹皮（一錢五分）　柴胡（一錢）　薄荷（一錢）　菊花（二錢）　夏枯草（一錢五分）　蟬衣（一錢）　紅棗（十枚）　生石決（八錢打碎）</p>
<p>本方以羚羊、龜版、石決清肝火而潛風陽；以地、芍、丹皮、夏枯草養血涼血；加柴胡、薄荷蟬衣、菊花，發抑遏之火；紅棗則恐其血寒而凝，以反佐地、芍、丹皮也。大隊清涼之中，加一味紅棗溫藥，制方巧不可言。祖怡注。</p>
<p>有血虛頭痛者，自覺頭腦俱空，目眊而眩，養血勝風湯主之。</p>
<p><u>養血勝風湯</u>（自制）</p>
<p>生地（六錢）　當歸（二錢）　白芍（一錢五分）　川芎（一錢）　枸杞（三錢）　五味（五分）　棗仁（一錢五分）　柏仁（二錢）　杭菊（二錢）　桑葉（一錢）　紅棗（十枚）　黑芝麻（三錢）</p>
<p>本方以芎、歸、地、芍四物為君，輔以枸、菊、桑、麻、棗仁、柏仁大隊養血。再用五味、紅棗者，所以佐芎、歸而收耗散之氣血也。理法雙清，是名大家之特色。　以上三方，第一方風藥多，第二方清藥多，第三方養血藥多，而桑、菊二味，兼有去風熄風之長。三方鼎立，確不可移。祖怡注。</p>

<h3>眼痛</h3>
<p>眼目之疾，本有專科，致病多端，非可枚舉。茲因痛病，姑拈虛實兩條，以發其凡。</p>
<p>目睛紅腫，眵淚多而目中如有沙子者，風火盛也。黃連清火湯主之。</p>
<p><u>黃連清火湯</u>（自制）</p>
<p>黃連（五分）　元參（一錢五分）　歸尾（一錢五分）　赤芍（一錢）　丹皮（一錢五分）　貝母（二錢）　荊芥（一錢）　防風（一錢）　桑葉（一錢）　蟬衣（一錢）　前胡（一錢）　菊花（二錢）　竹葉（十張）　燈芯（三尺）　芝麻（三錢）</p>
<p>本方以黃連、元參對荊、防，以芝麻、歸尾、赤芍、丹皮對蟬衣、前胡、桑、菊，以貝母、竹葉、燈芯清心火。頭痛之火專屬肝，眼痛之火，心肝俱有，黃連、歸尾、赤芍、丹皮，俱是心肝同治之藥。祖怡注。</p>
<p>目睛不腫，微紅羞明，眼珠作痛，此為陰虛夾火，滋陰降火湯主之。</p>
<p><u>滋陰降火湯</u>（自制）</p>
<p>生地（六錢）　女貞（二錢）　山藥（三錢）　丹皮（二錢）　茯苓（二錢）　料豆（三錢）　沙參（四錢）　麥冬（二錢）　貝母（二錢）　杏仁（三錢）　穀精珠（一錢五分）　蟬衣（一錢）　生石決（六錢打碎）</p>
<p>本方以生地、女貞、料豆、沙參、麥冬滋陰。以茯苓、山藥合生地、丹皮，得六味三分之二，滋腎即所以降火。以石決、丹皮、穀精、蟬衣清肝明目，作眼痛之引經。杏、貝所以宣肺。眼與五臟皆有關係，而肝腎是其重心。祖怡注。</p>

<h3>齒痛</h3>
<p>齒痛實症，陽明風火上升也，葛根白虎湯主之。</p>
<p><u>葛根白虎湯</u>（自制）</p>
<p>葛根（二錢）　石膏（五錢）　花粉（三錢）　石斛（三錢）　連翹（一錢五分）　薄荷（一錢）　防風（一錢）　桔梗（一錢）　淡竹葉（二十張）　白茅根（五錢）</p>
<p>本方兼採白虎、竹葉石膏意，而加葛根、防風，使在腑之火由經而外達。石斛、花粉所以生津清熱，薄荷、連翹、桔梗所以散鬱火，茅根、竹葉清心即所以清胃也。祖怡注。</p>
<p>齒痛虛症，腎虧而夾有胃火也。齒為後天所生之骨，亦屬於腎。況腎為胃關，水不制火，故浮陽作痛也。清熱胃關煎主之。</p>
<p><u>清熱胃關煎</u>（自制）</p>
<p>生地（六錢）　龜版（八錢）　花粉（三錢）　石斛（三錢）　薄荷（一錢）　葛根（二錢）　連翹（一錢五分）　桔梗（一錢）　甘蔗（三兩同煎）</p>
<p>本方以生地、龜版為主藥，所以滋腎。以甘蔗、石斛、花粉為輔佐，所以清胃。薄荷、連翹散鬱火。葛根、桔梗使已發之火，從肺胃表份而解。祖怡注。</p>

<h3>舌痛</h3>
<p>舌卷而腫，塞口作痛，難於語言，此心陽熾盛也。先用生蒲黃三錢，泡湯頻漱，再服黃連清心飲。</p>
<p><u>黃連清心飲</u>（自制）</p>
<p>黃連（五分）　蒲黃（一錢五分）　犀角（五分）　元參（一錢五分）　丹參（二錢）　連翹（一錢五分）　蔞皮（三錢）　茯苓（二錢）　薄荷（一錢）　竹葉（二十張）　燈芯（三尺）</p>
<p>本方以黃連、犀角為主藥。以蒲黃、竹葉、連翹、燈芯佐黃連，以丹參、元參佐犀角。以薄荷合連翹散鬱火。</p>
<p>以茯苓合燈芯，導之從小腸膀胱而去。蔞皮利大腸，又所以佐茯苓、燈芯也。祖怡注。</p>
<p>舌色絳紅，邊尖破碎，舌有血痕而痛者，乃陰液大虧，心火上熾也，大澤湯主之。</p>
<p><u>大澤湯</u>（自制）</p>
<p>天冬（二錢）　生地（六錢）　人參（一錢五分）　龜版（八錢）　麥冬（一錢五分）　茯神（二錢）　柏仁（二錢）　蛤粉（四錢）　丹參（二錢）　石斛（二錢）　燈芯（三尺）　藕（五大片）</p>
<p>本方以三才養陰，以龜蛤潛陽，以丹參、柏仁、茯神、藕、燈芯養血涼心，以麥冬、石斛佐地、冬生津養胃，陰血充而虛火自熄矣。祖怡注。</p>

<h3>肺氣脹痛</h3>
<p>營衛不調，肺氣滿則肺葉皆舉，微喘脅痛，瀉肺湯主之。</p>
<p><u>瀉肺湯</u>（自制）</p>
<p>全栝蔞（一個）　桑皮（三錢）　蘇子（一錢五分）　沉香（五分）　茯苓（二錢）　鬱金（二錢）　杏仁（三錢）　枳殼（一錢）　苡仁（四錢）　橘紅（一錢）　姜（二片）</p>
<p>本方與脹門溫肺桂枝湯同用栝蔞、沉香、桑皮、蘇子、橘紅、茯苓、姜，而去桂枝、當歸、半夏，加鬱金、枳殼、杏仁、苡仁。彼是寒重，但脹而不痛；此是氣滿，脹痛而且喘。所以去寒藥輕，而側重瀉肺降氣。祖怡注。</p>

<h3>心氣厥痛</h3>
<p>心本純陽，寒邪上犯，陰陽相爭，厥逆作痛，雙解瀉心湯主之。</p>
<p><u>雙解瀉心湯</u>（自制）</p>
<p>黃連（五分）　附子（八分）　遠志（五分甘草水炒）　丹參（二錢）　茯神（二錢）　鬱金（二錢）　廣皮（一錢）　沉香（五分）　合歡花（二錢）　燈芯（三尺）　姜（三片）</p>
<p>本方用附子瀉心湯意，去大黃、黃芩，加沉香、姜以佐附子，丹參、茯神以安本臟，遠志、鬱金、合歡以通心氣，廣皮以佐沉香，而以燈芯為之引。祖怡注。</p>

<h3>肝氣作痛</h3>
<p>肝為將軍之官，其體陰，其用陽，故為剛臟。一有鬱結，氣火俱升，上犯胃經，痛連脅肋，加味左金湯主之。</p>
<p><u>加味左金湯</u>（自制）</p>
<p>黃連（五分）　吳萸（二分）　瓦楞子（三錢煅研）　畢澄茄（一錢）　蒺藜（三分）　鬱金（二錢）　青皮（一錢）　柴胡（一錢醋炒）　延胡索（一錢）　木香（五分）　廣皮（一錢）　砂仁（一錢）　佛手（五分）</p>
<p>本方治肝實法也。不但連、萸之苦降辛開，為肝家正藥；如柴胡之疏肝，瓦楞之柔肝，乃至鬱金、蒺藜、青陳皮、香砂、佛手，何一不是肝家利氣之藥，肝氣和而脾胃無賊克之虞矣。祖怡注。</p>

<h3>肝虛作痛</h3>
<p>肝主藏血，故為血海。操煩太過，營血大虧，虛氣無歸，橫逆脹痛，調營斂肝飲主之。</p>
<p><u>調營斂肝飲</u>（自制）</p>
<p>歸身（二錢）　白芍（一錢五分酒炒）　川芎（八分）　枸杞（三錢）　五味（五分）　廣皮（一錢）　棗仁（一錢五分炒研）　茯苓（二錢）　木香（五分）　阿膠（一錢五分蛤粉炒）　大棗（二枚）　姜（三片）</p>
<p>本方治肝虛法也。四物用歸、芎、酒芍，加蛤粉炒阿膠；不用熟地，嫌其滯也。枸杞、棗仁、五味，虛肝在所必用。而以茯苓、廣皮、木香、薑、棗，調營衛而和氣血，補而不滯，潤而不膩，通而不破，溫和而不燥、不苦寒。虛肝為病，脾胃必更弱於實肝。近代趨勢，虛肝患者之多，幾欲超實肝而過之。祖怡治一婦人，心痛徹背，痛至哪裡，肌肉脹至哪裡，膚外亦痛，夜不成寐。曾用麻醉劑止痛安神，不見寸效。用先生此方，一服而病減大半，夜即能寐。方信先生所云，營血大虧，虛氣無歸，橫逆脹痛，完全從臨床經驗得來，的是虛肝為病最合理之治法。嗣後凡遇類似此症者，悉以此方變通用之，莫不應手而愈。先生對於各種虛症，制方獨出心裁，真醇乎其醇矣。祖怡注。</p>

<h3>脾濕脹痛</h3>
<p>脾本濕土，寒邪乘之，寒與濕凝，是為重陰。脘下至當臍脹滿作痛，悅脾湯主之。</p>
<p><u>悅脾湯</u>（自制）</p>
<p>白朮（一錢）　茅朮（一錢）　茯苓（二錢）　附子（八分）　砂仁（一錢）　木香（五分）　烏藥（一錢）　青皮（一錢）　神麯（三錢炒）　苡仁（四錢）　姜（三片）</p>
<p>本方與脹門薑朮二仁湯，同用白朮、茯苓、木香、砂仁。姜為主藥，不用炮而用生。去當歸、半夏、厚朴、廣皮、生熟穀芽，加附子、茅朮、神麯、青皮、烏藥，其溫燥之力，當在薑朮二仁湯之上。祖怡注。</p>

<h3>腎氣厥痛</h3>
<p>腎為水臟，寒邪相犯，水寒成冰，少腹厥痛，開陽湯主之。</p>
<p><u>開陽湯</u>（自制）</p>
<p>附子（八分）　故紙（一錢五分）　益智（一錢）　當歸（二錢）　杜仲（二錢）　烏藥（二錢）　木香（五分）　廣皮（一錢）　青皮（一錢）　茯苓（二錢）　姜（三片）</p>
<p>本方與脹門溫泉湯，同用薑、附、故紙、當歸、杜仲、烏藥、木香、青皮、陳皮，而去小茴、核桃肉、牛膝，加益智、茯苓。彼治腰髀痛，此則以益智助附子、故紙補命火，以茯苓助薑、附去水氣也。祖怡注。</p>

<h3>胃虛作痛</h3>
<p>胃為谷海，其實而痛者，當消當攻，於結胸症內已詳言之。其胃氣虛弱，脘中作痛者，養胃湯主之。</p>
<p><u>養胃湯</u>（自制）</p>
<p>白芍（一錢）　茯苓（二錢）　白朮（一錢）　甘草（四分）　山藥（三錢）　黃耆（二錢）　黨參（四錢）　木香（五分）　砂仁（一錢）　廣皮（一錢）　大棗（二枚）　姜（三片）</p>
<p>本方以香砂六君去半夏，加黃耆、山藥、白芍。黃耆益脾肺之氣，山藥補脾陰，白芍補脾血，只得一味酸寒，全方化為中和。脾胃為夫妻，養胃必當顧脾，是歷代治胃虛之典型。祖怡注。</p>

<h3>胃寒作痛</h3>
<p>胃氣虛寒，不能納穀，嘔吐作痛，桂樸湯主之。</p>
<p><u>桂樸湯</u>（自制）</p>
<p>肉桂（四分）　厚朴（一錢）　當歸（二錢）　茯苓（二錢）　白朮（一錢）　丁香（五分）　砂仁（一錢）　白芍（一錢酒炒）　廣皮（一錢）　鬱金（二錢）　棗（二枚）　姜（三片）</p>
<p>本方取脹門溫中平胃散以白朮易茅朮，以肉桂易炮姜，以丁香易生薑，同樣用厚朴、廣皮、砂仁，而去神麯、枳殼、青皮、香櫞、穀芽，加當歸、紅棗、白芍、茯苓。彼是消藥多，此則溫藥多，而兼顧血分。祖怡注。</p>
<p><u>桂丁定痛散</u></p>
<p>肉桂（五分）　丁香（一錢）　澄茄（一錢五分）　磁石（三錢）</p>
<p>研令極細，分作十二服。又食人乳加燒紅棗乘熱焠之。鄉村農民，夏秋兩季，勞動口渴，多飲冷水，心腹作痛，諸藥不效。此方溫之以桂、丁、澄茄，戀之以磁石，使藥力不至一過就了，不論男婦老幼可服。（曾孫子婿）徐相任新增並說明。</p>

<h3>胃中蟲痛</h3>
<p>胃氣反逆，長蟲不安，其作痛也，陡然而來，截然而止，返蟄湯主之。</p>
<p><u>返蟄湯</u>（自制）</p>
<p>當歸（二錢）　茯苓（二錢）　白朮（一錢）　苡仁（四錢）　廣皮（一錢）　鶴蝨（一錢五分）　雷丸（一錢）　烏藥（一錢）　砂仁（一錢）　厚朴（一錢）　開口花椒（二十四粒）</p>
<p>本方以歸、術補脾，苓、苡去濕以顧正，以花椒、雷丸、鶴蝨殺蟲，以厚朴、烏藥、砂仁運中樞，乃攻補兼施之正法也。祖怡注。</p>

<h2>三沖</h2>
<p>新產之後，以去瘀為第一，無病則服生化湯，有病則於治病藥中加生化湯。惡露上衝，見證有三：一曰沖胃，胸脘痞懸，時時作噦，去惡平胃散主之。一曰沖肺，氣喘鼻掀，頭汗微出，去惡清肺湯主之。一曰衝心，頭眩神昏，不能語言而斃矣；姑於萬分危險之中，勉立一法，以盡人事，去惡清心湯主之。</p>
<p><u>去惡平胃散</u>（自制）</p>
<p>當歸（一錢）　川芎（一錢）　桃仁（一錢）　炮姜（五分）　楂炭（三錢）　廣皮（一錢）　茅朮（一錢炒）　厚朴（一錢）　木香（五分）　砂仁（一錢）　蘇木（三分）　降香（五分）</p>
<p><u>去惡清肺湯</u>（自制）</p>
<p>當歸（一錢）　川芎（一錢）　桃仁（一錢）　炮姜（五分）　楂炭（三錢）　延胡索（一錢）　蘇子（二錢）　桑皮（三錢）　橘紅（一錢）　貝母（二錢）　蘇木（三分）　降香（五分）　童便（一杯沖服）</p>
<p><u>去惡清心湯</u>（自制）</p>
<p>當歸（二錢）　川芎（一錢）　桃仁（一錢五分）　炮姜（六分）　楂炭（三錢）　延胡索（一錢）　琥珀（一錢）　生熟蒲黃（各六分）　丹參（三錢）　牛膝（二錢）　燈芯（三尺）　蘇木（三分）　降香（五分）</p>

<h1>朱跋</h1>
<p>上《醫醇賸義》四卷，從《重藥輕投辯》起至《產後三沖》止，計二十四門，共出自制方，每門少則三四道，多者至二十道，共得一百九十六方（新增有方無論者八道，未算在內）。先生日鮮暇晷，晚年抽閒成此賸義，並無名利之心，不過自抒心得，為後學舉隅示範而已。祖怡所注，學識有限，自愧不克儘量發揮，深願後之讀者，從條文中求得辨證的原理；從方法中求得用藥的原則；從相對的比較、相反的比較中，求得中醫藥學理的正確觀點；好學虛心，不斷努力，庶不負先生鄭重叮嚀之一片苦心爾。</p>
<p><u>通家後學朱祖怡敬跋</u></p>
