<header data-type="book">
<h1>癘瘍機要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1554">公元1554年</data></dd></div>
<div><dt>底本</dt><dd>日本承應三年（1654年）刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=2e9b1b5dc39e4f58a43902c81915b89bfDcyNDc00&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫醫猶理也，醫之有瘍醫，猶理之有兵也。善為理者，正其五官，齊其百司，使紀綱法度，各有所攝而不弛，則垂拱委裘而天下可以無變，不幸而一隅乘釁，然後不得已而兵之。故兵非理之所尚也，將藉之以除亂也。彼其平居無事之時，而吾所以弭亂之本，既已縝密完固，而無所疏漏，一旦有急則除之而已耳。故兵雖試而國家之元氣不虧，醫之為道也亦然。方其病在腠理也，湯液之所及也。其在腸胃也，湔浣之所及也。若夫隆然皮膚之間，甚至不可名狀者，彼何為哉，其能不攻刺乎！其能不搏擊乎！顧攻有守而後攻，擊有備而後擊。苟不諦其虛實，不量其壯羸，而動曰攻擊之，吾恐病未卻而精已耗。譬則忿兵數逞，而國計內空，疥癬之疾，將不為腹心之患者幾希，噫，可不慎乎。故明於理者，可與語醫也。已世之以瘍名家者多矣，然孰有如我立齋先生者耶。蓋先生以岐黃世業，旁通諸家，微詞頤旨，靡不究竟。其言以為不知外科者，無以通經絡之原委。不精《內經》者，無以究陰陽之變合。內外殊科，其揆一也。故其視病不問大小，必以治本為第一義。無急效，無近期，紓徐從容，不勞而病自愈。間出《癘瘍機要》一編，屬其友沈生梓之以傳。沈生讀之，大率以己意而訂古方，以醫案而驗治效，以調補為守備之完策，以解利為攻擊之權宜。蓋不出乎廟堂之訐謨，而坐得夫催陷廓清之術。假令業醫者而執是焉，既不病於滯而不通，又不病於膚而無本，奚至攻其所習，而毀所不見耶。噫！若先生者可謂醫而通於理者矣。是錄也，顧不可傳哉。或者曰：誠若所言，則內外醫分門異業者非歟。周官有疾醫、瘍醫二職，並存何也？曰：非是之謂也。昔秦越人之為醫也，聞秦貴小兒則小兒醫，趙貴婦人則帶下醫，周貴老人則耳目痹醫。一醫而三習，非其術誠奇幻，理固不殊也。若周官所存，則以其職言耳，豈知後世判為兩途，絕不相通者哉。古之任官，居則為命卿，而出則為命將。夫一人也，而理與兵兼焉，孰謂內外醫果不相通者哉。</p>
<p><u>嘉靖歲甲寅中秋，秀州沈啟原道卿甫著。</u></p>

<h1>上卷</h1>
<p>《內經》云：風氣與太陽俱入行諸脈，俞散於分肉之間，與衛氣相干，其道不利，故使肌肉潰䐜而有瘍。衛氣有所凝而不行，故其肉有不仁也。有榮衛熱胕，其氣不清，故使鼻柱壞而色敗，皮膚潰瘍。風寒客於脈而不去，名曰癘風。其治法當刺肌肉骨髓，以泄榮衛之沸熱。《靈樞經》以銳針刺腫上出惡血。近代先哲云：感天地肅殺惡氣所致，其上體先見或多者，毒在上也；下體先見或多者，毒在下也。蓋氣受邪則上多，血受邪則下多，氣血俱受，則上下齊見。若眉毛先落者毒在肺，面發紫泡者毒在肝，腳底先痛或穿者毒在腎，遍身如癬者毒在脾，目先損者毒在心，此五臟受症之重也。一曰皮死麻木不仁，二曰肉死針刺不痛，三曰血死爛潰，四曰筋死指脫，五曰骨死鼻柱壞，此五臟受傷之不可治也。若聲啞目盲，尤為難治。大抵此症，多有勞傷氣血，腠理不密，或醉後房勞沐浴，或登山涉水，外邪所乘，衛氣相搏，濕熱相火，血隨火化而致，故淮陽嶺南閩間多患之。治當辨本症、兼症、變症、類症、陰陽虛實而治焉。若妄投燥熱之類，膿水淋漓，則肝血愈燥，風熱愈熾，腎水愈傷，相火愈旺，反致敗症矣。</p>

<h2>本症治法</h2>
<p>一癘瘍所患，非止一臟，然其氣血無有弗傷，兼症無有弗雜，況積歲而發現於外，須分經絡之上下，病勢之虛實，不可概施攻毒之藥。當先助胃壯氣，使根本堅固，而後治其瘡可也。經云：真氣奪則虛，邪氣勝則實。凡云病屬有餘，當認為不足。</p>
<p>一癘瘍當知有變有類之不同，而治法有汗有下有砭刺攻補之不一。蓋兼症當審輕重，變症當察後先，類症當詳真偽，而汗下砭刺攻補之法，又當量其人之虛實，究其病之源委而施治之。蓋虛者形氣虛也，實者病氣實而形氣則虛也。</p>
<p>一癘瘍砭刺之法，子和張先生，謂一汗抵千針。蓋以砭血不如發汗之周遍也，然發汗即出血，出血即發汗，二者一律。若惡血凝滯，在肌表經絡者，宜刺宜汗，取委中出血則效。若惡毒蘊結於臟，非盪滌其內則不能痊。若毒在外者，非砭刺遍身患處，及兩臂腿腕兩手足指縫各出血，其毒必不能散。若表裡俱受毒者，非外砭內泄其毒，決不能退。若上體患多，宜用醉仙散，取其內蓄惡血於齒縫中出，及刺手指縫並臂腕，以去肌表毒血；下體患多，宜用再造散，令惡血陳蟲於穀道中出，仍針足指縫並腿腕，隔一二日更刺之，以血赤為度。如有寒熱頭疼等症，當大補血氣。</p>
<p>一癘瘍服輕粉之劑，若腹痛去後兼有膿穢之物，不可用藥止之。若口舌腫痛，穢水時流，作渴發熱喜冷，此為上焦熱毒，宜用瀉黃散。若寒熱往來，宜用小柴胡湯加知母。若口齒縫出血發熱，而大便秘結，此為熱毒內淫，宜用黃連解毒湯。若大便調和，用濟生犀角地黃湯。若穢水雖盡，口舌不愈，或發熱作渴，而不飲冷，此為虛熱也，宜用七味白朮散。</p>
<p>一癘瘍手足或腿臂或各指拳攣者，由陰火熾盛，虧損氣血，當用加味逍遙散加生地黃及換肌散兼服。</p>
<p>一癘瘍生蟲者，五方風邪翕合，相火制金，木盛所化，內食五臟，而症見於外也。宜用升麻湯送瀉青丸，或樺皮散以清肺肝之邪，外灸承漿，以疏陽明任脈，則風熱息，而蟲不生矣。肝經虛熱者，佐以加味逍遙散、六味地黃丸。</p>
<p>一癘瘍久而不愈，有不慎起居飲食，內火妄動者；有臟腑傷損，氣血疲乏者；有用攻伐之物，氣血愈虧者；有不分兼變相雜，用藥失宜者；有病人諱疾忌醫者。</p>
<p>一癘瘍愈而復發，有不戒厚味，內熱傷脾者；有不戒房勞，火動傷腎者；有不戒七情，血氣傷損者；有餘毒未盡，兼症干動者；有氣虛六淫外乘者。古人云：此症百無一生，正謂此耳。</p>

<h2>兼症治法</h2>
<p>一頭目眩暈，若右寸關脈浮而無力，脾肺氣虛也，用補中益氣湯。若左關尺脈數而無力，肝腎氣虛也，用六味地黃丸。若右寸尺脈浮大或微細，陽氣虛也，用八味地黃丸。血虛者，四物湯加參、苓、白朮；氣虛者，四君子湯加當歸、黃耆；肝經實熱者，柴胡清肝散；肝經虛熱者，六味地黃丸；脾氣虛弱者，補中益氣湯；脾虛有痰者，半夏、白朮、天麻湯；砭血過多者，芎歸湯；發熱惡寒者，聖愈湯；大凡發熱則真氣傷矣，不可用苦寒藥，恐復傷脾胃也。</p>
<p>一口喎目斜，若手足牽搐，或眉稜癢動，屬肝經血虛風熱，用加味逍遙散、六味地黃丸，以生肝血滋腎水；若寒熱往來，或耳聾脅痛，屬肝木熾盛，先用小柴胡合四物湯，以清肝火生肝血；若筋攣骨痛，或不能動履，用六味地黃丸、補中益氣湯，以滋化源；若因服燥藥而致者，用四物湯，加生甘草、金銀花，以解熱毒、益陰血。凡此俱屬肝經血燥所致，須用六味地黃丸、補中益氣湯為主；若因怒氣房勞而甚者，用六味地黃丸、十全大補湯為主；若因勞傷形體而甚者，用補中益氣湯、十全大補湯為主。</p>
<p>一夏秋濕熱行令，若飲食不甘，頭目眩暈，遍身痠軟，或兩腿麻木，口渴自汗，氣促身熱，小便黃數，大便稀溏，濕熱傷元氣也，用清燥湯；如在夏令，用清暑益氣湯；若自汗盜汗，氣高而喘，身熱脈大，元氣內傷也，用補中益氣湯；若嘔吐少食，肚腹痞悶，大便不實，脾胃受傷也，用六君子湯；若胸腹不利，飲食少思，吐痰不止，脾胃虛痞也，用四君子湯；若形氣倦怠，肢體麻木，飲食少思，熱傷元氣也，用人參益氣湯。</p>
<p>一熱渴便濁，若夜安晝熱者，熱在氣分也，用清心蓮子飲；晝安夜熱者，熱在血分也，用四物二連湯，俱佐以六味地黃丸；若寒熱往來者，肝經血虛也，用加味逍遙散、六味地黃丸。</p>
<p>一小便不利，若因服燥藥而致者，用四物湯，加炒黑黃柏、知母、生甘草，以滋陰血；若頻數而色黃者，用四物湯，加參朮、麥門、五味子，以生血氣；若短而色黃者，用補中益氣湯，加山藥、麥門、五味、以滋化源。經云：無陰則陽無以生，無陽則陰無以化。</p>
<p>一大便不通，若血虛內熱而澀滯者，用四物湯，加麥門、五味子，以生血潤燥；若因燥熱之藥而患者，用四物湯，加連翹、生甘草，以生血清熱；若服克伐之藥而致者，用四君子湯，加芎、歸以助氣生血；若作渴飲冷者，熱淫於內也，用竹葉石膏湯，以清胃火；若作渴飲湯者，腸胃虛熱也，用竹葉黃耆湯，以補氣生津；若內熱作渴，面赤飲湯者，用四物湯送潤腸丸，以涼血潤燥；若腸胃滿燥，燥在直腸而不通者，用豬膽汁導之；腸胃氣虛，血涸而不通者，用十全大補湯；若肝膽邪盛，脾土受侮而不能輸化者，用小柴胡湯加山梔、郁李仁、枳殼治之。</p>
<p>一怔忡無寐，或兼衄血便血，若內熱晡熱，作渴飲湯，肢體倦怠，此脾血虛而火動也，用四君子加芎歸；若思慮傷脾動火而致，用歸脾湯加山梔；若發熱晡熱，用八珍湯加酸棗仁、茯神、遠志；若因心血虛損，用柏子仁散。大抵此症皆心脾血少所致，但調補胃氣，則痰清而神自安，不必專於清熱治痰。</p>
<p>一發熱惡寒，若肢體倦怠，煩躁作渴，氣高而喘，頭痛自汗者，此內傷氣血也，用補中益氣湯，加五味、麥門。怠倦食少，大便不調，小便頻數，灑淅惡寒者，此脾肺氣虛也，用升麻益胃湯。煩躁作渴，體倦少食，或食而不化者，此脾氣虛熱也，用六君子湯。</p>
<p>一發熱在午前，脈數而有力者，氣分熱也，用清心蓮子飲。脈數而無力者，陽氣虛也，用補中益氣湯。午後脈數而有力者，血分熱也，用四物湯加牡丹皮。脈數而無力者，陰血虛也，用四物湯加參、術。熱從兩脅起者，肝虛也，用四物湯加參、朮、黃耆。從臍下起者，腎虛也，用四物湯加參、朮、黃柏、知母、五味、麥門、肉桂，或六味丸。其熱晝見夜伏，夜見晝止，或去來無定時，或起作無定處，或從腳起者，此無根虛火也，須用加減八味丸，及十全大補湯，加麥門、五味，更以附子末唾津調搽湧泉穴。若形體惡寒喜熱飲食者，陽氣虛寒也，急用八味丸。</p>
<p>一口乾，若惡冷飲食者，胃氣虛而不能生津液也，用七味白朮散。若喜冷飲食者，胃火盛而消爍津液也，須用竹葉石膏湯。夜間發熱口渴者，腎水弱而不能上潤也，當用六味地黃丸。若因汗下之後而有前患，胃氣虛也，宜用八珍湯主之。</p>
<p>一作渴，若煩躁飲冷者，屬上焦實熱，用涼膈散。兼大便秘結者，屬上焦實熱，用清涼飲。若用克伐之藥而渴者，氣血虛也，急用八珍湯六味丸。</p>
<p>一耳聾耳鳴，若左寸關脈弦數者，心肝二經虛熱也，用四物湯加山梔、柴胡生陰血。右寸關脈浮大者，脾肺二經虛熱也，用補中益氣湯加山梔、桔梗培陽氣。若因怒便作，用小柴胡湯加山梔、芎、歸清肝涼血。若午前甚用小柴胡湯加參、耆、歸術補氣清肝。午後甚用四物湯加酒炒黑黃柏、知母、五味補陰降火。如兩足心熱屬腎虛，用六味丸以壯水之主。兩足冷屬陽虛，用八味丸以益火之源。</p>
<p>一項強口噤，腰背反張者，氣血虛而發痙也。仲景張先生云：足太陽病發汗太多則痙，風病下之則痙，復發汗則加拘急，瘡家發汗則痙。蓋風能散氣，故有汗而不惡寒，曰柔痙。寒能澀血，故無汗而惡寒，曰剛痙。皆因內虛復汗亡津血，筋無所養而然，悉屬虛象，非風症也，當大補氣血為主。故產婦潰瘍，勞傷氣血，濕熱相火，誤服克伐之劑者多患之，其義可見。近以痙為痓傳寫之誤也。</p>
<p>一婦女經閉，若因鬱火傷脾，以歸脾湯加山梔、丹皮。氣血俱虛，以八珍湯加山梔、丹皮。若因服燥藥傷血，以四物湯加生甘草。若經候過期而來者，氣血虛也，八珍湯倍用參、術。先期而來者，血虛熱也，四物湯倍加參、朮、牡丹皮。將來而作痛者，氣虛血滯也，四物湯加茯苓、白朮、香附。色紫而成塊者，血熱也，四物湯加山梔、丹皮。作痛而色淡者，血氣虛也，用八珍湯。其血崩之症，肝火不能藏血者，用加味逍遙散。脾虛不能統血者，用補中益氣湯。凡此皆六淫七情，虧損元氣所致，當審其因而調補胃氣為主。</p>

<h2>變症治法</h2>
<p>一身起疙瘩搔破，膿水淋漓，若寒熱往來者，肝經氣血虛而有火也，用八珍散加丹皮、柴胡。寒熱內熱者，血氣弱而虛熱也，用八珍散倍用參、術。若惡寒形寒者，陽氣虛寒也，用十全大補湯。若肌膚搔如帛隔者，血氣不能外榮也，用人參養榮湯。若面部搔之麻癢者，氣血不能上榮也，用補中益氣湯。若痿軟筋攣者，血氣不能滋養也，用補中益氣湯。佐以六味地黃丸。</p>
<p>一口舌生瘡，或咽喉作痛，若飲食喜冷，大便秘結者，實熱也，用四順清涼飲。肌熱惡熱，煩渴引飲者，血虛也，用當歸補血湯。飲食惡寒，大便不實者，虛熱也，用十全大補湯。熱從下或從足起者，腎虛熱也，用加減八味丸。若飲食難化，四肢逆冷者，命門火衰也，用八味地黃丸。</p>
<p>一牙齒作痛，或牙齦潰爛，若喜寒惡熱，屬胃火，加味清胃散為主。惡寒喜熱，屬胃虛，補中益氣湯為主。</p>
<p>一自汗盜汗。蓋自汗屬氣虛，盜汗屬血虛，自汗用補中益氣湯，送六味地黃丸。盜汗用當歸六黃湯（內芩、連、黃柏炒黑用），送六味地黃丸。若因勞心而致，以歸脾湯，倍用茯神、酸棗仁。</p>
<p>一唾痰或作喘，若右寸脈浮緩者，肺氣虛也，用六君子湯加桔梗。右寸脈洪滑者，肺經有熱也，用瀉白散。右寸關脈浮緩遲弱者，脾肺氣虛也，用六君子湯，加桔梗、黃耆。右寸關脈洪滑遲緩者，脾熱傳肺也，用瀉白瀉黃二散。右尺脈微弱者，命門火衰而脾肺虛也，用人參理中丸，如不應，用八味地黃丸。右寸脈洪數者，心火克肺金也，用人參平肺散，如不應，用六味地黃丸。左寸關脈洪弦數者，心肝二經有熱也，用柴胡清肝散，如不應，佐以牛黃清心丸，清其風熱，仍用六味地黃丸，以鎮陽光。左尺脈數而無力者，腎虛而水泛上也，用六味地黃丸，加五味子以滋陰。如脈微細，或手足冷，或兼喘促，急用八味地黃丸以補陽。</p>
<p>一舌赤裂或生芒刺，兼作渴引飲，或小便頻數，不時發熱，或熱無定處，或足心熱起者，乃腎水乾涸，心火亢盛，用加減八味丸主之，佐以補中益氣湯。若誤用寒涼之劑，必變虛寒而歿。</p>
<p>一口舌生瘡，作渴不止，不時發熱，或晝熱夜止，或夜熱晝靜，小便頻數，其熱或從足心，或從兩脅，或從小腹中起，外熱而無定處者，此足三陰虧損之症也，用加減八味丸為主，佐以十全大補湯。若誤用寒涼治火之劑，復傷脾胃，胸腹虛痞，飲食少思，或大便不實，小便不利，胸腹膨脹，肢體患腫，或手足俱冷者，此足三陰虧損之虛寒症也，急用加減金匱腎氣丸，亦有復生者。</p>
<p>一肚腹腫脹，若朝寬暮急，屬陰虛；暮寬朝急，屬陽虛。朝暮皆急，陰陽俱虛也。陽虛者，朝用六君子湯，夕用加減腎氣丸。陰虛者，朝用四物湯加參、術，夕用加減腎氣丸。真陽虛者，朝用八味地黃丸，夕用補中益氣湯。若肚腹痞滿，肢體腫脹，手足並冷，飲食難化，或大便泄瀉，口吸氣冷者，此真陽衰敗，脾肺腎虛寒不能司攝，而水泛行也，急用加減腎氣丸，否則不救也。</p>
<p>一發熱惡寒，若寸口脈微，名陽氣不足，陰氣上入陽中，則惡寒也，用補中益氣湯。尺部脈弱，名陰氣不足，陽氣下陷於陰中，則發熱也，用六味地黃丸。若暑熱令而肢體倦怠，此濕熱所乘，屬形氣虛而病氣實也，當專補陽氣，用補中益氣湯。若發熱大渴引飲，目赤面紅，此血虛發熱，屬形病俱虛也，當專補陰血，用當歸補血湯。</p>
<p>一發熱作渴，若右寸關脈浮大而無力者，脾肺之氣虛也，用補中益氣湯。數而有力者，脾肺之氣熱也，用竹葉石膏湯。寸脈微數而無力者，肺氣虛熱也，用竹葉黃耆湯。尺脈微細或微數而無力者，命門火衰也，用八味地黃丸。左寸關脈數而有力者，心肝之氣熱也，用柴胡梔子散。數而無力者，心肝之氣虛也，用六味地黃丸。尺脈數而無力者，腎經虛火也，用加減八味丸。大凡瘡愈後口渴，或先渴而患瘡，或口舌生瘡，或咽喉腫痛，或唇裂舌黃，目赤痰涎上湧者，皆敗症也，非此丸不能救。</p>
<p>一眼目昏弱，或內障黑花，屬血虛神勞，用滋陰腎氣丸。若視物無力，或見非常之狀，屬陰精虛弱、用滋陰地黃丸。若視物無力，或視物皆大，屬陽盛陰虛，用六味地黃丸。若目緊體倦，或肌膚麻木，屬脾肺氣虛，用神效黃耆湯。若至夜目暗，燈下亦暗，屬陽虛下陷，用決明夜靈散。若眼暗體倦，內障耳鳴，屬脾胃氣虛，用益智聰明湯。蓋五臟六腑之精氣，皆稟受於脾土，上貫於目，脾為諸陰之首，目為血脈之宗，當補脾土為善。</p>
<p>一衄血吐血，若左寸關脈數而無力，血虛也，四物加參、術，浮而無力氣虛也，補中益氣湯，尺脈數或無力腎虛也，六味地黃丸。右寸關脈數而有力者，肺胃熱也，犀角地黃湯。數而無力者，肺胃虛熱也，先用濟生犀角地黃湯，後用四物湯加參、苓、白朮。尺脈數無力陰虛也，用六味地黃丸。若面黃目澀眵多手麻者，脾肺虛也，用黃耆芍藥湯。</p>
<p>一飲食少思，若因胃氣虛而不能食，用四君子湯。若因脾氣虛而不能化，用六君子湯。大便不實，或嘔吐者，脾氣虛寒也，用六君子湯，加乾薑、木香。若作嘔口渴，或惡冷飲食者，胃氣虛熱也，用五味異功散。喜冷飲食，胃氣實熱也，用瀉黃散。</p>
<p>一帶下，因經行產後，外邪入胞，傳於五臟，而致之。其色青者屬於肝，用加味逍遙散加防風。濕熱壅滯，小便赤澀，用前散加炒黑龍膽草。肝血不足，或燥熱風熱，用六味丸、逍遙散。色赤者屬於心，用小柴胡湯加黃連、山梔、當歸。思慮過傷者，用妙香散、六味丸。色白者屬於肺，用六味丸、補中益氣湯加山梔。色黃者屬於脾，用六味丸、六君子湯加山梔、柴胡，不應，用歸脾湯。色黑者屬於腎，用六味丸。氣血俱虛，用八珍湯。陽氣下陷，用補中益氣湯。濕痰下注，前湯加茯苓、半夏、蒼朮、黃柏，氣虛痰飲，四七湯送六味丸。若病久元氣下陷，或克伐所傷，但壯脾胃升陽氣為善。若拘於人之肥瘦，而用燥濕瀉火之藥，反傷脾胃，為害不淺。</p>
<p>一二便下血，若右關脈浮數，氣虛而熱也，用四君子加升麻、當歸。尺脈浮大或微弱，元氣下陷也，用補中益氣湯。左關脈洪數，血虛也，用四物湯加炒山梔、升麻、秦艽。脈遲緩或浮大，氣虛也，用四君子湯加升麻、炮姜。尺脈洪數或無力者，腎虛也，用六味地黃丸。若因房勞，傷損精氣，陰虛火動，而小便下血，諸血病者，不問脈症百端，但用前丸料煎服為善。</p>
<p>一泄瀉在五更或侵晨，乃脾腎虛，五更服四神丸，日間服白朮散，或不應，或愈而復作，急用八味丸，補命門火，以生脾土，其瀉自止。</p>
<p>一大便不通，屬脾肺虧損，大腸津液乾涸，或血虛火鑠，不可計其日期，飲食數多，必待腹滿脹自欲去而不能，乃熱在直腸間也，用豬膽汁潤之。若妄服苦寒辛散之劑，元氣愈傷，或通而不止，或成中痞之症。若氣血虛者，用八珍湯加麻子仁。腸胃虛者，用補中益氣湯加麻子仁。腎液不能滋潤，用六味地黃丸加麻子仁。若厚味積壅，小便淋秘者，肝腎虛也，用六味地黃丸，以滋腎水；用補中益氣湯，以補脾胃。若發熱晡熱，用六君子湯、加味逍遙散，養陰血，清風熱。若兼筋骨痛，先用透經解攣湯、秦艽地黃湯，後用八珍散加牡丹皮、柴胡主之。若誤服風劑而傷陰血者，用易老祛風丸，若兩股或陰囊或兩足，必用四生散、地黃丸為善。若誤服草烏、川烏之類，或敷巴豆、砒石等味，肌肉腐潰，反成癘症，治者審之。</p>
<p>一面赤搔癢，或眉毛脫落，屬肺經風熱，用人參消風散、樺皮散；氣虛用補中益氣湯，加天麻、殭蠶；血虛用加味逍遙散，加鉤藤鉤。面發紫泡或成塊，或眉毛脫落，屬肝經風熱，先用小柴胡湯加山梔、丹皮、鉤藤鉤，後用加味逍遙散。凡症屬肝經，血燥生風，但宜滋腎水生肝血，則火自息風自定癢自止矣。</p>
<p>一遍身疙瘩，或癮疹搔癢，此風熱傷血，用羌活當歸散，氣虛者佐以補中益氣湯加山梔、鉤藤鉤，血虛者佐以加味逍遙散加鉤藤鉤。若手足皴裂，不問黯白，或在手足腿腕，搔起白皮，此風熱而秘澀，用清胃散加芍藥。蓋腎開竅於二陰，精血不足，則大便秘塞而不通矣，須用六味地黃丸、補中益氣湯，以滋化源。</p>
<p>一小便不利，若不渴而不利者，熱在下焦血分也，用滋腎丸。渴而不利者，熱在上焦氣分也，用清肺散。腎經陰虛而不利者，用六味地黃丸。熱結膀胱而不利者，用五淋散。</p>
<p>元氣虛而不能輸化者，用補中益氣湯。脾肺之氣燥而不能化生者，用黃芩清肺飲。若轉筋便閉氣喘，不問男女孕婦，急用八味丸，緩則不救。</p>
<p>一白濁，足三陰經主之，屬厚味濕熱所致者，用加味清胃散。肝腎虛熱者，用六味地黃丸為主，佐以逍遙散。脾腎虛者，用六味丸佐以六君子湯。肝脾鬱滯者，六味丸佐以歸脾湯。肺脾氣虛者，六味丸佐以補中益氣湯。濕痰下注者，益氣湯佐以六味丸。</p>

<h2>癘瘍類症</h2>
<p>（類症者與癘形狀相似而所因不同也）</p>
<p>一兩臁如癬，搔癢久則膿水淋漓，或搔起白皮者，名腎臟風也，用四生散以祛風邪，用六味地黃丸，以補腎水。若頭目不清，內熱口乾體倦，痰熱血燥，秋間益甚，故俗名雁來風，宜用羌活白芷散、加味逍遙散。氣虛者，佐以補中益氣湯加皂角刺、鉤藤鉤。血虛者，佐以八物湯加柴胡、牡丹皮或加味逍遙散兼服。</p>
<p>一肢體或腿臂腕間患㾦癗，而遊走不定者，赤曰赤遊風。白曰白遊風，為血虛陰火內動，外邪所搏之症，白用人參消風散，赤用加味逍遙散。氣血俱虛，用八珍湯。晡熱內熱，用加味逍遙散、六味地黃丸。</p>
<p>一遍身或頭面起疙瘩，或如霞片，或破而膿水淋漓，或癢痛寒熱，乃肝火血虛也，用加味逍遙散。若口苦脅痛，小便淋瀝，肝火血熱也，用柴胡清肝散。若婦女夜間譫語發熱，熱入血室也，用小柴胡湯加山梔、生地黃。血虛者，四物合小柴胡湯，病退，卻用逍遙散，以健脾胃生陰血。此症多有因怒氣而發者，治當審之。</p>
<p>一婦人肢體癮疹疙瘩，搔破成瘡，膿水淋漓，熱渴眩暈，日晡益甚者，用四物湯加柴胡、山梔、丹皮，清肝火補肝血。若煩熱體倦，頭目不清，用八珍散加丹皮、山梔，補脾氣生陰血。若自汗盜汗，月水不調，肚腹作痛，用八珍湯、六味丸。若食少體倦，心忪盜汗，經閉寒熱，用八珍湯，佐以加味逍遙散。若病久元氣怯弱，用十全大補湯，佐以歸脾湯。</p>
<p>一女子十三四或十六七，而天癸未至，或婦人月經不調，發赤癍癢痛，此屬肝火血熱，用小柴胡湯加山梔、生地黃、牡丹皮、防風。</p>
<p>一生蟲者，乃相火制金不能平木而化耳，非風邪所生也。但滋腎水生肝血，或佐以灸承漿之類，說見本症。</p>
<p>一敷砒霜，患處作痛，或腐潰，用濕泥頻塗換之。若毒入腹，胸膈苦楚，或作吐瀉，飲冷米醋一二杯即止，多亦無妨，生綠豆末、芝麻油俱可。</p>
<p>一敷貼雄黃藥，悶亂或吐瀉，用防己煎湯解之。</p>
<p>一服辛熱藥，而眉發脫落者，乃肝經血傷而火動，非風也，用四物湯、六味丸，以滋肝血、生腎水。</p>
<p>一服川烏、草烏等藥，悶亂流涎，或昏憒嘔吐，或出血吐血，用大豆、遠志、防風、甘草，任用一味，煎湯解之。大凡服風藥過多，皆宜用之，未應，急用甘草、生薑汁解。</p>
<p>一敷貼巴豆之藥，患處作痛，肌肉潰爛，以生黃連為末，水調敷之。若毒入肉，吐瀉等症，更以水調服一二錢，大小豆、菖蒲汁俱可。</p>
<p>一敷貼藜蘆，毒入內，煎蔥湯解之。</p>
<p>一服祛風克伐之藥，嘔吐少食，胸膈不利，或形氣倦怠等症，用六君子湯以補陽氣。若煩躁作渴，飲食不思，或晡熱內熱，面赤發熱，用四物湯加參、術，以生陰血，余從各門治之。</p>

<h2>本症治驗</h2>
<p>一男子冬間口苦耳鳴，陰囊濕癢，來春面發紫塊，微腫麻木，至冬遍身色紫，不知痛癢，至春紫處俱大，至夏漸潰，又至春眉落指潰。此患在肝膽二經，令刺手指縫並臂腿腕出黑血，先與再造散二服下毒穢，更以小柴胡合四物湯加白芷、防風、天麻、皂角刺，漸愈。又與換肌散，但遍體微赤，此血虛有火，因家貧未得調理，秋間發熱，至春面仍發塊，用前散並養血藥，喜年少謹疾得愈。</p>
<p>一膏粱之人，鼻壞眉落，指脫體潰，熱渴晡甚，用四物湯加酒炒黑黃柏、知母、五味、麥門、白芷、天麻、皂角刺，三十餘劑，熱渴少止。時仲夏精神倦怠，氣喘身熱，小便黃數，大便稀溏，此元氣虛而時熱勝也，用補中益氣湯頓安。乃與換肌散及益氣湯，兼服兩月，更以生脈散代茶飲，瘡少退。時至仲秋，眩暈少食，自汗體重，大便溏數，此亦時濕之症，用清燥湯調理而愈。又用補中益氣湯少加酒炒黑黃柏、知母、皂角刺、天麻，兩月餘而瘥。又因勞倦耳聵熱渴，誤服祛風藥，病氣益劇，身發赤疹，與益氣聰明湯，月許而愈。</p>
<p>一男子赤痛熱渴，膿水淋漓，心煩掌熱，目昧語澀，怔忡不寧，此心經受症也，用安神丸兼八珍湯，少加木通、炒黑黃連、遠志，元氣漸復。卻行砭刺，外邪漸退，但便燥作渴，用柴胡飲並八珍湯而愈，再用換肌散而瘥。</p>
<p>一男子肚見青筋，面起紫泡，發熱作渴，寅卯時甚，脈弦數，腿轉筋，小便澀，此肝經火症，先用柴胡飲，熱退便利，卻用小柴胡合四物湯加龍膽草、炒山梔，三十餘劑，及八珍湯加柴胡、山梔，養其氣血，乃用換肌散，去其內毒而安。年餘因勞役飲食失宜，寒熱頭痛，遍身赤疹，自用醉仙散而歿。</p>
<p>一男子面發紫疙瘩，膿水淋漓，睡中搐搦，遍身麻木，漸發赤塊，勞怒則癢，肝脈洪大，砭刺臂腿腕各出血，用清胃湯加大黃、皂角刺四劑，煎下瀉青丸，肝木少退；以升麻湯數劑，下前丸，諸症少愈；卻用寶鑑換肌散斤許，又用小柴胡合四物湯加參朮、天麻、角刺百餘劑，及六味地黃丸，半載而愈。後因勞遍身麻癢，脈微而遲，此氣血俱虛，不能榮於腠理，用十全大補湯，加五味、麥門，調理年餘而安。</p>
<p>一男子面赤發紫泡，下體癢痛，午後發熱，大便燥黑，此火盛而血虛也，用再造散及四物湯加防己、膽草，及刺腿指縫出毒血而便和；仍以前藥加白朮、白芷、茯苓、羌活、獨活而便黃；仍以四物去膽草、防己，少用獨活，加玄參、萆薢，五十餘劑而瘡退；卻用補中益氣湯加天麻、麥門，而氣血漸充；時仲秋霪雨，遍身痠痛，用清燥湯而安；隨用換肌散、胡麻散、八珍湯，兼服而愈。</p>
<p>一上舍面發腫，肌如癬，後變疙瘩，色紫，搔之出水，此脾肺之症也。先用清胃湯，以清胃熱解表毒；又用四物湯加山梔、黃芩、柴胡、皂角刺、甘草節，以養陰血祛風熱，及砭臂腿腕手足指縫並患處，以去毒血，疏通隧道；乃與八珍湯加白芷、皂角刺、五加皮、全蠍及二聖散，兼服月餘，以養陰血治瘡毒；又與補氣瀉榮湯，少愈；再與換肌散而全愈。後因勞倦遂發赤暈，日晡尤甚，以四物湯加丹皮、柴胡、山梔，並用補中益氣湯，年餘雖勞而不發。</p>
<p>一男子遍身如癬，搔癢成瘡，色紫麻木，掐之則痛，小便數而少，此脾胃受症，邪多在表，用清胃散，更砭刺患處，並臂腕，腕出黑血，神思漸爽，但惡寒體倦口乾，此邪氣去而真氣虛也，以大劑參、耆、芎、歸、蒺藜、桔梗數劑，元氣頓復。卻用八珍湯加黃耆、白芷、蒺藜、天麻、軟柴胡及二聖散治之，其瘡漸愈。後用換肌散八珍湯等藥，調理半載而痊。後仍發，誤用克伐攻毒，患兩感傷寒而死。</p>
<p>一男子遍身疙瘩，搔則癢，掐則痛，便閉作渴，此邪在內也。治以再造散二服，微下三次，用桃仁承氣湯加當歸四劑，及砭出黑血，漸知痛癢，但形體倦怠，用培養之劑復其元氣，又用二聖散，其瘡頓愈，更用大補年餘而康。後患痰涎壅盛，舌強語澀，用二陳、蒼朮、黃柏、知母、澤瀉四劑而愈，再用補中益氣湯調理而安。</p>
<p>一男子素清苦，眉盡落，病在肝膽二經也。乃刺臂腿腕及患處，出黑血，空心服八珍湯，加五味、胡麻、首烏、威靈，食後服換肌散，喜其無兼變之症，又能篤守禁忌，不半年而痊。</p>
<p>一儒者腳心或癢痛，或麻癢，或腫脹，二年後身體作癢，漸變疙瘩，發熱耳鳴，日晡益甚，此屬腎虛也。乃砭刺臂腕腿及手足指縫，去其瘀血，用六味地黃丸料加五味、柴胡五十餘劑以補腎，又用換肌散、祛風丸以治瘡，各斤許，瘡漸愈，得滋補守禁而痊。</p>
<p>一上舍遍身患之，形體俱虛，余謂須用調補，元氣完復，方治其瘡。不信，恪服蛇酒以攻內毒，外敷砒霜等藥以蝕外毒，頓加嘔吐清水，體痛如錐，或以為毒氣外發。余曰：脾主肌肉，此因毒藥脾傷而然也，反服祛毒之劑，吐瀉不止而歿。</p>
<p>一男子用藥湯熏洗，汗出不止，喘嗽不食，腹鳴足冷，肢體抽搐。余謂此因熱傷元氣，腠理不密，汗出亡陽耳，是日果卒。</p>

<h2>類症治驗</h2>
<p>欽天薛天契年逾六旬，兩臁膿水淋漓，發熱吐痰，數年不愈，屬腎臟風症，用四生散而瘥。年餘復作，延及遍體，日晡益甚，痰渴盜汗，唇舌生瘡，兩目皆赤，此腎經虛火。用加減八味丸，諸症悉愈。三年後小便淋瀝，莖道澀痛，此陰已痿，思色而精內敗也，用前丸及補中益氣湯加麥門、五味而愈。</p>
<p>翟鴻臚兩臁生瘡，漸至遍身，各大寸許，腫而色黯，時出血水，吐痰咽乾，盜汗心煩，溺赤足熱，日晡益甚，形體消瘦，左尺脈洪數無力。余以為腎經虛火，用六味丸，不月諸症悉退，三月元氣頓復。</p>
<p>松江掌教翟立之素善飲，遍身疙瘩，搔起白屑，上體為甚，面目焮腫，成瘡結痂，承漿潰膿，眼赤出淚，左關脈洪數有力，或作癘風治之，膿潰淋漓。余謂肝火濕毒，以四物湯加乾葛、連翹、山梔、柴胡、芩、連一劑，諸症悉退，四劑全退。兩睛各顯青白翳一片，亦屬肝火，再劑翳去，乃用六味丸而愈。</p>
<p>一儒者身發疙瘩，時起赤暈，憎寒發熱，服癘風之藥，眉落筋攣，後疙瘩漸潰，日晡熱甚，肝脈弦洪，餘脈數而無力，此肝經血虛風熱也。先以小柴胡合四物湯，加牡丹皮、酒炒黑黃柏、知母，肝脈漸和，晡熱漸退。又用八珍湯，加山梔，寒熱頓去。再與加味逍遙散，加參、朮、鉤藤鉤、木賊，服兩月瘡悉愈而眉漸生。後因怒復作，用小柴胡湯加芎、歸、鉤藤鉤、木賊而愈。後勞役發熱，誤用寒劑，不時身癢，日晡亦暈，早與補中益氣湯加五味、麥門、山藥，午後與加減八味丸尋愈。後食炙爆等物，痰盛作渴，仍發疙瘩，小便白濁，右關脈滑大有力，用補中益氣湯，加山梔，諸症悉退。</p>
<p>一男子愈後，肌膚作癢，口乾飲湯，此中氣虛不能化生津液，榮養肌膚，午前服七味白朮散、補中益氣湯，午後服參、耆、芎、歸、五味、麥門，少愈。又用十全大補湯，加五味、麥門全愈。</p>
<p>一男子愈後，因勞惡寒，頭痛體倦，余謂惡寒乃胃氣虛，不能護衛肌表，頭痛乃清氣虛，不能上升巔頂，用補中益氣湯加五味、麥冬益甚，更兼口噤，脈微細如無，又加附子五分，四劑而瘥。</p>
<p>一男子愈後，每早吐痰碗許，形體倦怠，此中虛氣而不能克化飲食，以參、耆、白朮、陳皮、半夏曲為丸，臨臥服，早間服補中益氣湯，不月而愈。蓋胃為五穀之海，脾為消化之器，若脾氣健旺，運行不息，痰自無矣。</p>
<p>一男子愈後，惡寒頭暈，食少體倦，屬中氣虛弱，用補中益氣湯加蔓荊子，並十全大補湯加五味子，血氣充而愈。</p>
<p>一男子面起赤暈，時或發腫，擘手亦然，搔起白屑，服癘風藥，內熱體倦，脈大而虛，此因元氣虛而陰血復傷。用六味地黃丸、補中益氣湯而尋愈。</p>
<p>一男子兩目俱赤，遍身癢痛，搔起白皮，此肝肺陰虛。誤服祛風燥劑，鼻赤面紫，身發疙瘩，搔出血水，用升麻湯下瀉青丸數服，又用加味逍遙散數劑。身鼻漸白，疙瘩漸消，又用四物湯加參、耆、柴胡、山梔，並換肌散，各百餘服，喜其年少謹疾，痊愈。</p>
<p>一男子愈後，寒熱往來，體瘦倦怠，飲食不甘，此因元氣虛而變症也。午前用補中益氣湯加麥門、五味，午後用四物湯加麥門，五味而愈。</p>
<p>一男子遍身搔癢，後成瘡出水，灑淅惡寒，皮膚皺起，眉毛漸落，大便秘結，小便赤少，此屬肺火為患。用補氣瀉榮湯四劑，諸症漸退。但倦怠惡寒，小便清少，此邪氣去而真氣虛也。用補中益氣湯兼換肌散，半載乃元氣復而諸症退。時仲秋忽大便不實，小便頻數，體倦食少，灑淅體重，此濕邪乘虛而作，用東垣益胃湯二劑頓安。仍用前藥調理，三月餘全愈。</p>
<p>一儒者遍身作癢，搔破膿水淋漓，眉毛脫落，如癘風症，久服祛風等藥，致元氣虧損，余用補中益氣湯加茯苓而愈。後失調理，日晡熱甚，用八珍湯加五味、麥門，五十餘劑而愈。</p>
<p>一儒者懷抱久郁，先四肢如癘，恪祛風消毒，氣血愈虛，延及遍身，寒熱作渴，肢體倦怠，脈洪大而虛，謂余何也？余曰：始因脾鬱血虛，陰火妄動，後因藥傷脾胃，元氣下陷。遂用補中益氣湯，培補脾胃，升舉元氣；用歸脾湯解散鬱火，生髮脾血；更以六味丸益腎肝精血，引虛火歸源，不兩月諸病悉愈。</p>
<p>一男子遍身生瘡，膿水淋漓，晡熱口乾，兩足發熱，形體消瘦，雜服風瘡藥，六年未愈。尺脈洪數而無力，此腎經瘡也，如小兒腎疳之症，用加減八味丸，不半載而痊。</p>
<p>一男子遍身生瘡，似疥非疥，膿水淋漓，兩腿為甚，作癢煩熱，肢體倦怠，年餘不愈。余以為腎經虛火，用加減八味丸而瘥。</p>
<p>一男子秋間發疙瘩，兩月餘漸高有赤暈，月餘出黑血，此風熱血虛所致。先用九味羌活湯，風熱將愈，再用補中益氣湯而愈。後不慎房欲復作，盜汗晡熱，口乾吐痰，體倦懶言，用補中益氣湯、加減八味丸頓愈。</p>
<p>一男子兩掌每至秋皮厚皺裂起白屑，內熱體倦，此肝脾血燥，故秋金用事之時而作，用加味逍遙散，加川芎、熟地，三十餘劑而愈。再用六味丸加五味、麥門，服之半載後，手足指縫臂腿腕皮厚色白，搔之則木，久服前藥方愈。</p>
<p>一男子因大怒發熱，眉發頓落，蓋發屬腎而眉屬肝，此肝腎素虛為怒，陰火愈盛，銷鑠精血而然也。用六味丸料加柴胡、山梔、黃柏，數劑漸生，又二十餘劑而完。</p>
<p>一男子遍身搔癢，服祛風辛燥之劑，眉發脫落，余謂前藥復傷肝腎，精血虛而火內熾所致。朝用八珍湯加麥門冬、五味子，夕用六味丸料加當歸、黃耆治之，風熱退而眉發生矣。</p>
<p>一男子染時瘡，服換肌散之類，眉毛頓脫，遍身作癢，或時赤暈，乃燥藥損其陰血，陽氣偏旺而然耳。朝用四物湯倍熟地，加茯苓、白朮、牡丹皮、山梔、生甘草，夕用六味丸料加當歸、黃耆治之，瘡症既愈，眉毫亦生。</p>
<p>一男子素不慎房勞，其發忽落，或發熱惡寒，或吐痰頭暈，或口乾作渴，或小便如淋，兩足發熱，或冷至脛，屬足三陰虧損而陰火內熾。朝用十全大補湯，夕用六味丸料加炒黑黃柏、枸杞子治之，諸症退而發漸生。</p>
<p>一男子素膏粱醇酒，患腎臟風，延及遍身，服癘藥益甚，又用捻藥於被中熏之，嘔吐腹脹，遍身浮腫潰爛，膿水淋漓，如無皮而死。</p>
<p>一男子足三陰虛患血風瘡症，誤服祛風散毒之劑，外敷斑蝥、巴豆等類，肌肉潰爛，嘔吐腹膨，或泄瀉足冷，或煩熱作渴，此藥復傷脾胃虛敗也。辭不治，不越月而歿。</p>
<p>一婦人膿水淋漓，發熱作渴，體倦惡寒，經水不調，久而不愈，此肝脾虧損而虛熱也。先用補中益氣湯加川芎、炒山梔，元氣漸復，更以逍遙散而瘡漸愈。</p>
<p>一婦人性急善怒，月經不調，內熱口苦，患時瘡，服敗毒之藥，膿水淋漓，熱渴頭眩，日晡益甚，用加味逍遙散，服之漸愈。因大怒，月經如湧，眼赤出淚，用四物湯加山梔、柴胡、連、芩數劑而愈。年餘手足臂腕起白點漸大，搔起白屑，內熱盜汗，月經兩月餘一至，每怒或惡寒頭痛，或不食作嘔，或胸乳作脹，或腹內作痛，或小便見血，或小水不利，或白帶下注，此皆肝木製伏脾土，元氣虛而變症也。用補中益氣湯加炒黑山梔及加味歸脾湯，間服半年而愈。</p>
<p>一婦人久郁，患在四肢，腿腕尤甚，誤用敗毒寒涼之劑，晡熱內熱，自汗盜汗，月經不行，口乾咽燥，此鬱火傷脾也。用歸脾湯數劑，後兼服逍遙散五十餘劑而愈。</p>
<p>一婦人身如丹毒，搔破如癘，熱渴頭暈，日晡益甚，此屬肝經風熱血燥，用加味逍遙散而愈。</p>
<p>一婦人素晡熱，月經不調，先手心赤癢，至秋兩掌皮厚皺裂，時起白皮，此皆肝脾血燥，用加味逍遙散加荊芥、鉤藤鉤、川芎、熟地，五十餘劑，又用歸脾湯二十餘劑，乃服六味丸而不再發。</p>
<p>一婦人兩腿腕紫黯寸許，搔破出水，或用祛風砭血，年餘漸胤如掌許，乃服草烏等藥，遍年搔癢，時出血水，內熱體倦，飲食無味，月經三月一至，脈洪而數，按之則澀，此燥劑愈傷脾血也。先以補中益氣湯加芍藥、川芎、五味十餘劑；乃與加味逍遙散加熟地、鉤藤鉤二十餘劑；再用歸脾湯加川芎、熟地黃，治之而不發。</p>
<p>一婦人日晡身癢，內外用追毒祛風之劑，膿水淋漓，午前畏寒，午後發熱，殊類癘風，用補中益氣湯加山梔、鉤藤鉤，又以加味逍遙散加川芎而愈。</p>
<p>一婦人手心色赤搔癢，發熱頭暈，作渴晡甚。服祛風清熱之藥，膚見赤痕，月經過期，用加味逍遙散，倍熟地，熱止癢退；更以四物湯加柴胡、參、耆、炙甘草、茯苓，頭清渴止；再用四物湯加參、朮、茯苓、山梔，赤暈亦消。</p>
<p>一婦人素清苦，四肢似癬疥，作癢出水，怒起赤暈，服祛風敗毒等劑，赤暈成瘡，膿水淋漓，晡熱內熱，自汗盜汗，月經不行，口乾咽燥，此郁傷脾血也。用歸脾湯、逍遙散，兩月而痊。</p>
<p>一婦人遍身疙瘩搔癢，敷追毒之藥，成瘡出水，寒熱脅痛，小便不利，月經不調。服祛風之劑，形體消瘦，飲食少思，此肝火血燥生風，前藥益傷脾血耳。先用歸脾湯二十餘劑，又用加味逍遙散二十餘劑，諸症漸愈；乃用六味丸調理而瘥。此等症候，服風藥而死者多矣。</p>
<p>一婦人愈後唇腫皺裂，食少肌瘦，晡熱益甚，月水過期，半年漸閉，時發渴躁，專於通經降火，發渴愈甚，唇脹出血，此脾經虛熱而血愈耗也。治以四物湯加參、苓、耆、朮、升麻、丹皮、柴胡、山梔，外症漸愈；又用八珍湯加丹皮、柴胡五十餘劑，月水調而諸症痊。</p>
<p>一小兒面部浮腫，遍身如癬，半年後變疙瘩，色紫作癢，敷巴豆等藥，皮破出水，痛癢寒熱，大便堅硬，脾肺脈洪數而實。先用防風通聖散，以解表裡，便利調和；又用四物湯加荊、防、黃芩、柴胡、皂角刺、甘草節，以涼血祛毒，諸症漸退；更以八珍湯加白朮、荊、防、角刺、五加皮而愈。後但勞則上體發赤暈，日晡益甚，此屬氣血虛而有火。用四物湯加丹皮、參、朮、柴胡，治之稍退；又用補中益氣湯加酒炒黑黃柏、知母，月餘痊愈。</p>
<p>一小兒遍身患疥如癘，或癢或痛，肢體消瘦，日夜發熱，口乾作渴，大便不實年餘矣，此肝脾食積鬱火。用蘆薈丸，不月而愈。</p>
<p>一女子十三歲，善怒，遍身作癢出水，用柴胡、川芎、山梔、芍藥以清肝火，用生地、當歸、黃芩以清肝血，用白朮、茯苓、甘草以健脾胃而愈。半載後遍身起赤痕，或時眩暈寒熱。余曰：此亦肝火熾甚，血得熱而妄行。其夜果經至。</p>
<p>一女子赤暈如霞，作癢發熱，用小柴胡湯加生地、連翹、丹皮而愈。大凡女子天癸未至，婦人月經不調，被驚著惱，多有此症。</p>
<p>一小兒十五歲，遍身似疥非疥，膿水淋漓，晡熱口乾，形體骨立四年矣，此腎疳之症，用加減八味丸而痊。</p>
<p>韓氏子年十四早喪天真，面紅腫如風狀，不時舉作，或誤用癘風藥，內虛發熱，口燥煩渴，甲辰冬邀治因請教焉。先生云：此內傷不足，陰火上炎，而類赤遊風症也。藥宜滋其陰則火自降，補其本則標自退。大經領教，用四君加參、耆四十劑；又用此作丸服斤許，不兩月而平復。若從有餘治之，則誤謬多矣。謹錄呈上，乞附藥案以惠後之患者，嘉靖丁未仲春門人朱大經頓首拜書。</p>

<h1>中卷</h1>

<h2>續治諸症</h2>
<p>一男子遍身患小瘡，或時作癢，口乾作渴。服消風散，起赤癢益甚；服遇風丹，膿水淋漓，飲食無度，肌肉消瘦，尺脈洪數，左尺尤甚。余謂腎水不足，虛火上炎為患。先用加減八味丸，其渴漸止；用補中益氣湯加五味子，肌肉漸生；佐以八珍湯加牡丹皮、麥門冬，百餘劑而痊。二年後不節房勞，其瘡復作，惑於人言，又服消風散之類，其瘡復患。余仍用前藥，調治而痊。</p>
<p>一男子善怒面青，腿內臁患癬類，色赤作癢，或為砭刺出血，發熱焮腫作痛，服消風散而益甚，服遇仙丹，愈加皮熱作渴，仍服之，膿水淋漓，其脈洪數，左關為甚。余謂肝經血虛，火內動復傷其血而瘡甚耳。先用柴胡清肝散數劑，又用四物、山梔治之，諸症漸愈；用八珍湯地黃丸，兩月餘而痊。</p>
<p>一男子面赤作渴，而常患小瘡作癢，服祛風藥，遍身發赤癗；服花蛇酒，更發赤暈，遍行砭刺；又服消風散，發熱口渴，飲水不止。余謂肝經血虛而風熱也，用梔子清肝散及地黃丸料煎服，熱渴漸止，瘡漸結靨；又用八珍湯、地黃丸，瘡靨漸脫；又服月餘，瘡漸愈。</p>
<p>一男面生粉刺，或生小癗，服消風散瘡益甚；服遇仙丹，加遍身赤癢；仍服前藥，發熱焮腫；又服旬余，潰而出水，形體骨立。先用四君、當歸、桔梗數劑，飲食稍進，又用八珍湯數劑而痊。</p>
<p>一男子患腎臟風，飲燒酒，發赤暈，砭出血，敷追毒之藥，成瘡出水，日晡益甚，類大麻風，服遇仙丹，眉毛折落，大便下血，虛羸內熱，飲食甚少，勢誠可畏。余先用聖濟犀角地黃湯，其血漸止；又用五味異功散加當歸、升麻，飲食漸進；用四物、參朮、牡丹，內熱漸減；用易老祛風丸，膿水漸少；又八珍、牡丹皮之類，月餘瘡漸結靨。因思慮發熱盜汗，瘡復作癢，兼起赤暈，用加味歸脾湯數劑，汗熱漸止，用加味逍遙散、六味地黃丸而痊。</p>
<p>一男子嗜膏粱炙爆醇酒辛辣之物，遍身生㾦癗，甚為作癢，服消風散之類，更起赤暈，又砭出血，其癢益甚，敷敗毒之劑，遂各成瘡，膿水津淫，眉毛漸脫，赤癢益甚，此脾經積熱傷血所致。余先用犀角地黃湯，諸症稍退；乃用濟生犀角地黃湯加黃連治之，膿水漸止；乃以八珍湯加山梔、牡丹皮，眉毛漸生；因飲食失宜，胸腹作脹，飲食少思，或大便下血，用五味異功散加升麻，飲食漸進；又用補中益氣湯而血止，仍用異功散加當歸、牡丹皮而痊。</p>
<p>一男子內臁作癢色黯，搔起白皮，各砭刺出血，其癢益甚，更起赤暈，延及外臁，津淫不已。服祛風之藥，肢體亦然，作渴引飲，左尺脈洪大，數而無力。余謂此腎經虛火復傷其血，火益甚而患耳。先以八珍湯加五味子、牡丹皮三十餘劑，諸症漸愈，乃佐以加減八味丸百餘劑而痊。</p>
<p>一男子常咳嗽，腿患白癜風，皮膚搔起白屑。服消風散之類，癢益甚起赤暈，各砭出血，赤暈開胤而癢愈甚；服遇仙丹之類，成瘡出水，殊類大麻風，咳嗽吐痰，面色皎白，時或痿黃，此脾肺二經虛熱之症。先用五味異功散治之，虛熱稍退；又用地黃清肺飲，肺氣漸清；又用八珍湯、六味丸而尋愈。後又咳嗽痰喘，患處作癢，用參蘇飲二劑，散其風邪；又用五味異功散加桔梗，補其肺氣而痊。二年後咳嗽作渴飲水，脈洪大左尺為甚，用加減八味丸，補腎水而痊。</p>
<p>一男子素不慎房勞，其發漸落，或發熱惡寒，或吐痰頭暈，或口乾作渴，或小便如淋，兩足發熱，或冷至脛，屬足三陰虧損而陰火內熾。朝用十全大補湯，夕用加減八味丸，諸症退而發漸生。後兩腿腕患紫癜風，延於兩股作癢，各砭出血，癢處日甚，服消風等藥，患處微腫，延及上體，兩眼昏澀，余謂腎臟風。先用四生散四服，後用易老祛風丸月餘，用地黃丸兩月餘而痊。後飲食起居失宜，肢體色赤，服二丸隨愈。</p>
<p>一男子患白癜風，過飲或勞役，患處色赤作癢。服消風散之類，頓起赤暈，遍身皆癢；砭出血，服祛風藥，患處出血；恪服遇仙丹，患處愈焮，元氣日虛。余先用九味蘆薈丸、九味羌活湯，諸症頓愈，用加味逍遙散、加味四物湯乃瘥。</p>
<p>一男子不時患疙瘩，搔癢成瘡，膿水淋漓，惡寒發熱。先用羌活當歸散而癢止，又用易老祛風丸而不發。後飲燒酒起赤暈，二便不通，口舌生瘡，熱渴不安，用防風通聖散，二便便利，但口乾體倦，飲食不入，用七味白朮散去木香，四劑而安。</p>
<p>一男子患瘡疥搔破出膿水，面赤作渴，大便堅實，脈洪數左關寸為甚，此木火相搏也。先用瀉青丸料煎服，熱勢頓減，又用梔子柴胡散、加味逍遙散而瘡愈。</p>
<p>一男子患搔癢破而成瘡，如大麻風。服遇仙丹，發熱作渴，大便秘結，脈沉實，右關為甚，此熱蓄於內也。先用黃連內疏湯而大便通利，又用防風通聖散去硝黃而熱渴止，卻用八珍湯而瘡愈。</p>
<p>一儒者素食膏粱，發熱作渴飲冷，患瘡，如大麻風，大便出黑血，服清熱祛風等寒藥益甚。余謂血分有熱火也，故寒之不寒。用四物二連湯以清熱涼血；用六味地黃丸以補腎生水而熱退；又用柴胡梔子散調理而痊。</p>
<p>一男子遍身患疙瘩作癢，勞而益甚，用參、耆、歸、術為君，佐以柴胡、炒芩、桔梗、川芎、炙草而瘥，更用補氣血之藥，後不再發。</p>
<p>一男子患疙瘩，搔癢發熱，形氣虛弱，口鼻氣熱，且喜飲冷，屬外邪也。以消風散二劑，外邪悉解，但倦怠少食，更治以參、耆、歸、朮、陳皮、炙草、五味子而健，又以補中益氣湯去柴胡、升麻，加茯苓、芍藥乃痊。</p>
<p>一男子患前症，多在臀腳，勞役則癢益甚，小便色黃，服敗毒散、芩、連之劑，患處癢痛，夜不得寐，余謂脾氣下陷。用補中益氣湯加五味、麥門，少用炒黑黃柏，治之而痊。凡病日間如故，日晡倦怠，或勞愈加晨起如故，皆元氣虛也，宜用前藥補而治之。</p>
<p>一儒者遍身生瘡搔癢，膿水淋漓，自知醫，服八珍、荊、防之類益甚，脈洪大按之無力，余謂此氣血虛熱也。用八珍湯加牡丹皮治之而愈。繼娶後兩足生瘡，久不愈，尺脈數而無力，余用地黃丸、八珍湯而痊。</p>
<p>余甥凌雲漢年十六，庚子夏作渴發熱，吐痰唇燥，遍身如疥，兩腿尤多，色黯作癢，日晡愈熾，仲冬腿患瘡，尺脈洪數。余曰：疥，腎疳也；瘡，骨疽也，皆腎經虛症。針之膿出，其氣氤氳，余謂火旺之際，必變瘵症。用六味地黃丸、十全大補，二旬諸症愈而瘵症具，仍用前藥而愈。抵冬畢姻，至春其症復作，仍服地黃丸數斤，煎藥三百餘劑而愈。</p>
<p>稽勳季龍岡遍身患此，腿足為甚，日晡益焮，口乾作渴，小便頻數。此腎經虛熱，用補中益氣湯、六味地黃丸而愈。</p>
<p>一儒者善嚏患疥，余以謂腠理不密，外邪所搏，用補中益氣湯加白芷、川芎治之，不從。自服荊防敗毒散，盜汗發熱，作渴焮痛，膿水淋漓，仍用前湯倍加參、耆、五味而痊。</p>
<p>一儒者患在臂腳，日晡或癢或脹，形體倦怠，自服敗毒散，痛處發腫，小便赤澀。此肺腎陰虛，余用補中益氣湯加五味子、麥門冬而愈。</p>
<p>一儒者遍身發癗，誤服攻毒之劑，元氣虛而不能愈。余用補中益氣湯加茯苓治之，其瘡頓愈。又因調理失宜，日晡益甚，用八珍湯加五味子、麥門冬，五十餘劑而愈。</p>
<p>一男子患疙瘩，色黯作癢出黑血，日晡至夜益甚，其腿日腫夜消，余以為氣血虛而有熱。朝用補中益氣湯，夕用加味逍遙散而愈。</p>
<p>一男子時疫愈後，遍身發癗作癢，服補中益氣湯而愈。有同患者不信余言，乃用砭法出血而死，此因陰虛血熱，色黑作癢也，何乃反傷陰血哉。</p>
<p>一男子患癗，干癢作痛，以芩、連、荊、防、山梔、薄荷、芍藥、歸稍治之而愈。</p>
<p>一儒者應試後，遍身瘙癢，後成疙瘩，此勞傷元氣，陰火內熾，秋寒收斂，腠理鬱熱內作。用補中益氣湯加茯苓、川芎、白芷而愈。後復勞仍作，惑於人言，服祛風敗毒藥，如大風之狀，又發熱作渴，倦怠懶食，余用補中益氣湯，倍加參、耆、歸、朮、半夏、茯苓、五味子、麥門冬而愈。</p>
<p>舉人陸世明會試途中勞役，胸患斑，焮赤作痛，頭痛發熱，形倦少食，大便或溏或結，小便赤澀。此勞傷元氣，而虛火內動，投補中益氣湯，一劑頓退，再劑而痊，又數劑而元氣復。</p>
<p>一男子脾腎氣血虛熱，恪服四物、黃柏、知母之類，元氣愈虛，倦熱益甚。余朝用補中益氣湯，夕用六味地黃丸加五味子，煎服而愈。後至閩為商，遍身搔癢，時喜熱水浴之，後患瘡癗，破而出水，用風藥益甚，或赤或白，眼作花癢。先用胡麻散、六味丸，癢漸愈；用六味丸、消風散，瘡漸愈，用八珍湯、六味丸而痊。次年兩股小腹頸項復作癢，用四生散、六味丸而愈。</p>
<p>一婦人經水先期，勞役或氣惱則寒熱搔癢。服祛風降火等藥，不勞怒而自癢發熱，更加痰喘氣促；服化痰清氣之藥，形氣倦怠，食少胸痞，身發瘡疹；服消毒之類，膿水淋漓；服大麻風藥，口乾作渴，欲水而不敢飲，經水又過期，眉間若動；又服月餘，眉毛脫落，經水淋漓。余謂心肝二經，風熱相搏，制金不能平木，木克脾土而不能統血，肝火旺而不能藏血也。眉間屬甲木而主風，風動血燥而眉毛脫落又若動也。經云：水生木。遂朝用地黃丸以滋腎水生肝血，夕用加味逍遙散以清肝火生肝血，月餘諸症漸愈。又佐以四君、芎、歸、牡丹皮，月餘，經水旬日而止。又兩月餘，經水五十餘日而至，乃夕用五味異功散加當歸服兩月，經水四十餘日而至。因怒惱寒熱，經水如崩，眉稜覺動，脈洪數弦，肝脾二經為甚，用柴胡梔子散二劑以平肝火，用五味異功散二劑以補脾氣，發熱頓退，經水頓止。更以八珍湯倍加參、術及地黃丸，兩月餘經水如期，眉毛漸生。因飲食停滯，腹脹作痛，另服祛逐之劑，泄瀉不止，小腹重墜，飲食甚少。余先用六君子湯送四神丸，數劑瀉漸止，飲食稍進，又用補中益氣湯倍用升麻數劑，重墜漸愈。後因勞心發熱，飲食難化，嘔吐涎水，其熱自臍上起，覺飢熱頻作，乃用六君子湯加炮姜治之，熱時飲稠米湯稍安，兩月餘又常服加味歸脾、補中益氣二湯而痊。</p>
<p>一婦人秋間肢體作癢，時發寒熱，日晡熱甚，口苦喜酸，月水先期，面色常青，熱甚則赤，恪服清熱涼血，後發疙瘩，赤癢益甚，乃清熱敗毒，破而膿水淋漓，余謂肝脾血燥虛熱。不信，仍治瘡毒，其瘡益甚，形氣倦怠，飲食減少。余先用補中益氣湯，間佐以六君，當歸，元氣稍復，乃以八珍湯，倍用參、術，少用川芎、芍藥炒黑，間佐以補中益氣湯，諸症漸愈。又以四君子湯為主，佐以加味逍遙散，兩月餘膿水漸少。又服月餘，瘡漸結靨，因怒惱，寒熱腹脹，飲食少思，患處復甚，用六君子湯加山梔、柴胡，乃用四君子湯為主，而瘡漸愈。又因怒，月經甚多，發熱作渴，瘡痛出血，用柴胡清肝散，熱退痛止。仍用四君子湯而結靨，又用八珍、山梔、牡丹皮而瘡愈。</p>
<p>一婦人遍身搔癢，膿水淋漓，發熱，身如蟲行，月經不調。先用升麻湯送瀉青丸，熱癢頓退；又用加味逍遙散，經行如期；用換肌丸而瘡愈。後因怒經行不止，筋骨作痛，用秦艽地黃湯、易老祛風丸而痊。</p>
<p>一婦人遍身患疙瘩，發熱作癢，內服敗毒祛風，外搽攻毒追蝕，各潰成瘡，膿水津淫，形氣消瘦，飲食日減，惡寒發熱，作渴飲冷，脈浮數按之則澀，此元氣復傷也。先用七味白朮散數劑，其渴漸止，飲食稍加；乃用八珍湯加柴胡牡丹皮，膿水漸干；又用六君、芎、歸、丹皮、山梔，瘡漸收斂；仍用八珍、山梔、牡丹皮而瘡愈。</p>
<p>一婦人每秋間兩手心作癢，搔起白皮，因勞役怒惱則發寒熱，遍身作癢起疙瘩，或以為風症，內服花蛇等藥，外敷硫黃之類，患處焮潰，又服遇仙丹，熱渴益甚，月水不通。余謂脾肝二經，血燥生風。先用加味逍遙散，熱渴漸減；又用八珍、柴胡、山梔，患處少可；後因怒氣發熱脅痛，患處焮痛，用加味逍遙散四劑而安；又用四君、芎、歸、山梔、牡丹皮，半載而痊。</p>
<p>一婦人因怒，寒熱發赤暈，服祛風之藥發疙瘩，或砭出血，患處焮腫，發熱頭痛，內服外敷，俱系風藥，膿水淋漓，服花蛇酒之類，前症益甚，更加肺熱煩渴不寐，脈洪大按之如無。余謂血脫煩躁，先用補血當歸湯稍緩，用四君、當歸數劑得睡；但倦怠頭暈少食，用補中益氣湯加蔓荊子稍可；又用八珍湯，少用芎、芍，倍用參、術，三十餘劑而能步履；又服月餘而痊。</p>
<p>一婦人患白癜風，誤以為大麻風，服蛇酒等藥，患處焮腫，經水兩三月一行。余曰：此肝血傷而內風也，誤用風藥，必筋脈拘急。不信，仍作風治，果身起白屑，四肢拳攣，始信余言。先用八珍湯四劑，又用四君子湯二劑，月餘乃以四君子湯，又用八珍湯二劑，又月餘諸症漸退，元氣漸復，又以四君子湯為主，以逍遙散為佐，將兩月瘡靨脫，又月餘而愈。</p>
<p>一婦人性急善怒，月經不調，內熱口苦，患疙瘩作癢，服敗毒之藥，膿水淋漓，熱渴頭暈，日晡益甚，用加味逍遙散漸愈。後因大怒，月經如湧，眼赤出淚，用四物湯加山梔、柴胡、連、芩數劑而愈。年餘左足臂腕起白點漸大，搔起白屑，內熱盜汗，月經兩月餘一至，每怒或惡寒頭痛，或不食作嘔，或胸乳作脹，或腹內作痛，或小便見血，或小水不利，或白帶下注。此皆肝木製伏脾土，元氣虛而變症也。用補中益氣湯加炒黑山梔及加味歸脾湯，間服半年而愈。後每怒惱患赤暈，或以風疾治之，發疙瘩；又服遇仙丹，赤腫作癢出膿水；外敷追蝕之藥，寒熱作渴；又服胡麻、草烏之藥，遍身搔癢，眉毛脫落，膿水淋漓，咳嗽發熱，月經兩月一行。余用四君、當歸、牡丹皮，月餘熱渴稍止，飲食稍進。又服月餘，咳嗽稍可，卻用八珍湯加牡丹皮二十餘劑，患處漸干，經水如期。後因傷食，作瀉不食，用六君子湯，飲食漸進。又因怒發熱作渴，患處作痛，經行不止，用加味逍遙散漸可，仍用四君子湯而痊愈。</p>
<p>一婦人性沉靜，懷抱不樂，月經過期，遍身作癢。服祛風清火之劑，搔破成瘡，出水不止，其癢益甚；或用消風散之類，眉稜跳動，眉毛折落；又服遇仙丹，患處俱潰，咳嗽發熱，飲食日少，月經先期。余作肝脾鬱怒而血燥，前藥復傷而益甚。先用四君、芎、歸、山梔、牡丹皮，飲食漸進，服月餘而嗽止。又以加味逍遙散加鉤藤鉤，二十餘劑而眉不動，乃去鉤藤倍加參、朮、當歸，月餘瘡漸結靨。又以八珍湯加山梔、牡丹皮而痊。</p>
<p>一婦人患前症，膿水淋漓，發熱作渴，體倦惡寒，經水不調，久而不愈，此肝脾虧損而虛熱也。先用補中益氣湯加川芎、山梔而元氣漸復，又用逍遙散而瘡漸愈。又產後患疥，遍身作癢，搔起疙瘩，破而出膿，或出血水，誤服醉仙散，殊類風症。余用八珍湯數劑而安，又用十全大補湯，患處漸干。因惱怒停食，腹脹少食，發熱作渴，患處復潰，用六君子湯加炒黑山梔，數劑飲食漸進，又用八珍湯之類而痊。</p>
<p>一婦人日晡身癢，月餘口乾，又月餘成瘡，服祛風治瘡之劑，膿水淋漓，午前畏寒，午後發熱，殊類風症。余謂此肝火傷脾，外邪所搏。先用補中益氣湯加山梔、鉤藤，又用加味逍遙散兼八珍散而痊。</p>
<p>一婦人素清苦，因鬱怒患前症，遍身患疙瘩，晡熱內熱，自汗盜汗，月經不行，口乾咽燥。余用歸脾湯數劑，諸症稍退，後兼加味逍遙散，五十餘劑而愈。</p>
<p>一婦人性躁患㾦癗作癢，膿水津淫，寒熱口苦，脅痛耳鳴，腹脹溺澀，乃肝脾血虛火症。用六君、柴胡、山梔、龍膽數劑，以逍遙散兼服漸愈，又與六味逍遙散七十餘劑，諸症悉退。</p>
<p>一婦人患癍症作癢，脈浮數，以人參敗毒散，二劑少愈更以消風散四劑而安，又用柴胡清肝散而愈。</p>
<p>一婦人患癍症痛癢，大便秘脈沉實，以四物湯加芩、連、大黃、槐花治之而便利，用四物二連湯而瘡愈。</p>
<p>一婦人身如丹毒，搔破淋漓，熱渴頭眩，日晡益甚，用逍遙散加炒山梔、陳皮而愈，又用八珍、柴胡、山梔、丹皮而愈。</p>
<p>一婦人患前症，誤用大麻風藥，破而出水，煩渴頭暈，誠類風症，六脈洪數，心肝脾為甚。余曰：風自火出，此因怒動肝火，血燥而生風耳，非真風症也。與逍遙散、六味丸，以清肝火、滋脾血、生腎水而愈。</p>
<p>一婦人患前症，搔破久不愈，食少體倦，此肝脾虧損，陰虛發熱也。先用補中益氣湯加川芎、炒梔，元氣漸復，更以逍遙散而瘡愈。</p>
<p>一婦人身如丹毒，後發疙瘩，搔破膿水淋漓，熱渴頭暈，日晡益甚。先用消風散二劑，又用加味逍遙散而愈。</p>
<p>一婦人患赤遊風，晡熱癢甚。余用清肝養血之劑。不信，乃服大麻風藥，臂痛筋攣；又服化痰順氣之劑，四肢痿弱。又一婦患前症，數用風藥煎湯泡洗，以致腹脹並歿。</p>
<p>一女子月經先期，或經行上身先發赤暈，微腫作癢，若遇氣惱，赤癢益甚。服祛風之藥，患處更腫，砭出紫血甚多，其癢愈作。余謂肝火血燥，風藥復傷血而為患也。先用加味逍遙散，清肝火益肝血，赤癢少止，用地黃丸滋腎水生肝木，各五十餘帖而痊。後因惱怒，經水不止，發熱作渴，患處赤癢。先用加味小柴胡湯二劑，諸症頓止。又用加味逍遙散而安。</p>
<p>一女子二十歲，月經先期而或過期，或有怒身發赤暈，或患疙瘩，六七日方退。服祛風藥，赤暈不退，搔癢作渴。執為風症，恪服前藥，搔破成瘡，膿水津淫。余曰：此肝火生風，再服是藥，必致筋攣。不悟，後兩手果攣，始信。先用地黃丸、四物湯，月餘熱渴頓減，乃佐以加味逍遙散，又月餘患處膿少，又用四君、山梔、牡丹皮二十餘劑，指能伸屈。因怒發熱，經水不止，睡中筋脈抽動不安，以加味逍遙散加鉤藤鉤治之而痊。仍用四物、山梔、鉤藤鉤、牡丹皮而瘡結靨，乃去鉤藤鉤，調理元氣復而瘡靨脫。</p>
<p>一女子常患癮疹作癢，因怒發熱，變為疙瘩，臖腫癢甚。余用梔子清肝散治之而愈。後又怒，患痕起赤暈，遊走不定，自砭出紫血甚癢徹骨，其熱如炙，如大麻風，欲用風藥。余紿之曰：然乃以當歸補血湯四劑，其熱悉止，又用聖愈湯、加味逍遙散而愈。</p>
<p>一女子赤暈如霞，作癢發熱，用小柴胡湯加生地、連翹、丹皮而愈。後時常發熱，遍身如蟲行，因惱怒起赤暈作癢。用柴胡清肝散，熱癢頓止，用加味逍遙散，熱癢全止，但見風起赤暈，或發癮疹，或患疙瘩，用胡麻散隨愈。</p>
<p>一女子常患疙瘩，時或作癢。服消風之類，搔破成瘡，其癢不止，延及頭面。余先用羌活當歸散，其癢頓止；用加味逍遙散，其熱頓痊；又用當歸飲而瘡亦愈；用八珍、柴胡、山梔而不再作。</p>
<p>一小兒因有食積，服克滯之劑，肢體生瘡似疥，服消毒之藥，發疙瘩，赤色作癢，膿水津淫。余先用五味異功散加柴胡、山梔以補脾胃平肝木，赤癢漸消；又用四味肥兒丸、五味異功散治之而食積愈。</p>
<p>一女子赤暈作癢，寒熱發搐，服風藥身發疙瘩，搔破出水，此肝血風熱之症。先用加味小柴胡湯，後用四味肥兒丸而愈。後傷風咳嗽，頭面搔癢微腫，先用消風散一劑，又用梔子清肝散而痊。</p>
<p>一小兒遍身生瘡，小便不調，頸間結核，兩目連札。服祛風之劑，眉毛脫落。余謂肝經風熱之症，先用大蘆薈丸，後用四味肥兒丸，漸愈。後因飲食停滯發熱，其瘡復臖，用大蕪荑湯、四味肥兒丸而愈。後每停食，遍身發赤作癢，服四味肥兒丸即愈。</p>
<p>一小兒遍身患瘡，似疥作癢，肌體消瘦，發熱齦爛，口渴飲水，大便不實，此肝腎之症也。先用地黃丸治之，又用大蕪荑湯而愈。後因飲食所傷，其瘡復焮，先用四味肥兒丸，後用大蕪荑湯而痊。</p>
<p>一小兒遍身生瘡，似疥或癢或痛，膿水淋漓，眉毛脫落，大便酸臭，小便澄白。余謂肝脾之症，先用大蘆薈丸，後用四味肥兒丸，諸症漸愈，又佐以五味異功散而痊。</p>
<p>一小兒遍身生瘡，頭髮成穗，眉毛脫落，肌肉消瘦，大便酸臭，小便不調，頸間結核，肚大青筋。余先用五味異功散，月餘後，用四味肥兒丸，又用大蕪荑湯、異功散而痊。</p>
<p>一小兒先陰莖作癢，小便不調，後遍身生瘡作癢，服消風散毒之劑，臖如大風之症，頸間結核，發熱如炙。余先用柴胡、梔子，後用大蘆薈丸、四味肥兒丸，諸症稍愈。又用蝦蟆丸、四味肥兒丸而痊。</p>
<p>一小兒面部浮腫，遍身如癬，半年後變疙瘩，色紫作癢，敷巴豆等藥，皮破出水，痛癢寒熱，大便堅硬，脾肺脈洪數而實。先用防風通聖散，便利調和。又用四物湯，加荊、防、黃芩、柴胡、皂角刺、甘草節，諸症漸愈。更以八珍湯加白朮、荊、防、皂角刺、五加皮而愈，後但勞則上體發赤暈，日晡益甚，此氣血虛而有火也。先用四物湯加丹皮、參、朮、柴胡，治之稍愈。又用補中益氣湯加酒炒黑黃柏、知母，月餘痊愈。後不守禁忌，遍身生瘡，誠如癘風，大便酸臭，肚大青筋，頭髮成穗，先用肥兒丸月餘，又用大蕪荑湯數劑，又用大蘆薈丸、四味肥兒丸而尋愈。</p>
<p>一女子十二歲，善怒，遍身作癢出水，用柴胡、川芎、山梔、芍藥，以清肝火；用生地、當歸、黃芩，以涼肝血；用白朮、茯苓、甘草，以健脾胃而愈。半載之後，遍身起赤痕，或時眩暈寒熱。余曰：此亦肝火熾盛，血得熱而妄行。其夜果經至。後因肝經血燥生瘡，發熱作癢，搔破出水，眉毛脫落，用大蘆薈丸、四物二連湯而熱退，用五味異功散、四味肥兒丸而瘡愈。</p>
<p>一小兒遍身生瘡，大便下血，發熱作渴，腹大青筋，眉毛漸落。余用大蘆薈丸、五味異功散，其瘡漸愈，佐以補中益氣湯，熱渴漸止。又用異功散為主，佐以補中益氣湯，加吳茱萸所制黃連治之，血止瘡愈。</p>
<p>一小兒十五歲，遍身似疥非疥，膿水淋漓，晡熱口乾，形體骨立四年矣，此腎肝之症，用六味丸而痊。後陰莖作癢，小便澄白，患瘡疥如大風，用大蘆薈丸、四味肥兒丸，諸症漸愈。又用大蕪荑湯而尋愈。後停食吐瀉不食，發赤癗，先用二陳、山楂、麥芽，次用異功散，飲食如前，又用大蕪荑湯而愈。</p>
<p>一女子赤暈如霞，作癢發熱，用小柴胡湯加生地黃、連翹、丹皮而愈。</p>
<p>一女性急多怒，月經先期，患㾦癗，色赤作癢，搔破膿水不止。服祛風藥，其瘡益甚。服花蛇酒，四肢瘛瘲，眉毛折脫。余先用柴胡清肝散加鉤藤鉤數劑，又用加味逍遙散加鉤藤鉤，諸症漸愈，又用易老祛風丸而愈。</p>
<p>一女子素有肝火，因怒頸項結核，寒熱，晡熱，遍身起赤暈作癢。服祛風之藥，搔破出水，唇目搐動。余以為脾經血虛內熱生風，用梔子清肝散加鉤藤鉤而搐熱頓減。又用當歸川芎散，而諸症漸愈。乃用加味逍遙散而痊。</p>
<p>一小兒患赤遊風，余先用羌活白芷散二劑，又用加味逍遙散而愈。後傷風熱起疙瘩，搔破出水，或用大麻風藥，十指拳攣，膿水津淫。余先用秦艽地黃湯，手指如常，又用易老祛風丸而瘡亦痊。</p>
<p>一小兒遍身搔癢，或如蟲行，內服胡麻散，外敷解毒散，患處皆潰，誠如麻風之症，視其唇或掣動，或兩目連札，此肝木乘脾土。用升麻湯煎送瀉青丸而漸愈，又用樺皮散而痊。</p>
<p>一小兒遍身搔癢起赤暈，後膿水不止，先用歸脾飲二劑，又用胡麻散而愈。後因驚挾食、發熱起赤暈，用越鞠丸一錢，枳朮、莪朮末各五分，蔥湯調服二次。又用消風散一服，赤暈頓消，又用越鞠丸而痊。</p>

<h1>下卷</h1>

<h2>各症方藥</h2>
<p><u>通天再造散</u>　治癘風惡疾。</p>
<p>鬱金（五錢）　大黃（煨）　皂角刺（炒黑，各一兩）　白牽牛（六錢，半生半炒）　上為末，每服五錢，日未出時面東，以無灰酒調下。</p>
<p><u>寶鑑醉仙散</u>　治癘風。</p>
<p>胡麻子　牛蒡子　枸杞子　蔓荊子（各炒一兩）　白蒺藜　栝蔞根　苦參　防風（各五錢）　上為末，每一兩五錢，入輕粉二錢拌勻，每服一錢，茶清調，晨、午各一服，至五七日於牙縫中出臭涎，令人如醉，或下膿血，病根乃去，仍量人輕重虛實用。病重者須先以再造散下之，候元氣將復，方用此藥。忌一切炙爆厚味，止可食淡粥時菜。諸蛇以淡酒蒸熟食之，可以助藥勢。</p>
<p><u>寶鑑換肌散</u>　治癘風久不愈，或眉毛脫落，鼻梁崩壞，不月奏效如神。</p>
<p>白花蛇　黑花蛇（各三兩酒浸）　地龍（去土）　當歸　細辛　白芷　天麻　蔓荊子　威靈仙　荊芥穗　菊花　苦參　紫參　沙參　木賊草　白蒺藜（炒）　不灰木　甘草　天門冬（去心）　赤芍藥　九節菖蒲　定風草　何首烏（不犯鐵）　胡麻子（炒）　草烏（炮去皮臍）　川芎　蒼朮木鱉子（各一兩）　上各另為末，每服五錢，溫酒調下，食後酒多尤妙。</p>
<p><u>補氣瀉榮湯</u>　治癘風。</p>
<p>升麻　連翹（各五分）　蘇木　當歸　黃連　黃耆　全蠍　地龍（去土，各五分）　生地黃荊芥（各四分）　人參（二分）　甘草（一分半）　桔梗　梧桐淚（各一分）　麝香（少許）　桃仁（三個）　蠓蟲（去翅足，炒，三個）　白蔻仁（二分）　水蛭（炒煙盡，三個）　上先將豆蔻、麝香、水蛭、蠓蟲各另為末和勻，卻將前藥用水二鍾煎至一鍾去渣，入桐淚，前末再煎，至七分，空心熱服。</p>
<p><u>海藏愈風丹</u>　治癩病手足麻木，眉毛脫落，遍身生瘡，及癘風癮疹，皮膚燥癢，搔破成瘡，並皆主之。</p>
<p>苦參（一斤取末四兩）　皂角（一斤挫寸許，無灰酒浸一宿，以水一碗搗成汁，去渣，以砂器中文武火熬）　土花蛇（一條，去腸，陰乾，酒浸，取淨肉曬乾為末，大風症用之）　白花蛇　烏梢蛇（各一條，依前酒浸，取肉為末）　上為末，入前二味和丸桐子大，每服六七十丸，空心通聖散送下，乾物壓之，日三服，間日浴之，汗出為度。</p>
<p>愚按：前方果系癘風，用之必效。若肝經血熱，脾經血虛，腎經虛火，脾肺氣虛，遍身作癢，搔破成瘡，或內熱生風，而眉鬢脫落，或皮膚赤暈，或搔起白屑，而類癘風者，服之反成癘風矣。</p>
<p><u>二聖散</u>　治癘瘡。</p>
<p>大黃（五錢）　皂角刺（三錢，燒灰）　上為末，每服二錢，白湯調下，早服樺皮散，中服升麻湯下瀉青丸，晚服二聖散，皆為疏泄血中風熱也。</p>
<p><u>清胃散</u>　治熱毒在表，以此發散之。</p>
<p>升麻　白芷　防風　白芍藥　乾葛　甘草　當歸　川芎　羌活　麻黃　紫浮萍　木賊草</p>
<p>上各等分，每服五七錢，水煎。</p>
<p><u>防風通聖散</u>　治風熱熾盛，大便秘結，發熱煩躁，表裡俱實者。</p>
<p>防風　當歸　川芎　芍藥　大黃（煨）　芒硝　連翹　薄荷　麻黃　桔梗　石膏（煨）　黃芩（炒，各一兩）　白朮　山梔　荊芥（各二錢五分）　甘草（二兩）　滑石（三兩）　白芷　蒺藜（炒）　鼠黏子（各五錢）　上為末，每服三五錢，白湯調下。</p>
<p><u>透經解攣湯</u>　治風熱筋攣骨痛。</p>
<p>穿山甲（三錢，炮）　荊芥　紅花　蘇木　羌活　當歸　防風　蟬殼（去土）　天麻　甘草（各七分）　白芷（一錢）　連翹　川芎（各五分）　上水酒各半煎服。</p>
<p><u>秦艽地黃湯</u>　治風熱血燥，筋骨作痛。</p>
<p>秦艽　生地黃　當歸　川芎　羌活　防風　荊芥　甘草　白芷　升麻　白芍藥　大力子（蒸）　蔓荊子（各一錢）　上水煎服。</p>
<p><u>羌活當歸散</u>　治風毒血熱，頭面生瘡，或赤腫，或成塊，或癮疹搔癢，膿水淋漓。</p>
<p>羌活　當歸　川芎　黃連（酒炒）　鼠黏子（蒸）　防風　荊芥　甘草　黃芩（酒浸炒）　連翹　白芷　升麻（各一錢）　上酒拌曬乾水煎。</p>
<p><u>羌活白芷散</u>　治風熱血燥，手掌皺裂，或頭面生瘡，或遍身腫塊，或膿水淋漓。</p>
<p>羌活　白芷　軟柴胡　荊芥　蔓荊子　防風　豬牙皂角　甘草　黃芩　黃連（酒炒，各一錢）　上水煎服。</p>
<p><u>四生散</u>　治腎臟風，耳鳴目癢，鼻赤齒浮，或婦女血風瘡。</p>
<p>白附子　獨活　黃耆　白蒺藜（各等分）　上為末，每服二錢，用豬腰子劈開入藥，濕紙裹煨熟細嚼，鹽湯下，風癬酒下，為丸亦可。</p>
<p><u>消風散</u>　治風熱癮疹癢痛，或膿水淋漓，或頭皮腫癢。</p>
<p>荊芥穗　甘草（炙，各二錢）　陳皮（五錢）　人參　白殭蠶（炒）　茯苓　防風　芎藭　蟬殼（去土）　羌活　藿香（各一兩）　厚朴（薑製，五錢）　上每服五七錢，姜水煎。</p>
<p><u>九味羌活湯</u>　治一切外因瘡毒。</p>
<p>羌活　防風　蒼朮（各一錢五分）　川芎　白芷　生地黃　黃芩　甘草（各一錢）　細辛（五分）　上水煎服。</p>
<p><u>當歸飲</u>　治血熱癮疹癢痛，或膿水淋漓發熱等症。</p>
<p>當歸　白芍藥　川芎　生地黃　防風　白蒺藜　荊芥（各一錢五分）　黃耆（炒）　甘草　何首烏（各一錢）　上水煎服。</p>
<p><u>升麻湯</u>　治風熱身如蟲行，或唇反縱裂。</p>
<p>升麻（三分）　茯苓　人參　防風　犀角（鎊）　羌活　官桂（各二錢）　上每服四錢，水煎，下瀉青丸。</p>
<p><u>樺皮散</u>　治肺風瘡疥癮疹，及風刺粉刺。</p>
<p>樺皮（四兩，炒灰）　荊芥穗（二兩）　甘草（炙，五錢）　枳殼（四兩，去穰燒煅有性）　杏仁（二兩，去皮尖，另研）　上為末，瓷器貯之，每服四五錢，水煎。</p>
<p><u>胡麻散</u>　治風熱癮疹搔癢，或兼赤暈寒熱，形病俱實者。</p>
<p>胡麻（一兩二錢）　苦參　荊芥穗　何首烏（不見鐵器，各八錢）　威靈仙　防風　石菖蒲牛蒡子（炒）　甘菊花　蔓荊子　白蒺藜（炒去刺）　甘草（炒，各六錢）　上每服三錢，酒調。</p>
<p><u>易老祛風丸</u>　治疥癩風瘡。</p>
<p>黃耆　枳殼（炒）　防風　芍藥　甘草　地骨皮　枸杞子　熟地黃　生地黃（各酒拌杵膏，）　上各另為末，入二黃膏，加煉蜜丸桐子大，每服七八十丸，白湯下。</p>
<p><u>白丁香散</u>　治癘風，眼中生胬肉。</p>
<p>白丁香貝母上為末，入乳汁，調點眼內。</p>
<p><u>子和生眉散</u>　治癘風眉毫脫落。</p>
<p>半夏　羊糞（各等分）　上為末，薑汁調塗眉稜上，如不應，當參類症眉脫條治之。</p>
<p><u>渫洗癘瘡藥</u></p>
<p>何首烏　荊芥　防風　馬鞭草　蔓荊子（各等分）　上每用十兩水一斗煎數沸，無風處洗出汗。</p>
<p><u>解毒散</u>　治風瘡解外毒。</p>
<p>巴豆肉　皮硝（各一兩）　黃蜂窠　黑狗脊（各七錢）　白芷　雄黃　豬牙皂角　羊蹄根　輕粉蟬殼（去土）　枯礬　寒水石（各五錢）　上為末，臘豬油調搽，外毒既去，卻搽黃連散。</p>
<p>愚按：洗藥雖能疏通腠理，而損元氣，解毒散雖能攻毒，而傷良肉，不宜多用。</p>
<p><u>黃連散</u>　治癘瘡。清熱解毒。</p>
<p>黃連（五兩）　五倍子（一兩）　上為末，唾津調塗之。</p>
<p><u>加味逍遙散</u>　治血虛有熱，遍身搔癢，心煩目昏，怔忡頰赤，口燥咽乾，發熱盜汗，食少嗜臥。</p>
<p>當歸（炒）　芍藥（酒炒）　茯苓　白朮（炒，各一錢）　柴胡（五分）　牡丹皮　甘草（炙）　山梔（炒，各八分）　上水煎服。</p>
<p><u>當歸補血湯</u>　治肌熱惡寒，面目赤色，煩渴引飲，脈洪大而虛重，按似無，此血虛也，若誤服白虎湯必死。</p>
<p>黃耆（炙，一兩）　當歸（酒製，二錢）　上水煎服。</p>
<p><u>補中益氣湯</u>　治中氣不足，或因克伐，四肢倦怠，口乾發熱，飲食無味，或飲食勞倦，頭痛煩躁，惡寒自汗，氣喘身熱等症。</p>
<p>人參　當歸（各一錢）　黃耆（炒）　白朮　甘草（炙，各一錢半）　陳皮（炒）　柴胡　升麻（各三分）　上薑棗水煎，空心午前服。</p>
<p><u>四君子湯</u>　治脾胃虛弱，飲食少思，大便不實等症。</p>
<p>人參　白朮　茯苓（各二錢）　甘草（炙，一錢）　上薑棗水煎。</p>
<p><u>六君子湯</u>　治脾胃損傷，飲食少思，或大便不調，面色痿黃等症，即四君子加陳皮、半夏。</p>
<p><u>七味白朮散</u>　治中氣虛弱，津液不足，口乾作渴，或口舌生瘡，不喜飲冷，吐瀉等症。</p>
<p>人參　白朮　木香　白茯苓　甘草（炙）　藿香（各五分）　乾葛（一錢）　上水煎服。</p>
<p><u>四物湯</u>　治血虛發熱煩躁、或晡熱作渴，頭目不清，若因脾虛不能生血者，用四君子湯。</p>
<p>當歸　熟地黃（各二錢）　芍藥（炒）　川芎（各一錢）　上水煎服。</p>
<p><u>歸脾湯</u>　治憂思傷脾，內熱發熱，或血妄行，吐下或健忘，驚悸少寐，或婦女經候不準，晡熱內熱，或唇口遍身瘡疥等症。</p>
<p>白朮　黃耆（炒）　當歸　茯神　人參　龍眼肉　遠志　酸棗仁（炒，各一錢）　木香（五分）　甘草（炙，三分）　上薑棗水煎。</p>
<p><u>八珍湯</u>　治氣血俱虛，惡寒發熱，或煩躁作渴等症，即前四君、四物二方相合。</p>
<p><u>十全大補湯</u>　治症同上，或更兼自汗盜汗，體倦食少等症，即八珍湯加黃耆、肉桂。</p>
<p><u>聖愈湯</u>　治一切失血或血虛，煩渴躁熱，臥睡不寧，或瘡症膿水出多，五心煩熱作渴等症。</p>
<p>熟地黃（生者自制）　生地黃　當歸（酒拌，各一錢）　人參　黃耆（炒）　川芎（各二錢）　上水煎服。</p>
<p><u>芎歸湯</u>　治失血煩熱作渴，或頭痛眩暈。</p>
<p>川芎（三錢）　當歸（酒拌，五錢）　上水煎服。</p>
<p><u>竹葉黃耆湯</u>　治氣血虛，胃火盛而作渴。</p>
<p>淡竹葉　生地黃（各二錢）　黃耆　麥門冬　當歸　川芎　黃芩（炒）　甘草　芍藥　人參　半夏　石膏（煅，各一錢）　上水煎服。</p>
<p><u>竹葉石膏湯</u>　治胃火盛而作渴。</p>
<p>淡竹葉　石膏（煅）　桔梗　木通　薄荷　甘草（各一錢）　上姜水煎。</p>
<p><u>濟生犀角地黃湯</u>　治胃火盛，血熱妄行，或吐衄便血，形氣虛病氣實者。</p>
<p>犀角（鎊）　生地黃　赤芍藥　牡丹皮（各一錢）　上水煎，傾出入犀末服。若形氣病氣俱實，再加黃芩、黃連，若因氣惱而致，加山梔、柴胡。</p>
<p><u>桃仁承氣湯</u>　治血結胸中，手不可近，或中焦蓄血寒熱，胸滿嗽水，不欲咽，善忘昏迷，其人如狂。</p>
<p>桃仁（五分）　大黃（一錢）　甘草（三分）　肉桂（五分）　上水煎服。</p>
<p><u>瀉青丸</u>　治肝經風熱，頭目昏眩，肌肉瞤動，或牙關緊急，痰涎壅盛，或頸項脅肋小腹陰囊腿股作痛，凡屬肝經有餘之症用之。</p>
<p>當歸　川芎　山梔　龍膽草（酒拌炒焦）　大黃（炒）　羌活　防風（各等分）　上為末，蜜丸桐子大，每服二三十丸，白湯下。</p>
<p><u>梔子清肝散</u>　治三焦肝膽經血虛風熱，耳項胸乳等處癢痛，或發熱寒，晡熱自汗，或唇搐動。</p>
<p>柴胡　梔子　牡丹皮（各二錢）　茯苓　川芎　芍藥　當歸　牛蒡子（炒，各七分）　甘草（五分）　上水煎服。</p>
<p><u>柴胡清肝散</u>　治風熱怒火，或寒熱嘔吐等症。</p>
<p>柴胡　山梔（炒，各一錢半）　黃芩（炒）　人參　川芎（各一錢）　連翹　桔梗（各八分）　甘草（五分）　上水煎服。</p>
<p><u>小柴胡湯</u>　治肝膽經風熱，或寒熱往來，或晡熱潮熱，默默不欲飲食，或因怒火，口苦耳聾脅痛等症。</p>
<p>柴胡（二錢）　黃芩（一錢半）　人參　半夏（各一錢）　甘草（炙，五分）　上薑棗水煎。</p>
<p><u>大蘆薈丸</u>　治疳火下疳，或小兒疳膨食積，口鼻生瘡，或牙齦蝕爛，或蟲蝕肛門癢痛。</p>
<p>胡黃連　蘆薈　黃連（炒）　木香　白蕪荑（炒）　青皮　白雷丸　鶴蝨草（各一兩）　麝香（一錢）　上為末，蒸餅糊丸桐子大，每服一錢，空心米湯下。</p>
<p><u>加味地黃丸</u>　治腎經陰虛，耳內癢痛，或兩目昏花，或吐痰氣喘，作渴發熱，小便赤澀等症。</p>
<p>乾山藥　山茱萸　牡丹皮　澤瀉　白茯苓　熟地黃（自制）　生地黃　柴胡　五味子（各另為末等分）　上二地黃掐碎，酒拌濕杵膏，入前末和勻，煉蜜丸桐子大，每服百丸，空心白湯下。</p>
<p><u>二陳湯</u>　治中脘停痰，嘔吐噁心，或頭目不清，飲食少思。</p>
<p>陳皮　茯苓　半夏　甘草（炙，各一錢）　上薑棗水煎。</p>
<p><u>連翹飲子</u>　治目惡日光，或癮澀昏花，不能久視，迎風有淚。</p>
<p>蔓荊子　甘草　連翹（各三錢）　黃耆（炒）　柴胡　黃芩（酒拌，各五分）　生地黃　當歸　紅葵花　人參（各三分）　升麻　防風　羌活（各一錢）　上水煎服。</p>
<p><u>四物龍膽湯</u>　治肝紅風熱，眼暴赤痛，或生雲翳。</p>
<p>當歸　川芎　芍藥　生地黃　羌活　防風　龍膽草（酒拌炒焦）　防己　上水煎服。</p>
<p><u>四物二連湯</u>　治血虛五心煩熱，晝則明瞭，夜則發熱。</p>
<p>當歸　生地黃　白芍藥（炒，各一錢）　川芎（七分）　黃連（炒，五分）　胡黃連（三分）　上每服五錢，水煎。</p>
<p><u>地芝丸</u>　治目能近視，不能遠視，此陽氣不足陰氣有餘。</p>
<p>生地黃（焙乾，四兩）　天門冬（去心）　枳殼（麩炒）　甘菊花（各二兩）　上為末，煉蜜丸桐子大，每服百丸，清茶下。</p>
<p><u>定志丸</u>　治目能遠視，不能近視，此陰氣不足，陽氣有餘。</p>
<p>白茯苓　人參（各一兩）　遠志（去心）　石菖蒲（各一兩）　上為末，煉蜜丸桐子大，以硃砂為衣，每服二三十丸，溫酒下，日三服。</p>
<p><u>神效黃耆湯</u>　治渾身或頭面手足麻木不仁，兩目緊縮，羞明畏日，或視物不明。</p>
<p>黃耆（二兩）　人參（八錢）　甘草（炙）　白芍藥　蔓荊子（各一兩）　陳皮（五錢）　上每服五錢，水煎，臨臥熱服。如麻木不止更加黃耆，雖有熱症，不用黃柏。</p>
<p><u>益氣聰明湯</u>　治脾胃傷損，眼目昏暗，或飲食勞役，脾胃不足，致內瘴耳鳴。</p>
<p>黃耆　甘草（炙）　人參（各五錢）　升麻　葛根　黃柏（炒，各二錢）　芍藥（一錢）　蔓荊子（一錢七分）　上每服五錢，水煎，臨臥及五更服，脾胃虛去黃柏。</p>
<p><u>清涼飲</u>　治實熱大便秘結，或咽喉腫痛。</p>
<p>當歸　赤芍藥　甘草（炒）　大黃（蒸，各等分）　上每服五錢，水煎。</p>
<p><u>清胃散</u>　治脾胃濕唇齒作痛，或齒齦潰爛，或連頭面作痛，或發熱惡寒，或熱藥厚味所致。</p>
<p>生地黃（酒拌）　當歸（酒洗）　牡丹皮　黃連（各五分）　升麻（一錢）　上水煎服，如痛未止，加石膏之類。</p>
<p><u>涼膈散</u>　治上焦實熱，煩躁作渴，或喉舌腫痛，便溺秘赤。</p>
<p>大黃　朴硝　甘草　梔子仁　黃芩　薄荷（各一兩）　連翹（四兩）　上每服三五錢，水煎。</p>
<p><u>黃連解毒湯</u>　治瘡瘍焮痛，煩躁飲冷，脈洪數發狂言。</p>
<p>黃芩　黃連　黃柏　山梔（各炒一錢半）　上水煎服。</p>
<p><u>瀉黃散</u>　治胃經實熱嘔吐，或口舌生瘡。</p>
<p>石膏（煅）　藿香（各一錢）　山梔（一錢五分）　甘草（五分）　防風（七分）　上水煎服。</p>
<p><u>潤腸丸</u>　治脾胃伏火，傷血或失血，大腸乾燥，大便不通，或風熱血結，便秘食少。</p>
<p>麻子　桃仁（去皮尖另研）　羌活　當歸尾　大黃（煨）　皂角仁（各一兩）　秦艽（五錢）　上為末，煉蜜或豬膽汁丸桐子大，每服三五十丸，食前滾湯下。如燥糞在肛門之間，用膽汁導之即通，若因津液乾涸不通，當補血氣。</p>
<p><u>滋腎丸</u>　治不渴而小便不利者，乃膀胱經熱甚，不能生水，宜用此藥以滋化源。</p>
<p>肉桂（三錢）　知母　黃柏（各酒炒黑，二兩）　上為末，水丸桐子大，每服二百丸，空心白滾湯下。</p>
<p><u>清肺飲</u>　治渴而小便不利，乃肺經有熱，絕寒水生化之源，宜用此藥。</p>
<p>茯苓（一錢）　豬苓（三錢）　燈心（一錢）　木通（七分）　瞿麥（五分）　萹蓄（三分）　上為末，作二劑水煎。</p>
<p><u>黃芩清肺飲</u>　治肺燥而小便不利。</p>
<p>黃芩　山梔（各一錢）　上水煎服。</p>
<p><u>五淋散</u>　治膀胱有熱，水道不通，淋澀不出，或尿如豆汁，或成砂石，或熱拂便血。</p>
<p>赤茯苓（一錢五分）　赤芍藥　山梔（各一錢）　當歸　甘草（各一錢二分）　上用燈心二十莖，水煎。</p>
<p><u>清心蓮子飲</u>　治熱在血分，口乾便濁，夜則安靜，晝則發熱，或口舌咽乾，或生瘡煩渴，小便澀淋。</p>
<p>黃芩　麥門冬　地骨皮　車前子（炒）　甘草（各一錢五分）　石蓮肉　茯苓　黃耆（炒）　柴胡　人參（各一錢）　上水煎服。</p>
<p><u>升陽益胃湯</u>　治脾胃虛弱，怠惰嗜臥，或值秋令，體重節痛，大便不調，小便頻數，飲食不消，灑淅惡寒，悽慘不樂，面色不和，乃陽不升也。</p>
<p>羌活　獨活　防風（各五錢）　柴胡　白朮　茯苓（渴者不用）　澤瀉（各三錢）　人參　黃耆（各二兩）　半夏　甘草（炒，各一兩）　芍藥　黃連（炒）　陳皮（各三錢）　上每服三五錢，薑棗水煎，若服後小便愈數而病愈加，是不宜分利小便，當減茯苓、澤瀉。</p>
<p><u>生脈散</u>　治熱傷元氣，肢體倦怠，氣短懶言，汗出不止，口乾作渴等症。</p>
<p>人參（五錢）　麥門冬（二錢）　五味子（一錢）　上水煎服，如不應倍之。</p>
<p><u>清燥飲</u>　治氣血衰弱，濕熱乘之，遍身痠軟，或濕熱行令，肺金受邪，腎無所養，小便赤少，大便不調，或腰腿痠軟，體重麻木，或頭暈食少，自汗口乾，胸滿氣促，懶於言語。</p>
<p>黃耆　蒼朮（各一錢）　人參　白朮　神麯（炒）　陳皮（各五分）　甘草（炙）　黃柏（炒）　麥門冬　當歸（各三分）　葛根　澤瀉　青皮（各二分）　五味子（九粒）　上水煎服。</p>
<p><u>二神丸</u>　治脾胃不足，侵晨作瀉或不時去後，飲食少思，肌肉消瘦。</p>
<p>補骨脂（四兩）　肉豆蔻（二兩）　生薑（四兩）　紅棗（四十九枚）　上用水一盞煮薑棗，至水乾取棗肉和藥末杵勻，丸桐子大，每服五七十丸，淡鹽湯下。</p>
<p><u>六味丸</u>（一名地黃丸。加肉桂、五味，名加減八味丸）　治腎虛發熱作渴，痰咳頭暈，喉燥唇裂，腰腿痠軟，或自汗盜汗，便血諸血，失音水泛為痰，小便淋澀等症。</p>
<p>熟地黃（自制，八兩）　山茱萸（去核）　乾山藥（各四兩）　牡丹皮　白茯苓　澤瀉（各三兩）　上為末，地黃杵膏加煉蜜丸桐子大，每服七八十丸，空心食前滾湯下。</p>
<p><u>加減金匱腎氣丸</u>　治脾胃虛腰重腳腫，小便不利；或肚腹腫脹，四肢浮腫；或喘急痰盛，已成蠱症，其效如神。</p>
<p>白茯苓（三兩）　附子（五錢）　川牛膝　肉桂　車前子　澤瀉　山茱萸　山藥　牡丹皮（各一兩）　熟地黃（四兩，酒拌杵膏）　上為末，和地黃加煉蜜丸桐子大，每服七八十丸，空心米飲下。</p>
<p><u>五味異功散</u>　治脾胃虛弱，飲食少思，或食而難化，大便不實等症。</p>
<p>人參　白朮（炒）　茯苓（各二錢）　甘草（炙）　陳皮（各一錢）　上水煎服。</p>
<p><u>四神丸</u>　治脾胃虛弱，大便不實，飲食少思等症。</p>
<p>肉豆蔻　五味子（各二兩）　補骨脂（四兩）　吳茱萸（炒，一兩）　上為末，水二碗，生薑八兩，紅棗百枚，煮熟取棗肉，和末丸桐子大。每服五七十丸，空心食前白湯下。</p>
<p><u>愈風丹</u>　治諸風肢體麻木，手足不隨等症。</p>
<p>天麻　牛膝（酒浸焙）　萆薢　玄參（各六兩）　杜仲（七兩）　羌活（十四兩）　當歸　熟地黃（自制）　生地黃（各一斤）　獨活（五兩）　肉桂（三兩）　上為末，煉蜜丸桐子大。每服七十丸，溫酒下。</p>
<p><u>瀉白散</u>　治肺經實熱咳嗽。</p>
<p>桑白皮　地骨皮（各一兩）　甘草（五錢）　上為末，每服三錢，白湯調下。</p>
<p><u>半夏白朮天麻湯</u>　治寒熱所郁，大便不利，或嘔不食，痰唾稠黏，頭目眩暈，喘促氣短，或頭痛身重，四肢逆冷。</p>
<p>半夏　天麻　黃耆　人參　蒼朮　陳皮　澤瀉　茯苓（各一錢五分）　白朮　神麯（炒，各一錢）　大麥芽　乾薑（炒黑，各三分）　黃柏（酒製，二分）　上每服五錢，水煎服。</p>
<p><u>牛黃清心丸</u>　治諸風手足不隨，痰涎壅塞，言語蹇清，心忡健忘，或發顛狂。</p>
<p>防風　白朮　白芍藥　羚羊角（鎊）　麝香（另研）　龍腦（另研）　麥門冬（去心）　黃芩（各一兩）　人參　神麯（炒）　蒲黃（炒，各二兩）　甘草（五兩）　白茯苓　芎藭　杏仁（去皮尖）　柴胡桔梗（各一兩二錢半）　雄黃（另研，二錢）　牛黃（另研，一兩二錢）　山藥　白蘞　乾薑（各七錢五分）　當歸（酒浸，一兩半）　大豆黃卷　阿膠　肉桂（各一兩七錢）　犀角（二兩）　大棗（一百枚，蒸熟杵）　金箔（一千三百片，內四百為衣）　上為末，和勻同棗肉加煉蜜，丸龍眼大，以金箔為衣，每服二丸，白湯化下。</p>
<p><u>人參理中丸</u>　治脾胃虛寒，嘔吐泄瀉，飲食少思等症。</p>
<p>白朮（炒）　人參　乾薑（泡）　甘草（炙，各等分）　上為末，丸桐子大。每服六七十丸，白湯下。</p>
<p><u>人參平肺散</u>　治心火克肺，傳為疽痿，咳嗽喘嘔，痰涎壅盛，胸膈痞滿，咽嗌不利。</p>
<p>人參　陳皮　甘草（炙）　地骨皮　茯苓（各一錢）　知母（炒，七分）　五味子（杵炒，四分）　青皮（五分）　桑白皮（炒，一錢）　天門冬（去心，四分）　上水煎服。</p>
<p><u>決明夜靈散</u>　治目至夜則昏，雖有燈月，亦不能睹。</p>
<p>石決明　夜明砂（各另研，二錢）　豬肝（一兩，或羯羊肝亦可）　上以竹刀切肝作二片，鋪藥於內，用線縛定砂罐內米泔水煮至半碗，臨睡連肝食之。</p>
<p><u>人參益氣湯</u>　治暑熱傷氣，肢體困倦，飲食少思，或發熱作渴等症。</p>
<p>黃耆（八錢）　人參　甘草（各五錢）　炙甘草　升麻　柴胡（各二錢）　白芍藥（三錢）　五味子（一百四十粒）　上作四劑，水煎服。</p>
<p><u>四七湯</u>　治七情鬱結成痰，或如梅核，梗於喉間，或中脘停痰，噁心嘔逆。</p>
<p>紫蘇葉　厚朴（薑製）　茯苓（各一錢）　半夏（薑製，一錢五分）　上薑棗水煎。</p>
<p><u>硫黃散</u>　治紫白癜風。</p>
<p>硫黃（一兩，用醋一碗煎乾再曬）　上為末，以生薑蘸藥擦患處。</p>
<p><u>神效當歸膏</u>　治風瘡去腐肉生新肉，其肉赤黯，毒氣熾盛，搽至淡赤，或其毒已退，收功甚速，此膏生肌止痛，補血續筋，故與新肉相宜。</p>
<p>當歸　黃蠟　生地黃（各一兩）　麻油（六兩）　上先將當歸地黃入油煎黑，去渣，入蠟溶化，候冷攪勻即成膏矣，如用白蠟尤好。</p>
<p><u>砭法</u>　治風毒瘀血壅盛，或色赤走徹，用細瓷器擊碎，取有鋒芒者一塊，以箸一根，劈開頭夾之，用線縛定，兩指輕撮箸梢，令瓷芒正對患處，懸一寸許，再用箸一根頻擊箸頭，令毒血遇刺皆出。</p>
<p><u>妙香散</u>　治心氣不足，精神恍惚，虛煩少睡，盜汗等症。</p>
<p>甘草（炒，一錢）　人參　桔梗（各五錢）　遠志（去心炒）　山藥（薑汁）　茯神　黃耆（各一兩）辰砂（另研，三錢）　麝香（二錢）　木香（煨，二錢五分）　上為末，每服二錢，溫酒調下。</p>
<p><u>四味肥兒丸</u>　治小兒食積五疳，或白禿體瘦，肚大筋青，發稀成穗，或遍身瘡疥等症。</p>
<p>蕪荑（炒）　神麯（炒）　麥櫱（炒）　黃連（各等分）　上為末，豬膽汁丸黍米大。每服一二十丸，木通煎湯下，米糊丸亦可。</p>
<p><u>地黃清肺飲</u>　治肺肝咳嗽。</p>
<p>明阿膠（一錢，麵炒）　鼠黏子（三分，炒）　馬兜鈴　甘草（各五分）　杏仁（七枚，去皮尖）　糯米（炒，十粒）　上水煎服，量兒加減。</p>
<p><u>蟾蜍丸</u>　治無辜疳症，一服虛熱退，二服煩渴止，三服瀉痢愈。</p>
<p>蟾蜍（一枚，夏季溝渠中，取腹大不跳，不鳴身多癗者）　上取糞蛆一杓，置桶中以尿浸之，卻將蟾蜍跌死，投與蛆食一晝夜，用布袋盛蛆置急水中，一宿取出，瓦上焙乾為末，麝香一字和勻，粳米飯丸麻子大。每服二三十丸，米飲下甚效。</p>
<p><u>小柴胡湯</u>（加山梔、牡丹皮，名加味小柴胡湯）　治傷寒溫熱，身熱惡風，頭痛項強，四肢煩疼，往來寒熱，嘔穢痰實，中暑瘧疾，並服之。（方見前）</p>
<p>愚按：前方若肝膽經風熱，肝火瘰癧，寒熱往來，日晡發熱，潮熱身熱，不欲飲食，或怒火口苦，耳聾咳嗽，或脅痛胸滿，小便不利，或泄瀉吐酸苦水，或肢體搐動，唇目抽札，並宜用之。</p>
<p><u>神效太乙膏</u>　治癰疽瘡毒潰爛。</p>
<p>玄參　白芷　當歸　肉桂　赤芍藥　大黃　生地黃（各一兩）　上用麻油二斤，入於銅鍋內煎至黑，濾去渣，徐入淨黃丹一斤，再煎滴水中，捻軟硬得中，即成膏矣。</p>
<p>金華散　治乾溼瘡癬。</p>
<p>黃丹（一兩，煅）　輕粉（三錢）　黃柏　黃連（各一兩）　麝香（一字，另研）　上為末，洗淨摻之，乾用豬脂和，傳麻油亦可。</p>
<p>方治惡癬，以紫貝草根、生白礬少許，同擂塗患處。</p>
<p>又方</p>
<p>剪刀草　黃連　苦參（各五錢）　真輕粉（二錢）　上為末，入麻油調敷。</p>
<p><u>大楓子膏</u>　治一切瘡疥膿窠等瘡。</p>
<p>大楓子肉　白礬（枯，各二兩）　真輕粉（一兩）　柏油（六兩）　上為末，將柏油溶化和勻用之。</p>
<p><u>加味逍遙散</u>　治肝脾血虛，身發赤痕，或發熱胸乳腹脹，或搔癢盜汗，心煩體痛，或頭目昏重，怔忪頰赤，或口燥咽乾，食少嗜臥，或婦女月經不調，惡寒發熱等症（方見前）。</p>
<p>歸脾湯　治憂思傷脾，身發赤痕，或搔破成瘡，健忘怔忪，驚悸少寐，或心脾作痛，自汗盜汗，咳吐痰血，或肢體作痛，大便不調，或婦女經候不準，晡熱內熱，或唇口生瘡流注等症（方見前）。</p>
<p><u>白癜方</u></p>
<p>人參　白朮　蒼朮（鹽炒）　防己（酒拌）　黃柏（酒拌）　川芎（各一錢）　陳皮（酒拌）　當歸　茯苓　木瓜　柴胡梢　甘草（各五分）　上姜水煎服，如三劑不退，加桂少許，或用湯煎，小便澀，倍用牛膝，有熱加黃連，身熱加羌活，量兒大小用。</p>
<p><u>化䘌丸</u>　治諸疳生蟲，不時啼哭，嘔吐清水，肚腹脹痛，唇口紫黑，腸頭濕䘌。</p>
<p>蕪荑　青黛　蘆薈　蝦蟆（燒灰）　川芎　白芷　胡黃連　上各另為末等分，豬膽浸膽成糕，丸如麻子大。每服二三十丸，食後並臨臥，杏仁湯下。</p>
<p><u>大肥兒丸</u>　治脾疳飲食少思，肌肉消瘦，肚大頸細，發稀成穗，項間結核，發熱作渴，精神倦怠，便去酸臭，愛食泥土，或口鼻頭瘡，或肚見青筋，齧齒下利，便白五疳，即四味肥兒丸加乾蟾一兩，蕪荑五錢。</p>
<p><u>天麻丸</u>　治肝疳眼目生翳，昏花濕爛等症。</p>
<p>青黛　川黃連　天麻　五靈脂　川芎　夜明砂（微炒）　蘆薈　龍膽草　防風　蟬蛻（去足，各一錢）　全蠍（二枚，焙）　麝香（少許）　上為末，豬膽汁浸糕，丸麻子大。每服二三十丸，白滾湯下。</p>
<p><u>阿魏膏</u>　治一切痞塊，不拘年月遠近，甚者口齒蝕傷，更服蘆薈丸。</p>
<p>羌活　獨活　玄參　官桂　赤芍藥　穿山甲　生地黃　兩頭尖　大黃　白芷　天麻（各五錢）槐柳桃枝（各三錢）　紅花（四錢）　木鱉子（二十枚去殼）　亂髮（如雞子大一塊，洗去膩）　上用香油二斤四兩，煎至黑色，去渣入發，再煎，待發化盡，去渣，徐下黃丹一斤，煎至軟硬得中，方入芒硝四錢、阿魏四錢、蘇合油、麝香、沒藥各五錢，調勻即成膏矣。攤貼患處，內服消積丸藥，黃丹須真正者效。凡貼膏藥，先用朴硝隨患處大小鋪之，約半寸厚，以紙蓋之，用熨斗熨良久，如硝耗再加熨之，熨二時許，方貼膏藥，若是肝積，加蘆薈末同熨。</p>
<p><u>大防風湯</u>　治膝風腫痛，不問已潰未潰。</p>
<p>附子（炮去皮）　牛膝（酒浸）　甘草（炙，各一錢）　人參　杜仲（薑製）　當歸（酒浸）　羌活　防風　白芍藥（炒）　黃耆（各二錢）　川芎（一錢五分）　熟地黃（用生者，蒸一日忌鐵器，二錢）上每服三五錢，姜水煎空心服，進三五劑，更服六味地黃丸二三服。</p>
<p><u>獨活湯</u>　治鶴膝風，不問腫潰疼痛，及腰背四肢不仁。</p>
<p>獨活　當歸　白朮　黃耆（炒）　薄桂　牛膝（各一錢）　甘草（炙五分）　上薑蔥水煎服，量兒加減。</p>
<p><u>清熱消毒散</u>　治癰疽陽症腫痛，發熱作渴。</p>
<p>黃連（炒）　山梔　連翹　當歸（各五分）　川芎　芍藥（炒）　生地黃　金銀花（各一錢）　甘草（五分）　上水煎服。</p>
<p><u>神功散</u>　治瘡毒未成者用之內消，加乳、沒尤妙。</p>
<p>黃柏（炒）　草烏（炒）　血竭（等分）　上各另為末和勻，用漱口水調搽，小兒丹瘤，用之亦效，已砭者用之作痛。</p>
<p><u>乳香定痛散</u>　治瘡瘍潰爛疼痛。</p>
<p>乳香　沒藥（各三錢）　滑石（七錢）　寒水石（一兩，煅）　冰片（二錢）　上為細末，搽患處，痛即止，甚效。</p>
<p><u>抱龍丸</u>　治風痰壅盛，驚搐昏睡等症。</p>
<p>雄黃　辰砂（各二錢）　天竺黃（四錢）　麝香（五分）　天麻（六錢）　牛膽南星（八錢）　上為末，煎甘草膏，丸皂角子大，每一丸薄荷湯下。</p>
<p><u>解毒散</u>　治一切瘡毒風疹癢痛。</p>
<p>黃柏（炒）　山梔（等分）　上為末，水調搽，若破而膿水淋漓，用當歸膏或蠋油調搽。</p>
<p><u>黃金散</u>　治天疱瘡。止痛消毒。</p>
<p>滑石　甘草（等分）上為末，挑破去水敷之。</p>
<p><u>清涼解毒散</u>　治症同前，或作焮痛。</p>
<p>大黃　黃柏　山梔　寒水石（煨，等分）　上各另為末調搽，當歸膏尤好。</p>
<p><u>製附子法</u></p>
<p>附子重一兩三四錢，有蓮花瓣頭底圓平者，先備童便五六碗，將附子先埋熱草灰中半日，乘熱投童便，浸五七日，揭皮切四塊，仍浸二三日，用桑皮數重包之，浸濕埋灰大半月，取出切片，檢視有白星者，乃用瓦上炙熟，至無白星為度，如急用即切火上炙黃，用之亦效。大凡陽氣脫陷，子時至午時，惡寒，未至亥發熱，如用熱附子，不應，必用半生半熟，更不應，急用生附一二劑，然後量症治之。</p>
<p><u>當歸川芎散</u>　治手足少陽經血虛風熱，耳內癢痛，或食少頭目不清，日晡熱甚。</p>
<p>當歸　川芎　柴胡　白朮　芍藥（各一錢）　山梔（炒一錢二分）　牡丹皮　茯苓（各八分）蔓荊子　甘草（各五分）　上水煎服。</p>
