<header data-type="book">
<h1>診驗醫方歌括</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>坐嘯山人</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>上</h1>

<h2>溫疫</h2>
<p><u>銀翹散</u></p>
<p>溫病解表平劑。（吳鞠通）</p>
<p>銀翹薄桔甘草生，鼠黏荊豉竹蘆平，衄茅梔柏除荊豉，渴取蔞根咳杏仁，胸膈悶加藿香郁，咽疼項腫勃玄參，熱淫入里麥冬地，更合山梔知母芩。</p>
<p>連翹（一兩）　薄荷（六錢）　銀花（一兩）　甘草（五錢）　桔梗（六錢）　荊芥（四錢）　淡豆豉（五錢）　牛蒡（六錢）　竹葉（四錢）</p>
<p>上杵為散，每服六錢，鮮葦根煎湯代水。</p>
<p>治溫病脈動數尺膚熱，頭痛微惡風寒，身熱自汗，或但熱不惡寒而渴，午後熱甚，肺氣鬱而火剋金也。遵《內經》風淫於內治以辛涼佐以苦甘，熱淫於內治以鹹寒佐以甘苦之訓，又宗喻嘉言芳香逐穢之說，用東垣清心涼膈散。病初起且去入里之黃芩，勿犯中焦，加銀花辛涼、芥穗芳香，散熱解毒，牛蒡子辛平，潤肺解熱散結，除風利咽，皆手太陰藥。胸膈悶者加藿香、鬱金護膻中；渴甚者加花粉；項腫咽痛者加馬勃、玄參；衄者去芥穗、豆豉，加白茅根、側柏炭、梔子炭；咳者加杏仁利肺氣；肺熱入里加細生地、麥冬保津液，再不解或小便短者加知母、黃芩、梔子之苦寒，與麥冬之甘寒合化陰氣而治熱淫所勝。</p>
<p><u>桑菊飲</u></p>
<p>風溫解表輕劑。</p>
<p>桑菊翹荷甘桔杏，蘆根同煮渴花粉，熱芩喘入知母膏，舌絳玄參犀角穩，在血地黃玉竹丹,麥冬加入蘆荷省，辛涼解表並芳香，及上銀翹溫病診。</p>
<p>杏仁（一錢）　連翹（一錢五分）　薄荷（八分）　菊花（一錢）　苦桔梗（二錢）　甘草（八分）　桑葉（二錢五分）　葦根（二錢）</p>
<p>治風溫咳嗽，熱傷肺絡也，身不甚熱微渴。桑葉善平肝風亦走肺絡而宣肺氣，菊花晚成甘芳能補金水二臟，氣粗似喘燥在氣分者，加石膏、知母；舌絳暮熱甚燥，邪初入榮，加玄參二錢，犀角一錢；在血分者去薄荷、葦根，加麥冬、細生地、玉竹、丹皮各二錢；肺熱甚加黃芩，渴者加花粉。經曰冬不藏精必病溫，又曰病溫虛甚死，可見病溫者，精氣先虛。凡治風溫溫熱溫疫冬溫當預護其虛。此銀翹散、桑菊飲之所以為妙，為清解肺胃治溫主劑，至外寒搏內熱及非時傷風皆可少投辛溫。</p>
<p><u>三仁宣痹湯</u></p>
<p>濕溫。</p>
<p>三仁宣痹濕溫宗，竹葉蔻仁厚朴通，半夏杏仁飛滑石，苡仁清利妙無窮，杏仁樸夏如刪去，加入苓翹白疹從。</p>
<p>杏仁（五錢）　滑石（六錢）　通草（二錢）　白蔻（二錢）　厚朴（二錢）　苡仁（六錢）　半夏（五錢）　竹葉（二錢）</p>
<p>甘瀾水煮。</p>
<p>治伏暑濕溫，頭痛惡寒，身重疼痛，舌白不渴，脈弦細而濡，面色淡黃，胸悶不飢，午後身熱，狀若陰虛，病難速已，吾鄉俗名秋呆子。以三仁湯輕解上焦、宣通中焦，清熱利濕則諸證次第而愈。否則汗之則神昏耳聾，甚則目瞑不欲言，下之（則）洞泄，潤之則病深。如身出白㾦如疹，則去樸夏杏仁，加茯苓連翹清心。</p>
<p><u>新加黃龍湯</u></p>
<p>溫病陰陽俱憊。</p>
<p>黃龍邪實下難通，正氣虛無運藥功，歸地硝黃薑汁草，玄參人海麥門冬。（可以蔞仁代硝黃，恐其鹼寒傷胃。軒）</p>
<p>細生地（五錢）　生甘草（二錢）　人參（一錢五分，另煎）　生大黃（三錢）　芒硝（一錢）　玄參（五錢）　麥冬（五錢）　當歸（一錢五分）　海參（二條，洗）　薑汁（六匙）</p>
<p>水八杯煮取三杯，先用一杯沖參汁五分，薑汁二匙頓服之，如腹中有響聲或轉矢氣者，為欲便也，不便候一二時再如前法服一杯，候二十四刻服第三杯即得便，止後服，酌服益胃湯，余參或可加入；證屬陽明溫病失下，正氣久耗，陰陽俱憊，下之不通為正虛不能運藥，危險難治。</p>
<p>附方：益胃湯</p>
<p>沙參（三錢）　麥冬（五錢）　細生地（五錢）　玉竹（一錢五分炒香）　冰糖（一錢）</p>
<p>陽明溫病，下後汗出，當復其陰，否（則）恐將來液虧燥起，而成乾咳身熱之怯證也。</p>
<p><u>甘露清毒丹</u></p>
<p>溫疫。（葉天士）</p>
<p>瘟疫流行消毒丹，熱淫濕勝木通干，荷翹蔻貝茵芩滑，廣藿菖蒲神麯含。</p>
<p>飛滑石（十五兩）　綿茵陳（十兩）　淡黃芩（十兩）　石菖蒲（六兩）　川貝母　木通（各五兩）　藿香　射干　連翹　薄荷　白豆蔻（各四兩）</p>
<p>上各藥曬燥生研細末，每服三錢，開水調服，日二次；或以神麯糊丸如彈子大，開水化服，亦可或連神麯生曬碾末，用鮮車前葶三十二兩煎湯泛丸。</p>
<p>此治濕溫時疫之主方。邪從口鼻皮毛而入，病從濕化者，發熱倦怠，胸悶（腹）脹，肢酸咽胭，斑疹身黃，頤腫口渴，溺赤便閉，吐瀉腹痛，霍亂轉筋，痧閉瘧痢，淋濁瘡瘍，寒熱往來，重暑，重濕等證，並主水土不服。察看病人舌苔淡白，或厚膩，或干黃，是暑濕熱疫之邪尚在氣分，悉於此丹，若壯熱旬日不解，神昏譫語，斑疹，舌絳，干光圓硬，津涸液枯，寒從火化是邪已入營矣，用神犀丹。</p>
<p>附方：</p>
<p>當變其分兩，加砂仁水泛為丸，以治溫熱濕毒等症，久著神效。（軒）</p>
<p>黃芩（二兩）　廣藿香（二兩）　砂仁（六錢）　白蔻衣（八錢）　射干（八錢）　大貝母（一兩）　京菖（一兩二錢）　木通（一兩）　蘇荷（八錢）　茵陳（三兩）　飛滑石（三兩）　炒神麯（四兩）　連翹（二兩）</p>
<p>研末水泛丸如綠豆大，每服二錢，鮮車前湯送下。</p>
<p><u>神犀丹</u></p>
<p>溫熱暑疫，逆傳內陷。</p>
<p>神犀犀地板藍根，菖豉銀翹花粉芩，元參紫草同金汁，舌絳津干邪入營。</p>
<p>烏犀角尖（磨汁）　石菖蒲　黃芩（各六兩）　真懷生地（絞汁）　鮮銀花（各一斤搗汁）　糞清　連翹（各十兩）　板藍根（九兩，無則以青黛代之）　香豉（八兩）　元參（七兩）　花粉　紫草（各四兩）</p>
<p>上各生曬研細，以犀角地黃汁、糞清和搗為丸，切勿加蜜，如難丸，可將香豉煮爛，每重三錢，涼開水化服，日二次，小兒減半，如無糞清可加人中黃四兩研入。</p>
<p>凡溫熱暑疫，諸病邪不即解，耗液傷營，逆傳內陷，痙厥昏狂，譫語發斑等證，但看病人舌色干光，或紫絳，或圓硬，或黑苔，皆以此丹救之。若初病即覺神情昏躁而舌赤口乾者，是溫暑直入營分，酷暑之時，陰虛之體，及新產婦人患此最多，急用此挽救，切勿拘泥日數，誤投別劑，兼治痘瘄毒重夾帶紫斑危證，暨痘疹後餘毒內熾，口糜咽腐，目赤神煩諸證。</p>
<p><u>清瘟敗毒飲</u></p>
<p>一切火熱，表裡俱盛。（王孟英）</p>
<p>清瘟桔梗湯去蘇荷，丹芍玄參知母俱，生地石膏犀角入，川連竹葉也相需。</p>
<p>生石膏（大劑六兩至八兩，中劑二兩至四兩，小劑八錢至一兩二錢）　小生地（大劑六錢至八錢，中劑三錢至五錢，小劑二錢至四錢）　烏犀角（大劑六錢至八錢，中劑三錢至五錢，小劑二錢至四錢）　真川連（大劑四錢至六錢，中劑二錢至四錢，小劑一錢至一錢五分）　梔子　桔梗　黃芩　知母　赤芍　玄參　連翹　甘草　丹皮　鮮竹葉</p>
<p>先煮石膏數十沸後下諸藥，犀角磨汁和服。此十二經泄火之藥也，凡一切火熱表裡俱盛，狂躁煩心，口乾咽痛，大熱乾嘔，錯語不眠，吐血衄血，熱甚發斑，不論始終，以此為主方，重用石膏直入胃經使其敷布於十二經，退其淫熱；佐以黃連、犀角、黃芩，泄心肺火於上焦，丹皮、梔子、赤芍泄肝經之火，連翹、玄參解散浮游之火；生地、知母抑陽扶陰泄其亢甚之火而救欲絕之水，桔梗、竹葉載藥上行；使以甘草和胃，此大寒解毒之劑。若疫症初起，惡寒發熱，頭痛如劈，煩躁譫妄，身熱肢冷，舌刺唇焦，上嘔下泄，六脈沉細而數，即用大劑，沉而數者即用中劑，浮大而數者用小劑。如斑一出，即加大青葉，並少佐升麻四五分，引毒外透，此內化外解，濁降清升之法。秦皇士治斑用生地、黃連、升麻、丹皮、木通、甘草名升麻清胃湯，輕清涼血，亦是透化斑疹之妙法。誤食葷腥者，加山楂、砂仁。</p>
<p>附方：</p>
<p>局方涼膈散去硝黃加桔梗名桔梗湯，此易老法，亦即東垣清心涼膈散。</p>

<h2>中風</h2>
<p><u>加味桂枝湯</u></p>
<p>風中絡。（費晉卿）</p>
<p>加味桂枝湯勿差，川懷牛膝歸蠶砂，艽防中絡風邪治，肌肉不仁手足麻。</p>
<p>衛氣不能捍外，則風入於絡，故手指足趾麻木而肌肉不仁。</p>
<p>桂枝（八分）　白芍（一錢五分）　甘草（五分）　懷牛膝（二錢）　川牛膝（一錢五分）　當歸（二錢）　蠶砂（四錢）　秦艽（一錢）　防風（一錢）　紅棗（五枚）　姜（三片）</p>
<p><u>養血祛風湯</u></p>
<p>中經。</p>
<p>養血祛風虎脛獨，歸牛木地苓艽續，棗薑朮芍桑桂枝，體重賊邪入經脈。</p>
<p>營血不能固內，則風入於經脈，故身體重著，步履艱難，治宜養血祛風。</p>
<p>生地（五錢）　當歸（二錢）　白芍（一錢酒炒）　桂枝（六分）　茯苓（三錢）　白朮（一錢）　虎脛骨（一錢五分炙）　續斷（二錢）　獨活（一錢酒炒）　秦艽（一錢）　牛膝（二錢）　木香（五分）　紅棗（十枚）　姜（三片）　桑枝（一尺）</p>
<p><u>加味竹瀝湯</u></p>
<p>中府。</p>
<p>加味竹瀝風中府，痰塞靈竅胃津阻，斛麥天麻姜瀝沖，殭蠶羚角橘星數。</p>
<p>胃為六府之長，職司出納，風入於胃，胃火熾盛，水穀之氣不生津液而化痰涎，痰隨火升，阻塞靈竅，故昏不知人。法宜清胃滌痰。</p>
<p>麥冬（二錢）　石斛（三錢）　羚羊角（一錢五分）　橘紅（一錢）　膽星（五分）　殭蠶（一錢五分）　天麻（八分）　淡竹瀝（半杯）　薑汁（一滴，同沖服）</p>
<p>清心飲</p>
<p>中藏。</p>
<p>清心淡竹與黃連，菖遠丹星橘麥兼，琥珀牛黃風中藏，面紅舌硬口流涎。</p>
<p>心體純陽，風性飈舉，風火上擾，神明散亂，故舌不能言而口流涎沫，甚或神昏鼾睡面色油紅，此為難治。姑擬此方以備救急之一法。</p>
<p>牛黃（五分）　琥珀（五分）　黃連（五分）　丹參（三錢）　遠志（五分，甘草水炒）　菖蒲（八分）　橘紅（一錢）　膽星（五分）　麥冬（一錢五分）　淡竹葉（二十張）</p>
<p><u>消風返正湯</u></p>
<p>口眼喎斜。</p>
<p>消風返正筋牽制，口眼喎斜麥冬蠍，羚角殭蠶斛粉羌，天麻貝母黃荊葉。</p>
<p>足陽明之脈夾口環唇，足太陽之脈起於目內眥，胃有痰火，又風從太陽而來，兼擾陽明，故筋脈牽制而口眼歪斜，宜消風返正。</p>
<p>羌活（一錢）　天麻（八分）　蠍尾（五支）　殭蠶（一錢五分炒）　貝母（二錢）　羚羊角（一錢五分）　石斛（三錢）　花粉（二錢）　麥冬（二錢）　黃荊葉（五張）</p>
<p><u>黃耆九物湯</u></p>
<p>半身不遂。</p>
<p>黃耆九物氣虛餌，半身不遂手足弛，獨活防風薑棗煎，鹿膠牛膝四君子。</p>
<p>半身不遂，手足縱弛，食少神疲，不能步履，證屬氣虛。</p>
<p>黃耆（二錢）　防風（一錢）　黨參（五錢）　茯苓（二錢）　白朮（一錢）　鹿膠（一錢五分，角霜炒）　獨活（一錢，酒炒）　牛膝（二錢）　甘草（五分）　大棗（二枚）　姜（三片）</p>
<p><u>舒筋通絡湯</u></p>
<p>舒筋通絡血虛嘗，四物艽牛薑棗桑，枸瓜獨斷金毛楮，指屈能伸步履強。</p>
<p>筋節拘攣，手指屈而不伸，不能步履，證屬血虛，宜舒筋通絡。</p>
<p>生地（四錢）　當歸（二錢）　白芍（一錢五分，酒炒）　川芎（一錢）　枸杞（三錢）　木瓜（一錢，酒炒）　金毛脊（二錢，去毛切片）　楮實（二錢）　川斷（二錢）　獨活（一錢，酒炒）　牛膝（二錢）　秦艽（一錢）　紅棗（十枚）　姜（三片）　桑枝（一尺）</p>
<p><u>地黃飲子</u>（劉河間）</p>
<p>治瘖厥風痱。</p>
<p>地黃飲子山茱斛，麥味菖蒲遠志茯，蓯蓉桂附巴戟天，少入薄荷薑棗服。瘖厥風痱能治之，火歸水中水生木。（歌仍汪氏）</p>
<p>心火暴甚，腎水虛衰，卒倒無知，口噤身冷，四肢不收。治宜和藏府通經絡。</p>
<p>熟地　山茱肉　石斛　麥冬　五味子　石菖蒲　遠志（甘草水炒）　茯苓　肉蓯蓉　官桂　附子（炮）　巴戟天（各等分）　姜（三片）　棗（一枚）　薄荷葉（六張）</p>
<p><u>資壽解語湯</u>（《沈氏尊生書》）</p>
<p>治風中心脾。</p>
<p>資壽解語治舌強，附子天麻甘草羌，酸棗防風羚角桂，衝來竹瀝與生薑。</p>
<p>中風脾緩，舌強不語，半身不遂。</p>
<p>防風（一錢）　附子（一錢）　天麻（一錢）　官桂（八分）　棗仁（一錢）　羌活（五分）　甘草（五分）　羚羊角（八分）　竹瀝（兩大匙）　薑汁（兩滴，同沖服）</p>
<p><u>天麻丸</u>（張潔古方）</p>
<p>治腎藏虛熱生風，筋脈牽掣，遍身疼痛，手足麻木，口眼喎斜，半身不遂，以及寒痰相搏等證。</p>
<p>天麻地膝當歸附，羌獨玄參萆薢杜，因熱生風養血宜，酒丸通絡風兼去。</p>
<p>風因熱而生，熱盛則動，宜以靜勝其燥，養血通絡，兼去腎風。</p>
<p>天麻（四兩，酒浸）　牛膝（四兩，酒浸）　萆薢（四兩）　玄參（四兩）　杜仲（七兩）　附子（一兩）　羌活（三兩）　獨活（三兩）　當歸（十兩）　生地（一斤）</p>
<p>共為細末，煉蜜為丸如桐子大。每服五七十丸，空心溫酒下。</p>
<p><u>涼膈散</u>（《太平惠民和劑局方》）</p>
<p>治溫病表裡實熱，心火膈熱，及中焦燥實，煩渴頭昏，目赤面毒，口瘡唇裂，舌腫喉閉，吐衄涎嗽稠黏，頷頰結硬，二便淋閉，胃熱發斑譫狂，諸風瘛瘲，手足搐逆，小兒急驚，痘瘡黑陷，一切藏府積熱等證。</p>
<p>涼膈硝黃梔子翹，黃芩甘草薄荷饒，竹葉蜜煎療膈上，中焦燥實服之消。（歌仍汪氏）</p>
<p>連翹（四錢）　大黃（二錢，酒洗）　芒硝（二錢）　甘草（二錢）　梔子（一錢，炒黑）　黃芩（一錢，酒炒）　蘇荷（一錢）</p>
<p>上藥為末，加竹葉生蜜煎，若專治溫熱時行，則用竹葉；治感冒之證，則用蔥白、薑棗。張潔古於此方去硝黃，加桔梗，治上焦熱便不實者。</p>
<p><u>滋生青陽湯</u></p>
<p>肝風。（費氏）</p>
<p>滋生青陽斛決明，丹麻地芍麥冬青，柴荷桑菊靈磁石，搖顫肝風眩暈平。</p>
<p>頭目眩暈，肢節搖顫，如登雲霧，如坐舟中。</p>
<p>生地（四錢）　白芍（一錢）　丹皮（一錢五分）　麥冬（一錢五分，青黛拌）　石斛（二錢）　天麻（八分）　甘菊（二錢）　石決明（八錢）　柴胡（八分，醋炒）　桑葉（一錢）　薄荷（一錢）　靈磁石（五錢，整塊同煎）</p>
<p><u>滋腎息風湯</u></p>
<p>腎風。</p>
<p>滋腎息風巴戟天，天麻枸菟菊豨薟，地黃歸獨加薑棗，眩暈心驚恐怖痊。</p>
<p>頭目眩暈，心中懸懸，驚恐畏人，常欲蒙被而臥。</p>
<p>熟地（四錢）　當歸（二錢）　枸杞（三錢）　菟絲（四錢）　甘菊（二錢）　巴戟天（三錢）　豨薟（三錢）　天麻（八分）　獨活（一錢，酒炒）　紅棗（十枚）　姜（三片）</p>
<p><u>馴龍湯</u></p>
<p>心煩身顫，坐臥不安。</p>
<p>馴龍齒決羚羊菊，地斷薄荷歸芍獨，鉤沉紅棗治心煩，坐臥不安身顫服。</p>
<p>五心煩擾，自頭至腰，時時作顫，坐臥不安。</p>
<p>龍齒（二錢）　真珠母（八錢）　羚羊角（一錢五分）　杭菊（二錢）　生地（六錢）　當歸（二錢）　白芍（一錢）　薄荷（一錢）　沉香（五分）　續斷（二錢）　獨活（一錢）　紅棗（十枚）　鉤藤鉤（四錢，後入）</p>
<p><u>甲乙歸藏湯</u></p>
<p>徹夜不寐。</p>
<p>甲乙歸藏齒丹參，薄荷柴地芍歸沉，夜交夜合珠紅棗，柏子同安不寐人。</p>
<p>飲食如常，惟徹夜不寐，間日輕重如發瘧，一載未愈，診其脈左關獨見弦數，系少陽與厥陰同病，互相膠結，故有起伏，而又延久難奏速效，連服數十劑乃愈。</p>
<p>真珠母（八錢）　龍齒（二錢）　柴胡（一錢，醋炒）　薄荷（一錢）　生地（六錢）　歸身（二錢）　白芍（一錢五分，酒炒）　丹參（二錢）　柏子仁（二錢）　夜合花（二錢）　沉香（五分）　紅棗（十枚）　夜交藤（四錢切）</p>

<h2>中寒</h2>
<p><u>茯神四逆湯</u></p>
<p>中寒。</p>
<p>茯神四逆真心痛，參茯香砂軒加共，白朮四逆苓棗參，身冷汗出心包奉，茴香四逆杜棗苓，故紙便清寒下用，溫劑回陽猝發宜，不是傳經是直中。</p>
<p>寒邪直犯君主，脘痛嘔吐身冷，手足青至節為真心痛，水來剋火，甚則旦發夕死，茯神四逆湯主之。</p>
<p>茯神（二錢）　附子（三錢）　乾薑（一錢）　人參（二錢）　甘草（五分）　木香（六分）　砂仁（一錢）</p>
<p>或加沉香五分，牛膝二錢，水三鍾至一鍾，漱溫服。</p>
<p><u>白朮四逆湯</u></p>
<p>中寒發厥而心痛，雖在包絡，然已是心之外府，故手足厥逆，身冷汗出，便溺清利，為厥心痛，甚亦朝發夕死，白朮四逆湯主之。</p>
<p>白朮（三錢）　附子（三錢）　乾薑（一錢）　人參（二錢）　茯苓（二錢）　甘草（五分）　大棗（三枚）</p>
<p><u>茴香四逆湯</u></p>
<p>腹痛下利，手足厥冷，小便清利，為寒邪直中少陰，腎氣厥逆，茴香四逆湯主之。</p>
<p>小茴香（二錢）　附子（三錢）　乾薑（一錢）　破故紙（二錢）　杜仲（五錢）　茯苓（二錢）　甘草（五分）　大棗（三枚）</p>
<p><u>茱萸附桂湯</u></p>
<p>直中厥陰。</p>
<p>茱萸附桂芍歸香，白朮臺烏大棗姜，下利爪青手足冷，痛連腹脅厥陰傷。</p>
<p>肝氣厥逆，脅下及腹中絞痛，下利，手足厥冷，指爪皆青。</p>
<p>吳萸（七分）　附子（二錢）　肉桂（八分）　當歸（三錢）　白芍（一錢五分）　白朮（一錢）　木香（六分）　烏藥（一錢）　棗（二枚）　姜（三片）</p>

<h2>暑濕熱</h2>
<p><u>赤芍連翹散</u></p>
<p>風熱剛痙。</p>
<p>赤芍連翹葛豉防，蔞根獨活草荷桑，風邪無汗成剛痙，熱盛項強弓反張。</p>
<p>剛痙，頭痛項強，手足搐逆，甚則角弓反張，發熱無汗，此風熱盛也。熱傷榮血，筋脈暴縮，風入經絡，肢節拘攣，風熱合而為病。</p>
<p>赤芍（一錢五分）　連翹（二錢）　葛根（二錢）　花粉（三錢）　豆豉（三錢）　防風（一錢）　薄荷（一錢）　獨活（一錢）　甘草（四分）　經霜桑葉（二十張）</p>
<p><u>白朮苡仁湯</u></p>
<p>濕熱柔痙。</p>
<p>白朮苡仁湯有汗，蒼歸薄芍苓翹辨，蔞根荷葉草同煎，柔痙能醫濕熱散。</p>
<p>身體重著，肢節拘攣，有汗而熱是為柔痙。暑熱為天之氣，其來甚速，其去亦甚速，體熏筋攣乃熱邪為濕所留，故有汗而熱不退也。</p>
<p>白朮（一錢）　茅朮（一錢）　苡仁（八錢）　茯苓（三錢）　當歸（一錢五分）　赤芍（一錢）　薄荷（一錢）　連翹（一錢五分）　花粉（三錢）　甘草（四分）　鮮荷葉（一角）</p>
<p><u>黃連滌暑湯</u></p>
<p>中暑。</p>
<p>黃連滌暑山梔芩，粉葛甘翹夏茯苓，猝倒不知昏憒噤，熱邪內犯少陰經。</p>
<p>熱邪內犯君主，猝然而倒昏不知人，身熱口噤。</p>
<p>黃連（五分）　黃芩（一錢）　山梔（一錢五分）　連翹（一錢五分）　葛根（二錢）　茯苓（二錢）　半夏（一錢）　甘草（四分）</p>
<p><u>三解湯</u></p>
<p>傷熱。</p>
<p>三解湯醫暑濕鬱，芩連梔粉通苓澤，大黃荷梗夏連翹，急下存陰痞渴釋。</p>
<p>暑濕氣合郁為大熱，五心煩躁，坐臥不安，渴飲胸痞，此三氣迭乘已成燎原之勢，宜急下存陰。</p>
<p>黃連（五分）　黃芩（一錢）　大黃（四錢）　梔子（一錢五分）　花粉（二錢）　連翹（一錢五分）　半夏（一錢）　茯苓（二錢）　木通（一錢）　澤瀉（一錢五分）　青荷梗（一尺）</p>
<p><u>加味神術湯</u></p>
<p>傷濕。</p>
<p>加味神術蒼兼白，樸夏歸牛砂苡茯，佩蘭荷葉與生薑，胸痞食微肢倦服。</p>
<p>四肢倦怠，食少胸痞。</p>
<p>白朮（一錢）　茅朮（一錢）　當歸（一錢五分）　茯苓（二錢）　苡仁（四錢）　厚朴（一錢）　砂仁（一錢，炒）　半夏曲（三錢）　佩蘭葉（一錢）　川牛膝（一錢五分）　荷葉（一角）　姜（兩片）</p>
<p><u>四正散</u></p>
<p>嘔吐。</p>
<p>四正散用不換金，草除加入曲砂仁，茯苓竹茹生薑汁，外感食傷嘔吐寧。</p>
<p>飲食不節，兼感不正之氣而為嘔吐。</p>
<p>藿香（一錢五分）　茅朮（一錢）　厚朴（一錢）　砂仁（一錢）　茯苓（二錢）　廣皮（一錢）　半夏（一錢）　神麯（三錢）　淡竹茹（八分）　薑汁（一兩，小匙沖服）</p>
<p><u>和中化濁湯</u></p>
<p>泄瀉。</p>
<p>和中化濁枳香砂，蒼樸青苓烏曲楂，芣苡煨姜荷一角，貪涼泄瀉效堪誇。</p>
<p>貪涼受寒，過食生冷，腸胃受傷，以致泄瀉。法宜和中化濁。</p>
<p>茅朮（一錢）　厚朴（一錢）　茯苓（二錢）　枳殼（一錢）　青皮（一錢）　砂仁（一錢）　木香（五分）　烏藥（一錢）　楂炭（三錢）　神麯（三錢）　車前（二錢）　荷葉（一角）　煨姜（三片）</p>
<p><u>化逆湯</u></p>
<p>霍亂轉筋。</p>
<p>化逆湯中用左金，木香藿樸蔻苓青，蒺藜瓜獨臺烏藥，肢冷筋抽吐瀉平。</p>
<p>暑月受邪，鬱於中焦，上吐下瀉，手足厥冷，筋脈抽掣，急宜化逆。</p>
<p>黃連（六分）　吳萸（三分）　厚朴（一錢）　青皮（一錢）　藿香（一錢五分）　木瓜（一錢）　木香（五分）　白蔻（六分）　獨活（一錢）　烏藥（一錢）　蒺藜（四錢）　茯苓（二錢）</p>
<p><u>加味茵陳湯</u></p>
<p>發黃。（晉卿）</p>
<p>加味茵陳濕熱蒸，發黃通苡瀉苓青，薄荷茅朮車前樸，一尺荷葶仔細尋。</p>
<p>脾經受濕，胃經受熱，鬱蒸發黃。</p>
<p>茵陳（二錢）　木通（一錢五分）　赤芍（三錢）　澤瀉（一錢五分）　苡仁（一兩）　茅朮（一錢）　厚朴（一錢）　薄荷（一錢）　青皮（一錢）　車前（二錢）　青荷梗（一尺）</p>
<p><u>牡丹皮湯</u></p>
<p>淋痛。</p>
<p>牡丹皮治小便濁，濕熱內移淋痛卻，車瞿瀉草苡仁湯，萆薢蔞根木通芍。</p>
<p>濕熱內蘊，移於下焦，小溲混濁作痛。</p>
<p>丹皮（二錢）　赤芍（一錢）　木通（一錢）　萆薢（二錢）　花粉（二錢）　瞿麥（二錢）　澤瀉（一錢五分）　車前（二錢）　甘草（四分）　苡仁（一兩，煎湯代水）</p>
<p><u>加味三才湯</u></p>
<p>淋濁。</p>
<p>加味三才淋不疼，體虛夾濕沙丹參，天冬地澤車前草，柏子萆甘藕苡仁。</p>
<p>體虛夾濕，淋濁不痛。</p>
<p>天冬（二錢）　生地（四錢）　沙參（四錢）　丹參（二錢）　柏仁（二錢）　萆薢（二錢）　澤瀉（一錢五分）　車前（二錢）　甘草（四分）</p>
<p>藕三兩，苡仁一兩，同煎湯代水。</p>
<p><u>三黃石膏湯</u>（《六科準繩》）</p>
<p>治三焦熱濕火熾盛，與陶氏用麻豉兼解肌表法不同。</p>
<p>三黃石膏芩柏連，玄草梔知濕火然，不用麻黃及豆豉，名同實異水相煎。</p>
<p>濕火熾盛。</p>
<p>黃連（五分）　黃芩（一錢）　黃柏（一錢）　石膏（三錢）　元參（一錢）　山梔（一錢）　知母（一錢五分）　甘草（七分）</p>
<p>水煎服。</p>

<h2>秋燥</h2>
<p><u>清金保肺湯</u></p>
<p>肺燥。（晉卿）</p>
<p>清金梨藕麥天冬，南北沙參斛玉充，杏貝茜蔞苓蛤粉，咳而熱甚喘遺紅。</p>
<p>肺受燥熱，發熱咳嗽，甚則喘而失血，法宜清金保肺。</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　南沙參（三錢）　北沙參（三錢）　石斛（二錢）　玉竹（三錢）　貝母（二錢）　茜根（二錢）　杏仁（三錢）　蔞皮（三錢）　茯苓（二錢）　蛤粉（三錢）　梨（三片）　藕（五片）</p>
<p><u>潤肺降氣湯</u></p>
<p>潤肺湯因受燥涼，功兼降氣咳無妨，沙參旋覆蘇蔞杏，歡郁姜皮共橘桑。</p>
<p>肺受燥涼，咳而微喘，氣鬱不下。</p>
<p>沙參（四錢）　蔞仁（四錢）　桑皮（二錢）　蘇子（二錢）　杏仁（三錢）　旋覆花（一錢，絹包）　橘紅（一錢）　鬱金（二錢）　合歡花（二錢）　鮮姜皮（五分）</p>
<p><u>涵木養榮湯</u></p>
<p>肝燥。</p>
<p>涵木養榮生榮地，棗仁紅棗桑枝系，麥味參艽歸芍瓜，爪干筋縮肝枯治。</p>
<p>肝受燥熱則血分枯槁，筋縮爪干，宜涵木養榮。</p>
<p>生地（三錢）　熟地（三錢）　當歸（二錢）　白芍（一錢）　棗仁（一錢五分，炒研）　木瓜（一錢）　秦艽（一錢）　人參（一錢）　麥冬（一錢五分）　五味子（五分）　紅棗（一枚）　桑枝（一尺）</p>
<p><u>女貞湯</u></p>
<p>腎燥。</p>
<p>女貞湯用膝草前，萆薢歸苓斛地龜，淡菜蔞根腰腳健，腎家燥熱痛淋痊。</p>
<p>腎受燥熱，淋濁溺痛，腰腳無力，久則成為下消。</p>
<p>女貞子（四錢）　生地（六錢）　龜板（六錢）　當歸（二錢）　茯苓（二錢）　石斛（二錢）　花粉（二錢）　萆薢（二錢）　牛膝（二錢）　車前子（二錢）　大淡菜（三枚）</p>
<p><u>清燥潤腸湯</u></p>
<p>大腸燥。</p>
<p>清燥潤腸歸二地，麻蔞郁李三仁濟，斛枳青皮橘餅加，藏陰枯槁肛門秘。</p>
<p>大腸受燥熱則藏陰枯槁，腸胃不通，大便秘結，宜清燥潤腸。</p>
<p>生地（三錢）　熟地（三錢）　當歸（二錢）　麻仁（三錢）　蔞仁（四錢）　郁李仁（二錢）　石斛（三錢）　枳殼（一錢，蜜水炒）　青皮（一錢五分，蜜水炒）　金橘餅（一枚）</p>
<p><u>清燥救肺湯</u>（《醫宗金鑑》）</p>
<p>治諸氣膹郁諸痰喘嘔。</p>
<p>清燥救肺參草麻，石膏膠杏麥枇杷，經霜收下干桑葉，解鬱滋干效可誇。（歌本陳氏）</p>
<p>桑葉（二錢）　石膏（二錢）　甘草（一錢）　人參（七分）　麻仁（一錢）　阿膠（八分）　麥冬（一錢五分）　杏仁（七分）　枇杷葉（一斤）</p>
<p>痰多加貝母、瓜蔞；血枯加生地；熱甚加羚羊角。</p>
<p>膹郁，音憤役，氣滿而奔迫也。素問至真要大論諸氣膹郁皆屬於肺。</p>

<h2>火症</h2>
<p><u>潤燥瀉肺湯</u></p>
<p>肺火。（晉卿）</p>
<p>潤燥瀉肺玉蔞桑，杏貝沙苓麥苡良，梨汁沖加喘滿治，肌膚燥癢渴煩忘。</p>
<p>肺火自本經而發者，緣燥氣相逼，清肅之令不能下行，故肺氣焦滿微喘而咳，煩渴欲飲，鼻端微紅，肌膚作癢，宜潤燥瀉肺。</p>
<p>玉竹（四錢）　蔞皮（三錢）　桑皮（三錢）　沙參（四錢）　麥冬（二錢）　黃芩（一錢）　貝母（二錢）　杏仁（三錢）　苡仁（四錢）　梨汁（半杯沖服）</p>
<p><u>加味丹梔湯</u></p>
<p>肝膽火。</p>
<p>加味丹梔地夏枯，通歸龍膽芍柴胡，燈心芣苡平肝膽，脅痛耳聾淋濁驅。</p>
<p>肝膽火盛，脅痛耳聾，口苦筋痿，陰痛或淋濁、溺血此湯主之。</p>
<p>此即局方龍膽瀉肝湯去黃芩、澤瀉，加丹皮、夏枯也，引用燈心，赤實則瀉其子之意。</p>
<p>丹皮（二錢）　山梔（一錢五分）　赤芍（一錢）　龍膽草（一錢）　夏枯草（一錢五分）　當歸（一錢五分）　生地（四錢）　柴胡（一錢）　木通（一錢）　車前（二錢）　燈心（三尺）</p>
<p>附方：龍膽瀉肝湯（李東垣治肝膽經實火，脅痛耳聾，膽溢口苦，陰腫陰痛，白濁溲血）</p>
<p>龍膽瀉肝梔芩柴，生地車前澤瀉偕，木通甘草當歸合，肝經濕熱力能排。（歌本汪氏）</p>
<p>龍膽草（一錢）　黃芩（一錢）　山梔仁（一錢五分）　澤瀉（一錢五分）　木通（一錢五分）　當歸（二錢）　生地（三錢）　柴胡（一錢）　甘草（五分）　車前子（二錢）</p>
<p>一方無柴胡、山梔；一方加赤苓或生薑。醫宗金鑑治纏腰火丹加連翹，便秘加生大黃。費晉卿曰肝膽火盛，濕熱鬱蒸者，此方為宜，下部發瘍者尤妙。</p>
<p><u>加味瀉黃散</u></p>
<p>脾火。</p>
<p>加味瀉黃粳一撮，梔防膏斛苓甘葛，易飢荷葉脾火清，口燥唇乾肌熱脫。</p>
<p>脾有伏火，口燥唇乾，煩渴易飢，熱在肌肉。</p>
<p>防風（一錢）　葛根（二錢）　石膏（四錢）　石斛（三錢）　山梔（一錢五分）　茯苓（三錢）　甘草（四分）</p>
<p>荷葉一角，粳米一撮。煎湯代水。</p>
<p><u>玉液煎</u></p>
<p>胃火。</p>
<p>玉液煎中蔗白茅，地黃石斛麥冬膏，葛根玉竹蘇荷桔，胃熱牙宣面赤消。</p>
<p>胃火熾盛，煩渴引飲，牙齦腐爛或牙宣出血，面赤發熱。</p>
<p>石膏（五錢）　生地（五錢）　石斛（三錢）　麥冬（二錢）　玉竹（四錢）　葛根（二錢）　桔梗（一錢）　蘇荷（一錢）　白茅根（八錢）　甘蔗汁（半杯，沖服）</p>
<p><u>槐子湯</u></p>
<p>大腸火。</p>
<p>槐子湯醫大腸火，二冬橘餅芝麻煮，蘇杏麻蔞甘枳葳，肛門腫痛人知否。</p>
<p>肺經之火移於大腸，大便硬秘或肛門腫痛。</p>
<p>槐米（三錢）　蔞仁（三錢）　枳殼（一錢，蜜水炒）　天冬（一錢五分）　麥冬（一錢五分）　玉竹（三錢）　麻仁（三錢）　蘇子（三錢）　杏仁（三錢）　甘草（四分）　金橘餅（一枚）　白芝麻（三錢）</p>
<p><u>消風散火湯</u></p>
<p>風火。</p>
<p>消風散火清上焦，玄茯二冬桔薄翹，蟬蛻桑麻柴蒡子，蔞皮竹葉手陰澆。</p>
<p>風助火勢，其性上升，面紅目赤，口燥咽疼。法當清潤上焦使陽邪不能侵犯，兼用輕揚解散之品，俾上升者一舉而熄。</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　元參（二錢）　茯苓（二錢）　桔梗（一錢）　柴胡（一錢）　薄荷（一錢）　蟬衣（一錢）　桑葉（一錢）　連翹（一錢五分）　牛蒡子（三錢）　蔞皮（二錢）　竹葉（十張）　黑芝麻（三錢）</p>
<p><u>清火滌痰湯</u></p>
<p>痰火。</p>
<p>清火滌痰柏杏仁，菊蠶麥茯貝丹參，橘紅膽瀝和薑汁，語亂躁狂頑濁行。</p>
<p>痰為頑濁之物，一得火勢，其性愈劣，甚則陽狂煩躁，語言錯亂，宜清火滌痰。</p>
<p>丹參（二錢）　麥冬（二錢）　茯神（二錢）　柏仁（二錢）　貝母（二錢）　化橘紅（一錢）　膽星（五分）　殭蠶（一錢五分炒）　菊花（二錢）　杏仁（三錢）　淡竹瀝（半杯）　薑汁（一滴，沖服）</p>
<p><u>雪乳湯</u></p>
<p>燥火。</p>
<p>雪乳湯中乳一杯，二冬二地藕當歸，葳蕤芍味懷山藥，枯燥咽乾營血虧。</p>
<p>血能養氣則氣不妄動，而陰陽得其平，營血一虧，則內失所養，而藏府皆燥火亦隨生，令人毛髮衰脫，肌膚枯槁，身熱咽乾。</p>
<p>生熟地（各三錢）　天冬（一錢五分）　麥冬（一錢五分）　肥玉竹（四錢）　五味子（五分）　當歸（一錢五分）　白芍（一錢）　山藥（三錢）　人乳（一大杯）　藕汁（一大杯）</p>
<p>水二鍾煎服。</p>
<p><u>解鬱合歡湯</u></p>
<p>鬱火。</p>
<p>解鬱合歡鬱火平，沉香薄芍郁丹參，茯神柏子柴胡棗，橘餅當歸山梔仁。</p>
<p>所欲不遂，鬱極火生，心煩慮亂，身熱而躁。</p>
<p>合歡花（二錢）　鬱金（二錢）　沉香（五分）　當歸（二錢）　白芍（一錢）　丹參（二錢）　柏子仁（二錢）　山梔（一錢五分）　柴胡（一錢）　薄荷（一錢）　茯神（二錢）　紅棗（五枚）　橘餅（四個）</p>
<p><u>黃金化毒湯</u></p>
<p>毒火。</p>
<p>黃金化毒川連薄，粉貝銀翹甘菊芍，丹皮竹葉渴而煩，腫痛癰瘍初起作。</p>
<p>癰瘍初起，腫痛大熱，煩渴引飲。</p>
<p>黃連（五分）　金銀花（二錢）　赤芍（一錢）　丹皮（二錢）　連翹（一錢五分）　大貝母（二錢）　花粉（二錢）　菊花（二錢）　薄荷（一錢）　甘草（五分）　淡竹葉（二十片）</p>
<p><u>甘露飲</u>（《局方》）</p>
<p>治胃中濕熱，口舌生瘡，吐衄齒血。</p>
<p>甘露二冬二地均，枇杷芩枳斛茵倫，合和甘草平虛熱，口爛齦糜吐衄珍。（歌本陳氏。）</p>
<p>生地　熟地　天冬　麥冬　石斛　茵陳　黃芩　枳殼　甘草　枇杷葉（等分）</p>
<p>每服五錢。一方加桂苓名桂苓甘露飲。</p>
<p>又本事方加犀角。</p>
<p><u>導赤各半湯</u>（《張氏醫通》名導赤瀉心湯）</p>
<p>治熱傳手少陰神昏。</p>
<p>導赤各半芩連犀，知梔滑麥草參齊，茯神薑棗燈心入，不飲不言如醉癡。</p>
<p>傷寒後，心下不硬，腹中不滿，二便如常，身無寒熱，漸變神昏不語，或睡中獨語，目赤口乾，不飲水，與粥則咽，不與勿思，形如醉人，熱在上而不在下，病在氣而不在血也。</p>
<p>黃連（五分）　黃芩（一錢）　犀角（五分）　知母（一錢）　山梔（一錢五分）　滑石（三錢）　麥冬（一錢五分）　人參（一錢）　茯神（二錢）　甘草（五分）</p>
<p>加燈心薑棗煎。清包絡之熱，解肺胃之煩難，無導赤散中藥味而功效備。</p>
<p><u>普濟消毒飲</u>（東垣）</p>
<p>治大頭天行。</p>
<p>普濟消毒芩連鼠，玄參甘桔藍根侶，升柴馬勃連翹陳，殭蠶薄荷為末咀，或加人參及大黃，大頭天行力能御。（歌仍汪氏）</p>
<p>邪熱客於心肺之間，上攻頭面為腫，目不能開，咽喉不利，口渴舌燥。</p>
<p>黃芩（一錢）　黃連（五分）　廣皮（一錢）　甘草（五分）　元參（一錢）　連翹（一錢五分）　馬勃（五分）　薄荷（一錢）　板藍根（三錢）　牛蒡（二錢）　殭蠶（一錢五分）　升麻（五分）　柴胡（一錢）　桔梗（一錢）</p>
<p>水煎服，便秘加大黃。</p>
<p><u>人參清肌散</u>（《類證普濟本事方》人參散）</p>
<p>治一切血熱虛勞，去黃芩名人參柴胡散即此方。治午前發熱，氣虛無汗，若入滑石、木通又可治汗出不止。</p>
<p>清肌散治午前熱，氣虛無汗薑棗覓，四君夏葛芍歸柴，汗出不止軒加益。</p>
<p>人參（一錢）　茯苓（二錢）　白朮（一錢）　炙草（四分）　半夏曲（二錢）　當歸（一錢五分）　赤芍（一錢）　柴胡（一錢）　葛根（二錢）</p>
<p>加薑棗煎。</p>
<p><u>消斑青黛飲</u>（陶節庵）</p>
<p>治胃熱發斑。</p>
<p>消斑青黛梔連犀，知母玄參生地齊，石膏柴胡人參草，便實參去大黃躋，薑棗煎加一匙醋，陽邪裡實此方稽。（歌仍汪氏）</p>
<p>熱邪傳裡，裡實表虛，陽毒發斑。</p>
<p>青黛（五分）　黃連（五分）　犀角（五分）　石膏（四錢）　知母（一錢）　玄參（一錢五分）　梔子（一錢五分）　生地（四錢）　柴胡（一錢）　人參（一錢）　甘草（五分）</p>
<p>薑棗煎加醋一匙和服。大便實者去人參加大黃。</p>

<h2>勞傷</h2>
<p><u>來蘇湯</u></p>
<p>腎勞。（晉卿）</p>
<p>來蘇茜貝杜牛充，二芍二沙二地冬，沙苑靈磁蓮杏子，腎勞咳血此方宗。</p>
<p>真陰久虧，或房室太過，水竭於下，火炎於上，身熱腰疼，咽乾口燥，甚則咳嗽吐血是為腎勞。</p>
<p>天冬（二錢）　麥冬（二錢）　生地（三錢）　熟地（三錢）　南沙參（三錢）　北沙參（三錢）　白芍（一錢）　赤芍（一錢）　沙苑（三錢）　貝母（二錢）　磁石（四錢）　杜仲（三錢）　茜草根（二錢）　牛膝（二錢）　杏仁（三錢）　蓮子（十粒，去心）</p>
<p><u>沖和湯</u></p>
<p>怒傷。</p>
<p>沖和湯治鬱火生，脅痛心煩寐不成，酸棗山萸歸芍茯，苑藜橘餅棗甘參。</p>
<p>怒甚則脅痛，鬱極則火生，心煩意躁，筋節不利，入夜不寐。</p>
<p>山萸肉（二錢）　棗仁（二錢，炒研）　當歸（二錢）　白芍（一錢五分，酒炒）　人參（二錢）　茯神（三錢）　甘草（五分）　沙苑（三錢）　蒺藜（三錢）　紅棗（五枚）　橘餅（四錢）</p>
<p><u>萱草忘憂湯</u></p>
<p>憂傷。</p>
<p>萱草忘憂桂鬱金，芍甘夏貝合歡陳，茯神柏子憂愁過，瀝淅寒熱痰不清。</p>
<p>憂愁太過，忽忽不樂，瀝淅寒熱，痰氣不清。</p>
<p>桂枝（五分）　白芍（一錢五分）　甘草（五分）　鬱金（二錢）　合歡花（二錢）　廣皮（一錢）　半夏（一錢）　貝母（二錢）　茯神（二錢）　柏仁（二錢）　金針菜（一兩）</p>
<p>煎湯代水。</p>
<p><u>大安湯</u></p>
<p>驚傷。</p>
<p>大安湯取治驚傷，心悸筋惕龍牡嘗，酸棗柏苓參芍味，地瓜金器壓浮陽。</p>
<p>驚則氣浮，真陽外越，真陰不守，心悸筋惕。</p>
<p>白芍（一錢五分，酒炒）　五味子（五分）　牡蠣（四錢，煅研）　龍齒（二錢）　木瓜（一錢，酒炒）　棗仁（二錢，炒研）　地黃（五錢）　人參（二錢）　茯苓（二錢）　柏仁（二錢）</p>
<p>金器一具同煎。</p>
<p><u>酸棗仁湯</u>（《金匱》）</p>
<p>治虛勞虛煩不得眠及盜汗。</p>
<p>酸棗仁湯出玉函，川芎知母茯苓甘，陰虛腦熱難成寐，涼胃疏肝夜不煩。</p>
<p>酸棗仁（二升）　甘草（一兩）　知母（二兩）　茯苓（二兩）　川芎（一兩）</p>
<p><u>天真丸</u>（《御藥院方》）</p>
<p>治一切亡血過多，形體消瘦，飲食不進，腸胃滑泄，津液枯竭。</p>
<p>天真丸用天門歸，山藥蓯蓉羊肉煨，白朮參耆糯米飯，噓枯澤槁奪春回。</p>
<p>精羊肉（七斤，去筋膜脂皮）　肉蓯蓉（十兩）　當歸（十二兩）　山藥（十兩）　天冬（一斤，去心焙）</p>
<p>上四味為末，安羊肉內，用陳酒四瓶煨，令酒盡加水二升，煨候肉糜爛，再入黃耆末五兩，人參末二兩，白朮末二兩，糯米飯為丸如梧子大，每服早晚各服一百丸，溫酒送下。</p>

<h1>中</h1>

<h2>腦漏</h2>
<p><u>桑菊愈風湯</u></p>
<p>風傷腦。（晉卿）</p>
<p>桑菊愈風腦漏劑，風傷鼻塞流清涕，芎歸杏貝黑芝麻，枳桔蔓荊呼吸利。</p>
<p>賊風侵人，隨吸之氣上徹於腦，以致鼻竅不通，時流清涕。此風傷之腦漏也。</p>
<p>桑葉（三錢）　杭菊（三錢）　當歸（一錢五分）　川貝（二錢）　蔓荊子（一錢五分）　桔梗（一錢）　枳殼（一錢）　杏仁（三錢）　川芎（八分）　黑芝麻（一撮）</p>
<p><u>清肝透頂湯</u></p>
<p>火傷腦。</p>
<p>清肝透頂鼻流黃，外鑠內燔腦部傷，丹桔蟬羚陳橄欖，夏枯玄決薄荷桑。</p>
<p>陽邪外鑠，肝火內燔，鼻竅半通時流黃水，此火傷之腦漏也。</p>
<p>羚羊角（一錢五分）　夏枯草（二錢）　石決明（八錢）　粉丹皮（一錢五分）　玄參（一錢）　桔梗（一錢）　蟬衣（一錢五分）　薄荷（一錢）　桑葉（二錢）　陳橄欖（二枚）</p>
<p><u>通陽聖化湯</u></p>
<p>寒傷腦。</p>
<p>通陽聖化寒傷腦，鼻塞涕流冬月保，羌芷辛夷芎附歸，天麻白朮姜紅棗。</p>
<p>冬月邪寒，感冒重陰，寒氣侵腦，鼻竅不通，時流淚涕，此寒傷之腦漏也。</p>
<p>當歸（二錢）　川芎（一錢）　香附（二錢）　白朮（一錢五分）　羌活（一錢）　白芷（五分，酒蒸）　辛夷（一錢，切）　天麻（六分）　紅棗（五枚）　姜（三片）</p>

<h2>鼻衄</h2>
<p><u>豢龍湯</u></p>
<p>豢龍膝薄羚羊牡，丹麥沙參荊貝母，石斛夏枯茜藕茅，衄由肺竅清肝火。</p>
<p>肝火蘊結，驟犯肺穴，逼血上行而從鼻出。醫用犀角地黃湯多心腎之藥以治肝肺，宜其格不相入，是以百無一效，弊在拘執古方不明經絡也。此方專治鼻衄，無不應手。</p>
<p>羚羊角（一錢五分）　牡蠣（四錢）　石斛（三錢）　南沙參（四錢）　麥冬（一錢五分，青黛少許拌）　川貝（二錢，去心研）　夏枯草（一錢五分）　丹皮（一錢五分）　黑荊芥（一錢）　薄荷炭（一錢）　茜草根（二錢）　牛膝（二錢）　白茅根（五錢）　藕（五大片）</p>
<p>附方：</p>
<p>鼻衄不止，用河蚌肉、側柏葉同搗爛，調塗額上，甚則用涼水噴心，即止，屢試屢效。（軒）</p>
<p>又方：</p>
<p>羚羊角（五分）　石膏（六錢）　石斛（三錢）　生地（八錢）</p>
<p>煎服。</p>

<h2>齒血</h2>
<p><u>蒼玉潛龍湯</u></p>
<p>齒牙出血。</p>
<p>蒼玉潛龍斛藕茅，龜龍羚角地黃膏，沙丹白芎天花粉，陽亢陰虛齒血饒。</p>
<p>胃火熾甚，肉不附骨，血熱上湧，故牙宣出血。其牙不宣而出血者，乃陰虛陽亢龍雷之火沖激胃經所致，多則血流盈盞，晝夜十餘次，面紅目赤，煩擾不安，多服此方乃愈。</p>
<p>龜板（六錢）　生地（四錢）　沙參（四錢）　石膏（三錢）　石斛（三錢）　龍齒（二錢）　花粉（二錢）　丹皮（一錢五分）　白芍（一錢五分）　羚羊角（一錢五分）　藕（三兩）　茅根（五錢）</p>

<h2>關格</h2>
<p><u>歸桂化逆湯</u></p>
<p>關格。</p>
<p>歸桂化逆芍苓青，玫瑰蒺藜歡鬱金，木降二香牛膝棗，疏肝理氣胃和平。</p>
<p>肝氣犯胃，食入作吐，宜於調養營衛之中，解鬱和中，平肝理氣。</p>
<p>當歸（二錢）　白芍（一錢五分，酒炒）　肉桂（五分）　青皮（一錢）　茯苓（二錢）　蒺藜（四錢）　鬱金（二錢）　合歡花（二錢）　木香（五分）　牛膝（二錢）　玫瑰花（五分）　紅棗（五枚）　降香（五分）</p>
<p><u>資液救焚湯</u>（程氏）</p>
<p>治五志厥陽之火。</p>
<p>資液救焚紫石英，寒水滑石柏麻仁，姜犀二汁阿膠地，生脈散與炙甘行。</p>
<p>鮮生地（二錢，取汁）　麥冬（二錢，取汁）　人參（一錢五分，人乳拌蒸）　炙甘草（一錢）　阿膠（一錢）　胡麻仁（一錢，炒研）　柏子仁（七分，炒）　五味子（四分）　紫石英（一錢）　寒水石（一錢）　生犀汁（磨，二分）　滑石（一錢二分，敲碎不為末）　生薑汁（二茶匙）</p>
<p>除四汁及阿膠共八味，用名山泉水四鍾，緩火煮至一杯半，去滓入四汁及阿膠，再緩火略煎至膠烊化斟出，調牛黃末五釐，日中分二三次熱服，空朝先服附桂八味丸三錢。</p>
<p>附方：胡桃肉湯</p>
<p>胡桃過口腎肝傷，食脹賁門土不強，姜夏茯萸牛膝草，金鈴歸桂芍沉香。</p>
<p>肝腎兩虧，脾土失運，納食則脹，甚則脘痛至臍，久恐上為關格，下為便艱，衰年難愈，善調庶幾有瘳。</p>
<p>當歸（三錢）　官桂（一錢）　茯苓（三錢）　甘草（五分）　半夏（一錢五分）　牛膝（三錢）　川楝子（二錢）　白芍（三錢）　沉香（一錢）　吳萸（一錢）　生薑（一片）　胡桃肉（三錢，過口）</p>

<h2>咳嗽</h2>
<p><u>薑桂二陳湯</u></p>
<p>肺寒而咳畏寒多注。（晉卿）</p>
<p>薑桂二陳蘇杏仁，苡以葶藶當歸術，脘悶須將甘草除，水邪射肺寒而咳。</p>
<p>水邪射肺，水冷金寒，咳吐痰沫，胸脘作悶，肌膚懍冽。</p>
<p>炮姜（五分）　桂枝（五分）　橘紅（一錢）　半夏（一錢）　葶藶子（二錢）　當歸（一錢五分）　茯苓（二錢）　白朮（一錢）　蘇子（一錢五分）　杏仁（三錢）　苡仁（一兩，煎湯代水）</p>
<p><u>保肺濟生丹</u></p>
<p>肺虛而咳，火升失血。</p>
<p>濟生五味沙人參，玉竹二冬杏茜根，貝母貞苓山藥藕，咽疼失血肺虛尋。</p>
<p>肺虛而咳，肌表微熱，神倦氣短，不時火升，失血咽痛。</p>
<p>天冬（一錢五分）　麥冬（一錢五分）　人參（一錢）　沙參（四錢）　五味子（五分）　玉竹（三錢）　女貞子（二錢）　茯苓（二錢）　山藥（三錢）　貝母（二錢）　茜草根（二錢）　杏仁（三錢）　藕（三兩，切片煎湯代水）</p>
<p><u>降氣和中湯</u></p>
<p>肺實而咳，痰稠喘滿。</p>
<p>降氣和中醫肺實，痰稠喘滿生薑汁，夏貝蘇蔞芥杏萊，沉香浮石桑皮橘。</p>
<p>肺實而咳，胸脘喘滿，時吐稠痰，宜降氣和中。</p>
<p>蘇子（一錢五分）　沉香（五分）　海浮石（三錢）　蔞仁（四錢）　萊菔（二錢）　芥子（一錢）　橘紅（一錢）　半夏（一錢）　桑皮（二錢）　貝母（二錢）　杏仁（三錢）　薑汁（兩小匙，沖服）</p>
<p><u>金牛湯</u></p>
<p>塞金不鳴。</p>
<p>金牛蘇杏芥麻黃，蔞貝沉香橘夏桑，枇杷蜜炙音難出，金塞不鳴痰喘嘗。</p>
<p>肺實而咳，胸脘喘滿，時吐稠痰，甚者痰氣閉結，語音不出，此為塞金不鳴。</p>
<p>鬱金（二錢）　牛蒡（三錢，炒研）　陳麻黃（四分，蜜水炙）　蔞仁（三錢）　蘇子（一錢五分）　白芥子（一錢）　沉香（五分）　貝母（二錢）　杏仁（三錢）　橘紅（一錢）　半夏（一錢）　桑皮（二錢）　枇杷葉（兩張，刷毛蜜炙）</p>
<p><u>玄妙散</u></p>
<p>心咳，痰少不寐。</p>
<p>玄妙咳由手少陰，心煩不寐竹燈薪，沙玄桔貝丹參麥，夜合茯神柏杏仁。</p>
<p>心經之咳，痰少心煩，夜不成寐。</p>
<p>玄參（一錢五分）　丹參（三錢）　沙參（四錢）　茯神（二錢）　柏仁（二錢）　桔梗（一錢）　麥冬（一錢五分，硃砂拌）　貝母（二錢）　杏仁（三錢）　夜合花（二錢）　淡竹葉（十張）　燈薪（三尺）</p>
<p><u>丹青飲</u></p>
<p>肝咳，脅痛頭眩。</p>
<p>丹青飲用赭旋覆，桑菊苑蒺沙斛麥，杏貝橘紅怒易生，咳而脅痛頭昏服。</p>
<p>肝經之咳，痰少脅痛，易怒頭眩。</p>
<p>赭石（三錢）　麥冬（一錢五分，青黛拌）　杭菊（二錢）　石斛（三錢）　蒺藜（三錢）　沙苑（三錢）　沙參（四錢）　桑葉（一錢）　橘紅（一錢）　貝母（二錢）　杏仁（三錢）　旋覆花（一錢，絹包）</p>
<p><u>山虎湯</u></p>
<p>腎咳，痰咸花黑。</p>
<p>山虎痰咸腎咳嗆，參苓故紙人乳姜，蛤蚧杏仁山藥貝，麥冬生地與沉香。</p>
<p>腎經之咳，或嗆，或喘，痰味鹼而有黑花。</p>
<p>蛤蚧尾（一對，酒洗）　生地（六錢，切片，蛤粉炒）　沉香（五分）　破故紙（一錢五分，合核桃仁拌炒）　人參（二錢）　沙參（四錢）　茯苓（二錢）　山藥（三錢）　貝母（二錢）　杏仁（三錢）　麥冬（一錢五分）　人乳（半杯）　薑汁（兩滴，同沖服）</p>
<p><u>迴風養臟湯</u></p>
<p>大腸咳，咳而遺矢。</p>
<p>迴風養藏貝沙參，枳朮桑前茯苡仁，橘紅蘇子兼荷蒂，培土清金風不生。</p>
<p>風陽外鑠，肺熱移於大腸，更兼風入空竅，咳而遺矢，當培土化熱，兼以息風為治。</p>
<p>沙參（四錢）　蘇子（一錢五分）　枳殼（一錢）　前胡（一錢）　桑葉（一錢）　茯苓（二錢）　白朮（一錢）　苡仁（四錢）　橘紅（一錢）　貝母（二錢）　荷葉蒂（一枚）</p>
<p><u>潔宮湯</u></p>
<p>小腸咳，咳而失氣。</p>
<p>潔宮姜遠茯神沙，貝夏歸陳術麥砂，下焦失氣小腸咳，移自心經治勿差。</p>
<p>心咳不已，則小腸受之，小腸下口接大腸之上口，小腸化則大腸通，小腸咳則氣達於大腸，故下焦之濁氣不時宣泄也。</p>
<p>沙參（四錢）　茯神（二錢）　遠志（五分，甘草水炒）　歸身（二錢）　麥冬（二錢）　貝母（二錢）　橘紅（一錢）　半夏（一錢）　白朮（一錢）　砂仁（一錢）　姜（三片）</p>
<p><u>通理湯</u></p>
<p>三焦咳，久而面浮。</p>
<p>通理三焦肺胃戕，面浮氣逆咳延長，歸苓枳朮姜砂樸，夏苡青陳蘇子桑。</p>
<p>久咳則三焦俱病，聚於胃關，於肺，咳而腹滿，不欲飲食，多涕吐而面浮腫，氣逆宜通，理法治之。</p>
<p>當歸（二錢）　茯苓（二錢）　白朮（一錢）　苡仁（四錢）　枳殼（一錢）　橘紅（一錢）　半夏（一錢）　厚朴（一錢）　蘇子（一錢五分）　桑皮（二錢）　砂仁（一錢）　青皮（一錢）　姜（三片）</p>
<p><u>補肺阿膠散</u>（錢氏）</p>
<p>治肺虛有火，咳無津液而氣哽者。</p>
<p>補肺阿膠馬兜鈴，鼠黏甘草杏糯停，肺虛火盛人當服，順氣生津嗽哽寧。（歌仍汪氏）</p>
<p>阿膠（一兩五錢）　馬兜鈴（一兩）　甘草（一兩）　牛蒡子（一兩）　杏仁（七錢）　糯米（一兩）</p>
<p>水煎分溫服。</p>

<h2>痰飲</h2>
<p><u>神芎導水丸</u>（劉河間）</p>
<p>治一切熱痰鬱結。</p>
<p>神芎導水芩連醜，大黃滑石蘇荷偶，每服無過三十丸，一切風痰積熱走。</p>
<p>黃芩（一兩）　黃連（五錢）　川芎（五錢）　薄荷（五錢）　大黃（一兩）　滑石（四兩）　黑醜（二兩）</p>
<p>研末蜜丸如梧子大，每服十丸至三十丸。</p>
<p>附註：</p>
<p>凡老弱虛人，脾胃經虛，風熱遏郁，色黑齒槁，身瘦萎黃，或服甘熱過度成三消等病，以及肢體躁擾，神志怫鬱者均宜之。惟臟腑滑泄，或裡寒脈遲，或婦人經病，妊娠產後，血下不止者均忌之。</p>
<p>又：</p>
<p>治心經積熱，風痰壅滯，頭目昏眩赤腫，口舌生瘡，牙齒疳蝕，或遍身瘡疥，咽膈不利，驚惕怔忡，煩躁多渴，或二利閉澀，或積熱腹滿，驚風潮搐，或水腫外內俱實，及熱證久病熱鬱，常服除腸胃積滯。止血加蒲黃；濕熱腰脅腫滿加甘遂一兩；遍身走注疼痛加白芥子一兩；久毒熱腫腹痛加芒硝一兩；關節不利加羌活一兩；腸胃結滯加郁李仁一兩；腰腿沉重加商陸一兩；婦人血病下惡物加肉桂五錢。</p>
<p><u>清氣化痰丸</u>（驗方）</p>
<p>治熱痰。</p>
<p>清氣化痰星夏橘，杏仁枳實苦蔞實，芩苓薑汁為糊丸，氣順火消痰自失。（歌仍汪氏）</p>
<p>半夏（薑製）　膽星（各一兩五錢）　橘紅　枳實（麩炒）　杏仁（去皮尖）　蔞仁（去油）　黃芩（酒炒）　茯苓（各一兩）</p>
<p>淡薑汁和丸，每服三錢。</p>
<p><u>半夏天麻白朮湯</u>（東垣）</p>
<p>治風痰昏眩，頭痛如裂，四肢厥冷。</p>
<p>半夏天麻白朮湯，參耆橘柏及乾薑，苓瀉麥芽蒼朮曲，太陰痰厥頭痛良。（歌仍汪氏）</p>
<p>半夏（一錢）　麥芽（三錢）　神麯（三錢）　白朮（一錢）　蒼朮（一錢）　人參（一錢）　黃耆（二錢）　陳皮（一錢）　茯苓（二錢）　澤瀉（一錢五分）　天麻（六分）　乾薑（三分）　黃柏（五分）</p>
<p>研末，每用五錢煎服。</p>
<p><u>代赭旋覆湯</u>（仲景）</p>
<p>用治痞硬噫氣，用治風痰入肺久經吼咳者屢效，勝鵝梨散。（軒）</p>
<p>代赭旋覆用人參，半夏甘姜大棗臨，重以鎮逆咸軟痞，痞硬噫氣力能禁。（歌仍汪氏）</p>
<p>赭石（一兩）　人參（二兩）　旋覆（三兩）　甘草（三兩）　半夏（半斤）　生薑（五兩）　棗（十二枚）</p>

<h2>肺癰</h2>
<p><u>三子養親湯</u>（韓𢘅）</p>
<p>治老人氣實痰盛，喘滿懶食。</p>
<p>蘇子行氣，芥子除痰，萊菔子消食，各微炒研煎服。</p>
<p><u>葦莖湯</u>（《千金》）</p>
<p>治肺癰。</p>
<p>葦莖（二升，先煮）　苡仁（五合，炒）　絲瓜瓣（五合）　桃仁（去皮尖，炒研，五十粒）</p>
<p>再服當吐膿，則藥力行而癰潰。</p>
<p>用上二方合治肺氣壅塞致成肺癰，咳吐膿氣甚腥穢者屢效，勝石花湯。（軒）</p>
<p>三子養親蘇芥菔，葦莖桃苡仁瓜服，咳吐如膿氣甚穢，肺家癰潰能痊復。（軒）</p>

<h2>結胸</h2>
<p><u>祛寒平胃散</u></p>
<p>寒邪結胸。（晉卿）</p>
<p>祛寒平胃草須芟，歸郁香砂佛手柑，佩蘭白茯炮薑炭，胸痞因塞體倦參。</p>
<p>寒氣遏抑則胃陽不通，故中脘痞滿、四肢倦怠。</p>
<p>炮姜（五分）　廣皮（一錢）　茅朮（一錢）　厚朴（一錢）　佩蘭（一錢）　歸身（一錢五分）　茯苓（二錢）　木香（五分）　砂仁（一錢）　鬱金（二錢）　佛手柑（五分）</p>
<p><u>梔子解鬱湯</u></p>
<p>風熱結胸。</p>
<p>梔子解鬱郁梔投，蘇梗連翹葛豉蔞，淡竹茅根薄荷葉，心煩脘悶熱當求。</p>
<p>風熱內鬱則胸脘煩悶、心神焦躁。</p>
<p>黑山梔（二錢）　瓜蔞果（一個切）　連翹（二錢）　薄荷（一錢）　葛根（二錢）　蘇梗（一錢五分）　豆豉（三錢）　鬱金（二錢）　淡竹葉（二十張）　白茅根（五錢）</p>
<p><u>竹瀝滌痰湯</u></p>
<p>痰氣結胸。</p>
<p>竹瀝滌痰薑汁桑，決明天竺貝羚羊，杏仁全福瓜蔞果，火盛痰壅氣結殃。</p>
<p>痰隨火升壅於中脘。</p>
<p>川貝母（二錢）　天竺黃（六分）　羚羊角（一錢五分）　炙桑皮（二錢）　瓜蔞仁（四錢）　石決明（八錢）　杏仁（三錢）　全福花（一錢絹包）</p>
<p>淡竹瀝半杯、薑汁兩滴同沖服。</p>

<h2>癉瘧</h2>
<p><u>玉露散</u></p>
<p>癉瘧。</p>
<p>玉露散醫熱不寒，證名癉瘧斛梨山，茯苓杏貝沙參麥，玉竹蔞根肌鑠餐。</p>
<p>肺素有熱，腸氣盛而不衰，故但熱而不寒，令人消鑠脫肉，名曰癉瘧。</p>
<p>肥玉竹（四錢）　花粉（二錢）　沙參（四錢）　麥冬（二錢）　石斛（三錢）　貝母（二錢）　杏仁（三錢）　茯苓（二錢）　山藥（三錢）　梨（三十片）</p>
<p><u>清脾飲</u>（嚴氏）</p>
<p>治瘧疾，熱多寒少，口苦嗌乾，小便赤澀，脈來弦數。</p>
<p>青皮　厚朴　炒柴胡　黃芩　半夏（制）　甘草（炙）　茯苓　白朮　草果（煨）　生薑</p>
<p>瘧不止，加酒炒常山一錢，烏梅一兩；大渴加麥冬、知母。</p>
<p>附註：</p>
<p>清營分之熱邪，使仍從衛出，而脾部為之一清。</p>

<h2>黃癉</h2>
<p><u>導黃湯</u></p>
<p>陽黃。</p>
<p>導黃火盛發陽黃，濕熱薰蒸燥渴將，萆粉梔翹通葛茯，車前茵澤苡仁湯。</p>
<p>面目發黃，口燥而渴，小便赤澀，胃火熾盛，涇熱熏蒸，是為陽黃。</p>
<p>葛根（一錢）　花粉（二錢）　山梔（一錢五分）　連翹（一錢五分）　木通（一錢）　茵陳（三錢）　萆薢（二錢）　茯苓（二錢）　澤瀉（一錢五分）　車前（二錢）　苡仁（一兩，煎湯代水）</p>
<p><u>茵陳玉露飲</u></p>
<p>酒癉。</p>
<p>茵陳玉露二陳施，草去拈來斛玉梔，花粉葛根萆薢薏，酒勞成癉面如黧。</p>
<p>居恆嗜飲，濕火熏蒸，面目發黃，甚則黑，心中嘈雜，雖食甘芳如啖酸辣，小便赤澀是為酒癉。</p>
<p>茵陳（三錢）　玉竹（三錢）　石斛（三錢）　花粉（二錢）　葛根（二錢）　山梔（一錢五分）　廣皮（一錢）　半夏（一錢）　茯苓（二錢）　萆薢（二錢）　苡仁（一兩，煎湯代水）</p>

<h2>除中</h2>
<p><u>祛煩養胃湯</u></p>
<p>中消。</p>
<p>祛煩養胃斛沙參，花粉石膏玉竹苓，夏陳麥冬山藥蔗，中消痰火此方珍。</p>
<p>痰入胃中，與火相乘，為力更猛，食入即腐，易於消鑠，經所謂除中，言常虛而不能滿也。宜清陽明之熱，潤燥化痰。</p>
<p>鮮石斛（五錢）　熟石膏（四錢）　天花粉（三錢）　南沙參（四錢）　大麥冬（二錢）　玉竹（四錢）　山藥（三錢）　茯苓（三錢）　廣皮（一錢）　半夏（一錢五分）　甘蔗（三兩，煎湯代水）</p>

<h2>痿症</h2>
<p><u>玉華煎</u></p>
<p>氣痿。</p>
<p>玉華煎治足無力，肺氣空虛麥味膝，葳蕤薯斷術參苓，元米煎湯救痿躄。</p>
<p>肺陰傷則元氣薄弱而不能下行，故足膝無力而不能任地，是為氣痿。</p>
<p>玉竹（四錢）　五味（一錢）　麥冬（三錢）　沙參（四錢）　黨參（四錢）　茯苓（一錢）　白朮（一錢）　山藥（三錢）　川斷（二錢）　牛膝（二錢）　元米（一撮，煎湯代水）</p>
<p><u>調榮通脈湯</u></p>
<p>脈痿。</p>
<p>調榮通脈黨丹參，天地歸連斷茯神，白朮柏仁桑膝棗，下虛上實脈痿珍。</p>
<p>心陽上亢，在下之脈亦厥逆而上，上愈實則下愈虛，故為脈痿，關節之處如樞紐之抑而不可提挈，足脛縱緩皆脈不通而懈弛也。</p>
<p>天冬（二錢）　生地（五錢）　丹參（三錢）　柏仁（二錢）　當參（四錢）　茯神（二錢）　白朮（一錢）　黃連（四分，酒炒）　當歸（二錢）　川斷（二錢）　牛膝（二錢）　紅棗（十枚）　桑皮（一尺）</p>
<p><u>水木華滋湯</u></p>
<p>筋痿。</p>
<p>水木華滋筋膜乾，拘攣口苦芍歸丹，牛羊梔地瓜參茯，人乳桑枝術斷咸。</p>
<p>肝膽相連，肝熱則膽亦熱，膽汁內沸故發為口苦，血為火劫，不能養筋，筋急而攣故為筋痿。</p>
<p>生地（五錢）　當歸（二錢）　白芍（一錢五分）　丹皮（二錢）　山梔（一錢五分）　羚角（一錢五分）　木瓜（一錢，酒炒）　黨參（四錢）　茯苓（二錢）　白朮（一錢）　川斷（二錢）　牛膝（二錢）　人乳（一杯）　桑枝（一尺）</p>

<h2>痹症</h2>
<p><u>溫經養榮湯</u></p>
<p>風痹。</p>
<p>溫經養榮甜瓜子，艽桂香歸薑棗杞，瓜桑芍斷二地黃，獨活鹿筋風痹理。</p>
<p>血不榮筋，風入節絡，木燥筋攣，先用大劑補血去風，後即加入參苓白朮以補氣分營衛平調，方無偏勝之患。</p>
<p>生地（三錢，切片，紅花炒）　熟地（三錢，切片，砂仁炒）　鹿筋（五錢，切片）　木瓜（一錢，酒炒）　川斷（二錢）　枸杞（三錢）　當歸（二錢）　白芍（一錢五分，酒炒）　獨活（一錢，酒炒）　桂枝（五分）　秦艽（一錢）　木香（五分）　甜瓜子（三錢，炒，研）　紅棗（十枚）　姜（三片）　桑枝（一尺）</p>
<p>可與後方參用。（軒）</p>
<p><u>龍火湯</u></p>
<p>痛痹。</p>
<p>龍火蠶砂鹿角霜，蓯蓉獨斷桂歸香，參苓朮芍姜紅棗，氣血平調痛痹良。</p>
<p>營衛受寒，不通而痛，宜調養氣血，溫通經絡。</p>
<p>肉蓯蓉（三錢）　肉桂（五分）　黨參（四錢）　茯苓（二錢）　白朮（一錢）　歸身（二錢，酒炒）　白芍（一錢，酒炒）　木香（五分）　川斷（二錢）　獨活（一錢，酒炒）　鹿角霜（四錢）　蠶砂（三錢）　紅棗（十枚）　姜（三片）</p>
<p><u>立極湯</u></p>
<p>著痹。</p>
<p>立極參苓獨附收，苡仁二術杜歸牛，棗姜故紙和川斷，燥濕強脾著痹瘳。</p>
<p>濕氣勝者重著難移，濕從土化，病在肌肉不在筋骨，所謂腰間如帶五千錢者是也，當補土燥濕。</p>
<p>黨參（四錢）　附子（六分）　當歸（二錢）　茯苓（三錢）　白朮（一錢）　茅朮（一錢）　破故紙（一錢五分）　杜仲（二錢）　川斷（二錢）　獨活（一錢）　牛膝（二錢）　紅棗（五枚）　姜（三片）　苡仁（一兩，煎湯代水）</p>
<p><u>桑樸湯</u></p>
<p>肺痹。</p>
<p>桑樸二陳草不題，蘇沉杏貝郁蔞皮，生薑佛手平煩嘔，肺胃俱傷喘滿宜。</p>
<p>肺氣受邪，從胃而上，清肅之令不能下行，故煩滿而喘，其作嘔，則胃亦受邪，水穀之氣不安也。</p>
<p>桑皮（二錢）　厚朴（一錢）　橘紅（一錢）　半夏（一錢）　茯苓（二錢）　沉香（五分）　蘇子（一錢五分）　杏仁（三錢）　蔞皮（二錢）　貝母（二錢）　鬱金（二錢）　佛手（五分）　姜（三片）</p>
<p><u>三靈湯</u></p>
<p>肝痹。</p>
<p>三靈湯治肝脾胃，渴脹夏青瓜子善，逍遙除卻薄姜甘，齒決葛根羚角薦。</p>
<p>肝火上升犯胃，故胃熱而渴，肝氣下行克脾，故脾弱而脹，宜養血疏肝兼調脾胃。</p>
<p>當歸（二錢）　白芍（一錢）　羚羊角（一錢五分）　龍骨（二錢）　石決明（六錢）　半夏曲（三錢）　柴胡（一錢）　葛根（二錢）　茯神（二錢）　白朮（一錢）　青皮（一錢）　冬瓜子（三錢，煎湯代水）</p>
<p><u>安貞湯</u></p>
<p>脾痹。</p>
<p>安貞湯內用四君，草去姜歸砂樸增，桑夏陳櫞蘇杏子，塞而咳嘔令難行。</p>
<p>脾病故四肢懈惰，土敗則金衰故發咳，脾病則胃亦病故嘔汁，地氣上升天氣不降乾金之令不行，故上為大塞。</p>
<p>黨參（四錢）　炮姜（六分）　當歸（二錢）　半夏（一錢）　茯苓（三錢）　白朮（一錢）　厚朴（一錢）　砂仁（一錢）　桑皮（二分）　杏仁（三錢）　蘇子（一錢五分）　陳香櫞皮（六分）</p>
<p><u>利濟湯</u></p>
<p>胞痹。</p>
<p>利濟湯名治胞痹，清涕上流小便秘，歸芍青陳枳澤苓，沉香牛膝車小薊。</p>
<p>熱結膀胱，水液滿而不出，故少腹內痛，若沃以湯澀於小便，足太陽之脈從巔絡腦氣閉，故上流清涕。</p>
<p>澤瀉（一錢五分）　沉香（五分）　枳殼（一錢）　青皮（一錢）　赤苓（二錢）　當歸（二錢）　赤芍（一錢）　廣皮（一錢）　牛膝（二錢）　車前（二錢）　小薊根（五錢）</p>
<p><u>栝蔞薤白半夏湯</u></p>
<p>《金匱》治胸痹不得臥，心痛徹背。</p>
<p>瓜蔞果（一枚）　薤白（三兩）　半夏（三兩）</p>
<p>白酒四升同煮，取一升半分溫服。</p>
<p><u>吳茱萸散</u></p>
<p>《證治準繩》湯，腸痹寒濕內搏，腹痛氣急，大便飧泄。</p>
<p>吳茱萸散草乾姜，蔻樸砂陳曲術良，痛而飧泄為腸痹，研末和調米飲嘗。</p>
<p>吳茱萸（五錢）　乾薑（五錢）　甘草（五錢）　砂仁（一兩）　炒神麯（一兩）　肉豆蔻（五錢）　白朮（一兩）　厚朴（一兩）　陳皮（一兩）　良薑（五錢）</p>
<p>研末，每服一錢，食前米飲下。</p>
<p><u>羌活湯</u></p>
<p>治皮痹。皮中狀如蟲行，腹脅脹滿，大腸不利，語不出聲。</p>
<p>羌活湯中加味辛，參苓朮附杏丹參，桂麻白蒺通檳地，郁枳菖姜萆薢羚。</p>
<p>羌活　細辛　附子　沙參　羚羊角　白朮　生地　官桂　枳殼　五加皮　麻黃　杏仁　丹參　萆薢　白蒺藜　五味　菖蒲　木通　檳榔　郁李仁　赤苓（各等分）　生薑（五片）</p>
<p>水煎分溫服。</p>
<p><u>升麻湯</u></p>
<p>劉河間治熱痹，肌肉極熱，體上如鼠走，唇口反縮，皮毛變紅黑。</p>
<p>升麻參茯羌防桂，犀羚竹瀝姜三片，或將地斛易犀羚，體如鼠走肌熱痹。</p>
<p>升麻（一錢）　人參（一錢）　茯神（二錢）　犀角（一錢）　羚羊角（一錢）　官桂（三分）　防風（五分）　羌活（五分）　生薑（三片）　竹瀝（半杯）</p>
<p><u>犀角散</u></p>
<p>治神情恍惚，恐畏悶亂不得睡，及語言錯亂，是為心痹。</p>
<p>犀角羚羊天竺黃，天麻升麻麥麝香，沙丹參共人參茯，齒獨冰牛草遠防。</p>
<p>犀角（一錢）　羚羊角（一錢）　人參（二錢）　沙參（三錢）　防風（一錢）　天麻（一錢）　天竺黃（一錢）　茯神（二錢）　升麻（一錢）　獨活（一錢）　遠志（一錢）　麥冬（一錢三分）　甘草（一錢）　龍齒（一錢）　丹參（一錢）　牛黃（一分）　麝香（一分）　冰片（一分）</p>
<p>研末，每服一錢五分，麥冬湯調服。</p>

<h2>腫脹</h2>
<p><u>離照湯</u></p>
<p>心脹。（伯雄）</p>
<p>離照心煩臥不安，陰陽相戰茯神丹，朱沉琥珀青陳郁，柏子姜皮燈草參。</p>
<p>心本純陽，寒邪來犯，陰陽相戰，故煩滿短氣而臥不安也。治鬚髮其神明，摧蕩邪氣，使浮雲不能蔽日，自然離照當空太陽之火不煩補助也。</p>
<p>琥珀（一錢）　丹參（三錢）　硃砂（五分）　茯神（三錢）　柏仁（二錢）　沉香（五分）　廣皮（一錢）　青皮（一錢）　鬱金（二錢）　燈心（三尺）　姜皮（五分）</p>
<p><u>溫肺桂枝湯</u></p>
<p>肺脹。</p>
<p>溫肺桂皮歸化橘，桑皮蔞果生薑汁，茯苓蘇子夏沉香，氣逆寒壅虛脹咳。</p>
<p>肺為主氣之臟，居於至高，寒氣逆上，肺氣壅寒，清肅之令不能下行，故虛滿而喘咳，當溫肺降氣以解寒邪。</p>
<p>桂枝（五分）　當歸（二錢）　茯苓（二錢）　沉香（五分）　蘇子（一錢五分）　橘紅（一錢）　半夏（一錢二分）　瓜蔞果（四錢）　桑皮（二錢）</p>
<p>薑汁兩小匙沖服。</p>
<p><u>青陽湯</u></p>
<p>肝脹。</p>
<p>青陽化濁延柴胡，青廣二皮白蒺烏，姜郁木香椒廿四，脅連小腹脹疼舒。</p>
<p>肝為將軍之官，氣血皆盛，但木喜條達，寒氣上逆，則兩氣相積而肝木怒張脅下肝之本位，痛引小腹則壅極而決矣，當疏肝化濁。</p>
<p>青皮（一錢五分，醋炒）　柴胡（一錢，醋炒）　蒺藜（四錢）　烏藥（一錢）　炮姜（五分）　廣皮（一錢）　延胡（一錢，酒炒）　木香（五分）　鬱金（二錢）　花椒子（二十四粒，打碎）</p>
<p><u>薑朮二仁湯</u></p>
<p>脾脹。</p>
<p>薑朮二仁湯苡砂，香歸陳夏樸苓芽，體疲善噦為脾脹，扶土祛寒滲濕佳。</p>
<p>脾為濕土而主四肢，寒氣乘之，則土德衰而真陽不運，故善噦而肢體疲重，夜臥不安也。當扶土滲濕，兼解寒邪。</p>
<p>炮姜（五分）　白朮（二錢）　茯苓（三錢）　半夏（一錢）　當歸（二錢）　苡仁（八錢，炒）　砂仁（一錢）　厚朴（一錢）　木香（五分）　廣皮（一錢）　生熟穀芽（各四錢，煎湯代水）</p>
<p><u>溫泉湯</u></p>
<p>腎脹。</p>
<p>溫泉腰痛下元虛，腎臟寒凝附子須，烏藥青陳牛故紙，姜歸杜木小茴俱。</p>
<p>腎本屬水，寒乘之水，寒則成水，氣益堅凝，坎中之真陽不能外達，故腹滿引背，時形困苦，腰髀痛則下元虛寒，營血不能流灌也。當溫腎祛寒。</p>
<p>當歸（二錢）　附子（八分）　小茴香（一錢）　破故紙（一錢五分，胡桃肉拌炒）　烏藥（一錢）　杜仲（三錢）　牛膝（二錢）　木香（五分）　廣皮（一錢）　青皮（一錢）　生薑（三片）</p>
<p><u>通幽化濁湯</u></p>
<p>小腸脹。</p>
<p>通幽化濁枳蔞仁，烏藥車前通樸青，廣木穀芽姜赤茯，小腸脹在便通行。</p>
<p>小腸為受盛之官，居胃之下，受盛水穀而分清濁，水液滲於前，糟粕歸於後，寒氣上逆則化物不出，故少腹䐜脹引腰而痛也。當分理水道，俾二便通行則脹滿自解。</p>
<p>枳殼（一錢五分）　青皮（一錢五分）　木通（一錢五分，酒炒）　車前子（二錢）　赤苓（二錢）　蔞仁（三錢）　厚朴（一錢）　木香（五分）　烏藥（一錢）　穀芽（三錢）　炒姜（三大片）</p>
<p><u>既濟湯</u></p>
<p>膀胱脹。</p>
<p>既濟膀胱氣不通，車前牛膝苡仁攻，廣皮瞿麥葵花子，歸桂沉香澤瀉從。</p>
<p>膀胱主藏津液，氣化則出，寒氣上逆則水氣窒塞不通，故少腹滿而小便癃也。當理氣行水俾寒水得真陽而通利。</p>
<p>當歸（二錢）　肉桂（五分）　沉香（五分）　廣皮（一錢）　澤瀉（一錢五分）　牛膝（二錢）　瞿麥（二錢）　車前（二錢）　苡仁（四錢）　葵花子（四錢，炒，研，同煎）</p>
<p>附方：</p>
<p>嘗外用蠹魚、豆豉、肉桂、麝香、炒鹽薑蔥和搗成餅，貼臍治小便癃神效。（軒）</p>
<p><u>金匱防己黃耆湯</u></p>
<p>治水腫。</p>
<p>防己（一兩）　黃耆（一兩）　白朮（三兩）　甘草（五錢）</p>
<p>棗一枚，姜七片水煎分溫服。</p>
<p><u>實脾散</u></p>
<p>虛寒陰水，便利不渴而腫脹。（嚴氏）</p>
<p>實脾苓朮與木瓜，甘草木香大腹加，草蔻附姜兼厚朴，虛寒陰水效堪佳。（歌仍汪氏）</p>
<p>症見色悴聲短，乃脾腎虛寒，若徒事破氣利濕，益加憔悴，宜用香砂六君合溫腎滲濕之劑。</p>
<p>厚朴（一兩）　白朮（一兩）　木瓜（一兩）　大腹皮（一兩）　附子（一兩）　木香（一兩）　草果（一兩）　茯苓（一兩）　甘草（五錢）</p>
<p>每用四錢水煎服。</p>
<p><u>舟車丸</u></p>
<p>燥實除水。口渴面赤，氣粗便秘而腫脹者。（河間）</p>
<p>舟車牽牛及大黃，遂戟芫花又木香，青皮橘皮加輕粉，燥實陽水卻相當（歌仍汪氏）。水腫水脹，形氣俱實。</p>
<p>黑牽牛（一兩）　芫花（一兩）　青皮（一兩）　大黃（二兩，酒浸）　甘遂（一兩）　煨大戟（一兩）　橘紅（一兩）　木香（五錢）　輕粉（一錢）</p>
<p>水泛丸，每服三十粒。</p>

<h2>下利</h2>
<p><u>迴風外解湯</u></p>
<p>盛風下利。（伯雄）</p>
<p>迴風外解鮮荷葉，葛豉柴前陳枳桔，蘇荷術茯生薑皮，感風下利身偏熱。</p>
<p>感風下利，肝臟受邪，身熱脈微弦，宜表解之。</p>
<p>柴胡（一錢）　薄荷（一錢）　前胡（一錢）　桔梗（一錢）　枳殼（一錢）　葛根（二錢）　豆豉（三錢）　廣皮（一錢）　茯苓（二錢）　白朮（一錢）　姜皮（六分）　荷葉（一角）</p>
<p><u>溫中化濁湯</u></p>
<p>寒利。</p>
<p>溫中化濁烏茴姜，術樸陳苓廣木香，佛手當歸寒下利，脈沉加附總回陽。</p>
<p>感寒下利，腎藏受邪，腹痛肢冷，舌白口不渴，脈按沉細。</p>
<p>炮姜（五分）　小茴香（一錢）　烏藥（一錢）　木香（五分）　廣皮（一錢）　厚朴（一錢）　當歸（一錢五分）　茯苓（二錢）　白朮（一錢）　佛手柑（五分）</p>
<p>甚者加附子。</p>
<p><u>消炎化毒湯</u></p>
<p>火利。</p>
<p>消炎化毒大黃投，渴利腹疼膿血稠，芩芍歸連通粉草，銀花淡竹青皮求。</p>
<p>火盛下利，心臟受邪，晝夜不休，渴飲腹痛，時下膿血。</p>
<p>黃連（六分）　黃芩（一錢）　大黃（四錢）　銀花（二錢）　甘草（五分）　花粉（二錢）　木通（一錢）　青皮（一錢）　當歸（一錢五分）　赤芍（一錢）　淡竹葉（二十張）</p>
<p><u>大順湯</u></p>
<p>肝鬱下利。</p>
<p>湯名大順蒺煨姜，枳樸青陳烏郁香，橘餅術苓肝鬱利，脅連腹痛保平康。</p>
<p>肝鬱下利，脅痛腹痛，噫氣食少。</p>
<p>蒺藜（四錢）　鬱金（二錢）　烏藥（一錢）　廣木香（五分）　廣皮（一錢）　川厚朴（一錢）　枳殼（一錢）　小青皮（一錢）　茯苓（二錢）　白朮（一錢）　橘餅（四錢）　煨姜（三片）</p>
<p><u>育金煎</u></p>
<p>白滯。</p>
<p>育金蓮子並沙參，薯馬歸陳斛術苓，氣液大傷成白滯，口中燥渴咳微聞。</p>
<p>肺熱移於大腸，口燥微咳，下利白滯。</p>
<p>沙參（三錢）　石斛（三錢）　茯苓（三錢）　白朮（一錢五分）　山藥（三錢）　料豆（三錢）　當歸（二錢）　橘紅（一錢）　蓮子（二十粒，打碎去心）</p>
<p><u>倉廩湯</u>（《補遺方》）</p>
<p>即人參敗毒散去薄荷加陳倉米各等分，每服五錢，姜三片水煎服。</p>
<p>治噤口痢，有熱毒氣衝心，食入即吐，上方及此皆痢疾善後妙法。</p>
<p><u>槐花散</u>（張潔古）</p>
<p>治腸風血痢。</p>
<p>槐花　青皮　荊芥穗（等分）</p>
<p>研末，每用五錢水煎服。</p>
<p><u>香連丸</u>（局方）</p>
<p>治下利赤白，裡急後重。</p>
<p>黃連（二十粒，吳茱十五，炒赤去之）　木香（四兩八錢八分）</p>
<p>研末，醋糊丸如梧子大，每服三十丸。</p>
<p><u>生地黃湯</u>（證治準繩方）</p>
<p>治熱痢不止。</p>
<p>生地（五錢）　地榆（七錢五分）　甘草（二錢五分）</p>
<p>水煎服。</p>

<h2>痛症</h2>
<p><u>香芷湯</u></p>
<p>風邪頭痛。（晉卿）</p>
<p>香芷湯中歸蔓芎，黑芝麻與桔防風，蟬衣桑菊流清涕，鼻塞頭疼肌表松。</p>
<p>肌表不固，太陽受風，巔頂作痛，鼻竅微塞時流清涕。</p>
<p>香附（二錢）　白芷（六分）　當歸（一錢五分）　川芎（八分）　防風（一錢）　桑葉（一錢）　菊花（二錢）　蟬衣（一錢）　蔓荊子（一錢五分）　桔梗（一錢）　黑芝麻（三錢）</p>
<p><u>羚羊角湯</u></p>
<p>風火頭痛。</p>
<p>羚羊角湯痛如劈，壯水柔肝風火息，夏枯龜板決丹蟬，地芍菊荷柴棗協。</p>
<p>肝陽上升，頭痛如劈，筋脈掣起，痛連目珠，當壯水柔肝以息風火。</p>
<p>羚羊角（二錢）　龜板（八錢）　生地（六錢）　白芍（一錢）　丹皮（一錢五分）　柴胡（一錢）　薄荷（一錢）　菊花（二錢）　夏枯草（一錢五分）　蟬衣（一錢）　紅棗（十枚）　生石決（八錢，打碎）</p>
<p>羚羊角可改用石斛。</p>
<p><u>養血勝風湯</u></p>
<p>血虛頭痛。</p>
<p>養血勝風頭腦空，血虛眊眩芍歸芎，柏仁地味酸紅棗，桑葉黑芝杞菊花。</p>
<p>血虛頭痛，自覺腦空，目眊而眩，宜養血勝風。</p>
<p>生地（六錢）　當歸（二錢）　白芍（一錢五分）　川芎（一錢）　枸杞（三錢）　五味子（五分）　酸棗仁（一錢五分）　柏子仁（二錢）　杭菊（二錢）　桑葉（一錢）　紅棗（十枚）　黑芝麻（三錢）</p>
<p><u>黃連清火湯</u></p>
<p>風火眼痛。</p>
<p>黃連清火淨蟬衣，赤芍玄參歸尾皮，前貝荊防桑竹葉，芝麻燈草菊花齊。</p>
<p>目睛紅腫，眵淚多而目中如有沙子者，火盛也。</p>
<p>黃連（五分）　元參（一錢五分）　歸尾（一錢五分）　赤芍（一錢）　丹皮（一錢五分）　貝母（二錢）　荊芥（一錢）　防風（一錢）　桑葉（一錢）　蟬衣（一錢）　前胡（一錢）　菊花（二錢）　竹葉（十張）　燈心（三尺）　黑芝麻（三錢）</p>
<p><u>滋陰降火湯</u></p>
<p>虛火眼痛。</p>
<p>滋陰降火貝沙參，杏貞丹苓地決明，山藥麥冬蟬料豆，精珠珠痛眼科珍。</p>
<p>目睛不腫，微紅羞明，眼珠作痛，此為陰虛夾火，法宜滋降。</p>
<p>生地（六錢）　女貞子（二錢）　山藥（三錢）　丹皮（二錢）　茯苓（二錢）　料豆（三錢）　沙參（四錢）　麥冬（二錢）　貝母（二錢）　杏仁（三錢）　穀精珠（一錢五分）　蟬衣（一錢）　生石決（六錢，打碎）</p>
<p><u>清熱胃關煎</u></p>
<p>齒痛。</p>
<p>清熱胃關甘蔗煎，薄荷石斛地黃鮮，龜板蔞根翹葛桔，齒牙虛痛腎陰虧。</p>
<p>齒屬於腎，腎為胃關，腎虧而夾有胃火，水不能制故浮陽作痛。</p>
<p>生地（六錢）　龜板（八錢）　花粉（三錢）　石斛（三錢）　薄荷（一錢）　葛根（二錢）　連翹（一錢五分）　桔梗（一錢）　甘蔗（三兩）</p>
<p>同煎。</p>
<p><u>清心飲</u></p>
<p>舌痛腫脹。</p>
<p>清心舌卷痛難言，犀角蒲黃燈草連，參用丹玄翹薄茯，蔞皮竹葉數流涎。</p>
<p>舌卷而腫，塞口作痛，難於語言，此心陽熾盛也。先用生蒲黃三錢泡湯頻漱，再服清心飲。</p>
<p>川雅連（五分）　蒲黃（一錢五分）　犀角（五分）　元參（一錢五分）　丹參（二錢）　連翹（一錢五分）　蔞皮（三錢）　茯苓（二錢）　薄荷（一錢）　竹葉（二十根）　燈心（三尺）</p>
<p>甚則舌赤，伸出口外，用青布蘸薄荷水沫之即縮，但涎沫不止須旬月乃愈。（軒）</p>
<p><u>大澤湯</u></p>
<p>舌痛絳紅。</p>
<p>大澤滋陰天氣人，茯神蛤粉藕丹參，柏仁斛麥燈龜板，舌絳邊尖破碎疼。</p>
<p>舌色絳紅，邊尖破碎，舌有血痕而痛者，乃陰液大虧，心火上熾也。</p>
<p>天冬（二錢）　生地（六錢）　人參（一錢五分）　龜板（八錢）　大麥冬（一錢五分）　茯神（二錢）　柏子仁（二錢）　蛤粉（四錢）　丹參（二錢）　鮮石斛（二錢）　燈心（三尺）　藕（五大片）</p>
<p><u>馴龍馭虎湯</u></p>
<p>喉舌作痛。</p>
<p>馴龍馭虎真珠母，地黃斛玉沉香乳，蔞荷蓮芍柏子霜，喉舌作痛驚悸愈。</p>
<p>驚悸氣促，喉舌作痛。</p>
<p>龍齒（二錢）　琥珀（一錢）　真珠母（八錢）　生地（六錢）　玉竹（四錢）　蔞皮（三錢）　石斛（三錢）　柏子霜（二錢）　白芍（一錢五分）　薄荷（一錢）　蓮子（二十粒，打碎，勿去心）　沉香（四分，人乳磨沖）</p>
<p><u>抑木和中湯</u></p>
<p>肝強脘悶。</p>
<p>抑木和中湯蒺藜，茯苓歸郁青陳皮，白茅二術香砂樸，佛手檀香脘悶施。</p>
<p>左關脈弦，右略沉細，為肝氣太強，脾胃受制耳，故中脘不舒，飲食減少。</p>
<p>蒺藜（四錢）　鬱金（二錢）　當歸（二錢）　茯苓（二錢）　茅朮（一錢）　白朮（一錢）　厚朴（一錢）　砂仁（一錢）　青皮（一錢）　陳皮（一錢）　木香（五分）　佛手（五分）　白檀香（五分）</p>
<p><u>調榮斂肝飲</u></p>
<p>肝虛作痛。</p>
<p>調榮斂肝肝已虛，棗仁枸杞木香阿，芎歸芍味陳皮茯，薑棗同煎脹痛除。</p>
<p>肝主藏血故為血海，操煩太過，營血大虧，虛氣無歸，橫逆脹痛。法宜調營斂肝。</p>
<p>歸身（二錢）　白芍（一錢五分，酒炒）　阿膠（一錢五分，蛤粉炒）　枸杞（三錢）　五味子（五分）　川芎（八分）　棗仁（一錢五分，炒，研）　白茯苓（二錢）　廣皮（一錢）　木香（五分）　棗（二枚）　姜（三片）</p>
<p><u>悅脾湯</u></p>
<p>脾濕脹痛。</p>
<p>悅脾脘下至當臍，寒與濕凝脹痛宜，二術香砂烏附曲，生薑薏苡茯青皮。</p>
<p>脾本濕土，寒邪乘之，寒與濕凝是為重陰，脘下至當臍脹滿作痛。</p>
<p>白朮（一錢）　茅朮（一錢）　茯苓（二錢）　附子（八分）　縮砂仁（一錢）　廣木香（五分）　烏藥（一錢）　苡仁（四錢）　青皮（一錢）　炒神麯（三錢）　姜（三片）</p>
<p><u>養胃湯</u></p>
<p>胃虛作痛。</p>
<p>養胃胃虛脘痛作，異功散入香砂藥，白芍黃耆大棗姜，攻堅消導均醫錯。</p>
<p>胃氣虛弱，脘中作痛。</p>
<p>白芍（一錢）　茯苓（二錢）　白朮（一錢）　甘草（四分）　山藥（三錢）　黃耆（二錢）　黨參（四錢）　木香（五分）　砂仁（一錢）　廣皮（一錢）　大棗（二枚）　姜（三片）</p>
<p><u>桂樸湯</u></p>
<p>胃寒作痛。</p>
<p>桂樸砂歸丁芍術，茯苓薑棗陳皮郁，胃寒作痛效如神，納穀能消嘔吐釋。</p>
<p>胃氣虛寒，不能納穀，嘔吐作痛。</p>
<p>肉桂（四分）　厚朴（一錢）　當歸（二錢）　茯苓（二錢）　白朮（一錢）　丁香（五分）　砂仁（一錢）　白芍（一錢，酒炒）　廣皮（一錢）　鬱金（二錢）　棗（二枚）　姜（三片）</p>
<p><u>返蟄湯</u></p>
<p>胃中蟲痛。</p>
<p>返蟄湯中烏鶴雷，術苓陳苡樸砂歸，胃中蟲痛安危系，開口花椒廿四拈。</p>
<p>胃氣返逆，長蟲不安，其作痛也，陡然而來，截然而止。</p>
<p>當歸（二錢）　茯苓（二錢）　白朮（一錢）　苡仁（四錢）　廣皮（一錢）　鶴蝨（一錢五分）　雷丸（一錢）　烏藥（一錢）　砂仁（一錢）　厚朴（一錢）　開口花椒（廿四粒）</p>

<h2>產後</h2>
<p><u>去惡平胃散</u></p>
<p>惡露沖胃。</p>
<p>去惡平胃甘草停，降香蘇木木香行，芎歸砂末炮薑炭，楂炭桃仁痞噦吞。</p>
<p>惡露未行，平臥太早，以致沖胃，胸脘痞滿，時時作噦。</p>
<p>當歸（二錢）　川芎（一錢）　桃仁（一錢）　炮姜（五分）　楂炭（三錢）　廣皮（一錢）　茅朮（一錢，炒）　厚朴（一錢）　木香（五分）　砂仁（一錢）　蘇木（三分）　降香（五分）</p>
<p><u>去惡清肺湯</u></p>
<p>惡露沖肺。</p>
<p>去惡清肺姜楂便，蘇子桑皮延橘貝，芎歸蘇木降桃仁，氣喘鼻掀頭汗見。</p>
<p>惡露沖肺，氣喘鼻掀，頭汗微出。</p>
<p>當歸（二錢）　川芎（一錢）　桃仁（一錢）　炮姜（五分）　楂炭（三錢）　延胡（一錢）　蘇子（二錢）　桑皮（三錢）　橘紅（一錢）　貝母（二錢）　蘇木（三分）　降香（五分）</p>
<p>童便一杯沖服。</p>
<p><u>去惡清心湯</u></p>
<p>惡露衝心。</p>
<p>去惡清心眩憋昏，蒲黃桃膝降丹參，芎歸蘇木延胡索，楂炭炮姜琥珀燈。</p>
<p>惡露衝心，頭眩神昏，不能語言而憋矣，故於萬分危險之中勉立一法以盡人事。</p>
<p>當歸（二錢）　川芎（一錢）　桃仁（一錢五分）　炮姜（六分）　楂炭（三錢）　延胡（一錢）　琥珀（一錢）　生熟蒲黃（各六分）　丹參（三錢）　牛膝（二錢）　燈心（三尺）　蘇木（三分）　降香（五分）</p>

<h1>下</h1>

<h2>霍亂</h2>
<p><u>黃芩定亂湯</u>（隨息居重訂霍亂論）</p>
<p>治溫病轉為霍亂，肢不痛而肢冷、脈伏，或肢不冷而口渴，苔黃，小水不行，神情煩躁。</p>
<p>黃芩定亂連萸茹，梔豉英蠶橘夏包，筋轉絲瓜生苡米，溺行宣木濕茵翹。</p>
<p>黃芩（一錢五分，酒炒）　焦山梔（一錢五分）　香豆豉（一錢五分）　原蠶砂（三錢）　製半夏（一錢）　橘紅（鹽水炒，一錢）　蒲公英（四錢）　川連（薑汁炒，六分）　陳吳萸（一分，泡淡）　鮮竹茹（二錢）</p>
<p>陰陽水二錢煎一錢，候溫徐服。轉筋者加生苡仁八錢，絲瓜絡三錢；溺行者用木瓜三錢，濕盛者加連翹、茵陳各三錢。</p>
<p><u>連樸飲</u></p>
<p>治濕熱蘊伏而成霍亂，兼能行食滌痰。</p>
<p>霍亂論中連樸飲，夏菖梔豉蘆根品，一時濕食熱痰宣，譫妄神糊人可醒。</p>
<p>炒厚朴（二錢）　川連（薑汁炒，一錢）　石菖蒲（一錢）　製半夏（一錢）　香豉（三錢，炒）　焦山梔（三錢）　蘆根（二兩）</p>
<p><u>蠶矢湯</u></p>
<p>治霍亂轉筋，肢冷腹痛，口渴煩躁，目陷脈伏，時行急證。</p>
<p>蠶矢連萸白通草，苡仁豆卷山梔炒，芩夏木瓜二水煎，轉筋目陷心煩躁。</p>
<p>晚蠶砂（五錢）　生苡仁（四錢）　大豆黃卷（四錢）　陳木瓜（三錢）　川連（薑汁炒，二錢）　製半夏（一錢）　黃芩（酒炒，一錢）　通草（一錢）　焦山梔（一錢五分）　陳吳萸（泡淡，三分）</p>
<p>地漿或陰陽水煎，稍涼徐服。</p>
<p><u>駕輕湯</u></p>
<p>治霍亂後餘邪未清，身熱口渴，及餘熱內蘊，身冷脈沉，湯藥不下而發呃者。</p>
<p>駕輕呃逆輕能治，石斛山梔西豆豉，扁豆橘紅陳木瓜，枇杷竹葉相調劑。</p>
<p>香豉（三錢，炒）　石斛（三錢）　橘紅（鹽水炒，一錢）　陳木瓜（一錢）　焦山梔（一錢五分）　扁豆（四錢）　枇杷葉（二錢）　竹葉（四錢）</p>
<p>一方無枇杷葉、橘紅，有冬桑葉二錢，省頭草一錢五分。</p>
<p><u>致和湯</u></p>
<p>治霍亂後津液不復，喉乾舌燥，溺短便溏。</p>
<p>致和甘草麥枇杷，扁豆陳倉石斛沙，竹葉木瓜喉舌燥，津傷亂後服之佳。</p>
<p>北沙參（四錢）　生扁豆（四錢）　石斛（四錢）　麥門冬（三錢）　陳木瓜（六分）　生甘草（一錢）　枇杷葉（一片）　竹葉（十片）　陳倉米（四錢）</p>
<p><u>連萸解毒湯</u>（姚訓恭《霍亂新論》）</p>
<p>治霍亂轉筋。</p>
<p>連萸解毒湯何如，枳實芩夏白芍俱，渴取西瓜翠衣服，瓜梅再入轉筋舒。</p>
<p>川連（六分）　老吳萸（一分）　製半夏（一錢五分）　生枳實（一錢五分）　黃芩（一錢五分）　白芍（一錢五分）</p>
<p>連、萸二味另煎和服，症重者倍用。上焦病甚倍枳、半，下焦病甚信芩、芍，均須服二煎。渴甚加西瓜翠衣，轉筋加木瓜、烏梅。</p>
<p><u>龍涎丸</u>（張鳳逵《傷暑全書》）</p>
<p>治暑中迷悶不省人事，及泄瀉霍亂煩渴，一服即愈，力能解暑毒豁痰，單用白礬開水點服，治絞腸痧痛。</p>
<p>龍涎訶子飛羅面，甘草白礬梅五倍，暑毒昏迷瀉渴煩，去訶用散服尤便。</p>
<p>生白礬（一兩）　五倍子（三錢）　烏梅（二兩）　甘草（一兩五錢）　飛籮面（一兩，清明日尤佳）</p>
<p>上為末，水調下，名龍鬚散，一名甘草散，或加訶子肉，入飛籮面拌勻，滴水為丸，每服二錢，細嚼，水下。</p>
<p><u>左金溫膽豬苓湯</u>（岳晉昌《霍亂括要》）</p>
<p>左金溫膽豬苓協，膠去藿來通馬舄，瀉多不止理中加，枳殼川連苓六一，嘔悶瀉心大棗除，枳陳樸茹藿香葉。</p>
<p>吐瀉轉筋諸證用左金合溫膽豬苓湯，去阿膠加藿香、木通，服後痞通嘔止而瀉多不止，轉用理中加枳殼、黃連、茯苓、六一散治之；若吐瀉轉筋諸證服左金溫膽複方後小便長，瀉止而痞悶，煩熱嘔噦，渴不止者，轉用半夏瀉心湯去棗，加枳殼、厚朴、橘皮、藿香、竹茹治之。應投理中、四逆之證，務宜加意審察。</p>
<p><u>藿香左金丸</u></p>
<p>藿香研入左金多，六一車前白茯豬，樸夏鬱金砂枳殼，滴丸姜薷木通糊。</p>
<p>藿香（五錢）　吳萸（四錢）　川連（三錢）　鬱金（二錢）　枳殼（二錢）　厚朴（二錢）　製半夏（二錢）　砂仁（二錢）　茯苓（二錢）　豬苓（二錢）　車前子（二錢）　六一散（三錢）</p>
<p>上共研細末，香薷、生薑、木通各一兩，煎湯滴丸每服一二錢，開水送下，輕二服、重加之。</p>

<h2>痔瘡</h2>
<p><u>秦艽防風湯</u></p>
<p>治痔瘡、痔漏有膿血，大便燥結而痛。（《證治準繩》方）</p>
<p>艽防黃柏大黃攻，歸尾桃仁澤瀉紅，白朮升柴陳草用，便艱血痔直腸松。</p>
<p>秦艽（一錢五分）　白朮（一錢五分）　歸尾（一錢五分，酒洗）　桃仁（三十個，研）　防風（一錢五分）　澤瀉（六分）　紅花（少許）　陳皮（三分）　黃柏（五分）　大黃（三分）　柴胡（二分）　升麻（二分）　甘草（六分）</p>
<p>去大黃加蔞仁、枳殼亦可，空腹時稍熱服。</p>
<p>濕熱下注，大便燥結，包糞難出，釀為痔患，初證宜攻，年久難愈。（軒）</p>
<p><u>瀉葉</u></p>
<p>形尖而長，狀如柳葉，用數十片沸水沖服，專利大便，下三焦之火，瀉諸熱濕邪積垢，並去煙毒。輕者服一二次，重至三次，有利無弊，通暢即止，用代茶飲，極穩極便，附記於此。</p>

<h2>便血</h2>
<p><u>槐花散</u></p>
<p>腸風臟毒。（統旨）</p>
<p>槐花散用治腸風，側柏黑荊枳殼充，為末等分米飲下，寬腸涼血逐風功。（歌仍汪氏）</p>
<p>槐花（炒）　柏葉（杵）　枳殼（麩炒）　荊芥（炒黑）</p>
<p>槐花柏葉涼血，枳殼寬腸，荊芥理血疏風。除柏葉、荊芥加當歸、黃芩、防風、地榆酒糊丸名槐角丸。本方加當歸、生地、川芎，入烏梅、生薑煎，名加減四物湯治並同。</p>
<p>費氏醫方論曰，腸風下血，中氣必虛，再用陰寒，血更凝結，方中去柏葉，加參朮歸草陳皮庶幾有瘳。</p>
<p><u>土茯苓湯</u>（軒）</p>
<p>土茯苓治小便血，銀花甘芍通瞿合，滑石山梔荊廣皮，燈心萆薢煎湯啜。</p>
<p>濕熱滯結膀胱，小便溺血。</p>
<p>瞿麥（三錢）　赤芍（一錢五分）　山梔（二錢）　滑石（四錢）　廣皮（二錢）　萆薢（三錢）　土茯苓（四錢）　銀花炭（四錢）　荊芥炭（二錢）　木通（二錢）　甘草（五分）　燈心（尺許）</p>
<p>附方：</p>
<p>土茯苓（二兩）　銀花炭（一兩）</p>
<p>二味煎服，愈小便血神效，即無群藥可也，屢試屢驗。</p>
<p><u>八正散</u></p>
<p>局方治濕熱下注，咽乾口渴，小腹急滿，小便不通，或淋痛尿血，或因熱為腫。</p>
<p>八正木通與車前，扁蓄大黃滑石研，草稍瞿麥兼梔子，煎加燈草痛淋蠲。（歌仍汪氏。一方有木香。）</p>
<p><u>萆薢分清飲</u>（楊氏方）</p>
<p>治陽虛白濁，小便頻數，漩白如油名曰膏淋。</p>
<p>萆薢分清石菖蒲，草稍烏藥益智俱，或益茯苓鹽煎服，通心固腎濁精驅，縮泉益智同烏藥，山藥糊丸便數需。（歌仍汪氏）</p>

<h2>疝氣</h2>
<p><u>化氣疏肝湯</u>（軒制）</p>
<p>化氣疏肝墜痛輕，扶脾利濕木香行，升柴參朮姜喬餅，官桂金鈴通茯青。</p>
<p>勞力過度疝氣墜痛。</p>
<p>西黨參（二錢）　升麻（一錢）　金鈴子（二錢）　廣木香（一錢）　茯苓（三錢）　白朮（一錢五分）　柴胡（一錢）　官桂（一錢）　木通（二錢）　小青皮（三錢）　生薑（一片）　喬餅（半元）</p>
<p><u>加味橘核湯</u></p>
<p>橘核青皮柴乳沒，香砂苦桔通豬澤，川楝棗姜寒濕推，腎囊腫痛俱消釋，堅用寒咸香藻昆，海浮智草芎烏橘。</p>
<p>努力受寒，腎囊腫痛。</p>
<p>廣木香（一錢）　金鈴子（二錢）　制乳沒（三錢）　小青皮（三錢）　苦桔梗（一錢）　豬苓（一錢五分）　澤瀉（一錢五分）　柴胡（一錢）　福橘核（三錢）　木通（一錢五分）　砂仁（一錢）　生薑（一片）　紅棗（二枚）</p>
<p>又：</p>
<p>橘核（四錢）　木香（一錢）　制乳沒（二錢）　益智仁（一錢五分）　甘草（五分）　烏藥（二錢）　川芎（一錢五分）　海藻（一錢五分）　昆布（二錢）　酒（半杯，過口）</p>
<p><u>筋痛飲</u></p>
<p>筋脈牽疼養血宜，芎歸甘芍桂苓施，黃耆黃柏蒼萆薢，燈草絲瓜絡治之。</p>
<p>寒濕著於肌肉，筋脈抽痛，宜養血榮筋。</p>
<p>當歸（二錢）　白芍（二錢）　桂枝（一錢）　茯苓（三錢）　黃耆（二錢）　川芎（一錢五分）　蒼朮（一錢五分）　萆薢（二錢）　黃柏（一錢）　甘草（五分）　絲瓜絡（二錢）　燈心（三尺）　淡鹽水（過口）</p>

<h2>經產</h2>
<p><u>溫經湯</u>（《金匱要略》）</p>
<p>治婦人年五十，下利數十日不止，暮即發熱，少腹裡急腹滿，手掌煩熱，唇口乾燥及經期不順產，虛寒不孕。</p>
<p>溫經四物地黃除，丹桂阿膠參草須，姜夏麥萸金匱法，功專帶下擅調和。</p>
<p>吳萸湯（泡）　當歸（去蘆）　川芎　白芍（炒）　人參　桂枝（或用肉桂）　阿膠（碎，炒）　丹皮　甘草（炙）　半夏　麥冬（去心）　生薑</p>
<p>麥冬滋胃液，人參補胃氣，生薑行胃氣，半夏和胃氣，胃氣即順則水穀之積微易於消化，陰生陽長，而血液可充，更以阿膠補血之不足，芍草酸甘相合以助之，歸芎行血之停滯，丹皮瀉血之伏火，桂枝以和營衛，吳萸以和肝胃，全方注重陽明，一寒一熱，一滋一燥，不使偶偏，故能統治帶下三十六病，而為調經祖方。</p>
<p><u>定經湯</u>（《傅青主女科》方）</p>
<p>治經水先後無定期，屬肝腎之郁者。</p>
<p>定經首在調肝腎，精旺氣舒天癸正，黑荊熟地芍歸柴，茯菟沙來山藥順。</p>
<p>當歸（酒洗）　白芍（酒炒）　菟絲子（酒炒，各一兩）　熟地黃　山藥（炒，各五錢）　茯苓（三錢）　荊芥穗（炒黑，二錢）　柴胡（五分）</p>
<p>清水煎服，二劑經水可淨，四劑經期可定，此方舒肝腎之氣，非通經之藥也，補肝腎之精非利水之品也。肝腎之氣舒而經通，肝腎之精旺而水利，不治之治妙於治矣。</p>
<p>附方：清肝止淋湯</p>
<p>清肝止淋赤帶好，地芍歸膠香附棗，柏牛黑豆粉丹皮，火重濕輕肝血少。（芍醋炒，歸酒洗，生地、香附酒炒，阿膠白麵炒。）</p>
<p><u>完帶湯</u></p>
<p>白帶。</p>
<p>完帶湯醫白帶宜，疏肝補土芍陳皮，炒來二術和山藥，參草柴荊馬兜施。（山藥白朮皆炒，荊芥炒黑，白芍車前子酒炒。）</p>
<p><u>痛經丸</u>（軒制）</p>
<p>痛經四物術丹參，乳沒黃耆益母陳，香附吳萸牛膝杜，延胡各末水丸吞。</p>
<p>制香附（四兩，鹽酒醋各半，煮乾）　白朮（四兩，土炒）　元胡（一錢五分，炒）　炒白芍（三兩）　制乳香（七錢五分）　制沒藥（七錢五分）　川杜仲（三兩）　何首烏（四兩，熟地亦可）　益母草（八兩，子一兩）　老吳萸（八錢）　全當歸（四兩）　大丹參（四兩）　陳皮（二兩）　懷牛膝（一兩）　黃耆（一兩五錢）　川芎（一兩五錢）</p>
<p>上研末水泛為丸如綠豆大，每服二錢，臨臥開水送下。</p>
<p><u>安胎方</u>（《臨證指南》）</p>
<p>治胎氣不安，或腹痛腰痛，或飲食不甘，俱宜服之，或五六個月常服數帖最妙，足月亦可服。</p>
<p>安胎芩術歸陳芎，草香砂蘇葉參芍，仲續治腰榆地血，麥冬治渴去砂仁。</p>
<p>人參（五分，虛者加倍）　甘草（三分）　炒白芍（一錢）　制香附（六分，土炒）　白朮（一錢）　當歸（一錢）　砂仁末（七分，炒）　黃芩（一錢）　陳皮（五分）　川芎（八分）　紫蘇葉（一錢）</p>
<p>腹痛倍白芍，腰痛加鹽水炒杜仲、川斷，內熱口渴去砂仁，加麥冬，見紅加酒炒地榆、生地各一錢。</p>
<p>其二</p>
<p>又四物湯甘草蘇，砂陳芩術服之舒，惡阻地黃更竹茹，腹疼枳附血膠蒲。</p>
<p>當歸身（一錢五分）　大熟地（一錢）　砂仁末（一錢）　川芎（七分）　白朮（一錢五分）　陳皮（一錢）　炒白芍（一錢）　炒黃芩（一錢五分）　蘇梗（五分）　炙甘草（四分）</p>
<p>如或下血加蒲黃、阿膠，腹痛加香附、枳殼，惡阻加竹茹，去地黃。</p>
<p><u>生化湯</u></p>
<p>傅青主生化編治產後兒枕骨痛，及惡露不行，血塊腹痛等證，通滯和營補虛消瘀。</p>
<p>生化湯須酒便煎，桃仁薑炭草芎歸，和營止痛行瘀塊，麥味桂麻仔細添。</p>
<p>當歸（八錢）　川芎（三錢）　桃仁（十四粒，去皮尖，研）　炮姜（五分）　甘草（五分，炙）</p>
<p>黃酒童便各半煎服。</p>
<p>血塊痛甚加肉桂七分；渴加麥冬一錢，五味子十粒；汗多加麻黃根一錢，如血塊不痛加炙黃耆一錢以止汗；傷飯食麵食加神麯一錢，炒麥芽五分；傷肉食加山楂五個，砂仁末四分。</p>
<p>去瘀生新可加益母草，腹痛加延胡索。（軒）</p>
<p><u>清魂散</u>（嚴用和）</p>
<p>治產後惡露已盡，忽昏暈不知人。</p>
<p>清魂散用澤蘭葉，人參甘草川芎協，荊芥理血兼祛風，產中昏暈神魂帖。（歌仍汪氏）</p>
<p>澤蘭葉　人參　甘草（炙，各三分）　川芎（五分）　荊芥（一錢，酒調下）</p>
<p>川芎、澤蘭和血，人參、甘草補氣，外盛風邪，荊芥能疏血中之風，肝藏魂故曰清魂散。</p>
<p>費氏醫方論曰，荊芥乃治血暈之聖藥，調氣血而去外風則神自清矣。</p>
<p><u>固本止崩湯</u>（《傅青主女科》）</p>
<p>治婦人有一時血崩，兩目昏暗，暈倒不省人事者，乃虛火也，須於補陰之中行止崩之法，徒用止澀之品，他日仍易於衝擊。</p>
<p>固本止崩虛火動，姜歸地術參耆共，加來貫仲炭研和，毒解熱祛消脹痛。</p>
<p>大熟地（一兩，九蒸）　白朮（一兩，土炒）　黃耆（三錢，生用）　當歸（五錢，酒洗）　黑姜（二錢）　人參（三錢）　貫眾炭末（一錢，沖服）</p>
<p>一劑崩止，十劑不再發，倘畏藥味之重而減半，則力薄而不能止。</p>
<p>附方：</p>
<p>若血崩數日，血下數斗，六脈俱無，鼻中微微有息，不可遽服此方，恐氣將脫不能受峻補也。有力者，用遼人參去蘆三錢煎成，沖貫眾炭末一錢服之，待氣息微旺，然後服此方，仍用貫眾炭末一錢，無不見效。無力者用無灰黃酒沖貫眾炭末三錢服之，待其氣接神清始可服此方，人參以黨參代之，臨服亦加貫眾炭末一錢衝入。</p>
<p><u>加減當歸補血湯</u></p>
<p>治年老血崩症與前同。</p>
<p>當歸（一兩，酒洗）　黃耆（一兩，生用）　三七根末（三錢）　桑葉（十四片）</p>
<p>二劑而血稍止，四劑不再發，再增入白朮五錢，熟地一兩，山藥四錢，麥冬三錢，北五味一錢，多服則崩漏之根可盡除矣。</p>
<p><u>固氣湯</u></p>
<p>治少婦血崩小產，凡氣虛崩漏者可通治。</p>
<p>人參（一兩）　白朮（五錢，土炒）　大熟地（五錢，九蒸）　當歸（三錢，酒洗）　白茯苓（二錢）　甘草（一錢）　杜仲（三錢，炒黑）　山萸肉（二錢，蒸）　遠志（一錢，去心）　五味子（十粒，炒）</p>
<p>一劑而血止，連服十劑全愈。</p>
<p>固氣妊娠胎易墜，四君熟地山萸味，遠志當歸杜仲煎，氣虛崩漏均堪驗。</p>
<p><u>平肝開鬱止血湯</u></p>
<p>治鬱結血崩，口乾舌渴，嘔吐吞酸而血下崩者。</p>
<p>白芍（一兩，醋炒）　白朮（一兩，土炒）　當歸（一兩，酒洗）　丹皮（三錢）　三七根（三錢，研末）　生地（三錢，酒炒）　甘草（二錢）　黑荊芥（二錢）　柴胡（一錢）</p>
<p>一劑嘔吐止，二劑乾渴除，四劑血崩愈。</p>
<p>平肝開鬱地黃生，芥穗丹皮三七根，除卻薄荷姜赤茯，逍遙散里此加增。</p>
<p><u>逐瘀止血湯</u></p>
<p>治閃跌血崩。</p>
<p>生地（一兩，酒炒）　大黃（三錢）　赤芍（三錢）　丹皮（一錢）　當歸尾（五錢）　枳殼（五錢，炒）　龜板（三錢，醋炙）　桃仁（十粒，泡，炒，研）</p>
<p>一劑疼輕，二劑疼止，三劑血亦全止，不必再服矣。</p>
<p>凡跌打損傷致唾血、嘔血皆宜如此治法。若血聚胃中，宜加川厚朴一錢五分薑汁炒。</p>
<p><u>清海丸</u></p>
<p>治血海太熱血崩。</p>
<p>大熟地（一斤，九蒸）　山萸肉（十兩，蒸）　山藥（十兩，炒）　丹皮（十兩）　北五味（二兩，炒）　麥冬肉（十兩）　白朮（一斤土炒）　白芍（一斤，酒炒）　龍骨（二兩）　地骨皮（十兩）　干桑葉（一斤）　玄參（一斤）　沙參（十兩）　石斛（十兩）</p>
<p>上十四味研末，煉蜜丸桐子大，早晚每服五錢，開水下，半載全愈。</p>
<p><u>引精止血湯</u></p>
<p>治交感血出，久恐血氣兩傷，血枯經閉，此等之病成於經水正來之時，貪歡交合，精沖血管也。</p>
<p>人參（五錢）　白朮（一兩，土炒）　茯苓（三錢）　熟地（一兩，九蒸）　山萸肉（五錢，蒸）　黑乾薑（一錢）　黃柏（五分）　芥穗（三錢）　車前子（三錢，酒炒）</p>
<p>連服四劑愈，十劑不再發，必慎房幃三月。</p>
<p>欲種子者必待落紅後，即三十時辰兩日半，經來之時數足三十時辰，便可入房，一日男二日女，三日男四日女，五日男六日女，七日男，過七日即不能受孕矣。</p>

<h2>嬰兒</h2>
<p><u>清熱鎮驚湯</u></p>
<p>急驚風。（《醫宗金鑑》）</p>
<p>清熱鎮驚甘膽茯，鉤通柴薄梔連麥，風多暴急行燈心，更用硃砂調末服。</p>
<p>觸異致驚，暴發壯熱，神散氣促，煩急面赤，脈洪而數。</p>
<p>柴胡　薄荷　麥冬　山梔　川連　龍膽草　茯神　鉤藤鉤　生甘草　木通　燈心　竹葉　硃砂末（調服）</p>
<p><u>牛黃丸</u></p>
<p>痰盛生驚。</p>
<p>黑白醜（各七錢五分）　膽星　枳實（麩炒）　半夏（薑製，各五錢）　牙皂（二錢，去皮弦）　大黃（一兩五錢）</p>
<p>上研極細末，白蜜為丸重五分，量兒大小與之，薑湯化下。</p>
<p><u>涼驚丸</u></p>
<p>心經有熱肝火熾盛。</p>
<p>龍膽草　防風　青黛（各三錢）　鉤藤鉤（二錢）　川雅連（五錢）　牛黃（一錢）</p>
<p>上研極細末，麵糊為丸，如粟米大，量兒大小與之金器煎湯化下。</p>
<p><u>瀉心導赤湯</u></p>
<p>心經熱甚面紅煩躁，口渴尿赤，吐舌伸長而收緩。</p>
<p>木通　生地　川連　甘草　燈心</p>
<p>附註：</p>
<p>急驚風一證，有因目觸異物、耳聞異聲神散氣亂而生者；有因心肝火盛，外為風寒鬱閉不得宣通而生者；有因痰盛熱極而內動風者；證多暴發，壯熱煩急，面紅唇赤，痰壅氣促，牙關噤急，二便秘澀。噤急者齒緊急不能開也。</p>
<p><u>清心滌痰湯</u></p>
<p>驚後。</p>
<p>清心滌痰溫膽增，雅連酸棗姜人參，菖蒲膽麥驚邪退，餘熱脾虛濁未行。</p>
<p>驚邪一退，餘熱尚在，脾虛多痰。</p>
<p>薄橘紅　製半夏　茯苓　炒枳實　甘草　麥冬　炒棗仁　人參　菖蒲　制南星　川雅連　竹茹　生薑</p>
<p><u>醒脾湯</u></p>
<p>慢驚，虛而夾痰。</p>
<p>醒脾虛弱夾痰驚，脈緩神昏大便青，蠶蠍姜麻六君子，木香陳米膽南星。</p>
<p>脈來遲緩，神氣慘慘，昏臥搐搦，身熱便青，乃脾胃虛弱，夾痰而成慢驚。</p>
<p>人參　白朮（炒）　茯苓　天麻　半夏　橘紅　全蠍　殭蠶　甘草　木香　膽南星　陳倉米　生薑</p>
<p><u>緩肝理脾湯</u></p>
<p>慢驚，脾虛肝旺。</p>
<p>緩肝湯治慢驚來，肝旺脾虛法可推，錢氏異功山藥扁，桂枝白芍棗姜煨。</p>
<p>土虛木盛，氣弱神昏，搐搦時作。</p>
<p>桂枝　白芍　人參　茯苓　山藥　扁豆　白朮　陳皮　甘草　煨姜　大棗</p>
<p><u>溫中補脾湯</u></p>
<p>慢脾風。</p>
<p>溫中補脾脾土傷，六君四逆桂煨姜，砂丁耆芍無陽證，熟地滋陰土更強。</p>
<p>吐瀉久而脾氣大傷成慢脾風，甚則閉目搖頭，面唇青黯，額汗昏眊，四肢厥冷，舌短聲啞，頻嘔清水，乃純陰無陽之證，宜大補脾土，生胃回陽為主。</p>
<p>人參　黃耆（蜜炙）　白朮（炒）　乾薑　熟附片　薑製半夏　陳皮　茯苓　砂仁　肉桂（去粗皮，研）　白芍（炒）　甘草（炙）　丁香　煨姜</p>
<p>可加熟地滋補脾陰。（軒）</p>
<p>附註：</p>
<p>慢驚一證或緣稟賦虛弱、土虛木盛者有之，或由急驚過用峻利之藥以致轉成此證者有之。發時緩緩搐搦，時作時止，面色淡黃或青白相兼，身必溫和，昏睡眼合或睡臥露睛，脈來遲緩，神氣慘慘，大便青色，此乃脾胃虛弱，治宜培補元氣為主，虛而夾痰者醒脾湯主之，脾虛肝旺者緩肝理脾湯。</p>
<p><u>定癇丹</u></p>
<p>癇症醒後調理。</p>
<p>定癇歸芍茯神甘，天竺天麻橘術咸，參珀棗仁鉤夏遠，蜜丸姜服小兒安。</p>
<p>人參（三錢）　當歸（三錢）　白芍（三錢）　茯神（五錢）　棗仁（五錢）　遠志（二錢）　琥珀（三錢）　天竺黃（四錢）　炒白朮（五錢）　橘紅（三錢）　半夏（三錢）　天麻（三錢）　鉤藤鉤（四錢）　炙甘草（二錢）</p>
<p>上為細末，煉密丸如榛子大，每服一丸，淡薑湯化服。</p>
<p>癇證發時，昏倒抽搐，痰涎壅盛，氣促作聲，與驚痙二證相似，但四體柔軟，一食之頃即醒，依然如無病之人，非若痙風一身強硬，終日不醒也。有因驚、因痰、因食、因風之別，病退調理定癇湯主之，大人亦用過。（軒）</p>
<p><u>朱衣滾痰丸</u></p>
<p>治痰癇。氣促昏倒，口吐痰沫，服滾痰丸，氣順痰清而癇自止。</p>
<p>礞石（一兩，煨）　沉香（五錢）　黃芩（七錢）　大黃（一兩）</p>
<p>上為細末，水泛丸，硃砂為衣，白滾湯化服。</p>
<p><u>牛黃丸</u></p>
<p>治風癇。因汗出脫衣，腠理開張，風邪乘隙而入。發時目青面紅，手如數物。宜疏風解表，兼痰者牛黃丸主之。</p>
<p>膽星　全蠍　蠶蛻（各二錢五分）　牛黃　白附子　殭蠶　天麻（各一錢五分）　麝香（五分）</p>
<p>上為細末，煮棗去核皮取肉和丸如綠豆大，每服三五丸，生薑湯化服。</p>
<p><u>溫痧湯</u>（《指南》）</p>
<p>溫痧桔梗湯去黃芩，桑杏鼠黏次第評，赤芍加來易杏仁，陽明疹發疫邪清。</p>
<p>蘇荷（一錢）　連翹（二錢）　山梔（一錢五分）　牛蒡（三錢）　桔梗（一錢）　杏仁（三錢）　甘草（四分）　桑葉（三斤）</p>
<p>上為清熱托邪，治時痧外出。發疹去杏仁加赤芍。</p>
<p>連翹辛涼翹出眾草，能升能清，最利幼科，能解小兒六經諸熱；赤芍瀉肝火散積邪，能行血中之滯。</p>
<p><u>杏貝二陳湯</u>（軒制）</p>
<p>杏貝二陳枳殼收，證如天釣桑前牛，痰涎壅塞防增喘，燥逆血嗆蔗蜜求。</p>
<p>炒牛子（三錢）　天貝母（二錢）　炒枳殼（一錢五分）　杏仁泥（三錢）　白茯苓（三錢）　上廣皮（二錢）　製半夏（一錢五分）　前胡（一錢五分）　甘草（四分）　桑葉（五片）</p>
<p><u>金沸草散</u>（《活人》）</p>
<p>治傷風發熱，憎寒頭痛，有汗，嚏涕，鼻塞聲重，不時咳嗽，脈浮緩。</p>
<p><u>消癍青黛飲</u></p>
<p>斑出已透，用此湯加減清之。</p>
<p><u>普濟清毒飲</u>（瘟疫）</p>
<p><u>五虎湯</u>（《金鑑》）</p>
<p>治馬脾風即暴喘也。因寒邪客於肺俞，寒化為熱，閉於肺經，故胸高氣促，肺脹喘滿，兩脅搧動，陷下作坑，鼻竅搧張，神氣悶亂，急服此湯。兒生百日內兒此多不救。</p>
<p>五虎湯治馬脾風，細茶甘草杏麻同，生薑一片沖膏服，熱閉胸高氣喘松。</p>
<p>麻黃（蜜炙）　杏仁（炒，去皮尖）　生甘草　細茶　白石膏　生薑（一片）</p>
<p>水煎，臨時用藥沖石膏服。</p>
<p><u>豆蔻散</u></p>
<p>治盤腸氣痛則曲腰，由寒邪內搏也。</p>
<p>豆蔻散治盤腸痛，香蘇飲納青皮共，砂仁莪朮等分煎，熨炒薑蔥鹽豉用。</p>
<p>白蔻仁　砂仁　陳皮　青皮（醋炒）　香附米　炙甘草　蓬莪朮（等分）</p>
<p>每用一錢紫蘇葉煎湯調服。</p>
<p><u>熨臍方</u></p>
<p>淡豆豉　生薑（各二錢，切碎）　蔥白（五莖）　食鹽（一兩）</p>
<p>上同炒熱，青布包置臍上熨。</p>
<p><u>香連導滯湯</u></p>
<p>疳痢。</p>
<p>疳久下痢名疳痢，香連導滯功最良，青陳厚朴川連草，楂曲木香檳大黃。（歌本金鑑）</p>
<p>熱結腸胃，痢兼赤白，腹中窘痛。</p>
<p>青皮（炒）　陳皮　厚朴（姜炒）　川連（姜炒）　生甘草　山楂　神麯（炒）　木香（煨）　檳榔　大黃　燈心</p>
<p>水煎服。</p>
<p><u>真人養臟湯</u>（羅兼甫）</p>
<p>治虛寒肛脫久痢。</p>
<p>真人養臟訶粟殼，肉蔻當歸桂木香，術芍參甘為澀劑，脫肛久痢早煎嘗。（歌仍汪氏）</p>
<p>訶子（一兩二錢，麵裹煨）　罌粟殼（三兩六錢，去蒂，蜜炙）　肉豆蔻（五錢，麵裹煨）　當歸　白朮（炒）　白芍（酒炒）　人參（各六錢）　木香（二兩四錢）　肉桂（八錢）　生甘草（一兩八錢）</p>
<p>每服四錢，臟寒甚加附子。一方無當歸，一方有乾薑。</p>
<p>脫肛由於虛寒，參、朮、甘草以補其虛，官桂、豆蔻以溫其寒，木香調氣，當歸和血，芍藥酸以收斂，訶子、粟殼以止脫。</p>
<p>附方：</p>
<p>小兒瀉痢日久不止，當以粟殼烏梅文冰紅黑棗煎湯治之頓愈。亦澀以止脫、甘以補虛之意。（軒）</p>
<p>又方：</p>
<p>久瀉傷脾。</p>
<p>炒山藥　大麥冬　炒白芍　廣木香　山萸肉　大熟地　烏料豆　車前子</p>
<p><u>參苓白朮散</u>（痛瀉要方）</p>
<p>理脾善後五疳皆合。</p>
<p>參苓白朮扁豆陳，山藥甘蓮砂苡仁，桔梗上浮兼保肺，棗湯調服益脾神。（歌仍汪氏）</p>
<p>人參　茯苓　白朮（土炒）　陳皮　山藥　甘草（炙，各一斤）　扁豆（十二兩，炒）　蓮肉（炒）　砂仁　苡仁（炒）　桔梗（各半斤）</p>
<p>上共為末，每服三錢，棗湯或米飲調服。</p>
<p><u>鉤藤飲</u></p>
<p>治夜啼。小兒初生夜啼其因有二，一曰脾寒，一曰心熱，皆受自胎中，觀其形色便知病情矣。如面色青白，手腹俱冷，不欲吮乳，曲腰不伸者，脾寒也，鉤藤飲主之；面赤唇紅，身腹俱熱，小便不利，煩躁多啼者，心熱也，導赤散主之；無上證用蟬花散。</p>
<p>脾寒腹冷夜啼郎，腰曲面青乳不嘗，飲取鉤藤參草棗，川芎二茯芍歸香。</p>
<p>人參　當歸　川芎　茯神　茯苓　白芍　甘草　木香　鉤藤　紅棗</p>
<p><u>導赤散</u>（見前）</p>
<p><u>蟬花散</u></p>
<p>蟬退不拘多少，用下半截研極細末，用少許薄荷煎湯調服。</p>
<p><u>生地黃湯</u></p>
<p>治胎黃。</p>
<p>生地黃湯草四物，蔞根燈茯茵豬澤，胎黃可去地蔞根，加入防風萆薢術。</p>
<p>生地　赤芍　川芎　當歸　花粉　赤苓　澤瀉　豬苓　甘草　茵陳</p>
<p>燈心水煎，食前服。</p>
<p>上方除地黃、花粉加萆薢、茅朮、防風治胎黃。（軒）</p>
<p>胎黃者偏體面目皆黃，乃孕婦濕熱太甚，小兒在胎受母熱毒故生則有是證也。法當滲濕清熱。</p>
<p><u>蔣氏化毒丹</u></p>
<p>治胎赤。因孕婦過食辛熱之物，以致毒熱凝結蘊於胞中，遂令小兒生下頭面肢體赤若丹塗，熱盛便秘。</p>
<p>蔣氏黃連胎赤醫，玄參甘桔大黃犀，薄荷青黛蜜丸服，一粒燈心湯化之。</p>
<p>犀角　黃連　桔梗　玄參　大黃　甘草　薄荷（各一兩）　青黛（五錢）</p>
<p>上為細末，煉白蜜為丸，重六分，每服一丸，燈心湯化下。</p>
<p><u>犀角解毒飲</u></p>
<p>治赤遊風。此證多由胎中毒熱而成，或生後過於溫暖，毒熱蒸發於外，以致皮膚赤熱而腫，色若丹塗，遊走不定，行於偏身，多發於頭面四肢之間，若內歸心腹則死，服此湯治之如不愈，繼以藍葉散。</p>
<p>犀角飲解赤遊風，連芍銀翹燈草同，甘地荊防牛蒡子，皮膚赤熱忌歸胸。</p>
<p>炒牛子　犀角　荊芥穗　防風　連翹　赤芍　金銀花　生甘草　川連　生地　燈心</p>
<p>去犀角加人中黃、大黃尤效。（軒）</p>
<p><u>藍葉散</u></p>
<p>藍葉柴芩犀角膏，大黃梔草升麻饒，去渣竹瀝重煎服，怯弱除黃毒亦消。</p>
<p>藍葉（五錢）　黃芩（二錢）　犀角屑（二錢）　川大黃（二錢，微炒）　柴胡（一錢）　生山梔（二錢）　升麻（一錢）　石膏（一錢）　甘草（五分）</p>
<p>上為粗末，每用一錢，水一小杯煎五分去渣，兌竹瀝一酒盞，煎三兩沸，放溫，量兒大小用之。氣怯弱者可去大黃。</p>
<p><u>清熱瀉脾散</u></p>
<p>治鵝口。白屑生滿口舌如鵝之口，由在胎中受母飲食熱毒之氣蘊於心脾二經，故生後遂發於口舌之間，此湯主之。外用發沾井水拭口，搽以保命散，日敷三次，白退自安，遲必口舌糜爛，吮乳不得，則難痊矣。</p>
<p>清熱瀉脾治鵝口，石膏生地赤苓煎，芩連梔子合成劑，加入燈心病已痊。（歌本金鑑）</p>
<p>川雅連　生山梔　石膏　生地　黃芩　赤茯苓　燈心</p>
<p><u>保命散</u></p>
<p>枯礬　硃砂（各二錢五分）　馬牙硝（五錢）</p>
<p>研末以白鵝糞水攪取汁塗舌與口角，滿舌白膩如霜用之。</p>
<p><u>清胃散</u></p>
<p>治重齦。牙根腫如水泡名曰重齦，系胎熱蓄於胃中。內服此散，外用針刺藥糝如治懸癰法，未愈次日再刺拭糝。</p>
<p>清畏散治胃熱薰，生地黃連當歸身，丹皮升麻石膏煅，臨煎須要入燈心。（歌本《金鑑》）</p>
<p>生地　石膏　黃連　當歸　丹皮　升麻　燈心</p>
<p><u>一字散</u></p>
<p>辰砂　硼砂（各五分）　龍腦　朴硝</p>
<p>上為極細末，蜜調少許，鵝翎醮搽口內，治小兒懸癰。喉里上齶腫起如蘆籜盛水狀者名曰懸癰。此胎毒上攻須以棉纏長針留鋒刺之，瀉去青黃赤汁，湯拭口藥糝之。</p>
<p><u>消疳蕪荑湯</u></p>
<p>治牙疳。毒熱攻胃，上發齦肉，赤爛疼痛，口臭血出，牙枯脫落，穿腮蝕唇，病熱危急，用此湯瀉其毒熱，外用牙疳散時時敷之。</p>
<p>消疳蕪荑芩雄黃,川連胡連蘆薈湯，便軟不食硝黃去，加入石膏羚角臧。服後便軟不食去硝黃加膏羚。</p>
<p>大黃　芒硝　蕪荑　蘆薈　川連　胡連　黃芩　雄黃</p>
<p><u>牙疳散</u></p>
<p>人中白（煅存性）　綠礬（燒紅）　五倍子（炒）</p>
<p>上各等分研末，加水片少許，再研極細，先用水拭淨牙齒，再以此散敷之。有蟲者加檳榔。</p>
<p><u>清熱飲</u></p>
<p>治重舌。近舌根處腫形似舌故名重舌。此心脾之熱，宜服此湯，外吹涼心散。舌腫滿木硬不能轉動，名木舌，用上一字散能回軟。</p>
<p>黃連　生地　木通　甘草　連翹　蓮子　淡竹葉</p>
<p>水煎服。</p>
<p><u>涼心散</u></p>
<p>青黛　硼砂　黃柏　黃連（乳拌，曬）　人中白（煅過，各二錢）　風化硝（一錢）　冰片（二分）</p>
<p>上為極細末重舌吹之甚效。</p>
<p>清熱導赤加黃連，蓮子連翹入水煎，重舌舌根腫如舌，涼心散末亦堪吹。</p>
<p><u>換肌清毒散</u></p>
<p>治初生無皮。兒生無皮有二端，或父母梅毒遺傳；或因未足月生早。無皮遺毒傳染者，半身赤爛，甚至色帶紫黑；生太早者，偏體浸漬，紅懶無光，二證俱屬惡候。遺毒者內服換肌消毒散，外用清涼膏或鵝黃散敷之；胎元不足者內服當歸飲，外用稻米粉撲之。</p>
<p>換肌消毒治無皮，四物銀翹土茯宜，苦參白蘚甘防止，皂刺燈心梅毒遺。</p>
<p>當歸　生地　赤芍　川芎　皂刺　茯苓　銀花　連翹　甘草　白芷　苦參　防風　白蘚皮　燈心</p>
<p>當歸飲赤川芎地，何首蒺藜甘芍是，黃耆白蘚並人參，胎元不足無皮治。</p>
<p>何首烏（制）　白蘚皮　白蒺藜　生地黃　生甘草　全當歸　白芍　人參　黃耆　川芎</p>
<p><u>清涼膏</u></p>
<p>石灰四兩，未經水濕成塊者，用水泡之，沒指半許，露一宿，面上有浮起如雲片者，輕輕取之，微帶清水，視其多寡對小磨麻油亦如之，以順攪成膏為度，用鵝翎搽之自愈。</p>
<p><u>鵝黃散</u></p>
<p>黃檗（生）　石膏（煅，各等分）</p>
<p>上為細末撲之，濕則干撲，干則用豬苦膽調搽。</p>
<p><u>眼不開</u></p>
<p>小兒初生眼不開者，因孕婦飲食不節，恣情厚味，熱毒薰蒸，以致熱蘊兒脾。眼胞屬脾，其脈絡緊束故不能開也。用熊膽湯洗之自愈，或內服生地黃湯。</p>
<p><u>生地黃湯</u></p>
<p>生地　赤芍　當歸　川芎　生甘草　天花粉</p>
<p>水煎服。</p>
<p><u>熊膽洗法</u></p>
<p>熊膽，無則用豬膽亦效，黃連各少許，用滾湯淬洗，其目自開。</p>
<p><u>不小便</u></p>
<p>小兒初生不小便者，乃胎熱流於下也。內服導赤散加黃連、滑石、赤苓。熱甚服八正散，外用豆豉膏貼臍上。</p>
<p><u>豆豉膏</u></p>
<p>淡豆豉（一勺）　田螺（十九個）　蔥白（一大束）</p>
<p>上搗爛，用芭蕉汁調貼臍上，或加玄參、皂角末炒鹽，無田螺亦可。</p>
<p><u>臍濕臍瘡</u></p>
<p>濕用糝臍散，瘡則合金黃敷之。</p>
<p><u>糝臍散</u></p>
<p>枯礬　龍骨（煅各二錢）　麝香（少許）</p>
<p>上研細末干糝臍中。</p>
<p><u>金黃散</u></p>
<p>黃連（二錢五分）　胡粉（一錢）　龍骨（一錢，煅）</p>
<p>上為末敷患處。</p>
<p><u>胎毒</u></p>
<p><u>豆豉湯</u></p>
<p>淡豆豉輕腐宣發之藥也，凡怯弱之兒，或值冬月欲解胎毒者，只將此一味煎為濃汁與兒三五口，其毒自開矣。</p>
<p><u>浴兒</u></p>
<p><u>五枝湯</u></p>
<p>無論冬夏，斷臍後三日，用桃槐桑梅柳枝煎湯加豬膽汁洗之，以去其汙積，且能滋潤肌膚，令兒少生瘡癤。</p>
<p><u>剃頭</u></p>
<p><u>杏麻薄膩膏</u></p>
<p>杏仁（三枚），薄荷（三葉），同研，細麻油滴三四點，合膩粉拌勻擦頭上，能避風邪，免生瘡癤熱毒等症。</p>
<p>v通關散</p>
<p>半夏　皂角　細辛　薄荷</p>
<p>共為細末，用筆管吹人鼻內少許。</p>
<p>驚風搐搦必神氣昏憒，皆由痰壅氣塞，鬱結胸中而致，急用此散吹入鼻內，無嚏者不治，有嚏者審其表裡虛實隨證治。</p>

<h2>藥性賦</h2>
<p><u>寒性</u></p>
<p>諸藥識性此類最寒。犀角解乎心熱，羚羊清乎肺肝，澤瀉利水通淋而補陰不足，海藻散癭破氣而治疝何難。聞知菊花能明目而清頭風，射干療咽閉而消癰毒，薏苡理腳氣而除風濕，藕節消瘀血而止吐衄，瓜蔞子下氣潤肺喘兮又且寬中，車前子止瀉利小便兮尤能明目，是以黃檗瘡用，兜鈴嗽醫，地骨皮有退熱除蒸之效，薄荷葉宜消風清腫之施，寬中下氣枳殼緩而枳實速也，療肌解表乾葛先而柴胡次之，百部治肺熱咳嗽可止，梔子涼心腎鼻衄最宜，玄參治熱結毒癰清利咽膈，升麻消風熱腫毒發散瘡痍。嘗聞膩粉抑肺而斂肛門，金箔鎮心而安魂魄，茵陳主黃疸而利水，瞿麥治赤淋之熱血，朴硝通大腸破血而止痰癖，石膏墜頭疼解肌而消煩渴，前胡除內外之痰實，滑石利六府之澀結，天門冬止漱補血冷而潤肝心，麥門冬清心解煩渴而除肺熱。又聞治虛煩除噦嘔須用竹茹，通秘結導瘀血必資大黃，宣黃連治冷熱之痢又厚腸胃而止瀉，淫羊藿療風寒之痹且補陰虛而助陽，茅根止血於吐衄，石葦通淋於小腸，熟地黃補血且療虛損，生地黃宣血更醫眼瘡，赤芍藥破血而療腹疼煩熱亦解，白芍藥補虛而生新血退熱尤良。若乃消腫滿逐水於牽牛，除毒熱殺蟲於貫眾，金鈴子治疝氣而補精血，萱草根治五淋而消乳腫，側柏葉治諸血崩漏之疾，香附子理血氣婦人之用，地膚子利膀胱可洗皮膚之風，山豆根解熱毒能止咽喉之痛，白蘚皮去風治筋弱而療足頑痹，旋覆花明目治頭風而消痰嗽壅。又況荊芥穗清頭目便血疏風散瘡之用，瓜蔞根療黃膽毒癰消渴解痰之優，地榆療崩漏止血止痢，昆布破疝氣散癭散癰，療傷寒解虛煩淡竹葉之功倍，除結氣破瘀血牡丹皮之用，知母止嗽而骨蒸退，牡蠣澀精而虛汗收，貝母消痰止咳嗽而利心肺，桔梗下氣利胸膈而治咽喉。若夫黃芩治諸熱兼主五淋，槐花治腸風亦醫痔痢，常山理疾結而治溫瘧，葶藶瀉肺喘而通水氣。此六十六種藥性之寒當考圖經以博其所治焉。</p>
<p><u>熱性</u></p>
<p>藥有溫熱又當審詳。欲溫中以蓽茇，用發散以生薑，五味子止嗽痰且滋腎水，膃肭臍療瘵更壯元陽。原夫川芎祛風濕補血清頭，續斷治崩漏益筋強腳，麻黃髮汗以療咳嗽，韭子助陽而醫白濁，川烏破積有消痰治風痹之功，天雄散寒為祛濕助清陽之藥。觀夫川椒達下，乾薑暖中，葫蘆巴治虛冷之疝氣，生卷柏破癥瘕而血通，白朮消痰壅溫胃兼止吐瀉，菖蒲開心氣散冷更治耳聾，丁香快脾胃而止呃，良薑止心痛之攻衝，肉蓯蓉填精益腎，石硫黃暖胃驅蟲，胡椒主去痰而除冷，秦椒主攻痛而治風，吳茱萸療心腹之冷氣，靈丹砂定心藏之怔忡。夫散腎冷助脾胃須畢澄茄，療心痛破積聚用蓬莪朮，縮砂止吐瀉安胎化酒食之劑，附子療虛寒翻胃壯元陽之力，白豆蔻冶冷瀉，療癰止痛於乳香，紅豆蔻止吐酸，消血殺蟲於乾漆。豈不知鹿茸生精血腰脊崩漏之均補，虎骨壯筋骨風寒濕毒之並祛，檀香定霍亂而心氣之疼愈，鹿角秘精髓而腰脊之痛除，消腫益血於米醋，下氣散寒於紫蘇，扁豆助脾，酒有行藥破血之力，麝香開竅，蔥為通中發汗之需。當觀五靈脂治崩漏理血氣之刺疼，麒麟竭止血出療金瘡之傷折，鹿茸壯陽以助腎，當歸補虛而養血，烏賊骨止帶下且除崩漏目翳，鹿角膠止血崩能補虛勞羸絕，白花蛇治癱瘓除風癢之癩疹，烏梢蛇療不仁去瘡瘍之風熱，烏藥有治冷氣之理，禹餘乃療崩漏之因，巴豆利痰水能破積熱，獨活療諸風不論久新，山茱萸治頭暈遺精之藥，白石英醫咳嗽吐膿之人，厚朴溫胃而去嘔脹消痰亦驗，肉桂行血而療心痛止汗如神。是則鯽魚有溫胃之功，代赭乃鎮肝之劑，沉香下氣補腎定霍亂之心疼，橘皮開胃祛痰導壅滯之逆氣，此六十二種藥性之熱又當博本草而取治焉。</p>
<p><u>溫性</u></p>
<p>溫藥總括，醫家素諳木香理乎氣滯，半夏主於風痰，蒼朮治目盲燥脾去濕宜用，蘆菔祛膨脹下氣制曲尤堪。況夫鍾乳粉補肺氣兼療腎虛，青鹽治腹疼且滋腎水，山藥而肺濕能醫，阿膠則痢嗽皆止，赤石脂治精濁而止瀉兼補崩中，陽起石暖子宮以壯陽更療陰痿。誠以紫菀治嗽，防風祛風，蒼耳子透腦涕止，威靈仙宣風氣通，細辛去頭風止嗽而療齒痛，艾葉治崩漏安胎而醫痢紅，羌活明目驅風除筋攣腫痛，白芷止崩治腫療痔漏瘡癰。若乃紅藍花通經治產後惡血之餘，劉寄奴散血療湯火金瘡之苦，減風濕之痛則茵芋葉，療折傷之證則骨碎補，藿香葉辟惡氣而定霍亂，草果仁溫脾胃而止嘔吐，巴戟天治陰疝白濁補腎尤資，延胡索理氣痛血凝調經有助。當聞款冬花潤肺去痰嗽以定喘，肉豆蔻溫中止霍亂而助脾，撫芎定經絡之痛，首烏治疥瘡之資，薑黃能下氣破瘀血之積，防己能消腫去風濕之施，藁本除風主婦人陰痛之用，仙茅益腎扶元氣虛弱之衰。乃若破故紙溫腎補精髓與勞傷，宣木瓜入肝療腳氣並水腫，杏仁潤肺藏止嗽之劑，茴香治疝氣腎痛之用，訶子生津止渴兼療滑泄之疴，秦艽攻風逐水又除肢節之痛，檳榔豁痰而逐水殺寸白蟲，杜仲益腎而添精去腰膝重。當知紫石英療驚悸崩中之症，橘核仁治腰痛疝氣之瘨，金櫻子兮澀遺精，紫蘇子兮下氣涎，淡豆豉發傷寒之表，大小薊除諸血之鮮，益智安神治小便之煩數，麻仁潤肺利六府之燥堅。抑又聞補虛弱排瘡膿莫若黃耆，強腰腳壯筋骨無如狗脊，菟絲子補腎以明目，馬蘭花治疝而有益也。此五十四種藥性之溫，更宜參圖經而默識也。</p>
<p><u>平性</u></p>
<p>詳論藥品平和性存。以硇砂而去積，用龍齒以安魂，青皮快膈除膨脹且利脾胃，芡實益精治白濁兼補真元。原夫木賊草去目翳崩漏亦醫，花蕊石治金瘡血行則卻，決明和肝氣治眼之劑，天麻主脾濕祛風之藥，甘草和諸藥而解百毒蓋以性平，石斛平胃熱而補腎虛更醫腳弱。觀夫商陸治腫，覆盆益精，琥珀安神而散血，硃砂鎮心而有靈，牛膝強足補精兼療腰痛，龍骨止汗定喘更治血崩，甘松理風氣而痛止，蒺藜療風瘡而目明，人參潤肺寧心開脾助胃，蒲黃止崩治衄消瘀調經。豈不以南星醒脾去驚風吐痰之憂，三稜破積除血塊氣滯之證，沒石止泄瀉而神效，皂角治風痰而響應，桑螵蛸療遺精之泄，鴨頭血醫水腫之盛，蛤蚧治勞嗽，牛蒡子疏風壅之痰，全蠍主風癱，酸棗仁去怔忡之病。當聞桑寄生益血安胎且止腰痛，大腹子去膨下氣亦令胃和，小草遠志俱有寧心之妙，木通諸苓尤為利水之多，蓮肉有清心醒脾之用，沒藥乃治瘡散血之科，郁李仁潤腸宣水去浮腫之疾，茯神寧心益智除驚悸之疴，白茯苓補虛勞而益心脾之有準，赤茯苓破結血獨利水道以無過。因知麥糵有助脾化食之功，小麥有止汗養心之力，白附子去面風之遊走，大腹皮治水腫之泛溢，椿根白皮止瀉痢，桑根白皮主喘息，桃仁破瘀血兼治腰疼，神麯健脾胃而進飲食，五加皮堅筋骨以立行，柏子仁養心神而有益抑。又聞安息香辟惡且止心腹之痛，冬瓜仁醒皮實為飲食之資，殭蠶治諸風之喉痹，百合斂肺勞之嗽痿，赤小豆解熱毒瘡腫宜用，枇杷葉下逆氣噦嘔可醫，連翹殼排瘡膿與腫毒，石南葉利筋骨於毛皮，殼檗養脾，阿魏除邪氣而破積，紫河車破血，大棗和藥性以開脾。然而鱉甲治勞瘧兼破癥瘕，龜板堅筋骨更療崩疾，烏梅主便血瘧痢之用，竹瀝治中風聲音之失。此六十八種平和之藥更宜參本草而求其詳也。</p>
<p><u>諸藥主病</u></p>
<p>中風卒倒不語，牙皂細辛開關為主，痰氣盛南星木香為主，語言蹇澀石菖蒲、竹瀝為主，口眼歪斜防風、羌活、竹瀝為主，手足搐搦防風、羌活為主，左癱屬血虛芎歸為主，右瘓屬氣虛參朮為主。諸風防風、羌活為主，傷寒頭疼羌活、川芎為主，遍身疼痛蒼朮、羌活為主，發汗麻黃、桂枝為主，久汗不出紫蘇、蔥白為主，止汗桂枝、赤芍為主。表熱柴胡為主，裡熱黃芩、黃連為主，大熱譫語黃柏、黃連、黃芩為主。發狂大便實大黃、芒硝為主，暍渴石膏、知母為主。胸痛脘悶桔梗、枳殼為主，心下煩悶枳實、黃連為主。懊憹梔子、豆豉為主，虛煩竹葉、石膏為主。不眠竹茹、枳實為主，鼻乾不得眠葛根、芍藥為主。發斑玄參升麻為主，發黃茵陳梔子為主。中寒陰證附子、乾薑為主，中暑香薷、扁豆為主，中濕蒼朮、白朮為主。瀉心火黃連為主，瀉肺火黃芩為主，瀉脾火白芍為主，瀉胃火石膏為主，瀉肝火柴胡為主，瀉腎火知母為主，瀉膀胱火黃柏為主，瀉小腸火木通為主，瀉屈曲之火梔子為主，瀉無根之火玄參為主。內傷元氣黃耆、人參、甘草為主，脾胃虛弱麥芽、神麯為主。消肉積山楂、草果為主，消酒積黃連、乾薑、烏藥為主，冷積巴豆為主，熱積大黃為主，六郁蒼朮、香附為主。結痰瓜蔞、貝母、枳實為主，濕痰半夏、茯苓為主，風痰白茯苓、南星為主，痰在四肢經絡竹瀝、薑汁為主，痰在兩脅白芥子為主，老痰海浮石為主。肺熱咳嗽黃芩、桑白皮為主，咳嗽日久款冬花、五味子為主，氣喘蘇子、桑白皮為主，肺寒咳嗽麻黃、杏仁為主。瘧疾新者宜截常山為主，久者宜補白豆蔻為主。痢疾初起者宜下大黃為主，裡急後重者木香檳榔為主，痢屬熱滯黃連、枳殼為主，久痢白者屬氣虛白朮、茯苓為主，久痢赤者屬血虛當歸、川芎為主；冷瀉白朮、茯苓為主，熱瀉滑石為主，久瀉訶子、肉豆蔻為主，或加升麻、柴胡提下陷之氣其瀉自止。霍亂藿香、半夏為主，嘔吐薑汁、半夏為主。呃逆柿蒂為主，吞酸蒼朮、神麯為主，嘈雜姜炒黃連、炒梔子為主，順氣烏藥、香附為主，痞滿枳實、黃連為主，腹滿大腹皮、厚朴為主，水腫豬苓、澤瀉為主，寬中砂仁、枳殼為主。積聚三稜、莪朮為主，積在左是死血，桃仁紅花為主，積在右是食積，香附、枳殼為主。黃疸茵陳為主。補陽黃耆附子為主，補陰熟地、當歸為主，補氣黃耆、人參為主，補血當歸、生地為主，消瘀血歸尾、桃仁為主，提氣升麻、桔梗為主，癆熱痰嗽聲嘶童便、竹瀝為主，暴吐血大黃、桃仁為主，久吐血當歸、川芎為主，衄血枯芩、芍藥為主，止血韭汁、京墨為主，尿血梔子、木通為主，虛汗黃耆、白朮為主，眩暈川芎、天麻為主。麻者是氣虛黃耆、人參為主，木者是濕痰死血蒼朮、半夏、桃仁為主。癲屬心桃仁為主，狂屬肝黃連為主，癇證南星、半夏為主，健忘遠志、石菖蒲為主，怔忡驚悸茯神，遠志為主，虛煩竹茹為主，不寐酸棗仁為主。頭左痛芎歸為主，頭右痛參耆為主，頭風痛藁本、白芷為主，諸頭痛蔓荊子為主。烏須黑髮何首烏為主，耳鳴當歸、龍薈為主，鼻中生瘡黃芩為主，鼻塞聲重防風、荊芥為主，鼻淵辛夷為主，口舌生瘡黃芩為主，牙痛石膏、升麻為主，眼腫大黃、荊芥為主，眼中雲翳白豆蔻為主，翳障昏暗熟地黃為主。咽喉腫痛桔梗、甘草為主，結核夏枯草為主，肺癰肺痧薏苡仁為主。心胃痛炒梔子為主，腹中痛芍藥、甘草為主，腹冷痛吳茱萸、良薑為主，止諸痛乳香、沒藥為主，腰痛杜仲、故紙為主，胸痛白芥子、青皮為主，手臂痛薄荷、羌活為主，疝氣小茴、川楝子為主，腳氣濕熱蒼朮、黃柏為主，下元虛弱牛膝、木瓜為主，痿痹參耆為主，諸痛在上者屬風羌活、桔梗、桂枝、威靈仙為主，在下者屬濕牛膝、木通、防己、黃柏為主，消渴天花粉為主，生津液人參、麥冬、五味子為主，肢節痛羌活為主，赤白濁茯苓為主，遺精龍骨、牡蠣為主，小便閉不通車前子為主，大便閉大黃、芒硝為主，便血槐花、地榆為主，痔瘡黃連為主，脫肛柴胡、升麻為主，諸蟲使君子、檳榔為主。婦人諸病香附為主，腹痛吳萸、香附為主，經閉桃仁、紅花為主，血崩炒蒲黃為主，帶下炒乾姜為主，安胎條芩、白朮為主，難產芎歸為主，產後惡露不行益母草為主，產後虛熱炒黑乾薑為主，吹乳白芷貝母為主，乳汁不通穿山甲為主，小兒驚風硃砂為主。癰疽金銀花為主，發背槐花為主，瘰癧夏枯草為主，敗膿不去白芷為主，惡瘡貝母為主，疔瘡白礬為主，魚口牛膠穿山甲為主，疳瘡五倍子為主，楊梅瘡土茯苓為主，臁瘡輕粉、黃柏為主，杖瘡跌傷童便好酒為主，疥瘡白礬、硫黃為主，瘢風密陀僧為主，諸瘡腫毒連翹、牛蒡子為主，破傷風南星、防風為主。湯傷火燒白礬為主，犬咬杏仁、甘草為主，癩狗咬斑蝥為主，蛇咬傷白芷為主，中諸毒香油灌之為主，香油即麻油也。</p>
