<header data-type="book">
<h1>醫學心悟雜症要義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>程國齡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>先高曾祖，世業岐黃，至先祖儀亭公而名尤噪，蘭垣方數十里內，活人無算，咸稱之為「朱三爺」，蓋彼時蘭州城小，居眾亦不多也。猶憶家之南廳懸有涼州教諭孫壽山題贈匾額一方，文為「丹溪品望」，嗣配劉永析先生撰書板朕一幅，文日：「承家有柏廬格言，垂老不忘修己法；救世守椿庭遺教，畢生能讀活人書。」岩兒時嘗聞先君述及先祖為人治病之狀：診脈必反復再三，遣藥則審慎斟酌，用量即分釐不苟，遇邀診，雖丙夜必往，以未能就診者多屬重症也，診次，必囑病家務將藥後症狀見告，歸家後，恆眠竟夜不安枕，晨明，即傾聽釦環之輕重以判病者之安危，其視病者若己之病也如此。高祖王父，年遠闕聞；惟家之北堂亦懸有甘肅桌司鄧承偉鳴謝先曾祖序東公之匾額，題曰：「年高德邵」，並敘其來蘭前屢有子而屢殤於痘，遇痘症則闔家惴惴，主篆蘭垣後，又有子病痘，及延先曾祖而活之之狀於後，稱先曾祖為「蘭之有道君子」，堂東西側系鄧氏撰贈之板聯，文為：「笑我雪盈顛，甚望兒曹娛白髮；是誰春在手，竟從人海遇丹溪。」是先曾祖亦蘭垣醫之巨擘也。此稿乃先曾祖診余閱讀《醫學心悟》時眉端所記，先祖亦有補記，約成於清咸豐至光緒間，原作於孫習醫繩墨，未敢炫術示人，世代讀誦，書角為圓，眉顛字跡已多不可辨識，為兔年久湮沒，恭謹整錄，其闕奪難辨處，由岩逐一揣摩校補，如有訛謬，乃岩之過，非原記有誤也。顏曰《醫學心悟雜症要義》。復恐貽人以炫示之誚，蛛網塵封者垂三十年。轉念活人之術，韞櫝而藏，何如公諸於世，尚可獲匡謬補闕之得，又何憾焉！爰商之甘肅中醫學院鄭元成館長，復蒙中醫古籍出版社傅景華社長鼎力支持，得以刊行，古道熱腸，歿存銘感，倘有能為同道參酌以資涓埃之助者，何幸如之。</p>
<p><u>朱太岩謹述</u></p>
<p><u>時年七十五歲</u></p>
<p><u>一九九一年春</u></p>

<h1>中風門</h1>
<p>「中風者，其中風也，有中腑中臟中血脈之殊。中腑者中在表也，外有六經之形症，與傷寒六經傳變之症無異也。中太陽用柱枝湯，中陽明葛根湯加桂枝，中少陽小柴胡湯加桂枝，其法悉具傷寒門，慈不贅。」</p>
<p>此一段是傷寒論三陽傷風表症，與中風門全無關涉。又「腑」字空作「經」字，若云入腑，則里症矣，安用葛根、桂枝耶？</p>
<p>「中臟者中在裡也，其人眩僕昏冒，不省人事，或痰聲如曳鋸，宜分臟腑寒熱而治之。假如其人素挾風寒，或暴中新寒，則風水相遭，寒冰徹骨，而風為寒風矣。」</p>
<p>此一段即傷寒陰症，亦與中風門無涉。</p>
<p>「假如其人素有積熱，或鬱火暴發，則風乘火勢，火借風威。而風為熱風矣。」</p>
<p>自此段起方是中風門。</p>
<p>「為熱風，多見閉症。其症牙關緊急，兩手握固。法當疏風開竅，先用搐鼻散吹之，次用牛黃丸灌之。若大便閉結，腹滿脹悶，火勢極盛者，以三化湯攻之。」</p>
<p>言熱風者多系腎水過虛之人，法當遵丹溪大劑滋陰。攻之一法，須慎用也！</p>
<p>「為寒風，多見脫症，其症手撒脾絕；眼合肝絕；口張心絕；聲如鼾肺絕；遺尿腎絕。更有兩目直視，搖點上竄，髮直如妝，汗出如珠，皆脫絕之症。法當溫補元氣。急用火劑附子理中湯灌之。若痰涎壅盛，以三生飲加人參灌之。間亦有寒痰壅塞，介乎閉脫之間，不便驟補者，用半夏橘紅各一兩，濃煎至一杯，以生薑自然汁對衝，頻頻灌之，其人即延，然後按其虛而調之。」</p>
<p>言寒者即陽虛之人也，此段所論甚是，宜格遵之。惟三生飲用以救急，誠為良法，但分量太重，無已，照原方三分之一可也。</p>
<p>「然予自揣生平，用附子理中治愈者甚多，其用牛黃丸治愈者，亦恆有之。惟三化湯一方，並未舉用，此必天時地土人事之不同。然寒熱之劑，屹然並立，古方具在，法不可泥，故兩存之，以備參酌。」</p>
<p>法雖並存，然遇此症，而用大黃，未有不殺人者，三化湯慎用！牛黃丸取其消痰順氣，亦初起暫用之法耳，五七日後，須遵俞氏塞空之旨，用侯氏黑散法也。</p>
<p>「口噤角弓反張，痙病也。但口襟而兼反張者，是已成痙也，小續命湯。口噤而不反張者，是未成痙也，大秦艽湯。」</p>
<p>此條宜摘入痙症之下，蓋痙症極重，不遇角弓反張，不致口噤也。又小續命湯內有麻黃，係指傷寒痙症芥表症者，風痙當去之。</p>
<p><u>大秦艽湯</u></p>
<p>治風中經絡，口眼歪斜、半身不遂，或語言寒澀，乃血弱不能養於筋，宜用養血疏風之劑。經云：治風先治血，血行風自滅是也。</p>
<p>秦艽（一錢五分）　甘草（炙）　川芎　當歸　芍藥　生地　熟地（自制）　茯苓　羌活　獨活　白朮　防風　白芷　黃芩（酒炒，各八分）　細辛（二分）</p>
<p>水煎服。如或煩躁口渴，加石膏一錢五分；陰雨，加生薑三片；春夏，加知母八分。</p>
<p>此治風初起之方，只可一二服。若用以舒筋，則羌、防、細辛當減，威靈仙、鉤藤當加。又中風者命門多虛，知母當慎用！</p>
<p><u>神仙解語丹</u></p>
<p>白附子（炮）　石菖蒲（去毛）　遠志（去心，甘草水浸，炒）　天麻　全蠍（去尾，甘草水洗）　羌活　南星（牛膽制多次更佳，各一兩）　木香（五錢）</p>
<p>為末，麵糊丸、龍眼大、每服一丸、薄荷湯下。</p>
<p>此方用之屢效，不但治中風不語，兼治夏間陰寒痧症。</p>
<p><u>地黃飲子</u></p>
<p>熟地（九蒸曬，二錢）　馬戟（去心）　山萸肉（去核）　肉蓯蓉（酒浸焙）　石斛　附子（炮）　五味子（杵炒）　白茯苓（各一錢）　石菖蒲（去毛）　桂心　麥冬（去心）　遠志（去心，甘草水泡炒，各五分）　入薄荷少許　姜（一片）　棗（二枚）</p>
<p>水煎服。氣虛加人參二錢。</p>
<p>用菖蒲恐引熱藥入心竅，轉致中焦熱，有痰迷之慮，慎之！</p>

<h1>類中風</h1>
<p>「類中風者，謂火中、虛中、濕中、寒中、暑中、氣中、食中、惡中也，共有八種，與真中相類而實不同也。然類中有與真中相兼者，須細察其形症而辨之。」</p>
<p>類中即景岳所謂非風。景岳於此篇後各症雜例，不如此書明分八條為易曉也，至與真中相兼者，仍作中風治，其各症用藥亦兼及之。</p>
<p>「凡真中之症，必連經絡，多見歪斜偏廢之候，與類中之專氣致病者，自是不同。然而風乘火勢，邪乘虛入，寒風相搏，署風相炫，飲食招風，種種變症，所在多有，務在詳辨精細。」</p>
<p>寒甚血凝則筋縮，熱甚血耗筋亦縮，皆能牽引偶然歪斜。惟真中之歪斜必口吐涎沫，日甚一日，而寒熱牽引之歪斜，旋髮旋止，口無涎沫也。</p>
<p>「或問火中而用桂附者，何也？答曰：腎陽飛越，則丹田虛冷，其痰涎上壅者，水不歸原也；面赤煩躁者，火不歸原也，惟桂附八味能引火歸原。火歸水中，則水能生木，木不生風，而風自熄矣。」</p>
<p>內風皆生於肝，皆緣腎虛，妙義無多，已發真中之源、勿徒作火門看也。</p>
<p>「濕中者，即痰中也。凡人嗜食肥甘，或醇酒乳酪，則濕從內受；或山嵐瘴氣，久雨陰晦，或運行涉水，坐臥濕地，則濕從外受。濕生痰，痰生熱，故卒然昏倒無知也。蒼白二陳湯主之。」</p>
<p>此症甚多，其人無不虛者，一二劑利痰之後，即當補氣健脾。</p>
<p>「凡人暴中於寒，卒然口鼻氣冷，手足厥冷，或腹癰，下利清穀，或身體強硬，口噤不語，四肢戰搖，此寒直中於里也。宜用姜附湯，或附子理中湯加桂主之。」</p>
<p>此即《醫門法律》中寒病也，與風門無涉。凡此症投以桂、附之後，筋脈乍舒，必見手指搐搦、眼動唇搖之象，切不可再投風藥。</p>
<p>「七情氣結，或怒動肝氣，以致氣逆痰壅，牙關緊急，極與中風相似，但中風身熱，中氣身涼，中風脈浮，中氣脈沉，且病有根由，必須細究。宜用木香調氣散主之。」</p>
<p>真中風其脈多閉、浮者少，中氣，肝脈有極大者，只當舍脈問症。</p>
<p>「醉飽過度，或者惱怒，以致飲食填塞胸中，胃氣不行，卒然昏倒。宜用橘紅二兩、生薑一兩、炒鹽一撮，煎湯，灌而吐之。次用神朮散和之。」</p>
<p>吐法不可輕用。</p>
<p><u>木香調氣散</u></p>
<p>平肝氣，和胃氣。</p>
<p>白蔻仁（去殼，研）　檀香　木香（各一兩）　丁香（三錢）　香附（五兩）　藿香（四兩）　甘草（炙）　砂仁　陳皮（各三兩）</p>
<p>為細末，每服二錢，入鹽少許點服。體虛者，服四五分可也。</p>

<h1>傷暑（霍亂　攪腸沙）</h1>
<p>「更有乾霍亂症，欲吐不得吐，欲瀉不得瀉，攪腸大癰，變在須臾，古方以燒鹽和陰陽水引而吐之，或以陳皮同煎吐之，或用多年陳香圓，煎湯更佳。俗名攪腸沙、鳥沙脹，皆此之類。」</p>
<p>此症甚急，危在傾刻！取藥不及，先灌陰陽水，並刺腿彎青筋出血，再刺是二指上青筋，如出血則漸減。其用藥總以厚朴為君，干香圓、佛手亦妙，甚者加檀香，蓋脾得香氣即舒，舒則能吐能瀉矣</p>
<p><u>清暑益氣湯</u></p>
<p>預服此藥，以防暑氣。</p>
<p>黃耆（一錢五分）　白朮（一錢）　人參　當歸　陳皮　麥冬（去心）　甘草（炙，各五分）　扁豆（二錢）　茯苓（七分）　升麻　柴胡　北五味（各三分）　神麯（四分）　黃柏　澤瀉（各二分）</p>
<p>參耆閉氣，若受暑反不能出矣。</p>
<p>暑症一篇，句句明晰，誠臨症之金針，平時揣摩，當於《醫門法律》暑、濕、熱三氣門合參。一言以蔽之，暑氣傷脾，當用氣香行動之藥，如厚朴、藿香、砂仁、香薷、佛手、香圓之類。</p>

<h1>疫癧</h1>
<p>「天行之氣，從經絡入，其症頭痛發熱，宜微散，香蘇散散之。病氣傳染，從口鼻入，其症嘔惡胸滿，宜解穢，神朮散和之。」</p>
<p>天行之氣亦從口鼻而入，當遵吳氏《溫疫論》，但吳氏達原飲中只有草果、檳榔、厚朴，而無芳香解穢之藥，宜加入藿香、澤蘭，再以四時隨有香花塞鼻孔中，屢換以驅穢氣，取效更速。</p>
<p>「又有頭面腫大，名曰大頭瘟者；頸項粗腫，名曰蝦蟆瘟者，古方普濟消毒飲並主之。但頭腫之極，須用針砭，若醫者不究其理，患者畏而不行，多致潰裂腐爛而難救。若頸腫之極，須用橘紅淡鹽湯吐去其痰，再用前方倍甘橘主之，須以早治，不可忽也。」</p>
<p>此症屬雜疫門，劉松峰《補註溫疫論》治法甚詳。以大頭、蝦蟆二症言之，普濟消毒飲中涼藥，皆須用酒炒過，以桔梗三、五錢煎湯，再煎各藥，方能取效；急以針刺少商，臺谷二穴出血，庶乎可治。此等症針刺之功十之七，藥之功十之三耳。</p>
<p>「或問香蘇散、神朮散，芳香藥也。人中黃，有穢氣者也，而皆以之解疫毒、消穢氣。何也？不知邪容上焦，乃消虛之所，故以芳香以解之。邪客中下二焦，刀濁陰之所，疫毒至此，結而為穢，則非芳香所能解，必須以穢攻穢，而穢氣始除，此人中黃之用，所以切當也。」</p>
<p>以穢藥引香藥，方能驅穢，以穢藥引下藥，方能逐穢；以穢藥引表藥，方能散穢；非只用穢藥也。若只用穢藥，是益其穢矣！須知溫疫一症，吳氏獨得其源，更當參以葉氏芳香之法逐穢。至傳經入里等症，不外傷寒汗、吐、下三法，但表解不用麻黃耳。此篇治法謹慎，但恐藥力不及，且用藥宜泛。想其時吳氏《溫疫論》尚未盛行也。</p>
<p><u>治疫清涼散</u></p>
<p>秦艽　赤芍　知母　貝母　連翹（各一錢）　荷葉（七分）　丹參（五錢）　柴胡（一錢五分）　人中黃（二錢）</p>
<p>水煎服。如傷食胸滿加麥芽、山楂、蘿蔔子、陳皮；脅下痞加鱉甲、枳殼；昏憒譫語加黃連。熱甚大渴能消水者加石膏、天花粉、人參；便閉不通、腹中脹滿者加大黃下之；虛人自汗多，倍加人參；津液枯少，更加麥冬、生地。若時行寒疫、不可輕用涼藥、宜斟酌投劑。</p>
<p>譫語下症多，當酌用大黃，勿輕用黃連。寒疫詳見《補註溫疫論》，治法不過於芳香藥中多加姜耳。萬勿輕投桂、附。蓋初起雖是寒氣，久則正氣閉塞，邪氣有餘，便是火也。</p>

<h1>虛勞</h1>
<p>「凡虛勞之症，多見吐血、疚湧、發熱、夢遺、經閉，以及肺痿、肺疽、咽痛、音啞、側臥、傳屍鬼疰諸疾，今照葛仙翁十藥神書例，增損方法，臚列於左，以便觀覽。」</p>
<p>虛勞症，惟有《醫門法律》建中湯行營氣一法，深合經旨，然驟用駭人聽聞。其次莫如此書之法穩妥平善。遇善養之人，十中亦愈三四；後列生地黃湯，清骨散兩方內皆可參入桂枝、大棗等藥，兩書參看。</p>
<p>甲字號方</p>
<p>「止嗽散為主，予見虛損之成，多由於吐血，吐血之因，多由於咳嗽，咳嗽之原，多起於風寒。仲景云：咳而喘息有音，甚則吐血者，用麻黃湯。東垣師其意，改用麻黃人參芍藥湯。可見咳嗽吐紅之症，多有因於外感者。不可不察也。」</p>
<p>仲景用麻黃，是傷寒症內寒氣束肺之症，東垣以之治些微風寒之嗽，已覺過劑，若施之虛勞之人，煽其肺，耗其液，有不速死者乎？</p>
<p><u>月華丸</u></p>
<p>滋陰降火、消痰祛瘀、止咳定喘、保肺平肝、消風熱、殺屍蟲、此陰虛發咳之聖藥也。</p>
<p>天冬（去心、蒸）　麥冬（去心、蒸）　生地（酒洗）　熟地（九蒸，曬）　山藥（乳蒸）　百部（蒸）　沙參（蒸）　川貝母（去心，蒸）　真阿膠（各一兩）　茯苓（乳蒸）　獺肝　廣三七（各五錢）　用白菊花（去蒂，二兩）　桑葉（經霜者，二兩）</p>
<p>熬膏，將阿膠化入膏內和藥，稍加煉蜜為丸，如彈子大。每服一丸，噙化，日三服。</p>
<p>此藥用鮮藕汁半茶杯同化服，治虛勞吐血如神。已屢試之矣。</p>
<p>丙字號方</p>
<p>「治大吐血咸升斗者，先用花蕊散止之，隨用獨參湯樸之。所謂血脫益氣、陽生陰長之理，貧者以歸脾湯代之。」</p>
<p>余臨此症甚多，面黃脈虛大者可治，脈微弱者亦可治，面赤脈堅搏者難治，脈硬者必死！總以先飲童便為救急第一妙方，隨加炒黑梔子灌之，然後服藥。此症危在呼吸，陽氣固當急救，陰血亦應驟滋，但非歸、地所能奏功，徽州汪前輩每用豬心、肺、脾洗淨，熬濃湯頻頻飲之，間服加味歸脾湯，十愈四五。</p>
<p><u>歸脾湯</u></p>
<p>白朮　人參　當歸　棗仁（炒）　白芍（各一錢）　黃耆（一錢五分）　遠志（去心，泡，七分）　甘草（炙，五分）　龍眼肉（五枚）</p>
<p>歸脾湯內去木香，加炒黑梔子、炒黑桑白皮，標本兼治為當。（按：本書「心痛」篇歸脾湯內有木香）。</p>
<p>丁字號方</p>
<p>「治咳嗽吐紅，漸成骨蒸勞熱之症，如人胃強氣盛，大便結，脈有力，此陽盛生熱，法當清涼，清骨散主之。若胃虔脾弱，大便溏，脈虛細，此陰虛發熱，法當養陰，逍遙散、四物湯主之。若氣血而虛而發熱者，八珍湯主之。若元氣大虛，變症百出，難以名狀，不同其脈，不論其病，但用人參養榮湯，堵症自退。經云：甘溫除大熱。如或誤用寒涼，反伐生氣，多至不救。」</p>
<p>此條自「若元氣大虛」以下為行醫之要決。八珍補陽，陽亢而陰愈竭；芩連清熱，熱退而真元敗矣；柴胡散火，火散而汗動，汗動而陰耗矣；取效目前，無捷於此，而其人則未有不死者！何如用地黃、地骨皮、沙參、百合，加入去皮桂枝、大棗、飴糖以充營氣，營氣行，熱自退。理詳《醫門法律》虛勞門。</p>
<p>戊字號方</p>
<p><u>保和湯</u>　治肺痿。</p>
<p>知母（蒸，五分）　貝母（三錢）　天冬（去心）　麥冬（去心，各一錢）　苡仁（五錢）　北五味（十粒）　甘草　桔梗　馬兜鈴　百合　阿膠（蛤粉炒成珠，各八分）　薄荷（二分）</p>
<p>水煎，入飴糖一匙、溫服虛者加人參。</p>
<p><u>加味桔梗湯</u>　治肺痿。</p>
<p>桔梗（去蘆）　白及　橘紅　甜葶藶（微炒，各八分）　甘草節　貝母（各一錢五分）　苡仁　金銀花（各五錢）</p>
<p>水煎服。初起加荊芥，防風各一錢；潰後，加人參、黃耆各一錢。</p>
<p>此二方極好，當移入肺痿、肺癰門，與《醫宗金鑑》本門合參，他書皆偏，不可盡信也。盡信書則不如無書。</p>
<p>己字號方</p>
<p><u>百藥煎散</u>　治咽痛。</p>
<p>百藥煎（五錢）　硼砂（一錢五分）　甘草（二錢）　為末，每服一錢，米飲調，食後細細嚥之。</p>
<p><u>通音煎</u>　治音啞。</p>
<p>白蜜（一斤）　川貝母（去心為末，一兩）　款冬花（去梗為末，二兩）　胡桃肉（去衣研爛，十二兩）</p>
<p>四味和勻，飯上蒸熟，不拘時，開水點服。</p>
<p>此二方皆經驗方，臨時可以暫用。</p>
<p>庚字號方</p>
<p><u>秘精丸</u></p>
<p>有相火，必生濕熱，則水不清，不清則不固，故本方以理脾導濕為先。濕祛水清，而精自止矣。治濁之法亦然。</p>
<p>白朮　山藥　茯苓　茯神　蓮子肉（去心蒸，各二兩）　芡實（四兩）　蓮花須　牡蠣（各一兩五錢）　黃柏（五錢）　車前子（三兩）</p>
<p>共為末，金櫻膏為丸，如桐子大，每服七八十丸，開水下；氣虛者加人參一兩。</p>
<p>此方宜去黃柏，加丹皮。</p>
<p>辛字號方</p>
<p><u>澤蘭湯</u>　調經、通血脈、治經閉。</p>
<p>澤蘭（二錢）　柏子仁　當歸　白芍　熟地　牛膝　茺蔚子（各一錢五分）</p>
<p>水煎服。</p>
<p>其經閉，非海螵蛸不開，若只是後期，此藥最當。</p>
<p>壬字號方</p>
<p><u>驅蟲丸</u></p>
<p>明雄黃（一兩）　蕪荑　雷丸　鬼箭羽（各五錢）　獺肝（一具）　丹參（一兩五錢）　麝（二分五釐）</p>
<p>煉蜜丸，如桐子大，每食後開水下十九，日三服。</p>
<p>此藥太輕，且麝香散氣，虛脫真元，《本草綱目》獺肝下附方內，有三二簡明者，可參考。</p>
<p>癸字號方</p>
<p><u>補天大造丸</u>　補五臟虛損</p>
<p>人參（二兩）　黃耆（蜜炙）　白朮（陳土蒸，各三兩）　當歸（酒蒸）　棗仁（去殼炒）　遠志（去心，甘草水泡炒）　白芍（酒炒）　山藥（乳蒸）　茯苓（乳蒸，各一兩五錢）　枸杞子（酒蒸）　大熟地（九蒸曬，各四兩）　河車（甘草水洗，一具）　鹿角（熬膏，一斤）　龜版（與鹿角同熬膏，八兩）</p>
<p>以龜鹿膠和藥，加煉蜜為丸，每早開水下四錢。陰虛內熱甚者，加丹皮二兩；陽虛內寒者，加肉桂五錢。</p>
<p>此藥全仗河車，不必人參，但有高麗參，真有起死回生之功。</p>

<h1>咳嗽</h1>
<p>「風寒初起，頭痛鼻塞，發熱惡寒而咳嗽者，用止咳散，加荊芥防風蘇葉生薑以散邪，既散而咳不止，專用本方。調和肺氣，或兼用人參胡桃湯以潤之。」</p>
<p>外邪未淨時，人參不可輕用。</p>
<p>「若中寒入里而咳者，但溫中而咳自止。」</p>
<p>溫中亦須潤肺，百合、沙參不可少也。</p>
<p>「凡治咳嗽，貴在初起得法為善。經云：微寒微咳，咳嗽之因，屬風寒者十居其丸。故初治必須發散，而又不可以過散，不散則邪不去，過散則肺氣必虛，皆令纏綿難愈。」</p>
<p>肺主皮毛，風邪易入，且太陽上部之脈，皆絡於肺，表藥亦入太陽；凡傷寒傷風，初起而兼嗽者，嗽則胸痛不可忍，鼻塞聲重鼻流清涕之時，當以防風力君；屢以防風煎湯送止咳散，收效甚捷。</p>
<p><u>止咳散</u>　治諸般咳嗽。</p>
<p>桔梗（炒）　荊芥　紫菀（蒸）　百部（蒸）　白前（蒸，各二斤）　甘草（炒，十二兩）　陳皮（水洗去白，一斤）</p>
<p>共為末，每服三錢，開水調下，食後臨臥服，初感風寒，生薑湯調下。</p>
<p>予制此藥普送，只前七味，服者多效，或問藥極輕微，而取效甚廣。何也？予曰：藥不貴險峻，惟期中病而已，此方系予苦心揣摩而得也。蓋肺體屬金畏火者也，過熱則咳，金性剛燥惡冷者也，過寒亦咳。且肺為嬌臟。攻擊之劑。既不任受，而外主皮毛，最易受邪，不行表散，則邪氣留連而不解。經曰：微寒微咳，寒之感也，若小寇然，啟門逐之即去矣，醫者不審，妄用清涼酸澀之劑，未免閉門留寇，寇俗出而無門，必至穿窗而走，則咳而見紅。肺有二竅，一在鼻，一在喉。鼻竅貴開而不閉，喉竅宜閉而不開。今鼻竅不通，則喉竅將啟。能無慮乎？本方濕潤和平。不寒不熱。既無攻擊過當之虞。大有啟門驅賊之勢。是以客邪而散。肺氣安寧。宜其投之有效欽。附論與此，以咨明哲。</p>
<p>咳嗽一篇，精微明顯，可奉為金科玉律。止咳散一方，用之如神，但百部必須蒸透去心方可，不然，其毒傷肺。同一風也，在冬月為寒風，宜加款冬花，在春月為溫風，宜加桑葉，痰中帶血者，本方加丹參、赤芍，立止如神。咳嗽之病，篇中已敘七八，其未敘者皆詳《臨症指南》本門，有方有案，合參可也。</p>

<h1>喘</h1>
<p>「夫外感之喘，外出於肺。內傷之喘，未有不由於腎者。經云：堵痿喘嘔。皆屬於下。定喘之法。當於腎經責其真水真火之不足而主之。如或脾氣大虛，則以人參白朮為主，參朮補脾土以生肺金。金旺則能生水，乃隔二隔三之治也。」</p>
<p>治喘症以納腎氣為主，納腎氣以磁石為主，偏寒佐以鹿茸、熟地、故紙；偏熱佐以熟地、地骨皮、龜版。喘之後肺氣必傷，以麥冬配人參，加山藥、蓮子補土生金，無熱，量加白朮。</p>

<h1>吐血</h1>
<p>「暴吐血，以祛瘀為主，而兼之降火。久吐血，以養陰為主，而兼之理脾。古方四生丸、十灰散、花蕊石散，祛瘀降火之法也。古方六味湯、四物湯、四君子湯，養陰樸脾之法也。然血症有外感內傷之不同，假如咳而喘息有音，甚則吐血者，此風寒也，加味香蘇散散之。務農赤日，行旅長途，口渴自汗而吐血者，此傷暑也，益元散清之。夏令火炎，更乘秋燥，發而乾咳，脈數大而吐血者，此燥火焚金也，三黃解毒湯降之，此外感之治法也。又如陰虛吐血者，初用四生丸、十灰散以化之，兼用生地黃湯以清之。吐止，則用地黃丸補之。陽虛大吐，血成升斗者，初用花蕊石散以化之，隨用獨參湯以補之，繼則用四君八珍等以調之。臟寒吐血，如天寒地凍，水凝成冰也，用理中湯以溫之。其或七情氣結，怒動肝火者，則用加味逍遙散以疏達之。傷力吐血者，則用澤蘭湯行之，此內傷之治法也。夫血以下行為順、上行為逆。吐暴之時，氣血未表，飲食如常，大便結實，法當導之下行。病勢既久，氣血衰微，飲食漸減，大便不實，法當養陰血兼補脾氣。大凡吐血咯血，須用四君子之類以收功。蓋陰血生子陽氣，脾土旺則能生血耳，治者念之。」</p>
<p>統觀吐血一篇，與前虛勞門參看，治法詳備。所列各方，治標者多，治本者少，皆可暫用，而其中致病之固未備；《臨症指南》內諸法皆備，其中菸酒傷肺二條，尤切今日之症，宜合參之。</p>

<h1>頭痛</h1>
<p>「偏頭風者，半邊頭病。有風熱、有血虛。風熱者，筋脈抽搐，或鼻塞，常流濁涕，精空膏主之；血虛者，晝輕夜重，痛連眼角，逍遙散主之。」</p>
<p>血虛頭痛，宜四物湯加黃精以補其腦。</p>
<p>「腎厥頭痛者，頭重足浮，腰膝痠軟，經所謂下虛上實是也。腎氣衰，則下虛，浮火上泛，故上實也。然腎經有真水虛者，脈必數而無力。有其火虛者，脈必大而無力。水虛六味丸，火虛八味丸。」</p>
<p>火虛則腎寒，脈多沉堅，按之如鐵條者多。總以腰痛脊冷，定為陽虛，發燒、手足心皆熱；定為陰虛。盡信脈，恐誤事！</p>
<p>「破腦傷風者，風從破處而入，其症多發搐搦，防風散主之。」</p>
<p>凡治破傷風，防風散服一劑以驅風后，急應服魚螵、艾葉，《醫宗金鑑》內有江螵丸一方，最為靈效。</p>

<h1>心痛</h1>
<p>「氣痛者，氣壅攻刺而痛，遊走不定也，沉香降氣散主之；血痛者，痛有定處而不移，轉側若刀錐之刺，手拈散主之；熱痛者，舌燥唇焦，溺赤便閉，喜冷畏熱，其痛或作或止，脈洪大有力，清中湯主之；寒痛者，其痛暴發，手足厥冷，口鼻氣冷，喜熱畏寒，其痛綿綿不休，脈沉細無力，姜附湯加肉桂主之；飲痛者，水飲停積也，嘔吐涎，或咳或噎，甚則搖之作水聲，脈弦滑，小半夏加茯苓湯主之；食病者，傷於飲食，心胸脹悶，手不可按。或吞酸噯腐，脈緊滑，保和湯主之；虛痛者，心悸怔忡，以手按之則痛止，歸脾湯主之；蟲痛者，面白唇紅，或唇之上下有白斑點，或口吐白沫，飢時更甚，化蟲丸主之；疾病者，觸冒邪祟，卒爾心痛，面目青黯，或昏憒譫語，脈來乍大作小。或兩手如出兩人。神朮散、蔥白酒、生薑湯並主之。此治心痛之大法也。」</p>
<p>綜觀篇內氣、血、寒、熱、飲食及虛痛等症，治法詳明，列症顯亮，後列諸方，平穩可用；惟皆系下泄之藥，宜於病勢正盛之時，若病已將開，身體弱損者，仍當遵建中意，用人參、桂枝、大棗、甘草，使中焦之氣血旁行，不專下泄，自然流布於四體，結開痛止，庶無暴脫之患。緣心痛不比他臟之病，用藥稍差，性命即危，無結滯則不痛，而其結滯又不可急攻，只須緩緩開解，更不可用黃耆大補，一驟補則瘀血攻心矣。暑月更不可補。</p>
<p>《臨症指南》本篇內，受驚，心漾漾作痛，逍遙散去柴胡加鉤藤、丹皮；勞傷血滯，用生鹿角、當歸鬚、桃仁、半夏、生薑；營絡傷、急心痛，用人參、桂枝、炙草、白蜜、川椒：亦即建中行營之義，其法出《金匱要略》，是此篇主腦。</p>
<p><u>手拈心</u>　治血積心痛。</p>
<p>元胡索（醋炒）　香附（酒炒）　五靈脂（去土醋炒）　沒藥（箬上炙乾，等分）</p>
<p>共為細末。每服三錢，熱酒調下。血老者，用紅花五分、桃仁十粒，煎酒調下。</p>
<p>此古方也，用之甚效。然體虛之人，有血動心搖、傾刻垂危之慮，實見此症，亦只用一錢可也。</p>

<h1>胸痛</h1>
<p>「胸者，肺之分野。然少陽膽經受病，亦令胸痛，此邪氣初傳入里，而未深入於裡，故胸痛也，古方用柴胡湯加枳殼治之。如未應，本方對小陷胸湯一服，其效如神。又風寒在肺，胸滿癰，氣喘，宜用甘桔湯，加理氣散風之劑。又飲食填塞者，宜用吐法。」</p>
<p>首段系傷寒少陽經症，即遵傷寒治法。次段風邪在肺，如嗽者，加紫苑、柴胡，隆冬大寒加款冬花；理氣以白蔻仁、桑白皮力主，散風以防風、荊芥力主，定喘加馬兜鈴。末段飲食傷，有風寒者應吐，無風寒者三消散加檳榔、桑白皮。</p>
<p>人有奔馳勞碌，心緒急迫而胸痛者，血也。經曰：血並於膈上，熱中之症也，宜元明粉、檳榔、花蕊石下泄其血。詳見喻氏《寓意草》。</p>

<h1>肋痛</h1>
<p>「雜症肋痛，左為肝氣不和，用柴胡疏肝散。七情鬱結，用逍遙散。若兼肝火、痰飲、食積、淤血、隨症加藥。右為肝移邪子肺，用推氣散。凡治實症肋痛，左用枳殼。右用鬱金，皆為的劑。然亦有虛寒作痛、得溫則散、按之則止者、又宜溫補。不可拘執也。」</p>
<p>此篇及後列三方，大意已賅。惟因怒而痛，忌柴胡，遵《臨症指南》加降香、梔子、石斛；痛而有痰者，加半夏、白芥子；血絡瘀痹者，加桃仁、歸鬚；虛者，大佐參、術；總不外此治左、治右二方。</p>
<p>肋為少陽部位，久痛無不口苦，無他表症，莫作外感治也。</p>

<h1>胃脘痛</h1>
<p>「胃脘病，治法與心痛相仿。但停食一症，其脹痛連胸者，吐之。脹痛連腹者，下之。其食積之輕者，則用神朮散消之。又有胃脘膿症嘔而吐濃血者，不得妄治。韋云：嘔家有膿不須治。嘔膿儘自愈。」</p>
<p>按《臨症指南》此篇以肝犯胃痛多，其外則陽虛，血瘀二症。肝犯胃者口必酸或苦，主以延胡索、半夏、川楝子；陽虛者必嘔，主以參、附、白朮、大棗；血瘀者大便必黑，主以歸鬚、桃仁；此症屬熱者少，忌芩、連、知、柏，氣壅者多，亦忌黃耆。</p>
<p>胃脘痛，除食積之外，皆氣裹寒、寒聚血凝也。汪訒庵主以良薑、香附、後人加以薏米、桃仁，一和宗筋，一化瘀血也。其疼勢橫布者佐枳殼，其疼勢直下者佐木香，無不速效。但良薑有毒，總須米湯浸透蒸熟再用。</p>

<h1>腹痛</h1>
<p>「腹中痛，其寒熱、侖積、氣血蟲盅。辦法亦與心痛相符。惟有肝未乘脾、攪腸沙，腹內痛。茲三症有不同耳。經云：諸痛皆屬於肝。肝木乘脾，則腹痛，仲景以芍藥甘草湯主之。甘草味甘，甘者己也。芍藥味酸，酸者甲也。甲己化土，則肝木平，而腹痛止矣。傷寒症中，有由少陽傳入太陰而腹痛者，柴胡湯加芍藥。有因誤下傳入太陰而腹痛者，桂枝湯加芍藥，即同此意。尋常腹痛，全在寒熱食積，分別詳明為主。凡腹病乍作乍止，脈洪有力熱也，以芍藥甘草湯加黃連清之。若噯腐吞酸，飽悶膨脹，腹中一條槓起者，是食積也，保和丸消之。消之而痛不止，便閉不行，腹癰拒按者，三黃枳朮丸下之。設或下後仍痛，以手按其腹，若更痛者，積未盡也，仍用平藥再消之。若按之痛止者，積已去而中氣虛疼，五味異功散樸之。若消導攻下之後，漸變寒中，遂至惡冷喜熱，須易溫中之劑，此火痛兼食之治法也。若腹癰綿綿不減，脈遲無力者，寒也，香砂理中湯溫之。若兼飽悶脹痛，是有食積，不便驟補，香砂二陳湯加薑桂楂芽厚朴，溫百消之。消之而痛不止。大便反閉，名曰陰結，以木香丸熱藥下之。下後，仍以溫劑和之，此寒痛兼食之治法也。若因聲氣壅塞，走注疼痛，木香調氣散散之。若因瘀血積聚，呆痛不移，澤蘭湯行之。蟲齧而痛，唇有斑點，飢時更甚，化蟲丸消之。傷暑霍亂，四味香薷飲解之。更有乾霍亂症，欲吐不得吐，欲瀉不得瀉，變在須臾，俗名攪腸沙是也。更有遍體紫黑者，名曰烏沙脹，急用燒鹽，和陰陽水吐之，或用四陳湯服之，外用武候平安散。點左右大眼角，其人即蘇。其腹內癰一症。當臍腫痛，轉側作水聲，小便如淋，千金牡丹皮散化之。古方治腹痛症，多以寒者為虛，熱者為實，未盡然也。蓋寒症亦有實痛者，熱症亦有虛痛者。如寒痛兼食則為實矣。挾熱久痢則為虛矣。凡看症之法，寒熱虛實，互相辨明，斯無誤也。」</p>
<p>此篇專指臍之上及繞臍而言，足太陰脾經之病，無積聚者，只調本臟氣血，有積食積血者，須兼胃治，篇中論治極詳，後列各方，皆先輩閱歷之言，與《臨症指甫》大意皆合。其傷暑、霍亂、攪腸沙及烏沙脹等病，已列專門，未詳者皆載《臨症指南》暑症篇，可合參之。更有天非炎熱，而為穢濁阻氣者，與受暑相等，總以藿香、厚朴為君，其痛由左起者，肝木犯脾，隨症皆佐青皮、香附；痛在正中者，宗筋病也，佐薏仁、木瓜；痛偏於右者，肺氣並阻也，佐桑皮、白蔻仁、杏仁；痛而小便閉者，佐川椒、澤瀉；大便閉者，後方自有通法，不必復贅。</p>
<p><u>三黃枳朮丸</u>　消熱食、除積滯、腹痛拒按、便閉溺赤、名曰陽結。宜用本方。若冷食所傷。宜用木香丸。若冷熱互傷。須酌其所食冷熱之多寡而並用之。此東垣之法也。</p>
<p>黃芩（一兩）　黃連（五錢）　大黃（七錢五分）　神麯　白朮　枳實　陳皮（各五錢）</p>
<p>荷葉一枚，煎水疊為丸，量虛突用。</p>
<p>腹痛症雖有實熱，只在腸胃，斷無心、腎、脾、肺皆火之理，大黃加山楂下之，已為雜症中之猛藥矣，豈可兼用芩、連，損陽敗胃耶？況甘肅地氣較寒，此方萬勿輕用！</p>
<p><u>木香丸</u></p>
<p>治寒積冷食、腹痛拒按、或大便閉結，謂之冷閉，名曰陰結。本方攻之。</p>
<p>木香　丁香（一錢五分）　乾薑（三錢）　麥芽（炒，五錢）　陳皮（三錢）　巴豆（支殼炒黑，三十粒）</p>
<p>神麯煮糊為丸，每服十丸、或二十丸、開水下、痛甚者倍之、所食之物、應隨利出、如利不止、以冷粥飲之、即止。</p>
<p>古方中用巴豆多佐丁香，或有相需之理，已恐以火濟火，腸胃腐爛，豈可再加乾薑？此方更不可輕用！</p>
<p><u>四陳湯</u></p>
<p>除皮（去白）　除香圓（去穰）　陳枳殼（去穰麵炒）　陳茶葉</p>
<p>等分為末，每服三錢，開水點服。</p>
<p>此藥以藿香煎湯，冷涼和服，其效如神。</p>

<h1>小腹痛</h1>
<p>「尋常小腹癰，多屬疝瘕奔豚之類。書云：男子外結七病，女子帶下瘕聚。」古人更有痃癖癥瘕之名，皆一類也。痃如弓弦，筋扛起也。癖者隱闢，沈附著骨也。癥則有塊可徵，猶積也，多屬於血。瘕者假也，忽聚而忽散，氣為之也。奔豚者，如江豚之上竄，冷氣上衝也。其癥瘕之氣，聚子小腸，則曰小腸氣。聚於膀胱，則曰膀胱氣也。小腸氣，矢氣則快。膀胱氣，少腹熱，若沃以湯，澀於小便也。凡治少腹痛，當用墜降之藥，其行氣皆當用核，乃能宣達病所以取效也，橘核丸、奔豚丸並主之。」</p>
<p>此篇除傷寒厥明症外，其雜症中之小腹痛，不外癥瘕疝氣，奔豚痃癖，皆屬於寒；惟淋症之小腹痛，則屬於熱。各有本門。初治以藥攻病，當遵《臨症指南》，久則必虛。攻病既動，亦當參以補法。可於《景岳全書》中求之。</p>
<p><u>橘核丸</u>　通治癥瘕痃癖，小腸膀胱等氣。」</p>
<p>橘核（鹽酒炒，二兩）　川楝子（煨去肉）　山楂子（炒）　香附（薑汁浸炒，各一兩五錢）　荔枝核（煨研）　小茴香（微炒，各一兩）　神麯（四兩）</p>
<p>煮糊為丸、如桐子大、每服三錢、淡鹽水下。寒甚、加附子五錢、肉桂三錢、當歸一兩，有熱、加黑山梔七錢；又疝氣症、表寒束其內熱，丹溪以黑山梔吳茱萸並用。按此二味、若寒熱不調者，加入丸中更佳。若胞痹小便不利、去小茴、加茯苓、車前子、丹參，黑山梔。</p>
<p>癥瘕疝氣，痃癖奔豚，皆寒症也。此方取用各核，直達小腹，深得氣味之理，必曰寒甚始加桂、附者，蓋凡此數症，下元既寒，火逼肺胃者多，故不敢列於原方之內，此古人之苦心也。經曰：任脈為病，男子內結七疝，婦女帶下瘕聚。肝經為病亦同。吳萸、龜版二味，此方所不可少，非吳萸不能驅肝寒，非龜版不能通任脈也。肉桂可量寒之輕重加之，附子有上升之性，不可用也。便結陰虛者加熟地，便溏氣虛者加何首烏。</p>

<h1>身痛</h1>
<p>「身體痛，內傷外感均有之。如身痛而拘急者。外感風寒也；身痛如受杖者，中寒也；身痛而重墜者，濕也；若勞力辛苦之人，一身痠軟無力而痛者，虛也。治法：風則散之，香蘇散。寒則溫之，理中湯。濕則燥之，蒼白二陳湯。虛則補之，補中益氣湯。大抵身痛多屬於寒，蓋熱主流通、寒主閉塞也。無論風濕與虛，挾寒者多，挾熱者少，治者審之。」</p>
<p>傷寒太陽症，重者身疼，詳在各書。重者麻黃湯，輕者羌活、桂枝。中寒症之身疼，指甲必青，詳載《醫門法律》，不外黑鉛丸、理中湯二方。其餘雜症，即此風、寒、濕、虛四者盡矣。屬寒者多，屬虛者尤多，蓋氣虛則身重，重極則痛也。所列各方，治風治濕時多加參、術主要。</p>

<h1>肩背臂膊痛</h1>
<p>「肩臂痛，古方主以茯苓丸，謂痰飲為患也，而亦有不盡然者。凡背痛多屬於風；胸痛多屬於氣；氣滯則痰凝，臟腑之病也，背為諸腧之所伏。凡風邪襲人，必從腧入，經絡之病也。間有胸痛連背者，氣閉其經也。亦有背痛連胸者，風鼓其氣也，治胸痛者理痰氣，治背癰者祛風邪。此一定之理。理痰氣。宜用木香調氣散，並前丸：祛風邪。宜用秦艽天麻湯；挾寒者，加附桂；挾虛者，以補中益氣加秦艽天麻主之。如或風邪痰氣，互相鼓煽，痰飲隨風，走入經絡，而肩背腫湧，則煎丸二方，須酌量合用，治無不效矣。」</p>
<p>肩臂疼痛，本書主以風、痰二義，後列二方以化痰驅風為主，皆初入手時氣血尚盛時之治法也。《臨症指南》此門列十餘方，專以營衛為主，用桂枝、黃耆為君；蓋桂枝行營氣，生黃耆補衛氣也。營衛流通，諸痛自止；初起先遵此書，三五劑後，當遵《監症指南》。</p>
<p><u>茯苓丸</u></p>
<p>茯苓　半夏（薑汁炒，各二兩）　風化硝　枳殼（麵炒，各五錢）　薑汁糊丸，如桐子大，每服二三十丸，淡薑湯下。</p>
<p>此方宜去風化硝，加白朮、膽南星。</p>
<p><u>秦艽無麻湯</u></p>
<p>秦艽（一錢五分）　天麻　羌活　陳皮　當歸　川芎（各一錢）　炙甘草（五分）　生薑（三片）　桑枝（酒炒，二錢）</p>
<p>水煎服。挾寒，加附子、桂枝。</p>
<p>此方應去羌活，加桂枝、生黃耆。</p>
<p>肺脈起於手大指，為手六經之宗，凡肩臂痛以肺為主明矣。有困胃虛不能束筋者，有因肝虛血不能榮筋者，隨症佐治；胃虛加白朮、薏仁、飴糖，肝虛加天麻、羚羊角，如寒酌加桂、萸，更有兼虛者，當詳考《景岳全書》。</p>

<h1>腰痛</h1>
<p>「腰湧，有風、有寒、有濕、有熱、有瘀血、有氣滯、有疾飲、皆標也，腎虛其本也。腰痛拘急，牽引腿足，脈浮弦者，風也。腰冷如冰，喜得熱手熨，脈沉遲，或緊者，寒也，並用獨活湯主之。腰痛如坐水中，身體沉重，腰間如帶重物。脈濡細者，濕也，蒼白二陳湯加獨活主之。若腰重疼痛，腰間發熱，痿軟無力，脈弦數者，濕熱也，恐成痿症。前方加黃柏主之。若因閃挫跌撲，瘀積於內，轉側若刀錐之刺，大便黑色，脈澀或芤者，瘀血也，澤蘭湯主之。走注刺痛，忽聚忽散，脈弦急者，氣滯也，橘核丸主之。腰間腫，按之濡軟不痛，脈滑者，痰也，二陳湯加白朮、萆薢、白芥子、竹瀝、薑汁主之。腰痛以脫，重按稍止，脈細弱無力者，虛也，六君子湯加杜仲、續斷主之。若兼陰冷，更佐以八味丸。大抵腰痛，悉屬腎虛。既挾邪氣，必須祛邪，如無外邪，則惟樸腎而已。然腎虛之中，又須分辨寒熱二症，如脈虛軟無力，溺清便唐，腰間冷痛，此為陽虛，須樸命門之火，則用八味丸。若脈細數無力，便結溺赤，虛火時炎，此腎氣熱髓減骨枯，恐成骨痿。斯為陰虛，須補先天之水，則用六味丸，合補陰丸之類。不可誤用熱藥以灼其陰，治者審之。」</p>
<p>此篇所論，義精法備，與《臨症指南》、《景岳全書》皆合。所列「腰冷如冰。喜得熱手熨。脈沉遲。或緊者。寒也。」此寒字乃外侵之寒，非陽虛內寒也。後列獨活湯，風寒之偏輕偏重，未甚分明；蒼白二陳湯內無下部去濕之藥，各於方下注之。</p>
<p><u>獨活湯</u></p>
<p>治腎虛，兼受風寒濕氣。</p>
<p>獨活　桑寄生　防風　秦艽　威靈仙　牛膝　茯苓（各一錢）　桂心（五分）　細辛　甘草（炙，各三分）　當歸　金毛狗脊（各二錢）　生薑（二片）</p>
<p>水煎服。丹溪云：久腰痛。必用官桂開之方止；寒甚者，更加附子，但有濕熱。則二者皆不宜用。</p>
<p>風多寒少者去桂心、細辛，加虎骨；寒多風少者去防風、秦艽，加鹿角霜、骨碎補，更加豬脊髓同煎，方能取效。</p>
<p><u>蒼白二陳湯</u></p>
<p>蒼朮　白朮（各一錢）　陳皮　茯苓　半夏（薑汁炒）　甘草（炙，各一錢五分）</p>
<p>姜一片、大棗二枚，水煎服。</p>
<p>本方內無下部去濕之藥，宜遵《臨症指南》加川萆薢、蠶沙；濕甚者酌加防已。</p>
<p><u>補陰丸</u></p>
<p>治腎氣熱，腰軟無力，恐成骨痿。</p>
<p>熟地（三兩）　丹皮　天冬　當歸　枸杞子　牛膝　山藥　女貞子　茯苓　龜版　杜仲　續斷（各一兩二錢）　人參　黃柏（各五錢）</p>
<p>石斛四兩熬膏，和煉蜜為丸。每早淡鹽水下三錢。</p>
<p>既用黃柏，不可再用龜版，以傷元陽。蓋腰疼無真實熱之症也。濕熱亦偶有耳。此《丹溪心法》原方，《景岳全書》辨之甚明，詳《本草正》龜版、知母二條下。</p>

<h1>痹（鶴膝風）</h1>
<p>「痹者，痛也。風寒濕三氣雜至，合而為痹也。其風氣勝者為行痹，遊走不定也；寒氣勝者為痛痹；筋骨攣痛也，濕氣勝者為著痹，浮腫重墜也。然既日勝，則受病有偏重矣。治行痹者，散風為主，而以除寒祛濕佐之，大抵參以補血之劑，所謂治風先治血，血行風自滅也。治病痹者，散寒為主，而以疏風燥濕佐之，大抵參以補火之劑；所謂熱則流通，寒則凝塞，通則不痛，痛則不通也。治著痹者，燥濕為主，而以祛風散寒佐之。大抵參以補脾之劑。蓋土旺則能勝濕，而氣足自無頑麻也。通用蠲痹湯加減主之。痛甚者，佐以松枝酒。」</p>
<p>痹症歷考各書，皆以風、寒、濕為主病。後列之方照病加減，已得要領；但痹為久病，氣血必虛，《臨症指南》及《景岳全書》皆以補法參佐，詳載各書，不能備錄，大約營氣虛者，身熱心煩，宜佐人參、桂枝、歸身、大棗，衛氣虛者，佐人參、黃耆、小茴香、故紙；胃虛便溏者，佐白朮、肉豆蔻、茯苓、澤瀉；腰疼者，佐熟地、鹿茸、杜仲；宣補兼施，方能奏效，不可專用消散，致成身寒多汗敗症也。</p>
<p>「復有患痹日久，腿足枯細，膝頭腫大，名曰鶴膝風。此三陰本虧，寒邪襲於經絡，遂成斯症，宜服虎骨膠丸，外貼普救萬全膏，則漸次可愈。失此不治，則成痼疾，而為廢人矣。」</p>
<p>鶴膝風之已成者，風裹敗血，聚於膝骨；蓋骨之下，藥力難到，有善針者。以艾火麝火針刺之；無善針者，照膝上兩穴以艾炙之；瘀血潰膿，用補劑調理方愈。徒恃藥力，奏功者少。</p>
<p><u>蠲痹湯</u></p>
<p>通治風寒濕三氣合而成痹。</p>
<p>羌活（行上力大）　獨活（行下力專，各一錢）　桂心（五分）　秦艽（一錢）　當歸（三錢）　川芎（治風先活血，七分）　甘草（炙，五分）　桑枝（三錢）　海風藤（二錢）　乳香（透明者）　木香（止痛須理氣，各八分）</p>
<p>水煎服。風氣勝者更加秦艽防風；寒氣勝者加附子；濕氣勝者加防已萆薢苡仁；痛在上者去獨活加荊芥；痛在下者加牛膝；間有濕熱者，其人舌乾喜冷、口渴溺赤、腫處熱辣，此寒久變熱也，去肉桂加黃柏三分。</p>
<p>風氣勝者可增虎骨，痛在下者宜去羌活。</p>
<p><u>虎骨膏丸</u></p>
<p>治鶴膝風，並治癱瘓諸症。</p>
<p>虎骨（二斤，銼碎洗淨、用嫩桑枝、金毛狗脊、去毛、白菊花去蒂各十兩、秦艽二兩煎水、熬虎骨成膠、收起如蜜樣和藥為丸、如不足量加煉蜜。）　大熟地（四兩）　當歸（三兩）　牛膝　山藥　茯苓　杜仲　枸杞　續斷　桑寄生（各二兩）　熟附子（七錢）　厚肉桂（去皮、不見火，五錢）　丹皮　澤瀉（八錢）　人參（二兩、貧者以黃耆四兩代之）</p>
<p>上為末，以虎骨膠為丸，每早開水下三錢。</p>
<p>如無全虎骨，可加虎脛骨一對。此方以追風和血為主，不在溫補，可去熟地、附子，加松節、蘇木、獨活。</p>

<h1>痿</h1>
<p>「痿，大症也。諸痿生於肺熱。經云：五臟因肺熱葉焦，發為痿躄。肺氣熱，則皮毛先痿而為肺鳴；心氣熱，則脈痿脛縱，不任地；肝氣熱，則筋痿，口苦而經攣；脾氣熱，則肉痿，肌膚不仁；腎氣熱，則骨痿，腰脊不舉。丹溪治法，瀉南方，補北方。瀉南方則肺金不受刑，補北方則心火自下降。俾西方清肅之令下行，庶肺氣轉清，筋脈骨肉之間，濕熱漸消，而痿可愈也。然經云：治痿獨取陽明，何也？蓋陽明為臟腑之海，主潤宗筋，宗筋主束骨而利機關也。陽明虛，則宗筋縱，帶脈不引，故足痿不用也。由前論之，則曰五臟有熱，由後論之，則曰陽明之虛，二說似異而實同。蓋陽明胃屬濕土，土虛而感濕熱之化，則母病傳子，肺金受傷，而痿症作矣。是以治痿獨取陽明也。取陽明者，所以祛其濕，瀉南補北者所以清其熱，治痿之法，不外補中祛濕、養陰清熱，而已矣。」</p>
<p>痿字從委，言腿足不用如委棄，肺熱葉焦者，血不養筋也，陽明空虛者，宗筋不潤也，合二義而參之，其為筋病也明矣。先生主濕立論，只備一格，且知母、黃柏，豈可加於久臥之人。考《臨症指南》痿門所列二十餘方，從肺熱濕熱者，十中二三，從肝腎虛損者，十中七八，蓋肝主筋、腎主骨也。舒筋如羚羊角、杜仲，息風如天麻、女貞子，此從乎肝者也；壯骨如鹿茸、鹿角、骨碎補、巴戟天，從乎腎者也，主以滋陰為本；滋肺百合、沙參，滋胃飴糖、玉竹，氣虛佐參、術，血虛佐歸、地，不能定以成方也。</p>
<p><u>五痿湯</u></p>
<p>治五臟痿。</p>
<p>人參　白朮　茯苓（各一錢）　甘草（炙，四分）　當歸（一錢五分）　苡仁（三錢）　麥冬（二錢）　黃柏（炒褐色）　知母（各五分）</p>
<p>水煎服。心氣熱，加黃連三分、丹參、生地各一錢；肝氣熱，加黃芩丹皮牛膝各一錢，脾氣熱，加連翹一錢、生地一錢五分；腎氣熱，加生地、牛膝石斛各一錢五分；肺氣熱，加天冬百合各二錢；挾痰，加川貝竹瀝；濕痰，加半夏曲；瘀血，加桃仁紅花。如氣血兩虛，另用十全大補湯。腎肝虛熱、髓減骨枯，兼用虎潛丸主之。</p>
<p>此方去黃柏、知母，加地骨皮、澤瀉、仍合清熱利濕之旨，而無滅火絕陽之患，斯力全璧。仍照所列加減法。</p>
<p><u>虛潛丸</u></p>
<p>龜版（四兩）　杜仲　熟地（各三兩）　黃柏（炒褐色）　知母（各五錢）　牛膝　白芍藥　虎骨（酒炙酥）　當歸（各二兩）　陳皮（四錢）　乾薑（二錢）</p>
<p>為末。酒糊丸，每服二錢。淡鹽水下，加人參一兩尤妙。</p>
<p>此方去知母、黃柏，加牛腿骨髓、骨碎補以治骨痿，曾見奏效。</p>

<h1>腳氣</h1>
<p>「腳氣者，腳下腫痛，即痹症之類也。因其痛專在腳，故以腳氣名之。其腫者，名濕腳氣。不腫者，名乾腳氣。濕腳氣，水氣勝也，檳榔散主之。乾腳氣，風氣勝也，四物湯加牛膝木瓜主之。」</p>
<p>腳氣一症，屬風者少，屬濕者多。屬風者於檳榔散中加桂枝、川椒可愈；屬濕者必須先用補中、歸脾等藥，留其濕在中焦，而後以五苓加川椒利之，方為合法；不可徒用墜藥，因下愈墜而愈腫也；用濕相搏者，散風藥中加蒼朮、澤瀉。濕氣重者，以艾葉、蒼朮、川椒、枯礬為粗末，隔布包腳，取效甚速。</p>

<h1>癘風</h1>
<p>「癘風，癩也，俗稱大麻風。濕熱在內，而為風鼓之，則肌肉生蟲，白屑重疊，搔癢頑麻，甚則眉毛脫落，鼻柱崩壞，事不可為矣。治法：清濕熱、祛風邪，以苦參湯、地黃酒並主之。外以當歸膏塗之，往往取效，未可據視為廢疾而忽之也。」</p>
<p>凡此毒症，內服之藥功居半，外塗之藥功居半，且非毒不能攻毒，輕描淡寫無益也。各參鄙見，注於後方之下。</p>
<p><u>苦參湯</u></p>
<p>苦參（一錢五分）　生地（二錢）　黃柏（五分）　當歸　秦艽　牛蒡子　赤芍　白蒺藜　丹參　丹皮　銀花　貝母（各一錢）　甘菊（三錢）</p>
<p>水煎服。此方內應加防風五分、蒼朮一錢、酒炙大黃五六分，合防風通聖散意，內外兩解，方合治法。蓋胃主肌肉，胃無濁液，肌肉安得腐爛。非大黃不能利之也。</p>
<p><u>加味當歸膏</u></p>
<p>治一切瘡疹，並癰腫收口皆效。</p>
<p>當歸　生地（各一兩）　紫草　木別子肉（去殼）　麻黃　大楓子肉（去殼、研）　防風　黃柏　元參（各五錢）　麻油（八兩）　黃臘（二兩）</p>
<p>先將前九味、入油熬枯、濾去渣、再將油復入鍋內、熬至滴水成珠、再下黃臘、試水中不散為度、傾入蓋碗內、坐水中出火三日、聽搽。</p>
<p>未破之前應用此膏，既破之後，則藥膏毒水兩不相入，可去黃臘、麻油，加銅綠、枯礬、輕粉，改為藥面，拔出毒水，方能結痂。</p>

<h1>噎嗝</h1>
<p>「古方治噎嗝，多以止吐之劑通用。不思吐，濕症也，宜燥。噎嗝，燥症也，宜潤。經云：三陽結謂之隔。結：結熱也，熱甚則物乾。凡噎隔症，不出胃脘乾槁四字，槁在上脘者，水飲可行，食物難入。槁在下脘者，食雖可入，久而復出。夫胃既槁矣，而復以燥藥投之，不愈益其燥乎，是以大小半夏二湯，在噎嗝門為禁劑。子嘗用啟膈散開關，更佐以四君子湯調理脾胃。挾郁者，則用逍遙散主之。雖然藥逍遙而人不逍遙，亦無益也。張雞峰云：此症乃神思間病，總當內觀靜養。斯言深中病情。然其間有挾蟲、挾血、挾痰與食而為患者。皆當按法兼治。不可忽也。」</p>
<p>三陽者，足陽明胃、手陽明大腸、手太陽小腸也。火結三陽，津液乾枯，故大便燥結，食入即吐，甚者食不能入矣。《醫門法律》專主清涼滋潤，深合經旨；《景岳全書》兼用補法，雖與經旨不合，然實有胃氣將絕者，非參莫挽，加入清涼滋潤和血藥內可也。若參、耆、術則斷無用理。《臨症指南》列十餘方；大意皆遵喻氏和血潤燥之旨，惟後列附子、丁香等方，皆治反胃之藥，與此門無干也。余在南方，見前輩於和血潤清火解鬱藥中，加蜣螂攻大腸之干糞，用泥蝤通小腸之道路，十中可愈二三。至於用藥，潤燥則麥冬、天冬、紫石英、梨汁、藕汁、蔗汁、牛乳、麻仁，和血則桃仁、歸尾、赤芍，化痰則竹瀝、牛黃，順氣則山楂、橘紅，用柔不用剛，用潤不用燥而已。食不入者，開賁門，多用杏仁，食入即吐者，開幽門，多加桃仁，斟酌輕重施治。</p>
<p>格咽之與反胃，病雖相似，其病源則有霄壤之別，蓋反胃之因有三：輕者肝經陰邪犯胃，主以代赭旋覆湯加吳茱萸；重者幽門努肉瘀血翻騰，遵古法用虎肚以蝕去之；再重者胃陽虛也，用理中法加粳米、飴糖。或曰：何以別之？蓋格咽症面必黎黑，反胃症則或青或黃；格咽症大便始終於結，攻之不軟，反胃症則或結或清，一攻即瀉；格咽胃脈必堅搏，反胃則浮大或微弱也。</p>

<h1>痢疾</h1>
<p>「古人治痢多用墜下之品，如檳榔枳實厚朴大黃之屬，所謂通因通用，法非不善矣。然而效者半，不效者半。其不效者，每至纏綿難愈。或嘔逆不食，而成敗症者，比比皆是。予為此症，仔細揣摩不捨置，忽見燭光，遂恍然有得。因思火性炎上者也，何以降下於腸間而為痢？良由積熱在中，或為外感風寒所閉，成為飲食生冷所遏，以致火氣不得舒伸，逼迫於下，裡急而後重也。醫者不察，更用檳榔等藥下墜之，則降者愈降，而痢愈甚矣。予因制治痢散，以治痢症初起之時。方用葛根為君，鼓舞胃氣上行也，陳茶苦參為臣，清濕熱也。麥牙山楂為佐，消宿食也。赤芍藥廣陳皮為使，所謂行血則便膿自愈，調氣則後重自除也。製藥普送，效者極多。惟於腹中脹痛，不可手按者，此有宿食，更佐以樸黃丸下之。若日久脾虛，食少痢多者，五味異功散，加白芍黃連木香清而補之。氣虛下陷者，補中益氣湯升提之。若邪熱穢氣，塞於胃脘，嘔逆不食者，開噤散以啟之。若久痢變為虛寒，四肢厥冷，脈微細，飲食不消者，附子理中湯加桂溫之。夫久痢必傷腎，不為溫暖元陽，誤事者眾矣，可不慎與。」</p>
<p>痢疾古方甚多，用之效與不效參半，先生髮表之論，開前賢所未發，與《醫門法律》大旨相合，《法律》主以柴胡升舉少陽，後指邪氣久陷者而言，若治初起，不若葛根之直捷也。至於暑、濕、風、火、寒、熱、輕、重、氣分、血分之分別，當照《臨症指南》用藥之法，參入後方之內；暑、濕相兼者，薑、連、藿香並用；在氣分者多脹悶，厚朴、木香由主；在血分者小腹痛甚，便帶血積，芍藥、沒藥、乳香為主；小便閉者，多用滑石，微佐車前、澤瀉；下寒者佐溫法，肉桂、厚朴並行；氣虛者佐補法，人參、木香並施；久痢陽虛者，悉從溫補，景岳胃關煎及補脾、補中、八味、右歸各方，隨人施治；若虛滑已極，訶黎勒、肉豆蔻所不能止者，必須遵桃花湯意，用赤石脂矣。後列各方及《景岳全書》各方，參以《臨症指南》，兼寒兼熱，臨時斟酌。</p>
<p><u>治痢散</u></p>
<p>專治痢疾初起之時，不論赤白皆效。</p>
<p>葛根　苦參（酒炒）　陳皮　陳松蘿茶（各一斤）　赤芍（酒炒）　麥芽（炒）　山楂（炒，各十二兩）</p>
<p>上為細末、每服四錢、水煎、連藥末服下、小兒減半、忌葷腥麵食煎炒閉氣發氣諸物、本方加川連四兩、尤效。</p>
<p>此藥宜用鮮薑湯下，方得寒熱調濟之妙。</p>
<p><u>補黃丸</u></p>
<p>治痢疾初起、腹中實痛、不得手按、此有宿食也、宜下之。</p>
<p>陳皮　厚朴（薑汁炒，各十二兩）　大黃（酒蒸，一斤四商）　廣木香（四兩）</p>
<p>荷葉水疊為丸、如綠豆大、每服三錢、開水下、小兒一錢。</p>
<p>此南方濕熱之處，急攻熱毒之藥，與西北地氣寒冷者不宜，可以山楂、黃芩二味代之。</p>
<p><u>開噤散</u></p>
<p>治嘔這食不入，書云：食不得入、是有火也、故用黃連，痢而不食，則氣益虛、故加人參、虛人久痢、並用此法。</p>
<p>人參　川黃連（姜水炒，各五分）　石菖蒲（不見鐵，七分）　丹參（三錢）　石蓮子（去殼、即建蓮中有黑殼者）　茯苓　陳皮（各一錢）　陳米（一撮）　冬瓜仁（去殼，一錢五分）　荷葉蒂（二個。）</p>
<p>水煎服。</p>
<p>方中之石蓮子，並非「建蓮中有黑殼者」，系另一種色極黑、質極堅、味極苦者是也。</p>

<h1>泄瀉</h1>
<p>「書云：濕多成五瀉　瀉之屬濕也明矣。然有濕熱、有濕寒、有食積、有脾虛、有腎虛，皆能致瀉，宜分而治之。假如口渴溺赤，下瀉腸垢，濕熱也；溺清口和，下瀉清穀，濕寒也；胸滿痞悶，噯腐吞酸，瀉下臭穢，食積也；食少便頻，面色㿠白，脾虛也。治瀉，神朮散主之。寒熱食積，隨症加藥。脾虛者，香砂六君子湯；腎虛者。加減七神丸。凡治瀉，須利小便。然有食積未消者，正不宜利小便，必俟食積既消，然後利之，斯為合法。」</p>
<p>凡瀉皆脾經症，治之之要有三：曰舒散，曰調達，曰溫固而已。舒散者主在暑濕，香薷、藿香是也；調達者主在時行不正之氣，藿香梗、蘇梗是也；溫固者主在脾虛，白朮、菟絲是也。真脾虛者，又必須補火以助土，故紙、杜仲、胡桃肉是也。久瀉者脾虛胃虛，中氣必陷，補中益氣湯去柴胡，加澤瀉、訶黎勒、肉豆蔻，應手奏效。更有肝脾兩虛、心脾兩虛、腎脾兩虛及肝邪犯胃各症，實在夾熱，實在積聚者，不過十中之一二耳。所列各方，對症者加減酌用，未備者在《臨症指南》案中求之。</p>

<h1>瘧疾</h1>
<p>「瘧者，暴瘧之狀，因形而得名也。經曰：陰陽相搏而瘧作矣。陰搏陽而為寒；陽搏陰而為熱。如二人交爭，此勝則彼負，彼勝則此負，陰陽互相勝負，故寒熱並作也。善治瘧者，調其陰陽，平其爭勝，察其相兼之症，而用藥得宜，應手可愈。大法：瘧疾初起，香蘇散散之，隨用加減小柴胡湯和之。二三發後，止瘧丹截之。久瘧脾虛，六君子湯加柴胡補之。中氣下陷，補中益氣湯舉之。元氣既回，瘧症自止。書云：一日一發者，其病淺，兩日一發者。其病深，三日一發者，其病尤深。然而寒熱往來，總在少陽，久而不愈，總不離乎脾胃。蓋胃虛亦惡寒，脾虛亦發熱也，疏理少陽，扶助脾胃，治瘧無餘蘊矣。」</p>
<p>瘧症寒熱往來，不離少陽，《醫門法律》論之甚詳。邵新甫注《臨症指南》乃神而明之之言，初學者其可舍有定之津梁而望海茫茫也。惟此篇名目未分，須遵各書表而出之：熱而無寒者，癉瘧也。主以知母、花粉、竹葉、麥冬；重者加石膏，更遵《本草綱目》用豌豆苗，古方稱為翹搖者也，立見神效。心煩溺赤、熱多寒少、多暈目昏、六月以前得者，溫瘧也；主以連翹、竹葉、桑葉、花粉、黃芩、女貞；盛暑而發者，暴瘧也。照溫瘧法，多用竹葉、荷葉、香薷，加西瓜水同煎更效。舌白身重、四肢寒者，濕瘧也。主以草果、厚朴，甚者用蒼朮。肝脾肺腎不和，皆能為瘧，雖不離手少陽，而有某經之症，須加某經之藥，無論燥濕寒熱，必佐利痰，熱痰用竹瀝，濕痰用半夏；補虛用參、術而不用黃耆，驅寒用薑、桂而不用附子，消積用山楂而不用大黃；總不可輕用常山截止，使邪氣內攻也。</p>
<p><u>止瘧丹</u></p>
<p>治瘧症二三發後、以此止之、應手取效。</p>
<p>常山（火酒炒）　草果仁（去殼）　半夏曲（薑汁炒）　香附米（酒炒）　青皮（去穰醋炒，各四兩）</p>
<p>真六神麯十二兩為末、用米飲煮糊為丸、如彈子大、硃砂為衣、輕者一丸、重者二丸、紅棗五六枚、煎湯化下。</p>
<p>清晨面東空腹服。</p>
<p>此法非十餘發後，斷斷不可輕用，嘗見邪氣內攻，壞在頃刻也。</p>

<h1>論水腫鼓脹</h1>
<p>「問曰：水腫鼓脹。何以別之。答曰：目窠與足先腫。後腹大者。水也。先腹大。後四肢腫者。脹也。然水腫亦有兼脹者。脹亦有兼水者。須按其先後多寡而治之。今分為兩門。治者宜合參焉。」</p>
<p>水鼓氣鼓，《臨症指南》列為一門。蓋因水腫由濕而得，脾陽虛弱，土不制水，原有不兼氣者；而氣鼓則中焦郁遏，脾胃失其燥消之職，未有不聚水者。此外血蠱、蟲蠱，皆致腫脹，分之不止兩門，合之只是一腫，就症論症，不必斤斤分門別類也。</p>

<h1>水腫</h1>
<p>「水腫症，有表、里、寒、熱、腎、胃之分。大抵四肢腫，腹不腫者，表也；四肢腫，腹亦腫者，里也。煩渴口燥，溺赤便閉，飲食喜涼，此屬陽水，熱也。不煩渴，大便自調，飲食喜熱，此屬陰水，寒也。先喘而後腫者，腎經聚水也。先腫而後喘，或但腫而不喘者，胃經蓄水也。經云：腎者，胃之關也。失閉則水積，然胃病而關亦自閉矣。治胃者，五皮飲加減主之；治腎者，腎氣丸加減主之。或問書云：先喘後腫，其病在肺，何也？答曰：喘雖腫病，其本在腎。經云：諸痿喘嘔，皆屬於下是也。若外感致喘，或專屬肺經受邪，內傷致喘，未有不由於腎者，治者詳之。」</p>
<p>考《臨症指南》用藥之法，理脾、理腎、理肝，皆用溫補；利胃、利腸、利膀胱，皆用清泄；臟無不寒，腑無不熱，二語盡之矣。腎陽虛而後脾土敗，土不制水，浸入脈絡，而後腫作；亦有因肝經濁陰犯脾，脾陽因之而敗者，來路雖分兩條，成病統歸於脾，宜以白朮為君藥。因腎虛者必腰疼，佐以肉桂；由肝逆者必口酸、口昔，佐以吳茱萸；此治臟之大法也。治腑之法，胃宜厚朴、桃仁，小腸宜木通、椒目，膀胱亦豬苓、澤瀉；腎虛者佐巴戟天、淫羊藿，肝逆者佐木瓜、白芍，此治腑之大法也。總用川楝子、延胡索，引陽藥以入陰絡，方能見效。後列之五皮飲，初用甚效，及腫消一半之後，用之無功；蓋皮只行皮，僅消皮裡膜外之水，不能直達深處，必欲求愈，用前數法十餘劑後，須用《本草綱目》中雞屎、蝦蟆、葡萄須各古方，乃能攻去病根。患此症者，腹內皆有極黑極黏之物，黏著腸胃，乃作腫之根。嘗見將愈之時，此物從大便出；健脾和胃，調理而愈。</p>
<p>水症項筋必動，若氣粗或喘，乃水入肺管，宜用蘇子、葶藶瀉肺之品，勿作氣虛看也。</p>
<p><u>五皮飲</u></p>
<p>治胃經聚水。乃通用之劑。華佗《中藏經》之方也。累用累驗。</p>
<p>大腹皮（黑豆汁洗）　茯苓皮　陳皮　桑白皮（各一錢五分）　生薑皮（八分）</p>
<p>水煎服。仲景云：腰以上腫，宜發汗。加紫蘇、秦艽。荊芥、防風；腰以下腫。宜利小便。加赤小豆，赤茯苓、澤瀉、車前子、萆薢、防己；若大便不通，宜下之，加大黃、葶藶；腹中脹滿，加蘿蔔子、厚朴、陳皮、麥芽、山楂；體虛者，加白朮、人參、茯苓。審是陰水，加附子、乾薑、肉桂。審是陽水，加連翹、黃柏、黃芩；挾痰者。加半夏、生薑。既消之後，宜用理中湯健脾實胃。或以金匱丸溫暖命門。或以六味加牛膝、車前，滋腎水，清餘熱，庶收全功。</p>
<p>有聚得水腫四肢腫痛。甚至頭面腫痛者，乃水風發黃。宜五皮飲加海桐皮、白蘚皮、五加皮、赤小豆、車前等類，一汗而愈。</p>
<p><u>金匱腎氣丸</u></p>
<p>治腎經聚水，小便不利，腹脹肢腫，或痰喘氣急，漸成水蠱，其效如神。然腎經聚水，亦有陰陽之分，不可不辨也。經云：陰無陽無以生，陽無陰無以化。經又云：膀胱者，州都之官，津液藏焉，氣化則能出矣。假如腎經陽虛，陰無以生，真火不能制水者，亦用此丸。假如腎經陰虛，陽無以化，真陰不能化氣者，宜用本方去附桂主之。東垣云：土在雨中化力泥，陰水之象也。河間云；夏熱之甚，庶土蒸溽，陽水之象也，知斯意者，可以治水矣。</p>
<p>大熟地（八兩）　山藥（四兩）　山萸肉　丹皮　澤瀉　車前子　牛膝（各二兩）　茯苓（六兩）　肉桂（一兩）　附子（一兩虛寒甚者倍之）</p>
<p>用五加皮八兩、煮水一大碗、濾去渣和藥、加煉蜜為九、如桐子大、每早開水下四錢。前症若屬陰虛，本方去桂附、加文蛤牡蠣各二兩；濕熱甚者、加黃柏五錢、不用五加皮、以萆薢八兩熬汁代之。</p>
<p>用腎氣丸，即溫臟利腑之意，故用之往往見效。但水腫乃陰絡閉塞，宜用陽剛之藥。熟地至陰至膩，最能閉絡，與此症大不相宜。試觀《臨症指南》此篇共列八十餘方，並無一方用地黃者，可以知用藥之法矣。其屬實在陰虛者，不妨以枸杞、沙苑代之；所列加用黃柏之法，亦指病之初起而言，膀胱不通，蒸為蘊熱，不得不清，滑石佐黃柏最良。</p>
<p>後引東垣、河間二說，其意深遠，驟難領會，君子於所不知，益闕如也。</p>

<h1>論血分水分</h1>
<p>「婦人經水先斷，後發腫者，名曰血分，通經丸主之；先發水腫，然後經斷者，名曰水分，五皮飲送下通經丸主之。」</p>
<p>先水腫而後斷經者，多由水入子臟。《本草綱目》禽部內，所列雞矢醴、牽牛酒二方，極為對症，蓋雞屎乃子臟之引藥，治水之猛劑也。遇信醫不疑之家，可以試之。</p>
<p><u>通經丸</u></p>
<p>當歸尾　赤芍藥　生地黃　川芎　牛膝　五靈脂（各一兩）　紅花　桃仁（各五錢）　香附（二兩）　琥珀（七錢五分）</p>
<p>蘇木屑二兩煎酒，和砂糖，熬化為丸，如桐子大。每服三錢，酒下。體虛者用理中湯送下。若血寒、加肉桂五錢。</p>
<p>通經丸方內少茜草、鼠糞二味，不能直透衝脈，宜加之。五靈脂過破肝血，慎用！</p>

<h1>鼓脹</h1>
<p>「或問方書，有鼓脹蠱脹之別，何也？答曰：鼓者，中空無物。有似於鼓；蠱者，中實有物，非蟲即血也。中空無物，填實則消，經所謂塞固塞用是也。中實有物，消之則平，經所謂堅者消之是也。然脹滿有寒熱虛實淺深部位之下同，若不細辨，何由取效？假如溺赤便閉，脈數有力，色紫黑。氣粗厲，口渴飲冷，唇焦舌燥，多屬於熱。假如溺清便溏，脈細無力，面色㿠白，氣短促，喜飲熱湯，舌潤口和，多屬於寒。又如腹脹，按之不痛，或時脹時減者，為虛。按之愈痛，腹脹不減者，為實。凡脹滿，飲食如常者，其病淺。飲食減少者，其病深。且脹有部分，縱是通腹脹滿，亦必有脹甚之部。與病先起處，即可知屬何臟腑，而用藥必以之為主。東垣治脹滿，不外枳朮補中二方，出入加減，寒熱攻補，隨症施治。予因制和中丸普送，效者甚多，有力者。當修合以濟貧乏。又氣虛中滿，宜用白朮丸，而以六君子湯佐之。中空無物，不用枳實，恐傷氣也。」</p>
<p>此所謂鼓脹，係指有氣無水者而言。其因有二：一為氣血不相融合，氣孤行而作脹，法當用補氣藥，加丹參須、當歸鬚、川楝子，引氣入血絡，其脹自止，健中湯加參，術及前三味。脹甚者少加宣行之藥。破氣之藥至厚朴、木香而止，萬不可用三稜、莪朮；補氣之藥至人參而止，萬不可用黃耆。一由少陽之氣不升，郁遏於下而作脹滿，所列和中丸意加柴胡、青蒿必愈。南方春梅花得少陽之氣最先，用治此症，大有奇功。</p>
<p>所列寒熱二條，不可不分，不可過分。總是臟寒腑熱，先熱後寒，腑熱宜清利，臟寒宜溫宣。所列虛實之分，亦不可拘泥，總是先實後虛。凡此等症，不得不補瀉兼施，必須補多於瀉，方能保留性命，況瀉後再補，何如少瀉。</p>
<p>所列「脹有部分。總是通腹脹滿。亦有脹甚之部與病先起處。」認病之法，甚得要領，後篇積聚門和中丸下按經加藥之法可遵。血蠱、蟲蠱，《醫宗金鑑》自有專門，茲不復贅。</p>
<p><u>三黃枳朮丸</u></p>
<p>治熱食所傷，肚腹脹痛，並濕熱脹滿，大便閉結者。</p>
<p>黃芩（酒炒，一兩）　黃連（酒炒，四錢）　大黃（酒蒸，七錢五分）　神麯（炒）　枳實（麵炒）　白朮（陳土炒）　陳皮（各五錢）</p>
<p>荷葉煎水疊為丸，如綠豆大，每服一錢五分、或二三錢、量人虛實用。</p>
<p>本門中偶有不得不下之症，故此法不得不存，以備一格。然用大黃推積滯則可，用芩、連復傷胃陽則不可，必不得已而用之，京城劉燏丹山楂丸較妥。</p>

<h1>積聚</h1>
<p>「積者，推之不移，成於五臟，多屬血病；聚者，推之則移，成於六腑，多屬氣病。」</p>
<p>既曰積聚，必有物焉，斷非虛氣，若只虛氣。仍是氣鼓也；但當認氣中有物，不可直指為氣病，一味消耗。</p>
<p>「治積聚者，當按初中末之三法焉。邪氣初客，積聚未堅，宜直消之，而後和之。若積聚日久，邪盛正虛，法從中治，須以補瀉相兼為用。若塊消及半，便以末治，即住攻擊之藥，但和中養胃，導達經脈。俾榮衛流通，而塊自消矣。更有虛人患積者，必先補其虛、理其脾，增其飲食，然後用藥攻其積，斯為善治，此先補後攻之法也。初治，太無神功散主之；中治，和中丸主之；末治，理中湯主之。予嘗以此三法，互相為用，往往有功。」</p>
<p>篇中所分初中末三法，至精至當，導達經脈、調理脾胃二法，深合經旨，但後列之方，尚未全備。此門各書議論不一，景岳主補，斷不有遵，惟《東垣十書》內巴豆法最善，巴豆雖有大毒，削堅之力甚猛，用後即飲黑豆湯速解其毒，使無傷脾胃。仍應詢問病人，得病之初，因食某物而得，即用某物燒灰，加入丸內，每有奇效。《本草綱目》中古方甚多，皆可擇用。</p>
<p><u>和中丸</u></p>
<p>白朮（陳土炒，四兩）　扁豆（炒，三兩）　伏苓（一兩五錢）　枳實（麵炒，二兩）　陳皮（三兩）　神麯（炒黑）　麥穿（炒）　山楂（炒）　香附（薑汁炒，二兩）　砂仁（一兩五錢）　半夏（薑汁炒，一兩）　丹參（酒蒸，二兩）　五穀蟲（酒拌炒焦黃色，三兩。）</p>
<p>荷葉一枚，煎水疊為丸。每日上午下午開水下二錢。此方不寒不熱，和平之治法也。</p>
<p>書云：肝之積，在左肋下，名曰肥氣。加柴胡、龜甲、青皮、莪朮；肺之積，在右肋下。名曰息賁。加自蔻仁、桑白皮、鬱金；心之積。起臍上，上至心下，大如臂，名曰伏梁。加石菖蒲、厚朴、紅花、莪朮；脾之積，在胃脘，腹大如盤，名曰痞氣。加厚朴；腎之積，在臍下，發於小腹，上衝心而痛，名曰奔豚。另用奔豚丸主之；熱積，加黃連、黃芩；寒積，加肉桂，乾薑，附子；酒積，加葛根；痰積，加半夏；水積，加桑白皮，赤小豆；血積，加桃仁，紅花，乾漆；肉積，加阿魏，山楂。</p>
<p>按部認痛，按經用藥之法甚善，不但積聚氣鼓一門，一切疝氣癥瘕等症，無不當遵。宜細細問明部位為要。如系男子之病，用手親揣，更無錯誤。</p>
<p><u>奔豚丸</u></p>
<p>川楝子（煨、去肉，一兩）　茯苓　桔子（鹽酒炒，各一兩五錢）　肉桂（三錢）　附子（炮）　吳茱萸（湯泡七次，各五錢）　荔枝子（煨，八錢）　小茴香　木香（各七錢）</p>
<p>熬砂糖為丸。每服二錢，淡鹽湯下。若有熱者，去附桂。</p>
<p>此方用藥簡淨，不止專治奔豚，凡疝氣癥瘕一切下元寒冷之症，皆宜。惟非極寒，不可輕用附子。方內少沉香、牛膝二味，不能達會陰穴，但非中氣極虛之人，可酌加之。又方內少陰分藥，初服恐其發燒及便結煩渴，雖不宜用熟地，枸杞、沙苑子、巴戟天可酌加之。</p>
<p>奔豚者，即寒瘕上衝之症，皆屬肝腎虛寒而滯者，非奇病大病，暖而宣之即開。</p>

<h1>疝氣</h1>
<p>「疝者，少腹痛，引睪丸也。經云：任脈為病，男子外結七疝，女子帶下瘕聚。七疝者：一曰沖病。氣上衝心，二便不通也；二曰狐疝，臥則入腹，立則出腹也：三日㿗疝，陰囊腫大，如升如斗也；四曰厥疝，肝氣上逆也；五曰瘕疝，腹有癥痞，痛而熱，時下白濁也；六曰㿉疝，內裹膿血也；七曰㿉癃疝，內裹膿血。小便不通也；愚按厥疝即沖疝，㿉癃疝即㿉疝，其名有七，其實五者而已。病之根起於各臟，而歸併總在厥陰。以肝主筋又主痛也，治疝之法非一，而分別不外氣血。氣則遊走不定，血則凝聚不散也，橘核丸加減主之。」</p>
<p>按《素問骨空論》「任脈為病，男子內結七疝，女子帶下瘕聚。」本書以「內」為「外」。顯系刊誤。此篇所分七疝及用藥之法，至簡至當，後列丸方，亦極精慎；分兩中君臣未分，另注方下，其未敢驟列桂、萸者，以此症肝腎任脈雖寒，而下焦之火逼入小腸膀胱，多現浮熱故也，並非違悖古法。觀《臨症指南》篇中有梔子、蘆薈二方，可知疝氣亦多臟寒腑熱也。寒為本、熱為標，熱在先、寒在後，方合仲景立法之旨。鄒滋九論中「九疝屬熱」一語，不但違悖仲景，且大非葉氏立方之意也。</p>
<p>此症非橘核荔枝核重墜等藥，不能引熱藥以達病所。然患此症者，陽氣未衰，中氣多虛，溫暖重墜之藥。只可為丸，不可用湯，恐其牽動中氣也。服丸藥四五次後，必須夾服補中益氣、歸脾等湯一劑，以保中氣。且已墜之脈絡，墜之一升，方能奏效。</p>
<p><u>橘核丸</u>　通治七疝</p>
<p>橘核（鹽酒炒，二兩）　小茴香　川楝子（煨、去肉）　桃仁（去皮尖及雙仁者炒）　香附（醋炒）　山楂子（炒，各一兩）　廣木香　紅花（各五錢）</p>
<p>以神麯三兩打糊為丸，每服三錢。沖疝，用白茯苓一錢、松子仁三錢、煎湯送下；狐疝，用當歸二錢、牛膝一錢五分、煎酒送下；㿗疝，用白茯苓陳皮赤茯苓各一錢，煎湯送下：厥疝、治同沖疝；瘕疝，用丹參白茯苓各一錢五分、煎湯送下；㿉疝、本方內加五靈脂一兩、醋炒、赤芍一兩五錢、酒炒、服時用牛膝一錢五分、當歸尾三錢、煎酒送下。㿉癃疝、治法同上。此症苦寒氣深重、本方內加吳茱萸內桂心各五錢、甚則加附子一枚。若表寒束其內熱、腹痛熱辣、或流白濁者。本方內加黑山梔五錢、川萆薢一兩、吳茱萸三錢、湯泡七次、吳萸散表寒、山梔清內熱、二者並行、丹溪心法也。</p>
<p>照此方定分數，小茴香當用四兩，以合古法。加龜版五錢，以透任脈。既用桃仁，可去紅花。</p>
<p>「小腸氣者，臍下轉癰，矢氣則快。」</p>
<p>照前篇奔豚丸加木通、沉香為丸，兼用湯藥補劑。</p>
<p>「膀胱氣者，臍熱癰，澀於小便，即胞痹也。」</p>
<p>照前篇奔豚丸意加豬苓、澤瀉、滑石、桃仁。</p>
<p>「痃者，狀如弓弦，筋病也。」</p>
<p>照前篇奔豚丸意加鱉甲、青皮、鉤藤、蔥管為丸。去附子。</p>
<p>「癬者，隱伏於內，疼痛著骨也。」</p>
<p>此條如系婦人，即是症病之重者。如系小兒，在疳癬門中。如系男子，就症論症。大約丸藥宜暖、宜消、宜化，湯藥宜調補脾胃。</p>

<h1>痰飲</h1>
<p>「凡病未有不發熱、不生痰者，是痰與熱。乃雜病兼見之症。似無客專立法門矣，然亦有雜病輕而痰飲重，則專以痰飲為主治。」</p>
<p>內寒外寒，內熱外熱，皆能生痰，但當曰無病不生痰，不可加熱字混之。又「專以痰飲為主治」句，「專」字擬改為「兼」字似較妥。</p>
<p>「書有五痰之名，以五臟分主之也。五飲之名，隨症見也。其實猶未確當，大抵痰以燥濕為分，飲以表裡為別。濕痰滑而易出。多生於脾，脾實則消之，二陳湯，甚則滾痰丸。脾虛則補之，六君子湯。兼寒兼熱，隨症加藥，燥痰澀而難出，多生於肺。肺燥則潤之，貝母瓜蔞散。肺受火刑，不能下降，以致真水上泛，則滋其陰，六味丸。飲有在表者，乾嘔，發熱而咳，面目四肢浮腫，香蘇五皮散。飲有在裡者，或停心下，或伏兩腋，咳則相飲而痛。或走腸間，轆轆有聲。用小半夏加茯苓湯，隨其部位而分治之，此治痰飲之大法也。書云：治痰須理脾。以痰屬濕，脾土旺則能勝濕耳。治痰如此，飲亦宜然，然脾經痰飲，當健脾以祛其濕。若腎虛水泛，為痰為飲者。必滋其腎。腎水不足，則用六味。若命門真火衰微，寒痰上泛者則用八味腎氣丸。補火生土、開胃家之關，導泉水下流，而痰飲自消矣。」</p>
<p>古法痰飲皆為一門。飲者水也，脾胃失職，飲聚為痰也。《臨症指南》分為兩篇，痰為一門，痰飲為一門，後學始得認病之法。此篇題目遵古渾列，篇中分析詳明，論病曉暢，列方亦合古法，誠初學之津梁也。再參以《臨症指南》中二篇，可得大要矣。</p>
<p>痰因病生，病燥則痰燥，病濕則痰濕，寒病生寒痰，熱病生熱痰，因風者痰中有風，因火者痰中夾火；七情六淫之病，皆能使津液凝聚而為痰，不專指肺胃二經，肺胃乃其聚處也。七情之病為內傷，但治其病則痰自消，六淫之邪為外感，兼治其痰而病亦去，即如風痰一症，風在痰中。一豁其痰，風亦隨之去矣。余可類推。篇中方法未備。宜參合各書：理脾胃宜遵東垣，補虛損亦遵景岳，詳究病源，宜讀《醫門法律》大論，變症百出，隨機施治，宜熟記《臨症指南》用藥之法，總不外「痰因病生」一語也。</p>
<p>治痰飲之法，當參以水腫、嘔逆、濕症、脾虛等門，而加以豁痰之藥，與治痰不甚相同，《醫門法律》支飲論，，獨得妙義，當細究之。</p>
<p><u>滾痰丸</u>　治實熱老痰，變生怪症。</p>
<p>大黃（蒸片刻）　黃芩（炒，各四兩）　青礞石（硝煅金色）　沉香（細銼，各三錢）　辰砂（細研、水飛，二錢）</p>
<p>水疊為丸，辰砂為衣、每服一二錢，開水下。此物但取痰積、並不刮腸大瀉，為老痰要藥。</p>
<p>青礞石煅制如法，誠為治痰要品。嘗見前輩治一寒痰，飲食不進者數日，姜附六君子湯中加入一錢，其痰豁然吐出，如墨如黛，飲食遂進，用參朮調理脾胃而愈。又見治一傷風症，表邪未退，人已昏迷，痰聲如拽鋸，桂枝湯中加入二錢，痰墜，汗亦隨出，誠不可少之藥。然原方味太猛烈，日擊壞事者多矣，不可輕用！不得已而用之，須與大劑參朮湯藥間服。</p>

<h1>嘔吐噦呃逆</h1>
<p>「嘔者，聲與物俱出。吐者，有物無聲。噦者，有聲無物，世俗謂之乾嘔。東垣以此三者，皆因脾胃虛弱或寒氣所客，或飲食所傷，以致氣逆而食不得下也，香砂二陳湯主之。然嘔吐多有屬火者，經云：食不得入，是有火也；食入反出，是有寒也。若拒格飲食，點滴不入者，必用姜水炒黃連以開之，累用累效。至於食入反出，固為有寒。若大便閉結，須加血藥以潤之，潤之不去，宜蜜煎導而通之。蓋下竅開，上竅即入也。其有脾胃虛弱而吐者，補中為主，理中湯。其有因痞積滯礙而吐者，消積為主，和中丸。若命門火衰不能生土者，補火為主，八味丸。</p>
<p>嘔吐二字，似不可分，蓋臨吐未有不嘔者，若無聲脫然而出，是胃陽已敗，多不治之症矣！噦為有聲無物，有因腎虛肺氣上逆者，補腎藥中加沉香、磁石；有因小腸之氣不降者，平胃藥中加木通、桃仁；有因肝氣上逆沖胃者，平胃藥中加青皮、白芍；非專治脾胃所能愈也。</p>
<p>篇中補火生上之論，有合古法，其餘系東垣一家之言，與《臨症指南》不合，觀《臨症指南》篇中，一主於肝；有肝火犯胃、肝寒犯胃、肝腎兩虛、衝脈上逆犯胃諸方，不外辛散、苦泄、酸斂、鎮墜等法；辛散多用吳萸、淡姜；苦泄多用黃連、楝子；酸斂則烏梅、木瓜；鎮墜則旋覆、赭石；蓋非葉氏一家之言，實遵《內經》之旨也。</p>
<p>「復有呃逆之症，氣自臍下直衝上，多因痰飲所致，或氣鬱所發，扁鵲丁香散主之。若火氣上衝，橘皮竹茹湯主之。至於大病中見呃逆者，是謂土敗木賊，為胃絕，多難治也。」</p>
<p>呃逆之氣，起自臍下，屬肝腎兩經不固，病在丹田，溫下藥中加沉香；起自腰脊者，病在腎與腎脈，溫下藥中加鹿角霜；皆應用丸藥，而以白蔻仁、甜杏仁等藥煎湯送下。</p>
<p><u>理中湯</u></p>
<p>乾薑　炙甘草（各一錢）　人參（二錢）　白朮（二錢）</p>
<p>陽虛胃寒之症可用，胃氣將敗者，加丁香亦無妨。</p>
<p><u>和中丸</u></p>
<p>白朮（陳土炒，四兩）　扁豆（炒，三兩）　茯苓（一兩五錢）　枳實（麵炒，二兩）　陳皮（三兩）　神麯（炒黑）　麥芽（炒）　山楂（炒）　香附（薑汁炒，二兩）　砂仁（一兩五錢）　半夏（薑汁炒，一兩）　丹參（酒蒸，二兩）　五穀蟲（酒拌炒焦黃色，三兩）</p>
<p>此方攻多補少，且藥味過燥，用治積聚則可，與嘔吐症不甚相宜。</p>
<p><u>八味丸</u></p>
<p>大熟地（四兩）　山萸肉（去核）　山藥（各二兩）　丹皮　茯苓　澤瀉（各一兩五錢）　肉桂　熟附子（各五錢）</p>
<p>大便乾，小便利者，去澤瀉，加懷牛膝。</p>
<p><u>扁鵲丁香散</u></p>
<p>丁香（五個）　柿蒂（五個）　甘草（炙，五分）　乾薑（一錢）</p>
<p>此方主傷寒販逆胃氣將敗之症，與雜症呃逆全不相涉。</p>
<p><u>橘皮竹茹湯</u></p>
<p>陳皮（去白，二錢）　竹茹（一團）　半夏　人參　甘草（各一錢）</p>
<p>一方加麥冬、赤茯苓、薑、棗。</p>

<h1>三消</h1>
<p>「經云：渴而多飲為上消。消穀善飢為中消。口渴，小水如膏者，為下消。三消之症，皆燥熱結聚也。大法：治上消者，宜潤其肺，兼清其胃，二冬湯主之，治中消者，宜清其胃，兼滋其腎，生地八物湯主之；治下消者，宜滋其腎，兼補其肺，地黃湯，生脈散並主之。夫上消清胃者。使胃火不得傷肺也；中消滋腎者，使相火不得攻胃也，下消清肺者，滋上源以生水也。三消之治，不必專執本經，而滋其化源，則病易痊矣。書又云：飲一溲一，或飲一溲二，病勢危急，仲景用八味丸主之，所以安固腎氣也。而河間則用黃耆湯和平之劑，大抵肺腎虛而不寒者，直用此法。」</p>
<p>上消屬肺燥胃枯，其病在肺胃，其本在腎，因腎水乾涸、火不守位而上騰；治法，上當用二冬、花粉、梨汁、蔗汁、文蛤，甚者石膏、黃芩煎湯頻飲，以救燎原之勢；下當用熟地、枸杞、磁石、肉桂、牛膝引火歸元，以治本；詳《醫門法律》大淪，闡發仲景妙義，水得火則溫氣上升，如蒸酒然，云騰致雨，如露如珠者，自華蓋而下，灑布於肺，則津液生而渴止矣。此法當用丸藥，二法輪流間服，不可偏廢，偏廢必死！</p>
<p>中消者，渴而兼消穀，非專指消穀也。其病在胃，其本在心脾，更當求之中焦氣分。蓋中焦之氣，發於心脾，故景岳玉女煎取用石膏，《臨症指南》取用犀角，其治氣分也明矣；石斛、玉竹在所必需，梨、藕、蔗汁亦不可少，切忌參、耆、桂、附，又忌檳、砂、枳、樸。</p>
<p>下消者，熱在膀胱，其本在腎。腎之本又在肺，宜兼滋之，所謂壯水之主，以制陽光是也。此症多中氣不攝，丹溪黃耆湯可取，但須多加花粉以生津液，腎為膀胱之本，當牢固腎關。如龍骨、牡蠣、鹿茸、骨碎補加入大劑熟地、枸杞藥內，引以童便，庶乎有濟；忌一切利水之藥，亦不可用韭子、鎖陽收縮之劑。</p>
<p>「又按仲景少陰篇云：腎經虛。必頻飲熱湯以自救。乃同氣相求之理。今腎經虛寒。則引水自灌。虛寒不能約制。故小便頻數。似此不必與消症同論。宜用理中湯。加益智仁主之。」</p>
<p>按此即仲景金匱腎氣丸症也，不可改用理中湯，傷耗胃陰。</p>
<p><u>二冬湯</u>　治上消。</p>
<p>天冬（去心，二錢）　麥冬（去心，三錢）　花粉（一錢）　黃芩（一錢）　知母（一錢）　甘草（五分）　人參（五分）　荷葉（一錢）</p>
<p>水煎服。此方應去知母，加柿霜、新蜜及梨、藕、蔗汁等類。</p>
<p><u>生地八物湯</u>　治中消。</p>
<p>生地（三錢）　山藥（一錢五分）　知母（一錢五分）　麥冬（三錢）　黃芩（一錢）　黃連（一錢）　黃柏（一錢）　丹皮（一錢五分）　荷葉（二錢）</p>
<p>水煎服。此方應去知母、黃柏，加石斛、玉竹，甚者可加石膏。</p>
<p><u>黃耆湯</u>　治肺腎兩虛，飲少瘦多</p>
<p>黃耆（三錢）　五味子（一錢）　人參　麥冬　枸杞子　大熟地（各一錢五分）　水煎服</p>
<p>此方宜加花粉、百合、北沙參、去心蒸過天冬，否則必致發燒。</p>

<h1>熱淋</h1>
<p>「淋者，小便頻數，不得流通，溺已而痛是也，大抵由膀胱經濕熱所致。然淋有六種：一曰石淋，下如砂石，有似湯瓶久在火中，底結白鹼也，益元散加琥珀末主之；二曰膏淋，滴下濁液，加脂膏也，萆薢飲主之；三曰氣淋，氣滯不通，水道阻塞，臍下妨悶脹痛是也，假蘇散主之；四曰血淋，瘀血停蓄。莖中割病難忍是也，生地四物湯加紅花桃仁花蕊石主之，或兼服代抵當丸，五曰勞淋，勞力辛苦而發，此為氣虛，以至氣化不及州都，補中益氣湯主之；六曰冷淋，寒氣堅閉，水道不行，其症四肢厥冷，口鼻氣冷，喜飲熱湯是也，金匱腎氣湯主之。」</p>
<p>淋症有虛有寒，不當冠以熱字，當照各書以「淋濁」二字名篇。此段系淋症門，下段系濁症門，自分作兩篇看。</p>
<p>篇中分析五淋，極顯極明，後列各方，悉合古法，病初起時，壯者服之即愈，然此症虛者甚多，有當佐滋陰者，可加熟地、枸杞、巴戟天等味，腎陰足則膀胱氣化也；有中氣下陷者，當佐人參、大棗、炙甘草，胃氣充則小腸氣暢也；更有久淋而膀胱氣陷，愈利愈痛者，自升舉膀胱之氣，即於後列各方中加桂枝，使餘熱從經絡而散，往往見效，此景岳五苓散所以用桂枝為君也。</p>
<p>「更有過服金石熱藥，敗精流注，轉而為淋者，又老人陽巳痿，而思色以降其精，則精不出而內敗，以致大小便牽痛如淋，愈痛則愈便，愈便則愈痛，宜用前萆薢飲、去黃柏、加菟絲遠志導去其精，然後用六味地黃湯補之，方為有益。淋症多端，未可執一而論也。」</p>
<p>此段應用濁症看。按濁症多由忍精不泄所致。精已離位，黏於精管溺管交會之間，極澀極痛，不急利去，則發為便毒矣。又有夜夢交接，將泄忽醒，精未極出者，其病亦同，當用萆薢、滑石、瞿麥、匾蓄、海金砂、文蛤等類，急化其淤，甚者遵古法加硝石、礬石；更有曠夫，夜夜思色，相火內煽。精常離位，每有真精一點，似黏不黏，隨陽萎而下，似泄未泄，其症甚重，吐血、干嗽、骨蒸，多由於此，當清其心火，伏其相火，微固其精，六味地黃湯加硃砂、蓮子心、牡蠣、蓮鬚，重用丹皮，與治相火遺精法相等，但彼以澀為主，此以清為主耳。</p>
<p><u>益元散</u></p>
<p>甘草（一兩）　滑石（白膩者水飛過，六兩）</p>
<p>此方加秋石更效。</p>
<p><u>萆薢飲</u>　治膏淋並治諸淋。</p>
<p>萆薢（三錢）　文蛤粉（研細）　石韋　車前子　茯苓（各一錢五分）　燈心（二十節）　蓮子心　石菖蒲　黃柏（各八分）</p>
<p>此方甚合古方，歷用有效。</p>
<p><u>代抵當丸</u></p>
<p>生地　當歸　赤芍（各一兩）　川芎　五靈脂（各七錢五分）　大黃（酒蒸，一兩五錢）</p>
<p>砂糖為丸。每服三錢，開水下。</p>
<p>此方只走大腸，在此篇中當加木通、滑石、琥珀、澤瀉、椒目等類。</p>

<h1>小便不通（關格　孕婦轉脬）</h1>
<p>「小便不通，謂之癃閉。癃閉與淋症不同，淋則便數而莖痛，癃閉則小便點滴而難通。東垣云：渴而小便不利者，熱在上焦氣分也，宜用四苓散加山梔、黃芩等藥以分利之。若大便亦閉，加大黃元明粉之類。不渴而小便不利者，熱在下焦血分也，宜用滋陰化氣之法，若滋腎丸之類是已。大法無陽則陰無以生，無陰則陽無以化。下元真陰不足，則陽氣不化，必滋其陰。若下元真陽不足，則陰氣不生，必補其陽。譬如水腫鼓脹，小便不通者，服金匱腎氣丸，而小便自行，陰得陽以生也。復有除桂附服之而亦效者，陽得陰而化也，此陰陽氣化之精義也。」</p>
<p>水穀入胃，未能分清，同入於小腸，雖分而猶同行也。至下口分為兩歧，濁而有物者入大腸，清者積於膀胱之上，膀胱有下口無上口，其水其自微空而下，其孔若有若無，滲入其內也；初入時附入四周，積而下注，至於膀胱下口而後從溺管出，小腸不利者，宜木通；眼孔不利者，宜椒目以刺之；膀胱火盛，其鼓如球，水不下者宜葡萄以墜之；膀胱內氣滯，水不得降者，宜豬苓以和之；下口不開者；宜車前子滑石；溺管不通者，宜甘草梢；此有形之治法也。至若無形之治，一曰天水不降，全責之肺，但見胸脹氣促者、以滋肺降肺為主，百合、沙參、桑白皮、枇杷葉之類是也。有腎氣不化者，滋陰藥內以巴戟天、淫羊藿為主，偏寒者加入桂附八味丸內，偏熱者加入知柏八味丸內。更有濕熱癃閉者，遵古法用螻蛄焙焦為末，以酒送下，藉其下鑽之性，屢見奇效。《臨症指南》所列各方，亦不外此數者，詳繹其藥味可也。此篇引東垣熱在上焦一語，即喻嘉言主肺之說，特未明顯耳。所列四苓散加潤肺降肺之藥可也。若與大便同閉，其病危在頃刻，責在小腸下口，非黑醜不能開，熱症與大黃同用，寒症與去油巴豆同用，加和血利水之藥，仍以木通、猾石為主。</p>
<p>「更有小便不通，因而吐食者，名曰關格。經云：失則不得小便，格則吐逆。關格者，不得盡其命矣，宜用假蘇散治之。」</p>
<p>古人名噎膈多曰關格，三陽火盛，大便多結；三陽者，足陽明胃，手陽明大腸、手太陽小腸也，若小便亦閉，是燥又傳膀胱，而四陽矣。故曰「不得盡其命矣」。亦惟清潤藥中多加秋石、滑石、童便而已。按此條當附噎膈篇下，不應在此。</p>
<p><u>茯苓升麻湯</u></p>
<p>茯苓（赤白，各五錢）　升麻（一錢五分）　當歸（一錢）　川芎（一錢）　苧麻根（三錢）</p>
<p>急流水煎服。或調琥珀末二錢服，更佳。</p>
<p>此方治孕婦轉脬有效，《本草綱目》滑石下附方，亦當參酌。</p>

<h1>大便不通（大小腸交　遺屎　脫肛）</h1>
<p>「經曰：北方黑色，入通於腎，開竅於二陰，是知腎主二便。腎經津液乾枯，則大便閉結矣。然後實閉虛閉熱閉冷閉之不同。如陽明胃實，燥渴譫語，不大便者，實閉也，小承氣湯下之；若老弱人精血不足，新產婦人氣血乾枯，以致腸胃不潤，此虛閉也，四物湯加松子仁、柏子仁、肉蓯蓉、枸杞、人乳之類以潤這，或以蜜煎導而通之；若氣血兩虛，則用八珍湯。熱閉者，口燥唇焦，舌胎黃，小便赤，喜冷惡熱，此名陽結，宜用清熱及攻下之法，三黃枳朮丸主之。冷閉者，唇淡口和，舌苔白，小便清，喜熱惡寒，此名陰結，直用溫藥而兼潤燥之法，理中湯加歸芍主之。凡虛人不大使，未可勉強通之。大便雖閉，腹無所若，但與潤劑，積久自行，不比傷寒邪熱，消爍津液，有不容刻緩之勢也。予嘗治老人虛閉，數至圊而不能便者，用四物湯及滋潤藥加升麻，屢試屢驗，此亦救急之良法也。」</p>
<p>傷寒溫疫傳裡應下這症，自有成法，不必復贅，以免混人心目。此篇專指雜症而言，老人津燥、新產血柘二症，此篇用藥甚善。若虛者當補，只可用人參，加入清潤通利藥內，斷無用耆、術致壅其氣之理；寒結之症，可依東垣法，用支油巴豆通之，更無用附子、乾薑復耗津液之理；八珍、理中之方，非此門應用之藥也。總之，便閉之症，無論寒熱虛實，而大腸未有不燥者，況沉寒痼冷之病，寒凝肝腎，火逼二腸，大便於結，十居八九，投以肉桂、熟地，冰開凍解，有形之冷積，自然洞下，無取乎攻矣。更有肝氣拂逆，心火鬱結，下焦氣亂，二腸失其轉運之機者，應用古方更衣丸，以硃砂鎮心，蘆薈泄肝，取效甚捷；其肝腎寒極，火逼二腸，反成實熱，目黃神昏者，有肉桂、大黃並用之法；腎虛小便過多，因而大腸燥結者，收其小便，大腸自潤。此外則有鬱熱、濕熱、腎燥、風閉，來因不同，《臨症指南》方案俱備，臨時參證。其腸痹便閉，《臨症指南》另立一門，兼治肺經，用藥多主氣分，上竅開則下竅自通也；總不外臟宜堅實，腑宜流通二語。一切補藥，皆當慎用，澀藥燥藥，更當切戒！麻仁用過之多，反增腸垢，益加黏滯，須加瓜蔞、山楂；糞燥如石，硝黃不能推蕩者，須佐蜣螂；糞至肛門過燥過大，蜜煎不能導者，則須無鋒挖耳挖之。</p>
<p>「大小腸交，陰陽拂逆也。大便前出，小便後出，名曰交腸，五苓散主之。復有老人陰血於枯，大腸結燥，便溺俱自前出，此非交腸，乃血液枯涸之徵，氣血衰敗之候也。多服大劑八珍湯，或可稍延歲月耳。」</p>
<p>膀胱有下口無上口，小腸之水皆從也孔眼滲入。有形之糞，如何得下？即曰所下只是糞汁，其孔眼之開大已甚矣，當先用槐實、山渣，酌用大黃，引以豬大腸，通其大便，而後急用桑螵蛸、豬脬，彌其孔眼，再用石斛萆菓分清之藥，若劇用五苓，豈非驅其有形之糞，盡推於膀胱之上乎？不發痛毒，必變鼓脹矣！</p>
<p>「遺屎有二症，一因脾胃虛弱，倉廩不固，腸滑而遺者；一因火性急速，逼迫而遺者，宜分別治之。脾虛，理中湯。火盛，芍藥甘草湯加黃連。」</p>
<p>此症屬虛者多，屬熱者少，屬熟者後列之方加槐花、澤瀉可也。屬虛者急當澀腸固氣，歸脾湯加肉豆蔻、慄殼、澤瀉，甚者加赤石脂、糯米，萬論是虛是熱，澤瀉必不可少，蓋小便利大便方實也。</p>
<p>「脫肛亦有二症，一因氣盛下陷而脫者，補中益氣湯；一因腸胃有火，腫脹下脫者，四物加升麻黃芩荷葉之屬。」</p>
<p>脫肛一症，各家所論，紛紜不一，有主氣陷者，有主濕熱者，其實虛者居多，二者相兼之症更多也。初起或當用清，若清之三五服不愈者，仍以固氣為主，所謂陷者舉之也。應用升麻、秦艽、荷葉等藥，加入補入益氣湯內，《景岳全書》立有專門，一以補氣為主，《臨症指南》亦然，即治濕熱方內，必加人參，更有補脾溫腎這法，可知此症，斷不一味清涼也。《本草綱目》附方，鱉頭焙焦為末，黃酒沖服，每獲奇效，可與補中益氣湯輪流間服。此症大便滑順者易治，用藥收攝之後，大便不甚努力，則收者不復則脫矣。若大便乾燥者，必努力而後出，則肛門隨收隨脫，多成敗症。故只可固氣，不可澀腸，赤石指、龍骨、訶黎勒、肉豆蔻、粟殼、連蕊皆不可用也。</p>

<h1>小便不禁</h1>
<p>「經云：膀胱不利為癃，不約為遺溺。所以不約者，其因有三：一曰肝熱，肝氣熱，則陰挺失職。書云：肝主琉泄是已，加味逍遙散主之；二曰氣虛，中氣虛，則不能統攝，以致遺溺，十補湯主之。大抵老幼多見此症，悉屬脬氣不固，老人挾寒者多，嬰兒挾熱者眾，挾寒者，用本方。挾熱者，六味地黃刃；三曰腎敗，狂言反目，溲便自遺者，此腎絕也，傷寒日久見之，多難救。中症見之，隨用大劑附子理中湯，頻灌，間有得生者。益暴脫者可以暴復，若病勢日深，則不可為也。然中症亦有陰虛而遺溺者，不意偏用熱藥，治者詳之。」</p>
<p>此三說也，主肝熱者甚少，主氣陷者為多，補中益氣之法，所不可少；蓋系治本之道，而非救急之法，論其病源，總是腎虛。關門不固，應以樸腎固陽為主，鹿茸、故紙、鎖陽皆收縮小便之要藥，火衰者量加桂、附，合枸杞、熟地為丸，與補中益氣法輪流間服。仍應審其為小腸虛或膀胱虛，分別施治，小腸虛者，溺後繞臍空疼，膀胱虛者，溺後小腹空疼；小腸虛多加小茴香，膀胱虛多加韭菜子，而以桑嫖峭填彌膀胱孔眼為要；古方鞏堤丸以韭菜子為君者，取其氣臭如積溺，以類相求，故能大補膀胱之氣也。</p>

<h1>便血</h1>
<p>「便血症，有腸風、有臟毒、有熱有寒。病人臟腑有熱，風邪乘之，則下鮮血，此名腸風，清魂散主這；若腸胃不清，下如魚腸，或如豆汁，此名臟毒，芍藥湯主之。凡下血症，脈數有力，唇焦口燥，喜冷畏熱，是為有火，宜用前方加黃芩丹皮生地之屬。若脈細無力，唇淡口和，喜熱畏寒，或四肢厥冷，是為有寒，宜用溫藥止之，理中加歸芍主之。若便久不正，氣血太虛，宜用歸脾十全輩統血歸經。血本屬陰，生於陽氣，治者宜滋其化源。」</p>
<p>便血一症，景岳、東垣，一主補氣升陽，丹溪、河間，一主滋陰涼血，其實兩法不可偏廢。初起多熱，久則無不虛也，但有陰虛陽虛之分耳。腸風者由於外感，手第二指或麻或痛，尺脈浮大，血色甚鮮，以秦艽、柏葉、地榆主之；臟毒者由於醇酒厚味，血色紫，與汙垢同下，以山楂、黃連、赤芍、銀花主之。除此二者之外，皆屬虧損之著。有肺陰虛，火傳大腸者，清肺滋陰，百合、桑葉、枯芩清其上源可也，有心經火盛，由小腸傳入大腸者，柏子仁、松子仁、麥冬養其化源可也；有脾陽虛。不能統血者，歸脾湯加地榆、樗根白皮；有肝氣逆，不能藏血者，七寶美髯丹去杜仲、故紙，加女貞、白芍、槐花、地榆；下血既久，胃有漏竅者，用赤石脂、禹餘糧堵截之法；腎陽已虛，將成敗症者，右歸丸多加鹿茸，以槐花、地榆煎湯送下。大概補氣用參，非極虛不用耆、術；清火止於銀花、黃芩，非極熱不用黃連；視其病源起於某臟某腑，按經用引，加熟地、人參以生以補，方無日久血脫之慮。</p>

<h1>尿血</h1>
<p>「心主血，心氣熱，則遺熱於膀胱，陰血妄行而溺出焉。又肝主疏泄，肝火盛，亦令尿血。清心，阿膠散主之。平肝，加味消遙散主之。若久病氣血俱虛，而見此症，八珍湯主之。凡治尿血，不可輕用止澀藥，恐積淤於陰莖，痛楚難當也。」</p>
<p>尿血，危症也。方書以血在溺前者非，在溺前乃與溺俱出者也，非僅膀胱之血，其中有腎血焉。血在溺後者，非僅小腸之血，其中有心血焉。腎血動由於色欲過度，相火沸騰；心血動由於憂憤不解，君火離位；皆情志內生之火，耆、術之補以傷陰，知、柏之清以亡陽，是速其死耳！治腎血者，用枸杞子、地骨皮、沙菀子、五味核，淡菜、龜膠以柔養之；治心血者，以柏子仁、松子仁、阿膠、麥冬、棗肉、硃砂以鎮養之；庶可多延風月。三十年來，歷見前輩名醫，從無治愈此症者。全在病人心境開闊，回頭是岸耳。《臨症指南》、《醫門法律》皆不特立專門，良有故也。</p>

<h1>遺精</h1>
<p><u>清心丸</u></p>
<p>清心火，瀉相火，安神定志，止夢泄。</p>
<p>生地（酒洗，四兩）　丹參（二兩）　黃柏（五錢）　牡蠣　山藥　棗仁（炒）　茯苓　茯神　麥冬（各一兩五錢）　北五味　車前子　遠志（各一兩）</p>
<p>用金櫻膏為丸，每服三錢，開水下。</p>
<p>此有如退體弱之人，可去黃柏加龍骨最妥，心神虛者，其丸以硃砂為衣。惟金櫻子最難去毛，丸藥中去之不淨，則有刺骨之虞，合藥時應慎重將事。</p>

<h1>赤白濁</h1>
<p>「濁之因有二種：一由腎虛敗精流注；一由濕熱滲入膀胱。腎氣虛，補腎之中，必兼利水，蓋腎經有二竅，溺竅開，則精竅閉也。濕熱者，導濕之中必兼理脾。蓋土旺則能勝濕，且土堅凝，則水自澄清也。補腎，菟絲子丸主之。導濕，萆薢分清飲主之。或問濁有赤者，何也？答曰：此濁液流多，不及變化也。又或心火盛，亦見赤色，宜加入蓮子心、燈心、丹參等藥則愈矣。」</p>
<p>濁症多因精已離位；未經泄出，有夢中正當交媾，忽然驚醒，而未及泄者，有忍精行房，精已離位而中止者，其敗精皆積精管之中，治稍遲，則發便毒，宜用萹蓄、瞿麥、海金砂加入五苓散利之。敗精去，濁自止。日久不愈，漸見腰腿疼痛者，滑也、虛也，前篇精心丸內加入參、耆自止，若相火不旺之人，即用前篇十樸丸。</p>

<h1>黃疸</h1>
<p>「黃疸者，目珠黃，漸及皮膚，皆見黃色也。此溫熱壅遏所致，如屈曲相似，濕蒸熱鬱而黃色成矣。然濕熱之黃，黃如橘子櫱皮，因火氣而光彩，此名陽黃。又有寒濕之黃，黃如薰黃色，暗而不明，或手足厥冷，脈沉細，此名陰黃。陽黃者，枝子櫱皮湯，若便閉不通，宜用茵陳大黃湯；陰黃者，茵陳五苓散，如不應，用茵陳姜附湯。其間有傷食者，名曰谷疸。傷酒者，名曰酒疸。出汗染衣，名曰黃汗，皆陽黃之類也。谷疸：胸膈滿悶，噯腐吞酸，以加味枳朮湯，加茵陳治之，應手取效；酒疸，更加葛根。黃汗：用枝子櫱皮湯加白朮。其同有女勞疸，乃陰黃之類，宜用姜附湯加參朮補之。復有久病之人，及年老人，脾胃虧損，面目發黃，其色黑暗不明，此臟腑之真氣泄露於外，多為難治，宜用六君子湯主之。」</p>
<p>黃，脾之本色也。健脾以白朮為主，去黃不論寒熱，以茵陳為主。傷寒溫疫發黃，古人有用大黃之法，蓋其病源兼外邪也。若本病虛者，萬勿孟浪。此門當遵《景岳全書》最好，此篇言其大概耳。</p>

<h1>不能食</h1>
<p>「許學士云：不能食者，未可專責之脾。腎經元陽不足，不能熏蒸腐化，魯如釜中水穀，底下無火，其何能熟。火為土母，虛則補其母，庶元氣蒸騰，飲食增益，八味丸主之。」</p>
<p>八味丸惟老人宜之，若中年人有此症，青娥丸可也。</p>

<h1>不得臥</h1>
<p>「有胃不和臥不安者，胃中脹悶疼痛，此食積也，保和湯主之。有心血空虛，臥不安者，皆由思慮太過，神不藏也，歸脾湯主之。有風寒邪熱傳心，或暑熱乘心，以致躁擾不安者，清之而神自定。有寒氣在內而種不安者，溫之而神自藏。有驚恐不安臥者，其人夢中驚跳怵惕是也，安神定志丸主之。有濕痰壅遏，神不安者，其證嘔惡氣悶，胸膈不利，用二陳湯導支其痰，其臥立至。更有被褥冷暖太過，天時寒熱不勻，皆令不得安臥，非關於病，醫有慎勿誤治也。」</p>
<p>不寐之症，篇中治法頗善，而歸脾湯非加麥冬，必生煩躁，屢試屢驗。仲景《金匱要略》以不寐之症，為陽維脈滿。蓋陽維貫心，脈滿則心氣脹也，故不寐。其方用半夏、秫米，百揚水煎之。百揚水即井水用碗揚百遍也。秫米即高粱米，余嘗用之，其效如神。本草言秫米，或以為黍，或以為粟谷之白者非也。</p>

<h1>癲狂癇</h1>
<p><u>定癇丸</u>　男婦小兒癇症，並皆治之，凡癲狂症，亦有服此藥而愈者。</p>
<p>明天麻（一兩）　川貝母（一兩）　膽南星（九制者，五錢）　半夏（薑汁炒，一兩）　陳皮（洗去白，七錢）　茯苓（蒸，一兩）　茯神（去木蒸，一兩）　丹參（酒蒸，二兩）　麥冬（去心，二兩）　石菖蒲（石杵碎取粉，五錢）　遠志（去心　甘草水泡，七錢）　全蠍（去尾、甘草水洗，五錢）　殭蠶（甘草水洗、去嘴、炒，五錢）　真琥珀（腐煮、燈草研，五錢）　辰砂（細研、水飛，三錢）</p>
<p>用竹瀝一小碗，薑汁一杯，再用甘草四兩熬膏，和藥為丸，如彈子大，辰砂為衣。每服一丸。照五癇分引下，犬癇，杏仁五枚、煎湯化下；羊癇，薄荷三分煎湯化下；馬癇，麥冬二錢煎湯化下；牛癇，大棗二枚煎湯化下；豬癇，黑料豆三錢煎湯化下，日再服，本方內加人參三錢尤佳。</p>
<p>癲狂即俗所謂瘋症也。《本草綱目》附方，良方甚多，但皆峻猛之藥，駭人聽聞，《景岳全書》中治法詳備，但失之偏補，其理須知，非行醫之道也；行醫者，即照此方為善，余少年時，即用此方，治愈數人矣。</p>

<h1>驚悸恐</h1>
<p>「驚者，驚駭也。悸者，心動也。恐者，畏懼也。此三者皆發於心，而肝腎因之。方書分為三門，似可不必。經云：東方青色，入通乎肝，其病發驚駭。驚雖屬肝，然心有主掛，則不驚矣。心驚然後膽怯，乃一定之理。心氣熱，硃砂安神丸主之。心氣虛，安神定志丸主之。悸為心動，謂之證忡，心築築而跳，搖搖而動也，皆由心虛挾痰所致，定志丸加半夏桔紅主之。恐為腎志，亦多由心虛而得。經云：心怵惕思慮則傷神，神傷則恐懼自失，十全大補湯主之。若腎經真陽不足以致恐者，更佐以八味丸加鹿茸人參之類。子嘗治驚悸恐懼之症，有用大補數十劑，或百餘劑而後愈者。毋謂七情之病而忽之也。」</p>
<p>心病還須心藥醫，此等症心境不開，藥無濟也。必須用藥，即照此書可耳。《臨症指南》良方甚多，宜合參。</p>

<h1>眩暉</h1>
<p>「眩，謂眼黑。暈者，頭旋也，古稱頭眩眼花是也。其中有肝火內動者。經云：諸風掉眩，皆屬於肝是也，逍遙散主之。有濕痰壅遏者，書支：頭旋眼花，非天麻半夏不除是也，半夏白朮天麻湯主之。有氣虛挾痰者，書曰：清陽不升，濁陰不降，則上重了輕也，六君子湯主之。亦有腎水不足，虛火上炎者，六味湯。亦有命門火衰，其陽上泛者，八味湯，此治眩暈之大法也。」</p>
<p>首段主肝風，治以逍遙散，只好一二服，以驅經絡風熱而已；多服發揚過甚，反益頭暈，宜遵《臨證指南》柔肝息風之法。益風從內起，仍當從內息，與外感之風不同也。次段濕痰，當與各書痰飲門參看。三段虛痰，用六君子健脾行痰之後，即當繼補命門元陽，輕者青娥丸，重者右歸丸，再重者八味丸。四段五段，得病之源，專於補腎，無有不愈。相其人這寒熱虛實以用藥，總以熟地、枸杞、骨碎補為君，不必拘定成方也。</p>
<p>治眩暈病，起手宜清，以散經絡之火邪，清後宜滋肝陰，以去生風之源，滋後定溫；蓋命門火潛密，真水自旺，水旺生木，木柔潤，則自然風息矣。</p>

<h1>健忘</h1>
<p>「經云：腎者，作強之官，技巧出焉；心者，君主之官，神明出焉。腎主智，腎虛則智不足，故喜忘其前言。又心藏神，神明不充，則遇事遺忘也。健忘之症，大概由於心腎不交，法當補之，歸脾湯、十補丸主之。亦有痰因火動，痰容心胞者，此乃神志昏憒，與健忘症稍不相同，法當清心開竅，二陳湯加竹瀝薑汁，並硃砂安神丸主之。」</p>
<p>欲使心腎相交，必須心腎兩補；補心陽益智仁、龍眼肉，補心陰柏子仁，補腎陽故紙、鹿茸，補腎陰熟地、枸杞，補腎氣骨碎補，欲使心腎之管交通，非遠志不可；但用遠志，必須甘草水浸透，支心蒸過，再炒，方敢入藥，不然其毒甚大，不可不知。遇此症即照此裁方，非歸脾湯專補上中所能奏效也</p>
<p>「痰客心胞」一解甚好，此症多由勞碌過甚，心欲不遂而得，即照硃砂安神丸加石菖蒲可也。</p>

<h1>嘈雜</h1>
<p>「嘈雜者，躁擾不寧之貌，得食暫已，少頃復嘈。其中有挾痰與火者，則口燥唇焦，脈滑數也，二陳湯如山梔黃連之類，有脾虛挾痰者，則氣促食少，脈小弱也，五味異功散主之。嘈雜之症，治失其宜，變為噎塞者眾矣，可不慎乎！更有無氣大虛，心中擾亂不安者，名曰虛煩，此與嘈雜不同，當按其虛而重補之。夫病有兼症，各有情形，善治者宜斟酌焉。」</p>
<p>脾虛挾痰者，胃陽必虛，六君子湯中稍加煨姜，甚效甚捷。亦有胃陰虛者，《臨症指南》有大用玉竹之法，千古金針也。更有食蔥蒜韭菜等辛熱之物，後為風寒所閉，欲吐不吐。嘈雜難過者，宜山楂、枳實以推之，再服元明粉以滌之，再嚼陳皮，務使辣涎吐出，然後飲糖水以潤之；治之稍遲，辣毒挾風，入於胃之下脘，少壯者發牙疳，老年者即變膈症，已見之屢矣。</p>

<h1>咽喉（口舌齒唇）</h1>
<p>「咽喉之病，挾熱者十之六七，挾寒者十之二三，而風寒包火者，則十中之八丸。古人開手一方，只用甘草桔梗。三因方加以荊芥，其他蒡子薄荷貝母川連之類，皆出後人續補。可見咽喉之病，不便輕用涼藥，而專主開發升散者。所謂結者開之，火鬱發之是已。及其火勢極盛，則清劑方施，結熱下焦，而攻法始用，非得已也。方書雜稱咽喉為三十二症，命名各殊，治法亦異，眩人心目，茲予細加訂正，不遺不贅，並選古今治法，而擇其平善至效者，詳列於左。誠以咽喉關要之地，命如懸縷，學者宜致思焉。」</p>
<p>「凡治咽喉口舌之症，初則疏風解毒，繼則滋水養陰。若元氣漸虛，急顧脾胃，如六味滋水，四君補脾，皆為要藥。否則真氣方敗，勢難挽矣，治者審之。」</p>
<p>篇內咽喉唇舌諸急症，全靠針砭，藥以佐之而已；治法詳備，可遵可行。所用黃薤汁。急切難得，即用涼水搗蒜汁灌之亦可，然總不如京城紫金錠之速也。此篇未備者，詳參《臨症指南》、《醫宗金鑑》二書，若《景岳全書》，此門皆偏於補，不可用也。</p>

<h1>目</h1>
<p>「凡目疾暴赤腫痛，畏日羞明，名曰外障，實症也；久痛昏花，細小沉陷，名曰內障，虛症也。實者由於風熱。虛者由於血少。實則散風瀉火，虛則滋水養陰。然散風之後，必繼以養血，經曰：目得血而能視也。養陰之中，更加以補氣，經曰：氣旺則能生血也。治外障者，蒺藜湯，蟬花無比散散之。若兼飲食所傷，加消導藥。如大便入閉不通，四順清涼飲下之。治內障者，消遙散，明目地黃丸補之。若兼氣虛，益氣聰明湯主之。且如初起翳障，只須服藥散之，不可遽用點藥，恐病反深痼，當用天然水，乘熱頻洗之。熱能散風，水能制火故也。水中不用一味藥，蓋目不染塵，藥汁入目，亦見羞澀。更忌刀針刺血割肉，及點硇砒之類，真為行險僥倖。刺血者，恐傷肉。用硇砒，恐潰爛不息，惟宜珍珠散點之，乃眼藥中之至寶也。」</p>
<p>治眼之法，內服之藥功居其半，外點之藥功居其半，篇中所論極詳，後開各方，亦極穩妥；然揣先輩之心，不求有功，先求無過耳。如欲見功，當於《醫宗金鑑》中求之。</p>
<p>「再凡用散藥，不可太過以傷其血。用補氣藥，不可太過以助其火，又不宜過用寒涼，使血脈凝結，反生青黃之障膜。溫存肝腎，調劑和平，而目疾自全愈矣。」</p>
<p>久病者宜參、耆，初發者須慎用，蓋恐氣積火壅也。</p>
<p><u>明目地黃丸</u>　治內障，隱澀羞明，細小沉陷。</p>
<p>生地（酒洗，一斤）　牛膝（二兩）　麥冬（六兩）　當歸（五兩）　枸杞子（三兩）</p>
<p>用甘菊花八兩熬膏，和煉蜜為丸，每服三錢，開水下。</p>
<p>此等症多兼陽虛，宜用熟地、鹿茸、故紙，非僅請滋所能奏功也。</p>
<p><u>天然水用潔淨開水、以法淨茶盞盛之、用潔淨元色絹片、乘熱淋洗、洗後水混濁、換水再洗、及洗至水清無垢方止、如此數次即愈、水內並不用藥、故曰天然水也。</u></p>
<p>此方嘗試之矣，雨水效，井水不效。</p>

<h1>面</h1>
<p>經云：足陽明之脈，絡面下於鼻。凡面上浮腫而痛者，風也。書云：面腫為風，足腫為水，宜用升麻葛根湯，加白芷主之。若兼挾水濕，加入五皮飲，為至妙也。然又有黃伴面腫者，濕熱也。有萎黃虛浮者，脾虛也，濕熱，和中丸主之。脾虛，六君子湯主之。若面上生蒼，知水痘，蔓延不止者，黃藥敷之，即愈。」</p>
<p>黃胖面腫者，其人多便血，痿黃面腫者，其人多脾瀉，須問明白，照本症治之。若只浮腫而帶紅色者，乃真風熱也，升麻葛根湯加蒼耳子，三兩劑愈矣。詳參《醫宗金鑑》面部。</p>

<h1>瘰癧</h1>
<p>「瘰癧者，肝病也。肝主筋，肝經血燥有火，則筋急而生瘰，瘰多生於耳前後者，肝之部位也。其初起即以消瘰丸消散之，不可用刀針，及敷潰爛之藥。若病久已經潰爛者，外中普救萬全膏，內服消瘰丸，並逍遙散，自無不愈。更直戒惱怒，斷煎炒，及發氣閉氣諸物，免致膿水淋漓，漸成虛損，患此者可毋戒與。」</p>
<p>瘰病，肝、膽二經之病也。結於肝，而發於膽。諸家皆以夏枯草、金銀花、蒲公英、昆布等為主，佐以香附、浙貝母，無不應驗。外治之法，將蜣螂炸枯，熬成膏藥，貼之自軟。他藥損皮，多成變症。再照《景岳全書》艾灸肘後之法，立見束效。</p>

<h1>鼻</h1>
<p>「若鼻中常出濁涕，源源不斷者，名曰鼻淵。此腦中受寒，久而不散，以致濁涕常流，如泉水之涓涓耳。然鼻淵初起，多由於寒，日久則寒化為熱矣。治宣通竅清熱，川芎茶調散主之。更有鼻生瘜肉，名曰鼻痔，臭不可近，艱不可搖，宜用白礬散少許，點之，頃刻化水而消。又算中流血不止，名曰鼻衄，四生丸，生地六味湯主之。如不止，加犀角。」</p>
<p>鼻淵、鼻痔等症，即照篇中治法可也。至於衄血，當求之任脈、督脈，督脈氣旺，載血上行，任脈陰弱，不能承接，則血溢從鼻而下，治法詳見《臨症指南》，方法甚多，非四生湯等所能盡也。</p>

<h1>耳</h1>
<p>「凡傷寒邪熱耳聾者，屬少陽症，小柴胡湯主之。」</p>
<p>此一段系傷寒少陽經症，已詳載傷寒篇中，此際當刪去，以清眼目。</p>
<p>「若風熱相搏，津液凝聚，變為停豆抵耳之患。或膿水淋淳，或癢極疼痛，此皆厥陰肝經風熱所致，宜用加味逍遙散，支白朮、加荷葉木耳貝母香附葛蒲之屬，外用紅棉散吹之。若耳內生瘡，並用前藥加金根花主之。」</p>
<p>耳內生瘡，其膿極臭，帶青色，痛極者，以燈心、黃柏燒灰，少加冰片吹之，可止痛。亦有用胭脂燒灰存性，加冰片少許吹之之法，俟有膿根如豬胰者出，則自愈矣。</p>

<h1>痔瘡</h1>
<p>「方韋有牝牡血之蟲異名，而其實皆大腸經積熱所致。大法：宜用石菖蒲、忍冬藤、煎水，以瓦罐盛藥，對痔薰透。然後傾入盆中浸洗之，冷則加水，如此頻頻薰洗，並服加減六味丸，及國老散，自然漸次消散，可免刀升藥錢之苦，此亦醫痔之良法也。」</p>
<p>痔漏一門，惟《景岳全書》言之甚詳，內外治法，各方用之皆效，最妥者蝸牛加冰片化為水點之，立即止疼，真神方也。懸癰、臟毒，《外科大成》皆有專門，宜合參之。</p>

<h1>暴崩下血</h1>
<p>「經云：陰虛陽搏謂之崩，此言熱迫血而亡行也。又曰：陽絡傷，則血外溢。陰絡傷，則血內溢。外溢者，從上出，內溢者，從下流也。病人過於作勞，喜怒不節，則絡脈傷損，而血妄行矣。前症，若因熱迫血而妄行者，用加味四物湯。若因絡脈傷損者，用八珍湯。若淤血凝積，佐以獨聖丸。若因肝經火旺，不能藏血者，加味逍遙散。若因脾氣虛，不能統血者，四君子湯加歸芍主之。若因思慮傷脾，不能攝血歸經者，歸脾湯。若氣血兩虧，血崩不止，更用十全大樸湯。」</p>
<p>此篇所論血症治法，至精至善，宜恪遵之。另擬止血崩方，臨症參酌。</p>
<p><u>止血崩方</u></p>
<p>鹿角霜（一兩）　煅龍骨（八錢）　續斷（炒，一兩五錢）　上阿膠（蛤粉炒珠，六錢）　當歸身（土炒，一兩）　焦川芎（三錢）　云茯神（一兩）　炙香附（八錢）　炙甘卓（一錢）　焦杜仲（一兩）　柏子仁（一兩）</p>
<p>共為細末，獨山藥四兩煮糊為丸。焦芥穗煎湯沖服。</p>

<h1>診婦人有孕法</h1>
<p>「經謂婦人有孕者，身有病而無邪脈也。有病，謂經閉。無牙脈，謂脈息如常，不斷絕也。經又云：手少陰脈動甚者，孕子也。少陰，心也。心主血脈，心脈旺，則血旺，而為孕子之兆。經又云：陰搏陽別，謂之有子。言二尺脈匠，與兩寸迥別，亦謂有孕。以上三者，但得其一，即分孕脈。分而占之，合而推之，而孕脈無盾情矣。」</p>
<p>若兩關滑而流利，必是孕也。蓋兩關者，肝脾之部位，肝藏血，脾統血，血不流行於經，乃凝成而為孕，所以現於兩關，滑而和勻，最為有準。至於經閉之脈，必澀滯，亦不定在西關，而有孕之脈，必滑利，且一定在兩關。又初孕之時，常見兩盡沉伏之狀，不可不知也。</p>

<h1>惡阻</h1>
<p>「妊娠之際，經脈不行，濁氣上於清道，以致中脘停痰，眩暈嘔吐，胸膈滿悶，名曰惡陰。法歸理脾化痰，升清降濁，以安胃氣，用二陳湯加枳殼主之。若脾虛者，用六君子湯，加蘇梗枳殼砂仁香附主之。其半夏，雖為妊娠禁藥，然痰氣陰塞中胱，陰陽拂逆，非此不除，以薑湯泡七次，炒透用之，即無礙也。若與參朮同行，猶為穩當。凡安胎氣止嘔定眩，須用白朮為君，而以半夏茯苓陳皮砂仁佐之。往往有效。夫妊娠邳阻，似屬尋常。然嘔吐太多，恐傷胎氣，醫者可不善為調攝乎。」</p>
<p>婦人受孕之後，一月腎經養胎，二月肝經養胎。三月脾經養胎，凡惡阻之症，皆在受孕兩個月之後，出三個月之期，則自止矣。蓋其時脾經之血，盡入胎胞，不能運動胃氣故也。不必深治，只以白朮補脾陽，菟絲補脾陰，玉竹補胃陰，稍加砂仁以和胃氣足矣。痰多者加薄橘紅，腰疼者加杜仲，嘔甚帶血者加黑梔子，有熱者可加黃苓；萬不可過消過降，致損胎元。枳殼猶可，半夏、香附，皆禁藥也。</p>
<p>篇中「若與參朮同行。猶為穩當」句，「猶」字似為「尤」字之誤。</p>

<h1>胎動不安</h1>
<p>「妊娠胎動不安，多因起居不慎，或飲食觸犯禁忌，或風寒搏其衝任這脈，或跌僕傷損，或怒動肝火，或脾氣虛弱，宜各推其因而治之。大法：若因母病而胎動，但治其病而胎自安。若因胎功而致病，但安其胎而母病自愈。再診其色，若面赤舌青，則子難保。若面青舌赤，吐沫，母亦難痊，娠妊中切宜戒謹。」</p>
<p><u>安胎飲</u></p>
<p>當歸　川芎　白芍藥（酒炒）　大熟地（九制）　茯苓　阿膠（各一錢）　甘草（炙）　艾葉（各三分）　白朮（二錢）</p>
<p>水煎服。若起居不慎加人參、董耆、杜仲、續斷。若飲食觸犯加人參、倍加白朮。若風寒相搏、當按經絡以治風寒。若跌僕傷摜，另用佛手散、加青木香益母草。若怒動肝火，本方加柴胡山梔。若脾氣虛弱，去熟地、加人參扁豆陳皮。然因時調治，對症處主，全在活法，不可膠執也。</p>
<p>起居不慎，杜仲、續斷外，重加紫何車；食積胃中加神麯；風寒相搏，太陽羌活，陽明葛根，少陽柴胡；跌僕損傷，胎必難保，姑存佛手散法；若脾氣虛弱，熟地不必去，再加菟絲子。</p>
<p>古人安胎之法，只用杜仲、續斷二味，蓋杜促溫固肝腎之氣，能托胎炮，續斷寧血靜血，收衝脈散漫之氣，無他藥也。後人不明此理，改用當歸、川芎，大失長沙青囊之旨矣。焉有動血方物，而能安胎者乎？試觀《臨症指南》胎前所列三十三方，當歸偶一用之，川芎截然不用，理可知矣。余少年時讀《達生篇》、《濟陰綱目》及《馮氏錦囊》書，亦用今法，動輒得咎！自改用古法，十全八九，此親自閱歷者也。至於艾葉，必煮之極熟，炒之極透，而後敢用，否則胎懸汗出，不可救矣！改擬一方，附之於下。</p>
<p><u>改擬安胎飲</u></p>
<p>杜仲（醋炙，一錢半）　川續斷（一錢半）　熟地（二錢）　山藥（炒，二錢）　阿膠（生，一錢）　菟絲子（蒸姘，一錢）　茯苓（一錢）　野艾葉（醋煮一注香再炒，三分）</p>

<h1>胎漏</h1>
<p>「女人之血，無孕時，則為經水，有孕時，則聚之以養胎。蓄之為乳汁。若經水忽下，名曰漏胎。血瀝盡，則胎不保矣。大法：若因風熱動血者，用四物湯，送下防風黃芩丸。若因血虛，用本方加茯神阿膠艾葉。若因怒動肝火，用加味逍遙散。若去血太多，用八珍湯。如不應，用補中益氣湯。凡脾虛下陷，不能攝血歸經者，皆宜補中益氣。假如氣血俱盛而見紅者，乃兒小飲少也，不必服藥。」</p>
<p>胎漏者，即杯孕見紅也。有兩說：胎已動而見血者，即是小產之候，大劑補中益氣湯，去柴胡加阿膠、杜仲、續斷。艾葉，十中可保一二；其胎不功而漏血者，即是篇中所列各症；因風一條，必須實有鼻塞聲重、項脊強痛者，而後防風可用，怒動肝火一條，只宜女貞、白芍多加阿膠，肝柔則血自止，逍遙散中有香附，不可輕施也。以後各條，皆系良法，宜恪遵之。胎期肺胃多熱，實有因血熱而妄行者，黃芩、丹皮，皆可酌用。</p>

<h1>子懸、子眩</h1>
<p>「子懸者，胎上逼也。胎氣上逆，緊塞於胸次之間，名曰子懸，其症由於恚怒傷肝者居多。亦有不慎起居者，亦有脾氣鬱結者，宜用紫蘇飲加減主之。更有氣逆之甚，因而厥暈，名曰於眩，並用前藥主之。然子眩有神虛挾痰者，宜用六君子湯。若頑痰閉塞，而脾氣不虛者，二陳湯加竹瀝薑汁，虛實之同，所當深辨也。」</p>
<p>於懸一症，各書皆以蘇子一味為主，降至胃口下界而止，過降則墜矣。只用蘇子。川貝母、地黃、白芍自降自安。萬無用木香、檳榔、腹皮之理。子眩即暈症也，多系肝虛，且有挾內風者，宜女貞、菊花、黑芝麻、阿膠，以滋陰而息風，安有升散而能止暈者乎？挾痰者只宜川貝母、橘江、竹茹，方不動胎，若半夏、南星，皆在當禁！</p>
<p><u>紫蘇飲</u>　治子懸，並催生順產，神效。</p>
<p>當歸　川芎　紫蘇（各一錢）　甘草（炙）　人參　白芍藥（酒炒，各五分）　大腹度（黑豆煎水洗，八分）</p>
<p>上生薑一片、蔥白一寸，水煎服。前症，若因恚怒傷肝者，加柴胡，若因不慎起居者，加白朮砂仁。若因脾氣鬱結者。加木香。</p>
<p>胎既懸矣，可用人參以提之乎？胎即動矣，可用腹皮以破之乎？以蘇子為紫蘇，想系翻刻之誤；設後人認做蘇葉，一經升散，口鼻出血矣。此方不可拘執，當於《景岳全書》《胎產秘書》中求之。</p>

<h1>胎不長</h1>
<p>「妊娠胎不長者，多因產母有宿疾。或不慎起居，不善調攝，以致脾胃虧損，氣血衰弱，而胎不長也。法當祛其宿疾，補其脾胃，培其氣血，夏加調攝得宜，而胎自長矣。補脾胃，五味異功散主之。培氣血，八珍湯主之。祛宿疾，隨症治之。」</p>
<p>此症甚少，要以飲食調養為主，徒恃藥，無益也。後開用藥之法，盡美盡善。</p>

<h1>半產</h1>
<p>「半產者，小產也。或至三五月而胎墮，或未足月而欲生，均謂之小產。小產重於大產，蓋大產如瓜熟自落，小產如生斷其根帝，豈不重哉。其將產未產之時，當以安胎為急，安胎飲主之。既產而腹痛拒按者，此瘀血也，法空祛瘀生新，當歸澤蘭湯主之。若小產後血不止，或煩渴面赤，脈虛徵者，此氣血大虛也，八珍湯加炮姜以補之。若腹痛嘔瀉，此脾胃虛也，香砂六君子湯加姜柱以溫之。其在產母，更宜慎風寒、節飲食，多服補藥。以堅固氣血，毋使輕車熟路，每一受孕，即至期損功，而養育維艱也，戒之慎之。」</p>
<p>小產多在受孕三個月期內，以脾經養胎，每因惡阻過甚，不能統攝而墜，然受孕日淺，產婦易於調養，傷生者少。四個月其內墜者，心徑養胎。因血虛而墜也。五個月期內墜者，肺經養胎，因氣虛而墜也。產婦傷生亦少。若五個月後，小產者甚少，偶有墜者，或因大肆情欲，或因觸動損傷，或因他病，其墜也，如山崩河決，產婦之命，十不能保全一二矣！大法。防小產者，未受孕之前，宜預補肝脾，以白朮二兩、仁仲二兩、川續斷一兩、熟地一兩、豬脾一條。豬腎一對。入烏骨母雞腹內，水煮一炷香時，水乾，將雞焙去水氣，取出前藥，夏月去豬脾、腎，冬月前留之、曬乾微炒，共為細末，煉蜜為丸，服至百日，再無小產之虞。若已受孕而防墜者，前方去熟地、白朮，只用杜仲、續斷等如法制之，十中亦全六七，總以節飲食、慎情欲、戒煩怒為要也。此症古方甚多，用之多不見效，惟此法屢試屢效。</p>
<p>此篇景岳主補氣，恐致氣壅火積，因熱而墜；丹溪主涼血，恐致脾衰胃冷，因瀉而墜；皆可隨症參用，不可固執。</p>
<p><u>當歸澤蘭湯</u></p>
<p>當歸　澤蘭　白芍（酒炒）　川芎　大熟地（九制，各一錢五分）　延胡索（酒炒）　紅花　香附　丹皮（各五分）　桃仁（去皮尖及雙仁者炒研，七粒）</p>
<p>水煎，入童便熱酒各半盞，熱服。</p>
<p>此方雖好，不如生化湯之穩，且習俗不尚，用之恐駭人聽聞也。</p>

<h1>子煩</h1>
<p>「妊娠子煩者，煩心悶亂也。書去：孕四月，受少陰君火以養精。六月，受少陽相火以養氣。子煩之症，大率由此。竊謂婦人有孕，則君相二火皆翕聚以養胎，不獨四六兩月而已。大法：火盛內熱而煩者，淡竹葉湯。若氣滯痰凝而悶亂者，二陳湯，加白朮黃芩蘇梗枳殼。若脾胃虛弱，嘔惡食少而煩者，用六君子湯。子煩之候，不善調攝，則胎動不安矣。慎之。」</p>
<p>子煩一症，總是胃火盛、津液乾涸，心血虛、內火燔爍也，大忌燥熱之藥。篇中淡竹葉湯與《胎產秘書》法合，惟問有腰疼便溏者，去知母可也。胎前大忌半夏，熱疾亦不宜白朮，後列二方慎用。</p>

<h1>子癇</h1>
<p>「妊娠中血虛受風，以致口噤，腰背反張，名曰子癇。其症最暴且急，審其果挾風邪，宜用羚羊角散定之。若兼怒動肝火，佐以逍遙散加人參。若兼胎氣上逆，佐以紫蘇飲。若兼脾虛挾痰，佐以六君子湯。若因中寒而發者，宜用理中湯，加防風鉤藤。此症必須速愈為善，若頻發無休，非惟胎妊驟下，將見氣血隨胎渙散，母命亦準保全。大抵此症，胎氣未動，以補氣養血定風為主。胎氣既下，則以大補氣血為主，此一定之理，子嘗屢治屢驗矣。」</p>
<p>「血虛受風」似應為」「肝經受風」，「果挾風邪」，當作「只系風邪」，較妥。</p>
<p>子癇有二：一為本無此病，受孕後因肝處受風而得者，篇中所論是也。宜羚羊角散去防風加秦艽，極穩極捷。一為平日本有痛病，受胎後發病較重者，羚羊角散去防風、獨活，加熟地、續斷、阿膠，《景岳全書》、《胎產秘書》皆用此法。二段兼怒，宣逍遙散去柴胡加女貞子。三段兼胎氣上逆，羚羊角散加蘇子。四段兼痰，宜該方加茯苓、川貝母、橘紅、竹茹，半夏斷不可用。五段兼寒，不得已酌加小茴香、吳茱萸，更無用附子之理；防風引熱藥入肺，亦不相宜。</p>

<h1>子鳴</h1>
<p>「妊娠腹內自鳴，系小兒在腹內哭聲也，謂之子鳴。又謂之腹內鐘鳴。古方用鼠穴中土二錢，加麝香少許，清酒調下，或用黃連濃煎呷之，即止。但黃連性寒，麝香開竅，不宜輕用。此症乃臍上疙瘩，兒含口中，因孕婦登高舉臂，脫出兒口，以此作聲。令孕婦曲腰就地如拾物，一二刻間，疙瘩仍入兒口，其鳴即止，可服四物湯加白朮茯苓一二劑。安固胎氣。」</p>
<p>此症一二日即止者，小兒猶可活，若過三日，則臍早離口，無血以灌注，兒必死矣。孕婦曲腰就地之法，亦無甚效，姑存之。</p>

<h1>子喑</h1>
<p>「妊娠至八九月間，忽然不語，謂之子喑。但當飲食調養，不須服藥。昔黃帝問於岐伯曰：人有重身，九月而喑。何也？岐伯對曰：胞胎繫於腎，腎脈貫系舌本，故不能言。十月分娩後，自為之言也。賃按腎脈貫系舌本，因胎氣壅閉，腎脈陰塞，致不能言。自應調攝以需之，不必驚畏，或用四物湯加茯神遠志數劑亦可。倘妄為投藥，恐反誤事，慎之。」</p>
<p>此症之不必服藥，出於《內經》，自不可妄為臆說。但經文既曰腎系舌本，必系腎氣過虛，因胎系下墜，氣血下注不能上達耳。自應大補腎中氣血，以熟地、骨碎補為主，佐以枸杞、沙苑，氣血充旺，上下自可兼及而能言矣。新安汪前輩曾屢言之，想不至誣，然余未經親試也。</p>

<h1>孕婦內癰</h1>
<p>「孕癰，腹內生癰也。生於有妊之時，猶為可畏，宜用千金牡丹皮散，或神效瓜蔞散治之。但丹皮苡仁桃仁，皆動胎之藥，因有病則病當之，故無損也。」</p>
<p>凡遇此症，十中九死，不死亦必墜胎，必不得已，即用所開神效瓜蔞散多加續斷，以固胎系，在某經部位，即用其經引藥。</p>
<p>「猶為可畏」之「猶」似應為「尤」。</p>

<h1>鬼胎</h1>
<p>「惟夫體質虛衰，精神惑亂，以致邪氣交侵，經閉腹大，如懷子之狀。其面色青黃不澤，脈澀細，或乍大乍小，兩手如出兩人。或寒熱往來，此乃肝脾拂鬱之氣，非胎也，宜用雄黃丸攻之。而以各經見症之藥，輔助元氣，大法：肝經鬱火，佐以逍遙散。脾氣鬱結，佐以歸脾湯。脾虛挾痰，佐以六君子湯。此症乃元氣不足，病氣有餘，或經事延期，失於調補所致。不可浪行攻系而忘根本，則鬼胎行而元氣無傷矣。」</p>
<p>肝脾鬱結而腹腫大者，當求之氣鼓癥瘕兩門，有水者參以水腫治法，經閉者參以經閉法，皆非鬼胎也。鬼胎者，其胎有實在形跡，產時非怪物即血水也，直當下之，輕者即用雄黃丸，重者平胃散加龍骨、虎骨、朴硝化下之，然必實有瘋狂形跡者，方可用也。</p>

<h1>熱病損胎</h1>
<p>「妊娠熱病不解，以致胎損腹中，不能出者，須驗其產母。面赤舌青者，其子已損。若面青舌赤，母亦難全。古方通用黑種散下之，然藥性燥烈，不宜於熱病，應用平胃散加朴硝五錢下之，為穩當也。」</p>
<p>《達生篇》下死胎法，只用平胃散加朴硝，凡因傷寒、瘟疫諸熱症者宜之。若是冬月及體寒者，仍以古法黑神散為是；蓋附子墜胎，取效甚速，而藉補元陽，下後亦易調理也。</p>

<h1>妊娠小便不通</h1>
<p>「孕婦胞胎墜下，多致壓胞，胞系繚亂，則小便點滴不通，名曰轉胞。其禍最速，法當升舉其胎，俾胎不下墜，則不便通矣。舟溪用補中益氣，隨服而探吐之，往往有驗。予用茯苓升麻湯，亦多獲效，皆升舉之意也。然則仲景治轉胞，用桂附八味湯。何也？予曰此下焦虛寒，胎氣陰冷，無陽則陰不化，寒水斷流，得桂附溫暖命門，則陽氣宣通，寒冰解凍，而小便行矣。況方內復有茯苓澤瀉為之疏決乎，然亦有陽亢陰消，孤陽無陰，不能化氣者，必須補其真陰。古方用滋腎丸，予嘗用六味加車前牛膝，往往收功。」</p>
<p>此症因胎壓膀胱者多，丹溪用補中益氣升胎之法，突開千古法門。先生茯苓升麻湯，後未開方，不敢妄補。但恐耆、術壅滯耳。何妨即用補中益氣湯，多加參而去耆、術也。然又須加用桂枝，蓋桂枝一散，則膀胱之經絡一提，經絡提，膀胱起，而復元矣。然後以車前子利之，無不通也。</p>
<p>按《胎產秘書》用豬膀胱一個，生切方寸大片，上攤桑螵蛸面一錢厚，上覆豬網油一片，再鋪上膀胱一片，再攤桑螵蛸，如是十餘次，以膀胱用盡為度，然後用豆腐皮包而蒸之極爛，令產婦連豆腐皮食之，立見效驗。</p>
<p><u>八味湯</u></p>
<p>大熟地（四錢）　山萸肉（去核）　山藥（各二錢）　丹皮　茯苓　澤瀉（各一錢五分）　肉桂　附子（各五分）</p>
<p>雖因寒，亦不必用桂、附以傷胎，六味地黃湯中加小茴香、巴戟天、淫羊藿，自然腎經氣化而出矣。</p>
<p><u>滋腎丸</u></p>
<p>黃柏　知母（各二兩）　肉桂（一錢）</p>
<p>煉蜜丸，每服三錢，開水下。</p>
<p>雖因熱，亦不可用知母、黃柏以敗胃，六味地黃湯中加麥冬、元參，自然肺陰下沛而出矣。蓋水出高源也。</p>

<h1>胎水腫滿</h1>
<p>「妊娠胎水腫滿，名曰子腫，又名曰子氣。其症多屬胞胎壅遏，水飲不及通流。或脾虛不能制水，以致停蓄。大法：胎水壅遏，用五皮飲加白朮茯苓主之。脾虛不能制水，用六君子湯主之。凡腰以上腫，宜發汗，加秦艽荊芥防風。腰以下腫，宜利小便，加車前澤瀉防己。胎水通行，生息順易，宜先時治之，不可俟其既產而自消也。」</p>
<p>此篇治法，大旨悉合，惟六君子湯之半夏及五皮飲，皆未免峻厲，恐致傷胎。論上下截以心坎骨為界，在上者四君子湯加秦艽、荊芥、木通；在下者宜遵《胎產秘書》鯉魚湯，其法先以鯉魚煮湯，加白朮、木通、車前子，重者加冬葵子仁，用之屢效。此間鯉魚不可多得，可多取魚鱗，炒焦入藥，其功同也。</p>

<h1>乳自出</h1>
<p>「妊娠乳自出，名曰乳位，生子多不育。然予以為氣血虛弱不能統攝，用八珍湯頻頻補之，其子遂育。」</p>
<p>此症甚少，如遇之，此法甚良，宜遵之。</p>

<h1>臨產將護法</h1>
<p><u>神驗保生無憂散</u>　婦人臨產。先服一二劑，自然易生。或遇橫生倒產。甚至連日不生。速服一二劑。應手取效。永救孕婦產難之災。當保子母安全之吉。</p>
<p>當歸（酒洗，一錢五分）　川貝母（一錢）　黃耆（八分）　白芍（酒炒，冬月用一錢、一錢二分）　菟絲子（一錢四分）　厚朴（薑汁炒，七分）　艾葉（七分）　荊芥穗（八分）　枳殼（麵炒，六分）　川芎（一錢三分）　羌活（五分）　甘草（五分）</p>
<p>水二盅。姜三片、煎至八分、空腹溫服，此方流傳海內。用者無不響應。而制方之妙。人皆不得其解。是故疑信相半。</p>
<p>此方全是臨產催生妙用，不至其期，不可早服。而《達生篇》注以胎動不安見紅者，亦用此方，壞事多矣！</p>
<p><u>華佗順生丹</u></p>
<p>硃砂（經研水飛，五錢）　明乳香（箬上炙乾，一兩）</p>
<p>上為末。端午日，豬心血為丸，如芡實大，每服一丸、用當歸三錢，川芎二錢，煎湯關下，不經女人手。</p>
<p><u>順生丸</u></p>
<p>硃砂（五錢）　丁香（五錢）　麝香（一錢）　明乳香（一兩）　石燕（煅、醋碎七次，一對、一雌一雄、圓為雌、長為雄）</p>
<p>上為末、擇天月德日、用益母草熬膏為丸、如芡實大、每服一二丸、用歸芎湯送下。</p>
<p><u>催生如神散</u>　治逆產橫生，其功甚大。</p>
<p>百草霜　白芷（不見火）　各為末等分</p>
<p>每服三錢，以童便米醋和如膏，加沸湯調下，或用酒煎，加入童便少許，熱服。書云：血見黑則止、此藥不但順生，大能固血、又免血枯為妙。</p>
<p>先生所列催生三方，未經試驗，而皆和平之品，母子兩全之道，然遇危急之候，兒身不順，胞漿已破，為時已久，精神已敗，勢不得不棄子留母，擇各書猛峻奇方，開列於後：</p>
<p><u>立竿見影方</u></p>
<p>冬葵子仁（一兩）　當歸（五錢）</p>
<p>水煎濃服。</p>
<p><u>三脫散</u></p>
<p>蛇蛻　蠶蛻　蟬蛻（炒，各一錢）</p>
<p>只為末，黃酒下。</p>

<h1>十產論節選</h1>
<p>「四曰凍產；天氣寒冷，產母血氣凝滯，難以速生，則衣服宜厚，產室宜暖，下衣更宜溫厚，庶兒易生。更不宜火氣太熱，恐致血暈。」</p>
<p>燒透木炭，多亦無妨，若煤火過甚，毒氣入鼻，取禍甚速。</p>
<p>「五曰熱產：盛暑之月，產婦當溫涼得中。過熱則頭目昏眩。而生血暈之症。若涼臺水閣，以及狂風陰雨，更當謹避。」</p>
<p>房中斷斷不許多人嘈雜，否則積氣成穢，產婦心中一煩，即刻變症，慎之慎之！</p>
<p>「十曰盤腸產：臨產子腸先出，然後生子。腸出時，以極潔淨，不破損漆器盛之。古方：用蓖麻子四十九粒，研爛，塗產母頭頂。腸收上，急洗去。其腸若干，以磨刀水少許，溫潤之，再用磁石煎湯服之即收上。磁石，須陰陽家用過有驗者。」</p>
<p>磨刀水、磁石湯，用之皆駭人聽聞，不如以芝麻、當歸濃煎湯，溫和潤之為妥，余嘗親見之矣。</p>

<h1>交骨不開產門不閉</h1>
<p><u>加味歸芎湯</u></p>
<p>當歸（五錢）　敗龜版（童便炙酥，三錢）　川芎（三錢）　婦人頭髮（一握燒灰存性）</p>
<p>水煎服、約人行五里，即生，設是息胎，亦下。灼過龜版亦可用。</p>
<p>此方百試百驗，萬叫萬靈，不但開骨，一切橫生倒產，用之多方保全，但龜版性寒，服此者產後多致成痢，不可不知也。</p>

<h1>胞衣不下</h1>
<p><u>失笑丸</u>　治瘀血脹胞，並治兒枕痛，神效。</p>
<p>五靈脂（去土炒）　蒲黃（炒，等分）</p>
<p>共為末，醋糊丸、如桐子大、每服二三錢、淡醋水下。</p>
<p><u>花蕊石散</u>　治產後敗血不盡、血迷血暈、胎衣不下、脹急不省人事、但心頭溫者、急用一服灌下、瘀血化水而出、其人即蘇、效驗如神、醫家不可缺此。</p>
<p>花蕊石（一斤）　上色硫磺（四兩）</p>
<p>上為末，和勻，先用紙泥封固瓦罐一個，入二藥，仍用紙泥封口，曬乾，用炭煅二炷香、次日取出，細研，每服一錢，童便和熱酒調下，甚者用二三錢。</p>
<p><u>牛膝散</u>　治胎衣不下、腹中脹急、此藥腐化而下、緩則不救。</p>
<p>牛膝　川芎　蒲黃（微炒）　丹皮（各二兩）　當歸（一兩五錢）　桂心（四錢）</p>
<p>共為末，每服五錢，水煎服。</p>
<p>以上三方，治胎衣不下及血入胞中之危症，皆有奇效，宜恪遵之。</p>

<h1>產後將護法</h1>
<p>「二日擇食。凡產後，宜專食白粥。數日後，以石首魚織少，洗淡食之。至半月後，可食雞子，亦須打開煮之，方能養胃。滿月之後，再食羊肉豬蹄少許，酒雖活血，然氣性慓悍，亦不宜多。如此則產中無病，產後更加健旺矣。」</p>
<p>產後飲食，各處風俗不同，然總不外熱、爛、淡三字而已。一二日內只宜板爛米粥，加紅糖食之；三四日可食白煮極透雞蛋；五六日內可少食白煮豬蹄，以助乳汁；六日之外，平日嗜食之物亦可少食以助胃氣，但切忌生冷及過咸之物。</p>
<p><u>生化湯</u>　凡產後服一二劑，祛瘀生新為妙。</p>
<p>當歸（三錢）　黑姜（五分）　川芎（一錢五分）　益母草（一錢）　桃仁（炒研，七粒去皮尖及雙仁者）</p>
<p>水煎服、入童便少許尤佳。</p>
<p>古方生化湯：當歸三錢，川芎錢半，炮黑姜五分，桃仁五分，血已行者去之，流傳海內，家喻戶曉，忽然去炙草而加益母，寧不慮去血過多乎？且桃仁七粒，不止五分，大有攻傷新血之患，不如從古為是。</p>
<p><u>歸薑湯</u>　治產後心慌自汗，用此安之。</p>
<p>當歸（三錢）　黑姜（七分）　棗仁（炒，一錢五分）</p>
<p>大棗五枚，去核，水煎服。若服後。自汗仍多。心慌無主。恐其暈脫。即加人參二錢。熟附子一錢。先顧其本。方內重用當歸。則瘀血不得停留。人參可用。世人狐疑不決。多致誤事。予嘗治新產大虛之人。有用人參數兩而治愈者。更有用十全大補加附子數十劑而治愈者。倘瘀血作痛。即以失笑丸間服。攻補並行。不相妨也。</p>
<p>此係生化之變劑。因多汗而用棗仁，輕者可愈，重者無益。一二日內非萬不得已，勿用人參，以防瘀血滯留。附子亦非輕用之品。設或陽盛而陰竭，壞事即在頃刻；如日收汗，莫若龍骨，龍骨專走氣分，並無收澀敗血之慮。</p>

<h1>產後血暈</h1>
<p>「若瘀血上攻，胸腹脹痛拒按者，宜用歸芎湯，下失笑丸。若去血過多，心慌自汗，用歸姜飲加人參。虛甚者，更加熟附子。」</p>
<p>若只胸腹脹滿，失笑丸可愈。若胸腹凸起而堅者，非用薑黃不可，重者佐以紅花。又去血過多，心慌自汗而虛甚者，用附子乃萬不得已之事，稍輕者可用人參、當歸、龍骨，牡蠣、桂圓、棗仁六味代之。</p>

<h1>產後不語</h1>
<p>「不語之症，有心病不能上通者，有脾病不能運動舌本者，有腎病不能上交於心者。雖致病之因不同，而受病之處，總不出此三經耳。產後不語，多由心腎不交，氣血虛弱，縱有微邪，亦皆由元氣不足所致，古方七珍散主之。若兼思慮傷脾，倦怠少食，更佐以歸脾湯。若兼氣血兩虛，內熱哺熱，更佐以八珍湯。若兼脾虛生痰，食少嘔惡，更佐以六君子湯。若兼腎氣虛寒，厥冷痹痛，更佐以地黃飲子。若兼水虛火炎，內熱面赤，更佐以六味地黃湯。如此調治，自應痊愈。倘妄行祛風攻痰，失之遠矣。」</p>
<p>心病必多汗神驚，生化湯加柏子仁、棗仁、益智仁、龍骨、桂圓。脾病必不思食，目睛黃，生化湯加白朮、菟絲子。腎病必腰痛，生化湯加杜仲、骨碎補、枸杞。以上三條，若在三日之後，皆加人參。</p>
<p>心腎不交，應用桂圓、棗仁、遠志、杜仲、炒枸杞、熟地等，七珍散藥品雜亂猛烈，不可用也。歸脾湯法，亦必四五日後可用，若一二日內照前議重用白朮、桂圓力宜。地黃飲子不如八味丸去附子、澤瀉。六味地黃湯法亦應去澤瀉。恐泄腎氣也。</p>

<h1>產後發熱</h1>
<p>「大凡風寒發熱，晝夜不退，血虛與傷食，則日哺發熱，清晨即退，是以二症相似也。然傷食之症，必吞酸噯腐，胸膈滿悶，顯然可辨。若血虛症，則無此等症候。然產後復有氣血大虛，惡寒發熱，煩躁作渴，乃陽隨陰散之危症，宜用十全大補湯。如不應，更加附子。若嘔吐瀉利，食少腹病，脈沉細，或浮大無力，更佐以理中湯。此皆虛寒假熱之候，沒誤認為火而清之，禍如反掌。」</p>
<p>風寒發熱，必有頭痛、鼻塞、聲重、流清涕等症，輕者生化湯內加蘇葉、熟地，大棗、生薑，取微汗而愈，嗽者生化湯內加前胡五分防風五分以散之，遲則風入肺里，必變勞症。若現三陽表症者，急於生化湯中按經用表藥，多加熟地以助真陰，多用炙草以安中氣，若三日之後，必加人參，方能送邪外出。此指三陽表症而言，若風入子臟，另有專門。</p>
<p>凡治將脫之症，人參、附子、熟地之中，必加龍骨，方能奏效，藥少功捷，可兼十全，理中之功。十劑曰，澀以止脫，龍骨牡蠣之屬是也。</p>

<h1>產後癲狂</h1>
<p>「產後癲狂，及狂言譫語，乍見鬼神。其間有敗血上衝者，有血虛神不守舍者。大抵敗血上衝，則胸腹脹癰，惡露不行，宜用澤蘭湯，並失笑丸。若血虛神不守舍，則心慌自汁，胸腹無苦，宜用安神定志丸，倍人參，加歸芎主之。歸芎湯亦得。此症多由心脾氣血不足，神思不寧所致，非補養元氣不可。倘視為實症而攻之，禍不旋踵。」</p>
<p>因惡露不行而致癲狂譫語者，是敗血業歸心，實乃險症！大用蘇木、薑黃，十中可全一二。此外則因虛者多，歸脾湯為是；不腹瀉者重加當歸，仍加桃仁五分；一日之內原方去參、耆木香，只留白朮，二日外只支木香、黃耆，五日外即照成方可也。然此症實有邪魁者居多，照前法加龍骨、虎骨、蒼朮，房內焚蒼朮、獨活、降香，屢經奇驗。</p>

<h1>心神驚悸</h1>
<p>「產後心神驚悸，或目睛不轉，語言健忘，皆白心血空虛所致。夫人之所主者心，心之所主者血。心血一虛。神氣不守，驚悸所由來也，法當補養氣血力主。」</p>
<p>此係心膽二經之症，棗仁即心膽二經之藥，用以為主，二日之內，棗仁、桂圓、炙草、煅龍骨，三四日酌而加硃砂，人參，五六日加杜仲、熟地，七日外歸脾湯去木香，加硃砂、尤骨。</p>

<h1>汗多變症</h1>
<p>「產後汗出不止，皆由陽氣頓虛，腠理不密，而津液妄泄也。急用十全大補湯止之。如不應，用參附、耆附、朮附等湯。若病勢危急，則以參耆朮三湯合飲之。如或汗多亡陽，遂變為痙，其症口噤咬牙，角弓反張，尤為氣血大虛之惡候。更當速服前藥，庶可救療。或問無汗為剛痙，有汗為柔痙，古人治以小續命湯者何也？答曰：此外感發痙也。病屬外感，則當祛邪為急。若產後汗多發痙，此內傷元氣，氣血大虧，筋無所養，虛極生風，藉非十全大補加附子，安能斂汗液、定搐搦，而救此垂危之症乎。」</p>
<p>痙者強也，脊背太陽兩大筋強硬，項不能轉搖也，在雜症中為太陽液虛，法用花粉，桂枝，若口噤咬牙，角弓反張，自是風症，與痙病原不能涉。此篇所論產後之痙，乃血虛不能養筋，血枯則生內風，自是一串之症，不妨則為一篇。但病名未分，後學難以認病，當名之曰因虛成痙，痙重生風，則一目瞭然矣；自以大補氣血為主，更以養筋柔筋為要，附子大能傷陰，血煎而愈耗，筋爍而益枯，不可輕用！謹遵各書治剛痙大意，參以產後用藥之法，擬藥以俟高明。二日內痙而未生風者。熟地、當歸、阿膠、黑芝麻、生杜仲、豬脊髓、本人頭髮灰；三日之內，加人參，已生風者，加魚鰾：五日之內加黃耆；六日之外，用十全大補湯加鉤藤，羚羊角，無不愈矣。</p>

<h1>產後身痛</h1>
<p>「戶後遍身疼痛，良由生產時育節開張，血脈空虛，不能榮養。或敗血乘虛而注於經絡，皆令作癰。大法：若遍身疼痛，手按更痛者，是瘀血凝滯也，用四物湯，加黑薑、桃仁、紅花、澤蘭補而化之。若按之而痛稍止，此血虛也，用四物湯，加黑薑、人參、白朮補而養之。其或有兼風寒者，則發熱惡寒，頭痛鼻塞，口出火氣，斯為外感，宜用古拜散，加當歸、川芎、秦艽、黑姜以散之。散後病未除，恐血虛也，宜用八珍湯以補之。此治身痛之大法也。」</p>
<p>第一段主瘀血，第二段主血虛，治法皆善。闕血多為寒氣凝滯，不妨加肉桂五分、威靈仙二三分，取效更速。</p>
<p>產後受風，症分深淺，初得者發熱、惡寒、頭痛、口出火氣，邪尚在經絡也，以華佗愈風散治之；若手指漸漸搐溺，目系漸漸牽動，是邪入血海，將入子臟，豆淋酒治之；若眼睛上吊，角弓反張，口喎牙緊，是邪已入子臟矣，蟬退魚鰾散主之；若無此三症，而現三陽表症者，按經用藥，已詳於前。</p>
<p><u>華佗愈風散</u></p>
<p>荊芥穗（炒，三錢）</p>
<p>為要，熱童便沖服，加童便少不足沖熱，再加熱黃酒。</p>
<p><u>豆淋酒</u></p>
<p>黑豆（二兩）　干母雞糞（一兩）　荊芥穗（二錢）</p>
<p>惡露不行加紅花三分，入砂鍋內同炒，炒至黑色起煙時，以滾黃酒沖之，攪勻去渣飲酒。</p>
<p><u>蟬退魚螵散</u></p>
<p>魚螵（一兩）</p>
<p>用蛤粉炒為珠，研為細末，分三次服，每次用蟬蛻三個煎湯送下，如無蛤粉，即用黑豆麵和乾雞糞末炒螵亦可，曾經試驗也。</p>

<h1>產婦腰痛</h1>
<p>「書云：腰以下，皆腎所主。因產時勞傷腎氣，以致風冷客之，則腰痛。凡腰痛上連脊背。下連腿膝者，風也。若獨自腰痛者，虛也。風用獨活寄生湯，虛用八珍湯，加杜仲續斷肉桂之屬。若產後惡露不盡，流注腿股，痛如錐刺，手不可按，速用桃仁湯消化之，免作癰腫。凡病虛則補之，實則瀉之，虛中有實，實中有虛。補瀉之間，更宜斟酌焉。」</p>
<p>此症以腎虛為主，有因風者，有因寒者，無非乘虛而入，若專一治風，恐致汗脫亡陽；《本草》稱杜仲治腰痛殊功，《景岳》稱枸杞佐熟地，治虛損腰痛如神，總不外此三藥而已；風襲者加獨活，寒襲者加肉桂，寒甚者桂附八味地黃丸加杜仲，應手取效。</p>
<p>至於血停留一段，多在胸腹、流注腰間甚少，存此以備一格。縱有此症，亦多為寒氣疑滯，所列桃仁湯中酌加桂子可也。</p>

<h1>惡露不絕</h1>
<p>「產後惡露不絕，大抵因產時，勞傷經脈所致也。其症，若肝氣不和，不能藏血者，宜用逍遙散。若脾氣虛弱，不能統血者，宜用歸脾湯。若氣血兩虛，經絡虧損者。宜用八珍湯。」</p>
<p>產後必十日左右血不止者，方謂之不絕。其人面黃唇白，總由於虛，歸脾湯去木香，加煮文葉，阿膠、續斷，汗多者加龍骨，無有不愈；有兼瀉者，再加赤石脂、肉豆蔻。凡此症多有大汗，一泄手指即冷，頃刻變症，較尋常崩漏重十倍也。</p>

<h1>產後心腹諸痛</h1>
<p>「產後心腹諸病，若非風冷客之，飲食停之，則為瘀血凝積。然產後中氣虛寒，多致暴痛，直各審其因而藥之。大法：風寒者，口鼻氣冷。停食者，吞酸滿悶。俱用二香散主之。瘀血者，轉側若刀錐之刺，手不可按，痛而不移，失笑丸主之。中氣虛寒者，腹中冷痛，按之稍止，熱物熨之，稍松，理中湯加桂心主之。若小腹痛，氣自臍下逆沖而上，忽聚忽散者，此瘕氣也，橘核丸主之。若小腹痛處有塊，不可手按，此瘀血壅滯，有曰兒枕痛，並用前失笑丸。瘀血行而痛止矣。」</p>
<p>風寒、停食兩症，辨之極明，所列二香散方，縮為小劑湯藥，用之屢效。慈按風寒、停食二者，隨症加藥，注於方下。</p>
<p><u>二香散</u>　散寒消食。</p>
<p>砂仁　木香　黑姜　除皮　炙甘草（各一兩）　香附（薑汁炒，三兩）</p>
<p>共為末，每服二錢、生薑湯調下。</p>
<p>兼風者必有外感，加炒過荊芥穗；兼寒者加紅豆蔻二三粒；兼食者加神麯、麥芽。</p>
<p>瘀血一段，若在心坎骨上，危症也，生化湯加薑黃；在心之下、臍之上者，加延胡索；在臍之下者，加橘核、小茴香、砂仁。</p>
<p>中氣虛寒一段，重者用理中湯，輕者用白朮、神麯、蒸過良薑二三分。</p>
<p>小腹痛一段，即用橘核丸加熟地、小茴香、桂枝。</p>
<p>兒枕痛一段，不必用失笑丸，即用生化湯加小茴香、桂枝可也。</p>
<p>以上各症，十中九虛，若在二三日後，可酌加人參或代以熟地。</p>

<h1>蓐勞</h1>
<p>「產後氣血空虛，真元未復，有所作勞，則寒熱食少，頭目四肢脹痛，名曰蓐勞，最難調治。大法陽虛則惡寒，陰虛則發熱。清氣不升，則頭痛。血氣不充，則四肢痛，宜用大劑八珍湯以補之。若牌虛食少，即用六君子加炮姜以溫補之，諸症自退。」</p>
<p>蓐勞乃產後虛症，惟當急補，尤宜斂汗，輕者棗仁，重者龍骨；防瀉須服肉豆蔻。補氣之藥：一二日炙草、大棗，三四日用參，五六日用耆；補血之藥：重者熟地、桂元，輕者當歸，一定之法也。</p>

<h1>喘促</h1>
<p>「新產後。喉中氣急喘促，因榮血暴竭，衛氣無依，名曰孤陽，最為難治，直用六味湯加人參以益其陰。若脾肺兩虛，陽氣不足，宜用四君子湯，加黑姜當歸以益其陽。若自汗厥冷，更加附子。若兼外感，即於四君方內，加荊芥陳皮炮姜川芎當歸以散之。」</p>
<p>此篇所論益陰、益陽之法，盡美盡善，惟六味湯中可酌去澤瀉；且尚遺治下一法，經曰：「諸短氣喘，皆由於下。」況產後肝腎散漫之時乎？法當熟地、何首烏並用，佐以鹿茸、枸杞、沙苑，重者加磁石，俟喘定肺寧，再用人參補之。</p>
<p>有外感者，仍服前藥，安穩根基之後，另用華佗愈風散。現三陽表症者，隨經加藥。</p>

<h1>鼻黑鼻衄</h1>
<p>「產後口鼻起黑氣，及鼻衄，皆由氣血空虛，榮症散亂。乃胃敗肺絕之危症也。急用二味參蘇飲加附子。間有得生者。」</p>
<p>鼻黑是胃氣將絕之候，突屬危症，附子理中湯加大棗、粳米，十中或全一二，斷非參蘇二味所能奏功。若鼻中衄血，多因惡露不行，反而湧上《胎產秘書》中用生化湯，加龜甲，心透任脈則衝脈自開，血行衄止。推而廣之，不外引血下行，蘇木、茜草皆可加也。若惡露已行而衄血者，是產後陰虛，督脈孤陽上湧，可瀉督脈，曾見前輩用豬脊髓下截煎湯，加炒黑梔、棕灰、地骨皮、炒黑丹皮、龜板膠，病已垂危，一劑而愈；外以本人頭髮燒灰吹之。</p>

<h1>產後乳疾</h1>
<p>「婦人產後，有乳少者，有吹乳者，有妒乳者。乳為氣血所化，若元氣虛弱，則乳汁不生，必須補養氣血為主。若乳房焮脹，是有乳而未通也，宜疏導之。後有乳兒之際，為兒口氣所吹，致令乳汁不通，壅滯腫痛。不急治，即成乳癰。速服瓜蔞散，敷以香附餅，立見消散。」</p>
<p>乳少及乳汁不通二症，皆以豬前蹄一對，加王不留行三錢、當歸二錢，煎湯徐飲，乳汁自通。壅腫者所列瓜蔞散方內，須加皂刺、當歸各二錢方效。按《本草綱目》用京三稜三四個，濃煎湯，俯身將乳浸其中三刻，即效。亦經屢試矣。</p>

<h1>乳癰乳岩（乳卸）</h1>
<p>「乳癰初起，若服瓜蔞散，敷以香附餅，即見消散。如已成膿，則以神仙太乙膏貼之，吸盡膿，自愈矣。乳岩初起，若用加味逍遙散，加味歸脾湯，二方間服，亦可內消。及其病勢已成，雖有廬扁，亦難為力。但當確服前方，補養氣血，縱未脫體，亦可延生。若妄用行氣破血之劑。是速其危也。更有乳卸症，乳頭拖下，長一二尺，此肝經風熱發泄也，用小柴胡湯，加羌活防風主之。外用羌活、防風、白斂、燒煙薰之。仍以蓖麻子四十九粒，麝香一分，研爛，塗頂心，俟乳收上，急洗去。」</p>
<p>乳癰、乳岩二症，《醫宗金鑑》外科，均有專門，詳而且善，可參考之。</p>
<p>乳岩一症，若其核大如桃杏而堅者，是病勢已成，最為難治，只好調補氣血，萬勿妄用行氣破血之劑，以速其危！篇中所論，老成之見也。</p>
<p>乳卸，怪症也，如遇之，宜遵篇中之法治之。</p>
<p>《景岳全書》於此症偏主於補，然濕熱熏利，徒補，恐變他症，宜遵此書為善。</p>

<h1>婦人隱疾</h1>
<p>「婦人隱疾，前陰諸疾也。有陰腫、陰癢、陰瘡、陰挺下脫諸證。其腫也，或如菌、如蛇、如帶、如雞冠，種種不一。而推其固，總不外子濕熱也，古方九味蘆薈丸主之。若兼怒動肝火，佐以加味逍遙散。若肝經濕熱極盛，佐以龍膽瀉肝湯。若脾虛氣弱，中氣下陷，佐以補中益氣湯。若思慮傷脾，脾氣鬱結，佐以加味歸脾湯。若腎水不足，佐以六味丸加歸芍，庶克收功。」</p>
<p>此篇所列各方，皆是古法，可以遵用。但是症氣虛下陷者多，須兼以補中益氣法行之。外治之法甚多，詳載《本草綱目》主治下，可參考之。</p>

<h1>附錄</h1>

<h2>梁茂名《舌鑑辨正》總論</h2>
<p>舌根主腎命大腸，應小腸膀胱；舌中左主胃，右主脾；舌前面中間屬肺；舌尖主心，心包絡、小腸、膀胱，應大腸命；舌邊左主肝，右主膽。舌尖應上焦，舌中應中焦，舌根應下焦。</p>
<p><u>白舌總論</u></p>
<p>白舌為表證有之，里證有之，而虛者、熱者、實者亦有之；不獨傷寒始有白舌，而白舌亦可以辨傷寒，其類不一：白浮滑薄苔，刮去即還者，太陽表寒邪也；白浮滑而帶膩帶漲色，分各經，刮之有淨有不淨者，邪在半表半裡也，全舌白苔，浮漲浮膩，漸積而干微厚，刮不脫者，謂刮去其面而其底仍有。寒邪欲化火也；辨傷寒舌，大約如此。至若雜病之人，舌白嫩滑，刮之明淨者，裡虛寒也。無苔有澤，濕而光滑，其白色與舌為一，刮之不起垢泥，是虛寒也，口唇必潤澤。白厚粉濕滑膩苔，刮稍淨，而又積如麵粉發水形者，裡寒濕滯也。白粗澀，有朱點，有罅紋之苔，粗澀則不光澤，朱點則顯其臟腑有熱，裂紋多因誤服溫藥之故。白乾膠，焦燥滿苔，刮不脫，或脫而不淨者，裡熱結實也。此舌頗多，其苔在舌，比之面上傳粉，刮之多垢，其白色與舌為二物，是熱也，與前論之虛寒舌相反，當認明此苔，由淺而深，將黃米黃，或竟變黑者也，不可用溫補藥。苔白苔夾變別色者，宜於望聞問切四事參考之，庶幾不差。</p>
<p><u>黃舌總論</u></p>
<p>黃苔者，表裡實熱證有之，表裡虛寒證則無，刮之明淨，即為無病。必須清潔光明，見淡紅潤澤之底。凡言淨者皆仿此。刮之不淨，均是熱症。刮後仍留粗澀垢膩，如薄漿糊一層者，或竟刮不脫者。淺黃微薄者，微熱之。於澀深黃膩厚者，大熱也。芒刺焦裂老黃，或夾灰黑色者，極熱也。黃苔見於全舌，為臟腑俱熱，見於某經，即某經之熱，表裡證俱如此辨，乃不易之理也。治里證分經辨准，對證用藥，必不差訛。表證風火暑燥，皆有黃舌，惟傷寒邪在太陽少陽時，均無黃苔，待邪入陽明府，其舌必黃，初淺久深，甚則老黃，或夾變灰黑；其證多大熱大渴，或無汗，或自汗，譫語痞結，咽乾目暗，大小便秘，衄血吐血，蓄血如狂，自利清水不等，以舌脈相較，審證無誤。若邪火里逼，實熱里結緒危證，其脈往往伏代散亂，奇怪難憑。重病久病亦然，更有輕病而脈即伏亂者。則當舍脈憑舌，專經急治，斯為盡善。若泥於火乘土位，故有黃苔之說，迂執誤人矣。</p>
<p><u>黑舌總論</u></p>
<p>凡舌苔見黑色，病必不輕，寒熱虛實各證皆有之，均屬裡證，無表證也。在傷寒病，寒邪傳裡化火，則舌苔變黑，自舌中黑起，延及根尖者多，自根尖黑起者少，熱甚則芒刺干焦罅裂，其初必由白苔變黃，由黃變黑，甚至刮之不脫，濕之不潤者，熱極傷陰也。病重脈亂，舍脈憑舌，宜用十全苦寒湯以補陽火之偏，急下以救真陰之弊。在雜病見黑苔，皆因實熱傷里也，亦惟連瀉熾火，勿使枯竭。若虛寒而舌黑者，則必濕滑無苔，多澤，口不苦，唇不燥。無朱點，無芒刺罅裂，刮之明淨，如水浸豬腰，有淡淡融融之形，是臟腑極寒之舌也。宜用十全辛溫救補湯。亦有真寒假熱證，而見黑舌者。其舌必全黑而不分經，且必由淡白之時，忽然轉黑，其初無變黃之一境，約略望之，似有焦黑芒刺干裂之狀，然刮之必淨，濕之必潤，環唇皆白，而不紅焦，寒結在臟也。其證亦周身大熱，煩燥惡衣被，與實熱邪火證相似，實則中宮寒極，陽氣盡發於外也，口大渴，喜冷飲水，卻不多，與實熱諸證略異，外假熱而里極寒也。患此假證之人，必煩亂昏沉，六脈必遲弱無力，大便結，常欲下而不下，宜十全甘溫救補湯。更有陰虛腎水虧而舌黑者，頗似寒舌之光亮無苔，又似熱舌之焦乾無澤，詳審乃可無誤，治宜六味地黃湯，加減急投。然陰虛內傷之舌，大看絳色無苔。若腎絕舌黑過尖，言歸於命，則無洽法。有吸菸之人，常多黑舌，看法與平人之舌黑，減一二等算，又有食物而染黑者，宜明辨之。</p>
<p><u>灰舌總論</u></p>
<p>灰色不列五色，乃色之不正也。舌見灰色，病概非輕，均里證，無表證，有實熱證，無虛寒證，有邪熱傳裡證，有時疫流行證，鬱結停胸證，蓄血如狂證，其證不一，而治法寒涼攻下，寒涼以救真陰，攻下以除穢毒，在當用之時，不得訾為找伐焉。《舌鑑》舊載「總論」，謂熱傳三陰，則有灰黑乾薹，皆當攻下泄熱是也。義謂直中三陰，見灰黑無苔者，當溫經散寒，此說甚謬。蓋灰黑與淡黑色頗相似，惟灰則黑中帶紫，淡則黑中帶白之殊耳。若寒邪直中三陰者。其色淡黑無苔，宜溫經散寒；如邪熱直中三陰者，其舌灰黑無苔，宜三黃、白虎、大承氣，並用連投，直出直人，其害非輕，願望舌者，小心謹慎焉！</p>
<p><u>紅舌總論</u></p>
<p>全舌淡紅，不淺不深者，平人也，有所偏則為病。表裡虛實熱證，皆有紅舌，惟寒證則無之。如全舌無苔，色淺紅者，氣血虛也；色深紅者，氣血熱也；赤紅者，臟肺俱熱也；色紫紅瘀紅者，臟腑熱極也。中時疫者有之，誤服溫補者有之，色鮮紅，無苔、無點、無澤、澤舌底出。無液（液舌面浮）者，陰虛火炎也。有苔可作熱論，虛極不能生苔。色灼紅，無苔無點，光亮如錢，或半舌薄小而有直紋，或有泛漲而似膠非膠，或無澤液，而咽乾帶澀不等，紅光不活，絳色難名，如豬腰將腐，難以言狀。水涸火炎，陰虛已極也。瘦人多火，偏於實熱，醫者拘於外貌，輒指為虛，誤服溫補，灼傷真陰，或誤服滋補，名為滋陰降火，實則膩澀酸斂，膠黏實熱，引火入陰分。漸耗真陰，亦成絳色，而為陰虛難療矣，其初必有黃苔，醫者不知，久之內傷已甚，不能顯苔，而變絳色矣，凡陰虛火旺之病，自生者極少，多由醫家誤用補藥逼成也。不論病狀如何，見絳色則不吉。《舌鑑》舊載「總論」，引仲景云，冬傷於寒，春變為溫，至夏變為熱，故舌紅面赤；此專指溫疫於傷寒也。而紅舌各病，實非溫疫傷寒所可賅括，勿泥古以致誤！</p>
<p><u>紫舌總論</u></p>
<p>紫見全舌，臟腑皆熱極也，見於舌之某經，即某經鬱熱也。傷寒邪化火者，中時疫者，內熱薰蒸者，誤服溫補者，酒食濕滯者，皆有紫舌。有表裡實熱證，無虛寒證，若淡紫中夾別色，則亦有虛寒證。凡辨色無苔，則論舌之本色，有則憑苔之見色參之，望聞問切，以判表裡寒熱虛實之真假，雖不中，不遠矣。餘數十年來，但知有紫色舌，未聞有紫苔舌，但見紫舌為各種熱證，未聞屬酒後傷寒，舊本專指酒後傷寒，未免拘執。</p>
<p><u>黴醬舌總論</u></p>
<p>黴醬色者，有黃赤兼黑之狀，乃臟腑本熱，而夾有宿食也。凡內熱久郁者，夾食中暑者，夾食生寒，傳太陰經者，皆有之。見此舌，不論何證何脈，皆屬裡證實熱證，無表證虛寒證，舊論謂苔薄用桂枝湯，加枳、橘、半夏，苔色厚，為土邪剋水，鮮有得愈者，皆謬說也。</p>
<p><u>藍舌總論</u></p>
<p>藍者，綠與青碧相合，猶染色之三藍也。舌見藍色，而尚能生苔者，臟腑雖傷未甚，猶可醫治，若光藍無苔者，不論何證何脈，皆屬氣血極虧，勢難延年。舊論泥於五行，謂金木相併，火土氣絕，不分有苔無苔。概云不治，亦管窺之見耳。</p>
<p>梁茂名者，茂名梁玉瑜特岩先生也。《舌鑑辨正》二卷，即梁氏家傳辨舌之法，秀水陶保廉輯錄。先祖以其條分縷析，言簡意賅，審證論治，塗中肯綮，錄之以備參酌。此書於清光緒間由蘭州固本書局刻印，流傳不廣，特抄為附錄，供讀者參考。</p>

<h1>附方</h1>
<p><u>十全苦寒湯</u></p>
<p>石膏　知母　黃芩　黃連　黃柏　芒硝　大黃　枳實　厚　樸犀角</p>
<p><u>十全辛溫救補湯</u></p>
<p>附子　乾薑　肉桂　豆蔻　木香　陳皮　半夏　川椒　丁香　藿香</p>
<p><u>十全甘溫救補湯</u></p>
<p>生耆　人參　白朮　九地　川芎　歸身　鹿茸　白芍　茯神　甘草</p>
