<header data-type="book">
<h1>灸法秘傳</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉國光</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1883">公元1883年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093094.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>劉序</h1>
<p>雷君少逸，衢之名醫也。余守是郡，因病邀診，遂與之善。其人秉至性，多讀書，以醫世，其家著作甚富。余嘗序其《時病論》一書行之。一日，復出其戚金君冶田所藏《灸法秘傳》見示。云：得自蜀僧，施治頗驗。原書譾陋不文，經雷君取所列諸證分門而為之說，言簡意賅，深得經旨，誠濟世之良術也。檢閱方書，其論穴治病，則從太乙神針神明而出，實近今所罕見之本。余恐秘本無傳，因付手民，以公諸書，並附刊太乙神針諸方於後，俾閱是書者參互考證而信從焉。刊成爰綴數語於簡端，以見可傳者。之不能終秘，亦以嘉雷君與金君之急急於傳也。是為序。</p>
<p><u>光緒九年十一月望日儘先補用道知衢州府事楚北劉國光賓臣氏撰</u></p>

<h1>凡例</h1>
<p>一用灸，先審其是何病症，取何穴道，再以病人中指節為一寸，量准寸分，以墨點其穴，候灸。</p>
<p>一灸法，用生薑一大片，原二分許，將灸盞之足釘在薑片之上，照灸盞之孔，將銀針穿通薑片，平放應灸穴上。即將艾絨捏作一團，置於盞內，再上藥料，將艾點燃。少頃，則藥氣即可透入。如覺熱甚難禁，可將銀盞提起片時，仍即放下，看盞內藥將燃盡，即取起另換。每一次，換藥三四回，便可收止。每日或一次，或兩次弗論。</p>
<p>一用灸，宜天氣溫和，密室無風之所，焚一爐香，照法用灸。若遇人神所在，不宜灸之，切須忌避。孕婦亦不宜用。</p>
<p>一灸後，必須靜臥片時，待其藥氣周流於臟腑脈絡之內，自然暢快病出，切切慎風節食、保精養神，為第一著。</p>
<p>一灸穴，宜審輕重。上體及當骨處，灸宜少。下體及肉厚處，灸多無害。</p>

<h1>正面圖</h1>
<figure>
<img alt="正面圖">
</figure>

<h1>背面圖</h1>
<figure>
<img alt="背面圖">
</figure>

<h1>指節圖</h1>
<figure>
<img alt="指節圖">
</figure>
<p>量穴道取寸法，以男左女右手中指第二節,屈指兩紋尖，相去為一寸。取稻草心或薄篾片、量之。若用繩線，則有伸縮不準。</p>

<h1>灸盞圖</h1>
<figure>
<img alt="仰式圖　俯式圖">
</figure>
<p>古聖用九針，失傳久矣。今人偶用者，不但不諳針法，亦且不熟明堂。至於灸法亦然也。今用銀盞隔姜灸法，萬無一失。凡欲用此法者，須仿此樣為式，四圍銀片稍厚，底宜薄，須穿數孔，下用四足，計高一分許。將盞足釘在生薑片上，姜上亦穿數孔，與盞孔相通，俾藥氣可以透入經絡臟腑也。</p>

<h1>灸藥神方</h1>
<p>艾葉（一錢五分）　硫黃　乳香　沒藥　麝香　皂角　枳殼　川芎　桂枝　杜仲　全蠍　白芷　細辛　松香　雄黃　獨活　穿山甲（以上各五分）</p>
<p>上藥秤准分兩，各為末，和丸，固藏弗泄氣。</p>
<p>方解：艾葉，揉搗如綿，謂之熟艾。熟艾性熱，能通十二經，走三陰，以之灸火，能除百病。硫黃之性純陽，能援陽氣暴脫、命欲垂危。沒藥、乳香通行十二經絡。麝香、皂角宣開上下竅關。枳殼破一切氣滯，川芎行一切血凝。桂枝調衛和營，杜仲舒筋壯骨。定厥陰之風，全蠍有力。化癰瘍之毒，白芷多功。細辛通竅散寒，松香祛風止痛，雄黃殺百毒，獨活搜伏風。更以穿山甲通行經絡，直達病所。方中諸品無處不行，所以主治諸疴，效如桴鼓。</p>

<h1>人神在曰不宜灸單</h1>
<p>初一（在足大指）　初二（在外踝）　初三（在股內）　初四（在腰）　初五（在口）　初六（在手）　初七（在內踝）　初八（在腕）　初九（在尻）　初十（在腰背）　十一（在鼻梁）　十二（在髮際）　十三（在牙齒）　十四（在胃脘）　十五（在遍身）　十六（在胸）　十七（在氣衝）　十八（在股內）　十九（在足）　二十（在內踝）　二十一（在手小指）　二十二（在外踝）　二十三（在肝及足）　二十四（在手陽明）　二十五（在足陽明）　二十六（在胸）　二十七（在膝）　二十八（在陰）　二十九（在膝脛）　三十（在足趺）</p>

<h1>十二時人神所在不宜針灸歌</h1>
<p>子踝醜腰寅在目，卯面辰頭巳三屬，午胸未腹申在心，酉背戌頭亥股續。</p>

<h1>十二支曰人神所在不宜針灸歌</h1>
<p>子不治頭君須認，丑日腰耳寅胸應。卯日鼻脾辰膝腰，巳手午心真捷徑。未頭手足申頭背，酉行膝背同其類。戌日在陰頭面間，亥日遊行頭頸位。十二支神禁灸歌，男除女破應該會。</p>

<h1>十干曰人神所在不宜針灸歌</h1>
<p>甲不治頭乙耳喉，丙肩丁背與心求。戊己腹脾庚腰肺，辛膝壬當腎脛收。癸日不宜針手足，十干不犯則無憂。</p>

<h1>尻神圖</h1>
<figure>
<img alt="尻神圖">
</figure>
<p>此神農所置。一歲起坤，二歲震，逐年順飛九宮，周而復始。行年到處則所主敗，切忌針灸，慎勿犯之，否則變生他病。慎之！</p>

<h1>九宮尻神歌</h1>
<p>尻神所在有根由，坤內外踝聖人留。震宮牙口腨宜記，巽位還居乳口頭，中宮肩骨連尻骨，背面目從乾上游。手膊兌宮難砭灸，艮宮腰頂也須休。離膝肋脅針難下，坎肘還連肚腳求。為醫精曉尻神訣，萬病無干禁忌憂。</p>
<p>以上避忌，以逐日人神所在為主。如遇急病，其餘不必避也。</p>

<h1>應灸七十症</h1>

<h2>中風</h2>
<p>中風者，卒然中倒，人事無知，口眼喎斜是也。方書有中經、中絡、中臟、中腑之分。醫之乏效者，必須用灸。或未經療治者，急灸無妨。當其初中之時，先灸百會，或灸尺澤。如口噤者，灸風池。左癱右瘓者，灸風市。如兩額暴痛，口眼歪斜，牙關緊閉，失音不語，灸客主人。如因痰而中者，灸環跳穴可也。</p>
<p>百會穴（從鼻直上入髮際五令，旋毛陷中，可容指處。《醫宗金鑑》云：直上耳尖頂陷中是也。）</p>
<p>尺澤穴（肘中動脈處，即肘彎內橫紋當中，屈肘紋見，《金鑑》云：屈肘橫紋筋骨罅中。）</p>
<p>風市穴（端立，垂手於股外，中指尖到處。）</p>
<p>客主人（兩耳前骨工宛中間，開口即穴處。）</p>
<p>環跳穴（在髀樞中，側臥，屈上足、伸下足取之。大腿曰股，股上曰髀，楗骨之下、大腿之上、兩骨合縫之所曰髀樞，當環跳穴處。）</p>
<p>風池穴（在耳後陷中，按之引耳內。）</p>

<h2>屍厥</h2>
<p>《金鑑》云：屍厥者，類中風之稱也。謂其形厥而氣不厥，口鼻無氣，狀類死屍，而脈自動也。延醫不及，急宜灸大敦穴。倘有四肢厥冷，宜灸內庭，又灸行間，不可誤也。</p>
<p>大敦穴（足大指端，去爪韭菜許毛中《金鑑》云：外側聚毛中。）</p>
<p>內庭穴（足大指內，次指本節前歧骨外間陷中。）</p>
<p>行間（足大指次指歧骨縫間動脈應手陷中。）</p>

<h2>偏風</h2>
<p>偏風者，或左肢不遂，或右肢不遂。在左者為癱，血虛也。右者為瘓，氣虛也。左癱右瘓者，氣血兩虛也。總宜先灸百會，次灸合谷。如一偏疼痛，手臂不仁，拘攣難伸，灸手之裡，兼灸腕骨。倘痛甚不能提物，灸肩髃。兩手攣痛，臂細無力，灸曲池。半身不遂，灸環跳。按穴灸之，自然卻病。</p>
<p>百會穴（見中風。）</p>
<p>合谷（大指次指歧骨間陷中，即虎口，兩叉骨縫中。）</p>
<p>手三里（曲池下二寸銳骨端，按之肉起。）</p>
<p>腕骨（手外側腕前起骨下陷中，即小指直上處。）</p>
<p>肩髃（肩端兩骨間。）</p>
<p>曲池（屈手按胸，肘彎橫紋尖盡處）</p>
<p>環跳（見中風。）</p>

<h2>眩暈</h2>
<p>眩，目花也。暈，頭昏也。其病之因有五：一曰無痰不眩，一曰無火不暈，一曰木動生風，一曰水不涵木，一曰土虛木搖是也。醫者莫分，藥多罔效，灸神庭穴，自獲安全。若未中機，再灸肝俞必驗。</p>
<p>神庭（從鼻上直入髮際五分，即眉心上三寸五分。）</p>
<p>肝俞（八節下，各開二寸。）</p>

<h2>痿症</h2>
<p>經曰：肺熱葉焦發為痿躄，痿躄者，足軟而不能步也。其症有五，不可不明。蓋痿躄屬肺，脈痿屬心，筋痿屬肝，肉痿屬脾，骨痿屬腎也。總當先灸足三里，甚則灸三陰。灸法得宜，較湯散為勝也。</p>
<p>足三里（膝下三寸，䯒外廉，以手掌按膝頭中指到處，股外旁也。膝蓋骨下三寸，在䯒骨外廉兩筋肉分宛宛中，平坐垂足，取之在背，《金鑑》作大筋肉。）</p>
<p>三陰（足內踝上三寸，大骨下陷中。）</p>

<h2>痹症</h2>
<p>痹者，即俗稱為風氣也，症由風寒濕之氣雜合為病。益風勝為行痹，寒勝為痛痹，濕勝為著痹，往往蔓延不愈。倘三氣痹痛，灸環跳，兼灸脾俞、腎俞。足痹不仁，灸腰俞。如手臂作痛，不能提舉，灸尺澤。兩腿麻木，不能步履，灸風市。按圖而灸，庶乎肢體自若耳。</p>
<p>環跳（見中風。）</p>
<p>脾俞（十脊骨下，各開二寸。）</p>
<p>腎俞（十三脊下，各開二寸，亦有一寸半。《金鑑》云：與臍平。）</p>
<p>腰俞（尾尻骨節上窔間。）</p>
<p>尺澤、風市（皆見中風。）</p>

<h2>勞傷</h2>
<p>五勞者，煩冗勞心，謀慮勞肝，過思勞脾，過憂勞肺，色欲勞損。七傷者，久視傷血，久行傷筋，久坐傷肉，久臥傷氣，久立傷骨，房勞思慮傷心腎也。至於骨蒸勞熱，藥石乏效者，先灸大椎，並灸膽俞。久嗽勞熱者，灸肺俞。久虛不食者，灸上脘。真氣虛弱者，灸氣海。男子血損者，灸天樞。女子陰虛，灸足三里。凡有一切虛損勞瘵，及至形神大憊，惟灸膏肓穴，可冀挽回，否則無救矣。</p>
<p>大椎（三節頸項下，第一脊骨上間。）</p>
<p>膽俞（第九脊下，各開二寸。《金鑑》云：各俞皆去脊中二寸，故不從寸半之說。）</p>
<p>肺俞（三椎骨下，兩旁各開一寸五分。《金鑑》云：以手搭肩，左取右，右取左，當中指末處。）</p>
<p>上脘（臍上五寸。）</p>
<p>氣海（臍下一寸五分。）</p>
<p>天樞（臍兩旁，各開二寸許陷中。）</p>
<p>足三里（見痿症。）</p>
<p>膏肓（四椎骨下，兩旁各開三寸五分，《金鑑》云：正坐曲脊，從髀骨上角，摸索至髀骨下頭，其間當有四肋三間。按其中一間空處，是其穴也。）</p>

<h2>咳嗽</h2>
<p>先賢論咳嗽，以有聲為咳，有痰為嗽，有聲有痰為咳嗽。其初起多因於風寒，延久多成於虛損。若咳甚欲吐，灸身柱。因痰而嗽，灸足三里。氣促咳逆，覺從左升，易於動怒者，灸肝俞。咳嗽見血者，灸肺俞，或灸行間。吐膿者，灸期門。日久成勞者，灸膏肓弗誤。</p>
<p>身柱（大椎穴下三節骨下間，按其窔中。）</p>
<p>足三里（見痿症。）</p>
<p>肝俞（見眩暈。）</p>
<p>肺俞（見勞傷。）</p>
<p>行間（見屍厥。）</p>
<p>期門（兩乳下，第二肋骨端。）</p>
<p>膏肓（見勞傷。）</p>

<h2>喘症</h2>
<p>喘病之因有四：有因寒邪入肺而喘者，有因病阻肺氣而喘者，有因水停心下而喘者，有因腎不納氣而喘者。統宜先灸天突，次灸中脘，甚則兼灸肺俞。所有哮喘不得臥者，須灸靈臺。行動遂喘急者，須灸氣海。得能按穴灸之，去沉疴猶拔刺耳。</p>
<p>天突（結喉下二寸陷中。）</p>
<p>中脘（臍上四寸。）</p>
<p>肺俞（見勞傷。）</p>
<p>靈臺（六節骨下窔中。）</p>
<p>氣海（見勞傷。）</p>

<h2>血症</h2>
<p>書謂：吐血成升斗者屬胃血也，其餘咯血屬心，嘔血屬肝，咳血屬肺，唾血屬腎。凡有一概血症，總當先灸膽俞。血痰灸其上脘。咯血喉中有聲，灸其天突。如五勞七傷，諸虛百損而患血者，灸其膏肓，弗可緩也。據（管見），暴患之血症，實火為多，不宜輒灸；灸患之血症，虛火不少，用灸無妨，切須辨之。</p>
<p>膽俞、上脘（並見勞傷。）</p>
<p>天突（見喘症。）</p>
<p>膏肓（見勞傷。）</p>

<h2>汗症</h2>
<p>汗有自盜之分，不可以不知也。蓋自汗為陽虛，不因勞動而自出也。盜汗為陰虛，睡而汗出，醒而收也。灸其尺澤，可以奏勳。設未效者，膈俞灸之，必然全愈。</p>
<p>尺澤（見中風。）</p>
<p>膈俞（七脊下，各開二寸，正坐取之。）</p>

<h2>肺痿</h2>
<p>久嗽肺虛，而成肺痿。痿者萎也，猶枝葉之萎落也。時吐涎沫，聲音不揚，或嗽血絲，形容枯槁。斯症屬虛者多，非肺癰屬實之可比。當先灸其肺俞，兼灸膏肓可也。</p>
<p>肺俞、膏肓（皆見勞傷。）</p>

<h2>肺癰</h2>
<p>久咳不已，胸中隱隱而疼，吐痰腥臭，或吐血膿，是為肺癰。癰者，壅也。良由風寒內郁，郁久成火，火刑金臟而成。法當灸其天突，兼服清肺之方，庶幾有效。</p>
<p>天突（見喘症。）</p>

<h2>驚悸怔忡</h2>
<p>《正傳》曰：驚悸者，忽然若有驚，惕惕然心中不寧，其動也有時；怔忡者，心中惕惕然，動搖不靜，其作也無時。醫家雖有辨別，總灸上脘穴為宜。</p>
<p>上脘（見勞傷。）</p>

<h2>健忘</h2>
<p>忘前失後，曰健忘也。良由精神短少、神志不交所致，亦有因思慮過度者，或因所願不遂者，或因痰溷心者包。病因雖異，皆當灸百會一穴而記憶自強矣。</p>
<p>百會（見中風。）</p>

<h2>陽痿</h2>
<p>陽痿者，陽物痿軟而不舉也。年老之人，則常有之。若少壯之人，是為真火衰憊，法當灸其氣海。</p>
<p>氣海（見勞傷。）</p>

<h2>陰痿</h2>
<p>陽物收縮，卵陰入腹，皆為陰症也。法宜先灸氣海，再灸大椎。</p>
<p>氣海（見勞傷。）</p>
<p>大椎（見屍厥。）</p>

<h2>臌脹</h2>
<p>倪氏論臌，有氣、血、蟲、水、單是也，論脹，有寒、熱、虛、實、濕、食、瘀、積、肝、腎是也。方家必分五臌若何？十脹若何？余謂：臌脹在上，灸於上脘，在中；灸於中脘；在下，灸於下脘，或灸氣海。至若脹及兩脅者，灸於期門。脹及背腰者，灸於胃俞。脹至兩腿者，灸足三里。脹至兩足者，灸行間可也。</p>
<p>上脘（見勞傷。）</p>
<p>中脘（見喘症。）</p>
<p>下脘（臍上二寸。）</p>
<p>氣海（見勞傷。）</p>
<p>期門（見喘症。）</p>
<p>胃俞（十一節下，各開二寸。）</p>
<p>足三里（見痿症。）</p>
<p>行間（見屍厥。）</p>

<h2>腫滿</h2>
<p>先聖曰：諸濕腫滿，皆屬於脾。蓋脾主水穀，虛而失運，水穀停留，故成腫滿也。後賢分而為四：一曰水腫，皮薄色嫩，按之成凹也，一曰氣腫，皮厚色蒼，按之即起也；一曰風腫，走注腫疼，皮膚麻木也；一曰瘀腫，腫而紅亮，有血縷痕也。以上諸腫，宜灸內庭。如罔驗者，行間、大敦皆可灸之。</p>
<p>內庭、行間、大敦（三穴皆見屍厥。）</p>

<h2>癥瘕</h2>
<p>症有七，蚊、蛇、鱉、蝨、肉、米，發也。瘕有八，青、黃、燥、血、脂、狐、蛇、鱉也。其實症者，徵也，有塊可徵。瘕者，假也，假物成形。總之不外乎氣血交滯。倘因氣滯而成者，灸氣海。因血凝而致者，灸天樞可耳。</p>
<p>氣海、天樞（並見勞傷。）</p>

<h2>痃癖</h2>
<p>痃者，弦也，有若弓弦，腹有一條扛起，現於肌肉之外。癖者，僻也，隱僻於膂脊腸胃之後。皆宜灸下脘，或灸足三里。</p>
<p>下脘（見臌脹。）</p>
<p>足三里（見痿症。）</p>

<h2>疝氣</h2>
<p>疝有七，寒、水、氣、血、筋、狐、㿗是也。時俗統稱為小腸氣。張子和謂疝氣雖有七種，總不離乎肝病也。七疝之症，先宜灸氣海，繼宜灸中極，或灸三陰。若陰囊偏腫者，灸大敦有效。</p>
<p>氣海（見勞傷。）</p>
<p>中極（臍下四寸。）</p>
<p>三陰（見痿症。）</p>
<p>大敦（見屍厥。）</p>

<h2>伏梁</h2>
<p>伏梁者，心積也，起於臍上，大如臂，上至心下，久則令人煩心。當灸上脘，或灸中脘可安。</p>
<p>上脘（見勞傷。）</p>
<p>中脘（見喘症。）</p>

<h2>奔豚</h2>
<p>奔豚者，腎積也，發於少腹，上至於心，如豚奔走狀，上下無時，久則喘逆，骨痿少氣。先灸氣海，兼灸中極為是。</p>
<p>氣海（見勞傷。）</p>
<p>中極（見疝氣。）</p>

<h2>腳氣</h2>
<p>腳氣者，兩腳浮腫而重，濕腳氣也。不紅不腫而痛，乾腳氣也。不拘乾溼，皆宜灸風市灸。倘或紅腫，行步艱難，灸大敦穴可愈。</p>
<p>風市（見中風。）</p>
<p>大敦（見屍厥。）</p>

<h2>腹鳴</h2>
<p>腹鳴者，腹中鳴響也。其因痰飲者，灸上脘。因胃寒而腸鳴者，灸胃俞穴，或灸足三里。</p>
<p>上脘（見勞傷。）</p>
<p>胃俞（見臌脹。）</p>
<p>足三里（見痿症。）</p>

<h2>噎膈</h2>
<p>噎膈之因有五：有氣滯者，有血瘀者，有火炎者，有痰凝者，有食積者。雖分五種，總屬七情之變。凡藥不能效者，上宜灸天突，中宜灸中脘，下灸足三里為要。</p>
<p>天突、中脘（見喘症。）</p>
<p>足三里（見痿症。）</p>

<h2>反胃</h2>
<p>反胃者，飲食能入，入而反出，故曰反胃。良由脾胃陽虛，運行失職，不能熟腐水穀，變化精微，朝食暮吐，暮食朝吐。即王太僕云：食入反出，是無火也。法當灸中脘、下脘，兼灸膈俞。若未效者，再灸脾俞、胃俞，甚則灸足三里。</p>
<p>中脘（見喘症。）</p>
<p>下脘（見臌脹。）</p>
<p>膈俞（見汗症。）</p>
<p>脾俞（見痹症。）</p>
<p>胃俞（見臌脹。）</p>
<p>足三里（見痿症。）</p>

<h2>霍亂</h2>
<p>霍亂症，猝然心腹作痛，上吐下瀉，謂之濕霍亂也。欲吐不吐，欲瀉不瀉，謂之乾霍亂也。急灸期門可愈。</p>
<p>期門（見臌脹。）</p>

<h2>頭痛</h2>
<p>頭痛者，有外感、內傷之分。如痛無休息者為外感，時痛時止者屬內傷。若因頭風而痛，宜灸百會，並灸神庭，合谷、膽俞皆可灸之。若頭痛如破，或因內傷，宜灸命門自痊。</p>
<p>百會（見中風。）</p>
<p>神庭（見眩暈。）</p>
<p>合谷（大指次指歧骨間陷中，即虎口兩骨縫中。）</p>
<p>膽俞（見勞傷。）</p>
<p>命門（十四節骨下窔中。）</p>

<h2>心腹痛</h2>
<p>真心痛者不可治。今云心痛者，皆胸中胃脘痛也。若胸腹痛者灸上脘，痛而不已灸行間，並灸膈俞。臍下冷痛，灸氣海、關元。少腹寒痛，灸中極。夾臍而痛，上衝心痛，灸天樞。</p>
<p>上脘（見勞傷。）</p>
<p>行間（見屍厥。）</p>
<p>膈俞（見汗症。）</p>
<p>氣海（見勞傷。）</p>
<p>中極（見疝氣。）</p>
<p>天樞（見勞傷。）</p>
<p>關元（臍下三寸。）</p>

<h2>背痛</h2>
<p>太陽之脈行身之背，忽被風濕所侵，則背膂強痛，宜灸身柱則瘳。</p>
<p>身柱（見咳嗽。）</p>

<h2>脅痛</h2>
<p>脅痛在左，肝經受邪；在右，肝邪入肺。宜灸臨泣可愈。</p>
<p>臨泣（從兩目中直上，入髮際五分陷中。）</p>

<h2>腰痛</h2>
<p>腰痛有四，當分灸之。如因房勞過度，則腎虛，灸腎俞穴。偶然欲跌則閃挫，灸氣海穴。負重損傷，不能轉側，灸環跳穴。濕氣下注，不能俯仰，灸腰俞穴。倘連腹而引痛者，灸命門穴則安。</p>
<p>腎俞（見痹症。）</p>
<p>氣海（見勞傷。）</p>
<p>環跳（見中風。）</p>
<p>腰俞（見痹症。）</p>
<p>命門（見頭痛。）</p>

<h2>耳聾耳鳴</h2>
<p>《繩墨》曰：腎氣充盛則耳聰，腎氣虛敗則耳聾，腎氣不足則耳鳴，腎氣結熱則耳聾。經謂耳為腎竅，腎虛耳聾宜灸腎俞，耳鳴宜灸風池。初患者先灸百會為是。</p>
<p>腎俞（見痹症。）</p>
<p>風池、百會（並見中風。）</p>

<h2>目疾</h2>
<p>眼科治目有五輪之分：兩眥屬心，曰血輪；烏珠屬肝，曰風輪；兩胞屬脾，曰肉輪；白精屬肺，曰氣輪；瞳神屬腎，曰水輪。其實肝開竅於目，總病實在乎肝。目初病者，先灸百會、上星、神庭三穴。日久內障起翳者，當灸臨注。目䀮䀮而不了者，必須灸腎俞也。</p>
<p>百會（見中風。）</p>
<p>上星（從髮際直上一寸，或眉心上四寸。）</p>
<p>神庭（見頭痛。）</p>
<p>臨泣（見脅痛。）</p>
<p>腎俞（見痹症。）</p>

<h2>咽喉</h2>
<p>咽乃飲食之道，喉乃呼吸之區，不容纖邪所容，否則遂成喉症矣。咽喉疼痛者，當灸內庭。喉瘡、喉風者，當灸天突為亟。</p>
<p>內庭（見屍厥。）</p>
<p>天突（見喘症。）</p>

<h2>齒痛</h2>
<p>齒乃骨之餘，腎主病也。然則因陽明火熾而痛者，有因風、因蟲而痛者，亦有因虛而痛者，方藥莫能奏捷，必當用灸。倘頰腫牙痛灸風池，紅腫牙痛灸手三里，齒齲須灸內庭也。</p>
<p>風池（見中風。）</p>
<p>手三里（見偏風。）</p>
<p>內庭（見屍厥。）</p>

<h2>鼻血</h2>
<p>鼻血者，因於肺肝有火也。肺竅在鼻，肝臟藏血，二經有火內熾則血沸騰，乘肺竅而出者也。急宜灸合谷穴一壯。</p>
<p>合谷穴（見偏風。）</p>

<h2>腦漏</h2>
<p>膽移熱於腦，腦漏黃濁之水，由鼻而出，甚則腥穢。亦有鼻塞不聞香臭者。均宜灸上星穴可也。</p>
<p>上星（見目病。）</p>

<h2>脫頦</h2>
<p>頦者，口之下唇至末之處，俗名下巴也。有因氣虛而脫者，有因呵欠而脫者，皆可灸風池穴。</p>
<p>風池（見中風。）</p>

<h2>遺精</h2>
<p>書謂有夢精出為夢遺，無夢自遺為精滑。大凡夢遺者，由於相火之強。精滑者，由於心腎之損。擬方當分虛實，灸法統宜於關元、中極及之陰交。設未瘥者，再灸腎俞可耳。</p>
<p>關元（見心腹痛。）</p>
<p>中極（見疝氣。）</p>
<p>三陰交（見痿症。）</p>
<p>腎俞（見痹症。）</p>

<h2>濁症</h2>
<p>丹溪曰：濁症之因有二，肥人多濕熱，瘦人多腎虛。總之腎虛之質，下焦空豁則濕熱阻於精竅，而成赤白濁也。當灸關元，兼灸行間自痊。</p>
<p>關元（見心腹痛。）</p>
<p>行間（見屍厥。）</p>

<h2>淋痛</h2>
<p>滴瀝澀痛謂之淋，急滿不通謂之閉。五淋之別，雖有氣、砂、血、膏、勞之異，然皆腎虛而膀胱生熱也。若小便赤澀，灸其下脘。小便痛瀝，灸其關元。五淋之症，皆宜灸其中極。</p>
<p>下脘（見臌脹。）</p>
<p>關元（見心腹痛。）</p>
<p>中極（見疝氣。）</p>

<h2>溺血</h2>
<p>經謂胞移熱於膀胱則溺血，是症未有不本於熱者。當灸關元數忙。</p>
<p>關元（見心腹痛。）</p>

<h2>遺溺</h2>
<p>遺溺者，由於中氣虛衰，不能攝固所致。老年下元不足，孩提脬氣未固多有之。總當灸其三陰。若小便頻數者灸大敦，小兒遺尿者灸氣海。</p>
<p>三陰（見痿症。）</p>
<p>大敦（見屍厥。）</p>
<p>氣海（見勞傷。）</p>

<h2>便血</h2>
<p>便血之症，有腸風，有臟毒。如下鮮血，大便燥結，名曰腸風。血色黯濁，大便溏瀉，名曰臟毒。臟毒者灸腎俞，腸風者灸會陽。</p>
<p>腎俞（見痹症。）</p>
<p>會陽（尾尻骨兩旁，各開二寸，尻骨節上兩旁，各開寸半亦可。）</p>

<h2>脫肛</h2>
<p>肺與大腸相為表裡，故肺熱則肛藏，肺虛則肛脫。或因腸風痔漏，或因久痢久瀉，或因產婦用力太早，或因小兒叫啼傷氣。總須上灸百會，下灸會陽。</p>
<p>百會（見中風。）</p>
<p>會陽（見便血。）</p>

<h2>痔瘡</h2>
<p>古人論痔，有牝、牡、蟲、血之分。其實皆大腸積熱所致。當灸會陽幾壯，庶冀而安。</p>
<p>會陽（見便血。）</p>

<h2>泄瀉</h2>
<p>泄瀉有五，乃脾虛、腎虛、濕寒、濕熱、食積也。脾虛則食少便頻，腎虛則五更作瀉，濕寒則便溏溺白，濕熱則下利腸垢，食瀉則吞酸噯腐。在醫家當分而治，在灸家先取天樞，其次會陽之穴。</p>
<p>天樞（見勞傷。）</p>
<p>會陽（見便血。）</p>

<h2>痢疾</h2>
<p>古人以赤痢為濕熱，傷於血分；白痢為濕寒，傷於氣分。凡初患赤白痢積者，法當灸其天樞，兼之中脘。如日久不愈，脾腎兩傷者，當灸脾俞，兼之會陽也。</p>
<p>天樞（見勞傷。）</p>
<p>中脘（見喘症。）</p>
<p>脾俞（見痹症。）</p>
<p>會陽（見便血。）</p>

<h2>傷寒</h2>
<p>傷寒者，由冬令傷於寒邪，法當辛散。其誤治也，變為結胸，宜灸期門。若婦人經水適來，邪熱入於血室，晝則明瞭，夜則譫語，亦灸期門之穴。若飲水過多腹脹者，灸其中脘。餘熱解不盡者，當灸曲池可也。</p>
<p>期門（見咳嗽。）</p>
<p>中脘（見喘症。）</p>
<p>曲池（見偏風。）</p>

<h2>熱病</h2>
<p>經曰：冬傷於寒，春必病溫，至夏為熱病。熱病者，皆傷寒之類也。當用辛涼之劑。設未效者，當灸上脘。若煩悶者，須灸行間。</p>
<p>上脘（見勞傷。）</p>
<p>行間（見屍厥。）</p>

<h2>瘧疾</h2>
<p>瘧疾之病，由夏令先受暑邪，至秋時發為瘧疾。秋風欲入，伏暑欲出，表裡交爭，寒熱成矣。連日發者則淺，隔日發者則深，隔兩日發者則更深矣。諸般瘧疾，法當先灸大椎。痰盛之體，灸其尺澤。日久不已，灸其內庭。按穴灸之，則瘧自遁。</p>
<p>大椎（見勞傷。）</p>
<p>尺澤（見中風。）</p>
<p>內庭（見屍厥。）</p>

<h2>黃疸</h2>
<p>黃疸有五，曰陽黃、陰黃、酒疸、谷疸及女勞疸。其病本皆不離乎濕也。應灸之穴有四，即上脘、肝俞、膽俞、脾俞是也。</p>
<p>上脘（見勞傷。）</p>
<p>肝俞（見眩暈。）</p>
<p>膽俞（見勞傷。）</p>
<p>脾俞（見痹症。）</p>

<h2>癲病</h2>
<p>經謂重陰者癲，癲則多喜，若癡若呆，或笑或泣，緣於所謀不遂而致也。當灸身柱一穴。</p>
<p>身柱（見咳嗽。）</p>

<h2>癇症</h2>
<p>癇症者，忽倒無知，神昏牙閉，角弓反張，抽搐流涎。古人分為五癇，有馬鳴、羊嘶、牛吼、犬吠、豬啼等語，究屬痰涎蓄於經絡也。灸家不須細別，當其初發之時，先灸百會，兼灸上脘。每發每灸，日漸自瘥。</p>
<p>百會（見中風。）</p>
<p>上脘（見勞傷。）</p>

<h2>癩病</h2>
<p>癩病，癘風也，俗稱為大麻風。良由濕勝則生風，風勝則生蟲，所以皮膚脫落，肌肉浮紫，滿軀作癢，狀若蟲行。宜灸曲池可愈。</p>
<p>曲池（見偏風。）</p>

<h2>疹病</h2>
<p>肌發紅點，有若蚊咬者為熱疹，細粒透顯者為風疹，不透出者為隱疹。隱疹宜灸曲池，風疹、熱疹宜乎合谷、環跳。</p>
<p>曲池（見偏風。）</p>
<p>合谷（見偏風。）</p>
<p>環跳（見中風。）</p>

<h2>痰疾</h2>
<p>痰屬濕，津液所化也。流則為津，行則為液，聚則為痰，上則為涎。其實百病兼痰為多也，灸其上脘，痰自化矣。</p>
<p>上脘（見勞傷。）</p>

<h2>飲食</h2>
<p>胃司納受，脾主消導，一納一消，運行不息。設脾胃衰弱，則失消納之權。若飲食不思，灸其上脘。飲食少減，灸其中脘。飲食不化，灸其下脘，或灸天樞。食不下、欲乾嘔者，宜灸膽俞穴也。</p>
<p>上脘（見勞傷。）</p>
<p>中脘（見喘症。）</p>
<p>下脘（見臌脹。）</p>
<p>天樞（見勞傷。）</p>
<p>膽俞（見勞傷。）</p>

<h2>調經</h2>
<p>月經者，一月一至也。超前退後，謂云不調。女子經水不調者，當灸氣海，兼灸中極。婦人月水枯閉者，當灸腰俞可愈。</p>
<p>氣海（見勞傷。）</p>
<p>中極（見疝氣。）</p>
<p>腰俞（見痹症。）</p>

<h2>血崩</h2>
<p>血崩之症，良由肝脾兩傷。蓋肝不能藏，脾不能統，所以經血忽崩。宜灸氣海、大敦二穴。</p>
<p>氣海（見勞傷。）</p>
<p>大敦（見屍厥。）</p>

<h2>帶下</h2>
<p>古人治帶，有五色之論，而分五臟之療。又以赤屬血、白屬氣之說。其實帶下之病，本在乎帶脈，以帶脈橫於腰間，如束帶然，故名也。法當灸關元數壯。</p>
<p>關元（見心腹痛。）</p>

<h2>種子</h2>
<p>女子不孕之故，由傷其衝任也。若三因之邪傷其衝任之脈，則有月經不調、漏崩帶下。或因宿血積於胞中，或因胞寒、胞熱，或因體盛痰多，脂膜壅塞胞中，皆不能成孕也。當灸中極為要。</p>
<p>中極（見疝氣。）</p>

<h2>胎漏</h2>
<p>懷胎數月，而經水偶下者，謂之胎漏也。由於勞力損傷，或由衝脈有熱，或由氣怒傷肝，皆能致之也。宜灸關元自止。</p>
<p>關元（見心腹痛。）</p>

<h2>產後</h2>
<p>產後之疴，莫能盡述，應灸之症，姑略詳之。惡露不行，宜灸中極。惡露不止，宜灸氣海，或灸關元。關元、中極只離一寸，一欲其行，一欲其止，分寸不準，災害並至矣。</p>
<p>中極（見疝氣。）氣海（見勞傷。）</p>
<p>關元（見心腹痛。）</p>

<h2>胞衣不下</h2>
<p>胞衣停滯者，或因氣力疲敗，或因惡露所阻，皆令不下也。服諸藥罔效者，當灸中極立下。</p>
<p>中極（見疝氣。）</p>

<h2>驚風</h2>
<p>驚風者，有急慢之分焉。急驚者，忽然搐搦，身體壯熱，面紅唇赤，牙閉痰迷，兼之二便不通，宜灸身柱、曲池。慢驚者，緩緩搐搦，身體溫和，面色淡黃，或睡露睛，兼之大便青色，宜灸腕骨、尺澤。若閉目、搖頭、額汗、昏睡、面青、肢厥、頻吐清水，此慢脾風，不可救也。</p>
<p>身柱（見咳嗽。）</p>
<p>曲池（見偏風。）</p>
<p>腕骨（手外側腕前起骨下陷中，即小指直上處。）</p>
<p>尺澤（見中風。）</p>

<h2>疳勞</h2>
<p>小兒疳勞之症，面黃形瘦，肚大露筋，尿如米泔，午後潮熱。皆因肥甘無節，停滯中州，傳化遲滯，腸胃內傷，則生積熱，熱盛生疳。宜灸下脘、胃俞，自然告痊。</p>
<p>下脘、胃俞（並見臌脹。）</p>
<p>以上七十症，按穴灸之，自無差忒。若遇跌打損傷、瘀血疼痛、痰核癧串、無名腫毒，皆於患處灸之，使痛者灸至不痛，不痛者灸至痛，即愈。</p>

<h1>太乙神針</h1>

<h2>藥方</h2>
<p>艾絨（三兩）　硫黃　麝香　乳香　沒藥　丁香　松香　桂枝　杜仲　枳殼　皂角　細辛　芎藭　獨活　雄黃　炮甲（以上各一錢）</p>
<p>上藥各秤足為末，與艾絨揉和，用綿夾絨一張，約長五寸、寬方尺，將絨藥鋪摻於紙上，用力實卷，如大指粗，即為一條。如絨藥尚多，即多作幾條，外再加紙三四層裹之，以雞子清通刷外層三次，陰乾收藏，勿使泄氣。</p>

<h2>用針法</h2>
<p>一用針先審病證，取何穴道，用墨塗記其上，以紅布七層蓋穴上，候針。</p>
<p>一將針向燈燭上燒透，對準穴道放於紅布上，若覺大熱，將針略提起，俟熱定再針。以七記數，小則一七，多則七七亦可。</p>
<p>一用過藥針，以極干竹筒封藏，猶可後用。</p>

<h2>穴道取寸法</h2>
<p>以男左女右手，中指第一節第二節，相去為一寸（圖見前。）</p>

<h2>正面穴道證治</h2>
<p>（圖見前）</p>
<p>百會穴（從鼻直上入髮際五寸，旋毛陷中，可容指處。督脈）。凡中風、頭風，風癲、角弓反張、忘前失後、氣絕、脫肛、目淚、耳聾，針此穴。</p>
<p>上星穴（從髮際直上一寸，宜上可容豆處。督脈）。凡腦冷、鼻塞、腦漏、汗不出、目睛痛，針此穴。</p>
<p>神庭穴（從鼻上直入髮際五分。督脈）。凡頭疼、目眩、出淚、流涕，針此穴。</p>
<p>天突穴（結喉下二寸陷中，低首取之。任脈）。凡喉瘡、喉風、哮喘、氣噎、肺癰、咯血、喉中有聲，針此穴。</p>
<p>上脘穴（臍上五寸，任脈。）凡心腹疼痛，驚悸，痰疾、伏梁、氣蠱狀如覆盆、風癇等徵，針此穴。</p>
<p>中脘穴（臍上四寸，任脈。）凡反胃、吐食、心下脹滿狀如伏梁、傷寒飲水過多、腹脹、氣喘、寒癖，針此穴。</p>
<p>下脘穴（臍上二寸。任脈）。凡腹脹堅硬、痃癖氣塊、小便赤澀、身體羸瘦，針此穴。</p>
<p>氣海穴（臍下一寸五分。任脈）。凡男子陽事久憊、婦人經水不調及滯氣成塊狀若覆盆，針此穴。</p>
<p>關元穴（臍下三寸。任脈）。凡男子遺精白濁、臍下冷痛、小便痛澀，婦人赤白帶下、經水不調，針此穴。</p>
<p>中極穴（臍下四寸。任脈）。凡男子奔豚搶心、遺瀝失精、五淋、七疝、小便赤澀，婦人經水不調、不受胎孕，針此穴。</p>
<p>臨泣穴（從目中上入髮際五分陷中，即臨泣穴）。足少陽。凡目痛內障、赤白翳、腋腫、脅下痛，針兩穴。</p>
<p>客主人（一名上關）穴（耳前骨上宛中間，開口即空處。足少陽）。凡兩額暴痛、口眼歪斜、牙關緊閉、失音不語，針兩穴。</p>
<p>期門穴（乳下第二肋疼骨端。足厥陰）。凡傷寒結脅、咳嗽吐膿、腹膨、霍亂、吐瀉，婦人熱入血室、產後飲食不調，針兩穴。</p>
<p>天樞穴（臍兩旁，各開二寸。足陽明）。凡夾臍痛沖少腹、赤白痢疾、泄瀉、飲食不化，男子血損，婦人血塊，針兩穴。</p>
<p>肩髃穴（肩端兩骨間陷中，舉臂取之）。手陽明。凡手臂痠痛、不能提物，針兩穴。</p>
<p>曲池穴（屈手按胸，肘彎橫紋尖盡處。手陽明）。凡偏風不遂、兩手拘攣、臂細無力、肘內寒冷而痛，針兩穴。</p>
<p>手三里穴（曲池下二寸，銳肉端。手陽明）。凡手臂不仁、肘攣疼痛、頰頷紅腫、齒痛、瘰癧，針兩穴。</p>
<p>風市穴（膝上七寸。外廉兩筋間，端立垂手於股，中指尖到處。足少陽）。凡兩腿麻木、左癱右瘓、一切腳氣，針兩穴。</p>
<p>內庭穴（足次指三指歧骨陷中。足陽明）。凡水腫、厥逆、咽喉痛、久瘧不食、惡聞人聲、口歪、齒齲，針兩穴。</p>
<p>行間穴（足大指次指歧骨縫間動脈應手陷中。足厥陰）。凡白濁、尿難、腹脹、心疼、咳逆、吐血、煩悶、短氣、手足浮腫、四肢厥冷，針兩穴。</p>
<p>大敦穴（足大指端去爪甲韭葉許三毛中。足厥陰）。凡小腸疝氣、小便頻數、陽上入腹、陰痛偏大、臍腹腫脹而痛、屍厥如死、腳氣紅腫、婦人血崩，針兩穴。</p>

<h2>背面穴道證治</h2>
<p>（圖見前）</p>
<p>大椎穴（第三節頸骨下第一節上間。督脈）。凡勞疾遍身發熱、諸瘧、針此穴。</p>
<p>身柱穴（大椎穴下三節骨下間。督脈）。凡脊膂強痛、咳吐、瘛瘲、發熱，針此穴。</p>
<p>命門穴（十四節骨下間。督脈）。凡腰腹引痛、頭疼如破、裡急、瘛瘲，針此穴。</p>
<p>肺俞穴（三椎骨下，兩旁各開二寸。足太陽）。凡傳屍骨蒸、肺痿、吐血、咳嗽、氣喘，針兩穴。</p>
<p>風池穴（耳後陷中，按之引耳內。足少陽）。凡耳聾虛鳴、脫頷、口噤、頰痛、牙疼並腫，針兩穴。</p>
<p>膏肓穴（四椎節下兩旁各開三寸五分。足太陽）。凡勞傷虛損、肺痿、咯血、咳嗽吐痰、寒熱、四肢無力，針兩穴。</p>
<p>脾俞穴（十一椎節下，兩旁各開二寸。足太陽）。凡諸般黃疸、四肢不收、痹痛、膈疼、泄痢、翻胃、積聚、疾瘧，針兩穴。</p>
<p>腎俞穴（十四椎節下，兩旁各開二寸。足太陽）。凡腰痛如折、便血、出精、陰痛、身熱、耳聾、目䀮、膝攣、足寒，針兩穴。</p>
<p>環跳穴（在髀樞中，側臥屈上足、伸下足取之。大腿曰股，股上曰髀，楗骨之下、大腿之上、兩骨合縫之所曰髀樞，當環跳穴處也）。楗，健，上聲。足少陽。凡中風、中痰、半身不遂、腰胯強直、股痛引肋、不得轉身，針兩穴。</p>
<p>會陽穴（尾尻骨兩旁，各開二寸。足太陽）。凡痔瘡、腸澼、兩腎尖痛、久瀉、久痢、陰汗濕癢、脫肛，針兩穴。</p>
<p>足三里穴（膝下三寸䯒外廉，以手掌按膝頭，中指尖到處，股外旁也。足陽明）。凡翻胃、氣膈、腸鳴膨脹、痃癖、胸胃畜血、咳嗽稠痰、足痿失屐，針兩穴。</p>

<h2>太乙神針正面背面穴道詩</h2>
<p>看穴先准鼻當中，上入髮際三穴蹤，神庭（入發）五分上星（入發）倍，（一寸）百會（入發）五寸旋毛宮（三穴俱督脈）。天突（在）結喉（下）二寸陷（中），三脘（音管，胃上中下）臍上量（平聲）以通，上脘五寸中漸減，中四下二勿朦朧。氣海臍下寸餘五，關元（即丹田）兩股（三寸）足函容，再下又加其一寸，穴稱中極當中窮（七穴俱任脈）。左右兩旁共臨泣，（足少陽從）目中直上入發五十釐，兩客主人（足少陽）耳前骨，開口即空而便知。期門（足厥陰在）乳下第二肋，疼骨之端試揣之。天樞（足陽明）以臍為則子，兩旁二寸各開馳。肩髃肩端兩骨縫，肘彎有穴視茫微，肘彎橫紋尖盡處。（必須）屈手按胸（乃）見（紋尖之）曲池。曲池之下手三里（三穴俱手陽明，曲池相去）二寸銳肉端頭視（次平聲）。正坐垂手兩股間，中指尖處風市（上聲，足少陽）歸。內庭（足陽明）乃在兩足指，次三歧骨陷中耳。大指次指動中間，謂之行間須載記。再若大指去爪（甲如）韭（葉許），從三毛中大敦（二穴俱是厥陰）是。大椎以上（有二骨為）項二骨，大椎（自項骨算起，大椎當第三）以下（為）脊（骨）第一，第三節下身柱名，十四節下命門（三穴具督脈）地。風池（足少陽）耳後（寸半）陷中存，按之（則）引耳（內）知的實。肺俞（在兩飯匙骨縫中）脾俞腎俞（三穴俱足太陽）場，脊骨各開二寸切，（言不移，脊骨）第三（椎下）為肺十一脾，十四又將腎俞列。四椎節下號膏肓（足太陽，）各開三寸五分疆。環跳（音條，足少陽）正在髀樞處，務要側身眠在床，伸其下足屈上足，（以）取之乃可識其鄉。尻骨兩邊各（開）二寸，問訊穴名曰會陽（陰，足太陽）。膝下三寸外廉畔，足三里（足陽明）與手殊方，掌按膝頭中指（尖）盡（處），誨人認法劇精詳。穴道取寸法折衷，男左女右手指中，中指第一第二節，相距即寸於此逢。</p>
<p>按穴治病，針無不愈。方自範毓䭲而後，王大德、沈士元、周雍和諸人皆用之，實予人以易從，切勿以其淺近而忽之也。此法及詩，自古今醫詩集中錄出。劉國光識。</p>

<h1>附雷火針法</h1>
<p>治一切閃挫、諸骨節痛及寒濕諸氣而畏刺者。方用</p>
<p>沉香　木香　乳香　茵陳　羌活　乾薑　穿山甲（以上各三錢）　麝（少許）　祁艾（二兩）</p>
<p>以綿紙半尺，先鋪艾、茵於上，次將各藥末摻上，卷極緊，收用。</p>
<p>按定痛穴，筆點記，外用紙六七層隔穴。將卷取太陽真火，用圓珠、火鏡皆可燃紅（用燈燭燒燃亦可），按穴上，良久取起，剪去灰，再燒再按，九次即愈。</p>
<p>灸一次，唸咒一遍。先燃火在手，唸咒曰：</p>
<p>雷霆官將，火德星君，藥奏奇功，方得三界六腑之神，針藏烈焰，煉成於仙都九轉之門，蠲除痛患，掃蕩妖氛，吾奉南斗六星、太上老君，急急如律令。</p>
<p>咒畢，即以雷火針按穴灸之。</p>
<p>此乃孫真人所制，流傳至今，頗為靈驗。製藥時，毋令婦女、雞、犬見。其方載《針灸大全》。</p>
<p>又按《御纂醫家金鑑》，有雷火神針方，藥只三味。歌曰：</p>
<p>雷火神針攻寒濕，附骨疽痛針之宜，丁麝二香共祁艾，燃針痛處功效奇。</p>
<p>景岳新方因陣內亦有二方，註明治風寒濕毒之氣留滯經絡，而為痛為腫，不能散者。其一於五月五日，取東引桃枝玄皮，長一二寸，兩頭削如雞子尖，向燈上燃著，隨子患處隔紙數層，以針按灸。一則方法藥味與太乙神針相同，惟多白芷一味。蓋命名雖異，而治病則有同功焉。</p>
