<header data-type="book">
<h1>傷寒總病論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龐安石</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1084">公元1084年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·傷寒總病論》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0026/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>卷第一</h1>

<h2>敘論</h2>
<p>龐曰：《素問》云：冬三月是謂閉藏，水冰地裂，無擾乎陽。又云：彼春之暖，為夏之暑；彼秋之忿，為冬之怒，是以嚴寒冬令，為殺厲之氣也。故君子善知攝生，當嚴寒之時，周密居室而不犯寒毒，其有奔馳荷重，勞房之人，皆辛苦之徒也。當陽氣閉藏，反擾動之，令郁發腠理，津液強漬，為寒所搏，膚腠反密，寒毒與榮衛相渾。當是之時，勇者氣行則已，怯者則著而成病矣。其即時成病者，頭痛身疼，肌膚熱而惡寒，名曰傷寒。其不即時成病，則寒毒藏於肌膚之間，至春夏陽氣發生，則寒毒與陽氣相搏於榮衛之間，其患與冬時即病候無異。因春溫氣而變，名曰溫病也。因夏暑氣而變，名曰熱病也。因八節虛風而變，名曰中風也。因暑濕而變，名曰濕病也。因氣運風熱相搏而變，名曰風溫也。其病本因冬時中寒，隨時有變病之形態爾，故大醫通謂之傷寒焉。其暑病、濕溫、風溫死生不同，形狀各異，治別有法。</p>
<p>龐曰：天寒之所折，則折陽氣。足太陽為諸陽主氣，其經夾脊膂，貫五臟六腑之腧，上入腦，故始則太陽受病也。以其經貫五臟六腑之腧，故病有臟腑傳變之候。以其陽經先受病，故次第傳入陰經。以陽主生，故足太陽水傳足陽明土，土傳足少陽木，為微邪。以陰主殺，故木傳足太陰土，土傳足少陰水，水傳足厥陰木。至第六七日，當傳足厥陰肝，木必移氣克於脾土，脾再受賊邪，則五臟六腑皆危殆矣。榮衛不通，耳聾囊縮，不知人則死，速用承氣湯下之，（方在可下證中。）則可保五死一生。勿從容拯溺，病人水漿不入，湯液不下，無可奈何也。《素問》云：脾熱病則五臟危。又云：土敗木賊則死。若第六七日傳厥陰，脈得微緩、微浮，其證寒熱似瘧，此為必愈，宜桂枝麻黃各半湯和之。（方在可汗證中。）微緩、微浮為脾胃脈也，故知脾氣全不再受克，邪無所容，否極泰來，榮衛將復，水升火降，則寒熱作而大汗解矣。人將大汗必冒昧者，若久旱天將時雨，六合皆至昏昧。雨降之後，草木皆蘇，庶物明淨，《玉冊》所謂換陽之吉證也。</p>
<p>王叔和云：土地溫涼，高下不同，物性剛柔，餐居亦異。是以黃帝興四方之問，歧伯立四治之能，以訓後賢，開其未悟。臨病之工，宜兩審之。</p>
<p>龐曰：叔和非醫之圓機，孰能臻此也。如桂枝湯自西北二方居人，四時行之，無不應驗。自江淮間地偏暖處，唯冬及春可行之。自春末及夏至以前，桂枝、麻黃、青龍內宜黃芩也。自夏至以後，桂枝內又須隨證增知母、大青、石膏、升麻輩取汗也。若時行寒疫及病人素虛寒者，正用古方，不在加減矣。夏至以後，雖宜白虎，詳白虎湯自非新中暍而變暑病所宜，乃汗後解表藥耳，以白虎未能驅逐表邪故也。或有冬及始春寒甚之時，人患斯疾，因汗下偶變狂躁不解，須當作內熱治之，不拘於時令也。南方無霜雪之地，不因寒氣中人，地氣不藏，蟲類泄毒，嵐瘴間作，不在此法，治別有方也。又一州之內，有山居者為居積陰之所，盛夏冰雪，其氣寒，腠理閉，難傷於邪，其人壽，其有病者多中風中寒之疾也。有平居者為居積陽之所，嚴冬生草，其氣溫，腠理疏，易傷於邪，其人夭，其有病者多中濕中暑之疾也。凡人稟氣各有盛衰，宿病各有寒熱。因傷寒蒸起宿疾，更不在感異氣而變者。假令素有寒者，多變陽虛陰盛之疾，或變陰毒也。素有熱者，多變陽盛陰虛之疾，或變陽毒也。</p>
<p>龐曰：四時之中，有寒暑燥濕風火相搏，喜變諸疾，須預察之。其飲食五味禽魚蟲菜果實之屬，性偏有嗜者；或金石草木藥素嘗有餌者；人五臟有大小、高下、堅脆、端正偏傾，六腑亦有大小、長短、厚薄、緩急，令人終身長有一病者。貴者後賤，富者乍貧，有常貴，有常富，有暴富，有暴貧，有暴樂，有暴苦，有始樂後苦，有離絕蘊結，憂恐喜怒者。夫常貴後賤，名曰脫營；常富後貧，名曰失精。暴樂暴苦，始樂後苦，精竭體沮，脫勢侯王，精神內傷，情慕尊貴，妄為喪志。始富後貧，焦皮攣筋，常富惡勞，驕墮精消。離間親愛者魂遊絕，所懷者意喪，所慮者神勞，結怨恨者志苦，憂愁者閉塞而不行，盛怒者迷惑而不治，恐懼者蕩憚而不收，喜樂者撣散而不藏，此皆非外邪所中而得之於內也。良工必預審問其由，先知臟腑經絡受病之所，可舉萬全。粗工不思曉，令五臟六腑血氣離守，迨至不救，又何言哉。</p>
<p>龐曰：陰陽虛盛者，非謂分尺寸也。榮衛者，表陽也。腸胃者，里陰也。寒毒爭於榮衛之中，必發熱惡寒，尺寸俱浮大，內必不甚躁。設有微煩，其人飲食欲溫而惡冷，謂陽虛陰盛也，可汗之則愈，若誤下則死也。若寒毒相搏於榮衛之內，而陽盛陰衰，極陰變陽，寒盛生熱，熱氣盛而入里，熱毒居腸胃之中，水液為之乾涸，燥糞結聚。其人外不惡寒，必蒸蒸發熱而躁，甚則譫語。其脈浮滑而數，或洪實，或汗後脈雖遲，按之有力，外證已不惡寒，腹滿而喘，此皆為陽盛陰虛，當下之則愈，若誤汗則死也。仲景載三等陽明，是陽盛陰虛證矣。調經論云：陽虛則外寒，陰虛則內熱，陽盛則外熱，陰盛則內寒，以此別之。若陰獨盛而陽氣暴絕，必四肢逆冷，臍築腠痛，身疼如被杖，面青，或吐，或利，脈細欲絕，名曰陰毒也。須急灸臍下，服以辛熱之藥，令陽氣復生，濈然汗出而解。若陽獨盛而陰氣暴絕，必發躁，狂走妄言，面赤咽痛，身斑斑如錦文。或下利赤黃，脈洪實或滑促，名曰陽毒也。宜用針泄熱，服以苦酢之藥，令陰氣復生，濈然汗出而解也。</p>
<p>龐曰：夫邪逆陰陽之氣，非汗不能全其天真。《素問》云：辛甘發散為陽，謂桂枝、甘草、細辛、薑棗、附子之類，能復陽氣也。酸苦湧泄為陰，謂苦參、大青、葶藶、苦酒、艾之類，能復陰氣也。酸苦之藥，既折熱復陰亦當小汗而後利者。經云：身汗得而後利，則實者可活是也。</p>
<p>華佗治法云：傷寒病起自風寒入於腠理，與精氣分爭，榮衛痞膈，周行不通。病一日至二日，氣在孔竅皮膚之間，故病者頭痛惡寒，身熱，腰背強重，此邪氣在表，隨證發汗則愈。</p>
<p>龐曰：凡發汗，須如常覆腰以上，厚衣覆腰以下，以腰足難取汗故也。半身無汗，病終不解。凡發汗後，病證仍存，於三日內，可二三發汗，令腰腳周遍為度。若病不解，便可下之。設令下後不解，表裡邪亦衰矣，足觀脈證調治，七日內可期正汗為善也。發汗後不可再行汗者，始發熱惡寒，今不惡寒，但倍發熱而躁；始脈浮大，今洪實，或沉細數；始惺靜，今狂語；此胃實陽盛，再行汗藥即死，須當下之。有人始得病變陽盛之證，須便下之，不可拘日子深淺次第也。病三日以上，氣浮上部，填塞胸膈，故頭痛胸中滿，或多痰涎，當吐之則愈。</p>
<p>龐曰：若虛損及新產人不能吐者，可服枳實散。（枳實細末，米飲調二錢，日可三四服。）若有虛寒，手足冷及脈微弱者，枳實二兩加桂枝一兩，同末之，如前服。</p>
<p>病五六日以上，氣結在臟腑，故腹滿身重，骨節煩疼，當下則愈。若小便少，手足心並腋下不滋潤，尚未可攻之，當消息其候，不可亂投湯藥，虛其胃氣也。（以上解華佗治法。）</p>

<h2>太陽證</h2>
<p>尺寸俱浮者，太陽受病也。當一二日發，以其脈上連風府，故頭項痛而腰脊強。（此是太陽膀胱經，屬水，《病源》云：小腸者，非也。）</p>
<p>太陽病，發熱，汗出，惡風，其脈緩者，名為中風。太陽病，或已發熱，未發熱，必惡寒，體痛，脈陰陽俱緊者，名為傷寒。</p>
<p>傷寒一日，太陽受之，脈若靜者，為不傳；頗欲吐，若煩躁，脈數急者，為傳也。</p>
<p>傷寒二三日，陽明少陽證不見者，為不傳也。病發熱而惡寒，邪發於陽也；不熱而惡寒者，邪發於陰也。發於陽者，七日愈；發於陰者，六日愈，陽數七，陰數六故也。（發於陽者，隨證用汗藥攻其外；發於陰者，用四逆輩溫其內。）</p>
<p>太陽病，頭痛至七日以上自愈者，其經竟故也。若欲作再經者，針足陽明，使經不傳。（補足陽明土，三里穴也。）</p>
<p>風者，解表而不了了者，十二日愈。（《方言》曰：南楚疾愈或謂之瘥，或謂之了。）</p>
<p>太陽病，初服桂枝湯，反煩不解，先刺風池、風府，卻與桂枝湯則愈。</p>
<p>太陽病，自汗，四肢難以屈伸，若小便難者，可與陽旦湯內加附子一枚，炮，去皮尖，八破，同煎服之。（陽旦即桂枝湯異名。）若小便數者，慎不可行此湯，宜用芍藥甘草湯。若誤行桂枝附子湯攻表，則咽乾、煩躁、厥逆、嘔吐者，作甘草乾薑湯與之，以復陽氣；若厥愈足溫，更與芍藥甘草湯，其腳即伸；若胃氣不和，譫語者，少與調胃承氣湯，微溏則譫語止。</p>
<p><u>芍藥甘草湯</u>　主脈浮而自汗，小便數，寸口脈浮大。浮為風，大為虛，風則生微熱，虛則兩脛攣。小便數，仍汗出，為津液少，不可誤用桂枝湯，宜補虛退熱，通治誤服湯後病證仍存者。（按古之三兩，准今之一兩。古之三升，今之一升。若以古方裁剪，以合今升秤，則銖兩升合之分毫難以從俗。莫若以古今升秤均等，而減半為一劑，稍增其枚粒，乃便於俗爾。且仲景方云，一劑盡，病證猶在者，更作減半之劑，此古方一劑又加其半，庶可防病未盡而服之也。有不禁大湯劑者，再減半亦得。《肘後》所謂或以一分為兩，或以二銖為兩，以盞當升可也。貧家難辦，或臨時抄撮皆可。粗末每抄五錢，水二平盞，煎八分服之。有薑棗者，每服入姜三片，棗三枚，一日三服，未中病可六七服也。有不可作煮散者，是病勢大，宜依古方行之。凡湯一劑，有附子一枚，增半之劑，合用附子一枚半。古方不析枚者，是枚力要完也。半兩以上大附子，可當一枚半；四錢以上者，可用一枚為準。枚傷多不妨，仲景云強人可加附子成一枚是也。）</p>
<p>芍藥　甘草（各一兩半）　</p>
<p>細銼，水一升半，煎七合半，去滓，溫溫分再服。</p>
<p><u>甘草乾薑湯</u></p>
<p>甘草（二兩）　乾薑（一兩）　</p>
<p>煎如前方。</p>
<p><u>調胃承氣湯</u></p>
<p>大黃（一兩）　甘草（半兩）　芒硝（一大合）　</p>
<p>細銼，水一升，煎上二味至五合，去滓，下芒硝烊化，暖服一盞，微溏為度。如難利者，再與一劑。</p>
<p>太陽病汗證，反下之，遂利不止，脈促，表未解也；喘而汗出者，　葛根黃芩湯　主之。</p>
<p>黃芩（三錢）　黃連（三兩）　甘草（半兩）　乾葛（二兩）　</p>
<p>細銼，水一升半，煎七合半，去滓，溫飲一盞，日三服。</p>

<h2>陽明證</h2>
<p>尺寸俱長者，陽明受病也。當二三日發，以其脈夾鼻，絡於目，故身熱，目痛鼻乾，不得臥。（此證惡寒可發汗，若惡寒罷，反自汗惡熱者，為胃家實，屬正陽明，宜調胃承氣湯，方在太陽證下。）</p>
<p>龐曰：有三陽陽明者，其太陽陽明，本太陽病，若發汗，若下，若利小便，此亡津液，胃中乾燥，因轉屬陽明也；少陽陽明者，本傳到少陽，因發汗，利小便已，胃中燥，大便難也；正陽陽明者，病人本風盛氣實，津液消鑠，或始惡寒，汗出多，寒罷而反發熱，或始得病便發熱狂言也。</p>
<p>凡陽明證俱宜下，唯中寒惡寒為病在經，與太陽合病屬表，可發其汗。</p>
<p>二陽合病，脈必浮大而長，外證必頭痛腰疼，肌熱目疼鼻乾也。浮大者，太陽受病也；長者，陽明也。頭腰太陽也，肌目鼻陽明也。</p>
<p>二陽並病，太陽證罷，但發潮熱，手足漐漐汗出，大便難而譫語者，大承氣湯下之則愈。（方在可下證中。）</p>
<p>二陽並病，太陽初得時，發其汗，汗先出復不徹，因轉屬陽明，自微汗不惡寒。若太陽證不罷，不可下，下之為逆，如此者可小發其汗。設面色正赤者，陽氣怫鬱在表，當解之蒸之。若汗出不徹，當短息，不足言，陽氣怫鬱不得越，當汗出而不汗，其人短氣但坐，以汗出不徹故也，宜麻黃湯更發其汗即愈。何以知其汗不徹，其脈澀故知也。（方在可汗證中。古本字多差誤，以從來所見病人證候中，符合如此，故改正。）陽明病，能食為中風，不能食為中寒。</p>
<p>陽明病中寒，脈浮無汗，其人必喘，發汗則愈，宜麻黃湯。（方在可汗證中。）</p>
<p>陽明病，脈遲，汗出多，微惡寒者，表未解，發汗則愈，宜桂枝湯。（方在可汗證中。）若不惡寒，為外欲解，手足濈然汗出者，大便已硬，宜大承氣湯。（方在可下證中。）</p>
<p>陽明病有不可攻者，謂陽明病，心下硬滿者，不可攻，攻之利不止者死，利止者愈。</p>
<p>陽明病，或發汗，或自汗，大便雖硬，小便少者，未可攻，津液恐還入胃，必先硬後溏也。小便自如，乃可攻之。</p>
<p>陽明中風，口苦咽乾，腹滿微喘，發熱惡寒，其脈浮緊。若下之，則腹滿小便難也。（此證必無汗，與後證相似，且惡寒無汗為異，以咽乾腹滿，亦不宜正與汗藥，別與消詳也。）</p>
<p>陽明病，脈浮而緊，咽乾口苦，腹滿而喘，發熱汗出，不惡寒而反惡熱，身重。若發汗則煩躁憒憒，反譫語；若加溫針，必怵惕煩躁不得眠；若下則胃中空虛，客氣動膈，心中懊憹，苔生舌上者，　梔子香豉湯　主之。</p>
<p>肥梔子（十枚）　香豉（二合）　</p>
<p>水二升，煮梔子減半，下豉再煮八合，去滓，溫服一盞。得快吐者，止後服。</p>
<p>脈浮緊，必無汗，而反有汗，咽燥，腹滿，惡熱，法當下之；而又脈浮緊，不當下，此恐變風溫，宜細詳。</p>
<p>陽明病，口鼻燥，但漱水而不欲咽者，必衄。</p>

<h2>少陽證</h2>
<p>尺寸俱弦者，少陽受病也。當二三日發，以其脈上循脅，絡於耳，故胸脅痛而耳聾。（足少陽膽屬木，弦者，細長如琴絃狀。仲景云：脈浮而緊曰弦。非謂此弦脈也，凡傷寒脈浮緊相載，皆屬弦之類也。有屬太陽，有屬陽明者。少陽正得弦脈，體是小弦長大脈也，多宜和表，鮮有汗證。）</p>
<p>少陽之證，口苦，咽乾，目眩也。</p>
<p>此三陽經皆病，未入於臟，可汗而解。（仲景少陽證，唯小柴胡乃和表藥耳。）</p>
<p>弦細，頭痛發熱，屬少陽，宜小柴胡湯。不可發汗，發汗則譫語，此屬胃，胃和則愈；不和則煩而躁，宜調胃承氣湯。此屬少陽、陽明證也。（方在太陽證中。）</p>
<p>本太陽病不解，轉入少陽者，脅下硬滿，乾嘔不能食，往來寒熱，尚未可吐下，脈緊者，小柴胡湯主之。（少加牡蠣。）</p>
<p>若已吐下，發汗，溫針，譫語，小柴胡湯證罷，此為壞病，知犯何逆，以法治之。（知犯何逆者，犯四種溫病，壞候也。）</p>
<p>少陽中風，兩耳微聞，目赤，胸中滿而煩，不可吐下，吐下則驚悸，小柴胡湯主之。（方在和表證中。）</p>
<p>三陽合病，脈浮大，上關上，但欲眠睡，合目則汗。（不言弦者，隱於長大也。）</p>
<p>三陽合病，面垢譫語，腹滿身重，不能轉側，遺尿。發汗則譫語，下之則額上生汗，手足逆冷。若自汗者，宜白虎湯。（方在厥陰證中。）</p>
<p>傷寒四五日，或六七日，無大熱，其人躁悶，此為陽去入陰也。</p>
<p>傷寒三日，三陽為盡，三陰當受邪，其人反能食而不嘔，此為三陰不受邪也。（病到陰必吐利。）</p>
<p>傷寒三日，少陽脈小者，欲愈也。（小而平勻者也。）</p>

<h2>太陰證</h2>
<p>尺寸俱沉細者，太陰受病也。當四五日發，其經布胃中，絡於嗌，故腹滿而嗌乾，宜大承氣湯下之。（方在可下證中。）</p>
<p>太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛，若下之，必胸下結硬。自利不渴者，屬太陰，其臟有寒故也。（當溫之，以四逆輩。）</p>
<p>傷寒三日，太陽脈弱，至四日，太陰脈大。（脈大而胸滿多痰者，宜吐之；無此證者，宜汗之。）傷寒脈浮緩，（亦大之類。）手足自溫者，系在太陰，小便不利者，必發黃；（五苓散加茵陳主之。）若小便自利者，不能發黃，至七八日，雖暴煩下利日十餘行，必自止，以脾家實，腐穢當去故也，橘皮湯主之。</p>
<p><u>五苓茵陳湯</u></p>
<p>以茵陳濃煎，湯調五苓散二錢服之，日三四，黃從小便下，以小便清為度。</p>
<p><u>橘皮湯</u></p>
<p>橘皮（一兩）　生薑（二兩）　</p>
<p>細銼，水一升半，煎七合去滓，分二服，稍熱呷，未瘥再作服。</p>
<p>本太陽病，醫反下之，因爾腹滿時痛者，屬太陰也，　桂枝芍藥湯　主之。</p>
<p>桂枝（一兩半）　芍藥（三兩）　甘草（一兩）　大棗（六枚）　生薑（一兩半）　</p>
<p>㕮咀，以水三升，煮取一升半，去滓，每溫一盞，日三服。（注云：小建中湯不用飴糖，故芍藥為君，止痛複利邪故也。）</p>

<h2>少陰證</h2>
<p>尺寸俱沉者，少陰受病也。當五六日發，以其經貫腎，絡於肺，系舌本，故口燥舌乾而渴，大承氣湯下之。（方在可下證中。）</p>
<p>少陰之為病，脈微細，欲寐也。</p>
<p>少陰中風，陽微陰浮，為欲愈也。</p>
<p>凡少陰病四逆者，宜溫之。</p>
<p>少陰病，始得之，反發熱，脈沉者，　麻黃細辛附子湯　主之。</p>
<p>麻黃（二兩）　細辛（二兩）　附子（一枚）　</p>
<p>㕮咀，以水三升，先煮麻黃十數沸，去上沫，內諸藥，煮取一升，去滓。每溫一盞，日三服。</p>
<p>少陰病，得之二三日，　麻黃附子甘草湯　微汗，以二三日無陽證，故微發汗也。（謂初得病二三日，常見少陰證，無陽者，鬚髮小汗也。）</p>
<p>麻黃（二兩）　甘草（二兩）　附子（一枚）　</p>
<p>㕮咀，以水三升，先煮麻黃十數沸，去上沫，內諸藥，煮取一升半，去滓，每溫一盞，日三服。</p>
<p>龐曰：少陰病脈沉，不知何沉也，且沉緊發汗則動經，沉數為病在裡，不可發汗。詳此脈或沉而濡，或沉而微，是表中寒而里不消，脈應里而發熱在表，故以小辛之藥，溫散而微微取汗也。</p>
<p>少陰病，吐利，手足不逆冷，發熱者不死；脈不至者，灸少陰七壯。（太谿穴在內踝後跟骨上動脈陷中。言發熱者，謂其身發熱也。）</p>
<p>少陰病，吐利，煩躁四逆者，死。（煩躁者，內煩躁也。與茱萸湯證，宜細審其生死也。）</p>
<p>少陰病，惡寒而倦（居員切。）時時自煩，不欲厚衣，宜大柴胡湯。（方在可下證中。）</p>
<p>少陰病四逆，惡寒而自倦，脈不至而吐利，煩躁者，死。（重詳定此。）</p>
<p>少陰病下利，利止而眩，時自冒者，死。（此合是少陽冒昧汗濈出，脈勻小浮者生。少陰無眩冒之證。）</p>
<p>少陰病六七日，息高者，死。</p>
<p>少陰病，脈微細沉，但欲臥，汗出不煩，自欲吐，至五六日自利，復煩躁，不得臥寐者，死。</p>
<p>少陰病，得之二三日以上，心中煩，不得臥者，　黃連阿膠湯　主之。</p>
<p>黃連（一兩）　黃芩（一分）　芍藥（一分）　雞子黃（半枚）　阿膠（炙，三分，為末）　</p>
<p>以水二升，先煮三物，取一升，去滓，內阿膠烊盡，小冷，內雞子黃，攪令相得，溫溫一盞，日三四服。</p>
<p>少陰病，下利清水，色純清，心下必痛，口乾燥者，大承氣湯下之。（方在可下證中。）</p>
<p>少陰病，吐利，手足厥冷，煩躁欲死者，　茱萸湯　主之。</p>
<p>茱萸（一兩半，湯洗三遍）　人參（三分）　生薑（一兩半）　大棗（三個）　</p>
<p>以水三升半，煮取一升半，去滓。每溫一盞，日三服。</p>
<p>少陰病，咽痛者，　桔梗甘草湯　主之。</p>
<p>桔梗（半兩）　甘草（一兩）　</p>
<p>細銼，水一升，煎半升，去滓，作三服，細呷之。</p>
<p>又　半夏散　亦主之。</p>
<p>半夏（湯洗七遍）　桂枝（去皮）　甘草（炙）　</p>
<p>上各等分，各別搗篩已，合治之。每服三錢，水一盞半，煎至八分，溫冷少少咽之。</p>
<p>少陰病，下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤，或腹痛，或乾嘔，或咽痛，或利止脈不出者，　通脈四逆湯　主之。</p>
<p>甘草（一兩）　附子（大者半個，強人加半個。）　乾薑（三分，強人加一兩半）　</p>
<p>細銼，水三升，煎至一升，去滓，每溫服一盞，日三四服。未瘥，急更作一劑，不可作煮散。其脈續續出者愈，暴出者死。面赤者，加連須蔥四莖，去青；腹痛，去蔥加芍藥一兩；嘔者加生薑一兩；咽痛者去芍藥加桔梗半兩；利止脈不出者，去桔梗加人參半兩。病與方皆相應者，乃與服之。</p>
<p>少陰病，下利六七日，咳而嘔渴，心煩不得眠者，宜　豬苓湯　。</p>
<p>豬苓　茯苓　澤瀉　滑石　阿膠（各半兩）　</p>
<p>㕮咀，以水二升，先煮四物取一升，去滓，內阿膠末烊盡，每溫一盞服。</p>
<p>少陰病，下利咽痛，胸滿心煩，　豬膚湯　主之。</p>
<p>豬膚（半斤）　</p>
<p>以水五升，煮取二升半，去滓，加白蜜半升，白粉二合半，熬香和令相得，每溫服一盞，日三四服。</p>
<p>少陰病，四逆，其人或咳，或悸，或小便不利，或腹中痛，或泄利下重者，　四逆散　主之。</p>
<p>甘草　枳實　柴胡　芍藥（各五分）　</p>
<p>搗篩為細末，白飲和服方寸匕，日三服。咳者加五味子、乾薑（炮），各二分半，並主下利；悸者，加桂二分半；小便不利者，加赤茯苓二分半；腹痛者，加附子一個，炮，去皮臍；泄利下重者，先以水三升，薤白一升半，煮取二升，去滓，以散方寸匕，用薤白湯一盞，煎八分，日三四服。</p>

<h2>厥陰證</h2>
<p>尺寸俱微者，厥陰受病也。當六七日發，以其脈循陰而絡於肝，故煩滿而囊縮。（微緩者，囊必不縮。若外證發熱，惡寒似瘧，為欲愈候，宜桂枝麻黃各半湯也。若尺寸俱沉短者，囊必縮，宜承氣湯下之，方在可下證中。）</p>
<p>厥陰之為病，消渴，氣上衝心，心中痛熱，飢而不欲食，食則吐蛔，下之利不止，烏梅丸主之。</p>
<p>傷寒，脈微而厥，至七八日膚冷，其人躁無暫安者，此臟厥，非蛔厥也。蛔厥者，其人當吐蛔，令病者靜而復煩也，此臟寒。蛔上入其膈，故煩，須臾復止。得食而嘔又煩者，蛔聞食臭即出，其人常自吐蛔。蛔厥者，　烏梅丸　主之。又治久痢。（臟厥宜四逆輩，極冷服之。）</p>
<p>烏梅（一百五十個）　乾薑（五兩）　黃連（八兩）　當歸（二兩）　川椒　桂枝　附子　人參　黃柏　細辛（各三兩）　</p>
<p>異搗篩，合治之。以苦酒浸烏梅一宿，去核，蒸之二斗米下，飯熟搗成泥，和藥令相得，內臼中，與蜜再杵二千下，丸如梧桐子大，先食飲服十丸，日三服。稍加至二十丸，禁生冷、滑臭食物等。</p>
<p>厥陰中風，脈微浮者為欲愈，不浮者為未愈。</p>
<p>脈遲，反以黃芩湯得徹其熱，腹中應冷，當不得食，今反能食，此為除中，必死。</p>
<p>先厥後發熱，下利必自止，而反汗出咽痛者，其喉為痹；發熱無汗，其利自止，若不止，必便膿血者，其喉不痹。</p>
<p>龐曰：熱少厥微，指頭寒，嘿嘿不欲食，煩躁數日，小便自如，此熱除也。宜乾薑甘草湯。（方在太陽證中。）</p>
<p>龐曰：手足逆冷，皆屬厥陰，不可下，亦不可汗。有須下證者，謂手足雖逆冷，或有溫時，手足雖逆冷而手足掌心必暖，非正厥也，故可消息汗下也。</p>
<p>傷寒一二日，至四五日，厥者必發熱，前發厥者，後必發熱，厥甚熱亦甚，厥微熱亦微。厥不過五日，六日不厥者必愈。若六日厥者，必發熱愈甚，仍下利也。</p>
<p>龐曰：寒熱而厥，面色不澤，冒昧者，當用綿衣包手足，令溫暖，必大汗而解也。有不因大汗下，而兩手忽無脈，謂之雙伏；或一手無脈，謂之單伏。或利止，如此必有正汗，急用四逆輩溫之，時有汗便安。脈終不出者，死。</p>
<p>下利，先厥後發熱，利必自止。不爾，咽中痛，或喉痹；若便膿血者，其喉不痹。</p>
<p>厥而下利者，當不能食；反能食者，為除中，必死。能食反發熱，脈數者，必發癰膿；厥而嘔，胸脅煩滿，後必便膿血。</p>
<p>病者手足冷，小腹按之痛，此結冷在膀胱關元也。（當關元灸之。）發熱下利，厥逆，躁不得臥者，死。</p>
<p>病人手足厥冷，脈乍緊者，邪結在胃中，心下滿而煩，不能飲食者，病在胸中，當吐之，宜　瓜蒂散　。凡病可吐者皆宜此方。</p>
<p>瓜蒂　赤小豆（等分）　</p>
<p>細末，別以香豉一合，熱湯三盞，煮作稀糜，去滓。取汁和散一錢，溫溫頓服。不吐者，少少加藥再服，得吐快乃止。諸亡血虛家，不可與服。（有用丁香者吐之，多霍燥人。）</p>
<p>傷寒厥而心下悸，宜先治水，當服茯苓甘草湯，次治其厥，不爾，水漬入胃，必作利也。　茯苓甘草湯</p>
<p>茯苓　桂（各一兩）　生薑（一兩半）　甘草（半兩）　</p>
<p>細銼，水二升，煎一升，溫飲一盞，悸止為度。</p>
<p>傷寒六七日，大下後，寸脈沉而遲，手足厥逆，下部脈不至，咽喉不利，唾膿血，泄利不止者，為難治，宜　麻黃升麻湯　。（有不因下而自利加衄血者，亦宜此方。）</p>
<p>麻黃（一兩）　升麻　當歸（各半兩）　知母　黃芩　葳蕤（各三錢）　芍藥　天門冬　桂枝　茯苓　甘草　石膏　白朮　乾薑（各一錢半）　</p>
<p>細銼，水二升半，先煮麻黃一二沸，去沫，內諸藥，煮一升二合，去滓，溫服一盞，如人行七八里久，進一服，以汗出即住服。</p>
<p>本自寒，醫復吐下之，寒格愈逆，食入口即吐，宜　乾薑黃芩湯　。</p>
<p>乾薑　黃芩　黃連　人參（各一兩半）　</p>
<p>細銼，水三升，煮取一升半，去滓。溫服一盞。</p>
<p>下利，微熱而渴，脈弱者自愈。脈數汗出亦然，緊為未解，發熱而厥，七日下利，為難治。</p>
<p>凡厥，通用四逆湯，方在四逆證中。謂其脈浮遲，或微，或細，或沉，皆屬裡有寒也。</p>
<p>厥而脈滑者，為里有熱，　白虎湯　主之。</p>
<p>知母　石膏（八兩）　甘草（半兩）　粳米（三合）　</p>
<p>以水五升，煮米熟湯成，去滓。溫服一盞，日三服，有渴加人參半兩。</p>
<p>龐曰：三陽皆有合病。凡合病者，有十四證，唯三陰無合病。</p>

<h2>兩感證</h2>
<p>龐曰：《素問》載兩感於寒，其脈應與其病形者，一日則巨陽與少陰俱病，頭痛，口乾而煩滿；二日則陽明與太陰俱病，腹滿身熱，不欲食，譫語；三日則少陽與厥陰俱病，則耳聾囊縮而厥，水漿不入口，不知人，六日死。言其六日死者，是臟腑榮衛或有所通行，故四日少陰與太陽俱病，五日太陰與陽明俱病，六日厥陰與少陽俱病，是重傳得六日死矣。其有三日死者，《素問》謂陽明為五臟十二經脈之長，其邪氣盛，故不知人；三日其氣乃絕，故死矣。夫邪氣盛則實，表裡邪實，並領血氣入胃，不通於榮衛氣血，故氣血隨邪而盡，則三日死矣。其脈候《素問》已脫，今詳之。凡沉者，皆屬陰也。一日脈當沉而大，沉者，少陰也，大者，太陽也；二日脈當沉而長；三日脈當沉而弦，乃以合表裡之脈也。沉長、沉弦皆隱於沉大。凡陰不當合病，唯三陽可以合病，今三陰與三陽合病，故其脈似沉緊而大，似沉實而長，亦類革至之死脈也。</p>

<h2>三陰三陽傳病證</h2>
<p>龐曰：傷寒一日，巨陽受病，前所說膀胱詳矣。《病源》云小腸，雖則誤其標本，其手足陰陽自有並病者。故《素問》云：六日三陰三陽、五臟六腑皆受病，榮衛不行，五臟不通，則死矣。是表裡次第傳，不必兩感，亦有至六日傳遍五臟六腑而死者也。《素問》云：諸浮不躁者，皆在陽則為熱，其有躁者在手。假令第一日脈不躁，是足太陽膀胱脈先病；脈加躁者，又兼手太陽小腸也。又云：諸細而沉者，皆在陰，則為骨痛，其有靜者在足。假令第四日脈靜者，足太陰始傳病也。脈加數，又兼手太陰病也。故六日亦能傳遍臟腑也。躁謂脈數，靜謂脈不數，用藥則同，若用針，須取足與手之經也。</p>

<h1>卷第二</h1>

<h2>可發汗證</h2>
<p>大法春宜發汗。</p>
<p>太陽中風，陽浮而陰弱，陽浮者自發熱，陰弱者自汗出，嗇嗇惡寒，淅淅惡風，翕翕發熱，鼻鳴乾嘔者，　桂枝湯　主之。</p>
<p>桂枝　芍藥　生薑（各一兩半）　甘草（一兩）　大棗（六個）　</p>
<p>㕮咀，水三升半，微火煎取一升七合半，生布絞去滓，溫服一盞。須臾，啜熱粥一碗，令助藥力。周覆一時，遍身濈濈者益佳，不可令如水流漓，病必不除。若一服汗出病瘥，止後服，不必盡劑也。若不汗，如前法更服，半日許令三服。若病重者，一日一夜可盡一劑。病證猶存者，更作服。若汗未出，乃至二三劑。忌生冷、黏滑、肉面、五辛、酒酪、臭惡等物。</p>
<p>太陽病，初服桂枝湯，反煩不解者，先刺風池、風府，卻與桂枝湯則愈。按風池是少陽之經，陽維之會，不針天柱而取風池者，陽維維諸陽，巨陽與諸陽主氣故也。</p>
<p>龐曰：凡桂枝湯證，病者常自汗出，小便不數，手足溫和，或手足指稍露之，則微冷，覆之，則溫渾身熱，微煩而又憎寒，始可行之。若病者身無汗，小便數，或手足逆冷，不惡寒，反惡熱，或飲酒後，慎不可行桂枝湯也。（脈緊必無汗，設有汗，不可誤作桂枝證。）</p>
<p>太陽病，發汗，遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，桂枝加附子湯主之。（桂枝湯內，加附子一枚，炮，去皮尖，切片同煎，如前。小便難，為有津液，可作汗；若小便數，不可誤認陽旦證也，陽旦即桂枝湯異名也。）</p>
<p>下後，脈促，胸滿者，桂枝去芍藥湯主之。（桂枝湯內去芍藥，只用四味也。芍藥味酸，脈促胸滿，恐成結胸，故去芍藥之佐，全用辛甘，發散其毒氣也。）</p>
<p>服桂枝湯，或下之，仍頭項強痛，翕翕熱，無汗，心下滿微痛，小便不利者，桂枝去桂加白朮茯苓各一兩半主之。（不用桂，加水成四升，煎取二升。）</p>
<p>太陽病，項背強𠘧𠘧，汗出惡風者，桂枝加葛根二兩，添水成四升，煎取二升。通治柔痓。</p>
<p>太陽病，下之微喘者，表未解也，桂枝加杏仁厚朴湯主之。（桂枝內加厚朴一兩，杏仁四十枚。）此則中風自汗，用桂枝湯證也。</p>
<p>龐曰：惡寒者，不當風而憎寒，惡風者，當風而憎寒，皆屬表證。太陽病，頭痛發熱，身疼痛，骨節煩疼，惡風，無汗而喘者，　麻黃湯　主之。</p>
<p>麻黃（一兩半）　桂枝（一兩）　甘草（半兩）　杏仁（三十五個）　</p>
<p>㕮咀，水二升半，煮麻黃數沸，去上沫，內諸藥，煮取一升二合半，去滓，每飲一盞，續次服盡，不用粥投。溫覆，如桂枝法將息，未汗，可再作二三劑。</p>
<p>龐曰：傷寒之脈，緊盛而按之澀是也。脈浮而緊，浮為風，緊為寒，風傷衛，寒傷榮，榮衛俱病，骨節煩疼。外證必發熱，無汗，或喘，其人但憎寒，手足指末必微厥，久而復溫，掌心不厥，此傷寒無汗，用麻黃證。</p>
<p>凡脈浮數，或浮緊，無汗，小便不數，病雖十餘日，尚宜麻黃湯也。</p>
<p>太陽中風，脈浮緊，發熱惡寒，身痛，不汗出而煩躁者，大青龍湯主之。若脈微弱，自汗出，惡風者，不可服之；服之則厥逆，筋惕肉瞤，此為逆也。　大青龍湯</p>
<p>麻黃（三兩）　桂枝　甘草　石膏（各一兩）　杏仁（二十個）　棗（五枚）　生薑（一兩半）　</p>
<p>㕮咀，水五升，煮麻黃數沸，去上沫，內諸藥，煮取二升。每溫飲一盞，微汗為度。若汗周身潤則止服；未周身潤，可停待少時服盡。不欲汗多，亡陽故也。亡陽遂虛，惡風，煩躁，不得眠也。</p>
<p>傷寒，脈浮緩，身不疼，但重，乍有輕時，無少陰證者，大青龍湯主之。（少陰當言太陰。按太陰證內有脈浮緩，手足溫者，系太陰。太陰當發汗，證屬青龍湯；似桂枝證，反無汗而脈緊；似麻黃證，反身不疼而脈浮緩。）</p>
<p>太陽病，項背𠘧𠘧，無汗惡風，　葛根湯　主之。</p>
<p>葛根（二兩）　麻黃（一兩半）　桂枝（一兩）　甘草（一兩）　芍藥（一兩）　大棗（六枚）　生薑（一兩半）　</p>
<p>㕮咀，水四升，先煮麻黃、葛根數沸，去沫，下諸藥，煮取二升半，去滓。每溫飲一盞，日三服，如桂枝湯將息。</p>
<p>太陽與陽明合病，必自下利者，葛根湯主之。</p>
<p>太陽與陽明合病，不利，但嘔者，葛根加半夏湯主之。用前葛根湯內加半夏一兩一分，湯洗十遍，每個作四破。</p>
<p>龐曰：脈浮緊，無汗，服湯未中病。其人發煩，目瞑，極者必衄。小衄而脈尚浮者，宜麻黃湯；衄後脈已微者，不可再行也。凡脈浮自汗，服湯不中病，桂枝證尚在，必頭痛甚而致衄。小衄而脈尚浮者，再與桂枝湯；衄後脈已微者，不可再行也。</p>
<p>傷寒三日後，與諸湯不差，脈勢如數，陽氣猶在經絡，未入臟腑，宜　桂枝石膏湯　。此方可夏至後代桂枝證用之；若加麻黃一兩，可代麻黃、青龍湯用之。</p>
<p>石膏（三兩）　梔子（二十四個）　生薑（一兩半）　桂枝　黃芩　甘草（各一兩）　升麻　葛根（各一兩半）　</p>
<p>㕮咀，水五升，煮取二升半，去滓，溫飲一盞，食頃再服。若得汗，即止後服。</p>
<p>龐曰：凡發汗，以辛甘為主，復用此苦藥者，何也？然辛甘者，折陰氣而助陽氣也。今熱盛於表，故加苦以發之。《素問》云：熱淫於內，以苦發之故也。</p>
<p><u>葛根龍膽湯</u>　療病四五日不瘥，身體毒熱，面赤，兼治陽毒風溫。</p>
<p>葛根（生者四兩，乾者二兩代）　生薑　升麻　大青　龍膽　桂枝　甘草　麻黃　芍藥（各半兩）　葳蕤（一兩）　石膏（一兩半）　</p>
<p>㕮咀，水四升半，下麻黃，煮數沸，去上沫，內諸藥，煎二升，去滓。溫飲一湯盞，日三夜二。（凡葛根，須用家園味甘多白粉者為佳，若誤用味苦野葛多吐，人轉增病。）</p>
<p>時行熱病，六七日未得汗，脈洪大或數，面目赤，身體大熱，煩躁狂語欲走，大渴甚。又五六日以上不解，熱在胃中，口噤不能言，為壞傷寒，醫所不能治。如死人，或精魂已竭，心下才暖，發開其口，灌藥下咽即活，兼治陽毒，　麥奴丸　。</p>
<p>麻黃（三分）　釜底煤　黃芩　灶底墨　梁上塵　小麥奴　灶中黃土（各一分）　芒硝　大黃（各半兩）　</p>
<p>細末，蜜丸彈子大，新汲水三合，和一丸研服之。渴者但令冷水足意飲之，須臾當寒竟，汗出便瘥。若日移五尺不汗，依前法再服一丸。瘥即止，須微利。小麥奴乃小麥未熟時叢中黑麥捻之成黑勃者是也，無，即以小麥炒黑焦，地上出火毒用之亦得。此藥須是病人大渴，倍常躁盛，若小渴者強與之為禍耳，強人每服半雞子大。（亦治溫瘧。）</p>
<p>傷寒，連服發汗湯七八劑，汗不出者，死。如中風法蒸之，使溫熱之氣外迎，無不得汗也，古今用效。薪火燒地，良久去火，掃地以水灑之。取蠶沙、桃柏、荊葉、糠及麥麩皆可。同和鋪燒地上，可側手厚，上鋪席，令病人臥席上，溫覆之。熱月只可夾被覆，其汗立出。後周身至腳心皆汗濈濈，乃用溫粉撲止，移之上床即愈。無蠶沙即用麩糠之類，鋪燒地上亦得。（溫粉法，白朮、藁本、白芷各二兩，末之，入英粉十二兩，和勻用之。無英粉以蜯粉代之。）</p>
<p>傷寒瘥後，有不了了證者，謂至十日或半月二十日，終不惺惺，常昏沉以失精神，言語錯謬，或無寒熱，有似鬼祟，或朝夕潮熱頰赤，或有寒熱如瘧狀，此乃發汗不盡，餘毒氣在心胞絡間所致也，宜　知母麻黃湯　。</p>
<p>知母（一兩半）　麻黃（一兩）　芍藥　黃芩　甘草　桂枝（各半兩）　</p>
<p>㕮咀，水二升半，煮麻黃數沸，去上沫，內諸藥，取一升三合，去滓。每溫飲一大盞，半日可相次三服，溫覆令微汗。若心煩欲水，當稍與之，令胃中和則愈。未汗盡劑。</p>
<p>太陽病，下之後，氣上衝，其脈必浮，可依證發汗，不與汗則成結胸也。凡發汗，脈浮大，雖大便秘，小便少者，可發汗而解也。合汗不汗，諸毛孔閉塞，悶絕而死。</p>

<h2>不可發汗證</h2>
<p>脈浮緊，法當身痛，當以汗解。假令尺中脈遲，為榮氣不足，血少故也。（前陽明病脈遲汗出多，微惡寒，宜桂枝湯，不責榮不足，蓋尺脈長大而遲也。此若軟緊而遲，不可汗，宜小建中湯。）</p>
<p><u>小建中湯</u></p>
<p>桂枝（三分）　生薑（三分）　芍藥（一兩半）　甘草（半兩）　棗（六枚）　飴糖（二合半）　</p>
<p>㕮咀，水二升半，煮取九合，去滓，方下飴糖，煎令化。每溫飲一湯盞，日進二三服。尺尚遲，再作一劑，入人參加半兩同煎最良。舊有微溏或嘔者，不用飴糖也。兼治傷寒一二日，胸中悸而煩，及汗後身疼，脈沉遲。又治傷寒陽脈澀，陰脈弦，法當腹中急痛，先小建中湯；不瘥，與柴胡湯。（方在和表證中。）　</p>
<p>龐曰：凡脈緊，病必無汗，唯濡而緊，病必自汗。勿誤行桂枝，宜建中湯也。</p>
<p>脈濡弱，不可發汗，汗則厥而煩躁，不得眠。</p>
<p>諸動氣在心腹上下左右，不可發汗。</p>
<p>龐曰：諸脈動數微弱，不可發汗。（以上並宜建中湯。若煩躁者，宜竹葉湯。）</p>
<p><u>竹葉湯</u>　治虛煩，病似傷寒，身亦熱而煩躁，頭不痛，身不疼，脈不數者。兼治中暍，渴吐逆而脈滑數者，及傷寒解後，虛羸少氣，氣逆欲吐者，並宜服之。</p>
<p>淡竹葉（半把）　石膏（四兩）　半夏（三分）　人參（半兩）　甘草（半兩）　麥門冬（二兩）　粳米（一合，淘過）</p>
<p>細銼，以水五升，煎二升半，米熟去滓。溫飲一盞，日進三服，夜二服。嘔者，加生薑一兩半，不嘔不用。</p>
<p>虛煩或嘔吐，脈弦細芤遲，手足微寒，胸滿者，橘皮湯主之，兼治暴煩下利。（方在太陰證中。）</p>
<p>四逆不可發汗，發汗則聲嘶，舌萎不得前，言亂睛眩者，命將難全。</p>
<p>咽中閉塞，不可發汗，發汗則吐。血氣微絕，手足不能自溫者，乾薑甘草湯主之。（方在太陰證中。）</p>
<p>淋家，不可發汗，發汗必便血。</p>
<p>瘡家，雖身痛，不可發汗，汗出則痓。（以癰瘡家膿血過多。）</p>
<p>動氣在右，不可發汗，汗出則衄而渴，心苦煩，飲則吐水。（動者，謂心腹中虛氣動，若誤汗有此證，先宜五苓散三服，方在可水證中。次服竹葉湯，方在前。）</p>
<p>動氣在左，不可發汗，發汗則頭眩，汗出則筋惕肉瞤，此為逆，難治。（但先服防風白朮散，次服建中湯，方在前。）　防風白朮散</p>
<p>防風（一兩）　牡蠣粉（半兩）　白朮（三分）　</p>
<p>細末，溫米飲調下二錢，日二三服，汗出續與建中湯。</p>
<p>動氣在上，不可發汗，發汗則氣上衝，正在心端，李根湯主之。</p>
<p>半夏（半兩）　桂枝　當歸　芍藥　黃芩　甘草　人參（各一分）　茯苓（三分）　</p>
<p>粗末，每五錢水二盞，姜三片，甘李根白皮一團，如雞子黃大，煎八分，通口，日三五服。</p>
<p>動氣在下，不可發汗，發汗則心中大煩，骨節苦痛，目運惡寒，食則反吐，谷不得前，先服大橘皮湯；得吐止，後服建中湯。</p>
<p><u>大橘皮湯</u>（亦主手足冷嘔噦。）</p>
<p>橘皮（一兩半）　生薑（二兩）　棗（二十四個）　甘草（半兩）　人參（一分）　竹茹（半兩）　</p>
<p>㕮咀，水三升，煎一升半，去滓。溫服一盞，食頃再服。不當汗而強汗之，則津液枯槁而死。</p>

<h2>四逆證</h2>
<p>四逆湯治病發熱頭痛，脈反沉，若不瘥，身體疼痛者；脈浮遲，表熱裡寒，下利清穀者；汗出熱不去，內拘急，支節疼，四逆者；下利厥逆，惡寒者；下利腹脹滿，身疼脈浮者。先用四逆溫里，得利止，乃可隨證用藥攻表也。</p>
<p>甘草（一兩）　附子（半個）　乾薑（三分）　</p>
<p>㕮咀，以水一升半，煮取六合，去滓，溫分作二服。</p>
<p>手足厥，脈微欲絕者，　當歸四逆湯　主之。</p>
<p>當歸　桂枝　芍藥　細辛（各一兩半）　棗（三十六個）　甘草　木通（各一兩）　</p>
<p>㕮咀，以水四升半，煮二升二合，去滓，每溫一盞服。</p>

<h2>和表證</h2>
<p>傷寒表不解，心下有水氣，乾嘔，發熱而咳，或渴，或利，或噎，或小便難、腹滿而喘者，　小青龍湯　主之。</p>
<p>麻黃　芍藥　細辛　乾薑　甘草　桂枝（各一兩半）　半夏（三分）　五味子（半兩）　</p>
<p>㕮咀，以水六升，先煮麻黃數沸，去上沫，內諸藥，煮一升，去滓，每溫服一盞。若渴者，去半夏，加栝蔞根一兩半；若微利，去麻黃，加蕘花一雞子大，炒赤；若噎者，去麻黃，加附子一枚，炮；小便不利、小腹滿者，去麻黃，加赤茯苓二兩；若喘，去麻黃，加杏仁一兩一分。無蕘花，以桃花一鴨子大，不炒代之。</p>
<p>太陽病，得之八九日，如瘧狀，發熱惡寒，熱多寒少，其人不嘔，清便欲自可，一日二三度發。脈微緩者，為欲愈也；脈微而惡寒，此陰陽俱虛，不可更發汗吐下也；面色反有熱色者，未解也，以其不能得小汗出，其身必癢，宜　桂枝麻黃各半湯　。</p>
<p>桂枝湯末　麻黃湯末（各三分）　</p>
<p>以水一升半，棗三個，生薑三片，煎減半，去滓，溫飲一盞。未有小汗，再服之。</p>
<p>服桂枝湯，大汗出，脈洪，證候不改者，服桂枝湯，如前法；若形似瘧狀，日再發者，宜　桂枝二麻黃一湯　。</p>
<p>桂枝湯末（一兩）　麻黃湯末（半兩）　</p>
<p>以水一升半，姜三片，棗三個，煎減半，去滓，溫飲一盞。未有小汗，再服之。</p>
<p>服桂枝湯，大汗出後，大煩渴，脈洪大者，白虎湯加人參主之。（方在厥陰證中。）</p>
<p>龐曰：傷寒，已得汗，身和脈弦細，譫語妄見，此為津液不和，與小柴胡去人參加桂枝湯服之，津液和自愈；未瘥，與調胃承氣湯下之。</p>
<p>傷寒六七日，發熱，微惡寒，肢節煩疼，微嘔，心下支結，外證未去，　柴胡桂枝湯　主之，兼治寒疝腹痛。</p>
<p>柴胡（一兩）　桂枝　黃芩　人參（各半兩）　半夏（四錢一字）　芍藥（半兩）　甘草（一錢一字）　大棗（九枚）　生薑（半兩）　</p>
<p>㕮咀，以水三升半，煮取一升七合半，去滓，溫飲一盞。</p>
<p><u>小柴胡湯</u>　治傷寒五六日，中風，往來寒熱，胸脅滿，嘿嘿不欲食，心煩喜嘔，或胸中煩而不嘔，或渴，或腹中痛，或脅下痞硬，或心下悸、小便不利，或不渴、身微熱，或咳者。</p>
<p>柴胡（二兩）　甘草　黃芩　人參（各三分）　半夏（六錢一字）　生薑（三分）　大棗（三枚）　</p>
<p>㕮咀，以水六升，煮取三升，去滓，再煎取一升半，溫作三服。若胸中煩而不嘔者，去半夏、人參，加栝蔞半個。若渴，去半夏，加人參成二兩二錢半、栝蔞根二兩。若腹中痛，去黃芩，加芍藥一兩半。若脅下痞硬，去大棗，加牡蠣二兩。若心下悸、小便不利，去黃芩，加茯苓二兩。若不渴、外有微熱，去人參，加桂枝一兩半，溫覆微汗愈。若咳，去人參、大棗、生薑，加五味子一兩一分，乾薑一兩。</p>
<p>傷寒中風，有柴胡證，但見一證，不必悉具。凡以柴胡證而下之，與柴胡湯，必蒸蒸而振，卻復發熱汗出而解也。</p>
<p>病十日以上，脈浮細嗜臥者，為已安候，小柴胡和之，細而遲者勿與。</p>
<p>婦人中風七八日，續自寒熱，發作有時，經水適斷者，此為熱入血室，其血必結，故使如瘧狀，發作有時，小柴胡湯主之。</p>
<p>婦人傷寒發熱，經水適來，晝日明瞭，暮則譫語，如見鬼狀，此為熱入血室，無犯胃氣，必自愈。（先宜小柴胡湯，不愈，可刺期門。）</p>
<p>婦人中風，發熱惡寒，經水適來，得之七八日，熱除而脈遲身涼，胸脅下滿如結胸狀，譫語，此為熱入血室也，當刺期門，隨其實取之。</p>
<p>陽明病，潮熱，大便溏，小便自如，胸脅滿不去者，小柴胡湯主之。又不大便而嘔，舌上白苔者，亦宜服之。上焦得通，津液得下，胃氣因和，身濈然汗出而解。</p>
<p>陽明中風，脈浮弦大而短氣，腹滿，脅下及心痛，久按之氣不通，鼻乾不得汗，嗜臥，一身及目悉黃，小便難，有潮熱，時時噦，耳前後腫。刺之小瘥，外不解。病過十日，脈續浮者，與小柴胡湯；若不尿，腹滿加噦者，不治。</p>

<h2>可下證（血證附）</h2>
<p>大法秋宜下。</p>
<p>陽明病，發熱不惡寒，汗多者，急下之。</p>
<p>凡脈沉細數，為熱在裡。又兼腹滿咽乾，或口燥舌乾而渴者，或六七日不大便，小便自如，或目中瞳子不明，無外證者，或汗後脈沉實者，或下利，三部脈皆平，心下堅者，或連發汗，已不惡寒者，或已經下，其脈浮沉按之有力者，宜　大承氣湯　。</p>
<p>大黃（半兩）　厚朴（一兩）　枳實（一枚）　朴硝（半兩）　</p>
<p>㕮咀，以水四升，先煮厚朴、枳實至三升，下大黃，煮取一升半，去滓，下朴硝烊化。每溫一盞服，利即止。後服如作煮散煎，每服厚朴、枳實末共三錢，水二盞，煎一盞半，下大黃末一錢，煎一盞，絞去滓，下朴硝末一錢，烊化服之。</p>
<p>陽明與少陽合病而利，脈不負者，為順也。負者，失也，互相剋為負也。脈滑而數者，有宿食，當下之。（宜大承氣湯。陽明土，其脈大，少陽木，其脈弦，若合病，土被木賊克，更利，為胃已困。若脈不弦，為土不負。弦者，為土負，必死。）</p>
<p>脈雙弦而遲，心下堅，或脈大而緊者，陽中有陰，可下之。病者煩熱汗出，如瘧狀，日晡則發潮熱者，屬陽明，其脈必實，當下之而愈。</p>
<p>病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥者，有燥屎，宜下之。</p>
<p>傷寒，若吐下後，不解，不大便五六日以上，至十餘日，日晡則發潮熱，不惡寒，獨語如見鬼狀。若劇者，發則不識人，循衣妄撮，（常見有此撮空候，故改之。）惕而不安，微喘直視，脈弦者生，脈澀者死；微者，但發熱譫語，可下之。一服利，止後服。</p>
<p>過經譫語者，可下之。</p>
<p>病人不大便五六日，繞臍痛，煩躁，發作有時，此有燥屎，故不大便，可下之。（以上並宜大承氣湯。）</p>
<p>太陽病未解，其脈陰陽俱停者，必先振慄汗出而解。陽微者，先汗之而解；陰實者，先下之而解。下之，宜　大柴胡湯　。</p>
<p>柴胡（四兩）　黃芩　芍藥（各一兩半）　枳實（二枚）　生薑（二兩半）　半夏（一兩一分）　大棗（六個）　大黃（一兩）　</p>
<p>㕮咀，以水六升，煮取三升，去滓，再煎，每溫一盞服。</p>
<p>因下之後，潮熱而微利者，此醫以丸藥下之，非其治也。而有表證，仍胸膈滿而嘔者，先服小柴胡湯，後服大柴胡湯。（小柴胡湯在和表證中。）</p>
<p>傷寒發熱，汗出不解，心中痞硬，嘔吐下利者，大柴胡湯主之。</p>
<p>傷寒十餘日，結熱在裡，往來寒熱者，宜大柴胡湯。</p>
<p>陽明病，譫語，發潮熱，脈滑疾者，　小承氣湯　主之。</p>
<p>大黃（二兩）　厚朴（一兩）　枳實（二枚）　</p>
<p>㕮咀，水二升半，煎至八合，去滓，放溫時飲一盞，以利為度。凡大便秘悶，恐有表證者，但少少飲之，微下為度，不可飲多，恐大泄利也。虛弱人可作煮散煎服。</p>
<p>太陽病，若吐下發汗後，微煩，小便數，大便難者，與小承氣湯利之則愈。（此太陽陽明證也。）</p>
<p>下利譫語者，有燥屎也，宜小承氣湯。初一服，譫語止；若更衣者，停後服，不爾，盡與之。（更衣即登廁也，非顏師古注《漢書》更衣之義。《集驗方》痔有更衣挺出，頗妨於更衣，更衣出清血，故以知之。）</p>
<p>陽明病，不吐不下，心煩者，可與調胃承氣湯。（方在太陽證中。）</p>
<p>發汗後，惡寒者，虛也；不惡寒，但熱者，實也，當和胃氣，宜調胃承氣湯。</p>
<p>傷寒十三日，過經譫語者，此有熱，當以湯下之。若小便利者，大便當硬，反下利而脈調和者，知醫以丸藥下之，非其治也。若自下利者，脈當微厥；今反和者，為內實也，宜調胃承氣湯。</p>
<p>太陽病，過經十餘日，心下溫溫欲吐而胸中痛，大便反溏，腹微滿，鬱郁微煩。此時極吐下者，與調胃承氣湯，不爾，可與之。但欲嘔，胸中痛，微溏者，此非柴胡證，以嘔故知極吐下也，屬調胃承氣湯。</p>
<p>傷寒吐後，腹脹滿者，屬調胃承氣湯。</p>
<p><u>茵陳湯</u>　治陽明病，發熱汗出者，此為熱越，不能發黃也；但頭汗出，其身無汗，劑頸而還，小便不利，渴而飲水者，以瘀熱在裡，身必發黃。</p>
<p>茵陳蒿（三兩）　大黃（一兩半）　梔子（二十個，大者七枚）　</p>
<p>㕮咀，水二升半，先煮茵陳至一升，內二味，煮取一升二合半，去滓。溫飲一盞，日三服。小便當利，尿如皂角沫，一宿腹減，黃從小便出。</p>
<p><u>十棗湯</u>　治太陽病中風，下利嘔逆，表解者，乃可攻之。其人漐漐汗出，發作有時，頭痛，心下痞硬滿，脅下痛，乾嘔短氣，汗出不惡寒者，此表和里未和也。</p>
<p>芫花　甘遂　大戟（等分，異杵篩，秤末合之，入臼再杵二三百下。）</p>
<p>先以水一升，煮肥棗十枚，擘碎，煮取半升，去棗，用煎湯少半，調末一錢匕，羸人半錢，再單飲棗湯送之，平旦服。若下少而病不除，明旦加藥一錢半，如前服之。服之必利，利後糜粥自養。</p>
<p>咳而脅下痛，此為有飲，宜十棗湯。</p>
<p><u>調中湯</u>　治夏月及秋初，忽有暴寒，折於盛熱，熱結四肢，則壯熱頭痛，寒傷於胃，下利或血或水，或赤帶下，壯熱且悶，脈數宜下之。久年腸風，下之亦瘥。</p>
<p>大黃（三分）　葛根　黃芩　芍藥　桔梗　茯苓　藁本　白朮　甘草（各半兩）　</p>
<p>㕮咀，水三升，煎至二升，下大黃，取一升二合，去滓。溫溫飲一盞，移時勿膈食再服之，得快下，壯熱便歇，其下利亦止。凡秋夏早熱積日，或有暴寒折之，熱無可散，喜搏著肌中，作壯熱氣也。胃為六腑之表，最易為暴寒所折故也，虛人亦不發壯熱，但下利或霍亂，不宜用此。實人有服五石人，喜壯熱，</p>
<p>與別藥下則加熱，喜悶而死矣。是以宜以此下，和其胃氣。（調中湯又治陽病因下，遂協熱利不止，及傷寒不因下而自利，表不解，脈浮數者，皆可去大黃，加葛根成一兩煎服之，殊驗也。）</p>
<p><u>茵陳丸</u>　療瘴氣及黃病㾬瘧。</p>
<p>茵陳　梔子　鱉甲　芒硝（各一兩）　大黃（二兩半）　豉（二合半）　常山　杏仁（各一兩半）　巴豆（半兩）　</p>
<p>細末，蜜丸梧桐子大。初得時氣，三日內平旦米飲服二丸，如人行十里久，或吐或利，或汗出，不爾，更服一丸，以熱粥投之，老少以意加減丸數服。若黃病痰癖，時氣傷食㾬瘧，小兒驚熱欲發癇，服之無不瘥者。療瘴神驗，赤白痢服之亦效。春初有宿熱，依上法服之，取吐利，當年不憂熱病。（有性殺藥者，每服七丸、五丸。）</p>
<p><u>抵黨湯</u>　治太陽病六七日，表證仍在，脈微而沉，反不結胸，其人發狂者，乃熱在下焦，小腹當硬滿；小便反利者，下血乃愈。所以然者，以太陽隨經，瘀血在裡故也。（小腹滿而小便不利者，非血證。）</p>
<p>水蛭　虻蟲（各十枚）　桃仁（七枚）　大黃（一兩）　</p>
<p>㕮咀，以水二升半，煮至一升二合半，去滓，溫溫分四服。未下，再服。虛人只可作半料服之，如作煮散，每五錢水一盞半，煎一盞，去滓服之。</p>
<p><u>桃仁承氣湯</u>　治太陽病不解，熱結在膀胱，其人如狂，血自下者乃愈。其外不解者，尚未可攻，當先隨證行湯解外。外已解，但小腹急結者，乃可攻之。（不惡寒為外解。）</p>
<p>桃仁（二十四個）　大黃（二兩）　甘草　桂枝　芒硝（各一兩）　</p>
<p>㕮咀，以水三升半，煎取一升半，去滓，內芒硝烊化，溫服一盞。虛人減作半料，亦可作煮散。每五錢，水一盞半，煎至一盞，去滓，下芒硝一錢半，烊化服之。</p>
<p>桃仁承氣湯又治產後惡露不下，喘脹欲死，服之十瘥十。</p>
<p>龐曰：脈朝夕快者，實癖也，可下之。朝平夕快者，非癖也，不可下。快謂數脈，六七至者也。若脈數一息八九至，慎不可下，若下之則煩躁，下利不止而死。凡數脈與皮毛相得，亦不可下也。合下不下，令病人腹脹滿，通身浮腫而死。</p>

<h2>不可下證</h2>
<p>脈軟而弱，弱反在關，（關下三分也。）濡反在巔，（關上三分也。）微反在上，（寸口也。）澀反在下。（尺部也。）微則陽不足，澀則無血，陽氣反微，中風汗出而反煩躁，澀則無血，厥而且寒，宜建中湯。（方在不可汗證中。）</p>
<p>陽微不可下，下之則心下痞。</p>
<p>諸動氣在心腹上下左右，俱不可下。</p>
<p>動氣在右，不可下，下之則津液內竭，咽燥鼻乾，頭眩心悸。（宜竹葉湯，方在不可汗證中。）</p>
<p>動氣在左，不可下，下之則腹裡拘急不止，動氣反劇，身雖有熱反欲倦。（先服乾薑甘草湯，方在太陽證中，後服建中湯，方在不可汗證中。）</p>
<p>動氣在上，不可下，下之則掌握熱煩，身冷，熱汗自泄，欲水自灌，竹葉湯主之。（方在不可汗證中。）</p>
<p>動氣在下，不可下，下之則腹滿，卒起頭眩，食則下清穀，心下痞堅，半夏瀉心湯主之。（方在痞證中。）</p>
<p>咽中閉塞，不可下。</p>
<p>龐曰：諸脈濡弱微虛細相搏，俱不可下。</p>
<p>諸四逆，不可下，虛家亦然。</p>
<p>龐曰：若下證悉具而見四逆者，是失下後氣血不通使然，但手足微厥，掌心常溫，時復指稍溫便下之，不可拘忌也。</p>
<p>傷寒嘔多，雖有陽明證，不可攻也。</p>
<p>龐曰：凡下證，小便不利或尚少，未可攻之也。</p>
<p>不當下而強下之，令病人腸胃洞泄不禁而死。</p>

<h2>可水不可水證</h2>
<p>龐曰：凡病非大渴，不可與冷水。若小渴口咽乾，小小呷滋潤之；若大渴煩躁甚，能飲一斗者與五升，能飲一升者與半升，若乃不與，則乾燥無由作汗，煩喘而死者多矣，但勿令足意飲也；若大汗將來，躁渴甚者，但足意飲之勿疑。常人見因渴飲水而得汗，見小渴遂強與之致停飲，心下滿結喘而死者亦多矣。其有熱脈數，尚可作汗而解者，出於天幸也。</p>
<p><u>五苓散</u>　治病人水藥入口則吐，或渴而嘔者，或汗後脈尚浮而煩渴者，或下利渴而小便不利者，或因渴停水心下，短息者，難治。嘔而小便不利者，皆主之。</p>
<p>豬苓　白朮　茯苓　桂枝　澤瀉（各半兩）　</p>
<p>細末，白飲調下二錢，日三服，數飲暖水，汗出效。</p>
<p>陽明病，小便數者，大便即堅，不更衣十日無所苦。欲得水，但與之，當以法救；渴者，五苓散主之。</p>
<p>霍亂，頭痛發熱，身體疼，熱多欲飲水，五苓散主之。若得病無熱，但狂言煩躁不安，精采不與人相當，勿以火導之，但以豬苓散方寸匕服之。當逼飲新汲井水一升，即令指刺喉中吐去之，病隨手愈。若不能吐者，勿強與水，水停則結心下也，當以藥吐之，不爾，更致危病。若當吐不吐時，以豬苓散吐之，其死迨速矣，亦可針之尤佳。夫飲膈實難治，此皆三死一生也。太陽病，發汗後，大汗出，胃中干，躁煩不得眠，其人慾飲水者，但與之，當稍稍飲之，令胃和則愈。</p>

<h2>可吐不可吐證</h2>
<p>龐曰：胸膈痞悶，痰壅塞礙，脈得浮或滑，並宜瓜蒂散吐之。（方在厥陰證中。）產後六七日內下瀉，諸藥不效，得此脈與吐之，瀉立止。</p>
<p>下利日數十行，其脈反遲，寸口微滑，吐之則止。</p>
<p>龐曰：虛家當吐而不敢吐之，宜以枳實散壓氣毒痰水，過日毒入胃，乃可微下之也。</p>
<p>諸四逆脈微弱虛細，或弦遲，雖中滿悶，不可吐，宜橘皮湯、枳實散之類。（橘皮湯在和表證中，枳實散在敘論中。）</p>
<p>不可吐而強吐之，氣築心即死矣。</p>

<h2>可灸不可灸證</h2>
<p>燒針令其汗，針處被寒，核起而赤者，必發賁豚，氣從少腹上撞者，灸其核上一壯，與桂枝加桂湯。（桂枝湯內加桂枝足成一兩一分，如前法煎之。）</p>
<p>少陰病，其人吐利，手足不逆，反發熱，不死，灸少陰七壯。</p>
<p>下利，手足厥無脈，灸之不暖，反微喘者死。</p>
<p>傷寒脈促，手足厥逆，可灸之。</p>
<p>合灸不灸，令病人冷結，久而彌固，氣衝心而死。微數之脈，慎不可灸，因火為邪，則為煩逆，追虛逐實，血散脈中，火氣雖微，內攻有力，焦骨傷筋，血難復也。</p>
<p>脈浮，當以汗解，而反灸之，邪無從去，因火而盛，病從腰以下，必當重而痹，此為火逆。若欲自解，當先煩，煩乃有汗，隨汗而解。何以知之？脈浮，故以知汗出而解。</p>
<p>脈浮熱甚而灸之，此為實。實以虛治，因火而動，咽燥必唾血。</p>
<p>不當灸而誤灸，令火邪入腹，干錯五臟，重加煩而死。</p>

<h2>可火不可火證</h2>
<p>下利，穀道中痛，當以熬鹽末熨之，或炒枳實末溫熨，二味相兼益佳。若臍下冷結，不可便熨，冷氣攻心腹必死。須先用藥溫之，久而可熨。凡臍下冷結成關陰，大小便不通，服藥雖多，不見效，以炒鹽熨臍下，須臾即通。然關陰已，服巴豆、甘遂、大黃、輕粉之類太多，即暴通利而損人，尤宜詳之也。</p>

<h2>可溫證</h2>
<p>大法冬宜溫熱藥。</p>
<p>少陰病，其人飲食入則吐，心中溫溫欲吐，復不能吐，始得之，手足寒，脈弦遲。若膈上有寒飲乾嘔者，不可吐，宜四逆湯溫之。（方在四逆證中。）</p>
<p>下利，其脈浮大，此為虛，以強下之故也。設脈浮大，因爾腹鳴，宜當歸四逆湯溫之。（方在四逆證中。）</p>

<h2>火邪證</h2>
<p>（醫以火臥床下，或周身用火迫劫汗，或熨、或誤灸，皆屬火邪也。）</p>
<p>傷寒脈浮，醫以火迫劫之，亡陽，驚或狂，起臥不安者，宜　桂枝去芍藥加蜀漆牡蠣龍骨救逆湯　。</p>
<p>桂枝（一兩半）　蜀漆（一兩半）　甘草（一兩）　龍骨（二兩）　牡蠣（二兩半）　生薑（一兩半）　大棗（六枚）　</p>
<p>以水六升，先煮蜀漆減一升，內諸藥，煮取二升，去滓，溫服一盞。無蜀漆以恆山代之。火劫後脈浮，當汗出而愈。</p>
<p>火邪下之，因燒針煩躁者，　桂枝甘草湯　主之。</p>
<p>桂枝（半兩）　甘草　牡蠣　龍骨（各一兩）　</p>
<p>以水二升，煮一升，去滓，溫取一盞，可代救逆湯使之。</p>
<p>龐曰：灸及燒針後，證似火劫者，並宜火劫治之。煩躁驚及狂，用六石風引湯尤良，柴胡加龍骨牡蠣湯亦通用。</p>
<p>病人因火劫，至十五六日，身黃下利，狂欲走。師脈之，言當下清血如豚肝乃愈，後如師言。何以知之？師曰：寸口脈陽浮而陰濡弱，陽浮為風，濡弱為虛，浮虛受風少血，發熱惡寒，灑淅項強頭眩。醫以火熏郁令汗出，惡寒遂甚，客熱因火而發，怫鬱蒸於肌膚，自為黃，小便微難，短氣，鼻中出血。而復下之，胃無津液，利遂不止，熱瘀在膀胱，蓄結成積，狀如豚肝。當下不下，心亂迷憒，狂走赴水，必不能自制。蓄血若去，目明心了，此皆醫所為，輕者得愈，極者不治。</p>

<h1>卷第三</h1>

<h2>結胸證</h2>
<p>病發於陽而反下之，熱入內作結胸。其病心下堅滿，按之如石，硬而痛，項強如柔痓狀，其脈寸口浮，關上尺中皆沉，或沉緊，名曰結胸也。下之則和，宜　大陷胸湯　。（今作煮散煎之。）</p>
<p>大黃（一兩半）　芒硝（一兩八錢半）　甘遂（末，一字）　</p>
<p>異末，先以水一升半，煎大黃半升，絞去大黃滓，下硝末，更煮一二沸，內甘遂末，和勻，溫分二服。一服快利，止後服。如作煮散，即先以水一盞，煎大黃末四錢匕，至八分，下硝末二錢匕，候化勻，下甘遂末半錢匕，沸勻，溫服之。移時未利，再煎一服，快利為度。</p>
<p>臟結如結胸狀，飲食如故，時時下利，寸口脈浮，關上脈小細沉緊，名曰臟結，舌上白苔生者，難治。臟結無陽證，不往來寒熱，其人反靜，舌上苔滑，不可攻也。</p>
<p>結胸證，其脈尺寸浮大者，不可下，下之則死。（復宜發汗也。）</p>
<p>結胸證悉具，煩躁甚者死。</p>
<p>太陽病，脈浮而動數，浮則為風，數則為熱，動則為痛，數則為虛，頭痛發熱，微盜汗出，而反惡寒，表未解也。醫反下之，動數變遲，膈內拒痛，胃中空虛，宿熱動膈，短氣煩躁，心下懊憹，陽氣內陷，心下固硬，則為結胸，大陷胸湯主之。若不結胸，但頭汗出，余處無汗，劑頸而還，小便不利，身必發黃也。</p>
<p>結胸無大熱者，此為水結在胸脅也，但頭微汗出者，宜大陷胸湯。</p>
<p>太陽病，重發汗而復下之，不大便五六日，舌燥而渴，日晡則少有潮熱，從心下至小腹滿而痛不可近者，宜大陷胸湯。</p>
<p>虛弱家不耐大陷胸湯，即以大陷胸丸下之。</p>
<p>結胸者，項亦強，如柔痓狀，下之則和，宜　大陷胸丸　。</p>
<p>大黃（四兩）　葶藶子（一兩半）　朴硝（一兩八錢）　杏仁（二合）　</p>
<p>杵二味，內杏仁、朴硝，合研如脂，丸如彈子大，抄甘遂末一錢，白蜜二合，水二升，煮取一升，溫頓服之。一宿乃下，不下更服。</p>
<p>小結胸，正在心下，按之則痛，脈浮滑者，宜　小陷胸湯　。</p>
<p>半夏（六錢半）　黃連（一分）　栝蔞（一枚，用四錢）　</p>
<p>㕮咀，水三升，煮栝蔞至二升，下諸藥，煮取一升，去滓。溫溫服一盞，食頃再服，一日盡劑，微解下黃涎即愈。</p>
<p>太陽病下之，脈促者不結胸，此為欲解也；脈浮者必結胸；脈緊者必咽痛；脈弦者必兩脅拘急；脈細數者頭痛未止；脈沉緊者必欲嘔；脈沉滑者協熱而利；脈浮滑者必下血。</p>
<p>寒實結胸，無熱證者，與　三物白散方　。（小陷胸者非也。）</p>
<p>桔梗（三分）　巴豆（一分）　貝母（三分）　</p>
<p>細末，內巴豆研勻，白飲調下一錢，羸人減之。病在膈上必吐，在膈下必利。未利啜熱粥投之；利過不止，飲冷粥止之。</p>
<p>龐曰：近世治結胸，多行針頭丸，用硫黃，陽起石者，若病熱毒甚者，必死，唯治冷結寒實耳。</p>

<h2>心下痞證</h2>
<p>病發於陰而反下之，為痞。（發熱惡寒，為發於陽，誤下則為結胸；無熱惡寒，為發於陰，誤下則為痞氣。）</p>
<p>傷寒下之後，若發熱汗出者，為欲解；若心下滿而硬痛者，此為結胸也；但滿而不痛，此為痞氣，宜　半夏瀉心湯　。</p>
<p>甘草　黃芩　乾薑　人參（各一兩半）　黃連（半兩）　大棗（六枚）　半夏（一兩一分）　</p>
<p>㕮咀，水六升，煮取三升，去滓，再煎一升半，溫溫飲一盞，日三夜二。（設下後津液入里，胃虛上逆，寒結在心下，故宜辛甘發散。半夏下氣，苦能去濕，兼通心氣；又甘草力大，故乾薑黃連不能相惡也。）</p>
<p>心下痞，按之濡，其脈關上浮者，宜　大黃黃連瀉心湯　。</p>
<p>大黃（一兩）　黃連　黃芩（各半兩）　</p>
<p>㕮咀，以蝦眼沸湯一升漬之，須臾絞去滓，溫溫分四服，得利止後服。（寒濕迫心氣不行，欲作熱也。）</p>
<p>心下痞悶，而復惡寒汗出者，　大黃黃連瀉心湯內加附子　主之。</p>
<p>附子（一枚，炮去皮尖，四破，以水三合，煎一合。去附子，以附子汁內湯中，和勻服之。）</p>
<p>與瀉心湯而痞不解，其人渴而口乾燥，小便不利者，五苓散主之。（方在可水證中。）</p>
<p>傷寒汗出，解之後，胃中不和，心下痞硬，乾噫食臭，脅下有水氣，腹中雷鳴，下利，宜　生薑瀉心湯　。</p>
<p>生薑（二兩）　人參　甘草　黃芩（各一兩半）　半夏（一兩一分）　大棗（六枚）　黃連　乾薑（各半兩）　</p>
<p>㕮咀，水五升，煮取三升，去滓，再煎取一升半，溫作四服。（胃中不和，為少陽木氣所制，故用二姜之辛味。）</p>
<p>傷寒中風，醫反下之，其人下利日數十行，穀不化，腹中雷鳴，心下痞硬而滿，乾嘔心煩不得安。醫見心下痞，謂病不盡，復下之，其痞益甚，此非結熱，但以胃中虛，客氣上逆，故使硬也，　甘草瀉心湯　主之。</p>
<p>甘草（二兩）　黃芩　乾薑　人參（各半兩）　半夏（一兩一分）　大棗（六枚）　黃連（半兩）　</p>
<p>㕮咀，水五升，煎至三升，去滓，再煎取一升半，溫作四服。（胃虛故加甘味。）</p>
<p>大下後，復發汗，心下痞，惡寒者，表未解，不可攻痞，當先解表，表解乃可攻痞。攻痞宜大黃黃連瀉心湯。（前加附子，是汗出多而惡寒，表將解而里結未除故也；此證是發汗後無汗惡寒，故先須解表也。）</p>
<p>傷寒發熱，汗出不解，心下痞硬，嘔吐下利者，大柴胡湯主之。（汗出，嘔吐下利，是胃中津液燥，里有結實，非胃虛也，故以大柴胡湯下之。）</p>
<p>病人脅下素有痞，連臍旁，痛引小腹入陰筋者，此為臟結，死。</p>

<h2>陽毒證</h2>
<p>初得病一二日，便成陽毒；或服藥吐下後，變成陽毒。其病腰背痛，煩悶不安，狂言欲走，或見鬼，或下利，其脈浮大而數，面赤斑斑如錦紋，咽喉痛，吐下膿血。五日可治，七日不可治，　升麻湯　主之。（不可作煮散。）</p>
<p>升麻　當歸　甘草（各二分）　雄黃（研，一分）　桂枝（一分）　鱉甲（半兩）　蜀椒（半分）　</p>
<p>㕮咀，水二升，煎一升，去滓，溫服一盞，食頃再服。溫覆手足出汗，汗出則解，未解重作之，得吐尤佳。</p>
<p>陽毒宜葛根龍膽湯。（方在可發汗證中。）</p>

<h2>陰毒證</h2>
<p>初得病一二日，便成陰毒；或服藥六七日以上至十日，變成陰毒。其病身重背強，腹中絞痛，咽喉不利，毒氣攻心，心堅強，氣不得息，嘔逆，唇青面黑，四肢厥冷，其脈沉細而緊。仲景云：陰毒之候，身痛如被杖，喉咽痛。五六日可治，七日不可治，　甘草湯　主之。（不可作煮散。）</p>
<p>甘草　鱉甲　升麻　當歸　桂枝（各二分）　蜀椒（一分）　雄黃（一分）　</p>
<p>㕮咀，水三升，煎取一升，去滓。溫溫每飲一盞，食頃再服，溫覆。中毒當汗吐之，汗吐則愈，不吐再服之。</p>
<p>治陰毒　反陰丹　。</p>
<p>硫黃（五兩，研末）　太陰玄精石（味鹹者，研末）　硝石（研末，各二兩）　</p>
<p>用鐵銚子先鋪玄精石一半，次鋪硝石一半，中間下硫黃，又以硝石蓋硫黃，都以玄精石蓋之，用盞子合定，令三斤炭火燒令得所，勿以煙出多，急取出，以瓦盆合定地下，四面灰擁，勿令煙出。直候冷，取細研，蒸餅心，丸豌豆大，艾湯下十五丸，病重加至二三十丸，此法甚驗。喘促吐逆者，入口便安；服此藥三五服，覺不退，便於臍下一寸半灸之，須是大炷百壯，未愈可至二百壯；若手足極冷，小便澀，小腹硬，㽲痛囊縮，即須更於臍下四寸，如前灸之，乃與當歸四逆並反陰丹頻頻與服，內外通逐方可解，若稍緩即死矣。當歸四逆乃加吳茱萸生薑者是，慎勿與尋常利小便藥。此是陰毒，氣結在小腹所致也。有見小便不通，便用炒鹽及裹熱藥熨臍下，欲望小便通利，其冷氣在小腹之間，被熱物所熨，無處通出，即奔上衝心，其死速矣。</p>
<p>又治　陰毒硫黃丸　。</p>
<p>硫黃（二兩）　水銀（一兩）　</p>
<p>同研入銚，灑少醋，慢火炒，欲似煙出，再出火，灑醋，如此三四遍，地上放冷研之，蒸餅丸梧桐子大。每服二十、三十丸，艾湯吞下，日三服，食前。</p>
<p>陰毒，脈沉微欲絕，四肢逆冷，大躁而渴不止，　附子飲子　。</p>
<p>附子（一枚，半兩以上者，炮，去皮尖，四破。）</p>
<p>以水九升，煎至三升，去附子，入瓶，油單緊封沉井底，候極冷，取飲之。仍下硫黃丸甚妙。</p>
<p>陰毒之為病，因汗下藥性冷所變，多在四五日也；或素來陽氣虛冷，始得病便成陰毒；或始因傷風傷冷物，便成陰毒。其病六日內可治，過六日不可治。</p>

<h2>狐惑證</h2>
<p>狐惑之為病，狀如傷寒，或因傷寒變成斯疾。其候默默欲眠，目不得閉，臥起不安，蝕於喉為惑，蝕於陰為狐，不欲飲食，惡聞食臭，其面乍赤乍黑乍白。蝕於上部則聲嗄，甘草瀉心湯主之。（方在痞證中。）蝕於下部則咽乾，　苦參湯　洗之。</p>
<p>苦參（半斤）　槐白皮（四兩）　狼牙根（四兩）　</p>
<p>上銼，以水五升，煎三升半，洗之。</p>
<p>蝕於肛門者，燒雄黃薰之。（雄黃一味，燒薰下部。）病者脈數則熱，微煩，默默但欲臥，汗出，初得之三四日，目赤如鳩眼，七八日則兩目四眥周皆黑。若能食者，膿已成也，　赤小豆當歸散主之。</p>
<p>赤小豆（一升，浸生芽曝乾）　當歸（一兩）　</p>
<p>細末，漿水調下二錢，日三服。</p>

<h2>百合證</h2>
<p>龐曰：百合病者，百脈一宗，悉致其病。意欲食復不能食，常默默，欲臥復不能臥，欲出行復不能行，或有美食時，或惡聞食臭時，如寒無寒，如熱無熱，口苦小便赤，諸藥不能治，得藥則增劇吐利者，如有神祟者，身形如和，其脈微數。毒溺時頭痛者，六十日乃愈；若溺頭不痛，淅然者，四十日愈；若溺快然，但頭眩者，二十日愈。其證或未病而預見，或病四五日而出，或二十日或一月後見者，隨證治之。</p>
<p>治汗後百合病，　百合知母湯　。</p>
<p>百合（十枚）　知母（一兩半）　</p>
<p>百合先洗，漬一宿，當白沫出，去其漬水，別以清泉水一升半，煮百合，取一升，去滓；又別以泉水一升煮知母，取半升，去滓；同百合湯煎至一升，溫分三服。</p>
<p>治下後百合病，　滑石代赭湯　。</p>
<p>百合（十枚）　滑石（一兩半）　代赭（半兩）　</p>
<p>先以水漬百合一宿，當白沫出，則去其水，更以泉水一升半，煮取一升，去滓；別以泉水一升煮滑石、代赭，取半升，去滓，合和重煎至一升，分溫三四服。</p>
<p>治吐後百合病，　百合雞子湯　。</p>
<p>百合（十枚）　雞子黃（二枚）　</p>
<p>先以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煮取一升，去滓，下雞子黃，攪勻，分溫三服。</p>
<p>治不經吐、下、發汗，百合病形如初者，　百合地黃湯　。</p>
<p>百合（十枚）　地黃汁（半升）　</p>
<p>先以百合水漬一宿，有白沫出，去其水，更以泉水一升半，煮取一升，去滓，內地黃汁，再煮取一升二合，溫溫分三服，中病勿更服。</p>
<p>治百合病一月不解，變成渴者，　百合湯　洗之。</p>
<p>百合（一升，如前洗。先漬一宿，當白沫出，去其水。）</p>
<p>更以水一斗，煎數沸，洗周身，慎風，仍食白湯餅，但勿與鹽豉也。煮餅是切面條湯煮水淘過，熱湯漬食之。</p>
<p>渴不瘥，　栝蔞牡蠣散　主之。</p>
<p>栝蔞（無黃脈者）　牡蠣粉（等分）　</p>
<p>細末，水調方寸匕，日三服。</p>
<p>治百合病變發熱，　百合滑石散　。</p>
<p>百合（一兩）　滑石（三兩）　</p>
<p>細末，清飲調方寸匕，日三服。當微利，熱則除；已利，勿服之。</p>
<p>百合病見於陰者，以陽法救之；見於陽者，以陰法救之。見陽攻陰，復發其汗，此為逆；見陰攻陽，乃復下之，此亦為逆。</p>

<h2>痓濕暍證</h2>
<p>傷寒所至，太陽病痓濕暍，此三種宜應別論，以為傷寒相似，故此見之。</p>

<h3>痓證</h3>
<p>太陽病，發熱無汗，反不惡寒，名曰剛痓。</p>
<p>太陽病，微熱汗出，不惡寒，名曰柔痓。（《病源》云惡寒。）</p>
<p>其證身熱足寒，頭強項急，惡寒時頭熱，面赤目脈赤，獨頭搖，卒口噤，背反張者，痓病。</p>
<p>太陽病，發汗太過，因致痓。（《素問》曰：太陽所至，為寢汗痓。又云：肺熱移於腎，傳為柔痓。始太陽中風，發熱而過迫肺金，金投子而避害，故移熱於腎水，水為火迫則上升，復凌心位，水入火鄉而為汗，若汗太多，因而熟寐，汗反為冷濕之氣復著太陽經，故發痓也。）</p>
<p>痓病臥不著席，小兒腰背去席二指，大人側掌，為難治。痓病脈弦，直上下行。</p>
<p>仲景云：太陽病證，其身體𠘧𠘧然，脈反沉遲者，為欲作痓，宜桂枝加栝蔞湯。（栝蔞不主中風，項強𠘧𠘧，其意治肺熱，令不能移於腎也，桂枝湯內當加栝蔞四兩。）</p>
<p>痓病不宜大發汗及針灸，宜小汗之。</p>
<p>柔痓宜桂枝加葛根湯。（桂枝湯內加葛根四兩。）</p>
<p>剛痓宜　葛根麻黃湯　。（方在解表證中。）</p>
<p>剛柔痓加減葛根麻黃湯。</p>
<p>葛根　麻黃　生薑（各一兩）　防風　芍藥　白朮　人參　芎藭　黃芩　防己　桂枝　甘草（各半兩）　附子（一枚）　</p>
<p>㕮咀，水六升，先煮麻黃、葛根數沸，去上沫，內諸藥，煮取二升，去滓。飲服一盞，食頃再服，日四五，夜二三。柔痓自汗者，去麻黃加葛根成一兩半。</p>
<p>剛痓，胸滿口噤，臥不著席，腳攣急，其人必齘齒，宜大承氣湯下之。（方在可下證中。）</p>

<h3>濕證</h3>
<p>太陽病，關節疼痛而煩，脈沉緩，濕痹之候。其人小便不利，大便反快，只當利其小便，宜五苓散。（方在可水證中。）</p>
<p>濕家之為病，一身疼，發熱，身如熏黃，仍治風濕，脈浮身重，汗出惡風，宜　黃耆湯　。</p>
<p>黃耆（二兩半）　防己（二兩）　甘草（一兩）　白朮　生薑（各一兩半）　棗（十六個）　</p>
<p>㕮咀，水四升，煎至二升，去滓，溫飲一盞，食久再服。喘者，加麻黃一兩；胃中不和者，加芍藥一兩半；氣上衝者，加桂枝一兩半；下有陳寒者，加細辛一兩，服後當如蟲行皮中。從腰下如冰，坐厚被上，又以一被繞腰以下，令微汗出。</p>
<p>濕家，其人但頭汗出，背強，欲得被覆向火。若下之早則噦，胸滿，小便不利，舌上如苔者，此丹田有熱，胸上有寒，渴欲得水而不能飲，口燥故也。</p>
<p>濕家下之，額上汗出，微喘，小便不利者，死；下利不止者，亦死。</p>
<p>問曰：風濕相搏，一身盡疼痛，法當汗出而解，值天陰雨不止，汗出已解，身復痛，何也？答曰：發其汗，汗大出者，但風氣去，濕氣續在，是故不愈也。若治風濕者，發其汗，但微似欲出汗者，風濕俱去也。</p>
<p>濕家病身上疼痛，發熱，面黃而喘，頭痛鼻塞而煩，其脈大，自能飲食，腹中和無病，病在頭中寒濕，故鼻塞，細末瓜蒂，含水搐少許鼻中則愈。</p>
<p>濕家身煩痛，可與麻黃湯內加白朮二兩。（麻黃湯在可汗證中。）</p>
<p>病者一身盡疼，發熱，日晡則劇者，此名風濕。此病因傷於汗出當風，或久傷於冷所致也，可與　杏仁薏苡湯　。</p>
<p>麻黃（一兩半）　杏仁（四拾五枚）　薏苡仁　甘草（半兩）　</p>
<p>㕮咀，以水二升，先煮麻黃一二十沸，去上沫，內諸藥，煮取一升，去滓，溫二三服。</p>
<p>傷寒八九日，風濕相搏，身體煩痛，不能轉側，不嘔不渴，脈浮虛而澀者，宜　桂枝附子湯　。此治大便自利，小便不利者。</p>
<p>桂枝（二兩）　附子（二枚）　生薑（一兩半）　大棗（十二枚）　甘草（一兩）　</p>
<p>㕮咀，以水三升，煮取一升，去滓，分溫四服。若大便堅，小便自利者，去桂枝加白朮二兩，煎如前法。初一二服，身如痹，半日許服之都盡，其人如冒狀，勿怪，此乃朮、附並走皮膚，逐水氣未得除，故使之耳。</p>
<p>風濕相搏，骨節疼煩，掣痛不得屈伸，近之則極，汗出短氣，小便不利，惡風不欲去被，或有微腫者，　甘草附子湯　主之。</p>
<p>附子（二枚）　白朮（二兩）　桂枝（三兩）　甘草（二兩）　</p>
<p>㕮咀，水三升，煮取一升，去滓，分溫三服。身腫者加防己二兩；悸氣、小便不利加茯苓一兩半，溢水成四升，煎一升三合。</p>

<h3>暍證</h3>
<p>太陽中熱者，暍是也。其人汗出惡寒，身熱而渴，白虎湯加人參主之。（方在厥陰證中。）</p>
<p>太陽中暍者，身熱疼重而脈微，此夏月傷冷水，水行皮中所致也，　瓜蒂湯　主之。</p>
<p>瓜蒂（二十七枚）　</p>
<p>水半升，煮取二合半，去滓，溫服。</p>
<p>太陽中暍，發熱惡寒，身重而疼痛，其脈弦而細，芤而遲，小便已，灑然毛聳，手足逆冷，小有勞，身即熱，口前開，板齒燥，若發其汗，則惡寒甚；加溫針，則反熱甚；下之，則淋甚，宜大小橘皮湯。（大橘皮湯在不可汗證中。）</p>
<p><u>小橘皮湯</u>（主手足冷嘔噦。）</p>
<p>橘皮（二兩）　生薑（四兩）　</p>
<p>㕮咀，水三升，煮取一升半，去滓，作四服，稍熱呷之。</p>

<h2>發汗吐下後雜病證</h2>
<p>病人脈微而澀，此乃醫所病，大發其汗，又數大下之，其人亡血。病當惡寒，後乃發熱，無休止時。夏月盛熱，欲著覆衣；冬月盛寒，欲裸其體，所以然者，陽微則惡寒，陰弱則發熱，此醫發其汗，使陽氣微，又大下之，令陰氣弱。五月之時，陽氣在表，胃氣虛冷，以陽氣內微，不能勝冷，故欲著覆衣。十一月之時，陽氣在裡，胃中燥熱，以陰氣內弱，不能勝熱，故欲裸其身。又陰脈遲澀，故知亡血也。（此皆可治。陽微惡寒四逆，陰弱發熱為內熱病，宜苦酒、艾之類。）</p>
<p>大下後，復發汗，小便不利者，亡津液故也，勿治之，得小便利，必自愈。</p>
<p>發汗後，其人臍下悸者，欲作奔豚，　茯苓桂枝湯　主之。</p>
<p>茯苓（四兩）　桂枝（二兩）　甘草（一兩）　大棗（八個）　</p>
<p>㕮咀，以甘爛水五升，先煮茯苓減一升，內下諸藥，煮取一升半，溫溫作三服。作甘瀾水法</p>
<p>取水二斗，置大盆中，以楊柏枝擊水，上有珠子五六千個相逐，取用之。</p>
<p>發汗或下後，痞滿，或成寒實結胸，氣塞不通，宜　檳榔散　。</p>
<p>檳榔（二個，一生一煨。）</p>
<p>細末，酒二盞，煎一盞四分，作兩服，溫飲之。兼治蛔厥，心腹刺痛。《南海本草》治膀胱氣佳。</p>
<p>龐曰：因發汗時，汗出如水漏下，還復汗少，喘促不止。脈促而按之濡者，合當汗而解；脈促而按之實者，死。若脈浮，手足微厥，面垢唇青，昏憒而喘者，陰陽未和，尚阻升降，宜服順陰陽</p>
<p><u>五味子湯</u>　。</p>
<p>麻黃（半兩）　人參　五味子　麥門冬　杏仁　橘皮　生薑（各一分）　棗（七枚）　</p>
<p>㕮咀，水二升，煮七合，去滓，通口服一盞，未瘥，再作二三服。手足厥甚者，厚衣護其厥。</p>
<p>下後，復發汗，晝日煩躁不得眠，夜而安靜，不嘔，不渴，無表證，脈沉微，身無大熱者，宜　乾薑附子湯　。（不可作煮散。）</p>
<p>乾薑（一兩）　附子（一枚，生）　</p>
<p>㕮咀，水一升半，煎至半升時，飲一小盞，食久再服。</p>
<p>傷寒，若吐下後，心下逆滿，氣上衝胸，起則頭眩，脈沉緊，發汗則動經，身為振振搖者，宜　茯苓白朮湯　。</p>
<p>茯苓（二兩）　桂枝（一兩半）　白朮　甘草（各一兩）　</p>
<p>㕮咀，水三升，煮至一升半，去滓，分溫四服。</p>
<p>發汗吐下後，虛煩不得眠，若劇者，必反復顛倒，心中懊憹，香豉梔子湯主之；少氣者，加甘草；嘔者，加生薑。</p>
<p><u>梔子香豉湯</u></p>
<p>肥梔子（二十枚）　香豉（兩合，綿裹）　</p>
<p>水二升，煎梔子至一升三合，下豉，取七合半，去滓，每進一盞。得吐，止後服。</p>
<p><u>梔子甘草湯</u>　，前湯內加甘草一兩，同梔子煮，後下豉，如前法，加水半升。</p>
<p><u>梔子生薑湯</u>　，前方內加生薑二兩半，同梔子煮，後下豉，同前法，加水一升。</p>
<p>傷寒五六日，大下之後，身熱不去，心中結痛者，未欲解也，屬梔子香豉湯主之。（用前方。）</p>
<p>下後，腹煩滿，起臥不安者，　梔子厚朴湯　主之。</p>
<p>梔子（八個，大者）　厚朴（二兩）　枳實（二枚）　</p>
<p>㕮咀，水二升，煮一升，去滓，溫飲一盞。</p>
<p>傷寒，醫以丸藥下之，身熱不去，微煩，　梔子乾薑湯　主之。</p>
<p>肥梔子（八個）　乾薑（一兩）　</p>
<p>以水一升七合，煮取八合，去滓，分溫三服。</p>
<p>凡用梔子湯得效，即止後服，病人舊有微溏，不可與之。</p>
<p>發汗，若下之，而煩熱，胸中窒塞者，梔子湯主之。</p>
<p>傷寒五六日，已發汗而復下之，胸脅滿微結，小便不利，渴而不嘔，但頭汗出，往來寒熱，心煩者，此表未解，　柴胡桂枝幹薑湯　主之。</p>
<p>桂枝　黃芩（各一兩半）　柴胡（四兩）　栝蔞根（二兩）　乾薑　甘草　牡蠣（各一兩）　</p>
<p>㕮咀，水六升，煎至三升，去滓，再煎一升半，溫溫時飲一盞，食頃再服。</p>
<p>傷寒發汗，若吐下，解後，心下痞硬，噫氣不除者，　旋覆花代赭湯　主之。</p>
<p>旋覆花　甘草（各一兩半）　人參（一兩）　生薑（二兩半）　代赭（末，半兩）　棗（三枚）　半夏（一兩半）　</p>
<p>㕮咀，水五升，煎三升，去滓，再煎取一升半，溫分四服。</p>
<p>傷寒，若吐下後，七八日不解，熱結在裡，表裡俱熱，時時惡風，大渴，舌上乾燥而煩，飲水至數升者，白虎加人參主之。（方在厥陰證中。）</p>
<p>傷寒八九日，下之，胸滿煩驚，小便不利，譫語身重，不可轉側者，　柴胡龍骨牡蠣湯　主之。</p>
<p>柴胡（二兩）　龍骨　黃芩　生薑　鉛丹　人參　桂枝　茯苓　牡蠣（各三分）　半夏（一合）　大黃（一兩）　棗（六個）</p>
<p>㕮咀，水六升，煎取三升，下大黃，切如棋子塊，更煎取二升，去滓，溫飲一盞。</p>
<p>傷寒，服湯藥，下利不止，心下痞硬。服瀉心已，復以他藥下之，利不止。醫以理中與之，利益甚。理中治中焦，此利在下焦，以赤石脂禹餘糧湯主之。復不止，當以五苓散利小便。（五苓散方在可水證中。）</p>
<p><u>赤石脂禹餘糧湯</u></p>
<p>赤石脂　禹餘糧（各八兩）　</p>
<p>水四升，煮取二升，去滓，溫飲一盞。</p>
<p>太陽病，外證未除，而數下之，遂協熱而利，利不止，心下痞硬，表裡不解者，　桂枝人參湯主之。</p>
<p>桂枝　甘草（各二兩）　白朮　人參　乾薑（各一兩半）　</p>
<p>㕮咀，水五升，先煮四味，取三升，內桂，更煮取一升，去滓，溫分三服。</p>
<p>發汗後，腹脹滿者，　厚朴人參湯　主之。</p>
<p>厚朴（四兩）　甘草（一兩）　生薑（四兩）　半夏（一兩一分）　人參（半兩）　</p>
<p>以水五升，煮取一升半，去滓，溫分三服。</p>
<p>治頭痛壯熱，心中煩，　黃芩梔子湯　。</p>
<p>黃芩　梔子（各一兩半）　石膏　乾葛（各二兩）　豉（半兩）　蔥白（寸切，半斤）　</p>
<p>㕮咀，水四升，煮取一升半，溫溫作三四服。始得病便如前證，亦可服。治夏月傷暑毒，殊驗。</p>
<p>傷寒發汗後，或未發汗，頭痛如破，宜　蔥白湯　。</p>
<p>連須蔥白（寸切，半斤）　生薑（二兩）　</p>
<p>水二升，煮一升，去滓，溫溫作二三服。</p>
<p>服前湯，頭痛未解，宜　葛根蔥白湯　。</p>
<p>葛根（一兩）　芍藥　芎藭　知母（各半兩）　蔥白（一握，寸切）　生薑（一兩）　</p>
<p>㕮咀，水二升半，煮取一升，去滓，溫溫分減服。</p>
<p>傷寒頭痛立效，　荊芥散　。</p>
<p>天南星　草烏頭（肉白者，生用）　荊芥穗（各半兩）　石膏（一兩）　</p>
<p>細末，每服二錢半，陳茶一錢，薑汁半呷，薄荷三葉，水兩盞，煎至八分，溫溫相次三服。</p>
<p>傷寒嘔吐不止，惡寒，脈細或浮遲，宜　理中丸　，兼治霍亂吐利，及傷寒後發熱，水停喜唾者。</p>
<p>人參　乾薑　甘草　白朮（各一兩）　</p>
<p>細末，蜜丸雞子黃大，每服一丸，百沸湯一盞，化令細，煎三五沸，溫服之。</p>
<p>霍亂臍上築者，不宜術，可作湯去朮，加桂一兩半，水三升，煎取八合，稍熱服之。吐甚，去朮加生薑一兩半，作湯煎，如前法，飲熱粥一碗，微溫覆之，勿發揭衣被。有寒腹滿痛，或四肢拘急，或下利轉筋，加生附子二枚，作湯服之。</p>
<p>治傷寒嘔吐欲死，　生薑半夏湯　。</p>
<p>半夏（一兩半）　生薑（三兩）　</p>
<p>水三升半，煮一升，去滓，溫溫分四服。</p>
<p>治嘔吐發熱，脈滑數或洪者，　茅根湯　。</p>
<p>茅根（半升）　麥門冬（二合半）　半夏（一兩）　人參（半兩）　茯苓（半兩）　生薑（二兩）　</p>
<p>㕮咀，水五升，煎一升半，去滓，溫溫分減服。</p>
<p>霍亂，頭痛發熱，身疼，多飲水者，宜五苓散。（方在水證中。）</p>
<p>傷寒發熱自利，脈浮大數，及鼻衄或嘔者，宜　黃芩芍藥湯　。</p>
<p>黃芩（一兩半）　芍藥　甘草（各一兩）　</p>
<p>㕮咀，水五升，煮取一升半，去滓，分四服。嘔者，加半夏一兩一分，生薑一兩半，煎服。</p>
<p>治傷寒熱痢，或兼腹痛，　黃連當歸丸　。</p>
<p>黃連　當歸（各三兩）　乾薑　赤石脂（各一兩）　</p>
<p>細末，蜜丸梧桐子大，米飲吞下二三十丸，日三夜二服。</p>
<p>傷寒，下利如爛肉汁，赤帶下，伏氣腹痛，諸熱毒悉主之，　薤白梔子湯　。</p>
<p>豉（半升，綿裹）　薤白（一握）　肥梔子（大者七個）　</p>
<p>水三升半，先煮梔子十沸，下薤白，煎至二升，去滓，下豉煮一升半，溫溫分減服，必解下惡積。</p>
<p>傷寒汗解，因飲酒復劇，苦煩悶，乾嘔口燥，呻吟錯語，不得臥。此藥解熱毒，除酷熱。不必飲酒劇者，療五日中神效，　黃連黃柏湯　。</p>
<p>黃連（一兩半）　黃芩　黃柏（各一兩）　肥梔子（十二個）　</p>
<p>㕮咀，水三升，煎一升二合，去滓，溫溫分減服，未瘥更作。</p>
<p>傷寒四日而大下，熱利時作，白通諸藥多不得止，四順湯熱，白通湯苦溫，除熱止利，莫若　黃連熟艾湯　。</p>
<p>黃連　黃柏（各一兩半）　龍骨（一兩）　熟艾（兩雞子大）　</p>
<p>㕮咀，水四升，煮一升二合，去滓，分減溫服。</p>
<p>龐曰：凡冷利皆宜四逆。冷利臍下必寒，水穀黃白色或青黑也；熱利臍下必熱，利黃赤色也；天行熱毒，下利赤白，久下膿血；及下部毒氣，當下細蟲如布絲縷大，或長四五寸，黑頭銳尾，宜　麝香丸　。</p>
<p>麝香（一錢）　附子　雄黃　丹砂　乾薑　巴豆（各二錢）　</p>
<p>搗下篩訖，煉蜜和丸小豆大，米飲下二丸。未知增之。（此方本無巴豆，是古方脫去，服之不效。今增巴豆，試之甚驗。）</p>
<p>傷寒後咳噫，　肉豆蔻湯　。</p>
<p>肉豆蔻（一個）　石蓮肉（炒）　茴香（各一分）　丁香（半分）　生薑　人參（各二分）　枇杷葉（五片，拭去毛，炙。）　</p>
<p>㕮咀，水三升，煎至一升半，分四服，空心暖飲之。</p>
<p>龐曰：傷寒汗後，咳噫不止，是陰陽氣升降欲作汗，升之不上，降之不下，故胃氣上逆而咳噫無休止者，宜　良薑湯　。</p>
<p>橘皮　良薑　桂枝　當歸（各一分）　麻黃（半兩）　檳榔（三個）　杏仁（二十個）　甘草（一分）　生薑（一分）　大棗（十枚）　</p>
<p>㕮咀，水二升半，煎至一升，去滓，下檳榔末，又煎三沸，去滓，通口服一盞，未已再一劑。</p>
<p>時行頭痛，心如醉狀，面愛向黑處，不欲見人，此為壞熱不散，速行大青湯與服；不爾，狂走趕人。　大青湯</p>
<p>大青葉　秦艽　吳藍　升麻　薺苨　栝蔞根（各二分）　甘菊（一分）　石膏（三分）　竹瀝（二合）　朴硝（三分）　</p>
<p>㕮咀，分二帖，每服一帖。水二升半，煎至一升二合，去滓，下竹瀝、朴硝，分溫四服。肉色黃加茵陳六分；面似火加梔子十四枚，加水成三升，煮取一升半，溫飲一盞。</p>
<p>七八日熱盛不解，　苦葶藶湯　。</p>
<p>苦酒（一升半）　苦葶藶（一合）　生艾汁（半升）　</p>
<p>同煎至七合，作二服，此療內熱病，有牛黃一刀圭尤良。阮河南曰：今諸療疾，多用辛甜薑桂人參之屬，此皆貴价難得，常有必欲求之，轉以失時。而苦參、青葙、葶藶子、艾之屬，所在盡有之，除熱解毒，最勝向貴价藥也，前後數參並用之。得病內熱者，不必按常藥次也，便以青葙、苦參、艾、苦酒療之，但少促其間耳，無不解者。（苦酒即米醋也。）</p>
<p>龐曰：辛甜薑桂人參之屬，是發散寒氣之藥，其病未傳成內熱者，為調治之大要藥也。決不可慮其酸苦之藥，正治內熱病急要之藥也。設當行辛甘而用酸苦，設當行酸苦而用辛甘，是昧於陰陽之用，如此醫殺之耳。其辛甘酸苦，自是調治通行之要藥，若論苦則忌甘，論甘則忌苦，雖有屢中，誠為粗工矣。</p>
<p>傷寒發黃者，先用瓜蒂末內鼻中，口含水搐鼻中，去黃水，用五苓茵陳散最良。</p>
<p>時行一切，不知身上疼痛，不寒亦不熱，沉沉似有所思，順事多語，此臟正傳熱，　麻仁龍膽丸　，服此藥不死。</p>
<p>大麻仁　大黃（各一兩）　柴胡　黃芩　白鮮皮　秦艽　赤芍藥　龍膽草（各二分）　黃連（一分）　梔子（二十四個）　</p>
<p>細末，蜜丸如梧桐子大。食後煎淡竹葉湯，下三十丸，日與三服，以大利為度。</p>
<p>十日小瘥，一月平復。</p>
<p><u>地黃湯</u>　療傷寒及溫病，應發汗而不與發汗之，內有瘀血者；及鼻衄吐血不盡，內熱瘀血，面黃大便黑者，此方主之，消化瘀血甚良。</p>
<p>生濕地黃（四兩）　牡丹皮　芍藥　犀角屑（無以升麻代，各半兩）　</p>
<p>㕮咀，水二升，煮取一升，去滓，溫溫飲一盞。喜忘如狂者，加地黃、黃芩各三分，加水一升；脈大來遲，腹不滿自言滿者，為無熱，不用黃芩也。</p>
<p>鼻衄或吐血下血，　黃芩湯　。</p>
<p>黃芩（四兩）　</p>
<p>㕮咀，水三升，煮一升半，溫飲一盞，兼治婦人漏下血不止。（黃柏更佳。）</p>
<p>吐血百治不瘥，此方療十瘥十，　大黃散　。</p>
<p>地黃汁（半升）　生大黃末（一方寸匕）　</p>
<p>煎地黃汁三沸，下大黃末，調勻，空腹服之，每溫飲一小盞，日三服，血即止。</p>
<p>熱病毒氣入眼，赤痛生翳，不見光明者，　大黃梔子湯　。</p>
<p>生大黃（一兩）　升麻（半兩）　瞿麥　甘草（各一分）　梔子（七個）　</p>
<p>㕮咀，水二升，煎至一升，去滓，溫作四服，以利為度。難利者，煎藥畢，下朴硝二分和服。先煮諸藥至一升半，乃下大黃，大黃先以水漬，和水下之，則折熱易利。</p>
<p>治毒病入眼，忽生赤翳，或白，或腫膚起，或赤痛，不得視光明，入心肝。或眼浮腫，如吹汁出，生膜覆珠子，或內障不見物。良由病後不慎，酒面炙煿五辛所致，宜服此頻利之，　秦皮大黃湯　。</p>
<p>秦皮　柴胡　常山　黃芩　升麻　芍藥　白蘞　枳實　甘草（各半兩）　大黃（三分）　</p>
<p>㕮咀，水三升，煮二升，下大黃，再煎一升半，去滓，食後溫飲一盞。熱盛者加焰硝半兩，湯成後下，化勻服。未瘥更作，可至五七劑。</p>
<p>又方　滴眼湯（斑豆瘡不宜用。）</p>
<p>秦皮　升麻　黃連（各半兩）　</p>
<p>細銼，水二升，煎至一升，綿包箸頭搵湯，滴入眼中，頻頻用之。</p>
<p>下部䘌瘡，　雄黃散　。</p>
<p>雄黃　青葙子　苦參　黃連（各三分）　桃仁（一分）　</p>
<p>為散，以艾汁和丸，棗核大，綿包內下部，萹蓄汁更佳。冬月無艾，濃煎艾汁，和為丸，更以米飲調下二錢，溫飲之，日二服。</p>
<p>治䘌瘡，　青黛丸　。</p>
<p>青黛　丁香　黃連（等分）　</p>
<p>細末，甘澱和丸，棗核大，口中有瘡，含之咽汁；若下部有瘡，綿裹內下部，日含化五六十丸瘥。</p>
<p><u>牽馬丸</u>　治天行四五日，下部生瘡，醫所不能治，此方主之。</p>
<p>附子（一分）　藜蘆　桂枝　巴豆（各半兩，去皮心，炒黑）　</p>
<p>細末，別研巴豆，加蜜杵丸，梧桐子大。空心熱水下二丸，未知加三丸。熱在膈上不下，飲熱湯半升，投吐之，下部䘌自瘥，神良。</p>
<p>天行口瘡，　黃柏升麻湯　。</p>
<p>黃柏　升麻　甘草（生，各半兩）　</p>
<p>㕮咀，水一升半，煮半升，入地黃汁一合，煎半升，分二服，細呷之。</p>
<p>又方　薔薇飲子　。</p>
<p>薔薇莖葉切一升（冬用根皮）　</p>
<p>水三升，煮半升，溫溫漬之，去涎。喉咽有瘡者，咽汁少許為佳。</p>
<p>又方，　黃柏飲子　。</p>
<p>黃柏，薄切小片，蜜漬一宿，嚼柏汁漬瘡。</p>
<p>又方，　五倍子散　。</p>
<p>五倍子炒為末敷之，涎出吐去，以瘥為度。</p>
<p>傷寒喉中痛，閉塞不通，　射干煎　。</p>
<p>生射干　豬脂（各半斤）　</p>
<p>合煎，令射干色微焦，去滓，取一棗大，綿裹，含稍稍咽之。</p>
<p>治喉咽痛塞，　硼砂散　。</p>
<p>硼砂　殭蠶　牙硝　白礬　甘草　雄黃（各一分）　硇砂（半分）　草烏頭尖（四個）　</p>
<p>細末，米飲調一錢，細細呷之。</p>
<p>古方　黑龍煎　，治咽喉腫痛九種疾。</p>
<p>人參（半兩）　甘草（一兩）　無灰酒（一升）　不蚛皂角（四十條）　</p>
<p>水三斗，浸皂角一宿，淨鐺內煎，令水減半，次下人參、甘草，細切，又同煎三分耗二，布絞去滓，下酒更入釜煤一匕半，攪煎如餳稀，入瓷合內，埋地中一宿。若用時，取一丸如雞頭大，盞中以溫酒一呷化之，先以水漱口，以鵝毛點藥入喉中掃之，有惡涎或自出，或下腹，可兩三度。引藥方歇，良久令吐。候惡物出盡了，令吃少許水浸蒸餅，及軟飯粥壓之，次含甘草一寸咽汁，忌炙煿胡餅、</p>
<p>豬肉淹藏等物。如木舌難下藥，以匙按舌，用藥掃喉中。</p>
<p>九般名：急喉閉、纏喉風、結喉、爛喉、重舌、木舌、遁蟲、蚛喋、飛糸入喉。</p>
<p>元祐五年，自春至夏秋，蘄黃二郡人患急喉閉，十死八九，速者半日、一日而死。黃州潘推官昌言親族中亦死數口，後得黑龍膏，救活者數十人。</p>
<p>龐曰：急切亦不候合此膏，用古方以意處之。但得不蚛皂角一兩條，槌碎，水三升半，浸少時，揉汁去滓，甘草一分，人參一分，同煎作稀膏，勿令太稠，乃下後藥。</p>
<p>霜梅上白鹽　硇砂　焰硝（各等分）　</p>
<p>三味生研，用前膏斟酌和勻，可以掃得為度。每以鵝毛搵少許，如前法掃喉中甚效，其將息次第，亦如前法，此膏得力尤速。若日久膏干，以甘草水化之。病瘥後，胸喉外生瘡勿疑，無鹽梅以白鹽代。</p>
<p>天行手足腫，疼痛欲脫者，濃煎虎杖汁漬之。</p>
<p>天行後毒氣，手足腫痛欲脫，必作癰膿，　升麻大黃湯　。</p>
<p>升麻　木通　白蘞（各三分）　黃芩　芍藥（各一兩）　甘草（半兩）　大黃（一兩半）　</p>
<p>㕮咀，水三升，煮二升半，下大黃煮一升半，溫溫飲一盞，利下為度。</p>

<h2>傷寒勞復證</h2>
<p>病新瘥後，氣血津液衰耗，慎勿為諸勞動事。凡言語思慮，勞神梳沐，澡頮勞力，則生熱而復病如初也。又新瘥後，精髓枯燥，切不可為房事，犯房事勞復必死。魏督郵顧子獻病瘥後，華旉囑之，慎勿為勞事，余勞尚可，女勞即死。此是女勞復，非陰陽易也。《素問》云：病熱而有所遺者，是新瘥後腸胃尚弱，若多食則難消化，而復病如初也，此是食復新瘥，強人足兩月，虛弱人足百日，則無復病矣。</p>
<p>天行勞復，頭痛，四肢疼，　蔥豉湯　。</p>
<p>蔥白豉（半升）　</p>
<p>水二升半，煎蔥爛，去滓，入雄鼠屎三七枚，末之和勻，分再服，未瘥更作。</p>
<p>天行勞復作熱，且至晚則腰背痛，頭項強重，　葛根姜豉湯　。</p>
<p>芍藥　生薑（各一兩半）　豉　蔥白（各二合半）　葛根（二兩）　</p>
<p>㕮咀，水三升，煎二升，下豉煎一升半，去滓，溫飲一盞。</p>
<p>大病瘥後勞復，　枳實梔子湯　。</p>
<p>枳實（一分）　肥梔子（十二個）　香豉（半升）　</p>
<p>漿水三升，煮枳實、梔子至二升，下豉煮一升半，去滓，溫飲一盞，溫覆微汗。食復者加大黃棋子大七枚，同煎服之愈。</p>
<p>療傷寒已瘥，勞復如初，脈浮無汗者，　桂枝梔子湯　。（自汗者去麻黃。）</p>
<p>梔子（十二個）　豉（半升）　桂枝　麻黃（各一兩）　</p>
<p>㕮咀，水三升，煎至二升，下豉取一升半，去滓，溫飲一盞，溫覆取小汗瘥。</p>
<p>療傷寒勞復如初，自汗出者，脈浮滑，煩躁甚，宜此方。</p>
<p><u>梔子石膏香豉湯</u></p>
<p>梔子（十六個）　石膏（四兩）　香豉（一兩，綿裹）　</p>
<p>水三升，先煮二味至二升半，下豉，煮取一升半，去滓，溫飲一盞。（一法湯成入雄鼠矢二七枚，末良。）</p>
<p>病未平復，後勞動致熱氣攻胸，手足拘急，搐搦如中風狀，　栝蔞湯　。</p>
<p>栝蔞根（四兩，無黃脈者）　淡竹茹（半斤）　</p>
<p>水三升，煮一升二合，去滓，日二三服，溫與之。</p>
<p>婦人病未平復，因夫所動，小腹篡中急痛，腰胯疼，四肢不任舉動，無熱證者，　附子黃耆湯　。</p>
<p>白朮　當歸　桂枝　附子　甘草　芍藥　人參（各半兩）　黃耆（三分）　生薑（一兩半）　</p>
<p>㕮咀，水四升，煮至一升半，去滓，通口服一盞，食久再服，溫覆取小汗。</p>
<p>男子勞房成復病，　鼠屎湯　。</p>
<p>薤根（一升）　豭鼠屎（二十一個，為末。矢頭尖硬者，即是牡鼠也。）</p>
<p>水三升半，煮薤根至一升半，去滓，下鼠矢末，再煎三沸，溫飲一盞，相次三服。衣覆必有黏汗為效，未汗再作一劑，兼治陰陽易神驗。</p>
<p>男子房勞復發熱，口噤，臨死舌出數寸。又始得病，百節痛如被打，渾身沉重，恍惚失措，脈促而絕不可治；或有吐涎不止，或有譫妄煩亂者，皆不可治。</p>
<p>天行瘥後，勞復發熱，嘔吐食不下，　蘆根湯　。</p>
<p>蘆根（半升）　生薑（二兩）　橘皮　枇杷葉（各一兩）　</p>
<p>㕮咀，水三升，煮一升半，去滓，溫飲一盞，大效。心煩躁加石膏二兩，加水一升，煮二升。</p>

<h2>陰陽易證</h2>
<p>陰陽易病者，陰陽相感動，其毒氣著人，如換易也。男子病新瘥，女子與之交，女子得病，名曰陽易；女子病新瘥，男子與之交，男子得病，名曰陰易。若二男二女則不相易。然女犯男得病，鮮有死者；男犯女得病，救稍緩則十無一人得生者。若女犯男，男自發勞復，則女不病；男犯女，女自發勞復，則男得病亦輕。富貴之家，雖知其事，後生輕於自恣，犯之多致不救；田野之人，濛濛昧昧，只知傷寒能死人，因此病死者十有三四矣，皆不知其所犯之由，深可傷也。男子女人陰陽易病，其狀身體疼痛，熱上衝胸，頭重不能舉，眼內生眵，四肢拘急，小腹絞痛，手足拳則暴死，其亦有不即死者。若小腹裡急，熱上衝胸，頭重不欲舉，百節解離，經脈緩弱，血氣虛，骨髓竭，便吸吸氣力轉少，著床不得動，起止仰人引，歲月死，宜此方，　足甲裩灰散　。</p>
<p>取交接婦人手足甲二十枚，裩近隱處一尺，同燒灰，或米飲調下二錢，日三服。陰頭微腫，小便利為愈；若未愈，灸陰頭一百壯便瘥。陰頭在毛際間，提陰向上，當頭是穴。</p>
<p>女子陽易則取男子手足爪甲，裩近隱處，如前燒服之。可灸毛際橫空上，中央曲骨，一穴百壯。</p>
<p>男子陰易如前法灸，若陰卵縮未下，灸足大拇指旋毛上，小炷七壯，是大敦二穴。男女初得陰陽易病，便服薤根鼠矢湯，出汗有驗。</p>
<p>傷寒口乾喜唾方。</p>
<p>大棗（四十枚，煮，去皮核）　烏梅（肥者十個，去核，為末）　</p>
<p>上以棗肉和為丸，含化自然汁。</p>

<h1>卷第四</h1>

<h2>暑病論</h2>
<p>龐曰：冬傷於寒，夏至後至三伏中，變為暑病，其熱重於溫也。有如傷寒而三陰三陽傳者，有不依次第傳，如見五臟熱證者，各隨證治之。</p>

<h3>暑病表證</h3>
<p>暑病　代桂枝並葛根證　。</p>
<p>桂枝　芍藥　知母　生薑（各一兩半）　甘草（一兩）　黃芩（一兩半）　葛根（二兩）　棗（十六枚）　</p>
<p>㕮咀，水六升，煮取三升，通口服一盞，相次取汗。</p>
<p>暑病　代麻黃證</p>
<p>桂枝　杏仁　知母（各一兩）　麻黃（三兩）　甘草　黃芩（各一兩）　</p>
<p>煎如前法。</p>
<p>暑病　代青龍湯證　。</p>
<p>麻黃（二兩）　石膏（三兩）　知母　桂枝　甘草（各一兩）　杏仁（三十枚）　生薑（一兩半）　棗（十六個）　</p>
<p>如前煎服。</p>
<p>暑病　代葛根麻黃證　。</p>
<p>葛根（二兩）　麻黃（一兩半）　桂枝　甘草　知母　黃芩　芍藥（各一兩）　生薑（一兩半）　棗（十六枚）　</p>
<p>如前煎服。</p>
<p>暑病三日外至七日，不歇內熱，令人更相染，　大青消毒湯　。</p>
<p>大青　芒硝（各二兩）　山梔子（一兩）　石膏（四兩）　豉（半升）　濕地黃（半升）　</p>
<p>㕮咀，水七升，煮取三升，去滓，下芒硝化之，溫服一盞，以熱除為度。</p>
<p>暑病通用白虎，一如傷寒與暍證用之。（方在厥陰證中。）</p>
<p>暑病通用麥奴丸。（方在雜汗證中。）</p>
<p>暑病若吐下後，別見形證，一如傷寒門治之。</p>
<p>暑病噦逆、發斑、瘡豆壞候，一如溫病門治之。（以上四條，先生所論。）</p>
<p>預防熱病急黃賊風，　葛粉散　。</p>
<p>葛粉（二升）　生乾地黃（一升）　香豉（半升）　</p>
<p>細末，食後服方寸匕，牛乳蜜湯、竹瀝米飲、烏梅湯任性調下，日三服，有病者日五服。</p>

<h3>《素問》載五種暑病</h3>
<p>肝熱病者先左頰赤，肺熱病者先右頰赤，心熱病者顏先赤，（顏，額也。）腎熱病者頤先赤，（頤，頰也。）脾熱病者鼻先赤。（土主中央。）病雖未發，見赤色刺之，名曰治未病。</p>
<p>肝熱病者，先小便黃，腹痛多臥身熱。熱爭則狂言及驚，脅滿痛，手足躁，不得安臥，庚辛甚，甲乙大汗，氣逆則庚辛死。刺足厥陰、少陽。其逆則頭痛貟貟，脈引沖頭也。</p>
<p>心熱病者，先不樂，數日乃熱。熱爭則卒心痛，煩悶喜嘔，頭痛面赤無汗，壬癸甚，丙丁大汗，氣逆則壬癸死。刺手少陰、太陽。</p>
<p>脾熱病者，先頭重頰痛，心煩顏青，欲嘔身熱。熱爭則腰痛，不可俯仰，腹滿泄，兩頷痛，甲乙甚，戊己大汗，氣逆則甲乙死。刺足太陰、陽明。</p>
<p>肺熱病者，先淅然厥，起毫毛，惡風寒，舌上黃身熱。熱爭則喘咳，痛起走胸膺背，不得太息，頭痛不任，汗出而惡寒，丙丁甚，庚辛大汗，氣逆則丙丁死。刺手太陰、陽明，出血如豆大，立已。</p>
<p>腎熱病者，先腰痛胻酸，苦渴數飲水身熱。熱爭則項痛貟貟澹澹然，戊己甚，壬癸大汗，氣逆則戊己死。刺足少陰、太陽。諸汗者，至其所勝日汗出也。</p>
<p>龐曰：五種熱病，肝腎二臟有逆證，心脾肺三臟亡逆證。凡五種熱病，二三日逢克未為逆，忌在五六日也。</p>

<h2>時行寒疫論</h2>
<p>《病源》載從立春節後，其中無暴大寒，又不冰雪，而人有壯熱病者，此屬春時陽氣，發於冬時，伏寒變為溫病也。從春分以後至秋分節前，天有暴寒，皆為時行寒疫也。三月、四月，或有暴寒，其時陽氣尚弱，為寒所折，病熱猶輕；五月、六月，陽氣已盛，為寒所折，病熱則重；七月、八月，陽氣已衰，為寒所折，病熱亦微，其病與溫病、暑病相似，但治有殊耳。其治法初用摩膏火灸，唯二日法針，用崔文行解散，汗出愈。不解，三日復發汗，若大汗而愈，不解者，勿復發汗也。四日服藜蘆丸，微吐愈；若病固，藜蘆丸不吐者，服赤小豆瓜蒂散吐之，已解，視病尚未了了者，復一法針之當解。不解者，六日熱已入胃，乃與雞子湯下之愈。無不如意，但當諦視節度與病耳。食不消，病亦如時行，俱發熱頭痛，食病，當速下之；時病當待六七日。時病始得，一日在皮，二日在膚，三日在肌，四日在胸，五日入胃，入胃乃可下也。熱在胃外而下之，熱乘虛入胃，然要當復下之。不得下，多致胃爛發斑。微者赤斑出，五死一生；劇者黑斑出，十死一生。人有強弱相倍也。病者過日不以時下之，熱不得泄，亦胃爛斑出矣。若得病無熱，但狂言煩躁不安，精神言語不與人相主當者，治法在可水五苓散證中。（此巢氏載治時行寒疫之法焉。溫病、暑病相似，但治有殊者。據溫病無摩膏火灸，又有冬溫、瘡豆，更有四時臟腑陰陽毒，又夏至後有五種熱病，時令盛暑，用藥稍寒，故治有殊也。）</p>

<h3>時行寒疫治法</h3>
<p>初得時行赤色，頭痛項強，兼治賊風走疰寒痹，　趙泉黃膏　。</p>
<p>大黃　附子　細辛　川椒　乾薑　桂枝（各一兩）　巴豆（五十粒）　</p>
<p>㕮咀，苦酒漬一宿，以臘月豬膋一斤，煎調火三上三下，去滓收之。傷寒赤色，熱酒調服梧桐子大一枚，又以火摩身數百遍，兼治賊風最良。風走肌膚，追風所在摩之，神效，千金不傳。</p>
<p><u>崔文行解散</u>　，時氣不和，傷寒發熱。</p>
<p>桔梗（炒）　細辛（各四兩）　白朮（八兩）　烏頭（炮，一斤）　</p>
<p>細末，傷寒服一錢五銖匕，不覺復小增之，以知為度；若時氣不和，旦服一錢五銖匕，辟惡欲省病，一服了去，此時行寒疫通用之。無病者預服，以闢寒為佳，皆酒調下。</p>
<p><u>藜蘆散</u>　，闢溫疫傷寒。</p>
<p>藜蘆　躑躅　乾薑（各四分）　牡丹皮　皂角（各五分）　細辛　附子（各三分）　桂枝　硃砂（各一分）　</p>
<p>末之，絳囊帶一方寸匕，男左女右，臂上著之。覺有病之時，更以粟米大內鼻中，酒服一錢匕，覆取汗，日再當取一汗耳。</p>
<p>赤小豆瓜蒂散，在厥陰證中。</p>
<p><u>雞子湯</u>　治熱盛，狂語欲走。</p>
<p>生雞子（七枚）　芒硝（一兩）　</p>
<p>井花水一大升，同攪千遍，去沫，頻服之，快利為度。</p>
<p>豬苓散即傷寒門五苓散也，在可水證中。（以上五方，載巢氏治時行寒疫合用之方。）</p>
<p>龐曰：摩膏火灸，可行於西北二方，余處難施，莫若初服解散、赤散之類，如轉發熱而表不解，乃行後四方為佳。天行壯熱，煩悶無汗者，　麻黃葛根湯　。</p>
<p>麻黃（五兩）　葛根（四兩）　</p>
<p>粗末，每服五錢，水二盞，梔子二個，蔥白五寸，豉一撮，煎八分，去滓沫，溫溫相次四五服。取汗，止後服。</p>
<p>天行一二日，　麻黃湯　。（自汗者去麻黃加葛根二兩。）</p>
<p>麻黃（二兩）　石膏（一兩半）　貝齒（五個，無亦得）　升麻　甘草　芍藥（各一兩）　杏仁（四十個）　</p>
<p>粗末，每服五錢，水二盞，煎八分，溫服。取汗，止後服。</p>
<p><u>葛根解肌湯</u>　，汗後表不解，宜服此。（自汗者去麻黃。）</p>
<p>葛根（四兩）　麻黃　芍藥　大青　甘草　黃芩　桂枝（各二兩）　石膏（三兩）　</p>
<p>煎如前法。</p>
<p>詔書發汗　白薇散　，治時氣二三日不解。</p>
<p>白薇（二分）　杏仁（三分）　貝母（三分）　麻黃（七分）　</p>
<p>細末，酒調下方寸匕，相次二三服，溫覆汗出愈。湯調亦得。</p>
<p><u>聖散子方</u>　。（此方蘇子瞻《尚書》所傳，有序文。）</p>
<p>昔嘗覽《千金方》，三建散於病無所不治，而孫思邈特為著論，以謂此方用藥節度，不近人情。至於救急，其驗特異，乃知神物效靈，不拘常制，至理開感，智不能知，今予所得聖散子，殆此類也歟。自古論病，唯傷寒至危急，表裡虛實，日數證候，應汗應下之法，差之毫釐，輒至不救。而用聖散子者，一切不問陰陽二感，或男女相易，狀至危篤者，連飲數劑，則汗出氣通，飲食漸進，神宇完復，更不用諸藥連服取瘥，其餘輕者心額微汗，正爾無恙。藥性小熱，而陽毒發狂之類，入口即覺清涼，此殆不可以常理詰也。時疫流行，平旦輒煮一釜，不問老少良賤，各飲一大盞，則時氣不入其門。平居無病，能空腹一服，則飲食快美，百疾不生，真濟世衛家之寶也。其方不知所從來，而故人巢君谷世寶之，以治此疾，百不失一二。余既得之，謫居黃州，連歲大疫，所全活至不可數。巢君初甚惜此方，指江水為盟，約不傳人，余竊隘之，乃以傳蘄水人龐君安常。龐以醫聞於世，又善著書，故以授之，且使巢君之名與此方同不朽也。其用藥如下。</p>
<p>肉豆蔻（十個）　木豬苓　石菖蒲　茯苓　高良薑　獨活　柴胡　吳茱萸　附子（炮）　麻黃　厚朴（姜炙）　藁本　芍藥　枳殼（麩炒）　白朮　澤瀉　藿香　吳術（蜀人謂蒼朮之白者為白朮，蓋茅朮也，而謂今之白朮為吳術）　防風　細辛　半夏（各半兩，薑汁製）　甘草（一兩）　</p>
<p>銼焙作煮散，每服七銖，水一盞半，煎至八分，去滓熱服。余滓兩服合為一服，重煎，皆空心服。</p>
<p>治時氣傷寒，頭痛身熱，腰背強引頸，及中風口噤；治瘧不絕，婦人產中風寒，經氣腹大，　華佗赤散方　。</p>
<p>丹砂（二分）　蜀椒　蜀漆　乾薑　細辛　黃芩　防己　桂枝　茯苓　人參　沙參　桔梗　女萎　烏頭　常山（各三分）　雄黃　吳茱萸（各五分）　麻黃　代赭（各十分）　</p>
<p>除細辛、丹砂、乾薑、雄黃、桂外，皆熬治作散，酒服方寸匕，日二；耐藥者二匕，覆令汗出。治瘧先發一時服藥二匕半，以意消息之。</p>
<p><u>烏頭赤散</u>　，治天行疫氣病。</p>
<p>烏頭（六分）　皂角　雄黃　細辛　桔梗　大黃（各一兩）　</p>
<p>細末，清酒或井花水服一刀圭，日二，不知稍增，以知為度。除時氣不和，一日進一服。牛馬六畜中天行瘴疫，亦以方寸匕。人始得病，一日時服一刀圭，取兩豆許，內鼻孔中。</p>

<h2>斑豆瘡論</h2>
<p>龐曰：天行豌豆瘡，自漢魏以前，經方家不載，或云建武中南陽徵虜所得，仍呼為虜瘡。其後名醫雖載發斑候，是發汗吐下後，熱毒不散，表虛里實，熱氣燥於外，故身體發斑。又說豌豆疱瘡，表虛里實，一如發斑之理。別云熱毒內盛，攻於臟腑，餘氣流於肌肉，遂於皮膚毛孔中，結成此瘡。既是裡實，熱毒內盛，則未發及欲發，瘡斑未見，皆宜下之也；瘡已瘥，則再下之。此病有兩種。一則發斑，俗謂之麻子，其毒稍輕；二則豌豆，其毒最重，多是冬溫所變。凡覺冬間有非節之暖，瘡毒未發，即如法下之，次第服預防之藥，則毒氣內消，不復作矣；有不因冬暖，四時自行者，亦如法下之。古方雖有治法，而不詳備，疑當時毒熱未甚，鮮有死者耶。近世此疾，歲歲未嘗無也，甚者夭枉十有五六，雖則毒氣內壞不治，因醫為咎，又大半矣。若身疼壯熱頭痛，不與小汗，何由衰散？大腑久秘，毒攻腰脅，或心腹脹滿，不與微利，何由釋去？故當消息汗下。然則寒藥固不當行，溫藥反增熱毒，若熱勢大盛，脈候洪數，涼性之藥，不阻表裡氣，亦可通用；若寒氣阻礙，脈候浮遲，則溫性之藥，不阻表裡氣者，可冀冰釋。云不可汗下寒熱之藥，只可紫草一味者，乃滯隅之流，只是遭逢輕疾，以自瘥為功，若值重病，則拱手待斃矣。世有權貴，自信不任人拘忌，冷熱汗下，病或不救，則責醫謬誤，斯又可為傷嘆。夫調瑟者必當移柱，故用古方，附以愚見，為斑豆方，以小兒多染此患，故專用小湯劑，大人可倍用之。</p>

<h3>溫病發斑治法（小兒證附）</h3>
<p>冬月觸冒寒毒者，至春始發病。病初至表，或已發汗吐下，而表證未罷，毒氣不散，故發斑瘡。又冬月天氣溫暖，人感乖候之氣，未即發病，至春又被積寒所折，毒氣不得泄，至夏遇熱，其春寒已解，冬溫毒始發，出於肌膚，斑爛隱𤺋如錦文也。</p>
<p>治溫毒發斑，大疫難救，兼治豌豆瘡不出，　地黃膏　。</p>
<p>濕地黃（四兩）　好豉（半升）　</p>
<p>以豬膏一斤和勻，露一宿，煎五七沸，令三分去一，絞去滓，下雄黃末一錢匕，麝香末半錢匕，攪勻，稍稍盡飲之，毒從皮中出則愈。小兒斟酌服。</p>
<p>冬溫未即發病，至春被積寒所折，不得發，至夏得熱，其春寒解，冬溫毒始發於肌中，斑爛隱𤺋如錦紋，而咳悶嘔吐清水，宜服　黃芩麻黃湯　。</p>
<p>葛根　橘皮　杏仁（生）　麻黃　知母　黃芩　甘草（各半兩）　</p>
<p>㕮咀，水二升，煮八合，去滓，溫溫分減服之。嘔吐先定，便宜消息；不嘔者去橘皮。</p>
<p>肺腑臟熱，暴發氣斑，（不可作煮散。）　香豉石膏湯　。</p>
<p>香豉（二合）　蔥須（一兩）　石膏（二兩）　梔子（三分）　生薑（二兩）　大青　升麻　芒硝（各三分）　</p>
<p>㕮咀，水三升，煮取一升三合，去滓，下芒硝，溫溫分減服。</p>
<p>溫病發斑，赤斑者五死一生，黑斑者十死一生，大疫難救，黑奴丸主之。（方在雜汗證中。）</p>
<p>冬溫至夏發斑，咳而心悶，嘔清汁，眼赤口瘡，下部亦生瘡，或自下利，　黃連湯　。</p>
<p>黃連（一兩）　橘皮　杏仁（麩炒）　枳實　麻黃　葛根　厚朴　甘草（各一分）　</p>
<p>㕮咀，水三升，煮一升二合，去滓，溫溫分減服。下利先止，別當消息。小兒斟酌。</p>
<p>天行發斑瘡，須臾遍身，皆戴白漿，此惡毒之氣。世人云永徽四年，此瘡自西域東流於海內，但煮葵菜蒜齏啖之則止，鮮羊血入口即定。初患急食之，作菜下飯亦得。</p>
<p>小兒時行瘡豆，恐相傳染，先服　漏蘆湯　下之。本治熱毒癰疽，赤白諸丹，熱毒瘡癤。（以下皆是小兒湯劑。）</p>
<p>漏蘆葉（無，以山梔子代之）　連翹　白蘞　甘草　芒硝（各一分）　升麻　枳實　麻黃　黃芩（各一分半）　大黃（四分）　</p>
<p>㕮咀，水二升，煮一升半，下大黃，煮一升，去滓，下芒硝，分減服，以利為度。大人服可倍作。（大黃水浸，少時和水下之。）</p>
<p>龐曰：凡覺冬溫，至春夏必發斑豆，小兒輩須服漏蘆湯下之，得下後，逐日空心飲甘草汁。三歲以上一盞，兒小減之，直候腹疼乃止；未疼可飲至十日，則永不發。或下後飲羊血一盞，則不發。</p>
<p>治時行豌豆瘡，　樺皮飲子　。</p>
<p>樺皮二兩，細切，水一升，煮至半升，去滓飲汁，分減服。</p>
<p>龐曰：初得病，便驚狂不眠，渾身漐然汗出，問之身不憎寒，亦不惡風，其脈如數，以漏蘆湯下之；不甚數者，以大承氣湯下之。非但瘡豆，傷寒亦然。</p>
<p>治豆瘡毒氣不出，煩悶，熱毒氣攻腰，或腹脅痛不可忍，大便不通，　五香湯　主之。</p>
<p>麝香（半分）　木香　丁香　沉香　乳香（各一分）　芍藥　枳實　射干　連翹　黃芩　麻黃　升麻　甘草（各半兩）　大黃（一兩）　</p>
<p>粗末，每服四錢，水一盞，竹瀝半盞，煎八分，去滓，下朴硝一錢匕和服，以利為度。</p>
<p>天行熱氣生瘡疱，身痛壯熱，　水解散　。</p>
<p>麻黃（一兩）　黃芩　桂枝　甘草（各半兩）　</p>
<p>細末，暖水調下二錢匕，小兒一錢，覆令小汗。熱氣在表，已發汗未解，或吐下後，熱毒不散，煩躁謬語，此為表虛里實，熱氣躁於外，故身體發斑如錦紋；或不因汗下，始得病一二日便發，皆由溫疫熱毒氣使然也。甚則發豌豆瘡，其色白或赤，發於皮膚，頭作漿戴白膿者，其毒則輕；有紫黑色作根隱隱在肌肉裡，其毒則重，十死一生，甚者五內七竅皆有瘡形如豌豆，故以名焉。脈洪數者，是其候也。</p>
<p>天行熱毒未解，欲生豌豆，發熱疼痛，宜服解肌出汗　葛根石膏湯　。</p>
<p>葛根　麻黃（各一兩）　石膏（二兩）　黃芩　芍藥　桂枝　甘草（各半兩）　</p>
<p>粗末，每服四錢，水一盞半，煎八分，溫服，取小汗。（自汗者去麻黃。）</p>
<p>斑豆始有白疱，忽搐入腹，漸作紫黑色，無膿，日夜叫煩亂者，　鬱金散　。</p>
<p>鬱金一枚（甘草一分，水半碗，煮乾，去甘草，片切，焙乾為細末）　真腦子（炒，半錢）　</p>
<p>同研，每一錢匕，以生豬血五七滴，新汲水調下，不過二服。甚者毒氣從手足心出，如癰狀乃瘥，此是五死一生候也。</p>
<p>此患小便澀，有血者中壞也。瘡黑黶無膿，十死不治；斑豆煩喘，小便不利，　鱉甲湯　。</p>
<p>燈心（一把）　鱉甲（二兩）　</p>
<p>水一升半，煎六合，去滓，溫分作二服。</p>
<p>斑豆定煩喘，　淡竹瀝飲子　。</p>
<p>淡竹瀝</p>
<p>暖飲之，煩喘自汗，瘡不作黑厭，可治。</p>
<p>定煩喘，　麻黃甘草湯　。</p>
<p>麻黃　杏仁　桑白皮　甘草（各一分）　</p>
<p>㕮咀，水一升，煎四合，放溫分減服。若脈數有熱，以竹瀝代水一半煎之，嗽或喉痛加射干一分。</p>
<p>斑豆瘡出不快，　紅花湯　。</p>
<p>紅花子（一合，槌碎）　</p>
<p>水半升，煎百沸，去滓，分減服之。</p>
<p>斑豆服涼藥太過，咳嗽，手足冷，脈遲，　甘草乾薑湯　。</p>
<p>乾薑（半兩）　甘草（一兩）　</p>
<p>㕮咀，水一升半，煎六合，分作二服。</p>
<p>常行瘡豆，　紫草湯　最良。患其服之太少不能中病，但多槌切好紫草。（以湯沃之，用物合定，候溫去滓，分減服。每紫草半升，用湯一升為准也。）</p>
<p>斑豆已出，不可止爾，發表更增斑爛，以表虛故也。</p>
<p>豌豆瘡欲出，　甘草湯　。</p>
<p>甘草（四兩）　</p>
<p>細銼，水二升，煎一升，去滓，分減溫服。覺腹中微利即止。</p>
<p><u>油飲子</u>　飲清油一升即不生。</p>
<p>豌豆斑瘡不快，表裡不解，煩喘，大便秘氣攻腹滿，　犀角升麻湯　。</p>
<p>麻黃（一分半）　木香　犀角　升麻　芍藥　甘草　杏仁　枳實　雄黃（各一分）　大黃（半兩）　麝香（一錢）　</p>
<p>㕮咀，水二升，煎一升半，下大黃，再煎一升，去滓，下雄麝末沸勻，分作三服，以大便通為度。</p>
<p><u>瘡已出定方</u>　。</p>
<p>芒硝　豬膽　</p>
<p>和研勻塗之，勿動痂落無瘢，仍臥黃土末上良。</p>
<p>天行瘡豆，預服此則不發，　三豆飲子　。</p>
<p>赤小豆　黑豆　綠豆（各一升）　甘草（一兩）　</p>
<p>淨淘水八升，煮熟，逐日空心任性食豆飲汁七日，永不發。</p>
<p>瘡豆發斑，下利赤黃或膿血，遍身發熱，　梔子薤豉湯　。</p>
<p>好豉（半升）　薤白（二兩）　肥梔子（十六枚）　</p>
<p>水二升半，煮梔子、薤白將爛，下豉再煮十數沸，去滓，分減服。解下惡物瘥。</p>

<h1>卷第五</h1>

<h2>天行溫病論</h2>
<p>龐曰：辛苦之人，春夏多溫熱者，皆由冬時觸冒寒毒所致。自春及夏至前為溫病者，《素問》、仲景所謂傷寒也。有冬時傷非節之暖，名曰冬溫之毒，與傷寒大異，即時發病溫者，乃天行之病耳。其冬月溫暖之時，人感乖候之氣，未即發病，至春或被積寒所折，毒氣不得泄，至天氣暄熱，溫毒乃發，則肌肉斑爛也。又四時自受乖氣，而成腑臟陰陽溫毒者，則春有青筋牽，夏有赤脈㩌，秋有白氣貍，冬有黑骨溫，四季有黃肉隨，治亦別有法。《難經》載五種傷寒，言溫病之脈，行在諸經，不知何經之動，隨經所在而取之。中風木，傷寒金，熱病火，濕溫水，溫病土，治之者各取其所屬。據《難經》溫病，本是四種傷寒，感異氣而變成溫病也。土無正形，因火而名，故以溫次熱也。土寄在四維，故附金木水火而變病，所以王叔和云：陽脈浮滑，陰脈濡弱，更遇於風熱，變成風溫；陽脈洪數，陰脈實大，更遇其熱，變成溫毒，溫毒為病最重也；陽脈濡弱，陰脈弦緊，更遇濕氣，變為濕溫；脈陰陽俱盛，重感於寒，變成溫瘧，斯乃同病異名，同脈異經者也。故風溫取足厥陰木、手少陰火，溫毒專取手少陰火，溫瘧取手太陰金，濕溫取足少陰水、手少陰火，故云隨經所在而取之也。天行之病，大則流毒天下，次則一方，次則一鄉，次則偏著一家，悉由氣運郁發，有勝有伏，遷正退位，或有先後。天地九室相形，故令升之不前，降之不下，則天地不交，萬化不安，必偏有宮分，受斯害氣，莊子所謂運動之泄者也。且人命有遭逢，時有否泰，故能偏著一家。天地有斯害氣，還以天地所生之物，以防備之，命曰賢人知方矣。</p>

<h3>闢溫疫論</h3>
<p>療疫氣令人不相染，及闢溫病傷寒　屠蘇酒　。（通俗文曰：屋平曰屠蘇。《廣雅》云：屠蘇，庵也。然屠蘇平而庵圓，所以不相同，今人寒月廳事下作版閣是也。尊貴之家，閣中施羽帳錦幃，聚會以禦寒，故正旦會飲闢溫酒，而以屠蘇為名也。）</p>
<p>大黃　桂枝　桔梗　川椒（各十五銖）　白朮（十銖）　烏頭　菝葜　防風（各六銖）　</p>
<p>㕮咀，縫囊盛，以十二月晦日早，懸沉井中至泥，正旦平曉，出藥置酒中，屠蘇之東，向戶飲之。屠蘇之飲，先從小起，多少自任。一人飲一家無病，一家飲一里無恙。飲藥酒三朝，還置井中。若能歲歲飲，可代代無病，當家內外井皆悉著藥，闢溫氣也。忌豬肉、生蔥、桃李、雀肉等。</p>
<p><u>闢溫粉</u></p>
<p>芎　術　白芷　藁本　苓陵香（等分）　</p>
<p>為末，每一兩半入英粉四兩，和勻，常撲身上，無英粉蚌粉亦可。凡出汗大多，欲止汗，宜此法。</p>
<p>入溫家令不相染，　研雄黃並嚏法　。</p>
<p>水研光明雄黃，以筆濃蘸塗鼻竅中，則疫氣不能入，與病人同床亦不相染。五更初洗面後及臨時點之。凡溫疫之家，自生臭穢之氣，人聞其氣即時以紙筋探鼻中，嚏之為佳。不爾，邪氣入上元宮，遂散百脈而成斯病也。以雄黃點之，則自不聞其氣，並闢諸惡怪夢神良。</p>
<p>常以雞鳴時，存心念　四海神名　三七遍，闢百邪惡鬼，令人不病溫。</p>
<p>東海神阿明　南海神祝融　西海神巨乘　北海神禺強　</p>
<p>每入病人室，存心念三遍，口勿誦。</p>
<p>古今名賢傳，許季山所撰　千敷散　，闢溫疫惡疾，不相染著。</p>
<p>附子（一個，一分者）　細辛　乾薑　麻子　柏實（各一分）　</p>
<p>細末，和入柏實、麻子令勻，酒服方寸匕。服藥一日，十年不病；二日二十年不病；三日三十年不病，受師法保應。三日服之，歲多疫則預服之。不飲酒，井花水服亦得。忌豬肉、生菜。</p>
<p>闢溫　殺鬼丸　，薰百鬼惡氣。</p>
<p>雄黃　雌黃（各二兩）　羖羊角　虎頭骨（各七兩）　龍骨　鱉甲　陵鯉甲　蝟皮（各三兩）　樗雞（十五枚，無，以芫青五枚代）　空青（一兩，無，以石綠代）　川芎　真硃砂（各五兩）　東門上雞頭（一枚）　</p>
<p>細末，以臘二十兩並丸，雞頭大，正旦門前燒一丸，男左女右，臂上帶一丸，闢百惡；獨弔喪問死，吞下一丸，小豆大；天陰大霧，燒一丸於門牖前，極佳。</p>
<p>務成子　螢火丸　，主闢疾病惡氣，百鬼虎狼，蛇虺蜂蠆諸毒，五兵白刃，盜賊凶害。</p>
<p>昔冠軍將軍武威太守劉子南從尹公受得此方，永平十二年於虜界交戰敗績，士卒掠盡，子南被圍，矢如雨，未至子南馬數尺，矢輒墮地，虜以為神人，各解圍而去。子南以方教子及諸兄弟為將者，皆未嘗被傷，累世秘之。漢末青牛道士得之，以傳安定皇甫隆，隆傳魏武帝，乃有人得之，故一名冠軍丸，一名武威丸。（曾試此法，一家五十餘口俱染病，唯四人帶者不染。）</p>
<p>螢火　鬼箭（削取皮羽）　蒺藜（各一兩）　雄黃　雌黃　礬石（各二兩）　羖羊角　鍛灶灰　鐵錘柄（入鐵處燒焦，各一兩半）　</p>
<p>為末，以雞子黃、丹雄雞冠一具和之，如杏子大，作三角絳囊盛五丸，帶左臂，若從軍，繫腰下勿離身，若在家，掛戶之上，闢絕賊盜溫疫，神良。</p>
<p>劉根別傳曰：潁川太守到官，民大疫，掾吏死者過半，夫人、郎君悉病。府君從根求消除疫氣之術，根曰：寅歲泄氣在亥，今年太歲在寅，於聽事之亥地，穿地深三尺，廣與深同，取沙三斛著中，以淳酒三升沃其上。府君從之，病者即愈，疫氣遂絕。（於聽事取太歲六合之地也。）</p>

<h3>青筋牽證</h3>
<p>春三月青筋牽證，其源自少陰、少陽。從少陰而涉足少陽，少陽之氣始發，少陰之氣始衰，陰陽怫鬱於腠理皮毛之間，因生表裡之痾。因從足少陽發動及少陰，則臟腑受癘而生其病。</p>
<p>肝腑臟陰陽毒氣病，頸背雙筋牽急，先寒後熱，其病相反。若腑虛為陰邪所傷者，則腰強急，腳縮不伸，腑中欲折，眼中生花，此法主之。（不可作煮散。）</p>
<p><u>柴胡地黃湯</u></p>
<p>柴胡（二兩半）　生地黃（五合半）　香豉（五合）　生薑　石膏（各四兩）　桂枝（半兩）　大青　白朮　芒硝　梔子仁（各一兩半）　</p>
<p>㕮咀，水七升，煎三升，去滓，下芒硝，溫飲一盞，日三四服，未瘥再作。</p>
<p>肝腑臟陰陽溫毒病，頸背牽急，先寒後熱，其病相反。若臟實則為陽毒所損，眼黃，頸背強直，若欲轉動，即合身回側。（不可作煮散。）</p>
<p><u>石膏竹葉湯</u></p>
<p>淡竹葉（二升）　梔子仁　黃芩　升麻　芒硝（各一兩半）　細辛　玄參（各半兩）　石膏（四兩）　車前草（一升，葉）　</p>
<p>㕮咀，水六升，先下竹葉、車前草，煮四升，去滓，下諸藥，煮二升，去滓，</p>
<p>下芒硝化勻，溫飲一盞。</p>

<h3>赤脈㩌證</h3>
<p>夏三月，行赤脈㩌病，其源自少陰、太陽。</p>
<p>心腑臟陰陽溫毒氣，身熱，皮肉痛起，其病相反。若臟實則為陽毒所侵，口乾舌破而咽塞；若腑虛則為陰邪所傷，戰掉不定而驚動。（不可作煮散。）　石膏地黃湯</p>
<p>石膏　生葛根（各四兩）　麻黃（二兩）　玄參（三兩）　知母（半兩）　梔子仁　大青　黃芩　芒硝（各一兩半）　濕地黃（半升）　</p>
<p>㕮咀，水九升，取四升，去滓，下芒硝烊化勻，溫飲一盞，日三四服。</p>

<h3>黃肉隨證</h3>
<p>四季月終，餘十八日行黃肉隨病。其源從太陰、陽明相格，節氣相移，三焦寒濕不調，四時關格而起，則臟腑之痾隨時而受癘，陽氣外泄，陰氣內伏。</p>
<p>脾腑臟溫毒病，陰陽毒氣，頭重項直，皮肉強，其病相反。臟實則陽疫所傷，蘊而結核，起於頸下，布熱毒於分肉之中，上散入髮際，下貫顳顬，隱隱而熱，不相斷離，（不可作煮散。）</p>
<p><u>玄參寒水石湯</u>　。</p>
<p>羚羊角屑　大青（各一兩）　升麻　射干　芒硝（各一兩半）　玄參（四兩）　寒水石（二兩半）　梔子仁（二兩）　</p>
<p>㕮咀，水七升，煎至三升，去滓，下芒硝烊化勻，溫飲一盞，日三四服。</p>
<p>扁鵲云：灸肝脾二俞，主治四時隨病。</p>

<h3>白氣貍證</h3>
<p>秋三月行白氣貍病，其源從太陽系於太陰。太陰受淫邪之氣，則經絡壅滯，毛皮堅豎，發泄邪氣，則臟腑傷溫，隨狀受癘。</p>
<p>肺腑臟溫病，陰陽毒氣，其病相反。若腑虛則陰邪所傷，乍寒乍熱，損肺傷氣，暴嗽嘔逆，（不可作煮散。）宜　石膏杏仁湯　。</p>
<p>石膏（四兩）　杏仁　前胡（各二兩）　甘草（一兩）　梔子仁　麻黃　紫菀　桂枝　大青　玄參　葛根（各一兩半）</p>
<p>㕮咀，水九升，煎四升，溫飲一盞，日三四服。</p>
<p>肺腑臟溫病，陰陽毒氣，其病相反。若臟實則為陽毒所損，體熱生斑，氣喘引飲，（不可作煮散。）宜　石膏蔥白湯　。</p>
<p>豉（半升）　蔥白連須（二兩）　石膏　生薑（各四兩）　梔子仁　升麻　大青　芒硝（各一兩半）　</p>
<p>㕮咀，水八升，煎三升半，去滓，下芒硝烊化勻，溫飲一盞，日三四服。</p>

<h3>黑骨溫證</h3>
<p>冬三月行黑骨溫病，其源從太陽、少陰，相搏蘊積，三焦上下壅塞，陰毒內行，臟腑受客邪之氣，則病生矣。</p>
<p>腎腑臟溫病，陰陽毒氣，其病相反。若腑虛則為陰毒所傷，裡熱外寒，意欲守火而引飲，或腰痛欲折。腎腑臟溫病，陰陽毒氣，其病相反。若臟實則為陽毒所損，胸脅切痛，類如刀刺，心腹膨脹，服冷藥瘥過而便洞泄，（不可作煮散。）　苦參石膏湯　。</p>
<p>苦參　生葛（各二兩）　石膏　濕地黃（各四兩）　梔子仁　茵陳　芒硝（各一兩半）　香豉　蔥白（各半升）　</p>
<p>㕮咀，水八升，煎三升半，去滓，下芒硝烊化勻，溫飲一盞，日三四服。</p>
<p>扁鵲云：灸脾肝腎三腧，治丹毒、黑骨溫之病。</p>
<p><u>知母解肌湯</u>　療溫熱病，頭痛，骨肉煩疼，口燥心悶；或是夏月天行毒，外寒內熱者；或已下之，餘熱未盡者；或熱病自得利，有虛熱煩渴者。</p>
<p>麻黃　甘草（各一兩）　知母　葛根（各一兩半）　石膏（三兩）　</p>
<p>㕮咀，水三升，煎一升，去滓，溫飲一盞。若已下及自得利下，虛熱未除者，除麻黃加葛根成三兩，病常自汗者，亦如此法加葛根。無汗而難得汗者，加麻黃成一兩半；因變泄者，除麻黃加白薇、人參各一兩，加水四升，煎至一升半。</p>

<h3>溫病噦方論</h3>
<p>伏熱在胃，令人胸滿氣逆，逆則噦；若大下後，胃中虛冷，亦致噦也。</p>
<p>溫病有熱，飲水暴冷啘，　茅根葛根湯　。</p>
<p>茅根　葛根（各半升）　</p>
<p>水四升，煮二升，去滓，溫飲一盞。</p>
<p>溫病熱未除，重被暴寒，寒毒入胃，蘊結不散變啘，　梓皮飲子　。</p>
<p>單煮梓皮汁，稍稍飲之佳。</p>
<p>溫病積飲冷，冷結胃中，熱入腎中，變壯熱大啘者，服梓皮湯。夫腎中有熱者，病瘥後，足心皮喜剝脫去，頭髮禿落，是其證也。</p>
<p>溫病胃冷變啘，　茅根橘皮湯　。</p>
<p>白茅根（半升）　橘皮（一兩半）　桂枝　葛根（各一兩）　</p>
<p>㕮咀，水三升，煎去半，去滓，溫飲一盞，啘止停後服。微有熱，減桂半兩。（微有熱，宜去桂，加生薑二兩。）　</p>
<p>溫病有熱，飲水暴冷啘，　枇杷茅根湯　。</p>
<p>枇杷葉　茅根（各半升）　</p>
<p>水四升，煮去半，去滓，稍熱飲之一二盞。（以上四方，皆不可作煮散。）　</p>
<p>溫病者，此熱入腎，腎臟惡燥，熱盛則腎燥，腎燥故渴，引飲而自救也。</p>
<p><u>葳蕤湯</u>　療冬溫，及春月中風傷寒，發熱，頭眩痛，咽乾舌強，胸中痛，心胸痞滿，腰背強。</p>
<p>葳蕤　白薇　麻黃　獨活　大杏仁（生）　芎藭　甘草　青木香　葛根（各一兩）　石膏（一兩半）　</p>
<p>㕮咀，水五升，煎二升半，去滓，飲一盞，通口服之，取汗。若一寒一熱者，加朴硝半兩，大黃一兩半，朴硝末後下。</p>

<h3>黃病證</h3>
<p>黃病者，一身盡痛，發熱，面色洞黃。七八日後，結熱里有血，當下之如㹠肝狀。（有血必狂，宜抵黨湯；如黃病自下血，亦有自愈者。）其人小腹滿急，若眼睛澀痛，鼻骨疼，兩膊及項強，腰背急，則是黃候。大便澀，但得小便利，則不慮死矣。不用大便多，多則心腹脹，為不佳。此由寒濕在表，則熱蓄於脾胃，腠理不開，瘀熱與宿谷相搏，鬱蒸不得消散，則大小便不通，故身體面目皆變黃色。黃候其寸口近掌無脈，口鼻氣冷者死。</p>
<p>療諸黃　膏發煎　。</p>
<p>亂髮（兩雞子大）　豬膋（八兩）　</p>
<p>二味煎令發消盡，研絞去滓，分二服，病從小便去。有人再病，胃中干糞下便瘥。</p>
<p>又方</p>
<p>瓜蒂二十七個，水一升，煎去半，頓服之。</p>
<p>黃疸目黃不除，　瓜丁散　。</p>
<p>瓜丁細末。</p>
<p>含水畜豆許，深入鼻中，黃水出盡為度。</p>
<p>孫真人曰：凡遇天行熱病，多內熱著黃，但用瓜丁散內鼻中，黃水出乃愈，即於後不復患病黃矣。常須用心警候病人四肢身面，微似有黃氣，即速行瓜丁散，不可令散漫，失候必大危矣。特忌酒面、色欲，犯者死。</p>
<p>黃家日晡發熱，而反惡寒，此為女勞。得之膀胱急，小腹滿，身體盡黃，額上反黑，足下熱。因作黑癉，大便必黑，腹臚脹滿如水狀，大便黑溏者，此女勞之病，非水也。腹滿者難療。　硝石礬石散。</p>
<p>硝石　礬石　</p>
<p>等分搗篩，以大麥粥汁和服方寸匕，日三。重衣覆取汗，病隨大小便去，小便正黃，大便正黑也。大麥則須是無皮麥者。《千金方》云：硝石二分，熬令燥；礬石一分，熬令燥，故注之。</p>

<h3>傷寒感異氣成溫病壞候並瘧證</h3>
<p>病人素傷於風，因復傷於熱，風熱相搏，則發風溫。四肢不收，頭痛身熱，常自汗出不解，治在少陰、厥陰。（少陰火，厥陰木。）不可發汗，汗出則譫語，內煩擾不得臥，善驚，目光無精。治之復發其汗，如此者醫殺之耳。</p>
<p>風溫之為病，脈陰陽俱浮，汗出體重，其息必喘，嘿嘿但欲眠。下之則小便難，發汗則譫語，加溫針則耳聾難言，但吐下之則遺尿，宜葳蕤湯。（方在溫病噦方論中。）因發汗後，身體不惡寒，而反惡熱，無下證者，名曰風溫，　知母石膏湯　。</p>
<p>知母（一兩）　石膏（一兩半）　葛根　葳蕤（各三分）　甘草　黃芩　升麻　人參　杏仁　羌活　防風（各半兩）　</p>
<p>㕮咀，水三升，煎一升半，去滓，溫飲一盞，通口與之取汗。</p>
<p>病人素傷於寒，因復傷於寒，變成溫瘧，寒多熱少者，華佗赤散主之。（在寒疫治法中。）</p>
<p>寒熱相半者，　丹砂丸　。（兼治間日瘧子。）</p>
<p>丹砂　人參（各一錢）　附子（一個，半兩者）　</p>
<p>細末，蜜丸梧桐子大，煎竹葉湯，吞下二三十丸，發前三服。中病則吐，或身習習麻木，未中病加至四十丸。間日發前如法服，中病即止。</p>
<p>溫瘧內熱甚，昏昏嘿嘿者，麥奴丸主之。（方在可汗門中。）</p>
<p>溫瘧其脈如平，身無寒但熱，骨節煩疼，時嘔，　白虎加桂枝湯　。</p>
<p>石膏（四兩）　知母（一兩半）　甘草（半兩）　粳米（一合半）　桂枝（三分）　</p>
<p>㕮咀，水三升半，煮米熟，去米下藥，取一升半，溫飲一盞。</p>
<p>溫瘧之為病，先熱後寒。</p>
<p>病人嘗傷於濕，因而中暍，濕熱相搏，則發濕溫。病苦兩脛逆冷，腹滿，又胸頭目痛苦妄言，治在少陰，不可發汗。汗出則不能言，耳聾，不知痛所在，身青而色變，名曰重暍，如此者醫殺之耳。</p>
<p>治濕溫如前證者，白虎湯主之。（方在傷寒厥陰門中。）</p>
<p>濕溫多汗，妄言煩渴，　石膏甘草散　。</p>
<p>石膏　甘草（等分）　</p>
<p>細末，漿水調下二錢匕，日三服。</p>
<p>龐曰：愚醫昧於冷熱之脈，見足脛冷，多行四逆輩，如此醫殺者不可勝計。濕溫脈小緊，有如傷寒脈，但證候有異，數進白虎，則脛自溫而瘥也。</p>
<p>病人素傷於熱，因復傷於熱，變為溫毒。溫毒為病最重也。</p>
<p>本太陽病不解，轉入少陽，小柴胡證罷，此為壞證，知犯何逆，以法治之。</p>
<p>寸口脈洪而大，數而滑，洪大榮氣長，數滑胃氣實，榮長即陽盛，怫鬱不得出，胃實即牢難，大便苦幹燥，三焦閉塞，津液不通。醫復發汗，令陽氣盛不周；復重下之，大便遂秘，小便不利。榮衛相搏，五心煩熱，兩目如火，鼻乾面赤，舌燥齒黃而大渴，過經成壞病。（巢氏亦載此一候，今列入證中，經手神效方附。）治如前證。</p>
<p><u>三黃石膏湯</u></p>
<p>石膏（一兩，研）　黃連　黃柏　黃芩（各半兩）　香豉（二合半）　梔子（五個）　麻黃（三分）　</p>
<p>㕮咀，水三升，煎取一升，分三服。未中病，再一劑，其效如神。</p>
<p>《深師方》曰：傷寒已八九日，三焦生熱，其脈滑數，昏憒，身熱沉重拘急，或時呻吟。欲攻內則沉重拘急，由表未解，直用汗藥則毒因加劇。古方無表裡兼療者，思以三黃湯解其內，有所增加，以解其外，故用三黃石膏湯。</p>
<p>論曰：傷寒發汗，或下或誤，後三焦熱，脈候洪數，譫語不休，晝夜喘息，鼻中屢衄血，而疾勢不解，身目如發黃，狂躁欲走，宜三黃石膏湯。</p>
<p>以上四種溫病，王叔和所謂同病異名，同脈異經者也。風溫與中風脈同，溫瘧與傷寒脈同，濕溫與中濕脈同，溫毒與熱病脈同，唯證候異而用藥有殊耳，誤作傷寒發汗者，十死無一生。</p>

<h3>敗壞別行方</h3>
<p>天行病經七日以上，熱勢彌固，大便秘澀，心腹痞滿，食飲不下，精神昏亂恍惚，狂言譫語，其脈沉細，眾狀之中，無一可救，決計　附子鱉甲湯　。（不可作煮散。）</p>
<p>鱉甲　白蘚皮　茵陳（各半兩）　細辛　桂枝　白朮　吳茱萸　附子　枳實（各一分）　大黃（三分）　生薑（一兩）　</p>
<p>㕮咀，水三升，煮一升，溫作三服。</p>
<p>傷寒將理失節，服冷藥太多，伏熱在臟，手足厥逆，爪甲稍青，恐陽氣漸衰成陰毒氣，踟躕之間，變入狐惑，面色斑斑如錦紋，　木通桂枝湯　。</p>
<p>木通　桂（各一兩）　吳茱萸　細辛（各一分）　甘草（半兩）　蔥白（六莖）　棗（九個）　</p>
<p>㕮咀，水二升半，煎一升二合，去滓，溫作四服。</p>
<p>傷寒三七日至四七日，勞痟不歇，熱毒不止，乍熱乍寒，乍瘥乍發，動作如瘧，　鱉甲恆山湯　。</p>
<p>鱉甲　恆山　牛膝（各三分）　大青　牡丹（各半兩）　石膏（二兩）　烏梅肉　甘草（各一分）　淡竹葉　豉　生麥門冬　生地黃（各二合半）　</p>
<p>㕮咀，水五升，煎二升半，溫飲一盞。</p>
<p>傷寒八九日不瘥，名曰敗傷寒，諸藥不能治者，　鱉甲犀角湯　。</p>
<p>鱉甲　升麻　柴胡　烏梅肉　枳實　犀角屑　黃芩（各半兩）　甘草（一分）　生地黃（二合半）　</p>
<p>㕮咀，水三升，煎一升半，分五服，日三夜二。</p>
<p>敗傷寒，頭痛骨肉痛，荒言妄語，醫所不能療者，用前黑奴丸主之。（方在雜汗證中。）</p>
<p>龐曰：有人患時氣，經六七日，因發狂，遂眼瞪不瞬，手攣膕曲，口噤或有張口者，冥冥不知人事，口鼻氣絕，但心頭溫，面色和，六脈皆動，一如屍厥，如此不省五六日。因作成敗計，救用風引湯加附子，灌下兩服遂省。</p>
<p><u>風引加附子湯</u></p>
<p>寒水石　石膏　赤石脂　白石脂　紫石英　滑石（各六錢）　附子（一個）　龍骨　大黃　乾薑（各四錢）　甘草　牡蠣粉（各二錢）　桂枝（三錢）　</p>
<p>粗末，每服三錢匕，水一盞，煎至七分，去滓，溫飲之。</p>

<h2>小兒傷寒證</h2>
<p>小兒傷寒發熱，自汗多啼，　葛根芍藥湯　。</p>
<p>葛根（三分）　芍藥　甘草　黃芩　桂枝（各半兩）　</p>
<p>粗末，每服三錢，水一盞，煎六分，去滓，溫溫作二服，相次與之。熱盛者，去桂，加升麻半兩。無汗者，加麻黃一兩。喘者，加杏子半兩。</p>
<p>龐曰：小兒傷寒，始因壯熱不除，被湯丸下後，其項強眼翻，弄舌搐搦，如發癇狀，久則哽氣，啼聲不出。醫以為驚風，屢服硃砂、水銀、牛黃、錄粉、巴豆、竹瀝之類，藥皆無驗。此由誤下後，毒氣結在心胸，內熱生涎，涎裹諸藥，不能宣行所致也，　蕩涎散　。</p>
<p>粉霜（一錢）　膩粉（二匣）　芫花（一分）　</p>
<p>細末，暖漿水調下，一歲半錢，病勢大者再服。白色著底者，粉霜也，宜盡嚾之。良久得睡，取下黑黃涎裹包丹砂之類，皆成顆塊，啼聲便出，立安。</p>
<p>龐曰：小兒結胸，亦如前狀，但啼聲出，醫亦多作驚風治之。其脈浮滑，試以指按心下，則痛而啼，宜半夏黃連栝蔞湯斟酌服，當下黃涎便瘥。（方在結胸門中。）</p>
<p>小兒傷寒，蒸起風熱，發癇，手足搐掣不省，　蛇皮湯　。</p>
<p>麻黃　大黃　牡蠣　黃芩（各四錢）　寒水石　白石脂　赤石脂　石膏　紫石英　滑石（各八錢）　人參　桂枝　龍齒（各二錢）　甘草（三錢）　蛇蛻皮（一錢）　</p>
<p>粗末，每四錢水一盞半，煎七分，溫分二服，熱多者進三服，以水並竹瀝中半煎，尤佳。</p>
<p>小兒傷寒後，胃中有熱，煩悶不食，至日晚潮熱頰赤，躁亂嘔吐，　蘆根湯　。</p>
<p>生蘆根　生茅根　赤茯苓　子芩　麥門冬　甘草　生薑（各一分）　小麥　糯米（各二百粒）　</p>
<p>細銼，水一升二合，煎六合，去滓，分三服，立效。</p>
<p>小兒傷寒，咳嗽，胸膈痰壅，喉中呀呷聲，　射干湯　。</p>
<p>射干　麻黃　紫菀　桂心　半夏（各半兩）　甘草（一分）　</p>
<p>粗末，每服三錢，水一盞半，生薑汁少許，煎六分，去滓，入蜜半匕烊化勻，溫作二服。</p>
<p>又方，　甜葶藶湯　。</p>
<p>甜葶藶（炒）　杏仁（炒）　麻黃（各等分）　</p>
<p>粗末，每二錢水一盞，煎五分，溫溫分減服。</p>
<p>小兒傷寒後，盜汗，體熱咽乾，　犀角黃耆湯　。</p>
<p>犀角屑　茯神　麥門冬　黃耆　人參（各半兩）　甘草（一分）　</p>
<p>粗末，每三錢水一盞，煎五分，溫溫服。</p>
<p>小兒傷寒里不解，發驚妄語，狂躁潮熱，　鉤藤大黃湯　。</p>
<p>鉤藤皮　當歸　甘草（炙）　芍藥（各半兩）　大黃（三分）　</p>
<p>粗末，每三錢水一盞，煎六分，溫溫服，以利為度。難利者，間茵陳丸服。（方在傷寒門中。）此方不唯治傷寒，常時小兒傷食，作驚發癇，不乳，溫壯⿰口孜啀，皆可斟酌與服，以利為度。</p>

<h1>卷第六</h1>

<h2>傷寒雜方</h2>
<p>冬夏傷寒，發汗極效，　時雨散　。（冬春及夏初行之大驗。）</p>
<p>蒼朮（四兩）　甘草　麻黃（各二兩）　豬牙皂角（四挺）　</p>
<p>為末，每服二錢，水一盞，煎三兩沸，和滓溫服，蓋覆取汗出，立效。但是時行寒疫，皆宜服此，可多合以拯貧民。</p>
<p>傷寒頭痛，　玄精石方　。</p>
<p>石膏　太陰玄精石（各一兩）　麻黃（二兩）　甘草（半兩）　</p>
<p>粗末，每服四錢，水一盞，竹葉二七片，煎七分，去滓，溫飲，不計時候。</p>
<p>傷寒頭痛不止，　瓜蒂牙硝散　。</p>
<p>藜蘆（一錢）　瓜蒂（三錢）　牙硝（二錢）　腦麝（各少許）　</p>
<p>細末，吹少許入鼻，得嚏則愈。</p>
<p>時氣八九日，喘悶煩躁，　麻黃杏子湯　。</p>
<p>桔梗　麥門冬（各一兩）　麻黃（一兩半）　杏仁　黃芩　甘草（各三分）　</p>
<p>粗末，每五錢，水一盞半，煎八分，溫溫日可四五服。</p>
<p>時氣腦熱，頭疼不止，　朴硝散　。</p>
<p>川朴硝，研，生油調塗頂上。</p>
<p>時氣豌豆瘡出不快，心神煩悶，　犀角五香湯　。</p>
<p>犀角屑　丁香　乳香　木香（各半兩）　玄參　升麻（各一兩）　麝香（一分）　</p>
<p>粗末，每五錢水一盞，竹瀝半盞，煎八分，溫溫日三四服。</p>

<h2>妊娠雜方</h2>
<p>妊娠時氣，令子不落，　伏龍肝散　。</p>
<p>伏龍肝為末，水調塗臍下，干時易之，疾瘥乃止。</p>
<p>妊娠傷寒，內熱極甚，令不傷胎，　吞雞子法　。</p>
<p>取雞子，以絹袋貯投井底，浸令極冷，旋破吞六七枚，佳。</p>
<p>妊娠傷寒，腹脹，大便不通，喘急，　牽牛散　。</p>
<p>大黃　鬱金　青橘皮（各一兩）　甘草（三分）　牽牛子（取末，二兩）　</p>
<p>細末，不計時，薑湯調下二錢，以利為度。</p>
<p>妊娠傷寒，服汗下諸藥，熱已退，覺氣虛不和，宜與此藥安胎，　黃耆人參湯　。</p>
<p>黃耆　人參　半夏　陳橘皮　麥門冬　當歸　赤茯苓（各半兩）　</p>
<p>粗末，每服四錢，水二盞，姜三片，煎七分，去滓，下阿膠末一小匕，烊化，溫與之，日可三四服。</p>
<p>大熱甚胎不安者，不宜前藥，宜用　阿膠散　。阿膠末一錢半，竹瀝調下，無竹瀝，用小麥、竹葉煎湯調下。</p>
<p>妊娠傷寒四五日以上，心腹脹，渴不止，腰痛重，　橘皮枳實湯　。</p>
<p>枳實　麥門冬（各三分）　陳橘皮（一兩）　</p>
<p>粗末，每服五錢，水一盞半，生薑四片，煎八分，去滓，溫服。</p>
<p>妊娠熱病，胎死腹中，　鹿角屑湯　。</p>
<p>鹿角屑（一兩）　</p>
<p>水一碗，蔥白五莖，豉半合，煎六分，去滓，溫作二服。</p>
<p>又方，　益母草飲子　。益母草絞汁，飲半升，即出。</p>
<p>治傷寒小產，惡露不行，腹脹煩悶欲死，　大黃桃仁湯　。</p>
<p>朴硝　大黃　</p>
<p>二味等分末之，每一錢或二錢，桃仁去雙仁皮尖，碎之，濃煎湯調下，以通為度，日三服。</p>
<p>小產後，其惡露被熱蒸斷不行，　地黃飲子　。</p>
<p>地黃汁　藕汁（各一碗）　生薑汁（一盞）　</p>
<p>令和暖，溫分三四服，微有寒，煎二十沸服之，亦下死胎。</p>
<p>傷寒產後，血運欲絕，　紅花散　。</p>
<p>紅花　荷葉　薑黃（等分）末之，炒生薑，小便調下二錢。</p>
<p>凡傷寒小產，夏月宜少用醋炭，多有煩悶運死者。</p>
<p>傷寒產後，惡血衝心，悶亂口乾，　生薑小便飲子　。</p>
<p>生地黃汁　藕汁　小便（各一盞）　和勻，煎三兩沸，溫熱分作三服。</p>
<p>傷寒產後，惡露為熱搏不下，煩悶脹喘狂言者，抵黨湯及桃仁承氣湯主之。（二方在可下門中。）</p>
<p>傷寒小產後，煩悶，大躁渴，　石膏栝蔞湯　。</p>
<p>黃連　黃芩　甘草　栝蔞根（各一兩）　石膏（一兩半）　</p>
<p>粗末，每服四錢，水一盞半，煎八分，溫服一盞。</p>

<h2>傷寒暑病通用刺法</h2>
<p>龐曰：凡過經不解譫語者，當刺期門，隨其實而瀉之。刺期門之法，須待脈弦或浮緊，刺之必愈；余刺之不瘥，以正取肝之邪故也。期門穴直乳下，當腹旁近脅骨，是穴針入一寸。</p>
<p>傷寒發熱，嗇嗇惡寒，其人大渴飲水者，其腹必滿，小便不利而自汗出，其病欲解，此為肝乘肺，名曰縱，當刺期門。</p>
<p>腹滿譫語，寸口脈浮而緊，此為肝乘脾，名曰橫，當刺期門。</p>
<p>下血而譫語，此為熱入血室，但額上汗出者，當刺期門，隨其實而瀉之，濈然汗出者愈。</p>
<p>婦人中風，發熱惡寒，其經水適來，得七八日熱除，脈遲身涼，胸脅下滿如結胸狀，而譫語，此為熱入血室，當刺期門，隨其實者而取之。</p>
<p>太陽與少陽並病，頭痛或眩，時如結胸，心下必堅，當刺瀉肺俞、大杼，慎不可發汗。發汗則譫語，譫語則脈弦，五日譫語不止，當刺期門。</p>
<p>傷寒喉痹，刺手少陰，腕骨小指後動脈是也，刺入三分補之。（佳通里二穴，去腕後一寸，是手少陰之經，主熱病喉痹，針入三分，可灸三壯。）</p>
<p>傷寒妊娠腹滿，不得小便，腰以下腫如水氣狀，懷孕七月，太陰當養，此心氣實，當刺瀉勞宮及關元，小便利即愈。（勞宮手掌中央，屈無名指取之，關元在臍下三寸。）</p>
<p>傷寒飲水過多，腹脹氣喘，刺中脘。（鳩尾下三寸。）</p>
<p>傷寒汗不出，脊強，喉閉煩滿，針大杼。（大杼穴在第一椎下兩旁，相去各一寸五分，針入一寸瀉之。）</p>
<p>傷寒餘熱不盡，皮膚乾燥，針曲池。（在曲肘橫紋頭，針可透下，瀉之。）</p>
<p>熱病汗出，脈反順，可汗者，取之魚際、太淵、大都、太白，瀉之則熱去，補之則汗出。太甚者取踝上橫紋以止之。（魚際在大指本節後內側散脈中；太淵在掌後陷中；大都在足大指本節後陷中；太白在足內側核骨下陷中；踝上橫紋不說穴名，當是足內踝上二寸，名曰復溜，主骨寒熱汗注不休故也。）</p>
<p>熱病七八日，脈口動，喘而眩者，急刺之。汗且自出，淺刺手大指間。（合谷穴是也。）</p>
<p>熱病先胸脅痛，手足躁，刺足少陽，補足太陰。（據傷寒皆忌土敗木賊證，是足少陽木受邪，當傳克脾土，故宜瀉足少陽之丘墟，而補足太陰之太白。《素問》云：補足太陰者是也。其全元起《太素》作手太陰而以肺經，從肺出腋下，故胸脅滿痛。又有引虛則索筋於肝，不得索之於金，而以手太陰為是。既言不得索之於金矣，而復求於金乎，是必不然也。既瀉於木，理不合更補於金，若補於金，則木反受克矣，故當補脾土無疑。）</p>
<p>熱病先手臂痛，刺手陽明、太陰，汗出止。（太陰絡列缺穴，在腕上二寸半，刺七分；陽明商陽穴在手大指次指端，去甲如薤葉，刺三分。）</p>
<p>熱病始於頭首者，刺項太陽而汗出止。（天柱穴在項後髮際，大筋外廉陷中，可刺五分，瀉之。）</p>
<p>熱病先眩冒而熱，胸脅滿，刺足少陰、少陽。（足少陰湧泉穴，在兩腳心陷，屈足卷指宛宛中，刺入七分，瀉之，無令血出。足少陽俠谿穴，在小指歧骨間，本節前陷中。）</p>
<p>熱病始足脛痛者，先取足陽明而汗出。（陷谷穴在足大指次指之間，本節後陷中，針入五分，瀉之。）</p>
<p>熱病三日汗不出，怵惕胸脅痛，不可轉側，大小便血及衄不止，氣逆嘔噦，煩渴，食飲不下，針勞宮。（在手掌心，針入五分，瀉之。）</p>

<h2>傷寒死生候</h2>
<p>傷寒下利，厥逆煩躁，不得臥者死。</p>
<p>傷寒厥逆六七日，發熱而利者生，汗出利不止者死，但有陰無陽故也。</p>
<p>傷寒咳逆上氣，其脈散者死，謂形損故也。</p>
<p>夫病者實則譫語，虛則鄭聲。（重語是也。）直視譫語、喘滿者死，下利者亦死。</p>
<p>傷寒脈陰陽俱緊，口中氣出，唇口乾燥，踡臥足冷，鼻中涕出，舌上苔滑，勿妄治也。</p>
<p>傷寒脈浮而洪，身汗如油，喘而不休，水漿不下，形體不仁，乍靜乍亂，此為命絕也。又未知何臟先受其災。若汗出發潤，喘而不休，此為肺先絕也；陽反獨留，形體如煙燻，直視搖頭，此為心先絕也；唇吻反青，四肢漐習者，此為肝先絕也；環口黧黑，柔汗發黃，此為脾先絕也；溲便遺失，狂言目反直視者，此為腎先絕也。</p>
<p>傷寒脈順四時，夜半得病日中解，日中得病夜半解，更不傳也。</p>

<h2>熱病死生候</h2>
<p>熱病陰陽交者，熱煩身燥，太陰寸口脈兩沖尚躁盛，是陰陽交，死；得脈靜者生。</p>
<p>熱病得汗，身冷脈欲絕，其人已安靜，但昏沉喜睡，急與四逆輩，令手足溫，不爾，熟寐而卒。</p>
<p>熱病陽進陰退，頭獨汗出，死；陰進陽退，腰以下至足有汗出，亦死；陰陽俱進，汗出已，熱如故，亦死；陰陽俱退，汗出已，寒慄不止，口鼻氣冷，亦死。</p>
<p>熱病所謂並陰者，熱病已得汗，因得泄，是謂並陰，故治；熱病所謂並陽者，熱病已得汗，脈尚躁盛，大熱汗出，雖不汗，身和而衄，是謂並陽。故治。</p>
<p>熱病不知痛所在，不能自收，口乾渴熱甚，陰頭有寒者，熱在骨髓，死，不治。</p>
<p>病若譫語妄言，身當有熱，而反四逆，脈沉細者，死。</p>
<p>熱病在腎，令人渴口乾，舌焦黃赤，晝夜引飲不止，腹大而脹，尚不厭飲，目無精光，死，不治。</p>
<p>熱病所謂陽附陰者，腰以下至足熱，腰以上寒，陰氣下爭而還，心腹滿者，死。</p>
<p>熱病所謂陰附陽者，腰以上至頭熱，腰以下寒，陽氣上爭而還，得汗者，生。</p>
<p>熱病得汗，脈減躁，身和麵赤，此為榮未交，待時自已，肝病待甲乙之列。（《素問》云：榮未交日，今且得汗，待時而已。）</p>
<p>熱病七八日，脈微小病者，溲血口中乾，一日半死；代脈一日死。</p>
<p>熱病七八日，脈不躁不數而喘，後三日有汗。三日不汗，四日死。未曾汗，勿庸刺。</p>
<p>熱病身面發黃，面腫，心熱口乾，舌卷焦黃黑，身麻而臭，伏毒傷肺，中脾者死。</p>
<p>熱病瘛瘲狂言，不得汗，瘛瘲不止，伏毒傷肝，中膽者死。</p>
<p>熱病汗不出，出不至足，嘔膽吐血，善驚不得臥，伏毒在膽足少陽者死。</p>

<h2>溫病死生候</h2>
<p>有病溫汗出，輒復熱而脈躁疾，不為汗衰，狂言不能食，病名曰陰陽交，見三死而未見一生。（寅申巳亥辰戌丑未年有此證。）溫病得病，便短息微悶，神識惺惺，脈尺寸反者死。（子午卯酉年有此證。）</p>
<p>凡溫病人三二日，身熱脈疾，頭痛，食飲如故，脈直疾，八日死；四五日頭痛脈疾，喜吐，脈來細，十二日死，此病不療；八九日脈不疾，身不痛，目不赤，色不變，而反利，脈來牒牒，按不彈手指，時時大，心下硬，十七日死。（心下不硬者生。）</p>

<h2>天行瘥後禁忌</h2>
<p>飲酒合陰陽復病必死，生鱠煮麵酒，韭、蕈、鱔、蓴、豆粉，犬羊肉腸血、生果、油肥之類，食之皆發熱黃，下利不救。諸勞動皆致復，尚可治，女勞多死。</p>

<h2>解仲景脈說</h2>
<p>龐曰：動脈見於關上下，無頭尾，厥厥動搖，名曰動也。陽動則汗出，陰動則發熱。關位佔六分，前三分為陽，後三分為陰。若當陽連寸動而陰靜，法當有汗而解。《素問》云：陽加於陰謂之汗。當陰連尺動而陽靜，則發熱，《素問》云：尺粗為熱中。若大汗後，形冷惡寒者，三焦傷也，此是死證。脈按之虛軟，戰汗而解；脈按之有力，躁汗而解；脈虛微，必經汗吐下，無津液作汗，陰陽自和愈。</p>
<p>趺陽在足大指次指間，上行五寸，是足陽明胃脈也。（名曰衝陽穴也。）</p>
<p>少陰脈在足內踝後，跟骨上動脈陷中，是足少陰腎脈也。（名太谿穴。）</p>
<p>仲景云：按寸不及尺，握手不及足。謂醫者只憑尺寸，不診衝陽、太谿也。</p>
<p>龐曰：寸口脈浮大，浮為虛，醫反下之，為責虛取實；大為無血，反飲冷水，令汗大出，為守空迫血。致趺陽脈亦浮虛，虛寒相搏，則噎也；若趺陽脈不浮而但滑者，則胃寒而噦矣。</p>
<p>龐曰：伏氣之病，謂非時有暴寒而中人，伏毒氣於少陰經，始雖不病，旬月乃發，便脈微弱，法先喉痛似傷，次則下利。喉痛　半夏桂枝甘草湯　主之；下利有諸證，用通脈四逆湯主之。（方在少陰證中。）此病三二日便瘥，古方謂腎傷寒是也。</p>
<p>半夏　桂枝　甘草　生薑（各一兩）　</p>
<p>㕮咀，以水三升，煮一升，每一盞，細呷之。</p>
<p>龐曰：君子春夏養陽，秋冬養陰，順天地之剛柔也。謂時當溫，必將理以涼；時當暑，必將理以冷，涼冷合宜，不可太過，故能扶陰氣以養陽氣也。時當涼，必將理以溫；時當寒，必將理以熱，溫熱合宜，不可太過，故能扶陽氣以養陰氣也。陰陽相養，則人氣和平。有人好攝生者，盛暑亦復衣避風，飲食必熱，而成發黃脫血者多矣。盛寒之時，方宜暖，當服以涼藥而成吐利腹痛者多矣。此皆憑庸人妄傳，以為實理，往往橫夭而尚不覺知，深可傷也。此是平人將理之法，其有夙熱痼冷者，須當順其性爾。</p>

<h2>解華佗內外實說</h2>
<p>《魏志·華佗傳》有府吏兒尋、李延共止，俱頭痛身熱，所苦正同。佗曰：尋當下之，延當發汗。或難其異，佗曰：尋外實，延內實，故治之宜殊。即各與藥，明早並起。某深疑陳壽誤用內外字，非華佗本意也。病者頭痛身熱，惡寒，為陰邪外實，法當發汗；病者頭疼身熱，但蒸蒸發熱，不惡寒，為陽邪內實也，法當下之。所謂外實者，外為陽為表也。陽氣為寒所折，爭於表間，陽衰而陰勝，故發熱復有惡寒之證，可以汗而發之，以復陽氣也。所謂內實者，內為陰為里也，極陰變陽，寒甚生熱，陽氣反勝而入里，故胃腑內實，蒸蒸作熱，不惡寒，可以泄利，以復陰氣。言實者，非正實，乃邪實也。《素問》云：邪氣盛則實。所以知佗傳內外二字差謬矣。</p>

<h2>辨論</h2>
<p>近世常行煮散，古方湯液存而不用。蓋古方升兩大多，或水少湯濁，藥味至厚。殊不知聖人專攻一病，決一兩劑以取驗，其水少者，自是傳寫有舛，非古人本意也。唐自安史之亂，藩鎮跋扈，至於五代，天下兵戈，道路艱難，四方草石，鮮有交通，故醫家省約，以湯為煮散。至有未能中病，疑混而數更方法者多矣。沿習至今，未曾革弊，古方湯液，實於今世為無用之書。唐徐氏《大和濟要方》減其升兩，雖則從俗，患其太省，故病未半而湯劑已竭，鄙心患之。自顧抄撮斟酌，積三十餘年，稍習其事，故敢裁減升兩，庶從俗而便於行用。或一方而取半劑，或三分取一，或四分取一，或五分取一，或增其水有可以作煮散者，有病勢重專用湯攻者。或云：古升秤省三升准今之一升，三兩准今之一兩，斯又不然。且晉葛氏云：附子一枚准半兩。又云：以盞當升，以分當兩。是古之升秤與今相同，許人減用爾。今之為醫者，多是愚俗，苟且衣食，貪冒貨賄，大方廣論，何以該通？唯密窖鄙淺方技，使人不窺其隙，以自矜大，乘便為神工緻遠，恐泥其夭枉，固已多矣。鮮有多聞博識者。雖時有之士大夫，咸鄙其為術。自非不顧流俗，以拯濟為心，則不能留神焉。今解釋前言，詳正脫誤，擇其篤論，刪其繁方，仍增入新意，不敢穿鑿，冀新學易見，覽斯文已得其七八矣。此方皆古聖賢撰用，其效如神，更不一一具姓名，載其所出。其間自有所見，經手得驗者，具緝成卷，在識者覽而知焉。</p>

<h2>上蘇子瞻端明辨傷寒論書</h2>
<p>安時所撰傷寒解，實用心三十餘年。廣尋諸家，反覆參合，決其可行者始敢編次；從來評脈辨證，處對湯液，頗知實效，不敢輕易謬妄，誤人性命。四種溫病、敗壞之候，自王叔和後，鮮有明然詳辨者，故醫家一例作傷寒行汗下。傷寒有金、木、水、火四種，有可汗、可下之理。感異氣復變四種溫病，溫病若作傷寒行汗下必死，傷寒汗下尚或錯謬，又況昧於溫病乎？天下枉死者過半，信不虛矣。國家考正醫書，無不詳備，惟此異氣敗壞之證，未暇廣其治法。安時所以區區略意，欲使家家戶戶閱方易為行用，自可隨證調治，脈息自然詳明，不假謁庸粗，甘就橫夭者也。設有問孫真人云：今時日月短促，藥力輕虛，人多巧詐，感病厚重，用藥即多。又云：加意重複用藥乃有力。自孫真人至今，相去逾遠，藥反太輕省，何也？安時妄意，唐遭安史之亂，藩鎮跋扈，迨至五代，四方藥石，鮮有交通，故醫家少用湯液，多行煮散。又近世之人，嗜欲益深，天行災多，用藥極費。日月愈促，地脈愈薄，產藥至少。何以知之，安時常於民家，見其遠祖所錄方冊，上記昔事蹟，其間有廣順年，巴豆每兩千二足，故以知藥石不交通也。且溫疫之病，周官不載；斑瘡豌豆，始自魏晉；腳氣肇於晉末，故以知年代近季，天災愈多，用藥極費也。礜石、曾青之類，古人治眾病痼瘕大要之藥，今王公大人家尚或缺用，民間可知矣。人參當皇祐年，每兩千四五，白朮自來每兩十數文，今增至四五百，所出州土，不絕如帶，民家苗種，以獲厚利，足以知地脈愈薄，產藥至少矣。湯液之制，遭值天下禍亂之久，地脈薄產之時，天災眾多之世，安得不悋惜而為煮散乎。故今世上工治病，比之古人及中工者幸矣。設有問今之升秤，與古不同。其要以古之三升，准今之一升；古之三兩，准今之一兩。雖然如此，民間未嘗依此法，而用古方者，不能自解裁減。又如，附子一枚准半兩，是用一錢三字為一枚，使人疑混，如何得從俗乎？安時言唐大和年，徐氏撰《濟要方》，其引云：秤兩與前代不同，升合與當時稍異。近者重新纂集，約舊刪修，不惟加減得中，實亦分兩不廣。又云：今所刪定六十三篇，六百六首，勒成六卷，於所在郡邑，標建碑牌，明錄諸方，以備眾要。又云：時逢聖歷，年屬大和，便以《大和濟要方》為名。備錄如下，已具奏過，准敕頒行。此方已遭兵火煙滅。安時家收得唐人以朱墨書者，紙籍腐爛，首尾不完，難辨徐氏官與名。即不知本朝崇文諸庫，有此本否。安時謂裁減古方，宜依徐氏，以合今之升秤；庶通俗用，但增其藥之枚粒耳。是以仲景諸古方次第，復許減半，芍藥湯中載之詳矣。陶隱居云：古今人體，大小或異；臟腑血氣，亦有差焉，請以意酌量藥品分兩，引古以明，取所服多少配之。或一分為兩，或二銖為兩，以盞當升可也。若一一分星較合，如古方承氣湯，水少藥多，何以裁之？所以《聖惠方》煮散，盡是古湯液，豈一一計較多少。治病皆有據，驗在調習多者，乃敢自斟酌耳。設有問暑熱重於溫病者，宜行重複方，卻多行煮散者何？安時謂夏月多自汗，腠理易開，經云：天暑地熱，經水沸溢，故用煮散。或有病勢重者，即於湯證之下注云：不可作煮散也。如此之類者頗多，聊引梗概。俗云：耕當問奴，織當訪婢。士大夫雖好此道，未必深造，宮妒朝嫉者眾，吹毛求瑕，安不爍金，更望省察狂瞽之言。千浼臺聽，悚息無地。</p>

<h1>傷寒論音訓</h1>

<h2>敘論</h2>
<p>漬（疾賜切，浸也。）搏（補洛切，手擊也。）瘴（之亮切，瘴癘。）脆（青噦切，《說文》曰：小而易斷也。）脫（吐活切。）間（音澗。）撣（徒安切，觸也。）涸（平洛切，水竭也。）讝（之廉切，疾而寐語也。）泄（思列切，漏也。）濈（壯立切，和也，汗出也。）填（徒堅切，賈逵曰：塞也，滿也。）</p>
<p>太陽證　腰脊強（下，居亮切，屍勁硬也。）</p>
<p>陽明證　漐（醜入切，汗出貌。）怫（扶物切，意不舒治也。）憒（公對切，亂也。）怵惕（上，恥律切，悚懼悽愴也。下，他的切，憂也，疾也。）懊憹（上，於報切，悔也。）</p>
<p>少陰證　沫（亡活切，水浮沫也。）踝（胡瓦切，足踝也。）跟（柯恩切。）悸（其季切，心動也。）</p>
<p>厥陰證　蛔（胡恢切，腹中長蟲也。）</p>
<p>可發汗證　淅（桑激切，洗也。）翕（許及切，炙也。）</p>
<p>不可發汗證　芤（苦侯切，兩邊實中央空者，名曰芤。）瞤（如倫切，動也。）</p>
<p>可下證　曈（徒東切，曈曈，日欲明貌。）晡（布胡切，申時也。）妄撮（士活切，三指取也。）慄（力質切，懼也。）黨（底朗切。）瘀（於豫切，積血也。）駛（山吏切，疾也。）</p>
<p>不可下證　倦（居員切。）</p>
<p>結胸證　痓（充至切，惡也。）</p>
<p>痓濕暍證　齘（音械，齒相切也。）</p>
<p>濕證　噦（於月切，逆氣也。）掣（尺折切，牽也。）</p>
<p>雜病證　甘爛水（即肝切，熟也。不擊則生，擊之則熟，水之味本咸，擊熟之則歸土性矣。然土之味本甘故也。崖暴之水，擊之而成沫，干而成土，水歸土性，故謂之甘瀾水。）澱（徒練切，淺水也。水淺則近土，「甘」與甘瀾之「甘」同。）</p>
<p>傷寒勞復證　頮（呼內切，滌面也。）豭（古瑕切，牡豕也。謂之豭鼠矢者，得非牡鼠乎。）篹（先管切，器也。）</p>
<p>暑病表證　暍（於歇切，中熱也，溫也。）</p>
<p>五種暑病　胻酸（上，戶當切。）《說文》云：脛耑也。下，光丸切，疼酸。員澹（上，胡拳切。下，達濫切。）</p>
<p>闢溫疫論　蠆（醜介切，螫蟲。）掠（力酌切。）　</p>
<p>青筋牽證　牽（輕煙切，引前也。青東方之色，筋主肝，肝屬木，謂之牽，有筋牽相連之意。）</p>
<p>赤脈㩌證　㩌（芳末切，擊化也。赤，南方之色，脈主心，心屬火，火性炎上，故好爭㩌者，相擊化也，故有好爭之意。）</p>
<p>黃肉隨證　隨（旬為切。黃者中央之色，肉屬脾，脾屬土，土無正形，從在四季，正王在長夏。謂之隨者，有若從木火金水之意，火生土，故黃肉隨所次列之於赤脈㩌之後。）顳（仁涉切，在耳前曰顳。）顬（仁於切，）顬（顬耳前動。）輸（式朱切。）　</p>
<p>白氣貍證　貍（陵之切。白，西方之色，氣主肺，肺屬金，貍善捕物而有殺心，亦若金類。）</p>
<p>黑骨溫證　溫（烏昆切。黑，北方之色，骨主腎，腎屬水，謂之溫者，亦自水而已。故溫居末，以總其名焉。）</p>
<p>溫噦方證　啘（之月切。）</p>
<p>黃病方證　癉（丁寒切，火癉也。）臚（力居切。）</p>
<p>敗壞別行　瞪（直耕切，怒目直視。）瞬（式閏切，目動也。莊子曰：終日視而目不瞚。）膕（弋陵切，曲略也。）</p>
<p>小兒傷寒呀呷（上，虛牙切，唅呀張目貌。下，呼甲切。《說文》云：吸呷也。）</p>
<p>傷寒暑病（通用刺法。）諴（胡讒切，和也。）</p>
<p>熱病死生候　瘛瘲（上，胡計切。下，子用切。）</p>

<h1>修治藥法（方中有不修治者，今不載。）</h1>
<p>芍藥（赤白利，補。）</p>
<p>甘草（炙，或炒。）</p>
<p>乾薑（炮。）</p>
<p>大黃（或生，或煨。）</p>
<p>芒硝（生。）</p>
<p>黃芩（不枯者，即子芩是也。）</p>
<p>黃連（洗，去須土。）</p>
<p>乾葛（須家葛，乾者。）</p>
<p>梔子（去殼。）</p>
<p>橘皮（陳者去白。）</p>
<p>生薑（薄切。）</p>
<p>桂枝（刮去粗皮。）</p>
<p>大棗（去核。）　</p>
<p>麻黃（去根節。）</p>
<p>細辛（去苗，洗。）</p>
<p>附子（去皮尖，丸散炮，惟湯生用。）</p>
<p>雞子黃（藥熟方下。）</p>
<p>阿膠（同上。）</p>
<p>吳茱萸（湯洗。）　</p>
<p>人參（去蘆。）</p>
<p>桔梗（微炒。）</p>
<p>豬苓（去黑皮。）</p>
<p>茯苓（赤利，白補。）</p>
<p>澤瀉（去苗。）</p>
<p>滑石（研。）</p>
<p>豬膚（去膜，切。）</p>
<p>枳實（去穰，麩炒。）</p>
<p>柴胡（去蘆。）</p>
<p>烏梅（去核，取肉。）</p>
<p>當歸（去蘆，洗。）</p>
<p>川椒（去目，並閉口者。）</p>
<p>黃柏（刮去粗皮，或酥，或蜜炙，黃紫色。）</p>
<p>赤小豆（浸牙生，暴乾，惟狐惑證如此。）</p>
<p>天門冬（去心皮。）</p>
<p>石膏（研。）</p>
<p>白朮（去蒂。）</p>
<p>粳米（淘。）</p>
<p>杏仁（去皮尖，麩炒黃。為湯劑不炒。）</p>
<p>瓜丁（即瓜蒂也，末之。）</p>
<p>龍膽（去蘆。）</p>
<p>梁上塵（篩過。）</p>
<p>小麥奴（即小麥秀出黑者。如無，炒小麥焦黑。）</p>
<p>飴糖（藥熟方下。）</p>
<p>淡竹葉（銼。）</p>
<p>半夏（湯洗七遍。）</p>
<p>牡蠣粉（炒。）</p>
<p>防風（去蘆。）</p>
<p>蕘花（炒。如無，以桃花不炒代之。）</p>
<p>竹茹（刮淡竹。）</p>
<p>李根（甜李根，入土者刮去粗皮，取白皮，細銼。）</p>
<p>五味子（去梗。）</p>
<p>厚朴（姜炒。）</p>
<p>茵陳蒿（去梗。）</p>
<p>芫花（醋拌，新瓦上熳火炒焦紫色。）</p>
<p>甘遂（濕紙裹，煨用，赤皮連珠者。）</p>
<p>大戟（炒。）</p>
<p>藁本（去苗，洗。）</p>
<p>木通（刮去粗皮。）</p>
<p>鱉甲（去裙肉，醋炙焦黃色。）</p>
<p>豉（惟湯中以絹袋煮之。）</p>
<p>水蛭（水浸，去血子，米炒。）</p>
<p>虻蟲（去翅足，糯米炒。）</p>
<p>桃仁（去皮尖，麩炒研，惟入湯生用。）</p>
<p>蜀漆（洗去腥。）</p>
<p>龍骨（研。）</p>
<p>朴硝（生。）</p>
<p>葶藶子（隔紙炒研，甜者用。）</p>
<p>栝蔞（焙，無黃脈者。）</p>
<p>貝母（去心，麩炒。）</p>
<p>雄黃（研。）</p>
<p>硫黃（研。）</p>
<p>太陰玄精石（味鹹者。）</p>
<p>硝石（研。）</p>
<p>代赭（杵碎細，如入湯用則綿裹。）</p>
<p>地黃汁（取自然汁，若用濕地黃則切。）</p>
<p>芎藭（即川芎。）</p>
<p>漢防己（紋如車輪氣連者。）</p>
<p>黃耆（去蘆。）</p>
<p>薏苡仁（去殼。）</p>
<p>檳榔（半生半煨。）</p>
<p>旋覆花（去梗。）</p>
<p>赤石脂（塊銼。）</p>
<p>禹餘糧（槌碎。）</p>
<p>連須蔥白（寸切。）</p>
<p>荊芥穗（去梗。）</p>
<p>茅根（洗銼。）</p>
<p>薤白（切。）</p>
<p>熟艾（炒焦碾末，以竹篩篩過。）</p>
<p>麝香（研。）</p>
<p>丹砂（研。）</p>
<p>肉豆蔻（煨。）</p>
<p>石蓮肉（炒。）</p>
<p>茴香（炒。）</p>
<p>丁香（不焙。）</p>
<p>枇杷葉（炙，刷去毛。）</p>
<p>大青葉（去根莖。）</p>
<p>秦艽（去蘆。）</p>
<p>吳藍（用葉。）</p>
<p>甘菊（須家園單葉者，或鄧州白菊亦佳。）</p>
<p>竹瀝（淡竹二尺長，截兩頭，以磚閣起，中間火燒，兩頭即竹瀝滴處，以碗盛之。）</p>
<p>生艾汁（如無，以水濃研熟艾亦得。）</p>
<p>牡丹皮（去心。）</p>
<p>大麻仁（炒鳴取出，冷地上攤以新磚，磨破，簸去皮，以密篩篩過，擇去殼。）</p>
<p>秦皮（銼，以湯浸，傾硯中碧色者真。）</p>
<p>犀角屑（懷中令暖，即杵碎，如無，以升麻代之。）</p>
<p>苦參（取皮。）</p>
<p>青黛（研。）</p>
<p>藜蘆（去蘆，炙。）</p>
<p>薔薇莖葉（切。）</p>
<p>五倍子（去內中蟲，炒。）</p>
<p>生射干（去須。）</p>
<p>豬脂（切。）</p>
<p>硼砂（研。）</p>
<p>殭蠶（炒，須白直者，而不濕黑者。）</p>
<p>草烏頭尖（去黑皮用之。若用烏頭，則皮並尖亦去之。炒焦紫色，惟荊芥散生用。）</p>
<p>硇砂（研。）</p>
<p>白礬（枯，與礬石同，惟硼砂散生用之。）</p>
<p>牙硝（生。）</p>
<p>霜梅上白鹽（無，以白鹽代之。）</p>
<p>焰硝（生。）</p>
<p>薤根（切。）</p>
<p>猳鼠矢（頭尖硬者。）</p>
<p>蘆根（去須，切。）</p>
<p>葛取粉（搗篩取之。）</p>
<p>生乾地黃（生乾者。）</p>
<p>躑躅（醋炒。）</p>
<p>貝齒（燒研。）</p>
<p>石菖蒲（去毛。）</p>
<p>獨活（去蘆。）</p>
<p>苦酒（米醋是也。）</p>
<p>手足指甲（裩隱處燒。）</p>
<p>沙參（去蘆。）</p>
<p>吳術（去皮。）</p>
<p>漏蘆葉（無以山梔子代之。）</p>
<p>樺皮（細切。）</p>
<p>沉香（不焙。）</p>
<p>乳香（研。）</p>
<p>真腦子（研。）</p>
<p>燈心（切。）</p>
<p>桑白皮（切。）</p>
<p>紅花子（槌碎。）</p>
<p>豬膽（用汁。）</p>
<p>菝葜（去須。）</p>
<p>零陵香（去梗。）</p>
<p>柏實（去殼，研。）</p>
<p>虎頭骨（鎊。）</p>
<p>陵鯉甲蝟皮（殺鬼丸內生用，余皆炙焦。）</p>
<p>羖羊角（鎊。）</p>
<p>樗雞（去翅足，無即以芫青代之，芫青一枚，可准樗雞三枚。）</p>
<p>空青（或無，以石碌代。）</p>
<p>螢火（焙。）</p>
<p>鬼箭（取羽，去木。）</p>
<p>東門上雞頭（焙。）</p>
<p>蒺藜（炒，以新磚磨去刺。）</p>
<p>鐵錘柄（入鐵槌燒焦者。）</p>
<p>車前草（切。）</p>
<p>生葛根（切。）</p>
<p>□參（去蘆。）</p>
<p>羚羊角（鎊，杵。）</p>
<p>寒水石（洗。）</p>
<p>前胡（去蘆。）</p>
<p>紫菀（去蘆。）</p>
<p>白茅根（去須，洗。）</p>
<p>白薇（去苗。）</p>
<p>亂髮（皂角水洗，以清水洗之。）</p>
<p>羌活（去蘆。）</p>
<p>白鮮皮（去心。）</p>
<p>生麥門冬（去心。）</p>
<p>牛膝（去蘆，酒浸三宿，夏間一宿。）</p>
<p>白石脂（燒。）</p>
<p>紫石英（光明者，研。）</p>
<p>粉霜（研。）</p>
<p>龍齒（研，須極大者。）</p>
<p>蛇蛻皮（纏竹柱上，慢火炙。）</p>
<p>小麥（淘。）</p>
<p>糯米（淘。）</p>
<p>茯神（去皮木。）</p>
<p>鉤藤皮（刮皮鉤用。）</p>
<p>蒼朮（去粗皮。）</p>
<p>青橘皮（去白。）</p>
<p>豬牙皂角（刮去黑皮，或酥，或蜜炙。）</p>
<p>牽牛子（半生半炒，一兩取末半兩，入一下。）</p>
<p>枳殼（麩炒，去穰。）</p>
<p>鹿角屑（杵。）</p>
<p>藕汁（切，研汁。）</p>
<p>生薑汁（用自然汁，惟不用滓。）</p>
<p>荷葉（焙。）</p>
<p>天南星（炮，惟荊芥散生用。）</p>
<p>不蚛皂角（去兩頭及皮子。）</p>
<p>巴豆（去皮心膜，或炒焦紫色，或用湯煮，研細，壓去油皆可，惟茵陳丸生用。趙泉黃膏去皮，槌碎。）</p>
<p>百合（去心。如入湯用，則水浸一宿，拍碎，去白沫。惟百合滑石散□□□□。）</p>
<p>麻黃湯末</p>
<p>桂枝□□（□□□藥方皆在可發汗證。□□□皆秤一半，和勻煎服。）</p>

<h2>不可作煮散方</h2>
<p>陽毒升麻湯</p>
<p>陰毒甘草湯</p>
<p>熱病乾薑附子湯</p>
<p>青筋牽柴胡地黃湯</p>
<p>赤脈㩌石膏地黃湯</p>
<p>黃肉隨玄參寒水石湯</p>
<p>白氣貍石膏杏仁湯</p>
<p>黑骨溫苦參石膏湯</p>
<p>溫噦茅根葛根湯</p>
<p>梓皮飲子</p>
<p>茅根橘皮湯</p>
<p>枇杷茅根湯</p>
<p>溫病壞後三黃石膏湯</p>
<p>敗壞別行附子鱉甲湯</p>
<p>以上除不可作煮散方外，凡湯劑言㕮咀者，如㕮咀菱藕之滓狀，今之粗末是也。凡粗末每服四錢，水一盞半，煮八分，濾去滓，得七分為準。內有半夏、附子為毒藥之類，每四錢，水二盞，入生薑三片，煎七分。內有或用朴硝，或用阿膠，或用飴糖，或用焰硝，或用雞子清，皆煎成湯後，去滓下之。內或用竹瀝煎者，每四錢，水一盞二分，煎至七分，下竹瀝三分，煎至七分。內或用大黃者，虛人入大黃同煎之；如難得通利人，每服四錢，水一盞半，煎至一盞，別入大黃半錢，同煎至七分；又難得利者，以湯浸濃大黃汁三二分同煎之，以取利為度。</p>
<p><u>政和歲次癸巳門人布衣魏炳編</u></p>

<h1>龐先生傷寒論序</h1>
<p>龐安常自少時喜醫方，為人治病，處其死生，多驗，名傾淮南諸醫。然為氣任俠，鬥雞走狗，蹴鞠擊球，少年豪縱事，無所不為。愽弈音技，一工所難而兼能之。家富多後房，不出戶而所欲得。人之以醫聘之也，皆多陳其所好，以順適其意。其來也，病家如市；其疾已也，君脫然不受謝而去。中年，乃屏絕戲弄，閉門讀書。自神農黃帝經方，扁鵲《八十一難經》，皇甫謐《甲乙》，無不貫穿。其簡策紛錯，黃素朽蠹，先師或失其意；學術淺薄，私智穿鑿，曲士或竄其文，安常悉能辯論發揮。每用以治病，幾乎十全矣。然人疾詣門，不問貧富，為便房曲齋，調護寒暑所宜，珍膳美蔬，時節其飢飽之度。愛老而慈幼，不以人之疾嘗試其方，如疾痛在己也。蓋其輕財如糞土，耐事如慈母而有常，似秦漢間任俠而不害人，似戰國四公子而不爭利。所以能動而得意。起人之疾，不可為數。他日過之，未嘗有德色也。其所總輯《傷寒論》，皆其日用書也。欲掇其大要，論其精妙，使士大夫稍知之。然未嘗遊其庭者，雖得吾說而不解；若有意於斯者，讀其書自足以攪其精微，故不著。著其行事，以為後序云。前序海上人諾為之，故虛其右以待。</p>
<p><u>元符三年三月，豫章黃庭堅序</u></p>

<h1>重雕宋刻傷寒總病論札記</h1>
<p>此書摘取張長沙之大要，辯論精妙。其有證而無方者，上溯《內經》，旁及他書，參以己見，為增損進退之法，實能發仲景未盡之意，而補其未備之方。是為龐氏之撰著，非僅述而不作也。故所引原文，每有刪削。觀諸家抄本，多有異同，或未見宋刻，傳寫互異；或依據張書，增補失真。故今將宋刻龐論翻雕，未敢輒改原文，即有抄本，義長者亦第摘取備考。別疏為札記附於後。丕烈又識。</p>
<p>序文：啟（薛本、顧本此上俱有「軾」字，居右。）再拜（薛本、顧本此上亦有「軾」字，略小。）</p>

<h2>後序</h2>
<p>二行：自少時（顧本無「時」字。）八行：皇甫諡（「諡」當作「謐」。）十行：悉能辯論發揮，每用以治病（薛本作「悉能辯明考正，用以治病。」）後一行：不問貧富，為便房曲齋，調護寒暑（薛本作「不問貧賤富貴，均為調護寒暑。」）後二行：時節其飢飽之度（薛本無「之度」二字。）後三行：耐事（薛本作「耐子」。）後四行：他日過之（薛本「過」作「見」。）後九行：故不著著其行事（顧本不重「著」字。）</p>
<p>目錄第四葉前半頁宋刻原缺，各本亦無，按目錄計缺一葉有半，而此葉板心刻四葉，不知目錄前尚有文字否。今因無從補刊，故仍其缺，不敢妄作也。</p>

<h2>卷第一</h2>
<p>一葉，十行：冰也（案「也」字衍，薛本、顧本俱無。）後三行：其有（顧本「有」作「人」，非。）又勞房（薛本「房」作「力」。）</p>
<p>三葉，十行：故須（薛本作「又須」，按「又」字是。）後三行：而變暑病（顧本「病」下有「所宜」二字。）後十行：有平居者（薛本作「有卑濕居者」。）</p>
<p>四葉，後八行：揮散（薛本、顧本「揮」俱作「憚」。）後十行：工（薛本此上有「粗」字。）</p>
<p>五葉，三行：欲溫（原本「欲」字破損，今照顧本補。薛本、張本皆作「飲」，非。）</p>
<p>六葉，後一行：足（薛本作「更」，按「更」字是。）後十行：虛寒（顧本作「虛汗」，非。）</p>
<p>七葉，六行：一二日發，以上連風府（薛本上有「當」字，「以」下有「其脈」二字。）</p>
<p>八葉，後四行：大湯劑（原本「大」作「人」，今依薛本改。）</p>
<p>十葉，九行：自微汗（薛本「自」作「身」，非。）後十行：大便已鞭（薛本「鞭」作「硬」。按原本「硬」作「鞭」者甚多，不能悉正，皆當從「硬」為是，後仿此。）</p>
<p>十一葉，後五行：而又脈（顧本「又」作「反」。）後八行：當二三日發（原本作「二二日」，誤，今依薛本、顧本改。張本作「三四日」是。）後九行：而聾（薛本作「而耳聾」，顧本作「耳聾」。）後十行：相載（薛本作「相搏」。）</p>
<p>十二葉，後九行：傷寒三四日，陽為盡（薛本作「傷寒三日，三陽為盡」，顧本作「傷寒三四日，三陽為盡」。按當依薛本是。）</p>
<p>十四葉，五行注：故芍藥（薛本作「但以芍藥」。）十行：於寐也（宋本有脫誤。按仲景原文當作「但欲寐」也。）</p>
<p>十五葉，四行：故以小辛之藥溫散（顧本作「故以溫散之藥」。）</p>
<p>十六葉，後五行：已合治之（薛本作「已即合消之合治之」。顧本「已」作「匕」。按當作「各別搗篩已，合治之。」薛、顧本皆誤。）</p>
<p>十七葉，後四行：熬香（薛本「香」作「干」，非。）</p>
<p>十八葉，八行：氣上衝，心中痛熱（顧本重一「心」字，是。）</p>
<p>十九葉，二行：當不得食（薛本、顧本「得」俱作「能」。按「能」字是。）</p>
<p>二十葉，後二行：次治其厥（顧本「次」作「須」。）後八行：永宜此方（薛本、張本「永」俱作「亦」。）</p>
<p>廿一葉，五行：醫（顧本作「逆」。）</p>
<p>廿二葉，四行：與太陰（顧本無「與」字。按原本「與」字疑衍。）</p>

<h2>卷第二</h2>
<p>二葉，七行：指梢（薛本「梢」作「稍」。）八行：增寒（顧本作「憎」，是。）後六行：翕翕熱（薛本「熱」上有「發」字。）</p>
<p>三葉，三行：憎寒（原本作「增」，誤。今依薛本改。以下「憎寒」及後三行皆仿此。）</p>
<p>四葉，六行注：當發證（顧本「發」下有「汗」字。）又注：青龍湯似桂枝證（薛本「湯」下有「者」字，「似」作「以」，按「似」字不誤。）</p>
<p>五葉，一行：勢如（薛本「如」作「加」。按當作「加」是。）</p>
<p>六葉，八行：黑夌（薛本「夌」作「麥」。）後四行：及（顧本作「皮」。）後九行注：蜯粉（薛本「蜯」作「拌」，非。）</p>
<p>七葉，一行：以失（薛本「以」作「似」。）後四行注：此若軟緊而遲（原本「若」字破損，照薛本補。張本同顧本作「此浮緊而遲」，並無「若」字，誤甚。）</p>
<p>八葉，後一行：少氣逆（薛本「氣」字下重一「氣」字，按「氣」字當重為是。）後十行：氣微絕（顧本「微」作「欲」，是。）</p>
<p>九葉，後七行：谷不得前（薛本「前」作「消」，非。）</p>
<p>十葉，一行：三勝（薛本「勝」作「升」，顧本同。按當作「升」為是。）後八行：五倍子（薛本作「五味子」，顧本同。案小青龍湯本方有五味子，無五倍子，當作「五味子」為是。）</p>
<p>十二葉，一行：去仁參（薛本「仁」作「人」，顧本同。按當作「人」為是。）三行：攴結（薛本「攴」作「支」。）</p>
<p>十四葉，後七行：互（原本作「玄」，誤。顧本作「弦」，薛本、張本均作「互」。按「互」字是，今改。）</p>
<p>十五葉，後十行：大柴胡胡湯（薛本不重「胡」字，顧本同。按重者乃衍字也。）</p>
<p>十八葉，後一行：在壯熱，但主利（薛本「在」作「發」，「主」作「下」。按當從「發」從「下」為是。）</p>
<p>十九葉，四行：表證在（薛本「在」上有「仍」字。）</p>
<p>二十葉，六行注：閞上閞下（薛本、顧本皆作「關上關下」。）後二行：咽躁（薛本同。顧本「躁」作「燥」，按當作「燥」為是。）後三行：方有（薛本同，顧本「有」作「在」。按當作「在」為是。）</p>
<p>二十一葉，五行：拘忌（顧本「忌」作「忽」。）後二行：煩喘（顧本「喘」作「渴」。）</p>
<p>二十三葉，八行：微喘（顧本「喘」作「熱」。）</p>
<p>二十四葉，二行：閞陰（顧本作「關」。）四行同。</p>
<p>二十五葉，一行：桂枝甘草湯主之（薛本作「桂枝甘草龍骨牡蠣湯主之」。）四行：並宜火劫治之（薛本「宜」下有「依」字。）後一行：自為黃（薛本「自」上有「身」字，「自」作「目」。）後四行：蓄血若去（原本「若」作「君」，誤。今照各本改。）</p>

<h2>卷第三</h2>
<p>三葉，後八行注：為陽（薛本「為」下有「發於」二字，張本同。）</p>
<p>五葉，十行：發後無汗（薛本「發」下有「汗」字，顧本同。）後三行：引小腹入陰筋者（各本同。按此乃仲景《傷寒論》原文，但原文引上有「痛」字，此「痛」字似不可少。）</p>
<p>六葉，三行注：雜發汗（薛本同，張本「雜」作「可」按當作「可」為是。）八行：如被杖（薛本，張本「如」字上俱有「身痛」二字。按此亦仲景原文本有此二字。）</p>
<p>後八行：勿以煙出（薛本「以」作「使」。）</p>
<p>七葉，五行：通逐（薛本、張本「逐」俱作「達」。）八行：裡熱藥（薛本、顧本「里」俱作「裹」，按當作「裹」為是。）</p>
<p>八葉，四行：為狀（薛本「為」下有「病」字。）六行：其面乍黑乍白（薛本、張本「面」字下皆多「乍赤」二字，「乍白」下皆多「蝕於」二字。）七行：咽乾（薛本、張本「咽乾」下皆多「苦參湯洗之」五字。）八行注：雄黃云云止（張本另提行起，有「苦參半斤，槐白皮四兩，狼牙根四兩。上銼，以水五升，煎三升半，洗之」云云。二行方另提行起，接「病者脈數」云云。薛本此方附註於上。）又則熱（薛本、張本「則」俱作「無」。按《金匱》本文作「無」。）後二行，細末一行後（張本多「通治狐惑，黃連一兩，藎草二兩」。上為末，每服四錢，水一盞半，煎八分，去滓，溫溫服之，云云。三行薛本亦多此方，附註於上。）後五行：美（薛本、顧本俱作「美」。）後九行：浙然（各本俱作「淅」。）</p>
<p>九葉，四行：兩漬字（原本均作「潰」，誤。今照各本改正。）</p>
<p>十葉，二行：如煎洗（薛本、張本「煎洗」俱作「前浸」。按下有「漬」字，若用「浸」字則重意，當作「如前洗」為是。）後五行：所至（薛本「至」作「致」。）後八行：反不惡寒（按仲景原文無「不」字。）</p>
<p>十一葉（按此葉非宋刻原刊。）三行：而故（薛本、張本「故」俱作「熱」。）又：而避害（原本「避」字模糊，今依薛本、張本補。）又；而為郡，若汗太多（原本模糊。薛本、張本「郡」俱作「汗」，「大」俱作「太」。顧本「郡」作「□」，「大」亦作「太」。）八行：強項（薛本、張本俱作「項強」。按「項」字原本系壞字，作「⿱曰八」，而抄本誤作「曰」。今依薛本、張本改作「項」字。顧本亦誤作「曰」。）又：熱令（薛本、張本俱作「令熱」。）後九行：齗齒（各本俱作「齘齒」。案「齗」字誤，當作「齘」為是。）後十行注：方在可下門中（薛本同，張本顧本，「門」俱作「證」。）</p>
<p>十二葉，一行：濕證（張本「證」作「候」。）三行注：水證（張本「水」上有「可」字。按「可」字當有。）五行：身汗出（薛本、張本「身」下俱有「重」字。）後六行：濕家下之，額上汗出微喘，小便不利者，死。（按此乃仲景原文也，但原文乃「小便利者，死。」以額汗微喘，為孤陽無根而上脫，加以小便利，為陰氣不藏而下泄，故主死也。若小便不利，乃濕家本症，何云死耶？薛本、張本並同。又案：尤在涇《金匱心典》曰一作「小便不利者，死。」謂陽上游而陰不下濟也，亦通。）</p>
<p>十三葉，三行：含水畜（薛本「畜」作「搐」。）六行：可與杏仁薏苡湯（薛本作「可與麻黃杏仁薏苡甘草湯」。）後七行：故使之耳（薛本、張本「之」俱作「然」。）後八行：則極（薛本作「痛劇」。）</p>
<p>十四葉，三行：溢水（薛本「溢」作「添」，顧本作「溫」。）五行：暍證（張本「證」作「候」。）後二行：弦而細，芤而遲（薛本無兩「而」字。）後三行：口前開（薛本作「口開前」。）後四行：反熱甚（薛本「反」作「發」。）</p>
<p>十五葉，六行：宜苦酒、艾（原本「苦」作「若」，誤。今照薛本、顧本改。按苦酒即醋也。）九行：茯苓桂枝湯主之（薛本作「茯苓桂枝甘草大棗湯主之」。）後八行：酒二盞，煎二盞四分，薛本同。張本作「酒二盞，煎一盞四分。」顧本作「酒二盞四分，煎二盞。」後九行：膀胱（薛本作「臍旁」。）</p>
<p>十八葉，後九行：理中治中焦（薛本「治」上有「者」字。）</p>
<p>二十一葉，後八行：伸吟（薛本、張本「伸」俱作「呻」。按當作「呻」為是。）</p>
<p>二十二葉，後四行：肉豆⿱艹𭁿（薛本「⿱艹𭁿」作「蔻」，顧本作「谷」，誤。）</p>
<p>二十五葉，六行：血不止（原本作「上」，今依薛本改正。）</p>
<p>二十六葉，九行：䘌瘡（薛本作「䘌」。按此誤當作「䘌」，後四行同。）</p>
<p>二十九葉，一行：草一分（薛本、張本「草」上皆有「甘」。按原本脫去。）</p>
<p>三十葉，六行：且至晚（薛本「且」作「旦」。）</p>
<p>三十三葉，二行：灰燒（薛本無「燒」字。）三行：陰頭（薛本「陰頭」下俱有「穴」字。）七行：陰卯（薛本「卯」作「卵」，是。）後一行：去皮尖（薛本「去皮核」。按當以「去皮核」為是，蓋大棗亦無尖可去也。）</p>

<h2>卷第四</h2>
<p>一葉，八行：為暑病其熱（此五字原本破去，系描寫出者。）九行（此行內除「傷」字、「而」字、「三陽傳」三字，余皆描寫者。）十行：如見（按「如」字原本破去，描作「如」字。薛本「如」作「而」。）</p>
<p>二葉，十行：豉（半此二字原本破去，今依薛本、張本補。）後五行：見形（薛本「形」下有「證」字。）後六行：豆壞一如（薛本「如」下有「候」字，張本在「壞」字下。）</p>
<p>三葉，三行：腎熱病者（按《內經》下有「頤先赤」三字。）後五行：洗淅（薛本同，張本、顧本俱作「先淅」。按此亦《內經·刺熱》文本作「先淅」，似當從「先」為是。）後六行：頭痛不任（各本皆同。按《內經》作「頭痛不堪」。）後九行：胻酸（薛本「胻」作「腳」，非。按《內經》作「䯒酸」。）</p>
<p>四葉，二行：亡逆（薛本、顧本「亡」俱作「無」。）後四行：苽蒂（薛本、顧本「苽」俱作「瓜」。按當作「瓜」為是。）</p>
<p>五葉，五行注：焉（薛本、張本俱作「云」，顧本作「也」。）八行：走疰（薛本「疰」作「注」。）後一行：五拾粒（薛本、張本下皆有「去皮」二字。）</p>
<p>七葉，五行：甘草（薛本無此味。）</p>
<p>八葉，五行：謫居（薛本「謫」作「調」，非。）十行：肉豆⿱艹𭁿（薛本同前。）後五行：七銖（薛本作「三錢」，又注於上方曰：「二十四銖為一兩，合今之三錢，是古之七銖也。」）</p>
<p>十葉，二行：每（各本皆作「毒」。按「毒」字是。）七行：何由衰散，大腑久秘（薛本「大」作「六」，顧本「衰」作「表」。按當作「衰」為是。）</p>
<p>十一葉，三行：隱𤺋（薛本「𤺋」作「疹」。）</p>
<p>十二葉，四行：杏仁（麩炒原本「炒」字破去，今依薛本、顧本補。）後八行：一盞（薛本「盞」下有「小」字。）後九行：永不發（薛本「發」下尚有一「發」字。）後十行：或下後（薛本同。顧本「下」字下有「利」字。）</p>
<p>十三葉，四行：憎寒（原本作「增」誤。今依各本改。）後十行：白濃（薛本同，顧本作「膿」。按當作「膿」為是。）</p>
<p>十四葉，後十行：自汗（薛本、張本同，顧本作「自安」。）又：黑厭（薛本「厭」作「靨」。）</p>
<p>十五葉，四行：嗽或喉痛（薛本「或」作「而」。）</p>

<h2>卷第五</h2>
<p>二葉，八行：手太陰水（薛本、顧本「水」俱作「金」。按當從「金」為是。）後二行：相形（薛本「形」作「刑」。）後九行注：庵園（薛本「園」作「圓」。）</p>
<p>三葉，後四行：鼻竅中（薛本「竅」下有「內兩陷」三字，「中」下有「旁」字。）後七行：以紙筋探鼻中，嚏之（薛本作「以紙筋紉鼻中，嚏出之。）</p>
<p>四葉，七行：柏實（薛本此下尚有「射干、枳實」二味。）十行：三日服之（薛本、張本同。顧本「之」作「遇」，疑誤。）後四行：蝟（按原本作「螺」，誤。以後修治藥法內所引證之當作「蝟」，今改正。薛本亦作「蝟」。顧本作「騾」，亦誤。）</p>
<p>五葉，二行：五兵白刃，盜賊凶害（薛本此八字接連上行「諸毒」下，而「者冠軍」云云另提行起。「者」又作「昔」。）後三行：住丸（薛本「住」作「五」。）又：左闢（各本俱作「臂」。）後八行：地深三尺，與深同（張本「地深」之「深」作「闊」。薛本「尺」下有「廣」字，顧本「與」作「余」。）</p>
<p>六葉，四行：反（張本、顧本俱作「及」。）又，其病（薛本「病」下有「相反」二字。）七行：府（薛本作「胻」。）後五行：合自（薛本「自」作「身」。）</p>
<p>七葉，四行：所侵（薛本「侵」下有「內熱」二字。）又：咽塞（薛本「塞」下有「聲嘶」二字。）後三行：閞格（薛本「閞」作「開」。顧本作「闗」，是。）後五行：毒氣（薛本「氣」字逕接「其病相反」四字，而下又多「若腑虛則陰邪所加」八字，方接「頭重頸直，皮肉強痹」八字。「頸」字原本作「項」，「痹」字原本所無。）後六行：頸下（薛本「下」作「側」。）</p>
<p>八葉，三行：腧（原本作「踰」，誤。今依各本改。）七行：狀（薛本作「秋」。）後五行：生班（張本、顧本皆作「斑」。）</p>
<p>九葉，五行：陽毒（薛本「陽」字上有「則為」二字。）六行：彭（薛本、顧本皆作「膨」。）</p>
<p>十葉，後六行：煎去（薛本「去」作「取」。）</p>
<p>十一葉，八行：汗（原本誤作「汁」，今依薛本、張本改。）後一行：洞（薛本、張本同，顧本作「□」。）</p>
<p>十三葉，後五行：素傷於寒，因復傷於寒（薛本上「寒」字作「風」。張本下「寒」字作「熱」。）後十行：米中病（薛本「米」作「未」，「未」字下又多「來」字，疑衍。張本、顧本皆作「未」。）</p>
<p>十四葉，九行：病苦（薛本「苦」作「若」。）十行：又（顧本作「及」。）後十行：素傷於熱（薛本「熱」作「寒」。）</p>
<p>十五葉（按此葉宋本原缺，張本、顧本亦皆無，今照薛本補全。又以顧抱沖所抄王宇泰活字本校其異同，亦載於此。）二行：本太云云（顧抄本連上。）四行：寸口云云（顧抄本亦連上。）又：數滑（顧抄本作「滑數」。）五行：陽盛怫鬱（顧抄本「陽」作「熱」，「怫」作「沸」。）七行：如搏（顧抄本「如」作「相」。）八行注：亦（薛本原作「六」，疑誤。今照顧抄本改。）十行：湯字下（顧抄本有「不可作煮散」五字。）又：治如前證（顧抄本此四字在前一行下。）後一行：麻黃（顧抄本此下有「去節」二字。）後二行：㕮咀（此二字顧抄本缺。）後三行：深師方曰（此四字顧抄本無。）後四行：呻吟（顧抄本此下有「而已」二字。）後五行：未解（此下顧抄本有「今且用解毒湯則拘索不瘥」十一字。）又：古方「古」字（顧抄本作「而」。）又：思「思」字上（顧抄本有「意」字。）後六行：解字（顧抄本作「救」。）又：故用三黃石膏湯（顧抄本「故」字上有「是」字。「三黃」兩字無，「湯」字下空一格，有「前用三黃石膏湯」一句。）後七行：論曰（顧抄本作「龐曰」。）後八行：身目（顧抄本作「身眼」。）後九行：湯字下（顧抄本空一格有「前方」二字。）</p>
<p>十六葉，六行：異語（薛本「異」作「譫」。）後三行：蜘蟵（薛本、顧本俱作「踟躕」。）</p>
<p>十七葉，九行：荒言（薛本「荒」作「譫」。）後四行：加附子嚾下（薛本「嚾」作「灌」。）</p>
<p>十八葉，六行：畜搦（薛本「畜」作「搐」。）後一行：芫花（薛本下有「米醋浸搦，干瓦上炒」八字。）</p>

<h2>卷第六</h2>
<p>四葉，後六行：大躁渴，石膏（薛本「渴」原作「湯」，刪去。「石膏」下原有「飲子」二字，又塗去旁改「栝蔞湯」。顧本作「大躁石膏湯」。）</p>
<p>五葉，後八行：喉痹（原本誤作「候」，今改。）後九行：腹潢（薛本「潢」作「滿」。）</p>
<p>六葉，一行：中央（顧本「央」作「先」。）九行：腹溜（薛本「腹」作「復」。）後十行：足□指（原本此字破損。薛本作「中」，張本作「捲」，顧本亦作□。）</p>
<p>七葉，二行：節後（原本此二字破損，照張本補。薛本作「火」，誤。）又：十五（原本此二字亦破損，照薛本、張本補。）後二行：足𪞘（薛本、顧本皆作「冷」。）後八行：利里黑（薛本「里」作「黧」。張本作「黧黑」，無利字，顧本同。按當從「黧黑」為是。）</p>
<p>八葉，五行：得脈（薛本「得」字下有「汁」。按「汁」字當是「汗」字之誤。）七行：熟寐而卒（原本無「卒」字，今依薛本、張本補，顧本亦無。）</p>
<p>九葉，二行：得汗者（薛本、張本「者」下俱有「生」字。）六行：代脈日死（薛本、張本「日」上俱有「一」字。）後五行：汗汗（薛本原作「汗汗」，抹去一字。張本、顧本俱不重）。</p>
<p>十葉，後五行：沖愈（薛本、張本「沖」俱作「和」。）後九行注：太谿（原本誤作「大絡」，今照各本改。）</p>
<p>十一葉，一行：太谿（原本「溪」誤作「貉」，今改。）八行：吹則（薛本「吹」作「次」，顧本作「久」。）九行：通氣（薛本「氣」作「脈」，按當從「脈」是。）</p>
<p>十二葉，一行：覺（此字原本「半」字破去，描寫作「學」，各本亦作「學」。按文義似當作「覺」，不當作「學」，故以意改之。）七行：華佗本意也（薛本、張本句上皆有「非」字。按此處文義似當有「非」字。）後四行：複陰（薛本、顧本「複」俱作「復」，按當從「復」為是。）</p>
<p>十三葉，六行：故敢（原本作「故敗」，誤，依薛本改。）九行：淮（薛本、顧本俱作「准」，張本作「准」。）後三行：密窖（薛本、張本「窖」俱作「守」。）又：方枝（薛本「枝」作「技」，顧本作「板」。）後十行：其緝（張本「其」作「具」。）</p>
<p>十四葉，五行：頗知（薛本「知」作「著」。）六行：明然（薛本、張本「明」俱作「炯」。）十行：雖（薛本作「惟」。）後二行：略意（薛本、張本「意」俱作「述」。）</p>
<p>十五葉，五行：令王公（張本、顧本「令」俱作「今」。）又：今增至四五百（薛本、張本此六字俱在上「每兩千四五」句下。）</p>
<p>十六葉，七行：古引（薛本作「引古」。）後七行：安不（薛本、張本「安」俱作「寧」。）又：千凂（各本「千」俱作「干」。）</p>

<h2>傷寒論音訓</h2>
<p>十七葉，後三行：苦侯切（原本作「若使切」，誤，各本亦誤，今依原本校字作「苦侯切」改。按查《玉篇》「芤」字本音「苦侯切」，知前人所改非妄，故從之。）</p>
<p>十八葉，二行：牡豕、牡鼠（原本「牡」皆誤作「壯」，今改正。）十行：金貍□捕物（按原本□系破損，下半字略有痕跡，似「善」字。薛本、張本俱作「之」，疑非。）</p>

<h2>修治藥法</h2>
<p>二十葉，後十行注：取自然汗（「汗」當作「汁」。）</p>
<p>二十三葉，一行：□參（原本破損，以藥味次第考之，當是「玄參」。）後九行：□□□□（原本破損，不可考，薛本、顧本亦無。張本作「研細用」。）後十行：□□（□□□□□□原本破損，薛本、張本「□□」作「湯末」，「□□□」作「同上二」，「□□□」作「中立練」。按「立練」二字有誤。）</p>
<p>二十四葉，五行：黑膏溫（「膏」當作「骨」。）</p>
<p>另修治藥法第二十葉至二十三葉止，此四葉宋刻上排藥味上俱空一字，今刻誤作頂格並證。</p>
<p><u>道光癸未歲吳門黃氏士禮㞐開雕同邑施南金書</u></p>

<h1>題宋刻龐安常傷寒總病論後</h1>
<p>郡中藏書家，所謂朱奐文遊者，余猶及見其人，家多書。以老故，大半散去，最後一單中有龐安常《傷寒總病論》，亦第與群籍並出。主人不以為宋刻，估人之買者，亦未知為宋刻也。𪾡置坊間，有識者過而識之，以青蚨五星易歸。自是我輩之好言收藏者，皆爭相購矣。是書先至小讀書堆顧抱沖家，既而五硯樓袁壽階知之，余亦知之。因壽階先與議易，故歸之。抱沖先見是書，遂先錄其副。抱沖所錄，余未之見，見其友人施君少谷手錄本。少谷時在抱沖家教其子弟習書法，故見而借抄，抄畢，原書歸壽階，余從之倩工影鈔一本。統而計之，宋刻一，影宋刻者，抱沖、少谷與余有三矣。厥後余與壽階以影鈔易宋刻，是書遂為百宋一廛中物。年來力絀，舉而贈諸藝芸書舍，不意壽階之影鈔者，亦於其身後展轉歸藝芸，於是刻與鈔盡為他人所有，余則一無所有矣。刻洪氏《集驗方》之冬，余忽得一夢，有人謂余：何不再刻龐《傷寒》？醒而異之，遂商諸藝芸，思借鈔入刻，奈藝芸不允讓影鈔付梓，而允借宋刻備校。適少谷哲嗣稻香，欣然掇贈其先人手澤付諸剞劂，於是復以宋刻較影鈔，而知少谷之影鈔為功不小也。三卷三十三葉，唯少谷影鈔本有之，餘本都缺。想少谷鈔後，抱沖始鈔，鈔時偶失之。自是宋刻缺此葉，已後影鈔本皆失之。非余之重刻，不知宋刻缺此葉；非少谷之影鈔，不知宋刻之原未缺此葉也。書之經人拆散傳錄，其弊有如此者，不可不警也。其中五卷十五葉，宋本缺，惟薛性天家鈔本有之，字跡行款與原本殊，未知何據。後見抱沖所鈔者中亦有此葉，謂是從王宇泰活字本補入。今余復刻，據薛本補，據顧本校，存其異同可耳。宋刻不無誤處，余復借張蒔塘家藏鈔本，薛性天家藏鈔本、顧容安家藏鈔本，雖未知其同出一源與否，而字有異同，悉為標出。可從者，或改正文以就之；未敢信者，或存校語以參之。余友張君訒庵，素諳醫理，共相參訂，以定校勘數十條。其任檢閱而草創者，余長孫美鏐之力也。是書自王宇泰活字印行之後，未見重梓，即王本相傳，止有二百部，故行世絕少。余侄曾有之，為友人借去被焚，故未及一校為憾。朋好中皆想望是書，渴欲一見，故命工梓行。至於是書之深奧，昔安常友人蘇、黃兩公已詳言之，不復丐當代名流之儒醫兼通者贅一言已。</p>
<p><u>道光癸未仲春黃丕烈識</u></p>

<h1>附錄</h1>

<h2>跋龐安常傷寒論</h2>
<p>古之良醫，皆不預為方，何也？病之來無窮，而方不能盡，使不工者惑其疑似而用之，則害大矣。惟仲景《傷寒論》論病處方，纖悉必具，又為之增損進退之法，以豫告人。嗟夫！仁人之用心，且非通神造妙者不能為也。龐安常又竊憂其有病證而無方者，續著為論數卷，其用心為術，非儷古人，何以及茲。淮南人謂龐安常能與傷寒說話，豈不信然哉。予將去黃，欒仲實以黃別駕後序求予書，而仲實之父為醫，得龐君之妙，謂予言何如也。（見張耒《柯山集·卷四十四》）</p>
