<header data-type="book">
<h1>幼科匯訣直解</h1>
</header>

<h1>首卷</h1>

<h2>初誕（【附】保嬰經驗方法）</h2>
<p>嬰童在胎，稟陰陽五行之氣以生成，五臟六腑百骸之體悉具，必借胎液以滋養之。受氣既足，自然分娩。初離母體，口有液毒，啼聲□□，忌用軟綿裹指，拭去口中惡汁，雖是良法，但倉卒之際，或有不及如法者。古人有黃連法、朱蜜法、甘草法，用之殊佳。余又集錄墮地時至七日之內，採其最要者，簡而當，詳而明，有先後原委，切要著明。其良法實實可防於未然，此亦不過幼吾之一片婆心焉耳。</p>

<h2>初生不能發聲經驗良法</h2>
<p>初生不能發聲，謂之夢生，切不可斷臍。以綿衣包兒，用火油紙捻燒臍，俟待氣回，方可斷也。</p>
<p>又有將胞衣連帶用火灸，令暖氣入兒腹，兒即醒矣。</p>
<p>又初生無啼聲，是肛門為脂皮所塞，用簪通開即出聲矣。</p>
<p>《外臺秘要》云：見生不啼，由產難少氣也。取臍帶向身卻捋之，令氣入腹，仍呵至百度，自啼矣。又方：用菖蒲搗生汁入口，即活。</p>
<p>生兒啼聲不出及聲不轉者，舌下有膜如石榴子，或口中上齶有泡連。以指瓜摘斷之，用葦刀子摘割亦可。微有出血即活，若血出多者，磨好京墨塗之。</p>
<p>小兒因產難，產下不哭，微有氣者，以父母真氣度之即活。</p>
<p><u>甘草法</u>　凡妊娠臨月，預辦好甘草指許一節，拍碎，以水二蜆殼，煎一蜆殼，以綿裹蘸，令兒吮之。若吐出惡物為佳，服一蜆殼不吐，即不須服。不問小兒虛實皆可服。</p>
<p><u>黃連法</u>　臨產時，先以黃連五錢、甘草二錢五分，熬濃汁，生下即與二三匙，再加硃砂細末調汁，抹兒口，打盡腹中屎，次用朱蜜方。</p>
<p><u>朱蜜法</u>　葛氏方云：先以甘草、黃連拭口，吐其惡汁，稍定更與朱蜜安神定魄，亦解惡毒。若面赤青白，啼聲不亮，即不須服。</p>

<h2>斷臍良法</h2>
<p>《產家要訣》云：兒出胎，洗後方斷臍帶，則不傷水生病。斷臍須捋汁令盡，否則寒濕入腹，或作臍風。又須於四五寸處以線緊扎，以帛包裹，以口咬臍。蓋紮緊則兒血不貫於胞衣，自然萎縮，弗脹而易下，即或延緩數日，亦無大害。口咬則斷臍不犯乎刀剪，自無冷氣內侵，可免腹中吊痛之虞。如或天時寒冱，坐草艱難，母子勞傷元氣者，先扎臍帶，以油紙捻點火燒斷，令暖氣入兒腹中，此又為起死回生之妙法。近用蘄艾灸臍亦妙。所留臍帶不可太長，太長則難乾而傷肌，且恐引外風為臍風。亦不可太短，太短則逼內而傷臟，或致成腹痛而夜啼。只以兒之足掌長短為度，乃酌中之法。</p>
<p>《造道集》云：兒始生宜淨洗，則燥血不留摺路之間，可令皮膚光澤。然後剪臍。臍乃初生之蒂也，剪之宜長七寸，用粗線縛緊。剪不長，多生臍風；縛不緊，多生虛腫。其臍至七日乾者，元氣足也。此寸即以嬰兒之中指一節屈之，是一寸。凡兒生下，每日夜將清湯或苦茶蘸軟絹攪兒口內，如齒邊有白點，即以指爪或細針挑破，銀針更妙，取桑樹內汁濾清塗之，永無驚風、撮口之患。</p>

<h2>裹臍法</h2>
<p>《千金論》云：裹臍，須令白縑操軟，方四寸，新綿厚半寸，與帛等合之，急緩得中，急則令人吐哯，不可輕解。解時閉戶下帳，冬間用火，令帳內溫暖，以溫粉敷之。若臍不幹，燒絳帛敷之，用當歸為末敷之，屢驗。</p>
<p>張煥論云：嬰兒斷臍後，宜用厚帛裹護，若乳母不慎，或因浴水入，或兒尿繃中□□濕氣所浸，或當風解視，七日內遂有此病，令兒臍腫不能乳哺，多啼，即成臍風也。臍腫，汁出，多啼，單用當歸身，切薄片，為細末，敷之極驗。</p>

<h2>浴兒方</h2>
<p>宜取益母草五兩藥銼碎，煎沸溫溫浴之，不生瘡疥，又可祛寒氣風濕。或用荊芥四兩煎湯浴之，亦上妙。</p>
<p>《產家要訣》云：兒初出胎，浴洗湯內宜入食鹽少許，洗畢拭乾，以膩粉一錢許，用研細，摩其遍身及兩脅，然後繃裹，既不畏風，又散諸氣。今北方三朝方洗，將繃裹之兒又復解開，多致感冒驚風。蓋洗三朝，雖云古禮，而防患實在變通。只依前法，出胎便洗，自是穩當。</p>
<p>《保生要方》云：小兒初生候浴水不得，且以綿絮包裹，大人懷中暖之，浴後仍當如此。雖暑月，綿絮亦宜漸漸去之。乍離母腹，未可冒寒氣也，宜預煎沸湯以甑貯之。臨時熱洗，不犯生水，則兒不生瘡。</p>

<h2>乳兒方</h2>
<p>《保生要法》云：小兒初生若多睡，勿強與乳，自然長而少病。</p>
<p>《顱囟經》云：夏中盛熱時，乳母浴後，便與兒乳，使兒成胃感熱、赤白痢。定息良久，熟揉乳之可也。</p>
<p>《千金論》云：乳兒不可過飽，滿而溢，則成嘔吐。大飽，當以空乳吮之即消。若乳來猛，取出再乳。凡初乳時，須當捏去宿乳。夏不去熱乳，令人嘔逆；冬不去冷乳，令兒咳痢。母與兒臥，以臂之枕，令乳與頭平，則兒不噎。母欲寐，即奪其乳，恐睡熟則不知飽足，而成嘔吐也。</p>
<p>母有娠，乳兒必患胎黃。母大醉，乳兒必患驚風。母傷飽，乳兒必患喘急。母新房，乳兒必患疳瘦。母大怒，乳兒必患癲狂。母新吐，乳兒必患□□。</p>
<p>兒睡，忌乳母鼻風吹囟門，成風疾。</p>

<h2>哺兒方</h2>
<p>葛氏云：兒生三日，應開腹，助穀神，壯胃氣，用粟米煮熟，研如乳汁，與兒大豆許，慎不可與雜藥。</p>
<p>乳者，奶也。哺者，食也。乳後不得與食，哺後不得與乳。乳食相併，難以克化。大則成癖，小則成積，疳氣自此始耳。</p>
<p><u>消乳丸</u>　治小兒乳哺飲食過度吐乳。</p>
<p>砂仁　陳皮　三稜（煨）　莪朮（煨）　神麯（炒）　麥芽（各五錢）　香附（一兩）</p>

<h2>護養兒方</h2>
<p>《巢氏病源》云：小兒始生，肌膚未實，宜單衣不宜過暖，暖則筋骨緩弱，易發瘡瘍。宜舊絮不宜新綿，新則汗出表虛，易受寒邪。宜見地氣，猶宜見風日，不見地氣、風日，則肌膚柔軟，易得損傷。嘗見富貴之家，重茵疊被，日在懷抱中，雖數歲亦未能行。而田舍小兒，終日暴露，絕無他病。譬如草木生於深山峻谷及大澤中，容易合抱，至園圃奇材異卉，縱加培壅，多有秀而不實者，豈貴賤之理有異哉。</p>
<p>《小兒精要》云：初生小兒不得用油膩手繃裹。春忌覆頂裹足，夏忌飲冷食冰，冬忌火灸衣被。要得小兒安，常受飢與寒。真至言也。</p>
<p>又云：小兒腸胃脆窄，若稠黏乾硬、酸鹹辛辣，一切魚肉水果、濕麥燒炙、煨炒煎煿，俱是發熱難化之物，皆宜禁絕。婦人無知，畏其啼哭，無所不與，積成痼疾耳，是悔何及。語云：惜兒須惜食。記之，記之。</p>
<p>《養子真訣》云：吃熱莫吃冷，吃軟莫吃硬，吃少莫吃多。真妙法也。</p>
<p>又云：乳子須調護，看承莫縱馳。乳多終損胃，食舊即傷脾。被厚非為益，衣單正所宜。無風頻見日，寒暑順天時。</p>

<h2>噤風撮口臍風（【附】治米碎、白臘、黃臘風）</h2>
<p>初生噤風、撮口、臍風，三者一種病也。噤風者，眼閉口噤，啼聲不出，舌上聚肉如粟米狀，吮乳不得，口吐白沫，大小便皆通。蓋由胎中感受熱氣，流毒於心脾，故形見於喉舌間也。撮口，面目黃赤，氣息喘急，啼聲不出。蓋由胎氣挾熱，兼風邪入臍，流毒心脾之經，故令舌強唇青，聚口撮面，飲乳有妨。若口出白沫而四肢冷者，不可救。其或肚脹青筋，吊腸卵疝，內氣引痛，皆腸鬱結不通致之，治法貴乎疏利。撮口最為惡候，而臘內見之尤急。臍風者，斷臍之後，為水濕風冷所乘。風濕之氣入於臍，而流於心脾，遂令肚脹臍腫，身體重著，四肢柔直，日夜多啼，不能吮乳，甚則發為風搐。若臍邊青黑，撮口不開，是為內搐，不治。爪甲黑者即死。或手握拳，噤口不開者，不治。小兒臍風、撮口，初生七日內者，百無一生。坐視具斃者，良可憫哉。此法極驗，世罕有知者。凡患此證，看兒齒齦上有小泡子如粟米狀，名米碎風。成片白者，俗名白臘風。黃者，名黃臘風。三者俱宜以銀針刺齒齦。硬者，宜密針之。又舌下重舌，或木舌，亦用銀針挑斷舌下筋，去其惡血，以新綿拭去，不可使其吞入。次以鹽湯、京青布包裹手指拭淨，用神應末搽之，家傳末方，用青黛三錢，硼砂一錢，鵝管石一錢，麝五釐，冰片五釐，上為末，搽入口中。凡噤風、撮口、米碎等風立愈。又□服將軍丸，月內臍風、撮口、一切胎風俱可祛。如有真正牛黃，加半分入上藥末，搽口上，妙。</p>
<p><u>將軍丸</u>　治月內臍風、撮口、□□木舌、重舌、米碎、□□□風並宜服之。</p>
<p>大黃（二兩，水五碗，煎至一碗，綿濾去滓，熬成膏）　天麻　甘草（各三錢）　玄明粉（三錢）　全蠍（酒洗，去頭足，二錢）　白殭蠶（炒過，一錢五分）　膽星（二錢）</p>
<p>上為細末，入大黃膏，和蜜為丸，芡實肉大。每用一丸，白湯化服。利下胎毒痰糞，七日之內，諸風悉除矣，神驗。</p>
<p>繆仲淳云：撮口之症，必先大便，熱須用生犀角、羚羊角磨，和蜜汁飲之，有效。急則用大黃二錢，甘草二錢，白水煎服。</p>
<p><u>撮風散</u>　治初生小兒七日不食乳，名撮口。</p>
<p>白殭蠶（七條，炒，去系嘴）</p>
<p>上為末。蜜調，抹兒口內。</p>
<p><u>辰砂膏</u>　治眼閉口噤，啼聲不出，吮乳不得，口吐白沫，大小便皆通。</p>
<p>辰砂（三錢）　硼砂（三錢）　玄明粉（二錢）　牙硝（一錢）　全蠍（五分）　珍珠末（五分）　麝香（一分）</p>
<p>上為末，和畢用好油紙封裹，自然成膏。每服一豆粒許。諸驚，金銀薄荷煎湯下；朝熱，甘草湯下。或用豬乳調敷乳上，令兒吮下。</p>
<p><u>五通膏</u>　治小兒臍風、撮口用。</p>
<p>生地黃　生薑　蔥白　蘿蔔子　田螺肉</p>
<p>上共搗爛，搭臍上四圍，一指厚，抱住候一時久，即有屁下泄而愈。</p>
<p><u>香螺膏</u>　治小兒臍風，腫硬如盤。</p>
<p>用田螺五個，入麝少許，搗爛，搽臍上。須臾再易，腫痛立消。</p>
<p><u>獨神散</u>　治小兒臍風。</p>
<p>用全蠍七個，去蠍尾。每個用中一節，共七節。火烤乾，為細末，乳汁送下。小兒頭上微汗出即已。</p>
<p><u>定命散</u>　治初生兒噤口不乳。</p>
<p>蟬蛻（十四個，去嘴腳）　全蠍（十四個，去毒，酒洗，炙）</p>
<p>上為細末。入輕粉少許，和勻，乳汁調，乳前服。</p>
<p><u>蜈蚣方</u>　治小兒口噤不開，不能吮乳。</p>
<p>赤腳蜈蚣（半條，去足，炙令焦，為末）　麝香（少許）</p>
<p>上以豬乳和之。蓋豬乳能獨主小兒口噤不開。</p>
<p><u>蜘蛛方</u>　治小兒口噤不開，不能吮乳。</p>
<p>蜘蛛一枚，去足及口，炙令焦，細研，又用地雞七枚，研碎，擦牙齦上下即開。</p>
<p>上用豬乳一合，和為三服，徐徐灌之，神妙。</p>
<p><u>劫風膏</u>　治臍風撮口、牙關緊閉、痰涎壅盛、咽喉腫痛、急慢驚風，皆效。</p>
<p>威靈仙（去蘆，一兩五錢，細銼，焙研為末）</p>
<p>上用皂角三兩，去皮弦，槌損，挪溫水一碗，絹濾過，慢火熬若稀糊，入醇醋半兩，再熬三五沸，去火候冷。用前藥末亭分乳缽內，杵勻，丸芡實大。先用鹽梅肉擦牙根，次以此膏一丸或二丸溫白湯濃調，抹入左右牙關內，即開。續進別藥，宜用瓦器熬。解風痰壅盛，薑湯下；咽喉腫痛，茶清調下或薄荷湯下。</p>

<h2>重舌木舌鵝口滿口生粒風</h2>
<p>重舌者，舌下有像小舌也，因胎毒上攻所致。木舌乃胎熱上衝，其舌腫滿。鵝口，熱毒並攻口內，牙根上下生白屑如粟，以銀針挑破。其重舌、木舌，俱以銀針挑斷舌下筋，刺去惡血，宜用化毒丹、雄片散搽服。</p>
<p><u>化毒丹</u>　治胎熱、夜啼、重舌、木舌、鵝口。</p>
<p>犀角（銼末）　甘草　生地　京墨　□□</p>
<p>各等分，為末，蜜丸，芡實大。白湯化服一丸。</p>
<p><u>雄片散</u>　搽重舌、木舌、鵝口白瘡，皆效。</p>
<p>雄膽　硃砂（各二錢）　胡黃連（一錢五分）　冰片（一分）</p>
<p>上為細末。搽之。</p>
<p>又　重舌藥末</p>
<p>黃丹　硼砂（各一錢）　殭蠶（五分）　冰片　麝香（各四釐）</p>
<p>上為末。以銀針挑舌下紫根，搽之立效。</p>
<p><u>木舌藥末</u>　亦用銀針挑舌下紫根，去其惡血。</p>
<p>黃連　黃柏　青黛　辰砂　牙硝（各一錢）　硼砂　牛黃　雄黃（各五分）　冰片（一分）</p>
<p>上為細末。搽之立愈。</p>
<p><u>連翹飲</u>　治胎熱、胎毒，月內臍風、撮口，重舌、木舌，米碎、黃臘諸風，夜啼，滿口生瘡，清火化痰，月內一切諸症，悉能主之。</p>
<p>歌曰：大連翹飲（荊）芥防風，赤芍歸（須）柴（胡甘）草木通，活石（黃）芩蟬（蛻）梔子瞿（麥），牛蒡車前（子）最有功。</p>
<p>宜加川連、酒洗全蠍二味，燈心、薄荷為引，白水煎，每服二錢。《準繩》加紫草煎，熱甚加大黃、全蠍妙。</p>
<p>又方　治重舌，舌下腫如核皆治。</p>
<p>川連　當歸（須）　陳皮　竹茹　法半夏　桔梗　赤茯苓　生地黃　甘草</p>
<p>上銼。地黃根、薄荷引，水煎服。</p>
<p>又二方　治木舌。</p>
<p>金銀花　防風　荊芥　牛蒡子　薄荷　梔子　玄參　桔梗　炒芩　玄明粉　大黃</p>
<p>上等分，生地黃根引，白水煎。</p>
<p><u>千金龍膽湯</u>　治胎驚，月內氣盛發熱，臍風撮口壯熱，血脈盛實，四肢驚掣發熱，及變蒸不解，並諸驚癇，悉皆治之。</p>
<p>龍膽草　釣鉤藤　柴胡　黃芩　桔梗　芍藥　茯苓　甘草（各五錢）　大黃（煨，二錢五分）</p>
<p>《直指方》加防風、麥冬以導心熱，黃芩減半。</p>
<p>上銼散。每服二錢，水一盅，煎半盅服之，以漸加服，得利即止，北棗煎服。</p>
<p><u>天麻丸</u>　治因斷臍後，為水濕風冷所乘，入於臍，流於心脾，遂令肚脹臍腫，四肢柔直，日夜多啼，不能吮乳。此藥利驚化痰，凡鉤腸、鎖肚、撮口，並宜服之。</p>
<p>南星（炮，二錢）　白附子（炮）　牙硝　天麻　五靈脂　全蠍（焙，各一錢）　輕粉（五分）　巴豆霜（二分五釐）</p>
<p>上末，糊丸，麻子大。每服三丸，薄荷、生薑煎湯下。</p>

<h2>夜啼</h2>
<p>夜啼有三，有胎熱，有陰寒臟冷，有客忤驚觸。胎熱，虎口紋紫，見燈愈啼，宜化毒丹，見前頁。或渾身壯熱夜啼，宜碧玉散。陰寒者，或感冒寒氣，或兒臟腑虛寒，腹痛即啼，面白而青，大便或青或不化，宜茱萸丸。或陰盛，於夜則冷動，冷動則為陰極發躁，寒盛作疼，所以夜啼不歇也，鉤藤飲。客忤驚觸者，面青紋青，若恐懼之狀，琥珀抱龍丸、膏辰散。</p>
<p><u>碧玉散</u></p>
<p>柏葉（五分）　南星　殭蠶　全蠍　鬱金　雄黃（各一分）</p>
<p>上末。每服五分，薄荷蜜水調下。</p>
<p><u>茱萸丸</u>　治胎冷夜啼。</p>
<p>吳萸　南木香（各二分）　甘草（五錢）</p>
<p>上為末，薑汁打老米糊丸，芡實大。白湯化下一丸。</p>
<p><u>鉤藤飲</u></p>
<p>釣鉤藤　白茯苓　川芎　當歸　木香　甘草　白芍</p>
<p>上各等分，白水煎。</p>
<p><u>琥珀抱龍丸</u>　治驚觸，夜啼，各驚風俱治，兒可常服。真廣東方。</p>
<p>琥珀　天竺黃　白茯神　山藥（微炒，各三錢）　人參　枳殼（炒，各一錢）　枳實（麩炒，一錢）　膽星　硃砂（各五錢，另研粉草一錢五分）　檀香（五分）　金箔（五十片）</p>
<p>上硃砂、金箔為衣，余為末，薑汁打和，蒸餅為丸，芡實肉大，當風處自干。燈心、薄荷湯下。</p>
<p><u>膏辰散</u>　治驚風、客忤、夜啼。</p>
<p>石膏（一兩）　硃砂（三錢）</p>
<p>上末。一歲三分，月加一分五釐，燈心、薄荷湯下。</p>
<p><u>安神散</u>　治小兒夜啼不止，狀若鬼祟。</p>
<p>蟬蛻（七個）</p>
<p>用下半截為末，薄荷湯下，入酒少許，妙。</p>

<h2>面部辨症要訣</h2>
<figure>
<img alt="正面圖">
</figure>
<p>額上紅多熱燥多，若逢青色急驚疴。形如昏暗多應死，青貫山根奈若何。囟門腫起定為風，此候應知最是凶。忽陷成坑如盞足，不過七日命應終。印堂青色搐驚多，紅主心驚白主和。或見微微輕紫色，只因客忤症相過。山根青現兩連驚，紫赤傷脾吐瀉因。紅色夜啼聲不歇，若逢白色死之形。年壽黃為吐瀉基，若然㿠白是為虛。兩頰赤為啼哭熱，更兼黃色吐因之。鼻準微黃紫庶𠘧，枯黃死症里應危。人中短數緣吐利，黑形唇反定難醫。鼻門黑燥渴難禁，面黑唇青命難存。肚大青筋皆惡候，更嫌身有直身紋。唇上鮮紅潤者平，燥乾紅熱即黃生。自形失血青驚重，黑紋繞口死之徵。承漿青色食時驚，黃多吐逆是真形。煩躁夜啼青主吉，《金匱》青生亦主驚。青衄生於左太陽，須驚一度見推詳。赤是傷寒微燥熱，黑青多是乳傷多。右邊青衄不須多，有則頻驚怎奈何。紅赤為風抽眼目，黑青三日見閻王。忽見眉根紫帶青，看來立便見風生。青紅碎雜風將起，久病眉紅是死形。白睛青色主肝風，積熱黃形不及瞳。若見黑暗黃色見，傷寒發疽足其蹤。兩頰風池二處黃，躁啼吐逆色鮮紅。更加火煅多躁煩，肺家客熱死非常。兩臉黃為痰塞咽，青色肝風紅主熱，赤是傷寒黃主淋。赤紅二色分兩頰，左腮紅為痰氣盛，右腮赤為傷寒症。面而黧黑危急形，面帶紅微驚且熱。面白黃多吐利因，面青唇白急驚成。面紅唇赤是傷寒，面目皆黃濕熱端。面黃弄舌心煩躁，面腫虛浮咳利干。兩眉紅主夜啼多，眼胞浮腫咳之久，不然因疳瘧利疴。瞑目昏昏欲睡兮，不轉睛面半露微。縱開目內無光彩，此症由來號慢脾。耳輪乾燥骨蒸容，聤聤耳內耳流膿。耳輪冰冷知麻症，耳後紅絲縷亦同。鵝口口中皆白垢，脾熱必然多口臭。魚口鴉聲最不祥，舌唇黑色應難救。口張出舌是驚風，重舌木舌熱於中。舌上生舌陽毒結，舌上芒刺病難醫。牙齦白滑白蠟風，舌上黑色命將休。舌短難言死可知，咬牙寒戰痘瘡傳。牙齦出血是牙鮮，齒嚼咬人不久延。牙槁焦枯脾熱致，牙床癢□咬牙疳。牙關緊急驚風使，涎來青白曰寒虛，壅塞風痰吐盡奇。呵欠面黃脾土虛，面青呵欠是驚迷。面紅呵欠為風熱，呵欠久病陰陽離。</p>
<p>額上屬心，鼻準屬土，左腮屬肝，右腮屬肺，下頦屬腎，五臟之色，俱現於面。心火赤，脾土黃，肺金白，腎水黑，肝木青，各形其色以主之。詳視其潤澤焦枯何如，潤澤者生，焦枯者死。其五臟之竅，心開竅於舌。紅紫，心經熱盛也。舌心黑，火亢極也。舌心淡而苔活，虛冷也。脾開竅於口。唇乾燥，風熱也。淡無血色者，虛弱也。口左抽搐，痰盛夾驚也。口右抽搐，夾熱風發也。口臭牙腫，脾胃熱也。準頭，鼻珠也，脾土主之。紅燥，脾火盛也。或黃黑者，脾氣絕而死也。肺開竅於兩鼻孔，皮毛主之。感冒風寒者，噴嚏流涕也。鼻屎乾硬者，火熱也。腎開竅於耳，耳鳴，腎不足也。兩耳焦枯而黑者，病危不治也。肝開竅於目。如睛向上不下，名天吊，風也。口眼扯左，脾家痰動也。眼無光彩者，不治之症。但凡小兒，大率為病，肝與脾經，驚風痰熱，四症八候，當詳辨而須知焉。</p>

<h2>推拿燈燋法度</h2>
<p>小兒牙關緊閉，將兩頰車揉之，則自開矣。</p>
<p>開首推法，宜從額心掐至承漿，以掐代針，行血氣。</p>
<p>口眼相邀扯右邊，此是肝風動極，將兒左耳珠墜左去，即平。</p>
<p>如口眼扯居左邊，此是脾家痰動，將兒耳珠墜扯右去，即平。</p>
<p>如眼向上不下，此名天吊風，將兩耳珠往下一掐一扯，即轉。</p>
<p>嬰兒三朝七日之內，如見眼角、鼻準、人中有微黃而口放乳縮緊者，此臍風也。其藥治方法，載於首卷。又宜用燈心火於囟門四燋<img class="字" src="_files/001.svg" alt="">，喉下一燋，心演三燋∴，眉心、承漿、人中、兩手大指少商各穴各一燋，臍輪六燋<img class="字" src="_files/002.svg" alt="">，臍心口一燋，臍風便止，而黃即退，此治臍風妙法也。但臍風最緊，誠為可畏。其症鎖喉撮口，俗云魚口風，原因父精母血中之胎毒所發也，是以十無一生。或有外因風濕所傷，或因尿在衣內，遂襲成風。或因臍落之後，浴水入臍所致。或臨盆產母立高，小兒落地，胞尚未來，臍帶吊動肚皮脂膜，以致血脈沸騰，急脹如鼓，風痰潮作，更襲外風，而鎖喉、撮口、噤風之症，險而難醫治矣。</p>

<h2>小兒諸症用燈火穴法</h2>
<p>嘔逆吐乳，人事昏迷，心窩穴一燋，中脘七燋<img class="字" src="_files/003.svg" alt="">，腹下一燋，虎口、曲池各一燋。</p>
<p>兩眼翻白，青筋，氣吼，撮口，吐沫，驚風也。鼻梁、心演、兩手總筋、兩足鞋帶穴各一燋。</p>
<p>慢驚風，因遂日被唬，雨濕所傷，為恐所致。露睛昏睡，咬牙口歪，心間迷悶，多於吐瀉後得之。宜掐住眉心良久，太陽、心演推之，又用燈火於眉心、心演、虎口、湧泉各穴各一燋。</p>
<figure>
<img alt="正身圖">
</figure>
<figure>
<img alt="身背圖">
</figure>
<p>寒熱不均，有傷脾胃，飲食太過，胃不克化，氣吼肚膨，腹上青筋，兩眼翻白，用燈心火於心演三燋…，囟門直下眉心三燋，肚臍四燋<img class="字" src="_files/001.svg" alt="">，兩膝鞋帶、總筋各一燋。</p>
<p>冒寒受風，風痰湧結，吼氣不絕，口吐白沫，四肢亂舞，眼目翻白，用燈火斷虎口一燋，囟門四燋<img class="字" src="_files/001.svg" alt="">，口角四燋<img class="字" src="_files/001.svg" alt="">，心演、臍下各一燋。</p>
<p>夜啼，肚青筋，腹脹如鼓，哭聲大叫，一哭一死，手足熱跳。用燈火斷眉心一燋，太陽、太陰各一燋，囟門四燋<img class="字" src="_files/001.svg" alt="">，淚下一燋，平心三燋…。</p>
<p>小兒有因乳哺被唬，或吃冷物傷卻榮衛，大叫一聲一死，眼閉一掣一跳，聞響即驚，心經有熱。用燈火斷囟門<img class="字" src="_files/001.svg" alt="">、口角<img class="字" src="_files/001.svg" alt="">各四燋，肩井、𦙒肘、手掌心、心演、鼻梁、鞋帶各一燋。又用車前子擂服。</p>
<p>嬰兒有因乳母當風睡臥，或月內受風，痰湧心口，落地眼紅，撮口捏拳，頭偏左右，哭不出聲，腹上青筋氣急。用燈火斷喉下直至胸前下<img class="字" src="_files/004.svg" alt="">，繞臍四燋<img class="字" src="_files/001.svg" alt="">。腹上青筋亦用燈火斷之，百勞穴二燋。</p>
<p>天吊驚，因母乳在風處食乳所傷，使風痰經於胃口，頭仰後，腳後伸，手後伸，眼目向上。用燈火囟門四燋<img class="字" src="_files/001.svg" alt="">，肩井二燋，總筋、鞋帶各一燋，淚下二燋，繞臍四燋<img class="字" src="_files/001.svg" alt="">。又宜用鵝一隻，縛腳掛住取□鵝口之涎，與飲即愈。</p>
<p>運水入土，能治脾土虛弱，小便赤澀。如脾土虛瀉，即運土入水。</p>
<p>總筋屬土，總五行以應脾胃，主溫熱，外通板門，周流一身，壅塞之症，諸驚掐此。</p>
<p>掐心一節及勞宮一節，推三關能出汗，後做黃蜂入洞，心在中指尖。</p>
<p>天河水在總筋下橫三指位，掐，名清天河，治心經有熱。</p>
<p>橫紋掐至中指尖，治吐。</p>
<p>無名指屬肺，掐肺一節及離宮之節，止咳嗽，離宮至乾要輕。</p>
<p>小指屬腎，掐腎一節及小橫紋、大橫紋，退六腑之熱，治小便赤澀。</p>
<p>運五經，治五臟六腑氣不和。</p>
<p>運四橫，和上下不足之氣，氣急氣喘，肚腹疼痛。</p>
<p>大指屬脾，掐脾一節，屈指為補，治小兒虛弱，飲食不進。</p>
<p>板門在大指節下五分，掐，治氣促、氣攻。</p>
<p>橫紋兩旁乃陰陽二穴，就橫上以兩大指中分兩旁，瀉二便不通並治臟腑虛弱。</p>
<p>運八卦，開胸膈之痰結，左轉止吐，右轉止瀉。</p>
<p>天心穴乃乾宮，入寸許（左天心，右勞宮），止天吊、驚風、口眼歪斜，運之效。</p>
<p>清天河，分陰陽，赤鳳搖頭，掐中指一節及指背一節，止咳嗽。</p>

<h2>掌面推法捷徑須知歌</h2>
<figure>
<img alt="掌背穴圖">
</figure>
<p>一掐心經二勞官，推上三關汗即通。如若不來加二扇，黃蜂入洞助其功。側掐大腸推虎口，螺螄穴用助生功。內傷泄痢並寒瘧，肚脹痰吼氣可攻。一掐脾經屈指補，艮震重揉肚脹宜。肌瘦面帶黃色是，飲食隨時可進之。腎經一掐二橫紋，推上為清下補盈。上馬穴清同此看，雙龍擺尾助其功。肺經一掐二為離，離乾二穴重按之。中風咳嗽兼痰積，起死回生便餉時。一掐腎水下一節，便須二掐小橫紋。退之六腑涼將至，肚膨閉塞一時寧。總筋一掐天河水，潮熱周身即退涼。再加水底撈明月，終夜孩啼即止聲。運行八卦開胸膈，氣喘痰多即便輕。板門重揉君記取，即進飲食立安寧。眼翻掐小天心穴，望上須當掐下平。望下即宜將上掐，左邊掐右右當明。運土入水身羸瘦，土衰水盛肚青筋。運水入土膨脹宜，水衰土盛眼將睜。陰陽二穴分輕重，寒熱相攻止瘧痢。痰熱氣喘陰重解，無吼無熱用陽輕。運動五經驅臟腑，隨時急運四橫紋。</p>
<p>大指往下直推為瀉脾，旋推為補。</p>
<p>熱則旋推，從坎入艮，寒則旋推，從艮入坎。</p>
<p>掐五指背節及重重揉捻，醒人事，治驚唬，百病離身。</p>
<p>靠山穴在大指下，掌根盡處腕中，能治瘧疾痰壅。</p>
<p>一扇門、二扇門在中指兩旁，夾界下半寸是穴，治熱不退，汗不來，掐此則汗。</p>
<p>威靈穴在虎口下兩旁岐有圓骨處，遇卒死症，揉掐即醒，有聲則生，無聲則死。</p>
<p>精靈穴在四指、五指下半寸，夾界是穴，揉掐治痰壅、氣促、氣攻。</p>
<p>二人上馬在小指下、側里對為宮是穴，治小便赤澀，清補腎水。</p>
<p>外勞在指下、正對掌心是穴，治糞白不變，五穀不消化，肚腹泄瀉。</p>
<p>一窩風在掌背根盡處是腕中，治肚痛極效，急慢驚風掐即轉，又掐中指尖止瀉。</p>
<p>陽池穴在掌背根下三寸是，治風痰頭痛。</p>
<p>外運八卦，能令渾身酥通。</p>
<p>腳上諸穴治症</p>
<p>承山穴，小兒往後跌，將此穴久掐久揉，即愈。</p>
<p>鞋帶穴，小兒往後仰，掐此效。</p>
<p>解谿穴，治驚吐瀉，掐此即止。</p>
<p>若小兒驚急掣跳，寒戰咬牙，將小兒兩腳大指一節久揉久掐即止。又在大敦穴拿之，或鞋帶穴對拿即轉。</p>
<p>委中穴，小兒身往前撲，掐此穴身便直。身若向後，即將鬼眼穴掐住即止。</p>
<p>撲忝穴，治小兒吼喘，將此穴處上推下掐即止。如小兒急死，將口啄之則回生，名老虎吞食。</p>
<p>揉龜尾、揉臍，治小兒水瀉、膨脹、臍風、急慢等症。如小兒病弱，在大敦按之無脈，又在解谿再按或無脈，則難醫也。如兩處有脈，可將人參一二分與服，即轉，不可太多，醫須知之。</p>

<h1>卷之一</h1>

<h2>小兒病原論</h2>
<p>夫小兒者，幼科也。初生者，曰嬰兒。三歲者，曰小兒。十歲者，曰童。子有大小之不同，病有淺深之各異，形聲色脈之殊，望聞問切之間，若能推究於斯，可謂神聖工巧者矣。蓋望者，望貌辨其色也。假如面部左腮屬肝，右腮屬肺，額屬心，鼻屬脾，頦屬腎。肝病則面青，肺病則面白，心病則面赤，脾病則面黃，腎病則面黑，是乃望而知之也。聞者，聞聲知其症也。假如肝病則聲悲，肺病則聲促，心病則聲雄，脾病則聲慢，腎病則聲沉，此屬於臟；又大腸病則聲長，小腸病則聲短，胃病則聲速，膽病則聲清，膀胱病則聲微，此屬於腑，是乃聞而知之也。問者，問病究其原也。假如好食酸則肝病，好食辛則肺病，好食苦則心病，好食甘則脾病，好食鹹則腎病，好食熱則內寒，好食冷則內熱，乃問而知之也。切者，切脈察其病也。假如小兒三歲以下有病，須看男左女右手虎口三關。從第二指側看，第一節名風關，第二節名氣關，第三節名命關。辨其紋色紫者屬熱，紅者傷寒，青者驚風，白者疳病，黑者中惡，黃者脾之困也。若見於風關為輕，氣關為重，過於命關則難治矣。至三歲以上，乃以一指按寸關尺三部，常以六七至為平。添則為熱，減則為寒，浮洪風盛，數則多驚，沉遲為虛，沉實為積，是乃切脈而知之也。大抵小兒之疾，大半胎毒而少半傷於食也。其外感風寒之症，十一而已。蓋小兒之在胎也，母飢亦飢，母飽亦飽，辛辣適口，胎氣隨熱。情欲動中，胎息輒躁。或多食煎煿，或恣味辛酸，或嗜欲無節，或喜怒不常，皆能令子受患。其為母者，胎前既不能謹節，產後又不能調護，是以惟務姑息，不能防微杜漸。或未滿百晬而遂與鹹酸之味，或未及周歲而輒與甘肥之物，百病由是而生焉。小兒脾胃本自嬌嫩，易於傷積，且如乳食傷胃則為嘔吐，乳食傷脾則為吐瀉，既久則成慢驚，或為疳病。乳食停積則生濕痰，痰則生火，痰火交作則為急驚，或成喉疳。痰火結滯則成癇吊，或為喘嗽。胎熱胎寒者，稟受有病也。臍風撮口者，胎元有毒也。鵝口口瘡者，胃中有濕熱也。重舌木舌者，脾經有實火也。走馬牙疳者，氣虛濕熱也。愛吃泥土者，脾臟生疳也。胎驚睡啼者，邪熱乘心也。變蒸發熱者，胎毒將散也。丹毒者，火行於外也。蘊熱者，火積於中也。中惡者，外邪乘也。睡驚者，內火動也。喉癉者，熱毒也。眼痛者，火盛也。膿耳者，腎氣上衝也。鼻塞者，因冒風邪也。頭瘡者，熱毒攻也。臍瘡者，風濕中也。尾骨痛者，陰虛痰也。諸蟲痛者，胃氣傷也。陰腫疝氣者，寒所郁也。盤腸氣痛者，冷所搏也。脫肛者，大腸虛滑也。遺尿者，膀胱冷弱也。尿濁者，濕滯脾胃也。便血者，熱傳心肺也。下淋者，膀胱鬱熱也。吐血者，榮衛氣逆也。小便不通者，有陰有陽也。大便秘結者，有虛有實也。解顱鶴節者，胎元不全也。行遲發遲者，氣血不充也。龜胸者，肺熱脹滿也。龜背者，風邪入脊也。語遲者，邪乘心也。齒遲者，腎不足也。瘧者，膈上痰結也。痢者，腹中積也。咳嗽者，肺傷風也。喘急者，痰氣盛也。心痛者，蟲所齧也。腹痛者，食所傷也。內傷發熱，則口苦舌乾也。外感發熱，則鼻塞聲重也。腹脹者，脾胃虛弱也。腫者，土虧水旺也。黃疸者，脾胃濕熱也。斑疹者，陰陽毒氣也。自汗者，氣虛也。積者，有常所、有形之血也。聚者，無定位、無形之氣也。胃者，主納受也。脾者，主運化也。脾胃壯實，四體安寧。脾胃虛弱，百病蜂起。故調理脾胃者，醫中之王道也。節戒飲食者，卻病之良方也。驚疳積熱者，小兒之常病也。望聞問切者，醫家之大法也。若夫療疾用藥如箭，箭中鴻心者，則又可以心悟而不可以言傳也。孟子所謂梓匠輪輿，能與人規矩，不能使人巧，斯言得之矣。</p>

<h2>辯蒸變論</h2>
<p>兒誕生後，三十二日一變蒸，六十四日二變蒸。變者，變生五臟；蒸者，蒸養六腑，長血氣而生精神，益智慧也。三百二十日，十變蒸畢，神智有異於前也。其蒸變燒熱，形狀似驚，耳尻俱冷，口內上唇有白泡如魚目粟米大者，是也蒸變之候。口唇舌色俱照尋常無異，燒熱雖有重輕，精神卻不喪失，口氣必不暴戾，輕則三四日解，重則六七日平，不可妄投藥餌，聽其自愈者妥。</p>
<p><u>入門審候歌</u></p>
<p>觀形察色辨因由，陰弱陽強發硬柔。要知有熱肚皮求，鼻冷便知是瘡疹。渾身皆熱是傷寒，上熱下冷傷食病。</p>
<p>五指梢頭冷，驚來不可當。若逢中指熱，必定是傷寒。中指獨自冷，麻痘證相關。女右男分左，分明仔細看。</p>
<figure>
<img alt="面部五臟定位圖">
</figure>
<p>下頦屬腎水，北</p>
<p>左腮屬肝木，東</p>
<p>額上屬心火，南</p>
<p>鼻準屬脾土，中</p>
<p>右腮屬肺金，西</p>
<p><u>觀面部五色歌</u></p>
<p>面赤為風熱，面青驚可詳。心肝形此見，脈證辨溫涼。脾怯黃疳積，虛寒𭼞白光。若逢生黑氣，腎敗命須亡。</p>
<p><u>觀面五臟形色歌</u></p>
<p>心　心經有冷目無光（太陰黑，目無光彩，此心經冷也），面赤須言熱病當（面頰赤色，此為心有熱也），赤在山根驚四足（山根赤色，心經主風，下至準頭惡也），積看虛腫起陰陽（三陰三陽虛，肺心有積也）。</p>
<p>肝　肝經有冷麵微青（面青為肝受冷，主發驚也），有熱眉胞赤又臨（眉上有紅赤，為肝有熱也），髮際白言驚氣入（髮際至印堂略白者，為肝驚也），食倉黃是積果深（眉上有紅，亦為肝有熱也）。</p>
<p>脾　脾冷應知面色黃（面黃印堂反白者，為脾冷也），三陽有病熱為殃（三陽上白者，為脾熱也），青居髮際生驚候（髮際及印堂色青者，脾驚也），唇口皆黃是積傷（上下唇黃為脾受積也）。</p>
<p>肺　肺受面白冷為由（白色在麵皮及人中或青者，皆肺冷也），熱赤人中及鼻頭（人中及鼻頭有赤者，肺有熱也），青在山根驚四星（山根青色是肺受驚也）。熱居髮際能為仇（髮際亦赤色，乃有積也）。</p>
<p>腎　面黑常知腎臟寒（面帶黑者，腎有冷也），食倉紅是熱須看（食倉紅者，腎有熱也），風門黃可言驚入（風門黃者，腎有驚也），兩目微沉積所平（兩目微沉，是腎有積也）。</p>
<p><u>虎口三關脈紋圖</u></p>
<figure>
<img alt="正掌圖">
</figure>
<p>三關在第二指側看第三節。</p>
<p>風關第一節，寅位</p>
<p>氣關第二節，卯位</p>
<p>命關第三節，辰位</p>
<p>虎口，叉手處是也</p>
<p><u>三關紋色主病歌</u></p>
<p>紫熱紅傷寒，青驚白色疳，黑時因中惡，黃積困脾端。</p>
<p>又：青色大小曲，人驚拜四足。赤色大小曲，水火飛禽蹼。</p>
<p>紫色大小曲，傷來面魚肉。黑色大小曲，脾風微作搐。</p>
<p><u>小兒指脈歌</u></p>
<p>小兒食指辨三關，男左女右一般看。皆知初風中氣候，末是命關易亦難。要知虎口氣文脈，倒指看紋分五色。黃紅安樂五臟和，紅紫依稀有捐益。紫青傷食多虛煩，青黑紋時症候逆。忽然純黑在其間，好手醫人心膽寒。若也直上到風關，粒米短長分兩端。如槍沖射驚風至，分作指又有數般。虧反里順外為逆，順逆交連病已難。又頭長短有可救，如此醫人仔細看。孩兒無事忽大叫，不是感風是天吊。大叫氣促長聲粗，誤吃熱毒悶心竅。急須吐下卻和脾，若灌驚藥直堪笑。</p>

<h2>急驚</h2>
<p>夫急驚者，多由小兒氣血怯弱，肌膚軟薄，神氣未備，臟腑未全。在捧抱者，愛護如執玉捧盈之類，不令疏虞可也。若彼掀其惡逆之音，凶猛怪詫之物，觸犯小兒，則致面青口噤，或聲嘶而厥差，過則容色如故，良久復作。其身熱面赤，口乾引飲，口鼻中氣熱，大小便黃赤色，惺惺不睡，牙關緊急，壯熱涎潮，上竄反張，搐搦顫動，唇口眉眼眨引頻並，其脈浮數洪緊，蓋熱盛則生痰，痰盛則生風，偶因驚則發耳。此急驚，屬於肝木風邪，痰熱有餘之症。治宜清涼苦寒□□之藥，以敗毒散之類及鎮驚治之。</p>
<p>□□□□治症。</p>
<p>□□□□□□血，兩足擺跳，肚腹抽動，或神緩而摸體尋衣，或□篤而神昏氣促，噴藥不下，通關不嚏，心中熱痛，大叫者，不治。</p>
<p><u>敗毒散</u>　治急驚發搐，一切冒感風寒，頭疼發熱，咳嗽鼻塞，聲重，眼上視等症。</p>
<p>天麻　白附　全蠍　殭蠶　地骨皮　川羌活　獨活　柴胡　前胡　赤茯苓　川芎　桔梗　枳殼　甘草</p>
<p>上姜三片，水煎服。加防風、荊芥，名荊防敗毒散，亦好。</p>
<p><u>家傳祛風至寶散</u>　治小兒驚熱發表，冒感諸熱症。</p>
<p>防風　赤芍　薄荷　川芎　歸鬚　甘草　玄明粉　大黃　炒梔仁　連翹　桔梗　麻黃　荊芥　活石　石膏　川羌活　獨活　桔梗　枳殼　前胡　柴胡　天竺黃　川連　天麻　白附　殭蠶　全蠍　膽星</p>
<p>各等分，為末。俱用燈心薄荷湯下。</p>
<p><u>通關散</u>　治諸驚風，牙關緊急，服藥不下用。</p>
<p>生半夏　牙皂角　細辛</p>
<p>等分為末。吹鼻。</p>
<p><u>破關散</u>　治牙關緊急，無門下藥。</p>
<p>生南星末（五分）　冰片（少許）</p>
<p>為末。擦牙，合熱便甦醒。</p>
<p><u>稀涎散</u>　治諸驚風，忽然若醉，四肢不收，痰涎搐搦，氣關不通。</p>
<p>牙皂角（一錢）　礬　生半夏（各五分）</p>
<p>牙關緊閉不能通，細末湯調最有功。</p>
<p><u>急驚丸</u>　治一切潮熱，急驚風痰，客忤痰盛等症。</p>
<p>天麻　全蠍　川羌活（各一錢）　膽星（五錢）　天竺黃（三錢）　辰砂　明雄黃（各二錢）　殭蠶（炒，一錢）　白附（五分）　麝（二分）</p>
<p>上末，蜜丸，龍眼核大，金箔為衣。燈心薄荷湯下。</p>
<p><u>鎮驚丸</u>　治夜啼潮熱，咳嗽風痰，傷暑急驚，口舌生瘡等症，皆效。</p>
<p>海金砂　青黛　石膏　六一散（各一兩）　辰砂　硃砂（各三錢）　天竺黃　寒水石　青礞石（各一兩）　麝（二分）　冰片（一分）</p>
<p>上為末，綠豆粉糊丸，硃砂為衣。燈心薄荷湯下。</p>
<p><u>抱龍丸</u>　劉旭東先生秘傳驗方，專治小兒急驚發搐，五癇諸症，皆效。</p>
<p>天竺黃（六錢）　膽星（一兩）　真牛黃（三分）　真雄膽（五分）　麝香（五分）　天麻（七錢）　防風　白附（火煨，五錢）　全蠍（四錢）　真殭蠶（炒，五錢）　明雄黃（二錢）　金箔（三十片）</p>
<p>上為末，蜜丸，綠豆大。每服一丸，燈心薄荷湯下。</p>
<p><u>防風通聖散</u>　治小兒熱甚驚風，或風熱瘡疥久不愈者，諸般風熱之症。</p>
<p>煅石膏　炒芩　桔梗（各一兩）　甘草（二兩）　活石（六兩）　防風　川芎　大黃　麻黃（各五錢）　芍藥　薄荷葉　當歸（各五錢）　荊芥　山梔仁　炒白朮（各二錢五分）　連翹（五錢）　玄明粉（五錢）</p>
<p>賈同知通聖散去白朮，換入砂仁三錢。</p>
<p>上銼。每貼二錢，姜煎服。</p>

<h2>慢驚</h2>
<p>慢驚之候，多因飲食不節，損傷脾胃，以致吐瀉，日久中氣大虛，而致發搐。發則無休止時，其身冷麵黃不渴，口鼻中氣寒，大小便清白，昏睡露睛，目睛上視，手足瘛瘲，筋脈拘攣，其脈沉遲散緩。蓋脾虛則生風，風盛則筋急，俗雲天吊風者，即此候也。此慢驚屬於脾土，中氣虛損不足之候。治宜和中甘溫補氣之劑，以醒脾散之類主之。</p>
<p>慢驚不治症：慢驚四肢厥冷，吐瀉咳嗽，面黯神慘，啞聲胃病，兩脅動氣，口生白瘡，發□□頭，眼睛不轉，涎鳴喘溢，大小便不禁，手足一邊牽引者，皆不治。</p>
<p><u>醒脾散</u>　治小兒吐瀉不止，慢驚風，脾困昏沉，默默不食。</p>
<p>人參　白朮　茯苓　木香　全蠍　殭蠶　天麻　白附　甘草</p>
<p>上薑棗煎服，又加石菖蒲亦妙。</p>
<p>一方去殭蠶、天麻，加南星、炒半夏、陳皮、陳倉米二百粒，煎服，屢驗。</p>
<p><u>太乙保生丹</u>　治慢驚尚有陽症。</p>
<p>全蠍（十四個）　白附（生）　殭蠶　膽星　蟬蛻　琥珀（各一錢）　麝香（三分）　防風　硃砂（各一錢）　金箔（三片）</p>
<p>上為末，芡實大。每服二丸，薄荷湯下。</p>
<p><u>聚寶丹</u>　治慢驚風。</p>
<p>人參　茯神　琥珀　天麻　殭蠶　防風　南星　生白附　全蠍（各一錢）　硃砂（五分）　麝（一分）</p>
<p>上為末，煉蜜丸，芡實大。每服一片，菖蒲湯調服。</p>
<p><u>蟬蠍散</u>　方傳慢驚。</p>
<p>全蠍（七個，去尾）　蟬蛻（二十一個）　甘草（二錢五分，炙）　南星（一個，火炮）</p>
<p>上為末。每服五分，白朮煎。</p>
<p><u>王氏惺惺散</u></p>
<p>人參　茯苓　木香（焙）　天麻　白扁豆　陳皮（炒）　全蠍（焙）</p>
<p>上為末。每次五分，薑棗煎服。</p>
<p><u>烏沉湯</u>　治驚風，祛風助胃。</p>
<p>天麻（二分）　人參（一分）　生川烏（五釐）　全蠍（焙）　南星（炮）　南木香　甘草（五釐）</p>
<p>上姜三片，白水煎服。</p>
<p><u>保幼化風丹</u>　治小兒四證八候。</p>
<p>白附　生南星　生半夏　川烏　川鬱金（各一兩）</p>
<p>上為末，裝入臘月黃牛膽內，陰乾百日，取出研為末，每一兩，入雄黃、硃砂、硼砂、縮砂各一錢，冰片三分，麝五分，共為末，蜜丸，豌豆大。薄荷、燈心研化下。</p>
<p>夫小兒有熱，熱盛生痰，痰盛生驚，驚盛則搐，搐盛則牙關緊急而八候生焉，搐搦掣顫反引竄視是也。搐者，兩手伸縮；搦者，十指開合；掣者，勢如相撲；顫者，頭偏不正；反者，身仰向後；引者，臂若開弓；竄者，目直似怒；視者，睛不活，是謂八候也。其四證者，即驚風痰熱也。而化風丹悉能主之，所以急慢驚風服之，皆效。此神方也，不可輕棄，當珍惜之。</p>

<h2>慢脾風</h2>
<p>蓋由慢驚傳次而至。慢驚之後，吐瀉損脾，病傳已極，總歸虛處，惟脾所受，故曰慢脾，又名虛風。其病則面赤額汗，舌短頭低，眼合不開，困睡中搖頭，吐舌頻嘔腥臭，噤口咬牙，手足微搐而不收，或身冷，或身溫，而四肢厥冷，其脈沉微。治法大要，生胃回陽，宜黑附湯之類，俟胃氣漸復，則用異功散溫平而調理之。不治症：慢脾身冷黏汗，直臥如屍，喘嗽，頭軟背直，口噤搖頭，痰如牽鋸之聲，面無潤澤之色，縮唇氣粗者，不治。</p>
<p><u>黑附湯</u>　治四肢厥冷，慢脾風，大能生胃回陽。</p>
<p>附子（三錢，泡去皮）　南木香（一錢）　白附（一錢）　甘草（五分）</p>
<p>上銼，每服三錢，生薑五片，煎服。若是手暖而蘇者，即止。</p>
<p><u>異功散</u>　治小兒吐瀉，不思飲食，此藥溫中壯胃，療虛冷慢脾風。</p>
<p>人參　茯苓　炒白朮（各一錢五分）　橘紅（七分）　南木香　炙甘草（各五分）</p>
<p>上銼。分三服，薑棗煎服。</p>
<p><u>家傳燒酒丸</u>　治小兒脾胃虛冷，寒熱似瘧，或吐或瀉，虛浮，久瀉腹痛，專治慢脾，神效。</p>
<p>附子（一兩二錢，烏豆同煮，曬乾，去豆不用）　藁本（去蘆，一兩）　白附（一兩）　蒺藜（一兩四錢）　天麻（二兩，五味銼，用老酒浸一日一夜，將五味煎過，曬乾）　白芷（一兩，酒洗，不蒸）　牡蠣（黃泥包，煉過，一兩五錢）　遠志肉（用甘草煎水浸一日一夜，蒸過曬乾，二兩）　阿膠珠（五錢）　麝香（一分）</p>
<p>上為細末，後入麝香、麵粉丸，龍眼核大。每服一丸。宜用燒酒大半盅，同在飯甑蒸熟，調服。其酒亦化為水，不過藉此以行藥力。上好，極其神驗。</p>
<p><u>加減六君子湯</u>　治慢脾後，用此藥收功。</p>
<p>人參　炒白朮　白茯神　陳皮　法半夏　石菖蒲　天麻　甘草</p>
<p>薑、棗煎服。</p>
<p><u>歸脾湯</u>　補心脾，血氣兩虛自汗，慢脾神昏發搐身冷皆治。</p>
<p>人參　炙黃耆　白茯神　炒白朮　當歸　遠志　酸棗仁　龍眼肉　南木香　甘草</p>
<p>上用龍眼肉七個，為引，□□□。</p>
<p><u>理中丸</u>　福省鼓山為霖大老和尚傳。</p>
<p>白乾薑（一斤，炙）　上好白朮（土炒，一斤）　附子（制，四兩）　參（四兩）　粉草（十二兩）　真厚桂（四兩）　白豆蔻（二兩）</p>
<p>上為末，蜜丸。</p>
<p>專治小兒慢脾，男婦虛弱，腹內不安，嘔吐久嗽，勞傷諸症。</p>
<p>嘔吐氣急，薑湯；心腹疼痛，茴香湯；四時瘧疾，薑湯；白痢，山楂湯；虛勞諸症，薑湯；胃寒久嗽，薑湯。傷寒發熱，孕婦，閉急熱症，俱不可用。</p>

<h2>癇症</h2>
<p>大約胎內受驚及兒聞大聲大驚而得。蓋兒神氣尚弱，驚則神不守舍；或因飲食失節，脾胃受傷，積為痰飲，以致痰迷心竅，故發則旋暈顛倒，口眼相引，目睛上搖，手足搐搦，脊背強直，少頃乃蘇。大率痰熱滯於心竅，邪氣在心，積驚成癇。治宜通行心氣，調平血脈，順氣豁痰，是其要也。痰在膈上，兒大者必用吐法，瓜蒂散。否則疏風下痰，保生丹或牛黃丸。常服斷癇丹亦當驗症，隨輕重而用之也。</p>
<p><u>瓜蒂散</u>　兒大體實，痰迷上膈者，可吐。</p>
<p>瓜蒂　淡豆豉　赤小豆</p>
<p>上等分，為末。每服二三分，量兒大小與之，白湯調下。</p>
<p><u>保生丹</u>　風痰極盛，宜用此以利之，使痰從大便出。</p>
<p>牛黃（一錢五分）　天麻　青礞石（硝伴煅）　生南星（用蛤蟆膽汁伴）　全蠍（酒洗）　生半夏（用麻黃各一兩，水一碗，煎乾為度，去麻黃不用）　牙皂　硃砂（另研，各三錢）　輕粉　麝（各一錢）　巴豆（三十五粒，水浸七日，紅棗三十五粒□□□□□□□□□□□□□黃焦色，去豆麵不用。</p>
<p>將棗去皮搗爛，和諸藥□□□□□□□□□□□□化下。</p>
<p><u>牛黃丸</u>　截癇，止驚，定搐。</p>
<p>牛黃　琥珀（各一錢半）　天竺黃　菖蒲　遠志　甘草（水煮，各三錢）　膽星（二兩）　天麻　殭蠶（炒）　全蠍（酒洗□□）　麝香（二分）　梟鳥（一個，用新瓦二片，合鳥在內，鹽泥固濟，火煅通紅，冷定取出）</p>
<p>共諸藥為細末，蒸餅糊丸，芡實大，硃砂為衣。每服一丸，燈心薄荷湯下。</p>
<p><u>斷癇丹</u>　常服斷癇。</p>

<h1>卷之二</h1>

<h2>傷寒發熱並夾驚</h2>
<p>小兒傷寒，初得渾身發熱無汗，多啼笑，有如驚風，俱宜發散退熱，莫令渴，當發散，以羌活散、柴胡散主之，夾驚者加防風、荊芥□□□□□□□□□□□。</p>
<p>鼻塞不通，薄荷散。如感傷寒之重者，當仲景方治之。</p>
<p><u>羌活散</u>　治傷寒驚風熱症。</p>
<p>川羌活　獨活　前胡　柴胡　川芎　茯苓　枳殼　地骨皮　天麻　甘草</p>
<p>上各等分，薄荷、姜引。治驚熱，加蟬蛻。</p>
<p><u>柴胡散</u>　治傷寒無汗，壯熱頭痛，體痛腮腫。</p>
<p>柴胡（七分）　石膏　炒芩　甘草　赤芍　乾葛　麻黃（五分）</p>
<p>上薑、蔥白三寸，豆豉一撮。</p>
<p><u>竹葉石膏湯</u>　治傷寒虛煩燥渴。</p>
<p>石膏（一錢）　麥冬（五分）　半夏（三分）　甘草（三分）　竹葉（三分）</p>
<p>上姜三片，粳米五十粒，米熟為度。</p>
<p><u>薄荷散</u>　治嬰兒鼻塞不通，夾驚傷寒。</p>
<p>府荷（七分）　全蠍（一個）　羌活（四分）　甘草（四分）　麻黃（二分）　天竺黃（二分）　白色殭蠶（三分）</p>
<p>上為末。作三次服，薄荷湯下。</p>

<h2>傷寒咳嗽傷風</h2>
<p>咳嗽者，肺感微寒，其症面赤，身熱痰盛。冬月嗽，乃傷風咳也，當以九寶飲主之。有涎痰濃疾，咽喉不利者，甘桔湯、金沸草散皆效。</p>
<p><u>九寶飲</u>　治小兒嗽，是肺臟感寒，身熱噴嚏，皆效。</p>
<p>麻黃　府荷　大腹皮　紫蘇　陳皮　杏仁（各五錢）　桑白皮　肉桂（桂枝亦妙）　枳殼　甘草（各三分）</p>
<p>上姜引。如冷症，去府荷；熱症，去厚桂。</p>
<p><u>甘桔湯</u>　治風熱毒氣上攻，咽喉腫塞，妨悶喉痛，肺壅咳膿咳血。</p>
<p>桔梗（三錢）　甘草（二錢）</p>
<p>上為粗末。每服一錢，水煎服。加防風、荊芥，名通聖飲；熱甚，加黃芩。</p>
<p><u>金沸草散</u>　治傷中腕有痰，時發寒熱，有類傷風。</p>
<p>前胡　旋覆花　荊芥（各四錢）　赤茯苓（二錢）　細辛　法半夏　炙甘草（各八分）</p>
<p>上銼。每服一錢，姜三片，棗三枚，水煎服。</p>
<p><u>荊防敗毒散</u>　四時咳嗽皆治。</p>

<h2>哮吼</h2>
<p>夫哮吼專主於痰，宜用吐法。亦有虛而不可吐者，此痰寒包乎熱也。</p>
<p><u>定喘湯</u>　諸病原來有藥方，□愁□喘□□□。麻黃桑杏尋蘇子，白果冬花更用良，甘草陳皮並半夏，水煎百沸不須□。病人遇此仙丹藥，服後方知定喘詳。</p>

<h2>喘急</h2>
<p>夫喘者，上氣急促，不能以息之謂也。有肺虛挾寒喘，有肺實挾熱喘，有水氣乘肺而喘者，又有熱喘發於夏不發於冬，冷喘則遇寒而發，又有氣喘、痰喘，宜五虎湯、蘇子降氣湯、千緡導痰湯主之。</p>
<p><u>五虎湯</u>　治傷寒喘急、氣喘急等。</p>
<p>麻黃（五分）　杏仁（三個）　石膏（五分）　甘草（二分）　細茶（二分）</p>
<p>或加桑白皮五分。上銼，生薑、蔥白煎服。</p>
<p><u>四磨湯</u></p>
<p>檳榔　沉香　烏藥　舊枳殼</p>
<p>治七情</p>
<p><u>蘇子降氣湯</u>　治食喘，虛陽上升，氣不升降。</p>
<p>真蘇子　法半夏　前胡　肉桂</p>
<p>薑、棗煎服。</p>
<p><u>千緡導痰湯</u>　治痰喘不能臥，人扶而坐，一服而</p>
<p>生南星（一錢，火炮）　生半夏（七個，火炮）　陳皮　赤茯苓　□□□（各一錢）　皂角（一寸）　姜（引）</p>

<h2>喉痹腮腫</h2>
<p>夫喉以候氣，咽以咽物，咽則通水穀，接三脘以通胃。喉有九節，通五臟以擊肺。並行兩異，氣谷攸分。諸臟熱則腫塞不通，多涎唾者，乃風燥為之也，以甘桔湯主之。若夫卒然腫痛，水漿不入，語言不通，死在須臾，誠可驚駭，宜以新艾水飲之愈。</p>
<p>秘方歌云：喉痹為急病，須臾命不通。急研新艾水，入口便和同。臘月無新艾，蛇床瓶內燒，其煙才入口，此病一時消。</p>
<p><u>甘桔湯</u>　治一切喉痹。</p>
<p>防風　荊芥　府荷　玄參　炒芩　甘草（各五分）　桔梗（一錢五分）</p>
<p>上銼，水煎，食後頻頻噙咽。咳嗽，加知母、貝母；肺壅，加阿膠；咽痛，加牛蒡子、竹茹；不得臥，加梔子；疫毒頭痛腫，加牛蒡子、大黃；唾膿血，加紫菀。</p>
<p><u>清咽利膈散</u>　治咽痛，清火之劑。</p>
<p>桔梗　防風　荊芥　連翹　黃芩　梔子　金銀花　牛蒡子　□□□　黃連　甘草　大黃</p>
<p>上銼，各等分，水煎服。</p>
<p><u>敗毒如神飲</u>　治咽喉腫痛，喉頰腫痛，兼有毒症。此方</p>
<p>川羌活　獨活　防風　荊芥　前胡　桔梗　升麻　□□　□□　□□　青木香　府荷　連翹　赤芍</p>
<p>上銼，各等分，薄荷引。</p>
<p><u>通隘散</u></p>
<p>硼砂（一錢）　茹茶　酒黃　青黛（各五分）　牙硝（三分）　川連（三分）　寒水石（五分）　冰片（一分）</p>
<p>上為末。吹入喉中，即效。</p>

<h2>五軟</h2>
<p>天柱骨倒者，項軟也，由真氣虛弱，客邪入腑，傳於筋骨，則項軟垂下無力。宜祛風退熱散。</p>
<p>用羌活　防風　細辛　黃芩　白芷　薄荷　當歸　川芎　甘草</p>
<p>白水煎服。</p>
<p>又宜附子、南星末，以生薑自然汁調貼項上可也。</p>
<p>又或久吐、久瀉、久病而軟者，宜用六君子湯。</p>
<p>人參　白朮　白茯苓　陳皮　法半夏　甘草</p>
<p>加肉桂。</p>
<p>手軟者，加薏仁米、當歸、秦艽、棗仁、防風、羌活、荊芥各等分，薑、棗引。</p>
<p>足軟者，六味丸。</p>
<p>熟地　淮山藥　白茯苓　丹皮　牛膝　澤瀉　鹿茸　五加皮</p>
<p>各等分服之。</p>

<h2>五硬</h2>
<p>側仰頭取氣，難以動搖，氣壅疼痛，連胸膈間，腳手心如冰冷而硬。宜用小續命湯。</p>
<p>麻黃　人參　黃芩　川芎　芍藥　防己　棗仁　□□　官桂（各一兩五錢）　防風（七錢五分）　附子（炮，去皮□，七錢五分）</p>
<p>上除附子、杏仁，並搗為粗末，次入二味夾和。每一錢，薑棗煎，空心服。有熱，去附子，官桂減半。</p>

<h2>龜胸</h2>
<p>由感風熱，凝注為痰，停滯心胸，咳嗽喘促，肺氣脹滿，攻於胸膈，漸成龜胸。或乳母過食辛辣，夏哺熱乳，亦成此症。治宜消食化痰丸。</p>
<p>製大黃（八分）　杏仁　百合　木通　桑皮　葶藶　天冬　枳殼　貝母（各五錢）</p>
<p>上為末，糊丸，綠豆大。每服一錢，白湯送下。</p>

<h2>龜背</h2>
<p>由客風吹背，傳入髓，故背脊如龜。或咳嗽久以致肺虛，腎無所生。腎主骨，風寒乘虛而入於筋骨，致精血不能流通，故骨虧而駝。宜枳殼防風丸。</p>
<p>枳殼　防風　當歸　松花　獨活　麻黃（各一錢）　大黃　桂心（八分）</p>
<p>上為末，蜜丸，綠豆大，糊丸。每服一錢，白湯下。</p>

<h2>解顱</h2>
<p>仲陽謂小兒生下，頭縫不合。腎主骨，而腦為髓海。因腎有虧，故不合也，名曰解顱。宜用六味地黃丸主之。</p>

<h2>囟陷</h2>
<p>由病久血氣虛弱，不能上充，故囟陷如坑，宜用當歸散、固真湯。</p>
<p><u>當歸散</u></p>
<p>當歸　桔梗　陳皮（各一錢）　炙甘草（五分）</p>
<p>白水煎服。</p>
<p><u>固真湯</u></p>
<p>附子　人參　山藥　黃耆　肉桂　白朮　茯苓　甘草</p>
<p>白水煎服。</p>

<h2>囟填</h2>
<p>囟門腫起者，乃飢飽無度，寒熱乘於脾家，其氣上衝，故囟門腫起，宜大連翹飲、瀉青湯。</p>
<p><u>瀉青湯</u></p>
<p>川羌活　川芎　炒梔仁　龍膽草　當歸　防風　大黃（少許）　竹葉（引）</p>

<h2>鶴膝風</h2>
<p>此由腎氣不足，兩腿細小，骨腫大如鶴膝之狀。治宜屈膝散、六味丸。</p>
<p><u>屈膝散</u></p>
<p>防風　薏苡仁　牛膝　苦參（女便浸曬）　何首烏（男便浸曬，各一兩）　鹿茸（五錢）　殭蠶　天花粉　荊芥（各一錢）　肥皂核肉（一兩）</p>
<p>共為粗末。每用三錢，同冷飯糰四兩，牯豬油六錢，米、綠豆各一撮，水四碗，煎至三碗，分作二次溫服。</p>
<p>六味地黃丸加入牛膝、鹿茸。如或紅腫作痛成膿，治用補中益氣湯。腫硬色白，不治。</p>

<h2>痛風</h2>
<p>百節走疼曰痛風，本因風熱濕相攻。又有血虛並痰論，治法須詳各因中。方用</p>
<p>痛風大法芎芷蒼，星歸酒芩合為方。在上加羌威靈桂，在下通柏膝已詳。</p>

<h2>盤腸氣</h2>
<p>初生小兒三日內啼哭，腹內響，打屁，陰囊稀，名為盤腸氣。宜</p>
<p>車前子　防風　薄荷　甘草　玄胡索　木通　蟬蛻（水洗，去頭足）</p>
<p>上燈心一丸，同煎服，如唇紅目赤，加宣黃連一分。</p>
<p>滿月百日內發者：</p>
<p>車前子　玄胡索　小茴　豬苓　澤瀉　鉤藤（各三分）　赤茯苓　木通（四分）　甘草（一分）</p>
<p>燈心煎。</p>
<p>如藥不便，用燈心火爆四花穴，即臍上下左右是也，即愈。</p>

<h2>五疳門</h2>
<p>疳者，干而瘦也。此由寒熱失理，飲食香甜不節，或因久吐、久瀉、久痢、久瘧、久汗、久咳、久瘡，以致脾胃虧損，亡失津液而成也。</p>
<p>心疳好吃鹽和水，肝腑夜後汗如珠。脾疳食肉不停時，肺疳壁土成塊服。勞疳體瘦骨如柴，腎疳食炭人不識。好手醫人細主張，五疳丸等可活命。</p>
<p>心疳面赤少精神，壯熱唇紅面帶黃。飲食皮膚流汗出，小便赤澀是心疳。宜用寧心丸治之。</p>
<p>赤茯苓　白茯苓　白茯神　蘆薈　琥珀　川連　釣鉤藤　遠志肉　蛤蟆灰　石菖蒲　麝香（少許）</p>
<p>上末糊丸。白湯送下。</p>
<p>肝疳白膜眼中漫，肌肉消瘦目赤腫。怕日羞明眼難開，此症之病是肝疳。</p>
<p><u>金換丹</u></p>
<p>白蒺藜（四錢）　川連（五錢）　五靈脂（五錢）　川芎（五分）　蘆薈（五錢）　胡連（五錢）　使君子肉（四錢）　夜明砂（三錢）　草豆蔻（四錢）　木賊（五錢）　甘草（四錢）　甘菊（一兩）　穀精草（一錢三分）　雄膽（五分）　辰砂（五分）　琥珀（五分）　麝香（三分）</p>
<p>上為末。宜竹刀切豬肝，煎熟，每日約服一錢，三日即愈（或如琥珀未有，用之亦甚驗）。</p>
<p>又煎肝藥末，用夜明砂二錢，醋炒，蛤粉二錢，穀精草二錢，硃砂一錢，辰砂一錢，海螵蛸一錢，麝香一分，亦要煎肝，空心服。</p>
<p>上二方乃家中祖傳，秘之又秘，活人無算，屢驗，當珍重之。</p>
<p>脾疳腹大青筋露，食物難消糞活白。黃瘦腹大或瀉泄，此症原來是脾疳。</p>
<p><u>祛疳調脾散</u></p>
<p>炒白朮（一錢）　白茯苓　淮山藥　炒扁豆　砂仁（便付）　六神麯（炒，各一錢）　陳皮　青皮　小茴　白豆蔻（去殼）　枳殼（各八分）　龍膽草　山楂肉　麥芽（炒黃）　藿香（各一錢）　防風　枳實　川厚朴　甘草（各八分）　胡黃連（五分）　使君子肉（十個，煨過）</p>
<p>上為末。每日空心服一錢，用二三沸飯湯調服，效驗之極。</p>
<p>肺疳潮熱嗽喘痰，皮膚疥癩燥涎生。毛髮豎起人不識，此症之病肺疳真。</p>
<p><u>化慝丸</u></p>
<p>蕪荑　青黛　蘆薈　川芎　白芷　川連　胡連　蛤蟆灰</p>
<p>各等分為末，豬膽汁浸糊丸，麻子大。每服二十丸，臨臥杏仁湯下。</p>
<p>腎疳骨熱生壅滯，齒黑唇烏鼻水清，時當眼暗腰又痛，此症之病是腎疳。</p>
<p>宜用六味地黃丸，加川楝肉、使君子肉，加入鹽湯送下，效。</p>
<p><u>家傳五疳丸</u></p>
<p>蘆薈（一兩，用豬瘦肉二兩，醋二碗，同蘆薈煮過，肉熟並醋去之，要□□有蘆薈，不灑水則無蘆薈也）　蕪荑（六錢，要白色者，用酒炒五次）　雷丸（五錢）　胡連（炒，三錢）　川連（三錢）　廣檳榔（十四個）　蟬蛻（去足，六錢）　土炒白朮（一兩六錢）　青黛（一兩）　赤茯苓（六錢）　麝香（二分）　青木香（六錢）</p>
<p>眼疳生膜，加夜明砂一兩炒。上為末，用猴麥粉和麵末，以豬膽五六隻調勻，糊丸如黍米大。每日服二三錢，空心服，將二三沸米湯送下，七日內見功立效。</p>
<p>疳腫者，乃由疳久，脾衰不能制水，故頭面四肢發腫脹，或大喘者不治。褐子丸主之。</p>
<p>蘿蔔子（一兩）　青皮　陳皮　檳榔　赤茯苓　黑牽牛</p>

<h1>卷之三</h1>

<h2>臘莉頭</h2>
<p>小兒東木旺，陽氣上升，聚結為瘡。女子天癸至，男人出幼，泄其氣而瘡自愈。大凡臘莉必遺尿者，亦上盛下虛之故耳。</p>
<p><u>厚朴膏</u>　治臘莉瘡，一名梅花禿，初起時指甲撓破白皮，以此膏搽二三次即愈。一二年者，剃頭去靨，搽膏日上二次，不十日光愈。</p>
<p>厚朴（五錢）　檳榔（二錢）　雞子（五個，煮老熟，去皮留黃，用銅杓炒焦，逼取其油，去渣不用）</p>
<p>上用真菜油二兩，浸厚朴、檳榔片一晝夜，慢火熬煎，藥半焦黑，去藥渣，入雞子油，再熬一沸，用磁器盛之，裹泥地三日，出火氣用。</p>
<p><u>頭瘡附方</u></p>
<p>治小兒頭瘡。</p>
<p>淡底　細茶　花椒　桃葉（各等分）</p>
<p>上為末。茶油調搽。</p>
<p>治小兒頭瘡胎毒，熱惡痘瘡。</p>
<p>白芷　蚊蛤（各等分）</p>
<p>上為末。有膿乾摻，干瘡清油調。</p>
<p>治小兒頭上生葡萄疔瘡。</p>
<p>川芎　白芷　防風　荊芥　連翹　玄參　桔梗　藁本　赤芍　羌活　當歸　大葉淨瓶根　川龍骨</p>
<p>上水煎服，三四貼安。</p>
<p>治小兒頭瘡。</p>
<p>肥皂（燒存性）　老松香</p>
<p>上各等分，為末。清油調搽。</p>

<h2>五般聤耳門</h2>
<p>耳者，腎之候。小兒腎經實，其熱氣上衝於耳，遂使津液壅滯，為膿為汁者也，故成五般之症。聤耳者，當有黃膿出是也。膿耳者，常有紅膿出是也。伝耳者，裡面疳臭是也。纏耳者，常有白膿出是也。聾耳者，裡面虛鳴，時有清膿出是也。內服蔓荊子散。然耳雖有五般，其病源一也，而內有積熱上壅，皆風水入耳而成此患，若不速治，久則成聾。</p>
<p><u>蔓荊子散</u>　內熱耳出膿汁。</p>
<p>升麻　木通　赤芍　桑白皮　生地黃　麥冬　前胡　甘菊　赤茯苓　蔓荊子　甘草（灼）</p>
<p>上用水姜煎，臨臥服。</p>
<p><u>黃龍散</u>　耳汁出不止。</p>
<p>白礬（煅）　龍骨　黃丹（炒，各五錢）　麝香（一錢）</p>
<p>上為細末。先以綿紋杖子捻卻耳中膿水，用一字摻在耳內，但用之勿合風入。</p>
<p><u>龍骨散</u>　膿耳。</p>
<p>白礬（煅）　龍骨（各二錢）　黃丹（二錢）　胭脂胚（煅，一錢）　麝香（一分）　海螵蛸（一錢五分）</p>
<p>上末。吹入耳內。</p>
<p>治小兒㿗耳。</p>
<p>石膏（煅）　蚌粉　枯礬　黃丹（炒）　龍骨（煅，各三錢）　麝香（半分）</p>
<p>上末。吹入耳內。</p>
<p>治㿗耳，耳內出膿。</p>
<p>赤石脂　枯礬　文蛤　黃丹　龍骨（煅，各五錢）　輕粉（五分）</p>
<p>上末。吹入耳內。</p>
<p>治㿗耳，膿汁不幹，又蛀竹粉吹入耳，上好。</p>
<p>圓魚殼燒一錢，入枯礬五釐，上末和勻吹入耳內。</p>

<h2>語遲門</h2>
<p>語遲者，系在胎時，其母卒有驚怖，內動於兒臟，邪氣乘於心，故令心氣不足，而不言也。宜錢氏菖蒲丸，久服取效。</p>
<p><u>錢氏菖蒲丸</u>　語遲。</p>
<p>石菖蒲　丹參（各二錢）　天冬　麥冬（各一兩）　赤石脂（三錢）　人參（五錢）</p>
<p>上末，煉蜜丸麻子大。食冷溫水下，二十丸至三十丸，以意加減。</p>

<h2>齒遲門</h2>
<p>齒遲者，稟受腎氣不足，即髓不強，蓋骨之所絡而為髓，髓不足，故不能充其齒，所以齒生遲也，宜芎地湯。</p>
<p><u>芎地湯</u></p>
<p>當歸　川芎　熟地　白芍　山藥　甘草</p>
<p>上等分，為末。用溫水調服，或時以末擦齒根，齒即生也。</p>

<h2>行遲門</h2>
<p>小兒不能行者，腎經之病故也。腎生髓，若稟受血氣不足者，則髓不滿骨，故軟弱而不能行也，宜服六味地黃丸加鹿茸四錢，牛膝四錢。</p>
<p><u>六味地黃丸</u></p>
<p>熟地（八錢）　山茱萸　山藥（各四錢）　丹皮　澤瀉（各二錢）　白茯苓（三錢）</p>
<p>上末，煉蜜丸，麻子大。空心溫水送下，三歲以下十九丸，以上倍之。</p>

<h2>滯頤門</h2>
<p>小兒滯頤者，涎流出而積間也，此係脾冷涎多故也。脾之液為涎，脾與肺冷不能收制，所以津液流出，漬於頤也，宜溫胃散、益黃散。不效，張煥溫脾丹主之。</p>
<p><u>溫胃散</u>　治脾冷涎多。</p>
<p>半夏（泡）　人參　甘草　乾薑　肉豆蔻　白朮（炒，各五錢）　丁香（一兩）</p>
<p>上粗末。每服二錢，姜三片，食前溫服。</p>
<p><u>益黃散</u>　吐瀉脾虛不食，米穀不化，困倦力少，滑腸夜起，並疳虛盜汗，並治涎唾流，頷下常濕，名滯頤。</p>
<p>陳皮（一錢）　丁香（二分）　訶子肉　青皮　甘草（灼，各五分）</p>
<p>上用水、姜煎服。</p>
<p><u>張煥溫脾丹</u>　治脾肺二經俱冷，不能收制。</p>
<p>半夏曲　丁香　乾薑　白朮（各五錢）　青皮　陳皮（各二錢半）</p>
<p>上為末，糊丸，黍米大。一歲十七丸，二歲二十丸，大小加減，米湯送下。</p>

<h2>諸熱症</h2>
<p>夫熱有虛有實，實則面赤濃黃，氣粗口熱燥，煩渴唇腫，大小便難，掀揭露衣，頻啼暴叫，宜四順清涼飲。虛則面色青白，恍惚神緩，口中清冷，噓氣軟弱，泄瀉多尿，夜出虛汗，其或乍涼乍溫，宜荊防敗毒散加木香、當歸，其熱即退。或表未解，宜惺惺散，少加麻黃，以取其汗。表熱已除，宜小柴胡湯加知母、山楂、麥芽，其熱自平。</p>
<p><u>四順清涼飲</u>　治實熱面赤煩渴，大小便難。</p>
<p>大黃　連翹　赤芍　羌活　當歸　防風　甘草　山梔仁（各等分）</p>
<p>上用水煎服。</p>
<p><u>荊防敗毒散</u>　治乍涼乍熱，面色青白。</p>
<p>防風　荊芥　桔梗　川芎　茯苓　枳殼　前胡　柴胡　羌活　獨活　甘草</p>
<p>加南木香、當歸。上用姜煎服。</p>
<p><u>惺惺散</u>　治表未解，熱未除。</p>
<p>天花粉　人參　細辛　茯苓　白朮（炒）　甘草（各等分）</p>
<p>加麻黃。上用水、姜煎服。</p>
<p><u>小柴胡湯</u>　治少陽經往來熱。</p>
<p>柴胡　黃芩　半夏　甘草　人參</p>
<p>上水、薑、棗煎服。</p>

<h2>蛔蟲門</h2>
<p>蛔蟲者，九蟲之內一蟲也，長一尺，亦有長五六寸者。或因臟腑虛弱而動，或因食甘肥而動。其動則腹中痛，發作腫聚，行來上下，痛有休止，亦攻心痛，口中吐沫及清水，貫傷心者則死。診其脈，腹中痛，其脈法當沉弱而弦，今反脈大，則是蛔蟲也。只看人中上、鼻頭、唇口一時黑色，此是蟲咬心痛。</p>
<p><u>化蟲丸</u>　治蟲咬心痛，來去不定，不思乳食。</p>
<p>鶴蝨（炒）　檳榔　胡粉　苦楝皮（各五錢）　白礬（三錢半，煅）</p>
<p>上為末，麵糊丸，小豆大。三歲三十丸，溫漿水入油□□□□食前如有蟲，皆化為水，大蟲自下，月初服甚妙。</p>
<p>使君子肉（去黑皮，一兩）　川芎　陳皮　厚朴（炒）　白芍　甘草（各二錢半）</p>
<p>上為末，煉蜜丸，芡實大。每服一丸，陳米飲化下。大治小兒腹痛。</p>
<p><u>檳榔散</u>　去蟲後服此。</p>
<p>木香　檳榔　人參　黃連　甘草（灼）</p>
<p>上等分，為末。每服一錢，小者五分，白滾湯下。</p>
<p><u>烏梅丸</u>　治蛔聞食自出，口中吐蛔，久痢皆效。</p>
<p>烏梅（七十五個）　乾薑（二兩半）　黃連（四兩）　蜀椒（炒出汗）　當歸（各一兩）　細辛　人參　附子（泡去皮臍）　桂枝　黃柏（各一兩半）</p>
<p>上為末，用酒浸烏梅，去核，蒸飯杵成泥，和藥末勻丸，麻子大。每服十丸，食後米飲下，日三服，忌生冷物。</p>

<h2>腹中有癖</h2>
<p>癖者，血膜包水，側僻於脅旁，時時作痛也。惟癖為能發潮，為能生寒熱，故瘧家多蓄黃水，日久而復結癖於中脘，寒熱不已。有是疾者，以此。小兒臟腑和平，榮衛調暢，則津液自然流通，縱使多飲水漿，不能為病。惟失哺失調，三焦關格，以致水飲停滯，腸胃不能宣通，如冷氣搏之，則結聚而成癖。輕者用積滯木香丸，重者用取癖丸。仲陽云：腹中有癖不食，但飲乳是也，當漸用白餅子下之。如不早治，則不能食，脾胃虛弱，四肢不舉，諸邪遂生，羸瘦而成疳矣。</p>
<p><u>木香丸</u>　治吐乳瀉乳，其氣酸臭，由啼叫不已，以乳與兒，停滯不化，是為乳積。肚硬熱渴吐瀉，由飲食無度，過飽即睡，是為食積。腹痛啼叫，利如蟹渤，中觸忤其氣，榮衛不和，淹延日久，是為氣積。瘧後肚內結癖成塊。</p>
<p>木香（二錢）　蓬朮（二錢）　砂仁（二錢）　青皮（去瓤，二錢）　硃砂（研細，二錢）　代赭石（二錢）　大丁香（二錢）　巴豆（去油，一錢）</p>
<p>上細末和勻，飛白麵糊和丸，麻子大。每服二三丸，乳傷乳汁下，食傷米飲下。</p>
<p><u>取癖丸</u>　治小兒癖塊大痛，用之如應。</p>
<p>甘遂（微炒，二錢）　芫花（微炒，二錢）　黑牽牛（半炒半生，磨篩取末，二錢）　辣桂（二錢）　蓬朮（二錢）　青皮（去瓤，二錢）　木香（二錢）　桃仁（炒，二錢）　五靈脂（二錢）　巴豆（去油，一錢）</p>
<p>上為末，研和十分細嫩，飛白麵糊丸，麻子大。每服一二丸，姜蜜煎湯灌下，泄後冷粥補，仍和胃。</p>
<p><u>挨癖丸</u>　治乳癖谷癥，腹中塊痛。</p>
<p>青皮（去瓤，三錢）　木香（三錢）　蓬朮（三錢）　生地黃（三錢）　代赭石（火煅，醋淬，研極細末，三錢）　巴豆（壓去油盡，一錢）</p>
<p>上為細末，醋麵糊丸，麻子大。每服二丸，食後薑湯下。</p>
<p><u>檳榔丸</u>　治小兒傷食得之，痛刺脅肋，心胸煩悶，飲食不下，吐逆噁心，久不醫治，漸成痞癖。</p>
<p>檳榔（五錢）　木香（麵裹煨，三錢）　青皮（五錢，去瓤，巴豆三十粒，去殼同炒，去巴豆）　陳米（半合，炒法亦用如巴豆同青皮）</p>
<p>上為細末。蒸餅丸如黍米大。用米飲，食前服。丸數多少，量兒大小、虛實加減。</p>
<p><u>北柴胡散</u>　治小兒因傷血得之，胸膈鬱悶，痛引小腹，時或攻築，上搶心胸，漸成瘕結之症。</p>
<p>北柴胡（三錢）　人參（三錢）　木香（三錢）　枳殼（三錢）　京三稜（三錢）　檳榔（三錢）</p>
<p>上為細末。陳皮煎湯，調食送服。</p>
<p><u>褐丸子</u>　治小兒因傷氣得之，心腹膨脹，肚大脅痛，面黃肌瘦，倦怠無力，久而不治，漸成痞塊。</p>
<p>陳皮（五錢）　青皮（五錢）　三稜（五錢）　蘿蔔子（一錢，炒）　蓬莪朮（五錢）　木香（一錢）　胡椒（一錢）　黑醜（炒，取頭末，三錢）</p>
<p>上為細末，麵糊丸如黍米大。生薑三片，泡湯送下，二三十丸。</p>
<p><u>七香丸</u>　治小兒因傷積得之，其症如腸癖之疾，便利無度，滑不成糞，似痢非痢，結成癖塊。</p>
<p>木香（一錢五分）　丁香（一錢五分）　八角茴香（炒，一錢五分）　枳殼（一錢）　三稜（一錢）　青皮（一錢）　蓬莪朮（一錢，細切，用巴豆七粒，去殼同炒赤色，不用巴豆）</p>
<p>上為細末，煮糊丸如黍米大。每用三十丸，米飲，空心服。</p>

<h2>痞結</h2>
<p>痞者，塞也。結者，實也。熱氣蘊於胸膈之間，留飲聚於腹脅之內，於是榮衛不能流行，臟腑不能宣通，由脹滿而致癖結，勢使然耳。此實熱之症也，時或發為壯熱，聖惠甘遂散主之。此藥治小兒之痞結，雖服湯藥，時暫得利，而滯實不去，心下堅脹，按之即啼，內有伏熱，諸候併成此疾。宜疏利大便，破結散氣，後宜常服進食丸。</p>
<p><u>聖惠甘遂破結散</u>　治小兒心胸痞結，蘊聚痰水。</p>
<p>甘遂（麵裹煨，令黃色，二錢半）　青皮（半兩）　黃芩（半兩）　川大黃（煨，半兩）</p>
<p>上為粗末。每服一錢，煎至六分，去滓，溫和服。量大小加減，得通利則止，後以冷粥補之。</p>
<p><u>進食丸</u>　治乳食不消，心腹脹滿，壯熱喘粗，嘔吐痰逆，腹鳴泄瀉，米穀不化，或下痢赤白，腹痛後重，及食癥乳癖，痃氣痞結，並皆治之。小兒胸膈熱實，腹內有留飲，致令榮衛痞塞，臟腑之氣不得宣通，其病腹內氣結脹滿，或壯熱。凡有此病，當疏利大便，破結散氣，宜常服之。</p>
<p>巴豆霜（一錢）　硃砂（五錢）　枳殼（炒，五錢）　當歸（米泔浸一宿，炒）　代赭石（煅，醋淬七次，各三錢）　木香（五錢）　麝（少許）</p>
<p>上為末，麵糊為丸如麻子大。一歲兒一丸，溫米飲下。更量虛實加減，治食積發熱，羸瘦肚大，青筋疳積，肚疼哺露。</p>

<h2>積痛</h2>
<p>仲陽云：積痛口中氣溫，面色黃白，目無精光，或白睛多及多睡，畏食或大便酸臭者，當磨積而痛自除。有熱者，芍藥甘草湯加乾葛；吐者，加半夏、生薑，或加枳實亦效。</p>
<p><u>消積丸</u>　治乳食傷積，心腹脹滿，氣粗壯熱，或瀉或吐。</p>
<p>丁香（二十粒）　砂仁（二十粒）　使君子（五個）　烏梅（三個）</p>
<p>上為末，爛飯丸，麻子大，加巴豆二粒，去盡油，同丸。每服三丸，陳皮湯下。</p>
<p><u>白餅子</u>　治小兒夾食傷寒，其症發熱嘔吐，亦有肚痛者，噯氣。辨得分曉，先用此藥。一服，推下食積，卻用平和藥發散調治，如惺惺散加減，參蘇飲皆可服，卻不可服冷藥。</p>
<p>滑石　南星　半夏（各一錢）　輕粉（五分）　巴豆（二十四粒，去皮膜，用水一升，煮乾，研細如泥）</p>
<p>上三味搗羅為末，入巴豆霜，次入輕粉，又研勻，卻入余藥末，合勻，糯米飲丸，如綠豆大。量小兒壯瘦虛實用藥，三歲以下每服三丸至五丸，紫蘇湯空心下，忌熱物。若三五歲，見壯實者，不以此拘，加至二十丸，以利為度。</p>
<p><u>錢氏白朮散</u>　治煩渴兼吐瀉。</p>
<p>人參（二錢半）　白茯苓（半兩）　白朮（半兩）　藿香葉（半兩）　木香（二錢）　甘草　乾葛（半兩）</p>
<p>上銼，水煎。發熱甚渴者，去木香；肚痛，加白芍藥。</p>
<p><u>小沉香丸</u>　和中順氣，嗜食消痰。</p>
<p>砂仁（煨，四錢）　蓬朮（煨，四錢）　香附（炒，一兩）　甘草（炙，一兩半）　沉香（六錢）　甘松（三兩六錢）　益智（炒，一兩半）　舶上丁香皮（一兩四錢）</p>
<p>上為細末，湯浸蒸餅丸，如梧桐子大。每服三十丸或四十丸，食後溫生薑湯下，或嚼破更妙。</p>
<p><u>芍藥甘草湯</u>　治傷寒脈浮自汗出，小便頻數，微惡寒，腳攣急拘疼，及治肚腹胸脅大痛。</p>
<p>白芍藥（炒）　甘草（一兩）</p>
<p>上銼散。每服三錢，水二盞，煎至八分，不拘時服。</p>

<h2>積滯</h2>
<p>小兒有積滯，面目黃腫，肚熱脹痛，覆睡多困，酷啼不食；或大腸閉澀，小便如油；或便利無禁，糞白酸臭，此皆積滯也。然有乳積、食積，須當明辨之。吐乳瀉乳，其氣酸臭，此由啼叫未已，便用乳兒，停滯不化而得之，是為乳積。肚硬帶熱，渴瀉或嘔，此由飲食無度，過飽即睡，是食積。腹痛啼叫，利如蟹渤，此由觸忤其氣，榮衛不和，淹延日久得之，是為氣積。合用木香丸主之，檳榔丸亦可用。大小便閉者，神芎丸妙甚，是齊推氣亦佳，冷症下積，五珍丸亦可用。</p>
<p><u>木香丸</u>　治吐乳瀉乳，其氣酸臭，由啼叫不已，以乳與兒，停滯不化，是為乳積。肚硬熱渴吐瀉，由飲食無度，過飽即睡，是食積。腹痛啼叫，利如蟹渤，由觸忤其氣，榮衛不和，淹延日久，是為氣積。瘧後肚內結癖成塊，此方用之屢驗。</p>
<p>木香（二錢）　蓬朮（二錢）　砂仁（二錢）　青皮（去白，二錢）　硃砂（研細，二錢）　代赭石（二錢）　大丁香（一錢）　巴豆（壓去油，二錢）</p>
<p>上細末，和勻，飛白麵糊和丸，麻子大。每服二三丸，乳傷乳汁下，食傷米飲下。</p>
<p><u>木香檳榔丸</u>　疏導三焦，寬利胸膈，破痰逐飲，通潤大腸。</p>
<p>郁李仁（去皮）　皂角（去皮，醋炙）　半夏曲　枳殼（麩炒）　青皮（去瓤）　杏仁（麵炒）　木香（不見火）　檳榔（各一錢）</p>
<p>上為細末，別用皂角四兩，用漿一碗，搓揉熬膏，更入熟蜜少許，丸如梧桐子大。每服十丸，小兒服可，丸如綠豆大，食後生薑湯送下。</p>
<p><u>神芎丸</u>　治風熱壅滯，頭目昏眩，口舌生瘡，牙齒疳蝕，或遍身瘡疥，咬牙驚惕，怔忡煩躁多渴，或大小便澀滯，或積熱腹滿，驚風潮搐，並皆治之。</p>
<p>大黃（生）　黃芩（各二兩）　滑石（四兩）　生牽牛末　滑石（四兩）　黃連　薄荷葉　川芎（各兩半）</p>
<p>上細末，滴水丸，桐子大。每服四十五丸，食後溫水下。一方加蒲黃，止血症用。</p>
<p><u>是齊推氣丸</u>　治三焦痞塞，氣不升降，胸膈脹滿，大便閉澀，小便亦少。</p>
<p>大黃　陳皮　檳榔　枳實（小者去積）　黃芩　黑牽牛（各等分，生）</p>
<p>上為細末，煉蜜丸，如綠豆大。臨臥溫熟水下，二十三丸，量虛實加減。</p>
<p><u>檳榔丸</u>　治小兒疳氣腹脹，胸膈痞悶，喘急不安。</p>
<p>青皮（去穰，同巴豆十粒炒，去巴豆）　蘿蔔子　香附子（炒）　木香（各一兩）　黑牽牛（半兩，微炒）</p>
<p>上為末，生薑自然汁煮麵糊丸，黍米大。每服十丸，米飲下。</p>
<p><u>下積丸</u>　治乳食傷積，心腹脹滿，氣粗壯熱，或瀉或嘔。</p>
<p>丁香（二十粒）　砂仁（二十個）　使君子（五個）　烏梅（三個）　巴豆（不去□□□）</p>
<p>上為末，爛飯丸，麻子大。每服三丸，陳皮湯下。</p>
<p><u>五珍丸</u>　治酒食積通用。</p>
<p>青皮　乾薑（燒存性）　蓬朮　五靈脂（各一兩）　巴豆（去半油，一錢）</p>
<p>上為末，粳米飯圓，麻子大。每服三五丸，米湯下。</p>
<p><u>快膈消食丸</u>　治小兒宿食停滯，腹脹疼痛。</p>
<p>三稜（煨）　蓬莪朮（煨）　揀縮砂（去殼）　橘皮（去白）　神麯（炒）　麥葉（炒，各五錢）　香附子（炒，一錢）</p>
<p>上為細末，蒸餅丸如黍米大。生薑煎湯，或白湯，食遠服，或作餅子磨服。</p>
<p><u>香稜丸</u>　治小兒積氣發熱，肚腹膨脹，肢體瘦弱，飲食不滋肌膚。</p>
<p>木香　丁香　檳榔（去臍）　甘松　使君子（去殼）　神麯（炒）　麥葉（炒，各二錢五分）　京三稜（煨）　蓬莪朮　青皮　陳皮　香附子（炒，各五錢）　胡黃連（一錢）</p>
<p>上為細末，蒸餅丸如黍米大。用米飲，食遠服。</p>

<h2>腹脹</h2>
<p>腹脹多系飲食飢飽，生冷油膩，聚結不散，致傷脾胃，不能運化精微而制水穀，宜厚朴枳實丸。或因久患疳積，及瘧後痞塊不消，皆能腹脹，健脾磨塊丸。脾虛脹滿者，脈必浮大無力，宜補脾分消丸。脹而喘滿，脈實者可下，宜加減推氣丸。</p>
<p><u>厚朴枳實丸</u>　飲食甜膩，聚結不散。</p>
<p>厚朴（薑汁炒）　枳實（麥炒）　麥芽（炒）　半夏（薑汁炒）　黃連（炒老色）　蒼朮（各一兩）　山楂肉（一兩半）　香附（炒）　檳榔（各八錢）　藿香　白豆蔻（各五錢）</p>
<p>上為末，神麯打糊為丸，梧桐子大，每服一錢五分，白湯下。</p>
<p><u>健脾磨塊丸</u>　疳積虛後痞塊不消。</p>
<p>蒼朮（炒）　枳實（炒，各一兩）　三稜　莪朮　香附（俱醋炒，各五錢）　檳榔（四錢）　木香（二錢半）　白豆蔻（二錢）</p>
<p>上為末，神麯打糊為丸，綠豆大。每服一錢，白湯送下。</p>
<p><u>補脾分消丸</u>　脾虛脹滿。</p>
<p>人參　白朮（炒）　茯苓（各一兩）　香附（炒，二兩）　白蔻仁（二錢）</p>
<p>上為末，蜜丸，彈子大。每服一丸，白湯調下。</p>
<p><u>加減推氣丸</u>　脹而喘滿，脈實。</p>
<p>厚朴（薑汁炒）　陳皮　枳實（炒，各五錢）　莪朮（醋炒）　檳榔　黑醜（醋煮炒研，取頭末，各五錢）</p>
<p>上為末，醋打老米糊為丸，綠豆大。看兒大小輕重與之，白湯送下。</p>
<p>腫脹之症有二，一曰氣腫，先腫而後喘，由脾胃虛弱。脾主肌肉，肺主皮膚，土弱不能生金，虛氣上攻乎肺，行於面目，遍身浮腫。治宜五子五皮湯，調脾行氣為主。</p>
<p><u>五子五皮湯</u></p>
<p>山楂　葶藶　香附　真蘇子　蘿蔔子　桑白皮　陳皮　青皮　茯苓　姜皮</p>
<p>上等分，白水煎，宜服四五劑，無有不愈。</p>
<p>水腫，先喘而後腫，因上焦煩渴，喜飲茶水、脾虛不能制木，水反侮土，上衝於肺，流走皮膚而光腫也。治宜實脾利水為主，胃苓湯主之。或瀉痢、瘧後、諸病後脾虛發腫者，宜調理脾胃為主，宜以六君子、補中益氣湯治之。如未曾瘧、痢、病後而腫脹者，則從水，氣二腫治之。</p>
<p>又有通身不腫，只有腹腫，彈之如鼓聲，按之卻軟，此脾虛也，亦宜六君子湯加厚朴。設若腹腫，彈之不響，按之如石，此鼓脹也，不治。</p>
<p>或肚大青筋，堅如鐵石，宜於臍之上下左右，離臍心五分，各灸二壯，即消。</p>

<h2>腹痛</h2>
<p>腹痛之因，邪正交攻，與臟氣相擊而作也。有火痛、冷痛、寒痛、蟲痛、食積痛。火痛者，面赤紋紫脈數，手心壯熱，大便結燥，時痛時止，宜枳殼芍藥湯。冷痛者，面白紋青，手足濕冷，痛甚則厥冷，其由或食冷物，或感寒邪，宜理中湯，甚加附子。寒痛者，面黑紋紅，手足涼，必因食而得之，宜不換金正氣散加羌活、防風、紫蘇、香附、白芷、砂仁、茯苓、麥芽、青皮。蟲痛者，面色變解不常，五色花斑不均，口吐涎沫，宜追蟲丸。食積作痛者，膨脹惡食，肚熱按之痛，噯氣吐瀉，瀉後減，少頃復作，飲食更痛，氣口脈甚，宜消化丸、百傷飲。</p>
<p><u>枳殼芍藥湯</u>　大便結燥，時痛時止。</p>
<p>枳殼　芍藥　大黃（各二錢）　當歸（一錢半）　甘草（八分）</p>
<p>上用水、姜煎服。</p>
<p><u>附子理中湯</u>　冷吐瀉，手足厥冷，腹痛。</p>
<p>人參　白朮　乾薑（煨，各一錢）　甘草（五分）　附子（麵包煨，一錢）</p>
<p>上用水煎服。</p>
<p><u>不換金正氣散</u>　寒痛面赤紋紅，手足涼冷，必因食而得之。</p>
<p>蒼朮　陳皮　厚朴　半夏　藿香　甘草</p>
<p>上用水煎服。</p>
<p><u>追積丸</u>　下蟲積。</p>
<p>大黃　使君子肉（各一兩）　烏梅肉　木香（雷丸）　蕪荑（各三錢）　牽牛（取頭末）　檳榔（各五分）</p>
<p>上為末，砂糖和為丸，芡實大。每服一丸，白湯化下。</p>
<p><u>導積湯</u>　治吐瀉腹痛，大便後停，乃食積也。</p>
<p>厚朴（炒）　青皮（炒，各一錢）　山楂肉（三錢）　蒼朮（炒）　香附（炒，各二錢）　木香（三分，不見火）　枳實　陳皮　六神麯（各一錢）</p>
<p>上銼，姜引，水煎服，立效，屢驗。</p>
<p><u>百傷飲</u>　內傷肉食，發熱噦嘔，膨脹，肉食不化。</p>
<p>蒼朮（炒）　厚朴（薑汁炒）　山楂肉　麥芽（炒）　神麯　香附（炒，各一錢）　黃連（炒，八分）　半夏（制）　青皮（炒）　枳實（麩炒，各七分）　乾葛（一錢半）　砂仁（五分）　甘草（四分）</p>

<h1>卷之四</h1>

<h2>吐</h2>
<p>熱吐者，面赤唇紅，煩躁口渴，溺赤，口氣蒸手，脈洪滑者是也，半連湯主之。冒暑受熱而吐者，六和湯。冷吐者，乳食不化，其候面白眼慢神疲，不熱不渴，口氣微冷脈沉微也，宜助胃膏。吐而手足冷者，附子理中溫之。傷食吐者，兒畏乳食，腹痛噯氣，右脈滑大，寬中導滯飲、化鐵丹。積吐者，眼腫面黃足冷，腹熱腹痛，脈沉而滑者是也，百傷飲、消化丸。凡諸吐日久胃氣弱，守胃散補之，甚者醒脾，醒脾散溫之。</p>
<p><u>半連湯</u>　治熱吐。</p>
<p>半夏（湯泡）　黃連（薑汁炒，各一錢）　陳皮　枳實（麩炒）　厚朴（薑汁炒）　茯苓（各七分）　甘草（五分）</p>
<p>上姜三片，水煎服。</p>
<p><u>六和湯</u>　治長夏暑熱，心脾不調，氣不升降，霍亂吐瀉，寒熱交作。小便赤澀，去人參，熱者，加黃連，冷者加官姜。</p>
<p>扁豆（炒，一錢半）　赤茯苓　藿香　厚朴（薑汁炒，各一錢）　□□（錢半）　甘草（五分）　木瓜　砂仁（各七分）　人參　杏仁　半夏（湯泡，各八分）</p>
<p>上姜煎。</p>
<p><u>助胃膏</u>　治冷吐瀉。</p>
<p>人參　白朮（土炒）　茯苓　山藥（各一兩）　丁香　官桂（刮去粗皮）　砂仁　木香　白蔻（各三錢）　肉果（煨）　藿香　甘草　陳皮（各五錢）</p>
<p>上為末，煉蜜為丸，芡實大。每服一丸，米飲下。</p>
<p><u>附子理中湯</u>　治冷吐，手足厥冷，冷瀉，慢脾風。</p>
<p>人參　白朮　乾薑（煨）　附子（麵包煨，各一錢）　甘草（五分，炒）</p>
<p>上水煎服。</p>
<p><u>寬中導滯飲</u>　治傷食吐。</p>
<p>蒼朮（一錢半，炒過）　半夏（湯泡）　山楂肉　香附（炒過）　陳皮（去白）　厚朴（薑汁炒）　麥芽（各八分，炒過）　青皮（炒過）　甘草　砂仁（各五分）　木香（二分，不見火）</p>
<p>上用水、姜煎服。發熱，加乾薑一錢半。</p>
<p><u>化鐵丹</u>　肉食不化，吐瀉畏食等症。</p>
<p>神麯（炒過）　香附（米炒）　蒼朮（各一斤，米泔水浸一日，曬乾，炒）　山楂肉　麥芽（各八分，炒）　砂仁（二兩半）</p>
<p><u>百傷飲</u>　內傷肉食，發熱噦嘔，膨脹，肉食不化等症。</p>
<p>蒼朮（炒）　厚朴（薑汁炒）　山楂肉　麥芽（炒）　神麯　香附（各一錢，炒過）　黃連（八分）　半夏（制）　青皮（炒過）　枳實（麩炒，各七分）　乾葛（一錢半）　砂仁（五分）　甘草（四分）</p>
<p>上用水、姜煎服。</p>
<p><u>消化丸</u>　治積吐不消，食積腹痛。</p>
<p>莪朮（炒）　厚朴（炒）　青皮（炒）　麥芽（各一兩，炒）　山楂肉（三兩）　檳榔　使君肉（各七錢，炒）　蒼朮（炒）　香附（各二兩，炒）　木香（三錢，不見火）　砂仁（八錢）</p>
<p>上為末，搗飯為丸。米飲下一錢。</p>
<p><u>守胃散</u>　治嘔吐日久，脾胃虛弱。</p>
<p>人參　白朮（各一錢）　白茯苓　山藥　乾葛　扁豆　半夏　甘草</p>
<p>上用水煎，生薑自然汁一二匙，溫服。</p>
<p><u>參砂和胃散</u>　治虛寒嘔吐。</p>
<p>人參　砂仁　白朮　半夏　茯苓　陳皮　藿香　甘草</p>
<p>上用姜三片，水煎服。</p>
<p><u>半姜飲</u>　治乾嘔欲死者。</p>
<p>半夏（一兩三錢）　生薑（一兩）</p>
<p>上銼。每服五錢，水煎服，效。</p>
<p><u>治吐方</u>　諸藥不效者，宜二陳湯加入白豆蔻，姜引煎服，立效。</p>
<p>茯苓　茯神　遠志　南木香　丁香　活石　硃砂</p>
<p>上各等分，為末。薑湯下。</p>
<p><u>加減不換金正氣散</u>　傷寒頭疼，憎寒壯熱，痞悶嘔吐，時行疫癘，山嵐障氣，不伏水土等疾。</p>
<p>白朮　陳皮　厚朴　藿香　半夏　甘草　砂仁　木瓜　大腹皮</p>
<p>上入生薑自然汁，同煎服。</p>

<h2>泄瀉</h2>
<p>夫泄瀉者，注下症也。蓋大腸為傳送之官，脾胃為水穀之海。或為飲食生冷之所傷，或為風寒暑濕之所感，脾胃停滯，以致闌門清濁不分，發注為下，而為泄瀉也。有瀉水，腹不痛者，濕也，飲食入胃不住，完穀不化者，氣虛也。腹痛，瀉水如熱湯，痛一陣瀉一陣者，火也。或瀉或不瀉，或多或少者，痰也。腹痛甚而泄瀉，瀉後痛減者，食積也。瀉下如抱壞雞子臭者，或嚥氣作酸者，傷於食也。</p>
<p><u>胃苓湯</u>　治中暑濕脾胃不和，腹痛泄瀉作渴，小便不利，水穀不分。</p>
<p>蒼朮　川厚朴（薑汁炒）　陳皮　豬苓　澤瀉　白朮　赤茯苓（各一錢）　肉桂（三分）　甘草（三分）</p>
<p>上銼。薑、棗、水煎服。</p>
<p>一方，加升麻、防風以勝濕。食積，加神麯、麥芽；水瀉，加活石；氣虛，加人參、白朮；有熱，加黃連；瀉，加肉豆蔻、訶子。</p>
<p><u>藿香正氣散</u>　治感濕泄瀉，或瀉多瀉少者，痰也。</p>
<p>藿香　紫蘇　大腹皮　陳皮　桔梗　白茯苓　法半夏　六神麯　川厚朴　白芷　甘草　薑、棗（引）</p>
<p><u>四君子湯</u>　治氣虛脾泄不止。</p>
<p>人參　炒白朮　白茯苓　炙甘草　姜　棗（引）</p>
<p>加淮山藥、砂仁、澤瀉、桔梗。</p>
<p><u>黃芩湯</u>　治火瀉。</p>
<p>炒芩　炒白芍　炙甘草　豬苓　澤瀉　赤茯苓　燈心（引）</p>
<p><u>導積湯</u>　治傷食，食積作瀉者。</p>
<p>香附　蒼朮　青皮　枳實　南木香　山楂肉　陳皮　川厚朴　六神麯　姜（引）</p>
<p>屢驗。</p>
<p><u>黃連香薷飲</u>　治暑月泄瀉者。</p>
<p>香薷　扁豆　川厚朴　川連</p>
<p>合五苓散，名薷苓湯。</p>
<p>吐瀉日久不愈，將死者，則用灸法，宜於天樞二穴（在臍旁左右二寸是）、氣海（在臍下一寸半，其寸以本人中指一屈即是一寸）。</p>
<p>又有泄瀉三五年不愈者，灸百會穴七壯，即愈。</p>

<h2>霍亂吐瀉</h2>
<p>小兒吐瀉有身溫身熱者，有身涼者，有吐瀉或驚風者，有夏秋傷暑吐瀉者，蓋因內有所積，外有所傷，陰不降，陽不升，乖膈而成也，俱宜以藿香正氣散主之。</p>
<p><u>藿香正氣散</u>　治四時不正之氣，山嵐寒疫，雨濕障氣，不服水土，飲食停泄，一切脾胃不和，諸症皆治。</p>
<p>紫蘇　大腹皮　陳皮　桔梗　白茯苓　法半夏　白芷（各五分）　川厚朴（薑汁炒）　藿香（一錢）　白朮（五分）　甘草</p>
<p>上切薑、棗煎服。霍亂轉筋，加木瓜；如腹痛，加炒白芍；寒痛，加厚桂；冷痛，加乾薑；飲食不化，心下痞悶，加香附、砂仁；水穀不化，加神麯、麥芽；時氣寒熱，加柴胡、乾葛；濕熱傳霍亂轉筋，加川連、扁豆。</p>
<p>按：男婦小兒霍亂之疾，未有不由內傷生冷、外感風寒而致也，用藿香正氣散治之，百發百中。一歲之內，常治未有不效者。但有熱，加薑汁炒川連；寒甚，加乾薑，萬無一失；若腹痛，加桂；痛甚，去藿香，加吳萸；小便不利，加赤茯苓，極驗。</p>
<p>春夏傷暑吐瀉者，宜用六和湯。</p>
<p>身冷，手足厥而不熱不渴者，宜用理中湯。</p>
<p>如霍亂，諸藥不愈者，宜灸崑崙穴七壯，實能起死，神效。</p>

<h2>瘧症</h2>
<p>經云：夏傷於暑，秋必發瘧。又無痰不成瘧，無食不成瘧，深得致瘧之因。無汗要有汗，散邪為主；有汗要無汗，正氣為主，深得治瘧之法。以青皮飲治秋時正瘧，隨症加減，屢用屢效。若胃中有郁痰伏結者，以草果飲一服即愈。有入臟腑久瘧，大便常滑，忽得瘧疾，嘔吐異常，以二陳加參鬚、豆蔻，一二服即愈。又有一等鬱症似瘧者，其寒熱與正瘧無異。但其人口苦脅痛，面青耳鳴，脈澀，須以逍遙散加茱、連、貝母，倍柴胡，繼以六味地黃加柴胡、芍藥而安。</p>
<p>又有傷寒後、大病後、產後、勞瘵等證，陰陽兩虛，往來寒熱，與瘧無異。面赤如脂，口渴不甚，吐痰如湧，身以上熱如烙，膝以下自覺冷，此真陽泛上，腎虛之極。急以加減地黃湯大劑與飲，其熱即退，繼以人參建中湯調理而安。</p>
<p><u>青皮飲</u>　治一切瘧疾，不拘寒熱多少皆效。</p>
<p>青皮　川厚朴　草果　炒白朮　柴胡　白茯苓　黃芩　半夏（法）　甘草</p>
<p>寒熱往來屬少陽經症，故以小柴胡為君，草果、厚朴所以化食，青皮、半夏所以祛痰。寒多者，加肉桂；熱多者，加川連，此方配合用之，極當。</p>
<p>上姜引。</p>
<p><u>逍遙散</u>　治郁瘧，有痰無聲咳嗽。</p>
<p>柴胡　芍藥　丹皮　陳皮　茯苓　當歸　白朮　薄荷　貝母（各一錢）　川連（五分）　吳萸（一分半，同黃連炒）</p>
<p>上姜引。</p>
<p>治小兒咳嗽，有痰無聲，寒熱往來，晝夜不眠，骨瘦如柴，後服此藥五帖，諸症悉退，甚驗。</p>
<p>丹溪先生云：乾咳嗽者最難治，惟逍遙散最妙。果然。</p>
<p><u>草果飲</u>　治脾胃有禁痰伏涎者，元氣壯強者可用，虛者禁用。</p>
<p>草果　常山　知母　烏梅　檳榔　甘草　穿山甲</p>
<p>水煎服。</p>
<p>內方用知母治陰陽火熱，草果治足太陰之寒，常山主吐痰結，甘草和諸藥，烏梅去痰止渴，檳榔破滯除痰，穿山甲出陰入陽，穿經絡於榮分，以破暑結之邪，為之使也。</p>
<p><u>瘧母灸法</u>　宜於肺俞穴灸三壯，又背對臍心之所灸背三壯，即愈。</p>
<p><u>加減地黃湯</u></p>
<p>熟地（四錢）　山藥（二錢）　石棗肉（一錢五分）　白茯苓（一錢五分）　澤瀉（一錢）　柴胡（一錢）　芍藥（一錢）　肉桂（一錢）　五味子（一錢）</p>
<p>白水煎，加熟附五分立效。</p>
<p>治驗：予之小兒，年方十歲，壬寅仲冬，病恚驚甚篤，服諸解熱清痰丸散及沉香、滾痰、雙解等，急驚方退。變下午後寒熱往來，面赤口微渴，身以上熱如絡，膝以下自覺冷，服此藥如秤三服，立安。</p>
<p><u>建中湯</u>　治病久虛弱，寒熱往來。</p>
<p>人參（一錢）　芍藥（一錢）　甘草（一錢）　肉桂（七分）　大棗　飴糖</p>
<p>水煎服。</p>
<p><u>補中益氣湯</u>　治血氣不足內傷之症，寒熱瘧久不愈皆效。</p>
<p>黃耆　白朮　當歸　升麻　柴胡　陳皮</p>
<p>水、薑、棗煎服。</p>
<p><u>人參養胃湯</u>　治寒多熱少。</p>
<p>人參　茯苓　半夏　藿香　草果　陳皮　蒼朮　川厚朴　烏梅　炙甘草</p>
<p>上姜七片為引。中脘虛寒，加厚桂。</p>

<h2>痢疾</h2>
<p>夫痢乃濕、熱、食積三者，下青黃赤白黑五色也。赤熱，傷血分則赤，傷氣分則白，氣血俱傷，則赤白相兼，黃者食積，黑者濕勝也。其證腹臍疼痛，或下鮮色，或下瘀血，或下紫黑血，或下白膿，赤白相混，裡急後重，頻欲登廁，晝夜無度。治法宜行氣和血，開鬱散結，瀉脾胃之濕熱，消臟腑之積滯。經云：熱積氣滯而為痢，只宜木香導氣湯、立效散以推其邪、以徹其毒，皆良法也。若下如屋漏水，大孔開如竹筒、魚腦髓者，脈大身熱者，不治，症重也。</p>
<p><u>木香導氣湯</u>　治痢疾初起腹痛，紅白相雜，裡急後重，發熱噤口，無論老幼，先與一服，甚效。</p>
<p>枳實　檳榔（各一錢）　大黃（一錢五分）　生白芍　川連（各一錢二分）　白茯苓（八分）　木香　朴硝（各五分）</p>
<p>水煎，空心服。小便赤，加滑石、木通。</p>
<p><u>立效散</u>　治赤白痢疾，膿血相兼，裡急後重疼痛，一服即止。</p>
<p>川連（二錢，酒洗，吳萸一錢同炒，去萸不用）　炒枳殼（一錢）</p>
<p>上為末。空心酒送下，泄瀉米湯下。噤口痢，陳倉米湯下。</p>
<p><u>六一順氣湯</u>　治痢不問赤白相雜，肚痛裡急後重，渾身發熱，口乾作渴。</p>
<p>柴胡　炒芩　芍藥　枳實　川厚朴　大黃　玄明粉　甘草</p>
<p>上銼。水煎，臨服入鐵鏽水二三匙調服。</p>
<p>上方專治赤痢兼傷寒之神妙也。</p>
<p>噤口痢，多是胃口熱甚，宜用黃連三錢，人參一錢，或加石蓮肉一錢，煎湯終日呷之，但湯下咽便好，立效。</p>
<p>外以田螺搗菴盒臍中，引熱下行故也。</p>
<p>又方　用秤錘燒紅，用好醋淋之，病人開口吸氣吞之。</p>
<p>凡痢噤口，不問赤白，飲食即吐，諸物不納，皆是毒氣熏蒸，胃口熱盛，切不可認胃寒噤口，而用辛熱之藥，宜以前木香導氣湯去大黃、朴硝，入韭汁、陳倉米飲，入一盞於內同服，即愈。</p>
<p>又方　噤口痢，諸藥不效者，用糞缸中蛆，不拘多少，洗淨，瓦焙乾為末，每服一二匙，米飲調服，就思食大效。</p>
<p><u>薑茶湯</u>　治痢疾腹痛，不論赤白冷熱。蓋姜能助陽，茶能助陰，二者皆消散之，又且調平陰陽，況於暑毒、酒食毒皆能解之也。</p>
<p>老生薑（五大片）　細茶（三錢）</p>
<p>上用白水煎服，或加連根韭菜同搗汁，酒調服。</p>
<p><u>仙梅丸</u>　治痢疾發熱發渴者。</p>
<p>細茶（二兩）　烏梅肉（二兩）</p>
<p>上為末，蜜勻作丸，彈子大。冷熱水隨下。</p>
<p><u>黃連香薷飲</u>　治暑所傷，下痢赤色。</p>
<p>香薷（一錢）　扁豆（五分）　川厚朴（五分）　黃連（一錢）</p>
<p>上姜引，水煎。</p>
<p><u>寬腸枳殼散</u>　順氣止痢。</p>
<p>甘草（炙，六分）　舊枳殼（炒，二錢）</p>
<p>上為末。每服一錢，空心沸湯點服。</p>

<h2>脫肛</h2>
<p>因大腸濕熱下迫故也，宜清熱升提其氣，升麻神應丸。泄瀉久不止而脫肛者，氣下陷，補氣升陽湯。</p>
<p><u>升麻神應丸</u>　濕熱脫肛。</p>
<p>升麻　防風（各五錢）　當歸　生地　黃連（各一兩）</p>
<p>上為末，蜜丸，梧桐子大。每服一錢，空心白湯下。</p>
<p><u>補氣升陽湯</u>　氣虛下陷。</p>
<p>人參　白朮（炒，各一錢）　升麻　防風　當歸（各八分）　地榆　烏梅（各七分）　蓮子（去心，三錢）</p>
<p>上加大棗一枚，水煎，空心服。</p>
<p>治大腸虛而挾熱，肛門紅腫。</p>
<p>砂仁　黃連　木賊　加槐花米（炒）</p>
<p>上各等分，為末。米湯送下。</p>
<p>治脫肛熱痛，生蒲黃為末，以豬膠和敷按之。</p>
<p><u>治脫肛方</u></p>
<p>蛇床子　甘草（各一兩）</p>
<p>上為末。每用二錢，煎湯洗，效。</p>
<p>治肛門腫熱毒，即愈。</p>
<p>防風　蒺藜　槐角　黃連（各一兩）　陳冬瓜皮（二兩）</p>
<p>上為末。空心酒下，或為散亦可。</p>
<p><u>升麻和氣飲</u>　治脫肛。</p>
<p>半夏　當歸　蒼朮　赤茯苓　桔梗　陳皮　甘草　枳殼　殭蠶　乾葛　赤芍　白芷　升麻</p>
<p>上用燈心十五根，煎服。</p>
<p>治小兒脫肛，蓋菜籽炒為末，點豬肝服。不效，宜灸龜尾穴三壯即愈。</p>

<h2>便血臟毒</h2>
<p>議曰：兒生七日之內，大小便有血出者，此由胎氣熱盛之所致也。母食酒面炙煿熱物，流入心肺，兒在胎內受其熱毒，亦傳心肺，且女子熱入心，故小便有之，男子熱入肺，故大腸有之，血出淡淡，有似坯水，盛則其血如鮮。凡遇有此，不可以他藥，只以生地黃根，取自然汁，入蜜少許和勻，溫溫與服，移時自安，男子皆效，甘露飲宜兼與服，茅根、茅花煎濃湯服亦妙，犀角地黃湯亦可服，臟毒聚金丸用之效，地黃丸亦可用。有瘀血者，桃仁承氣湯下之。</p>
<p><u>甘露飲</u>　治小兒胃中客熱，牙宣口氣，齒齦腫爛，時出膿血便血。</p>
<p>熟地黃　麥門冬（去心）　枳殼（去瓤，炒）　甘草（炙）　山茵陳　枇葉（炮）　石斛（去蘆）　黃芩　生乾地黃　天門冬（去心，焙，各等分）</p>
<p>上銼散。每服二錢，水一盞，煎七分，去滓，食後臨臥，溫服。小兒一服分作二服，仍量歲數加減服。</p>
<p><u>聚金丸</u>　治大便下血。</p>
<p>黃連（四兩，一兩水浸曬乾，一兩炒，一兩泡，一兩生用）　黃芩　防風（去蘆，各一兩）</p>
<p>上件為末，煮麵糊丸，桐子大。每服五十丸，量意加減，以米泔浸枳殼水下，不拘時候。夏月入大黃二兩，三時不須用。或枳殼為末，入前藥為末亦效。小兒，丸綠豆大，亦治血痢。</p>
<p><u>犀角地黃湯</u>　治傷寒及溫病應發汗而不發汗，內有瘀血，吐血鼻衄，面黃大便黑。</p>
<p>生犀屑（如無，以升麻代之）　牡丹皮（去骨，各一兩）　生地黃（半斤）　芍藥（七錢半）</p>
<p>上銼散。每服三錢，水一盞，煎服。</p>
<p><u>千金地黃丸</u>　治心熱腸風臟毒去血</p>

<h1>卷之五</h1>

<h2>大便不通</h2>
<p>議曰：小兒大腸熱，乃是肺家有熱在裡，流入大腸，以致秘結不通，乃實熱也，當以四順清涼飲加柴胡，熱甚者加山梔、黃芩流利之。其表裡俱熱者，面黃頰赤，唇燥口乾，小便赤澀，大便焦黃，解後大便秘或肚痛者，以清涼飲、大柴胡湯、水氣湯皆可下之。積熱者，神芎丸尤妙。</p>
<p><u>四順清涼散</u>　通順大腸，令無壅閉。</p>
<p>赤芍藥　當歸　甘草　大黃（各等分）</p>
<p>上㕮咀。三歲以上每服一錢，水一盞，煎七分，作兩服。欲利小便，用赤芍藥；虛熱，加甘草；不利，減大黃；冒風邪，加去節麻黃；中風體強、眼睛上視，加獨活。量兒大小虛實加減，微溏利為度。可加荊芥。</p>
<p><u>大柴胡湯</u>　治大便閉結，蓄熱於內。</p>
<p>柴胡（去蘆，八錢）　黃芩　赤芍藥（各三錢）　半夏（湯泡七次，切片，焙乾，二錢五分）　枳實（去瓤，麵炒，五分）</p>
<p>上㕮咀，薑、棗煎，加減服之。欲下，加大黃半兩。</p>
<p><u>大承氣湯</u>　治邪熱結於胃內及停宿積不去。</p>
<p>大黃　芒硝（各半兩）　厚朴（一兩）　枳實（二枚）</p>
<p>上銼散。每服三字，姜三片，煎服。</p>
<p><u>神芎丸</u>　治熱積於內，大便閉塞。</p>
<p>大黃　黃芩（各二兩）　生牽牛末（一兩）　黃連　薄荷葉　川芎（各半兩）　滑石（四兩）</p>
<p>上為細末，滴水丸，桐子大。每服四十五丸，食後溫水下。一方加蒲黃，止血症用。</p>

<h2>小便不通</h2>
<p>湯氏云：凡小兒小便不通，皆因心經不順，或伏熱，或驚起，心火上攻，不能降濟，腎水不能上升，故使心經愈熱，而小腸與心合，所以小便不通，木通湯主之，甚者八正散。又小便不通，臍腹脹悶，心神煩熱，梔子仁散主之。積熱者，神芎丸效。</p>
<p><u>木通湯</u>　治小便不通，小腹疼痛。</p>
<p>木通　滑石（各一兩）　黑牽牛（炒，半兩）</p>
<p>上㕮咀。燈心、蔥白煎，去滓，大小加減以意。</p>
<p><u>八正散</u>　治小兒心經邪熱，一切蘊毒，咽乾口燥，大渴引飲，惺忪面熱，煩躁不寧，目赤睛疼，唇焦鼻衄，口舌生瘡，咽喉腫痛，及治小便赤澀不通，血淋之症。</p>
<p>車前子　瞿麥　滑石　大黃（濕紙裹）　山梔　扁蓄　木通　甘草</p>
<p>上銼散。每二錢，水一盞，入燈心，煎七分，去渣溫服，食後臨臥，小兒量力，少少與服。</p>
<p><u>蔥號散</u>　治七日小便不通。</p>
<p>蔥白（三四寸）　人乳</p>
<p>上件同搗如泥，付兒口內，即與乳下。</p>
<p><u>梔子仁散</u>　治小兒小便不通，臍腹脹悶，心神煩熱。</p>
<p>梔子仁（五枚）　茅根　冬葵子（各半兩）　甘草（減半）</p>
<p>上銼散。每服二錢，水一小盞，煎五分，去滓，不拘時候溫服。</p>
<p><u>神芎丸</u>　治已見前大便不通，並治小便不利。</p>
<p>大黃（生）　黃芩（各二兩）　生牽牛末（一兩）　滑石　黃連　薄荷葉　川芎（各半兩）</p>
<p>上為細末，滴水丸，桐子大。每服四十五丸，食後溫水下。一方加蒲黃，止血症。</p>

<h2>大小便不通</h2>
<p>議曰：調理嬰孩，傷寒體熱，頭目昏沉，不思飲食，夾驚夾食，寒熱，大小便閉澀不通，煩躁作渴，服大連翹湯加大黃。神芎治小兒驚風積熱，大小便澀滯，其效尤速，又掩臍法，用連根蔥一根，不洗帶泥土，生薑一片，豆豉二十一粒，鹽二匙，同研爛，捏餅烘熱，掩臍中，以綿扎定，良久氣透自通。不然，另換一劑。小便不通亦可。</p>
<p><u>大連翹湯</u>　治二便閉結。</p>
<p>連翹　瞿麥　荊芥　木通　赤芍藥　當歸　防風　蟬蛻　柴胡　活石　甘草（炒，各一錢）　山梔仁　黃芩（各五分）</p>
<p>上銼細。每服一錢，加紫草煎，溫服。熱甚，加大黃，更詳症加減為佳。</p>
<p>加入黑黃丸妙。</p>
<p>大黃（生）　黃芩（各二兩）　生牽牛末（二兩）　滑石（四兩）　黃連　薄荷葉　川芎（各半兩）</p>
<p>上細末，滴水丸，桐子大。每服四十五丸，食後溫水下。一方加蒲黃，止血症用。</p>
<p><u>掩臍法</u>　治大小便不通。</p>
<p>海螄（四十九粒）　蔥根（帶土，七個）　黑豆（七個）　鹽（少許）</p>
<p>上同研爛，捏成一餅，烘熱放臍上，以帛扎定，久則自通。</p>

<h2>五淋</h2>
<p>巢氏云：小兒諸淋者，腎與膀胱熱也。膀胱與腎為表裡，俱主水。水入小腸，下於胞，行於陰，為小便也。膀胱熱則津液內溢，水道不通，停積於胞；腎氣熱則澀，故合水道不利，小便淋瀝，故謂之淋，其狀小便出少而數，其小腹急痛引臍是也。又有石淋、氣淋、熱淋、血淋、寒淋，五淋形症各有說焉。其石淋者，淋而出砂石也，腎與熱所乘，則化為石。小便莖中痛，尿不能卒出時自痛，引膀胱裡急，砂石從小便而出也。其氣淋者，腎與膀胱肺之熱氣則脹，氣為熱所乘，故流入膀胱，則氣壅不散，小腹氣滿，水不宣利，故小便澀而成淋也。其熱淋者，三焦有熱氣，礙於腎與膀胱，故熱氣流入於胞，而成淋也。其血淋者，是熱之盛甚，則尿血，謂之血淋。心主血，其熱甚者，血則散漫，失其常經，滲溢入胞，而成血淋矣。若寒淋者，其病狀先寒戰，然後尿是也。小兒取冷過度，下焦受之，冷氣入胞，於正氣交爭，寒氣正氣相勝則戰，寒氣解故得小便也。治淋之法，八正散、金砂散立效。五苓散、木通散等劑，機變用藥，必可求痊。導赤散亦效，與大方脈相添用藥，不亦可乎。</p>
<p><u>八正散</u>　治五淋，小便淋滴，頻數無度，神效。</p>
<p>車前子　木通　瞿麥　萹蓄　滑石　炒梔仁　大黃　甘草</p>
<p>燈心引，加淮牛膝更妙。</p>
<p><u>金砂散</u>　治小便淋瀝不通。</p>
<p>鬱金　海金砂　滑石　甘草（各等分）</p>
<p>上為末。三歲兒一錢，煎落帚湯調下，燈心木通湯亦可。冬瓜最治小兒小便不通，淋瀝並渴。</p>
<p><u>立效散</u>　治小兒諸淋不通，莖中疼痛。</p>
<p>木通　甘草　白孩兒花（名王不留行）　胡荽　滑石　海金砂　山梔　檳榔（各等分）</p>
<p>上銼散。每服二錢，水半盞，煎三分，去滓服。</p>
<p><u>木通散</u>　治小兒大小便不通，小腹疼痛。</p>
<p>木通　滑石（各一兩）　黑牽牛（炒，半兩）</p>
<p>上為粗末。燈心、蔥白煎去滓，大小加減以意。</p>
<p>玉莖腫痛，用木通、川連各一錢，水煎服，即愈。</p>

<h2>遺尿</h2>
<p>巢氏云：遺尿者，此由膀胱有冷，不能約於水故也。腎主水，腎氣下通於陰。小便者，水之餘也，膀胱為津液之府，既冷氣衰弱，不能約水，故遺尿也。楊氏云：小兒尿床，由膀胱冷，夜屬陰，小便不禁，睡里自出，宜破故紙散治之，益智之劑亦不可缺。</p>
<p><u>破故紙散</u>　治小兒夜間尿床，由膀胱冷，夜屬陰，小便不禁，睡里自出。</p>
<p>破故紙</p>
<p>上一味炒為末，熱湯調下。</p>
<p>又方　益智（生）、白茯苓（去皮）、茯神（去皮）各等分，上為細末。空心清茶調下，亦治白濁。</p>
<p>又方　五倍子（一半生，一半燒存性），上為末，雪糕為丸。每服三十粒，米飲下。</p>

<h2>尿如米泔</h2>
<p>湯氏曰：小兒尿白者，由哺不節，過傷於脾，故使清濁不分，而尿白如米泔也。久則成疳，亦心脾伏熱兼而得之。宜疏脾土，消食化氣，通利小腑也，茯苓散主之，三稜散、消食丸可選而用之，分清飲亦可服。</p>
<p><u>茯苓散</u>　治小兒尿如米泔，因乳哺失節，有傷於脾，致使不分清濁而色白也。久則成疳，亦心脾伏熱，兼而得之。</p>
<p>三稜　蓬朮（煨）　縮砂仁　赤茯苓（各兩半）　青皮　陳皮　滑石　甘草（微炒，各二錢半）</p>
<p>上為末。每服一錢，麥門冬、燈心煎湯調下。</p>
<p><u>三稜散</u>　治小兒尿白者，由乳哺不節，過傷於脾，故使不分清濁而白也，久則成疳，宜疏土、消食、化積。</p>
<p>三稜　蓬朮（煨，各一兩）　益智　甘草　神麯（炒）　麥芽（炒）　橘皮（各半兩）</p>
<p>上為末。每服一錢，白湯調下。</p>
<p><u>分清飲</u>　通心氣，補漏精，治小便餘瀝並赤白濁。</p>
<p>益智仁　川萆薢　石菖蒲（鹽炒）　天台烏藥（各等分）</p>
<p>上為細末。入些子鹽，空心服，或燈心煎湯調下，可入茯苓、白芍藥。</p>

<h2>癰毒腫癤</h2>
<p>湯氏云：此四者皆由血氣凝滯，而有熱毒之氣乘之，故結聚成癰癤腫毒也，備急神驗方末結之。初微見有頭紅壘起隱痛者，急用不語唾，夜半頻頻塗之，即消散。若已結成，當用天烏散貼。熱甚者，涼膈散亦可服。</p>
<p><u>天烏散貼方</u></p>
<p>天南星　赤小豆　草烏　黃櫱</p>
<p>上等分，為末。生薑自然汁調貼患處，用米醋調尤佳。</p>
<p><u>漏蘆散</u>　治小兒癰瘡及丹毒瘡癤。</p>
<p>漏蘆　麻黃（去根節）　芒硝　連翹　黃芩　川升麻　甘草（各二錢半）　川大黃（一兩，炒）　白蘞（七錢半）</p>
<p>上銼散。每服二錢，水一盞，煎五分去滓，量大小加減，不拘時候，加減溫服。可加羌活、荊芥、川芎、防風、枳殼。</p>
<p><u>清熱解毒丸</u></p>
<p>寒水石　石膏（研，各八兩）　青黛（四兩）</p>
<p>上研如粉，入青黛和勻，蒸餅七個，水調丸如芡實大。每服一丸，食後新汲水化下，或細嚼生薑湯下亦得。如中諸毒，並宜服。及小兒驚風潮熱、痰涎壅塞、心胸煩躁、頰赤多渴、坐臥不穩，每三歲兒可服半粒，量大小加減。</p>
<p><u>玄參散</u>　解諸般熱，消瘡癤。</p>
<p>生地黃　玄參（各一兩）　大黃（煨，半兩）</p>
<p>上為末，煉蜜丸，桐子大。每服一丸，煎燈心、竹葉湯化下。</p>
<p>又方　治痘疹後餘毒不散，遍身生瘡不已，大能解毒。</p>
<p>玄參　赤芍藥　生地黃　赤茯苓　荊芥　防風　木通　桔梗　黃芩　硃砂　青黛（各等分）</p>
<p>上為細末，煉蜜丸，芡實大。每服一丸，薄荷湯下，大小加減服之。</p>
<p><u>五福化毒丹</u>　治小兒蘊積毒熱，驚惕狂躁，頰赤咽乾，口舌生瘡，夜臥不寧，譫言煩躁，頭面身體多生瘡癤。</p>
<p>玄參　桔梗（各二兩）　茯苓（二兩半）　人參　牙硝　青黛（各二兩）　甘草（七錢半）　麝　金箔　銀箔（各十片，為衣）</p>
<p>上為末，煉蜜和劑如芡實。每服一丸，薄荷湯下，不拘時。及治瘡疹後餘毒上攻，口齒涎血臭氣，以地黃汁化下一丸，及用雞翎刷在口內。</p>
<p><u>青露飲</u>　治背疽，一切惡瘡，圍藥不胤開。</p>
<p>白芨　白蘞　白芷　白蘚皮　朴硝　青黛　黃櫱　大黃　天花粉　青露葉（即芙蓉葉）　老龍皮（即老松木皮，各等分）</p>
<p>上為細末。生薑自然汁調塗，留小孔，如干，再用生薑汁潤。</p>
<p><u>驚毒諸般腫痛淹子</u></p>
<p>蒲黃　大黃　黃櫱　真粉　連翹　白芷　白芨　白蘞　牡蠣　丹參。</p>
<p>上為末。水調塗腫處。</p>
<p><u>涼膈散</u>　治小兒腑臟積熱，煩躁多渴，頭昏唇焦，咽燥舌腫，喉閉目赤，鼻衄頷頰結硬，口舌生瘡，痰實不利，涕唾稠黏，睡臥不寧，譫語狂妄，腸胃燥結，便溺赤澀，一切風腫，立宜服之。</p>
<p>川大黃　朴硝　甘草（炙，各一兩）　連翹（二兩）　梔子仁　黃芩　薄荷葉（去土，各半兩）</p>
<p>上銼散。每服二錢，水一盞，入竹葉七片，蜜少許，煎四分，食後溫服，大小加減。</p>

<h2>惡核瘰癧</h2>
<p>巢氏云：小兒惡核者，乃風熱毒氣與血氣相搏，結成頑核，生於項頸，遇風寒所折不消，結成瘰癧，久而漬膿成瘡者也。凡有此證，宜服清涼飲子及升麻湯等藥。湯氏貼惡核瘰癧各有妙方，千金連翹丸。</p>
<p><u>清涼飲子</u>　治瘰癧漬膿。</p>
<p>大黃　連翹　芍藥　羌活　當歸　防風　甘草　山梔仁（各等分）</p>
<p>上為飲子，每服一大錢，水半盞，煎三分，去滓，不拘時候。</p>
<p><u>連翹丸</u>　治小兒無故寒熱，強健如故，而身體頸項結核瘰癧，及腸脅背裡有慳核不痛，名為結風氣腫。</p>
<p>連翹　桑白皮　白頭翁　牡丹皮　防風　黃櫱　桂心　香豉　獨活　秦艽（各半兩）　海藻（二錢半）</p>
<p>上為末，煉蜜為丸如梧桐大。每服十丸，或二十丸，燈心湯下。</p>
<p><u>大聖散</u></p>
<p>羌活　荊芥　升麻　薄荷　防風　甘草　大黃　黃芩　玄參（各等分）</p>
<p>上等分，為末。每二錢，水一盞，煎六分，溫服。</p>
<p>又方</p>
<p>牡蠣（二兩，火煅為末）　玄參（一兩）　甘草（半兩）</p>
<p>為末。每二錢，清茶調下。</p>
<p><u>白芨散</u>　治瘰癧濃汁不幹。</p>
<p>白芨　貝母（去心，各五錢）　輕粉（一錢）</p>
<p><u>治瘰癧秘方</u></p>
<p>單用夏枯草煎，當茶服屢效。</p>
<p>又宜灸先腫者，將芋葉霧水搽之，要爛出膿頭，立消。</p>

<h2>瘡癬</h2>
<p>湯氏云：小兒傷濕，血氣壅滯則生瘡，多由父母並奶子不好潔淨，衣褥不與頻換洗濯，或尿屎穢汙，連日不洗，亦能浸漬而成瘡。天氣溫和，頻與澡洗更衣，多由外宣，亦不服藥。小兒不得已而服藥，此乃下策。將養合宜，何病可侵。更令乳哺有節，勿令過飽，其身乃如蒔樹，此調養之理也。浴方，春用柳條、荊芥，夏用棗葉、槐枝，秋冬用苦參，頻浴身安，外宣無病。金華散，又敷瘡癬等方皆可用也，摩風膏敷瘡癬極妙，兼服羌活散加防風、荊芥及大連翹飲、升麻湯等劑。</p>
<p><u>金華散</u>　治乾溼瘡癬。</p>
<p>黃丹（煅，一兩）　輕粉（一錢）　黃櫱　黃連（各半兩）　麝香（少許）</p>
<p>上為末。洗次乾摻之。如干癬瘡，用臘豬脂和敷。如無用麻油，亦可加黃芩、大黃。</p>
<p><u>摩風膏</u>　治小兒遍身瘡癬瘙癢。</p>
<p>苦參　瀝青　蕪荑（炮）　黃蠟（各一錢）　巴豆（三粒，去殼）　輕粉（五分）　全蠍（二枚）　真麻油（半兩）</p>
<p>上用麻油煎至巴豆焦，濾去所煎物，入輕粉和勻，敷瘡疥效。</p>
<p>一方　治惡癬以紫貝草根、生白礬少許，同擂爛，塗患處，兩次可斷根。</p>
<p>又方　用砒少許，滴醋同熬為膏塗之。</p>
<p>又方　以斑貓去頭足，糯米炒黃去米，以淮棗煮熟去皮，取肉為丸，唾津調之。</p>
<p><u>羌活散</u></p>
<p>川羌活　獨活　前胡　柴胡　川芎　白茯苓　桔梗　枳殼　人參　地骨皮　天麻（各等分）　甘草（減半）</p>
<p>上㕮咀。生薑、薄荷煎。加蟬蛻，治驚熱。</p>
<p><u>連翹湯</u></p>
<p>連翹　瞿麥　荊芥　本通　赤芍藥　當歸　防風　柴胡　活石　蟬蛻　甘草（炒，各一錢）　山梔仁　黃芩</p>
<p>上銼細。每服一錢，加紫草煎，溫服。熱甚，加大黃，更詳證加減為妥。</p>

<h2>折傷</h2>
<p>單方，宜用川三七磨酒服，柞葉擂酒亦妙。又用童便調酒服，或用梧桐樹根擂酒服。</p>

<h2>金瘡</h2>
<p>單方，用荒地苧麻葉陰乾，挪去粗殼，軟如綿者，一敷見功，甚速神驗。</p>

<h2>破傷風</h2>
<p><u>川羌活防風湯</u></p>
<p>川羌活　防風　藁本　川芎　白芍　細辛　地□　甘草</p>
<p>上水煎，熱服。便秘，加大黃；熱，加黃芩。</p>

<h2>湯火傷</h2>
<p><u>樹苦散</u>　治火燒湯燙，熱油，及脫肌肉者。</p>
<p>寒水石　大黃　炒黃芩</p>
<p>上末。香油調塗或乾摻。</p>
<p>又　用槮樹梢割下干搽，山刺樹皮為末敷之。枇杷樹皮為末，敷之，紫薇花樹葉口嚼敷之，甚驗；用麻油浸蜀葵花敷上；用多年白螺螄殼煅過為末，清油調敷，破者乾摻，神效。</p>

<h2>癲狗傷</h2>
<p>甘草、杏仁嚼爛搽傷處，又宜以銀杏（即白果），搗塗傷處，效。</p>
<p><u>瘋犬咬驗方</u>　男子二十一日可治，婦人十四日可治，忌麻布、夏衣及行走麻地，忌食雞、酒、魚、蔥，百日為度。</p>
<p>斑蝥（七個，看患人體弱，將一半去頭、足、翅，宜用秫米炒過用，以米黃為度）　金銀花（三錢）　大黃（五錢，生用）　殭蠶（七條）</p>
<p>上四味，用黃酒、清水各一碗，煎至一半，飢時服。解出血塊，至小便清白方為毒盡，後食清粥一碗即止。咬處，用杏仁去尖搗爛，加黑糖調敷。此方甚驗，百發百中。</p>

<h2>諸骨鯁</h2>
<p>法水治諸鯁，以淨器盛新汲水一盞，捧之面東念云：諸太上東流順水，急急如南方火帝律令敕。一氣念七遍，即吹一口氣入水中。如此七次，以水與患人飲，立下。或云可以吞針、吞竹筋。又用三稜打碎，噙一晝夜即化。</p>
<p>歌云：縮砂威靈仙，沙糖冷水煎，一喝才入口，諸骨軟如綿。甚驗。</p>
<p>一方，硼砂噙之即化，有用急性子嚼爛噙下，化。</p>

<h2>誤吞銅鉛金銀（等物不能化者）</h2>
<p>用肥豬膘與葵菜作羹，服數食，銅能自下。單用砂仁煎湯服之，其物自下。又用豬板油煮熟服之，自下。</p>

<h2>誤吞田螺鯁喉（不下，死在須臾者）</h2>
<p>用鴨一隻，以水灌入口中，少頃，將鴨倒懸，令吐出涎水，與患人服之，其螺即化，神驗。</p>
<p>即有谷鯁咽喉不下而腫者，亦用此法，神驗。</p>

<h2>治物入眼中</h2>
<p>以好京墨清水研，點入眼中即出。飛絲入眼，用新筆桿眼內攬，即收上。</p>

<h2>百蟲入耳</h2>
<p>麻油灌之即出，雞冠血點入耳中，即出。蠅子入耳，用皂角子研末，同生薑汁灌耳中，即出。蟻子入耳，用精豬肉炙香，置耳孔邊，即出。蜈蚣入耳，用生薑汁灌耳中，自出。或用熟雞肉一塊置耳孔邊，自出。</p>

<h2>黃豆入耳</h2>
<p>用鵝翎管截作長二寸，□□中膜入耳中，口氣吸之，即出。</p>

<h1>卷之六</h1>

<h2>五臟六腑所屬</h2>
<p>五臟屬陰，然痘瘡出自五臟。面部先見，少者為佳，要手足見，方為出透，方妥。六腑屬陽，然麻疹出自六腑。頭面成粒，淡多者易愈（要天庭見多，方為出透，吉）。</p>
<p>心屬火，其色赤，液化汗，舌為苗，小腸為腑，面位在印堂、方廣間。</p>
<p>肝屬木，其色青，液化淚，目為竅，膽經為腑，面部在左臉。</p>
<p>肺屬金，其色白，液化涕，鼻為竅，大腸為腑，面部在右臉。</p>
<p>脾屬土，其色黃，液化涎，口為竅，胃經為腑，面部在年壽、人中處。</p>
<p>腎屬水，其色黑，液化唾，耳為竅，膀胱為腑，面部在顴骨、耳、尻地。</p>
<p>命門與腎相同，屬火，性水，三焦為腑。</p>
<p>然三焦無形狀，在男子藏精，在女子聚胞。</p>
<p>夫痘雖云五臟部位吉凶，皆由胎毒所幹，要在臨機應變，切須認症參詳。蓋痘分順、險、逆三種，務宜靜心看定。初出之時，血點喜淡紅潤澤為順；圓暈成形，乾紅少間，光潤有神為險。形如蠶種，紫色乾枯者，逆也；大率總在氣會血附，紅活鮮明光潤為佳，順也。氣弱血盈，色或紅紫，或紅黃，險也；氣背離血，神去色枯，平陷不滿，逆也。醫者必須隨症立方，因時制宜，存乎人之變通，方為明醫。</p>

<h2>頭面部位吉凶歌</h2>
<p>五臟精華見面部，痘出部位分輕重；察形觀色審陰陽，切莫守株以待兔；右臉屬肺左屬肝，脾為年壽人中是；心屬印堂方廣間，腎居顴骨耳尻地；五臟部位定吉凶，痘嫌稠密及枯滯；天庭方廣若先沖，心經熱毒勢轟轟；矇頭鎖口及鎖項，多凶少吉藥無功。</p>

<h2>頭面部位吉凶圖</h2>
<figure>
<img alt="頭面部位吉凶圖">
</figure>

<h2>痘輕勿藥歌</h2>
<p>熱緩神精痘少稀，根窠紅活出參差；四肢溫暖無寒熱，飲食如當渴瀉無；太陽面頰俱光潤，手足壘壘完似珠；更兼腰項當心少，但宜調護不須醫。</p>

<h2>痘險貴預防歌</h2>
<p>發熱一日即便出，稠密鮮紅減飲食；泄瀉煩渴頭面多，紅斑夾疹二便澀；平闊灰白欠光明，防毒濃瘡水流濕；若此重症須預防，莫待臨期有疏失。</p>

<h2>痘逆形症歌</h2>
<p>熱極腰疼發不出，昏睡沉沉不納食；一齊湧出蠶種形，紅紫藍斑兼陷黑；邪視皮浮痘若無，頂似塵鋪併火棘；面唇先腫目無神，腳冷如冰漸過膝；無分皮肉一般紅，聲啞唇焦言不出；水泡癢塌並空倉，牙根臭爛同不得；寒戰咬牙症後驚，靨若竹衣便濃血；此皆逆症遇良醫，方可回生奪無力。</p>

<h2>痘疹辨疑賦</h2>
<p>痘毒蓄積，發為痘瘡。傳染由於外感，輕重過於內傷。初起太陽，壬水克乎丙火；後歸陽明，血水化為膿漿。勢若燃眉，變為反掌。若救焚兮，徙薪何如焦額；如落水兮，拯溺不及褰裳。欲知表裡虛實，須明寒熱溫涼。症候殊形，臟腑異狀。肝火激成水泡，肺主涕而濃漿，心斑紅紫，脾疹赤黃，腎經居下，不受汙濁，為變黑而可防。觀其外症，推於內腑。呵欠頰悶兮，肝木之因；咳嗽噴嚏兮，肺經之象。面目帶赤兮，心火炎於胸膈；手足厥而昏睡兮，脾土困於中央。耳尻屬腎，溫暖如常，二處灸熱，痘症乖張。先觀部位，次察災祥。陽明從目絡鼻，太陽形於頭上。心火炎熱則舌乾面赤，肺金鬱結則胸膈先傷。手足事乎脾胃，肝膽主脅肋之傍。頸項三陽交會，腰背統乎膀胱。外症分明，用心想像。泄者邪甚於下，嘔吐者邪甚於上。氣逆，腹脹隱隱；毒甚而腰痛惶惶。心熱甚而驚搐，胃邪實而顛狂。口燥咽乾，肺受火邪而液竭；便秘溺澀，腎因火旺而津亡。欲識痘之重輕，當觀熱與形狀。毒甚兮心如炎火，勢微兮內外清涼。寒熱往來，神氣爽定，知痘出必禎祥。數番漸出兮，春回寒谷；一齊湧出兮，火烈昆崗。蠶種蚤斑，刻期而歸陰府；蛇皮蟬蛻，引日而返泉鄉。雖怕紫紅，更嫌灰白。最宜淡紅滋潤，切忌黑陷干黃。色要明潤兮，猶恐薄嫩之易破；痘貴幹結兮，又恐癢塌之難當。面頰稀而磊落，清安可保；胸膈密而連串，吉凶難量。頂要尖圓，不宜平陷；漿宜飽滿，切忌空倉。皮喜老而愁嫩，膚愛活而怕光。結實高聳，始終無慮；丹浮皮肉，必主形傷。唇面預腫兮，八九如何可過；腰痛胃爛兮，一七定受災殃。瘡堆口舌，毒纏頸項。咽嗆喉腫，飲食難當。瀉利膿血，毒甚無漿。人力難書，天命匪長。痘瘡焦落，辨別陰陽；人中上下，先靨為良。若是足腰先靨黑，多凶少吉要提防。</p>

<h2>治痘用藥權宜</h2>
<p>藥貴中病，不貴執方。喜行溫補者，動稱乎文中；專於涼解者，祖述仲湯。痘有緩急，治宜權變。藥之寒熱，法有經常。執其繩脈者，如守株之待兔；惑於方書者，似多歧之亡羊。且如紅紫焮腫兮，涼血為上；灰白平塌兮，補氣最良。出不快兮為表實，而發散可用；二便閉兮是裡實，而疏利何方。毒不能以速散，毒盛者，令微汗之發越；熱不可以盡除，熱劇者，使小便之清長。三陰盛而多寒，必投辛熱；三陽數而多熱兮，無過苦涼。是故補元氣，參耆白朮；養榮血，歸芍地黃。發散表邪，重柴葛而輕桂枝；疏通里實，微枳殼而甚大黃。解熱毒，芩連梔子；快斑疹，紫草荊防。牛蒡連翹，瘡中之要領；甘草乃藥中之君王。玄參、桔梗能治咽痛，木通、車前利其膀胱。氣逆兮陳皮、青皮，胃寒兮丁香、木香。泄瀉兮訶子、豆蔻，嘔吐兮砂仁、藿香。祛風熱兮，蟬蛻、白芷；定驚搐兮，天麻、殭蠶。頭痛兮，川芎、藁本、蔓京可用；腰疼兮，杜仲、牛膝、玄胡索堪當。麥冬、乾葛，清心而止煩渴；厚朴、腹皮，療水腫而消腹脹。五味、杏仁，潤肺止嗽而定喘；山楂、枳實，消食行滯氣為良。痰實，半夏、南星、貝母；汗秘，羌獨、紫蘇、麻黃。紅花、丹皮可除血熱，鹿茸、川山甲，能起痘瘡。食積，麥芽、神麯、草果；後重，枳殼、檳榔、木香。犀角、羚羊解乎心肺之熱，秦艽、香附退乎脾胃之黃。乳香、沒藥止痛，乾薑、附子回陽。前胡、蘇子能消痰嗽，豬苓、澤瀉、茯苓清小腸。此乃藥味加減之大要，若病之輕重，各有主方。</p>

<h2>用藥法象</h2>
<p>夫藥有寒熱溫平之性，酸苦辛鹹甘淡之味。氣味陰陽不同，浮沉升降各異。酸為木化，咸乃因水而生；火若土甘，辛則緣金而致。輕清成象本乎天，重濁成形本於地。辛甘發散為陽，酸苦湧泄為陰。氣為陽，氣厚為陽中之陽，氣薄為陽中之陰。氣薄則發泄，氣厚則發熱。味為陰，味厚為陰中之陰，味薄為陰中之陽。味薄則通，味厚則泄。清之清者發腠理，陽中之陽，厚之氣。清之濁者實四肢，陽中之陰，薄氣使，濁之濁者走五臟，陰中之陰，乃厚味。濁之濁者歸六腑，陰中之陽，薄味耳。辛散酸收淡滲泄，咸軟苦泄甘緩結。橫行直達要推詳，五味之能雖悉別。由此觀之，則藥性為立方之綱領也。今詳訂治痘藥性，辨證諸方開具於後。</p>

<h2>治痘合用藥性</h2>
<p>升麻　苦平微寒，發表邪，解熱毒，散瘡疹，初發熱用，見點不用。</p>
<p>柴胡　苦平微寒，和解肌表熱毒，托痘，初熱面青，寒熱，少陽經用。</p>
<p>麻黃　苦甘性溫，發熱惡汗身痛用，散風邪，見痘不用，不得已暫用。</p>
<p>紫蘇　辛溫，痘遇嚴寒乾熱用，或風寒閉塞暫用。</p>
<p>乾葛　甘平溫，感冒風邪，遍身肢節疼，頭痛，解太陽表熱，三日前用。</p>
<p>防風　甘辛微溫，風熱者用，痘六日前同解毒用，六日後佐黃耆行表用。</p>
<p>白芷　辛溫，去頭痛、皮膚之風，痘中行漿止癢，陽明經用。</p>
<p>前胡　微寒，傷風咳嗽痰涎，解表邪，解風熱，痘六日前用。</p>
<p>桔梗　苦辛溫，寬胸膈，理咳嗽，利咽喉腫痛，為諸藥之舟楫，六日前用。</p>
<p>蟬蛻　甘溫，退翳，祛風，解毒，痘紅紫熱盛可用，勿多用，行漿忌用。</p>
<p>陳皮　辛苦溫，健脾快胃和中，化痘理氣，痘行漿泄瀉可用，六日前慎用。</p>
<p>半夏　辛溫，化痰涎，和脾胃，止嘔吐，痘中用少，異功散用之。</p>
<p>白茯苓　甘淡溫，利水除濕，益氣和中，行漿忌用，有水泡暫用，收斂干漿要用。</p>
<p>厚朴　苦辛溫，消脹健胃寬中，痘食傷泄瀉用，裡急後重兼檳榔用。</p>
<p>人參　甘微寒，止渴生津，豁虛痰，保元氣，□□保元托裡必用，聖藥。</p>
<p>黃耆　甘溫，實腠理，排膿，痘五六日色不紅□□□。</p>
<p>甘草　甘平，生瀉火，解熱毒灼，健脾胃，和諸藥。</p>
<p>白朮　甘溫，健脾消痞，止瀉補虛，痘前忌用，泄瀉不止，□□散用，痘後虛用。</p>
<p>川芎　辛溫，利頭痛，血虛血滯、頭面或左顴不起用，厥陰經血中藥。</p>
<p>當歸　辛溫，養血行血，痘四五日來血虛用，血熱同生地用。</p>
<p>白芍　苦酸微寒，破堅積，補血伐肝消癰，痘前忌，行漿時根盤散闊，酒炒用。</p>
<p>赤芍　苦酸微寒，攻血痹，散疼痛，解熱毒，痘四五日前用。</p>
<p>乾生地　甘寒，涼心經之血熱，瀉脾土之濕熱，痘紅紫血熱，六日前用。</p>
<p>鮮生地　苦甘大寒，痘出紅紫焦頭，或有黑陷、唇面先腫、赤斑便秘口渴者，搗□汗入藥用。</p>
<p>砂仁　辛溫，止嘔消食健胃，止腹中冷痛，痘中用少，孕婦出痘安胎必用。</p>
<p>紅花　辛溫，痘初出時血熱，多則行血，少則引血歸經，行漿時忌用。</p>
<p>丹皮　辛苦寒，去腸胃積血，痘紅紫發斑用，以涼血散血。</p>
<p>牛蒡子　辛寒，治喉痛，解風熱，痘紅紫熱甚，四五日解熱清毒分顆粒用。</p>
<p>白殭蠶　鹹辛微溫，祛頭風，解咽痛，發痘頭面種早咽痛必用。</p>
<p>川山甲　辛微寒，解毒，大能起痘，黑陷無漿用，多用恐燥咽喉。</p>
<p>皂角刺　辛微溫，解熱毒，引諸藥直達瘡所，痘不起頂用。</p>
<p>大附子　辛大熱，轉厥逆，痘虛寒、灰白、無漿、寒戰泄瀉暫用。</p>
<p>桂枝　辛熱氣薄，能走四肢，實腠理，痘虛寒，助漿引行達表。</p>
<p>丁香　辛熱，胃中受寒，吐瀉寒戰，異功散用。</p>
<p>木香　辛苦溫，和胃健脾，止痢散滯氣，痘不起，上如有寒毛，用異功散，木香散用。</p>
<p>訶子　辛溫，味澀，腸胃虛寒、痘中泄瀉不止用。</p>
<p>肉蔻　辛溫，脾虛寒停食，泄瀉不止，用以補之，漿時瀉不止用。</p>
<p>鹿茸　甘溫，痘大虛，灰白不起用，能助血行氣貫漿。</p>
<p>人牙　淡咸，痘黑陷不發，火煅二三釐，加麝能起黑陷。</p>
<p>桑蟲　甘微寒，化毒，痘五六日毒根不出，無漿路者用之，化毒行漿。</p>
<p>麝香　辛溫，闢穢開竅，痘黑陷不起，加別藥少用。</p>
<p>犀角　苦酸鹹寒，去心火，定驚解熱毒，痘血熱紅紫磨用。</p>
<p>羚羊角　苦寒，清肝肺，解熱毒，痘面頰紅紫不起發者磨用。</p>
<p>象牙　淡咸，能起痘，眼中有痘，磨水搗上好。</p>
<p>黃連　苦寒，瀉心火，厚腸胃，止濕熱瀉，解痘熱毒，額頭紅紫血熱必用酒炒。</p>
<p>黃芩　苦寒，瀉肺，解肌熱，痘未出齊忌用，用須酒炒。</p>
<p>山梔　苦寒，涼心腎，治衄血，散客熱，療虛煩，炒黑用。</p>
<p>大黃　苦，大寒，通燥結，瀉實熱，瀉上焦熱。用酒洗，祛風熱熟用。</p>
<p>石膏　酸辛淡寒，降胃火、肺火，墜痰，止煩熱，痘、發斑、便秘、渴用。</p>
<p>滑石　淡寒，利小便，瀉六腑之熱，痘渴甚，小便秘，五日前用。</p>
<p>玄參　酸苦微寒，消癰毒，治咽喉痛，消痰核熱毒，退無根火。</p>
<p>麥冬　甘平，止煩渴，潤肺清心，痘毒侵克心肺，用以解之。</p>
<p>貝母　辛苦微寒，消胸膈熱痰，解毒止嗽，利心肺，痘後喉肺間病必用。</p>
<p>連翹　苦平，退五心煩熱，解諸經熱毒，為瘡要領，痘前常用。</p>
<p>薄荷　辛溫，消風熱，清頭面之風腫，痘四五日前用。</p>
<p>荊芥　辛苦溫，疏風，退上焦火，散肌毒風熱癮疹，痘五日前用。</p>
<p>木通　甘平，利水，瀉小腸火，熱閉不通，痘五日前用。</p>
<p>枳殼　苦酸微寒，寬胸下氣，痘五六日前大便難者，用以寬腸。</p>
<p>山楂肉　甘溫健脾，消食化痰，起痘三四日前可用。</p>
<p>菊花　甘平，清頭目，痘後紅系翳膜遮睛用。</p>
<p>何首烏　苦澀，溫，治血中風濕麻痹，痘血熱癢塌用。</p>
<p>天花粉　苦寒，開胸中結痰，消結核，止渴除煩，解熱毒，痘六日前用。</p>
<p>薏仁　甘，微寒，除風濕，理腳氣，痘上體漿足結痂用之，引漿行下體，補脾利水。</p>
<p>山藥　甘，微溫，補脾除濕，痘後補脾、利水、干漿。</p>
<p>龍膽草　苦寒，退肝經邪熱，除下焦濕熱，止驚癇客忤，痘後散邪熱，目畏明用。</p>
<p>茅根　甘寒，血熱鼻血用，痘紅紫發斑取汁用。</p>
<p>穀精草　辛溫，痘後黑珠上白翳、畏明、白珠紅障、胬肉用之，退翳除障。</p>
<p>硃砂　甘，微寒，心熱盛，發狂神亂，少用安神。</p>
<p>牛黃　苦寒，甘，解心經之毒，發狂譫語豁痘用。</p>
<p>雞冠血　陰中之陽，最能升高透頂，發痘灰白無漿，刺熱血酒調用。</p>
<p>乳香　辛苦溫，調血氣，定痛，痘後餘毒用。</p>
<p>沒藥　苦平，破血理氣，止痛，痘後餘毒用。</p>

<h1>卷之七</h1>

<h2>痘瘡胎受感發形狀</h2>
<p>夫痘感於陰陽交媾之際，借淫火以成胎。父母過食辛辣炙煿，熱毒中於先天胎元之內，藏於命門骨髓之間，一遇歲火太過，天行時氣，或冬溫感動相火，或兒年命與歲氣相沖，乃必發而去之，方成後天正體。凡有生，各物皆然，而不知覺也。又必因傷食、感冒，驚搐而發熱不已。其發也，脈來大小不均，舉按急速，關紋紅紫，耳後綻起紅絲，煩躁臉赤，唇紅噴嚏，呵欠咳嗽，夢中驚悸不寧，或腹微痛，手足耳尖時冷，眼澀帶水，如睡初起之狀，此皆痘症也。</p>

<h2>痘瘡四臟見症形狀各異發熱應時</h2>
<p>痘之潮熱於巳午未時，面紅驚悸或發搐者，手少陰心經症也。心屬火，主血，初見點時，其形尖圓細小而色紅。潮熱於申酉戌時，咳嗽噴嚏兮，手太陰肺經症也。肺屬金，色白，主涕，其形扁大牽長，四五日來，紅點上泛出白頭，紅褪箍根，謂之火化金也。潮熱於寅卯辰時。呵欠煩悶驚搐者，足厥陰肝經症也。肝屬木，色青，主淚，其形尖聳圓淨，至五六七日來，白頭化出綠青漿水，上起標光油亮，謂之金化水也。潮熱無時，乍涼乍熱，手足時冷，多睡不食者，足太陰脾經症也。脾屬土，色黃，主運化，其形扁大不圓，至七八日，痘青漿轉為蒼蠟色，謂之水化土也。惟腎不受邪，故無症。</p>

<h2>禁忌俗例</h2>
<p>俗見痘瘡發熱，便停燈，閤家坐守。及到五六日來，行漿作癢，手足難禁，正要時刻眼力照應，而人反困倦，多致失於誤事。所以四五日前必宜安養，留精神於緊要用之，又見痘瘡發熱，便食芫荽酒；見點便吃酒漿、雞冠血；起點見長，少遲，便食桑蟲、臍帶等熱物。殊不知胎毒積蘊，遇歲火冬溫感發，熱症居多。間有毒輕虛弱，難起發者，湊巧或效。於三日，其反助毒為瘧，以致熱閉不出，毒難透肌，大熱不退，煩躁發渴，紅紫發斑，氣喘血枯等症。輕變重，重變逆，吉凶莫保，是皆誤服前熱物而致不可解者多矣，戒之戒之。自見點五六日間止，可用鯽魚、筍湯清和之味發毒於外；苦茶、荸薺、甘蔗、雪梨等清利之品，涼解於內，又必分經絡，認表裡，藥用清涼疏表、托裡化斑之劑。五六日後，或見虛弱灰白，頭面不腫，痘不起發，根窠不紅，身溫足冷，唇口氣寒，泄瀉青白等症，方可擇用酒漿、雞冠血煎雞汁、桑蟲、人牙、臍帶、胎元等物，隨證助發之，此大概破俗之論也。</p>

<h2>用藥宜忌察色進止神機</h2>
<p>痘症發熱，初用升麻葛根湯。本方中有芍藥，乃古人中和之意，但勿用於痘症。芍藥味酸收斂，使毒留連，終難發越。當歸辛熱助火，用之使涼藥無功。直待行漿時，若見紅根散闊，方宜酒炒白芍斂血歸根，少以當歸助之可也。發熱至未出齊，忌用芩、連、梔、柏、生地等寒涼，恐毒難透發。更忌黃芩涼表，毒難透肌，待足心都到，方為出齊。若有熱症，方可不忌寒涼，保血不使毒侵，日後方望氣至化漿也。四五六日之間，斯時最要眼力，分別部位、表裡、虛實俱症，用藥保血成漿，忌用參、耆、歸、朮、丁、木、桂、陳，辛燥助毒灼血，不可輕易。或者間有一二原稟不足，及泄瀉後氣血兩虛，氣冷身溫，面青唇白泄瀉，而痘不起，無顏色，虛寒之症，又在變通，不可概忌溫補。六七日之間，氣來化血成漿之日，機關妙用，要在斯時，生死吉凶，繫於此際。喜行涼解者，過用凝寒，致傷中氣，變為泄瀉、腫消、眼開、陷伏等症。偏於溫補者，早行峻補，助毒灼血，血枯不能化漿，終成黑陷火合。當譬之疱人蒸籠發酵之法，時刻難違。若酵未發而灶火先發，則酵燒殺矣。若酵已發而灶火發遲，則面坍塌不起矣。良猶是也，宜於此際，最要用心照應。但要痘頭褪出豆綠水，紅運歸根，鮮明活動，油亮標光，或痘密而面腫眼封，便是氣化毒透，時刻勿違。即宜轉手助漿，參、耆、保元可用。一犯寒涼，霎時腫消紅退，挽回難矣。若痘色紅紫乾枯，或面腫痘不腫，痘頭不褪，紅不歸根，乃毒根未透，雖六七八日，亦未可助漿，還當認毒之在表、在裡、傷氣、傷血，依此解托，必使毒化，方可助漿也。若痘無顏色，陷頂灰白，泄瀉氣溫，乃虛寒不能發毒，雖五六日，亦當溫補助其氣血，載毒成漿，勿使乘虛入里，為癢塌陷伏倒靨之症。大概六日前，毒未化為實熱，忌用溫補。六日後，毒已化成虛寒，忌用寒涼，其妙又在於寒涼溫補，轉手變通之劑。毋實實，毋虛虛，意不盡言，高明推而廣之，斯無咎也。</p>

<h2>痘有限期，治宜變通</h2>
<p>夫痘由中以達外，用藥因斯而變通。以常言之，除發熱外，見標至出齊，三日起脹，蒸長三日，貫漿三日，漿滿收靨三日，計十二日，事畢矣。發熱之初，法當解表托裡，使痘透肌。以見點為始，三日之間，托裡解毒，微用辛涼，使痘易出。看手足心出到為齊，四五六日之間，工夫全在此際。要看氣血虛實，毒勢重輕，在表在裡，部位稀密，依症用藥，保血不致毒侵，必使根盤紅活光潤。頂上褪出豆綠色，紅運緊箍根盤，面腫眼封痘綻，乃為氣至，方可助漿，猶如酵發，方可發灶之理。倘毒根未出，毒未化漿，或面腫痘不腫，或痘紅紫不褪出漿頭，無實光，不含水色，唇腫唇焦還須芩、連、防、翹、牛蒡。血熱，生地、丹皮。發斑，玄參、犀角。大便秘，大黃、石膏。小便秘，木通、滑石。必使毒化含漿，再看虛實。保元助漿可也。若非火症，痘色灰白頂陷，身溫氣冷，泄瀉不食，眼鼻不封，痘止若生寒毛之狀，急宜補溫，以參、耆、丁、木、青皮、官桂之類，必使紅活滋潤，方望成漿也。七八九日之間，保元固表托裡，溫補氣血，載毒化漿，勿使裡虛外陷。必要紅根一線，鮮活緊箍其根，頂上光滿，陷者綻起，飲食二便調勻，乃為穩當。痘至十一二日之間，必俟漿足滿頂，痘色蒼蠟，或頂上報出松香脂，漸自口唇、承漿、兩腮上下間花收上，痘頂結如螺靨，漸至根盤如干醬之色，乃為正合。法以收斂為主，大和脾胃，當此之時，方可用山藥、白朮、茯苓、苡仁健脾利水，不使有停漿難靨之患。若血氣不足，仍用參、耆。有熱，少加清涼解毒。蓋事有經權，痘有常變，常期可言，而變機莫測，務宜隨候參詳，切勿執期應變，故曰執中無權，猶執一也。</p>

<h2>視痘形勢顏色輕重論</h2>
<p>空谷而響應，形動而影隨。痘之發也，外熱平和，知內毒輕淺，煩渴熱躁，知內毒留連。有諸中，形諸外，理之必然。夫顏色貴潤澤而嫌昏暗，貴光亮而嫌乾枯，貴鮮紅而嫌豔紫，貴圓淨而嫌碎雜，貴高聳而嫌平塌，貴結實而嫌薄嫩，貴稀疏而嫌稠密，貴安靜而嫌煩躁。更要根窠收緊，痘分陰陽，見點活動，出要參差，血宜歸附。額背心喉少於他處為佳，眉稜兩顴額上光潤不滯為妙。更忌頭面預先浮腫，口臭唇焦，不宜皮膚光急。痘及平塌不起者，凶。一發盡出者必重，裡外淡紅者輕，外黑裡赤者微重，外白里黑者最重。痘中黑點如針孔者，極熱也。青乾紫陷，昏睡汗出如油，煩躁熱渴，發青紫斑，譫語腹脹喘急，大小便秘者，困也。善治者，察形辨色，施妙手於機微之先，則重可變輕，而困者亦可望起也。</p>

<h2>痘分氣血虛實論</h2>
<p>夫痘有氣血偏勝之殊，則藥當因之而用。大都寒為虛，熱為實；氣虛宜溫補，氣實宜清涼；血虛宜補血，血熱宜涼血，必使其氣血和平，無過，不及可也。且如氣過則泡，血過則斑。氣不及，頂陷不起；血不及，紅根散淡。凡痘色淡白，頂陷不起，泄瀉清冷，或起白泡，內含清水，皮薄易破，皆屬氣虛，宜保元倍加酒炒黃耆，少加木香、肉桂。根窠不紅，或散闊不緊，以手摸過，即轉白色，痘上若寒毛豎起，枯澀不活，皆屬血虛，宜保元加酒當歸、酒白芍、酒紅花、川芎、山楂肉，或少加木香以行滯氣。若氣急煩躁，身熱發渴，手足起白虛泡，痘色紅紫，咽啞咳嗽，為氣熱，宜桑皮、枳殼、桔梗、芩、連、連翹、牛蒡、荊、防之類。如痘色紅紫，黑陷焦枯，發紫赤陰斑，或丹疹，或發血泡，為血熱，宜生地、犀角、紅花、赤芍、芩、連、知母之類。大約七日前宜解毒清涼，以解無侵氣血，忌溫補，恐反助毒灼血，不能化漿。七日後溫補助漿，漿成毒解，大忌寒涼。若犯一味，而陷伏倒靨，凍漿火合，灰白癢塌，立至變症無窮矣。</p>

<h2>痘分表裡虛實論</h2>
<p>凡痘灰白不紅綻，不起發，出不快，昏暗頂陷，皆屬表虛。二便清利身涼，手足口氣俱冷，不渴少食，唇白涕清泄瀉，飲食不化，皆屬裡虛。表虛以固表托裡為主，而補血次之；裡虛以補中托裡，而兼行氣，必使氣血隨暢，方免陷伏癢塌之患。凡痘壯熱紅紫，干滯黑陷焦枯，皆屬表實。大便閉結，小便赤澀，身熱鼻乾，氣粗唇燥，煩渴索飲不休，皆屬裡實。如表熱先清涼解表，而分利次之。裡熱則重於解毒，兼用寒涼。六日前便秘，或用下法，使毒無郁遏，可免黑陷火合之患。若表虛失補，則成外剝；裡虛不補，則成內攻；表實過補，則難結靨；裡實過補則成結癰毒。又有表虛里實、表實裡虛之症，又當分別日數、前後，為用藥之輕重。著意詳明，非徒苟且，而枉人性命也。</p>

<h2>驚搐分前後主治</h2>
<p>經曰：諸風掉眩，皆屬肝木。又曰：驚悸為心經之候。然痘之感於心肝二經，風火相搏，故發驚搐，切勿妄用驚風治法，當平肝木，利小便，如柴胡、前胡、木通、赤茯苓、生甘草、沈氏抱龍丸，瀉肝、利小便、鎮心經，使風熱去，心熱退，而痘隨出，驚搐自定矣。故痘前驚者多吉，痘後驚者多凶。何也？痘未出之先，熱蘊於內，故作驚搐，痘出驚止，而內無凝滯，故吉。痘出之後，氣血化漿，元氣大虧，失於調理，或經吐瀉傷脾，肺金無養，不能制水，以致肝木乘虛侮之，發為驚搐，謂之慢脾驚，最難醫治。惟溫補脾土，開豁虛痰，得肝木自寧，乃為良法，故多凶。</p>

<h2>寒戰咬牙分前後主治</h2>
<p>痘有六日前，毒未化漿而作寒戰者，乃心火亢極，上熏肺金，孔竅閉塞，故似寒戰也，當從火治。六日前咬牙者，乃陽明胃經走上下齒，以毒留於胃，故咬牙也（予之小女病此症，用別藥不效，後以玄明粉沸水調服五錢，立效），宜清胃解毒，大忌溫補。七日以後寒戰者，陽虛，陰入氣道，故寒戰也，宜大補氣以溫陽分。七日以後咬牙者，陰虛，陽入血道，故咬牙也，宜大補血以實陰虛，最忌寒涼。此二症多發於七日之後，屬虛寒居多。若寒戰咬牙齊發，痘色變者，異功散可用。若兼泄瀉氣冷，木香散可用。不止則凶。</p>

<h2>灰白癢塌分前後主治</h2>
<p>然痘之灰白色作癢塌，總屬氣血兩虛，治法要分前後。有起發時就見頂陷灰白，根盤不紅，必兒元氣虛弱，或作瀉少食。若峻補恐又助毒，惟以山藥、青、陳、木香、肉果，少用人參，或少酒炒歸、芍，使根盤紅活則吉。有火症，五六日前失於涼解，至七八日來血枯不能化漿，實熱化成虛寒，漸變灰白丹塌，頭面腫消，眼開作癢難禁，治法大劑參、耆、炙甘草、酒炒白芍、當歸、白芷，少用防風、荊、芎、桂枝。若瀉不止，木香散。寒戰咬牙，異功散。有三五日痘色紅紫作癢，乃火之候，但用清涼解毒，與癢塌不同。</p>

<h2>痘中作瀉便蟲虛實</h2>
<p>痘症作瀉，於發熱報點未齊之間，或腹微痛如痢狀，色老黃如魚腦者，惟清利之，以木通、山楂、枳殼、荊、防、檳榔、牛蒡之類。若痘已出齊，瀉三五次，不必慮，喜其毒氣分消。瀉不止，痘紅紫作渴，可加芩、連。若青白色，水穀不化，痘色淡白不起發，少食，乃中氣虛寒，宜青、陳、木香、訶子、肉果、炒神麯之類。瀉止，痘色轉紅，則吉。若六七日來大便不實，乃為急務。斯時也，氣血盡出成漿，表裡虛甚，宜大補，重劑保元托裡，不使毒氣乘虛內攻。一或失手，則腹痛腸鳴，解如醬色，日夜數次，腫消眼開，痘根散闊，漸變灰白癢塌之症，生死難判矣。若十二三日收靨時作癢者，解毒補脾利水。若熱甚，瀉黃如痢，解毒重於健脾。瀉白不臭，痘疤不紅，乃脾虛受傷作瀉，大用白朮、人參，少用解毒，臨症詳之。大便有蟲者，日常脾胃停滯濕熱，積久生蟲。痘之腸胃毒盛，而蟲不能安，從大便出矣，但當清解之。或脾胃虛弱，而蟲求食於上，自口出者，又當調脾安胃，黃連止蛔湯（方見後）。見證消息，若胃氣衰敗者，難愈。</p>

<h2>痘症不可妄表妄下</h2>
<p>經云：藥不執方，合宜而用。如表熱方熾，紅點未見，煩躁驚悸不寧，乾熱表實之症。先以微表不應，則加重表，必使腠理疏通，毒無郁遏，得微汗則已，勿過表汗，多恐後有斑爛不收、皮嫩易破、坍塌之患，見點忌葛根湯，即此意也。如痘色紅紫黑陷，焦頭唇腫，氣粗煩渴，大小便閉，二三日前微推之不應，急大下之，奪命丹、承氣湯之類。切勿隱忍，必使通暢，內無阻滯，榮衛流行，毒根透達，痘色光潤鮮紅，方望生漿。若六日前當下不下，到灌漿時偏自走泄，日夜數次如醬色，則掣肘矣。如痘色灰白，身溫不食，氣血虛弱，二三日不解，六日前後潤之。若欲解而不能，或放屁，或小腹按有硬塊在內，可用蜜棗、醬瓜、膽汁之類。導至六七日不行，則任之勿犯，惟補托為主，毋實實，毋虛虛，此之謂也。</p>

<h2>痘中咳嗽</h2>
<p>咳謂無痰而有聲，肺受火侵。嗽謂有聲而有痰，脾濕之因。惟痘之咳嗽，因熱毒蒸灼肺金而為咳，或外冒風寒，痰礙肺竅而為嗽。若發熱，先疏風解表，後清金降火解毒，用防風、枳殼、前胡、桔梗，或用芎、桑、杏之類，切忌二陳、南星助火也。</p>

<h2>痘中夾熱夾疹夾丹</h2>
<p>斑者，有點無頭，在肌膜之下也，如鮮血大小不一，以手抹過不散者是也。血熱毒盛，胃火亢極，夾血上浮，發為斑也。急宜清胃解毒，犀角地黃湯、升麻、黑參、丹皮、知母、石膏、茅根之類，酌而用之。淡散則吉，漸加紫青則危。疹者，即麻瘄有粒有頭，雜碎不一，與痘色不同，色淡紅或深紅，間於痘未出、初出之間。但當以輕清辛涼，如荊、防、牛蒡、連翹、薄荷、酒紅花之類，散而去之，痘則長矣。否則疹亦變痘，稠蜜則凶。丹者，皮膚上如雲頭花片，不分粒粒作癢，總屬風火，辛涼劑中加玄參、石膏，便秘可加大黃，散去則吉。</p>

<h2>音啞嘔噦錯喉嗆水</h2>
<p>痘出六日前啞者，乃毒火侵灼肺金，或胃火上炎，肺金受克，則音不鳴也。痘必紅紫，口渴唇腫，面赤氣粗，便秘，藥宜清金降火解毒，甘桔湯加麥冬、殭蠶、花粉、荊、防、牛蒡、玄參、射干。出齊可加芩、連，便秘加酒大黃。至六七日，氣未蒸長，頭面咽喉腫脹，肺竅困而細小，則音出亦細，非前咽啞之比，痘靨腫消而聲自亮矣。嘔者，有聲有物，脾胃不能克化，飲食而返出也。吐者，胃火盛而不能納食也。吐物酸臭，痘紅紫者，熱也，解毒兼之消食。吐物不酸臭，痘色淡白，二便清利者，虛也，安胃和脾，兼之消食。噦者，有聲無物，膈間毒盛，火炎於上，肺經敗絕之聲，凶象也，急宜涼膈清金解毒。痘靨後嘔者，亦如前治法。錯喉嗆水者，人之食喉軟，司納而不出；氣喉硬，司出而不納。痘多蒸長時，喉嚨腫脹，服食喉軟而躋癟，肺管硬而施張，乳與湯藥錯入肺管，故不納而嗆出也。若以羹粥有形之物與吃，自然躋入食喉，納而不嗆矣。此理曉然，不須疑慮。至痘靨腫消，而飲食自順。只要看痘色之何如為治法耳。</p>

<h2>不食</h2>
<p>夫痘全賴乳食滋養，氣血以成漿。脾胃素強而能食者，雖險可變順，危可望安。若痘未齊，不食者，乃胃中毒未盡出，待托齊自然能食。若四五日仍不食，乃胃中毒氣留連，發渴唇腫，氣粗便秘者，急宜清胃解毒化班，石膏、大黃可加。若終不食，則危矣。若五六日，痘色含有漿意，急以參、耆重劑大補，亦可救全，不食無妨耳。若其人能飲酒，更可代食也。</p>

<h2>氣泡水泡血泡</h2>
<p>痘至灌漿時，有發空白泡者，由毒火熾傷陰血，陽盛於陰，激搏於皮膚，而發空泡，若沸釜焉，以保元湯重加歸、芍和之，其泡自實。有脾土虛弱，不能制水，以致水溢皮膚之間而發水泡者，以重劑保元湯加山藥、茯苓，少加桂枝滲之，水泡成濃矣。若水泡皮薄易破，其痘亦難成漿。此表虛無陽之證，多不可救，必須參、耆各五六錢，酒白芍二錢，酒當歸六分，炒白朮、炒山藥、炙甘草、白茯苓各一錢，桂枝五分。若手足冷，加熟附五分，或可救。其一二有發紅紫血泡者，血熱之極，毒火逼熱於皮膚之上。若發數個則挑破去血，以保元湯加丹皮、茅根解之。灌膿時忌用涼藥也。</p>

<h2>諸竅出血吉凶</h2>
<p>痘有六日前鼻血大出者，其人氣盛逐血，血載毒奔，宜督脈斬關而出，不犯於內，故無患也。若吐血，毒犯於胃。尿血，毒犯小腸。便血，毒犯大腸。急用芩、連、犀角、丹皮、生地、玄參、黑山梔、黑荊芥、茅根等依經解毒，引血歸經，十全五六。有七竅齊出血，有從痘中爆出者，乃毒篡正位，真陰走泄，奔逃散亡，肌肉分解，五臟損壞，用藥無功矣。有痘將收靨，擦損正面，鮮血長流者，乃非吉兆，急用草紙燒灰掩之，或新瓦磨灰掩之，重用參、耆固托，不可輕忽。</p>

<h2>小便短澀</h2>
<p>六日之前，痘色紅紫，氣粗煩渴，小便赤澀者，乃心經熱盛移於小腸之故。或肺受火邪侵克，津液干竭，不能通調水道，下輸膀胱，以致小便短少。治痘者，不必通利小便，總當清金降火解毒以泄其熱，而小便自利矣。若行漿時痘色正氣，小便短少，不須疑慮，乃為津液化漿，到收靨時補脾利水，二便自利矣。</p>

<h2>大便秘結</h2>
<p>六日前大便秘急不行，若痘色紅紫，身熱煩躁，氣粗口渴，索飲不休，小便赤澀，或唇面先腫，此火秘也，承氣湯下之，大柴胡、涼膈散亦妙。若無前症，而一二日大便不行，或因妄汗過多，或妄利小便，以致腹胃乾涸，不能潤滑不行，但宜歸尾、杏仁、蔞仁、牛蒡子、紫草、枳殼、麻仁之類潤下之。若灌漿時，最喜大小便閉澀，則氣不泄漏，槳可滿足，是為吉兆，不得妄治。</p>

<h2>口乾作渴</h2>
<p>五臟之火上炎於口，經以五味辨而施治焉。如痘之口渴在未出時，乃毒未透肌，留連胃中，上熏於肺，津液不升，而為之渴者，用升麻、葛根、防風、前胡之類，表毒透肌而渴自解矣。甚或氣粗，便秘煩躁，索飲不休，再加竹葉、石膏。若痘已出齊，而乾渴不已，其痘必紅紫唇焦，小便短赤，六一散；大便秘結，石膏湯。看症之輕重，寒涼不忌，血熱盛，生地黃汁相宜；氣實，大柴胡、承氣可用。至六日後，氣血化漿，乃虛渴也，惟保元托裡。初時可加麥冬一劑，再勿多用，只是溫補助漿，切勿顧渴。</p>

<h2>煩躁啼叫</h2>
<p>痘瘡由里以達外，其未透肌時，熱毒蘊蓄於中，不得發越，故有煩躁悶亂、驚悸不眠、譫語狂叫、口渴不食、大小便秘等證。治宜分表裡虛實，而表托清利之，使痘盡達於肌，而諸症自罷矣。若六七八日來，毒不能化漿，忽然痘色變為灰白，煩躁悶亂，顛狂不食不眠，眼開咬牙，此為癢塌之症，重用參、耆、歸、芍、桂枝，重劑酒漿煎雞汁、雄雞冠血、臍帶、桑蟲俱可用之。漿來則吉，無漿作癢則凶。咬牙寒戰泄瀉，木香散、異功散相宜，或得微漿潮潤，便可望生也。</p>

<h1>卷之八</h1>

<h2>痘瘡發熱至見點證治（無論日數）</h2>
<p>痘瘡發熱症已具前，乍熱乍涼，熱退見點者，毒淺痘稀，不須用藥。若熇熇然熱之不休，煩躁驚悸，嘔吐者，發表解毒托裡，加減升麻葛根湯，得微汗見點即止。腹痛，加枳殼，倍山楂；大便一二不解，加枳殼、紫草；渴，以清米飲細苦茶解之；渴而不思飲，知內無蓄熱，若渴而索飲不休，加麥冬、花粉；喉嚨痛，加桔梗、枳殼、牛蒡；咳嗽氣喘急，加杏仁、桑白；痘未出而發搐，加木通、天麻、柴胡、沈氏抱龍丸；見點發搐，去升麻、乾葛，加柴胡、木通、犀角；發熱熇熇蒸蒸不已，三五日不見點，加蟬蛻；無汗，加麻黃。便秘煩悶，狂躁不眠者，內毒壅盛，三黃解毒湯權用。如痢之狀，裡急後重，或赤黃帶血十餘次，倍加檳榔，去其壅而痘自出矣。口臭，發陰斑，大便秘，白虎化斑湯。口臭，小便秘，六一化斑湯。狂叫譫語不眠，神砂寧心湯。身無大熱，小便清利，泄瀉清白，淡黃不臭，或腹微痛腸鳴，痘出不快等症，為裡虛，或飲食傷脾而畏食，和中湯加山藥。腰痛最為惡候，站立不起，氣喘促，眼無神，或睛光射出，口極腥臭，而皮光急，痘不透膜，有點無形，或為蚊跡蚤斑，或夾出紫黑陰斑，十無一生。如其父母不忍，早見腰疼、立不起，喘急一二症，即與奪命丹，痘起神定可生，否則絕望生矣。</p>
<p><u>加減升麻葛根湯</u>　痘未見點發熱用。</p>
<p>升麻（五分）　乾葛（七分）　川芎（五分）　前胡（七分）　山楂（八分）　紅花（三分）　防風（七分）　甘草（三分）</p>
<p>加筍尖二個，水一鍾，煎五分服。半歲兒作二次服，三四歲者倍分數，加水煎服。</p>
<p><u>三黃解毒湯</u></p>
<p>黃連（五分）　黃芩（五分）　大黃（五分，三味各酒炒）　防風　花粉（各六分）　枳實（五分）　紫草（八分）　前胡（六分）　檳榔（三分）</p>
<p>水一碗，煎六分，量小兒大小加減分數。</p>
<p><u>白虎化斑湯</u></p>
<p>石膏（生，二錢）　知母（八分）　淡竹葉（六分）　甘草（三分）　丹皮（六分）　防風（六分）　荊芥（五分）　紅花（三分）</p>
<p>加燈心一分，筍尖二個，粳米百餘粒，水一鍾，煎六分服。</p>
<p><u>六一化斑湯</u></p>
<p>滑石（二錢）　甘草（三分）　木通（六分）　防風（六分）　連翹（七分）　淡竹葉（五分）　荊芥（五分）</p>
<p>加燈心二分，筍尖二個，水煎服。</p>
<p><u>辰砂寧心湯</u></p>
<p>麥冬（去心，六分）　山梔（炒，六分）　菖蒲（去毛，四分）　木通（四分）　茯神（五分）　燈心（二分）　竹瀝（一錢二分）　牛黃（一分）　神砂（二分，為末）　薄荷（五分）　連翹（五分）</p>
<p>將前八味用水一茶盞，煎五分，再將燒竹瀝入生薑汁二匙，和入，另將牛黃、神砂研細末，先鍬入舌上，再以藥湯徐徐灌之。</p>
<p><u>和中湯</u></p>
<p>青皮（炒，六分）　陳皮（八分）　山楂肉（八分）　麥芽（炒，七分）　防風（六分）　甘草（三分）　木香（二分，俟藥熟投入）</p>
<p>加筍尖二個，水一鍾，煎五分，兒大小加減分數服。</p>
<p><u>奪命丹</u></p>
<p>大黃（二兩）　山慈菇（一兩二錢）　紫草（淨，二兩）　甘草（八錢）</p>
<p>上用水七碗，入新砂鍋，煮至三碗，濾去渣，將清汁加蜜一碗入膏，量兒大小服，以利為度。</p>
<p><u>見點出齊症治</u>（見痘至手足心出齊，一二三日間也）</p>
<p>痘以見點為期，出至手足心，熱退為足。見標於眉稜下、眼角邊、人中、兩腮、口角為吉；大庭、方廣、太陽、山根、年壽、兩顴為凶。雖有此說，亦未必驗，惟以痘稀密、色老嫩別輕重也。報點淡紅，尖聳閣手中，初見一點，隔遠又見一粒，分均四散，熱和徐徐而出，便是稀疏，挨擠夾熱而出，便稠密，熱不退，食不進，知其未盡，而還要添出，解肌快斑湯。痘初出紅紫，便帶焦頭，加丹皮、紫草、赤芍；咳嗽，加枳殼、桔梗、杏仁；或受風寒，發熱惡寒，清涕噴嚏鼻塞，腹微痛無汗，痘出不快，春夏加乾葛，秋冬加紫蘇；腹痛，加枳殼，倍山楂；大便不解，加枳殼、紫草、牛蒡；渴甚，加麥冬、花粉。渴極，大小便閉，煩悶狂躁，氣喘急，大熱蒸蒸，三黃解毒湯（方見前）。口燥唇腫，大便秘，或膚上血點如麻粟赤豆大小，以指抹過不散者，斑也，俱用白虎化斑湯加犀角（方見前）。痘未齊而發搐，加木通、天麻、犀角、蟬蛻。膚內隱隱如芥子，有粒頭而不尖聳，與痘之形色不同者，痘夾疹也，前解肌快斑，加荊芥、牛蒡。皮肉鮮紅成塊，或起雲頭者，痘夾丹也，加荊芥、玄參、石膏。不食，以痘色論，如痘正氣色待出齊，自能食也。若痘稠密紅紫，便秘不食，惟以解毒為主，加枳實、炒黃連；小便赤色，渴燥口臭，六一化斑湯。喉嚨痛，鼠黏子；腫，加殭蠶。大抵痘未出盡，不敢用苦寒疑滯之藥，恐毒不得透達於表。黃芩恐涼，表毒不透肌，待痘出齊，方可放膽用之也。</p>
<p>六日之前作癢，火欲達表之象，非比灌漿時癢塌之癢，勿慮。</p>
<p><u>解肌快斑湯</u></p>
<p>防風　前胡　川芎　連翹（各六分）　山楂肉（八分）　甘草（三分）　紅花（三分）　蟬蛻（洗，四分）　荊芥（五分）　牛蒡（炒，六分）　筍尖（二隻）　燈心（十根）</p>
<p>水煎服。痘夾斑，加荊芥、牛蒡；夾丹，加荊芥、玄參、石膏；紅紫焦頭，加紫草、丹皮、赤芍；咳嗽，加枳殼、桔梗、杏仁；風寒外閉，鼻塞發噴嚏，春夏加乾葛，秋冬加紫蘇；腹痛，加枳殼，倍山楂；大便不解，加枳殼、牛蒡；口渴，加麥冬、天花粉。</p>
<p><u>鼠黏子湯</u></p>
<p>牛蒡（炒，研）　桔梗（各八分）　枳殼　射干　玄參　連翹　甘草　防風（各六分）</p>
<p>上加筍尖二隻，燈心一分，水並煎服。如喉腫痛，加炒殭蠶八條，牛蒡子倍加。</p>

<h2>出齊起長至含漿症治</h2>
<p>（痘齊至含漿，四五六日間也）</p>
<p>痘未出齊，只宜解表透肌托裡，忌用寒涼，恐毒凝滯，不得透達。若手足心到齊，熱退身和，人事安靜，飲食稍進，痘色光潤，是為吉兆。但當禁忌觸犯，節飲食，慎勞幃，不宜妄投藥餌。若手足心雖齊，熱仍不退，乃毒未盡透，再當托解表，柴胡蟬蛻散。腹痛飽脹，傷食發熱，加枳實；咳嗽噴嚏鼻涕，傷風發熱，倍防風、前胡、川芎；痘色紅紫乾枯，乃表熱，加黃芩、連翹、丹皮。</p>
<p><u>柴胡蟬蛻散</u></p>
<p>柴胡　前胡　防風　荊芥　川芎（各六分）　牛蒡子（炒研）　山楂肉（各八分）　紅花　蟬蛻　甘草（各三分）</p>
<p>上加筍二個，煎服。</p>

<h3>瀉痢</h3>
<p>瀉痢若瀉三五次，痘色光潤為吉。若如痢狀，口渴煩躁，小便少，痘色紅豔，或腹作痛，乃積滯夾斑毒流入大腸，用黃連解毒湯。腹痛甚，裡急後重，日夜十餘次，加大黃、南木香一錢。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連（酒炒，三分）　厚朴（炒，五分）　山楂肉（八分）　黃芩　枳實　木通　防風（各五分）　檳榔　甘草（各三分）　燈心（引）</p>

<h3>瀉青白色</h3>
<p>身溫足冷，痘色青白不起發，胃有停寒，或平素脾虛，以致不能克化水穀，用中和湯（見前）。</p>

<h3>吐酸口臭唇腫</h3>
<p>吐酸口臭，唇腫氣粗，痘色乾紫，毒□□，用黃連解毒湯加竹茹。吐物不化，不酸臭，痘淡白不起發，中氣虛寒，不能克化飲食，毒與正氣不寧，上逆而吐者，安胃和中湯，一二日不止，加人參；吐酸噯臭，肚腹飽脹，或痛，內傷飲食、乳食，去茯苓、山藥，加枳實、神麯、厚朴、炒黃連。</p>
<p><u>黃連竹茹湯</u></p>
<p>黃連　竹茹　山楂　橘紅　炒厚朴　枳實　連翹　甘草　生薑（一片，引）</p>
<p><u>嘔噦有聲無物</u></p>
<p>臟敗聲必噦。臟者肺也，肺主聲音，收靨之毒火灼極而為之。惡聲，痘色紅紫氣粗，用白虎解毒湯。便秘，加大黃。不效，勿治。</p>
<p>亦有喉嚨痘，多腫礙作嘔，吃乳、湯水作嗆，無惡聲，又當看痘之顏色、人之形勢辨之，用白虎解毒湯加秫米百粒。</p>
<p><u>安胃和中湯</u></p>
<p>藿香　扁豆　山藥　茯苓　山楂　陳皮　製半夏　甘草　生薑（一片，引）</p>

<h3>咽喉痛</h3>
<p>為毒壅氣道，鼠黏子湯加山豆根、殭蠶。腫痛甚，用一聖散吹喉，即苦參末也。</p>

<h3>聲啞</h3>
<p>先因嗽傷肺，毒火攻激，閉塞肺竅，鼠黏子湯。痘色紅紫氣粗，加芩、連。</p>

<h3>聲音細小</h3>
<p>氣來化血成漿，頭面咽喉腫脹，肺管躋鑰，故出音細小。只看痘色光潤，根盤細運緊箍，便無妨礙。此多見於六七日，痘多腫脹，兼有錯喉嗆水之症，惟以固表托裡，保元為主，五六日前莫用。</p>
<p><u>保元托裡散</u></p>
<p>人參（三分）　黃耆（一錢）　甘草　當歸（各三分）　防風（五分）　白芷（四分）　酒白芍（八分）　姜蠶（炒，六分）　糯米（百粒）</p>

<h3>看痘分地腳顆粒吉凶</h3>
<p>□來痘須稠密，頂項要褪出綠豆色，光運紅暈，緊箍根邊無痘處，痘縫中雪白，謂之顆□地分清，氣歸血附，是為吉兆。</p>
<p>若痘頭自然，紅不歸根，色若紅紫焦枯，氣粗便秘，毒盛灼血，血枯不能載毒透肌，謂之毒根不出，難以成漿，用涼血化班湯。痘色木紅帶滯，大小便利，口不煩渴，或腹微痛，乃過用寒涼致毒疑滯，用化斑快滯湯。變化滋潤鮮明，吉。</p>
<p><u>涼血化斑湯</u></p>
<p>炒牛蒡（二錢）　連翹（八分）　紅花（三分）　紫草（三分）　黃芩（酒炒，五分）　黃連（炒，五分）　生地黃汁（二錢）　丹皮（八分）　防風　川芎　枳殼（各五分）　甘草（三分）　姜（一片）　筍尖（二隻）</p>
<p>水煎，入地黃汁服。</p>
<p><u>化斑快滯散</u></p>
<p>防風　川芎　陳皮　前胡（各五分）　蟬蛻（四個）　紅花（三分）　當歸　木香（各四分）　甘草（三分）　筍尖（二隻）</p>

<h3>發斑，痘縫中、空地處爆出血點</h3>
<p>大小不等，在皮上膜里，以指摸過不散、不變色者，斑也，此謂毒壅盛。一見數點，急服犀角解毒湯，不效，加生地黃汁，漸退則吉。若增多，轉深紫色，再加糞青服之，變藍不治。</p>
<p><u>犀角解毒湯</u></p>
<p>石膏（三錢）　紫草（五分）　牛蒡（七分）　生地黃汁（三錢）</p>
<p>上加筍尖二隻，粳米百粒，水煎去渣，入生地黃汁、犀角，服。</p>

<h3>兩頰不起</h3>
<p>左頰屬肝，右頰屬肺，兩頰如塗朱鮮紅，痘不透出，紫草解毒湯加羚羊角、麥冬，再不透，加生地黃汁三錢。</p>
<p><u>紫草解毒湯</u></p>
<p>紫草　生地黃　炒牛蒡　酒黃連（各一錢）　赤芍　丹皮　黃芩　連翹（各八分）　川山甲（炒，三分）　紅花（三分）　歸鬚（六分）　筍尖（二個）</p>
<p>水煎服。</p>

<h3>頭面腫早</h3>
<p>謂四五日間眼封鼻塞，頭面先腫。若痘光潤尖聳，泛出漿頭，腳地分清，為氣血壯盛，元期蒸長，為吉兆。若面先腫，痘反平塌塌，起一片紅豔油光，乃無毒無統攝，泛闊於皮膚之間，此為惡症，用黑牛奪命散。大便秘結，加大黃二錢，酒炒。不效，難治。</p>
<p><u>黑牛奪命散</u></p>
<p>炒牛蒡（三錢）　皂角　殭蠶（炒，各五分）　川山甲（炒，三分）　連翹　蟬蛻（七分）　紫草　酒芩　酒連（各八分）　筍尖（二個）</p>
<p>水煎服。</p>

<h3>頭面腫遲</h3>
<p>謂六七日毒根不透，氣血不得化漿，面頭當腫不腫，眼不封，鼻不塞。有毒輕者，痘原稀少，何必腫封。只要痘色光潤，尖聳含漿為吉。若痘原稠密，紅紫枯焦，氣粗煩悶，此火閉之症，用四聖飲，面頭眼封則吉。若痘白色無根，木紅凝滯不化，不腫不封，或因過用寒涼，或經泄瀉，致虛中氣，木香如聖散。泄瀉，加訶子、陳皮各五分。</p>
<p><u>四聖飲</u></p>
<p>生黃耆　炒牛蒡　丹皮　紫草（各一錢）　麻黃（炒焦黑）　防風（各六分）　川山甲（炒）　紅花（各三分）　木通　酒連　川芎（各八分）　筍尖（二個）</p>
<p>水煎服。</p>
<p><u>木香如聖散</u></p>
<p>人參（八分）　黃耆（一錢五分）　灼甘草　防風　白芷　川芎　當歸　木香（各五分）　筍尖（二個）　糯米（百粒）</p>
<p>水煎服。</p>

<h3>扁塌</h3>
<p>言痘形不尖聳為扁，乃氣不足。根窠不收斂為塌，乃血不足。扁塌牽扯不圓，乃氣血兩虛之症。若色紅紫毒盛，六七日前，保元托裡散加連翹、黃連，減少參、耆。六七日後，氣不足，參、耆加重；血不足，歸、芍加重，翹、連勿用。</p>

<h3>陷頂痘</h3>
<p>初出一二日，頂平而油亮不暗，至五六日，氣來化漿，而頂自起矣。若至六日，頂陷不起，腳闊不收，或木紅灰白，為氣血兩虛，木香如聖散（方見前）。</p>

<h3>黑陷痘</h3>
<p>至五六日，發熱氣粗，痘色紅豔，陷中變出黑暗之色，初見數點，即宜服紫草化毒湯。大便秘，加酒大黃一錢五分；不加出而起頂生漿則吉。若再增，再復不止，變增黑陷，則危矣。若痘色不紅，或木紅灰白，變身黑陷，六七日無漿路者，獨聖散、人牙散回之則吉。</p>
<p><u>紫草化毒湯</u></p>
<p>紫草（一錢）　丹皮　當歸　赤芍（各五分）　紅花（三分）　牛蒡（七分）　連翹　黃芩　川連（炒，各五分）　川山甲（炒，四分）</p>
<p>水煎，生地黃汁二錢和藥服。</p>
<p><u>獨聖散</u></p>
<p>桑蟲（一條，要肥大者，取漿去皮）　川山甲（炒研末，三分）　麝（三釐）</p>
<p>上將甲、麝為末，入桑蟲漿內，再和熱酒對衝，飯上蒸熟服。</p>
<p><u>人牙散</u></p>
<p>人牙（燒存性）　麝香（三釐）</p>
<p>研末。調雞冠血，再入酒漿十匙，和勻服。</p>

<h3>蠟嘴</h3>
<p>謂痘未成漿而口唇先腫如黃蠟，口氣臭不可聞，即用白虎解毒湯加生地、犀角（方見前）。</p>

<h3>錫面</h3>
<p>謂痘至六七日，渾身作灰白色，如□餅之形，頭面浮腫，此惡候也，乃脾經濕熱所致，宜瀉濕、利小便、疏風。風能勝濕，但要能食，祛濕解毒湯。若不食，後加吐瀉，煩悶瘙癢，木香異功散。不轉變則危。</p>
<p><u>祛濕解毒湯</u></p>
<p>防風（一錢）　赤茯苓（二錢）　澤瀉（五分）　木通（五分）　炒白朮（五分）　地膚子　荊芥（八分）　陳皮（八分）　黃耆（八分）</p>
<p>水煎服。</p>

<h3>矇頭</h3>
<p>謂頭頂、髮際、眉稜、兩太陽稠密瑣碎，為之毒沖三陽，心火亢極，至灌漿牽連成片，恐收功難，色若紅豔，犀角解毒湯，去石膏，加黃連、筍尖二個。</p>

<h3>鎖項</h3>
<p>謂鎖項咽喉，周圍稠密，為毒犯氣道，肺火亢甚，灌漿腫脹，閉塞咽喉，有礙呼吸、水穀道路，恐難收功，痘齊見此，宜鼠黏子湯加殭蠶、犀角，倍牛蒡。</p>

<h3>痘疔賊痘</h3>
<p>凡痘至三四日間，不出齊，不長大，或紅紫焦頭，發熱不食，恐有痘疔。可遍身尋炤，獨大色黑者是也。五六日當灌漿之時，頭痘不肯透出，漿色遲滯不貫，恐有賊痘。遍身細炤，獨大而色黃者是也。俱以銀針挑破，口含清水，吸去惡血，以珍珠研為細末塗痘，將臘胭脂調均，填於破痘，看其色轉而痘即起（痘疔更宜挑深去惡血）。</p>

<h3>諸異痘</h3>
<p>有鎖口痘，其口唇上下四圍痘密成片，五六日即生黃漿，先收先靨，剝落一層又一層，不食而死。有梅花五六粒聚作一堆者，品字樣痘，每三粒聚成一堆者。有小痘攢簇，本痘初出，大痘一粒，四圍出一層小痘叢之。有蟲痘，痘中間有針小孔。有痘內生蛆者。有蛇皮痘，痘極稠密，遍身雪白平塌，不分窠粒。有蟬蛻痘，痘出細密如蠶種，陷頂黑暗有蚊跡。蠶斑痘，初出肌膚有點無形，謂之閉症。一切怪異之症，吾見能活者，百無二三也。</p>

<h2>含漿至漿足證治（行漿七八九日間也）</h2>

<h3>痘至養漿之日</h3>
<p>最要謹慎房室，避生人及行經不潔女眷。吃酒人，口氣相沖。屍氣、貓犬等物，勿燒諸香助火，但用大黃、蒼朮、紅棗共燒，以避不正之氣。如遇風雷雨雪，尤當謹密。房幃掛紅映彩，或用茶鹽燒之改壓，上妙。</p>

<h3>痘輕變重者</h3>
<p>犯禁忌，誤醫藥，受風寒也。重變輕者，守禁忌，慎涼補。一或失宜，生死反掌，自當慎之。</p>

<h3>漿時變症</h3>
<p>痘至養漿時，手足宜和暖，過熱過冷者，變也。人事宜安靜，忽煩躁悶亂者，變也。六腑宜充實，忽吐瀉者，變也。聲音宜清亮，忽焦啞者，變也。飲食宜漸進，忽不食反作□者，變也。痘色宜光滿潤澤，忽色滯打皺者，變也。根盤宜鮮紅箍緊。忽紅淡腳散闊坍塌者，變也，此皆犯禁忌、觸風寒、傷飲食及誤用藥之所致也。醫者當辨症施治，毋忽略而損人性命也。</p>

<h3>復發熱</h3>
<p>痘之首尾不可無熱，稀少勿論。痘多密者，必時熱時涼，但不灼灼而躁，惟蒸蒸而潤也。初賴表熱而毒透肌，次賴表熱則毒變化。五六日復發熱者，乃蒸漿熱也。但看痘色光亮，肌膚潤澤，根盤鮮紅，一線紅箍根，痘頂宜綠水色，謂有漿路也。多密者，助以保元托裡散（方見前）。若發熱未變乾枯，無水色，不宜補劑，當用清解，黑牛奪命丹（方見前），亦如加減法。</p>

<h3>不封眼</h3>
<p>眼中無痘稀少，不必封眼。痘密者，氣來化血成漿，頭面必腫，自然眼封鼻塞，二便不行，此吉症也。若痘紅紫焦枯，頂不褪出，紅不歸根，謂之毒根不透出，氣血不能變化。故頭面不腫，眼鼻不封，多凶，黃耆化斑湯。若痘頂陷淡木紅，或灰白，大小便自利，自無大熱。飲食不進，脈來遲緩，此氣血兩虛，不能製毒化漿，所以頭面不腫，眼鼻不封，故凶，保元化毒湯。</p>
<p><u>保元化毒湯</u></p>
<p>黃耆（炙，一錢五分）　人參（一錢）　甘草（三分）　防風　川芎　當歸身（各五分）　川山甲（炒，研，三分）　白芷（五分）　桑蟲（揀大肥者，勒取白漿）</p>
<p>用真酒漿對衝，隔湯蒸熟，或飯上蒸，先吃桑蟲漿，徐徐再吃藥，糯米百粒為引。</p>
<p><u>黃耆化毒湯</u></p>
<p>生黃耆（八分）　防風（六分）　炒牛蒡（七分）　當歸　川芎　赤芍　丹皮　連翹（各五分）　川山甲（炒，研）　甘草（各三分）　糯米（百粒）</p>
<p>水煎服。</p>

<h3>空倉痘</h3>
<p>至起脹時，頂雖飽滿，褪有白頭，但色枯而無光彩，根盤乾紅而不鮮，痘中空殼無漿，乃氣至而血不隨也。血不足者益其榮，四物化毒湯。</p>
<p><u>四物化毒湯</u></p>
<p>當歸　川芎　白芍（酒炒）　生地（炒）　牛蒡子（炒研，各六分）　桂枝（三分）　甘草（三分）</p>
<p>上水煎，用雄雞冠上熱□□□沖服之。</p>

<h3>平塌</h3>
<p>痘至六七日，色雖光潤含漿而頂陷坍榻，根腳散闊不收，乃血至而氣不隨也。氣不足益其衛，保元化毒湯，加酒炒白芍一錢。</p>

<h3>灰白</h3>
<p>謂痘不潤澤、不紅活，乃氣不沖達。血無氣統，空殼無漿。所以枯白，色如紙灰，而根無紅暈，此氣血兩虛，將欲陷伏倒靨也。知再不轉色，重加參、耆，十全託里散。</p>
<p><u>十全託里散</u></p>
<p>人參（二錢，蒸熟）　黃耆（三錢，蜜灼）　甘草（灼，五分）　桂枝　川芎　防風　白芷（各六分）　白芍（酒炒，一錢）　當歸（酒炒，六分）　桑蟲（肥大者取漿，拌酒漿，對半蒸熱，再入）</p>
<p>上水煎，入桑蟲服，量兒大小加減。</p>

<h3>錯喉嗆水</h3>
<p>痘至行漿時，頭面俱腫，食喉軟而躋鑰，肺管硬而空虛，主出氣而不納物者，故湯藥誤入肺管，則嗆而返出。若飯與羹有形之物躋入食喉，則不作嗆，可知矣，此為順症。待痘收靨時，腫消而飲食自無礙矣。但看痘色正氣，不須服藥。若頭面腫而痘不腫，以致聲啞、嘔吐、不食者，乃毒無統束，肺經絕而不治。若發熱、咳嗽、聲啞、嘔吐，乃外感風寒。斯時萬勿治標，只宜保元托裡，本固安寧。保元托裡散（方見前）。有外感，加川芎。</p>

<h3>額痘易破</h3>
<p>痘至含漿行漿時，可為幸矣。額上不動而清漿流出，皮嫩易破，根腳坍開此，為陽虛不能固守，固表回陽湯。不效，勿治。手足易破皆然。</p>
<p><u>固表回陽湯</u></p>
<p>酒炒黃耆（三錢）　人參（二錢）　炙甘草（一錢）　當歸（八分）　製附子（五分）　酒白芍（一錢五分）　桂枝　防風　白芷（各五分）</p>
<p>水煎去渣，入酒漿二十匙，和勻服。不效者不治。</p>

<h3>抓破正面</h3>
<p>痘至行漿及漿足時，多要作癢。伏侍不謹，一時失手，被其抓破，有血流出者，吉。若數粒無害，急以草紙灰及桃花散掩之。若成片搔破，急服十全託里散（方見前），重加參、耆，使其復灌為吉。若頭面腫消，眼開不復灌，則凶，搔破而無血者亦凶。亦用此方托之，或可救其一二。</p>

<h3>吐瀉</h3>
<p>痘至七八九日，灰白無漿，裡虛氣冷，泄瀉清白，或吐瀉並作，手足厥冷，木香散。</p>
<p><u>木香散</u></p>
<p>木香　大腹皮　前胡　訶子肉（煨）　赤茯苓　炙甘草（各五分）　肉桂　青皮（各五分）　半夏湯（泡，八分）　人參（一錢五分）　丁香（三分）</p>
<p>上姜三片，棗一枚，水煎服。</p>

<h3>寒戰咬牙</h3>
<p>痘至成漿之日，單于寒戰者，陰凝於陽，固表回陽湯（方見前）。單于咬牙者，陽陷於陰，十全託里散（方見前），去殭蠶，加乾薑。若寒戰咬牙並作，癢塌灰白無漿者，異功散。不效者，不治。</p>
<p><u>異功散</u></p>
<p>人參（一錢五分）　當歸頭（炒，六分）　炒白朮　製附子（各一錢）　白茯苓　半夏曲　肉果（麵裹煨，各七分）　陳皮　炒厚朴　木香　肉桂（各五分）　□□（三分）　姜（三片）　大棗（一枚）</p>
<p>水煎服。</p>

<h3>腹痛腸鳴</h3>
<p>痘至行漿時，氣血盡來化漿，內大虛矣。失於內托，痘毒乘虛內攻，故腹作痛而鳴，大便一次又一次，其色如醬帶黑，急服大劑保元托裡散（方見前），加桂枝三分。若服藥不效，頭面腫消，謂之倒靨，不治。</p>

<h3>生痰脹喘</h3>
<p>凡痘至六日後，諸症大率屬虛，只宜保元托裡溫補，微加勝痰之半夏、陳皮，而痰自消，脹喘自定。若勢極重，或加咬牙寒戰泄瀉，或以木香異功散擇而用之，切忌前胡、杏仁、桔梗、蘇子、瓜蔞、貝母、花粉之類。倘誤用之，不能解矣。</p>

<h2>漿足至靨症治（漿足循序結痂十一二日間也）</h2>
<p>痘至收靨時，如果之成實肥滿者為佳。由人中、口唇、兩腮漸至面部、眉稜以下作蒼臘色，自頂漸至盤根結實堅硬如螺螄佳，而無虛皺之狀者，為真焦，不須服藥。有痘頂起松香脂者，有胸背漸焦，自上而下者，有上下間花焦者，但看胃口壯健，二便如常，睡醒安靜，皆為吉也。</p>

<h3>額上先收不宜</h3>
<p>額為三陽聚處，若先出先收，謂之毒犯三陽。兩足為至陰之所，出到腳底方為痘足，直待各痘收完，腳下方收。兩手屬脾胃，亦不宜早。所以額與手足俱待各處收完，再是手收及額，而足隨後。此為循序，若額顱、手足心先收於各處，謂之毒氣攻心，內臟先壞，不可藥救。</p>

<h3>靨遲靨早</h3>
<p>痘稀元氣實者，自然易出，易靨。痘密元氣虛者，自然難得收靨。只要循序緩收，飲食如舊，必無他患。若一齊收靨太急，此毒火煎熬，氣燥血枯，非正靨也，必發癰毒怪症。甚則損生，微則殘形壞目。如見此症，急服解毒托裡散。</p>
<p><u>解毒托裡散</u></p>
<p>生黃耆（八分）　牛蒡子（炒，研）　連翹　酒炒黃芩　天花粉　炒知母　當歸　麥冬（各八分）　生地（一錢）　甘草（四分）</p>
<p>水煎服。</p>

<h3>當靨不靨</h3>
<p>痘至十一二日，望其收干，而反飲食不進，頭溫足冷，二便清利，痘色根盤不鮮而紅滯，此元氣盡發於外，無陽不能收干，附子理中湯。或嚴寒天氣失於蓋覆，受寒氣鬱遏而不能靨者，必大畏寒，鼻流清涕，或肌生寒慄，桂枝麻黃湯。有向不大便者，裡熱不能收靨，必腹微脹，或作痛，用蜜導法或用膽導法。有用醬瓜導法，使大便通則痘靨矣。然須辨痘之虛實、之寒熱，勿妄投治，損人性命。</p>
<p><u>附子理中湯</u></p>
<p>附子（制，三分）　乾薑（半生，三分）　人參　炒白朮（各一錢五分）　炒黃耆（一錢）　炙甘草（五分）</p>
<p>上量兒大小，加減水煎服。</p>
<p><u>桂枝麻黃湯</u></p>
<p>桂枝　麻黃　赤芍（各五分）　乾薑（半生，三分）　炙甘草（八分）　陳皮（八分）</p>
<p>上加蔥白二寸，敲碎入藥，水煎服。</p>

<h3>靨時腐爛</h3>
<p>痘至膿成漿足，不能結痂，反成腐爛臭濕者，其人裡實，毒氣不能入內，表虛不能幹漿，故變臭爛浸淫。外用敗草散敷之，內服固表解毒湯。或其元氣充實，過服補藥，以致邪氣得補，反壞正氣，如火灼爛，宜用天水散敷之，或多飲湯水。濕浸脾胃，以致濕爛不收者，用除濕湯。</p>
<p><u>敗草散</u></p>
<p>取泥牆上蓋覆多年敗草曬乾，細研成灰，濕爛處將此灰撲上為妙。</p>
<p><u>固表解毒湯</u></p>
<p>黃耆（生用，一錢）　防風（六分）　白芷　生甘草（各五分）　炒白芍（八分）　連翹　茯苓　牛蒡（炒，研，各八分）　桂枝（二分）</p>
<p>水煎服。</p>
<p><u>天水散</u></p>
<p>即六一散，濕爛將此撲之，立愈。</p>
<p><u>除濕湯</u></p>
<p>川羌活　防風　蒼朮（炒）　豬苓　白朮（炒，各六分）　木通　澤瀉（各八分）　赤茯苓（一錢三分）　加燈心（二分）</p>
<p>水煎服。</p>

<h3>倒靨</h3>
<p>痘至八九日，漿清不足，即有收意，或作瀉腸鳴，或大便不實，以致腫消色退，根盤散闊，發熱眼開，痘頂打皺，或作癢難禁，頭面破損，手足拘急，咬牙寒戰，俱為倒靨變症。此中氣不足，不能載毒，靨反承氣虛入里，謂之倒靨也。輕則用十全託里散（方見前）。重則用木香異功散（方見前）。必使其寒戰瀉定，頭面復腫，眼復封，損破復灌，無痘處復生小痘，隨即灌漿，方保回生。若不腫不灌，不可救矣。</p>

<h3>靨時發熱</h3>
<p>痘瘡首尾不可無熱，惟要熱之和緩，時熱時涼耳。若收靨時無熱，漿不能幹。若痘靨過半，大熱蒸蒸，人事不寧，口渴煩躁者，此毒火攻內，更防倒靨火合，急用內托解毒散。</p>
<p><u>內托解毒散</u></p>
<p>人參　黃耆（炒，各一錢）　炙甘草　天花粉　麥冬　柴胡　炒牛蒡（研）　白茯苓（各五分）</p>
<p>水煎服。</p>

<h3>火合痘</h3>
<p>始因痘根未透，勉強行漿。至八九日來，漿清不足，人中、口唇上下假似收意。見此，方用重劑保元托裡散（方見前）補足，令其自收。有醫者見日期該收，不管漿不足，速欲誇功，誤與茯苓、白朮、山藥、苡仁等補脾利水之劑，以致將漿頓時徹干，根盤坍塌，牽扯成片，干如蠟肉皮之紅色，漸至不食，渾身俱陷入而死。籲，豈火合也哉。如果服過薑、桂、丁、附等藥，以致火合者，急用涼解之方，十全一二。</p>

<h3>靨時泄瀉</h3>
<p>痘將收靨，忽然泄瀉，當看所出之物，利下膿血痂皮者，乃脾強腎弱，不足為慮。利盡膿血則愈，不必勉強施治。如利下水穀，不分不化，多者，此腎強脾弱，急用陳氏木香散（方見前），利止則吉。如再不止，以木香散送下豆蔻丸。不止，凶。</p>

<h3>靨時昏睡譫語</h3>
<p>收靨之時，漿足結痂圓淨，或時言語妄誕，如半醒半睡，口中喃喃，如著鬼邪，或昏睡沉沉，呼之不醒者，或醒時身子戰慄不安者，皆由膿血出盡，心舍空虛，神無所依之故。法宜養血安神，其症自定，寧神養心湯。治小便短赤，安神丸。</p>
<p><u>寧神養血湯</u></p>
<p>人參（一錢）　炒白朮　白茯神　歸身（酒洗）　酒炒白芍（各八分）　淮山藥　蓮肉（去心，各一錢）　陳皮（六分）　棗仁（炒，研）　加龍眼（五隻）</p>
<p>水煎服。</p>
<p><u>安神丸</u></p>
<p>川連炒為末，以紅棗肉為丸，芡實大，硃砂為衣。每服十丸，兒二丸。</p>

<h3>戀靨</h3>
<p>痘瘡收靨三五日，痂殼已落，若黏著皮不肯脫落，此表虛也，尤妨變壞，調元固表湯。</p>
<p><u>調元固表湯</u></p>
<p>人參　黃耆　山藥　白朮（各一錢）　炙甘草（五分）　當歸（酒洗）　茯苓（各八分）　蟬蛻（洗淨，三分）　加大棗（一枚）</p>
<p>水煎服。</p>

<h3>痂忌剝傷</h3>
<p>痘痂任其自落，不可容其撏掐。肌膚披傷，一時浸淫灌痛，固不足惜，但歲歲逢春發血風瘡，終身受害者也。</p>

<h3>面瘡浸淫防損目</h3>
<p>凡見面瘡反復腫灌，便防壞眼、崩鼻、穿腮之患，急服預解連翹飲，可免傷殘之禍。</p>
<p><u>預解連翹飲</u></p>
<p>白蒺藜（炒，去刺）　防風　連翹　蟬蛻　密蒙花（各六分）　牛蒡（一錢）　荊芥　白菊（各五分）　黃芩（酒炒，七分）　升麻　甘草（各四分）　加燈心（一分）</p>
<p>水煎服。</p>

<h2>落痂痘後證治</h2>

<h3>驗疤痕</h3>
<p>凡落痂，疤痕紅活起者，吉。若凹陷色白，乃元氣大虛。或大便不實，調元固表湯去蟬蛻，加肉桂三分，熟地八分（方見前）。轉鮮紅凸起則吉。有凸起而色紫黑黯者，外敷減痕散，內服犀角化毒湯。</p>
<p><u>減痕散</u></p>
<p>密陀僧研細末，熟蜜調塗疤上，其疤自平，紫黑色自退。</p>
<p><u>犀角化毒湯</u></p>
<p>烏犀角（水磨，五分）　丹皮　荊芥　防風</p>
<p>凡用湯引，蝦子鯽魚。用雄雞破開背上，取去心肝，用藥放其內取毒，帶毛肚臍中，用帶子捆住，即解毒湯。</p>
<p>赤芍　生地　牛蒡　玄參　甘草（各六分）　加燈心（半分）</p>
<p>水煎和水犀服。</p>

<h3>痘毒</h3>
<p>痘有殼薄漿清、平塌破損、收早者，或用熱藥過多，以致毒邪蘊蓄，未得發泄，必尋出路於關節之間，而為癰腫也。但發一二處，急服十三味敗毒湯。看人之血氣虛實，毒之重輕，加減施治。若紅腫未成膿，以必勝膏貼之即散。已成膿，則留其頭而箍出其膿，或大連翹飲擇用之。潰後以十全大補湯補之。若毒留注不已，腫灌綿延日久，則斃。</p>
<p><u>十三味敗毒湯</u></p>
<p>歸尾　陳皮　白芷　川山甲（炒，研，各三分）　乳香　沒藥（三分）　川貝母（一錢）　金銀花　皂角刺　花粉　防風（各七分）　甘草（五分）</p>
<p>能酒者，酒水各半煎，勿令走泄香氣，去渣服。</p>
<p><u>必勝膏</u></p>
<p>馬齒莧（搗汁）　豬膏脂　石蜜（各等分）</p>
<p>以上共熬膏。塗腫處。</p>
<p><u>大連翹飲</u></p>
<p>連翹　歸鬚　赤芍　牛蒡（炒，研，各一錢）　活石　柴胡　炒芩　荊芥　山梔　車前　防風（各八分）　蟬蛻　甘草（各三分）　姜（一片）</p>
<p>水煎服。</p>

<h3>痘後損目</h3>
<p>斑瘡入眼，多在收靨之時，因痘滿面破爛，重複腫灌，膿血膠固，毒火鬱蒸，上攻於目，或者過用辛熱之藥，或兒平時喜啖辛溫飲冷。痘後斑瘡入眼，在白珠上易去。若一點翳如粟米，在黑輪上，或掩瞳人，急以密蒙花散治之。白膜遮睛，穀精草散。兩目怕日羞明，向暗處便開，涼肝明目散，前二症俱宜服。切忌點洗，有害。</p>

<h3>痘瘡入眼</h3>
<p>要看兩孔有痘，即兩眼痘瘡入目，急以胭脂點去兩孔痘瘡，兼點兩眼，其目中痘瘡自去耳。又用黃柏皮為末，調雞蛋白敷其腳心。左眼痘敷右，右眼痘敷左，立扯痘歸目角，神效。</p>
<p><u>密蒙花散</u></p>
<p>密蒙花　穀精草　菊花（各洗淨）　蟬蛻（去足，各五錢）　望月砂（一兩）</p>
<p>共為細末。用獖豬肝二兩，竹剖開，以前藥末三錢，藏在肝內，用麻扎定，水煮。肝熟，飲汁食肝，去藥末。</p>
<p><u>穀精草散</u></p>
<p>穀精草（洗淨，一兩）　海蛤粉（二兩）</p>
<p>上為細末。用雄豬肝一葉，以竹刀剖開，納藥於內，以麻縛定，放砂鍋內，加水慢火煮熟，飲汁食肝。此方可連後方合用，當益良。</p>
<p><u>涼肝明目散</u></p>
<p>白菊花　密蒙花　白蒺藜　蟬蛻（洗淨）　柴胡　穀精草　當歸（酒洗）　防風　龍膽草（酒洗，各四分）</p>
<p>用獖豬肝煮湯煎藥服。熱盛，加酒炒黃連；小便短赤，燈心一分；大便秘，加酒大黃。</p>

<h3>痘後吐蛔</h3>
<p>責之裡熱，又不能食，蟲無所依，但聞食即上湧吐出也，黃連止蛔湯。若不急治，食臟食肛，為狐惑之症矣。</p>
<p><u>黃連止蛔湯</u></p>
<p>炒黃連　炒黃柏　土炒白朮　烏梅肉　炒厚朴（各六分）　人參　甘草（各四分）　加粳米（百粒）</p>
<p>酒煎服。</p>

<h3>痘後便膿血</h3>
<p>此痘不能正靨，倒陷於內，本危症也。因其人胃氣強盛，毒不能留而入於大腸，所以膿血痂皮從大便出也。利盡膿血自愈，助中湯主之。要審其飲食，果能進，二便非泄瀉，最宜探其消息，不可亂治。看勢熱甚者，黃連解毒湯。</p>
<p><u>助中湯</u></p>
<p>人參（五分）　當歸　白芍（各五分）　甘草（炙）　枳殼（各三分）　牛蒡子　茯苓　陳皮（各八分）　加大棗（一枚）</p>
<p>水煎服。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　酒炒　黃芩（酒炒）　枳殼（炒）　歸尾　秦艽　地榆（各五分）　紅花　甘草（各三分）</p>
<p>水煎服。裡急後重腹痛，加酒大黃、檳榔。</p>

<h3>痘後作痢</h3>
<p>其人平日喜食煎炒炙煿，素有積熱，痘後氣血兩虛，餘毒夾積而發，故痢赤白，腸鳴腹痛，裡急後重。先宜調胃承氣湯去熱毒，次以黃芩湯調之。如不止，香連丸可常服。</p>
<p><u>調胃承氣湯</u></p>
<p>大黃（酒蒸，一錢五分）　枳殼　檳榔（各八分）　甘草（三分）</p>
<p>上水煎，以利為度。如不通可再進。</p>
<p><u>黃芩湯</u></p>
<p>黃連（酒炒）　黃芩（酒炒）　當歸（各八分）　川芎（六分）　白芍（一錢）　甘草（四分）　木香（二分，另包）</p>
<p>候余藥水煎熟，投入木香，再一滾，去渣服。</p>
<p><u>香連丸</u></p>
<p>黃連（一兩）　吳萸（五錢）　木香（二錢）</p>
<p>上將連萸水拌同炒乾，去萸不用，只將黃連、木香為末，醋打米糊為丸，桐子大。每服三十丸，如兒小，白滾湯化下一錢，不滿歲兒服五分。</p>

<h3>痘後熱不已</h3>
<p>痘既收靨而熱亦當除，若仍熱不已，非毒之餘，必虛熱也，惟以脈症治之。如發熱脈數大有力，煩躁便實者，乃邪氣實也，知母退熱飲。如發熱脈遲寒，形怯多睡，二便利者，乃元氣虛也，黃耆退熱飲。如發熱因傷食，畏食嘔吐，噯氣吞酸，大便酸臭不實者，乃脾受寒也，保和丸；形弱者，調中陽。</p>
<p><u>知母退熱飲</u></p>
<p>知母　柴胡　地骨皮　生甘草　黃芩　當歸　白茯苓　白芍　山藥　牛蒡（各等分）</p>
<p>水煎服。</p>
<p><u>黃耆退熱飲</u></p>
<p>黃耆（炒）　山藥　白茯苓（各八分）　牛蒡子　柴胡　當歸身　白芍　人參（各五分）　加大棗（一枚）</p>
<p>水煎服。</p>
<p><u>保和丸</u></p>
<p>山楂肉（炒，二兩）　神麯（炒）　麥芽（炒）　枳實　半夏（制，各一兩）　炒白朮（二兩）　連翹　蘿蔔子　白茯苓（各五錢）　黃連（炒焦色，三錢）</p>
<p>上為細末，陳米打糊為丸，如彈子大。米飲化服。</p>
<p><u>調中湯</u></p>
<p>白朮（炒）　黃耆（炒）　蒼朮（炒）　麥芽（炒，各八分）　枳實（炒）　厚朴（炒）　神麯（炒）　山楂肉（炒，各五分）　砂仁　甘草（各三分）　木香（二分，另入）</p>
<p>元氣不足，加人參三分。水煎服。</p>

<h3>急慢驚風</h3>
<p>痘後膿成，毒解而收效矣。或然發搐，面赤目直，口噤頭搖，角弓反張，發熱便秘，脈來急數洪滑等症，皆為急驚，乃餘毒留連於心肝二經也，琥珀抱龍丸、茯神寧心湯。風痰極甚，十寶丹。熱極，搐不已，犀角丸、清神散火湯間用之。搐止則吉，不止則凶。若其人虛弱少食，或經泄瀉，以致面青唇白，手足時冷不食，眼慢上視，手足瘛瘲，脈來沉遲細緩，為之慢脾驚風。氣血化漿，盡發於外，又經泄瀉失調，中氣大脫之故，十分難治，全蠍觀音散、醒脾湯、附子理中湯。</p>
<p><u>琥珀抱龍丸</u></p>
<p>琥珀（三錢）　白茯神　天竺黃　淮山藥（各三錢，炒）　炒枳殼（二錢）　枳實（炒）　人參（各二錢）　粉草（一錢五分）　檀香（五分）　膽星　硃砂（各五分）　金箔（三十）</p>
<p>上除砂、箔為衣，余為細末，薑汁和蒸餅為丸，如芡實大，當風處自干。薄荷湯下。</p>
<p><u>茯神寧心湯</u></p>
<p>茯神　天麻　膽星　遠志　菖蒲　防風　半夏　薄荷　殭蠶　木通　黃連（炒，各四分）　甘草（三分）</p>
<p>上加生薑二片，水煎服。</p>
<p><u>十寶丹</u></p>
<p>牛黃（一錢五分）　天麻　膽星　全蠍（酒洗）　青礞石　硃砂　牙皂（各三錢）　輕粉　麝（各一錢）　生半夏（一兩，麻黃用水一碗，同煮乾為度。去麻黃不用，半夏曬乾）　巴豆仁（三十五粒，水浸七日。生紅棗三十五粒，去核，每入巴豆一粒。外用濕麵包裹，火煨。候面黃焦，去巴豆不用。將棗去皮，和前藥同搗爛）</p>
<p>上以硃砂另研，紅棗另搗，余為末，和棗肉同搗爛為丸，如綠豆大。用薑湯調服，半歲者服半丸。</p>
<p><u>犀角丸</u></p>
<p>牛黃　犀末　羚羊角（末）　全蠍（酒洗）　殭蠶（炒）　防風　羌活　天麻　麻黃　膽星　天竺黃　黃連　京墨（㷷，繳煙為度）</p>
<p>以上各三錢為細末，蒸餅打米糊為丸，芡實大，硃砂、金箔為衣。每服一丸，薄荷湯下。</p>
<p><u>全蠍觀音散</u></p>
<p>全蠍（酒洗）　天麻　防風（各一錢）　炒白朮　炒黃耆　灼甘草　人參　炒扁豆　白茯苓　炒山藥（各一錢五分）</p>
<p>為末。紅棗肉、冬瓜仁湯下。</p>
<p><u>醒脾湯</u></p>
<p>人參　白朮　蓮肉　黃耆（各一錢五分）　冬瓜仁（二錢）　熟半夏（一錢）　熟附子（各五分）　甘草（灼，五分）</p>
<p>上用水、姜煎服。泄瀉，加五味七粒，訶子、肉果各五分；吐，加藿香、乾薑各五分。</p>

<h2>女子出痘症治</h2>
<p>女子十四而天癸至，其前治法與男子同。惟十四後出痘，熱毒熏蒸，傷其陰質，不當至而出也。毒輕痘稀者，可以保全。痘密毒重者，吉凶難料。且痘全賴陰血成漿，而盡從漿化。若經水一行，真陰漏泄，孤陽何可成就。又當看人之氣血厚薄而為之吉凶也。治之之理，大同小異。發熱未出時，急托裡出表，使毒不犯血分。已出蒸長時，解毒清涼保血，不致毒浸。若經水必不能止而忽行之，至五六日間，便當大補氣血，助託生漿，切勿因循忽略，以致陷伏、倒靨、癢塌等症也。</p>
<p><u>保血化毒湯</u>　痘出齊，解毒清熱保血。</p>
<p>黃連（酒炒）　生地（酒洗）　牛蒡子（炒，研）　連翹　當歸（酒洗）　白芍　桂枝（等分，拌炒，去桂不用）　紅花　丹皮　黃芩（酒炒，各八分）　犀角（水磨，五分）　甘草（四分）</p>
<p>水煎，入水犀服。</p>
<p><u>大補元湯</u>　灌漿時托裡助漿。</p>
<p>人參　黃耆（各二錢）　炙甘草（六分）　當歸（酒洗，一錢）　川芎（五分）　白芍（酒炒，一錢五分）　防風　白芷（各五分）　桂枝（三分）　臍帶（一條，灼干為末，調藥服）</p>
<p>上用白水煎服。</p>
<p><u>單胎散</u>　治孕婦出痘動胎。</p>
<p>八珍湯去地黃，加酒條芩。動胎，紫蘇、阿膠，水煎服。其胎安而痘出矣。或加砂仁。</p>
<p><u>安胎散</u></p>
<p>紫蘇（三分）　陳皮（八分）　歸身（一錢）　白芍（八分）　故紙（八分）　杜仲（八分）　小茴（九分）　續斷（八分）　黃芩（八分）　白朮（八分）　砂仁（八分）　艾葉（七皮）　姜（一片）</p>
<p>痘後疤不紅。</p>
<p>用當歸　黃耆　炒白朮　白茯苓　炒牛蒡　山藥　前胡　防風　何首烏　甘草</p>
<p>水煎服。</p>
<p><u>神解散</u></p>
<p>柴胡（一錢五分）　乾葛（一錢）　麻黃　川芎　升麻　防風　茯苓（各八分）　甘草（五分）</p>
<p>先將麻黃，煎出去白沫，次放藥煎，熱服，臥，被蓋出汗，腰痛即止為度。不止再服一劑，免出腎經之痘。此方治小兒發欲出痘腰痛，神效。</p>

<h1>卷之九</h1>

<h2>麻疹骨髓賦</h2>
<p>麻雖胎毒，多帶時行，氣候暄熱，非另男女傳染而成。其發也，與痘相類；其變也，比痘匪輕。愚夫愚婦，視如泛常；若死若生，總歸天命。不知毒乘於脾，熱流於心，始終之變，腎則無症，臟腑之傷，肺則尤甚。閉門問途，不如路中尋徑；揚湯止沸，不若灶里抽薪。初則發熱，亦是傷寒。目出淚而不止，鼻流涕而不幹。咳嗽太急，煩躁難安。隱隱皮膚之下，以手摸之，磊磊肌肉之間。其形若疥，其色若丹，隨出隨沒，喘急須防；乍隱乍現。根窠若腫兮，疹而兼癮；皮膚如丹兮，疹而夾斑。似錦而明兮，十有九效；如煤而黑兮，百無一生。疹毒最重，治法不同。微汗常出，熱勢越而不留；清便自調，邪氣行而無壅。腠理忽郁兮，即當發散；腸胃燥結兮，急與疏通，苟視大而若細，恐變吉而為凶；惟衄不必憂，邪從衄解。利不必止，毒以利松。所喜者身上清涼，可畏者咽中腫痛。飲水不休，法在生津養血；飲食欲減，須救胃和中。</p>
<p>且如出之太遲，發表為貴；出之太甚，解毒其宜。毋伐天和，常視歲氣。寒風凜凜，毒氣鬱而不行；火日炎炎，邪氣乘而作癘。或施溫補，勿助其邪；若用寒涼，休犯其胃。制其過，但取其平；誅其暴，必欲其已。遠寒遠熱，陰陽之勝負不齊；責實責虛，人品之強弱或異。防風、荊芥，散腠理之留邪；升麻、葛根，開榮衛之蘊熱。人參養氣，地黃涼血。黃連入心而瀉火，黃芩入肺而定咳。玄參、石膏，治邪火之浮游；梔子、連翹，開惡毒之鬱結。瓜蔞潤肺止瀉，須合麥門冬；知母降火生津，必同黃柏。芍藥止乎腹痛，白朮止乎脾泄。溲若澀兮，芩、通；咽常痛兮，甘、桔。心神驚妄兮，鎮以辰砂；臟腑秘結兮，利以大黃。牙齒生疳，蚊蛤配乎溺白；咽喉若癉，射干助以牛蒡。五味、杏仁，治喘氣之吤吤；薄荷、竹葉，解肩熱之烊烊。火燒人屎，蜜炒麻黃。發斑毒之出現，令邪氣之舒張。枳實、山楂，助熱而化毒；兜鈴、地骨，清肺熱以回瘡。</p>
<p>瘡疹即出，調理甚難。坐臥欲暖，飲食宜淡。風寒若受兮，為腫為熱；咳多涎沫兮，華蓋傷寒。口爛唇瘡，心脾之火未退；皮焦發槁，榮衛之脈將干。苟不詳於臨症，何以見其折肱。</p>
<p>治此變症，各有奇方。身熱不除，柴葛合乎四物；口瘡若甚，甘桔合乎三黃。消腫定喘兮，葶藶取效；化痰止咳兮，順氣為良。血氣已虛，八物增損而可飲；水穀不納，二陳斟酌以煎嘗。痢血兮，香連丸去蔻而加陳皮、黃柏；咳血兮，五構湯去麻黃而加茅根、地黃。此疹科之治法，繼痘科而再詳。</p>
<p>麻疹此科屬火，宜和清涼解毒。麻疹俗呼麻子，蓋因火氣熏蒸。遍身紅點硃砂形，乃是心脾二症。最忌生斑死候，切宜赤似硃紅。大都治法喜涼清，不可辛甘犯禁。</p>
<p>疹子何因咳嗽，只因肺與心連。肺被心火苦熬煎，以致咳嗽氣喘。治要清金降火，不宜誤用辛甘。譬發疱子蒸籠然，只要氣松火暖。</p>
<p>疹子如何辨認，分明狀似傷寒。此因咳嗽有紅斑，噴嚏眼中水現。或因腹中疼痛，或時吐瀉相兼。疹家吐瀉不須安，正要毒除熱散。</p>
<p>疹與痘症異治，二家不可同方。痘宜溫解疹宜清，又要形現為上。若受風寒不出，其間凶險難當。急與發散保安康，切忌神昏腹脹。</p>
<p>凡遇疹未出現，詳看天令何如。假如日暖又風和，敗毒荊防堪可。若是時行疫熱，芩連消毒宜多。用心調理救沉疴，莫學觀天坐井。</p>
<p>且說荊防敗毒，此如發散仙方。防風荊芥生地黃，酒炒芩連二樣，桔梗人參甘草，升麻牛蒡玄參，酒柏炒為良，竹葉水煎停當。又有芩連解毒，散火消毒尤佳。芩連梔子及升麻，桔梗甘草多把，人參石膏知母，連翹蒡子紅花，□用竹葉要多加，此個方兒無價。</p>
<p>若是發散不出，令人真個憂疑。麻黃酒蜜炒如煤，梔柏芩連一例。更著大黃酒炒，連翹蒡子相宜，石膏蟬蛻紅花，□不效命離塵世。如見出時紫黑，此般今古凶。急求人糞路歸東，火燒存性取用，細研酒調吞下，須臾黑色變紅。若然依舊黑朦朧，管取黃粱一夢。</p>
<p>疹子現出發熱，尋常只用化斑。石膏甘草及人參，桔梗連翹有驗。若見毒多熱甚，連翹消毒為先。大腸秘結大黃添，務使微溏數遍。</p>
<p>疹毒類多咽痛，火邪薰灼無他。連翹甘桔要多加，射干蒡子煎罷。外用十宣妙散，吹喉休要吁嗟。假使見效莫爭差，消毒芩連無價。</p>
<p>疹子若兼瀉痢，預先用藥調醫。瀉時加減五苓宜，加上甘草活石。如見痢兼赤白，香連丸子相隨。大端痢止便為奇，不效令人疑忌。</p>
<p>疹咳聲聲氣促，只消降火清金。黃芩梔子赤茯苓，桔梗石膏一定，知母人參地骨皮，瓜蔞麥冬杏仁，玄參蒡子炒如神，竹葉煎來作飲。</p>
<p>問甚心間壯熱，只因餘毒留連。金花丸子是靈丹，梔子芩連龍膽。鬱金雄黃解毒，燈心地骨湯吞。若還胃弱熱綿延，集聖胃苓任選。咳嗽頻頻不止，或因不禁酸鹹。又如火毒肺家延，尤恐胸高氣喘。體實兼行葶藶，神虛清肺神丹。如斯調理保平安，莫向風波弄險。葶藶丸除肺熱，杏仁葶藶防己，牽牛萊菔子相隨。棗肉搗□□□清肺神丹降氣，鹽水煮焙陳皮，芩連甘桔杏仁泥，蘇子稀糊丸易。口齒生瘡臭爛，此名走馬齒疳。金花丸子內求安，外用余疳藥散。先取尿白水用澗，火烘白色如鹽。五倍銅綠退紙，蠶砒燒成黑炭。赤痢下時鮮紅，黃連柏葉槐花，枳殼荊芥穗同加，痢止血除才罷。白痢茱萸滑石，樗根枳殼升麻，烏梅取肉作丸佳，赤白香連可下。</p>
<p>四疾須防死症，臨時休得殊差。熱多體熱瘦如麻，咳嗽面青聲啞。走馬唇齒肉落，痢疾噤口吁嗟。此般即是死冤家，不可騎騾問馬。</p>

<h2>麻疹子俗呼麻子（第一）</h2>
<p>疹為熱毒屬於心，肺與相連毒易侵。咳嗽鼻中清涕出，更加兩目淚盈盈。</p>
<p>疹痘皆胎毒所發。焮腫於外者，屬少陽三焦相火也，謂之斑；小紅而行於皮膚者，屬少陰君火也，謂之疹。五臟心肺相連而位乎上，故斑疹之發，惟肺受毒最甚，觀其鼻涕出則可徵矣。疹子治法，宜清金瀉火為主，瀉如芩、連、梔子、連翹、大青、玄參之屬，清金如石膏、麥冬、牛蒡之類。</p>

<h2>冬天多發斑疹治療須明歲氣及人虛實（第二）</h2>
<p>大抵冬溫最不祥，民多受熱發瘡瘍。如逢斑疹相傳候，急與湯丸預解良。</p>
<p>春溫夏暑秋涼冬寒，此四時之正氣也。若冬反暖，則陽氣發泄太早，至春必發疹痘。雖曰胎毒，未有不由天行而發者。故一時傳染，彼此皆出。治此之法，與疫癘同論。</p>
<p>斑疹雖明歲氣先，勿輕汗下似傷寒。看人虛實施良劑，莫伐天和損壽元。</p>
<p>大抵痘疹之發，與傷寒相似，必先明其歲氣，如時令溫暖，以辛涼之藥發之；大寒，以辛溫之熱藥發之；時寒時暖，以辛平之藥發之，不可誤作傷寒，妄施汗下，反伐天和，此之謂也。又要看人虛實，如下腑秘結，熱煩太甚者，以酒大黃微利之。吐痢不止，以參歸之類補之。或吐痢不止，麻毒未清，則當清其毒而吐痢自止也。毋實實虛虛，損不起，補有餘，夭人性命也。能如此者，謂之良工，豈尋常可能及哉。</p>

<h2>麻疹初期鬚髮散（第三）</h2>
<p>疹鬚髮散在於初，麻喜清涼痘喜溫，誰知疹痘不同論，疹苗痘實分輕重，首尾調和用意斟。痘疹皆屬於火，大抵疹喜清涼之藥，如化斑湯是也；痘多喜溫補之藥，如調元湯是也。然疹痘皆胎毒，與天行正病相類，其實疹只於發苗之初，但得毒出，則毒便解矣。若痘必待苗而秀，秀而實，膿成而後毒解。所以治疹者，貴慎乎首，治痘者，貴慎乎尾。用意調和，無忝人之司命。</p>
<p>疹毒從來解在初，出形毒解即無憂。腹中脹痛邪猶伏，喘急昏煩命必殂。</p>
<p>疹子只怕一時不得出，所以要先明歲氣，要看時令寒熱，用前發散解毒之藥，但發得汗出則毒盡解。如發汗，不再作前藥。外用荽酒煮苧麻，和酒遍身刮之，令其毛孔開，疹毒得發也。如此三四再作，不得汗出，反加腹脹而痛，上喘氣急，昏眩悶亂，煩躁不寧者，必死症也。</p>

<h2>疹過期不出（第四）</h2>
<p>過期不出毒猶藏，孔閉膚干勢可惶，刻限必求斑疹露，麻黃方子是真方。</p>
<p>如疹子淹延不出，毛孔盡閉，皮膚乾燥，毒氣忽鬱於內，急以麻黃散發之。</p>
<p>過期不出勢淹延，毒伏身中發現難。急用透肌體怠慢，豈堪藏肺受熬煎。</p>
<p>升麻（酒炒）　麻黃（蜜酒炒）　人中黃　牛蒡子（炒）　蟬蛻（去足、土、翅）</p>
<p>白水煎服。</p>
<p>發熱蒸蒸咳嗽頻，涕流鼻孔淚漫睛，面浮滿腫雙腮赤，此是天行疹毒徵。</p>
<p>時行疹子傷寒似，惟疹子咳嗽噴嚏為異矣。但見此候，即是疹子，宜用前解毒之藥發散之。</p>

<h2>疹發熱自汗衄血（第五）</h2>
<p>發熱渾身汗最宜，衄流於鼻不須疑，誰知毒向其中解，血汗俱多又在醫。</p>
<p>凡痘疹發熱自汗出者，毒從汗散，玄府開，疹毒得出也。衄者，毒從衄解，不須□止。若自汗多，此為火迫，急與止之。經曰：奪血者無汗。宜止汗，以黃連湯；止血，以茅花湯。</p>
<p>毒熱薰煎汗滿身，火邪壅迫血違經。汗宜表毒邪從散，血出榮中毒亦輕。</p>
<p><u>黃連湯</u></p>
<p>黃連　麥門冬　生地黃　黃柏　黃芩　當歸　黃耆</p>
<p>水煎去渣，調敗蒲扇灰服之。</p>
<p><u>茅花湯</u></p>
<p>當歸　茅花　生地　梔子　炒芩</p>
<p>水煎，調百草霜服。</p>

<h2>疹發熱吐利滯下（第六）</h2>
<p>發熱蒸漿吐利並，或時滯下作腸鳴；火邪內迫宜清解，法向時行疹毒尋。</p>
<p>疹毒發熱之時，或吐或痢或滯下，皆火邪內迫，上行則吐，下行則瀉，又甚則裡急後重，而為滯下也。法於疹家求之，不可作吐利滯下而治。吐多以竹茹石膏湯，自利以豬苓湯，滯下以黃芩湯主之。</p>
<p>竹茹石膏陳胃苓，白水煎服吐神靈。</p>
<p><u>豬苓湯</u></p>
<p>豬苓　澤瀉　滑石　赤茯苓　甘草　黃連　升麻</p>
<p>白水煎。</p>
<p><u>黃芩湯</u></p>
<p>黃芩　川連　赤芍　生地黃　木通　枳殼　甘草　當歸梢　人參</p>
<p>水煎去渣，調天水散服之。初，加酒大黃微下之。</p>

<h2>咽喉腫痛（第七）</h2>
<p>火邪拂鬱咽喉痛，甘桔牛蒡湯可用。吹喉惟有十宣良，莫犯金針病增重。</p>
<p>疹痘類多咽痛者，毒火鬱上熏咽喉，故令咽喉腫而作痛也。不可妄以針去血，宜以甘草牛蒡湯、十宣散主之。</p>
<p><u>牛蒡湯</u></p>
<p>甘草　桔梗　牛蒡子　連翹　升麻</p>
<p>白水煎。</p>
<p><u>十宣散</u></p>
<p>黃連　黃芩　黃柏（各一錢）　苦參（五分）　硼砂（三分）　乳香（一分）　孩兒茶（五分）　玄明粉（三分）　雄黃（五分）　冰片（少許）</p>
<p>為細末。吹喉立效。</p>

<h2>發熱作渴咳嗽（第八）</h2>
<p>熱甚作渴少飲水；解毒生津功莫比，若然縱飲不知休，水蓄於中災異起。</p>
<p>痘疹發熱，未有不渴。多渴時，宜用綠豆、芝麻、炒米湯飲之，不可與涼水。更宜生津解熱，人參白虎湯主之。若恣飲冷水，恐生水蓄之症，致水入於肺為咳為喘，宜用葶藶以泄肺中之水。水入於脾，為腫、為脹、為自利；水入於胃，為嘔、為噦、為利，宜用豬苓、澤瀉以泄脾胃之水。水入於心，為悸、為驚，宜用木通、赤茯苓以泄心下之水。水入於肝，為脅為痛，宜用蕪、芎、蒼朮以泄肝水。水入於腎與膀胱，為小便不利，用車前子、木通以泄膀胱之水。</p>
<p>疹發於心肺受先，口乾咳嗽更心煩。瀉心清肺多奇效，治不違時病早安。</p>
<p><u>人參白虎湯</u></p>
<p>石膏　知母　天花粉　乾葛　人參　淡竹葉　粳米</p>
<p>水煎，以米熟為度。</p>

<h2>疹出錦紋及白斑黑斑（第九）</h2>
<p>赤斑渾身似錦紋，白斑血少要滋榮；黑斑十死為惡候，解毒消斑用大青。</p>
<p>疹毒之出，渾身如錦紋者，化毒湯主之。色白者，此血不足也，益榮湯主之。</p>
<p>一齊湧出莫驚惶，頃刻渾身朱錦狀；似痘出兮隨又沒，如斑點處卻成瘡。</p>
<p><u>化斑湯</u></p>
<p>人參　知母　石膏　牛蒡子　連翹　升麻　地骨皮　甘草　淡竹葉　糯米</p>
<p>水煎服，以米熟為度。</p>
<p><u>益榮湯</u></p>
<p>人參　當歸（酒洗）　甘草　紅花（酒洗）　赤芍　桂（水炒）</p>
<p>白水煎服</p>
<p><u>大青湯</u></p>
<p>玄參　大青　桔梗　人中黃　知母　升麻　石膏　梔子仁　木通</p>
<p>便秘者，加酒蒸大黃。水煎，調火燒人屎服之。</p>

<h2>疹出至三四日不收（第十）</h2>
<p>旋出旋收病勢輕，連綿不盡勢堪驚；化斑解毒令消減，莫使餘邪集病身。</p>
<p>疹子之出，當以六時即收。如子後為陽，午後收；午後為陰，子後收，乃陽生陰□，陰生陽成，造化自然之妙也。凡此旋出旋收者輕。若一出連綿，三四日不收者，此毒火太甚，須用化斑解毒湯，使毒得發於外，里無餘邪，免生後災也。</p>
<p>疹出即盡得安寧，邪未盡兮氣不平；拂拂熱煩邪尚熾，頻頻嘔泄毒還蒸。</p>
<p>疹家出沒合陰陽，出以溫和沒以涼；連出不收陽太盛，遲遲間出是陽強。</p>
<p>疹出渾似火燒身，毒邪壅盛急難消；醒風只許皮膚暖，救里常宜便溺調。</p>
<p><u>化斑解毒湯</u></p>
<p>玄參　知母　石膏　人中黃　升麻　大青　牛蒡子　連翹　淡竹葉</p>
<p>如秘結，加大黃。水煎服。</p>

<h2>疹初出解散並癘氣調染（第十一）</h2>
<p>疹毒餘邪最作殃，幾曾見此病鋃鐺。一時癘氣得相似，疫癧頻催赴比邙。</p>
<p>疹毒之出，貴先發散其毒，則無餘邪之□後災也。若不知解於初，毒不得泄，停蓄於中，未有不為後殃者。此乃一時癘氣之染，彼此相傳，但見前有病者，餘邪之發，死而不治，則後之為病者，症既相似，則亦不可復救矣。此言餘邪之為病者，可不慎解於其初也。</p>

<h2>疹後餘邪發熱疳瘵（第十二）</h2>
<p>疹毒流連熱不除，渾身似火發毛枯；尪羸漸漸成疳瘵，得遇良工病可蘇。</p>
<p>疹子既受其毒不解，邪火拂鬱，渾身發熱，晝夜不退，髮膚枯瘁，漸成疳瘵，以清熱除疳丸主之。若不早治，以致睡則揚睛，口鼻氣冷，手足厥逆，微微瘛瘲，變為慢驚風，不能救者多矣。</p>
<p><u>清熱除疳丸</u></p>
<p>黃連　當歸（各二錢）　膽草（一錢五分）　川芎（一錢）　青皮　陳皮（各五分）　使君子肉（一錢五分）　乾蟾頭（一錢五分，燒灰）　蘆薈（一錢五分）</p>
<p>為末，神麯糊為丸。米湯下。</p>

<h2>疹後壯熱煩躁搐掣（第十三）</h2>
<p>疹毒流連為壯熱，煩躁不寧時搐掣；養陰散火責心肝，神爽心涼生可訣。</p>
<p>如渾身壯熱，未至羸瘦，但多搐掣，煩躁不寧，此熱在心肝二經也，以當歸養血湯、黃連安神丸間而服之。</p>
<p><u>養血湯</u></p>
<p>當歸　川芎　生地黃　麥冬　木通　甘草　淡竹葉　山梔仁　燈心（引）</p>
<p>便秘，少加大黃。水煎服。</p>
<p><u>安神丸</u></p>
<p>黃連　當歸　膽草（各二錢）　石菖蒲（一錢五分）　白茯神（一錢五分）　全蠍（七隻）</p>
<p>湯浸蒸餅，杵豬心血為丸，硃砂為衣。燈心草湯送下。</p>

<h2>疹後牙疳（第十四）</h2>
<p>疹毒流連走馬疳，牙齦爛臭食難嘗，唇瘡聾啞傳狐惑，破頰穿喉旦夕亡。</p>
