<header data-type="book">
<h1>雞鳴錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王士雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1852">公元1852年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第六冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521056">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>女科第一</h1>
<p>（千金寶要列婦人門於第一，殆易始乾坤、詩首關睢之義也，茲仿其例）</p>
<p><u>帶下</u>　帶下，女子生而即有，津津常潤，天賦之恆，或至太多，是病也。然古以婦人隱疾統名帶下，今人但知白帶、赤帶等名耳，病因非止一端。屬陰虛者，六味地黃丸。每晨淡鹽湯送服三錢。怯弱人多陰虛，肥白者多濕，堅瘦者多火。</p>
<p>屬濕盛者，松石豬肚丸，每早淡豆腐漿送服三錢。</p>
<p>火盛者，黃柏、烏賊骨等分研末，女貞子煎濃汁，法丸綠豆大，砂仁一錢研末泡湯，早晨送服三錢。</p>
<p>旱蓮草　野苧麻根（各四兩）　十大功勞（一兩）　酒水各半煎服。如治血崩，加木耳炭（一錢五分）　血餘（一錢）　共研細末調入服。</p>
<p><u>調經</u>　人參　甘草　桑寄生（酒炒）　丹參（各二兩）　制白朮（八兩）　黃芩　當歸（各六兩）　牡蠣（煅飛）　杜仲（鹽水炒）　茯苓　菟絲餅　枳殼　白芍（各四兩）　川芎　澤瀉（各三兩）　十五味為末，煉蜜丸，每重錢半，以一丸空心開水調服。治氣虛血少，經事不調，赤白帶下，腰痠胎滑，或不受孕皆效。一方去丹參、人參加西洋參、制香附、陳艾（醋炒炭，各一兩）　尤為保胎要藥。凡胎氣易滑者，每交三五七月，頻服之甚效。或不用蜜丸，每服散藥一錢二分，開水下亦可，並治胎前惡阻亦驗。</p>
<p><u>秦氏養胎法</u>　妊娠二月，氣血不足，胎氣始盛，逆動胃氣，惡阻嘔吐不食，半夏湯主之。半夏（制）　橘紅（鹽水炒）　茯苓（各一錢）　酒芩　麩炒枳殼　紫蘇（各八分）　炙甘草（五分）　生薑（一薄片）　煎服。</p>
<p>野云氏曰：腹中臟腑，各有定位，受孕則多了一日長夜大之活物，臟腑覺其逼仄而不安，氣血為之窒礙而不調，不但痰飲漸生，甚或不能客谷，病名惡阻，以其嘔惡而阻納也。治以通氣化痰，固為扼要；若脾氣素弱者，用繆氏資生丸，培運兼施，更為妥妙。此丸兼治大人小兒胃強能食，脾虛少運，飢飽失時，致生諸證，及病後老年，膏粱安逸，氣機窒滯，思慮傷脾等恙，神妙不可殫述，在善用者，神明其意耳。</p>
<p>抑青丸，三月前十日服，川連（三兩）　薑汁炒三次為末，米糊丸綠豆大，每三四分，或七八分，煎前方半夏湯送服。</p>
<p>和氣飲，四月倦臥不安，或口舌頭痛，腳弱及腫者。白朮（土炒，一錢五分）　鹽橘紅（一錢）　鹽香附（二錢，研）　茯苓（八分）　炒白芍　酒芩（各一錢）　川芎　炙草（各五分）　酒歸身（一錢六分）　煎服，熱多加梔炭（一錢）。如無恙可勿服。按各月皆然，不僅此方也　汪謝城曰：妊娠無疾，不宜服藥丸，無故服藥，名曰保胎，適使墮胎。富貴之家，雖勸停藥，必不肯信，真庸人自擾也。蓋無病不必服藥，凡人皆然，豈獨妊娠哉。</p>
<p>養胎飲，五月胎長，腹重睡臥不安者，酒洗歸身　酒芍　鹽澤瀉（各一錢）　土炒白朮（一錢五分）　酒芩　麩枳殼　川芎（各八分）　炙草（四分）　煎服二劑。</p>
<p>如勝飲，六月胎氣不和，或腹痛胎動不安。歸身（二錢）　焦白朮（一錢五分）　酒芩　酒芍　炒砂仁　茯苓　酒蒸續斷（各一錢）　炙草（五分）　煎服，六日進一劑。</p>
<p>萬全飲，七月腹大重墜者。阿膠　熟地　酒芍　酒芩（各一錢）　酒蒸續斷　土炒歸身　川芎（各一錢五分）　炒茯苓　炒荊芥（各八分）　炙草（五分）　煎服二劑。</p>
<p>調氣飲，八月喘腫，不拘有無外感皆治。炒橘皮（二錢）　酒芩（一錢五分）　土炒茯苓　焦白朮（各一錢）　麩枳殼（八分）　炙草（三分）　煎服二劑，七日再服。</p>
<p>順胎飲。九月雖無病，宜順氣和中，使無難產。歸身（二錢）　焦白朮（一錢五分）　酒芩　滑石末　酒蘇梗　酒芍　酒洗腹皮（各八分）　煎服二劑，八日進一劑。</p>
<p>滑胎飲。臨月服，一三日進一劑，娩而止。茯苓　歸身（各一錢五分）　焦白朮　煨川芎　制香附　廣皮（各二錢）　蘇梗（八分）　酒芩（五分）　炙草（五分）　煎服，氣虛加人參（一錢），胎肥加麩枳殼（一錢五分）。按素患墮胎，及難產者，逐月按方服之，可保無虞。</p>
<p><u>孕婦心腹痛甚</u>　鹽少許炒赤，取一撮淬酒服立止。</p>
<p><u>胎氣上頂</u>　好醬油如常瀹湯飲即安。</p>
<p><u>日月未足欲產</u>　全蛇蛻一條，絹囊之繞繫腰間。</p>
<p><u>保產催生</u>　大黃（酒蒸）　益母草（酒醋姜炒）　艾（另研，酒醋姜炒）　生地（酒蒸，各二兩）　莪朮（醋炒）　赤芍　延胡（醋姜酒炒）　烏藥（醋酒炒）　冬葵子（炒）　蒲黃炭　人參　川芎（酒炒）　劉寄奴（酒炒）　香附（姜酒醋炒）　蒼朮（泔水浸炒）　黃芩（酒炒）　白芍（酒炒，各一兩）　當歸（一兩一錢）　三稜（醋炒）　青皮（炒）　枳殼（麩炒）　丹皮　乾薑（炒黑，各八錢）　肉桂（六錢）　二十四味，為末煉蜜丸，每重一錢二分，以一丸開水調下，能保產催生，行瘀生新。臨產服之，可免諸病，按亦惟氣血有餘，或奉養太過者宜之。檢方者，能量體裁衣，斯用無不效矣。如氣鬱血滯，而經不調者，亦可治之。</p>
<p><u>胎衣不下</u>　黑大豆二三合，洗淨炒香，入醋一碗，煎數沸去豆取汁，分二次服，立下，並治死胎。</p>
<p>山柰（二片）　含口中，津生嚥下自落。</p>
<p><u>產後鼻衄</u>　（若口鼻有黑氣，乃不治之證，）急取紅線一縷，並本婦頂心發二莖，緊縛中指上，以冀萬一。</p>
<p><u>產後昏暈</u>　清澈童溺，乘熱灌之即蘇。</p>
<p>鐵器燒紅，於床內淬醋中，俾醋氣衝入鼻間自醒。此法兼治男婦神魂不斂，諸證神效，並辟邪祟，禾人名曰醋箭。</p>
<p><u>產後呃逆不止</u>　陳壁錢（即喜兒窠，三五個）煎湯呷下立止。</p>
<p><u>乳不通</u>　白殭蠶末（二錢）　酒下。</p>
<p>老絲瓜（連子）　燒存性，研末酒下，被蓋出汗自通。</p>
<p>麻仁　漏蘆　穿山甲　鵝管石（各三錢）　麥冬　王不留行（各六錢）　六味為末，每三錢七釐，牡豬蹄煎湯調服，其乳如泉。</p>

<h1>兒科第二</h1>
<p><u>初生不啼</u>　鮮石菖蒲杵汁，灌入口即生。</p>
<p><u>初生溺閉</u>　蕓薹（即油菜一株）　蔥管（五寸）　煎湯熏洗。</p>
<p><u>胎毒鵝白痰盛</u>　鬱金（皂莢水煮乾，焙切）　綠豆粉（各五錢）　炙甘草　馬牙硝（各一錢）　共研細。以生地汁，對蜜煎成膏和丸，用時磨濃汁，鵝翎掃入口內，方名黃地膏。</p>
<p>白礬　硃砂（各二錢五分）　牙硝（五錢）　共研極細，先拭淨口，每二分半，水調塗口舌上，名保命散。</p>
<p><u>臍受風濕臭水時流</u>　枯礬（六錢）　牡蠣（煅，三錢）　海螵蛸　白螺殼（各二錢）　白芷（一錢五分）　冰片（一分）　為末摻之。半日後，用熱水絞乾布拭去，再摻二日。</p>
<p><u>斷臍後外傷風濕唇青口撮多啼不乳口出白沫</u>　全蠍（二十一個，去頭尾，酒塗炙研）　麝香（少許，另研）　和勻，每一分金銀花湯，或麥冬湯調服，名宣風散。</p>
<p><u>噤口撮口臍風</u>　蜈蚣（一條，酒炙）　蠍梢（四條）　殭蠶（七條）　瞿麥（五分）　共研細，以一字吹鼻中取嚏，啼哭可治，仍用薄荷湯，調一字（二分半也）服。名益黃散。</p>
<p>汪謝城曰：古人所云一錢，錢者量也。以錢一文，取藥末堆滿錢上為一錢，錢半之為半錢，錢又半之為一字，蓋錢文有四字，故以四分之一，為一字也。今人所云十分為一錢，十錢為一兩者也，每一錢為二銖四累與一錢錢大異，此乃以二分半釋一字，是衡量不分矣。</p>
<p>生地　生薑　蔥白　萊菔子　田螺肉　杵爛，塗臍四圍一指厚，抱住泄屁即瘥，名五通膏。</p>
<p><u>臍瘡不瘥風傳經絡欲變癇證</u>　黃連（二錢五分）　胡粉　龍骨（煅，各一錢）　各另研，再合研，每少許敷臍中，名金黃散。</p>
<p><u>諸驚</u>　辰砂（三錢）　蓬砂　牙硝（各一錢五分）　明粉（二錢）　全蠍　珍珠末（各一錢）　麝香（二分半）　共研細末，和棗肉杵，自然成膏。每一豆許，金銀花薄荷湯下。潮熱，甘草湯下，月內嬰兒，乳汁調塗奶上，令吮下，名辰砂膏。</p>
<p>天竹黃　飛辰砂（各一錢五分）　雄黃（一錢）　牛黃（四分）　真珠　麝（各三分）　冰片（二分）　制巴豆霜（四十九粒）　八味研細，用鉤藤鉤（一兩）　糯米（一撮），煎湯共丸，如綠豆大密儲，每一丸，鮮竹葉湯調下。</p>
<p>附制巴豆霜法，取新川巴豆四十九粒，同生南星　生半夏（各一兩）　用水煮，至南星、半夏極爛，取出巴豆，以大棗七枚去核，將巴豆包入棗內，外以陳酒調麵糊厚，放飯上蒸三次，去面棗，將巴豆研，去油作霜。</p>
<p><u>痰熱痙厥</u>（俗名急驚風）　生石膏（十兩，研細）　辰砂末（五錢）　研勻。三歲內者服一錢，七歲內者錢半，十二歲內者二錢，十六歲內者二錢五分。大人痰厥類中風者，三五錢，均用生白蜜調下，一服即安。</p>
<p><u>杜驚稀痘</u>　生川大黃　生粉甘草（各三分）　辰砂（一分）　共研細，以赤沙糖（一錢）　開水調烊，入藥末，再調勻。凡小兒落地後一周，特用茶匙，徐徐勻作兩日內隔水頓溫灌下，永杜驚風之患，日後出痘必稀。若未服此，至五七日之間，已動驚風，用此一服即愈。</p>
<p><u>稀痘</u>　橄欖核（拭淨打碎）　連仁曬乾研細，用瓶收起，每逢水閉日，將末挑二三茶匙，加糖霜少許，開水調服，至多次，痘可不出，即出亦稀，並治魚骨鯁喉。</p>
<p><u>痘出珠內</u>　麥冬（一兩五錢）　杵爛如泥，如干加無根水數滴成餅，左目貼右足心，右目貼左足心，其痘自落。</p>
<p><u>痘瘡倒陷毒甚便血昏睡</u>　孵退雞卵殼（去膜）　新瓦焙研，熟湯調服五分。月內嬰兒，酒調抹唇上，並塗胸背，及風池穴更妙。穴在胸萎骨下軟處，左右皆是，救急便方，活人無算。</p>
<p><u>痘疔</u>　凡痘中數粒不起，變黑而痛者，痘疔也。或緊黑而大，或黑壞而臭，或中有黑線，此十死八九之證。急用豌豆（俗名寒豆，豆圓如珠，其味甜，熟於孟夏，四十九粒，煅存性）　真珠（一分，入豆腐內煮過）　頭髮灰（三分）　各研細末，先以簪挑破疔，咂去惡血，點藥少許，即時變為紅色，名四聖丹。</p>
<p><u>胎瘡滿頭</u>　水邊烏桕樹根，曬燥研末，入雄黃少許，生麻油調塗。</p>
<p><u>胎癲</u>　明礬　松香（各五錢）　蔥白（七莖）　飯鍋上蒸熟，待冷研細，加東丹（三錢）　冰片（三分）　研勻，麻油調敷。</p>
<p>松香（二兩）　黃丹（一兩）　無名異（炒，二錢）　鉛丹（炒，一錢）　輕粉（炒，三錢）　五味研細和勻，入原株蔥管內，蔥尖之口，用線扎，入鍋水煮熟，去水。曬乾去蔥，再研細，鳳凰油或麻油調塗。</p>
<p>土朱（二兩）　乳香（炙）　甘草　沒藥　川連　牛黃（各一錢）　六味研細。每五分，金銀花湯調服，治一切惡痏脂水淋漓，沿及遍體，乍癢乍疼，外用制甘石研細，濃煎川連調搽即愈。</p>
<p><u>胎剝</u>　兩大腿近小腹處生瘡，若皮脫開近小腹則不救，此名胎剝。先用豬膽汁抹之，再用黃柏炙研敷，或加伏龍肝末等分，唾濕患處摻之。</p>
<p><u>濕瘡疳癬</u>　黃連　黃柏（各五錢）　黃丹（水飛一兩）　輕粉（一錢）　麝香（二分半）　研勻。洗淨患處，摻之。名金華散。</p>
<p><u>走馬牙疳</u>　蛔蟲瓦上焙乾，研極細，加青黛、冰片各少許，研勻吹之。</p>
<p>屋楞上干貓屎（以硬白結燥者佳）　研細末。每一錢加冰片一分，研勻童便調敷。</p>
<p>蛇床子（炒黑）　黃丹　地龍（炒黑，各五錢）　青礬（煅，一分）　共研細，揩牙齦上，日三次，名紫金散。</p>
<p><u>口舌生瘡</u>　薄荷葉　荊芥穗（各五錢）　青黛　明粉　蓬砂（各二錢五分）　百藥煎　甘草（各三錢）　研細，每二分半至五分點舌上，令自化，或新水入蜜調點舌上，亦治大人，名綠袍散。</p>
<p>黃柏（蜜塗，曬十數次）　甘草（各一兩）　研細摻，或用麥冬湯調點，名黃金散。</p>
<p><u>口內多涎涎不流出乳食不下</u>　此脾胃蘊熱也。硃砂　半夏　膽星（各一兩）　茯苓（五錢）　石膏（六錢）　飛金（二十頁）　俱研極細，生薑汁丸，黍米大，每十丸，枇杷葉湯下，名金珠丹。按小兒不能吞丸藥，調烊灌服為宜。</p>
<p><u>咽喉痹痛不能吞嚥</u>　蓬砂　冰片　雄黃　朴硝等分研細摻入。名立效散。</p>
<p><u>喉腫而痛，氣塞不通</u>　朴硝（一兩）　生甘草（二錢五分）　研細吹入之。</p>
<p><u>久嗽</u>　生西瓜子，煎濃湯常服。亦治大人，兼治吐血。</p>
<p><u>諸疳</u>（肚大黃瘦及腹痛，蟲積痰熱風痙等證）　雄黃（三錢）　膽星（二錢）　全蠍（去足炒）　殭蠶（炒，各一錢）　麝香　巴豆霜（各五分）　俱秤淨末，神麯糊丸菜子大，飛辰砂為衣，每一丸白湯下。</p>
<p><u>疳積便瀉</u>　皮硝（三錢）　杏仁　生梔子　紅棗（各七枚）　連須蔥白（七莖）　飛面（三錢）　酒釀或渾酒腳，和搗如泥，攤貼腹上，以布縛之。腹露青黑色，五日一換，以腹白為度，重者三作必愈。</p>
<p>蓮子　山藥（各五錢）　史君子肉（生熟各半，四錢）　川連　胡連　神麯　楂炭　麥糵（各三錢）　青皮（炒二錢）。九味，研細水法丸，每服一錢五分，開水送下。</p>
<p><u>疳膨食積蟲氣上攻至晚不能視物目生翳障等證</u>　雞肝（一具不落水）　竹刀切片，用牡蠣粉八分，辰砂少許水飛研細拌勻，糝入肝內，飯上蒸熟食之。如此十次，翳障退淨。服藥時忌茶湯油膩。</p>
<p><u>目閉不開不赤不腫不能用藥</u>　黃連煎濃汁，塗足心。</p>
<p><u>無辜卒死</u>　蔥白杵爛，納入兩鼻孔，及下部，氣通有嚏即活。</p>

<h1>養生第三</h1>
<p>養生之道，不必旁求。大易云：慎言語，節飲食，豈非不刊之論。應休璉詩云：量腹節所受，斯得其旨矣。</p>
<p>孔子曰：食無求飽。隨園詩話云：無求便是安心法，不飽真為卻病方。</p>
<p>無病平人，飲食宜節，體稍不適，尤勿強食。病之初來，未必甚劇，不慎口腹，遂至結轖。變證多端，不能盡述，非遇明眼，貽誤莫識。凡在病中，慎口須知，豬羊雞鴨，外感忌之；堅硬壅滯，諸病不宜；姜萸椒蒜，熱證勿施；瓜果生冷，寒病休窺；產婦痘後，發物毋沾；沉疴痼疾，禁例同嚴。正衰邪盡，補食宜餐，胃弱忌苦，脾困喜酸，滑澀辛甜，各有宜忌。物性多偏，不可專嗜，病從口入，膏粱莫及，厚味臘毒，古訓須識，澹泊能甘，病奚能肆。撙節得宜，病愈必易，無如愚人，罕明食性，當禁不禁，禁非所禁，倒行逆施，反以加病，彼此貿貿，甚至殞命，我見實多，弊難筆竟，聊贅俚言，以為世鏡。</p>

<h1>虛勞第四</h1>
<p><u>童勞</u>　鮮百合　鮮地骨皮　紅棗　藕　白粳米等分，砂甑蒸露，常服代茶，百日自效。童栻盧云：此方不但童幼適口，且無敗土之虞，真妙法也。治經多人，歷有成效，按大人內熱津虛者亦治。</p>
<p>黑大棗　豬肉（各一斤）　地骨皮（四兩）　煮食。薛瘦吟極言其效，按大人羸瘦內煩者亦治。</p>
<p><u>虛弱</u>　蛤殼（煅飛，五兩）　滴乳石（水煉飛）　飛青黛（各一兩）　參貝六賢散（一兩五錢，方見後）。共研細，秋石湯調五六分。治虛火上炎，氣升咳逆，時吐涎沫，為保肺清金，而不礙脾胃之要藥。</p>
<p>生地（三兩）　茯神（三兩五錢）　紫石英（煅飛）　遠志　棗仁（炒，各二兩）　當歸（一兩五錢）　人參　麥冬　丹參　製半夏（各一兩）　石菖蒲（八錢）　膽星（四錢）　琥珀（三錢）　川連（二錢）　十四味研細，用連血豬心一個，入辰砂（三錢）　煮爛打丸，如干加煉蜜，或獨用煉蜜亦可。每丸重一錢五分，辰砂為衣，空心棗湯，或鹽湯化服，每服一丸，名通神補血丸，專治神虛血少，驚悸健忘，不寐怔忡，易恐易汗等證。</p>
<p>金毛狗脊（去毛）　王不留行（各四兩）　冬蟲夏草　十大功勞（各五兩）　紫花地丁（六兩）　沙苑蒺藜（八兩）　八角金盤（十兩）七味，以甘泉桑柴火砂鍋，或銅鍋，煎至味盡去渣，熬膏將成。入黑驢皮膠（三兩）收。另用八達杏仁（去皮尖，一斤）研末和搗為丸，如蓮子大，飛金為衣，名清金養血丹，治男婦虛勞，夜熱咳嗽，痰喘胸悶，咯血腸紅，並治血不養心，夜不安寐，手足拘攣，步履艱難，及老年喘逆，胃閉溲短便泄等證。每服二丸，絲瓜絡煎湯，或藕湯送下。小兒減半，孕婦忌服，或並八達杏仁熬膏服亦可。</p>
<p>西洋參（龍眼肉同蒸透）　沙蒺藜（鹽水炒）　萸肉（酒炒）　茯苓（人乳拌藥，各二兩）　直生地　直熟地（炒仁末拌砂）　白朮（土炒，各四兩）　杞子（酒蒸五次，一兩五錢）　肉蓯蓉（焙，五兩）　血餘（一兩二錢）　虎脛骨（酥炙，一對）　十一味為末，用羯羊肉（四斤，剔淨油膜，取純精者）酒水炙，取濃汁打丸，桐子大，每服四錢，淡鹽湯下。治下元虛弱，腰足軟，神疲色瘁，勞怯損傷諸症，神效，名培本丸。</p>
<p><u>解佚</u>（精虛髓竭也）　辰砂（飛）　乳香（去油，燈心同研，各一兩）以雞卵二枚，打一孔去其黃白，將二味各裝雞卵殼內，紙糊七層，青絹袋盛之。令精壯婦人，貼肉懷於臍間，常使溫暖。辰砂懷三十五日，乳香先十四日備懷，四十九日取出，各再研細。另用茯神　赤石脂　川椒（去目及閉口者，微炒出汗，各二兩）　三味，預為細粉，與砂乳粉和勻，以蒸熟紅棗肉杵丸，綠豆大，每三十丸，空心參湯或溫酒下。一月外，加至四十丸，名遐齡萬壽丹，又名五老還童丹，須甲子庚申夜，幽靜處修合，忌婦人雞犬見之。</p>
<p><u>陽衰</u>　胡椒（五粒）　母丁香（三粒）　黃丹（三分）　生礬（一分）　共研細，醋調塗臍中，外以膏藥封之，名健陽膏。</p>
<p>生附子　甘草　大蒜　青蔥　甘遂（各二兩）　海馬　川椒　紫梢花　沙苑子　蛇床子　狗膽　良薑　故紙　鹿茸　木鱉子　狗頭骨　山柰　五味子　大茴香（各一兩）　海螵蛸　韭子　木香　地龍　胡椒　穿山甲　鎖陽　全蠍　當歸　蛤蚧　蜈蚣　蜂房（各五錢）　三十一味，用麻油四斤浸。（夏五日，冬半月，春秋一旬）煎枯去渣，熬至滴水成珠，以鉛丹收，待溫攪入後十三味：肉桂（二兩）　公丁香（一兩）　鴉片　陽起石　石硫黃　乳香　硃砂　干安息（各五錢）　元精石　蟾酥　麝香（各三錢，以上俱研極細）。蘇合油（五錢）　丁香油（三錢）　並徐徐攪入即成。治陽氣虛弱，腰軟腳痠，溺冷便溏，神衰痿憊等證，以此攤貼湧泉、腎腧、丹田等穴，甚有效，名黍谷回春膏。杜仲　歸身　乳香（各五兩）　丁香　甘草　川芎　半夏　蒼朮　黃耆　檀香　木香（各三兩）　附子　大茴　洋參（各二兩）　芸香　降香　薄荷　甘松　桂枝　巴戟　杷子　山柰　辛夷　鎖陽　乾薑　益智　獨活　五味子　干安息（各一兩）　沉香（六錢）　三十味研細，或加海馬一對，拌入蘇合油、瓊玉膏（各三兩）　丁香油（二兩）　和勻收儲，每一劑用藥四兩五錢，配艾絨（八錢）　加肉桂、鹿茸、冰片（各一錢）　麝香（五分）　研細拌勻，鋪於綿上，闊二寸半，長三尺余，再用紅布包而縫之。外包以綿綢或湖縐。長四五尺，線行為帶，可繫於腰，名暖臍帶，或作肚兜式，系之亦可，故一名暖臍兜。治陽虛體弱，食少便溏，氣滯血寒，結成症痞，男婦內疝，腹痛腰疼，諸證極效。但止宜繫於冬令，春時即當解下，略焙藏錫器中，勿泄氣，則一劑可用二三年。男子陰虛火盛，女子血虛內熱者勿用。</p>
<p><u>唾血</u>　甘梨（六十個，去心，打取汁二十鍾，酸者勿用。）　生藕汁　白茅根汁　生地汁（各十鍾）　麥冬（煎濃汁，五鍾）　生蘆菔汁（五鍾）　上汁合和，重濾去渣，緩火煎之。入煉蜜（一斤）　飴糖　柿霜（各八兩）　生薑汁（半小杯）　再熬如稀糊，收起，去火氣，每挑服三五匙，日三不拘時。</p>
<p><u>咳血</u>　天冬　麥冬（各二錢五分）　生地　薄荷（各二錢）　川貝（去心）　茯苓（各一錢）　桃仁（去皮尖）　犀角　羚羊角（各五分）　水八杯，煎至三杯去渣。入梨汁　藕汁　蘆菔汁　青蔗汁　白人乳各二杯。熬成膏，加煉白蜜二兩收，重湯再頓半日，服法如前。按前方名元霜紫雪膏，此名五汁膏，所用取汁之物，或非全有之日，則竹瀝蘆根汁之類，易一二味可也。</p>
<p><u>火嗽</u>　梨汁　藕汁　蘆菔汁　鮮薄荷汁（各二杯）　入酒炒枯芩細末一兩，白糖霜一兩，細火熬成膏，服如前法，名化痰膏。</p>
<p><u>干嗽</u>　直生地（二斤）　八達杏仁（去皮尖）　白蜜（各四兩）　生薑（洗淨，二兩）　共搗如泥，飯上蒸七次，每五更挑三匙嚥下，名補肺膏。</p>
<p><u>久嗽</u>　直生地　直熟地（並酒浸）　天冬　麥冬（各二兩）　川黃柏（鹽酒炒）　白芍（酒炒）　茯苓　山藥　杞子　元參　生苡仁　川貝（去心）　陳皮（各一兩）　北五味（七錢）　甘草（五錢）　各研細，白蜜丸，彈子大，空心噙化，名滋化丸。</p>
<p>天花粉（一斤，用清水浸洗，刮去粗皮，切片曬乾，磨細末，篩過，取極細者，盛絹袋內，於清水中揉洗出漿，去渣澄清換水，如此五七次，芳味去盡，曬燥，取十二兩）　綠豆粉（水漂三五次曬乾，四兩）　二粉共一斤，用薄荷一斤，入瓶內，葉層層間隔，裝好，封瓶口，入鍋內，隔水煮三炷香，取起冷定。開瓶，篩去葉取粉，配入：白檀香　白石英　白蓬砂（各五錢）　白豆蔻仁　元明粉（各一兩）　白石膏（二兩煅）　柿霜（三兩）　白糖霜（八兩）　同研細末，和二粉密盛瓶內，每以一二匙噙化。消痰止渴，涼血滋陰，明目安神，滌煩解渴，醒酒闢穢，名白玉丹。</p>
<p>好道地橘皮（陳而色紅者，米泔水洗淨，略去白，銼，大片曬乾，一斤）　初用枳殼四兩，去穰淨，用水六碗，浸一宿，煎濃汁二碗，拌橘皮浸透一夜，次日蒸透曬乾　次用甘草三兩去皮，照前湯浸蒸曬乾　三用款冬花，去蘆根，淨四兩，用水照前煎浸曬乾　四用桔梗去蘆，淨四兩，用水浸一宿，煎濃汁二碗，去渣入白蓬砂、元明粉、青鹽各四錢化開，照前拌曬，浸一宿，蒸透曬乾　五用竹瀝浸拌，照前蒸曬　六用梨汁浸拌，照前蒸曬　七用生薑汁、蘆菔汁浸拌，照前蒸曬，名七制陳皮，能消食寬中、化痰順氣配以百藥煎。五倍子不拘多少，敲如豆瓣大，揀淨，用白酒糟拌勻，置暖處，候發過不澀酸為度，曬乾研末，名百藥煎　天花粉制過者尤佳　人參　細茶葉紅者勿用，亦勿太陳　半夏（制）　烏梅肉　薄荷葉　山楂末（各一兩）　沉香　檀香（各一錢）　北五味　白蓬砂（各五錢）　共研極細，加白糖霜（十兩）　煉白蜜（十兩）　和勻，搗千杵，印成小餅子，名清金丹。降火生津，臨臥或火升涎嗽之時，噙口中化咽。</p>
<p>製半夏（四兩）　元參　甘草（各三兩）　薑製南星（二兩）　青鹽（十兩）　陳皮（一斤，去白，略煎去辣味）　六味，以好泉水同煮，候乾曬燥為細末，以：西洋參　川貝母（去心，各二兩）　蛤殼（煅飛，六兩）　俱研細和勻，每用五六分，不拘時開水調下，名參貝六賢散，去蛤粉以叭噠杏酪。丸如龍眼核大，臨臥噙之口中，聽其自化，滲入咽中，尤滌痰治嗽良法，並治胸膈不舒，痰多食少極效。</p>
<p><u>中虛久嗽</u>　飴糖（二兩）　淡豆腐漿，一碗，煮化頻服。</p>
<p><u>郁痰久嗽</u>　川貝（去心，一兩）　叭噠杏仁（去皮尖，五錢）　青黛（飛，五錢）　共研細，生薑汁和勻，白糖霜丸，櫻桃大，噙化，名清化丸。</p>
<p><u>吐血</u>　蠶退紙煅存性，研蜜丸，芡子大，含化咽津。</p>
<p>丹參一味，飯鍋上蒸熟，日日泡湯代茶飲。</p>
<p>荊芥穗燒過，蓋地下存性研末，陳米湯調服二錢，數服即效，兼治下血。今人治血證，專用補法，是一隅之見也。</p>
<p>白芨（炒炭，四兩）　丹參（炒）　黑驢皮膠（蛤粉炒，各二兩）　大黃炭（一兩四錢）　百草霜　三七（焙）　丹皮炭　桑皮（蜜炙）　蒲黃炭（各一兩）　艾炭（六錢）　血餘炭（五錢）　炙草（四錢）　十二味，共研細，每八分童便或茅根湯調下。治吐血不止，沖逆欲絕者大效，甚者以此藥一錢，拌入瓊玉膏三錢，側柏葉湯下。</p>
<p>若吐血兼有臭膿者，內有癰也。用花粉　桔梗（各一錢）　地榆（八分）　炙甲片　皂角刺　連翹（各七分）　銀花（六分）　丹皮　黃芩（各五分）　甘草（四分）　十味，蘆根湯煎服歷驗。</p>
<p><u>傳屍勞</u>　硃砂　雄黃　雌黃　硫黃　麝香（各五分）為末，燒酒調擁患者背上膏肓穴，分作三次，用布蓋之。將熨斗盛火自下熨上，其蟲從口出，預製小口紗袋一隻，中撐竹絲，令病人以口就袋口，使蟲入袋內，殺之勿令脫逃。若非傳屍等證，內本無蟲，不可擅用此法，恐陰虛內熱之損怯證，誤用必致動血。</p>
<p>烹一雞置小盒內，晚間令病人餒腹就睡，以盒置床頭半啟其盒，使雞香近鼻，如病人睡醒，急將蓋罨好，緊閉而封之。明日啟視，必有小蟲，當以火燎之。如此引數次，蟲盡病自愈，按誤食蜈蚣子入腹者，亦可用此法引出。</p>
<p>人參　赤茯苓　遠志　鬼箭羽　石菖蒲　白朮　蒼朮　當歸（各一兩）　桃奴（五錢）　雄黃　硃砂（各三錢）　牛黃　麝香（各一錢）　十三味為末，酒糊丸，龍眼大，飛金為衣。每一丸，臨臥木香湯下，更以絳囊盛五七丸，懸床帳中，諸邪不敢近，並治邪祟疫癘，精魅蠱惑諸病甚效，名避邪丹。</p>

<h1>哮喘第五</h1>
<p><u>熱哮</u>　（俗名痰火，口渴苔黃，小溲短赤是）　萊菔子（二兩）　風化硝（一兩）　共研，蜜丸芡子大，每一丸噙化。</p>
<p>陳海蜇（漂淡，荸薺洗淨一兩，劈開，二兩，無則用蘆菔）煎至海蜇烊盡為度，頻飲自愈，久服除根。但須忌油膩，生痰諸物，此方兼治胸腹飲癖，及肝火鬱結，胃氣壅滯，腹中大痛，疳膨食積，滯下瘀停，痢後腹脹，諸證並效。病重倍用，或四倍八倍均可，以皆是食品雖有殊功，而不傷正氣也。方名雪羹，王晉三制以清肝熱，余為引申觸類，應變無窮，凡用成方，皆須識此，自然法古意新。</p>
<p>甘草一二錢煎湯，煮蘆菔一二兩，候熟下白糖霜，生石膏末各二錢，再滾數沸，連湯吃盡，永不再發，冷哮禁用。</p>
<p>甜熟大枇杷（十斤，去核皮）　白糖霜（二斤）　同入砂罐內密封，置靜處一月，清澈如水，每飲一杯，連服即愈。</p>
<p><u>冷哮</u>　薑汁和蜜少許，煎溫服，火證忌施。</p>
<p><u>實哮</u>　萊菔子蒸曬一兩，牙皂燒存性三錢，共研生薑汁和竹瀝，丸芡子大，每一丸噙化，名清金丸。</p>
<p>多年不愈受寒即發，痰氣壅塞不能著枕之證　生石膏（六兩）　桂枝（去皮）　麻黃（去節）　甘草　細辛（泡）　白芍　五味子（焙打，各一兩）　製半夏（一兩五錢）　乾薑（泡二次，炒，七錢）　共研末收儲，病發時，用二錢加入生薑（四錢）　北棗（劈，二枚）煎去渣，臨臥服。二三劑即愈。</p>
<p>川大黃（四兩，用竹瀝一兩，薑汁一錢，朴硝三錢，拌蒸三次）　蔞仁（去油）　蛤殼（煅飛）　橘紅（炒，各四兩）　茯苓　陳膽星（薑製蒸）　茅朮（炒，各三兩）　天麻（煨）　浮石（煅飛）　蓬莪（酒炒）　白芥子（炒，各二兩）　薄荷葉（一兩六錢）　石菖蒲　沉香　青黛（飛，各一兩）　製半夏（竹瀝薑汁炒，六錢）　川黃連（薑汁炒，五錢）　天竹黃　白蔻仁（各三錢）　冰片（一錢）　二十味為細末，以竹瀝九分，薑汁一分泛丸，綠豆大，再用煨石膏（五錢）　牛黃（二錢）　辰砂（一錢）　三味，研細為衣，每一二錢，開水下，治飲食化痰，胸膈迷悶，氣逆咳嗆，及哮喘中痰諸證。</p>
<p><u>醋哮</u>　（醋搶喉管，哮嗽不止，諸藥無效者）　生甘草二兩作二段，刮去皮，以豬膽五枚取汁，浸三日取出，火上炙乾為末，蜜丸綠豆大，臨臥清茶下四五十丸。</p>
<p><u>痰喘</u>　胡桃肉（一兩）　細茶末（五錢）　白蜜和搗，如彈子大，噙化忌蔥。</p>
<p>兒茶　白檀香　白豆蔻　麥冬　蛤粉　川貝（去心，各一兩）　天冬　薄荷葉（各五錢）　桔梗　木香（各三錢）　麝香（一錢）　冰片（五分）　共研細，以甘草四兩熬膏。丸芡子大，每噙化一丸。</p>

<h1>反胃及痛噎隔第六</h1>
<p><u>翻胃</u>　大甜梨，以銀簪搠孔，插入丁香十五枚，箬包好火煨熟，去丁香，日啖一枚。</p>
<p>文蛤（煅，二兩）　白玉蘭　二賢散（各一兩）　生大黃（六錢）　紫玫瑰（五錢）　沉香（三錢）　共研細，每一錢八分，淡薑湯調下，兼治肝鬱氣逆，胃氣不和，食少痰多，時欲嘔惡。</p>
<p>附二賢散方。橘紅（一斤）　甘草（四兩）　青鹽（五錢）　水煮爛，曬乾研末。</p>
<p>附開胃止吐法。錢塘陳雲柯中丞口傳。凡病久飲食不沾，諸藥不受者，仙製半夏　陳皮（各四兩）　用砂鍋好水，在病榻前煎之。令病人聞其香氣，俟味盡去渣，將汁仍於病榻前熬成膏，盛入碗中，去火氣，以小匙頻挑入病人口中，即能止吐納飲，試之皆驗，此因痰阻膈中也。又野云自驗中虛嘔吐，飲食不納者，干蓮子（略敲）一二十粒，煎清湯呷之。</p>
<p>胃虛嘈雜吐水（脈弱神疲，不渴能食，二便如常者）生首烏肥雞食之。</p>
<p><u>胃火嘈雜吐水</u>　黃連（薑汁炒，三分）　蘇葉（二分）　半夏（制）　竹茹（各一錢）　茯苓（錢半）　厚朴（八分）　煎服。火盛加梔炭一錢。</p>
<p><u>胃痛</u>　病發時，用艾葉（十斤）　揉碎在銅杓內炒。不住手以筋撥動，將鹽滷（須不攙水者）半小鐘傾入，候炒乾取出，研末，用燒酒一杯送服。候腹內作響，或降氣或吐清水即愈。但此方須現制現服，隔夜即不效，又忌見雞犬孕婦，服後戒鮮肉茶茗三日，愈後逢初二、十六日再送一服，淡鹽湯下，永不再發。按此治積寒停飲，胃脘作痛者，其效如此；若痛時口苦或渴，小溲短熱者，乃火鬱，宜服雪羹立效，忌投此劑。凡傳單方，或效或不效者，病因不同也。</p>
<p>汪謝城曰：反胃胃痛，因熱者甚多，近人一概用溫燥，正與病反。</p>
<p>蒼朮（十兩，泔水浸，脂麻醬拌炒）　茯苓　製半夏（各二兩）　蒸透西洋參　蛤殼　豬苓（各二兩）　葶藶（炒，一兩五錢）　白芍　澤瀉（各一兩）　沉香（六錢）　蓬莪（酒炒，八錢）　橘紅（鹽水炒，七錢）　鬱金　乾薑（泡，各五錢）　公丁香　小川連（各三錢）　十六味研細，竹瀝二分，薑汁一分泛丸，綠豆大，名觸飲丸。蓋脘痛因胃寒蓄飲者多，凡飲食畏冷，惡甜吞酸吐水，心下時痛，此方主之。</p>
<p>製半夏　蒼朮（蜜炙，各二兩）　杏仁霜（炒）　蔞仁霜（炒）　烏梅肉（炒）　五靈脂（炒，各一兩）　乾薑（泡）　甘草　木香　青皮　乳香（炙，各五錢）　沉香　丁香　沒藥（炙，各三錢）　十四味，研末蜜丸，每重一錢，辰砂為衣。以二丸淡姜皮湯服，治胃脘痛之兼蟲注血瘀者。</p>
<p>蒼朮（脂麻制，二錢）　蛤殼（煅，三錢）　西洋參（制）　川連　茯苓　製半夏　製大黃（各一錢）　甜葶藶　乾薑（泡炒焦，各五分）　丁香（三分）　十味為末，水泛丸，如綠豆大，治脘痛之有痰囊者歷驗。</p>
<p>文蛤（煅，一兩五錢）　紫玫瑰　陳香櫞（各四錢）　白玉蘭　白芍（各三錢）　檳榔（二錢五分）　沉香　鬱金（各二錢）　調中散（方見後泄瀉條，二兩）　共研細，每一錢開水下，治胃痛因於肝鬱氣滯，以致嘔脹便溏，吞酸噯氣者。</p>
<p>辰砂（九錢）　鴉片（三錢）　沉香　木香（各一錢）　百草霜（五分）　當門子（一分二釐）　六味研細，寒食麵丸，每重一分四釐，陳酒或開水下，名紫者丸，治肚腹諸痛，久治各藥不效者，歷驗如神。</p>
<p>汪謝城曰：此即一粒金丹之變法，鴉片之入中國，本為藥品，一粒金丹其祖方也。急救如神，但救平之後，仍須善為調理服藥，勿使再發為妙。若專恃此方急救，久之必仍無驗，並他藥亦不能治矣，近人因胃痛吸鴉片，以致成癮，而胃痛益甚，馴致不治，病皆坐此。</p>
<p><u>噎隔</u>　糯稻根，或蘆根濃煎飲，酒隔最效。</p>
<p>初起者用北沙參（三錢）　川貝（一錢）　茯苓（一錢五分）　砂仁殼　廣鬱金（各五分）　荷蒂（二枚）　杵頭糠（五分）　水煎頻服甚效，名啟膈散。</p>
<p>鳳凰衣四五個，煅存性研末酒下。</p>
<p>陳久竹蒸架，劈開炙為末，加金針菜十條煎服，酒隔尤驗。</p>
<p>初生小鼠。新瓦上焙乾為末，醇酒沖服立愈。</p>
<p>油透舊木梳一具，煅存性研末酒調下。</p>
<p>川貝　竺黃　檀香　枳實　沉香　膽星　仙夏　蓬砂　青鹽等分，九味煎汁，吸入烏梅肉內收干，以一枚含口中咽汁歷驗。</p>
<p>文蛤粉（一兩）　製半夏（五錢）　羚羊角　沉香　制滴乳石　花蕊石　倭琉（各三錢）　琥珀　鬱金　辰砂　狗寶（各二錢）　牛黃　蓬砂　山羊血　冰片　麝香（各一錢）　金箔　銀箔（各五百張）　大黃（分兩酌用，以巴豆去油拌蒸，去巴豆用此二味，虛證勿用）共研細收儲，每一分放舌上，竹瀝薑汁調下，或竹瀝薑汁丸如綠豆大，開水送下一二十丸，胃痛加丁香，痰稠加天竺黃。</p>
<p>川黃連（去毛細切，二兩，以水九碗煎至六碗，再加水六碗煎至三碗，下赤金、紋銀各一錠，每重二兩，浸湯內）　大田螺（五十個，洗淨仰置盤中，以黃連汁挑點螺靨，頃刻化水，用絹濾收半碗）　將田螺水，同黃連汁、金銀共入瓷鍋，煎至碗半，下蘆菔汁小半碗，（無蘆菔時，以蘆菔子煎取濃汁用）煎至碗半，下韭汁小半碗，次下側柏葉汁小半碗，次下甘梨汁小半碗，次下竹瀝小半碗，次下瑩白童便小半碗。俱以煎至碗半為候，將金銀取起，下醲白人乳一大碗，次下羊乳一大碗，次下牛乳一大碗。俱以煎至一碗為候，成膏入瓷罐內，封口埋土內，服時每用一茶匙，開水調服。極重者三服必愈，如湯水不能進者，將膏挑至舌上，聽其滲入咽喉，自能飲食，但愈後須食糜粥一月，方可用飯。此方清火消痰，去瘀下氣，養營潤燥，系京口何培元家秘傳，能挽回垂絕之症，故顧松園《醫鏡》名曰再造丹。</p>
<p>人參汁　人乳　牛乳　龍眼肉汁　蔗汁　梨汁　蘆菔汁七味等分，加生薑汁少許，隔湯熬成膏，微下煉白蜜，徐徐點服，治血枯噎隔如神。</p>

<h1>痞積第七</h1>
<p><u>諸治</u>　風化石灰（八兩，研細，瓦器炒令淡紅色，提出令熱稍減，再入）　大黃末（一兩）　就爐外炒，候熱減，再入桂心末五錢略炒入米醋熬成膏，厚紙攤貼，名三聖膏。</p>
<p>朴硝　大黃（各一兩）　麝香（五分）　為末，大蒜杵膏，和勻作餅貼之。名硝黃膏。</p>
<p>蔥白杵爛，蜜調勻，攤布貼之。熨斗隔布微熨。</p>
<p>獨蒜　穿山甲（洗淨，瓦上炙炭）　陳艾等分為末，同杵入蒜內，攤成薄餅，照痞大小，貼一炷香時。</p>
<p>水紅花子（二錢）　朴硝　大黃　山梔　石灰（各一錢）　酒酵雞子大一塊，按當時酒麴共杵成膏，用布攤貼患處，再以湯瓶熨手帕勒之。三日後揭起，肉黑如墨，是其驗也。名琥珀膏。</p>
<p>巴豆　乾薑　良薑　白芥子　硫黃　甘遂　檳榔等分研末，飯丸如中指大，侵早先以椒湯洗手，麻油塗手中，握藥一丸，少時即瀉。欲止瀉，以冷水洗手，名洗手丸。</p>
<p>臭椿樹皮（一大棗，在土中者佳）去粗皮，止用白皮二斤（切碎）　入鍋水煎，濾去渣，文武火熬成膏，薄攤標布上，先以姜擦去患處垢膩，後以膏烘熱，微加麝香貼之。初微痛，半日後即不痛，俟其自落即愈，永不再發。貼後或周圍破爛出水，水儘自瘥，兼治脹滿腹硬，一二張亦痊，惟孕婦忌之。</p>
<p>制香附　當歸（各二兩）　黃芩　瓦楞子（煅）　桃仁（各二兩）　鱉甲（炙，四兩）　製半夏　三後（酒姜醋炒）　雷丸（酒炒）　胡連（酒炒，各一兩五錢）　柴胡　製大黃　蓬莪（酒姜醋炒）　葶藶（炒，各一兩）　丹皮（一兩二錢）　元明粉（五錢）　肉桂心（三錢）　硇砂（研提二錢）　乾漆（炒淨，八分）　十九味為末，水泛丸，或神麯糊丸，梧子大。每一二十丸，米飲下，虛人酌以補劑輔之。若加入百草霜（一兩）　煉蜜丸可代鱉甲煎丸。</p>
<p>大黃　半夏　番木鱉　南星（各三兩）　穿山甲（二兩）　官桂（一兩）　獨蒜（三十枚打）七味，用麻油（二斤）　浸（春五日，夏三日，秋七日，冬十日）煎枯濾清，熬至滴水成珠，入鉛丹收成，隨加阿魏（三錢）　硇砂　冰片　麝香（各二錢）　四味，研細攪勻。凡諸痞攻動作痛，腹脹如鼓，攤貼之。</p>
<p><u>痰酒食積</u>　烏梅肉　生薑（各四兩）　白礬　半夏（各二兩，搗勻，以新瓦夾炭火焙三日夜）　神麯　麥芽　青皮　陳皮　蓬莪　丁香皮　大腹子（各一兩）　共研細，酒糊丸，薑湯下三五十丸，名烏白丸。</p>
<p><u>嗜藥成積</u>　胡桃殼隔（炙存性）　生榧肉等分研，每二錢，沙糖湯下，三月朔服起，旬日可愈。</p>
<p><u>瘧痞</u>　胡桃殼隔（煅存性，三兩）　木香（八錢）　共研細，每二三錢，好酒下，三五服愈。名香桃散。</p>
<p><u>血症</u>　豶豬肝（十兩）　以巴豆五十粒去皮，扎肝內，醋三碗煮肝極爛，去巴豆入荊三稜末，杵和丸，綠豆大，每五丸食前酒下。</p>
<p>秦艽　三稜　蓬莪　黃柏　當歸（各五錢）　大黃（三錢）　全蠍（十四個）　穿山甲（十四片）　蜈蚣（五條）　木鱉子（七個）　共入菜油二斤四兩，內浸兩日夜，煎黃色去渣熬略冷，入炒紫黃丹一斤二兩，不住手攪，黑煙起，滴水不散。離火下阿魏（一兩）　乳香　沒藥（各五錢）　風化硝（三錢）　琥珀末（一錢）　收之。拔去火氣，臨貼加麝香少許，兼治馬刀瘰癧。朝天結成石榴（一枚，無些微損傷者，連枚蒂摘下）用新砂鍋一隻，新木杓一柄，米醋（十斤愈陳愈佳）陸續入鍋，煮榴極透，將杓底擦滾，石榴令其皮爛，俟醋完熬，至色黑如膠，榴渣盡化作膏，起鍋瓷瓶收盛。試以豬血，或羊血凝塊者，置碗中，以金銀簪挑榴膏一塊，滴於血上，即透至血底，俱化為水，足驗藥力。每一二錢，開水化服，去瘀化積，而不傷新，故足珍也。</p>

<h1>腫脹疸瘧第八</h1>
<p><u>水鼓</u>　白茅根　赤小豆　煮汁頻飲，溺暢腫消。</p>
<p>輕粉（二錢）　巴豆（四錢）　生硫黃（一錢）　研勻成餅，先用新綿鋪臍上，次鋪藥餅，外以帛緊束之。約人行五七里許，自然瀉下惡水，待下三五次，即去藥，以溫粥補之。一餅可治一二十人，久患者隔日取水。</p>
<p>烏牛溺一升，微火煎如飴，空心服棗許，當鳴轉病出，隔日再服之。</p>
<p>雄豬肚（一具，洗淨）　入蟾蜍（一隻）　胡椒（按病人年紀，每歲一粒）　砂仁（二錢）　以酒煮爛，去蟾蜍、胡椒，但徐徐服完酒肚，其腫自消。</p>
<p>西瓜（一個，切去蓋）　以大蒜（按病人之年，每歲一囊）　插入瓜內，仍將瓜蓋好，用竹釘扦牢。入甕內以糠火四面圍，煨一晝夜取出。去瓜但食蒜即愈。愈後食淡百日，不再發，顧雨田傳。</p>
<p>腹大有聲，而皮黑者。用山豆根末，酒服二錢。</p>
<p>諸藥不效，延久欲死者。豬獾肉作羹啖。</p>
<p>蛤殼粉（煅，一錢五分）　厚朴　檳榔（各一錢）　桑皮　大戟　葶藶　陳香櫞　陳皮　胡蘆　防己　沉香（各五分）　黑醜（四分）　麻黃　芫花　甘遂（各三分）　十五味為末，用朴硝化水丸，黍米大，每服十丸，重證加至二十丸，小兒服八丸為止，以冬瓜皮赤小豆，煎湯送下。汪曰：赤小豆，乃赤豆之小種，俗以相思子半紅半黑者為赤小豆，大誤，余故改稱小粒赤豆，以免矇混。治鼓脹腹大臍凸，青筋遍繞，氣逆如喘之危證。</p>
<p>汪謝城曰：白茯苓二兩，土炒白朮一兩，小粒赤豆一兩，大麥芒五錢，（無則以麥糵代之）　大罐煎之。須一晝夜盡一劑，三日連服三劑，治水腫如神，如分兩減輕，或兩日服一劑即不效，或少加枳實、神麯、車前草等亦可。</p>
<p><u>氣鼓</u>　白楊東枝（去粗皮，避風，細銼五升，炒黃）以酒一斗淋之，渣盛絹袋，還浸酒中密封再宿，每飲一合，日二合。</p>
<p>五穀蟲洗淨，炒黃色，研黃米飯杵丸，綠豆大，開水服三錢，日二服。此方兼治疳膨黃瘦。蘆菔一枚，周圍鑽七孔，納巴豆七粒，入土種之，待其結子，取以再種。待蘆菔成，仍鑽七孔，納巴豆七粒再種，如此三次，至第四次，開花時，連根拔起，陰乾待用。每一枚槌碎煎湯服，重者再服必愈。</p>
<p><u>黃疸</u>　清米泔頻飲。</p>
<p>頭番莧菜（系經割過者）陰乾，遇病以砂鍋煎湯，大碗頻服。按冬月淡風蘆菔葉亦可用。</p>
<p>生南瓜蒂研爛，絹包塞鼻孔。（男左女右。）又用布圍病人兩肩，待黃水流盡即愈。或以干蒂炙存性，研末搐鼻亦可。</p>
<p>陸定圃曰：袁州楊蕉隱云：黃疸諸藥不效者，以活卿魚數尾，剪其尾，貼臍之四圍。（當臍勿貼）須臾黃水自臍出，魚尾當漸干，更剪貼之，以愈為度。</p>
<p>汪謝城曰：青殼鴨蛋，上敲一孔，入朴硝數粒。（宜多不宜少。）飯鍋上連殼蒸熟，去殼日食一二枚，輕者十日，重者一月必愈，雖黃疸入腹，將成膨脹，亦可治。或疑藥猛不敢服，或服數枚即止，不知藥不瞑眩，厥疾不瘳，俗所謂有病則病當之也。余體素虛，患黃疸入腹，諸法不效，因服至四十餘枚始愈，此實治疸第一神方。癡仙按：此攻補兼施之法，並非猛劑，雖疳膨鼓脹，亦可取效。（《願體集》有牛肉朴硝治鼓脹法，撫剿兼施，皆為正虛邪錮者設也。）</p>
<p><u>酒疸</u>　萱花根　白茅根等分煎服。</p>
<p><u>黑疸</u>　鮮栝蔞根搗汁飲。</p>
<p><u>黃病</u>　飛面（一斤）　皂礬（八兩，和作餅，火上煨焦）　蒼朮（泔浸）　厚朴（去皮，薑汁炒）　陳皮　甘草（各六兩）　川椒（去閉及目，十兩）共研末，用大棗（三斤，去皮核煮熟）　胡桃（三斤）　同杵成膏丸，梧子大，每七八十丸酒下，初服覺香，病愈則聞臭矣。</p>
<p><u>瘧</u>　蓽茇一粒研細，置暖臍膏上，貼臍中，治寒瘧甚效。</p>
<p>野云曰：瘧因於寒者，特其一端耳。世俗不知治瘧，多用溫熱之劑，以致綿延難已。非餘邪留戀，或飲食失調，或傳布單方，試輒罕效。惟邪盡正虛者，可以溫補收功，否則累月經年，仍宜按證設法也。</p>

<h1>顛狂癇厥疫第九</h1>
<p><u>久顛</u>　活壁虎（一隻，剪去四足，細研）　冰片　麝香　硃砂（各少許）　共研勻，先用礞石滾痰丸，下其痰涎，次用薄荷湯，調此作一服下，名活虎丹。</p>
<p><u>狂</u>　雄黃　硃砂（各一錢五分）　白附子（一錢）　共研細，豬心血丸，綠豆大。另以硃砂為衣，每五丸，或七丸或九丸，人參菖蒲湯下，無參用黃耆亦可，名雄朱丹。</p>
<p>甘遂末（一錢）　豬心血和勻，將豬心挑開，入藥於內，線紮緊，皮紙濕包煨熟，取藥出，入硃砂末（一錢）研勻，分作四丸，每一丸，以所煨豬心煎湯下，如大便下惡物，即止，後藥不下，再服一丸，名甘遂丸。按此方治痰迷心竅實證，挾虛者宜前方。</p>
<p>細茶葉（紅者勿用，亦勿太陳）　白礬（各三錢）　研勻飯杵丸梧子大，飛硃砂一錢為衣，每三錢竹瀝或梨汁或蘆菔汁送下。</p>
<p>汪謝城曰：白龜殼屑，治狂神效，余嘗親見之。惜白龜難得耳，如留心訪求，未必不可得也。</p>
<p><u>癲癇</u>　皂角（二兩，打碎，用水半碗浸透，採汁去渣，加白礬二兩，煎乾）　白附子（五錢）　半夏　南星　烏蛇　全蠍（各三兩）　蜈蚣（半條）　殭蠶（一兩五錢）　硃砂　雄黃（各一錢五分）　麝香（三分）　各研和勻，薑汁糊丸，綠豆大，每三十丸，白湯下。</p>
<p><u>諸癇</u>　人參　茯苓　麥冬　犀角　硃砂（各二兩）　牙硝　地骨皮　桑皮　甘草（各一兩）　冰片　牛黃　麝香（各三錢）　飛金（二十頁，為衣）　研細蜜丸，芡子大，蠟匱，每一丸白湯下，日三丸，名安神丸。按此方治虛證，前方治實證。檢方者，須量體裁衣也。</p>
<p>痰湧，氣逆不省人事，手足厥冷者亦實證也。用苦參　細茶（各二十兩）　鬱金　白礬（各八兩）　廣木香　薄荷（各四兩）　共研細末，橄欖（二斤）　打爛，絞取汁丸，如桐子大，略以硃砂為衣，每五錢，分早晚開水下。</p>
<p>遠志　茯神　當歸　象牙屑　膽星　橘紅　苦參　白芍（各二兩）　元明粉　明礬　生軍　川芎　法制半夏　石菖蒲　青黛（各一兩）　杏仁霜（一兩二錢）　沉香（五錢）　川連（三錢）　十八味為細末，以連血豬心一枚，入飛辰砂（五錢）　煮爛，再以橄欖三斤打汁熬膏，皆打入藥內為丸，如干加白蜜，每丸重一錢，每一丸燈心湯化服。</p>
<p>象牙屑　天竹黃　遠志　生大黃　膽星（各三錢）　犀角　川貝　龍齒（煅）　安息香　鬱金　乳香　石菖蒲　製半夏　礞石（煅，各二錢）　飛辰砂　川連　琥珀（各一錢）　麝香（五分）　冰片（二分）　青黛（一錢五分）　二十味研細，用橄欖膏加煉蜜杵丸，黍米大，牛黃為衣，每服錢許，竹葉湯送服。</p>
<p>飛辰砂　白芍（酒炒）　川芎　遠志　當歸　杏仁（去油）　生地　茯神　元明粉　石菖蒲　川貝母　膽星（各五錢）　川連　橘紅　青黛（各三錢）　牛黃（五分）十六味研末，以豬心一個煮爛，加蒸餅糊丸，如黍米大，食後燈心湯，送服二錢，或加皂莢炭、婁仁霜、製半夏作大丸亦可。</p>
<p>皂礬（煨紅）　魚鰾（麵炒）　鉛粉（炒黃，各一兩）　辰砂（飛三錢）　四味為末，每數分空心酒調下。</p>
<p>皂角（取干圓肥好不蛀者，去皮弦子，捶碎）　以清淨酸漿水一碗，春秋浸五日，夏浸二日，冬浸七日，搓揉去渣，澄用瓷器文武火，熬成膏藥相似，攤新夾紙上陰乾。凡驚邪風癇，心迷狂亂，積熱痰涎上衝，及破傷風搐，牙關不開等證，無問遠年近日，但取此膏掌大一片，以溫漿水化於瓷碗內，將病人扶坐，用竹管或帶筒裝藥水，吹入左右鼻孔內，扶定良久，涎出即愈，名來蘇膏。</p>
<p><u>痰厥</u>　明礬（一兩）　黃丹（五錢）　共研，每取末一匙，入瓷器內熔化，乘熱丸，櫻桃大，薄荷湯下一丸，名鶴頂丹。</p>
<p><u>屍厥</u>　犀角（五錢）　硃砂　麝香（各二錢五分）　各研和勻，每二錢新汲水調灌。名米犀散。</p>
<p>硃砂　雄黃　玳瑁　麝香　白芥子等分各研細，安息香熔化為丸，黍米大，每服五分，名返魂丹。</p>
<p>虎頸骨（二兩）　硃砂　雄黃　鬼臼　蕪荑　藜蘆　鬼箭羽　雌黃（各一兩）　共研蜜丸，彈子大，絳紗囊一丸，男左女右，係臂上，並於病室內焚之。兼治屍疰鬼交疫癘，名辟邪丹。</p>
<p>凡暴厥卒中癇魘，及跌墜暈僕諸病，其身中氣血擾亂未定，切勿張皇喧鬨，妄為移動，以致氣絕不返。總宜在原處，量證設法，可以得生。如閉證宜取嚏，服玉樞丹、蘇合丸之類以開之。虛證用炭醋熏之，或令人系挽以口接氣，再灌以參湯、薑湯、童便之類，按證施治，候其甦醒，然後移歸臥室可也。世俗不知，往往扶掖他徙，多致不救，總由不知古法，贅此以冀仁心為質者，傳播於世也。</p>
<p><u>闢疫</u>　羚羊角（一角）　雄黃　白礬　鬼箭羽（各七錢五分）　為粗末，三角絳囊盛，一兩帶心前，並掛戶上，或以青布裹少許，中庭燒之，亦治屍厥，名流金散。</p>
<p>紅棗（一斤）　茵陳（切，四兩）　大黃（銼，八兩）　合一處焚之。如加麝香燒更妙。</p>
<p>雄精以水磨濃，鹽洗後及臨臥時，塗鼻孔內。</p>

<h1>中毒第十</h1>
<p><u>闢蠱</u>　大荸薺切片曬乾為末，每晨空心白湯下二錢，入蠱家不能為害，客遊宜備，或袖中常帶當歸亦妙。</p>
<p><u>煙毒</u>　沙糖調水服。</p>
<p>青蔗漿恣服。（以下鴉片毒）</p>
<p>生南瓜搗汁服。</p>
<p>一味甘草膏涼開水化服。</p>
<p><u>煤毒一時暈倒</u>　清水灌之。</p>
<p>生蘆菔汁灌之。</p>
<p><u>悶香</u>　床頭置清水一盆，臨臥時啖棗一二枚，或含口中。</p>
<p><u>飛絲</u>　紫蘇葉嚼之。</p>
<p><u>銀黝</u>　帶皮綠柿連啖數十枚，冬春多食柿餅亦可。</p>
<p><u>鉛粉</u>　服地漿一碗。</p>
<p>海蜇（漂淡）　荸薺（切）同煮服。</p>
<p><u>硇砂</u>　生綠豆煎清湯，冷飲二三碗，並治諸藥毒，燒酒毒。</p>
<p><u>硫黃</u>　黑鉛煎湯服。</p>
<p><u>砒霜</u>　上白糖霜　靛花　甘草　淡豆豉等分研勻，冷水調灌，雖閉口垂危可活，並治鉛粉毒。</p>
<p><u>藤黃</u>　多食海蜇自愈。</p>

<h1>頭面七竅病第十一</h1>
<p><u>卒然頭痛</u>　白殭蠶（去絲）　研末二錢，白湯下。</p>
<p><u>頭痛欲死</u>　焰硝研末吹鼻中。</p>
<p>白芷（炒研）將米粉蒸熟，和末乘熱貼患處，包頭紮緊，次日必愈，甚者三貼必愈。</p>
<p>川芎　羌活（各一兩）　薄荷　甘草（各二兩）　殭蠶（每歲一條）煎湯熏洗，日三次，重者三日必愈，忌見風。</p>
<p><u>頭風</u>　地龍（去土，焙）　乳香等分末之。每二分半作紙燃燈上，燒煙燻之，名龍香散。</p>
<p>全蠍（二十一隻）　地龍（六條）　土狗（二個）　五倍子（五錢）　共研，酒調貼太陽穴，名蠍龍膏。</p>
<p>北細辛（二莖）　瓜蒂（七個）　丁香（三粒）　糯米（七粒）　研細，入冰片　麝香（各分半）　研勻，每用豆許，隨病左右，搐鼻中，良久出涎愈，名透頂散。陳艾（一團，如胡桃大）　生半夏（研細末，少許）以綿料紙一方，將艾鋪紙上，半夏末灑艾上，卷如小指粗，左痛塞右鼻，右痛塞左鼻，一宿以流出清涕為度，重者二次必愈。</p>
<p>斑蝥（一個，去頭翅足）隔紙研細，篩去衣殼。取末少許，點膏藥上，左痛貼右太陽穴，右痛貼左太陽穴，輕者足三時取下，重者足六時取下，永不再發。久貼恐起疱也。正痛者，以手撳頭上何處最痛，用筆圈地，用斑蝥末放患處，蓋以小蜆殼一枚，用帕紮緊，過一宿起小疱，刺出黃水，其病如失。</p>
<p>白胡椒　官桂　吳萸（各一錢）　白芷（二錢）共研末，摻膏藥上，貼患處。</p>
<p><u>頭旋腦暈</u>　清明取松花並藁五六寸，形如黃鼠尾者。（切蒸，六兩）　以絹袋盛，浸陳酒六斤，隔湯蒸逾五日頻飲。</p>
<p><u>頭目不清</u>　花粉　荸薺粉（各一兩）　人乳粉　真珠粉　飛辰砂　人參（西洋參可代）　玫瑰花　檀香　木香　降香　伽南香　安息香（以上二香如無，可用山柰一錢代之）　沉香　琥珀（各二錢）　薄荷　西牛黃　生大黃　蓬砂　丁香（各一錢）　破故紙（六分）　甘松（五分）　麝香（三分）　冰片（四分）　甘草（八分）　煨石膏（量用合色）　共研極細粉，瓷瓶或銀瓶裝儲，以蠟封固，勿使泄氣，每日嗅鼻二次，大清頭目，闢穢驅風，除邪醒酒，益人神氣。並治頭疼頭暈，真妙藥也。若加龍涎香二錢更妙。</p>
<p><u>腦風不可忍</u>　遠志肉（二錢）　為末吹鼻內。</p>
<p><u>面上雀斑粉刺酒滯</u>　皂角（一斤）　升麻（二兩六錢五分）　楮實（一兩六錢五分）　白芷　白芨　花粉　綠豆粉（各三錢三分半）　甘松　砂仁　白丁香（各一錢六分半）　樟腦（二錢）　糯米（三合半）　共研細令勻，常於洗面時擦之。</p>
<p><u>抓傷麵皮</u>　生薑自然汁，調輕粉塗無痕。</p>
<p><u>目昏</u>　陳海蜇（漂淡，一斤）　入砂瓶煮，化成糊，再入黑大豆一升，煮乾曬燥收藏，每日食之，老眼常明。</p>
<p><u>目障</u>　冬至日取大蘆菔一枚，開蓋摟空，入新生頭窠紫殼雞卵一個在內，蓋即嵌好，埋淨土中，約深四五尺，到夏至日取出，用女人衵衣包裹，藏瓷瓶內，否則防遇雷電，龍即取去也。謹之。卵內黃白俱成清水，名賽空青，乃神方也。點睛消障。</p>
<p><u>瞽目重明</u>　膽礬（三錢五分）　白菊花　花椒（各三錢）　銅綠　青鹽（各二錢五分）　烏梅（一個，去核）　新繡花針（七枚，以絲線穿好）　前藥六味，研碎以清水拌勻，盛入深碗內，針放藥底，再加水兩碗，線頭露出碗沿以大盤蓋好，隔水放鍋內蓋好，煎六個時辰，木炭火旺不失候，鍋中時時添水，針化丹成，以淨絹擠出藥汁，瓷瓶裝好，放陰地上一日，即可用，久藏不壞。每少許，搽外眼眶內、眼角少閉，片時翳障即開，而能視物矣。但須誠心潔室，靜制針化丹成，始能有效，如煎至六時，而針不化者勿用，須另制也。名七針丹。余見秀水呂君慎庵之高弟，曹蟾客製成治人甚效。</p>
<p>雞膽一枚，入白蜜半匙，以線紮好，入豬膽內，掛通風無日處，二十一日去豬膽。先用人乳點患處，忍之少頃，以骨簪蘸雞膽點上，遍身透涼，淚流汗出，二次即明。忌茶百日，採霜降後桑葉，煎湯代之。</p>
<p><u>目翳</u>　冬青葉腦（七個）　五倍子（三錢杵）　煎湯一碗，乘熱將舌尖拖出，浸於湯內，片時頻熱，頻浸自愈。</p>
<p>辰砂一塊，頻磨擦之。</p>
<p><u>翳痛</u>　雞肝一具不落水。木芙蓉葉（一錢）　龍膽草（七分）　肉果霜（五分）　共研末入肝內，飯上蒸熟食之。</p>
<p>蔥一株將熟去頭取漿點之。</p>
<p>蠐螬汁滴目中並炙食之立效。</p>
<p><u>風毒上攻赤腫流淚羞明畏日澀痛難開翳障諸證</u>　野荸薺粉（五錢）　制爐甘石（一兩）　蕤仁霜（三錢）　蓬砂（一錢五分）　飛辰砂　真珠（各一錢）　冰片（四分）　西黃（三分）　共研極細無聲，瓷瓶密儲，臨臥以簪腳，蘸唾沫沾藥，點兩眼角，名八寶保睛丹。</p>
<p>制甘石（五錢）　飛珊瑚　蓬砂　川連（各三分）　飛瑪瑙　熊膽　琥珀　真珠（各二分）　血竭　飛辰砂（各一分半）　炙乳香　炙沒藥　冰片（各一分）　麝香（五釐）十四味共研極細無聲，治證同前，取效尤捷。名聚寶光明丹。</p>
<p>不論遠近，或癢或痛，及胞生風粟，翳膜遮睛，目眶赤燥，或疹痘後，風眼澀痛，膜障等證，白蒺藜（三兩）　石決明（煅飛）　炙甘草　防風　梔炭　羌活　茯苓　蔓荊子（各二兩）　當歸　川芎　赤芍（各一兩五錢）　蒼朮（泔水浸一夜）　花粉　甘菊　茺蔚子（各一兩）　淡黃芩（八錢）　蟬衣　蛇蛻（各五錢）　十八味共研末，每服二錢，空心開水調服，小兒減半，名云開散。</p>
<p><u>拳毛倒睫</u>　木鱉一個去殼，為末綿裹，左患塞右鼻，右患塞左鼻，數夜自愈。</p>
<p><u>斑瘡入目生赤翳白障</u>　綠豆皮　穀精草　白甘菊等分為末，每一錢用柿餅一枚，米泔一錢煎乾，不拘時，啖柿餅七八次愈。</p>
<p>痘疹目澀昏睡或喘嗽　蒲公英（二兩）煎服即愈。</p>
<p><u>眼傷青腫</u>　生半夏為末，水調塗。</p>
<p><u>竹木刺入目</u>　白頸蚯蚓掐斷，滴血入目，刺即出。</p>
<p><u>雞盲</u>　鮮合歡皮兩許煎服，以愈為度。</p>
<p><u>耳卒聾</u>　椒目　巴豆仁　石菖蒲　松脂（各五分）　為末，以蠟熔化和勻，作筒子樣，綿包納耳中，日二次，名透耳筒。</p>
<p>全蠍（一個）　土狗（一個）　地龍（二條）　雄黃（五分）　生礬　枯礬　麝香（各二分半）　研末，以蔥白蘸藥入耳中，閉口面壁坐一時，一日三次，名通神散。</p>
<p>由於跌僕損傷頭腦，愈後耳聾者，巴豆（一粒，不去油）　斑蝥（三個）　麝香（少許）研勻，以蔥涎蜂蜜，和捻如麥粒形，絲綿裹，置耳中，必響如雷鳴。不必驚懼，待二十一日，耳中膿水流出，去藥即聰，名導氣通瘀錠。</p>
<p><u>耳卒鳴</u>　蠍梢（七錢）　穿山甲（一大片，蛤粉同炒赤）　麝香（少許）　為末，麻油化蠟和。</p>
<p><u>耳膿</u>　黃柏（豬膽汁炒）　紅花（酒炒）　等分，冰片共研吹。</p>
<p>白螺螄殼（四錢）　柿葉炭　煅龍骨　石首魚頭中白石（煅，各三錢）　橄欖炭（二錢）　燈心炭（一錢）　冰片　麝香（各五分）　八味研末，時吹耳內。</p>
<p>大北棗（四枚，劈開，每嵌入豆大明礬一粒，煅存性）　肉桂　冰片　輕粉　麝香（各一錢）　五味共研細儲，頻吹極效。汪謝城曰：蛇蛻為末，頻摻即愈，愈後其藥末，結成一塊，滿塞耳孔，以指撮出可也。</p>
<p><u>耳瘡</u>　屠肉几上垢敷之。</p>
<p><u>耳癢</u>　甘遂根杵汁滴之。</p>
<p><u>耳聤</u>　野豬腳爪（切）　千年石灰（杵）以人糞拌勻，用大蚌殼全個，裝滿合好，外以鐵絲紮緊，黃泥封固，於炭火上煅，至青煙起，置泥地上，出火氣，研細末，瓷瓶秘藏，凡耳爛流水，各藥不效者，敷之立效。此耳科秘方也，用治一切外證之潰爛不已者，亦神效無比。</p>
<p><u>鼻衄</u>　火漆（紫針汁染綿為胭脂渣，名火漆）研極細末，時聞鼻中。</p>
<p><u>鼻淵</u>　漆綿（漆鋪內絞漆用過者）　白鴿翅（去硬管，用兩邊之毛，各一兩）將鴿翅卷在綿內，煅存性，每一錢加冰片七釐研勻。令病人仰臥，輕輕吹入少許，若吹稍重，恐噴嚏打去藥也。每夜吹一吹，四五次愈，戒房事百日。</p>
<p><u>鼻筍</u>　白礬　蓬砂等分為末吹，一化水而消。</p>
<p>明礬（一兩）　白梅肉（五錢）　麝香（三分）　篦麻仁（七粒）共研爛綿包，再用紙裹塞鼻，男左女右。</p>
<p><u>口渴</u>　白糖霜　烏梅肉　薄荷葉　柿霜　蓬砂等分，研細蜜丸噙之。</p>
<p><u>口臭</u>　前方加白檀香　白豆蔻（此二味分兩減半）共研細，以枇杷葉（去毛）煎濃汁，和蜜丸，櫻桃大，臨臥含口中。</p>
<p><u>脫頦</u>　生南星末薑汁調塗兩耳前牙⿰骨穴處</p>
<p><u>牙疼</u>　龍骨　生黃柏　生黃芩（各五錢）　生梔子仁（三錢）　以後三味，銅鍋內熬出汁去渣，煮龍骨幹研末，再用鉛粉五錢、麝香三分並龍骨末研細粉，放碗內，加黃蠟一兩，坐滾水內頓化拌勻，以連四紙鋪火爐蓋上，將藥刷在紙上，剪為狹條，名玉帶膏，臥時貼痛處即愈，次早取出，有黑色可驗。</p>
<p>牙硝（一錢）　明礬　雄黃（各三分）　冰片（一分）　共研細，以半分擦患處，流涎自愈。</p>
<p>冰片　生石膏（各二分）　青黛（一分）　共研末搽。（以上治火證）　川椒　生石膏（各一錢）　蓽茇（二錢）　青鹽（八分）　共研細點，名椒石散。</p>
<p>馬牙硝　蓬砂（各三錢）　明雄黃（二錢）　冰片（一分半）　麝香（五釐）共研細收儲，以少許抹患處。</p>
<p>瓜硝珠黃散（一兩，方見下卷咽喉方法）　紫雪（一錢）　飛辰砂（二錢）　杜蟾酥（五分）　冰片（三分）　共研細收儲，凡風火牙痛，諸藥不效者，以此摻膏藥中，貼痛處頰上立愈。（以上治風火證。）橄欖炙炭研末搽。</p>
<p>松脂烘軟塞鼻孔內，蟲黏脂上，梅樹上蛓蝥窠（鹽泥包煅）　冰片　麝香（各四分）　牛黃（二分）　紫雪（二錢）　蟾酥丸（二十粒）　共研細，摻膏藥中，貼之。（以上治蟲痛。）</p>
<p><u>牙疳</u>　石菖蒲根磨，涼水常漱浣。</p>
<p><u>牙宣</u>　元明粉研摻。</p>
<p>五倍子燒炭擦。</p>
<p>炒蒲黃研搽。</p>
<p><u>重舌木舌</u>　白直殭蠶為末吹之。吐痰愈。</p>
<p>辰砂（七錢）　雄黃（一錢五分）　蓬砂（三錢）　研末，鮮薄荷汁調敷，兼治發頤，名朱黃散。</p>
<p><u>舌出不收</u>　巴豆仁（一粒，杵碎）　綿包塞鼻孔內。</p>
<p><u>舌咬傷出血不止</u>　黃麻皮燒存性，研敷。</p>
<p><u>舌尖咬去</u>　蟹殼燒存性，研極細摻，漸長完全。</p>
<p><u>咽腫齦爛</u>　朴硝（三錢）　蓬砂（二錢）　硃砂（一錢五分）　乳香　沒藥（皆去油，各三分）　共研吹搽，名小靈丹。</p>
<p><u>誤吞竹絲</u>　銀杏肉（去衣）生嚼十二枚，咽汁自消。</p>
<p><u>錢卡咽喉</u>　生大蒜塞鼻中，自然吐出，如已下咽，用麵筋置新瓦上，煅作炭研細，開水調溫服，從大便下。倘未下咽，服此亦從口出也。</p>

<h1>風痹腳氣轉筋鶴膝第十二</h1>
<p><u>風痹痛</u>　由風寒濕踞於經絡，以致手足麻木，屈伸不利，筋骨疼痛，畏風怕冷也　魚膠（四兩）　薑汁秘熬膏攤布貼。</p>
<p>老生薑　鳳仙子　川椒　共搗，拌菜油擦之。</p>
<p>汾酒放烈日下曬熬，以手蘸摩患處，旬日一作，三五次愈，三伏時尤效。雖積年錮疾，諸藥不應者，可刈病根。鳳仙子煎湯頻洗。</p>
<p>獨蒜汁　韭汁　艾汁　薑汁　蔥汁（各四兩）　滴花燒酒（二十兩）　同煎滾，入麻油（四兩），熬至汁枯濾清，用丹收成，加入冰片、乳香攤貼患處，兼治箭風極效，名捉虎膏。</p>
<p>五茄皮　防己　獨活　木瓜（炒）　川芎　天麻（酒炒）　秦艽　淡附子　桂枝　防風（各一兩）　黃耆　當歸　製半夏（各二兩）　紅花（二兩二錢）　生地（酒炒，四兩）　豨薟（酒蒸，三兩）　甘草　白芥子（各六錢）　十八味為細末，煉蜜打丸，每重二錢，空心酒化一丸服。</p>
<p>川烏　故紙　乾薑　淡附子（各一兩）　草烏　官桂　川椒　樟腦　香附　杜仲　木香　乳香　大茴　南星　防風　川芎　安息香　半夏　大黃　桃仁　當歸（各五錢）　丁香　芸香（各四錢）　沉香　檀香　硫黃　冰片　甘松　山柰　雄黃　沒藥　艾葉　羌活　白芥子（各三錢）　麝香（二錢）　三十五味研細，用蘇合油或丁香油，或麻油拌勻，打熱收藏。用時先將手搓熱，以藥摩患處，俟皮膚香透，將藥放開，但以手按皮膚，徐徐摩擦，此藥一兩，可用十餘次。專治風寒濕邪，踞於經絡，凡筋骨疼痛，四肢拘攣、麻木，腰膝畏寒等證，皆病在軀殼，服藥不能速效，宜以此藥摩之最妙；兼治男婦寒疝攻痛，寒濕腹痛、腸鳴，陰寒霍亂轉筋，及寒濕凝滯，而結成腫毒者皆效。</p>
<p>按風寒濕三氣為痹，俗呼風氣痛是也。治法總以辛溫通逐為事，但經熱則痿，絡熱則痹，是痹證亦有屬熱者。且六氣都從火化，若其人體質多火，或素嗜膏粱，總受風濕，易於化熱，臨證時，必察其有無苔黃口渴小便短赤之兼證，始可治如上法。否則當從虛勞門，清金養血丹之例矣。痹證屬熱者，陳海蜇（漂淨，四兩）　鳧茈（即荸薺，二兩，劈開）煎至蜇化為度，頻服，外以朴硝泡湯，乘熱熏洗，或鹽滷煎熱，淋洗亦妙。</p>
<p><u>腳氣</u>　冬瓜皮（三兩）　蔥（一兩）　煎湯頻洗。</p>
<p>鮮魚骨炙研末，菜油調塗。</p>
<p>鳳仙花葉根，同紫蘇葉煎湯頻洗。</p>
<p>海桐皮　防己　片薑黃　蠶砂（各三錢）　蒼朮（一錢）　煎湯熏洗，日三四次。朴硝煎濃汁湯，淋洗，日數次，勿間斷，可除根不發。或每日以鹽滷煎熱淋洗亦妙。</p>
<p>一味黃柏酒炒焦研末，蠶砂湯為丸，綠豆大，每晨後，鹽湯服三錢，久服自痊。</p>
<p>金銀花為末，酒調服，再用金銀花、貓兒眼草、露蜂房等分，煎湯洗足，衝心者可愈。</p>
<p><u>轉筋</u>　滴花燒酒一碗，湯熱入斑蝥末攪勻，乘熱熨患處，並須數人更迭，蘸酒於轉筋處拍之，冷則更易，直至小便通，轉筋自止。若僅用燒酒，則力緩矣。</p>
<p><u>鶴膝</u>　無名異　地骨皮（各一錢）　麝香（三分）　沒藥　乳香（各去油三錢）　共研。以車前子打汁入黃酒和塗患處，三日即痊，名異香散。</p>

<h1>前陰病第十三</h1>
<p><u>遺溺</u>　雄雞翅毛，煅存性研，酒調二分半服，日三。</p>
<p>龍骨（另研，三兩）　透靈硃砂（水飛過，二兩）　訶子肉　砂仁（各一兩）　共研末，糯米糊丸，梧子大，每三錢淡鹽湯下。</p>
<p><u>不禁</u>　麥稈穗（三十個）　龍眼肉（三十枚）　煎服。</p>
<p><u>遺精</u>　臥時以襪帶扣左曲膝頭，須不緊不松，永無夢遺。</p>
<p><u>赤白濁</u>　寒食插檐柳，煎湯代茶。</p>
<p>琥珀（三錢）　木通（一錢）　萆薢　象牙屑（酒炒，各三兩）　滑石（飛，四兩）　海金沙　萹蓄（各二兩）　槐米　甘草梢　黃柏（鹽水炒）　瞿麥（各一兩）　十一味研末，每二錢，淡竹葉湯調服。治膀胱經熱，毒火癃閉，結痂發腫，馬口腐爛之證。</p>
<p>粉萆薢　荷葉蒂　槐米　黃柏（鹽水炒，各三兩）　海金砂（二兩五錢）　象牙屑（酒炒）　萹蓄（各二兩）　滑石（飛，一兩五錢）　甘草梢　赤苓（各一兩）十味為末，用車前子五兩煎湯法丸，梧子大，每三錢，土茯苓湯送下，開水亦可。治腎家經火，敗精阻竅，內熱溺艱，結痂淋濁等證，名通府保精丸。</p>
<p><u>溺血</u>　川黃柏（二兩六錢，木）　知母（一兩四錢，水）　破故紙（二兩八錢，火）　胡桃肉（一兩二錢，金）　砂仁（五錢，土）　共研蜜丸，空心鹽湯下，三五十丸，名太極丸。</p>
<p><u>血淋</u>　芭蕉根　旱蓮草　車前子　水煎服。</p>
<p><u>小水不通</u>　麻骨一兩濃煎服。</p>
<p><u>陰襲</u>　（腎囊堅硬，小水不通，屬寒證）　胡椒（二錢）　研末，盛碗內，以雞子清二枚調勻，即將腎囊置碗中，將碗捧住，初未覺暖，已而漸熱，則堅痛漸消，至熱不可耐，然後去之，愈不再發。</p>
<p>紫蘇　艾葉（各一兩）　防風（五錢）　三味煎滾，傾腳盆內，四面圍緊熏之，候溫洗之。重者兩次可消。</p>
<p>吳萸（半斤，一分酒浸，一分醋浸，一分童便浸，一分白湯浸，並焙乾）　澤瀉（二兩）　共研，酒麵糊丸，黍米大，空心下三五十丸，名奪命丹。</p>
<p>延胡　川楝　全蠍（炙）　小茴　等分末之。名一捏金散，此二方兼治奔豚寒疝。</p>
<p><u>疝</u>　橘核炒去衣為末，每晨酒送一二錢，初起服之，不成錮疾。</p>
<p><u>陰囊扯落</u>　睪丸懸掛未斷，痛苦難熬，須慢慢拓上，多取壁錢（即蟢子窠）敷貼傷處。囊可如故。</p>

<h1>後陰病第十四</h1>
<p><u>暴瀉不止</u>　車前子（炒，四五錢）　末之，米飲下。官桂　厚朴等分為末，薑汁丸，如豆大，安臍中，膏藥封之。</p>
<p><u>久瀉</u>　五倍子（五錢）為末，醋熬成膏，布攤貼臍間。</p>
<p><u>寒瀉</u>　丁香（四分）　肉桂（二分）　二味研末打丸，如豆大，安臍內，以膏藥貼之。治陽虛氣弱，腹痛腸鳴。畏寒泄瀉之證。</p>
<p><u>脹瀉</u>　白朮（炒，八兩）　陳皮　厚朴（各四兩八錢）　枳殼（一兩六錢）　炙甘草（二兩四錢）　製半夏（一兩二錢）　神麯（炒焦）　木香（各五錢）　八味為末，每一二錢空心開水調下，名調中散，治脾弱胃滯，泄瀉不飢，腹滿痞積等證。</p>
<p><u>瀉痢</u>　土木鱉（半個）　母丁香（四粒）　麝香（分半）共研細，唾津丸，如芡子大，以一丸安臍中，封以膏藥。凡小兒不能服藥者，用外治法最妙。</p>
<p><u>赤白痢</u>　木香（四兩）　苦參（六兩，酒炒）共研，以甘草一斤，熬稀膏，丸如梧子大。每二三錢，陳米湯下，名香參丸。</p>
<p>糖霜　細茶　綠豆　胡桃肉（各三錢）　煎，連湯並桃豆食之，重者三服必愈。</p>
<p>生大黃　製大黃（各二兩）　烏藥　檳榔　蒼朮（各四兩）　羌活（八兩）　杏仁（百粒，去盡油）　七味研細，每服六分，小兒減半，陳米湯調下，治實痢如神。</p>
<p>大黃（側柏葉拌蒸三次）　枳實（炒，各三兩）　南楂炭（三兩五錢）　厚朴（硝水制）　地榆莢　神麯（炒焦，各二兩）　黃芩（二兩五錢）　烏藥　檳榔（各一兩）　萊菔子（炒，一兩五錢）　甘草（五錢）　川連（三錢）　十二味為末，每一錢六分，稻根鬚（五錢）　煎湯，或開水調下，治時邪毒痢，瓜果食積，腹痛後重，五色並見諸證。</p>
<p>生蒼朮　生厚朴　炙甘草　炙雞金　砂仁殼　炒橘皮　丁香柄等分研末，陳米湯調服三錢，小兒減半，名玉屑丹，治瓜果過度，致痢久不愈，及便血年久無火證者皆極效，或作丸服亦可。</p>
<p><u>魚腦痢</u>　陳臺鯗頭煎湯服。</p>
<p><u>噤口痢</u>　芭蕉　嫩心，入麝香揉軟，塞鼻孔。</p>
<p>芥菜子半合，陳醋浸擂碎，攤油紙上，闊五寸許，貼臍上，以帕系定，漸覺收痛，忍過方去，徐以白粥食之。木鱉子末和麵作餅，貼臍間。</p>
<p>鐵器燒赤，淬醋中，令吸其氣。</p>
<p>田螺一個，或水蛙一隻，連腸杵爛亦可，並加入麝香少許，罨臍間，引邪熱下行，即思食。</p>
<p><u>久痢</u>　柿餅一枚，入白礬一塊，煅存性研，黃酒下，三服愈。</p>
<p><u>酒傷血痢</u>　老絲瓜絡，炙研末酒下。</p>
<p><u>血痢日久</u>　木耳炙研末，薑汁和醋調服。</p>
<p>海蜇（漂淡）蘆菔醋拌頻食。</p>
<p>小蟹七隻，菜油沸枯淡食，或酒送。兼治便血。</p>
<p><u>休息痢</u>　醋炙豆腐頻食。</p>
<p>梅葉三十片（洗淨）水煎代茶。</p>
<p><u>腸紅</u>　生地炭（三兩）　黃芩炭　南楂炭　粟殼炭　棉花仁炭　槐米炭　柿餅炭　地榆炭（各二兩）　蓮房炭（一兩五錢）　百草霜　黑驢皮膠（蛤粉炒，各一兩）　艾絨炭（一錢）　炙黑甘草　炮薑炭（各六錢）　枳殼炭　白芍炭（各一兩二錢）十六味研細，每一錢，用參三七，或紅棗或稻根鬚煎湯調服。治痔血腸紅，便血久治不瘳，面黃皮腫等證。或加胡桃殼炭、瓜子殼炭（各三兩）名羅漢散。</p>
<p><u>便血</u>　乾柿（二枚，煅存性研）　大蒜（二枚，蒸九次）同杵丸，梧子大，香菜送二十丸，日二以愈為度，永絕病根，且無所患。</p>
<p><u>脫肛</u>　蟬蛻研末，菜油和敷。</p>
<p>砂仁　黃連　木賊等分為末，米飲下。</p>
<p>小兒脫肛，及大人之不因熱陷，而因於氣虛者，用不落水豬腰子一個，破一缺如荷包形，入以升麻，澀紙厚包煨熟，去升麻，但吃腰子，藥性到，以溫水洗肛自收。</p>

<h1>外科第十五</h1>
<p><u>腫毒初起</u>　杏仁不拘甜苦，剖分兩瓣，擇邊稜齊全者數枚，塗以溏雞屎，加麝香些須。罨患處，即吸住不脫，移時毒聚，則杏仁迸起，再換杏仁如前罨之。候毒漸減，至一觸即脫而止，毒儘自愈。</p>
<p>明礬（五錢）　研碎放瓷盤內，入水化開，浸粗草紙一張，蓋瘡上，干則易，十餘張而消。</p>
<p>白芨為細末，溫水攪之，澄清去水，綿紙攤貼，名水澄膏。</p>
<p>蔥白杵爛，蜜和圍之自消。</p>
<p>玉精炭（即蜒蚰，煅存性）　生大黃（各四兩）　五倍子　白芨（各三兩）　生半夏　白蘞（各二兩）　百草霜　礬紅　生南星　陳小粉（炒）　草烏（各一兩）　熊膽（一錢）　共研末，以廣膠（化烊）　鮮芙蓉葉（絞汁）　醋量和搗成錠丸，熱毒癰瘍，發於陽分，盤硬疼腫色赤者，醋磨濃塗四圍，使其不大，最為要旨。名束毒圍。</p>
<p>五倍子（炒黑）　陳小粉（炒黃黑，各五斤）　龜板（煅）　白芨　白蘞　朴硝　榆樹皮（各十二兩）　白芷梢　大黃　南星　黃柏　半夏（各八兩）　黃連　牙皂　蓖麻子（各四兩）　共研醋調，砂鍋內慢火熬成膏，拔去火氣。臨用加醋蜜豬膽汁三味，和勻圍之。中留一孔，綿紙貼之，紙干以抿子刷上。凡一切癰疽發背，便毒吹乳橫痃，及風濕疼痛，小兒熱毒火丹，無名腫毒，初起即散，已成即生頭出膿，定痛散毒。</p>
<p>鳳仙子　大黃　五倍子（各十兩）　共研細，配以朴硝（一兩五錢）　小粉（三年陳者，十二兩）　入鍋同炒，至黃黑收起，用時以米醋調圍，名全箍膏。明礬研細，擂飯為丸，綠豆大，好酒送下，盡醉汗出即愈。凡惡毒瘡瘍初起，並宜亟服。</p>
<p>牛黃　狗寶　血竭　乳香（炙）　沒藥（炙）　飛辰砂　蓬砂　葶藶　飛雄黃（各二錢）　真珠　沉香　冰片（各一錢）　琥珀（六分）　十三味研細，以熊膽（六分）　人乳化為丸，每重一分，金箔為衣，每服一丸，陳酒調下。重者二三丸，治內外一切癰疽疔毒，能護心止痛，消毒化膿，在外者，可使表散，在內者，可使便泄，真外科之聖藥也。名靈寶香紅丸。汪曰：此定痛神方，每服一丸，可一周時不痛，亦稱狗寶丸。</p>
<p>生大黃　天竹黃　乳香（炙）　沒藥（炙）　阿魏（炒）　血竭　三七　兒茶（各二兩）　雄黃　牛黃　冰片　麝香（各二錢五分）　十二味研細，用藤黃（二兩，烏羊血或子羊血不見水者，拌曬五次，再以山羊血拌，水乾為度）　化烊杵丸，如干加蜜，每重三分，陳酒化服一丸。治一切癰疽發背，疔毒肺癰，及血積蟲蠱，惡蛇狾犬毒蟲諸傷，並跌打筋斷，骨折刀箭杖傷，瘀阻發暈，內服外塗皆妙。服後忌油膩發物，名黎洞丸。</p>
<p>明礬（一兩）　象牙屑　乳香（炙，各三錢）　血竭　雄黃　辰砂　琥珀（各二錢）　沒藥（炙，一錢五分）　牛黃　冰片（各五分）　十味研極細，每藥末一兩，配黃蠟五錢，加麻油少許烊化，丸如黍米大，每服三五分，陳酒下，能護心消毒，名三黃八寶丹。</p>
<p>真珠　牛黃　乳香（炙）　沒藥（炙）　飛辰砂　蓬砂　葶藶（炒）　雄黃（各一錢）　血竭　沉香　冰片（各五分）　熊膽　麝香（各三分）　十三味研極細，人乳丸，每重一分，銀箔為衣，名珠黃紫香丸，可代靈寶香紅丸之用。汪曰：定痛與靈寶香紅丸同。</p>
<p>陳茶葉　炙甲片　當歸　綿茵陳　兒茶（各五錢）　五味，水酒各半煎。上身加川芎，下身加牛膝。溫服。治一切腫毒，睡一寣即消。名一寣全消散。</p>
<p>西牛黃　梅片（各四錢）　熊膽　蓬砂　蟾酥　乳香（去油，各五錢）　當門子　血珀　真珠（各六錢）　劈砂　腰黃（各一兩二錢）　千金霜　山慈菇　文蛤（各一兩三錢）　紅芽大戟（一兩六錢）　十五味，各研極細，燒酒量化，蟾酥杵丸，每重四分，治無名腫毒，一切疔疽皆效，及疔毒走黃，垂危可救，名梅花點舌丹。</p>
<p><u>無名腫毒</u>　鵝毛一把，銅鍋炒焦研，豆腐衣包一錢，酒吞下，內消極效。</p>
<p>芙蓉葉、赤小豆共搗末，雞子清和塗。</p>
<p>青黛　黃柏（各一兩）　藤黃（五錢）　共研，醋和塗，名一筆消。</p>
<p><u>腫毒痛極</u>　山藥（一兩）　大黃　白糖霜（各四錢）　研細敷。</p>
<p><u>焮腫木硬</u>　乳香　蟾酥（各一錢）　研勻，人乳和如泥，瓷盒收藏，用時以津調些少，貼腫處，膏藥貼之即消，即發亦輕。</p>
<p><u>癰瘍屬陽</u>　白芨　薑黃　銅綠　南星　甲片（土炒）　樟腦（各四錢）　輕粉　膽礬（各三錢）　青黛（漂）　梅片　當門子（各二錢）　擇吉日靜室誠制。先將各藥研細，再研勻，瓷瓶密收，勿使泄氣。一切陽分腫毒初起，照所患腳地大小，糝膏藥貼之，數日即消，名陽毒內消膏。</p>
<p><u>疽毒屬陰</u>　樟腦（四錢）　輕粉　川烏　甲片（土炒）　阿魏（瓦上炙去油）　腰黃（各三錢）　乳香　沒藥（皆去油）　牙皂　當門子（各二錢）　良薑　丁香　白胡椒　肉桂（各一錢）　吉日靜室誠制，先各藥研細，再研勻，瓷瓶密收，勿使泄氣，一切陰分疽毒初起，如對口發背，瘰癧乳癬便毒之不紅腫焮熱者，照腳地之大小，摻。膏貼之。如患處已有膿亦可貼，名陰毒內消膏。</p>
<p><u>癰瘍初破</u>　西瓜硝（一兩）　雄黃　石膏（煅，各六錢）　地榆（炒）　蓬砂（各五錢）　藜蘆（炒）　烏梅肉（炒炭，各三錢）　殭蠶（炒，二錢）　冰片　牛黃（各一錢）　十味研粉收儲，凡外瘍初破，毒未化者，四圍以圍藥圍之。將此藥用麻油調塗瘡孔，外以提膿化毒膏貼之，早晚一換。此拔毒之聖藥也？名瓜硝拔毒丹。</p>
<p><u>提膿化毒</u>　象皮　穿山甲（各六兩）　男發（洗）　桃枝（切）　柳枝（切）　桑枝（切）　槐枝（切，各四兩）　生山梔（六百枚，杵）　八味，用麻油（十斤）浸（春五日，夏三日，秋七日，冬一旬）煎至枯，濾去渣，熬至滴水成珠，以炒丹鉛收之。待少溫，入後三味，淨硇砂（四兩）　血竭（二兩）　兒茶（一兩二錢）　均研細，攪入成膏收儲，專治一切外瘍，毒未盡者。照瘡形大小，攤貼，一日二次甚效，名提膿化毒膏。凡油一斤，收丹七兩為老膏，四兩為軟膏。此方若加入收口藥熬之，可治一切瘡口不合之證。</p>
<p><u>諸疔</u>　先尋脊骨上，有紫黃色瘰點，用銀針挑破出血。其毒即泄。</p>
<p>細看腿彎間。即委中穴。有紫黑筋，用銀針刺出血即愈。</p>
<p>雄黃（研，一錢）　烏梅肉（三枚，杵爛）　蜒蚰（二條）　共搗爛塗之，根即拔出。</p>
<p>初起飲真麻油一碗，雖毒重無性命之虞。（並治血疔血出不止）再用肥皂杵爛，和沙糖調勻圍之。</p>
<p>大斑蝥（去翅軟米制，六錢）　全蠍（炙，三枚）　血竭（二錢）　沒藥（炙）　乳香（炙，各一錢）　冰片　麝香（各六分）　元參（四錢，泥固煨去泥用）　八味。於端午午時，制研收藏，摻膏藥上貼之，拔疔最妙。</p>
<p>生南星　生半夏　五倍子　慈石（煅）　陳小粉（炒，各一兩）　明礬　生軍（各二兩）　東丹（六錢）　鐵鏽　瓷粉（各五錢）　雄黃　蟾酥（焙，各四錢）　熊膽（二錢）　山白煤（一兩四錢）　共為末，豬膽汁打錠。專治疔瘡初起，根腳不收，堅硬發麻，用醋磨塗四圍。名疔圍。</p>
<p>活鯽魚（一尾）　杵爛。入研細辰砂拌勻圍之，漸圍漸小，其疔自拔。治面疔屢效。</p>
<p>辰砂（二分八釐）　蜈蚣頭（炙）　雄黃（各二分四釐）　輕粉（制）　白丁香　蓬砂　蟾酥（各一分四釐）　乳香（一分）　麝香（四釐）　金頂砒（七釐或以鐵鏽代之）　十味研細，用燒酒蟾酥和丸，或扁或尖均可，即古方立馬回疔法，以之拔疔甚妙，目前用以代刀亦佳。</p>
<p><u>魚臍疔</u>　瘡頭黑破出黃水　蛇蛻一條，燒存性研，雞子調塗之。</p>
<p>韭菜　絲瓜葉　連須蔥白　同杵爛取汁，熱酒和服。病在左手，渣貼右腋下，病在右手，渣貼左腋下，病在左腳，渣貼右胯，病在右腳，渣貼左胯，在中貼心臍，以綿縛定，候肉下紅淺處，皆白則散矣。須令人抱住，恐其顛倒，則難救矣。</p>
<p><u>水疔痛極</u>　白梅肉　荔枝肉　共搗貼易數次愈。</p>
<p><u>暑瘍</u>　生芋片貼之。</p>
<p><u>諸惡瘡</u>　白蜜搽。</p>
<p><u>諸瘡臭爛</u>　白礬　雄黃等分煎洗。</p>
<p><u>諸瘡不斂</u>　先以槐枝蔥白湯洗淨，復以瓦松陰乾研摻，三黃制甘石（五兩）　白螺殼（煅飛三兩）　白蠟（一兩五錢）　蔥制輕粉（六錢）　人參　牛黃（各二錢）　真珠（一錢五分）　冰片（一錢）　八味研極細，無聲為度。治一切大小癰疽，流毒已多，久不收口，用麻油調塗瘡孔，外以象皮膏蓋。如眼細而深者，將綿紙合線蘸此藥，插入亦妙。若方中加鳳凰衣更佳。</p>
<p>血竭（三錢）　乳香（炙）　沒藥（炙）　赤石脂　雄黃（各一錢五分）　輕粉（制，一錢）　冰片　麝香（各一分）　八味研細。以無聲為度。</p>
<p>制甘石　煨石膏　赤石脂（煅，各三兩）　大蚌殼（煅去黑衣）　陳年吐絲渣（煅）　兒茶（各一兩）　血竭（三錢）　冰片（二錢五分）　研如前。上二方，皆主生肌長肉，平口收功，均極神效。以上三方，並有八寶丹之名，審宜擇用可也。余如人指甲、人腳皮、三七、龍骨之類，亦可隨證加入。</p>
<p><u>諸瘡出血</u>　燈心炭　百草霜　黃牛矢（煅炭，各三錢）　花蕊石（煅）　龍骨（煅）　參三七（各六錢）　琥珀（一錢五分）　陳墨　川連（各一錢）　兒茶（五分）　十味研細，以無聲為度，治一切瘡口出血不止，以綿絮蘸而按之。</p>
<p><u>惡瘡淫火惡肉朽骨</u>　枯白礬（一兩）　枯綠礬　雄黃　乳香　遠志肉　胭脂（各一錢）　研細。蜜水或麻油和敷。名消蝕散。</p>
<p><u>惡瘡年深不斂</u>　白芷（一兩）　川芎（二兩）　白芍（三兩）　輕粉（三錢）　研摻瘡。口深者紝之。名搜膿散。</p>
<p><u>惡瘡去毒生肌</u>　滑石（一兩）　銅綠（五錢）　輕粉（二錢）　冰片　麝香（各三分）　粉霜（二分半）　研勻，紝瘡口，以膏封之。名翠霞散。</p>
<p><u>瘡瘍毒盡</u>　白芨　白蘞　黃柏　黃連　黃丹（洗淨炒）　乳香（另研）　麝香等分，研末摻瘡口，二三日，即生肌平滿。名桃花散。</p>
<p><u>諸漏</u>　或一處，或周身不等，並治諸瘡年久不愈　人牙　油頭髮　雄雞䏶胵等分，煅存性研，加麝香輕粉少許，麻油和敷。</p>
<p>象牙屑（八錢）　蝟皮（一張）　帶子大蜂窠（二個，同蝟皮新砂鍋內焙黃色）　明雄黃（七錢）　硃砂（六錢）　瓜兒血竭　白礬（各五錢）　兒茶（去油淨，四錢）　乳香（去盡油）　沒藥（去盡油，各三錢）　共研細，熔黃蠟丸，梧子大，每二十四丸，槐花煎湯，和黃酒空心下。忌醋葷腥惱怒，名甘露丸，兼治瘀停脘痛。</p>
<p>鵝毛管，火上炙存性，同鹿角研細，敷孔內，以膏蓋貼。</p>
<p>水銀（三錢）　雄黃（一兩）　以燒酒二斤，漸煮漸添，酒盡為度，研細末，取大蟾蜍一隻（去腸留肝肺）　將藥末納入縫好，另用銀硝　明礬（各一兩）　入陽城灌。加水半茶鍾，放火上熬干，於底取起，置地上，入蟾於內，升文火二枝，中火一枝，武火一枝候足，開看刮下靈藥，以杜蟾酥丸如芥子大，凡管以一丸放管口、外蓋膏藥，力能至底，雖彎曲必達，軟管自化，老管自退，七日見效。如不全退，再一丸，無不除根，名金蟾化管丸。</p>
<p><u>黴瘡</u>　以艾火灸先起第一瘡五壯，每日空心服麻油一杯，其瘡自愈，永不結毒，最妙簡效方也。</p>
<p>龜甲（酒炙，四兩）　石決明（童便煅，二兩）　硃砂　甘草（各四錢）　四味研細，用土茯苓（四兩）　煎湯泛丸，梧子大，每二錢空心土茯苓湯下，治黴瘡結毒，瘡形腐爛，筋骨疼痛，遍體發瘡等證，名珠龜丸。</p>
<p><u>癘風</u>　遍身腫爛，眉發墮落者是，與黴瘡同為淫毒之氣所釀也　大蟾酴（一隻）　泥裹煨熟去泥。以大碗盛之，小碗蓋好。入熱酒半碗，隔水煮一刻，盡吸之，取汗為度。</p>
<p>煨大黃　皂角刺（各一兩）　為末，每三錢空心酒下，瀉惡物如魚腦，未瀉再服。所下之蟲，如亂髮然，待蟲盡止服。</p>
<p>豨薟（六兩）　生地（四兩）　羌活（三兩）　當歸（二兩）　天麻（煨，一兩二錢）　塊紅花　防己　防風　木瓜（酒炒）　白蒺藜（炒去刺，一兩）　蛇蛻（酒洗）　蟬衣（酒洗）　甘草（各五錢）　十三味為末，另用豨薟（三兩）　煎湯泛丸，綠豆大，每三錢臨臥開水下，凡蛇皮癩，紫雲風，皆其類也。</p>
<p><u>膿窠瘡</u>　舊傾銀罐子研粉，麻油和塗。</p>
<p>最舊齷齪鞋（一雙）　最舊用久絲綿絮筋俱燒成灰，候冷，再用大楓子肉為末，合成一處，菜油調敷，兩日必愈。如未能幹燥，即以二物之灰摻之甚效。</p>
<p>門檔上塵　黃丹　松香　胡椒炭　生大黃　生白芷　蠶豆殼炭　煨石羔　枯礬棗（紅棗明礬同煅至炭，研末也）　九味等分研末摻，乾者麻油調搽。</p>
<p>廚房倒掛塵（三錢，煅伏地氣）　松香　茴香　花椒　硫黃（煅）　乾蟾　枯礬　蒼朮　白芷　硃砂（各一錢）　共研細，以雞卵一個，挖一小孔，灌藥於內，紙封固，幽火中煨熟，輕去殼存衣。另用生豬脂，和藥蛋搗爛，葛布包之，時擦患處。</p>
<p>松香（一兩）　雄黃（一錢）　共研，竹紙卷條，菜油浸一宿，燈上燒之，取滴下油頻搽。先以車前草濃煎洗淨，並治肥瘡。</p>
<p>煨石膏（二兩）　寒水石　炙乳香（各五錢）　膽柏（一兩）　（膽柏未詳）四味研末，凡膿窠疥瘡，延久不愈，以致身熱惡食，驚搐不安，先用甘草木瓜煎湯洗淨，後以此藥麻油和塗患處。能潤肌化毒，拓膿殺蟲止癢，內須服紫霞丹四五分，燈心湯下。</p>
<p><u>疥瘡</u>　真老松香（四兩）　蔥汁（一飯碗）　入瓷鍋內熬烊，煎至滴地即凝，加東丹（一兩）　調勻，候冷研末，麻油調搽。</p>
<p>風化石灰，和醋漿調塗，隨手而減，或以石灰汁淋洗。</p>
<p>枯礬　滑石（各五錢）　硫黃（二錢）　共研末，豬油調搽。</p>
<p>生礬（三錢）　硫黃　蛇床　樟腦（各二錢）　共研，雞子清調和，再加熬熟菜油攪勻，飯上蒸過敷。久不愈者，金蛇蛻燒存性研，豬油調搽。</p>
<p>鮮首烏（一兩）　川萆薢（五錢）　每日煎服，匝月必愈。</p>
<p>大楓子肉（五錢）　桕燭油　川連（各三錢）　明礬（一錢五分）　川椒（一錢）　水銀（五分）　六味共研，至水銀不見星，加豬油調相得。絹包擦疥瘡痛癢效。</p>
<p><u>癬</u>　白礬炒極干為末，豬油和塗。</p>
<p>初起以海螵蛸一塊，時常擦之。</p>
<p>白芨（二錢）　土槿皮（八分）　二味研末，少加白糖霜，百滾水攪如糊，用棉紙攤貼陰癬效。</p>
<p><u>爛癬</u>　臭硫黃　生大黃　土茯苓（等分）　明雄黃（減半）　明礬（再減半）　共研，裹草紙內捲成筒，用桐油浸透，燈上燒之，瓷盤接取其油，候冷，以鵝翎蘸塗，一二次即效。</p>
<p><u>瘤</u>　竹刺撥開瘤上薄皮，不必見血，研銅綠置其上，膏藥封之。以上通治一身諸證，以下上中下三部證。</p>
<p><u>禿瘡</u>　紫蘇以麻油熬成膏。塗之。</p>
<p>生羊肉切大厚片，如常炙熟，乘熱遍貼，俟蟲出著羊肉上。若不盡，再作取盡，以鹽湯沐之，再用雄黃末和豬膽汁塗之。</p>
<p>黃豆炒黃研末，菜油和塗。</p>
<p>黃柏　血丹　膽礬　煙膠等分，研麻油調勻，剃頭後，敷之三四次愈，瘡濕者乾摻亦可。兼治耳內膿水等患，名四平散。</p>
<p>榆皮為末，米醋調敷。</p>
<p>吳萸研細。以陳蠟燭油烘烊調厚。剃頭後，擦敷數次愈，愈後忌食海鮮一年，犯者必發。</p>
<p><u>蟮⿸疒貢頭</u>　照其腫之大小，用枳殼半個（去瓤）以生飛面調糊，塗在枳殼沿上，如道冠樣，戴在毒上，其毒水自能釣出。候其脫下，腫處自小，再用小些枳殼半個，如前塗覆，水漸釣干，俟其自脫，不過六七日，腫平而發茸矣。此證在頂心腫起，先白後紅，如不治愈，⿸疒貢愈多，旁添小者，如百烏朝王一般，既在頂心，不能開刀，即潰膿亦不淨，惟此方簡效無比。</p>
<p><u>肥瘡</u>　黃牛皮燒存性研，菜油調搽。</p>
<p>松香　明礬（各二錢）　花椒（四錢）　東丹（一錢）　加豬網油，共杵爛，卷在五寸真青細布內，在火上熏出油，以碗接之。去火氣，塗患處效，加輕粉一錢效更速。</p>
<p>皂莢燒灰，菜油調敷。</p>
<p><u>蒲桃瘡</u>　黃柏（一兩）　乳香（二錢五分）　研細，槐花煎濃汁調塗。</p>
<p><u>面瘡</u>　黃連　黃柏（炙）　胡粉（炒）　等分研。豬油調塗。</p>
<p><u>肺風瘡</u>　黑脂麻（去皮）　紅蓮子（水浸軟去衣不去心）　每早食之。</p>
<p><u>鬢疽</u>　陳石灰、蔥白同搗敷。</p>
<p>龜板煅研，桐油和敷。</p>
<p><u>腮腫</u>　大黃末和蔥汁，調勻圍之。</p>
<p><u>上疳</u>　（喉疳、牙疳、口瘡之類）　輕粉（三分）　冰片（二分）　雄黃（二釐半）　硃砂（七釐）共研細，先以薄荷湯漱口，吹入或敷。</p>
<p>生大黃（三錢）　綠豆粉（二錢，炒）　丁香（十粒）　研勻，開水調塗兩足心。</p>
<p><u>頸癧</u>　舊明角燈，煅存性研，菜油調塗。</p>
<p>制甘遂　紅芽大戟（各二兩）　白芥子（八錢）　麻黃（四錢）　生南星　薑製半夏　殭蠶　藤黃　朴硝（各一兩六錢）　以麻油一斤，先入甘遂、南星、半夏熬枯撈出，次下大戟，三下麻黃、殭蠶，四下芥子，五下藤黃，逐次熬枯撈出。六下朴硝，熬至下爆，用絹將油瀝淨，再下鍋熬滾。徐投入炒透東丹，攪勻丹之多少，以膏之老軟酌用。夏宜稍老，冬宜稍軟膏成，乘熱傾冷水盆內，扯拔數十次，以去火毒，即可攤貼，宜厚勿薄，名消核膏。吾鄉許君辛水方也，兼治乳核流注，及各種結核，甚著奇效。許君附其方於《重訂外科正宗》，余與參校，蔣君寅昉慨付棗梨，甫刻竣，即遭兵火。許君又云：膏之老軟，各有所宜，凡潰瘍諸證，膏勿太軟，總以貼之即黏，揭之易落為度；攤勿過厚，軟而過厚，則揭時非帶脫皮肉，即黏住皮肉。凡熱癤本可無瘢，而或生妒肉或如蟢鏡者。非黏傷其肉，即膏粱不忌也。獨消核膏，宜少軟，但令貼時勿烊塌而已，攤須極厚，蓋此膏本以代敷藥，軟而厚，則藥氣濃郁，而能深入，又其皮肉如常，無慮帶脫而黏住可洗也。即煎膏亦有法度，藥物堅脆不齊，若一同投入，則脆者先枯，堅者實未熬透，雖銖兩較重，而味終未出也。推之諸膏，皆須准此，余按頸癧結核諸證，無非痰患，故許君以控涎丹為君，而加行氣散結為佐，宜乎施之輒效也。</p>
<p>田中螞蝗，杵爛圍之即散。</p>
<p>雄豬膽約百個取汁，入夏枯花（三兩）　鍋內。同熬去渣，收至滴水成珠，加入沉香末（三錢）　砒霜（三分）　和勻，收入瓷罐內，攤貼患處，已潰者塗四圍。</p>
<p>大𩺀魚二尾破淨，入獨核肥皂十餘枚，以瓦兩張合好，兩頭泥封之。火煅至青煙起為度，取出研細，每早醇酒調服三四錢。忌煎炒姜椒發物，愈後終身忌食𩺀魚、栗子。</p>
<p>夏枯草末六錢，甘草末一錢，研勻，每二錢茶清下。</p>
<p>生山藥一塊，蓖麻子三粒各去皮，研勻攤貼。</p>
<p>草本白玉簪花軟葉，以米醋浸一宿，飯鍋上蒸熟，扯如膏貼之。</p>
<p>蛤殼（煅，四兩）　元參（三兩）　象牙屑　黃耆　土貝　昆布（各二兩）　海藻　製半夏（各一兩五錢）　制西洋參　炙草　川貝（各一兩）十一味研末，夏枯草（四兩）　忍冬藤（五兩）　煎濃湯泛丸，綠豆大，每二三錢，空心開水服。治虛痰滯絡，結為瘰癧，不論已破未破，此方最良。</p>
<p>丹雄雞全骨一副（生取）　千里奔（即驢馬騾修下蹄甲也，五錢）　紫降香（五兩）　當歸　生甘草（各一錢）　槐樹枝（三十寸）　先以雞骨。入麻油鍋內微火煎枯，入後藥，亦用微火煎枯去渣。二油一丹，收成膏，浸冷水中，拔去火氣，不論已破未破，量大小貼之。以愈為度，兼治乳岩亦效。</p>
<p>蓖麻仁（二百粒杵）　番木鱉　生半夏　生大黃　牙皂（各四兩）　斑蝥（一百個）　巴豆仁（五十粒杵）　穿山甲（二兩）　甘遂（一兩）　九味，用麻油（二斤）浸。（冬半月，夏五日，春秋一旬）　熬至藥枯去渣。再熬至滴水成珠，以炒鉛丹收之，俟稍溫，入後十一味，真硇砂（另研）　雄黃（各五錢）　乳香（炙）　沒藥（炙，各四錢）　樟腦　蓬砂　真番硇（此西藏名產，不易得，勿用亦可，不過藥力較遜耳，各三錢）　蟾酥　麝香（各二錢）　阿魏　冰片（各一錢）　各研細，和勻攪入成膏收儲，治痰串瘰癧諸核如神。用時攤膏貼患處，膏之中央，須剪一細眼為要，並治一切外瘍，堅硬不消，空頭代圍藥貼之，其塊漸化。</p>
<p>野云曰：此證善竄，故俗名癧串，與流注相似，皆肝熱生痰，風激入絡，結而成核。毛氏主控涎丹，徐氏主大活絡丹，一治實痰，一治虛痰，用者酌之。余執其兩端，而用其中，每以指迷方茯苓丸，治瘰癧流注輒效，初起者應手而瘳。蓋茯苓丸，原主痰流手臂。推廣其義，顛癇類中諸病之屬於痰入絡者，余亦屢收奇績。死方活用，在人之善悟耳。</p>
<p><u>白蛇纏</u>　頸上周圍細白泡者是　白芨末柿漆調敷。</p>
<p>絲瓜藤杵汁搽，或以乾者煅研，菜油和塗。</p>
<p><u>天泡瘡</u>　錦紋大黃，磨水頻搽。</p>
<p>鐵鏽釘醋磨汁搽，並治蟢兒瘡。</p>
<p>蚯蚓泥，或風菱殼煅存性研，井水調塗。</p>
<p>小麥炒黑為末，桐油和敷。</p>
<p>蓮蓬殼煅研，並水調塗。</p>
<p>絲瓜葉，杵汁塗。</p>
<p>鮮蠶豆外殼炒黑研，麻油調敷。</p>
<p><u>擔肩</u>　生蒜切片，較患處大些，安患處，艾灸三壯。</p>
<p>五倍子　糯米　雞卵殼　石灰等分研摻，乾者菜油調搽。</p>
<p><u>對口</u>　鰟鮍魚。連腸骨杵爛敷。</p>
<p>薑汁磨陳墨圍兩邊，以白梅肉打爛，豬膽汁和塗瘡口。</p>
<p>頂大肥皂一條（去子弦）　婦人篦下頭垢（三錢）　生山藥（三寸）同搗敷。不論初起腐爛，頻敷自愈。</p>
<p>芭蕉根（四兩）　洗淨杵爛，熱酒沖服，渣敷患處。</p>
<p>大𩺀魚一尾（去鱗腸）　入瓷罐內杵爛，加頭垢二三兩拌勻敷上，中留一孔，以紙貼之。一二日愈。以上二方，初起即愈。</p>
<p>生橄欖核，瓦上炙成性，研極細，桐油調勻，雞毛蘸刷四圍，露出頭，勿令藥干，干即再圍。</p>
<p><u>發背</u>　凡人中熱毒，眼花頭暈，口苦舌乾，心驚背熱，四肢麻木，覺有紅暈在背者，即用槐子（五兩鮮者更佳）揀淨。銅杓內炒褐色，泥地攤去火氣，以好酒一碗，煎滾去渣服，出大汗即愈。未退，再服即消，已成者，三四服即減輕，渣杵爛敷患處，兼治魚口便毒亦效。</p>
<p>陳石灰　東丹　銅綠等分研細，加西牛黃一分和勻，雞子清調成膏，以舊黑傘紙攤夾，用銀鐵於傘紙上刺數眼，扎縛患處，如干易之。甚者三四次必愈。</p>
<p>海馬（一對）　雄黃（三錢）　硃砂　穿山甲（炙，各一錢）　冰片　麝香（各少許）　六味研細，再入水銀（一錢）研不見星收藏。凡遇危急之症，日以少許點患處，兼治疔瘡。</p>
<p>栝蔞（五枚，取子）　乳香（棗大五枚）　各研細，沙糖熬膏。每三錢溫酒下，兼治胸腹生癰。</p>
<p>宮粉（一兩）　輕粉　銀硃　雄黃　乳香（去油）　沒藥（去油，各二分半）　共研細聽用。先將好茶葉，煎濃湯洗患處，後將豶豬腰子切開摻藥五分於上，蓋患處，待藥如蒸，良久取去，一日一次，拔毒減痛，潰出穢膿，不可手擠。輕者二次愈，重者七八次愈，兼治對口，及一切癰瘍潰爛。</p>
<p>當歸（二兩）　白芷（五錢）　甘草（一兩二錢）　紫草（二錢）　麻油浸七日，然後入鍋煎，至藥枯，去渣再熬，至滴水成珠，下白蠟二兩攪勻，再入血竭（研細，四錢）　待冷，再下輕粉（四錢）　攪勻，待成膏，蓋好聽用。陳久愈佳，勿輕加減，兼治對口，及一切癰疽大毒，腐去瘡孔深而洞見膈膜者。用此填塞瘡口，自能生肌長肉收口，乃外科聖藥也。名玉紅膏。</p>
<p>巴豆仁　白芨（切）　番木鱉（切）　川烏（切）　草烏（切，各五錢）　商陸（切片，十兩）　漏蘆　鬧羊花　全歸（切）　穿山甲（切）　元參（切）　蝦蟆皮乾（須新取收干，各二兩）　蓖麻仁　白蘞（切）　川大黃（切）　雄鼠矢（各三兩）　蒼耳子（四兩）　黃牛蹄甲（敲研）　豬蹄甲（敲研，各一兩）　烏羊角（一對，敲研）　𩺀魚（二尾，重十二兩以上者）　凡二十二味，入大廣鍋內，真麻油三斤八兩，浸三日，熬至各藥焦黑，濾渣再熬沸，入飛淨血丹二十四兩，以槐柳條，不住手攪，熬至滴水成珠，息火待冷，再入上肉桂心（五錢）　乳香　沒藥　上芸香（各去油）　上輕粉（各四錢，此五味並研細，徐徐摻入）以銅箸攪勻，待凝冷覆地上，十餘日，拔盡火毒，凡一切癰疽疔毒，皆可用以箍膿，未成即消，已成即潰，不至大患，名巴𩺀膏。</p>
<p><u>肺癰</u>　其證初起，咳嗽即兩脅疼痛　元參（八兩）　天冬（四兩）　桔梗（二兩）　炙甘草（一兩）　水十碗，煎至二碗，入蒲公英、金銀花（各五錢）　煎至一碗，徐徐服之。初起即消，久者亦愈。</p>
<p>甘草　土貝（各二兩）　乳香（炙）　沒藥（炙）　槐米（各一兩）　炙山甲（八錢）　沉香　血竭　葶藶　血餘（各六錢）　雄黃（飛，五錢）　十一味研末，水法丸如綠豆大，牛黃為衣，每一丸開水下，名內消神效丸。治一切內癰初起，未潰膿者，服之即消。</p>
<p><u>乳癰</u>　芙蓉花杵爛，敷上，疱起即消，如干花瓣以雞子清，或醋調塗。凡芙蓉開時採，浸鹽滷中備用，貼諸癰瘍皆妙。</p>
<p>芙蓉根切片，醇酒煎，儘量飲即消。如掘鮮者杵汁，酒沖服，睡醒即消，其痛如失。</p>
<p>白蠟一錢酒化服。</p>
<p>蚶殼煅存性，研末，醋調塗。</p>
<p>芭蕉葉杵汁，生白蜜酒和服，渣敷。</p>
<p><u>乳癤</u>　陳半夏　連須蔥白　共杵爛，絹包如指大，左患塞右鼻，右患塞左鼻。</p>
<p><u>乳吹</u>　用硃筆，書十一地支於本婦所戴簪上。本命屬不書戴之。無論內外吹，初起極驗。</p>
<p>象牙屑　棉花仁（炒去油）　葫蘆芭　石決明（煅）　土貝母（各二兩）　蒲公英　鬼饅頭　橘葉　蓮房（各一兩五錢）　炙草　花粉　鹿角屑　麥糵（各一兩）　乳香（炙，五錢）　小青皮　十五味研末，每一錢六分，橘核煎湯調下，治內外吹，乳癖乳癧皆良。</p>
<p><u>乳癖</u>（正名乳裂）　上川連（三分）　制甘石（二錢）　黃柏（五釐）　牛黃（三釐）　四味研細，麻油調敷。</p>
<p><u>乳岩</u>　大栝蔞一個（半生半炒）　酒三鍾，煎一鍾，食後服。</p>
<p>生蟹殼砂鍋內焙焦為末，每日二錢酒下，勿間斷，以愈為度。</p>
<p>橘核一兩。炙存性研，分三服酒下。</p>
<p>甘草（水洗淨，二錢）　白蠟（三錢）　酒煎去渣，服五七次效。</p>
<p>圓蛤殼研末，加皂莢末少許，醋煎去火氣敷。</p>
<p>此證初起，不痛不癢，堅硬如岩，必數年始潰，潰後難愈，始覺即用活壁蟢，以針扦住，乘活用竹紙包作小球，食後白湯下，日一服，不過數日，患處即癢，如蟢行之狀，堅塊自消。</p>
<p>初起以蔥白寸許，嵌入梅花點舌丹一粒，另用旋覆花三錢煎湯，和醇酒少許吞下，日服一粒，不旬而愈。</p>
<p><u>拓盤疽</u>　溏雞屎塗。</p>
<p><u>穿掌心毒</u>　新霜葉研爛塗，忌食鵝。</p>
<p><u>鵝掌風</u>　銀杏仁　豬𦚟。共杵爛敷。</p>
<p><u>手背腫</u>　絲瓜葉，或芙蓉葉，蜜拌蒸搗敷。</p>
<p><u>天蛇頭</u>　荔枝肉，同脂麻嚼塗。</p>
<p>蒲公英　蒼耳草（各五錢）　醋煮頻洗。</p>
<p>陳柿餅一個，雄黃末一錢，搗爛敷。</p>
<p><u>代指</u>　烏梅肉醋浸研塗。</p>
<p><u>手指瘭疽</u>　初生如麻，漸如桃李，腫痛出血，見骨發狂　南星　半夏　白芷　共研，菜油調搽。</p>
<p><u>指甲根潰爛</u>　松香　黃蠟化烊作筒，套七日愈。</p>
<p><u>赤蛇纏</u>　腰間發如紅繩一條者，是俗名纏身龍　大麥炒焦研，菜油和敷。</p>
<p>陳墨磨濃，和雄黃末敷。</p>
<p>舊糞桶箍，煅存性研，菜油調敷。</p>
<p><u>大小腸癰</u>　大腸癰右足縮，小腸癰左足縮　地榆（一斤）水十碗，煎至三碗，入生甘草（二兩）　金銀花（一兩）　煎至一碗，空心一服即消，雖久亦不須兩服，但忌房事，余無所禁。按辛熱炙敷，亦不可食。</p>
<p>冬瓜子　土貝母（各二兩）　甘草（一兩五錢）　黃耆　栝蔞　枳殼　殭蠶（制）　肥皂（炒，各一兩）　炙甲片（五錢）　牛黃（三錢）　乳香（炙，七錢）　十一味為末，水法丸，如綠豆大，每二錢開水下，專治大小腸癰，二便下膿，名滌腸丸，兼治肺肝腎諸內癰。</p>
<p>老馬蘭頭煮熟，飽啖可治諸內癰。</p>
<p><u>魚口</u>　瓦松焙乾，雞子清和塗。</p>
<p>五倍子以陳醋於瓦器內，熬成膏，攤布貼之。干即易，數次愈。</p>
<p><u>便毒</u>　魚膠（麩炒成珠）　研末，空心好酒下，外以芭蕉根米醋磨塗。或蔥白杵爛，蜜和敷立消。按二證俗雖兩名，其實治法不殊，毋庸拘泥。</p>
<p>雄黃　乳香（各二錢）　黃柏（一錢）　共研。新汲水和塗。</p>
<p><u>囊癰</u>　鳳凰衣　黃連　輕粉等分研，熟麻油和敷。</p>
<p>已潰者。用黃連、青黛等分研摻。</p>
<p><u>莖癰</u>　炙鱉甲研末，雞子清和塗。</p>
<p><u>妒精淫瘡</u>　銀杏仁（七枚）　鉛粉（二錢）　拌勻入銅杓內炒深黃色，除去銀杏仁，以鉛粉去火氣。研敷，舊綢包紮。</p>
<p><u>下疳</u>　軟兒茶研細，米泔洗淨敷。</p>
<p>甘草（三兩）　老蔥（三株）　黑大豆（一合）　槐枝（一把）　水三升，煮豆熟為度，濾清汁，乘熱淋洗，如冷再熱，再淋洗一二時，名甘豆湯。</p>
<p>蜜陀僧（別研，去渣，砂鍋內火炮）　白礬（各五錢）　白堊（二錢）　黃丹（淘）　乳香（各五分）　麝香（二分半）共研。先用蔥白甘草槐枝煎湯，淋洗一二時，拭乾摻之。名博金散。</p>
<p>兒茶（錢半）　珍珠（五分）　乳香　沒藥（各二分）　冰片（一分）　絲線（燒存性，七分）　共研，先洗如上法，摻此藥，須如錢厚，以紙裹縛，俟結痂而已，如出水再洗摻，名丁泥散。</p>
<p>六一散（一錢）　橄欖核（煅炭，五錢）　冰片（一分）　三味研勻，麻油調塗，名冰六散。</p>
<p><u>痔瘡</u>　朴硝（五錢）　開水沖熏洗。</p>
<p>臘月取羊膽一枚，入冰片一分陰乾，用時以涼水化開塗之。</p>
<p>蠶繭內裝滿人指甲，外以胎髮纏裹，煅存性研，蜜和敷。</p>
<p>大棗三枚（割開去核）　入銅綠合住，外以淨黃土，和泥包好，煅紅取起，去土研，麻油調敷。</p>
<p>朝東楊樹上蕈。煎湯頻洗。</p>
<p>唾調木鱉子末塗之。若以醋磨搽，能治一切癰疽。</p>
<p>蝟皮（四兩）　豬懸蹄（二十五隻）　牛角腮（三兩）　亂髮　敗棕（各二兩）　槐角（一兩五錢）　苦楝根（一兩二錢）　雷丸　脂麻（各一兩）　銼碎瓷器內，煅存性為末，入乳香（去油，五錢）　麝香（二錢）　和勻，酒糊丸，先嚼胡桃肉一枚，溫酒送三五十丸，空心食前服，三服除根，名黑玉丹。兼治肛門蟲癢。</p>
<p>犀角尖　川連　白礬（各二錢）　三味研細，用龍眼肉（四兩）杵丸，如桐子大，每一錢開水下，名龍犀丸。</p>
<p><u>痔漏</u>　大松樹皮（老者愈佳，八兩）濃煎一大碗，收至一小碗，乘熱服二次即愈，兼治脫肛。</p>
<p>象牙屑（二斤）　研細。每晨以熟雞子二個蘸食，或調入粥內吃亦可，服完必愈。</p>
<p>田雞皮（炙炭）　血餘（煅存性）　黃明廣膠（蠣粉拌炒）　等分研末，每早服二錢，管自消化。</p>
<p>夏枯草（八錢）　甘草節　連翹殼（各四錢）　共研。以金銀花一斤，煎濃汁丸，梧子大，侵晨淡鹽湯下三錢。年久者一料化盡。</p>
<p>當歸（酒洗）　川連（酒洗）　象牙屑（各五錢）　淨槐花　小川芎（酒洗）　乳香（去油，各三錢）　露蜂房（一個，微火炒）共研，以黃蠟二兩熔化入藥丸，梧子大，每五六十丸，空心煎漏蘆湯下，至五日，漏孔內退出肉管，待二三指長，用剪剪去，再出再剪，肉管盡出，然後從內生肌而愈。蜂房以槐樹上者佳，椒樹次之。</p>
<p>不拘遠年近日，膿血通腸者，用坎炁（三條，即男子臍帶，瓦上焙存性）　陳棕（年久者佳，煅存性）　槐角子（肥大者，瓦上焙存性，各五錢）　象皮（四錢，醋炙）　蝟皮（醋炙）　地榆（曬乾，各三錢）　西牛黃（三分）　共研細，酥油丸，蠶子大。若難丸，加糯米糊少許，每七丸空心開水下，三日化管止痛，七日平滿，血清膿淨，十日除根。</p>
<p>黃耆　槐米（炒，各五兩）　西洋參（蒸透）　胡連　苦參（蜜炙）　地榆（各一兩）　炙草（二兩）　蜣螂（去翅足炒，六錢）　象牙屑（酒炒）　石決明（煅，各五錢）　十味研細，用甘草（四兩）　煎湯泛丸，綠豆大。每二三錢，空心開水下，專治肛癰痔漏，臟毒日久成管，膿水淋漓，時發時止之證。</p>
<p>人指甲（炙炭，二錢）　蜒蝣（炙炭，一兩）　甘石（制，五錢）　雞內金（炙）　蜣螂（炙）　白螺殼（各三錢）　甘草　殭蠶（炙）　蜂房（炙）　冰片（各一錢）　西牛黃（五分）十一味研細，麻油調。以綿紙合油線蘸藥，打瘡孔內，用象皮膏蓋。一日二換，專治肛門諸漏，膿水不止，口光眼細，乍潰乍斂等證。</p>
<p>沉香（五錢）　伽南香　母丁香　真珠（各一錢）　四味研細，用鴉片煙膏（一錢）　杵丸。如黍米大，每五七丸，開水下。治痔漏甚良，名鴉珠丸。</p>
<p><u>坐板瘡</u>　綠礬一把，開水沖浸洗，俟癢定坐草上待乾，數次愈。</p>
<p>紫背浮萍，芙蓉葉，均可煎洗。</p>
<p><u>臁瘡</u>　水龍骨研，桐油調敷。</p>
<p>柿葉燒存性，同川椒研敷。</p>
<p>老母豬屎燒灰，桐油和塗。</p>
<p>鮮蘆菔陰乾，一二日其皮可剝，以皮貼上，俟干再用牛蹄甲燒炭，菜油和搽。</p>
<p>蒜杆槐炭，菜油調塗，此治寒濕證甚效，熱勝者不宜。</p>
<p>棉花子一碗炒脆為末，先將患處洗淨，以藥填滿瘡孔，油紙包緊，三日一換，二次即愈。</p>
<p>先以甘草湯洗淨拭乾，用畫家石青（水漂淨，三錢）　加麝香（二分）　再研極細敷之。包過夜，即收水生肌。</p>
<p>梨葉百片，鮮豬油二兩，拌葉上，入鍋炒熱，再以白蠟二兩，研拌葉上，又用鹽二兩，亦拌葉上，勿令葉熟爛取起，待冷貼之。若治女人裙邊瘡尤妙。</p>
<p>川椒（一兩，另研末篩淨）　松香（八兩，以米醋蔥汁煮透）　黃丹（二兩）　枯礬（二兩五錢）　輕粉（七錢五分）　共研，先以豬油湯洗淨，菜油調塗，或乾摻，兼治黃水瘡，亦名玉紅膏。</p>
<p>黃芽蔥二十六莖，麻油二十四兩。先將麻油熬熟，入蔥莖，煎枯取出再入一莖，如法煎完三十六莖，濾清再煎，至滴水成珠，入炒杭粉十二兩收膏，去火氣攤貼。</p>
<p>真菜油四兩，入連須蔥白三枚，川椒十四粒。熬枯去渣，入黃蠟白蠟各二錢。熔化離火，俟沸定，入東丹三錢，急攪勻。倒在碗內，於陰地上去火毒，一日夜。用時先以生礬五六分，滾水泡一碗，將瘡洗干潔，塗藥如錢厚，油紙蓋之。外加揉軟粗紙添蓋好，束以絹帛，每日一洗一塗，縛扎如法，數日必愈。但瘡雖愈，四邊必多水疱極癢，切勿爬搔，若搔破，必又成瘡。故雖愈，仍將藥照舊洗塗，並水疱要塗在內，如是三五日，全愈不癢矣，名二蠟膏。</p>
<p>豬板油（去膜）　蔥白（各一兩）　潮腦（五錢）　共杵爛，先用防風甘草金銀花煎湯，淋洗患處，拭乾後，厚敷之，薄油紙裹好，加棉花紮緊，每日二換，勿見風，忌發物數日即愈，兼治杖瘡，及跌打皮肉損傷。</p>
<p>年久不愈者，用乳香　沒藥　象皮（各五錢）　鉛粉　蜜陀僧（各二兩）　輕粉（四兩）　俱研細，各自包開，先用真桐油一斤，滾透去沫澄清，先入蜜陀僧末攪勻取起，復入黃蠟二兩白蠟五錢熔化，候油稍溫，再入餘五味，攪三百餘遍，瓦器收之。用時量瘡大小圓長，以綿紙攤貼。初貼時，瘡中毒水流出，藥變黑色，再換新者貼之。名白玉膏。</p>
<p>白柏油（四錢）　黃蠟　菜油（各八錢）　大楓子（去殼研五錢）　番木鱉（二錢）　黃連　黃柏（各三錢）　同煎去渣，再研入枯礬　輕粉（各三錢）　蜜陀僧（另研五分）　拌勻候凝，隨瘡口大小，先以濃茶洗淨，做薄餅，簪刺十數小孔貼之。包束如法日易，名長肌膏，兼治年久諸爛瘡。</p>
<p>制甘石（四兩）　甘草　膽礬（各六錢）　輕粉（五錢）　冰片　麝香（各四分）　六味為細末，治新久臁瘡，血風瘡，以及抓傷不愈，釘鞋草履打傷等證，麻油調塗，或乾摻之。</p>
<p>黃蠟（二兩）　生礬　銅青（各一兩研）　菜油五兩煎沸，入蠟化烊，離火漸入二末攪勻，作夾紙膏，治臁瘡甚效。若有腐，以枯礬（六錢）　樟腦（四錢）　研末摻上，後用膏蓋平薄，二日一換，熱甚者。加摻熟石膏末更良。</p>
<p>銅青（二錢）　黃丹　白蠟（各一錢）　樟腦（八分）　冰片（五釐）　五味研末，用生豬油搗作膏，夾紙貼臁瘡大妙。</p>
<p>巴豆（杵）　蓖麻仁（各十二兩）　蝦蟆（五隻各衝入發一團）三味，用麻油（五斤）浸三日，再取活鯽魚十尾入油內，同煎至枯去渣，熬至滴水成珠，待溫收入鉛丹四十兩攪，入乳香末五錢成膏，夾油紙針孔攤貼。臁瘡久不合口，一日一換，貼時先以臭梧桐煎濃湯，洗淨患處，此方最奇，用之極效。</p>
<p><u>沿皮蛀</u>　蜜陀僧　樟腦等分，二味研末，麻油調塗。</p>
<p>白煤　枯礬　黃丹　煙膏等分，四味研末，桐油和敷。</p>
<p><u>腳背瘡</u>　舊草鞋去泥，燒灰敷，乾者菜油和塗。</p>
<p>治爛至脛者，多年屋上舊瓦，刮取瓦屑，研細，菜油調搽。</p>
<p><u>腳背腫塊疼痛</u>　舊麥稈涼帽水煎頻洗。</p>
<p>鹽滷頻洗即愈，或冷或熱，酌宜而用，兼治諸腳疾。若無病男婦，終身用之，則一生無腳患。</p>
<p><u>腳跟擦傷或膝腿磕破久爛</u>　野雞腳（雌雄成對者）瓦上煅研細末，瓷瓶收之，敷上即痂。</p>
<p><u>腳䏖</u>（腳底紅腫也）　大蒜杵爛敷一宿，即消。</p>
<p>癢極者，醋浸枇杷葉貼敷。</p>
<p>溺缸中頻浸之最良，按鹽滷亦可浸也。</p>
<p><u>腳蛀</u>　鉛粉　白螺殼（各八錢）　雄黃（五錢）　象皮（酒炙）　輕粉（制）　松香（制各二錢）　甘石（制四錢）　膽櫱（二錢）　冰片（二分）　九味為末摻。</p>
<p>爐甘石（六錢）　象皮　龍骨（各三錢）　冰片（一錢）　輕粉（三分）　升藥底（少許）　共研細摻。</p>
<p>烏柏葉貼之。</p>
<p><u>凍瘃</u>　立冬日，用蒜杆，煎濃湯浸洗，每年用之，永無此患，並不畏冷。患於手者，亦可預洗，以杜絕也。太和張遜侯司馬敷。</p>
<p><u>腳上冷疔</u>（初起紫疱，疼痛徹骨，漸腐爛深孔，紫黑血水腫穢，日久不愈）　黑鉛四兩，以鐵杓熔化，傾水內，再熔再傾，如此百遍，以鉛盡為度，去水取澄下者三錢。松脂（一錢）　黃丹（水飛炒）　輕粉（各五分）　麝香（一分）共研，先用蔥湯洗淨患處，以麻油和塗瘡口，油紙蓋之。</p>
<p><u>腳椏臭瘡</u>　黃蠟（一錢）　熟雞子黃（一枚）　同熬油搽，兼治寒濕瘡。</p>
<p><u>雞眼肉刺</u>　枯礬　黃丹　朴硝等分為末搽，次日濯之，數次即愈。</p>
<p>蓖麻仁研極細末搽之。二三時刺出，痛立止。</p>

<h1>傷科第十六</h1>
<p><u>跌打損傷</u>　小麥葉　蘆菔葉　青松毛（各一大把）　共搗爛，遍貼傷處，以被緊裹，儘量飲醉，睡醒即平。</p>
<p>冬瓜子研末，溫酒下三錢，日二。</p>
<p>豆腐切指厚，鍋內炙熱貼之，冷即易，數次青腫即消。</p>
<p>桂枝　靈仙（各五錢）　當歸　木瓜（各三錢）　荊芥　紅花　防風　續斷（各二錢五分）　烏藥　木香（各二錢）　十味，以酒煎洗患處。</p>
<p>干冬瓜皮　真牛皮膠（各一兩）　銼入鍋內，炒存性研，每五錢酒下，再飲酒至醉，厚蓋取微汗，一寤而愈，名二皮散。</p>
<p>白蠟（一兩）　藤黃（二錢）麻油熔化塗，即止血定痛。</p>
<p>輕粉　血竭（各三錢）　樟腦（二錢）　乳香（去油）　沒藥（去油各一錢五分）　冰片（三分）　麝香（二分）　共研細，以黃蠟一兩，豬板油一兩二錢熔化，調成膏，塗患處，晝夜流水，凡重證昏迷不醒，及死血鬱結，呃逆不食，兼治夾傷內爛，皆可起死回生。</p>
<p>蘇木白麻皮　細木耳（各二錢）均於瓦上焙焦。（木耳更要焦）研末，黃酒同赤糖和服，醉臥避風，昏迷即醒。</p>
<p>煨熟雞子黃（一個）　麻油（八兩）　共煎化盡，再入頭髮。（三錢，翦一寸長）　以筋順調化盡，改用文火，再入硃砂（水飛）　雄黃（各一錢）　黃蠟（六錢）　攪勻，掇鍋在地，放一夜收起用，時以翎毛塗患處，名硃砂膏。兼治湯火傷。</p>
<p>血流不止，用黃蠟或白蠟研細敷，或以飛面敷包，勿見風。或飛面和薑汁罨之，或蓮房燒存性研敷。</p>
<p>麻油（五兩）　白蠟（六錢）　黃蠟（五錢）　同化烊離火，入藤黃末（三錢）攪勻冷定，下冰片（一錢）　再攪勻任用。名西域黃靈膏。兼治金刃傷，及癰疽疔毒，臁瘡血風瘡。如治杖夾傷，加銀硃末一錢五分，青魚膽五分。</p>
<p>白附子（十二兩）　天麻　白芷　羌活　防風　生南星（各一兩）　各曬燥，研細，共研勻，青腫者水調敷，破處則摻之。凡跌墜毆壓，馬踢刀箭諸傷，雖腎子壓出可治，立能止血止痛。重證黃酒調服數錢，兼治破傷風，故用此藥者，並不忌風，真傷科第一個效方，價廉功大，地方官須預配合，如遇鬥毆傷重，可以保全兩命。家居亦宜備之，可應急需。</p>
<p>氣絕不能言者，以韭汁和童便灌一錢。或以白蠟三錢研末，好酒調灌即蘇。隨用脂麻稈，陳年黃麻毛竹根，俱燒存性研，沙糖調酒儘量飲，被蓋出汗，即痛止而愈。</p>
<p>凡跌打損傷，而腦子偏者，不能活，其證頭暈嘔吐，立不直，亟將病人頭扶起立直，用細帶一條圈頭，看偏在或左或右，何邊大即偏在何邊，扶直人身，以余帶約三四尺長，繫於柱上，用細棍敲帶之中，一時即正而愈。此蒙古所傳，即時救急良方也。按偏左似宜敲右，偏右似宜敲左，方內未註明，用者須知。汪謝城曰：敲帶之中，謂余帶三四尺之中也。既云何邊大，即偏在何邊，則必偏左敲右，偏右敲左，不待更言矣。</p>
<p>當歸　紅花　桃仁　續斷　杜仲（各五錢）　羌活　獨活　秦艽（各三錢）　食鹽（二兩）　牛骨髓（三兩羊骨髓亦可用）　奶酥油（二兩五錢）　好酒（一斤）　水煎濃汁，如在下部加牛膝三錢。濾渣，再入乳香　沒藥（各三錢）臨用，加麝香一錢和勻，以新布三塊長二尺，同煮熱，將布絞乾，於痛處更換拓，並以手揉之。凡跌撲閃挫，筋縮骨出臼不入，及一切風濕痛強，並小兒龜胸鱉背，初起亦可治也。</p>
<p>糯米一升，皂角半升切碎銅錢百枚同炒焦黑，去錢研末，酒調塗貼，治筋斷骨折。</p>
<p>大蟹一隻（無大者用小蟹數只）杵爛熱酒沖服，醉臥一宵即愈，或用蟹蓋殼，新瓦上煅存性研，每一錢，黃酒下，以醉為度，並能接骨。</p>
<p>絲瓜開花時，早晨帶露摘取，不老不嫩，肥厚之葉，陰乾為末，治跌打損傷，及金瘡惡瘡惡癤。摻敷皆妙。</p>
<p>人中白醋淬為末，每五分酒下，治閃挫跌僕，傷骨極重者大效。</p>
<p>白芨末二錢，酒調下，治折骨效。</p>
<p>仙桃草，四月間生麥田中，葉綠莖紅，實大如椒，形如桃，中有一小蟲者，即是。宜小暑節前，夏至後取之。蓋夏至前蟲未生，小暑後蟲飛去，惟此半月之間，趁未坼採之。烘乾研末，藏瓷瓶內，專治一切跌打損傷，服一二錢，可起死回生，兼治三瘧久延不愈，以紅棗同酒煎服亦效。</p>
<p><u>閃挫疼痛</u>　橘核，一歲一粒，研末酒服。</p>
<p>山楂末　木耳炭（各三錢）　研酒下。</p>
<p>木香（一錢）　麝香（三分）研細，左患吹右鼻，右患吹左鼻，以手上下和之。</p>
<p>痛至不能俯仰屈伸者，用牙硝　雄黃　麝香（各半釐）　研細，以少許點入口內，令人扶患者周圍行數轉，其病如失，未效再點，疼止為度。</p>
<p>諸藥不效，延久未愈者，蔥白杵爛，炒熱擦痛處，隨用生大黃末，薑汁調塗，能飲酒者，儘量一醉，睡醒霍然。</p>
<p><u>金刃諸傷</u>　急以自己小便淋傷處，傷重者，旁人即以溺淋之。或將傷處浸溺盆中，口渴切勿飲水，但食肥潤之物為宜，若啜熱粥，血必沸出，慎勿犯之。外以花乳石研敷。</p>
<p>蔥白炒熱罨之，冷即易，或蔥白沙糖等分研封，愈後無痕。</p>
<p>苧葉研末摻。宜端午、夏至日各採等分曬乾，俟霜降日研末備用。　何首烏、白芍藥，皆可研敷，並能止血定痛。柿餅杵爛塗，血止口合。</p>
<p>晚蠶蛾　歸頭　白芷　陳石灰等分研末敷之。止血定痛生肌，一上即愈。</p>
<p>紅桴炭研細，乘熱敷，並可接指。</p>
<p>黃荊腦搗爛敷。一日一易，雖臭爛者，五日即收口。</p>
<p>生糯米於清明前，一日一換水浸，至穀雨日曬乾研，凡金瘡久爛者敷之。</p>
<p>劉寄奴　當歸　生地　熟地　合歡皮　男子黑髮（洗淨，各一兩）　麻油四兩，煎至發化去渣，入黃蠟　白蠟（各八兩）　不住手攪，離火仍攪，至溫入乳香　沒藥　血竭（各三錢，研）　龍骨（童便煅，一錢，研）　慢慢投之。攪勻候冷，瓷器收藏，兼治杖瘡，塗敷皆妙，以帛包裹，不可見風，此戚少保保志膏也。</p>
<p><u>破傷風</u>　蓮房燒存性研細敷，再以酒調服。</p>
<p>杏仁泥　飛面等分，水調成膏。塗腫處，即消腫退熱。</p>
<p>手足十指甲，麻油炒黃研細，黃酒沖服，汗出即愈。</p>
<p><u>人咬</u>　龜板　鱉甲等分，煅存性研，菜油調敷。</p>
<p><u>蛇狗咬</u>　真雄精　火硝（漂，各一兩）　當門子（三錢）　冰片（一錢）　先將雄精研細篩淨，再研四五十天，余藥亦須研極細，至五月五日午時，焚香齋戒沐浴，一人修合，不與四眼見，更忌婦人。以上四味和勻，研至無聲為度，凡毒蛇猘犬咬者，男左女右，以竹挖耳點藥於大眼角內，一日一二次，不可多。蛇傷者，患處不必另用別藥，任其流出毒水，止用淘米泔水洗之。或乾燥，用自己唾涎塗之。忌食赤豆百日，最為至要，猘犬傷者，忌食羊肉發物，傷處亦不必用藥，但以糯米飲洗之。點此丹，俟小溲內有絲解出，即無妨矣。此丹合成盛瓶內，以蠟封固，勿使泄氣，可以立刻止痛，名追毒丹，亦治痧證悶死，時疫發斑不出，並可點之。按蕭山韓氏方，火硝止三分，冰麝雄精各一錢，更有九制爐甘石一錢，名五聖丹。治同。</p>
<p><u>蜈蚣咬</u>　向花枝下泥上，書田字，勿令人見，取其泥擦患處。</p>
<p><u>蜈蚣入腹痛不可忍</u>　急以雞子清數枚灌之，良久痛稍定，隨用生油與咽，其蜈蚣即與雞子纏束而吐出也。此前明吳縣張汁虛先生方。</p>

<h1>祛蟲害物第十七</h1>
<p><u>祛蜈蚣</u>　頭髮燒煙燻，凡廚房床下尤宜祛之。</p>
<p><u>祛蚊</u>　鱉甲（打碎土炒）　芫花　苦參　藜蘆　川烏共研，棗肉杵丸胡桃大，每晚焚之。</p>
<p><u>祛臭蟲</u>　螺殼燒煙燻。</p>
<p>青鹽煎水澆洗床帳。</p>
<p><u>祛鼠</u>　椿樹葉　冬青　絲瓜根葉並曬乾，四季燒煙，熏於室中，勝於畜貓以戕物命也。</p>
<p><u>馬病</u>　白鳳仙花連根葉熬膏，不論何證，抹其眼四角，即汗出愈。</p>
<p><u>牛瘟</u>　枇杷葉十餘張去毛。韭菜　青木香　銀花根（各一錢）　煎湯灌下，立效。忌生水。</p>
<p><u>豬牛時病</u>　朴硝　青礬　雄黃（各五分）　冰片（二分）　麝香（一分）　共研。竹管吹其鼻內，兼治貓犬病。</p>
