<header data-type="book">
<h1>醫學源流論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐大椿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1757">公元1757年（清·乾隆二十二年）</data></dd></div>
<div><dt>底本</dt><dd>《徐氏醫書八種》，清光緖十八年重刊本（<a href="https://lccn.loc.gov/2012402487">美國國會圖書館藏本</a>）；《欽定四庫全書·子部五·醫家類·醫學源流論》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0100/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>自敘</h1>
<p>醫，小道也，精義也，重任也，賤工也。古者大人之學，將以治天下國家，使無一夫不被其澤，甚者天地位而萬物育，斯學者之極功也。若夫日救一人，月治數病顧此失彼，雖數十里之近，不能兼及。況乎不可治者，又非使能起死者而使之生，其道不已小乎？雖然，古聖人之治病也，通於天地之故，究乎性命之源，經絡、臟腑、氣血、骨脈，洞然如見，然後察其受病之由，用藥以驅除而調劑之。其中自有玄機妙悟，不可得而言喻者，蓋與造化相維，其義不亦精乎？道小，則有志之士有所不屑為，義精，則無識之徒有所不能窺也。人之所繫，莫大乎生死。王公大人，聖遇豪傑，可以旋轉乾坤，而不能保無疾病之患。一有疾病，不得不聽之醫者，而生殺唯命矣。夫一人系天下之重，而天下所繫之人，其命又懸於醫者。下而一國一家所繫之人更無論矣，其任不亦重乎？而獨是其人者，又非有爵祿道德之尊，父兄師保之重。既非世之所隆，而其人之自視，亦不過為衣服口食之計。雖以一介之微，呼之而立，至其業不甚賤乎？任重，則托之者必得偉人；工賤，則業之者必無奇士。所以勢出於相違，而道因之易墜也。余少時頗有志於窮經，而肉數人疾病連年，死亡略盡。於是博覽方書，寢食俱廢。如是數年，雖無生死骨肉之方，實有尋本溯源之學。九折臂而成醫，至今尤信。而竊概唐宋以來，無儒者為之振興，視為下業，逡巡失傳，至理已失，良法並亡。惄焉傷懷，恐自今以往不復有生人之術。不揣庸妄，用敷厥言，倘有所補所全者，或不僅一人一世已乎？</p>
<p><u>乾隆丁丑秋七月洞溪徐大椿書於吳山之半松書屋</u></p>

<h1>卷上</h1>

<h2>經絡臟腑</h2>

<h3>無氣存亡論</h3>
<p>養生者之言曰：天下之人，皆可以無死。斯言妄也，何則？人生自免乳哺以後，始而孩，既而長，既而壯，日勝一日。何以四十以後，飲食奉養如昔，而日且就衰？或者曰：嗜欲戕之也。則絕嗜欲，可以無死乎？或者曰：勞動賊之也。則戒勞動，可以無死乎？或者曰：思慮擾之也。則屏思慮，可以無死乎？果能絕嗜欲，戒勞動，減思慮，免於疾病夭札則有之。其老而眊，眊而死猶然也。況乎四十以前，未嘗無嗜欲、勞苦、思慮，然而日生日長。四十以後，雖無嗜欲勞苦、思慮，然而日減日消。此其故何歟？蓋人之生也，顧夏蟲而卻笑，以為是物之生死，何其促也，而不知我實猶是耳。當其受生之時，已有定分焉。所謂定分者，元氣也。視之不見，求之不得，附於報導血之內，宰乎氣血之先。其成形之時，已有定分焉。所謂定分者，元氣也。視之不見，求之不得，附於氣血之內，宰乎氣血之先。其成形這時，已有定數。譬如置薪於火，始燃尚微，漸久則烈，薪力既盡，而火息矣。其有久暫之殊者，則薪之堅脆異質也。故終岙無病者，待元氣之自盡而死，此所謂終其天年者也。至於疾病之人，若元氣不傷，雖病甚不死；元氣或傷，雖病輕亦死。而其中又有辨焉。有先傷元氣而病者，此不可治者也；有因病而傷元氣者，此不可不預防者也；亦有因誤治而傷及元氣者；亦有元氣雖傷未甚，尚可保全之者，其等不一。故診病決死生者，不視病之輕重，而視元氣之存亡，則百不失一矣。至所謂元氣者，何所寄耶？五臟有五臟之真精，此元氣之分體者也。而其根本所在，即《道經》所謂丹田，《難經》所謂命門，《內經》所謂節節之旁中有小心，陰陽合闢存乎此，呼吸出入系乎此。無火而能令百體皆溫，無水而能令五臟皆潤。此中一線未絕，則生氣一線未亡，皆賴此也。若夫有疾病而保全之法何如？蓋元氣雖自有所在，然實與臟腑相連屬者也。寒熱攻補，不得其道，則實其實而虛其虛，必有一臟大受其害。邪入於中，而精不能續，則元氣無所附而傷矣。故人之一身，無處不宜謹護，而藥不可輕試也。若夫預防之道，惟上工能慮在病前，不使其勢已橫而莫救，使元氣克全，則自能托邪於外；若邪盛為害，則乘元氣未動，與之背城而一決，勿使後事生悔，此神而明之之術也。若欲與造化爭權，而令天下之人終不死，則無是理矣。</p>

<h3>軀殼經絡臟腑論</h3>
<p>凡致病必有因，因受病之處則各有部位。今之醫者曰：病必分經絡而後治之。似矣，然亦知病固非經絡之所能盡者乎？夫人有皮肉筋骨以成形，所謂軀殼也。而虛其中，則有臟腑以實之。其連續貫通者，則有經有絡貫乎臟腑之內，運乎軀殼之中，為之道路，以傳變周流者也。故邪之傷人，或在皮肉，或在筋骨，或在臟腑，或在經絡。有相傳者，有不相傳者，有久而相傳者，有久而終不傳者。其大端則中於經絡者易傳；其初不在經絡，或病甚而流於經絡者，亦易傳。經絡之病，深入臟腑，則以生克相傳。惟皮肉筋骨之病，不歸經絡者，則不傳，所謂軀殼之病也。故識病之人，當直指其病在何臟何腑，何筋何骨，何經何絡，或傳或不傳，　傳以何經始，以何經終。其言歷歷可驗，則醫之明者矣。今人不問何病，廖舉一經以藉口，以見其頗識《內經》，實與《內經》全然不解也。至治之難易，則在經絡易治，在臟腑者難治，且多死。在皮肉筋骨者難治，亦不易死。其大端如此。至於軀殼臟腑之屬於某經絡，以審其針灸用藥之法，則《內經》明言之，深求自得也。</p>

<h3>表裡上下論</h3>
<p>欲知病之難易，先知病之淺深。欲知病之淺深；先知病之部位。夫人身一也，實有表裡上下之別焉。何謂表？皮肉筋骨是也。何謂里？　臟腑精神是也。而經絡則貫乎其間。表之病易治而難死，里之病難治而易死。此其大略也。而在表在裡者，又各有難易，此不可執一而論也。若夫病本在表，而傳於裡；病本在裡，而並及於表。是為內外兼病，尤不易治。身半已上之病，往往近於熱；身半以下之病，往往近於寒。此其大略也。而在上在下，又各有寒熱，此亦不可執一而論也。若夫病本在上，而傳於下，病本在下，而傳於上，是之謂上下兼病，亦不易治。所以然者，無病之處多，有病之處少，則精力猶可維持，使正氣漸充，而邪氣亦去。若夫一人之身，無處不病，則以何者為驅病之本，而復其元氣乎？故善醫者，知病勢之盛而必傳也，預為之防，無使結聚，無使氾濫，無使併合，此上工治未病之說也。若其已至於傳，則必先求其本，後求其標，相其緩急而施治之。此又桑榆之收也。以此決病之生死難易，思過半矣。</p>

<h3>陰陽升降論</h3>
<p>人身象天地。天之陽藏於地之中者，謂之元陽。元陽之外護者謂之浮陽，浮陽則與時升降。若人之陽氣則藏於腎中而四布於周身，惟元陽則固守於中，而不離其位。故太極圖中心白圈，即元陽也，始終不動，其分陰分陽，皆在白圈之外。故發汗之藥，皆鼓動其浮陽，出於營衛之中，以泄其氣耳。若元陽一動，則元氣漓矣。是以發汗太甚，動其元陽，即有亡陽之患。病深之人，發喘呃逆，即有陽越之虞，其危皆在頃刻，必用參附及重鎮之藥，以墜安之。所以治元氣虛弱之人，用升提發散之藥，最防陽虛散越，此第一關也。至於陰氣則不患其升，而患其竭，竭則精液不布，乾枯燥烈，廉泉玉英，毫無滋潤，舌燥唇焦，皮膚粗槁。所謂天氣不降，地氣不升，孤陽無附，害不旋踵。《內經》云：陰精所奉其人壽。故陰氣有餘則上溉，陽氣有餘則下固，其人無病，病亦易愈。反此則危。故醫人者，慎毋越其陽而竭其陰也。</p>

<h3>治病必分經絡臟腑論</h3>
<p>病之從內出者，必由於臟腑；病之從外入者，必由於經絡。其病之情狀，必有鑿鑿可徵者。如怔忡、驚悸為心之病，泄瀉、膨脹為腸胃之病，此易知者。又有同一寒熱而六經各殊，同一疼痛而筋骨皮肉各別。又有臟腑有病而反現於肢節，肢節有病而反現於臟腑。若不究其病根所在，而漫然治之，則此之寒熱非彼之寒熱，此之癢痛非彼之痛癢，病之所在全不關著，。無病之處反以藥攻之。《內經》所謂：誅伐無過，則故病示已，新病復起，醫者以其反增他病，又復治其所增之病，復不知病之所從來，雜藥亂投，愈治而病愈深矣。故治病者，必先分經絡臟腑之所在，而又知其七情六淫所受何因，然後擇何經何臟對病之藥，本於古聖何方之法，分毫不爽，而後治之，自然一劑而即見效矣。今之治病不效者，不咎己藥之不當，而反咎病之不應藥，此理絡身不悟也。</p>

<h3>治病不必分經絡臟腑論</h3>
<p>病之分經絡臟腑，夫人知之。於是天下遂有因經絡臟腑之說，而拘泥附會，又或誤認穿鑿，並有藉此神其說以欺人者。蓋治病之法多端，有必求經絡臟腑者，有不必求經絡臟腑者。蓋人之氣血，無所不通，而藥性之寒熱溫涼，有毒無毒，其性亦一定不移，入於人身，其功能亦無所不到。豈有其藥止入某經之理？即如參耆之類，無所不補。砒鴆之類，無所不毒，並不專於一處也。所以古人有現成通治之方，如紫金錠、至寶丹之類，所治之病甚多，皆有奇效。蓋通氣者，無氣不通；解毒者，無毒不解；消痰者，無痰不消。其中不過略有專宜耳。至張潔古輩，則每藥註定云獨入某經，皆屬附會之談，不足徵也。曰：然則用藥竟不必分經絡臟腑耶？曰：此不然也。蓋人之病，各有所現之處；而藥之治病必有專長之功。如此胡治寒熱往來，能愈少陽之病；桂枝治畏寒發熱，能愈太陽之病；葛根治肢體大熱，能愈陽明之病。蓋其止寒熱，已畏寒，除大熱，此乃柴胡、桂枝、葛根專長之事。因其能治何經之病，後人即指為何經之藥。孰知其功能，實不僅入少陽、太陽、陽明也。顯然者尚如此，余則更無影響矣。故以某藥為能治某經之平凡則可，以某藥為獨治某經則不可。謂某經之病，當用某藥則可；謂某藥不復入他經則不可。故不知經絡而用藥，其失也泛，必無捷效。執經絡而用藥，其失也泥，反能致害。總之變化不一，神而明之，存乎其人也。</p>

<h3>腎藏精論</h3>
<p>精藏於腎，人盡知之。至精何以生，何以藏，何以出？則人不知也。夫精，即腎中之脂膏也。有長存者，有日生者。腎中有藏精之處，充滿不缺，如井中之水，日夜充盈，此長存者也。其欲動交媾所出之精，及有病而滑脫之精，乃日生者也。其精施去施生，不去亦不生，猶井中之水，日日汲之，不見其虧；終年不汲，不見其溢。《易》云：井道不可不革，故受之以革，其理然也。曰：然則縱欲可無害乎？曰：是又不然。蓋天下之理，總歸自然。有腎氣盛者，多欲無傷；腎氣衰者，自當節養。《左傳》云：女不可近乎？對曰：節之。若縱欲不節，如淺狹之井，汲之無度，則枯竭矣。曰：然則強壯之人而絕欲，則何如？曰：此亦無咎無譽，惟腎氣略堅實耳。但必浮火不動，陰陽相守則可耳。若浮火日動而強制之，則反有害。蓋精因火動而離其位，則必有頭眩、目赤、身癢、腰疼、遺泄、偏墜等症，其者或發癰疽，此強制之害也。故精之為物，欲動則生，不動則不生。能自然不動則有益，強制則有害，過用則衰竭。任其自然，而無所勉強，則保精之法也。老子云：無法道，道法自然，自然之道，乃長生之訣也。</p>

<h3>一臟一腑先絕論</h3>
<p>人之死，大約因元氣存亡而決。故患病者，元氣已傷，即變危殆。蓋元氣脫，則五臟六腑皆無氣矣。竟有元氣深固，其根不搖，而內中有一臟一腑先絕者。如心絕，則昏昧不知世事；肝絕，則喜怒無節；腎絕，則陽道痿縮；脾絕，則食入不化；肺絕，則氣促聲啞。六腑之絕，而失其所司亦然。其絕之象，亦必有顯然可見之處。大約其氣尚存，而神志精華不用事耳，必明醫乃能決之。又諸臟腑之中，惟肺絕則死期尤促。蓋肺為臟腑之華蓋，臟腑賴其氣以養，故此臟絕，則臟腑皆無稟受矣。其餘則視其絕之甚與不甚，又觀其別臟之盛衰何如，更觀其後天之飲食何如，以此定其吉凶，則修短之期可決矣。然大段亦無過一年者。此皆得之目睹，非臆說也。</p>

<h3>君火相火論</h3>
<p>近世之論，心火謂之君火，腎火謂之相火，此說未安。蓋心屬火，而位居於上，又純陽而為一身之主，名曰君火，無異議也。若腎中之火，則與心相遠，乃水中之火也，與心火不類，名為相火，似屬非宜。蓋陰陽互藏其宅，心固有火，而腎中亦有火。心火為火中之火；腎火為水中之火，腎火守於下，心火守於上，而三焦火之道路，能引二火相交。心火動，而腎中之浮火亦隨之。腎火動，而心中之浮火亦隨之；亦有心火為動而腎火不動，其患獨在心；亦有腎火動而心火不動，其害獨在腎。故治火之法，必先審其何火，而後用藥有定品。治心火，以苦寒；治腎火，以鹹寒。若二臟之陰不足以配火，則又宜取二臟之陰藥補之。若腎火飛越，又有回陽之法，反宜用溫熱，與治心火迥然不同。故五臟皆有火，而心腎二臟為易動，故治法宜詳究也。若夫相火之說，則心胞之火參令人怔忡、面赤、煩躁、眩暈，此則在君火之旁，名為相火，似為確切。試以《內經》參之，自有真見也。</p>

<h2>脈</h2>

<h3>診脈決死生論</h3>
<p>生死於人大矣！而能於兩手方寸之地，微末之動，即能決其生死。何其近於誣也？然古人往往百不失一者，何哉？其大要則以胃氣為本。蓋人之所以生，本乎飲食。《靈樞》云：谷於胃，乃傳之肺，五臟六腑皆以受氣。寸口屬肺經，為百脈之所會，故其來也，有生氣以行乎其間，融和調暢，得中土之精英，此為有胃氣。得者生，失者死，其大概也。其次，則推天運之順逆。人氣與天氣相應，如春氣屬木，脈宜弦；夏氣屬火，脈宜洪之類。反是則與天氣不應。又其次，則審臟氣之生克，如脾病畏弦，木剋土也；肺病畏洪，火剋金也。反是則與臟氣無害。又其次，則辨病脈之從違。病之與脈各有宜與不宜。如脫血之後，脈宜靜細，而反洪大，則氣亦外脫矣；寒熱之證，脈宜洪數，而反細弱，則真元將陷矣。至於真臟之脈，乃因胃氣已絕，不營五臟。所以何臟有病，則何臟之脈獨現。凡此皆《內經》、《難經》等書言之明白詳盡，學者苟潛心觀玩，洞然易曉，此其可決者也。至云：診脈即可以知何病。又云：人之死生，無不能先知，則又非也。蓋脈之變遷無定，或有卒中之邪，未即通於經絡，而脈一時未變者；或病輕而不能現於脈者。或有沉痼之疾，久而與氣血相併，一時難辨其輕重者；或有依經傳變，流動無常，不可執一時之脈，而定其是非者。況病之名有萬，而脈之象不過數十種，且一病而數十種之脈，無不可見，何能診脈而即知其何病？此皆推測偶中，以此欺人也。若夫真臟之脈，臨死而終不現者，則何以決之？是必以望聞問三者合而參觀之，亦百不失一矣。故以脈為可憑，而脈亦有時不足憑。以脈為不可憑，而又鑿鑿乎其可憑。總在醫者熟通經學，更深思自得，則無所不驗矣！若世俗無稽之說，皆不足聽也。</p>

<h3>症脈輕重論</h3>
<p>人之患病，不外七情六淫，其輕重死生之別，醫者何由知之？皆必問其症，切其脈，而後知之。然症脈各有不同，有現症極明，而脈中不見者；有脈中甚明，而症中不見者。其中有宜從症者，有宜從脈者，必有一定之故。審之既真，則病情不能逃，否則不為症所誤，必為脈所誤矣。故宜從症者，雖脈極順而症危，亦斷其必死；宜從脈者，雖症極險而脈和，亦決其必生。如脫血之人，形如死狀，危在頃刻，而六脈有根，則不死。此宜從脈不從症也。如痰厥之人，六脈或促或絕，痰降則愈，此宜從症不從脈也。陰虛咳嗽，飲食起居如常，而六脈細數，久則必死。此宜從脈不宜從症也。噎膈反胃，脈如常人，久則胃絕而脈驟變，百無一生。此又宜從症不從脈也。如此之類甚多，不可枚舉。總之脈與症分觀之，則吉凶兩不可憑。合觀之，則某症忌某脈，某脈忌某症，其吉凶乃可定矣。又如肺病忌脈數，肺屬金，數為火，火刑金也。余可類推，皆不外五行生剋之理。今人不按其症，而徒講乎脈，則講之愈密，失之愈遠。若脈之全體，則《內經》諸書詳言之矣。</p>

<h3>脈症與病相反論</h3>
<p>症者，病之發現者也。病熱則症熱，病寒則症寒，此一定之理。然症竟有與病相反者，最易誤治，此不可不知者也。如冒寒之病，反身熱而惡熱；傷暑之病，反身寒而惡寒；本傷食也，而反易飢能食本傷飲也，而反大渴口乾。此等之病，尤當細考，一或有誤，而從症用藥，即死生判矣。此其中蓋有故焉。或一時病勢未定，如傷寒本當發熱，其歸尚未發熱，將來必至於發熱，此先後之不同也。或內外異情，如外雖寒而內仍熱是也。或有名無實，如欲食好飲，及至少進即止，飲食之後，又不易化是也。或有別症相雜，誤認此症為彼症是也。或此人舊有他病，新病方發，舊病亦現是也。至於脈之相反，亦各不同。或其人本體之脈，與常人不同。或輕病未現於脈。或痰氣阻塞，營氣不利，脈象乖其所之。或一時為邪所閉，脈似危險，氣通即復。或其人本有他症，仍其舊症之脈。凡此之類，非一端所能盡，總宜潛心體認，審其真實，然後不為脈症所惑。否則徒執一端之見，用藥愈真而愈誤矣。然苟非辨症極精，脈理素明，鮮有不惑者也！</p>

<h2>病</h2>

<h3>中風論</h3>
<p>今之患中風偏痹等病者，百無一愈，十死其九。非其症俱不治，皆醫者誤之也。凡古聖定病之名，必指其實。各曰中風，則其病屬風可知。既為風病，則主病之方，必以治風為本。故仲景侯氏黑散、風引湯、防己地黃湯，及唐人大小續命等方，皆多用風藥，而因症增減。蓋以風入經絡，則內風與外風相煽，以致痰火一時壅塞，惟宜先驅其風，繼清痰火，而後調其氣血，則經脈可以漸通。今人一見中風等症，即用人參、熟地、附子、肉桂等純補溫熱之品，將風火痰氣，盡行補住，輕者變重，重者即死。或有元氣未傷，而感邪淺者，亦必遷延時日，以成偏枯永廢之人。此非醫者誤之耶！或云：邪之所湊，其氣必虛。故補正即所以驅邪，此大謬也。惟其正虛而邪湊，萬當急驅其邪，以衛其正。若更補其邪氣，則正氣益不能支矣。即使正氣全虛，不能托邪於外，亦宜於驅風藥中，少加扶正之品，以助驅邪之力。從未有純用溫補者。譬之盜賊入室，定當先驅盜賊，而後固其牆垣；未有盜賊未去，而先固其牆垣者。或云：補藥托邪，猶之增家家人以御盜也。最又不然。蓋服純補這藥，斷無專補正不補邪之理，非若家人之專於御盜賊也，是不但不驅盜，並助盜矣。況治病之法，凡久病屬虛，驟病屬實。所謂虛者，謂正虛也。所謂實者，謂邪實也；中風乃急暴之症，其為實邪無疑。天下未有行動如常，忽然大虛而昏僕者，豈可不以實邪治之哉？其中或有屬陰虛、陽虛，感熱、感寒之別，則於治風方中，隨所現之症加減之。漢唐諸法俱在，可取而觀也。故凡中風之類，苟無中臟之絕症，未有不可治者。余友人患此症者，遵余治法，病一二十年而今尚無恙者甚多。惟服熱補者，無一存者矣。</p>

<h3>臌膈論</h3>
<p>臌膈同為極大之病，然臌可治，而膈不可治。蓋臌者，有物積中，其證屬實；膈者，不能納物，其證屬虛。實者可治，虛者不可治，此其常也。臌之為病，因腸胃衰弱，不能運化，或痰或血，或氣或食，凝結於中，以致臌脝脹滿。治之當先下其結聚，然後補養其中氣，則腸胃漸能克化矣。《內經》有雞矢醴方，即治法也。後世治臌之方，亦多見效。以惟臟氣已絕，臂細臍凸，手心及背平滿，青筋繞腹，種種惡證齊現，則不治。若膈證，乃肝火犯胃，木來侮土，謂之賊邪。胃脘枯槁，不復用事，惟留一線細竅，又為痰涎瘀血閉塞，飲食不能下達，即勉強納食，仍復吐出。蓋人生全在飲食，經云：谷入於胃，以傳於肺，五臟六腑，皆以受氣。今食既不入，則五臟六腑皆竭矣。所以得此症者，能少納穀，則不出一年而死；全不納穀，則不出半年而死。凡春得病者，死於秋；秋得病者，死於春。蓋金木相剋之時也。又有卒然嘔吐，或嘔吐而時目時發，又或年當少壯，是名反胃，非膈也，此亦可治。至於類臌之症，如浮腫水腫之類，或宜針灸，或宜泄瀉，病象各殊，治亦萬變，醫者亦宜廣求諸法，而隨宜施用也。</p>

<h3>寒熱虛實真假論</h3>
<p>病之大端，不外乎寒熱虛實，然必辨其真假，而後治之無誤。假寒者，寒在外而熱在內也，雖大寒而惡熱飲；假熱者，熱在外而寒在內也，雖大熱而惡寒飲，此其大較也。假實者，形實而神衰，其脈浮、洪、芤、散也；假虛者，形衰而神全，其脈靜、小、堅、實。其中又有人之虛實，證之虛實。如怯弱之人而傷寒、傷食，此人虛而證實也。強壯之人，而失血勞倦，此人實而證虛也。或宜正治，或宜從治；或宜分治，或宜合治；或宜從本，或宜從標；寒因熱用，熱因塞用；上下異方，煎丸異法；補中兼攻，攻中兼補。精思妙術，隨變生機，病勢千端，立法萬變。則真假不能惑我之心，亦不能窮我之術，是在博求古法，而神明之。稍執己見，或學力不至，其不為病所惑者，幾希矣！</p>

<h3>內傷外感論</h3>
<p>七情所病，謂之內傷；六淫所侵，謂之外感。自《內經》、《難經》以及唐宋諸書，無不言之深切著明矣。二者之病，有病形同而病因異者；亦有病因同而病形異者；又有全乎外感。全乎內傷者；理會有內傷兼外感，外感兼內傷者。則因與病，又互相出入，參錯雜亂，治法迥殊。蓋內傷由於神志，外感起於經絡。輕重淺深，先後緩急，或分或合，一或有誤，為害非輕。能熟於《內經》及仲景諸書，細心體認，則雖其病萬殊，其中條理井然，毫無疑似，出入變化，無有不效。否則彷徨疑慮，雜藥亂投，全無法紀，屢試不驗。更無把握，不咎己之審病不明，反咎藥之治病不應。如此死者，醫殺之耳！</p>

<h3>病情傳變論</h3>
<p>病有一定之傳變，有無定之傳變。一定之傳變，如傷寒太陽傳陽明，及《金匱》見肝之病，知肝傳脾之類。又如痞病變臌，血虛變浮腫之類，醫者可預知而防之也。無定之傳變，或其人本體先有受傷之處，或天時不知，又感時行之氣，或調理失宜更生他病，則無，病不可變，醫者不能預知而為防者也。總之人有一病，皆當加意謹慎，否則病後增病，則正虛而感益重，輕病亦變危矣。至於既傳之後，則標本緩急先後分合，用藥必兩處兼顧，而又不雜不亂，則諸病亦可漸次乎復，否則新病日增，無所底止矣。至於藥誤之傳變，又復多端，或過於寒涼，而成寒中之病。或過服溫燥，而成熱中之病；或過於攻伐，而元氣大虛；或過於滋潤，而脾氣不實。不可勝舉。近日害人最深者，大病之後，邪未全退，又不察病氣所傷何處，即用附子、肉桂、熟地、麥冬、人參、白朮、五味、萸肉之類，將邪火盡行補澀，始若相安，久之氣逆痰升，脹滿昏沉，如中風之狀。邪氣與元氣相併，諸藥無效而死。醫家、病家猶以為病後大虛所致。而不知乃邪氣固結而然也。余見甚多，不可不深戒！</p>

<h3>病同人異論</h3>
<p>天下有同此一病，而治此則效，治彼則不效，且不惟無效而反有大害者，何也？則以病同而人異也。夫七情六淫不感不殊，而受感之人各殊。或氣體有強弱，質性有陰陽，生長有南北，性情有剛柔，筋骨有堅脆，肢體有勞逸，年力有老少，奉養有膏粱藜藿之殊，心境有憂勞和樂之別，更加天時有寒暖之不同，受病有深淺之各異。一概施治，則病情雖中，而於人之氣體，迥乎相反，則利害亦相反矣！故醫者心細審其人之種種不同，而後輕重緩急、大小先後之法。因之而定。《內經》言之極詳，即針灸及外科之治法盡然。故凡病者，皆當如是審察也。</p>

<h3>病症不同論</h3>
<p>凡病之總者，謂之病。而一病必有數症。如太陽傷風是病也，其惡風、身熱、自汗、頭痛是症也，合之而成其為太陽病，此乃太陽病之本症也。若太陽病而又兼泄瀉，不寐、心煩、痞悶，則又為太陽病之兼症矣。如瘧病也，往來寒熱、嘔吐、畏風、口苦是症也，合之而成為瘧，此乃瘧之本症也。若瘧而兼頭痛、脹滿、嗽逆、便閉，則又為瘧疾之兼症矣。若瘧而又下痢數十行，則又不得謂之兼症，謂之兼病。蓋瘧為一病，痢又為一病，而二病中有本症，各有兼症，不可勝舉。以此類推，則病之與症，其分並何啻千萬，不可不求其端而分其緒也。而治之法，或當合治，或當分治，或當先治，或當後治，或當專治，或當不治，尤在視其輕重緩急，而次第奏功。一或倒行逆施，雜亂無紀，則病變百出，雖良工不能挽回矣。</p>

<h3>病同因別論</h3>
<p>凡人之所苦謂之病，所以致此病者謂之因。如同一身熱也，有風、有寒、有痰、有食、有陰虛火升，有鬱怒，憂思、勞怯、蟲病，此謂之因。知其因則不得專以寒涼治熱病矣。蓋熱同而所以致熱者不同，則藥亦迥異。凡病之因不同，而治各別者盡然，則一病而治法多端矣。而病又非止一症，必有兼症焉。如身熱而腹痛，則腹又為一症，而腹痛之因，又復不同，有與身熱相合者，有與身熱各別者。如感寒而身熱，其腹亦因寒而痛，此相合者也。如身熱為寒，其腹痛又為傷食，則各別者也。又必審其食為何食，則以何藥消之。其立方之法，必切中二者之病源而後定方，則一藥而兩病俱安矣。若不問其本病之所因，及兼病之何因，而徒曰某病以某方治之，其偶中者，則投之或愈；再以治他人，則不但不愈而反增病，必自疑曰何以治彼效而治此不效？並前此之何以愈？亦不知之，則幸中者甚少，而誤治者甚多！終身治病，而終身不悟，歷症愈多而愈惑矣。</p>

<h3>亡陰亡陽論</h3>
<p>經云：奪血者無汗，奪汗者血。血屬陰，是汗多乃亡陰也。故止汗之法，必用涼心斂肺之藥，何也？心主血，汗為心之液，故當清心火；汗必從皮毛出，肺主皮毛，故又當斂肺氣，此正治也。惟汗出太甚，則陰氣上竭，而腎中龍雷之火隨水而上。若以寒涼折之，其火愈熾，惟用大劑參附，佐以咸降之品如童便、牡蠣之類，冷飲一碗，直達下焦，引其真陽下降，則龍雷之火反乎其位，而汗隨止。此與亡陰之汗，真大相懸絕。故亡陰亡陽，其治法截然，而轉機在頃刻。當陽氣之未動也，以陰藥止汗。乃陽氣之既動也，以陽藥止汗；而龍骨、牡蠣、黃耆、五味收澀之藥，則兩方皆可隨宜用之。醫者能於亡陰亡陽之交，分其界限，則用藥無誤矣。其亡陰亡陽之辨法如何？亡陰之汗，身畏熱，手足溫，肌熱，汗亦熱而味鹹，口渴喜涼飲，氣粗，脈洪實，此其驗也；亡陽之汗，身反惡寒，手足冷，肌涼汗冷，而味淡微黏，口不渴，而喜熱飲，氣微，脈浮數而空，此其驗也。至於尋常之正汗、熱汗、邪汗、自汗，又不在二者之列。此理知者絕少，即此汗之一端，而聚訟紛紛，毫無定見，誤治甚多也。</p>

<h3>病有不愈不死雖愈必死論</h3>
<p>能愈病之非難，知病之必愈、必不愈為難。夫人之得病，非皆死症也。庸醫治之，非必皆與病相反也。外感內傷，皆有現病，約略治之，自能向愈。況病情輕者，雖不服藥，亦能漸痊。即病勢危迫，醫者苟無大誤，邪氣漸退，亦自能向安。故愈病非醫者之能事也。惟不論輕重之疾，一見即能決其死生難易，百無一失，此則學問之極功，而非淺嘗者所能知也。夫病輕而預知其愈，病重而預知其死，此猶為易知者。惟病象甚輕，而能決其必死；病勢甚重，而能斷其必生，乃為難耳。更有病已愈，而不久必死者。蓋邪氣雖去，而其人之元氣與病俱亡，一時雖若粗安，真氣不可復續，如兩虎相角，其一雖勝，而力已脫盡，雖良工亦　能救也。又有病不愈，而人亦不死者。蓋邪氣盛而元氣堅固，邪氣與元氣相併，大攻則恐傷其正，小攻則病不為動，如油入面，一合則不可復分，而又不至於傷生。此二者，皆人這所不知都民。其大端，則病氣入臟腑者，病與人俱盡者為多；病在經絡骨脈者，病與人俱存者為多。此乃內外輕重之別也。斯二者，方其病之始形，必有可徵之端，良工知之自，自有防微之法。既不使之與病俱亡，亦不使之終身愈，此非深通經義之人，必不能窮源極流，挽回於人所不見之地也。</p>

<h3>卒死論</h3>
<p>天下卒死之人甚多，其故不一。內中可救者，十之七八；不可救者，僅十之二三。惟一時不得良醫，故皆枉死耳。夫人內外無病，飲食行動如常，而忽然死者，其臟腑經絡本無受病之處，卒然感犯外邪，如惡風、穢氣、鬼邪、毒厲等物，閉寒氣道，一時不能轉動，則大氣阻絕，昏悶，迷惑，久而不通，則氣愈聚愈塞，如繫繩於頸，氣絕則死矣。若醫者，能知其所犯何故，以法治之，通其氣，驅其邪，則立愈矣。又有痰涎壅　塞，阻遏氣道而卒死者，通氣降痰則蘇，所謂痰厥之類是也。以前諸項，良醫皆能治之，惟臟絕之症，則不治。其人或勞心思慮，或酒不節，或房欲過度，或惱怒不常，五臟之內，精竭神衰，惟一線真元未斷，行動如常，偶有感觸，其元氣一時斷絕，氣脫神離，頃刻而死，既不可救，又不及救。此則卒死之最急，而不可治者也。至於暴遇神鬼，適逢冤譴，此又怪異之事，不在疾病之類矣。</p>

<h3>病有鬼神論</h3>
<p>人之受邪也，必有受之之處，有以召之，則應者斯至矣。夫人精神完固，則外邪不敢犯；惟其所以御之之具有虧，則侮之者斯集。凡疾病有為鬼神所憑者。其愚魯者，以為鬼神實能禍人；其明理者，以為病情如此，必無鬼神。二者皆非也。夫鬼神，猶風寒暑濕之邪耳。衛氣虛，則受寒；榮氣虛，則受熱；神氣虛，則受鬼。蓋人之神屬陽，陽衰，則鬼憑之。《內經》有五臟之病，則現五色之鬼。《難經》云：脫陽者見鬼。故經穴中有鬼床、鬼室等穴。此諸穴者，皆賴神氣以充塞之。若神氣有虧，則鬼神得而憑之，猶之風寒之能傷人也。故治寒者，壯其陽；治熱者，養其陰；治鬼者，充其神而已。其或有因痰、因思、因驚者，則當求其本而治之。故明理之士，必事事窮其故，乃能無所惑而有據，否則執一端之見，而昧事理之實，均屬憒憒矣。其外更有觸犯鬼神之病，則祈禱可愈。至於冤譴之鬼，則有數端。有自作之孽，深仇不可解者，有祖宗貽累者，有過誤害人者，其事皆鑿鑿可徵，似儒者所不道，然見於經史，如公子彭生伯有之類甚多，目睹者亦不少。此則非藥石祈禱所能免矣。</p>

<h3>腎虛非陰症論</h3>
<p>今之醫者，以其人房勞之後，或遺精之後，感冒風寒而發熱者，謂之陰症。病者遇此，亦自謂之陰症。不顧其現症何如，總用參、朮、附、桂、乾薑、地黃等溫熱峻補之藥，此可稱絕倒者也。夫所謂陰症者，寒邪中於三陰經也。房後感風，豈風寒必中腎經？即使中之，亦不過散少陰之風寒，如《傷寒論》中少陰發熱，仍用麻黃、細辛發表而已，豈有用辛熱溫補之法耶？若用溫補，則補其風寒於腎中矣。況陰虛之人而感風寒，亦必由太陽入，仍屬陽邪，其熱必甚，兼以燥悶煩渴，尤宜清熱散邪，豈可反用熱藥？若果直中三陰，則斷無壯熱之理，必有惡寒倦臥，厥冷喜熱等症，方可用溫散，然亦終無用滋補之法。即如傷寒瘥後，房事不慎，又發寒熱，謂之女勞復。此乃久虛之人，復患大症。依今人之見，尤宜峻補者也。而古人治之，用竹皮一升，煎湯服。然則無病而房後感風，更不宜用熱補矣。故凡治病之法，總視目前之現證現脈。如果六脈沉遲，表裡綿畏寒，的系三陰之寒證，即使其本領強壯，又絕欲十年，亦從陰治。若系所現脈證，的系陽邪，發熱煩渴，並無三陰之症，即使其人本體虛弱，又復房勞過度，亦從陽治。如《傷寒論》中陽明大熱之證，宜用葛根、白虎等方者。瞬息之間，轉入三陰，即改用溫補。若陽症轉陽症，亦即用涼散，此一定之法也。近世惟喻嘉言先生能知此義，有《寓意草》中黃長人之傷寒案可見。餘人皆不知之，其殺人可勝道哉！</p>

<h3>吐血不死咳嗽必死論</h3>
<p>今之醫者，謂吐血為虛勞之病，此大謬也。夫吐血有數種。大概咳者成勞。不咳者不成勞，間有吐時偶咳者，當其吐血之時，狼狽頗甚，吐血即痊，皆不成勞，何也？其吐血一止，則周身無病，飲食如故，而精神生矣。即使亡血之後，或陰虛內熱，或筋骨疼痛，綿可服藥而痊。若咳嗽則血止而病仍在，日嗽夜嗽，痰壅氣升，多則三年，少則一年而死知。蓋咳嗽不止，則腎中之元氣震盪不寧，肺為腎之母，母病則子亦病故也。又肺為五臟之華蓋。皆云：穀氣之胃，以傳於肺，五臟六腑，皆以受氣，其清者為營，濁者為衛，是則臟腑皆取精於肺。肺病，則不能輸精於臟腑，一年而臟腑皆枯，三年而臟腑竭矣，故咳嗽為真勞不治之疾也。然亦有咳嗽而不死者，其嗽亦有時稍緩，其飲食起居不甚變；又其人善於調攝，延至三年之後，起居如舊，間或一發，靜養即愈，此乃百中難得一者也。更有不咳之人，血證屢發，肝竭肺傷，亦變咳嗽，久而亦死。此則不善調攝，以輕變重也。執此以決血證之死生，百不一失矣。</p>

<h3>胎產論</h3>
<p>婦科之最重者二端，墮胎與難產耳。世之治墮胎者，往往純用滋補；治難產者，往往專於攻下。二者皆非也。蓋半產之故非一端，由於虛滑者，十之一二；由於內熱者，十之八九。蓋胎惟賴血以養，故得胎之後，經事不行者，因衝任之血皆為胎所吸，無餘血下行也。苟血或不足，則胎枯竭而下墮矣。其血所以不足之故，皆由內熱火盛，陽旺而陰虧也。故古人養胎之方，專以黃芩為主。又血之生，必由於脾胃。經云：營衛之首，納欲為寶，故又以白朮佐之。乃世之人，專以參耆補氣，熟地滯胃，氣旺則火盛，胃濕則不運，生化之源衰，而血益少矣。至於產育之事，乃天地化育之常，本無危險之理。險者千不得一，世之遭厄難者，乃人事之未工也。其法有乎產婦，不可令早用力。蓋胎必轉而後下，早用力，而胎先下墜，斷難舒轉，於是橫生倒產之害生。又用力，則胞漿驟下，胎已枯澀，何由能產？此病不但產子之家不知，即收生穩婦亦有不知者。至於用藥之法，則交骨不開，胎元不轉，種種諸症，各有專方。其外或宜潤，或宜降，或宜溫，或宜涼，亦當隨症施治。其大端以養血為主，蓋血足，則諸症自退也。至於易產強健之產婦，最多卒死。蓋大脫血之後，衝任空虛，經脈嬌脆，健婦不以為意。輕舉妄動，用力稍重，衝脈斷裂，氣冒血崩，死在頃刻。尤忌舉手上頭，如是死者，吾見極多。不知者以為奇異，實理之常。生產之家，不可不知也。</p>

<h3>病有不必服藥論</h3>
<p>天下之病，竟有不宜服藥者，如黃疸之類是也。黃疸之症，仲景原有煎方。然輕者用之俱效，而重者俱不效，何也？蓋疸之重者，其肋中有囊以裹黃水，其囊並無出路，藥只在囊外，不入囊中，所服之藥，非補邪，即傷正，故反有害。若輕病則囊尚未成，服藥有效。至囊成之後，則百無一效。必須用輕透之方，或破其囊，或消其水。另有秘方傳授，非泛然煎丸之所能治也。痰飲之病，亦有囊，常藥亦不能愈。外此如吐血久痞等疾，得藥之益者甚少，受藥誤者甚多。如無至穩必效之方，不過以身試藥，則寧以不服藥為中醫矣！</p>

<h2>方藥</h2>

<h3>方藥離合論</h3>
<p>方之與藥，似合而實離也。得天地之氣，成一物之性，各有功能，可以變易血氣，以除疾病，此藥之力也。然草木之性，與人殊體，入人腸胃，何以能如人之所欲，以致其效？聖人為之制方以調劑之，或用以專攻，或用以兼治，或相輔者，或相反者，或相用者，或相制者，故方之既成，能使藥各全其性，亦能使藥各失其性。操縱之法，有大權焉。此方之妙也。若夫按病用藥，藥雖切中，而立方無法，謂之有藥無方；或守一方以治病，方雖良善，而其藥有一二味與病不相關者，謂之有方無藥。譬之作書之法，用筆已工，而配合顛倒；與夫字形俱備，而點畫不成者，皆不得謂之能書。故善醫者分觀之，而無藥弗切於病情；合觀之，而無方不本於古法，然後用而弗效，則病之故也，非醫之罪也。而不然者，即偶或取效，隱害必多，則亦同於殺人而已矣。至於方之大小奇偶之法，則《內經》詳言之，茲不復贅云。</p>

<h3>古方加減論</h3>
<p>古人制方之義，微妙精詳，不可思議。蓋其審察病情，辨別經絡，參考藥性，斟酌輕重，其於所治之病，不爽毫髮。故不必有奇品異術，而沉痼艱險之疾，投之輒有神效，此漢以前之方也。但生民之疾病，不可勝窮，若必每病制一方，是曷有盡期乎？故古人即有加減之法，其病大端相同，而所現之症或不同，則不必更立一方，即於是方之內，因其現症之異，而為之加減。如《傷寒論》中，治太陽病用桂枝湯，若見項背強者，則用桂枝加葛根湯；喘者，則用桂枝加厚朴杏子湯；下後脈促胞滿者，桂枝去白芍湯；更惡寒者，去白芍加附子湯，此猶以藥為加減者也。若桂枝麻黃各半湯，則以兩方為加減矣。若發奔豚者用桂枝，為加桂枝湯，則又以藥之輕重為加減矣。然一二味加減，雖不易本方之名，而必明著其加減之藥。若桂枝湯倍用芍藥而加飴糖，則又不名桂枝加飴糖湯，而為建中湯。其藥雖同，而義已別，則立名亦異。古法之嚴如此。後之醫者，不識此義，而又欲託名用古，取古方中一二味，則即以某方目之。如用柴胡，則即曰小柴胡湯，不知小柴胡之力，全在人參也。用豬苓、澤瀉，即曰五苓散，不知五苓之妙，專在桂枝也。去其要藥，雜以他藥，而仍以其方目之。用而不效，不知自咎，或則歸咎於病，或則曰咎於藥，以為古方不可治今病，嗟呼！即使果識其病而用古方，支離零亂，豈有效乎？遂相戒以為古方難用，不知全失古方精義，故與病毫無益，而反有害也。然則，當何如？曰：能識病情與古方合者，則全用之；有別症，則據古法加減之；如不盡合，則依古方之法，將古方所用之藥，而去取損益之。必使無一藥之不對症，自然不倍於古人之法，而所投必有神效矣！</p>

<h3>方劑古今論</h3>
<p>後世之方已不知幾億萬矣，此皆不足以各方者也。昔者，聖人之制方也，推藥理之本原，識藥性之專能，察氣味之從逆，審臟腑之好惡，合君臣之配偶；而又探索病源，推求經絡。其思遠，其義精，味不過三四，而其用變化不窮。聖人這智，真與天地同體，非人之心思所能及也。上古至今，千聖相傳，無敢失墜。至張仲景先生，復申明用法，設為問難，註明主治之症，其《傷寒論》、《金匱要略》集千聖之大成，以承先而啟後，萬世不能出其範圍。此之謂古方，與《內經》並垂不朽者。其前後名家，如倉公、扁鵲、華佗、孫思邈諸人，各有師承，而淵源又與仲景微別，然猶自成一家。但不能與《靈》、《素》、《本草》一線相傳，為宗枝正脈耳。既而積習相仍，每著一書，必自撰方千百。唐時諸公，用藥雖博，已乏化機。至於宋人，並不知藥，其方亦板實膚淺。元時號稱極盛，各立門庭，徒騁私見。迨乎有明，蹈襲元人緒餘而已。今之醫者，動云古方，不知古方之稱，其指不一。若謂上古之方，則自仲景先生流傳以外無幾也；如謂宋元所制之方，則其可法可傳者絕少，不合法而荒謬者甚多，豈可奉為典章？若謂自明人以前，皆稱古方，則其方不下數百萬夫常用之藥，不過數百品，而為方數百萬隨拈幾味，皆已成方，何必定云某方也？嗟！嗟！古之方何其嚴，今之方何其易，其間亦有奇巧之法、用藥之妙，未必不能補古人之所未及，可備參考者。然其大經大法，則萬不能及。其中更有違經背法之方，反足貽害。安得有學之士為之擇而存之，集其大成，刪其無當，實千古之盛舉。余蓋有志而未遑矣！</p>

<h3>單方論</h3>
<p>單方者，藥不過一二味，治不過一二症，而其效則甚捷。用而不中，亦能害人，即世所謂漲上方者是也。其原起於本草。蓋古之聖人，辨藥物之性，則必著其功用，如逐風、逐寒、解毒、定痛之類。凡人所患之症，上一二端，則以一藥治之，藥專則力厚，自有奇效。若病兼數症，則必合數藥而成方。至後世藥品日增，單方日多，有效有不效矣。若夫外內之感，其中自有傳變之道，虛實之殊，久暫之別，深淺之分。及夫人性各殊，天時各異，此非守經達權者不能治。若皆以單方治之，則藥性專而無制，偏而不醇，有利必有害。故醫者不可以此嘗試，此經方之所以為貴也。然參考以廣識見，且為急救之備；或為專攻之法，是亦不可不知者也。</p>

<h3>禁方論</h3>
<p>天地有好生之德，聖人有大公之心，立方以治病，使天下共知這，豈非天地聖人之至願哉？然而方之有禁，則何也？其故有二：二則懼天下之輕視夫道也。夫經方之治病，視其人學問之高下，以為效驗，故或用之而愈，或用之而反害，變化無定，此大公之法也。若禁方者，義有所不解，機有所莫測。其傳也，往往出於奇人隱士，仙佛鬼神，其遇之也甚難，則愛護之必至。若輕以授人，必生輕易之心，所以方家往往愛惜，此乃人之情也。一則恐發天地之機也。禁方之藥，其製法必奇，其配合必巧，窮陰陽之柄，窺造化之機，其修合必虔誠敬慎，少犯禁忌，則藥無驗。若輕以示人，則氣泄而有不神，此又陰陽之理也。《靈樞》禁服篇：黃帝謂雷公曰：此先師這所禁，割臂歃血之盟也。故黃帝有蘭臺之藏，長桑君有無泄之戒，古聖皆然。若夫詭詐之人，專欲圖利，託名禁方，欺世惑眾。更有修煉熱藥，長欲導淫，名為養生，實速其死。此乃江湖惡習，聖人之所以誅也。又有古之禁方，傳之已廣，載入醫書中，與經方並垂，有識者自能擇之也。</p>

<h3>古今方劑大小論</h3>
<p>今人以古人氣體充實，故方劑分兩甚重，此無稽之說也。自三代至漢、晉，升斗權衡，雖有異同，以今較之，不過十分之二。（余親見漢時，有六升銅量，容今之一升二合。）如桂枝湯，傷寒大大劑也。桂枝、芍藥各三兩，甘草二兩，共八兩為一劑。在今只一兩六錢，又分三服，則一服不過五錢三仞零。他方有藥品多者，亦不過倍之而已。況古時之藥，醫者自備，俱用鮮者，分兩以鮮者為準，干則折算。如半夏、麥冬之類，皆生大而干小。至附子，則野生者甚小，後人種之乃肥大，皆有確證。今人每方必十餘味每味三四錢，則一劑重一三兩矣。更有熟地用至四兩一劑者，尤屬可怪。古丸藥如烏梅丸，每服如桐子大十丸，今秤不過二三分，今則用三四錢至七八錢矣。古末藥用方寸經匕，不過今之六七分，今服三四錢矣。古人用藥，分兩未嘗從重。（《周禮·遺人》凡萬民之食，食者人四鬴，六斗四升曰鬴，四鬴共二石五斗六升，為人一月之食，則每日食八升有餘矣。蓋一升只二合也。）二十年來，時醫誤閱古方，增重分兩，此風日熾。即使對病，無氣不勝藥力，亦必有害，況更與病相反，害不尤速乎？既不考古，又無師授，無怪乎其動成笑柄也。</p>

<h3>藥誤不即死論</h3>
<p>古人治法，無一方不對病，無一藥不對病。如是而病猶不愈，此乃病本不可愈，非醫之咎也。後世醫失其傳，病之名亦不能知，宜其胸中毫無所主也。凡一病有一病之名，如中風，總名也。其類有偏枯、痿痹、風痱、歷節之殊，而諸症之中，又各有數症，各有定名，各有主方。又如水腫，總名也。其類有皮水、正水、石水、風水之殊，而諸症又各有數症，各有定名，各有主方。凡病盡然。醫者必能實指其何名，遵古人所主何方，加減何藥，自有法度可循。乃不論何病，總以陰虛陽虛等籠之談概之，而試以籠統不切之藥。然亦竟有愈者。或其病本輕，適欲自愈。或偶有一二對症之藥，亦奏小效。皆屬誤治。其得免於殺人之名者，何也？蓋殺人之藥，必大毒，如砒鳩之類，或大熱大寒，峻厲之品。又適與病相反，服後立見其危。若尋常之品，不過不能愈病，或反增他病耳，不即死也，久而病氣自退，正氣自復，無不愈者。間有遷延日久，或隱受其害而死。更或屢換庸醫，遍試諸藥，久而病氣益深，元氣竭亦死。又有初因誤治，變成他病，展轉而死。又有始服有小效，久服太過，反增他病而死。蓋日日診視，小效則以為可愈，小劇又以為難治，並無誤治之形，確有誤治之實。病家以為病久不痊，自然不起，非醫之咎，因其不即死，而不之罪。其實則真殺之而不覺也。若夫誤投峻厲相反之藥，服後顯然為害，此其殺人，人人能知之矣；惟誤服參附峻厲之藥，而即死者，則病家之所甘心，必不歸咎於醫。故醫者雖自知其誤，必不以此為戒，而易其術也。</p>

<h3>藥石性同用異論</h3>
<p>一藥有一藥之性情功效，其藥能治某病，古方中用之以治某病，此顯而易見者。然一藥不止一方用之，他方用之亦效，何也？蓋藥之功用，不止一端。在北方，則取其此長；在彼方，則取其彼長。真知其功效之實，自能曲中病情，而得其力。迨至後世，一藥所治之病愈多而亦效者，蓋古人尚未盡知之，後人屢試而後知，所以歷代本草所注藥性，較之《神農本經》所注功用增益數倍，蓋以此也。但其中有當有不當，不若《神農本草》字字精切耳。又同一熱藥，而附子之熱，與乾薑之熱，迥乎不同；同一寒藥，而石膏之寒，與黃連之寒，迥乎不同。一或誤用，禍害立至。蓋古人用藥之法，並不專取其寒熱溫涼補瀉之性也。或取其氣，或取其味，或取其色，或取其形，或取其所生之方，或取嗜好之偏，其藥似與病情之寒熱溫涼補瀉若不相關，而投之反有神效。古方中如此者，不可枚舉。學者必將《神農本草》字字求其精義之所在，而參以仲景諸方，則聖人之精理自能洞曉。而已之立方，亦必有奇思妙想，深入病機，而天下無難治之症也。</p>

<h3>劫劑論</h3>
<p>世有奸醫，利人之財，取效於一時，不顧人之生死者，謂之劫劑。劫劑者，以重藥奪截邪氣也。夫邪之中人，不能使之一時即出，必漸消漸托而後盡焉。今欲一日見效，勢必用貓厴之藥，與邪相爭；或用峻補之藥，遏抑邪氣。藥猛　厲，則邪氣暫伏，而正亦傷；藥峻補，則正氣驟發，而邪內陷。一時似乎有效，及至藥力盡，而邪復來，元氣已大壞矣。如病者身熱甚，不散其熱，而以沉寒之藥遏之。腹痛甚，不求其因，而以香燥御之。瀉痢甚，不去其積，而以收斂之藥塞之之類，此峻厲之法也。若邪盛而投以大劑參附，一時陽氣大旺，病氣必潛藏，自然神氣略定，越一二日，元氣與邪氣相併，反助邪而肆其毒，為禍尤烈，此峻補之法也。此等害人之術，奸醫以此欺人而騙財者十之五。庸醫不知，而效尤以害人者，亦十之五。為醫者可不自省，病家亦不可不察也。</p>

<h3>製藥論</h3>
<p>製藥之法，古方甚少，而最詳於宋之雷斅，今世所傳《雷公炮炙論》是也。後世製藥之法，日我一日，內中亦有至無理者，固不可從；若其微妙之處，實有精義存焉。凡物氣厚力大者，無有不偏，偏則有利必有害。欲取其利，而去其害，則用法以制之，則藥性之偏者醇矣。其制之義又各不同，或以相反為制，或以相資為制，或以相惡為制，或以相畏為制，或以相喜為制。而製法又復不同，或制其形，或制其性，或制其味，或制其質，此皆巧於用藥之法也。古方製藥無多，其立方之法，配合氣性，如桂枝湯中用白芍，亦即有相制之理，故不必每藥制之也。若後世好奇眩異之人，必求貴重怪僻之物，其製法大費工本，以神其說。此乃好奇尚異之人造作，以欺誑富貴人之法，不足憑也。惟平和而有理者，為可從耳。</p>

<h3>人參論</h3>
<p>天下之害人，者殺其身，未必破其家。破其家，未必殺其身。先破人之家，而後殺其身者，人參也。夫人參用之而當，實能補養元氣，拯救危險。然不可謂天下之死人皆能生之也。其為物，氣盛而力厚，不論風寒暑濕、痰火鬱結皆能補塞。故病人如果邪去正衰，用之固宜。或邪微而正亦憊，或邪深而正氣怯弱，不能逐之於外，則於除邪藥中投之，以為驅邪之助。然又必審其輕重而後用之，自然有扶危定傾之功。乃不察其有邪無邪，是虛是實，又佐以純補溫熱之品，將邪氣盡行補住。輕者邪氣永不復出，重者即死矣。夫醫者之所以遇疾即用，。而病家服之死而無悔者，何也？蓋愚人之心，皆以價貴為良藥，價賤為劣藥。而常人之情，無不好補而惡攻。故服參而死，即使明知其誤，然以為服人參而死，則醫者之力已竭，而人子之心已盡，此命數使然，可以無恨矣。若服攻削之藥而死，即使用藥不誤，病實難治，而醫者之罪，已不可勝誅矣。故人參者，乃醫家邀功避罪之聖藥也。病家如此，醫家如此，而害人無窮矣！更有駭者，或以用人參為冠冕，或以用人參為有力量；又因其貴重，深信以為必能挽回造化，故毅然用之。孰知人參一用，凡平凡這有邪者即死，其不死者，亦終身不得愈乎？其破家之故，何也？蓋向日之人參，不過一二換，多者三四換。今則其價十倍，其所服，又非一錢二錢而止。小康之家，服二三兩，而家已蕩然矣。夫人情於死生之際，何求不得，寧恤破家乎？醫者全不一念，輕將人參立方。用而不遵在父為不慈，在子為不孝，在夫婦昆弟為忍心害理，並有親戚朋友責罰痛罵，即使明知無益，姑以此塞責。又有孝之慈父，幸甚或生，竭力以謀之，遂使貧窶之家，病或稍愈，一家終身凍餒。若仍不救，棺殮俱無，賣妻鬻子，全家覆敗。醫者誤治，殺人可恕，而逞己之意，日日害人破家，其惡甚於盜賊，可不慎哉！吾願天下之人，斷不可以人參為起死回生之藥而必服之。醫者，必審其病，實系純虛，非參不治，服必萬全，然後用之。又必量其家業，尚可以支持，不至用參之後，死生無靠，然後節省用之。一以惜物力，一以全人之命，一以保人之家。如此存心，自然天降之福。若如近日之醫，殺命破家於人不知之地，恐天之降禍，亦在人不知之地也，可不慎哉！</p>

<h3>用藥如用兵論</h3>
<p>聖人之所以全民生也，五穀為養，五果為助，五畜為益，五菜為充，而毒藥則以之攻邪。故雖甘草、人參，誤用致害，皆毒藥之類也。古人好服食者，必生奇疾，猶之好戰勝者，必有奇殃。是故兵之設也以除暴，不得已而後興；藥之設也以攻疾，亦不得已而後用，其道同也。故病之為患也，小則耗精，大能傷命，隱然一敵國也。以草木偏性，攻臟腑之偏勝，必能知彼知己，多方以制之，而後天喪身殞命之憂。是故傳經之邪，而先奪其未至，則所以斷敵之要道也；橫暴之疾，而急保其未病，則所以守我之岩疆也；挾宿食而病者，先除其食，則敵之資糧已焚；合舊疾而發者，必防其並，則敵之內應既絕。辨經絡而無泛用之藥，此之謂嚮導之師。因寒熱而有反用之方，此之謂行間之術。一病而分治之，則用寡可以勝眾，使前後不相救，而勢自衰。數病而合治之，則併力搗其中堅，使離散無所統，而眾悉潰。病方進，則不治其太甚，固守元氣所以老其師；病方衰，則必究其所之，更益精銳，所以搗其穴。若夫虛邪之體攻河過，本和平之藥而以峻藥補之，衰敝之日不可窮民力也；實邪之傷攻不可緩，用峻厲之藥而以常藥和之，富強之國可以振威武也。然而選材必當，器械必良，剋期不衍，布陣有方，此又不可更僕數也。孫武子十三篇，治病之法盡之矣。</p>

<h3>執方治病論</h3>
<p>古人用藥立方，先陳列病症，然後云某方主之。若其症少用出入，則有加減之法，附於後方。可知方中之藥，必與所現之症纖悉皆合，無一味虛設，乃用此方毫無通融也。又有一病而云某方亦主之者，其方或稍有異同，或竟不同，可知一病並不止一方所能治。今乃病名稍似，而其中之現症全然不同，乃立以此方施治，則其藥皆不對症矣。並有病名雖一，病形相反，亦用此方，則其中盡屬相反之藥矣。總之，欲用古方，必先審病者所患之症，悉與古方前所陳列之症皆合。更檢方中所用之藥，無一不與所現之症相合，然後施用，否則必須加減。無可加減，則另擇一方，斷不可道聽途說，聞某方可以治某病，不論其因之異同，症之出入，而冒昧施治。雖所用悉本於古方，而害益大矣。</p>

<h3>湯藥不足盡病論</h3>
<p>《內經》治病之法，針灸為本，而佐之以砭石、熨浴、導引、按摩、酒醴等法。病各有宜，缺一不可。蓋服藥之功，入腸胃而氣四達，未嘗不能行於臟腑經絡。若邪在筋骨肌肉之中，則病屬有形，藥之氣味，不能奏功也。故必用針灸等法，即從病之所在，調其血氣，逐其風寒，為實而可據也。況即以服藥論，止用湯劑，亦不能盡病。蓋湯者，蕩也，其行速，其質輕，其力易過而不留，惟病在榮衛腸胃者，其效更速。其餘諸病，有宜丸、宜散、宜膏者，必醫者預備，以待一時急用，視其病之所在，而委曲施治，則病無遁形。故天下無難治之症，而所投輒有神效。扁鵲、倉公所謂禁方者是也。若今之醫者，只以一煎方為治，惟病後調理則用滋補丸散，盡廢聖人之良法。即使用藥不誤，而與病不相入，則終難取效。故扁鵲云：人之所患，患病多；醫之所患，患道少。近日病變愈多，而醫家之道愈少，此痼疾之所以日多也。</p>

<h3>本草古今論</h3>
<p>本草之始，昉於神農，藥止三百六十品。此乃開天之聖人，與天地為一體，實能探造化之精，窮萬物之理，字字精確，非若後人推測而知之者。故對症施治，其應若響。仲景諸方之藥，悉本此書。藥品不多，而神明變化，已無病不治矣。迨其後，藥味日多，至隱弘景倍之，而為七百二十品。後世日增一日。凡華夷之奇草逸品，試而有效，醫家皆取而用之，肛有成書。至明·李時珍，增皆取而用之，代有成書。至明·李時珍，增益唐慎微《證類本草》為《綱目》，考其異同，辨其真偽，原其生產，集諸家之說，而本草更大備。此藥味由少而多之故也。至其功用，則亦後人試驗而知之，故其所治之病益廣。然皆不若《神農本草》之純正真確。故宋人有云：用神農之品無不效，而弘景所增已不甚效，若後世所增之藥則萬有不足憑者。至其詮釋，大半皆視古方用此藥醫某病，則增注之。或古方治某病，其藥不止一品，而誤以方中此藥為專治此病者有之。更有己意推測而知者。又或偶愈一病，實非此藥之功，而強著其效者。種種難信。至張潔古、李東垣輩，以某藥專派入某經，則更穿鑿矣，共詳在治病不必分經絡臟腑篇。故論本草，必以神農為本，而他說則必審擇而從之。更必驗之於病而後信。又必考古方中所曾用者，用可採取，余則只可於單方外治之法用之。又有後世所謂之奇藥，或出於深山窮谷，或出於殊方異域，前世所未嘗有者，後人用之，往往有奇效。此乃偏方異氣之所鍾，造物之機，久而愈泄，能治古方所不能治之奇病。博物君子，亦宜識之，以廣見聞，此又在本草之外者矣。</p>

<h3>藥性變遷論</h3>
<p>古方所用之藥，當時效驗顯著，而本草載其功用鑿鑿者，今依方施用，竟有應與不應，其故何哉？蓋有數端焉：一則地氣之殊也。當時初用之始，必有所產之地，此乃其本生之土，故氣厚而力全；以後傳種他方，則地氣移而力薄矣。一則種類之異也。凡物之種類不一，古人所採，必至貴之種。後世相傳，必擇其易於繁衍者而種之，未必皆種之至貴者。物雖非偽，而種則殊矣。一則天生與人力之異也。當時所採，皆生於山谷之中，元氣未泄，故得氣獨厚。今皆人功種植，既非山谷之真氣，又加灌溉之功，則性平淡而薄劣矣。一則名實之訛也。當時藥不市賣，皆醫者自取而備之。迨其後，有不常用之品，後人欲得而用之，尋求採訪，或誤以他物充之，或以別種代之。又肆中未備，以近似者欺人取利，此藥遂失其真矣。其變遷之因，實非一端。藥性既殊，即審病極真，處方極當，奈其藥非當時之藥，即效亦不可必矣。今之醫者，惟知定方，其藥則惟病家取之肆中，所以真假莫辨。雖有神醫，不能以假藥治真病也。</p>

<h3>藥性專長論</h3>
<p>藥之治病，有可解者，有不可解者。如性熱能治寒，性燥能治濕。芳香則通氣，滋潤則生津，此可解者也。如同一發散也，而桂枝則散太陽之邪，柴胡則散少陽之邪。同一滋陰也，而麥冬則滋肺之陰，生地則滋腎之陰。同一解毒也，而雄黃則解蛇蟲之毒，甘草則解飲食之毒，已有不可盡解者。至如鱉甲之消痞塊，使君子之殺蛔蟲，赤小豆之消膚腫，蕤仁生服不眠，熟服多眠，白鶴花之不腐肉而腐骨，則萬不可解者。此乃藥性之專長，即所謂單方秘方也。然人只知不可解者之為專長，而不知常用藥之中，亦各有專長之功。後人或不知之，而不能用，或日用而忽焉，皆不能盡收藥之功效者也。知醫者，當廣集奇方，深明藥理，然後奇症當前，皆有治法，變化不窮。當年神農著《本草》之時，既不能睹形而即識其性，又不可每藥歷試而知，竟能深識其功能，而所投必效，豈非與造化相為默契，而非後人思慮之所能及者乎？</p>

<h3>煎藥法論</h3>
<p>煎藥之法，最宜深講，藥之效不效，全在乎此。夫烹飪禽魚羊豕，失其調度，尚能損人，況藥專以之治病，而可不講乎？其法載於古方之末者，種種各殊。如麻黃湯，先煎麻黃去沫，然後加余藥同煎，此主藥當先煎之法也。而桂枝湯，又不必先煎桂枝，服藥後，須啜熱粥以助藥力，又一法也。如茯苓桂枝甘草大棗湯，則以甘瀾水先煎茯苓。如五苓散，則以白飲和服，服後又當多飲暖水。小建中湯，則先煎五味，去渣而後納飴糖。大柴胡湯，則先煎五味，去渣而後納飴糖。大柴胡湯，則煎減半，去渣再煎。柴胡加龍骨牡蠣湯，則煎藥成而後納大黃。其煎之多寡，或煎水減半，或十分煎去二三分，或止煎一二十沸，煎藥之法，不可勝者，皆各有意義。大者發散之藥，及芳香之藥，不宜多煎，取其生而疏蕩；補益滋膩之藥，宜多煎，取其熟而停蓄。此其總訣也。故方藥雖中病，而煎法失度，其藥必無效。蓋病家之常服藥者，或尚能依法為之；其粗魯貧苦之家，安能如法制度，所以病難愈也。若今之醫者，亦不能知之矣，況病家乎？</p>

<h3>服藥法論</h3>
<p>病之愈不愈，不但方必中病，方雖中病；而服之不得其法，則非特無功，而反有害，此不可不知也。如發散之劑，欲驅風寒出之於外，必熱服，而暖覆其體，令藥氣行於榮衛，熱氣周遍，挾風寒而從汗解。若半溫而飲之，仍當風坐立，或公寂然安臥，則藥留腸胃，不能得汗，風寒無暗消之理，而榮氣反為風藥所傷矣。能利之藥，欲其化積滯而達之於下也，必空腹頓服，使藥性鼓動，推其垢濁從大便解。若與飲食雜投，則新舊混雜，而藥氣與食物相亂，則氣性不專，而食積愈頑矣。故《傷寒論》等書，服藥之法，宜熱宜溫，宜涼宜冷，宜緩宜急，宜多宜少，宜早宜晚，宜飽宜飢，更有宜湯不宜散，宜散不宜丸，宜膏不宜圓。其輕重大小，上下表里，治法各有當。此皆一定之至理，深思其義，必其得於心也。</p>

<h3>醫必備藥論</h3>
<p>古之醫者，所用之藥皆自備之。《內經》云：司氣備物，則無遺主矣。當時韓康賣藥，非賣藥也，即治病也。韓文公《進學解》云：牛溲、馬渤、敗鼓之皮，俱收並蓄，特用無遺，醫師之良也。今北方人稱醫者為賣藥先生，則醫者之自備藥可知。自宋以後，漸有寫方不備藥之醫，其藥皆取之肆中，今則舉世皆然。夫賣藥者不知醫，猶之可也。乃行醫者竟不知藥，則藥之是非真偽，全然不同，醫者與藥不相謀，方即不誤，而藥之誤多矣。又古聖人之治病，惟感冒之疾，則以煎劑為主，余者皆用丸散為多。其丸散，有非一時所能合者。倘有急迫之疾，必須丸散，俟丸散合就，而人已死矣。又有一病只須一丸而愈，合藥不可只合一丸。若使病家為一人而合一料，則一丸之外，皆為無用。惟醫家合之，留待當用者用之，不終棄也。又有不常用，不易得之藥，儲之數年，難遇一用，藥肆之中，因無人問，則亦不備。惟醫者自蓄之，乃可待不時之需耳。至於外科所用之煎方，不過通散營衛耳。若護心托毒，全賴各種丸散之力，其藥皆貴重難得。及鍛鍊之物，修合非一二日之功，而所費又大，亦不得為一人只合一二丸。若外治之圍藥、塗藥、升藥、降藥，護肌腐肉，止血行瘀，定痛煞癢，提膿呼毒，生肉生皮，續筋連骨；又有薰蒸烙灸，吊洗點溻等藥，種種各異，更復每症不同，皆非一時所得備，尤必須平時預合。乃今之醫者，既不知其方，亦不講其法；又資本以蓄藥料，偶遇一大症，內科則一煎方之外，更無別方；外科則膏藥之外，更無餘藥。即有之，亦惟取極賤極易得之一二味，以為應酬之具，則安能使極危、極險、極奇、極惡之症，令起死回生乎？故藥者，醫家不可不全備者也。</p>

<h3>乩方論</h3>
<p>世有書符請仙而求方者，其所書之方，固有極淺、極陋、極不典，而不能治病且誤人者；亦有極高、極古、極奇、極穩，以之治病而神效者。其仙或託名呂純陽，或託名張仲景。其方亦宛然純陽、仲景之遺法。此其事甚奇，然亦有理焉。夫乩者，機也。人心之感召，無所不通，既慶心於求治，則必又能治病之鬼神應之。雖非真純陽、仲景，必先世之明於醫理，不遇於時而死者，其精靈一時不散，遊行於天地之間，因感而至，以顯其能，而其人病適當愈，則獲遇之，此亦有其理也。其方未必盡效，然皆必有意義，反不若世之時醫，用相反之藥以害人。惟決死生之處，不肯鑿鑿言之，此則天機不輕泄之故也。至於不通不典之方，則秘持乩之術不工，或病家之心不誠，非真乩方也。</p>

<h3>熱藥誤人最烈論</h3>
<p>凡藥之誤人，雖不中病，非與病相反者，不能殺人。即與病相反，藥性平和者，不能殺人。與病相反，性又不平和，而用藥甚輕，不能殺人。性既相反，藥劑又重，其方中有幾味中病者，或有幾味能解此藥性者，亦不能殺人。兼此數害，或其人病甚輕，或其人精力壯盛，亦不能殺人。蓋誤藥殺人，如此之難也，所以世之醫者，大半皆誤，亦不見其日殺數人也。即使殺之，乃輾轉因循，以至於死，死者不覺也。其有幸而不死，或漸自愈者，反指所誤用之藥以為此方之功效，又轉以之誤治他人矣。所以終身誤人，而不自知其咎也。惟大熱大燥之藥，則殺人為最烈。蓋熱性之藥，往往有毒；又陽性急暴，一入臟腑，則血湧氣升。若欺　之陰氣本虛，或當天時酷暑，或其人傷暑傷熱，一投熱劑，兩火相爭，目赤便閉，舌燥齒乾，口渴心煩，肌裂神躁，種種惡候，一時俱發。醫者及病傢俱不察，或云更宜引火歸元，或云此是陰症，當加重其熱藥，而佐以大補之品。其人七竅皆血，呼號宛轉，狀如服毒而死。病家全不以為咎，醫者亦洋洋自得，以為病勢當然。總之，愚人喜服補熱，雖死不悔。我目中所見不一垂涕泣而道之，而醫者與病家，無一能聽從者，豈非所謂命哉！夫大寒之藥，亦能殺人，其勢必緩，猶為可救；不若大熱之藥，斷斷不可救也。至於極輕淡之藥，誤用亦能殺人，此乃其人之本領甚薄，或勢已危殆。故小誤即能生變，此又不可全歸咎於醫殺之了。</p>

<h3>薄貼論</h3>
<p>今所用之膏藥，古人謂之薄貼。其用大端有二：一以治表，一以治里。治表者，如呼膿去腐，止痛生肌，並摭風護肉之類。其膏宜輕薄而日換，此理人所易知；治里者，或驅風寒，或和氣血，或消痰痞，或壯筋骨，其方甚多，藥亦隨病加減。其膏宜重厚而久貼，此理人所難知，何也？蓋人之疾病，由外以入內，其流行於經絡臟腑者，必服藥乃能驅之。若其病既有定所，在於皮膚筋骨之間，可按而得者，用膏貼之，閉塞其氣，使藥性從毛孔而入其腠理，通經貫絡，或提而出之，或攻而散之，較之服藥尤有力，此至妙之法也。故凡病之氣聚血結而有形者，薄貼之法為良。但制膏之法，取藥必真，心志必誠，火候必至，方能有效，否則不能奏功。至於敷熨吊溻種種雜法，義亦相同，在善醫者通變之而已。</p>

<h3>貌似古方欺人論</h3>
<p>古聖人之立方，不過四五味而目。其審藥性，至精至當；其察病情，至真至確。方中所用之藥，必准對其病，而無毫髮之差，無一味泛用之藥，且能以一藥兼治數症，故其藥味雖少，而無症不該。後世之人，果能審其人之病，與古方所治之病無少異，則全用古方治之，無不立效。其如天下之風氣各殊，人之氣稟各異，則不得不依古人所制主病之方，略為增減，則藥味增矣。又或病同而症甚雜，未免欲兼顧，則隨症增一二味，而藥又增矣。故後世之方，藥味增多，非其好為雜亂也。乃學不如古人，不能以一藥該數症，故變簡而為繁耳。此猶不失周詳之意。且古方之設，原有加減之法，病症雜出，亦有多品之劑，藥味至十餘種。自唐以後之方，用藥漸多，皆此義也。乃近世之醫，動云效法漢方，藥止四五味，其四五鼓掌之藥，有用浮泛輕淡之品者，雖不中病，猶無大害。若趨時之輩，竟以人參、附子、乾薑、蒼朮、鹿茸、熟地等峻補辛熱之品，不論傷寒、暑濕，惟此數種輪流轉換，以成一方，種種與病相反，每試必殺人，毫不自悔，既不辨病，又不審藥性，更不記方書，以為此乃漢人之法。嗚呼！今之所學漢人之方，何其害人如此之毒也！其端起於近日之時醫，好為高論以欺人；又人情樂於溫補，而富貴之家尤甚。不如是則道不行，所以人爭效尤，以致貽害不息。安有讀書考古，深思體驗之君子，出而挽回之，亦世道生民之大幸也！</p>

<h1>卷下</h1>

<h2>治法</h2>

<h3>司天運氣論</h3>
<p>邪說之外，有欺人之學，有耳食之學。何謂欺空之學？好為高談奇論，以駭人聽聞；或剿襲前人之語，以示淵博，彼亦自知其為全然不解，但量他人亦莫這能深考也。此為欺人之學。何謂耳食之學？或竊聽他人之說，或偶閱先古之書，略記數語，自信為已得其秘，大言不慚，以此動眾，所謂道聽途說是也。如近人所談司天運氣之類是也。彼所謂司天運氣者，以為何氣司天，則是年民當何病。假如厥陰司天，風氣主之，則是年之病，皆當作風治。此等議論，所謂耳食也。蓋司天運氣之說，黃帝不過言天人相應之理如此，其應驗先候於脈。凡遇少陰司天，則兩手寸口不應。厥陰司天，則右寸不應。大陰司天，則左寸不應。若在泉，則尺脈不應，亦如之。若脈不當不其位，則病相反者死，此診脈之一法也。至於病，則必觀是年歲氣勝與不勝。如厥陰司天，風淫所勝，民病心痛脅滿等症。倘是年風淫雖勝，而民另生他病，則不得亦指為風淫之病也。若是年風淫不勝，則又不當從風治矣。經又云：相火這下，水氣乘之；水位之下，火氣乘之。五氣之勝皆然。此乃亢則害，承乃制之理。即使果勝，亦有相剋者乘之，更與司天之氣相反矣。又云：初氣終三氣，天氣主之，勝之常也；四氣盡終氣，地氣主之，復之常也。有勝則復，無勝則否。則歲半以前屬司天，歲半以後又屬在泉，其中又有勝不勝之殊，其病更無定矣。又云：厥陰司天，左少陰，右太陽，謂之左間、右間。六氣皆有左右間，每間主六十日，是一歲之中，復有六氣循環作主矣。其外能南政、北政之反其位，天符歲會三合之不齊，太過不及之異氣。欲辨明分晰，終年不能盡其蘊。當時聖人不過言天地之氣，運行旋轉如此耳。至於人之得病，則豈能一一與之盡合？一歲之中，不許有一人生他病乎？故《內經》治歲氣勝復，亦不分所以得病之因。總之，見病治病，如風淫於內，則治以辛涼，六氣皆有簡便易守之法。又云：治諸勝復，寒者熱之，熱者寒之，溫者清之，清者溫之，無問其數，以平為期。何等劃一。凡運氣之道，言其深者，聖人有所不能知；及施之實用，則平正通達，人人易曉。但不若今之醫者所云，何氣司天，則生何病，正與《內經》圓機活法相背耳。</p>

<h3>醫道通治道論</h3>
<p>治身猶治天下也。天下之亂，有由乎天者，有由乎人者。由乎天者，如夏商水旱之災是也；由乎人者，如歷代季世之變是也。而人之病，有由乎先天者，有由乎後天者。由乎先天者，其人生而虛弱柔脆是也；由乎後天者，六淫之害，七情之感是也。先天之病，非其人之善養與服大藥，不能免於夭折。猶之天生之亂，非大聖大賢，不能平也。後天之平凡，乃風寒暑濕火燥之疾，所謂外患也；喜怒憂思悲驚恐之害，所謂內憂也。治外患者以攻勝。四郊不靖，而選將出師，速驅除之可也；臨辟雍而講禮樂，則敵在門矣。故邪氣未盡，則輕而用補者，使邪氣內入而亡。治內傷者以養勝。綱紀不正，而崇儒講道，徐化導之可也；若任刑罰而嚴誅戮，則禍益深矣。故正氣不足，而輕用攻者，使其正氣消盡而亡。然而大盛之世，不無玩民，故刑罰不廢，則補中之攻也。然使以小寇而遽起戎兵，是擾民矣。故補中之攻，不可過也。徵誅之年，亦修內政，故教養不弛，則攻中之補也。然以戎首而稍存姑息，則養矣。故攻中之補，不可誤也。天下大事，以天下全力為之，則事不墮；天下小事，以一人從容處之，則事不擾。患大病以大藥制之，則病氣無餘；患小病以小方處之，則正氣不傷。然而施治有時，先後有序，大小有方，輕重有度，疏密有數，純而不雜，整而不亂。所用之藥，各得其性，則器使之道。所處之方，各得其理，則調度之法。能即小以喻大，誰謂良醫之法，不可通於良相也？</p>

<h3>五方異治論</h3>
<p>人稟天地之氣以生，故其氣體隨地不同。西北之人，氣深而厚，凡受風寒，難於透出，宜用疏通重劑；東南之人，氣浮而薄，凡遇風寒，易於疏泄，宜用疏通輕劑。又西北地寒，當用溫熱之藥，然或有邪蘊於中，而內反熱，則用辛寒為宜；東南地溫，當用清涼之品，然或有氣邪隨散，則易於亡陽，又當用辛溫為宜。至交廣之地，則汗出無度，亡陽尤易，附桂為常用之品。若中州之卑濕，山陝之高燥，皆當隨地制宜。故入其境，必問水土風俗而細調之，不但各府各別，即一縣之中風氣亦有迥殊者。並有所產之物，所出之泉，皆能致病，土人皆有極效之方，皆宜詳審訪察。若恃己之能，執己之見，治竟無功，反為土人所笑矣！</p>
<p>湖州長興縣有合溪，小兒飲此水，則腹中生痞。土人治法，用錢掛頸，以兩頭按乳頭上，剪斷，即將此線掛轉，將兩頭向背脊上，一併拽齊。線頭盡處將黑點記脊上，用艾灸之，或三壯，或七壯好消，永不再發。服藥無效。</p>

<h3>病隨國運論</h3>
<p>天地之氣運，數百年一更易，而國家這氣運亦應之。上古無論，即以近代言，如宋之末造，中原失陷，主弱臣弛，張潔古、李東垣輩立方，皆以補中宮，健脾胃，用剛燥扶陽之藥為主，《局方》亦然。至於明季，主暗臣專，膏澤不下於民，故丹溪以下諸醫，皆以補陰益下為主。至我本運錄極隆之會，聖聖相承，大權獨攬，朝綱整肅，惠澤旁流，此陽盛於上之明徵也。又冠飾朱纓，口燔菸草，五行惟火獨旺，故其為病，皆屬盛陽上越之證，數十年前，云間老醫知此義者，往往專以芩、連、知、柏，挽回誤投溫補之人，應手奇效，此實與運氣相符。近人不知此理，非惟不能隨症施治，並執寧過溫熱，毋過寒冷之說。偏於溫熱，又我矯枉過正之論。如中暑一症，或有伏陰在內者，當用大順散、理中湯，此乃千中之一。今則不論何人，凡屬中暑，皆用理中等湯，我目睹七竅皆裂而死者，不可勝數。至於託言祖述東垣，用蒼朮等燥藥者，舉國皆然。此等惡習，皆由不知天時國運之理，誤引舊說以害人也。故古人：不知天、地、人者，不可以為醫。</p>

<h3>針灸失傳論</h3>
<p>《靈》、《素》兩經，其詳論臟腑經穴疾病等說，為針法言者，十之七八。為方藥言者，十之二三。上古之重針法如此，然針道而方藥易，病者亦樂於服藥，而苦於針。所以後世方藥盛行，而針法不講。今之為針者，其顯然之失有十，而精微尚不與焉。兩經所言，十二經之出入起止，淺深左右，交錯不齊；其穴隨經上下，亦參差無定。今人只執同身寸，依左右一直豎量，並不依經曲折，則經非經而穴非穴，此一失也。兩經治病，云某病取某穴者固多，其餘則指經而不指穴。如《靈樞》終始篇云：人迎一盛，瀉足少陽，補足厥陰；厥病篇云：厥頭痛，或取足陽明、太陰，或取手少陽、足少陰；耳聾取手陽明，嗌乾取足少陰。皆不言其穴，其中又有瀉子補母等義。今則每病指定幾穴，此二失也。兩經論治，井、滎、輸、經、合最重。冬刺井，春刺滎，夏刺輸，長夏刺經，秋刺合。凡只言某經，而不言某穴者，大者皆指井滎五者為言。今則皆不講矣，此三失也。補瀉之法《內經》云：吸側內針，無令氣忤；靜以久留，無令邪布。吸則轉針，以得氣為故；候呼引針，呼盡乃去，大氣皆出為瀉。呼盡內針，靜以久留，以氣至為故；候吸引針，氣不得出，各在其處，推闔其門，令神氣存，大氣留止為補。又必迎其經氣，疾內而徐出，不按其痏為瀉；隨其經氣，徐內而疾出，即按其痏為補。其法多端。今則轉針之時，以大指出為瀉，搓入為補，此四失也。納針之後，必候其氣。刺實者，陰氣隆至乃去針；刺虛者，陽氣隆至乃出針。氣不至，無問其數，氣至即去之，勿復針。《難經》云：先以左手壓按所針之處，彈而努之，爪而下之。其氣來如動脈之狀，順而刺之。得氣因推內之，是謂補。動而伸之，是謂瀉。今則時時轉動，俟針下寬轉，而後出針，不問氣之至與不至，此五失也。凡針之深淺，隨時不同。春氣在毛，夏氣在皮膚，秋氣在肌肉，冬氣在筋骨，故春夏刺淺，秋冬制深，反此有害。今則不論四時，分寸各有定數，此六失也。古之用針，凡瘧疾、傷寒、寒熱咳嗽，一切臟腑七竅等病，無所不治。今則只治經脈形體痿痹屈伸等病而已，此七失也。古人刺法，取血甚多，《靈樞》血絡論言之最詳。而頭痛腰痛，尤必大瀉其血，凡血絡有邪者，必盡去之。若血射出而黑，必令變色，見赤血而止，否則病不除而反有害。今人則偶爾見血，病者醫者已惶恐失據，病何由除？此八失也。《內經》刺法，有九變十二節。九變者，輸刺、遠道刺、經刺、絡刺、分刺、大寫刺、毛刺、巨刺、淬刺。十二節者，偶刺、報刺、恢刺、齊刺、揚刺、直針刺、輸刺、短刺、浮刺、陰刺、傍刺、贊刺。以上二十一法，視病所宜，不可更易，一法不備，則一病不愈。今則只直刺一法，此九失也。古之針制有九：鑱針、員針、鍉針、鋒針、鈹針、員利針、毫針、長針、大針，亦隨病所宜而用，一失其制，則病不應。今則大者如員針，小者如毫針而已，豈能治痼疾暴氣？此十失也。其大端之失已如引，而其成尤要者，更在神志專一，手法精嚴。經云：神在秋毫，屬意病者，審視血脈，刺之無殆。又云：經氣已至，慎守勿失，深淺在志，遠近若一，如臨深淵，手如握虎，神無營於眾物。又云：伏如橫弩，起如發機。其專精敏妙如此。今之醫者，隨手下針，漫不經意，即使針法如古，志不凝而機不達，猶恐無效，況乎全與古法相背乎？其外更有先後之序，迎隨之異，貴賤之殊，勞逸之分，肥瘦之度，多少之數，更僕難窮。果能潛心體察，以合聖度，必有神功。其如人之畏難就易，盡違古法，所以世之視針甚輕，而其術亦不甚行也。若灸之一法，則較之針所治之病，不過十之一二。知針之理，則灸又易易耳。</p>

<h3>水病針法論</h3>
<p>凡刺之法，不過補瀉經絡，祛邪納氣而已。其取穴甚少，惟水病風㽷膚脹，必刺五十七穴。又云：皮膚之血盡取之，何也？蓋水旺必克脾土，脾土衰，則遍身皮肉皆腫，不特一經之中有水氣矣。若僅刺一經，則一經所過之地，水自漸消，而他經之水不消，則四面會聚並一經，已瀉之水亦仍滿矣。故必周身腫滿之處，皆刺而瀉之，然後其水不復聚耳。此五十七穴者，皆臟之經絡，水之所容也。此與大禹治洪水之法同。蓋洪水泛溢，必有江淮河濟，各引其所近之眾流以入海必不能使天下之水只歸一河以入海也。又，出水之後，更必調其飲食。經云：方飲無食，方食無飲，（欲使飲食異居，則水不從食，以至於脾客觀存在濕之處也。）無食他食百三十五日，此症之難愈如此。余往時治此病，輕者多愈，重者必復腫。蓋由五十七穴未能全刺，而病人亦不能守戒一百三十五日也。此等大症，少違法度，即無愈理，可不慎哉！</p>

<h3>出奇制病論</h3>
<p>病有經有緯，有常有變，有純有雜，有正有反，有整有亂。並有從醫書所之病，歷來無治法者，而其病又實可愈。既無陳法可守，是必熟尋《內經》、《難經》等書，審其經絡臟受病之處，及七六氣相感之因，與夫內外分合，氣血聚散之形，必有鑿鑿可徵者，而後立為治法。或先或後，或並或分，或上或下，或前或後，取藥極當，立方極正。而寓以巧思奇法，深入病機，不使擀格。如疱丁之解牛，雖筋骨關節之間，亦遊刃有餘。然後天下之病，千緒萬端，而我之設法亦千變化，全在平時於極難極險之處參悟通澈，而後能臨事不眩。否則一遇疑難，即束手無措，冒昧施治，動輒得咎，誤人不少矣！</p>

<h3>治病緩急論</h3>
<p>病有當急治者，有不當急治者。外感之邪，猛悍剽疾，內犯臟腑，則元氣受傷，無以託疾於外，必乘其方起之時，邪入尚淺，與氣血相亂，急驅而出之於外，則易而且速。若俟邪氣已深，與氣血相亂，然後施治，則元氣大傷，此當急治者也。若夫病機未定，無所歸著，急用峻攻，則邪氣益橫。如人之傷食，方在胃中，則必先用化食之藥，使其食漸消，由中焦而達下焦，變成渣穢而出，自然漸愈；若即以硝黃峻藥下之，則食尚在上焦，即使隨藥而下，乃皆未化之物，腸胃中脂膜與之全下，而人已大疲，病必生變，此不當急治者也。以此類推，余病可知。至於虛人與老少之疾，尤宜分別調護，使其元氣漸轉，則正復而邪退。醫者不明此理，而求速效，則補其所不當補，攻其所不當攻。所服之藥不驗，又轉求他法，無非誅伐無過；至當愈之時，其人已為藥所傷，而不能與天地之生氣相應矣。故雖有良藥，用之非時，反能致害。緩急之理，可不講哉？</p>

<h3>治病分合論</h3>
<p>一病而當分治者，如痢疾腹痛脹滿，則或先治脹滿，或先治腹痛。即脹滿之中亦不同，或因食，或因氣；或先治食，或先治氣。腹痛之中亦不同，或因積，或因寒；或先去積，或先散寒。　中不同，皆當神其輕重而審察之。以此類推，則分治之法可知矣。有當合治者，如寒熱腹痛，頭疼，泄瀉，厥冒，胸滿，內外上下，無一不病，則當求其因何而起，先於諸症中擇最甚者為主。而其餘症，每症加專治之藥一二味以成方，則一劑而諸症皆備。以此類推，則合治之法可知矣。若亦有分合焉，有一病而合數藥以治之者，閱古聖人制方之法自知；有數病而一藥治之者，閱本草之主治自知。為醫者，無一病不窮究其因，無一方不洞悉其理，無一藥不精通其性。庶幾可以自信，而不枉殺人矣！</p>

<h3>發汗不用燥藥論</h3>
<p>驅邪之法，惟發表攻裡二端而已。發表所以開其毛孔，令邪從汗出也。當用至輕至淡，芳香清冽之品，使邪氣緩緩從皮毛透出，無犯中焦，無傷津液，仲景麻黃、桂枝等湯是也。然猶恐其營中陰氣，為風火所煽，而消耗於內，不能滋潤和澤，以托邪於外。於是又啜薄粥，以助胃氣，以益津液，此服枝湯之良法。主發汗之方，皆可類推。汗之必資於津液如此。後世不知，凡用發汗之方，每專用厚朴、葛根、羌活、白芷、蒼朮、豆蔻等溫燥之藥，即使其人津液不虧，內既為風火所熬，又復為燥藥所燥，則汗從何生？汁不能生，則邪無所附而出，不但不出邪氣，反為燥藥鼓動，益復橫肆；與正氣相亂，邪火四布，津液益傷，而舌焦唇乾，便閉目赤，種種火象自生，則身愈熱，神漸昏，惡症百出。若再發汗，則陽火盛極，動其真陽，腎水來救，元陽從之，大汗上泄，亡陽之危症生矣。輕者亦成痙症，遂屬壞病難治。故用燥藥發汗而殺人者，不知凡幾也。此其端開於李東垣，其所著書立方，皆治濕邪之法，與傷寒雜感無涉。而後人宗其說，以治一切外感之症，其害至今益甚。況治濕邪之法，亦以淡滲為主，如豬苓、五苓之類，亦無以燥勝之者。蓋濕亦外感之邪，總宜驅之外出，而兼以燥濕之品，斷不可專用勝濕之藥，使之內攻，致邪與正爭，而傷元氣也。至於中寒之，亦先以發表為主，無竟用熱藥以勝寒之理，必其寒氣乘虛陷入，而無出路，然後以姜附回其陽，此仲景用理中之法也。今乃以燥藥發雜感之汗，不但非古聖之法，並誤用東垣之法。醫道失傳，只此淺近之理不知，何況深微者乎？</p>

<h3>病不可輕汗論</h3>
<p>治病之法，不外汗下二端而已。下之害人，其危立見，故醫者、病者，皆不敢輕投。至於汗多亡陽而死者，十有二三，雖死而人不覺也。何則？凡人患風寒之疾，必相戒，以為寧暖無涼，病者亦重加覆護，醫者亦云服藥，必須汗出而解。故病人之求得汗，人人以為當然也。秋冬之時，過暖尚無大害；至於盛夏初秋，天時暑燥，衛氣開而易泄　，更加閉戶重衾，復投發散之劑，必至大汗不止而陽亡矣。又外存這徉，汗未出之時，必煩悶惡熱；及汗大出之後，衛氣盡泄，必陽衰而畏寒。始之暖覆，猶屬勉強，至此時雖欲不覆而不能，愈覆愈汗，愈汗愈寒，直至汗出如油，手足厥冷，而病不可為矣。其死也，神氣甚清，亦無痛苦。病者、醫者，及同之人，皆不解其何故而忽死，惟有相顧噩然可已。我見甚多，不可不察也。總之有病之人，不可過涼，亦不宜太暖，無事不可令汗出，惟服藥之時，宜令小汗。仲景服桂枝湯法云：服湯已，溫覆令微似汗，不可如水淋漓。此其法也。至於亡陽未劇，尤可挽回，《傷寒論》中真武、理中、四逆等法可考。若已脫盡，無可補救矣。又盛暑之時，病者或居樓上，或臥近灶之所。無病之人，一立其處，汗出如雨，患病者必至時時出汗，既吵亡陽，亦必陰竭而死。雖無移徙之處，必擇一席稍涼之地而處之，否則神丹不救也。</p>

<h3>傷風難治論</h3>
<p>凡人偶感風寒，頭痛發熱，咳嗽涕出，俗語謂之傷風。非《傷寒論》中所云之傷風，乃時行之雜感也。人皆忽之，不知此乃至難治之疾，生死之所關也。蓋傷風之疾，由皮毛以入於肺，肺為嬌臟，寒熱皆所不宜。太寒則邪氣凝而不出；太熱則火爍金而動血。太潤則生痰飲；太燥則耗精液。太泄則汗出而陽虛；太澀則氣閉而邪結。並有視為微疾，不避風寒，不慎飲食，經年累月，病機日深，或成血證，或成肺痿，或成哮喘，或成怯弱，比比皆然。誤治之害，不可勝數。諺云：傷風不醒變成勞。至言也。然則，治之何如？一驅風，蘇葉、荊芥之類。二消痰，半夏、象貝之類。三降氣，蘇子、前胡之類。四和榮衛，桂枝、白芍之類。五潤津液，蔞仁、元參之類。六養血，當歸，阿膠之類。七清火，黃芩、山梔之類。八理肺，桑皮、大力子之類。八者隨其症之輕重而加減之，更加以避風寒，戒辛酸，則庶幾漸愈，否則必成大病。醫者又加以升提辛燥之品，如桔梗、乾薑之類。不效，即加以酸收，如五味子之類，則必見血，及見血。隨用熟地、麥冬，以實其肺，即成勞而死。四十年以來，我見以千計矣，傷哉！</p>

<h3>攻補寒熱同用論</h3>
<p>虛證宜補，實證宜瀉，盡人而知之者。然或人虛而證實，如弱體之人，冒風傷食之類；或人實而證虛，如強壯之人，勞倦亡陽之類；或有人本不虛，而邪深難出；又有人已極虛，而外邪尚伏。種種不同。若純用補，則邪氣益固；純用攻，則正氣隨脫。此病未愈，彼病益深，古方所以有攻補同用之法。疑之者曰：兩藥異性，一水同煎，使其相制，則攻者不攻，補者不補，不如勿服。若或兩藥不相制，分途而往，則或反補其所當攻，攻其所當補，則不惟　無益，而反有害，是不可不慮也。此正不然。蓋藥之性，各盡其能，攻者必攻強，補者必補弱，猶掘坎於地，水從高處流下，必先盈坎而後進，必不反向高處流也。如大黃與人參同用，大黃自能逐去是堅積，決不反傷正氣；人參自能充益正氣，決不反補邪氣。蓋古人制方之法，分經別臟，有神明之道焉。如瘧疾之小柴胡湯，瘧之寒熱往來，乃邪在少陽，木邪侮土，中宮無主，故寒熱無定。於是用柴胡以驅少陽之邪，柴胡必不犯脾胃；用人參以健中宮之氣，人參必不入肝膽。則少陽之邪自去，而中土之氣自旺，二藥各歸本經也。如桂枝湯，桂枝走衛以祛風，白芍走榮以止汗，亦各歸本經也。以是而推，無不盡然。試以《神農本草》諸藥主治之說細求之，自無不得矣。凡寒熱兼用之法，亦同此義，故天下無難治之症。後世醫者不明此理，藥惟一途。若遇病情稍異，非顧此失彼，即遊移浮泛，無往而非棘手之病矣。但此必本於古人制方成法，而神明之。若竟私心自用，攻補寒熱，雜亂不倫，是又殺人之術也。</p>

<h3>臨病人問所便論</h3>
<p>病者之愛惡苦樂，即病情虛實熱之徵。醫者望色切脈而知之，不如其自言之為尤真也。惟病者不能言之處，即言而不知其所以然之故，則賴醫者推求其理耳。今乃病者所自知之平凡，明明為醫者言之，則醫者正可因其言，而知其病之所在以治之。乃不以病人自知之真，對症施治，反執己之偏見，強制病人，未有不誤人者。如《傷寒論》中雲：能食者為中風，不能食者為中寒。則傷寒內中風之症，未嘗禁其食也。乃醫者見為傷寒之症，斷不許食。凡屬感證，皆不許其食。甚有病已半愈，胃虛求食，而亦禁之，以至因餓而死者。又《傷寒論》云：欲飲水者，稍稍與之。蓋實火煩渴，得水則解，未嘗禁冷水也。乃醫家凡遇欲冷飲之人，一概禁止。並有伏暑之病，得西瓜而即愈者。病人哀求欲食，亦斷絕不與，至煩渴而死。如此之類，不可枚舉。蓋病者之性情氣體，有能受溫熱者，有能受寒涼者；有不受補者，有不禁攻者，各有不同。乃必強而從我意見，況醫者之意見，亦各人不同，於是治病之法，無一中肯者矣。《內經》云：臨病人問所便。蓋病人之所便，即病情真實之所在。如身大熱，而反欲熱飲，則假熱而真寒也；身寒戰，而反欲寒飲，是假寒而真熱也。以此類推，百不失一。而世之醫者，偏欲與病人相背，何也？惟病人有所嗜好，而與病相害者，則醫者宜開導之。如其人本喜酸，或得嗽症，則酸宜忌；如病人本喜酒，得濕病，則酒宜忌之類。此則不可縱欲以益其疾。若與病證無礙，　病人之所喜，則從病人之便，即所以治其病也。此《內經》辨證之精義也。</p>

<h3>治病不必顧忌論</h3>
<p>凡病人或體虛而患實邪，或舊有他病與新病相反，或一人兼患二病，其因又相反，或外上下各有所病，醫者躊躇束手，不敢下藥，此乃不知古人制方之道者也。古人用藥，惟病是求。藥所以制病，有一病，則有一藥以制之。其人有是病，則其藥專至於病所而驅其邪，決不反至無病之處，以為禍也。若留其病不使去，雖強壯之人，遷延日久，亦必精神耗竭而死，此理甚易明也。如怯弱之人，本無攻伐之理。若或傷寒而邪入陽明，則仍用硝黃下藥，邪去而精氣自復。如或懷妊之婦，忽患癥瘕，必用桃仁、大黃以下其瘕，瘀去　臺自安。或老年及久病之人，或宜發散，或宜攻伐，皆不可因其血氣之衰，而兼用補益。如傷寒之後，食復、女勞復，仲景皆治其食，清其火，並不因病後而用溫補。惟視病之所在而攻之，中病即止，不復有所顧慮，故天下無束手之病。惟不能中病，或偏或誤，或太過，則不病之處亦傷，而人危矣。俗所謂有病病當之。此歷古相傳之法也。故醫者當疑難之際，多所顧忌，不敢對症用藥者，皆視病不明，辨證不的，審方不真，不知古聖之精義者也。</p>

<h3>病深非淺藥能治論</h3>
<p>天下有治法不誤，而始終無效者。此乃病氣深痼，非泛然之方藥所能愈也。凡病在皮毛榮衛之間，即使病勢極重，而所感之位甚淺，邪氣易出。至於臟腑筋骨之痼疾，如勞怯、痞隔，風痹痿厥之類，其感非一日，其邪在臟腑筋骨，如油之八面，與正氣相併。病家不知，屢易醫家，醫者見其不效，雜藥亂投，病日深而元氣日敗，遂至不救。不知此病，非一二尋常之方所能愈也。今之集方書者，如風痹大症之類，前錄古方數首，後附以通治之方數首，如此而已。此等治法，豈有愈期？必當遍考此病之種類，與夫致病之根源，及變遷之情狀，並詢其歷來服藥之誤否。然後廣求古今以來治此症之方，選擇其風上種種治法次第施之；又時時消息其效否，而神明變通之，則痼疾或有可愈之理。若徒執數首通治之方，屢試不效，其計遂窮，未有不誤者也。故治大症，必學問深博，心思精敏，又專心久治，乃能奏效。世又有極重極久之病，諸藥罔效，忽服極輕淡之方而愈，此乃其病本有專治之方，從前皆系誤治。忽遇對症之藥，自然應手而痊也。</p>

<h3>愈病有日期論</h3>
<p>治病之法，自當欲其速愈。世之論者，皆以為治早而藥中病，則愈速，治緩而藥不中病，則愈遲；此常民。然亦有不論治之遲早，而愈期有一定者。《內經》臟氣法時論云：夫邪氣之客於身也，以勝相加，至其所生而愈，至其所不勝而甚；至其所生而持，自得其位而起。其他言病愈之期不一。《傷寒論》云：發於陽者，七日愈；發於陰者，六日愈。又云：風家表解而不了了者，十二日愈。此皆宜靜養調攝以待之，不可亂投藥石。若以其不愈，或多方以取效，或更用重劑以希功，即使不誤，藥力勝而元氣反傷。更或有不對症之藥，不惟無益，反有大害，此所宜知也。況本源之病，必待其精神漸復。精民有驟長之理？至於外科，則起發成膿，生肌收口，亦如痘症，有一定之日期。治之而誤，固有遷延生變者。若欲強之有速效，則如揠苗助長，其害有不可勝言者。乃病家、醫家，皆不知之。醫者投藥不效，自疑為未當；又以別方試之，不知前方實無所害，特時未至耳。乃反誤試諸藥，愈換而病愈重。病家以醫者久而不效，更換他醫。他醫遍閱前方，知其不效，亦復更換他藥，愈治愈遠。由是斷斷不死之病，亦不救矣。此皆由不知病愈有日期之故也。夫病家不足責，為醫者豈可不知，而輕以人嘗試乎？若醫者審知之，而病家必責我以近效，則當明告之故，決定所愈之期。倘或不信，必欲醫者另立良方，則以和平輕淡之藥，姑以應病者之求，待其自愈。如更不信，則力辭之，斷不可徇人情而至於人如此。則病家一時或反怨謗，以後其言果驗，則亦知我識高而品崇矣。</p>

<h3>治人必考其驗否論</h3>
<p>天下之事，惟以口舌爭，而無從考其信否者，則是非難定。若夫醫則有效驗之可徵，知之最易。而為醫者，自審其工拙亦最易。然而世之擇醫者與為醫者，皆憒憒而莫之辨，何也？古人用藥，苟非宿病痼疾，其效甚速。《內經》云：一劑知，二劑已。又云：覆杯而臥。《傷寒論》云：一服愈者，不必盡劑。可見古人審病精而用藥當，未有不一二劑而效者。故治病之法，必宜先立醫案，指為何病，所本何方，方中用某藥專治某症，其論說本之何書。服此藥後，於何時減去所患之何病；倘或不驗，必求所以不驗之故，而更思必效之法。或所期之效不應，反有他效，必求其所以致他效之故；又或反增他症，或病反重，則必求所以致害之故。而自痛懲焉。更復博考醫書，期於必愈而止。若其病本不能速效，或其病只可小效，或竟不可治，亦必預立醫案，明著其說，然後立方，不得冒昧施治。如此自考，自然有過必知，加以渚心好學，其道日進矣。今之醫者，事事反此，惟記方數首，擇時這藥數種，不論何病何證，總以此塞責，偶爾得效，自以為功；其或無效，或至於死，亦諉於病勢之常，病家亦相循為固然，全不一怪。間有病家於未服藥之前，問醫者服此藥之後，效驗若何，醫者答云：且看服後何如，豈有預期之理？病家亦唯唯自以為失言，何其愚也！若醫者能以此法自考，必成良醫；病家以此法考醫者，必不為庸醫之所誤，兩有所益也。</p>

<h3>防微論</h3>
<p>病之始生，淺則易治，久而深入，則難治。《內經》云：聖人不治已病治未病。夫病已成而藥之，譬猶渴而穿井，鬥而鑄兵，不亦晚乎！《傷寒論》序云：時氣不和，便當早言，尋其邪由，及在腠理，以時治之，罕有不愈？患人忍之，數日乃說，邪氣入臟，則難可制。昔扁鵲齊桓公，云病在腠理，三見之後，則已入臟，不可治療而逃矣。歷聖相傳，如同一轍。蓋病之始入，風寒既淺，氣血臟腑未傷，自然治之甚易；至於邪氣深入，則邪氣與正氣相亂，欲攻邪則礙正；欲扶正則助邪，即使邪漸去，而正氣已不支矣。若夫得病之後，更或勞動感風，傷氣傷食，謂之病後加病，尤極危殆。所以人之患病，在客館道途得者，往往難治。非所得之平凡獨重也，乃既病之後，不能如在家之安適，而及早治之；又復勞動感冒，致病深入而難治也。故凡人少有不適，必當即時調治，斷不可忽為小病，以致漸深；更不可勉強支持，使病更增，以貽無窮之害。此則凡人所當深省，而醫者亦必詢明其得病之故，更加意體察也。</p>

<h3>知病必先知症論</h3>
<p>凡一病必有數症。有病同症異者，有症同病異者；有症與病相因者，有症與病不相因者。蓋合之則曰病，分之則曰症。古方以一藥治一症，合數症而成病，即合數藥而成方。其中亦有以一藥治幾症者，有合幾藥而治一症者，又有同此一症，因不同用藥亦異，變化無窮。其淺近易知者，哪吐逆用黃連、半夏；不寐用棗仁、茯神之類，人皆知之。至於零雜之症，如《內經》所載，喘滿噫語，吞欠嚏嘔，笑泣目瞑，嗌乾，心懸善恐，涎下涕出，齧唇齧舌，善忘善怒，喜握多夢，嘔酸魄汗等症，不可勝計。或由司天運氣，或由臟腑生克，或由邪氣傳變，《內經》言之最詳。後之醫者，病之總名亦不能知，安能於一病之中，辨明眾症之淵源？即使病者身受其苦，備細言之，而彼實茫然，不知古人以何藥為治，仍以泛常不切之品應命，並有用相反之藥，以益其疾者。此病者之所以無門可告也。學醫者，當熟讀《內經》，每症究其緣由，詳其情狀，辨其異同，審其真偽，然後遍考方書本草，詳求古人治法。一遇其症，應手輒愈。不知者以為神奇，其實古聖皆有成法也。</p>

<h3>補藥可通融論</h3>
<p>古人病愈之後，即令食五穀以養之，則元氣自復，無所謂補藥也。神農、仲景之書，豈有補益之方哉？間有別載他書者，皆託名也。自唐《千金翼》等方出，始以養性補益等各立一門。遂開後世補養服食之法。以後醫家，凡屬體虛病後之人，必立補方，以為調理善後之計。若富貴之人，則必常服補藥，以供勞心縱欲之資；而醫家必百計取媚，以順其意。其藥專取貴重辛熱為主，無非參、朮、地黃、桂、附、鹿茸之類，託名秘方異傳。其氣體合宜者，一時取效；久之必得風痹陰痼等疾，隱受其害，雖死不悔。此等害人之說。固不足論。至體虛病後補藥之方，自當因人而施，視臟腑之所偏而損益之。其藥亦不外陰陽氣血，擇和平之藥靈敏十種，相為出入，不必如治病之法，一味不可移易也。故立方只問其陰陽臟腑，何者專重而已。況膏丸合就，必經月經時而後服完。若必每日視脈察色，而後服藥，則必須一日換一丸方矣。故凡服補藥，皆可通融者也。其有神其說，過為艱難慎重，取貴僻之藥以可以卻病長生者，非其人本愚昧，即欲以之欺人耳！</p>

<h3>輕藥愈病論</h3>
<p>古諺有：「不服藥為中醫」之說自宋以前已有這。蓋因醫道失傳，治人多誤，病者又不能辨醫之高下，故不服藥；雖不能愈病，亦不至為藥所殺。況病苟非死症，外感漸退，內傷漸復，亦能自愈，故云中醫。此過於小心之法也。而我以為病之在人，有不治自愈者，有不治難愈者，有不治竟不愈而死者。其自愈之徉，誠不必服藥；若難愈及不愈之疾，固當服藥。乃不能知醫之高下，藥之當否，不敢以身嘗試，則莫若擇平易輕淺，有益無損之方，以備酌用。小誤亦無害，對病有奇功，此則不止於中醫矣。如偶感風寒，則用蔥白蘇葉湯，取微汗。偶傷飲食，則用山楂、麥芽等湯消食。偶感暑氣，則用六一散、廣藿湯清暑。偶傷風熱，則用燈心竹葉湯清火。偶患腹瀉，則用陳茶佛手湯和腸胃。如此之類，不一而足。即使少誤，必無大害。又有其藥似平常，而竟有大誤者，不可不知。如腹痛嘔逆之症，寒亦有之，熱亦有之，暑氣觸穢亦有之。或見此症，而飲以生薑湯，如果屬寒，不散寒而用生薑熱性之藥，至寒氣相鬥，已非正治，然猶有得效之理。其餘三症，飲之必危。曾見有人中暑，而服濃薑湯一碗，覆杯即死。若服紫蘇湯，寒即立散，暑熱亦無害。蓋紫蘇性發散，不拘何症，皆能散也。故雖極淺之藥，而亦有深義存焉。此又所宜慎也。凡人偶有小疾，能擇藥性之最輕淡淡者，隨症飲之，則服藥而無服藥之誤，不服藥而有服藥之功，亦養生者所當深考也。</p>

<h3>腹內癰論</h3>
<p>古之醫者，無分內外，又學有根柢，故能無病不識。後世內外科既分，則顯然為內證者，內科治之；顯然為外證者，外科治之。其有病在腹中，內外未顯然者，則各執一說，各擬一方，歷試諸藥，皆無效驗。輕者變重，重者即殞矣。此等證，不特外科當知之，即內科亦不可不辨明真確。知非己責，即勿施治，毋至臨危束手，而後委他人也。腹內之癰有數證；有肺癰，有肝癰，有胃脘癰，有小腸癰，有大腸癰，有膀胱癰。惟肺癰咳吐腥痰，人猶易辨。余者或以為痞結，或以為瘀血，或以為寒痰，或以為食積，醫藥雜投，及至成膿，治已無及。並有不及成膿而死者，病者、醫者，始終不知何以致死，比比然也。今先辨明痞結瘀血，寒痰食積之狀。凡痞結瘀血，必有所因，且由漸而成；寒痰則痛止無定，又必另現痰症；食積則必有受傷之日，且三五日後，大便通即散。惟外症則痛有常所，而遷延益甚。《金匱》云：諸脈浮數，　當發熱，而反淅淅惡寒，若有痛處，當發其癰。以手按腫上熱者，有膿；不熱者，無膿。此數句乃內癰真諦也。又云：腸癰之為病，身甲錯，腹皮急，按之濡，如腫狀，腹無積聚，身無熱是也。若肝癰，則脅內隱隱痛，日久亦吐膿血。小腸癰，與大腸相似，而位略高。膀胱癰，則痛在少腹之下，近毛際，著皮即痛，小便亦艱而痛。胃脘癰，則有虛實二種，其實者易消；若成膿，必大吐膿血而愈。惟虛症則多不治，先胃中痛脹，久而心下漸高，其堅如石，或有寒熱，飲食不進，按之成痛，形體枯瘦，此乃思慮傷脾之症，不待癰成即死。故凡腹中有一定痛處，惡寒倦臥，不能食者，皆當審察，防成內癰。甚毋因循求治於不明之人，以至久而膿潰，自傷其生也。</p>

<h3>圍藥論</h3>
<p>外科之法，最重外治，而外治之中，尤當圍藥。凡毒之所最得，散大而頂不高。蓋人之一身，豈能無七情六慾之伏火，風寒暑濕之留邪，食飲痰涎之積毒？身無所病，皆散處退藏，氣血一聚而成癰腫，則諸邪四面皆會。惟圍藥能截之，使不並合，則周身之火毒不至矣。其已聚之毒，不能透出皮膚，勢必四布為害，惟圍藥能束之使不散漫，則氣聚而外泄矣。如此，則形小頂高，易膿易潰矣。故外治中之圍藥，較之他藥為特重，不但初起為然，即成膿收口，始終賴之，一日不可缺。若世醫之圍藥，不過三黃散之類，每試不效，所以皆云圍藥無用。如有既破之後，而仍用圍藥者，則群然笑之。故極輕之毒往往至於散越，而不可收拾者，皆不用圍藥之故也。至於圍藥之方，亦甚廣博，大段以消痰拔毒、束肌收火為主，而寒熱攻提、和平猛厲，則當隨症去取。世人不深求至理，而反輕議圍藥之非，安望其術之能工也？</p>

<h2>書論（附：科）</h2>

<h3>《難經》論</h3>
<p>《難經》，非經也。以經文之難解者，設為問難以明之，故曰《難經》。言以經文以難而釋之也。是書之旨，蓋欲推本經旨，發揮至道，剖晰疑義，垂示後學，真讀《內經》之津梁也。但其中亦有未盡善者，其問答之詞，有即引經文以釋之者。經文本目明顯，引之或反遺其要，以至經語反晦，或則無所發明，或則與兩經相背，或則以此誤彼，此其所短也。內中有自出機杼，發揮妙道，未嘗見於《內經》，而實能顯《內經》之奧義，補《內經》之所未發。此蓋別有師承，足與《內經》並垂千古。不知創自越人乎？抑上古亦有此書，而越人引以為證乎？自隋唐以來，其書盛著尊崇之者固多，而無能駁正之者。蓋業醫之輩，讀《難經》而識其大義，已為醫道中傑出之流，安能更深考《內經》，求箕　異同得失乎？古今流傳之載籍，凡有舛誤，後人無敢議者，比比然也，獨《難經》乎哉？余詳余所著《難經經釋》中。</p>

<h3>《傷寒論》論</h3>
<p>仲景《傷寒論》，編次者不下數十家，因致聚訟紛紜。此皆不知仲景作書之旨故也。觀《傷寒》敘所述，乃為庸醫誤治而設。所以正治之法，一經不過三四條，余皆救誤之法，故其文亦變動不居。讀《傷寒論》者，知此書皆設想懸擬之書，則無往不得其義矣。今人必改叔和之次序，或以此條在前，或以此條在後；或以此症因彼症而生；或以此經因彼經而變，互相詬厲。孰知病變萬端，傳經無定，古人因病以施方，無編方以待病。其原本次序，既已散亡，庶幾叔和所定為可信，何則？叔和《序例》云：今搜採仲景舊論，錄其症候、診脈、聲色，對病真方有神驗者，擬防世急。則此書乃叔和所蒐集，而世人輒加辨駁，以為原本不如此，抑思苟無叔和，安有此書？且諸人所編，果能合仲景原文否耶？夫六經現症，有異有同，後人見陽經一症，雜於陰經之中，以為宜改入陽經之內，不知陰經亦有此症也。人各是其私，反致古人圓機活法，泯沒不可聞矣。凡讀書能得書中之精義要訣，歷歷分明，則任其顛倒錯亂，而我心自能剌會貫通，否則徒以古羽紛更互異，愈改愈晦矣！</p>

<h3>《金匱》論</h3>
<p>《金匱要略》乃仲景治雜病之書也。其中缺略處頗多，而上古聖人，以湯液治病之法，惟賴此書之存，乃方書之祖也。其論病皆本於《內經》，而神明變化之。其用藥悉本於《神農本草》，而融會貫通之。其方則皆上古聖人歷代相傳之經方，仲景間有隨症加減之法。其脈法亦皆《內經》及歷代相傳之真訣。其治病無不精切周到，無一毫遊移參錯之處，實能洞見本源，審察毫末。故所投必效，如桴鼓之相應，真乃醫方之經也！惜其所載諸病，未能全備，未知有殘缺與否？然諸大症之綱領，亦已粗備，後之學者，以其為經而參考推廣之，已思過半矣。自此以後之書，皆非古聖相傳之真訣，僅自成一家，不可與《金匱》並列也。</p>

<h3>《脈經》論</h3>
<p>王叔和著《脈經》，分門別類，條分縷晰，其原亦本《內經》，而漢以後之說，一無所遺。其中旨趣，亦不能劃一，使人有所執持。然其彙集群言，使後世有所考見，亦不可少之作也。愚按：脈之為道，不過驗其血氣之盛衰，寒熱和邪氣之流，在何經何臟，與所現之症，參觀互考，以究其生克順逆之理，而後吉凶可憑。所以《內經》、《難經》及仲景之論脈，其立論反若甚疏，而應驗如神。若執《脈經》之說，以為某病當見某脈，某脈當得某病，雖《內經》亦間有之，不如是之拘泥繁瑣也。試而不驗，於是或咎脈之不準，或咎病之非真，或咎方藥之不對症，而不知皆非也。蓋病有與脈相合者，有與脈不相合者，兼有與脈相反者。同一脈也，見於此症為宜，見於彼症為不宜。同一症也，見某脈為宜，見某脈為不宜。一病可見數十脈，一脈可現數百症，變動不拘。若泥定一說，則從脈而症不合，從症而脈又不合，反令人彷徨，無所適從。所以古今論脈之家，彼此互異，是非各別。人持一論，得失相半，總由不知變通之精義，所以愈密而愈疏也。讀《脈經》者，知古業談脈之詳密如此，因以考其異同，辨其得失，審其真偽，窮其變通，則自有心得。若欲泥脈以治病，必至全無把握。學者必當先參於《內經》、《難經》及仲景之說而貫通之，則胸中先有定見，後人之論，皆足以廣我之見聞，而識力愈真。此讀《脈經》之法也。</p>

<h3>《千金方》《外臺》論</h3>
<p>仲景之學，至唐而一變。仲景之治病，其論臟腑經絡，病情傳變，悉本《內經》。而其所用之方，皆古聖相傳之經方，並非私心自造，間有加減，必有所本。其分兩輕重，皆有法度。其藥悉本於《神農本草》，無一味遊移假借之處。非此方不能治此病，非此藥不能成此方，粗微深妙，不可思議。藥味不過五六品，而功用無不周。此乃天地之化機，聖人之妙用與天地同。不朽者也。《千金方》則不然，其所論病，未嘗不依《內經》，而不無雜以後世臆度之說。其所用方，亦皆採擇古方，不無兼取後世偏雜之法。其所用藥，未必全本於《神農》，兼取雜方單方，及通治之品。故有一病而立數方，亦有一方而治數病。其藥品有多至數十味者，其中對症者固多，不對症者亦不少，故治病亦有效有不效。大抵所重，專在於藥，而古聖制方之法不傳矣。此醫道之一大變也。然其用藥之奇，用意之巧，亦自成一家，有不可磨滅之處。至唐·王燾所集《外臺》一書，則纂集自漢以來諸方，匯萃成書，而歷代之方，於焉大備。但其人本非專家之學，故無所審擇，以為指歸，乃醫方之類書也。然唐以前之方，賴此書以存，其攻亦不可泯。但讀之者，苟胸中無成竹，則眾說紛紜，群方淆雜，反茫然失其所據。故讀《千金》《外臺》者，必精通於《內經》、仲景、本草等書，胸中先有成見，而後取其長而舍其短，則可資我博深之益。否則反亂人意，而無所適從。嗟乎！《千金》、《外臺》且然，況後世偏駁雜亂之書，能不惑人之心志哉？等而下之，更有無稽杜撰之邪書，尤不足道矣。</p>

<h3>《活人書》論</h3>
<p>宋人之書，能發明《傷寒論》，使人所執持而易曉，大有功於仲景者，《活人書》為第一。蓋《傷寒論》不過隨舉六經所現之症以施治，有一症而六經皆現者，並有一症而治法迥別者，則讀者茫無把握矣。此書以經絡病因，傳為疑似，條分縷析，而後附以諸方治法，使人一覽瞭然，豈非後學之津梁乎？其書獨出機杼，又能全本經文，無一定混入己意，豈非好學深思，述而不作，足以繼往開來者乎？後世之述《傷寒論》者，唐宋以來，已有將經文刪改移易，不明不貫。至近代前《條辨》、《尚論編》等書，又復倒顛錯亂，各逞意見，互相辨駁，總由分症不清，欲其強合，所以日就支離。若能參究此書，則任病情之錯綜反覆，而治法乃歸一定，何必聚訟紛紜，致古人之書，愈講而愈晦也。</p>

<h3>《太素脈》論</h3>
<p>診脈以之治病，其血氣之盛衰，及風寒暑濕之中人，可驗而知也。乃相傳有《太素脈》之說，以候人之壽夭窮通，智愚善惡，纖悉皆備。夫脈乃氣血之見端，其長而臺厚者，為壽之徵。其短小而薄弱者，為夭之徵。清而有神，為智之徵。濁而無神，為愚之徵。理或宜然。若善惡已不可知，窮通則與脈何與？然或得壽之脈，而其人或不謹於風寒勞倦，患病而死；得夭之脈，而其人愛護調攝，得以永年。又有血氣甚清，而神志昏濁者；形質甚濁，而神志清明者。即壽夭智愚，亦不能皆驗，況其他乎？又書中更神其說，以為能知某年得某官，某年得財若干，父母何人，子孫何若，則更荒唐矣！天下或有習此術而言多驗者，此必別有他術，以推測而幸中，藉此以神其說耳。若盡於脈見之，斷斷無是理也。</p>

<h3>婦科論</h3>
<p>婦人之疾，與男子無異，惟經期胎產之病不同，並多癥瘕之疾。其所以多癥瘕之故，亦以經帶胎產之血，易於凝滯，故較之男子為多。故古人名婦科謂之帶下，醫以其病總屬於帶下也。主治婦人，必先明衝任之脈。衝脈起於氣街，（在毛際兩旁。）並少陰之經兵臍上行，至胸中而散。任脈起於中極之下，（臍下四寸。）以上毛際，循腹裡，上關元。又云；衝任脈皆起於胞中，上循背裡，為經脈之海。此皆血之所從生，而胎之所由系。明於衝任之故，則本原洞悉，而後其所生之病，千條萬緒，以可知其所從起。更參合古人所用之方，而神明變化之，則每症必有傳受，不概治以男子泛用之藥，自能所治輒效矣。至於如俗相傳之邪，如胎前宜涼，產後宜溫等論。夫胎前宜涼，理或有之。若產後宜溫，則脫血之後，陰氣大傷，孤陽獨熾；又瘀血未　，結為蘊熱，乃反用薑桂等藥，我見時醫以此殺人無數。觀仲景先生於產後之疾，以石膏、白薇、竹茹等藥治之，無不神效。或云：產後瘀血，得寒則凝，得熱則行，此大謬也。凡瘀血凝結，因熱而凝者，得寒降而解；因寒而凝者，得熱降而解。如桃仁承氣湯，非寒散而何？未聞此湯能凝血也。蓋產後瘀血，熱結為多。熱瘀成塊，更益以熱，則煉成乾血，永無解散之日。其重者陰涸而即死，輕者成堅反宗後人之邪說，皆足以害人。諸科皆然，不獨婦科也。</p>

<h3>痘科論</h3>
<p>今天之醫法失傳者，莫如痘疹。痘之源，藏於臟腑骨脈，而發於天時。所謂本於臟腑骨脈者，凡人受生之初，陰陽二氣，交感成形。其始因火而動，則必有渣滓未融之處，伏於臟腑骨脈之中，此痘之本源也。然外無感召，則伏而不出，及天地寒暑陰陽之氣，沴戾日積，與人身之臟腑氣血相尖，則其毒隨之而越，此發於天時者也。而天時有五運六氣之殊，標本勝復之異。氣體既稟受不同，感發又隨時各別，則治法必能通乎造化之理，而補救之。此至精至微之術也，奈何以寒涼伐之，毒藥劫之哉？夫痘之源，不外乎火，固也。然《內經》云：火鬱則發之。其遇天時炎熱，火甚易發者，清解固宜。若冬春之際，氣為寒束，則不起發；發而精血不充，則無漿。漿而精血不繼，即不靨。則溫散提托補養之法，缺一不可，豈得概用寒涼？至其用蚯蚓、桑蟲、生蠍等毒藥，為禍尤烈。夫以毒攻毒者，謂毒氣內陷，一時不能托出，則借其力以透發之。此綿危篤之症，千百中不得一者，乃視為常用之藥，則無毒者，反益其毒矣。病家因其能知死期，故死而不怨。孰知服彼之藥，無有不死，非其識見之高，乃其用藥之靈也。故之生死，全賴氣血。當清火解毒者，則清火解毒；當培養氣血者，則溫托滋　百不失一矣。嗚呼！廖說流傳，起於明季，至今尤甚。惟以寒藥數品，按日定方，不效則繼以毒藥，如此而已。夫以至變至微之病，而立至定至粗之法，於是群以為痘科最易，不知殺人亦最多也。</p>
<p><u>附：種痘說</u></p>
<p>種痘之法，此仙傳也。有九善焉：凡物欲其聚，惟痘不欲其聚，痘未出而強之出，則毒不聚，一也。凡物欲其說，痘欲其少，強之出必少，二也。凡物欲其大，痘欲其小，強之出必小，三也。不感時痘之戾氣，四也。擇天地溫和之日，五也。擇小兒無他病之時，六也。其痘苗皆取種出無毒之善種，七也。凡痘必漿成十分而後毒不陷，種痘之漿五分以上即無害，八也。凡痘必十二朝成靨，並有延至一月者，種痘則九朝已回，九也。其有種而死者，深用悔恨。不知種而死者，則自出斷無不死之理，不必悔也。至於種出危險之痘，或生痘毒，此則醫家不能用藥之故。種痘之人更能略知治痘之法，則尤為十全矣。</p>

<h3>幼科論</h3>
<p>幼科古主謂之啞科，以其不能言，而不知病之所在也。此特其一端耳。幼科之病，如變蒸胎驚之類，與成人異者，不可勝舉。非若婦人之與男子異者，只經產數端耳。古人所以另立專科，其說精詳明備。自初生以至成童，其病名不帝以百計。其治法立方，種種各別。又婦人之與男子病相同者，治亦相同。若小兒與之成人，即病相同者，治亦迥異。如傷食之症，反有用巴豆、硼砂。其餘諸症，多用金石峻厲之藥，特分兩極少耳。此古人真傳也！後世不敢用，而以草木和平之藥治之，往往遷延而死。此醫者失傳之故。至於調攝之法，病家能知之者，千不得一。蓋小兒純陽之體，最宜清涼，今人非太暖，即太飽。而其尤害者，則在於有病之後，而數與之乳。乳之為物，得熱則堅韌如棉絮。況兒有病則食乳甚稀，乳久不食，則愈棄滿，一與之吮，則迅疾湧出，較平日之下咽更多。前乳未消，新乳復充，填積胃口，化為頑痰，痰火相結，諸脈皆閉而死矣。譬如常人平日食飯幾何，當病危之時，其食與平時不減，安有不死者哉？然囑病家云：乳不可食。則群相詬曰：乳猶水也，食之何害？況兒虛如此，全賴乳養，若復禁乳，則餓死矣。不但不肯信，反將醫者詬罵。其餘之不當食而食，與當食而反不與之食，種種失宜，不可枚舉。醫者豈能坐守之，使事事合節耶？況明理之醫，能知調養之法者，亦百不得一。故小兒之所以難治者，非盡不能言之故也。</p>

<h3>瘍科論</h3>
<p>瘍科之法，全在外治，其手法必有傳授。凡辨形察色，以知吉凶；及先後施治，皆有成法。必讀書臨證，二者皆到，然後無誤。其升降圍點，去腐生肌，呼膿止血，膏塗洗熨等方，皆必純正和平復，屢試屢驗者，乃能應手而愈。至於內服之方，護心托毒，化膿長肉，亦有真傳，非尋常經方所能奏效也。惟煎方則必視其人之強弱陰陽，而為加減，此則必通於內科之理，全在學問根柢。然又與內科不同。蓋煎方之道相同，而其藥則有某毒主某藥，某證主某方，非此不效，亦另有傳授焉。故外科總以傳授為主，徒恃學問之宏博無益也。有傳授，則較之內科為尤易。惟外科而兼內科之症，或其人本有宿疾，或患外症之時，復感他氣，或因外症重極，內傷臟腑，則不得不兼內科之法治之。此必平日講於內科之道而通其理，然後能兩全而無失。若不能治其內症，則並外症亦不可救，此則全在學問深博矣。若為外科者不能兼，則當另請名理內科，為之定方。而為外科者，參議於其間，使其藥與外症無害，而後斟酌施治，則庶幾兩有所益。若其所現內症，本因外症而生，如痛極而昏暈，膿欲成而生寒熱，毒內陷而脹滿，此則內症皆由外症而生，只治其外症，而內症已愈，此必商之內科也。但其道甚微，其方甚眾，亦非淺學者，所能知也。故外科之道，淺言之，則惟記煎方數首，合膏圍藥幾科，已可以自名一家；若深言之，則經絡臟腑，氣血骨脈之理，及奇病怪疾，千態萬狀，無不盡識。其方亦無病不全；其珍奇貴重難得之藥，亦無所不備。雖遇極奇極險之症，亦瞭然無疑。此則較之內科為更難。故外科之等級，高下懸殊，而人之能識其高下者，亦不易也。</p>

<h3>祝由科論</h3>
<p>禍由之法，《內經》賊風篇，岐伯曰：先巫知百病之勝，先知其病所從生者，可禍而已也。又移精變氣論，岐伯云：古恬淡世，邪不能深入，故可移精禍由而已。今人虛邪賊風，內著五臟骨髓，外傷空竅肌膚，所以小病必甚，大病必死，故禍由不能已也。由此觀之，則禍由之法，亦不過因其病情之所由，而宣意志氣，以釋疑而解惑。此亦必病之輕者，或有感應之理。若果病機病重，亦不能有效也。古法今已不傳，近所傳符咒之術，間有小效；而病之大者，全不見功。蓋岐伯之時已然，況後世哉？存而不論可也。</p>

<h3>獸醫論</h3>
<p>禽獸之病，由於七情者少，由於風寒飲食者多，故治法較之人為尤易。夫禽獸之臟腑經絡，雖與人殊，其受天地之血氣，不甚相遠，故其用藥亦與人大略相同。但其氣粗血濁，其所飲食，非人之飲食，則藥亦當別有主治，不得盡以治人者治之矣。如牛馬之食，則當用消草之藥；犬豕之食，則當用消糠豆之藥是也。又有專屬之品，如貓宜烏藥，馬宜黃藥之類。而其病亦一獸有一獸獨患之病，此則另有專方主治。余則與人大段相同。但必劑大而力厚之方，取效為易。其中又有天運時氣之不同，變化多端，亦必隨證加減。此理亦廣博深奧，與治人之術，不相上下。今則醫人之醫尚絕傳，況獸醫乎？</p>

<h2>古今</h2>

<h3>四大家論</h3>
<p>醫道之晦久矣。明人有四大家之說，指張仲景、劉河間、李東垣、朱丹溪四人，謂為千古醫宗。此真無知妄談也。夫仲景先生，乃千古集大成之聖人，猶儒這孔子。河間、東垣，乃一偏之家。丹溪不過斟酌諸家之言，而調停去取，以開學者便易之門。此乃世俗之所謂名醫也。三子之於仲景，未能望見萬一，乃躋而與之並稱，豈非絕倒？如扁鵲、倉公、王叔和、孫思邈輩，則實有師承，各操絕技，然亦僅成一家之言，如儒家漢唐諸子之流，亦斷斷不可與也子並列，況三人哉？至三人之高下，劉則專崇《內經》，而實不能得其精義；朱則平易淺近，未睹本原；至於東垣執專理脾胃之說，純用升提香燥，意見偏而方法亂，貽誤後人，與仲景正相反。後世頗宗其說，皆由世人之於醫理全未夢見，所以為所惑也。更可駭者，以仲景有《傷寒論》一書，則以為專明傷寒，《金匱要略》則以為不可依以治病，其說荒唐更甚。吾非故欲輕三子也。蓋此說行則天下惟知三子之緒餘，而不深求仲景之學，則仲景延續先聖之法，從此日衰。而天下萬世，夭扎載途，其害不少，故當亟正之也。</p>

<h3>醫家論</h3>
<p>醫之高不齊，此不可勉強者也。然果能智竭謀，小心謹慎，猶不人。更加以詐偽萬端，其害不可窮矣。或立奇方以取異；或用僻藥以惑眾；或用參茸補熱之藥，以媚富貴之人；或假託仙佛之方，以欺愚魯之輩；或立高談怪論，驚世盜名；或造假經偽說，瞞人駭俗；或明知此病易曉偽說彼病以示奇。如冬月傷寒，強加香薷於傷寒方內而愈，以為此暑病也，不知香薷乃其惑人之法也。如本系熱症，強加乾薑於涼藥之內而愈，以為此真寒也，不知彼之乾薑，乃泡過百次而無味者也。於外科則多用現成之藥，尤不可辨，其立心尤險。先使其瘡極大，令人驚惶而後治之，並有能發不能收，以至斃者。又有偶得一方，或五灰膏、三品一條槍之灰，不顧人之極痛，一概用之，哀號欲死，全無憐憫之心。此等之人，不過欲欺人圖利，即使能知一二，亦為私欲所汨沒，安能奏功？故醫者能正其心術，雖學不足，猶不至於害人。況果能虛心篤學，則學日進；學日進，則每治必愈，而聲名日起，自然求之者眾，而利亦隨之。若專於求利，則名利秘兩失，醫者何苦舍此而蹈彼也？</p>

<h3>醫學淵源論</h3>
<p>醫學之最古者《內經》，則醫之祖乃岐黃也。然《本草》起於神農，則又在黃帝這前矣。可知醫之起，起於藥也。至黃帝則講夫經絡臟腑之原，內傷外感之異，與夫君臣佐使，大小奇偶之制，神明夫用藥之理。醫學從此大備。然其書講人身臟腑之形，七情六淫之感，與針灸雜法為多，而制方尚少。至伊有湯液治病之法，然亦得之傳聞，無成書可考。至刻苦鵲、倉公，而湯藥之用漸廣。張仲景先生出，而雜病傷寒，專以方藥為治，遂為千古用方之祖。而其方，亦俱原本神農、黃帝之精義，皆從相傳之方，仲景不過集其成耳。自是之後，醫者以方藥為重，其於天地陰陽，經絡臟腑之道，及針灸雜術，往往不甚考求。而治病之法，從此一變。唐宋以後，相尋彌甚，至元之劉河間、張潔古等出，未嘗不重《內經》之學，凡論病必先敘經，而後採取諸家之說，繼乃附以治法，似為得旨。然其人皆非通儒，不能深通經義，而於仲景制方之義，又不能深考其源，故其說非影響即支雜，各任其偏，而不歸於中道。其尤偏駁者，李東垣為甚，惟以溫燥脾胃為主，其方亦毫無法度。因當時無真實之學，盜竊虛名，故其教至今不絕。至明之薛立齋，尤浮泛荒謬，猶聖賢之學，變而為腐爛時文，何嘗不曰我明經學古者也。然以施之治天下，果能如唐虞三代者乎？既不知神農、黃帝之精義，則藥性及臟腑經絡之源不明也，又不知仲景制方之法度，則病變及施治之法不審也。惟曰：某病則用某方，如不效，改用某方。更有一方服至二三十劑，令病者遷延自愈者。胸中毫無把握，惟以簡易為主。自此以降，流弊日甚，而枉死載途矣。安得有參《本草》，窮《內經》，熟《金匱》、《傷寒》者，出而挽救其弊，全民命乎？其害總由於習醫者，皆貧苦不學之人，專以此求衣食，故只記數方，遂以之治天下之病，不復更求他法，故其禍遂至於此也！</p>

<h3>考試醫學論</h3>
<p>醫學人命所關，故《周禮》醫師之屬，掌於塚宰，歲終必稽其事而制其食。至宋神宗時，設內外醫學，置教授及諸生，皆分科考察升補。元亦仿而行之。其考試之文，皆有程式，未知當時得人何如？然其慎重醫道之意，未嘗異也。故當時立方治病，猶有法度。後世醫者，大概皆讀書不就，商賈無資，不得已而為衣食之計。或偶涉獵肆中，剿襲醫書，或託名近地時醫門下。始則欲以欺人，久之亦自以醫術不過如此。其誤相仍，其害無盡，岐黃之精義幾絕矣！若欲斟酌古今考試之法，必訪求世之實有師承，學問淵博，品行端方之醫。如宋之教授，令其嚴考諸醫，取其許掛牌行道。既行之後，亦復每月嚴課，或有學問荒疏，治法廖誤者，小則撤牌讀書，大則飭使改業。教授以上，亦如《周禮》醫師之有等。其有學問出眾，治效神妙者，候補教授。其考試之法，分為六科。曰針灸，曰大方，曰婦科，曰幼科兼痘科，曰眼科，曰外科。其能諸科皆通者，曰全科。通一二科者，曰兼科。通一科者，曰專科。其試題之體有三：一曰論題，出《靈樞》、《素問》，發明經絡臟腑、五運六氣、寒熱虛實、補瀉逆從之理。二曰解題，出《神農本草》、《傷寒論》、《金匱要略》，考訂藥性，病變制方之法。三曰案，自述平日治病之驗否，及其所以用此方，治此病之意。如此考察，自然言必本於聖經，治必遵乎古法，學有淵源，而師承不絕矣。豈可聽涉獵杜撰，全無根柢之人，以人命為兒戲乎！</p>

<h3>醫非人人可學論</h3>
<p>今之學醫者，皆無聊之甚，習此業以為及食計耳。孰知醫之為道，乃古聖人所以泄天地之秘，奪造化之權，以救人之死。其理精妙入神，非聰明敏哲之人不可學也。黃帝、神農、越人、仲景之書，文詞古奧，披羅廣遠，非淵博通達之人不可學也；凡病情之傳變，在於頃刻，真偽一時難辨，一或執滯，生死立判，非虛懷靈變之人不可學也；病名以千計，病證以萬計，臟腑經絡，內服外治，方藥之書，數年不能竟其說，非勤讀善記之人不可學也。又《內經》以後，支分派別，人自為師，不無偏駁；更有怪僻之論，鄙俚之說，紛陳錯立，淆惑百端，一或誤信，終身不返，非精鑑確識之人不可學也。故為此道者，必具過人之資，通人之識；又能屏去俗事，專心數年，更得師之傳授，方能與古聖人之心，潛通默契。若今之學醫者，與前數端，事事相反。以通儒畢世不能工之事，乃以無文理之人，欲頃刻而能之。宜道之所以日喪，而枉死者遍天下也。</p>

<h3>名醫不可為論</h3>
<p>為醫固難，而為名醫尤難。何則？名醫者，聲價甚高，敦請不易，即使有力可延，又恐往而不遇。即或可遇，其居必非近地，不能旦夕可至。故病家凡屬輕小之疾，不即延治；必病勢危篤，近醫束手，舉家以為危，然後求之，夫病勢而人人以為危，則真危矣。又其病必遷延日久，屢易醫家，廣試藥石，一誤再誤，病情數變，已成壞證。為名醫者，豈真有起死回生之術哉？病家不明此理，以為如此大名，必有回天之力，若亦如他醫之束手，亦何以異於人哉？於是望之甚切，責之甚重。若真能操人生死之權者，則當之者難為情矣。若此病斷然必死，則明示以不治之故，定之死期，飄然而去，猶可免責。倘此症萬死之中，猶有生機一線，若用輕劑以塞責，致病人萬無生理，則於心不安；若用重劑以背城一戰，萬一有變，則謗議蜂起，前人誤治之責，盡歸一人。雖當定方之時，未嘗不明白言之。然人情總以成敗為是非，既含我之藥而死，其咎不容諉矣。又或大病瘥後，無氣虛而餘邪尚伏，善後之圖，尤宜深講。病家不知，失於調理，愈後復發，仍有歸咎於醫之未善者，此類甚多。故名醫之治病，較之常醫倍難也。知其難，則醫者固宜慎之又慎；而病家及旁觀之人，亦宜曲諒也。然世又有獲虛名之時醫，到處誤人；而病家反云此人治之而不愈，是亦命也。有殺人之實，無殺人之名，此必其人別有巧術以致之，不在常情之內矣。</p>

<h3>邪說陷溺論</h3>
<p>古聖相傳之說，揆之於情有至理，驗之於疾有奇效。然天下之人，反甚疑焉。而獨於無稽之談，義所難通，害又立見者，人人奉以為典訓，守之不敢失者，何也？其所由來久矣。時醫之言曰：古方不可以治今病。嗟乎！天地之風寒暑濕燥火猶是也，生人七情六慾猶是也，而何以古人用之則生，今人用之則死？不知古人之以某方治某病者，先審其病之確然，然後以其方治之。若今人之所謂某病，非古人之所謂某病也。如風火雜感，症類傷寒，實非傷寒也。乃亦以大劑桂枝湯汗之，重者吐血狂躁，輕者身熱悶亂，於是罪及仲景，以為桂枝湯不可用。不自咎其辨病之不的，而咎古方之誤人，豈不謬乎？所謂無稽之邪說，如深秋不可用白虎。白虎乃傷寒陽膽之藥，傷寒皆在冬至以後，尚且用之，何以深秋已不可用？又謂痢疾血症，皆無止法。夫痢血之病，屬實邪有瘀者，誠不可以遽止；至於滑脫空竭，非止不為功，但不可塞其火邪耳？又謂餓不死之傷寒，吃不死之痢疾。夫《傷寒論》中，以能食不能食，驗中寒、中風之別，其中以食不食辨證之法，不一而足。況邪方退，非扶其胃氣，則病變必多。宿食欲行，非新谷入胃，則腸中之氣，必不下達。但不可過用耳。執餓不死之說，而傷寒之禁其食，而餓死者多矣！胃痢疾為吃不殺者，乃指人之患痢非噤口，而能食者，則其胃氣尚強，其病不死，故云。然非謂痢疾之人，無物不可食。執吃不殺之說，而痢疾之過食而死者多矣！此皆無稽之談，不可枚舉。又有近理之說，而謬解之者，亦足為害。故凡讀書議論，必審其所以然之故，而更精思歷試，方不為邪說所誤。故聖人深惡夫道聽塗說之人也。</p>

<h3>涉獵醫書誤人論</h3>
<p>人之死，誤於醫家者，十之三；誤於病家者，十之三；誤於旁人涉獨醫者，亦十之三；蓋醫之為道，乃通天徹地之學，必全體明，而後可以治一病。若全體不明，而偶得一知半解，舉以試人，輕淺之病，或能得效；至於重大疑難之症，亦以一偏之見，妄議用藥，一或有誤，生死立判矣。間或偶然幸中，自以為如此大病，猶能見功，益復自信，以後不拘何病，輒妄加議論至殺人之後，猶以為病自不治，非我之過，於是終身害人而不悔矣，然病家往往多信之者，則有故焉。蓋病家皆不知醫之人，而醫者寫方即去，見有稍知醫理者，議論鑿鑿，又關切異常，情面甚重，自然聽信。誰知彼乃偶然翻閱及道聽途說之談，彼亦未嘗審度，從我之說，病者如何究竟，而病家已從之矣。又有文人墨客及富貴之人，文理本優，偶爾檢點醫書，自以為已有心得。旁人因其平日稍有學問品望，倍加信從；而世之醫人，因自己全無根柢，辨難反出其下，於是深加佩服。彼以為某乃名醫，尚不如我，遂肆然為人治病，愈則為功，死則無罪。更有執一偏之見，恃其文理之長，更著書立說，貽害後世。此等之人，不可勝數。嗟乎！古之為醫者，皆有師承；而又無病不講，無方不通，一有邪說異論，則引經據典以折之，又能實有把持，所治必中，故餘人不得而矣其末議。今之醫者，皆全無本領，一書不讀，故涉獵醫書之人，反出而臨乎其上，致病家亦鄙薄醫者，而反信夫涉獵之人，以致害人如此。此其咎全在醫中之無人，故人人得而操其長短也。然涉獵之人，久而自信益真，始誤他人，繼誤骨肉，終則自誤其身。我見甚多，不可不深省也。</p>

<h3>病家論</h3>
<p>天下之病，誤於醫家者固多，誤於病家者尤多。醫家而，易良醫可也；病家而誤，其弊不可勝窮。遙不問醫之高下，即延以治病，其誤一也；有以耳為目，聞人譽某醫即信為真，不考其實，其誤二也；有平日相熟之人，務取其便，又慮別延他人，覺情面有虧，而其人又叨任不辭，希圖酬謝，古人所謂以性命當人情，其誤三也；有遠方邪人假稱名醫，高談闊論，欺騙愚人，遂不復詳察，信其欺妄，其誤四也；有因至親密友或勢位之人，薦引一人，情分難卻，勉強延請，其誤五也；更有病家戚友，偶閱醫書，自以為醫書頗通，每見立方，必妄生議論，私改藥味，善則歸己，過則歸人，或各薦一醫互相毀謗，遂成黨援，甚者各立門戶，如不人己，反幸災樂禍，以期必勝，不顧病者之死生，其誤七也；又或病勢方轉，未收全功，病者正疑見效太遲，忽而讒言蜂起，中道變更，又換他醫，遂至危篤，反咎前人，其誤八也；又有病變不常，朝當桂附，暮當芩連；又有純虛之體，其證反宜用硝、黃；大實之人，其證反宜用參、術。病家不知，以為怪僻，不從其說，反信庸醫，其誤九也；又有吝惜錢財，惟賤是取，況名醫皆自作主張，不肯從我，反不若某某等和易近人，柔順受商，酬謝可略。扁鵲云：輕身重財不治。其誤十也。此猶其大端耳。其中更有用參、附則喜，用攻劑則懼；服參、附而死則委之命，服攻伐而死則咎在醫，使醫者不敢過症用藥。更有製藥不如法，煎藥不合度，服藥非其時，更或飲食起居，寒暖勞逸，喜怒語言，不進不節，難以枚舉。小病無害，若大病則有一不合，皆足以傷生。然則為病家者當何如？在謹擇名醫而信任之。如人君之用宰相，擇賢相而專任之，其理一也。然則擇賢之法若何？曰：必擇其人品端方，心術純正，又詢其學有根柢，術有淵源，歷考所治，果能十全八九，而後延請施治。然醫各有所長，或今所患非其所長，則又有誤。必細聽其所論，切中病情，和平正大；又用藥必能命中，然後托之。所謂命中者，其立方之時，先論定此方所以然之故，服藥之後如何效驗；或云必得幾劑而後有效，其言無一不驗，此所謂命中也。如此試醫，思過半矣。若其人本無足取，而其說又怪僻不經，或遊移恍惚；用藥之後，與其所言全不相應，則即當另覓名家，不得以性命輕試。此則擇醫之法也。</p>

<h3>醫者誤人無罪論</h3>
<p>人命所關亦大矣。凡害人之命者，無不立有報應。乃今之為名醫者，既無學問，又無師授，兼以心術不正，欺世盜名，害人無算，宜有天罰，以彰其罪。然往往壽考富厚，子孫繁昌，全無殃咎，我殆甚不解焉。以後日與病者相周旋，而後知人之誤藥而死，半由於天命，半由於病家，醫者不過依違順命以成其死，並非造謀之人。故殺人之罪，醫者不受也。何以言之？夫醫之妨否，有一定之高下。而病家則於醫之良者，彼偏不信；醫之劣者，反信而不疑。言補益者以為良醫，言攻散者以為庸醫；言溫熱者以為有益，言清涼者以為傷生。或旁人互生議論，或病人自改方藥，而醫者欲其術之行，勢必曲從病家之意。病家深喜其如順，偶然或愈，醫者自矜其功；如其或死，醫者不任其咎。病家亦自作主張，隱諱其非，不復咎及醫人。故醫者之曲從病家，乃邀攻避罪之良法也。既死之後，聞者亦相傳，以為某人之病，因誤服某人之藥而死，宜以為戒矣。及至自己得病，亦復如此。更有平昔最佩服之良醫，忽然自生疾病，反信平日所最鄙薄之庸醫而傷其生者，是必有鬼神使之，此乃所謂命也。蓋人生死有定數，若必待人之老而自死，則天下皆壽考之人而命無權，故必生疾病，使之不以壽而死。然疾病之輕重不齊，或其人善自保護，則六淫七情之所感甚輕。命本當死，而病淺不能令其死，則命又無權，於是天生此等之醫，分布於天下。凡當死者，少得微疾，醫者必能令其輕者重，重者死。而命之權於是獨重，則醫之殺人，乃隱然奉天之令，以行其罰，不但無罪，且有微功，故無報也。惟世又有立心欺詐，賣弄聰明，造捏假藥，以欺嚇人，而取其財者，此乃有心之惡，與前所論之人不同。其禍無不立至，我見亦多矣。願天下之人細思之，真鑿鑿可徵，非狂談也。</p>
