<header>
<h1>下載</h1>
</header>

<p>笈成資料原始檔可在<a href="https://gitlab.com/jicheng">GitLab</a>版本庫瀏覽及下載任一版本。</p>

<ul>
  <li>打包下載的檔案僅為原始碼，可用文字編輯器瀏覽或用各種文字檢索工具檢索。如要像本站一樣可透過瀏覽器操作，還須按指示執行<a href="https://gitlab.com/jicheng/jc.ssg">站台產生器</a>及做好相關設定。</li>
  <li>可用Git的複製（clone）功能或GitLab的分叉（fork）功能取得整個中醫笈成版本庫的資料。</li>
</ul>

<h2>舊版站台、程式資料</h2>
<ul>
  <li><a href="https://jicheng.tw/files/jcw/book-20180111.7z">笈成資料庫典籍原始檔2018/01/11打包版</a>（65.6 MB）</li>
  <li><a href="https://jicheng.tw/files/jcreader/jc_1_4_8_all.7z">笈成檢閱系統1.4.8及資料檔</a>（67.7 MB）</li>
</ul>
