<header data-type="book">
<h1>食物本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1520">公元1520年</data></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>水類</h2>
<p><u>井水</u>　新汲即用，利人療病。平旦第一汲者，為井華水，又與諸水不同。凡井水，有遠從地脈來者為上，有從近處江河中滲來者，欠佳。又城市人家稠密，溝渠汙水雜入井中成鹼，用須煎滾，停頓一時，候鹼下墜，取上面清水用之。否則氣味俱惡，而煎茶、釀酒、作豆腐三事尤不堪也。又雨後其水渾濁，須擂桃、杏仁，連汁投入水中攪勻，少時則渾濁墜底矣。《易》曰：井泥不食。謹之。</p>
<p><u>千里水</u>　即遠來流水也。從西來者，謂之東流水。二水味平無毒，主病後虛弱，及盪滌邪穢。揚之過萬，名曰甘瀾水。以木盆盛，水杓揚之，泡起作珠子數千顆，拿取煮藥。治霍亂及入膀胱奔豚氣，用之殊勝，誠與諸水不同。煉雲母粉用之，即其驗也。古云流水不腐，但江河水善惡有不可知者。昔年予在潯州，忽一日城中馬死數百。詢之，云，數日前，有雨洗出山谷中蛇蟲之毒，馬飲其水而致然也。不可不知。</p>
<p><u>秋露水</u>　味甘，平，無毒。在百草頭上者，愈百病，止消渴，令人身輕不飢，肌肉悅澤。柏葉上者，明目。百花上者，益顏色。</p>
<p><u>臘雪水</u>　甘，大寒。解天行時疫及一切毒，淹藏果實良。春雪水生蟲不堪。</p>
<p><u>乳穴水</u>　乃巖穴中涓涓而出之水，秤之重於它水，煎沸上有鹽花。味溫，甘，無毒。肥健人，令能食，體潤不老，與乳同功。取以作飯及釀酒，大有益也。穴有小魚補人，見魚類。</p>
<p><u>寒泉水</u>　味甘，平，無毒。主消渴反胃，去熱淋及暑痢，兼洗漆瘡，射癰腫令散，下熱氣，利小便，並宜飲之。</p>
<p><u>夏冰</u>　味甘，大寒，無毒。去熱除煩。暑月食之，與氣候相反，入腹冷熱相激，非所宜也。止可隱映飲食，取其氣之冷耳。若敲碎食之，暫時爽快，久當成疾。</p>
<p><u>溫泉水</u>　性熱，有毒，切不可飲。一云：下有硫黃，即令水熱，當其熱處可燖豬羊。主治風頑痹，浴之可除。廬山下有溫泉池，往來方士教令患疥癩及楊梅瘡者，飽食入池，久浴得汗出乃止，旬日諸瘡自愈。然水有硫黃臭氣，故應愈諸風惡疾，體虛者毋得輕入。</p>
<p><u>漿水</u>　以粟米或倉米飲釀成者。味甘酸，微溫，無毒。調中引氣，宣和強力，通關開胃，止霍亂泄痢，消宿食，解煩，去睡，止嘔，白膚體。似水者至冷，妊娠忌食。不可同李子食，令吐利。丹溪云：漿水性冷，善走化滯物，消解煩渴，宜作粥。薄暮食之，去睡，理臟腑。</p>
<p><u>熱湯</u>　須百沸過，若半沸者飯之，病脹。患霍亂手足轉筋者，以銅瓦器盛湯熨臍，效。</p>
<p><u>繁露水</u>　是秋露繁濃時水也。作盤以收之，煎令稠，食之延年不飢。以之造酒，名秋露白，味最香冽。</p>
<p><u>梅雨水</u>　洗癬疥，滅瘢痕，入醬令易熟。沾衣便腐，浣垢如灰汁，有異它水。</p>
<p><u>半天河水</u>　即上天雨澤水也。治心病、鬼疰、狂、邪氣惡毒。</p>
<p><u>冬霜水</u>　寒，無毒。團食者，主解酒熱、傷寒鼻塞、酒後面赤。</p>
<p><u>雹水</u>　醬味不正，當時取一二升內甕中，即如本味。</p>
<p><u>方諸水</u>　味甘，寒，無毒。主明目定心，去小兒熱煩，止渴。方諸，大蚌也。《周禮》明諸承水於月謂之方諸，陳饌以為玄酒。</p>
<p><u>花水</u>　平，無毒。主渴。遠行無水，和苦瓜蔞為丸，服之永無渴。</p>
<p><u>糧罌水</u>　味辛平，小毒。主鬼氣中惡、疰忤、心腹痛、惡夢鬼神。進一合，多飲令人心悶。又云，洗眼見鬼出古塚物罌中。</p>
<p><u>甑氣水</u>　主長毛髮。以物於炊飯時承取，沐頭令髮長密黑潤。不能多得，朝朝梳摩小兒頭，漸覺有益。</p>
<p><u>生熟湯</u>　味鹹，無毒。熬鹽投中飲之，吐宿食毒惡物，消氣臚脹，亦主痰瘧，調中消食。又人大醉及食瓜果過度，以生熟湯浸身，湯皆為酒及瓜果氣味。</p>
<p><u>屋漏水</u>　大有毒，誤食必生惡疾。以洗犬咬瘡可即愈。</p>
<p><u>豬槽水</u>　無毒。治諸蠱毒蛇咬，可浸瘡。</p>
<p><u>溺坑水</u>　無毒。主消渴，解河豚魚毒。</p>
<p><u>鹽膽水</u>　味鹹苦，有大毒。此水鹽初熟槽中瀝黑汁也，人與六畜皆不食。</p>
<p><u>塚井水</u>　有毒，人中之不活。欲入者，先試以雞毛，如直下者無毒，如迴旋而舞者則有毒。先以熱醋數斗投井可入。</p>
<p><u>洗碗水</u>　主惡瘡久不差者。煎沸以鹽投中，洗之立效。</p>
<p><u>蟹膏水</u>　以膏投漆中化為水，古人用和藥。又蚯蚓去泥，以鹽塗之，或內入蔥中化為水。主天行諸熱病、癲癇等疾。又塗丹毒並敷漆瘡，效。</p>
<p><u>陰地流泉水</u>　飲之令人發瘧瘴，又損腳令軟。又云飲澤中停水，令人主瘕病。</p>
<p><u>滷水</u>　味苦鹹，無毒。主大熱，消渴，狂煩，除邪及下蠱毒，柔肌膚，去濕熱，消痰，磨積塊，洗滌垢膩，勿過服，頓損人。</p>
<p><u>地漿水</u>　氣寒，無毒。掘地作坎，以水沃其中，攪令濁，俄□取之。主解中諸毒煩悶、山中菌毒。又楓樹上菌食之，令人笑不止，飲此解之。</p>
<p><u>清明水及穀雨水</u>　味甘。取長江者為良，以之造酒可儲久，色紺味冽。此水蓋取其時候之氣耳。</p>
<p><u>炊湯水</u>　經宿洗面無顏色，洗身成癬。</p>
<p><u>甘露水及醴泉水</u>　味甘美，無毒。食之潤五臟，長年不飢，主胸膈諸熱，明目止渴。此水不可易得，附錄之以備參考。</p>
<p>上諸水日常所用，人多忽之。殊不知天之生人，水穀以養之。故曰：水去則榮散，谷消則衛亡。仲景曰：水入於經，其血乃成；谷入於胃，脈道乃行。水之於人，不亦重乎？故人之形體有厚薄，年壽有長短，多由於水土稟受滋養之不同。驗之南北水土、人物可見矣。</p>

<h2>穀類</h2>
<p><u>粳米</u>　味甘苦，平，無毒。主益氣，止煩，止泄痢，壯筋骨，通血脈，和五臟，補益胃氣，其功莫及。小兒初生，煮粥汁如乳，量與食，開胃助穀神，甚佳。合芡實煮粥食之，益精強志，耳目聰明。新者乍食，亦少動風氣。陳者更下氣，病人尤宜。服蒼耳人，食之急心痛。有早、中、晚三收，以白晚米為第一。各處所產，種數甚多，氣味不能無少異，而亦不大相遠也。天生五穀，所以養人，得之則生，不得則死。此其得天地中和之氣，同造化生育之功，故不比它物可名言也。本草所主在藥，故略耳。</p>
<p><u>粟米</u>　味鹹，氣微寒，無毒。主養腎氣，去脾胃熱，益氣。陳者味苦，主胃熱消渴，利小便，止痢，壓丹石毒，解小麥毒。煮粥性暖，初生小兒研細煮粥如乳，每少與飲之，助穀神，達腸胃，甚佳。不可與杏仁同食，令人吐泄。粟類多種，此則北人所常食者是也。又春為粉食，主氣弱，食不消化嘔逆，解諸毒。又蒸作糗食，味甘苦寒，又云酸寒，主寒中，除熱渴，解積實大腸。一種糯粟，即秫也，余見粳米下。</p>
<p><u>糯米</u>　味苦甘，溫，無毒。主溫中，令人多熱，大便堅，此《本草經》文也。諸家有云：性微寒，妊娠與雜肉食不利子，久食身軟，以緩筋也。又云：寒，使人多睡，發風動氣，壅經絡氣，止霍亂。又云：涼，補中益氣，行榮衛中積血。所論蓋不同也。夫所謂不利，緩筋，多睡之類，以其性懦所致。若謂因其性寒，糯米造酒最宜，豈寒乎？農家於冬月用作糍，喂牛免凍傷最驗，是則糯米之性當如經文所言。</p>
<p><u>黍米</u>　味甘，溫，無毒。主益氣補中，多熱令人煩。又云：性寒，有小毒，不可久食，昏五臟，令人好睡，小兒食之不能行，緩人筋骨，絕血脈。不可與白酒、葵菜、牛肉同食。有丹黑數種，比粟米略大。今此地所種，多是秫黍，最黏，又名黃糯，只以作酒，謂之黃米酒，此米且動風，人少食。</p>
<p><u>秫米</u>　味甘，微寒。止寒熱，利大腸，療漆瘡，殺瘡疥毒熱，壅五臟氣，動風。作飯最黏，惟可作酒，汁亦少。</p>
<p><u>黃粱米</u>　味甘平，無毒。益氣和中，止泄痢，去風濕痹。其穗大毛長，穀米俱粗於白粱，取子少，不耐水旱。食之香美，逾於諸粱，號為竹根黃。其青白二色，微涼，惟此甘平，豈非得中和之正氣多邪？</p>
<p><u>白粱米</u>　味甘，微寒，無毒。主除熱益氣，移五臟氣，續筋骨，止煩滿。其穗大，多毛且長，谷粗扁長不似粟圓，米亦白而大。食之香美，次於黃粱，亦堪作粉。</p>
<p><u>青粱米</u>　味甘，微寒，無毒。主胃痹，熱中消渴，止泄痢，利小便，益氣補中，健脾，止泄精，輕身。一云，此米醋浸三日，百蒸百暴，裹藏遠行，一餐可度數日。其穀穗有毛，微青而細，早熟少收。夏月食之極清涼。但味短而澀，色惡不如黃白粱，故人少種。</p>
<p><u>稷米</u>　味甘，無毒。益氣補不足。又云，冷，治熱，發冷病氣，解瓠毒。以其早熟，又香可愛，因以供祭。然味淡，諸谷之中，此為下。苗種者，惟以防荒年耳。</p>
<p><u>陳廩米</u>　味鹹酸，溫，無毒。主下氣，除煩渴，調胃，止泄瀉。又云，廩米有粳，有粟，諸家並不說何米。然二米陳者，性冷，頻食令人自利，此說與上經文稍戾。</p>
<p><u>秫蜀</u>　谷之最長，米粒亦大而多者。北地種之，以備缺糧，否則喂牛馬也。南人呼為蘆穄。</p>
<p><u>香稻米</u>　味甘軟，其氣甜香可愛，有紅白二種。又有一類紅長者，三粒僅一寸許，比它谷晚收，開胃益中，滑澀補精。但人不常食，亦不多種也。</p>
<p><u>茭米</u>　生湖泊中，性微寒，無毒。古人以為美饌，作飯亦脆澀。</p>
<p><u>菵米</u>　味甘，寒，無毒。主利腸胃，久食不飢，去熱益火。可為飯，生水田中，苗子似小麥而小，四月熟。</p>
<p><u>蓬草米</u>　作飯食之，無異粳米，儉年物也。</p>
<p><u>狼尾子米</u>　作黎食之，令人不飢，生澤地中。</p>
<p><u>稗子米</u>　味脆，氣辛，可以為飯。</p>
<p><u>秕米</u>　味甘平。通腸開胃，下氣，磨積塊。製作糗食，延年不飢，充滑膚體，可以頤養。昔陳平食糠而肥，秕米即精米上細糠也。</p>
<p><u>小麥</u>　味甘，微寒，無毒。除熱，止燥渴咽乾，利小便，養肝氣，止漏血、唾血。秋種冬長，春秀夏實，具四時之氣，為五穀之貴。有地暖，春種夏收者，氣不足，有小毒。面味甘溫，補虛養氣，實膚體，厚五臟腸胃，強氣力。然性壅熱，少動風氣，不可舉菜同食。蘿蔔能解面毒，同食最宜。</p>
<p><u>麵筋</u>　以麩洗去皮為之，性與面仍相類且難化。丹溪曰：面熱而麩涼，若用麥以代谷，須曬令燥，以少水潤之，春去外皮，煮以為飯，食之庶無面熱之患。愚以東南地本卑濕，又雨水頗多，麥已受濕，又不曾出汗，食之故作渴，動風氣，助濕發熱。西北地本高燥，雨水又少，麥不受濕，復入地窖出汗，至八九月食之。又北人稟厚少濕，宜其常食而不病也。</p>
<p><u>大麥</u>　味鹹甘，溫，微寒，無毒。主消渴，除熱，益氣調中。又云，令人多熱，為五穀長，平胃消食，療脹。暴食亦似腳軟，以其下氣也。久食甚宜人，頭髮不白，補虛勞，壯血脈，益顏色，實五臟，止泄，令人肥白滑肌。為面勝小麥，無燥病。丹溪云：初熟時，人因缺谷，多炒而食之，有火，能生熱病。一云，久食多食，能消腎，戒之。</p>
<p><u>蕎麥</u>　味甘平，寒，無毒。實腸胃，益氣，久食動風，令人頭眩。和豬肉食，令人患熱風，脫人眉須。雖動諸病，猶銼丹石，煉五臟滓穢。俗謂：一年沉滯積在腸胃間，食此麥乃消去。</p>
<p><u>黑大豆</u>　味甘，平，無毒。炒食去水腫，消穀，止膝痛腹脹，除濕痹。乍食體重，忌食豬肉。十歲以下小兒勿食，恐一時食豬肉，壅氣至危。煮食及飲汁，涼，下熱腫，解熱毒及烏、附、丹石諸毒，除胸胃中熱、大小便血，散五臟結氣。一種小黑豆最佳。陶節庵以黑豆入鹽煮，時常食之，謂能補腎。蓋豆味鹹，腎之谷，又形類腎，黑色屬水也，妙哉。</p>
<p><u>白豆</u>　平，無毒。補五臟，益中，助經脈調和，暖腸胃，殺鬼氣。浙東一種味甚勝，用以作醬、作腐，極佳。北之水白豆相似而不及也。青黃班等豆，本草不著，大率相類亦不及也。</p>
<p><u>赤小豆</u>　味甘酸，平，無毒。主下水，消熱毒，排膿血，止泄，利小便，去脹滿，除消渴，下乳汁。久食虛人，令枯瘦。解小麥毒，和鯉魚煮食，愈腳氣水腫。痢後氣滿不能食者，宜煮食之。不可同魚酢食。</p>
<p><u>綠豆</u>　味甘寒，無毒。主治消渴，丹毒，煩熱，風疹，補益，和五臟，行經脈，解食物諸藥毒發動風氣，消腫下氣。若欲去病，須不去皮，蓋皮寒內平。煮食作餅，炙佳。一云，為粉蕩皮，能解酒毒，以水調服之，亦能解菰砒毒。</p>
<p><u>豌豆</u>　味甘，平，無毒。調順榮衛，益中平氣。又云，發氣疾。</p>
<p><u>扁豆</u>　味甘，氣微溫。主和中下氣，治霍亂吐痢不止，殺一切草木及酒毒。生嚼及煎湯服，亦解河豚毒。葉主霍亂，花主女子赤白下，乾末米飲和服之。有黑白二種，黑者少冷，入藥俱用白者。患寒熱病及患冷氣人不可食。</p>
<p><u>蠶豆</u>　味甘，溫，氣微辛。主快胃，利五臟。或點茶，或炒食，佳。又有筋豆、蛾眉豆、虎瓜豆、羊眼豆、勞豆、豇豆類，只可茶食而已。一種刀豆，長尺許，可入醬用之。</p>
<p><u>罌粟</u>　味甘，平，無毒。行風氣，逐邪熱，療反胃，胸中痰滯，丹石發動不下食。和竹瀝煮粥食極佳。然性寒，以有竹瀝，利大小腸，不宜多食。又過度則動膀胱氣。粟殼性澀，止泄痢澀腸，令人虛勞。嗽者多用止嗽，及熱濕泄痢者用止痢，劫病之功雖急，殺人如劍，戒之。</p>
<p><u>芝麻</u>　味甘，氣寒，無毒。治虛勞，滑腸胃，行風氣，通血脈，去頭浮風，潤肌膚。乳母食之，小兒不生熱病。又生嚼敷小兒頭上諸瘡，良。</p>
<p><u>胡麻</u>　味甘，氣平，無毒。一名巨勝苗，名青蘘。</p>
<p><u>麻蕢</u>　味辛，氣平，有毒。主勞傷，利臟，下血寒氣，破積，止痹，散膿。多食令見鬼狂走，久服通神明，輕身。麻子，味甘平，無毒。入足太陰經、手陽明經。詩所謂丘中有麻是也。</p>
<p><u>擴麥</u>　味甘，微寒，無毒。主輕身，除熱，久服令人多力健行。作蘗，溫，消食和中。作餅食，不動氣，甚益人。</p>
<p><u>𦯶實</u>　味苦，平，無毒。主赤白冷痢，破癰腫，亦可食。</p>
<p>上五穀，乃天生養人之物，但人之種藝，一則取其資生之功，二則計其肥家之利。南之粳，北之粟，功利兩全，故多種食之。如黃粱甚美而益人，故有膏粱之稱，人則以其費地薄收而不種。識者，凡穀類當不計其利，惟取其能養人者多種而食之，可也。</p>

<h2>菜類</h2>
<p><u>蘿蔔</u>　味甘，溫平，無毒。散氣，及炮煮食大下氣消穀，去痰癖，利關節，煉五臟惡氣，治面並豆腐毒，止咳嗽，療肺痿吐血，溫中，補不足，肥健人，令膚肌白細。生汁，主消渴、噤口痢，大驗。同豬羊肉、鯽魚煮食，更補益。服地黃、何首烏者，食之發白。其莖葉氣性大率相類。丹溪云：熟者多食，停滯膈間成溢飲，以其甘多辛少也。《本草》謂之萊菔。《衍義》云：散氣用生薑，下氣用萊菔子。治喘嗽，下氣消食。水研服吐風痰；醋研塗消腫毒。一種胡蘿蔔，味甘而用不及。</p>
<p><u>韭菜</u>　味辛微酸，溫，無毒。歸心，安和五臟六腑，除胸中熱，下氣，令人能食，利病人，可久食。又云，益陽，止泄尿血，暖腰膝，除胸腹冷痛痃癖。春食香，夏食臭，冬食動宿飲，五月食昏人乏力。不可合牛肉食，酒後忌食。丹溪云，韭汁冷飲，下膈中瘀血甚驗。以其屬金而有水與土，其性急，又能充肝氣，多食則昏神。其子治虛勞損腎夢泄良。又未出土者為韭黃，食之即滯氣，最不宜人。花食之動風。根治諸癬。大抵蔥、韭皆常食，但蔥冷而韭溫，於人有益。</p>
<p><u>薤</u>　味辛苦，氣溫，入手陽明經，無毒。主金瘡、瘡敗，輕身不飢，耐老，宜心，歸骨，菜芝也。除寒熱，去水氣，溫中散結，利病人，止久痢、冷泄、赤白帶，通神，安魂魄，益氣續筋骨，解毒。骨鯁，食之即下。有赤白二種，白者補而美，赤者主金瘡風，苦而無味。又云，白色者最好，雖有辛而不暈五臟。又云，凡用蔥薤，皆去青留白，以白冷而青熱也。故斷赤痢方，取薤白同黃柏煮服之，言性冷而解毒矣。又治霍亂乾嘔不息。煮汁又治疥瘡，搗汁又治大虎咬，又治產後諸痢並湯火傷。但發熱病，不宜多食。又不可與牛肉同食，令人作癥瘕也。</p>
<p><u>蔥</u>　葉溫，白與須平，味辛，無毒。主明目，補中不足。其莖白入手太陰經、足陽明經，可作湯。主傷寒寒熱、中風、面目腫、骨肉疼、喉痹不通，安胎。歸目，除肝邪，利五臟，益瞳精，殺百藥毒，通大小腸。療霍亂轉筋、奔豚氣、腳氣、心腹痛、目眩及心迷悶，止衄，殺一切魚肉毒。又治打撲損並刀杖瘡。連根用，主傷寒頭痛如破。又莖葉用鹽研，貼蛇蟲傷、水腫、痛，治蚯蚓毒。此凍蔥也，經冬不凋，不結子，分莖蒔種，莖葉俱軟，氣味香佳，食用最宜。忌與蜜同食。有一種樓蔥，即龍角蔥，亦凍類。又胡蔥、漢蔥、茗蔥，數種不同，大抵以發散為功，多食昏人神，只調和食品可也。</p>
<p><u>蔓菁</u>　味溫，無毒。利五臟，消食益氣，令人肥健，可常食。北方種之甚多，春食苗，夏食心，秋食莖，冬食根，菜中最有益於用者。南方地不同，所種形類已變矣。</p>
<p><u>菘菜</u>　味甘，溫，無毒。利腸胃，除煩，解酒渴，去魚腥，消食下氣，治瘴，止熱嗽胸膈悶。不益人，食之覺冷，姜能制之。一云，夏至前食，發皮膚風癢，動氣發病。紫花菘，行風氣，去邪熱。花，糟食甚美。服甘草勿食，令病不愈。北人往南患足疾者勿食。牛肚菘，葉最厚，味甘；紫菘，葉薄細，味少苦；白菘，似蔓菁，猶一類也。北地無菘，有種者形亦變。</p>
<p><u>芥菜</u>　味辛，氣溫，無毒。歸鼻，除腎邪，利九竅，明耳目，安中，除邪氣，止咳嗽冷氣，去頭面風。多食動風氣，發丹石。不可同兔肉食，生惡瘡，同鯽魚食，發水腫。子，主敷射工及產氣、疝氣，發汗，胸膈痰冷，面黃。又和藥為膏，治骨節痛。丹溪云：痰在裡及膜外，非此不通達。又遊腫諸毒，為末，豬膽和如泥，敷之。但其類多，青芥葉粗大，味辣，好；紫芥作齏佳；白芥尤辛美。俱入藥，出太源。</p>
<p><u>莧菜</u>　味甘，寒，無毒。通九竅。又云，食動風，令人煩悶，冷中損腹。子，主青盲白翳，明目，除邪，利大小便，去寒熱，殺蛔蟲。久服益氣力，不飢，輕身。葉忌與鱉同食。丹溪云莧有六種：人莧，赤莧，白莧，紫莧，五色莧，其一即馬齒莧也，下血。又入血分且善走，馬齒莧同食下胎妙，臨產煮食易產。又有野生一種灰條莧，亦可食，亦入藥。</p>
<p><u>馬齒莧</u>　味酸，氣寒，性滑，無毒。主目盲白翳，利大小便，止赤白下，去寒熱，殺諸蠱，止渴，破癥結癰瘡。服之長年不老，和梳垢，封疔腫。又燒為灰，和陳醋滓，先灸疔腫以封之，根好出。又敷豌豆瘡良。生搗汁服，當利下惡物，去白蟲，亦治疳痢。又主三十六種風結瘡，以一釜煮，澄清，內蠟三兩重，煎成膏塗之。又塗白禿濕癬，敷杖瘡，又療多年惡瘡，又治馬咬馬汗，射工毒。一種葉大者不堪，一種葉小節間有水銀者可用，去莖用葉。此菜感陰氣之多，而生食之宜和以蒜，余見莧菜下。</p>
<p><u>胡荽</u>　味辛，氣溫，微毒。主消穀，治五臟，補不足，利大小腸，通小腹氣，通心竅，拔四肢熱，止頭痛。久食損人精神，令人多忘，發腋臭，口臭，腳氣，金瘡。久病人食之腳弱。根，發痼疾。子，主小兒禿瘡，油煎敷之。亦主蟲、五痔，及食肉中毒，吐下血不止，煮冷取汁服。又治小兒豆疹不出，欲令速出，用酒煎沸，勿令泄氣，候冷去滓，微微從項以下噴身令遍，除面不噴，包暖即出。</p>
<p><u>葵菜</u>　味甘，氣寒，陰中之陽，無毒。為百菜長，滑利不可多食。能宣導積壅，主客熱，利小便，治惡瘡及帶下，散膿血惡汁。煮食，主丹石，髮結熱。葉燒為末敷金瘡，搗碎敷火瘡。炙煮與小兒食，治熱毒。下痢及大小丹痢，搗汁服。孕婦煮食之，易產。其心傷人勿食。其葉皆黃，莖赤者勿食。不可與鯉魚、黍米同食。天行症後，食之失明。花，治淋澀、水腫，催生落胎，並一切疥瘡、小兒風疹子。花有五色，赤治血燥，白治氣燥，並痎瘧。又冬葵子，秋種經冬至春作子者，主臟腑寒熱，羸瘦，五癃，利小便，療婦人乳難，下乳汁，久服堅骨，長肌肉，輕身延年。產難取一二合杵破，水煮服之。癰癤未潰者，水吞三五粒，便作頭膿出根。主惡瘡，療淋，利小便，服丹石人宜之。</p>
<p><u>小蒜</u>　味辛，溫，有小毒，歸脾腎。主霍亂，腹中不安，消穀，理胃溫中，除邪痹毒氣、疔瘡等毒。華佗用蒜薤吐人惡物，云是此。又云，大蒜久食損人目，傷肝，不可與魚膾同食。</p>
<p><u>大蒜</u>　味辛，氣溫，有毒，屬火。主散癰腫䘌瘡，除風邪，殺毒氣，消食下氣健胃，善化肉行濕，破冷氣，爛痃癖，闢溫疫氣、瘴氣、伏邪、惡蠱、毒蛇蟲、溪毒。治中暑毒，霍亂轉筋、腹痛，爛嚼溫水送之。又鼻衄不止，搗碎塗腳心，止即拂去，醋浸經年者良。此物性熱，氣極暈，煮為羹臛極俊美，熏氣亦微下氣，溫中，消穀。雖曰人喜食多於暑月，但生食久食，傷肝氣，損目明，面無顏色，又傷肺傷脾，引痰，宜戒之。葉亦可食。獨予者攻毒，如癰疽發背、惡瘡腫核初發，取紫皮獨頭者切片貼腫心，炷艾灸其上，覺痛即起，焦者用新者再灸。瘡初痛者灸不痛，不痛者灸痛。癢者亦如之。以多灸為良，無不效者。疣贅之類，亦依此灸之。</p>
<p><u>茄</u>　味甘，寒。患冷人不可多食，熱者少食無畏。多食損人，動氣，發瘡及痼疾，菜中惟此物無益。丹溪謂：茄屬土，故甘而喜降火，藥中用根煎湯洗足瘡，蒂燒灰治口瘡，甚效。皆甘以緩火之意。</p>
<p><u>菠薐菜</u>　冷，微毒。利五臟，通腸胃熱，解酒毒。北人多食。肉面，食此則平。南人多食魚鱉水米，食此則冷，不可多食。冷大小腸，發腰痛，令人腳弱不能行。一云，服丹石人食之佳。《劉禹錫佳話錄》云：此菜來自西域頗稜國，誤呼菠薐。《藝苑雌黃》亦云。</p>
<p><u>苦蕒</u>　冷，無毒。療面目黃，強力止困，敷蛇蟲咬良。又汁敷疔腫，根即出。蠶婦食之壞蠶蛾。</p>
<p><u>莙薘</u>　味平，微毒。補中下氣，理脾胃，去頭風，利五臟冷氣。多食則動氣。先患腹冷人食之破腹。莖灰淋汁洗衣，白如玉色。</p>
<p><u>薺菜</u>　味甘，氣溫，無毒。主利肝氣，和中。其實名菥蓂子，主明目，目暴赤痛，去障翳。根汁點目中亦效。燒灰治赤白痢。</p>
<p><u>紫菀</u>　味苦辛，溫，無毒。主咳嗽，寒熱結氣，去蠱毒痿蹶，安五臟，療咳唾膿血，補虛勞，消痰止渴，潤肌膚，添骨髓。連根葉採之，醋浸，入少鹽，收藏待用。其味辛香甚佳，號名仙菜，性怕鹽多，則腐也。</p>
<p><u>百合</u>　味甘，平，無毒。主邪氣腹脹、浮腫心痛、乳難、喉痹、利大小便，補中益氣，止顛狂涕淚，定心志，殺蠱、毒瘡癰腫、產後血病。蒸煮食之，和肉更佳。搗粉作麵食，最益於人。</p>
<p><u>枸杞</u>　味苦，寒，根大寒，子微寒，無毒。無刺者是。其莖葉補氣益精，除風明目，堅筋骨，補勞傷，強陰道，久食令人長壽。根，名地骨，寇宗奭曰：枸杞當用梗皮，地骨當用根皮，枸杞子當用其紅實。諺云：去家千里，莫食枸杞。言其補益強盛，無所為也。和羊肉作羹食，和粳米煮粥食，入蔥豉五味補虛勞尤勝。南丘多枸杞，村人多壽，食其水土也。潤州大井有老枸杞樹，井水益人，名著天下。與乳酪忌。</p>
<p><u>薪菜</u>　味甘，無毒。主女子崩中帶下，止血養精，保血脈，益氣，令人肥健嗜食。又止煩熱渴，去伏熱，殺藥毒。置酒醬中香美，和醋食益滋人，但損齒生黑。作虀菹，煮食生啖並得。一種荻蘄用莖。葉水蘄，水滑地所生者，不及高田者宜人。三月、八月勿食，恐病蛟龍瘕。</p>
<p><u>菾菜</u>　味甘苦，大寒。主時行壯熱，解風熱毒，止熱毒痢，開胃通膈，又治小兒熱。其花白，婦人食之宜。</p>
<p><u>茼蒿</u>　平。主安氣，養脾胃，消水飲。多食動風氣薰心，令氣滿。</p>
<p><u>蕨</u>　味甘，寒滑。去暴熱，利水道。令人睡，弱陽，小兒食之腳弱不能行。又云，寒，補五臟不足，氣壅經絡，筋骨間毒氣，令人消陽事，令眼暗，鼻中寒，發落，非良物也。又冷氣，人食之多腹脹。《搜神記》曰：郗鑑鎮丹徒，二月出獵，有甲士折一枝食之，覺心中淡淡成疾，後吐出一小蛇，懸屋前，漸幹成蕨，遂明此物不可生食也。今人遇荒年，多取其根，搗洗作粉，代糧度活，終羸弱不養人。一種名薇，亦蕨類。</p>
<p><u>茭白</u>　味甘，冷。去煩熱。又云，主五臟邪氣，腸胃痼熱，心胸浮熱，消渴，利小便。多食令人下焦冷，發冷氣，傷陽道。不可同蜜食。糟食之甚佳。</p>
<p><u>紫菜</u>　味甘，寒。下熱解煩，療癭瘤結氣。不可多食，令人腹痛，發氣，吐白沫，飲少醋即消。其中有小螺螄，損人，須擇出。凡海菜皆然。</p>
<p><u>鹿角菜</u>　大寒，無毒，微毒。下熱風氣，療小兒骨蒸，解面熱。不可久食，發痼疾，損經絡血氣，令腳冷痹，損腰腎，少顏色。</p>
<p><u>白苣</u>　味苦，寒。一云，補筋骨，利五臟，開胸膈壅氣，通經絡，止脾氣，令人齒白，聰明少睡，可常食。產後不可食，令人寒中小腸痛。患冷人食即冷腹。葉心抽苔名萵荀，或醃或糟，曝乾食之甚佳。一種萵苣，一種苦苣，治療腫諸痢。</p>
<p><u>石耳</u>　石崖上所生者，出天台山、廬山等名山，《靈苑方》中名曰靈芝。味甘，平，無毒。久食延年，益顏色，至老不改，令人不飢，大小便亦少。一云性冷。</p>
<p><u>苦芙</u>　味苦，寒。主面目遍身漆瘡並丹毒。生山谷下濕處，浙東人清明節爭取嫩者生食，以為一年不生瘡疥。又煎湯洗痔瘡甚驗。</p>
<p><u>山藥</u>　味溫平，無毒。主傷中，補虛羸，除寒熱邪氣，補中益氣力，長肌肉。又云，主頭面遊風，頭風眼眩，下氣，止腰痛，補勞瘦，充五臟，除煩熱，強陰。久服耳目聰明，輕身不飢，延年。生山中者良。又云，安魂魄，鎮心神。《本草》謂之薯蕷，江南人呼為藷。南地種之，但性冷於北地者耳。</p>
<p><u>芋</u>　一名土芝，一名蹲鴟。味平。水田宜種之。莖可作羹臛及菹。又云，愈蜂螫。其頭大者為魁，小者為子，荒年可以度飢。小兒食之滯胃氣，有風疾者忌食之。</p>
<p><u>雍菜</u>　味甘，平，無毒。蔓生花白，摘其苗以土壅之即活。與野葛相伏，取汁滴野葛即死。張司空云：魏武帝啖野葛至尺許，應是先食此菜無害也。一名甕菜。</p>
<p><u>決明菜</u>　明目清心，去頭眩風。味甘，溫。苗高三、二尺，春取為蔬。花、子可點茶，又堪入蜜煎。</p>
<p><u>芎苗</u>　味辛，溫，無毒。主咳逆，定驚風，辟邪惡，除蠱毒鬼疰，去三蟲。久服通神。川中產者良，本地者點茶亦清頭目。</p>
<p><u>蔊菜</u>　味辛。生山谷泉石間，根葉皆可食，根尤佳。</p>
<p><u>荇菜</u>　生湖陂中，葉紫赤圓，徑寸余，浮水面，莖如釵股，上青下白。《詩》所謂參差荇菜是也。可醃為菹。</p>
<p><u>羊蹄菜</u>　味苦，寒，無毒。根用醋磨塗癬疥速效。治癧瘍風，並大便卒澀結不通，喉痹卒不能語，腸風痔瀉血，產後風，銼根取汁煎服殊驗。《詩》曰：言採其遂，即此。注曰：惡菜也。</p>
<p><u>蒟蒻</u>　味辛，寒。葉與天南星相似，但莖斑花紫，南星莖無斑，花黃為異耳。性冷，主消渴。採其根搗碎，以灰汁煮之成餅，五味調和為茹食。又蜀人取以作醬，味酢美。</p>
<p><u>地蠶</u>　生郊野麥園中，葉如薄荷，少狹而尖，亦微皺，欠光澤，根白色，狀如蠶。四月採根，以滾水瀹之，和以鹽，為菜茹。</p>
<p><u>假蘇</u>　味辛，溫，無毒。主除寒熱、鼠瘻瘰癧、生瘡，破結聚氣，下瘀血，除濕痹，辟邪氣，通利血脈，傳送五臟。能發汗，動渴消，除冷風，治頭風眩暈、婦人血風等為要藥。治產後血暈併產後中風身僵直者，搗為末，童便調，熱服，口噤者挑齒灌之，或灌鼻中，神效。末和醋敷疔腫抽風毒即瘥。初生新嫩辛香可啖，人取以作生菜，即今之荊芥也。</p>
<p><u>紫蘇</u>　味辛甘，氣溫。主下氣，除寒中，解肌發表，通心經，治心腹脹滿，開胃下食，止腳氣，通大小腸。煮汁飲之，治蟹毒。子尤良，主肺氣喘急咳逆，潤心肺，消痰氣，腰腳中濕風結氣，調中下氣，止霍亂嘔吐反胃，利大小便，破癥結，消五膈。又杵為末，酒調服，治夢泄。有數種，面背皆紫者佳。一種水蘇，主吐血、衄血、血崩、血痢、產後中風，下氣，闢口臭，去毒惡氣，久服通神明，輕身耐老。一名雞蘇。</p>
<p><u>薄荷</u>　味辛苦，氣涼溫，無毒，入手太陽經、厥陰經。主賊風傷寒，發汗，通利關節，傷風，頭腦風及小兒風涎，驚風壯熱。乃上行之藥，能引諸藥入榮衛。又主風氣壅並，下氣，消宿食惡氣，心腹脹滿，霍亂，骨蒸勞熱。用其汁與眾藥熬為膏，亦堪生食。新大病瘥人勿食，令汗出不止。貓食之即醉。一種名石薄荷，又云龍腦薄荷、南薄荷。</p>
<p><u>香薷</u>　味辛，氣微溫，無毒。主霍亂，腹痛吐下，下氣，除煩熱，調中溫胃，治傷暑，利小便，散水腫，又治口氣。人家暑月多煮以代茶，可無熱病。一種香菜，味甘可食，三月種之。</p>
<p><u>筍</u>　味甘，微寒，無毒。主消渴，利水道，下氣，除煩熱，理風熱腳氣。多食動氣，發冷氣冷症。蒸煮彌熟彌佳。苦筍，味苦，寒。治不睡，去面目並舌上黃，利九竅消渴，明目，解酒毒，不發痰，除煩熱出汗，治中風失音。此筍有二種，一出江西、福建，粗大味苦不堪食；一出浙江，味微苦，呼為甜苦筍，食品所貴。堇筍，味籨難食。主消渴，益氣力，補虛，下氣。多食發氣脹。淡筍，即中母筍，味甘。主消痰，除熱狂壯熱、頭痛風，並妊人頭旋倒地、驚悸、溫疫迷悶、小兒驚癇天吊等症。多食發背悶腳氣。箭筍，新可食，作筍乾佳，但硬難化，不可與小兒食。青筍，味甘。止肺痿唾血，鼻衄，治五痔並妊娠。貓筍，味甘，溫，生於冬，不出土者，曰冬筍。小兒痘疹不出，煮粥食解毒，有發生之意。筀筍，味亦然。大抵筍類甚多，滋味甚爽，人喜食之。但性冷且難化，不益脾胃，是宜少食也。又嘗有一醫說，有人素患痰，食筍而愈。</p>
<p><u>冬瓜</u>　味甘，微寒。主除小腹水脹，利小便，止渴，益氣耐老，除滿，去頭面熱。熱者食之佳，冷者食之瘦。又煉五臟，以其下氣也。欲輕健者食之，欲肥胖者勿食。丹溪云，冬瓜性走而急，久病及陰虛者忌食之。霜降後方可食，不然令人成反胃病。又瘥五淋。患背癰，削片置瘡上，分敗熱毒。</p>
<p><u>稍瓜</u>　味甘，寒。利腸，去煩熱，止渴，利小便，解酒熱，宣泄熱氣。多食動氣發瘡，冷中，令臍下癥痛及虛弱不能行。不益小兒。不可同乳酪、鮓食及空心食，令胃脘痛。一云，和飯並虀作鮓食，亦益脾胃。</p>
<p><u>甜瓜</u>　寒，無毒。少食止渴除煩熱，利小便，通三焦壅塞氣，夏月不中暑氣，兼主口鼻瘡。多食令陰下濕癢生瘡，動宿冷病，並虛熱，手腳無力。破腹落水沉者，雙頂雙蒂者，皆有毒，切不可食。瓜蒂，主身面四肢浮腫，下水，殺蠱毒。咳逆上氣，風癇喉風，痰涎暴塞及食諸果病在胸腹中，皆吐下之。去鼻中息肉，療黃疸及暴急黃。花，主心痛咳逆。</p>
<p><u>黃瓜</u>　味甘，寒，有毒。不可多食，動寒熱，多瘧疾，發百病，積瘀熱，發疰氣，令人虛熱上逆，髮腳氣瘡疥，不益人。小兒尤忌，滑中生疳蟲。不可與醋同食。</p>
<p><u>絲瓜</u>　《本草》諸書無考，惟痘瘡及腳癰方燒灰用之，此其性冷解毒。粥鍋內煮熟，姜醋食，同雞、鴨、豬肉炒食佳。枯者去皮及子，用瓤滌器。子，苦者，氣寒有毒。主大水，面目四肢浮腫，下水，令人吐。甜者，性冷無毒。又云，微毒。除煩止渴，治心熱，利水道，調心肺，治石淋，吐蛔蟲，壓丹石。若患腳氣虛脹，令氣人食之病增。此物夏熟，形長尺余，兩頭相以者是也。</p>
<p><u>葫蘆</u>　夏秋間熟，形圓而扁，性味與瓠子同類。</p>
<p><u>蓴</u>　味甘，寒，無毒。主消渴熱脾。同鯽魚作羹美食佳。下水，利小便，解百藥毒及蠱氣，下氣止嘔。其性滑不益脾，多食發痔，損胃及齒髮面色。</p>
<p><u>金雞瓜</u>　味甘，平，無毒。主五痔頭風，小腹拘急，和五臟，醒酒。其木造屋，則屋中酒味皆淡。</p>
<p><u>姜</u>　味辛甘，微溫。主傷寒，頭痛鼻塞，止氣入肺，開胃口，益脾胃，散風寒痰嗽，止嘔吐之聖藥，通神明，去穢惡。子姜性熱，母姜存皮性微溫，去皮性熱。無病之人，夜間勿食，蓋夜氣收斂，姜動氣故也。</p>
<p><u>豆腐</u>　性冷而動氣。一云，有毒，發腎氣，頭風，瘡疥，杏仁可解。又蘿蔔同食，亦解其毒。</p>
<p><u>咸豆豉</u>　味甘鹹，無毒。主解煩熱，調中發散，通關節，香烈殺腥氣。其法，用黑豆酒醋浸蒸曝乾，以香油和，再蒸曝，凡三遍，量入鹽並椒末、乾生薑、陳皮屑，和藏。食之宜病人。</p>
<p><u>蕈</u>　地生者為菌，木生者為檽，江南人呼為蕈。味鹹甘，平，微溫，小毒。主心痛，溫中，去蛇螫毒，蛔蟲，寸白蟲諸蟲。今世所通用者，一曰菰子。生於深山爛楓木上，小於菌而薄，黃黑色，味甚香美者，為香蕈，最為佳品。有一種曰雞腿蘑菰。其他或在地，或在樹，地生者多毒，往往殺人，土人自能識。凡夜有光者，煮不熟者，煮訖其湯照人無景，欲爛無蟲者，俱有毒。夏秋者多毒，以蛇蟲行故也。此物皆濕熱化生之物，煮之，宜切以姜及投飯粒試之，如黑則有毒，否則食之無害。《本草》注謂：九菌皆發五臟，壅經絡，動痔，病昏多睡，背膞，四肢無力，又多發冷氣。大抵食之不甚益人也。</p>
<p><u>木耳</u>　凡木上所生者曰木耳。主益氣，輕身強志。一云，平利五臟，宣腸胃氣，排毒氣，壓丹石熱。又主血衄。不可多食。桑槐上者佳，余動風氣，發痼疾，令筋下急，損經絡，令背膞悶。楓木上者，食之令人笑不止，地漿解之。一人患痔，諸藥不效，用木耳同它物煮羹食而愈，極驗，但它物今失記矣。桑耳，味甘，有毒。黑者，主女子赤白帶下，癥瘕，陰痛，陰陽寒熱，無子，月水不調。其黃熟白者，止泄，益氣。金色者，治癖飲積聚。一云，寒，無毒，主消渴。又云，甘辛。又云，溫，微毒，止腸風瀉血，婦人心腹痛，治五痔。柘木上者，次於桑槐耳。主五痔心痛，女子陰中瘡痛，又治風破血，益力。楮耳，人常食之，並榆柳耳，名具五耳，而功用無所另著。余未俱有耳，若木之氣性本良者，亦可食。</p>
<p><u>蔞蒿</u>　味甘辛。生水澤中，葉似艾，青白色，長數寸，食之香脆而美。葉可為茹。一種莪蒿，一美菜；一種邪蒿，作羹臛佳。</p>
<p><u>苦菜</u>　味苦，寒，無毒。主五臟邪氣，壓谷胃痹，腸癖，渴熱中疾，惡瘡。久服安心益氣，聰察少臥，輕身耐老，耐飢寒。此菜生北地，方冬即彤，生南地則冬夏常青。《月令》所謂苦菜秀者是已，即今之茶也。出山田及澤中，得霜甜脆而美。</p>
<p><u>馬蘭</u>　味辛，溫。生水澤，採為茹。根治嘔血，擂汁飲立止。</p>
<p><u>蘩蔞</u>　味酸，氣平，無毒。主積年惡瘡不愈，有神效。又主破血，宜產婦口齒，方燒灰或作末揩齒宜露。治淋，取滿兩手以水煮服。此菜生田野中，人取以作羹，或生食之，或煮食，益人，即雞腸草也。</p>
<p><u>蕺菜</u>　味辛，微溫。主蠼螋溺瘡。多食令人氣喘。</p>
<p><u>東風菜</u>　味甘，寒，無毒。主風毒壅熱，頭痛目眩，肝熱眼赤。入羹臛煮食甚美。此菜生平澤，莖高二三尺，葉似杏葉而長，極厚軟，上有細毛，先春而生，故有東風之號。</p>
<p><u>油菜</u>　味甘。主滑胃，通結氣，利大小便。冬種春長，形色俱似白菜，根微紫，抽嫩心，開黃花，取其苔為菜茹甚佳。子，枯取以榨油，味如麻油，但略黃耳。一種黃瓜菜，形似油菜，但味少苦，野主平澤中，取為羹茹，亦甚香美。</p>
<p><u>藕絲菜</u>　味甘，寒。解熱渴煩毒，下瘀血。即雞頭子管也。</p>
<p><u>莫菜</u>　味酢而滑。生水浸濕地，去皮膚風熱。莖大如箸，赤節，節一葉，似柳葉，厚而長，有毛刺。可為羹，始生又可生食。</p>
<p><u>白花菜</u>　味甘，氣臭，性寒。生食苦；醃以為菹，動風氣，下氣，滯臟腑，多食令人胃悶滿，傷脾。一種黃花菜，同此類。</p>
<p><u>蘋</u>　味辛酸，寒，無毒。主暴熱身癢，下水氣，勝酒，長鬚發，止消渴，下氣。久服輕身。季春始生，可糝蒸為茹。《詩》所謂來蘋米藻以供祭者是也。昔楚昭王渡江，獲蘋實如斗，剖而食之，甜如蜜，即此。但不可多食也。蘋有三種。</p>
<p><u>藻</u>　有二種，皆可食。熱捋去腥氣，米麵糝蒸為茹，甚佳美，饑年以充食。一種海藻，味苦寒，咸，無毒。主癭瘤氣，頸下核，破散結氣癰腫，癥瘕堅氣，腹中上下鳴，下十二水腫，療皮間積聚暴潰，留氣熱結，利小便，一名海帶。</p>
<p><u>蒲蒻</u>　味甘，微寒。主消渴，生啖之脆美。《詩》云維筍及蒲是也。</p>
<p><u>蓼</u>　味辛，氣溫，無毒。主明目，溫中，耐風寒，下水氣，面目浮腫，癰瘍瘰癧，歸鼻，除腎氣。葉歸舌，除大小腸氣，利中。霍亂轉筋，多取煮湯及熱捋腳。又搗敷小兒頭瘡。馬蓼，去腸中蛭蟲。水蓼搗敷蛇咬，又煮漬腳捋之，消腳氣腫。腳痛成瘡，頻淋洗之。此菜人所多食，或暴乾亦佳。</p>
<p><u>葛根</u>　味甘，寒，無毒。主癰腫惡瘡。冬月取生者，以水中揉出粉，成垛，煎沸湯，擘塊下湯中，良久色如膠，其體甚韌，以蜜湯中拌食之，用姜屑尤佳。治中熱酒渴病，多食利小便，亦能使人利，切以茶食亦甘美。又生者煨熟極補人。</p>
<p><u>白蘘荷</u>　微溫，主中蠱及瘧。有赤、白二種，根、莖、葉可為菹。</p>
<p><u>胡蔥</u>　味辛，溫平。消穀下氣，殺蠱。久食傷神損性，令人多忘，損目明，尤發痼疾。患狐臭人不可食，令轉甚。</p>
<p><u>鹿蔥</u>　味甘，涼，無毒。根治沙淋，下水氣，主酒疸。黃色通身者，取根搗汁服。嫩苗煮食，又主小便澀，身體煩熱。花名宜男，炒以點茶，又安五臟，利心志，令人好歡樂忘憂，輕身明目，利胸膈，甚佳。《詩》曰焉得諼草，即此也。</p>
<p><u>芸臺</u>　味辛，溫，無毒。主風遊丹腫，乳癰。煮食，主腰腳痹，破癥瘕結血。多食損陽氣，發瘡，口齒痛，又生腹中諸蠱。</p>
<p><u>堇菜</u>　味甘，寒，無毒。主蛇蠍毒及癰腫。此菜野生，久食除心煩熱，令人身體懈墮多睡。一云，苦，主寒熱，功同香茂。</p>
<p><u>苜蓿</u>　味甘，淡。嫩採食之，利大小腸，煮羹甚香美，干食益人。</p>
<p><u>落葵</u>　味酸，寒無毒。主滑中，散熱。子，主悅澤人面。人被犬咬，食此菜，終身不瘥。</p>
<p><u>秦荻梨</u>　味辛，溫，無毒。主心腹冷脹，下氣消食。於生菜中最香美，甚破氣，又名五辛菜。</p>
<p><u>甘藍</u>　平。補骨髓，利臟腑並關節，通經絡中結氣，明耳目，健人少睡，益心力，壯筋骨，治黃毒。煮作菹食，去心結伏氣。</p>
<p><u>翹搖菜</u>　味辛，平，無毒。主破血，止血生肌。充生菜食之，又主五種黃病。煮熟甚益人，和五臟，明耳目，去熱風，令人輕健，長食不厭。此菜生平澤，紫花，蔓生，如勞豆是也。</p>
<p><u>荏菜</u>　味辛，溫，無毒。主調中，去臭氣。子，主咳逆下氣，溫中補體，可以榨油。生食，止渴潤肺。</p>
<p><u>蘿勒菜</u>　味辛，溫，微毒。調中消食，去惡氣，消水氣，宜生食。多食壅關節，澀榮衛，令血脈不行，動風，髮腳氣。療齒根爛瘡，為灰用甚良。子，主目翳，風赤眵淚。根，主小兒黃爛瘡，燒灰敷之。北人呼為蘭香是也。</p>
<p>上諸菜，皆地產陰物，所以養陰，固宜食之。丹溪云，司疏泄者菜也。謂之蔬有疏通之義焉，食之則腸胃宣暢而無壅滯之患。儒先曰：人若咬得菜根斷，則百事可做。故食菜既足以養身，又有以養德也。</p>

<h2>果類</h2>
<p><u>藕</u>　味甘，平，寒，無毒。主熱渴煩悶，產後血悶，散血生肌，止泄，解酒毒，開胃，止怒，久食心歡。產後忌生冷，惟藕不忌，以其破血也。蒸煮熟則開胃，甚補五臟，實下焦。與蜜同食，令腹臟肥，不生蟲。白蓮者尤佳。</p>
<p><u>蓮子</u>　味甘，平，寒，無毒。補中，安心神，養氣力，益經脈，除百病，止渴止痢，治腰痛泄精。久服輕身，耐老延年，不飢，多食令人喜。生者動氣脹人，熟者良。並宜去心葉及房，皆破血，胎衣不下，酒煮服之。葉蒂，味苦，主安胎，去惡血，留好血，血痢煮服之。花，忌地黃、蒜。鎮心輕身，益色駐顏。</p>
<p><u>棗</u>　生者味甘，平，無毒。多食令人寒熱腹脹，滑腸難化，羸瘦人尤不可食。熟者味甘，溫，無毒。主心腹邪氣，安中補虛，益氣養脾，助十二經，平胃氣，通力竅，潤心肺，止嗽，補少氣，少津液，身中不足，大驚，四肢重，和百藥。久服輕身延年。一云，多食動風動嗽。三年陳者核中仁，主腹痛惡氣。棗類甚多，大抵以青州所出者，肉厚為最。不可同生蔥食。中滿者與牙痛者，俱不可食。小兒多食，生疳損齒。丹溪云：棗屬土而有火，味甘性緩。經云。甘先入脾，又謂補脾未嘗用甘。今人食甘多者，惟脾受病。小兒苦患秋痢與蟲，食之良。</p>
<p><u>慄</u>　味鹹，氣溫，無毒。主益氣，厚腸胃，補腎氣，腰腳無力，破痃癖，治血，大效。生則發氣，熟則滯氣。或日暴乾，或灰火中煨令汗出，或以潤砂藏之，或袋盛當風懸之，並令去其木氣，食之良。此乃果中最有益者。當中一子，名慄稧，尤好，治血更效。宣州及北地所產小者為勝。余雖有數種，實一類也。小兒不宜多食，難化。患風水病者不宜食，以其味鹹也，戒之。殼煮汁飲之，止反胃消渴。</p>
<p><u>葡萄</u>　味甘，平，無毒。主筋骨濕痹，益氣力，令人肥健耐寒，利小便。瘡疹不發，取其子。汁釀酒甚美，不可多食。其形色非一類，大抵功用有優劣也。丹溪云：葡萄能下走滲道。西北人稟厚，食之無恙，東南人食多則病熱矣。</p>
<p><u>柿</u>　味甘，氣寒，無毒。屬陰，主通耳鼻氣，補勞，潤心肺，止渴，澀腸，療肺痿，心熱嗽，消痰開胃，治吐血。烏柿，火熏捻作餅者，溫，止痢及潤聲喉，殺蟲。乾柿，日暴乾者，微冷，厚腸胃，澀中健脾，潤聲喉，殺蟲，多食去面皯及腹中宿血，酥蜜煎食，益脾。若風中自乾者，亦動風。黃柿，將熟未熟者為黃柿，和米粉蒸作糕，小兒食之止痢。紅柿，樹上紅熟者，冷，解酒毒。一云，非也，止口渴，厭胃熱，飲酒食之心痛直至死，且易醉。醂柿，水養者入鹽，有毒，澀下焦，健脾胃，消宿血。朱柿，小而紅圓可愛者，甚甘美。牛奶柿，小而似牛奶者，至冷，不可多食。今人火乾者，名柿花，貨之四方，多用以煨，小兒止瀉痢，益脾肺，蓋亦經火焙性不冷矣。椑柿，即綠柿，惟堪生啖，性冷更甚，去胃熱，壓丹石藥，利水，解酒毒。久食令人寒中。丹溪云，柿屬金而有土，為陰而有收之意。止血治嗽，亦可為助。同蟹食即腹痛大瀉。</p>
<p><u>桃</u>　味甘酸，熱，微毒。益色辟邪，發丹石毒。多食令人有熱，服術人忌食。又不可與鱉同食。食之浴水，成淋病。其類甚多。仁，味苦甘，氣平，苦重於甘，陰中陽也，無毒，入手足厥陰經。主瘀血血閉，血結血燥，癥瘕邪氣，殺小蟲，通潤大便，除卒暴擊血，通月水，止痛。苦以破滯血，甘以生新血。花，味苦，殺疰惡鬼，令人好顏色，除水腫石淋，利大小便，殺三蟲，酒浸服之除百病。桃梟，即桃實，著樹不落。實中者正月採之，主殺百鬼精物，五毒不祥，療中惡腹痛，破血。有人吐血，諸藥不效，取此燒灰存性，米湯調服，立愈。桃蟲，殺鬼邪惡不祥。葉，味苦，主除屍蟲，出瘡中蟲。桃膠，下石淋，破血。煉之，保中不飢，輕身，忍風寒。莖與皮，味苦辛，除邪鬼中惡腹痛，去胃中熱。蓋桃乃五木之精，仙木也，少則華盛實甘且大。蟠桃之說有自來矣。</p>
<p><u>杏</u>　味甘酸，熱，有毒。多食傷筋骨，傷神，盲目。小兒尤不可食，致瘍癰及上膈熱。仁，味甘苦，氣溫，有小毒，入手太陰經。主咳逆，上氣雷鳴，喉痹，下氣定喘，潤心肺，散肺經風寒咳嗽，消心下急滿痛，散結潤燥，產孔金瘡，寒心奔豚等疾。丹溪云，性熱，因寒者可用。東垣云：杏仁下喘治氣也，桃仁療狂治血也，俱治大便燥，但有血氣之分耳。花，味苦，主補不足，女子傷中，寒熱痹，厥逆。</p>
<p><u>石榴</u>　味甘酸，無毒。主療咽燥渴，多食損人肺，齒令黑。酸者，止痢澀腸漏精；甜者，理乳壓丹石毒。有子白而大者，名水晶榴，味甘美。丹溪曰：榴者，留也。味酸性滯，戀膈成痰。東行根，療蛔蟲、寸白。花，白葉者，主心熱吐血及衄血，干之作末，吹鼻中立瘥。金瘡刀斧，傷破流血，和石灰搗末，敷上即愈。</p>
<p><u>梨</u>　味甘，微酸，氣寒。主熱結。多食令人寒中。金瘡、乳婦尤不可食，以血虛也。又食則動脾，惟病酒煩渴食之甚佳，亦不能卻疾。種類甚多，此則乳梨，鵝梨、消梨近是矣，出宣城，皮厚肉實味長。鵝梨，出西北州郡，皮薄漿多味差而香則過之。消梨，甘，南北各處所出有味甚美而大至一二斤者。余如水梨、紫糜梨、赤梨、青梨、棠梨、御兒梨、花梨、茅梨之類，未聞入藥。丹溪云：梨者，利也。流利不行之謂也。</p>
<p><u>李</u>　味苦酸，平，溫，無毒。除痼熱，調中益氣。不可多食，令人虛熱。不可與蜜及雀肉食，損五臟。種類甚多，有綠李、黃李、紫李、生李、水李、麥李、赤李、剝李、房陵李、朱仲李、馬肝李、牛心李、朝天李、胭脂李、蜜李、蠟李、青蔥李、炭李、道州李、翠李、十月李，俱可食而不可多也。仁，苦，平，無毒。主僵撲躋，瘀血骨痛。根皮，大寒，主消渴，止心煩逆奔氣。</p>
<p><u>柰子</u>　味苦澀，寒，多食令人脹。又云，治飽食後肺壅氣脹。</p>
<p><u>胡桃</u>　味甘，平，氣溫，無毒。食之令人肥健，潤肌，黑髮。補下元亦用之。多食利小便，動風生痰，助腎火。又云，去五痔，通血脈，食酸齒齼者，細嚼解之。丹溪云：屬土而有火，性熱。《本草》言甘平，是無熱也。又云，脫眉動風，非熱何以傷肺？</p>
<p><u>楊梅</u>　味酸，溫，無毒。去痰去嘔，消食下酒，和五臟，除煩憤惡氣，甚能止痢。多食令人發熱，亦能損齒及筋骨也。</p>
<p><u>林檎</u>　味酸甘，溫。發熱，澀氣，止泄痢遺精，霍亂肚痛，消食止渴。多食令人睡，發冷痰，生癰癤，脈閉不行。</p>
<p><u>橄欖</u>　味酸澀甘，溫，無毒。主消酒開胃，下氣止泄，解魚毒，尤解鯸鮐魚毒。核中仁，去唇吻燥痛。丹溪云：味澀而生甘，醉飽宜之。然性熱，多食能致上壅。核分二瓣，蜜漬食佳。</p>
<p><u>西瓜</u>　味淡甘，寒。壓煩熱，消暑毒，療喉痹，有天生白虎湯之號。多食作泄痢，與油餅之類同食損胃。一種名楊溪瓜，秋生冬熟，形略長扁而大，瓤色胭紅，味勝西瓜，可留至次年夏間，或曰是異人所遺之種也。</p>
<p><u>枇杷</u>　味甘酸，寒，無毒。利五臟，潤肺下氣，止嘔止渴。多食發痰熱。不可與炙肉、面同食，令人發黃病。葉，味苦，氣平，無毒。拂去毛用。主卒嘔啘不止，不下食，治肺熱久嗽並渴疾，又療婦人產後口乾。其木白皮，亦主吐逆不下食。</p>
<p><u>榧子</u>　味甘，無毒。主五痔，去三蟲，蠱毒鬼疰，令人能食，消穀，助筋骨，行榮衛，明目輕身。有患寸白蟲者，化蟲為水。多食不發病。又云，五痔人常食之則愈。過多則滑腸。粗榧，其木相似，但理粗色赤，其子稍肥大，僅圓不尖。《本草》有彼子味溫，有毒，主腹中邪氣，去三蟲，蛇螫蠱毒，鬼疰伏屍。又《爾雅》云：彼當作被，木似柏子，名榧。蓋被子即粗榧也。丹溪云：榧，肺家果也。火炒食之，香酥甘美，但引火入肺，大腸受傷。</p>
<p><u>梅</u>　味酸，平，無毒。生食之，止渴，損齒，傷骨。一云，利筋骨，蝕肺胃，令人膈發虛熱。服黃精人，尤不可食。烏梅，暖，無毒。主下氣，除煩熱，收肺氣，安心，止痢澀腸，消酒毒，去痰，治瘧瘴麻痹，霍亂，虛勞骨蒸。多食不宜。白梅，鹽醃暴乾者。《本草》只用烏梅，白梅研敷刀箭傷，止血。刺在肉中，嚼封之即出。乳癰腫毒，杵爛貼佳。又和藥點痣。《書》曰，若作和羹爾，惟鹽梅者是也。</p>
<p><u>芡</u>　味甘，氣平，無毒。主濕痹腰脊腳痛：補中益精，開胃助氣，小兒食之不長。蒸暴作粉食良，生食動風氣，多食不益脾胃，且難化。一云，令膈上熱。</p>
<p><u>櫻桃</u>　味甘，溫。主調中益脾，令人好顏色，止痢並泄精。多食發虛熱。丹溪言，大熱而發濕。《日華子》言，微毒，食多令人吐。《衍義》言，小兒食之過多，無不作熱。舊有熱病與嗽喘者，食之立病。</p>
<p><u>菱角</u>　味甘，平，無毒。主安中，補五臟，不飢輕身。四角、三角，曰芰；兩角，曰菱。又云，芸實作粉，蜜和食之，可休糧。此物最不宜人，多食令臟腑冷，損陽氣，陰不強，不益脾，且難化，惟解丹石毒。生者、熟者食致脹滿，用姜酒一二杯解之。不可合白蜜食，令生蟲。</p>
<p><u>荔枝</u>　味甘，微酸，溫，無毒。止煩渴，美顏色，通神健氣，極甘美，益人，食之不厭。然太多亦發虛熱，飲蜜漿一杯即解。丹溪云：此果肉屬陽，主散無形質之滯氣，故能消瘤贅赤腫。以核慢火中燒存性為末，酒調服，治心痛及小腸氣。</p>
<p><u>圓眼</u>　味甘，平，無毒。主五臟邪氣，安志，壓食。故《醫方》歸脾湯用之。除蠱毒，久服輕身不老，通神明。一名益智。閩中出者，味勝，生食不及荔枝，故曰荔奴。</p>
<p><u>松子</u>　味甘，溫，無毒。主風寒氣，虛羸少氣，補不足。服食有法，《列仙傳》言，偓伶好食松子，能飛走及奔馬。一種海松子，主骨節風，頭眩，去死肌白髮，散水氣，潤五臟，不飢。</p>
<p><u>榛子</u>　味甘，平，無毒。益氣力，實腸胃，調中不飢，健行，甚驗。</p>
<p><u>檳榔</u>　味辛，溫，無毒。消穀逐水，除痰僻泄滿，下氣，宣臟腑壅滯，墜諸藥下行，殺三蟲及寸白。多食傷真氣。閩廣人取蒟醬葉裹檳榔，食之辛香，膈間爽快，加蜆灰更佳，但吐紅不雅。一名扶留，所謂檳榔為命雜，扶留是也。</p>
<p><u>黃精</u>　味甘，平，無毒。補中益氣，除風濕，益脾潤肺。九蒸九暴食之。又言餌之可以長生。</p>
<p><u>木瓜</u>　味酸，溫，無毒。主濕痹腳氣，霍亂吐下，轉筋不止。稟得木之正，故入肝利筋骨及血，病腰腿無力，調榮衛，助穀氣，驅濕滋脾，益肺。辛香，去噁心，嘔逆膈痰，心中酸水。多食酸能損齒，以蜜作糕，供湯食佳。凡用勿犯刀鐵。</p>
<p><u>橙皮</u>　味苦辛，溫。散腸胃惡氣，消食，去噁心及胃中浮風氣，醒宿酒。或單食，或和鹽及蜜食，或作醬醋，及和五味入魚肉菜中食，甚香美，且殺蟲魚毒。其瓤，捋去酸水，細切，鹽蜜煎食，去胃中惡氣浮風。有大小二種，皮厚皺者佳。</p>
<p><u>橘</u>　味辛苦，溫，無毒。主胸中瘕熱逆氣，利水穀，除膈間痰，導滯氣，止嘔咳吐逆，霍亂泄瀉。久服去臭，下氣通神，去寸白，理肺氣脾胃，降痰消食。青橘葉，導胸脅逆氣，行肝氣，乳腫痛及脅癰藥中，用之以行經。核，治腰痛，膀胱氣痛，腎冷。炒去𥫝，研，酒調服。青皮，味苦辛，氣寒，足厥陰經引經藥，入手少陽經。主氣滯，消食，破積結膈氣，治小腹痛。須用之瀉肝氣，治脅痛，須醋炒用。勿多服，損人真氣。陳皮治高，青皮治低。</p>
<p><u>柑</u>　味甘，大寒。主利腸胃中毒熱，解丹石，止暴渴，利小便。多食令人脾冷，發痼癖，大腸泄。山柑皮，療喉痛余不堪。</p>
<p><u>土瓜</u>　味苦甘，寒，無毒。主消渴內痹，月閉帶下，益氣行乳，止小便，療口瘡。久食髮腳氣，不能行。</p>
<p><u>山楂</u>　味酸，無毒。健脾消食，去積，行結氣，催瘡痛。治兒枕痛，濃煎汁入沙糖調服，立效。小兒食之更宜。</p>
<p><u>甘蔗</u>　味甘，平，無毒。主下氣和中，助脾氣，利大腸。病反胃，取搗汁和薑汁服之愈。又云，療發熱，口乾，小便澀。</p>
<p><u>落花生</u>　藤蔓，莖葉似扁豆，開花落地，一花就地結一果，大如桃。深秋取食之，味甘美異常，人所稱。</p>
<p><u>椰子</u>　肉，益氣治風。漿，似酒，飲之不醉。主消渴，吐血，腫，去風熱。塗頭，益發令黑。丹溪云：椰子生海外極熱之地，土人賴此解夏月毒渴。天之生物，各因其材。多食動氣。殼為酒器，酒有毒則沸起，今人或漆或相，殊失其義。或相，殊失春義。</p>
<p><u>櫧子</u>　味苦澀。止泄痢，破除惡血，止渴，食之不飢，健行。有甜、苦二種，製作粉食、糕食甚佳。</p>
<p><u>覆盆子</u>　味甘酸，氣平，微熱，無毒。主輕身，益氣，令發下白，顏色好。又主男子腎虛，精竭陰痿。女子食之有子。熟時軟紅可愛，五月採之，失採則枝就生蟲。製為蜜煎食更佳。</p>
<p><u>鳧茨</u>　味苦甘，微寒，無毒。主消渴痹熱，溫中益氣。作粉食之，厚人腸胃，不飢，服丹石人尤宜。又云，不可多食。相傳謂鳧茨性善毀銅，著之皆碎，未嘗試。即今荸薺也。</p>
<p><u>茨菰</u>　味甘。主百毒。產後血悶，攻心欲死，產難，胎衣不出，搗汁服之愈。多食令人患腳，又髮腳氣，癱緩風，損齒，令人失顏色，皮肉乾燥。卒食之，令人嘔水。</p>
<p><u>豆蔻</u>　味辛，溫，無毒。主溫中，心腹痛，嘔，去口臭氣。鮮食佳也。</p>
<p><u>菴羅果</u>　味甘，溫。食之止渴，動風氣，時症及飽食後不可食。又不可與大蒜辛物同食，令人患黃病。樹生狀似林檎。</p>
<p><u>梧桐子</u>　四月開淡黃小花如棗花，枝頭出絲墮地或油沾衣履，五、六月結子，人收炒作果。多食亦動風氣。《月令》所謂清明之日桐始華者，即此。</p>
<p><u>茱萸</u>　味辛苦，大熱，無毒。又云，吳生者，味辛，溫，大熱，有小毒。主溫中下氣，止痛，咳逆，寒熱，除濕痹，逐風邪，開腠理，去痰冷，腹內絞痛，諸冷食不消，中惡心腹痛，逆氣，利五臟。又云，此物最下氣速，腸虛人服之愈甚。根，殺三蟲，治喉痹，止泄瀉不消，療經產余血並白癬。鄉人一時間倉卒無藥，用此多愈，山間之至寶也。</p>
<p><u>皂莢子</u>　炒，春去赤皮，仁將水浸軟，煮熟以糖蜜漬之。甚疏導五臟風熱壅氣，辟邪氣、瘴氣有驗。</p>
<p><u>榲桲</u>　味酸甘，微溫，無毒。主溫中，下氣消食，除心間。醋水食之，須去淨浮毛，否則損人肺，令嗽。</p>
<p><u>金櫻子</u>　味酸澀，平，無毒。療脾泄下痢，止小便利，澀精。久服令耐寒，輕身，殺寸白蟲，和鐵粉可以染髮。去子留皮熬成稀膏，用暖酒服，其功不可盡載。</p>
<p><u>楮實</u>　味甘，寒，無毒。主陰痿水腫，益氣充肌膚，明目。久服不飢，不老輕身。其實初夏生如彈丸，至六、七月漸深紅色，成熟可制食之。葉，主小兒身熱，食不生肌。可作浴湯，又主惡瘡，生肉。皮，主逐水，利小便。莖，主癮疹癢，單用煮湯浴之。汁，主塗癬。一云，投數枚煮肉易爛，與柏實皆可食。</p>
<p><u>獼猴桃</u>　味酸甘，寒，無毒。止暴渴，解煩熱，冷脾胃，動溲僻，壓丹石，下石淋熱壅。不可多食，令人臟寒，泄。此桃考之《本草》，言藤生附樹，葉圓有毛，其形似雞卵大，其皮褐色，經霜始甘美可食。《衍義》言生則極酸，十月爛熟始食。</p>
<p><u>羊桃</u>　味甘，寒。主熛熱，風水積聚。《詩》名萇楚，疑與獼猴桃類。</p>
<p><u>羊棗</u>　實小黑而圓，又謂之羊矢棗。</p>
<p><u>桑椹</u>　味甘，寒。主消渴。或暴乾和蜜食之，令人聰明，安魂鎮神。不可與小兒食，令心寒。《詩》注言：鳩食椹多則致醉。物類之相制也有如此夫。</p>
<p><u>銀杏</u>　味甘苦，平，無毒。生痰動風氣，與鰻魚同食令人軟風，小兒食之發驚。</p>
<p><u>無花果</u>　味甘。開胃止泄痢。色如青李而稍長。</p>
<p><u>柚橘類</u>　《本草》謂：橘柚一物，考之郭璞曰：柚似橙而大於橘。《呂氏春秋》曰：果之美者有江浦之橘，雲夢之柚。《楚辭》亦然。《日華子》云：柚子無毒，治妊孕人吃食少並口淡，去胃中惡氣，消食，去腸胃氣，解酒毒，治飲酒人口氣。柚、橘二物分矣，附之以俟知者擇焉。</p>
<p>上諸果，皆地產陰物，雖各有陰陽寒熱之分，大率言之，陰物所以養陰，人病多屬陰虛宜食之。然果食則生冷，或成濕熱，干則硬燥難化，而成積聚，小兒尤忌。故火熟先君子，果熟後君子之說，古人致謹，良有以也。但四方果類甚多，土產各有所宜，名色各有所異，氣味各有所投，不復悉云。</p>

<h1>卷下</h1>

<h2>禽類</h2>
<p><u>鵝肉</u>　利五臟，解煩止渴，白者勝。又云，性冷，不可多食，令人霍亂，發痼疾。白鵝膏，氣微寒，無毒。主耳卒聾，以灌之。又潤皮膚毛，主射工水毒。又飲其血及塗身，又主小兒驚癇極者。又燒灰主噎。蒼者，有毒，發瘡膿。卵，溫，補中益氣，補五臟。多食發痼疾。</p>
<p><u>鴨肉</u>　補虛，除熱，和臟腑，利水道，消脹，止驚癇，解丹毒，止痢血，解毒頭，治水腫，白鴨尤佳。屎，殺石藥毒，解結縛，散蓄熱，主熱毒痢，為末，水調服之。熱腫毒瘡，和雞卵白敷之，又敷蛐蟮咬瘡良。黃雌鴨最補，綠頭，青頭鴨佳。黑鴨滑中，發冷痢腳氣。卵，微寒，主心膈熱，發氣並冷疾。小兒食之腳軟，鹽醃者稍可。肉與卵並不可與鱉肉同食，害人。</p>
<p><u>雞</u>　補虛羸甚要。屬巽，巽為風，故有風病人食之無不發作。丹雄雞，味甘，氣微溫，無毒。一云，有小毒。主女人崩中漏下，赤白沃，補虛溫中，止血通神，殺毒闢。不者，刺血滴口，主乳難，療白癜風諸瘡，人自縊死，心下溫祥。冠血，益氣中，男雌女雄。百蟲入耳中，滴之即出。頭，主殺鬼。烏雄雞肉，微溫，無毒，主補虛弱，止心腹痛，安胎，療折傷痹病。膽，主療目不明，肌瘡。心，主五邪。肝及左翅毛，主起陰。冠血，主乳難。血，主踒折骨痛及痿痹。肪，主耳聾。腸，主遺溺，小便數不禁。肫內黃皮，微寒，主泄痢，小便遺溺，除熱止煩，並尿血崩中帶下。屎白，微寒，主消渴，傷寒寒熱，破石淋及轉筋，滅瘢痕，敷風痛。白雄雞肉，味酸，微溫，主下氣，療狂邪，安五臟傷中消渴，調中，利小便，去丹毒，三年者能為鬼神所使。黑雌雞肉，味甘溫，無毒，主風寒濕痹，安胎，止產後下血，虛羸，五緩六急，安心定志，除邪辟惡，腹痛及痿折骨痛，乳難。翮羽，主下血閉。黃雌雞肉，味甘酸，溫平，無毒，主傷中消渴，小便數不禁，腸澼泄痢，補益五臟，續絕傷，添精髓，止勞劣，助陽，利水腫。筋骨，主小兒羸瘦，食不生肌。雞子，主除熱，火瘡癇痙，可作琥珀神物。卵白，微寒，療目熱赤痛，除心下伏熱，止煩滿，咳逆，小兒下泄，婦人產難，胞衣不出。醯漬之，療黃疸，破大煩熱。卵中白皮，主久咳結氣，麻黃紫菀和服之，立愈。凡雞以光粉和飲喂之，後取食人尤補益。卵黃溫，卵白微寒，黃雞所下者為最。《素問》曰，陰不足補之以血。雞卵，血也。卵不可多食，動風氣，有毒，醋解之。抱雞肉不可食，發疽。雞具五色者勿食，與烏雞白頭者。又不可與務蒜、薤、芥菜、李子、牛肉、兔肉汁、肝腎同食，各致病。小兒五歲以下，不可與雞肉食，令生蟲。妊娠食，亦令子腹內生蟲。丹溪言雞肋肝火，《衍義》云雞動風者，亦習俗所移。然雞屬土而有金與木，火性，補，故助濕中之火，病邪得之為有助而病劇也。</p>
<p><u>鶩肪</u>　味甘，無毒。主風虛寒熱。考之，《禮》云：庶人執鶩屍，子云野鴨為鳧，家鴨為鶩。然王勃《滕王閣序》又謂：落霞與孤鶩齊飛。則野鴨亦謂之鶩。唐本《別錄》云：鴨肪主水腫。陶隱居言此鶩為家鴨肪，用者擇之。</p>
<p><u>野鴨</u>　涼，無毒。補中益氣，助力，大益病人，消食，殺十二種蟲。又多年小熱瘡，多食即差。一種小者，名刀鴨，味最重，食之更補人虛，九月後至立春前食之絕勝。家鴨不可與木耳、胡桃、豆豉同食。又一種名油鴨，味更佳。</p>
<p><u>鳩</u>　味甘，氣平，無毒。主明目，補氣，助陰陽。有有斑者，有無斑者，大者，小者之不一，其用一也。《詩》名雞，又睢鳩，水鳥也。</p>
<p><u>黃褐侯鳩類</u>　主蟻瘻惡瘡，安五臟，助氣虛損，排膿血並一切癰癤。五味醃炙，食之極甘美。一種青鳩，同用。</p>
<p><u>鵓鴿肉</u>　暖，無毒。調精益氣，解一切藥毒，食之益人。若服藥人食之，減藥力，無效。又治惡瘡疥癬，風瘙白癩，癧瘍風。炒，酒服之，白色者佳。</p>
<p><u>雁</u>　味甘，氣平，無毒。主風攣拘，偏枯，氣不通利，久服益氣，不飢，輕身耐老。六月勿食，傷神氣。一種鴇，無後趾，亦雁類。</p>
<p><u>鵪鶉</u>　味甘，平。補五臟，益中，續氣，實筋骨，耐寒溫，消結熱。小豆和，生薑煮，食之止泄痢。酥煎令人下焦肥。與豬肉同食，令人生小黑子。和菌子食，發痔。小兒患疳及下痢五色，旦旦食之有效。春月勿食。《本草》言蝦蟆所化。《素問》言田鼠化為鴽，即鶉也。寇宗奭曰：鶉有雌雄，卵生，非化也。</p>
<p><u>雉肉</u>　味酸，微寒，無毒。一云，溫，微毒。補中，益氣力，止泄痢，小便多，除蟻瘻。又治消渴，飲水無度，雉和鹽豉作羹食。又治脾胃氣虛下痢，日夜不止，腸滑不下，食良。又云，雖野味之貴，食之損多益少，九月、十一月食之有補，余月有小毒，發五痔瘡疥。又不可與胡桃、木耳、菌蕈同食，發痔瘡，立下血。有痼疾不可食。一種微小於雉，走而且鳴，《詩》所謂有集維鷮是也。</p>
<p><u>錦雞肉</u>　食之令人聰明。文采形狀略似雄雉，毛羽皆作圓斑點，尾倍長，嗉有肉，授情則舒於外，人謂之吐錦。</p>
<p><u>練鵲</u>　味甘，平，溫，無毒。主益氣，治風疾，冬春間取食之。</p>
<p><u>鷓鴣</u>　味甘，溫，無毒。主補五臟，益心力，解野葛、蛇菌等毒及瘟瘴病久而危者，合毛熬，酒漬之，或生搗汁服良。脂澤手不裂。食之忌筍。</p>
<p><u>雀肉</u>　大溫，無毒。起陽道，益精髓，暖腰膝，令有子。冬月者良，取其陰陽未決也。卵，味酸，氣溫，無毒。主下氣，男子陰痿不起，強之令熱，多精有子。腦，主耳聾，塗凍瘡立瘥。頭血，主雀盲，雞朦眼是也。雄雀屎，名白丁香，兩頭尖者是，五月取之良，研如粉，煎甘草湯浸一宿，干，任用。療目赤痛，生胬肉赤白膜，赤脈貫瞳，用男首生乳，和如薄泥，點之即消，神效。決癰癤，塗之立潰。女下帶下，溺不利，蜜和丸服。又急黃欲危，以兩枚研，水溫服愈。齲齒有蟲痛，用綿裹塞孔內，日一二易之。喉痹口噤，研調，溫水灌之半錢匕。又陰疝瘕痃癖，諸塊伏梁。一種似雀而小，八九月內群飛田間，謂之黃雀，亦可食用，稍不及。</p>
<p><u>蒿雀</u>　味甘，溫。益陽道。腦，塗凍瘡，手足不皸。此雀青黑，在蒿間坰野彌多，食之美於諸雀，性極熱，最補益人。</p>
<p><u>鵲</u>　一名乾鵲，一名喜鵲。雄者肉，味甘，氣寒，無毒。燒作灰，以石投中散解者雄。又曰，凡鳥左翼覆右者雄，右翼覆左者雌。雄鵲，主石淋，消結熱，燒作灰，淋取汁飲之，石即下。巢，多年者，療顛狂鬼魅及蠱毒等，燒之，仍呼祟物名號。亦敷瘻瘡，良。</p>
<p><u>鴝鵒</u>　肉，味甘，平，無毒。主五痔，止血。炙食或為散飲服之。又治老嗽及吃噫。目睛，和乳汁點眼中，能見煙宵外物。</p>
<p><u>白鷳</u>　肉可食。《本草》謂其堪畜養，或疑即白雉也。</p>
<p><u>鴛鴦</u>　味鹹，平，有小毒。主諸瘻疥癬，以酒浸炙，熱敷其上，冷即易。一云，食其肉，令人患大風。</p>
<p><u>鸂鶒</u>　味甘，平，無毒。治驚邪及中水中短狐疾。</p>
<p><u>鸕鷀</u>　肉，冷，微毒。頭骨，主鯁及噎，燒服之。屎，治小兒疳蛔。</p>
<p><u>鶴</u>　味鹹，平，無毒。血，主益氣力，補勞乏，去風，益肺。肫中沙石子，磨服蠱毒邪。鶴有玄，有黃，有白，有蒼，白者良。</p>
<p><u>烏鴉</u>　平，無毒。治瘦，咳嗽，骨蒸勞。目睛，注目中，治目。一種慈鴉，味酸鹹，平，無毒，用皆同。《詩》謂弁彼鸒斯是也。</p>
<p><u>鸛</u>　味甘，無毒。腳嘴，主喉痹飛屍，蛇虺咬及小兒悶僻，大腹痞滿，䮝煮汁服之。又云，鸛骨大寒，治屍疰腹痛，炙令黃，為末，空心暖酒服方寸匕。又云，有小毒，殺樹木。沐湯中著少許，令毛髮盡脫更不生。入藥用白者良。</p>
<p><u>鷹</u>　肉，食之主邪魅，五痔。屎，主傷撻，滅瘢，合殭蠶、衣魚為膏甚驗。眼睛，和乳汁研之，夜三注眼中，三日見碧宵中物。一種鷂，用與鷹同。《詩》云鴆彼晨風，亦此類鸇也。</p>
<p><u>鳶</u>　其飛戾於天，《本草》謂之鴟，味鹹，平，無毒。主頭風眩，顛倒癇疾。得之者，宜藏其首。</p>
<p><u>鶻鵃</u>　鳩類，肉味鹹，平，無毒。助氣益脾胃，主頭風眩，煮炙食之，頓盡一枚，至效。一種鷙鳥，名鶻，不同此類。</p>
<p><u>啄木鳥</u>　平，無毒。主痔瘻，燒灰酒服之。牙齒疳䘌蚛牙，燒末內牙齒孔中。《淮南子》曰：啄木愈齲。</p>
<p><u>黃鳥</u>　味甘，溫。補陽益脾。此鳥感陰氣先鳴，所以補人。</p>
<p><u>天鵝</u>　味甘，平，無毒。性冷，醃炙佳。絨毛，療刀杖瘡立愈。</p>
<p><u>鷸</u>　肉甚暖，食之補虛。</p>
<p><u>鴞</u>　肉肥美。古人重其炙，主鼠瘻。目，吞之令人夜中見物。</p>
<p><u>百舌</u>　主蟲咬。炙食之，亦主小兒久不語。</p>
<p><u>鷺鷥</u>　味鹹，平，無毒。主瘦虛，益脾補氣，炙食之。一種白鶴子，腳黃，形似鷺，但頭上無毿毛，裊耳。又紅鶴，形亦相類。</p>
<p><u>山鷓</u>　味甘，溫。食之解諸果毒。一種陽鵲，形色相似。</p>
<p><u>竹雞</u>　味甘，平，無毒。主野雞病，殺蟲，煮炙食之。即山菌子。</p>
<p><u>鶡雞</u>　味甘，無毒。食之令人勇健肥潤。</p>
<p><u>麥雞</u>　味甘，溫，補虛益脾。</p>
<p><u>蒼雞</u>　味甘，溫。主殺蟲蠱毒。狀如鶴大，兩頰紅，頂無丹。</p>
<p><u>秧雞</u>　味甘，溫，治蟻瘻。</p>
<p><u>英雞</u>　味甘，溫，無毒。主益陽道，補虛損，令人肥健悅澤，以食，不患冷。常有實氣而不發也。</p>
<p><u>鵜鴣</u>　味鹹，平，無毒。主赤白久痢。成疳者，嘴，燒灰為末，服方寸匕愈。又名淘河，俗呼誤為蛇鶴。《詩》所謂維鵜在梁也。</p>
<p><u>巧婦鳥</u>　主聰明。炙食之甚美，即鷦鷯也。其雛化而為鵰，故《古語》曰鷦鷯主鵰，言始小而終大也。鵰，一種黑色，食草，似鷹而大，善鷙，謂之皂鵰，用與鷹同。</p>
<p><u>禿鶖</u>　味鹹，微寒。主中蟲魚毒。觜，治魚骨鯁。狀如鶴而大，長頸赤目，頭高六七尺。《詩》謂有鶖在梁是也。</p>
<p><u>桑扈</u>　味甘，溫，無毒。主肌羸虛弱，益脾，澤膚。此鳥不食粟，喜盜膏脂而食之，所以於人有補。又名藕脂，俗呼青嘴。</p>
<p><u>魚狗</u>　即翠鳥，味鹹，無毒。主鯁及魚骨刺入肉不可出，痛甚者，燒令黑為末，頓服之。煮汁飲亦佳。</p>
<p><u>鸊鷉</u>　膏，主耳聾，滴耳中。又主刀劍，令不鏽。水鳥也，如鳩鴨腳連尾不能陸行，常在水中，人至即沉，或擊之便起。</p>
<p><u>鵁鶄</u>　水鳥，可食。似鴨，綠毛。相傳人家養以厭火災，恐未必。</p>
<p><u>鷗</u>　味甘，無毒。主躁渴狂邪。五味醃炙食之。</p>
<p><u>布穀</u>　味甘，溫。主安神定志，令人少睡。</p>
<p><u>燕</u>　屎，味辛，氣平，有毒。主蠱毒鬼疰，逐不祥邪氣，破五癃，利小便。窩與屎同，多以作湯，浴小兒，治驚邪。卵，主水浮腫。肉，出痔蟲。</p>
<p><u>伏翼</u>　味鹹，平，無毒。主目𦞙，明目，夜視有精光。久服令人喜樂，媚好，無憂，延壽。又治五淋，利水道。取血滴目，令人夜中見物。糞，名夜明沙，味辛，寒，無毒。主面癰腫，皮膚洗先時痛，腹中血氣，破寒熱積聚，除驚悸，去面黑皯。炒服，治瘰癧。燒灰酒服方寸匕，治子死腹中。又小兒無螘，熬搗為散，狂意拌飯與食之。又治疳。</p>
<p><u>孔雀</u>　味鹹，無毒。又云涼，微毒。解藥毒，蠱毒。血，治毒藥，生飲良。屎，微寒，主女子崩中，帶下，小便不利。尾，不可入目，昏翳人眼。此禽因雷聲而孕，或言血即鴆毒。</p>
<p><u>鸚鵡</u>　味甘，溫。主虛嗽。此鳥足四趾齊分，兩瞼俱動如人目，與眾鳥異。有白者，紺綠者，蒼黑者，白者良。養久能人言。</p>
<p><u>寒號蟲</u>　鳥類，有肉翅，不能飛。肉，味甘，食之益人。糞，名五靈脂，味甘，溫，無毒。主療心腹冷氣，小兒五疳，闢疫，治腸風，通利氣脈，女子月閉。</p>
<p><u>鸀鳿鳥</u>　主溪毒，砂蝨，水弩射工蟈等病。肉，亦可食。</p>
<p>上諸禽，有毒形色異常，白身玄首，玄身白首及死不伸足，不閉目之類，有毒。《記》曰：天產作陽，地產作陰。禽獸皆天地生物，而禽卵生羽飛，又陽中之陽，雖氣味各有陰熱之分，大概肉所以養陽。然人之身，陽常有餘，陰常不足，陽足而復補陽，陰益虧矣。丹溪曰：諸肉能助起濕中之火，久而生病。《素問》曰：膏粱之變，足生大丁。故禽之肉雖益人，亦不宜多食也。</p>

<h2>獸類</h2>
<p><u>鹿</u>　肉，溫，補中，強五臟，益氣力，調血脈。生者，療中風口偏，割薄之，左患右貼，右患左貼，正即除之。髓，味甘，氣溫，主女男傷中絕脈，筋骨急痛，咳逆，以酒和服之。地黃汁煎作膏，填骨髓。蜜煮，壯陽，令有子。頭，主消渴，夜夢鬼物及煩憊。腎，平補腎氣，壯陽，安五臟，作酒及煮粥服。筋，主勞損，續絕骨，主虛勞，作酒飲去風，補髓脂，主癰腫死肌，溫中，四肢不遂，風頭，通腠理。一云，不可近陰，令痿，殊不知鹿性淫樂，食之起陰，何以言痿？是令陰不痿也。血，主陰痿，補虛，止腰痛，肺痿吐衄，崩中帶下，和酒飲之。又云，諸氣痛欲危者，飲之立止，至效。齒，主留血氣，鼠瘻，心腸痛。骨，味甘，微熱，無毒，安胎下氣，殺鬼精物，久服耐老。茸，味甘酸。又云，苦辛，氣溫，無毒。主漏下惡血，溺血，破留血在腹，散石淋，癰腫，骨中熱，疽癢，治寒熱驚癇，虛勞，洒洒如瘧，羸瘦，四肢痠疼，腰脊痛，腳膝無力，小便利，泄精，女人崩中，赤白帶下，益氣強志，生齒不老。角，味鹹，氣溫，主惡瘡癰腫，逐邪惡氣，留血在陰中，小腹血急痛，腰脊痛，折傷惡血，尿血，輕身益氣，強筋骨，補絕傷。又婦人夢與鬼交者，取末和清酒服，即出鬼精，鹿之一身皆益人，野族第一品也，或脯，或煮，或蒸，俱和酒食之良。</p>
<p><u>水牛</u>　肉，味甘，平，無毒。一云，冷微毒。止消渴並吐泄，安中益氣，養脾胃。心，主虛忘。肝，主明目。腎，主補腎氣，益精。齒，主小兒牛癇。髓，味甘，溫，主安五臟，平三焦，溫骨髓，補中，續絕傷，益氣，止泄痢消渴，以酒服之良。角，療時氣寒熱，頭痛。牛角䚡，味苦，氣溫，性澀，無毒。下閉血，瘀血疼痛，女人帶下，血崩不止。膽，味苦，氣大寒，可丸藥。又除心腹熱，渴利，口焦燥，益目精。屎，寒，主水腫惡氣。用塗門戶著壁上者燔之，主鼠瘻惡瘡。</p>
<p><u>犍牛</u>　黃者，肉平。一云，溫，無毒。一云，微毒。消水腫，除熱氣，補虛損，益腰腳，強筋骨，壯健人。亦發藥動病，黑者尤甚，俱不如水牛佳。頭蹄，主下熱風水氣，大腹腫，小便澀，患冷人勿食。腦，主消渴風眩。肝及百葉，主熱氣，水氣，丹毒，解酒勞並痢。五臟，主五臟，平三焦。骨髓，溫，無毒，止吐衄，崩中帶下，腸風下血並水瀉。肚，主消渴，風痃，補五臟。腎，補腎髓，安五臟，平三焦，溫中。鼻，通乳汁。莖，主漏下，婦人赤白帶下，無子。牝牛不及牡牛，黑牛不及黃牛。獨肝及自死者並瘧病後皆不可食，又不可與黍米、韭、薤同食。</p>
<p><u>羊</u>　肉，味甘，大熱，無毒。主緩中，字乳余疾，頭腦大風，汗出，虛勞寒熱，開胃，補中益氣，肥健人，安心止驚。又云，羊肉比人參、黃耆，參耆補氣，羊肉補形。頭肉，涼，主骨蒸腦熱，緩中安心止驚，熱病後宜食，冷病人不宜食。腦，發風，若和酒食則迷人心。五臟，溫，平五臟，肺，補肺，主咳嗽，止渴，小便數。心，止憂恚膈氣，補心。肺有孔者勿食。肝，明目，主肝風虛熱，目赤睛痛。腎，補腎氣，益精髓，壯陽，健胃，補虛損，止小便，盜汗，耳聾。髓，味甘，溫，主男女傷中，陰氣不足，和血脈，益經氣，以酒服之。齒，主小兒羊癇寒熱。膽，主青盲，明目，又療時行熱燥瘡並淋濕。又點眼中赤瘴白膜，風淚。又解蠱毒。皮，補虛勞，去一切腳中虛風。血，主女人產後血虛暈。脛骨，治牙齒疏豁。羚羊角，味鹹，苦，氣寒，無毒，屬木，入厥陰經。主明目，益氣起陰，去惡血注下，闢蠱毒惡鬼不祥，安心氣，常不魘寐，療傷寒，時氣寒熱，熱在肌膚，溫風注毒，伏在骨間，除邪氣驚夢，狂越僻謬，小兒驚癇，治山瘴，散產後血衝心煩悶，燒末酒服之。又治食噎不通。久服強筋骨，輕身益氣，利丈夫。羖羊角，用同此羊，謂北地青羊也。若南羊，則多受濕，濕則有毒，又山中吃毒草，故不堪用。若言其味，則浙東一種山羊，味甚甘美，諸家謂南羊味淡，或見之未悉。南人食之甚補益，但以其能發，病者皆不可食，犯之即驗，此其不及北羊也。北地一種無角大白羊，食之甚勝。又同華之間臥沙細肋角低小者，供饌在諸羊之上，醫家諸湯丸，用之即效。</p>
<p><u>山羊</u>　《爾雅》謂之羚羊，有筋力，甚能陟險峻，生深山谷穴中。皮可制靴履。味甘於家羊，用亦如之。又野外黃羊同。</p>
<p><u>狗</u>　肉，味鹹，酸，溫。主安五臟，補絕傷，輕身，益氣力血脈，厚腸胃，實下焦，暖腰膝，填精髓。一云，所補在血，去血不益人。心，主憂恚氣，除邪。腦，主頭風痹，下部䘌瘡，鼻中身肉。頭骨，主金瘡，止血。膽，主明目，痂瘍惡瘡。腳蹄，主下乳。齒，主癲癇，寒熱卒風沸。乳汁，主青盲，取白犬生子目未開時汁，注目中，療十年盲，犬子目開即瘥。牡狗陰莖，味鹹，平，無毒。主傷中，陰痿不起，令強熱大，生子，除婦子帶下十二疾。白狗、烏狗入藥，牡者勝。又云，黃狗大補，白黑次之，余者微補。犬欲癲者不可食，陰虛發熱人與妊娠勿食。不可炙食，致消渴。又不可與蒜同食，頓損人。嘗見人食犬者多致病，南人為甚，大抵人之虛多是陰虛，犬肉補陽，世俗往往用此，不知其害，審之。</p>
<p><u>山狗獾</u>　形如家狗，腳微短，好鮮食果食，味甘美。皮可為裘。有數種，在處有之，蜀中出者名天狗。</p>
<p><u>豬</u>　肉，味苦，微寒。主閉血脈，弱筋骨，發痰，令人少子，食之暴肥，以其風虛故也。瘧病金瘡勿食，不可同牛肉食，生寸白蟲。同蕎麥食，患熱風，脫鬚眉。豚卵，味甘，溫，無毒。主驚癇癲疾，鬼疰蠱毒，除寒熱，奔豚五癃，邪氣攣縮。懸蹄，主五痔，伏熱在腸，腸癰內蝕。四肢，主傷撻，諸敗瘡，下乳汁。心，主驚邪憂恚，血不足，補虛劣。多食耗心氣，不可同茱萸食。肚，微溫，補中益氣，止渴利，主骨蒸熱勞，殺勞蟲，補羸，助血脈，止痢，四季宜食。肺，微寒，能補肺，不可同白花菜食，令滯氣，發霍。肝，溫，主腳氣，冷泄赤白，藏虛。不可同魚子食。腎，冷，和理腎氣，通利膀胱，補虛勞，消積滯。冬不可食，損真氣，發虛擁。脾，主脾胃虛熱。舌，健脾，補不足，令人能食。頭，補虛乏，去驚癇五痔，煮極熱食之。腦，不可食。鬐脂，主生髮。脂膏，生惡瘡，利血脈，解風熱，皮膚風潤。肝，解斑蝥、芫菁毒，臘月者殺蟲，忌食烏梅。皮，味甘，寒。豬，水畜，春氣先入腎，解少陰客熱，加白蜜食，潤燥除煩，加米粉，益氣斷痢。腸臟，主下焦虛竭，大小腸風熱，宜食之。</p>
<p><u>野豬</u>　肉，味甘，補肌膚，令人肥膩，補五臟，止腸風下血，及癲癇病。不發風氣，尚勝家豬。又云，微動風。雌者尤美。青蹄者勿食。肪膏，酒浸食之，令婦人多乳，連進十日，可供三四孩兒。本來無乳者，亦有三歲者。膽中有黃，黃味辛甘，氣平，無毒。主金瘡，止血生肌，療癲癇及鬼疰。此物多是射而得之，射藥之毒，中入其肉，不可不慮。</p>
<p><u>麂</u>　味甘，平，無毒。主五痔病，炸出，以姜醋進之，大有效。多食動痼疾。一云，涼，有毒，能墮胎，發疥瘡。</p>
<p><u>麖</u>　似麂而大，肉稍粗，氣味亦同麂也。</p>
<p><u>麞</u>　肉，味甘，溫，無毒。補益五臟。八月至十一月食之甚美，余月食之動氣。又瘦惡瘡者食之發痼疾。心粗豪人宜食之，減其性，膽小人食之愈怯。與鴿食，成精髓，益氣力，悅澤人面。臍下麝香，味辛，氣溫，無毒。主辟惡氣，殺鬼精物，瘟瘧，蠱毒，癇痓，去三蟲，療諸邪鬼氣，中惡，心腹暴痛脹急痞滿，風毒，婦人產難，墮胎，療蛇毒。</p>
<p><u>麋</u>　肉，益氣補中，治腰腳。一云，微補五臟，不足多食，令人弱房事，髮腳氣，不可近陰，令痿。夫麋性與鹿性一同淫樂，又辛溫補益之物，是令陰不痿也，意當時寫本草者逸其字，以訛傳訛，大率類此。孟子言盡信書則不如無書是矣。用者酌之。脂，辛溫，主瘡腫死肌，寒風濕痹，四肢拘緩不收，風頭腫氣，通腠理。角，味甘，主脾，止血，補虛勞，益氣力，填骨髓，暖腰膝，壯陽道。茸，尤良。按《月令》冬至一陽生，麋角解；夏至一陰生，鹿角解。麋茸利補陽；鹿茸利補陰。不可合蝦及生菜，梅，李果實同食。</p>
<p><u>獾豬</u>　肉，甘美，作羹臛食之，下水腫大效。又云，味酸，平，主丹石熱及久患赤白痢，瘦人食之長肌肉，肥白。脂，主傳屍鬼氣，肺痿氣急，酒食之。胞，吐蠱蟲。</p>
<p><u>毫豬</u>　肉，甘美多膏，利大腸。不可多食，發風氣，令人虛。</p>
<p><u>兔</u>　肉，味辛，平，無毒。主補中益氣。又云，寒，主熱氣濕痹，治消渴。久食弱陽，損元氣血脈，令人陰痿。與姜同食，令心痛。妊娠不可食，令子缺唇。頭骨，主頭眩痛顛疾。骨，主熱中消渴。肝，主目暗。不可與雞肉，菜芥，胡桃，柑橘同食。</p>
<p><u>驢</u>　肉，涼，無毒。主風狂，憂愁不樂，能安心氣。烏驢佳。一云，食之動風，脂尤甚，屢試驗。諸家云，治風恐未可憑，其用烏驢者，蓋因水色，以制熱則生風之意。凡腹內物，食之皆令筋急。尿、屎皆入藥。</p>
<p><u>虎</u>　肉，味酸，平。主噁心欲嘔，益氣力，治瘧。又食之入山，虎畏之，闢三十六種精魁。藥箭射毒入骨肉，食之不可不慮。</p>
<p><u>熊</u>　肉，味甘，寒，微溫，無毒。主風痹，筋骨不仁，五臟腹中積聚，寒熱，羸瘦，頭瘍，白禿，面皯皰。久服強志，不飢輕身。有痼疾者，食之終身不能除。膽，味苦，氣寒，主時氣盛熱，變為黃疸，小兒驚癇五疳，殺蟲，治惡瘡。又久痔不瘥，塗之神效。其膽，春在首，夏在腹，秋在左足，冬在右足。此獸能舉木引氣，冬蟄不食，飢則自舐其掌，故其美在掌。久食之，可御風寒諸疾。宜，孟子取之。</p>
<p><u>白馬</u>　肉，味辛苦，冷。主熱下氣，長筋，強腰脊，壯健，強志，輕身不飢。又云，有小毒。主腸中熱。凡用，須以水捋洗數次，去淨血，再以好酒洗，方煮之，更入酒烹熟，可食，飲好酒數杯解之，乃佳。莖，味鹹甘，平，無毒。主傷中絕脈，男子陰痿不起，堅長，益氣，長肌肉，肥健生子，小兒驚癇，陰乾入藥。肝，主寒熱。心，主喜忘。患痢人勿食。眼，主驚癇，腹滿，瘧疾。懸蹄，主驚邪瘛瘲，乳難，衄血，內漏崩，辟惡氣鬼毒，蠱疰不祥。齒，主小兒馬癇，水磨服。頭骨，主令人不睡。鬐毛，主女子崩中赤白。膏，主生髮。脯，療寒熱痿痹。溺，味辛，微寒，主消渴，破癥堅積聚，男子伏梁積疝，婦人瘕疾，銅器盛飲之。又治鱉瘕。又洗頭瘡白禿。屎，名馬通，微溫，主婦人崩中，止渴及吐下血，鼻衄，金創，止血。肝，大毒，食而死者多矣。故曰：食馬留肝。凡馬肉與蒼耳同食，十有九死，與生薑同食，生氣嗽。又不可與倉米同食，倉米恐是蒼耳也。妊婦並有瘡疥者，不可食。白馬黑蹄，頭青蹄黑，脊而斑，凡形色異常者，皆不可食。牝馬並各色馬，諸書不載，大率一類，而不及白牡馬也。</p>
<p><u>豹</u>　肉，味酸，平，無毒。主安五臟，補絕傷，輕身益氣。久服利人，耐寒暑。脂，合生發膏，朝塗暮生。齒骨，極堅，人詐為佛牙。</p>
<p><u>象</u>　肉，味淡，多食令人體重。牙，無毒，主諸鐵及雜物入肉，刮取屑，細研和水敷刺上，即出。身具百獸肉，惟鼻是其本肉。膽，隨四時所在四腿，春前左，夏前右，秋後左，冬後右。主目疾，和乳滴目中。又云，喉中刺痛，用舊牙梳屑研水飲之。小便不通，生煎服之。小便多，燒灰飲下。</p>
<p><u>獺</u>　肉，味甘寒，療時氣。肝，味甘，有毒，主鬼疰蠱毒，卻魚鯁，止久嗽，燒服之。膽，主明目。塗酒杯唇上，酒稍高於杯唇，分杯之說誤也。屎，主魚臍瘡，研敷之。</p>
<p><u>豺</u>　肉，味酸，食之無益。皮，性熱，主冷痹腳氣，炙，纏病上即差。</p>
<p><u>狼</u>　味辛，老狼領下有懸肉，行善顧，疾則不能。䏶中筋如織絡，小囊大似鴨卵，作聲，諸竅皆沸。糞煙直上，烽火用之。昔言狼狽是二物，狽前二足絕短，先知食之所在，指以示狼，狼負以行，匪狼不能動。肉皆可食。</p>
<p><u>羆</u>　大於熊；貔，似虎；貓，似虎而淺毛。三獸俱陽物，用同熊、虎。</p>
<p><u>狐</u>　味甘，寒，有毒。主補虛勞，治惡瘡疥，作臛食之。陰莖，味甘，有毒，主女子絕產，陰癢，小兒陰頹卵腫。雄狐糞，燒之闢瘟疫惡病。頭，燒以辟邪。心肝，生服治妖魅。肝，燒灰治風。</p>
<p><u>貍</u>　肉，味似狐，療諸疰五痔，作羹臛食之。骨，味甘，溫無毒。主風疰，屍疰，鬼疰，在皮中淫躍如針刺者，心腹痛走無常處及鼠瘻，惡瘡。頭骨尤良，炙骨和麝香，雄黃為丸，治痔瘻甚效。糞，燒灰主寒熱鬼瘧發無期度者，極驗。貍類甚多，有玉面貍，九節貍，風貍，香貍，食品佳者也。</p>
<p><u>猯</u>　肉、胞、膏，味甘，平，無毒。主上氣，乏氣咳逆，酒和服之。又水脹不瘥者，以肉作羹臛食之。胞，干磨服，吐蠱毒，並效。</p>
<p><u>猴</u>　肉，味酸，平，無毒，主諸風勞，釀酒彌佳。干脯，主久瘧。頭骨，主瘴魅。手，主小兒驚癇口噤。屎，主蜘蛛咬。皮，主馬疫氣。</p>
<p><u>麈</u>　肉，味如牛脂，甘過之。皮，可為靴。尾，能闢塵。山牛也。</p>
<p><u>家貓</u>　肉，甘，微酸，主勞瘵。</p>
<p><u>鼴鼠</u>　味鹹，無毒。主癰疽，諸瘻，蝕惡瘡，陰䘌爛瘡。鼯鼠，主墮胎易產。一種竹䶉，食筍，味佳。它如貂鼠，黃鼠狼，俱入藥。又云，鼠膽，治耳聾，但取而不得耳。</p>
<p><u>果然</u>　肉，味鹹，無毒。主瘴瘧寒熱，煮食之。狨獸，主五野雞病。狒狒，血飲之可見鬼。三種皆類猴而用稍異，故並錄之。</p>
<p>牛黃、犀角、膃肭臍、貂澤膏，罕有真者，雖有亦不多，用者慎焉。彼麒麟、騶虞、神龍之肉，人亦豈易得而醢之哉？</p>
<p>上諸獸肉，如熱血不斷，落水浮，及形色異常之類者，皆有毒，不可食。孔子色惡不食，臭惡不食，不時不食，是也。又曰：肉雖多，不使勝食氣，蓋人食以穀氣為主，一或過焉，適足以傷人，非養生之道矣。況望其有所補乎？夫人雖不如孔子之聖而自昧昧於飲食之節，以自戕其生，尚亦不誤，何哉？宜合禽類後之說觀之。</p>

<h2>魚類</h2>
<p><u>鯽魚</u>　味甘，溫，無毒。主諸惡瘡，燒以醬汁和塗之，或取豬脂煎用。又主腸癰。合蓴作羹，主胃弱不下食，調中下氣補虛。作膾，主腸癖，水穀不調，及赤白久痢。又釀白礬燒灰，治腸風血痢。又開其腹內少鹽燒之，治齒痛。丹溪云：諸魚皆屬火，惟鯽魚屬土，故能入陽明，有調胃實腸之功。多食亦能動火，不可與沙糖、蒜芥、豬肝、雞肉同食。</p>
<p><u>鯉魚</u>　味甘，寒無毒。肉，燒灰治咳逆氣喘。煮食之，療水腫腳滿，下氣又安胎，治懷妊身腫。又天行病後與原有癥疾人。皆不可食肉。忌葵花子，忌豬肝同食，俱害人。頭，有毒。膽，主目熱赤痛，青盲，明目，久服強悍，益志氣，滴耳聾，小兒熱腫塗之。</p>
<p><u>鰣魚</u>　平補虛勞，稍發疳痼。</p>
<p><u>魴魚</u>　調胃氣，理五臟。和芥子醬食之，助肺氣，去胃家風。消穀不化者，作鱠食，助脾氣，令人能食。作羹臛食，宜人。</p>
<p><u>鱘魚</u>　味甘，平，益氣補虛，肥健人。其子肥美，殺腹內小蟲。</p>
<p><u>蠡魚</u>　味甘，寒，無毒。主濕痹，面目腫脹，大小便壅塞，療五痔出血。取魚腸，以五味炙令香，以綿裹內穀道中，食頃蟲即出。又腳氣，風氣，作鱠食之良。丹溪：癩疾用此魚以代蛇之或缺，是亦去風。古方有單用黑蠡湯安胎，是妊娠亦可食也。一云，亦發痼疾。諸魚膽皆苦，惟此膽甘，可食。</p>
<p><u>鱔魚</u>　味平，甘，無毒。開味利臟，久食肥健。此魚食泥不忌藥。</p>
<p><u>鱸魚</u>　平補五臟，益筋骨，安胎，治水氣，食之宜人，作鮓尤良，暴乾甚香美。雖有小毒，不敢發病。一云，發痃癖及瘡腫。不可與乳酪同食，中其毒以蘆根汁解之。</p>
<p><u>河豚魚</u>　味甘，溫，有大毒。主補虛，理腰腳痔疾，殺毒。其味極美，肝尤毒。然修治不法，食之殺人。橄欖、蘆根、糞水解之。</p>
<p><u>石首魚</u>　味甘，無毒。開胃益氣。乾者，為鯗魚，消宿食，消瓜成水，主中惡暴痢。用大麥杆包，不露風，陳久愈好。否則發紅失味。又云，魚首有石如棋子，磨服治淋。</p>
<p><u>鱭魚</u>　發疥。</p>
<p><u>青魚</u>　甘，平，無毒，微毒。主濕痹，腳氣弱，煩悶，益氣力。忌蒜葵。</p>
<p><u>鮎魚</u>　甘，無毒。一云，有毒。主水浮腫病，利小便。忌牛肝。魤魚，似鮎，美且益人。下膀胱水，動痼疾，不可與野豬、野雉同食。赤目、赤須、無腮者，不可食。二魚寒而有毒，非嘉物也。</p>
<p><u>白魚</u>　味甘，平，無毒。主開胃，助脾消食，補肝明目，去水氣，令人肥健。五味蒸煮，食之良。若經宿食之，腹冷生病。或醃，或糟，皆可。人患瘡癤，食之甚發膿，灸瘡食之不發。</p>
<p><u>鰻鱺魚</u>　味甘，有毒。一云，平，微毒。主五痔瘡瘻，腰背濕風痹，常如水洗及濕腳氣，一切風瘙如蟲行者，殺諸蟲、諸草、石藥毒。勞瘵人食之，殺蟲。昔有女子患傳屍勞，其家以之活釘棺中，棄之江流，以絕此病。流至金山，有人引岸開視之，女人尤活，因取置漁舍，多得鰻鱺食之，病愈後為漁人妻。此說事見《稽神錄》。</p>
<p><u>鱔魚</u>　味甘，大溫，無毒。主補中，益氣血，除腹中冷氣。腹鳴，產前產後病，淋瀝，瘦弱，氣血不調，宜食。若過多，令霍亂時行病起，食之再發。</p>
<p><u>鱅魚</u>　格額目傍有骨，名乙，《禮》云：魚去乙。一云，東海鰫魚也，食之別無功用。又云，池塘所蓄頭大細鱗者，甘平益人。一種鰱魚，似鱅，頭小色白，性急味勝。</p>
<p><u>鯇魚</u>　無毒。膽最苦，治喉痹飛屍。</p>
<p><u>鱖魚</u>　味甘，無毒。去腹內惡血及小蟲，益氣力，令人肥健。一云，平，稍有毒，益脾胃。</p>
<p><u>昌侯魚</u>　味甘，平，無毒。益氣肥健。子，有毒，令人痢下。</p>
<p><u>鯮魚</u>　平，補五臟，益筋骨，和脾胃。多食宜人，作鮓尤佳，暴乾甚香美。不毒，亦不發病。</p>
<p><u>嘉魚</u>　味甘，溫，無毒。一云，微毒。食之令人肥健悅澤。此乃乳穴中小魚，常飲乳水，所以益人，味甚珍美，力強於乳。《詩》所謂南有嘉魚，注言出於沔南之丙穴是也。</p>
<p><u>烏賊魚</u>　味鹹，平，主益氣強志，通月經。《素問》云主女子血枯。</p>
<p><u>章舉魚</u>　一名石矩，比烏賊魚差大，味更珍好。</p>
<p><u>黃頰魚</u>　味甘，平，無毒。醒酒，不益人。一云，能祛風。</p>
<p><u>比目魚</u>　平，補虛，益氣力，多食稍動氣。</p>
<p><u>鮰魚</u>　味美，膘可作膠，與鱁鮧魚白相似。</p>
<p><u>邵陽魚</u>　有毒。主瘴瘧。尾有刺，人犯之至死。</p>
<p><u>鮹魚</u>　味甘，平，無毒。主五野雞痔下血，瘀血。</p>
<p><u>鱣魚</u>　無毒。肝，主惡瘡癬疥。《詩》言鱣鮪發發，即今之鰉魚也。</p>
<p><u>鯊魚</u>　平，補五臟，主蠱氣蠱疰，與鮫魚同。</p>
<p><u>鱟魚</u>　平，微毒，療痔殺蟲，多食發嗽並瘡癬。</p>
<p><u>鯖魚</u>　味甘，平，無毒。肉，主腳氣濕痹。眼睛，主能夜視。頭中枕，磨服，主心腹痛。膽，主目暗並塗惡瘡。貫礬，主喉痛，力效。</p>
<p><u>蟹類</u>　甚多。螃蟹，味甘，寒，有毒。一云，涼。主胸中熱，解結散血，愈漆瘡，養筋，益氣理經。服乃食品之佳味，最宜人，須是八月一日，蟹吃稻芒後，方可食，霜後更佳。已前食之有毒。獨螯，獨目，兩目相向者，皆有大毒，不可食。有風疾人並孕婦不可食。藕、蒜汁、冬瓜汁、紫蘇俱解蟹毒。蠘蟹，殼潤多黃，其螯無毛最銳，食之行風氣。蝤蛑蟹，扁而大，性冷，無毒。解熱氣，小兒痞氣。蟛蜞蟹，小毒，食之令人吐利，與蟛螖蟹同。擁劍蟹，一大螯待鬥，一小螯供食，余者皆有毒，不可食。誤中者，急以黑豆汁解之。其黃能化漆為水，腳中髓並殼中黃螯為末，內金瘡中，能續斷筋。爪，主墮胎，破宿血，產後血悶，酒及煮湯煎服良。</p>
<p><u>鱉</u>　味甘，主補陰，調中益氣，去熱氣，血熱，溫痹，腹中癥熱，婦人帶下，羸瘦。然性冷，久食損人。妊娠不可食，忌莧菜。又頭足不縮，獨目，目陷，腹下紅及有卜字，五字，王字等形者，俱有大毒，不可食。誤中者，以黃耆、吳藍煎湯解之。甲，味鹹，平，無毒。主心腹癥瘕，堅積，寒熱，去痞，息肉，陰蝕，痔惡。肉，消瘡腫，療溫瘧，勞瘦骨熱，小兒脅堅，婦人漏下，五色弱瘦，墮胎。頭，燒灰，主小兒諸疾。脫肛，血可塗之。丈夫陰頭癰，取一枚燒灰，和雞卵白敷之。產難，食灰立出。</p>
<p><u>車熬</u>　冷，無毒。解酒毒，酒渴，消渴。不可多食。</p>
<p><u>蚶</u>　味甘，溫，無毒。主心腹冷氣，腰脊冷風，利五臟，益血溫中，起陽，消食健脾，令人能食。</p>
<p><u>蟶</u>　甘，溫，無毒。補虛，產後虛損，主冷痢，邪熱煩悶。疫後忌食。</p>
<p><u>淡菜</u>　溫，無毒。補五臟虛損勞，理腰腳氣，益陽事，消食，除腹中冷，消痃癖，潤毛髮，產後血結冷痛，崩中帶下，漏下，男子久痢並宜食之。煮以五味更妙。雖形狀不典甚益人。</p>
<p><u>蛤蜊</u>　性冷，無毒。丹溪云：濕中有火，止消渴，開胃，解酒毒，主老癖。能為寒熱者及婦人血塊，煮食之。此物雖冷，然與丹石相反，食之令腹結痛。湯火傷，殼燒灰，油調搽，神效。</p>
<p><u>蜆</u>　冷，無毒。闢時氣，開胃，壓丹石，去暴熱，明目，利水，下腳氣濕毒，解酒毒目黃。多食發嗽並冷氣，消腎。</p>
<p><u>蝦</u>　平，主五野雞病。動風發疥，小兒食之，令腳屈不能行。主水田溝渠中，小者有小毒。海蝦，長一尺，作鮓毒人至死。</p>
<p><u>石決明</u>　味鹹，平，寒，無毒。主目翳痛，青盲。又，服益精輕身。</p>
<p><u>馬刀</u>　味辛，微寒，有毒。主漏下赤白，寒熱，石淋，殺禽獸賊鼠。</p>
<p><u>田螺</u>　氣大寒，主目熱赤痛，取黃連末內其中，汁出用以注目。生浸取汁飲之，治消渴，又利大小便，腹中結熱，腳氣上衝，腳手浮腫，解酒過多，喉舌生瘡。碎其肉敷熱瘡。爛殼燒末，主反胃。煮汁，治急黃。螺螄用同海螺，治目痛。</p>
<p><u>牡蠣</u>　味鹹，氣平，微寒，無毒，入足少陰經。主傷寒寒熱，溫瘧洒洒，驚恚怒氣，除拘緩，瘰癧，癰腫，喉痹，鼠瘻，女子帶下赤白，心脅氣結痛，除老血軟積痞，咸能軟堅也。澀大小腸，止大小便，療鬼交泄精。久服強骨節，殺邪鬼，延年。和杜仲服，止盜汗。和麻黃根、蛇床子、乾薑為粉，去陰汗。引以柴胡，能去脅硬。引以茶清，能消結核。引以大黃，能除股腫。地黃為之使，能血精收澀，止小便，本腎經藥也。</p>
<p><u>蚌</u>　性冷，無毒。主婦人虛勞下血並痔瘻，血崩，帶下，止消渴，除煩熱，壓丹石毒。以黃連末內之，取汁，點赤暗眼良。爛殼飲下，治反胃痰飲。又蚌粉，治疳，止痢，醋調敷癰腫。</p>
<p><u>龜</u>　肉，味鹹，甘，平。一云，酸，溫。食之，令人身輕不飢，益氣資智，令人能食。釀酒，主風腳軟弱並脫肛。溺，主耳聾，又療久嗽，斷瘧。甲，止漏下赤白，破癥瘕，咳瘧，五痔，陰蝕，濕癢，癱瘓，四肢重弱，小兒囟不合，頭瘡難燥，女子陰瘡，心腹痛，腰背痠疼，骨中寒熱，傷寒勞復或肌體寒熱欲死。大有補陰之功，力猛，兼去瘀血，續筋骨，治勞倦，益。龜乃陰中至陰之物，稟北方之氣而生，故能補陰血虧，補心，並效。</p>
<p><u>豩</u>　味鹹，無毒。肉，主飛屍，蠱毒，瘴瘧。肪，摩惡瘡，與海豩同。</p>
<p><u>蛙</u>　味甘，寒，無毒。主小兒赤氣，肌瘡臍傷，止痛，氣不足，取以五味醃炙，酒食之良。</p>
<p><u>蛤蚧</u>　鹹平，小毒。主久肺勞，傳屍，殺鬼邪，療嗽，下淋，通水道。</p>
<p><u>水母</u>　味鹹，無毒。主生氣，婦人勞損，血帶，小兒風疾，丹毒。</p>
<p><u>鯪鯉</u>　甲、肉，主五邪，驚啼悲傷，療蟻螻。</p>
<p><u>貝子</u>　鹹平，平，有毒。主目翳，鬼疰蠱毒，腹痛，下血，五癃，利水道，除寒熱溫疰，解肌，散結熱。一種紫貝，圓大，明目去熱毒。</p>
<p><u>黿</u>　肉，補虛，味似鼉。鼉肉主少氣吸吸，足不立地。甲，俱入藥。</p>
<p><u>玳瑁</u>　寒，無毒。主解百藥毒。血可生飲。</p>
<p><u>海蛤</u>　味苦，咸，平，無毒。主咳逆上氣，喘息煩滿，胸膈寒熱，療陰痿。與文蛤、魁蛤用稍同。</p>
<p><u>蝦蟆</u>　辛，寒，有毒。主邪氣，破癥堅血，癰腫陰瘡。服之不患熱病。肪，可合玉子蝌蚪，用胡桃肉皮和為泥，染髭發不變。</p>
<p><u>魚膾</u>　乃諸魚所作之膾，味甘，溫，補，去冷氣濕痹，除喉中氣結，心下酸水，腹中伏梁，冷痃，結癖，疝氣，補腰腳，起陽道。鯽魚膾，主腸癖，水穀不調，下利，小兒、大人丹毒，風痃。鯉魚膾，主冷氣，塊結在心腹，並宜蒜薤食之，以菰菜為羹，謂之金羹玉膾，開胃口，利大小腸，以蔓菁煮去腥。凡物，腦能消毒，所以食膾必魚頭羹也。近夜食不消，馬鞭草汁能消之。飲水令成蟲，病起食之令胃弱。不宜同乳酪食，令霍亂。又云，不可同蒜食。予昔寓蒼梧，見一婦人患吞酸，諸藥不效，一日食魚膾遂愈，蓋以辛辣有劫病之功也。凡膾，若魚本佳者，膾亦佳。</p>
<p><u>魚鮓</u>　諸魚所作之鮓，不益脾胃，皆發疥。鯉魚鮓，忌青豆、赤豆；昨鯖魚鮓，忌胡荽、羊肉。鮓中有蝦者，蜜瓶盛者，不可食。</p>
<p>上諸魚，有毒目，有睫目，能開合，二目不同，逆腮、全腮，無腮，腦中白連珠，連鱗，白鬐，腹下丹字，形狀異常者，並殺人。海產皆發霍，多食令吐利。凡中毒以生蘆根、馬鞭草取汁，大豆、陳皮、大黃煮汁，並解之。《素問》曰：魚熱中。丹溪曰：魚在水無一息之停，食之動火。孟子曰：舍魚而取熊掌，良有以也。食者節焉。</p>

<h2>味類</h2>
<p><u>鹽</u>　味鹹，氣寒，無毒。主殺鬼蠱，邪疰毒氣，下部䘌瘡，吐胸中痰癖，止心腹卒痛，堅齒，止齒縫出血。中蚯蚓毒，化湯中洗沃之。又用接藥入腎，利小便，明目止風淚。多食傷肺喜咳，又令人失色膚黑，走血損筋。病嗽及水者宜禁之。一種戎鹽，其用稍同。</p>
<p><u>醬</u>　味酸鹹，氣汁利，除熱，止煩滿，殺百藥、魚肉、菜蕈及湯火、蛇蟲等毒。純豆者佳，豆麵合作及純面者俱不及。麵醬亦無毒，但不能殺諸毒。又有榆仁醬，亦辛美，利大小便，不宜多食。蕪荑醬，大美，殺三蟲，雖少臭，亦辛好。多食落髮。肉醬，魚醬，通呼為醢，聖人不得，即不食，意欲以五味和五臟，此亦養生之一端也，豈專務窮口腹者哉？</p>
<p><u>胡椒</u>　生南海諸國，向陰者澄茄，向陽者胡椒也。味辛，大溫，無毒。下氣，溫中，去寒痰，消宿食。霍亂，氣逆，心腹卒痛，冷氣上衝，吞三、七粒皆可愈。殺一切魚、肉、鱉、蕈毒，不宜多服，損肺。</p>
<p><u>蜀椒</u>　一名巴椒，一名蓎藙，武都巴郡，生山谷間者佳。八月採實，陰乾，大熱有毒。除六腑冷氣，治傷寒，溫瘧，大風，汗不出，心腹留飲，宿食，腸澼，下痢，泄精，女子字乳余疾，散風邪，瘕結，水腫，黃疸，鬼疰，殺癆蟲，諸魚蟲毒。久服之，頭不白，輕身延年，開腠理，通血脈，堅齒髮，耐寒。可作膏藥。暑多食，令人乏氣。閉口者，能殺人。椒目，味苦，寒，無毒。主水腹脹滿，利小便。</p>
<p><u>醋</u>　味酸，溫，無毒。消癰腫，散水氣，殺邪毒，治婦人產後血暈及人口瘡。酒醋為上，以有苦味，俗呼為苦酒。米醋次之，皆可入藥，當取二三年者為良。又有蜜醋、糖醋、麥醋、曲醋、桃醋，葡萄、大棗、蘡薁等雜果及糟糠諸物，會意皆可為醋，亦極酸烈，止可取之，不可入藥。大抵醋不可多食，積久成病，凡氣痛而食之，愈是大禍也。</p>
<p><u>豆豉</u>　味苦，寒，無毒。主傷寒頭痛，瘴氣，惡毒，燥悶，虛勞，喘吸，瘧疾，骨蒸，去心中懊惱，發汗，殺六畜毒及中毒藥蠱氣。各處所造不一，蒲州尤佳。</p>
<p><u>蜜</u>　味甘，平，無毒，微溫。主心腹邪氣，安五臟，益氣補中，止痛解毒，除眾疾，和百藥，養脾氣，明耳目，除心煩，飲食不下，腸澼，肌痛，口瘡。有出崖石上者，樹木上者，土中者，人養者，皆隨地土人事，所出不同，諸家辯論未的。要之，當以花為主，山野之中，花色良毒甚雜，蜂必採其糞穢，方得成蜜，其間必有制伏之妙，不得而知。故夏冬為上，秋次之，春則易變而酸。閩、廣蜜極熱，以其龍荔，草果，檳榔花類熱多，雪霜亦少故也。川蜜溫，西南之蜜則涼矣。色白味甜，汁濃而砂，所以入藥。忌蔥、萵苣。丹溪云：蜜喜入脾，食多之害必生於脾。東南地卑濕，稟氣薄，土生火宜也。</p>
<p><u>砂糖</u>　味甘，寒，無毒，性冷利。主心肺大腸熱，和中助脾，殺蠱，解酒毒。多食損齒，發疳，心痛，生蟲，消肌，小兒尤忌。同鯽魚食，成疳蟲。同筍食，筍不化成癥。同葵菜食，生流澼。丹溪云：砂糖甘，屬土，甘生濕，濕生胃中之火，所以損齒也。</p>
<p><u>飴糖</u>　味甘，溫，無毒，入足太陰經。有紫色濕軟者，有白色枯硬者，主補虛乏，止消渴，去惡血，潤肺，和脾胃。魚骨鯁喉中及誤吞錢環，服之出。中滿不宜用，嘔吐家忌之。仲景謂嘔家不可用建中湯，以甘故也。糯與粟米作者佳，余不堪用。多食發脾風。丹溪云：大發濕中之熱。</p>
<p><u>芥</u>　辣芥菜子研之作醬，香辛，通五臟，歸鼻眼，又可藏冬瓜。</p>
<p><u>茴香</u>　味辛，平，無毒。主破一切臭氣，開胃下氣，止嘔吐霍亂，調中止痛，主腳氣，膀胱冷氣腫痛或連陰髀，引入小腹不可忍，腎勞㿗疝及惡毒腫痛。</p>
<p><u>蒔蘿</u>　辛，溫，殺魚肉毒，健脾，腹冷，食不消，霍逆，腎氣，小兒脹。</p>
<p><u>砂仁</u>　味辛，溫，無毒。主下氣，消食，脾胃氣結，冷瀉，腹痛。</p>
<p><u>杏仁</u>　味甘，苦，有小毒。主下氣，潤心肺，散風寒咳嗽，消心下急痛，散結潤燥，通大腸秘。雙仁，半生熟者勿食，忌粟米。</p>
<p><u>梅仁</u>　味酸，無毒，能除煩熱。</p>
<p><u>香油</u>　冷，無毒。發冷疾，滑骨髓，發臟腑渴，困脾，下三焦熱毒氣，通大小腸，殺五黃及蛔心痛並一切蟲。生則冷，熟則熱，治飲食物，須逐日熬熟。用之經宿則動氣，有齒牙脾胃疾者不可食。丹溪曰：香油須炒芝麻取之，人食之美，不致病。若又煎煉食之，與火無異。予以芝麻大寒，炒而取油，其性仍冷，復經煎煉固熱矣，未必至於無異於火。丹溪救時之弊，其憂深言切如此。</p>
<p><u>酒</u>　大熱，有毒。主行藥勢，殺百邪，惡毒氣，行諸經而不止，通血脈，厚腸胃，御風寒霧氣，養脾扶肝。味辛者能散，為導引，可以通行一身之表至極高之分。苦者能下，甘者居中而緩，淡者利小便又速泄。清水白曲、白糯米不犯藥物，無驗。潔水冬月釀成，此真正酒也，少飲益人。廣西蛇酒，壇上有蛇數寸許，言能去風，其曲乃山中採草所造，良毒，不能無慮。江西麻姑酒，以泉得名，今真泉亦少，其曲乃群藥所造。浙江等處亦造此酒，不入水者，味勝麻姑，以其米好也。然皆用百藥曲，均不足尚。淮安綠豆酒，曲有綠豆，乃解毒良物固佳，但服藥飲之，藥無力，亦有灰不美。南京瓶酒，曲米無嫌，以其水有鹼，亦著少灰味，太甜，多飲留中聚痰。山東秋露白，色純味冽。蘇州小瓶酒，曲有蔥及川烏、紅豆之類，飲之頭痛口渴。處州金盆露，清水入少薑汁造麴，以浮飯法造酒，醇美可尚，香色味俱劣於東陽，以其水不及也。東陽酒，其水最佳，稱之重於它水，其酒自古擅名。《事林廣記》所載釀法，曲亦入藥，今則絕無。惟用麩面、蓼汁拌造，假其辛辣之力。蓼汁解毒，亦無甚礙。俗人因其水好，競造薄酒，味雖少酸，一種清香遠達，入門就聞，雖鄰邑所造，俱不然也。好事者清水和麩面造麴，米多水少造酒，其味辛而不厲，美而不甜，色復金黃，瑩徹天香，風味奇絕，飲醉並不須痛口乾，此皆水土之美故也。紅曲酒，大熱有毒，髮腳氣，腸風下血，痔瘻，哮喘咳嗽，痰飲諸疾。惟破血殺毒，闢山嵐寒氣，療打撲傷則尤妙也。暹羅酒，以燒酒復燒二次，入珍貴異香，每壇一個，用檀香十數斤燒煙薰之如漆然，後入酒，蠟封埋土中二三年，絕去燒氣，取出用之。有帶至舶上者，能飲之人，三四杯即醉，價值比當數十倍。有積病者，飲一二杯即愈。且殺蠱。予親見二人飲此酒，打下活蟲，長二寸許，謂之鞋底魚蠱。枸杞酒，補虛損，去勞熱，長肌肉，益顏色，肥健人，止肝虛且淚。菊花酒，清頭風，明耳目，去痿痹，開胃健脾，暖陰起陽，消百病。葡萄酒，補氣調中，然性熱，北人宜，南人多不宜也。桑椹酒，補五臟，明耳目。狗肉酒，大補，然性大熱，若陰虛人及無冷病人飲之成病。豆淋酒，以黑豆炒熟，用熱酒淋之，療男婦諸風，產後一切惡疾，酒不可與乳同飲，冷氣急。白酒同牛肉食，腹內生蟲。丹溪云：酒濕中，發熱，近於相火，喜升，大傷肺氣，助火生痰，變為諸病。又云：醇酒宜冷飲，先得溫中之寒以潤肺，一益也。次得寒中之溫以養胃，二益也。冷酒不可多飲，三益。愚謂人只知不飲早酒而不知夜飲更不宜，睡而就枕，熱壅傷心，傷目，夜氣收斂，酒以發之，傷其清明，既醉，既飽，飲食聚中，傷勞脾胃，停濕生痰。酒能生火助欲，因而不謹致病。朱子曰：但以醉為節可也。</p>
<p><u>糟</u>　味鹹，溫中，消食，殺魚腥，去菜毒，潤皮膚，調臟腑。</p>
<p><u>茶</u>　晚採粗者曰茗，味甘苦，微寒，無毒。主瘻瘡，利小便，去痰熱渴，令人少睡。早採細者曰茶，主下氣消食。已上《本草》所載，後代諸家及《茶經》、《茶譜》、《茶錄》等書論悉備矣。近世人所用蒙山茶，性溫治病，因以名顯。其它曰宜興茶，陸安茶，東白山茶，神華山茶，龍井茶，閩蠟茶，蜀苦茶，寶慶茶，廬山雲霧茶，俱以味佳得名。品類土產，各有所宜，性味不能無少異。大抵茶能清熱止渴，下氣除痰，醒睡，消食解膩，清頭目，利小便。熱飲宜人，冷飲聚痰，久飲損人，去人脂，令人瘦。又嘗聞一人好食燒鵝，日常不缺，醫者謂其必生脾肺癰，後卒不病。訪知此人，每夜必啜涼茶一碗，解之故也。茶能解炙炒之毒，於此可見。</p>
<p><u>曲</u>　味甘，溫，調中下氣，開胃，化水穀，消宿食，主霍亂，心膈氣痰，破癥結，去冷氣，治赤白痢，治小兒腹堅大如盤，落胎，下鬼胎。六畜脹者，煮汴灌之愈。人煩悶滿胃，效神於藥。</p>
<p><u>酥</u>　微寒，甘肥，補五臟，利大腸，主口瘡。酥，味甘酸，寒，無毒。主熱毒，止渴，解散發利，除胸中虛熱，身面上熱瘡，肌瘡。醍醐，主風邪脾氣，通潤骨髓。乳腐，潤五臟，利大小便，益十二經脈，微動氣。四種皆一物所造，牛乳、羊乳、馬乳，或各、或合為之。四種之中，牛乳為上，羊次之，馬又次之，而驢乳性冷，不堪入品矣。眾乳之功，總不及人乳。昔張蒼無齒，置乳妻十數人，每食盡飽，後年八十餘尚為相，視事耳目精神，過於少年，生子數人，頤養之妙也。</p>
<p><u>辣米</u>　味辛辣，氣太熱，有毒。破氣燒脾，發五痔癰瘍，昏耳目，致浮腫，虛恚。子，榨油，味甘，溫，又愈百病。</p>
<p>上五味，所以調和飲食，日用不可無者。《素問》曰：陰之所生，本在五味；人之五宮，傷在五味。蓋人之有生，賴乳哺，水穀之養，而陰始成。乳哺、水穀，五味具焉，非陰之所生於五味乎？五味益五臟，過則傷焉。如甘喜入脾，過食甘則脾傷；苦喜入心，過食苦則心傷；咸喜入腎，過食鹹則腎傷；酸喜入肝，過食酸則肝傷；辛喜入肺，過食辛則肺傷。非五宮之傷於五味乎？況醬醋之味，皆人為之，尤能傷人。故曰：厚味發熱。人若縱口腹之慾，飲食無節，未有不致病而夭其天年者矣。故飯糗茹草不害虞舜；惡酒菲食不害夏禹；蔬食菜羹不害孔子。夫聖人尚如此，況其下者乎？所以然者，又在於養心。養心莫善於寡欲，欲者，飲食類也。飲食不可絕，而可寡也。覽者宜自得焉。</p>
