<header data-type="book">
<h1>山居四要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪汝懋</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1360">公元1360年</data></dd></div>
<div><dt>底本</dt><dd>元至正二十年（1360）徐仁文寫刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=a2a6cbfacc77486d8c32d0ebceddbef6fDczNjEw0&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>桐江汪君以敬著《山居四要》一編，凡四卷，蓋增廣前太史令楊元誠所作以成書也。元誠舊嘗為其郡牧，以敬居邑官，務仁厥政。故民生日用之道，仰事俯育之教，朝夕相與講議者悉矣。今始鋟梓以傳。其曰：攝生者，爰取人事儀則、興居防範、勞佚節宣之度也。其曰：養生者，具飲食宜制，精慎去取之法，以節嗜欲也。審藥石、膏液主療諸疾病者，目曰衛生。暨老農老圃、四時氣候、藝植、斂藏、伏獵之計者，為治生焉。條分類析，舉要詠博，粲然畢載，樂與眾共之。終篇乃纂附省心、造道、慮事、應物、慎修，古今格言，不一而足，皆可踐履，其用心亦云至矣。暇日攜以詣余，徵序引。惟天地大德曰生，天地能生之，不能全之。聖人有作，財成輔相，左之右之，使民宜之。然後無過不及而正德，利用厚生之道得矣。雖然修已治人之學，固不拘拘事為之末；而性命道德之懿，未嘗不見諸日用常行之間。故自格物致知，窮理盡性。參天地贊化育者，跡其粗以造於精，資於外以養其內，則汪君是書之編有裨政教，誠非細故也。豈惟用諸山居而已？詩曰：「民之質矣，日用飲食。群黎百姓，偏為爾德。」其斯之謂歟。</p>
<p><u>至正庚子歲臘月奉訓大夫江浙行樞密院判官天台劉仁本序</u></p>

<h1>卷之一</h1>
<p>前攝太史令錢塘楊公瑀，字元臣，自號山成道人，嘗列四圖，座右大意。以人生血肉之軀，不知將護，則易致斫喪。況活人之方，載諸簡冊。愚者不能知，賤者不及知。故取言之易曉者，集為《攝生要覽》。蓋康節先生所謂與其病後能求藥，不若病前能自防之意也。防之不謹，則疾必生焉。卒暴急難，僻居村落，道遠無致醫之道，貧賤無市藥之資，坐待危亡者多矣。遂博採海上單方治療經驗者，名之曰《衛生要覽》。口腹之慾，莫過於飲食。失飪不時，聖人則不食之。又況食品藥餌，物有相忌，性有相反，《食經》、《本草》豈能家喻戶曉？一時飲食不致害人者鮮矣。故又著為《養生要覽》，是皆仁人之用心也。至若農圃，雖細民之事，乃居家之不可缺者。天時有早晚，民事有緩急，苟失其時，則不獲其利，而日用缺矣。故又取栽種果木蔬菜氣候之宜，繫於逐月之下。首之以雜法，終之以農事，名曰《治生要覽》。是又利用厚生之一助也。公守建德日，余為屬縣官，手抄得之近寓四明。臥病閒居，復取披閱。以四圖皆有裨於日用，故特於《攝生》之要推本，起居格事，冠於編端。而以居宅避忌、人事防閒及蒞官警戒附焉。又以《養生》、《衛生》二編，分類析目，各增其求備。亦以辟穀、救荒良方，附於《養生》之後，六畜病方附於《衛生》之後。其《治生》之要，悉取文房必用，行廚須知附之。復取省心法言，驚悟世俗者，類載其末。總為一編，分為四卷，目之曰《山居四要》，以備居家、居官者之觀覽。庶幾起居飲食之節，疾病藥餌之宜，與夫治農、治圃、治庖之法，俱有所資焉。若夫省察之功密，涵養之功成，於學問亦不可謂無所補也。至正庚子夏四月丁已汝懋志。</p>

<h2>攝生之要</h2>
<p>起居格言，東方之域，海濱傍水，民食魚而嗜鹽，魚熱中，鹽勝血，故多病癰瘍，治宜砭石。西方金玉沙石之域，水土剛強，民華實而脂肥，邪不能傷其形體，病多生於內，（內謂喜怒悲食男女過也）。治宜毒藥。南方水土弱，霜露所聚，民嗜酸而食附，（不考香食過也。）病多攣痹，治宜微針。北方天地閉藏之域，民野處而乳食，臟寒多滿病，治宜灸焫。中央地平以濕，民食雜而不勞，故多病痿厥寒熱，治宜引導按蹻。春宜夜臥早起，廣步被髮，以使志生。逆之則傷肝，夏為寒變。夏宜夜臥早起，無厭於日，使志無怒而氣得泄。逆之則傷心，秋為痢瘧。秋宜早臥早起，與雞俱興，使志安寧，收斂神氣。逆之則傷肺，冬為飧泄。冬宜早臥晚起，必待日光，使志若伏若匿，（勿妄出，觸冒寒氣也）。去寒就溫，無泄皮膚。（勿汗也。）逆之則傷腎，合為痿厥。久視傷神，久立傷骨，久行傷筋，久坐傷血。久臥傷氣。有所失亡，所求不得，則發肺鳴。肺鳴則肺熱葉焦，發為痿躄。</p>
<p>悲哀太甚，則胞絡絕。胞絡絕，則心下崩數泄血，發為肌痹。思想無窮，所願不得，意淫於外，入房太甚，發為筋痿，及為白淫。有漸於濕，以水為事，若有所留，居處相濕，肌肉濡潰，痹而不仁，發為肉痿。有所遠行勞倦，逢大熱而還，渴則陽氣內伐，熱舍於腎，發為骨痿。數食甘美而多肥，令人內熱中滿，故其氣上溢而口為之甘，轉為消渴。發謀慮不決，故膽虛氣上溢而口為之苦，名曰脾痹。熱病少愈，食肉則復，多食則遺。久坐濕地，強力入水，傷腎。喜怒氣逆，上而不下，傷肝。飲食勞倦，傷脾。憂愁思慮太過，傷心。拘於鬼神者，不可與言至德。惡於鐵石者，不可與言至巧。病不許治者，病必不治。眼者，身之鏡，視多則鏡昏。耳者，身之牖，聽多則牖閉。面者，神之庭，心悲則面焦。發者，腦之華，腦減則發素。氣清則神暢，氣濁則神昏，氣亂則神勞，氣衰則神去。起晏則神不清。</p>
<p>起居雜忌。醉眠當風處生病。醉臥黍穰中成大風。醉不可強食，嗔怒，生癰疽。醉人大吐，不以手緊掩其目，則轉睛。頻浴，熱氣壅腦，血凝而氣散。食飽即睡成氣疾。空心茶加鹽，真透腎經又冷胃。飲湯洗面不精神。行路有汗，跂床懸腳，成血痹腰疼。醉不可便臥，而生瘡癤，內生積聚。醉不可忍大小便，成癃閉、腸痔等疾。停燈行房損壽。醉飽行房致百病。夏月並醉時，不可露臥，生風癬冷痹。坐臥沐浴，勿當檐風及窗隙，皆成病。醉後用冷水洗面，生黑點，成目疾。有目疾行房事，成目盲。汗出露臥及浴，害風疹。暑月於熱石上坐，熱則成瘡，冷則成疝。醉未解，冷水洗面，發麵瘡。猛汗時河內浴，成骨痹。馬尾做牙刷損齒。熱湯漱口損牙。諸禽獸魚油點燈，令人盲目。燒甘蔗渣，令人目暗。嗅臘梅花生鼻痔。亂髮藏臥房壁中，久招不祥。橘花上有蠆，凌霄、金錢花過鼻聞，皆有毒。麝香、鹿茸有細蟲，聞之則蟲入腦。虎豹皮上睡驚神，毛入瘡有大毒。枕內放茉莉引蜈蚣。夜夢不祥不宜說。夜間不宜說鬼神事。星月下不宜裸形。夜間不宜朝西北小遺。夏月遠行，不可用冷水濯足；雪寒草履，不可用熱湯洗足。水過夜，面上起五色光彩者，不可洗手。汗出時並醉時，不可扇，生偏枯。大小便不可忍，成膝勞冷痹。向星辰神堂廟宇，不可大小便。夜行勿歌唱大叫。晦日不可大醉。本命日及風雨雷電、大寒大暑日、月薄蝕庚、申甲子並朔望晦、四時二社、二分二至並忌房事。食飽不可洗頭。口勿吹燈火，損氣。凡日光不可凝視，損目。晝不可睡，損元氣。食勿言，寢勿語。怒不可暴，生氣疾惡瘡。立秋日不可洗浴。磨刀石洗手生癬。</p>
<p>凡睡覺，飲水更眠成水癖。凡臥，歌詠大不祥。雷鳴時不可仰臥。睡臥時不可張口，氣泄損神。夜停燈寢招惡夢。沐浴未乾不可睡。時行病新汗方解，不可用冷水浴。飢忌浴，飽忌沐，常以晦日浴，朔日沐吉。洗頭不宜用冷水淋。向午後陰氣起，不可沐發。夜臥鞋不宜仰放，或置床上吉。虹霓不可指。臥勿當舍脊，不祥。</p>
<p>起居之宜，睡宜拳側，足宜伸舒。老人患風濕、腳氣、腰痛者，宜作暖炕宿臥。行路勞倦骨疼，宜得暖炕睡。五更兩手擦摩令熱，熨腮去皺文，熨眼明目。臨睡用溫鹽湯漱口，堅牙益腎。晚飯少得壽。晚飯後徐步庭下無病。</p>
<p>將睡叩齒則牙牢。未語時服補藥入腎經。不語唾塗瘡則腫消。早起出路，含煨生薑少許，則不犯霧露。早行腹實，或飲酒，則解瘴氣。下床先左足百事吉。大寒早出，噙真酥油則耐寒。臨睡服痰藥則痰去。夜起用氈作鞋則足溫，不受寒邪。臥不覆面則得壽。行路多，夜向壁角拳足睡，則明日足不勞。欲入疫室，於春分之日日未出，用遠志去心，用水煎二盞，泄之。又法，於雨水日後三浴，以藥瀉汗，則無疫。渡江河，朱書禹字佩之，能免風濤之厄。又方，旋取淨筆，研墨寫土字，或以手書之，可不恐懼。夜行，用手掠腦後發，能長精神。常叩齒，則鬼不敢近。雷鳴初打床薦，能去壁蝨。入名山未到百步，呼曰，「林兵能卻百邪」，默唸，「儀方」，可不見蛇狼；念。「儀庚，」，可不見虎。入深山將衣裾摺三折插於腰間，可令蛇蟲不敢近。夜歸，以右手中指書手心．「我是鬼」三字，灰握固則不恐懼。遇惡夢，以左手躡人中二七，扣齒二七吉；遇吉夢，摩目二七，扣齒二七吉。</p>
<p>卒遇凶惡，當扣左齒三十六，名打天鼓，辟邪穢；叩右齒，名槌天磬；存念至真，扣中央齒，名鳴天鼓。齒宜朝暮叩，會神。濯足而臥，無冷疾。寒而衣先，熱而解，則無病。凡臥，先臥心後臥眼。清旦聞惡事，即向所來之方三唾之，吉。雞鳴時叩齒三十六遍，舐唇漱口，舌撩上齒咽三過，能殺蟲補虛損。早起以左右手摩腎，次摩腳心，則無腳氣諸疾。早起東向坐，以兩手相摩令熱，從額至頂上摩二九次，名曰存泥丸。以兩手又兩耳極上下摩二七止，令人不聾。次縮鼻閉氣，右手從頭上引流通。又摩手令熱，以摩身體，從上至下，名曰乾浴，令人除百病。上床臥先脫左足吉。枕內放麝香一臍，能除邪辟惡；安決明子，能明目。夜臥帶雄黃一塊則不魘。凡食訖，溫水漱口，無齒疾，口不臭。夜臥或側或仰，一足伸屈不並，則無夢泄之患。</p>
<p>營宅避忌：人家居處宜高燥潔淨。凡造屋不可先築牆圍並外門。屋後不可種芭蕉。桑樹不宜作屋料，死樹不宜作棟梁。廳後不宜作灶頭。中庭不宜種樹。大樹不宜近軒。臥床宜高。房門不可對天井，廚房門不可對房門。居壁用土閉日及掛帳子用水閉日，則無蚊蠅。門棟柱不著地並空蛀，大凶。門口不宜有水坑，大樹不宜當門。牆頭衝門，直路衝門，神社對門與門中水出，並凶。正門前不宜種柳。跳井大凶。古井及深井中有毒氣，不可入。窺露井損壽。塞古井令人盲聾。堂前不可穿井，井灶不宜相見。女子不宜祭灶。</p>
<p>井畔不宜栽桃。廳內、房前、堂後，俱不宜開井。刀斧不宜安灶上，簸箕不宜安灶前。灶前不宜歌笑、罵詈、吟哭、無禮，大不祥。不可用灶火燒香。大忌婦人跂灶坐。作灶不可用壁泥。天井內不可著花欄並種花木，主淫泆大凶。上廁不可唾。灶灰棄廁中大凶。上廁之時先咳嗽兩三聲吉。</p>
<p>人事防閒：夜飲之家生奸盜。睡人不宜畫其面，或致魘死。夜間臥處停燈，與賊為眼。聞犬吠，宜密喚醒同伴，不可自解說。夜獨起，必喚知同伴。出門向外，必回身掩門，恐人乘隙而入。起逐盜賊，防改易元路。賊以物入探，不可用手拿。臨睡須剔起燈草，剔去燭燼，然後吹滅，驚急易焠照。上床時鞋子頭向外，倉卒易著。夜遇物有聲，只言有賊，不可指言鼠及貓犬。夜覺盜入，直叫有賊，令自竄，不可輕易趕逐。遇賊不可乘暗擊之，恐誤擊自家人。獲得盜賊，即便解官，不可先自毆傷。灶中不可有宿火，灶前不可有積薪。宿火不宜蓋烘籃，低屋不宜炙蠶簇。奴婢有過，不可自撻。暮年不可置寵。蓄妾不宜太慧。有子勿置乳母。婦人奴僕之言不可聽信。小兒當謹其出入，則免於水火。小兒不可衣以金珠。棺中不宜厚斂，墓中不宜厚葬。與人附書，不可沉溺開折；與人並坐，不可自擇利便。人人家，不可覷人書信；借人物，不可損壞不還。吃飲食不可揀擇去取。見人富貴不可妬；見人貧賤不可欺。見人惡不可揚；見人善不可掩。諸惡莫作，眾善奉行。</p>
<p>蒞官警誡，法雖重當恤民以仁，令雖嚴當濟民以恕。</p>
<p>臨事戒躁急暴怒，勤謹和緩為政之要。同寅不可交構是非。事雖細微，必謹關防；事有疑似，當避毀謗。所惡之人，防其害己；所親之人，防其賣己。治官事如家事，愛人民如赤子，正己以御吏。刑獄貴詳審推斷。屍傷必用親臨檢視。居上位不可凌下，在下位不可慢上。子弟不可干預公事，牙儈不可出入私宅。戒貪汙如仇讎，防私謁如防盜賊。</p>
<p>非理相加處之以忍，禮貌相及承之以謙。立朝務正，大不宜阿附。</p>

<h1>卷之二</h1>

<h2>養生之要</h2>
<p>服藥忌食：服丹藥、空青、硃砂不可食蛤蜊，並忌食豬、羊血及綠豆粉。食茯苓忌食醋。服黃連、桔梗忌食豬肉。服鱉甲忌莧菜，服細辛、遠志忌生菜。服烏頭忌豉汁。服水銀、硃砂忌生血。服巴豆忌野豬肉。服地黃忌大棗、蕪荑。服常山忌生蔥並醋。</p>
<p>服天門冬忌鯉魚。服甘草忌菘菜、海藻。服半夏、菖蒲忌餳飴並羊肉。服術忌桃、李、雀肉、胡荽、蒜、鮓。服乾薑忌食兔肉。服杏仁忌食粟米。服麥門冬忌食鯽魚。凡服藥忌食胡荽、蒜、生菜、肥肉、犬肉、油膩、魚膾腥臊、酸臭生冷滑物。服牡丹忌胡荽。服商陸忌食犬肉。</p>
<p>飲食雜忌：酒漿上不見人物影者，不可食。盛蜜瓶作乾不可食。銅器內盛酒過夜不可飲。陶瓶內插花宿水及養蠟梅花水，飲之能殺人。凡肉汁以銅器蓋滴汗入者有毒。凡肉汁盛器中不泄者有毒。凡肉生而斂，墮地不黏塵，煮而不熟者，皆有毒。凡肉自死者，炙之不動，曝之不幹，見水自動者，不可食。肉經宿並熟雞過夜而再蕩，不可食。馬生角及白馬黑頭、白馬青蹄者，皆不可食。黑牛白頭並獨肝者不可食。凡禽畜肝青者不可食。諸禽獸腦滑精不可食。凡鳥死口目不閉，腳不伸者不可食。凡白鳥黃首者不可食。凡魚目能開閉或無腮無膽，腹不丹，並有眼睫者，及有角白背黑點者，皆不可食。蟹目相向，並有獨螯者不可食。所屬本肖肉不可食。馬蹄夜目不可食。黑雞白頭並四距者不可食。河豚魚浸血不盡，眼赤斑者及子不可食。鱉腹有蛇蟠痕者不可食，䐺無紋有毛及煮不熟者不可食。鮎魚赤須赤目者有毒。面有𧓄氣不可食。醬煮飯餿不可食。兔閤眼不可食。鱷魚腦有毒不可食。菜著霜不可食。冬瓜經霜者能生病。蝦無須及腹下黑有毒。一應檐下雨滴菜有毒。豬肉，病人新起者忌食之。豬頭並豬嘴，有風疾者忌食。鯉魚，病後不宜食。鹿肉，有痼疾者不宜食。鯽魚，有腳氣者不宜食。瓠子，有腳氣者不宜食。瓜苦及兩蒂兩鼻者、沉水者有毒。李、桃六出雙雙者有毒。</p>
<p>山雞食半夏、烏頭有毒。豬肉脯貯米中者不可食。羊心並肝有孔竅者，及羊獨角或鹿角白羊黑頭者，並不可食。肉脯曝不幹者不可食。魚鮓肉有頭須者不可食。魚頭有白連背上者不可食。</p>
<p>祭神肉自動者不可食。生果停久有損處者不可食。黌魚小者謂之鬼黌，不可食。羊豕腦醉後不可食。粥內入白湯食之成淋病。醉中飲冷水成手顫。鼠殘物食之生癧。日月蝕時，飲食損牙。</p>
<p>茅屋漏水入豬脯中，食之生癥瘕。醉後飲酩水成噎病。醉後不可飲冷漿水，失聲成閉噎。吐多飲冷水成消渴。發落飲食中，食之成瘕。夏月不宜飲水。凡夜不宜多食雞、鴨、豬肉，能致霍亂。飲酒多能腐腸爛胃、潰髓蒸筋、傷神損壽。飲酒食紅柿令人心痛至死，食蒼耳亦令人心痛。飲白酒，生韭令人病增。葡萄架下不宜飲酒。銅湯瓶內煎湯飲之損聲。</p>
<p>五味所禁：辛走氣，氣病毋多食辛；咸走血，血病毋多食鹹；苦走骨，骨病毋多食苦；甘走肉，肉病毋多食甘；酸走筋，筋病毋多食酸。多食鹹則凝注而色變，多食苦則枝枯而毛落，多食辛則筋急而爪枯，多食酸則肉胝脅而唇竭，多食甘則骨痛而發落。</p>
<p>飲食反忌：兔肉與白雞同食發黃，與鵝肉同食血氣不行，與姜橘同食成霍亂。螃蟹與芥湯同食吐血。糖蜜與小蝦同食暴下。豬肝與鵪鶉同食麵生黑點。生肉與白酒同食生寸白蟲。羊惡半夏，忌作鮓。野雞與鮎魚同食生癩。野雞不與鯽魚及豬肝、蔴菰同食。野雞卵與魚同食、野雞與蕎麵同食，並生蟲。牛腸不與犬肉同食。牛肝不與鮎魚同食。生肉不與栗子同食。羊肝不與豬肉同食。馬肉不與倉米及蒼耳同食。馬奶子不與魚膾同食。鹿肉不與鮠魚同食。麋鹿不與蝦同食。犬肉不與蒜同食。生菜惡細辛，蘆筍惡巴豆。蒜忌術，損眼目，忌啖膾。豬血與黃豆同食悶人。豬肉與生薑同食發大風，與芫荽同食爛人腸。羊肉與豆醬同食發痼疾。茶與韭同食耳重。牛肉與薤同食生瘡。鯉魚與紫蘇同食發癰疽。鯽魚不與芥葉及糖並豬肉同食。黃魚不與蕎麵同食。蝦不與豬肉及雞肉同食。羊肝與生椒同食傷五臟，與小豆、梅子同食傷人。鱔魚不與白犬同食。魚子不與豬肝同食。鮓不與小豆同食。鱉不與薄荷並灰莧同食。蜆子不與油餅同食。梅子不與生蔥同食。萵苣不與餳飴同食。鱉不與雞鴨蛋、山雞肉、雀肉同食。蟹忌與軟棗與紅柿同食。雀肉忌與李同食。　雞肉忌與胡荽同食，生氣滯。黍米不與葵茶同食。小豆不與鯉魚同食。李不與雞子同食。棗、李、菱角、生薑忌與蜜同食。竹筍、葵菜、韭、苦蕒並不與糖同食。芥末不與兔肉同食。蓼不與魚膾同食。正月食虎、豹、貍肉傷人，食生蓼傷腎。二月食兔肉傷神，食雞噁心。三月食鳥獸五臟，（仙家大忌），四月食雉氣逆，食鱔魚害人，食蒜傷氣。五月食韭昏五臟，食鹿傷神。六月食澤水病鱉瘕。七月食蓴有蠟蟲，能害人。八月食姜蒜損壽。九月食蟹，腸有稻芒。十月食熊傷神，食豬肉發宿疾。十一月食龜鱉水病，食鴛鴦噁心。十二月食生葵發痼疾，食龜鱉害人。飲白酒忌諸甜物。蕩粉皮忌杏仁，有則不就。</p>
<p>孕婦忌食：食兔肉令子缺唇。食山羊肉令子多疾。食雞子、干鯉令子多瘡。食桑椹、鴨子令倒生。食雀肉、飲酒令子淫亂。食雞肉、糯米令於生寸白蟲。食雀肉、豆漿令子生䵟𪒟。食鱉肉令子項短。食驢馬肉令子延月。食漿水絕產。食犬肉令子無聲。食螃蟹子橫生。食羊肝子多厄。</p>
<p>乳母忌食，食寒涼發病之物，子有積熱驚風瘍。食濕熱動風之物，子有疥癬瘡病。食魚蝦雞馬肉，子有癬疳瘦疾。</p>
<p>解飲食毒：黃鱔魚、鯉魚忌荊芥，地漿解之。蟹忌紅柿，主吐血，生藕汁解之。誤食桐油，用熱酒解之，乾柿及甘草亦可。凡中蕈毒，連服地漿水解之。又方，白水濃煎石首魚頭汁灌之。又方，多食橄欖可解。食魚膾過多成蟲瘕，大黃汁、陳皮末調鹽湯服之。食中野芋毒，用地漿及人糞解之。諸果毒，燒豬骨為末，水調服。食菜中毒，用雞糞燒為末，水調服，或煎甘草汁，或葛根汁飲之。又方，用梅花腦子末，水調。又方，五味子、白礬末，水調。中河豚魚毒，青黛水、藍青搗汁，或槐花末三錢，新汲水解之。凡中魚毒，煎橘皮湯，或黑豆汁，或大黃、朴硝、蘆根汁，皆可解之。誤食合口花椒服醋解之。凡中牛肉毒者，甘草湯解之。又方，煉豬脂油一兩，每服一匙，大湯水調下。食狗肉中毒者，以杏仁三兩為泥，熱湯調，作三服。食馬肝中毒者，水浸豉絞汁解之。凡中馬肉毒，搗蘆菔汁解之，或嚼杏仁，或飲好酒皆可。食雞子毒，醇醋解之。中鴨肉毒，煮秫米汁解之。中蟹毒，以冬瓜汁，或生藕汁，或干蒜汁，蘆根或紫蘇湯解之。食馬肉心悶者，飲清酒解之。中羊肉毒，甘草湯解之。食豬肉毒，飲大黃汁，或杏仁汁、朴硝汁解之。解諸食毒，搗韭汁服。中鴆鳥毒，生扁豆末，溫水下。又方，葛粉水調下，又生螺汁解之。酒毒，大黑豆一升，煮汁二升，吐之。又方，生螺螄肉、蓽澄茄並解之。食諸般肉過傷者，燒其骨，水調服，或芫荽汁、生韭汁解之。凡解諸惡毒者，以香油灌之，令吐即解。中諸肉毒，壁土水一錢服。又方，燒白扁豆末，可解。凡飲食後心煩悶，不知中何毒者，急煎苦參汁飲之，令吐。又方，煮犀角湯飲之，或以苦酒，或好酒煮飲之。凡解毒之藥，不可熱飲，能傷毒氣愈甚。</p>
<p>凡中挑生毒者，在上，則用熱茶一碗，投膽礬半錢，候化通口呷，以雞翎探喉中，吐出毒物。在下，米飲下鬱金末二錢，瀉下毒物。次用人參、白朮各半兩，無灰酒慢火熬半日，溫服，日進一盞，五日乃止。凡挑生毒，脅下忽腫起如生癰癤狀，頃刻大如碗，五更嚼綠豆試之，若香甜則是。又法，搗小升麻為末，冷熟水調，連服之，瀉下毒物，續煎平胃散補，日食白粥。食麵後，當食蘆菔解面毒，不宜食麵湯，蓋面之毒在湯也。</p>
<p>飲食之宜：多種雞頭薯芋可以代食。山藥、鳧茨、百合、葛瀝粉可充飢。食包子當用醋，食饅頭當用梅血羹，蓋包氣之物，必當用醋與血破氣。侵晨食粥，能暢胃氣生津液。採嫩柏葉，線系垂掛大甕中，紙糊甕口，經月餘，干則取出為末，青翠可以調湯代茶，不宜見風。老人常以生牛乳煮粥，食之有益。</p>
<p>夏月熟肉，單用醋煮，可留旬久。面不宜過水，以滾湯候冷，代水用之。熟水用陳紫蘇妙。春宜食麥，夏宜食綠豆，秋宜食麻，冬宜食黍。茶宜漱口，不宜多啜。熟食不宜熟嚼，生食不宜粗吞。候已飢則進食，食不厭熟嚼；候已渴而引飲，飲不厭細呷。待飢甚而後食，食不可太飽；待渴甚而後飲，飲不可太頻。食不厭精細，飲不厭溫熱。凡食麵硬，作熟溲湯深煮，久則無毒。食麵後，如欲飲酒，須先以酒咽去目漢椒三兩粒，則不為病。</p>
<p>法制餒敗馬板腸，用鑽孔胡桃數個同煮，則收腥氣。</p>
<p>諸般肉，煮用紙封鍋口，或以楮實同煮，則易爛。煮陳臘肉，待滾時將燒紅炭數塊淬之，則不籨。老鵝用櫻桃葉數片同煮，則易軟。臭肉與阿魏同煮，或用寸段稻草一把，或鑽孔胡桃皆不臭。煮魚冷水或滾湯下，或用末香洗，則不腥。煮魚，滴生油數點則無涎。糟蟹，放皂角半個在上，可留久。藏乳多咸，以茶清水浸之則減。籨筍，以薄荷入鹽少許同煮則解。籨芋，以灰汁煮之則解。洗豬肝用乾麵，洗豬臟用砂糖，則不腥。救酸酒，每大瓶用赤小豆一升，炒焦袋盛放酒中，即解。凡糟醬蟹，以燈照則沙不堪食。茶惡濕，宜焙不宜曬。燒肉不可用桑柴火。</p>

<h1>卷之三</h1>

<h2>衛生之要</h2>
<p>諸風。頭風，研蘿蔔自然汁，左痛搐右鼻，右痛搐左鼻。又，頭風用井底泥調大黃、芒硝末塗之。中風，多以香油或生薑汁灌之，吐，即醒。</p>
<p>傷寒中暑。傷寒得汗後，不可飲酒。因女色病陰證傷寒，用陳皮，熱鍋內炒焦，以酒烹下，濾酒飲之。傷寒壞證，好人參一兩，重煎頓服。中暑發昏，以新汲水滴兩孔，以扇搧之。重者，以地漿灌則省，與冷水吃則死。又方，見諸急證，或傷寒毒熱攻眼，用露蜂房半兩，水煎，露一夜，洗之。</p>
<p>感冒霍亂。感冒用帶根蔥湯，嚼生薑，得汗愈。霍亂吐瀉，用屋下倒掛塵，湯泡澄清服之。大忌飲食，入腹則死。吃冷水不妨，不可吃熱湯。</p>
<p>痢瘧。痢，五倍子末為丸。赤痢，甘草湯下；白痢，乾薑湯下，各三十丸。又方，以陳皮、艾葉濃煎湯服。瘧疾用瓜蒂一個搗碎，水半盞浸一宿，發日服，吐即愈。</p>
<p>心疼。蟲咬急心疼，用真香油頓溫服一盞。心疼，用晚蠶沙少許，白湯下。</p>
<p>面部腿足。面瘡，用水調平胃散塗之，痄腮，用雞子清調赤小豆末塗。又痄腮，及喉下諸般腫病，用蝸牛飛面研勻，貼痛處。腰疼，用牛皮膠化開，生薑汁打勻，貼痛處。挫氣腰疼，細茶內滴入香油數點，頓服。腳氣，用無名異化牛皮膠打勻，貼痛處。腿轉筋，踏實地自止。遠行腳打成泡，用水調生面糊貼，過夜間干，不可穿破。腳裂，爛蒸藕研成膏貼之。又方，用五倍子、豬脂搗成膏，入裂內。凍腳，用熱醋湯洗，研藕貼之。又方，用五倍子煎湯洗。</p>
<p>眼耳鼻口。赤眼，用九節黃連、秦皮，粗末，等分，加滑石一塊煎湯洗。又方，用熱湯豁洗，或濃煎冬青葉，入鹽煎洗。眼赤痛，用艾灰、黃連各半兩研勻，入少龍腦，湯點一錢，溫洗。風淚眼，九節黃連和槐樹皮灰，粗末，熬湯澄清，頻洗之。物落眼中，用新筆蘸水繳出。又方，濃研好墨點眼自出。風土入眼，自以手擘開，連唾之。耳濕，用陳皮燒灰吹入，妙。諸惡蟲入耳，用韭汁灌之。蟲入耳腦痛，以桃葉塞兩耳則可出。蜈蚣入耳，炙豬肉掩之即出。鼻衄，用飛面二錢，鹽一錢，汲新水調下。又方，用紙圓兒，右衄塞左耳，左衄塞右耳。又方，冷水調白麵飲之。又方，黃葵子不拘多少為末，新汲水調下二錢。又方，青蒿納鼻中。又方，棕樹皮燒灰，隨左右鼻搐之。蜒蚰及諸蟲入耳，用麻油灌耳內，或用生蔥汁，或薑汁亦可。</p>
<p>口瘡，用白礬湯漱口。舌腫，用百草霜為細末，醋調敷。又方，用亂髮燒灰水調下。飛絲入口，細嚼紫蘇葉，白湯送下。狼煙入口，飲少醋解之。眼毛倒睫，拔去拳毛，用蝨子血點入眼內，數次愈。</p>
<p>牙齒咽喉。風牙，細辛、草烏頭等分，為細末，擦之，溫水漱之。蛀牙，天仙子燒煙，用竹筒抵牙上，以煙燻之。風蛀牙疼，用香白芷、細辛煎湯漱之。又方，絲瓜兒燒灰存性，擦之。又方，香白芷、薑黃、細辛等分，為末，擦痛處。蛀牙，用溫米醋漱出蟲自愈。挫喉氣不通，用冷水徐灌之。纏喉風，用皂角揉水濾過，灌之，得吐即愈。急喉風，用膽礬少許吹入喉中，去涎。喉閉，用枯礬末吹入喉中，急則用燈盞底油腳灌下。咽喉痛，用桔梗、甘草煎湯，徐徐呷。又方，用青艾汁灌下。冬月無艾，瓶內燒蛇床子，熏煙入口，即愈。</p>
<p>咳嗽。咯血暴嗽，用白蜆殼洗淨研細，粥飲下。喘嗽，白姜蠶為末，細茶等分，臨臥調服。咯血，用新綿灰半錢，重酒調下。吐血，用側柏研細，酒調服。</p>
<p>瘡癬腫毒。疥瘡，用石灰放鍋中炒極透，出火氣，香油調敷。下疳瘡，用五倍子末敷之。臁瘡，用薤汁洗淨挹干，刮虎骨敷上。癬瘡，以樟樹皮為末敷之。</p>
<p>漆瘡，用無名異研細，水調敷。腫毒，或疼痛處，以赤小豆為末，水調敷。頻換，或用香白芷末，水調敷，尤靈敏。</p>
<p>又方，白芙蓉葉曬乾，同皂角為末，水調敷。癤毒，初起一二日內，用好米醋煮肥皂，爛研厚塗之，紙花蓋，干則換。腳腿腫，用陳瓠種空殼煎湯，空心服。</p>
<p>雜病。酒黃病，用絲瓜兒連子燒灰，因面得病，麵湯下，因酒得病，酒下，數服。沙子，用白湯送下鹽一撮，令吐則止。又方，以香油茶吐之。又方，用苧麻札十指尖，針挑出惡血數點。又方，以香油湯拍兩小臂及腳心，苧繩颳起紅紫泡，亦好。盜汗，臨夜吃淡煮麵丸兒，空心服妙香散。翻胃，用棠梨葉油炒去刺為末，酒調下。又方，丁香、附子為末，以掌心內舐吃。癮疹入腹，用蠶沙濃煎湯洗。風疾癮疹，牛膝不以多少，酒浸一宿，焙乾為末，溫酒調下二錢。腎虛髓少齒痛，以生地黃、川芎各一錢，為末，潰齒根。治癰疽背瘡初發者，蒜一片厚二紙，置痛處，以熱艾灸二七壯。</p>
<p>治蠍螫痛疼不可忍者，以蔥白切一片厚二分，置所螫處，艾灸三五壯。治金瘡破腹腸突出，用於人屎抹腸，即自入。治蛇入人竅中，急以手捻定，用刀刻破，以椒或辛物置破尾上，用綿系之，自出。不可拔。</p>
<p>痔瘡，用河水頻洗，取蝸牛研細塗之。疿子，用茨菰葉陰乾為末敷之。臟毒便血，生藕節切片，清早蘸平胃散嚼。便毒，取大蜘蛛一個研細，熱酒下。</p>
<p>小腸氣，炒鹽或茴香二包，不住手更換熨之。大便數日不通，用皂角末煉蜜為丸，納穀道中。大便風秘，用不蛀皂角當中一寸許，去黑皮，用沸湯半盞泡，通口服之，通後即愈白粥。又方，以蔥白或蔥尖納肛門中。小便不通，鹽填臍內，艾灸三壯。又方，磨剪刀交股水一盞。又方，搗甜酸草取汁，入沙糖水調服。腹脹小便不通，琥珀一錢，重研如粉，人參湯下。大小便不通，燒皂角灰，粥清飲下。老人遺尿用薔薇根細研，酒下。</p>
<p>婦人。難產用黃蜀葵子四十九粒研爛，酒醋下。又方，吞槐子十四枚。逆產，燒銅錢通紅放酒中飲之。產後血悶，打醋炭熏之則醒。胎衣不下，用最初洗兒湯服下，休令知。催生，用豬脂一兩，蔥白一寸，切，同熬成油，去滓，通口服。血崩，服蒲黃黑神散，立效。又方，宿砂仁不拘多少，新瓦土炒香為末，白湯調下。月事不調，用香附子炒黃為末，陳米飲湯入米醋些少服。因爭鬥胎動不安，腹內氣刺痛復上喘，用苧根一大把淨洗，入生薑五片，水一大盞，煎至八分，調粥服。赤白帶下，用舊蓮房為末，入麝香，空心米湯飲。兒枕疼，用陳年蟹殼燒灰，酒調下。</p>
<p>小兒驚風，用猢猻糞燒存性，碗覆出火毒，生蜜調灌少許。赤遊風，用朝南燕窠泥，雞子清調敷，或將腫處以針劃破，用鮮血塗之，尤妙。又方，用筆管或水蛭住腫上，食去惡血。赤腫，伏龍肝為末，芭蕉油敷之。急慢驚風，百治不效者，蛇脫皮一分，牛黃一錢，研，頓服，五歲以上倍服。牙疳，茴香、桔梗燒灰存性，敷，干，油調。頭面爛瘡，木耳細舂，蜜調敷，干則換之。又方，冷水調平胃散敷，干則換。火丹，磨鏽鐵水調廁上泥塗之。疳黃，雞子剜小竅，入巴豆淨一粒，紙糊孔，煨熟，去巴豆，食之。隔一二日再吃一二個。痘瘡不發，食荔枝酒，忌飲水並生冷物，瀉則難治。倒黶，人牙燒灰調服。</p>
<p>諸急證。凡魘死者，不得近前急喚，但咬痛其腳腿及唾其面，不省者移動些少臥處，徐喚之。原有燈則存，無燈切不可點燈，及用皂角末搐兩鼻。又方，急於人中穴及兩腳大拇趾內離一甲薤葉許，各灸三、五壯即活。魘死，兼治中惡、自縊、牆壁壓、溺水、產氣絕，用皂莢末，或半夏末如豆大，納鼻中，噎則氣通可活。驚怖死者，以溫酒灌之。噦欲死者，半夏一兩一分湯泡，生薑一兩水煎，作二服。又法，輕者以紙燃搐鼻，或以虛枉之事誣之即止。凍死微有氣者，用大鍋炒灰令暖，包灰熨心上，冷卻即換，待眼開，以溫酒粥湯與之，不可便與火烘。卒暴墮攧、壓倒、打死，心頭溫者，可先將本人如僧打坐，令一人將其發控放起，用半夏末急吹入鼻內，如活，卻以生薑汁、香油打勻灌之。凡中渴至死，不可使得冷。得冷便用屈草帶溺臍中，則可活。冬月落水微有氣者，以大器炒灰熨心上，候暖氣通，溫水粥稍稍吞之即活，便將火炙即死。卒死無脈，無他形候者，牽牛臨鼻上二百息，牛不肯舐者，鹽汁塗面上即肯舐。旅途中暑者，急就道上掬熱土於臍上，撥開作竅，令人尿其中。次用生薑、大蒜細嚼，熱湯送下。中惡客忤卒死者，灸臍中百壯，以皂角末吹鼻，或研韭汁灌耳中。自縊者，切不可割斷繩子，以膝頭或手厚裹衣物緊塞穀道，抱起解繩，放下，揉其項痕，搐鼻及吹其兩耳，待其氣回，方可放手，若使泄氣則不可救矣。溺水者，救起放大凳上睡著，腳後凳腳坫起二磚，卻以鹽擦臍中，待其水自流出，切不可倒提水出與數等。但心頭微熱者，皆可救治。又方，急解去衣帶，以艾灸臍中。誤吞竹木、魚骨所鯁，咽不下咽，用象牙為末，水調一錢呷服。誤吞銅錢，用生茨菰汁呷飲，自然消化。誤吞稻芒、麥芒於咽喉間者，急取鵝口中涎令灌之，或取薦頭草細嚼下，尤妙。骨鯁者，楮樹嫩皮為丸，或楮子研碎，水下二、三十丸。又方，縮砂、甘草等分為末，以綿裹少許噙之，旋旋咽津下，其骨隨痰而出。竹木物鯁者，用貫眾煎湯，呷之頻漱。竹木刺入肉，細嚼白梅敷之。乾霍亂，用鹽一兩，生薑半兩同炒，黃水煎，溫服。甚者，加童子小便。中砒毒，用早禾稈燒灰，新汲水淋汁，絹帛濾過，冷服一碗。又方，綠豆擂水。又方，寒水石、綠豆粉末，以藍根研，水調下。又方，白扁豆為末，冷水調下。又方，鬱金末二錢，入蜜少許，冷水調下。又方，醬調水服。中丹藥毒，服四物湯、香蘇散各一帖，和煎服之，或萱草根，或瓜蔞根研汁飲之。中附子毒，黑豆、黃豆濃煎湯飲之。服風藥多，不省人事，濃煎甘草，同生姜自然汁飲之。中諸藥毒，用生薑、甘草、黑豆、淡竹葉等分，水煎連服。又方，用蠶故紙燒灰研細，水調服。</p>
<p>諸顛撲傷損，刀斧打撲損傷，用帶須蔥炒熟，乘熱搗爛研盦上，冷則換。血不止，用白麵盦。破傷風，用魚膠燒灰存性為末，酒調下，仍封瘡口。又方，用桑條尺許長十數根，火上炙取汁，熱酒調下。顛撲損傷，用松節煎酒吃。骨肉損，醋搗肥皂爛，厚盦之，以帛束住。閃肭，用米醋糟、平胃散相和罨之。顛撲重傷者，用生薑汁四兩，香油四兩打勻，無灰酒熱調下。湯火傷，或蜜塗，或雞蛋清調豆粉，或醋泥塗，或飛面水調敷。湯火傷敗壞及滅瘢，風化石灰不以多少銚子內炒令黃色，地上出火毒，研令細，生油塗瘡上。火燒悶絕，以新尿冷飲之，或冷水和蜜飲之。負重擔肩破，剪貓兒頭上毛，用不語唾黏貼破處。蘆葦刺入肉，細嚼栗子渣盦傷處。竹木刺不得出，用鳥羊糞搗碎，水調塗之。針入肉，用蠟姑腦子（即蛄螻），硫黃研勻，攤紙花貼瘡，候癢時針出。</p>
<p>諸咬傷。人咬傷，用龜板或團魚板燒為灰末，以香油調塗之。馬咬，細嚼栗子敷傷處。蠶咬，以苧根汁塗之。蜘蛛等諸蟲咬，用臈粉、生薑汁調敷。諸惡蟲咬，以香油浸紫蘇塗之。蛇傷，用大糞塗之。犬咬傷，用萆麻子五十粒去殼，以井水研成膏，以鹽先洗咬處，貼上。風狗咬，用大糞塗，仍拔去頂上紅髮。又方，米泔洗淨，砂糖塗後，用末子益元散四兩重，斑蝥十四個去頭、翅、足，同煎，空心溫服。又方，或經久復發，無藥可療者，用好雄黃五錢重，麝香五分重研勻，用酒調二錢服下，去惡物再服，必使得睡，不可驚覺。蠍子蜈蚣傷，大香油燈吹滅，以余煙焠之。蝦蟹以苦蕒汁塗之。一切蛇蟲所傷，用貝母為末，酒調儘量飲，酒化為水，自傷處流出盡，卻以藥渣敷瘡上。</p>
<p>六畜病方。牛瘴疫方，用石菖蒲、淡竹葉、葛粉、鬱金、綠豆、蒼朮各等分，為細末，每服一兩，芭蕉自然汁三升，入蜂蜜一兩，黃蠟二錢，重調灌之。未解，再灌。熱極，加大黃。鼻頭無汗，加麻黃。鼻口出血，加蒲黃。又方，真茶末二兩，和水五升灌。又方，人參細切，水煮五升灌。又方，於欄中燒安息香及蒼朮，亦以鼻吸其香，立止。又方，十二月內收兔頭燒灰，和水灌之。牛尿血，用川當歸、紅花為末，酒煎冷灌。牛腹脹，用燕屎一合，水調灌。牛氣噎，用皂角末吹鼻中，以鞋底拍尾停骨下。牛肩爛，舊綿絮三兩燒存性，麻油調敷，忌水五日。牛漏蹄，紫礦為末，豬脂和，納蹄中，燒鐵篦烙之。牛生蠱生蟲，當歸搗，醋浸一宿，塗之。</p>
<p>治馬中結，雄雞一隻，用拳槌死，就熱便開取肚內心、肝、腸、肚、嘴、爪、指甲，帶糞入風化石灰一合，用碎剮爛，入真麻油四兩，重調勻，灌之。雞不用。馬傷水，先燒人亂髮熏兩鼻，後用川烏、草烏、白芷、胡椒、豬牙皂角各等分，麝香少許，為細末，用竹筒盛藥一字，吹入鼻中，須臾打嚏清水流即放。加瓜蒂，兼治一喉中結病證。馬諸瘡，昆沙、夜合花葉、黃丹、乾薑、檳榔、五倍子為末，先用鹽漿水洗瘡，後用麻油加輕粉調敷。馬瘦喂不肥者，貫仲一兩放藥料內，久而瘦自去即肥。馬鼻內顙病，用蕎麥磨粉，灌罩連稈切，飼之。凡馬行遠路，宜早歇遲喂，未喂之，先飲水數口方可喂草，則無中結等病。馬脊打破者，用馬腳下尿屎濕稀泥塗上，干即易之，或溝中清臭泥亦可。已破成瘡者，用黃丹、枯白礬及生薑三味燒灰存性，等分，為末，入麝香少許，真麻油調敷。已成膿者，用漿水同蔥白煎湯洗淨，敷之。</p>
<p>凡羊惡濕，宜作高棧，除其糞穢。巳時放，未時收，若食露水草則生病。羊疥癩，用藜蘆根不拘多少槌碎，以米泔浸之，瓶盛塞口，置熱灶邊，數日味酸。先以瓦片刮疥處令赤，或湯洗之，去痂拭乾，以藥汁塗上，兩次可愈。若癩多，逐旋塗，恐不勝痛也。又方，百草霜及鹽滷，或鹽四兩，桐油四兩，調勻塗之。羊中水，先以水洗眼鼻中膿汙令潔淨，次用鹽一大撮就杓內，沸湯研化，候冷，澄取清汁，注少許兩鼻內，五日後漸愈。羊夾蹄，以羖羊脂煎熟去渣，取鐵篦子火燒令熱，將脂勻篦上烙之，勿令入水，次日即愈。</p>
<p>貓病，磨烏藥灌之。貓煨火被瘁，以硫黃少許納豬腸中炮熨，或魚腸煨熟飼之。貓、猴為人踏死者，以蘇木濃煎湯灌之。</p>
<p>狗病水，調平胃散灌之。又方，巴豆去殼，調平胃散灌之。狗卒死者，以葵根塞鼻可活。狗遍身膿癩，濃煎百部汁塗之。狗為蟲蠅齧者，取麻油滓，遍按其身立去。</p>
<p>雞病，用真麻油灌之。養雞不抱法，每下卯時，食內夾麻子喂之，自然常時下蛋。養生雞，以淨溫水洗灌雞腳，放，自然不走。養雞鴨，以土硫黃研細同飯拌勻喂，不數日即肥。</p>
<p>豬病，割去尾尖出血即愈。豬瘴疫者，以蘿蔔或葉食之，不食則難救。</p>
<p>魚遭毒，急疏去毒水，別引新水沖之，多取芭蕉搗碎，置新水來處，使吸之可解。或以糞清澆池面亦佳。</p>

<h3>新增諸證雜方一類</h3>
<p>治燒酒醉傷不醒者，急用綠豆粉湯皮切片，將筯開口牙，用冷水送粉片，下喉即醒。</p>
<p>治背發癰瘡，用溫水洗淨，用桑柴燒取紅炭炙瘡口，待乾，用白麵槎繩圍瘡口四弦上，用雞子清翎毛刷敷，數次即安。如瘡內肉腫出易治，塌內難治。</p>
<p>治骨塞喉。宿砂威靈仙，砂糖冷水煎，請君進一服，諸骨軟如綿。</p>
<p>治陰證。陰證得來災最凶，蜂巢礬末及全蔥，搗為膏子塗兩手，掘於陰上顯神功。</p>
<p>治吹乳。皂角燒灰蛤粉和，熱酒將來調數字，下得喉嚨笑呵呵。</p>
<p>治牙痛。雄黃青鹽細，良薑蓽射葫，綿裹著一字，如風吹散無。</p>
<p>治紅白痢證。甘草五錢，嬰粟殼五錢去粗皮，用水一鍾煎亦好，俱研成末調水亦好。</p>
<p>治心氣七年，茱萸一兩，南木香二兩，茯苓二個，用好酒一碗，便將茱萸、茯苓先煎，後擂爛木香入內，煎一沸，熱服。此疾即絕根。</p>
<p>治人常去血。大黃五錢，用酒十分煎至四分揭退停。候雞啼，起坐溫下。</p>
<p>治產後汙露不止。百草霜一兩，井花水一鍾，炒過鹽一勺，入和水調服，即愈。</p>
<p>治絞腸沙。男左女右小指第一節灸三壯，即止。</p>
<p>治婦人乳少。婦人乳少因氣隔，卻用穿山甲五錢微炒，將米泔水和調，將夜服，奶如泉。</p>
<p>治壁蝨蚊蟲。木鱉子兮用對停，雄黃作伴記叮嚀，用蜜調丸燒一粒，還君清臥到天明。</p>
<p>治小兒夜啼。小兒夜啼小腸經，無休無歇父母驚，牽牛細末封臍上，頓覺還蘇氣乃清。</p>
<p>治脫肛不收。脫肛不斂又不收，急取蜘蛛搗作油，敷在下臍丹田上，一時依舊好無憂。</p>
<p>治奶發癰腫。乳上發癰腫，兼疼寒熱臨，芝麻生搗爛，貼敷即安心。</p>
<p>治赤眼疼痛。赤眼怕日光，黃連獨味長，將來爐乳浸，取汁點清涼。</p>
<p>治蛔蟲、寸白蟲。蛔蟲並寸白、成病腹中間，蜂窩酒浸服，頓覺得平安。</p>
<p>治腫疼。男女陰膚腫，乳香蔥白研，將來敷腫處，即是好良緣。</p>
<p>治癬瘡。但發乾濕癬，火飛好白礬，研細油調敷，將來擦去瘢。如不效，加硫黃末同生姜蘸擦，即除。</p>
<p>治小兒禿瘡。禿瘡要治莫胡求，羊糞燒灰天雁油，行潦水中先洗淨，擦乾敷上發先抽。</p>
<p>治小兒眉練瘡。眉練黏瘡治不難，單方一味療平安，菟絲子炒研為末，洗淨油調掃便乾。</p>
<p>治鼻血。鼻血流雙心莫急，可熬蘿蔔自然汁，無灰好酒一同調，當時交君歡喜立。</p>
<p>治魚骨閉。誤吞魚骨在喉中，閉塞難言氣上衝，威靈仙末調水服，即時化下有神功。</p>
<p>治赤白痢。三個烏梅五個棗，五片生薑五寸草，五枚慄殼去節蒂，蜜制煎熬服如掃。</p>
<p>治婦人胎衣不下。胎衣如不下，氣閉困恓惶，伏龍肝細研，水調服乃良。</p>
<p>治婦產後心疼。產後心腹痛，難忍又恓惶，酒調生雞蛋，服後即安康。</p>
<p>治產後赤白痢。產後神虛憊，因而冷物傷，蔥白一余握，酒煎服最良。</p>
<p>治男子陰莖腫。陰瘡癢有蟲，熱痛皆因風，鯉魚生膽敷，卻見醫神功。</p>
<p>治漆妒成瘡。漆瘡延皮爛，神麯拌蟹黃，水調塗一遍，病退即無妨。</p>
<p>治噎噫病。氣噫病人焦，神麯拌糊椒，（曲五錢，椒五錢），搗細煎湯服，除病自逍遙。</p>
<p>治小兒肚腹膨。小兒腹脹似包囊，生食多餐食積傷，石榴樹皮牽牛子，同煎一服即消良。</p>
<p>治疥瘡。天仙子帶好硫黃，輕粉相兼信石當，巴豆雄黃同一處，研末油拌是良方。又方，合用生麻布乘瘡癢擦破，用綿子蘸藥油擦敷即效。信石與豆粉咸半，用豬油椿調亦可。</p>
<p>治小兒軟癤。小兒軟癤忽生來，夏熱秋初濕氣災，蛇蛻燒灰為細末，酒調貼敷即安哉。</p>
<p>治赤腫無名瘡癤。惡毒無名腫痛攻，無膿無血又無蹤，旋覆花根為細末，酒調敷遍有神功。</p>
<p>治火燒湯潑。黃連黃柏是君臣，沒藥山梔用紫苓（即黃芩），大黃乳香同研細，油水調敷效如神。</p>
<p>治傷暑瀉極，四肢厥冷。香薷扁豆樸甘良，加卻黃連是大方，羌活一錢煎至八，必須冷飲即無妨。上件各等分，厚朴去粗皮，用薑汁炒，徐徐進服即甦醒也。</p>
<p>治男子婦人忽暴痢。暴痢忽來不可傲，急尋獨蒜搗成膏，左右腳心重敷定，一如風掃去塵毫。</p>
<p>治療瘡。醫治病走命難存，不覺沉沉神思昏，苦苣莖中多取汁，將來塗上病除根。又方，蒼耳之上有嫩頭，東方未動剪來收，陰乾之後羅為末，酒服怡然汗透休。</p>
<p>治痔瘡。痔瘡舉痛甚呻吟，勞飽行房得此經，仙方雄膽頻頻敷，其毒消磨體自輕。</p>
<p>治偏正夾腦頭風。神芎丸治上頭風，日服須教五臟通，次用川芎同藁本，細羅吹鼻竅門中。</p>
<p>治乍耳聾。三貓二豆兩相投，少許香臍訣法修，蔥白為膏同藥末，搓丸綿裹塞聰州。</p>
<p>治小兒吐奶乳。小兒吐乳為何因，蓋因風寒落奶經，爛研末香蚯蚓糞，米湯調服即安寧。</p>
<p>治逆生不順。逆生本是陰陽逆，不合胎前睡臥多，急取伏龍肝細研，服之順養不由他。</p>
<p>治婦人經水過月。婦人情性氣偏多，氣耗榮經怎奈何，阿膠炒成珠子粒，一錢熱酒服除痾。上阿膠必用明者，以蛤粉用慢火炒成珠，量飲酒徐徐服，二服立效。</p>
<p>治刀槍傷。遺軀槍傷血暫流，憂煩損者志無休，黃丹飛過隨多少，即用枯礬一處修。上件為末干糝。</p>
<p>治牙痛。雄黃青鹽細，良薑蓽麝葫，綿裹著一字，如風吹散無。</p>
<p>治傷寒胸結，糞結。蜂蜜不拘多和少，食鹽一字銚中熬，文武火成膏子定，蘸油納道走一遭。上用蜜煎熬成定子，納入穀道，不久間燥糞即出，其應如響。</p>
<p>治咽喉。白礬一兩以無餘，巴豆三枚共一居，鐵器飛枯去巴豆，細羅入口病即除。上二味，凡用成塊，取一兩豆，去殼同飛，去豆研末，緯管吹入喉中，涎出即愈。</p>
<p>治破傷風。生人十指甲，腳下十指甲，剪下香油炒，研羅酒調呷。若服之汗出便好。</p>
<p>治風狗傷人狂走。雞子將來開一竅，斑蝥一個納其中，重重紙裹麻繩扎，煨熟除蝥酒下功。上用雞子一個，斑蝥一個去翅足，依前法制度，重紙重封，用水濕過，文武火煨熟，去殼去螯，嚼細，用好酒送下，其毒隨尿出狗兒形即安。大忌食熱湯粥、房事。</p>
<p>治塌氣腫發。水蛭虻蟲分兩停，銚內焦炒細均勻，每服三錢酒大盡，塌氣消除似有神。</p>
<p>治風牙。一杪烏豆數根蔥，更加焦艾一同同，清水一碗濃煎漱，立止牙蟲及齒風。</p>
<p>治重舌。小兒重舌聽根源，甲鎖尋來是仙傳，火內燒度為細末，水調吃下便安然。</p>
<p>治婦人口乾。婦人口渴共咽乾，不治年深愈覺難，尋取黃龍肝一具，燒灰調酒似靈丹。</p>
<p>治漏瘡。荊芥、槐花各等分為末，煎一大碗服之，服丸亦可。又方，豆豉、炒槐子等分為末，每服一兩，水煎空心服之效。</p>
<p>治痔漏下血癢痛。槐子炒，枳殼去穰，各一兩，為細末，醋為丸如桐子大，服二十丸，米湯空心下。</p>
<p>治小兒疝氣腫硬。地龍不去土，為末，唾津調塗害處。治急心痛並男子小腸氣。五靈脂（半兩），蒲黃（半兩），炒為末，每服三錢，醋半盞，煎一沸，再入半盞，煎二沸，空心和滓溫服。又方，用醋一盞，加生白礬一小塊如皂角子大，煎至七分，溫服。</p>
<p>治婦人吹奶，槿皮燒灰存性，熱酒調下三錢，服之立效。</p>
<p>治婦人產後，惡物不下，上攻心痛。童子酒研墨飲之，其惡物即出。又方，灶里焦土研細，酒調下三五錢，服之瀉出惡物，立止。</p>
<p>治產橫生。萆麻子三十個，研爛，於婦人頂上剃去些發，以藥塗之，須臾腹中攪動提正，便刮去藥，塗之於腳板心，自然順生也。</p>
<p>治底耳。枯白礬填於耳，立效。</p>
<p>治諸物入眼，好墨清水研，傾入眼中，烹之即出。</p>
<p>治赤眼雙睛。泥中蛆蟲淘淨曬乾，為末，干貼，甚效。</p>
<p>治口瘡。飛過白礬半兩，黃丹一兩，炒紅色，放下，再炒。紫色為度。用煎二味為細末，搽瘡上即愈。</p>
<p>治牙痛。自含冷水一口，用大黃末，又用紙燃，隨左右痛處鼻內用之，立止。</p>
<p>治牙疳。用米二停，鹽一停，盆盛，麝香、白礬相合，用水拌勻，用紙包裹燒黑焦，為末，貼於瘡上，立止。</p>
<p>治湯燒。用多年廟上物與走獸為末，水調塗燒瘡處，立效。又方，用牆上青苔燒，灰油調搽瘡處。又方，旋取生地黃搗爛，取自然汁，小油黃蠟少許，放銀石器中熬成膏，用雞翎掃瘡上，亦妙。</p>
<p>治小兒禿瘡。用羊糞熬湯洗去瘡痂，用屋懸燥炒羅為末，以小油調塗瘡上，立效。</p>
<p>治毒瘡無頭者。用蛇蛻皮貼於腫處為妙。又方，用皂角陰乾燒灰為末，每服三錢，酒調，口嚼菜子三、五個，同前藥送下。</p>
<p>治諸瘡被□肚腫者。用生白礬末水調塗之自消。</p>
<p>治一切惡瘡。用天茄葉貼之亦妙。又方，以瓦松不問多少，陰乾為末，先用槐枝、蔥白湯洗過。有炙瘡久不斂者，用前藥亦妙。</p>
<p>治臁瘡久不愈者。用川烏頭、黃柏各等分，為末，用唾津調塗放紙上貼之，甚妙。</p>
<p>治疔瘡。用生蜜與隔年蔥一處研成膏，將瘡周圍用竹鎞刺破，用藥於瘡上攤之，次用緋綿蓋覆，量度人行二十里，然後用熱醋洗之，甚妙。</p>
<p>治面上瘡。用㭮子底黑煤和小油調一匙，打成膏子，攤在紙上，向瘡上貼之，為妙。</p>
<p>治凍瘡。用臘月雀腦子燒灰研細，小油調塗凍瘡上，亦妙。又方，以黃柏為細末，用乳汁調塗瘡口上，甚妙。</p>
<p>治傷寒。倘遇無藥處，只將兩手指相交緊叩腦後風府穴，向前禮拜百餘拜，汗出自解。</p>
<p>治通身黃腫。用瓜蒂焙乾三四錢，為細末，每用半字吹鼻內，一日一度，並吹三日。不愈，再用茯苓末五錢，煎湯下，甚效。</p>
<p>治小兒大人腹脹吐瀉並胸膈痞寒。用五靈脂、青皮、陳皮、硫黃、芒硝各等分，用硫黃於銚內以文武火鎔開，用匙刮取，結成砂子，卻取出研細，與前藥同為末，麵糊為丸。小兒如麻子、黃米大，大人服的如綠豆大，每服二十丸，量虛實加減，米飲送下，不拘時服。</p>
<p>治蜒蚰入耳。用黑驢乳灌耳中，立出。又方，用濕生蟲研爛塗於耳邊，自出。</p>
<p>治小便癰，本名血疝散。用胡桃七個陰乾，研為末，酒調服之。不過三服，病自痊矣。</p>
<p>地龍散治牙疼。地龍去土，玄胡索、蓽撥，已上各等分，為細末，每服一字，用綿紙裹，隨左右耳內塞之，立效。</p>
<p>治走馬咽痹。用巴豆去皮，以綿子微裹，隨左右塞於鼻中，立透。左右俱有者，用二枚，此法甚效。</p>
<p>治左右喉痹。上於頂上分左右發，用手按拔之，剝然自有聲，立效。此法年幼時常見鄭大嫂救人甚效，不得其訣。近與子正話及，方得其傳。又方，馬勃吹咽喉中，立止。</p>
<p>立應丸治臟腑泄痢，膿血不止，腹中疼痛。用乾薑一兩炮，另末百草霜一兩，連皮巴豆一兩，炒杏仁一兩，同巴豆和皮炒黃色為度，後入霜研，又用黃臘四兩鎔開，蠟吹入前四味，用鐵器攪均，旋丸如梧桐子大，每服三、五丸。若紅痢，甘草湯下；白痢，乾薑湯下，食前服。水瀉，米湯下。</p>
<p>治小兒黃瘦腹脹。用乾雞糞一兩，丁香末一錢，同為末，蒸餅為丸，如小豆大，每服二十丸，米飲湯下。</p>
<p>黃連散治小兒頭瘡。用川黃連，黃柏（去粗皮）、草梗、明輕粉、已上各等分，為細末，用生小油調藥塗之，立愈。</p>
<p>治冷病法。用五月五日早晨取屋東頭網絲蜘蛛一個，不要他動，用手拿住，用紙裹了，放在屋門裡上面，不可著人知道。過七日將出來，用小布袋一條盛了，用線一條拴住。如冷病來時，暗地套在病人頂上帶著，其病即愈。切忌：初拿時不要蜘蛛動了，動了時即無用也。</p>
<p>治癬與冷病。用白麵餅小小一個，反正都寫此樣「熊」字，病證自痊。用筆右轉三遭，「熊」，用新筆真京墨於癬上寫，此法三次即愈。又咒曰：「魚吞癬，癬吞魚，魚癬相吞癬自除。」</p>
<p>治疥。右於手中指比寸，然後將草比手腕，用彰德艾灸之，即愈，十年不生。忌，發物不可食。</p>
<p>治大小人面上生瘤。用磁瓦尖於生瘤處刺破血出，再用香油調多年石灰，和均，用無根水掃之，極妙。</p>
<p>斬鬼丹治瘧疾。用雄黃二錢，金角人言二錢，先用前件雄綠豆四十丸粒，溫水浸開，將二味豆入於雄黃、人言，和勻為末，共成丸如梧桐子大，大者大丸，小者小丸，每一丸。如隔日發時，閒日到晚臨臥時，用無根水送下。若每日發時，當日用之。忌腥冷物十餘日方可，甚妙。</p>
<p>治冷痢。用附子炮去皮臍，烏梅燒灰等分，用薑棗煎服，其病即愈。</p>
<p>治痢證。用黃丹不拘多少，鎔黃蠟，和劑為丸如豌豆大，每服三丸。赤痢，甘草湯，白痢，乾薑湯，兼用之立效。</p>
<p>治痔漏。初覺糞門腫疼者，急取舊屠刀磨水，甚效。</p>
<p>治小便不通。用磨剪刀交股水一盞，服之即通。扁竹根煎湯頻服，亦效。</p>
<p>治麻滴。用朴硝為末，冷水調下二錢，即愈。又方，用木通、甘草二味，煎服，甚效。</p>
<p>治喉閉。用朴硝為末，將蘆管吹入喉中，立效。又方，用膽礬抹擦喉中，立愈。</p>
<p>治咽喉腫痛，語不能出。用硼砂碾細為末，用竹管吹入喉內，其痛若定，即痊。</p>
<p>治婦人奶癰。初發時，用青皮焙乾為末，熱酒調服。又方，用皂角針四十九枚燒灰存性，瓜蔞根調酒服，立潰，極妙。</p>
<p>治婦人心痛。用荔枝核燒灰存性，為末，用淡醋湯送下。</p>
<p>治婦人產後血暈。用乾荷葉燒灰，為細末，溫酒調一錢服，甚有效驗。又方，用鰾膠燒灰，為末，三、五錢，用童子小便調酒下，痊疴。</p>
<p>治小兒頭瘡。用蔥汁、膩粉塗之，甚妙。又方，用雞子黃炒令油出，以麻油、膩粉調敷，極妙。又方，用肥皂角燒灰存性，麻油、膩粉調敷，極妙。</p>
<p>治走馬疳。用大蜘蛛一個，用濕紙裹，外用荷葉包，於火中煅，令焦之，甚效。</p>
<p>治惡瘡。不問遠年月久，用地骨皮為細末，鹽湯洗瘡，令乾，將此擦之，甚妙。地骨皮即枸杞根皮是也。</p>
<p>治小兒頭瘡。用乾地龍為末，入輕粉、麻油調敷，甚妙。又方，用杏仁燒灰，敷之，立效。</p>
<p>治內外臁瘡。用棗核燒灰，干貼之。</p>
<p>治凍腳瘡。用橄欖核燒灰存性，為細末，入輕粉，油調塗之，立效。</p>
<p>治久年惡瘡不痾。石灰碾碎，用雞子清調成塊，火煅過後，冷再為末，用薑汁調敷之，甚妙。</p>
<p>治蛇傷。一時無討藥處，只用艾灸咬口處去毒，即痾。</p>
<p>治蜈蚣傷。用蜒蚰去殼，細研，塗傷口，甚妙。又方，用蝦蟆皮貼之，甚妙。又方，用雞糞搽之，亦妙。又方，用雄黃搽口上，亦妙。</p>
<p>治犬咬傷。用杏仁熬黑，研成膏，塗之妙。又方，止痛不腫，用細嚼杏仁塗之，亦妙。</p>
<p>治馬咬傷。用獨顆栗子燒灰，香油調貼瘡處，追毒氣出，立止。</p>
<p>治湯火燒傷。用蛤蜊燒灰，塗之。又取赤龍干為末（即灶心土也），用新汲水調塗之，最妙。又方，用干桑葉為末，乾者，蜜調塗之，濕者，干糝，皆效。</p>
<p>治口舌生瘡。杏仁七個去皮尖，輕粉少許，同嚼，吐涎即好。又方，用天南星為末，用醋調塗腳心，或茱萸亦可，男塗左腳，女塗右腳，最效。</p>
<p>治重舌。用五靈脂一兩去砂石，為末，用米醋一大碗同煎過，逐涎漱之，即愈。</p>
<p>治口氣。用白礬枯為末，入麝香、清鹽各少許，揩漱了吐出涎，即時口裡香氣。又方，用白芷七錢，甘草五寸，為末，食後用井花水調下一錢，亦妙。</p>
<p>治頑癬。用斑蝥去頭足，糯米炒黃，以淮棗煮熟，去皮取肉為丸，唾調搽之，甚妙。</p>
<p>治男子陰患疳瘡。用蠶蛾殼將白礬於殼內，著火筯鈴，放燈焰上燒，次用黃丹、麝香少許，共為末，搽之，甚妙。忌吃小米粥，並一應腥物不可食之。</p>
<p>治天蛇頭指。用油瓶一個，存些油腳於內，用頭髮於瓶內熬，放火上，令瓶口有熱氣出，將害指向瓶口上恣意熏之，甚效。</p>
<p>治小兒脾。用糞中蛆著水淋洗乾淨，焙乾，碾為末，用食米糊、甘草末少許，丸如桐子大，每服五、七丸，不拘時候服之，進食去積，小兒臥順大快。</p>
<p>治小兒癖疾有神效。用硇砂半錢，輕粉半錢，蜜陀僧一錢半，舶上硫黃二錢半，血竭一錢，膽礬一錢半，粉霜半錢，如無亦可，有亦可，上為末，一半為散，一半糊為丸，男病用女孩兒所食之乳，女病用男孩兒所食之乳汁，調散送下丸子，其病即愈。每服丸不拘時候。</p>
<p>大黃膏治小兒、大人痹瘡。用大黃、朴硝各等分，用蒜為泥成膏，用絹帛攤成膏藥，貼於病處，其痹自軟消。</p>
<p>治小兒出疹瘡，眼內有云翳。用黃丹、輕粉各等分，用竹筒吹入耳內，左眼有翳吹右耳，右眼有翳吹左耳，即退。</p>
<p>萬金丹治小兒慢驚風、急驚風。用硃砂、真輕粉二味不以多少，用青蒿內蟲兒取出，於淨磁器盞內將硃砂、輕粉以蟲汁成丸老米大，量兒大小加減服，半歲服一丸。時法止於七月初五日取蟲捻汁為丸。</p>
<p>治吐血方。用鍋底正頂灶心土研爛，用井花水調服，二三服即安。</p>
<p>治火眼。用甘蔗一斷，兩頭留節，剜空，用雞爪黃連切碎，安蔗內，放炭火上熬，大滾一二次，取出待冷，用雞翎點眼，二三次即愈。</p>
<p>治疾安虛弱。用雞卵三個，胡椒七粒，糯米四十八粒，已上二味藥連卵炒焦成末，每早朝用卵三個，和酒調服。</p>

<h1>卷之四</h1>

<h2>治生之要</h2>

<h3>正月</h3>
<p>禳法：元旦換桃符門神。雞鳴以火把照桑果，則無蟲。辰日塞鼠穴，則無鼠。將斧斑駁斫樹，則結子不落。此月栽樹為上時。凡栽果，上半月栽者多子。南風火日不可栽。</p>
<p>下子，茄、瓜、天蘿子、薏苡、諸般花子。</p>
<p>扦插：楊柳、木香、長春、薔薇、佛見笑、石榴、梔子。</p>
<p>栽種：松、桑、榆、柳、棗、蔥、葵、韭、麻、椒、牛蒡子、菠菜、牡丹、竹（宜初二日）、雜樹木（宜上旬）、木綿花、苦蕒、山藥、冬瓜（宜三十日）。</p>
<p>收藏，無灰臘糟，蒸臘酒。</p>
<p>雜事：接諸般花木果樹，移諸般花木果樹。壠瓜地。</p>

<h3>二月</h3>
<p>禳法：庚日起魚秧。五日泥蠶室。社日，以羹潑果木，則多子。摏百果根，則子牢。此月，雨水中埋諸般樹條則活。中旬種稻為上時。</p>
<p>下子，麻子、紅花、山藥、白扁豆。</p>
<p>扦插：芙蓉、石榴。</p>
<p>栽種：槐、菊、茶、薤、木瓜、桐樹、決明、百合、胡麻、黃精、木槿、茨孤、烏頭、甘蔗、雜菜、芋（宜雨多）、竹、茄、瓜、莧、枸杞、萱草、蒼朮、鳳仙、芭蕉、慄、萵苣、紫蘇、豌豆、茱萸、韭、夏蘿蔔。</p>
<p>收藏，百合曲、槐芽、皂角、新茶。</p>
<p>分種，菊花、玉簪、石竹、山丹。</p>
<p>接植：桃、李、梅、棗、橘、桑、柿、柑。</p>
<p>雜事：移諸般花果（並忌南風火日）。理蠶事。春耕宜遲，恐陽氣未透。</p>

<h3>三月</h3>
<p>禳法：清明日三更以稻早縛樹上，不生戴毛蟲傷樹。插柳可以止醬醋潮溢。寒食浸糯米作藥。</p>
<p>清明前二三日，用螺螄浸水中，不拘多少。至清明日人未起時，以所浸水灑牆壁甃砌，去蜒蚰。</p>
<p>下子，茨菰（宜穀雨日）、麻子。</p>
<p>栽種：綠豆、茶（宜陰地）、山藥、黃瓜、紫草、紅花、甘蔗、菱、早芝麻、瓠子、雞頭、絲瓜兒（宜社日）、早稻（宜上旬）、地黃、梔子、藍、紫蘇、茭白、菠菜（宜月末）、葫蘆、杏。</p>
<p>收藏，芥菜、桐花、毛羽衣物、清明醋、次茶。書畫入培熏中。</p>
<p>又可栽：茶（宜陰地）、諸般瓜（宜初三日或戊辰日）、葫蘆（宜清明日）。</p>
<p>移植：椒、茄秧、芍藥、枸杞苗、蒲百合、剪金果木（宜上旬）。</p>
<p>雜事：分諸般菊。梅上接杏，杏上接梅。埋楮樹、收菊、開溝、修牆、防雨、浸殼種、修蜜。</p>

<h3>四月</h3>
<p>禳法：魚池中納一神守。此月伐木不蛀。</p>
<p>下子：芝麻。</p>
<p>扦插：梔子、木香、荼䕷。</p>
<p>栽種：椒、松、大豆、紫蘇、麻（宜夏至前十日）、晚黃瓜、葵蓮、綠豆、白莧、荷根（宜立夏前三日）。</p>
<p>收藏：絲綿、糟筍、大麥、干葚、蒿芥、鹽春菜、蘿蔔子、筍乾、醋筍、芋魁、蠶豆、甜菜乾、晚菜乾。</p>
<p>雜事：曬白菜、分菊、移茄、芸烏豆、包梨、鋤蔥芋、斫竹、合暑藥。</p>

<h3>五月</h3>
<p>禳法：端午日以百草頭和石灰作刀瘡藥。取楝樹子碎投廁中不生蟲。此月十三日竹醉日，可移植。</p>
<p>下子：夏松菜。</p>
<p>栽種，晚大豆、菖蒲、晚紅花、香菜。</p>
<p>收藏：豆醬、烏梅、咸豆、木綿、菜子、菖蒲、蠶種、紅花、糟魚、白酒、芝麻、槐花、小麥、大蒜、藍青、蒼耳。</p>
<p>雜事：合端午藥。斫苧。埋桃核在牛糞內，尖向上易出。札檜柏屏花籬。收蠶子故紙並蠶沙，作藥用。</p>

<h3>六月</h3>
<p>禳法：魚池中納二神地。此月斫竹不蛀。初六日造神麯。本日浴貓狗。</p>
<p>扦插：楊柳。</p>
<p>栽種：小蒜、冬蔥、油麻（宜上旬）、白莖秋葵、葵木、林檎、蘿蔔。</p>
<p>收藏：米麥醋、三黃醋、豆豉、醬瓜、瓜干、蘿蔔、楮實、白朮、雨衣、麻皮、曲（宜伏中）、七寶瓜、酒藥、鯗魚、槐花、二麥。</p>
<p>雜事：曬水仙。洗甘蔗。鋤竹園地。染水藍。培灌橙橘。斫柴。做水楊梅。打炭墼。打糞墼。</p>

<h3>七月</h3>
<p>禳法：辰日伐木不蛀。此月耕地殺草。</p>
<p>栽種：蔥、蒿菜、苜蓿、蘿蔔、赤豆、菠菜（宜月半）、薑、菜、蔓青、早菜、蕎麥、冬葵、芥菜（立秋前）。</p>
<p>收藏：米醋、咸豉、茄干、瓜干、瓜種、瓜蒂、紫蘇、地黃、角蒿（可闢蛀）、花椒、荊芥、松柏子、糟茄、糟瓜、醬瓜、荷葉、楮子、芙蓉葉（治腫）。</p>
<p>雜事：分薤、剝棗、刈草、耕菜地、作澱。秋耕宜早，恐霜後掩入陰氣。收黃葵花（治湯火傷）。</p>

<h3>八月</h3>
<p>禳法：中秋夜種罌粟子多。魚池納三神守。</p>
<p>栽種：大蒜、罌粟、寒豆、苦蕒、苧麻、蔓青、諸般菜、蔥子、大麥、牡丹、芍藥、韭子、芥子、麗春。</p>
<p>扦插：薔薇。</p>
<p>收藏：醋薑、茄醬、茄干、糟茄、棗子、淹韭、晚黃瓜、地黃酒、糟薑、芝麻、栗子、柿子、韭花、糟茭白、木犀花葉。</p>
<p>移植：早梅、橙橘、木香、木犀、枇杷、牡丹。</p>
<p>雜事：分芍藥根。踏面。鋤竹園地。取牛蒡根，可食。</p>

<h3>九月</h3>
<p>栽種：椒、菊、茱萸、地黃、蠶豆、牡丹、水仙（宜月初）、柿、萱草、芥菜、苡麥、芍藥、罌粟（九日）、蒜。</p>
<p>移植，山茶、臘梅、牡丹、雜果木。</p>
<p>收藏：糟醬蟹、稻種、油麻、甘蔗、梔子、紫蘇、木瓜、韭子、牛蒡子、芙蓉葉（治腫毒）、冬瓜子、綠豆、茄種、栗子、枸杞、榧子、皂角、黃菊、槐子、蟹殼（治產後兒枕疼）。</p>
<p>雜事：掘姜出土。草包石榴、橘、慄、葡萄。採菊。築牆圃。備一冬蔬菜。斫竹木、斫苧。</p>

<h3>十月</h3>
<p>栽種：大小豆、春菜、生薑、蘿蔔。</p>
<p>收藏：地黃、天蘿子、茶子、橘皮、天豆、栗子、薏苡、椒、冬瓜子、芙蓉條、石橘、蘿蔔、山藥、枸杞、皂角子、苧。</p>
<p>雜事：移葵、接花果、澆灌花木。獲稻、納禾稼。開磚、煮膠、收炭。造牛衣、修牛馬屋。塞北戶、用蓋爐石階砌。收二桑葉。</p>

<h3>十一月</h3>
<p>禳法：冬至日用糟水澆海棠並來春花。此月如有雪，則盛貯雪水埋地中，混谷種倍收，不怕旱。</p>
<p>栽種：小麥、四時菊花、油菜、萵苣、桑。</p>
<p>移植：松柏、檜。</p>
<p>收藏：鹽水蘿蔔、牛蒡子、豆餅、鹽鴨蛋、水果子、鹽菜（宜冬至前）。</p>
<p>雜事：做酒藥。接雜木。造農具。夾笆籬。澆菜、伐木、斫竹、打豆油。置碎草牛。下春糞田。盦芙蓉條。</p>

<h3>十二月</h3>
<p>禳法：臘八日懸豬脂於廁上，則一家無蠅。二十四日種楊柳不生戴毛蟲。</p>
<p>栽種：橘、松、花樹、麥（宜臘日）。</p>
<p>收藏：臘米、臘水、臘酒、臘肉、臘蔥、風魚、脯臘、臘糟、豬脂、水。</p>
<p>雜事：造農具。舂米、舂粉、浸米（可止瀉痢），浸燈心。剝葉、壓果木、添桑泥、墩牡丹土。合臘藥。掃屋。以豬脂啖馬。臘水作麵糊，裱背（不蛀）。</p>
<p>自入臘遇上水日，勿令人見，以少水細灑薦席毯褥，闢狗蚤壁蝨。斫竹做器具（不蛀）。造紙。</p>
<p>上月令事畢。</p>

<h3>種花果蔬菜法</h3>
<p>牡丹：以冬至夜撥開根腳下土，至來日以水缸內石衣槌細，和肥土擁之花，即茂盛。</p>
<p><u>蓮藕：</u>　以牛糞壤地，立夏前三、二日，掘藕根，取節頭著泥中種之，當年即開。畏桐油。</p>
<p><u>瑞香：</u>　種不可露根，惡濕畏日，用洗衣灰澆去蚯蚓滓，及退雞鵝汁、燖豬湯澆之，則茂盛。</p>
<p><u>海棠：</u>　冬至日早以糟水澆，則鮮盛。結子剪去，則來年大盛。</p>
<p><u>水仙：</u>　五月初取小便浸一宿，曬乾，懸當火處。九月初種之。地瘦，則無花，尤不可缺水。</p>
<p><u>茉莉：</u>　以雞糞擁之則盛。</p>
<p><u>黃葵金鳳：</u>　以子置手中任高撒，則枝幹高。</p>
<p><u>雞冠：</u>　坐種則矮，立種則與人齊，手種則花成穗，用簸箕扇子種則其花成片可觀。</p>
<p><u>石菖蒲：</u>　以積年溝渠中瓦為末，種之。以茭泥和馬糞散石上，則生苔。</p>
<p>催花法：凡用馬糞浸水澆之，則易開。</p>
<p><u>梨：</u>　春分將旺梨筍作拐樣斫下，兩頭用火燒紅，鐵器烙之津脈，栽之入地二尺許。</p>
<p><u>桃李杏：</u>　桃宜密，李、杏宜稀，杏宜近人家。桃至五年後，以刀割開皮令膠出，可多活三、五年。種桃核，同桃熟時，向陽處深坑納濕牛糞，收好桃核，刷洗縫中潔淨，尖頭向坑中，厚蓋尺許，芽生和泥移種，桃杏最大。接李紅甘，乃令處女豔妝種之，則花豔麗而子離核。</p>
<p><u>橘：</u>　宜以死鼠浸溺缸內，候鼠浮埋樹根，次年大盛。</p>
<p><u>石榴：</u>　取直枝如指拇大者，斬長一尺，以八九條為科，下頭二寸，深坑豎枝，坑畔置雜骨、姜石，於枝間實下土，出枝頭一寸，水澆之。</p>
<p><u>銀杏：</u>　須以雌雄合種則結實（雌者二稜，雄者三稜）。</p>
<p><u>葡萄：</u>　宜於棗樹邊種，春間鑽棗樹作一竅，引蒲萄枝從竅中過，長滿塞竅，斫去托棗為根，其肉實如棗。用水泔澆。</p>
<p><u>薏苡：</u>　宜牛糞種。</p>
<p><u>姜：</u>　宜白沙地，少與糞和熟，一地耕之不厭細。三月種以蠶沙蓋之，無則令好糞。隴宜深，芸不厭數。夏宜作棚蓋。九月取，宜置窟中，以谷稗合埋，則不凍。</p>
<p><u>芋：</u>　區宜深闊，取豆箕納區中，足踐之，取芋種置其上，復踐令實，數澆之，芸不厭頻。</p>
<p><u>蒟蒻：</u>　宜樹陰下，坑宜深闊，以糞雜糠灰置坑中，每坑著一顆埋之。其苗至五月雨後移之。二年後即大婉碗。</p>
<p><u>蘿蔔：</u>　宜沙軟地，五月中耕地，十月初六種。鋤不厭多，稠即根少。至十月收，窖之。陳子立夏種，至五月可食。</p>
<p><u>葫蘆：</u>　深作坑，實以油麻豆餅及爛草糞土，下種十餘粒。候生，每取兩莖，以竹刀子刮去半皮，合作一把，以物纏之，用牛糞、黃泥封種，待活後，惟留立莖。若要大，又以兩莖合為一莖，如前法種之。</p>
<p><u>山藥：</u>　溝宜長闊，深三四尺，底鋪磚，用糞土填滿，水實定。插蘆頭時，勿用手，以鍬钁下之，則大。每年易人而種之。</p>
<p><u>茄子：</u>　初分茄秧時，向根上擘開，陷硫黃一皂子大，以泥培之，結子倍多，大而味甘。開花時取葉布過路，以灰圍之，謂之嫁茄。</p>
<p><u>香菜：</u>　常以魚腥水澆之，則香而茂，不得用糞。如無洗魚水，泥溝水、米泔水亦佳。</p>
<p><u>菠菜：</u>　初種時過月朔乃生，治地極細，用糞極肥，然後下子，仍以馬糞蓋之。既長，不可用糞澆。</p>
<p><u>莧菜：</u>　與菠菜同澆，宜用繰繭湯。</p>
<p><u>胡荽：</u>　宜用月晦日晚下種。</p>
<p><u>蒜：</u>　九月初，栽蒜瓣於菜畦內。來年春二月，將地熟耕，上糞令厚，糞過把勻，用木橛插一竅栽蒜秧一株，五月間起之，其大如拳。</p>

<h3>文房必用</h3>
<p>琴、墨、龍涎香、樂器皆惡濕，常近人氣則不蒸。衣服書畫濕蒸變浥者，用冬瓜或銀杏、蒜洗之。毛衣用無油漆板匣收貯，紙糊板縫，不通風則不蛀。筆用黃柏水，或用黃連、萵苣煎湯，調輕粉醮頭，則不蛀。墨用熟艾收，或藏風化石灰內，則不蒸。調朱入螣黃或白及水研，則不落。洗硯，用蓮蓬殼或大半夏擦之，大去滯墨。印色用胡椒七粒熬香油，入螣黃、麝香、黃臘少許，印褥用扳枝花或竹茹最佳。</p>
<p>書燈，用香油一斤入桐油三兩則耐點，又闢鼠耗。以鹽置盞中，可省油。以□姜擦盞邊，不生暈。挑燈杖，三月二月收薺菜梗用之，則無飛蟲。油汙衣，用滑石末糝上熱熨頻換則去。墨汙衣服，口噙水以筯頭滴水洗即去。豬脂油汙衣，用生栗子細嚼，放汙處揉擦即去。血汙衣服，用冷水洗可去，忌用熱湯。</p>
<p>油墨汙衣，先以油墨潤一宿，用半夏、烏賊骨、滑石、枯白礬等分為末，洗淨燈草揩擦即去。墨汙畫絹，用燈草蘸水洗即去。絹帛上寫字，用生薑磨墨則不陰，用蒜擦絹上則寫字易上。油籠漏，用肥皂塗塞則上。漆籠漏，用馬屁孛塞之即止。竹器生蛀，用生桐油點蛙處則止。</p>

<h3>行廚備用</h3>
<p>逡巡酒：用白糯米三升，淘淨，水六升，煮成稠粥。夏冷，春秋溫，冬微熱，入曲半斤，餳稀三兩，酵二兩，麥櫱一撮，官桂、胡椒、良薑、細辛、甘草、川芎、丁香各半錢，為細末，和粥內，攪勻。冬五日，春秋三日，夏二日，即熱。千里酸：約用蒸餅三個，曝乾，投釅醋一斗中，浸透取出，再曝，以滲盡為度。再曝，令乾，收之。每用擘少許，水研開。又法：烏梅去核一升，用釅醋五升，浸如前法，曬乾為末，每用水調。逡巡醬，用白麵一斤炒黃色，鹽四兩水調開，打作稠糊，候冷，入有色稠醬四兩攪勻再曬二日，即可用。千里脯：豬羊牛肉切作大塊，每一斤用鹽半兩，香油同淹片時，入陳皮、茴香、川椒、酒、醬、醋，煮至脯醋盡，曝乾。夏月旬日不壞。</p>
<p>一了百當：甜醬一斤半，臘糟一斤，白鹽一斤，馬芹、茴香、川椒、胡椒、杏仁、紅豆、良薑、官桂各半兩，蔥白半斤，為細末。先用香油一斤煉熟，入前料同炒勻，候冷，入器內收貯，遇饌隨意挑用。芥辣汁，用芥菜子不拘多少，淘淨，入細辛少許，白蜜、醋一處研爛，再入淡醋濾去滓，則辣。胡椒入鹽並蔥葉同研，則辣而易細。</p>

<h3>省心法言</h3>
<p><u>養性保命：</u>　一呵十搓，一搓十摩，久而行之，皺少紅多。莫吃卯時酒，昏直到酉，莫吃申時飯，壽年九十九。軟蒸飯，爛煮肉，少飲酒，獨自宿。避色如避仇，避風如避箭。遠唾不如近唾，近唾不如不唾。</p>
<p>身閒不如心閒，藥補不如食補。服藥千朝不如獨臥一宵，飲酒千斛不如飽餐一粥。作福不如避罪，服藥不如忌口。爽口味多終作疾，快心事過必為殃。</p>
<p>富貴不知止，殺身；飲食不知節，損壽。戒酒後語，忌食時嗔，忍難耐事，順不明人。無事當貴，無災當福，調攝當藥，蔬食當肉。療飢不可以求附，止渴不可以求鴆。禍從口出，病從口入。</p>
<p><u>立身持己：</u>　粗茶淡飯飽即休，補綴遮寒暖即休。富不儉用貧時悔，見事不學用時悔，醉後狂言醒時悔，安不將息病時悔。知足常足，終身不辱；知止常止，終身不恥。樂不可極，欲不可縱。守口如瓶，防意如城。鷦鷯棲於深林，其安不過一枝；大鼠飲於長江，其飽不過滿腹。執虛如執盈，人虛如有人。渴不飲盜泉之水，熱不息惡木之陰。從善如登，從惡如崩。琥珀不取腐介，磁石不受曲針。千金之子不垂堂，百金之子不騎衡。千釣之弩不為鼷鼠發機，萬石之種不為寸筵起音。救寒不如重裘，止謗不如自修。巧冶不能銷木，良工不能琢冰。刻鵠不成尚類鶩，畫虎不成反類犬。新沐者必彈冠，新浴者必振衣。群輕折軸，積羽沉舟，眾口爍金，積毀銷骨。務德莫如滋，去疾莫如盡。終身讓路不枉百步，終身讓畔不失一段。嘉穀不早食，大器當晚成。懲沸羹者吹冷齏，傷弓之鳥驚曲木。舌存以軟，齒亡以剛。良農不為水旱輟耕，大匠不為拙工改費繩墨。百戰百勝不如一忍，萬言萬當不如一默。膠柱鼓瑟，刻舟求劍，不可以言通；臨渴掘井，掩耳盜鍾，不可以言智。</p>
<p><u>理家接物：</u>　教子嬰孩，教婦初來。遺子千金不如教子一經，養身百計不如隨身一藝。至樂莫若讀書，至要莫如教子。糟糠之妻不下堂，貧賤之交不可忘。欲成家置兩犁，欲破家置兩妻。起家之子惜糞如惜金，敗家之子棄金如棄糞。養男如虎猶恐如鼠，養女如鼠猶恐如虎。一年之計在於春，一日之計在於寅。至富不造屋，至貧莫賣屋。一死一生乃見交情，一貴一賤交情乃見。良工之子必善為箕，良冶之子必善為裘。孤則易折，眾則難摧。</p>
<p>與惡人居如入鮑鮐之肆，與善人居如入芝蘭之室。君子之交淡如水，小人之交甘若醴。播之，揚之，糠粃在前；沙之，汰之，瓦礫在後。君子擇而後交，故寡尤；小人交而後擇，故多怨。兩怒必有溢惡之言，兩喜必有溢美之論。千羊之皮不如一狐之腋，千人之諾諾不如一士之諤諤。泰山不辭土壤，故能成其大；河海不擇細流，故能就其深。愚者千慮必有一得，智者千慮必有一失。良藥苦口利於病，忠信逆耳利於行。白頭如新，傾蓋如故。美茶不如薄酒，美疚不如惡石。短綆不可以汲深，強弩之未不可以穿魯縞。</p>
<p><u>居官蒞政：</u>　不會著衣看旁人例，不會做官看旁州例。好例子休與人壞了，反例子休與人做下。進一步思退一步，要一錢不直一錢。得意處早回頭，力到處行方便。不可以無鼠而畜不捕之貓，不可以無盜而畜不吠之犬。旦失色於堂，暮傳笑於國。</p>
<p>猛則濟之以寬，太猛則民殘；寬則濟之以猛，太寬則民馳。太剛則折，太柔則廢。畫地為獄議不入，刻木為吏期不對。兩虎共鬥，勢不俱生；𧑐蚌相持，漁人得利。徐行不可以救溺，捧漏不可以沃焦。</p>
<p>瞽纊不能齊不齊之耳，狄牙不能齊不齊之口。直如弦死道邊，曲如鉤得封侯。好女入室，醜女尤之；忠臣立朝，奸人仇之。</p>

<h1>卷之五</h1>

<h2>附加十三方</h2>

<h3>一</h3>
<p><u>不換金正氣散</u>　治四時傷寒，頭疼，發熱，惡寒，身體痛，潮熱往來，咳嗽痰逆，嘔噦噁心，及山嵐瘴氣並治之。</p>
<p>蒼米（米泔浸過）　陳皮（去白，各五錢重）　藿香（三分重）　半夏（炮七次，三分重）　甘草（三錢）　厚朴（姜炙，四分重）</p>
<p>上每服姜五片，蔥根煎服。</p>
<p>頭疼，加川芎、白芷。</p>
<p>潮熱，加黃芩、柴胡。</p>
<p>口燥心煩，加乾葛、柴胡。</p>
<p>冷瀉不止，加木香、訶子、肉豆蔻。</p>
<p>瘧疾，加常山、檳榔、草果。</p>
<p>咳嗽，加杏仁、五味子、桔梗。</p>
<p>喘急，加麻黃、蘇子、桑白皮。</p>
<p>身體疼痛，加桂皮、麻黃、赤芍藥。</p>
<p>感寒腹痛，加乾薑、官桂。</p>
<p>嘔逆，加丁香、砂仁。</p>
<p>足浮腫，加大腹皮、木瓜皮、五加皮。</p>
<p>氣塊，加枳殼、檳榔、茴香、三稜。</p>
<p>熱極大腑不通，加朴硝、大黃。</p>
<p>腹脹，加香附子、枳殼、白豆蔻。</p>
<p>胸脅脹滿，加枳實、莪朮、砂仁。</p>
<p>痢疾，加黃連、枳殼，去甘草。</p>

<h3>二</h3>
<p><u>十神湯</u>　治傷寒，時令不正之氣，瘟疫。不問陰陽二證及內外兩感風寒，腰腳疼痛，濕痹，頭疼，咳嗽，並皆治之。</p>
<p>陳皮（去白，二錢）　麻黃（去節，二分）　川芎（二分）　香附子（三分）　蘇葉（二錢）　白芷（二分）　升麻（三分）　赤芍藥（三錢）　乾葛　甘草（各二分）</p>
<p>上依此方修合，每服生薑五片煎服。</p>
<p>潮熱，加黃芩、麥門冬。</p>
<p>咳嗽，加五味子、桔梗。</p>
<p>頭疼，加細辛、石膏。</p>
<p>心胸脹滿，加枳實、半夏。</p>
<p>飲食不進，加砂仁、白豆蔻。</p>
<p>嘔逆，加丁香、草果。</p>
<p>鼻衄出不止，加烏梅、乾葛。</p>
<p>腹脹疼痛，加白朮、乾薑。</p>
<p>冷氣痛，加良薑、乾薑、玄胡索。</p>
<p>大便秘澀，加大黃、朴硝。</p>
<p>有痢，加枳殼、當歸。</p>
<p>泄瀉，加藿香、肉豆蔻。</p>
<p>疹毒，加官桂、人參、茯苓。</p>

<h3>三</h3>
<p><u>生料五積散</u>　治四時調中，快氣化痰，脾胃宿食不化，臍腸脹滿，胸膈停疼，嘔逆噁心，外感風寒，內傷生冷，心腹痞悶，項背拘急，四肢浮腫，寒熱往來，腰膝疼痛，及婦人難產，血氣經候不調，或不通，一切治之。</p>
<p>枳殼　麻黃（去節）　白芍藥（各四錢）　當歸　半夏（各二錢）　官桂　川芎　白芷　厚朴　乾薑　桔梗　蒼朮　茯苓　陳皮（各五錢）　甘草</p>
<p>上依此治療，每服生薑七片，煎至六分八，水酒半盞，溫服，無不效驗。</p>
<p>足浮腫，加五加皮、大腹皮。</p>
<p>已成風痹，加羌活、獨活、防風、防己。</p>
<p>腰疼，加桃仁、麝香、茴香。</p>
<p>小腸氣疼，加茱萸、茴香。</p>
<p>手足攣拳，加檳榔、木瓜、牛膝。</p>
<p>咳嗽，加杏仁、馬兜苓、桑白皮。</p>
<p>遍身疼，加乳香、沒藥、北細辛。</p>
<p>難產，加麝香、交桂。</p>
<p>老人手足疼痛，加和順元散。</p>
<p>手足風緩，加和烏藥平氣散。</p>
<p>四肢濕痹，加烏藥順氣散。</p>
<p>因濕所感，加和檳蘇散。</p>

<h3>四</h3>
<p><u>二陳湯</u>　治痰飲為患，嘔吐噁心，或頭眩心悸，中脘不快，發為寒熱，飲食生冷，酒後當風感寒，或夏取涼，心煩口燥，口吐黃水，中脘不快，寒熱發作，或因食生冷，脾胃不和，傷寒後虛煩上攻，此藥最好，並宜服之。</p>
<p>廣陳皮（去白，五錢）　半夏（治五錢）　白茯苓（去皮，四錢）　甘草</p>
<p>上依此方治之，用生薑五片，不拘時溫服。</p>
<p>嘔逆，加丁香、砂仁。</p>
<p>痰多，加南星、枳實。</p>
<p>頭眩，加川芎、白芷。</p>
<p>心忡，加麥門冬。</p>
<p>咳嗽，加細辛、川芎、五味子。</p>
<p>中脘停痰，加莪朮、砂仁。</p>
<p>寒熱往來，加黃芩、前胡。</p>
<p>傷寒後心煩，加枳實、竹茹、蓮肉。</p>
<p>口燥，加乾葛、烏梅。</p>
<p>口吐黃水，加乾薑、丁香。</p>
<p>或因生冷，加青皮、白豆蔻。</p>
<p>脾胃不和，加草果、砂仁。</p>
<p>咳嗽，加桑白皮、五味子。</p>
<p>脾黃，加白朮、厚朴、草果。</p>

<h3>五</h3>
<p><u>參蘇散</u>　治四時感冒，發熱頭疼，咳嗽痰飲，中脘痞滿，嘔吐痰水，寬中快膈，不致傷脾，一切發熱皆能取效，不問內外所感及小兒室女，一切治之。</p>
<p>人參（三錢）　蘇葉　桔梗　乾葛　前胡（各四錢）　陳皮　茯苓（各五錢）　枳殼（三錢半）　木香（一錢半）　甘草（三錢半）　半夏（四錢）</p>
<p>上依此方修合，治療神效。</p>
<p>咳嗽，加五味子、杏仁。</p>
<p>久嗽者，加桑白皮、柴胡。</p>
<p>鼻衄，加麥門冬、茅根、烏梅。</p>
<p>心盛，去木香，加黃芩、柴胡。</p>
<p>嘔逆，加砂仁、藿香。</p>
<p>鼻衄出過多，加四物湯。</p>
<p>頭疼，加川芎、細辛。</p>
<p>脾泄，加蓮肉、黃耆、白扁豆。</p>

<h3>六</h3>
<p><u>香蘇散</u>　治四時傷寒溫疫，頭疼，寒熱往來，不問兩感內外之證，並皆治之。</p>
<p>春月探病，宜用此方。</p>
<p>蘇葉（四錢）　香附子（炒，五錢）　陳皮（去白）　甘草（二錢）</p>
<p>上每用的效。</p>
<p>潮熱，加人參、黃芩。</p>
<p>咳嗽，加桔梗、五味子。</p>
<p>頭疼，加川芎、細辛、白芷。</p>
<p>疹痘未成，加升麻、乾葛。</p>
<p>瘧痢，加枳殼、黃連，去甘草。</p>
<p>水瀉，即脾泄，加藿香、肉豆蔻。</p>
<p>惡寒潮熱，加桂枝、麻黃。</p>
<p>身疼，加赤芍藥、官桂。</p>
<p>心氣痛，加玄胡索、烏藥、茴香。</p>
<p>久瀉，加木香、訶子。</p>
<p>瘧疾，加檳榔、草果。</p>
<p>胸膈痞滿，加枳實、半夏。</p>
<p>腳膝拘攣，加木瓜、檳榔、牛膝、羌活，又名檳蘇散。</p>
<p>潮熱往來，加和正氣散。</p>
<p>嘔逆，加丁香、乾薑。</p>
<p>腹痛，加赤芍藥、白朮。</p>

<h3>七</h3>
<p><u>經驗對金飲子</u>　治諸疾，不問遠近，無不愈者。常服固元陽，益氣健脾，進食和胃，祛痰，自然榮衛調暢，寒暑不侵。及療四時傷寒，手足腰痛，五勞七傷，外感風寒，內傷生冷，不問三焦痞滿，極有神效。</p>
<p>陳皮（去白炒黃四兩）　蒼朮（米泔浸，一兩五錢）　川厚朴（薑汁炒，一兩五錢）　甘草（三兩重）</p>
<p>上依此方治療神效。</p>
<p>有溫疫時氣二毒，傷寒頭疼，加撫芎、蔥白三莖煎服。</p>
<p>五勞七傷有熱，加黃芩、柴胡。</p>
<p>手足痠疼，加烏藥、檳榔。</p>
<p>痰嗽發瘧，加草果、烏梅。</p>
<p>冷熱氣疼，加茴香、木香。</p>
<p>水氣腫滿，加桑白皮、木通。</p>
<p>婦人赤白帶下，加黃耆、當歸。</p>
<p>酒傷脾胃，加丁香、砂仁。</p>
<p>傷食，加良薑、白豆蔻。</p>
<p>四時泄瀉，加肉豆蔻、訶子。</p>
<p>風痰，加荊芥、北細辛。</p>
<p>膝腿冷疼，加牛膝、乳香。</p>
<p>腿痹，加菟絲子、羌活。</p>
<p>渾身拘急有熱，加地骨皮、麥門冬。</p>
<p>白痢，加吳茱萸。</p>
<p>赤痢，加黃連，去甘草。</p>
<p>頭風，加藁本、白芷。</p>
<p>有氣，加茴香。</p>
<p>氣塊，加三稜、莪朮。</p>
<p>頭疼，加茱萸、乾薑。</p>
<p>婦人腹痛，加香附子、烏藥。</p>
<p>眼熱，加大黃、荊芥。</p>
<p>冷淚，加木賊、夏枯草。</p>
<p>腰痛，加杜仲、八角茴香。</p>

<h3>八</h3>
<p><u>加減玄武湯</u>　治傷風傷寒，數日未解，六脈浮沉，身疼頭疼，惡寒潮熱，咳嗽痰喘，遍身疼痛，手足冷痹，飲食進少，大便腑溏痢，不問四時傷寒，一切治之。</p>
<p>白朮　芍藥（各一兩）　白茯苓（七錢）　甘草（三錢）</p>
<p>上依此方治之，用生薑五片。</p>
<p>頭疼，加川芎、細辛。</p>
<p>泄瀉，加木香、藿香。</p>
<p>咳嗽，加五味子、半夏。</p>
<p>遍身疼痛，加官桂、川芎。</p>
<p>有痰，加天南星、陳皮。</p>
<p>水瀉，加乾薑、木香。</p>
<p>四肢疼痛，加附子，名真武湯。</p>
<p>心煩，加人參、麥門冬。</p>
<p>熱未除，加黃芩、乾葛。</p>
<p>三日無汗，如瘧惡熱惡寒，加麻黃、桂枝。</p>

<h3>九</h3>
<p><u>五苓散</u>　治傷寒溫熱病，表裡未解，頭疼發熱，口燥咽乾，煩渴及飲水煩渴不止，小便赤澀，霍亂吐瀉，自利煩渴，心氣不寧，腹中氣塊，小腸氣痛者，熱不散，黃疸發渴，一切治療之。</p>
<p>白朮（一兩）　茯苓（去皮，八錢）　肉桂（去皮，七錢）　豬苓（五錢）　澤瀉（八錢）</p>
<p>上依此方治療無不效驗。</p>
<p>陽毒，加芍藥、升麻，去肉桂。</p>
<p>狂言亂語，加辰砂、酸棗仁。</p>
<p>頭疼目眩，加川芎、羌活。</p>
<p>咳嗽，加五味子、桔梗。</p>
<p>心氣不定，加人參、麥門冬。</p>
<p>痰多，加半夏、陳皮。</p>
<p>喘急，加馬兜鈴、桑白皮。</p>
<p>大便不通，加大黃、朴硝。</p>
<p>氣塊，加三稜、莪朮。</p>
<p>心熱，加黃芩、蓮肉。</p>
<p>身疼拘急，加麻黃。</p>
<p>口乾噯水，加乾葛、烏梅。</p>
<p>眼黃酒瘟及五瘟，加茵陳、木通、滑石。</p>
<p>鼻衄，加山梔子、烏梅。</p>
<p>五心熱如勞，加桔梗、柴胡。</p>
<p>有痰有熱，加桑白皮、人參、前胡。</p>
<p>水氣，加甜葶藶、木通。</p>
<p>吊腎氣，加茱萸、枳殼。</p>
<p>小腸氣痛，加茴香、木通。</p>
<p>霍亂轉筋，加藿香、木瓜皮。</p>

<h3>十</h3>
<p><u>四君子湯</u>　治男子、婦人、小兒諸證，不問外感風寒，內傷生冷，咳嗽，潮熱往來，脾胃泄瀉，四時感冒，不問遠年近日，一切治之。</p>
<p>人參（五錢去蘆）　白茯苓（一兩去皮）　浙術（一兩）　甘草（三錢半）</p>
<p>上依此方治之，無不效驗。向內加減，各四錢重。</p>
<p>生薑五片，棗一枚煎服，或三錢重亦可。</p>
<p>有痰，加陳皮、半夏。</p>
<p>吐瀉，加藿香、黃耆、白扁豆。</p>
<p>脾胃虛弱，加交桂、當歸、黃耆。</p>
<p>咳嗽，加桑白皮、五味子、杏仁。</p>
<p>心煩不定，加辰砂、酸棗仁、遠志。</p>
<p>心熱，加麥門冬、茯神、蓮肉。</p>
<p>小兒風疾，加全蠍、白附子、北細辛。</p>
<p>發渴，加木瓜、乾葛、烏梅。</p>
<p>心煩口渴，加人參、黃耆。</p>
<p>胃冷，加丁香、附子、砂仁。</p>
<p>脾困氣短，加木香、人參、砂仁。</p>
<p>腹脹不思飲食，加白豆蔻、枳實、砂仁。</p>
<p>胸膈喘急，加枳實、半夏、枳殼。</p>
<p>風壅邪熱，加荊芥、黃芩、薄荷。</p>
<p>潮熱往來，加前胡、川芎。</p>
<p>盜汗不止，加黃耆、陳麥麵炒。</p>
<p>小便不通，加澤瀉、木通、豬苓。</p>
<p>大腑閉塞，加檳榔、大黃。</p>
<p>水瀉不止，加木香、訶子、豆蔻。</p>
<p>遍身疼痛，加赤芍藥、官桂。</p>
<p>四肢惡寒有熱，加麻黃、桂枝。</p>
<p>氣痛，加茴香、玄胡索、當歸。</p>
<p>氣塊，加三稜、莪朮、茴香、香附子。</p>
<p>腹痛，加乾薑、赤芍藥、官桂。</p>
<p>小兒有疹已出未成者，加升麻、乾葛。</p>
<p>婦人難產，加麝香、白芷、百草霜。</p>

<h3>十一</h3>
<p><u>小柴胡湯</u>　治傷寒溫熱病，身熱惡寒，項強急痛，胸脅痛，嘔吐噁心，煩渴不止，寒熱往來，身面黃疸，小便不利，大便不通秘澀，或過經不解，或潮熱不除。及婦人產後，勞役發熱，身疼頭痛，男子婦人久咳成癆，或瘧疾時或發熱，顛狂譫語，一切治之。</p>
<p>人參（去蘆，四錢）　半夏（五錢）　黃芩（一兩）　柴胡（一兩）　甘草（三錢）</p>
<p>上依此方，每服生薑五片，棗三枚同煎。</p>
<p>瘧疾，加烏梅、草果。</p>
<p>勞熱，加茯苓、麥門冬、五味子。</p>
<p>口渴，加木瓜、乾葛。</p>
<p>鼻衄，加蒲黃、地骨皮、茅根。</p>
<p>小便不利，加木通、豬苓、澤瀉。</p>
<p>大便不利，加大黃、朴硝。</p>
<p>咳嗽，加五味子、桔梗、杏仁。</p>
<p>五心渴熱，加前胡、地骨皮、麥門冬。</p>
<p>極熱過多，六脈洪數，加柴胡、乾葛、五味子。</p>
<p>頭疼，加細辛、石膏。</p>
<p>喘急，加知母、貝母。</p>
<p>婦人產難後顛狂，加辰砂、柴胡。</p>
<p>有癆的，加百合、赤芍藥、地骨皮。</p>

<h3>十二</h3>
<p><u>烏藥順氣散</u>　治男子、婦人一切風氣，攻疰四肢，骨節疼痛，遍身麻痹，手足癱瘓，言語謇澀，筋脈拘攣，及腳氣步履艱辛，腳膝軟弱，婦人血氣，老人冷氣，胸膈脹滿，心腹刺痛，吐瀉腸鳴，遠年近日，加減一切治之。</p>
<p>麻黃（二兩）　陳皮（去皮，三兩）　烏藥（二兩）　川芎（一兩）　白姜蠶（炒去絲嘴）　枳殼（去心炒，各一兩）　白芷（一兩）　甘草（一兩）　桔梗（一兩）　乾薑（一兩）</p>
<p>水一盞，姜三片，蔥一莖，酒半盞服。</p>
<p>有拘攣，加木瓜、石斛。</p>
<p>濕氣，加蒼朮、浙朮、檳榔。</p>
<p>腳膝浮腫，加牛膝、五加皮、獨活。</p>
<p>遍身疼痛，加官桂、當歸、沒藥、乳香。</p>
<p>腰疼，加杜仲、八角茴香。</p>
<p>虛汗，加黃耆，去麻黃。</p>
<p>潮熱，去乾薑，加黃芩、青藤根。</p>
<p>胸膈脹滿，加枳實、莪朮。</p>
<p>夜間疼痛，加虎脛骨、石南葉、青木香。</p>
<p>腳不能舉動，麝香、羌活、防風。</p>
<p>頭眩，加細辛、好細茶。</p>
<p>手足不能起，加川續斷、威靈仙。</p>
<p>心腹刺痛，加茴香。</p>
<p>陰積浮腫合五積散。</p>
<p>四肢皆有冷痹，加川烏、附子、交桂。</p>
<p>麻痹疼痛極者，合和三五七散。</p>
<p>左癱右瘓，加當歸、天麻、白蒺藜。</p>
<p>二五年不能行者，合和獨活寄生湯。</p>
<p>婦人血氣，加防風、薄荷、荊芥。</p>
<p>日夜疼痛，午間輕，夜又痛，合和神秘左經湯。</p>

<h3>十三</h3>
<p><u>四物湯</u>　治婦人胎前產後，血氣不足，四肢怠惰，乏力少氣，榮衛虛損，陰陽不和，乍寒乍熱，赤白帶下，腳膝疼痛，昏眩，經候不行，咳嗽，心煩，腹中疼痛，下虛冷乏，並皆治之。</p>
<p>當歸（去蘆）　川芎（各二兩）　熟地（酒洗）　白芍藥（各二兩）</p>
<p>上依此方法加減用之，獲效尤速。</p>
<p>經脈不行，加紅花、蘇木。</p>
<p>血氣痛，五心熱，加天台烏藥、官桂。</p>
<p>冷氣痛四肢，加良薑、玄胡索、乾薑。</p>
<p>腹中氣塊，加木香如雞子大、三稜、莪朮。</p>
<p>乍冷乍熱，加人參、茯苓、青皮。</p>
<p>妊婦動胎，加艾葉、香附子，並紫蘇葉。</p>
<p>血痢，加阿膠、厚朴、艾葉。</p>
<p>口乾煩渴，加麥門冬、乾葛、烏梅。</p>
<p>小便赤澀，加澤瀉、木通。</p>
<p>大便秘結，加桃仁、大黃。</p>
<p>脅肋脹滿，加枳實、半夏。</p>
<p>大渴煩躁，加人參、知母、石膏。</p>
<p>潮熱，加黃芩、桔梗。</p>
<p>下血過多，加綿黃耆、白朮、茯苓、甘草。</p>
<p>無子息，加附子、肉蓯蓉。</p>
<p>五心煩，躁熱，加黃芩、柴胡、地骨皮、百合。</p>
<p>虛煩不睡，加淡竹葉、石膏、人參。</p>
<p>心氣不足恍惚，加遠志、棗仁、辰砂（別研）。</p>
<p>有死胎，加交桂、麝香、白芷。</p>
<p>赤白帶下，加藁本、牡丹皮、川續斷。</p>
<p>或月前月後，加川牛膝、澤瀉、蘭葉、鍾乳粉。</p>
<p>咳痰，加桑白皮、杏仁、麻黃。</p>
<p>頭眩，加羌活、細辛。</p>
<p>不思飲食，加砂仁、白豆蔻、蓮肉。</p>
<p>面色痿黃，加陳皮、香附子、乾薑。</p>
<p><u>又附神仙巨勝子丸</u></p>
<p>日進二服，諸病皆除。善能安魂定魄，改易容顏，通神延壽，補髓駐精益氣，治虛弱，展筋骨，潤肌膚。久服頭白再黑，牙落更生，目視有光，心無倦怠，諸疾寒暑不侵，神效不具述。</p>
<p>熟地黃　生地黃　何首烏（各一兩）　枸杞子　官桂　肉蓯蓉（酒浸三日）　川牛膝（酒浸三日）　菟絲子（酒浸三日）　人參　天門冬　巨勝子（焙去皮）　酸棗仁　破故紙（炒）　巴戟（去心）　五味子　覆盆子　山藥　楮實子（各一兩）　川續斷　廣木香　韭子　雞頭實　蓮腦　蓮肉（各一兩）</p>
<p>如無天雄，附子代之，去皮臍，炮。去天雄，用鹿茸亦得。十個同研極細，如梧桐子大，每服二十丸或三十丸，濃酒下，鹽湯下亦可。耳聾後聰，眼昏再明，一月元氣盛，六十日白髮變黑，百日顏容改換，目明，黑處穿針，冬月單衣不寒。如不信，將白雞一支，用藥拌飯煨過六十日，則為黑雞。昔有一老人耳聾眼昏，年七十無子，遇此方齒生髮黑、四妻得二十子，壽至一百單六歲。凡人服此藥者，必能添壽齡哉。水火既濟之妙術也。</p>
