<header data-type="book">
<h1>寧坤秘笈</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>蕭山竹林寺僧</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1786">公元1786年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>岐黃之書，汗牛充棟，而婦科證治尤煩。然各家諸書非博而弗精，即約而未盡。苟非脈理通明，見識廣大者仍復茫然失據，更致傳信傳疑，此有書而不如無書也。顧胎產著名者非無其人，但延請而始能測病之源，臨症而後定藥之性，甚有薪傳失實，貽誤堪虞。夫胎產為居家恆有之事，荒陬僻壤，安能盡覓良醫，而昏夜倉皇頃刻難求藥餌，誠可慨焉！僕憫世之艱，忘己之拙，合刊是編上卷，為昔人潛寓□提，得其全璧，多述調經種子，胎前臨產之說，症治方書瞭如指掌。中卷則獨宗生化湯為主，而按症加減，詳述臨產及產後諸調理事宜，毫無遺義。下卷則類及葉老人調經種子，陰陽仙棗胎息立成，及倪涵初先生痢瘧永效方，一併公世而兮。顏其目曰《寧坤秘笈》，末則直書曰《經驗良方》。倘家執是編，體察陰陽，於未孕欲孕之先，按治胎元於臨產即產之後，是不特婦科秘術和盤托出而失傳，貽誤之弊。殆可無憂。其視博而未精，約而未盡者相去為何如哉！至末卷經驗諸方，珍藏尚多，此僅吉光片羽，統俟續刻，俾得共觀全豹云。</p>
<p><u>乾隆丙午孟秋閏月中浣耶溪月田礪堂氏題</u></p>

<h1>上卷</h1>

<h2>婦女之病九十一症，治法七十九方</h2>
<p><u>第一經前</u></p>
<p>論其症，血來如膽水，五心作熱，腰痛，並小腹痛，面黃色，不思飲食。乃氣血虛，先退其熱，然後調經。次月勝血而愈。先用黃芩散治之。</p>
<p><u>黃芩散方一</u></p>
<p>黃芩（六分）　川芎（八分）　當歸　白芍　蒼朮（各一錢）　甘草（三分）　知母（五分）　花粉（五分）</p>
<p>水煎溫服。後用調經丸。</p>
<p><u>調經丸方二</u></p>
<p>三稜　莪朮　當歸　白芍　生地　熟地（各一錢）　玄胡（一兩）　茯苓（一兩）　川芎　小茴香　烏藥（各八分）　大茴香（八分）　砂仁（五錢）　香附（一兩一錢）</p>
<p>米糊為丸，不拘時酒服。</p>
<p><u>第二月經後</u></p>
<p>論其症，經來如漏水，頭昏目暗，小腹作痛更兼白帶，咽中臭如魚腥，噁心吐逆。先用理經四物湯，後用補內當歸丸。</p>
<p><u>理經四物湯三</u></p>
<p>當歸　川芎　生地　柴胡　白朮　香附　玄胡　白芍　黃芩　三稜</p>
<p>水煎，臨臥熱服。</p>
<p><u>補內當歸丸四</u></p>
<p>當歸　續斷　白芷　阿膠　厚朴　茯苓　蓯蓉　蒲黃（各一兩，炒黑）　萸肉（一兩）　川芎（八錢）　熟地（一兩五錢）　甘草　乾薑（各五錢）　附子（二錢）</p>
<p>煉蜜為丸，空心溫酒下七八十粒，次月即愈。</p>
<p><u>第三月經或前或後</u></p>
<p>論其症，因脾土不勝不思飲食，由此血衰，經或前或後，宜補脾則血旺氣勻，自然應期，宜服紫金丸。</p>
<p><u>紫金丸五</u></p>
<p>陳皮（五錢）　良薑　莪朮（各八錢）　檳榔　砂仁　紅花（各六錢）　枳殼　烏藥（各八錢）　三稜（一兩）</p>
<p>米糊為丸，用米湯送八十粒。</p>
<p><u>第四月經血虛發熱</u>　論其症，因婦人性急或行經時房事觸傷，脅中結一塊如雞蛋大，在左右兩脅。月水不行，變成五心煩熱，頭痛目暗，咳嗽生痰。若半年一年不醫，肉瘦泄瀉則難治。宜先止熱，用逍遙散。</p>
<p><u>逍遙散六</u></p>
<p>當歸　白芍　川芎　柴胡　花粉（各八分）　黃芩（六分）　薄荷葉（四分）　膽草（五分）　地骨皮　石連肉（各一錢）</p>
<p>水煎空心服，後止其嗽，用紫菀湯。</p>
<p><u>紫菀湯七</u></p>
<p>杏仁（一錢五分，去皮尖）　阿膠（炒研，八分）　待藥煎好方入白桑皮（一錢，蜜炙）　五味子（五分）　知母（一錢，炒）　川貝（一錢，去心）　紫菀　桔梗　蘇子（各八分）　枳實（一錢）　款冬花（六分）</p>
<p>水煎，臨臥服。</p>
<p><u>第五經閉發熱</u></p>
<p>論其症，因行經時，及產後因食生冷並食水果。血見水則滯故也。起初一二月作寒作熱，五心煩躁，脾土勝自然經水流通。若半年不治，變成骨蒸。子午面熱，肌肉消瘦，泄瀉不止，急宜治之。倘病甚重，急用鴉片三釐調甘草湯送下，有起死回生之妙，宜用逍遙散、紫菀湯二方。俱詳第四。</p>
<p><u>第六行經氣血作痛</u></p>
<p>論其症，經來一半血未曾盡，腹中作痛，變發潮熱，或有不熱，須破其餘血，熱止痛安，宜用紅花散。</p>
<p><u>紅花散八</u></p>
<p>枳殼（六分）　紅花（一錢，炒）　牛膝　當歸　蘇木　赤芍　三稜　莪朮（各八分）　川芎（五分）</p>
<p>水煎，空心服。</p>
<p><u>第七經來不止</u></p>
<p>經來一日不止，有半月之久，乃血妄行，問其婦，曾吃椒、姜熱物過度否？是謂熱症，須用金拘散。</p>
<p><u>金拘散方九</u></p>
<p>續斷　阿膠（炒）　地榆　當歸　白芷（各一錢）　黃芩　川芎　白芍（各八分）　熟地（二錢）</p>
<p>水煎，空心服。</p>
<p><u>第八經來如黃水</u></p>
<p>此症人虛不可用涼藥，須暖其經，以和其血。次月血勝而愈。宜用加味四物湯。</p>
<p><u>加味四物湯方十</u></p>
<p>當歸　烏藥　川芎　玄胡　小茴香　白芍（各八分）　熟地（一錢）</p>
<p>薑棗水煎。空心服。</p>
<p><u>第九經來如綠水</u></p>
<p>此症全無血色，乃大虛大寒。不可用涼藥，要用烏雞丸半月。非但病愈，又能懷孕。</p>
<p><u>烏雞丸方十一</u></p>
<p>天雄附子（三錢）　鹿茸　山藥　蓯蓉　肉桂　蒲黃（炒黑）　當歸　萸肉　川芎（各五錢）　白芍（一兩）　熟地（一兩五錢）　烏雞肉（皮油不用，酒蒸，三錢）</p>
<p>米糊為丸，空心酒送下百丸。</p>
<p><u>第十經來全白色</u></p>
<p>此症無血色，五心煩熱，小便作痛，面色青黃，乃血氣虛也。服此半月必孕，宜用烏雞丸。方詳第十一。</p>
<p><u>第十一經來成塊</u></p>
<p>如蔥白色，又如死豬血黑色。頭昏目暗，唇麻，此症虛也。急用內補當歸湯。方詳第四。</p>
<p><u>第十二經來臭如夏月之腐</u></p>
<p>此乃血弱，更兼熱物，譬如水乾涸，溝渠久則臭也。身衰，舊血新血不接則臭，宜用龍骨丸。</p>
<p><u>龍骨丸方十二</u></p>
<p>龍骨　海螵蛸　牡蠣　生地（各一錢）　當歸　川芎　白芍　茯苓（各八分）　黃芩（六分）</p>
<p>蜜丸，空心服百丸。</p>
<p><u>湯藥方十三</u></p>
<p>當歸　三稜　莪朮　赤芍　丹皮　白朮（各八分）　香附　條芩　陳皮　木通（各八分）　姜（一片）</p>
<p>水煎服</p>
<p><u>第十三經來不止如魚腦</u></p>
<p>雙足疼痛不能動履，乃下元虛冷，更兼風邪所致，宜行血行氣，用疏風止痛散。</p>
<p><u>疏風止痛散方十四</u></p>
<p>當歸　天麻　殭蠶　烏藥　牛膝　獨活（各一錢）　石南藤　乳香　紫金花　骨碎補（各一錢）　川芎（五分）　姜（三片）　蔥白（三個）</p>
<p>酒煎，空心服。</p>
<p><u>第十四經來如牛膜片</u></p>
<p>此症經來不止兼牛膜色一般，昏迷倒地乃氣血變成，雖驚無事，用硃砂丸。</p>
<p><u>硃砂丸方十五</u></p>
<p>硃砂（一錢）　白茯苓（一兩）</p>
<p>水和為丸，薑湯送下五十粒立效。</p>
<p><u>第十五經來如血胞經來不止</u></p>
<p>或下血胞三五個如雞蛋大，如用刀割開內石榴子，其婦昏迷不知人事亦無妨，宜用十全大補湯。</p>
<p><u>十全大補方十六</u></p>
<p>當歸　白朮（各一錢）　川芎　白芍　人參　茯苓（各八分）　生地　黃耆（各一錢）</p>
<p>薑、棗煎，空心服三五帖立效。內有甘草、肉桂末二味米炒，令老肉桂味辛，恐動血，宜加減用之為要。</p>
<p><u>第十六經來疼痛</u></p>
<p>小便如刀割　此乃血門不開，皆用八珍散無效，宜用牛膝湯一劑有功。</p>
<p><u>牛膝湯方十七</u></p>
<p>牛膝（三兩）　乳香　麝香（各一錢）</p>
<p>水碗半，煎牛膝至一碗，臨服磨乳香、麝香入內，空心服之即愈。</p>
<p>如系火症，可用硃砂六一散。</p>
<p><u>第十七經來吊陰痛不可忍。</u></p>
<p>此症兩條筋從陰吊起至乳上疼痛，身上發熱，宜用川楝湯二劑即愈。</p>
<p><u>川楝湯方十八</u></p>
<p>川楝子　豬苓　澤瀉（各八分）　麻黃（六分）　木香（三分）　小茴香　白朮　烏藥　乳香　元胡（各一錢）　檳榔（八分）　大茴香一錢　姜（三片）　蔥（一根）</p>
<p>水煎，對火服，發汗即愈。</p>
<p><u>第十八經來未盡潮熱氣痛</u></p>
<p>此症經來一半又覺口渴，小腸痛，此因傷食生冷，血滯不行，有餘血在內，不可用補劑，只宜涼藥。若補用莪朮散，熱去經盡，痛止熱退。</p>
<p><u>莪朮散方十九</u></p>
<p>莪朮　三稜　紅花　牛膝　蘇子（各一錢）</p>
<p>水煎空心服。</p>
<p><u>第十九經來已盡作痛</u></p>
<p>此症手足麻痹，乃腹中虛冷，血氣衰甚。用人參四物湯治之。</p>
<p><u>人參四物湯方二十</u></p>
<p>人參（一錢）　白芍（一錢）　當歸（二錢）　川芎（八分）　姜（三片）　棗（三枚）</p>
<p>水煎服，即愈。</p>
<p><u>第二十經來結成一塊</u></p>
<p>如皂角一條橫過，痛不可忍，不思飲食，面色青黃，急服元胡散治之。</p>
<p><u>元胡散方二十一</u></p>
<p>元胡（四錢）　發灰（三錢）</p>
<p>共為末，酒調服下，服之半月，其塊自消。</p>
<p><u>第二十一經來脅氣痛</u></p>
<p>經來脅內一塊如杯大，其色淡黃，宜治塊為先，用四物元胡湯治之。</p>
<p><u>四物元胡湯方二十二</u></p>
<p>當歸　川芎　白芍（各八分）　元胡（一錢）　熟地（一錢五分）　姜（三片）</p>
<p>酒煎。加沉香三分，食後服。或歸、芎、白芍、熟地、元胡各四兩，沉香五錢，分作四股，酒煎。或為末，酒送下。</p>
<p><u>第二十二經來遍身疼痛</u></p>
<p>經來二三日遍身疼痛，及寒邪入骨，或熱或不熱，宜解表。用烏藥順氣散發汗即愈。</p>
<p><u>烏藥順氣散方二十三</u></p>
<p>烏藥　殭蠶　白芷　陳皮　枳殼（各八分）　乾薑　甘草（各五分）　麻黃（四分，去節）　姜（三片）　蔥（一根）</p>
<p>水煎服即愈。</p>
<p><u>第二十三觸經傷寒</u></p>
<p>經來誤食生冷，遍身潮熱，痰氣緊滿，惡寒，四肢厥冷，乃觸經傷寒。急投五積散即安。</p>
<p><u>五積散方二十四</u></p>
<p>厚朴　陳皮　桔梗　白芷　枳殼　當歸　白茯苓　香附　半夏（各一錢）　川芎　乾薑（各五分）　蒼朮　柴胡（各四分）　青皮（六分）　姜（三片）　蔥（一根）</p>
<p>水煎熱服。</p>
<p><u>第二十四經逆上行</u></p>
<p>經從口出，此因過食椒姜熱毒之物，其血亂行。急服犀角地黃湯數劑立效。</p>
<p><u>犀角地黃湯方二十五</u></p>
<p>犀角　白芍　丹皮　枳實（各一錢）　黃芩　橘紅　桔梗　百草霜（各八分）　生地（二錢）　甘草（三分）</p>
<p>水煎，空心服即愈。</p>
<p><u>第二十五經水從口鼻出</u></p>
<p>咳嗽氣緊，宜推血下行，當用紅花散七帖，次用冬花散止嗽下氣，不須五七帖，熱去全安。</p>
<p><u>紅花散方二十六</u></p>
<p>紅花　黃芩　蘇木（各八分）　花粉（六分）</p>
<p>水煎空心服。</p>
<p><u>冬花散方二十七</u></p>
<p>冬花蕊　粟殼（蜜炙）　桔梗　枳殼　蘇子　紫菀　知母（各八分）　桑皮（炒）　石膏　杏仁（各二錢）</p>
<p>水煎服。</p>
<p><u>第二十六逐日經來</u></p>
<p>此症經水日有幾點則止，或五日，或十日，又來數點。一月當三四次，面色青黃，先宜艾膠湯三帖。</p>
<p><u>艾膠湯方二十八</u></p>
<p>阿膠（炒）　熟地（各二錢）　艾葉（三錢）　川芎（八分）　棗（三枚）</p>
<p>水煎。空心服後，用紫金丸。方詳第三症，服之次月即安。</p>
<p><u>第二十七經來狂言如見鬼神</u></p>
<p>此症經來，或因家事觸怒，阻逆血攻心，不知人事，狂言鬼神，先用麝香散，寧心定志。</p>
<p><u>麝香散方二十九</u></p>
<p>麝香　沉香（炙）　甘草（各三錢）　柴胡　桔梗　茯神（各八分）　遠志（二錢，去心）　木香（五分）　人參（八分）</p>
<p>水煎，不拘時服，後用茯苓丸即愈。</p>
<p><u>茯苓丸方三十</u></p>
<p>遠志（去骨）　茯苓（各八錢）　硃砂（三錢）　豬心（一個）</p>
<p>用早米糊為丸如桐子大，用金銀湯送五十粒即愈。</p>
<p><u>第二十八經來常嘔吐</u></p>
<p>經來常嘔吐，不思飲食，宜用丁香散。</p>
<p><u>丁香散方三十一</u></p>
<p>丁香　乾薑（各五分）　白朮（一錢）</p>
<p>為末，每清晨米湯送三匙。</p>
<p><u>第二十九經來飲食即嘔吐</u></p>
<p>此症乃痰在胸膈，掛住穀米，不能下胃，投烏梅丸化去痰涎，後用九仙散。</p>
<p><u>烏梅丸方三十二</u></p>
<p>木香　雄黃（各五錢）　草果（一個）　乳香　沒藥（各一錢）</p>
<p>烏梅為丸如彈子大，每日早晨口含化一丸。</p>
<p><u>九仙奪命丹方三十三</u></p>
<p>草果（一個）　厚朴　茯苓（各一錢）　豆果　枳殼　木香　山楂　陳皮　蒼朮（各一錢）</p>
<p>共為末，薑湯下。</p>
<p><u>第三十經來遍身浮腫</u></p>
<p>此因脾土虛弱，不能充變而為腫，宜用木香調胃散。</p>
<p><u>木香調胃散方三十四</u></p>
<p>木香　甘草　乾薑（各三分）　莪朮　木通　山楂　大腹皮（各八分）　砂仁　蒼朮（各一錢六分）　陳皮　紅花（各五分）　香附　車前（各一錢）　萆薢（三分）</p>
<p>水煎，空心服。</p>
<p><u>第三十一經來泄瀉</u></p>
<p>若經動之時五更泄瀉如兒屎，此乃腎虛，不必治脾，用調中湯三五帖即安。</p>
<p><u>調中湯方三十五</u></p>
<p>人參　白朮（各八分）　五味子　甘草（各三分）　乾薑（五分）　姜（三片）</p>
<p>水煎，空心服即愈。</p>
<p><u>第三十二經來大小便俱出</u></p>
<p>此名磋經，因吃熱物過多，積久而成，宜用分利五苓散，調其熱毒，調其陰陽即安。</p>
<p><u>分利五苓散方三十六</u></p>
<p>豬苓　澤瀉　白朮　赤茯苓（各一錢）　阿膠（炒）　川芎　當歸（各八分）</p>
<p>水煎，空心服即愈。</p>
<p><u>第三十三婦人白帶</u></p>
<p>用白種雞冠花煎老酒，服之即愈。</p>
<p><u>第三十四經來常咳嗽</u></p>
<p>此症咽中出血，乃肺金枯燥，急用茯苓湯退其嗽，再用雞蘇丸除其根。</p>
<p><u>茯苓湯方三十七</u></p>
<p>茯苓　川芎　蘇葉　前胡　半夏　桔梗　枳實　乾薑　陳皮（各八分）　當歸　白芍　生地（各一錢）　人參（五分）　桑白皮（六分）　甘草（三分）　姜（三片）</p>
<p>水煎，空心服即愈。</p>
<p><u>雞蘇丸方三十八</u></p>
<p>蘿蔔子（九錢）　貝母（四兩）</p>
<p>共為末，蜜丸桐子大，空心白滾水送下五十粒即愈。</p>
<p><u>第三十五經水來腹大如鼓</u></p>
<p>此症月水不來二三月以至七八月腹大如鼓，人以為孕一日，崩下血來，其胞血中有物如蝦蟆子，昏迷不知人事，體壯者可服十全大補湯，體瘦者死。</p>
<p><u>十全大補方詳第十五症</u></p>
<p><u>第三十六經來小便如白蟲</u></p>
<p>此症經水來血內有白蟲如雞腸，滿腹疼痛，只宜推去蟲於大便出無事，先用追蟲丸，復用建中湯補之。</p>
<p><u>追蟲丸方三十九</u></p>
<p>續隨子　檳榔　牽牛　大戟（各五分）　麝香（五分）　甘遂　芫花（各一錢）</p>
<p>米糊丸如桐子大，每服十丸酒送下。</p>
<p><u>建中湯方四十</u></p>
<p>白芍（一兩）　黃耆　肉桂　甘草（各五錢）</p>
<p>共為末，米湯送下即愈。</p>
<p><u>第三十七經來潮熱終日不思飲食</u></p>
<p>此症經來胃氣不開，不思飲食，須開胃不宜別樣，只宜鴨血酒立效。將雄鴨頭頂上取血，調酒飲之立效。</p>
<p><u>第三十八女子經閉</u></p>
<p>室女月水初行不識保養，用冷水洗手足，血見冷水則凝，不出血海。面色青黃，遍身浮腫，人作水腫。治之不效，宜用通經丸，通其血，消其腫。</p>
<p><u>通經丸方四十一</u></p>
<p>三稜　莪朮　赤芍　川芎　當歸　紫菀　劉寄奴（各八分）　穿山甲（一片）</p>
<p>共為末，米糊為丸，酒送下即愈。</p>
<p><u>第三十九血水崩</u></p>
<p>此症宜用十灰丸，若久崩乃虛，宜用雞蛋湯。若小腸痛，宜用加味四物湯。初起時只用十灰丸。</p>
<p><u>十灰丸方四十二</u></p>
<p>阿膠（五錢）　側柏葉　棕櫚　艾葉　苧根　百草霜（各一錢）　綿絹（一團）　白茅根（一根）　丹皮（一錢）　茜根（一錢）</p>
<p>各燒灰存性為細末，白滾湯送下。或用大小薊各一錢，用藕煎湯送下甚妙。</p>
<p><u>雞蛋湯方四十三</u></p>
<p>雞脊肉的子，用蔥三根，姜一兩。</p>
<p>共搗為泥，用麻油鍋內炒去渣，酒服要趁熱吃。加味四物湯方見第八症內。</p>
<p><u>第四十經來吐蛔蟲</u></p>
<p>此症經來寒熱，四肢厥冷，大汗，吐蟲，痰氣緊滿，百死無生。</p>
<p><u>第四十一胎前惡阻</u></p>
<p>此症胎前阻逆，不思飲食，腹中作痛，乃胎氣不和，因而惡逆，宜用和氣散加丁香、木香一劑而安。</p>
<p><u>和氣散方四十四</u></p>
<p>陳皮　桔梗　厚朴　益智　小茴香　藿香（各八分）　甘草（三分）　砂仁（五分）　蒼朮（四分）　丁香（三分）　木香（五分）</p>
<p>水煎半碗飽服。</p>
<p><u>第四十二胎前潮熱氣痛</u></p>
<p>此乃受熱毒所致，宜服五苓散二三帖即安。</p>
<p><u>五苓散方四十五</u></p>
<p>赤茯苓　豬苓　澤瀉　白朮（各五分）</p>
<p>水煎溫服。</p>
<p><u>第四十三胎前寒熱</u></p>
<p>胎前瘧疾，小腹作痛，口燥咽乾，乃受熱更多，又傷生冷，陰陽不和，服草果散即安。</p>
<p><u>草果散方四十六</u></p>
<p>草果（二錢）　青皮　柴胡　黃芩（各八分）　甘草（三分）</p>
<p>水煎空心服。</p>
<p><u>第四十四孩子頂心不知人事</u></p>
<p>乃過食椒、薑、雞肉，熱毒積在胸中，如五六月蓋絮被受熱，亂動母胎，俱不安也。先用調經中和氣散，後用勝紅丸。子母皆安。</p>
<p><u>調經中和氣散方四十七</u></p>
<p>大黃　石膏（各一錢）　檳榔　枳殼　知母（各八分）　黃連（六分）　柴胡（三分）　黃柏（五分）</p>
<p>水煎濃大半碗，空心服即愈。</p>
<p><u>勝紅丸方四十八</u></p>
<p>江子（去殼油，十粒）　百草霜（二錢）</p>
<p>共為細末，米糊為丸，白滾水送七粒。</p>
<p><u>第四十五胎前氣緊不得臥</u></p>
<p>此症過食生冷兼有風寒中胃肺經，生痰，宜用紫蘇湯，又宜安胎散。</p>
<p><u>紫蘇湯方四十九</u></p>
<p>蘇葉　桔梗　枳實　大腹皮　貝母　知母　桑皮（各八分）　當歸（八分）　五味子　石膏　甘草（各三分）</p>
<p>水煎溫服。</p>
<p><u>安胎散方五十</u></p>
<p>人參　生地　當歸　阿膠（炒）　茯苓（各一錢）　小茴香　八角（各八分）　川芎　甘草（各五分）</p>
<p>水煎，空心服即愈。</p>
<p><u>第四十六胎前咳嗽</u></p>
<p>此因每食生冷，又吃薑、椒，中傷胎熱，胃氣不勝，故此作疾，宜用五虎湯，嗽止人安。</p>
<p><u>五虎湯方五十一</u></p>
<p>杏仁　枳實　石膏（各一錢）　蘇子　陳皮　知母　桔梗（各八分）　五味子　甘草（各三分）　麻黃（四分）</p>
<p>水煎溫服。</p>
<p><u>第四十七胎前衄血常從口鼻中來</u></p>
<p>此是傷熱，血熱亂行，沖傷胎絡，只用涼胎法，不用四物湯，用衄血立效散。</p>
<p><u>衄血立效散方五十二</u></p>
<p>丹皮　側柏葉　黃芩（各八分）　蒲黃（一錢，炒）</p>
<p>共為末，米糊丸，白滾湯送下即愈。</p>
<p><u>第四十八胎前瀉痢</u></p>
<p>此乃椒、薑、雞肉熱物入脾，大腸太熱變成痢也。初起二日用甘蓮湯立效，如瀉久孕婦形瘦，精神短少者，子母不能治也。</p>
<p><u>甘蓮湯方五十三</u></p>
<p>甘草（五錢）　川蓮（一錢，炒）　乾薑（一錢）</p>
<p>水煎溫服。</p>
<p><u>第四十九胎前血漏</u></p>
<p>有孕紅來如行經應期一至，此是漏胎。宜小烏金丸。</p>
<p><u>小烏金丸方五十四</u></p>
<p>海金沙（三錢，煅）　殭蠶　側柏葉　小茴香　百草霜　川芎（各五錢）　防風　當歸（各八錢）　厚朴（六錢）　蒼朮（四錢）</p>
<p>用早米糊為丸，白滾湯送百粒。</p>
<p><u>第五十胎前帶白</u></p>
<p>乃胎氣虛弱，先用白扁豆花炒，酒服，後用閉日丸即愈。</p>
<p><u>閉日丸方五十五</u></p>
<p>龍骨　海螵蛸　牡蠣　赤石脂（各五錢）</p>
<p>米糊為丸，酒送百粒。</p>
<p><u>第五十一胎前赤帶</u></p>
<p>漏紅如豬血水，日夜不止。其婦精神短少，急用側柏葉丸。</p>
<p><u>側柏葉丸方五十六</u></p>
<p>側柏葉　黃芩（各四兩）</p>
<p>煉蜜為丸，白滾湯送百粒即愈。</p>
<p><u>第五十二胎前氣緊咳嗽</u></p>
<p>凡氣緊動紅久嗽不止，其紅每月應期而來，日午心熱，氣緊人皆作癆治不效，先用逍遙散退熱，後用紫菀湯。二方俱詳第四症內。</p>
<p><u>第五十三胎前動血</u></p>
<p>此因飲食，跌傷，惡血破來如水不止，急用艾膠湯立止血，次用安胎散固胎體。壯者二三帖可愈，瘦弱者不治。艾膠湯方詳二十六症，安胎散方詳二十五症。</p>
<p><u>第五十四胎前小便不通</u></p>
<p>此症名為轉脬，急用車前八珍散，如八珍散不效，再用八味丸。</p>
<p><u>車前八珍散方五十七</u></p>
<p>白茯苓　白朮（土炒）　當歸　川芎（各二錢）　人參　白芍（各一錢五分）　車前　熟地（各一錢）　炙甘草（八分）</p>
<p>水煎溫服。</p>
<p><u>八味丸方五十八</u></p>
<p>萸肉　澤瀉　丹皮（各八錢一分）　附子　甘草（各三錢）　熟地（一錢八分）　山藥（一錢）　肉桂（五分）</p>
<p>湯丸俱可用。</p>
<p><u>第五十五胎前小產</u></p>
<p>懷孕三五月、七八月皆曰小產。若不調治恐再孕亦然，宜用益母丸治之。</p>
<p><u>益母丸方五十九</u></p>
<p>益母草（四兩）　當歸（四兩）</p>
<p>煉蜜為丸，空心白滾湯送下。</p>
<p><u>第五十六胎前怔忡</u></p>
<p>心常恍惚，遍身煩熱，乃氣血衰弱，受孕之故。宜用硃砂湯。</p>
<p><u>硃砂湯方六十</u></p>
<p>豬心一個，不下水，用水一碗煎湯，研硃砂一錢，調服。</p>
<p><u>第五十七胎前浮腫</u></p>
<p>此氣血衰，切忌通利之藥，恐傷胎也。用大腹皮湯為主。</p>
<p><u>大腹皮湯方六十一</u></p>
<p>大腹皮　五加皮　陳皮　青皮　姜皮（各一錢）</p>
<p>水煎空心服。</p>
<p><u>第五十八胎前遍身痠懶</u></p>
<p>此症面黃瘦，不思飲食，精神困倦，形容憔悴，因血少不勝，難養胎氣。宜用四物湯。</p>
<p><u>四物湯方六十二</u></p>
<p>當歸　川芎　熟地（各二錢）　芍藥（八分）</p>
<p>水煎溫服。</p>
<p><u>第五十九胎前陰戶腫</u></p>
<p>乃胎不運動而致，宜順血散治之。</p>
<p>訶子　水一鍾，煎七分，溫服。</p>
<p><u>第六十胎前下血動胎</u></p>
<p>若婦人壯盛者，三五日內急以安胎散救之，若形瘦者，有冷汗，面色如灰，四肢無力，乃積久之病，神色已去，不必醫治。安胎散詳四十五症。</p>
<p><u>第六十一胎前腳痛</u></p>
<p>此症乃血氣衰弱，下元又虛，亦兼風邪。宜用止血行氣之劑。須烏藥順氣散治之。烏藥順氣散方。詳二十二症內。</p>
<p><u>第六十二胎前中風</u></p>
<p>牙關緊閉，痰氣壅滿不知人事，因食生冷，兼坐風中而致，用黃蠟膏搽上牙關，再進排風湯三帖。</p>
<p><u>黃蠟膏方六十三</u></p>
<p>黃蠟　枯礬　麻黃</p>
<p>以上各等分為末，共熔化擦牙上。</p>
<p><u>排風湯方六十四</u></p>
<p>防風　白朮　白蘚皮　甘草　川芎　當歸　茯苓　獨活（各八分）　麻黃（四分）　姜（三片）　棗（二枚）</p>
<p>水煎服。</p>
<p><u>第六十三胎前癱瘓</u></p>
<p>此症手足不能動，乃胃中有痰凝聚血氣所致。宜用烏藥順氣散方。詳二十二症內。</p>
<p><u>第六十四胎前腰痛</u></p>
<p>此乃血蔭胎，不能養腎，腎水不足，以致腰痛。宜用豬腎丸。</p>
<p><u>豬腎丸方六十五</u></p>
<p>豬腰子（二個）　青鹽（四錢，入腰子內蒸，煨乾為末）</p>
<p>蜜丸，空心酒服即愈。</p>
<p><u>第六十五胎前頭痛</u></p>
<p>此乃寒邪入腦，陽氣衰也。宜投芎芷湯，三服即安。</p>
<p><u>芎芷湯方六十六</u></p>
<p>川芎　白芍　白芷　菊花　藁本　茯苓（各八分）　甘草（九分）　姜（三片）</p>
<p>煎服。</p>
<p>如不止加細辛八分，原有頭風病者不能即愈。</p>
<p><u>第六十六胎前泄瀉</u></p>
<p>此症隨四時治之，再宜臨症斟酌。春宜平胃散；夏宜三和湯；秋宜藿香正氣湯；冬宜理中湯。</p>
<p><u>平胃散方六十七</u></p>
<p>茯苓　炙甘草　山藥　廣皮（各等分）</p>
<p>三和湯、藿香正氣湯、理中湯，其方未載。</p>
<p><u>第六十七胎前心痛不可忍</u></p>
<p>亦是胎氣不順，宜順胎散治之。</p>
<p><u>順胎散方六十八</u></p>
<p>草果（一個）　玄胡（八分）　五靈脂（一錢）　滑石（八分）</p>
<p>酒煎，半飢服。</p>
<p><u>第六十八胎前忽倒地</u></p>
<p>此乃血養兒胎，母欠精神，承胎不住，目花眼昏，一時倒地。不須服藥，只飲食補之可也。</p>
<p><u>第六十九胎前大便虛急</u></p>
<p>此症脾土燥，大腸澀。只宜理脾通大腸，不可用硝黃，宜用枳實湯。</p>
<p><u>枳實湯方六十九</u></p>
<p>枳實（二兩）</p>
<p>水二碗，煎七分，不拘時服。</p>
<p><u>第七十胎前遍身瘙癢出風脾</u></p>
<p>此症有風，不可服藥，用樟腦酒調，擦之自愈。</p>
<p><u>第七十一胎前陰門癢甚</u></p>
<p>此症有孕，房事不節，陽精留蓄，因而作癢。宜川椒白芷湯並洗之。</p>
<p><u>川椒白芷湯方七十</u></p>
<p>川椒（一兩）　白芷（一兩五錢）</p>
<p>水煎服。渣煎洗之。</p>
<p><u>第七十二胎前乳腫</u></p>
<p>或兩乳或一乳腫痛作冷作熱，名為內吹。用皂角一條燒灰存性，酒送下立消，不復發矣。</p>
<p><u>第七十三胎前咽痛</u></p>
<p>此乃寒攻下咽，胃有痰涎，宜去寒化痰。用升麻桔梗湯二劑即安。</p>
<p><u>升麻桔梗湯方七十一</u></p>
<p>升麻　桔梗　甘草（各八分）　防風　元參（各一錢）</p>
<p>水煎服。</p>
<p><u>第七十四胎前消渴</u></p>
<p>此乃血少，三焦火熾而然。宜四物湯加生地、川柏，共六味丸自愈。四物湯方詳五十八。</p>
<p><u>第七十五胎前耳鳴</u></p>
<p>此乃腎虛。宜豬腎丸，方詳六十四。</p>
<p><u>第七十六胎前不降生</u></p>
<p>臨產水乾，孩子不下，用益母散生其水，水至胎下，若閉不生者死。</p>
<p><u>益母散方七十二</u></p>
<p>白芷　當歸　滑石（各一錢）　益母（三分）　肉桂（八分）　麝香（一分）</p>
<p>水煎溫服。</p>
<p><u>第七十七秘傳速產</u></p>
<p>用高牆上蛇蛻一條，要頭向下者佳。瓦上焙乾為末一錢，加麝香三分，乳調為膏，貼臍上即產，速去，切不可久貼。</p>
<p><u>第七十八胎衣不下</u></p>
<p>此症多因身弱血少水乾而胎衣不下，宜用川歸湯。在胸膈者難治。若在小腹，用破靈丹。婦人面色青黃，口舌黑，指甲青，此子死也。當用朝爛散打下死胎，急救其母。若面色青黃，指甲紅色，其子久生不可輕用破靈丹。</p>
<p><u>川歸湯方七十三</u></p>
<p>川芎（二錢）　當歸（一錢）　益母草（二錢）</p>
<p>取汁和老酒煎服即下。</p>
<p><u>破靈丹方七十四</u></p>
<p>紅花　蘇木（各五分）</p>
<p>無灰酒煎服。</p>
<p>朝爛散方未載。</p>
<p><u>第七十九產後血氣痛</u></p>
<p>此乃余血不盡腹中痛，遍身熱，惡血在腹當去其血，則熱自退。宜紅花當歸散方。詳第六症。</p>
<p><u>第八十產後血盡作痛</u></p>
<p>此乃腹中虛痛，若有潮熱，亦是虛潮。宜四物湯加烏藥。四物湯方詳五十八症內。</p>
<p><u>第八十一產後惡血發熱</u></p>
<p>此乃內傷外感之症。其方未載。</p>
<p><u>第八十二產後咳嗽</u></p>
<p>此乃產後傷風變為咳嗽。宜小青龍丹。</p>
<p><u>小青龍丹方七十五</u></p>
<p>甘草　乾薑（各五分）　五味（三分）　杏仁（一錢五分）　半夏（一錢）　姜（三片）</p>
<p>水煎服。</p>
<p><u>第八十三產後子宮突出</u></p>
<p>用鯉魚燒灰，調清油，搽之即愈。</p>
<p><u>第八十四產後瘕疸突出</u></p>
<p>先用連翹散，後用黃蠟膏立效。</p>
<p><u>連翹散方七十六</u></p>
<p>黃耆（炙）　花粉　連翹　防風　梔子（各一錢）　甘草（三分）</p>
<p>水煎服。</p>
<p>黃蠟膏方。詳六十二症內。</p>
<p><u>第八十五產後一月惡露重來如血水不止</u></p>
<p>昏迷倒地不知人事，此乃生產一月，夫婦交媾動搖骨節，以此血崩不止。急用金拘散方。詳第七症內。</p>
<p><u>第八十六產後氣急</u></p>
<p>或泄瀉，氣緊不止，煩熱口渴，此乃內虛外熱，必死之症。</p>
<p><u>第八十七產後舌黑如塵</u></p>
<p>口乾絕無津液，此乃腎敗，必死之症。</p>
<p><u>第八十八產後譫語又水瀉</u></p>
<p>此乃惡血攻心，上盛下虛，必死之症。</p>
<p><u>第八十九產後吊陰產後浮腫</u></p>
<p>俱詳調經門第一症內。</p>
<p><u>第九十難產方用活雄鼠腎一對</u></p>
<p>加麝香三分，搗爛，分作三丸，好硃砂為衣，白滾湯送下一丸。男左手，女右手握出，如死胎頭頂也。按此方屢經奇驗，丸出急用清水洗淨，尚可再用一次，收藏不可輕泄其氣。</p>
<p><u>第九十一凡人難得受孕</u></p>
<p>未期之時先服此方。白歸身（二錢）　川芎（一錢五分）　覆盆子（一錢，炒研）　熟地（三錢）　白芍（酒炒，二錢）　川斷（去蘆，二錢）　砂仁肉（一錢四分）　香附末（二錢）　杜仲（二錢，炒）　廣皮（一錢）　丹參（二錢）　姜（一片）　黑棗（二枚）　空心熱服。</p>
<p>臨期去黑棗、熟地、加紅花一錢五分，蘇木三錢（打碎），陳老酒一杯，服二帖。口忌淨為要。</p>
<p><u>難產及子死腹中宜服龍虎散九二</u></p>
<p>敗龜甲（一個，酥炙）　蛇蛻（兩條，頭尾俱全）　蟬蛻（四十八個，頭尾俱全，以新瓦上焙乾）　婦人亂髮（一團，皂角水洗淨，去油，火煅存性）　滑石（二錢，飛）</p>
<p>共為細末，瓷罐收貯，用黃蠟封口，每服二錢，老酒送下。不飲酒者，用益母草煎湯送下更佳，立產。</p>

<h2>世秘資生丹方</h2>
<p>治產後各項經脈之丸方。</p>
<p>歸身（酒洗）　川芎（酒洗）　香附末（去毛，醋炒，忌鐵器）　蒼朮（米泔水浸炒）　玄胡（炒）　蒲黃（炒）　白茯苓（去皮）　桃仁（去皮尖）　淮熟地（酒蒸淨）</p>
<p>以上各二兩，山茱萸（去核）、地榆（酒洗）、五靈脂（醋浸，瓦焙）、羌活、甘草（炙）、白芍（酒炒）、人參、陳皮、牛膝（去蘆）以上各五錢，三稜（醋浸透，紙包煨）五錢，白朮（土炒）、青皮、木瓜各三錢，良薑四錢，乳香（去油）、沒藥（去油）、木香各一錢，天台烏藥一錢五分，益母草一兩五錢，忌鐵器，阿膠（蛤粉炒成珠）八錢</p>
<p>上藥各制淨，照分兩配勻為極細末，用大黃膏為丸。</p>

<h2>大黃膏方</h2>
<p>錦紋大黃一斤（去黑皮為極細末），蘇木三兩（劈碎），河水五碗熬取三碗，紅花三兩（炒黃色，入好酒一大壺同煮六七碗，去渣存汁，另黑豆三升，用河水熬汁三碗）。</p>
<p>凡修合時務要虔心，並忌婦人、雞犬、孝服人不見之處方妙。先將大黃末入鍋內，用米醋五碗攪勻熬至滴水成珠，又下醋四五碗熬，如此三次取膏，即入紅花酒、蘇木湯、黑豆汁攪開大黃膏，再熬成膏取出瓦盆盛之，即將此鍋粑焙乾為末，與前資生丹藥末和勻，即將大黃膏為丸如彈子大，每一丸臨用擂為細末，好酒調服，不拘時候，妙妙！各項產後症。並所用之，引開列於後。</p>
<p>一、治子死腹中。娠母因染病，六七日間經傳臟腑熱極，以致子死母身，墮在臍下，不得分離，命在須臾，急服三丸，胸氣熱即生矣。</p>
<p>二、因胎氣以成子食母血。臨月足余血成塊俗呼為鬼枕，臨產時鬼枕先破，血裹其子故難產耳。此藥隨去衣中敗血，須臾生下。其橫生逆生，胎衣不下等同。</p>
<p>三、胎衣不下母子分解訖。母受其產血入中衣被血所脹，因此胎衣不下，令人湯水不進，脹悶，煩急，化服三丸隨去衣中敗血，自然即下。</p>
<p>四、產後血暈，起床不得，眼目昏花，產後三日氣血未定、還入五臟，奔血於肝，醫者不識呼為暗風，用此丹即愈。</p>
<p>五、產後口乾心悶。產後六七日以母血氣未定緣，三日後食麵物，瘀血結聚在心，是以煩渴。醫者呼為胸膛壅脹。服此丹即愈。</p>
<p>六、產後寒熱似瘧。緣產後虛羸，血瘀心肺，則熱入脾胃，則寒熱極反渴，不識者呼為瘧疾，誤損多矣。服此丹效之。</p>
<p>七、產後四肢浮腫。因敗血走注五臟，轉滿四肢，停留迴轉不得，變為浮腫。不識者呼為水腫，不知水腫與血腫不同。水腫氣急而小便澀；血腫氣滿而四肢寒。服此丹隨去敗血，後服別藥調理氣血。</p>
<p>八、產後血邪如見鬼神，癲狂、言語無度。產後血邪，熱氣衝心，因物觸動，所以心上煩燥，言語癲狂，若醫者不識呼為風邪則誤矣。急服此丹治之。</p>
<p>九、產後失音不語。心有七孔三毛，敗血入心被血所悶，言語不得，故醫者不識呼為脫陰脫陽。失音雖是難治，殊不知審妊婦經脈行與不行，順與不順，致心氣妄行流入心孔。宜服此丹即愈。</p>
<p>十、產後瀉痢。未滿月妊婦誤食酸鹽冷堅之物，與血相搏流入大腸，不得克化，或瀉濃血或作汙刺不得安穩。服此丹即愈。</p>
<p>十一、產後骨節痠疼。緣生產百骨肢節開張，產後敗血流入諸處停留日久，結聚不散，是以百節痠疼。不識者治以風濕，誤損多矣。但服此丹其凝血即愈。</p>
<p>十二、產後小便尿血似雞肝。因妊婦月中將息失宜，飲食不得應口，兼以鬱怒，以致敗血流入小腸，閉卻小道，是以小便腸澀。結形似雞肝，流入大腸隨至大澀難醫。不識者呼為五臟淋漓。傷心肝以致瘀血成塊，形如雞肝，殊不知敗血入腸，閉澀水穀道，以致如此。服此丹即愈。</p>
<p>十三、產後崩中。因產後敗血惡氣未止之間，宜服藥調理五臟；或食酸鹹生冷寒熱不一，因此榮衛不得調和，以致宮中便作崩漏，形色如肝，渾身潮熱，背膊拘急，胸口中悶。醫者不識呼為崩中。但婦人癸水將至暴下不止，愆期過度，故曰崩漏。今妊婦血氣正行，失於保養，以成此病。但服此丹三丸即愈。</p>
<p>十四、產後胸膈氣嘔逆不定。因產後血停於脾胃，食滿衝心之氣不平，胸膈脹滿嘔吐偏多，不識者呼為翻胃。是以穀氣為主，胃喜容受而不運動，傷胃心而不容飲饌，故曰翻胃。妊婦停血於脾，心氣相沖而為嘔逆，何得謂之翻胃？但服此丹二三丸即愈。百發百中。</p>
<p>十五、產後咳嗽，四肢寒熱，心悶口乾，渾身煩躁，睡夢多驚，體虛無力，經水不來名曰血閉。腹痛面赤，因此難治。變作骨蒸，治須仔細。若服此丹不應，縱有再生之術不能治也。</p>
<p>十六、產後喉中似蟾鳴。敗血沖遏於心，轉入於肺。肺主氣，血衝心，氣與血俱結成一塊於喉中，聲似蟾鳴，人以為怪。得此症者十不救一，服此丹可愈。</p>
<p>十七、產後面黃舌乾，鼻口流血，遍身血點繞頂生斑。緣產後血敗，五臟六腑皆滿流入肌膚，敗血走流四肢，熱結便住轉還不得，故有此疾可畏可懼。此症十無一生。服此丹可愈。</p>
<p>十八、產後便澀，腰痛似角弓。妊婦百日之外血氣方滿，今在月中七日以外食油麵爽口之物，以致煩躁不得安寧，因循不肯服藥兼傷房事，或久病後坐臥當風，取其一時之快，不肯房事將息，宜乎有此病也。急服此丹即愈。</p>
<p>治產後小便赤澀，大便滯遲不通。服此丹即愈。</p>
<p>治經脈不通。婦人經脈猶之溝渠也，溝渠壅塞則水道不行，婦人氣閉則經水不通。切不可因循養病而喪軀，要急服此丹以流通之，保其天和，遂其化工美哉！妙哉！</p>
<p>治室女經痼不通。室女經脈與婦人不同，隱匿於胞絡漸入子宮，至十三四歲出現始知人事，苟或喜怒寒濕溫熱失宜，以此經不通。痼，涸也。室女身中亦猶是也。《易》曰：天一生水地六成之。先服四物湯三五帖，使癸水生於宮中，然後服此丹引導流通，勿可聽庸醫作癆瘵治也。四物湯方詳第二症內。</p>
<p>治經行腹中疼痛，婦人每遇經來而臍腹撮痛者，益衝任兩脈弱而血海與小腸二經虛，而受風便下之際，血氣搏於風冷相攻而痛，但服此丹即愈。</p>
<p>治產後頭疼，身熱有汗，謂之傷風。加桂枝二分，薑、蔥煎湯化服立愈。</p>
<p>治產後咳嗽，頭疼，身熱無汗，謂之傷寒。加麻黃末三分，蔥、姜煎湯化服立愈。</p>
<p>治產後無乳，加天花粉二分，歸身三分，穿山甲三分（炙黃），俱為末入酒內化服，不拘時吃乳，母要揉奶千餘轉，其乳即如泉湧。</p>
<p><u>婦人陰中生蟲</u></p>
<p>治室女經痼不通，加蓬朮三分，薑黃末五分，赤芍二分，天花粉四分。</p>
<p>俱為末，同入酒內化開，不拘時服，經自然通矣。</p>
<p>治婦人月信前後不一，空心酒化服即准。</p>
<p>治婦人血氣肚痛疼，上下走痛，宜服此丹。忌酸鹹生冷等物。</p>

<h2>救生丸方</h2>
<p>治產後胎衣不下，惡血奔心，迷悶不蘇，此丸可以預合以備用濟世之簡捷良方也。</p>
<p>大附子（一個，泡去皮臍，製為末）　乾漆（二錢，為末和勻）　大黃（五錢）</p>
<p>為極細末，酒醋熬成膏，和前二味為丸如桐子大，每服三十丸淡酸湯下，一時連進三服，胎衣即下如神。</p>

<h2>治產後血結痛方（屢驗）</h2>
<p>生蒲黃（五分）　川芎（五分）　白朮（五分）　神麯（五分）　陳皮（四分）　桃仁（五分，去皮尖）　甘草（四分）　香附（一錢五分，童便炒）　歸尾（一錢五分）</p>
<p>用水一碗半煎七分服。</p>

<h2>救苦三方</h2>
<p><u>婦人陰癢</u></p>
<p>吳茱萸　苦參　蛇床子（各一兩）</p>
<p>用水濃煎，熏洗即愈。</p>
<p>生豬肝一片，用針刺多孔，或雞肝亦可，納入陰中，蟲自引出，數次即愈。仍用前方洗之。</p>
<p><u>婦人翻花</u></p>
<p>此症因真陰不足，或欲事過多陰戶翻出，只可仰臥，身不能轉，疼痛異常。</p>
<p>用大鱉一個，重二斤者，破去腸雜，連頭整個水煮極爛，將汁碗盛，用舊絹蘸汁滴患處，使其滲入，其骨連頭項煅灰研末，夜間拭淨摻之，其肉作羹令病者食之，三日即愈。或老年脫肛諸藥不能治者，用此方亦神效。</p>

<h1>中卷</h1>

<h2>胎產奇方</h2>
<p>全當歸（一錢五分，洗）　川芎（一錢五分）　羌活（三分）　厚朴（七分，薑汁炒）　荊芥穗（八分）　菟絲子（一錢五分，酒泡，曬乾）　枳殼（六分，去穰，麩炒）　生黃耆（八分）　川貝母（一錢，去心）　白芍（二錢，冬月用一錢，酒炒）　蘄艾（七分，醋炒）　細甘草（五分）</p>
<p>引用老薑皮二片，水二杯，煎八分，渣再加水一杯半，煎六分，空心服。臨產者隨時服。以上照方逐件泡製，稱准煎服，無不奇驗。</p>
<p>此方專治一切胎產症候，未產者能安胎，臨產者能催生，倘有懷孕傷胎，不拘月數腰痛、腹痛，服此即愈。其有見紅勢欲小產者，危急之際，一服立愈，再服全安。如有十月滿足交骨不開，橫生逆生，或嬰兒死於腹中者，此藥服之，立刻即下，每月不過二劑。若孕至九十月間，預服兩劑，臨盆容易，後患皆無。此乃異人所授傳，此經驗濟人，功世不可輕忽。</p>

<h2>產後生化湯論</h2>
<p>（即竹林寺傳秘本）</p>
<p>產後血氣暴虛，理當大補。但惡露未盡，用補須知，無滯血，能化又能生，攻塊無損元氣，行中又得補，方為萬全無失。世以芎、歸、芍、地四物湯理產，誤人多矣。因地黃性寒，芍藥酸斂，滯血故也。產後惡露作塊痛，名曰兒枕。世多專用消散，然後議補。又有消補渾施，終無成效。不知舊血雖當消化，新血亦當生養，若專攻舊血，則新血亦不寧矣。世以濟坤丹，又名回生丹，治以攻血塊，下胞胎，雖見速效，其元氣未免虧損，即幸平安，究非良劑也。不得已而用之下胞胎，只可一丸，不可多服。夫生化湯因藥性功用而立名也。夫產後血塊當消，新血宜生。若專消則新血不寧；專生則舊血反滯。考藥性芎、歸、桃仁三品善破惡血，驟生新血，佐以炙黑乾薑、甘草引三品入肺肝，生血理氣，五味共方，則行中有補，化中有生，實產後之要藥也。故名生化湯。凡病起於血氣之衰，脾胃之虛，而產後血氣之虛尤甚。是以丹溪先生論產，必當大補血氣為先，雖兼他症以末治之，此三言者已盡醫產大旨，若能擴充用藥立方，則治產可以無大過矣。夫產後憂驚勞倦，血氣暴虛諸症乘虛易入，如有氣勿專耗散，有食勿專消導，熱不可用芩連，寒不可用桂附。寒則血塊停滯，熱則新血崩流。至若虛中外感，見三陽表症之多，似可汗也。在產後而用麻黃，則重竭其陽。見三陰里症之多，似宜下也。在產後而用承氣，則重亡陰血。耳聾、脅痛，乃腎肝惡血之停，休用柴胡。譫語汗出，乃元弱似邪之症，毋同胃實。厥由陽氣之衰，無分寒弱，非大補不能回陽而起弱。痹因陰血之虧，不論剛弱非滋榮不能舒筋而活絡，又乍寒乍熱發作有期類瘧也。若以瘧治，則遷延難愈。神不守舍，言語無倫，病似邪也。若以邪論，危亡可待。去血多而大便結燥，蓯蓉加於生化，非潤腸承氣湯之能通。患汗多而小便短澀，六君子倍多參耆，必生津助液之可利，加參生化頻服，救產後之危。長生活絡屢用，蘇絕谷之人。頹疝脫肛，多是氣虛下陷，補中益氣之湯堪用。口噤拳攣乃因血燥類瘋，加參生化之湯宜服。產戶入風而痛甚，服宜羌活養榮方。玉門寒冷而不閉，洗宜床菟萸硫類。怔忡驚悸，生化湯加定志。似邪恍惚，安神丸助歸脾。因氣而滿悶虛煩，生化湯加木香為佐。因食而酸噯惡食，六君子加神麯、麥芽為良。蘇木、莪蓬，大能破血。青皮、殼實，最消脹滿。一應耗血散氣之劑，汗吐下之用，可施於少壯，豈宜用於胎產？大抵新產之後，先問惡露如何？塊痛未可遽加耆朮。腹中痛止，補中益氣無疑。至若亡陽脫汗，氣虛喘促，頻服生化加參，是從權也。又以陰亡大熱，血崩厥暈，連煎生化原方，乃救急也。王太僕云：治下補下，制以緩急，緩則道路遠而力微，急則氣味厚而力重，故治產當遵丹溪，而固本服法，宜效太僕而頻加，凡擅回生之奇術，須著意以拯危，欲求俯仰之無慚，心實心以濟物，此雖未盡產症之詳，然見症立方，皆援近鄉治驗為據，未必無小補耳。</p>
<p>產後血塊，是孕成余血之所積也。夫婦人血耗氣衰，二七而天癸至，三旬一見，以象月盈則虧也。行之有常曰經。有孕則經不行，其餘血注於胞中，以護胎元。一月始名胚，二月始名膏，三月成形而名曰胎。方受母之蔭庇胎形尚小，食母血尚有餘汁，前兩月並積於胞中，月久成塊，至產當隨兒下。多有產婦送兒送胞，勞倦無力，或失調護，腹欠溫暖，至塊痛日久不散。幸勿輕服攻血峻劑，薑、椒、艾、酒，過於大熱，新血未免虧損。治法頻服生化湯幾帖以助血兼行，外有熱衣暖腹可也。一時俗治血塊，用生地、紅花以行之，蘇木、牛膝以攻之。治氣脹用烏藥、香附以順之，枳殼、厚朴以舒之，甚有青皮、枳實以下氣定喘。芩、連、梔、柏以退熱除煩。至若血枯大便艱實，反用承氣下之而愈結。汗多小便短澀，反用五苓通之而愈悶。其有偏執，罔知固本。或有惜費不治，或有十醫相通，誤薦人而致夭折者，不可勝計，有謂山楂能消血塊，卻害弱人，頻服兩三帖，必死無疑。</p>
<p>生化湯，凡有孕至七八月者，預製兩三帖，至胞衣一破，速前一帖，候兒下地即服．不論正產小產，雖少壯產婦，平安無羌，亦宜服兩帖以消血塊，生長新血。</p>

<h2>生化湯原方</h2>
<p>川芎（四錢）　當歸（八錢，酒浸）　甘草（五分，炙）　乾薑（四分，炒黑存性）　桃仁（去皮，十粒）</p>
<p>水二鍾，煎七分，和酒六七茶匙，稍熱服。渣並後帖再煎，兩帖共三煎，要在一兩個時辰內，未進飲食之先，相繼煎服。因下焦惡露，服多而頻，則速化而驟長新血，自免暈症，其胎前素弱，產後勞倦，又當再製兩帖，以防怠倦。且產婦服一帖，便長精神幾分，不厭藥之頻也。若虛人見危症，又熱症墮胎，或勞甚身熱頭痛，服四五帖雖稍安，未除血痛，又當再製服之。產後七日內未曾服生化湯，血塊痛未除，仍用生化以消塊止痛。</p>
<p>新產後及三日，服生化湯二三帖，痛塊未除，再照前方服幾帖，自然塊消痛止。新血長旺，精神自復矣。產後七日內血塊未除，未可加參、耆、白朮。如用之痛不止，有才分娩，或一二日內血塊痛未止，其產婦血氣虛脫，或暈或汗多而厥，或形色脫去，口氣漸冷，或煩渴不止，或氣喘氣急。勿論塊痛，且從權多用參耆生化湯，以扶危急。暑月產婦，服生化湯以除塊痛，外用熱衣暖腹。若失蓋護，雖服藥痛塊亦不止，產後大便八九日不通，由血少腸燥故也。宜多服生化加麻仁以通潤之。服芎歸以斤數，自然通矣。虛加人參二三錢，慎勿以大黃下之。</p>
<p>產後一二日內，服生化湯三四帖塊覺減，其痛可揉按而定者虛也。宜生化湯加人參三錢。</p>
<p>產後七日內，感寒傷冷物，血塊凝結痛，生化湯加肉桂五六分，至半月或一月以上凝結，四消丸補湯送。</p>
<p>產後暈厥，脈脫、形脫、口冷諸危急症，從權惟參可救。肥人有痰，或暴怒卒中，生化湯加竹瀝、薑汁。</p>

<h2>產後危急十症</h2>
<p>總開於左，以便鄉村僻遠不須求醫。</p>
<p>產兒下，產母血暈，速服生化湯三四帖，連服神效。且服一帖，產婦自覺精神，不厭進藥之頻也。</p>
<p>產婦稟弱，及胎前症虛，產畢倦暈，速服生化湯一帖，第二帖加人參二三錢，在生化湯內，連服二三帖，以救危急。</p>
<p>產後血崩，血暈脫，速服生化湯。</p>
<p>分娩後汗浸浸然出，氣短神昏，乃危症也。速服生化湯二帖，頭煎後加人參二三錢，在第二帖內以救急，胎前瀉，產後不止，昏倦同治。</p>
<p>產後身熱汗出，氣促咽塞不舒，乃危症也。先服生化湯一帖完，又連服加人參生化湯。庶可回生。</p>
<p>產後血崩暈倦，其身心溫暖，挖開口速灌加參生化湯救之。如不咽用鵝毛管插入喉中灌之。</p>
<p>產後手足冷而厥，或口燥渴，乃大虛危症。須大補可回生。服加參生化湯，渴用人參麥冬散作茶。</p>
<p>血崩既脫，煩躁不寧，目瞑似邪，言語不正，速服生化湯頭煎後，服定志養榮湯，毋信邪以驚之。</p>
<p>產後日久不食，服藥即吐，必須獨參二三錢，著姜三片，白米一大撮，水煎服以安胃氣。夫胃所喜者惟谷，日久不食，胃氣已虛，豈勝藥氣，煎參鬚另用新罐煎之。</p>
<p>產後手足冷發厥，由陰氣虛，陽氣亦虛，兩虛則手足冷而發厥。經曰：陽氣衰於下則為寒厥，厥氣上行滿脈去形，蓋逆氣上滿於經絡，則神氣浮越去身而散也。用加味生化理中湯。</p>
<p>川芎（一錢）　當歸（三錢）　乾薑（五分，炙黑）　甘草（五分，炙）　人參（三錢）　黃耆（一錢）</p>
<p>服參耆而厥回，痛塊未除，暫減參耆以除痛塊。痛塊除，仍加參、耆、桃仁十五粒，姜水煎服。</p>
<p>渴加參麥散。</p>
<p><u>參麥散方</u></p>
<p>人參（一錢）　門冬（一錢）　五味子（十粒）</p>
<p>手足冷，口氣漸冷加熟附子五分，人參共加二三錢，痰加橘紅五分，竹瀝半酒盞，薑汁二匙；汗加黃耆一錢；血塊痛加肉桂五分；虛弱甚加人參三四錢。大便不通加麻仁一錢五分，再服五仁丸。雖熱不可用承氣湯，寒厥不可用四逆湯，熱厥不可用白虎湯，大產後厥症氣血兩虛多脫，用藥必大補少佐丹、桂回陽可也。</p>
<p>產後厥渴甚，以獨參煎湯代茶，每煎人參三四錢。</p>

<h2>胎衣不下</h2>
<p>由產母才兒出，無力送衣，又有經時停久，外乘冷氣，則血道凝澀而衣不下。又產母胎前素弱，氣血固涸而衣停，速煎生化湯大料，連進二三鍾，使血旺腹和而衣自下。兼送益母丸一法也，次用鹿角灰二法也，後開方俱可用。</p>
<p><u>益母丸方</u></p>
<p>益母草端午後小白日收，當風處掛陰乾，石臼搗為末，蜜丸如彈子大，臨服時掐散，盞盛，湯鍋燉熱，生化湯送下。</p>

<h2>調護法</h2>
<p>兒下胎衣不下，產婦未免坐守，不可睡倒，必先斷臍帶，用草鞋滯之。如寒月扶產婦至床倚入坐，被蓋火籠，被中熱衣暖腹，胞下後防虛，必須速服生化湯二盞，不可厭藥頻，自有妙處。</p>
<p>濟坤丹下胎衣極妙，不可多服。至二三丸一丸為度。丹溪《纂要》下胎衣用朴硝神效，虛弱人反有害，夫產兒後腹內空虛，非虛弱而何？必非先生所定之方，乃門下人附增耳。濟坤丹列後，如聖膏方，用蓖麻子（二兩）　雄黃（二錢，二味研成膏，塗母足心，胎衣即下）。</p>
<p><u>加參生化湯方</u></p>
<p>治產後諸危急症通用，一日一夜須連服三四帖。若照常服，一日一帖，豈能接將絕之氣，救危急之症哉！</p>
<p>川芎四錢，當歸八錢，乾薑四分（炒黑），甘草五分（炙），桃仁（制十粒，去皮），人參二錢。</p>
<p>虛脫厥去汗多，加參三四錢，棗湯煎服。加減法：脈與形俱脫將絕，必服此方，頻灌救加參四五錢於生化湯內。分娩後手足厥冷發汗，服生化湯加參三四錢，兼汗亦止加參麥冬一錢，左右脈脫亦加參。</p>
<p>產後汗多加參三四錢，汗多渴甚加參並麥冬三錢。汗多痰喘加竹瀝、薑汁、杏仁十粒。汗多喘嗽聲重加桔梗、杏仁五分。無汗喘嗽氣短加半夏一錢多、杏仁十粒、桔梗五分。汗多身熱氣短加參。汗不止，三四劑後加黃耆一錢。凡產三日內塊痛未除，人參當緩用，遇危急加參可救。如病勢有生意，又當減參，止服生化湯原方。</p>
<p><u>加味生化湯方</u></p>
<p>治產後氣短似喘非喘，氣不相接續也。有兼熱，有兼痰，有兼一二症而氣短促危急之症也。當大補血氣為主，雖兼風寒之邪，而有頭痛發熱惡寒之症，唯當重產，且生化湯有薑、芎，再佐以表劑極穩當，耑門傷寒者慎勿發散。丹溪云：產後切不可發表。</p>
<p>川芎（一錢）　當歸（二錢五分）　炙甘草（五分）　乾薑（四分）　桃仁（十粒）　人參（二錢）　棗仁（一錢）</p>
<p><u>又加參生化湯方</u>　治產後汗出氣短</p>
<p>人參（三錢）　桃仁（十粒）　麻黃根（一錢）　棗仁（一錢，炒）　浮麥（一撮）</p>
<p>渴加麥冬一錢，五味子十粒；嗽加杏仁十粒，桔梗五分；痰加竹瀝一酒盞，薑汁半匙；汗多加黃耆一錢。</p>
<p><u>又加味生化湯方</u>　治產後氣短，痰嗽聲重，汗出。</p>
<p>川芎（一錢）　當歸（三錢）　炙甘草（四分）　杏仁（十粒，去皮尖）　棗仁（一錢，炒）　桔梗（四分）　人參（二錢）　半夏（八分）</p>
<p>痰多加黃耆一錢，前症汗多加黃耆並參，如塊痛不除暫停，參耆以定塊。</p>
<p>產後汗多微喘氣短，出言懶倦之甚，是氣虛血脫，速服前藥，外須時用醋炭以防暈。</p>
<p><u>加味補中益氣湯方</u></p>
<p>此方須服生化湯原方三帖，後才可用補中益氣湯。如塊痛服之不止。</p>
<p>人參（二錢）　當歸（三錢）　炙甘草（五分）　川芎（一錢）　陳皮（三分）　黃耆（八分）　山藥（一錢）　麥冬（一錢）</p>
<p>渴加五味子十粒；血塊作痛加桃仁十粒；小便不通加茯苓八分。切不可用豬苓、澤瀉、木通致亡津液。只可用茯苓。</p>
<p>產後頭痛發熱，氣急發喘，有汗或喘甚者，是血氣暴竭，或坐褥久勞所致，當急煎生化萬安湯，漸加人參治之。勿視為氣實發喘，誤投降氣順氣等藥。</p>
<p><u>又加味生化湯方</u>　治產後頭痛發熱，氣急喘汗。</p>
<p>川芎（二錢）　當歸（三錢）　人參（三四錢）　炙甘草（五分）　陳皮（三分）　杏仁（七粒，去皮尖）　七日內用黃耆（三錢）　棗仁（一錢）　麥冬（一錢）</p>
<p>夫產後喘汗危症也。人多疑參助喘而不敢用，致不救者多矣。今加芎歸湯內萬全無失，有等不知用參，俗醫阻誤病家，即有少用參，多加陳皮、枳殼監製之，皮從耗散切不可信。寧用獨參湯萬全無失，產後氣血虛極，產畢即有汗，必先服胎前預製生化湯兩三帖，服完塊消痛止，然後服調衛止汗湯。</p>
<p><u>調衛止汗湯方</u></p>
<p>內麻黃根不可誤。用麻黃根善發汁，產後最忌發汗。</p>
<p>黃耆（一錢）　當歸（二錢）　麻黃根（一錢）　炙甘草（五分）　防風（三錢）　人參（一錢五分）　虛甚（二三錢）　桂枝（四分）　七日外減桂枝　棗（一枚）</p>
<p>汗多而渴，回液生脈。加麥冬一錢，五味子十粒；汗多小便不利，津液不足勿用利水藥。有痰勿用半夏、生薑，只可用橘紅四分。</p>
<p>產後氣血暴竭虛汗濈濈然，形色俱脫乃危急症也。難拘常法，先定痛塊，從權用調衛止汗湯二三帖，以救危急。待產婦稍有精神，又減參耆以除塊痛。</p>
<p><u>調衛從權參耆方</u></p>
<p>黃耆（一錢五分）　人參（三四錢）　麻黃根（一錢五分）　當歸（一錢）　炙甘草（五分）　防風（二分）　桂枝（五分）</p>
<p>汗少去之，加桂加參；塊亦不痛，棗三枚，水煎服。禁用半夏、生薑汁，加麥冬、五味子。</p>
<p>寒熱往來，勿用柴胡等。頭痛發熱，勿用麻黃、芩、連、柏。產後汗多，當作亡陰論，陰亡則陽亦隨而亡矣。豈不危哉！急服前方，自然安矣。</p>
<p>產後氣短自喘，血氣猶未竭。補劑可少緩，必先服生化湯一二帖，以行塊定痛，然後加參。其產勞甚，及血大崩，形色又脫而喘急，誠危急之症也。難論塊痛，急於生化湯內就加參三四錢以救危急，當於一時內連進兩帖，遲則難以接續，如一日一帖，死亡立至矣。</p>
<p><u>加味生化補中益氣湯方</u></p>
<p>川芎（一錢）　當歸（三錢）　乾薑（四分）　炙甘草（五分）　人參（三錢）　桃仁（十二枚）　茯苓（一錢）</p>
<p>汗多不可用茯苓，加黃耆一錢。渴加麥冬一錢，五味子十粒。若日久食少，聞藥氣即嘔，及誤用寒冷等物，嘔不納穀，並用獨參三四錢，生薑二片，和米一撮，水煎服。鍋焦粉煎亦可。汗出氣短氣喘，虛甚無疑，不受補者難治。</p>
<p>產後汗出，多項強口噤，牙緊筋搐，類傷寒病症，慎勿作傷寒治之。《難經》云：汗多亡陰，陰亡則陽隨而亡，故曰：汗多亡陽，產後血脫多汗，亡陰陽之危症也。用加味生化湯治產後汗多。</p>
<p><u>筋搐方</u></p>
<p>川芎（六分）　當歸（三錢）　人參（二錢）　黃耆（一錢）　麻黃根（一錢）　天麻（一錢）　甘草（四分）　防風（三分）　棗仁（一錢）　荊芥（四分）　棗（三枚）</p>
<p>水煎服。痰加竹瀝大半酒盞，薑汁半茶匙。虛甚加人參三四錢，渴加麥冬一錢，五味子十粒。脈脫，精神脫，加人參三四錢，附子四分。大便不通，加麻仁二錢（炒），忌薑、蔥、煎炒生冷。</p>
<p>身熱勿多用風藥，並勿用芩、連、梔、柏。小便不通，因汗多亡津液，勿多用茯苓、豬苓、澤瀉、木通利水藥。勿用小續命湯，愈風湯，半夏、南星不可多用，勿用邪術符水發尺。</p>
<p>產後血崩，氣脫昏亂將絕，或暈厥，牙關緊，速煎返魂湯灌之。如氣欲絕，灌藥不下，即將鵝毛插喉，用酒盞盛三四分灌之。如灌下藥，腹漸溫暖，不拘帖數可活，又用熱手從單衣上，由心操至腹，又常換熱衣暖腹。</p>
<p><u>清神返魂湯方</u>　治產後暈厥危症。</p>
<p>川芎（二錢）　當歸（四錢）　炙甘草（五分）　人參（一錢）　荊芥（四分）　乾薑（四分）　桃仁（十粒，去皮尖）　肉桂（五分）　棗（一枚）</p>
<p>水煎服。</p>
<p>汗多再加人參二錢，黃耆一錢。兩手脈伏，右手脈絕，加麥冬一錢，五味子十粒。</p>
<p>如灌藥得蘇，其血塊痛仍未除，減參耆，仍服生化湯以除塊定痛，塊痛止後加參耆。渴加麥冬一錢，久不食，胃氣虛，聞藥即吐，可用獨參一二錢，水一鍾，煎四分，用鍋焦末漸引開胃。有痰加竹瀝七分，酒半盞，薑汁一匙。瀉加茯苓。血塊止減桃仁、肉桂。此危症一日須服二三帖，可保終吉，產婦不厭藥頻。</p>
<p>產後日久，血崩不止，或崩如雞蛋大，或去血片。宜大補脾胃，升舉氣血，少加心火之劑。宜用升舉大補湯。治產後血崩，並老壯婦人崩淋。</p>
<p>白朮（三錢）　人參（二錢）　當歸（二錢五分）　頂熟地（二錢）　黃耆（一錢）　炙甘草（五分）　升麻（四分）　荊芥（四分）　白芷（四分）　陳皮（四分）　炒黃連（四分）　防風（三分）　黃柏（炒褐色，四分）　羌活（四分）</p>
<p>口燥加麥冬一錢，五味子十粒。泄瀉去黃柏，加澤瀉五分，蓮子十粒。有痰加半夏一錢。白帶多加半夏、蒼朮一錢。</p>
<p><u>泄瀉參苓蓮子飲方</u>　治產後脾泄不止，並治年久不止脾瀉。</p>
<p>人參（二錢）　白朮（二錢）　白芍（八分）　當歸（一錢五分）　白茯苓（一錢）　炙甘草（四分）　升麻（三分）　陳皮（三分）　山藥（一錢）　蓮子（十二粒，去心）　姜（二片）</p>
<p>水二鍾煎服。就取藥內蓮子送藥。大忌房勞火動。年久脾泄，須服百餘帖。甚者腹痛，加乾薑（炙黑）五分，虛甚加人參三四錢。但此二方有熱，切忌梔、柏、芩、連。</p>
<p><u>產後瀉方</u></p>
<p>產後脾胃虛，產畢即瀉，必先服胎前預製生化湯一煎，後即加茯苓一錢五分，桃仁十粒，肉果一個（麵裹煨去面，去油），訶子皮一錢，蓮子十粒，生薑煎，服後不止，加人參一二錢。小便不通，因瀉亡津液，慎毋利水。如渴加門冬一錢，五味子十粒。</p>
<p><u>參苓生化湯方</u></p>
<p>治胎前久瀉，產後不止，產婦虛脫，從權服此方以扶其虛。如痛塊不止，減參、肉果以除其痛。</p>
<p>川芎（一錢）　當歸（二錢）　乾薑（五分）　甘草（五分）　茯苓（一錢五分）　山藥（一錢）　肉果（一個，麥裹煨）　訶子皮（一錢）　蓮子（七粒）　人參（二錢）　糯米（一大撮）</p>
<p>虛甚加人參三四錢。產後七日外，血塊尚痛，亦服此方，血塊不痛，加白朮二錢，陳皮三分。瀉兼熱勿用芩、連、梔、柏，有痰勿用半夏、生薑。瀉渴用參麥散，以回津液。</p>

<h2>痢方</h2>
<p>產後七日內外，患赤白痢後重頻並，最為難治。欲調氣行血，推蕩利邪，慮傷產後之元氣；欲滋榮益氣，大補產虛，又助邪。利之初盛，其行不損元，補不助邪，惟生化湯去乾薑，加木香運氣，則並治而不悖也。再服加味香連丸，以候一二日，視病勢加減，可保無慮。若患褐色後重頻並，丹溪《纂要》中自有論方。其產婦素厚，及一月可用推蕩之方，與芩、連寒性之藥。若產婦素弱，雖產後一月，未可用峻劑行積。再噤口痢，摘刊奇方中，自有方治，慎勿用古方厚朴、枳殼。以治產痢用香連代之。</p>
<p><u>加減生化湯方</u>　治產婦七日內外，患赤白痢後重頻並。</p>
<p>川芎（二錢）　甘草（四分）　當歸（四錢）　桃仁（十粒）　茯苓（一錢）　陳皮（五分）　木香（三分）</p>
<p>水二鍾，煎六分，去渣，送香連丸三十粒。</p>
<p>如產後曾服生化湯，產婦精神，可服芩、連、芍藥之類。至大黃等藥決不可用。其加味香連丸，其摘刊方中。產後血痢久不愈，屬陰虛。宜四物湯加參。</p>
<p>產後半月外，患赤痢後重，可服加連生化湯。</p>
<p>川芎（一錢五分）　當歸（三錢）　白芍（一錢，酒炒）　黃連（六分，薑汁炒）　枳殼（五分）　甘草（四分）　茯苓（一錢）　木香（三分）</p>
<p>水煎服。</p>

<h2>產後瀉痢治症十方</h2>
<p>產後瀉痢已論立方，大率因初產氣血暴竭，必用生化湯加減，未曾論產後瀉痢，多由飲食傷脾而得，故重出。余意及治症十方。凡產必先服生化湯行塊痛止，可服後方。</p>
<p>一、產痢黃色乃脾土真氣虛，宜服加味補中益氣湯加木香、肉果。</p>
<p>二、久瀉元氣下陷，大便不禁，肛門如脫，宜服六君子加木香、肉果、乾薑。</p>
<p>三、傷麵食，宜服六君子加麥芽，停谷六君子加神麯。</p>
<p>四、停食肉，宜服六君子加山楂四個、砂仁四分、神麯一錢（炒）。</p>
<p>五、胃氣虛弱瀉痢，完穀不化，宜溫助胃氣，服六君子加肉果一個、木香四分。</p>
<p>六、胃氣虛，脾氣弱，四肢浮腫，宜服補中益氣加五皮散。陳、桑、姜，苓、腹等皮各一錢。</p>
<p>七、諸症兼嘔吐，宜加藿香五分，痰加半夏八分。</p>
<p>八、諸症兼小便短澀，加茯苓一錢，澤瀉五分，燈心三十根。</p>
<p>九、瀉久不止，加蓮子十枚。</p>
<p>十、赤痢去血多，姜炒木香之類不可多用，熱則血愈行。血痢久不愈，用人參五錢，香連丸一錢，同為末下。</p>
<p>產後胃氣不和，嘔吐不止，全不納穀，分兩症，立□□生活命丹而更耗，百試百驗，又誤而致膨脹□仍用大補益氣之劑，而不致夭折，十救八九，治者無以為過，姑先用人參一二錢，送鍋焦粉。</p>
<p>乞遵丹溪醫案方以救絕谷。</p>
<p>誤用益氣湯，治產後中氣不足，中滿或噯氣虛飽，及誤服耗氣順氣藥，致成膨脹危急症。</p>

<h2>治脹方</h2>
<p>人參（二錢）　白朮（三錢）　當歸（三錢）　茯苓（一錢五分）　甘草（三分）　川芎（七分）　陳皮　大腹皮（各四分）</p>
<p>腹脅痛或塊痛，加砂仁五分。如傷麵食，加麥芽五分。如傷冷粉、梨、橘腹大痛，加吳茱萸一錢。</p>

<h2>養生化滯湯方</h2>
<p>治產後大便不便，誤服大黃等藥致成膨脹，或腹中血塊痛不止。</p>
<p>川芎（一錢）　白芍（一錢）　人參（一錢）　茯苓（一錢）　當歸（四錢）　陳皮（四分）　甘草（二分）　桃仁（十粒）　香附（三分）　大腹皮（五分）　肉蓯蓉（去甲酒洗，一錢五分）</p>
<p>如脹甚再加人參三四錢。如塊痛就將藥送三消丸。方見後。以上三方大率相同可通用。遵丹溪方加減，屢用治驗。常治誤用大黃多者，服參歸至半斤以上，大便不通，腫脹漸退。</p>

<h2>產後嗽立三方</h2>
<p>產後七日內，外感風寒嗽，鼻塞聲重惡寒，宜生化湯加杏仁、桔梗。有痰加天花，勿用麻黃以動汗，如嗽而脅下痛，勿用柴胡湯。若患火嗽而有聲，痰少面赤，勿用涼藥。凡產有火有痰，必調理產婦，半月後方可用冷寒之劑。半月前還當重產。丹溪云：產後不可發表，蓋因其內虛也。</p>
<p><u>加味生化湯方</u></p>
<p>治產後感風寒嗽，鼻塞聲重。</p>
<p>川芎（一錢）　當歸（二錢五分）　杏仁（十粒）　甘草（四分）　乾薑（四分）　桔梗（四分）　知母（八分）</p>
<p>有痰加天花粉，姜水煎服。虛弱有汗，嗽加參一錢。</p>
<p><u>加參寧肺生化湯</u></p>
<p>治產弱、產婦旬日內，患感風寒聲重有痰，或身熱頭痛，或汗多，服此方。</p>
<p>川芎　白芍　知母　訶子皮　栝蔞仁（各一錢）　當歸（三錢）　生地（一錢）　蔸鈴（四分）　桔梗　甘草（各四分）　款冬花（六分）</p>
<p>煎服。</p>

<h2>產後類瘧症，分二症，立三方</h2>
<p>產後半月內，寒熱往來，或午後，或日晡，或夜間發熱，其發有期類瘧。此由氣血並竭，陽虛寒作而陰虛發熱也。慎勿以瘧治。雖柴胡亦不可用，惟調補血氣而寒熱自除矣。勿用芩、連、柏、梔以退熱，勿用草果、檳榔以絕瘧。如有汗氣短加參耆，熱加歸參。若產已及一月，亦用人參養胃湯加減調治，外再煎參朮膏。仲景云：傷寒往來寒熱，一二三度發，陰陽俱虛，不可更發汗，或更下更吐也。與此意同。</p>
<p><u>加味生化湯方</u>　治產後半月內外類瘧。</p>
<p>川芎　人參　白朮（各一錢）　當歸（二錢）　甘草（三分）　白茯苓　藿香（各八分）　青皮（二錢）　烏梅（一個）</p>
<p>渴加麥冬一錢、五味子十粒；痰加半夏七分、生薑三片；汗多加黃耆、棗仁各一錢。</p>
<p><u>加味人參養胃湯方</u>　治產後及一月瘧疾並用參朮膏。</p>
<p>人參（一錢五分）　白朮　當歸（各二錢）　茯苓　半夏（各八分）　草果（三分）　甘草　青皮（各四分）　藿香（五分）　烏梅（三個）</p>
<p>再用白朮四兩，洗淨銼烘乾，參四兩，用水六碗，各煎取半碗，如法再煎三次，渣取，汁共九碗，再熬至一碗，每日服半酒盞，白湯下。</p>
<p>產後乳生癰未成膿，服栝蔞子乳沒散。已服有膿，服排膿回毒散。虛人不可用。膿出後服十全大補金銀花散。</p>
<p><u>栝蔞乳沒散方</u></p>
<p>栝蔞（一個，連皮搗碎）　當歸　金銀花（各三錢）　白芷（一錢）　青皮　乳香　沒藥　甘草（各五分）</p>
<p>胎前生癰可照方煎服亦效。</p>
<p>又方：蒲公英八錢，金銀花一兩。</p>
<p>酒煎飽服神效。</p>
<p><u>十全大補湯方</u></p>
<p>治產後膿出後虛弱甚者服之。</p>
<p>人參　白朮　熟地　黃耆（各二錢）　茯苓　川芎（各八分）　當歸　金銀花（各三錢）　甘草（五分）</p>
<p>水二鍾，煎六分。</p>
<p>泄瀉加蓮子十粒，肉果一個；渴加麥冬一錢　五味子十粒。</p>
<p>產後生癰發寒熱類瘧，作虛治。產後惡露日久不散，凝結成塊。</p>
<p>凡產下兒惡露隨下，則腹無痛而自舒暢。若腹失蓋，或傷冷物，則惡露凝給成塊。虛症百出，腹痛身熱，骨蒸，五心煩熱，食少羸瘦，或似瘧，或月水不行，其塊在兩脅，痛動作雷鳴嘈，眩暈身熱，時作時止等症。治法當遵丹溪云：欲泄其邪，當補其虛，用補中益氣溫送。丹溪纂中三消丸，使塊消而人不弱。若塊無補非唯塊不可消盡，且食立減，甚至絕谷成勞而夭。</p>
<p><u>加味補中益氣湯方</u></p>
<p>人參　山藥　黃耆（各一錢）　白朮（二錢）　當歸（三錢）　陳皮　甘草（各四分）</p>
<p>姜水煎服。</p>
<p>治婦人死血、食積、痰三等塊。</p>
<p>黃連一兩五錢，一兩用吳茱萸四錢煎汁，去渣，浸，黃連（炒燥）五錢，用益志炒去心，蘿蔔子一兩五錢（炒），臺烏、桃仁、山梔（各炒）五錢，麥芽、三稜、莪朮並醋炙。</p>
<p>以上各炒五錢，香附一兩（童便浸，炒），山楂一兩，各為末，蒸餅為丸，食遠用補中益氣湯送五六十丸，或以白朮三錢，陳皮五分，水一鍾，煎五分送亦可。</p>
<p>產後大便不通，因血少腸燥，其虛弱產婦多服生化湯，則血旺氣順，自無便澀之症。切不可用硝黃等下藥，重亡陰血，便閉愈甚。致成脹滿者，或致瀉不能止者，又當服生化湯加減治之。</p>
<p><u>助血潤腸丸方</u></p>
<p>治產後大便不通，或誤用下藥成脹之症。</p>
<p>川芎（一錢）　當歸（四錢）　桃仁（十粒）　甘草（五分）　麻仁（一錢五分，炒）　陳皮（四分）</p>
<p>血塊痛加肉桂、玄胡索各五分，水二鍾煎七分，食前稍熱服。</p>
<p>氣虛多汗加人參一二錢、黃耆一錢。汗多而渴加參一二錢　麥冬二錢五分　五味子八粒。</p>
<p>如大便燥結十日以上，肛門必有燥糞，用蜜棗導之。蜜煎褐色成膏，入水成棗，入肛門，其燥糞自化而出。或用蠟燭一支插入亦能化。</p>
<p>又方：用麻油口含，竹管入肛門內，吹油入四五口，腹中屎和即通。豬膽一個，竹管照前插入亦可。</p>
<p>產後妄言妄見，由氣血大虛，精奪神昏，妄所有見，而妄言也。輕則夢中呢喃，重則不睡多言，又痰乘虛於中焦，以致五官各失其職，視聽言動皆有虛妄，勿認鬼邪，誤用符水以致不救，丹溪云：虛症猶似邪崇也。屢治此症（服藥數多見效）。</p>
<p><u>加味生化安神湯方</u></p>
<p>治產後三日內血塊未除，患妄言妄見，服此三四帖後加減。</p>
<p>川芎（二錢）　當歸（四錢）　茯苓（一錢）　甘草（四分）　乾薑（四分）　棗仁（一錢）　桃仁（十粒）　大棗（二枚）</p>
<p>水二鍾，煎六分，食遠服。</p>
<p><u>益榮安神湯方</u></p>
<p>治三日內外，血塊不痛，妄見妄言症虛極。服藥但平穩未見大效，候藥力充足，諸症頓除。曾服二十帖多見全效。</p>
<p>川芎（一錢五分）　當歸（三錢）　茯苓　人參　柏子仁（各一錢）　棗仁（一錢）　甘草（五分）　龍眼肉（八個）　陳皮（去白，三分）　竹肉（二丸）</p>
<p>汗加黃耆一錢、麻黃根一錢；瀉加白朮一錢五分；痰加竹瀝一小酒盞，薑汁一茶匙；大便不通加麻仁一錢五分，切不可用大黃。</p>
<p>產後育子乳少，無錢雇乳母，勉強乳子，致母子俱疲瘁，日食減少者，急急斷乳，速服後方。</p>
<p>川芎　當歸　黃耆　麥冬　茯苓（以上各一錢）　炙甘草（五分）　五味子（十五粒）　人參（二錢）　大熟地　白朮（各二錢）　陳皮（四分）　棗（二枚）</p>
<p>水二鍾，煎六分。</p>
<p>若發熱兼作骨蒸，兼服紫河車丸。驚怖有汗，加棗仁一錢。</p>
<p>產後乳母生癰，已破出膿，寒熱往來如瘧，一日一發，或二三次，或二日一發，不可作瘧治，不可全用攻毒消癰藥，又不可用截瘧等藥，當補氣血，少佐金銀花去毒之劑，以散餘邪。</p>
<p>黃耆　金銀花　茯苓（各一錢）　人參　白朮　生地（各二錢）　甘草　連翹（各四錢）　當歸（二錢）　青皮（三分）　白芷（五分）　烏梅（一個）　棗（一枚）</p>
<p>水二鍾煎服。</p>

<h2>十弊論</h2>
<p>產後鄉曲習弊有十</p>
<p>一、產畢勿食牛羊、豬肉、鵝蛋、雞蛋、鴨蛋、麵食，方產畢大虛難克化。</p>
<p>二、勿即食涼粉、綠豆粉、粥阿汁、蕎麥麵食。</p>
<p>三、勿用胡椒、艾、酒，血塊雖得熱流通，新血不寧。</p>
<p>四、俗用姜數斤，以消血塊，不知發熱妄血，以致危症。</p>
<p>五、勿食梨、藕、橙柑、冷果，及冷茶、冷水，以致血塊凝結。</p>
<p>六、勿食橙丁橘、干餅、枳殼、香砂等丸，多損血氣。</p>
<p>七、七日內勿梳頭以勞神，毋勉強起早以冒風寒。</p>
<p>八、月內勿多言並勞女工。</p>
<p>九、暑月勿用涼水洗手足。</p>
<p>十、大暑用小衣烘熱，常溫腹內，冷則血痛凝結久，雖藥不行。</p>

<h2>產後用藥十誤</h2>
<p>一、產後誤用烏藥、木香耗氣順氣藥，反增滿悶，雖陳皮用，不可至五分以上，慎之。</p>
<p>二、誤用青皮、山楂、枳殼、陳皮消食藥，多損胃減食，不進飲食。戒。</p>
<p>三、身熱誤用黃耆、黃連、梔子、黃柏，損胃增熱，致不進飲食。</p>
<p>四、四日內未服生化湯以消血塊，勿先用人參、耆、術，致塊不除。</p>
<p>五、不可輕用生地黃，以滯血路，勿獨用枳殼、枳實、牛膝以消塊。</p>
<p>六、不可用大黃、芒硝以通大便，起瀉以成膨脹。</p>
<p>七、不可用三稜、蓬朮、牛膝等以行血塊，新血亦損。</p>
<p>八、俗用山楂一味煎汁，以攻血塊，致成危症，每每不知。</p>
<p>九、勿用濟坤丹二三丸，以下胞胎。</p>
<p>十、勿信《產寶百問》及《婦人良方》。</p>
<p>世人多用《婦人良方》及《百問》之書，內成方以醫產婦，耑用芎、歸、白芍、生地，誤人甚矣。</p>

<h2>既產調護法</h2>
<p>產畢未可上床，兩人扶住，令人從心下輕輕揉按至臍腹門十五六次，此後雖睡，時時按之，血路不滯。</p>
<p>腹中用小衣烘熱溫之，雖暑月不可單被，腹寒則血塊不行且作痛。</p>
<p>產後兒下地，即服生化湯二帖，三煎。</p>
<p>兒下而衣不下，要蓋護產母下部，冬月用火於被下，腹中用熱衣溫之要緊，又多服生化湯、益母丸、下胎衣丸。</p>
<p>產母虛甚，須燒磚石秤墜，以防血暈。</p>
<p>產下地，即服生化湯一帖。如肚飢甚，即吃白粥一盞，不可太飽，過一時後，又服生化湯。如未進飲食，必速服生化湯兩帖，三煎，頭煎後，二服兩帖，併為一煎完，進飲食甚好。</p>
<p>百二十日內，不可勞力過度。</p>
<p>七日內，切不可洗下部。七日外，方可下床溫水坐洗，滿月後，方可梳頭洗浴。</p>
<p>冬末春初，天氣凝寒，宜謹閉窗戶四圍，置火常令暖氣熏蒸，而且下部不可去棉，方免胎寒血結，以致難產胞停也。</p>
<p>七日內外，緊遮陰戶，勿使進風。</p>
<p><u>加味濟坤大造丸方</u></p>
<p>婦人服之，益氣血，溫子宮，種子奇方。</p>
<p>紫河車一個，須壯盛婦人頭胎者，洗去血盡，用砂罐隔篾四五根，用蒲包，剪下底，承胞下，用白酒蒸熟，不可著酒。</p>
<p>人參（一兩五錢）　當歸（二兩）　生地（二兩，酒洗蒸熟）　山藥（一兩）　黃柏（八錢，酒炒褐色）　麥冬（一兩五錢，去心）　五味子（五分）　天冬（一兩，去心）　杜仲（八錢，薑、酒炒去絲）　牛膝（酒浸，一兩）</p>
<p>虛弱多汗潮熱，加黃耆一兩，地骨皮一兩，知母二兩：脾胃弱久瀉，加白朮一兩，蓮肉二兩，（去心）：血少，驚怖少睡，加棗仁一兩（炒），龍眼肉二兩。</p>
<p>以上共為末，搗紫河車為丸，空心送六七十丸。</p>

<h2>女金丹方</h2>
<p>女金丹，一名勝金丹。又名保坤丸。又名濟陰丹。</p>
<p>金華香附（一斤，揀淨，童便浸十日足，清水淘淨曬乾，砂鍋炒黃）　桂心五錢　當歸身　白芍藥　白薇　白茯苓　白芷　丹皮　人參　甘草　玄胡索　川芎　藁本　白朮　沒藥　赤石脂（火煅醋淬七次，後二味不酒浸）。</p>
<p>以上各一兩，用老酒拌，悶一刻，曬乾。同前香附為細末，煉蜜為丸，每丸重二錢，硃砂為衣，照引服。</p>
<p>婦人臨產，清水湯調服一丸，助精神，壯氣力，分娩自然順利。難產用二丸，即產下。童便好酒調服一丸，神清體健，無血崩之患。每日服一丸，過五日或十餘日，氣血完固，自無他病。血崩者，童便和滾水調服一丸，用至二三丸即止。</p>
<p>血暈者，川芎當歸煎湯，調服一丸，用至二三丸即醒。</p>
<p>驚風者，防風煎湯，調服一丸，用至二三丸即解。兒枕痛者，山楂煎湯和沙糖少許，調服一丸，用至二三丸即定。</p>
<p>嘔吐者，淡薑湯，調服一丸，用至二三丸，即止。</p>
<p>胞衣不下，乾薑炒黑煎湯，調服一二丸，即下。</p>
<p>產下四五日後調理者，用滾湯服一丸。</p>
<p>虛怯者，每周滾湯服一丸，服一月全愈。</p>
<p>胎下不安者，滾湯調服一丸，睡半日，其胎即安。受孕後連服不輟，保全足月，分娩無憂。</p>
<p>不受孕者，滾湯調服一丸至一月，必然有孕。</p>

<h1>下卷</h1>
<p>仲貽胡公經驗廣育神方原序（系越水葉老人原傳）。</p>
<p>蓋人無子嗣，非僅絕繼述，而祖宗禋祀，即因以斬，不孝之罪，莫大於是。予花甲已周，子嗣維艱，即或受孕，俱未成實，無神不求，無藥不服，而終無效驗。意謂天數已定，人事固不可倖回也。自此心灰絕望矣。忽遇異人授以廣育之方，並可轉女成男。依法試之，果得生男。夫以垂暮之年，而獲意外之子，非仙方能若是其立效乎！切思良方奇驗，不當自秘，爰立願付梓以公世人，倘有艱於子嗣者，藥可以成孕，法可以成男。依此行之，必獲麟兒之兆，豈曰小補之哉！</p>

<h2>胡仲貽廣育神效</h2>
<p><u>調經種玉方</u>（百發百中）</p>
<p>當歸（酒洗）　吳茱萸（炒）　川芎（各四錢）　香附（炒）　熟地（各六錢）　白芍（酒炒）　白茯苓（即皮）　丹皮　玄胡索　陳皮（各三錢）</p>
<p>若過期而經水色淡者，乃血虛有寒。加官桂（炒），乾薑、熟艾各二錢；若先期三五日而色紫者，加條芩三錢。</p>
<p>上銼作四劑，每劑用生薑三片，水一碗半，煎至一碗，空心溫服。渣再煎，臨臥服。待經至之日服起，一日一服，經盡藥止，則當交媾即成孕矣。縱未成孕，經當對期，經來再服四劑，必孕無疑矣。</p>

<h2>保產經驗奇方</h2>
<p>凡入諸病皆可醫療，惟婦人生產性命懸於頃刻，一有凶厄，雖名醫無所措手足，只因產婦未生之前，或身體壯勝，氣逆不順；或形體虛弱，血少不充，以致有橫生逆生之患。及嬰兒甫產時，新血未生，舊血未去，有隨進米粥等物，必致氣血凝滯，昏暈傷生。殊可悼惜。予留心保產數十餘方，從未有神效。如此二方者，一名達生湯，在懷孕九月之後，連服數帖，生兒如羊子之易。一名生化湯，在嬰兒落地時，連服二三帖，全無昏暈、腹痛諸症，其藥須預先如法制備，一覺便煎，一生便服．二方所費無多，幸同志君子，或施藥，或傳方，則陰功無量矣。</p>
<p><u>達生湯</u></p>
<p>川歸（一錢五分，酒洗）　川芎（六分）　益母草（一錢，不犯鐵器）　車前子（五分，炒，研末）　白朮（一錢，米泔浸，炒）　冬葵子（一錢，炒，研碎）　大腹皮（四分，遠水洗數次）　木香（三分，研末衝入）　生牛膝（六分，酒洗隔一宿）　枳殼（五分，麩炒）　炙甘（三分）</p>
<p>加生薑一片，水二鍾，煎八分，食後溫服。</p>
<p>如腹覺痛加白芷、沉香各五分，同煎服。</p>
<p><u>生化湯</u>（產後服）</p>
<p>當歸（八錢，酒洗）　川芎（四錢）　桃仁（十粒，去皮尖）　乾薑（五分，炙黑色存性）　炙甘草（五分）</p>
<p>水二鍾，加好陳酒六七匙，煎一鍾，在甫產時未進飲食之先，服二三帖，不論正產小產皆宜服之。或臨產稍遲，先服一帖更妙。弗聽庸醫加減。</p>
<p>經以對月為準，然亦有準而不孕者，其氣亦只照常運行耳，是必令其服溫補之劑，使其先期一二日，是月合之即孕。蓋血非氣盛勿先而氣非溫補勿盛也。調鼎之法，惟令血氣自和耳，乃世多稱子宮虛冷。服艾附等熱藥者，不知熱藥能令火熾血燥、猶如盛夏向爐，非徒無益也。</p>
<p>經不及期之因有二，或氣不能衛血，或血患乾燥熱。後期之因有二，或血不能運氣，或氣不能達血。但瘦人多是血虛，肥人或是痰火，又不可不酌，用清痰降火之劑也。</p>
<p>經色淺淡之因有二，或虛或痰。經色紫黑之因有二，或熱或痰。經行作痛之因有二，將來而作痛是氣滯；行後而作痛是血虛。然又有氣血並虛者，蓋氣虛則無力健運，血虛則經脈否澀也。女精之媾，其樂也倍於男，其損也亦倍於男。愚蠢之婦不自知伶俐之男，亦不易察也。或氣喘，或舌冷，或頰熱，自有一種藹然濃郁氤氳熏蒸蘇蘇不可形容之狀。只呼吸之間當彼欲脫未脫之際，而我急投之，令其中有餘不盡之味，無不入殼者也。</p>
<p>挑戰之法，惟有淺嘗，至於戰酣，呼吸之時，尤不宜深。古詩云：洞里桃花何處尋，原來一寸二分深，是的竅也。然鼎體之修而肥者必稍深，癯而短者必稍淺，是又不無分別，總之飛於淺則射有八處，而深則有扺格而未必中竅，是自然之理耳，婦人調養得宜，血氣壯盛，久不逢男，必偶有一時欲動，興發怡然，欲合難忍之狀，甚而腮紅面熱，神思昏迷，此時以壯陽投之，萬萬無不得當。第彼含羞不言，我亦無由探知，或我知而又無壯陽應之耳，是必明喻以欲子之故。或偶肯吐露，然非平日調撫愛護，何能令其浹洽，用此一段精神，亦丈夫所不易易也。</p>
<p>自女子二七天癸初至之時，以至七七斷經之候，編就立成。凡欲種子得男者，依期行之，萬無一失。但立成中所云歲者，以生日為準。人必交生日，乃為此一歲也。所云月者，以節氣為準，時必交此節，乃為此一月也。又中有狀字非孕而不固，必產而不收，或收而不永，尤有奇驗。夫調鼎而施功，不妄投於無用之地，當期而發，又不空棄於產女之時，如是則自然寡欲。豈徒為生子秘訣，亦延年卻病之真詮也。</p>
<p><u>種子</u>　於單年單月便生男，雙年雙月即是兒，若還不依天地法，欲求生男偏是女。</p>
<p><u>孕推男女法</u>　四十九數加孕月，減行年歲定無疑。一除至九多餘數，逢雙是女只生兒。</p>
<p><u>法曰</u>　：置四十九加孕月八共五十七，減年二十八餘二十九，減天除一，地除二，人除三，四時除四，五行除五，六律除六，七星除七，不盡之數奇為男，偶為女也。如數多再以八風除八。</p>
<p><u>男子種子仙棗二方</u>（香山縣蔣令傳，該縣七十老人服之連生三子）</p>
<p>杜仲（一兩，薑汁炒）　菟絲子（六兩，水洗）　當歸（二兩，酒洗）　大附子（三錢）　黃柏（一兩，蜜炙）　知母（一兩）　遠志肉（一兩）　肉蓯蓉（一兩，酒洗）　茯苓（一兩）　熟地（二兩，酒洗）　枸杞子（一兩）　小茴香（五錢）　淫羊藿（二兩，去枝葉邊刺羊油炒，酒亦可）</p>
<p>以上各藥如法炮製，入瓦罐內上放，揀淨黑棗三斤，加水滿過棗，微火煮乾去藥，收棗煎汁曬乾，藏於磁瓶，勿令泄氣，每早空心服五七枚，開水送下（可勻服月餘）。</p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p><u>婦人服用方</u></p>
<p>當歸（二兩）　生地（二兩）　紅花（五錢）　蘇子（五錢）　艾葉（二兩）　韭子（二兩）　香附（二兩，醋炒）</p>
<p>用黑棗二斤照前煮法，於半熟時加白芍一兩，香附（醋炒四次）二兩，於棗上煮好，去底面之藥，亦照前法曬藏，每早空心服三五枚，亦勻服月餘。</p>
<p>以上二樣仙棗，男女同服同止，不但保養月餘，種子神驗，且能百病消除，萬驗萬應。真仙方也。</p>
<p><u>四奇毓麟丸</u></p>
<p>粉龍骨（用五色者陰陽瓦煅，一錢）　陽起石（見太陽飛動者真，三錢）　白芷（用銅器焙乾，黃色者佳，三錢）　蓖麻（去殼用子，去淨油，四十九粒）　黃春季桂（乾研極細末，五錢）　砂仁（去殼乾炒，酒洗淨，焙，一錢）　鬧楊花（焙，研末，一錢）　參蘆（研細末，五錢）　枸杞子（去核淨肉炒，研末，一錢）　麝香（曬乾研末，一錢）　紫梢花（色潤紫者佳，一錢）　北細辛（水泡一夜，炒乾研末，三錢）　肉蓯蓉（紅色者佳，稍焙乾研末，一錢）　真肉桂（去皮研細，二錢）　旱地浮萍（肥大者佳，用淨葉，二錢）　吳茱萸（醋炒一夜炒乾，二錢）　石榴皮（陰陽瓦焙乾、研極細末，一錢）　川椒（開口者佳，研末，一錢）　真鴉片膏（一錢）　瑣陽（醋洗淨，三錢）　象皮（研末，一錢）</p>
<p>上藥二十一味各研極細末，稱足，用半生蜜為丸如龍眼核大，外用丁香油為衣，再加蠟殼，每遇紅盡之日去殼，將丸放入戶內約一頓飯時，藥化可行，無不靈驗。</p>

<h2>山陰倪涵初治痢奇效三方</h2>
<p>痢為險惡之症，生死所關，不惟時醫治之失宜，而古今治法千家，多不得其道，是以不能速收全效。今立方何以為奇，不濕成法故奇也。立論何以為妙，不膠成說，故妙也。然其藥品又不外乎常用，而已有識者，切不可更張，勿為庸醫所誤，遵而用之，百試百效者也。</p>
<p><u>初起煎方</u></p>
<p>川黃連（去蘆，一錢二分）　條黃芩（一錢二分）　白芍藥（一錢二分）　山楂肉（一錢二分）　陳枳殼（去穰，八分）　紫厚朴（去皮八分，薑汁拌炒）　堅檳榔（八分）　厚青皮（去穰，八分）　當歸（五分）　甘草（五分）　地榆（五分）　紅花（酒炒，三分）　桃仁（去皮尖，一錢，研如粉）　南木香（二分）</p>
<p>上咀片，如法炮製，用水二碗煎一碗，空心服。渣再煎服。此中或紅或白，裡急後重，身熱腹痛者俱可服。如單白者，去地榆、桃仁，加橘紅四分，木香三分；如滯澀甚，或大黃二錢，用酒拌炒，服一二劑仍除之。若用一劑，滯澀已去，不必又用二劑矣。用大黃於年幼之人，又不可拘用二錢也。上方用之三五日神效，用之於旬日亦效，惟十日半月外，則當加減矣。另詳於下。</p>
<p><u>加減煎方</u></p>
<p>川黃連（酒炒，六分，生用四分）　條黃芩（酒炒，六分，生用四分）　山楂肉（一錢）　大白芍藥（酒炒，六分，生用四分）　廣橘紅（四分）　厚青皮（四分）　堅檳榔（四分）　甘草（炙，三分，生二分）　當歸（五分）　地榆（四分）　桃仁粉（六分）　紅花（三分）　木香（二分）</p>
<p>上咀片，如法炮製，用水二碗煎一碗，空心服。渣再煎服。如延至月餘覺脾胃弱而虛滑者，法當補理，具法如下：</p>
<p><u>補理煎方</u></p>
<p>川黃連（酒炒，六分）　條黃芩（酒炒，六分）　大白芍（酒炒，四分）　廣橘紅（六分）　當歸（五分）　人參（五分）　白朮（土炒，五分）　炙甘草（五分）</p>
<p>上咀片，如法炮製，用水煎，空心服。渣再煎服。以上三方，如婦人有胎者，去桃仁、紅花、檳榔。以上三方，隨用輒效。其有不效者，必初時投參朮等補劑太早，補塞邪氣在內，久而正氣己虛，邪氣益盛纏綿不已，欲補而澀之則助邪，欲清而疏之則愈滑，遂至於不可救。藥雖有奇方，無如之何！則初投溫補殺之也。</p>

<h2>微理妙論</h2>
<p>古今治痢，皆曰熱則清之，寒則溫之，初起熱盛則下之，有表症則汗之，小便赤澀則分利之，此五者舉世信用如規矩準繩，不可易。予謂五者惟清熱一法無忌，余則犯四大忌，不可用也，今詳於後。</p>
<p><u>一曰忌溫補</u></p>
<p>痢之為病由於濕熱蘊積，膠滯於腸胃中而發也。宜清邪熱，導滯氣，行瘀血，其病即去。若用參朮等溫補之藥，則熱愈熱，氣愈滯，而血亦凝，久之正氣虛，邪氣盛，不可療矣。此投溫補之禍為最烈也。</p>
<p><u>一曰忌大下</u></p>
<p>痢因邪熱膠滯腸胃而成，與溝渠壅塞相似，惟用磨利疏通則愈。若用承氣湯大下之，譬如欲清壅塞之渠，而注狂瀾之水，壅塞必不可去，無不岸崩堤塌矣。治痢而大下之，膠滯必不可去，徒傷胃氣，損元氣而已。正氣傷損，邪氣不可除，壯者猶可，弱者危矣。</p>
<p><u>一曰忌發汗</u></p>
<p>痢者頭痛目眩，身發寒熱者，此非外感，乃因毒熏蒸自內達外，雖有表症，實非表邪也。若發汗則正氣既耗，邪氣益肆。且風劑燥熱愈助熱邪，表虛於外，邪熾於內、鮮不斃矣。</p>
<p><u>一曰忌分利</u>　利小便者，治水瀉之良法也。以之治痢則大千矣。痢因邪熱交滯，津液枯澀而成。若用五苓等劑分利其水，則津液愈枯，而澀愈甚，遂至纏綿不己，則分利之為害也。若清熱導滯，則痢自愈，而小便自清，又安用分利為哉。</p>

<h2>山陰倪涵初治瘧奇效三方</h2>
<p>瘧之為害，南人患之北人尤甚，弱者患之強者尤甚。雖不致遽傷大命，然不治則發無已時，治之不得其道，則惡邪內伏，正氣日虛，久而久之遂不可藥。予所定三方甚為平易。無奇絕不入常山、草果等劫劑，且不必分陽瘧陰瘧，一日、二日、三日及非時瘧。人無老幼，病無久近，此三方不用加減，唯按次第服之，無不應手而愈也。</p>
<p><u>第一方</u></p>
<p>廣陳皮（一錢）　陳半夏（薑汁煮透，一錢）　白茯苓（一錢）　威靈仙（一錢）　蒼朮（米泔水浸一日，切，炒淨，八分）　紫厚朴（薑汁拌炒，八分）　柴胡（八分）　青皮（六分）　檳榔（六分）　炙甘草（三分）</p>
<p>上咀片，如法炮製，加姜三片，井水、河水各一鍾，煎九分，飢時服，渣再煎服。如頭痛加白芷一錢，此方平腸消痰，理氣除濕，有疏導開先之功。受病輕者，二劑即愈，勿再藥可也。若三劑後病勢雖減而不全愈，必用第二方，少則三劑，多則五劑而已。</p>
<p><u>第二方</u></p>
<p>何首烏（生用三錢）　廣陳皮（八分）　柴胡（八分）　白茯苓（八分）　黃芩（八分）　白朮（炒，一錢）　當歸（一錢）　威靈仙（一錢）　鱉甲（醋炙脆，研粉，二錢）　知母（二錢）　甘草（炙，三分）</p>
<p>上藥加姜三片，井水、河水各一鍾，煎八分，加無灰酒五分，再煎一滾，空心服。二煎、三煎並服。此方妙在補瀉互用，虛實得宜。不用人參、黃耆。屏云常山、草果平平無奇卻有神效，即極弱之人纏□□□病，十劑後立有起色，立奏萬全。所云加減一二即不靈應者，正此方也。</p>
<p><u>第三方</u></p>
<p>人參（一錢）　黃耆（蜜炙，一錢二分）　當歸（一錢二分）　白朮（炒，一錢）　廣陳皮（八分）　甘草（炙，三分）　柴胡（八分）　升麻（四分，或加何首烏二錢）　知母（炒，一錢，或加青蒿子八分、麥芽一錢）</p>
<p>上藥加姜一片，棗一枚，水二鍾，煎八分，半飢時服，用三五劑元氣充實，永不發矣。方雖有三，第二實為主方，既不刻削亦不峻補，功獨歸之其第三方，耑為有力者設貧家，安得有參，只多服第二方可也。</p>

<h2>秘傳治吐血神效方</h2>
<p>好肉桂（五分）　當歸（七分）　桔梗（一錢）　川鬱金（八分）　枳殼（七分）　大黃（八分）　厚朴（八分，薑汁炒）　真紫蘇子（八分，炒研）</p>
<p>水一碗，煎六分，另加童便半盞，薑汁二茶匙，服二劑，又照後方服。</p>
<p>川貝母（一錢，去心）　茯神（七分）　赤芍藥（七分）　益母草（三錢）　山藥（四分）　續斷（一錢）　麥冬（一錢，去心）　遠志（六分，去骨）　丹參（七分）</p>
<p>此方出自秘傳已經萬試萬驗，其效如神，救人無數。凡仁人君子見此方而能廣傳播者，積德寧有量哉！</p>
<p>此二方不論男女，遠年近日，各種吐血，只要現吐之日，先服前方兩劑，隨服後方十劑，無不立時全愈，永不再發。斷不可服一切寒涼之藥，如從前誤服涼藥，以致寒血凝滯者，服完此十二劑之後，皆已陸續咳吐聲盡。不必再服，自然全愈，或身體虛弱另服六味地黃丸一斤，每日清晨以淡鹽湯送下四五錢，或空咳不止，服健脾丸即愈。</p>

<h2>洗眼仙方</h2>
<p>山西太原李守雙目不明十九年，仙授神方。用皮硝六錢，清水一茶杯，煎至七分，不論風火瞽目野土犯眼俱可洗，既得此方七年內洗好九十餘人，嗣大同府張遠騰之妻雙目不明，依方洗之三月即明。洗眼之日最忌蔥、韭、大蒜。務要誠心淨手焚香，洗眼日期開後。</p>
<p>正月初五、二月初一、三月初三、四月初五、五月初五、六月初四、七月初二、八月初一、九月十一、十月十三、十一月初四、十二月初四，余於二十年前即知此方之功效神奇，少年好眼用之，不但終身無疾，至老而目力一如童子。</p>
