<header data-type="book">
<h1>幼科類萃</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王鑾</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1534">公元1534年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫之為科也十有三而最難者莫如小兒蓋小兒筋骨未堅脈息未完神氣未全問之而弗能言診之而未易決是故謂之啞科書曰若保赤子言保之之難也老子曰聖人皆孩之言孩之之不易也黃帝曰吾不能察其幼小者言幼小之難察也慨自顱囟經亡而童孺之夭者多矣世之稱小兒醫者曰錢仲陽陳文中李檉董汲棲真子漢東王氏皆有顯名於一時然未免囿於準繩尺度之中而乏超然自得之見求其推移變化卒與法合譬如珠之走盤而不出於盤惟錢仲陽一人而已夷考仲陽當宋神宗時為太醫丞素難奧旨無所不窺乃建立五臟之方各隨所宜用之謂肝有相火則有瀉而無補腎為真水則有補而無瀉可謂抽金匱玉函之秘而得內經之髓者矣惜其遺書散亡出於門人閻孝忠之所裒輯者非仲陽之本意也幼科類萃不著纂者姓名觀其引用諸家之說蓋近時醫工為之者治河大中丞松石劉公謂是書有保嬰活幼之功乃命開封郡守南宮白俠刊而布馬憲副⿰牜亶山胡君實力贊之昔程伯子有言一命之士苟存心於愛物於人必有所濟斯刻也其諸利民惠物之心形於疏浚之餘者歟</p>
<p><u>嘉靖十三年甲午冬十一月朔嵩渚李濂書</u></p>

<h1>卷之一</h1>

<h2>論小兒受胎稟賦厚薄不同</h2>
<p>千金論曰兒在母腹中受其精氣一月胚二月胎三月血脈四月形體成五月能動六月筋骨成七月毛髮生八月臟腑具九月穀神入胃十月百神備而生生後六十日瞳子成能笑語識人百日任脈生能反覆一百八十日尻骨成能獨立二百一十日掌骨成能匍匐三百日髕骨成能獨倚三百六十日為一期滕骨成乃能移步此是常足之法不如此者身不平爾又云才生下有身破裂者必死陰囊白者必死陰不起者必死無糞門者必死股間無生肉者必死忽如鴉聲者必死其周歲之間顱囟間解齒髮未生手足攣縮膝如鶴即身體瘦瘠或四五歲不能行立此皆受胎氣之不足者也若筋實則多力骨實則卑行血實則形瘦多發肉實則少病精實則伶利多語笑不怕寒暑氣實則少發而體肥此皆受胎氣之充足者也大抵稟賦得中道為純粹陰陽得所則柔兼濟氣血相和百脈相順精備神全臟腑充實形體壯健其未周之時顱囟堅合睛黑神清口方背厚骨粗臀滿臍深肚軟莖小卵大齒細發潤聲洪穩睡此皆受胎氣之得中和者也以故聽其聲觀其形則可以知其虛實壽夭矣</p>

<h2>論妊婦不守禁忌生兒多疾之戒</h2>
<p>全幼心鑑云常見富貴之家懷妊婦人居於奧室飢則辛酸無所不食飽則恣意坐臥不勞力不運動是以胎氣微弱生子必軟而多疾若夫起居有常飲食有節使神全氣和受胎常安生子必偉而少疾丹溪云往往胎孕致病人多翫忽醫所不知兒之在胎與母同體得熱則俱熱得寒則俱寒病則俱病安則俱安母之飲食起居可不慎哉姑陳一二以為規戒一子二歲滿頭有瘡一日瘡忽自平遂患痰喘詢其母孕時所喜何物曰辛辣熱物是其所喜知其為胎毒也慎勿與解利藥因口授一方用人參連翹川芎黃連甘草陳皮芍藥木通濃煎沸湯入竹瀝與之數日而安或曰何以知之曰見其子精神昏倦病受得深決無外感非胎毒而何又一婦人形瘦性急體本無熱懷孕三月適當夏暑口渴思水時發小熱遂教以四物湯加黃芩陳皮生甘草木通因懶於煎煮數帖而止其後生子二歲瘡痍遍身忽一日其瘡頓愈遂成痎瘧此亦胎毒也瘡若再作病必自安已而果然若於孕時確守前方何病之有又一女得癇遇陰雨則作遇驚亦作口吐涎沫聲如羊鳴此胎受驚也其病深痼調治半年病亦可安仍須淡味以助藥功與燒丹丸繼以四物湯入黃連隨時令加減果半年而安三者是皆胎婦調適乖常飲酒嗜欲忿怒驚撲母有所感胎必受之或外挾風邪有傷於胎子乘母氣生下多疾病患至此誠不能慎密之故也</p>

<h2>論服下部熱藥求子遺患之誤</h2>
<p>丹溪云鄭憲使子年十六生七個月後得淋病五七日必一作其發則大痛水道下如漆和粟者一盞方定脈之輕則澀重則弦視其形瘦而長青而蒼意其父必因服下部藥遺熱在胎留於子之命門而然遂以紫雪和黃柏末丸梧子大曬極乾熱湯下百丸半日又下二百丸食物壓之又半日痛大作連腰腹水道乃行下漆和粟者碗許痛減十之八後張子中與陳皮一兩桔梗木通各半兩又下合許而安父得燥熱尚能病子況母得之者乎書此以證紅絲瘤之事東垣云李叔和問中年以來得一子一歲之後身生紅絲瘤不救後四子皆病瘤而死何緣致此疾翌日思之謂曰汝乃腎中伏火精氣多有紅絲以氣相傳生子故有此疾俗名胎瘤是也汝試觀之果如其言遂以滋腎丸數服以瀉腎中火邪補真陰之不足忌酒辛熱之物其妻以六味地黃丸以養陰受胎五月之後以黃芩白朮作散與五七服後生子三歲前證不復作今已壯噫合觀以上所論則知其警戒深矣</p>

<h2>護養論</h2>
<p>小兒生長必欲人襁褓之襁褓之道必須得宜如春夏之月乃萬物生長之時宜教令地臥使之不逆生長之氣如秋冬之月乃萬物收藏之時宜就溫暖之處使之不逆收藏之氣然後血凝氣和則百病無自而入矣大抵衣不可太暖暖則汗出表虛風邪易入乳不可太飽飽則胃弱而易傷積滯難化格致餘論云童子不衣裘帛下體主陰得寒涼則陰易長得溫暖則陰暗消是以下體不與帛絹夾厚之服恐妨陰氣又小兒血氣俱盛食物易消腸胃尚脆而窄若稠黏乾硬酸鹹辛辣一切魚肉水果濕面燒炙煨炒但是發熱難化之物皆亦禁絕婦人無知畏其啼哭無所不與積成痼疾雖悔何及所以富貴驕養有子多疾何者蓋富貴之家久藏於幃帳之內重裀疊被令兒筋骨緩弱譬如陰地草木不見風日少有堅實者也誠非保育之法而田舍嬰兒未嘗愛護終日暴露或飢或寒絕無他病者此皆見風日著地氣之力也豈貴賤之理有異哉明乎此則護養之道得矣</p>

<h2>乳哺論</h2>
<p>初生芽兒藉乳為命乳哺之法不可不慎夫乳者榮血之所化也至於乳子之母尤宜謹節飲食下咽乳汁便通情欲動中乳汁便應病氣到乳汁必凝滯兒得此乳疾病立至不吐則瀉不瘡則熱或為口糜或為驚搐或為夜啼或為腹痛病之初來其溺必甚少便須詢問隨證調治母安則子安可消患於未形也</p>
<p>故哺乳夏不欲熱熱則致吐逆冬不欲寒寒則致咳痢母不欲怒怒則上氣顛狂母不欲醉醉則令身熱腹痛母方吐下而乳則致虛羸母有積熱而乳則變黃不能食新房而乳則瘦瘠交脛不能行新浴而乳則發吐哯神困傷熱乳則瀉黃傷冷乳則瀉青冷熱不調停積胸膈結為痰飲遂成壯熱吐熱不已乃作驚癇兒啼未定遽以乳哺氣逆不消因成乳癖懷妊而乳致令黃瘦腹大腳弱名曰魅病大胝乳哺不可太過故彥云嬰兒常病傷於飽也又云忍三分飢吃七分飽亦至論也</p>

<h2>下胎毒論</h2>
<p>東垣雲兒在母腹中十月之間隨母呼吸呼吸者陽氣也而生動作益滋精氣神飢則飲母血渴則飲母血兒隨日長皮肉血脈筋骨形氣俱足十月降生口中尚有惡血啼聲一發隨吸而下此惡血復歸命門胞中僻於一隅伏而不髮直至因內傷乳食濕熱之氣下流逆於肉理乃發為瘡疹也故方書皆云俟其分娩啼聲未發之時急用綿裹指拭去口中惡汁固是良法而倉卒之際或有不及者故有黃連法朱寮法甘草法用之殊佳但今之人比古者之人起居攝養大有不同竊恐稟受怯弱之兒不能禁此寒冷之劑若與服之必生異證或嘔乳糞青或痰嗽喘急或腹脹或驚悸如有里證鬱結壅閉不通欲下胎毒者只須用淡豆豉煎濃汁與三五口其毒自下又能助養脾氣也</p>

<h2>論小兒輕易服藥戒</h2>
<p>羅謙甫曰一小兒五月間因食傷冷粉腹中作痛遂於市藥鋪中贖得神芎丸服之臍腹漸加冷疼時發時止逾七八年不已因思古人云寒者熱之治寒以熱良醫不能廢其繩墨而更其道也據所傷之物寒也所攻之藥亦寒也重寒傷胃其為冷痛可知矣凡人之脾胃喜溫而惡冷況小兒血氣尚弱不任其寒故陽氣潛伏寒毒留連久而不除也治病必先其本當用和中養氣之藥以救前失服之月餘方愈嗚呼康子饋藥孔子拜而受之以未達不敢嘗此保生之重者也奈何常人拱默而令切脈以謂能知病否且脈者人之血氣附行經絡之間熱勝則脈疾寒勝則脈遲實則有力虛則無力至於所傷何物豈能別其形象乎醫者不可不審其病源而主家亦不可不說其病源且此子之父不以病源告醫而求藥於市鋪中發藥者亦不審病源而以藥付之以致七八年之病皆昧此理也孫真人云未診先問最為有準東垣云只圖愈疾不欲困醫二公之語其有功於世大矣</p>

<h2>慎擇乳母</h2>
<p>凡乳母稟賦之厚薄情性之緩急骨相之堅脆德行之善惡兒能速肖亢為關係殊不知漸染既久識性皆同猶接木之造化也故不可不擇也</p>

<h2>芽兒戒灸</h2>
<p>小兒初生世人多於頭額前髮際穴灸之蓋取其可以截風路也殊不知地有南北之分其河洛土地多寒兒生三日灸囟以防驚風固宜也今者東南土地多濕氣稟薄弱豈堪灸焫若執以關中地寒為論自取危困耳</p>

<h1>卷之二</h1>

<h2>小兒脈證總說</h2>
<p>湯氏曰凡看小兒疾病先觀形證神色而切脈次之欲別五臟各有所主須看稟受盈虧胎氣虛實陰陽冷熱之證補過瀉多當究其失五臟六腑表裡各有相應配對若能明其標本則神聖功巧自然得矣</p>

<h2>論五臟虛實所主</h2>
<p>錢氏曰心主驚實則叫哭發熱飲水而搐虛則困臥悸動不安心病多叫手足動搖驚悸心氣熱則心胸亦熱欲言不能而有就涼之意故合面臥心熱視其睡口中氣溫或合面睡及上竄搖頭咬牙皆心熱也導赤散主之心實則氣上下澀合臥則氣不通故喜仰臥則氣得上下通也瀉心湯主之</p>
<p>肝主風實則目直大叫呵欠項急煩悶虛則咬牙多欠氣熱則外生氣溫則內生肝熱手尋衣領及亂捻物肝有風目連札不搐得心熱則搐治肝瀉青丸治心導赤散肝熱甚身反張直不搐治與有風同凡病或新或久皆引肝風風動而止於頭目連札也若熱入目牽其筋脈兩眥俱緊不能轉視故目直也若得心熱則搐以其子母俱有實熱風火相搏故也</p>
<p>潔古曰肝主謀勇熱則尋衣捻物目連札直視不能轉視或極則身反強直折皆風熱也目者肝之竅肝屬木木性急故如此也</p>
<p>錢氏曰脾主困病則困睡泄瀉不思乳飲實則困睡身熱飲水虛則吐瀉生風</p>
<p>錢氏曰肺主喘實則悶亂喘促有飲水者有不飲水者虛則硬氣長出氣肺熱手掐眉目鼻面肺盛復有風冷胸滿短氣氣急喘嗽上氣當先散肺熱後散風冷肺只傷寒則不胸滿肺虛熱唇深紅色治之散虛熱肺臟怯唇白色當補若悶亂氣粗喘促哽氣者難治肺虛損故也脾肺病久則虛而唇白脾者肺之母也母子皆虛不能相營故名曰怯肺主唇唇白而澤者吉白如枯骨者死</p>
<p>潔古曰肺主氣燥熱則壯熱飲水喘悶鼻乾燥手捫眉面瀉白散主之胸滿短氣氣急喘嗽上氣皆是肺氣有餘復感風邪之所傷謂之微邪先瀉而後發散之</p>
<p>錢氏曰腎主虛無實也惟瘡疹腎實則黑陷腎虛兒本虛怯由胎氣不成則神不足目中白睛多其顱即解自開也面色㿠白此皆難養不過八八之數若恣色欲多不及四旬而亡或有因病而致腎虛者非也又腎氣不足則下竄蓋骨重惟欲墜下而縮身也腎水陰也腎虛則畏明宜補之</p>
<p>潔古曰下竄者腎氣不足兩足熱不喜衣覆足然此者臍以下皆腎之所主緣心氣下行於腎部也此乃腎不足而心有餘宜地黃丸主之</p>

<h2>論五臟相勝虛實之邪</h2>
<p>錢氏曰肝臟病見秋木旺肝強勝肺也宜補肺瀉肝輕者肝病退重者唇白而死</p>
<p>肺病見春金旺肺強勝肝當瀉肺輕者肺病退重者必發驚更有赤者當搐為肝怯當目淡青色也</p>
<p>心病見冬火旺心強勝腎當補腎治心輕者心病退重者下竄不語腎怯虛也</p>
<p>腎病見夏水勝火腎勝心也當瀉腎輕者腎病退重者悸動當搐也</p>
<p>脾病見四傍皆仿此治之順者易治逆者難治脾怯面目赤黃五臟相反隨證治之</p>
<p>如肺病又見肝證咬牙多呵欠者易治肝虛不勝肺故也若目直大叫哭項急煩悶者難治蓋肺病久則虛冷肝強實而反勝肺也視病之邪久虛實虛則補母實則瀉子</p>
<p>潔古曰肝勝肺則肝病。肝病發搐又見肺虛喘而氣短病見於申酉戌時是者異強也內經云受所制而不能制謂之真強法當補脾肺而瀉肝導赤散瀉黃散主之</p>
<p>按劉宗厚云此皆五臟相勝病機不離五行生剋制化之理者蓋小兒初生襁褓未有七情六慾只是形體脆弱血氣未定臟腑精神未完所以有臟氣虛實勝乘之病但世俗不審此理往往遇是率指為外感內傷而用藥致枉死者多矣悲夫矧錢氏論脫略幸而潔古補之今特參附誠所謂無窮之惠也</p>

<h2>論五臟子母虛實鬼賊微正</h2>
<p>潔古曰在前者為實邪子能令母實拒賊傷於母其子又引母所克者妻來相助故曰實邪也在後者為虛邪母引子之鬼賊至由母能使子虛也內經雲子能令母實母能令子虛此之謂也</p>
<p>妻來乘夫為微邪夫來乘妻為賊邪法當瀉鬼補本臟本臟自病為正邪當虛則補之實則瀉之內經云滋苗者必固其根伐下者必枯其上逆其根伐其本則敗其真矣</p>
<p>按劉宗厚云此五行生剋之道論也義見難經五十難及後五臟補瀉治要論宜參考之</p>

<h2>論五臟補瀉之法</h2>
<p>潔古云心主熱自病或大熱瀉心湯主之實則煩熱黃連瀉心湯主之虛則驚悸生犀湯主之</p>
<p>肺乘心微邪喘而壯熱瀉白散主之</p>
<p>肺乘心虛邪風熱煎大青膏下大青丸</p>
<p>脾乘心賊邪恐怖惡寒安神丸主之</p>
<p>按劉宗厚云乘者猶車乘之乘也大抵五臟之病相乘伏匿隱顯莫測以上但言本病乘勝之道故以五臟治要附於下宜參考焉</p>
<p>凡心臟得病必先調其肝腎兩臟腎者心之鬼肝氣通則心氣和肝氣滯則心氣乏此心病先求於肝清其源也五臟受病必先傳其所勝水能勝火則腎之受邪必傳於心故先治其腎遂其邪也故當退腎氣益肝氣兩方或診其脈肝腎兩臟俱和而心自生疾然後審其心家虛實治之</p>
<p>肺主燥自病則喘嗽燥則潤之實則喘而氣盛瀉白散虛則喘而少氣先益黃散而後阿膠散</p>
<p>心乘肺賊邪熱而喘嗽先地黃丸中導赤散後阿膠散主之</p>
<p>肝乘肺微邪惡風眩冒昏憒嗽羌活膏主之</p>
<p>腎乘肺實邪增寒嗽清利百部丸主之</p>
<p>脾乘肺虛邪體重吐痰泄瀉人參白朮散主之</p>
<p>凡肺之得病必先觀心之虛實若心火炎盛鑠金即當先益心氣後吃肺藥若心氣和即便看脾脈若脾氣虛冷卻不能相生而肺家生氣不足則風邪易感故患肺寒者皆脾虛得之若脾氣盛實則亦痞隔中焦而大腸與肺表裡不能相通夫中焦熱隔則肺與大腸不通其熱毒之氣必上蒸於肺而生痰故患肺熱者多脾實得之心氣盛者瀉之脾氣虛者益之脾氣實者通之然後隨其肺之寒熱以治之故有抑心氣益脾氣通肺氣三藥若診其脈氣心脾兩臟俱和而肺自生疾則但察肺家虛實而治之</p>
<p>肝主風自病則風搐拘急肝苦急急食甘以緩之佐以酸苦以辛散之實則風搐力大瀉青丸主之虛則風搐力少地黃丸主之</p>
<p>心乘肝實邪壯熱而搐利驚丸主之</p>
<p>肺乘肝賊邪氣盛則前伸呵欠微搐法當瀉肺先補本臟補肝地黃丸主之瀉肺瀉白散主之</p>
<p>脾乘肝微邪多睡體重而搐先當定搐瀉青丸主之搐止再見後證則別立法治之</p>
<p>腎乘肝虛邪增寒呵欠而搐羌活膏主之</p>
<p>凡肝得病必先察其肺腎兩臟根其病之所起然後審其肝家本臟之虛實方可治療然腎者肝之母金者木之賊今肝之得病若非腎水之不能相生必是肺金之鬼來相攻擊不得不詳審而求之故其來在肺先治其肺攻其鬼也其來在腎先補其腎滋其根也然後審其肝家本臟之虛實而寒溫之</p>
<p>脾主濕自病則泄瀉多睡體重昏倦脾苦濕急食甘以緩之實則泄瀉赤黃睡不露睛瀉黃散主之虛則泄瀉白色睡露睛白朮散主之</p>
<p>肝乘脾賊邪風瀉而吐茯苓半夏湯主之</p>
<p>心乘脾虛邪壯熱體重而瀉羌活黃芩甘草蒼朮湯主之</p>
<p>肺乘脾微邪惡寒泄瀉理中丸之類</p>
<p>凡脾之得病必察其肝心兩臟之虛實根其源之所起然後救療蓋肝是脾之鬼心是脾之母肝氣盛則鬼勝心氣虧則脾家生氣不足盛者抑之則退虧者益之不乏所以有抑脾氣益心氣兩藥診其脈肝心兩臟俱和則是脾自生疾察其虛實而治之</p>
<p>腎主寒自病則足脛寒而逆人之五臟惟腎無實小兒瘡疹變黑陷則是腎水實克退心火是以水能制火也</p>
<p>心乘腎微邪內熱不惡寒桂枝湯主之</p>
<p>肝乘腎實邪拘急氣搐身寒理中丸主之</p>
<p>肺乘腎虛邪喘嗽皮澀身寒百部丸主之</p>
<p>脾乘腎賊邪體重泄瀉身寒理中丸主之</p>
<p>本臟虛弱是自己正令不行乃鬼賊所克害當補本臟之正氣假令肺病喘嗽時於初春見之法當補腎見於夏救肺見於秋瀉肺見於冬補心瀉本臟乃名寒嗽大抵五臟各至本位即氣盛不可更補到所克位不可更瀉</p>
<p>又按劉氏云五行之間惟有腎之一臟母盛而子反受邪而物之性有不可一概論者肺腎是也何則肺屬金射於皮毛所主者氣腎屬水主於骨髓所藏者精氣之輕浮能上而不能下精之沉重能下而不能上此物性之自然今肺之盛蓋熱之作也氣得熱則上蒸於肺不能下生於腎而腎受邪矣急食涼藥解之使腎氣溫和自能下生於腎此腎之病必先求之於肺若肺臟安和而腎忽然受病者不過脾之濕相形於腎而生疾所以有解肺熱去脾邪兩藥若脾肺兩臟俱和而腎自生病亦察其本臟而治之</p>

<h2>論五臟伏敵喜傷主病</h2>
<p>心所伏者腎所敵者肺所喜者若所傷者鹹鹵應三變八蒸之臟和則情性悅樂疾主驚癇恐悸虛燥啼叫譫語狂煩涎流口角痘主紅斑</p>
<p>肝所伏者肺所敵者脾所喜者酸所傷者辛辣應初變六蒸之臟和則魂壯意智生疾主風攣搐搦眼目腫赤疼痛痘主水疱</p>
<p>肺所伏者心所敵者肝所喜者辣所傷焦苦應二變七蒸之臟和則喜歡氣夾神清魂強疾主喘滿咳嗽傷寒作虛痰壅盛痘主膿疱</p>
<p>脾所伏者肝所敵者腎所喜者甜所傷者酸釅應四變九蒸之臟和則消穀氣美飲食疾主嘔噦疳積虛痢痞癖潮熱不思乳食痘主結痂</p>
<p>腎所伏者脾所敵者心所喜有咸所傷者甘甜應五變十蒸之臟和主行坐嬉戲笑語疾主崩沙黑齒截齒咬牙停耳膿汁痘主黑陷</p>

<h2>察小兒形色訣</h2>
<p>全嬰方云夫嬰兒未能言有疾固難知也惟察形色而已蓋形色有五色應其五臟五色青黃赤白黑五臟心肝脾肺腎心赤肝青脾黃肺白腎黑是五臟所主人蘊其內必形其外故小兒有病先見於面部也如形病不相應者更切脈聽聲</p>

<h2>色脈論</h2>
<p>丹溪云欲知其內者當以觀乎外診於外者斯以知其內蓋有諸內者形諸外也苟不相參而斷其病邪之逆順不可得也為功者當燭厥理故望其五色以青黃赤白黑以合五臟之脈窮其應與不應切其脈急大緩澀沉以合其五臟之色順與不順誠察其精微之色診其微妙之脈內外相參以治之則萬舉萬全之功可坐而致矣素問曰能合色脈可以萬全其意如此原夫道之二氣判而為陰陽散而為五行而人之所稟皆備焉夫五脈者天之真行血氣通陰陽以榮於身五色者氣之華應五行合四時以彰於面惟其察色按脈而不偏廢然後察病之機斷之以寒熱歸之以臟腑隨證而療之而獲全濟之效者本於能合色脈而已假令肝色如翠羽之青其脈微弦而急所以為生若浮澀而短色如草滋者豈能生乎心色如雞冠之色其脈多浮大而散所以為吉若沉濡而滑色見如⿰草力血血者豈能順乎脾色如蟹腹之黃其脈當中浮而大所以為從若微弦而急色見如枳實者豈能從乎肺色如豕膏之白其脈當浮澀而短所以為吉若浮大而散色如枯骨者豈能吉乎腎色如烏羽之黑其脈沉濡而滑或來中緩而大色見煤炲者死死生之理夫惟診視相參既以如此則藥證相對厥疾弗瘳者未之有也抑嘗論之容色所見左右上下各有其部脈息所動寸關尺中皆有其位左頰者肝之部以合左手關位肝膽之分應於風木為初之氣額為心之部以合左手寸口心與小腸之分應於君火為二之氣鼻為脾之部以合於右手關脈脾胃之分應於濕土為四之氣右頰為肺之部合於右手寸脈肺與大腸之分應於爍金為五之氣頤為腎之部以合於左手尺下腎與膀胱之分應於寒水為終之氣也若夫陰陽五行相生相勝之理當以合之於色脈而推之也是故脈要精微論曰色合五行脈合陰陽十三難曰色之與脈當參相應然而治病萬全之功苟非合於色脈者莫之能也其榮色也夫脈大小滑澀沉浮可以指按可以目察繼之以能合色脈可以萬全夫赤脈之至也喘而堅白脈之至也喘而浮青脈之至也長而弦黃脈之至也大而虛黑脈之至也堅而大此先言五色次言五脈欲學之者望而切之以相合也厥後扁鵲明此述之曰望而知之謂之神切而知之謂之巧深得內經之理也後世有立方者目之曰神巧萬全厥有旨哉</p>
<p>按難經曰五臟有五色皆見於面素問曰神之變也其華在面視其五色黃赤為熱白為寒青黑為痛此所謂視而可見者也錢氏云左頰為肝右頰為肺額上為心鼻上為脾下頦為腎赤者熱也隨證治之</p>
<p>全嬰方云左頰屬肝東方之位春見微青者平深青者病白色者絕赤色主身熱拘急肝熱生風青黑色主驚悸腹痛淺赤色主潮熱夜間發日中歇唇紅焦燥脈必緊數</p>
<p>右頰屬肺西方之位居右秋見微白者平深白者病赤色者絕淺色主潮熱或大便堅而氣粗壅嗽青白色主咳嗽噁心青色主風入肺時時咳嗽青黑色主驚風欲發或肚痹盤腸內吊</p>
<p>額上屬心南方之位火性炎上故居上夏見微赤者平深赤者病黑色者絕赤色主心經有風熱心燥驚悸睡臥不安青黑色主心中有邪驚風腹疼手足瘛瘲而啼叫青黑甚至心腹疼黃色主驚疳骨熱渴皮毛乾燥夜多盜汗頭髮焦黃</p>
<p>鼻上屬脾中央之位故居中而四季見微黃者平深黃者病青色者絕赤色主身熱不思乳食深黃色主小便不通鼻孔乾燥氣粗鼻衄夜間多哭淡白色主泄瀉食不化青色主吐乳口鼻乾燥大小便不利下頦屬腎北方之位水性潤下故居下冬見微黑者平深黑者病黃色者絕赤色主膀胱與腎為表裡有熱則水道不利故小便癃閉</p>
<p>潔古曰凡肝病面白肺病面赤脾病面青腎病面黃心病面黑若肝病驚搐而加面白痰涎喘急之類皆為難治余仿此推之</p>
<p>叔和云春得秋脈定知死亦此意也</p>
<p>錢氏曰凡小兒目內赤者心熱導赤散主之淡紅者心虛熱生犀散補之青者肝熱瀉青丸主之淺淡者補之黃者脾熱瀉黃散主之無睛光者腎虛地黃丸主之如見面目浮腫主久咳嗽乃脾受疳積也</p>
<p>凡小兒唇白主吐涎嘔逆吐血便血唇紅渴飲煩躁如久渴瀉唇紅者是虛證也不可用涼藥唇黃主脾受積後發腫唇口紫及吐涎者主蟲痛不吐涎者是積痛唇口四畔黃如橘主口臭乃脾之積熱也唇青主血虛脾寒為冷所乘蓋唇主脾土木來剋土知脾弱不能食也</p>
<p>凡小兒舌乾舌白舌燥舌胎舌黃舌赤腫皆主大便不通或通利必色焦黃如舌裂舌上芒刺舌上出血皆熱極陽毒也舌上生瘡心脾有熱舌卷主驚久患瀉利舌黑必潤不可認為熱蓋久病上焦虛熱故也久瀉痢舌黑者必死</p>

<h2>驗五臟氣絕證</h2>
<p>全幼心鑑云凡小兒囟腫囟陷汗出不流如珠如油舒舌出口舌腫發驚瀉黑黯血髮直如麻皮膚無血色此心絕也並壬癸日死</p>
<p>病重啼哭無淚及病不哭下淚爪甲青黑眼深如陷舌卷。囊縮發搐目科連唇口動手如抱頭之狀或腳面直素問云其華在爪其充在筋肝絕也並庚辛日死</p>
<p>人中滿人中黑唇縮⿸厂酋張唇焦枯燥唇乾紫黑唇不蓋齒血腫尿血舌縮或卷鼻孔開張齒禁冷涎如油嘬口如囊面如土色四肢逆冷如濕石之狀吃乳不收瀉糞赤黑脾絕也並甲乙日死</p>
<p>有熱咽湯水並藥食喉中鳴是胃脆直不能陰肺此證醫書少有蓋累曾試之有驗並死不治目直青鮮氣喘不回吃食噎嗽痰涎塞口喉中鳴響鼻塞不通鼻乾黑燥肺脹胃膈頭汗四肢冷此肺絕也並丙丁日死</p>
<p>面黑神昏眼黑眼腫目無光彩耳輪青黃焦枯疳牙齒落髮疏黃燥皮膚黑燥驚風咬乳戛齒泄屁黑色繞口此腎絕也並戊巳日死</p>

<h2>論虎口三關要訣</h2>
<p>辰關（上節）　卯關（中節）　寅關（下節）</p>
<p>湯氏曰小兒初生變蒸未足血氣未定呼吸至數太過必辨虎口色脈方可察其病之的要者正謂此也男以左手觀之女以右手觀之凡脈紋從寅關起不至卯關者易治若連於卯關者有病難治如寅關連卯關卯關侵過辰關者十難救一若脈紋小或短者有病不妨</p>
<p>仁齋曰虎口者叉手處也三關者第二指之三節是也除拇指第一指近虎口第一節為初關一名風關第二節為中關亦名氣關第三節為末關亦名命關男以左手女以右手側看之驚風初得紋出虎口或在初關多是紅色傳至中關色赤而紫又傳過其色紫青病勢深重其色青黑青而紋亂者病沉重若見純黑危惡不治大抵紅者風熱重紫者驚熱青者驚積青赤相半驚積風熱俱有主急驚風青而淡紫伸縮來去主慢驚風紫絲青絲或黑絲隱隱相雜似出不出主慢脾風凡指紋在初關者易治過中關者難治透末關者不治三關直透大抵不治然脈勢灣入里者順病雖重而證順猶可用力若紋勢灣反出外駸駸靠於指甲者斷不可回其有三關紋如流珠流米三五點相連或形於面或形於身危惡尤甚</p>

<h2>論小兒脈法</h2>
<p>脈訣啟蒙曰凡診小兒脈當大指按三部一息六七至為平八九至為內寒弦脈為風癇沉緩為傷食促急為虛驚弦急為氣不和沉細為冷浮為風大小不均為鬼祟浮大數為風熱伏結為物張單細為疳勞風腸痛多喘嘔脈洪為有蟲浮而遲潮熱者為胃寒也</p>
<p>脈經曰小兒四歲呼吸八至細數者吉又云呼吸八至者平九至者傷十至者困診小兒脈法多雀鬥要以三部脈為主若急為風癇沉者乳不消弦急為客忤氣小兒是其日數應變蒸之時身熱而脈亂無汗不欲食乳輒吐哯者脈亂無苦也脈沉而數者骨間有熱欲以腹按清冷也寶鑑云小兒三歲以上五歲以下五百七十六日變蒸畢乃成人血脈骨肉皆堅牢方可診候也蓋小兒純陽故脈息數促如大人為不同也故病多見七表脈為屬陽脈然也是以八里脈多不經見為屬陰脈耳當知此理</p>
<p>按半睟以上方可看虎口周睟以上看虎口兼以一指脈若五百七十六日變蒸滿足只與看一指脈以食指袞轉分取三部凡言三部者非寸關尺系小兒三部面看氣色為一部虎口脈紋為二部寸口一指脈為三部也</p>

<h2>診小兒脈證歌</h2>
<p>小兒有病須憑脈一指三關定有息浮洪風盛熱多驚虛冷沉遲實有積小兒三歲至五歲呼吸須得八至看九至為遲十至困長短大小有邪干</p>
<p>小兒脈大多風熱沉細元因乳食結弦長多是肝膈風緊數驚風四肢掣浮洪胃口如火燒沉緊腹中痛不歇虛濡有氣又兼驚脈芤大小便中血四至洪來若煩滿沉細腹中痛切切滑中露濕冷所傷弦急客忤明分說</p>
<p>小兒乳後輒嘔逆更兼脈亂無憂慮弦急之時被氣纏脈緩即是不消乳緊數細數亦少苦虛濡邪風驚風助痢下宣腸急痛時浮大之脈歸泉路</p>
<p>傷寒脈大最相宜腫滿浮洪病可醫微細心痛終是順沉遲吐瀉必須危蟲攻緊滑皆知吉渴飲微沉勢已衰驚搐浮洪多易治喘粗涎盛滑為奇</p>

<h2>小兒死證十五候</h2>
<p>眼上赤脈下貫瞳人囟門腫起兼及作坑鼻乾黑燥肚大青筋目多直視睹不轉睛指甲黑色忽作鴉聲虛舌出口齧齒咬人魚口氣急啼不作聲蛔蟲既出必是死形用藥速救十無一生</p>

<h2>論小兒死脈證</h2>
<p>小兒病困汗出如珠著身不流者死</p>
<p>小兒病其頭髮皆上逆者必死</p>
<p>小兒病而囟陷其口唇乾目皮反口中氣出冷手足四垂其臥如縛掌中冷皆不治</p>
<p>小兒中風熱喘鳴肩息脈緩則生急則死</p>
<p>小兒痢疾脈浮大而腹痛者必死</p>
<p>乳子病熱脈懸小手足溫則生寒則死</p>

<h1>卷之三·初生門</h1>

<h2>小兒初生總論</h2>
<p>千金論曰芽兒出腹骨肉未斂肌肉未成猶尚是血血凝則堅而成肌肉也又云如水上之泡草頭之露夫初生一臘之內天地八風之邪豈能速害良由在胎之時母失愛護或勞動氣血相干或坐臥飢飽相役飲酒食肉冷熱相制恐怖驚撲血脈相亂蘊毒於內損傷胎氣而降生之後故有胎熱胎寒胎肥胎怯胎驚胎黃諸證生焉外因浴洗拭口斷臍灸囟之不得法或繃𦽄驚恐乳哺寒溫之乖其宜致令噤口臍風鎖肚不乳等證病患致此亦難救療坐視其斃良可哀憫故黃帝云吾不能察其幼小謂別是一家調理耳惟小兒臟腑嬌嫩血氣懦弱肌體不密精神未備而黃帝尤難之也而用藥者必明消息形候審定生死察病患之淺深知藥性之寒溫乃一世之良工也</p>

<h2>初生諸證治法</h2>
<p>胎熱者由兒在胎中母多驚悸或因食熱毒之物降生之後兒多虛痰氣急喘滿眼閉目赤目胞浮腫神困呵欠呢呢作聲遍體壯熱小便赤色大便不通時復驚煩此因胎中受熱或誤服溫劑致令熱蓄於內熏蒸胎氣故有此證若經久不治則鵝口重舌木舌赤紫丹瘤自此而生宜先以木通散煎與母服使入於乳令兒飲之通心氣解煩熱然後以四聖散溫洗兩目目開進地黃膏凡有胎疾不可求速效當先令乳母服藥使藥過乳漸次解之百無一失若節以涼藥攻之必生他病乳母仍忌辛辣酒面庶易得安不致反復</p>
<p>胎寒者嬰兒初生百日內覺口冷腹痛身起寒粟時發戰慄曲足握拳晝夜啼哭不已或口噤不開名曰胎寒其證在胎時母因腹痛而致產經云胎寒多腹痛亦有產婦喜啖甘肥生冷時果或胎前外感風寒暑濕治以涼藥內傷胎氣則生後昏昏多睡間或哯乳瀉白若不早治必成慢驚慢脾宜以當歸散定其痛勻氣散調其氣白朮散養其胃氣白芍藥湯去其寒濕乳母更宜忌口</p>
<p>胎肥者生下肌肉厚遍身血色紅滿月以後漸漸羸瘦目白五心煩熱大便難時時生涎者是也浴體法主之</p>
<p>胎怯者生下面無精光肌肉薄大便白水身無血色目無精采宜以浴體法主之</p>
<p>胎黃者生下遍體面目皆黃狀如金色身上壯熱大便不通小便如梔汁乳食不思啼哭不止此胎黃之候也皆因乳母受熱而傳於胎也凡有此證母子皆宜服地黃湯及地黃飲子有生下百日及半周不因病後身微黃者胃熱也若自生而身黃者胎疸也經云諸疸皆熱色深黃者是也犀角散主之若淡黃兼白者胃怯也白朮散主之</p>
<p>胎驚者以胎婦調適乖常飲酒嗜欲忿怒驚撲母有所觸胎必感之或外挾風邪有傷於胎故子乘母氣生下即病也其候月內溫壯翻眼握拳噤口咬牙身腰強直涎潮嘔吐搐掣驚啼腮縮囟開或頰赤或面青眼合凡胎風眼合不可誤作慢脾妄用溫藥其有搭眼噤口之類亦此一種之所發也視其眉間氣色赤而鮮碧者可治若黯青黑者不治虎口指紋曲入里者可治反出外者不治先宜解散風邪利驚化痰調氣貼囟甚則以朱銀丸利之凡初生嬰兒難以用藥如遇此候急取豬乳細研牛黃麝香各少許調抹入口中即愈矣</p>
<p>鎖肚者由胎中受熱熱毒壅盛結於肛門閉而不通無復滋潤所以如此至若第三日不通急令婦人以溫水漱口吸咂兒前後心並臍下手足心共七處凡四五次仍以輕粉半錢蜜少許溫水化開時時將少許服之以通為度如更不通即是肛門內合當以物透而通之金簪為上玉簪次之須刺入二寸許以蘇合香丸納入孔中糞出為快也若肚腹膨脹不能乳食作呻吟聲至於一七難可望其生也</p>
<p>不乳者謂初出胞胎而不吮乳也嬰兒初出胎時其聲未發急以手拭其口令惡血淨盡不得下咽即無他病若拭口不全惡穢入腹則令腹滿氣短不能吮乳或產母取冷過度胎中受寒致令兒腹痛也宜用茯苓丸及木香檳榔散治之</p>
<p>臍風者謂斷臍之後被水濕風冷所乘風濕之氣入於臍而流入心脾遂令肚腹脹滿臍腫身體重著四肢柔直日夜多啼不能吮乳甚則發為風搐若臍邊青黑嘬口不開是為內搐不治爪甲黑者即死其或熱在胸膛伸縮弩氣亦令臍腫宜千金龍膽湯主之為妙</p>
<p>嘬口者面目黃赤氣息喘急啼聲不出蓋由胎氣挾熱兼風邪入臍流毒心脾之經故令舌強唇青聚口嘬面飲乳有妨若口出白沫而四肢冷者不可救藥其或肚脹青筋吊腸卵疝內氣引痛皆腸胃鬱結不通致之治法貴乎疏利嘬口最為急候一臘之內見之尤甚以辰砂膏利之即愈</p>
<p>噤風者眼噤口閉啼聲漸小舌上聚肉如粟米狀吮乳不得口吐白沫大小便皆通自滿月一百二十日見此名曰犯風噤依法將護防於未然但有此證急看兒上齶有點子先以指甲輕輕刮破次服定命散辰砂全蠍散之類如口噤不開服諸藥不效者生南星去皮臍研為極細末龍腦少許合和用指蘸生薑汁於大牙根上擦之立開凡臍風嘬口噤風三者雖異其受病之源則一也大抵裡氣鬱結壅閉不通並宜服淡豆豉汁與吃取下胎毒千金云小兒初生其氣高盛若有微患即須下之若不時下則成大疾難為療矣紫霜丸量而與之</p>

<h2>灸法</h2>
<p>小兒初生三四日七日內口噤不吮乳多啼者是客風中於臍循流至心脾二經遂使舌強膂嘬灸承漿一穴取法在唇稜下宛宛中是穴次灸頰車二穴各七壯在耳下曲頰骨後是穴</p>

<h2>胎疾諸方</h2>

<h3>治胎熱之劑</h3>
<p><u>木通散</u>　主小兒上膈熱小府閉諸瘡丹毒母子同服</p>
<p>木通　地蓄萹（各半兩）　大黃　甘草　赤茯苓（各三錢）　瞿麥　滑石　山梔子　車前子黃芩（各二錢半）</p>
<p>上水一鍾燈心三莖或入薄荷同煎</p>
<p><u>釀乳法</u>　宜與乳母服</p>
<p>豬苓（去黑皮）　澤瀉　赤茯苓（去皮）　天花粉　茵陳　生甘草　生地黃　山梔（去殼）</p>
<p>上銼散用水煎食後令乳母捏去宿乳卻服此藥</p>
<p><u>甘豆湯</u>　治小兒胎熱</p>
<p>甘草（一錢）　黑豆（二錢）　淡竹葉</p>
<p>上㕮咀用水一鍾入燈心七莖煎不拘時候服</p>
<p><u>四聖散</u>　主芽兒胎受熱毒生下兩目不開</p>
<p>燈心　黃連　秦皮　木賊　棗子（各半兩）</p>
<p>上水一鍾煎澄清去渣無時起洗兩目自開後服</p>
<p><u>地黃膏</u>　治胎熱</p>
<p>山梔仁　綠豆粉（各一兩半）　粉草（六錢）</p>
<p>上為末用生地黃爛杵一兩半和好蜜一兩半以薄瓦器盛在銅銚中煮成膏如稀糊相似候冷停分入前藥末同在乳缽內再研勻芡實大每以半丸麥門冬湯化服</p>

<h3>治胎寒之劑</h3>
<p><u>當歸散</u>　治芽兒胎中受寒面色青白腹痛泄瀉並宜服之</p>
<p>當歸　官桂（去皮）　川芎　白姜炮　香附子　木香　甘草（各等分）</p>
<p>上為末每服一字以乳汁調下日二服看大小加減服之</p>
<p><u>白芍藥湯</u>　治胎寒腹痛乳母同服</p>
<p>白芍藥（一錢半）　澤瀉（一錢）　甘草（三分）　薄荷（一分）</p>
<p>上水一鍾姜三片釣藤一錢如乳母服宜大劑勻氣散</p>
<p>桔梗　陳皮（一錢）　砂仁　茴香（各五分）　白姜（二分半）　粉草（四分）</p>
<p>上為末每服一字空心沸湯調服</p>
<p><u>參苓白朮散</u></p>
<p>人參　茯苓　粉草　白朮　白扁豆　山藥　砂仁　薏苡仁　桔梗（各一錢）　蓮子肉（半錢）</p>
<p>上為末每服一字棗湯調服或溫米湯亦好</p>

<h3>治胎肥胎怯之劑</h3>
<p><u>浴體法</u></p>
<p>天麻（一錢末）　蠍梢（去毒）　硃砂（半錢）　白礬　青黛（各二錢）　麝香（一字）　烏蛇肉（三錢酒浸焙為末）</p>
<p>上同研勻每用三錢水三碗桃枝一握並葉同煎至十沸溫熱浴之勿浴背</p>

<h3>治胎黃之劑</h3>
<p><u>地黃湯</u></p>
<p>生地黃　赤芍藥　天花粉　赤茯苓（去皮）　川芎　當歸（去蘆）　豬苓　澤瀉　甘草　茵陳（各等分）</p>
<p>上銼散用水煎食前服</p>
<p><u>地黃飲子</u>　治小兒生下滿身面目皆黃狀如金色或面赤身熱眼閉不開大便不通小便如梔子汁滿身生瘡</p>
<p>生地黃　赤芍藥（各二錢）　羌活（去蘆）　當歸（去蘆）　甘草一錢</p>
<p>上為極細末用燈心煎湯食前服乳母宜服</p>
<p><u>犀角散</u>　治小兒胎黃一身盡黃</p>
<p>犀角　茵陳　栝蔞根　升麻（煨）　甘草　龍膽草　生地黃　寒水石（煆三分）</p>
<p>上㕮咀用水煎不拘時候服</p>

<h3>治胎驚之劑</h3>
<p><u>太乙散</u>　治芽兒胎驚</p>
<p>天漿子（去殼微炒）　南星　白附子（各微炮）　天麻　防風　茯苓（各二錢）　全蠍　硃砂（各一錢）　麝香（少許）</p>
<p>上為末每服半錢乳汁化下</p>
<p><u>參蠍散</u>　治小兒胎驚定心神</p>
<p>天漿子　天竺黃　人參　硃砂　全蠍　天麻　蟬蛻（等分）　麝香（少許）</p>
<p>上為末煉蜜丸桐子大每服一丸金銀湯下</p>
<p><u>褚乳膏</u>　治小兒諸驚胎癇</p>
<p>全蠍（一個焙）　琥珀　硃砂（少許）</p>
<p>上為末每服一字麥門冬煎湯調下</p>
<p><u>獨活湯</u>　治胎驚發散風邪</p>
<p>羌活　獨活（各一分）　檳榔　天麻　麻黃（去節）　甘草（各半分）</p>
<p>上銼散每服半錢煎服於內加南星末蜜調下可貼囟用</p>
<p><u>朱銀丸</u>　治小兒胎風壯熱痰盛翻眼口禁取下胎中蘊受之毒亦治驚積但量與之</p>
<p>水銀（一錢蒸棗研如泥）　白附子（一錢半）　蠍（一錢）　南星（一兩）　硃砂（一錢）　天漿子　蘆薈（各半兩）　牛黃（各半兩）　鉛霜（半錢和水煆研）　腦（一字）　麝香（少許）　直殭蠶（炒七個）</p>
<p>上為末煉蜜丸桐子大薄荷湯化下</p>

<h3>治不乳之劑</h3>
<p><u>茯苓丸</u></p>
<p>赤茯苓　川黃連（去須）　枳殼（炒）</p>
<p>上等分為末煉蜜丸桐子大每服一丸乳汁調下治穢惡入腹令兒嘔吐不乳方</p>
<p>木香　乾薑（生）　茯苓　甘草　酸木瓜　丁香（各等分）</p>
<p>上粗末一捻水煎綿蘸滴與之</p>

<h3>治臍風撮口噤風之劑</h3>
<p>宜先用控痰飲吐風痰次用益脾散和脾又用辰砂膏利驚即愈或手足攣拳禁口不開者不治</p>
<p><u>控痰散</u></p>
<p>蠍尾　銅青（各半錢）　硃砂（一錢）　膩粉（一字）　麝香（少許）</p>
<p>上為末每服一字臘茶清調下先吐風痰然後和胃或有叚甘草方吐痰隨輕重用</p>
<p><u>辰砂膏</u></p>
<p>辰砂（三錢）　硼砂　馬牙硝（各一錢五分）　玄明粉（二錢）　全蠍　真珠末（各一錢）　麝香（一字）</p>
<p>上為末和棗同好單包起自然成膏每服一字或一豆許治諸驚用金銀薄荷湯下潮熱甘草湯下月內嬰兒用乳汁調敷奶上令吮下</p>
<p><u>撮風散</u>　治小兒撮口</p>
<p>赤腳蜈蚣（半條炙）　釣藤（一分）　硃砂　直殭蠶（焙）　全蠍梢（各一錢）　麝香（一字）</p>
<p>上為末每服一字取竹瀝調下竹瀝解熱極好</p>
<p><u>立聖散</u>　治小兒口噤</p>
<p>全蠍梢　干蜘蛛（一個去足先以取竹火上炙取油一蛤蟆許乃竹歷也浸蜘蛛一宿炙令焦）</p>
<p>上同末研極細入膩粉少許每一字用豬乳調時時滴入口中</p>
<p><u>安臍散</u>　小兒斷臍便敷之</p>
<p>瓜蒂　南星　白蘞　赤小豆</p>
<p>上為末每三錢用芭蕉自然汁調敷臍四邊</p>
<p><u>臍風鎖口方</u></p>
<p>金頭蜈蚣（一個）　蠍梢（五個）　直殭蠶（七個）　瞿麥（半錢）</p>
<p>上為末每一字吹入鼻中啼則可用薄荷湯調下一字然後服千金龍膽湯朱銀丸</p>
<p><u>撮風散</u>　治小兒撮口</p>
<p>赤腳蜈蚣（半條炙）　釣藤（一分）　硃砂　直殭蠶（焙）　全蠍梢（各一錢）麝（一字）</p>
<p>上為末每服一字取竹瀝調下</p>
<p><u>殭蠶方</u>　（一方防風五下）</p>
<p>直殭蠶（二枚去嘴略炒為末調敷唇口中。）</p>
<p><u>甘草方</u>　治小兒撮口取吐</p>
<p>甘草一錢煎服令吐出痰涎即以豬乳點入口中即瘥</p>
<p><u>蜈蚣方</u>　治小兒口噤不開不能吮乳</p>
<p>赤腳蜈蚣（半條去足炙令焦為末　麝香少許以豬乳和之蓋豬乳能獨主小兒口噤不開）</p>
<p><u>蜘蛛方</u>　治小兒口噤不開不能吮乳</p>
<p>蜘蛛（一枚去足及口炙令焦細研用豬乳一合和為三服徐徐灌之神妙入麝香治牙疳極好）</p>
<p><u>牛涎方</u></p>
<p>取東行牛口沫塗小兒口及額上即效</p>

<h2>變蒸</h2>

<h3>脈法</h3>
<p>脈經曰小兒足其日數應變蒸之時身熱而脈亂汗不出不欲食輒吐哯者脈亂無苦也</p>

<h3>變蒸論</h3>
<p>全嬰方云初生小兒變蒸者以長血氣也變者上氣蒸者體熱巢氏病源曰自生之後每三十二日為一變再變為一蒸變畢即性情有異於前何者長生臟腑智意也人有三百六十五骨除手足中四十五碎骨外有三百二十數自生下骨一日十段而上之十日百段三十二日計三百二十段為一周遍凡小兒之病無有不因變蒸而得也而不熱不驚或無他病候是暗變者多矣此受胎氣壯實故也陳氏曰俗謂之牙生骨長譬如蠶之有眠龍之脫骨虎之轉爪皆此同類變生而長也其變蒸足乃生三十二齒而齒牙而不及三十二數由變不足其常也故變蒸蛻齒者如花之易苗年壯而視齒方明總五百七十六日大小變蒸足矣始乃成人血脈骨肉皆堅牢也每變輕則發熱微汗其狀似驚重則壯熱脈亂而數或吐或汗或煩啼躁渴輕者五日解重者八日解其候與傷寒相若亦有變蒸之餘續感寒邪但變蒸蒸則耳冷上唇發泡狀如濁珠若寒邪傳之則寒邪反攻腹中作痛而啼叫之聲日夜不絕凡蒸於肝則目昏微赤蒸於肺則嚏嗽毛聳五臟六腑筋脈骨節循環一匝各有證候其陰陽水火之變歟治法宜和平之劑古方以黑散子紫霜丸主之</p>
<p>按錢氏云一變腎二變膀胱三變心四變小腸五變肝六變膽七變肺八變大腸九變脾十變胃故稱水數一先腎也寶鑑云初變肝二變肺三變心四變脾五變腎二者所論皆五行顛倒相生者卻逢相剋相剋者又逢相生大抵陰陽造化相生者順相剋者逆變蒸者是長養血氣滋榮五臟相生之法此理昭然相生者有母子之道相剋者有夫婦之義相生所以相繼相剋所以相治原夫胎者得水火既濟陰陽造化五行相治而成形故始於腎氣之初生也小兒變蒸者當血氣攻革陰陽升降從五臟相繼而成人故始於肝之初變也雖二家互說差殊各有所長宜詳審之</p>

<h2>變蒸諸方</h2>
<p><u>紫陽黑散</u>　治小兒變蒸壯熱亦治傷寒發熱</p>
<p>麻黃（二錢半去節）　大黃（一錢同銼炒令黑色為末）　杏仁（去皮尖二錢半）</p>
<p>上件同一處搗和並略燒存性再以杏仁研膏和之蜜器盛每服一豆許乳汁調和灌之</p>
<p><u>紫霜丸</u>　疏利臟腑實熱</p>
<p>代赭石（一兩燒醋淬以裂為度）　赤石脂（七分）　巴豆（三十枚去心油用）　杏仁（五十個）</p>
<p>上代赭石赤石脂先搗末和杏仁巴豆搗二千杵若硬加蜜少許更搗丸如粟米大用蜜器盛取服二丸以乳汁送下如更有熱不泄明日再與二丸</p>
<p>此藥兼治驚積痰癖食癇溫壯諸疾</p>
<p><u>平和飲子</u>　治嬰兒變蒸於三日後三日進一服可免百病百日內宜服</p>
<p>人參（半錢去蘆）　白茯苓（一錢去皮）　甘草（半錢炙）　升麻（二分煨）</p>
<p>上㕮咀用水煎不以時候服稟受弱者加白朮一錢肥大壯實者不用</p>
<p><u>當歸散</u>　治小兒變蒸有寒熱者</p>
<p>當歸（二錢）　木香　官桂（辣者）　甘草（炙）　人參（各一錢）</p>
<p>上銼散每服薑棗食前煎服</p>
<p><u>參杏膏</u>　治小兒變蒸潮熱</p>
<p>人參（半錢去蘆）　杏仁（半錢去皮尖）　川什麻（半錢煨）　甘草（二錢炙）</p>
<p>上為極細末百日以前每服一字用麥門冬去心煎湯食遠調服</p>
<p><u>調氣散</u>　治小兒變蒸不乳多啼</p>
<p>木香　香附　厚朴制　人參　陳皮　藿香（各一錢）　甘草（炙五分）</p>
<p>上為末每服三字薑棗煎服</p>

<h1>卷之四·驚風門</h1>

<h2>脈法</h2>
<p>脈訣啟蒙曰小兒脈促急為虛驚○直指雲浮數洪緊為急驚○沉遲散緩為慢驚○虎口脈紋青紫為驚風○紅者風熱輕○赤者風熱盛○紫者驚熱○青者驚積○青紫相半驚積風熱俱有主急驚風○青而淡紫伸縮來去主慢驚風○紫絲青絲或黑絲隱隱相雜似出而不出主慢脾風○形勢灣入里者順○出外者逆</p>

<h2>急慢驚風總論　附慢脾風</h2>
<p>閻孝忠曰小兒急慢驚風古無之惟曰陰陽癇而已所謂急慢者後世名之耳正如赤白痢之類是也直指方云急者屬陽陽盛而陰虧慢者屬陰陽虧而陰盛陽動而躁疾陰靜而遲緩其始也皆因臟腑虛而得之虛能發熱熱則生風是以風生於肝痰生於脾驚出於心熱出於肺而心亦主熱驚風痰熱合為四證四證已具八候生焉凡搭眼搖頭張口出舌唇紅臉赤面青眼青瀉青太陽髮際印堂青筋三關虎口脈紋紅紫或青者皆驚風也大抵熱論虛實證別逆順治有後先蓋實熱為急驚虛熱為慢驚慢驚本無熱所以發熱者虛使然耳急驚屬陽用藥以涼慢驚屬陰用藥以溫其不可以陰陽無別故曰熱論虛實者此也男搐左視左女搐右視右男眼上竄女眼下竄男握拇指出外女握拇指入里男引手挽左直右曲女挽手右直左曲皆為順反之則逆亦有先搐左而後雙搐者但搐順則無聲搐逆則有聲其指紋形勢灣入里者順出外者逆出入相半者難痊故曰證別逆順者此也凡熱盛生驚驚盛生風風盛發搐治搐先於截風治風先於利驚治驚先欲豁痰治痰先於解熱其若四證俱有又當兼施並理一或有遺必生他證故曰治有先後者此也綱領如此若折急慢驚風而言之則暴烈為急驚沉重為慢驚而慢脾則又重而深矣</p>
<p>按驚者虛惕怔忡氣怯神散痰涎來去其瀉必青漸生風而未至驚風也夫驚邪入心則面紅臉赤惕惕夜啼驚邪入肝則面目俱青眼青竄視驚邪入腎則面黑惡叫齧乳咬牙驚邪入肺則面白淡黃據脈視之虛則散而濡實則數而駛治法鎮驚化痰安神定志亦須究竟其臟受病之處而調治之然所謂溫驚有所謂利驚有所謂涼驚虛者和之熱者涼之是為活法也</p>

<h2>論治驚當分三因</h2>
<p>錢氏曰小兒驚搐因傷風后得之口中氣出熱呵欠煩悶手足動搖當發散大青膏主之小兒本怯多此病也因傷食後得之身體溫多睡或吐不思乳食而發搐當先定搐搐退白餅子下之後與安神丸主之惟瘡疹能發搐風火相爭故也治當瀉心肝補其母</p>
<p>按小兒因傷風而得以上證者同大人傷風寒之類當辨有汗無汗陰陽二證用大青膏仲景小續命之類開發則愈因傷食發搐謂不因他病忽然而搐此因飲食過度致損脾胃故見多睡或吐不思乳食脾胃既虛引肝風則發搐當先定其搐加羌活防風煎下瀉青丸後用白餅子下其食漸漸用調中丸異功散養其氣因斑疹而得之者蓋疹為脾虛所生脾虛而肝旺乘之木來勝土勢氣相擊動於心神心喜為熱神氣不安故也斑為心所生心主熱熱則生風風屬於肝二臟相搏故發搐也宜瀉心肝補其母導赤散地黃丸主之</p>

<h2>丹溪先生治急慢驚風大法</h2>
<p>小兒驚風有二急驚屬痰熱宜涼瀉一云用降火下痰丸養血藥作湯下之慢驚屬脾虛所主多死宜溫補一云當養脾用硃砂安神丸清米湯下更於血藥中求之世以一藥通治之甚妄急驚風發熱口瘡手心伏熱痰嗽痰喘並用湧法重則用瓜蒂散輕則用赤小豆苦參末須用酸齏汁調服之候少定用通聖散蜜丸服之間以桑樹上桑牛陰乾為末調服以平其風又以北薄荷葉寒水石各一兩青黛白殭蠶辰砂各一錢全蠍二枚豬牙皂角槐角各五分為末燈心湯和乳汁灌之角弓反張目直視因驚而致宜南星半夏入薑汁竹瀝灌之更灸印堂頻吐瀉將成慢驚用錢氏白朮散加山藥扁豆炒肉豆蔻麵煨各一錢入姜一片煎服若慢驚已作加細辛天麻各一錢全蠍三個去梢白附八分麵煨驚而瀉用參苓芍藥酒炒白朮姜煎夏月加黃連生甘草竹葉服之</p>

<h2>東垣先生治急慢驚風大法</h2>
<p>外物驚宜鎮心黃連安神丸若氣動所驚宜寒水石安神丸大忌防風丸防風辛溫之藥必殺人何也辛散浮溫熱者火也能令母實助子之氣盛皆殺人也如因驚而瀉青色先鎮肝以硃砂之類勿用寒涼之氣大禁涼驚丸風木旺必克脾胃當先實其土後瀉其木閻孝忠編集錢氏方以益黃補土誤矣其藥有丁香辛熱助火火旺土愈虛矣青橘皮瀉肺金丁香辛熱大瀉肺與大腸脾實當瀉子今脾胃虛反更瀉子而助火重虛其土殺人無疑矣其風木旺證右關脈洪大掌中熱腹皮熱豈可以助火瀉金如寒水來乘脾土其病嘔吐腹痛瀉痢青白益黃散聖藥也今立一方先瀉火補金大補其土是為神治之法以黃耆二錢人參一錢炙甘草五分加白芍藥一錢此四味皆甘溫能補元氣甘能瀉火內經云熱淫於內以甘瀉之以酸收之白芍藥酸寒寒能瀉火酸味能瀉肝而大補肺金所補得金土之位金旺火虛風木何由而來剋土然後瀉風之邪夫益黃散理中丸養神之類皆治脾胃寒濕大盛神品之藥也若得脾胃中伏火勞役不足之證及服熱藥巴豆之類胃虛而成慢驚之證用之必傷人命夫慢驚風者皆由久瀉脾胃虛而生也錢氏以羌活膏療慢驚風誤矣脾虛者由火邪乘其土位故曰從後來者為虛邪火旺能實其木木旺故來剋土當於心經中以甘溫補土之源更於脾土中瀉火以甘寒更於脾土中補金以酸涼致脾土中金旺火衰風木自虛矣</p>

<h2>急驚治法</h2>
<p>錢氏曰小兒急驚因聞大聲或大驚而後發搐發過則如故此無陰也當下利驚丸主之此證本因熱生於心身熱面赤飲水口中氣熱大小便黃赤劇則發搐也蓋熱甚則風生風屬肝此陽盛陰虛也故利驚丸主之以除痰熱不可用巴豆及溫藥太下之恐搐虛熱不消也小兒熱痰客於胃因聞聲非常則動而驚搐矣若熱極雖不聞聲亦自發搐閻氏云當其搐勢漸減時與鎮心治熱之劑一二服候驚稍定須更以藥下其痰熱心神安寧即愈潔古曰急驚陽證也俱腑受病耳小兒熱痰客於心肺是少陽相火旺經云熱極生風因聞大聲而作蓋謂東方震卦得火氣而發搐火本不動得風而動當用利驚丸導赤散瀉青丸地黃丸主之搐止服安神丸</p>

<h2>慢驚治法</h2>
<p>閻孝忠曰慢驚得於大病之後吐瀉之餘或誤取轉致脾胃虛損風邪乘之似搐而不甚搐名曰瘛瘲似睡而精神慢四肢與口中氣皆冷睡中露睛或胃痛而啼哭忽如鴉聲此證已危蓋脾胃虛損故也潔古曰慢驚陰證也俱臟受病耳蓋小兒吐瀉病久脾胃虛損若不早治則成慢驚名曰瘛瘲似搐而不甚搐也因脾虛故大便不聚當去脾間風先以宣風散導之後用使君子丸益黃散則其痢自止既已失治則脾肺俱虛致被肝木所乘是為慢驚也當用溫補羌活膏主之</p>

<h2>慢脾風治法</h2>
<p>仁齋曰慢脾風之候面青額汗舌卷頭低眼合不開困睡中搖頭吐舌頻嘔腥臭禁口咬牙手足微搐而不收或身冷或身熱而四肢厥冷其脈沉微陰氣極盛胃氣極虛十救一二蓋由慢驚之後吐瀉損脾病傳已極總歸虛處惟脾所受故曰慢脾若逐風則無風可逐若療驚則無驚可療但脾間涎痰虛熱往來其眼合者脾困氣乏神志昏迷痰涎壅滯然耳世所謂難療者是也然慢脾一名虛風凡小兒吐瀉之後面色虛黃大熱虛損若因虛而發熱繼此隨得慢驚脾風之疾方見搖頭斜視以手摸人昏困喜睡額上汗出身亦黏汗其聲漸小而焦即是脾風之證不必皆由慢驚傳次而至又當識之大要生胃回陽黑附湯金液丹白丸子生附四君子湯可斟酌而用胃氣漸復則異功散溫平而調理之若其眼半開半閉手足不冷證尚慢驚則勿用回陽或已入慢脾而陽氣未甚脫者亦不可用硫黃附子凡服回陽湯劑手足漸暖者仍服醒脾散等繼其後以調之慢脾下痰輕者神保既濟丹慢驚慢脾逆惡候諸藥不效者如有太衝脈則取百會穴灸之此治慢脾風之大要然也</p>
<p>按劉氏云以上諸家所論殆盡證治之要大抵驚風主風木甲木屬陽腑病易治乙木屬陰臟病難治如大人驚恐即後泄蓋甲木克戊土也況小兒五臟之氣未實神氣未完而自病乎證非病後及吐瀉脾胃虛損得者中有夾火夾痰夾食病因不同風邪內陷有入腑入臟亦與外中風相似治此當本錢氏虛實補瀉之法則不致犯禁忌之誤藥有太過不及之失</p>

<h2>驚風不治證</h2>
<p>爭驚眼睛翻轉口中出血兩足擺跳肚腹搐動或神緩而摸體尋衣或證篤而神昏氣促噴藥不下通關不嚏心中熱痛忽大叫者不治</p>
<p>慢驚四肢厥冷吐瀉咳嗽面黯神慘鴉聲胃痛兩脅動氣口生白瘡髮直搖頭眼青不轉涎鳴喘嗌頭軟大小不便不禁手足一邊牽引者皆為不治</p>
<p>慢脾身冷黏汗直臥如屍喘嗽頭軟背直口噤搖頭痰如牽鋸之聲面無潤澤之色縮唇氣粗者不治</p>

<h2>驚風灸法</h2>
<p>小兒急驚灸前頂二穴三壯取法在百會前一寸若不愈灸兩眉心及鼻下人中一穴炷如小麥大</p>
<p>小兒慢驚灸尺澤穴箺三壯在肘中橫紋約上動脈中炷如小麥大</p>
<p>小兒睡中驚掣灸足大指次指之端去爪甲如韭葉許各一壯</p>
<p>小兒角弓反張身強灸鼻上入髮際三方三壯吹灸大椎下節間三壯</p>
<p>小兒睡中驚不合眼目灸屈肘後橫文中三分各一壯</p>

<h2>驚風諸方</h2>
<p><u>錢氏利驚丸</u>　治小兒急驚風涎盛發熱漸搐</p>
<p>青黛　輕粉（各一錢）　牽牛（半兩）　天竺黃（一錢）</p>
<p>上為末白糊丸如小豆大每一歲服一丸薄荷湯下</p>
<p><u>導赤散</u>　治小兒內熱小便赤黃心燥睡語用此治急驚者瀉丙火也</p>
<p>生地黃　木通（去節）　甘草</p>
<p>上銼散每服三錢水一盞竹葉三片煎服</p>
<p><u>瀉青丸</u>　治脾熱搐搦脈洪實</p>
<p>當歸　龍膽草　川芎　山梔　大黃　羌活　防風</p>
<p>上等分蜜丸雞頭大每服一丸</p>
<p><u>地黃丸</u>　瀉心肝用此補其母</p>
<p>熟地黃　山藥　山茱萸　澤瀉　牡丹皮　茯苓</p>
<p>上為末煉蜜丸桐子大每服三丸溫湯化下</p>
<p><u>安神丸</u>　治小兒驚悸熱渴心悶脈實面紅頰青口燥</p>
<p>麥門冬　馬牙硝　白茯苓　山藥　寒水石（各半兩）　硃砂（一兩）　甘草（半兩）　龍腦（一字）</p>
<p>上為末煉蜜丸如雞頭大每服半丸沙糖水下</p>
<p><u>通關散</u>　治小兒驚風搐搦關竅不通</p>
<p>南星（炮一錢）　麝香（一字）　豬牙皂角（一定）　赤腳蜈蚣（一條炙）　殭蠶（炒一錢）</p>
<p>上為末以手點薑汁蘸藥少許擦牙或用物引滴入藥兩三點涎自出口自開皂角略燒存性為末嚏驚散</p>
<p>半夏（一錢）　豬牙皂角（半錢）</p>
<p>上為末用一豆許用管子吹入鼻立醒</p>
<p><u>人參羌活散</u>　治小兒驚風熱盛涎潮牙關緊急</p>
<p>柴胡（半兩）　地骨皮（去土）　天麻（酒炙）　前胡（各一兩半）　人參　芎藭　獨活　枳殼（炒）　茯苓　羌活　桔梗（各半兩）　甘草（三錢）</p>
<p>上銼散每服三錢生薑薄荷煎湯服加蟬蛻治驚熱體硬加麻黃甘葛薏苡仁</p>
<p><u>定搐散</u>　治小兒急驚定搐</p>
<p>赤腳蜈蚣（大者一條酒浸炙）　麻黃（去節）南星（炮）　白附子　直殭蠶（炒）　羌活　代赭石（醋煆淬七次）　蠍梢　川薑黃（各二錢）　硃砂（一錢）</p>
<p>上為末每服一字荊芥紫蘇煎湯調下如搐不止加烏蛇肉</p>
<p><u>定命丹</u>　治小兒急驚天吊嘬口通利痰熱</p>
<p>全蠍（七個）　天麻　南星（炮）　白附子（各二錢半）　硃砂　青黛　輕粉　麝香（各半錢）</p>
<p>上為末粟米糊丸綠豆大每服十丸荊芥薄荷湯調下先研半錢吹入鼻中</p>
<p><u>仁齋利驚丸</u>　利驚下痰消痰</p>
<p>龍膽草　防風　青黛　蘆薈　南星（炮）　釣藤（各二錢）　木硝　鐵粉（各一錢）　腦　麝（各少許）</p>
<p>上為末麵糊丸麻子大每服二丸煎金銀湯下</p>
<p><u>青金丸</u>　治痰熱驚積</p>
<p>青黛　使君子　蘆薈　牛膽南星　川京墨（各二錢）　膩粉　麝（半錢）　腦（一字）</p>
<p>上為末飛麵糊丸桐子大每服一丸薄荷湯調下生氣散</p>
<p>丁香（三字）　白朮　青皮（各二錢）　甘草（炙）　木香　人參（一錢）</p>
<p>上為末每服半錢沸湯點服或用和劑方調氣散亦可</p>
<p><u>參苓白朮散</u></p>
<p>人參　茯苓　甘草　白朮　白扁豆　山藥　砂仁　薏苡仁　桔梗（各二兩）</p>
<p>上為末每服半錢棗湯調服或米湯亦好</p>
<p><u>定志丸</u>　治小兒驚風已退神志未定以此調之</p>
<p>琥珀　茯神　人參　遠志（薑製焙）　白附子（炮）　天麻　門冬　酸棗仁　甘草（炙各等分）</p>
<p>上為末煉蜜丸皂子大硃砂為衣每服一丸薄荷湯調下</p>
<p><u>溫膽湯</u>　治小兒驚悸頑痰</p>
<p>半夏（生制）　枳實（各三錢半）　茯苓（半兩）　陳皮（各一錢半）　酸棗仁（溫酒浸去殼二錢半）</p>
<p>上銼散每服一錢竹茹少許用薑棗煎服</p>
<p><u>保生丹</u>　治小兒慢驚尚有陽證</p>
<p>全蠍（十四個全）　白附子（生）　直殭蠶　牛膽南星　蟬蛻　琥珀　麝（半錢）　防風　硃砂（各一錢）</p>
<p>上為末粟米糊丸桐子大金箔為衣每服一丸薄荷湯調下</p>
<p><u>溫補羌活膏</u></p>
<p>羌活　川芎　人參　白附子　赤茯苓（各半兩）　天麻（一兩）　殭蠶（炒）　乾葛（炒）　白花蛇（酒浸焙各一分）　川附子（炮）　防風　麻黃（各三錢）　肉豆蔻　母丁香　藿香葉　沉香　木香（各二錢）　輕粉　真珠末　牛黃（各一錢半）　龍腦（半字）　麝香（一字）　雄黃　辰砂（各二分以上七味各另研）</p>
<p>上為末熟蜜劑旋丸大豆大每服一二丸食前薄荷湯或麥門冬湯下</p>
<p><u>理中湯</u></p>
<p>人參　白朮　乾薑（炮）　甘草（炒）</p>
<p>上銼散每服二錢煎服</p>
<p><u>朮附湯</u>　治小兒慢驚泄瀉身冷</p>
<p>白朮（四兩）　甘草（二兩炙）　附子（一兩半炮去皮臍）</p>
<p>上銼散每三錢水一盞半生薑五片棗一枚煎前溫服</p>
<p><u>調氣散</u>　治小兒慢驚之後以此調之</p>
<p>木香　香附子　人參　陳皮　藿香　甘草（各等分）</p>
<p>上銼散每服二錢姜三片棗一枚水一盞溫服</p>
<p><u>來復丹</u>　治小兒驚風昏塞以二三丸薄荷湯研灌下得泄即愈驚風藥證用藥已效若覺未甚蘇省可與來復丹數丸酌量用</p>
<p>硝石（一兩用硫黃為末瓷器內以微火炒用柳蓖攪不可火太過恐傷藥力再研極細）</p>
<p>太陰玄精石（研飛一兩）　五靈脂（水澄過沙石曬乾二兩）　青皮（去白）　陳皮（去白各二兩）　舶上硫黃（透明者一兩）</p>
<p>上為末醋糊丸如豌豆每服二三丸空心米飲送下</p>
<p><u>王氏惺惺散</u>　治小兒吐瀉脾弱內虛生驚</p>
<p>人參　茯苓　木香　天麻　扁豆　全蠍（全炙）　陳米（炒各等分）</p>
<p>上銼散每服二錢薑棗煎服</p>
<p><u>醒脾散</u>　治小兒吐瀉脾困欲發驚搐</p>
<p>人參　全蠍　白附子　天麻　甘草（炙）　茯苓　石菖蒲　木香　蓮肉　白朮</p>
<p>上為末每服三字薑棗煎服有熱去木香驅風醒脾皆可用</p>
<p><u>星香全蠍散</u>　治小兒慢驚風昏迷痰搐</p>
<p>木香　全蠍　人參　陳皮（各一錢）　甘草（炙）　有熱加防風</p>
<p>上銼散每服一錢入紫蘇薑棗煎服</p>
<p><u>烏蠍四君子湯</u></p>
<p>人參　白朮　茯苓　甘草　川烏　全蠍（等分）</p>
<p>上為末每服薑棗煎湯調下半錢再服去川烏</p>
<p><u>蘇合香丸</u></p>
<p>白朮　青木香　烏犀屑　香附子（炒去毛）　硃砂（研水飛）　訶梨勒（煨去皮）　白檀香　安息香（別為末無灰酒一升熬膏）　沉香　麝香　丁香　蓽茇（各二兩）　龍腦　蘇合香油（入安息香油內各一兩）　薰陸香（別研一兩）</p>
<p>上為末煉蜜和劑旋丸如桐子大每服一丸早朝熱湯任下</p>
<p><u>青州白丸子</u></p>
<p>半夏（白好者水浸洗過）　川烏頭（去皮劑半兩）　南星（三兩）　白附子（半兩）</p>
<p>上搗羅為末以生絹袋盛用井花擺未出者更以手擦令出如有滓更研再入絹袋擺盡為度放瓷盆中曬夜露至曉棄水別用井花水攪又曬至來日早再換新水攪如此春五日夏三日秋七日冬十日去水曬乾候如玉片碎研以糯米粉煎粥丸如綠豆大初服五丸加至十丸生薑湯不拘時候</p>
<p><u>礞石散</u></p>
<p>青礞石（一兩另研）　䍯硝（半兩一方用一兩同礞石入鍋子內用炭火煆過通紅須硝盡為灰藥冷如金色）</p>
<p>上為末急驚風痰壅上身熱如火用生薄荷自然汁入蜜調微溫服之良久其藥目裹痰墜下隨大便過痰涎與藥夾和如稠涕膠黏乃藥之效也次服退熱驅風截驚等藥又方為末稀糊丸綠豆大每服二丸急驚薄荷荊芥湯下慢脾風用木香湯磨下慢驚慢脾虛風亦痰涎潮上塞住咽喉藥食俱不能入此藥以青州白丸子再研為末稀糊為丸入熟蜜湯調下其痰自墜入腹次服慢驚藥其痰過時一如前說不動臟腑不傷真氣但見藥雜其稠涎略無糞出始知此藥神驗</p>
<p><u>宣風散</u></p>
<p>檳榔（二個）　甘草　橘紅（各半兩）　牽牛（二兩半生半熟炒用）</p>
<p>上為末每服半錢蜜湯調下</p>
<p><u>使君子丸</u></p>
<p>使君子肉（一兩）　陳皮　厚朴（各五錢半薑製）</p>
<p>上為末煉蜜丸如皂子大三歲一丸二歲以下服半丸米湯化下</p>
<p><u>益黃散</u></p>
<p>陳皮（一兩）　丁香（二錢）　訶肉（煨）　青皮（炒）　甘草（炙各半兩）</p>
<p>上銼散每服三錢水半盞煎服</p>
<p><u>黑附湯</u></p>
<p>附子（三錢炮去皮）　木香（一錢半）　甘草（半錢）　白附子（一錢）</p>
<p>上銼散每服三錢姜五片煎服若是手暖而蘇省即止</p>
<p><u>金液丹</u></p>
<p>舶上硫黃（十兩研細用瓷合盛合八分水和赤石脂封凝鹽泥固齊曬乾出上銼一小瓶子盛水滿安合子在上又以鹽泥固濟以炭火煆三日三夜放冷取出為末）</p>
<p>上以柳木槌乳缽研極細每服二錢生薑湯下生附四君子湯</p>
<p>上以四君子湯加生附子四分之一厥逆者封加每服一錢姜三片煎一匙送下</p>
<p><u>異功散</u></p>
<p>人參　茯苓　白朮　甘草　橘紅　木香（等分）</p>
<p>上銼散每服三字薑棗煎一方無木香</p>

<h1>卷之五·諸疳門</h1>

<h2>脈法</h2>
<p>脈訣啟蒙曰小兒脈單細為疳勞○虎口脈紋白色者為疳</p>

<h2>論疳之由</h2>
<p>丹溪曰小兒臟腑嬌嫩飽則易傷乳哺飲食一或失常不為疳者鮮矣皆因飲食不調甘肥無節而作也或嬰幼闕乳粥飯太早耗傷形氣則疳之根生延及歲月五疳病成錢氏曰疳皆脾胃耗傷亡津液之所作也故小兒臟腑柔脆有疾不可痛擊太下必亡津液凡有可下宜量大小虛實而下之則不致為疳也但見目澀或生白膜唇赤身黃喜臥冷地愛食泥土瀉痢無常腹肚脹滿耳鼻生瘡頭髮作穗腳弱項小肌瘦飲水者皆其候也</p>

<h2>論五疳</h2>
<p>曾氏曰小兒疳證有五心肝脾肺腎是也其咬牙舒舌舌上生瘡愛飲冷水唇紅面赤喜伏眠於地名曰心疳目生眵淚髮際左臉多青或目睛微黃瀉痢夾水或如苔色名曰肝疳愛吃泥土冷物引飲無度身面俱黃髮稀作穗頭大項小腹脹腳軟間或釀瀉肌瘦目慢晝涼夜熱不思乳食名曰脾疳鼻下黑襴手足枯細口有腥氣或作喘嗽右腮㿠白名曰肺疳兩耳內外生瘡腳如鶴膝頭縫不合或未能行牙齒生遲其縫臭爛傳作走馬疳之類名曰腎疳大抵疳之為病皆因過食飲食於脾家一臟有積不治傳之餘臟而成五疳之疾若脾家病去則餘臟皆安矣</p>
<p>按潔古曰疳者小兒病癖或久吐瀉醫者妄投過轉之藥小兒易為虛實致令胃虛而亡津液內發虛熱外消肌肉一臟虛則諸臟皆弱其病目胞腫腹肚脹滿利色無常漸加瘦瘠久不痊疴是腸胃有風積法當用宣風散導之後各依本臟補其母</p>

<h2>疳證當分冷熱虛實</h2>
<p>錢氏曰大抵疳病當辨冷熱肥瘦其初病者為肥熱疳久病者為冷瘦疳熱疳多在外鼻下臭爛自揉鼻頭上有瘡下著痂漸繞耳生瘡冷疳多在內目腫腹脹利色無常或沫青白漸至瘦削是也楊氏曰肝之受病皆虛使然耳熱者虛中之熱冷者虛中之冷治熱不可妄表過涼治冷不可峻溫過補況小兒易為虛實脾虛不受寒濕服寒則生冷服溫則生熱當誠此而勿誤</p>

<h2>諸疳治法</h2>
<p>凡熱疳以胡黃連丸冷疳以木香丸冷熱疳用通神丸主之疳在外耳鼻生瘡者以蘭香散諸瘡白粉散主之</p>
<p>心疳者由乳食不調心臟受熱所致也蓋其血氣未定乳哺有傷易生壅滯內有滯熱未得疏通故心神驚鬱而作驚疳之候外證身體壯熱臉赤唇紅口舌生瘡胸膈煩悶小便赤澀五心皆熱盜汗發渴齧齒生驚是也宜以茯苓丸錢氏安神丸主之</p>
<p>肝疳者由乳食不調肝臟受熱所致也若乳母寒溫不調滋味不節或外感風寒內傷喜怒邪氣未散遽以乳兒多成風疳肝者眼之候伏熱痰涎壅滯以致肝風入眼赤腫翳生眵淚爛眶痛癢揉擦昏暗雀盲甚至經月閤眼亦名疳眼外證搖頭揉目白膜遮精眼青淚多頭焦發豎筋青腦熱甲癢筋攣燥渴汗多下痢瘡癬是也宜以天麻丸生熟地黃湯主之</p>
<p>脾疳者由乳食不節脾胃受傷所致也或乳母恣食生冷肥膩或乳兒過傷或飯後與乳致吐或乳多眠久則變為乳癖腹脅結塊亦為奶疳外證面黃身熱肚大腳弱吐逆中滿乏力叫啼水穀不消泄下酸臭合面困睡減食吃泥是也宜以靈脂丸錢氏益黃散主之</p>
<p>肺疳者由乳食不調壅熱傷肺所致也肺主乎氣鼻乃肺所通其氣不和則風濕乘虛客於皮毛入於血脈故鼻下兩傍赤癢瘡濕名為鼻疳其瘡不痛汁所流處隨即生瘡亦名疳䘌外證咳嗽喘逆壯熱惡寒皮膚粟生鼻瘡流涕咽喉不利頤爛吐紅氣脹毛焦泄痢頻並是也宜以清肺飲化䘌丸錢氏阿膠散主之</p>
<p>腎疳者由乳哺不調臟腑伏熱所致也凡甘味入於脾而動蟲蟲動則侵蝕腸胃則下痢肛爛濕䘌多因疳傷久痢腸胃受濕得之外證腦熱肌削手足如冰寒熱時來滑泄肚痛口臭乾渴齒齦生瘡爪黑麵黧身多瘡疥是也宜以地黃丸主之</p>
<p>蛔疳者由乳哺不調食肉太早臟腑傷積甜膩莫不化而為蟲其證皺眉多啼嘔吐清沫腹中作痛肚大青筋唇口紫黑腸頭齒癢是也只有脊疳者乃蟲食脊膂身熱羸黃積中生熱煩渴下痢拍背如鼓鳴脊骨如鋸齒或十指皆瘡頻齧指甲是也兼以下蟲丸主之</p>
<p>丁奚哺露者皆因脾胃久虛不能克化水穀以榮血氣故肌肉消鑠腎氣不足後為風冷所傷使柴骨枯露亦有胎中受毒臟腑少血故也若手足極細項小骨高尻削體瘦腹大臍突號哭胸高或生谷瘕是為丁奚若虛熱往來頭骨分開翻食吐蟲煩渴嘔噦是為哺露並以十全丹大蘆薈丸主之</p>
<p>疳痢者或因感受風寒暑濕冷熱不調停積宿滯水穀不聚頻下惡物是也疳瀉者毛乾唇白額上青紋肚腹脹鳴瀉下糟粕是也勿用熱藥止澀並以香蔻丸木香丸主之</p>
<p>疳勞者潮熱往來五心煩熱手足心及胸前熱而發瘡盜汗骨蒸咳喘枯悴或渴而後瀉飲水惡食肚硬如石面色如銀斷不可治以黃耆湯鱉血煎主之疳腫者乃虛中有積其毒與氣交併故令腹肚緊脹由是脾胃受濕致令頭面腳手虛浮法當磨積調氣以褐丸子主之</p>
<p>無辜疳者腦後項邊有核如彈按之轉動軟而不疼久則肢體癰瘡便利膿血壯熱羸瘦頭露骨高是也古人有云浣濯兒衣露於檐下為此鳥落糞所汙兒著此衣感其惡氣遂成無辜之疾者此亦未必為是正孟子所謂盡信書則不如無書也宜蚵皮丸主之疳渴者乃臟腑有疳風氣加之或乳母恣食五辛酒面炙爆使小兒心肺壅熱日則煩渴飲水乳食不進夜則渴止是名疳渴黃連丸主之</p>
<p>走馬疳者多因氣虛受寒及有宿滯留而不去積溫成熱虛熱之氣上蒸或食甜酸鹹膩之物而脾雖喜甘積滯日久蘊熱上熏於口致齒焦黑爛間出清血血聚成膿膿臭成蟲侵蝕口齒甚至腮頰穿破乳食不便面色光浮氣喘熱作名曰走馬疳宜蘆薈丸主之外用燒鹽散銅青散敷之若經久不愈傳於唇之上下乃成崩砂證或齒落骨露飲食減少氣促痰鳴必致危矣</p>

<h2>疳證諸方</h2>
<p><u>胡黃連丸</u>　治小兒熱疳</p>
<p>胡黃連　川黃連（各半兩）　硃砂（一錢半別研）</p>
<p>上二連為末和硃砂入豬膽內系定虛懸於銚中煮一飯久取出研蘆薈青黛各二錢半去澱蝦蟆灰二錢麝少許粳米飯丸麻子大每服十丸米飲下</p>
<p><u>木香丸</u>　治小兒冷疳及疳在內</p>
<p>木香　青黛　檳榔　肉豆蔻（各一分）　麝香（一錢半另研）　續隨子（一兩去油）　蝦蟆（二個燒存性）</p>
<p>上為末蜜丸綠豆大每服三五丸至二十丸薄荷湯下食前服</p>
<p><u>通神丸</u>　治小兒冷熱疳</p>
<p>胡黃連　川黃連（各二錢）木香　蕪荑（炒各一錢）　丁香　肉豆蔻（生）　使君子（焙肉各一錢）　大蝦蟆（一枚銼碎水煮爛研膏）</p>
<p>上為末膏和丸麻子大每服十丸米飲下</p>
<p><u>蘭香散</u>　治小兒疳在外鼻下赤爛</p>
<p>蘭香葉（萊各二錢燒灰）　銅青（半錢）　輕粉（一錢）</p>
<p>上為末令勻看大小干貼之</p>
<p><u>茯神丸</u>　治小兒心疳</p>
<p>茯神　蘆薈　琥珀　川黃連（淨）　赤茯苓（各三錢）　釣藤皮　遠志肉（薑製焙乾）　蝦蟆灰（各二錢）　麝（少許）　細節菖蒲（一錢）</p>
<p>上為末粟米糊丸麻子大每服十丸薄荷湯下</p>
<p><u>天麻丸</u>　治小兒肝疳風疳疳眼</p>
<p>青黛　川黃連　大麻　北五靈脂　川芎　夜明砂（微炒）　蘆薈（各一錢）　龍膽草　防風蟬殼（去足各一錢半）　全蠍（二枚焙）　麝（少許）</p>
<p>上為末豬膽汁浸糕丸麻子大每服十丸薄荷湯下</p>
<p><u>生地黃湯</u>　治小兒疳眼</p>
<p>生乾地黃　熟地黃（各一兩淨）　川芎赤茯苓　枳殼（制）　杏仁（水浸去皮）　川黃連（淨）　半夏曲　天麻　地骨皮　甘草（炙各二錢半）</p>
<p>上銼每服二錢姜三片黑豆十五粒水煎臨睡服</p>
<p><u>靈脂丸</u>　治小兒脾疳食疳</p>
<p>北五靈脂　縮砂仁　白豆蔻仁　麥牙（炒）　蓬朮（煨）　青皮（去白）　橘紅　使君子肉（焙各二錢）　蝦蟆（炙焦三錢）</p>
<p>上為末糊丸麻子大每服十丸米飲下</p>
<p><u>化䘌丸</u>　治小兒肺疳</p>
<p>蕪荑　蘆薈　青黛　川芎　白芷梢　胡黃連　蝦蟆灰（等分）</p>
<p>上為末糊丸麻子大每服十丸米飲下</p>
<p><u>地黃丸</u>　治小兒腎疳</p>
<p>熟地黃（淨四錢半）　赤茯苓　山茱萸（蒸取肉焙）　牡丹皮　山藥（焙）　使君子（略煨取肉各二錢）　當歸　川芎　川楝肉（焙）</p>
<p>上為末煉蜜丸桐子大每服三丸空心溫湯化下</p>
<p><u>下蟲丸</u>　治小兒疳蛔諸蟲</p>
<p>新白苦楝根皮（酒浸焙）　木香　桃仁（浸去皮焙）　蕪荑（焙）　雞心檳榔（各二錢）　鶴蝨（炒一錢）　輕粉（半錢）　干蝦蟆（炙焦三錢）　使君子（略煨取肉五十個）</p>
<p>上為末糊丸麻子大每服十丸白湯下</p>
<p><u>香蔻丸</u>　治小兒疳瀉</p>
<p>黃連（三錢炒）　肉豆蔻　木香　訶子（煨）　茯苓　縮砂仁（各一錢）</p>
<p>上為末粳米飯為丸麻子大每服十五丸生薑湯下</p>
<p><u>厚朴香連丸</u>　治小兒疳痢</p>
<p>黃連（淨三錢）　木香　紫厚朴（制）　縮砂仁　夜明砂（隔紙炒各三錢）　訶子肉（炒一錢）</p>
<p>上為末粳米飯丸麻子大每服十五丸干艾葉生薑煎湯食前下</p>
<p>益黃散　治小兒脾疳泄瀉</p>
<p>陳橘皮（一兩）　青橘皮　訶子肉　甘草（炙各半兩）</p>
<p>上為粗末每服二錢水一盞煎至六分食前溫服</p>
<p><u>阿膠散</u>　治小兒肺疳咳嗽</p>
<p>明阿膠（一兩半面炒）　黍黏子（一分炒）　馬兜鈴（半兩）　甘草（一錢炙）　杏仁（七個去皮尖）　糯米（一兩）</p>
<p>上水一盞煎食前服</p>
<p><u>銅青散</u>　治小兒走馬疳口內生療牙根潰爛齒黑欲脫或出紫血</p>
<p>白芷（半兩）　牙硝（一錢）　銅青（一分）　麝香（一字）</p>
<p>上為末干敷口角及擦牙齒上甚妙</p>
<p><u>肥兒丸</u>　治諸疳多因缺乳吃食太早或因病久臟腑胃虛蟲動日漸羸瘦肚大青筋不能行立發豎發熱無顏色</p>
<p>黃連　神麯（各一兩炒）　麥芽（半兩炒）　木香（二錢半）　檳榔（二個）　肉豆蔻（炮）　使君子（各半兩酒浸去皮）</p>
<p>上為末麵糊丸麻子大每服二十丸米飲下量歲數加減</p>
<p><u>蚵皮丸</u>　治小兒無辜疳諸疳一服虛熱退二服渴止三服瀉痢住。</p>
<p>蟾蜍（一枚夏月溝渠中取腹大者不跳不鳴其身多癩）</p>
<p>上以取糞蟲一杓置桶中以取浸之桶上要幹不與蟲走卻將蟾蜍頓在蟲中任與蟲食一日一夜次以新布袋包系定置水中急處浸一宿取出瓦上焙為末入麝香一字揉飯為丸麻子大每服二三十丸米飲下此丸累修合活人多矣無不效驗</p>
<p><u>十金丹</u>　治小兒丁奚哺露</p>
<p>青皮　陳皮　莪朮（煨）　川芎　五靈脂　白豆蔻　檳榔　蘆薈（各二兩）　木香　使君子蝦蟆（各二錢炙）</p>
<p>上為末豬膽汁浸糕糊丸麻子大每服二十丸米飲下有熱薄荷湯下</p>
<p><u>鱉血煎</u>　治小兒疳勞</p>
<p>蕪荑　柴胡　川芎（各一兩）　人參（半兩）　使君子（二十枚）　胡黃連　川黃連（各二錢）</p>
<p>上用鱉血一盞吳茱萸一兩拌和二黃連淹一宿次早炒乾去茱萸鱉血只用二連末和諸藥作末粟糊丸麻子大每服二十丸食前白湯送下</p>
<p>丹溪一方治小兒疳積或腹大用胡黃連去疳積一云去果子積阿魏去肉積酒浸宿各五分神麯炒去食積黃連炒去熱積各二錢麝香四粒豬膽丸麻子大每服三十丸白湯下一方有蘆薈</p>
<p>一方治小兒疳用黃連白朮山楂各五錢胡黃連蘆薈各三錢蕪荑一錢半神麯四錢為末豬膽丸粟米大白湯下</p>
<p>一富兒面黃善啖易飢非肉不食泄瀉一月脈大以為濕熱當脾困而食少今反形健而多食不渴此必疳蟲也大便果有蟲令其治蟲而愈至次年夏初復瀉不痛而口乾子曰昔治蟲不治疳也以去疳熱之藥白朮湯下三日而愈後用白朮為君芍藥為臣川芎陳皮黃連胡黃連入蘆薈為丸白朮湯下禁肉與甜瓜防再舉</p>

<h2>諸疳灸法</h2>
<p>小兒疳眼灸合谷二穴各一壯取法在手大指次指兩骨間陷中是穴</p>
<p>小兒疳痢脫肛體瘦渴飲形容憔悴諸般醫治不瘥灸尾翠骨上三寸骨陷間三壯岐伯云兼三伏內用桃枝柳枝煎水浴孩子午正時當日灸之後用清帛拭兼有似見疳蟲隨汗出也此法神效</p>
<p>小兒羸瘦飲食少進不生肌肉灸胃俞二穴各一壯取法在十二椎下兩傍各一寸半陷中是穴</p>

<h1>卷之六·諸熱門</h1>

<h2>脈法</h2>
<p>脈經曰小兒脈沉而數者骨間有熱欲以腹按清冷也○難經曰熱病之脈陰陽俱浮浮之而滑沉之散澀○脈訣啟蒙曰小兒脈八至九至為發熱○浮大數為風熱</p>

<h2>論熱因諸臟所發</h2>
<p>全嬰方論云凡人之熱必乘陽邪而發經云邪之所湊其氣必虛留而不去其病則實邪正分爭客搏於皮膚或恍惚而啼叫或悶亂而喘粗其變多端或在表或在裡或似實或似虛或半表而半里或半實而半虛蓋小兒氣稟純陽臟腑生熱陰陽氣變熏蒸於外致令身熱也夫肝熱則兩眼赤痛流淚羞明或生翳障心熱則口內生瘡小便赤腫淋瀝不通肺熱則鼻衄不止大腑秘結脾熱則多涎沫口內長流心脾熱則生重舌木舌胃熱則口作臭腎熱則耳聾或出膿汁至於五臟蘊蓄風熱毒氣則令面赤如緋五心煩熱四肢溫壯痰涎壅盛目澀多渴若上衝咽喉則與氣血相搏結聚壅盛而成喉閉危在頃刻也內經刺熱篇云脾熱病者左頰先赤心熱病者額上先赤肺熱病者鼻上先赤肝熱病者右頰先赤腎熱病者頤間先赤雖未發見赤色者刺之名曰治未病其五臟所主熱各不同是不可以概論也大抵熱則生風風則生悸矣</p>

<h2>論表虛熱</h2>
<p>病機式要云有表而熱者謂之表熱無表而熱者謂之裡熱有暴發而為熱者乃久不宣通而致也有服溫藥而為熱者有惡寒戰慄而熱者蓋諸熱之屬心火之象也治法小熱之氣涼以和之大熱之氣寒以取之甚熱之氣則汗發之發之不盡則逆制之制之不盡求其屬以衰之苦者以治五臟五臟屬陰而居於內辛者以治六腑六腑屬陽而在於外故內者治之外者發之又宜養血益陰其熱不治而自愈也</p>

<h2>辨論諸熱</h2>
<p>楊氏曰小兒之病惟熱居多夫熱有潮熱驚熱夜熱餘熱食熱疳熱壯熱煩熱積熱風熱虛熱客熱癖熱寒熱血熱瘡疹熱十六者大同而小異熱之始發必有所因也其潮熱發歇有時驚熱顛叫恍惚夜熱多發旦止餘熱寒邪未盡食熱肚腹先發疳熱骨蒸盜汗壯熱一向不止煩熱心躁不安積熱頰赤口瘡風熱汗出身熱虛熱困倦少力客熱來去不定痰熱涎嗽飲水寒熱發如瘧狀血熱辰巳發熱瘡疹熱耳鼻尖冷諸證得之各有所歸其間或有三兩證交互者宜隨其輕重而處治之</p>

<h2>諸熱治法</h2>
<p>心熱者視其睡口中氣溫或合面臥及上竄搖頭咬牙瀉心湯主之肝熱手尋衣領及亂捻物瀉青丸主之壯熱飲水喘悶瀉白散主之</p>
<p>脾熱其熱在肌肉遇夜尤甚怠墮嗜臥身熱飲水四肢不收瀉黃散主之</p>
<p>肺熱手掐眉目日西熱甚喘嗽寒熱壯熱飲水輕者瀉白散重者涼膈散主之</p>
<p>腎熱兩足不喜衣覆然此者臍之下皆腎之所主緣心氣下行於腎部也東垣滋腎地黃丸主之</p>
<p>潮熱因傷寒時疫觸變邪氣陰氣不足陽氣有餘陽邪暴傷則血氣凝滯不即流通壅逆無歸傳於足陽明之經遂生潮熱早晚兩度如潮水之應期也傷寒論云潮熱者實熱也當利大便脈實者大柴胡湯下之脈虛浮數者百解散汗之</p>
<p>驚熱者遍身發熱面青自汗心悸不寧脈數煩躁叫恍惚以錢氏涼驚丸安神丸主之</p>
<p>夜熱者但夜間發熱是陰中有陽邪也以元戎四物二連湯主之</p>
<p>餘熱者謂寒邪未盡傳驚之遺熱也仁齋曰傷寒汗下後而熱又來乃表裡俱虛氣不歸元陽浮於外不可再用涼藥蓋熱去則寒起古人戒之法當和胃氣使陽氣收斂歸內其熱自止宜以參苓白朮散主之食熱者手心熱壯背先熱噯氣吐乳大便酸臭宜下積丸主之</p>
<p>疳熱者形瘦多渴吃食不長肌肉骨蒸盜汗泄瀉無常肚大腳弱是也宜龍膽丸胡黃連丸蘆薈丸之類壯熱者一向不止由血氣壅實五臟生熱蒸熨於內則眠臥不安精神恍惚熏發於外表里俱熱煩躁喘粗甚則發驚癇也火府散通聖散主之</p>
<p>煩熱者心燥不安五心煩熱四肢溫壯小便赤澀宜一粒金丹主之</p>
<p>積熱者頰赤口瘡下盛則腰腿壅腫表裡實則身熱便澀虛則汗下後仍熱也或內因酒麴煎爆熱藥峻補外因大暖爐火侵逼皆能生熱此內外蘊積之熱非食積熱也宜三黃丸四順飲主之</p>
<p>風熱者汗出身熱呵欠面赤因其解脫風邪致令所傷客於皮毛入於臟腑則惡風發熱目澀多睡陽氣有餘身熱無汗陰氣有餘身寒有汗陰陽有餘無汗而寒素問曰汗出而身熱者風熱也消風散綠霞丸主之</p>
<p>虛熱者因傷寒及諸熱汗下之後余去津太過氣血未調食飲勞傷致令虛熱其候困倦少力面色青白泄瀉多尿虛汗自出恍惚神慢虛氣軟弱又有久嗽久瀉久痢久血久瘧以致諸疾之後成者皆虛熱也</p>
<p>凡病久則血氣虛氣虛則發厥血虛則發熱氣血皆虛則手足厥而身熱也宜以惺惺散四君子湯錢氏白朮散主之</p>
<p>客熱者為陽邪干於心也心若受邪則熱形於額故先起於頭面次而身熱恍惚多驚聞聲驚恐此良由真氣虛而邪氣勝也邪氣既勝真氣與之交爭發渴無時進退不定如客之往來故曰客熱導赤散黃連瀉心湯主之</p>
<p>癖熱者涎嗽飲水由乳食不消伏結於中致成癖塊也宜與白朮散滋養津液以珍珠丸下其痰涎或以褐丸子磨之</p>
<p>寒熱者證如瘧狀陰陽相勝也先寒而後熱陽不足先熱而後寒陰不足寒多而熱少陰勝陽也熱多而寒少陽勝陰也寒熱相半陰陽交攻也寒熱隔日陰陽乍離也陽盛發熱陰盛發寒也其有頭疼汗出者有嘔吐不食者有增寒而飲水者壯熱而飲湯者有筋骨疼痛者或瀉或秘或內寒而外熱或內熱而外寒又有寒而腹中痛熱而腹中鳴是有食積也治法因於食積者當用白餅子下之次行補助以錢氏白朮散寒多熱少者小柴胡湯加桂熱多寒少者白虎湯加桂寒熱相半者並用小柴胡湯主之</p>
<p>血熱者每日巳午間發熱遇夜則涼六合湯主之</p>
<p>疹熱耳鼻尖冷是也人參敗毒散升麻葛根湯參蘇飲之類</p>
<p>按以上辨論諸熱證可謂詳悉全嬰方所云血熱者巳午發熱遇夜則涼與東垣所謂夜則發熱晝則明瞭不同然東垣所云血熱者指陰虛而生內熱也夜則發熱晝則明瞭取其晝陽夜陰也鄭氏所云血熱者指小兒血盛實而言也蓋謂巳午者心火用事之時也心主血血氣行至巳午則陽氣盛陽氣與正氣相搏故至期而發熱非其時者非血熱也因二說不同故並錄之</p>

<h2>熱證諸方</h2>
<p><u>導赤散</u>　治小腸實熱</p>
<p>生地黃　木通　甘草（各等分）</p>
<p>上為粗末入竹葉同煎</p>
<p><u>瀉心湯</u>　治心熱</p>
<p>黃連（一兩）</p>
<p>上為末水調二三分大小與之</p>
<p><u>瀉青丸</u>　治肝熱</p>
<p>當歸　龍膽草　川芎　山梔　大黃　羌活　防風</p>
<p>上為末蜜丸雞頭大每服一丸或半丸</p>
<p><u>瀉白散</u>　治肺熱</p>
<p>桑白皮　地骨皮（各一兩）　甘草（五錢）</p>
<p>上為末每服二三錢</p>
<p><u>瀉黃散</u>　治脾熱口臭咽乾</p>
<p>藿香（七錢）　山梔（一兩）　石膏（半兩）　甘草（三兩）　防風（四兩）</p>
<p>上為末同蜜酒拌微炒香每服一錢</p>
<p><u>滋腎地黃丸</u>　治腎熱</p>
<p>黃柏（二錢）　知母（一錢）　桂（一分半）</p>
<p>上為末熟水丸桐子大每服二十丸至三十丸合前百沸湯下</p>

<h3>潮熱之劑</h3>
<p><u>人參芎歸散</u>　治小兒虛勞內熱潮熱或遍身瘡</p>
<p>北參　當歸　遠志（浸取肉薑製焙）　北前胡　柴胡　地骨皮　防風　北桔梗　枳殼（制）半夏曲（各一錢半）　川芎　赤芍藥　茯苓　麥門冬（去心各二錢）　甘草（三錢焙）</p>
<p>上銼細每服二錢水小盞姜三片紫蘇葉三四葉發瘡者兼服豬肚黃連丸方見疳門別作小丸不惟治瘡治渴其發熱而脹者可與服二十丸</p>
<p><u>大柴胡湯</u>　治小兒潮熱脈實者</p>
<p>柴胡　黃芩　芍藥　大黃　半夏　枳實　甘草（等分）</p>
<p>上水一鍾姜三片煎服</p>
<p><u>百解散</u>　治小兒潮熱脈虛浮數用此微汗</p>
<p>乾葛（二兩半）　升麻　赤芍藥（各二兩）　黃芩（一兩）　麻黃（七錢半）　薄桂（二錢半）　甘草（一兩半）</p>
<p>上水一鍾姜三片蔥一根煎</p>
<p><u>十味人參散</u>　治潮熱身體倦怠</p>
<p>柴胡　甘草　人參　茯苓　半夏　白朮　黃芩　當歸　芍藥　葛根</p>
<p>上㕮咀水一鍾姜三片煎服</p>

<h3>驚熱之劑</h3>
<p><u>涼驚丸</u>　治小兒驚熱</p>
<p>大黃　黃連　防風　龍膽草　川芎　薄荷（各等分）</p>
<p>上為末麵糊丸如黍米大青黛為衣大小加減白湯服</p>
<p><u>安神丸</u>　治小兒驚熱</p>
<p>天門冬（去心焙牙硝）　白茯苓　山藥　寒水石（各五錢）　硃砂（三錢）　甘草（五錢）　龍腦（一字研）</p>
<p>上為末煉蜜丸如雞頭大每服一丸沙糖水化下</p>

<h3>發驚之劑</h3>
<p><u>元戎四物二連湯</u>　治晝則明瞭夜則發熱</p>
<p>當歸　生地黃　白芍藥　川芎　黃連　胡黃連</p>
<p>上㕮咀水一鍾煎服</p>
<p><u>黃連地黃丸</u>　治夜熱因傷寒後餘熱失解</p>
<p>黃連　川芎　赤茯苓　地黃</p>
<p>上銼散入燈心一捻水煎食遠服</p>

<h3>治餘熱之劑</h3>
<p><u>實脾散</u>　治小兒餘熱不除</p>
<p>川芎　茯苓　甘草　白朮</p>
<p>上銼散用水煎食遠服</p>
<p><u>參苓白朮散</u>　治胃氣收斂浮陽退餘熱</p>
<p>人參　茯苓　粉草　白朮　扁豆　山藥　砂仁　薏苡仁　桔梗（各一兩）　蓮子肉（半兩）</p>
<p>上為末每服半錢棗湯調飲或米湯亦可</p>

<h3>治食熱之劑</h3>
<p><u>紫霞丸</u></p>
<p>代赭石（煆醋浸七次）　赤石脂　杏仁（五十個）　巴豆（二十粒去皮心）</p>
<p>上代赭石赤石脂先為末和杏仁巴豆同搗三十杵若硬加蜜少許更杵丸如粟米大用蜜器盛每取服二丸以乳汁送下</p>
<p><u>下積丸</u>　治食熱</p>
<p>丁香　縮砂仁（各十個）　使君子（五個焙）　川巴豆</p>
<p>上為末研細和勻爛飯丸麻子大每服三十丸橘皮煎湯送下</p>

<h3>疳熱之劑</h3>
<p><u>龍膽丸</u>　治疳熱</p>
<p>龍膽草　升麻　苦楝根（焙）　防風　赤茯苓　蘆薈　油發灰（各二錢）　黃連　青黛（干）</p>
<p>上為末豬膽汁浸蒸餅和丸麻子大每服二十丸</p>
<p>薄荷紫蘇炮湯送下</p>
<p><u>胡黃連丸</u>　治熱疳</p>
<p>胡黃連　川黃連（各半兩）　硃砂（一錢半另研）</p>
<p>上二連為末和硃砂入豬膽內系定虛懸於銚中煮一飯久取出研蘆薈青黛干各二錢半去澱蝦蟆灰二錢麝少許粳米飯丸麻子大每服十丸米飲下</p>
<p><u>蘆薈丸</u>　治疳熱</p>
<p>蘆薈　蕪荑　木香　青黛（干）　檳榔　川黃連（淨各一分）　蟬殼（二十一枚）　胡黃連（半兩）　射（少許）</p>
<p>上為末豬膽二枚取汁浸糕丸麻子大每服二十丸米飲送下</p>
<p><u>鱉甲飲</u>　治小兒骨蒸潮熱盜汗</p>
<p>鱉甲（醋炙）　地骨皮　秦艽　當歸　柴胡　枳殼　知母（各等分）</p>
<p>上㕮咀三歲一錢水半盞桃柳枝各三寸烏梅一個煎三分服</p>

<h3>壯熱之劑</h3>
<p><u>地黃煎</u>　治小兒壯熱煩心眠臥不安</p>
<p>生地黃（汁一升）　白沙蜜（三合）　酥（三合）　生門冬汁（二合）</p>
<p><u>火府丹</u>　治小兒壯熱</p>
<p>生地黃　木通　甘草　黃芩　上水一鍾煎服</p>

<h3>煩熱之劑</h3>
<p><u>一粒金丹</u>　治小兒五臟蘊熱胸膈煩悶五心煩熱</p>
<p>人參　犀角　玳瑁　琥珀　防風（各一錢）　茯苓　寒水石（煆）　甘草（各一錢）　龍腦　硃砂（火飛各一錢）</p>
<p>上為細末用粒米糊丸黃實大金箔為衣用麥門冬去心煎湯送下　麝（半錢）　金箔（二十五片）</p>
<p><u>柴苓湯</u>　治小兒溫壯伏熱來去</p>
<p>柴胡（三錢半）　麥門冬（去心）　人參（去蘆）　赤茯苓　甘草（各二錢半）　黃芩（五錢）</p>
<p>上銼散用水煎入小麥二十粒竹葉三片</p>
<p><u>絳雪丹</u>　治小兒煩熱</p>
<p>芒硝（一兩）　硃砂（一兩）</p>
<p>上為末飯丸雞頭大三歲一丸沙糖水化下</p>

<h3>積熱之劑</h3>
<p><u>梔子湯</u>　治小兒積熱心臟小便赤腫口內生瘡</p>
<p>梔子仁　木通　當歸尾　白芷（各二錢）　防風　甘草（各一錢）</p>
<p>上為細末麥門冬湯送下</p>
<p><u>三黃丸</u>　解和小兒三焦積熱</p>
<p>黃連（去毛）　黃芩（炒）　大黃（紙煨各半錢）</p>
<p>上為細末煉蜜丸如皂子大用白湯研化食前服</p>
<p><u>四順飲</u>　治小兒臟腑蘊積實熱</p>
<p>當歸　大黃（蒸二次）　甘草（生）　赤芍藥（各一錢）</p>
<p>上㕮咀用水一鍾食前服</p>

<h3>風熱之劑</h3>
<p><u>消風散</u>　治小兒解脫致令風邪客於皮毛入於臟腑則令惡風發熱胸膈痰涎目澀多睡</p>
<p>荊芥穗　甘草（炙）　川芎　羌活（去蘆）　殭蠶（去嘴）　防風（去蘆）　茯苓（去皮）　蟬蛻（炒去土）　藿香葉　人參（去蘆各一兩）　厚朴（去皮薑製炒）　陳皮（去白各二錢半）</p>
<p>上為細末用茶清或乳香煎湯調下不拘時服</p>
<p><u>綠霞散</u>　治小兒風熱身如火炭發則多啼</p>
<p>柏葉（半兩）　全蠍　鬱金　殭蠶（炒去嘴粉）　雄黃（各一分）　南星（薑汁製）</p>
<p><u>生犀丸</u>　解散風熱清心肺利咽喉</p>
<p>犀角　真朱　防風　羌活　天竺黃　茯神（各三錢）　大黃（煨）　甘草（炙各二錢）　硃砂（火飛一錢）</p>
<p>上為細末煉蜜丸如黃豆大用薄荷湯研化入麥門冬去心不拘時候服冬至立夏前宜服</p>
<p><u>清解散</u>　治小兒感風發熱</p>
<p>北參　防風　天麻　北前胡　茯苓　北桔梗　枳殼　甘草（各二錢）　細辛　柴胡（各一錢半）　川芎（三錢）</p>
<p>上為末每一錢水一盞薄荷三葉煎服</p>

<h3>虛熱之劑</h3>
<p><u>惺惺散</u>　治小兒虛熱</p>
<p>人參　桔梗　白茯苓　白朮　天花粉（各一兩）　細辛（二錢）　防風　川芎　南星（生用二錢半）　甘草（七錢）</p>
<p>上水一鍾姜三片薄荷三葉慢火煎</p>
<p><u>四君子湯</u></p>
<p>人參　白朮　茯苓　甘草</p>
<p>上水一鍾煎服</p>
<p><u>錢氏白朮散</u></p>
<p>人參　白朮　茯苓　木香　藿香　甘葛　甘草</p>
<p>上水一鍾煎服</p>

<h3>客熱之劑</h3>
<p><u>導赤散</u>　<u>瀉心湯</u>（二方見前心熱方內）</p>

<h3>癖熱之劑</h3>
<p><u>白朮散</u>（方見前）</p>
<p><u>珍珠丸</u>　褐丸子</p>

<h3>寒熱之劑</h3>
<p><u>小柴胡湯</u></p>
<p>人參　半夏　柴胡　甘草　黃芩</p>
<p>上水一鍾姜三片棗一枚煎服</p>
<p><u>白虎湯</u></p>
<p>石膏　粳米　知母</p>
<p>上水一鍾煎服</p>

<h3>血熱之劑</h3>
<p><u>六合湯</u>　治小兒血熱每日巳午間發熱遇夜則涼</p>
<p>當歸　大黃　川芎　熟地黃</p>
<p>上為末三歲一錢水半盞煎至三分無時服</p>
<p><u>豬膽丸</u>　治小兒每日半饍後發熱夜則身涼此血熱也</p>
<p>胡黃連（二錢半）　宣黃連　赤芍藥（各半兩）</p>
<p>上為末豬膽汁和成劑入在膽中懸用漿水煮熟取出飯為丸如豆大三歲三十丸米湯送下日三服無時</p>

<h3>疹熱之劑</h3>
<p><u>升麻葛根湯</u>　治小兒瘡疹發熱</p>
<p>升麻　葛根　芍藥　甘草</p>
<p>上水一鍾姜三片煎服</p>
<p><u>參蘇飲</u>　治小兒瘡疹發熱</p>
<p>人參　半夏　茯苓　甘草　桔梗　枳殼　甘葛　前胡　木香　紫蘇　陳皮</p>
<p>上水一鍾姜三片棗一枚煎服</p>

<h1>卷之七·瘧疾門</h1>

<h2>脈法</h2>
<p>要略云瘧脈自弦弦數者多熱弦遲者多寒弦小緊者下之弦遲者可溫之弦緊者可發汗浮大者可吐之弦數者風發也以飲食消息止之</p>
<p>脈經云瘧脈自弦微則為虛代散則死</p>

<h2>瘧論</h2>
<p>內經曰夏傷於暑秋必痎瘧蓋傷之淺者近而暴傷之重者遠而為痎痎者久瘧也是知夏傷暑氣閉而不能發泄於外邪氣內行至秋而為瘧也良由乳母抱持解脫不避風寒又因觸冒暑濕致令邪氣客於皮膚痰飲積於臟腑陰陽偏勝邪正相攻而作往來寒熱也若陽盛則熱陰盛則寒先寒而後熱者陽不足也先熱而後寒者陰不足也寒多而熱少者陰勝陽也熱多而寒少者陽勝陰也寒熱相半陰陽交攻也寒熱相間陰陽乍離也大抵小兒皆自飲食上得之者為多須用先與消導然後隨其得病所由而調理之斯為良法</p>

<h2>治瘧大法</h2>
<p>明醫雜著云瘧是風暑之邪有一日一發有二日一發有三日一發有間一日連二日發有日與夜各發有汗有無汗有上半日發或下半日發有發於夜者治法邪從外入宜散發之然以扶胃氣為本又須分別陽分陰分而用藥邪瘧及暫發者可散可截虛瘧及久者宜補氣血若過服截藥致傷脾胃則必延綿不休凡熱多寒少無汗者桂枝麻黃各半湯有汗多者柴胡桂枝湯汗多而渴者白虎加桂湯小便赤熱多寒少者小柴胡湯寒多熱少者清脾湯養胃湯久未止者鬼哭散止之熱多汗出為瀉腹痛者大柴胡下之久瘧不愈腸下結塊者木香丸鱉甲飲子調之甚則以神祐丸消之煩渴者五苓散有小兒瘧疾用藥退熱太早變作浮腫外腎腫大或食傷於脾胃浮者脾之外應也宜大腹皮湯草果飲之類治之</p>

<h2>瘧疾灸法</h2>
<p>小兒瘧疾灸大椎百會各隨年壯然百會在髮際上五寸</p>
<p>小兒久瘧不愈灸足大指次指外間陷中各一壯名內庭穴也</p>

<h2>瘧疾諸方</h2>
<p><u>桂枝麻黃各半湯</u></p>
<p>麻黃　甘草　官桂　芍藥</p>
<p>上水一盞煎服</p>
<p><u>柴胡桂枝湯</u></p>
<p>柴胡　官桂　黃芩　半夏　甘草　人參</p>
<p>上水一盞姜三片煎服</p>
<p><u>白虎加桂湯</u>　治小兒瘧疾發渴</p>
<p>石膏　知母　甘草　桂枝</p>
<p>上水一盞粳米一撮煎服</p>
<p><u>小柴胡湯</u>　治小兒瘧疾寒熱往來</p>
<p>人參　半夏　柴胡　黃芩　甘草</p>
<p>上銼散水一盞姜三片棗一枚煎服</p>
<p><u>清脾湯</u>　治小兒瘧疾作浮腫兼有寒熱不退飲食不進</p>
<p>白朮　茯苓　厚朴　青皮　陳皮　半夏　大腹皮　檳榔　三稜　蓬朮　木通　甘草</p>
<p>上銼散水一盞每服三錢姜煎</p>
<p><u>養胃湯</u>　治外感風寒內傷生冷溫中快膈能闢山嵐瘴氣寒瘧脾胃虛寒嘔逆噁心並宜服之</p>
<p>蒼朮　厚朴　半夏　藿香　草果　人參　茯苓　甘草　陳皮</p>
<p>上銼散每服三錢棗子一枚烏梅一個煎食前熱服鬼哭散　止瘧疾久不愈</p>
<p>常山　大腹皮　白茯苓　鱉甲（醋炙）</p>
<p>上銼散每服二錢桃柳枝各七寸同煎臨發時服略吐出涎此方只用常山茯苓甘草煎服亦效</p>
<p><u>大柴胡湯</u></p>
<p>柴胡　黃芩　甘草　半夏　枳實　芍藥</p>
<p>上銼散水一盞姜三片棗一枚煎服</p>
<p><u>鱉甲飲子</u>　治瘧久不愈腹中結為癥瘕名曰瘧母</p>
<p>鱉甲（醋炙）　白朮　黃芩　草果　檳榔　芎藭　橘紅　甘草　厚朴　白芍藥（等分）</p>
<p>上㕮咀水一盞姜三片棗一枚煎服</p>
<p><u>大腹皮湯</u>　治小兒瘧疾用藥太早退熱變作浮腫外腎腫大飲食不進宜服之</p>
<p>大腹皮　檳榔　三稜　蓬朮（各一錢）　枳殼　蒼朮（各二兩）　甘草（三錢）</p>
<p>上銼散每服三錢生薑皮蘿蔔子椒目同煎</p>
<p><u>草果散</u>　治小兒瘧疾寒多熱少或遍身浮腫</p>
<p>厚朴　青皮　草果　藿香　半夏　甘草　丁香　神麯　良薑</p>
<p>上銼散每服三錢薑棗煎服</p>
<p><u>四獸飲</u>　治五臟氣虛喜怒不節勞逸兼併致陰陽相勝結聚痰飲與衛氣相搏發為瘧疾兼治癉瘧神效</p>
<p>半夏（泡）　人參　白朮　茯苓　草果　陳皮（各一兩半）　甘草（二錢半）</p>
<p>上銼散以烏梅棗子生薑各一枚煎每服三錢</p>

<h1>卷之八·痢疾門</h1>

<h2>脈法</h2>
<p>內經曰腸澼下血身熱則死寒則生腸澼下白沫脈沉則生浮則死仲景云下痢脈滑而數者有宿食也當下之脈訣云痢下宣腸急痛時浮大之脈歸泉路</p>

<h2>赤白痢論</h2>
<p>小兒八痢者乃飢飽勞役風驚暑濕因觸冒天地八風之邪而得故以命名也大抵多由脾胃不和飲食過度停積於脾胃不能克化又為風寒暑濕之氣干之故為此疾傷熱則赤傷冷則白傷風則純下清血傷濕則下如豆汁冷熱交併赤白兼下若下迫後重裡急窘迫急痛者火性急速而能燥物故也或夏末秋初忽有暴寒折於盛熱無所發散客搏肌膚之中發於外則為瘧發於內則為痢內外俱發則為瘧痢凡痢久則令腫滿下焦偏冷上焦熱結則為上實下虛若脾胃濕熱之毒熏蒸清道而上以致胃口閉塞而禁口之證又有一方一家之內上下傳染長幼相似是疫毒痢也當先推其歲運以平其外察其鬱結以調其內審其所傷別其虛實冷熱以治之條然明白不致妄投也</p>

<h2>諸痢大法</h2>
<p>病機式要云後重則宜下腹痛則宜和身重則除濕脈弦則去風膿血稠黏以重劑竭之身冷自汗以毒藥溫之風邪內縮宜汗之鴨溏為痢當溫之又云在外者發之在裡者下之在上者湧之在下者竭之身表熱者內疏之小便澀者分利之又曰盛者利之去者送之至者止之兵法曰避其銳氣擊其墮歸此之謂也秘藏云假令傷寒冷之物脹滿而傳飧泄者宜溫熱之劑以消導之傷濕熱之物而成膿血者宜苦寒之劑以內疏之風邪下陷者升舉之濕氣內勝者分利之裡急者下之後重者調之腹痛者和之洞瀉腹鳴無力不及拈衣其脈細而弱者溫之膿血稠黏至圊而不能便其脈洪大而有力者寒之下之</p>
<p>按人之飲食過傷恣食辛熱寒冷之物皆能致傷腸胃腸胃一傷不能運化傳送遂蓄停滯而為痢經曰飲食不節起居不時者陰受之陰受之則入五臟䐜滿閉塞不為飧泄久為腸澼是也治法當先化食毒或可攻伐然後隨寒熱溫涼以調之</p>

<h2>論痢疾用熱藥之</h2>
<p>原病式云或曰白痢既為熱何故服辛熱之藥亦有愈者耶蓋辛熱之藥能開發腸胃鬱結使氣液宣通流濕潤燥氣和而已蓋病微者可愈甚者鬱結不開其病轉加而死矣凡治熱甚吐瀉亦然夫治諸痢者莫若以辛苦寒藥治之或微加辛熱佐之則可蓋辛能發散開通鬱結苦能燥濕寒能勝熱使氣宣平而已如錢氏香連丸之類是也故治諸痢者黃連黃柏為君以其至苦大寒正主濕熱之病乃若世傳辛熱金石毒藥治諸吐瀉下痢或有愈者以其善開鬱結故也然雖亦有驗者或不中效反更加害</p>
<p>按治痢用辛苦寒之劑開鬱燥濕勝熱三法俱備世之用辛熱金石毒藥者誠非也然亦有久痢腸胃虛滑者亦當求責</p>

<h2>痢疾不治證</h2>
<p>凡小兒下痢如塵腐色者死○下如屋漏水者死○下痢日久大孔如竹筒者死○下痢如竹筒注水者死○又小兒赤白同下久而不禁小便赤澀腹痛發熱唇紅舌胎氣促心煩坐臥不安狂渴飲水穀道傾陷時復面容似妝飲食全不進者並不治</p>

<h2>下痢灸法</h2>
<p>黃帝云小兒疳痢脫肛體瘦渴飲形容憔悴諸醫治不瘥灸尾翠骨上三寸骨關三壯岐伯曰兼三伏內用桃柳枝煎洗兒午時當日灸之後用青帛拭當有蟲隨汗而出此神妙法也</p>
<p>小兒秋涼冷痢不止灸臍下二三寸間動脈中是穴各灸三壯</p>
<p>小兒脫肛瀉血每廁臟腑撮痛不可忍灸百會一穴三壯取法在頭中心陷者是穴又灸接脊一穴取法在十二椎下節間是穴</p>
<p>小兒脫肛瀉秋深不效灸龜尾穴一壯取法在脊端窮骨也</p>

<h2>痢疾諸方</h2>
<p><u>小香連丸</u>　治小兒冷熱腹痛利下水穀</p>
<p>木香　訶子肉（各二分）　黃連</p>
<p>上為末飯丸綠豆大米飲下十丸至三四十丸頓服之</p>
<p><u>地榆散</u>　治小兒赤痢因大腸停積熱毒得之或點</p>
<p>滴鮮紅　地榆（不拘多少）</p>
<p>上為末每服一錢米湯調下加黃連枳殼赤芍藥甘草一方去甘草加厚朴木瓜湯下</p>
<p><u>芍藥柏皮湯</u>　治小兒一切惡痢窘迫膿血</p>
<p>芍藥　黃柏（各一兩）　當歸　黃連（各半兩）</p>
<p>上為末水丸綠豆大溫水化下</p>
<p><u>胃風湯</u>　治小兒風冷乘虛入客腸胃水穀不化泄瀉注下及腸胃濕毒下如豆汁或下瘀血日夜無度</p>
<p>人參　白朮　茯苓　芎藭　桂　當歸　芍藥</p>
<p>上粗末每服二錢入粟米數粒同煎食前服</p>
<p><u>敗毒散</u>　治疫毒痢一方一家長幼相似者</p>
<p>前胡　柴胡　桔梗　甘草　芎藭　茯苓　羌活　獨活　人參　枳殼</p>
<p>上水一鍾姜三片棗一枚加陳皮陳米煎一服</p>
<p><u>百一選方</u>　治小兒噤口痢</p>
<p>上蓮肉去殼留心碾為末每服半錢陳米飲調下此是毒氣上衝心肺藉此以通心氣便覺思食</p>
<p>香脯　治小兒刮腸下痢噤口不食閉口閤眼至重者</p>
<p>精豬肉（一兩劈薄片）　膩粉</p>
<p>上將豬肉於炭火上慢炙旋鋪膩粉勻成脯每以少許與吃如未知吃且放鼻邊自然要吃此方治胃口有毒食之神效</p>
<p><u>小連丸</u>　治小兒瀉痢赤白脾胃虛弱糟粕不聚腹脹不食時作陣痛煩渴身熱</p>
<p>黃連（三兩）　乾薑（炮一分）　當歸　阿膠（炒為珠煎成膏各一兩半）</p>
<p>上三味為末以阿膠膏為丸如小豆大三歲三十丸米湯化下食前</p>
<p><u>養臟湯</u>　治小兒冷熱不調下痢赤白或如膿血魚腦裡急後重臍腹絞痛脫肛遂下並皆治之</p>
<p>粟殼（三錢蜜炒去蒂）　人參　當歸　肉桂（各一錢）　訶子（煨一錢）　木香（半錢）　肉豆蔻（煨）　白朮（一錢）　芍藥（半錢）　甘草（炙一錢）</p>
<p>上銼散每服二錢水一盞煎溫服</p>

<h1>卷之九·吐瀉門</h1>

<h2>脈法</h2>
<p>內經云脈浮者霍亂○劉宗厚云霍亂脈來浮洪者可治○微而遲氣少不語者難治○脈訣云小兒乳後輒嘔逆更兼脈亂無憂慮</p>

<h2>論小兒吐瀉有冷有熱</h2>
<p>丹溪云霍亂之候起於倉卒多因夾食傷寒陰陽乖隔上吐下利而燥擾痛悶是其候也故偏陰則多寒偏陽則多熱曾氏云霍者吐亂者瀉有心痛而先吐者有腹痛而先瀉者莫不由中焦而作上焦主納而不出中焦主腐水穀而生榮衛灌溉百骸下焦分別水穀主出而不納此三才成式日用常行之道故脾居中州胃為水穀之海乳哺入胃脾能克化然後水穀分其清濁傳變得宜則無吐瀉之患凡小兒上吐不止下瀉不停皆因六氣未完六淫易侵兼以調護失常乳食不節遂使脾胃虛弱清濁相干蘊作而然有先瀉而後吐者乃脾胃虛冷其候先瀉白水吐亦不多口氣緩而神色慢額前有汗六脈沉濡此為冷也先吐而後瀉者乃脾胃有熱氣促唇紅吐來面赤脈洪而數渴飲水漿此為熱也冷熱之分要須詳審</p>

<h2>論小兒吐瀉宜暫斷乳</h2>
<p>鄭氏云小兒吐瀉因外傷風冷內傷乳食或兒啼未定氣息未調以乳飼之氣逆於上則停滯胸膈致令嘔吐氣逆於下則傷脾胃致令泄瀉上下氣逆吐瀉俱作凡小兒只吐不瀉者逆其吐必有痰發驚者十無一生若只瀉不吐或吐瀉俱發者日久不退亦變陰癇治之當暫斷其乳輕者周時重者三日宜頻與稀粥服藥速效十全八九或者不信是言以小兒籍乳為命不肯暫斷然乳固不可斷也殊不知因乳所傷得之者若再以所傷之乳乳之如抱薪救火藥何功之有其間有不斷服藥得安者蓋輕患也亦有因輕致重夭橫者多矣</p>
<p>按活幼心書云小兒吐瀉不止大要節乳徐徐用藥調治必安節者撙節之義一日但三次或五次每以乳時不可過飽其吐自減及間以稀粥投之亦能和胃屢見不明此理惟欲進藥以求速效動輒斷乳三四日致餒甚而胃虛啼聲不已反激他證蓋人以食為命孩非乳不活豈容全斷其乳然乳即血也血屬陰其性冷吐多胃弱故節之醫者切須知此乳母亦宜服和氣血調脾胃等藥愚意不若兒大能食者全斷之待其平復兒小不能飲食者但節之可也</p>

<h2>錢仲陽吐瀉治法</h2>
<p>夏至後十日吐瀉身壯熱此熱也蓋小兒臟腑十分中九分熱也或因傷熱乳食不消瀉深黃色玉露散主之大暑節後吐瀉身溫似熱臟腑中六分熱四分冷也嘔吐乳食不消瀉黃白色似渴或食乳或不食乳食前少服益黃散食後多服玉露散立秋後七日吐瀉身溫臟腑中三分熱七分冷也不能食乳多睡悶亂哽氣長出氣睡露睛唇白多噦欲大便不渴食前多服益黃散食後少服玉露散秋分後吐瀉身冷無陽也不能食乳乾噦瀉青水當補脾益黃散主之不可下也有因傷風吐瀉身溫乍涼乍熱睡多氣粗大便黃白色嘔吐乳食不消時咳嗽更有五臟兼見證當煎入君臣藥先用大青膏後服益黃散如先曾下或無下證慎不可下也此乃脾肺受寒不能入食也有因傷風吐瀉身熱多睡能食悶亂飲水不止吐痰大便黃水此為胃虛熱渴吐瀉也當生胃中津液以止其渴止後用發散止渴多服白朮散發散用大青膏有因傷風吐瀉身涼吐沫瀉青白色悶亂不渴哽氣長出氣昏睡露睛此傷風荏苒經曰輕怯因成吐瀉當補脾後發散補脾益黃散發散大青膏主之此二證多病多於春秋也</p>
<p>○又云凡瀉黃赤黑皆熱毒也豆蔻香連丸主之瀉青白穀不化者胃冷也理中丸主之吐瀉乳不化者傷食也消積丸下之吐瀉昏睡露睛者胃虛熱也白朮散主之吐瀉昏睡不露睛者胃實熱也玉露散主之吐瀉乳不化者傷食也消積丸下之</p>
<p>按吐乳瀉黃是傷熱乳吐乳瀉青是傷冷乳皆當下之詳夫此理乃迎奪之法也不若傷熱者用五苓散以導其逆傷冷者用理中湯以溫其中則自然活潑潑地</p>

<h2>諸吐治法</h2>
<p>○小兒嘔吐難以概舉有冷吐熱吐積吐傷乳吐朱奉議以半夏生薑為主亦有食滯心肺之分而邪食不得下而反出者</p>
<p>○冷吐者乳片不消多吐而少出脈息沉微面白眼慢氣緩神昏額上汗出此因風寒入胃或食生冷或傷宿乳胃虛不納而出宜溫胃去風寒除宿冷宜理中湯定吐飲如諸藥不效者以參香飲治之</p>
<p>○熱吐者面赤唇紅吐次少而出多乳片消而色黃遍體熱甚或因暑氣在胃或食熱物精神不慢而多煩躁此熱吐也宜去桂五苓散及香薷飲治之</p>
<p>○積吐者眼胞浮面微黃足冷肚熱晝輕夜重兒大者脈沉緩此宿冷滯脾故吐黃酸水或有清痰脈實而滑為食積所傷吐醙氣或宿食並出兒小哯乳不化者是也以烏犀散主之</p>
<p>○傷乳吐者才哺乳後即吐或少停而吐此因乳食無度脾氣弱不能運化故有此證譬如小器盛物滿則溢更當節乳投三稜散治之</p>

<h2>諸瀉治法</h2>
<p>○泄瀉之源有寒瀉熱瀉傷食瀉暑瀉種種不同各分於後</p>
<p>○寒瀉者乃寒氣在腹攻刺作痛洞下清水腹內雷鳴米飲不下宜理中湯如四肢厥冷寒極者加附子官桂之類</p>
<p>○熱瀉者糞色赤黃肛門焦痛小便不利心煩口燥食乳必粗宜五苓散吞下香連丸</p>
<p>○傷食瀉者因飲食過多有傷脾氣遂成泄瀉故大便不聚臭如敗卵宜理中湯加砂仁半錢或下積丸有因傷面而瀉者養胃湯加蘿蔔子炒研半錢痛者更加木香三分瀉甚者去藿香加炮姜三分</p>
<p>暑瀉者因中暑熱宜胃苓湯或五苓散加車前子末少許甚效或六和湯亦好</p>

<h2>吐瀉不治證</h2>
<p>○小兒瀉不定精神好者脾敗也○吐瀉唇深紅者內熱故也不退必死○面黑氣喘者不治○大渴不定止之又渴腎敗也○遺瀉不覺者死</p>

<h2>吐瀉灸法</h2>
<p>○小兒嘔吐奶汁灸中庭一穴一壯取法在亶中穴下一寸陷中是穴</p>
<p>○小兒霍亂已死腹中有暖氣者鹽納臍中灸七壯</p>

<h2>吐瀉諸方</h2>
<p><u>玉露散</u>　治小兒傷熱吐瀉黃色</p>
<p>石膏　寒水石（各半兩）　甘草（生一錢）</p>
<p>上同為末每服一字或半錢食後溫湯調下</p>
<p><u>益黃散</u>　治吐瀉脾虛冷</p>
<p>陳皮　青皮　訶子肉　甘草（炙各五錢）　丁香（二錢）</p>
<p>上為末每服二錢水一盞煎六分食前溫服</p>
<p><u>大青膏</u>　治小兒傷風吐瀉身溫深熱</p>
<p>天麻　青黛（各一錢）　白附子　蠍尾（去毒）　硃砂　烏梢蛇肉（酒浸焙乾）　天竺黃　麝香（各一字）</p>
<p>上同研細生蜜和丸成膏每服半皂子大至一皂子大月中兒粳米大薄荷湯化下</p>
<p><u>白朮散</u></p>
<p>人參　白朮　藿香　木香　乾葛　茯苓　甘草</p>
<p>上水一鍾生薑三片煎服</p>
<p><u>豆蔻香連丸</u>　治泄瀉不拘寒熱赤白陰陽不調腹痛腸鳴立可</p>
<p>黃連（三分）　肉豆蔻　南木香（各一錢）</p>
<p>上為末粟米飯丸綠豆大每黍米大每服十丸至二三十丸食前米飲下日夜各四五服</p>
<p><u>理中丸</u>　治吐利不止米穀不化手足厥冷</p>
<p>人參　白朮　乾薑　甘草（炙各等分）</p>
<p>上為末麵糊為丸綠豆大每服十丸米飲下或一二十丸不拘時候</p>
<p><u>消積丸</u>　治小兒吐瀉大便酸臭</p>
<p>丁香（九個）　砂仁（十二個）　巴豆（二個）　烏梅肉（二個）</p>
<p>上為末麵糊丸綠豆大溫水送下</p>
<p><u>參香散</u>　治小兒胃虛作吐投諸藥不止</p>
<p>人參　沉香　丁香　藿香　木香（各二錢半）</p>
<p><u>五苓散</u>　治小兒霍亂吐瀉躁渴飲水一小便不利</p>
<p>豬苓　澤瀉　官桂　赤茯苓　白朮（各三錢）</p>
<p><u>香薷飲</u>　治主夏秋臟腑冷熱不調飲食不節吐痢心腹疼痛發熱煩悶</p>
<p>香薷（三兩）　白扁豆　厚朴（各一兩半）　生甘草（一兩）</p>
<p>上銼每服二錢水一盞煎服</p>
<p><u>烏犀丸</u>　治諸積滯夾驚夾風溫胃調脾進飲食吐逆有酸醙氣</p>
<p>烏犀（即皂莢一寸長煨灰中見清煙起為度取出地上瓦盆蓋定存性用七分）硫黃　白姜蠶（炙三錢半）　陳皮　川烏（各七錢）　巴豆（七十七粒存油）</p>
<p>上硫黃一味先入研細除巴豆外餘四味同焙為末仍以巴豆薄切在乳缽內極細杵再同前藥末杵勻用粳米飯包如粽子大一大個小瓦瓶盛水熟煮候冷取出在沙缽中爛杵細布兜緊捻出如稠糊安在別器內以藥末停分同杵細軟丸粟殼大取諸積每十五丸或二十一丸至三十三丸並用淡薑湯泡冷飯取汁小盞五更初空心送下通利三五行以勻氣散止補治積吐有酸醙氣每服三丸至五丸用淡薑湯入米醋少許候溫空心投下</p>
<p><u>三稜散</u>　治小兒尿白久而成疳此藥實脾土消食化積</p>
<p>三稜　蓬朮　益智仁　甘草　神麯（炒）　麥芽（炒）　陳皮（各半兩）</p>
<p>上水一鍾姜三片煎服痰嗽加製半夏口腥氣入鹽煎調理諸痰加棗子煎</p>
<p><u>治中湯</u></p>
<p>人參　白朮　乾薑　甘草　橘皮</p>
<p>上水一盞溫服</p>
<p><u>養胃湯</u></p>
<p>人參　半夏　陳皮　甘草　茯苓　蒼朮　厚朴　藿香　草果（等分）</p>
<p>上水一盞生薑三片棗一枚煎溫服</p>
<p><u>六和湯</u></p>
<p>砂仁　半夏　杏仁　人參　甘草（炙各一兩）　赤茯苓　藿香　扁豆（炒）　木瓜（各二兩）</p>
<p>上為末每服三錢水一盞生薑三片棗一枚煎食前溫服</p>
<p><u>胃苓湯</u></p>
<p>豬苓　澤瀉　白朮　茯苓　蒼朮　厚朴　甘草　陳皮　官桂</p>
<p>上水一盞生薑三片煎服</p>
<p><u>定吐飲</u>　治吐逆投諸藥不止用此神效</p>
<p>半夏（二兩）　生薑（二兩）　桂（三錢）</p>
<p>上生薑切作小方塊如綠豆大同半夏和勻入小鐺內慢火順手炒令香熟帶干方下桂再炒勻微有香氣以皮紙攤成地上出火毒候冷略播去黑焦末每服二錢水一盞姜二片煎服</p>

<h1>卷之十·咳嗽門</h1>

<h2>脈法</h2>
<p>脈經曰關上脈微為咳○脈浮緩者為傷風○脈緊者肺寒咳○脈浮直者生○浮軟者生</p>

<h2>論咳嗽所因</h2>
<p>內經曰五臟六腑皆令人咳。非獨肺也。皮毛者肺之舍也。皮毛先受邪氣。邪氣聽從其令也。五臟之咳久乃移於六腑。又病機式要云咳謂無痰而有聲肺氣傷而不清也。嗽謂無聲而有痰。脾濕動而為痰也咳嗽謂有聲有痰也。因傷肺氣。動於脾濕。故咳而嗽也又生氣通天論云秋傷於濕。冬必咳嗽。大抵素秋之氣。宜清而肅。反動之。則氣上衝而為咳嗽。甚則動於脾濕而為痰也。蓋風乘肺者。日夜無度。汗出頭痛。痰涎不利。熱乘肺者。急喘而嗽。面赤潮熱。手足寒冷。小兒多有之。火乘肺者。咳嗽上壅。涕唾出血。甚者七竅血溢。燥乘肺者。氣壅不利。百節內痛。頭面汗出。寒熱往來。皮膚乾燥。細瘡燥癢。大便秘澀。涕唾稠黏。寒乘肺者。或因形寒飲冷。冬月坐臥濕地。或冷風春秋之氣。或因外感。夏是火氣炎上最重。秋是濕熱傷肺。冬是風寒外來也。宜各隨其證而治之。</p>

<h2>咳嗽治法</h2>
<p>錢氏曰嗽者肺感微寒八九月肺氣大旺病嗽者其病必實非久病也其證面赤痰盛身熱法當以葶藶丸下之若久者不可下也十一十二月嗽者傷風嗽也風從背脊第三椎肺俞穴入也以麻黃湯汗之有熱證面赤便水涎熱咽喉不利者甘桔湯治之若五七日之間其身熱痰盛涕唾稠黏者以褊銀丸下之有肺盛者咳而後喘面腫欲飲水者有不飲水者其身即熱以瀉白散瀉之若傷寒咳嗽五七日無熱證而但嗽者亦葶藶丸主之後用化痰藥而肺虛者咳而哽氣時時長出氣喉中有聲此久病也以阿膠散補之痰盛者先實脾後以褊銀丸下之涎退即補肺如上法有嗽而吐水或青綠水者以百祥丸下之有嗽而吐痰涎乳食者以白餅子下之有嗽而痰咳膿血者乃肺熱食後服甘桔湯久嗽者肺亡津液阿膠散補之咳而痰實不甚喘而面赤時飲水者褊銀丸下之治嗽大法盛即下之久則補之更量虛實以意增減</p>

<h2>咳嗽灸法</h2>
<p>小兒咳嗽久不瘥灸肺俞五壯在第三椎下兩傍各一寸半</p>

<h2>咳嗽諸方</h2>
<p>阿膠散　治小兒久嗽無津液</p>
<p>明阿膠（一兩半面炒）　黍黏子（一分炒）　馬兜鈴（半兩）　甘草（一錢）　杏仁（七個去皮）糯米（一兩）</p>
<p>上為末每服一字或一錢水一盞煎六分食後溫服</p>
<p><u>瀉白散</u>　治咳嗽而後喘面赤身熱</p>
<p>桑白皮（炒黃一兩）　甘草（炒半兩）　地骨皮（去土一兩）</p>
<p>上件每服一二錢水一盞入糯米百粒同煎溫服</p>
<p><u>甘桔湯</u>　治涎熱咽喉不利</p>
<p>甘草（二兩）　桔梗（二兩）</p>
<p>上為末每服二大錢水一盞入阿膠半錢炒過煎溫服</p>
<p><u>白餅子</u>　治腹中有癖但飲乳嗽而吐痰涎</p>
<p>滑石　輕粉　半夏　南星（各一錢）　巴豆（二十四個去皮水一升煎水盡為度）</p>
<p>上研勻巴豆後入眾藥以糯米飯為丸綠豆大捏作餅子三歲以上五餅子以下三餅子煎蔥白湯下臨臥服</p>
<p><u>褊銀丸</u>　治風涎膈實上熱及乳食不消腹脹痰喘等疾</p>
<p>巴豆（去皮心油）　水銀（各半兩）　好墨（八錢火燒醋淬）　黑鉛（二錢半同水銀結沙子）　麝香（半錢研）</p>
<p>上將巴豆黑鉛研勻和入砂子麝香陳米糊丸綠豆大捻褊一歲一丸五歲以上五六丸薄荷湯放冷送下不得化破更量虛實增減食後服</p>
<p><u>百部丸</u>　治小兒肺寒壅嗽微喘</p>
<p>百部　麻黃（各三錢）　杏仁（四十個去皮尖以水略煮）</p>
<p>上和勻熟蜜丸皂子大溫水下二三丸</p>
<p><u>葶藶丸</u>　治乳食沖脾傷風咳嗽面赤身熱痰盛喘促者</p>
<p>甜葶藶（去土炒）　黑牽牛（炒）　杏仁（去皮尖炒黃另研）　漢防己（各一兩）</p>
<p>上為末入杏膏蒸陳棗肉和搗為劑丸如麻子大每服五丸至七丸淡生薑湯下乳食後或臨臥服量兒加減</p>

<h1>卷之十一·癍疹門</h1>

<h2>論癍之由</h2>
<p>潔古云癍疹之病其為證各異瘡焮腫於外者屬少陽相火也謂之癍小紅靨行皮膚之中不出者屬少陰君火也謂之疹凡顯癍證若自吐瀉者慎勿亂治而多吉謂毒氣上下皆出也癍疹並出小兒難禁是以別生他證也首尾不可下大抵安里之藥多發表之藥少秘則漸疏令邪氣不壅並而能作番次使兒易禁也身溫暖者順身涼者逆略例云傷風陽證發癍有四惟溫毒發癍至重癍癍如錦文或發之面部或發之背部或發之四表紅赤者為胃熱也紫黑者為胃爛也一則下之早一則下之晚乃外感熱者發癍也陰證發癍多出背胸或出手足亦稀少而水紅若作熱證投之涼藥大誤矣此無根失守之火聚於胸中上獨熏肺傳於皮膚而為癍點但如蚊蚋蚤蝨所咬形狀而非錦文也陳無擇云世醫論癮疹無不謂是皮膚風熱既分冷熱冷熱即寒暑之證又有因浴起湊風冷而得之者豈非濕也則知四氣備矣經分諸瘡實熱則痛虛寒則癢又陽明主肌肉屬胃與大腸亦有冷熱分痛癢不可不審世人呼白者為婆膜赤者為血風名義混淆當以理曉察</p>

<h2>癍疹治法</h2>
<p>陳無擇云傷寒癍者蓋不當下而下之熱則乘虛入胃當下而失下則胃熱不得泄二者皆純發癍其狀錦紋赤者易治黑者難治蓋熱毒入胃深也如溫毒發癍當服玄參升麻白虎等藥主之陰證發癍宜調中溫胃加以茴香芍藥以大建中之類其火自下其癍自退可謂治本而不治標也疹屬熱與痰在肺宜清肺火降痰或解散出汗亦有可下者癮疹多屬脾隱隱然在皮膚之間故言癮疹也發而多癢或不仁者是兼風兼濕之殊色紅者兼火化也亦有內中寒而發癍者按略例云完顏小將軍病寒熱間作有癍三五點鼻中微血出兩手脈沉澀胸膈四肢按之殊無大熱此內傷寒也問之因暑臥殿角傷風又渴飲水酪冰此外感者輕內傷者重從內病俱為陰也故先癍衄後顯內陰寒熱間作脾寒有之非往來少陽之寒熱也與調中湯數服而愈</p>
<p>按癍疹固有陰陽輕重之現證矣陽證大率用托裡清熱化癍涼血陰證止用補中溫胃其癍自消病體自定非若瘡成膿胞也雖輕重俱從火化大抵急則治標緩則治本</p>

<h2>癍病諸方</h2>
<p><u>元戎葛根湯</u>　治癍在肌膚冬溫始發肌中癍爛咳而心悶但嘔清汁</p>
<p>葛根　橘皮　杏仁　知母　黃芩　甘草　麻黃</p>
<p>上等分水一盞煎六分溫服</p>
<p><u>陽毒升麻湯</u>　治癍在面傷寒一二日或吐下後變成陽毒腰背痛煩悶不安面赤狂言見鬼下痢脈浮大咽痛</p>
<p>升麻（五錢）　犀角　麝干　黃芩　人參　甘草（各二錢半）</p>
<p>上㕮咀水煎取半盞刻許再進溫覆手足得汗出即解</p>
<p><u>玄參湯</u>　治癍在身汗吐後毒不散表虛里實發於外甚則煩躁譫語</p>
<p>玄參　升麻　甘草（等分）　水煎溫服</p>
<p><u>陽毒梔子湯</u>　治小兒傷寒壯熱百節疼痛而發癍</p>
<p>升麻　梔子仁　黃芩　芍藥　石膏　知母　杏仁　柴胡　甘草</p>
<p>上粗末每服三錢入姜三片豉五十粒煎服</p>
<p><u>消毒犀角飲子</u>　治小兒癍及癮疹</p>
<p>牛蒡子（六錢）　荊芥　防風（各三錢）　甘草</p>
<p>上㕮咀水煎服</p>
<p><u>解毒防風湯</u>　治癍及癮疹癢痛</p>
<p>防風（半兩）　地骨皮　黃芩　芍藥　荊芥　枳殼　牛蒡子（各三錢）</p>
<p>上為粗末每服二錢水煎服</p>
<p><u>陰毒升麻鱉甲湯</u>　治小兒陰癍</p>
<p>升麻　當歸　甘草　蜀椒　鱉甲　雄黃</p>
<p>上為末每服三錢水煎服</p>
<p><u>三因加味羌活散</u>　治小兒感四時所傳肌膚髮為癮疹</p>
<p>羌活　前胡　人參　桔梗　甘草　枳殼　川芎　天麻　茯苓　蟬蛻　薄荷（等分）</p>
<p>上㕮咀搗為末每服三大錢姜三片煎服</p>
<p><u>調中湯</u>　治內傷外感而發陰癍</p>
<p>蒼朮（一錢半）　陳皮（一錢）　砂仁　藿香　芍藥（炒）　甘草　桔梗　半夏　白芷　羌活枳殼（各一錢）　川芎（半錢）　麻黃　桂枝</p>
<p>上㕮咀姜三片水煎服</p>
<p><u>化癍湯</u>　治小兒傷寒汗吐下後癍發脈虛</p>
<p>白虎湯加人參守真類萃再加白朮</p>
<p>上㕮咀時時煎服之</p>
<p><u>當歸丸</u>　治小兒傷寒癍見無大熱脈虛秘悶</p>
<p>當歸（半兩）　甘草（一分）　黃連　大黃（各二錢半）</p>
<p>上先將當歸熬膏子入藥末三味為丸漸加至利為度</p>
<p>黑膏　治小兒溫毒發癍</p>
<p>生地黃（半斤）　好豉（一斤）</p>
<p>上二味以豬膏二斤合煎之至濃汁用雄黃麝香如大豆大內中攪和每服用彈子大湯化服未效再服之</p>

<h1>卷之十二·水腫門</h1>

<h2>脈法</h2>
<p>脈經雲水病脈洪大者可治○微細者不可治○水病脹閉其脈浮大軟者生○沉細虛小者死○水病脹大如鼓實者生虛者死</p>

<h2>論水腫</h2>
<p>錢氏曰腎熱傳於膀胱熱盛逆於脾胃脾虛而不能制腎水反剋土脾隨水行脾主四肢故流走而身面皆腫也若大喘者重也何以然腎水勝而克退脾土上勝心火又勝肺肺為心克故喘或問心刑肺本見虛今何喘實曰此有二一者肺大喘此五臟逆一者腎水氣上行傍侵於肺故令大喘也此皆為難治丹溪云惟腎虛不能行水脾虛不能制水胃與脾合又胃為水穀之海因虛而不能傳化焉而腎水氾濫反得以浸漬脾土於是三焦停滯經絡壅塞水滲於皮膚注於肌肉而發腫也其狀目胞上下微起肢體重者喘咳怔忡股間清冷小便澀黃皮薄而光手按成窟舉手即滿是也古方有十種論證。以短氣不得臥為心水。兩脅緊痛為肝水。大便鴨溏為肺水。四肢苦重為脾水。腰痛足冷為腎水。口苦咽乾為膽水。下虛上實為大腸水。腹急肢瘦為膀胱水。小便閉泄為胃水。小腹急滿為小腸水。諸家只知治濕多利小便之說。執此一途。用諸去水之藥。往往多死。殊不知脾極虛損。雖劫目前。水氣復來。縮手待斃矣。</p>
<p>按內經云。腎者至陰也。至陰者腎水也。肺者太陰也。少陰者冬脈也。故其本在腎其末在肺皆積水也。帝曰何以能聚水而生病。岐伯曰。腎者胃之關也。關門不利故聚水而從其類也上下溢於皮膚故腹腫大復上為呼喘不得臥者標本俱病也故肺為喘呼腎為水腫肺為逆不得臥下焦溢為水肺移寒於腎名曰湧水故諸有水者微腫先見於目下也</p>

<h2>水腫治法</h2>
<p>丹溪雲水之為病不一賈洛陽以病腫不治必為痼疾雖有扁鵲亦莫能為則知腫之危惡非他病比也治水大法宜補中行濕利小便凡有熱者水氣在表可汗身無熱者水氣在裡宜上腰以下腫宜利小便腰以上腫宜發汗此仲景之要法也若遍身腫煩渴小便赤澀大便閉結此屬陽水先五皮散次四磨飲加生枳殼重則疏鑿飲若遍身腫不煩渴大便溏小便少不澀赤此屬陰水宜實脾飲或木香流氣飲主之陽水病兼陽證者脈必沉數陰水病兼陰證者脈必沉遲氣若陷下用二陳加升提之藥能使大便潤而小便長如腹脹少加厚朴佐之氣不運加木香木通以調之又有小兒初中便覺痰嗽喘急正屬脾胃所主宜先解表散次投商陸丸內經曰開鬼門潔淨府正此謂也</p>

<h2>水腫不治證</h2>
<p>凡水腫先起於四肢而後歸於腹者不治大便滑泄與夫唇黑缺盆平臍突足平背平或肉硬或手掌平或男從腳下腫而上女從身上腫而下並皆不治</p>

<h2>水腫灸法</h2>
<p>小兒水氣腫及腹大灸分水一穴三壯取法在臍上一寸是穴</p>

<h2>水腫諸方</h2>
<p><u>加味五皮飲</u>　治小兒四肢腫滿陽水陰水皆可服之</p>
<p>五加皮　地骨皮　生薑皮　大腹皮　茯苓皮（各一錢內加薑黃一錢木瓜）</p>
<p>上作一服水煎服一方去五加皮用陳皮桑皮</p>
<p><u>疏鑿飲子</u>　治水氣通身浮腫喘呼氣急煩渴大小便不利服熱藥不得者</p>
<p>澤瀉　赤小豆（炒）　商陸　羌活　大腹皮　椒目　木通　秦艽　檳榔　茯苓皮（各等分）</p>
<p>上㕮咀水煎姜五片</p>
<p><u>葶藶散</u>　治小兒水氣腫滿</p>
<p>甜葶藶（隔紙炒）　黑牽牛　檳榔　大黃（各等分煨）</p>
<p><u>大橘皮湯</u>　治濕熱內攻腹脹水腫小便不利大便滑泄</p>
<p>陳皮（一兩半）　木香（二錢半）　滑石（六兩）　檳榔（二錢）　茯苓（一兩）　豬苓　白朮　澤瀉　肉桂（各半兩）　甘草（一錢）</p>
<p>上銼散每服三錢水一盞煎服</p>
<p><u>十棗丸</u>　治水氣四肢浮腫上氣喘急大小便不利</p>
<p>甘遂　大戟　芫花（各等分）</p>
<p>上為末煮棗肉為丸桐子大清晨熱湯下三十丸以利為度次早再服虛人不可多服</p>
<p><u>甘草麻黃湯</u>　治水腫從腰以上俱腫宜此汗之</p>
<p>甘草（半兩）　麻黃（一兩）</p>
<p>上㕮咀水煎作一服</p>
<p><u>實脾散</u>　治小兒陰水發腫用此先實脾土</p>
<p>厚朴（薑製）　白朮　木瓜　木香　乾薑（炮各一兩）　草果仁　大腹子　附子　白茯苓　甘草（炙各半兩）</p>
<p>上㕮咀每服三錢入薑棗水煎服</p>
<p><u>消腫丸</u>　治小兒水腫喘滿小便不利</p>
<p>滑石　木通　白朮　黑牽牛（炒）　通脫木　茯苓　茯神　半夏　陳皮（各一錢）　木香　瞿麥穗　丁香（各半兩）</p>
<p>上為末酒糊丸梧桐子大每二十丸燈心麥門冬湯下</p>

<h1>卷之十三·腹脹門</h1>

<h2>脈法</h2>
<p>肺經曰關上脈虛即為內脹○遲而滑者為脹○肺盛而緊者為脹○嚴氏腹脹脈浮者易治○虛者難治○針經曰其脈大堅似澀者脹也</p>

<h2>論小兒腹脹之由</h2>
<p>內經曰諸腹脹大皆屬於熱又針經曰夫脹者皆在於臟腑之外排臟腑而郭胸脅脹滿皮膚故命曰脹或厥氣在下榮衛留止寒氣逆上真邪相攻兩氣相搏乃合而為脹也又調經篇云因飲食勞倦損傷脾胃始受熱中未傳寒中皆由脾胃之氣虛實不能運化精微而制水穀聚而不散而成脹滿此寒濕鬱遏而脹也大抵小兒多由飲食飢飽生冷甜膩聚結不散或因久患疳積及雪後癖塊不消皆能為脹按之如鼓膨脝者是也故有疳脹氣脹膈脹蟲脹積脹食脹虛脹冷脹鎖肚脹病名不同宜各隨輕重盛衰主治庶不瘥誤</p>

<h2>腹脹治法</h2>
<p>錢氏云治腹脹者如行兵戰寇於林寇未出林以兵攻之必可獲寇若出林不可急攻攻則必有失當以意漸收之即順也又云小兒腹脹由脾胃虛氣攻作也實者悶亂喘滿可下之用紫霜丸白餅子不喘者虛也不可下若誤下致脾虛氣上附肺而行肺與脾子母皆虛肺主目胞腮之類脾主四肢母氣虛甚主目胞腮腫也色黃者屬脾也治之用榻氣丸漸消之未愈漸加丸數不可以丁香木香橘皮豆蔻大溫散藥治之使上下分消其氣則愈也若虛氣已出附肺而行即脾胃內弱每生虛氣入於四肢面目矣小兒易為虛熱脾虛不受寒溫服寒則生冷服溫則生熱當識此勿誤也胃久虛熱多生疸病或引飲不止脾虛不能勝腎隨肺之氣上行於四肢若水狀腎氣浸浮於肺即大喘也此當服榻氣丸病愈後面未紅者虛衰未復故也凡治小兒虛腹脹先服榻氣丸不愈腹中有食積結糞小便黃時微喘脈伏而實時飲水能食者可下之瘥脾初虛而後有積所治宜先補脾然後下之下後又補脾即愈也不可補肺恐生虛氣耳</p>

<h2>丹溪治腹脹大要</h2>
<p>小兒腹脹蘿蔔子紫蘇梗乾葛陳皮等分甘草少許煎服食少加白朮一法用大蝦蟆一個入豬肚內煮熟去蝦蟆將肚食盡若脈實人壯者或可攻之便可收拾用白朮為主如因有食積而腹脹者有熱用木香檳榔丸有寒用木香厚朴丁香砂仁神麯香附有食肉多腹脹三補丸料內加香附半夏曲蒸餅丸服實者按之不堅不痛宜下之消之次補之虛者溫之升之補為要厚朴治腹脹因味辛以氣聚於下焦故也須用薑製之</p>

<h2>腹脹諸方</h2>
<p><u>錢氏榻氣丸</u>　治小兒虛腹脹大者加蘿白子名褐丸子</p>
<p>胡椒（一兩）　蠍尾（半兩去毒）</p>
<p>上為末麵糊丸粟米大每服五七丸至一二十丸陳米飲下無時一方有木香一錢又一方胡椒蠍尾各四十丸</p>
<p><u>中滿分消丸</u>　治中滿鼓脹水氣腹大熱脹並宜治之</p>
<p>黃芩　枳實（炒二錢）　半夏（各三錢）　黃連（三錢）　薑黃　白朮　人參　甘草　豬苓（各一錢）　厚朴（制五錢）　茯苓　砂仁（各二錢）　澤瀉　陳皮（各三錢）　乾生薑（二錢）　知母（三錢）</p>
<p>上為末水浸蒸餅子丸如桐子大每服三十丸焙熱白湯食後服寒因熱用故焙之</p>
<p><u>推氣丸</u>　治三焦痞塞氣不升降胸膈滿脹大便閉澀小便赤少</p>
<p>大黃　陳皮　檳榔　枳實　黃芩　黑牽牛（各等分）</p>
<p>上為末煉蜜丸綠豆大每服二十丸熟湯吞下</p>
<p><u>楊氏消脹丸</u></p>
<p>木香　黑牽牛　蘿蔔子　檳榔</p>
<p>上等分為末水糊丸梧子大每服二十丸熟湯吞下</p>
<p><u>檳榔丸</u>　治小兒疳氣腹脹胸膈痞悶喘急不安</p>
<p>青皮（去穰用巴豆炒黃色去巴豆）　檳榔　蘿蔔子　香附子　木香　黑牽牛</p>
<p>上為末姜糊丸如粟米大每服十丸米飲下</p>
<p><u>三稜丸</u>　治小兒停積腹脅脹滿乾嘔噁心全不入食</p>
<p>三稜（煨）　木香　神麯（炒）　陳皮　半夏（薑汁製各一兩）　丁香　桂心（各半兩）</p>
<p>上為末麵糊丸粟米大乳食後生薑湯下二十丸</p>
<p><u>分氣散</u>　治小兒腫脹作喘氣短而急</p>
<p>北梗　赤茯苓　陳皮　桑白皮（炒）　大腹皮　枳殼（制）　半夏曲　真蘇子（炒）　紫蘇　甘草（炙各二錢）</p>
<p>上銼每服一錢水小盞姜三片棗一枚煎半服</p>
<p><u>大茱萸丸</u>　治小兒飲食過度膨脝胸膈上下氣不宣通鬱滯迷悶作喘強食不化作渴煩躁坐臥不任肢體倦怠腹脅痛疼並服之</p>
<p>蓬朮　三稜（各二錢半醋煮）　乾薑　青皮　陳皮　木香（各一錢）　丁香（二錢）　吳茱萸（二錢）　巴豆（二十粒去油）</p>
<p>上為末醋糊丸麻子大每服七丸至十丸生薑棗子湯下</p>

<h1>卷之十四·風癇門</h1>

<h2>脈法</h2>
<p>脈訣啟蒙曰脈弦為風癇○千金論云脈浮為陽癇脈沉為陰癇○凡顛狂脈虛者可治脈實者死○難知云洪長伏三脈為風癇</p>

<h2>論風癇所因</h2>
<p>原病式云風癇之發作者由熱甚而風燥為其兼火化涎溢胸膈燥爍而瘛瘲昏冒僵仆也千金云病先身熱掣瘲驚啼叫喚而後發癇脈浮者為陽癇病在六腑外在肌膚尤易治也病先身冷不驚掣不啼呼而病發時脈沉者為陰癇病在五臟內在骨髓難治也內經曰神不守謂神亂也大抵熱生於肝又三因云夫癲癇病皆由驚動使臟氣不平鬱而生涎閉塞諸經厥而乃成或在母胎中受驚或幼小感風寒暑濕或飲食不節逆於臟氣而成大抵胎內受驚與飲食作癇者多而外感者間而有之</p>

<h2>論三癇</h2>
<p>千金云小兒之癇有三風癇驚癇食癇也風癇緣衣暖汗出風因入也初時先屈指如數物乃作驚癇起於驚怖大啼乃作食癇其先不哺乳吐而變熱後發然風癇驚癇時時有之十兒之中未有一二凡是先寒後熱熱者皆食癇也驚癇皆按圖灸之風癇當以豬心湯食癇當下乃愈紫霜丸佳</p>
<p>按此論三癇蓋有三因之分風癇屬外因驚癇屬內因食癇屬不內外因也又按全嬰方云風癇因將養失度血氣不和或厚衣汗出腠理開舒風邪而入之其病在肝肝主風驗其證目青面紅發搐宜驅風膏大青膏琥珀散鎮驚藥有熱四順飲退後與利驚丸下其痰涎驚癇因血氣盛實臟腑生熱或驚怖大啼精神傷動外邪所入為之其病在心心主驚驗其證忽然叫聲發搐宜琥珀散紅龍散鎮心丸有熱四順飲利驚丸下之不生別病也食癇其病在脾脾納食驗其證噯吐醙氣即發搐此病或大便酸臭紫丸子下之以上三證大同小異並屬陽也各目睛鮮斜手足潮搐或作豬聲發過即瘥皆十生一死也</p>

<h2>論五癇</h2>
<p>三因云古方有五癇五臟癇六畜癇等名證不同難於備載別錄有五癇之證一曰馬癇作馬嘶鳴以馬屬在午手少陰君火主之故其病應於心二曰羊癇作羊叫聲以羊屬未足太陰濕土主之應乎脾三曰雞癇作雞叫聲以雞屬酉足陽明燥金主之應乎胃四曰豬癇作豬叫聲以豬屬亥手厥陰心包主之應乎右腎五曰牛癇作牛吼聲以牛屬醜手太陰濕土主之應乎肺此五癇應乎五畜應乎五臟者也發則旋暈顛倒口眼相引目睛上搖手足搐搦背脊強直食頃乃蘇各隨所感施以治法</p>
<p>錢氏云凡治五癇皆隨臟治之每藏各一獸犬癇反折上竄犬叫肝也羊癇目瞪吐舌羊叫心也牛癇目直視腹滿牛叫脾也雞癇驚眺反折手縱雞叫肺也豬癇如屍吐沫豬叫腎也五癇重者死病後甚者亦死輕者五色丸主之</p>
<p>按千金方敘六畜癇曰馬曰牛曰羊曰豬曰犬曰雞並不以六畜分屬五臟今三因所因五癇無犬癇一證錢氏敘五癇一證無馬癇一證二書以五獸分配五臟名各不同俱不可知其所由然也三因雖有馬犬癇及五臟有胃無腎之說亦難據憑無所載焉又按丹溪云五癇雖有分配五臟之說於經既無所據而治法亦未見有五者之分而所以不必分五也</p>

<h2>論癇治法</h2>
<p>仁齋曰小兒之惡候也蓋小兒血脈不斂氣骨不聚為風邪所觸為乳哺失節停結癖積而得之其候神氣拂鬱瞪眼直視面目牽引口噤涎流腹肚脹脝手足搐掣似死似生或聲或啞或項背反張或腰脊強直但四體柔弱發而時醒者為癇若一身強硬終日不醒則為痓症矣大概血滯心竅邪氣在心積驚成癇通行心經調平血脈順氣豁痰乃其要也假令小兒有熱有痰不欲乳哺眠睡不安常常驚悸此皆發癇之漸即以紫霜丸導之時間量與紫霜丸減其盛氣則無驚風癇釣之患癇證方萌耳後高骨間必有青紋紛紛如線見之則為瓜破須令出血啼叫尤得氣通諸癇發不能言者蓋咽喉為氣之道路風傷其氣以掩聲音道路之門抑亦血滯於心心竅不通所致耳南星炮為末雄豬膽汁調和少許啖之輒效若夫錢氏五癇丸並南星散以菖蒲煎湯調下甘遂豬心湯和蘇合香丸一丸皆治癇之要藥也</p>
<p>按癇病古方或云風癇或云驚癇或云顛癇由此疾與中風顛狂急慢驚或因聞犬聲而得蓋小兒神尚弱驚則神不守舍舍空則痰涎歸之或飲食失節脾胃有傷積為痰飲以致痰迷心竅而作者治法當尋火尋痰而前人多用鎮墜清心之藥固可以治熱可以清痰若有頑痰膠固者此藥未易驅逐在上者必用吐吐後方宜服此藥有痰實在裡者亦須下之隨病輕重而用之也或曰癇有陰陽何也予曰此與急慢驚者可同論也陽癇不因吐下由其有痰有熱客於心胃之間因聞大驚而作若熱盛雖不聞驚亦自作也宜用寒涼以攻治之陰癇亦本於痰熱所作醫以寒涼藥攻之太過損傷脾胃變而成陰宜用溫平補胃燥痰之藥若曰不因壞證而陰陽之分則是指痰熱所客表裡虛弱臟腑深淺而言癇病豈有陰寒者哉</p>

<h2>風癇不治證</h2>
<p>小兒癇病目直無聲目睹不轉眼生白障眼慢唇黑瞳人瞬動目間青黑麵青指黑口出涎沫如白膿口噤肚脹不乳喉如牽鋸之聲多睡不乳身熱下血不乳身體痿軟不醒腹內虛鳴唇逆而痛吐利不止汗出壯熱不止臥久不寢身體友張大人脊下客一手小兒脊下容一指並不治</p>

<h2>風癇灸法</h2>
<p>小兒癲癇驚風目眩灸神庭一穴七壯在鼻柱直上入髮際五分</p>
<p>小兒諸癇如噦吐清沫灸巨闕穴三壯在鳩尾下一寸陷中是穴</p>
<p>小兒雞癇善驚及掣目搖頭灸少陰二壯取法在掌後去腕半寸陷中是穴</p>
<p>小兒驚癇者先驚叫乃發也灸頂上旋毛中三壯及耳後青絡脈炷如小麥大</p>
<p>小兒驚癇灸鬼祿一穴三壯取法在上唇內中央弦上是穴</p>
<p>小兒食癇者先寒熱灑淅乃發也灸鳩尾穴上五分三壯</p>
<p>小兒牛癇目視直腹脹乃發也灸鳩尾一穴三壯取法胸蔽骨下五分陷中是穴</p>
<p>小兒馬癇張口搖頭身折反馬鳴也灸僕參穴各三壯取法在足跟骨下白肉際陷中拱取之是穴</p>
<p>小兒羊癇目瞪吐舌羊鳴也灸第九椎下節間三五壯</p>
<p>按靈樞經云暴攣足不任身取天柱天柱穴足太陽也又云癲癇瘛瘲不知所苦兩蹺之下男陽女陰潔古云晝發灸陽蹺夜發灸陰蹺各二壯陽蹺起於跟中循內踝上行至咽喉交貫衝脈照海穴也</p>

<h2>風癇諸方</h2>
<p><u>紫霜丸</u></p>
<p>代赭石（醋淬七次）　赤石脂（各一兩）　杏仁（五十個去皮尖）　巴豆（三十枚去皮膜心）</p>
<p>上先將杏仁巴豆入乳缽內細研如膏卻入代赭石赤石脂末研和勻以湯浸蒸餅丸如粟米一歲兒服五丸米飲吞下</p>
<p><u>龍膽安神丸</u></p>
<p>茯苓（三兩）　人參　地骨皮　甘草　麥門冬　桑白皮（各二兩）　馬牙硝（二錢）　龍腦　麝香（各三錢）　牛黃（半兩）　硃砂（二錢）　烏犀（一兩）　金箔（三十五片）</p>
<p>上為細末煉蜜為丸如彈子大金箔為衣如風癇冬月溫水化下夏月涼水化下不以時二三歲者日進二服小兒一丸分二服虛勞發熱咳嗽新汲水下</p>
<p>按此手少陰大陰經藥也出厥陰例</p>
<p><u>神應丹</u></p>
<p>辰砂（不以多少研）</p>
<p>上以豬心血和之得所以蒸餅裹劑蒸熟取出就丸如桐子大每服一丸後食臨臥煎人參湯下</p>
<p><u>錢氏五色丸</u></p>
<p>硃砂（半兩研）　水銀（一分）　雄黃（一兩熬）　真珠子（一兩研）　鉛（三兩同水銀熬）</p>
<p>上煉蜜麻子大每服三四丸煎金銀薄荷湯下</p>
<p><u>三因六珍丹</u></p>
<p>雄黃　雌黃　未鑽真珠（各一兩）　鉛（二兩熬成屑水銀一兩半）</p>
<p>上研令極勻蜜丸桐子大每服二丸至五丸薑棗湯下須搗二三萬杵乃可丸</p>
<p><u>礬丹</u></p>
<p>虢丹　晉礬（各一兩）</p>
<p>上丹磚鑿一窠可容二兩許先安丹在下次安礬在上以炭五斤煅令炭盡取出細研以不經水豬心血為丸如綠豆大每服十丸至二十丸橘皮湯下</p>
<p><u>元戎二白丸</u></p>
<p>白礬（一塊約一兩）</p>
<p>上用生蒸餅劑裹蒸熟去皮可丸入輕粉一字或半錢量虛實加減丸桐子大每服二三十丸生薑湯下小兒丸小</p>
<p><u>硃砂滾涎散</u>　治小兒五癇</p>
<p>硃砂　白礬（生用）　赤石脂　硝石（各等分）</p>
<p>上為細末研蒜膏為丸如綠豆大每服三十丸食後荊芥湯下</p>
<p><u>琥珀壽星丸</u></p>
<p>天南星（一個掘坑用火煆燒坑紅出炭淨入好酒一升在火穴中放入南星蓋穴勿令通氣過一宿取出焙末）　朱子（四兩）　硃砂（二兩半為末）</p>
<p>上以豬心血打幹糊丸如桐子大每服五十丸煎人參湯送下</p>
<p><u>南星五生丸</u></p>
<p>南星　半夏　川烏　白附子　大豆（去皮各一兩）</p>
<p>上為細末滴水為丸每服二丸至五丸不過七丸薑湯下</p>
<p><u>元戎小靈寶丹</u></p>
<p>附子（炮一兩）　天麻　全蠍　白殭蠶（炒）　藿香葉　南星（炮）　白附子（炮各半兩）</p>
<p>上為末酒糊丸桐子大溫酒下一十五丸</p>
<p><u>碧窮丹</u></p>
<p>石碌（研九度飛十兩）　附子尖　烏頭尖　蠍梢（各五十個）</p>
<p>上為末入石碌令勻面糊丸如雞頭每服用薄荷汁半盞化下一丸更以酒半合溫服之須臾吐出痰涎然後隨證治之</p>
<p><u>控涎丸</u></p>
<p>川烏（生）　半夏（各半兩）　殭蠶（生薑汁浸一宿半兩）　全蠍（去尖七個）　鐵粉（三錢）　甘遂（二錢半）</p>
<p>上為末生薑自然汁或薄糊丸如綠豆大硃砂為衣每服十五丸薑湯下忌甘草</p>
<p><u>拔萃妙香丸</u></p>
<p>辰砂（研九兩）　龍腦　膩粉　麝香（研各七錢半）　牛黃（半兩）　金箔（九十片研）</p>
<p>上令研勻煉蜜去蠟淨入沙蜜白者七錢半同煉勻為丸每兩作三十丸米飲化下</p>
<p><u>千金龍膽湯</u></p>
<p>龍膽　釣藤皮　柴胡　黃芩　桂枝　芍藥　茯苓　甘草（各六銖）　螳螂（二枚）　大黃（一兩）</p>
<p>上㕮咀以水一升煮取五合為劑服之</p>
<p><u>沉香天麻湯</u></p>
<p>沉香　益智　川烏（各二錢）　天麻　防風　半夏　附子（炮各三錢）　羌活（五錢）　甘草當歸　殭蠶（各一錢半）　獨活（四錢）</p>
<p>上銼每服三錢水一盞生薑二片煎至六分去滓溫服食前三劑而愈</p>
<p>驅風膏</p>
<p>辰砂　蠍尾　當歸　龍膽草　川芎　山梔子　川大黃　羌活　防風　甘草（各一錢）</p>
<p>上為末入麝香一字煉沙糖丸如雞頭大三歲一丸薄荷竹葉蜜湯化下</p>
<p><u>大青膏</u></p>
<p>大黃（一分）　白附子（一錢半）　青黛　天麻（各一錢）　蠍尾（半錢）　硃砂（一字）　麝香（一分）　烏梢蛇（酒浸焙半錢）　天竺黃</p>
<p>上為末生蜜丸如雞頭大三歲一丸薄荷湯化下</p>
<p><u>琥珀散</u></p>
<p>辰砂（一錢半）　琥珀　牛黃　殭蠶（炒去絲嘴）　南星（水浸）　白附子　代赭石　天麻　乳香　蟬殼（各一錢）　麝香　腦子（一字）</p>
<p>上為末三歲半字薄荷湯調下慢驚加附子</p>
<p><u>四順飲</u></p>
<p>當歸　大黃　甘草　赤芍藥</p>
<p>上等分㕮咀三歲一大錢水半盞煎三分去滓服</p>
<p><u>利驚丸</u></p>
<p>青黛　輕粉（各一錢）　牽牛末（半兩）　天竺黃（二錢）</p>
<p>上為末白糊為丸如小豆大二十丸薄荷湯下一法煉蜜丸雞頭大一粒化下</p>
<p><u>鎮心丸</u></p>
<p>硃砂　龍齒　牛黃（各一錢）　鐵粉　琥珀　人參　茯神　防風　全蠍（七個炙）</p>
<p>上為末燈心湯調下三歲一字</p>
<p><u>瀉青丸</u></p>
<p>龍膽草（焙）　梔子仁　大黃　（濕紙包煨）　羌活　防風（各一錢）　川芎（一錢半）</p>
<p>上為末煉蜜丸桐子大每服一丸煎竹葉薄荷湯調下</p>
<p><u>五癇丸</u></p>
<p>硃砂（半兩）　水銀（一分）　鉛（三兩）　雄黃（一兩）　真珠（一兩）</p>
<p>上為末煉蜜丸麻子大每二丸金銀煎湯下</p>

<h1>卷之十五·傷寒門</h1>

<h2>脈法</h2>
<p>難經曰傷寒之脈陰陽俱盛而緊澀○傷寒論云脈陰陽俱緊者名曰傷寒○寸口脈浮而緊浮則為風緊則為寒○浮澀而緊為傷寒</p>

<h2>傷寒論</h2>
<p>小兒傷寒與大人無異所以異者兼驚夾食而已其七十二證某證某方皆無越張朱格例特不過小小之分劑中病則止按仲景傷寒論云春氣溫和夏氣暑熱秋氣清涼冬氣凜烈此四時正氣之序也惟冬時嚴寒去寒就溫不至於傷偶然觸冒名為傷耳若冬月冒寒伏藏於肌膚而未即病至春而發者謂之溫病至夏而發者謂之熱病至此則伏寒各隨春夏之氣改變為病既久之後不得復言其寒也故曰溫病不惡寒者其理可見矣如春應暖而反寒夏應熱而反冷秋應涼而反熱冬應寒而反溫非其時而有其氣此四時乖戾之氣也偶即中傷謂之時氣又與傷寒不同若小兒在襁褓中或長成而稟賦怯弱多因乳母解脫衣服不避風寒所致也在大人則知其六經所受之證或三陽傳盡次入三陰或始終只在一經或越經或間經或傳至一二經而止或不從陽經而直中陰經者皆可據脈證而辨治之然小兒患此口不能言其致病之由脈不能診其必然之理但只煩啼發熱而已故不可不盡心焉初得之時嬰幼則以虎口指紋之紅色驗之長而童稚則以一指按其三關據左手人迎之緊盛而斷之錢氏云男體重面黃女面赤喘急憎寒其心氣熱呵欠煩悶項急者是也其惡寒惡風必偎人藏身引衣密隱是為表證惡熱內實者必出頭露面揚手擲足煩渴燥糞掀衣氣粗是為里證至若頭額冷汗手足涼口中冷氣面色黑黯淡大便瀉青此為陰證或視其小便或赤或白可以知裡熱之有無或清或濁可以知裡熱之輕重舉是觀之則汗下溫之可以類推矣</p>

<h2>治傷寒用藥大略</h2>
<p>陶節庵曰凡證有頭疼惡寒皆是傷寒無則皆否也何則蓋傷寒則惡寒傷食則惡食理固然也但在冬時惡寒為甚蓋冬時為正傷寒天氣嚴凝風寒猛烈觸冒之者惡寒殊甚其餘時月雖惡寒亦微未若冬時之惡寒為甚也冬時氣寒腠理微密非辛甘溫不可故以桂枝等藥以治之然風與寒常相因寒則傷榮惡寒頭痛脈浮緊而無汗則用麻黃湯開發腠理以散邪得汗即愈風則傷衛頭痛惡風脈浮緩而自汗則用桂枝湯充塞腠理以散邪汗止即愈經云甘辛發散為陽者是也若夫榮衛俱傷又非此二湯所能治也須大青龍湯然此湯太峻亦有可代之者其非冬時有惡寒頭痛之證皆宜辛涼之劑通表裡以和之則愈矣若以冬時所用桂枝辛溫之藥而通治之則殺人矣曰辛涼者何羌活沖和湯是也兼能代大青龍湯為至穩嗚呼一湯可代三方危險之藥如坦夷其神乎哉過此則少陽陽明二經在乎半表半裡肌肉之間脈亦不浮不沉外證在陽明則有目疼鼻乾不得眠之證脈似洪而長以葛根解肌湯升麻湯治之在少陽則胸脅痛而耳聾脈見弦數以小柴胡湯加減而和之本方有加減法此二經不從標本從乎中也余常以小柴胡湯加葛根芍藥治少陽陽明俱病如拾芥過此不已則傳陽明之本為入里矣便作實熱治之其外證悉罷謂無頭痛惡寒脈見沉實不浮詁妄惡熱六七日不大便口燥咽乾而渴輕則大柴胡湯重則三承氣湯選用或曰邪既入里而作實無非大黃苦寒之藥除下之何則用方之雜□也余曰傳來非一治之乃殊耳病有三焦俱傷者則痞滿燥實全具則宜大承氣湯厚朴苦溫以去痞積實苦寒以泄滿芒硝鹹寒以潤燥軟堅大黃苦寒以泄實去熱病斯愈矣邪在中焦則有燥實堅三證故用調胃承氣以甘草和中芒硝軟堅潤燥大黃泄實不用枳實厚朴以傷上焦氤氳輕清之元氣調胃之名於此立矣上焦受傷則痞而實用小承氣湯枳實厚朴能除痞大黃之泄實去芒硝則不傷血分之真陰謂不伐其根也若夫大柴胡湯則表邪尚有里證又急不得不下只得以此湯通表裡而緩治之猶有老弱及氣血兩虛之人不宜用此三陽之邪在裡為患三時謂春夏秋也不頭痛惡寒而反渴者此則溫病也暑病亦然比之溫病則尤加熱也治宜小柴胡湯蓋此湯春可治溫夏宜治暑秋能潤燥又宜葛根湯升麻湯解肌湯敗毒散中暑而渴者柴胡石膏湯人參白虎湯看渴微甚而用無不效者經曰發熱不惡寒而渴者溫病也若夫陰證則別有法不在此例矣</p>

<h2>論小兒傷寒夾驚夾食瘡疹各異</h2>
<p>傷寒蘊要曰凡小兒傷寒則怕寒拘急發熱合為一然在表晝夜不止直待汗出方解其惡寒必偎人藏身引衣鼻塞多涕是為表證宜微汗之解肌湯蕭氏青龍湯敗毒散之類惡寒而內實者必出頭露面揚手擲足掀衣氣粗是為里證宜疏利之大柴胡湯四順飲洗心散之類若頭額冷手足涼口氣冷麵色黯淡瀉利青白是謂陰證宜與溫之五積散理中湯之類重者四逆湯主之夾驚者因驚之時而又感寒邪或因傷寒發熱以致熱極生風是熱乘於心心主血脈心神易動為熱所乘故發搐也慎勿與治驚之劑宜疏解之王氏薄荷散人參羌和散之類甚者抱龍丸主之夾食者或先傷於寒後傷於食或先傷於食後傷於寒以致發熱氣粗口中噯氣肚熱腹脹上熱下冷或大便酸醙並宜解散次與消導甚則推蕩之先用敗毒散後用藿香正氣散加神麯麥芽棠球子砂仁香附之類內實者加枳實青皮不解者加軟苗柴胡芩連之類如不愈以大柴湯下之其瘡疹發熱又與正受傷寒不同但見腮赤煩躁多嚏呵欠煩悶悸動昏倦耳鼻尖冷手足俱冷者是也其傷寒發熱自表達里瘡疹發熱從里出外宜行溫平之劑有大熱宜解毒葛根湯參蘇飲之類湯氏曰大凡小兒傷寒治法周歲以前熱輕者服惺惺散周歲以後急須解表微汗為妙須在一晝夜得熱退方保無虞今之醫士多不表汗致令五六日不除入於經絡搏於血氣傳變多證或生驚風漸至危篤傷生害命可不慎乎</p>

<h2>傷寒不治證</h2>
<p>凡陽病熱不退反見陰脈凶○脈浮而滑身汗如油喘息不休水漿不入肢體不仁乍靜乍喘者死○汗出潤喘不休者肺先絕也○體如煙燻直視搖頭心先絕也○唇吻反青四肢漐習汗出肝先絕也○環口黧虛汗發黃脾先絕也○三部脈緊盛大汗出熱</p>
<p>不解者死○寸尺陰陽俱虛熱不止者死○身熱喘粗見陽脈而燥者死逆冷脈沉細者死</p>

<h2>傷寒陰毒灸法</h2>
<p>氣海穴在臍下一寸五分石門穴在臍下一寸關元穴在臍下三寸以上三穴治陰厥脈微欲絕囊縮遺尿腹痛腹滿腸鳴皆效</p>
<p>陽陵泉二穴在膝下一寸易老曰煩滿囊縮者宜灸此穴</p>
<p>凡脈微弦小腹痛厥陰也宜灸歸來關元各數壯</p>
<p>凡脈沉臍腹痛少陰也宜灸中脘五七壯</p>

<h2>傷寒諸方</h2>
<p><u>麻黃湯</u>　治足太陽經標熱則合為發熱又謂之拂拂而熱者其熱自皮膚之上如羽毛之所拂明熱在表也其脈浮數或浮緊或頭疼身痛腰疼骨節痛惡風無汗而喘者以此湯汗之</p>
<p>麻黃（三錢）　桂枝（二錢）　甘草（一錢）　杏仁（去皮尖一錢半）</p>
<p>上水一盞生薑三片棗子一枚去上沫濾清乘熱服之以衣被蓋暖取汗漐漐遍至手足心則止不必再服之也如須臾汗未出者宜歠熱稀粥一盞以助藥力汗出則止如又汗未出再煎一劑與之仍前溫覆取汗若病重者一日一夜服周時觀之若表證仍在者須再作一劑煎</p>
<p><u>桂枝湯</u>　治傷寒發熱汗出而惡寒者為表虛以此湯和之不可發汗也</p>
<p>桂枝（二錢）　芍藥（二錢）　甘草（一錢）</p>
<p>上水一鍾生薑三片棗子一枚去滓溫服</p>
<p><u>大青龍湯</u>　治傷寒脈浮緊頭痛身體痛惡寒發熱不得汗出煩躁擾亂不安者以此汗之</p>
<p>麻黃（三錢）　桂枝（一錢）　甘草（半錢）　杏仁（七分湯泡去皮尖）　石膏（二錢）　生薑（三片）　大棗（一個）</p>
<p>上水一鍾煎取六分去滓通口服以衣被溫覆取汗則愈</p>
<p><u>羌活沖和湯</u>　治太陽無汗發熱頭痛惡寒脊強脈浮緊又治非冬時天有暴寒中人亦頭痛惡寒發熱通宜此湯治之以代麻黃湯用太陽經之神藥也</p>
<p>羌活（一錢半）　防風（一錢）　蒼朮（一錢半）　黃芩（一錢）　白芷（一錢）　甘草（一錢）　生地黃（一兩）　細辛（五分）　川芎（一錢）</p>
<p>上水一鍾煎六分溫服</p>
<p><u>解肌湯</u>　治瘟病天行頭痛壯熱春感風邪發熱而渴不惡寒</p>
<p>葛根（一錢）　桂枝（一錢）　黃芩（半錢）　芍藥　麻黃（七分）　甘草（半錢）</p>
<p>上水二鍾棗一枚煎服以不解再取汗</p>
<p><u>敗毒散</u>　治傷風瘟疫風濕頭目昏眩四肢疼痛增寒壯熱項強目睛疼尋常風弦拘急</p>
<p>羌活　獨活　前胡　柴胡　川芎　枳殼　桔梗　茯苓　人參　甘草</p>
<p>上各等分水一鍾如常煎一服</p>
<p><u>升麻湯</u>　治傷寒中風頭痛增寒壯熱四肢疼痛發熱惡寒鼻中幹不得臥兼治寒喧不時人多疾疫下寒脫著及暴熱之頃忽然變寒身體疼痛頭重如石</p>
<p>升麻　甘草　葛根　芍藥</p>
<p>上每服三四錢煎如常法服</p>
<p><u>五積散</u>　治陰經傷冷脾胃不和感冒寒邪</p>
<p>肉桂　人參　川芎（各二錢）　厚朴　半夏　芍藥　當歸　麻黃　乾薑（各五錢）　甘草（二錢）　枳殼（五錢炒）　桔梗（一兩二錢）　陳皮（八錢）　蒼朮（二兩四錢）　白芷（四錢）　茯苓（四錢）</p>
<p>上十六味除枳殼肉桂陳皮外其餘並一處生搗為粗末用酒拌勻曬乾分作六分每服三錢水一鍾姜三片煎六分溫服</p>
<p><u>小柴胡湯</u></p>
<p>太陽病十日已去脈細而嗜臥外已解設胸滿痛與服之傷寒五六日中風來往寒熱胸脅若痛默默悸欲食心煩喜嘔或胸膈煩而不嘔或渴或腹中痛或脅下痞硬或心下悸小便不利或不渴身有微熱者此湯主之血弱氣虛腠理開邪氣因入與正氣相搏結於脅下邪正分爭往來寒熱休作有時臟腑相連其痛必下邪高痛下致使嘔也此湯主之傷寒五六日身熱惡風頭項強脅下滿手足溫而渴者此湯主之傷寒五六日頭汗出微惡寒心下滿不欲食大便硬脈細者為陽微結必有表復有里脈沉亦在裡也汗出為陽微假令純陰結不得復有外證悉入在裡此為半在表半在裡也脈雖沉緊不得為少陰病所以然者陰不得有汗也今頭汗出故知非少陰也可與服此湯設不了了得屎而解陽明病發潮熱大便溏小便少胸膈滿者與此湯服之陽明病脅下硬滿不大便而嘔舌上白胎者可與服之上焦得通津液得下胃氣因和濈然汗出而解陽明中風脈弦浮大短氣腹部滿脅下及心痛久按之氣不通鼻乾不得臥一身及日悉黃小便難有潮熱時時噦身前後腫剌之少瘥外不解病過十日脈續浮者此湯主之以上屬陽明經太陽病不解轉入少陽脅下硬滿乾嘔不能食往來寒熱尚未吐下脈沉緊者此湯主之傷寒瘥後更發熱此湯主之</p>
<p>柴胡（二兩）　黃芩　人參　甘草（炙各二錢半）　半夏（一兩炮）　大棗（六枚）</p>
<p>上銼散每服三錢水一盞生薑二片棗一枚煎溫服</p>
<p><u>大柴胡湯</u></p>
<p>治陽明病外證身熱汗出而不惡寒但惡熱宜服之陽明病脈逆發熱頭眩小便難此欲發疸必宜服之陽明病脅下硬滿大便秘而嘔口燥者此湯主之陽明病中風其脈浮大短氣心痛鼻乾嗜臥不得汗一身盡黃小便難有潮熱而噦此湯主之傷寒三日少陽受病口乾燥目眩宜服之少陽病脅下堅滿乾嘔不食往來寒熱若未吐下其脈沉緊此湯主之少陽病若已吐下發汗詀語者此湯主之少陽中風兩耳無所聞目赤胸中滿而煩不可吐下吐下則悸而驚此湯主之少陰病惡寒時時自煩不欲厚衣此湯主之少陰病下利清水色青者心下必痛口乾燥者此湯主之傷寒六日陽脈澀陰脈弦常腹中急痛此湯主之傷寒六日下之胸滿煩驚小便不利詀語一身不可轉側此湯主之傷寒發熱汗出不解心不痞硬嘔吐不利此湯主之傷寒十餘日熱結在裡往來寒熱及陽明病汗出詀語腹中滿痛並陽明少陰合病下利脈滑而數此湯主之傷寒六七日目中不了了睛不和無表裡證大便難身微熱此湯主之傷寒七八日脈浮數病人煩熱汗出解後又如瘧狀日晡發潮熱脈滑者宜服之</p>
<p>小青龍湯　治停寒溫疫表未解惡寒體熱水傷心下乾嘔發熱嗽喘急及生肺脹胸滿鼻塞清涕咳逆上氣喘鳴迫塞仲景曰治表不解心下有水氣乾嘔發熱而嗽或渴或和或小便不利或噎或滿喘者主之</p>
<p>麻黃（三分去節）　赤芍藥（三分）　半夏（三分）　細辛　乾薑　甘草（炙）　桂枝（去粗皮各三分）　五味子（五錢）</p>
<p>上㕮咀每服三錢水一盞煎七分去滓加減服</p>
<p><u>白虎湯</u>　治傷寒脈滑而微厥表裡有熱三陽合病腹滿身重難以轉側口中不仁面垢詀語遺尿發汗則詀語下之則額上生汗手足逆冷自汗出並宜服之服桂枝湯後大汗出煩渴不解脈洪大傷寒若吐若下後七八日不解熱結在裡表裡俱熱時時惡寒大渴舌上乾燥而煩飲水不止傷寒無大熱口乾燥渴心煩背微惡寒渴飲水無表裡證者並宜白虎湯加人參脈浮發熱無汗不可服諸亡血不可服活人書云脈厥而滑里有熱白虎加人參廣濟云傷寒及溫熱病脈大洪增寒壯熱煩躁欲飲水及夏月傷暑發熱惡寒身體疼重大渴不止煩躁汗出脈細小手足微冷並時疾未經轉瀉胃熱發癍兼豆疱麩瘡天行後愈熱不解但是一切伏熱並宜服之</p>
<p>知母（一兩半）　甘草（半兩）　粳米（一合半）</p>
<p>上㕮咀白水煎加減服加人參半兩名白虎加人參湯又方加石膏四兩</p>
<p><u>大承氣湯</u>　治陽明病不吐而煩者宜服之陽明病脈遲雖汗出不惡寒體重腹滿而喘有潮熱可攻其裡手足濈濈汗出為大便已堅宜服之陽明病其人多汗津液外出胃中乾燥大便堅者必詀語宜服之陽明病發作有時汗不解腹脹痛宜服之陽明少陰合病自利脈浮者順滑而數者有宿食宜服之少陰病口燥舌乾宜服之少陰病脈細沉數病在裡不可發汗宜服之少陰腹滿不大便者宜服之</p>
<p>大黃（半兩微炒）　厚朴（一兩制）　枳實（一個麩炒）　芒硝（半兩）</p>
<p>上為飲子白水煎臨熟入芒硝再沸去滓加減服</p>
<p><u>小承氣湯</u>　治太陽病吐下後發汗而微煩小便數大便堅宜服之陽明病若汗出多而微寒為外未解無潮熱不可與之若腹滿不大便可少少與之</p>
<p>大黃（一兩微炒）　厚朴（半兩制）　枳實（一個大者炙）</p>
<p>上㕮咀水一鍾煎六分溫服</p>
<p><u>調胃承氣湯</u>　治傷寒發汗後惡寒虛也不惡寒但熱者實也當下傷寒十三日過經詀語者當下之若自利者脈當微厥反和者此為內實當下之太陽病經十餘日心下溫溫欲吐胸中實大便溏腹微滿鬱郁微煩當下之太陽病三日發汗不解蒸蒸熱者當下之</p>
<p>大黃（一兩炒）　芒硝（九錢）　甘草（半兩炙）</p>
<p>上㕮咀同法煎加減服</p>
<p><u>四逆湯</u>　治少陰病足冷脈沉者急溫之宜四逆湯若下利清穀裡寒外熱手足厥逆脈微欲絕身灰不惡寒其人面赤色或腹痛或乾嘔或嘔痛或下利不止脈不出者以此湯主之</p>
<p>附子（大者一個去皮臍切用四片）　甘草（炙二錢）　乾薑（炮二錢）</p>
<p>上銼二服水二鍾煎至一鍾去滓溫服</p>
<p><u>理中湯</u>　太陰腹中痛或嘔吐食不下或腹中痞滿或自利不渴脈沉細而遲者</p>
<p>人參（二錢）　白朮（三錢）　乾薑（炮二錢）　甘草（炙一錢半）</p>
<p>上水一鍾煎至六分去渣溫服如作丸每服各一兩甘草五錢末煉蜜為丸白湯化下</p>
<p><u>藿香正氣散</u>　治四時不正之氣寒疫時氣山嵐瘴氣雨濕蒸氣或中寒腹痛吐利中暑冒風吐瀉中濕身重泄瀉或不伏水土脾胃不和或飲食停滯復感外寒頭痛憎寒或吐逆噁心胸膈痞悶或發寒熱無汗者</p>
<p>藿香（上）　白朮（中發汗用蒼朮）　厚朴（中）　陳皮（中）　半夏（中）　白茯苓（中）　白芷（中）　桔梗（中）　大茯皮（中）　紫蘇（中）　甘草</p>
<p>水一鍾生薑三片煎至六分通口徐徐服之</p>

<h1>卷之十六·傷食門</h1>

<h2>脈法</h2>
<p>錢氏曰小兒脈沉緩為傷食○右手氣口脈緊盛為傷食</p>

<h2>傷食證治</h2>
<p>凡小兒飲食停滯中焦不化而發熱者必惡食也或噫氣作酸或惡聞食臭或欲吐不吐或吐之不盡或噁心或氣短痞悶或胃口作疼或心下痞滿按之則痛此皆停食之候也可辨之矣皆因乳哺不節過餐生冷堅硬之物脾胃不能克化積滯中脘外為風寒所搏或因夜臥失蓋致頭疼面黃身熱目疱微腫腹痛膨脹足冷肚熱喜睡神昏不思飲食或嘔或噦口噫酸氣大便酸臭此為陳積所傷也若停食或感寒邪者則左手人迎氣口俱大外證頭疼惡寒拘急中脘痞悶或吐或嘔或痛者以藿香正氣散或人參養胃湯加木香砂仁之類若肉食不化必加棠球子末麵食不化者加神麯大麥櫱生冷肉食果子之類不化者必加草果砂仁枳實青皮主之如食在胃口上未入於胃乃可吐之不吐則消導之待食下胃變化糟粕外證已解乃可下其食也宜三物厚朴湯熱多者大柴胡湯如無外感但只傷食者以紫霜丸下之凡治夾食傷寒不可先攻其食且先發散寒邪次可消導之也</p>

<h2>傷食諸方</h2>
<p><u>藿香正氣散</u></p>
<p>治小兒內傷生冷外感風寒並宜服之</p>
<p>藿香　厚朴　白芷　大腹皮　紫蘇　陳皮　半夏　桔梗　甘草　白朮　白茯苓</p>
<p>上銼散水一鍾姜三片煎至六分溫服</p>
<p><u>人參養胃湯</u></p>
<p>人參　半夏　陳皮　茯苓　蒼朮　厚朴　藿香　草果</p>
<p>上水一鍾生薑三片棗一枚煎服</p>
<p><u>三黃枳朮丸</u>　治傷肉濕面辛辣味厚之物填塞悶亂不快</p>
<p>枳實（麩炒五錢）　黃連（去須酒浸洗）　大黃（濕紙裹煨）　橘皮　白朮（以上各一兩）　黃芩</p>
<p>上為極細末湯浸𩚫餅為丸如綠豆大每服五十丸白湯下臨時量所傷多少加減服之</p>
<p><u>巴豆三稜丸</u>（一名木香見哯丸）　治生冷硬物所傷心腹滿悶疼痛</p>
<p>巴豆霜（五分）　木香（二錢）　升麻　柴胡（以上各三錢）　草豆蔻（麵裹煨熟用仁）　香附子（炒以上各五錢）　神麯（炒黃色）　石三稜（去皮煨）　京三稜（煨以上各一兩）</p>
<p>上為末湯浸𩚫餅為丸如綠豆一倍大每服一二十丸溫白湯下量所傷多少加減服之</p>
<p><u>白朮丸</u>　治傷豆粉濕面油膩之物</p>
<p>白礬（枯三分）　黃芩（二錢）　橘皮（三錢）　神麯（炒黃色）　半夏（以上各一兩）　枳實（麩炒黃色一兩一錢）　白朮（以上各一兩）</p>
<p>上為極細末湯浸𩚫餅為丸如綠豆一倍大每服三十五丸白湯下素食多用乾薑黃芩湯以瀉之</p>
<p><u>草豆蔻丸</u>　治秋冬傷食之寒冷者胃脘當心而痛上肢兩脅咽膈不通</p>
<p>炒鹽（五分）　乾生薑　青皮　橘皮（以上各二錢）　麥櫱面（炒黃色）　生黃芩（冬月不用）半夏（湯洗七次）　神麯（炒以上各五錢）　草豆蔻（麵裹煨去皮取仁）　白朮（以上各一兩）　枳實（麩炒二兩）</p>
<p>上為極細末湯浸𩚫餅為丸如綠豆大每服五十丸</p>

<h1>卷之十七·腹痛門</h1>

<h2>脈法</h2>
<p>脈經曰脈細小緊急病速進退在中腹中刺痛○陰弦則腹痛弦急小腹痛○尺脈緊臍下痛○尺脈伏小腹痛瘕疝○脈實小腹痛當刺之○心腹痛痛不得息脈細小遲者生堅實大者死○腹痛脈反大而長者死</p>

<h2>論腹痛所因</h2>
<p>內經舉痛論云五臟卒然而痛者何氣使然岐伯曰經脈流行不止環周不休寒氣入經則稽遲澀而不行客於脈外而血少客於肺中則氣不通故卒然而痛帝曰其痛或卒然而止者或痛不休者或痛甚不可按者或按之痛止或按之無益者或喘動應手者或心與背相引而痛者或脅肋與小腹相引而痛者或腹痛引陰股者或卒然痛死不知人少間復生者或痛而嘔者或腹痛而後泄者或痛而閉不通者凡此諸痛各不同形別之奈何岐伯曰寒氣客於脈外則脈寒脈寒則縮蜷縮蜷則脈絀急絀急則外引小絡故卒然而痛立止因重中於寒則痛久矣寒氣客於經脈之中與炅氣相搏則脈滿滿則痛而不可按也寒氣稽留炅氣從上則脈充大而血氣亂故痛甚不可按也寒氣客於腸胃之間膜原之下血不得散小絡急引故痛按之則血氣散故按之痛止寒氣客於夾脊之脈則深按之不能及故按之無益也寒氣客於衝脈衝脈起關元隨復直上寒氣客則脈不通脈不通則氣因之故喘動應手矣寒氣客於背俞之脈（云云見心痛門）寒氣客於厥陰之脈厥陰之脈者絡陰器繫於肝寒氣客於脈中則血泣脈急故脅肋與小腹相引痛矣厥氣客於陰股寒氣上及小腹血泣在下相引故腹痛引陰股寒氣客於小腸膜原之下絡血之中血泣不注於大經血氣稽留不得行故宿昔而成積矣寒氣客於五臟厥逆上泄陰氣竭陽氣未入故卒然痛死不知人氣復反則生矣寒氣客於腸胃厥逆上出故痛而嘔也寒氣客於小腸小腸不得成聚故後泄腹痛矣熱氣流於小腸腸中痛秘熱焦渴則堅幹不得出故痛而閉不通矣</p>

<h2>腹痛治法</h2>
<p>仁齋云腹痛之因邪正交攻與臟氣相擊而作也挾熱痛者以面赤或壯熱四肢煩手心熱見之挾冷也以面色或白或青見之冷甚而證變則黑黯黑唇口爪甲皆青矣熱證四順清涼飲加青皮枳殼冷證指迷七氣湯加辣桂調蘇合香丸若乃邪正交爭冷熱不調加青皮木香為妙錢氏曰小兒積痛口中氣溫面黃白目無睛光或白睛多及多睡畏食或大便酸臭者當磨積宜消積丸甚者白餅子下之後和胃蟲痛面㿠白心腹痛口中沫及清水出發痛時安蟲散主之小兒本怯者多此病積痛食積虛痛大同小異惟蟲痛口淡而沫出</p>

<h2>腹痛諸方</h2>
<p><u>七氣湯</u>　治七氣所傷痰涎結聚心刺痛不能飲乳食</p>
<p>半夏（一兩泡）　人參　桂心（各二錢）　甘草（一錢炙）</p>
<p>上銼散每服二錢姜五片棗一枚同煎食前服</p>
<p><u>指迷七氣湯</u>　治陰陽不升降氣道壅滯作疼</p>
<p>青皮（炒）　陳皮　桔梗（炒）　蓬朮（煨）　肉桂（去皮）　藿香　益智子（各一兩）　香附子（一兩半）　甘草　半夏（各七錢半泡）</p>
<p>上銼散每服二錢水一盞姜五片棗一枚煎服</p>
<p><u>桔梗枳殼湯</u>　治諸氣痞結滿悶腹腰疼痛</p>
<p>桔梗（各一兩炒）　枳殼（炒）　甘草（炙半兩）</p>
<p>上銼散每服三錢姜三片水一鍾煎</p>
<p><u>芍藥甘草湯</u>　治腹痛小便不通及治出疹肚疼</p>
<p>芍藥（一兩）　甘草（二錢半）</p>
<p>上銼散白水煎</p>
<p><u>四順清涼飲</u></p>
<p>治小兒血脈壅實臟腑生熱頰赤多渴五心煩躁睡不寧四肢驚掣及因乳哺不時寒溫失度令兒血氣不順腸胃不調或濕吐連滯欲成伏熱或壯熱不飲欲發驚癇又治風熱結核頭面瘡癤目赤咽痛餘毒一切壅滯並宜服之</p>
<p>芍藥　當歸　甘草　大黃（各半分）</p>
<p>上銼散三歲兒服一錢水半盞煎服冒風邪加去節麻黃中風體強眼上視加獨活熱瀉加木香煨大黃</p>

<h1>卷之十八·傷積門</h1>

<h2>脈法</h2>
<p>脈訣云小兒脈沉緩為傷食○右手氣口脈大於人迎一二倍為傷食○宿食不消則右關脈沉而滑○經云脈滑者有宿食也○虎口脈紋黃色為脾家有積○脈經云小兒脈沉者為乳不消</p>

<h2>論小兒傷積</h2>
<p>活幼心書云小兒所患積證皆因乳哺不節過餐生冷堅硬之物脾胃不能克化停積中脘外為風寒所傷或因夜臥失蓋致頭疼面黃身熱眼胞微腫腹痛膨脹足冷肚熱喜睡神昏不思飲食或嘔或噦口噫酸氣大便醙臭此為沉積所傷有食飽傷脾脾氣稍虛物難消化留而不去遂成其積積敗為痢仁齋云小兒有積面目黃腫肚熱脹痛復睡多困叫啼不食或腸閉澀小便如油或便利無禁糞白而酸此等皆積證也然有乳積有食積有氣積要當明辨吐乳瀉乳其氣酸臭此由啼叫未已以乳與兒停滯不化是為乳積肚硬帶熱渴瀉或嘔此由飲食無度多餐過飽飽後即睡得之是為食積腹痛啼叫利如蟹渤此因觸忤其氣榮衛不和淹延日久得之是為氣積有時時泄下青水如生草汁是受驚而後有積煩悶啾唧常似生嗔名為驚積因受驚日久而積成之或額上有汗喘息煩渴潮熱往來肚皮有熱睡中覺腹內有物跳動者是也然積有虛有實虛則渾身微熱不思飲食昏昧神緩抱起如睡實則吐熱糞閉囟腫喉塞壅盛涎鳴熱毒發瘡推此可見矣其傷乳傷食而身熱者惟腹肚之熱為甚人知傷積肚熱糞酸極臭而夜間有熱傷積之明驗人所不知也其或變證面黑瀉黑久瀉不已肚腹脹滿氣出粗大手心生瘡瘦弱柔軟皆不可療小兒消積多用青皮然青皮最能發汗汗者勿多與之</p>

<h2>傷積治法（附調脾胃）</h2>
<p>小兒諸疾皆由乳食無度過傷於飽傷以致不能克化留而成積初得之時不問乳積食積氣積並以木香丸消積丸之類其驚積以辰砂膏或青龍丸量輕重而疏導之仍以調氣和胃取愈大凡小兒肚腹或熱或脹或硬皆由內實法當疏利下之故東垣云食者有形之物傷之則宜損其谷其次莫若消導丁香欄飯丸枳朮丸之類主之稍重而攻化三稜消積丸木香見哯丸之類主之尤重則或吐或下瓜蒂散備急丸之類主之以平為期蓋脾已傷又以藥傷使營運之氣減削食愈難消故至真要大論云大毒治病十去其六小毒治病十去其七常毒治病十去其八無毒治病十去其九肉果菜食之物必無使過之傷其正也凡人以胃氣為本惟治病亦然小兒胃氣有虛有實虛則嘔吐不食之證實則痞滿內熱之證虛者益之實者損之欲得其平則可矣胃虛用木香丁皮厚朴肉豆蔻等劑胃實用北桔梗枳殼柴胡大黃等劑若夫胃中停寒則乾薑官桂丁香又不可闕貴在酌量但以小小分劑與之夫是為之平胃心者脾之母進食不止於和脾蓋火能生土當以心藥入於脾胃藥之中庶幾兩得古人進食方劑多用益智者此也</p>

<h2>傷積諸方</h2>
<p><u>下積丸</u>　治小兒乳食傷積心腹脹滿氣粗肚熱或瀉或吐</p>
<p>丁香　縮砂（各十二個）　使君子（五個焙）　烏梅肉（焙）　川巴豆</p>
<p>上為末研細和勻爛飯丸麻子大每三十丸橘皮湯送下</p>
<p><u>木香丸</u>　治小兒乳積食積氣積</p>
<p>木香　蓬朮　縮砂仁　青皮（去白）　硃砂（研細）　代赭石（研各二錢）　大丁香（一錢）　川巴豆肉（紙壓去油一錢）</p>
<p>上為細末和勻飛白麵糊丸麻子大風乾每服二三丸乳傷乳汁下食傷米飲下後與大異香散或和劑異香散亦得氣積橘皮湯下後與和劑流氣飲</p>
<p><u>五珍丸</u>　治小兒食積</p>
<p>青皮（不去白炒焦黃）　乾薑（炮帶生存性）　北五靈脂　蓬莪朮（各一兩）</p>
<p>上為末夾和稱藥末一兩肥巴豆肉以石壓去油稱一錢研拌和粳米飯糊丸麻子大每服三五丸米湯下飢飽時服</p>
<p><u>丁香爛飯丸</u>　治小兒飲食所傷</p>
<p>丁香皮　甘草（炙各一錢）　砂仁　益智仁（炮）　甘松（各三錢）　丁香　京三稜（炮）　木香　廣朮（炮各一錢）　香附子（半兩）</p>
<p>上為細末湯浸𩚫餅為丸如綠豆大每服五七丸白湯下</p>
<p><u>木香見晛丸</u>　治傷冷硬物心腹滿悶疼痛</p>
<p>巴豆霜（半錢）　荊三稜（一兩煨）　神麯（炒一兩）　香附子（一錢）　石三稜（半兩煨）　升麻（三錢）　柴胡（二錢）　草豆蔻（煨半兩）</p>
<p>上為末湯浸𩚫餅丸如麻子大每服十五丸白湯下量所傷多少服之</p>
<p><u>三稜消積丸</u>　治傷生冷硬物不能克化心腹滿痛</p>
<p>丁皮　益智（各三錢）　陳皮　青皮（各五錢）　茴香（炒半兩）　炒曲　廣朮（炮）　京三稜（焙各七錢）　巴豆（和米炒去米五錢）</p>
<p>上為細末醋糊丸如麻子大每服十丸溫薑湯下食前看虛實加減服</p>
<p><u>枳實導滯丸</u>　治傷濕冷之物不得施化而作痞滿悶亂不安</p>
<p>茯苓　黃芩　白朮　黃連（各三錢）　澤瀉（二錢）　大黃（一兩）　枳實（炒）　神麯（各五錢）</p>
<p>上為細末湯浸𩚫餅為丸如綠豆大每服十丸白湯送下</p>
<p><u>青龍丸</u>　治小兒驚積有熱</p>
<p>青黛　茯神　蘆薈　南星（炮各一錢）　麝（少許）　輕粉　巴豆（一字）　全蠍（三個焙）</p>
<p>上先將巴豆研如泥次入諸藥令極細丸如粟米大硃砂為衣每服一丸薄荷湯送下</p>
<p><u>辰砂膏</u></p>
<p>辰砂（三錢）　硼砂　馬牙硝（各一錢半）　玄明粉（二錢）　全蠍　真珠（末各一錢）　麝（一字）</p>
<p>上為末和畢用油單包起自然成膏每服一豆許治諸驚用</p>
<p><u>朱銀丸</u>　治胎風壯熱痰盛反眼口噤取下胎中蘊受之毒亦治驚</p>
<p>水銀（一錢蒸棗研如泥）　白附子（一錢半）　全蠍（一錢）　南星　硃砂（一錢）　天漿子　牛黃　蘆薈（各半錢）　鉛霜（半錢和水銀研）　腦（一字）　麝（一字）　直殭蠶（炒七個）</p>
<p>上為末粟米糊丸如芥子大每一丸薄荷湯下</p>

<h1>卷之十九·痞癖門</h1>

<h2>脈法</h2>
<p>脈訣云小兒脈伏結為物聚○錢氏云小兒脈沉細為癖積○脈經云脈來細而附骨來者積也</p>

<h2>痞癖證論</h2>
<p>仁齋云痞者塞也結者實也熱氣蘊於胸膈之間留飲聚於腰脅之內於是榮衛不得流行臟腑不得宣通腹滿而致痞結勢使然耳此實熱之證也或時發為壯熱是也癖者血膜包水癖側於脅傍時時而作痛也惟癖為能發潮熱惟癖為能生寒熱故瘧脈家中脘多蓄黃水日久而後結癖寒熱之不已者以此小兒臟腑和平榮衛調暢則津液自然流通縱使多飲水漿不能為病惟乳哺失調三焦關膈以致水漿停滯腸胃不得宣行冷氣搏之於是結聚而成癖也</p>

<h2>癖積治法</h2>
<p>錢氏曰腹中有癖不食但飲乳是也當漸用白餅子下之小兒病癖由乳母乳食不消伏在腹中乍涼乍熱之類不早治必成疳以其有癖則令兒不食致脾胃虛而發熱故引飲過多即盪滌腸胃亡失津液脾胃不能傳化水穀其脈沉細益不食脾胃虛衰四肢不舉諸邪遂生而成疳矣輕者用仁齋木香丸重者用取癖丸痞結甚者用聖惠甘露散主之</p>
<p>羅謙甫云一小兒病癖積在左脅下硬如覆手肚大青筋發熱肌瘦咳嗽自汗日晡尤甚牙疳口臭惡宣露出血四肢困倦飲水減少病甚危篤太醫劉仲安先生治之約百日可愈先與沉香海金砂丸一服下穢物兩三行次日合塌氣丸服之十日復以沉香海金砂丸利之又令服塌氣丸如此五換服至月餘其癖減半未及百日良愈近年多有此疾愈之者多錄之以救將來之病者也</p>

<h2>灸法</h2>
<p>小兒奶癖目不明者灸眉中俞二穴各一壯取法在肩內臁去脊二寸陷中是穴</p>
<p>小兒癖氣久不消者灸中脘章門二穴中脘從𩩲𩨗下取病兒四指頭是章門在大橫骨外直臍季脅端側臥曲上足舉臂取之各灸七壯臍後脊中灸二七壯　禹講師用灸之經驗</p>
<p>脾俞一穴治小兒脅下滿瀉痢體重四肢不收痃癖積聚腹痛不嗜食痰瘧寒熱又治腹脹引背食頗多漸漸黃瘦在第十一椎下兩傍相去各一寸五分可灸七壯若黃疳者可灸三壯</p>

<h2>痞癖諸方</h2>
<p><u>聖惠甘露飲子</u>　治小兒腹脅痞結脹滿不得宣通</p>
<p>甘遂（一分煨令微黃）　青皮（浸去白焙）　黃芩　川大黃（銼碎微炒各半兩）</p>
<p>上粗末每服一錢水一小盞煎去滓溫和服量大小增減用得通和則止後以糜粥放冷補之</p>
<p><u>取癖丸</u></p>
<p>甘遂（微炒）　芫花（炒）　牽牛（半炒半生研篩取肉）　辣桂　蓬朮　青皮（去白）　木香　桃仁（浸去皮炒）　五靈脂（各二錢）</p>
<p>上細末去油巴豆一錢研和十分細飛麵糊丸麻子大風乾每服一二丸姜蜜煎湯灌下泄後冷粥補仍和胃</p>
<p><u>挨癖丸</u>　治乳癖谷癥腹中塊痛</p>
<p>代赭石（火煆醋淬至碎研十分細）　青皮（去白）　木香　蓬朮　五靈脂　北大黃（各三錢）巴豆（壓去油盡一錢）</p>
<p>上為末醋麵糊丸麻子大每服二丸食後擦姜泡湯下</p>
<p><u>代赭丸</u>　治小兒腹中結癖塊痛</p>
<p>代赭石（研細）　川大黃　木香　五靈脂　硃砂　桃仁（浸去皮尖）　辣桂（各一分）　巴豆肉（去油半分）</p>
<p>上為細末糕糊丸麻子大風乾每服五丸薑湯下</p>
<p><u>燒丹丸</u>　治小兒食癖乳癖每日午後發寒熱咳嗽脅下結硬並皆治之</p>
<p>玄精石（燒赤）　輕粉（各一錢）　粉霜　硼砂（各半錢）</p>
<p>上先將硼砂研細入三味研勻更入寒食麵一錢研勻滴水和成餅再用麵裹了慢火內煨黃取出去面將藥餅再研為細末滴水和丸如黃米大一歲五丸二歲十丸夜臥溫漿水送下至天明取下惡物是效如不下漸加丸數如奶癖未消盡隔三兩日又一服癖消盡為度</p>
<p><u>三稜煎丸</u>　治小兒飲食過度痞悶疼痛食不消化久而成癖也此藥傳治婦人血積血塊尤驗</p>
<p>廣茂（黑角者）　三稜（二味濕紙煨香為末各一兩）　大黃（去皮八兩為末）</p>
<p>上大黃銀器內以好醋漬令平滿慢火熬可以二味為丸如麻子大或綠豆大每服十丸至十五丸食後溫水送下虛實加減服</p>
<p><u>青礞石丸</u>　治小兒奶癖</p>
<p>硫黃（三錢）　青礞石　五靈脂　鍋底黑（各一錢半）　白丁香（一錢去土）</p>
<p>上為末米飯為丸綠豆大捻作餅子每服二十餅溫水送下</p>
<p><u>鱉甲豬肚丸</u>　治小兒癖積發熱</p>
<p>柴胡（一兩）　黃連　鱉甲（九肋者佳醋炙黃色各七錢）　枳實（麩炒）　木香　青皮（各半兩）</p>
<p>上入干青蒿七錢同為末以棕豬肚一個去脂盛藥蒸熟同搗和為丸如桐子大每服一十丸煎人參湯送下食後服</p>

<h1>卷之二十·小便諸證門</h1>

<h2>論小兒諸淋證治</h2>
<p>原病式云淋小便澀痛也熱客膀胱鬱結不能滲泄故也巢氏病源曰諸淋皆腎虛所致腎與膀胱為表裡至水下入小腸通行胞行於陰而為溲腎氣通於陰下流之道也淋有五名曰膏曰冷曰熱曰血曰石膏淋者見小便有肥脂似膏而浮於小便之上此腎虛不能制水其肥液而下行也冷淋者必先戰慄而後小便此亦腎虛而下焦受冷冷氣入胞與正氣交爭故小便澀而戰慄也熱淋者是下焦有熱熱氣傳於腎流入於胞其溺黃多而澀間有鮮血同來者也血淋者乃熱之極也心者血之主外行經絡內行臟腑熱盛則失其常道心與小腸為表裡故下流而滲入於胞則為血也石淋者腎主水水結則化為石蓋腎為熱所乘遇小便則莖中痛不得流利痛引小腹則砂石從小便出甚至寒痛令人昏悶遍身有汗而後醒此痛之使然五淋雖曰腎虛所致然小腸為受盛之腑氣通於膀胱膀胱為津液之腑氣通於胃余化下流而不通皆曰腎氣不足熱入膀胱水道澀而不利出入起數臍腹急痛蘊作有時或似豆汁膏血並以局方五淋散下龍腦雞蘇丸自然平愈及香芎丸補腎地黃丸與之疏導補益為上</p>

<h2>論小便閉塞不通</h2>
<p>曾氏曰嬰兒小便閉而不通者有陰陽二證陰閉者為冷濕乘虛入里因而不通名曰陰閉以白芍藥湯加南木香及用炒鹽以絹帕兜令帶熱熨臍四圍並投五苓散入靈砂末溫鹽湯空心調服其效尤速陽閉者因暴熱所逼澀而不通名曰陽閉又有癃閉與淋不同內經宣明五氣篇曰膀胱不利為癃蓋癃者乃內臟氣虛受熱壅滯宣化不行非澀非痛但閉不通腹脹緊滿並以㕮咀五苓散加車前子燈心之類及投木通散玉露飲益元散皆可用之或貼姜豉餅於臍上取效不拘陰陽二證悉能療之並與萬安飲尤妙</p>

<h2>論小兒陰腫</h2>
<p>全嬰方云小兒陰腫核腫者由兒啼怒氣逆不順乘虛而行陰核偏大又因甘肥不節生冷過度致生疳氣氣結不行流入陰中或傷暑毒或觸風邪使血氣與邪氣相搏停結不散則成陰腫也仁齋云夫若腎經氣虛或坐石不起冷氣凝之或近地經久風邪濕氣傷之不為陰腫幾希矣間有啼叫怒氣閉繫於下結聚不散加以水竇不行亦能發為此疾治用桃仁丸主之丹溪謂脫囊腫大墜下不收用紫蘇莖葉為末水調荷葉包之一人傳此方用野白紫蘇為末濕則摻之干則香油調敷雖皮潰子墜皆有神效此用紫蘇蓋亦同功也</p>

<h2>論小兒尿床遺溺</h2>
<p>原病式云遺尿不禁者為冷內經云不約為遺溺仁齋曰小便者津液之餘也腎主水膀胱為津液之腑腎與膀胱俱虛而冷氣乘之故不能拘制其水出而不禁謂之遺尿睡里自出者謂之尿床此皆腎與膀胱俱虛而挾冷所致也以稚腸散主之亦有熱客於腎部干於足厥陰之經挺孔鬱結極甚而氣血不能宣通則痿痹而神無所用故液滲入膀胱而旋溺遺失不能收禁也此又不可不知</p>

<h2>論小兒尿白便濁</h2>
<p>仁齋曰小兒尿白如米泔狀由乳哺失節有傷於脾致令清白不分而色白也久則成疳此亦心膈伏熱兼而得之全嬰方云小便初出微赤良久白濁者乃熱疳之邪也初出黃白久白濁者乃冷疳之候也冷者益黃散主之熱者牛黃丸主之冷熱者蘆薈丸主之純下白濁者厚朴丸主之諸失津液欲成疳而小便白者茯苓散主之可也</p>

<h2>論小兒疝證</h2>
<p>內經大奇論曰腎脈大急沉肝脈大急皆沉為疝證心脈弦滑急為心疝肺脈沉弦為肺疝蓋疝者寒氣結聚之所為故令腹臍絞痛者是也又巢元方曰諸疝者陰氣積於內復為寒疝所傷榮衛不調二氣虛弱風冷入腹而成故脈經云急者緊也緊則為寒為實為痛血為寒泣則為瘕氣為寒聚為疝仁齋曰㿗疝者陰核氣結腫大而吊痛也多因小兒啼怒不止傷動陰氣故陰氣下結聚而不散得之或胎婦啼泣過傷令兒生下小腸氣閉亦變此候惟是不得流行加以風冷入焉血水聚焉故水氣上乘於肺先喘急以後疝痛其狀有如桃核者亦有稀軟者亦有外腎腫大者亦有木硬者臍下痛楚皆不能忍用藥行心氣逐腎邪利其大小便更無補法並用五苓散當歸散川楝散主之</p>

<h2>灸法</h2>
<p>小兒疝卵偏腫者灸囊後縫十字紋上三壯春灸夏較夏灸秋較秋灸冬較冬灸春較</p>
<p>小兒陰腫灸內崑崙二穴各三壯取法在內踝後五分筋骨間陷中是穴灸小便淋瀝法炒鹽不以多少熱填滿病人臍內是神關穴也卻用小麥大艾炷灸七壯良驗或灸三陰交穴</p>

<h2>小便諸證方</h2>

<h3>治淋之劑</h3>
<p><u>香芎丸</u>　治小兒諸淋證若患風閉尤妙</p>
<p>香附　川芎　赤茯苓（各半兩）　海金沙　滑石（各一兩）　枳殼　澤瀉　石葦　檳榔（各二錢半）</p>
<p>上為末糯米粉煮為清糊丸麻子大每服三十三丸至五十五丸或七十七丸並用麥門冬熟水送下若小便澀痛滴三五點者取長江順流水用火微溫入鹽少許調勻空心咽服</p>
<p><u>葵子散</u>　治小兒諸淋</p>
<p>葵子　車前子　木通　桑白皮（炒）　瞿麥　赤茯苓　山梔子　甘草（炙等分）</p>
<p>上水一盞煎服</p>
<p><u>導赤散</u>　治小兒血淋</p>
<p>生乾地黃　木通（各二錢）　黃芩　甘草（生各二錢）</p>
<p>上為末每服一錢井水入燈心煎服仍以米飲調油發灰空心灌下</p>
<p><u>局方五淋散</u>　治膀胱有熱水道不通淋瀝不出或尿如豆汁或成沙石或如膏或熱怫便血</p>
<p>赤茯苓（六錢）　赤芍藥　山梔子（各二錢）　當歸　甘草（各五錢）</p>
<p>上㕮咀每服三錢水一小盞入燈心煎服</p>

<h3>治小便閉塞之劑</h3>
<p><u>五苓散</u>　治小便閉塞不通</p>
<p>豬苓　澤瀉　白朮　茯苓　官桂</p>
<p>上銼散水一盞加車前子煎服</p>
<p><u>木通散</u>　治小兒上焦熱小腑閉煩躁生嗔及淋澀諸瘡丹毒</p>
<p>木通　地萹蓄（各半兩）　大黃　甘草　赤茯苓（各三錢）　瞿麥　滑石　山梔仁　車前子　黃芩（各二錢半）</p>
<p>上水一鍾燈心三莖或入薄荷煎服</p>
<p><u>清肺散</u>　治渴而小便閉或黃或澀</p>
<p>五苓散加琥珀（半錢）　燈心（一分）　木通（七分）　通草（一分）　車前子（炒一分）　瞿麥（半錢）　萹蓄（七分）</p>
<p>上為粗末每服三錢水煎食前服</p>

<h3>治陰腫之劑</h3>
<p><u>桃仁丸</u></p>
<p>桃仁（浸去皮麩微炒三錢）　辣桂　牽牛（微炒取仁）　白蒺藜（炒香搗去刺）　牡丹皮　北大黃（各二錢）</p>
<p>上為末煉蜜丸麻子大每服五丸或七丸青皮木香蔥白入鹽少許煎湯灌下煎大流氣飲研青木香灌下亦可丹溪一方用木通甘草黃連當歸黃芩煎服</p>
<p>敷藥</p>
<p>牡蠣灰（二分）　乾地龍（一分）</p>
<p>上為細末津唾調敷外腎熱者雞子清調敷</p>
<p><u>牡蠣散</u>　治小兒外腎腫大莖物通明</p>
<p>牡蠣粉（研十分細先以唾津塗腫處次以牡蠣粉糝）</p>
<p>又方　治小兒卵腫研桃仁唾調敷</p>

<h3>治遺尿之劑</h3>
<p><u>雞腸散</u>　治小兒尿床遺溺不自知覺</p>
<p>雞腸（燒）　牡蠣灰　白茯苓　真桑螵蛸（微炒各半兩）　辣桂　龍骨（各二錢半）</p>
<p>上粗末每服一錢薑棗煎服</p>
<p>又方</p>
<p>雞䏶胵（一具）　雞腸（一具燒存性）</p>
<p>上為末每一錢酒調下男用雌雞女用雄雞</p>

<h3>治尿白之劑</h3>
<p><u>茯苓散</u></p>
<p>京三稜　蓬莪朮（煨）　縮砂仁　赤茯苓（各半兩）　青皮　陳皮　滑石　甘草（微炒）</p>
<p>上為末每服一錢麥門冬燈心煎湯調下</p>
<p>又方</p>
<p>大甘草頭煎湯服</p>

<h3>治疝之劑</h3>
<p><u>當歸散</u></p>
<p>辣桂　牽牛（炒取各半兩）　當歸　北大黃　桃仁（浸去皮焙各二錢半）　全蠍（一錢半）</p>
<p>上細銼每一錢水一盞入蜜煎服以利大便利後用青皮陳皮茯苓木香縮砂甘草和胃　惡證唇青不治</p>
<p><u>川楝散</u>　治小兒疝氣小腹痛引腰脊攣曲身不能直</p>
<p>木香　檳榔　三稜　蓬朮（炮）　青皮（去白）　陳皮　川楝肉　芫花（米醋炒各半兩）　川巴豆肉（不去油一錢）</p>
<p>上細末飛麵糊丸麻子大每服三丸空心服下前一服薑湯送下</p>

<h1>卷之二十一·丹毒門、附風毒、驚丹</h1>

<h2>小兒丹毒論</h2>
<p>夫熱與血相搏而風冷乘之所以赤腫遊而遍體也此由乳母酒面煎炒過食與夫烘衣與兒不候冷而即著多成此疾或發於手足或發於頭面胸背令兒燥悶腹脹其熱如火痛不可言才有入腹入腎之證便不可救楊氏曰丹有五色乃血熱風毒有盛有衰夾冷夾熱故其色變易不同經云赤紫丹瘤皆心火內鬱而發赤如丹砂故名丹毒蓋心主血熱為血之媒謂應火而色也乃心家血熱盛以動之是以遊走遍體自腹生出四肢者易治自四肢生入腹者難治矣通用敗毒散加紫草茸外用白玉散敷之大抵治小兒丹毒必先服表藥內解熱毒方可塗敷既毒氣無所泄而入里害人有身上發時亦如前證不甚燥癢但見出浮於遍體神昏不悅名陰濕毒證此二證不問赤白若入腹入腎多致為害不可輕視如常自取困耳</p>

<h2>論小兒風毒</h2>
<p>風毒者因驚風之後風從氣行血從氣使毒氣蓄於皮膚流結而為腫毒遂成頑核赤色多在腮頰之間或耳根骨節之處重則成癰成癤謂之遁毒風宜以百解散當歸散倍加枳殼大黃或皂角刺薄荷之類如結在腮頰者治用烏豉膏以護咽喉外則敷以拂毒散及外消散之類若因跌撲破橫皮膚風邪侵襲傷處發腫謂之破血傷風可投疏風散活血散黃芩四物之類</p>

<h2>論小兒驚丹</h2>
<p>曾氏曰嬰孩生後百日之內半歲以上忽兩眼胞紅暈微起面帶青黯色而夜煩啼或臉如胭脂此伏熱在內亦有臉不紅者始因居胎之時母受重驚邪傷胎氣遞相傳襲降生之後復受熱毒或再有驚有熱熱氣內蘊形之於外初時散生滿面狀如水痘腳微紅而不壯熱出沒休息無定次到頸項赤如丹砂名為驚丹以四聖散先洗其月次用百解散以解驚熱丹毒甚則以四物加黃芩之類如驚丹發至胸膈乳間微有痰喘作痛急宜宣毒拔毒免至內流為害不淺以五和湯加升麻生乾地黃燈心之類如此調治不生他證投萬安飲主之</p>

<h2>丹毒諸方</h2>

<h3>治丹毒之劑</h3>
<p><u>葛根白朮散</u>　治小兒赤白丹毒</p>
<p>白朮（一錢）　茯苓（二錢）　木香（一錢半）　甘草（二錢半）　葛根（三錢）　枳殼（一錢）</p>
<p>上銼散用水一盞不拘時服</p>
<p><u>犀角解毒散</u>　治小兒赤丹瘤壯熱狂燥　睡臥不安胸膈悶滿咽喉腫痛遍身丹毒</p>
<p>牛蒡子（炒一兩五錢）　甘草（二錢半）　荊芥穗（五錢）　防風（二錢半）　犀角（一錢半）</p>
<p>上銼散用水煎不拘時服</p>
<p><u>防風升麻湯</u>　治小兒丹瘤赤腫</p>
<p>防風　升麻　山梔（去殼）　麥門冬（去心）　木通　甘草節（各一錢）</p>
<p>上㕮咀用淡竹葉三片煎食遠服</p>
<p><u>綠袍散</u></p>
<p>綠豆（五錢）　大黃（二錢）</p>
<p>上為極細末用生薑薄荷汁入蜜塗</p>
<p><u>白玉散</u></p>
<p>白玉（即滑石）　寒水石（二錢半）</p>
<p>上為極細末用醋調或井水調塗</p>
<p>碧雪芒硝　青黛　寒水石　石膏朴硝　馬牙硝　甘草（各一錢）</p>
<p>上為極細末敷</p>
<p><u>水黃散</u>　治小兒赤瘤丹毒丹鈹刀子疏去瘤頭赤暈惡血毒汁</p>
<p>土硝（五錢）　大黃（一錢）</p>
<p>上為極細末用新井水調勻塗</p>

<h3>治風毒之劑</h3>
<p>解散風毒</p>
<p><u>百解散</u></p>
<p>甘葛（二兩半）　升麻　赤芍藥（各二兩）　黃芩（一兩）　麻黃（七錢半）　薄桂（二錢半）　甘草（一兩半）</p>
<p>上用水一小盞姜三片蔥一根風熱盛加薄荷</p>
<p><u>當歸散</u></p>
<p>當歸　赤芍藥（各二兩）　大黃（一兩二錢）　川芎　麻黃（各半兩）　甘草（一兩）</p>
<p>上水一鍾姜三片煎服</p>
<p><u>拂毒散</u>　治小兒諸風熱陰毒腫核已結成未穿潰或正發者</p>
<p>半夏（一兩）　貝母　大黃　朴硝　五倍子（各二錢半）</p>
<p>上為末用醇醋或一錢二錢塗患處如干再塗仍服疏風化毒之劑余藥成末除朴硝臨入杵勻用</p>
<p><u>外消散</u></p>
<p>大黃　牡蠣（各半兩）　朴硝（二錢）</p>
<p>上為末炒一錢或二錢取田螺三枚淨洗再以水半盞浸過一宿去螺用水調塗腫處即消</p>

<h3>治破血傷風之劑</h3>
<p><u>疏風散</u>　治小兒薄劣疏觸頭腦或弄刀錐因而破血感風致面目傷痕浮腫</p>
<p>荊芥（一兩）　防風（二錢半）　甘草（二錢）</p>
<p>上為末每服一錢無灰酒調服蔥湯亦好</p>
<p><u>活血散</u>　治小兒破血傷風</p>
<p>當歸　生地黃　川芎　紅花　赤芍藥　蘇木（各半兩）　甘草（三錢）</p>
<p>上水一鍾煎至大分溫服</p>

<h3>治驚丹之劑</h3>
<p><u>黃芩四物湯</u>　治小兒驚丹</p>
<p>當歸　地黃　川芎　赤芍藥（各錢半）</p>
<p>黃芩上水一小盞煎至六分溫服</p>
<p><u>五和湯當歸</u>　赤茯苓各半兩甘草　大黃</p>
<p>枳殼（各七錢半）上水一盞煎六分無時溫服</p>
<p><u>三解散</u>　治小兒驚丹面紅目赤口瘡痰嗽</p>
<p>人參　防風　天麻　茯神</p>
<p>鬱金無以山梔代之　白附子　大黃（各二錢半）　赤芍藥　黃芩　殭蠶（各五錢）　全蠍（十五尾去尖）　枳殼（二錢）　粉草（六錢）</p>
<p>上為末每服半錢用溫薄荷湯或燈心湯調服</p>

<h1>卷之二十二·黃疸門</h1>

<h2>脈法</h2>
<p>脈經曰脈沉渴欲飲水小便不利者皆發黃疸凡發黃寸口無脈鼻氣冷並不可治</p>

<h2>論小兒諸疸之由</h2>
<p>錢氏曰凡小兒身皮目皆黃者黃病也身痛膊背強大小便澀一身皆黃面目指爪皆黃小便如屋塵色著物皆黃渴者難治此黃疸也二證多得於大病後又有一證生下百日及半身不因病後身微黃者胃熱也大人亦同又有面黃腹大食土渴者脾疳也又有目生而身黃者胎疸也經云諸疸皆屬於熱色深黃者是也若淡黃兼白者胃怯胃不和也丹溪云不必分五同是濕熱如盦曲相似此理甚明全嬰方論云夫發黃者皆由寒濕之氣蘊結於脾胃蒸發而成也陽明病無汗小便不利心中熱壅必發黃巢氏曰小兒百日半歲非傷寒瘟病而身微黃者亦是脾胃熱忌不可灸也灸之則熱甚此是將息過度所為微薄其衣欲與除熱丸散投之自歇不得妄與湯劑及灸為害不淺淺也</p>
<p>論發黃治例</p>
<p>難知云色如熏黃乃濕病也一身盡痛色如橘子黃者黃病也一身不痛干黃燥也小便自利四肢不沉重渴而引飲者梔子柏皮湯濕黃脾也小便不利四肢沉重似渴不欲飲者大茵陳湯若大便自利而黃者茵陳梔子黃連三物湯往來寒熱一身盡黃者小柴胡加梔子湯羅謙甫云小兒季夏身體蒸熱胸膈煩滿皮膚如漬橘之黃眼中白睛亦黃筋骨痿弱不能行立此由季夏之熱加以濕氣而蒸熱搏於經絡入於骨髓使臟氣不平故脾遂乘心濕熱相合而成此疾也蓋心火實則身體蒸熱胸膈煩滿脾濕勝則皮膚如漬橘之黃有餘之氣必乘已所勝而侮不勝是腎肝受邪而筋骨痿弱不能行立內經言脾熱者色黃而肉蠕動又言濕熱成痿信哉所言也所謂子能令母實實則瀉其子也蓋脾土退其本位腎得復心火自平矣又內經曰治痿獨取於陽明正謂此也加減瀉黃散主之</p>
<p><u>加減瀉黃散方</u>　此藥退脾土復腎水降心火</p>
<p>黃連　茵陳（各五分）　黃柏　黃芩茯苓　山梔（各三分）　澤瀉（二分）</p>
<p>上㕮咀都作一服水一盞煎至六分去渣稍熱服食後一服減半待五日再服而良愈</p>
<p>內經云土位之主其瀉以苦又云脾苦濕急食苦以燥之故用黃連茵陳之苦寒除濕熱為君腎欲堅急食苦以堅之所以黃柏之苦辛寒強筋骨為臣濕熱成煩以苦瀉之故以黃芩山梔子之苦寒止煩滿為佐濕淫於內以淡泄之故以茯苓澤瀉之甘淡利小便導濕為使也</p>
<p><u>茵陳湯</u>　治小兒陽明病發熱汗出者此為熱越不能發黃也身無汗劑頸而還小便不利渴欲飲水者此為瘀熱在裡必發黃傷寒七八日身黃如橘色小便不利腹痛者並主之</p>
<p>山茵陳　梔子仁　川大黃</p>
<p>上等分㕮咀水煎加減服日進三服小便當利尿如皂莢汁狀色正赤一宿腹減痛黃隨小便中去也</p>
<p><u>梔子柏皮湯</u>　治小兒身黃髮熱</p>
<p>梔子仁（十個）　甘草（一兩炙）　黃柏（二兩）</p>
<p>上㕮咀水一小盞煎六分加減服</p>
<p><u>犀角散</u>　治小兒黃疸一身盡黃</p>
<p>犀角（一兩）　茵陳　栝蔞根　升麻　龍膽草　生地黃（各半兩寒水石）</p>
<p>上㕮咀水一盞煎六分溫服一方治小兒忽發黃面目皮肉盡黃栝蔞汁和蜜服之良驗</p>
<p><u>瓜蒂散</u>　治小兒三歲忽發心滿堅硬腳手心熱則變為黃病不急治殺人</p>
<p>瓜蒂（七個）　赤小豆（七粒）　秫米（七粒）</p>
<p>上為末用一字吹兩鼻內令黃水出未盡再用水調服之得吐黃水即瘥一方瓜蒂一兩赤小豆四兩為末每服一錢濕水調服藥下即臥當有吐以吐清黃汁為妙虛人不可用</p>
<p><u>茯苓滲濕湯</u>　治小兒黃疸寒熱嘔吐而渴欲飲冷水身體面目俱黃小便不利不得安臥不思食</p>
<p>白茯苓（五分）　澤瀉（三分）　茵陳（六分）　豬苓（二錢）黃芩　黃連　梔子　防己　白朮　蒼朮　陳皮　青皮　枳殼（各二錢）</p>
<p>上銼散水一小盞煎六分徐徐濕服</p>
<p><u>丹溪一方</u>　治小兒吐瀉黃疸</p>
<p>三稜　蓬朮　青皮　陳皮　神麯　麥芽　黃連　甘草　白朮　茯苓</p>
<p>上為末溫水調服傷乳食吐瀉加山楂時氣吐瀉加滑石發熱加薄荷</p>

<h1>卷之二十三·諸血門</h1>

<h2>論小兒吐血衄血便血下血</h2>
<p>全嬰論云夫吐血者榮衛氣逆也榮者血也衛者氣也榮衛相濟不失常道一有所勝則致妄行血者水也決之東則東流決之西則西流氣之使血其勢如此巢氏云血者是有熱氣盛而血虛熱乘於血血性得熱則流散妄行氣逆則血隨氣上故令吐血也又或飲食太飽之後脾胃內冷不能消化忽吐所食之物氣血相沖因傷肺胃亦令吐血若久嗽氣逆面目浮腫而嗽吐血者是虛損也</p>
<p>衄血者是五臟熱結所為也血隨氣行通流臟腑冷熱調和不失常度無有壅滯亦不流溢血得寒而凝結得熱而流散熱乘於血血隨氣發溢於鼻竅也又有因傷寒瘟疫諸陽受病不得其汗熱傷於五臟故從而出也</p>
<p>大便下血者是大腸熱結損傷所為也藏氣既傷風邪自入或蓄熱或積冷或濕毒於脾胃或疳食傷於臟腑因茲冷熱交系疳濕互作致動血氣停留於內凝滯無歸滲入腸中故大便下血也或有腹脹冷氣在內攻衝亦令大便下血又因風冷乘虛客入脾胃或瘀血在於腸胃濕毒下如豆汁又疳傷於臟亦能便血若上焦心肺積熱施注大腸亦令大便下血也亡血脾弱必渴久則血虛其人必肌體萎黃頭髮不黑矣</p>
<p>溺血者蓋心主血與小腸相合血之流行周遍經絡循環臟腑若熱聚膀胱血滲入脬故小便血出也</p>

<h2>血證諸方</h2>
<p><u>黃芩湯</u>　治小兒衄血吐血下血</p>
<p>上以黃芩為末煉蜜丸如雞頭大三歲一丸濃鹽湯下柏葉石榴花為末吹鼻治衄血吐血一方定州甕器末治嘔血破血止血</p>
<p><u>柏枝飲</u>　治小兒衄血吐血</p>
<p>柏枝（乾者）　藕節（乾者）</p>
<p>上等分為末三歲半錢藕汁入蜜沸湯調下一方白芍藥為末磨犀角汁調治咯血衄血</p>
<p><u>龍膽丸</u>　治小兒衄不止</p>
<p>黃連　龍膽草</p>
<p>上等分為末糊丸如小豆大三歲三十丸或作散子以濃鹽水送下</p>
<p><u>柏皮湯</u>　治小兒衄血</p>
<p>柏皮（一兩）　梔子（一兩）　甘草（炙半兩）</p>
<p>上㕮咀三歲一錢水一小盞煎三分去滓</p>
<p>一方剪金花葉陰乾水煎服</p>
<p>一方白芨末水調塗鼻上並囟門立止</p>
<p><u>辰膠散</u>　治小兒吐血</p>
<p>阿膠（炒）　蛤粉（等分）　辰砂（少許）</p>
<p>上為末和粉紅色三歲一錢藕汁和蜜調下</p>
<p><u>膠黃散</u>　治小兒大衄口鼻耳出血不止十五六歲兒陽盛多此病</p>
<p>阿膠（一兩）　蒲黃（半兩）</p>
<p>上為末三歲半錢生地黃汁微煎調下食前</p>
<p><u>五倍丸</u>　治小兒大便下血如腸風臟毒</p>
<p>上以五倍干為末煉蜜丸如小豆大三歲三十丸米湯空心下</p>
<p><u>訶灰散</u>　治小兒因疳大便有血</p>
<p>上以訶子燒灰存性一半為末米湯調下食前三歲一錢</p>
<p><u>桃膠丸</u>　治小兒小便出血陰莖中痛</p>
<p>上以桃膠一塊如棗大水一盞半煎三分日進三服下石子如豆石盡止藥</p>
<p><u>火府散</u>　治小兒小便出血</p>
<p>木通　生地黃　甘草　黃芩</p>
<p>上為末水一盞煎六分不時溫服</p>

<h1>卷之二十四·諸汗門</h1>

<h2>論小兒諸汗</h2>
<p>夫汗者心之所藏在內為血發外者為汗蓋汗乃心之液故人之氣血平則寧偏則病經云陰虛陽必湊則發熱而自汗陽虛而陰必乘則發厥而自汗皆由陰陽偏勝而致也小兒血氣嫩弱膚腠未密若厚衣溫暖熏蒸臟腑臟腑生熱熱搏於心為邪所勝故液不能內藏熏出肌膚則為盜汗也又或傷於冷熱冷熱交爭陰陽不順津液走泄亦令睡中汗自出其間有虛實之證虛者謂諸病後大汗後血氣尚弱液溢自汗或潮熱或寒熱發過之後身涼自汗日久令人黃瘦失治則變為骨蒸疳勞也丹溪云盜汗者謂睡而汗出也不睡則不出汗出方其睡熟也濈濈然出焉覺則止而不復出矣亦是心虛宜斂心氣益腎水使陰陽調和水火升降其汗自止錢氏云上至頭下至項謂之六陽虛汗不須治之</p>

<h2>諸汗治法</h2>
<p>錢氏云小兒睡而汗自出者肌肉虛也止汗散主之遍身汗出者香瓜丸主之上至胸下至臍此胃虛也當補脾益黃散主之</p>
<p>脾虛泄瀉自汗遍身冷而出有時遇瀉則無瀉過則有此候大虛急當補脾宜益黃散參苓白朮散附子理中湯之類</p>
<p>肺虛自汗其候右臉色多㿠白肺脈按之無力蓋久因咳嗽連聲不已痰少不治乃肺經氣上壅致令汗出宜補肝散藿香飲調脾此又益母救子之義也</p>
<p>慢驚自汗遍體俱有其冷如冰此證已危金液丹固真湯主之</p>
<p>有實證自汗外因感冒風邪發熱無間昏醒浸浸汗出或厚衣臥而額汗出也當救表解肌用百解散止汗散主之</p>
<p>小兒無疾但睡中遍身汗出如水覺而經久不幹此名積證盜汗脾冷所致宜三稜散次益黃散主之</p>
<p>有時時冷汗漸出發根如貫珠面額上濈濈然此為驚汗宜鎮驚丸琥珀抱龍丸及茯神湯加麻黃根取效有病困睡寐中而身體汗流此因陽虛所致久不已令人瘦瘠心氣不足津液妄出故也用茯神湯加黃耆與之</p>

<h2>自汗諸方</h2>
<p><u>團參湯</u>　治小兒虛汗或心血液盛亦發為汗此藥收斂心氣</p>
<p>新羅人參　川當歸（各三錢）</p>
<p>上銼細用雄豬心一個切三片每服二錢豬心一片井水一盞半煎至一盞食前兩次服</p>
<p><u>止汗散</u>　治小兒睡而自汗</p>
<p>故蒲扇灰（如無扇只將故蒲燒灰）</p>
<p><u>撲汗方</u></p>
<p>黃連　牡蠣粉　貝母（各半兩）　米粉（一升敷之）</p>
<p><u>牡蠣散</u>　治血虛自汗或病後暴虛津液不固自汗</p>
<p>牡蠣（一兩）　黃耆　生地黃（各一兩）</p>
<p>上銼散每服二錢或加浮麥煎</p>
<p><u>通神丸</u>　治小兒夜間通身多汗</p>
<p>龍膽草（不拘多少）　一方加防風</p>
<p>上為末醋糊丸綠豆大每服五七丸米飲下</p>

<h1>卷之二十五·咽喉齒舌門</h1>

<h2>咽喉</h2>
<p>咽喉者為一身之總要與胃氣相接呼吸之所從出若胸膈之間蘊積熱毒致生風痰壅滯不散發而為咽喉之病喉內生瘡或狀如肉腐為䯞為痛窒塞不通吐咽不下甚則生出重舌治之尤宜先去風痰以通咽膈然後解其熱毒遲則有不救之患大抵咽喉之疾本傷熱毒上攻也四時受熱藏於心肺之間宜所觸上攻咽喉所謂腎傷寒也然其證有肉蛾有重舌木舌胙腮有懸癰腫脹有裡外皆腫甚者上攻頭面皆腫大法先洗口中舌上白胎其次掃去風涎如此單雙肉蛾可針則針有不可針者則用熏摻藥退後方依次用藥輕者服藥而自退不須用針及藥點其瘡其瘡自消也纏喉風者乃心胸蓄熱生風積聚風痰而作也若鼻青黑塞噎頭低痰如膠色不可治</p>

<h2>齒證</h2>
<p>錢氏曰小兒變蒸乃骨之餘氣自胸分入齦中作三十二齒而齒牙不及三十二數者由變不足其常也或二十八日即至長二十八齒又云小兒變蒸蛻齒者如花之易苗所謂不及三十二齒由變之不及齒當與變日相合也年壯觀齒方明齒生遲者乃稟受腎氣不足即髓不強蓋骨之所絡而為髓不足故不能充於齒所以齒生遲也故初生兒有重齦重齶者由其血氣不收斂成肉故頰裡上有物如蘆𩢺盛水狀腫者名重齶有著齒齦者名重齦治法當以綿纏長針留兩處如粟米大以刺之令泄出血汁先用淡鹽湯洗拭次用一字散即愈</p>

<h2>舌證</h2>
<p>夫舌者心之候脾之脈絡於舌者也臟腑壅滯心脾積熱熱氣上衝故令舌腫漸漸脹大塞滿口中是為木舌若不急療必至害人宜用紫雪竹瀝調服即愈重舌者亦心脾有熱也蓋心候於舌所主者血脾之絡脈出於舌下若心脾有熱則血氣俱盛附舌根而重生一物形如舌而短小也謂之重舌以真蒲黃和黃柏末點之或牙硝亦可錢氏云脾臟微熱令舌絡微緊時時舒舌治勿用冷藥及下之當少以瀉黃散漸服之亦或飲水者醫疑為熱必以冷藥下之非也飲水者脾胃虛津液少也又加面黃肌瘦五心煩熱即為疳瘦宜加胡黃連丸輩大病者已用藥弄舌者凶</p>

<h2>治咽喉之劑</h2>
<p><u>化毒湯</u>　治小兒解風熱上攻咽喉腫痛乳食不便</p>
<p>桔梗（去蘆炒五錢）　薄荷葉（二錢半）　荊芥穗　甘草（各二錢半）　山豆根（一錢半）　牙硝（二錢）　硼砂（二錢）　朴硝（一錢）　雄黃（水飛）　硃砂（水飛各二錢）</p>
<p>上為極細末敷或溫湯調不拘時候服少與含咽</p>
<p><u>甘桔湯</u>　治小兒感冒風熱火氣熏逼痘瘡蘊毒上攻咽喉腫脹痰氣不順咳嗽失音</p>
<p>人參（去蘆五錢）　桔梗（蜜浸炒一兩）　甘草（半生半炙五錢）</p>
<p>上銼散用水煎不拘時候</p>
<p><u>立效散</u>　治小兒咽喉痹痛不能吞嚥</p>
<p>硼砂　龍腦　雄黃　朴硝（各半錢）</p>
<p>上為極細末乾摻</p>
<p><u>吹喉散</u>　治小兒咽喉腫痛氣塞不通</p>
<p>甘草（生二錢半）　朴硝（一兩）</p>
<p>上為細末乾摻咽喉中如腫甚者用小竹管吹入喉內</p>

<h2>治齒牙之劑</h2>
<p><u>麥門冬散</u>　治小兒客熱胃中齒齦腫痛或出鮮血</p>
<p>人參　麥門冬（去心）　天門冬（去心）　生地黃　熟地黃　赤茯苓　白茅根（各三錢）　甘草（炙一錢）</p>
<p>上㕮咀水一盞不拘時服</p>
<p><u>芎藭散</u>　治小兒齒遲不生以此藥末擦牙根即生</p>
<p>芎藭　生地黃　山芋　當歸　芍藥　甘草（各等分）</p>
<p>上為末每服二錢白湯下或用擦牙齦上</p>
<p><u>細辛散</u>　治小兒風蛀牙疼腮頷浮腫</p>
<p>荊芥穗　細辛（各一兩）　砂仁（半兩）　白芷　紅椒　草烏（各二錢）　鶴蝨　豬牙皂角　蓽茇（各半兩）</p>
<p>上為末每用少許頻擦患處有涎吐之仍用水灌漱</p>

<h2>治重舌木舌弄舌之劑</h2>
<p><u>烏魚散</u>　治小兒心脾有熱一則血氣俱盛其舌下近舌根生形如舌者謂之重舌</p>
<p>烏魚骨（五錢）　蜣螂（二錢半）　蒲黃（二錢半）　白礬（煆半分）</p>
<p>上為極細末用雞卵黃調勻塗舌上咽津無妨</p>
<p><u>青液散</u>　治小兒重舌及口瘡</p>
<p>青黛（一錢）　龍腦（一字）　朴硝（一錢）</p>
<p>上為細末用蜜調鵝翎蘸少許敷之</p>
<p><u>當歸連翹湯</u>　治小兒心脾有熱舌下有形如舌而小者謂之重舌</p>
<p>當歸尾　連翹　川白芷（各三錢）　大黃（煨）　甘草（各一錢）</p>
<p>上㕮咀用水一小盞煎食前服</p>
<p><u>瀉黃散</u>　治小兒木舌</p>
<p>藿香葉（三錢半）　山梔（五錢）　石膏（二錢半）　甘草（二錢）　防風（二兩）</p>
<p>上銼散用水小盞不拘時服</p>
<p><u>川硝散</u>　治小兒木舌</p>
<p>朴硝（五錢）　真紫雪（一分）　鹽（半分）上為細末入竹瀝三兩點用白湯調敷咽津無妨</p>
<p><u>一捻金散</u>　治小兒重舌木舌</p>
<p>雄黃（二錢）　硼砂（一錢）　腦子（少許）　甘草（半錢）</p>
<p>上為細末乾摻舌上或用蜜湯調鵝翎刷胭</p>

<h1>卷之二十六·耳目口鼻門</h1>

<h2>論小兒耳目口鼻諸證</h2>
<p>耳者腎之候小兒腎氣實其熱上衝於耳遂使津液壅滯為稠膿為清汁者此也亦有沐浴水入耳中水濕停留搏於血氣醞釀成熱亦令耳膿久不瘥變成聾以龍骨散主之又湯氏云有五般停耳候停耳者常有黃膿出也膿耳者常有紅膿出也纏耳者常有白膿也五耳者耳內疳臭震耳者耳內虛鳴時出青膿病雖五般其源一也皆由水入耳中而因有積熱上壅而成若不早治久則成聾宜胭脂膏治之仍服化毒退熱等劑即愈也</p>
<p>錢氏曰目內赤者乃心家積熱上攻宜導赤散主之淡黃者心虛熱生犀散主之青者肝熱瀉肝丸主之黃者脾熱瀉黃散主之眼目視物不明不腫不痛不赤無翳膜或見黑花無眼光者是肝腎俱虛不可便服涼藥宜地黃丸主之有痘瘡入眼以決明散密蒙花散主之有小兒初生眼閉者由產母食熱物毒物致成斯疾治法當以熊膽少許蒸水洗眼上一日七次如三日不開用生地黃湯服仍須乳母服山茵陳湯凡初生小兒須洗令淨若洗不淨則穢汁浸漬於眼眥中使眼赤爛至長不瘥母食熱物熱藥名曰胎赤有因難產胎氣頗澀轉側瘥緩其血壓於兒首遂致濺血滲下盛則灌注其眼不見瞳人輕則外胞腫赤上下弦爛若投涼藥必寒臟腑宜與生地黃湯主之口糜者乃膀胱移熱於小腸膈腸不便上為口糜心胃壅熱水穀不傳下傳小腸以導赤散去小腸熱五苓散瀉膀胱熱故以導赤散調五苓散主之鵝口者小兒初生口內白屑滿舌上如鵝之口故曰鵝口也此乃胎熱而心脾最盛重發於口也用發纏指頭蘸薄荷自然汁水拭口內如不脫濃煮粟米汁拭之即用黃丹煆過出火毒摻於患處口瘡者乃小兒將養過溫心臟積熱熏蒸於上故成口瘡也宜南星末醋調貼兩腳心乳母宜服洗心散以瀉心湯主之丹溪云一小兒口瘡不下食眾以狐惑治之必死後以礬湯於腳上浸半日頓寬以黃柏密炙殭蠶炒為末敷之立下瘥乳而安</p>
<p>鼻為肺之竅因心肺上病而不利也有寒熱者邪傷皮毛氣不利而壅清道而為病也故小兒鼻塞者由肺氣通於鼻氣為陽若氣受風寒停滯鼻開則成鼻塞氣寒而津液不收則多鼻涕若冷氣久不散膿涕結聚使鼻不聞香臭則齆鼻若挾熱則鼻乾皆阻礙乳又小兒稟賦胎氣充實三關九竅五臟六腑內外呼吸上下貫通流行百脈正順三焦者皆由所協元命自然之氣也凡產芽兒三朝五日六晨一臘忽然鼻塞吻乳不能開口呼吸者多是乳母安睡之時不知所持鼻中出息吹著兒囟或洗浴用水溫冷氣不通風邪所以致兒鼻塞</p>

<h2>諸方</h2>

<h3>治小兒耳病之劑</h3>
<p><u>龍骨散</u></p>
<p>明礬（煆）　龍骨（研各三錢）　黃丹（煆二錢）　胭脂（一錢）　麝香（少許）</p>
<p>上細末先以綿杖子捻去水次用鵝翎吹藥入耳本方加海螵蛸</p>
<p><u>月蝕耳瘡方</u></p>
<p>胡粉和東壁土為末敷之</p>
<p>又方蝦蟆燒灰存性為末和豬脂敷</p>
<p><u>蔓荊子散</u>　治小兒上熱耳出膿汁</p>
<p>甘草（炙）　升麻　木通　赤芍藥　桑白皮（炒）　麥門冬（去心）　生地黃　前胡　甘菊　赤茯苓　蔓荊子</p>
<p>上銼每服二錢姜三片棗一枚煎服</p>

<h3>治眼目之劑</h3>
<p><u>生地黃湯</u>　治初生小兒眼不開</p>
<p>乾地黃　赤芍藥　川芎　當歸（去蘆）　栝蔞根　甘草</p>
<p>上為細末少許用燈心煎湯調抹入口中速服</p>
<p><u>真金散</u>　治小兒初生洗眼不淨則穢汁侵漬於眼眥中使臉赤爛至長不瘥丹食熱物熱藥名曰胎赤</p>
<p>黃連（去須）　黃柏　當歸　赤芍藥（各一錢）　杏仁（去皮尖半錢）</p>
<p>上銼散乳汁浸一宿曬乾為極細末用生地黃汁調一字頻頻點眼新綿裹荊芥湯浸溫時時洗浴母服</p>
<p><u>洗心散</u></p>
<p>甘草（生）　當歸　麻黃　芍藥　白朮　荊芥穗　大黃（煨各半錢）</p>
<p>上為極細末用生薑薄荷煎湯調化食遠服</p>
<p><u>四聖散</u>　治小兒胎受熱毒生下兩目不開</p>
<p>燈心　黃連　秦皮　木賊　棗（各五錢）</p>
<p>上㕮咀用水小盞澄清頻洗兩目自開不拘時候</p>
<p><u>闢塵膏</u>　治小兒塵埃入目揩成腫痛發熱啼哭油煙細墨</p>
<p>上以墨新汲水濃磨入玄明粉半錢和勻為膏用筆多蘸點目內三五次忌熱物</p>
<p><u>牛黃膏</u>　治小兒鬥睛</p>
<p>牛黃（半錢）　白附子（炮一錢）　桂（去皮一錢）　全蠍（去毒炒一錢）　川芎（一錢）　石膏（一錢）　白芷（二錢）　藿香葉　辰砂（水飛二錢）　麝香（一錢）</p>
<p>上為極細末煉白蜜丸如芡實大用薄荷煎湯研化</p>

<h3>治口瘡之劑</h3>
<p><u>保命散</u></p>
<p>白礬（煆一錢）　馬牙硝（五錢）　硃砂（一錢）</p>
<p>上為極細末每用一字取白鵝糞以水攪取汁調塗</p>
<p><u>口角瘡爛方</u></p>
<p>發灰　為細末豬脂和敷</p>
<p><u>胡黃連散</u>　治小兒口糜</p>
<p>胡黃連（五錢）　細辛　宣黃連（各三錢）　藿香（一錢）</p>
<p>上四味為末每用半錢乾摻口內頻漱吐之</p>
<p><u>綠袍散</u>　治老幼口瘡多時不效者</p>
<p>黃柏（四兩）　甘草（炙二兩）　青黛（一兩）</p>
<p>上先杵二味為末入青黛同研勻每用半錢乾摻口內忌醋醬鹽一二日</p>
<p><u>黃連升麻散</u>　治小兒口舌生瘡</p>
<p>升麻（一兩半）　黃連（七錢半）</p>
<p>上為末綿裹含咽汁</p>

<h3>治鼻病之劑</h3>
<p><u>開關散</u></p>
<p>香附子（炒去皮）　川芎（去土）　荊芥穗　殭蠶（去嘴絲）　細辛葉　豬牙皂角</p>
<p>上為細末入生蔥白搗成膏用紅帛盛夜睡貼囟門</p>
<p><u>川芎膏</u>　治小兒鼻塞</p>
<p>川芎　細辛　藁本　川白芷　甘草（炙各三錢）　杏仁（去皮尖七個）　龍腦（半錢）　麝香（半錢）</p>
<p>上為極細末煉白蜜丸如梧子大用燈心煎湯研化服如體弱者用新綿包一丸塞鼻孔中男左女右</p>
<p><u>細辛散</u>　治小兒氣塞多涕</p>
<p>細辛　防風　川芎　前胡　人參　甘草（各一錢）</p>
<p>上為極細末用乳香煎湯調化服</p>
<p><u>萬金膏</u>　治小兒齆鼻</p>
<p>羌活　川芎　細辛　石菖蒲　木通　麻黃（各一錢）　龍腦　麝香（各半錢）</p>
<p>上為極細末煉白蜜丸如梧子大用新綿包一丸塞鼻孔中男左女右</p>
<p><u>牛黃犀角丸</u>　治小兒肺壅鼻乾</p>
<p>牛黃（半錢）　犀角末　川芎　升麻　細辛　麻黃　甘草（炙各一錢半）　硃砂　龍腦（各半錢）　麝香（一半）</p>
<p>上為極細末煉白蜜丸如芡實大用荊芥煎湯研化服</p>

<h1>卷二十七·雜證門</h1>

<h2>囟陷證治</h2>
<p>始因臟腑有熱渴引水漿致成泄痢久則血氣虛弱不能上充腦髓故囟陷如坑不得平滿狗頭骨炙黃為末雞子清調敷之</p>

<h2>囟填證治</h2>
<p>囟填者囟門腫起也脾主肌肉乳哺不常飢飽無度或寒或熱乘於脾家致使臟腑不調其氣上衝為之填脹囟突而高如物堆垛毛髮短黃自汗之若寒氣上衝則牢硬熱氣上衝則柔軟寒者溫之熱者涼之齊量輕重兼與調氣小兒汗盛風熱交攻亦然未易退瘥</p>

<h2>解顱證治</h2>
<p>小兒年大頭縫開解而不合也腎主髓腦也髓海腎氣有虧腦髓不足所以頭顱開而不能合凡腦髓欠少如木無根不過千日終無完日必成廢人如與錢氏地黃丸</p>
<p>大熟地黃（洗焙四錢）　山茱萸　乾山藥（各二錢）　澤瀉（一錢）　牡丹皮　白茯苓（各一錢）</p>
<p>上末煉蜜丸桐子大每服一二丸溫熟水空心調下仍用大南星微炮為末米醋調敷於緋帛烘暖貼之</p>
<p>又方</p>
<p>華陰細辛（去苗土）　辣桂（去粗皮）　乾薑（生）</p>
<p>上等分為末乳汁調敷</p>

<h2>滯頤證治</h2>
<p>小兒滯頤涎流出而漬於頤間也涎者脾之液脾胃虛冷故涎液自流不能收約法當溫脾</p>
<p>半夏　木香（各半兩）　川白姜（生）　白朮　青皮　陳皮（各二錢半）</p>
<p>上細末糕糊丸麻子大一歲十丸二歲二十丸米湯灌下</p>

<h2>語遲證治</h2>
<p>言心聲也小兒受胎其母卒有驚邪邪氣乘心故兒感受母氣心不守舍舌木不通四五歲大不能言也菖蒲丸主之</p>
<p><u>菖蒲丸</u></p>
<p>人參　石菖蒲　麥門冬（去心）　川芎　遠志（取用薑製炒）　當歸（各二錢）　滴乳香　硃砂（各為另研）</p>
<p>上末煉蜜丸麻子大每服十丸粳米飲下</p>

<h2>夜啼證治</h2>
<p>夜啼小兒藏冷也陰盛於夜則冷動冷動則為陰極發燥寒盛作疼所以夜啼而日歇也釣藤散主之</p>
<p><u>釣藤散</u></p>
<p>釣藤　茯神　茯苓　川芎　當歸　木香（各一錢）　甘草（半錢）</p>
<p>上末每服一錢薑棗略煎服其或心熱而煩啼必有臉紅舌白小便赤澀之證釣藤散去當歸木香加硃砂末一錢研和每服一錢木香煎湯調下又有觸犯禁忌而夜啼者醋炭熏服蘇合香丸急以術驅之</p>

<h2>龜胸證治</h2>
<p>胸高腫滿其狀如龜此肺經受熱所致也乳母酒面無度或夏月熱煩熱乳與兒得之或乳母多食五辛亦成此候</p>
<p>川大黃（三分焙）　天門冬（去心）　杏仁（去皮尖）　百合　木通　桑白皮（炒）　甜葶藶（炒爛）　石膏</p>
<p>上末煉蜜丸綠豆大每服五丸食後臨臥熟水化下</p>

<h2>龜背證治</h2>
<p>嬰兒生下不能保護客風吹脊入於骨髓故也或小兒坐早亦致傴僂背高如龜背矣然此多成痼疾間有灼艾收功肺俞穴第三椎骨下兩傍各一寸半膈俞穴第七椎骨下各一寸半以小兒中指中節為一寸艾炷如小麥大但三五壯為止</p>

<h2>臍病證治</h2>
<p><u>安臍散</u>　治臍中汁出或赤腫</p>
<p>白石脂末（焙出火氣敷之日三度或油發灰敷或當歸末敷）</p>
<p>臍瘡</p>
<p>當歸末敷或蝦蟆灰敷亦好</p>

<h2>鶴節證治</h2>
<p>小兒稟受不足血氣不充故肌肉瘦薄骨節呈露如鶴之膝抑亦腎虛得之腎虛則精髓內耗膚革不榮易為邪氣所襲日就枯悴其殆鶴膝之節乎錢氏地黃丸本方加鹿茸酥炙牛膝各三錢修合服餌一同三歲以上與十五丸</p>

<h2>行遲證治</h2>
<p>骨者髓之所養小兒血氣不充則髓不滿骨故軟弱不能行抑亦腎肝俱虛得之肝主筋弱而不能束也</p>
<p><u>地黃丸</u>　方見腎肝門加牛膝五加皮酒炙鹿茸</p>
<p>虎脛骨（酒炙）　生乾地黃　酸棗仁（酒浸去皮炒香）　辣桂　白茯苓　防風　當歸　川芎牛膝（等分）</p>
<p>上末每服一錢半以粥飲調次入好酒二點再調食前服日二劑</p>

<h2>瘡癬證治</h2>
<p><u>鯽魚方</u>　治小兒白禿</p>
<p>鯽魚一尾重三四兩者去腸肚以亂髮填滿濕紙裹燒存性</p>
<p>雄黃</p>
<p>上用末生麻油調敷先以蒸水洗拭後用藥</p>
<p><u>又方</u>　桑榆白皮為末醋調敷</p>
<p><u>又方</u>　練𣗬皮燒豬脂調敷</p>
<p><u>又方</u>　蛇皮燒存性為末豬膏調敷</p>
<p><u>漏瘡方</u>　煉成松脂末併發灰生號丹填敷諸瘡久不瘥方</p>
<p>白膠香（半兩碾末）　輕粉（二錢研和豬膏付或豬筒骨髓調白膠香即是松脂亦治大風以松脂熔鍊投冷水中）　為末水調空心常服</p>
<p><u>瘭瘡方</u>　治卒得瘭瘡赤爛牛糞燒灰研細敷</p>
<p><u>魚臍瘡方</u>　瘡頭黑深破之黃水出四畔浮漿</p>
<p>蛇蛻皮燒存性細研雞子清調敷</p>
<p><u>蠼螋瘡方</u>　燕窠土研細豬脂調敷癬方</p>
<p>水銀（一分）　胡粉（二分水研入雞冠血敷）</p>
<p><u>前甲散</u>　治小兒眉叢中生瘡名曰煉銀瘡</p>
<p>穿山甲前膊鱗炙焦為細末麻油輕粉調付敷</p>

<h1>卷之二十八·痘瘡門</h1>

<h2>脈法</h2>
<p>仁齋云小兒三部脈洪數往來大小不應指而疾速者為痘瘡</p>
<p>丹溪以耳後有紅筋赤縷者為痘</p>

<h2>論小兒痘瘡受病之由</h2>
<p>陳文中曰小兒在胎之時乃母五臟所養成形也其母不畏禁忌恣意所欲加添滋味好啖辛酸或食毒物其氣摶於胞胎之中所以小兒在胞胎之時受得此毒名曰三穢液毒今痘瘡者是三穢液毒所出也丹溪云其始發與傷寒相類故發熱煩躁臉赤唇紅身痛頭疼乍涼乍熱噴嚏呵欠咳嗽痰涎有因傷風傷寒而得者有因傷食嘔吐而得者有因跌撲驚恐蓄血而得者或為攛眼噤牙驚搐如風之證或口舌咽喉肚腹疼痛之狀瘡從口腹中出故痛耳或為煩躁狂悶譫語之形或自汗或下利或發熱或不發熱證候多端卒未易辨亦須以耳冷足冷骫冷驗之蓋謂瘡疹屬陽腎臟無證耳與骫足俱屬於腎故腎之部位獨冷也然五臟三液所發各有一證心為紅點以心主血色赤而小肝為水泡以淚出如水色赤而瘥大肺為膿泡以涕稠濁色白而大脾主結痂其色微黃惟腎不容毒歸腎變黑則死矣大抵天地萬物遇春而生至夏而長乃陽氣熏蒸故得生成者也今痘瘡之病臟腑調和血氣充實自然易出易靨蓋因外常和暖內無冷氣之所由也故曰春夏為順秋冬為逆此言大略耳凡先發搐而後痘者生瘡已瘥而後風者死或吐或瀉者死先發熱自利而後瘡出者存瘡已發而後泄瀉不止者亡瘡黑而忽瀉膿血痂皮者順腹中有瘡也瀉血而水穀不消者逆脾胃虛也或瀉血而瘡壞無膿者死胃爛也錢氏曰一發便出盡者重瘡夾疹者半輕半重出稀者輕外黑裡白者微重也外白里黑者大重也瘡端里黑如針孔者勢劇也青乾紫陷睡昏汁出不止燥熱渴脹啼喘大小便不通者困也調護之法解毒和平安表而已虛者益之實者損之冷者溫之熱者平之是為權度借喻而言譬如龍炊之法但欲其松耳亦須謹避風寒使之氣體和通其於粥餌則勿令飽而氣實飢而內虛如此在瘡家垂意焉</p>

<h2>論瘡痘首尾不可汗下</h2>
<p>錢氏療瘡疹證候惟用溫涼之劑治之又戒云不可妄下及妄攻發蓋毒發於表如苟妄汗則榮衛一虛重令開泄轉增瘡爛由是風邪乘間變證者有之毒根於裡如苟妄下則內氣一虛毒不能出而返入焉由是土不勝水變黑歸腎身體振寒耳骫反熱眼合肚脹其瘡黑陷十無一生汗下二說古人所深戒以此觀之瘡疹證狀雖與傷寒相似而其治法實與傷寒不同傷寒從表而入里瘡疹從里而出表故也其或氣實煩躁熱熾大便秘結不通者宜略與疏之若小便赤少者分利之則熱氣有所滲而出凡熱又不可驟遏但輕解之若無熱則瘡又不能發越也</p>

<h2>論痘瘡服熱藥之誤</h2>
<p>丹溪曰讀前人之書當知其立言之意苟讀其書而不知其意求通於用不可得也痘瘡之論錢氏為詳歷舉源流經絡分明表裡虛實開陳其施治之法而又證以論辨之言深得著書垂教之體學者讀而用之如求方圓於規矩較平直於準繩引而伸之觸類而長之可為無窮之應用也今人不知致病之因不求立方之意倉卒之際據證檢方漫爾一試設有不應並其書而廢之不思之甚也近因局方之教久行素問之學不講抱疾談醫者類皆喜溫而惡寒喜補而惡解利忽得陳氏方論皆燥熱補劑其辭確其文簡忻然用之翕然信之遂以為錢氏不及陳氏遠矣或曰子以陳氏方為不足歟曰陳氏方誠一偏論雖然亦可謂善求病情者其意大率歸重於太陰一經蓋以手太陰屬肺主皮毛也足太陰屬脾主肌肉肺金惡寒而易於感脾土惡濕而無物不受觀其用丁香官桂所以治肺之寒也用附子半夏所以治脾之濕也使其肺果有寒脾果有濕而兼有虛也量而與之中病則止何傷之有今也不然徒見其瘡之出遲者身熱者泄瀉者驚悸者氣急者渴思飲者不問寒熱虛實率投木香散異功散間有偶中隨手獲效設或誤投禍不旋踵何者古人用藥制方有嚮導有監製有反佐有因用若錢氏方固未嘗廢細辛丁香白朮參耆等率有監製輔佐之藥不專務於溫補耳然其用涼藥者多而於輔助一法略開端緒癡人之前不可說夢錢氏之慮至矣亦將有一候達者擴充推廣而用雖然渴者用溫藥癢蹋者用補藥自陳氏發之迥出前輩然其多用桂附丁香等燥熱恐未為適中也何者桂附丁香輩當有寒而虛固是的當虛而未必寒者其為害當何如耶陳氏立方之時必有挾寒而痘瘡者其用燥熱補之固其宜也今未挾寒而用一偏之方寧不過於熱乎予嘗會諸家之粹求其意而用之實未敢據其成方也試舉一二以證之從子六七歲時患痘瘡發熱微渴自利一小方脈視之用木香散每貼又增丁香十粒予切疑焉觀其出遲固因自利而氣弱察其所下皆臭滯陳積因腸胃熱蒸而下也恐非有寒而虛遂急止之已投一帖矣繼以黃連解毒湯加白朮與十帖以解丁香之熱利止瘡亦出其後肌常有微熱而手足生癰癤與涼劑調補逾月而安又一男子年十六七歲發熱而昏目無視耳無聞兩手脈皆豁大而略數知其為勞傷矣時里中多發痘者雖不知人與藥則飲與粥則食遂教參耆當歸白朮陳皮大料濃煎與之飲至三十餘帖痘始出又二十餘帖則成膿泡身無全膚或曰病勢可畏何不用陳氏全方治之餘曰此但虛耳無寒也只守前方又數十餘帖而安後詢其病因謂先四五日恐有出痘之病遂極力樵採連日出汗甚多若用陳氏全方寧無後悔至正甲申春陽氣早動正月間邑間痘瘡不越一家率投陳氏方童幼死者百餘人雖由天數吾恐人事亦或未之盡也</p>
<p>按錢氏論痘瘡形色輕重困劇而用藥已具其端緒矣至潔古又辯所兼之證及候音聲察形氣為病而處治之法可謂詳悉但世俗不深味其意反有疑似丹溪先生所以言之喋喋也大抵世俗喜溫而惡寒將錢氏之法推充多疑似如雲不可妄下蓋妄之一字戒慎之意當有可下之理也若瘡疹初發有因裡實而出不快渴而脈數便秘煩躁不下可乎有將靨之際裡實而渴便秘身熱不可下乎或云首尾俱不可下或指上吐下瀉也但自病體虛實不等時令中法治之異要當適中病情爾故錢氏云看時月此句關係甚妙如冬月盛寒便難例用涼劑且小兒痘瘡本五臟之毒所發非止屬諸痛癢瘡皆出心火之比故陳氏方一出亦多獲效今人用錢氏方亦有致誤者蓋不善用兵之過非製法者之過也宜求平立方本旨矧歲氣時臨災青淺深不同小兒體有虛實之異用藥不可輕舉詳潔古以下數法中佐以風藥是兼升發之意亦慎之也何熱劑與香竄之藥宣可例用乎然有毒入關竅肌骨肉邪氣下陷用此而獲生者或有之恐千百而一二也又按明醫雜著云丹溪痘瘡治法最為明備近法陳文中木香散異功散等方乃一偏之術若痘瘡虛弱淡白色癢塌屬虛寒者宜用之若發熱壯盛齊湧紅紫色燥癢此屬熱毒急宜涼血自陳文中方盛行後屬虛寒者率得生屬熱毒者悉不救痘是胎毒古人治法只解毒然氣血虛則又送毒氣不出及不能成就故陳文中之法既行而解毒之旨遂隱故救得一邊又害了一邊今必詳究丹溪之法通用斯無弊也</p>

<h2>論痘瘡壞證治有三因</h2>
<p>一曰內虛泄瀉二曰外傷風冷三曰變黑歸腎蓋內虛泄瀉者或因臟腑怯弱其證已逆初發以來自然作泄或未發之前誤服涼藥以致瀉下凡此者其瘡不發每形見紅小點而白或白而微黃如水泡之狀治之當用參苓白朮散南木香煎湯調下先與止瀉然後以溫和之劑發之外傷風冷者或因煩躁惡寒出頭露面點點方萌遽為風冷所拆或瘡出如珠妄為解脫以取冷快而風冷襲之凡此者輕則其狀如螫色紅而不發重則陷如石臼腳色白而不軟治之當溫血散寒邪用不換金正氣散加川芎若惡寒隈人更加官桂紫蘇然後與發之劑或內虛泄瀉或外傷風冷荏苒經日胃氣虛損由是而變壞焉致令耳骩反熱青紫變黑此則腎證曉然矣蓋腎屬北方水是以其色黑其證逆治法先瀉膀胱之府而後急與溫脾若其瘡不黑則斷非腎證謹不可下請詳審之瀉膀胱法先用桂枝芍藥大戟等分為末每服一錢棗湯調下次用宣風散一錢加青皮煎服若瀉下惡物急與溫脾湯劑繼之瘡痘為陰邪穢氣所傷亦令變壞可用醋炭蘇合香丸解之</p>

<h2>痘瘡治法</h2>
<p>凡小兒痘瘡已發並與紫草飲但覺身熱證似傷寒若未見瘡疑似未明且先與惺惺散參蘇飲或人參羌活輩熱甚則與升麻湯恐發得表虛也若初出時身熱鼻尖冷呵欠咳嗽面赤方是痘出之候便宜服升麻葛根湯加山楂大力子其瘡疏稀而易愈若初出時或未見時宜以絲瓜近蒂三寸連瓜子燒灰存性為末蜜水調服或砂糖拌干入硃砂末亦可多者可減少者可無初出時須著胸前若稠密急須消毒飲加山楂黃芩酒洗紫草減食加人參初發熱之時便以惡實子為末蜜調貼囟上免有患眼之疾若初起時自汗不妨蓋濕熱熏蒸而然也</p>
<p>凡痘瘡須分表裡虛實而治若吐瀉少食為裡虛不吐瀉欲食為裡實裡實而補則結癰毒陷入倒靨為表虛灰白者亦表虛紅活綻凸為表實表實而復補則潰爛不結痂癢塌者於形色上分虛實實則脈有力氣壯虛則脈無力虛癢以實表之劑加涼血藥實癢如大便不通者以大黃寒涼之藥少與之下其結糞</p>
<p>凡痘瘡須分氣虛血虛用藥氣虛者人參白朮加解毒藥血虛者以四物湯中加解毒藥痘出時多常氣血不足虛則黃耆生血活血劑助之略佐以風藥實則白芍藥為君黃芩亦為君佐以白芷連翹續斷之類黑屬血熱涼血為主白屬氣虛補氣為主初出時色白者便大補氣血參術耆芎升麻乾葛甘草木香丁香酒洗當歸白芍藥若大便瀉加訶子肉豆蔻黑陷二種因氣虛而毒氣不能盡出者酒炒黃耆紫草人參輩</p>
<p>出太甚者人參敗毒散犀角地黃湯疏則無毒密則有毒宜涼藥解之雖數帖亦不妨無害眼之患爐灰色白靜者作寒看齊勇者忺發者作熱看全白色將靨時如豆殼者蓋因初起時飲水多其靨不齊俗呼倒靨不好但服實表之劑消化他大小便如大便秘通大便小便秘通小便小便赤澀者大連翹湯甘露飲大便秘結內煩外熱者小柴胡湯加枳殼取當或少少四順清涼飲</p>
<p>顏色正者不須服藥將欲成就卻色淡者宜助血藥用當歸川芎酒洗芍藥之類或加紅花將成就之際卻紫色者屬熱用涼藥解其毒升麻葛根酒炒黃芩黃連及連翹之類甚者犀角大解痘毒瘡乾者宜退火止用輕劑荊芥升麻葛根之類瘡濕者用瀉濕乃肌表間濕宜用風藥白芷防風之類咽痛者大如聖散鼠黏子湯喘滿氣壅者麻黃黃芩湯煩渴者甘草散烏梅湯下痢嘔吐者木香湯理中湯</p>
<p>錢氏曰黑陷青紫者百祥丸下之不黑者謹勿下余知其所下者瀉膀胱之邪也小兒腎主虛不可瀉但瀉其膀胱以虛其腑則腎邪去矣又云下後身熱氣溫欲飲水者可治水穀不消或寒戰為逆余知其脾強者土可以制水也瀉後溫脾則人參茯苓白朮等分厚朴木香甘草各炒為妙蓋瘡發肌肉陽明主之脾土一溫胃氣隨暢獨不可消勝已泄之腎水乎此錢氏不刊之妙旨也</p>
<p>大小二便不可不通其有大便自調所下黃黑則毒氣已減不必多與湯劑但少用化毒湯可也大小二腑一或閉焉則腸胃壅塞脈絡凝滯毒氣無從而發泄眼閉聲啞肌肉黧黑不旋踵而告變矣</p>
<p>凡痘瘡屬虛寒者直可延至十數日後方死屬毒盛轉紫者不過七八日蓋胎毒自內出外一二三日方出齊毒氣尚在內出至六日則當盡發於表七八九日成膿而結痂矣若毒氣盛不能盡出過六日毒反入臟腑故須於六日以前毒氣該出之時急服涼血解毒之藥以驅出之六日以後醫無及矣故其死最急若虛弱毒氣少者只是氣血不足不能貫膿成就故綿延日久而死此虛實輕重之分也若痘瘡多者是毒氣多便先宜解毒然多則恐氣血周貫不足故隨後亦宜兼補藥以助成膿血也</p>
<p>凡痘瘡已出後而有聲音者乃形病氣不病也未出先聲音不出者乃形不病而氣病也若痘瘡出而聲音不出者是形氣俱病也當清其肺宜用八風湯並涼膈散去硝黃</p>

<h2>痘瘡不治證</h2>
<p>如冬月寒盛腎水得時多歸於腎或先如瘧後發渴其瘡色如黯血此腎證也不治○春膿胞為金剋木夏黑陷為水剋火秋斑子為火剋金冬疹子為土剋水並逆舌黑或鼻有黑氣並不治○瘡已出而譫語為惡候燥渴小便澀泄瀉不入食不治○瘡成餅搭黯慘不發聲音焦啞不治○齧齒眼閉而黑睛矇昧無魂不治○面腫鼻陷頻齧齒者不治○頭面腫大瘡盡瓜破或臭不可近或足冷至膝並不治○瘡小黑而焦風攻頤頷唇項腫硬或胸高而突並不治</p>

<h2>痘瘡諸方</h2>
<p><u>升麻湯</u>　治小兒瘡疹未出發熱</p>
<p>升麻　葛根　白芍藥　甘草</p>
<p>上㕮咀水一盞煎服</p>
<p><u>錢氏四聖散</u>　治小兒痘瘡出不快</p>
<p>紫草　木通　甘草（炙）　枳殼（炒）</p>
<p>上等分為粗末每服一錢水一盞煎服加陳皮黃耆</p>
<p><u>參蘇飲</u>　治小兒痘瘡發熱證似傷寒類似之間此服之最穩當</p>
<p>前胡（去苗）　人參（去蘆）　紫蘇葉　乾葛（洗）　半夏（湯泡七次薑汁製炒）　茯苓（去皮各三錢）　枳殼（去穰麩炒）　陳皮（去白）　甘草（炙）　桔梗</p>
<p>上㕮咀每服四錢水一盞半姜七片棗一枚煎六分溫服</p>
<p><u>惺惺散</u>　治小兒風熱及傷風時氣痘瘡發熱</p>
<p>白茯苓（去皮）　細辛（去葉）　桔梗　白朮　栝蔞根　人參（去蘆）　甘草（炙）　川芎（各等分）</p>
<p>上為末每服一錢水一小盞薄荷三葉同煎四分溫服如要和氣入生薑煎服不拘時</p>
<p><u>化毒湯</u>　治小兒痘瘡已出不快</p>
<p>紫草　升麻　甘草（炙各等分）</p>
<p>上㕮咀入粳米五十粒水煎</p>
<p><u>陳氏異攻散</u>　治小兒痘瘡已靨之際頭溫足指冷或腹脹泄瀉口渴氣粗或身不熱悶亂不寧臥則哽氣煩渴咬牙</p>
<p>木香（三錢半）　官桂（二錢）　當歸（三錢半）　人參（一錢半）　茯苓（二錢）　陳皮　厚朴（二錢半）　白朮（二錢）　半夏（一錢半）　丁香　肉豆蔻（二錢半）　附子（二錢半）</p>
<p>上為末每服二三錢水一小盞入薑棗煎服</p>
<p><u>加味四聖散</u>　治小兒痘出不快及變黑陷者</p>
<p>紫草茸　木通　南木香　黃耆（炒）　川芎　甘草（各等分）</p>
<p>上為粗末每服三錢水一盞煎服如大便秘加枳殼少許大便如常加糯米百粒解毒能釀而發之</p>
<p><u>變棗百祥丸</u></p>
<p>紅牙大戟（去骨一兩）　青州棗（去核三十個）</p>
<p>上用水一碗同煎至水盡為度去大戟不用將棗焙乾可和作劑從少至多至利為度</p>
<p><u>活血散</u>　治小兒痘瘡出不快</p>
<p>白芍藥（炒）</p>
<p>上為末酒調服腹痛溫熱水調下</p>
<p><u>紫草飲子</u></p>
<p>紫草（一兩）</p>
<p>上銼細百沸湯一大碗沃之蓋定勿令氣出旋溫服紫草能導大便發出亦輕</p>
<p><u>紫草陳皮飲</u></p>
<p>紫草（一分）　陳皮（半分）</p>
<p>上為粗末新汲水煎服</p>
<p><u>無價散</u>　治小兒痘瘡不出黑陷欲死者</p>
<p>人貓豬犬糞臘月內燒為灰沙糖水調服</p>
<p><u>當歸丸</u>　治小兒痘瘡能食而大便秘</p>
<p>當歸（半兩）　甘草（一錢）　黃連　大黃（各二錢半）</p>
<p>上將歸熬膏子入下三味末為丸漸加至利為度紫草木香湯</p>
<p>紫草　木香　茯苓　白朮（等分）　甘草（炒少許）</p>
<p>上入糯米煎蓋紫草能利大便木香白朮所以佐之也</p>
<p><u>紫草木通湯</u>　治小兒痘瘡出不快</p>
<p>紫草　人參　木通　茯苓　糯米（等分）　甘草（減半）</p>
<p>上銼散煎一錢溫服內虛大便利者可入南木香去紫草</p>
<p><u>犀角地黃湯</u>　治小兒痘瘡出太盛以此解之</p>
<p>犀角屑　牡丹皮　芍藥　生地黃</p>
<p>上銼散每服二錢煎溫服</p>
<p><u>快癍散</u>　治小兒痘瘡出不快</p>
<p>紫草　蟬蛻　人參　白芍藥（一分）　木通（一錢）　甘草（炙半錢）</p>
<p>上銼散每服二錢煎溫服</p>
<p><u>絲瓜湯</u>　發痘瘡最妙</p>
<p>用絲瓜連皮燒灰存性百沸湯調下</p>
<p><u>調肝散</u>　治痘瘡出太盛宜服此令瘡不入眼</p>
<p>生犀（二錢半）　龍膽草（一錢）　黃耆（半兩）　大黃（二錢）　桑白皮（半兩）　麻黃　釣藤（各一錢）　石膏（半兩）　栝蔞仁　甘草（各二錢）</p>
<p>上為粗末每服二錢水煎食後服</p>
<p><u>陳氏木香散</u>　治小兒痘瘡腹脹瀉渴</p>
<p>木香　大腹皮　人參　桂心　赤茯苓青皮　前胡　訶梨勒（去核）　半夏（薑製）　丁香　甘草（各等分）</p>
<p>上為粗散每服三錢水一盞生薑三片煎至六分去滓空心溫服量大小加減</p>
<p><u>獨聖散</u></p>
<p>穿山甲（湯洗每服半錢入麝香少許南木香煎湯調下或紫草煎湯入紅酒少許調下）</p>
<p><u>肉豆蔻丸</u>　專治小兒痘瘡裡虛泄瀉</p>
<p>木香　縮砂仁（各三錢）　白龍骨　訶子（煨去核）　肉豆蔻（煨各半兩）　赤石脂　枯白礬（各七錢半）</p>
<p>上為細末稠麵糊為丸如黍米大一周兒每服三五十丸三歲兒服百丸溫米飲下瀉甚者異攻散吞下瀉止住服不止多服</p>
<p><u>穀精草散</u>　治小兒痘瘡欲靨痘毒沖眼目翳膜遮障瞳人癮澀淚出不止</p>
<p>穀精草（一兩）　生蛤粉（二兩）</p>
<p>上為細末用獖豬肝一葉以刀批作片子摻藥在內用草繩縛定以瓷器內貯水慢火煮熟令兒含之不拘時</p>
<p><u>綿繭散</u>　治小兒因痘瘡身體及肢節上有疳蝕瘡膿水不絕出蛾綿繭不拘多少</p>
<p>上用生白礬捶碎入繭內令滿以炭火燒白礬汁幹盡取出研極細每用干貼疳瘡口內</p>
<p><u>雄黃散</u></p>
<p>雄黃（一錢）　銅綠（二錢）</p>
<p>上二味同研極細末量瘡大小干糝其上</p>
<p><u>敗草散</u>　治小兒瘡爛膿汁不幹者</p>
<p>多年屋上爛茅草擇淨者為末摻之蓋牆爛草亦佳多受風霜之氣故能解痘瘡毒</p>
<p><u>不換金正氣散</u>　治小兒瘡痘正出之時被天氣寒冷初折內為乳食所傷氣血壅遏榮衛不和毒氣反復而不出</p>
<p>陳皮　厚朴　藿香葉　半夏　甘草（炙）</p>
<p>上㕮咀每服三錢姜三片棗一枚水一盞煎六分</p>
<p>溫服加紫草糯米同煎尤佳</p>
<p><u>調解散</u>　治小兒痘瘡已發或為風冷所傷內氣壅遏以致堅硬並主之</p>
<p>青皮　陳皮　桔梗　枳殼　半夏　川芎　木通　乾葛甘草（炙）　紫蘇（等分）　人參（減半）</p>
<p>上銼散每服二錢姜三片棗一枚煎服</p>
<p><u>連翹湯</u>　治小兒痘瘡壯熱小便不通</p>
<p>連翹　瞿麥　荊芥　木通　車前子　赤芍藥　當歸　防風　柴紫胡　滑石　蟬蛻　甘草（炙）　山梔子　黃芩（各半兩）</p>
<p>上銼散每服一錢加紫草煎溫服</p>
<p><u>托裡散</u>　治小兒痘瘡毒根在裡或血氣虛弱或風邪穢毒沖觸使痘毒內陷伏而不出或出而不勻快此藥治血勻氣調胃補虛內托瘡毒使之盡出易收易靨</p>
<p>人參　當歸（酒浸）　黃耆（各二兩）　川芎　防風　桔梗　白芷　甘草　厚朴（各一兩）　肉桂</p>
<p>上為細末木香紫草湯調下半錢</p>

<h1>跋</h1>
<p>幼科類萃者活幼之方脈也奚其類以方而附病也奚其萃集諸家之良也類其萃則方脈之筌蹄備矣世之醫工號為啞科以其痛苦不能自言調攝不能自用劇瘳不能自知非若大人之可以言採意會心忖膚億也是故以啞稱焉科果啞乎哉昔者扁鵲之過邯鄲也聞其貴婦人於是稱帶下醫過雖陽也聞其愛老人於是稱耳目痹醫其入咸陽也聞秦人重小兒於是稱小兒醫隨方異用因物顯功幼非啞科也已自夫神聖工巧之道喪而揣抹探取之術興踵跡先賢契情往哲者雖代不乏人而一人不能周一世一隅不可遍天壤雖慕名懷義人各有心而抱病裹糧勢難遙就慈父孝子惟甘心於見聞之末而愛子弱孤必委命於猜度之間也甚有泡漿嬰孺投法水以除煩飢飽微傷假針石而取效辛楚之狀睹之不知淹沕之害受之無二如斯之類不可具述而醫媼師姑方且禱神眩術而鼓舞於襁褓之前自以為得也類萃之書可無作乎是以原其受胎之始究其彌月之期察其厚薄之稟定其強弱之宜或視其脈文之淺深或驗其色相之衰肚無病不周無方不備凡先賢往哲之論議群書要方之收錄關於小兒試其應驗者無不該戴使人因形色以知病症求脈理而識重輕天下後世之孩提者不橫羅矣科復有啞之者乎故曰類萃之書不可不作也古者婦人妊子不食邪味不視邪色不聽淫聲是古人之胎養也凡生子擇於諸母與可者使為子師是古人之乳養也子能食食以至出就外傳飲食啟居罔不有節是古人之教養也非常之病何自而生乎嗚呼世遠人亡經殘教弛恩養逾分飽暖失宜無怪乎其科之啞也予故曰作類萃者其知道乎得活幼之筌蹄矣是書也同傷寒六書刊之開封公署亦鬆石劉公意也公其幼吾幼以及人之幼者乎不然何舉之篤而贊之同邪</p>
