<header data-type="book">
<h1>祕傳大麻瘋方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十一冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521061">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>三十六種大麻瘋症神效方</h1>
<p>夫大瘋者，天地殺厲之氣，邪毒變化，穢濁傷人，為症不同矣，所見多端，甚為慘懼。雖三十六種，其要不離乎燥屬肺，濕屬脾也。或因醉後當風，或因汗身落水，或浴後近風，或房後冒風坐濕，或手足被風，傷引入毒。或暴風取涼，寒暑燥濕浸澀皮膚，流注經絡，即時不知疼痛，變成此患。積於臟腑，發於四肢頭面，輕則或痛或瘡或疤，重則癩癬皮頑肉死，手足麻木，刀切不疼，潰爛成膿，筋死，眉指脫落，鼻梁崩塌，眼瞎唇反，以致聲啞，決難治療。須要審問，米洞虛云：五色不治，余皆治之。蟲食肝則眉落，食肺則鼻崩，食脾則聲啞，食心則足底膝虛腫，食腎則耳鳴啾及耳內爛，或燥或痛或癢如蟲行。自頭面起者，為順易治。自足起者，為逆難治。庸醫不識秘妙，縱意刀針，火點艾炷，傷人多矣。治此者必須明醫妙手，患者盡心絕欲，忌毒物，戒怒氣，洗心滌慮，淨室獨居，存心調養，慮虧全功，然後可以服藥調治。今具三十六種，瘋症種種，辨形立方，次第蛇酒煎飲丸散，擦藥敷藥膏藥洗浴，再審病症起末根由，從何而起，仔細看其輕重，發於何處，是何病源，量病加減，永無不驗。重則半年，輕則三月，漸漸除根。服藥之後，眼目清亮，皮膚光潤，眉落更生，血氣調和。服藥先服搜風順氣散數帖，次服防風通聖散數帖。可服宣吊之藥，次服丸藥藥酒。須要依方仔細醫治，不可亂投藥餌。如有不效，恐系察症之誤。莫將此書輕視，戒之慎之。</p>
<p><u>第一</u>　起自手足頭面，不過三月出水，乃是大瘋之症，重者指頭出水，眉毛脫落，其病難治，先服　烏藥順氣散　。</p>
<p>麻黃　殭蠶　烏藥（各三兩）　陳皮　枳殼　桔梗　乾薑（各一兩）　川芎（一兩）　歸尾（一兩半）　防風（三兩）　五加皮（一兩）</p>
<p>痰重加半夏，腳氣加木瓜，共作十帖。若寒熱四肢倦，加蔥白三根，水姜煎，發汗。體不能伸屈，加好酒半鍾。遍身瘙癢成瘡，加薄荷，常服疏風順氣散。如渾身黑，而不發出者，須先用　追風散　表其穢毒。</p>
<p>葶藶（三分）　胡麻（炒）　苦參　蒺藜（炒）　防風　花粉　全蠍（各二兩，醋炙黃）　殭蠶（炒）　蟬退（各三兩）　甘草（水洗）</p>
<p>共為末，入輕粉（一兩）　和勻，分作十八服，苦茶送一服（虛人誤服，殺人甚捷）。三日，唇口腫起，牙縫吐黑水二碗，必遍身疼痛，如痛臭用漱口散，服盡必痢下五色便溺，乃臟腑根源，毒氣惡水皆出，其物用瓦器盛之，埋於無人處。病人吃粥時，用漱口散藥，吐盡毒物，方可吃粥，間人看望，須待嗽口完後，方可入所。吐毒物用蓋桶盛之，埋入土內，須防毒氣傳染，再用</p>
<p>貫眾　防風　羌活　香附　藿香　荊芥　銀花　寄奴　甘草　各等分水煎，漱口去毒涎，惡氣吐盡，方可吃粥飯，以後服神蛇酒。如輕，但服後方　敗毒散　。</p>
<p>大黃　朴硝　黃柏　角刺　浮萍（各三錢，七月半取）　黑醜（虛人不可誤用）　鬱金（各五錢）</p>
<p>為末，酒糊丸，每服五錢，空心酒送下，辰時服三錢，加川山甲五錢，午後服一錢五分，冷酒送下。任其吐盡，用蜜水漱口，方服神蛇酒。</p>
<p>專治三十六種麻瘋，肌膚麻木，遍身瘙癢，癩瘡癮疹，面上遊風，如蟲行，紫白點風，眉落鼻崩，腳底穿爛，肉死癢痛，一切癭瘤癧串，無名腫毒，梅花爛瘡，並痛風可治。</p>
<p>白花蛇（一條，去頭尾）　黑蛇（一條，去頭）　殭蠶（一兩，炒）　川烏　白芷　生熟地　玄參　白朮（各一兩）　苦參（五兩）　荊芥　防風　石菖蒲　細辛　天麻（各一兩）　浮萍　當歸　秦艽　海桐皮　麻黃　狗脊　牛膝　葶藶　草烏　蒼耳子　木瓜　靈仙　胡麻　白芍　人參　馬鞭草　枳殼　肉桂　蛇床　枳實　皂角　白蘚皮　五味子　肉蓯蓉　木鱉子　五加皮（各三兩）　土茯苓　青葙子　金銀花（各一兩）　薄荷（三兩）　全蠍（一兩）　蜈蚣（三十條，去頭）　桑寄生　白茯苓　蟬退（去頭足）　甘草（各二兩）　連翹（三兩）</p>
<p>上為飲片，先用元米七升，釀成白酒漿，勻作四壇盛之，聽用。又用水二斗，放入酒糟一升，另用大壇盛之。將前二蛇及藥，俱入壇封口，早煮至晚，取出待冷，開入四壇酒漿內，另將蛇取出，去皮骨焙乾聽用。又加下藥。</p>
<p>血竭　乳香（各一兩）　沒藥（五錢）　沉香　檀香　雄黃　辰砂　穿山甲（各一兩）　麝香（二錢）　牛黃（二錢）　阿魏（二錢）</p>
<p>與前二蛇共研細末，攪勻四壇內封固，又煮一時，服一杯後瀉六七次，方可吃飯。已後將稀粥補之，早晚各一次。再服寶鑑換肌丸藥酒送下五十丸，吃稀粥，睡十日後方可。</p>
<p><u>寶鑑換肌丸</u></p>
<p>川芎　當歸　天麻（各一兩）　細辛　荊芥　干菊　苦參　紫參　沙參　甘草　芍藥　蒼朮　草烏　蒺藜　木賊　天冬　何首烏　蔓荊子　淫羊藿　大楓子　胡麻子　石菖蒲（酒洗，各一兩，去土）</p>
<p>上共為細末，酒糊為丸，每服五十丸，即用下方洗浴及擦藥。</p>
<p>蒼耳子（一斤）　黃荊條（三斤）　五倍子（二兩）　大風殼（半斤）　金銀花（半斤）　青木香（四兩）　晚蠶沙（半斤）　上樹龍（五錢）　荊芥（半斤）　防風（半斤）</p>
<p>加椿、槐、桃、柳枝各一把，礬三兩同煎濃，大缸浸水洗浴，四圍遮好，勿透風氣為妙，後上擦藥。</p>
<p>大楓子　川槿皮　蛇床子　無名異　寒水石　黃連　黑狗脊（各二兩）　朴硝　狼毒（各三兩）　巴豆　鵝管石　川椒　雄黃（各一兩）　硫黃　樟腦　枯礬　檳榔（各二兩）</p>
<p>上為末，加羊蹄根、芭蕉根、椿樹葉搗爛，絞汁，入大楓子油和汁，加輕粉將麻布包藥擦之黑處，任從出毒血。又擦三日，再一浴之後，再加大楓油搽之。待肉成瘡，濃水浸淫，自然愈矣。並治一切疥瘡神效，亦可用　麻瘋膏　塗擦方。</p>
<p>草烏（五錢）　雄黃　輕粉（各一錢半）　兒茶（錢半另研）　青木香　木筆　天麻　蒺藜　狼毒（各五錢）　粉霜（錢半）</p>
<p>瘡口不合，加乳香、沒藥各五錢，豬油四兩，黃佔七錢，大楓油一兩，將前藥切細片，入香油內浸，煎黑色，去渣入油，三次再煎，再濾，入前藥七味細藥，將磁罐收貯塗之。再用　生肌立效風膏　。</p>
<p>銅綠（一錢七分）　白芨　川甲（各二兩）　乳香　沒藥（五錢）　銀粉（一兩）　亂髮（一團）　好丹　龍骨　兒茶　花蕊石（各五錢）　赤石脂（三錢）</p>
<p>先將香油四兩，入白芨、川甲、發、銅綠四味，煎黑色去渣，入豬油半斤，白膠香、黃占、松香各二兩，化開入細藥攪勻，攤膏貼患處，一日一稱即愈。</p>
<p><u>第二</u>　起自腳底上一處切割不痛，然後上臉，臉上紅色，滿顴漸成紫色，一年之後，遍身麻木，眼爛及鼻崩，則難治之。先服　搜風散　。</p>
<p>烏藥　防風　茯苓　半夏　香附　枳殼　陳皮　當歸　川芎　紫蘇　生地　地龍　桔梗　甘草　乳香　沒藥　砂仁（各一錢）</p>
<p>加生薑、黑棗煎服，自然疏風順氣，神效。再服　奪命神蛇散　，治瘋不愈者。眉落鼻崩，一料全愈。</p>
<p>白花蛇　黑梢蛇（各一條，俱用酒浸一宿，去頭尾皮骨聽用）　蘄艾　地龍（三錢，去土）　川芎　當歸　天麻　蔓荊子　銀花　細辛　沙參　甘菊　甘草　胡麻　草烏　木筆子　菖蒲（各三兩）</p>
<p>為末，每服三錢，溫酒送下，須在靜室中，無風處服之。上用被蓋，汗出為度，切忌臨風，服其藥靈效，病自除根矣。用後洗浴方，桃、槐、榆、柳、椿、桑一把，防風、荊芥、蒼耳草各二錢，煎湯一鍋，無風處洗浴。</p>
<p><u>擦藥方</u></p>
<p>大黃　黃柏　黃連　黃芩　血竭　兒茶　水銀　赤石脂　螵蛸　雄黃（五錢）　硫黃（三兩）　輕粉（三錢）</p>
<p>為末，調大楓油，一兩擦之。</p>
<p><u>第三為紫雲瘋</u>　起時，形如紫雲，不識誤作赤遊風治之，故不愈耳。如若紫雲，從上而下，前後一同，須要早治，到陰處難治矣。用　防風通聖散　。</p>
<p>防風　荊芥　當歸　羌活　獨活　殭蠶　甘草　滑石　黃柏　白朮　桔梗　薄荷　山梔　川芎（各等分）</p>
<p>為末，先吃一服，後加大黃、芒硝連前藥各四錢，水煎緩服，至利為度，不用服盡。後服　返元丸　。</p>
<p>川芎　羌活　獨活　細辛　白芷　當歸　黃耆　牛膝　蟬退　狗脊　首烏　全蠍（各五錢）　防風（各二十兩）　苦參（一斤）　大楓子（二十兩）　牛黃（二錢）　血竭（五兩）</p>
<p>上除血竭、牛黃、楓子三味，另研余藥為末，入三味勻和，老米粉糊為丸，每服五十丸，起漸加至百丸為度，清茶送下。忌酒色勞碌，豬、羊、鮮魚、油膩、生冷、動氣、發風之物，止吃白鴨、鯗魚，食淡更妙。重者半年，輕者三月。如未全愈，再服通聖散，並丸藥一料收功。如鼻塞，加皂角四兩；骨節痛，加谷樹皮四兩；眉落，加角針灰三錢，生薑汁擦；通身瘡，加羌活、獨活各五錢；眼目昏花發熱，加薑黃一兩。又用前五枝煎湯洗浴，或用膏藥方。</p>
<p>桐油　黃丹（各四兩）　龍骨（一兩）　乳香　沒藥（各五錢）　大楓油（八兩）　蛇床（五錢）　血竭　輕粉　人發　川椒　雄黃（各五錢）　硫黃（一兩）</p>
<p>先將粗藥入桐油煎黑，去渣，煎好成膏，下細藥收貯聽用。</p>
<p><u>第四紫霞瘋</u>　，初起時形如紫霞，遍身如雲頭樣，其點牽長，色在頭不露，將火照之，見其細白點，可服　祛風散　。</p>
<p>人參　茯苓　甘草　殭蠶　羌活　防風　厚朴　藿香　蟬退　麻黃　薄荷　黃柏　獨活</p>
<p>咳嗽加半夏，不咳嗽加陳皮各等分，或用　搜風散　。</p>
<p>白芷　藿香　前胡　黃耆　甘草　人參　羌活　防風　黃連　荊芥（各等分）</p>
<p>或用　川烏通聖散</p>
<p>川烏　防風　石膏　川芎　全蠍　蒼朮　枳殼　殭蠶　麝香（一釐）　桔梗　蟬退　當歸　薄荷（各等分）</p>
<p>上三方，加姜水煎，再加好酒二小鐘，熱服，再用　洗浴方　。</p>
<p>柴胡　前胡　銀花　蒼耳子　五爪龍　五加皮　防風　荊芥</p>
<p>水煎湯洗浴，浴後用擦藥。</p>
<p>硫黃　輕粉　枯礬（各三錢）　黃丹　蛇床（各一兩）　水銀（七錢）　黃連（五錢）　黃柏（三錢）　人參（五錢）　無名異（少許）</p>
<p>為末，薑汁調擦之。癢加川椒一兩，服前二蛇散。如不愈者，毒深故耳，否則服治二次除根。</p>
<p><u>第五火煉瘋</u>　，起時面上火紅色，四肢一身皆無力，重則氣少，日久月深瞼上如窠，先損其目，後折鼻梁，以後難治，先服　川芎通聖散　。</p>
<p>川芎　當歸　白朮　白芍　防風　荊芥　麻黃　連翹　黃芩　甘草　桔梗　石膏　山梔　薄荷　滑石</p>
<p>姜水煎服。如不行，加大黃、朴硝。咳嗽，加半夏。三帖後服　散風復元散　。</p>
<p>黃芩　白朮　白芷　細辛　防風　當歸　杏仁　羌活　獨活　生地　熟地　秦艽　紫蘇　防己　知母</p>
<p>姜水煎服，五帖後，將前方洗擦三四次即愈。洗擦藥方，在第四紫霞瘋內。</p>
<p><u>第六紫稍瘋</u>　，此症色如紫藤模樣，牛皮相似，服　防風復元散　。</p>
<p>防風　麻黃　人參　白芷　當歸　枸杞　秦艽　桔梗　黃芩　甘草　羌活　獨活　細辛　半夏　防己　茯苓　芍藥　前胡　蒼朮　藿香　官桂　香附　生地　熟地</p>
<p>姜水煎服，五帖後，再服散風復元散，方在火煉瘋內。</p>
<p><u>第七紫萍瘋</u>　，起時形如紫萍，其點或沒或見，數日起一次者，發作無時，繫心經所染熱邪，與前方不相宜，應服　通天散　。</p>
<p>麻黃　天靈皮　細辛　葳靈仙　荊芥　黃柏　蒺藜　花粉　海桐皮　桑白皮　殭蠶　蟬退　川芎　木通　連翹　蔓荊子</p>
<p>姜水煎，臨服加好酒二小鐘，服五帖。後用前擦藥，不過三次即愈。</p>
<p><u>第八珍珠瘋</u>　，起初時形如小鱉棋子，遍身疙瘩塊，久而不治，遍身作癢，若用熱湯蕩入皮膚，則難治矣，用　加味祛瘋散　。</p>
<p>黃柏　細辛　黃連　大黃　山梔　薄荷　甘草　麻黃　連翹　荊芥　白朮　滑石　川芎　羌活　獨活　天麻　熟地　桔梗　黃芩　石膏　芍藥　防風（各等分）</p>
<p>姜水煎，臨服加好酒二小杯，十帖後，服　天仙換骨丹　。</p>
<p>狗脊（去毛焙，十兩）　細辛（十一兩）　當歸（一兩）　蟬退（二兩）　白芷（三兩）　川芎（一兩）　牛黃（五錢）　水蛭（一兩五錢，另研）　大楓子（半斤，去殼，蒸熟）　烏藥（十兩）　防風（十兩）　牙皂（三兩）　白芨（七錢）　全蠍（一兩五錢，炒）</p>
<p>先將牛黃、水蛭、楓子蒸熟，臼內打爛，入藥末，陳米飯為丸，如綠豆大，每服七十丸，早晚酒下，日進三服。再用　膏藥方　。</p>
<p>荊芥　防風　白芷　羌活　黃芩　阿魏（各三兩）　大黃　生地　水龍骨（即船上的油灰）　殭蠶（各三兩）　乳香　沒藥　血竭　雄黃　輕粉　全蠍（各五錢）　川山甲（一兩）　蟬退（一兩）　蜈蚣（一兩）　宮粉（五錢）</p>
<p>先將粗藥入香油一斤煎黑色，去渣成膏，後用細藥，收之聽用。</p>
<p><u>第九柘子瘋</u>　，其形遍身如柘子，細突而起，久不出血，其痛難忍，即服千金托裡散，在後冷水瘋內。或用　加減天麻散　。</p>
<p>細辛　苦參　川芎　靈仙　首烏　薄荷　蒺藜　蔓荊子　明天麻　防風　荊芥　甘草　麻黃　楓子　石菖蒲（各等分）</p>
<p>姜水煎服，加好酒二小杯。後用　白花蛇酒　。</p>
<p>白花蛇　烏梢蛇（各一條，去頭尾皮骨）　升麻　紫蘇　枳實　當歸　香附　熟地　黃耆　天冬　丹皮　粟殼　川芎　茯苓　厚朴　枳殼　三稜　蒼朮　牛膝　芍藥　玄胡　杏仁　紅花　肉桂　蓬朮　防風　草果　杜仲　木香　陳皮　青皮　半夏　桔梗　荊芥　藿香（各一兩）　殭蠶　麥冬　人參（各二兩）　白芷　楓藤　麻黃（各三兩）　乳香　沒藥（各五錢）　枳實（五兩）　核桃肉（四錢）　益智仁（五錢）</p>
<p>上藥入在酒內封口，晨煮至晚取出，埋土，去火毒七日，分作四小瓶，半月開飲。如瘡口爛，外貼　阿魏膏藥　。</p>
<p>防己（一兩五錢）　荊芥　白芷　赤芍　當歸　黃連　黃柏　楓子肉　人參　連翹　蓬朮（各一兩）　黑醜（一兩）　寸香（一錢）　香油（二斤）　黃丹（八兩）</p>
<p>桃、槐、柳、榆、桑、枝各七條，長一寸，為膏聽用。另以楓子肉二兩，川山甲八錢，乳香、沒藥、寸香各下傾入瓶中收貯，一應瘡癤俱可用。</p>
<p><u>第十凍眉瘋</u>　，面上作癢，久則眉落，滿身麻木，與麻木瘋同治，先服　防風通聖散加減　。</p>
<p>防風　芍藥　甘草　桔梗　滑石　黃芩　薄荷　石膏　當歸　川芎　大黃　麻黃　連翹　荊芥　白朮　山梔</p>
<p>先加芒硝三錢，一服瀉後去芒硝，加半夏，再服用此藥後，改用浸藥方。</p>
<p>烏梢蛇（三兩）　當歸（一兩）　連翹　甘草　生地　熟地　山梔　黃柏　胡麻　大力子　枳殼　首烏　菖蒲　蔓荊子　蒺藜　靈仙　杞子　蒼耳子　防己　茯苓　天冬　海桐皮　石楠葉　白蘚皮　金銀花　甘菊（各三兩）　人參　血竭（各一兩）　草烏（半斤）　五加皮（五錢）　木香　楓子肉　乳香　沒藥（各五錢）</p>
<p>將蛇浸酒去骨，再將諸藥為片，用酒漿二十斤入瓶，煮二時，取出，去火毒，半月可服，須盡醉服之。將渣為末，酒糊為丸，每服三錢，早晚二服，好酒送下。</p>
<p><u>第十一劍眉瘋</u>　，面上不癢，只有眉眼二處作痛，與痛眉風不同。依方治之，　搜風順氣散　。</p>
<p>歸尾　殭蠶　烏藥　陳皮　桔梗　川芎　白芷　枳殼　甘草　乾薑　茯苓　羌活　金銀花</p>
<p>姜水煎服，五劑如不好，再服前蛇酒方，立愈。</p>
<p><u>第十二雁來瘋</u>　，雁來遍身作癢，皮膚燥烈，雁去方好。三年後不治，成大瘋之症，用　撥雲散　。</p>
<p>川芎　當歸　細辛　苦參　靈仙　首烏　薄荷　天麻　甘草　防風　荊芥　蒺藜　菖蒲　殭蠶　五加皮　蔓荊子</p>
<p>姜水煎，加好酒二小杯服，自然不癢，其風自退，不效再服後　藥酒方　。</p>
<p>牛膝　狗脊　川芎　川斷　杜仲　防風　石蟹　石楠葉　烏藥　半夏　甘菊　茯苓　防己　草烏　生地　熟地　五加皮</p>
<p>好酒漿二十斤，煮三炷香為度，去火毒，半月方飲，盡醉為度。</p>
<p><u>第十三雁去瘋</u>　，此症與前症同治，皆因患寒暑不同矣。</p>
<p><u>第十四脫指瘋</u>　，此症只因食不勻，損傷筋骨，十指尖得病，指甲皆落，若不早治，後成大患，用　驅風湯　。</p>
<p>川芎　羌活　獨活　防風　甘草　連翹　當歸　山梔　黃柏　桔梗　薄荷</p>
<p>加蔥白五個，姜水煎服，汗出為度。後服去蔥十劑為止，再服　羌活通聖散　。</p>
<p>羌活　獨活　防風　川芎　細辛　薄荷　蟬退　白芷　黃耆　首烏　牛膝　狗脊　砂仁　木香　沉香　血竭（各二兩）　當歸（三兩）　苦參（五錢）　牛黃（二錢）　乳香（五錢）　寸香（一錢）　蟾酥（五錢）　山甲　天靈蓋　羯羊角　全蠍　虎骨（各一兩）　地龍（去土，一兩）　芒硝（五錢）　蜈蚣（七條）　烏梢蛇肉（五錢）</p>
<p>共為末，每服二三錢好酒送下。</p>
<p><u>第十五截指瘋</u>　，此症筋骨先爛，後損十指，先起指腫，甲下出水，不過一年，逐節脫落，難治。先服前　搜風散　五帖，後服　香蛇酒　即愈。此方外科聖藥，非但治瘋，並可治楊梅瘡，一切無名腫毒，惡瘡，服輕粉太多者，遍身痛癢，瘋症左癱右瘓一切可治，又治風癬疥瘡等症。</p>
<p>乳香　雄黃　硃砂（各五錢）　寸香（五錢）　血竭（一兩）　木香（一兩）　蟾酥（二錢）</p>
<p>共為末，用元米二斗五升，入藥拌勻，蒸熟做酒，聽用。</p>
<p>白花蛇　烏梢蛇（各一條）　蜈蚣（十條）　蟬退（五兩）　全蠍（二十個）</p>
<p>用水二斗煮，一斗五升，和前藥酒，將藥並蛇等為末，酒糊為丸，好酒送下。或用　芙蓉酒　。</p>
<p>金銀花　蜈蚣　荊芥　靈仙　首烏　石膏　甘菊　蒺藜　芙蓉葉　胡麻　苦參　天麻　連翹　杜仲　黃柏　川芎　大力子　當歸　防風　羌活　獨活　白朮　人參　甘草　蒼耳子　黃耆　細辛（各一兩）</p>
<p>用袋盛之，入前藥酒內，煮三炷香為度，出火毒，過半月，隨意盡醉方好。</p>
<p><u>第十六鼓釘瘋</u>　，形如鼓釘，疼痛難忍，瘡頭皆紅色，初起不可出血，出血難治，先服前羌活通聖散，次服　達芷丸　。</p>
<p>黑醜　大黃　鬱金　朴硝　浮萍　皂角刺</p>
<p>為末，酒糊為丸，每服三錢，空心好酒送下，取下毒氣為妙，下黑色為度，亦用神蛇酒先吃，再用　保命丸　。</p>
<p>玄參（一兩）　雄黃（四錢）　香蛇（六錢）　苦參（六錢）　辰砂（四錢）　蜈蚣（六錢）　珍珠（四錢）　龜板灰（六錢）　冰片　朴硝（三錢）　牛黃（六錢）　麝香（三錢）　角刺（四錢）　雲母石（三錢）　天靈蓋（五錢）　樺樹皮灰（二錢）</p>
<p>為末，赤豆粉為丸，每服二錢，冷酒送下。</p>
<p><u>第十七蛇皮瘋</u>　，形如蛇皮，此乃大瘋之症。如遍身不癢易治，癢急早治之，必服大楓方，醫治後有加減洗擦方，或先用　加味撥雲散　。</p>
<p>桔梗　陳皮　烏藥　枳殼　川芎　麻黃　殭蠶　獨活　甘草　乾薑　防風　荊芥　金銀花　五加皮</p>
<p>水煎服二十帖全愈，再用　洗浴方　。</p>
<p>靈仙　沙參　紫參　厚朴　荊芥　蔓荊子（各一兩）　白芷　五倍　蒼耳子（各二兩）　防風（五錢）　黃荊條（半斤）</p>
<p>水一鍋煎湯洗之，再用　擦藥方　中丹砂。</p>
<p>大楓油（一兩）　硫黃　黃柏　黃連　大黃　朴硝　兒茶　雄黃　赤石脂　水銀　輕粉　人參　蛇床（各一錢）</p>
<p>上為末，大楓油調擦，倘不愈，再服前酒藥方。</p>
<p><u>第十八牛皮瘋</u>　，形如牛皮，黑色不痛不癢，皮膚厚而麻木，用大瘋方治之。先服前通聖散五帖，後服　搜風奪命丹　。</p>
<p>雄鼠屎　防風　人參　草烏（各八兩）　靈脂（二兩）　京墨　南星（二兩，煨）　細辛　乳香　天麻（各二兩）　甘草（五錢）　寸香（一錢）　巴霜（二錢）　羌活（二兩）　獨活（二兩）</p>
<p>共為末，酒糊丸，量病輕重，或一錢或二錢。先用蔥白嚼爛，好酒送下。或用　追瘋奪命散　。</p>
<p>當歸　羌活　獨活　防風　天麻　殭蠶　全蠍　滑石　甘草　黃柏　連翹　薄荷　山梔　黃連　黃芩　白朮　茯苓　桔梗　苦參　牛膝　木瓜　川芎（各等分）</p>
<p>水煎第一帖，加燈心十莖，大黃、芒硝各五分。第三帖，加麻黃令出汗，去大黃、芒硝。後服　浸酒醉仙散　。</p>
<p>羌活　獨活　防風　白芷　細辛　天麻　苦參　玄參　當歸　芍藥　麻黃　木瓜　牛膝　首烏（各三兩）　草烏（一兩）　乳香　沒藥　川烏　全蠍（各五錢）</p>
<p>酒浸七日煮三炷香，隨量服之。渣為末，酒糊為丸，仍用醉仙散酒服之。</p>
<p><u>第十九白粉瘋</u>　，形如白粉，肌膚如霜，久則難治，先用　追風散　。</p>
<p>大力子（三錢）　胡麻　杞子　蔓荊子　苦參　天花粉　蒺藜　防風（各三兩）　蟬退　全蠍　殭蠶（各三兩）　蜈蚣（三條，酒洗）</p>
<p>共為末，加乳香一錢一分，作十八服，每日空心服二錢，好茶送下。服三日後，如唇腫，牙縫出血，遍身如刀刺，覺口臭，用漱口藥，服六七日，必痢下五色糞，乃臟腑毒氣根源，所出惡水臭物，瓦器盛之，埋無人處。患人吐出漱水，不可嚥下。少頃方可吃粥，不至毒氣入腸。吐時須用有蓋桶盛之，埋過勿令好人染其毒也。　滌穢漱口散</p>
<p>羌活　防風　甘草　貫眾　香附　荊芥　藿香　川芎　寄奴　銀花</p>
<p>水煎漱口吐出毒涎，毒氣如溝，瀉下無妨。亦可用　斷後湯　。</p>
<p>訶子　厚朴　香附　陳皮　蒼朮　甘草　半夏　豬苓　澤瀉　藿香　蒼耳子</p>
<p>水煎半碗服，吐出涎，六七日方好。</p>
<p><u>第二十鱔孔瘋</u>　，身上瘡不分大小，皆出膿血，服止血活血藥，不出血可治。先服前搜風散五帖，後服　通聖丸　。</p>
<p>乳香　川甲　銅綠　水銀　苦參　辰砂　沒藥　連翹　血竭（各一錢）　蟾酥（五分）</p>
<p>用海帶研如泥，和前藥為丸，如卜子大，每服五丸，用蔥白嚼吃，熱酒送下，以汗為度。如爛瘡用阿魏膏貼之，再用　平安散丸　。</p>
<p>大力子　苦參　玄參　胡麻　荊芥　大楓子肉（炒）　當歸（各二錢）　全蠍　蟬退（各一錢）　龜板（煅）　連翹　蒺藜　蔓荊子　天麻　首烏（各一兩）　辰砂（三錢）　乳香　沒藥　天靈蓋（各一錢）　雄黃（三錢）　烏蛇（一兩）　輕粉（二錢）　蜈蚣（二錢）　寸香（一錢）</p>
<p>上為末，酒糊為丸，如綠豆大，每服五十丸，清茶送下，日進三服。半月之後，自然除痛止血，一月後愈。</p>
<p><u>第二十一冷水瘋</u>　，此症四肢生瘡，手足無力，急治方好，久後變成大患，鼻塌指落難治，服　千金托裡散　。</p>
<p>茯苓　白朮　滑石　桔梗　荊芥　銀花　川芎　當歸　蒼朮　麻黃　黃耆　芍藥　大黃　黃芩　防風　甘草　薄荷　連翹　石膏　芒硝　木瓜　檳榔（各等分）</p>
<p>如有痰重，加半夏、陳皮、水姜。如痛，加乳香、沒藥。水煎熱服，出汗為度，服四帖後，服　消毒救苦丹　。</p>
<p>防風　羌活　麻黃　升麻　生地　川芎　藁本　連翹　黃柏　當歸　柴胡　陳皮　黃芩　蒼朮　細辛　甘草　白朮　乾薑　紅花　茱萸</p>
<p>水煎服，空心服五帖，後用前洗擦方。</p>
<p><u>第二十二鵝口瘋</u>　，形如鵝口，血色轉黃，急宜治之。不可出血，出血難治，宜服前通聖散，再用　神仙太乙膏　。</p>
<p>首烏　當歸　白芷　黃連　大黃　荊芥　玄參　生地　川芎（各一兩）　乳香　沒藥（各三錢）　亂髮（三錢）　麻油（一斤）</p>
<p>入前藥煎枯，去渣下黃丹六兩，煎成膏，貼破瘡，再服固本湯。</p>
<p>白芷　甘草　滑石　荊芥　防風　羌活　天麻　白附子　人參　芍藥　五加皮　白朮　靈仙　木通</p>
<p>姜水煎服。</p>
<p><u>第二十三雞爪瘋</u>　，形如雞爪樣，遍身皆癢，年深指屈而不伸。此瘋手足動搖以後難治，意以　消風敗毒散治之　。</p>
<p>海桐皮　川烏（炮）　丹皮　川芎　芍藥　乾薑　銀花　肉桂　五加皮　白芷　前胡　黃耆　甘草　甘菊　人參　羌活　防風</p>
<p>姜水煎，加好酒二小鐘，熱服五帖，後用　加減八風散　。</p>
<p>藿香　白芷　前胡　甘草　黃耆　海桐皮　甘菊　人參　羌活　防風　芍藥　殭蠶</p>
<p>姜水煎服，此藥不愈，後服前藥酒方。</p>
<p><u>第二十四瓜皮瘋</u>　，形如瓜皮，初起易治，久則難治，服　羌活劍風湯　。</p>
<p>當歸　秦艽　防風　石膏　杞子　杜仲　厚朴　黃芩　甘菊　獨活　柴胡　熟地　茯苓　前胡　蒼朮　桂枝　生地　芍藥　半夏　白芷　薄荷　羌活　麻黃　細辛　枳殼　木通　天麻</p>
<p>姜水煎服，十帖後，服前蛇酒，並用前洗擦方全愈，或用下開　萬應神妙湯　。</p>
<p>歸尾　芍藥　生地　防風　木瓜　黃連　黃芩　黃柏　山梔　黃耆　柴胡　牛膝　羌活　獨活　連翹　苦參　荊芥　靈仙　甘草　白芷　白朮　茯苓　陳皮　桔梗　桑皮　知母　銀花</p>
<p>毒未收者加官桂、川甲各二錢，角刺五錢。壯者加大黃、芒硝一服，酒水各一杯煎服，瀉為妙，溫粥補之，二服可愈。亦有用吊藥方，出膿血毒氣為妙。</p>
<p>大黃（一兩）　川甲（五錢，炒）　白芷　殭蠶（各五錢）</p>
<p>為末，每服加寸香二分，看患者虛實，壯者五錢，弱者三錢，五更冷酒送下。如不行，再服二錢。行，服四五次，冷米湯補之。</p>
<p><u>第二十五漏蹄瘋</u>　，先腳底作癢，後麻木腫起，底下開裂者可治，膿水不幹者難治。須用前大瘋方，神蛇酒治之。如不愈，服前搜風散十帖，後服蛇酒方為妙。</p>
<p>白花蛇　烏蛇（各一條，去頭尾）　當歸　檳榔　靈仙　菖蒲　連翹　薄荷　海桐皮　天麻　風藤　蒼朮　杏仁　蟬退　麻黃　紅花　陳皮　麥冬（各三兩）　楓子肉（一斤，去油炒）　胡麻　白芷　蒺藜　人參　辰砂　五味子　花粉　甘草　生地　熟地　木鱉　羌活　獨活　防風（五兩）　馬鞭草　血竭　全蠍　乳香　雄黃　木香　茴香　沉香　大腹皮　天靈蓋（各一兩）　黑棗（一斤）　五加皮（八錢）　虎骨（一兩）　核桃（四斤）　首烏（五兩）　白蘚皮（五錢）　荊芥（三兩）　草烏（八兩）　甘菊（三兩）　茯苓（三兩）　蟬退（五兩）　川烏（五錢）　沒藥　阿魏（各五錢）　蔓荊子（二兩）　牛黃（二錢）　寸香（五錢）</p>
<p>共為片，另將粗藥，用細麻布袋盛之。陳酒三十斤，將袋入酒內，煮三炷香，隔宿取出藥渣，藥酒封固，每日空心早晚各服一杯，將藥渣曬乾為末，入細藥為丸，將前酒送下百丸，再用　洗浴方　。</p>
<p>防風　荊芥　槐花　黃連　野菊花　銀花　五加皮　蒼耳子（各二兩）</p>
<p>煎湯浴之，時常洗淨為妙，再用　收口藥　。</p>
<p>大黃　黃柏　雄黃　血竭　兒茶　乳香　沒藥　輕粉</p>
<p>共為末，敷瘡口即愈。</p>
<p><u>第二十六湧泉瘋</u>　，左右腳底皆有一孔，如膿水不幹者不治，患處有鮮血者可治。與痛漏蹄瘋一樣帶紅色，痛通骨髓者不治。</p>
<p><u>第二十七鵝掌瘋</u>　，掌如魚甲一般，作癢不痛，須用前大瘋方治之。未服藥時，將中指握到手心中灸七壯，又灸七表八里，後服　搜風散加減　。</p>
<p>白芷　枳殼　桔梗　陳皮　烏藥　殭蠶　甘草　麻黃　川芎　茯苓　甘菊　芍藥　防己　歸身</p>
<p>姜水煎，加好酒二小鐘，熱服二十帖，再用　驅風保命丸　。</p>
<p>當歸　殭蠶　白芷　細辛　苦參　防風　荊芥　秦艽　麻黃　黃柏　山藥　白朮　薄荷　龜板（煅）　甘草　烏藥　石楠葉　破故紙　茯苓　生地　熟地　川芎（各一兩）　人參　菖蒲　五加皮　海桐皮　甘菊　銀花　連翹　蒺藜　首烏　楓子（各八兩）</p>
<p>共為末，入烏蛇末，三兩酒糊丸，每服六十丸，空心好酒送下。</p>
<p><u>第二十八黑指瘋</u>　，十指甲黑，急服搜風湯十帖，日進三服，俱須出血，後用煎湯洗浴。　洗浴方</p>
<p>苦參　白芷　防風　五加皮　荊芥　五爪龍　金銀花　香附（各二兩）</p>
<p>煎湯洗。如不愈，服　當歸活血湯　。</p>
<p>當歸　川芎　生地　熟地　芍藥　升麻　桔梗　靈仙　官桂　防風　羌活　紅花　白朮　杏仁　黃芩　荊芥</p>
<p>姜水煎服，數帖即愈。</p>
<p><u>第二十九櫻桃瘋</u>　，起時形如櫻桃，急服　烏藥順風散　。</p>
<p>殭蠶　烏藥　陳皮　麻黃　乾薑　甘草　枳殼　五加皮　桔梗　川芎　歸尾　金銀花</p>
<p>姜水煎，加好酒一小杯熱服五帖，再用　消風托裡散　。</p>
<p>荊芥　山梔　歸身　川芎　芍藥　黃耆　蒼朮　茯苓　滑石　桔梗　黃芩　大黃　防風　烏藥　薄荷　連翹　石膏　木瓜　檳榔</p>
<p>如痛加乳香、沒藥，姜水煎，加好酒二小杯，熱服不愈，服前蛇酒即愈。</p>
<p><u>第三十四脘瘋</u>　，起初發手足拗曲之處，其瘋最癢，用消風敗毒（方在雞爪瘋內）散治之。服不拘時候，再用洗擦方，見前蛇皮風內。</p>
<p><u>第三十一燥麻瘋</u>　，遍身如癬，其癢不可忍，皆是癬，後變成大瘋，先服前搜風散，後服前蛇酒藥，再用　一掃光酒藥　。</p>
<p>元米（一斗）　烏蛇（二條）</p>
<p>去頭尾酒煮，去骨焙乾為末，蛇酒米一同拌勻，搭飯成漿，四五日後將小瓶盛貯，十日後開，空心服。服時用砂罐連糟蒸熱，隨意食之，十日見效。後服前蛇酒除根，再用　洗浴方　。</p>
<p>黃荊條（三斤）　五倍子　防風　荊芥　銀花　五加皮（各三兩）</p>
<p>煎湯洗之，後用擦藥方。</p>
<p>硫黃　枯礬　白芷（各一兩）　龍腦（五錢）</p>
<p>為末，用香油二兩入椒一撮，煎三四沸，將冷去椒，調藥擦之。</p>
<p><u>第三十二紫癜瘋</u>　，遍身黑色花斑，雖則小患，若不治，久後變成大患。服前烏藥順氣散五帖，再用前擦藥。</p>
<p><u>第三十三白癜瘋</u>　，遍身白花斑，皆是汗後入風，或汗後燥布擦之得病。先服前防風通聖散十帖，再用前擦藥方，加枯礬、薑汁擦。</p>
<p><u>第三十四癩癬瘋</u>　，遍身生癬，變成大瘋，上生下易治，下生上難治。惟服前通聖散，洗擦方及蛇酒則愈。再用洗浴方，用桃、槐、榆、柳、柘、樟、枝各七根，向陽者佳，並後藥煎湯洗之。</p>
<p>防風　荊芥　苦參　銀花　蒼耳子（俗名野茄，各一兩）</p>
<p>又用擦藥方。</p>
<p>水銀　硫黃　雄黃（各五錢）　砒（一錢）　藜蘆　黃連　黃柏（各五錢）　大楓子（一兩）</p>
<p>共為末，後用香油調擦。</p>
<p><u>第三十五雞皮瘋</u>　，形如雞皮，粗糙不潤，以手磨則粗刺，此是血燥，氣虛入風，急宜治之，服　驅風養血湯　。</p>
<p>人參　黃耆　黃芩　白芷　羌活　芍藥　獨活　蒼耳子　銀花（各一錢）　川芎　生地　熟地　紅花　防風　荊芥　桔梗　茯苓　甘菊（各八分）　麻黃（五分）</p>
<p>作一帖水煎，加好酒半杯熱服，又用洗浴方。</p>
<p>防風　荊芥　歸尾　苦參　黃柏</p>
<p>燒湯浴後，用前藥擦藥擦之，並服　潤體丸　。</p>
<p>當歸（三兩）　人參　黃耆　黃芩　桔梗　薄荷　石膏　蒼耳子　玄參　殭蠶　蟬蛻　全蠍　黃連（各一兩）　烏蛇（一條）</p>
<p>煉蜜為丸，每服百丸，空心好酒送下。</p>
<p><u>第三十六軟腳瘋</u>　，此症皆因氣血虛少，筋死耳聾，乃是脾胃與肺經受熱，須去脾胃肺經之火，然後調養氣血，次第治之，瘋病自愈。若不瀉火養血，縱然日夜服藥，終不見效，先服　涼血散　。</p>
<p>當歸　桔梗　黃芩　石膏　山梔　乾薑（炒）　薄荷　大黃　枳殼　木通　玄參　生地　甘草　芍藥　防己</p>
<p>姜水煎，空心服五帖，後服　調衛養榮散　。</p>
<p>川芎　防己　生地　熟地　白芍　紅花　牛膝　防風　人參　白朮　黃柏　茯苓　陳皮　甘草　木香</p>
<p>姜水煎，加好酒二小杯，熱服十帖，後吃前蛇酒方，自然好也。</p>

<h1>癘瘋病淺論</h1>
<p>癘者，火也。風者，六淫中之一也。故名癘風，即大瘋也。至其敗壞，面目可憎，形體可畏，乃惡疾也。書曰：風從虛入。凡人精元氣血四者，設一不足，風寒暑濕燥火，得以乘虛而入，喜怒憂思悲恐驚懼之氣，鬱滯不行，飲食房勞跌蹼，醉臥風露，汗熱解衣入浴，水後迎風，或手足破傷，引入風毒，侵於肌膚，流注經絡，傳於臟腑，發於四肢，內外薰蒸，而成泡瘡，病狀多端，痛苦難忍。欲求醫治，須別居靜室，斷酒鹽醬動氣厚味，戒色欲，除思慮，洗心皈命，敬誠懺悔，耐性寬心，然後按證設法對症湯藥，次序服去，始可獲愈。</p>

<h1>瘋病八不治</h1>
<p>一不知戒，二譴責病，三風水損，四年五十，五怯弱人，六復發症，七傳染病，八面體黑。</p>

<h1>瘋病八難治</h1>
<p>一烏麻瘋，二截毛瘋，三打烏瘋，四赤遊瘋，五李子瘋，六剪指瘋，七振鬥瘋，八老鼠瘋。</p>

<h1>瘋病八死症</h1>
<p>一皮死麻木不仁者死，二兩死割砌不痛者死，三血死潰爛成膿者死，四筋死手足脫下者死，五骨死鼻梁崩塌者死，六目昏耳聾者死，七聲啞者死，八未詳。</p>

<h1>瘋病辨驗法</h1>
<p>蟲食肝眉落，蟲食肺鼻崩，蟲食心足底穿膝腫，蟲食脾聲啞，蟲食腎耳鳴耳沿生瘡，或痹（當作癢），或痛如針刺，蟲食身皮癢如蟲行。肺經受病，眉毛先落；心經受病，遍身起紅色；肝經受病，面色紫泡；脾經受病，先損其目；腎經受病，腳底先穿及手指麻木。主年內有大瘋者，至難治之症也。</p>

<h1>瘋病禁治法</h1>
<p>亂用手法　縱意刀針　放血艾薰　毒藥　取涎　用油浸身</p>

<h1>瘋病戒忌法</h1>
<p>戒憂怒　避風熱　省勞碌　絕色欲　除妄想　忌鹽醬　守藥規</p>

<h1>瘋病靜養法</h1>
<p>子午卯酉時，端坐閉目，上下齒對以舌尖，虛空將及齒縫，念思字待口涼方止。不要出聲，自己兩耳不聞，口中念思字。午前午後，心中暗念百拜，朝天懺一遍，常要譬如死去。父母妻子，百萬家業，不能管顧。</p>

<h1>瘋病食淡法</h1>
<p>假如每日用鹽一錢，只用九分，過數日再減一分，逐漸減去，以至不用。經云：淡之其為五行本，鹽能助病。</p>

<h1>瘋病宜食品</h1>
<p>豬肚　腰子　白魚　黑魚　白菜　刀豆　老酒　水梨　圓眼　綠豆　除此十物，其他不必想食。</p>

<h1>瘋病借用諸方</h1>
<p><u>洗浴藥方</u></p>
<p>地骨皮　苦參　荊芥　細辛（各二兩）</p>
<p>水煎湯，無風處薰洗遍身（出血為妙）。又方桃、槐、榆、柳、桑五枝，煎濃湯一大缸，浸坐沒頸半日，候湯如油為度。</p>
<p><u>發汗藥方</u></p>
<p>川烏　草烏　當歸　川芎（各二兩）　麻黃　蒼朮（各四兩）　甘草（二兩）　蔥姜（各二兩）</p>
<p>上藥切碎，入瓶內三日，取出曬乾，米糊為丸，如彈子大，熱酒送下，汗出為度，不許婦人雞犬見之。</p>
<p><u>瀉藥方</u></p>
<p>先服此藥瀉出毒物惡氣，又用三稜針望肉黑處針出死血，不可令出太過，太過要損人。</p>
<p>連翹　防風　羌活　赤芍　川歸　薄荷　麻黃（去根節湯炮）　甘草　黃芩　生地　貝母　桃仁　丹皮　皂角　芡實　白花蛇（要龍角虎牙人者共，以上各四錢）　大黃（八錢）　芒硝（二錢）</p>
<p>上藥分作四帖，水酒各一杯煎，空心熱服，日進二服，渣再煎，五六日再服，以利為度。</p>
<p><u>敷藥方</u></p>
<p>狗脊（用堅者，三兩）　蛇床子（四兩）　石膏（二兩）　硫黃（六錢）　礬（二錢）</p>
<p>朴硝少許，豬油調敷。</p>
<p><u>擦藥方</u></p>
<p>乳香　沒藥（各一錢）　豬牙皂角（一兩）　雄黃（五錢）　附子（五錢）　川烏（五錢）</p>
<p>為末擦之。</p>
<p><u>生眉毛藥方</u></p>
<p>皂角刺（焙乾）　鹿角（燒存性）</p>
<p>等分為末，生薑自然汁，調勻擦眉上，一日一次，眉自生矣。</p>
<p><u>治手攣曲痛脫落方</u></p>
<p>用萆麻去殼，黃連銼如豆大，每一兩，水一升，小瓶浸水，春夏三日，秋冬五日。取出萆麻拍破，平旦時面東以浸出藥水送服一粒，漸加至四五粒，微利不妨。忌豬肉，吃淡，神效。</p>
<p><u>灸法斷根方</u></p>
<p>將手腳大拇指筋骨縫間，手指節約半寸，各灸三壯，去毒氣也。</p>
<p><u>四神丹方</u>（醫家有傳用此四味，久服即愈大瘋者。）</p>
<p>羌活　玄參　當歸　熟地　枳實</p>
<p>各等分為末，米飲糊為丸，如桐子大，每服百丸，白酒送下。</p>
<p><u>浸酒藥方</u></p>
<p>用苦參五斤，好酒三斗，浸一月，每服一合，一日三次，常服不絕，苦參為末，服之亦良，尤治癮疹惡瘡，除伏熱，養肝膽氣，入紫萍尤捷。萍多蛀，寒月于山地取之，擇淨洗泥，略蒸乾用。</p>
<p><u>小續命湯</u></p>
<p>麻黃（去蘆）　人參　黃芩　芍藥　甘草　川芎　杏仁　防己　官桂（各一兩）　防風（一兩五錢）　附子（五錢）　萆薢　獨活　木瓜　川楝子（各一兩）</p>
<p>均作十帖水煎，碗底先放麝香少許，去渣，將藥入碗內，可服之至數十帖。</p>
<p><u>白花蛇煎</u></p>
<p>白花蛇（四兩，去頭皮骨）　白蜜（三十兩）　姜（六兩）　薄荷汁（六兩）　白殭蠶（炒）　全蠍（炒）　苦參（各一兩）　白附子（炮三錢）</p>
<p>為末，先下蜜並生薑汁、薄荷汁，煎滾數沸，次下諸藥末和勻，瓦器中重湯熬成，煎好以無灰酒調下一匙。</p>
<p><u>乳香犀角丸</u></p>
<p>乳香（研）　犀角（鎊）　附子（去皮臍）　自然銅（火煅醋蘸七次以上，各一錢）　沒藥（研）　木香　人參　草烏（炮去皮尖）　丹砂（研）　鐵砂（水洗十次，醋一盞煮𨫆內炒煙盡為度）　蔓荊子（炒）　香附（各五分）</p>
<p>上為末，酒糊為丸，如梧桐子大，每服十五丸，米湯送下臨臥服。</p>
<p><u>四神散</u></p>
<p>雄黃　雌黃　硫黃　白礬（並用透明者各等分）</p>
<p>上為末，每用時先浴，通身汗出，次以生薑蘸藥擦患處，良久以熱湯淋洗，當日色淡者，五日除根。</p>
<p><u>烏蛇浸酒方</u></p>
<p>烏蛇（六兩，酒浸去頭皮骨）　防風　五加皮　白蒺藜（炒去刺）　桂心（各二兩）　天麻　牛膝（去苗）　生地　熟地　枳殼（炒）　羌活（各四兩）</p>
<p>上以生絹袋盛藥，用無灰酒二斗放壇中浸，密封七日後開，每日三度，溫飲一小盞。忌豬雞肉。</p>
<p><u>硫黃酒</u></p>
<p>用透明鋒鋩硫黃二錢，乳缽內研細，入酒再研，空心飲其清酒，將渣再研，又入酒飲之。日日如此，硫黃能殺惡蟲從大便下。</p>
<p><u>五參散</u></p>
<p>人參　丹參　沙參　苦參（各一兩）　白花蛇（酒浸，去頭皮各一兩五錢）</p>
<p>上為細末，每服二錢食後，臨臥溫酒調下。</p>
<p><u>故炊帚散</u></p>
<p>故炊帚　甑帶　鞋底　蛇脫皮（一條）</p>
<p>上以月蝕夜，伺候正蝕時，都燒成灰，研令極細，每服不拘時候，以溫酒調服二錢，仍以醋調藥如膏，以塗敷上即消。</p>
<p><u>虎骨散</u></p>
<p>虎骨（醋炙黃）　烏梅肉　赤茯苓　肉蓯蓉（酒浸，切焙）　甘草（炙）　芍藥（炒）　鱉甲（醋炙）　白朮（炒）　人參　豆豉（文火炒）　紫苑（去土）　黃耆（蜜炙）　常山（炒）　知母　枳殼（炒）　犀角（鎊各一兩）　當歸　升麻　柴胡　桔梗　前胡　桂心　木香　桃仁（湯炮，去皮尖）　天靈蓋（酥炙，各一兩）</p>
<p>上為細末，每服二錢，溫酒調下，早晚各一服。</p>
<p><u>熨法</u></p>
<p>黑豆（五升）　芫花（一斤）　生薑（切用、半斤）</p>
<p>上俱炒，旋入醋拌，用青布包熨痛處，更番炒熨，以效為度。</p>
<p><u>追風逐濕遇仙膏</u></p>
<p>海風藤（六兩）　萆麻子（六兩）　麻黃（八兩）　川烏　草烏　南星　羌活　桂枝（各四兩）　蛇床子（三兩）　土木鱉（淨肉，三兩）　大楓子（八兩）　白附子　杏仁（研）　獨活　防風　荊芥　細辛　赤芍藥　紅花　當歸　黃耆（各二兩）　白芷（二兩）　番打麻（六兩）　銀花（四兩）</p>
<p>以上藥料，用麻油七斤，蔥汁、薑汁各二碗，共前藥浸一宿放鍋內，文武火熬煎，藥色不易黑，必待滴油黑色，去渣每藥油一斤，下飛過好丹六兩，候成膏，再加白水煮過鬆香一斤，黃佔一斤，攪勻氣溫，方入乳香、沒藥、木香、輕粉、胡椒、硫黃各四兩，白芥一斤，五味研為極細末，入膏內攪勻，每膏一斤，入蟾酥五錢，厚絹攤貼，肉癢出汗。</p>
<p><u>禹糧丸</u></p>
<p>治五勞七傷，氣脹飽滿，黃病四肢無力，女子赤白帶，乾血勞症，久瘧痞塊，俱宜服之。</p>
<p>餘糧石（二斤半）　好醋（八斤）</p>
<p>同煮，醋乾為度。</p>
<p><u>溫毒結毒臁瘡方</u></p>
<p>宮粉（煅七分）　紅楬子（煅灰，二錢）　文蛤　胎髮　白螺絲殼（各燒灰存性，各二分）　輕粉（一錢）　乳香（六錢）　沒藥（二分）　兒茶（一分）　瓜兒血竭（一個）　蟾骨（五）　真珠（三分）</p>
<p>上十二味，俱為細末，磁瓶收貯，用時先將甘草湯洗去患處膿水，後將藥摻上。</p>

<h1>瘋病另一名目形狀鑑別法</h1>
<p><u>大麻瘋</u>　十來日起如白膚冬瓜一般，節節崩裂，生血直流。</p>
<p><u>癩麻瘋</u>　遍身癩瘡又膿水。</p>
<p><u>雞腳瘋</u>　面上浮行，眉毛十來日脫下。</p>
<p><u>冷麻瘋</u>　遍身冰冷，麻木不知痛癢，宜服醉仙散。</p>
<p><u>蛇皮瘋</u>　身上花斑如蛇皮一樣。</p>
<p><u>爛麻瘋</u>　身上連片而爛。</p>
<p><u>漏蹄瘋</u>　手足皆穿。</p>
<p><u>燥麻瘋</u>　身上白肉如麩皮一般。</p>
<p><u>胡桃瘋</u>　身上自起紅塊。</p>
<p><u>雁來風</u>　手撫腳噪。</p>
<p><u>血瘋</u>　身上手腳紅脹。</p>
<p><u>荷葉瘋</u>　如荷葉連片無發。</p>
<p><u>白虎瘋</u>　走注骨節痛，宜服虎骨散。</p>
<p><u>紫癜瘋</u>　身上紅色如雲頭片一般，用四神散，服烏蛇浸酒方。</p>
<p><u>白癜瘋</u>　身上有白點，遍身虛白，用四神散，服烏蛇浸酒方。</p>
<p><u>姜孤瘋</u>　手除腳爛，用萆麻法。</p>
<p><u>胭脂瘋</u>　半邊面紅，用浸酒藥。</p>
<p><u>鵝掌瘋</u>　手上皮粗厚微黃色，用擦藥薰洗藥。</p>
<p><u>鶴膝瘋</u>　膝上青紅腫痛，服小續命湯，加萆薢、川楝子、獨活、木瓜。</p>
<p><u>草鞋瘋</u>　腳上疼如針刺，用萆麻法。</p>
<p><u>裙帶瘋</u>　腿肚連片生瘡。</p>
<p><u>痛瘋</u>　遍身麻痛，服醉仙散。</p>
<p><u>四柱瘋</u>　手腳麻木，服醉仙散。</p>
<p><u>四患瘋</u>　四肢生瘡，用浸酒藥，桕油丸擦。</p>
<p><u>蠱瘋</u>　身上如刀割，服白花蛇煎。</p>
<p><u>刺瘋</u>　遍身如針刺，服乳香犀角丸。</p>
<p><u>惡瘋</u>　頭面四肢全體癮疼疹瘰，服硫黃散。</p>
<p><u>癧瘍瘋</u>　面項生白駁，狀如白癬，服炊帚散。</p>
<p><u>蛓毛瘋</u>　身上疼痛，衣服也穿不得，不治。</p>
<p><u>李子瘋</u>　身上起紫，潰爛深潭，不治。</p>
<p><u>打烏瘋</u>　口吐白沫，橫倒在地，手足齊起，不治。</p>
<p><u>赤遊瘋</u>　肚腹脹大者。不治。</p>
<p><u>剪指瘋</u>　手指並做一塊，不治。</p>
<p><u>烏麻瘋</u>　黑漆柱一般，由骨里黑出來，不治。</p>
<p><u>振鬥瘋</u>　手振不治。</p>
<p><u>老鼠瘋</u>　日間不痛，至夜疼者。不治。</p>

<h1>瘋病又一治法次序</h1>
<p>以上三十六症狀下，未列治法者，可照下列三次治法，分次治之。再不愈，另採備用各方輔助之。</p>
<p><u>第一次治法藥</u></p>
<p>初一日服追風散，瀉惡血，用</p>
<p>大黃（二兩）　蟬殼（一兩八錢）　白花蛇（選用小者妙）　皂角刺（各二兩）</p>
<p>共為末，每服五六錢，入大楓子油一錢，朴硝少許，用老酒一盞調化送下。不可熱服，夜粥不可食，待戌時放前藥一碗，在桌上盆內，以糖煎，或蜜煎，少許放在盤中，不得令患者先見藥，服藥畢用水漱，以蜜過口切不可睡去，食人伴坐良久，肝腹大疼最妙，瀉四五次，用薄粥補之。</p>
<p>初二日服消風散，用</p>
<p>白芷（一錢）　全蠍（一兩，去尖）　人參（一兩）</p>
<p>共為細末，每服二錢，午間吃粥，晚不要吃夜粥，次早溫酒調服二錢，早飯須遲吃，身上微癢為妙。</p>
<p>初三日服磨風散，用</p>
<p>羌活　獨活　小川芎　天麻　細辛　葳靈仙　防風　荊芥　麻黃　何首烏　蔓荊子　牛蒡子　蝦麻草　蒼耳草（各一兩）</p>
<p>共為細末，不見火煮酒調服一錢，假如初一日服追風散，初二日服消風散，初三日服磨風散，初四日又服追風散，初五日又服消風散，初六日又服磨風散。瘦弱者，半月一服，譬如初一日服起，初三日止，十五日服起，十七日止。強壯人十日一服，譬如初一日起，初三止，十一起，十三止，二十一起二十三止。要切記日數為準，服兩月後，日日服大麻瘋丸藥。</p>
<p>大楓子肉（二兩，白色者用，如油過黃色者，不可用）　白花蛇　防風　烏藥　羌活　獨活　僵蟲（炒）　全蠍　首烏　荊芥　細辛　甘草　天麻　苦參　人參　南星</p>
<p>薑汁拌炒，白芷、川烏、童便浸，蒸三次，牛膝、當歸、麥冬、地黃各四兩，沉香四兩，米糊為丸，如梧桐子大，每服三錢，空心午間臨臥白湯送下，一日准服三次，神效。</p>
<p><u>第二次治法藥</u>（第一次治法不愈，用此）</p>
<p><u>醉仙散</u>　先量病人大小虛實，凡證候重而急者，須先以再造散下之。候補養得完，後與此藥，用</p>
<p>胡麻子　牛蒡子　蔓荊子　枸杞子（各一兩，同炒）　蒺藜　苦參　瓜蔞根　防風（各五錢）</p>
<p>上為末，每一兩五錢，入輕粉二錢，拌勻，大人每服一錢，淡酒調下，辰午戌各一服。後五七日先於牙縫內流黃涎水，渾身覺痛，昏悶如醉，後利下膿血惡臭尿為度。服再造散，當日必利下惡物，或異物或臭，或膿或蟲。蟲口黑色，乃多年者，赤色，是近年。數日又進一服，無蟲乃止，方用</p>
<p>鬱金（五錢，如無升麻代）　皂角（刺黑者）　大黃（泡，一兩）　白牽牛（六錢，半生半炒）　木通　朴硝</p>
<p>上為末，每服半兩，早晨無灰酒面東送下，忌毒食半月，止食白粥，漸至眉毛皮膚如常，甚者三二次而愈。依法調理，不可妄有勞動。終身忌牛馬驢騾雉野味糟臟，犯者再舉，不治。又換肌散，治大瘋年久不瘥，眉毛脫落，鼻梁崩壞，不易取效，用</p>
<p>白花蛇（四兩，酒浸去皮骨）　地龍（二兩，去泥）　當歸　細辛　白芨　白芷　天麻　蔓荊子　靈仙　荊芥　甘菊　苦參　柴胡　沙參　木賊　不灰木　炙甘草　沙苑蒺藜　天門冬　赤芍藥　定風草　何首烏　菖蒲　胡麻子　草烏（去皮臍）　蒼朮　川芎（各一錢）</p>
<p>上為末，每服三錢，以酒儘量為度。</p>
<p><u>第三次治法藥</u>（第二次又不愈用此）</p>
<p>紫花丸用</p>
<p>木香　沉香（各二錢五分）　人參（一兩）　當歸（七錢五分）　天麻（五錢）　皂角刺（五錢）　寸香（一錢五分）　乳香　沒藥（各二錢）　雄黃（五錢）　辰砂（五錢）　肉豆蔻（一枚）　定風草（一錢五分）　還童子（一兩）</p>
<p>為末，作一處包之。</p>
<p>白花蛇（一條，酒浸濕，去頭尾皮骨）　何首烏　荊芥穗　靈仙　蛇床子（各二錢）　麻黃（去根節，二錢）　胡麻子（一錢）</p>
<p>上六味，拌蛇浸一宿，通取出曬乾，仍還原酒浸曝酒盡為度，上藥為末作一處包之。</p>
<p>防風　羌活　甘草　細辛　川芎　獨活　蒼朮　枇杷葉　白芍藥　赤芍藥　白蒺藜　金銀花　五加皮　白芷　苦參（各五錢）　胡麻子　白附子　麻黃　川牛膝　草烏　川烏（泔水浸泡）　石菖蒲（各二錢五分）</p>
<p>上藥為末，作一處包之。以大楓子半斤去殼，新鮮者佳，髮油黃色者不堪用，磁器盛之。封其口，頓沸湯中，鍋蓋密封之。勿令透氣。文武火煎，候黑爛為度，杵無渣如油，入已上三包藥，加元米飯杵膏糊丸，如梧桐子大，曬乾不見火，每五十丸，雞鳴午時臨臥各進一服，茶湯送下。輕者一料可愈，重者三五料，斷根為度。止吃時菜白粥，余物總忌，庶免再發。</p>

<h1>回生錄治瘋法</h1>
<p>夫風者，百病之長，故諸家方論集之於首也。至大麻風雖有三十六種之症，然亦原於六邪，皆不外風寒暑濕燥火，或酷熱，大水，或醉後坐臥迎風，傳入毛竅。或雨雪濕衣霑體，或久冰皮膚，凍頑不知。或遇火烘薰，其氣收於經絡，傳於榮衛。或酒後坐臥濕地，或酒後大熱睡臥深林，恣為涼快。或因濕草地上睡臥，或患者登廁，乘患者之毒。或睡臥患者床褥，或與患人交合傳染。是皆五臟之受其毒，而有青黃赤白黑者，形於面目，見於肌膚。假如心經受病，名曰火癩，其色赤，腳上起紫，眼昏有絲，或如火燒之狀，或斷肢節，眉發脫落。肝經受病，名曰木癩，其色青，遍身紫綠，或有泡起，眉毛不落，面目掩著，如生瘡之狀。脾經受病，名曰土癩，其色黃有浮氣，遍身起黃癬，身有瘡如㾦㿔，形如彈子，或似青毒，漸漸潰爛肌膚，搔癢眉發皆脫。肺經受病，名曰金癩，其色白，眉毛脫落，面如蟲行之狀，遍身如癬如鱗。腎經受病，名曰水癩，其色黑，有瘢，腳底潰漏，四肢少力。此乃毒氣受於內，而形色現於外。又有五死之由。皮死之由，麻木不仁；骨死之由，鼻梁崩塌；筋死之由，指節斷落；血死之由，潰爛成膿；肉死之由，割不知痛。又有二絕不治，肺絕失音，腎絕耳聾，此二者不治之症也。百骨節痛，毫竅出血，名曰𢟳⿰忄息之癬，與腎經同治。初染之時，不以為害，風入皮膚，不知不覺，故流於四肢，傳於五臟，則腠理壅塞不通，因血氣乖離，遂至成症。況有愚人，不知生死之門，恣意貪淫，不節飲食，不避風寒，任意作樂，不信良言，以致不救，深可嘆也。治法列於下。</p>
<p><u>心經受病</u>　，其色紅，遍身起紅色者是也。用　火煎藥方　。</p>
<p>防風　羌活（各四兩）　天麻（三錢）　胡麻（二兩炒）　苦參（八兩，米泔浸）　菖蒲（二兩）　花粉　木瓜　川歸　僵蟲　蔓荊子（去皮）　獨活　升麻　黃芩　菊花　薄荷　蒺藜　檳榔（各二兩）　川芎　地骨皮　前胡　黃柏　荊芥（各四兩）　剪草　全蠍（各一兩）　硃砂（五錢）　枸杞子（一兩）　五加皮（四兩）　大楓子（一斤，去殼）</p>
<p>上為粗末，每服一兩，水煎溫服，渣再煎。欲出汗之前，先服此藥，一帖出汗，用火草藥，四日汗一次，待紅色消盡方止。</p>
<p><u>火草藥方</u></p>
<p>桑葉　荷葉　皂角葉　菖蒲　何首烏　萆麻葉　蒼耳草　豨薟葉　忍冬藤　葎草葉（似天麻而小葉，上有刺而無尖者，各四兩）</p>
<p>上用河水三桶，煎滾熱，用大浴缸一隻，將滾藥湯，傾入缸內，用木架，令患者穩坐其上，外用雞籠罩定，用舊綿被四圍密遮，放頭出外，頭上用衣蓋之。待一時久，不耐坐去罩，即令上床。切勿見風，即服丸藥，戒口為重，直候身無汗方起。次早切勿梳頭，恐風邪引入腦耳，慎之。</p>
<p><u>火丸藥方</u></p>
<p>玄參　枸杞　黃耆（蜜炙）　蒺藜　胡麻　五加皮　花粉　蔓荊子（各三兩）　剪草（二兩）　大楓子（二斤，去殼）　川芎　天麻　全蠍（水浸）　牙皂（各二兩）　防風　防己（各二兩）　荊芥穗　生地（酒洗）　木通　黑醜　當歸　牛膝（酒浸）　黃芩　芍藥　羌活（各四兩）　苦參（八兩，米泔浸）　大黃（一兩）　牛蒡子（五兩）　升麻（四兩）　黃柏（四兩）　木瓜（四兩）</p>
<p>上藥俱為細末，米粉粥打糊為丸，如梧桐子大，每日暮午，空心不拘時，淡湯送下七十丸，或百丸，米湯送下亦可，汗後五日，亦可發汗。凡汗通五臟，出熱邪毒氣，要候糞門口不熱，其毒乃盡，又每日臨睡之時，服萍丹，此能續筋去骨髓之風毒。</p>
<p>萍丹　採萍歌云：不在山兮不在岸，採吾之時七月半，不問癱風與癩風，鐵包頭上也出汗。其功之大，不可盡述。採時須七月中，採起不拘多少，洗淨曬乾，用瓦缸燒灰煉白。又用牙皂煎滾湯，用杓箕以袱鋪內將灰入箕淋水，待味淡，將水入釜內，煎熬成霜。曬萍法，先用水一盆，放在底下，以節曬萍在上，方始得干。不然，雖曬之日久，亦不幹也。又掃屋上無煙處青龍灰，不拘多少，照前藥一樣熬煉成霜。又以大硃砂一兩，綠礬一兩，共裝盛入陽城罐內，以銅皮用針鑽孔，將鐵線纏系瓶口，外用豬毛蚯蚓泥，以鹽水調封固，曬乾，以炭火四圍燒煉。預先以水一瓶，兩口相合，取水火既濟之理，待燒二炷香盡，無煙為度。即退出火取出，研細臨用，加減於後。</p>
<p>鼻塞，萍丹一兩，加牙皂一兩，寸香一錢；身有痛處，萍丹一兩加入羌活二錢，烏藥二錢；有疙瘩塊，萍丹一兩，加血竭一錢；有瘡，萍丹一兩，加入雄黃三錢；麻木不仁，萍丹一兩，加入天麻二錢，淫羊藿二錢，共為細末，臨臥用淡茶送下五分，重七分，切勿見風。</p>
<p><u>肝經受病</u>　，其色青，遍身起紫紅色，或有泡，初得眉毛不落，面目瘙癢如蟲行之狀。</p>
<p><u>木煎藥方</u></p>
<p>大黃　全蠍（各一兩）　連翹　黃芩　地骨皮（各四兩）　升麻（三兩）　川芎　麻黃（各五兩）　黃連　陳皮　牙皂　枳殼（各二兩）　甘草（一兩，炙）　天麻（三兩）　薄荷（五兩）　大楓子（一斤）</p>
<p>有痰，加石膏；有淋，加木通、滑石各三兩；有痛，加羌活、防風、蒼朮、藁本各一兩，上㕮咀，水煎溫服，渣再煎。一七後看仍有紫泡疙瘩，乃血瘀不行，加紅花、蘇木各一兩五錢；眼昏，加菊花、黃柏各一兩；有爛，加血竭一兩；有瘡，加雄黃二兩，苦參三兩；麻木，加淫羊藿、當歸各二兩；面有蟲行，加附子二兩；腹痛，加木香、芍藥各一兩。</p>
<p><u>木草藥方</u></p>
<p>首烏　荊芥　馬鞭草　忍冬藤　槐樹葉　桑葉　苦參　楓樹葉（各四兩）　防風（二兩）</p>
<p>上各味煎湯，薰洗照前法。</p>
<p><u>木丸藥方</u></p>
<p>胡麻（炒）　全蠍（水浸）　蒺藜（炒，各二兩）　甘菊　天麻　殭蠶　黃芩　前胡（各二兩）　菖蒲　蒼朮　厚朴（各四兩）　杞子　苦參（八兩）　荊芥　地骨皮（各八兩）　川芎　木瓜　連翹（各二兩）　黃柏　升麻　檳榔　羌活　花粉　牛蒡（各四兩）　楓子（一斤）</p>
<p>有瘡爛，加雄黃二兩；筋骨疼，加羌活、獨活各二兩；遍身爛，加烏梢蛇一條，（酒浸五日，去頭尾皮骨煮用。）入前藥末，酒糊為丸，晚稻米粉為糊亦可，晨、午、夕，淡茶湯送下七十丸，或百丸。</p>
<p><u>脾經受病</u>　，其色面黃有氣，頑皮久爛，遍身起黃癬，身有瘡，形如彈子，或似青梅，漸漸潰爛，發動肌膚作癢，眉毛脫落。</p>
<p><u>土煎藥方</u></p>
<p>羌活（四兩）　荊芥　赤芍（各一兩）　防風　黃柏（各半斤）　蒺藜（三兩）　黑醜（二兩）　杞子（二兩）　南星　半夏（制）　檳榔（各二兩）　胡麻　全蠍（各二兩）　鼠黏子（四兩）</p>
<p>㕮咀，水煎，空心服。有痰加半夏、花粉各一兩；渴加麥冬、五味子各一兩；熱加黃芩、黃連各一兩。</p>
<p><u>土草藥方</u></p>
<p>松枝　忍冬草　蒼耳　槐　柳　榆　苦參　黃荊　楓樹葉</p>
<p>上各四兩，煎湯薰洗，照前浴法行出毒，同前逐月用之。</p>
<p><u>土丸藥方</u></p>
<p>全蠍　甘菊　海桐皮（各二兩）　白芷　薄荷　黃連　蔓荊子（各二兩）　枳殼　胡麻　蒺藜　大黃　杞子　連翹（各二兩）　牛蒡　黃芩　玄參　桔梗　防風（各四兩）　楓子肉（半斤）　木瓜（一兩）</p>
<p>上為末，酒打晚稻米粉糊為丸，晨、午、夕，空心或米湯，或淡茶送下百丸。眼赤，加硃砂二兩，黃芩一兩；有瘡癬，加雄黃；身有血塊，加血竭、紅花、蘇木各一兩；有氣升而不降，加沉香五錢。</p>
<p><u>肺經受病</u>　，其色白，初起粉色，眉毛先落，面若蟲行，遍身起癬如鱗。</p>
<p><u>金煎藥方</u></p>
<p>升麻　連翹（各六分）　桔梗　黃芩（各五分）　生地（七分）　蘇木（五分）　黃柏（五分）　黃耆（三分）　全蠍（三分）　人參（三分）　白豆蔻（四分）　甘草（二分）　地龍（去土焙乾，五分）　桃仁（三分）　虻蟲（三分，去頭翅）　梧桐淚（一分）　川歸（四分）　水蛭（三分，炒煙盡）　黃連（三分）　寸香（少許）</p>
<p>上藥除黃連、連翹、梧桐淚、豆蔻等，先將寸香、水蛭、虻蟲亦研為末，余藥都作一服，水二杯，酒一鍾，入連翹同煎去渣，入梧桐淚、白蔻、寸香再煎至七分，稍熱服。忌酒面、生冷、鹹味、油膩。</p>
<p><u>金草藥方</u></p>
<p>桑葉　桃枝　楓枝　槐枝　柳枝　松枝　苦參</p>
<p>冬時可加枳殼、忍冬藤。上各四兩，煎湯薰洗，法同前，逐日用之。</p>
<p><u>金丸藥</u></p>
<p>防風　桔梗　羌活　全蠍　獨活　天麻　靈仙　升麻　陳皮　首烏　麻黃　狗脊　川芎　牛蒡　蔓荊（去花，各四兩）　荊芥（八兩）　風藤　川歸（各四兩）　蟬殼　胡麻（各二兩）　楓子肉（二斤半）　雄黃（二兩）</p>
<p>上為末，酒打晚禾米粉糊為丸，一日三服，清茶荊芥湯送下。鼻塞，加牙皂二兩；有痰，加南星二兩制。</p>
<p><u>腎經受病</u>　，其色黑，或腳浮腫，有氣，形如墨瘢，腳底漏潰，四肢少力。</p>
<p><u>水煎藥方</u></p>
<p>防風　羌活　荊芥　黃柏　前胡　地骨皮　五加皮　川芎（各四兩）　天麻　花粉　石菖蒲　木瓜　甘菊　蒺藜　薄荷　胡麻　全蠍　殭蠶（洗軟微炒）　黃芩（各二兩）　獨活　蔓荊（各二兩）　楓子肉（二斤）</p>
<p>上銼，水煎溫服。眼赤，加菊花、木賊各三兩；心熱，加硃砂、麥冬各一兩；皮有黑泡，加血竭二兩；腳有氣腫，加防風、木瓜各三兩；腳軟無力，加牛膝、羌活各二兩；肉爛，加血竭、雄黃各二兩。</p>
<p><u>水草藥方</u></p>
<p>葎草　苦參　麻黃　艾葉（各四兩）　草烏　地骨皮（各二兩）　大蔥（一錢）　花椒（一合）　米醋（一升）</p>
<p>用水二三桶，煎湯薰洗，照前法用之。</p>
<p><u>水丸藥方</u></p>
<p>黃柏　荊芥　地骨皮　蒺藜　防己　黃芩　羌活　獨活　木瓜（各四兩）　防風　升麻　蔓荊子（各三兩）　苦參（六兩）　杞子　花粉　全蠍（各二兩）　木香（五錢）　寸香（五分）　楓子肉（一斤）</p>
<p>共為末，酒打晚禾米粉糊為丸，一日三服，淡茶湯送下。腳有氣腫，加防己、木瓜各二兩；有瘡，加苦參二兩，雄黃一兩，蒼朮一兩；皮膚腫，加連翹二兩。</p>

<h1>金蟬脫殼方</h1>
<p>當歸　川芎　防風　滑石　天麻（各三兩）　芍藥　桔梗（各一兩五錢）　殭蠶　大黃（各二兩）　人參　獨活　山梔　黃連　白朮　蟬退　黃芩　石膏（各二兩）　苦參（四兩）　連翹（二兩）　黃柏（二兩）　細辛（一兩）　荊芥（三兩五錢）　羌活（二兩）　全蠍（二兩）　芒硝　沉香（各一兩）　楓子肉（四斤）</p>
<p>先將楓子肉為膏，余藥為末，用黃米飯打糊和膏，打千槌為丸，如梧桐子大，每服一百丸，一日三服，或茶湯送下。血盛，加澤蘭葉、革巴萆、蚵蚾草各二兩；麻木，加淫羊藿、天麻二兩；血少，加生地、熟地、血竭各二兩；鼻塞不通，不聞香氣，乃血氣不行，不能貫通，以致滯塞，加片腦、硃砂、硼砂、牙硝、玄明粉等分為末，吹鼻內，一日三次即通。</p>

<h1>桃花生肌散</h1>
<p>硫黃　石膏　黃丹　柏皮　乳香（隔紙焙）　沒藥（隔紙焙）　黃連　輕粉　文蛤　螵蛸　全蠍　有水加血竭、兒茶、龍骨。</p>
<p>上為細末，先用蔥椒湯洗淨，軟絹拭乾摻上。</p>

<h1>宣毒通氣丸（五日一次，去臟內熱毒）</h1>
<p>川大黃　江子　條芩</p>
<p>上為細末，麵糊為丸，粟米大，空心面東溫湯吞下十二丸，弱人八九得通，五六次溫粥補之。如不止，煎甘草湯，吃下即止。切忌一應食物，胡椒、生薑、雞子、老鴨、水雞、鵝、羊、犬、豬肉、炙煿、葫蘆、茄子、豆腐、面、醬、梨、李、梅、酒、醋、房事、元米、蓮肉、芡實、山藥，皆不可食。惟淡食調理，為養病之要，謹之。</p>

<h1>藥性簡記（以備隨方加用）</h1>
<p>黃連瀉心火，山梔、黃芩瀉肺火，白芍瀉肝火，柴胡、黃連瀉肝膽火，木通瀉小腸火，黃柏瀉膀胱火，柴胡、黃芩瀉三焦火。</p>

<h1>藥品制用記要</h1>
<p>川芎（水浸）　川歸（水浸一日，微炒）　羌活（生用）　防風（去蘆）　山梔（去殼）　甘草（可生可炙）　胡麻（去土洗，浸一日一夜，九蒸九焙）　天麻（酒浸一夜，濕紙包煨）　青風藤　蒼朮（米泔浸，春五夏三秋七冬十日換水）　熟地（酒洗）　川烏（去皮尖，生用）　白芷　川牛膝（酒浸）　首烏（忌犯鐵器）　蟬退（去足嘴水洗）　升麻　黃柏（去皮蜜炙）　杜仲（去皮，薑汁煮，薑汁炒，斷絲）　藁本（去蘆）　靈仙（去土）　大黃（生熟取用）　荊芥（去根）　連翹（去桔）　苦參（元米泔浸一宿，焙曬）　烏藥　牙皂（焙去皮核）　鬱金　蔓荊（酒浸一宿，焙乾）　全蠍（水浸，去足，翅微炒）　白茯苓　白朮（土炒）　黃連（去毛，蜜炙）　虎骨（酒炙酥炙，焙黃用）　黃芩　人參　乳香（燈草同研）　硃砂　牛黃　寸香（研用）</p>

<h1>預免瘋病方（與患人接近者，服之神效）</h1>
<p>靈仙　何首烏　川革巴萆　蚵蚾草　防風　蔓荊　苦參　川芎　荊芥　澤蘭葉　麻黃　獨活　羌活　甘草　天麻　蒼耳　牙皂　牛蒡子　川歸　北細辛（各淨一兩五錢）　楓子肉（一斤半）</p>
<p>共為末，酒糊為丸，每服四十丸，茶酒送下。</p>

<h1>遍身大爛敷藥方</h1>
<p>蛇床子　雄黃　硫黃　白枯礬　草烏　寒水石（煅）　蜜陀僧（各等分）</p>
<p>為細末，或柏油、香油調塗神妙。</p>

<h1>柏葉丸方（能生眉發）</h1>
<p>用側柏葉，九蒸九曬，為末，煉蜜為丸，一日三服，每服百丸，開水送下。</p>

<h1>黑虎丹（治大瘋並治一切諸風惡疾）</h1>
<p>川烏（去皮尖，麵包煨）　草烏（生用）　蒼朮（米泔浸）　石斛（蒸）　白芷　細辛　防風　麻黃（去根）　首烏　川歸　荊芥（各等分）</p>
<p>共為末，煉蜜為丸，如櫻珠大，每服一丸，隨引。手心腫風褪皮者，天麻湯下；指節破裂，斷節惡瘋，鹽湯下；身生赤點，肺風大重，防風湯下；身上紫點瘋，皂莢湯下；婦人腳麻瘋，雞爪瘋白湯下；大瘋眉毛脫落，冷茶下；癱瘓急瘋，酒送下。</p>

<h1>瘡如樹皮搽藥方</h1>
<p>黃柏　大黃　硫黃（各一兩）　黃連（三兩）　黃芩（四兩）　螵蛸（五斤四兩）　兒茶　赤石脂（各一兩）　楓子肉（一斤）　水銀（五錢）　雄黃（三錢）　輕粉（六錢）</p>
<p>俱為細末，柏油調搽。</p>

<h1>治各瘋配藥法</h1>
<p>丹治瘋者，務須詳細觀察，必各有名。始則五臟染其毒氣，毒歸於內，形現於外，察形觀色，治無不中。若患者輕視緩治，不禁酒色，不忌口食，難矣。</p>
<p><u>柘子瘋</u></p>
<p>初起皮上有疹點，形如柘子樣，周行遍身癢甚，重病配合前用楓子頭四斤，丹用七分，乃心經受病，主而治之。</p>
<p><u>鱔孔瘋</u></p>
<p>初起時因破肉處有出膿水，手爬出血，引風透入經絡，不致散成此疾，配合前心經法治之。用楓子四斤，重者五斤，丹用二錢。</p>
<p><u>漏線瘋</u></p>
<p>初染身上孔出膿血，風入骨髓，傳於四肢，遂成重風，與鱔孔風同治。</p>
<p><u>脫足瘋</u></p>
<p>初因手足破裂，損傷皮膚，風入腠理，大風形黑。與腎經配合治之，用楓子頭三斤，丹用五分。</p>
<p><u>疱節瘋</u></p>
<p>初起因骨節腫痛，或出膿血，因痰所致而作，或手足動處。作成疙瘩，或如梅子，不痛不癢，致成重症。照肺經配合，用楓子三斤，出膿血者四斤，丹用一錢。</p>
<p><u>紫雲瘋</u></p>
<p>初發形如雲，有圈四圍紅爛，大小不一此係重瘋，形現於外，心火大虛。配心經藥，用楓子頭三斤，丹用五分。</p>
<p><u>赤牙瘋</u></p>
<p>初生面上如赤牙尖樣，或沒或現，不時發出，乃心經受毒。用楓子頭三斤，配合心經，丹用五分。</p>
<p><u>紫萍風</u></p>
<p>初起皮上形如紫點相似，或沒或現，數日起一次者，發作無時，又如蚊蚤點形狀，繫心經所染熱邪。用楓子三斤，丹用五分。</p>
<p><u>火煉瘋</u></p>
<p>面上形如火燒，赤色手足熱，睡臥不安，足喜躡冷地，口中無味，風入骨髓，此係重症。配合心經藥，用楓子頭三斤，丹用五分。</p>
<p><u>赤霞瘋</u></p>
<p>身與面形如赤霞豔色，乃熱極甚矣，與前火燒瘋同治。</p>
<p><u>雁爪瘋</u></p>
<p>形如雁爪，或片或散，春深秋間發作，此腠理血不通，系至重症瘋，必先落指甲。配合肺經藥，治用楓子頭三斤，丹用五分。</p>
<p><u>雁來瘋</u></p>
<p>每遇雁來時發作，眉毛落，麵皮皺，手足疼，顏色輕紫，此係重症難治。照肺經配合，用楓子頭三斤，丹用七分。</p>
<p><u>雞爪瘋</u></p>
<p>初生如雞爪樣，有起瘢，熱極骨髓，有麻木難治，繫心經受毒。用楓子頭三斤，丹用三分。</p>
<p><u>白煉瘋</u></p>
<p>初生如花癬樣，亦有其中生瘡爬，初起皮若染濕風，氣入於內。配合肺經藥、用楓子頭二斤，丹用三分。</p>
<p><u>煉眉瘋</u></p>
<p>初起先從眉間作癢，眉毛脫落，攢行骨上作腫，或如蟲行之狀，如風吹髮拂面，一名曰染滋瘋，毒邪入內。用楓子頭三斤，丹用二分半。</p>
<p><u>蛇皮瘋</u></p>
<p>初起形如蛇皮，或黑白二色，起鱗作癢，肌膚粗糙，透入骨肉，皮皺爬燥，乃肺經受邪，系染滋瘋。用楓子頭二斤，丹用二分半加雄黃。</p>
<p><u>牛皮瘋</u></p>
<p>初起形如牛皮，黑色不痛不癢，屬於肺經，至重之症。用楓子頭二斤，丹用三分。</p>
<p><u>疹子瘋</u></p>
<p>初起或似皮下有點，或有或無，至旬而作，或一日又發，乃系腎經受病至重。用楓子頭一斤，丹用二分。</p>
<p><u>白粉瘋</u></p>
<p>初起時皮下作癢，爬動作粉色起，此風入肺經，則成大瘋，發須漸落。用楓子頭二斤，丹用二分。</p>
<p><u>鼓釘瘋</u></p>
<p>初起時手足生大血瘡，如鼓釘樣，或爛或膿潰，或膿血才好，血盛又作，此係心經受毒。用楓子頭一斤，丹用五分。</p>
<p><u>冷水瘋</u></p>
<p>初起時兩腳生瘡作爛，此由汗出時投冷水灌之，浸入毛孔，濕氣不行，毒入腎經受病。用楓子頭一斤，丹用三分。</p>
<p><u>血瘋瘡</u></p>
<p>初生瘡起泡出血，未愈又作，皮下染風濕重，血肉潰爛，熱極骨髓，此心經火盛。用楓子頭一斤，丹用二分。</p>
<p><u>鵝口瘋</u></p>
<p>初起生瘡作痛，熱引諸陽，聚會於面，久則致成大瘋，乃皮染滋瘋入腸極熱之症。用大楓子頭一斤，丹用五分。</p>

<h1>烏蛇丸方</h1>
<p>烏蛇（一條，去皮骨，酒煮）　地骨皮（去土骨）　山梔　白芷　草烏　白附子　胡椒（各等分）</p>
<p>為細末，入楓子油二兩五錢拌勻。如無油，入楓子肉五兩。和為丸，每服三四十丸，溫酒送下，空心食前臨臥，日進三服。</p>

<h1>敷藥方</h1>
<p>黑狗脊（去皮，二兩）　蛇床子（四兩）　寒水石（二兩）　硫黃（六錢）　枯礬　朴硝（少許）</p>
<p>各等分研細末，香油調敷，未爛不必敷之。</p>

<h1>生眉毛藥方</h1>
<p>皂角刺（焙乾）　鹿角（煅存性）　薄荷　蜂房　牛口茨　銀花　天羅藤　地松（各等分）　為末，醋調敷上。</p>

<h1>豨薟丸原方</h1>
<p>豨薟（淨葉一斤，九蒸九曬）　大胡麻（二兩，酒洗蒸）　防風（二兩，去蘆）　生地（四兩，酒浸曬）　白芷（二兩）　羌活（二兩）　白蒺藜（二兩，炒去刺）　獨活（二兩）　荊芥（二兩）　天麻（二兩，麵包煨）　苦參（二兩）</p>
<p>煉蜜為丸，每服四錢，空心陳酒送下。</p>

<h1>加減豨薟丸方</h1>
<p>豨薟（一斤，九蒸九曬，入肝腎二經，補元氣，祛風濕，強筋骨，長眉發，生髮鬢，能宣能補，久服延年）　何首烏（八兩，去渣皮，酒浸，黑豆拌，蒸曬九次為度，要生者一斤製得八兩）　苦參（四兩，元米泔浸一夜，去浮面腥氣，曬乾焙，明目、止淚、去濕、殺蟲，專療大風腸癖）　川牛膝（二兩，補腎氣，除寒濕，引諸藥下行）　淮生地（八兩，竹刀切片，曬焙乾，勿犯鐵器，涼血補陰，去瘀生新）　薏苡仁（四兩，炒，祛風濕，理腳氣，除熱健脾，多用自效）　白蒺藜（八兩，杵，去刺炒，行血下氣，明目治風，補腎止遺）　牡丹皮（二兩，酒洗，除風痹，去瘀血）　大胡麻（四兩，水淘去浮，酒蒸，補陰去風，久服延年）　防風（三兩，去蘆，專治久風惡風，尤解附子毒）　甘菊花（四兩，焙乾，補陰氣，明目聰耳，除胸中熱，去頭面寒、死肌濕痹、目淚頭疼）　枸杞子（四兩，焙，明目補腎，又去皮膚骨節間風，散瘡腫熱毒，久服延年）　川羌活（三兩，去蘆，散八表風邪，利周身節痛，善行氣分以理遊風）　當歸（二兩，去瘀生新，舒筋潤腸）　獨活（二兩，治新舊諸風濕痹，筋骨攣疼，善行血分以理伏風）　云白朮（二兩，九制，腰臍血結，祛周身濕痹，且制胡麻之滑潤）　白芷（二兩，明目散風，祛寒燥，又治頭面但不可久用）　明天麻（二兩，大如茄，麵包煨，活血通竅，治諸風麻痹不仁、語言癱瘓）　荊芥（二兩，行血發汗，療風在皮裡膜外者）　甘草（二兩，炙，亦可生用，解百毒，和諸藥，尤解附子毒）　秦艽（二兩，祛風活絡，養血舒筋）</p>
<p>上為末，用金銀花五斤，煎膏為丸，每服五錢，陳酒或白湯送下，空心午後二次，第二次服，當加人參三兩，去白朮一味。</p>

<h1>浸酒方</h1>
<p>何首烏（四兩，生用，去皮）　川牛膝（一兩）　宣木瓜（一兩，去濕，調榮衛，腰腎腳膝之要藥也）　防風（二兩）　淮生地（二兩）　丹皮（一兩）　蒼耳子（四兩，杵碎，去刺炒）　當歸（二兩）　苦參（二兩）　米仁（二兩）　桂圓肉（二兩）　川羌活（一兩）　秦艽（二兩）　蘄蛇（一兩，去皮骨）</p>
<p>用陳酒不拘斤兩，滿壇隔湯煮，香三炷為度。</p>

<h1>簡便洗浴方</h1>
<p>苦參（一斤）　荊芥（一斤）　防風（四兩）　甘菊花（四兩）</p>
<p>隨意加桑葉、松毛、豨薟葉、金銀花俱可。</p>

<h1>擦藥</h1>
<p>當歸（五錢）　紅花（五錢）　芍藥（五錢）　黃耆（五錢）　甘草　苦參　血餘　白附子　防風　白芷　杏仁（各五錢）　膽礬（三錢，不癢可不用）</p>
<p>上用麻油二斤，同煎，煮藥渣枯黑色，去渣，入白蠟二兩，收為膏，不拘時敷患處。</p>

<h1>紫雲白癜破皮三等瘋方</h1>
<p>防風　荊芥　角針　殭蠶　烏藥　陳皮　麻黃　靈仙　生地　銀花　水煎空心服。</p>

<h1>又三等瘋酒方</h1>
<p>風藤　蒺藜　荊芥　川芎　白芷　胡麻　羌活　獨活　首烏　豨薟　烏蛇（各一兩）　苦參　防風　當歸（各三兩）　川烏　草烏　桔梗（各一兩）</p>
<p>將大酒七斤入瓶內，煮三炷香，出火毒，空心服一杯，日進三服。</p>

<h1>麻瘋出汗方</h1>
<p>甘草（一斤）　麻黃（三斤）　烏藥（十二兩）　乳香　沒藥（各三兩）　防風　荊芥　苦參　蒺藜（各一兩）　殭蠶（一兩）　鬧楊花（四兩）　大胡麻（一兩）　核桃（四兩）　紅棗（一斤）　火酒（一斤）　水（五斤）　蟬退　全蠍（各二兩）　烏蛇（一條）</p>
<p>共入罐煮三炷香，出火毒吃。</p>

<h1>仙傳急救麻瘋法</h1>
<p>但有人犯此症者，全體頑麻，肉死割切不痛可治，皮死麻木不仁不治。骨死鼻塞可治，筋死手足脫落可治，血死遍身燥爛，外腎並腫可治。凡三喪不治，心喪兩目失明，肝肺喪失聲，腎喪兩耳聾塞。除此三喪，急治之，皆效，先服靈明散。</p>
<p>檳榔　大黃　貫眾　黑醜（半生熟，各一兩）　雷丸（五錢半）　角刺（灰，一錢五分）　大戟（一錢五分）</p>
<p>共為末，用皂角煎膏為丸，每服三錢，空心冷茶送下。天明瀉下，或蟲或積，但見青黃赤白蟲可治，黑蟲難治。用淨盆小便看之，如碎麩皮相似，過三日後再服。</p>

<h1>妙應黑白散</h1>
<p>凡人身中有一萬八千屍蟲，共成在人身。體中若無屍蟲，人身不立。復有諸虛諸積，黃病諸瘋，若犯之非害人身也，或眉發脫落，遍身生瘡，痛焠作癢，日久如魚鱗者，服此藥立效。</p>
<p>烏梢蛇　白花蛇（各四兩，用中段酒浸一宿，去皮骨）　大川烏（一兩五錢，切碎）　何首烏　草烏（三兩，川烏用麻油浸一宿，取出去油，炒乾用）　薄荷　荊芥（各五兩）　木香　芍藥　當歸　防風　白芷　天麻　川芎　羌活　獨活　甘草（各一兩）　乳香　沒藥（各五分）　自然銅（醋煅七次，為末，三分）</p>
<p>如虛弱中年，將大黃、荊芥、羌活各退用十味為末，每服一錢。夏天冷酒送下，冬天熱酒送下，日進三服，午時茶送下。一半為末，一半糊丸，如桐子大，每服一錢二分，清茶送下，末藥酒送下，雙日服末，單日服丸。</p>

<h1>除瘋丸</h1>
<p>楓子（一斤，酒浸，秋冬五日，夏三日，研碎入藥）　人參（五錢）　防己　沒藥（各一兩）　官桂（五錢）　白芍（一兩）　荊芥（一兩）　防風（一兩五錢）　當歸（一兩）　獨活（二兩）　羌活　玄胡索　大黃（各一兩）　蟬退（七錢）　蒼朮（一兩）　半夏（一兩五錢）　薑黃　麻黃　乾薑（各一兩五錢）　甘草（一兩五錢）　柴胡　枳殼　石楠葉（各一兩）　黑醜（一兩五錢）　杏仁（去皮尖）　烏藥　地骨皮　乳香　陳皮（各一兩）　黃芩　胡麻（炒，各二兩）　香蛇（一兩）　黃柏　苦參（各二兩）　川甲（七錢五分）　黃連（六錢五分）　甘菊（二錢二分）　靈仙（五錢）　蔓荊子（一兩，炒）</p>
<p>共為末，老米粉為丸，每服五十丸，空心酒送下，日進三服。</p>

<h1>大瘋退熱散（大寒之劑，必倒脾胃，若非火熱，不可輕試）</h1>
<p>麻黃（二兩）　石膏（二兩）　滑石（三錢）　白芍（一兩五錢）　薄荷（二兩）　黃芩　山梔（各二兩）　白朮（二兩）　獨活　羌活　連翹（各二兩）　大黃（三兩）　歸尾　朴硝（各二兩）　為末，每服三分下。</p>

<h1>洗浴方（治瘡癬如魚鱗之形或癢痛，皆可治之）</h1>
<p>首烏　苦參　荊芥　防風　朴硝　地骨皮（各一兩）　艾葉　桃　槐　柳（各四兩）</p>
<p>先將上四味打碎，用水一鍋，與前亦六味同煎，數滾去渣淋洗。浴後，服前藥一服，百日可愈。如年久深遠，風毒惡瘡，俱可洗之。</p>

<h1>治疼痛走注瘋症方</h1>
<p>精德烏　草烏（各二兩）　首烏（二兩）　南星　自然銅（醋煅五次）　靈脂　松香　地龍（去皮，各一兩）　木鱉子（一兩，切碎，水浸一宿，去殼末）</p>
<p>如麻瘋不知疼痛，加川山甲五分、蛤粉同炒，入藥拌曬乾，酒浸後為末，水丸如彈子大，曬乾細嚼，好酒每服送下一丸。如麻木處用刀破出血。若遍身生痛作癢，川芎煎酒送下。此藥不可多服，忌房事、毒物、鹽、醬、生冷。</p>

<h1>金棗丹（治諸般麻瘋並痛瘋頑麻癱瘓）</h1>
<p>川烏（去皮）　防風　雄鼠屎（各五兩，炒）　獨活　蒼朮（泔水浸三日）　蔓荊子　荊芥（各四分）　木香（三兩）　羌活　細辛（各二兩）　全蠍（一兩，去尾）　雄黃（一兩五錢）　當歸（一兩）　萆麻子（三兩）　甘草（二兩）　乳香（一兩）　番木鱉（二兩，酥油蜜炙）　首烏（四兩）　殭蠶（六兩，炒）　藁本（四兩）　沒藥（一兩）　草烏（二兩）</p>
<p>共為末，元米粉糊為丸，金箔為衣，好酒送下。量大而壯者一錢，弱者五分，末尤妙。此藥數服，不可見風。忌豬、羊、鮮魚、發風等物。</p>

<h1>治瘋丸</h1>
<p>蒼朮（半斤，四制）　皂角（一斤，酒拌，九蒸九次）　當歸（二斤，酒洗）　苦參（一斤）　豨薟（一斤，曬乾，蜜酒拌，蒸九次曬乾）　為末，酒蜜為丸，每服二錢，老酒送下，日進三服。重者一月，輕者二十日可愈。</p>

<h1>升煉擦藥方</h1>
<p>大楓肉　方八肉（二味研）　蛇床子　萆麻仁　檳榔　黑醜　殭蠶　紅花子　大麻子　白芥子　棉花子　芝麻　雄黃（各二兩）　硫黃（一兩）　黑豆（一升）</p>
<p>各為末，用油胡桃肉半兩，將前藥拌勻，共入罐內。槐枝條塞滿罐口，四面用鹽泥封固。如法開坑，先將大碗一隻，放在坑內，次將藥罐，倒令將罐口對碗口，四面鹽泥固好，外用磚砌八眼爐，圍藥罐在中。四圍桑柴火燒罐底，三炷香冷定。取出將油退火毒，擦瘡患，妙極如神。</p>

<h1>統治三十六種瘋疾神方</h1>
<p>蒼朮（泔水浸，酒炒）　麻黃（去蘆，各三兩）　白朮（麩炒，三兩七錢）　草烏（一兩半，甘草麻黃制）　防風　細辛　甘草　首烏（各二兩）　白附子　雄黃（各五錢）　川芎（三兩七錢五分）　靈仙　羌活　全蠍　白芷　蜂房（有子用）　天麻　遠志（各三兩）</p>
<p>共為末，每服一錢二分，要發汗服一錢七分。臨睡熱酒送下，以醉為妙。</p>

<h1>萬靈龍蛇換骨丹（專治三十六症大麻瘋症神效仙方）</h1>
<p>防風（一兩五錢）　乳香（五錢）　沉香（三錢）　木香（五錢）　甘松（一兩五錢）　大黃（二兩五錢）　苦參（一兩五錢）　沒藥（三錢）　白芷　紫背浮萍（七月中取）　天麻　蒼耳子（各一兩五錢）</p>
<p>將前藥十二味為末聽用。麻黃二兩，將滾湯泡過，用泔水念碗，浸三日三夜。取出打爛，浸藥水煮三五滾，去渣，煎成膏子。將前藥末打為丸，分作一十八丸。將陳酒一碗用藥打碎，入罐內重湯煮一炷香，取出服之。取汗避風方好，後用前項擦藥。</p>

<h1>除根丸藥方</h1>
<p>羌活　獨活（各六兩）　兩頭尖（三兩）　寸香（五錢）　草烏（二兩）　胡麻（半斤）　荊芥　蒼朮（各七兩）　靈仙（六兩，酒洗）　石菖蒲（六兩，酒洗）　木通（三兩）　當歸（八兩）　虎骨（二兩半，炙）　苦參（一斤）　藁本（六兩）　殭蠶（二兩）　蟬退（半斤，酒洗）　白芷（六兩）　杜仲（五兩，鹽水炒）　連翹（六兩）　蒺藜（半斤，去刺）　硃砂（七錢七分）　黃芩　生地（六兩）　楓子肉（二兩，炒）　升麻（四兩）　風藤（五兩）　首烏（六兩）　天麻（五兩）　牛膝（半斤）　全蠍（六兩）　細辛（四兩）　川芎（三兩）　山梔（半斤）　蔓荊子（六兩）　蒼耳子（半斤，取肉）</p>
<p>共三十六味，管三十六種瘋疾，共為末，老米粉為丸，每服二錢好酒送下，白湯亦可，日進三服。</p>

<h1>治大麻瘋仙方</h1>
<p>用大肥鴨一隻，餓一日。將赤練蛇一條，切碎，麻黃四兩，羌活四兩，大附子三兩，寸香一錢，共為末，用好酒一碗，陳米二升拌勻，作三四日餵鴨。待後鴨毛將落盡，殺之煮爛，去骨，加川烏、草烏、紅花、蟬退各一兩，豨薟草、當歸、白花蛇、金銀花各四兩，土茯苓五斤，發灰二兩，伏龍肝五錢，共為末，和鴨與酒，糊為丸，桐子大。每服六十丸，加至百丸止，好酒日進二服。</p>

<h1>治大麻瘋洗浴取蟲法</h1>
<p>取大公雞一隻，帶血撏光，去毛肚淨，下鍋多水煮熟，先以毛湯濾清，俱入浴缸內，洗浸長久得透。又用前湯再洗透，拭乾，以新青布被單蓋之，上用綿被，或夾被蓋，須臥得安穩，量病人酒量多少，飲醉睡去，遍身出汗，看其被上細白蟲無數，出盡全愈。再服養氣活血，去風順氣之藥。忌房事、發風動氣等物，百日可愈。雙目昏黑，眉發自落，鼻梁崩倒，肌膚瘡爛，不可救效。方用皂角針三斤，九蒸九曬為末，煎膏為丸，每服二錢，白湯送下。十日眉發自生，肌膚潮潤，眼目復明。</p>

<h1>大麻瘋發汗洗浴方</h1>
<p>松毛（十斤）　防風　荊芥　川椒（各一兩）　皮硝（四兩）　蔥汁　薑汁（各一盞）　野菊花　鬧楊花（各一大把）</p>
<p>將元米柴燒灰，淋水二三桶，煎前藥，令患人入浴缸內重洗，待汗出透為度。未浴前先服防風通聖散，加麻黃五錢，蔥五根，姜七片，煎服後，方可洗浴出汗。</p>

<h1>雄漆丸（治瘋如神）</h1>
<p>好漆一斤，醬蟹半斤，打爛取汁，煮漆待乾，煙盡為度，乾漆四兩，配明雄黃半斤共為末，豨薟草煎膏為丸。每服一錢，好酒送下。極重半斤，輕者四兩為限。</p>

<h1>豨薟膏（入肝腎二經，補元氣，祛風濕，明耳目，久服延年）</h1>
<p>九月九日採得，去根連莖葉細銼，打爛取汁，煎煉成膏，以甘草熟地煎膏，煉蜜三味收之。酒調服，功妙不可盡述。</p>

<h1>曹邑宰傳酒藥方</h1>
<p>石衣（半斤，洗淨）　當歸（四兩，微炒）　羌活　秦艽　獨活（各四兩）　烏芝麻（半兩，微炒）</p>
<p>用煮酒十斤，浸數日，早晚服之。</p>

<h1>治口眼歪斜立效方</h1>
<p>川烏末，用蟮血調勻敷患處，左歪貼右，右歪貼左。</p>

<h1>治半爿頭痛瘋方</h1>
<p>用苦葫蘿煅灰，每服一錢，好酒送下。先要大缸內洗浴後，服藥出汗即愈。</p>

<h1>治大麻瘋神效驗方</h1>
<p>大胡麻（一斤，炒）　小胡麻（一斤，炒）　苦參（一斤，米泔洗曬二次）　大楓子（一斤，去殼，取肉，砂鍋煮熟，用燈草押去油，研碎入藥）　當歸（四兩）　白朮（四兩，土炒）　白芷（四兩）　白蒺藜（四兩，去刺）　牛膝（四兩，酒洗）　荊芥（四兩）　蘇州白菊花（四兩，去根蒂）</p>
<p>共曬乾，磨成極細末，水發為丸，或米糊為丸，如綠豆大，每服四錢，粗茶送下。無論時候，日服三次。忌豬肉、肝腸、雞子、鮮魚、鴨子、赤豆、麵食、南瓜、茄子、牛、羊、鵝、犬肉、白酒、火酒，並房事、一切發物。如此四年，可全愈矣。</p>

<h1>治癱瘓烏龍方</h1>
<p>川烏（五錢，炮，去皮尖）　五靈脂（五兩，淘去砂）</p>
<p>二味共為末，加冰片少許，寸香一分，共為細末，滴井水為丸，如皂角子大。每日五更、臨臥各服一丸，以薑汁化開，好酒調服，一日二服。疾輕者，數日見效。一年以上者，一月可愈。</p>

<h1>治鵝掌風方</h1>
<p>檳榔末（一錢）　硫黃（五分）　川椒末（五分）</p>
<p>共為末，用醃豬油調搽，以側柏燒煙薰之。又方，檳榔、冰片，用糠油調搽。取糠油法：用糙米糠勿曬乾，將大碗三隻，碗麵上用綿紙糊蓋，待其干，將糠升許堆尖，用火自上燒下，隔紙寸許，便去糠，碗中便有油矣。其子上有水窠，將針細細挑穿，用以擦上，三五次可愈。</p>

<h1>愈瘋丸（治白點瘋）</h1>
<p>生漆（半斤，用蟹五隻，竹刀切碎，拌漆內，濾去渣，煮三炷香）　豨薟（半斤，九蒸九曬）　蒼耳草（淨仁，四兩）　雄黃（五錢）　苦參（六兩）　防風（四兩）</p>
<p>共為末，將前漆水為丸，如桐子大，每服十五丸，加至五十丸，七十丸止。忌生冷、豬、羊、鵝肉等物為妙。</p>
