<header data-type="book">
<h1>毓麟驗方</h1>
</header>

<h1>正文</h1>
<p><u>徐果亭先生試驗神方</u></p>
<p>松子　柏子　韭菜子　牛蒡子　蛇床子　女貞子　菟絲子　棗仁子　大附子（用童便浸三日，刮去皮，曬乾，銅刀切）　棉花子</p>
<p>以上等味各四兩，研為細末，用大麥一石，洗淨，搗去皮殼，將藥分作十份，每麥一斗用藥一分，拌勻，將小母雞十隻，雄雞一隻作一籠罩住，不令閒走，將藥末所拌麥略濕餵養，待其生蛋，每服三枚，用藥酒送下，服之兩月，必然有孕（雞用一月外者）。</p>
<p><u>送蛋藥酒方</u>（男人服）</p>
<p>麥冬　天冬　當歸　人參　生地　茯神</p>
<p>以上六味各五錢，用陳黃酒十斤，將藥用絹袋包入壇內，重湯煮三炷香為度。</p>
<p>父時母地種子法（專以父年為例）：</p>
<p>男女俱雙月生者，雙月入房；單月生者，單月入房。男單女雙者，用單月；男雙女單者，用雙月妙。</p>
<p><u>種子紅藥連城丸</u></p>
<p>罌粟花（二兩，米泔水浸）　排草（五錢）　桔梗（六錢）　枸杞子（五錢）　吳茱萸（八錢）　廣木香（五錢）　甘松（五錢）　三奈（八錢）　川椒（一兩三錢）　干桂（五錢）　鴉片（四錢）</p>
<p>浸少許，拌勻，浸蟾酥二錢，研末，人乳泡、母丁香五錢，打碎另包，同藥浸一宿，取起。蛤蚧一對，剪碎，研末，火酒四兩浸透。以上各藥先用甜水浸一宿，次早將藥併入銅鍋內，煎熬滾透，不時取起，必候川椒白色為度，然後將藥渣用絹濾去淨。其藥水再入鍋內，熬至成膏，即入鴉片、蛤蚧、原浸之火酒共入熬，少片時納成膏，再入酥，不可久熬，將煎過濾出蛤蚧、丁香渣焙乾，研極細末，入膏藥內，丸如綠豆大，硃砂為衣。此丸能種子堅固，久戰不泄。用時將燒酒或吐津化開，先一、二時搽龜莖行事，溫水洗去。入爐妙難盡述。</p>
<p><u>老奴丸</u>（一名蒼龍丸）</p>
<p>此方服起止可用五、六分。</p>
<p>此方成都府崔磨玉無子，欲服此藥修合，未服而死。有老奴七十以上，腰腳疼痛，曲脊而行，褚氏與此藥服之，其老奴語褚氏曰：自服此藥深有靈驗，諸疾悉痊，房事如少壯之人。於是與褚氏通焉，後有孕。一日褚氏事露，其家母親視之，切究其由，得其實道，打死此老奴。因折其腿骨，髓漏皆如金色，多試有驗，是名老奴丸。此藥專助陽事，如欲解者，飲涼水三口。年高氣衰虛耗，風濕腰腳疼痛，並宜服之，最為靈驗。添精補腎虛，去冷除風濕，扶衰更起陽，虔誠好修合。秘密莫傳揚。假之保元氣，延壽得安康（一方無桑螵蛸、當歸、沉香）。</p>
<p>木香（五錢）　燈草（二錢）　大蜘蛛（七個）　胡桃肉（另研）　蓽澄茄　車前子（炒）　馬蘭花（酒浸）　牡蠣（大鍛）　萆薢　韭子　木通（以上各一兩）　山萸肉（去核）　補骨脂（酒浸）　桑螵蛸（酒浸）　全蠍（去毒）　龍骨（以上各一兩）　母丁香　紫霄花　肉蓯蓉（酒浸）　菟絲子（酒蒸）　蛇床子　白茯苓（去皮）　仙靈脾　八角茴香　巴戟（去心）　遠志肉（去心）　當歸（以上各二兩）　沉香（七錢）　乾漆（炒去煙，三兩）　熟地黃（五兩）</p>
<p>上藥煉蜜為丸，如桐子大，每服三十丸，空心溫酒送下，七日見效。如無婦人者勿服（一方有五味子，無燈草）。</p>
<p><u>又種子奇方</u></p>
<p>須擇壬子吉日，在於山中修合，忌婦人、雞、犬見，兼帶春意。如不欲子，不必擇日，亦不必忌。</p>
<p>此方乃福建福州府陳尚書，七十無子，罄將萬金家財濟貧救危。一日悶坐檐下，思無兒繼後，不覺淚流，忽見一老者，皓首童顏，從中門而進，告曰：愚老特送種子奇方至。其宦答之，吾陽事久不舉矣，總有妙方，服之無益。老者云：此藥專助陽補精，名為助陽益母丸，用之必添貴子，乞請試之。其宦忙進取銀十兩相謝，一時不見老者，以為怪。即便照方試用，果然連得四子，皆為顯官。此乃濟貧積德之感報也。藥共十一味，各等分，俱為細末，煉蜜為丸，如白豆大。候婦人經水淨一日，將一丸納於陰戶，半時辰藥已融化，陰精未盡，心花已開。又將一丸以津塗玉莖上，然後交感，陽物長大堅硬，比向倍戰，男婦爽快，妙難盡述，無有不受孕者也。此藥兼治婦人白帶、小腹冷痛，男子夢遺可止，陽萎可興，大有功效。但得此方非易，余刊濟世，辛珍重之。求子者，保養一月，倘興期不正，另按脈調經，經正方效。藥味開後：</p>
<p>菟絲子　蛇床子　番木鱉子　白芨　砂仁　肉桂　杏仁　川椒　吳茱萸　細辛　母丁香</p>
<p>每味三錢可合，菟絲子不為末，煮爛，搗在藥末內。</p>
<p><u>種子金丸</u></p>
<p>此方治婦人血淋、白帶、陰瘡、陰蝕蟲，並解楊梅瘡毒。每一次用一丸，去臘皮，納入陰戶。如欲種子，須候行經將淨後，連用一、二服，即便住手，恐已受胎。反忌香氣，如月經停，須防受胎，不可再用，倘經又至後，再如前法，如有別用，不妨再投。</p>
<p>樟腦（六兩，用瓦三塊，分三處放炭火上，候煙吐即移下換，易成霜，用六錢）　蘇合油（一兩）　麝香（三錢）　高良薑（五錢）　官桂（三錢）　水安息（五錢）　蛇床子（不拘多少）</p>
<p>將水安息、麝香、蘇油三物研爛極細，加入諸藥，用煉蜜為丸，如黃豆大，用蠟封之。</p>
<p><u>種子金丸</u></p>
<p>從來艱於生子，每服熱藥，故不惟身受熱毒，且生子多患血熱腸。此方參、附為君，佐以和暖祛毒，每日不論感與不感，不拘酒，水磨少許，抹陽上，臨事溫水淨去，或納些臍中，藥性溫暖，用必日久月長，方使真陽漸旺。丹田壯者、強痿者、起種子、祛毒，實有神功。每錠重五分，可用十餘次天。兼治蠍蟲、蜈蚣咬傷，塗患處即愈。又治水瀉痢疾神效，塗臍內少許。</p>
<p>人參（一兩）　當歸（一兩，與參合煎濃膏）　蟾酥（一兩）　川附子（一兩）　蘇合油（一兩）　母丁香（一兩）　川烏（五錢）　草烏（五錢）　輕粉（五錢）　山豆根（三錢）　蛇床子（五錢）　真龍骨（二錢，色紅者佳）</p>
<p>將藥再篩為細末，參歸膏和成錠子。如干用白芨末煎膏，濕加蛇床子末，不拘多少。</p>
<p><u>如意線方</u></p>
<p>川椒（五錢）　白芷（五錢）　罌粟殼（一錢五分）　黃柏（一錢五分）　官桂（錢半）　麝香（二分五釐）　蟾酥（八分，用人乳化開）</p>
<p>先將桂、芷、椒，罌用火酒二湯碗煮透，以椒無辣味為度，將粗白絲線八錢沒藥汁內，煮半乾取起，照後入麝香、黃柏、酥和勻，覆沒線浸之，取起，聽其陰乾，再浸再幹，以汁完為度。臨用一、二時前，或燒酒或津液潤之，縛莖上，臨行去之。一線可用二次，解欲婦人津液嗌下即解。其線用一尺長。</p>
<p>房術：乳香　沒藥（各五錢）　蟾酥（蔥汁拌）　肉桂　鎖陽（各三錢）　大附子（五錢）　冰片（三分）</p>
<p>將蟾酥用蔥汁蒸化為末，丸如綠豆大。臨用紙包一丸，入腰褲內，暖氣賴之，用津吐化，搽龜頭上，一、二時熱湯淨之，入爐。</p>
<p><u>長龜方</u></p>
<p>小茴香（二錢）　桂心（二錢）　柏子仁（三錢）　黑附（二錢）　白朮（二錢）</p>
<p>每一日酒服三次，重二錢，止服七日，不可再服。</p>
<p><u>秘傳壯陽固精酒奇妙方</u></p>
<p>淫羊藿（一斤，剪邊去毛）　羯羊尾（大者連肉，重一斤）</p>
<p>頭鍋滴花燒酒十斤，先將羊油四兩，細炙羊藿，共入壇內，用箬封口，紮緊，重湯煮一日夜，即一周時取出，入泥壇內，埋七日，出火毒。每黃昏時飲一杯，入房交媾通宵，金槍不倒，玉莖便如鐵，固精不漏如神，種子易長，真神妙方也。</p>
<p><u>滌痿興陽湯</u></p>
<p>肉蓯蓉（二兩，肥大者）　陽起石（研末，一兩，要雲頭兩腳鷺絲毛者）　仙靈脾（二兩）　三奈子（二兩）　大附子（一個，重一兩餘者，皮臍俱去）　官桂（二兩，肉桂尤妙）　蛇床子（一兩）　大茴香（一兩）　韭菜子（二兩）　木通（五錢）　補骨脂（二兩）　真川椒（去目揀淨，一兩）</p>
<p>前藥和勻，作粗末，分作十帖，每帖用水二杓，煎十數沸，去渣，加麝香五釐，乘熱浸洗玉莖良久。每日洗三、四次，十日後自然奇妙異常。</p>
<p><u>安息香聞香起馬方</u></p>
<p>真鴉片（一錢）　檀香（二錢）　毛香（二錢）　麝香（五分）　風仙子（一錢）　白頸蚯蚓（七條）　螻蛄（七個）　榆樹皮（末一兩）</p>
<p>上用黃雄狗腎拌勻，做成安息香點之，聞者皆舉。</p>
<p><u>治腰痛神方</u></p>
<p>當歸身（一錢，酒洗）　川芎（一錢）　白芍藥（一錢）　懷熟地（一錢）　金櫻子（一錢）　淫羊藿（一錢，去邊）　大石斛（一錢四分）　杜仲（薑汁炒斷絲，一錢）　牛膝（一錢一分）　人參（不拘）　枸杞子（一錢八分）　川仙茅（一錢，制）　遠志肉（一錢）　杏仁（一錢）　炙甘草（一錢）　白茯苓（一錢）</p>
<p>如腰痛岔氣，倍加杜仲；腿疼加牛膝。一連服十劑，間一日又服一劑，以後每月服六劑，五日一服。</p>
<p><u>補腰益腎壯元陽補血氣聖方</u></p>
<p>菟絲子（酒浸，蒸曬，一兩五錢）　枸杞子（酒洗，一兩五錢）　白芍藥（酒炒，二兩）　懷熟地（一兩）　懷生地（一兩）　當歸身（一兩，酒洗）　軟黃耆（一兩，生用）　黃柏（八分）　韭子（一兩）　白茯神（一兩，去骨，焙）　遠志肉（一兩，去心，甘草煮）　山萸肉（一兩）　廣陳皮（一兩，去白）</p>
<p>上為末，酒打麥糊為丸，如桐子大，空心每服一錢五分，淡鹽湯送下。治男子諸虛百損，五勞七傷。暖丹田，添精髓，壯元陽，滋腎水，種子之仙方也。</p>
<p>用菟絲子不拘多少，酒浸蒸一晝夜，用好酒時時灑，蒸爛，取出搗成膏，為餅焙乾，為細末，用雀卵清為丸，如桐子大，每日七十丸，空心好酒送下。年至五十及痿者，每菟絲子末一斛加天雄四兩，以麥裹，火鍛熟，削去皮臍，切成四片，童便浸透，慢火焙乾，入菟絲子末，同服之，尤效。</p>
<p><u>補腎種子丸</u>（兼治中脘疼虛弱）</p>
<p>生地（八兩，研砂仁入酒，九蒸九曬）　丹皮（三兩，酒蒸）　五味子（三兩）　歸身（三兩，酒洗）　淮山藥（四兩，乳拌多次）　蓮蕊（五兩）　枸杞子（四兩）　茯苓（三兩，去皮，乳拌）　肉蓯蓉（四兩，酒洗，竹刀刮去毛甲）　魚鰾（六兩，蛤粉炒）　菟絲餅（四兩，酒蒸）　鹿膠（五兩，酒化入蜜）　山萸肉（四兩）</p>
<p>煉蜜丸，桐子大，每晨服三、四錢。製藥勿用紹酒，用三白豆酒、花露酒。</p>
<p><u>九靈丹</u></p>
<p>此藥滋陰固腎，理脾清金，種子益壽。虛勞者至寶，藥性和平，常宜服之。</p>
<p>一治靈龜不振，二治振而不實，三治實而不勇，四治勇而不威，五治威而不堅，六治堅而不久，七治久而精寒，八治寒而無子，九治有子不齊。</p>
<p>白茯苓（要極堅厚者為末，水飛二次，去筋膜，用人乳浸曬，夜露七次焦乾，二斛足）　懷生地（肥大者，酒浸，蒸如黑漆，人乳浸，曬九次，曬乾，一斛足）　天門冬（肥大透明者，去心淨，酒浸九次，曬乾，一斛足）</p>
<p>用黑鉛十斛，煉至一斛，入桐油半斛，又煉至半斤，入雄黃一兩，川椒五錢，附子一兩，共為細末，同煉淨，鉛傾成圈子，用上好燒酒十斛，土茯苓、淫羊藿、雄黃、硫黃各二兩，母丁香五錢，鴉片五錢，蓯蓉、附子各二兩，共為細末，同酒煮圈子，酒干為度，用麝香一匕用之。</p>
<p><u>梅香春意足</u></p>
<p>鴉片（三分）　蛇床子（五分）　赤肉桂（三分）　陽起石（五分）　胡椒（三粒）　麝香（半分）</p>
<p>以上六味，研極細末，津調搽莖處，每次用一分。</p>
<p><u>壯精丸</u></p>
<p>此方不舉者能舉，不堅者能堅，不大者能大，不固者能固。初服只可一、二錢，乃養龜之法。如欲行房，先一、二時以火酒送下三錢，即堅大無比，如忌火酒，即老酒亦可。</p>
<p>懷熟地三兩（人乳、酒蒸）　懷生地一兩（酒煮）　懷山藥（三兩，人乳拌）　枸杞子（三兩）　杜仲（三兩，酒、醋、鹽炒）　覆盆子三兩（酒炒）　淫羊藿三兩（羊酥炒）　川巴戟二兩（酒蒸）　厚赤肉桂（二兩）　蛇床子（二兩）　北五味（一兩）　砂仁（一兩五錢）　鎖陽（二兩）　芡實（二兩五錢）　蓮鬚（二兩五錢）　山萸肉（三兩）　陽起石（二兩）　蓯蓉（四兩，酒洗，去鱗甲，酒煮）　川附（一個，重一兩二錢，先將甘草水煮熟，後用童便煮至肉無白星，方可入藥）</p>
<p>上將諸藥俱焙乾，研極細末，用蜜三斛，煉為丸，如桐子大，每服空心送下，其效如神。</p>
<p><u>七制補骨脂不老方</u></p>
<p>制時用三伏龍陽氣，曬時用米篩，安絹，下放水缸，取坎離交養之義，非泛泛房術比也。</p>
<p>補骨脂一斤，插去薄衣，曬七日。一次用糯米一升，浸泔，平浸一宿，漉起曬七日乾；二次用黃柏二兩，煎濃汁，去渣存汁，浸一宿，漉七日乾，三次用杜仲四兩，或用半斤，煎濃汁，浸一宿，曬七日乾，四次用青鹽二兩，研碎，將骨脂搗成細末，和曬七日乾；五次用胡桃肉半斛搗爛，將故紙拌勻，曬七日乾；六次用上白魚膠半斛，切寸，用蛤粉一兩，拌炒成珠，播淨，和前藥，曬七日；七次用白蜜二斛，將前藥和勻，搗千杵，丸如桐子大，清晨每用淡鹽湯。初用二錢，後漸三錢，如覺燥，用鱉、雄雞湯潤之，七日見效。陽氣發生，須保養百日，則先天正氣接續不窮，固精壯陽，種子不老，功效無比，不可輕傳。丸後須用瓷瓶貯放濕地七日可服。</p>
<p><u>搖鞭丸</u></p>
<p>治陽物久倒不起，或思慮過度，或因血氣不足不起。此方驗過。用馬戶物一根（一尺一寸者佳），分為十一寸，瓦上焙乾為末，放在床上，挨身之下，放十一日外，此末有二兩，加沉香一錢、威靈仙一兩、覆盆子一兩，共為末，燒酒打糯米糊丸，如棗核大，空心六、七丸，滾水下。</p>
<p><u>延壽獲嗣仙方</u></p>
<p>鹿茸為君，味甘酸。又云：苦辛，氣溫，無毒，活血散淋，治癰腫骨疽，療虛勞羸瘦，四肢腰脊痠疼，腳膝無力，小便利，男子泄精，女子崩中，赤白帶下。角，味鹹，氣溫，主惡瘡癰腫，留血在陰中，小腹急痛，腰脊痛，折傷，惡血，尿血，婦人夢與鬼交。取末，和酒服，即出鬼精。鹿角膠，和骨髓，蜜煮壯陽，令有子。肉，氣溫，補中益氣。腎，補中壯陽。</p>
<p>用鹿角二十斤（新鮮嫩色者佳），鋸廿段，劈開，以水泡三、四日，刷盡黑泥，盛錫瓶內，扎口懸胎，重湯煮三日夜，取起，泡取淨汁，入銅鍋內，緩火久熬，即成膏矣，熬膏開後：</p>
<p>真川仙茅一斤，粟米水浸一宿，木甑蒸一炷香。如此三次，以黑為度。味辛，氣溫，有毒，米泔水浸去汁用，忌鐵器及牛乳、黑牛肉。主腳腰風冷，攣痹不能行，丈夫虛勞，老人失溺。益陽道，助筋骨。　</p>
<p>人參（一斤，去蘆，切碎），君，味甘，氣溫微寒，無毒，反藜蘆。安神定魄，止驚悸，生津，通血脈。治五勞七傷，虛損，肺脾陽氣不足，虛喘乏力。肺寒宜用之，肺受火邪咳嗽者禁用。</p>
<p>天門冬（一斤，去心），君，味甘苦，氣平大寒，無毒。凡用去皮、心，治肺氣咳逆喘急，消痰，通腎氣，止渴，療肺痿，生癰，吐膿血，熱侵肺，吐衄妄行，瀉肺火，利小便，冷而能補。</p>
<p>枸杞子（一斤，去蒂），味甘，氣微溫，無毒。主熱中消渴，堅筋骨，強陰，益精血，明目，療皮膚骨節間風，及風眼赤痛。</p>
<p>麥門冬（一斤，去心）君，味甘微苦，氣平微寒，無毒。治口乾渴，心肺熱，虛勞客熱，通脈，保神，補心氣，治血妄行，瀉肺中伏火，療肺痿吐膿。</p>
<p>真黃精一斤，竹刀切片，蜜水洗淨，木甑蒸一柱香，忌鐵器。味甘，氣平，無毒。益脾胃，潤心肺，除風濕，補勞傷。</p>
<p>上六味共一處，均作四分，每分藥二十四兩，次用水十二斤，煎熬約有一半時，將渣撈起，再用水六斤，煎熬一半，候汁取完，將渣搗爛，入滾水內泡，扭去渣，方將三合汁，銅鍋內文火漫浸成膏，瓷器盛之，聽用。</p>
<p>為丸末藥開後：</p>
<p>大生地十二兩，酒浸一宿，用益智仁二兩，拌勻，砂鍋、木甑蒸一柱香，去益智仁，君味甘苦，氣寒，無毒，忌鐵器、萊菔。地黃微溫，大補血衰，滋腎陰，益氣力。主血虛勞熱，產後臍腹痛。生地大寒，涼血生血，補腎水、真陰不足，主婦人崩中不止，及產後血上薄心，胎動下血，瘀血、衄血、吐血。胃寒者斟酌用，痰膈不利者，薑汁炒用。制淨，只用八兩。</p>
<p>懷山藥（四兩，炒），臣，味甘，氣溫平，無毒。長肌肉，止腰痛，滋陰，補心肺不足，療煩熱，澀精，治健忘。</p>
<p>生芡實（四兩，撿淨，炒），味甘，氣平，無毒。主溫痹，腰脊膝痛，補中益精氣，強志。</p>
<p>覆盆子四兩（去蒂，酒蒸）臣，味甘，氣平微熱，無毒。主男子腎虛，精竭陰痿，又能令發不白，女子食之有子。</p>
<p>真沙苑蒺藜（四兩，酒蒸），君，味苦辛，氣溫微寒，無毒。治風明目，破惡血，療喉痹、乳難、身體風癢、肺痿、小兒頭瘡，止遺瀝、泄精、溺血。</p>
<p>菟絲子（淘淨，四兩），酒蒸搗。君，味辛甘，氣平溫，無毒。療虛寒、腰痛膝冷，補精強陰，堅筋骨，治莖中寒，精泄尿血。</p>
<p>以上六味，滋養真陰，益腎生精。</p>
<p>白茯苓（四兩，去木），臣，味甘淡，氣平，無毒。</p>
<p>柏子仁（紙包，壓去油）四兩，君，味甘辛，氣平，無毒。用扁葉者，名側柏。主驚悸，益氣血，治恍惚、虛損、腰重痛，潤腎燥，去頭風，興陽道。</p>
<p>山萸肉（五兩，酒洗，微焙），味酸澀，氣平微溫，無毒。凡用去核，能澀精補腎，興陽堅莖，添精，止小便，暖腰膝，療耳鳴，止女人月水不定，老人尿不節。</p>
<p>以上三味，培心經不足之血瘕，山萸榮肝而心血始生。</p>
<p>肉蓯蓉（嫩肥大者，酒洗去鱗甲及內白滷，新瓦焙乾，取末）三兩，味甘酸，氣微溫，無毒。強陰益腎，暖腰膝，續筋髓，補命門相火。治男子絕陽不興、泄精、尿血、遺瀝，女子絕陰不產、血崩、帶下、陰痛。</p>
<p>補骨脂（鹽水浸一宿，黑芝麻同炒，去麻）三兩，主四肢疼痛，骨髓傷敗，陽衰，腎冷精流，腰膝痛、囊濕及婦人血氣。</p>
<p>按二味假鹿膠、仙茅之力，益命門真陽之精。</p>
<p>牡丹皮四兩（酒拌炒），主虛勞骨蒸，瀉陰火，除癥堅、瘀血留腸胃不散，衄血吐血，女子經脈不通，血瀝，腰疼，產後一切冷熱血氣，療癰瘡，排膿止痛。</p>
<p>浮小麥（取淨末）四兩，炒，除熱，止燥渴，利小便，養肝氣，治暴淋，止盜汗，治骨蒸肌熱，女人勞熱。</p>
<p>以上二味，清醒胃氣，毋令一毫混雜，邪氣存蓄於中，使補血、生精、益氣等藥，盡復於本源矣。</p>
<p>何首烏（竹刀刮去皮，切片，黑豆煮汁拌，蒸焙乾）四兩，忌鐵器。雄者赤，雌者白，須雌雄並用。主瘰癧，消癰腫，療頭面風及腰膝痛，益血氣，黑鬚發，長筋骨，補精，令人有子。</p>
<p>女貞實（去皮，酒拌，蒸焙乾）四兩，補中養精神，蜜酒拌，九蒸九曬，服之黑鬚發。</p>
<p>以上二味，滋養真陰，烏須烏髮。</p>
<p>以上共為細末，用前鹿角膠十兩，藥膠十八兩，頓開，攪勻，和蜜為丸，如桐子大，每早百丸，用太極膏調湯送下。服此丸以補先天之不足，晚服資生丸健脾消導。</p>
<p>熬太極膏方開後：</p>
<p>人參（一斤）　枸杞子（一斤）　天冬（一斤）　麥冬（一斤）　生地（一斤）　金釵　石斛（一斤）</p>
<p>酒洗，另熬汁三次，去渣，入藥汁同熬成膏。能壯筋骨，療腳膝軟弱，強陰益精，長肌肉，治胃中虛熱、皮膚邪熱。</p>
<p>前五味共一處，均作四分，熬汁三次，存汁於甕，渣搗爛，入滾水內，鈕汁候完，入鍋內緩火慢熬成膏，收入瓷罐內，每早任意用一、二匙，黃酒化開，或滾水亦可，服前丸藥。</p>
<p>丸藥內加川斷三兩，酒浸用。調血脈，療金瘡、癰腫，止痛生肌，續筋骨。治婦人乳難產，及崩中漏血、腰痛、小便縮、泄精，溫小宮。</p>
<p>張真人祈子法：</p>
<p>蘇老泉曰：洵嘗於天聖庚午年重九日，至玉局觀無礙子卦，肆中見一畫像，筆法清奇，云：乃張仙也，凡人乏嗣者，求之，有感必應。因解玉環易之，洵此時尚無子嗣，每日露香以告，求之四年，乃生軾。又二年生轍，性皆嗜書，乃知真人急於接物而無礙子，言不妄矣。故識其本末，使後之祈子者，於此加敬。云眉山蘇洵謹識。</p>
<p>一祭品用細糯米粉，團如彈子大，煮熟，染五者：青、黃、赤、白、黑五般，棗湯三盞，茶湯三盞，果三品，酒三盞，鹿脯一方，香一爐，燭二炬。如無鹿脯，以羊代之。祭文一通，紅紙書之，黏板上，置於香案，祭畢，揭焚之。祭期用春秋上旬吉日，或祭丁日亦可。</p>
<p>一祭儀擺列齊整，須夫婦列拜，先行四拜，禮詣香案前，三上香，三進酒，禮拜真人寶誥七遍，志心皈命禮。</p>
<p>文昌示化嗣錄典官伏羲，升錢感老人之鐵彈，西湖垂釣，得度世之仙方，邪魔見彈以藏蹤，疫癘聞風而遠殄，咸池無犯天狗，何傷禱。應眉山兆三蘇之靈裔，法傳雷杼周四目之神君，嗣求永賴以綿長，宗派因之而不絕，有求必應，無顧不從。</p>
<p>大慈大悲，大仁大孝，靈應祖師，廣恩錫嗣，白鶴得道真人。</p>
<p>拜完取告文，跪讀訖，置於香案，再拜四禮，揭告文，於香爐內焚之，俯伏叩三首起，作揖而退。</p>
<p>一告文式：維，某年歲次，某甲某月某日，某人，敢昭告於：</p>
<p>真人曰：惟神好生，化行四海，某，忝居末品，艱於嗣息，謹依遺教，瞻奉尊顏，仰望。</p>
<p>神慈曲從愚顧，謹依品儀，用申告祭，尚響，若得子而祭，則改仰望為仰賴，曲從為曲，遂告祭為報祭。真人惟尚淡，不用錢馬。</p>
<p><u>補腎仙方</u></p>
<p>菟絲子（一斤）　山藥（四兩）　枸杞子（四兩）</p>
<p>煉蜜為丸。</p>
<p><u>神效種子丸</u></p>
<p>遵方修合，服之必有孕。</p>
<p>吳茱萸　白芨　白蘞　白茯苓（各一兩）　牛膝　細辛（各五錢）　菖蒲　白附子　當歸（三錢）　厚朴　桂心　人參（各四兩）　乳香（三兩，去油）　沒藥（四兩）</p>
<p>上擇壬子日修合，煉蜜為丸，如紅豆大，每服十丸，空心好酒送下。男子服之，補精益氣；孕婦服之，即生雙胎，無夫者，不可服。</p>
<p><u>禿雞丸</u></p>
<p>四川太守七十無子，服之連舉三子，其妻陰痛，憎藥之功，撇撒於地，公雞食之，每日狎雌雞數十次，頭毛皆禿故名。</p>
<p>肉蓯蓉（酒浸）　蛇床子　五味子　遠志肉　蓮蕊　木香　山藥　沉香　益智（各一兩）</p>
<p>蜜丸如桐子大，空心酒下三十丸。</p>
<p><u>降珠丸</u></p>
<p>黃天官妾，年廿七歲，服藥二十七天有孕。余藥送同僚秋侍郎妻，年三十四歲，服之一月有孕。魏檢討妻，年四十，服之四十日有孕。</p>
<p>秦艽　桂心　杜仲　防風　厚朴（各三分）　牛膝　沙參　乾薑　製半夏　白蘞（各五錢）　附子　白茯苓（各一兩五錢）　人參（一兩）　細辛（一兩一分）</p>
<p>蜜丸　綠豆大，每服三十丸，空心米湯下，有孕勿服。</p>
<p><u>陰賊方</u></p>
<p>母丁香　麝香　乳香（去油）　沉香</p>
<p>等分為末，上藥津吐為丸，如桐子大，每用一丸入陰戶，一丸入馬口，進爐少住一、二刻，行事如意。</p>
<p>又方：五倍子　遠志（各二錢）　蛇床子（三錢）</p>
<p>各為末，以二、三釐，津塗玉莖，入戶而行，不必解。</p>
<p><u>金玉連環</u></p>
<p>遠志　蛇床子　紫霄花　鴉片　肉桂　細辛　起陽石（各二錢）　麝香（五分）　川附（制）　鎖陽（鵝油炙）　母丁香（各三錢，蔥汁浸蒸）　川蛤蚧（一對，頭尾俱全）　蟾蜍酥（人乳制過，一錢）　海狗腎（一個）　雲南蟲（兩對）</p>
<p>上各研極細末，煉蜜丸，如梧子大，石青為衣。用法：申時吐津調化，搽在龜頭玉莖上，待乾方可行走，臨時溫水洗去藥末，入爐暫停一會而行，每用半丸，不用解。</p>
<p><u>如意丹</u></p>
<p>官桂　木鱉子（去油）　白礬（七分）</p>
<p>上藥各一錢，水五碗，煎三碗，男女俱洗莖、戶而後舉動。</p>
<p>又方：母丁香　子丁香（俱曬乾為末，各一錢）　鴉片（藏腰邊待乾）　蟾酥（切片，火酒半鍾，浸三日，各五錢）　冰片　淫羊藿（一錢，酥制羊油亦可）　麝香（五分，為末）　蔥　姜（各汁三匙）</p>
<p>上將蟾酥研爛，夾水煮一炷香，次下母子丁香、淫羊藿，再夾水煮三滾，然後下鴉片、麝香，再煮一滾，將干方下蔥、薑汁，待滾下冰片，離火，攤油紙上曬乾，入瓷瓶內封固，不可出氣，每用一釐。同時日中以火酒一匙研化，搽上，待乾而行走，臨干時必須以溫水洗淨莖上之藥，然後入爐。一方加金櫻子三錢，一方加龍骨二錢在內。</p>
<p>又方：海螵蛸　赤石脂　遠志肉（炒，各一錢）　沙苑蒺藜（炒，二錢）　草烏（九分。麵包裹煨）　蛇床子（炒，二錢，以上俱先下）　石燕　蛤蚧（各一對，火酒煅五次）　紫霄花（炒）　木鱉子（去殼）　龍骨（火酒煅）　蓮蕊（各三錢）　陽起石（火酒煅一次）　鎖陽（炒）　牡蠣（鍛，各二錢）　（以上第二次下）　桂心（一錢）　蚯蚓（瓦上焙燥）　鴉片（各二錢）　晚蠶蛾（四對，焙）　母丁香（曬乾為末）　淫羊藿（酥油制，各三錢，以上第三次下）　蟾酥（五錢，燒酒一鍾浸三日，研碎）　雄狗膽（一個，入麝二錢，攪勻，懸風中七日為度）　冰片（二錢）</p>
<p>以上各藥俱為極細末，先將蟾酥傾入白飯碗內，夾水煮一滾，將各藥依次而下，煮數滾，再加蔥、薑、蒜汁各三匙，待滾放，方離火，攤油紙上，如香茶搽，陰乾，收瓷瓶內，不可出氣，每用一釐，悉照前方之法。</p>
<p><u>暖臍膏</u></p>
<p>陽起石　蛇床子　香附子　韭菜子　硫黃　麝香　大楓子肉（各五分）　土狗（七個，去翅羽，炒）</p>
<p>蜜丸豆大，油紙封臍內，欲泄則去之。</p>
<p><u>種子金丹</u></p>
<p>地龍（即蚯蚓，要白頸者，為雄三條，去泥曬乾）　細辛（一錢，研炒）　紫霄花（一錢，研，曬乾）　母丁香（五分，曬乾研）　訶子肉（一錢）　龍骨（一錢）　雄二蠶蛾（七個去翅、足，尾尖者為雄）　肉桂（一錢）　蟾酥（一錢，酒浸曬）　蛇床子（一錢）　仙茅（曬乾，一錢）　胡椒（十粒）　淫羊藿（一錢）　生附子（一錢，曬乾）</p>
<p>為末，燒酒為丸，黃蠟為衣，申時用燒酒調化，擦陽物莖上，晚熱水洗去，一粒可用二次，不用解。忌燒酒，吃則痿而不泄也。</p>
<p><u>固陽丹</u></p>
<p>荊芥　乾薑　艾葉　柏子仁　棗仁　甘草　益智仁　枸杞</p>
<p>各等分，研極細末，每服三錢，只服七日。</p>
<p>又方：紫霄花　官桂　母丁香</p>
<p>研細末，各二分，津塗莖上，甚久長。</p>
<p>又方：白枯礬　乾薑　蛇床子　狗骨灰　胡椒（各二分）</p>
<p>研末，津調塗莖上。</p>
<p>又方：以六、七年種韭菜地上掘出蚯蚓，以新瓷碗底用竹片圈之，將蚯蚓入內，上用麻布蓋之，又以輕粉篩在上面，則蚯蚓出汗而自死，即以蚯蚓曬乾為末，搽龜頭上，久而自泄。</p>
<p>又方：一粒丁香八粒椒，細辛龍骨海螵蛸，蟾酥豆大一粒兒，二八佳人擺折了腰。</p>
<p>一次用三釐，各等分，津吐塗莖上，出爐自解。</p>
<p><u>固堅散</u></p>
<p>附子（三錢）　母丁香　蟾酥（各二分）　麝香（一分）　鴉片（一分）　紅頭頸蚯蚓（五條，瓦上焙乾）</p>
<p>上為末，津調搽莖上二、三分。</p>
<p><u>強壯丸</u></p>
<p>母丁香（三分）　樟腦（一錢）　土狗三個（去足、羽，炒）　獨蔥（一個，去皮）　麝香（一錢）　金絲木鱉（一個，去皮油）　硫黃（一錢）</p>
<p>共為末，入芋艿內，同蕎麥麵裹之於糯米飯上，蒸熟取出，搗爛為丸，如桐子大，每用一丸，入臍內，以膏貼之，待藥行自舉而後戰，戰久煩厭，去藥則泄矣。</p>
<p><u>第一妙錠</u></p>
<p>真川附（焙乾）　川烏（炒，各一兩）　草烏　明雄　蘇合油（各五錢）　紫霄花　五倍子　山茨菇　大厚肉桂　蛇床子　金絲木鱉（去油，各三錢）　母丁香　蟾酥　水安息（各八錢）</p>
<p>共為細末，以白芨熬膏，和藥入臼內，搗千杵為度，印為錠子。每用時先於午刻，酒磨二、三釐，搽頭莖內，待其自干，不得走擦。至晚將欲行事，必須洗去。此第一妙藥，非比尋常，臨陣自知其妙，不可形容。</p>
<p><u>楊妃不寐方</u></p>
<p>蓽茇（五分）　北細辛（六分）　黃丹（三分）　川椒（四分）　麝（五釐）　飛礬（一分）　蛇床子（一錢）</p>
<p>七味研極細末，蜜丸，如黃豆大，嵌入馬口，送入陰戶，然後行事，不惟耐久，更能種子。</p>
<p><u>益腎丸</u></p>
<p>沉香　乳香（去油）　沒藥（去油）　菟絲子（各五錢）　小茴香（一錢）　破故紙（五錢，酒浸）　核桃（四十個，去殼）</p>
<p>共為末，煉蜜為丸，如桐子大，空心酒下三錢，久服其效不泄。</p>
<p><u>真人保命丹</u></p>
<p>酸棗仁　人參　白茯苓　天門冬（酒浸，瓦上焙燥）</p>
<p>以上各三錢為末，臨臥酒下三錢，力可通霄。</p>
<p><u>鐵鉤丸</u></p>
<p>熟地　肉蓯蓉　樟腦　冰片（各三錢）　滑石（二錢）　海馬（一對，炙）　雄麻雀肉（一個，去嘴、爪，止取淨肉，不可見水，用鹽、酒浸過，焙乾為末）</p>
<p>以上各為末，蜜丸，桐子大，每服三十丸，乳香湯送下，略飲酒少許，服至九日，玉莖漸長，九日後則不衰矣。</p>
<p><u>許大師種子方</u></p>
<p>歸身（四兩）　鹿茸（三兩）　淫羊藿（八兩）　甘枸杞（四兩）　仙茅（八兩）</p>
<p>共為粗塊，入絹袋內，懸壇中，入無灰酒二十斤，用面封口，重湯煮三炷香為度，將藥取出，曬乾為末，煉蜜丸如桐子大，酒埋地中七日退火氣，每早晚空心飲酒數杯，吞藥數十丸，初服藥酒時戒房事二十一日，至廿一日之後隨飲，行一月一泄，探囊種子，其效如神，晚上必須服藥後方吃晚飯。</p>
<p><u>聚精丸</u></p>
<p>黃魚膠（白淨者，一斤，切碎，用蛤粉炒成珠）　當歸身（四兩，白色者佳）　沙苑蒺藜（八兩，馬乳浸二宿，隔酒蒸一炷香，取起焙乾）</p>
<p>上為細末，煉蜜丸如桐子大，空心服，每服八、九丸，溫酒、滾水俱可下，忌食魚並牛肉。一方加蒺黎三兩。</p>
<p><u>舌底藏春</u></p>
<p>好人參切作豆大，用生雞蛋一枚，搗孔出黃，只留蛋清在內，入參於中，仍封固，同放在哺小雞蛋筐中，令母雞伏之，俟小雞出時陰乾，臨行事時將一片藏舌底下，春意勃然，不可名狀。</p>
<p>又方：以一枝大參放入蛋中，哺之三次，以參含口內，採戰不泄更妙。</p>
<p><u>千金一釐散</u></p>
<p>人參、歸身各四兩，川椒二兩（用水熬膏），再加蟾酥四錢（人乳拌浸四、五次），麝香一錢。上藥攪勻，收貯瓷器內，封固不泄氣，臨事用一釐，搽頭上一個時辰，方以溫水洗去，然後行事，其效不可殫述。</p>
<p><u>黑驢丸</u></p>
<p>黑驢內外腎一副（俱全，用竹刀切薄片，酒洗淨血水，曬乾，用桑葉或柳葉鋪，蒸一炷香，取起曬乾，用陳壁土炒，再埋地內一炷香，取出研末）　大黃豆芽（一斤，童便煮熟，曬乾）　京黃米（八合，炒黃）　黑芝麻（八合，炒）　石蓮肉（六兩，去心）　山藥（八兩）　白茯苓（四兩）　乳香（三錢，去油）　硃砂（三錢）</p>
<p>上為細末，用雄豬肚一個，去油淨，將前末藥裝在肚內，蒸五炷香，搗爛如泥，丸如龍眼大，曬乾，臨晚酒下一丸。如藥散難丸，加蜜少許亦可。</p>
<p><u>暖爐解癢丸</u></p>
<p>以吳茱萸裝滿牛膽內，陰乾，去膽皮，將茱萸研末，煉蜜為丸，如龍眼小核大，納陰戶可以解癢，其暖如火。</p>
<p><u>補元起潛秘製神丸</u></p>
<p>人參　魚膠（赤石脂拌炒）　枸杞子（各八兩）　鹿茸（酥炙透）　山萸肉（炒）　杜仲（炒，斷絲為度）　韭子（炒）淫羊藿（去邊，羊油炙）　雄蠶蛾（焙乾，去頭、足、翅）　沙苑蒺藜　鹿角膠（各四兩）　赤何首烏（各十兩，切片，此二者俱要大而鮮者，黑豆九蒸九曬）　五加皮　蔥子（炒）　巴戟天肉　野薔薇子　淮生地　肉蓯蓉（酒洗鱗甲淨）　覆盆子（各三兩）　大茴香（一兩，炒）　羚羊角（四兩，鏟末用）　破故紙（六兩，炒）　川牛膝（酒洗焙乾）　益智（炒）　遠志肉（甘草水浸，炒）　當歸身（酒洗焙乾）　桑螵蛸（焙乾，各二兩）　黑驢（內外腎一具全副，用水洗淨，黃酒煮熟，切片，新瓦焙乾為末，不可爛）　黃狗內外腎（五具全副，用水洗淨，黃酒煮熟，切片，新瓦焙乾為末，不可爛）　鴿蛋（百枚，酒煮，切片，焙乾為末，帶殼用）　大鱉頭（一個，連頸至甲邊切下，微用酒煮乾，為末）　哺退雞蛋（七枚，帶殼酒煮，焙乾為末）</p>
<p>上三十七味，各依法制為末，煉蜜，和鹿角膠為丸，如梧子大，每服三錢，每早晚二服，以酒送下。至一月有奇驗，若能久服，弱體變強，筋骨精壯，服四十日即止，故早晚二服也。如得常服，則晚不必服。此係太內秘方，外加海狗腎一具、附子（制好）二兩，其效更速。又用人云：鹿角膠一味，換石斛四兩，酒浸一宿，蒸，曬乾為末，桑螵蛸當用四兩，用桑葉煎湯，拌濕過宿，上下用桑葉鋪蓋，蒸一炷香，焙乾為末，瘦長者方真。</p>
<p><u>種子宮神方</u></p>
<p>生附子　紫蘇　甘草　甘遂　薄荷　樟腦　陽起石</p>
<p>上七味各一錢，共研細末，用新瓦杯入藥末在內，又蓋一新瓦杯，上下合緊，旋轉無縫，用米醋調面封固其口，入炭火內，先試微火，後加旺火，煉一炷香，其丹升於杯上，去火存性，即行取下。外加麝香一分、冰片一分、蟾酥一分，共研細末，搗大蔥白取汁，同蜜為丸，如綠豆大，以鉛粉為衣，收干，入錫瓶內，黃蠟封口，每於未申之時用一丸，加津唾，將丸於龜頭上擂丸為度，不可入於馬口，臨行時用溫水洗去，然後行事，出爐片刻，復入即解，此經久種子之良方也。</p>
<p><u>雙美丹</u></p>
<p>母丁香（二錢）　紫霄花（三錢）　桃毛（一錢）　麝香（三分）　紫茄花（鮮，一兩，曬乾）　真鴉片（一錢）　白龍骨（二錢，火鍛）　石榴皮（乾燥，三錢）　鎖陽（一兩，酒浸三日，曬乾）</p>
<p>上九味為末，用白蜜為丸，如芡實子大，以右手中指入爐中少停，交戰用九淺一深之法，不用解，即名美人一錠金也。</p>
<p><u>雀兒餅</u></p>
<p>專治男子諸虛百損，五勞七傷。暖丹田，添精髓，壯元陽，滋腎水，種子之仙方也。</p>
<p>菟絲子不拘多少，酒淨，蒸一晝夜，用好酒時時曬蒸爛，取出搗成膏，為餅，焙乾為細末，用雀卵清為丸，如桐子大，每日七十丸，空心送下，年至五十及痿者，每菟絲子末一斤，加天雄四兩（附子制之得法則可，若雲天雄則斷不可也），以麵裹，火煅熟，削去皮臍，切成四片，童便浸透，慢火焙乾，入菟絲子末同服之尤妙。</p>
<p><u>神效洗方</u>（程梓園驗方）</p>
<p>鎖陽（一錢）　陽起石（二錢）　蓽茇（一錢五分）　石榴皮（五錢）　淫羊藿（一錢）　紫霄花（一錢五分）　蛇床子（一錢）　生附子（一錢）</p>
<p>長流水七碗，煎三碗，早晚洗，如冷再熱，再洗每日洗三、五次，陽事大起，妙難盡述。</p>
<p><u>又洗陽方</u></p>
<p>蛇床子　地骨皮　紫荊皮　紫霄花　防風</p>
<p>甘松、烏梅肉、藿香、川椒（李相傳仇方），痿加丁香三錢，鴉片三錢。九種藥等分各一兩，研細末，每一次將藥末一兩投入夜壺滾湯內，用小竹籤攪勻，浸陽物放入壺中二、三刻，候湯溫冷方止。次晚將壺於銅鍋上溫熱，如前浸洗，七日後另換，浸時洗更好。</p>
<p><u>制環方</u></p>
<p>照前方，用黑鉛三斤溶化，投入前藥一種，藥過取出冷定，埋土一宿；再溶化，又入藥一種，取出冷定，埋土一宿。如此九次，九藥俱盡，每種藥三兩，足一圈，次打成鉛條制環，合前藥九種，同煮鍋內，定三炷香取出，埋地一宿，安在瓶內封固，用時取出。</p>
<p><u>十精丸</u></p>
<p>枸杞子（天之精）　地黃（地之精）　甘菊花（日之精）　茯苓（月之精，人乳浸一宿）　天冬（星之精）　菟絲子（金之精）　肉蓯蓉（水之精，酒浸一宿）　川椒（去子，火之精）　山萸肉（土之精）　官桂（木之精）</p>
<p>各等分兩為末，麵粉為丸，如桐子大，每服二十丸，空心淡鹽湯送下。此藥平淡，無忌又無毒，不問老少，服之大有精神。</p>
<p>又　緊乾妙方</p>
<p>用綠皮生柿子，剝皮來用，不拘多少。用好南酒浸透，掛在無日色處風乾，每一兩用五味子十粒，生白礬四錢。共研極細末，以吐津為丸，如圓眼大，先一、二時入爐內，緊妙難言（少加麝香）。</p>
<p><u>杏花天方</u></p>
<p>菟絲子　蛇床子　五味子　陽名子</p>
<p>各一兩為末，酒糊丸，綠豆大，無有不效。能治老人陽痿不堅，功力最大。</p>
<p><u>引動春</u></p>
<p>百花蕊（曬乾，一兩）　柳絮花（三錢）　鬧羊花（三錢）　紫霄花（三錢）　麝香（一分）</p>
<p>共研細末，用一錢於酒、茶內或飯內，則其情自動矣。</p>
<p><u>玉燕投懷膏</u></p>
<p>用真川附子一個，重二兩外者，用竹籤鑽眼孔，四周上下鑽遍，以黃酒半斤，統貯瓷罐內，煮一炷香，不可多煮。虎脛骨二錢（酥炙）、真沉香二錢、真紫霄花一錢、龍骨一錢、麝香三錢、海螵蛸二錢。先將此六味研極細末後，和附子搗如泥，分作四十丸，不可增減，每常可用一丸塞在臍中，外用膏藥圈封固，免其泄氣，如欲泄，須三日前先去此丸。</p>
<p><u>陰陽大造丸</u></p>
<p>用初已連蠶蛾一對，將地下肥蔥一枝不可拔起，去尖，將蛾不可拆開，塞入蔥管內，以線扎固蔥尖，俟蔥略有黃色取起，掛透風被蔭處，不可見日，等蔥乾透酥脆取下，碾為細面，加當門子等分裝好，不令出氣。用時將少許津塗龜弦上，片刻即起。欲解，用朝松羅茶葉嚼爛，以唾嚥下即解，二人俱要吃。</p>
<p><u>暖臍膏</u></p>
<p>母丁香不拘幾個、川附子一兩，煎數次，研末，入麝香少許，如豌豆大，置平常膏藥內，貼之臍上行事妙。</p>
<p><u>助陽丹</u></p>
<p>黑芝麻（一斤，要皮肉俱黑者）　淫羊藿（一斤，羊油酥炙，銅刀去邊毛、梗）</p>
<p>共為末，搗爛，蜜丸如彈子大，每日清晨服一丸，鹽湯下，久戰不泄。</p>
<p><u>十三太保</u></p>
<p>龍骨（一錢，酥炙）　柏子仁（一錢，去油）　母丁香（一對）　當歸（一錢）　熟地（一錢）　虎骨（一錢，酥炙）　肉桂（一錢）　鎖陽（一錢）　附子（一錢，蔥煮）　茯神（一錢）　鹿茸（六分）　仙茅（一錢）　全體肥短人參一枝</p>
<p>上十二味藥，水一碗，煎八分，渣煎六分，用布將渣絞乾，共合一處，微火熬至四分，入茶鍾內，用人參浸藥汁內，重湯煮之，汁干為度，取參風乾，用第一次新下熱雞蛋一個，穿一小孔，去內黃白，放參在內，以桑皮紙封固，與母雞抱，俟蛋裂為度，大約抱雞須六、七隻為妙，喂母雞用黑芝麻，黑料豆炒熟，打碎拌以硫黃喂之。吃參一分，可當一兩。服此參分余，助陽堅久，久戰不泄。</p>
<p><u>還元固本蛋</u></p>
<p>用小母鵝七隻，長大頭生雞蛋七個，第一日用三斗白米煮，蛋熟成飯取起；第二日再用三斗米，添蛋一個同煮，共二蛋；第三日再用三斗米，添一蛋同煮，共三蛋。以至七日，共煮過七蛋。第八日吃第一蛋，第九日吃第二蛋，以至十四日，吃盡七蛋，陽物堅久，長大一倍，有三倍之功，添精長髓，久戰不泄。</p>
<p><u>久戰方</u>（試驗）</p>
<p>番木鱉子（三十個，用麵裹，茅草里燒灰存性）　炒黑山梔（三錢）　蟾酥（三錢）</p>
<p>共為末，銀盒裝好，貼身溫帶，不可冷放出氣，每用三釐搽龜莖上。</p>
<p>生髮：側柏葉不拘多少，陰乾，和油塗之，其發驟生且黑。</p>
<p>滑陽：榆白皮曬乾為末，凡行事艱澀，以津調少許抹玉莖上易入。</p>
<p><u>玉容散</u></p>
<p>白殭蠶（三錢）　白附子（二錢）　豬牙皂角（四兩）　藿香（三錢）　陀僧（五錢）　三奈（五錢）　白芷（五錢）　麝香（少許）</p>
<p>共為末，每日酒調，洗面如玉。</p>
<p><u>香玉散</u></p>
<p>白檀　排草</p>
<p>各一兩為末，暑月汗出常用，傳身遍體生香。</p>
<p>壯陽：用天蘿子、韭子、蒜子、蔥子、蘿蔔子，以韭菜地白頸蚯蚓一條，照蚯蚓所重分量，即與前五子等分，煎湯，俟水溫時，將陽浸在湯內，一鍾熱茶時候取出，次日紅腫不妨，三日消好則壯大矣，不可再泡，恐長大不止。</p>
<p><u>紅粉妝</u></p>
<p>杏仁（去皮，二錢）　滑石（二錢）　輕粉（二錢）</p>
<p>共蒸過為末，入冰片五分，胭脂調勻，曬乾，洗面畢，雞子清調搽臉，紅膩動人。</p>
<p><u>生光散</u></p>
<p>密陀僧（如金色者，一兩）</p>
<p>研極細，用乳或蜜調和如薄糊，每夜略蒸熟，搽面，次早洗之，半月後面如玉鏡，兼治鼻渣，宮中第一妙方。</p>
<p>洗面如童：大棗（七個）　黃柏（三錢）　木瓜（二錢）</p>
<p>各炒勻，煎湯洗面，旬日後容面如童。</p>
<p>容面：好水粉（五錢）　白果（十個）</p>
<p>共搗爛，搽面如桃花色。</p>
<p><u>桃花粉</u></p>
<p>宮粉（十兩）　密陀僧（二兩）　銀硃（五錢）　白芨（一兩）　寒水石（二兩）　麝香（一錢）</p>
<p>共為末，雞子清調瓷罐，蜜封蒸熟，取出曬乾，再研細極，水調搽面，顏色如桃花。</p>
<p><u>梨花妝</u></p>
<p>宮粉（十兩）　密陀僧（二兩）　輕粉（五錢）　蛤粉（五錢）　白檀（二兩）　麝香（一錢）</p>
<p>共為細末，每日雞蛋清，和水調搽，面色如梨花。</p>
<p><u>香油</u></p>
<p>油（二斤）　白芷　甘松　三奈　細辛　藁本　紫草（各五錢）　排草（一兩）　威靈仙（四十條）　鹿角菜（二兩）　合油（二錢）　丁香（二錢）　廣零（五錢）</p>
<p>共入油內，隔湯煮四炷香，再曬七日，加冰片一錢。</p>
<p><u>香茶餅</u></p>
<p>孩兒茶（四兩）　桂花（一兩）　薄荷葉（一兩）　硼砂（五錢）</p>
<p>甘草膏做餅，口含嚥下，美味香甜。</p>
<p><u>遍春宮</u></p>
<p>母丁香（八粒）　鴉片　蟾酥（各二錢）　麝香　白芨（各五錢）</p>
<p>共為細末，燒酒調，丸如桐子大，行房事化開擦玉莖上，久戰不泄，不必解。</p>
<p><u>百聲嬌</u></p>
<p>遠志肉　蛇床子　五倍子（各三錢）</p>
<p>共為細末，每用五釐，津調肚臍上，可久戰。</p>
<p><u>玉容肥皂丸</u></p>
<p>白芷　白附子（各五錢）　白芨　白蘞　白檀香　茺蔚子（各一兩）　排草（三兩）　白丁香　冰片（各一錢）　丁香（五錢）　麝香（七分　蘇合油（二兩）　肥皂（二斤）</p>
<p>共為丸，鹽、酒蒸爛，加蜜大丸用。</p>
<p><u>固精丸</u></p>
<p>小茴香（二錢）　柏仁　白朮　黑附　桂心（各三錢）</p>
<p>共為丸，空心溫酒下，每日三服。</p>
<p><u>雙美丹</u></p>
<p>細辛　螵蛸（各三錢）　母丁香（二個）　川椒（十四粒）　龍骨（三分）　大附子（三分）</p>
<p>上共蜜丸，如豆大，燒酒調塗龜頭上二三。</p>
<p><u>永春果</u></p>
<p>白果（一斤，去殼）　母丁香（打碎，一錢）　麝香（一錢）</p>
<p>以乾燒酒二斤，用瓷瓶將藥放入袋內，入燒油瓶內，再將燒酒灌入，封固瓶口，文武火隔湯煮，以酒干為度，用時一更一枚。</p>
<p><u>暖爐丹</u></p>
<p>青木香（五分）　麝香（三分）　木鱉子（九個）</p>
<p>為末，煉蜜為丸，入陰戶內，彼此甜美不泄。</p>
<p><u>倒提金</u></p>
<p>吳茱萸　青木香　硫黃　麝香</p>
<p>各為末，津調入陰，女必戀戀。</p>
<p><u>悄悄緊</u></p>
<p>石榴皮　菊花葉　柿子蒂　海棠樹皮　白礬</p>
<p>各等分，水一碗，煎八分，溫洗陰戶，如童女物。</p>
<p><u>雙美丹</u></p>
<p>蛇床子　龍骨　丁香　沉香　云香（各一錢二分）　廣木香　輕粉（各一錢）　桂心　細辛　枯礬　麝香（各三分）</p>
<p>為末，蜜丸如黃豆大，金箔為衣，晚飯前用一丸，入陰戶妙甚。</p>
<p><u>揭被香</u></p>
<p>沉香（三錢）　木香（三錢）　檀香　速香　蛇床子（去衣微炒）　丁香　龍骨　紫霄花（酒洗）　遠志肉（甘草水煮，去心）　蓽茇（去蘆，去心）　川椒（去子）　排草（去排）　桂心（去蒂）　白芷（各三錢）　麝香　蘇合油　安息香　吳茱萸（去蘆）　蟾酥（乳汁化，上各一分）　枯礬（少許）</p>
<p>共為末，煉蜜為丸，如蠶豆大，焙乾，用黃蠟收好，臨時入戶一丸，衣香七日不散。</p>
<p><u>香盡春歸</u></p>
<p>用韭菜地上的蚯蚓四十九條，盛瓷碗內，以鉛粉五錢研末，篩蚯蚓身上，候粉黃色，取起蚯蚓放之，和麝香五分，唵叭香、上好真水安息各二錢，以火酒研為泥，內用上好香料候乾點之。男人聞之，其物即起，女人聞之，其心則思，香盡則止。</p>
<p><u>通宵樂</u></p>
<p>用活耗子七葉，肝取出，裝豬膽內，帶膽水煮，煮熟取出，陰陽瓦焙酥，捶碎，用前膽水為丸，不可出氣，棉花包，塞耳內，陽物即起，萬戰不泄，取肝丸出則泄。</p>
<p><u>外洋進陰上閨中鐵柱杖</u>（珍藏不可輕傳）</p>
<p>紫霄花（五錢）　木通（五錢）　陽起石（三錢）　透明雄黃（五錢）　吳茱萸（二錢）　桑螵蛸（一對）　黃狗腎（一對）　晚蠶蛾（十二個，生子者佳）</p>
<p>上藥共為細末，化蠟為丸，如芡實子大，欲交合早一時辰，握於掌中則陽堅久。</p>
<p><u>雙羊腎</u></p>
<p>生羊腎（一具）　沙苑蒺藜（四兩，隔紙微炒）　淫羊藿（四兩，銅刀去邊毛）　穿山甲（四兩，要真）　桂圓肉（四兩）　薏苡仁（四兩）</p>
<p>用滴花燒酒二十斤，浸三、七日，隨量時時飲之，種子延年。</p>
<p><u>醉仙蝦</u></p>
<p>附子（五錢，甘草湯煮）　肉桂（五錢）</p>
<p>煎濃湯一杯，摻以滴花燒酒一斤，將活大蝦浸透，曬乾，屢浸屢曬，展盡酒汁，收好，服二、三枚，久戰不泄。</p>
<p><u>暢春丹</u></p>
<p>大附子（一個，重一兩五錢）　母丁香　蟾酥（火酒浸化，或人乳煅化亦可）　淫羊藿　蛇床子　紫霄花　甘草　破故紙　（以上各四錢）　肉桂（二錢）　人參（五錢）　鎖陽（五錢）　麝香（一分）</p>
<p>研極細末用，鹿角膠三錢（溶化）、白芨末三錢，合前藥和勻，杵成粗條，用瓷瓶收，須用午時吐津，磨藥二分，搽龜莖上。再余藥塗臍內，臨睡時用溫水俱要洗去。</p>
<p><u>益春丹</u></p>
<p>鴉片　蟾酥（各一錢）　冰片　麝香　肉桂（各五分）　母丁香（一個）　五倍子（五分）</p>
<p>共為細末，用雞子清為丸，如綠豆大，用時火酒化開，敷龜頭，臨行時用溫水洗去，用甘草水解。</p>
<p><u>春趣宜人膏藥</u></p>
<p>川附（一個，重一兩六錢，切片）　巴戟天（二錢）　肉桂（二錢）　母丁香（一錢）　鎖陽（二錢）　肉蓯蓉（二錢，將米泔水浸去鹽味）　蓽茇（一錢五分）　吳茱萸（一錢五分）　仙茅（一錢五分）　當歸（二錢）　生地（三錢）</p>
<p>將麻油一斤，入十一味油內浸二日，煎枯，去渣後，入鉛粉八兩收成。後加鴉片、蟾酥、麝香、牛黃、龍骨，離火加各二錢，將大紅緞攤貼臍上。</p>
<p><u>萃仙丸</u></p>
<p>沙苑蒺藜（出同州紅黃色好，瘦薄者不用，四兩為末，四兩煎成膏）　芡實（四兩）　白蓮蕊（四兩，金色者好，赤白者不用）　覆盆子（二兩，酒浸蒸曬）　菟絲子餅（二兩，新肥者好）　山萸肉（四兩，淨酒浸，九蒸九曬）　川續斷（二兩，打斷，有煙者好，酒浸一宿，曬乾）　枸杞子（二兩，甘州鮮潤者好）　真龍骨（五錢，五色者佳，以童便淬七次，若欲種子，以金櫻子膏二兩代之）</p>
<p>外用蜜十兩煉熟，共為末，淡鹽湯下三錢，忌行房事四十九日。</p>
<p><u>還少丹</u></p>
<p>熟地黃（二兩，九蒸九曬，不見鐵器）　甘枸杞（二兩，紅小鮮明者好，去枝梗，酒潤搗爛）　山藥（一兩五錢，白色者）　牛膝（二兩五錢，去蘆，酒拌蒸熟）　遠志肉（一兩，甘草湯浸一宿，去骨曬乾）　山萸肉（一兩，酒潤，揀去核，慢火焙乾）　白茯苓（一兩，去皮筋，乳拌）　巴戟天（一兩，酒浸一宿，去心）　石菖蒲（一兩，刮去皮毛，微炒，不見鐵器）　杜仲（一兩，削去粗皮，鹽、酒拌炒，去絲）　五味子（一兩，蜜水浸蒸）　蓯蓉（二兩，酒浸一宿，刷去浮甲，劈破，去心中白膜）　楮實子（一兩，水淘去輕浮者，酒浸一日，焙乾）　或加何首烏（四兩，更妙）　大茴香（一兩，去子，鹽水炒）</p>
<p>上為細末，煉蜜同棗肉為丸，如桐子大，每服三十丸，溫酒或鹽湯下。食前日三服，五日覺有力，十日精神爽，半月氣壯，二十日目明，一月夜思飲食，冬月手足常溫，久服令人身體輕健，筋骨壯盛，光澤不老。更看體候加減：如熱加山梔仁一兩（微炒）；心氣不寧加麥冬一兩（去心）；少精神加五味子一兩；陽弱加續斷一兩（酒浸一周日，焙乾）。大補心脾腎胃，一切虛損，神氣俱耗，筋力頓衰，腰腳沉重，肢體倦怠，血氣羸乏，小便滯濁。常服固齒，無瘴瘧，婦人服之，容顏光澤，暖子宮，去一切病。此方緩補心腎脾胃，正合《內經》「勞者溫之，損者溫之」之義。</p>
<p><u>前劉無方</u></p>
<p>桑椹（一斤）　沙苑蒺藜（一斤）　甘枸杞（一斤）　魚鰾（一斤）　肉蓯蓉（半斤）　菟絲子餅（一斤）　何首烏（一斤）　黑豆汁（一斤）</p>
<p><u>保元鎖真至寶錠丹</u></p>
<p>紅山梔仁（用好火酒浸一炷香，曬乾，如此三次為度，三錢）　真鴉片（三錢）　上揀人參（二錢）　真蟾酥（二錢）　真麝香（五分）</p>
<p>以上五味為細末，再加真川椒（三錢）　川吳茱萸（三錢），熬膏成，將藥和為小錠，金箔為衣。</p>
<p><u>固精不泄膏</u></p>
<p>胡椒（二錢）　川椒（三錢）　麝香（一錢）　蟾酥（一錢）　鴉片（一錢）　大附子（五錢，不見火）　風茄子（五錢）　石燕一對（火酒煉過，再用火酒煮透）　蛤蚧（一對，火酒煮乾為末）</p>
<p>共為細末，和勻，以白芨打糊，調末藥三錢為膏，臨用以絹縛左手寸口，少時即泄。此藥用瓷罐封貯，不可令氣泄，一料可用數次。</p>
<p>又方：用雌雄狗膽各一枚，傾出和勻，加川椒、肉蓯蓉各三錢，研極細末，和勻，仍入膽內縫固，掛風前陰乾，臨用時以津化一、二釐於龜頭上，欲止，扯出稍冷，復入即泄。</p>
<p>又方：用雄狗膽一個，入鱉頭末一個，陰乾，如前方用法，入爐脹滿，冷水解。</p>
<p><u>養龜方</u></p>
<p>硫黃一兩溶化，以上好硃砂一兩，研極細末，攪勻，藏綾帶內，束根上，妙不可言。</p>
<p><u>煮鉛圈法</u></p>
<p>人參　附子　乾薑　肉桂　丁香　川椒（各二錢）　蛇床子（一錢）　硫黃（一錢五分）</p>
<p>以火酒二碗，煮乾為度。</p>
<p><u>封臍膏</u></p>
<p>甘草　甘遂　麝香　蔥汁</p>
<p>丸為皂子大，納臍內，用膏藥封之。</p>
<p><u>揭被香</u></p>
<p>零零香　甘松　三奈　木香　沉香　白芷　木通　蛇床子（各一錢）　紫霄花　枯礬　海螵蛸（各五錢）　丁香　麝香　冰片（各一分）</p>
<p>蜜丸如黃豆大，每用一丸納戶內。</p>
<p><u>白綾帶</u></p>
<p>大附子　淫羊藿　蛤蚧　陽起石（提七次）　蟾酥（一兩）　上各等分　麝香（二錢）</p>
<p>共為細末，入綾帶內，束根上。</p>
<p><u>白果方</u></p>
<p>用白果浸燒酒，加麝香少許，每服一、二枚則堅。</p>
<p><u>煮線方</u></p>
<p>白蓮鬚汁　安息香（五錢）　附子（三錢）　猴姜（一兩）</p>
<p>同煮。</p>
<p><u>合歡酒</u></p>
<p>男用磁石（即引針石也）三分，以糯米細粉一撮，入銀鍋內炒；女用針沙（沙在針店買）三分，以細麩皮一撮，亦入銀鍋內炒。臨晚各用滾酒沖在碗內，澱清，服酒去渣。</p>
<p><u>春心動奇方</u></p>
<p>蟾酥　胡椒（各二錢）　官桂（五分）　麝香（三錢）</p>
<p>共為末，用時取一、二釐吐津調敷龜頭上，臨行房用水洗去，大妙也。用米湯一碗即解。</p>
<p>又方：蟾酥（一錢）　乳香（五分，焙去油）　甘草末（三分）</p>
<p>用人乳為丸，如黍米大，照前方用法，亦用米湯解。</p>
<p>又方　蛤蚧　海馬（各一對）　石燕（一對，要三錢重者）　丁香　大附子　川椒　胡椒（各三錢）</p>
<p>共為末，以好酒一斤，子蝦一百對（去頭、尾、腳）入藥，並酒內煮蝦，酒煮乾加麝香末、沉香末各三分，拌蝦陰乾。臨用時飲酒一盞，食蝦一隻。如欲解，食南棗一枚即解。</p>
<p><u>解春心動泄藥</u></p>
<p>南棗（二百個）　芒硝（二兩）</p>
<p>俱入水煮乾，曬過，每次食一個必泄也。</p>
<p><u>緊陰物</u></p>
<p>石榴皮　飛礬　五倍子</p>
<p>等分，每次放二錢，於湯內洗，又取一錢於指甲，入牝中。</p>
<p><u>種子奇方</u></p>
<p>照原單開出，能服二料，其功無窮，至所云神咒亦不甚解，姑存其說。</p>
<p>大棗（一斤）　蓮肉（四兩）　芡實（四兩）　甘草（三錢）　小紅棗（二斤）　薏苡仁（四兩）　大茴香（五錢）　白洋糖（斤半）　白菊花（四兩）　黑芝麻（半升）　小茴香（五錢）</p>
<p>煉蜜為丸，如龍眼大，每日空心服一丸，滾白湯下，忌生冷，先虔誦文殊菩薩神咒一遍後，服此丸，男女俱服。</p>
<p>神咒：噓，靜不可思議，境了無容存發機，斷一性希，無分無合，不即不離。咄、咄、咄（音篤），咦、咦、咦（音移），無住大定沒那移，清淨本然絕變易，恆無染著自恬如。常泯終始，頓徹端倪，般若（音缽惹），妙悟永如如，咄噓。</p>
<p><u>金鎖玉連環</u></p>
<p>當歸（二兩）　熟地黃（二兩）　川牛膝（二兩）　鎖陽（一兩五錢）　厚杜仲（二兩，薑汁炒去絲）　枸杞子（二兩）　白茯苓（二兩）　山茱肉（二兩）　懷山藥（二兩）　石斛（一兩五錢）　天門冬（一兩五錢）　麥門冬（一兩五錢，去心）　防風（一兩五錢）　真羌活（一兩五錢）　陳皮（一兩五錢，去白）　知母（一兩五錢，酒炒）　白朮（朝東壁土炒，一兩五錢）　龍骨（火煅，一兩五錢）　紫霄花（一兩五錢）　黃耆（一兩五錢，蜜炒）　淫羊藿（剪去邊，羊油炒，一兩五錢）　甘草（五錢，蜜水炒）　上好肉桂（一兩五錢）　厚黃柏（五錢，酒浸炒）　五味子（揀去梗，五錢）　巴戟（去骨，二兩五錢）　牡蠣（酒煅，一兩）　破故紙（五錢）　紫桑椹（二斤）　圓眼肉（八兩）　肉蓯蓉（二兩五錢，酒洗去甲）</p>
<p>上藥制過，絹袋盛之，裝入壇內，放上好燒酒五十斤浸之，夏浸七日、冬浸二十一日、春秋浸半月方用，可早、午、晚三次量飲，藥渣濾出，曬乾為末，煉蜜為丸，如桐子大，每早空心服三錢，淡鹽湯送下，忌食牛、犬，延年育子，不可限量其功。</p>
<p><u>周王百子丹</u></p>
<p>黃金切莫傳，白玉休輕換，名為無價寶，方號養生丹，識者同觀覽，有價難回換，功成萬萬般。添腎水、助元陽，用一味破故紙，肉蓯蓉、人參為伴，乾山藥。蓽澄茄、巴戟同鑑，何首烏蒸曬二、三遍，川椒去白，金墨除煙炒去煙，山茱萸取肉，須用川續斷、當歸，酒浸，須用心茯苓、蒸遠志，浸益智，同然，共細辛，泡陳皮，入青鹽，各味平稱，細研，煉蜜為丸，如獨蒜、鹽、酒，清晨服一丸，常服二七身康健，保養身全，此方名喚一枝花，養得靈龜粗大堅，夜三女能周戰。</p>
<p>破故紙　肉蓯蓉　人參　山藥　蓽澄茄　巴戟　何首烏　川椒　金墨　山萸肉　川續斷　當歸身　茯苓　遠志肉　益智仁　細辛　陳皮　青鹽</p>
<p>以上各一兩。</p>
<p><u>暖腰神方</u></p>
<p>淫羊藿（四兩）　破故紙　花椒　蘄艾（各二兩）</p>
<p>俱為粗末，或絹或緞，照暖腰式做成行藥，兼絲綿橫直行之，毋使走移，縛腰中。四十以前，半月見功；五十以後，一月見效。</p>
<p><u>長龜方</u></p>
<p>小茴香（八錢）　柏子仁（一兩二錢）　白朮　黑附　桂心　炮姜（各八錢）</p>
<p>共為末，空心溫服二錢，日三服，七日不能容。</p>
<p><u>移心至寶丹</u></p>
<p>用天王補心丹一丸，入房時，左手緊緊捏著，須去指甲，方能捏得嚴密，若泄氣則不驗矣。須護以銀盒，鄭重其事，則心有所注，火不易泄，自然堅固長久，妙極。內服補中益氣湯，加肉蓯蓉、枸杞子更妙。如不用移心至寶丹，即單服益氣湯亦可。</p>
