<header data-type="book">
<h1>外感溫病篇</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳平伯</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM067</dd></div>
</dl>
</header>
<h2>陳平伯外感溫病篇</h2>
<p>蓋聞外感不外六淫，而民病當分四氣，治傷寒家，徒守發表攻裏之成方，
不計辛熱苦寒之貽害，遂使溫熱之旨，蒙味不明，醫門缺典，莫此甚焉，祖恭不敏，
博覽群書，廣搜載籍，而恍然於溫熱病之不可不講也，內經云，冬不藏精，春必病溫，
蓋謂冬時嚴寒，陽氣內斂，人能順天時而固密，則腎氣內充，命門為三焦之別使，
亦得固腠理而護皮毛，雖當春令升泄之時，而我身之真氣，則內外瀰淪，
不隨升令之泄而告匱，縱有客邪，安能內侵，是內經所以明致病之原，
也然但云冬不藏精，而不及他時者，以冬為水旺之時，屬北方寒水之化，於時為終，
於人為腎，井水溫而堅冰至，陰外陽內，有習坎之義，故立言歸重於冬，
非謂冬宜藏而他時可不藏精也。即春必病溫之語，亦是就近指點，總見裏虛者表不固，
一切時邪，皆易感受學者可因此而悟及四時六氣之為病矣，難經云，傷寒有五，
有傷寒，有中風，有風溫，有熱病，有溼溫，夫統此風寒溼熱之邪，
而皆名之曰傷寒者，亦早鑑於寒藏受傷，外邪得入，故探其本而皆謂之傷寒也，
獨是西北風高土燥，風寒之為病居多，東南地界水溼，溼熱之傷人獨甚，
從來風寒傷形，傷形者定從表入，溼熱傷氣，傷氣者不盡從表入，故治傷寒之法，
不可用以治溫熱也，夫溫者暖也熱也，非寒之可比也，風邪外束，則曰風溫，
溼邪內侵，則曰溼溫縱有微寒之兼襲，不同栗冽之嚴威，是以發表宜辛涼，不宜辛熱，
清裏宜泄熱，不宜逐熱，蓋風不兼寒，即為風火，溼雖化熱，終屬陰邪，自昔仲景著書，
不詳溫熱，遂使後人各呈家伎，漫無成章，而凡大江以南，病溫多而病寒少，
投以發表不遠，熱攻裏不遠寒諸法，以致死亡接踵也，悲夫。</p>
<p>風溫為病，春月與冬季居多，或惡風，或不惡風，必身熱欬嗽煩渴，
此風溫證之提綱也。</p>
<p>自注，春月風邪用事，冬初氣暖多風，故風溫之病，多見於，此但風邪屬陽，
陽邪從陽，必傷衛氣，人身之中，肺主衛，又胃為衛之，本是以風溫外薄，肺胃內應，
風溫內襲肺胃受病，其溫邪之內外有異形，而肺胃之專司無二致，故惡風為或有之證，
而熱渴欬嗽，為必有之證也，三復仲景書，言溫病者，再一則曰太陽病發熱而渴，
不惡寒者為溫病，此不過以不惡寒而渴之證，辨傷寒與溫之異，
而非專為風溫敘證也再則曰發汗已，身灼熱者名曰風溫，夫灼熱因於發汗，
其誤用辛熱發汗可知，仲景復申之曰，風溫為病，脈陰陽俱浮，自汗出，身重多眠睡，
鼻息必鼾，語言難出，凡此皆誤汗劫液後變現之證，非溫病固有之證也，續云，
若被下者，直視失溲，若被火者，發黃色，劇則如驚癇狀，時瘈瘲，若火熏之，
一逆尚引日，再逆促命期，亦止詳用下用火之變證，而未言風溫之本來現證也，
然從此細參，則知風溫為燥熱之邪，燥令從金化，燥熱歸陽明，
故肺胃為溫邪必犯之地，且可悟風溫為燥熱之病，燥則傷，熱則傷津，泄熱和陰，
又為風溫一定之治法也，反此即為逆矣，用是不辭僭越，而於仲景之無文處求文，
無治處索治，敘證施治，列為條例，知我罪我，其在斯乎。</p>
<p>風溫證身熱畏風，頭痛欬嗽，口渴，脈浮數，舌苔白者，邪在表也，
當用薄荷前胡杏仁桔梗桑葉順則之屬，涼解表邪。</p>
<p>自注，風屬陽邪，不挾寒者為風溫，陽邪必傷陽絡，是以頭痛畏風，邪鬱肌表，
肺胃內應，故欬嗽口渴苔白，邪留於表，故脈浮數，表未解者當先解表，
但不同於傷寒之用麻桂耳。</p>
<p>風溫證身熱欬嗽，自汗口渴，煩悶脈數，舌苔微黃者，熱在肺胃也，
當用川貝牛蒡桑皮連翹橘皮竹葉之屬，涼泄裏熱。</p>
<p>此溫邪之內襲者，肺熱則欬嗽汗泄，胃熱則口渴煩悶，苔白轉黃，風從化，
故以清泄肺胃為主。</p>
<p>風溫證身灼熱，口大渴，欬嗽煩悶，讝語如夢語，脈絃收乾嘔者，此熱灼肺胃，
風火內旋，當用羚羊川貝連翹麥冬石斛青蒿知母花粉之屬，以泄熱和陰。
此溫邪襲入肺胃之絡，灼爍陰津，引動木火，故有煩渴嘔逆等證，急宜泄去絡中之熱，
庶無風火相煽，走竄胞絡之虞。</p>
<p>風溫證身熱欬嗽，口渴下利，苔黃讝語，胸痞脈數，此溫邪由肺胃下注大腸，
當用黃苓桔梗煨葛豆卷甘草橘皮之屬，以升泄溫邪。</p>
<p>大腸與胃相連屬，與肺相表裏，溫邪內偪，下注大腸則下利，治之者宜清泄溫邪，
不必專於治利，按傷寒論下利讝語者，有燥矢也，宜大承氣湯，是實熱內結，
偪液下趨，必有舌燥苔黃刺，及腹滿痛證兼見，故可下以逐熱，若溫邪下利，
是風熱內迫，雖有讝語一證，仍是無形之熱，蘊蓄於中，而非實滿之邪，盤結於內，
故用葛根之升提，不任硝黃之下逐也。</p>
<p>風溫證熱久不愈，欬嗽脣腫，口渴胸悶，不知肌，身發白疹如寒栗狀，自汗脈數者，
此風邪挾太陰脾濕，發為風疹，用牛蒡荊芥防風連翹橘皮甘草之屬涼解之。</p>
<p>風溫本留肺胃，若太陰舊有伏濕者，風熱之邪，與濕熱相合，流連不解，日數雖多，
仍留氣分，由肌肉而外達皮毛，發為白疹，蓋風邪與陽明營熱相併，則發斑，
與太陰濕邪相合，則發疹也，又有病久中虛，氣分大虧而發白疹者，
必脈微弱而氣倦怯，多成死候，不可不知。</p>
<p>風溫證身熱欬嗽，口渴胸痞，頭目脹大，面發泡瘡者，風毒上壅陽絡，
當用荊芥薄荷連翹元參牛蒡馬勃青黛銀花之屬，以清熱散邪。</p>
<p>此即世俗所謂大頭病也，古人用三黃湯主治，然風熱壅遏，致絡氣不通，頭腫如斗，
終不若倣普濟消毒飲之宣絡滌熱為佳。</p>
<p>風溫證身大熱，口大渴，目赤脣腫，氣粗煩躁，舌絳齒板痰欬，甚至神昏讝語，
下利黃水者，風溫熱毒，深入陽明營分，最為危候，
用犀角連翹葛根元參赤芍丹皮麥冬紫草川貝人中黃，解毒提斑，間有生者。</p>
<p>此風溫熱毒，內壅肺胃，侵入營分，上下內外，充斥肆逆，若其毒不甚重，
或氣體壯實者，猶可挽回，否則必壞。</p>
<p>風溫毒邪，始得之便身熱口渴，目赤咽痛，臥起不安，手足厥冷，泄瀉脈伏者，
熱毒內壅，絡氣阻遏，當用升麻，黃岑犀角銀花甘草豆卷之屬升散熱毒。</p>
<p>此風溫毒之壅於陽明氣分者，即仲景所云陽毒病是也，五日可治，七日不可治，
乘其邪犯氣分，未入營陰，故可升散而愈。</p>
<p>風溫證身熱自汗，面赤神迷身重難轉側，多眠睡鼻鼾，語難，出脈數者，溫邪內偪，
陽明精液劫奪，神機不運，用石膏知母麥冬半夏竹葉甘草之屬，泄熱救津。鼻鼾面赤，
胃熱極盛，人之陰氣，依胃為養，熱邪內灼，胃液乾枯，陰氣復有何資，
而能滲諸陽灌諸絡，是以筋骨懈怠，機關失運，急用甘涼之品以清熱濡津，或有濟也。</p>
<p>風溫證身熱痰欬，口渴神迷，手足瘈瘲，狀若驚癇，脈弦數者，此熱劫津液，
金囚木旺，當用羚羊川貝青蒿連翹知母麥冬鉤藤之屬，以息風清熱。</p>
<p>肺屬金而畏火，賴胃津之濡養，以肅降令，而溉百脈者也，熱邪內盛，胃津被劫，
肺失所資，木為火之母，子能令母實，火旺金囚，木無所畏，反侮所不勝，
是以筋脈失養，風火內旋，瘈瘲驚癇，在所不免，即俗云發痙是也，
故以息風清熱為主治。</p>
<p>風溫證熱渴煩悶，昏憒不知人，不語如尸厥，脈數者，此熱邪內蘊，走竄心胞絡，
當用犀角連翹焦遠志鮮石菖蒲麥冬川貝牛黃至寶之屬，泄熱通絡。</p>
<p>熱邪極盛，與三焦相火相煽，最易內竄心包，偪目神明，閉塞絡脈，
以致昏迷不語其狀如尸，俗謂發厥是也，閉者宜開，故以香開辛散為務。</p>
<p>熱邪極盛三焦相火相煽，最易人竄心包，偪亂神明，閉塞絡脈，雖是喻氏之言，
而法以香開辛散，然熱極似水，一派煙霧塵天，蒙住心胸不知不識，如人行煙塵中，
口鼻皆燥，非兩解不能散其勢，再入溫熱之處，則人當燥悶死矣，且溫熱多燥，
辛香之品盡是燥，燥與熱鬥，立見其敗，且心神為熱邪蒸圍，非閉塞也，有形無形，
治法大異，遇此每在敗時，故前人不能探其情，今補薛生白先生一法於後，
極明雄黃一兩，研極細，入銅勺內，又研提淨牙硝六錢，微火鎔化，撥勻如水時，
急濾清者於椀，粗渣不用，凝定，此丹竈家祕製也，凡遇前證，
先用陳雨水十椀內取出一椀，煎木通一錢，通草三錢，傾入九椀冷水內，
又取犀角磨入三錢，或旋磨旋與亦可，每椀約二三分，再將製雄挑二三釐入椀，
冷與服，時時進之，能於三日內進之盡，必有清痰吐出數椀而愈，
十救七八，蓋此證死期最緩而醫人無他法，每每付之天命，牛黃清心而已，可勝長歎。</p>
