<header data-type="book">
<h1>推求師意</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>戴思恭</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1443">公元1443年</data></dd></div>
<div><dt>底本</dt><dd>明嘉靖甲午（十三年，1534）祁門陳桷校刊本（<a href="http://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=8d0cdd378a7041bab7b7c5a52d73f4b6fDcyMTk30&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·推求師意》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0071/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫師者，指引之功也。必須學者隨事精察，真積力久；而於師之引而不發者，始得見其躍如者焉。苟或不然，師者未必能引進，學者未必能起予。二者須先之也，夫何益之有哉？故曰：不憤不啟，不悱不發，舉一偶不以三隅，反則不復也，其斯之謂歟！予於斂之名家，獲睹是編，觀其中之所語，皆本丹溪先生之意，門人弟子惟求其意，而發其所未發者，此所謂引而不發，而得其躍如者焉！予深喜之，遂錄以歸，後休之。率口項君恬以疚，來就予治。予邑石墅陳子桷，以醫而至予館，因出以示之。二人者心意相得，一則曰：是可以益於吾疚也；一則曰：是可以補於吾醫也。乃相告於予曰：吾二人共梓之，以垂不朽，何如？予曰：醫乃仁術也，筆之於書，欲天下同歸於仁也。今若刻布以廣其傳，則天下病者有所益，而天下醫者有所補，其仁惠及於天下大矣！豈特二子然哉？此予之所深嘉也，又能善推予之所欲推矣，因題之曰：《推求師意》。故僭序之，以誌喜焉。　</p>
<p><u>時嘉靖甲午七月五日新安汪機省之序</u></p>

<h1>序</h1>
<p>玉峰子以病諗惟宜，惟宜醫學邃軒岐，厥治多奇療，士林推之，尋厥徼妙，則石山居士鑰之。石山早服儒，已旁摭古方書，搜厥大成，以醫名，時惟宜者，復感通其旨緒，相訂以言，相成以意。石山之精神命脈君子，於是乎謂其有世之者也。歲在午，玉峰子養病江村，適惟宜手其《推求師意》上下捲來示，且再拜請序。予展誦之，見其所論，陰陽變狀，並所原病脈，以酌厥劑者，直下膜見，參《素》、《難》以出玄。詳其所著，知其為丹溪未竟之意，其門人戴元禮者闡之，編而次其意者石山，校而壽其意者惟宜也。喟曰：甚矣！醫理之艱也，匪醫之艱，維意之艱。夫醫傳言也，言所弗傳忘言也，以神遇弗以言遇則竅，以神批竅，以意導理，生於及慧，生於弗及，刃有餘用，目無全解矣！否則糟粕也矣，膠焉而弗化也。奚其醫丹溪，授千古醫學之心法，弗能巧人也。元禮乃能冥會其意，而推闡其所未盡；石山會丹溪、元禮心法之精思，欲世其仁也；惟宜乃能宏拓其意，而成就其所欲為。世恆道醫古今弗相及，今石山、惟宜邃厥醫以傳，謂為丹溪。元禮非歟！故曰：廣丹溪之志者，元禮也：廣元禮之志者，維石山作之，維惟宜述之也。方今陰陽有沴疢，癘繁生，世可蔑斯人也與哉？或曰：所學于丹溪者眾，專其論著為元禮也者。何姬曰：丹溪之門稱高第者，元禮也。理邃以玄，論微而著。微元禮，吾弗知其有也，是故以是歸之也。</p>
<p><u>嘉靖甲午季秋之望玉峰王諷撰</u></p>

<h1>卷之上</h1>

<h2>雜病門</h2>

<h3>瘧</h3>
<p>本草於知母、草果、烏梅、穿山甲皆言治瘧。然知母性寒，入治足陽明獨盛之火，使其退就太陽也；草果性溫燥，治足太陽獨盛之寒，使其退就陽明也。二味合和，則無陰陽交作之變，故為君藥。常山主寒熱瘧，吐胸中痰結，故用為臣。甘草和諸藥，烏梅去痰，檳榔除痰癖、破滯氣，故用為佐。穿山甲以其穴山而居，遇水而入，則是出陰入陽，穿其經絡於榮分，以破暑結之邪，故用為使。若脾胃鬱伏痰涎，用之必效，苟或無痰，止是暑結榮分，獨應足太陰血分熱者，當發唇瘡，此方無效。</p>
<p>《內經》諸病，惟瘧最詳。語邪則風、寒、暑、濕四氣，皆得留著而病瘧；語邪入客處所，則有腸胃之別，榮衛之舍，脊骨之間，五臟膜原與入客於臟者，淺深不一；語其病狀，則分寒熱先後；語寒熱多寡，則因反時而病，以應令氣生長收藏之。此皆外邪所致也。濕在臟者，止以風寒中於腎。癉瘧者，止以肺素有熱。然冬令之寒得中於腎，其四臟令氣之邪又寧無入客於所屬臟乎？既肺本氣之熱為瘧，則四臟之氣鬱而為熱者，又寧不似肺之為瘧耶？舉例可知余也。陳無擇謂內傷七情、飢飽、房勞，皆得鬱而蘊積痰涎，其病氣與衛氣並則病瘧。蓋內外所傷之邪，皆因客在榮氣之舍，故瘧有止發之定期。榮氣有舍，猶行人之有傳舍也。榮衛之氣日行一周，歷五臟六腑十二經絡，界分必有其舍，舍與邪合，合則陰盛，陰盛則陽虛，於是陰陽相併而病作。其作也，不惟脈外之衛虛併入於陰，《靈樞》所謂足陽明與衛俱行者亦虛，陽明之氣虛，則天真因水穀而充大者亦暫衰，所以瘧作之際禁勿治刺，恐傷胃氣與其真也。必待陰陽並極而退，榮衛天真胃氣繼而復集，邪留所客之地，然後治之；或當其病未作之先，迎而奪之。先生謂：瘧邪得於四氣之初，胃氣弱者即病，胃氣強者伏而不動。至於再感，胃氣重傷，其病乃作。此為外邪，必用汗解。虛者先以參、術實胃，加藥取汗。惟足屬陰，最難得汗，汗出至足乃佳。取汗非特麻黃，但開鬱通經，其邪熱則散為汗矣。又云：瘧發於子後午前者，陽分受病，易愈；午後亥前者，陰分，難愈。必分陰陽氣血藥以佐之，觀形察色以別之，嘗從是法以治。形壯色澤者，病在氣分，則通經開鬱以取汗；色稍夭者，則補虛取汗。挾痰者，先實其胃一二日，方服劫藥。形弱色枯則不取汗，亦不可劫，補養，以通經調之。形壯而色紫黑，病在血分，則開其澀滯。色枯者，補血調氣。此其常也。至若取汗而不得汗，理血而血不開，非更求藥，切中病情，直造邪所著處，安能愈乎？</p>
<p>一老人瘧、嗽半載，兩尺脈數有力，色稍枯，蓋服四獸飲等劑，中焦濕熱下流，伏結於腎，以致腎水上連於肺，故瘧、嗽俱作。參、朮、芩、連、升麻、柴胡調中一二日，與黃柏丸兩日，夜夢交通。此腎熱欲解，故從前陰精竅而走散。無憂也，次日瘧、嗽頓止。</p>
<p>一富家子，年壯病瘧，自卯足寒，至酉分方熱，至寅初乃休，一日一夜止蘇一時。因思必為入房感寒所致，問云：九月暴寒夜半，有盜急起，不著中衣，當時足即冷，十日後瘧作。蓋足陽明與衝脈合宗筋會於氣街，入房太甚則足陽明與衝脈之氣皆奪於所用，其寒乘虛而入，舍於二經；二經過脛，會足跗上，於是二經之陽氣益損，不能滲榮其經絡，故病作，卒不得休。因用參、術大補，附子行經，加散寒以取汗。數日不得汗，病如前。因思足跗道遠，藥力難及，再以蒼朮、川芎、桃枝煎湯，盛以高桶，扶坐，浸足至膝，食頃，以前所服藥飲之，汗出通身病愈。先生遇奇症，則設規矩，旁求曲會，施行以權。</p>

<h3>消渴</h3>
<p>太陰司天，寒水之勝，心火受郁，內熱已甚，則當治內熱為急，內熱未甚，即當散寒解鬱為急。如《宣明論》立方著於諸症條下者，具治漏風而渴，用牡蠣、防風、白朮，先治漏風為急。若心移寒於肺為肺消，則以心火乘肺傷其氣血為急，所移之寒，非正當其邪也，故用參、耆、熟地黃、北五味、桑皮、麥門冬、枸杞，先救血氣之衰，故不用寒藥泄內熱也。若心移熱於肺傳於膈消，則以肺熱為急，用麥門冬治肺中伏火為君，栝蔞實、知母泄熱為臣，甘草、北五味、生地黃、葛根、人參生津液益氣血為佐。若心火上炎於肺，必由心有事會，不得其正，以致其臟氣血之虛，故厥陰之火上逆，所以用茯神安心定志養神，竹葉、麥門冬之涼以安其宅，則火有所歸息矣。是三條消渴，便見河間，處方酌量標本緩急輕重之宜、臟腑切當之藥也。</p>

<h3>喉痛</h3>
<p>因於相火之微甚，微則正治，甚則反治，撩痰出血，三者隨宜而施。或於手大指少商出血行氣，若腫達於外，必外敷以藥。予嘗以鵝翎蘸水醋繳咽中，摘出其痰。蓋酸能收其痰，又能消積血。若乳蛾甚而不散者，以小刀就蛾上出血，皆用馬牙硝吹點咽喉，以退火邪，服射干、青黛、甘、桔、梔、芩、惡實、大黃之類，隨其攸利為方，以散上焦之熱：外敷如生地黃、韭根、伏龍肝皆可用。若咽瘡白者多涎，赤者多血，大率與口瘡同例，如薔薇根皮、黃柏、青黛煎噙細嚥。先生言理中湯亦可治，詳口瘡條下。</p>

<h3>腸癰</h3>
<p>一婦以毒藥去胎後，當臍右結塊，塊痛甚則寒熱，塊與臍高一寸，痛不可按，脈洪數，謂曰：止瘀血流溢於腸外肓膜之間，聚結為癰也。遂用補氣血、行結滯、排膿之劑、三日決一鋒針，膿血大出，內如糞狀者臭甚。病婦驚怕，予謂氣血生肌則內外之竅自合。不旬日而愈。</p>

<h3>肩癰</h3>
<p>一人肩井後腫痛、身熱且嗽，其腫按之不堅，此乃濕痰流結也。遂用南星、半夏、栝蔞、葛根、芩、連、竹瀝作煎飲之，燒蔥根熁腫上；另用白芥子、白礬作小丸，用煎藥吞二十丸。須臾痰隨嗽出，半日約去三四碗而愈。</p>
<p>凡治病必分其主治之藥，先之以經氣：在陽明治濕熱，石灰、柏皮之屬；在厥陰治火熱，臘茶、腦、射之屬。次從所得之因：食積加蘆薈；磕傷加韭汁、沒藥。瘡膿潰而不出，加輕粉取之，無不愈。</p>

<h3>咳嗽</h3>
<p>人之陽常有餘，陰常不足，故金、水二臟必保養之，使水不竭、金不虧，則木有制不猖狂矣。經曰：諸逆衝上，皆屬於火。《原病式》曰：五志色欲之動，皆屬相火水衰，火無所畏，得以沖逆於肺，其水莫能救母之鬼賊，則肺之陰愈虧，必須瀉火益水以救金可也。如薑、桂、半夏辛溫燥熱之劑，皆不宜用。然於瀉火，雖不比外邪郁發而為風寒暑濕之至者，亦須分四臟所動之本氣，各欲安之。且火不惟傷肺之陰。甚則亦害元陽，又必辨其所傷之陰陽孰輕孰重。此條止論虛者用參、術，其於益陰，如天麥門冬之屬無有也。至若治寒加細辛、乾薑之屬，亦無有也。是皆要者，尚且不備，況分經之劑乎？</p>

<h3>瘡瘍癮疹疥癬</h3>
<p>《內經》有謂汗之則瘡已者，謂溫勝皮膚為疥癬者也。治當飲以涼肌、和血、散濕熱怫鬱在皮膚之藥；外以殺蟲、潤燥、解痰涎凝結腠理之藥敷之。仲景謂：瘡不可汗，汗之則作痓。此熱鬱肌肉，血腐為瘡，宜解鬱熱也。或飲食之積所致，皆不宜汗，熱有淺深故也。瘍即頭瘡，乃火熱上炎，當治火於上，內使之降，外令其散，亦敷以殺蟲，退熱之劑。世方皆得以治，不足深論。</p>

<h3>酒齇鼻</h3>
<p>酒熱所致乎？曰：不然。不飲者，亦病此。蓋鼻者肺竅，而足陽明俠鼻上至目內眥，其位居面之中，屬土，為呼吸氣息出入之門戶，氣血之精明者，皆上注於面，入於其竅。故胃中濕熱與中焦熱所化之血，上輸於肺，隨呼吸之息，熏蒸鼻端，凝結皮膚，遂成紅赤、甚則盈面，不獨在鼻也。予嘗以凌霄花為末，和密陀僧，唾調敷，甚妙。</p>

<h3>健忘</h3>
<p>安神之外，猶可論否？曰：方論雖言怵惕思慮所傷，憂欲過損，驚恐傷心，心傷則健忘也。予嘗思之，人生氣稟不同，得氣之清，則心之知覺者靈；得氣之濁，則心之知覺者昏。心之靈者，無有限量，雖千百世已往之事，一過目則終身記之而不忘；心之昏者，雖無所傷，而目前事亦不能記矣。劉河間謂水清明，火昏濁。故上善若水，下愚若火，此稟質使然。設稟清濁混者，則不能耐事煩擾，煩擾則失其靈而健忘。蓋血與氣，人之神也。經曰：靜則神藏，躁則消亡。靜乃水之體，躁乃火之用，故性靜則心存於中，動則心忘於外，動不已則忘不已，忘不已則存於中者幾希，故語後便忘，不俟終日。所以老人多忘，蓋由役役擾擾紛紜交錯，氣血之陰於斯將竭，求其清明有所守。而不為事物所亂者，百無一人焉！由是言之，藥固有安心養血之功，不若平心易氣，養其在己而已。設使因痰健忘，乃一時之病，亦非獨痰也。凡心有所寄與諸火熱傷亂，其心皆健忘也。《靈樞》謂盛恐傷志，誌喜忘。《內經》謂血並於下，氣並於上，亂而喜忘。可不各從所由以治之哉？</p>

<h3>癆瘵</h3>
<p>《內經》無癆瘵之名，而有癆瘵之因。凡外感六淫，內傷七情。其邪展轉乘於五臟，遂至大骨枯槁，大肉陷下，各見所合衰憊之症，真臟脈見則有死期。二陽之病，則為風消、息賁。三陽為病，其傳為索澤癉，成為消中。大腸移熱於胃，胃移熱於膀胱，膽則體養而瘦。嘗貴後賤，病從內生，名曰脫營，嘗富後貧，名曰失精。暴樂後苦，皆傷精氣，精氣竭盡，形體毀沮。離絕菀結，憂恐喜怒，五臟空虛，血氣離守。《靈樞》曰：怵惕思慮則傷神，神傷則恐懼自失，破膕脫肉，毛瘁色夭，死於冬。又諸在膚肉脈筋骨之間者，各索所合之本臟，不得索於所不勝。後世張仲景立虛勞門，本於此也。巢元方有虛勞，有蒸病，有注病，皆推於此也。虛勞者，五勞六極七傷是也。五勞者，志勞，思勞，憂勞，心勞，瘦勞；六極者，氣極，血極，筋極，骨極，肌極，精極也；七傷者，曰陰寒，曰陰萎，曰裡急，曰精連，曰精少陰下濕，曰精滑，曰小便苦數，臨事不舉。又曰：大飽傷脾，大怒氣逆傷肝，強力舉重，久坐濕地傷腎，形寒飲冷傷肺，憂愁思慮傷心，風雨寒暑傷形，大恐懼不節傷志。又五蒸病者，骨蒸，脈蒸，皮蒸，肉蒸，內蒸。遍身熱多，又因熱病愈後，食牛肉，或飲酒，或房欲而成。諸注候者，謂邪氣居住人身之內，故名為注。此由陰陽失守，經絡空虛，風寒暑濕勞役之所致也。或傷寒傳諸陰不時除，瘥而留滯，或宿食冷熱不調而流注，或乍感生死之氣，卒犯鬼物之精，皆能成病，變狀多端。凡此注之為言住也，言其連滯停住，死又注易傍人也。以上虛勞蒸注等候，近世方論所列之藥眾矣，未有一言以歸其要者。蓋人之生氣與形耳，氣為陽，形為陰，偏於陽則熱，偏於陰則寒，況消萬物莫甚於火。夫癆瘵未有形不瘠肉不消也，皆由精血不勝氣之熱火，當用寒涼以和之，益水以濟之耳！乃謂形不足須溫之以氣，豈知，「溫」乃「溫存」。非溫熱也。氣本陽而復得溫則成亢陽矣，已涸之精血而加之以溫熱，天真何由而生耶？又有一等胎生骨細質弱者，精血必虧，此天癸已至而陰不能全盛與陽為配，及情欲動中，或勞役所使，則君、相二火相扇而起，其虧少之陰水莫能制之，故內蒸五臟，外連四屬，如是者，以稟賦夭短，豈藥所能治哉！</p>

<h3>咳血</h3>
<p>止從肺出，他無可言耶？曰：肺不獨咳血，而亦唾血。蓋肺主氣，氣逆為咳；腎主水，水化液為唾。腎脈上入肺，循喉嚨挾舌本，其支者從肺出，絡心注胸中，故二臟相連，病則俱病，於是皆有咳唾血也。亦有可分別者，涎唾中有少血散漫者，此腎從相火炎上之血也。若血如紅縷在痰中，咳而出者，此肺絡受熱傷之血也，其病難已。若咳白血，必死。白血淺紅色，似肉似肺也。然肝亦唾血，肝藏血，肺藏氣，肝血不藏，亂氣自兩脅逆上，唾而出之。《內經》有血枯症，先唾血，為氣竭傷肝也。又有咯血，咯與唾少異。唾出於氣，上無所阻；咯出於痰，氣鬱喉嚨之下，上不得出，咯而乃出。求病所屬之臟，咯、唾同出於腎也。余嘗治三人，不咳唾而血見口中，從齒縫舌下來者，每用滋腎水、瀉相火治之，不旬日而愈。又治一人，因憂病咳唾血，面黧黑色，藥之不效。曰：此必得喜可解。其兄求一足衣食地處之，於是大喜，即時色退，不藥而瘳。經曰：治病必求其本。又曰：無失氣宜。是知藥之治病，必得其病之氣宜，苟不察其得病之情，雖藥亦不愈也。</p>

<h3>肺痿</h3>
<p>出《金匱要略》，謂熱在上焦，因咳為肺痿。痿得之或從汗出，或從嘔吐，或從消渴，小便利數，或從便難，或被快藥下利，重亡津液，故寸口脈數，而咳，口中反有濁唾涎沫。原其意從《內經》痿條擴廣，在臟氣不得布榮衛行津液，反怫鬱為熱，聚結涎沫濁唾而後咳也。故附方或用炙甘草湯，或用生薑人參大棗湯主之，所治大意似之矣！至若又謂肺痿吐涎沫而不咳，其人不渴，必遺尿，小便數，以上虛不能制下故也。此為肺中冷，咳多涎唾，甘草生薑湯以溫之。若服湯已，渴者，屬消渴，則此所治便與前條上焦熱者不同矣。上焦熱則怫鬱，而肺之玄府燥澀，氣不利則咳，津不布則渴；此云肺中冷者，非形寒飲冷之邪在其中，由上焦無陽故曰冷，陽氣不足則不成熱，不熱則不咳亦不渴，惟氣虛不能制約其水道之行也。肺與腎連臟，肺虛則腎亦虛，故水入咽直達於腎，腎亦不以水精四布於五臟，而徑出於溺矣。</p>

<h3>痿</h3>
<p>血氣劣弱，力不任用而名也，故名。《內經·痿論》敘其皮肉筋骨痿弱於四屬之外者，然而有諸外必本諸內。至若五臟精神氣血，性情魂魄，司動靜之機於內者，而經亦嘗舉其端，所謂腎風而不能食，善驚，驚已心氣痿者死。又太陰司天，濕氣下臨，腎氣上從，陰痿氣大衰而不起，此非各從其所司之內症者歟！今仲景更明肺臟所生氣之虛實者又如此，脾、肝二臟雖無明文，觀此例則可知矣。六腑、九竅皆然。是故劉河間論氣血者人之神，若氣血或鬱結，或衰虛。不能宣通，則神無所用，而不遂其機，故劣弱也。當隨其虛實補瀉之，使氣血宣行，則神自清利，而應機能為用矣。</p>

<h3>怖</h3>
<p>《內經》無有，始於《金匱要略》，奔豚條有驚怖，繼云驚恐，可見驚怖即驚恐怖懼也。恐亦懼也，凡連稱驚恐者，以一陰一陽對待而言。如喜怒並稱者，喜出於心，心居在陽；怒出於肝，肝居在陰。志意並稱者，志是靜而不移，意是動而不定。靜陰也，動陽也。驚恐並稱者，驚因觸於外事，內動其心，心動則神搖；恐因惑於外事，內慊而精怯。《內經》謂驚則心無所倚，神無所歸，慮無所定，故氣亂矣。恐則精怯，怯則上焦閉，閉則氣外，外則下焦脹，故氣不行矣。又謂嘗貴後賤，嘗富後貧，悲憂內結。至於脫營失精，病深無氣，則灑然而驚，此類皆病後，從外事所動內之心神者也。若夫在身之陰陽盛衰而致其驚恐者，則驚是火熱躁動其心，心動則神亂，神用無方故驚之。變狀亦不一，為驚駭，為驚妄，為驚狂，為驚悸等。病恐則熱傷其腎，腎傷則精虛，虛則志不足，志本一定而不移，故恐亦無他狀。《內經》有驚病之邪，有火、熱二淫，司天在泉，勝復之氣，有各經熱病所致，有三陽積並，有氣並於陽，皆為諸驚等病，故病機統而言曰：諸病驚駭，皆屬於火也。於恐病之邪者，有精氣並於腎則恐，有血不足則恐，有少陽入陰，陰陽相搏則恐，有胃熱腎氣微弱則恐，有腎是動者恐。然於肝之驚恐互作者，以其臟氣屬陽，居陰納血藏魂，魂不安則神動，神動則驚；血不足則志慊，志慊則恐。故二者肝臟兼而有之。似此之類，於火、熱二淫並濕屬感邪之外，其餘驚恐皆因氣之陰陽所動而內生也。驚恐二病與內外所因治法同乎？異乎？曰：驚則安其神，恐則定其志，治當分陰陽也。心為離火，內陰而外陽；腎為坎水，內陽而外陰。內者是主，外者是用，又主內者五神，外用者五氣，是故心以神為主，陽為用；腎以志為主，陰為用。陽則氣也，火也；陰則精也，水也。及乎水火既濟，全在陰精上承以安其神，陽氣下藏以定其志；不然，則神搖不安於內，陽氣散於外，志感於中，陰精走於下。既有二髒水火之分，治法安得無異？所以驚者必先安其神，然後散之則氣可斂，氣斂則陽道行矣；恐者必先定其志，然後走之則精可固，精固則陰氣用矣。於藥而有二臟臣君佐使之殊，用內外所感者，亦少異會外事驚者。張子和謂驚者平之，平有二義：一云平常也，使病者時時聞之，習熟自然不驚；一云此固良法，不若使其平心易氣以先之；而後藥之也。吾謂內氣動其神者，則不可用是法，惟當以藥平其陰陽之盛衰而後神可安，心可定矣。</p>

<h3>痓</h3>
<p>仲景謂太陽病發熱無汗，反惡寒，名曰剛痓者，為中風發熱重，感於寒而得之。此《內經》所謂赫曦之紀，土羽為痓，其義一也。如中風淫之，熱與火運以熱無少異，其重感於寒亦與土羽之寒同是外郁，熱因鬱則愈甚，甚則熱兼燥化而無汗，氣血不得宣通，大小筋俱受熱害而強直，故曰剛痓。所謂太陽病發熱汗出，不惡寒，名曰柔痓者，為太陽發熱重，感於濕而得之。此《內經》所謂諸痓項強，皆屬於濕。又謂因於濕，首如裹，濕熱不攘，大筋軟短，小筋弛長，軟短為拘，弛長為痿。肝移熱於腎，傳為柔痓。注云：柔謂筋柔而無力，強為骨強而不隨。三者之義，與仲景所言重感於濕為柔痓者，豈不同是小筋得濕則痿弛而無力者乎？其搖頭，發熱，頭項強急，腰背反張，瘛瘲口噤，與剛痓形狀等者，豈不同是大筋受熱則拘攣強直者乎？後代乃以無汗為表實，有汗為表虛。不思濕勝者多汗，乃以汗為表虛，而用姜附溫熱等劑，寧不重增大筋之熱歟！</p>

<h3>溫病</h3>
<p>方中有治法者三：以人中黃療時行熱毒為主；蒼朮、香附散結郁為臣，芩、連降火，人參補虛，桔梗、防風利氣行經為佐；熱毒鬱結則內外氣液不通成燥，大黃苦寒而能盪滌燥熱，滑石性滑味淡，將以利竅解結通氣液以潤燥，二者一陰一陽，故用之為使。此三治法，非特通治諸溫也。《內經》冬傷於寒，春必病溫，與冬不藏精病溫者，有虛實之異，有四時不正勝氣鬱之者，有君相二火加臨者，即分君客之殊，有五運六氣當遷，正值所勝抑之，不得升降，又當辨其所發之氣以治，豈守三法俱用以治溫乎？先生曰：凡亢陽霖淫，暴風冰雹非常之變，必記以驗發於何時以為治源也。</p>

<h3>手心熱</h3>
<p>手心者，心之營名勞宮，手少陰脈入掌中，故心所生病，掌中熱痛。心主手厥陰包絡脈入掌中，是動則病手心熱，所生病者，煩心，掌中熱。是知手心熱者，皆二經之火，為病百端，豈一症一方可言哉？原其方旨，必是當時為憂慮過節，津液不布，停聚成痰，溫鬱伏心，火不得發越，故用此方，因集於此。</p>

<h3>發熱</h3>
<p>陰血虛而熱者，敘之太略。陰陽之在人身，猶權衡之不可高下。陽盛則熱，陰盛則寒。況天地之氣，陽大而陰小，人稟之以生，故陽易勝、陰易乏，陰不敵陽則熱發於內而徹於外，故百病皆生於陰陽之勝負也。陽為強盛或客邪入害其正，則皆隨其勝負處發為熱病，故《內經》諸篇，屢書不一。仲景明六經五臟之治法，河間明水火陰陽之微旨，東垣有內傷治火分經之藥。今先生參用三家之說，嘗謂相火易起，遇五性為物所感，不能不動，動則厥陽之五火從而相扇，是相火起於妄，妄則煎熬真陰，陰虛則病，陰絕則死，此水火陰陽為病之源。先生治血虛發熱，而血亦分陰陽。若血之陰不足，如芎、歸辛溫亦在不用；若血之陽不足，雖薑、桂辛熱，而亦用之。與瀉火之法有正治，有從治，皆在臨機應變，其不執方也如此。</p>

<h3>飲酒發熱</h3>
<p>蓋酒大熱有毒，況人身陽氣本熱，得酒則熱愈熾愈剛，陰氣必破散，陽氣亦消亡而死矣，豈止難治而已！設身之陰氣因酒而耗，自熱不甚，惟酒熱而病，陰氣之散有未絕，則猶有可治之理。姑書一二以驗之。</p>
<p>一人每晨飲燒酒數杯，後終日飲常酒，至五六月，大發熱，醫用水攤心腹，消復增之，內飲以藥，三日乃愈。</p>
<p>一人年二十，於四月病發熱，脈浮沉皆有，不足意，其間得洪數一種，隨熱進退，彼時知非傷寒也。因問必是過飲酒毒在內，今為房勞，氣血虛乏而病作耶？曰：正月間，每晨飲燒酒，吃大肉近一月矣！予得病情，遂用補氣血藥，加乾葛以解酒毒。服一帖，微汗，反懈怠，熱如故。因思是病氣血皆虛，不禁葛根之散，必得枸距子方可解也。偶有一小枝在書冊中，幸不腐爛而干，加前藥內，煎服，一帖而愈。籲！孫真人云：醫者意也。但患病情察之未到，藥味思之未得，若病藥兩投，何患不痊！</p>

<h3>腳氣</h3>
<p>一人兩足酸重，不任行動，發則腫痛。一日在不發中，診脈二部皆大，兩手加蔥管無力，身半以上肥盛。予以其膏粱妾御，嗜恣無窮，精血皆不足，濕熱太盛，因用益精血於其下，清濕熱於其上。二方與之，或言腳氣無補法，故不肯服。三月後痛作，一醫用南法治不效，一醫用北法瀉之，即死於溺器上。籲！不識病之虛實，執方誤人多矣。</p>

<h3>夢遺</h3>
<p>經曰：腎屬水，受五臟六腑之精而藏之。又曰：主蟄，封藏之本，精之處也。又曰：陰陽之要，陽密乃固。故陽強不能密，陰氣乃絕；陰平陽秘，精神乃治；陰陽離決，精氣乃絕。又曰：陰陽總宗筋之會，會於氣街。《靈樞》曰：厥氣客於陰器則夢接內。蓋陰器者，宗筋之所聚也，而足太陰、陽明、少陰、厥陰之筋，皆結聚於陰器，與沖、任、督三脈之所會，然厥陰主筋，故諸筋皆通於厥陰。腎為陰，主藏精；肝為陽，主疏泄。陰器乃泄精之竅，故腎之陰虛則精不藏，肝之陽強則氣不固。若陰客於其竅與所強之陽相感，則精脫出而成夢。陽強者，非臟真之陽強，乃肝臟所寄之相火強耳！火盛不已，反有以消其臟之真陽者。肝藏魂，臟真之陽虛則遊魂為變，變則為夢，與肝虛多夢亡人無異。然病之初起，亦有不在腎肝而在心肺脾胃之不足者，然必傳於腎肝而致精之走也，有自然相傳之理焉！宗筋者，上絡胸腹，夾臍下，合橫骨，故《內經》謂其總宗筋之會，會於氣街，主束骨而利機關也。五臟俱有火，相火寄於肝者，善者則發生，惡者為害甚於他火，故平人肝氣剛勇，充於筋而為罷極之本也。其陰器既宗筋之所聚，乃強於作用，皆相火充其力也。若遇接內得陰氣與合，則三焦內外之火翕然下從，火從而動則百體玄府悉開，其資生之精盡趨會於陰器以躍出焉，豈腎之所藏者而已！所謂厥氣客於陰器，厥氣亦身中陰分所逆之氣，與接內之氣同是陰類，故夢猶接內之脫精也。夢則真陽泄，未免形體衰憊，其氣難復，不比平人接內一二時間氣便可復也。曰：治法何如？曰：病從他臟起者，則以初感症者為本，腎肝聚病之處為標；由肝腎自得者，獨治肝腎可也；由陰陽離決，水火不交通者，則既濟之陰陽不相抱負者，則因而和之。陽虛補氣，陰虛補血，陽旺者瀉火，火有正治、反治，從少、從多，隨其攸利。奈何今人不辨陰陽虛實，惟務溫之、熱之於內，灸之於外，甚至陰水耗竭，壯火獨炎，枯脂消肉，骨立筋痿，不可復救矣！余惟從經旨以治多驗。</p>
<p>一人二十餘歲，夜讀書至四鼓猶未已，遂發此病。臥間莖但著被與腿，便夢精遺，懸空則否，飲食日減，倦怠少氣。余以用心太過，二火俱起，夜不得眠，血不歸肝，則腎水不足，火乘陰虛，入客下焦，鼓其精房，則精不得聚臟而走失矣。因玉莖著物，猶厥氣客之，故作接內之夢。於是上則補心安神；中則調理脾胃，升舉其陰，下則益精生陰固陽。不三月而愈。</p>
<p>一老人，六十歲，患瘧而嗽，多服四獸飲，積成濕熱，乘於下焦，幾致危困。余診尺脈數而有力，與補中益氣加涼劑，三日，與黃柏丸，次早尺數頓減，因問：有夜夢否？曰：然，幸不泄爾。余謂年老精衰，固無以泄。蓋以大熱結於精房，得泄火益陰之藥，其火散走於陰器之竅，病可減矣。再服二日，又夢，其瘧、嗽全愈。</p>
<p>一人每夜有夢，余連診二日脈，觀其動靜，終不舉頭，但俯視不正，必陰邪相著，叩之不言其狀。遍問隨其出入之僕，乃言至廟見侍女，以手撫摩其身久之，不三日遂病。令法師入廟毀其像，小腹中泥土皆濕，其病遂安。此則鬼魅相感耳！</p>
<p>嘗觀仲景治下焦真陽與精血兩虛，少腹弦急，脈芤動微緊，男子失精，女子夢交通者，用桂枝、龍骨之屬溫之、固之。若陽浮上而不降，悸衄，手足煩，咽乾口燥，陰獨居內，為裡急腹痛，夢失精者，以小建中湯和之。皆可取以為法也。</p>

<h3>淋</h3>
<p>膀胱主水，水入於胞為溲便。若飲食不節，喜怒不時，虛實不調，則臟不知，致腎虛膀胱有熱，腎虛則小便數，膀胱熱則水澀而數，澀則淋瀝不宣，故曰淋。小腹弦急，痛引於臍。又須分石、膏、血、勞、氣、冷。其石淋，如沙石；膏淋，肥膩若脂膏，又名肉淋；血淋，心主血，氣通小腸，熱甚則摶於血脈，血得熱則流行於胞中與溲俱下；勞淋，勞倦則發；氣淋，胞內氣賬，小腹堅滿，出少喜數，尿有餘瀝；冷淋，冷氣客於下焦，邪正交爭，滿於胞內，水道不宣，先寒顫，然後便溺成淋：可謂得其病情矣。《內經》病因又不止此，若太陰作初氣，病中熱脹，脾受積濕之氣，小便黃赤，甚則淋。少陽作二氣，風火鬱於上而熱甚，病淋。蓋五臟六腑、十二經脈，氣皆相通移，是故足太陽主表，上行則統主諸陽之氣，下行則入膀胱。又肺者通調水道，下輸膀胱，脾胃消化水穀，或在表在上在中。凡有熱則水液皆熱，轉輸下之，然後膀胱得之而熱矣！且小腸是心之腑，主熱者也，其水必自小腸滲入胞中。諸熱應於心者，其小腸必熱，胞受其熱，經謂胞移熱於膀胱，則癃溺血是也。是知初起之熱邪不一。皆得傳於膀胱而成淋，故淋症必治其本，若止治胞中之熱，未為善也。夫淋必由熱甚生濕，濕生則水液渾濁，凝結為淋。又有服金石入房太甚，敗精流於胞中，及飲食痰積滲入者，皆能成淋。先生治小兒，在胎稟父母金石餘毒之氣，病淋十五年，治以紫雪而愈。凡治病必求其本也。</p>

<h3>小便不通</h3>
<p>治以吐法何也？曰：取其氣化而已。經曰：三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉，氣化則能出矣。故上、中、下三焦之氣，有一不化，則不得如決瀆之水而出矣。豈獨下焦膀胱氣塞而已！上焦肺者，主行榮衛，通調水道，下輸膀胱，而腎又上連肺，豈非小便從上焦之氣化者乎？仲景謂胃氣行則小便宣通。《內經》謂脾病則九竅不通。小便不利者，其病一也。由是三焦所傷之邪不一，氣之變化無窮，故當隨處治邪行水，大要在乎陰陽無相偏負，然後氣得以化。若方盛衰論曰：至陰虛，天氣絕；至陽盛，地氣不足。夫腎、肝在下，地道也；心、肺在上，天道也；脾胃居中，氣交之分也。故天之陽絕而不下交於地者，尚且白露不下，況人同乎天，其上之陽不下交於陰，則下之陰虛；在上之陽盛不務其德而乘之，致腎氣之不化，必瀉其陽而舉之，則陰可得而平也。若此條所敘之症，皆用吐法，蓋因氣道閉塞，升降不前者而用耳！其他眾法，何嘗舍之而獨施是哉？先生嘗曰：吾以吐法通小便，譬如滴水之器，開其上竅則下竅水自出焉！</p>
<p>一婦年五十，患小便澀，治以八正散等劑，小腸脹急不通，身如芒刺。余以所感霖淫雨，濕邪尚在表，因用蒼朮為君，附子佐之發表，一服即汗，小便隨通。</p>
<p>一人年八旬，小便短澀，分利太過，致涓滴不出。蓋飲食過傷，其胃氣陷於下焦。用補中益氣湯，一服即通。</p>

<h3>泄瀉</h3>
<p>泄瀉多類，得於六淫五邪、飲食所傷之外，復有雜合之邪，似難執方而治。先生治暴氣脫而虛，頓泄不知人，口眼俱閉，呼吸甚微，殆欲死者，急灸氣海，飲人參膏十餘斤而愈。治陰虛而腎不能司禁固之權者，峻補其腎。治積痰在肺，致其所合大腸之氣不固者，湧出上焦之痰，則肺氣下降而大腸之虛自復。治憂思太過，脾氣結而不能升舉，陷入下焦而泄者，開其鬱結，補其脾胃，使穀氣升舉也。凡此不可枚舉。因問：先生治病何其神也？先生曰：無他，員機活法，具在《內經》，熟之自得矣！退讀《內經》三年，乃知先生於泄利症，凡內外之邪，有傷生化之用，則陰陽失其居處之常，臟腑失其所司之政，以致腸胃傳化之職不修，故泄利也。</p>

<h3>膈噎</h3>
<p>膈噎之病，得之七情、六淫，遂有火熱炎上之化，多升少降，津液不布，積而為痰，為飲，為嘔吐。必須外避六淫，內節七情，飲食自養，滋血生津，以潤腸胃，則金無畏火之炎，腎有生水之漸，氣清血和，則脾健運而食消磨，傳送送行矣！治者例用辛香燥熱，痰飲被劫，時暫得快，七情、飲食不節，其症復作，前藥再行，積成其熱，血液俱耗，胃脘乾槁，大便秘少若羊矢，則難治矣。嘗治番胃未至於胃脘乾槁者，一少年，食後必吐出數口，卻不盡出，膈上時作聲，面色如平人。病不在脾胃而在膈間，問其得病之由，乃因大怒未止輒吃曲，即有此症，想其怒甚則死血菀於上，積在膈間，礙氣升降，津液因聚為痰為飲，與血相摶而動，故作聲也。用二陳湯加香附、韭汁、萊菔子，服二日，以瓜蒂散、敗醬吐之，再一日又吐，痰中見血一盞，次日復吐見血一鍾而愈。</p>
<p>一中年人，中脘作痛，食已乃吐，面紫霜色，兩關脈澀，乃血病也。因跌僕後中脘即痛，投以生新推陳血劑，吐血片碗許而愈。</p>

<h3>傷食</h3>
<p>飲食入胃，多停中脘。中脘乃盛水穀之海、上脘只納食，行水穀，所化精悍之氣，上輸於肺，下脘消化糟粕，入大小之腸。如食入於腸胃有停留不化者，有食物已去而害其脾胃轉運之氣者，有因之而致其清濁不分者。三脘者，則皆惡食，其物停留三脘有輕重。重在中下，則大小承氣、備急丸之類；輕在中下，則枳朮丸之類。食納上脘，未入中脘而傷之重者，而出之；其已入中脘，而食物塞之，其氣反壅於下脘，致氣口脈大於人迎二、三倍者，亦必吐之。經曰：上部有脈，下部無脈，其人當吐不吐者死。若物已去而脾胃中元氣受傷者，則東垣內傷補益之法是矣。所謂食傷胸中如有物者，非所食穀肉之物，由飲食過度，消化之氣清濁不分，溷亂之液自上脘至胸中，積成痰飲，乃傷之輕者，故宜分清濁、化痰飲、和中益胃、開鬱則鬱。</p>

<h1>卷之下</h1>

<h2>大風</h2>
<p>丹溪取醉仙、再造，以分上下用也。《內經》曰：脈風成，為癧風。又曰：風寒客於肺而不去，名癧風。癧風者，榮衛熱胕，其氣不清，故使鼻柱壞而色敗，皮膚瘍潰。又謂風氣與太陽俱入，行諸脈俞，散諸分肉之間，與衛氣相干，其道不利，故使肌肉膹䐜而有瘍，衛氣有所凝而不行，故其肉有不仁也。《刺長節論》曰：病大風，骨節重，鬚眉墮，刺肌肉，汗出百日。（王注）泄衛氣之怫熱，刺骨髓，汗出百日。（王注）以泄榮氣之怫熱，凡二百日，鬚眉生而止。《靈樞》曰：癧風者，數刺其腫上，以鋒針針其處，按出其惡氣，腫盡乃止，當食方食，毋食他食。經論分榮衛者，如此古方，但混泄風熱於榮衛，又無先後之分，惟《活法機要》用樺皮散治其衛，二聖散治其榮。二聖即再造也，出《三因方》。先生言再造用鬱金半兩，白醜六錢（半生半炒），皂角刺（經年黑大者）。今選二方，分氣血上下先後而用。蓋以氣為陽為衛，血為陰為榮。身半以上，陽先受之：身半以下，陰先受之。再造治其病在陰者，用皂刺出風毒於榮血中。肝主納血，惡血留止屬於肝也。蟲亦主於厥陰風木所化，須是治其臟氣，殺蟲為主，以大黃引入腸胃榮血之分，利下惡血蟲物。醉仙散治其病在陽者，用鼠黏子出風毒遍身惡瘡，胡麻逐風、補肺、潤皮膚，蒺藜主惡血、身體風癢、通鼻氣，防風治諸風，栝蔞根治瘀血、足熱胕腫，枸杞消風毒熱、散瘡腫，蔓荊子主賊風，苦參治熱毒風、皮肌煩躁生瘡、赤癩眉脫，八味治風至矣！然必銀粉為使，乃下膈通大腸要劑，用其驅藥入陽經，開風熱怫鬱痞結，逐出惡氣臭穢之毒，殺所生之蟲，隨經上行至牙齒嫩薄之分，出其臭毒之涎水。此藥傷齒，則以黃連末揩之，或先固濟以解銀粉之毒，銀粉在醉仙散有奪旗斬將之功，遂成此方之妙用，非他方可及。餘邪未除，但調和榮衛藥中少加驅逐耳！</p>
<p>一人面浮油光，微腫色變，眉脫，癢。二世癘風死者三人。與醉仙散，出涎水如盆而愈。</p>
<p>一人面腫，色變黑，燥癢，眉須脫落，手足皮燥厚折，痛癢無全膚，有時癢入骨髓，抓至血出，稍止復作，晝夜不眠，與二藥則愈。</p>
<p>一婦兩足脛瘡潰，眉落，與再造散一服愈。年少不能斷欲、忌口，一年復發。其前二人不復發者，非能如法調攝，由病得之未深，鼻柱未壞，瘡未潰胕故耳！故人抱病，不可不早治也。</p>

<h2>痛風</h2>
<p>即《內經》風寒濕三氣雜至，合而為痹也。雖言寒為痛痹，然三者皆能作痛，但寒勝者痛甚如掣，濕者痛著如腫，風者其痛行動無常處，悉因凝滯之痹與流行榮衛真氣相擊搏，則作痛痹，若不幹其流行出入之道，則不痛但痿痹耳！隨其痹所在，或陽多陰少則為痹熱，或陰多陽少則為痹寒，或骨重，或筋攣不伸，肌肉不仁，或血脈凝而不流，或在皮則寒，或逢熱則縱。後人就中摘出為痛者分六條，具數百方。夫藥在乎明道，不在多言。苟明其道，雖一言一方亦可類推；道若不明，奚適於用而取擇焉？今六條中，有謂由風寒濕氣，則血凝澀不得流通，關節諸筋無以滋養，真邪相搏，歷節痛者；有謂風百節痛者；有謂風氣走注，痛無常處者，有謂白虎風者，或在骨節，或走四肢，晝靜夜發，發則痛徹入骨；有風腰痛者：豈非悉是風寒濕三氣痹而痛乎？曰：《痹論》止言寒為痛痹，未聞行痹亦痛。曰：《靈樞·周痹篇》有眾痹，有周痹，即此云也。又《內經·四時刺逆從論篇》於六經皆云有餘不足悉為痹。注曰：痹，痛也。此非人氣之邪亦作痛耶？今以一條而舉眾病何也？蓋因是集有所未備耳！且人身體痛，在外有皮肉脈筋骨之異，由病有不同之邪，亦各欲正其名，名不正將何以施治？如邪是六淫者，便須治邪；是人氣者，便須補瀉其氣；病在六經四屬者，各從其氣。故制方須宜分別藥之輕重緩急，適當其所，庶得經意。</p>

<h2>疝</h2>
<p>《內經》謂任脈為病，男子內結七疝，女人帶下瘕聚；衝脈為氣逆裡急（云云）。又云：少陰脈滑，肺風疝；太陰脈滑，脾風疝；陽明，心風疝；太陽，腎風疝；少陽脈滑，肝風疝。由外邪入於木，木陽臟，起動風也，故滑脈曰風。然連稱疝者，蓋腎肝同居下焦，而足厥陰佐任脈之生化，固肝腎之氣並逆，所以腎之陰氣為疝，肝之陽氣為風。又有莖垂者，身中之機，陰陽之候，津液之道，或飲食不節，喜怒不時，津液內溢，下流於睪，血道不通，血道不通則俯仰趨翔不便，又巢氏（云云）。而張戴人非之曰：此俗工所立謬名也。蓋環陰器，上抵少腹，屬足厥陰肝經部分，此是受病之處。或在泉寒勝木氣，攣縮禁於此經；或司天燥勝木氣，抑鬱於此經；或忿怒悲哀，憂抑頓銼；或藥淋外固，閉尾縮精壅於此經，與膀胱、腎、小腸了不相干也。且疝者，非肝木受邪，則肝木自甚也。由是於陰疝中亦立七名，曰寒疝、水疝、筋疝、血疝、氣疝、狐疝、㿗疝也。寒疝，囊冷結縮如石，陰莖不舉，或連控丸而痛，得於坐臥濕地及磚石，或冬月涉水，或值雨雪，或風冷處，使內過勞，宜以溫劑下之，久而無子。水疝，腎囊腫痛，陰汗時出，囊腫如水品，或囊癢搔出黃水，或小腹按之作水聲，得之飲水醉酒，使內過勞，汗出而遇水寒，濕氣聚於囊中，故水多令人為卒疝，宜以逐水之劑下之。筋疝，陰莖腫脹，或潰，或膿，或痛而裡急筋縮，或莖中痛，痛極則癢，或挺縱不收，或白物如精隨溲而下，得之於房室勞傷及邪術所使，宜以降心火之劑下之。血疝，狀如黃瓜，在小腹橫骨兩端約中，俗云便癰，得於重感春夏大燠，勞於使內，氣血流溢滲入脬囊不去，結成癰腫，膿少血多，宜以和血之劑下之。氣疝，其狀上連腎區，下及陰囊，或因號泣忿怒，鬱而脹，怒號罷則氣散是也，宜以散氣之劑下之。小兒亦有此疾，俗曰偏氣，得於父已年老，或年少多病，陰痿精怯，強力入房，因而有此，乃胎病也，此病不治。狐疝，其狀如丸，臥則入腹，行立則出小腹入囊中，狐則晝出穴而溺，夜則入穴不溺，此疝出入上下往來，與狐相似，亦與氣疝大同小異，今人帶鉤鈐是也，宜以逐氣疏經之藥下之。㿗疝，囊腫縋如升斗，不癢不痛是也，得之地氣卑濕，故江淮湫溏之間多此，宜以去濕之劑下之，諸下去後，可調則調，可補則補，各量病勢，勿執俗法，經謂陰盛腹脹不通者，㿗癃疝也，不可不下。雖然戴人既用《內經·靈樞》、《明堂》之論，止從足厥陰分，而不及任脈，蓋因力辨陰器屬厥陰部分受病，故未暇及任脈也。其治法因病在下皆先下之，不問虛實，欠於周悉。丹溪常論睪丸連小腹急痛者，或有形無形，或有聲無聲，人皆為經絡得寒則收引不行而作痛，不知此痛始於濕熱鬱遏至久，又感外寒，濕熱被鬱而作痛也。初致濕熱之由，蓋大勞則火起於筋，醉飽則火起於胃，房勞則火起於腎，大怒則火起於肺，火鬱之久，濕氣便盛，濁液凝聚，併入血隧，流於厥陰，肝木性急，火又暴烈，為寒所束，宜其病甚而暴也。此則發明戴人之未至。又㿗疝不離三者之邪，熱則縱，寒則痛，濕則腫，須分三者多少而治之。兩丸俱病固然也，更有偏於一者。腎有兩，分左右，左屬水，水生肝木，木生心火，三部皆司血，統納左之血，肝木之職也；右屬火，火生脾土，土生肺金，三部皆司氣，統納右之氣，肺金之職也。是故諸寒收引則血泣，所以寒血從而歸肝，下注於左丸：諸氣膹鬱則濕聚，所以氣濕從而歸肺，下注於右丸。且睪丸所絡之筋非盡由厥陰，而太陽、陽明之筋亦入絡也，往往見患偏左則痛多腫少，偏右則痛少腫多，可驗也。</p>
<p>一人病後飲水，病左丸痛甚，灸大敦，以摩腰膏摩囊上，上抵橫骨，炙溫帛覆之，痛即止，一宿腫亦消。予舊有甘橘積，後山行飢甚，食橘、芋，橘動舊積，芋復滯氣，即時寒熱，右丸腫大。先服調胃劑一二帖，次早注神使氣至下焦，覺積動，嘔逆，吐之復吐，後和胃氣、疏通經絡而愈。</p>

<h2>內傷</h2>
<p>東垣謂百病之源，皆由喜怒、飲食、勞役所傷脾胃而然。其元氣、穀氣、營氣；清氣、衛氣、生髮諸陽之氣，此六者皆胃氣之別稱也。脾胃既傷，則中氣不足；中氣不足，則不能滋養元氣；不能滋養元氣，則臟腑之真氣皆不足，惟陰火獨旺，上乘陽分無形質，元氣受病矣！系在上焦心肺之氣絕於外，心主榮，肺主衛，故榮衛失守，諸病生焉！此論發熱盡由於內傷也，及河間所言則又不止此也。曰：天真者，造化之元氣也，在身亦得執天機而行六氣，分地紀而運五行，巡歷周身，化生萬物。若調攝適宜，邪不能傷，或憂愁思慮、飢飽勞逸、大驚卒恐，真氣耗亂，血氣分離，其五行六氣遂有愆陽伏陰興衰之變，則百病作矣！於是著《原病式》以明其道，取《至真要大論》之病機以為提綱；用五運主病者以言五臟所屬木火土金水之變；用六氣為病者以言三陰三陽所屬風寒濕熱燥火氣之變。在五行，則以金水易衰，火木易盛；在六氣，則以濕熱相火二氣為病獨多。至於五行過極，亢則害，承乃制，反兼鬼賊之化，此皆得為發熱之病，豈止由於脾胃所始乎？先生不以一家之學自至，益求其未至。乃謂天之陽，大於地之陰；地之陰，常不敵夫天之陽。人稟天之陽為氣，地之陰為血，所以氣常有餘，血常不足，此年四十而陰氣已衰半矣！故人不可恣欲以自戕，必保養天和，庶幾陰無虧缺，可與陽齊，以終天年。夫天和者，天真元氣也。負陰抱陽，元精立其體，元神致其用。苟不搖其精，則體全而用不竭；不勞其神，則用專而體不虧。然精之秘，非惟奉養天真而已，精秘則陰實。經曰：陰成形。陰實則形全，陰虛則形敝，敝則出入廢、升降息，孤陽之氣安得不亢而飛越乎？先生嘗曰：人因喜怒、勞役、色欲之火，煎熬腎水、枯竭精血而病者十常六七。夫五臟皆屬陰而藏精者也，腎又五臟陰氣之主，故受五臟之精而藏之，故諸陰精血之病皆本於腎。其輸納之際必詳察焉！大抵效仲景八味丸以五味各入五臟益其精，其中桂、附之辛開腠理、致津液、通氣道，輸而與之。補腎之法，固不越規矩，然地道之陰虛，則天道之陽不降，或陽亂於下而少陰之氣不得收藏者，或精絕闢積而不輸者，或兩腎陰陽自有偏者，必皆揆度以治。然元氣者，在身有根有苗，在太虛非陰非陽。其根也自天地開發，周流上下四方，隨其所至以化行者，仲景所謂五臟元真是也。在肝則溫化，其氣升；在心則熱化、其氣浮；在脾則沖和之化，其氣備；在肺則涼化，其氣降；在腎則寒化，其氣藏：猶天以一元之氣行於四時也。此苗也，各從其本臟之元真而論治。元氣所化者不足，則從其所化補之；元真所化者太過，則反其所化瀉之。然則論元氣獨在脾胃者』此重水穀以資天真也。先生兼之受精以全形者，則又重兩腎為元精，立壽命本始之地也。錢仲陽於腎有補無瀉，正此意耳！二者皆從根本而治也。</p>

<h2>中風</h2>
<p>中風論治，先生以《內經》正《局方》之非，以濕熱內傷補仲景之未備，獨河間、戴人、東垣能發明此三者。河間曰：中風癱瘓，非肝木實甚而發中之也，亦非外中於風，由乎平日衣服飲食，安處動止，精魂神志：情性好惡，五志過極，不循其宜，致失其常，久則氣變興衰，而心火暴甚，腎水衰弱不能制之，則陰虛陽實而熱氣怫鬱，心神昏眊，筋骨不用，而卒倒無所知也。戴人曰：暴僵暴僕，皆屬厥陰肝木之無制也。肝木自甚，獨風為然，蓋肺金為心火所制，不能勝木故耳！東垣曰：凡人年逾四旬，氣衰之際，或因憂喜忿怒傷其氣者，壯歲肥盛之人，形盛氣衰者，皆致中風，治法當和臟腑通經絡。或曰：劉、張二氏猶用風藥，佐輔瀉火之劑，以開鬱結，散其風熱，今丹溪全然不用，乃從痿治何也？曰：先生但不用其發表傷衛之劑，至若鼠黏子之散支節筋骨、咽喉風熱毒，起陰氣，通十二經脈者也，則於是症嘗用之，雖作痿治，然於散肝木之風，解鬱結之熱，皆在其中矣！其大法：泄心火則肺金清，而肝木不實，故脾不受傷；補腎水則心火降，而肺不受熱。脾肺安則陽明實，陽明實則宗筋潤，能束骨而利機關矣！復以東垣所治，黃柏與黃耆等補藥為佐輔，有兼痰積，有熱多，有濕熱相半，臨病制方，無一定之法，善於治痿者乎！竊論陽明者，胃脈也，胃乃水穀之海。經曰：人以胃氣為本，無胃氣則死。蓋元精、元氣、元神不可一日無水穀以養之，其水穀藥石入胃，而氣屬陽，味屬陰。屬陽者，則上輸氣海；屬陰者，則下輸血海。二海者，氣血之所歸，五臟六腑、十二經脈皆取資於此。故二海盈溢，則一身內外氣血皆充足矣。氣充則榮衛流行，而手足百骸之力湧出矣；血充則衝脈引以滲灌於溪谷，而四屬、九竅各為之用，而帶脈得以約束十二經脈，不至於緩縱痿弱矣。先生用是以治中風癱瘓緩弱之病，可為法於後矣！嚴氏必先理氣為說，是不識氣因火而沖，反用辛溫助火散氣，誤人多哉！</p>

<h2>暑</h2>
<p>《金匱要略》云：太陽中暍，發熱惡寒，身重而痛，其脈弦細芤遲，小便已灑然毛聳，手足逆冷，小勞身即熱，口開前板齒燥。若發汗則惡寒甚；加溫針則發熱甚；數下之則淋甚。其人汗出惡寒，身熱而渴，白虎加人參湯主之。其人身熱疼重，而脈微弱，此夏傷水，水行皮中所致，一物瓜蒂湯主之。東垣分暑病有二：或避暑深堂大廈，靜而得之，名中暑。中暑陰症也，必頭疼惡寒，身形拘急，支節疼痛而煩心，肌膚火熱無汗，當用大順散以發散是也。若行人、農夫於日中勞役，動而得之名中熱。中熱陽症也，為熱傷元氣，必苦頭痛，發燥熱，惡熱，捫之火熱，大渴引飲，汗大泄，無氣以動，乃天熱外傷肺氣，蒼朮白虎湯主之是也。舉此二方以為例耳，非令人執守之也。別論有先因勞役，飲食虛損脾胃宿疾之人，遇暑將理失宜，違時伐化；必困乏無力，精神短少，氣弱氣促，似喘非喘，諸陽虛之症不一而見，甚則傳於腎肝，諸痿厥之病作矣，為脾主四肢故也。制黃耆人參湯主之，在長夏濕熱之令，有清暑益氣湯主之，隨症加減。蓋此勞與行人之勞何異？此之飢飽於人寧無飲食之虛損者哉？豈非人參、黃耆可與白虎湯相參合一迭相為用耶？雖在脾胃先損，後或受暑熱之勝，至大渴引飲，煩悶肌熱，亦必於黃耆人參湯中加石膏、知母為佐可也。經曰：火淫所勝，治以辛寒，以甘瀉之。石膏味甘辛寒，治暑熱傷脾肌熱之功，他藥所不及。然而清暑益氣湯治暑，而無石膏何也？因脾胃虛損，當夏令火熱而病，非中其熱；又胃弱不耐石膏之寒降，恐生髮之氣不升故耳！或暑熱乘虛而感之，又安得不用其為佐乎？若中熱者，雖以白虎為主，或元氣虛甚，亦安得不用參、耆為佐乎？</p>

<h2>注夏</h2>
<p>先生謂陽有餘陰不足，若恣欲泄精無度，至夏必陽氣輕浮，有頭痛，腳軟，食少，發熱之患，即注夏也。注者，灌也。先因陰虛不勝夏令暑熱，灌之其病則劇，非中熱也。仲景謂勞之為病，其脈浮大，手足煩，春夏劇，秋冬瘥是也。東垣所謂脾胃元氣先損，至夏而病作，用黃耆人參湯，亦注夏也。蓋暑熱之氣，不止傷陰，而亦損陽。東垣治損陽者，重在於胃，以氣為要；先生治傷陰者，重在脾腎，以精血為要。精藏於腎，血化於脾，皆陰臟也。注夏之名固同，及分陰陽用藥則不同也。治陰虛者，非質重味厚屬脾胃之君藥，安能固其陽根而斂其輕浮之氣乎？</p>

<h2>暑風</h2>
<p>即中暑也，可用吐法。其人必內先有火熱痰實、因避暑納涼，風入襲之，鬱而成病，或身熱，或昏冒，是以用吐，吐中有汗，火鬱得汗則解，風得汗則散，痰得湧則出，一舉三得。此先生當時治挾痰者，非通治暑風之大法也。無所挾者，惟宜汗散。</p>

<h2>濕</h2>
<p>濕有天之濕，霧、露、雨是也，天本乎氣，故先傷表之榮衛；水、泥，地之濕也，地本乎形，故先傷皮肉筋骨血脈；酒水、乳酪，飲食之濕也，胃為水穀之海，故先損脾胃；有汗液之濕，亦氣也，止感於外；有氣之濕，屬足太陽所化者也。治天之濕，當同司天法，濕上甚而熱者，平以苦溫，佐以甘辛，以汗為故；治地之濕，當同在泉法，濕淫於內，治以苦熱，佐以酸淡，以苦燥之，以淡泄之；飲食之濕，在上者吐之，在中者奪之，在下引而竭之；汗液同司天治。惟人氣屬太陰脾土所化之濕者，在氣交之分，與前四治有同有異。何則？土兼四氣，寒熱溫涼，升降浮沉，備在其中。脾胃者，陰陽地位，更虛更實，更從更逆，是故陽盛則木勝，合為風濕；至陽勝則火勝，合為濕熱；陰盛則金勝，合為燥熱；至陰勝則水勝，合為寒濕。為兼四氣，故淫泆上下中外，無處不到。在上則嘔吐、頭重、胸滿；在外則身重、腫脹；在下則足脛跗腫、中滿痞塞。當隨其上、中、下，外兼寒、熱、溫、涼以為佐使。至若先因乘克以致脾虛津積而成濕者，則先治勝克之邪，或脾胃本自虛而生濕者，則用補虛為主；或熱鬱而成濕者，則以散熱為要；或脾胃之濕淫泆，流於四臟筋骨皮肉血脈之間者，大概濕主痞塞，以故所受之臟氣澀，不得疏通，故本臟之病因而發焉。其筋骨皮肉血脈受之，則發為痿痹，緩弱痛重；不任為用，所治之藥各有所入，凡切於治，便為要藥，豈蒼朮一味儘可用哉？先生寧肯語此以示人也。濕淫諸症治藥，並在各病條下。</p>

<h2>郁病</h2>
<p>郁病多在中焦。六郁例藥，誠得其要。中焦者，脾胃也。胃為水穀之海，法天地，生萬物，體乾坤健順。備中和之氣，五臟六腑皆稟之以為主，榮衛天真皆有穀氣以充大。東垣謂人身之清氣、榮氣、運氣、衛氣、春升之氣，皆胃氣之別稱。然豈盡胃氣，乃因胃氣以資其生。故脾胃居中，心肺在上，腎肝在下。凡有六淫、七情、勞役妄動，故上下所屬之臟氣；致有虛實克勝之變。而過於中者，其中氣則常先四臟，一有不平，則中氣不得其和而先郁，更因飲食失節停積、痰飲寒濕不通，而脾胃自受者，所以中焦致郁多也。今藥兼升降而用者，蒼朮，陽明藥也，氣味雄壯辛烈，強胃健脾，開發水穀氣，其功最大；香附子，陰血中快氣藥也，下氣最速，一升一降以散其鬱；撫芎，手足厥陰藥也，直達三焦，俾生髮之氣，上至目頭，下抵血海，疏通陰陽氣血之使也。然此不專開中焦而已，且胃主行氣於三陽，脾主行氣於三陰，脾胃既有水穀之氣行，從是三陰三陽各臟腑自受其燥金之郁者，亦必用胃氣可得而通矣，天真等氣之不達者，亦可得而伸矣！況蒼朮尤能徑入諸經，疏泄陽明之濕，此六郁藥之凡例，升降消導，皆自《內經》變而致之，殆於受病未深者設也（云云）。下郁乃燥之別名，屬肺金之化。治郁之法，有中外四氣之異。在表者汗之。在內者下之。兼風者散之。熱微者寒以和之；熱甚者瀉陽救水，養液潤燥，補其已衰之陰。兼濕者審其溫之太過不及，猶土之旱澇也。寒濕之勝，則以苦燥之，以辛溫之；不及而燥熱者，則以辛溫之，以寒調之。大抵須得仲景治法之要，各守其經氣而勿違。</p>

<h2>火</h2>
<p>臟氣有實有虛。若陽盛水哀而動者，則從河間治法，瀉熱救水；若陽虛不足而動者，則陽愈虛，當從東垣必補胃氣，次瀉其火。陽虛不安其位而火乘於陰，依東垣自陰升陽提而出之；陽盛入於陰者，遵仲景下之。陰虛不勝夫火動者，用先生益精血、壯腎水以安之；或臟氣盛與火齊發，先瀉其盛；本臟氣血不足，先補其虛，次瀉其火；火與氣相持，鬱伏不行，則發臟氣（云云）。其半則散火為主，臟氣鬱其火。</p>

<h2>溺血</h2>
<p>大抵溲血、淋血、便血三者，雖前後陰竅所出不同，然於受病不一，故治法分標本一也。其散血、止血之藥無下數十品，惟引導佐使各走其鄉者小異耳！溺血為熱客下焦，本草何仍用菟絲子、肉蓯蓉、續斷、鹿角輩溫補壯陽為主？《內經》謂邪之所湊，其氣必虛。東垣謂火與元氣不兩立，一勝則一負。火者，熱也。腎氣因熱而走，亦必用是臟真之藥，始可補其虛，以固衛氣之散走也。氣血相須為用，又何疑乎？</p>

<h2>痰飲</h2>
<p>《內經》有脾胃濕土太過，為積飲痞膈與飲積於中者數條，未有痰之名也。至仲景始分飲為四：一曰痰飲，二曰懸飲，三曰溢飲，四曰支飲。而痰之義始見河間，分五運六氣之病，於火淫條下則云：中風、風癩等病痰涎，因水衰熱甚，津液湧溢，聚於胸膈，熱燥以為痰涎，初虞世言涎者，乃遍身之脂脈津液。於濕土條下云：濕氣自甚，則為積飲痞膈、中滿霍亂。又云：喘嗽之痰，為因外感風寒，寒化為熱，熱則生痰。張戴人謂留飲一症，不過蓄水而已。又謂四飲者，觀病之形狀而定名也。其來有五，有膹鬱而得之者，其氣抑鬱不伸，則肝氣乘脾，脾氣不濡，故為留飲；有勞役乘困飲水，脾胃力衰，因時睡臥，不能布散於脈，亦為留飲；肝主慮，久慮不決則肝氣不行，脾主思，久思不已則脾氣結，亦為留飲；飲酒過多，以乘燥金，胞不滲泄，亦為留飲；隆暑津液焦涸，喜飲寒水過多，逸而不動，亦為留飲。又謂痰有五：曰風痰，曰熱，曰濕，曰酒，曰食。五者先生遵張、劉之說，謂痰飲之初起也，或飲食不謹，或外傷六淫，或內感七情，或食味過厚，皆致穀氣不升資發，榮衛先鬱滯而成膈熱，故津液不行，易於攢聚，因氣成積，積氣成痰。痰飲既聚，展轉傳變，生病不一，為嘔吐，為反胃，為喘滿，為咳逆，為膈噫，為吞酸，為嘈雜，為膨脹，為痞，為痛，為泄利，為不食衝上，為頭痛，為眩運、嗌下，為足腫，為㿗疝；散於表為寒熱，為胕腫，為肢節痛，聚於心為狂，為癲昏僕，為不語。凡人之病，皆痰為邪，此數家敘痰為病之始末也。後世論治痰飲，必得溫乃行，及有痰因火熱反見水化，而覺其冷乃不知其熱也。先生故多不取，獨稱長沙治四飲之法，可表者汗之，可下者利之，滯者導之，郁者揚之，熱者寒之，寒者溫之，塞者通之，虛者補而養之，深得《內經》各隨攸利所治之意。竊謂痰飲之生，有生於脾胃，有生於六經，所起不同，若論感邪與為病之形症則一也。至於治之，必先從其邪之所起，而後及於病之所止。曰：痰飲因太陰濕土之化，生於脾胃，寧不生於六經乎？初虞世謂涎為遍身之脂脈津液也，此非六經中之津液灌注於內外者歟？原其在經脈之由，即《內經》所謂飲入於胃，遊溢精氣，散精於脾，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。又謂水入於經，其血乃成。謂五臟化五液：心為汗，肝為泣，肺為涕，脾為涎，腎為唾。故經脈之津液與血者，皆四布水精之所化。然經脈以胃氣為本，則其所化，亦六經中胃氣土德之沖和者以成之，由是同歸乎濕，滋育百體者矣。苟不善於化，則水積不行，亦如濕漂之為害。故其水盛與血雜混，而不滋榮氣之運，或不化液而不從衛氣之用，聚於經脈以為病，冷則清如其飲，熱則濁如其痰，設值風火之迫，則湧溢而起，無處不到，痰飲為病莫大於此。</p>

<h2>肺胗</h2>
<p>許先生論梁寬父病右脅肺部也，咳而唾血，舉動喘逆者，肺胗也，發熱，脈數，不能食者，火來刑金，肺與脾俱虛也。肺脾俱虛而火乘之，其病為逆。如此者，例不可補瀉，若補金則慮金與火持而喘咳益增，瀉火則慮火不退位而痃癖反盛，正宜補中益氣湯先扶元氣，少以治病藥加之。聞已用藥而未獲效，必病勢苦逆而藥力未到也，遠期秋涼庶可復耳！蓋肺病惡春夏火氣，至秋冬火退，只宜於益氣湯中，隨四時升降寒熱及見有症增損服之。或覺氣壅，間與加減枳朮丸；或有飲，間服《局方》枳朮湯。數日逆氣少回，逆氣回則治法可施，但恐今日已至色青、色赤及脈弦、脈洪，則無及矣！病後不見色、脈，不能懸料。以既愈復發言之，惟宜依准四時用藥，以扶元氣，庶他日既愈不復發也。其病初感必深，且所傷物恐當時消導尚未盡停滯，淹延變生他症，以至於今，宜少加消導藥於益氣湯中，庶可漸取效也。</p>

<h2>雜合邪治法</h2>
<p>丹溪曰：雜合邪者，當以雜合法治之。譬如惡寒發熱，得之感冒，明是外邪，脈得浮數而氣口又緊盛，明是食傷。病者又倦怠，重按其脈俱有豁意，而胸膈痞滿牽引兩脅。輕者其脈又似乎弦，此又平時多怒肝邪所為也；細取左尺又似沉弱，此又平時房勞之過也。治法宜以感冒一節放下，視其形色強弱厚薄，且與補中化食行滯，後涼胃火，而以薑辣行之，中氣稍回，傷氣稍行，津液得和，通體得汗，外邪自解。若不審求，只管表散。　又不推究兼見之邪脈，又不窮問所得之病。因與性情，執著及巧施雜合治法，將見正氣自虛，邪氣自固，皆拙工之過也。</p>

<h2>藥病須要適當</h2>
<p>假如病大而湯劑小，則邪氣少屈而藥力已乏，欲不復治，其可得乎？猶以一杯水救一車薪火，竟不得滅，是謂不及。若症小而湯劑大，則邪氣已盡而藥力有餘，欲不傷正，其可得乎？猶火熾昆崗，玉石俱焚，是謂太過。三者之論，惟中而已，過與不及，皆為偏廢，然而太過尤甚於不及。蓋失於姑息，邪復勝正者，只是勞而無益，猶可勉而適中；或失苛暴，則正氣被傷，因而羸瘠者有之，危殆者有之，此所謂尤甚也，可不戒哉！嘗考仲景於承氣條下則曰：若更衣，止後服。於桂枝方下則曰：微汗漐漐乃佳，不可令如水淋漓。其旨深矣！</p>

<h2>小兒門</h2>
<p>小兒脈當以大指按三部，一息六七至為平和，十至為發熱，五至為內寒，緊為風癇，沉緩為傷食，促急為虛驚，弦急為氣不和，沉細為冷，浮為風，大小不勻為惡候、為鬼祟，浮大數為風、為熱，伏結為物聚，單細為疳勞。凡腹痛、喘、嘔而脈浮者，為有蟲；浮而遲潮熱者，胃寒也，溫之則愈。　</p>
<p>歌曰：小兒脈緊風癇候，沉緩食傷多吐嘔，弦急因知氣不和，急促虛驚神不守，冷則沉細風則浮，牢實大便因秘久，腹痛之候緊而弦，脈亂不治安可救？變蒸之時脈必變，不治自然無過謬。單細疳勞洪有蟲，大小不均為惡候，脈浮而遲有潮熱，此必內寒求內寇。瀉利浮大不可醫，仔細酌量宜審究。</p>
<p>小兒未可辨脈者，俗醫多看虎口中紋顏色，與四肢冷熱驗之，亦有可取。</p>
<p>歌曰：紫風紅傷寒，青驚白色疳，黑時因中惡，黃則困脾端。鼻冷定知是瘡疹，耳冷因知風熱症，遍身皆熱是傷寒，上熱下冷傷食病。人若以此色、脈參佐驗之，所得亦過半矣！</p>
<p>小兒病多是食積、痰熱、傷乳，大抵肝與脾病多。又云：小兒多肝病，大人亦然。肝只是有余，腎常是不足。</p>

<h3>蛔蟲</h3>
<p>或臟腑虛弱，或食甘肥則蟲動，動則腹中痛，發作腫聚，往來上下，痛不休止，上攻心痛，口喜吐涎及清水，貫傷心者死。其脈凡腹痛法當沉弱而弦。今反洪大則是蟲也。仲景用烏梅丸治之。諸殺蟲藥皆可療，使君子尤良。蛔蟲束行，吳茱萸根尤勝。</p>
<p>一人年十八，自小面帶微黃，五月間腹大痛。醫以小建中加丁香兩帖，不效，加嘔吐清汁；又與十八味丁香透膈湯兩帖，食全不進，痛無休止，如此者五、六日；又與阿魏丸百餘粒，至夜發熱不睡，口卻不渴，脈左二部沉弦而數實，痛處不可按；遂與大柴胡湯四帖加甘草下之，痛嘔雖減，食猶未進；遂與小柴胡湯去黃芩、人參，加芍藥、陳皮、黃連、生甘草，二十帖而愈。</p>
<p>一人年十七，家貧多勞，十一月病惡寒而吐血兩三日，六脈緊澀，一月後食減中痞。醫投溫膽湯、枳殼湯，三日後發熱，口乾不渴，口中有痰。予曰：此感寒也。詢之，八日前曾於霜中渡水三、四次，心下有悲泣事，腹亦飢。遂以小建中湯去芍藥，加桔梗、陳皮、半夏，四帖而愈。</p>

<h3>丹瘤</h3>
<p>即《內經》丹熛，由其丹之流走，故名丹瘤。古方所謂赤遊腫，因肌肉虛，為風毒熱氣所乘，搏於氣血，則肌膚赤而腫起，其風隨氣行不定，故名。赤遊腫俗謂之瘤，由風熱發丹，流走經絡，散發肌表，如丹之赤，如火之燒也。若遍身發赤，曰天火丹之類三十餘條。治法隨其所在而鐮之，泄去毒氣；不爾，則丹毒入腹近心則死。但初發心痛者，不可鐮爾！用藥內飲、外敷各有方，大抵散風熱、和氣、活血、涼肌而已。《原病式》亦曰：赤溜熱勝氣也，火之色，相火主之。遊腫一熛一赤溜一也。</p>

<h3>脫肛脫囊</h3>
<p>脫肛因下痢腸虛冷兼用驅氣故也。脫囊者，陰核腫大墜下即潰也。小兒多因啼怒驅氣（云云），陰氣結聚不散所成也。陰氣者，厥氣也。二氣下流納於厥陰，與大人之㿉治法無異。大抵囊因寒則縮，因熱則縱，因濕則重也。</p>

<h3>木舌</h3>
<p>心氣蘊熱，上氣隨脈上至於舌，則血脈脹起，漸腫滿口塞喉。若不急治，便至危殆。宜先砭射，用紫雪、朴硝、蒲黃之屬飲之。</p>

<h3>解顱</h3>
<p>錢仲陽用地黃丸補其腎，與此不同而實同也。</p>

<h3>夜啼</h3>
<p>即驚啼。由風邪乘心，心臟精神不定，故臥不安也；夜啼，臟冷故也。夜，陰氣盛，與冷相搏，則冷　動，與臟氣相併，或煩或痛，故夜啼。亦有觸犯禁忌而啼，可以法術斷之。軀啼者，胎傷風冷，邪氣與正氣相搏則腹痛，故軀脹蹙而啼。大率治驚啼，則以清肝心、鎮神安魂之劑；治夜啼，則以溫平和利氣血之劑；治軀啼亦然。《三因》以夜啼有四：曰寒，曰熱，曰重舌口瘡，曰客忤。腹痛，其啼面青白，口有冷氣，腹亦冷，曲腹而啼，此寒症也；心燥面赤，小便赤，口中熱，腹暖，啼或有汗，仰身而啼，此熱症也；客忤見生人之氣，忤犯而啼也。治冷症以大蒜、乳香和丸服，熱症以燈花散；重舌以炒蒲黃摻舌，口瘡以牡蠣、甘草摻口中；客忤以灶中土、蚯蚓糞，水和塗兒頭上及五心。由此而言，方不在備也。</p>

<h3>斑疹</h3>
<p>受胎七月，其形已成，食母穢液入兒五臟，至十月滿胃脘中；生時口中有不潔，以手拭淨則無疾病，以黃連汁壓之，乃下臍糞及穢液也（云云）。內一臟受穢，乃出瘡疹，瘡疹未出，五臟皆見病症。初欲病時，先呵欠、煩悶，肝也；時發驚悸，心也；乍涼乍熱，手足冷，脾也；面赤，腮頰赤，嗽嚏，肺也；惟腎在臟腑下，不能食穢，故無候也。凡五臟毒，若去歸一症，肝則水疱，肺膿疱，心斑，脾疹，惟腎無症。瘡黑屬腎，由不慎或內虛也，用抱龍丸數服愈，以其別無他候故也。又瘡疹因小兒真氣既盛，正氣既旺，邪無所客，故是以或因寒之傷表，或傷里，斑由是生焉！中外皆和，其斑自出。至於未顯時，外傷者，升麻湯主之；內傷者，枳朮丸；若傷冷濕，神應丸；惡寒者，宜防風蒼朮湯發之，表大熱者，奪之。通言三陽，陽盛則必氣上行。大渴者，白虎湯；小渴者，涼膈散；大便秘結，桃仁承氣湯下之。四順飲子、柴胡飲子察其在氣在血；小便不通，導赤散、八正散之類，求上下二焦何經用之；驚者，涼驚丸，重者瀉青丸，泄者治分寒熱，寒則異功散、四君子湯，熱則澤瀉茯苓湯。已顯斑症出皮膚時，如出不快，化斑湯；出太多，犀角地黃湯、地骨皮鼠黏子湯、咽喉不利，甘桔黏子湯；煩者，甘桔梔子楊；肺不利，紫草茸甘草枳殼湯；太陽出不快，荊芥甘草防風湯；四肢出不快，防風芍藥甘草湯。或發不透、倒靨黑陷，極為利害，紫草、木通、甘草、枳殼、黃耆等分服之。斑疹遺毒，或肝虛入眼，或肺虛為疥癬，或為癰癤，發在骨節腎虛也，發在肌肉脾虛也，或在筋，或在頭面，或齒疳蝕、咽喉腫痛，各隨本經而見，皆毒蘊積而成，由其始不早治，或醫者之失時也。斑疹膿不焦，此末治失清涼也，察何經而涼之；或下之而成大肅之氣，則必不致膿而不痂矣！斑疹，以瘡發焮腫於外，屬少陽三焦相火，謂之斑；以靨行於皮膚之中不出者，屬少陰，謂之疹（云云）。東垣謂太陽寒水起於右腎之下，煎熬左腎，足太陽膀胱寒水夾脊逆流上頭下額，逆手太陽丙丁火不得傳道，逆於面上故顯面赤諸症。蓋壬癸水克丙丁也，斑症皆從寒水逆流而作。夫胞者，一名赤宮，一名丹田，一名命門，主男子藏精施化，女人系胞受胎，俱是化生之原，非五行也，非水亦非火，天地之異名，象坤土之生萬物。</p>
<p>夫人始生，血海始淨，一日二日，精勝其血則為男子；三日四日，血海已旺，精不勝血則為女子。乃二物相摶，常先身生謂之神，又謂之精，釋道以為本來面目是也。其子在母腹中，十月之間，隨母呼吸，母呼亦呼，母吸亦吸者，陽氣也，而主動作，滋益精氣神，飢渴食飲母血，兒隨日長，皮肉筋骨形氣血脈俱足，十月降生，口中尚有惡穢，啼聲一發，隨吸而下，復歸命門胞中，僻於一隅，伏而不發，直至內傷乳食，濕熱之氣下流合於腎中，二火交戰，營氣不從，逆於肉裡，惡血乃散發。諸斑瘡皆出於膀胱壬水，其瘍潰後，壞肉裡歸於陽明，此皆從足太陽傳變中來。當外發寒邪使令消散，內瀉二火不令交攻，其中又令濕氣上歸，復其本位，可一二服立已，曰消毒救苦湯。又謂斑疹皆營氣逆而寒覆其表，宜以四味升麻湯加歸身、連翹；如肺成膿，斑先顯，喘嗽，或氣高而喘促，加人參、黃芩以瀉伏火而補元氣；如心出小紅斑，先血溢、驚悸，加黃連；如命門出癮疹，先必骨疼身熱。其痛不敢動搖，少加生地黃、黃柏。諸疹先因乳食傷，脾胃不足，營氣逆行，雖火勢內熾，陰覆其表，以四味升麻湯發之隨妥，皆本仲景分經絡，辨氣血，定表裡，如傷寒而用耳！戴人謂瘡疹從胎毒而出者，三焦少陽相火為也，症發與傷寒兼行，必先發熱惡寒，頭項痛，腰脊強，從太陽傳至四、五日始發，先從兩脅下有之，次及身表，漸及四肢。經曰：少陽客勝，丹熛外發；謂痛瘡癢，皆屬心火。豈有寒乎？初頭痛，身熱惡寒，此發瘡疱之候，脈皆浮大有力；亦與傷寒、時氣、驚風、宿乳一概難辨。宜先解之，有二法：亢陽炎熱之時，以辛涼解之；久寒凝冽之時，以辛溫解之。辛涼，涼膈、通聖散之類，辛溫，升麻葛根之類。二法之後，次以白虎加人參，冷服之勿輟，蓋防瘡疹發喘，人參止喘，四時皆宜，用以救肺金受火邪致不足也。或出不勻，大小不齊，以蟬殼燒灰，淡酒調服，不半日即勻，或用百祥丸、柴甘飲子皆可，服至六七日瘡疹出全，可用調胃涼膈下之。每治黑陷腹內，喘乏死病者，白虎加人參，涼膈加當歸、桔梗，連進數服，使臥涼處，以涼水灌其面目手足，使循經而入，如醉而醒，是亦開結散郁之端，如此救活甚多。宋陳文中以瘡疹發遲倒陷等病，用木香散、異功散。大熱發之，豈宜例用？諸說不同，錢氏謂內外所傷；感其胎毒為當，李氏謂皆因內傷者，不若錢氏以先微寒入而成瘡疹之一語為該內外也。治是症者，果二火熱盛，瀉之分氣血表裡，辨時令寒熱、稟質壯怯、病狀輕重，隨宜用藥，初無執一之說。此篇所敘舉其大概耳！其祥非筆舌可盡。</p>

<h3>驚</h3>
<p>急慢驚風病機，以一言統之，謂諸熱瞀瘈，諸病驚駭，皆屬於火（云云）。方論急驚為陽癇，慢驚為陰癇。治法清心、涼肝、安神、定魄，用辰砂、牛黃、吊藤、蘆薈、全蠍、天麻、龍齒、虎睛、南星、膩粉、腦、麝之類。錢氏謂急驚屬腑受病，熱客於心膈，少陽相火旺，熱則生風，聞木音而作，蓋風木得火而發搐，火得邪風而動，用利驚丸、導赤散、瀉青丸、地黃丸，搐服安神丸；慢驚屬臟受病，蓋因吐瀉病久，脾胃虛損、不早治而成也，瘛瘲似發搐不甚搐，因脾胃虛損，大便不聚，當去脾間風，先以利道，後用使君子丸、益黃散，則利自止矣！若脾胃俱虛，被肝木所勝為慢驚，用溫補羌活膏。五福丸治急驚風，生蚯蚓一條，斫爛，入五福化毒研如泥，薄荷湯化下。有發搐，潮熱於寅卯辰位，是肝症，補腎水以制心火，瀉肝木以止搐；潮熱於巳午未者，心熱也，導赤散，瀉青丸瀉肝，益黃散補脾。夜發因大病後脾胃虛，補脾涼心。傷風發搐，口中熱，呵欠，頓悶急絕；手足搖，亦陰陽二症，有汗無汗，用大青膏、小續命湯之類。傷食發搐、煎羌活防風湯化下大青膏，後用白餅子下其食，漸已，調中丸、異功散養其氣。由是，急慢驚風即為癇也。先生治痰有輕重，未嘗獨用吐湧。若小兒胎氣弱，色白，骨細，肉軟，聲微者，必用補氣血兼治其驚。臟腑堅壯，痰壅不得已，而吐未常例施。小兒少火縱盛，陰氣未壯，不當攻擊。《內經》謂肝腎虛者，脈急為受寒。肝不足者皆發驚候，必隨所變而治。予述諸書五邪補瀉與先生之法而參用。</p>

<h3>疳</h3>
<p>疳有五，皆以肥美而得之，故曰疳。五臟所受不同，在肝為風疳，在心為驚疳，在脾為食疳，在肺為氣疳，在腎為急疳。五疳之外。十二經氣血所受變狀不一，復有驚絕疳、乾疳、漏疳、腦疳、絕急疳、無辜疳、齒疳、濁疳、痢疳、慝疳、五疳出蟲等候（云云）。數百方中雖有攻補，終無先後設施與相兼分輕重而治的然之法，所治五疳，亦未見有分五臟補瀉之藥，且宜於金者不宜木，宜於火者不宜土。五臟升降浮沉之氣，寒熱溫涼之性，不及則順而調之，太過則逆而治之。</p>
<p>吃黃土，因脾經濕熱，故口失味也。宜用干黃土些少，碾細，炒過，濃煎黃連湯調服，或作丸服亦妙。</p>
<p>小便不通，炙內關三壯立通。</p>

<h3>變蒸</h3>
<p>變蒸以長血氣。變者，上氣；蒸者，體熱。亦有輕重：輕者體熱微驚，耳冷，髖亦冷，上唇有白疱如魚目珠子，微汗出，近者五日而歇，遠者八、九日乃歇；重者體壯熱而脈亂，或汗，或不汗，不欲食，食輒吐哯無所苦也。十變蒸時，白睛微赤，黑睛微白，亦無所苦，蒸畢目自明矣。先變五日，後蒸五日，十月熱除。變蒸之時，不欲驚動，勿令傍邊多人。變蒸有早有晚，依時如法者少也。初變之時，通日數熱甚不歇，用肝黑散，發熱汗不止，服紫霜丸，少瘥便止。變蒸時遇寒加之，則寒熱交爭，腹痛嬌啼不止者，慰之則愈。變蒸為溫壯傷寒相似，若身熱；耳熱，髖熱，此乃他症，非變蒸也。其變蒸日數，從初生至三十二日一變，六十四日再變，比三百二十日而十變，五蒸為小蒸，後六十四日為太蒸，凡四蒸，總積五百七十六日，而變蒸足氣血就也。其變蒸運動於陰陽之間者少火也，少火運動，遂有生新推陳之功，氣血之新者既生，何胎毒不散之有？</p>

<h2>婦人門</h2>
<p>安胎、固胎、養胎必當察其由來之邪，分其胎之所損在氣在血，何者之虛？其胎與母受病孰先孰後？方制君臣佐使各適其宜，豈可守已定之方執而不通耶！</p>

<h3>惡阻與胎化不成</h3>
<p>惡阻與胎化不成何如？曰：一月始形，二月始膏，三月精血始化為胎，男女分矣。所謂惡阻與胎之成否，皆在三月相火化胎之時。惡阻者，由相火化精血為胎，而子宮穢腐因火沖逆，上攻於胃，有傷其味，故食不得入，津液亦不化，停積為痰為飲為嘔吐，此以子宮穢氣所阻其食，故名惡阻。前人未明相火之道，故止言由中氣壅實，故惡聞食氣。</p>
<p>若夫不成胎者有二焉，一為母身之天真不足以化其胎，一為父精不足，皆致子宮與天賦凝結之真不全。故在三月則化不成形也。有當時即漏下者，有待十月如產者。</p>
<p>一婦年三十餘，或經住，或成形未具，其胎必墮。察其性急多怒，色黑氣實。此相火火盛，不能生氣化胎，反食氣傷精故也。因今住經第二月，用黃芩、白朮、當歸、甘草，服至三月盡止藥，後得一子。</p>
<p>一婦經住三月後，尺脈或澀，或微弱，其婦卻無病，知是子宮真氣不全，故陽不施陰，不化精血，雖凝終不成形，至產血塊，或產血胞。</p>
<p>一婦腹漸大如懷子，至十月，求易產藥。察其神色甚困難。與之藥，不數日，產白蟲半桶。蓋由婦之元氣大虛，精血雖凝不能成胎，而為穢腐蘊積之久，濕化為熱，濕熱生蟲，理之所有。亦須周十月之氣發動而產，終是不祥，其婦不及月死。濕熱生蟲，譬之溝渠汙濁積久不流，則諸蟲生於其中矣！</p>

<h3>產難</h3>
<p>或先漏去血而臟燥,　或子臟宿挾疹病，或始覺腹痛，先驚動穢血早下，致子道乾澀，產婦力疲，皆令產難。其橫生、逆產，皆因用力太早，兒轉身未竟故也。若穢露盡而胎橫燥，子不得出，必死於腹。下胎之方，不過瞿麥、車前之屬。潤燥者牛穌，白蜜。又古方下死胎而用寒熱藥，蓋有意焉。或因漏血儘子死，或攧撲內傷子死，或久病胎萎子死。若此類臟腑氣寒，胎血凝聚，湮於死子，氣不升降，所以難產，宜附子湯溫其內，仍熱熨覆臍腹腰脅於外，使惡血漸動，蓋附子皆破寒墮胎，故胎必下；或熱病溫瘧之類，胎受熱毒，內外攻逼，因致產難，宜承氣湯。產難有五不治：一、腹底不覺疼；二、抱著腳，足垂嚲無力；三、病未退，遍身不暖；四臟腑泄吐清涎及沫不止；五、項筋展舒無力：皆不治。死胎血凝，腹必脹大，宜硝石、水銀、碙砂，三藥性味不惟使胎化爛，輔以行血順氣，必下矣！</p>
<p>膏粱之婦，多食肥美而生內熱，則腎之陰水不足以養胎而胎萎弱，運動不健，所以陰虛陽盛，而氣不降則胎不下；又或安逸久坐久臥皆傷其氣，則氣衰血滯，因此，母之氣虛不能送胎，胎氣弱不能番轉，故胎亦難下；悲憂離情，氣必鬱結，血隨氣行，氣鬱血必滯，故亦難也。下胎之藥，必分氣結與氣血弱而治余每於膏粱、安逸之婦，將產時無他症者，必用參、朮、芎、歸、甘草、芍藥、黃芩、大腹皮。氣虛甚者服此，使子母氣健。及期，加益母草，與一二服，不生餘症。憂悲氣結氣鬱甚者，加枳殼、砂仁、香附。大抵使子母氣血健運，不惟使胎速下，且使產後無虛損病也。又有脾胃中氣不足，氣血二海、衝任之脈不得稟水穀氣，致難產者，得參、術補氣血藥以助之，則水穀榮衛之氣流行，而產自易矣！豈獨守難產之病，概與下胎之藥而已哉！</p>

<h3>試妊婦男女法</h3>
<p>上圊時，夫從後急呼之，左回首是男，右回首是女。蓋男受胎於左子宮，女受胎於右子宮。男胎在左則左重，故回首時慎護重處而就左也；女胎在右則右重，故回首時慎護重處而就右也。推之於脈，其義亦然。胎在左則氣血護胎而盛於左，故脈亦從之，而左疾為男，左大為男也；胎在右則血氣護胎而盛於右，故脈亦從之，而右疾為女，右大為女也。經曰：陰搏陽別，謂之有子。言受胎處在臍腹之下，則血氣護胎而盛於下，故陰之尺脈鼓搏有力，而與陽之寸脈殊別也。又如癰癤發上，則血氣從上而寸脈盛；發下，則血氣從下而尺脈盛；發左，則血氣從左而左脈盛：發右，則血氣從右而右脈盛也。</p>
