<header data-type="book">
<h1>醫林瑣語</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陸九芝</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>正文</h1>
<p>1、醫之為道，莫過於不使病大，不使病大，莫過於有病即治，可以保富貴，可以別貧賤。</p>
<p>2、小而至於以草取嚏，真不足道矣，而此法出於《內經》。</p>
<p>3、《傷寒論》曰：服桂枝湯不解，先刺風池、風府。（風池二穴，在耳後陷中，按之引入耳者是。風府在項上髮際大筋宛宛中者是。）否則，以三指密排，在腦後髮際橫擦之至兩耳旁，令徉熱，亦可去風。</p>
<p>4、喉閉不能進湯飲，以手橫搦其頸皮，一手灌藥。蓋頸皮從橫里緊，喉皮即從豎里開。此法余有所受，曾一再試之果驗。</p>
<p>5、中風牙關緊閉，無法下藥，必先以水浸烏梅肉令軟，將青布包筋頭蘸擦之，得涎流，牙便開。</p>
<p>6、上牙屬胃，下牙屬大腸，煎熬爆炙，蘊熱於腸胃，牙必受病耳。時以石膏五錢、元明粉三錢、膽礬錢半，共末，每晨盥漱後，用牙刷蘸擦，可使齒力堅強。</p>
<p>7、老年人牙落，食物必吐其渣，可免停滯。</p>
<p>8、《內經》云：「聖人避風，如避矢石。」少壯時不信也，年老而後信之。</p>
<p>9、東坡一生常食茯苓，在飲酒者尤宜效之。</p>
<p>10、樓英曰：「飲酒而頭汗出者，血證也。頭汗而額上偏多者，額屬心部，亦血證也。」此為的評。</p>
<p>11、眉稜骨痛，服白芷即解，是處即攢竹穴也。</p>
<p>12、張從正《儒門事親》云，養生之與攻病，本自不同。今人以補劑療病，宜乎不效。</p>
<p>13、趙養葵《醫貫》云：食填太陰名曰食厥，下部有脈上部無脈，不吐即死。如腸腹絞痛，手不可按，更不可下。凡下血積必用桃仁、紅花。下水積必用甘遂、牽牛。下水中之血必用水蛭、虻蟲。趙固以六味丸統治百病者，尚有此說，益可見治之不獨貴補矣。</p>
<p>14、張從正曰：郁之成也，其初甚微，可呼吸按導而去之，若強補而留之，留即不去，遂成五積。</p>
<p>15、咳每由於風寒，必須盡力祛風，佐以消導，初起〔痰〕色白而薄，其味鹹。咳甚則腹皮引痛，非水泛為痰也。漸愈則痰漸厚，色漸轉黃，其咳□（雖）至一兩月，不可服滋膩藥。</p>
<p>16、失血遺精，人皆謂是十成勞病矣，然必有所因，只從《內經》「先其所因，伏其所主」二語，無不愈者，一用補劑，病不去矣。</p>
<p>17、汗為人身之寶，夏日一閉汗即病，人每言寒則無汗，不知熱甚亦無汗，凡服石膏以取汗者，即為此也。</p>
<p>18、附子為北方玄武真神，坐鎮水邪，力能行水，用附子者，非獨用以助陽，實用以破陰，故為之水寒而外見熱象者，先以一二劑試之，無熱即當改用附子，非忽以為熱而用寒藥，忽以為寒而用熱藥也。</p>
<p>19、凡身骨節酸楚，一用羌活、獨活，當日而止，是極有驗。</p>
<p>20、太陽病之脈，有陽浮而陰弱者，陽謂寸脈，陰謂尺脈也，言病在上而不在下也，不可以陰弱為陰虛。</p>
<p>21、按摩一科，失傳久矣，此法實不可少。</p>
<p>22、《難經》手三陽之脈，受風寒伏留不去，名厥頭痛，非厥陰頭痛之謂。</p>
<p>23、「真頭痛，手足青至節，死不治。」古人青清通用，謂清冷也。真心痛，手足青至節，亦不治。皆手足冷也。</p>
<p>24、三公坐而論道，聖君賢相之事也。姚際恆乃謂《素問》言多穿鑿，且以黃帝與岐伯對問為荒誕。其隘甚矣。</p>
<p>25、姚又云，「《本草》漢志無之，漢平帝詔天下舉通（知）方術本草者，本草之名始見於此。」平帝即詔舉知本草者，則漢以前之早有《本草》可知矣。而又曰：「此必東漢人作也」。則平帝乃詔舉後漢時能知本草者耶！</p>
<p>26、《傷寒論》清穀之清，與清便之清，皆即圊字，圊即涵也。圊，《唐韻》七情切，《集韻》親迎切，並音清。《說文》廁：清也。大徐曰：廁古謂之清，言汙穢常當清除也。溷，《說文》：廁也；《唐韻》、《集韻》並胡困切；《集韻》蒼經切，音青。</p>
<p>27、陰陽五行俱主歲運而言，十干甲丙戊庚壬為陽，乙丁己辛癸為陰；角徵宮商羽，五太為陽，五少為陰，此言陰陽也。甲己合而化土，乙庚合而化金，丙辛合而化水，丁壬合而化木，戊癸合而化火，此言五行也。不明乎此，則云以火為丙，以水為癸者矣！</p>
<p>28、太陽病誤下則成熱實結胸；太陰病誤下，則成寒實結胸。誤下之後，邪即內陷，陷則成實，理有固然。但在今則唯有誤補而成實者，亦知誤下尚可成實乎？</p>
<p>29、旋覆代赭湯，治噫氣不除。噫以聲言。此不曰聲而曰氣者，即《論語》「出辭氣」之氣，謂噫出有食氣也。</p>
<p>30、鞕，魚孟切。音硬。</p>
<p>31、白虎湯治氣分實熱，桃仁承氣湯治血分實熱，亦有可用犀角地黃湯者，若以犀角代石膏用，則氣血不分矣。</p>
<p>32、汗多亡陽，下多亡陰，皆謂亡津液也。陽明主津液所生病。（整理者按：此條原用墨筆輕輕劃去，似未完，而舍之。）</p>
<p>33、病之必問而後知之者，要須以不問為高。</p>
<p>34、少陽病用柴胡而汗出者，乃上焦得通，津液得下，胃氣因和，故汗自出耳，非柴胡能發汗也。升［麻］、葛［根］亦然。（按：「升」上原有「奈何以柴胡為發汗藥，而畏發汗者，且並柴胡亦禁之哉？」後又勾去不要。）</p>
<p>35、「吐已下斷，汗出而厥，四肢拘急不解，脈微欲絕者」十九字作一句讀。此時之吐已下斷，可真作吐已下斷觀耶？</p>
<p>36、四逆者，冷過時膝也。手足厥冷，何可得謂之四逆？</p>
<p>37、雞子黃走血分，故心煩不臥者宜之。其白走氣分，故言聲不出者宜之。</p>
<p>38、傷寒病用白散方，不利進熱粥一杯，利不止進冷粥一杯，是指巴豆言也。今則移之於大黃矣，試思服大黃而利不止，尚可吃冷粥乎？</p>
<p>39、讀《傷寒論》須著意於治水之劑，大青龍湯清內擾之煩亂，故治表寒裡熱；小青龍治內蓄之水氣，故治表熱裡寒。小青龍入太陽，治陽水之病，真武湯入少陰，治陰水之病，而五芩散、十棗湯、陷胸丸皆是。</p>
<p>40、古二陳湯本為六物，以治久咳，後人以之移治新嗽，乃去生薑、烏梅而為四味，此方之生薑、烏梅，即小青龍之乾薑、五味子也，於四獸飲見之。</p>
<p>41、小柴崩湯為開通表裡之劑，其旋覆花湯，諸瀉心湯，與夫黃連湯，乾薑黃芩黃連人參湯，皆開通上下之劑。</p>
<p>42、都粱丸是白芷。舉卿古拜散是荊芥。</p>
<p>43、六味丸者，本以酸苦甘辛鹹淡之六味名之金匱腎氣丸也，錢仲陽以之移治小兒純陽之體，刪去桂、附，而始名之曰六味耳，後世又以六味加桂為七味丸，再加附子為八味丸，則寢失初義矣。</p>
<p>44、六味當以適合酸苦甘辛鹹淡之六味得名，非以六物為言也。</p>
<p>45、扁鵲玉壺丸，只用硫黃一味。</p>
<p>46、天王補心丹之桔梗，歸脾丸之木香，七味白朮散之葛根，玉屏風散之防風，俱不可少，若去之則非本方之義矣。</p>
<p>47、牛黃清心丸，以萬氏一方為最穩。其方用西牛黃二分五釐，鏡面辰砂一錢五分，黃連五錢，黃芩三錢，山梔三錢，鬱金二錢，為末。丸如黍大，每服七八丸，如果溫邪內陷包絡，亦非此不能透入也。</p>
<p>48、腎者胃之關也，關門不開，故聚水而從其類，東垣所制通關丸，用黃柏、知母各一兩，肉桂半之，最合。亦名滋腎丸。</p>
<p>49、舌為心之外候，其色當赤，而有時白如積粉者，白為肺金之色，反加心火之上，是為侮其所勝。</p>
<p>50、逍遙散本是八物，柴、歸、三白各一錢，甘草五分，外尚有煨姜一片，薄荷五分，人皆忽之。其丹皮、山梔各一錢，則薛立齋於八物外所加也。</p>
<p>51、婦人臨產為穩婆傷損，小水淋漓，以補脬散一方最妙。脬即婦人膀胱也。其方用生黃絲絹剪碎一尺，白丹皮連根一錢，白芨磨濃汁亦一錢。最妙。</p>
<p>52、敗醬草一味，能化膿為水。治瘍方中加入皂角刺三分，穿山甲三片，能引諸藥至於病結之所。</p>
<p>53、腦漏、鼻淵等證，唯用白芒一兩，辛夷仁、薄荷葉各五錢，蒼耳仁炒去皮二錢五分，最能清風火之在巔頂者。</p>
<p>54、《經脈別論》曰：一陰一陽結，謂之喉痹。一陰厥陰也，一陽少陽也。厥陰之上，風氣主之，少陽之上，火氣主之。宗此以治，思過半矣。</p>
<p>55、銀柴胡、胡黃連、青蒿子、左秦艽，功專骨蒸勞熱。白丹皮去無汗之骨蒸。地骨皮去有汗之骨蒸。桑白皮去往來寒熱之骨蒸。</p>
<p>56、洞泄即是水泄，用白蒺藜、野大蒜、蘿蔔莢、薺菜花四味，各三錢，煎服立效。以治水泄不止者最妙，此先母記得是家傳方也。</p>
<p>57、畫眉膏為小兒斷乳，法極有驗。方用：雄黃、雌黃、辰砂、麝香各二分，輕粉一分，山梔一個，共研為末，待小兒睡熟時，用麻油調擦兩眉毛上，即不思乳，此後無弊。如能於伏斷日如法用之猶合。</p>
<p>58、凡宜升之陽與宜補之陽異。凡宜補之陰與滋陰之藥味，一誤於不講陽郁，一誤於不講陰氣。</p>
<p>59、泄瀉有開首，即宜溫中者，與痢不同。</p>
<p>60、東坡云：「我有病狀，必盡情告醫，使其胸中瞭然。然後診脈，則疑似不能惑也。我本愈病，豈以困醫為事哉。」今而有以不問為高者矣！</p>
<p>61、王海藏曰：病人拱默，惟令切脈，試其知否。夫寒熱虛實，此可以脈知之，然一脈管數十證，得病之由不可以脈知之。如傷於食，可由脈知之，而所傷何物，豈現於脈？故醫者不可以不問，病者不可以不說。</p>
<p>62、《內經素問》無論真不真，總是秦漢以前書，《傷寒論》無論全不全，總可就其用法以治今人病。姚首源［姚際恆著《古今偽書考》］以《素問》為穿鑿，以《傷寒論》為駁雜，均入諸偽書之列，不自知其與病人為仇也。</p>
<p>63、重病以領出死關，引入生路為事，病在關內，變端百出，一離此關，病雖未愈，無死機矣。</p>
<p>64、書本不載接方，以接方之無定也。然醫全在接方上見本領，此必臨證多而後能之。</p>
<p>65、病有本不是一劑可愈者，用藥亦不必重。病有必恃此一劑見功者，用藥則不可輕。</p>
<p>66、胃脘痛一證，莫神於遊山方，草果、延胡索、五靈脂、沒藥四味，亦名手拈散。</p>
<p>67、茯苓一味，為治痰主藥，痰之本水也，茯苓可以利水；痰之動濕也，茯苓又可以行濕。［按：此條起首處劃去，似為待商改者。］</p>
<p>68、陳修園曰：肝膽為發溫之原，陽明為成溫之藪。</p>
<p>69、俗云：老來身體，如歷年記其逢節發病也，此何故，蓋以每交大節，皆為風寒營衛交替之時，此時用藥，即當因所見之病而順以去之，若一用補，則留病不去，病即因此而甚，故逢節發病斷不可補。</p>
<p>70、病之自汗出者，即為有汗，屬之病，仍以解肌得汗，方為去病之汗。（按：此條首處勾去。］</p>
<p>71、治風傷汗口陽病，當著意於水。治中風病當著意於火。</p>
<p>72、寒熱溫涼自是四種，溫與熱異，涼與寒亦殊，不得以溫藥即名之為熱藥，以涼藥取名之為寒藥。</p>
<p>73、《千金方翼》［按：當指孫思邈之《千金翼方》]為《傷寒論》原源。</p>
<p>73、《傷寒論注》以成氏為最先。《金匱注》以趙以德為最先。</p>
<p>75、世間（？）郁病最多，達、發、奪、泄者，皆治郁之法。</p>
<p>76、目疾迎風下淚，責其有火，即心熱則汗，腎熱則浸之理，蓋風中於目，皮毛斂閉，郁其經陽，遂生裡熱，陽並於上，即五火獨發之例也，安得不熱蒸而淚流乎？即羞明怕日，拳毛倒睫，亦無不因於火。</p>
<p>77、鼠婦即《詩》所謂「蛜蝛在室」，水濕所生蟲也。</p>
<p>78、水濕之病，多見於太陰，脾水流濕也。火燥之病，多見於陽明，胃火就燥也。</p>
<p>79、大陰為三陰，故三陰瘧者，太陰瘧也。凡溪以發於子午卯酉日者為少陰，發於寅申巳亥日者為厥陰瘧，發於辰戊丑未日者為太陰瘧，恐有不然。</p>
<p>80、周慎齋曰：陽氣足則陰氣皆化為血，陽氣不足，則陰氣皆化為火。</p>
<p>81、自汗盜汗皆虛證也（按：此句勾去）。陽虛則自汗，陰虛則盜汗。陽虛之汗必寒，陰虛之汗必熱。然陽明實熱之時，亦有自汗、盜汗者。</p>
<p>82、消渴病者，津液病也。上消以天花粉為神品；中消朽木煎湯，取腐可勝焦之義；下消飲繅絲湯代茶，並禁（？）半夏。</p>
<p>83、善忘屬畜血證最多。</p>
<p>84、麻木兩證，當分氣血，氣虛則麻，血虛則木。</p>
<p>85、癲癇兩證當分水火，癲為陽病，火之病也；癇為陰病，水之病也，痰聚即是水病。（按：以上後又勾去，改為如下〕癇屬陰水為病也，水即是痰，痰盛有火。結於心胸之間，或因小勞，或因少睡，即猝然眩僕，有似中風，病發聲或口作六畜聲，將醒則吐涎沫。共有五癇，一以開痰解結為治，脈虛者可治，實則死。</p>
<p>86、病七日以上，行其經盡，欲再作經者，針足陽明，不預針太陽也，故病至三陰，從無再傳太陽之理，但轉屬陽明耳。</p>
<p>87、白虎湯行陽明內蒸之熱，非解陽明外見之熱也，故但有表熱不用石膏。</p>
<p>88、數脈有二，非熱盛即虛極。遲脈亦有二，寒者固遲，而熱極亦能遲，實非遲，乃伏而不動耳。</p>
<p>89、未汗惡寒者，邪盛而表實；已汗惡寒者，邪退而表虛。汗出之後，大邪既散，不得更有惡寒矣，汗後而更惡寒，非虛乎！</p>
<p>90、病之內陷，謂邪向內陷，不能從外解也，今則以內陷為虛矣。[按：開頭原有「古人所謂」四字，後刪去］</p>
<p>91、正虛邪實，邪與正爭，故發戰汗出而解。正不虛，邪未實，邪不與正爭，故不戰，汗出而解。邪正俱衰，陰陽自和，故不戰不汗出而解。</p>
<p>92、服桂枝湯，必當先煩，乃汗出而解。服柴胡湯必蒸蒸而振，卻發熱汗出而解。此煩此振，下（？）戰汗也，戰而汗出，其病必解，不可疑是加病。</p>
<p>93、陽明病奄然發狂，濈然汗出而解者，亦是戰汗。</p>
<p>94、未經汗下而燥者，為陽盛致燥之陽明，必以撤熱為急。已經汗下而燥者，為奪血致燥之陽明，則以滋燥為主，滋陰藥之先後緩急，以此為準。</p>
<p>95、同一嘔也，其發熱惡寒而嘔者，屬太陽。寒熱往來而嘔者，屬少陽。但發熱不惡寒而嘔者，屬陽明。故凡嘔當分三陽而治之。其無寒無熱而嘔者，則取諸中焦。</p>
<p>96、病之初傳陽明。尚有營衛之分，過此則不論營衛矣。</p>
<p>97、古人謂陽氣為陽，而於陽邪亦為陽；於陰氣為陰，而於陰邪亦為陰。</p>
<p>98、頭汗出，為陽鬱於表，非陽虛相上也。</p>
<p>99、少陰用麻黃，證皆發熱無汗，《[傷寒]論》中不言無汗者，陰不得有汗，無庸言也。</p>
<p>100、六經之病，以證分之，於讀書時先明何經，作何證，則於臨病時方知何證為何經，在病者可□告人□是何經病也，故必先讀書而後臨證。</p>
<p>101、陽邪多結於上，陰邪多結於下，故上焦之結多熱，下焦之結多冷。</p>
<p>102、營衛之流行，皆本腎中先天之氣，故曰衛氣、營氣，皆以氣言。</p>
<p>103、溫病不惡寒，熱從里生也；中暍汗出惡寒，以暑由表入也。溫病之脈浮而實；中暍則浮而虛，以暑傷氣也。溫病傳變無定；中暍則不傳，不食則死。溫病初起不過欲飲；中暍初起即大渴引飲。溫與暑以此為辨。</p>
<p>104、中暍與傷寒相類，傷寒初起無汗不渴；中暍初起，渴而汗出。中熱與溫病相類，溫病初起渴不惡寒；中暍初起惡寒而渴。</p>
<p>105、同一煩躁也，太陽煩躁用青龍，陽明煩躁用白虎，少陰煩躁用真武。</p>
<p>106、仲景法之主於存津液，夫人而知之矣，其所以存津液者，汗吐下和寒溫之六法也，六法之中，尤以急下存陰為刻不可緩。其用滋膩之藥，以為可存津液者，適與六法相反，故有病無一治。</p>
<p>107、溫病起於中焦，而或浮越於上焦，波及於下焦，一治其中，則上下皆安。若獨見於上下焦者，便不是溫病。</p>
<p>108、河間有云，古人以百病為雜病，惟傷寒名曰大病。河間論溫者也，故無所謂大病，即是說溫，即是說傷寒中之溫病，故又曰內有陰寒者，止為雜病，終不能為汗病也。</p>
<p>109、瘧兼他經則有之，未有不涉於少陽者，非獨為少陽病也。</p>
<p>110、凡為醫者，且先存見病用藥之心，然後再論其見地之明昧，手法之高低，即使當時尚未極高明，他日亦必成良醫。</p>
<p>111、諺云：「十個醫十個法」，此言不然，以病者只有一個人也，自當只有一個法。</p>
<p>112、陰盛陽亦脫，不是陽虛而脫也。陽盛陰亦脫，不是陰虛而脫也。</p>
<p>113、薑棗之物至微者矣，而具扶正達邪之妙。</p>
<p>114、有病瘧而一日輕一日重者，余謂輕日是重日，重日是輕日，必使兩日並重，方得逐日逼輕，已而果然。</p>
<p>115、岐伯曰：「謹熟陰陽，毋與眾謀。」何以陰陽兩端，不可謀之於眾。可見眾人口中之陰陽，非即岐伯意中之陰陽矣，表裡寒熱虛實之旨皆然。</p>
<p>116、《內經》言「熱未已寒病復歸」句下有言：「寒未已熱病復歸之。」意在非獨說一面也。</p>
<p>117、膀胱不利為癃，經曰：有癃者一日數十溲，此與滯下注之裡急後重相似，皆為下焦之火鬱也，故皆無止澀之理。</p>
<p>118、病有虛而不可攻者，補中自有攻意，善補陰即所以攻熱，補陽即所以攻寒。若為實證，則不可以作此說。實與誤補，虛而誤攻，其誤同，其禍亦同。</p>
<p>119、運氣之學壞於馬元素之徒，至以某年生人，以某日得病，當用某藥為言，此丹溪之說也。其後再有程德齋作《傷寒鈐法》，以得病日之干支為主，自有此等人，而運氣之說，於是乎不可通（返？）矣。</p>
<p>120、《宋史·仁宗本紀》：「至和元年正月，碎通天犀和藥以療民疫。嘉祐五年五月，京師民疫，選醫給藥以療之。」此所謂「疫」，即《說文》皆病之疫，朝廷為之選醫給藥，必非一人獨病之溫矣。</p>
<p>121、嘗見一書有曰：余素不喜用熱藥。夫治寒以熱，治熱以寒，皆治法也，用寒用熱豈有視乎醫家之愛憎者！</p>
<p>122、苦寒伐胃之說，為虛寒者言之也，若實熱病，則非苦寒無以去病而保胃。</p>
<p>123、宋時有竇材者，自稱第三扁鵲，謂仲景但能治小病，狂詆諆之。余謂此真能讀仲景書者，可見人若能用仲景法，方可使病不大也。</p>
<p>124、石膏不可煅，煅則為石灰，性反熱矣。</p>
<p>125、藥之能起死回生者，惟石膏、大黃、附子、人參。有此四種之病，則一劑可以回春，此外皆不盡然。</p>
<p>126、七十二種風，不聞有七十二種治法；三十六種痛，亦不聞有三十六種治法。且曰一方可以通治，則何必有七十二、三十六之分乎？此不過言風病、痛病之多耳。</p>
<p>127、刮痧之法，亦妙法也。張景岳有《刮痧新探》。</p>
<p>128、六味地黃丸統治傷寒病，趙養葵《醫貫》之說也，汪訒庵取以冠《醫方[集解]》之首，大誤病人。</p>
<p>129、渴甚而嘔者，必以飲水多之故。嘔甚而渴者，必以津液傷之故。</p>
<p>130、病有初中未三傳，而初中末三傳之期，亦無一定，要不可以不分。</p>
<p>131、春夏溫熱，豈獨用藥之異於冬寒哉！嘗見人家於溫熱［病］亦用重茵覆帳，甚至有以紅氈罩窗者，實大忌也。</p>
<p>132、病以汗解，藥到則自然得之，即冬月正傷寒亦然。乃有在夏之病，亦欲以溫覆取汗，則大不然。</p>
<p>133、病自有宜於寒涼藥者，但不可咨食生冷，惟梨汁、蔗汁、西瓜汁不在此例。</p>
<p>134、甘有淡義，不獨以甜為甘也。《書》：「稼穡作甘」，《禮記》：「甘受和」，皆言淡，故石膏之甘，不同於麥［冬］、地［黃〕。</p>
<p>135、《周禮》：「秋時有瘧寒疾」。賈《疏》謂非火沴金。</p>
<p>136、張劉李朱為金元四大家，張謂潔古，或曰子和，當以潔古為是。李士材乃以張為仲景，謬甚。</p>
<p>137、世俗所稱傷風者，不發熱，但有咳嗽清涕、鼻塞聲重而已，非《傷寒論》之中風也，故不傳變。</p>
<p>138、治咳須分新久，新咳宜泄，久咳宜斂。新咳誤斂，則風寒不出，久咳更泄，則肺葉開張，皆足以成醫怯。新久當以年計，不以月日計。</p>
<p>139、《傷寒論》口中和三字，最應著眼，口中和則不燥渴，燥渴則口中不和。一用附子，一用石膏，而以背皆微惡寒，辨之宜審。</p>
<p>140、惡風者不必皆惡寒，惡寒者未有不惡風。</p>
<p>141、陽明經熱，但用［石］膏、知［母]；陽明府熱，始用硝、黃，以燥屎之有無辨。</p>
<p>142、《傷寒論》之往來寒熱，與瘧相似，而實不同。凡瘧當未作之前，已解之後，飲食行動即如平人，以此為辨。</p>
<p>143、問疾禮也，而最累病人，然總不可使與病人多語，甚者不可令至病榻四旁。</p>
<p>144、病加於小愈，故病後之謹慎，當十倍於病前，胃口初開，切忌多食，仲景所以有「損谷則愈」之訓。</p>
<p>145、加病之與病去，外象相似，最宜分別，故衄後無再汗之理，余可以此類推。</p>
<p>146、仲景於熱之自表而里者，曰翕翕發熱；於熱之自里而表者，曰蒸蒸發熱。翕翕、蒸蒸，即表熱、裡熱之分。</p>
<p>147、病一至於陽明，無論風寒暑溫，同歸火化，故六因之病，不入陽明，皆無火象。</p>
<p>148、宋人書有以「敦阜之紀」、「敦阜之土」為厚阜者，避光宗名惇之諱也，非改經文。</p>
<p>149、同一濕也，寒濕可用薑、附，濕熱可用黃連。</p>
<p>150、病之始為惡寒之甚者，即為發熱之機，蓋為人身自有之陽氣為之也。</p>
<p>151、虛有各種之虛，補有各種之補。</p>
<p>152、虛寒之寒，不即是冷。虛熱之熱，不即是火。</p>
<p>153、風寒以解表為主，溫熱以清裡為主，故傷寒成溫，亦專清裡，表謂太陽，里謂陽明，非泛言藏府之表裡也。</p>
<p>154、學醫自《傷寒論》入手者，始而難，繼而易。自後世諸家入手者，始若甚易，繼則大難矣。</p>
<p>155、六經之病要分看，又要合看，總以胸中先有六經之病。然後目中乃有六經之證。</p>
<p>156、昔人所謂破氣藥者，破氣中之滯者也。昔人所謂破血藥者，破血中之結者也。氣血既有所滯，非破不可，豈一用此藥，即將人之氣血而破之乎！</p>
<p>157、病在經宜汗，在府宜下，此定法也。乃有謂中府宜汗之，中藏宜下之者，並以脈浮、惡風寒之為明明中經者為中府，大便秘結之明明中府者為中藏，於是乎經之與府，汗之與下，遂無定法，勢必有裡實已具而仍用汗，藏真失守而仍用下者矣！</p>
<p>158、世之好言補虛者，每云正氣大旺，則外邪不能侵犯，此□（指？）未病者言之則可。若其人即既病也，則外邪已經侵犯矣，已有侵犯，則必先去其侵犯，正乃不傷，若仍執此說，則邪之不去，有日見其虛而已。</p>
<p>159、案者斷也，必能斷乃可云案。方者法也，必有法乃可云方。</p>
<p>160、《本草從新》於人參、生地下云：「治傷寒瘟疫」。何以傷寒之外只有瘟疫？人參下又云：「庸淺之輩，不察虛實，但見發熱，動手便攻。」此種句不知何以教人！</p>
<p>161、景岳、石頑皆以溫疫置之雜證，而所論則皆溫熱，以其不知溫熱即是傷寒門中之病，故不於傷寒門中言之，而一作雜證，即不更用傷寒方，所以溫熱無一可活。</p>
<p>162、升發之藥，有自下升上者，以其邪之下陷也；有自里升表者，以其邪之不達於表也。若一升而即脫者，率不用升法。</p>
<p>163、有小便不通而用升麻者，以為若酒注然，上竅開則下竅自通也。今有以此法言之於大便秘結者矣！</p>
<p>164、人之因虛而病者，謂之弱證。此外則以無病為虛，有病為實，故趙以德曰：邪在於氣則氣實，邪在於血則血實。</p>
<p>165、醫者言病每曰邪在何經，病家聞一邪字則便以為祟也，乃棄醫而就巫，有時即祟果憑之。</p>
<p>166、病之初入陽明者，尚有營、衛之分，故有桂枝、麻黃兩法，過此則不論營、衛、而當不用桂、麻矣。</p>
<p>167、葛根〔湯〕之有桂〔枝］、麻〔黃〕者，名葛根湯，葛根〔湯〕之有芩、連者，名葛根黃連寅芩湯，而前人於陽明用葛根芩連湯，或亦有但曰葛根湯者，明者知其謂有芩、連之葛根湯也，昧者則仍視作有桂、麻之葛根湯。又以初傳陽明，亦或有宜用桂、麻二湯時。於是而於陽明證，遂不能出卓見矣。是知二湯之葛根，亦若青龍、白虎之石膏，其當用白虎石膏時，安得仍用青龍之石膏耶！</p>
<p>168、孟棨有《本事詩》，楊元善有《本事曲》，許學士因之成《本事方》，余亦欲效其體以紀事實，而治驗既多，難以悉載。</p>
<p>169、醫書列有一證示一治法，不言兼證也，尤不能言先作何證，後見何證也，故貴多讀書，尤貴多臨證。</p>
<p>170、士不談五道，則樵夫笑之，何獨於竅道而有道不談道之說耶？</p>
<p>171、閉之與脫，截然兩途。閉者邪氣固束於外，元氣安□（形？）在內。脫者邪氣大傷其元，元氣不就其邪。脫者瀉之，氣絕即死。閉者補之，邪錮而死。</p>
<p>172、病至舌黑、齒焦、唇裂，莫不以為燥，至於此自應純用滋潤藥矣，而仲景於此只用厚朴、枳實之燥，大便一通，其燥即去，一用滋藥，自此不再潤矣。</p>
<p>173、《云復七簽》引《陰陽應象大論》：「冬傷於寒，春必病溫」作「冬傷於汗，春必病溫。」凡《內經》之言精，皆是言汗，此作「汗」字，正與《金匱真言》稱「夫精者身之本也，故藏於精者，春不病溫。」可以互證。而《評熱論》所言，「汗者精氣也，人所以汗出者，皆生於榖，榖生於精」者，不蓋可見藏於精之為不妄出汗邪！喻嘉言讀書未遍，固無怪其不知精之為汗也。</p>
