<header data-type="book">
<h1>串雅外編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>趙學敏</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>禁藥門</h2>

<h3>李子建殺鬼丸</h3>
<p>闢瘟疫，殺一切鬼魅魍魎。</p>
<p>藜藿（一兩）　虎頭（一兩五錢）　雄黃　鬼臼　天雄　皂莢　蕪荑（各五錢）</p>
<p>上為末，蜜丸如皂子大。熱病時氣燒一丸安床頭。</p>

<h3>闢疫</h3>
<p>凡入瘟疫之家，以麻油塗鼻孔中，然後入病家去，則不相傳染，既出，或以紙捻探鼻深入，令嚏之方為佳。</p>

<h3>時疫大行</h3>
<p>自家水缸內，每早投黑豆一把，全家無恙。</p>

<h3>截瘧</h3>
<p>端午七姓人家粽尖獨囊蒜七枚，雄黃三錢，巴霜一錢去油，搗為末，小丸，獨用硃砂為衣。臨發日，未來時棉裹塞鼻孔中，男左女右，過夜即止去藥，或用膏藥些須貼眉心，止即去之。</p>

<h3>嫁腋氣</h3>
<p>枸桔樹鑿孔取汁一二碗，用青木香東桃西柳七姓婦人乳一處，煎一二沸，就熱於五月五日雞叫時洗了，將水放在十字路速回弗顧，即愈。只是他人先過者，必帶去也。枸桔樹即枳椇也。（《衛生簡易方》）</p>

<h3>香草散</h3>
<p>截瘧。</p>
<p>香附醋浸透，銅鍋炒一兩半。草烏面同炒去面，五錢為末。每用一分，臨發時先時含舌上，滾湯下。老弱七八釐，小兒五釐，極重二服即愈。</p>

<h3>斷酒不飲</h3>
<p>酒七升，硃砂半兩，瓶浸緊封，安豬圈內，任豬搖動，七日取出，頓飲。</p>

<h3>取蛇牙</h3>
<p>蛇毒螫傷，牙入肉中，痛不可忍者，勿令人知，私以荇葉覆其上，穿處以物包之，一時折牙自出也。</p>

<h3>禁蛙鳴</h3>
<p>野菊花連梗葉為末，順風撒去，其聲即止。</p>

<h3>又方</h3>
<p>以牛膝塗紙置水中，亦不鳴。</p>

<h3>貓鬼野道</h3>
<p>相思子、蓖麻子、巴豆各一枚，硃砂末、蠟各四銖，合搗丸如麻子大，服之。即以灰圍患人面前，著一斗灰火，吐藥入火中，沸即畫十字於火，其貓鬼者死也。</p>

<h3>化金蠶</h3>
<p>雷丸三錢為末，同白礬少許調勻。金蠶出現時，以末少許摻之，立時蟲化為紅水，如血蠱，神必震怒作祟。倘空中有聲，即將藥聽其聲響處灑去，神必大罵負心而去，永不再至矣。</p>

<h3>闢水毒</h3>
<p>蛇莓根搗末服之，並導下部，亦可飲汁一二升。夏月欲入水，先以少許投中流，更無所畏，又闢射工。家中以器貯水浴身，亦宜投少許。（蛇莓地引細蔓，節節生根，每枝三葉，葉有齒刻，四五月間開小黃花，五出結實鮮紅狀，似覆盆子而面與蒂不同。）</p>

<h3>除蟲蟻</h3>
<p>驚蟄日用石灰糝門檻外，免蟲蟻出。</p>

<h3>禁蠍螫</h3>
<p>咒曰：委傳仙挕敕斬蛜蜥滅。如有蠍螫之人求治，於患處望而取氣一口，默唸七遍，怒著作法吹蠍處，其痛即止。用法之人忌五厭肉。</p>

<h3>闢蠅蚊</h3>
<p>楝樹一技，將酒糊塗之，懸掛空處，蠅飛不能走。收過二三次即無。放蠅必曠野，不可打死，訣曰：甘草藜蘆楝子花，更兼一味夜明砂，每日清晨燒一撮，蠅蚊只在兩臨家。</p>

<h3>禁蚊</h3>
<p>端午日取浮萍一把、鬧羊花一把為末，清明日取鱉血和二味調勻，搽在房門上，則蚊蟲一室俱無矣。</p>

<h3>又</h3>
<p>新造房屋內柱下四隅埋蒲扇，蚊永不入。</p>

<h3>滅蝨除蚤</h3>
<p>百部　水銀　茶葉（各一錢）　黑棗（三枚）</p>
<p>上研和布包帶身不生蝨。</p>
<p>鴿糞　水龍骨　風茄花（三朵）</p>
<p>打和燒臭蟲絕根。</p>

<h3>除花菜地不生蟲</h3>
<p>楝樹根燒灰盛布袋，待露水濕，撒之即除。</p>

<h3>驅蠅</h3>
<p>臘月取鱖魚一枚，懸廁上則無蠅。</p>

<h3>又</h3>
<p>臘月八日，懸豬脂於廁上則無蠅。</p>

<h3>除蚤蝨蛇蟲諸毒</h3>
<p>樟腦（五錢）　茅朮　石菖蒲（各三錢）</p>
<p>上共為末，摻床褥間及壁角諸處則絕。</p>

<h3>又</h3>
<p>芥菜子　辣蓼　樟腦（各一錢）　燒煙燻之即除。</p>

<h3>除臭蟲</h3>
<p>硫黃數錢為末，棉花子燒煙燻二三次即絕。</p>

<h3>闢痘入目</h3>
<p>凡痘初起時，將獨女胭脂揩眼眶，則痘不入目。一見痘時，牛蒡子不拘多少，其母嚼碎，貼兒囟門則不入目。</p>

<h3>嗜茶成癖</h3>
<p>一人病此，方士令以新鞋成茶令滿，任意食盡。再盛一鞋，如此三度，自不吃也。男用女鞋，女用男鞋，頗驗。</p>

<h3>斷蜒蚰</h3>
<p>白礬水灑其來處，又用酒腳糊窗紙，則蜒蚰不入。</p>

<h3>驅馬蟥</h3>
<p>二麥稈頓於水上，流水入池中，可祛馬蟥。</p>

<h3>闢漆氣</h3>
<p>人有見漆多為漆氣上騰，著人而生漆瘡者，川椒三四十粒，搗研塗口鼻中，則不為漆所害。</p>

<h3>禁鬼</h3>
<p>埋瓦石於宅四隅，捶桃核七枚，則鬼無能為殃。</p>

<h3>令病不復</h3>
<p>取女中下裳帶一尺，燒研米飯，即免勞復。</p>

<h3>禁蛾入火</h3>
<p>取燈草用冬雪水浸七日，取起陰乾，暑月燃燈，凡一切蟲蛾即不奔赴。</p>

<h3>又方</h3>
<p>清明早晨取井水一盆，不可落地，折柳枝一條，同燈草浸其中，取起陰乾，暑月燃之，可免蟲蛾撲滅。</p>

<h3>小兒夜啼</h3>
<p>取井邊草私著席下，勿令母知，或雞窠、豬窠中草皆可。</p>

<h3>小兒腹痛</h3>
<p>取樹孔中草暗著戶上即止。</p>

<h3>闢瘡瘃</h3>
<p>人日午時，取獨蒜搗爛塗麵皮手腳，一年不生惡瘡，冬有不作凍瘃，不多瘵神驗。</p>

<h2>字禁門</h2>

<h3>避祟</h3>
<p>小兒額上八十字，此乃旃檀王押字，鬼祟見則遠避。</p>

<h3>截瘧</h3>
<p>每逢發期，先將後開名字用硃筆寫就，男左女右，縛於臂上即止。</p>
<p>一六日良田　二七日孟逢春　三八日季天祿　四九日謝閒遊　五十日任牙生　又以左右一個月，用墨書：圓行路非難，促取瘧鬼送與河官，書了，收向患瘧者懷裡，於江河水畔行，欲發時取出，擲向水中便歸，即效。又橘葉七片，每片朱書一字：魁、𩲃、𩵄、䰢、魓、𩳐、魒，將葉焙乾為末，發時白湯吞之。</p>

<h3>又方</h3>
<p>病人走到，背立褪露左肩，上寫「管仲子」三字，寫完即走，在外不要回顧。凡用此法，須預叮囑病人走到，自袒其肩，寫畢竟去，不可開口。</p>

<h3>小兒口瘡</h3>
<p>湯餅內滷為末，醋調，臨臥時書十字於兩足心，即愈。</p>

<h3>闢蛇蠍</h3>
<p>端午日將硃砂寫茶字，倒貼，闢蛇蠍。</p>

<h3>闢蠅蚊</h3>
<p>書「風」字、「間」字，貼窗壁下，無蚊。</p>
<p>又端午日書「白」字，倒貼，或寫「儀方」亦可。</p>

<h3>闢蛇</h3>
<p>於四壁柱下，用倒流水研墨書龍字，貼之，蛇見自畏。多用磚瓦寫「儀方」二字，四處置之，蛇見即畏避。</p>

<h3>除蝨</h3>
<p>名五字符。吸北方煞氣一口，噴筆尖上，書「欽深淵默漆」五字，於黃紙上，綴於衣帳床褥間，其蝨自然除。</p>

<h3>蜂螫</h3>
<p>蜂螫以竹寫「丙丁火」，於地上寫七遍，取土揩螫處。一法掐劍訣向空書「子醜寅卯辰巳午未申酉」字，豎直監至地，取土搽之即愈。</p>

<h3>闢蜒蚰</h3>
<p>端午書「滑」字，及「闢蚊蚋」，書「風煙」字，間貼窗壁。</p>

<h3>闢臭蟲</h3>
<p>用紙書「云欠我青州木瓜錢」，將此字貼於床腳上，忽然不見。一云：張三賢，張三賢，買了木瓜不完錢，一去三十年。寫此貼床腳上亦驗。</p>
<p>一法買木瓜一個，臨臥時以手拍瓜口，念云：張世緣，張世緣，欠了河南木瓜客人錢，木瓜客人今在此，速去速去速去來還錢。臭蟲自遁也。</p>

<h3>驅蛇蟲</h3>
<p>《藏經》有偈云：苦求求不得，多求致怨憎，梵求菩提徹，老不見相見。依此倒寫貼四壁外，甚效。</p>

<h3>止燕窠</h3>
<p>書「戊」字，貼至處。又用白紙朱書「鳳凰」二字，貼於巢上，即去。</p>

<h3>小兒夜啼</h3>
<p>用火柴頭一個，長四五寸，削平，面用硃砂書云：撥火杖，撥火杖，將來捉神來，捉著夜啼鬼，打殺不要放，急急如律令。又將硃砂書「甲寅」二字，貼床頭即止。</p>

<h3>化骨</h3>
<p>左手三山訣，執淨水一碗，右手劍訣，二指於水面上寫「⿺𩳧龍虎急化」四字，字書分明，吞服。</p>

<h3>蜈蚣螫</h3>
<p>書地作五字，取土糝之，即愈。</p>

<h3>骨哽</h3>
<p>用茶水虛空，以手指寫「天上金雞叫，地下草雞啼，兩雞並一雞，九龍下海，喉嚨化如滄海」二十五字，口誦七遍，飲此立愈。又書「鳥飛龍下魚化舟邱」，亦可。</p>

<h3>絕一切蟲毒</h3>
<p>⿱曰酉，五月五日午時，書此，貼壁，毒蟲永絕。</p>

<h3>治湯火咒</h3>
<p>龍樹五如來授吾行，持北方壬癸禁火大法。龍樹五如來，吾是北方壬癸，斬天下火星辰，天下火星辰必降，急急如律令。手握真武印，吹之，即用少許冷水洗，雖有火燒手足成瘡，皆可療。</p>

<h3>治骨哽咒</h3>
<p>紅引登樓問此星，我出真人問此人，太上老君急急如律令敕。一氣七遍，呵入茶酒中，飲之立愈。</p>

<h3>治骨鯁</h3>
<p>𩳧，喉內卡骨，用此字。如利害者，照此字寫七個，或九個，吃飯即飯碗麵上。酒即在酒杯面上寫，寫畢飲之效。</p>

<h3>又法</h3>
<p>⿺𩳧賴，喉卡魚骨，用此字。如利害，照前法效。</p>

<h2>術禁門</h2>

<h3>釘毒</h3>
<p>治一切腫毒瘡癤，若患三日內者，釘便散。若已成，即易瘥。⿴囗㵘濃好者，依此法於土牆上，高處書之，以竹釘就中間釘之，先令病人嗽一聲，便吸氣於釘上，七釘止仍不得移動，須至誠則神驗。</p>

<h3>釘瘧</h3>
<p>水溢仙人歌曰：瘧是邪風寒熱攻，直須術治免成空，常人刻作人形狀，釘在孩兒生氣宮。如金生人，金在己，即釘己。木生人釘在亥上，火生人釘寅上，水土生人釘申上也。</p>

<h3>白虎病</h3>
<p>《綱目》白獅子石下。</p>
<p>江東人呼為歷節風是也。置此於病者前，自愈。亦厭伏之意也。白虎糞神名狀如貓埽糞，置門下令人病此。療法以雞子揩病人痛處，咒愿送於糞堆之頭上，勿反顧取土瓦，年深既古且潤，三角瓦一塊，令三姓童子候星初出時指第一星，下火於屋上炙。</p>

<h3>卵癀偏墜</h3>
<p>雙蒂茄子懸房門上，出入用眼視之。茄蔫患亦蔫，茄干患亦十矣。又懸雙茄子門上，每日抱童子視之，二三次釘針於上，十餘日消矣。</p>

<h3>身面疣目</h3>
<p>七月七日，以火豆拭疣上三過，使本人種豆於南向，屋東頭二溜中豆生葉，以熱沃殺，即愈。</p>

<h3>消胬肉</h3>
<p>凡人身有胬肉，可聽人家釘棺，下斧之時便於手擦二七遍，以後自消平。產婦勿用。</p>

<h3>眼生偷針</h3>
<p>布針一個，對井睨視，已而，折為兩斷，投井中，勿令人見。</p>

<h3>小兒夜啼</h3>
<p>以撥火杖一根，以劍訣手書敕令，默咒曰：撥火杖，撥火杖，玉皇命你做丞相，拏住夜啼鬼，打死打死永不放。吾差三十六神將，鐵棍銅槌，祛邪歸正。吾奉太上老君，急急如律令敕。</p>

<h3>小兒遺尿</h3>
<p>紅紙剪馬四疋，令兒自安身下，每夜如之。</p>

<h3>破傷風</h3>
<p>火命婦人取無根水一盞，入百草霜調，捏作餅，放患處三五換，如神。</p>

<h3>咒棗除百病</h3>
<p>咒曰華表桂。念七遍，望天罡取氣一口，吹於棗。嚼吃，湯水下。華表桂，鬼之祖名也。</p>

<h3>夜臥禁魘</h3>
<p>凡臥時，以鞋一仰一覆置床下，無惡夢及魘。</p>

<h3>疾患疼痛</h3>
<p>咒曰：金木水火土，五行助力，六甲同威，天罡大神，收入棗心，棗入腸中，六腑安寧，萬病俱息。速急求茶，用棗一枚，唸咒一遍，吸罡氣一口入棗中，男去尖，女去蒂，用水嚼下，忌⿰𭥯犬物七日。</p>

<h3>咒梨除瘧</h3>
<p>取梨一個，先吸南方氣一口，將梨咒曰：南方有池，池中有水，水中有魚，三頭九尾，不食人間五穀，惟食瘧鬼。密咒三遍，吹於梨上，書敕殺死三字，令病人臨發前食之。</p>

<h3>咒餅除瘧</h3>
<p>咒法：先面東燒香虔誠，於油餅中心書一攤字，不用糖餅，書如錢大，須新筆淨墨。以筆圈之，左邊圍三次，持筆於香上，誦乾元亨利貞七遍，發日早，搯去所書字，用棗湯嚼餅食之。</p>

<h3>人身上結筋</h3>
<p>用木杓打之，三下自散。</p>

<h3>百蟲傷</h3>
<p>先問被傷甚蟲傷來，默唸火德真君黑煞攝，吹在被傷處，如此七遍，被傷人自麻不痛。</p>

<h3>蜂蠆螫傷</h3>
<p>瓦摩其上，唾一七遍，置瓦於故處。</p>

<h3>禁鼠</h3>
<p>逐月旦日，取泥屋之四角及塞鼠穴，一年鼠皆絕跡。此李處士禁法也，神。後正月起申，順行十二辰。</p>

<h3>驅蛇蟲</h3>
<p>黃紙朱書三字符，老誠於土地前焚香，將符貼土地堂內，則蛇蟲不復出現而潛去矣。如值夜行及草路中畏蛇蟲當道，則煩會此三字，依法搯訣，即無見矣。用左手剔酉搯己為訣，方書三字符。</p>
<p>敕令⿱⻗𩲠⿱⻗⿺鬼宜⿱⻗𩲠。一法用儀方儀康四字。</p>

<h3>驅蚊</h3>
<p>收東方青煞炁，咒七遍，噓入水碗中，將水以口吸，而噴四壁各處，其蚊自去。咒曰：天上三足為鳥，嘴利如錘啄，不食人間五穀，只食蚊蟲骨髓，急急如太上老君律令。又咒曰：天地太清，日月太明，陰陽太和，急急如律令敕。面向太陽念七遍，吸氣吹燈草上，夜點之闢蚊蟲。又於除夕五更，使一人於堂中向南扇，一人問作何事？答曰：扇蚊子。乃已，永無蚊患。又端午正午時望太陽將水，咒曰：天上金雞吃蚊子，腦髓吸太陽氣，吹燈心，夜將燈心點。</p>

<h3>滅臭蟲</h3>
<p>災（除元）煞　咒曰：日出東方壁，畢元藏天煞、地煞、月煞、二十四煞、七十二煞，一切煞星惡星盡皆煞，除臭蟲滅跡。</p>

<h3>滅屍蟲</h3>
<p>春正上甲乙日，視歲所在，焚香朝朝禮拜，祝曰：臣願東方明星君抉我魂，接我魄，使我壽命綿長如松柏，願臣身中三尸九蟲盡消滅，頻頻行之吉。</p>

<h2>起死門</h2>

<h3>雷真君傳治五絕</h3>
<p>乃縊跌魘淹壓等死。</p>
<p>先書符一道於黃紙，焚化在熱黃酒內，撬開牙關灌入喉中，後再用藥丸調黃酒內，以人口含蔥管送入死人喉內，少頃即蘇。</p>
<p>招魂符式</p>
<figure>
<img alt="圖">
</figure>
<p>（此符無咒，一心對雷真君天醫使者，書之靈驗無比。）</p>

<h3>藥名救絕仙丹</h3>
<p>山羊血（二錢）　菖蒲（二錢）　人參（三錢）　紅花（一錢）　皂角刺（一錢）　製半夏（三錢）　蘇葉（二錢）　麝香（一錢）</p>
<p>上各為末，蜜丸龍眼核大，酒化開，以端午日修合好，每料約十丸。此方神奇之至，不但救五絕，凡有邪祟昏迷，一時猝倒者，皆可起死回生。</p>

<h3>騎牛法</h3>
<p>專救溺死。</p>
<p>凡人由水中救起，以身俯伏於牛背上，手足俱用人扶，另用一人牽牛緩行，有五里之久自活。</p>

<h3>懸雞法</h3>
<p>專救縊。</p>
<p>凡人縊者，將人解下，輕扶仰臥，將活公雞倒懸，流出口涎入人口內自活。</p>

<h3>插鵝法</h3>
<p>治自縊。</p>
<p>用老鵝一隻，將香油抹鵝嘴上，插入糞門，一二時自活。若過十二時辰，則不救矣。</p>

<h3>溺死</h3>
<p>以所溺之人扶在椅上，將其左右手腳不住運動後，將其口耳穀道塞住，兩眼亦包住，用舊藍布捻繩燒煙，先以竹管呼煙吹入鼻孔，水即鼻出，俟有微氣，即以布繩煙燻其鼻孔即活。</p>

<h3>救誤死</h3>
<p>凡人無病；或坐臥，或酒後，陡然即死者，名旺痧。將本人口內，用鐵器撬開，以銀簪刺下小有筋血出即活，不可刺正中。又方，以悶醋灌下，即刻活矣。</p>

<h3>卒中惡死</h3>
<p>或先病，或平居寢臥，奄息而死，皆是中惡。</p>
<p>急取蔥心刺入鼻孔中，男左女右，入七八寸，鼻目血出即蘇。</p>

<h3>人卒暴死</h3>
<p>搗女青一錢，安咽中，以水或酒送下立活。</p>

<h3>還魂湯</h3>
<p>麻黃二兩去節，杏仁七十個去皮尖，甘草一兩，水二碗，煎一碗，去渣灌之。</p>

<h3>血風攻死</h3>
<p>婦人血風攻腦，頭旋悶絕，忽死倒地，不知人事者。</p>
<p>蒼耳草嫩心陰乾為末，酒服一大錢，其功甚速，此物善通頂門連腦。</p>

<h3>打死</h3>
<p>松節捶碎一二升，入鐵鍋內炒起青煙為度，以老黃酒二三升，四圍衝入即濾淨，候半熱，開牙灌入即活。</p>

<h3>小兒驚死</h3>
<p>大叫一聲就死者，名老鴉驚。</p>
<p>以散麻纏作脅下及手心足心，燈火捻之，用老鴉蒜曬乾，車前子等分為末，水調貼手心，仍以燈心焠手足心、及肩膊、眉心、鼻心，即醒也。</p>

<h3>解藥毒死</h3>
<p>只要心間溫暖者，乃是熱物犯之，防風一味擂，冷水灌之。</p>

<h3>產後暈絕</h3>
<p>此扁鵲法也。</p>
<p>半夏末，冷水和丸，大豆大，納鼻中即愈。</p>

<h3>喉痹垂死</h3>
<p>止有餘氣者。</p>
<p>巴豆去皮，線穿納入喉中，牽出即愈。</p>

<h3>華佗危病方</h3>
<p>治纏喉風喉閉，其症先兩日胸膈氣緊，出氣短促，驀然咽喉腫痛，手足厥冷，氣閉不通，頃刻不治。</p>
<p>巴豆（七枚，三生四熟。生者去殼研，熟者去殼炒去油存性）　雄黃（皂子大者，研）　鬱金（一個，蟬肚者研細）</p>
<p>共為細末，每服半茶匙，細呷，如口噤咽塞，用小竹管納藥吹喉中，須臾吐利即醒。如無前藥，用川升麻四兩銼碎，水四碗，煎一碗，灌入。又無升麻，用皂角三綻捶碎，擂水一盞灌之，或吐或不吐即安。</p>

<h3>急痧將死</h3>
<p>將口撐開，看其舌處有黑筋三股，男左女右，刺出紫血一點，即愈。刺血忌用針，須用竹箸嵌碎磁碗尖為妙，中間一筋，切不可刺。</p>

<h3>急救方</h3>
<p>將雄狐膽收藏十二月，遇暴亡之人，以溫湯細研，灌下即活。</p>

<h3>援絕神方</h3>
<p>凡人患痢便血，一日至百十次不止者，至危急也。即以此藥援危，又不損傷氣血，痢止身亦健。</p>
<p>白芍（二兩）　當歸（二兩）　枳殼（二錢）　檳榔（二錢）　甘草（二錢）　滑石末（三錢）　木香（一錢）　蘿蔔子（一錢）</p>
<p>水煎服，一劑輕，二劑三劑全愈。</p>

<h3>金瘡鐵扇散</h3>
<p>象皮（五錢，切薄片用小鍋焙黃色，以干為度，勿令焦）　龍骨（五錢，用上白者生研細末）　老材香（一兩。山陝諸省無漆民間棺殮，俱用松香黃蠟塗棺內，數十年後有遷葬者，棺朽另移新棺，具棺朽之內黃蠟即謂老材香。東南各省無材香，即以數百年之陳石灰一兩代之，俱效驗，亦與老材香同）　寸柏香（即松香之黑色形者）　松香（一兩，與寸柏香一兩一同熔化，攪勻傾入冷水中，取出曬乾）　飛礬（一兩片，白礬入內熬化即是）</p>
<p>共為細末，貯磁罐中，遇有刀石破傷者，用敷瘡口，以扇向瘡口扇之立愈。忌臥熱處，如傷處發腫，煎黃連水，用翎毛蘸塗之即消。傷處不必用布包裹，以致過暖，難於結痂。並忌飲酒以致氣血妄行。至敷藥之時，若血流，乃用扇扇之，倘不流，即不必扇。蓋傷處喜涼惡熱，夏日宜臥涼地，冬日忌臥熱處。</p>

<h2>保生門</h2>

<h3>損目破睛</h3>
<p>牛口涎每日點兩次，須要避風。黑睛破者，亦瘥。</p>

<h3>金瘡腸出</h3>
<p>小麥五升，水九升，取四升，綿濾取汁，待極冷，令病人臥席上，含汁噀之，腸漸入，噀其背。並勿令人知及旁人見，旁人知，即腸不入也，乃抬席四角輕搖，使腸自入。十日中，但略美物，慎勿驚動，即殺人。</p>

<h3>腦破折骨</h3>
<p>龍腦（明透者三錢）　冰片（三分）　人參（三錢）　象皮（一錢）　生地（三錢）　土狗（三個，去頭翅）　地蝨（二十個）</p>
<p>先將人參各項研末，用土狗、地蝨搗爛入前藥搗之，佩身上，三日乾，為末，瓶貯。遇有此等病，醫之可也。並可接骨，服下神效，骨斷者，服一錢即愈。</p>

<h3>眉落復生</h3>
<p>桑葉七片，每日洗之，一月重生，須落亦然。</p>

<h3>卒心急痛</h3>
<p>牙關緊閉欲絕。</p>
<p>老蔥白五莖去皮須搗膏，以匙入咽中，灌以麻油四兩，但得下咽即蘇。少頃，積蟲皆化黃水而下，永不再發，累得救人。</p>

<h3>痘瘡壞症</h3>
<p>身如黑團之氣，口不能言，食不能下，皆由氣虛而火不能發也。毒流於中，而不得泄，形如死者。</p>
<p>人參（三錢）　元參（二兩）　荊芥（一兩）　金銀花（二兩）　陳皮（水煎五分）</p>
<p>上藥灌之，下喉而眼開，少頃身動，久之而神氣回，口能言，食能下矣。不必再服他藥，痘瘡自回而生全。至奇之方也。</p>

<h2>奇藥門</h2>

<h3>立泯傷腫</h3>
<p>治撲打有傷，或青腫紫硬，此藥泯之。熟麻油和酒飲之，以火燒熱地臥，覺即疼痛俱消。</p>

<h3>探生散</h3>
<p>治小兒急慢驚風，諸藥不治，以此定其死生。</p>
<p>雄黃　沒藥（各一錢）　乳香（五分）　麝香（二分半）</p>
<p>共為末，用少許吹入鼻中，有眼淚鼻涕可治。</p>

<h3>接骨散</h3>
<p>凡跌損骨節脫臼接骨者，用此則能不知痛也。</p>
<p>茉莉根酒磨一寸，服則昏迷一日乃醒，二寸二日，三寸三時，亦奇方也。</p>

<h3>縮陽秘方</h3>
<p>水蛭九條，入水碗養至七月七日，陰乾，秤有多少，入麝香、蘇合三味，一般細研為末，蜜少許為餅，遇陽興時即將少許擦左腳心，即時痿縮。過日復興，再擦。癆病火動，陽常起者，以皮硝於手心兩手合住自化，陽即痿矣。</p>

<h3>睡聖散</h3>
<p>人難忍艾火灸痛，此即昏睡不知痛，亦不傷人。</p>
<p>山茄花（即風茄，七月收）　火麻花（即黃麻，今圃地所植者，七月收）　收此二花必須端莊閉口齊手足採之，若二人去，或笑或言語，後亦言笑如之。採後，共為細末，每服三錢，小兒一錢，茶酒任下。（敏按：二花性太烈，三錢之分量雖得，然斷不可服，宜量人增減。）　一服後，煎湯含漱半日，漱完再用。龍齒末（三分）　人參末（一錢）　麥冬末（一錢）　血竭（三分）　冰片（二分）　土狗（一個）　地蝨（十個）　各火焙為末，放地上一刻，出火氣，將末藥乘人參漱口完時，即以此末自己用舌蘸之，使令遍，不可將舌即縮入口中，放在外半刻，至不能忍，然後縮入可也。三次則伸長矣。</p>

<h3>長齒法</h3>
<p>雄鼠脊骨（全副，余骨不用，尾亦不用，頭亦不用）　骨碎補（三錢，炒為末）　麝香（一分）　熟地（身懷之令乾，為末三錢）　必須自制，切不可犯鐵器，一犯則前藥俱不效矣。熟地亦須看一做過，鐵針穿孔者，即不效。細辛（三分）　榆樹皮（三分）　總之，諸藥俱忌鐵器。當歸（一錢）　青鹽（二錢）　杜仲（一錢）　各為細末，鼠骨新瓦焙乾為末，不可燒焦，乘其生氣也。用一磁器盛之。每日五更時，不可出聲，將此藥輕擦無牙之處，三十六擦，任其自然嚥下，不可用水漱口，一月如是。日間、午間擦之，更佳，亦如前數。</p>

<h3>瀉毒神丹</h3>
<p>瀉砒毒。</p>
<p>大黃（二兩）　生甘草（五錢）　白礬（一兩）　當歸（三兩）</p>
<p>水煎數碗飲之，立時大瀉，則生。否則毒入於臟，無可救矣。</p>

<h3>逐火丹</h3>
<p>治湯火傷。</p>
<p>大黃（五錢）　當歸（四兩）　荊芥（三錢，炒黑）　生甘草（五錢）　黃芩（三錢）　防風（三錢）　黃耆（三兩）　茯苓（三兩）</p>
<p>水煎服，一劑痛減半，二劑全減，三劑瘡口全愈。</p>

<h3>斬鬼丹</h3>
<p>治鬼胎如抱一甕。</p>
<p>吳茱萸　川烏　秦艽　柴胡　白殭蠶</p>
<p>上為末，煉蜜丸桐子大，每服七丸，酒下。取去惡物即愈。</p>

<h3>彭祖接命丹</h3>
<p>大附子（重二兩三錢一個，或一兩六錢亦可，切薄片用夏布包定）　甘草（二兩）　甘遂（二兩，二味捶碎）</p>
<p>上以燒酒二斤共浸半日，文武火煮，酒干為度。取起附子、甘草、甘遂不用，加麝香三分，捶千下，作二丸，陰乾。一丸填臍內，七日一換，放黑鉛盒內養之。此丹暖丹田，助兩腎，添補髓，卻病久固，返老還童，延年益壽。</p>

<h3>還元丹</h3>
<p>安五臟，消百病。此藥大能令瘦者肥，補虛損，實精髓，固元氣。</p>
<p>黃牛肉不拘多少，去筋膜切作棋子大片，用河水洗數遍，令血味盡，仍浸一日，次日再洗，水清為度。用無灰好酒入壇內，重泥封固，用桑柴文武火煮一晝夜。取出，焙乾為末，如黃沙為佳，焦黑無用。每末半斤，入山藥四兩，重加蔥鹽炒，去蔥鹽為末，白茯苓四兩堅實者，蓮子四兩去心，蔥鹽炒，小茴香二兩。上去枝梗微炒香，共研為末，和勻，用紅棗不拘多少湯藥，大爛，皮肉相離核，研為膏，加好酒入前藥，丸如桐子大，空心溫酒下五十丸。初服日進三丸，久則一服如彈子大，每日好酒空心細嚼一丸。</p>

<h3>芙蓉散</h3>
<p>治室女無夫者思欲動火，以致胸痛，自汗頰出，脈亂。</p>
<p>芙蓉花，有花帶花，有子帶子，採一朵，搗爛和井水，濾去渣，服之立效。</p>

<h3>開聰明方</h3>
<p>荷花梗曬乾為末，同何首烏滾水沖服，當茶，久則令聰明，雖至愚者亦心靈生慧也。</p>

<h3>長髮方</h3>
<p>羊屎不拘多少，納鯽魚腹中，用瓦缶固濟，灰和香油塗發，數日發漸長而黑矣。</p>

<h3>長鬚方</h3>
<p>鹿角尖（鎊細，二錢）　皂角刺（二錢）　牙皂（二錢）　橄欖（煅灰存性，四兩）　酸橘子（一枚，取汁）　生薑（取汁）</p>
<p>上二味取汁二兩二錢和勻，入磁器內收貯。用柳木塞口，重湯煮三炷香，聽用。每日晚間以肥皂水洗淨短鬚，上藥擦之，天明洗去。至四十九日，長尺余，如欲再長，則再擦時，每日吃胡桃一個，至二七日，吃胡桃二個，三七日吃胡桃三個為例。</p>

<h3>拔毒異法</h3>
<p>鐵屑研細，以好醋調之，煎二三沸，撈取鐵屑鋪患處，將上好磁石一大塊，頻頻吸之，即其毒自出也。</p>

<h3>治諸毒不收口</h3>
<p>生鉛三分敲成薄片，剪如香茶樣。分三服，每日用鉛一分，拌核桃肉嚼，好酒送下，三日服完收口，大便內出毒物而愈。</p>

<h3>壬子丸</h3>
<p>依方修合服之，不過半月而有孕。</p>
<p>吳茱萸　白及　白蘞　白茯苓（各一兩）　牛膝　細辛（各五錢）　菖蒲　白附子　當歸（各少許）　厚朴　桂心　人參（各四兩）　乳香（三兩）　沒藥（四兩）</p>
<p>上共為末，煉蜜丸如梧子大，每服十丸，有效。若男子服補益，若孕婦服即生雙胎。空心好酒下用壬子日，修合勿令雞犬婦人見。</p>

<h3>內府磁壺酒</h3>
<p>天仙子（六雙）　野菊花（三千朵）　陳皮（八兩，泔水浸製去白）甘草（四兩，去皮）　貫眾（三兩）　川烏（十枚，用草果以川烏末入草果殼內放飯上蒸熟，去草果，以上六味共為丸聽用）　鹿茸（羊油炙）　庵閭子　冬青子　沙苑蒺藜（各一兩）　晚蠶蛾（十對，新瓦炙，成對者）　蛤蚧（一對，全尾，酒浸，各用一兩。以上六味為末炙為末聽用）　造麴用杏仁（去皮尖）　良薑　砂仁　半開紫荊花　川椒　肉桂　五加皮　紫梢花（各一兩為末）</p>
<p>上以飛面二斤半，米湯合為丸，如圓眼大，放不見日陰乾聽用。糯米一升煮爛粥，用天仙子六味末，用曲五兩和勻，入瓶封固七日，成酒，取出，又入鹿茸等六味，與酒拌和一處。如干加酥油與蜜為丸，如圓眼大，金箔為衣。每一丸入磁壺內，滾水一盞化開成酒服。</p>

<h1>卷二</h1>

<h2>針法門</h2>

<h3>猢猻癆</h3>
<p>小兒有此症，求食不止，終夜不睡，用針刺兩手面中三指中節能曲處。周歲者用中號針。六七歲用大號針，刺進半分許，遇骨微位即拔出，不可誤針筋上。若疳甚無水，刺數日方有白水，不甚者，即有白漿，刺數日，隨有血，一指有血，一指不刺，二指有血，停此二指不刺，若六指俱有血，病痊，不復刺矣。凡刺，須隔一日，俟天晴，雨則無益，刺後即得睡。減貪饞，忌棗慄干甜果物，食則復發。如初刺有血，非此症矣。</p>

<h3>挑悶疹子</h3>
<p>分開頂門內有紅筋紅瘰，挑破即止。</p>

<h3>喉痹</h3>
<p>覓喉上紅疙瘩，用針挑破即愈。</p>

<h3>百發神針</h3>
<p>治偏正頭風，漏肩鶴膝寒濕氣，半身不遂，手足癱瘓，痞塊腰痛，小腸疝氣，癰疽發背，對口發，痰核初起，不破爛，俱可用針，按穴針之，真神妙百中。</p>
<p>乳香　沒藥　生川附子　血竭　川烏　草烏　檀香末　降香末　大貝母　麝香（各三錢）　母丁香（四十九粒）　淨蘄艾綿（一兩或二兩）　作針。</p>

<h3>消癖神火針</h3>
<p>蜈蚣（一條）　木鱉　五靈脂　雄黃　乳香　沒藥　阿魏　三稜　蓬朮　甘草　皮硝（各一錢）　鬧羊花　硫黃　山甲　牙皂（各二錢）　麝香（三錢）　甘遂（五分）　艾絨（二兩）　作針。</p>

<h3>陰症散毒針</h3>
<p>乳香　沒藥　羌活　獨活　川烏　草烏　白芷　細辛　牙皂　硫黃　山甲　大貝　靈脂　肉桂　雄黃（各一錢）　蟾酥　麝香（三分）　艾絨（一兩）　作針。</p>

<h2>灸法門</h2>

<h3>醫小兒</h3>
<p>小兒目視不轉睛，指甲黑，作鴉聲，是死形無可治。惟用此法灸，十灸十生，將左右兩手彎處，各灸一穴，左右兩腳趾，將第二腳趾縫頭處亦必各灸一灸，將痰瀉出，即回生，奇妙不可言，醫小兒之神灸也。</p>

<h3>雞爪風</h3>
<p>婦人月家得此，不時發手足及指拘攣，拳縮如雞爪，頗疼痛，急於左右膝蓋骨下兩旁，各有小窩共四穴，（俗謂鬼眼。）各灸三壯立愈。</p>

<h3>乾霍亂死灸法</h3>
<p>心頭微熱者，以鹽填臍內，納艾灸，不計數，以醒為度。</p>

<h3>附子灸</h3>
<p>癰疽久漏，瘡口冷，膿水不絕，內無惡肉，以大附子水浸透，切大片，厚三分，安瘡口，艾隔灸，數日一灸，至五六七次，服內托藥，自然長滿。為末作餌用亦甚可。</p>

<h3>黃蠟灸</h3>
<p>治癰疽等毒。</p>
<p>白麵水和成塊，照毒根盤大小作圈，厚一指，高寸余，黏肉上，外以絹帛加濕布圍住，將黃蠟掐薄片入面圈內，以熨斗火運逼蠟化。即痛則毒淺，若不覺，至蠟滾沸，逐漸添蠟，俟不可忍，沃冷水候凝。瘡勿痛者毒盛，灸未到也，不妨再灸，輕三次，重三四次。忌房事、氣惱、發物。</p>

<h3>灸癬</h3>
<p>日中時，灸病處影上三炷，灸之咒曰：癬中蟲毛戎戎，若欲治待日中。</p>

<h3>又法</h3>
<p>八月八日，日出時，令病人正向東面戶內長跪，平舉兩手，持胸兩邊，取肩頭小垂際骨宛宛中灸之，兩火俱下，各三壯，若七壯十壯愈。</p>

<h3>灸耳聾</h3>
<p>濕土瓜根削半寸，塞耳內，以艾灸七壯，每旬一壯乃愈。</p>

<h3>疝氣偏墜</h3>
<p>淨草一條，量患人口兩角為一，則折斷，如此三，則折成二角，如厶字樣，以一角安臍中心，兩角安臍下兩旁，尖盡處是穴。若患在左灸右，在右灸左，兩邊俱患，兩穴皆灸。艾炷如麥粒大，灸十四壯，或二十一壯即安。又灸兩足三陰交穴尤效。</p>

<h3>灸癰疽</h3>
<p>男左女右，以篾一概根，前齊中指端，後至手腕橫紋凹中，截斷為準。卻以竹一根兩頭擱起，令病人騎之，兩足不著地，挺身正坐，將前篾植於竹上，以正頭植骨脊中盡處，各開一寸，名騎竹馬法。灸七壯，灸畢，宜用乳香、真綠豆粉為末調服之，以防火氣入心。</p>

<h3>胡核灸</h3>
<p>破傷風及瘋犬傷神效。</p>
<p>胡核殼半個填稠人糞滿，仍用槐白皮襯扣傷處，以艾灸之，遍身臭汗，其人大困即愈。遠人者，將傷處如前灸之亦愈。</p>

<h3>雞子灸</h3>
<p>凡毒初起紅腫無頭。</p>
<p>雞子煮熟，對劈去黃，用半個合毒上，以艾灸三壯即散。若紅腫根盤大，以鴨蛋如法灸亦可。</p>

<h3>苦瓠灸</h3>
<p>擇神人不在日，空心，用井花水調百藥煎末一碗服之，微利，卻用秋壺盧，一名若不老，生在架上而苦者，切片置瘡上，灸二七壯。蕭端式病此連年，一灸遂愈。</p>

<h3>桑木灸</h3>
<p>治癰疽發背不起發，或瘀肉不腐潰，及陰瘡瘰癧流注，臁瘡頑瘡惡瘡，久不愈，俱用此灸之。未潰則拔毒止痛，已潰則補接陽氣，亦取其通關節，去風寒，火性暢達，出郁毒之意。干桑木劈成細片，扎作小把，燃火吹息患處，每吹片時，以瘀肉腐動為度，內服補托藥，誠良方也。</p>

<h3>碗灸</h3>
<p>治乳腫。</p>
<p>碗一個，用燈草四根，十排碗內，頭各露寸許，再用紙條一寸五分闊，用水濕了，蓋碗內。燈草下紙與碗口齊，將碗覆患處，留燈草頭在外。艾一大團放碗底，火灸之，艾盡再添，至碗內流水氣，內覺痛止方住。甚者次日再灸一次必消。</p>

<h3>灸目</h3>
<p>正月十六日，用川椒末一二分，入頭垢和為蠶豆大，凹之似窩，置於眼角，別揉熟艾米粒大，納凹中，每眼灸七壯或九壯。如此俟清明日，照前後灸之，連灸三年，則目加精采，至老不昏。</p>

<h3>麻葉灸</h3>
<p>七月七日採麻花，五月五日採麻葉，搗作炷，灸瘡上百壯，次燒胡桃松脂研敷即愈。</p>

<h2>熏法門</h2>

<h3>鵝掌風</h3>
<p>真蘄艾四五兩，將水三四碗，煮五六次，入大口瓶內盛之，用麻布雙層縛瓶口，將手心放瓶上熏之，如藥冷再熏，如神。</p>

<h3>蜈蚣咬</h3>
<p>杉木皮或枝燒煙燻，立刻止痛。比蜘蛛尤妙。</p>

<h3>牛皮癬</h3>
<p>水銀（一錢五分）　芸香（一錢五分）　大棗（七枚）</p>
<p>同搗爛為四丸，每夜熏一丸效。</p>

<h3>口眼歪斜</h3>
<p>巴豆（三粒），麝香（三分），共研，將熱水二盅，藥藏盅底，放手心。右斜放左手心，左斜放右手心。</p>

<h3>久病截瘧</h3>
<p>老薑兩斤搗爛，置於滾水一大桶內，坐布帳中，脫衣坐臥桶上，熏透即愈，第一禁風。</p>

<h3>痘不脫靨</h3>
<p>燒乳香薰之。</p>

<h3>蟲牙</h3>
<p>天仙子一撮入小口瓶內，燒煙竹筒，引煙入蟲孔內熏即死，永不發。又天仙子入瓶內，熱湯淋下，口含瓶口，令氣熏之，冷更作，盡三合乃止，有津涎可去，甚效。</p>

<h3>頭風插耳</h3>
<p>黃蠟三兩熔化，以白紙闊五寸，長二寸，在蠟上拖勻，其蘄艾揉軟薄攤蠟上，卷為筒，插耳內，一頭火點燃，煙氣透腦，其痛即止。左痛插右，右痛插左，至重不過二次。</p>

<h3>喉痹</h3>
<p>蓖麻子研爛，紙卷作筒，燒煙燻吸即通，或取油作捻尤妙，名聖煙筒。喉痹緊急，用此即破。</p>

<h3>喉症開關</h3>
<p>牙皂、巴豆各等分為末，米湯調刷紙上，曬乾，作捻子，點火以煙燻鼻，立能開口，鼻流涕。專治十八種喉閉。</p>

<h3>小兒脫肛</h3>
<p>五倍子。先以倍子、艾絨捲成筒，放便桶內，以瓦盛之，令病者坐桶上，以火點著，使煙燻入肛門，其肛自上。隨將白礬研末搽之，其肛自緊，再不復發。</p>

<h3>霍亂轉筋</h3>
<p>身冷心中下微溫者。</p>
<p>硃砂（二兩研），蠟（二兩），和丸，著於火籠中熏之，周圍厚覆，勿令煙泄，兼床下著火，令腹微暖，良久當汗出而醒。</p>

<h3>疥瘡</h3>
<p>熟蘄艾（三兩）　木鱉子（三錢）　雄黃（二錢）　硫黃（一錢）</p>
<p>為末，揉入艾中，分作四條，每一條安陰陽瓦中，置被裹熏後，服通聖散。</p>

<h3>癱瘓頑風</h3>
<p>骨節疼痛，下元虛冷，諸風痔漏下血，一切風瘡。</p>
<p>川烏頭　草烏頭　兩頭尖（各三錢）　硫黃　麝香　丁香（各一錢）　木鱉子（五個）</p>
<p>上為末，以熟蘄艾揉軟合一處，鈔底包裹熏病處，名雷丸。</p>

<h3>手足風痛</h3>
<p>冷痛如虎咬者。</p>
<p>樟木屑（一斗），流水（一石），煎極滾，泡之。乘熱安足於桶上熏之，以草韉圍住，勿令湯氣入目，其功甚捷。</p>

<h3>拳毛倒睫</h3>
<p>無名異末紙卷作捻，點燈吹殺熏之，睫自起。</p>

<h3>破傷風</h3>
<p>口噤身強。</p>
<p>肉蓯蓉切片曬乾，用一小盞，底上穿穴，燒煙燻患處累效。</p>

<h3>咳嗽熏法</h3>
<p>熏黃（一兩），以蠟紙條卷作筒十枚，燒煙吸菸，取吐止，一曰一熏，惟食白粥，七日後，以羊肉羹補。</p>

<h3>女人病邪</h3>
<p>與邪物交通，自言自語，悲思恍惚者。</p>
<p>雄黃（一兩），松脂（二兩）溶化，以虎爪攪之，丸如彈子大，夜燒籠中，令婦坐其上，以被蒙之，露頭在外，不三劑自斷。仍以雄黃、人參、五味子等分為末，每旦井水服之。</p>

<h3>喉閉</h3>
<p>竹紙滲巴豆令滿，作紙捻點燈旋之，以煙燻喉間，即吐惡血而消。或刺入喉間出紫血亦愈。蓋咽喉病發於六腑者，引手可探，及刺破喉血即已。若發於五臟，則受毒牢深，手法藥力難到，惟用紙捻為第一。</p>

<h3>舌脹出血</h3>
<p>蓖麻取油，蘸紙捻燒煙燻之即腫脹皆消。並治牛馬六畜舌脹。</p>

<h3>手汗</h3>
<p>黃耆（一兩）　葛根（一兩）　荊芥（三錢）</p>
<p>水煎湯一盆，熱熏而溫洗，三次即無汗。</p>

<h3>熏嗽</h3>
<p>治風入肺久嗽者。</p>
<p>鵝管石、雄黃、鬱金、款花為末，和艾用姜一片，置舌上，以藥艾於姜上灸之，取煙入喉中愈。</p>

<h3>青布熏</h3>
<p>惡瘡防水青布和蠟燒煙筒中熏之，入水不爛，瘡傷風水，用青布燒煙於器中，以器口熏瘡，得惡汗出則痛癢瘥。臁瘡潰爛，陳艾五錢，雄黃二錢，青布作大炷點火熏之，水流數次愈。</p>

<h3>支太醫桃葉熏</h3>
<p>水二石，煮桃葉，取七斗，安床簀下，厚被蓋臥床上，乘熱熏之，少時當雨汗，汗遍去湯，速粉之，並灸大椎穴，此法治天行病。</p>

<h2>貼法門</h2>

<h3>痢疾塞肚</h3>
<p>綠豆（七粒）　胡椒（七粒）　麝香（一釐）　膠棗（一枚）</p>
<p>共搗爛，放瓶內，包好。患者取一丸，貼臍上，宜用端午日合。</p>

<h3>小兒赤眼</h3>
<p>黃連為末，水調敷腳心。</p>

<h3>小兒熏舌</h3>
<p>又名雀舌。</p>
<p>巴豆（半粒），飯黏（四五粒），共搗為餅，如黃豆大，貼眉心中間，待四圍起泡，去之即愈。</p>

<h3>收陰症傷寒</h3>
<p>雞子放臍眼內，一時一換，四五換即愈矣。陰氣盡收於內。</p>

<h3>止自汗</h3>
<p>鬱金末，臥時調塗乳上。</p>

<h3>截驚法</h3>
<p>芭蕉油、薄荷汁煎勻，塗頭頂留囟門，塗四肢留手足心勿塗。甚效。</p>

<h3>嬰兒瘧疾</h3>
<p>代赭石（五枚）煅紅醋淬，硃砂五分，砒霜一豆大，同以紙包七重，打濕煨乾，入麝少許，為末，香油調一字，塗鼻上，及眉心四肢神應。</p>

<h3>隔皮取膿</h3>
<p>治諸般腫毒。</p>
<p>驢蹄（細切，一兩，炒）　蕎麥麵（一兩）　白鹽（五錢）　草烏（四錢，去皮）</p>
<p>上為末調作餅子，慢火炙黃，出火毒，研。米醋調成膏，用白紙攤貼患處，毒自毛竅而出，其腫自退。</p>

<h3>痞塊</h3>
<p>紅芥菜子不拘多少，生薑汁浸一宿，大約芥菜子一酒杯，加麝香一錢，阿魏三錢，搗爛如膏，攤布上貼患處，汗巾紮緊，一宵貼過，斷無不消。</p>

<h3>牙齒疼痛</h3>
<p>輕粉（一錢），大蒜（一瓣）杵餅，安膈骨前陷中，先以銅錢隔了用蜆蓋定扎住，一宿愈。左疼安右，右疼安左。又左牙痛敷右大指腕上，右痛敷左。</p>

<h3>截瘧丹</h3>
<p>斑蝥　巴豆肉　硃砂（各一錢）　麝香（二分）　雄黃（一錢半）　蟾酥（五分）　黑棗（三個）</p>
<p>搗丸如綠豆大，貼眉心穴，一周時揭下，投長流水中。</p>

<h3>貼臍截瘧</h3>
<p>胡椒、雄精等分研末，將飯研爛為丸，桐子大，硃砂為衣。將一丸放臍中，外膏藥貼之即止。</p>

<h3>難產仙方</h3>
<p>蓖麻仁取白仁七個，麝香三分，共一處搗如泥，用絹帛包之，勒在臍中，即時產下。如倒生者，用穩婆送進，片時即順下。</p>

<h3>如神丹</h3>
<p>治難產。</p>
<p>巴豆（三粒，去殼）　蓖麻（七粒，去殼）　麝香（少許）</p>
<p>研成一餅貼臍上即產，產下即去之。</p>

<h3>地黃膏</h3>
<p>治眼腫立效。</p>
<p>生地（一兩）　寒水石（五錢）　黃連（一兩）</p>
<p>為末，生地汁調餅，貼太陽上。</p>

<h3>水瀉不止</h3>
<p>木鱉仁（五個）　丁香（五個）　麝香（一分）</p>
<p>上研末，米湯調作膏納臍中貼之，外以膏藥護住。</p>

<h3>痢疾噤口</h3>
<p>木鱉仁（六個，研泥分作二分用）　面燒餅（一個，切作兩半，只用半餅，作一竅納藥在內）</p>
<p>上以餅乘熱覆在病人臍上，一時再換半個熱餅，其痢即止，遂思飲食。</p>

<h3>小兒口內流涎</h3>
<p>天南一個為末，醋調兩足心，過夜即安然，洗去。</p>

<h3>牙痛</h3>
<p>蘿蔔子十四粒研末，以人乳和之，左痛點右鼻，右痛點左鼻。</p>

<h2>蒸法門</h2>

<h3>癘風</h3>
<p>先將元參、苦參、沙參、荊芥、防風、厚朴、白芷、陳皮、蔓荊子、威靈仙、麻黃各一兩，桃枝、柳枝煎湯洗之。換一身新單青布衣，掘一地坑深尺許，方廣約可臥身者，用慄炭四五十斤燒坑內極熱，潑滾醋數十碗，次去炭，鋪草韉於內，令病者臥於薦上，厚被蓋取汗，汗出一瞬起，別換衣進飲食，後用五爪藤煎湯，重洗數次自愈。服敗毒丸藥。</p>

<h3>骨蒸發熱</h3>
<p>雄黃一兩入小便一升研如粉，乃取黃理石一枚，方圓一尺者，炭火燒之，三食頃，濃汁淋於石上，置韉氈於上，患人脫衣坐之，衣被圍住，勿令泄氣，三五度瘥。</p>

<h3>腳氣腫痛</h3>
<p>樟腦（二兩）　烏頭（三兩）</p>
<p>上為末，醋和丸彈子大，每置於足心踏之，下以微火烘之，衣被圍蓋，汗出如涎為效。</p>

<h3>風濕痰病</h3>
<p>人坐密室中，左用滾水一盆，右用炭火一盆，前置一書桌，書一冊，先將無油新巴豆四十九粒，研如泥，紙壓去油，分作三餅。如病在左，令病人將右手仰置書上，安藥於掌心上，以碗安藥上，傾熱水碗內，水涼即換，良久汗出立效。病右安左，一云隨左右安之。</p>

<h3>珊瑚蒸</h3>
<p>治中風不語，脈沉口噤。</p>
<p>黃耆　防風　共煎湯數斛，置床下蒸，藥入腠理周時可瘥。</p>

<h3>千金神草方</h3>
<p>治風濕癱瘓，手足不仁，半身不遂，周身麻木或痠痛，口眼歪斜，並皆神效。</p>
<p>蓖麻子草，秋夏用葉，春冬用子俱得。一二十斤木甑內，置一大鍋上蒸熟，取起，先將綿布數尺雙摺，浸入蒸葉子湯內，取出，乘熱敷患處，卻將前葉子熱鋪布上一層，候溫再換熱葉子一層。如此蒸換，必以患者汗出為度。重者蒸五次，輕者蒸二次，其病自愈。內以疏通活血之劑服之。</p>

<h3>阮河南桃葉蒸</h3>
<p>治發汗汗不出，用此蒸之可救。</p>
<p>燒地令熱，去火，以水少灑之，布干桃葉於上，厚二三寸，安席葉上臥，溫覆得大汗，被中敷粉極燥便瘥。凡柏葉、麥麩、蠶沙皆可如此用之。</p>

<h3>蠶砂蒸</h3>
<p>治患風冷氣痹及癱瘓，蓋蠶屬火性，燥能勝風去濕。</p>
<p>醇酒三升拌原蠶沙五斗，甑蒸於暖室中，鋪油單上，令患者就患處一邊臥沙上，厚蓋取汗，若虛人須防大熱昏悶，令露頂面一次。不愈間日再蒸，無不效。</p>

<h3>蒸腳氣</h3>
<p>服藥不效者。</p>
<p>於地上掘作盆子，深六七寸，可容腳，用炭火燒赤，然後噴釅醋，遍地鋪淨蔥不去皮根。在小床坐定，用腳伸地盆內，蒸候汗出如膠拭去。忌房事，不兩次必愈，神效。</p>

<h3>荊葉蒸</h3>
<p>治腳風濕痛不止。</p>
<p>荊葉不限多少，置大甕中，其下著火溫之，病人置葉中，須臾當汗出，蒸時旋旋吃飯，稍倦即止，便以被蓋，避風。仍進蔥豉酒及豆酒亦可，以瘥為度。按此法止宜施之野人。李仲南永賴方云：治腳氣諸病，用荊莖置壇中，燒煙燻湧泉穴及痛處，使汗出即愈。此法貴賤皆可用。</p>

<h2>洗法門</h2>

<h3>小兒咳嗽</h3>
<p>生薑四兩，煎濃湯沐浴即愈。</p>

<h3>洗頭明目</h3>
<p>鳳眼草，即椿樹上叢生莢也。燒灰淋水洗頭，經一年，眼如童子。加椿皮炭尤佳。正月七日，二月三日，九月二十日，十月二十三日，十一月二十九日，十二月十四日洗之。</p>

<h3>洗癩頭</h3>
<p>蝸牛數十條洗之，二次必愈。水三碗，煎蝸牛三十條足矣。</p>

<h3>洗癰疽</h3>
<p>腫時用紫葛、天蕎麥、忍冬藤、金絲草各等分，煎湯洗。潰時白芷、甘草、羌活、黃芩、露蜂房、赤芍藥、當歸頭，先將豬前蹄一隻煮汁去油花，取清汁煎藥，去渣溫洗，以絹拭之。</p>

<h3>洗凍瘃</h3>
<p>黃柏、皮硝各等分研細末，已破者柏七硝三，未破者紅腫柏硝各半，初起者硝七柏三，皆用冷水調擦。俟干，以熱水洗去，再搽，再幹再搽，如此三遍，一日停痛，三日全愈，此神方也。</p>

<h3>五枝浴</h3>
<p>治大風年深不愈，面毛脫，鼻梁崩損不愈，取效如神。</p>
<p>柳、桃、桑、槐、楮五般枝煎濃湯，大缸浸坐沒頸，一日，俟湯如油，出浴安矣。</p>

<h3>楊枝浴</h3>
<p>治痘瘡數日陷頂，漿滯不行，或風寒所阻。</p>
<p>水楊枝葉，（無葉用枝，五斤。）流水一大釜，煎湯溫浴之，如冷添湯。良久，照見累起有暈絲者，漿行也。如不滿，再浴。力弱者只洗頭面手足，如屢浴不起者，氣血敗矣，不可再浴。始出即癢塌者，皆不可浴。痘不行，乃氣血所滯澀，腠理固密，或風寒外阻而然。浴令暖氣透達，和暢鬱蒸，氣血通徹，每隨暖氣而發，行漿貫滿，功非淺也。若內服助氣血藥，藉此而升之，其效更速，風寒亦不得而阻之矣。</p>

<h3>洗青盲</h3>
<p>昔武勝軍宋仲孚患此二十年，用此法二年，目明如故。青桑葉新研焙乾，逐月按日就地燒存性，每以合子磁器內煎減二分，傾出澄清，溫熱洗目，至百度，屢試有驗。正月初八日，二月初八日，三月初六日，四月初四日，五月初六日，六月初二日，七月初七日，八月二十九日，九月十二日，十月十三日，十一月初二日，十二月二十日。</p>

<h2>熨法門</h2>

<h3>痞積</h3>
<p>艾綿四兩，捏如患大，川椒四兩，拌艾中，粗草紙包安痞積上，以湯壺熨，內有響聲即消。</p>

<h3>皮熨</h3>
<p>治氣痛之病，忽有一處如打撲之狀，不可忍，走注不定，靜時其處冷如霜雪，此皆暴寒傷之也。白酒煮楊柳白皮熨之，有赤點處，鑱去血妙，凡諸卒痛，熨之皆止。</p>

<h2>吸法門</h2>

<h3>還魂丹</h3>
<p>治急慢驚風吹鼻。</p>
<p>二寸蜈蚣，一分麝香，四兩白芷、天麻，更加二錢黃花子，死在陰司要返家。共為末，吹鼻即蘇。</p>

<h3>青火金針</h3>
<p>治頭風。</p>
<p>火硝（一兩）　青黛　川芎　薄荷（各一錢）</p>
<p>為末口含，冷水用此吹鼻。</p>

<h3>傷寒咳逆</h3>
<p>服藥無效。</p>
<p>雄黃（三錢），酒一盞，煎七分，乘熱嗅其氣即止。</p>

<h3>水腫上氣</h3>
<p>熏黃（一兩）　款冬花（二分）　熟艾（一分）</p>
<p>以蠟紙鋪艾，灑二末於上，狄管成筒，燒煨，咽三十口則瘥。三日一劑，百日斷鹽醋。</p>

<h3>燒香治癆</h3>
<p>元參（一斤）　甘松（六兩）</p>
<p>上二味為末，以蜜一斤和勻，入瓶中，封閉地中，埋窨十日，取出，更用灰末六兩，蜜六兩，同入瓶更窨五日，取出燒之，常令聞香自愈。</p>

<h3>冬月喉痹</h3>
<p>腫痛不可下藥者。</p>
<p>蛇床子燒煙於瓶中，口含瓶嘴吸菸，其痰自出。</p>

<h3>一切咳嗽</h3>
<p>不問久近，晝夜無時。</p>
<p>佛耳草（五十文）　款冬花（二百文）　熟地黃（二兩）</p>
<p>上焙研末，每用二錢，於爐中燒之，以筒吸菸，嚥下有涎吐出，兩服愈。</p>

<h3>碧雲散</h3>
<p>治目赤腫脹，羞明昏暗，隱澀疼痛，眵淚風癢，鼻塞頭痛，外翳扳睛諸症。</p>
<p>鵝不食草（曬乾二錢）　青黛　川芎（各一錢）</p>
<p>上為細末，噙水一口，每以米汁搐入鼻中，淚出為度。</p>

<h3>頭風苦痛</h3>
<p>大蒜頭七個去皮，燒紅地，以蒜逐個於地上磨成膏子，卻以殭蠶一兩去頭足，安蒜上，碗覆一夜，勿令透氣，只取蠶研末搐入鼻內，口中含水更效。</p>

<h3>石南葉散</h3>
<p>小兒誤跌或打著頭腦受驚，肝系受風，致瞳人不正，觀東見西，觀西見東。</p>
<p>石南（一兩）　藜蘆（三分）　瓜丁（五七個）</p>
<p>上為末每吹少許入鼻，一日三度，內服平肝藥或加牛黃。</p>

<h3>單蛾</h3>
<p>薑黃（一片），紅棗（去核二枚），巴豆（三粒），同搗如泥，用口津調和，分作二丸，用絹包好線扎，男左女右，一握手，一塞鼻，蓋被出汗即愈。此藥治三人，如干用吐津拌勻，包紮，如法治之。倒睫拳毛，因風入脾經，致使風癢，不住手擦目，久則赤爛，拳毛入內，木鱉仁捶爛，以絲包作條，左患塞右鼻，右患塞左鼻，其毛自分上下，再服蟬蛻藥自愈。</p>

<h2>雜法門</h2>

<h3>痔瘡坐袋</h3>
<p>乳香　沒藥　龍骨　赤石脂　海螵蛸　輕粉　木鱉（各三錢）</p>
<p>上共為末，以絹盛之，每日坐，不必洗。坐二十一日，無不愈。</p>

<h3>濕瘡踏袋</h3>
<p>治寒濕瘡並腳氣。</p>
<p>川椒一斤，盛粗布袋中，放火踏上，下用火烘，跣足踏其上。蓋椒性熱而散，加以火氣上逼，寒濕自去而愈，甚妙。</p>

<h3>釣骨丸</h3>
<p>栗子肉上皮半兩為末，鮎魚肝一個，乳香二錢五分，同搗為丸，桐子大。看骨哽遠近，以線系綿裹一丸，水潤吞之，提線釣出也。</p>

<h3>黃疸取黃</h3>
<p>扛連紙一張，裁為四條，筆管卷如炮竹，或口上糊黏固，外用黃蠟一兩，鐵杓將紙筒四圍澆勻，不可使蠟入內，患人仰臥，筒套臍上，外以面作圈，護定勿倒，頭上點火燒至面所剪斷，另換新筒。看臍中有黃水如雞子餅者取出，輕者四五根，重者六七根，取盡黃為度。</p>

<h3>香櫞包法</h3>
<p>治頭風。</p>
<p>香櫞不拘新舊一枚，切開，鴨蛋一枚，煮熟切兩半，開入香櫞內，每邊包在太陽上，得熱即愈。</p>

<h3>耳鳴塞耳</h3>
<p>烏頭燒灰，石菖蒲等分為末，綿裹塞之，日再塞為效。</p>

<h3>產婦衄血</h3>
<p>口鼻起黑氣，名胃肺敗。</p>
<p>紅絲線一條，本婦頂心發二根，紮緊中指節效。</p>

<h3>消毒燈照</h3>
<p>一切癰疽發背，無名腫毒，及對口諸瘡，已潰未潰，無不神效。</p>
<p>一二十年舊船底上石灰，生青桐油調，將光青布照瘡大小攤貼，又用青布作捻，蘸桐油點火，在瘡上打碎，覺癢受打，不論條數，灰干換貼，再打，知痛為度，紅退毒消神效。</p>

<h3>掌中取積</h3>
<p>甘遂　巴豆　乾薑　韭子　檳榔（各等分）</p>
<p>上為細末，收米飯為丸，如彈子大。用時早晨花椒湯淨手將香塗掌中，次將藥擦，一時便瀉欲止，以冷水淨手即止。大小胸中有積皆治。</p>

<h3>神燈照法</h3>
<p>川椒　艾葉　紅棗　芫荽　茵陳　乳香　白芷梢　陳香櫞　安息香</p>
<p>上共為末，作紙捻熏照。</p>

<h3>縮贅瘤</h3>
<p>甘草煎膏，筆妝之，四圍上三次，乃用芫花、大戟、甘遂等分為末，醋調，別以筆妝其中，勿近甘草，次日縮小。又以甘草膏妝小暈三次，如前，仍上此藥，自然焦縮。</p>

<h3>教醫官釣骨法</h3>
<p>鹽麩子根搗爛，入鹽少許，綿裹以線系定，吞之，牽引上下，便釣出也。</p>

<h3>提金散</h3>
<p>大便閉塞，服藥不通者。</p>
<p>滄鹽三錢，屋檐爛草節七個，為末，每用一錢，竹筒吸入肛內一寸即通。</p>

<h3>膨脹取水</h3>
<p>真輕粉（二兩）　巴豆（四兩）　生硫黃（一錢）　加麝更妙，同研成餅，先以白帛一片鋪臍上，以藥餅放外上，用綿綁住，約人行五六里，自能瀉下黃水，待至二五度，除去藥，溫粥補之。久患隔日取，日一餅，可治二三十人。病愈後，忌飲涼水。</p>

<h3>黃疸取水</h3>
<p>大鯽魚（一個，為背者連目鱗骨俱搗爛）</p>
<p>上加麝香三分，同魚熟，搗成餅，再加麝香二分，入居餅中間，貼在臍上，將荷葉二三層貼餅上，用布縛，不及周時出黃水即消，永不再發。</p>

<h3>劫腫法</h3>
<p>治水腫及腫核腫毒。</p>
<p>凡水腫脹藥未全消者，甘遂末塗腹，繞臍令滿，內服甘草水，其腫漸去。若腳氣上攻，結成腫核，及一切腫毒，用甘草、甘遂末水調敷腫處，即濃煎甘草汁服，其腫即散。</p>

<h3>頭痛</h3>
<p>生蘿蔔取自然汁，入生龍腦調勻，昂頭使人滴鼻孔，左痛灌右，右痛灌左，俱痛並灌之，其效如神。</p>

<h3>又法</h3>
<p>蓖麻子一粒搗碎，同棗肉、蔥須共搗勻，丸如黃豆大，外用絲綿裹之，納鼻孔，少頃必有清涕流出，即將丸藥取出，其痛即愈，永不再發。</p>

<h3>引火法</h3>
<p>人病厥逆之症，不敢用藥，以此治之。吳茱萸一兩為末，以面半兩，水調成糊，以布攤成膏，貼湧泉穴內，則手足不逆矣。</p>

<h3>又法</h3>
<p>附子一個為末，米醋調成膏，貼湧泉穴上，然後用六味湯大劑與之，火不再發。</p>

<h3>衄血</h3>
<p>左鼻孔出血者，以色絲扎右手中指根。右孔出血，扎左手中指根。俱出者扎二指根。</p>

<h3>溫劑種子</h3>
<p>五靈脂　白芷　青鹽（各二錢）　麝香（一分）</p>
<p>上為末，以蕎麥湯和搓成條，圈於臍上，以藥入其中，用艾灸之，但臍內微溫即愈，不過二三度。</p>

<h1>卷三</h1>

<h2>偽品門</h2>

<h3>假冰片</h3>
<p>真片腦形如冰雪，如假造者其性亦寒，用之頗與同功，往往欺人，亦得高價。用新磚一枚，納於廁中，一二月取出，用新汲水洗十分淨，於室中陰處，下用新磚閣，上用新磚蓋之，待霜出冰雪收之，如此數次，霜盡而止，用磁罐與潮腦同包，取其香氣，智者辨之。</p>

<h3>樟冰</h3>
<p>樟腦不拘多少研細，同篩過，壁土拌勻，攤碗內，以薄荷汁灑土上，又以一碗合定，濕紙條固縫蒸之，少時，樟腦飛上碗底，即成冰片腦子。</p>

<h3>又</h3>
<p>用銅盆以陳壁為粉糝之，卻糝樟腦一重，又糝壁土，如此五重，以薄荷安土上，再用一盆覆之，黃泥封固於火上，款款炙之，須以意度之，不可太過不及，勿令走氣，候冷取出，則腦升於上盆，如此三次，可充冰片也。</p>

<h3>又</h3>
<p>樟腦每一兩，用黃連、薄荷六錢，白芷、細辛四錢，荊芥、密蒙花二錢，當歸、槐花一錢，以新土碗鋪冰片於底，安藥在上，入水半盞，灑腦於上，再以一碗合之，餬口安火煨之，待水乾取開，其腦自升於上，以翎掃上，形似松脂，可入風熱眼藥，人亦多以此亂片腦，不可不辨。</p>

<h3>假雄黃</h3>
<p>荷葉灰、頭髮灰、桑木灰、石灰各等分，以上好石黃放灰內微煮，數日取出，透明即成雄黃。</p>

<h3>假膽礬</h3>
<p>漆綠半斤，以蓖麻葉一斗許搗汁，淨豬膽四個，河水一大碗同煮，將干，入硇砂一錢五分，攪勻至干為度。每七兩用淨盆硝一斤，一處以有嘴砂銚熔開攪勻，用明礬研碎入豬膽中，陰乾取出，如色欠綠，再換新膽，如上法，或牛膽。</p>

<h3>又</h3>
<p>朴硝入牛膽中陰乾，隔年後，取其色與膽礬同，其礬亦相去不遠也。</p>

<h3>假胡椒</h3>
<p>用豌豆以蓼子、草烏、生薑三味切碎搗爛取汁，浸豆蒸軟，如此三度，換新汁浸此。用石灰末，以文武火炒豆，皮縐為度，其味如真。</p>

<h3>假乳香</h3>
<p>擇有癭松樹鋸開癭，就上鑿一孔，以糯米一升作飯，鹽一斤拌勻，再杵成糍入孔中，卻以原鋸鋸下癭封之，鹽泥固濟，百有二十日足，取出，即成乳香矣。</p>

<h3>假象皮膏</h3>
<p>治撲打及金刃傷血出不止者，用之並收口如神。</p>
<p>蠶豆炒去殼，取豆搗細和勻，蠟熔為膏，攤貼如神。</p>

<h2>法制門</h2>

<h3>法制青皮</h3>
<p>醒酒益胃消食如神。</p>
<p>青橘皮（一斤，浸去苦味瓤揀淨）　白鹽花（五兩）　炙甘草（六兩）　茴香（四兩）</p>
<p>上以甜水一斗煮之，不住攪，勿令著底，候水盡，慢火焙乾，勿令焦，去甘、茴，只取青皮密收用。</p>

<h3>烏龍膽</h3>
<p>治一切喉症喉蛾喉癰。</p>
<p>明礬末盛豬膽中，風乾研末，每吹一錢，取涎立效。</p>

<h3>白豆蔻</h3>
<p>白豆蔻（一斤）　檀香（五錢）</p>
<p>上為細末，甘草膏為衣，不拘時細嚼，內再加片腦一錢，亦為末共研。</p>

<h3>法制橘紅</h3>
<p>橘紅（十二兩）　檀香（五錢）　白豆蔻（五錢）　片腦（一錢）</p>
<p>上為細末，甘草為衣，不拘時細嚼。</p>

<h3>法制檳榔</h3>
<p>檳榔（一斤）　檀香（五錢）　白豆蔻（五錢）　木香（三錢）</p>
<p>上為細末，同甘草膏為衣，不拘時細嚼。</p>

<h3>法制芽茶</h3>
<p>清熱化痰，消食止渴。</p>
<p>芽茶（一斤）　檀香（五錢）　白豆蔻（五錢）　片腦（一錢）</p>
<p>上為細末，同甘草膏為衣，不拘時細嚼。</p>

<h3>香茶</h3>
<p>芽茶（二兩）　麝香（一分）　硼砂（五分）　兒茶末（一兩）　訶子肉（二錢五分）</p>
<p>上共研末，甘草湯為丸為片任意，並治痰火症，及口臭口乾生瘡皆驗。</p>

<h3>又</h3>
<p>孩兒茶　木樨花（各一兩，曬乾焙研）　薄荷葉（曬研，一兩）　硼砂（去腳，五錢）</p>
<p>上為末，用甘草膏和藥，作小片噙咽。</p>

<h3>法制枳實</h3>
<p>治消脹滿逆氣，除胸脅痰癖。</p>
<p>枳實（一斤）　檀香（五錢）　片腦（一錢）</p>
<p>上為末，同甘草膏為衣，隨時細嚼。</p>

<h3>法制人參</h3>
<p>補益元氣，輕身延年。</p>
<p>人參　檀香　白豆蔻　片腦</p>
<p>上為末，甘草膏為衣，不拘時細嚼。</p>

<h3>法制桃仁</h3>
<p>闢瘴癘，山居尤宜服之。</p>
<p>桃仁（一斤）　吳茱萸　青鹽（各四兩）</p>
<p>上共炒熟，以新瓶密封，七日取出，揀去茱鹽，將桃仁去皮尖，每嚼一二十枚。</p>

<h3>造櫻珠</h3>
<p>好南參不拘多少，碾為細末，以胡桃仁、松子同研和勻，煉蜜丸如櫻子大，每粒辰砂為衣，取紅色二顆沸湯點服。</p>

<h3>三奇曲</h3>
<p>白麵（十斤）　蒼耳草（自然汁，三升）　野蓼（自然汁，四升）　青蒿（自然汁，三升）　杏仁（四升，去皮尖）　赤小豆（三升，煮爛連汁研）</p>
<p>三伏內，上寅日，將藥汁拌麵如造麴法，曬乾收用。甲寅、戊寅、庚寅乃三奇日也，此日修合，故名三奇神麯，大有神效。</p>

<h2>藥品門</h2>

<h3>靈砂</h3>
<p>用新鍋安逍遙爐火，蜜揩鍋底，文武火下燒，入硫黃二兩熔化，投水銀半斤，以鐵匙急攪，作青砂。頭如有焰起，噴醋解之。待永不見星，取出細研，盛入水火鼎內，鹽泥固濟，下以自然火升之干，水十二盞為度，取出如有針紋者成矣。</p>

<h3>紫雪</h3>
<p>療傷寒溫瘧一切積熱，狂易叫走，瘴疫毒癘卒死，腳氣，五屍五疰，心腹諸痰疴刺切痛，解諸熱邪毒熱發黃，蠱毒，鬼魅野熱毒，及小兒驚癇。</p>
<p>黃金（一錢）　石膏　寒水石　磁石（各三斤，搗碎）</p>
<p>上以水一斛，煮四斗，去渣，入犀角屑、羚羊角、青木香、沉香各五兩，甘草炒一兩，丁香一兩，入前汁中，煮取一斗五升，去渣入煉樸一斤，消石二斤於藥汁中，微火煎之，柳木不住攪，至水氣欲盡，傾木盆中，待欲凝，入麝香一兩二錢五分，硃砂二兩，攪勻收之。每服一二錢，潦水服，臨時加減，甚者一兩。</p>

<h3>紅雪</h3>
<p>治風熱，消宿食，解酒毒，開三焦，利五臟，除熱破積滯，治傷寒狂躁，胃爛發斑，濕瘴腳氣，黃疸，頭痛目昏，口鼻瘡，喉痹，重舌，腸癰等症。</p>
<p>川朴硝（十斤，去渣）　羚羊角屑　黃芩　升麻（各三兩）　人參　赤芍　檳榔　枳殼（麩炒）　生甘草　淡竹葉　木香（各二兩）　木通　梔子　葛根　桑皮　大青　藍葉（各一兩五錢）　蘇枋木（六兩）</p>
<p>並銼片，水二斗五升，煎九升，去渣濾過，煎沸，下硝不住手攪，待水氣將盡，傾入器內，欲凝下硃砂一兩，麝香五錢，經宿成雪。每服一二錢，新汲水下，欲速行則熱湯化服一兩。</p>

<h3>碧雪</h3>
<p>治一切積熱，天行時病，發狂昏憒，或咽喉腫塞，口舌生瘡，心煩，大小便不通，胃火諸病。</p>
<p>朴硝　芒硝　牙硝　硝石　石膏（水飛）　寒水石　水飛石（各一斤）</p>
<p>以甘草一斤，煎水五升，諸藥同煎，不住手攪，令消溶得所，入青黛一斤和勻，傾盆內，經宿結成雪。為末，每含咽或吹之，或水調服二三錢。欲通利，熱水服一兩。</p>

<h3>消石</h3>
<p>石脾　芒硝　朴硝（各一斤）</p>
<p>上為末，以苦參水二斗，銅鐺煎十沸，入三物，煮減半去渣，煎著器中，冷水漬一夜，即成消石，可化諸石為水。</p>

<h3>石脾</h3>
<p>白礬　戎鹽（各一斤）</p>
<p>上為末，以苦參水一斗，鐺中煮五沸，下二物，煎減半去滓，熬干，白如雪。</p>

<h3>礬石</h3>
<p>新桑合槃子一具，於密室掃淨，以燒地令熱，灑水於上，或灑苦酒於上而布白礬於地上，以槃覆之，四面以灰擁，一日夜，其石精皆飛於槃上，掃取收上，未盡者更如前法，數遍乃止，可作飲食。</p>

<h3>飛黃</h3>
<p>治緩疽惡瘡蝕惡肉。</p>
<p>瓦盆一個，安雌黃於中，丹砂居南，磁石居北，曾青居東，白石英居西，礬居上，石膏次之，鍾乳居下，雄黃覆之，雲母布於下，各二兩，為末，以一盆蓋之，羊毛泥固濟。作三隅灶，以陳葦燒一日，取其飛黃用之。</p>

<h3>土黃</h3>
<p>信石（一兩）　硇砂（二錢）　木鱉子肉　巴豆肉（各五錢）</p>
<p>上以信石、硇砂研末，以木鱉、巴豆搗成膏，入石腦油和作一塊，油紙數重包裹，埋於土坑內，四十九日取出，磁器收貯待用。如無石腦油亦可。</p>

<h3>元霜</h3>
<p>治痰火神水。</p>
<p>黑鉛（一斤）烊一薄餅中穿一孔，以繩系之，將好米醋約寸許甕口，用皮紙箬於紮緊，再以磚石壓之，勿泄氣，放屋下陰處，待數日取起，鉛餅上有白霜拭下，每鉛一斤，取霜二兩為止。治噎膈每服五分，噙口內，以白湯送下。治痰火咳嗽，每服三分，照前法服。</p>

<h3>取綠豆油</h3>
<p>治天疱瘡。</p>
<p>綠豆裝入粗瓦瓶內，以毛竹箸一把塞緊瓶口，再用瓦盆一個，底下鑿一孔，將瓶倒插於盆孔內，用礱糠炭屑燒之，其油即在箸頭滴出，以碗收之，俟出火毒，用油抹點瘡上，二三次愈。</p>

<h3>油胭脂</h3>
<p>治手足開裂。</p>
<p>生豬油去筋膜一兩，入鍋熬淨，再入黃佔五錢，白佔三錢同化清，入銀硃、黃丹各五分，攪勻，以軟能攤開為妙，敷之愈。</p>

<h3>雲母粉</h3>
<p>治百病。</p>
<p>雲母一斤拆開揉入火瓶築實，上澆水銀一兩封固，以十斤頂火煅赤，取出，卻拌香蔥紫連翹二件，令搗如泥，後以尖絹袋盛於大水盆內，搖取粉余渣，未盡再添藥草，重搗取粉，以水盤一面於灰上，印一淺坑，鋪紙傾粉在內，候乾焙之，以麵糊丸梧子大，遇有病者，無不效。</p>

<h3>耿砂汞</h3>
<p>磁瓶盛硃砂不計多少，以紙封口，香湯煮一伏時，取入水火鼎內，炭塞口鐵盤蓋定，鑿地一孔，放碗一個盛水，連盤覆鼎於碗上，鹽泥固縫周圍，加火煅之，待冷取出，汞自流入碗矣。</p>

<h3>造海石</h3>
<p>苦瓜蔞去皮搗碎連汁，用煅過黃口蛤蜊粉拌勻，作餅曬乾，入藥用。有等庸醫以海浮石作海石，誤矣。此藥最能去痰。</p>

<h3>取草汞</h3>
<p>細葉馬齒莧干之十斤得，水銀八兩或十兩，先以槐木捶之，向東作架曬之，二三日即干如經年。久燒存性，盛瓦甕內封口埋土坑中，四十九日取出，自成矣。</p>

<h3>鼻菸</h3>
<p>香白芷（二分）　細辛（八分）　豬牙皂角（各二分，以上焙乾研）　薄荷（二分，研）　冰片（三釐）　干菸絲（一錢，為君干菸絲必配福建煙六七分許）</p>
<p>上各為末，酌量配合，不拘分量，色如棕者佳。</p>

<h3>雞子雄黃</h3>
<p>雄黃一斤研細，取新生雞子黃白和之，置銅銚中，以蓋覆之，封固勿令出氣，微火蓋上，容得手，不用太熱，三日夜，勿令火絕。寒乃起之，掠去上柦，清者在下，當湧湧如水銀。寒則堅，得人氣復軟，煉一片得十兩，盛以竹筒，勿使見風，服丸如麻子大，使人肌膚潤澤，冬則能溫，夏則能涼，闢除寒氣。</p>

<h3>水銀霜</h3>
<p>水銀十兩，硫黃十兩，各以一鐺熬之，銀熟黃消，急傾為一鐺，少緩即不相入，仍急攪之。良久，硫成灰，銀不見，乃下伏龍肝末十兩，鹽末一兩攪之，別以鹽末鋪鐺底一分，入藥在內，又以鹽末蓋面一分，以瓦盆覆之，鹽土和泥塗縫，炭火煅一伏時，先文後武，開盆拭下，凡一轉後舊土為四分，以一分和霜入鹽末二兩，如前法飛之，又以土一分鹽末二兩和飛如前，凡四轉。土盡，更用新土，如此七轉，乃成霜用之。（按：水銀霜即粉霜，本以汞粉轉升而成，故名。此乃崔氏法，後人罕知者。）</p>

<h3>大玉容丹</h3>
<p>去雀斑痱瘰如神，敷面如玉。</p>
<p>白殭蠶（三錢）　白丁香（一錢五分）　白附子（三錢）　白芷（三錢）　山柰（三錢）　滑石（五錢）　硼砂（三錢）　白荷花瓣（三錢）　密陀僧（三錢）　白茉莉子（研粉，三錢）　綠豆粉（二兩）　白冬瓜子（三錢，曬研）　白蜜（一兩五錢）　為丸。</p>

<h3>石菖蒲酒</h3>
<p>治三十六種瘋悉效。</p>
<p>菖蒲（三斤）薄切，日內曬乾，以絹囊盛之，好酒一罈，懸囊在內，封閉一百日，取視之，如綠菜色，以一升熟黍米納中，十四日開出飲酒。</p>

<h3>代茶湯</h3>
<p>夏月服之代茶，健脾止渴。</p>
<p>白朮（一錢五分）　麥冬（去心，一錢）　煎作湯服。</p>

<h3>少陽丹</h3>
<p>蒼朮乃天之精也，用米泔水浸半日，刮去黑粗皮，曬乾搗碎，羅為細末一斤。地骨皮乃地之精也，新掘者，以溫水洗淨，用槌打扁去心，止取嫩皮曬乾，搗碎羅為細末一斤。桑椹乃人之精也，用黑熟者二十斤，入瓷盆內，以手搓揉揣爛，入絹袋內，壓汁去渣，將前二味投入椹汁內，調為稀糊，傾入瓷罐內，封口置淨棚上，晝採日精，夜採月精，專待日月自然火煎乾為度，搗羅為細末，煉蜜丸赤小豆大，每服十丸，無灰酒下，日進一二服，三年發白返黑，面如童子。蓋此藥總合恐陰雨損壞，必須旋合旋曬，一二日就干，採日月精華四十九日，從新為末，如法丸用。縱使總合，亦須用十數大盤分開曬一二日就干，免致雨壞。</p>

<h3>固齒延壽膏</h3>
<p>齒槁黃黑腐敗，風蟲作痛，腮頰紅腫，大有奇功。久貼堅固牙齒，驅逐垢膩，益腎氣，長養精液，壯骨強髓添精倍力。</p>
<p>珍珠（五錢。絹袋盛之，豆腐一方，中作一小孔，將珠入孔內，以原豆腐蓋之，放鍋內，用綿懸鍋上，不可落底，桑柴火煮一炷香為度，聽用）　雄鼠骨（五錢，臘月內雄鼠一隻，以面作餅，將鼠皮肉包裹在內，外用鹽泥復包陰乾，火燒紅為度，冷定打破，取骨收之，聽用）　大小皂角（五分）　細辛（三分，水洗曬乾）　青鹽（三錢五分）　香白芷（五分）　秋石（三錢，破故紙炒香，淨五分，忌鐵器）　龍骨（麵裹，外以鹽泥復包陰乾，放入火燒紅，冷定取骨用，五錢）　鹿角霜（制，五錢）　沉香　廣木香（各二錢半）南川芎　乳香　沒藥　白芷　歸身（各一錢）　懷慶熟地（煮，二錢）　陽起石　象牙末　白蠟（各五錢）</p>
<p>上各研細末，俱作二分，用蜜煎罐一個，先將白蠟化開，次後下一分藥面，桑柴文火溶開蠟，將藥攪勻，外用呈文紙二張，將前藥一分散在紙上，用手擦磨藥面在紙上下周圍後，將罐內藥化開，攪勻，傾在紙上，用熨斗文火熨化，上下周圍，俱用藥汁走到，切條，臨臥貼在牙上，一夜，明日清晨，將藥條取出，其條就黑，牙齒堅固。</p>

<h3>齒藥</h3>
<p>此方出西域蓮花峰神傳仙方，向有碑刻，今已斷碎無存。</p>
<p>歌曰：豬牙皂角及生薑，西國升麻熟地黃，木津旱蓮楒角子，細辛荷葉（剪荷花葉心子用）要相當。上以青鹽等分同，燒煅研細使最良，揩齒固牙須鬢黑，誰知世上有仙方。</p>

<h3>屠蘇酒</h3>
<p>赤木桂心（七錢五分）　防風（一兩）　菝葜（五錢）　蜀椒　桔梗　大黃（各五錢五分）　烏頭（二錢五分）　赤小豆（十四枚）</p>
<p>上以三角絳囊盛之，除夜懸井底，元旦取出，置酒中煎數沸，舉家東向，從少至長，次第飲之，藥渣投井中，歲飲此水，一世無病。</p>

<h3>又方</h3>
<p>大黃（一錢六分）　桔梗（去蘆）　川椒（去核，各一錢五分）　白朮　桂心（各一錢八分）　烏頭（去皮尖，一錢）　吳茱萸（一錢二分）　防風（去蘆，一兩）</p>
<p>上為咀片，絳囊盛懸井中或水缸中，除夕制，元旦寅時取出，以無灰酒煎四五沸，取飲，自幼至長。</p>

<h3>造礬華礬精法</h3>
<p>新桑合槃子一具，於密室中掃淨，以火燒地，令熱，灑水於上，或灑苦酒於上，乃布白礬於地上，以槃覆之，四面以灰擁定，一日夜，其石精皆飛於槃上，掃取收上。未盡者，如前法數遍乃止，為礬精。若欲作水，即以掃下礬精一斤，納三年苦酒一斗中漬之，號曰礬華，百日彌佳。若急欲用，七日亦可。</p>

<h2>食品門</h2>

<h3>茶松</h3>
<p>白糖（一斤）　南薄荷末（一兩）　北細辛（三錢）　芽茶末（二兩）　拌勻任用，或加麝香少許。</p>

<h3>醉茯苓</h3>
<p>華山挺子茯苓，削如棗大方塊，安新甕內，好酒浸之，紙封一重，百日乃開，其色當如餳糖，可食一塊。一日至百日，肥體潤澤，一年可夜視物。久之腸化為筋，延年耐老，面若童顏。</p>

<h3>茯苓酥</h3>
<p>白茯苓三十斤，去皮薄切，曝乾蒸之，以湯淋去苦味，淋之不止，其汁當甜，乃曝乾篩末，用酒三石，蜜三升相和，置甕攪之百匝，密封勿泄氣。冬五十日，夏二十五日。酥自浮出酒上，掠去，其味極甘美。作掌大塊，空室中陰乾，色赤如棗，飢時食一枚，酒送之，終日不食，名神仙度世云。</p>

<h3>絡索米</h3>
<p>治脾胃虛弱，不思飲食，食下不化，病似反胃膈噎。</p>
<p>清明日取柳枝一大把，熬湯煮小米作飯，面灑成珠子，曬乾，袋懸風處。每用滾水隨意下米，米沉住火，少時米浮，取看無硬心則熟，可頓食之，久則面散不黏矣。</p>

<h3>香橙湯</h3>
<p>寬中快氣消酒。</p>
<p>橙皮二斤切片，生薑五兩切焙爛，入炙甘草末一兩，檀香末半兩，和勻作小餅，沸湯入鹽送下。</p>

<h3>逡巡酒</h3>
<p>補虛益氣，去一切風痹濕氣，久服益壽耐老，好顏色。</p>
<p>三月三日，收桃花三兩三錢，五月五日收馬蘭花五兩五錢，六月六日收脂麻花六兩六錢，九月九日收黃甘菊花九兩九錢，陰乾，十二月八日取臘水三斗，待春分取桃仁四十九枚，好者，去皮尖，白麵十斤同前花和作曲，紙包四十九日，用時白水一瓶，曲一塊，封良久成矣，如淡再造一丸。</p>

<h3>仙人糧</h3>
<p>治虛勞絕傷，年老衰損，偏枯不遂，風濕不仁，冷痹惡瘡癰疽等症。</p>
<p>《臞仙神隱》云：用干天冬十斤，杏仁一斤，搗末蜜漬，每服方寸匕，補中益氣。</p>

<h3>瓜蔞粉</h3>
<p>治消渴飲水。</p>
<p>大瓜蔞根去皮寸切，水浸五日，逐日易水，取出搗研，濾過澄粉，曬乾，每服方寸匕，水化下，日三服，亦可入粥，及乳酪中食之。</p>

<h3>瓊玉膏</h3>
<p>常服開心益智，發白返黑，齒落更生，辟穀延年，治癰疽癆瘵，咳嗽吐血等症。</p>
<p>生地黃（十六斤，取汁）　人參末（一斤半）　白茯苓末（三斤）　白沙蜜（十斤）</p>
<p>濾淨拌勻，入瓶內，箬封，安砂鍋中，桑柴火煮三日夜，再換蠟紙重封，浸井底一夜，取起再煮一伏時，每以白湯或酒點服一匙。</p>

<h3>糟川芎</h3>
<p>大川芎一個入舊糟內，藏一月，取焙，入細辛同研末擦牙。</p>

<h3>止瘧果</h3>
<p>大荸薺將好燒酒自春浸至秋間，如瘧至不貪飲食，食則脹滿不下者，每日服荸薺兩個，三日愈。</p>

<h3>三仙酒</h3>
<p>治腎虛精冷之症。</p>
<p>燒酒一罈十斤，入龍眼肉一斤，桂花四兩，白糖八兩，將泥封固，愈久愈佳。</p>

<h3>金棗仙方</h3>
<p>治水蠱腫脹。</p>
<p>紅牙大戟（一斤），紅棗（三斤），水煮一日夜，去戟用棗，曬乾食之立消。</p>

<h3>藥梅</h3>
<p>治痢疾。</p>
<p>木香　木通　黃芩　紫蘇　砂仁　薄荷（各一斤）　青梅（十斤）　火酒（十斤）</p>
<p>端午日入瓶內，封固，一月可用，只吃兩個即愈。</p>

<h3>養元散</h3>
<p>粳米一升，水浸一宿，瀝乾燥，慢火炒令極熟，磨細羅如飛面，將蓮肉去心三兩，懷山藥二兩，芡實三兩，碾米入粉內，每日清晨，用一盞，再入白糖二匙，或黃沙糖亦可，用滾水調食，其味甚佳，久服不厭。</p>

<h3>龍液膏</h3>
<p>堅白茯苓，去粗皮，焙乾為末，擇取上好溪流水，浸去筋膜，渣滓淨後，焙乾置磁甕中，和以真蜂蜜，頓調釜中，水煮一日，火用桑柴，水及藥罐之半，不可沒肩，製成空心白滾湯服，煩郁燥渴，一切下部諸疾可除。</p>

<h3>川芎茶</h3>
<p>治大人小兒感冒風寒，頭疼鼻塞，遍身拘急，惡寒發熱等症。</p>
<p>鮮川芎（梗葉切碎如無干者亦可）　生薑（切絲）　陳皮（切絲）　鮮紫蘇（梗葉切碎各等分）　細茶（與藥相對）</p>
<p>五月五日午時拌勻用盒蓋過宿，使氣透，次日取出焙乾，磁瓶收貯，用時以湯泡之，一盅乘熱熏鼻，吸其氣，復乘熱飲之，汗出即愈。</p>

<h3>五香鴨</h3>
<p>治胃口寒痛，手按之而稍止者是。</p>
<p>人參（一兩）　白朮（一兩）　肉桂（一錢）　肥鴨（一隻）</p>
<p>將藥入鴨腹中，煮之極爛，外以五味和之，蔥椒俱不忌，更以腐皮同煮，恣其飽餐食盡，如不能盡，亦聽之不必再食米飯也。一餐而痛如失矣。</p>

<h3>蓮花肚</h3>
<p>治脾寒而痛，痛在心之下左右也。</p>
<p>肚子（一個）　蓮肉（一兩）　紅棗（一兩）　肉桂（一錢）　小茴香（三錢）　白糯米（一合）</p>
<p>未入藥之前，照常將豬肚子洗去穢氣，入藥煮爛，一氣頓食，蘸甜醬醬油食之，如未飽，再用飯壓之而痛如失。肚子入藥之後，必須用麻線將口外紮緊，清水煮之。</p>

<h3>香鰻</h3>
<p>治癆蟲。</p>
<p>肥鰻（二斤）　白薇（一兩）　小茴香（三錢）　甘草（一錢）　苡仁（五錢）　榧子（十個去殼）</p>
<p>同入砂鍋內，用水煮爛，加五味和之，乘肥飽食一頓，以食盡為度，半日不可用茶。凡有癆蟲盡皆死矣。</p>

<h3>藥肺</h3>
<p>治患疾病久不愈者。</p>
<p>豬肺（一個）　蘿蔔子（五錢研碎）　白芥子（一兩研碎）</p>
<p>五味調和，飯鍋蒸熟飯食頓食之，一個即愈。</p>

<h3>長壽粉</h3>
<p>治癆瘵症。</p>
<p>芡實（八兩）　苡仁（八兩）　山藥（三斤）　糯米（一斤）　人參（三兩）　茯苓（三兩）　蓮子（半斤）　白糖</p>
<p>各為末，每日調服一兩，如不欲調服，以水打成丸如元宵服，上下午服最妙。</p>

<h3>九仙王道糕</h3>
<p>養神扶元，健脾胃，進飲食，補虛損，生肌肉，除濕熱。</p>
<p>蓮肉（四兩）　麥芽（炒）　白扁豆（炒）　芡實（各二錢）　山藥（炒）　白茯苓　苡仁（各四兩）　柿霜（一兩）　白糖（二十兩）</p>
<p>上為末，入粳米粉五升蒸糕，曬乾，任意食，米飲下。</p>

<h3>三仙糕</h3>
<p>治內傷脾胃虛弱，飲食不進，主補養元氣。</p>
<p>人參　山藥　白茯苓　蓮肉　芡實（各五兩）　白蜜　砂糖屑（各一斤）　糯米粉（三升）　粳米粉（三升）</p>
<p>上為末，拌勻蒸糕，曬乾，再為末，每取一大匙，白湯調下，日三四次。</p>

<h3>桂漿渴水</h3>
<p>夏月飲之，解煩渴，益氣消痰。</p>
<p>桂末（十九兩）　白蜜（一升）</p>
<p>上以水三斗，煎取一斗，入新磁瓶中，乃下二物，打二三百轉。先以油紙一重，加二重封之，每日去紙一重，七日開之，氣味香美，格韻極高，令人多作之。</p>

<h3>八仙茶</h3>
<p>延壽固腎種子。歌曰：仙家別有一種茶，盡是青龍白虎芽，北海嬰兒能種造，南山玉女採精華。</p>
<p>杜仲（制，四兩，麩皮炒斷絲）　菟絲子（二兩酒浸，制如常，五錢）　木鱉子（去油皮，十個）　甘草（二兩，去皮蜜炙）　廣木香（一兩，不見火）　小茴香（五錢）　母丁香（大者十個）　附子（一個，用蕎麥麵一撮，包煨良久去面）　沉香（八錢）　訶子（四兩，去殼）　荔枝子（去皮，十四個）　鎖陽（三錢，炙）　青鹽（八錢）　熟地（二兩三錢，酒浸一夜，去皮）　六安茶（二斤）</p>
<p>上藥與茶各為細末，用甘草膏以火日修合，將蒸籠一扇，鋪絹一層，將藥平攤於絹上，又放絹一層，將茶一層，再放蒸籠一扇，鋪絹一層，照前攤藥，並盡蓋之，周圍用紙封固，慢火蒸一枝香。取起，乘熱為丸如芡子大，入磁罐收貯，以黃蠟封口，埋地下一尺七寸。取起，每服一丸噙化，無子者用之更妙，即如血衰發白，每日銜化一丸，滿百日，白髮返黑矣。久服能除百病，善化痰。切忌敗血諸物腦三白酒莫服。</p>

<h2>用品門</h2>

<h3>螢火丹</h3>
<p>螢火　鬼箭羽　蒺藜（各一兩）　雄黃　雌黃（各二兩）　羖羊角（煅，一兩半）</p>
<p>上俱為末，以雞子、黃丹、雄雞冠一具和搗於下，丸如杏仁，作三角絳囊盛五丸，帶於左臂上，從軍繫腰中，居家掛戶上，甚闢盜賊。</p>

<h3>五色蟾墨</h3>
<p>雄黃　銀硃　膽礬　粉　藤黃　銅綠　硼砂（各一兩）　麝香（一錢）</p>
<p>上共為末，蟾酥為條，如筆管大，陰乾磨塗患處立消。</p>

<h3>烏須鉛梳</h3>
<p>鉛（十兩）　錫（三兩）　婆羅子（三個）　針砂　熟地（各半兩）　茜根　胡桃皮（各一兩）　沒石子　黎勒皮　硫黃　石榴皮　磁石　皂礬　烏麻油（各二錢半，為末）</p>
<p>上先將鉛錫入末一半，柳木攪勻，傾入，梳模子印成修齒，余末同水煮梳，三日三夜，水耗加之，取出，故帛重包五日，每以熱皮襯手搓一百下，先須以皂莢水洗淨。</p>

<h3>紫霞杯</h3>
<p>硫黃（袋盛懸罐內，以紫背浮萍同水煮數十沸，取出喉干，研末，十兩）　珍珠　乳香　琥珀　雄黃　礁砂　陽起石　赤石脂　片腦　紫粉　白芷　甘松　山柰　木香　血竭　沒藥　韶腦　安息香（各二錢）　麝香（七分）　金箔（二十片）</p>
<p>為末入銅杓中，慢火熔化，以好樣酒杯一個，周圍以粉紙包裹，傾硫黃入內，旋轉令勻，投冷水中取出，每旦盛酒飲二三杯，百病皆消。</p>

<h3>香肥皂</h3>
<p>肥皂（一斤）　紅甘松末　山柰末　北細辛末（各二錢）　潮腦（一錢）　紅棗（二兩）</p>
<p>先將肥皂去子脰研爛如泥，加藥末搗成為丸。</p>

<h3>灌頂油</h3>
<p>治腦中熱毒，除自中翳障，鎮心明目，此大食國胡商方。</p>
<p>生油（二斤）　故鐵鏵（五兩）　硝石（五錢）　寒水石（一兩）馬牙硝（五錢）　曾青（一兩）</p>
<p>綿裹入油中，浸七日，每一錢頂上摩之，及滴少許入鼻為妙。</p>

<h3>烏頭麝香油</h3>
<p>香油（二斤）　柏油（二兩，另放）　訶子皮（一兩五錢）　沒石子（六個）　五倍子　石榴皮　旱蓮苔（各三錢）　真膽礬（一錢）　豬膽（二個，另放）　川百藥煎（三兩）</p>
<p>上共為末，先將香油熬數沸，然後將藥末入油鍋內同熬，少時傾出，油入罐內盛，微溫入柏油，攪入豬膽，又攪令極冷，入零陵香、藿香葉、白芷、甘松（各三錢），麝香（一錢），再攪勻，用厚紙封罐口，每日早午時晚各攪一次，仍封之，如此十日後，先晚洗頭髮淨，次早擦之，不待數日，黑紺光澤香滑，永不染塵垢，不須再洗，用之後，自見也，黃髮亦黑。（旱蓮苔隨處有，科生一二尺，高小如菊，折斷有黑汁，名猢猻頭。）</p>

<h3>八白散</h3>
<p>金國宮女洗面方。</p>
<p>白丁香　白殭蠶　白附子　白牽牛　白茯苓　白蒺藜　白芷　白及</p>
<p>上八味研，入皂角三定皮，用大豆少許為末常用。</p>

<h3>香身丸</h3>
<p>治遍身熾氣惡氣及口齒氣。</p>
<p>丁香（一兩五錢）　藿香葉　零陵香　甘松（各三兩）　香附子　白芷　當歸　桂心　檳榔　益智仁（各一兩）　麝香（五錢）　白豆蔻</p>
<p>上為末極細，煉蜜為劑，杵千下，如桐子大。每噙化五丸，常覺口香，五日身香，十日衣香，二十日他人皆得聞香也。</p>

<h3>七佛虎頭圓</h3>
<p>闢瘟殺鬼，除一切疫氣。</p>
<p>虎頭骨　硃砂　雄黃（各一兩半）　鬼臼　皂角　雌黃（各一兩）</p>
<p>上為末，熔蠟和丸，如彈子大，以紅絹袋盛一丸係臂上，男左女右，又懸四角。如值近境疫作，晦朔夜半，各家當燒一丸，晨起各人吞下小豆大一丸，則不致傳染。</p>

<h3>女廉丸</h3>
<p>五月五日，七月七日，取山林柏木鋸板作枕，長一尺三寸，高四寸，以柏心赤者為之，蓋厚四五分。工制精密，勿令走氣，又可啟閉，蓋上鑽米孔三行，每行四十九孔，凡一百四十七孔，內實藥二十四品，按二十四氣用川芎　當歸　白芷　辛夷　白朮　藁本　木蘭　蜀椒　官桂　杜蘅　柏實　秦艽　乾薑　防風　人參　桔梗　白薇　荊實　䕷蕪　白蘅　飛蠊　薏苡　款花　肉蓯蓉　加外八味毒者以應八氣風：烏頭　附子　藜蘆　皂角　𦱌草　礬　半夏　細辛　上共三十二物各五錢為末，和入枕匣，外用布囊縫好，枕百日過，面有光澤。一年體中風疾一切皆愈，而且身香。四年發白變黑，齒落更生，耳目聰明，神方秘驗。此方乃女廉傳玉清，玉清傳廣成子，聖聖相傳，不可輕忽。常以袱包蓋，勿出氣。</p>

<h3>蚊煙法</h3>
<p>粗茶（一斤）　木鱉（八兩）　雄黃（四兩）</p>
<p>上共為末，醋丸彈子大，每晚用一丸燒之，去者去，不去者亦不齧人。</p>

<h2>雜品門</h2>

<h3>一枝梅</h3>
<p>硃砂（三錢）　銀硃（一錢五分）　五靈脂（三錢）　麝香（三分）　蓖麻仁（五分）　雄黃（五錢）　巴豆仁（五錢，不去油）</p>
<p>午日午時，用脂油為膏，作小餅大。遇有重症，先將此藥貼眉心正中，移時揭去。有紅色散漫者可治，若白色者不可治矣。</p>

<h3>七聖紫金錠</h3>
<p>治疔瘡瘴氣時毒等症。</p>
<p>上木香　苦花子　仙人薯　晚蠶沙　柏花（各一錢）　硃砂　雄黃（各三錢）</p>
<p>上為末，米糊為丸，毛屎梯根磨水化下。</p>

<h3>紫金錠</h3>
<p>治小兒一切危症各照引磨服。</p>
<p>辰砂　膽星（各五錢）　蟬殼　甘草（各三錢）　麝香（一錢）　蛇含石（四兩）　一方加殭蠶、白附子（各四錢），白茯苓，白朮（各四錢）　一方加白蠶（三錢），白附子（五錢），減去甘草（一錢），為細末，飯搗丸，每錠重五分。</p>

<h3>雞子丹</h3>
<p>久服長生延年。</p>
<p>取雞雌雄純白者別養，得其卵，扣出黃白，取丹砂和入卵，蠟封其口，還令白雞同子抱之，待雞出，藥成和以早服，如黃豆大，日二三丸。</p>

<h3>雁腹丹</h3>
<p>除萬病延年。</p>
<p>丹砂（三斤），沿下篩，盛以重練囊，納雁腹中，縫腹令合蒸黍下，炊以桑薪，三日三夜，出以白蜜丸如黃豆大，每服二丸，日三次。</p>

<h3>觀音救苦丹</h3>
<p>硫黃（一錢）　硝（一分）　麝香（一分）</p>
<p>上共為細末，先將硫熔化，後下硝、麝攪勻，傾銅盆攤極薄片，切作米粒米大，放患處，點火灸之。毒大者五粒，小者二三粒。</p>

<h3>十香丸</h3>
<p>乳香　沒藥　花椒　硫黃（各一錢）　水銀（三錢，用唾研如泥）　麝香（三分）　蛇床子（炒，五錢）　大楓子（去殼，二兩）</p>
<p>上共研碎，舊臼油燭或油胡桃作丸，擦疥瘡神效。</p>

<h3>神妙痧藥</h3>
<p>北細辛（三兩）　荊芥（六錢）　降香末（三錢）　鬱金（一錢）</p>
<p>上共為末，每用一茶匙放舌，冷茶送下，或津嚥下。</p>

<h3>痧藥</h3>
<p>白胡椒（一兩）　牙皂（一錢）　火硝　檀香末　明礬　丁香　蟾酥（各三錢）　北細辛（二錢）　冰片　麝香（各五分）　金箔（量加）</p>

<h3>望梅丸</h3>
<p>能生津止渴，旅行帶之，每含一丸可代茶。</p>
<p>鹽梅（四兩）　麥冬（去心）　薄荷（去梗）　柿霜　細茶（各一兩）　蘇葉（去梗，五錢）</p>
<p>上為細末，白霜糖四兩，共搗為丸，如雞豆大加參一兩更妙。</p>

<h3>軟腳散</h3>
<p>歌曰：軟腳散中芎芷防，細辛四味研如霜，輕撒鞋中行遠道，足無箴泡汗皆香。</p>
<p>防風　白芷（各五錢）　川芎　細辛（各二錢半）</p>
<p>行遠者撒少許於鞋內，步履輕便，不生箴泡，足汗皆香。</p>

<h3>火龍丹（即痧藥）</h3>
<p>牛黃（一錢）　麝香（二錢）　冰片（一錢）　硃砂（二兩研飛）　蓽茇（一錢）　真金箔（五張）　雄黃（三兩，研）　火硝（一兩）　硼砂（五錢）　牙皂（一錢）</p>
<p>上各研細，端午午時合。如遇痧脹腹痛，將此藥嗅鼻，並放舌尖上，嚥下亦可。</p>

<h3>蟾酥丸</h3>
<p>雄黃（三錢）　麝香（三分）　木香（一錢）　俱不可見火，加蒼朮三錢，蟾酥為丸，如小米大，硃砂為衣，如難丸，少加米飲，每用二三丸放舌尖上化下，加入西牛黃、金箔，端午午時合尤妙。</p>

<h3>又方</h3>
<p>沉香（銼細）　母丁香　硃砂（水飛）　雄黃（各五錢）　麝香（三錢）　廣木香（一兩）　蒼朮（茅山者，米泔浸，去毛，淨末，二兩）　蟾酥（三錢）</p>
<p>上藥俱忌見火，為細末，將火酒化蟾酥為丸，不就，加米飲丸，如米大，每服二三丸，放舌尖上化下。</p>

<h3>白梅丸</h3>
<p>生津止渴。</p>
<p>白糖（三斤）　白鹽梅（一斤，去核）　薄荷葉（一兩）　檀香（六錢）</p>
<p>上為細末，滴水丸芡實大，每服一丸，不拘時噙化。</p>

<h3>梅蘇丸</h3>
<p>生津止渴。</p>
<p>白糖（二斤）　烏梅肉（二斤）　紫蘇葉（二兩）　炒鹽（一錢五分）</p>
<p>上為細末，滴水丸芡子大，每服一丸，不拘時含化。</p>

<h3>龍腦雞酥丸</h3>
<p>消渴涼上膈，除邪熱，止咳嗽、吐血、鼻血、胃熱、口舌痛，肺虛氣損失聲並治之。</p>
<p>銀柴胡　阿膠（炒成珠）　蒲黃（炒）　人參　木通（各二兩）　生地黃（六兩）　麥冬（四兩）　炙甘草（一兩半）　黃耆（一兩）　薄荷葉（一斤）</p>
<p>上為末，蜜丸芡子大，每服一丸，食後噙化。</p>

<h3>參杏膏</h3>
<p>止咳嗽化痰。</p>
<p>人參　款冬花　訶子　貝母　五味子　桑白皮　紫菀　杏仁　阿膠　茯苓　甘草（各五錢）</p>
<p>上為末，煉蜜為丸，如芡實大，每服一丸，不拘時含化。</p>

<h3>上清丸</h3>
<p>利咽膈，清上焦熱，口生瘡。</p>
<p>薄荷　防風　桔梗（各二兩）　川芎　砂仁　甘草（各一兩）　片腦（一錢）</p>
<p>上為末，蜜丸芡子大，每服一丸含化。</p>

<h3>玉泉丸</h3>
<p>鹽霜梅肉（一兩）　乾葛　桔梗　薄荷（各二兩）　訶子　烏疊泥　元參（各五錢）　天花粉（三錢）</p>
<p>上為細末，蜜丸黃豆大，每服一丸，不拘時含化。</p>

<h3>太倉丸</h3>
<p>治脾胃飢飽，不時生病，及諸般積聚，百物所傷。</p>
<p>陳倉米四兩，巴豆二十一粒，去皮同炒至米香至豆黑，勿令米焦，去豆，入橘皮去白四兩，為末，糊丸梧子大，每薑湯服五丸日二服。</p>

<h1>卷四</h1>

<h2>醫禽門</h2>

<h3>鶴脛折斷</h3>
<p>鶴脛至脆易折，若犯此者，宜用青竹比脛略大，長三四寸，手擘兩半片。地上掘白頸蚯蚓數條，去泥土，鋪青竹管中，用線扎定。仍用數條，啖之，候飯頃，即如舊。此萬金不易之方也。</p>

<h3>鶴病</h3>
<p>飼蛇鼠及大麥煮喂之。</p>

<h3>南禽發風</h3>
<p>如鸚哥、八哥、白鷳、錦雞、孔雀之屬，發風不食，尾尖上有小肉珠圓如豆大，以針挑破即愈。</p>

<h3>金雀</h3>
<p>凡新捕到金雀，必欲以水洗其足，令十分乾淨，卻以舌於其頂上順舔之數十條，然後置籠中，如此永不死。否則必至於死，此妙法也。</p>

<h3>鴿病</h3>
<p>古牆中螺螄槁殼，並續隨子、銀杏搗為丸，每飼十丸愈。鴿性嗜豆，綠豆性冷，多食則病，受煙火之氣則病，不見陽光則病，不獲沐浴則病，不得沙石則病。熱病作喘，冷病下稀，熱療以鹽，冷療以甘草。</p>

<h3>孔雀病</h3>
<p>飼以鐵水即愈。如盛夏患眼病，以鵝翎筒管灌青油少許，清水洗之，眼不開，擘口啖小魚蝦及切蒻少許啖之，晾冷，勿與咸醋雜食。</p>

<h3>鸚鵡病</h3>
<p>鸚鵡性最畏寒，冷則發顫如瘴而殂，飼以余甘可解。</p>

<h3>畫眉病</h3>
<p>畫眉春令正當分對之時，若入籠一年可矣。即明春照前分對之時，食不能食，叫不能叫，名發氤。籠內取出，尾上驗尖，擠出白漿，過數日，叫口如前，仍然搧打。凡鳥喉啞，用銅末一撮，或古老錢，或訶子，任用一件，入水汁內浸之，飲其水，聲響如前。</p>

<h3>鷂子病</h3>
<p>鷂子有病而不知何病，宜用蜂蜜奶子油及鮮熟肉或小雞肉尤妙，三樣和勻，與食則愈。鷂子或在手腕，或在棲木，屢次氣喘憂悶，少食鮮肉後，出糞黑臭，因腹內有臭液，或食惡肉，或食野藥之故。用毛齒莧略搗爛，並奶子油羊羔肉和為食。</p>

<h3>又方</h3>
<p>葡萄汁煎三分，去二止留一分，最甜者與鴿子飲，間一日，將此鴿給鷂子食之則愈。凡瘦而憂悶，及毛豎起者，此方食之獲痊。凡試鷂子有病與否，先置鷂子於足下，後持肉高懸，引教飛上撲食則無病，否則有病。或以銅末錢末拌肉與食，如食則五臟不佳。又宰羔羊肺帶熱與食肺而盡，則無病，食之不安，難化，第二日有憂悶狀，則有病。一出糞不間斷，不捆在架上安平嘴抹內翅，自下而上，其翅如擦油光潤，大腿均平翅內，兩脈平和，以上皆無病之徵。或國外熱而口開舌頭喘氣，或因內熱而眼閉，腳一伸一縮，毛豎起，或因勞倦而口閉翅下垂，鼻中呼氣，一切皆有病之徵。若出糞綠色，在架拳曲不起，乃死之徵也。</p>

<h3>了哥病</h3>
<p>春月羽毛上生蟲多蛀死。</p>
<p>吳茱萸煎湯放令浴之，蛀蟲即死。</p>

<h3>黃頭病</h3>
<p>有拔肚毛者。</p>
<p>蛇殼焙燥，研細拌粉內，食之即愈。</p>

<h3>雞一切病</h3>
<p>真麻油灌之。</p>

<h3>雞瘦</h3>
<p>土硫黃研細拌食則肥。</p>

<h3>雞瘟</h3>
<p>磨鐵漿染米與食則愈。</p>

<h3>雞水眼</h3>
<p>白礬敷之。</p>

<h3>雞哮</h3>
<p>芒硝一小塊，如指大，灌之即愈。</p>

<h3>鵪鶉病</h3>
<p>白膜閉眼者，名水眼。不治則瞎，須常常看視，若有此病，飼以蚯蚓便愈。後又飼以蜘蛛、蒼蠅、土蜂等物，敗其餘毒，而鬥亦多狠。</p>

<h3>雞瘟</h3>
<p>巴豆一粒搗碎，香油調，灌入口即愈。</p>

<h3>又方</h3>
<p>綠豆粉水和成條，喂數次愈。</p>

<h2>醫獸門</h2>

<h3>馬證</h3>
<p>熱蟲嗓黑汁，鼻有膿啌喘，水草不進。</p>
<p>黃瓜　蔞根　貝母　小青　桔梗　吳藍靛花　桃仁　大黃　白鮮皮　黃芩　鬱金（各二兩）　馬牙硝　黃柏（各四兩）</p>
<p>上研末，驗患相當及常要啖，重者藥三兩，地黃半斤，豆豉二合，蔓青油四合，合齊前藥啖之，至晚飼大效。蟲嗓重者，用葶藶子合令紫色，搗如泥，桑白皮一大握，大棗二十枚去核，以水二升，煮取一升，去滓，入葶藶末調勻，適寒溫而灌之。隔日再灌，重者不過三次。若蟲嗓馬鼻沫出梁腫出起者不治。蟲嗓十年者，醬清如膽汁者，半合分兩服，灌鼻內，每灌一兩，日將息，不得連灌，即損馬也。急黃黑汗右割取上斷訖取舊靴頭皮水浸汁灌之，如不效，用大黃、當歸各一兩，鹽半盞，以水三盞，煎取半盞，分兩服灌之，如再不效，針破馬尾尖，出血即效。</p>

<h3>起臥胞轉及腸結</h3>
<p>細辛、防風、芍藥各一兩，鹽一盞，水五盞，取半盞，分二服。灌後灌前用芒硝、鬱金、寒水石、大青各一兩，水五盞，煎半，以酒油各半盞攪勻，分二服，灌口中妙。</p>

<h3>胞轉欲死</h3>
<p>小兒尿和水灌之立瘥，搗蒜納小便孔中，深五寸亦可。</p>

<h3>頰骨脹</h3>
<p>羊蹄跟四十九個，燒灰熨骨上，冷換之，如無鬥蹄跟，楊枝指大者炙熨之。</p>

<h3>後跨冷跋</h3>
<p>蔥姜各五兩，水五盞，煮取半盞，和酒灌之。</p>

<h3>治馬蛆蹄</h3>
<p>槽下立處掘一尺方，埋雞子許大石子，令常立石子上，一二日即瘥。</p>

<h3>騎馬走上阪</h3>
<p>用木於腹來去刮擦，以手納後孔，令探糞出即愈。探法剪去手指甲，以油塗手，恐傷破馬腸。</p>

<h3>治疥</h3>
<p>黃豆炒焦，用生麻油搗爛敷之，先以酣泔水洗淨。</p>

<h3>又方</h3>
<p>先以皂莢水或米泔淨洗，次用樗根末和麻油塗，令中間少空放蟲，不得多塗，恐瘡大。</p>

<h3>又方</h3>
<p>巴豆、膩粉研細末，麻油塗定，日洗塗數次妙。</p>

<h3>目暈</h3>
<p>用霜後干谷樹葉為末，一日兩度，以蘆管吹眼中。</p>

<h3>治啌喘毛焦</h3>
<p>大麻子油揀淨一升，飼之大效。</p>

<h3>諸瘡</h3>
<p>昆沙、夜合花葉、黃丹、乾薑、檳榔、五倍子為末，先用鹽漿水洗瘡後，用麻油，加輕粉調敷。</p>

<h3>疥癩</h3>
<p>杜蘅生搗擦，或為末敷之亦可。</p>

<h3>又方</h3>
<p>生胡麻葉搗汁灌之。</p>

<h3>又方</h3>
<p>藜藿末水調塗妙。</p>

<h3>鼻內癩病</h3>
<p>蕎麥磨粉灌，仍用麥杆飼之。</p>

<h3>傷水</h3>
<p>先燒人亂髮，熏兩鼻，後用川烏、白芷、胡椒、豬牙皂角各等分，麝香少許為末，用竹筒盛葉一字，吹入鼻，須臾打嚏，清水流出即效。加瓜蒂兼治一切中結病症。</p>

<h3>馬瘦</h3>
<p>狗肉汁灌之。</p>

<h3>諸病</h3>
<p>白鳳仙花連根葉熬膏，遇馬有病，抹眼四角上，汗出即愈。</p>

<h3>馬後抽破</h3>
<p>馬尾後抽為抽轡，方破者以蛇蛻燒灰，香油調敷，或干糝一二時即愈。</p>

<h3>發汗散</h3>
<p>治騾馬久咳不止。</p>
<p>川芎　陳皮　青皮　紫蘇　百合　當歸　附子　小茴香（各等分）　姜七片，蔥七莖，蓮鬚生酒一斤半煎熟，候溫灌下，拴暖房用韉蓋之，取汗後補藥再服三五劑。麻黃　桂枝　甘草　枳實　連翹　麥冬　杏仁　天冬　蒲黃　桔梗　花粉　當歸　青皮　陳皮　鬱金　香附　生地　熟地　防風　荊芥　蘿蔔子　茴香　川芎　黃耆　桑皮　白芷　以水酒各一盅煎熱擂碎，加麻油一盅，蜜二兩，雞蛋兩個，同煎灌之，連日服。</p>

<h3>治騾馬驢寒胃</h3>
<p>兜鈴　紫菀　芒硝　大黃　甘草　青皮　桑皮　連翹　梔子　苦參　天冬　麥冬　防風　荊芥　知母（各一兩）　上分三劑擂碎同灌。</p>

<h3>牛症肩爛</h3>
<p>舊綿絮三兩燒存性，用麻油調敷。</p>

<h3>漏蹄</h3>
<p>紫礦為末，豬油和，納蹄中，燒鐵篦烙之。</p>

<h3>一切疥癲</h3>
<p>杜蘅研為細末敷之，或生搗塗亦可。</p>

<h3>又方</h3>
<p>藜蘆末水調塗之。</p>

<h3>傷熱</h3>
<p>胡麻葉搗汁塗之立瘥。</p>

<h3>瘴疫</h3>
<p>石菖蒲　淡竹葉　葛粉　鬱金　綠豆　蒼朮（各等分為末）</p>
<p>每用一兩，芭蕉自然汁一升，入蜜一兩，黃蠟二錢，調和灌之。未解再灌。熱加大黃，鼻頭無汗加麻黃，鼻口出血加蒲黃。</p>

<h3>又方</h3>
<p>夏茶二兩為末，和水五升灌之。</p>

<h3>尿血</h3>
<p>當歸、紅花為末，酒煎一合灌之。</p>

<h3>腹脹</h3>
<p>燕子屎一合，水調一合灌之。</p>

<h3>噎</h3>
<p>皂莢末吹鼻中，以鞋底拍尾停骨下。</p>

<h3>身上生蟲</h3>
<p>當歸搗爛，醋浸一宿塗之。</p>

<h3>牛瘦</h3>
<p>厚朴　陳皮　蒼朮　烏藥　貫眾　甘草　黃芩　川芎　當歸　白朮　茯苓　赤芍　熟地　枳殼　紫蘇（各一兩）</p>
<p>上分為劑，研末，水二碗，酒一碗，姜十片，一日灌一劑，十日定壯。</p>

<h3>牛馬豬瘟</h3>
<p>硃砂　麝香　潮腦</p>
<p>上各等分為末，豬吹左鼻，牛、馬吹右鼻。</p>

<h3>牛狗羸瘦</h3>
<p>泥鰍一二枚，從口鼻送入則立肥。</p>

<h3>牛不吃草</h3>
<p>青木香四兩，金銀花藤一斤，煎湯灌下即好。</p>

<h3>牛馬豬瘟</h3>
<p>大黃　朴硝（各等分）</p>
<p>上泡湯一碗灌之，瀉空餓半日，用冷水一大盆食之即好。</p>

<h3>羊證夾蹄</h3>
<p>羖羊脂熟去渣，取鐵篦子火燒令熱，將脂勻篦上烙之，勿令入水，次日即愈。</p>

<h3>生癩</h3>
<p>藜蘆根不拘多少捶碎，以米泔浸之，瓶盛塞口，置熱灶邊數候味酸，先以瓦片刮患處令赤，用湯洗之，去瘡甲拭乾，以藥塗之，兩次即愈，若癩多逐漸塗之兩次。</p>

<h3>又方</h3>
<p>鍋底墨及鹽桐油各二兩，調勻塗之。</p>

<h3>豬瘟</h3>
<p>牙皂　細辛　川烏　草烏　雄黃　狗天靈蓋</p>
<p>上各等分燒灰為末，吹入鼻中，用五分即可，牛、馬亦可治，加麝香五釐更妙。</p>

<h3>中水</h3>
<p>先以水洗眼鼻中膿汙令淨，次用鹽一大湯碗撮就將沸湯研化候冷，澄取清汁，注少許於兩鼻內，五日即愈。</p>

<h3>豬症</h3>
<p>諸病。</p>
<p>割去尾尖出血即愈。</p>

<h3>瘴疫</h3>
<p>蘿蔔或葉食之，不食則難救。</p>

<h3>又方</h3>
<p>牙皂（二錢，火煅）　細辛（三錢）　牙硝（九錢）</p>
<p>上共為末，竹管吹三分入鼻內。</p>

<h3>貓證</h3>
<p>煨火疲瘁。</p>
<p>硫黃少許，納豬腸中炮熟喂之，或魚腸中飼之。</p>

<h3>誤為人踏死</h3>
<p>蘇木濃煎湯灌之。</p>

<h3>貓瘦畏寒</h3>
<p>龜肉喂之，又煎烏藥灌之。</p>

<h3>貓犬病</h3>
<p>磨烏藥灌之愈。</p>

<h3>犬子病</h3>
<p>灌平胃散。</p>

<h3>死胎不下</h3>
<p>芒硝石末二錢，童便溫服，無不效。豐城曾尉有貓孕五子，一子已生，四子死腹中，用此灌之即下。</p>

<h3>狗證</h3>
<p>狗癩。</p>
<p>身上發癩蟲蠅，百部汁塗即除去。</p>

<h3>狗蠅</h3>
<p>濾麻油澤手擦，其蠅即去。</p>

<h3>卒死</h3>
<p>葵根塞鼻可治。</p>

<h3>一切病</h3>
<p>水調平胃散灌之。</p>

<h3>又方</h3>
<p>巴豆去殼，和平胃散灌之。</p>

<h3>惡犬令馴</h3>
<p>天靨肉一塊（即雁也）與食之，終身不吠噬，蓋以氣相制也。</p>

<h3>猿病</h3>
<p>大蜘蛛研爛，冷水調灌，百病愈。貫眾磨水灌之，並壁上蟢子與食，百病愈。小猿宜喂人參、黃耆，大猿以蘿蔔喂之。猿性不耐著地，著地輒鳴以死，煎附子汁飲之即愈。</p>

<h3>鹿病</h3>
<p>鹽拌豆料喂之，常以豌豆喂亦佳。</p>

<h3>象生瘡</h3>
<p>滿身如馬生齒瘡之狀。</p>
<p>石蟹搗碎敷之。</p>

<h3>駝病</h3>
<p>鬼臼　穿山甲　滑石　木通（各二兩）</p>
<p>上為末，小油半斤，溫水三升，飢灌之。</p>

<h3>熱水生瘡</h3>
<p>山梔　黃連　知母　遠志　貝母　甘草（各三兩）</p>
<p>上為末，油半斤，水五升飽灌之。</p>

<h3>眼暈遮睛</h3>
<p>烏魚骨　馬牙硝　銅青　白礬　青鹽</p>
<p>上各等分為末，燈心點之。</p>

<h3>口瘡</h3>
<p>菩薩石　桑皮　黃丹</p>
<p>上各等分，以青鹽少許為末，入蜜熬膏，每服一兩半啖之。</p>

<h3>二便不通</h3>
<p>桑皮　甘草（各五兩）　大黃（四兩）　芍藥　滑石　木通（各二兩）　穿山甲（一兩）</p>
<p>上共為末，水五升，油灰汁各半斤灌之。</p>

<h3>力乏欲死</h3>
<p>鹽和麵納入口中飼之，則三日不飢。</p>

<h3>漏蹄</h3>
<p>人發灰　石灰　黃丹　瀝青</p>
<p>上為末，脂油熬膏貼之。</p>

<h3>胎衣不下，小便秘澀</h3>
<p>木通（一兩）　朴硝（四兩）</p>
<p>上以灰汁大油一斤，水三升，飢灌之。</p>

<h3>駝瀉不止</h3>
<p>炒鹽（四兩）　生薑（二兩）　白礬　天仙子　赤石脂　赤黍米</p>
<p>上各等分為末，用酢同熬待飢灌之。</p>

<h3>淋瀝</h3>
<p>牙茶（四兩）　大全子　赤麻子　通草　白醜　黑醜（各二兩）</p>
<p>上為末，以襪汁一合，大油一斤，藥四兩，飢灌之。</p>

<h2>鱗介門</h2>

<h3>魚病</h3>
<p>池中遭毒翻白，急疏出毒水，另引新水養之，搗芭蕉根或糞清澆入可解。</p>

<h3>魚生蝨</h3>
<p>瘦而生白點者，名蝨。蝨如小豆大，形如鱉，凡山中暴雨入池，帶惡蟲穢氣，亦令魚生蝨。凡取魚見魚瘦，宜細視之，有則以松毛遍浮池中則除，或以楓樹投水中則愈。</p>

<h3>金魚生蝨</h3>
<p>新磚一塊，入糞中浸一日，取出令乾，投魚缸內，或用白楊或楓樹皮投缸中亦愈。</p>

<h3>龜病</h3>
<p>鹽拌料豆喂之，以嘹豆草喂之為佳。</p>

<h2>醫蟲門</h2>

<h3>蟋蟀病</h3>
<p>積食以水拌紅蟲飼之。</p>

<h3>冷病嚼牙</h3>
<p>以帶血蚊蟲飼之。</p>

<h3>熱病</h3>
<p>以綠豆芽尖葉或棒槌蟲飼之。</p>

<h3>鬥後糞結</h3>
<p>以青粉、小青蝦飼之。</p>

<h3>鬥傷</h3>
<p>以自然銅浸水點之。</p>

<h3>牙傷</h3>
<p>以苓姜點之。</p>

<h3>咬傷</h3>
<p>以童便調蚯蚓糞點之。</p>

<h3>並翎</h3>
<p>用池邊水草內青白色蜘蛛喂之。</p>

<h3>中秋不上食者</h3>
<p>菱米、栗子煮熟喂之，柿餅肉亦妙。</p>

<h3>牙損</h3>
<p>菜園中泥塊內紅蟲喂之。</p>

<h3>深秋老蛩受傷不上食者</h3>
<p>雌蟹鉗內生肉以米飯同捻成小粒喂之。</p>

<h3>早秋蛩受熱</h3>
<p>用廁上蛆蟲變成蛹兒，內有小蟲，名棒槌蟲喂解，或用稻撮肉蟲蒸熟，於烈日中曬乾，以麻黃根研細拌喂。隨用水楊柳細須洗淨，浸水飲之，能解熱毒。</p>

<h3>蛩因缺水而色昏者</h3>
<p>以水潤窩蓋，用青絹浸濕放於盆內，使往來攢走，則光彩勝舊。</p>

<h3>蛩魚嬌嫩者</h3>
<p>洋溝內紅蟲喂之，次以盆傍於日影中照二三日，自然色勝。</p>

<h3>蠶病</h3>
<p>山蛩燒灰摻之。蠶遇狐臭生人及穢體汙厭則延亂不食，如知之，急焚香楓箬葉以解之。</p>

<h3>熱病</h3>
<p>臘月內搗磨干桑葉成面，以甕收貯飼之，餘剩做牛料甚美。</p>

<h3>救蠅溺死</h3>
<p>蠅被水淹死，用指輕輕撈起，取香灰拌好，置桌，久之則活，自能飛去。</p>

<h2>花木門</h2>

<h3>花遲不發</h3>
<p>芝麻油醬馬糞二項，入水和勻，澆累次即開。</p>

<h3>毒蛀</h3>
<p>花木有蛀孔，小孔用鐵絲通死其蟲。若孔大用火藥灌滿，以火燒之，煙入蟲自死。以上半月為妙。</p>

<h3>落毛蟲</h3>
<p>凡花果樹生揚剌子食葉，葉盡，秋間發，來春必死矣。用指粗甘草二三寸長，掘開土見老根，將甘草緊貼老根埋之，數日蟲自落。但此法不許人見，見則不驗矣。</p>

<h3>建蘭生蝨</h3>
<p>蘭葉上忽生白點，謂之蘭蝨。用香油入水噴之，或魚腥水或煮蚌湯灑之則除。</p>

<h3>竹生稗</h3>
<p>竹開花結實如稗，次年必死。治法於初花時擇一二大竿截去，止留於三尺，打通其節，用糞填實，則花自止，亦不敗矣。</p>

<h3>茉莉花生蟻</h3>
<p>以烏頭煮湯冷灌之則絕，川楝葉搗汁澆亦可。</p>

<h3>薔薇腦生莠</h3>
<p>以剪銀鋪中爐火撒之蟲自死。</p>

<h3>菖蒲無力萎黃</h3>
<p>鼠糞和水澆之即盛。</p>

<h3>皂角無實</h3>
<p>根旁鑿一孔，入生鐵屑三五斤，泥封之即結角。</p>

<h3>果樹生蟲</h3>
<p>以多竹燈掛在樹上，蟲自落。</p>

<h3>樹生癩</h3>
<p>甘草削竹釘針之自消，不可針葡萄。</p>

<h3>解樹藥釘</h3>
<p>凡木如肉桂作釘，釘之即死。用甘草水灌之復榮，初烏賊骨釘之則翳，以狗膽解之仍茂。</p>

<h3>出櫻桃蟲</h3>
<p>櫻桃結實，一經雨打則蟲自內生，人莫之見，須用水良久浸，候蟲出方可食。</p>

<h3>桃皮作脹</h3>
<p>凡桃樹其皮作脹，初生四年後，用刀自樹本豎刮其皮，至生枝處，使膠盡出，則皮不脹不死，多有數年之活。</p>

<h3>桃自落實</h3>
<p>桃生子多則墜者亦多，於社日舂根下，土石壓其枝則實不更落。若生蟲，以煮豬首淡汁冷澆之自絕。</p>

<h3>橘病</h3>
<p>橘有四病，畏寒畏旱，生蘚生蠹是也。冬須以犬糞湧其根，稻草裹其干，則不凍死。遇旱以米泔水澆則實不損落，生苔蘚即刮去之，有蛀屑飄出，急用鐵絲通之，再用杉木釘窒其孔。</p>

<h3>桑癩</h3>
<p>蒲母草，狀如竹葉，以此草浸汁澆之，若生桑蟲，尋其穴，桐油抹之，蟲即滅矣。</p>

<h3>蘿蔔空心</h3>
<p>蘿蔔鋤起，切去葉，止留寸許，顛倒插土中，直至過年，永不空心。</p>

<h3>花被麝沖</h3>
<p>凡花最忌麝沖，瓜大尤忌之，須於根旁栽數株薤蒜，遇麝不損。</p>

<h3>又法</h3>
<p>於上風頭以艾和雄黃末焚之即如舊。</p>

<h3>木樨受蛀</h3>
<p>芝麻梗帶殼束懸樹上。</p>

<h3>銀杏不結子</h3>
<p>雌樹鑿一孔，入雄樹木一塊，以泥封之，便生子。</p>

<h3>曲樹冷直</h3>
<p>凡樹直身曲者，宜以刀豎劃其凹處，則逐漸直。</p>

<h3>樹老</h3>
<p>凡樹老，以鍾乳末和泥於根上，揭去皮抹之，樹復茂。</p>

<h3>桃樹永年</h3>
<p>桃樹命最短，俗呼為短命樹，俟栽出二三年後，以刀斫去根，上長出再斫去，則百年長盛。</p>

<h3>蘭泣</h3>
<p>蘭者，花之君子，能知恩義，有善則報，有哀則知。所手植之人死，必以哀麻一斤掛於蘭上，否則立槁，名曰蘭泣。</p>

<h3>蘿蔔諸菜生蟲</h3>
<p>苦參末撥之即死。</p>

<h2>取蟲門</h2>

<h3>牙齒蟲痛</h3>
<p>鏡面草半握，入麻油二點，鹽半捻挼碎，左疼塞右耳，右疼塞左耳，以薄泥餅貼耳門，閉其氣，仍側臥泥耳。一二時，去泥取草放水中，看有蟲浮出，久者黑，次者褐，新者白，須於午前用之。</p>

<h3>取牙蟲</h3>
<p>韭子一撮，將碗底盛之，覆水中，用火燒煙，外用小竹梗，將下截劈開，以紙如喇叭樣，引煙燻蛀齒，如下牙蛀者，煎韭子濃汁漱之，蟲自出。</p>

<h3>齒䘌並蟲</h3>
<p>雀麥一名杜姥，俗名牛星草，用苦瓠葉三十枚洗淨，取草剪長二寸，以瓠葉作五色包之，廣五分，以三年醋漬之，至日中，以兩包並炮令熱，納口中熨齒外邊，冷易之，取包置水中，解視即有蟲，長三分，老者黃，少者白，多則二三十枚，少則一二十枚，此方甚妙。</p>

<h3>牙齒蟲䘌</h3>
<p>韭菜連根洗搗，同人家地板上泥和敷痛處腮上，以紙蓋住，一時取下，有細蟲在泥上，可除根。</p>

<h3>又方</h3>
<p>韭根十個，川椒二十粒，香油少許，桶上泥同搗敷痛牙頰上。良久，有蟲出，數次即愈。</p>

<h3>煙燻蟲牙</h3>
<p>瓦片煅紅，安韭子數粒，青油數點，待煙起，以筒吸引至痛處。良久，以溫水漱吐，有小蟲出為效，未盡再熏。</p>

<h3>牙蟲作痛</h3>
<p>魚腥草　花椒　菜子油</p>
<p>上各等分，搗勻，入泥少許，丸如豆大，隨左右塞耳內，兩邊輪換，不可一齊用，閉耳氣塞，一日夜取看，有細蟲為效。</p>

<h3>風蟲牙痛</h3>
<p>楊梅根皮、韭菜根廚案上油泥等分搗勻，貼於兩腮上，半時辰，其蟲從眼角出也，屢用有效。</p>

<h3>蟲牙</h3>
<p>鮮豬肚裡面微洗，用竹刀刮下末，以絺紗裹末咬緊蟲牙，其上蟲即鑽入紗內，痛立止。</p>

<h3>寸白蛔蟲</h3>
<p>醋石榴東引根一握，洗銼，用水三升，煎去半碗，五更溫服盡。至明，取一大團，永遠絕根，食粥補之，榴皮煎粥食之亦良。</p>

<h3>寸白蟲痛</h3>
<p>先食豬肉一斤，以沙糖水調黑鉛灰四錢，五更服之，蟲盡下，食白粥一日。</p>

<h3>下蛔蟲</h3>
<p>心痛如刺，口吐清水，乃蛔痛也。白艾一升，水三升，煮一升服，吐蟲出。或取生艾搗汁，五更食香脯一片，乃飲一升，當下蟲出。</p>

<h3>取心氣痛蟲</h3>
<p>無問新久，以生地黃一味，隨人所食多少，搗絞取汁，溲麵作𩚼飥，或冷淘食。良久當利出蟲長一尺許，似璧宮，後不復患矣。</p>

<h3>腹中蟲痛</h3>
<p>大麻子仁三升，東行茱萸根八升漬水，平日服二升，至夜蟲下。</p>

<h3>又方</h3>
<p>腹中有白蟲，以馬齒莧水煮一碗，和鹽醋食之，須空腹下，少頃白蟲自出也。</p>

<h3>一切蟲痛</h3>
<p>狼毒杵末，每服一錢，用錫一皂子大，沙糖以水泡開，臥時空腹食，次早蟲即下也。</p>

<h3>小兒蟲瘡</h3>
<p>舊絹作衣，以柏油塗之，與兒穿著，次日蟲皆出油上，取下爁之有聲者是也。別以油衣與穿，以蟲盡出為度。</p>

<h3>取瘰癧蟲</h3>
<p>先於瘡上灸三壯，然後用藥清作瘡口，用新活鱔魚截作一指大，劈開就掩在瘡口，少時覺瘡內癢，急揭起魚覷魚上，有細蟲如馬尾一節，蟲出如卷，三五次取盡蟲子後，用藥斂瘡口。</p>

<h3>取足瘡生蟲</h3>
<p>南方地土卑濕，人多患足瘡，久生蟲如蛭，乃風毒攻注而然。用牛或羊或豬肚去糞不洗，研如泥，看瘡大小，入煅過泥礬半兩研勻，塗帛上，貼須臾，癢入心，徐徐連帛取下，火上炙之，蟲出絲髮馬尾千萬，或青白赤黑，以湯洗之，三日一作，不過數次，蟲盡出瘡愈。</p>

<h3>取疽瘡蟲</h3>
<p>生麻油渣貼綿裹，當有蟲出。</p>

<h3>積年骨疽</h3>
<p>一捏一汁出者，熬飴餳勃瘡上，仍破生鯉魚爁之頃，刮視蟲出，更洗敷藥，蟲盡則愈。</p>

<h3>消渴有蟲</h3>
<p>苦楝根白皮一握切焙，入麝香少許，水二碗，煎一碗，空心飲之，下蟲如蛔而紅色，其渴自止，雖困頓不妨，消渴有蟲人所不妨。</p>

<h3>瘻有蟲</h3>
<p>八月中多取斑蝥，以苦酒浸半日曬乾，每用五個銅器炒熟為末，巴豆一粒，黃犬背上毛二七根炒研，硃砂同和苦酒頓服，其蟲盡出也。</p>

<h3>聤耳有蟲</h3>
<p>膿血不止，用鯉魚醋三斤，鯉魚醋腦一枚，鯉魚腸一具洗切，烏麻子炒研一升，同搗，入器中微火炙暖，布裹貼兩耳，食頃，有白蟲出，盡則愈，慎風寒。</p>

<h3>吐蠱</h3>
<p>吮白礬味甘，嚼黑豆不腥，即中蠱也。石榴根皮煎膿汁服，即吐出活蠱，無不愈者。</p>

<h3>蠼螋尿瘡</h3>
<p>清明釀造春酒，飲之至醉，須臾蟲出如米也。</p>

<h3>取疸眼蟲</h3>
<p>爛眼疳有蟲，用覆盆子葉咀嚼，留汁入筒中，以皂紗矇眼，滴汁漬下弦，轉瞬間蟲從紗出。數日下弦干後，如法滴上弦，又復得蟲數十而愈。或用覆盆子嫩葉搗汁點目眥，三四次有蟲隨眵淚出成塊也。無鮮葉以乾者煎濃亦可。</p>

<h3>三十六黃</h3>
<p>雞子一枚，連殼燒灰，研醋一合，和之溫服，鼻中蟲出為效，極黃者不過三枚神效。</p>

<h3>五色帶下</h3>
<p>以面作煎餅七個，安於燒赤黃磚上，以黃瓜蔞敷面上，安布兩重，令患者坐之，令藥氣入腹熏之，當有蟲出如蠶子，不過三五度瘥。</p>

<h3>臁瘡蛀爛</h3>
<p>鱔魚數條打死，香油抹腹蟠瘡上，系足頃，則痛不可忍，然後取下，看腹有針眼者蟲也。未盡再作，後以人脛骨灰油調擦之。</p>

<h3>臁瘡生蟲</h3>
<p>小蝦三十尾去頭足殼，糯米飯研爛，隔紗貼瘡上，別以紗罩之，一夜解下掛看，是小赤蟲，即以蔥椒湯洗淨，用舊籠內白竹葉隨大小剪貼，一日二換，待汁出盡，逐日煎苦楝根湯洗之，以好膏貼之，將生肉勿換膏藥。</p>

<h3>取痔蟲</h3>
<p>水銀棗膏各二兩，同研納下部，綿裹納，明日蟲出。</p>

<h3>痔漏有蟲</h3>
<p>黑白牽牛各一兩，炒為末，以豬肉四兩，切碎炒熟，蘸末食之，食盡以白米飯三匙壓之，取下白蟲為效。</p>

<h3>腸痔出血</h3>
<p>桃葉一斤，杵納小口器中，坐蒸之，有蟲自出。</p>

<h3>下部蟲癢</h3>
<p>蒸大棗取膏，以水銀和捻長三寸，以綿裹，夜納下部中，明日蟲皆出。</p>

<h3>下部䘌蟲</h3>
<p>痛癢膿血，旁生孔竅。</p>
<p>蜣螂七枚，五月五日收者，新牛糞半兩，羊肉一兩炒黃，同搗成膏，丸蓮子大，炙熱綿裹納肛中，半日即大便中蟲出，三四度。</p>

<h3>三木節散</h3>
<p>治風勞面色青，肢節沉重，膂間痛，或熱，或躁，或嗔，思食不能食，被蟲侵蝕，證狀多端。</p>
<p>天靈蓋酥炙研二兩，牛黃、人中白焙各五錢，麝香二錢，為末，別以樟木瘤節、槐木瘤節各為末五兩，每以三錢，水一盞，煎半盞，去渣，調前末一錢，五更頓服，取下蟲物為妙。</p>

<h3>肝勞生蟲</h3>
<p>眼中赤脈。</p>
<p>吳茱萸根為末一兩半，粳米半合，雞子白三個，化蠟一兩半，和丸小豆大，每米湯三十丸，當取下蟲。</p>

<h3>脾勞發熱</h3>
<p>有蟲在脾中為病，令人好嘔。</p>
<p>東行茱萸根，大者一尺，大椿子八升，橘皮二兩，三物合咀，以酒一斗，浸一宿，微火薄暖之，絞去渣，平旦空腹服一升，取下蟲，或死或半爛或下黃汁。凡作藥時，切忌言語追勞取蟲。啄木禽一隻，硃砂四兩，精豬肉四兩，餓令一晝夜，將二味和服之，至盡，以鹽泥固濟，煅一夜，五更取出，勿打破，連土埋土中二尺，次日取出，破開入鉛口器內，研末，以無灰酒入麝香少許，作一服，須謹候安排，待蟲出，速鉗入油鍋內煎之，後服《局方》嘉禾散一劑。</p>

<h3>大風癩蟲</h3>
<p>苦參末二兩，豬肚盛之，縫合煮熟取出去藥。先餓一日，次早先飲清水一盞，將肚食之，如吐再食。待一二時，以肉湯調無憂散五七錢服，取出大小蟲一二萬為效。後用不蛀皂角一斤去皮子，煮汁入苦參末，調糊下何首烏末四兩，防風末一兩半，當歸末一兩，白芍藥末五錢，人參末三錢，丸梧子大。每服三五十丸，溫酒或茶下，日三服。仍用麻黃、苦參、荊芥煎洗之。</p>

<h3>癘風有蟲</h3>
<p>眉落聲變，用預知子、雄黃各二兩為末，以乳香三兩，同水一斗，銀鍋煎至五升，入二末熬膏，瓶盛之，每服一匙，溫水調服，有蟲如尾隨大便而出。</p>

<h3>大風癘蟲</h3>
<p>黃柏末、皂角刺灰各三錢研勻，空心酒服，取下蟲物，亦不損人，食白粥三兩日，服補氣藥數劑。如四肢腫，用針刺出水再服。忌一切魚肉發風之物，取下蟲大小長短，其色不一約一二升，其病自愈。</p>

<h2>藥戲門</h2>

<h3>大道丸</h3>
<p>治荒。</p>
<p>黑豆（一升，去皮）　貫眾　甘草（各一兩）　茯苓　吳術　砂仁（各五錢）</p>
<p>上銼碎，用水同豆熬煎，火須文武緊慢得中，直至水盡，揀去藥，取豆搗如泥，如芡子大，磁器盛之密封。每嚼一丸，則恣食草木苗葉可飽，且無毒，其味與飯同。</p>

<h3>祖師修行方</h3>
<p>白茯苓　甘菊花　松柏　香白芷（各十兩）</p>
<p>共為末，蜜丸黃豆大，每服十丸送下，百日不飢。連服三服，永不飢也。不信先將一丸與雞吃，百日不飢，要開藥之日，先吃米湯或菜湯，亦可取下藥來。</p>

<h3>韓湘子脫衣方</h3>
<p>五靈脂、半夏及天仙、狼毒、雅兒（草烏也）等分，全搗爛，細羅三四兩布袍，用水七升煎，輕輕慢火煎熬盡曬燥。來雪後穿，雖是一重單，如著十斤綿。</p>

<h3>韓湘子煮袍鞋法</h3>
<p>茯苓　貫眾　天仙子　狼毒　草烏　白礬　五靈脂（各一兩）</p>
<p>上共為細末，用水一桶，同藥末下鍋煮袍鞋一雙，汁盡曬乾。冬不透風寒，夏涼不漏水。</p>

<h3>煮白石法</h3>
<p>七月七日，取地榆根不拘多少，陰乾百日，燒灰，復取生者，與灰合搗萬下，灰三分，生末一分合之，若石二三十，水浸過三寸，以藥入水攪之，煮至石爛可食乃已。</p>

<h3>行路不吃飯自飽</h3>
<p>芝麻（一升）　紅棗（一升）　糯米（一升）</p>
<p>上共研末，蜜丸如彈子大，每服一丸，水下可一日不飢。</p>

<h3>行路不飲水不渴</h3>
<p>白砂糖　白茯苓　薄荷　甘草（各四兩）</p>
<p>上共為末，煉蜜丸如棗子大，每服十丸含化，可千里之程不渴。</p>

<h3>千里酒</h3>
<p>天仙子　川烏　貫眾（各一兩）　甘菊花（三錢）　陳皮（五錢）　甘草（一錢）</p>
<p>上為末，糯米一升，燒酒五碗，煮作粥糜，冷定入前藥和勻，瓶內封固，三七日取出，用面一斤，炒黃為末，煉蜜丸如櫻桃大，並酥油金箔為衣，用時投一丸於滾湯中，即化為酒。</p>

<h3>千里醋</h3>
<p>烏梅一斤去核，釅醋五斤，浸一伏時，曬乾，再浸再曬，以醋收盡為度，搗為末，醋浸蒸餅和之，為丸如芡子大，飲時投一二丸於滾湯中，即好醋矣。</p>

<h3>千里鞋</h3>
<p>治遠行腳腫。</p>
<p>草烏　細辛　防風</p>
<p>上各等分為末，摻鞋底內，如草鞋以水微濕摻之，用之可行千里妙。</p>

<h3>漿衣不透雨</h3>
<p>草烏　白及　白茯苓　狼毒　白仙子　白礬（各一兩）</p>
<p>上共為末，和入漿內，衣不透雨。</p>

<h3>暑天換襖</h3>
<p>蒼朮　白芷（各四兩）</p>
<p>上切片，真麻油浸之，過三宿炒乾，不用研，每至半夏子時，食三兩，以盡為度，故著衣不熱。</p>

<h3>寒月入水</h3>
<p>端午午時，取水蜈蚣不拘多少，曬乾為末，每服須三五錢，暖酒送下，不可冷吃，如冷吃即生瘡疥，可以冬月入水無妨。</p>

<h3>造夢法</h3>
<p>䓪花陰乾，百日搗末，日暮水服方寸匕，乃臥思念所欲事，即於眠中見晤也。（䓪花即萯陸花也。）</p>

<h3>見鬼丸</h3>
<p>生麻子　菖蒲　鬼臼</p>
<p>上各等分，杵丸彈子大，每朝向日即服一丸，百日見鬼也。</p>

<h3>剃頭不用刀</h3>
<p>石黃、石灰各一兩，樟腦為末，調敷即下。</p>

<h3>女人去面毛不用線</h3>
<p>石黃（三錢），石灰（二錢），為細末，水調臨臥時敷面，則面毛盡去矣。</p>

<h3>飲酒不醉</h3>
<p>赤黍浸以狐血，陰乾，飲酒時取一丸置舌下含入，令人不醉。</p>

<h3>寫字去墨</h3>
<p>滑石（二兩）　石灰（一兩）　烏羊骨（二兩，燒灰）　赤硇砂（一兩）</p>
<p>共為細末，米泔水調勻，磁罐收置，背陽曬乾，用時清水扎蓋字上，候片刻擦去。</p>

<h3>又法</h3>
<p>山中活竹將一節開一小孔，括去青入砒末於內，生漆綿纏口，待三五日，竹有霜，磁罐收貯擦字。</p>

<h3>又法</h3>
<p>白羊骨（煅一兩）　白丁香（一兩）　寒水石（五錢，半生半煅）　紫鹼（一兩）</p>
<p>為細末，用雞蛋開一小孔，去黃留白，調藥復入殼封固，入雞蛋內同抱，以小雞出為度，取出，用水調擦，立刻彈去。</p>

<h3>又法</h3>
<p>官粉（一錢）　蔓荊（七分）　龍齒（三分）　白丁香（三分）　紫丁香（鷹屎也，三分）</p>
<p>上共為細末，用皮術汁調勻，以磚兩塊燒滾，候溫，將藥夾於其中，次早自干，仍研為末，用時手指擦塗於字上，其墨自落矣。</p>

<h3>洗字法</h3>
<p>西瓜一個，約重三斤半，熟者，蒂邊開一孔，入官硼砂（三錢五分）　砂（三錢五分）　磠（四錢）</p>
<p>上共為細末，入瓜孔內，懸七日，白霜自出，以翎毛掃下，又一七收用，先將清水濕字，以藥擦之，待乾用翎掃去，紙白新鮮。</p>

<h3>起字法</h3>
<p>明礬（三兩）　鷹糞（三錢）　石灰（一兩）　官粉（一兩）　雀糞（三錢）　陽起石（一兩）　鶴糞（三錢）　透骨草（一兩）</p>
<p>俱為細末，童便調將打桶盛掛陰處，發出霜，水調描字，墨自去。</p>

<h3>墨名不染紙</h3>
<p>端午午日，用上好京墨一塊，不拘大小，入蝦蟆口中，線縛定口，於朝陽地上掘一坎，深五尺不拘，埋蝦蟆在內，經四十九日，取墨寫紙上，一拂便落。</p>

<h3>灰種仙菜</h3>
<p>術家用羊角蹄燒作灰，撒濕地，遍踏之即生蘿勒，俗呼王母菜，食之益人。</p>

<h3>驅除虎蛇神煙</h3>
<p>鹿、牛、羊、麂、犀，角各二兩，烰炭四兩，硝黃各二兩，雌黃、雄黃二兩，則虎、蛇亦遠矣。</p>

<h3>驅鼠法</h3>
<p>桃頭、椿樹皮、絲瓜藤、楝青葉各等分，曬乾研末，加信石一錢燒之，鼠即遠矣。</p>

<h3>掃蚊煙</h3>
<p>端午多收浮萍，曬乾研末，楝樹花、團魚骨、鱔魚骨、信石少許，共研末，燒一次，七夜無蚊。</p>

<h3>聚蝶</h3>
<p>取百花心陰乾夜露蜜拌，見有眾蝶飛舞，將蜜塗兩手心，立上風，將兩手相合而搓，相向而拍，群蝶聞香皆來就矣。</p>

<h3>拍掌喚蝶</h3>
<p>至春來採取諸花蕊，用白馬尿三日曬乾研末，以川椒塗手上，卻於有蝶處立於上風，拍掌即飛來矣。</p>

<h3>漿衣去蝨</h3>
<p>白果二三十枚，加水銀三分，搗野菊花三錢研末，同漿攪勻漿衣，永不生蝨。</p>

<h3>造白雀法</h3>
<p>雀方出殼未羽時，以蜜和飯飼之，則遍身生羽毛。</p>

<h3>鳶頭散</h3>
<p>治鬼魅邪氣。</p>
<p>東海鳶頭黃牙，即金牙茛菪子、防葵為末，酒方寸匕。欲令病人見鬼，增防葵一分。欲令知鬼，又增一分，立驗，不可多服。</p>

<h3>擦銅如銀</h3>
<p>水銀（二錢）　白礬（一兩）　飛丹（一錢）</p>
<p>用唾研末為度，以銅洗淨，用藥擦之，即紅銅亦如白銀。</p>

<h3>擦錫如金</h3>
<p>膽礬一兩，白礬一兩，共為末，擦之，錫如金色，鐵變紅色。</p>

<h3>點斑竹</h3>
<p>硇砂（五錢，細研）　綠礬　膽礬（各三錢）　石灰（五錢）</p>
<p>一處再研細，入濃灰汁調勻，隨奇文點，候乾揩洗，其斑如自然者，磁器竹木皆可用。</p>

<h3>又法</h3>
<p>硇砂（五錢），石灰（一兩），共研米醋調點畫竹上。</p>

<h3>點磁器</h3>
<p>白及（一兩）為末，雞子清調勻修補，以線紮緊，火上烘乾如新，永不壞。忌用雞湯。</p>

<h3>磨鏡丹藥</h3>
<p>水銀一兩，上好錫夏秋七分，春冬八分，明礬夏秋一錢二分，春冬一錢五分，先將錫熔化，入水銀攪勻，冷定，同研細如飛面。大略要不起霜，礬少為妙，加鹿頂骨更妙。一云鹿骨燒灰。</p>

<h3>寫字入石</h3>
<p>龜尿炭、硇砂少許，共為末，入硯池水內，然後研墨，以新筆寫字石上，可透一分入石內。若寫在木上，或門上，可入透五分。</p>

<h3>點藥鏡</h3>
<p>雌黃入紫粉霜硇砂，細研末，用膠水調，任意於鏡上描鸞鳳花草，候乾，火燒片時，以磨鏡藥磨去，其畫自現。</p>

<h3>稜碗膠</h3>
<p>桐油熬熟，入瀝青調稀，入石灰調合作膠。</p>

<h3>頃刻成碑</h3>
<p>爐底不拘多少，加白礬少許，再用鵝蛋清調成錠用。</p>

<h3>瘦米</h3>
<p>採黑飯樹葉，（即南燭枝葉。止庵按：非也。余曾見山人作青飯，以胡麻葉漬米為之。胡麻似南燭，實圓葉如細珠，味甘，時人皆未之見，故方言多誤。）清水浸米，九蒸九曬，則米瘦如麻，每石瘦至一升，涼水一泡，頃刻成飯，且輕少，利於持負。</p>

<h3>巧洗油跡</h3>
<p>如衣服被麻油汙垢加上桐油，如被桐油汙垢加上麻油，後將細面泡湯洗之，如不淨，加紫蘇湯洗之如神。</p>

<h3>春球</h3>
<p>用濾淨柴炭湯三飯碗，下鍋燒滾，逐漸摻下松香末約兩許，急將筋旋摻旋攪，再煎幾過，用篾扎圈如茶杯大，蘸湯灑空中，結泡大如碗，五色飛揚可玩，或用稻柴灰亦可。</p>

<h3>斟酒不溢</h3>
<p>無名異磨盞口，注酒雖浮於盞，不溢出。</p>

<h3>又法</h3>
<p>用好沒塊周圍抹杯口上，將酒斟滿，盈過杯一分，其酒不溢出杯外。</p>

<h3>葫蘆相打</h3>
<p>取一樣葫蘆三個，挖開大口，以末和膠調填在內。一個將蠟調針砂置口內，一個將磁石末調膠置口內，一個以水銀置口內，將針砂者與磁石者放在一處，兩個自然相打，後將水銀者放於中間，兩個自然分開。</p>

<h3>木狗自走</h3>
<p>實木一段雕狗形，以膠水並鹽醋調和鐵屑擦在狗頭上，候乾，以上好磁石一塊暗藏於手內，引其狗走，隨手而來。</p>

<h3>金盃分酒</h3>
<p>取獺膽塗犀角簪上，將酒一杯斟滿，將簪向杯中分其酒，兩開矣。</p>

<h3>手帕盛酒</h3>
<p>胡粉（五錢）　槐膠（二分）　雞蛋（一個用清）</p>
<p>用水一碗拌勻，以新手巾在其藥內洗三四次，熨開如故，任意盛酒，一滴不漏。</p>

<h3>做大蛋</h3>
<p>豬尿脬一個，不落水，將灰拌，用腳踏至大，不拘雞鴨蛋，一樣打破，傾碗隨多少調和裝入胞內，紮緊口，外用油紙包裹，沉井底一夜，次日取出煮熟，剝開胞，內黃白照舊，如大蛋一般，甚妙。</p>

<h3>長明炷</h3>
<p>谷樹滋擦燈草陰乾，又上一硫黃少許，一梗可點一更。</p>
