<header data-type="book">
<h1>溫證指歸</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周魁</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1799">公元1799年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>軒岐來無溫疫之書張長沙為千古傷寒之祖而溫症略載數條而已至河間書出而溫症始有所宗宋以來溫症局方慨宗河間雙解法明喻嘉言從傷寒諸論髮長沙未發之旨然尚論篇究非溫症專書吳又可始著溫疫論創邪在募原之說詢乎元燈獨得矣</p>
<p>我朝諸名家各執一見以補偏救弊究不外河間三焦立論益以吳氏諸成法而已吾鄉戴麟郊先生復廣其論分汗吐等法為六門及諸雜症條分縷晰開後人無數法門茲祖其意略附以溫疫所受之原及諸名家所論與夫似溫症而實非溫症等法匯為一冊敢云指南之鑑然其中一二心得之處未必不可補前人所未逮而為青囊家之一助也靜氏自序於藥書艸堂</p>

<h1>卷一</h1>

<h2>引錄孫真人論溫一則</h2>
<p>孫真人曰易稱天地變化名正性命然則變化之跡無方性命之功難測故有炎涼寒燠風雨晦冥水冒妖災蟲蝗怪異四時八節種種施化不同七十二候日月運行各別終其晷度方得成年是謂歲功畢矣天地尚如此在人安能無事故人生天地之間命愛莫能助遭際時有否泰吉凶悔吝苦樂安危喜怒愛憎存忘憂畏悶心之慮日有千條謀身之道時生萬計乃度一日是故天無一歲不寒暑人無一日不憂喜故有天行溫疫病者即天地變化之一氣也斯蓋造化必然之理不得無之故聖人雖有補天之極參天之德而不能廢之而能以道御之其次有賢人善於攝生能知撙節與時推移亦得保全天地所生之物以心備之命曰知方知方則病無所侵矣然此病也俗人謂之橫病多不解治皆曰日滿自差以此致枉者天下大半凡始覺不佳即須救療迄至於病愈湯食競進折其毒勢自然而差必不可令病氣自在恣意攻入拱手待命斯為幸矣</p>

<h2>溫證正名論</h2>
<p>內經曰氣合而有形因變以正名故病必先名正而後言順如傷寒病名實懸殊漢張仲景專究傷寒其書以傷寒立名詳列六經諸證然後治法並然不亂所謂名正言順也至溫證物附見其名而未詳論其治以其書本為傷寒設非為溫證設也後人不察遂以溫病為傷寒因以傷寒之法治溫病其妄久矣惟劉河間治溫獨出手眼為功　甚鉅惜仍附入傷寒門中未正其名崑山王安道先生受業於朱彥修著溯洄集二十一篇始言溫病不得混稱傷寒發明　溫病脈右盛於左由怫熱在內雖間見表證而里證為多法當治裡熱為主而解表兼之亦有治里而表自解者於是溫病之名始正厥後喻氏嘉言著溫病語錄言溫病熱自內出經氣先虛雖汗之多不解反復申明不可汗之禁以為發汗死者醫知殺之也張氏璐玉因之論傷寒自氣分傳入血分溫病由血分發出氣分並　申明伏邪自內達外最忌辛溫發散於是溫病之旨漸暢惜喻氏議論太繁未免蕪而寡當而張氏仍雜入傷寒條例亦覺擇焉未精至若吳又可論邪伏膜原創達原三消等法吾鄉戴麟郊先生復廣其說增入色脈兼夾諸條立法甚精但二書惟主膜原溫從濕化之義僅能治濕溫之病不能治三焦溫熱之邪近時楊吾慄山寒溫條辨一書薈萃前言折衷理要辨明溫病與傷寒異受治法各殊立論以清邪中上焦濁邪中下焦及溫病由血分發出氣分諸說為溫病發受之原遵內經熱淫之旨參河間通聖之義變為增損雙解諸方其說似創實因其法似奇實正溫病一證乃得名正而治詳矣迄今遇溫病用其法十全八九或疑膏黃硝石過涼易於冰伏不知吳方本為火化之病而立非可概治他病也如紀曉嵐先生筆記云乾隆癸丑春夏間京師多疫以張景岳法治之　十死八九以吳又可法治之　亦不甚驗有桐城一醫以重劑石膏治馮鴻膚星實之姬見者駭異然呼吸將絕應手輒痊踵其法者活人無算有一劑石膏用　至八兩一人服至四斤者雖劉守真之原病式張子和之儒門事親專用寒涼亦未敢至是可知病隨氣發治隨病更經曰必先歲氣母伐天和醫者能推其運氣正其病名施其治療無不可效茲特述其大略因名曰溫證下名云</p>

<h2>溫證匯海論</h2>
<p>百川匯於海海也者匯百川於一源也如溫證自靈素以下歷代名賢各有著述惜乎皆混入傷寒中求其類聚於一源者多不概見於是遍集諸書以求歸宿粵稽內經熱病刺熱等論井井有條至為詳備此溫證之發源也秦越人著八十一難經云傷寒有五溫病附於其中仲景傷寒論云太陽病發熱而渴不惡寒者為溫病所以提綱列目正　見溫病之治不同於傷寒而後入轉因此混寒溫為一門考史記倉公治熱病用火齊湯火齊湯者三黃湯也是溫病宜涼不宜溫主裡　不主表前乎仲景已有成法矣後賢如子和東垣專理內傷丹溪方矯局方溫補之　非子和發明瀉南補北之義其書皆有功醫學而於溫證未有定論河間涼膈雙解諸方識　超千古惜仍附入傷寒未特成一書以垂世立教迨王安道先生溯洄集始辨明寒溫燦若列眉後此喻嘉言　尚論篇云溫暑濕熱之氣交互結蒸人在其中無隙可避病者當之魄汗淋漓一人病氣足充一室況於聯床並榻沿門合境種種惡穢人受之者親上親下各從其所類謂大頭捻頸撲瓤楊梅溫名狀不一又論東南地氣卑濕溫邪易受其溫病語錄一書論之尤詳吳又可獨抒心得發明溫萬之氣自口鼻入膜原特製達原三消諸方祛穢逐邪麟效戴氏而廣之其法更備長洲張氏璐玉著有醫通纘緒二論言溫病慎勿誤認傷寒而與表藥發汗不惟不解其熱轉變危殆治法當從雙解涼膈諸方兩解表裡以上各家雖流別稍殊而淵一譬之江淮河濟各擅波瀾慄山楊君因是溯流窮源而成條辨一收闡明邪伏三焦之義推河間雙解清化神解　諸方以溫邪皆穢濁之氣用殭蠶蟬退清化之品以升之芒硝大黃猛勇之劑以蕩之其於治溫一法可謂集諸說之大成而包羅萬有總會眾流者也歷考方書惟張氏景岳偏於溫補治溫稍異諸家就其中論證立方非無可取他若柯韻伯溫暑指歸辨明冬不藏精及三　氣合病之理葉天士溫熱論詳著通陽救陰及辨舌驗齒之法以及松峰說疫溫疫論類編廣入方言俱有微旨擬之支流曲澗皆可資灌溉之功而求其江洋浩瀚確乎為眾派之歸宿吾於慄山一書有觀海之歡焉狃於傷寒舊習者倘亦如河伯之旋其面目否乎</p>

<h2>溫證窮源論</h2>
<p>客有部於予曰溫證有源乎予曰有萬氣者溫證之源也夫萬氣自口自口鼻入中入三焦內通臟腑傳變不一乃天地間別有一種疵萬旱潦之毒氣非四時不正之常氣可比如內經冬不藏精春必病溫仲景太陽篇不惡寒之溫病以皮風濕濕猶是四時不正之常氣也惟萬氣則不然中人則人病中畜則畜傷且此隅病而彼隅安可知氣至則病氣不至則安試觀天之寒暑地之草木應候而生應候而更概可見矣平脈篇云清邪中上焦濁邪中下焦以此悟之邪中三焦又柯徵矣此溫證感受之源也蓋溫厲之氣多行於歲火太過之年流行一方民病相似邪之中人潛伏三焦無臭鬱極而發發時為病不一考評熱病論問有溫病者汗出輒復熱而脈躁疾狂言不能食病名為何對曰病名陰陽交交者死忝之今之治溫者往往強發其汗而邪不解其義顯然矣且邪伏三焦其病作之狀有可得而言者腎通心臟之陽又為胃之關門胃為交會之地兩陽合明病從其象故上焦受邪則胸悶壯熱背脹氣急中焦受邪則嘔吐脅痛口渴胃痛下焦受邪則二便或有或無或腹痛便血三焦俱受則頭痛如破腰痛如折一身不動往往昏憒反似虛寒有脈或沈伏如絲而病現壯熱煩渴者有舌或白滑而口乾咽燥者有便利而解膿血者外雖似寒內實大熱所　謂亢極似陰若不細心研究誤投溫補禍不旋踵詳此治法慄山楊君先得我心寒溫條辨書出首列升降一方以一方化至十餘方輕則清之重則瀉之與吳氏達原變而為三　消等方之義同但達原者因歲土太陰之政邪發膜原故立辛溫苦寒之法此濕　土之正治也與三焦有名無形　不同考中藏經云三　焦者人之三元氣也號曰中清之府總領五臟六腑榮衛經絡內外左右上下之氣三焦通則內外左右上下皆通閉則皆閉可見溫邪困伏為病不一且是經為手少陽與命門相火為表裡故焦字從火義可思矣少陽又為半表半裡之境邪伏於此則出表入里任共　所謂治法自當表裡兼治雙解法所為獨得其旨也假令伏邪初萌外為寒濕所困時俗治法往往　投以辛溫發散一汗而表解解後溫邪繼發而仍守表裡常格每見變生倉卒若以治溫之法治之無不隨手而愈更有虛寒夾溫症得雙解病勢甫平虛寒隨見或以溫補之法偶爾成功遂大謗雙解之非此不明兼夾之故豈足以言經權也哉</p>

<h2>羊毛疹辯</h2>
<p>按羊毛疹之說倡於張陽和辯於沈萍如陽和以其法治病多所全活余及　瘍醫濮韞良皆身受其益余踵其法以愈詩入何南園酬我以詩載在詩集萍如引證治準繩說鈴談往及</p>
<p>御纂醫宗金□載有羊毛疔形症治法井井有條且言後心有紅點隱隱如疹形則疔與疹相通固已明著其端矣萍如乃謂吳太醫未嘗經見此證因準繩載有前條不敢遺又不敢信不知</p>
<p>金□一書乃我</p>
<p>皇上仁育物之心一時秉筆皆老師宿學所載證治確而為徵豈他書不足取信者比耶萍如引經　文毛蟲屬木其氣臊之說以為羊毛疔證乃少陽經病木邪侮金髮於肺部膽中背俞之分獨不思疹亦肺病乎木邪侮金可以為疔獨不可以為疹乎若　謂從前方書未見其名遂棄而不信則讀漢以前之書將謂世無痘症可乎至其詳列歲氣謂前此丁亥癸未未聞有此證則尤所謂刻舟劍視古今成一印板天地而造化為無權矣若羊毛之名原不必泥禮云羊曰柔毛或取毛之細弱有類於羊而名易大壯以羊象　陽羊為兌象或如萍如所言少陽經病以羊象少陽或如萍如所言木邪侮金以羊象兌金於義皆有可通復何訾議耶若云蕎麥麵久搓能落毛髮則毛之一搓即出及必待針出及必待針挑而後見毛間五色長短不一者又何說耶總之陽和立法原有活人之功萍如著書亦為濟而設乃陽和既未能自暢其說而萍如又徒逞一已之私見而不酌事理之平其書中罨醬生毛之喻及小陽為樞樞闢而毛化樞滯而入死之論亦多可取獨其據說鈴指為災異則是理不足而以危語相恐嚇非君子立言之道也夫醫者意也當忝活法毋狃成心況金□明載有羊毛疔例疹正可舉一反三何災異之有如晰微補化之羊毛沙脹金鏡錄集解之羊毛沙證種種皆可印證豈可盡指為災異耶金淺見寡聞未能博考方書惟准以情理忝以見聞覺疔疹皆屬溫邪重則為疔輕則為疹結則為疹治其溫邪而毛自化與金□治疔之法相仿間或加以桃擦亦祖內經瀉熱之義於人亦何所損失醫乃仁術生命所關惟望二三同志毋狃於有此說而藉此居奇尤毋狃於無此說而直廢成法使可治之病橫羅夭枉虛心辨證按證立方務求切實功效而不從為嘵嘵口舌之爭則於張沈二君之心兩無所負並能推廣</p>
<p>金□明仁育萬物之功於無窮矣詎不足增醫林之光而為蒼生之福哉</p>
<p>又按痧疹二字遍檢字學有疹無痧想痧字乃近世之方言也考疹者癮疹也皮外少起又疿病也與今所見之疹如雲頭如疙瘩如粟起如疿瘄頗與頗與字學相符多屬風熱鬱於手太陰肺足太陰脾困於里故腹痛散於表故搔癢雖曰微恙調治不當多成痼疾甚者閉悶即危可不慎與</p>
<p>又考痧之形證每逢盛行之際比戶皆然患者身發壯熱咳嚏頻頻現形如霞如錦有輕有重者三日漸沒重者七日尚不能遽退閉者一二日即斃後渾身青紫有邪化不盡多歲月或羸疲潮熱或肌膚甲錯或咳吐膿血或牙齦破爛種種不一竟無一起良可悲夫昔賢論屬胎毒發自六腑於理未確予則謂天行疫氣使然今人肖形命名痧字與疹字義原可通況古人原有痧即是疹疹即是痧之說內經曰金位之下火氣承之明指熱邪鬱於肺胃膽中胸膺背俞之分以此悟彼羊毛溫疹可以類推矣</p>

<h2>治溫證當明氣運方隅高下人質強弱論</h2>
<p>嘗考歷肛名賢絕無一人源只內經溫病刺五十九穴以瀉熱一語而已未有湯藥治療也不知天地之大運偏陰偏陽數十折必一更轉如南北高下之不同水土剛柔之各異人質因之而強弱或逢大運君火則河間之涼膈通聖是其時也運轉寒水則醫貫全書錦囊之辛熱溫補中其病也或溫土之運吳氏之達原三消相火之運粟山之升降雙解皆在所必需至於風木燥金可以類推矣要之數君生不同時居不同方其書原俟後人對證採擇乃知劉氏乃大運君火之時大運有君火則必有寒水此時大運偏陽逾時又必偏陰惟是推之以運徵之以病驗之以藥則知氣運有偏勝而藥亦必有經權苟執前人印定之書心胸為其所滯而不通變則與癡人說夢有何異焉</p>
<p>又五運六氣周甲而更隨運而轉偏陰偏陽孰寒孰熱自有定理而後人隨證之治所著之書寒熱不同補瀉各異前賢歷歷可稽猶　有未經發明之處如大運六十年一更小運十二　歲一轉靜揆其理大運六十一更乃定數也小運十二轉乃變數也定數可稽變數難察猶易卦之爻理難窮惟業醫者心領神會耳如陰厥陰風木之運則承上太陽寒水之運而來考之於經明之大運已轉風木而所現之證所施之法仍屬寒水厥後漸漸不應而以風木之法治之又如影響何也運雖按甲而上運之餘氣不能遽已譬如大水之後巨浪雖平細流未息直待本運轉正則天下之人咸知其為某運也是時英賢隨運著作書帙甫成尚未廣行孰料運又暗更人猶未覺據其書用其法施治罔當運之是賢又譏前非不知運氣循環周而復始逾數十年逢其運用書施治而無不應明乎此非書之偏也乃運之更也大運如此更有小運轉遷客氣加臨非神而明之鳥能洞悉業醫者更當心領神會</p>

<h2>發明溫熱傷寒不同斷斷不可混治</h2>
<p>簽署寒溫熱二證同受天地之氣為病咸云厲殺自古至今人相習而不察據其外證惡寒發熱頭痛身熱無不以傷寒為名皆混於象而不察其證　執其常而不觀其變概名之曰傷寒孰知岐出多端豈可一律論哉且傷寒為病一日太陽二日陽明三日少陽次之三陰七日傳遍不再傳　矣在表一汗而解在裡一下而解在胸一吐而解克有定期定證可據若溫熱則變化無常感受不覺莫可尋思其發也不循經次乘竇而作親上親下各從　其類感之輕者即體虛之人照常疫治之亦隨手而愈受之重者即強壯之輩一病無不頭痛寒熱身體痠疼有似傷寒而誤以治傷寒之法治之強發其汗而汗反無轉增神昏胸悶胎刺舌黑譫妄呃逆等危致津液枯竭真陰內敗無生機也其尤重者一病即神識不清舌黑鼻煤肢冷脈伏有似虛寒醫者見此每每投以姜附參桂無不立斃要之辨症貴精雖外現寒象內兼一二熱象可疑之處即當細心詳究如咽乾口苦舌赤心煩氣噴如火坐臥不寧二便知少等證自當以裡熱為真外寒為假經所謂亢極似陰施治必須寒涼故辛溫之品皆為弋戟經又曰寒者熱之熱者寒之寒為陰邪治陰邪以陽勝麻桂姜附等湯是也溫屬陽邪治陽邪以陰勝三黃石膏雙解涼膈等方是也二證寒熱不同汗下各異斷斷不可混治大抵傷寒汗解在前溫證解在後傷寒不下厭遲溫證不下厭早此曷故也傷寒之邪中人肌表可一汗而解溫毒之邪中人內臟不但汗不能解即屢下尚不能敵其凶厲之鋒正如酷暑炎威燦石流金非大雨滂沱商飈頓起不能變火境為清涼化剛強為柔順夫然後天露降土膏潤萎草蘇人身亦然揆之以理天運為之近年以來冬無　層水積雪之寒反多溫暖　之天患傷寒者少病溫熱者多況東南之地陽氣常泄偶有風寒多屬感西北地高風冽多病傷寒可比間有不然五運交換寒暑更易有相火之運則必有寒水之年斯時南北氣運又不可同日語也苟明氣運更遷之理而為治病之大綱其於傷寒溫熱判若黑白了無余蘊矣</p>

<h2>治溫毒當與治痘毒同忝</h2>
<p>痘毒者父母情欲之火也溫毒者天地疵厲之火也同一火也為病各殊痘感未形之先發於既形之後必待天行疫氣擊而後發如石中之火不擊則不出也是疫為擊火之器火為發痘之原古人　謂痘為溫疫之一端誠哉此言治痘法以升散攻利　保存元化毒導邪外出為先尚有一事實上之規模不似溫毒有質皆傷如棗得霧即枯蟹得霧即死人中之無論老幼強弱一觸即病至其失治較痘之焦頭額爛胃腐腸實同一轍更有甚者毒閉不出如痘之折腰發班溫之膚紫衄血形異情同考之內經諸痛瘡瘍皆屬心火之旨為火言非專為痘言余以靜理忝之上古人情淳樸飲食淡泊即有七情六淫之火　為害亦小不似今人腥膽適其口炙烙充其腹膠醪醇灌其腸嗜欲勞其精起居失其時一遇天行溫毒邪未中人而人以預損之軀早已招邪外人與內蘊之火兩相搏激其致病與痘相得天真之體尚稱完全溫欺殘傷之身誠難施治予一得之見請證高明</p>

<h2>治溫當以保元為要</h2>
<p>人身元氣猶大廈之棟梁柙壁結構層檐飛覆無不附此而出一遇溫邪如火沿焚即當撲滅庶馬粱不腐而廈不傾觀婦人懷妊患溫去其邪而胎蔭如故大可覺悟請以藜藿之夫少壯之輩論之年華方盛氣血方剛一受溫邪即當先行逐邪俾邪去正安不必保元而保元之意已寓其中矣嘗見世人拘泥者多融會者少一見患者溫邪萌作神疲體倦色晦無神多疑正不勝邪審人之強弱概以扶正化邪育陰化熱為主視為平穩每每因循失治變生倉卒殊不知溫毒酷厲敝人清神真實假虛最易滋惑急去其邪即是保元惟　有真虛者為難一受溫邪如懦人招事不敢聲強當審明何臟虛損照四損不可正治條忝看先固其虛復治其邪斯為合法經所謂毋實　實毋虛虛即此意也然而實者如棟梁大廈尚可撐持虛者比朽木頹垣無所倚恃斯時烈焰焚空為問救梁是務救火是務乎意欲保元而病邪不去將欲去邪而正氣先傷醫者處此每有無所適從之嘆焉然未嘗無法也曲直方圓畢歸繩墨善戰守出瞬息萬變將才古人謂用藥如用兵一補一攻　一補三攻非無成法於邪盛之際而攻之攻邪不傷元氣於邪衰之候而補之補正無妨病邪斯為攻補兩得其宜不犯虛虛實實之弊即所謂保元之要說也然虛實之當辨豈獨為溫病一語設耶</p>

<h2>吳又可為治溫證千古一人</h2>
<p>溫熱一證自軒岐以下千百年來絕無一人專言此病者前已申明茲復何贅意猶未盡請再詳之夫靈素一書聖經也一言而包萬有傷寒一書聖文也一海而匯百川聖經即已發明傷寒溫病兩途長沙醫聖自必有文以闡經旨斷不能詳於傷寒而略於溫證也想因兵火之後傷寒一書尚出自散　亡之餘溫證之文遺失殆　盡無自追尋歟迨至吳又可能闢千古之案獨開生面自創自因發明邪伏膜原及論證剴切詳明治法井井俾後世業醫者得以問津謂非千古一人耶厥後戴氏廣其論說活人之　功豈止億萬雖其立義僅詳濕溫一門慄山楊氏因其緒論推其氣運闡河間之奧義而治溫之法益詳然原其作始創立專書標明宗旨吳氏之功誠不可泯云</p>

<h2>溫病有表證無表邪論</h2>
<p>溫屬厲氣自口鼻吸入流布三焦越人云上焦在胃上口主納而不出中焦在胃中脘主腐熟水穀下焦在膀胱上口主分別清濁細繹經經文三焦雖有名無狀之腑而實總統於胃胃者五臟六腑之海主裡不主表溫邪自里達表故治溫諸家有下不厭早之說蓋在經謂之表邪在胃謂之裡邪溫病有里邪無表邪瑟傷寒表邪傳裡方為里邪者不同故當專治里邪或問溫病即無表邪焉有表證如太陽之發熱頭項痛陽明之目痛鼻乾眉稜骨痛少陽之脅痛耳聾寒熱口苦傷寒有之溫病亦有　之何謂也予曰不然傷寒之表證皆表邪顯呈於外也故有表邪因有表證溫病之表證即里邪浮越於外也故有表證實無表邪又可吳氏所謂熱淫之氣浮越於某經即現某經之證者此也試以格物之理言之燃薪於一室煙必迷漫於當空人望其煙而指為煙不知煙之有其本也內經云有在其標而求之於本使治其標而忘其本不幾誤哉嘗見令之治溫病者一見發熱頭痛遂誤認表邪桂枝麻黃者為常例不但雙解涼膈不敢遽投即神解芳香亦不敢遽用皆緣辯證不明故致胎誤夫三焦總統於胃胃氣能敷布十二經而榮養百骸毫髮之間靡所不貫溫邪本厲氣耳浮越於經而現表證則有之謂表邪則斷斷無也問者曰唯唯自而又曰溫病亦有無表證者乎亦有兼表邪者乎予曰有無表證者溫邪內伏如窮凶巨寇埋伏之兵更為酷厲非嚴肅之師不能克濟至於兼邪而作而為表邪所困自當兼治其表如九味羌活湯荊防敗梔豉湯之類先解表邪再治溫病方為合法此溫病兼表邪則有之若謂溫病有表邪有表證則誤矣於是問者曰予今而此如知治溫病者不可誤認表邪而強發其汗</p>

<h2>治溫證當明五兼十更夾</h2>
<p>溫病兼夾不可不辨素無其證與溫邪合病為之兼素有其證與溫邪並病謂之夾是溫病為本兼夾為標若辨之不明未有不以標為本　甚至治其標而忘其本者閱古方書惟麟郊戴氏有五兼十夾之說其意甚善惜乎略而不詳如五兼詳於風寒略於燥火主夾詳於本證略於陰陽茲於未備者補之煩冗者刪之使後之治溫病者凡遇兼夾之證胸有成竹不致岐路亡羊寧不為溫病中增一法門耶即以六淫論之暑必兼濕故夏傷於暑秋必病瘧夏傷於濕秋必病痢其所以為瘧為痢者夏之暑與濕相兼為患也至於夾證尤為明顯如內傷飲食外感風寒之類相併而為患也若不細為考覈徒講兼夾不究溫病誤矣即究溫病而不知兼夾更誤矣嘗見溫病有兼夾之證輕者必先治表後端治溫重者表裡兩急自當雙解若膠執解表在前無不貽誤誠可悼嘆果能明乎溫病兼夾治溫病不遺兼夾治兼夾無心溫病或先治兼夾或端治溫病或治兼夾而溫病漸輕或治溫病而兼夾自除庶幾溫病兼夾兩相發明而於治濕病也燎若指掌矣</p>

<h2>舌胎論</h2>
<p>舌胎之說肇自長沙然所論者只白胎一種其餘概未之及後人金鏡錄觀舌心法傷寒舌□諸書立說甚詳皆傷寒舌胎之梗概也若溫病熱邪自里達表舌胎尤不可忽蓋傷寒一證自表入里六經傳變一病舌無不白可一汗而解其不解者寒鬱化熱舌胎必由白而黃而黑邪已傳腑自當攻下有一定之規若溫病則不然三焦受邪不循經絡傳變不一且少陽為三陽之樞出表入里任邪所為即有發熱頭痛之表證實無在經之表邪書所謂有表證無表邪誠至言也既無在表之邪是以有一病即黃即黑之舌胎自當有急攻急下之湯藥以救燃眉若泥傷寒之說必侯邪入胃腑胎轉黃者方可攻下恐病溫者腸胃腐爛早赴九泉矣至於白胎一種更細察其胎雖白燥而　無津此白砂胎中必夾濕至死不黃或白而潤舌本必赤或有紅點如古所謂蟲碎舌法當清解不宜溫燥若誤認外感而投辛溫之劑害不旋踵其他諸舌種種不一而溫邪進退之機大都不出乎此今急為詳辨願同志者早具燃犀之目俾胸有把握亦如舟師之有舵庶矣操縱在我所往無不利也</p>
<p>又如陶節庵傷寒六書三十六舌可謂至詳至備矣但傷寒之舌表邪傳裡寒化為熱方現出黃胎不似溫病邪自里達表一病即現黃胎以此為準萬不失一至愈下而舌胎愈黑愈燥者屬陰虛潤者屬陽微皆死候也更有舌赤無胎如太陽初出之關閃灼不定胃中陰陽皆絕萬無生理以上陰虛陽微二證欲百中救一陰虛者麥味地黃湯合養陰法陽虛者朮附合理陰法補其未逮也</p>

<h2>望色論</h2>
<p>望色重於切脈內經云上古使僦貸季理色脈而通神明又云能合色脈可以萬全盡脈動於內其一是甚微色現於外其象至顯且有諸內必形諸外可一　望而知之如肝熱左頰先赤肺熱右頰先來脾熱鼻赤賢熱頤赤心熱額赤之類觀於某部之赤即可以識某臟之熱矣推而論之青則為寒黃則為濕黑者多實白者多虛溫病屬熱無不面赤甚者如大醉後如暑天遠遊面多繃脹紅赤大的氏溫病初起天庭必晦溫病將愈鼻準先光垢暗不堪者病邪必重鬆緩微潤者病勢漸輕吳又可謂望之可憎如油膩如煙熄滅熏為溫病之色　誠至言也予靜忝至理溫病者厲氣也神者氣之餘色者神之標亢厲之氣內受而為病外現而為色理固然也臟腑精華畢陳於麵人能望面部之　色以知臟腑之病而不能望臟腑之色以決生死之機彼洞見臟腑一望而決生死者大部觀其外而知其內使今之人理色脈而通神明以為治病的把握胸有成竹奏效可以十全若從講病情不知望色茫然以溫病為傷寒將使病者含冤於地下矣昔晉景公有疾醫緩　視之曰二豎入膏肓不可為也醫緩洞見臟腑寧非合色脈而忝詳耶從古有諸內必形諸外觀其外可知其內能於色脈而忝詳之斯不獨為治溫病之大綱即以為治他病從大綱也可</p>

<h2>切脈論</h2>
<p>切脈一道古人置之四診之末何也蓋　脈之理易於矇混難於顯明如診浮脈有力為風熱無力為血虛一虛一實千里毫釐必得望其色聞其聲問其情而後忝之以脈方得病之真諦即以浮脈論之有力為風熱外必有聲重咳嗽洒洒惡寒之證　無力為血虛內必有煩熱身痛逆蒸蒸自汗之證若溫證之脈溯洄集始略示其概而尤有難辨者初起時邪伏血分脈多沉伏有似微弱予初診此疾投以辛溫發散每多不效後細忝吳戴之論又得寒溫條辨之書見其申明運之更張闡發溫疫之源流變辛散為清解變辛散為清解變溫燥為涼下尊內經熱淫之旨仿河間攻下之法予胸次為之頓開可見醫學無窮難以拘執遂細心研究守用其法無不獲效始知初病微弱之脈乃伏脈也非沉脈也及惡寒作麻乃陽氣內閉非表寒也投以溫劑所以不效者此也迨至伏邪漸潰由里厲害表病勢更張脈象變態或數或洪或長或大斯時失治致　真陰受傷則脈反細數甚者肢逆脈微陰竭於內熱灼於中外則目瞪口張唇焦黑神昏不語內則臟腑焦腐縱有良工莫可如何今特序其大略如此非謂脈之不足憑正謂診脈者之宜先審證而知所通變也</p>

<h2>治溫當分老幼不可棄其老為不治</h2>
<p>三春旱草得雨滋榮殘臘枯枝雖灌弗澤此言少易治而老難治試為罕譬而喻然亦有不盡確者如三春旱草得雨滋榮之句乃少壯之輩失治之候熱邪燔灼煎熬津液能以大劑苦寒之藥治之即可汗出而愈信如三春　旱草一雨而欣欣向榮惟　以殘臘枯枝擬老人之氣血既衰雖灌溉不能耐　稍回其潤則僅可以論本證而在溫證則或有不然假使稟先天之厚處和順之境得後天之　養雖古稀耄耋感受溫邪乘其初萌一鼓潰之真陰元俱不受傷何敗之有即有　勞碌衰頹之輩豈忍棄而不救古人置有黃龍湯等法原可破格治療至幸與不幸天也命也非醫之過也</p>

<h2>溫斑點失治致變不咎誤而咎藥辨</h2>
<p>溫病一證原屬火邪認明證候急早清解無不獲效此治溫熱之法非杜撰也奈何人拘執不化多致因循誤事反　咎清解之非動云失表水伏誠可概也究其由揆其情蓋有四焉一曰病家二曰醫家三　曰旁人四曰病者病家何以致誤嘗見稍通文墨之人自命知醫平居案頭置本草醫方數則逐日番閱見大黃稱　為將軍石羔名曰白虎惴惴然者非一日矣及遇溫斑點即勢處凶暴畏雙解如蛇　竭堅執不服甚至舌黑神昏無可如何之際強服不應以致危殆不曰自誤而曰藥誤此病家之通弊也醫家何以致誤如溫病極盛服下藥一二劑洶勢略平邪仍猖獗自當再行攻逐病家疑怯另延他醫或驚曰重劑傷元或駭曰涼藥水伏不審病情先存雌黃之見說前藥之非急易前藥或養陰或和解以為穩當殊不知溫毒燎原勢屬燃眉即急攻急逐尚　未能滅其烈焰而反行和解致病者陰枯津竭而死不曰後藥之非而曰前藥之誤此同道中之積習也又如旁人或親或略明藥性見醫見藥強為辭說動曰如此藥斷不可服或曰寒涼太過服之必敗此時病家處驚疑之際心本無定又聞親月如此之言以為旁觀者清遂致停藥因而致停藥因而致敗敗後親朋仍不知己之誤而猶歸咎於藥誠可痛恨也更有病者素處膏粱或父母姑息藥不盡劑或喑換湯液陽奉陰違在醫前云藥已服完病未見減反責不力如此種種醫　者抱屈何處伸耶</p>

<h2>治溫證不急去邪膠執養陰胎誤論</h2>
<p>溫病熱毒之邪薰灼臟腑為害最烈急早涼下乘其賊勢萌動羽翼未成使賊不能猖獗一鼓而先滅凶首不但賊勢易潰而城郭倉庫亦無受傷之處豈不萬全奈人不能見真守定視羔黃芩連如蛇蠍守養陰化邪為良方不知溫邪如火人身如釜津液如油煎熬臟腑勢不焦枯不已若不急抽其薪徒事揚湯止沸實與養癰無異更有扶正祛邪似屬穩當然此為正氣虛者立言非為邪氣實者立法如果體質素弱陰陽久　虧或言不由衷後或亡血自當救虛為急養陰扶元之法所必需豈可一例論哉譬如空城遇寇必先措置糧響先實倉廒然後開門拒敵自無不利若溫病初起邪氣方盛急行攻逐使邪不傷陰傷元　而養陰扶元之意即在其中倘遽投滋補是猶遺敵兵而資盜糧害莫大焉余歷此證十有餘年得心應手之處指不勝屈故不憚反復詳述誠以生命為至重也</p>

<h2>治溫證誤投辛溫香燥重竭真陰論</h2>
<p>病有正治有反佐正治者治寒以熱治熱以寒反佐者治寒病以涼藥為嚮導治熱病以溫藥為先鋒若溫病則治可反佐不可誤治更不可蓋溫病本屬陽邪治陽邪以陰勝則真陰不傷舍正治之法無弍策也若泥於古法或任意反佐真陰受傷終歸必敗更有甚者辛溫迭投香燥頻進或日事先防祛風發表或連投蒼樸燥濕溫中其尤甚者姜附香蔻種種溫燥不止一端是何異火上加油豈不益助其焰哉吾見舌乾起刺者有之舌赤如絳者有之脈象細數皮膚甲錯筋抽直視者又有之噫　真陰已竭病者死矣問何以致此曰非溫燥藥之過乃治溫病者誤投之過也夫辛溫香燥應於寒濕之證原屬神丹用為溫病之方何殊戈戟此亦如羔黃芩連不宜於治寒而宜於治熱使治溫病者省心自悟無誤治之懲庶幾赫赫炎威頓變清涼福地豈不快哉</p>

<h2>溫證下不厭早有首尾宜下辯</h2>
<p>考內經治溫病刺五十九穴以瀉熱明乎溫病當以瀉熱為急後人因之而立下奪之法本即內經之　意而變通之蓋溫熱內蘊津液受傷雖在初起之時即宜攻下萬勿泥傷寒先表后里之說昔賢謂溫病不不厭早誠至言也下之者使邪即出無停留之意故溫病服攻利之後必有水沫隨大解澼澼而出邪輕者色黃甚者色赤劇者色黑此即無形之熱邪下瀉原不拘於結糞之有無若必待痞滿實痛而始行之逐不亦晚乎其尤要者虛人實邪於攻邪之中必視其何臟之虛照慶處為吃緊要著如邪勝於虛者先去其邪繼補其虛正虛於邪者先固其虛後攻其邪或先攻後補或先補後攻或一攻一補惟醫者圓通變化明體達用存乎其人非筆所能擊也至溫病之邪伏而後發不似風寒外感可一汗而已是以溫病投涼下之劑多有病勢猖獗昧者說為錯治每每更醫換藥致誤不知伏邪猶之伏匿之火揚之則焰起非大下疊下焉能勝此燎原之勢常有石羔用至數斤大黃用至數兩首尾不徹始獲全功者大抵溫邪傳變不一非一下即能淨盡古人原有如剝蕉心之喻其邪勢輕者一二劑即愈重者非疊下不效若畏藥峻猛怯不透下欲不至腐腸爛　胃者幾希矣醫者惟見真守定方無妄治之虞孫真人曰膽欲大而心欲細其斯之謂與</p>

<h2>治溫邪首重涼下終或溫補及不宜妄下過下論</h2>
<p>溫邪一證屢經汗邪雖漸解而真陽自無不傷或其人素本陽虛濕盛或調養不善以致返復而證現面青寒熱食少便溏舌胎白滑脈來無力雖有熱象不得仍以前邪正治自當辨明陰陽虛處為吃緊關要如陽虛輕者香蔻六君補中益氣甚者參附理中兼陰虛者理陰為主純陰虛者六味為主餘邪不盡少加和邪之品方可救未中之危　至下之不當謂之妄下下之無節謂之過下妄下由於辯證之明過下由於權衡之失度若辨證明晰如溫病兼表不宜妄下妄下則有引邪入里之戒胸積痞滿之危甚有夾濕夾痰陰陽素虧腸胃素弱以及老人虛人病後亡血後諸證自不當遽然攻下吾又見權衡失度者診治溫病惟守下法無分虛實莫辨陰陽愈下而舌胎愈黑甚至乾紅無津仍然肆行硝黃置養陰之法為無用或疊下而熱更增仍投雙解視和邪之方為無濟病緩藥急藥七病三病去元贏合扶元之功而不講且胎退　熱輕病去而下藥不微陽虛陰敗病後而補劑不施賊去城空終歸罔濟過下之失又如此也甚矣溫病不宜妄下不宜過下稍一不慎而當下不下者轉得因以藉口可勿戒與然而妄下過下之害實同一轍惟臨證時神而明之存乎其人耳</p>

<h1>卷二</h1>

<h2>慎始</h2>
<p>溫邪慎始最為要著常見伏邪輕而發之緩者尚可遷延時若伏邪重而發之速者一病舌即乾紅或紫或黑人事異常身體散漫不能站立頗似虛象誤認為虛投以溫補往往一二日即斃可不慎歟甚有不熱反冷心腹絞痛酷似中寒認明舌胎一見紅紫裂紋或口渴引飲不論脈之浮沉放手施治無不迎刃而解倘病家醫者疑似畏怯必致輕變重重變死矣更有始治不善邪　化不淨延致潮熱津枯者有之肺傷咳嗽者有之肌膚甲錯骨立而死者有之此時縱有良工莫可如何　初起輕者神解芳香升降選用者非大劑雙解不可或黃連解毒合升降散亦可夾表者敗毒合升降為妙</p>
<p>溫疫之邪本天地穢惡之氣古人以飲屠蘇採蘭草取芳香　之氣重滌穢也如神解芳香升降太極等方皆逐穢之劑故首列之以冠群方與古人之意有深契焉</p>

<h2>發熱惡寒</h2>
<p>溫病發熱是陽邪外達之機溫病惡寒乃陽氣內閉之　象故與諸證發熱惡寒不同諸證發　熱惡寒諸書俱已辨明茲不復贅惟溫病發熱必蒸蒸然由里達表摸之在肌肉之分夜盛於晝或寒或冷或麻不欲近衣忝之脈象或沉或伏或浮或大或數甚至至數模糊面色晦暗神識不清舌色黃赤咽喉干痛劇者一身悉痛兩脅胸腹痛甚以此數證辨之溫病之發熱惡寒自不能混於他證矣初起宜清化湯神解散如舌胎已黃大便秘結者加酒炒大黃下之　或合升降太極丸兼表者荊防敗毒散兼寒者九味羌活汽之類選用如人素本陰虛感受溫邪不能外達先有泉竭之危腰必痛甚與大劑六味合生脈先救水源再治溫邪如人素本陽虛恆多自汗怯風惡寒感受溫邪自暫以維陽透邪如玉屏風散用生耆合神解清化或芳香飲或人參敗毒散皆可選用此二證當忝四損四不足條忝看溫病後寒熱又當忝虛實治之如餘邪未淨仍當逐邪熱方能退無邪方可清補養陰更有濕鬱發熱愈投涼解而熱勢愈甚煩躁不寧或有汗或無汗口乾不飲再視舌胎或黑而潤或黑中邊白或灰黑不幹水上便清利脈雖長大必兼耎濡之形此濕鬱之熱有似溫熱也總以舌潤不渴為辨藥當以參附朮附維陽化濕為主熱始能退若再投寒涼必殆此溫證行時偶有之證不可不筆之於此以俟臨證採酌更有陰陽雙虧　汗發熱面赤心煩躁擾不寧脈大無力又當以十全大補湯為專治一概寒涼皆非所宜</p>

<h2>不熱</h2>
<p>溫熱之邪自口鼻吸入三焦三焦乃手少陽所屬少陽為樞出表則熱伏里則不熱其理顯然徵之內證舌心乾紅咽或痛口或干心中嘈雜作煩夜臥不寧二便或有或無時或惡寒作麻脈必沉數悉屬困郁之象鬱極必熱熱則變證不一審明　脈證輕以敗毒消化神解芳香擇其對證主之重以升降雙解緩緩間攻亦有始疑義不熱而愈者亦有因揭宣而病勢加重者乃邪因宣而外達自當疊進雙解務以邪淨為止萬不可半途而廢凡視此證必須先向病家說明病情使彼疑釋方可放手醫治若徒執仁心恐遭謗議</p>

<h2>寒熱往來似瘧</h2>
<p>寒熱往來在傷寒為少陽現證溫病有此亦屬半表裡之邪與惡寒發熱不同亦與瘧不同蓋瘧發有時確有定期定證可據惡寒發熱是一時兼至故與寒熱往來熱已方寒寒已方熱不同但溫證中多有似瘧者或先寒後熱或單熱不寒忝看舌白如粉者達原飲加柴胡胎　黃舌赤脈數口乾便赤者增損大柴胡湯下之但寒熱往來在初起時邪郁少陽少陽為樞傳裡則重始則四肢作麻寒熱往來繼則熱多寒少再則但熱不寒是溫病入里為重治法於初起時寒熱往來宜用芳香神解加柴胡薄荷熱甚加大黃如熱壯煩渴增損大柴胡加花粉為妙若邪潰後用小柴胡湯或參胡三白散減調治如正氣已虛寒熱往來又當以補中益氣柴芍六君兼陰虛者補陰益氣參用</p>

<h2>頭痛</h2>
<p>（附巔頂痛頭目脹）</p>
<p>溫病頭痛乃熱邪上干清陽故頭痛面必赤神必煩舌必紅脈必數認明證候急與清化升降之方使清氣升濁氣降頭痛自止如熱甚口渴則白虎湯玉女煎最妙羌防芎芷皆非所宜如兼風寒面必收束色慘暗舌必白滑外必惡寒自當先行散表審明痛在巔頂屬太陽痛在滿頭及眉稜骨者屬陽明痛在兩角屬少陽兼暑者必在夏月皆照加引經藥可也惟溫病頭痛渾渾不自知其所苦所以溫邪最易昏人神　識也更有素本真陰真陽皆虧一遇溫病正不勝邪陽虛頭痛必現面青肢逆惡寒喜見燈火光旋又畏之緣有伏邪故耳治法從權暫投參茸膏貧者黨參桂枝借用亦可陰虛頭痛面必浮紅舌必乾紫口或渴不飲惡見燈火光宜六味地黃先救腎液再治溫邪可也</p>
<p>溫邪頭目脹乃熱邪上蒸初起以者清化菊花天麻重則涼膈加荊防天麻　之類或神解太極下之如陽明有熱目脹加石膏舌黃宿食也用保和丸二陳湯或查麥神麯萊菔厚朴皆可選用如屢經攻下頭目脹者又屬陰虛宜六味地黃湯治之</p>

<h2>頭重頭眩</h2>
<p>內經曰歷於濕者首如里此乃濕熱上蒸之故是以頭重溫病亦有之兼濕者脈必濡滑溫熱者脈　必長大而浮宜用升陽苦降之藥如清化　湯加羌升防芷龍膽大黃之類至頭眩在溫病悉屬熱邪伏郁中焦乾犯上焦清陽之位是以眩然如暈脈必寸大於關宜用升降散清化湯如菊花天　麻至有兼風兼痰兼虛吳戴二氏辨之甚詳茲不再贅惟賢氣素虛之人一遇溫熱大耗真陰陰不下吸陽無所依上為眩暈又當照賢不納氣條治非大劑潛鎮之品不可如六味地黃　加磁石黑鉛如真陰虛極少加參附亦可此脈重按必空散或不及尺以此為辨</p>

<h2>身體痛（附身重）</h2>
<p>溫病身體痛與傷寒有別寒邪乃嚴肅之所氣氣主收斂中人肌表故身體多如縛束而痛溫病乃亢厲之氣氣主散漫中人三焦浮越　諸經營衛怫鬱身體多如損傷脹悶而痛參看面色或垢或赤脈或伏或弦數舌苔或白或黃舌本必赤且多紅點辨明色脈外證雖現發熱惡寒頭眩諸表證自不得誤認表邪而用表藥發汗初起宜照寒溫條辨例用神解芳香升降雙解諸方隨其輕重斟酌至於陽虛者身體亦痛外必有惡寒作麻自汗神倦別之黃耆建中合透邪藥可暫用陰虛者身體亦痛乃營　血不通以夜脈細辨之濕　勝者身體必重頭如里身如石脈必濡耎逢陰雨更甚辨之此溫病之外雜證身體痛者又不可不詳辨也</p>

<h2>項背痠痛</h2>
<p>項背全屬太陽初起痠痛乃邪越太陽也神解清化為主如兼寒邪九味羌活為主或兼狂躁熱壅其經也石膏黃芩為主屢經汗下熟退而項背痠痛者血燥而筋不榮也六味四物為主</p>

<h2>腰痛要酸</h2>
<p>腰者賢之　府也因病致痠痛其中虛實不可不辨所謂實者邪也虛者本也如太陽經感寒必痠痛感濕腰必重痛如坐水中氣滯痛必流走此雜證之腰痛腰痠也若溫病則不然熱邪深伏出表則浮越太陽困里則直逼少陰　設腎不虛賊邪因何直入古人所謂邪行如水惟注者受之良有以也此溫邪最劇之候十難全半若不先救真陰邪何由化當與大劑生脈六味加化邪之品預救真陰以全生命若不預為籌劃肆行攻　伐則俱亡肢冷脈微舌黑苔刺直視遺尿等證勢所必至如感邪極重腰痛如折防火燎原必須急下救陰或於下法中佐用水之品或朝服六味暮投雙解務於臨證酌行非筆所能擊也至於病後腰痛虛不待言又當以六味地黃加參茸為主余可類推</p>

<h2>腿膝脛足痠痛</h2>
<p>溫邪初起時腿膝脛痠痛者邪在太陽經也羌獨艽防牛膝防已為主痛有因腳氣痼疾者於治溫邪藥中加檳榔木通靈仙艽防以上四證兼見再加頭痛身疼又當汗下雙解為主如未經　汗下則以九味羌活加牛膝木通豆豉艽靈之類如已經汗下表邪已解則當察邪氣之有無正氣之虛實專治筋部免致殘廢為要如餘邪不淨則清化中加苡仁牛膝木瓜筋攣則秦艽木瓜筋緩則蒼朮防己紅腫則赤芍丹皮之類若無餘邪尺脈虛小腎陰不足又當以六味牛膝知柏滋益陰精為主惟足軟或腫或痛站立不起者乃軟腳溫也蒼朮白虎湯合神解散方為合法</p>

<h2>肩臂痠痛（附腕痛）</h2>
<p>肩臂痠痛手太陰經脈受邪初起神解加引經藥汗下後肩臂痛甚經隧阻滯脈弦有力證多熱渴者神解加秦艽銀花藤之類血脈空虛脈濡無力者　證多痿困四味六味為主至腕痛乃風淫末疾初起解表病後血與肩臂痛同治</p>

<h2>周身骨節痠痛</h2>
<p>周身骨節痠痛在他證是寒邪凝結表散為是溫證有此是邪伏極深不易透化非雙解不可</p>
<p>拘攣瘛瘲痙痓（附筋惕肉鑑瞤）</p>
<p>溫證首尾皆有拘攣瘛瘲痙痓之病初起時邪困三焦經絡滯塞或夾風濕表裡困郁太陽經氣不行常有此證一經汗下經氣一通諸證自平或屢經汗下後或病愈後或其人肝陰本虛風火內熾或夾餘邪亦有此證治法又當以養榮血為先之祛邪次之若因循失治恐成廢人矣汗下之法增損雙解或加艽羌威靈牛膝以引經或加二妙以化濕惟麻黃斷不可用盡辛溫發汗恐竭真陰此溫病之所以異於傷寒也未路治法養榮清邪清燥養榮湯柴胡清燥湯　對證選用俱可加殭蠶犀角忍冬藤鉤藤木瓜白菊花桑葉白薇絲瓜絡之類至筋惕肉瞤一證不但溫證最劇即雜證亦然筋所以惕者無血榮也肉所以瞤者無氣調也氣血既敗人豈能生更有熱邪失下以致真陰枯竭證現舌黑神昏直視遺隸呃逆肢冷在無邪尚屬敗證況炎梟未滅一身有限之氣血盡為邪耗縱有良工其如病之不治何然而醫為仁術豈忍坐視據證論情惟以生脈合六味地　黃加犀羚牛黃金汁之類大作湯液日進數斗或可希僥倖於萬一也</p>

<h2>諸汗</h2>
<p>溫病有自汗盜汗狂汗戰汗之別更有無汗者不可不辨溫熱之邪天地厲氣自口鼻吸入由里達表易於自汗或其人素本多汗一遇此邪甚至淋漓不止不可以表證論神解清化合白虎如兼六淫自當隨證加減如邪困膜原舌白如粉又非達原不可盜汗多在病之中末二路不是餘邪潛匿即是營血熱溢清其邪益汗自止增損小柴胡出入加減主之當歸六黃湯加浮麥亦可惟狂汗一證必須細心研究溫熱盛時或手舞足蹈煩躁不寧而後作汗者最為駭人須驗其作汗之狀面忽浮赤脈多浮大人事了了方是作汗之象否屬狂證三黃石膏湯白虎湯竹葉石膏湯為最至戰汗一證向用達原治半表半裡之邪每多戰汗而解戰時搖床撼榻邪正相爭氣閉脈伏直似死者　氣宣汗出即時而愈有一汗不已而再戰者有單戰而不汗對期復戰有汗者生　無汗者死有戰一次不能再戰屢下而愈者有不能再作戰汗即加沉困而死者總因人之強弱耳凡戰汗之時不可服藥補則助邪下則傷氣應聽自然再觀脈證施治戰汗或多與熱米湯飲之助其作汗大底戰汗之脈以浮為佳邪出於表也虛散微細應有變證煎人參湯以待之防其脫也然必察其戰後邪淨而氣欲脫者方可用若貧者米飲代之戰汗後脈靜者吉躁疾者危氣平者吉氣粗而短者危神清者吉神昏者危舌痿不能言　者死目眶陷者死目直視無光者死戴眼反折者死形體不仁水漿不入者死戰汗雖為佳兆亦有吉凶嘗見服大汗藥毫不得汗而飲冷水得汗者又有服下藥得戰汗者涼血活血養血得戰汗者生津益氣得戰汗者種種不一當知戰汗乃陰陽交和表裡通達自然而然非可強致也近年以來以達原之法治溫病罔效以解表藥治之亦不效然後揆之以理驗之於舌脈則與達原有別焉達原之治溫邪者寒熱往來舌白如粉脈多長滑是以潰半表半裡之邪每多一汗而解直待舌苔轉黃方行攻裡此所謂表裡分傳也較今之溫證一病舌即紅赤或如紫絳亦有白胎多雜紅點初起時脈反沉伏肢反逆冷邪逼於裡則亢極似陰亦有一病即脈現洪大口乾咽燥有渴有不渴外雖憎寒作熱甚則作麻表之不應汗之無功投以雙解大便頻行熱沫時下往往無汗而熱自解者亦有一下而汗自得者始知六氣更遷運轉相火三焦受邪不同濕土司政故草果檳榔厚朴一切辛溫之品皆非所宜他如運轉寒水則今膏黃芩運與昔之草果檳榔厚朴前後同一轍也</p>

<h2>頭面腫耳旁腫</h2>
<p>溫邪頭面耳旁腫乃熱邪上溢三陽溢於太陽則頭腫溢於陽明則面腫溢於少陽則耳旁腫頭腫者欲名大頭溫此證最惡治不宜緩緣清陽為濁邪所幹最易滋蔓急用普濟消毒飲加野菊大黃面腫色赤屬溫熱宜用荊防敗毒散加白芷葛根蘆根石膏滑石等藥如舌黃口渴譫妄便赤者增損雙解若面腫色黃色白者皆屬風濕即內經面腫曰風之證又當從神術青龍婢諸法而參酌之至於耳旁腫亦名時毒初起只宜疏散不宜敷貼致邪內閉如紅腫堅硬則有潰膿之患燕宜荊防敗毒散加柴胡牛子甚者加制軍下之增損小柴胡湯亦可</p>

<h2>頸項胸紅腫</h2>
<p>溫邪頸項腫乃邪郁陽明兼夾風熱俗名捻頸溫又名蝦蟆溫宜普濟消毒加生軍石膏葛根之類餘邪發頤又當參虛實治之至胸前紅腫有赤起小疹羊毛溫多有此證亦有不見此形者治法不外乎神解雙解總以邪之輕重為準</p>

<h2>周身紅腫</h2>
<p>溫邪周身紅腫一則熱為寒伏一則熱邪外溢最佳之象宜清化湯神解散如紅腫如疹如霞宜　荊防敗毒散加殭蠶歸芍之類如顏色紫暗或片或塊累累或或如葡萄或如玳瑁又屬葡萄疫玳瑁溫也宜普濟消毒飲或犀角地黃湯為最此溫疫門中周身紅腫之大概也至於病後周身腫亮如燈或曰下臥蠶脈象沉滑又當作風濕治開鬼門潔淨府諸法又在所必需也</p>

<h2>發黃</h2>
<p>溫證發黃乃邪熱侵犯肝膽非濕熱鬱蒸陽明可比脈必弦數口必煩脅必脹一身盡　黃兩目如金小便如血夜臥不安舌尖紅赤茵陳蒿湯倍大　黃為端主或增損小柴胡合溫膽導赤皆可選用兼嘔者橘皮竹茹湯加茵陳枇杷葉如瘀血發黃面色不榮必多晦滯如煙薰狀小便自利茵陳蒿湯加桃仁歸尾殭蠶丹皮梔滑之類破瘀化熱為主如兼濕熱色亦黃多暗垢舌白不　渴小便不利以此為辨茵陳五苓散或益元散加蒼朮白蔻之類甚者理中湯加附子如胸悶脅脹兼憎寒作熱脈或弦長滑大胎雖白必兼紅點達原飲加茵陳梔滑之類　主之至於女勞黃酒黃不在此例</p>

<h2>發斑疹</h2>
<p>（附　葡萄疫玳瑁溫疙瘩瓜瓤捻頸大頭軟腳諸溫）</p>
<p>溫病發斑與傷寒迥別傷寒之班寒鬱化熱熱傷胃腑或失表散以致熱邪內郁　燔灼榮血陰液盡竭或失下以致病邪內陷故傷寒發斑則為病為溫病發斑不拘輕重無論紅紫皆由熱毒聚於胃胃為多氣多血腑足以敵邪力能化邪於肌膚之外為斑為疹故為病解況　溫邪由里達表非傷寒經邪傳變可比常見患溫者行能發斑發疹邪向外化生全者多但斑疹一見急須神解清化輕者消　風敗毒倍殭蠶加牛子元參石膏浮萍裡實者加大　黃重者大劑雙解加犀羚板藍野菊花重用石膏如唇齒腫黑口臭異常或兼肉鑑瞤筋惕邪不能出急加生地蚯蚓汁絲瓜瓤以透經絡之匿邪有患畜血發斑者斑形稜角血必先畜而斑後見於前法中加桃仁紅花蘇木之類至葡萄疫已在</p>
<p>御纂醫宗金鑑發明不贅惟玳瑁溫龐安常僅言其證未備其法又如疙瘩瓜瓤捻頸大頭諸溫悉屬溫毒肆虐治法亦不外普濟消毒增損雙解大小清涼清化等方擇其對證施治惟軟腳溫一證必兼濕邪加蒼朮於涼解方中誠為合法</p>

<h2>煩躁</h2>
<p>溫證煩躁與他證不同古人原有煩為心煩躁為腎躁之說在溫邪悉屬熱鬱邪輕則煩躁輕邪重則煩躁重有一病即煩躁者證現憎寒發熱敗毒散　冬月九味羌活湯有傳變煩躁者舌黃渴飲身熱汗出邪已到胃增損雙解散三黃瀉心湯加味涼膈散選用舌苔已黑人事漸昏邪入心包也犀角地黃湯加羚羊牛黃黃連解毒湯紫雪選用經汗下表里俱清而仍煩躁者陰液傷也生脈散六味地黃湯吳氏諸養榮湯楊氏大小復甦飲選用或用汗解清利滋潤諸法不應而煩躁更　甚者當細驗舌胎若黃黑胎中夾一塊白潤是為夾水或平素胸有痰飲或未病時曾飲冷物或初煩躁時過用生冷或過用清涼太早皆能停飲於胸膈胃脘之間熱為寒伏外不能達表內不能傳腑故煩躁轉盛難怪驗舌之　後細按胸脅滿痛而軟漉漉有聲再診其脈右寸關或弦緊或緩滑皆停水確據當以蒼朮半夏萊菔先消其水氣然後治其　煩躁遠銷不應者甚者加醋炒芫花不論舌胎有無黃黑而少腹或有痛滿處　但煩而兼小便不利者即屬水氣當以導赤瀉心豬苓四苓益元利其小便所謂心邪不從心瀉而從小腸瀉也</p>

<h2>嘔吐自利</h2>
<p>（附吐蚘呃）</p>
<p>嘔吐自利乃溫病中最善之候何也邪自口鼻吸入先中上中二焦胃不受邪與邪相拒在上則吐在下則利已具分消之勢惟嘔有別邪犯陽明太陰者嘔有口氣者屬溫證無口氣者屬雜證不可遽用寒涼使邪不能透厲害傳化雖時有肢逆脈沉亦不可妄用溫熱致增嘔勢甚有舌紫神昏毒邪上犯清道急當下之即不嘔若已發熱舌白而嘔者吳氏達原飲加半夏有三陽證兼三陽加法如舌赤胎黃又當兼神解太極使表裡宣暢其嘔即止若嘔而煩渴邪犯胃也白虎湯玉女煎加蘆根若嘔而舌黃胸有痛滿處橘皮半夏湯夾實加枳實查麥神麯若嘔而舌白心下臍上悸小便不利者不水氣四苓散加半夏木通或益元散利之若嘔而滿痛拒按者大柴胡　湯凋胃承氣湯選用若嘔而口苦邪犯少陽增損小柴胡湯不寐者溫膽湯有乾嘔不止舌乾口燥者胃受火傷竹葉石膏湯若屢經攻下嘔不止而舌無胎多汗心煩中氣傷也大半夏湯或香蔻六君倉湯合定中湯煎汁頻服若嘔甚吐蚘利甚便蚘皆屬傷之象甚則噦呃神昏已蹈危機經所謂臟敗者聲必噦呃證更危尤當　詳察如聲自丹田而起一則應下失下熱邪傷陰發為呃逆調胃承氣湯佐益陰之品加刀豆子柿蒂苦以降逆或可十中救一一則真陰枯竭腎不納氣吸不至腎呃聲頻頻舌黑而神不昏者緣邪輕正憊歸氣飲最捷加刀頭子柿蒂更妙更有一種多郁喜怒之人或夾痰滯氣與邪搏呃聲必從兩肋而起雖呃至搖床撼榻視舌或黑而肢不冷當以散郁開氣化痰之劑使邪氣宣揚自有生理逍遙越鞠代赭旋覆四七皆可選用不可以呃逆盡棄為不治之證也</p>

<h2>唇燥烈赤紫淡白</h2>
<p>陽明之脈繞唇溫病唇燥唇烈色赤色紫俱屬熱毒困於中焦陽明熱盛　之象宜用白虎湯合神解升降竹葉石膏湯如兼胎黃舌赤口渴壯熱煩躁脈數者雙　解散重用石膏或增損涼膈散加石膏隨證與之至溫邪初起邪伏三焦或匿膜原未經宣達唇色困暗頗似淡白不可用溫藥當與清化神解芳香達原選用如溫邪退後唇淡舌白脈來無力倦怠少神又屬虛象宜用六君子湯或其人素本陽虛胃弱多濕當與理中湯金水六君煎如餘邪未盡熱猶未清參胡三白散加味為最脾虛不運資生丸食後服再如便溏少食參苓白朮散調之</p>

<h2>鼻孔乾黑（附鼻掀扇）</h2>
<p>鼻乃肺竅風寒外襲則鼻流清涕荊防前桔紫蘇為主溫邪內鬱則鼻孔乾燥肺熱則清化加薄荷麥冬胃熱則煩渴根石膏為主腑證則胎黃而渴增損雙解三黃石膏為主傷津液肺燥麥冬生地合大小清涼飲為主熱在經者十之五在腑者十之二三亡津液者十之一二至鼻孔黑如煤煙溫熱灼肺已極由乾燥失治而然急當清下少緩則肺胃焦枯矣三承氣合白虎或三黃石膏加犀羚蘆根或犀角大青湯視其兼證擇而用之總不及增損雙解重用石膏為端主尤有鼻孔欣扇一證有虛有實實者緣鼻為肺竅肺為華蓋外合皮毛易於受邪風寒外襲痰火骨壅兩相搏激遏抑不宣氣粗有聲喘咳胸滿不渴又宜蘇葉前桔荊防葛根萊菔白芥黃芩主之惟麻黃一味斷不可用忌其溫散也兼寒者暫用亦可虛者腎氣不納呼多吸少出入息微多死止證必得之屢經汗下或其人色欲過度賢臟本虧急用大劑六味加麥味牛膝枸杞黑鉛或可百救一二加入人參亦可</p>

<h2>舌胎強燥卷短痿</h2>
<p>古人云論病寒熱以二便辯不及舌辨為準蓋舌乃心苗有諸內必行諸外惟溫熱一病邪由吸入遊溢諸經心為之主故一病觀其舌而知其病之吉凶如溫證胎黃舌赤或多紅點用升降散神解散兼喉痛者清化湯加牛子兼風寒者胎必白荊防敗毒散香鼓湯兼濕熱者胎必白滑加蒼朮為端治兼暑者舌必純赤或喘之暑在表者實人以升降散合香薷飲加葛根黃連如煩渴竹葉石膏湯虛者人參白虎湯生脈散量人虛實與之夾食生冷凝滯中宮胎必白厚或如白粉吳氏達原飲加香薷藿香砂仁萊菔青皮山查之類至深秋早冬之際燥火當權一患溫邪陰津立亡舌必乾紅無胎口鼻如火皮膚皺揭筋縮爪枯金從火化反見惡寒不渴之象若誤為寒濕投以濕散無不危殆初起時榮承氣湯加犀連石膏殭蠶大小清涼飲溫邪直入心包人事昏悶者急與紫雪或珠黃合天水散燈心湯下如衝脈為邪所傷厥氣上逆重用白薇降之至舌燥乃熱邪聚胃津液受傷急下急清舌本強硬為熱為痰急宜清下須痰之藥兼白胎者膈間未經煎熬其痰尚濕佐以半夏增損大柴胡湯兼黃胎者已經煎熬其痰漸燥蔞貝小陷胸湯兼黑胎者熱極痰亦為火佐以牛黃方效若無痰舌色正赤深紫燥裂而強者熱毒蘊於心包絡也三黃石膏湯加犀角牛黃或紫雪急徹其熱舌燥雖與舌強相類而燥屬胃主熱強屬心主痰差有別焉又舌短而痿舌硬如木乃虛脫已極大補及滋潤或可百救一二若屢經汗下清熱消痰而舌強者又當與舌痿同治又舌卷一證一見黃胎即便當下失下則必由黃而黑更生芒刺再失下舌必短縮為下證至急之候宜大下疊下方和緩則不救</p>

<h2>胸背脅肋腹痛（附脹滿附羊毛溫）</h2>
<p>溫證胸背脅肋疼痛用滿俱屬熱邪深重怫鬱三焦由里達表不能透化最為凶逆治法輕則清之重則奪之輕則如清化芳香神解諸方加薄荷竹葉　蔞貝甚者加味涼膈散諸瀉心湯如邪犯膜原舌白如粉又消退以達原合三陽加法為主至於諸痛脹漬滿乃溫證中最劇之候每每初病時不渴不熱身無大苦微覺痛楚參之舌脈數便黃口苦夜臥不寧等證若視為泛泛不即祛除直待猖獗變生倉卒莫可救援者比比嘗見腹痛不熱一二日即斃者斃後渾身表紫直似痧脹良由穢惡之氣閉人清竊悶人關隘致血脈不行榮衛不通所以斃之速者氣閉也渾身青紫者血凝也　似此迅雷不及掩耳之凶候當遵內經刺穴瀉熱之法外用針砭內投雙解輕者一二　劑重者數十　劑使閉者開悶者宣何敗之有倘畏藥峻猛或半途而廢輕不中病終歸必敗業醫者一見此證審明舌色形證見真守定放手施治不但元氣不傷抑且邪去正安設遇此證不妨向病家說明病之凶惡必須早治庶可幸全遲則無今特筆之於此望業醫者以仁宅心務以生命為重也</p>
<p>又羊毛溫邪一證大都胸背閉悶予每踵其法而治之活人甚多若不申明閉悶二字何以釋醫者病家之疑試觀痘之閉悶初病亦無大苦轉瞬腰折頭傾目泛紅水胸悶氣促斑點叢生痘形不見竅血肉紫非閉悶之明驗乎大抵痘與溫同一疫邪也而痘之酷於溫者一病即腰折不立緣胎毒伏於命門與腎相通溫邪一閉二火交灼腎經留邪斷難望生間有不然能治萌芽表裡雙解使外疫開而內毒解予之經手驗者予之子與姪及孝廉路公之侄也他處未有多由不能治其萌芽之故但羊毛溫疹一證有何異於痘疹乎以此悟彼能治痘之閉悶即能治溫之閉悶也況溫邪中人三焦較痘又輕一層所以人之疑議者上古無此名證要之痘證上古亦然至於疹之一字予歷驗二十餘年有病解而現點如疹者非人人病解散縱有虛象當審明何處之虛加藥兼治為此證始終之關鍵也</p>

<h2>羊毛溫疹治法</h2>

<h2>腹滿痛</h2>
<p>（附少腹滿痛）腹為胃與小腸之分界滿痛者邪結在胃也雙解下之則愈至其中兼痰水畜血各詳本門少腹滿痛邪結下焦也小便不利兼畜水也四苓散小便通利大便色黑兼畜血也抵當丸如無兼證但系邪結雙解散</p>

<h2>便膿血大便閉</h2>
<p>溫邪便膿血有燥濕之分便血眉熱宜涼宜攻犀角地黃調胃承氣治之便膿屬濕熱清熱兼分利為主分清飲治之如初起兼疫痢則當解表為主倉廩湯最妙毒勢重極方可下之如邪在少陽便膿血者寒熱似瘧小柴苓芍木通治之溫邪煩渴譫妄便膿血者非疊下不可雙解重劑連下之兼裡急者加檳榔枳實如屢經攻下便血滑利者又當以補陰益氣加減主之至大便閉秘溫邪熱困攻下自不待言更當參看舌脈如胎黃口渴壯熱舌乾脈數雙解散舌白如粉三消飲當分別輕重與之如大便閉屢下不通者陰枯也生料六味以滋陰液或合黃能下之若人多有此證兼水者大便多閉腸鳴脈弦當用小半夏湯甚者加醋炒芫花如虛人久病人又當用密導諸法務使溫邪滌盡方可稱為良工其間進退亦須斟酌</p>

<h2>諸小便</h2>
<p>（頻數不利黃赤黑多短少遺尿）</p>
<p>溫證中小便頻數乃熱在下焦宜用神解六一加軍治之不利者亦屬熱鬱初起在表時頭痛發熱小便不利者熱入膀胱也四苓豬苓合神解升降選用東垣云小便不利而渴者熱在上焦法當淡滲小便不利而不渴者熱在下焦法當苦寒此為可據溫邪傳裡大便閉而小便不利者當先通大便大便通小便自利此時疫為然他證則否時疫屢經汗下小便不利者陰竭也生脈六味主之至少腹如鼓則無救也凡小便不利日久下關不通必反於上往往嘔吐呃逆噦阻涓摘不能下咽至湯藥不進者死用大田螺一個麝香二分同搗敷臍上帛朿之即通古沃用蔥熨及井底泥敷少腹者俱可但不宜於陰竭之人耳至溫邪初起小便多赤黑或兼黃色熱甚則赤熱入血分畜血則黑即小便一證可以驗裡熱之有無深淺邪在表小便黃可用清化販毒加六一在裡色赤可用雙解升降如色黑者當以逐瘀清熱為主犀角地黃加大黃桃仁合神解清化或大小清涼飲如清涼大過表裡無熱證而小便赤者又當以升脾陽為主不可寒涼至溫邪屬熱小便多者甚少短少者恆多如初起小便多者乃熱邪未化當以漬邪為主神解升降主之如屢經汗下小便多者屬虛也益氣升陽為主補中益氣湯補陰益氣煎皆可亦有腎虛小便多者六味地黃湯加五味濕熱下注導赤六一臺升降散大抵未下之先小便多者屬熱未化小便必黃必煩熱渴飲既汁下後屬虛虛則色必白不渴不飲氣虛寸脈不及尺血虛尺脈不及寸以此為辨初起小便短少熱在膀胱宜大小分清飲抽薪飲升降六一加知柏芩連車滑之類至遺尿乃膀胱失約急清其邪遺尿自己清化合抽薪為主若有燥結胎黃譫妄之證可加大黃甚者熱閉三陽口渴異常急宜白虎湯加殭蠶生地花粉以解熱救陰為主否則易成消渴若神昏譫言胎刺鼻黑瘧結陰枯小便自少名屬不治欲盡人事惟以大劑養陰攻邪法或可百中救一</p>

<h2>囊縮</h2>
<p>溫疫囊縮與他證異者他證囊縮寒邪陷入厥陰則囊縮陰證寒極深中厥陰則囊縮溫證悉屬熱邪直犯厥陰斷非陰證可比務要辨明脈證施治陰證囊縮身冷厥逆脈沉溫證囊縮亦身冷厥逆脈沉然寒熱各異當參看脈象沉必兼數或至數模糊再以舌辨或紫或黑或強或硬人事不清不似陰寒之舌白可以立判矣且陰寒囊縮囊必入腹如婦人溫熱囊縮玉莖必在此外形之辨也設遇此證急以大劑雙解下之如虛人以黃龍湯破格救之或六味地黃加殭蠶大黃皆可考古書扁鵲以囊縮為死證然能極力救援或者百救一二亦不負仁人之心也</p>

<h2>多言譫妄善妄</h2>
<p>（附呢喃鄭聲）</p>
<p>溫邪多言即譫妄之漸譫妄乃熱邪干犯上焦當以雙解涼膈三黃瀉心湯諸方選用如膈熱蒸心脈洪身熱汗出惡熱白虎湯黃芩湯痰熱聚於中上二焦脈弦滑胸痛拒按小陷胸增損大柴胡選用至婦人熱入血室脈必弦沉心下少腹或有痛滿處增損小柴胡湯加犀地桃仁承氣皆可如熱入膀胱少腹滿小便不利四苓六一加太極為主此實證之譫妄也至於屢經汗下二便已調胸無阻滯六脈無力又當作神無所倚治又有呢喃鄭聲乃陰氣虛極心神失守不可不辨呢喃者如燕語也鄭聲者鄭重頻頻謬語諄諄不已也皆極虛之象當大劑調補陰陽陽虛參附為主陰虛六味為主如熱在上焦生脈散中焦歸脾湯下焦六味地黃湯諸養榮湯此虛證譫語之治也至於善妄多因畜血乃譫妄之漸如兼脈芤痛有拒接虛即照畜血治桃仁承氣代抵當丸選用如無畜血證又當用雙解清化諸方也</p>

<h2>發狂</h2>
<p>發狂一證乃陽明熱極胃實之象急當涼下甚有棄衣而走登高而歌逾垣上屋者蓋四肢為諸陽之本陽盛則四肢實故能登高也內經以邪入於陽則狂是皆陽明邪實之象以增損雙解涼膈之類下之如無胃賓白虎三黃石膏大小清涼之類清之此皆實證治法至於虛煩似狂而卮更勝於實狂也病後多有此證或餘邪不盡養心化熱為要或悲憂不已病在肺也生脈散或失精不秘病在腎也六味地黃湯或多鬱怒病在肝也逍遙散或飢飽不一病在脾也歸脾湯此虛煩似狂治法更有畜血發狂目睛紅黃舌色多黑桃仁承氣抵當之類加滅治之此其大略也</p>

<h2>沉昏多睡</h2>
<p>（附不寐）</p>
<p>溫邪沉昏乃熱邪入手厥陰心包有漸入深入直入之分漸入者邪犯心經人事尚清深入心包人事半明半昧直入心臟則人事全不知矣皆極危極險之證當於治溫藥中加辛溫之品如舌赤舌紫胎黃胎黑沉困昏潰雙解散加犀角牛蒡紫雪之類如舌淨無胎黃邪已退餘邪尚存當大養陰液或犀角地黃或生料六味地黃皆可至其中夾痰水夾結血亦令沉昏惟夾痰者加蔞貝夾血者加赤芍桃仁有燥屎者加元明粉大黃此治沉昏之大概也若夫溫邪多睡在未經攻下之前舌黃脈數此邪實也急下則愈或經汗下病邪已去六脈平和舌胎已退多睡省時了了此名復陰氣最佳之兆不可汗下惟靜養消息勿藥為佳即或投藥當以養陰化熱為主如夾痰多睡清化方中加蔞貝夾水加苓平甚者加酷炒芫花如脾虛多睡病後多有之六君子參胡三白散歸脾湯棗仁生用虛實既分補瀉各異又當存乎其人也至於不寐在溫邪初起時屬邪實每多不寐或夜夢紛紜皆譫妄之漸也視邪之輕重酌與神解太極清之至於病彼不寐又屬腎陰不交心陽宜六味地黃合酸棗仁湯加減仍有痰熱侵犯肝膽當以溫膽加連或因微勞不寐硃砂安神丸隨證酌用</p>

<h2>循衣摸床撮空</h2>
<p>循衣摸床撮空三證兼見非大實即大虛之候邪實正虛者間亦有之如舌赤胎黃或舌黑起刺譫妄神昏脈數口渴見循衣摸床撮空者此實證也當用大劑雙解疊進為是如屢經攻下後六脈虛數舌淨無胎日晡執甚見循衣摸床撮空者此虛證也大劑生料六味地黃煎濃湯液日進數斗盡力救援或可百救一二如失下舌黑胎刺鼻燥厥逆當以大劑養陰化邪所謂壯水之主以制陽光此亦十中救半之候若夫老人虛人病後亡血後正氣虛極溫邪又盛見以上三證又當破格救援黃龍湯或朝服六味暮投雙解皆可總之三證兼見原屬敗證能審明虛實按證施治或可希僥倖於萬一也</p>

<h2>身冷</h2>
<p>身冷與惡寒不同惡寒是風寒外襲皮膚惡寒身冷是渾身肌肉皆冷在他證屬寒邪在溫證屬熱極如溫邪萌動外雖肢逆身冷惡寒作麻乃熱邪深伏鬱極內閉脈多沉伏參之內證必有咽乾口苦頭眩心煩手足心熱眼鼻噴火睡臥不寧尿赤煩悶舌赤舌乾等證萬不可認為寒邪誤投溫表香燥為害非淺當以神解合太極宣化伏邪使伏邪外達則厥回身熱更當消息邪之輕重酌與雙解涼膈等方治之如失下陰傷病邪困里亢極似陰即熱深厥深之旨渾身厥冷當審明舌色神脈酌定虛實施治若舌黑花燥舌本紫赤口渴咽燥及筋惕肉瞤神昏脈細等證又當大養陰液佐以攻邪之品以盡人事黃龍湯玉女煎加硝黃皆可選用至於初起夾寒夾表妄下以致邪陷身冷脈伏又當從溫化之法宜四逆合歸葛或真武諸方參酌之惟溫病無陰證姜附麻桂須宜慎用然寒邪若重自當隨證參酌不可拘滯也</p>

<h2>耳聾</h2>
<p>溫邪耳聾乃少陽邪熱上壅清陽時邪自三焦起三焦屬手少陽無論初終皆以神解合小柴胡清散少陽耳聾自愈如病後耳聾或腎水素虛又當以養陰壯水為主六味地黃湯緩緩圖治可也</p>

<h2>咳</h2>
<p>咳屬肺病時邪初起每多不咳即有之亦兼他邪如兼風脈浮兼水脈耎兼燥脈澀之類當於時邪方中看所兼何邪加藥抬之加兼風加前桔荊防兼水加茯苓半夏兼燥加桑葉麥冬更有平素陰虛乾咳無痰一染時邪咳必更甚蓋時邪屬火最易傷陰當於解時邪藥中加養陰之味至於溫邪病後多咳邪達皮毛周身必發疴發癢佳兆也清養肺金自愈甚有金被火灼咳至失音成痿成癰盡心救治痿宜復脈湯去薑桂癰宜瀉白散吐膿成癰多不可治又不可一概論也</p>

<h2>渴</h2>
<p>溫邪為熱症無有不渴間有不然或濕熱相兼或邪在血分或夾水飲或夾脾濕此外無有不渴者初起渴者宜察病邪之輕重渴甚則邪甚渴輕則邪輕雙解升降斟酌與之病後渴者當審明邪之有無渴為有餘邪不渴為無餘邪有餘邪則復甦合升降無餘邪只陰虛者參麥六味為主</p>

<h2>口苦口甘</h2>
<p>口苦口甘同為熱證口苦在傷寒為少陽證傷寒傳足時邪傳手手少陽三焦也時邪困伏三焦無有不口苦者當於神解方中倍加芩連知柏或三黃石膏湯選用至口甘為中焦熱鬱蓋脾胃屬土稼穡作甘熱邪薰蒸故甘味上溢於口此證每每舌多不燥或口不大渴萬不可用溫燥之藥於解時邪方中加芩連梔子可也</p>

<h2>齒燥</h2>
<p>溫邪齒燥有邪重陰枯之分邪重必兼口渴三黃石膏合雙解陰枯者或屢下後或素本不足非大劑六味地黃不可</p>

<h2>咽乾咽痛</h2>
<p>時邪咽乾乃熱淫上焦涼膈散清化湯若痛甚當視其有無結否無結以甘桔湯清化湯有結用涼膈散加牛子射干之類或起紫白泡是為乳蛾甚有急喉風急喉痹證旦發夕死夕發旦死不可不慎內治時邪雙解合甘桔法治之外證另延專司參看可也</p>

<h2>汗法</h2>
<p>溫證之汗與傷寒不同傷寒邪在三陽近於肌表每多汗解在前溫病邪伏三焦近於內臟每多汗解在後煞亦有不發汗而汗自出者或其人素本陽虛或濕盛往往有汗而熱仍不退者大約溫邪發汗宜辛涼不宜辛溫所有應汗之證條列於左</p>
<p>發熱　惡寒　無汗　頭項痛　背痛腰痛　肩臂痛　遍身肢節痛　吐法</p>
<p>吐法古制也今罕用之在溫病中如邪拒上焦喘滿者可吐痰湧膈上者可吐此外更有血結胃口水停心下及膈間飲證無不可吐成方具在特備於後以見古法之不可廢焉</p>
<p>壯盛之人痰壅氣促脈滑胸高胸滿脈芤胸滿拒按</p>
<p>以上用瓜蒂散吐之　虛人參蘆吐之</p>

<h2>下法</h2>
<p>溫邪下法原為瀉熱而設本不拘於結糞之有無故下不厭早亦不拘於表證之解與未解即便當下蓋溫邪由里達表必裡氣通而表汗始得每有下至一二次或五六次甚至數十次者惟以邪淨而後已至於老人虛人正虛邪實又當隨證斟酌或兼扶正或兼養陰或用導法是又不可不知也應下諸證列左</p>
<p>急下證</p>
<p>舌乾　舌強　舌卷　胎刺　胎黑　齒燥　鼻煤　胸腹滿痛　狂　沉昏　身冷　發熱　汗多　呃逆（有氣鬱熱不可下者已列前條）</p>
<p>當下證</p>
<p>舌赤　舌黃　譫語　多言　善忘　頭脹痛　煩躁　渴飲　便秘　協熱　下利　熱結旁流</p>
<p>緩下證</p>
<p>舌胎淡黃　小便短赤　潮熱</p>

<h2>和法</h2>
<p>和者解也解去熱邪即謂之和仲景惟少陽有和法若溫病則和法多端不可枚舉而所用之藥有辛涼解熱者有養陰化邪者或補瀉兼施或寒熱並用化其剛暴平其炎裊無不謂之和至於熱在營衛者以辛涼之味和之熱在胸膈及腸胃者以苦寒之味和之至於熱入心包則牛黃紫雪種種皆和法也</p>
<p>當和證</p>
<p>寒熱往來　盜汙　咽乾　頭眩　胸脅滿　渴耳聾　小便黃　嘔吐　下利心下痛　痞滿心悸　大小便閉塞寒熱　二便自利舌有胎　形體瘦損舌有胎</p>
<p>熱在營衛證</p>
<p>身熱汙自出　不惡寒反惡熱</p>
<p>熱在胸膈證</p>
<p>身熱反減咳嘔噦　咽乾熱入血室　譫語</p>
<p>熱在腸胃</p>
<p>便血便膿血</p>
<p>熱在心包及心證</p>
<p>癡　狂　沉昏　多睡　舌黑久不退</p>

<h2>補法</h2>
<p>溫邪屬熱原無用補而有屢經汗下必侍補而後愈者當消息陰陽虛處治之大抵時邪傷陰居多亦有陽虛者當斟酌施治今將陰陽虛證詳列於左</p>
<p>補當陰證</p>
<p>舌乾無胎　舌黑憮胎　耳聾　目直視　目不明　服涼藥煩熱加盛　服攻下藥胎更厚　服下藥舌胎芒刺更甚　身體枯瘦用利藥小便　不通腰膝軟痿　周身骨節痛不可移動　多睡久熱不退</p>
<p>當補陽證</p>
<p>多冷汗汗出身冷經日不回　小便清而多　大便利清穀　嘔吐　用清熱開導藥更甚　自利用清下藥更甚　痞滿服正治藥而熱不退　舌反淡白惡食</p>

<h2>四損四不足</h2>
<p>四損者大勞大欲大病久病也四不足者氣血陰陽也四損由人事四不足由天秉然四不足亦由四損而來如四損四不足之人復感溫邪正虛邪實極難施治攻邪則正傷養正則邪錮故補瀉兼施惟在臨證審明虛實如全局屬實內中有一二虛象可疑之處即當吃緊照顧其虛如全局俱虛有一處獨見實證更當諦視斡旋其實此抬病權衡也若夫表之而頭痛身痛更甚下之而痞滿倍增涼之而煩渴愈加此所謂大虛有盛候也急宜補之無疑尤當察之以脈如脈浮候盛大者當審其何部無力即是真虛處他部諸浮盛脈皆作假有餘看從而施治萬無一失以上四損四不足當以補瀉兼施為善又視明損之來由邪之輕重如人參敗毒散人參白虎湯黃龍湯竹葉石膏湯皆補瀉兼施之法也至於四不足亦由四損而來氣不足者少氣不足以息感邪雖重反無脹滿之形凡遇此證縱要去邪必以養氣為主人參敗毒散最妙血不足者面黃色晦唇口淡白雖宜攻利必以養血為光四物湯合神解散陽不足者肢冷體寒泄瀉夜甚口鼻氣冷受邪雖重反無身熱胎刺煩渴一遇此證不可攻利先溫補待其虛回實證全現然後以治實之法冶之陰不足者五液乾枯肌膚甲錯受邪雖重縱宜攻利必先養陰待其氣化津回邪多不治自退設有未退酌用清利不可早攻愈傷陰津為戒總之應補應攻存乎其人臨證斟酌耳</p>

<h2>三複</h2>
<p>何謂三複勞復食復自復也勞復因病後血氣未復勞傷精神以致夜熱作煩脈象虛數是證在藜藿之輩常任勤勞多無此復惟膏粱之人素處溫飽溺於酒色不必大作勤勞即偶然應酬動作起居及梳洗沐浴之類皆能致復輕者靜養自愈重者必大補氣血八珍養榮四君六味參酌陰陽虛實選用食復者舌胎黃厚右關脈滑輕者損谷自愈重者保和丸加消導如查麥枳實青皮之類若無故自復乃餘邪不盡如舌上仍有黃黑胎當酌用增損小柴胡加軍但溫病之後陰分易虛又當慎用加育陰之品為要邪儘自己急當培元甚有復至再三者惟斟酌病之虛實施治方為補瀉合宜不致偏弊誤人仁心仁術亦復何愧</p>

<h2>五兼十夾</h2>
<p>五兼者風寒暑瘧痢也十夾者痰水食鬱脾虛腎虛亡血疝心胃痛哮喘也吳氏辨之甚詳茲不復贅獨遺燥證如皮膚皺揭喉乾嚥痛等證當做喻氏清燥救肺或竹葉石膏湯加殭蠶化邪之品至十夾之外仍有夾陽虛陰虛二種如人素秉陽虛即冬日圍爐不覺其溫日啖薑桂不姚其熱若感溫邪當視何者為重何者為輕如陽虛之極邪伏之輕當以益陽為主透邪次之柴胡桂薑湯加殭蠶澤蘭若伏邪重極又當兼治大小復甦飲加薑桂總以邪之輕重為端倪甚者下之邪去又當固正又如陰虛者虛陽外越真陰內虧甚有一病即舌乾無津脈來數急以大劑參麥六味先救垂絕之陰佐以滌邪之品或透或下隨證斟酌至若受邪太重值此陰虛豈忍坐視不下或於大劑養陰之中合攻下之品以希僥倖於萬一可他</p>

<h2>風溫</h2>
<p>風溫一證乃天時亢燥火邪內郁風邪外伏證視發熱咳嗽咽痛面脹舌赤心煩甚則頭弦氣急所謂風溫上受瑞責肺胃治以清散梔豉湯荊防敗毒散加殭蠶牛子主之</p>

<h2>時毒</h2>
<p>時毒一證亦由天時厲氣風熱鬱於少陽陽明作時每多耳畔高腫輕則不熱重則惡寒發熱夾食者胸悶闔家大小每每傳染無遺雖屬輕恙不可忽視倘經敷過致邪不化或口腹不禁以致熱邪內陷為害甚酷治法亦主清散甚則兼下</p>

<h2>發腫</h2>
<p>時邪後面目肢體浮腫氣虛者脈耎無力補中益氣湯脾虛有水氣者小便不利四苓埋中食滯者心下痛保和丸</p>

<h2>發頤</h2>
<p>時邪病後耳後或項下或巔頂腫者此餘熱留於營血即頤毒也速用普濟消毒飲加荊防耳後加柴胡巔頂加羌活外以蔥水浴之不可敷貼恐致成膿致有他變</p>

<h2>發瘡發痿</h2>
<p>時邪後發瘡乃熱邪外達皮毛極佳之象清熱化邪自愈發痿乃榮血傷也吳氏養榮湯</p>

<h2>發蒸</h2>
<p>蒸乃餘邪留於陰分當看有無邪否如餘邪不盡仍當攻邪佐養陰之品神解復甦酌用如純無邪者方可養陰六味地黃為主</p>

<h2>索澤</h2>
<p>溫邪索澤之證多因失治或誤投香燥溫散之劑真陰受傷致邪難化多在病後其證身體枯瘦皮膚甲錯消索而不潤澤也皆緣陰液為熱所耗肌膚失其濡筋骨失其榮或證現潮熱咳嗽吐沫吐膿或脾憊不食漸漸羸瘦骨立而死若早進六脈地黃丸及吳氏諸養榮法兼潮熱者銀甲散血虛者全鱉膏肺損者百合固金湯或可挽回至於善後惟有薄滋味不助熱邪慎起居勿傷血氣不可徒恃藥餌以滋蔓延</p>

<h2>急發證</h2>
<p>夫證有緩急猶天地之有常變處常如和風甘雨證之和緩者然處變如狂風疾雨證之暴急者然觀於天地之常變而證之緩急思過半矣惟溫疫一證不同他證不循六經難以窺測故有緩急之殊緩發者多延時日用藥頗可消息惟急發者每每倉猝不及提防甚至朝為平人暮為病鬼雖有良工其如走馬之勢何是以業醫者當細心研究其於證之急者能早辨之不致夭人性命是即迴天再造之手也謹將急證情形略舉數則以匣閱者易於明白</p>
<p>一早間發熱午即舌黑神識不清者增損雙解大劑疊進方能有救</p>
<p>一陡然如醉如癡神情恍惚六脈全伏舌色紫赤肩脅胸背痛者邪伏最深趁此初萌先與神解合太極升降或敗盡加大黃滑石等藥俟邪勢向表可與販毒加梔豉人中黃或涼膈</p>
<p>一初病即頭痛加破身痛如杖腰痛如折者即用神解敗毒九味羌活皆可</p>
<p>一初病即神昏不語有似中風甚至手足抽掣半身不遂當其人平素必有痰火氣鬱之證與邪並作可與清化湯兼痰者可加白芥子萊菔子兼火者加酒炒熟大黃兼氣者加烏藥青皮野玉金或涼膈散</p>
<p>一初病即狂妄不識人者急與敗毒加犀連大黃甚者雙解或涼膈加人中黃</p>
<p>一陡然阻厥如氣厥氣阻脈象全伏神解清化四七選用舌紫赤者清化湯加白薇邪勢發作增損雙解散下之</p>
<p>一小兒突然驚搐不醒少定又驚或一連數十次者參之舌乾舌赤舌黑頭重不立者即是溫病極重之候初起宜用清化湯加羚羊或珠黃散合加味太極丸沙痘常有此證宜用大無比散和加味太極丸藥用神解散加羌活大黃</p>
<p>一婦人或壯熱神昏崩下不止者此邪熱入胞中舌必乾紅或黑或紫赤宜用神解散黃連解毒湯加生地</p>
<p>一面色青縮者舌必紫赤胎或白黃口有臭氣或小便短赤脈或沉伏而數此邪伏極重初宜清化湯繼用增損雙解散</p>
<p>一或登高而歌棄衣而走者舌必紫赤三黃石膏湯加大黃鐵落</p>
<p>一無故吐血者脈或數大舌或紫赤抽薪飲清化湯加生地澤蘭歸芍</p>
<p>一無故霍亂者舌色乾紅清化湯定中湯加蘆根若舌本淡舌苔白又宜藿香正氣散</p>
<p>一下痢不止舌赤脈數者荊防敗毒加軍或雙解散此通因通用法也</p>

<h2>緩發證</h2>
<p>溫邪之急發者前條申明惟緩發者其始悠悠慼慼若無大苦現證與溫邪殊不相類醫者不察見病治病屢藥不效迨至旬日或半月後病邪陡然猖獗即成燎原之勢甚至熱邪內潰譫妄神昏舌刺呃逆循衣撮空厄證疊現斯時即有對證之藥極力救之雖鞭之長不及馬腹矣惟能早辯其證治其萌櫱或有兼夾先治兼夾使邪得外達正氣不傷庶可保全今將緩法證治列左俾業醫者熟習胸中不致臨證誤治斯為盡善盡美之道也</p>
<p>一初起不熱惡寒時作時止舌苔白者荊防敗毒散舌白如膩粉者宜服達原飲藿香正氣散梔豉湯虛人人參敗毒散陰虛歸葛飲臨證選用</p>
<p>一恍惚如醉如癡者舌或乾紅或咽乾口不渴或頭眩而不自知其苦者宜用神解散清化湯升降散消息之</p>
<p>一惡食不渴如濕痰者而心內作煩舌尖泛紅者初起夾寒食者藿香正氣散加羌防芍芷之類俟寒食退再照溫例治之</p>
<p>一咳嗽咽痛如風熱者參之脈數舌赤清化湯升降散甘桔湯加牛子薄荷</p>
<p>一偶然失血一二口如內傷者</p>
<p>一胸悶脅脹如氣鬱者</p>
<p>一胃痛胸痛及肋脅肚腹痛有似氣逆夾寒者</p>
<p>一嘔吐痰水如霍亂者</p>
<p>一頭眩頭痛者</p>
<p>一面色青黃飲食不為肌肉者</p>
<p>一兼夾風寒舌先有澆白苔舌本或淡或紅伏邪發動舌必紅紫</p>
<p>一兼夾暑濕舌或白膩或淨赤無胎</p>
<p>一兼夾飲食舌胎粗厚口有穢氣舌本紅赤</p>

<h2>溫邪壞證紀略</h2>
<p>一溫邪失治變生腫脹喘滿者多死不治</p>
<p>一溫邪初起精神異常者不治</p>
<p>一溫邪萌作即身痛神昏肢逆脈伏面色晦滯變生倉猝</p>
<p>一溫邪一病口臭噴人舌黑脈代者死</p>
<p>一溫邪初病腰痛身疼脈伏神昏咽燥不語者乃邪閉之候死期最速</p>
<p>一溫邪失治久延潮熱嬴瘦有似怯證者不治</p>
<p>一溫邪失治熱久傷陰得能發瘡發疥者生</p>

<h2>婦人</h2>
<p>婦入溫證治法與男子異者經朋妊娠產後之別絆候適夾溫邪恰受血為邪遏多致腹痛脹滿治溫法中加桃仁紅花元胡丹皮鰲甲之類經候過去血室空虛邪因乘入多致譫妄舌黑神昏潮熱又當以增損小柴胡加養陰之品如患溫時經自行熱隨血泄只治其溫經行自已至妊娠之婦一受溫邪胎為熱傷勢在必下胎下母亦難全處此不妨向病家說明原委急當速徹其熱以希僥倖往往如此施治不但胎不下墮而反安然無事岐伯曰有故無隕亦無隕也誠哉此言而吳又可又有懸鐘之喻於理更切要之此時下胎亦墮不下胎亦墮然下之胎墮母猶可救十中二三不下則母無生理胎亦為能獨存同一胎墮較之此善於彼自當盡力援之雙解散人增損大柴胡皆可選用更有妊婦一病舌即花紅或黑或燥此屬溫邪太重非大劑重劑不能破格救人惟減芒硝一味亦有胎死腹中又非硝不能下也尤宜向病家中明再用勿致胎謗為要至於幸與不幸天命也人事不可不盡也若產後受邪較胎前更難施治緣氣血早虧溫邪直入難化此時攻不可補亦不可惟審明證候以固本為主去邪佐之邪輕大小復甦神解合四物邪重複蘇為主攻邪如升降太極至於放手攻利則不可若果邪熱深重一病神昏舌乾勢有燎原之危又非大劑涼下不能有濟或兼扶元或佐育陰總俟臨證採酌攻補得宜庶為美善兼盡</p>

<h2>小兒</h2>
<p>小兒溫證與大人異者肌膚柔脆臟腑嬌嫩陰常不足陽常有除一受溫邪兩陽合併多致抽搐似驚實非驚也緣溫乃熱邪最易傷陰陰傷血燥風自內生是以劄眼搖頭吐舌撩唇胎黑鼻煤渴飲氣促人事昏沈以上種種現證溫病常有而驚證實無也若作驚治萬無一生照濕熱例治十全八九予一見此證當以加味太極丸紫雪合神解散加犀羚膏連獲效如晌此等證尤易驚駭惑人病家倉皇之際每招無師之嫗一見如此光景即以衣針挑放偶有見效以為應手居奇殊不知內經原有刺穴瀉熱之旨然而倉皇之時得此稍安人心尚屬可嘉間有不然之人身帶無名之藥重價售服反謗正治之非而世之病家相沿受惑者比比縱有明哲之輩多易墮其術中良可悲夫不思驚證從無鼻煤胎黑等證以此為辨萬不失一</p>

<h1>卷三</h1>

<h2>神解散</h2>
<p>溫病初覺僧寒體重壯熱頭痛四肢無力偏身痠痛口苦咽乾胸腹滿悶者此方主之</p>
<p>白殭蠶酒炒一錢蟬蛻五個神麯三錢金銀花二錢生地二錢木通車前子炒研黃芩酒炒黃柏鹽水炒黃連桔梗各一錢水煎去渣入冷炒黃酒半小杯蜜三匙和勻冷服</p>
<p>此方之妙不可殫述溫病初覺但服此藥俱有奇驗外無表藥而汗液流通里無攻藥而熱毒自解有班疹者即現而內邪悉除此其所以為神解也</p>

<h2>清化湯</h2>
<p>溫病壯熱憎寒體重舌燥口乾上氣喘吸咽喉不利頭面猝腫目不能開者此方主之</p>
<p>白殭蠶（酒炒三錢）　蟬蛻（十個）　金銀花（二錢）　澤蘭葉（二錢）　廣皮（八分）　黃芩（二錢）　黃連（炒）　梔連翹（去心）　龍膽草（酒炒）　元參　桔梗（各一錢）　白附子（泡）　甘草（各五分）　大便實加酒大黃（四錢）　咽痛加牛蒡子炒研（一錢）　頭面不腫去白附子水煎去渣入蜜酒冷服</p>
<p>其方名清化者以清邪中於上然而能化之以散其毒也芩連梔翹清心肺之火元參橘甘清氣分之火膽草清肝膽之火而且沈陰下行以瀉下焦之濕熱殭蠶蟬蛻散腫消毒定喘出音能使清陽上升銀花清熱解毒澤蘭行氣消毒白附散頭面風毒桔梗清咽利膈為藥之舟楫潤藏腑酒性大熱而散能引諸涼藥至熱處以行內外上下亦火就燥之意也其中君明臣良佐使同心引導協力自使諸證悉平矣</p>

<h2>芳香飲</h2>
<p>溫病多頭痛身痛心痛脅痛嘔吐黃痰口流濁水涎如紅汁腹如圓箕手足搐搦身發斑疹頭痛舌爛咽喉痹塞等證怪怪奇奇不可名狀皆因肺胃火毒不宣抑鬱而成治法急宜大清大瀉但有氣血損傷之人遽用大寒大苦之劑恐及轉閉塞而不達是害之也此方主之其名芳香者以古人元旦汲清泉以飲芳香之藥重滌穢也</p>
<p>元參（一兩）　白茯苓（五錢）　石膏（五錢）　蟬蛻全（十二個）　白殭蠶段（炒三錢）　荊芥（三錢）　天花粉（三錢）　神麯（炒三錢）　苦參（三錢）　黃芩（二錢）　陳皮（一錢）　甘草（一錢）　水煎去渣入蜜酒冷服</p>

<h2>達原飲</h2>
<p>檳榔（二錢）　厚朴（一錢）　草果仁（五分）　知母（一錢）　黃芩（一錢）　芍藥（一錢）　甘草（五分</p>
<p>本方加羌活（一錢）　柴胡（一錢）　葛根（二錢）　即三消飲</p>

<h2>九味羌活湯</h2>
<p>羌活　防風　蒼朮（各錢五分）　白芷　川芎　黃芩　生地　甘草（各一錢）　細辛（五分）　加生薑蔥白煎</p>

<h2>藿香正氣散</h2>
<p>藿香（一錢）　大腹皮（五分）　紫蘇（一錢）　甘草（五分）　桔梗（一錢）　陳皮（八分）　茯苓（二錢）　白朮　厚朴　半夏曲（各一錢）　白芷（五分）加薑棗煎</p>

<h2>梔豉湯</h2>
<p>豆豉梔子等分</p>
<p>本方加蔥一握名蔥白香豉湯</p>

<h2>莉防敗毒散</h2>
<p>荊芥防風枳殼桔梗柴胡前胡茯苓甘草羌活獨活川芎薄荷各等分加生薑煎</p>
<p>本方去荊防加人參名人參敗毒散</p>
<p>本方加厚朴陳皮殭蠶蟬蛻藿香名消風敗毒散</p>

<h2>普濟消毒飲</h2>
<p>黃芩（酒炒）　黃連（酒炒各五錢）　玄參　甘草　桔梗　柴胡　陳皮　牛蒡　板藍根　馬勃連　翹薄荷（各一錢）　殭蠶　升麻（各七分）</p>
<p>本方加蟬蛻梔子酒大黃蜜酒即增損普濟消盡飲</p>

<h2>歸葛飲</h2>
<p>當歸葛根等分</p>

<h2>防風通聖散</h2>
<p>大黃（酒蒸）　芒硝　防風　荊芥　麻黃（炒）　梔白芍（妙）　連翹　川芎　當歸　薄荷　白朮（各五錢）　桔梗　黃芩　石羔（各一兩）　甘草（二兩）　滑石（三兩）加薑蔥煎</p>

<h2>增損雙解散</h2>
<p>溫病主方溫毒流注無所不至上干則頭痛而腫注於皮膚則斑疹瘡瘍壅於腸胃則毒利膿血傷於陽明則腮臉腫痛結於太陰則腹滿嘔吐結於少陰則喉痹咽痛結於厥陰則舌卷囊縮此方解散陰陽內外之毒無所不至矣</p>
<p>白殭蠶（酒炒三錢）　全蟬蛻（十二枚）　廣薑黃（七分）　防風（一錢）　薄荷葉（一錢）　荊芥穗（一錢）　當歸（一錢）　白芍（一錢）　黃連（一錢）　連翹（去心一錢）　梔子（一錢）　黃芩（二錢）　桔梗（二錢）　石膏（六錢）　滑石（三錢）　甘草（一錢）　大黃（酒浸二錢）　芒硝（二錢）水煎去渣充芒硝入蜜三匙黃酒半酒杯和勻冷服</p>
<p>慄山曰溫病本末身涼不渴小便不赤脈不洪數者未之有也河間以傷寒為雜病溫病為大病特立雙解散以兩解溫病表裡之熱毒以發明溫病與傷寒異治之秘奧其見高出千古深得長沙不傳之秘且長沙以兩感為不治之證傷寒病兩感者亦少一部傷寒論僅見麻黃附子細辛湯一證惟溫病居多以溫病咸從三陰發出三陽乃邪熱亢極之證即是兩感惜長沙溫病方論散佚不傳倖存刺五十丸穴一法惟河間雙解散解鬱散結清熱導滯可以救之必要以雙解為第一方信然予加減數味以治溫病較原方尤覺大驗惟麻黃春夏不可輕用古方今病不可過執也所以許學士有云讀仲景之書學仲景之法不可執仲景之方乃為得仲景之心也旨哉斯言河間雙解三黃俱用麻黃仍是牽引叔和書說蓋溫病熱鬱自里達表亦宜解散但以辛涼為妙</p>

<h2>涼膈散</h2>
<p>連翹（二錢）　大黃　芒硝　甘草（各四錢）　黃芩（炒）　梔薄荷（各一錢）　竹葉（三十片）　蜜煎去渣服</p>

<h2>加味涼膈散</h2>
<p>溫病主方慄山曰余治溫病雙解涼膈愈者不計其數若病大頭瓜瓤等溫危在且夕數年來以二方救活者屈指以算百十餘人真神方也其共珍之</p>
<p>白殭蠶（酒炒三錢）　蟬蛻全（十二枚）　廣薑黃（七分）　黃連（二錢）　黃芩（二錢）　梔子（二錢）　連翹（去心）　蒲荷　大黃　芒硝（各二錢）　甘草（一錢）　竹葉（三十片）　水煎去渣沖芒硝入蜜酒冷服胸中熱加麥冬心下痞加枳實嘔渴加石膏小便赤數加滑石滿加枳實厚朴</p>
<p>連翹荷竹味薄而升浮瀉火於上苓連梔姜味苦而無氣瀉火於中大黃芒硝味厚而鹹寒瀉火於下殭蠶蟬蛻以清化之品滌疵癘之氣以解毒用甘草者取其性緩而和中也加蜜酒者取其引上而導下也</p>

<h2>升降散</h2>
<p>溫病亦雜氣中之一也表裡三焦大熱其證不可名狀者此方主之如頭痛眩量胸膈脹悶心腹疼痛嘔噦吐食者如內燒作渴上吐下瀉身不發熱者如憎寒壯熱一身骨節痠痛飲水無度者如四肢厥冷身涼如冰而氣噴如火煩躁不寧者如身熱如火煩渴引飲頭面猝腫其大如斗者如咽喉腫痛痰涎壅盛滴水不能下咽者如遍身紅腫發塊如瘤者如斑疹雜出有似丹毒風瘡者如胸高脅起脹痛嘔如血汁者如血從口鼻出或目出或牙縫出毛孔出者如血從大便出甚如爛瓜肉屋漏水者如小便澀淋如血點滴作疼不可忍者如小便不通大便火瀉無度腹痛腸鳴者如便清瀉白足重難移者如肉瞤筋惕者加舌卷囊縮者如舌出寸許絞擾不住音聲不出者如譫語狂亂不省人事如醉如癡者如頭疼如破腰痛如折滿面紅腫目不能開者如熱盛神昏形如罪人哭笑無常目不能閉者如手舞足蹈見神見鬼似風癲狂者如誤服發汗之藥變為亡陽之證而發狂叫跳或昏不識人者外證不同受邪則一凡未曾服過他藥者無論十日半月一月但服此散無不輒效</p>
<p>白殭蠶（酒炒二錢）　全蟬蛻（去土一錢）　廣薑黃（去皮三分）　川大黃（生四錢）秤准右為細末各研勻病輕者分四次服每服重一錢八分二釐五毫用黃酒二匙蜂蜜五錢調勻冷服中病即止病重者分三次服每服重二錢四分三釐三毫黃酒三匙蜜七錢五分調勻冷服最重者分二次服每服重三錢六分五釐黃酒二匙蜜一兩調勻冷服一時無黃酒稀熬酒亦可斷不可用蒸酒胎產亦不忌煉蜜丸名太極丸服法同前輕重分服用蜜酒調勻送下</p>
<p>慄山曰溫病總計十五方輕則清之神解散清化湯芳香飲大小清涼散大小復甦飲增損三黃石膏湯八方重則瀉之增損大柴胡湯增損雙解散加味涼膈散加味六一順氣湯增損普濟消毒飲解毒承氣湯六方而升降散其總方也輕重皆可酌用察證切脈斟酌得宜病之變化治病之隨機應變又不可執方耳按處方必有君臣佐使而又兼引導此良工之大法也是方以殭蠶為君蟬蛻為臣姜委為佐大黃為使米酒為引蜂蜜為導六法備俱而方乃成竊嘗考諸本草而知殭蠶味辛苦氣薄喜燥惡濕得天地清化之氣輕浮而升陽中之陽故能勝風險濕清熱解鬱從治膀胱柑火引清氣上朝於口散逆濁結滯之痰也其性屬火兼土與木老得金水之化僵而不腐溫病火炎土燥焚木爍金得秋分之金氣而自衰故能闢一切怫鬱之邪氣夫蠶必三眠三起眠者病也合薄皆病而皆不食也起者愈也合薄皆愈而皆能食也用此而治閤家之溫病所謂因其氣相感而以意使之者也故為君夫蟬氣寒無毒味鹹且甘為清虛之品出糞上之中處極高之上自甘風露而已吸風得清陽之真氣所以能祛風而勝濕飲露得太陽之精華所以能滌熱而解毒也蛻者退也蓋欲使人退去其病亦如蟬之脫然無恙也亦所謂因其氣相感而以意使之者也故為臣薑黃氣味辛苦大寒無毒蠻人生啖喜其祛邪伐惡行氣散郁能入心脾二經建功闢疫故為佐大黃味苦大寒無毒上下通行蓋亢甚之陽非此莫抑苦能瀉火苦能補虛一舉而兩得之人但知建良將之大勳而不知有良相之碩德也故為使米酒性大熱味辛苦而甘令飲冷酒欲其行遲傳化以漸上行頭面下達足膝外周毛孔內通藏府經絡驅逐邪氣無處不到如物在高巔必奮飛沖舉以取之物在遠方及深奧之處更必迅奔探索以取之且喜其和血養氣伐邪辟惡仍是華陀舊法亦居蘇之義也故為引蜂蜜甘平無盡其性大涼主治丹毒斑疹腹內留熱嘔吐便秘欲其清熱潤燥而自散溫毒也故為導蓋蠶食而不飲有大便無小便似清化而升陽蟬飲而不食有小便無大便以清虛而散火君明臣良治化出焉薑黃辟邪而靖疫大黃定亂以致治佐使同心功績建焉酒引之使上行蜜潤之使下導引導協力遠近通焉補瀉兼行無偏勝之弊寒熱並用得時中之宜所謂天有覆物之功人有代覆之能其洵然哉是方不知始自何氏茲改分兩變服法名為賠賑散用治溫病服者皆愈以為當隨賑濟而賠之也予更其明曰升降散蓋取殭蠶蟬蛻升陽中之清陽薑黃大黃降陰中之濁陰一升一降內外通和而雜氣之流毒頓消矣又名太極丸以太極本無極用治雜氣無聲無臭之病也予用此散救大證怪證壞證危證得愈者不可數計更將此方傳施親友全沽甚眾可與河間雙解散並駕齊驅耳名曰升降亦雙解之別名也</p>

<h2>加味太極丸</h2>
<p>小兒溫病主方凡治溫病皆可隨證酌用</p>
<p>白殭蠶（二錢酒炒）　全蟬蛻（去土一錢）　廣薑黃（三分）　川大黃（四錢）　天竺黃（一錢）　膽星（一錢）　冰片（一分）　加西牛黃（二分）更妙右七味秤唯為細末糯米濃湯和丸如芡實大冷黃酒和蜜泡化一丸涼服薄希熬酒亦可</p>

<h2>大柴胡湯</h2>
<p>柴胡（一錢）　半夏　薑汁（炒一錢半）　黃芩（二錢）　白芍（一錢）　枳實（麩炒一錢）　大黃（酒浸二錢）　生薑（二錢）　大棗（一枚）水煎服</p>

<h2>增損大柴胡湯</h2>
<p>溫病熱鬱腠理以辛涼解散不至還里而成可攻之證此方主之乃內外雙解之劑也</p>
<p>柴胡（一錢）　薄荷（二錢）　陳皮（一錢）　黃芩（二錢）　黃連（一錢）　黃柏（一錢）　梔子（一錢）　白芍（一錢）　枳實（一錢）　大黃（二錢）　廣薑黃（七分）　白殭蠶（酒炒三錢）　全蟬蛻（十個）　嘔加生薑二錢水煎去渣入冷黃酒一兩蜜五錢和勻冷服</p>

<h2>小柴胡湯</h2>
<p>柴胡（一錢）　黃芩（二錢）　半夏（二錢）　人參（一錢）　甘草（炙一錢）　生薑（二錢）　大棗（二錢）水煎溫服</p>
<p>本方加殭蠶蟬蛻即增損小柴胡湯</p>

<h2>加味六一順氣湯</h2>
<p>殭蠶（二錢）　蟬蛻（一錢）　大黃（二錢）　芒硝　柴胡　黃連雲港　白芍（各一錢）　甘草（五分）　厚朴　枳實　黃芩（各一錢）</p>

<h2>蜜導法</h2>
<p>用蜜熬如飴捻作挺子摻皂角末乘熱納穀道中或用豬膽汁醋和以竹管</p>
<p>插肛門中將汁灌入頃當大便名豬膽汁導法</p>

<h2>調胃承氣湯</h2>
<p>大黃（酒浸三錢）　芒硝（三錢）　甘草（炙二錢）　水煎服</p>

<h2>養榮承氣湯</h2>
<p>知母　當歸　芍藥　生地黃　大黃　枳實　厚朴（各一錢）　加姜煎</p>

<h2>解毒承氣湯</h2>
<p>殭蠶（二錢）　蟬蛻（一錢）　黃芩　黃連　黃柏　梔子　枳實　厚朴（各一錢）　芒硝（一錢）</p>

<h2>五味消毒飲</h2>
<p>金銀花（三錢）　野菊花　蒲公英　紫花　地丁　紫貝　天葵子（各一錢二分）</p>

<h2>火齊湯</h2>
<p>（即三黃湯）</p>
<p>黃柏　黃芩　黃連（等分）</p>

<h2>三黃石膏湯</h2>
<p>石膏（兩半）　黃芩　黃柏　黃連（各七錢）　梔子（三十個）　淡豉（各二合）</p>
<p>本方去麻黃加殭蠶蟬蛻薄荷梔子等分入蜜酒服即增損三黃石膏湯</p>

<h2>三黃瀉心湯</h2>
<p>湯液論有黃芩保命集有甘草大黃川黃連</p>
<p>以麻沸湯漬之須臾絞去滓溫服</p>

<h2>竹葉石膏湯</h2>
<p>竹葉（二錢）　石膏（四錢）　麥冬（去心二錢）　半夏（二錢）　人參（一錢）　甘草（炙一錢）　生薑（二錢）　粳米（二錢）水煎溫服</p>

<h2>白虎湯</h2>
<p>石膏（生八錢）　知母（三錢）　甘草（生一錢半）　粳米（二錢）　竹葉（三十片）　水煎冷服加人參（一錢五分）名人參白虎湯</p>
<p>加蒼朮（一錢）名蒼朮白虎湯</p>

<h2>黃連解毒湯</h2>
<p>黃連　黃芩　黃柏　梔子（各一錢）水煎冷服</p>

<h2>玉女煎</h2>
<p>熟地（五錢）　牛膝（錢半）　石膏（五錢）　知母（錢半）　麥冬（去心二錢）水煎服</p>

<h2>犀角地黃湯</h2>
<p>懷生地（六錢）　白芍（四錢）　牡廾皮（三錢）　犀角鎊水煎入犀汁服</p>

<h2>犀角大青湯</h2>
<p>犀角鎊（二錢為末或磨汁對湯服）大青（或以青黛代之）元參（各三錢）升麻　黃速　黃芩　黃柏　梔子（各一錢）　甘草（五分）　水煎去渣入犀角汁童便冷服一方加白殭蠶酒炒三錢蟬蛻十個全更妙大便秘加大黃</p>

<h2>二陳湯</h2>
<p>半夏（薑汁製二錢）　陳皮（一錢）　白茯苓（一錢半）　甘草（一錢）　生薑（一錢）水煎溫服</p>
<p>本方加竹茹枳實名溫膽湯</p>

<h2>導赤散</h2>
<p>生地黃　木通（各三錢）　淡竹葉　甘草梢（各一錢）水煎溫服</p>

<h2>導赤瀉心湯</h2>
<p>黃連（酒洗）　黃芩（酒洗）　梔子（薑汁炒）　黑知母（鹽酒拌炒）　犀角鎊（磨汁另入）　人參　麥冬　茯神（去木）　甘草（生各二錢）　滑石（二錢）　燈心（三分）　生薑（二錢）　大棗（二枚）水煎溫服</p>

<h2>大清涼散</h2>
<p>溫病表裡三焦大熱胸滿脅痛耳聾目赤口鼻出血唇乾舌燥口苦自汗咽喉腫痛譫咨狂亂者此方主之</p>
<p>白殭蠶（酒炒三錢）　蟬蛻全（十二個）　全竭（去毒三個）　當歸　生地（酒洗）　金銀花　澤蘭（各二錢）　澤瀉　木通　車前子（炒研）　黃連　薑汁（炒）　黃芩　梔子（炒）　黑五味子　麥冬　龍膽草（酒炒）　丹皮　知母（各一錢）　甘草（生五錢）　水煎去渣入烽蜜三匙冷米酒半小杯童便半小杯和勻冷服此方通瀉三焦之熱其用童便者不及自己小便之佳素問曰輪迴酒綱目曰還元湯非自己小便何以謂之輪迴何以謂之還元乎夫以己之熱病用己之小便入口下咽直達病所引火從小水而降甚速也此古人從治之法惜愚夫愚婦未曾曉也甚且潮而笑之眼見嘔血人接自己小便飲一二碗立止非其明驗乎</p>

<h2>小清涼散</h2>
<p>溫病壯熱煩躁頭重面赤咽喉不利或唇口煩腮腫者此方主之</p>
<p>白殭蠶（炒三錢）　蟬蛻（十個）　銀花　澤蘭　當歸　生地（各二錢）　石膏（五錢）　黃連　黃芩　梔子（酒炒）　牡丹皮　紫草（各一錢）水煎去渣入蜜酒童便冷服黃連清心火亦清脾火黃芩清肺火亦清肝火石膏清胃火亦清肺火梔子清三焦之火紫草通竅和血解毒消脹銀花清熱解毒澤蘭行氣消毒當歸和血生地丹皮涼血以養陰而退陽也殭蠶蟬蛻為清化之品散腫消郁清音定喘使清升濁降則熱解而證自平矣</p>

<h2>大復甦飲</h2>
<p>溫病表裡大熱或誤服溫補和解藥以致神昏不語形如罪人或哭笑無常或手舞足蹈或譫語罵人不省人事目不能閉者名越經證及誤服表藥而大汗不止者名亡陽證並此方主之</p>
<p>白殭蠶（三錢）　蟬蛻（十個）　當時（三錢）　生地（二錢）　人參　茯苓　麥冬　天麻　犀角（磨汁）入湯和服丹皮（梔子炒）　黑黃連（酒炒）　黃芩（酒炒）　知母　甘草（生各一錢）　滑石（二錢）　水煎去渣入冷黃酒蜜犀角汁和勻服</p>

<h2>小復甦飲</h2>
<p>溫病大熱或誤服發汗解肌藥以致譫語發狂昏迷不省躁熱便秘或飽食而復者並此方主之</p>
<p>白殭蠶（三錢）　蟬蛻（十個）　神麯（三錢）　生地（三錢）　木通　車前子（炒各二錢）　黃芩　黃柏（梔子炒）　黑黃連　知母　桔梗　牡丹皮（各一錢）水煎去渣入蜜三匙黃酒半小杯和勻冷服</p>

<h2>大分清飲</h2>
<p>茯苓　澤瀉　木通（各二錢）　豬苓　梔子或倍之枳殼　車前子（各一錢）　水一碗煎八分溫服</p>

<h2>小分清飲</h2>
<p>茯苓（二錢）　澤瀉（二三錢）　苡仁（二錢）　豬苓（各一錢）　枳殼（一錢）　厚朴（一錢）　水一鍾半煎七分</p>

<h2>抽薪飲</h2>
<p>黃芩　石斛　木通　梔子　黃柏（各一錢二分）　枳完　澤瀉　細甘草（三分）水一鍾半煎七分溫服</p>

<h2>玉屏風散</h2>
<p>黃耆（蜜炙）　防風（各一錢）　白朮（炒二錢）　水一鍾姜三片煎服</p>

<h2>神朮散</h2>
<p>蒼朮　防風（各二錢）　炙草（一錢）</p>
<p>本方去防風炙草加黃柏一錢即二妙散</p>

<h2>大青龍湯</h2>
<p>麻黃（四錢）　桂枝（二錢）　甘草（灸二錢）　杏仁（泡去皮尖十敉）　石膏（八錢）　生薑（三錢）　大棗（一枚）</p>

<h2>小青龍湯</h2>
<p>麻黃（二錢）　桂枝（二錢）　白芍（二錢）　半夏（二錢四分）　五味子（一錢）　細辛（一錢）　乾薑一錢）　甘草（炙一錢）</p>

<h2>越婢湯</h2>
<p>麻黃（六錢）　石膏（八錢）　炙草（一錢）　姜（三片）　大棗（五枚）</p>

<h2>香薷飲</h2>
<p>香薷（一錢）　生萹豆（一錢）　厚朴（炒一錢）</p>

<h2>黃龍湯</h2>
<p>治胃實失下虛極熱極循衣撮空不下必死者人參（錢半）　熟地（三錢）　當歸（二錢）　大黃（酒浸二錢）　芒硝（二錢）　枳實（一錢）　厚朴（一錢五分）</p>

<h2>小陷胸湯</h2>
<p>黃連（一錢五分）　半夏（三錢）　瓜蔞（一個）</p>

<h2>保和丸</h2>
<p>山查（三兩）　神麯　半夏　茯苓（各一兩）　會皮　萊菔子　連翹（各五錢）　曲糊為丸</p>

<h2>抵當丸</h2>
<p>水蛭三十豬脂熬黑虻蟲三十去頭足翅桃仁三十去皮尖研大黃四兩酒</p>

<h2>浸蜜丸</h2>
<p>代抵當丸</p>
<p>大黃（酒洗四兩）　芒硝　穿山甲　蛤粉（炒）　夜明砂　淘焙　莪朮（酒炒）　肉桂（去皮）　當歸尾酒蒸（各一兩）　紅花（酒炒七錢）　桃仁（不去皮尖用七十粒另研蜜丸</p>

<h2>桃仁承氣湯</h2>
<p>桃仁（連皮尖十五個）　桂枝（三錢）　大黃（酒浸四錢）　芒硝（二錢）　甘草（炙一錢二分）</p>

<h2>茵陳蒿湯</h2>
<p>茵陳蒿（二錢）　梔子（三錢）　大黃（五錢）</p>
<p>本方加桂枝白朮茯苓澤瀉豬苓節茵陳五苓散</p>

<h2>六一散</h2>
<p>（即天水散）</p>
<p>滑石（六錢）　甘草（一錢）</p>
<p>本方加硃砂即益元散</p>
<p>白朮　澤瀉　豬苓　茯苓（等分）</p>
<p>本方去白朮加阿膠滑石即豬苓湯</p>

<h2>橘皮竹茹湯</h2>
<p>橘皮（五錢）　竹茹（一錢）　沙參（一錢）　炙草（五分）　半夏（一錢）　陳皮（一錢）　麥冬（一錢）　赤苓（二錢）　加薑棗煎</p>

<h2>橘皮半夏湯</h2>
<p>橘皮半夏等分加生薑煎</p>

<h2>大半夏湯</h2>
<p>半夏人參等分白蜜</p>

<h2>小半夏湯</h2>
<p>半夏生薑等分</p>

<h2>瓜蒂散</h2>
<p>甜瓜蒂炒黃赤小豆等分</p>
<p>為末熱水二鍾入淡豆豉三錢煎一鍾去渣和藥末一錢溫服或用參蘆煎湯熱服以指探吐</p>

<h2>參胡三白散</h2>
<p>人參（一錢半）　白朮（一錢半）　柴胡（二錢）　白芍（一錢半）　白茯苓（一錢半）</p>

<h2>清燥養榮湯</h2>
<p>知母　天花粉　當歸身　白芍　甘草　地汁　陳皮（等分）　加燈心煎</p>

<h2>柴胡清燥湯</h2>
<p>柴胡（一錢）　黃芩（一錢）　陳皮（一錢）　甘草（五分）　花粉（一錢）　當歸（一錢）　白芍（一錢五分）　生地（二錢）　知母（一錢五分）　加生薑大棗煎</p>

<h2>清燥救肺湯</h2>
<p>桑葉（三錢）　人參（一錢）　麻仁（一錢）　炙草（一錢）　枇杷葉（二片）　阿膠（一錢）　麥冬（二錢）　杏仁（一錢）　煆石膏（一錢）</p>

<h2>當歸六黃湯</h2>
<p>當歸炙耆黃柏黃芩黃連生地熟地等分</p>

<h2>定中湯</h2>
<p>雄黃黃土等分</p>

<h2>逍遙散</h2>
<p>當歸（一錢）　白芍（一錢）　柴胡（三分）　茯苓（一錢）　白朮（一錢）　甘草（五分）　薄荷（三分）　姜（一片）</p>

<h2>越鞠丸</h2>
<p>川芎（五分）　蒼朮（三分）　香附（五分）　山梔（八分）　神麯（一錢）</p>

<h2>歸氣飲</h2>
<p>熟地（三錢）　茯苓（二錢）　萹豆（一錢）　炮姜（五分）　丁香（三分）　藿香（一錢）　炙草（五分）　會皮（八分）</p>

<h2>代赭旋覆湯</h2>
<p>代緒石（一錢）　旋覆花（五分）　人參（五分）　半夏（一錢）　乾薑（一錢）　大棗（五個）</p>

<h2>四七湯</h2>
<p>半夏（一錢）　厚朴（一錢）　茯苓（一錢）　蘇子（一錢）　薑棗煎</p>

<h2>倉廩湯</h2>
<p>人參（五分）　茯苓（一錢）　甘草（五分）　枳殼（一錢）　桔梗（一錢）　柴胡（五分）　前胡　羌活（各三分）　獨活（一錢）　川芎（五分）　薄荷（五分）　姜（一片）　陳倉米（一錢）</p>

<h2>酸棗仁湯</h2>
<p>酸棗仁（一錢）　甘草（五分）　知母（一錢）　茯苓（一錢）　川芎（五分）</p>

<h2>四逆散</h2>
<p>柴胡（五分）　炙甘草（五分）　芍藥（一錢）　枳實（八分）</p>

<h2>柴胡桂薑湯</h2>
<p>柴胡（一錢）　桂枝（五分）　乾薑（五分）　黃芩（五分）　煆牡蠣（一錢）　甘草（五分）</p>

<h2>甘桔湯</h2>
<p>桔梗（一錢）　甘草（一錢）</p>

<h2>獨參湯</h2>
<p>（附參茸膏）</p>
<p>人參輕重酌用加鹿茸等分熬膏即參茸膏</p>

<h2>參附湯</h2>
<p>人參附子輕重酌用</p>

<h2>朮附湯</h2>
<p>白朮附子輕重酌用</p>

<h2>真武湯</h2>
<p>茯苓（一錢）　白朮（一錢）　芍藥（一錢）　附子（一錢）　生薑（一片）</p>

<h2>四君子湯</h2>
<p>人參（二錢）　茯苓（一錢）　白朮（一錢）　甘草（五分）</p>

<h2>六君子湯</h2>
<p>人參（二錢）　茯苓（一錢）　白朮（一錢）　甘草（五分）　半夏　陳皮（各一錢二分）</p>

<h2>香寇六君子湯</h2>
<p>木香（五分）　蔻仁（五分）　人參（二錢）　茯苓（一錢）　甘草（五分）　陳皮（一錢）　半夏（一錢）　白朮（一錢）</p>

<h2>柴芍六君子湯</h2>
<p>柴胡（一錢）　白芍（一錢）　人參（二錢）　茯苓（一錢）　甘草（五分）　白朮（一錢）　半夏（一錢）　陳皮（一錢）</p>

<h2>金水六君子煎</h2>
<p>熟地（三錢）　當歸　半夏　陳皮　茯苓（各一錢）　甘草（五分）</p>

<h2>四物湯</h2>
<p>川芎（五分）　當歸（一錢）　地黃（三錢）　芍藥（一錢）</p>

<h2>八珍湯</h2>
<p>川芎　當歸（各一錢）　地黃（三錢）　芍藥（一錢）　人參（一錢）　茯苓（一錢）　白朮（一錢）　炙甘草（五分）</p>

<h2>十全大補湯</h2>
<p>地黃（三錢）　芍藥（一錢）　當歸（一錢）　川芎（五分）　人參（一錢）　白朮（一錢）　茯苓（一錢）　甘草（一錢）　黃耆（一錢）　肉桂（一錢）</p>

<h2>補中益氣湯</h2>
<p>黃耆（一錢）　陳皮（一錢）　升麻（五分）　柴胡（五分）　人參（一錢）　甘草（五分）　當歸（一錢）　白朮（一錢）</p>

<h2>補陰益氣煎</h2>
<p>熟地（三錢）　山藥（一錢）　白朮（一錢）　陳皮（一錢）　升麻（五分）　柴胡（五分）　人參（一錢）　甘草（五分）　當歸（一錢）</p>

<h2>理中湯</h2>
<p>人參（一錢）　甘草（五分）　白朮（一錢）　黑姜（五分）</p>

<h2>理陰煎</h2>
<p>人參（一錢）　甘草（五分）　白朮（一錢）　黑姜（一錢）　熟地（二錢）</p>

<h2>小建中湯</h2>
<p>芍藥（三錢）　肉桂（五分）　炙甘草（五分）　大棗（二錢）　飴糖（一酒杯）　煨姜（五分）</p>

<h2>黃耆建中湯</h2>
<p>黃耆（二錢）　芍藥（三錢）　肉桂（一錢）　煨姜（五分）　甘草（五分）　大棗（一個）　飴糖（一酒）</p>

<h2>歸脾湯</h2>
<p>人參（一錢）　白朮（一錢）　黃耆（一錢）　當歸（一錢）　炙甘草（五分）　茯神（一錢）　遠志（一錢）　酸棗仁（五分）　木香（五分）　龍眼肉（五分）　姜（一片）　棗（一個）</p>

<h2>復脈湯</h2>
<p>肉桂（五分）　炙草（五分）　麥冬（二錢）　生地（二錢）　麻仁（二錢）　阿膠（一錢）　加薑棗煎</p>

<h2>瀉白散</h2>
<p>桑皮（一錢）　地骨皮（一錢）　甘草（五分）　粳米（一錢）</p>

<h2>生脈散</h2>
<p>麥冬（二錢）　五味（一錢）　人參（一錢）</p>

<h2>六味地黃湯</h2>
<p>地黃（八錢）　山萸（四錢）　山藥（四錢）　丹皮（三錢）　茯苓（三錢）　澤瀉（三錢）</p>
<p>本方加麥冬五味即麥味地黃湯加知毋黃柏即知柏地黃湯</p>

<h2>資生丸</h2>
<p>人參（五錢）　白朮（八錢）　霍香（三錢）　蔻仁（一錢）　黃連（一錢）　查肉（五錢）　陳皮（四錢）　桔梗（二錢）　山藥（五錢）　苡仁（五錢）　建蓮（六錢）　芡實（五錢）　神麯（五錢）　茯苓（四錢）　麥芽（五錢）　炙甘草（五錢）　扁豆（四錢）　澤瀉（四錢）</p>

<h2>參苓白朮散</h2>
<p>人參　白朮　陳皮　茯苓　扁豆　山藥（各一錢）　甘草（五分）　建蓮（一錢）　砂仁（五分）　苡仁（一錢）　桔梗（一錢）　大棗（一個）</p>

<h2>硃砂安神丸</h2>
<p>川連（五分）　歸身（一錢）　生地（二錢）　生草（五分）　琥珀（一錢）　犀角（一錢）　棗仁（一錢）　遠志（一錢）　元參（一錢）　辰砂（五分）　白茯苓（一錢）</p>

<h2>大無比散</h2>
<p>辰砂滑石生草雄黃等分</p>

<h2>全鰲膏</h2>
<p>熟地（二兩）　生地（二兩）　天冬（二兩）　麥冬（二兩）　知母（一兩）　貝母（二兩）　丹皮（一兩）　地骨皮（二兩）　鰲甲（一斤）</p>

<h2>百合固金湯</h2>
<p>熟地（一錢）　生地（二錢）　元參（二錢）　貝母（一錢）　桔梗（一錢）　甘草（五分）　麥冬（一錢）　芍藥（一錢）　當歸（一錢）</p>

<h2>銀甲散</h2>
<p>銀柴胡（二錢）　鰲甲（三錢）</p>

<h2>金汁</h2>
<p>糞清絞汁以陳為佳</p>

<h2>綠豆汁</h2>
<p>綠豆熬汁以清為佳</p>

<h2>雪梨漿</h2>
<p>大梨汁以成漿為度</p>

<h2>紫雪</h2>
<p>黃金十兩用水三斗先煮一斗旋添煮到三斗為度去金取汁煮下項藥石膏寒水石如無真者元精石代之磁石醋煆白滑石各五兩上四味搗入前汁中煮至五升入下項藥烏犀角鎊羚羊角鎊青木香切沉香研各五錢黑參切升麻各一兩六錢生甘草八錢丁香搗碎一錢上八味入前汁中煮取一升五合去滓入下項藥</p>
<p>芒硝（一兩）　焰硝（三兩）上二味入前藥汁中微火上煎柳木捶攪不住手候有七合半投在水盆中半日欲凝入下項藥</p>
<p>硃砂研細水飛淨五錢麝香當門子研一錢二分上二味入前藥中攪勻勿見火寒之二日候凝結成霜紫色鉛罐收貯每服一分二至二分杵細冷水或薄荷湯調下小兒以意量減</p>

<h2>珠黃散</h2>
<p>珍珠（二分）　牛黃（二分）　川貝（六分）　辰砂（二分）</p>

<h1>卷四</h1>
<p>丁巳春二月初旬有何姓子患溫病初起舌即乾紅身次不支神情恍惚余診之曰此證感溫甚重十難救一非大劑雙解不能挽回遲則不治因病家曾患此證專信不疑遂順手治療得愈計服大黃一兩五錢膏黃芩連倍數不但正氣不虧抑且病起旬日儼如無病者然於以見溫病早得下藥之力其效之神速如此</p>
<p>有張姓妻忽然寒戰戰後大笑笑甚即厥日暮至曉如此者數次邀余診之見其面赤壯熱頭痛如破心煩作麻胸背作脹舌苔白滑六脈沉數譫言神昏余曰此脈乃羊毛溫也方以大劑雙解治之其時同事數醫論證用藥咸同一轍藥後得利而嘔未止邪困上焦也連投三劑外行搓法毛出五色諸證漸平時又邀一醫診云乃肝風內動少陽受病方主溫膽白薇一法病家見其立方平穩停雙解而投是藥夜間前證復作次日仍以雙解投之漸平至弟五日惟自笑不已遂以加味太極丸加牛黃治之一服而諸證俱平竟護全愈</p>
<p>干隆乙卯六月上浣予診盛姓之子患羊毛溫半月診時脈證俱平每交午刻即心煩作麻不自知其所苦口內喃喃不已人即昏去交子即醒如是者三日詢及前診之醫皆以治溫之法治之今病未解者是溫邪感受原輕發之不暴治法雖當奈毛毒未化故延多日一挑擦即可愈也病家旋邀一老嫗挑之得毛如縷內服神解散是夜即安後以辛涼之藥清理上焦得愈夫羊毛本熱化耳得挑則毛去毛去則熱不留內級刺穴瀉熱之法岐伯已先得我心因內經之義引伸觸類可為治溫證之津粱亦可為後人之楷式</p>
<p>丙辰夏四月有高姓之子患溫夾葷滯甚重中宮堵塞邪不易透邀予診之初時病家頗不介意予即囑感邪極重又夾葷滯將來發作非輕旋邀二醫公同商酌先開裡氣使邪有出路其時已服過溫燥散藥數劑矣而現在之證神煩舌赤胎黃口渴遂以大劑雙解疊進五六日去宿糞以鬥計壅滯雖開伏邪大作舌黑苔刺譫妄煩躁之勢疊現要之此狀因邪重夾食初病又投溫散未治萌櫱以致病勢猖獗如此再以增損大柴合犀羚梨汁蘆根等味黑胎漸退邪勢向衰予等醫俱云幸有生機詎料病家信任不專另延他醫譖言疊進有云涼藥太過者擬理中法有云失表者擬達原法不知所服何劑而病勢更加沉困譫妄更增而醫又欲以涼下法治之苦病家譖言已入胸臆堅不肯服大黃群藥仍屬大劑清涼解毒拖延多日始安要之再得雙解二三劑則邪淨病已不致半途而廢又投溫燥以致病勢史重在病家執譖言只說前藥之非孰知後藥之誤此予之得以生全者天意也非人力也</p>
<p>又同時湯姓子患溫毒結於少陽陽明腮腫結硬齦潰出膿邀於診時已數日矣時寒熱交作人事不清苔黃舌赤予即云此溫毒極重之證若不極早雙解迨至傷陰舌黑神昏則無救矣奈病家膽怯堅不肯服權與清化太極二三日宿糞略去而病勢未減言之至再始服雙解一帖尚未盡劑去宿糞甚多而身熱人事頓爽意欲再進此藥病家萬不肯服又延二日診時苔黑神昏予即諄辭旋邀一醫一見此證即行涼下見病家堅執不服只得以加味太極丸加牛黃服後病勢亦減再進不允又延他醫乘機進譖而昏潰之病家在他醫前不述病之原委而只云予辭言之過激致病者因驚致舌黑神昏有是理耶殊不知未進言前予臨床診時早已神昏舌黑連叫不醒病家闔室環聽抑因驚致神昏耶抑因失治之神昏耶而後醫不知所進何藥終致不能起悲夫夫前此兩證有幸有不幸者雖屬天意亦由人事在高姓之病得雙解多劑後藥雖誤尚可挽回湯子之斃不斃於後藥而斃於前藥之不徹也</p>
<p>丙辰夏溫證大行現證多有口不能言神情昏倦其證有愈有不愈如陳姓一子甫生數歲哭不出聲神情倦怠其家以為必敗置之於地者久矣病者與予有姻誼邀予往視予見勢非全敗先投以加味太極繼與雙解而哭聲出人事安同時有陸兄婦歸寧母家一病即苔黃壯熱予與一醫合診見勢甚重即與雙解延至三日口不能言舌乾胎刺病勢加劇予詢及再四緣何似此重劑不得去病家人告以其母姑息每劑藥服不及半以致如此後延至七日內陷厥陰舌強脈微而斃要之溫邪者熱邪也不語者厥陰為熱邪所閉也夫傷寒傳足溫證傳手手厥陰為心包絡之經熱邪傷陰則厥陰心包內閉不但口不能言並且舌強拘攣神昏囊縮變態多端故早下以去邪則六腑通三焦暢不致陷入厥陰如陳氏子可為明臉也因循失治則變證甚速張氏婦亦良可慨夫更有失治如李翁之孫田翁之婦皆系溫邪內陷厥陰不語而逝又有陳姓妻七月中旬若發本證腳氣嘔吐阻厥邀一醫投以解暑和肝熄風之劑次日神識昏憒脈氣散亂舌硬不言四日而逝朱氏之子得挑得下數日而蘇是溫邪之治宜用力於未曾不語之先如待不語而急力挽回猶堪幾幸迨至不語數日而欲其語也不亦難哉甚矣治病於未然者其聖人之法歟</p>
<p>有林姓患羊毛溫疹半月所服之藥初溫散繼養陰未曾攻下亦未曾挑放予診時見其發狂自笑歌罵不休診其脈則沉數驗其舌則苔黑芒刺予曰此證失下奈陰分已傷難任攻逐所幸者得前藥養陰尚未枯竭今據現證種種悉屬溫邪困伏三焦心包內閉發狂自笑最凶之候治法當以逐邪為主佐以養陰之味古人原有黃龍一方兩得其妙遂月之加牛黃犀角等藥是日得解自笑稍止外用挑法得羊毛縷縷胸次稍寬次日挨方仍用是藥令以蕎麥麵作團滾胸背間後復診一次狂笑熱勢稍輕舌雖未盡脈亦少和藥用輕劑攻邪佐以和法病家見凶勢已平率皆大意竟不延診孰知燎原之火雖去而余焰猶未熄也聞知數日不藥以致餘邪猖獗而斃可見餘邪不盡一分即為禍一分俗云星星之火能燒萬頃之柴籲可畏哉</p>
<p>張公子丙辰年夏間闔室患溫者十餘人初病者伏邪甚重予與一醫合訂清解攻下之方服之而愈越數日伊仲媳亦患溫邪予與一醫視其一病胎即滿黃均云邪重直與神解加軍二日不愈病勢加劇予曰溫邪之證得下藥而不解病反加重其故何也詢及再四詰旁人始知以其祖母姑息藥未即服交三日邪勢猖獗直犯厥陰神昏舌硬拘攣倔犟旋邀一醫看視同以大劑育陰化邪毫無一效迨至七日而殂皆由溫毒萌時未得藥力以致於此又一人一病即壯熱胎黃一醫初用九味羌活次用三消予見勢劇投以雙解疊下數次病勢更劇知受邪太深病家自云似此酷毒若不放手攻擊勢難救援是以醫膽倍壯硝黃膏連猛進舌黑神昏俱症漸退嗣後轉瘧日作迨至月餘而痊此時又一患溫者一醫以溫散之劑七日而殂可見溫邪之證得能早下使表裡通暢十全八九遲下先下十難全半嗚呼大命雖有天定醫藥豈可混施此所謂君子言理不言數也</p>
<p>吳氏子患溫邪之證他醫謂暑濕痰滯藥用發表溫消之劑迨至二句外諸證更劇始延予診視予察其胎黑唇焦舌紫鼻煤身熱未退腹脹加鼓種種病狀悉屬溫邪困郁未經宣泄且從前所服之藥半屬辛溫夫溫邪本易灼陰又加燥劑陰分愈竭邪伏更深法在難治不得已擬大復甦飲滋培陰氣加味太極丸滌盪熱邪服後諸證少減更以雙解散加養陰之藥下之連投數劑熱象漸平改用養陰化熱之劑越數日肛門腫痛大解欲便不能予知其下焦熱結陰液虧涸不能滋潤之故遂易大劑潤腸藥內加肉蓯蓉四錢峻補真陰一劑下燥糞數十枚腹脹滿消竟獲成功此證設首用清解何至此極以見不明溫熱治法誤以風寒混治其失有如此者</p>
<p>楊姓年二十乙卯年間忽然右半不仁舌強不語神昏諸醫以中風受寒治之罔效延予診視予診其脈象沉數舌黃面垢外雖不熱內現口渴便閉神昏不語種種形證予曰此證全系溫邪內伏非中風也夫中風脈應浮緩無口渴便閉之證況年力富強中風之事亦少據脈證相參端是溫厲之氣由里達表自陰分發出陽分四肢為諸陽之本不仁者溫邪傷陰陽氣未宣之象也偏於右者右為陰男子不足於陰也舌強神呆者少陰之脈循舌木蓋其人少陰素虧故溫邪易亂其神明觀冬不藏精春必病溫是其明驗他治法當急下以存陰若待津涸陰亡幾無濟矣於是以大劇硝黃下十餘次彼延二醫合診亦主此法後舌始轉音熱象始作繼得養陰化熱收功使非辨別精細以中風之法治之不幾誤耶</p>
<p>金姓六月間患溫初病時早起食麵蛋午食葷膩午即舌白神昏譫妄胸悶頭脹脈伏面色垢暗勢極危篤予知其溫邪極重非速進攻下不可投以雙解數劑服後毫不應手其勢臾甚予急令挑放挑出羊毛無數仍投雙解一服即得大解徹行人事漸清連進攻逐之品約十餘劑熱象方減後轉瘧證以小柴養陰調理而安志此以見溫邪極重者若不先為挑放雖有對證之藥亦難取效也七月伊母患痢兼口乾咽燥胸悶以神砂丸蕎麥麵搓之得毛如許照溫邪治痢隨手而起</p>
<p>朱叟年逾七旬素無疾苦乙卯四月中旬午後方食糕點忽然煩躁壯熱人事迷亂勢頗危殆延余診視余念其舌色乾黑臃象洪大煩渴譫語知溫邪驟發兼夾痰滯壅遏極重之候擬雙解救之連投三劑熱象少滅但舌黑而潤人事昏沉如故更加呃逆六脈無力此陰竭之象雙解不中與也急以歸氣治之一劑呃止神清諸證悉退後與和劑而愈彼不守禁忌甫愈三日即食糕肉無數以致餘邪復作後以清解消滯之品始獲成功噫前以涼下驅邪後即以甘溫扶正轉丸之技固不可與膠柱者同日語也</p>
<p>金姓者鄉間人也據云客歲秋間患溫證瘧痢迭至仲冬方愈服過硝黃十有餘兩今春間午後忽腹大痛惡寒頭疼自利脈沉口渴舌乾苔刺旋邀里中醫者治之以脈沉肢冷痛瀉為寒用附子理中湯病人因去歲病時悉領溫熱之象梗概頗知若盡寒邪豈有口渴苔刺等證未敢服此藥又延二醫一系去歲之醫訂清解散一訂溫中散寒之法皆未行次日邀予診視面垢神煩唇燥口渴苔刺鼻煤熱利無度寒熱仍作胸悶腹痛幸得刮放經絡少鬆余云此係溫邪極重之候瀉乃熱邪自尋出路肺伏腹痛乃邪困未宣據此唇舌確非寒象病者疑舊病愈未久為得又招此邪余曰邪之中人乘人之虛如水之趨下遇竇即留何分遠近能保周身之元氣庶免賊邪之侵害刻據證用藥仍當雙解稍遲陰竭則無救矣旋投雙解泄瀉反止痛勢大減煞唇舌如枚更加筋惕肉瞤余與前醫知為病後與陰未復大有陰竭之象難於純用攻下酌以生鱉甲生地沙參各兩許煎濃汁以煨的藥疊投三劑病勢大減忽然嗆咳不休吐痰沫數盂知肺為燥傷遂用清余保肺化邪一法不出十日全愈</p>
<p>已未冬天氣甚暖宛如春日蓋陽氣不主收藏而反發泄是時彭姓闔室病溫輕者救人重者亦數人俱已向愈最後一婦人甚篤初起時不甚大熱微微咳嗽脈象沉數面色微赤咽乾口苦舌淨無苔舌赤如絳彼延許生診視許生以神解清化之藥與之越三日壯熱大作而舌終無苔神清躁亂口渴心煩余診之曰此溫邪伏在營分由里以達於外也譬之隱伏之火得搜揚而烈焰焚空不可止遏但此婦稟質素弱陰分極虧陰虧則不能化邪以致邪勢延漫三焦若不下邪無出路若下又恐陰液隨竭勉用復甦飲加軍末八分一劑而得解數次二日添舌短神昏鼻煤譫妄等象予曰此梟焰猖狂陰液乾枯不可救矣其子再三諄請余想內經曰諸寒之而熱者取之陰所謂求其屬也王太僕云寒之不寒責其無水仿費建中治痘用濁陰意合張景岳玉泉散方用金汁一碗井水兩杯生石膏二兩研和服下而人事漸清譫妄亦止舌不絳而心不煩熱亦漸退惟咳更甚余曰此溫邪餘熱從營陰出於衛陽由血分達於氣分熱在上焦肺部溫邪漸達皮毛後必發疴發癢清金保肺可愈矣令許生以清燥救肺湯與服繼以藥汁熬膏調治而愈</p>
<p>乙卯夏有耿姓客寓某行患寒熱身痛等證一醫用清散之藥越三日熱象頗加人事昏迷身痛不能轉側行東延醫診視醫云脈象數大舌苔黃厚作熱邪傷陰治以滋化之法病勢更重時以六日矣邀余診之餘驗舌色深黃脈象數大面垢神昏壯熱至夜更盛胸高氣促種種危證皆溫邪深伏三焦未經漬達時以六日病勢益劇陰分先傷雖連得養陰之藥奈溫邪不潰若不早下以存陰必致舌黑苔刺譫妄專變但病者系異鄉孤客非一人可以當擔必得一二道中同為斟酌方能用藥伊即延一醫診視亦主此法用增損雙解散硝黃四五錢連服二劑下敗糞十餘次病勢頗減改用養陰壯熱如故與雙解數劑苔色已退脈和熱輕越二日呃逆甚劇舌苔白舌本淡與同視之醫合商醫曰邪勢未盡下之可乎余曰邪固未盡但正虛呃逆不可下也宜歸氣飲消息之服後呃止又二日呃復作更盛於前皆以為邪未盡之故正虛不能再下酌用和法服二帖呃全不止余診時旁坐久聽呃聲由肋而起此必兼氣鬱因訂代赭旋覆湯合歸氣減丁香一服即安可見溫邪盛時宜涼下衰時有兼證自當從兼治不可拘於一格也</p>
<p>文學某翁素知醫四十二歲始得一子甫一周於嘉慶丁巳七月間患溫某與前葛枳桔等藥服之不效次日又服清化之劑至三更喘逆非常就診於余余見苔黃帶黑喘如曳鋸因與麻杏石膏臺加味太極法治之藥未煎就舌黑如炭芒刺如銼喘逆尤甚舉家號哭以為必斃矣所幸者猶可灌藥至次日午刻忽解一次余大喜日生機在此又與加味太極大二粒始終服增損雙解一法至十六日始得喘平熱退而愈共約服硝黃二兩有除下糞一百餘次愈下愈多頗可驚訝其祖母年逾八十向余泣拜日非翁見之真守之定小孫何能再生余急抉而謝之志此以見溫邪始終當下有如此者</p>
