<header data-type="book">
<h1>類修要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1592">公元1592年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>人之有生孰要哉？要莫過於全此生也。全此生孰要哉？要莫過於修此身也。於是玄門有修真之說，實吾儒修身之理一也。矧其間，慎寒暑、節口腹、養性情、寡嗜欲，而尤修身之要者哉。且夫欲全此生，人心之所同然，然未有不修其身而能全此生者也。苟有以昧之，是何異願涼而執熱乎？噫！人心既欲全此生，則其懼死也必矣。故修真之說易為動之無惑乎？捨本求末，捨近求遠，舍易求難，種種為無益之舉也。余既有感於中，而復為多病所楚，妄希全生，敢曰無之第懼蹈夫無益之舉耳。故於暇日，採其攝修之法，當於理而切於人者，編輯成書，目為《類修要訣》。內非歌訣，雖要而不錄者，又取便夫記誦也。蓋修門之端不一，余固編輯之而分其類，使之便於覽而知所趨矣。乃復等之以自本而末，自近而遠，自易而難者何哉？亦欲使世之為全生計者，不為易動所惑，躐等妄行，而至於無益已也。試舉其要者，而先行之。非惟合於吾儒修身之理，即自此而全生之效，庶亦為可獲矣。倘未能合夫彼而惟徒務諸此，是雖生猶弗生也。奚益之有哉？此又余之深意存焉。世之論修者，悟此而知雖死猶生之道，不以儒玄為二途，則余是書或有小補。余不佞謹序。</p>
<p><u>秣陵陳邦泰大來書</u></p>

<h1>卷上</h1>

<h2>孫真人衛生歌</h2>
<p>天地之間人為貴，頭象天兮足象地。父母遺體宜寶之，箕裘五福壽為最。衛生切要知三戒，大怒大欲並大醉。三者若還有一焉，須防損失真元氣。欲求長生先戒性，火不出兮神自定。木還去火不成灰，人能戒性還延命。貪欲無窮妄卻精，用心不已失元神。勞形散盡中和氣，更仗何能保此身。心若大費費則竭，形若大勞勞則怯；神若大傷傷則虛，氣若大損損則絕。世人慾識衛生道，喜樂有常嗔怒少。心誠意正慮自除，順理修身去煩惱。春噓明目夏呵心，秋呬冬吹肺腎寧。四季長呼脾化食，三焦嘻卻熱難停。發宜多梳氣宜煉，齒宜數叩津宜咽。子欲不死修崑崙，雙手揩磨常在面。春月少酸宜食甘，冬月宜苦不宜酸，夏要增辛宜減苦，秋辛可省但教酸。季月少鹹甘略戒，自然五臟保平安。若能全減身康健，滋味偏多無病難。春寒莫放綿衣薄，夏月汗多宜換著，秋冬衣冷漸加添，莫待病生才服藥。惟有夏月難調理，伏陰在內忌冰火。瓜桃生冷宜少餐，免至秋來成瘧痢。心旺腎衰宜切記，君子之人能節制。常令充實勿空虛，日食須當去油膩。大飽傷神飢傷胃，大渴傷血多傷氣。飢餐渴飲莫大過，免致膨脹損心肺。醉後強飲飽強食，未有此身不生疾。人資飲食以養生，去其甚者將安適。食後徐行百步多，手搓臍腹食消磨。夜半靈根灌清水，丹田濁氣切須呵。飲酒可以陶情性，大飲過多防有病。肺為華蓋倘受傷，咳嗽勞神能損命。慎勿將鹽去點茶，分明引賊入腎家。下焦虛冷令人瘦，傷腎傷脾防病加。坐臥防風來腦後，腦內入風人不壽。更兼醉飽臥風中，風才著體成災咎。雁有序兮犬有義，黑鯉朝北知臣禮，人無禮義反食之，天地神明終不喜。養體須當節五辛，五辛不節反傷身。莫教引動虛陽發，精竭容枯病漸侵。不問在家並在外，若遇迅雷風雨大，急須端肅畏天威，靜室收心宜謹戒。恩愛牽纏不自由，利名縈絆幾時休。於寬些子自家福，免致中年早白頭。頂天立地非容易，飽食暖衣寧不愧。思量無以報洪恩，晨夕焚香頻懺悔。身安壽永福如何，胸次平夷積善多。惜命惜身兼惜氣，請君熟玩衛生歌。</p>

<h2>陶真人衛生歌</h2>
<p>世言服靈丹、餌仙藥，白日而輕舉者，但聞而未見也。至於運氣之術，甚近養生之道。人稟血氣而生，故《攝生論》云：「攝生之要在去其害生者。」此名言也。予所編此歌，蓋採諸家養生之要，能依而行之，則獲安樂。若盡其妙，亦長生之可覬。今著其歌於下：</p>
<p>萬物惟人為最貴，百歲光陰如旅寄。自非留意修養中，未免病苦為心累。何必餐霞餌火藥，妄意延齡等龜鶴。但於飲食嗜欲間，□其甚者將安樂。食後徐徐行百步，兩手摩脅並腹肚。須臾轉手摩腎堂，謂之運動水與土。仰面仍可三吩呵，自然食毒氣消磨。醉眠飽臥俱無益，渴飲飢餐猶戒多。食不欲粗並欲速，只可少餐相接續。若教一飽頓充腸，損氣傷脾非汝福。生餐黏膩筋韌物，自死牲牢皆勿食。饅頭閉氣宜少餐，生膾偏招脾胃疾。鮓醬胎卵兼油膩，陳自醃葅盡陰類。老衰莫欲更餐之，是藉寇兵無以異。炙煿之物須冷吃，不然損齒傷血脈。晚食常宜申酉前，向夜徒勞滯胸膈。飲酒莫教令大醉，大醉傷神損心志。渴來飲水兼啜茶，腰腳自茲成重墜。嘗聞避風如避箭，坐臥須當預防患。況因食後毛孔開，風才一入成癱瘓。視聽行坐不必久，五勞七傷從此有。人體亦欲得小勞，譬如戶樞終不朽。臥不厭蹙覺貴舒，飽則入浴飢則梳。梳多浴少益心目，默寢暗眠神晏如。四時惟夏難將攝，伏陰在內腹冷滑。補腎湯藥不可無，食物稍冷休哺啜。心旺腎衰何所忌，特忌疏通泄精氣。寢處尤宜綿密間，宴居靜慮和心氣。沐浴盥漱皆暖水，臥冷枕涼俱勿喜。瓜茹生菜不宜食，豈獨秋來多瘧痢。伏陽在內三冬月，切忌汗多泄陽氣。陰霧之中無遠行，暴雨震雷宜速避。不問四時俱熱酒，太熱不須難入口。五味偏多不益人，恐隨臟腑成災咎。道家更有頤生法，第一令人少嗔惡。秋冬日出始求衣，春夏雞鳴宜早起。子後寅前寢覺來，瞑目叩齒二七回。吸新吐故無人悟，咽漱玉泉還養胎。熱手摩心熨兩眼，仍更揩擦額與面。兩指時將摩鼻莖，左右耳根筌數遍。更能幹浴遍身間，按䏶時須紝兩肩。縱有風勞諸冷症，何憂腰背復拘攣。噓呵呼嘻吹及呬，行氣之人分六字。果能依用口訣中，新舊有疴皆可治。聲色雖云屬少年，稍知櫛節乃無愆。閉精息氣宜聞早，莫使羽苞火中燃。有能操履長方正，於名無貪利無競。縱向歌中未能行，百行周身亦無病。</p>

<h2>孫真人枕上記</h2>
<p>侵晨一碗粥，晚飯莫教足。撞動景陽鍾，叩齒三十六。大寒與大熱，且莫貪色欲。醉飽莫行房，五臟皆翻覆。火艾慢燒身，爭如獨自宿。坐臥莫當風，頻於暖處浴。食飽行百步，常以手摩腹。莫食無鱗魚，諸般禽獸肉。自死禽與獸，食之多命促。土木為形像，求之有恩福。父精母生肉，那忍分南北。惜命惜身人，六白光如玉。</p>

<h2>孫真人養生鉻</h2>
<p>怒盛偏傷氣，思多太損神。神疲心易役，氣弱病相縈。勿使悲歡極，當令飲食均。再三防夜醉，第一戒晨嗔。夜靜鳴云鼓，晨興漱玉津。妖邪難犯己，精氣自全身。若要無諸病，常須節五辛。安神當悅樂，惜氣保和純。壽夭休論命，修行本在人。若能遵此理，平地可朝真。</p>

<h2>戒怒歌</h2>
<p>君不見大怒沖天貫鬥牛，擎拳嚼齒怒雙眸，兵戈水火亦不畏，暗傷性命君知否。又不見楚伯玉、周公瑾，疋馬烏江空自刎。秪因一氣殞天年，空使英雄千載忿。勸時人，須戒性，縱使鬧中還取靜。假若一怒不忘軀，亦至血衰生百病。耳欲聾，又傷眼，誰知怒氣傷肝膽。血氣方剛宜慎之，莫待臨危悔時晚。</p>

<h2>抱一子逍遙歌</h2>
<p>人言晚飯少吃口，享年直到九十九。我今一百又三歲，晚飯越多越壽久。日間乳餅粥三頓，一頓兩碗無餘剩。緩足徐行百步多，雙手摸肚往下運。臨臥兩碗山藥粥，煮熟紅棗二十六。油鹽炒慄十三雙，雄吞大嚼才壓足。未到五更心上餓，糖煮秋梨吃一回。翻來覆去睡不著，老來還要少年貨。大便堅潤小便長，精神矍鑠骨筋強。有時矜持學檢束，有時叫跳任猖狂。子前午後正好修，心君常靜腎常兜。牙齒常叩耳常按，手常轆轤腳常勾。麵皮呵手勤勤摸，臍腹換手勤勤擦。眼珠常轉口常閉，唾津常咽勝服藥。腳底湧泉時常摩，腰眼腎腧時常搓。頭頸常轉肩常聳，鼻吸常調不嫌多。夜間守定泥丸宮，日間守定臍腹中。行住坐臥無間斷，丹田裡面暖溶溶。鎖住心猿不敢劣，拴住意馬不敢蹶，守住庚申不敢犯，固住元陽不敢泄。年來又長堅固子，兩胯兩肘皮膚里，不疼不癢如鐵石，佛家舍利子可比。一陰一陽之謂道，此語在人元切要。陰陽乖戾疾病生，陰陽翕合真玄妙。齒落更生世罕有，一二十里不憚走。嘉餚佳蔬十數樣，雜東雜西不離口。背不負重腰不痛，眼不昏花耳不聾。三花已聚頂門上，五氣復朝元海中。半夜元神常放光，皮膚滋潤不生瘡。貪嗔癡絕性天定，精氣神全骨肉香。壽筋鮎背身有之，半夜腎囊如荔枝。外腎有時不見了，想歸內竅築丹基。子子孫孫三十七，習詩習春兼學易。杼朱拽紫有定命，偎紅倚翠無虛日。我先每尋安樂法，逢人常結喜歡緣。吟風詠月償吾債，隨時保重學延年。人人呼我陸地仙，曾煉先天與後天。鉛汞相投丹易就，住世延年五福全。修真事件雖然多，其間作用賴黃婆。人衰人補真妙訣，聽我長生逍遙歌。</p>

<h2>養心要語</h2>
<p>笑一笑，少一少；惱一惱，老一老。鬥一鬥，瘦一瘦；讓一讓，胖一胖。</p>

<h2>養身要語</h2>
<p>元氣實，不思食；元神會，不思睡；元精足，不思欲；三元全，陸地仙。</p>

<h2>養生要訣</h2>
<p>無勞爾形，無搖爾精，無動爾神，乃可長生。</p>
<p>又　發宜多櫛，手宜在面，齒宜數叩，津宜常咽。</p>
<p>又　安穀則生，絕谷則亡，飲食自倍，腸胃乃傷。</p>
<p>又　春夏宜早起，秋冬任晏眠。晏忌日出後，早忌雞鳴前。</p>
<p>又　避色如避仇，避風如避箭。莫吃空心茶，少食中夜飯。</p>
<p>又　莫吃空心茶，休飲卯時酒。更兼戌後飯，禁之當謹守。</p>

<h2>呂純陽祖師未生詩</h2>
<p>父母未生前，與母共相連。十月胎在腹，能動不能言。晝夜母呼吸，往來通我玄。無情生有情，虛靈徹洞天。剪斷臍帶子，一點落根源。性命歸真土，此處覓真鉛。時時防意馬，刻刻鎖心猿。迷失當來路，輪迴苦萬千。若遇明師指，說破妙中玄。都來二十句，端的上青天。</p>

<h2>逍遙子導引訣</h2>
<p>水潮除後患，平明睡醒時，即起，端坐，凝神息慮，舌抵上齶，閉口調息，津液自生，漸至滿口，分作三次以意送下。久行之，則五臟之邪火不炎，四肢之氣血流通，諸疾不生，永除後患，老而不衰。</p>
<p>火起得長安。子午二時，存想真火自湧泉穴起，先從左足行上玉枕，過泥丸降入丹田三遍。次從右足，亦行三遍。復從尾閭足，又行三遍。久久純熟，則百脈流通，五臟無滯，四肢健而百骸理也。</p>
<p>夢失封金櫃，欲動則火熾，火熾則神疲，神疲則精滑而夢失也。寢寐時調息思神，以左手搓臍二七，右手亦然。復以兩手搓脅腹，擺搖七次，嚥氣納于丹田。握固良久乃止。屈足側臥，永無走失。</p>
<p>形衰守玉關。百慮感中，萬事形勞，所以衰也。返老還童，非金丹不可。然金丹豈易得哉？善提生者，行住坐臥一意不散，固守丹田，默運神氣，沖透三關，自然生精生氣，則形可以壯，壽可以延矣。</p>
<p>鼓和消積聚，有因食而積者，有因氣而積者，久則脾胃受傷，醫藥難治。孰若節飲食，戒嗔怒，不使有積聚為妙？患者當升身閉息，鼓動胸腹，俟其氣滿，緩緩呵出。如此行五、七次，便得通快即止。</p>
<p>兜禮治傷寒。元氣虧弱，腠理不密，則風寒傷感。患者端坐盤足，以兩手緊兜外腎，閉口緘息，存想真氣自尾閭升過夾脊，透泥丸，逐其邪氣。低頭屈抑如禮拜狀，不拘數，以汗為度，其疾自愈。</p>
<p>叩齒牙無疾，齒之有疾，乃脾胃之火薰蒸。侵晨睡醒時，叩齒三十六，通以舌攪牙根之上，不論遍數，津液滿口，方可嚥下，每作三次乃止。及凡小解之時，閉口緊叩其齒，解畢方開，永無齒疾。</p>
<p>升觀鬢不班。思慮太過則神耗，氣血虛敗而鬢班。以子午時握固端坐，凝神絕念，兩眼含光，上視泥丸，存想追攝二氣自尾閭上升，下降返還元海，每行九遍。久則神全，氣血充足，發可返黑也。</p>
<p>運睛除眼翳，傷熱傷氣，肝虛腎虛，則眼昏生翳，日久不治，盲瞎必矣。每日睡起時，跌坐凝息，塞兌垂簾，將雙目輪轉十四次，緊閉少時，忽然大睜開，行久不替，內障外翳自散。切忌色欲並書細字。</p>
<p>掩耳去頭旋。邪風入腦，虛火上攻，則頭目昏旋，偏正作痛，久則中風不語，半身不遂，亦由此致。治之須靜坐，升身閉息，以兩手掩耳，折頭五、七次，存想元神逆上泥丸，以逐其邪，自然風邪散去。</p>
<p>托踏應輕骨，四肢亦欲得小勞，譬如戶樞終不朽，熊經鳥伸，吐納導引，皆養生之用也。平時雙手上托如舉大石，兩腳前踏如履平地，存想神氣依按四時，噓呵二七次，則身健體輕，足耐寒暑矣。</p>
<p>搓塗自美顏。顏色憔悴，良由心思過度，勞碌不謹。每晨靜坐閉目，凝神存養，神氣衝澹，自內達外，兩手搓熱拂面七次，仍以漱津塗面，搓拂數次。行之半月則皮膚光潤，容顏悅澤，大過尋常矣。</p>
<p>閉摩通滯氣，氣滯則痛，血滯則腫，滯之為患，不可不慎治之。須澄心閉息，以左手摩滯七七遍。右手亦然。復以津塗之。勤行七日，則氣通血暢，永無凝滯之患。修養家所謂干沐者，即此義也。</p>
<p>凝抱固丹田。元神一出便收來，神返身中氣自回。如此朝朝並暮暮，自然赤子產真胎。此凝抱之功也。平時靜坐，存想元神入于丹田，隨意呼吸。旬日丹田完固，百日靈明漸通，不可或作或輟也。</p>
<p>淡食能多補，五味之於五臟，各有所宜。若食之不節，必致虧損。孰若食淡謹節之為愈也？然此淡，亦非棄絕五味，特言欲五味之沖淡耳。仙翁有云：斷鹽不是道，飲食無滋味。可見其不絕五味也。</p>
<p>無心得大還。大還之道，聖道也。無心，常清常靜也。人能常清靜，天地悉皆歸，豈聖道之不可傳，大還之不可得哉？《清靜經》已盡言之矣。修真之士體而行之，欲造夫清真靈妙之境若反掌耳。</p>

<h2>鍾離祖師八段錦導引法</h2>
<p>閉目冥心坐，握固靜思神。叩齒三十六，兩手抱崑崙。左右鳴天鼓，二十四度聞。微擺撼天柱，赤龍攪水渾。漱津三十六，神水滿口噴。一口分三咽，龍行虎自奔。閉氣搓手熱，背摩後精門。盡此一口氣，想火燒臍輪。左右轆轤轉，兩腳放舒伸。叉手雙虛托，低頭攀足頻。以候逆水上，再漱再吞津。如此三度畢，神水九次吞。嚥下汨汨響，百脈自調勻。河車搬運訖，發火遍燒神。邪魔不敢近，夢寐不能昏。寒暑不能入，災病不能逃。子後午前作，造化合乾坤。循環次第轉，八卦是良因。</p>

<h2>許真君引導訣</h2>
<p>仰托一度理三焦，左肝右肺如射鵰。東肝單托西通腎，五勞回顧七傷調。游魚擺尾通心臟，手攀雙足理於腰。次鳴天鼓三十六，兩手掩耳後頭敲。</p>

<h2>長生引導歌</h2>
<p>子午披衣暖室中，凝神端坐面朝東。澄心閉目鳴天鼓，三十六局聲亦同。兩手向腮勻赤澤，七回摩掌熨雙瞳。須知吐納二十四，舌攪華池三咽終。</p>

<h2>錢九華山人金鎖歌</h2>
<p>人生壽夭貪色欲，聽我從頭說補益。要補益，鎖心猿，牢擒意馬養心田。若還不守真陽氣，氣散形枯命不堅。緊提防，降五賊，時時照顧猿馬劣。猿馬顛狂伏最難，一時火起性根滅。要保命，在堅精，堅精之法不易尋。鴛鴦枕上叮囑記，切莫男兒先動情。初下手，調鼎器，溫存相抱胸前戲。摩挲兩乳他興濃，含唇咂舌通心氣。手撫琴絃牝戶開，滑津流泄真情至。玉莖堅剛宜淺裁，九一之法留心記。鼓橐籥，往來訣，進則呼兮退則吸。舌拄上齶牙緊關，毋令氣喘真精泄。但氣喘，且停機，神氣相隨精自回。若還走泄真陽氣，將何配對作丹基。他若緊，我不忙，深則益陰淺補陽。龍弱虎強宜緩刺，虎弱龍強勢要剛。情意濃，莫貪味，守丹田，牢固濟。鼎中春氣靄融和，調理神龜慢慢戲。慢慢戲，似火熱，少時舌冷如冰鐵。須臾一點過吾來，補續天年莫亂說。莫亂說，此事不比尋常言。一度栽接一紀壽，十二周時陸地仙。陸地仙，不易得，天機不謹精走泄。精走精牢把截上，弦細細吸清風下。弦緊閉，勿令泄，毋令泄少人知強。兵戰勝，用樞機，倒吸小腹須著力，緊撮穀道內中提。內中提，三十六，上關提動下關續。若要夾脊雙關透，倒騎意馬雙轆轤。雙轆轆，大關鍵，銅汞相投成一片。黃河逆轉至崑崙，九竅三關都貫串。三十六宮總是春，須臾火發周天遍。先後天，著意尋，得之如醉保長春。雲情雨意休貪久，恐喪吾家無價珍。無價珍，要安逸，夫婦交歡情意翕。壺中別有一乾坤，塞兌垂簾慢調息。綿綿固蒂與深根，時時溫養知消息。一口煉之一日功，功夫純粹須百日。若人透得金鎖歌，陸地神仙能事畢。</p>

<h2>起陽訣</h2>
<p>急討華池數十口，引氣送下丹田守。令彼呵手擦熱搓，八十一次陽剛久。一七之內似嬰兒，固濟真陽永不走。若能煉氣並採陽，返老還童天地久。</p>

<h2>散精訣</h2>
<p>精回通夾脊，一氣撞三關。聳肩撮穀道，仰目視泥丸。雙手分開闔，轆轤九轉還。拍頂輕三下，精化如雲煙。此是還元道，非人誓莫傳。</p>

<h2>交媾法</h2>
<p>九淺輕提慢一深，二遲八速要留心。天門細吸清風氣，地戶牢關莫出聲。舌拄上齶牙緊合，毋令氣喘喪精魂。勸君臨陣休輕戰，恐泄元陽無處尋。</p>

<h2>固精訣</h2>
<p>慣騎三足馬，能牽獨角牛。內提三十六，黃河水逆流。</p>

<h2>螽斯秘訣（計七條）</h2>
<p>三十時辰兩日半，二十八九君須算。落紅將盡是佳期，金水過時徒霍亂。徒霍亂兮枉用功，樹頭樹底覓殘紅。解得花芳能結子，莫愁我代繼前蹤。一日十二時，兩日半者，三十時辰。蓋婦人月信來止是有兩日半，假如初一日子時月信來，數至初三日巳時是也。當此算之落紅將盡，乃是月信行至二十八九時也。佳期指陰陽交姤也，蓋此時子宮開而納精也。金水即月信，若過此時，子宮已閉而不納精矣。若金水有過不及者，是血脈之不調，宜服藥餌也。</p>

<h2>結胎受形</h2>
<p>洞里桃源何處尋，都來一寸二分深。交歡之際君須記，過卻區區枉費心。洞里者，陰戶也。桃源者，子宮也，在陰內一寸二分深。泄精之時不可深入，深入則泄精他處，胎不結而子難成，是區區無益也。若值桃源，定生男產女。</p>

<h2>虛實論</h2>
<p>他虛我實效乾坤，以實投虛是的真。總是兩家皆寡欲，佳期相值始相親。男寡欲則實，女寡欲則虛。又值落紅將盡，佳期調琴鼓瑟，候彼先悅，陰血先至而陽精後沖，則血裹精而乾道成矣。結胎之後，更不可攪亂，若恣一時之樂，胎亦動搖。至子將成復產，必多風疾，俗謂之胎病。</p>

<h2>占男女訣</h2>
<p>雙歲是雙單是單，乾坤爻位兩頭安。中間正位玄機事，產女生男在此問。上爻為父，下爻為母，中間正位為下種之月。假如父母年俱是單，若單月下種是得乾卦為男。父母年俱是雙，若雙月下種是得坤卦為女。余皆仿此。下種之月，以得節氣為準。如正月內得二月節，作二月算。若節氣交度之際，慎不可交接下種，犯之恐成半陰半陽駢胎品體也。慎之！慎之！</p>

<h2>又云</h2>
<p>七七四十九，問娘何月有。除卻母生年。單奇雙是偶。奇偶若不常，壽命不長久。先下四十九數於算盤，乃加其母受胎月數，總之得若干數是總數。中除卻母年，余單是男，余雙是女。若單而生女，雙而生男，定有夭折之災。假如四十九數，若值正月受胎，是總數五十，其母年三十一，除去母年，此數是餘一十九數，九則為單，單則男矣。余仿此。</p>

<h2>總數</h2>
<p>古今此法少人知，別是天機一段奇。寄語世間無嗣者，生男生女定無疑。</p>

<h2>又</h2>
<p>要知產女生男法，似向家園下種時。此法直白，誠為粗俗無狀，實非矯揉，不假藥餌滋榮。雖有栽裁培種樹，然庸夫孺子，農家市戶，無意之所為者，偶合自然之要，蓋巧竊天機之妙。孕嗣人倫之大端也，大凡仕宦流俗中，如得其人而不傳者，是失其人也。不得其人而反傳之，是失其傳也。但當敬授之慎，默之可也。</p>

<h2>採產芝田歌訣</h2>
<p>採陰須採產芝田，十五才交二八年。不瘦不肥顏似玉，能紅能白臉如蓮。胎息有育都是汞，命門無路不生鉛，煉成鋁汞歸元海，大藥能為陸地仙。</p>

<h2>採戰六字延生歌訣</h2>
<p><u>一曰存</u>　守城</p>
<p>出入由從自有方，入時宜弱出宜強。時須閉口神遊外，進退何勞急急忙。</p>
<p><u>二曰縮</u>　知止</p>
<p>兩腎中間一足神，命門之處是精根。莫令走失牢堅固，窮取生身死戶門。</p>
<p><u>三曰抽</u>　野戰</p>
<p>元精欲走禁無由，手足須知鉗與鉤。努目掣提玉莖退，身如縮項一猿猴。</p>
<p><u>四曰吸</u>　採取</p>
<p>入爐溫養意懸懸，一深九淺數為先。進遲退速能收取，益精補髓壯丹田。</p>
<p><u>五曰閉</u>　持盈</p>
<p>收取華池玉液津，情濃速要退靈根。真機閃過徐徐出，吸奪歸來賀萬春。</p>
<p><u>六曰展</u>　練習</p>
<p>精養靈根氣養神，元陽不走得其真。丹田養就千金寶，萬兩黃金莫與人。</p>

<h2>採戰舉要歌訣十二首</h2>
<p><u>上峰玉池</u></p>
<p>上峰玉液浸華池，玄妙真機君不知。青龍擺尾銀波湧，白虎先奔造化奇。</p>
<p><u>中峰神水</u></p>
<p>細問中峰事合宜，胸中兩粒是根基。頻頻採助真陽實，歲月長生不老期。</p>
<p><u>下峰玄扉</u></p>
<p>一峰一竅扉門中，多少男兒錯用功。妄採花心為服餌，此回端的誤春風。</p>
<p><u>搬運還元</u></p>
<p>採罷須當仰臥眠，切須谷縮與腰懸。雙肩緊束鳴天鼓，搬運真精得復元。</p>
<p><u>採戰要旨</u></p>
<p>採花須採花中心，採得花心保此身。會取花間消息意，從教不老得長生。</p>
<p><u>愛護精氣</u></p>
<p>醉飽飢寒切莫親，大勞榮衛損元精。貪歡竊取一時樂，氣耗精枯自誤身。</p>
<p><u>休親敗爐</u></p>
<p>休親瘦病生新疾，產後之爐損丈夫。年少若教依老婦，陽衰陰盛是危途。</p>
<p><u>提防誤害</u></p>
<p>女抱休教撫腎堂，命門要處怕侵傷。無心對景須情暢，玉液真峰要得香。</p>
<p><u>待時行道</u></p>
<p>撫弄雙峰待興濃，靈根方種牝池中。陰精動處爐中潤，風月無邊造化功。</p>
<p><u>黃河逆流</u></p>
<p>初從臍腹升腰脊，次想真精住玉山，此號黃河逆流水，存精進氣過三關。</p>
<p><u>無根妙藥</u></p>
<p>未見開花結子處，固令補益我丹田。此是無根真妙藥，調勻鉛汞作神仙。</p>
<p><u>採煉真陽</u></p>
<p>採得真陽火里炎，煉成溫養若烹煎。陽衰陰補花移樹，此術神仙口內傳。</p>

<h2>呂純陽祖師可惜許歌</h2>
<p>可惜許！可惜許！可惜元陽宮裡主，一點既出顏色枯，百神泣送真陽去。三尸喜，七魄舞，血敗氣衰何所補。靈源真物屬他人，赤宅元君誰做主。勸世人，須慕道，休慕色，慕色貪淫有何益？不念形骸積漸枯，逢人強說丹砂力。丹砂力，人難識，誰人肯向身中覓？靈源經里號真鉛，丹華訣內名金液。三茅真君喚作一，子得一時萬事畢。聖人秘一不能傳，不曉分明暗如漆。一神去，百神離，百神去後人不知。幾度欲說不欲說，臨時下口泄天機。</p>
<p><u>又詩</u></p>
<p>醉飽無憂倚翠娥，聞將精氣自消磨。當時只道歡娛好，今日番成怨悔多。錦帳張時開陷井，金釵橫處動干戈。玉山自倒難扶起，縱有仙方怎奈何。</p>
<p>又　傾國傾城古有之，未聞好德似於斯。一朝樂極悲生處，縱有靈丹也莫醫。</p>
<p>又　精養身兮氣養神，此真之外別無真。丹田幸有菩提子，不與人間種子孫。</p>

<h1>卷下</h1>

<h2>張紫陽莫人金丹四百字（內外丹注）</h2>
<p>真土擒真鉛，真鉛製真汞。鉛汞歸真土，身心寂不動。《內丹》注曰：真土是意，真鉛是身中一點真陽之氣，真汞是心中一點真陰之精。以意求鉛，鉛自制汞，鉛汞歸意，身心不動。故悟真云：好把真鉛著意尋。《外丹》注曰：真土是黑鉛、硃砂，真鉛是黑鉛中之氣也，真汞是砂中水銀也。真土能制真鉛，真鉛能幹真汞。故曰：鉛會汞黑氣，徑死石中砂。虛無生白雪，寂靜發黃芽。玉爐火溫溫，鼎上飛紫霞。《內丹》注曰：頭為金頂，腹為玉爐，驅鉛汞二物歸玉爐化為氣，故為黃芽。以火養之，升上金鼎，到此氣化為液，謂之白雲。故曰：鼎上飛紫霞。《外丹》注曰：鉛中乾汞為之黃芽，鼎上交乾汞養作明窗塵，為之白雪。《參同契》曰：二物合，相形變化號黃芽，第一變化。毀性便受其形體為灰土狀，若明窗塵，即是白雪，此第二變化也。華池蓮花開，神水金波靜。夜深月正明，天地一輪鏡。《內丹》注曰：以鉛名曰華池，即身中真陽之氣升在心中；真陰之精，包含身中真一之氣而下降也。《外丹》注曰：乾汞為華池，伏汞為神水也。硃砂煉陽氣，水銀烹金精。金精與陽氣，硃砂而水銀。《內丹》注曰：硃砂是液中正陽之氣，水銀是氣中真一之精。學仙之士，液中採取真陽之氣，氣中採取真一之精，二氣交感，煉而成丹，則凡精凡氣亦化為真氣矣。《外丹》注曰：砂中採真汞，鉛中採真鉛，二物相感，結成一塊，是謂金精與陽氣。硃砂、黑鉛化而成立，是謂硃砂而水銀。水銀者，黑鉛也。砂中汞，為真汞也。《丹書》曰：欲要水銀死，先須死水銀。水鉛是黑鉛中採取真鉛，謂之水中銀。若將水中銀製伏而死，作大丹之基制，水銀立便倒矣。故曰：水銀若不死，如何死水銀。故祖師親口訣一味水中銀。日魂玉兔脂，月魄金烏髓。掇來歸鼎內，化作一泓水。《內丹》注曰：心屬乾，純陽，陽中真陰之精。陽中有陰為離，離者，日也。日中有金烏，魂也。身屬坤，純陰。陰中有真陽之氣。陰中有陽為坎。坎者，月也。月中有玉兔，魄也。二物採歸鼎中，則化一泓水矣。《外丹》注曰：硃砂是日中之精所產，中感月華而生為真汞。黑鉛是月中之華所產，中感日之精而生真鉛。所謂陰中有陽，陽中有陰。故曰：一千八百年成形，產出誰知日月精。天上畢方原是相，人間鉛汞本無根。藥物生玄竅，火候發陽爐。龍虎交會時，金鼎產玄珠。《內丹》注曰：藥物者，真精氣也。生玄竅，身心也。在下，為陽爐，二物至此起；火在上，為寶鼎，三物至此產。《玄珠外丹》注曰：藥物者，鉛汞也；生玄竅者，硃砂也，黑鉛也。二氣交感於陽爐，產寶於金鼎也。此竅非凡竅，乾坤共合成。名為神氣穴，內有坎離精。《內丹》注曰：此竅只是自己身心。心屬乾，身屬坤，故曰乾坤共合成也。心為神室，身為氣府，故曰：名為神氣穴也。人身中有一點真陽之氣，氣屬離；心中有一點真陰之精，精屬坎。故曰：內有坎離精。學道之士，離了此個身心，向外求玄關一竅，採坎離之精，便是外道邪謬之說也。《外丹》注曰：此竅只是硃砂與黑鉛也。硃砂屬乾，天硫也，黑鉛屬坤，地礦也。故曰：乾坤共合成。砂為神室，鉛為氣府，名為神氣穴也。硃砂中有真陰之精，屬離，乃是真火也；黑鉛中有真陰之精，屬坎，乃是真汞也。故曰：內有坎離精也。煉丹之士，若離了硃砂、黑鉛，向外求尋三黃八石之藥而成丹，謬矣。故曰：若用凡雜類，總是不成真。木汞一點紅，金鉛三斤黑。鉛汞結成珠，耿耿紫金色。《內丹》注曰：心中一點真陰之精，名曰木汞，取將身中一點真陽之氣，點化心中一點真陰之精，立化為陽，則一身之陰氣皆化為純陽之體也。《外丹》注曰：將真汞煉而成丹，取之一丸，點汞三斤，立便為金矣。故信金丹一粒，蛇吞成龍，雞餐成鳳，飛入清陽真境也。家園景物麗，風雨正春深。耕鋤不費力，大地皆黃金。《內丹》注曰：家園景物者，是心中有寶也。遍體陽和，風升雨降，當此之時，正好下功，不用纖毫之力，則一身變為金也。《外丹》注曰：家園景物者，鼎中藥物和氣氛氤於其中。風者，火也；雨者，水也。水火既濟，進退得宜，則鼎中之藥無不成寶也。真鉛生於坎，其用在離宮。以黑而變紅，一鼎雲氣濃。《內丹》注曰：真鉛即是身中一點真陽之氣也。離宮者，心火也。欲求其氣則用此心，一靜則真鉛之氣自然飛衝上升也。《外丹》注曰：黑鉛屬坎，坎中有真鉛，硃砂屬離。欲取坎中真鉛，須將黑鉛匱於砂釜之中，則真鉛自然出矣。真汞出於離，其用卻在坎。奼女過南園，手持玉橄欖。《內丹》注曰：真汞者，即心中一點真陰之精也。坎位者，身也。欲採其精，須用其身，身不動，則真汞之液自然奔馳下爐也。《外丹》注曰：硃砂屬離，離中有真汞，黑鉛屬坎。欲取離中真汞，須將硃砂種於鉛鼎之中，則真汞自然出矣。震兌非東西，坎離不南北。斗柄運周天，要人會攢簇。《內丹》注曰：水中有金，火中有木，二物包含四象。若人得斗柄之機，則水中金而上升，得火中木則下降，水火既濟，金木交併，四象和合攢簇，歸於中宮矣。《外丹》注曰：水中有金鉛也，火中有木汞也，二物包含四象。煉丹之士得此造化之機，水火既濟，金木交併，四象和合攢簇，歸入鼎也。火候不用時，冬至不在子。及其沐浴法，卯酉時虛比。《內丹》注曰：一陽升初為之卯，一陰交姤為之午，陽分陰降為之酉，此身中之節候。非用人間之子時為冬至，午時為夏至。卯酉為之沐浴，不刻時中分子午，無爻卦內別乾坤是也。《外丹》注曰：一年火候，鼎中置藥，進火之日為之子月之初。值卯酉月不增大火，不減火，為之沐浴。值午退符抽火之日為之午月之初，亥月進火候數足，此一年之火候也。故曰：內有天然真火候，外爐增減要勤功。烏肝與兔髓，擒來歸一處。一粒復一粒，從微而至著。《內丹》注曰：人稟天地真元氣三百八十四銖而重一斤八兩，日之精八兩，月之精八兩，故曰：烏肝兔髓行火之日。日採一粒，重一銖二分，著行十個月火候，採九百粒，重三百八十四銖，入於中宮而成丹也。故曰：河車九萬匝，搬運入泥丸。又曰：藥重一斤須二八，調停火候托陰陽。《外丹》注曰：取一斤真鉛乾一斤真汞，養為明窗塵，不制入於金鼎，養火一年，煉成紫粉，用楮汁為丸，如黍米大。每服一粒，空心清水送下。改換凡形，玉骨金筋則成仙矣。《參同契》曰：金砂入五內，霧散若風雨。混沌包虛空，虛空括三界。及尋其根源，一粒如黍大。《內丹》注曰：混沌者，父母之精血也。虛空者，氣也。三界者，氣化為骨血也。根源者，乃先天一氣也。大如一粒之黍，是人生之本也，即真鉛汞也。《外丹》注曰：混沌生天地，天地運日月，日月產砂鉛，砂鉛含至精。煉成丹此是根源也。天地交真液，日月含真精。會得坎離基，三界歸一身。《內丹》注曰：乾宮是天地交真液之谷，坤宮是坎離交姤之基，中宮是結丹之處。人若得此造化，則三界歸於一身矣。《外丹》注曰：天地是爐鼎，日月是藥物，坎離是真土。煉丹之士得此造化，則三才備矣。龍從火里出，虎向水中生。兩獸戰一場，化作天地髓。《內丹》注曰：震為青龍，東方起向西山，若使龍吟云起而下降，虎嘯風生而上升，二獸相逢，交於黃庭，則風雲慶會，自混合為一塊矣。《外丹》注曰：滄海浪湧青龍至，華岳顛峰白虎來。惡猖狂，誰敢敵？被吾活捉到瑤臺。龍吞虎髓云見散，虎啖龍精風自開。不是金公與土母，至今那得結成胎。金華開汞葉，玉蒂長鉛枝。坎離不曾閒，乾坤經幾時。《內丹》注曰：金華者，身中真鉛也。玉蒂者，心中真陰也。真鋁乃真陽之氣，擒制化心中真陰之精，如金烏搦玉兔，一上一下，往來不息。故曰：坎離不曾閒。工夫至日，水火既濟，天清地寧，身心大定也。《外丹》注曰：以鉛製汞銷汞乾，故曰：金公無言奼女死，黃婆不言猶懷胎。所謂鉛銷汞自於，薰蒸丹已熟。陰盡變純陽，體貌如玷玉。沐浴防危險，抽添自謹持。都來三萬刻，差失恐毫釐。《內丹》注曰：一年十二月，一月三十日，共三百六十日。一日一百刻計，三萬六千刻。行火候之時，簇在半月之內。以一日異兩個月，六個時異十二個月，不行火候之時。沐浴餘十個月，但行火候也。此火候，身中水火一升一降謂之周天。升則為進，火謂之抽鉛；降則為退，符謂之添汞。沐浴防則為進，火謂之抽鉛；降則為退，符謂之添汞。沐浴防危險，恐行火之躁，有危有險而傷其丹，故子午卯酉沐浴，謂之水候，不行火候，以防水之患也。日用火候玄微秘細，盡行泄漏，悉備其中矣。《外丹》注曰：進火候退符時，謂之抽添，頻頻水，謂之沐浴。水者，以防火躁也，恐傷其丹耳。夫婦交會時，洞房云雷作。一載生個兒，個個會騎鶴。《內丹》注曰：夫婦者，身中真陰真陽也。二氣交感，云騰雨施，一年之內，胎息氣足，產個嬰兒。九載功成三千，行滿八百，超脫凡軀，白日動舉，謂之天仙也。子又生孫，化造三界，個個會騎鶴也。《外丹》注曰：夫婦者，真鉛、真汞也。二氣相感，汞中陰氣絕，一年之火候數足，則體變為純陽。人若服之，變為仙侶。初服身輕體健，行步如飛；次服則涉江河如登平地；終服則跨鶴乘鸞。此則外丹之功效也。</p>

<h2>呂純陽祖師三字訣</h2>
<p>這個道，非常道，性命根，生死竅。說著醜，行著妙。人人憎，個個笑。大關鍵，在顛倒。莫厭穢，莫計較。得他來，立見效。地天泰，為朕兆。口對口，竅對竅。吞入腹，自知道。藥苗新，先天兆。審眉間，行逆道。滓質物，自繼紹。二者余，方絕妙。要行持，令人叫。氣要堅，神莫耗。若不行，空老耄。認得真，老還少。不知音，莫語告。些兒法，合大道。精氣神，不老藥。靜里全，明中報。乘鳳鸞，聽天詔。</p>

<h2>呂純陽祖師百字碑</h2>
<p>養氣忘言守，降心為不為，動靜知宗祖，無事更尋誰。真常須應物，應物要不迷。不迷性自住，性住氣自回。氣回丹自結，壺中配坎離。陰陽生返復，普化一聲雷。白雲朝頂上，甘露灑須彌。自飲長生酒，逍遙誰得知。坐聽無弦曲，明通造化機。都來二十句，端的上天梯。</p>

<h2>崔公入藥鏡（了真子注）</h2>
<p>先天氣，後天氣，先天氣乃天元一氣也，在天樞之上注之。後天氣，地元一氣也，在地樞之下注之。人若得斗柄之機斡運，則升降往來，周而復始，與天同運矣。元和子曰：人身大抵同天地也。得之者，常似醉。人能得斗柄之機斡運陰陽之氣，則恍恍惚惚，杳杳冥冥，自然身心和暢，如癡如醉，肌膚爽透，美在其中。日有合，月有合，夫月因日以受其明，晦朔合璧之後，魄中生魂，以陽變陰。月晦象年終，月朔象歲首。自朔旦受日辰之符，因水生銀，至月晦陽氣消盡，即金水兩物情性之符，自相包裹。《參同契》云：月晦日相包，隱藏其匡廓。窮戊己，定庚申。金液還丹，非土則不能造化，當窮究其真土。古歌曰：五行處處有，何處為真土。紫陽詩曰：離坎若還無戊己，雖合四象不成丹。庚西方金也，甲東方木也，二物間隔，不能交併，須仗黃婆媒合，金始生水，木始生火，水火既旺，則金木交併矣。高真人《象先歌》曰：庚要生，甲要生，生甲生庚道始萌。西華聖母曰：生甲生庚，堪為大丹之祖，真土者，坤位是也。上鵲橋，下鵲橋，此復指上下二源，鵲橋乃天河也，人能運用，若天河之流轉上下無窮也。天應星，地應潮。在天應星，如斗柄之斡運；在地應潮，如月之盈虧。《元樞歌》曰：地下海潮，天上月是也。起巽風，運坤火，息者，風也，火不能自炎，須假風以吹之。《鍾離丹訣》云：煉藥憑巽風。《古林詩》曰：吹噓藉巽風。運者，動也。坤乃西南之地，水火聚會之源也。入黃房，成至寶。既經起火符之後，則運入黃房之中，結成至寶矣。黃房亦曰黃華，玄關一竅乃真土，故曰黃房也。水怕干，火怕寒，修煉金丹全藉火工調變。添水之時，以救其火之燥也；運火之時，又恐其火之寒也。故水亦怕溢，亦怕干；火亦怕燥，亦怕寒。故有斤兩法度，須要調勻，使其不致於大過，亦不致於不及也。差毫釐，不成丹。運火之際，細用調變，毫髮之差則天地懸隔矣。《紫陽詩》曰：毫髮差殊不作丹。鉛龍升，汞虎降，鉛，火也，龍也，沉而在下。汞，水也，虎也，浮而在上。太白真人曰：五行不須行，虎向水中生。五行顛倒術，尤從火里出。以法制之，則自然升降矣。驅二物，勿縱放。當其龍虎升降之時，須要把捉，不可縱放也。《紫陽詩》曰：既驅二物歸黃道，怎得靈砂不解生。產在坤，種在乾，藥產西南，西南乃坤地也，產於坤地則移種於乾宮也。上下二源，其理明矣。但至誠，合自然。真一子云：至誠修煉此藥乃白日飛昇之道也。陰真君曰：不得地，莫妄為。須隱密，審護持，善保守，莫失天地機。盜天地，奪造化，修煉莫不盜天地之機，奪造化之妙，運用日符乾坤，否泰抽添，則象日月盈虧，定刻漏，分二絃，隔子午，接陰陽，通晦朔，合龍虎，依天地之大數，葉陰陽之化機，陰符陽火依約卦爻周而復始，循環互用，不失其時。一鼎之中造化，一一明象天地，運動發生萬物也。倘或火候失時，抽添過度，寒暑不應，進退差殊，即今天地之間憑何而生萬物哉？陰陽之氣憑何而生龍虎哉？攢五行，會八卦。五方以中為主，五行以土為主，位居於中而有土德之尊。故水得土則潛其形，火得土則隱其明，金得土而增其色，木得土而益其潤。土無正形，挨排四象，五行既聚，則八卦自然相會矣。水真水，火真火，離中有陰，則心中之液乃真水也；坎中有陽，則腎中之氣乃真火也。此一身之真水大也。水火交，汞不老。夫地之氣，上騰而為霧；天之氣，下降而為露。陰陽相交而成膏雨，滋榮萬物者也。一身陰陽之相交而成真液，滋榮五臟六腑，復歸於下田。結而為丹。故萬物無陰陽之氣則不生，五臟六腑無津液則病矣。水能流，火能焰，水在上，故能流下；火居下，故能炎上。《參同契》云：水流不炎上，火烈不潤下。是此意也。在身中，自可驗。真水真火在人一身之中，於修煉之際，自可驗也。是性命，非神氣，左為性，性屬離；右為命，命屬坎。坤之中，陰入乾而成離；乾之中，陽入坤面成坎。當知離坎是性命神氣之穴也。水鄉鉛，只一味。水乃坎也，鉛乃金也，亦曰水中金。《雲房丹訣》曰：鉛鉛水鄉，靈源庚辛，室位屬乾，常居坎戶，隱在兌邊。劉海蟾詩曰「煉丹須是水鄉鉛，只此一味乃還丹」之根蒂也。歸根竅，覆命根，既得上下二源乃歸根，覆命之根竅也。貫尾閭，通泥丸。上通泥丸宮，下貫尾閭關，言其一氣上下循環而無窮也。真橐籥，真鼎爐，《升降論》曰：人能效天地橐籥之用，開則氣出，合則氣入，氣出如地氣之上升，氣入如天氣之下降，一氣周流，自可與天地齊其長久矣。上曰金鼎，下曰玉爐，然皆人身之真，造化也。無中有，有中無。《金碧經》曰：有無互相制，上有青龍居。兩無宗一有，靈化妙難窺。《參同契》曰：上閉即稱有，下閉即稱無。無者以奉上，上有神德居此兩孔穴，法金氣亦相須。托黃婆，媒奼女，奼女在離宮也，坎男不能與交會，須托黃婆而媒合之。黃婆乃真土也。輕輕運，默默奉。進火之際，當輕輕然運，默默然奉也。《杏林詩》曰「如如行火候，默默運初爻」是也。一日內，十二辰，年中用月，以一月三百六十時准，一年月中取日，則一日十二時准。一月日中用時，時中用刻，到此微妙，莫非口訣。意所到，皆可為。一日十二時辰內，遇一陽動皆可下手也。紫陽曰：一刻之工夫，自有一年之節候，此乃頃刻之周天也。馬自然詩曰：不刻時中分子午，無爻卦內別乾坤。飲刀圭，窺天巧，飛劍自上釜採而飲之，故曰飲刀圭也。上下二源皆真土也。窺者，觀也。《陰符經》曰：觀天之道，執天之行，盡矣。辨朔望，知昏曉。可辨明一身之朔望也。昏曉者乃朝屯暮蒙二卦也。識浮沉，明主客，鋁沉而銀浮，鋁沉而在下，銀浮而在上。既識浮沉，須明主客。《紫陽詩》云：饒他為主我為賓。無他，此乃先升後降之理也。要聚會，莫間隔。水火常要聚會，莫使之間隔也。採藥時，調火功，採藥之時，全藉調變火功，一剛一柔，一文一武，二八封門，六一固濟，循卦爻，沿刻漏，分二絃，隔子午，始於復而終於坤也。《參同契》曰：既得真鋁，又難真火，可不細意調變而使之無大過不及之患也歟？受氣吉，防成凶。《紫陽詩》曰：受氣之初容易得，抽添火候要防危。受氣之初，使金木交併，水火同鄉，若可喜也。及其脫體歸坤，沐浴以防其凶，守誠以慮其險也。火候足，莫傷丹，九轉火足，當息符火。若不知止足，必致靈汞飛走矣。天地靈，造化慳。此乃言其慳吝不可縱意也。初結丹，看本命，初結聖胎，則看受氣之初，初本命也。終脫胎，看四正。終脫胎，則看四正宮，乃玄關也。密密行，句句應。能依此密密而行之，則句句應驗矣。呂公詩云：因看崔公入藥鏡，令人心地轉分明。</p>

<h2>呂純陽祖師敲爻歌</h2>
<p>漢終唐國飄蓬客，所為敲爻不可測，縱橫逆順沒遮攔，靜則無為動是色。也飲酒，也食肉，守定胭花斷淫欲。行談暢詠胭粉詞，持戒酒肉常充腹。色是藥，酒是祿，酒色之中無拘束。只因花酒悟長生，飲酒戴花神鬼哭。不破戒，不犯淫，破戒真如性即沉，犯淫碎卻長生寶，得者須由道理人。道理人，真散誕，酒是良朋花是伴。花待柳陌覓真人，真人只在花街玩。摘花戴，飲瓊漿，境里無為道自昌。一任群迷多笑怪，仙花仙酒是仙鄉。到此鄉，非常客，奼女嬰兒生喜樂。洞中常有四時花，花花結就長生藥。長生藥，採花心，花蕊層層豔麗春。時人不達花中理，一訣天機值萬金。謝天地，感虛空，得遇鍾離是祖宗。附耳低言玄妙訣，提上蓬萊第一峰。第一峰，是神物，惟產金芽生恍惚。口口相傳不記文，須得靈根堅髓骨。堅髓骨，煉靈根，片片桃花洞里春。七七白虎雙雙養，八八青龍總一斤。真父母，送元宮，木母金公兩情通。十二宮中蟾魄現，時時地魄降天魂。鉛初就汞初生玉，爐金鼎，未經烹。一夫一婦同天地，一男一女合乾坤。庚要生，甲要生，生甲生庚道始萌。拔取天根並地髓，白雪黃芽漸長成。鉛亦生，汞亦生，生汞生鉛一處烹。烹煉不是津和液，天地乾坤日月精。黃婆匹配得團圓，時節無差口付傳。八卦三元全藉汞，五行四象豈離鉛。鉛生汞，汞生鉛，奪得乾坤造化權。杳杳冥冥生恍惚，恍恍惚惚結成團。性須空，意要專，莫遣猿猴取次攀。花露初開切忌觸，鎖歸土釜勿抽關。玉爐中，文火爍，十二時中惟守一。此時黃道會陰陽，三性元宮無漏泄。氣若行，真火煉，莫使玄珠離寶殿。抽添火候切防危，初九潛龍不可煉。消息火，刀圭變，大地黃芽盡長遍。五行數內一陽生，二十四氣排來宴。火數足，藥方成，便有龍吟虎嘯聲。三鉛只得一鉛就，金果仙芽未現形。再安爐，重立鼎，跨虎成龍離凡境。日精才現月華凝，二八方當返在丙。龍汞結，虎鉛成，咫尺蓬萊抵一程。坤鉛乾汞金丹祖，龍鉛虎汞最通靈。達此理，道方榮，三萬神通護水晶。黑鉛過，藥素清，一陣交鋒定太平。天神祐，地祗迎，混合乾坤日月精。虎嘯一聲龍出窟，鸞飛鳳舞出金城。硃砂配，水銀停，一派紅霞列太清。鉛池迸出金光現，汞火流珠入帝京。龍虎妒，外持盈，走聖飛靈在寶瓶。一時辰內金丹就，上朝金關紫雲生。仙桃熟，摘取餌，萬化來朝天地喜。齋戒等候一陽生，便進周天參同理。參同理，鍊金丹，水火薰蒸透百關。內丹成，外丹就，內外相接好延壽。丹入腹，非尋常，陰形剝盡化純陽。飛昇羽化三清客，名遂功成達上蒼。三清客，駕瓊輿，跨鶴騰霄入太虛。太虛之上修真士，頓了圓成一物無。一物無，惟顯道，五方透出真人貌。仙童仙女彩雲迎，五明宮內傳仙教。傳仙教，話幽清，只是真鉛鍊汞精。聲聞緣覺冰消散，外道修羅縮頸驚。點枯骨，立成形，信道天梯似掌平。九祖先靈悉解脫，誰羨繁華富與榮。尋烈士，覓賢才，同安爐鼎化凡胎。若是慳財並吝寶，千萬神仙不肯來。修真士，不妄說，妄說一句天公折。萬劫塵沙道不成，七竅眼睛皆迸血。貧窮子，發願切，要把凡流盡提接。同起蓬萊仙會中，凡境熬煎盡了歇。塵世短，受思量，洞府乾坤日月長。堅志苦心三二載，百千萬劫壽無疆。達聖道，顯真常，虎兕刀兵不敢傷。水火蛟龍無損害，拍手天宮笑一場。這些功，真奇妙，分付與人誰肯要。愚徒死戀色和財，所以神仙不肯照。真至道，不擇人，豈問高低富與貧。日饒帝子共王孫，須去繁華銼銳紛。嗔不除，怒不改，墮入輪迴生死海。堆金積玉滿山川，神仙冷笑應不採。名非貴，道極尊，聖聖賢賢示子孫。腰金跨玉騎驕馬，瞥見如同隙里塵。隙里塵，石中火，何枉留心為久計。苦苦煎熬喚不回，奪利爭名如鼎沸。如鼎沸，水沉淪，失道迷真業所根。有人平卻心頭棘，便把天機說與君。命要訣，性要悟，入聖超凡由汝做。三清路上少人行，六道門中爭入去。報賢良，休慕顧，性命關鍵堪守護。若是缺一不芳菲，執著波查應失路。悟真常，不達命，此是修行第一病。只修祖性不修丹，萬劫陰靈難入聖。悟命基，迷祖性，恰似整容無寶鏡。壽同天地丈夫兒，把握陰陽為本柄。性命全，玄又玄，海底洪波渡法船。生擒活捉蛟龍首，始知匠手不虛傳。</p>

<h2>吳奠師大道歌</h2>
<p>大道不遠在身中，物即皆空性不空。性若不空和氣住，氣歸元海壽無窮。欲得身中神不出，莫向靈臺留一物。物在心中神不清，耗散真精損筋骨。神御氣，氣留形，不須雜術自長生。術則易，知道難，遇縱饒遇了不專。行所以千人萬人，學畢竟終無一二。成神若出便收來，神返身中氣自回。如此朝朝並暮暮，自然赤子結真胎。</p>

<h2>丘長春真人青天歌（混然子注）</h2>
<p>青天莫起浮雲障，云起青天遮萬象。青天者，指人性而言也；浮雲者，指人雜念而言也。此二句是修行人一個提綱。大凡平日二六時中，心要清淨，意要湛然，不可起一毫私念間隔真性，自然如青天無雲障也。若苟有心，君不能為王，對境觸物，隨念所遷，其出彌遠，是云起而遮萬象也。萬象森羅鎮百邪，光明不顯邪魔旺。此謂一性正位，百邪自歸，則身中天地萬氣一氣也，萬神一神也，自然心君泰定而鎮百邪也。若忿不能懲，欲不能窒，放情不返，被魔所攝，是吾光明不顯而邪魔旺矣。我初開廓天地清，萬戶千門歌太平。此言得道之士，勘破生身，本來無個什麼，只什麼清靜存真，常如赤子，性自空而命自固，則通身四六八萬四千毫孔血氣周流，無處不暢。易坤卦云：黃中通理，正位居體，暢於四肢，美在其中矣。豈不是天地清而萬戶平也歟？有時一片黑雲起，九竅百骸俱不寧。此言有人惡念動處，即如黑雲之起，當此時急要知覺，便好迴光返照，養其良心可也。若無禁戒，隨眼耳鼻舌四門所漏，被形所役者，性天則黑雲銷門，苦海則淫欲波翻，是以一身九竅百骸俱不寧也。《道德經》云：開其門，濟其事，終身不救。禪家所謂不怕惡念生，只怕知覺遲。孟子又曰：失其雞犬而知求，放其心而不知求，哀哉！學者可不戒歟？是以長教慧風烈，三界十方飄蕩徹。此一節警戒學人：心常要在腔子里，一動一靜在乎剛潔，不可與萬緣作對。若遇諸色相須是決烈其志，慎勿動念。尹喜真人曰：凡物之來，吾則應之以性而不對之以心。《金剛經》亦曰：不應住色生心，不應住聲香味觸法生心，應無所住而生其心，如是降伏其心。孔子故曰：君子素其位而行不願乎，其外此所以教人。心君若能主正，智慧自然圓通，則身中三寶歸體，十方肅清，無有障礙也。雲散虛空體自真，自然現出家家月。此承上云既得三界十方蕩徹自然，一念不生，則吾真性常存其妙，通身星月俱現光明，此乃內景坐忘之道也。如《度人經》云：諸天覆位，又如顏子屢空是也。月下方堪把笛吹，一聲響亮振華夷。此以下乃言修命工夫。月下者，言身中冬至子時，一陽動處癸生時也。當此時急下手採之，便以神呼氣，氣歸竅，內吹其音，外閉其門，調和律呂，混合百神。此乃吹吾身中無孔之笛，發一聲響亮而振動華荑也。非遇真師口訣不可知也。驚起東方玉童子，倒騎白鹿如星馳。驚起者，熏蒸也，從下而上也。東方者，甲木生火於寅位也。玉童子者，流意飛神也。倒騎者，逆轉也。白鹿者，煉精化為白氣也。總而言之，凡作丹入室之時，性君主內，流意沉下，水府熏蒸存中根，候陽火漸熾，舉動上頭關，捩從寅至巳流戊土，督進陽火，進逐金精，直透三關，上入南宮，補離中之陰，是成乾象，則要如星馳之速。逡巡別轉一般樂，也非笙兮也非角。逡巡者，杜漸也，從上而下也。別轉一般樂者，此言六陽會乾陽，無終陽之下，繼此以從則當杜漸。自午至亥，以已土退陰符，從金闕下鵲橋華池，滂滂沛沛入重樓絳宮，直送至坤宮土釜而止。產個明珠似月之圓，非笙非角之可比也。三尺云璈十二徽，歷劫年中混元斫。此承上文別轉一般樂之義，於此故云。三尺云璈者，乃言三般大藥歸鼎，妙合凝真，一息工夫即奪回一年十二月造化。丹經所謂簇年歸月，簇月歸日，簇日歸時。一時之中只用二候，運行周天符火，採藥入室，以行內事。混融煅煉，結成聖胎，乃曰歷劫年中混元斫也。《度人經》云：中理五氣，混合百神，十轉回靈，萬氣齊仙了。真子故曰：「大藥三般精氣神，天然子母互相親。迴風混合歸真體，煉煅工夫日日新」是也。玉韻琅琅絕鄭音，輕清遍貫達人心。此承上云混元斫之義，於此故云。玉韻琅琅者，乃得其真大鍛鍊之功，脫去其舊染之汙，是得神和而氣和，如舜韶之純翕。從此絕其鄭聲之淫，覺吾身中土皆作碧玉，無有異色，自然遍貫達於人心也。《度人經》云：金真朗郁，流響云營，玉音攝氣，靈風聚煙是也。若非真傳實踐工夫知如是妙乎？我從一得鬼神輔，入地上天超古今。此言丹道圓成變化自在，則宇宙在乎我，萬化歸乎身。到此地位，陰陽由我運，五行由我役，風雨由我召，雷霆由我呼。是以現大身遍微塵，藏小身載須彌，於是鬼神莫測其機，自得束首侍衛。入其地，上其天，超古今，總在我應化無窮也。縱橫自在無拘束，心不貪榮身不辱。此承上云超古今之義，於斯故云。縱橫自在者，乃言唯道為身，不隨世變，倒用橫拈，變化由我，豈有拘束也？富貴榮華，到此時盡底掀翻，豈心再有貪榮而身有辱也？此個活路，若非大丈夫決烈手段，焉能致此？閒唱壺中白雪歌，靜調世外陽春曲。此言閒唱者，自得其真樂也。則吾身別有壺天景緻，常有漫天白雪之飛，清清朗朗，了無纖塵，可入莊子所謂虛室生白，神明自來。尹真人亦曰：一息冥情而登大道。此所以九和十合，一氣繩陽而超三界之外，豈非歌陽春之曲乎？我家此曲皆自然，管無孔兮琴無弦。此言九轉丹成，脫胎神化，是自然之道。體同虛空，非形象之可睹。元始天尊故曰「視不見我，聽不得聞，離種種邊，名為妙道。豈管真有孔而琴有弦邪？這些消息，可以默會。古人所謂道本無形，我亦非我，鐵璧銀山，驀直透過。學人於此轉得一語，則參學事畢，有何疑哉？得來驚覺浮生夢，晝夜清音滿洞天。此一節總結一篇首尾之妙。所謂得來者，得來真道，永證金剛不壞之身，覺悟浮生一切有為之法，知夢幻耳。是得今日升無上妙道身中，晝夜常有不樂之音滿洞天也。此又警示後之學者，縱得功名蓋世，文章過人，不得真傳至道，到頭總是虛浮不著實也。若只管貪迷不醒，流入浮生，夢寐輪迴無期，何能出於生死？除是決烈丈夫信得及參得透，割得斷，一悟回頭，直超無色之界，向吾大道而修，內則存神養氣，外則混俗同塵。此乃東世出世即與仙佛並駕，豈虛語哉？</p>

<h2>註解金谷歌（附詩三首）</h2>
<p>煉丹訣，煉丹訣，無限天仙從此越。達人悟此壽延長，愚人不省天還折。此訣相傳有萬年，予今料得徒饒舌。我哀丹士空高慢，不肯低頭誰肯說。</p>
<p>仔細對君說。寶丹非凡物，一味分兩穴。空告木頭人，枉把天機泄。良言告誡耳邊風，吐出鮮紅不當血。母氣初傳子，石中有寶天然理，逼出水中真汞體。精凝氣結長黃芽，運化成功感戊己。初子性初掘。子幼初迷母氣絕，欲待崢嶸難辨別。溫溫惟恐失寒泉，轟轟又怕身枯竭。次子亦如然，混沌難分別。家傳二代生子孫，柔性難憑立祖業。陽炎韶光未度秋，焉敢與弟分優劣。三子始光明，點化分剛訣。離兄離弟自優遊，一點芳心啟閥閱。火速靈棋法正嚴，虎奔龍躍都除滅。一子誕一子，九子性猛烈。祝融燒竭水晶宮，龍女隨夫朝玉闕。摘下驪珠曜日輝，萬劫之中尤難說。清淨步太虛，天仙來迎接。氣化神真體更輕，血變白膏三蟲滅。名銷紫府注南宮，自有群仙下降接。此丹傳聖道，莫與非人說。丹寶相傳惟聖賢，丹經莫對愚頑閱。參同煅煉止三人，市井臨凡皆隱密。丹丹丹一粒，遐齡千萬劫。一粒朝生一粒接，從微至著何曾歇。是知大地總黃金，續緒產砂超億劫。一生二，二生三，三生萬物無休歇。水火均平惟自生，化生遍遍物芸芸。子識一谷三十輻，上下輪環豈暫停。無緣難遇此丹經，此是聖人真口訣。緣薄分淺一生分，睹面相逢話不說。遽幸千生一遇逢，契合丹經千萬帖。艮無頭，斧無耳；庚為表，辛為里。子良還向赤中求，金銀由從黑裡取。玄黃相抱返陰陽，內外剛柔鉛汞體。別無別藥直下取，惟有水火相配對。都來一味水中銀，莫聽狂徒用雜類。水汞將來合火鉛，均停盛化成既濟。燕雀相生鳳，狐兔不乳馬。物因類聚必用徒，牝牡烏能馬附狐。燕雀不生鸞鳳子，五金徒煉八石枯。若無真父母，所生都是假。金公玉母兩相依，玄女黃男暗約期。無質有形真是母，先天原不是凡軀。種禾當用粟，無粟谷不生。嘉禾玉稻非草子，丹寶金母豈金銀。多因愚迷無高見，使我疏狂要注經。煉寶須用寶，無寶丹不成。不是硃砂及水銀，只因神氣結丹勻。堪笑狂徒煉草木，徒勞八石與金銀。若用凡雜類，總是不在真。世物滓質是有形，遇迷只作煉丹成。逢人先說十分會，煉到百年枉費功。用鉛不用鉛，須向鉛中作。此鉛不是煉形鉛，權借天鉛作匡郭。自有真鉛裡面生，須賴天鉛主鄞鄂。及至用鉛時，用鉛還是錯。真鉛老母三旬體，化成囂塵俱零落。用罷真鉛向棄捐，況他黑錫與銀硃。若要水銀死，先須死水銀。濕汞須憑干汞擒，汞干寶死水銀真。不知先死鉛干汞，白髮中年只是貧。水銀若不死，如何死水銀。謾燒八石與金銀，草木灰霜更不親。脆汞結砂並鉛煮，不明陽火總為陰。生熟自相制，相制自通靈。自生鉛火號為生，抽出硃砂熟水銀。金木並時為自制，調和子性自通靈。黑赤丹砂汞結成，明知此理最幽深。黑赤熟生兩相因，汞虎鉛龍是的親。煉藥須憑金里水，丹成還是水中金。不離男女生男女，生下男女更長孫。陰陽二八變成三，父變坤兮母變乾。八卦六爻生萬物，丹丹一粒滿金丹。水銀一物別無物，先作肉兮後作骨。同出異名非二物，華池神水悠漂沒。表鉛里汞分離坎，紅化肉兮黑化骨。骨肉相親化作真，從此河車任反復。剛柔表裡返陰陽，結成一粒大如橘。矻矻河車不暫停，還丹終坤始由復。此藥無爐只有鼎，一鼎化為千萬鼎。太乙神爐亦有準，火中真鼎配客明。金光照定玉龍子，好把真胎分石金。金化金兮銀化銀，何曾別有外神靈。水裡藏龍化子銀，子銀化作滿堂金。庚辛氣化憑神火，何用他家異物親。轉制分胎三次後，卻嫌宗祖是囂塵。季子英豪益子兄，數足三十轉勻明。元熒後代增枝葉，誰念當年老母恩。藥即是金金是藥，母能養子意偏深。鉛氣誰知藥是金，汞乾子隱母鉛因。汞成芽子憑鉛母，子母相親實更親。奼女牢藏神室內，深閨養之自堅心。翠娥歸於黃婆舍，願與金郎自合親。門戶合闢因戊己，炎天誰敢出黃庭。五田金谷誰時種，吾今細說論分明。王粒頻收天地金，一斛結熟萬石粳。不得中秋真種子，去年徒費萬年心。得之守之宜秘隱，不秘不隱遭天嗔。得意須知後水銀，師真弟信兩思誠。若將此真為常語，自有天雷斧劈形。</p>

<h2>下手工夫口訣</h2>
<p>腳跟著地鼻遼天，兩手相懸在穴邊。一去引從天上降，吞時須要滿山川。</p>
<p><u>修煉精氣神</u></p>
<p>此精不是交感精，乃是玉皇口中涎。此氣不是呼吸氣，乃是元始一比肩。</p>
<p><u>玄關無定位</u></p>
<p>有形有質皆非正，無質無形始是玄。無極無極中太極，太極中便是後天。</p>
<p><u>蕭紫虛橐籥歌</u></p>
<p>乾坤橐籥鼓有數，離坎刀圭採有時。鉛龍升兮汞虎降，灶蛇上下兩相持。天上日頭地下轉，海底嬋娟天上飛。乾坤日月本不運，皆因斗柄轉其機。人心若與天心合，顛倒陰陽止片時。虎龍戰罷三田靜，拾取玄珠種在泥。黃婆媒合入中宮，嬰兒奼女相追隨。年中用月日用時，刻里功夫妙更奇。暗合鬥牛共歡會，天機深遠少人知。進火烹煎天地髓，開爐沐浴霞迸輝。九還七返在片餉，蒸氣薰蒸達四肢。溫養嬰兒惟藉母，守城野戰要防危。一時八刻一周天，十二時辰准一年。始於復卦終於剝，朝屯暮蒙有後前。春夏秋冬依次第，練至坤宮始凝堅。不須究易行卦氣，身中自有一坤乾。天地日月若交會，打破虛空只一拳。宇宙造化在吾手，向上天機不妄傳。惟人至尊而至貴，可鍊金液大還丹。還丹口訣無多字，練就移身入洞天。</p>

<h2>重陽祖師坐忘銘</h2>
<p>常默元氣不傷，少思慧燭內光。不怒百神和暢，不惱心地清涼。不求無諂無明，不執可圓可方。不貪便是富貴，不苟何懼君王。味絕靈泉自降，氣定真息自長。觸則形斃神遊，想則夢離屍僵。氣漏形歸厚土，念漏神趨死鄉。心死方得神活，魄滅然後魂昌。轉物難窮妙理，應化不離真常。至精潛於恍惚，大象混於渺茫。造化若知規繩，鬼神莫測行藏。不飲不食不寐，是謂真人坐忘。</p>

<h2>胎息銘</h2>
<p>三十六咽，一咽為先。吐唯細細，納唯綿綿。坐臥亦爾，行立坦然。戒於喧雜，忌以腥膻。假名胎息，實曰內丹。非只治病，決定延年。久久行之，名列上仙。</p>

<h2>馬自然金石誥</h2>
<p>大海東頭紅日輪，青山幾度碾為塵。百年三萬六千日，一日死生多少人。九轉靈丹非五金，若無神授恐難尋。欲知子母真仙訣，煉藥先須學煉心。何必燒丹學駐顏，鬧非朝市靜非山。時人慾覓長生藥，對境無心是大還。速養丹田速養身，好將陰德濟斯民。此身不向今生度，更向何生度此身？欲得長生調伏心，莫觀往古與來今。但向靜中神氣合，何愁不到大仙林。</p>

<h2>李清庵太極頌（計二十四章）</h2>
<p>道本至虛，至虛無體。窮於無窮，始於無始。</p>
<p>虛極化神，神變生氣。氣聚有形，一分為二。</p>
<p>二則有感，感則有配。陰陽互交，乾坤定位。動靜不已，四象相系。健順推蕩，八卦茲系。運五行而有常，定四時而成歲。</p>
<p>沖和化醇，資始資生。在天則斡旋萬象，在地則長養群情。</p>
<p>形形相授，物物相孕。化化生生，奚有窮盡。</p>
<p>天地萬物生於有，有生於無。有無錯綜，隱顯相扶。</p>
<p>原其始也，一切萬有未有不本乎氣；推其終也，一切萬物未有不變於形。</p>
<p>是知萬物本一形氣也，形氣本一神也。神本至虛，道本至無，易在其中矣。</p>
<p>天位乎上，地位乎下，人物居中。自融自化，氣在其中矣。</p>
<p>天地物之最巨，人於物之最靈，天人一也。宇宙在乎手，萬化生乎身，變在其中矣。</p>
<p>人之極也，中天地而立命，稟虛靈以成性。立性立命，神在其中矣。</p>
<p>命系乎氣，性系乎神。潛神於心，聚氣於身，道在其中矣。</p>
<p>形神則有生，有生即有死。出生入死，物之常也。</p>
<p>氣化則無生，無生故無死。不生不死，神之常也。形化體地，氣化象天。形化有感，氣化自然。</p>
<p>明達高士，全氣全神，千和萬合，自然成真。</p>
<p>真中之真，玄之又玄。無質生質，是謂胎仙。</p>
<p>欲造斯道，將奚所自？惟靜惟虛，胎仙可冀。</p>
<p>虛則無礙，靜則無欲。虛極靜篤，觀化知復。</p>
<p>動而主靜，實以抱虛。二理相須，神與道俱。</p>
<p>道者神之主，神者氣之主，氣者形之主，形者生之主。</p>
<p>無生則形住，形住則氣住，氣住則神住，神住則無住。是名無住住。</p>
<p>金液煉形，玉符保神。形神俱妙，與道合真。</p>
<p>命寶凝矣，性珠明矣，元神靈矣，胎仙成矣，虛無自然之道畢矣。</p>
<p>大哉，神也！其變化之妙歟？</p>

<h1>類修要訣續附</h1>

<h2>太清中黃胎藏論略</h2>
<p>內養形神除嗜欲，心不動搖，六府如燭，常修此道，形神自足。專修靜定身如玉。內絕所思，外絕所欲。一者上蟲居腦宮，《洞神玄訣》曰：上蟲居上丹田，腦心也。其色白而青，名彭居，使人好嗜欲凝滯。學道之人，宜禁制之。萬端齊起搖子心。常思飲膳味無窮，想起心生若病容。學道者，不得內行扶身，卻為三蟲所惑亂也。二背中蟲住明堂，《洞神玄訣》曰：中蟲，名彭質，其色白而黃，居中丹田，使人貪財好喜怒，濁亂真氣。遣子魂夢神飛揚。或香或美無定方，或進或退難守常。精神恍惚似猖狂，令子坐臥敗谷糧。子若知之道自昌。怡然不易，其道自成也。三者下屍居腹胃，下屍其色白而黑，居下丹田，名彭矯，使人愛衣服，耽酒好色。令子淡泊常無味。若常守淡泊，三尸既亡，永無思慮矣。靜則心孤多感思，撓則心煩怒多起，服氣未通，被三尸蟲較力，或多怒，或多悲思，或多嗜滋味。使人邪亂失情理。子能守之三蟲棄，得見五牙九真氣。五牙為五行氣生子五臟中。五牙咸惡辛酸味，若五味不絕，五臟靈氣不生，終不斷思欲想。為有三蟲鎮隨子。屍鬼坐待汝身死，何得安然不驚畏？三尸之鬼，常欲人早終，在於人身中，求人罪狀。每至庚申日，白於司命。若不驚不懼，不早修煉形神，使年敗氣衰，形神枯悴，縱使志若松筠，亦復無成矣。勸子將心舍煩事，靜持心神，止舍煩務。超然自得煙霞志。超然洞悟，煙霞之暢在乎目前。咸美辛酸五臟病，津味入牙昏心境。但是五味入牙，皆通於兩眼之穴，散沾於百脈之內。致令六腑神氣衰，百骸九竅不靈聖。九仙真氣常自靈，三蟲已死復安寧。由於運動呼吸生，神氣若足，呼吸運動興起，雲霧自然得成，隱化無滯。居在丹田內熒熒。服氣成者，居在丹田中，凝結若雞子炳煥，肌膚堅白，筋骸清勁。地府除籍天錄名，坐察陰司役神明。內合胎仙道自成，入胎息至五百息，當入異境，地籍除名，三天錄仙。至千息，魂游上境。胎息真仙食氣得，卻閉真氣成胎息。服氣二百日，五臟虛疏，方可學入胎息准九天。《五神經》云：先須密室無風，厚軟氈席，枕高四指，才與身平。求一志人，同心為道侶。然後捐舍心識，握固仰臥，情無所得，得無所牽，靈氣漸開，心識怡然。初閉息經十息，至五十息，至百息，只覺身從一處，如在一房中。只要心不動移，凡一日一夜十二時都一萬三千五百息。故《太微升玄經》云：氣絕曰死，氣閉曰仙。魄留守身，魂游上天。至百息後，魂神當見其魄。緣是陰神常不欲人生耳。羽服彩霞何所得，皆自五臟生云翼。蟬為飲氣乘露故生羽翼，人服元氣而天衣不礙於體。五臟真氣芝苗英。《太華受經》曰：元氣含化，布成六根，吉凶受用，應行相從。內氣為識，胎氣為神，子能胎息，復還重嬰。反魂五臟之始，先布於水，內有六府，外應六根。丹主東方其色青，《五緯經》曰：肝主於木，生於水，克之於土，來自東方，其色蒼。當存想青氣出之於左脅，但六時思之不輟，當見此氣如青雲。用此氣可治一切人熱疾、時行、肝腫、疥癬、急嗽，但觀前人疾狀，量其淺深，想此氣攻之，無不愈者。如觀前人肝色枯悴，不可治也。子但閉固千息經，青氣周流色自成。胎息經千息為內養，此氣青色，當自凝結。心主南方其色赤，服之千息赤色出。《五緯經》曰：心主於火，生之於木，克之於金，來自南方，其色赤。每日午時，想赤氣在心大如雞子，漸漸自頂而出，自散。咒曰：南方丙丁，赤龍居停，陰神避住，陽官下迎。思之必至，用之必靈。如此三咒之，能常行此氣，存想五十日不闕，當為赤氣如火光自見。用此氣可治人一切冷病，當用氣攻之。若病人面色帶青，即不治。肺主西方其色白，服之千息白色極。《五緯經》曰：肺主於金，生之於土，克之於木，來自西方。常服每至丑時，存想肺間有氣狀如白珠，其光漸漸上注於眉間。後乃咒曰：西方庚辛，太微玄真，內應六府，化為肺神。見於無上，遊于丹田，固護我命，用之成仙。急急如律令。存念一遍，如此四十九日，肺中有氣如白雲自見。此氣照地下一切寶物，及察人善惡。如寒，用心氣，緣是火氣；如熱，用腎氣，緣是水氣。不辨用氣，即無效也。脾主中央其色黃，服之千息黃色昌。《五緯經》曰：脾主於土，生之於火，克之於水。閉氣千息，不敢伏臟藏，存想黃色。但一念一想，不限時節，亦無咒。其脾臟存之四十九日，自見此氣。已後用，可能自蔽形影。腎主北方其色黑，服之千息黑色得。《五緯經》曰：腎主於水，生之於金，克之於火。此五牙神氣。但至五更初，各存想氣色都出於頂上訖即止，亦不假一一別存想，兼不用咒亦得。只是較遲，滿百日方有效驗也。驅役萬靈自有則，服氣心志，正兼行內，行內外相扶，一年後，應是人間鬼怪精魅及土地神祗並不敢藏隱；所到去處，地界神祗隨衛道者，陰司六籍，善惡具知也。乘服彩霞歸太極。《胎息伏氣經》曰：內息無名，唯行想成，若不行戒，行入胎息未得合神。《太微靈隱書》曰：凡人入胎息，遊人間，行屍解術，隨物所化。故有托衣衾所化者，常以庚辛日取庚時，於一淨室內，焚名香一爐於所臥床頭。兼須設几案，上著香爐，下著所柱者龍杖及履鞋等物，盡安置於頭邊，身衣不解，以衾蓋之，首西而臥。自念身作死人，當陰念此咒七遍。咒曰：太一玄冥，受生白雲，七思七召，三魂隨迎。代余之身，掩余之形，形隨物化，應化而成。此存念一食間，但依尋常睡，如常存念之起。一食久，輒不得與人語。若與人語，其法不成。如此常行四十九日，漸漸成法。後要作，不問行住坐臥，陰念此咒七遍，隨手捉物，便別處去。眾人只見所把之物身以死矣，後卻見物還歸本形。此法即可以下界助身，不可以便行非法之事，大須護慎。其法大須隱默，若臥在床上，但以被覆身，隱念一遍，便卻出入。只見所臥衾被是身，不見被形。若於財色留心，當為神理銷折矣。九行空門至真路，大道不與人爭怒。動息能持勿暫停，陰神返照神常助。持心不息，其道易成。諸行無心是實心，因心運得歸天去。無心之心，因心運心。雖無有心，還因心有。除苟無心是謂真，眾事曰苟，無事曰除。除心上念，萬行歸餘。自隨胎息入天門。胎息以善行為要機，無念為至路。玄元正理內藏身，無曲潛形體合真。《洞玄經》曰：心無曲，萬神足。三部清虛元氣固，六府翻成百萬神。三元靜，六府調，真氣歸於真形，二理相合，五臟六府諸神共有百萬，自然相和應也。大腸之府主肺堂，肺為首，三焦之主。中有元神內隱藏。《太明經》曰：大腸主肺也，鼻柱中央為候色也，元氣自足，其氣當見。腎府當明內宮女，外應耳宅為門戶。《內神經》曰：精主腎，腎為後宮，內宮列女主。耳，腎之宮，承氣於耳。左腎為任，右腎為癸，循環兩耳門內，有元神守自都管，兼主志。凡人好嗔怒即傷腎，腎傷即失志，俱喪元神。故道者忌嗔怒。膀胱兩府合津門，氣海循環為要路。膀胱是兩府氣，腎合膀胱，乃受津之府，上應於舌根也。津液往來常潤，肥澤舌岸，以應兩膀胱氣。若少不潤，服氣人未成，當欲少語，以養津也。語多即口乾，難用氣也。中有神，其神常抱無貪之行。故道者不貪，志合神理。子當得見內神章，終身不泄神常助。</p>

<h2>李真人長生一十六字妙訣</h2>
<p>一吸便提，氣氣歸臍。一提便咽，水火相見。上十六字，仙家名曰十六錠金，乃至簡至易之妙訣也。無分於在官不妨政事，在俗不妨家務，在士商不妨本業，只於二六時中，略得空閒，及行住坐臥，意一到處，便可行之。口中先須嗽及三五次，舌攪上下齶，仍以舌抵上齶，滿口津生，連津嚥下，汨然有聲。隨於鼻中吸清氣一口，以意會及心目寂地，直送至腹臍下一寸三分丹田元海之中。略存一存，謂之一吸。隨用下部輕輕如忍便狀，以意力提起，使歸臍，連及夾脊雙關腎門，一路提上，直至後頂玉枕關，透入泥丸頂內。其升而上之，亦不覺氣之上出，謂之一呼。一呼一吸，謂之一息。氣既上升，隨又似前汨然有聲嚥下。鼻吸清氣，送至丹田，稍存一存，又自下部如前輕輕提上，與臍相接而上。所謂氣氣歸臍，壽與天齊矣。凡嚥下，口中有液愈妙，無液亦要汩然有聲咽之。如是一咽一提，或三五口，或七九，或十二，或二十四口。要行即行，要止即止。只要不忘作為正事，不使間斷，方為精進。如有瘋疾，見效尤速。久久行之，卻病延年。形體變，百疾不作，自然不飢不渴，安健勝常。行之一年，永絕感冒、痞積、逆滯不和、癰疽瘡毒等疾，耳聰目明，心力強記，宿疾俱瘳，長生可望。如親房事，欲泄未泄之時，亦能以此提呼咽吸，運而使之歸於元海，把牢春汛，不放龍飛，甚有益處。所謂造化吾手，宇宙吾心，其妙莫能述也。</p>

<h2>胎息秘要歌訣</h2>
<p><u>閉氣歌訣</u></p>
<p>忽然身染疾，非理有損傷。斂意歸閒室，脫身臥本床。仰眠兼握固，扣齒與焚香。三十六咽足，丹田氣越常。隨心連引到，損處最為良。汗出以為度，省求廣利方。</p>
<p><u>布氣與他人攻疾歌訣</u></p>
<p>修道久專精，身中胎息成。他人凡有疾，臟腑審知名。患兒向王氣，澄心意勿輕。傳真氣令咽，使納數連並。作念令其損，頓能遣患情。鬼神自逃遁，病得解纏縈。</p>
<p><u>六氣歌訣</u>　病瘥即止，不可過，過即敗氣。</p>
<p>一曰呬。呬法最靈應須秘，外屬鼻根內關肺，寒熱勞悶及膚瘡，以斯吐納無不濟。</p>
<p>二曰呵。呵屬心王主其舌，口中乾澀身煩熱，量疾深淺以呵之，焦腑疾病自消滅。</p>
<p>三曰呼。呼屬脾神主其土，煩熱氣脹腹如鼓，四肢壅悶氣難通，呼而理之復如故。</p>
<p>四曰噓。噓屬肝神主其目，赤翳昏昏淚如哭，都緣肝熱氣上衝，噓而理病更神速。</p>
<p>五曰吹。吹屬腎臟主其耳，腰膝冷多陽道萎，微微縱氣以吹之，不用外邊求藥餌。</p>
<p>六曰嘻。嘻屬三焦有疾起，三焦所有不和氣，不和之氣損三焦，但使嘻嘻而自理。</p>
<p><u>調理津液歌訣</u></p>
<p>人因食五味，壅滯閉三焦。熱極苦澀盛，冷多淡水饒。便將元氣療，休再問壺瓢。熱隨呵自退，冷宜吹始銷。口中頻漱咽，津液自然調。若得如斯妙，冷熱可無交。</p>
<p><u>服氣飲食所宜歌訣</u></p>
<p>修道欲得見真的，庖饌之中堪者吃。淡粥朝餐渴自銷，油麻潤喉足津液。就中粳米飯偏宜，淡面餺FG飥也相益。好酒飲時勃氣銷，生椒服之百病息。食前宜咽六七咽，以食為主是準則。飯了須呵三五呵，免教毒氣煩胸臆。</p>
<p><u>服氣飲食雜忌歌訣</u></p>
<p>密室避風隙，高床免鬼吹。藏精身有益，保氣命無虧。喜怒情須戢，利名心可灰。真神兼本屬，禽獸及蟲魚。此等血肉食，皆能致食危。葷茹既敗氣，飢飽也如斯。生硬冷須慎，酸鹹辛不宜。雨雲風罷作，雷電晚休為。蘿蔔羹須忌，白湯麵勿欺。更兼避熱食，瓜果勿委隨。陳臭物有損，死生穢無裨。須防咽入腹，服氣勿多疑。</p>
<p><u>休糧歌訣</u></p>
<p>千舊功夫如不輟，心中漸得屍蟲滅。更教充實三丹田，轉得堅牢百骨節。只欲思惟斷食因，懶將品味加餐啜。腹虛即嚥下臍輪，元氣便將為休絕。飽即寧心勤守中，飢來閉咽忘言說。如斯勵力久成功，方信養生在秘訣。豈並凡常服藥人，終朝修煉無休歇。營營藥力盡成空，矻矻忍飢守不徹。爭似常服太和精，便能清淨生光悅。如貪外美亂正元，百疾臨身自尪劣。</p>
<p><u>慎守歌訣</u></p>
<p>精氣切須堅慎守，益身保命得長久。人多嗜欲喪形軀，誰肯消除全永壽。未病憂病病難成，已災去災災遣否。臨終始解惜危身，不及噬臍身已朽。胎息縱然勵力修，欲情不斷也殃咎。陰丹體得道方全，如此之人還鮮有。</p>
<p><u>九載功變歌訣</u></p>
<p>氣並血脈共肉髓，筋骨發形依次起。欲遣衰老卻童華，一年一為九載矣。</p>
<p>先端坐澄定，閉目息氣，然後鳴天鼓四八通。以舌掠上唇外九遍，次掠下唇外九遍，又掠上唇里九遍，又掠下唇里九遍。即上唇外為南方，下唇外為北方，上唇里為東方，下唇內為西方，即以舌柱為中方。待津滿口，即數努兩腮，內氣二十一遍，微從鼻涕出些子便咽。咽時須喉中鳴即汨汨也，想津氣入下丹田。如此三遍、五遍。又，咽時須俟氣出便咽也。</p>

<h2>去病延年六字法（其法以口吐鼻取）</h2>
<p>總訣此行六字功夫秘要訣也。非此六氣行不到於本經，以此導之若引經耳，不可不知。</p>
<p>肝若噓時目睜睛，肺知呬氣手雙擎。</p>
<p>心呵頂上連叉手，腎吹抱取膝頭平。</p>
<p>脾病呼時須撮口，三焦客熱臥嘻寧。</p>
<p><u>吹腎氣訣</u></p>
<p>腎為水病主生門，有疾尪羸氣色昏。</p>
<p>眉蹙耳鳴兼黑瘦，吹之邪妄立逃奔。</p>
<p><u>呵心氣訣</u></p>
<p>心源煩躁急須呵，此法通神更莫過。</p>
<p>喉內口瘡並熱痛，依之目下便安和。</p>
<p><u>噓肝氣訣</u></p>
<p>肝主龍塗位號心，病來還覺好酸辛。</p>
<p>眼中赤色兼多淚，噓之立去病如神。</p>
<p><u>呬肺氣訣</u></p>
<p>呬呬數多作生涎，腦膈煩滿上焦痰。</p>
<p>若有肺病急須呬，用之目下自安然。</p>
<p><u>呼脾氣訣</u></p>
<p>脾宮屬土號太倉，痰病行之勝藥方。</p>
<p>瀉痢腸鳴並吐水，急調呼字免成殃。</p>
<p><u>嘻三焦訣</u></p>
<p>三焦有病急須嘻，古聖留言最上醫。</p>
<p>若或通行去壅塞，不因此法又何知。</p>

<h2>四季卻病歌</h2>
<p>春噓明目木扶肝，夏至呵心火自閒。</p>
<p>秋呬定收金肺潤，腎吹唯要坎中安。</p>
<p>三焦嘻卻除煩熱，四季長呼脾化餐。</p>
<p>切忌出聲聞口耳，其功尤勝保神丹。</p>

<h2>許真君暗銘注</h2>
<p>學道養聖胎，長生久視之道，人人盡有希生之心，亦少學者也。聖胎者，胎息也，想嬰兒赤子即長生不死之道也。存亡不存來。有信道氣之者，不惜身命，始堅學道之心，深採玄微，方知究竟。則存亡而不存來。學之道，氣通流以得玄趣為期，不畏亡而成之也。泥丸通百節，泥丸眉間入三寸是也，中有路入通頂後背脊，兼通達腳骨，中入氣海大小利門，出似醍醐之效也。丹闕脈三才。丹闕，中宮心所治。丹者，赤色也，為絳宮，心君治之。管百城千國，皆心君血脈通焉。脈者，調攝和淨也。三才者，三焦。上焦象天，中焦象人，下焦象地，治取元和之氣也。去作三周計，不知玄道是氣岡，測遠近寬迮程途，亦恐不逢。堅志往遊且若探討學之周也。還時七日回。探討得氣之術，妙不能已，身不在他人，故不用多時回也。玄珠求海闊，言海內求珠，向來曾求則求無不得也。但恐思之能成，若不曾求，即如海闊也。赤水路無媒。赤水者，血也。玄珠未得，津血不成，無媒路也。善惡懷中秀，長生之術，善修之則易到，惡者不達之玄妙。修到氣海，懷先光彩，一如秀影也。尿阿兩畔催。唯思蕙白之氣於背脊兩畔去來。催者，急也，而成玄珠也。其中無一物，氣在其中無一物，道氣已成，用心已到無心之境，行住合無為之理，自然之鄉也。搔首坐瑤臺。首者，頭也。搔者，動也，去之貌也。瑤臺瓊室，則日月之宮也。此為陽界，三魂受事之府，人神所居之宮也。</p>

<h2>楊少師神仙起居法</h2>
<p>行住坐臥處，手摩脅與肚。心腹通快時，兩手腸下踞。踞之徹膀腰，背拳摩腎部。才覺力倦來，即使家人助。行之不厭頻，晝夜無窮數。歲久積功成，漸入神仙路。</p>

<h2>白玉蟾真人秘訣</h2>
<p>我有神仙方，教子無損傷。頻頻熱擦手，勤勤摩腎堂。心火常宜健，神水不可吐。華池灌頻吞，切不可回顧。精盛而生氣，氣盛而生神。三物藥周流，金剛不壞身。一念起於心，龍虎難拘束。子若不謹戒，安能去色欲。</p>

<h2>養生要訣</h2>
<p>戒暴怒以養其性，少思慮以養其神。省言語以養其氣，絕私念以養其心。</p>

<h2>又</h2>
<p>早漱不若晚漱，晚餐豈若晨餐。節飲自然脾健，少餐必定神安。</p>

<h2>又</h2>
<p>服藥千朝不如獨宿一宵，飲酒一斛不如飽食一粥。</p>

<h2>正陽翁訣</h2>
<p>修真法，也無多，只要忘機煉睡魔。靜定惺惺神不昧，養成真體出娑婆。</p>

<h2>左野云口訣</h2>
<p>先補氣，後補血，補得丹田溫溫熱，便是長生不老訣。</p>

<h2>紫陽真人固精鑄劍接命口訣</h2>
<p>龍吞虎氣全憑劍，虎氣投龍劍自靈。</p>
<p>曲直剛柔從我用，誅妖萬里不容情。</p>
<p>固精有妙訣，作用不尋常。左手拿龍住，右手運頂良。臥時數數百，前輕後重忙。心酸頻洗水，才得劍堅剛。若是精微動，三指穀道藏。急將小便縮，提氣望明堂。如此四五口，精回氣自揚。二七令鼎作，誠心不要狂。緩緩依前法，從容體自強。三七行捶打，龍身壯且長。左手順托住，右手作拳張。周迴輕重打，洗水要相當。若有精微動，如前便氣揚。周而復有作，百日劍光鋩。此是仙家法，知音要保藏。煉成行採補，卻病一身康。</p>

<h2>孫真人保生銘略</h2>
<p>人若勞於形，百病不能成。飲酒忌大醉。諸疾自不生。食了行百步，數將手摩肚。睡不苦高枕，唾涕不遠顧。寅丑日剪甲，理髮須百度。飽則立小便，飢乃坐漩溺。行坐莫當風，居處無小隙。向北大小便，一生昏幕幕。日月固然忌，水火仍畏避。每夜洗腳臥，飽食終無益。思慮最傷神，喜怒傷和息。每去鼻中毛，常習不唾地。平明欲起時，下床先左腳。但能七星步，令人長壽樂。酸味傷於筋，辛味損正氣。苦則損於心，甘則傷其志。咸多促人壽，不得偏耽嗜。春夏任宣通，秋冬固陽事。獨臥是守貞，慎靜最為貴。強知事大患，少俗終無累。</p>

<h1>類修要訣後言</h1>

<h2>心丹歌</h2>
<p>內丹成就能有幾，外丹我心亦不喜。惟曉人生天地間，順受其正而已矣。父母遺體宜保全，更須為聖與為賢。聖賢萬世不泯滅，要知能此即神仙。神仙有個捷徑法，便泄天機且談卻。真丹原來即此心，心本良兮休作惡。任他眾獨不拘時，一味應教靜養之。君既靜兮則日休，四體諸臣自得宜。修行第一戒妄想，妄想能令真元喪。真元既喪病來侵，未免魂升與魄降。這粒真丹忒煞靈，好將性命認分明。若還苦被塵囂累，何異風前去點燈。更聞心是樞機比，不運之時心要死。去拙存仁念莫差，視聽言動一以禮。外役紛紛不可勞，精神有限易年高。行立坐臥皆須慎，無益之人莫妄交。雖然莫勞亦莫逸，陶侃終朝曾運甓。若逢有事力不勝，此是先時未能習。作事莫待筋力衰，少年去了不復來。天生我才必有用，肯教虛負天生才。我負才兮因嗜酒，極能潰胃休沾口。我今止酒覺氣清，寡欲由來壽能久。壽能久，色莫貪，貪色何能種女男。採補之說亦邪道，陰陽道理合自然。合自然，須聽命，財若妄求命亦盡。至於大怒更傷肝，不見烏江空自硬。人之臟腑要調和，大勇還須令不磨。七情俱要得其正，心自無疚樂自多。寒和暑，慎衣服；飢與飽，節口腹。衣服慎兮虛亦安，口腹節兮窮亦足。為人不可不知醫，知醫不被別人欺。無病休教常服藥，藥多不效反傷脾。一身全是脾為主，脾若一傷無計處。六般呼吸甚分明，升得水時火不舉。火不舉，在靜中，莫聽人言學坐功。坐功運氣氣不接，往日功夫一旦空。勸君更莫將摩按，按摩血脈終分散。只是搓揉自己行，自己行時甚方便。或對天時欠爽神，也須珍重小天身。小天能與大大合，那羨大天千萬春。千萬春兮如瞬息，此心更要存陰德。陰德從來用不窮，子子孫孫受其益。受其益，莫蹉跎，也須牢護此黃婆。若要形名長住世，請君試玩心丹歌。我作此歌皆正道，歌向君前君莫笑。世人苟能依此修，內丹外丹俱不要。舍卻心丹若外求，何異挾山超海儔。不信但看黃河水，晝夜滔滔只順流。</p>
<p>余既編輯是書而序諸前矣，不盡之意，將復有所後言。客曰：盍亦作一歌以代後言哉？余曰：余愧村婦駑馬，烏敢效顰於西施之側？驅馳於良驥之前哉？客曰：何傷乎？亦各言其志也。余遂唯唯承客命，援筆而作此歌，不盡之意，聊一寫之。第以玄學，素昧其間，多所妄率，似有逆乎編輯之旨。然而要其理，實無二端。故玄則系之以邇，幽則系之以顯，蓋亦欲人得其旨而歸之於正耳目者，幸勿訝焉。</p>
<p><u>萬曆壬辰孟秋朔日錢塘洞玄子胡文煥德甫書於全初庵中</u></p>
