<header data-type="book">
<h1>包氏喉證家寶</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>包三述</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1910">公元1910年</data></dd></div>
</dl>
</header>

<h1>咽喉總論</h1>
<p>咽喉，氣之呼吸，食之出入，乃人身之門戶也。其證雖繁，多歸於火，蓋少陰君火，少陽相火，二脈並絡於咽喉。君火勢緩，則熱結而為疼為腫；相火勢急，則熱結而為癰為痹。痹甚不通，而痰塞以死矣。經曰：一陰一陽結謂之痹。所謂一陰者，肝與心胞也；所謂一陽者，膽與三焦也。四經皆有相火，火者痰之本，痰者火之標，故言火則痰在其中矣，言喉則牙舌亦在其中矣。火有虛實，實火因過食煎炒，蘊積熱毒，煩渴，二便閉塞，風痰上壅，將發喉痹，必先三日，胸膈不利，脈弦數，當去風痰，解熱毒。至於虛火，因飲酒則動脾火，忿怒則動肝火，色欲則動腎火，火炎上攻，咽喉乾燥，二便如常，少陰脈數，宜養陰降火。此治咽喉病之大綱也，今特進言其目。</p>

<h1>條目</h1>
<p>凡一二日腫痛，三四日勢定，第三日必發寒熱，或頭痛不止，用本醫士秋字藥，病即已。凡喉證之變，皆疏忽於第三日故也。</p>
<p>喉痹，屬熱、屬痰、屬風。風多者，吹本醫士碧玉散，痰多者，吹秋字藥。不速治，則痹鬱而兼熱毒，致髮乳蛾等證。治法去風痰，解熱毒，開鬱。</p>
<p>單乳蛾，多因酒色鬱結而發。生於喉旁，或左或右，一日痛，二日紅腫，三日有形如細白星，發寒熱者凶，四日勢定，大約四五日可愈。用青藥五分，黃藥一分，後青三黃二同吹。痰出盡後，再服煎劑微利之，大便去後當愈。</p>
<p>如至三日，看喉內但紅腫無細白星，即為癰證。若三日後紅退，但腫兩旁左右，即為雙乳蛾。然左屬心右屬肝，煎劑內左宜加黃連五分，制皂角七分，右宜加赤芍八分，柴胡六分，雙蛾兼用。如大便不通，加枳殼一錢，玄明粉七分。連珠蛾者，二白星上下相連，又云狀如纏袋，用藥照前。雙乳蛾較單乳蛾重，連珠則尤重也。</p>
<p>喉癰證，因過食辛辣炙煿厚味醇酒，感熱而發，屬肺經痛。喉證中無形跡，但喉腫而痛，重者亦發寒熱頭痛，四五日可愈。用青藥加黃藥少許，內服煎劑，及膏子藥。</p>
<p>喉菌證，屬憂鬱血熱氣滯而發，婦人多患此，狀如浮萍，略高而厚，紫色，生在喉旁。初起用青藥五分，黃藥一分，後用青三黃二和吹，內服煎藥，不可間斷，亦難速愈，輕則半月餘，重則經年，治之得法則愈，要守忌戒口。</p>
<p>頸癰證，胸前紅腫，形在外，亦要內攻，甚則喉腫閉結，要出膿，外用三黃散敷，內用青藥吹，並服煎劑。</p>
<p>面癰，與頸癰相仿，大抵屬郁。</p>
<p>托腮癰，結熱而發，治法與頸癰同。</p>
<p>外敷三黃散方</p>
<p>生大黃一錢、生蒲黃五分、薑片五分、冰片五分、麝香二釐，為末，蜜調，加蔥汁二三匙，敷患處，或芭蕉汁，或扁柏汁，亦可。</p>
<p>䵟舌證，舌下生如小舌者，若連喉腫痛，即為喉癰，不連喉痛，非癰也，肺熱性燥感成熱毒所致。煎劑用犀角地黃湯加減，吹用黃藥，須至舌根兩旁，勤吹方速效，喉內用青十黃一頻吹。　</p>
<p>喉閉，傷寒後見者難治，為其閉氣不通，無形無聲故也。纏喉風證，因心中燥結而發，先兩日必胸膈氣緊，出氣短促，忽然咽喉腫痛，手足厥冷，頸如紋，轉結於內，腫繞於外，且麻且痹，喉中紅絲繞緊，手指甲白色，手心壯熱，喉腫而大，風痰壅盛，如拽鋸之聲，是其候也，最為急證，速吹，服藥可愈。若遲過一日夜，目直視，喉中如雷鳴者，不治。再用燈火近患人口即滅者，不治。如喘急頭汗，危在旦夕矣。倘下藥，須加牛黃一錢。以上二證，十無一生，不可輕醫。</p>
<p>一凡傷寒後患連珠蛾及喉閉證，多不治。以其喉項強硬，目睛上視，皆死候也。</p>
<p>一凡患喉證，一二日不發寒熱尚輕，若三日發寒熱，證必加重，亦必問其大小便通塞，如通證必即減，不過浮游之火，攻於咽喉耳，宜內服清熱解毒消風之藥。若二便不通，證必加重，內有毒火，非用降火消毒之劑，及通利二便之藥。火從何泄，病從何解乎？故證有輕重，治有緩急，並要問頭痛不痛，證雖甚凶，若發於外，而不見死證者，無妨。</p>
<p>一凡喉證須吹藥四五管，可以出痰，痰亦必去三次，方可愈。至出痰一管，藥內必用黃藥為要，吹時必須直對喉中，重重吹入乃效，吹過急提出管，恐痰涎湧出耳。</p>
<p>一凡喉證先碎，須用涼藥吹之，後用青藥，若欲出痰，單用黃藥，方能提去頑痰。初起一二日，用青藥，漸漸多加黃藥，熱甚黃藥為君。</p>
<p>一凡喉證，大便去後，方去病痊。若猶閉結，不可輕許其愈，若無痰者，不治。</p>
<p>一凡患喉證，面發紅腫，白亮無神，脈沉微無力，是神氣外泄，無陽故也，證凶必死。若面發紅腫，脈大有力，證雖重不死，是有元氣，而火氣盛耳。</p>
<p>一凡喉刺痛，因患勞瘁既久，虛火上升，榮竭血盡。患此者，其喉上顎有紅腫，密密如蚊蟲狀，危篤將死之候也。</p>
<p>一凡喉連胸紅腫，此係肺癰證。必用蜜調膏子藥，及百藥煎。（凡患肺癰，疑似之間，取生綠豆嚼之，不覺豆腥者是。）</p>
<p>一凡喉中無形，止紅腫者，宜多用燈草灰，乳蛾亦然。</p>
<p>一凡喉證初起，大便閉結，宜用生大黃、玄明粉各一錢二分，微利之，則火自降而易愈。若至五六日，久不食，而大便閉結者，誤用立斃。蓋因病久，胃氣已虛，元氣亦弱，雖閉甚，宜蜜煎導而通之。</p>
<p>一凡喉證初起，內服解毒之劑，而兼發散之藥，則毒易愈。解毒必加牛蒡子、連翹之類，發散加紫蘇、葛根之類，及荊、防，忌用桔梗。</p>
<p>一凡婦人喉證腫痛，有因經閉致火上升者，服通經藥三四劑，經通而證自愈。其證喉腫而色紅。</p>
<p>一凡喉證不可純用涼藥，取效目前，上熱未降，下寒復起，毒氣乘虛而入腹，胸前高腫，上喘下泄，手足指甲青黑，七日後全不進食，如魚口而死。</p>
<p>一治咽喉者，忌發汗，或針砭出血，即汗之義也，其腎虛傷寒及蒂中喉內之喉花腫，尤忌針。如內傷虛損，咽中生瘡，語言失音者，死不治。</p>
<p>一凡舌下起五峰如蓮，名曰舌下蓮。止可針兩邊四峰，不可針中峰，誤針者死。</p>
<p>一凡舌腫脹滿口，吐舌在外者，用制過殭蠶，制過皂角，二味，為細末，和勻用少許，吹入鼻中，男左女右，吹之，牙關自開，痰涎自吐。然後用箸卷絲綿，蘸甘草湯，潤舌唇，後用黃藥多加冰片，頻吹。</p>
<p>一凡腮以內腫爛，用箸扎絲綿蘸水，輕攪患處，病者即愈。若不知痛，此係死肉，多難愈。</p>
<p>一凡舌腫大，用生蒲黃末加冰片敷之，欲止血，用炒蒲黃。</p>
<p>一凡䵟舌喉癰二證，大便不通，煎劑內加生大黃、玄明粉各一錢二分，此微利法，亦抽熱下行法。不可用承氣湯，變成攻下，流弊滋多。小便不通者，調六一散服之，效。</p>
<p>一凡喉舌等證，初起吹藥一次，即令患者低頭開口，漏出痰涎黏唾者，易愈。吹藥無涎者，不治。</p>

<h1>辨喉證</h1>
<p>喉證初起，一寒戰而生者，發後身涼，口不碎，又無重舌，或二便俱利，不要認作熱證，皆由陽虛寒冷而發也。其痰不可提盡，此痰即身內之精神所化，與牙關緊乳蛾䵟舌之痰，毒種一氣。必流盡毒而愈者不同，若一流盡，則精神竭而必死。先以藥吹之，或以水漱之法，使一通便服藥，初劑發散和解，二劑即用溫補滋養，設三四日後，再發寒戰，或心痛、脅痛、骨痛、等證，死不治。</p>
<p>發時牙關緊急，喉舌俱脹，口碎而臭，或有重舌，或舌上有黃屑屑者，發後，下午再發微寒熱，大小便閉結者，即作熱證。用石膏敗毒散主之，證亦易愈。如漸起之證，三四日後而發寒熱者，雖凶不害。惟有證未減，而牙關反不緊急，唇不腫，而如好人者，不治。舌腫滿口者，不治。色如蒲桃、茄子，如砂紙者，不治。或連重舌，發寒熱，猶可治也。</p>
<p>重舌，捺之色雪白，捺舌一起，即紫色，或紅色，此身內氣血已死，然口臭者，猶可望生。最忌口渴氣急，痰多而稠，如桃膠者，死期甚速。一頸全紅腫者，亦極危也。面紅帶紫，面青帶白，神氣少者，俱不治。不語者死。略能語者，尚有生機。面色少神氣，而好坐低處者，亦難治。喉內之喉花，為帝中，性命所關。舌下紫筋，為舌系，通於腎，白腫不治，傷之即死，亦性命所關也。</p>
<p>舌癰證，舌紅腫大，屬心經火盛，地角亦紅腫，吹藥用青黃各半，吹至舌根，煎劑多用黃連、山梔、犀角。</p>
<p>木舌證，生舌根下，狀如白棗，有青紫筋者，不能速愈，半月方痊。如初起，不作痛，不發寒熱，漸漸腫大，起發愈遲，則愈難痊。皆因憂鬱而起，內服煎藥，外用青藥加黃藥，初時或青黃兼用，後單用黃藥者。又有一種，舌腫硬不能舉動者，亦名木舌，治法同。舌下又生舌，名曰重舌，或腫面腫腮，先在外見，但有膿處，即用利刀出血，次針舌下兩邊青筋出血，宜早治，遲則爛下舌根而死矣。</p>
<p>舌菌證，屬心經，多因氣鬱而生，生於舌上，如菌狀，或如木耳，紅紫色。</p>
<p>紫舌脹證，屬心火，內必煩躁悶亂，單用青藥吹，內服犀角地黃湯，可漸愈。</p>
<p>懸癰，生於上顎，紫色泡，如豆大，用銀針腳挑破出血，涼藥吹之。</p>
<p>牙槽風證，初起先齒痛不已，後牙齦內浮腫，紫黑色，或出血，久則腐爛而臭，難速愈。</p>
<p>牙漏證，即前證久不愈，齒縫中出白膿，是也，極難調治。如上左邊門牙落者，不治。此證屬胃火腎虛。</p>
<p>搜牙床，此證初起，牙床必腫痛，當用披針出其血，後用青鹽擦之，若屢用披針，日久骨自露者，難治。</p>
<p>牙癰證，一名牙蜞風，牙齦腫病，毒盛成瘡，初起有小塊，生於牙齦肉上，或上或下，或內或外，其狀高硬，若生泡，針出膿血而愈，硬厚成疹狀者，施麻藥京墨如法割之，烙鐵燙過，自愈。</p>
<p>牙咬證，生牙盡處骱中，齒不能開，熱勢凶，至夜尤甚，然易愈，不害命。</p>
<p>牙䵟證，屬胃火，如豆大，或內或外，無定處。</p>
<p>牙宣證，乃縫中出血，上屬脾，下屬胃，因陽明經實火上攻而出也，必有胃火虛動。腐爛牙齦，以致淡血常常滲漏也。</p>
<p>牙菌證，生牙齦，其狀紫花色，高起如菌狀，此乃血熱而兼氣滯也。</p>
<p>穿牙疔證，先二日牙痛，發寒熱，後痛不可忍，牙齦上發一塊紫色，是也。</p>
<p>穿牙毒，即前證，初起未破者疔，已破者毒，色紅者可治，青者死。</p>
<p>崩砂疳口風證，自舌下牙齦上腫赤，口內作焮，如渴熱，牙齦漸爛，亦能脫齒為患。</p>
<p>連珠疳口風證，自舌下起小泡，初起一個又一個，甚者三五七八九，連珠而生。</p>
<p>魚風證，系危病，如魚吸水，故名，死不治。</p>
<p>走馬牙疳證，大人患者，即黴瘡毒攻，小兒患者，或因胎毒，或因痘後餘毒，齒齦腐爛成疳，殺人最速。鼻梁發紅點如珠者，不治。其色如干醬，一日爛一分，二日爛一寸，故名走馬，言其速也，有齒者落盡而死矣。用黃藥吹，宜服蘆薈消疳飲。</p>
<p>牙疳五不治。口臭涎穢者，不治。黑腐脫爛者，不治。牙落無血者，不治。穿腮破唇者，不治。用藥不效者，不治。</p>
<p>鵝口疳證，一名雪口。初生小兒，滿口連舌上生白屑，如鵝口樣，故名。</p>
<p>馬牙證，初生小兒，先受胎毒熱氣，出胎後受風，風熱相搏即生，但看牙齦上有白色脆骨者，即是。其初發也，出胎時即打噴嚏，已冒外風，伏馬牙之根矣。若延至吮乳時，尚不知覺察，病深且危，故不急治者，即死。切勿誤認作黃疸之類，出胎時即當看，日日要挑，至三四日病即成，五六日堅硬難治矣。甚有發而再發者，大約百日外，方免此患。</p>
<p>凡口疳黑腐而臭者，不治。小兒胎疳黃色如干橘瓤者，不治。</p>
<p>凡小兒走馬牙疳，及大人骨槽風，須防落牙。至上門牙偏左一牙，是牙中之王，此牙一落，余牙必落，最重，難治。此牙不落，余牙尚可治。</p>
<p>凡治口疳，須用棉花，或絲棉，卷在箸上，輕攪患處，然後吹藥。凡唇上疳難吹藥者，或蜜調，或溫水潤，再敷。</p>
<p>凡面上放光而色白者，不治。或放光而色紅者，可治。屢試屢驗。所謂放光者，面上繃急而放光也。</p>
<p>乳蛾，生喉間，形如乳頭。</p>
<p>凡針乳蛾，宜針頭尾，不可針中間，鮮血易治，黑血難治。凡使刀針，不可傷蒂疔及舌下根。懸癰，生上顎，如紫李，宜針破。腮癰生腮下，先用吐法，再針紫黑處，去瘀血。喉癰，命門合相火也，如灌膿，即以銀針挑破之。牙癰腫痛，亦灌膿也，宜挑之。</p>
<p>喉瘤，生於喉旁，形如圓眼，血絲相裹，不可用刀針，極熟者，以筆針刺之（岩按：用筆針法見《喉科枕秘》）。</p>
<p>喉八證辨。手少陰少陽二脈，並系喉，氣熱則內結腫脹，痹而不通則死。其不通之證有八：曰雙乳蛾；曰單乳蛾；曰雙閉喉；曰單閉喉；曰子舌脹；曰木舌脹；曰纏喉風；曰走馬喉閉。熱氣上行，故傳於喉之兩旁，向外作腫，以其形似，是謂乳蛾。一為單，二為雙。較乳蛾差小者，名閉喉。熱結舌下，復生一小舌，名子舌脹。熱結於舌中，而舌為之腫，名木舌脹。木者，木強而不仁之謂。熱結於喉，腫繞於外，且麻且癢，且腫且大者，名纏喉風。暴發暴死者，名走馬喉閉。此八者，皆屬諸火，微者咸以軟之，甚者下以散之。至於走馬喉閉，生死在於反掌，急砭刺出血，病亦可愈。</p>
<p>咽喉屬於肺，有虛火實火之分，緊喉慢喉之證。虛火者，思慮過多，中氣不足，礙若蝦皮，刺如茅草，喘急多痰，不可誤投涼劑；實火者，縱飲恣意，積熱所致，甚者風痰上壅，咽門閉塞，滴水不久，聲音不出，此為緊急喉風。用藥不及，惟針刺喉間，發泄毒血，次則拔髮咬指，吐痰嗅鼻，乃效。若夫癰、痹、蛾者，皆標病，雖重無妨。凡喉閉不刺血，喉風不倒痰，喉癰不放膿，喉痹乳蛾不針烙，皆非法也。其有痰火勞嗽，咳傷咽喉者，坎水已竭，離火為殃，雖存濟世之心，莫補回天之力，紅羊大劫，滿目瘡痍，吾子孫有挾吾術以濟世者，務必確守吾言。</p>

<h1>附方</h1>
<p><u>青藥</u>　消痰、清熱、解毒、卻風，而藥性和緩，不若黃藥之消腫毒，開喉閉，出痰涎，最為神爽，乃第一緊要藥也。但喉症初起，黃藥不可多用，以其直透入內，且善走散，初起驟多，恐證輕不勝，與病反不相入耳。凡制青藥，大約春夏宜薄荷多，制礬少，故配成青色。秋冬宜制礬多，薄荷少，故略帶白色。如欲喉證出痰，不妨加皂角末少許。惟遇喉癰及單乳蛾輕證，可單用取效。若他證，必兼用黃藥，乃能神應。然青黃兼用，須知先後多少，最為要訣。</p>
<p><u>青藥方</u>　治一切喉舌蛾癰等證。</p>
<p>每制礬三分，先配百草霜五釐，研細，入燈草灰五釐，再研，配成瓦灰色，後加粉草末二分，薄荷二分，再研細，入冰片五釐。此藥須用時配合，多日則無效，陰雨止可用一日。如吹喉證，欲其出痰，加殭蠶、皂角末，各三四釐。然青藥惟遇單乳蛾喉癰等輕證，可單用。若他證，必兼用黃藥。</p>
<p><u>制礬法</u>　生明礬研極細末，入傾銀罐內，先放大半罐，且止，將罐入爐火內，用桴炭火煅熔，以銅箸攪無礬塊為度，乃將槍硝研細末，投入礬內約十分之五，次將白硼砂研，投入礬內，亦十分之五，少頃，再投礬末，逐漸投下。候礬盡化，照前投硝、硼少許，如此逐層漸漸投盡，直待礬涼，啟罐口如饅頭樣，方架起炭火，燒至礬枯，用新瓦一片蓋罐上一點盅，取起，將牛黃少許，研末，用水五六匙調和，勻灑礬上，將罐仍入火內烘乾，取起，連罐覆淨地上，先用紙襯地，方合罐，罐上覆以碗，過七日夜取起，收貯聽用。須輕鬆無豎紋者佳，煅時火候，宜初起緩，亦不可太緩，恐礬僵，則不熔化矣。化後用文武火，如礬未化盡即下硝、硼，必不能熔，而堅實有豎紋矣。其罐擇未傾銀者用，必先放火上烘熱，亦不可放炭火上，使溫氣入罐。</p>
<p><u>取百草霜法</u>　須取其近鍋底者。若鍋底心及鍋口者，俱不用。先輕輕刮去上面一層，輕取中一層用之，著底者亦不用。</p>
<p><u>黃藥方</u>　善能消腫出痰，治一切口舌等證。</p>
<p>制槍硝一錢八分，生蒲黃研極細末四分，制殭蠶末一分，制皂角末一分五釐，將前藥研勻，如淡鵝黃色為度，再加冰片一分，再研勻，冰片一味，須細淨研入。如遇牙咬、䵟舌、穿牙疔等毒證，專用此藥治之。如咽喉等證，兼用青藥，看病之輕重，為藥之多寡，重者加入牛黃，喉證及纏喉風，加殭蠶、皂角二末，餘證只用硝、黃二味可也。</p>
<p><u>制硝法</u>　槍硝用長白如牙而厚者，如硝一斤，用水八碗，入鍋內煎至六碗，取起，入尖底敞口砂盆，將竹片三枝做品字，放盆內，過一宿，則硝自凝，即於底提起竹枝，則硝自起矣。須十二月合，可以久用。過十二月，則味淡而性平。又方，用溫湯蘸過，以綿紙挹干，仍用紙包，放灶上洞內五六日，收去濕氣，俟白如霜，方可用。倘急用，不及制炒亦可。</p>
<p><u>制殭蠶法</u>　殭蠶，細直腹小為雄，粗彎腹大為雌。宜用雄者，須將牙刷刷去灰砂，置瓦上，慢火炙至醬色為度，又要折斷中無相連為佳。</p>
<p><u>制皂角法</u>　取堅小不蛀者為佳。瓦上炙至色光明而脆為度，去兩頭，為末，聽用。</p>
<p><u>制百藥煎法</u>　五倍子一斤，研末，細兒茶一兩，酵頭四兩，先用水二碗，煎茶，取濃汁半碗，拌勻五倍子末，及發酵，置盆內，蓋口，外用粗糠上下四圍蓋緊，至六七日發起，則如面矣。收起做成餅，曬乾為末。（此方失去下一半製法，不全。）</p>
<p><u>制青梅法</u>　用大青梅一斤打碎，入明礬末半斤拌勻，置陽城罐內，火煅，至礬枯為度，取起，置地上出火氣，聽用。</p>
<p><u>開牙關法</u>　如喉證牙關緊閉而不開者，先用銀針刺兩手大指少商穴，（大指里側，離指甲韭菜葉許，掏之痠痛者，即是穴，屬肺經。）出血，再用烏梅擦牙上下，然後用殭蠶、皂角末吹鼻內，打噴嚏，即開口矣。此不傳之秘法也。隨即吹黃藥三次，以青藥善其後。</p>
<p><u>蒲黃當用生</u>　研細。羅篩篩過，取極細黃末聽用，若粗而褐色者，不堪用。喉證煎藥主方</p>
<p>大力子（君，炒研，一錢）　連翹（君，七分）　桔梗（一錢）　生甘草（三分）　銀花（七分）　元參（八分）　黑山梔（七分）　黃芩（七分）　花粉（八分）　前胡（一錢）　薄荷（八分）</p>
<p>水煎服，如發寒熱，加荊、防。頭痛加煨石膏。胸悶加炒枳殼。如鬱熱而發，加赤芍、川貝母。口渴加知母、麥冬。</p>
<p><u>舌證煎藥主方</u></p>
<p>川黃連（君，八分）　黑山梔（一錢）　犀角（七分）　生地（八分）　丹皮（八分）　赤芍（八分）　麥冬（八分）　生甘草（三分）　燈草心（二十根）</p>
<p>煎服，如兼唇口，加煅石膏八分，以瀉脾火，以環唇屬脾也。惟舌屬心，故專主瀉心火。如有鬱熱兼有痰，加川貝母七分，不拘咽喉牙舌證。凡大便不通者，加炒枳殼、玄明粉各八分。</p>
<p><u>牙證煎藥主方</u></p>
<p>黑山梔（君。一錢）　玄參（君，一錢）　丹皮　生地　黃柏　知母　酒白芍　地骨皮　車前子（各七分）</p>
<p>熱甚加煅石膏八分，炒黑升麻七分。風加荊芥穗八分。虛加熟地一錢，枸杞子七分。如餘毒，加連翹八分，黃連七分。若穿牙疔毒，則用消腫解毒之劑，如紫花地丁、甘菊花之類。總之，齒乃腎之標，骨之餘。足陽明胃經之脈，貫絡於齒上齦。手陽明大腸經之脈，貫絡於齒下齦。其在外感者，屬二經之風熱，與二經之受風寒停留而化熱者，居多。其在內傷者，屬腎熱，亦有腎虛。</p>
<p><u>三十六證咽喉解毒湯</u></p>
<p>玄參　木通　淡竹葉　生地　生山梔（等分）　燈草心（二十根）</p>
<p>水煎，將好時，加入生大黃四錢，朴硝二錢，水泡去渣，滾二三沸，溫服。或將朴硝沖服，更妙。蓋咽喉是毒證，此解毒法也。如挾風痰熱毒攻心，言語狂妄，加三黃，並研硃砂、珍珠末服。</p>
<p><u>涼藥方</u>　專治喉癬喉菌等證。</p>
<p>薄荷（一錢，研）　制硝（八分）　制礬（八分）　百草霜（一分）　燈草灰（一分）　川貝母（一分，研）　生甘草（一分，研）　冰片（三釐）</p>
<p>先將硝、礬、百草霜研勻後，入燈草灰，再研，入薄荷、貝母、甘草末，再研末，後加入冰片研細，用上白蜜調如青灰色，時時噙咽，若重證多用黃藥涼藥吹。</p>
<p><u>疳藥方</u></p>
<p>煅人中白（四錢）　生蒲黃（三錢，研）　燈草灰（一錢）　硼砂（三錢，臨用拌入）　生甘草（二錢）　青梅制礬（五錢，初用多加，後用漸減）　薄荷（五錢）　黃柏（五錢）</p>
<p>此方失去上一半，製法不全。</p>
<p><u>蘆薈消疳飲</u>　凡走馬牙疳，其患多在痧痘後餘毒未清，又兼雜證熱甚而成者。</p>
<p>如牙齦作爛，且臭且黑且腐，甚者牙齦脫落，齦窠亦朽，不數日間，即穿腮破唇，為不治矣。宜用此湯，外用人中白或冰硼散二藥搽之，取去黑肉，內見紅肉血流為吉。如取時頑肉不脫，腐肉漸開，焮腫外發，臭味不止，更兼身熱不退，俱不治。凡小兒走馬牙疳，身熱氣粗，牙齦腐臭，以及穿腮破唇者，並須服之。</p>
<p>蘆薈　銀柴胡　黃連　大力子　玄參　桔梗　山梔　石膏　薄荷（各五分）　羚羊角（三分）淡竹葉（三分）</p>
<p><u>人中白散</u></p>
<p>煅人中白（二兩）　兒茶（一兩）　黃柏　薄荷青黛（各六分）　冰片</p>
<p>共研細末，先用溫水漱口後吹藥，每日六七次，涎從外流者吉，涎收入里者毒，甚凶。</p>
<p><u>制百藥煎法</u>　與前法互異，今並存之。</p>
<p>川五倍半斤打碎，煎數滾，入陳松蘿茶四兩，加大力子不拘分兩，同煎，去渣再煎，用粉兒茶二兩，百草霜二兩，研末收。</p>
<p><u>治一切牙口疳</u></p>
<p>人中白（煅，六錢）　青黛（二錢）　冬桑葉（二錢）　漿梅條皮（三錢，帶漿，隔鍋燒成炭）　燈草灰（三錢）　冰片（一錢）</p>
<p>以上共研末吹之。</p>
<p><u>鐵鞋散</u>　治走馬牙疳。黑棗一枚，去核，入雄黃末填滿，用鹽搓麻線扎，外用濕紙包煨存性，研末搽之。</p>
<p><u>玄明醋</u>　治喉中痰涎壅塞。玄明粉，好淡米醋和，灌攪吐痰。</p>
<p><u>烏龍散</u>　治纏喉風。牙皂七條，水一杯，煎三分，入人乳三滴，冷服，非吐即瀉，虛喉忌。</p>
<p><u>神品散</u>　喉風喉蛾兼治。</p>
<p>牙皂　白礬　黃連（等分）</p>
<p>皂、連入礬內，同炙乾，研末吹上，有痰任流。</p>

<h1>咽喉七十二證考</h1>
<p>一、鎖喉風。熱痰生自胃膈，喉中如鎖管狀，雙者難治。先探吐風痰，針刺出黃白水，不治。如咬牙，吹通關散。</p>
<p>二、纏喉風。屬痰熱，白為白纏，黃為黃纏，腫噤難言，腮頷亦兼腫，眼白、耳赤、面紫腫連項下，如蛇蟠狀，一二日者慢風，急者旦夕死。先刺少商探風痰，鼻有青黑，氣寒頭低，痰如膠者，不治。</p>
<p>三、喉風。壅塞痰涎，腫痛，面黑、聲雷、頸腫者，不治。</p>
<p>四、瘜肉喉風。因受汙穢氣及風熱，喉生赤肉，層疊漸腫，孔出臭氣者，不過三日死。</p>
<p>五、啞瘴喉風。屬風痰，牙緊吐涎，口不能言，蟾酥化水滴鼻中，即開。看喉赤腫處，下刀吹藥，面紫、舌青黑、鼻冷涕、爪甲青、目赤圓，不治。</p>
<p>六、弄舌喉風。不言，舌常吐出，將手弄舌是也。刺少商出血，內服疏風甘桔湯。</p>
<p>生甘草　桔梗　歸尾　花粉　山梔　甘葛　玄參　荊芥　川芎　連翹　人參　枳殼茯苓　陳皮　防風　黃連</p>
<p>七、嗆食喉風。心經熱毒，咽燥無痰，氣喘，如心肺間刺痛者，當歸連翹散加大黃利之。如久，變飛絲勞，傷命。</p>
<p><u>當歸連翹散</u></p>
<p>當歸　連翹　生甘草　桔梗　生地　前胡　枳殼　黃芩　玄參　生白芍　生山梔　花粉</p>
<p>燈草水煎服。</p>
<p>八、纏舌喉風。下頦俱腫，口噤，舌卷腫大，上有青筋如蚓，生黃刺，白苔。如咬牙，刺少商。</p>
<p>九、走馬喉風。厚味風熱，搖頭、咬牙、舌黑、蒂疔赤破，俱死。或左右臉紫腫，或牙關紫腫，或舌卷，針少許，兼刺舌下三穴，舌不卷不針。</p>
<p>十、頂舌喉風。喉腮下腫，舌卷硬，頂上顎，遲即死。刺少商，針玉液金津。</p>
<p>十一、落架風。落下下頦，日久難治。服補中益氣湯，灸頰車七壯。</p>
<p>十二、連珠喉風。舌下生珠，初見一二，少頃蔓生，三五七九，舌脹痰生，先探痰。</p>
<p>十三、松子喉風。色如豬肝，腫起，形如松子，滿喉皆赤，氣逆、關閉、不食。刺腫處，吹藥宜去痰，服藥宜三黃、石膏、竹葉，加荊、防。</p>
<p>十四、骨槽風。耳下牙關緊痛，略有小核，寒熱如瘧，大人由於七情，小兒本於稟賦。</p>
<p>十五、腳跟喉風。七情鬱結，先從腳跟發起，至於喉間，或一年半年一發，一日行一穴，七日行七穴，行至喉間，發泡，如魚泡狀。荊防敗毒散主之。泡水腥穢者，死。</p>
<p>十六、懸蜞風。（一名，懸蜞蟲毒。）因上焦蘊熱風痰而起，上顎腫垂，形如蛙腹，或似雞蛋，喉閉痰滿。以刀刺去紫血，內服三黃涼膈散。</p>
<p>十七、陰毒喉風。少陰證，脈微細沉。自汗、咽疼、下利，一名腎傷寒。切不可用寒藥，宜半夏桂枝湯、苦酒湯之類。臟寒咽痛者，用蜜附子。</p>
<p>十八、撮口喉風。唇收如袋，口不能飲，有痰壅塞，經年一發。馬齒莧煎洗唇，玄明醋探去痰，針少商見血，此證胃有痰火。</p>
<p>十九、喉痹。腫痛而黃，其血黑，形如臂，其腫若坎，面赤，目上視。先探痰，腫不消，用刀去血。</p>
<p>二十、陰毒喉痹。感冬月陰濕火邪而起，喉間腫如紫李，微見黑色，惡寒、身熱、瞤動振惕，腰疼、足冷，其血黑，腫硬喉干，不治。</p>
<p>二十一、酒毒喉痹。心脾之火，形如卵，鮮紅光亮，壅塞喉間，寒熱、頭痛、項強腫。刺血，內服黏子解毒湯加葛根。</p>
<p>二十二、卒然閉塞氣不通而死，名曰喉閉。三稜針刺手腕中紫筋上，或少商穴出血。</p>
<p>二十三、風熱喉痹。腫而紅紫，形若拳，目上視，壯熱惡寒，如音不高，宜潤肺藥。若外腫，敷金箍散。</p>
<p>川大黃（穿心者更佳，用紙浸濕重包，爐火煨，廁中浸一宿，取出洗淨曬乾，研末聽用，一兩）　五倍子（醋炒黑，三錢）　白芷（五錢）　露蜂房（蜜炙，三錢）　芙蓉葉（曬乾，二兩）　羌活（五錢）</p>
<p>共研細末，瓷瓶裝，每用蜜水調敷腫處周圍，中留一孔出毒氣。</p>
<p>岩按：外證紅腫亦能治。</p>
<p>二十四、雙乳蛾。在蒂疔兩旁。似乳頭，吞吐不利。</p>
<p>二十五、單乳蛾。或左或右，手足厭冷，頭目昏沉，如厥，短氣欲絕，吳茱萸末，米醋調敷湧泉穴。</p>
<p>二十六、氣癰，喉閉。痰塞喉間，寒熱，分上中下三關，在下關難治。</p>
<p>二十七、死乳蛾。雙單緊靠蒂疔，不甚痛，飲食有礙，勞則痛，日久塞咽，漸漸氣悶，喪命。於蛾上亂劃七八刀令血出，吹藥，逐日如是，患平乃止，服三黃三陳，忌煎炒雞魚牛羊犬肉生冷發物。</p>
<p>二十八、乳蛾核。兩邊如乳頭，天陰勞力氣惱，則頸外如繩釦緊，飲食不下，呼吸不利，年深成嫩骨，用刀割去，吹藥。</p>
<p>二十九、喉癬。滿喉白色，時醫每誤認白喉，分爛喉風癬，弱證喉癬，二證虛實不同。</p>
<p>三十、飛瘍。因怒，或中穢毒，喉間忽然腫脹，立刻轉大，喪命。吹藥去痰，內服黏子解毒湯加紅花、丹皮，勿動刀針。</p>
<p>三十一、風熱喉丹。鮮紅，久而赤紫，吹藥服藥，均重去痰。可用刀刮針刺見血，去熱毒。</p>
<p>三十二、喉疔。與單蛾相似，蛾圓大，疔長小，紅易紫難黑不治。</p>
<p>三十三、開花疔。形若開花，根下割去，吹藥，三黃涼膈煎服，紅易紫難黑不治。病原鼻滴汗於豆腐內，食自死禽獸肉，水缸內有米粒生毛，此三因，皆致喉中生開花疔之原。</p>
<p>三十四、喉癰。厚味積熱，胃火上衝，生蒂疔旁，腫痛如蛾，蛾圓而小，癰塌而長，耳根腮下俱腫痛，牙疼，去血吹藥，服三黃。</p>
<p>三十五、雙單喉瘤。是肺熱，生喉旁，如圓眼，血絲相裹，不犯不痛，須日夜安息，以藥攻之，不可用刀點，麝二、連一、冰四，日頻吹。</p>
<p>三十六、喉癤。生雄尾中，初如梅核在喉膈間，吐咽不下，至三日，漸上喉間，刀刺後，吹冰硼，病由七情，服四七氣湯。</p>
<p>三十七、氣單。鬱結，靠舌根橫起紅紫色筋，先用大針蘸桐油燒紅，向舌橫筋上針七處，次將三小針扎品字樣，每大針孔上各針二次，連大針，共四十九針。如舌根腫，要灸外邊喉下橫三穴，口內出煙為止，如不出煙，七壯止，內服三黃涼膈及二陳。</p>
<figure>
<img alt="氣單針灸圖">
</figure>
<p>三十八、喉單。滿喉微腫而紅，針首尾出血，服三黃涼膈。</p>
<p>三十九、回食單。一名甸氣，一名梅核氣。氣鬱熱痰而生，喉兩邊兩硬條，色紅為甸氣，小舌下如豆大，為梅核氣。若疔下無核，定在前舌根下，或左右中有青筋系在顎，或紫點如小豆，或在舌根上，青白色，如蜆肉，似桃膠，兩旁紅筋垂下者，皆是。久則前心後背疼，噯氣，喉中若蟲行，梗噎氣阻，犯之即痛。刀去血，吹藥，逐日如是，喉外灸一穴至五穴，口中出煙為度，不出煙者。灸至九壯。</p>
<p>四十、氣子喉。喉間如珠，赤或紫白，犯之即痛，受氣必發，日久則嗌氣。挑破珠，出血，再吹藥。</p>
<p>四十一、七星瘡。是脾熱，上顎屬脾，生泡，似粟如珠，或黃或白，口中腥臭，手足怕冷，身惡寒。以布浸苦茶拭淨瘡上，再吹藥，戒酒色。</p>
<p>四十二、喉球。外感六氣，內傷七情，喉內生肉球，如圓眼大，根如線，五寸余長，相連肺上，吐球出，方可飲食，手輕扯，痛徹心內。服益氣疏風湯，升麻、葛根、防風、紫蘇、桔梗、前胡、白芍、白蒺藜、生地、當歸、川芎、生甘草、黃芩、麥冬、連翹、青皮，水煎服。再用麝香二錢研，分二次水調服，或服麝香散三次，根化而愈。</p>
<p>四十三、喉疳風熱毒。滿喉臭爛，老年患者，難治。</p>
<p>四十四、口瘡。積熱，滿口生瘡黃白。</p>
<p>四十五、走馬牙疳。陽明濕毒，牙齦黑爛，脫落臭穢，頃刻沿開，穿腮破唇，走入喉中者。不治。</p>
<p>四十六、珍珠毒。胎熱，舌上如珠，先赤紫，後白黃，疼痛。挑出血，苦茶拭淨吹藥，內服三黃涼膈散。</p>
<p>四十七、懸癰。生上顎，形如紫李，垂下抵舌，口不能言，舌不能伸，頭不能低，鼻出紅涕。刺破癰頭出血，鹽湯漱淨血，吹藥，內服荊防敗毒散。</p>
<p>四十八、懸疔。火熱，蒂疔忽然紫腫下垂，或偏或下，吞吐不利。不可刀刺，宜吹藥，或用烏龍尾加鹽，（炒），箸頭點上，枕頭仰臥一時。</p>
<p>四十九、痰泡。痰飲乘火，凝注舌下，結成泡腫，綿軟不硬，有妨言語，作痛。刀刺，流出黃痰共黃渣，捺淨，吹冰硼散，服二陳湯加芩、連、薄。</p>
<p>五十、重舌。下生小舌，久則大舌捲起疼痛，飲食不下，頦下腫硬。刺金玉二穴及小舌腫處，出血。</p>
<p>五十一、蓮花鈿舌。舌下腫，痛生五峰，三峰者輕，七峰者重。宜針兩邊峰上，用刀刮破，出血吹藥，中峰勿針。</p>
<p>五十二、木舌。硬如穿山甲，見人舌做一拳，憎寒壯熱，語言蹇澀。服黃連瀉心湯，刀點出血，刺金津玉液。</p>
<p>五十三、螓舌。因酒毒勞心鬱氣，舌有四眼，眼中流血者，全證也，或二三眼，生舌中，或生兩旁，生七八眼者，難治。年老者不治。若有黑心者，大者用藥爛去，小者用刀針挑去，先用藥水洗淨，然後吹藥，內服三黃涼膈散，舌不柔軟，瘡不合口者，皆死。</p>
<p>五十四、脬舌。痰火犯心經，舌忽脹滿，軟如豬尿脬，不痛，流涎，妨言語。看舌下，如有青瘡，如蟹眼，須挑破。出痰若雞蛋清，用溫湯漱淨，再吹冰、硼、玄明粉，內服二陳。</p>
<p>五十五、重顎。舌上生瘡如楊梅，作事心煩。服甘桔湯、黃連解毒湯，有痰結成硬核者，吹冰硼散，內服加味二陳湯。</p>
<p>五十六、雀舌。心膈蘊熱，生於舌畔，割去，吹生肌散，內服三黃涼膈散。</p>
<p>五十七、咂舌癰。牙齦盡處，兩邊生癰，口臭，吐涎，舌尖短大。未破者，針去血，吹藥。已成，內托。</p>
<p>五十八、捲舌癰。屬心經風熱，生舌下，或左，或右，或中，狀如圓眼，或似棗核，腫痛，害言語，舌卷紫硬。刀點去血，吹藥，內服黃連瀉心湯。</p>
<p>五十九、死舌癰。熱毒，舌如白苔死色，如木舌，但木舌小硬，此腫而白，刀刮去白皮，追風散加冰、麝、青皮、乾薑末，滿口擦之。腫甚，刺金玉出血，如五七日有膿，上下針出膿，方愈。如放膿見黑血，刺治不轉色者，死。</p>
<p>六十、血衄。舌上如針孔，流血不止，屬心火。</p>
<p>六十一、舌上龜紋。由思慮煩甚、少睡所致。舌痛若無皮，淡白斑細點，甚者陷路龜紋，脈虛，不渴，四物湯加知、柏、丹皮、肉桂。舌硬，柏一兩，青黛三錢，桂一錢，冰二分吹。</p>
<p>六十二、牙癰。脾胃火大發，於牙齦生毒，如豆大，或如指大，紫腫硬痛，頭項強痛，惡寒發熱。將針柄捺患處，軟者，是頭，下刀出膿血，吹藥。</p>
<p>六十三、牙疔。食毒穢物，毒犯陽明，生牙縫中，牙齦上高腫突起，大痛連腮，破則流血，去血後，吹藥，服三黃涼膈，或千金內托。酌用。</p>
<p>六十四、牙宣。牙縫出血不止，上脾下胃，吐血痰至升斗者，難救。</p>
<p>六十五、兜腮癰。屬風熱溫毒，生腮下兩邊，或一邊，如口內腫，下刀去血，日久去膿。初起時，頭痛寒熱，服荊防敗毒散。</p>
<p>六十六、面腮腫黑證。面黑向下腫，兩邊腮腫，喉中氣閉。用滾過熱水一盆，洗手足，見喉中出氣，針少商穴，有血，可治，吹追風散於頰內，並牙盡處。</p>
<p>六十七、出汗生癰，同治。</p>
<p>六十八、傷寒八九日後喉中腫閉，熱入心脾。</p>
<p>六十九、陰瘡。生咽旁左右，風濕鬱結而成，煎炒炙煿所致。用滾過熱水。不時洗手足，內服二陳。</p>
<p>七十、喉腫。脾經大毒，因酒後行房，酒氣不流，聚結喉根，不速治，毒閉即死。先去痰涎吹藥。</p>
<p>七十一、鎖喉癰。心與小腸之火，發於聽會之端，注於懸膺之側，初如癧，不能飲食，閉塞難通，紅腫發熱，漸次潰膿。軟而脹痛者針之。初起外用蜒蚰、麝、冰杵敷，內服當歸連翹散，內閉牛黃清心丸，日久千金內托散。</p>
<p>七十二、蛤蟆瘟。是傳染毒，兩目鼻面腫乃陽明，頭角兩耳腫屬少陽。</p>
<p>凡針家，須知舌下三筋，傷之出血不止。除三筋外，見有腫紫處，亦宜針出血，豈專執金津玉液二穴哉！</p>
<p>按：咽喉七十二種，有焦氏本、吳氏本、張氏本，證治各家不同，此與焦氏本，大同小異，閱者須在異處著脈。尚有鐵崖道人咽喉七十二種，口齒七十二種，容俟續梓。</p>
