<header data-type="book">
<h1>一得集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>心禪僧</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1889">公元1889年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521062">國立臺灣大學圖書館掃描本</a>）</dd></div>
<div><dt>品質</dt><dd>60%</dd></div>
</dl>
</header>

<h1>敘</h1>
<p>唐時有西域治疾方一卷。乃西域仙人取傳見藝文志。余小蓬萊謠有云。煉就金丹一粟黃。不堪大眾共分嘗。待遊西域仙人到。備說人間治疾方。即謂此也。夫道家龍虎鉛汞。徒托空談。桐柏真人以大還丹。命張老沿門喚賣。究竟何人白日昇天而去。不如王侯單方。救人疾苦。不失為菩薩心腸。心禪和尚隱於浮屠。而精於醫。其論醫諸條。無不入微。非精研軒岐之書。不能道隻字。取附諸案。尤見運用靈機。不拘死法。和尚於此道三折肱矣。庚寅初夏。余住右臺仙館。和尚見訪。並出此一編乞序。余雖不知醫。而素知和尚之精於醫。輒書數語於其簡端。使知扁鵲倉公。固有隱於方外者。勿徒求之市井懸壺之輩也。曲園居士俞樾。</p>

<h1>敘</h1>
<p>醫之為道雖小。而濟世與良相同功。古人豈欺我哉。僧心禪來杭有年。而吾杭奇難之症。賴以全活不少。醫案乃摘其尤者。僅十之一二耳。予頗耽醫書。而心禪上窺軒岐秘笈。下至漢魏六朝唐宋元明暨國初諸大家靡不殫。精竭神。選擇精粹。手鈔成帙。每與予譚。元元本本。如數家珍。而舌底瀾翻。輒覺靈緒紛披。頭頭是道。誠可嘉也。茲有上洋之行。袖出醫案。問序於余。余以心禪。根柢之學既深。而又能於臨症之際。神與古會。不苟下筆。是真食古而化。不拘拘於古法者。不尤可嘉也哉。自是所得益深。所詣益進。日新月盛。積成巨編。異日歸攜南海。焚香獻佛。迦葉當必從旁拈花微笑日。大士濟世婆心。如是如是。</p>
<p><u>賜進士出身翰林院庶吉士仁和李鵬飛序</u></p>

<h1>敘</h1>
<p>吾輩讀古人書，能闡發古人精蘊。復不沾滯古法。自成一家。以上追古人。誰謂古今不相及耶。醫道何獨不然。僧心禪多聚古名人醫案。抄錄不啻數十百本。末皆綴以評語。動中窾會。楷法端潔。誠是。嘉也。君於此事。不知何日能瞭然。亦可謂勤且篤矣。君僑居杭垣。歷有年所。而士大夫持金帛邀求者。日踵門至。予每戲之曰。君既方外。是戔戔者。將何焉耶。君言予有三大事心願未了。𢈥墓未厝。而嗣未定。本支貧乏。不能婚葬者未有應給。予聞之躍然起曰。天性人情。兩得之矣　。此有本之學。方外能然。我輩愧之多矣。且君志在必成。予見其評選各家。雖祁寒大雪。執筆呵凍。夜恆四鼓不倦。百結精誠。一團心血。靈談鬼笑。告語如聞。其案頭所置。若徐靈胎。薛一瓢、葉天士、喻嘉言。陸養愚祖孫。並江瓘父子。名醫匯案。魏玉衡續名醫匯案。擷其菁華。去其糟粕。補未備而集大成。洵黃岐之嫡傳。青囊之秘訣也。功余臨症。案稿寸厚。間將返棹。請為商定。予以少禪根柢儒修。沾濡佛化。顧所詣之精如此。天下豈有無本者。而可以言道哉。佗日心禪了願歸山。有大力者。焉之刊刻其評本。必有巨眼者。知其致功於古。收效於今。又將如心禪。今日之評古人以評心禪矣。心禪年甚富。名甚盛。養生有術。神明算測。妙諦元機。由茲參悟南海燈傳。舍君更誰續也。其精詣將有進於此者。此特其嚆矢焉耳。心禪勉乎哉。予當拭目俟之。</p>
<p><u>光緒十六年庚寅元月平陽徐引之淞樵甫書於錢唐青龍寺寓次</u></p>

<h1>自敘</h1>
<p>禮記所載醫不三世。不服其藥。或曰。祖孫世傳。歷久效彰。或曰。黃帝三代書。當盡讀。鄙意竊謂不難。查三世者。必有夙。因前定。何則。宇宙茫茫。業醫萬計。有名滿都邑。鐵限且穿。要旨元機。毫不領會。有關尺了了。指下分明。議病處方。俱與古合。此豈非夙因與。心少斟師承。長喜讀內經、難經、傷寒、金匱、千金、外臺。漢魏唐宋元明秦初諸大家。寢饋其中。十更裘葛。啟扃發微。問世未遑。瑋板瑤函。多方購置。良師益𠬺。極意講求。嗣遇李夢舟先生傳授針灸。其補瀉迎隨。候氣留氣諸法。皆與靈樞甲乙經。古書相符。詳勘細玩。略有寸步前聞。知者延為診治。何一出手。幸獲大效。世有狂妄譏予泥古。予以閉門合轍。戾古炫奇者悉。盡信無書。援古引咎者謬。予不敏。每兢兢焉以隕越古繩墨為慮。炫奇以矜能。不敢也。引咎以速謗。尤不敢也。噫嘻。心既無家傳秘訣。而黃帝三代之書，又不能深入顯出。伐毛洗髓。憑是風因。所在望古遙集。採菁擷華。焚膏繼晷。樂此不疲。禪修用力滿腔悲憫。打包出山。由寧而杭。倏忽三載。虛名浪得。延請踵至。積稿成冊。癬等嗜痂。諸公謬賞。囑咐手民。二符之愚。以諗來者。疾我罪我。均不知焉。時</p>
<p><u>光緒己丑余月下浣三日心禪自書於虎林紫陽山旅邸。</u></p>

<h1>卷上諸論</h1>

<h2>辨正徐洄溪先生醫者誤人無罪論</h2>
<p>客有疑徐靈胎庸醫殺人無過之說。予應之曰。先生何庸醫之問也。即當代名醫。亦惟有過無功而已。夫人偶感一疾。敦請醫師。舉室惶惶。如旱望雨。神明奉之。師保事之。偶效見功。金帛以酬謝之。萬一蹉跌。性命攸關。過將誰諉。庸醫種種作孽。其罪可擢髮數哉。客請詳論之。余曰。有庸而詐者。迎合主意。百計阿順。宜補宜瀉。宜溫宜涼。每乘其機而利導之。全不顧病症何因。或生或死也。有庸而妄者。自作聰明。診畢即索視前醫所批之方。無論其是與不是。必與之冰炭懸殊。炫己之長。形人之短。病或不測。則曰誤服某某之藥也。有庸而迂者。固執鮮通。一成不易。詎知病變百出。朝宜溫補。暮宜涼解。或素性本寒。病宜仍用芩連。素性本熱。病宜仍用桂附。倘必膠定成見。藥有一是。病無兩歧。遇此等朝暮變症。並病與平大相反者。其禍可立而待也。有庸而陋者。和同無主。人云亦云。脈理既不精審。藥性又未熟諳。一味隨聲附和。不敢別參意見。病者深喜其容順易言。處方平淡。到處推薦。婦孺知名。自謂平生不任咎責。其立心尚可問耶。或有怪僻之輩。所用之藥。輒偽託吳門葉天士一派。既不講求神農本草。而李時珍綱目。又略不一觀。惟於日用無關得失之物。隨手撮取。自詡靈妙。究竟不對藥症。貽害非淺。此蓋庸而托於高也。或有淺近之徒。習慣方藥。僅僅只十餘品。人有非笑之者。彼輒藉口薛立齋一代醫宗。其奏效每不出補中益氣。逍遙散。歸脾湯三方。蓋立齋神明於此。後人尚嫌其冒昧寡識。況與立齋相去倍蓰者乎。不幾為東施之效顰乎。此蓋庸而失於偏也，或有近地文士。性頗聰明。略看方書。本無志於醫道。世人不察。以其文理素優。議論鋒起。家延醫者。務必邀伊商酌。伊遂於背地改換藥味。成則居功。敗則委咎。醫者將何所施其技耶。此蓋庸而取巧者也。或有遠方邪人。詭稱針灸外科。件件精能。畢竟一無所長。針灸則以人之皮肉試手。外科又必先用爛藥。使其瘡孔漸大。難以收功。令人心寒膽怯。而後可任己治之。且又不能權操必勝。因是以致斃命者。十有七八焉。此蓋庸而行險者也。甚且輕症用重藥。重症用輕藥。是非顛倒。誇張伎倆。不知醫之為道。利在治症。有是症即有是藥。安可棄症不論。而故反其藥以治之。倒行逆施。其症不增劇者幾何。顧病家每每墮其術中。以為立論既與尋常不同。其必九折肱可知矣。此真庸而大謬者也。甚且易病為難治。難病為易治。試思以難為易。勢必以平易之藥治難病。以易為難。勢必以奇難之藥治易病。病者如略無主意。似此藥病毫不相當。不誠難者益難。易者不易。即其錯誤。何能挽救也。此蓋庸而極壞者也。甚且貪得無厭。或遇富厚之家。明知其症已危。必不使另請高明。設法圖救。蓋遷延日久。將為己多啖銀錢地步。直至奄奄待斃。束手無策。閤家詬詈。走避不遑。此蓋庸而喪心者也。甚見攀援當路。而大官顯宦。往往成竹在胸。即遇傷寒暑濕。亦必喜用人參、附子、乾薑、熟地等峻補之品。以為培養元氣斷不敢使苦寒發散之藥。以剋剝之。醫者恐投其忌。一誤再誤。變症百出。噫嘻。彼雖王候將相。因己無所主持。商治於我。我仍不能主持。重其意旨。輕其性命。何不量之甚也。此蓋庸而無志者也。客聞余言。遂躍然而起曰。君為庸醫。窮形盡相。又將何所逃罪於天地間耶。顧靈胎本朝名醫。何議論竟刺謬若是。予曰。此殆非靈胎先生之言也。靈胎著書六種。語皆精卓可傳。詞氣之間。從未稍為庸醫寬假。其人參論。言近日之醫。殺命於人不知之地。而天之降禍。亦在於人不知之地。藥方論。言名養生。而實速死。江湖惡習。聖人之所必誅。此皆其手足爰書。何忽為庸醫開脫哉。何又以尚有微功。縱容其殺人哉。且立說尤屬誕謾無稽。既言人生死有定數。則是若夭若壽。皆命主之。何又言命無權耶。既言必生疾病。使之不壽而死。則是生疾病者。亦命主之。豈能使其病而不能使其死耶。既言命之權於是獨重。而又必假手於醫。以令病輕者重。重者死。則是命之權反出於醫之下矣。而何言獨重耶。予謂是不知命。尤不知天。試思天何事不可死人。而乃使救死之醫。充此冥使鬼役。則將殺人愈多。而立功愈大乎。竊殺人有功。務如華元之殺曹吉利。浸假濟事。誠漢家一勳臣也。乃欲殺而不能殺。可見其權仍操於天命。而斷非醫者所能奪也。故張文端公言吾人一生福命。必不致誤死於醫手。藥縱錯投。亦惟多受痛苦而已。此蓋儒相持平之論。醫家萬不得以此藉口。適以張庸庸者殺人之膽耳。況此論文義。自相矛盾。如上文言心術不正。害人無算。天每不降之罰。下文言立心欺詐。假藥取財。其禍又無不立至。即使靈胎為之。亦屬遊戲筆墨。乃校刊時不一檢點。公然以誤人無罪命題。附之卷末。致乖本意。殊可怪也。心本庸愚寡學。悲憫徒懷。遇不可救者。既不能起死回生。而可救者多方療治。試輒獲效。又迫於處境。不得如靈胎之不受值也。清夜捫心。罪過叢集。書以警人。並以自警。客首肯者再。為浮一大白。</p>
<p>心禪和尚。醫中高手。歷數庸醫誤人之罪。儼如鑄鼎燃犀。怪異何從躲閃。即起靈胎於九京。亦必相視而笑。拍案叫絕。至其文筆之矯健。層層駁詰。痛快淋漓。非寢饋史漢十年者不辦。（弟淞樵拜讀）</p>

<h2>讀王孟英治張養之久病伏邪醫案論</h2>
<p>按張養之伏熱深錮。纏綿七載。罄其家資。更一百十三手之醫而莫能愈。無奈多購方書。居然自療。又誤服辛溫之藥。王孟英先生。屢諫不止。嗣因惡寒頭痛。百治罔效。遂邀孟英診之。孟英認定脈症。確係實熱內蘊。非用硝黃犀角大劑峻攻。斷不能散其久久固結之邪。且邪氣與正氣交併。與賊寇之盤踞山谷。倚恃險阻。並有莠民為之內應。而良善亦迫於勢而從之。使非雄師大隊。具排山倒海之威。既不足奪其氣焰。一鼓而下。必將群哄以起。又何能破堅擊銳。權操必勝耶。抑使非秉鈞軸者深結主知。太阿在握。則旁撓之議，皆得而阻之矣。縱百戰百勝。精忠貫日。如宋之張、韓、劉、岳、諸大將。又幾何不功敗垂成。徒扼腕咨嗟。而莫能挽救耶。噫嘻。醫雖小技。而用藥生死之機關。誠有與治兵相通者。譬如王孟英之於醫林。而神勇不啻四將。遇此體怯陽痿、咳嗽、痰沫、各症。直如金人久據宋之疆土。四在瘡痍。存亡繫於呼吸。而內有戚友詆譭百出。外有於某揚言於族黨。是又不啻秦檜汪黃之弄權於肘腋也。使張養之闇昧不明。如宋諸君。則孟英必不能逞其伎倆。而灑淚以班師矣。雖然。孟英與養之知交有年。觀其初猶疑慮。及見方案。始出惟君憐救之言。並後伏枕恭聽。大為感悟。則其中已搖搖如懸旌而不為群議所撼者幾希。然當此將信未信。不有如孟英者。一腔熱血。和盤托出。獨任其咎。毫不推諉。又安得回陽春於指下哉。可見朋友交際。身命所在。剴切指陳。至於此極。尚有如喻嘉言尚論篇所云者。雖苦口赤心。唾棄一切。往往付之東流逝水。病家豈誠不知其雄視一時耶。第當局者迷。兼以庸手裝出一副規模。似阻非阻。而愚闇者。必皆為其所中。迨燎原之火。不可撲滅。始知不信任明師之過也。悔已晚矣。況夫君臣之間。名分凜然難犯。萬不能面罄衷曲。而大奸巨憝。又從而傾擠之。不遺餘力。其較難輒什百千倍於是者。此有志之士。讀史至靖康之際。未嘗不廢書而三嘆也。</p>
<p>治通於兵。學涉於史。惟根柢之盤深。故枝葉之峻茂。誰謂三折肱之醫。不從天根月窟中來。（淞樵評）</p>

<h2>臨症必先讀書論</h2>
<p>俗云。熟讀王叔和。不如臨症多。或曰古今元氣不同。古方不可以治今病。二說誤盡後學不小。似業醫者。可不必深究古法。惟求臨症多耳。此醫道所以日趨而日下也。蓋必先讀書。而胸有成見。臨症始知用方之變化。若不讀書而徒臨症。雖多亦奚為哉。況病有虛實。變化萬端。治有補瀉。方不執一。如同一發熱。而熱有虛實。宜溫宜補。宜涼宜瀉。不讀書何以知彼虛而此實。如大匠之無繩墨。不幾倀倀無之耶。學者務須深究古法。循其規矩。而後見病知源。得心應手。蓋古人立方之意。即是規矩所在。由規矩而生巧。方為真巧。若眩奇以弄巧。則巧反拙矣。孟子云。大匠使人規矩。不能使人巧。是必先熟規矩。而乃能生巧。予謂學醫必先讀書。而後臨症。此物此志也。</p>

<h2>治病當悉未病論</h2>
<p>古云欲知其假。先識其真。若欲治病。必先知未病為要。蓋人之臟腑經絡氣血。原本飲食傳導。皆有一定之理。營衛之循行。晝夜有常度。憑腰之上下。而分其清濁。七竅之中。在上受清陽之灌注。在下司濁陰之傳導。呼吸應乎開闔。動靜分乎陰陽。如脈以四至五至為常。三至二至即為不及。不及則為虛為寒矣。六至七至即為太過。太過則為實為熱矣。脈之鼓動應乎肌中。如按之未及於肌而動應皮膚者。即為浮而病應在表。按之肌肉之分。而脈尚未得。必重按至骨。而脈始應者。即應沉而病應在裡。故必先知平素之脈。而後乃能識病脈。知表裡虛實之大綱。而更推之以部位時令。細切何部之獨異。則病無遁情矣。故學醫者。必須先讀內經。是以素問詳論臟腑營衛色脈常變。靡不精細。夫常者一定之理變者化機萬端。先知一定之常。而能應變化之萬端。如治絲而不紊也。否則亂緒紛紛。從何而下手耶。</p>

<h2>煙痢宜通不宜塞論</h2>
<p>痢之一症。古名滯下。以腸胃之中。先有積滯而後下也。痢乃後人之偽名。先賢論之詳矣。今則世俗通稱為痢而治痢之法。非通即澀。方書亦復如是。近洋菸入於中國。凡食洋菸而病痢者。名曰煙痢。病人先自膽怯。必求峻補速至。醫者不知此理。每以漫補止澀而壞事。故不得不辨論之。蓋吸菸之大便。每多燥結。平日有五六日一更衣者。有十餘日而始一行者。而其所食。未必不與不吸菸者等。則其腸中之積垢。年深月久。可勝道哉。故必通之而始安。余親見一門子某。素有煙癖。癮且甚大。後因署中事忙。不暇吸食。每以煙泡過癮。病痢數月。形如骨立。腹痛後重。一醫主以下藥。下黑糞如羊矢者甚多。視之皆未化之煙泡也。由是遂愈。而煙癮亦不作矣。又一鮑姓者。先自吸洋菸。後因歇業。戒而不吸。二年餘矣。病痢困憊甚劇。無力醫治。日求仙方。一日求得百部一兩。眾謂此物能殺蝨。豈可服一兩之多。即服宜減之。病者堅信不搖。服之。腹大痛。眾駭極。少頃登廁。下黑小蟲數碗。病如失。自是縻粥調養。亦不服藥。胃氣漸旺。身體壯盛。反逾於昔。然痢之宜下。不獨食煙者為然也。又一寧波人。客遊閩地。一日啖鮮荔枝百餘顆。而回寧已十餘年矣。患痢疾久之不愈。一醫視之。謂病雖久。腹痛拒按。尚有積滯。宜下之。乃用硝黃等藥。果下宿物甚多。視之皆鮮荔枝也。下後而病霍然。可知食積腸胃。雖十餘年之久。而尚能不化。仍是原物瀉出。夫痢病古稱滯下。其命名可想見矣。以不吸菸之人。患是症者。宜通降行氣。十之八九。至有久病純虛。魄門不藏。而腹不痛。或便出無度而不自知者。又當別論。總之吸菸之人。腸中積宿。愈久愈堅。豈可再用止澀耶。或曰吸菸之體多虛。若再下之。難保不暴脫也。余曰。醫家病家之所誤者。只在此句。蓋積滯在內。脾不能為胃行其津液。胃有陳積未去。勢必不能納新。所以肌肉日削。外現之虛象百出。若得積垢一下。胃即能納。脾即能運。何脫之有。但病家見此虛象。一聞宜下。無不吐舌。所以為難也。而醫者當委曲開導。轉危為安。亦是救人之一端。切勿附人意漫補以殺人耳。予再請以格物之理比例之。譬如久燃一燈。油足則燈明。油枯則燈暗。此自然之理也。乃久燃者油尚有餘。因其上結。燈煤。如不從而揭去之。其燈必暗。使不知致暗之油。而徒添其油以望燈之明也難矣。明乎此。而內本真實。外視虛象者。或峻補耶。抑降下耶。此內經所云。去菀陳則正氣復是也。再小兒秋患瀉痢最多。其症由於暑穢挾食滯者。十有七八。治以芳香醒脾逐穢。內清暑邪。佐以化積之品。一二劑而即愈。其若日久脾虛。則佐以健脾之品。余治是症。用是藥。無不應手而愈。方則每多相同。其食切忌溫燥。以致胃液乾枯。不能敷布於上。而為腹硬咳嗽變成疳勞之症。如芳香則宜藿香、菖蒲、佩蘭葉、佛手柑等。清暑則宜鮮荷葉。鮮青蒿、六一散、黑山梔、條芩、川連等。苦味堅腸。且以止痢也。運氣則宜廣皮、木香、檳榔、腹皮等。消食則宜神麯、穀芽、麥芽、山楂、午時茶、五穀蟲、雞內金之類。健脾則宜西洋參、茯苓、炒麥冬、炒扁豆、甘草、粳米之類。養胃陰則宜石斛、麥冬、木瓜、烏梅之類。利小便則宜車前子、澤瀉、滑石之類。殺蟲則宜胡黃連、榧子、使君子、檳榔之類。然必佐以甘藥以誘之。使蟲喜甘而求食也。兒醫之治瀉痢。每用葛根。觀葉氏書。當知所忌。以上諸藥。平淡無奇。善用之變化無窮。秋間小兒諸病。或疳積腹硬。青筋突起。或疰夏不食。體日羸瘦。或肝強多怒多啼等症。皆可變化治之。而藥亦不出以上數味而已。蓋小兒之病。多在肝脾二經。飲食果餌。傷其脾胃。臟腑柔弱。運化不逮。變生諸病。古云傷食惡食是也。又云若要小兒身體安。常帶三分飢與寒。真至論也。</p>

<h2>蘿蔔纓為治痢妙藥論</h2>
<p>夏秋間痢症最多。其病多由於暑穢食積而成者。蘿蔔治之最宜。務於冬至日。連根葉置於屋上。任其風雨霜雪日曬。至清明收下。其內空松如纓。名曰蘿蔔纓。性能清暑消積。又加雨雪日曬寒暑交蒸。受天之清氣。以解腸胃之濁邪。無論赤白痢。俱極效驗。而富貴之家。厭其輕賤。棄而不用。惜哉。豈知物雖賤而效至神。若能制以施送。則造福無量矣。蓋是物至賤。存心濟人者。人人可以制送。願醫者廣為傳說。則亦造福之一端也。</p>

<h2>痰症隨宜施治論</h2>
<p>人之痰病甚多。全部內經。無一痰字。金匱又以痰飲咳嗽同列一門。以致後世治痰。專責於肺。不知古人以腎為生痰之本。胃為貯痰之器。理固甚精。蓋腎主五液。入肺為涕。痰與涕。同為津液之化。而津液又生於胃。為水穀所歸。煉氣存精。為之津液。上升肺而下輸脾。則又隨氣運行。痰因氣而周歷四肢巔頂。無所不到。故內傷外感。皆能生痰。治外感寒則溫之。火則清之。治內傷虛則補之。實則瀉之。壅上宜吐。滯下宜攻。此大略也。如痰因風生。則用輕劑疏其表。風為陽邪。從皮毛而入腠理。漸漸達於肺胃。必致水穀之精液。不能上升。因鬱結而化痰。仍當從肺竅咳出。肺位最高。故宜輕劑。風淫於內。治以辛涼，佐以苦甘。吳氏之銀翹散、桑菊飲、是也。如風已化熱。熱蒸胃液而成痰。宜佐以清胃之品。知母、花粉、石膏、竹葉、等是也。如感寒邪而生痰。則毛竅閉拒。肺氣逆滿。太陽之氣。無以發泄於外。宜杏蘇散、麻杏甘石湯之類。熱盛則佐以條芩、知母、桑皮、山梔等。如暑邪由口鼻吸受。直趨中道。入於胃府。積滯而為熱痰。宜白虎湯、竹葉石膏湯之類。宣泄熱邪。如濕鬱於中。脾胃不克升降。壅阻為痰。務須運脾清胃。運脾宜厚朴、乾薑、腹皮、山楂、茯苓、蒼朮、藿香、豆蔻、橘皮之類。清胃宜竹茹、條芩、知母、甘草、花粉之類。或加淡滲利水之味。如濕鬱變成熱症。又宜透濕清熱。如芩、連、知、柏、豆卷、通草、滑石之類。詳見吳氏條辨。薛氏濕熱病篇。如傷秋金燥氣。消爍肺胃之津液而化痰。宜滋養肺胃之陰。喻氏主清燥救肺湯。或佐以五汁。養陰甘涼潤燥。即雪羹之類亦是。且六淫之中。火最生痰。火有君相之別。五志之分。治肝火以苦泄。治胃火以苦降。苦泄與苦降不同。苦泄如山梔、青黛、龍膽、蘆薈、豬膽等。苦降如大黃、黃連、黃芩、知母、黃柏、枳實等。又痰鬱久而化火。其升於上則怔忡眩暈。嘈雜不寐。入於經絡。則疼痛癱瘓麻木結核。入於肌腠。則凝滯而成癰疽。流於下焦。則必痿痹鶴膝骨疽。入於胞絡。則又痰厥癲癇癡呆昏迷。大抵怔忡眩暈。嘈雜不寐。宜清火以治肝。佐以安神之藥。如羚羊角、桑葉、丹皮、山梔、鉤藤、天竺黃、連翹、麥冬、茯神、遠志、青黛、牡蠣、石決明之屬。疼痛癱瘓麻木、則宜控涎丹、滾痰丸、及荊瀝、竹瀝之屬。蓋痰居深遠。不克吐出。不得不從下也。凝結肌腠而成癰疽。宜調和營衛。佐以芳香透絡。開腠如歸、芍、穿山甲、白芥子、桃仁、乳香、沒藥、皂角之屬。攻其瘀積而導散之。痿、痹、鶴膝、骨疽。則宜大活絡、控涎丹之屬。誠以下焦之痰。非峻藥不能通達也。痰、厥、癲、癇、癡、呆、昏迷。又宜運出胞絡之痰。先用藜蘆湯吐之。至症急口噤。用藜蘆為末。搐入鼻內。亦能致吐。若過吐不止。用蔥湯飲之即解。次用牛黃清心丸、或白金丸、以清餘邪。又次用安魂定神丸。以善其後。無不效驗如神。以上皆六淫外邪之治法也。至有因內傷者。形寒飲冷則傷肺。肺被傷則寒邪鬱結於內。而下得出。勢必喘逆咳嗽。喉中作水雞聲。即金匱支飲、懸飲、是也。輕則蘇子降氣湯。重則小青龍湯。射干麻黃湯。以寒邪非溫散不可耳。如飲食不調。失飢傷飽。勞倦傷脾。脾陽不升。宜補中益氣湯。小建中湯。調其中而痰自化。如暴怒傷肝。肝氣逆而犯胃。亦能生痰。又必脅痛嘔吐。口苦噯酸。宜逍遙散加丹皮、山梔、青黛、竹茹。或越鞠丸用青黛為衣。或加石斛、木瓜、烏梅、川連、輩以平胃氣。或用代赭、海石、蒺藜、輩以鎮肝。使土木無忤則安矣。如因房勞傷腎。水泛為痰。亦必喘逆倚息不能臥。然與寒邪傷肺之喘逆有間。氣邪傷肺。其脈必弦。或沉細而寸口滑數。腎虛之喘逆。其脈必虛大。尺脈反浮。可按驗也。水泛為痰。宜治溫補。輕則建中湯。重則二加龍牡湯。或八味腎氣丸作煎劑。使腎中溫暖。水不上泛。而痰喘自除矣。經云。精不足者。補之以味。故必用杞子、當歸、鹿角膠、潼蒺藜、海螵蛸、杜仲、補骨脂、雄駿之物。乃克有濟。年久老痰。窠囊錮結。當遵喻氏法以運出之。又須繼以補脾。而為填空之計。胸腹堆積釀成痰癖。堅大如盂如盤。當用丸藥攻之。如大黃、三稜、莪朮、歸鬚、桃仁、巴豆、萊菔子等為丸。然終不可過服。以傷正氣。予因治痰古無成法。妄為評論。尚希高明裁正。</p>

<h2>治喉症宜分三大綱論</h2>
<p>咽喉諸症。古人分七十二名目。其實三大綱統之矣。三大綱者何。一曰喉蛾。二曰喉痹。三曰喉風。喉蛾者。初起惡寒發熱。形圓高腫。色赤脈數或緊。四五日即膿成，治法於未潰時。宜刺少。商、少衝、中衝、出血。藥宜解毒消腫。方劑如銀花、赤芍、丹皮、黃連、黃芩、皂角、生甘草、貝母、枳殼之類。吹藥如稀涎散。開關散之類。或用桐油探吐其痰。關竅一通。即能消腫進食。如四五日後。膿已成。其色或赤或紫。脈洪大而數。須刺破患處。泄其膿毒惡血。內服解毒清火。如銀花、連翹、丹皮、山梔、黃連、黃芩、生甘草、貝母、歸地之類。外吹排膿化毒之藥。如黃連、黃芩、朴硝、冰片、硼砂。少加輕粉、牛黃。即冰硼散隨症加味可也。如潰久不愈。則名爛喉蛾。有虛實二種。虛者色白腐。脈虛數。實者色紫而脈沉緊。虛者宜人參養榮湯、生脈散之類。實者宜鮮菊葉、紫花地丁草之類。火毒盛者。仍用芩、黃、丹皮等清之。甚者加犀角、大黃。喉痹乃君相二火相併所發。形如小棋。初起無發熱惡寒之表症。十餘日方成膿。內經云。一陰一陽結而為喉痹。一陰者。手少陰君火之脈氣也。一陽者。手少陽三焦之脈氣也。二脈共絡於喉。氣盛則內結而腫脹。脹甚則氣痹痹者閉也。故治喉痹。當以散結瀉火為主。初起亦宜刺少商等穴出血。治與喉蛾大同小異。方中宜加桔梗、殭蠶、玉樞丹等散結之品。吹藥如呂雪、品雪、錫類散等類。惟喉風形症。與前不同。治亦迥異。其症初起漫腫不高。或外連頸腫。必發熱惡寒。而脈浮數。痰涎壅塞。初起宜普濟消毒飲、張氏六味湯、隨症加減。吹藥宜疏凡化痰順氣。如皂角、薄荷、殭蠶、人中白、黃芩、黃連、硼砂、冰片之類。潰爛色紫。必加珍珠、西牛黃、琥珀之類。以生肌敗毒。如虛爛日久。色白脈虛。方藥宜用溫補。吹藥亦勿過寒。如芩、連、西牛黃、冰片之類。咸在所忌。宜用琥珀、珍珠、滴乳石、人中白、硃砂之類。生肌和血。又有弄舌喉風。啞喉風。乃毒盛於內。必重用解毒。纏喉風乃風毒上盛。主以辛涼輕散。鎖喉風真者。乃絕症不治。面青瞠目。輕者以桂附八味加玉樞丹一錠。磨沖。此須開其上而溫其下也。喉症之書甚多。大略不越於此。更能深思類推。則遊刃有餘矣。近有時疫白喉一書。論症以足三陰為主。蓋喉症皆在手經。不關足經。古書具在。何得經脈倒置。真是無知妄作。明者自知。姑勿深辨耳。</p>

<h2>喉症吹藥論</h2>
<p>喉症以吹藥為外治之要。不可不深究也。蓋外科每每不知藥性。修合幾種通治之藥。若遇重症。非但不效。必至誤事。況喉症吹藥。尤當隨症制配。各味預研極細粉霜。庶藥與症對。奏功乃捷速耳。初起腫痛。牙關不開。痰涎上壅。宜用玉樞丹。茶汁磨以漱口。或用牙皂開關。或用桐油以鵝翎蘸之捲入喉中。湧去其痰。即關竅通而能飲食矣。如牙關緊急。挖之不開。可用牙皂為末。吹入鼻內。則口即開。或以藜蘆末吹入鼻孔。亦能吐痰開關。或用生半夏擦兩頰車皆效。如膿成腫脹。於患處點破。去其膿毒、惡血。如畏刀針。以人指甲、壁錢、瓦上焙枯為末。加冰片少許吹入患處。亦能穿破。名代刀散。如腫痛痰壅。玉樞丹、土牛膝根、萬年青根、搗汁入醋二三滴滴口最妙。硼砂、朴硝、膽礬、牛膽、硝礬。皆能消腫化毒去腐。赤腫火盛。則黃連、黃芩。青魚膽、青黛、西瓜霜。皆能清火解毒。風火上壅。宜薄荷、殭蠶、冰片、青黛等涼散之品。毒盛者。宜西牛黃、雄精、人中白、為解毒之良藥。潰爛新肉不生。宜用珍珠、西黃、硃砂、琥珀之類以生肌。然必腐盡乃可用之。若腐肉不去。即用生肌等藥。反致毒邪內伏。不能收功。宜知之也。喉症應用之藥品無多。知其性以隨症配合。自然靈妙異常。起危症於須臾耳。</p>

<h2>推摩法論</h2>
<p>推摩法。乃先師之真傳秘法。按病推之。有立竿見影之效。因後世不得傳授手法。以致棄置不用。幾於失傳。蓋小兒臟腑柔脆。受風寒暑濕之邪。即便發熱。或受驚嚇。肝膽氣浮。熱發於內。血熱沸騰。醫者不能見病知源。發表清裡。用藥雜亂。則以小兒柔脆之臟腑。運化乳食。尚且不逮。何能再加猛烈之藥性。豈有不反增藥病耶。何如推摩法。既穩而又速效哉。近來是術盛行。而精者不一二覯。其法以手五指分主五臟。指尖屬臟。本節屬腑。熱清寒溫。實瀉虛補。分順推逆。推左旋右。旋右推左。以定溫清補瀉之法。俱有下數。或三百或五百。不可亂推。又有揉以運氣。掐以定驚。面上亦各有所主之部位。肚腹手足。俱可推摩。有十大手訣做法。乃先師之秘法也。若能精是術者。廣行於世。則小兒之病。庶幾無夭札之虞矣。</p>

<h2>治小兒用藥宜輕論</h2>
<p>小兒臟腑柔脆。藥入不能運化。是以用藥宜輕。如外感風寒之邪。解肌疏表之藥。每味幾分可矣。藥味亦不宜多。如藥多而重。則藥反過病。病必不能愈也。惟痘瘄二症。則宜重而不宜輕。輕則藥力不逮。亦不能愈也。何則。痘瘄二症。乃先天之火毒盡發於外。是以人生每隻一次。非比他病之常有也。觀葉氏案當自知之。</p>

<h2>方藥針灸按摩薄帖熏蒸各有所宜論</h2>
<p>方藥治病。始於伊尹。六淫之邪在表在肌在營衛在六腑者。宜用湯劑邪在表者宜汗。在肌者宜解在營衛者宜和。入於六腑。在膈上者宜吐。在腸胃者宜下。在臟則非湯劑所能盡主之知矣。如肺病多有用散者。以肺居最高用藥宜輕。心肝脾有或宜丹或宜丸者。以其地位深幽。治之宜緩。腎則多虛少實。故或宜於丸。或宜於膏。內經云。腎藏精。精不足者。補之以味。故腎虛者。宜氣濁味厚之品。或血肉有情之物。為膏為丸。同類相感。　乃克有濟。如病在經絡。或疼痛流注。或拘攣弛縱。必用微針以調其外。更佐藥酒以和其內。則經絡和而隧道通。而疾愈矣。徒事藥餌。病必不愈。如小兒驚風。二十四種。驚病必用按摩。更用灸法以治之小兒丹毒及大人惡血留阻。須用砭法。砭去惡血。一切沉寒痼冷之久病痞積。以及潰瘍虛寒。年久不斂。肌肉黑陷者。非用灸法。不能回春。腫瘍疼痛癥瘕等病。俱宜薄貼。但症有陰陽。而藥分寒熱耳。如歷節痛風筋骨疼痛。須用熏蒸以提其毒。是以病分肌表營衛經絡筋骨氣血臟腑上中下之部署。而治法則各有所主。先聖立法。一定不易。後世醫者。不能通曉。每以方劑通治百病。治之不愈。延為終身之疾者多矣。故為醫者必當深考古法博覽群書。然後能操縱在手。運用如神也。</p>

<h2>補藥不宜輕服論</h2>
<p>內經四氣調神為攝生之本。五穀為養。五菜為充。五果為助。五畜為益。飲食有節。不可過也。過食即有偏勝之患。是故多食鹹則脈凝泣而色變。多食苦則皮槁而毛落。多食辛則筋急而爪枯。多食酸則肉胝䐢而唇揭。多食甘則骨痛而發落。此五味之所傷也。而人之所賴以生者谷也。萬物之性。中正和平者。亦莫如谷。故人雖百年而不厭其常食也。上古治病之法。病去則調養以穀味。未嘗病後而峻補之者。張仲景為立方之祖。觀傷寒論及金匱二書。其方皆是治病。補劑之方甚少。後賢惟張子和得之。病去則教人以糜粥調養。與內經之旨不相違悖。而補方之盛行者。則始於張景岳、趙養葵。動輒參耆歸地。而薜立齋宗之。後世徒震其名。以為信然。效之者誤人無算。觀其治案中。無不以補中益氣。逍遙散、歸脾湯三方。通治百病。其餘採用之方甚少。即此便可知矣。蓋風寒暑濕四時之氣。其中於人也。則曰邪氣。人在氣交之中。其能免乎。而風則傷衛。寒則傷營。暑則傷氣。濕則傷人皮肉筋骨。內傷於脾胃。是四氣之傷人也。在表則惡寒發熱。在裡則四肢困倦。類乎內傷之虛象。即燈結煤而暗之義。前已詳論之矣。若外邪正盛。或病初愈而邪未盡。誤投補劑。必至邪與正為互。如油入面。莫能去之。致成終身之疾。可慨也。識者鑑及於此。是以有不服藥為中醫之說。寧使五穀調養。既可省費。亦無弊竇也。</p>

<h2>德以治身藥以治病論</h2>
<p>有客論曰。人生之得失。必關乎時運之順逆。古來英雄。其運未至。饔飧尚屬不繼。及其至也。則為將為相。別具一番經天緯地大手段。何其前後相去如天淵也。余曰。此理甚明。客請詳之。余曰。汝曷觀四時之序乎。百卉秋則凋零。冬則枯落。春信一至。齊開競放。至夏則又盛長矣。此即得時失時之徵也。況人與天地參。尤為萬物之靈。日星河嶽。其來有自。榮辱屈伸豈盡人事。有天運。有氣運。有在人之五運。天運關乎時數。氣運系乎國家。在人之五運。則主人之一身。亦名經氣。晝夜運行。出入應乎時刻。可定病之進退。傷寒論云。太陽病欲解。從午至未上。又云病發於陽者夜半愈。發於陰者明日日中愈。又云傷寒六日。六經已周。七日當解。是藥之治病也。不過隨其偏而調之。亦待經盡而始愈也。曰。然則五運之盛衰。可用藥以調之。如運之失時。則何法以治之耶。余曰。安得無法。病以藥勝。運以德勝。曰。雖然。不如藥之速乎。余曰。德較藥而有速曰。何所見耶。余曰。昔有一貴人。馬上揚鞭而過。一相士視之。見其印堂黑暗。法當暴卒。且主惡死。去至半路。見礙石當道。必害人。乃下馬去石而返。則相士復見之。面上已轉紅潤。非但不死。且主富貴。相士拉馬驚問其過。曰。適見君去。色現黑暗。必主暴卒惡死。君今返駕。不但不死。且主富貴矣。不有大德。焉能挽天心於頃刻哉。乃告以故。曰。此即救人以自救也。其餘如孫叔敖之埋蛇。裴晉公之還帶。皆能轉禍為福。履險如夷。古書所載。斑斑可考。豈非較藥而更速乎。客遂唯唯而去。</p>

<h2>辨術者太素脈論</h2>
<p>愚往歲僑寓紫陽山時。有以太素脈能驗人之富貴貧賤壽夭。來將一月。就診者概弗納焉。細詰其故。則曰擇吉開張。其實託人。密向城內訪雇隨丁。打聽其素在紳宦之家。往來而熟悉者。雖辛工稍昂。不與計較。其術已可知矣。診費重。奔走踵相接也。今曰弗合。則囑其明日來。明日弗合。則囑其教日來。後來終必無不合者。人皆稱其奇中。迷惑而墮其術中。不數月所獲不下千餘金。愚謂太素脈內經不載。即有其事。不過按脈而約略計之。如氣緩脈長。必壽之徵。氣急脈薄必夭之徵。清而有神。則知其貴。濁而無神。則知其賤。斷不能預決其何年何月得失禍福也。愚在杭閱人多矣。薦紳先生。輒蒙不棄。華貴如朱敏生侍郎。丁松生太守。皆得六陰脈。清要如金苕臣。桑春元二觀察。李梅生詞林。壽考如趙忠甫封翁。陸點青汪良甫諸前輩。皆六陽脈。惟陸點翁六陰脈耳。大都肥盛者多六陰、清癯者多六陽。今春二月。同善堂董事邀診。適應敏齋方伯在座。乘便診脈。愚素不識面。按而起曰。此必富厚福澤人也。旁觀駭然。疑余何以知之。是亦六陰坤厚之脈耳。敏翁不覺大笑。至術者以富貴貧賤壽夭。決其年月。而有前知之明。則非余所敢悉也。徐靈胎謂其必別有術。余以其術亦必若是已矣。</p>
<p>自世相傳有太素脈之說。亦惟於清濁緩急。有神無神。辨其窮達壽夭而已。術者附會穿鑿。竊茲名目。相天下士。欺弄詭譎。舉國若狂。心禪以冷眼覷破之。又能將其心計。曲曲如繪。筆墨之妙。迥非凡手所及。（淞樵評）</p>

<h2>脈有可憑不可憑論</h2>
<p>四診之法。惟脈最難。然亦惟脈為最可憑也。務必究明夫人迎氣口。而求四經十二從。以通貫乎十二原。以達夫三百六十五氣穴。三百六十五孫絡。則凡經所謂肝脈弦。心脈鉤。脾脈代。肺脈毛。腎脈石。與夫四時之春弦夏鉤秋毛冬營者。庶乎其得之矣。或曰如君言。若生若死。指下可立決也。余曰。是何難歟。沉微為裡寒。浮數為表熱。芤脈為失血。真藏為不治。皆確可憑信者也。客又曰。庸手俗術。固無論矣。至有當代稱為名宿而邀求者。履滿戶外。往往不能決生死於數日之間。脈豈有時不足憑耶。余曰。此又不然。譬如虛勞久病。脈本弦數無神。乃一旦迴光返照。俗謂還陽。脈象反有起色、其實乃燈盡復明之徵。倘前此一手診治。豈有不知之理。此古人所以必再參之於望聞問也。至於痛極而厥。脈細且沉。傷寒戰汗。肢冷脈伏。室女經閉成乾血勞。類乎胎脈。怪憑邪祟。脈必屢更。又有素常之脈。別有一體。陰脈反陽。陽脈反陰。苟非悉其素體。雖十全上工。亦不得初診而即知也。大抵應病之脈。按之即知。不應病之脈。又必詳晰體認。不可失之毫釐也。或以余言為然耶否耶。</p>

<h2>答何勉亭孝廉書附論令正血蠱痰喘危症因由</h2>
<p>衲檮昧斟識。於醫道略涉崖本。無一長可恃。乃謬荷諸大人先生。格外垂青。殷殷諮詢。衲惟殫竭底蘊。聊效土壤細流之助去爾。蓋平日既不能於黃帝岐伯諸書。窺見隱奧。使臨症仍復苟且從事。是輒以人之身命為兒戲。匪特負人。實以負己。衲自祝髮後。心懷悲憫。斷不敢草草塞責。每遇奇難病症。百計圖維。夜以繼日。必細繹其所以受病之故。與夫臟腑之虛實。脈理之平逆。服何藥而相宜。服何藥而不合。一一詳悉。始敢斟酌方劑。今尊壺玉體違和。荏苒三載。痰壅於上。血蠱於下。根深蒂固。藥非瞑眩。恐難奏功。今據實條辨以聞。</p>
<p>凡人之一身。吸食水穀之精華。臟腑受之以生氣血通十二經脈。達乎毛竅。運用於四肢百骸。而各有所主心焉皇極居中。肺如華蓋。其位最高。肺之葉下有竅。以受諸臟之氣。心之下。左有肝。右有肺。為一升一降之道路。而所以司此升降者。權又操於脾腎。故人以腎為先天之根。胃納水穀。五臟六腑。皆稟氣於胃。故又以胃為後天之本。水穀入胃。得脾陽之蒸動。清者為津液。濁者為糞溺。其氣化而上升。先至於肺。下乃灌注奉心化赤而為血。復由胃之大絡通於衝任。衝任實為血海。而其脈又肝之所主。故云肝主藏血。究竟藏血並不在肝。而在衝任二脈也。男子之血。運行於周身。女子之血。停貯於衝任。其血一月而一下。不愆其期。名為月信。至生產之後。胃中所升之津液不復化血。而歸衝任。即於胃之大絡通於兩乳。是以乳婦月信不來。其義甚明。現按尊夫人之病。始於風溫發疹夫風溫之邪。首先犯肺。由肺而傳於胃。發疹由於風邪內郁。肺胃熱盛。傷其血分。血熱於肌膚。則為疹。血熱內溢。則為衄。此所以先發疹而後吐血也。發疹吐血。本無二致疹發未透。邪熱蘊結於中。則吐血。肝胃有熱。津液得火煎煉。則又生痰。故氣升而痰亦升。氣即火也。火與元氣不兩立。邪火進一分。正氣即退一分。迨邪火充斥。正氣日就衰耗。全身經絡無處非痰。直與血氣混而為一。所以上則氣急痰壅。下則血蠱脹滿耳。或者謂邪火既極盛如此。火能化物。理應易飢。何以不能食。經云。邪熱不殺穀。病當不能食而脹滿也。且此病數更寒暑。脈象甚虛。聲音已啞。而面目神氣。宛如盛怒。謂非痰火充塞。痰脈類虛之明徵耶。何子翁所定之方。醕乎其醕。原無可議。但根本已傷。諸邪蟠據。譬諸治軍者。賊蹤蔓延山野。孤城失援。危如累卵。四向糧餉。無所接濟。而猶日坐堂皇。與士卒等講求大學三章。理雖甚正。其如勢所不及何。可知此症痰氣塞滿經絡。血蠱腹脹。其由來者漸。必非一朝一夕之故。使不有斬關奪隘之大將。多領精銳而能操必勝之權。以凱旋者。吾不信也。考之古人治痰成法。多用攻下鄙意藥中擬用巴豆未知有當萬一否並請高明裁奪。</p>
<p>心禪與當代士大夫。往來手扎甚多。予概不採錄。惟此書論病論脈。體會入細。實與內經相發明。洵足津逮後學。謂之痰壅血蠱治案誰曰不宜。（淞樵評）</p>
<p>徐淞樵曰。統觀諸作。大有根柢之學。故能元元本本。傾笥而出。其知病也由於博涉。其識脈也由於多診。其達藥也由於屢用。是以論痰不拘拘於喻氏痰飲。獨出機杼。自我作古。論痢主通不主澀。挽瀾既倒。砥柱中流。至論推摩、針灸。熏蒸、薄貼各法。又皆出自心得。因時制宜。不落前人窠臼。予於虎林僧廬。與之合併數月。其指下活人多矣。且性甚謙和。虛懷若谷。日有診治。歸必質正於予。賞奇析疑。相得甚歡。臨行不勝悵悒。因乞詩留別。率成長句二律。以志雪泥鴻爪之印云爾。</p>
<p>有僧把臂最相宜。況是清譚玉屑時。南海林泉君久住。西湖風月我深知。竺干學淺慚留髮。靈素功多易察眉。更喜能傳元化術。金針要度世人述。</p>
<p>心燈炯炯洛伽懸。普照群迷世大千。學道只今隨意試。逃禪自古藉醫傳。姓名不落徐王后。謦咳應通孔孟前。老我此肱慚未折。校讎卻為疲丹鉛。</p>

<h1>卷中醫案</h1>

<h2>鄭姓子哮吼症治驗</h2>
<p>寧人鄭姓子。甫七歲。患哮吼症。脈形俱實。結喉兩旁。青筋突起如筆管。喉中作牛馬聲。此係果餌雜進。痰濁壅塞。始用蘇子降氣湯加減。服六七劑。不效。余思病重藥輕。遂以蘇梗八錢。易本方之蘇子。余藥分量加重。連服三劑。青筋隱而不露。脈亦和軟。鳴聲不作矣。凡治病。雖用藥不誤。而分量不足。藥不及病。往往不效。</p>

<h2>陳姓婦虛喘暴脫症治驗</h2>
<p>定海陳姓婦。年四十許。患氣喘倚息不得臥。延余診之。面色光亮。兩顴發赤。舌上無胎。其脈浮部空大。沉部細如蛛絲。尋之若失。余出謂其女曰。此症甚危。決不能治。因再三求方。遂勉寫醫案曰。陰虛於下。格陽於上。面色戴陽。脈象無根。真元將絕。若大汗一出。頃刻陰陽脫離矣。姑擬二加龍骨湯。婉辭而去。他醫輒謂不妨。進旋覆代赭湯。下咽即斃。</p>

<h2>虛喘治驗</h2>
<p>廣東鹽大使汪公。回杭途次。偶感微邪。又加忿怒。遂致喘逆倚息不臥。余因治桑觀察之症。乘便召診。其息甚促。音不接續。面色黧黑。中有油光。脈浮部豁大。中部空芤。沉部細弱。不相聯貫。余曰。此症邪少虛多。勿誤用表散。進二加龍牡湯二劑而安。</p>

<h2>陳信良肺虛喘咳治驗</h2>
<p>寧波蓬萊宮羽士陳信良。患虛喘。咳逆無痰。動喘乏力。脈虛自汗。症屬肺脾兩虛。與西洋參、冬蟲夏草、川貝、青鹽陳皮、阿膠、當歸、杞子、枇杷葉、蒺藜、牡蠣等。土金相生。服二十餘劑而愈。</p>

<h2>尹季藩風熱咳喘治驗</h2>
<p>尹季藩素好豪飲。癸未春患風溫咳嗽。氣喘。微有寒熱。脈浮而數。此溫邪犯肺。肺失清肅之令。與連翹、杏仁、牛蒡子、條芩、桔梗、枳殼、竹茹、羚羊角等。一劑而愈。</p>

<h2>寒邪挾飲喘咳治驗</h2>
<p>郭姓年四十許。素有痰飲。每值嚴寒。病必舉發。喘咳不臥。十餘年來。大為所苦。甲申冬。因感寒而病復作。背上覺冷者如掌大。喉間作水雞聲。寸口脈浮而緊。與小青龍湯。二劑即安。至冬乃灸肺俞大椎中脘等穴。以後不復發矣。凡飲邪深伏臟腑之俞。逢病發作。用灸法必能除根。惜人多不信。致延終身之疾。可慨也。</p>

<h2>馬姓婦暑熱氣喘治驗</h2>
<p>馬姓婦。夏月患氣喘嘔吐。頭汗如雨。粒食不進。已二日矣。乃邀余診。其脈大而數。舌苔微白。中心黃而四旁帶赤。余曰此暑邪充斥肺胃氣失肅降成喘乃以葶藶子知母南花粉枇杷葉碧玉散川連一劑而愈。</p>

<h2>虛傷風治驗</h2>
<p>郭紹翁年四十許。經營米業。勞頓實甚。癸酉秋。患傷風咳嗽。就診於余。脈浮部虛大。寸口澀小。自汗淋漓。余曰。傷風症也。但脈象極虛。寸口脈應大反小。是內傷而微有外感。若服發散之藥。汗必漏而不止。虛陽浮越矣。法宜補益。與玉屏風散二劑而瘳。</p>

<h2>元虛受暑治驗</h2>
<p>馮某年四十許。素質本虛。更患暑邪。脈極虛大而數。近人至。舌絳目赤。面色戴陽。頭汗淋漓。目直視而昏。余曰。病原暑邪未透。但真元虛極。醫甚棘手。當先固其元。急用四逆加人參湯。益以龍骨、牡蠣。佐以膽汁、童溺。用地漿水一杯為引。濃煎候冷。徐徐投之。服下一時許。口斂神定。目能轉動。但大渴舌燥。暑象畢呈。令食西瓜。神氣頓覺清。爽。次日再診。脈象稍斂。有根而數。減去一至。為立竹葉石膏湯。服二劑。身能起而口能言。但覺困倦少食。此由胃津已耗。餘燼未熄之故。乃以沙參、麥冬、石斛、知母、生甘草、銀花、生扁豆、等滋養肺胃。而清餘熱。數劑即安。徐洄溪慣用此法。用之頗不易也。蓋此症象白虎。開手即用白虎。用則必死。何以辨之。全在脈之虛實而已。</p>

<h2>翁姓子暑毒發頤治驗</h2>
<p>定海東山下翁姓子。年十二。丙戌夏患暑熱病。內挾穢濁。身熱如熾。十餘日不解。乃邀余診。脈極洪大。面色老黃。唇焦舌黑。舌本短縮。牙根舌心。鮮血盈口。渴飲不止。兩目直視。不能出聲。閱前方系正氣散。余曰。症已至此。何能為也。病家再三請方。余思木被火焚。杯水車薪。終歸無益。乃擬大劑辛甘鹹寒之法。於是以西瓜汁、蘆根汁、金汁水、銀花露、蔗漿、藕汁、各一茶鍾。合置一甑。方用生石膏二兩。連翹五錢。鮮竹葉一握。黑山梔四錢。細生地一兩。犀角一錢。磨汁。羚羊角三錢。西洋參。鮮石斛。丹皮。各三錢。滑石四錢。囑其用大罐煎成。去渣。和入諸汁。候冷恣飲。如再口渴。西瓜任食可也。第一日服藥盡。又啖西瓜一枚。次日復診。脈症如故。仍用前法。石膏再加一兩。第三日再診。熱仍未退。津液略見濡潤。而在旁之頤發赤。腫大如卵而痛甚。余曰。暑毒之邪。結聚於此。內恐爛穿。敷藥無濟。仍用前法。石膏又加一兩。至四兩。又加元參、麥冬、生地。至五劑而熱方退。更下黑矢數枚。諸恙盡解。胃亦漸動。此症轉危為安。全賴病家之堅信不搖。而余得以一盡其技。否則難矣。</p>

<h2>張義乾濕溫陽明實結食復再愈治驗</h2>
<p>寧波張義乾。秋間患濕熱症。發熱十餘日不解。大肉脫盡肌膚甲錯。右腳不能伸動。小腹右旁。突起一塊。大如拳。倍極疼痛。大便已十四五日不解。延醫治之。皆謂腸內生癰。伊親胡寶翁乃商治於余。余謂腸癰脹急。金匱以敗。漿散主治。今此草罕有。伊於第三日覓得。乃問余服法。余曰果爾。須同去診視。瞑眩之藥。豈堪懸擬因同至張家。見張倚於床褥。張目搖頭。病苦萬狀。面色青慘而枯。脈極堅實。沉部如彈石。尺愈有力。時或一快。余曰。此非腸癰也。腸癰脈洪數。為膿已成。脈弦緊為膿未成。今浮部不洪數。而沉部實大。腹筋突起。目有赤縷。乃濕熱之邪。結於陽明。腹旁之塊。乃燥矢之積聚也。但得大便一通。塊即消散。而腹亦不痛矣。病者問之曰。曾與前醫商論下法。醫云人已虛極。豈可妄下。余思脹痛不下。病何由除。今先生為我用下法。死且不怨。余遂書大承氣方。大黃五錢。芒硝三錢。旁視者惶徨未決。余曰。不下必死。下之或可望生。於是煎成置於几上。病人力疾起坐。一飲而盡。不逾時腹中大響。旋覆登廁。先下結糞如彈丸者三四枚。既而溏瀉半桶。塊消。明日腳伸而脹痛俱失。繼進增液湯二劑。而熱先退。再與益胃湯法。胃納漸旺。津液漸濡。余便上郡。病者欲食羊肉。以問近地之醫士云。病後胃氣當復。羊肉最能補胃。由是病者坦然無疑。恣意飽餐。次日身不發熱。舌苔又厚濁。而脈又數。復來召余。余曰。濕熱症初愈。以慎口味為第一要務。何如是濛濛耶。乃與平胃散加神麯、焦查、穀芽。而分量遞減。以胃氣久虛。不任消耗之故也果服二劑而安。按是症初則失於清解。至熱已日久。津液枯涸。胃土燥烈。而猶日服運氣之藥。愈益其燥。迨至結糞成塊。腹旁突起。筋脈不能濡潤。而腳攣急。醫又誤認為縮腳腸癰。或誤投以敗漿散。攻伐無功之血分。又將何如耶。士君子涉獵醫書。大忌懸擬開方。藥不對症。生死反掌。可不慎哉。</p>

<h2>張姓婦產後暑熱症不服涼藥致死之由</h2>
<p>張姓婦。盛夏生產半月。患暑熱症。口渴目赤。頭面身體。暑瘍櫛比。幾無孔隙。召余診之。脈一息七八至。浮沉皆洪滑。為立竹葉石膏湯。婦翁村學究也。執產後宜溫之說。見余。方用石膏一兩。以為孟浪。余知其意。以金匱用竹皮大丸之法。曲為詳解。並以石膏質重而氣清。最能清熱。乃彼格不能入。另延他醫。迎合疏方。三日而畢命。聞死後有鮮血從口鼻出。不終朝而皮肉腐矣。</p>

<h2>周子章室人濕溫類瘧治驗</h2>
<p>寧波石碶周子章先生室人吳氏。仲秋患濕熱症。遷延月餘。每日晡時必先微寒。旋即發熱。至天明而熱始退。胸悶不食。前醫固執小柴胡湯出入加減。愈治愈劇。乃延余診。診畢告曰。瘧脈自弦。今脈不弦而濡小。其為脾胃虛弱濕邪阻遏募原。而發此潮熱。當從太陰陽明兩經主治。且令閫體肥痰盛之質。外盛中空。中者陰所守也。中虛即是陰虛。是以治法又與尋常濕熱不同。若用風藥勝濕。虛火易於上僭。淡滲利水。陰津易於脫亡。專於燥濕。必致真陰耗竭。純用滋陰。反助痰濕上壅。必須潤燥合宜。剛柔相濟。始克有效。乃以沙參、石斛、麥冬、芡實、牡蠣、仙半夏、竹茹、陳皮、薏仁、黃芩、等調理數劑。潮熱除而胃漸開。余因上郡。彼就鄰近之醫治之。方中仍用柴胡。服一劑而寒熱又作。復來邀余。仍仿前法。以桑葉、川貝、苓、澤、穀芽等。互相出入調理而愈。葉天士云。柴胡動肝陰。非正瘧不可用之觀此益信。</p>

<h2>樂姓女受暑嘔逆胸腹脹痛治驗</h2>
<p>寧郡樂姓女。年方及笄。夏秋之交。患腹脹痛。瞀悶嘔逆。水穀不入。肢冷汗出。身熱口渴。脈之浮部洪數。沉部弦勁。是為暑穢之邪。從口鼻吸受。直趨中道。入於募原。挾少陽膽火而上衝。故胸腹痛而嘔逆也。方用荸薺、藕汁、西瓜汁、萊菔汁、各一杯。磨鬱金、枳實、木香、檳榔各五分。投七而瘳。</p>

<h2>吳姓女暑閉卒厥治驗</h2>
<p>武林吳子翁女。陸點翁孫媳也。丁亥冬患伏暑症。卒然厥逆。目瞪神昏。點翁急柬召余。余往診之。脈沉數有力。確係暑邪內閉。以夜分不能用針。急刺十指出血。及曲池。人中。方用石菖蒲、鬱金、竹瀝、石膏、藿香、檳榔等。先調紫雪丹八分。次早復診。症復如前。乃用針從印堂刺入。沿皮透兩率谷。開目知痛。余即告以無妨。凡治卒厥。及小兒急驚風症。全視此穴。針入得氣。與不得氣。以及頂門入針之知痛與否。決其生死。如印堂針入無氣。針下空虛。如插豆腐。及頂門針入不知痛苦。雖華扁亦難再生。此症針畢。即能開言。而方則仍主芳香利竅通神之品。數劑即愈。</p>

<h2>某嫗濕邪內蘊悶嘔便閉治驗</h2>
<p>某嫗年五十許。從石門抵杭。時當仲秋。途次勞頓。感受風露。微有寒熱。胸悶嘔惡。大便秘結。脹痛不食。乃陽明濕鬱化火。津液不能濡布。腸胃傳導失職。治以宣化通府。方用桔梗、杏仁、黃芩、藿香、鬱金、蔻殼、山梔、生枳實、元明粉、加白蜜。一劑而諸恙皆愈。</p>

<h2>顧小兒暑穢積食泄瀉治驗</h2>
<p>顧姓七月嬰孩。患暑穢食積。泄瀉身熱。用鮮藿香、鮮荷葉、西洋參、木香、川連、條芩、穀芽、花粉、雞內金、澤瀉。益元散、五穀蟲等出入為方。調理而愈。凡夏秋之間、小兒之患泄瀉者甚多、由於暑穢食積者十居七八。余悉主是法。莫不應手取效。如脾虛而傷於生冷瓜果者。則又不當以此為例也。</p>

<h2>陳姓小兒泄瀉慢脾危而復安治驗</h2>
<p>武林吉祥巷陳維和四歲小兒。仲秋患泄瀉。已近一月。粒米不進。蓋五六日矣。腹痛口渴。泄瀉無度。身熱咳嗽。將成慢脾暑瘵。病已垂危。乃召余診。方用清暑化積之品。以鮮荷葉、鮮蘆根、黃連、黃芩、木香汁、甘草、橘紅、萊菔子、雞內金、車前子、益元散等。服兩劑而諸症大減。一日僅瀉兩三次。胃得安穀。嬉笑遂爾如常。惟食後猶患完穀不化。遂改用通補脾胃之方。如西洋參、荷葉蒂、茯苓、焦甘草、橘皮、木香、冬朮、炒扁豆、石斛、穀芽、澤瀉、五穀蟲等。養胃陰而升脾陽。調理數劑。諸症悉愈。越數日又重感暑邪。泄瀉復作。身復發熱。咳嗽氣促。乃專清暑邪。以荷葉、蘆根、扁豆花、香連、穀芽、澤瀉、益元散、綠豆皮等。調理數劑即愈。</p>

<h2>某暑熱泄瀉危症治驗</h2>
<p>定海西門外某。從滬上來。感受暑邪。熱毒蘊結。身熱如熾。大渴引飲。脈象洪數實大。舌苔黃厚濁膩。泄瀉日百餘次。粒米不進。症已垂危。就診於余。余謂暑熱毒邪。結於陽明。幸而大瀉。邪有出路。不然腸腐胃爛。早已死矣。症雖危而無妨。但不可用止截之藥。乃遵喻氏通因通用之法。方用黃連五錢。黃芩四錢。生甘草三錢。銀花五錢、鮮竹葉一握。鮮荷葉一片。生大黃五錢。元明粉三錢。花粉四錢。作地漿水煎服。一劑而瀉大減。次日僅瀉數次。熱勢亦緩。再進原方。減去大黃、元明粉。如此危症。止兩劑而熱退瀉止。後以糜粥自養。不勞余藥而瘳。</p>

<h2>暑熱症誤服溫燥藥致劇治驗</h2>
<p>寧波提標湖南弁勇。患暑熱症。初微惡寒。旋即發熱。彼地醫士。喜用溫藥。以桂枝、吳萸、蒼朮、厚朴等燥熱之藥服之。身熱如熾。口大渴。喜飲涼水。小便涓滴俱無。邀余診之。脈洪大而數。曰。此暑熱症。誤服溫燥之所致也。乃用白虎湯加蘆根、花粉、麥冬、銀花、鮮石斛、鮮竹葉、金汁水、滑石。大劑煎成。候冷飲之。一劑即瘥。次日扶行至寓。診之熱勢甚微。小便已通。脈象已和。口舌濡潤。諸恙均瘥。乃照前方增減之。去金汁、知母、鮮斛。加西洋參、荷葉、川斛。服兩劑而愈。蓋省分雖分南北。而六淫之邪。感人則一。總須審體質之強弱。辨脈症之寒熱。不可固執成見以施治耳。</p>

<h2>詳論俞姓咳嗽誤治致劇原因</h2>
<p>武林豐樂橋華光巷俞姓者。年五十餘。患濕邪內蘊。初冬微感風寒。咳嗽氣逆。延湖南醫士治之。重用麻黃、乾薑、石膏三味。連服六七劑。而腹脹甚。改用商陸、甘遂。大戟、牽牛硬下。初服似稍寬快。久之其脹愈甚。至新正乃邀余診。脈已離根。面色灰滯。氣逆音啞。所吐之痰。狀如腐肉。小便點滴不通。化原已絕。一誤再誤。無藥挽救。真所謂殺人不以刃也。按是症初起。本屬小恙。投以杏蘇散一二劑。便可奏效。乃用辛溫重藥。以致風寒濕之邪。內外湊合。結於太陰陽明之分。而為䐜脹。病本非水。而硬下之。使水道反閉。而小便不通。危迫至此。雖神聖亦無所施其技也。徐靈胎云。不死於病。而死於醫。非斯之謂而誰謂耶。噫。</p>

<h2>霍亂症治驗八條</h2>
<p>丙戌秋。定海霍亂盛行。有用雷公散納臍灸者。百有一活。鮑姓婦年三十許。亦患是症。瀉五六次。即目眶陷而大肉脫。大渴索飲。頻飲頻吐。煩躁反覆。肢厥脈伏。舌苔微白而燥。舌尖有小紅點。余曰。此暑穢之邪。伏於募原。乃霍亂之熱者。勿誤作寒治。而灸以雷公散等藥也。蓋暑穢之邪。從口鼻吸受。直趨中道。伏於募原。臟腑經絡皆為壅塞。故上下格拒。而上吐下瀉。如分兩截。此即誤。又可所云疫毒伏於募原也。夫募原乃人身之脂募。內近胃腑。外通經脈。熱毒之邪。壅塞於裡。則外之經絡血脈皆為凝塞。故肢冷脈伏。內真熱而外假寒也。當先用針按入法流注之刺法。以開其外之關竅。其頭面之印堂人中。手彎之曲池。腳彎之委中。及十指少商、商陽、中衝、少衝。皆刺出血。以宣泄其毒。服以芳香通神利竅之湯丸。方用黃連、黃芩、藿香、鬱金、石菖蒲、花粉、竹茹、陳皮、枳實、木瓜、木香汁、蠶矢等。調服紫雪丹。一劑而吐瀉止。肢和脈起。諸恙皆安。</p>
<p>又丁姓嫗患是症。脈濡數虛大。以藿香、芩、連、半夏、竹茹、木瓜、陳皮、薏苡、滑石為劑。此乃暑邪挾濕。而脈未伏。肢未厥。故治法略有區別耳。</p>
<p>又項姓子年十二。脈伏肢冷。舌白不渴。目直神昏。此內伏暑邪。外感寒涼。而本元又虛。若驟用芳香開達。必至元氣暴脫。乃參、附茯苓、白芍、藿香、冬朮。九制倭硫黃、木瓜等。先為扶脾固元。吐瀉果止。而肢溫脈起。次日舌旁及尖現紅點。目赤口渴。此元陽已復。外寒去而內熱乃現。改用知母、石膏、竹葉、花粉、木瓜、藿香、鬱金、陳皮、銀花、滑石等。服兩劑而脈象漸和。惟覺憊甚。而胃少納食。乃餘熱未清。胃絡不和。以輕清之劑清養胃陰。如西洋參、石斛、竹茹、荷葉、麥冬、茯苓、生扁豆、西瓜皮、烏梅、山梔、木瓜、綠豆衣等。出入為方。調理數劑而愈。</p>
<p>又一婦。舌苔灰滑。肢冷脈伏。面色青慘。口不渴飲。身亦安靜。此真太陰中寒。用附子理中湯。加藿香、半夏、陳皮。一劑而愈。</p>
<p>又一人。腹痛如絞。上吐下瀉。面目俱赤。舌苔老黃。舌尖赤而起刺。肢冷脈伏。煩躁如狂。飲不解渴。吐瀉之物。酸臭不可近。此暑穢之毒。深入於裡。仿涼膈散法加石膏、銀花。化其在裡之暑毒。一劑而吐瀉定。舌苔轉為鮮赤。略帶紫色。脈出洪大。此為熱轉血分。以竹葉石膏湯加細生地、丹皮、銀花、山梔一劑而愈。此等症不概見。必須審症明確。方可用之。一或稍誤。禍不旋踵。</p>
<p>又一婦轉筋四肢厥冷。筋抽則足肚堅硬。痛苦欲絕。診之浮中二部無脈。重按至骨。細如蛛絲。然其往來之勢。堅勁搏指。先以三稜針刺委中出血。血黑不流。用力擠之。血出甚少。再針崑崙、承山。針刺畢。腿筋覺鬆。再用食鹽艾絨炒熱。用布包裹。熨摩委中及足肚上下。方用三稜、莪朮、歸鬚、紅花、桃仁、殭蠶、山甲、地龍、牛膝、薏苡、木瓜。服下一時許。筋乃不抽。而吐瀉亦止。次日改用絲瓜絡、萊菔子、桃仁、竹茹、薏苡、滑石、蠶砂、木瓜、刺蒺藜、山梔皮等清暑濕而宣通脈絡。後以西洋參、麥冬、石斛、橘皮、竹茹、薏苡、絲瓜絡、茯苓等出入加減。調理旬余始痊。</p>
<p>又一農夫史姓。年四十許。偶入城患乾霍亂。腹痛如絞。不吐不瀉。倒地欲絕。四肢厥冷而脈伏。與立生二服不效。又急制獨勝散。用熱酒沖服。仍不效。唇面青慘。鼻尖寒冷。痛益劇。其勢甚危。不得已與外臺走馬湯。巴豆霜用五分。服下半時許。腹中大鳴而大便乃下。臭穢難聞。痛乃稍緩。扶至城內親戚家將息。次日竟能緩行歸家矣。</p>

<h2>霍亂絕症三條</h2>
<p>定邑狀元橋恆三油坊夥友。家在慈谿北鄉。相去三百餘里。舟楫往返。須三日。予因其肢厥脈伏。舌白苔厚。上如膩粉。目瞪神昏。面色黧黑。且多油汗。辭不與治。他醫以參、附、乾薑、倭硫黃、吳萸、朮、草、茯苓等治之。次日肢漸溫。目能動轉。群以為慶。余曰。此乃迴光返照。餘燼易滅。不如急令歸家為是。後果如余言。而歿於途。悲哉。西門將軍橋吳姓。年逾古稀。亦患是症。目瞪神昏。身強而牙關緊急。呼吸之氣。有出無入。舌苔光滑淡紅。中心青色。余曰。此內挾風邪。風痰阻竅。真元又虛。詢之果宿有風痹。亦辭不治。越二日而逝。又一臺州人。流寓在定之南門外。以挑泥度日。延余往診。舌苔如宿豬肝。面青神昏。脅痛煩躁。脈伏肢冷。亦辭不治。至日晡而死。此三症者。即內經所云大邪入臟。必卒死之候。錄此以見不治之疾。非人力所能為也。按是年霍亂甚廣。治不得法。朝發夕死。故俗有子午症之名。經余治愈者五十餘人。而死者僅此三人又皆不治之症。其餘如前鮑姓婦者最多。所以不概錄者。因彼此有同異耳。</p>

<h2>中風癱瘓治驗</h2>
<p>楊慎齋年四十許。素鳩酒。一日正午飲。忽杯落於地。家人急扶進床。急召余診。目合神昏。面赤如朱。牙關緊閉。鼻息如雷。痰涎上壅。脈洪大而數。急用針刺百會。及眉心。頰車。挖開牙關。連灌以至寶丹三粒。方用羚羊角、石菖蒲、膽南星、天竺黃、橘紅、鉤藤、桑葉、殭蠶、菊花、薄荷、鬱金、全蠍等。至酉刻而稍蘇。次日復診。脈仍數大。仿資壽解語湯例。服三劑而始能言。舌本仍硬。大便不通。脈仍洪大。以防風通聖散每服五錢。更加大黃三錢。百沸湯和服。一日三次。至次日而便通。二足痿軟無力。兩手關節皆痛。如歷節白虎風症。乃遵古法針、灸、熨、摩、熏、蒸、湯、丸、諸法並施。調理月餘始痊。</p>

<h2>丁世兄風熱喉癰治驗</h2>
<p>武林丁松翁三世兄。患風熱喉癰。初起覺微寒。旋即發熱。閱三日喉關之內小舌兩旁。如有物梗塞。至五六日膿成痛甚。始患喉內兩旁。雙發喉癰。先延他醫治之。處以辛涼疏風輕劑。至七八日乃召余診。脈之寸關二部浮數。兩尺虛軟無力。余謂症屬風熱上壅。須以清火解毒為主。幸前方無誤。脈象清爽。症雖危而可安。但勿求速效。走入歧路。致增跋涉耳。松翁深以為然。乃用羚羊角、石膏、知母、銀花、殭蠶、薄荷、竹茹、青黛、山梔等清化上焦之風熱。大便閉結。則用大黃、芩、連、元明粉等以通利之。吹以消腫解毒拔膿之藥。至二十餘日。膿腐未盡。人益困憊。舉家惶惑。乃用斑蝥等外治之藥。欲提其毒從外而出。余至急令揭去。用甘草湯洗淨。誠以腐膿已化斷無外提之理。徒使毒氣散漫。遷延難愈。至念餘日膿腐方盡。脈亦平靜。而腫痛依然。方信余言不謬也。乃用生甘草六錢。生綠豆一盞。煎湯再加化毒清火養陰之藥。次日腫痛果瘥。後以養胃安神之劑。出入加減。月餘始痊。</p>

<h2>詳論金姓喉症症脈相反終歸不治</h2>
<p>金姓子。年二十。患時毒喉痹。初起微寒。繼即壯熱神昏。兩手搐搦。至六七日。醫用普濟消毒飲法。不效。後聞丁姓喉症。為余治愈。來延余診。脈左右六部俱渾渾然。軟而無力。至數模糊。神識不清。喉痹腫連上齶。其色鮮赤。舌苔赤而起刺。余曰。此症甚危。恐難奏效。姑且按病施治。然或有變端。莫以余言之不預也。蓋脈本不治。閉脫之象已見。乃處大劑清火解毒之方。如犀角、羚羊角、連翹、山梔、石膏、銀花、鮮石斛、蘆根、金汁、人中黃、元參、丹皮、紫雪丹、至寶丹之類。出入更易。服二劑而熱瘥。神識稍清。痙厥不作。群以為慶。脈仍躁動模糊。兩尺虛軟。余曰。外象雖瘥。脈無轉機。慮有變端。須得熱淨神清。脈象安靜。至數清楚。雖膚冷困憊。不足憂也。仍照前法互相出入。次日果復壯熱神昏。胸間發出白㾦數點。余曰。白㾦發而未透。汗出而熱不衰。其為危候明矣。辭以不治。病家力懇疏方。余見其堅信不疑。只得勉盡人力。前方分量加重。至第十三日白㾦渾身發出。舌燥唇焦。齒縫出血。面目俱赤。煩躁狂越。汗出如浴。熱愈熾。脈洪大而數。余曰。生死之機。只在今晚。倘得熱退。便得生機。若仍如是。恐華扁亦難挽回矣。次日熱復不退。牙關緊急。至第七日而歿。或問余曰。此症始見尚輕。何君便言死候。丁姓之症。已經危險。何君力言無妨。余曰。見之於脈耳、外症雖險。而脈尚順。可保無虞。外症雖輕。而脈已逆。終歸不治。如丁姓之症。風火上壅。其脈浮數。浮則為風。數則為火。症脈相應。至數並分明也。此症亦屬風火。寸口之脈。不鼓至數。渾渾不清。兩尺虛軟無力。是少陰之精血內虛。風熱之邪從口鼻吸受。伏於募原。得少陽陽熱之化。三焦遊行之火。內外充斥。不能從募原達出。而成閉脫之症。況溫病多死下元虛弱之人。少陰不藏。精血內虛。肝陽素旺。痙厥立至。葉天士論溫熱甚詳。法本內經。經云。冬不藏精。春必病溫。溫病之脈。最忌渾渾模糊。內經云。渾渾革至如湧泉。病進而色敝。是病內經名曰陰陽交。素問評熱病論。帝曰有病溫汗出而輒復熱。而脈躁疾不為汗衰。狂言不能食。病名為何。岐伯曰。病名陰陽交。交者死也。人所以汗出者。皆生於穀。穀生於精。今邪氣交爭於骨肉而得汗者。是邪卻而精勝也精勝則當能食而不復熱復熱者邪氣也汗者精氣也今汗出而輒復熱者邪氣勝也不能食者精無俾也病而留者。其壽可立而傾也。且熱論曰。汗出而脈尚躁盛者死。今脈不與汗相應。此不勝其病也。其死明矣。狂言者。是失志。失志者死。今見三死。雖愈必死也。是內經有必死之文。其能治之以生乎。</p>

<h2>喉蛾治驗</h2>
<p>正紅旗滿洲人。年三十許。患喉蛾腫痛未破。三日湯水不能下咽。脈洪大而數。先刺兩曲池少商穴出血。喉間即覺寬鬆。吹以開關散。稀涎散。吐出膠痰碗許。食能下咽矣。方用皂角、牛蒡、殭蠶、貝母、白芷、薄荷、甘草、桔梗、馬勃、元參、青黛、山梔、條芩。投七而瘳。</p>

<h2>虛爛喉風治驗</h2>
<p>畢佐廷甲申。冬患傷風。誤服辛熱表藥。遂病咳嗽。纏綿不愈。至次年二三月。燥咳無痰。音啞色夭。喉中漸爛。色白不腫。至夏六月。不起床矣。方延余診。歷閱前方。寒熱溫燥雜投。脈象弦細而數。身發潮熱。面色時赤時白。余曰。病本可治。但誤於藥太甚耳。此症初起。本屬傷風小恙、誤服麻、桂、乾薑。大辛大熱之品。風火益熾。肺金受燥。至春令發升之際。少陽之木火上升。是以津枯音啞。而更助之以燥藥。則火土躁烈。夏令火旺而金益受制。治當金水兩滋。以助肺之化原。但須久服緩效。欲求速愈。則余謝不敏矣。方用二冬、石斛、桑葉、貝母、蜜炙紫菀、蜜炙款冬花、生地、龜板、青蒿、鱉甲、阿膠、山梔、丹皮、五味子、蒺藜等出入為方。服三十餘劑。方能起床。飲食漸進。聲音漸出。繼以十味地黃湯加減。又二十餘劑而爛孔漸平。後以人參養榮湯加阿膠、牡蠣、石斛、百合等。前後服百劑而始痊。</p>

<h2>結毒爛喉治驗</h2>
<p>寧波一妓。年三十餘。患黃瘡。外科始用升藥。瘡雖愈而毒聚於咽喉。腐潰綿延。小舌爛盡。通於鼻孔。服寒冷藥數百劑。以至面色㿠白。同於枯骨。聲啞膚寒。連唇舌俱呆白色。腹脹便溏。脈象沉細。虛軟縈縈如蛛絲。延余診之。余曰。寒涼過度。脾胃傷敗。陽氣消滅。將登鬼錄。先保命根。休議其病。遂用附、桂、茯苓、於朮。參、耆、薑、草等溫補之。服十餘劑。漸有起色。飲食腹脹便溏悉愈。乃以人參養榮湯朝吞五寶丹。以化其毒。吹以珠黃散。始終用溫補藥加化毒之品。至月餘而諸恙皆愈。爛孔平滿。但爛去小舌。不復生耳。</p>

<h2>傷寒太陽症用蒸法取汗治驗</h2>
<p>一柴客體本強壯。隻手能舉百鈞。冬月得傷寒太陽症。惡寒無汗。頭痛項強。毛孔痛如針刺。氣急脈緊。余用麻黃湯治之。一劑未汗。再劑又未汗。乃取彼舟中造飯缸灶。左右前後各置其一鍋。內盛水納以麻黃、羌、防等氣性雄烈發表之藥燒之。令滾。去其鍋蓋。再燒半時許。窗門皆令密閉。使病人口鼻皆受其氣。蒸之既久。始得汗出甚臭。病遂霍然。蓋其邪入既深。腠理固密。故湯藥不能發汗。必用蒸法始效。此古人之巧妙。非余之杜撰也。觀名醫類案及本事方釋義自知。</p>

<h2>劉姓子泄瀉危症治驗</h2>
<p>舟子劉某。年十四。風餐露宿。日以為常。夏秋之交。食少乏力。肌黃腹脹。其母以為虛也。與食桂圓數日。人益困憊。胃口愈閉。腹痛泄瀉。然猶勉力操舟。迨至泄瀉無度。魄門不禁。肢冷脈伏。目直神昏。始延余診。至則其母對余而泣。以為無生理也。余諦審之。舌苔白滑。口不渴飲。人不躁動。確係太陰寒濕。即慰之曰。病雖危險。尚屬可救。書附子理中湯與之。用生附子三錢。持方至藥鋪撮藥。而司櫃者。謂附子多則不過一錢。從未見生附可用三錢。囑其再來問余。余曰。我曾用六七錢而應手取效者。三錢尚是中劑。何云多也。嫌多不服。我亦不能相強。且必濃煎方效。其母以病極危篤。姑進一劑。以冀萬一。於是申刻服藥。至酉戌時腹中作響。漸能開言識人。至亥子時。復大瀉一次。腹覺暢甚。起居自如。知飢索食。進鍋巴湯半盂。次日問以病狀。囑其原方再服一劑。竟不瀉。亦不服藥。三日即能負物以行。群以為奇。不知古法轉危為安者甚多。何奇之有。然是症幸在鄉僻窮民。故能速愈。若在富貴之家。延醫多人。各執己見。反多阻隔。不能愈矣。</p>

<h2>某嫗血痢危症治驗</h2>
<p>定海東山甲下某嫗。前翁姓之鄰居也。年四十餘歲。患血痢日數十行。裡急後重。腹如絞痛。粒米不入者十餘日矣。身大熱。口大渴。症在垂危。呻吟欲絕。余因治翁姓子之症。乘便邀余診脈。兩關尺俱沉弦而數。按之摶指。余曰。症屬暑挾食積。遂與大劑黃連、黃芩、荊芥炭、銀花炭、檳榔、木香汁、醋製大黃、歸尾、紅曲、貫眾炭、地榆、槐花、白芷、焦山楂等一劑而病減半。乃去大黃。加甘草、再劑而十愈七八。腹亦不痛。稍能進食。復去檳榔、貫眾、白芷、槐花。而加西洋參、石斛、炒麥冬、鮮荷葉、辰砂、益元散。又三劑而全愈。其四歲孫亦患是症。但稍能食。與芍藥湯去桂。加荷葉、益元散、焦山楂、五穀蟲之類而愈。余治此三症。轉危為安。群以為神。其實不過按症施治耳。</p>

<h2>靜修庵尼濕熱痢治驗</h2>
<p>郭通圓靜修庵尼。秋季患痢如魚腦。腹與脅牽引而痛。氣時下墮。肛門腫痛。纏綿月餘。面黃肌瘦。裡急後重。脈象虛大。余曰。濕熱鬱蒸為痢。法宜透化。香燥耗液。反助火邪。與病不合。故不能愈。乃與大豆黃卷、鮮藿香、黃連、黃芩、防風、木香、佛手柑、蘿蔔子、茅朮、車前、薏苡、澤瀉、白芷、荷葉、青蒿腦、滑石等。服兩劑而病減半。乃去白芷、豆卷、茅朮。加石斛、茯苓。又四劑而病去其七八。後以調胃和中化濕之劑而愈。</p>

<h2>腸癰治驗</h2>
<p>又靜修庵一老尼。年五十許。患腹痛。自作痧治。刺刮不效。乃延余治。診之右關脈洪大搏指。餘部浮數。余問腹旁痛處。有無微腫。腳攣屈否。曰腹之右旁一塊。堅硬拒按。右足屈不能伸。余曰。此乃大腸生癰。非痧症也。彼大駭。余曰無妨。腸癰初起。醫治不誤。十可痊十。大忌外科開刀。腐腸穿膜。為不治耳。乃用銀花、當歸、大黃、桃仁、丹皮、乳香、沒藥、穿山甲、焦楂肉、蒲公英等。服兩劑而膿血從大便下。臭穢難聞。腫消腳伸。腹亦不痛。但續續下痢膿血。復排膿消毒之品。如銀花、生甘草、桃仁、歸芍、丹參、丹皮、薏苡、乳香、沒藥、白芷、貝母等數劑而愈。凡診脈如一部獨異。須當深究根源。痛處拒按。微腫。非損傷血瘀。定是內癰。須平日留心臨症。方能知之。</p>

<h2>陳鉻甫痿症治驗</h2>
<p>牛羊司巷陳鉻甫世兄。年十三。身長如二十餘。十二歲而陽已發動。是以骨力不堅。試觀草木易於榮長者。而枝幹必嬌嫩。其理一也。丁亥春患咳嗽痰多食少體倦。兩足痿弱。不能起立。目合則遺精。甚至日間心有所思。夜則夢寐不安。乃延余治。診脈左關弦數。右關虛大。兩寸兩尺。俱虛軟無力。余曰。症屬木強土虛。腎氣不堅。心火刑剋肺金。治當先保肺胃之陰。取土金相生之義。且胃為後天之本。土能生化萬物。經云。納穀者昌。待胃氣漸旺。然後可用血肉有情。同類相感。補精益血。病自漸愈。於是先用桑葉、沙參、釵斛、炒麥冬、枇杷葉、白蒺藜、仙半夏、橘紅、竹茹、穀芽、茯苓、茯神、紫菀、百合、毛燕屑、女貞子、蓮子、淮山、芡實等清淡之品。出入為方。服二三十劑。而痰漸少。胃氣開。乃用舒養筋脈。滋血和肝之藥、如歸芍、金櫻子、釵斛、山藥、山萸、續斷、杜仲、麥冬、西洋參、五味子、阿膠、沙苑蒺藜、參貝、陳皮、人乳蒸茯神、龍骨、牡蠣、芡實、丹參等又三十餘劑。遺精夢寐等皆愈。但足仍無力。後用血肉有情之品。收合成膏。如吳鞠通天根月窟膏法。每服五六錢。一日早晚兩次。至戊子春。步履如常。強壯逾於平昔。可見補益之藥。必久服乃效。</p>

<h2>李封翁痰火症治驗</h2>
<p>李荔翁年近花甲。宿患痰火。累年醫治。不能除根。去歲余用輕清之品。治之而愈。今春晚膳畢。正與諸孫嬉戲。忽覺右半身麻木不仁。少頃舌本連頭俱麻。急來召余診之。右三部脈俱洪大而數。左關尺脈勁滑利。余謂痰火上升。阻遏脈絡所致。先刺兩手曲池、少商、出血。方用羚羊角、桑葉、釣藤、橘紅、川貝、石菖蒲、鬱金、天竺黃、遠志、神砂、茯神、竹茹、竹瀝等一劑而愈。次日再診。脈平人安。乃用寧神和中略佐化痰。以善其後。乃郎今年北上。高捷翰苑。諸孫皆眉目清秀。俊雅能文。其厚福正方興而未艾也。</p>
<p>先甫與心禪交有年矣。每遇急症。延師診治。無不應手而愈。去秋感冒微寒。師一下指。即有疑難之色。予心知為不祥。至季冬時果遭大變。心禪師可謂神明其技。而予則永為無父之人矣。悲哉。（棘人李鵬飛泣血書於苫次。）</p>

<h2>桑觀察痰火上攻上實下虛治案</h2>
<p>金衢嚴桑觀察。過於勞頓。虛陽上冒。更挾痰火。上阻清空。下流足膝。年逾古稀。體質偏陽。頭暈腳弱。患此數年。退歸靜養。醫治罔效。召余治之脈浮滑數大。溢上魚際正脈法所云高章之脈也。余曰高年亢陽為患甚多。徐洄溪云。凡年高福厚之人。必有獨盛之處。症似不足。其實有餘也。夫頭面諸竅。乃清空之地。六陽經脈之所會聚。上竅皆奇。尤為陽中之陽。厥陰風火內旋。蒸騰津液。如雲霧之上升。清陽不利。則為眩暈。且痰之為物。隨氣升降。無處不到。氣有餘即是火。其衝於上也。則為眩暈。流於下也。則成痿痹。入於肢節。則如癱瘓。藏於胞絡。則為癇厥。陰不足而陽有餘。所謂上實下虛是也。治以清痰火為先。次熄肝風。終以養血潛陽。徐圖奏效。方用鮮橄欖數斤。敲碎煮汁。人乳蒸西洋參、川貝母。釵石斛、桑椹子、白蒺藜、麥冬、山梔皮、竹瀝。少佐薑汁同熬膏。入生礬末。每清晨用開水沖服三四錢。服之頗安。再診改用茯神、人乳蒸西洋參、石斛、山梔皮、桑椹子、蒺藜、生牡蠣、甜杏仁、川貝母、麥冬、石菖蒲、竹瀝、薑汁等。調理兩月。漸能步履。而頭暈終不能瘥。總須慎陰為是。</p>

<h2>高太太痰火喘逆治驗</h2>
<p>祖廟巷高太太。年三十餘。平素肝陽極旺。而質瘦弱。患痰火氣逆。每日吐痰一兩碗。喉間咯咯有聲。面赤煩躁。舌苔中心赤陷無苔。脈弦細虛數。乃感受風邪。少陽木火偏旺。風得火而愈橫。風火相扇。肺金受制。陽明所生之津液被火灼而成痰。旋去旋生。是以吐之不盡。痰吐多而腎液立傷。故內熱。素問云。大顴發赤者。其熱內連腎也。痰隨氣以升降。氣升痰亦升。治當用釜底抽薪法。先以清火降氣為主。火降氣降。而痰自瘥矣。方書治心肝之火以苦寒。治肺腎之火以鹹寒。古有成法。方用鹹苦寒降法、丹皮、山梔、青黛、竹茹、竹瀝、杏仁、黃連、黃芩、羚羊角、石決明、川貝母、旋覆花、海浮石。加指迷茯苓丸三錢。連服三劑。氣平熱退。痰喘俱瘥。安臥如常。後用清肺降火化痰之藥。如沙參、麥冬、石斛、竹茹、青黛、山梔、牡蠣、鱉甲、阿膠、川貝母、海石、茯苓、仙半夏、橘紅、首烏、雪羹等。出入為方。調理數劑而愈。</p>

<h2>陳姓子痰癇宿病治驗</h2>
<p>寧波西郊陳姓子年十七。患癇症三四載矣。初則數月病作。後乃漸近。甚至一日數發。口角流涎。乃求余治。脈右三部洪滑流利。左關弦而摶指。左寸上溢魚際。余謂症屬痰火充斥。上蒙胞絡。閉塞神明之府。故昏厥卒倒。不省人事。先以牛黃清心丸用竹瀝一杯。入生薑汁二三滴化服。復以鮮石菖蒲、鬱金、膽南星、羚羊角、桑葉、鉤藤、橘紅等宣絡道而清疏之。繼則用寧神安魂。佐以金石。堵其痰火復入之路。每清晨以橄欖膏入礬末少許。用開水沖服四錢。服月餘而病不復作矣。</p>

<h2>來某痰火症治驗</h2>
<p>蕭山來某。素病痰火。作時言語謇澀。手顫足疲。頻年醫治罔效。就診於余。脈洪大而滑。溢出寸口。大便常秘。而胃口頗旺。余曰。是痰火為患也。以羚羊角、石菖蒲、鬱金、竹瀝。少加薑汁、麥冬、遠志、石斛、黃連、竹茹、茯神、生地、川貝母等為劑。並令吞白金丸三錢。接服數日。脈斂音清。手亦不顫。諸恙遞減。乃去羚羊、竹瀝、黃連、白金丸。加牡蠣、西洋參、生棗仁、龜版、阿膠、杞子、白蒺藜、天王補心丸。調理數劑而愈。至次年新正。因縱酒而痰火又升。聲音又澀。又就余治。余曰。痰為易生之物。若舊症復發。仍用前方常服。當以西洋參、辰砂、茯神、麥冬、淮山、菊花、杞子、蒺藜、石斛、遠志、石菖蒲、橘紅、牡蠣、川貝母、龍骨、竹瀝為劑。青果膏入礬末少許。每早開水沖服四錢。惟酒宜少飲為妙。從此相安年餘。後因不戒酒。且食厚味。而病又作。勸其行倒倉法吐去其痰。以清胃府。復疑懼交集。致病終不脫體。</p>

<h2>氣血兩虛半身不遂治驗</h2>
<p>一徽州客。年五十許。忽一日右半身如癱瘓。臥床不能轉動。筋脈不拘急。亦無痛苦。召余診之。右脈沉細如絲。虛軟無力。左脈和緩無病。細審毫無風象。體肥肌豐。又非痰火。乃氣血兩虛。歸併一偏之病也。仿王清任補陰還陽五湯法。用黃耆四兩。當歸五錢。赤芍二錢。乾地龍、川芎各一錢。續斷、忍冬藤各三錢。紅花一錢。丹參三錢。服三劑。而右脈漸大。手足略能展動。八劑而起居如常矣。方信歸併之說為不謬。後以歸、芍、參、耆、苓、草、丹參、桂枝、木瓜、紅花、川芎、牛膝、續斷、狗脊等養血補氣。舒經活絡。囑其浸酒常服。</p>

<h2>沈某神虛癇病治驗</h2>
<p>山陰沈某年四十許。偶一煩勞。則癇病即發。神不自主。譫言妄語。不省人事。或語鬼狀。診之兩寸空大無倫。兩關弦緊。舌中心陷有裂紋。余謂病屬虛症。神不守舍。神虛則驚。非有鬼祟。神氣浮越。故妄見妄言。用桂枝龍牡湯加龍眼肉膏。囑其守服三十劑。服二十劑。而病已不復發矣。按此症與前陳姓案。乃一虛一實之對症。總須審症的確。指下分明。庶所投輒效。病症萬端。治不執一。要不外乎虛實寒熱四字。桂枝龍牡湯。有旋轉乾坤之妙用。非熟讀金匱者不知也。</p>

<h2>金彩眉百合病治驗</h2>
<p>定庠生金彩眉。其夫人丙戌秋病霍亂卒。渠亦患濕熱症。是年定海之霍亂。經余治愈者甚多。及彩眉之遇余也。則在仲冬時矣。蓋渠自秋間患濕溫之後。失於清解。留邪在絡。且喪偶悲鬱。再有煙癖。耗傷精血。煩躁不寐。目不交睫者匝月。日間坐臥不安。百感交集。欲食而不能食。欲臥而不能臥。飲食或宜或不宜。神識似癡。脈之空大。指下極亂。余曰。此正金匱所云百合病也。再兼痰上衝。遂與百合地黃湯。加清痰降火之藥。兩劑稍能寐。而神志仍似癡呆。乃專清其痰火。而加寧神定志之品。出入加減。至丁亥春始痊。</p>

<h2>趙忠翁頭風抽掣治驗</h2>
<p>趙忠翁。年近八旬。前任鎮海教諭。常患頭風。發則日夜無度。左頰上額及巔。經絡不時抽掣。自覺如放煙火沖狀。通夜不能寐。脈虛滑流利。有時弦勁而大。余謂風陽上擾。陽明少陽之火挾痰而逆衝於上。額旁及耳前後兩頰。現青絡甚多。法當盡刺出血。靈樞云。諸絡現者盡瀉之。乃刺兩頰及眉心出血。復針頰車、地倉、承漿、率谷、百合、迎香等穴。行六陰數。凡針四次。筋不抽掣矣。方用殭蠶、桑葉、麥冬、山梔、石斛、丹皮、竹茹、青黛、絲瓜絡、牡蠣、阿膠等品。養血和絡。調理數劑而安。次年立春後復發。但不如前之甚也。時值六出紛飛。不能用針。改用推法。以指代針。推後痛稍緩。雪消天霽。復針率谷、風府。方藥如前法。服數劑而又愈。以後每少發。投前方輒效。徐洄溪云。凡經絡之病。不用針而徒用藥。多不見效。其信然矣。</p>

<h2>又趙孫媳血虛頭痛治驗</h2>
<p>忠翁孫媳。亦患頭痛。囑余診之。其脈浮取頗大。而沉按無力。兩尺尤甚。左關略兼弦數。余曰。此屬肝血內虛。奇經失榮養之司。病雖在上。而根源實在於下。其所以頭痛者。督脈上循於巔頂也。藥須補下。即內經上病治下之法也。用四物加杞子、山藥、杜仲、續斷、蓯蓉、阿膠、鹿角霜、金櫻子、石斛、菊花等數劑而愈。此兩症亦一虛一實之對證也。</p>

<h1>卷下醫案</h1>

<h2>魏掾痰火上衝驚悸不寐治驗</h2>
<p>藩司掾魏某。患怔忡驚悸不寐。兩月有餘。施醫局友作虛症治。愈治愈劇。乃就余診。脈浮滑鼓指。目黃舌苔白膩余謂陽明不闔。痰火上衝。濕熱內蘊之候也。與半夏秫米湯。加橘皮、竹茹、川連、茯神、棗仁、山梔、杏仁、澤瀉、滑石、作甘瀾水煎。炊以葦薪。二劑能寐。而怔忡驚悸悉減。復以清痰降火化濕之劑。目黃漸退。胃亦漸旺。諸恙悉痊矣。患此症者甚多。若作虛治。是抱薪而救焚也。</p>

<h2>任佃夫血風治驗</h2>
<p>定海佃夫任姓。年四十餘。四肢手足心皆生白屑。如抽蕉剝繭。層出不窮。膚厚如牛領。裂縫中血流淋漓。膚熱如烙。癢甚必搔出血始已。患此數年。內外科皆不識其何病。丙戌夏就診於余。脈六部俱浮洪散指。余曰。此症重者即是大麻風。眉鼻柱肢節皆能脫落。吳越人患此絕少。惟嶺南感受毒瘴者有之。乃風濕之邪。從外入於肌膚。以致脈絡留而不去。轉入轉深。入於血分化熱。熱與風濕相搏。致成白屑。層層如曲糵之發斑。故脫之不盡。宜驅經絡之濕。清血分之熱。潤肌膚之燥。可望漸瘥矣。渠云。化濕之藥。已服百餘劑矣。一無所效。余曰。化濕乃通稱。而藥味配合。各有不同。是症濕在脈絡。若徒用滲利苦燥。以治臟腑。無益耳。方用銀花二兩。麥冬六錢。生甘草八錢。當歸八錢。殭蠶三錢。芥穗、防風、木瓜、威靈仙、黃芩、丹皮、丹參各三錢。生首烏一兩。薏苡、生白芍各六錢。羌活錢半。細生地二兩。長流水三大碗。用大砂鍋煎成一大碗。緩緩服之。外用麻黃、羌活、白附子、殭蠶、威靈仙、蛇床子、苦參、川楝子、黃連、黃芩、當歸、銀花各三錢。用真麻油十兩熬枯瀝淨渣。再下血餘八錢。黃臘二兩。生豬脂一兩。枯礬二錢。癢時用新夏布蘸藥擦之。如法月餘果愈。凡平時罕見之症。只須靜與心謀。據理揣合。無不應手取效。即考之古法亦不相逕庭云。</p>

<h2>臁瘡生蟲治驗</h2>
<p>一輿夫外臁皮如蛀孔。以數千計。似瘡非瘡。奇癢難忍。連年不愈。每至夏秋則甚。春冬則瘥。就余治之。見其狀似有蟲。但方書無此治法。惟思癩頭年久生蟲。有用砒霜煮蛋殺蟲一法。遂借治之。用鴨蛋兩個去殼。入砒霜末二錢攪勻。加蔥用豬脂熬至香氣。乘熱蓋覆患上。以布緊縛。蟲聞香氣。出而就食。更加癢極徹骨。待冷解看。果引出極細之蟲無數。再用苦寒解毒清濕之藥。煎湯溫洗數次。其患永除。伊云此患吾儕甚多。從無愈者。不知有此奇治。自是又開一條門徑矣。凡出奇制勝之法。雖屬小疾。尋思而得。卻有無限快樂。</p>

<h2>胸痛蟲症治驗</h2>
<p>一女年十二歲。患胸痛甚劇。床上翻覆滾號。治以消食行氣之藥不效。與阿芙蓉膏開水沖少許。服始效。後仍不效。余視其肌肉消瘦。面黃有蟹爪紋。詢之肛門如痔痛。脈或時弦緊。或時細數。而有歇止。卻與金匱狐惑病證相符。乃依外臺殺蟲方法。用附子、桂心、大黃、鶴蝨、雷丸、乾薑、甘草各等分為粗末。每服二三錢。百沸湯入蜜半匙。和服兩劑。以後胃口漸開。肌肉慚生。至今六七年。是病不復作矣。</p>

<h2>疳蟲死症</h2>
<p>鑲藍旗某。年力成童。患腹痛甚劇。延余診之。視其面色萎黃。肌肉已脫。脈虛數。乍大乍小。如羹如沸。舌赤中有細小白點。病已日久。余曰。此症始於食物不慎。辛辣厚味。化熱生蟲。日積月累。其蟲漸大漸多。今臟腑之脂膏。被蟲侵蝕殆盡。雖有神丹。莫能救也。其家人再四勉求。余一時為其所難。不得已為立連梅湯方。午後復邀往診。余婉辭卻謝。越二日果歿。</p>

<h2>氣鬱胸痛治驗二案</h2>
<p>董嫗年四十餘。患胸痛嘔逆。喉痹帶下。頭痛。病非一端。診其脈沉細而澀。余曰脈法云。下手脈沉。便知是氣。病由情懷不暢。鬱怒傷肝。木邪犯土。心脾氣結。法當疏氣平肝。先用歸、芍、香附、橘紅、鬱金、蔻仁、柴胡、丹皮、鮮橘葉、佛手花、瓦楞子、牡蠣等。以水先煮生鐵落。然後煎藥服三劑。諸症俱減八九。後以逍遙散加丹、梔、香附、海螵蛸、牡蠣。服二十餘劑而愈。</p>
<p>又徐嫗年近五十。患胸痛。月信雖少。而尚未斷。體肥脈弦而虛。余謂此屬血虛氣鬱。與丹參飲而愈。此二症雖同為氣鬱。而卻有肝旺血虛之分別焉。</p>

<h2>血結胸痛治驗</h2>
<p>毛姓婦。患胸痛甚劇。床上亂滾。哀號欲絕。月信愆期。延余診之。脈沉弦搏滑。指甲與唇俱青。余曰。脈沉滑主血。弦勁搏指。其血菀結。當是瘀血留於胸膈而作痛也。細詢得病之由。忽悟半月前被硬木觸胸。其為瘀血無疑矣。與歸尾、赤芍、桃仁、丹參、東洋參、琥珀、乳香、蒲黃、五靈脂一劑而愈。故治病之道。四診皆當留意。乃能與病切中。而所投無不效也。</p>

<h2>脅痛治驗二案</h2>
<p>某木匠因觸傷。腰脅瘀血留阻於經絡。痛甚。呼吸轉側。尤為難忍。惡寒發熱。脈弦勁而數。此因瘀留經絡。以致氣機不宣也。方用歸鬚、桃仁、蘇梗、橘絡、絲瓜絡、乳香、沒藥、紅花、參三七、穿山甲、牛膝、青蔥管等活血通絡逐瘀之品。兩劑而愈。定邑北門陳姓婦。患氣鬱絡阻。左脅肋閃痛。連於期門章門部位。脈沉細澀。以前方去乳香、沒藥、紅花。加香附、鬱金、柴胡、山梔。亦兩劑而愈。</p>

<h2>胸痹症治驗</h2>
<p>一俞姓男子患胸痛徹背。即金匱所謂胸痹是也。投以栝蔞韭白散而愈。此乃古人定法。極易治之病。下工不知。每用香燥耗氣。往往多方圖治。以易為難。而因之致害者甚多。故偶存之。</p>

<h2>賁豚氣治驗</h2>
<p>吳山水陸財神殿。三師太患賁豚。氣上衝腹。即大痛。堅硬一塊從小腹上攻。嘔吐不能食。形常傴僂不堪。與以桂枝、吳萸、東洋參、歸、芍、半夏、茯苓、小茴香、黃連、烏梅、木香、川楝子、乾薑、炙草等。從少陰厥陰陽明主治。每早空心。令吞腎氣丸三錢、更灸中脘石門關元穴。其患遂愈。惜其煙癮甚大。體又怯弱。精血耗盡。後至次年患春溫暴脫。</p>

<h2>狐疝治驗</h2>
<p>杭垣後市街施醫局內金少爺號有常。患狐疝偏墜。立則睪丸下墜。臥則上入少腹。陰囊赤腫而痛。延余診之。脈左弦大。右虛濡。余曰。陽明濕熱鬱蒸。厥陰風木內旋。故有此症。蓋陽明厥陰皆主宗筋。其脈皆循陰器。抵少腹。治當先用化濕疏氣。乃從陳修園先生法以二陳湯加木香、川楝、橘核、車前子、小茴香等。服三劑而稍安。復灸衝任而愈。</p>

<h2>何世全寒疝暴發治驗</h2>
<p>寧城應塚家同何世全。與施採成為鄰。採成余契友也。辛巳冬邀友就同前酒樓小飲。而施亦在座。其子登樓云。何某刻患急病。即請診視。余偕入其室。但聞其聲長吁。問其致病之由。自言午尚無恙。至未刻少腹稍有脹急。申即暴發。陰囊腫大如升如斗。堅硬如石。痛苦欲絕。上吐下瀉。脈細而弦。陰莖入腹。囊底一孔如臍。自欲求西醫割破。余曰。西人雖有此法。安可妄試。以自取禍。此症發則甚暴。去亦甚速。若能聽余用藥。今晚可以即愈。其家以為安慰語。而未深信。為立理中湯加生附子三錢。半夏二錢。吳萸七分。囑其靜心安養。不可急躁。服藥後至戌刻吐瀉止而疝仍如故。痛反更甚。余謂此寒邪盛與熱藥相拒。下焦深痼之邪。藥力尚輕。不能勝病。須再服可瘳。病者有難色。余恐其疑。復邀同學王君元仲共商。王至已初更余矣。診畢論與余合。乃立椒附白通湯。合五苓散。仍用生附子三錢。至二更服下。余就宿施友家。蓋恐病情有變。雜藥亂投。反致危殆。謂其子曰。若爾父病稍有變動，即來告我。至三更後其子來告云。父病已好大半。余大喜。持燈速往。病者曰。我因久坐尻痠移動。覺如氣泄。脹痛頓失。視之。陰囊已小大半。而皮起皺紋。陰莖伸出其半。次日腫硬全消。平復如故。但覺精神困乏。後因境迫。不服藥而愈。渠竟稱為華佗再生云。</p>

<h2>高姓婦血崩危症治驗</h2>
<p>杭垣凌木梳巷高姓婦。年四十七歲。患血崩兩月餘。淋漓不斷。其血初起鮮赤、久則漸淡。若一起坐。驟下如傾。往來寒熱。下體如廢。床上不能轉動。面色㿠白如紙。唇舌皆無血色。常覺目暗腦空。自起病以來。更醫數手。服藥七十餘劑。如水投石。乃延余治。診其脈兩關尺皆浮虛芤大。重按軟弱無神。寸口澀澀不調。余曰。婦人七七。天癸將竭。其血較衰於壯年。今病已日久。下崩若傾。所去之血。已不啻數斗。所謂奇經血海之血。蓋皆下脫。急當大補氣血。症雖危險。若照余方服之。不得稍有增減。尚可轉危為安。與補血湯合膠艾湯法。更加介類潛陽止血之品。方用黃耆一兩。當歸四錢。黨參、白芍、阿膠、荊芥炭、貫眾炭血餘炭各三錢。薑炭一錢五分。陳艾葉七片。杜仲、川斷、桑寄生各二錢五分。牡蠣八錢。水煎加童便半茶鍾。服二劑而血減。下體稍能轉動。乃去寄生、川斷、血餘、黃耆。用六錢。黨參、高麗參，加熟地一兩。鹿角膠、龍骨各三錢。附子一錢。又二劑血止而能起坐。唇面稍轉紅活。脈象有根。而白帶時下。又服五劑。諸症悉愈。按血脫補氣。古法可循。原非難治。而數手久治。迄無一效。豈非可笑。</p>

<h2>魏小隱夫人半產治驗</h2>
<p>定海巡捕魏小隱夫人。年三十餘。前曾有孕四月。因腰痛腹疼。誤認血積。破血隕胎。年餘原醫復用前藥致隕。丙戌秋停經四月。腰腹如舊疼痛。乃邀余診。脈弦虛滑數。尺脈躁動不安。余曰。此胎脈也。問幾月矣。曰將及四月。余曰脈已離經。胎將墮矣。伊備述前因。余曰。前墮兩胎。皆在四月。今屆其時。瓜弱蒂脆。又欲墮也。曰腰腹雖痛。血尚未下。余曰。脈象如此。勢必漏下。姑用安胎之法。以四物湯加桑寄生、杜仲、川斷、膠艾、砂仁。藥未服而血已下。持方來問。余曰。此方正治胎漏。然胎之能保與否。難以預決。而又不得不服。次日下血更多。余復診之。脈數已減。尺脈稍安。余曰。脈似有根。胎可保矣。渠曰。胎既可保。何以下血反多。腰腹仍痛。余曰。此憑脈不憑症也。昨血未下。余斷必下。蓋離經之血。自然當下。若止澀之。將來瘀血為患。變症百出矣。已離之血。必當盡下。則未離之血自止。但產期須補一兩月耳。復於前方參、耆、白朮又服二劑。而血始止。胎卒不墮。噫嘻。天下之誤藥而鄖胎者。不知凡幾。豈非醫之造孽耶。</p>

<h2>趙姓婦產後血厥治驗</h2>
<p>趙姓婦。年十八。生一女。產下即暈絕。汗大出。而目上竄昏厥。不知人事。急召余診。余曰。此敗血衝於胃經也。猝不及藥。急令先用醋三斤。置甑內。以鐵稱錘一個。用炭火爐內煅通紅。置產婦前淬之。令口鼻皆受之。煙氣熏入。少頃。汗收、目開、神定。復以童便灌之。方用當歸四錢、川芎二錢。桃仁、延胡索、蒲黃、五靈脂各一錢。薑炭八分。炒黑荊芥三錢。百草霜一錢。煎服即愈。不知者以為有起死回生之術。其實古人原有此法。余亦不過效顰而已。病似雖危。治之極易。人人得而為之也。</p>

<h2>姚姓婦怪胎治驗</h2>
<p>姚姓婦。年四十餘。生兩男兩女。最後生者九歲矣。丙戌秋。月信愆期。至冬病不起床半載。以後腹大如抱甕。肌肉盡消。面色暗慘。床內轉側。須人攙扶。有時腹如絞痛。痛過即飢。飢即欲食。而胃口倍強於平昔。延醫診之。或云胎氣。或云水氣。或云蠱脹。或云血積。紛紛不一。治亦無效。丁亥春。病更劇。延余診之。其脈右手浮部滑數。沉部參伍不調。左三部俱弦強。診時適當痛後。余曰。痛後之脈。不可憑信。明日再診。或可定方。然大端總非胎脈。此等奇症。須認明的實。或可一擊而去。彼以為然。次早復診。左脈雖弦而不強。右脈如羹如沸。尋按之細軟如絲。無氣以動。竟猶欲絕之狀。余曰。昨今脈候。大相懸殊。凡治病多先得其要領。可以下手。脈象如此無定。何敢輕治。其夫再三求方。余曰。如是下午再商可也。午後復往診。而脈象又更。兩手頻現歇止。時數時緩。因知此脈本無定象。問其痛時腹中動否。痛處有無一定。曰動處與痛俱無一定。或在臍上。或在臍旁。或左右脅下。動則必痛。不動則不痛。余曰。脈象屢更。且必動而始痛。胃反倍強。肌肉日削。其為怪胎無疑。但怪胎須下。藥必有毒。下後生死。余亦難決。然不下必死。下之或可望生。婦云。如能下之。雖死不怨。現今身如巨石。扶持需人。家貧如洗。日食維艱。生不如死。夫婦皆堅請用藥。於是鄰里共聞。余始疏方用大黃一兩。附子五錢。乾薑、桂心、川烏、雷丸、鶴蝨、桃仁、牛膝、枳實各二錢。巴豆霜四分。麝香一分。共研細末。煉蜜為丸。開水送服五錢。一服腹中大動。痛更劇。而胎未下。令再服三錢。約二時許先下漿水斗余。後出兩怪物。形圓且長如魚。兼有兩角。口眼俱備。不知何物。產下尚能跳躍。人盡駭絕。下後用銀花六錢。生甘草四錢。生綠豆一鍾。煎湯以解其毒。腹痛乃止。後以補養氣血。調理脾胃。月餘始能起床。僉謂此婦慶再生云。</p>
<p>姑蘇誠信洋藥店。一婦甫二十歲。亦患怪胎。伉儷方年餘。汛愆肌削。困憊已極。亦下之而安。方知患此者。斷不可以其形虛危而不下也。須知因病致虛。病去而正自復。語云。藥不瞑眩。厥疾弗瘳。正此謂也。此二症或誤於保胎不下。必至殞命。（淞樵評）</p>

<h2>坐禪傷陽吐血治驗</h2>
<p>性智長老。有人傳以坐禪云。久久行之。則神氣完足。上升泥丸。始能出定入定。超脫生死苦海。於是強制不睡。終夜枯坐。兩月來體漸羸瘦。單聲咳嗽。血從上冒。一吐盈掬。乃就余診。脈虛大無力。三候皆然。余曰內經云。起居有時。不妄作勞。乃能形與神俱。而盡終其天年。度百歲乃去。此古聖教人養生之道。修行何獨不然。豈必強制枯坐。即能成仙成佛耶。古云。磨磚何以成鏡。坐禪何以成佛。良有以也。且歸神煉氣。乃道家工夫。釋教以明心見性為上。坐禪雖是見性要著。其中卻有妙諦。六祖壇經云。生來坐不臥。死去臥不坐。其了徹生死處。並不在坐與不坐。此又在長老自參。不可以明言者耳。至於禪堂坐香。如坐一炷香即跪一炷香。始則緩步。後則緊步。使周身之氣血上下流通。不至凝滯。過二鼓即就寢矣。誠以子時不睡。則血不歸經。必致吐血衄血等症。昔志公和尚日夜講經。鄧天王憫其勞。為制補心丹以賜之。要知人身一小天地。呼吸之氣。與之相通。不善用之。未有不立蹶者。譬穀麥為養生之本。既飽而強食之。徒傷其生。財物為立命之原。既得而妄取之。徒害夫義。非謂坐禪無所俾益。第過於作勞。必入魔道。而此心反不能自主矣。大梅禪師云。即心即佛。是參禪要旨。認定宗旨。下手庶不致為傍門別殼所惑。蓋心知色相。便當思知色相者是誰。心知煩惱。便當思知煩惱者是誰。思無所思。是為真思。行住坐臥。刻刻如此用力。將一旦豁然貫通。誠有不知其所以然而然者。古偈云。鐵馬撞開青石門。玉雞啄破黃金殼。這個消息。長老掩關靜悟。必能自得。總之自性自度。為禪門日用功夫。暗來明可度。邪來正可度。惡來善可度。智慧度癡愚。布施度慳貪。清靜度煩惱。名曰六度。波羅密即到佛法世界。今長老為人所惑。枯坐不寐。則陰陽之樞紐不能交互。而陽浮於外。陰不內守。其有不病者幾何。為立潛陽。固陰方法。用二地、二冬、石斛、京元參、杏仁、芩、膠、菀、龜版、牡蠣。煎好加入人乳半鍾。守服二十劑。不必更方。長老唯唯頂禮而去。過廿餘日復來。據云服兩劑血即止。今則精神日健。因於前方去杏仁紫菀。加歸、芍、枸杞。服之強壯反逾於昔。從此坐禪遂無所苦云。</p>
<p>大道無為。不著色相。一涉黏滯。便入魔障。修持者可弗慎歟。（淞樵評）</p>

<h2>顧秋芳傷酒吐血案</h2>
<p>武林清和坊顧升泰扇店秋芳。患吐血十餘年矣。病起於傷酒過度。血熱妄行。而雜藥亂投。肌瘦痰盛。惡寒心悸。神識如癡。自疑虛寒。妄將性熱之藥。雜湊四十餘味。亦無君臣佐使。猶恐欠熱。乃用生薑搗汁煎服。畏寒益甚。雖在重幃。尤嫌微風。心虛膽怯。常怕屋坍壓死。人眾雜處。又厭喧煩。丁亥秋。延余診之。痰喘氣逆。脈虛大而數。一息七八至。蓋從前所服大辛大熱之藥。助火內熾火。盛剋金。肺藏已傷。所謂熱極反現寒象也。症已危極。勉擬甘寒育陰法。用鮮蘆根、甜水梨、荸薺、鮮生地、麥冬各絞汁半鍾。衝入人乳一鍾。每日徐徐緩飲。此蓋處方於無可處之地也。服之頗安。其後失於調理。至春而卒。</p>

<h2>損傷奇脈下血治驗</h2>
<p>錢塘張調梅先生。年四十餘。下血有年。丁亥九月。在吳山太歲廟鬥壇召診。神氣委頓。診其脈弦細芤遲正仲景所云革脈也。男子則亡血失精。婦人為半產漏下。余曰。察脈審症。當主腹痛亡血。曰然。余曰。此症乃木強土弱。蓋肝主藏血。脾主統血。今肝木之疏泄太過。則血不內藏而下泄矣。伊云下血數年。一日數行。氣若注下。後重難忍。逾時便又溏泄。腰尻痠疼。少腹脹急。行動氣逆。坐臥必豎足方快。形如傴僂。余曰。此奇脈為病也。小腹兩傍名曰少腹。乃衝脈之所循行。督脈行於背膂。其一道絡於腰尻。挾脊貫臀。入膕中。而帶脈又橫束於腰間。夫衝脈為病。逆氣裡急。督脈為病。腰溶溶若坐水中。又督脈虛則脊不能挺。尻以代踵。脊以代頭。諸病形狀如繪。凡奇經之脈。皆麗於肝腎。方用歸、芍、川斷、山藥、枸杞、鹿角膠、熟地、龜版、牡蠣、寄生、小茴、木香、防風。煎送濟生烏梅丸三錢。數劑血止。後重亦減。乃去木香、防風、烏梅丸、加血肉之品。以峻固奇經。或為湯。或為膏。多方圖治。諸恙漸安。惟腎氣從小腹上衝。如賁豚狀。後灸中脘。關元、石門。調理兩月而愈。凡奇脈虧損。必多用血肉有情。乃克有效。內經云。精不足者。補之以味是也。至於灸法。則尤宜三致意焉。</p>

<h2>轉胞症治驗</h2>
<p>杭垣萬安橋天和煙店夥。年近七旬。平日體極健壯。身軀豐偉。戊子冬患小便不通。半載有餘。久而愈閉。點滴難出。氣常下注。脹急欲死。不得已至西醫處用吸水管吸出始安。凡一日數次。以為常也。延余診治。兩寸關脈俱極虛大。兩尺細澀不調。余曰此症乃中虛清陽下陷。初則不過如癃閉。醫者以熟地、桂、附、漫補。則清陽愈陷。下竅填塞。遂致胞系了戾。膀胱之下口與溺管不相順接。故溺難出。病名轉胞。治之極易。何以半年之久。無有識此病者。真屬可笑。與補中益氣湯。黃耆重用至一兩。加木通三錢。肉桂三分。兩劑而便稍通。四劑其病如失。後以補中益氣全方。不加利水之藥。更囑其每日淡食豬脬數枚。取以胞補胞。同類相感而安。其從前之擾亂半月。後胃強體健。渠以為神奇。其實亦是按症施治。何奇之有。噫。是症金匱諸書。鑿鑿具載。省垣甚大。何知醫者之寥寥也。誠可嘆已。</p>

<h2>孫太太腳氣入腹治驗</h2>
<p>杭垣水溝巷孫太太。兩足自腨至跗皆腫。熱痛甚。皮色光亮。至晚發厥。延余診之。脈沉而弦。余曰。此名腳氣入腹。亦危症也。衝心即死。其足上有諸絡現者。盡刺出血。並刺委中。遂與雞鳴散。令五更雞鳴時服。外以蠶矢湯熏洗。次晚果不厥而熱痛仍然。乃用檳榔、蠶沙、海桐皮、木瓜、片子薑黃、黃芩、滑石、薏仁等而愈。</p>

<h2>汪良翁誤汗陽越治驗</h2>
<p>汪良翁。年七十七。患下體沉重。痠痛不能行。己丑十月。召余診之。其脈六部皆大而空。余謂此乃陽寒濕相乘之症。治當固本理虛。不得過於滲利其濕。乃用參、苓、朮、草、歸、芍、牛膝、木瓜、薏苡、防己等。服數劑。病無進退。一醫謂當發汗。投以麻黃、羌活、川芎等。汗大出如雨。其夜合眼即驚。覺心中空空。如無物然。次日又覺身輕。如兩腋生翼。欲飛翔狀。且常欲跳躍高處。其家驚惶不知所為。醫亦如之復召余診手足亂舞。力大甚有逾垣上屋之勢須。兩三人掖之始可。診脈寸關二部俱浮數侵上兩尺尤躁動。余曰。此誤汗陽並於上不急固補必發癲狂。元氣亦因之而即脫。方用人參、附子、炙甘草各三錢、五味子一錢、生白芍、麥冬各八錢、熟地四兩、生鐵落二兩。煎湯代水煎藥。服後睡三四時之久。及醒脈斂神清而下體仍重痛。余曰。此病難以痊好。但可望遷延歲月耳。昔徐洄溪以病不愈不死。愈則必死。即此類也。乃檢其醫論示之。彼方信從。後與調養氣血。胃氣漸旺。脈亦安和。而下體之病。終不能瘥。</p>

<h2>趙老太太陽虛發熱治驗</h2>
<p>趙忠翁老太太。今年八十有二。長忠翁二歲。玉體稍有違和。即召余診治。每一二劑而輒愈。忽一夕身大熱而喘。又召余診。脈兩寸關俱浮大而數。兩尺極虛。余謂陽氣浮越。真元將離。若加大汗一出。頃刻即有暴脫之慮。乃用大劑生脈飲加朱拌茯神、當歸各四錢。石斛、龍齒各三錢。牡蠣一兩服之即熱退而安。次日復診。脈氣頓斂。兩尺亦有根。惟兩脅牽引而痛。乃改用養血疏肝和絡之輕劑。方用蘇梗、橘絡各八分。香附、柴胡各五分。桂枝三分。歸鬚、丹參、絲瓜絡各二錢、石斛、蒺藜各三錢。服二劑而愈。忠翁每謂余方太重。似吳越非所宜者。余曰。方劑之大小輕重。當度其病勢。審其體質。不可一例而論也。即如是症。昨日真元將離。脈已無根。製劑若小。何能熱退而安。今日肝絡不和。法宜輕宣。如重用柴胡、桂枝等。則真陽復升。而氣又將上越矣。是昨不得不重。今不得不輕也。且余在杭。醫治之症。往往遇有危險者。而方亦不得不然。總之實事求是。能中病即為合法。如慣用輕方。或遇重病。將苟且姑息。知之而不用耶。抑任人訕謗以盡吾之心耶。昔蘇長公文章經濟。出人頭地。一肚皮不合時宜。無如何也。余於醫理粗涉藩籬。本無華扁之術。其克於訕謗者幾希。古人云。豈能如人意。但求不愧我心。</p>

<h2>又次年體虛患感治驗</h2>
<p>又次年。患血虛痰多。四肢腰背疼痛。身體難於轉側。至偶感微寒。即氣急神昏。家人無不駭甚。二月間。因更衣受寒。召余診視。身壯熱而神昏。口開氣急。脈六部俱渾渾然。洪大而數。余因深知其平日體氣。月黃耆、當歸、川芎、蘇葉、杏仁、蔥白、山梔、鬱金、貝母、連翹、竹茹等輕散。兼以固表之藥。令其服後。助以鍋巴湯。蓋覆取微汗而解。如法服之一劑果愈。此乃棄脈棄症。從平日之體氣以治也。余嘗見虛人患感其邪本輕。醫每發散太過。即漏汗不止氣升於上。胸膈窒塞而死者。不可勝數。如前所載汪良翁之案。以體虛誤汗。輒致危症蜂起。而如癲狂。亦此類也。書之以為虛人不可發汗之戒。</p>

<h2>某太太冬溫暴脫症</h2>
<p>鄂記綢莊內。某太太。十月間患冬溫。十餘日不解。醫或發表。或溫燥。失於清理。以致邪傳陽明。大熱氣喘。身發白㾦。與疹夾雜。診其脈渾渾然。模糊不清。余主陽明透達清解之方。用羚羊角、人中黃、連翹、山梔、貝母、銀花等輕劑。次日早晨。追請甚急。余即往視。疹㾦已退。大便已解。熱清而喘逆特甚。診其脈大而空。面赤如裝。余曰。此邪去而正欲與之俱脫也。書人參、生附子各三錢。炙甘草、乾薑各一錢。五味子五分。急令煎服勿遲。囑其嗣君曰。至申酉時大汗一出。當即亡陽矣。趁此未汗。尚可挽救。彼與一醫商之。不以為然。交申時汗果大出。始信余言不謬。急去兌參。已暴脫矣。閤家懊悔復何及耶。</p>

<h2>孫某偏枯症治驗</h2>
<p>武林雲棲梅家塢孫某。形體肥碩。平素喜啖肥甘。年近六旬。患偏枯症。左手不能展動。足亦如之。將及一載。時或神昏氣急。大便不通。頭目眩暈。如發痧狀。邀余診之。脈右三部滑大而數。左三部俱澀小。尺部微如蛛絲。余曰。右脈滑大。因痰食積滯。以致氣道不能流通。左脈澀小。乃高年氣血兩虛。無以榮養經絡。濡潤筋骨也。左不升則右不降。其氣血歸併一邊。而為偏枯之疾。時或神昏氣急。大便秘結者。實由痰隨氣湧。肺氣不克下降耳。法當去積化痰。從左引右。從右引左。從陰引陽。從陽引陰。俾氣血流轉。周身無滯。方用丹參、歸、芍、柴胡、升麻。助其氣血升於左。萊菔子、檳榔、木香、半夏、枳實。消其痰食降於右。服三劑而手足舉。大便解。飲食亦進。眩暈不作矣。繼用參、苓、歸芍、半夏、陳皮、丹參、升麻、柴胡、麻仁、桑枝等以調之。囑其午前進食。午後減食。忌油膩厚味。以養胃中清靜之氣。乃不助濁陰以礙氣也。服四五劑。居然下樓晉接。步履如常矣。後用參、耆、歸、芍等大補氣血。佐以消痰活絡之品。三十劑以善將來。半載之疾。脫然而愈。快哉。</p>
<p>梅家塢離杭三十餘里。心禪朝去夕返。余時與同寓。據述其病危甚。數日後伊婿來寓改方。不勝欣喜。備言診後大有起色。無復半體偏枯之苦。足見高手指下。生趣盎然。令人有羹牆黃帝之想。（淞樵評）</p>

<h2>陸姓子脫血筋攣治驗</h2>
<p>寧郡月湖陸姓子。夏隨群兒下河捕魚。右足心湧泉穴。被觸出血盈斗。日久自膝至跗。其冷如冰。筋脈攣急。是足既廢已行動需杖。其戚友為余鄰。商治於余。余曰。足廢兩載有餘。何能為也。然細思起病之由。因於血出過多。而筋脈失養。其穴乃腎經所屬。又為寒濕乘之。遂以陽和湯去白芥子。加附子。薏苡、牛膝、木瓜、當歸。姑令試之。囑其守服四十劑。不必更方。亦未敢云必效也。乃服十五劑而足溫。三十劑而筋舒。步履漸如常矣。蓋陽和湯原為治陰疽之方。此則藉以通經養血。而復加舒筋逐濕之品。夙疾頓瘳。凡天下事總須據理推測。不可拘泥如是。</p>

<h2>真心痛</h2>
<p>何某年三十餘。忽患心痛。甚則昏厥。急召余診。唇面俱青。以手緊按胸膛。痛劇不能言脈之左關尺緊。寸口如循刀刃。右手不克診。以緊按胸膛故也。余曰。此真心痛病。旦發夕死。夕發旦死。雖盧扁復生。不能救也。逾時果卒。</p>

<h2>趙忠翁高年亢陽症治驗</h2>
<p>趙忠翁前患左頰及耳前後經絡不時抽掣。余為治愈。相安三載。間有小發。調理輒效。己丑冬診其脈兩尺弦滑而芤。小便頻數。溺管澀痛。夜不能寐。余曰。此高年亢陽為患也。翁天稟甚厚。年逾八旬。傍無媵妾。以致相火時動。而小便淋瀝。由是而起。內經云。思想無窮。所願不遂。意淫於外。乃發白淫。因用甘涼育陰之藥。佐以知、柏、車前等以瀉腎火。服數劑漸安。今言正月亦復如是。余直言明告其故。曰。此症非藥能治。如火動時惟默唸六字經以制之。是即無上上藥。翁大笑而不答病遂尋愈。</p>
<p>此為心病以心藥治也。年高福厚元氣淋漓趣語令人解頤。（淞樵評）</p>

<h2>詳論李封翁陽脈變陰為真元暴衰之徵</h2>
<p>李荔生封翁。素有痰火。發必召診。試輒幸中。己丑九月前疾復作。愚按其脈。向來滑大。今忽損小。浮部奄奄至數不明。且氣來又不連續。愕然謂其世兄梅生太史曰。尊甫之脈。何以反常之至此。梅翁醫道甚精。並深信愚之脈理。乃驚疑久久。始作聲曰。無大害乎。愚知其素性純孝。不敢直告。為定清疏上焦之方。加金匱腎氣丸。服之頗安。越數日復診。封翁問脈息如何。愚勉強慰之。不得已私謂梅翁曰。脈象已現真臟。如雀啄食。每五六至。或十餘至一止。恐是元陽暴衰之徵。為之奈何。梅翁囑為定方。用桂苓甘術湯加龍牡以鎮攝之。又擬兩方治上焦之痰。用陳皮八兩。蒼朮、半夏各二兩。風化硝、青鹽各五錢。生薑汁半碗。以四味煎汁合薑汁收入陳皮。令不時口內噙咽少許。治下焦之虛。用人參五錢。生附子八錢。以附子煎汁收入人參。將參用銅刀切小塊。外用茯苓細末。合煉蜜包裹為丸。曬乾。每日空心服三錢。奈封翁平日大忌參附。梅翁力勸數四。至於泣諫。終不能用。醫有令服參鬚五分試之。膈間作脹。益加畏慎。余曰。參鬚與參不同。服僅五分。是以作脹。能服五錢。即不脹矣。況愚所制參附為丸。外用茯苓包裹入胃。使參附之性。必至下焦乃發。是下焦元氣可藉溫補而轉旺。而中焦陰邪。又何難驅除罄盡耶。豈復能作脹耶。赤心苦口。意終不回。但問小兒明年可入都否。余曰。病尚未愈。梅翁必不止暫離膝下。此愚之所稔知也。梅翁淚涔涔下。愚亦不勝嗟嘆。蓋翁之生平。性最慈愛。樂善忘倦。遠近無不頌德。與愚尤有夙緣。嗟嗟。珠林玉樹。食報靡涯。不幸至冬。軌遭大變。惜哉。</p>
<p>父慈子孝。一堂和氣。那堪罹此閔凶。心禪寫入案中。纏綿悱惻。至性流露。非深心人不能體會至此何忍卒讀。（淞樵評）</p>

<h2>發背治驗</h2>
<p>孫姓一乳嫗。患發背堅硬高腫。根盤如碗。瘡頂白點如粟米甚多。余曰。此症甚險。不可輕視。付以散堅消腫丸藥數錢。令每日服五錢。來朝視之。堅塊盡消。其症如失。余大異之。曰。餘存丸藥。當仍還余。因修合不易。非吝惜也。出藥視之。所存無幾。乃伊於一晝夜服十餘次。每服必二三十粒。已服完矣。余曰。幸而體壯。否則豈不誤事。然凡癰毒堅腫不消。惟此丸無不應驗如神。即膿已成。亦不必開刀。自能穿破出毒。潰後收功亦易。誠至寶也。</p>

<h2>陳姓子瘰瀝治驗</h2>
<p>寧城西門外陳厚載子。年甫十三。項側瘰癧如貫珠。面色㿠白。脈沉細而微。先起之瘡已潰年餘。瘡口白陷。稠水淋漓。皮內之核。如彈丸。半露皮外。半在肉裡。余核堅硬未破。余曰。此症色脈俱屬虛寒。急宜溫補氣血。若不善治。綿延歲月。多成童勞。遂用人參養榮湯。加鹿角膠。十餘劑瘡口漸轉紅活。其核未消。仍用前方。兼用洞天救苦丹小金丹。間日輪服。服至三十餘日。其核化膿。以漸流去。未破者亦漸消散。乃用生肌末藥。加參鬚、象皮。用陽和解凝膏蓋貼。仍服生肌養血健脾之湯丸。兩月而愈。人亦從此強壯。此王洪緒先生法也。世醫多用降丹取核。痛不可當。必不能愈。故治瘡瘍諸症。以不痛為第一妙法。此虛寒症之治法也。瘰癧種數甚多。治法亦各不同。必於平日留心臨症方有把握。</p>

<h2>色現真臟預知死期二案</h2>
<p>寧郡陳養生為錢莊夥。失業境迫。一日倚藤椅仰臥。余見其似寐非寐。目半露而無神。面色㿠白。皮膚夭焦。肌肉消瘦。喘息氣促。余竊謂他友曰。觀陳某之色。死期將不遠矣。曰。何所見耶。余曰內經云。大骨枯槁。大肉陷下。胸中氣滿喘息不便。毛悴色夭。死於冬。今其形與內經之論正合。其能免乎。且經又云。始富後貪。名曰失精。更無治法。果於是冬而卒。</p>
<p>寧波郡廟一術士錢時成。設硯西首廊下。東廊下一相士徐君瑞海。自稱熟讀麻衣。是日余見錢面黃枯焦。一股青慘之氣如煙霧。余謂徐曰。君相士也。必能知人壽數。對面錢某可活幾年。徐諦觀之曰。照部位二三年耳。余曰。吾不知部位。但觀現在之色。內經云。黃如枳實者死。毛悴色夭。死於秋。是腸胃之氣予不足也。此人必死於秋間瀉痢之疾。蓋七八月大火西流。爍石流金。肺氣益虛。肺與大腸相為表裡。而陽明之土金泄氣。其為必死無疑矣。後果應余言。凡望色而決人之生死。須要察其神氣。蓋色為標。神為本也。如色雖枯而尚有神。則主病而不至死。若神色俱敗。氣如煙霧之暗慘。死期可預決也。故為醫者。安得不讀內經耶。</p>

<h2>脈現真臟預斷必死二案</h2>
<p>乙酉秋。余在寧。有溫州弁某就診。年四十許。餘切其脈浮部虛大。如羹上之肥。久按如魚翔蝦游之狀。余問曾大脫血否。曰無。然則心胸痛乎。曰無。問究竟何所苦耶。曰近日四肢略有酸重。猶幸胃口頗好。余無所苦。余曰。無病而得如是之脈。大有可慮。四肢酸重。不過濕滯小恙。而況胃口尚好。何病之有。爾且商之高明。余不敢定方。伊微笑而去。是冬聞其友云。一日赴友午飲。至夜覺頭沉重。以為飲酒過多。滅燈就寢。次日日高未起。同伴呼之不應。以手推之。則已僵矣。經云。脈病人不病。名曰行屍。凡人無大病而現真臟之脈。乃臟腑之氣久已空虛。最宜留心。不可輕與醫治。抑或服藥之後。病大發作。則必歸咎於醫。可不慎歟。又杭垣陸點翁家一傭婦。紹郡人。年五十餘。尻骨之上。一節突起。腰間患瘡。潰久不斂。戊子春。就余診之。六部之脈。俱浮取空大。沉按無根。余知此症不治。乃致意點翁。囑其婉言勸歸養息。病愈仍可復來。傭婦如言回家。醫治至秋似稍安而復來。點翁又邀余診。脈象如初。余曰脈仍無根。須防暴脫。果至初冬而歿。</p>
<p>昔杭堇浦宗伯謂世醫能殺人而不能起死人。然果能知其必死。雖不克起之而生。則亦斷斷不致殺人矣。夫技而本於不致殺人。其生趣之流露於十指間者。可想見也。憶予先大人珠川府君。於學無所不窺。而醫道尤為講求。每遇不救之病。必詳推夫五行六氣。而預決生死之期。今讀真臟四案。不禁有父書散亡之感。（淞樵評）</p>
<p>徐淞樵曰。是冊所治諸症。均非尋常平易者可比。而且按法施治。毫不自作聰明。以致失於一偏之見。洵可傳也。心禪初意。似以覆瓿之物。未敢問世。予慫恿再四。心禪始於翌日袖出質正。予雖不知醫。而自幼備聞庭訓。受讀靈樞素問諸書。於醫理不無稍明。觀其議論必窮夫源。講求必極其奧。誠不愧醫學入門之階梯也。冥搜靜悟。由病而驗。其方較之近今諸大家。何多讓焉。予因略為點竄。歸以付之梨棗。謂非一大快事哉。噫嘻。予鄉距省千里有奇。因事邂逅。與心禪商訂者兩月餘矣。豈非前定之數。昔袁簡齋先生自言於佛家因緣二字。平生最為深信。予於此事亦不禁恍然大悟云。</p>

<h1>跋</h1>
<p>學佛不參妙諦。為醫莫悟元機。安心既疏。行意奚裨。心禪慧珠內朗。靈鏡中涵。讀古帝書。立良相志。一朝祝髮。萬事隨緣。雕琢蟲魚。倚為性命。蒐羅草木。殫厥精神。念我佛慈悲。一低頭而放汝。憫眾生頑惱。舉十指以活人。當夫柏子焚爐。梅花展帳。蘭蕙擷秀。香繞芒鞋。芝術含和。云生布衲。不愧臺公之術。可稱獺女之奇。青囊馱乎僧肩。紫書握於佛手。而且採聖經於鳳闕。金匱玉函。探寶笈於龍宮。牙籤錦軸。於以推六氣。按五行。細辨陰陽。詳參部候。啟天地之橐籥。奪生死之權衡。郭玉雖遙。金針暗度。淳意已妙。珠玄潛尋。樹種杏林。培植何須董奉。泉珍橘井。灌溉奚羨蘇耽。技砉然以奏刀。道恢乎其遊刃。托足而心從所欲。恍神仙陸地之居。割股即支解之由。遂菩薩諸表靝之願。乃者出山問道。奇字盈車。入世譚禪。勝流接席。通芳訊於下士。諦石契於上工。慚揚厲之無文。喜導養之有術。愛我愛我。遊湖以悟西來。可人可人。浮海而終南去。時光緒庚寅春仲下浣三日平易金舟鄉發牙經樵徐濟之題於虎林客次。</p>
