<header>
<h1>結構化資料綱要</h1>
</header>

<h2><code>jc:formula</code>: 方劑</h2>
<ol>
  <li><code>jc:name</code>: 名稱</li>
  <li><code>jc:altName</code>: 別名</li>
  <li><code>jc:srcText</code>: 出典</li>
  <li><code>jc:composition</code> (jc:formulaComp|text): 成份</li>
  <li><code>jc:usage</code>: 用法</li>
  <li><code>jc:option</code> (jc:formulaOption|text): 加減法</li>
</ol>

<h2><code>jc:formulaComp</code>: 方劑成份</h2>
<ol>
  <li><code>jc:name</code>: 名稱</li>
  <li><code>jc:preparation</code>: 炮製方式</li>
  <li><code>jc:dose</code> (jc:formulaCompDose|text): 用量</li>
</ol>

<h2><code>jc:formulaCompDose</code>: 方劑成份用量</h2>
<ol>
  <li><code>jc:value</code>: 用量數值</li>
  <li><code>jc:unit</code>: 用量單位</li>
</ol>

<h2><code>jc:formulaOption</code>: 方劑加減法</h2>
<ol>
  <li><code>jc:condition</code>: 條件</li>
  <li><code>jc:add</code> (jc:formulaComp|text): 加入的成份</li>
  <li><code>jc:remove</code> (jc:formulaComp|text): 減去的成份</li>
  <li><code>jc:set</code> (jc:formulaComp|text): 更動的成份</li>
</ol>

<h2><code>jc:drug</code>: 中藥</h2>
<ol>
  <li><code>jc:name</code>: 名稱</li>
  <li><code>jc:altName</code>: 別名</li>
  <li><code>jc:srcText</code>: 出典</li>
  <li><code>jc:preparation</code>: 炮製法</li>
  <li><code>jc:place</code>: 相關地</li>
  <li><code>jc:harvest</code>: 採收法</li>
  <li><code>jc:nature</code>: 性</li>
  <li><code>jc:flavor</code>: 味</li>
  <li><code>jc:tropism</code>: 歸經</li>
  <li><code>jc:property</code>: 藥物特性（如有毒等）</li>
  <li><code>jc:action</code>: 功效</li>
  <li><code>jc:interacter</code> (jc:drugInteracter|text): 交互作用</li>
</ol>

<h2><code>jc:drugInteracter</code>: 中藥交互作用</h2>
<ol>
  <li><code>jc:name</code>: 交互作用對象名稱</li>
  <li><code>jc:type</code>: 交互作用類型（如七情等）</li>
</ol>

<h2><code>jc:acupoint</code>: 穴位</h2>
<ol>
  <li><code>jc:name</code>: 名稱</li>
  <li><code>jc:altName</code>: 別名</li>
  <li><code>jc:srcText</code>: 出典</li>
  <li><code>jc:location</code>: 位置</li>
  <li><code>jc:usage</code>: 取穴法</li>
  <li><code>jc:action</code>: 功效</li>
</ol>
