<header data-type="book">
<h1>類證普濟本事方續集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>許叔微</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2761">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>治諸虛進食生血氣並論</h2>
<p>夫人稟陰陽五行運氣榮衛而保全其身一凡身中或有毫杪疾患無非因臟腑虛冷臟腑虛冷則榮衛不調榮衛不調則疾生矣又況虛冷之極又能生其虛陽或手足腰腎及眼目口齒三焦六腑值病之亟則各能死人且如左右手三陽三陰十二經脈皆須用有胃氣或加之有疾而無胃氣者不問病之輕重不救何謂須用有胃氣緣胃受穀氣生則能生氣血氣血壯則榮衛不衰榮衛不衰則病自去矣如五臟六臟表裡之間皆出自穀氣而相傳授生氣血而灌蔭五臟或氣血不足則五臟六臟蔭無所自況加之於優愁思慮喜怒不常起居勞役飲水不節房事過多衛雪胃霜伏暑鬱熱損失耗散則病生焉且如季春季夏季秋季冬一十八日之間脾土於此時旺極每遇此際腎水受克故當補腎所以心肺肝脾腎各有衰旺各有相生相剋如心克肺肺克肝肝克脾脾克腎腎克心遇旺則克之愈甚凡受克處故宜補然春補肺秋補肝冬補心古之腎人平居無病亦常用方藥法度調護脾胃使進飲食而全穀氣凡百皆得其宜如今之庸醫用意皆錯姑舉一二而為證然且如腎經衰敗則以天雄附子之類而言補腎且腎本屬北方壬癸水喜濕惡燥反用天雄附子至燥藥豈能補乎腎耶況腎經虛則乃五臟六腑衰極而漸至腎則諸病生焉凡下部腎經虛者不必補之至妙之法有二一則但補脾護胃使進飲食而全穀氣一則所謂生血氣者或生日夜半子時乃北方正候當此之時腎水旺極則攝血化精精氣全則實腎經不虛病自去矣男子則攝血化精女子可通月事若谷不全則氣血不生氣血不生則當夜半子時腎水雖腎旺則血不能償其腎所攝無精可化丹田不固腎自虛矣以此觀之凡腎經並五臟虛則醫者不識源流枉用其法初不能損於病乎今則具列先補脾胃後調氣血二方並法悉皆備集予不欲私為已有用傳好事云耳</p>
<p>戊巳圓治丈夫婦人稟賦怯弱飲食無味氣血衰敗肌肉不生項背拘緊腰腳無力胸膈膨膈脹多睡少寤終日錯朦夜多異夢及積年脾蟲時下噁心噫酸吐水小兒吐乳大人翻胃並皆治之此藥能護脾開胃進食長肌肉生氣血化清益髓全胃氣丹田不竭腎經不虛是此藥功也</p>
<p>茴香（三兩揀淨）　甘草（一兩炙）　浮椒（五兩乃胡椒也揀淨）　人參（一兩）　白朮（二兩）　硃砂（半兩）　白茯苓（三兩）　香附子（半兩）</p>
<p>上為細末生薑汁麵糊為圓如梧子大每服二十圓空心白湯送下服</p>
<p>又方</p>
<p>石菖蒲（二兩）　白茯苓（三兩）　白朮（　二兩）　茴香（一兩半）　青皮（一兩）　枳殼（一兩麩炒去穰）</p>
<p>上為末每服二大錢棗湯調空心服</p>
<p>又方</p>
<p>枳殼（二兩）　木香（一兩半）　丁香（半兩）　青皮（一兩半去白）　牡蠣（二兩半）　甘草　白茯苓（一兩）</p>
<p>上為細末米飲送下三錢不計時候</p>
<p>上為細末飲送下三錢不計時候</p>
<p>又方治大人婦人小兒唇青面黃肚裡冷痰牽引小腹以至翻胃換食嘔吐口苦舌乾少寤腳手不制遠年日近一切脾冷病悉能除愈有一婦人年四十餘患十年翻胃面目黃黑壓三十餘人醫不取效脾腧諸穴燒穴灸交遍其疾愈甚服此藥不五七日間頓然無事緊忍服至一月日遂去其根自是服之不三五服些少脾疾立便痊平能全胃氣生肌肉進飲食順榮衛常服大有補益悉試悉驗幸母忽焉</p>
<p>人參（一兩）　茯苓（二兩）　附子（七錢重炮去皮臍一兩）　牡蠣（一兩煅）　粉草（半兩）　黃耆（一兩鹽炙）</p>
<p>上為末每服三大錢鹽湯點服忌生冷油麵黏膩等毒物無不效者甚妙</p>
<p>又方</p>
<p>浮椒（二兩）　茴香（二兩）　粉草（一兩）</p>
<p>上三味每為末服二錢熱湯點服忌毒如前</p>
<p>化症圓治丈夫婦人小兒年深日近沉積症塊面色黃青時上搶心吐水吞酸舌生白沫婦人積年月經不調漸成血氣或蠱塊中焦之間復如杯碗連年累月漸至瘦瘠寒熱往來一切脾胃受寒久不痊愈之疾並皆治之</p>
<p>巴豆（五兩去油膜）　蓬莪朮（三兩醋煮）　三稜（三兩醋煮）　丁香皮（二兩）　木香（一兩半）　厚朴（三兩）　石菖蒲（二兩）　良薑（一兩）　虻蟲（一兩半）　川牛膝（一兩）　香附子（四兩）　石連（二兩）</p>
<p>上為細末稀麵糊為圓如小菉豆大積年癥瘕成塊第一服用熟水下二十圓自後每日三圓五圓更量虛實加減與之五日去盡積塊日近脾胃有積者每服五圓飯飲吞下一服取效婦人血氣成塊及血瘕每服二十圓蘇木用酒童子小便各一半煎五七沸今溫空心吞下自後每日用溫酒下三圓其血塊逐旋消從大小二便去儘自知小兒蛔蟲腹痛不能忍日夜呌喚百藥不救者橘皮湯下七圓立效諸蟲皆下常服白湯工薑湯下三五圓中酒及酒積大便鮓臭者白湯舊酒各半吞下七圓立效如神一切噫塞心下硬痛皆用棗湯下五圓不拘時候</p>
<p>衛真湯治大人婦人元氣衰憊榮衛怯弱真陽不固三焦不和上盛下虛夜夢鬼交覺來盜汗面無精光唇口乾燥耳內蟬鳴腰背倦痛心氣虛乏精神不寧驚悸健忘飲食無味日漸瘦悴外腎濕癢夜多小便腰重冷疼牽引小腹足膝緩弱行步艱難婦人血海久冷經候不調或遇期不至或一月兩來赤白帶下漏分五色子宮感寒久不成孕並皆治之此藥大能生氣血遇夜半子時腎水旺極之際償腎收攝男子攝男子攝血化精實丹田填五臟諸病未萌之前皆能制治使不復為梗是藥也每服多寡具列在前</p>
<p>川當歸（三兩）　人參（一兩半）　金釵石斛（五兩）　茯苓　木香　肉豆蔻　山藥（各三兩）　生地黃（二兩半）　熟地黃（三兩）　丁香（一兩）　川牛膝（二兩童子小便酒各半浸一宿）</p>
<p>上為細末每服三大錢溫酒調下鹽湯亦得空心食後一服婦人諸疾用童子小便問溫舊酒調空心下</p>
<p>丙丁圓生血養氣升降水火化精補腎</p>
<p>附子（一個九錢重者炮）　川烏（一個七錢重者炮）　當歸（二兩）　赤芍藥（五兩）　沉香（五兩）</p>
<p>上為細末浸當歸酒煮稀糊為圓如梧桐子大硃砂為衣每二十圓漸加三十圓食前空心鹽湯酒下婦人淡醋湯下</p>
<p>又方治男子婦人一切虛冷之疾活血駐顏減小便除盜汗治婦人久不生產似滯疾而非其時有遺瀝並皆治之功驗不可具述</p>
<p>蒼朮　吳茱萸　破故紙　胡盧巴已上（各一兩）　川薑　草烏巳上（各半兩並炮）　山藥（二兩）</p>
<p>上各炮治同為末醋糊圓如梧桐子大每服十五圓空心溫酒鹽湯任下婦人艾醋湯下日二服丈夫四十歲巳上者可常服耳目永不昏髭發不白又方回陽小浴法</p>
<p>川烏　沉香　紫稍花　疾藜　蛇床子（酒浸一兩）　兔絲子（各等分）</p>
<p>上為末冷熱水圓如彈子大每服一圓湯三大碗椒二合蔥二握用闊口瓶同煎二碗去卻蔥根椒安身於瓶口上薰如入得手則浴之冷便止女人帶下赤白者依此薰之留藥得三次溫過薰洗妙</p>
<p>又方治後生大人婦人房事不節漸至虛損行步如踏空夜夢從高墜下及夢大小諸般水等並皆治之常服永無虛病雖二十歲亦可服</p>
<p>人參　白茯苓　川牛膝（酒浸一兩）　地骨皮真者　川當歸　熟地黃（各等分）</p>
<p>上為末煉蜜為圓如梧桐子大每服三十圓溫酒或鹽湯空心下常服只二十圓用三五匙乾飯壓下服三五日後每日飽飯後及臨臥時服局中雞蘇圓五粒不嚼破熟水吞下次又服前藥百病皆去雖百歲髭發不白此藥余曰二十歲服之不歇甚妙</p>
<p>又方治後生丈夫酒色過多下元虛憊膝軟乏小便滑數外腎濕癢</p>
<p>兔絲子（五兩）　石連肉（二兩）　白茯苓（一兩）　山藥（二兩）　茴香（二兩）　五味子（五兩）</p>
<p>上為末稀糊為圓如荳每服四十圓溫酒或鹽湯空心下如腳氣及腳膝無力者木瓜酒空心五十圓晚餐前再服立效</p>
<p>又方補虛損老少皆可服一切虛證並皆用之</p>
<p>人參　桂　茯苓　黃耆　熟乾地黃　川芎　甘草　川當歸（各等分）</p>
<p>上各依法事治為末每服二大錢不一盞生薑三片棗子二枚同煎至七分空心服</p>
<p>又方治勞嗽及虛證及鼻清涕耳作蟬鳴眼見黑花一切虛證丈夫婦人皆可服少年服亦不妨</p>
<p>北五味子（二兩）　鱉甲（三兩厚物）　地骨皮（三兩）</p>
<p>上為末煉蜜圓如梧桐子大空心食前溫酒或鹽湯任意服三十五十圓婦人醋湯下此方乃曲江人家秘方余服之大有功效處方有理者人皆欽羨妙甚妙甚</p>
<p>又方補虛損治勞倦一切虛極欲垂死者</p>
<p>甘草（三兩）　蒼朮（一斤米泔浸一宿切作片子用菲白一斤細切同今庵過一宿）　川椒（四兩）　草烏（半斤水浸一宿切作片子同鹽四兩今庵一宿次日炒乾）</p>
<p>上共為末用好舊糟六斤同搗三五十杵今勻為圓如梧桐子大每服二十三十圓空心溫酒鹽湯任下婦人淡醋湯下</p>
<p>又方治胸滿氣噫下部冷腹㽲痛</p>
<p>半夏（八兩）　生薑（六兩）　橘皮（四兩）　桂（二兩）　吳茱萸（五兩湯泡洗一次）　石㕮咀用水十升煮取四升分五服冷又再溫空心食前服余少年時曾患臍腹㽲痛初不穎其虛遍服諸家藥無獲效者余遂診之則覺是虛證合此藥一劑服未至半劑頓然痊瘥</p>
<p>又方治下部冷極臍下及小腹痛不可忍者一服取效</p>
<p>赤石脂　乾薑（各十兩）</p>
<p>上二味麵糊圓如碗豆大每服十圓至三十圓空心飯飲下日三服御方二仙散治腎氣</p>
<p>蓬莪朮（一兩）　茴香（二兩）　阿魏（三錢真者）　</p>
<p>上三未為末每服一錢溫酒調下</p>
<p>金鎖正陽丹</p>
<p>砒（一兩火煅）　巴豆（十兩去油）　烏頭（一兩炮）　木鱉（六個）　雄黃（半兩）</p>
<p>石以上併為末用黃臘瀝青好者各（一兩半）　黃丹（一兩）　硃砂（一兩半）　細研溶熱入前頃藥末乘熟圓如雞頭子大每服一圓常服空心鹽湯下小腸氣痛炒茴香酒冷下木通煎湯下滑腸脫肛乾薑艾同煎酒溫下心氣痛燒錢淬醋下二圓氣塊齧干□子下一圓婦人紅脈不行及產後諸疾當歸酒下眼多冷淚鹽椒湯下</p>

<h1>卷二</h1>

<h2>治諸積熱等疾</h2>
<p>治腳氣毒遍內外煩熱不解口中生瘡狂走毒歷及解中諸熱藥毒邪熱卒黃等解蟲毒鬼魅野道熱毒又治小兒驚癇熱病</p>
<p>寒水石　石膏　磁石　滑石已上四味各三斤搗為末用水一石煮至四斗去滓入後藥　玄參　羚羊角（四兩）　升麻（五兩）　丁香　木香（半兩）　甘草（八兩）　憶上六味搗為末入前藥汁中再煮去一斗五升去滓入下頃二味　朴硝（三斤）　消石好者二斤已上二味入前藥汁中微火煎不住持柳木篦攪候有七八升許投在水盆中半日久欲凝後卻入後頃二味　硃砂（三兩）　麝香（一兩三錢重乳細已由三味入前藥汗中拌調今全勻</p>
<p>上當寒之二日每服一錢匕或二錢冷水調下大人小兒子細加減食後服</p>
<p>又方治大人小兒五臟積熱煩躁多渴唇烈喉閉目赤鼻衄頷頰結硬口舌生瘡陽明證傷寒發狂見鬼譫語大小便秘一切風壅亞皆治之</p>
<p>川大黃　山梔子仁（一兩）　朴硝（二兩）　連翹　薄荷（二兩）　甘草（一兩）　乾葛　赤芍藥（一兩）</p>
<p>上為銼散每二錢不一盞入竹葉七片蜜三匕同煎至七分去滓食後服法陽明證傷寒空心下此藥局方亦載緣味數與藥不同予唯一之用大侄段婦忽患熱病欲死付之一服立效後來屢服屢驗伏幸母忽</p>
<p>又方</p>
<p>白朮　荊芥　赤芍藥（各三兩）　大黃　車前子（各二兩生）　木通（三兩）　甘草（二兩）　川當歸（二兩）</p>
<p>上為細末大便秘結米泔調三錢空心服上膈壅熱或生赤丹或如癰癤用水二盞煎三大錢服小便結如淋狀用蘆根打碎淨洗煎湯調下五心煩熱生薑一片同煎三錢服此方初來之不得後費數緡轉託來之至三方始得之屢服有效</p>
<p>東京金宅能腦圓治胸中鬱熱肺熱喘嗽口臭喉腥脾疸口甘丈夫吐血婦人血崩並皆治之</p>
<p>龍腦　薄荷（五兩）　真蒲黃（一兩）　麥門冬（二兩）　阿膠（一兩）　甘草（一兩半）　人參（一兩）　川當歸（一兩（　黃耆（一兩半）　木通（一兩）　生乾地黃　柴胡（半兩）</p>
<p>上為末煉蜜圓如梧桐子大每服二十圓病上焦飯後用熟水吞下微嚼破更好病下焦空心服小兒加減與之此藥大有奇效不可盡述</p>
<p>又方治男子女人小兒胃中客熱口臭牙宣赤眼口瘡一切瘡疹已發未發或可服之</p>
<p>熟地黃　生地黃　天門冬　黃芩　枇杷葉　山茵陳　枳殼　金釵石斛　甘草已上（各三兩）　犀角（三錢）</p>
<p>上為末每服二錢水一盞煎至七分去滓食後臨溫服小兒一服分作二服更苦斟酌與之此方得某一品之家其間用犀角一味甚有道理百發百中予族中有一僕牙宣口臭牙齒漸至頹落予與二服立愈服之無不效者本事方前集所未載上數方緣得這不易今不欲為之已有不能廣利一切謹附此與眾共之明醫者必歎賞</p>
<p>又方解一切暑毒欲死者使服之立甦</p>
<p>半夏（四兩醋一升半煮盡醋焙乾）　甘草（一兩）　桂（半兩）　赤茯苓（二兩）　白茯苓（一兩）</p>
<p>上為末用生薑汁作麵糊為圓如○大每服五十圓熱水下予夏月登途嘗藉此藥於篋笥中諸緩急及僕價門每日一服終無伏暑之疾奇驗不一</p>
<p>治諸風等疾</p>
<p>治八般頭風</p>
<p>草烏尖　細辛（等分）　黃丹（少許）</p>
<p>上為經末葦管搐入鼻中立效　</p>
<p>治偏頭風（五荊主云禁中秘方）</p>
<p>上用好蘿蔔自然汁一蟬殼樣患人仰臥石疼注左左疼注石或兩邊皆疼皆注之雖十年患者亦效王荊公患十二年用之立效後醫數人皆愈治頭痛及腦風神砂圓</p>
<p>鹽　硫黃（各等分）</p>
<p>上為末水調生面為圓如梧桐子大每服十五圓用薄荷茶食前下荊薺酒亦得</p>
<p>又方定頭疼</p>
<p>楊梅青　硝石　地龍（各等分道按楊梅青即空青無水者）</p>
<p>上為細末搐鼻立效上件四方得自至人累試有驗余鄉間有富室就余傳此方修全施人『</p>
<p>治偏正頭風夾腦風並一切頭風不問年深日近剋日取效名透頂散</p>
<p>細辛長白者（三莖）　瓜蒂（七個）　丁香（三粒）　腦子（一豆大）　麝香（一黑豆大）</p>
<p>上先將腦麝乳缽內研今極細卻將前四味碾內事治為末入乳缽內蕩起腦麝今勻用瓦罐子盛之堅新罐口患人隨左右搐之一大豆許量久出冷涎一升許師安</p>
<p>清頭風去邪順真氣</p>
<p>羌活　殭蠶（各一兩）　白蒺藜（去尖炙一兩）　甘菊（一兩）　白附子（一兩）　硃砂（一兩）　麝香（一兩）</p>
<p>上為細末每服一錢薄荷茶酒任意調下</p>
<p>治丈夫婦人風虛頭疼氣虛頭疼婦人胎前產後傷風頭疼一切頭疼並皆治之</p>
<p>茵陳（五兩）　麻黃　石膏煅留性（各二兩）</p>
<p>上為末每服一錢腦茶下食後服服畢仰臥</p>
<p>治風屑極燥無時此乃氣虛風侵邪於皮表而生焉須此藥治之甚妙</p>
<p>藜蘆根</p>
<p>上一味不拘多少為末先洗頭須避風好最候未至十少干時用藥摻定須用藥末入發至皮方得緊縛之兩日夜次日全無亦不燥癢如尚有些少可再用一次立效</p>
<p>又方</p>
<p>香白芷　零陵香（各等分）</p>
<p>上為末如前法用之候三五日後篦去再付三二次終世不生</p>
<p>治頭風荊芥散（王大醫方）</p>
<p>荊芥　石膏（各等分煅）</p>
<p>上為細末每服二錢姜三乍蔥白三寸和鬚使水一盞同煎至七分食後服</p>
<p>治偏頭風方</p>
<p>豬牙皂去皮筋　香白芷　白附子（各等分）</p>
<p>上為末每服一錢臘茶下右疼右側臥左疼左側臥兩邊皆疼仰臥食後服治急中風中閉涎上欲垂死者一服即瘥</p>
<p>江子（二粒去皮膜）　白礬（一塊如大拇指大末之按江子即巴豆）</p>
<p>上二味於新瓦上煅今江子焦赤為度為末煉蜜丸如雞頭大每服一圓用綿里於患人口中近喉如良久吐痰立效</p>
<p>治頭風頭暈目旋太陽穴痛不思飲食</p>
<p>藿香　茯苓　香附子（各一兩）</p>
<p>上為末每服二錢茶清調下日三服</p>
<p>清頭目避風氣</p>
<p>蒼朮（四兩）　荊芥　甘草（各一兩）</p>
<p>上三味為細末每服一大錢沸湯點早晨服凡入煙瘴之地宜修合隨行余昔入廣合合一劑每日一服及歸不染瘴而至僕價門亦嘗與之無染瘴疾者又況能清頭目效驗多端</p>
<p>治大人小兒驚風退熱取涎牛黃散</p>
<p>硃砂（一錢）　麝香（一字）　腦子真者（半兩）　水銀（一錢）　牛黃（一字）　狗黃（一字）　雄黃（一字）　今香（半兩（（道按狗黃即賓今香即零陵香）</p>
<p>上為末將前四味為末頓處後四味末放一處臨時和勻每服一字或半錢薄荷湯入金銀箔同調下如用取涎入江子二粒去油藥三錢和勻可服半字薄荷茶清調下量大小虛實加減與之</p>
<p>生津液玉液膏</p>
<p>紫蘇（四兩）　板桂（半兩）　甘草　白梅肉（各二兩）</p>
<p>上將上三味為末搗白梅肉為圓加雞頭大每服含化三圓</p>
<p>治一切頭疼</p>
<p>防風　川芎（各一兩）　附子（七錢重者一個炮去皮臍）</p>
<p>上為末每服一字荊芥薄荷茶調下</p>
<p>治傷寒頭疼並太陽頭疼及一切頭風</p>
<p>川烏炮　草烏（各半兩）　麻黃（一兩半）　川芎　防風　羌活　土龍（去土）　金蠍（十個）　雄黃（三錢）</p>
<p>上為末每服半錢食後清茶調下</p>
<p>又方</p>
<p>川芎（一兩）　細辛（半兩）　香附子　羌活　蒼朮（各一兩）　薄荷（二兩）　甘草（三錢）　白芷（二兩）　甘菊（一兩）　荊芥（二十文）　茵陳（五文）</p>
<p>上為末每服二錢茶清調下婦人產後傷風頭疼用當歸末石膏末同調下頭風方</p>
<p>香附子（一斤炒赤）　烏頭（一兩炒赤）　甘草（二十文）</p>
<p>上為末煉蜜圓如彈子大每服一圓蔥茶嚼下</p>
<p>治纏喉風</p>
<p>白礬（半錢）　烏雞子清</p>
<p>上二味調勻灌入喉內立效如神此方活人不記數幸勿忽治中風手腳不遂此方甚妙</p>
<p>穿山甲（二兩）　川烏頭（二兩）　紅海粉（一兩）</p>
<p>上為末每服半兩用生蔥自然汗調成膏厚作餅子約徑寸半闊左患貼左腳右患貼右腳貼在足掌心內用舊絹片緊批定於密房中無風處椅子上陲用湯一盆將有藥腳浸於湯中用小心人扶病人若汗出即急去了藥出汗遍身麻木即輕減漸至無事此妙不可言</p>
<p>治大風神效追命散</p>
<p>川大黃　皂角刺（各半斤）　川鬱金（五兩）</p>
<p>上三味為細末每服三大錢用真大楓油入無灰酒溫調藥末臨睡時服臟腑轉時只就地上取下蟲如疾多年其蟲色黑日近者其蟲色赤隔三兩日再服直候無蟲方是病瘥即止其藥只服平常風藥及諸補藥此藥大有奇效下藥切不可許病人知恐蟲藏䘌則病雞愈六十日內用清齊戒房色歇卻一切俗念亦不可嗔怒常淨口唸阿彌陀佛及救苦難觀世音菩薩遍數百萬聲最好緣此疾乃業障果報若用藥醫得病可之後恐促其壽故用念</p>
<p>佛懺悔伏幸聽信斯言至祝</p>
<p>治風解毒雄黃救命散</p>
<p>雄黃（二錢重）　川鬱金（二錢重）　巴豆（四十粒去油）</p>
<p>上為細末用醋糊為圓如錄豆大每服三圓至五圓茶清冷下治病於後○治纏喉風走馬風喉閉卒中仆地失音以至牙關緊急不知人事每服七圓熱灌茶下甚者不過二服吐出涎立甦有至死者但心頭暖用鐵物抑開口之藥咽喉無不活者或吐或瀉些少不妨或上膈壅並宜服之小兒驚風量太少加減與之</p>
<p>治一切風中及左癱右瘓口眼喎邪一切風疾</p>
<p>皂角（三莖刮去黑皮並子一莖酒浸一莖燒留性一莖炙）　薄荷（三兩）　黑牽牛（三兩）　何首烏（十二兩）</p>
<p>上先將皂角為末入水得其中熬成膏卻入後三味搗一二千杵寫圓如梧桐子大每服二十圓茶酒任下</p>

<h1>卷三</h1>

<h2>治諸氣冷等疾</h2>
<p>治一切氣疾丈夫婦人撞心冷氣並治之</p>
<p>香附子（一斤炒）　陳皮（四兩）　甘草（一兩）</p>
<p>上為末每服二錢空心鹽湯點服</p>
<p>治婦人血氣刺痛大小腹痛並血脈不調走疰疼痛並治之</p>
<p>川當歸　白芍藥（各二兩）　香附子（半斤）　山慈姑（三兩）　熟地黃（二兩）　甘草（一兩）</p>
<p>上㕮咀每服三錢水一盞烏梅一個荊芥少許同煎至七分溫空心服如腹中冷痛不止者加阿膠（二片同煎立效）</p>
<p>治婦人室女血氣刺痛不可忍夜呌喚可憐者一服見效</p>
<p>支臺子　肉桂　良薑　沒藥（各等分）</p>
<p>上干焙為末每服二錢乳香酒調下熱服不拘時候</p>
<p>和氣散治丈夫婦人一切氣疾他一瘳者</p>
<p>甘草（炙半兩）　白芨（一兩）　地骨皮（一兩）　藿香（半兩）　山蜈蚣（一兩）　白芷（一兩）　紅內消（半兩）　木香（半兩）　山慈姑（一兩（紅內消即何首烏）</p>
<p>右焙為末每服二大錢空心鹽湯點服余鄉曲有一老醫數世習醫凡婦人氣疾唯憑此藥百發百中家有十口只以此藥養家</p>
<p>治小腸氣痛不可忍者</p>
<p>烏藥搗研好舊酒浸一宿　高良薑　茴香舶上者三味（各一兩）　青此（二兩）</p>
<p>上為末每服二錢遇發時熱酒調下</p>
<p>又方</p>
<p>杏仁（一兩）　蔥白和棖搗焙乾（半兩）　舶上茴香（一兩（　</p>
<p>上為末每服三大錢空心溫胡桃酒調下</p>
<p>治膀胱氣</p>
<p>青礬（一兩）　白礬（一兩）</p>
<p>上用小瓦罐子一雙入藥於罐內用單板機皮縛緊鹽泥如法堅牢固濟炭五斤煅今通紅盡炭為度取出入地穴內去火毒二宿為末醋糊為圓如錄豆大每服十圓空心鹽湯下或白湯亦好</p>
<p>治疝氣</p>
<p>官桂（半兩）　蛇床子（一兩半）　柴胡　細辛　白芷（各二兩）</p>
<p>右㕮咀每服五大錢水二升蔥白和鬚二莖椒五十粒同煎至七分於瓶口上薰合微汗出再曖通手洗婦人帶下赤白薰之亦效（婦人用可加紫蘇一握）</p>
<p>又方</p>
<p>大蒜（三個）　韭菜（一握）　鮮菜（一握）　（道按鮮菜即生菜用菘葉）</p>
<p>右用大砂瓶內煎今百沸乘熱薰之候入得手則洗之如冷則再暖日三次立效</p>
<p>治痰氣立效散</p>
<p>川芎　川楝子　青皮　舶上茴香　桃仁　黑牽牛已上（各一兩焙）</p>
<p>上焙乾為細末每服二錢無灰酒一盞煎至八分盞溫服</p>
<p>灸法　治腎氣外腎腫小腸氣痛腹內虛鳴灸風市穴五七壯灸氣海穴七壯灸臍左右各去一寸兩穴（各七壯）</p>
<p>上予曾患此疾灸之立效後來不發甚妙</p>
<p>治液氣</p>
<p>夜明砂不拘多少為末</p>
<p>上用豉汁調塗立效</p>
<p>又方</p>
<p>銅青米醋調成膏</p>
<p>上先淨洗腋下用輕粉摻過卻使上件膏塗之立效</p>
<p>又方</p>
<p>膩粉　明礬　紅丹（各等分）</p>
<p>上為末臨睡時抹之佳可使半月日去根</p>
<p>治小腸寒方</p>
<p>枳殼（一兩）　舶上茴香（一兩）</p>
<p>上為末每服三錢臨發時空心熱酒調下</p>
<p>又方</p>
<p>木香（一兩）　天南星（半兩）　良薑（半兩與天南同用麩炒今赤白）</p>
<p>上為末每服二錢無灰酒一盞煎三兩沸空心服此二方曾醫生專修合貨賣供五口</p>
<p>治小腸氣痛撞腹面青唇黑欲死者</p>
<p>木香　茵陳　芫花　甘遂（各等分）</p>
<p>上件為末每服二錢水一盞煎至七分去滓溫服　此藥後應犯甘草藥皆不得吃恐與甘遂相反故也其藥甚妙緣處方者有理屢有效驗</p>
<p>又方</p>
<p>川棟子　茴香　川烏炮　破故紙（各等分各妙今黃色）</p>
<p>上焙乾為末酒糊為圓如梧桐子大每服二十圓鹽湯溫酒任下忌生冷動氣一切毒物</p>
<p>治遠年小腸氣眾醫不瘥者</p>
<p>硫黃　舶上茴香炒今黃不可犯銅鐵器（各等分）</p>
<p>上為末每服五錢用熱酒調空心溫服永除根本</p>
<p>治膀胱氣金蓮散</p>
<p>巴豆（一百粒）　川棟子（二十四個湯浸去薄皮切作片子）</p>
<p>上二味用麩二升同炒今黃赤去麩與巴豆不用只將川棟子一味為末每服三錢溫酒調空心下余閱古今一切名方無如此方奇特效</p>
<p>治諸腰痛等患</p>
<p>治腰疼痛用轉下膿水</p>
<p>黑牽牛　白朮（各一分）　桑白皮（一兩）　木通（半兩）</p>
<p>上為細末每服三錢茶清調下四更時服轉了粥補</p>
<p>又方治久患腰痛</p>
<p>石甜瓜（一兩）　附子炮了（半兩）　冬瓜皮（半兩）　檳榔　木香　烏藥（各半兩）</p>
<p>上為細末每服一大錢溫酒調下臨睡服此日只午後申時先吃了晚飯申時當後不得吃食專假時臥時服藥</p>
<p>治腰腳筋骨疼軟無力酒浸牛膝圓</p>
<p>牛膝（三兩炙黃）　川椒（半兩）　附子（一人十錢重者炮去皮臍）</p>
<p>左㕮咀用生絹作袋子袋盛縫結其袋口用無灰酒一斗春秋浸十四日夏浸七日冬浸十日每日空心飲一大盞候飲盡酒後出藥為末醋糊為丸每服二十丸空心溫酒鹽任下忌動風等物</p>
<p>治五般腰疼</p>
<p>巴豆五個每個用濕紙里煨今熱去穀殼取肉去油只使半出油半微去油五零脂（半兩炮）　黑牽牛瓦上炒　白牽牛（同各三錢重）　狗脊（半兩）　萆薢（三錢重）　沒藥（三十文）　胡桃（兩個取肉研為膏）</p>
<p>上件為末將前胡桃膏入醋糊為圓如梧桐子大每服十五圓風腰痛豆淋無灰酒下氣腰疼煨蔥白酒下敗精腰痛茴香酒下失血腰疼當歸酒下打撲腰疼蘇木酒下</p>
<p>又方治五種腰疼</p>
<p>狗脊　萆薢　免絲子（各二兩酒浸焙乾別研）</p>
<p>上為細末煉蜜如此○大每服三十圓用萆薢（二兩浸酒三日取酒服藥空心食前服</p>
<p>又方治遍身皆痛如勞證者傷寒身體疼者不可服但少年虛損冷憊老人諸疾並皆治之</p>
<p>黃耆　人參　甘草　附子炮　羌活　木香　知母　芍藥　川芎　前胡　枳殼　桔梗　白朮　當歸　茯苓　半夏（各半兩）　柴胡　鱉甲（各一兩）　桂心　酸棗仁（各一分）　杏仁（半兩）</p>
<p>上為末每服二錢水二盞姜三片棗子三枚烏梅三個蔥白三寸同煎至七異功散治婦人血冷氣痛心胸煩悶不思飲食四肢無力頭目昏疼寒熱往來狀似勞倦並皆治之</p>
<p>牡丹　芍藥　白芷　乾薑已上（各三錢）　當歸　陳皮　官桂　烏藥　玄胡縈　川芎　苦梗（已上各半兩）</p>
<p>為為末每服二錢生薑三片酒水各半盞煎至七分溫服初生時宜服此藥每日三服七日後漸減服數至十日滿永無疾病服後些少腹痛不妨事勿嘈￥</p>

<h2>治諸脾胃等疾</h2>
<p>開胃進食丁香湯</p>
<p>藿香（半兩）　巴豆（二十粒）　丁香（四十九粒）　粟米（一合）</p>
<p>上先將粟米巴豆肉同炒今赤色去巴豆不用只使粟米與香同研為末每服二錢米飯調下</p>
<p>大黃湯治冷涎翻辦其候欲發時先流冷涎次則吐食此乃勞證治之不早死在旦夕</p>
<p>大黃一兩生薑自然汁半茶盞炙大黃今又淬薑汁中如此淬盡切焙為末</p>
<p>上每服二錢陳爐子一撮蔥白二莖水一大盞煎至七分先食蔥白次服其藥不十日去根</p>
<p>又方治翻胃吐食</p>
<p>白礬（二兩）　黃丹（一兩）</p>
<p>上二哧為末入瓦灌子內煅今如蒸餅虛空取出以淨紙承頓地上盆蓋一出火毒再為末用蒸飲為圓如錄豆大每服三五圓至七圓空心溫酒下更量老少虛實與之</p>
<p>又方治宿食不化嘔吐酸水胸否悶冷氣腹肺寒咳嗽並皆治之</p>
<p>陳皮（四兩）　生薑（一兩半）　甘草（一兩炙）</p>
<p>上㕮咀炒今黃赤色焙乾研為末每服二大錢鹽湯點服</p>
<p>又方　</p>
<p>烏梅（二個）　縮砂（三粒）　胡椒（二十四粒）　丁香（十四粒）　巴豆（四粒）</p>
<p>上為細末研飲為圓如此○大每服七圓橘皮湯下</p>
<p>治脾疼不問新久</p>
<p>高良薑　紅芍藥（各等分）</p>
<p>上為末每服三錢水一盞煎五七沸食後服</p>
<p>治丈夫婦人老少遠年日近翻胃吐食方</p>
<p>五零脂</p>
<p>上一味不拘多少為細末用黃犬膽汁為圓如龍眼大每服一圓好酒半盞頓湯瓶頭溫磨開服不止再服不過三服即效</p>
<p>又方治胸膈不快酒食所傷漸成翻胃今乾嘔</p>
<p>丁香　巴豆　烏梅（各二十個好完合者）</p>
<p>上三味皆不去油殼並核搗三五千杵成膏入早米飲一兩同搗又二千杵今極勻細眾手圓如○大慢火焙乾淨只承頓地上出火毒每服五圓或七圓茶酒熱水任下如嘔吐酸水心腹氣痛膨脹者橘皮甘草湯下</p>
<p>治傷各有滯食哎酸銅氣心腹膨小腹不仁或時溏泄</p>
<p>高良薑　陳皮　莪朮　烏梅　生薑　甘草　乾薑（已上各等分）</p>
<p>上用好紅椒二十粒去子同研為細末每服二錢水一盞姜三片煎至七分溫服</p>
<p>治丈夫婦人心氣刺痛不可忍者</p>
<p>頭髮燒灰存性為末　丁香七粒</p>
<p>上為末酒一盞煎十數沸溫服立效</p>
<p>治噁心翻胃</p>
<p>厚朴薑汁浸炙　蒼朮　橘皮　甘草（各三兩）</p>
<p>上為細末每服一大錢空心鹽湯點服</p>
<p>東京王先生傳脾疼藥方</p>
<p>江子（半兩新瓦器中炒今黃色（　杏仁（半兩同）　牽牛（半兩同）　橘皮（一兩同）</p>
<p>上件併為末用醋糊為圓如○此大每服十圓薑湯下婦人血氣醋湯下產後氣痛艾湯下五圓丈夫酒食所傷隨物下小兒驚熱飯湯下疳積飯飲下</p>
<p>蛔蟲腹痛史君子七枚為末湯下</p>
<p>治脾疼不可忍及療冷氣疼</p>
<p>陳茱萸（二兩）　浮椒（一兩）　蚌粉（一兩炒赤色）</p>
<p>上件為末散糊為圓如梧桐子大每服五圓用浸酒鹽湯任下遇發時服甚者不過二三服立有功效</p>
<p>治脾積氣痛婦人諸般氣痛</p>
<p>香附子（五兩）　莪朮　甘草（各二兩）</p>
<p>上事治今淨研為細末每服二錢入鹽少許百沸點空心熱服</p>
<p>又方</p>
<p>良薑（四兩）　甘草（一兩）　桂花（半兩）</p>
<p>上為末每服一大錢籬鹽沸湯點服</p>
<p>治脾疼神效方</p>
<p>荔枝核</p>
<p>上一味不拘多少為末每服二錢熱醋湯調下</p>
<p>官司方七香圓</p>
<p>丁香　檀香　丁香皮　木香　陳皮　甘松　三稜　莪朮　縮砂　白豆蔻（已上各半兩）　香附子（四兩）</p>
<p>上為末用曲餅湯泡和藥為圓如錄豆大每服二十圓細嚼生薑湯下</p>
<p>治中酒不醒兼有酒食傷</p>
<p>巴豆（一粒）　烏梅（二個）　丁香（三粒）　胡椒（五粒）</p>
<p>上同搗為細末入飯同杵二三千下為圓如○大每服五圓七圓細嚼丁香湯下小兒一圓與服</p>

<h1>卷四</h1>

<h2>治諸口舌牙齒患</h2>
<p>治上膈熱極口舌生瘡</p>
<p>膩粉（一分匕）　杏仁（七粒不去皮尖）</p>
<p>上二味臨睡時細嚼今涎出則吐之用溫湯漱口未全可久合用</p>
<p>又方</p>
<p>膽礬（一塊子）</p>
<p>上用百沸湯泡開含漱一夕可瘥八分</p>
<p>又方</p>
<p>五倍子（不拘多少）</p>
<p>上為末糝在中瘡上後用茶清灌漱立止</p>
<p>治中舌生瘡</p>
<p>甘草（五文）　白礬（十文）</p>
<p>上為末含化咽喉痛亦治之</p>
<p>治滿口生瘡此因虛壅上攻口舌生瘡</p>
<p>草烏（一個）　南星（一個）　生薑（一塊）</p>
<p>治口鼻生瘡</p>
<p>上好生薑一塊臨睡時細嚼含睡不得開口生氣眠著不妨睡覺</p>
<p>治一切牙疼</p>
<p>川升麻　當歸　川鬱金　細辛（各等分）　萆撥　白芷　荊芥　（已上比前藥三分之二各等分）</p>
<p>上七味為細末用瓦合子貯之緊閉合口每用少許揩在患牙痛處溫荊芥湯灌漱立效甚者只二次</p>
<p>取牙痛今落不犯手腳</p>
<p>草烏（十五文）　畢撥（同）　川椒（三十文）　細辛（同（　</p>
<p>上為細末每用少許揩在患牙裡外不過三五次揩其牙自落</p>
<p>又方定牙痛</p>
<p>上用三腳牙不拘多少鹽泥固濟火煅通紅出火毒次碾為末每用些少頓蛀牙孔內立效臨用藥時入乳香少許今勻同用若先將乳香交和之後恐過即（即當作卻）　藥性其效較緩是故用臨和勻</p>
<p>治牙疼</p>
<p>雄黃　沒藥（等分）　乳香（少許）</p>
<p>上為末若左邊牙疼用藥搐左鼻孔次將藥吹入左耳右邊牙疼則搐右鼻孔及吹入右耳無不效驗</p>
<p>治牙齒動搖（搖下有髭烏牙牢妙</p>
<p>生薑（半斤）　生地黃（一斤各洗今淨研取自然汗滓留取）</p>
<p>上不蛀皂角十莖括去黑皮並節將前藥汁蘸皂角漫火炙今黃用藥汁盡為度並前藥滓同入磁罐內用火煅留性為末牙齒動搖用藥揩牙齦上髭黃用鐵器盛藥末三錢湯調過二日將藥汁蘸鬚臨睡時用次早已黑三夜三次用之其黑如漆妙甚此方乃得自閻知府宅貴宦常用屢有效驗治牙疼</p>
<p>鶴蝨　細辛　白芷　甘茄（各等分）　（道按甘茄即尋常茄子也）</p>
<p>上件為末每用少許揩痛處如有蚟孔用飯圓藥末塞入孔中立效取蛀牙本分法</p>
<p>磠砂（三錢匕）　硃砂（一錢）　鵬砂（成塊一錢匕）　蟾酴（七個已上同為末）</p>
<p>上和勻五月五日合者佳點藥於牙根上良久用手指揩下閃用後傳藥防風（五文）　荊芥（同）　乳香（十五文）</p>
<p>上為末揩牙落處並用些子塞牙落孔子此三方余見一道人貨藥取牙一日常貨三兩貫錢余厚賂之始傳得妙</p>
<p>治蛀牙疼</p>
<p>上川烏大者一箇舊糟內藏著候一月日透內後出切焙乾入細辛同為末揩痛處效</p>
<p>又方</p>
<p>川烏　草烏（各一個）　白附子（半兩）　附子臍（三七個）　硃砂（少許別研）</p>
<p>上為末和勻每服二錢酒水各半盞同煎至七分候冷服臨臥時不得再吃熱物</p>
<p>治一切牙疼風齦常出鮮血漸至崩落口臭不可近人者並皆治之大黃（米泔浸）　生地黃</p>
<p>上二味旋切各用一片二片合定貼所患牙上一夜即愈未全可則如前法再用如說話恐引風要津液清痛處</p>
<p>治牙痛</p>
<p>川烏　阿魏　硃砂（各等分）</p>
<p>上將阿魏醋浸入蒸餅搜作糰子切片焙乾同三味為末付牙齦上不可漱口良久或嚥下去亦不妨藥清盡又使其效如神</p>
<p>治牙疼</p>
<p>土駒（一個）　（道按土駒當作土狗考本草螻蛞一名土駒）</p>
<p>上一味用舊糟里定次將紙里浸火內煨今焦去糟只將土駒為末付牙疼處立效</p>
<p>治牙崩</p>
<p>信砒　紅丹</p>
<p>右先將砒霜頓在鐵香匙上卻以紅丹蓋定文武火上煅今煙盡為度研為</p>
<p>細末先用枳殼荊芥湯灌漱吐去將前藥末揩牙上不可吞直候涎多吐下又須用前湯灌漱立效</p>

<h2>治諸眼目等患</h2>
<p>治諸眼疾□因熱病後毒氣攻皮生醫膜遮障服此藥後遂旋消退不犯針刀青箱子　防風　枳殼（已上各一兩）　茺蔚子　細辛（各半兩）　枸杞　澤瀉　生乾地黃　石決明（各一兩半）　黃連（半兩）　川當歸（二兩）　車前子　麥門冬（二兩）</p>
<p>上各如法修事焙乾為末煉蜜圓如梧桐子大每服三十圓飯飲吞下忌一切毒物</p>
<p>又方治因五臟熱毒壅盛氣攻兩眼赤腫疼痛或生醫膜怕日羞明迎風滴淚並皆治之</p>
<p>黃芩　大黃　石膏　羌活（各一兩）　蛇蛻（一條）</p>
<p>上為叢銼散每服半兩朴硝少許通草二寸水一大碗同煎至六分臨睡溫服瀉一兩行不妨次將溫粥補自後每服只三錢重不用朴硝水煎服忌熱物及不得啼器使怒</p>
<p>又方</p>
<p>防風　白蒺藜（各一兩）　羌活（一兩半）　甘菊（三兩）</p>
<p>上為細末每服二錢鹽少許百沸湯點食後服</p>
<p>又方治腎經虛冷不候不升不能上蔭肝木致今眼目昏暗或赤腫痛癢須用此藥方能治</p>
<p>川芎　荊芥　天麻　川烏　烏藥　羌活　黑牽牛　川當歸　金釵石斛（已上各等分）</p>
<p>上為細末煉蜜圓如豆大硃砂為衣每服一圓薄荷茶嚼下</p>
<p>治丈夫婦人室女小兒諸般赤眼針頭圓</p>
<p>川烏尖（七個懷干）　白殭蠶（七個）　鵬砂（十文）</p>
<p>上為末用豬膽取汁調藥不今稀用成軟塊攤在碗內荊芥艾各一兩皂角一莖燒煙將藥碗高覆薰之常將藥膏攪轉又攤又薰皂角荊芥在盡為度再搜成塊油單里定入地中出火毒冬天兩日夏天一日夜春秋一夜取出圓如針頭大每服一圓入皮中妙</p>
<p>治眼疾穿針散</p>
<p>本賊（半兩去黑不要塵者）　香附子　細辛　菊花　羌花（各半兩）</p>
<p>上為細末每服二錢用好茶少許同點食後服</p>
<p>治清盲□眼法</p>
<p>上今患人至黃昏時尋□兒宿處驚今飛起即唸咒咒曰紫公紫公我還汝盲汝還我明如此三日自可此法雖傳得後不曾試尚恐有妄</p>
<p>治眼生醫膜及內外障</p>
<p>烏賊魚骨（一名海螵蛸）　生節腦（少許）</p>
<p>上二味碾今極細銅筋點熱湯洗銅筋三五次點立效</p>
<p>又方治眼目赤腫或癢或痛上膈壅熱而成</p>
<p>大黃　苦葶藶（各一兩）</p>
<p>上焙乾為末煉蜜圓如龍眼核大每服一圓至二圓用山梔子仁湯嚼下量大小加減與之</p>
<p>又方解熱眼</p>
<p>大黃　甘草　當歸　赤芍藥</p>
<p>上為細末每服二錢湯調下食後服或以一錢末湯洗尤妙</p>
<p>治暑月或行路目昏澀多眵黏者</p>
<p>生龜（龜當作龍）　腦　薄荷（五七葉手揉爛）</p>
<p>上用生絹烈汁滴入眼中妙</p>
<p>治眼洗肝散（此與別方不同錢）</p>
<p>大黃　甘草（各半兩）　菊花　人參（各一兩）</p>
<p>上為細末每服一錢熟不調下各用忌毒</p>
<p>治久□宣連（去毛）　黃柏　秦皮　</p>
<p>上三味等分為末每服一錢水一盞煎五七沸煎五七沸用夾絹濾去滓承熱湯洗候</p>
<p>藥冷住再暖又洗滓又並煎洗</p>
<p>治氣毒赤腫熱痛眼</p>
<p>好真運（半兩）　生龍腦（自然汁半盞）</p>
<p>上二味煎取一盞點洗這飽食後服一呷須用人實壯可服虛薄者不可服洗眼明睛散</p>
<p>馬牙硝（一兩）　青礬（少許）</p>
<p>上二味研勻用水調文武火煎乾出火毒一宿次用蔓荊子防風二味為極細末各三錢重入前二味同拌勻每服一字用百沸湯泡洗</p>
<p>治風毒眼□</p>
<p>何首烏　荊芥　甘草（各等分）</p>
<p>上為細末用砂糖為圓如彈子大每服一圓食後薄荷茶嚼下</p>
<p>治眼慕（慕當作暴）　赤澀腫疼痛</p>
<p>木賊（半兩）　細辛（半兩）　草烏（一兩）　龍腦（半兩）</p>
<p>上銼每服三大錢水一大盞黑豆半合煎至一兩沸入沙溏一塊如大彈大煎至八分去滓食後溫服忌毒煎煿油煿點醬熱物及不得嗔怒房色等事則使易獲痊安</p>
<p>治赤腫眼</p>
<p>右以白薑末水調貼腳掌心又以土原朱蜜調睡貼眼上</p>
<p>又方治睛疼難忍者</p>
<p>川當歸　防風　細辛　薄荷（各等分）</p>
<p>上為細末每服二錢麥門冬熟水調下食後日午夜臥各一服</p>
<p>又方</p>
<p>白芷　赤芍　防風　細辛（各等分）</p>
<p>上為末每服三錢水一盞砂糖二錢同煎七分去滓溫服不拘時候</p>
<p>治久年眼生黑花不忍者</p>
<p>椒目（一兩炒）　蒼朮（二兩炒）</p>
<p>上件為末醋糊為圓如梧桐子大每服二十圓醋茶送下不過十日取效點眼水膏</p>
<p>鵝梨（道按鵝梨即梨肥大者）　（一個）　鷹爪黃連（半兩）</p>
<p>上用砂瓶一雙先入梨次入黃連末候初第一次下雪時取雪滿入砂瓶內油單封口入地五寸深候立春日交春時候過了取出點眼或溫過洗妙</p>
<p>治眼目諸疾點眼膏子</p>
<p>羊膽（一個）</p>
<p>上一味入蜜一錢在膽內線札定坩鍋內滿入水煮熟冷水內浸取出候乾頓入角罐內竹筋點眼四角立效</p>
<p>神驗點醫藥照水丹</p>
<p>硃砂（半兩）　海螵蛸（一錢）</p>
<p>上二味乳缽內細碾水飛過澄取又用黃蠟少許溶旋入藥待要用時就火旋圓如蘿蔔子大臨睡時用一圓點入眼角緊閤眼睡著次日用溫湯洗下未全退者更用一服極炒用此藥後或更以所吃藥與之尤妙明醫者自能</p>
<p>斟酌但眼患比他疾不同</p>
<p>治男子婦人血灌瞳人及睛疾</p>
<p>生乾地黃　大黃（各一兩）　朴硝（一兩）　沒藥（半兩）</p>
<p>上為細末每服一錢熟水調下</p>
<p>治到睫爛眩</p>
<p>蜜（一兩）　虢丹（五錢重）</p>
<p>上二味漫火熬成膏入輕粉五文今熬黑色逐時泡沫點之</p>
<p>點冷淚眼二霜膏</p>
<p>南鵬砂（一錢）　蕤仁（十四粒出油）　姜霜末（半錢）　腦子（少許）</p>
<p>上乳缽為細末用糖半兩研勻為膏銅筋點之立效　</p>
<p>治諸般眼患菊睛圓</p>
<p>甘菊花　川芎（一兩）　甘草（一兩）　天門冬（四兩）</p>
<p>上為細末煉蜜為圓如○大每服十五圓至二十圓熟水吞下日三服余寓衡陽日有一婦人患眼十年餘與此藥十服瘥</p>

<h1>卷五</h1>

<h2>治諸喘嗽等患</h2>

<h3>治遠年日近喘嗽</h3>
<p>皂角（不蛀者三大莖）</p>
<p>上一味刮去黑皮刀切開去子每子倉內入巴豆肉一粒合就麻皮縛定用生薑自然汁和蜜塗今周匝漫火炙又塗又灸以焦黃為度擘開去巴豆不用以好明礬一兩枯過萆麻七個薑汁和蜜塗炙前三味為末卻以杏仁二兩去皮尖研成膏卻與前藥和勻每服一錢用梯（梯當作杮）　子干炙過候冷點藥細嚼臨睡服忌熟毒魚鮓鮭鯗油麵酒米醋煎煿熟毒等物</p>
<p>治十六般哮嗽</p>
<p>黃明膠（二兩銼炙）　馬兜鈴　甘草（炙）　半夏（　薑汁浸三日）　杏仁（去皮尖已上各一兩）　人參（半兩）</p>
<p>上為末每服一大錢水一盞隨病有湯使煎至七分臨睡食後服湯使於後○心嗽面赤或汗流加乾葛煎服（早吃晚飯）　○肝嗽眼中淚出入烏梅一個糯米三（三當作十）　四粒煎服○脾嗽不思飲食或一兩時噁心入生薑三片煎○胃嗽吐逆吐酸水入蚌粉煎○膽嗽咳今人臨睡用藥半錢茶清調下○肺嗽入秦艽末同煎○冷嗽天曉嗽甚蔥白三寸同煎○血嗽連頓不住當歸末棗子同煎○暴嗽涕唾稠入烏梅生薑煎○產嗽背甲疼痛甘草三寸同煎○氣嗽肚痛脹滿入青皮去白同煎熱嗽夜甚蜜一匕蔥白同煎○哮嗽聲如移鋸入半夏二個同煎○腎嗽時復三兩聲入黃耆白飴糖煎○上件十六般嗽疾依法煎服無不效驗此方乃都下一家專貨此藥活十餘口余因中官厚賂錢物方始傳得屢試有驗</p>
<p>治遠年日近哮嗽妙方</p>
<p>砒（一錢）　麵（一錢）　海螵蛸（一錢）</p>
<p>上三味為末水調作餅子漫火炙黃再研今細每服一字用井花水調一大呷空心服良久吐出為度小兒加減與之忌食毒物</p>
<p>治魚哮</p>
<p>古老錢（七個）　白梅肉（七個）</p>
<p>上水一大盞兩宿每服一茶腳許空心服良久吐惡物</p>
<p>治膈上有痰川芎圓</p>
<p>川芎（二兩細銼漫火熬熟）　川大黃（二兩蒸今極熟）</p>
<p>上件焙乾為末用不蛀皂角五七挺盡絹濾去滓瓦器中熬成膏和前二味為圓如錄豆大每服十五圓生薑湯下小兒三圓</p>
<p>補肺法</p>
<p>地黃（二斤生淨洗）　生薑（四兩）　杏仁（二兩）　蜜（四兩）</p>
<p>上搗如泥瓦合盛飯上蒸五七度每日更挑三匙嚥下</p>
<p>治氣喘咳嗽</p>
<p>大黃（半兩）　葶藶子（一兩淨洗瓦上炒）</p>
<p>上為末煉蜜圓如梧桐子大每服五七圓用桑白皮湯下</p>
<p>又方</p>
<p>草烏（五錢重）　麻黃（三錢重）</p>
<p>上為末每服三大錢蘿蔔一個同煮今熟只吃蘿蔔妙</p>
<p>又方</p>
<p>天南星（二個大者）　蚌粉　甘草（等分）</p>
<p>上為細末每服一錢水一盞姜三片姜至七分臨臥溫服</p>
<p>治暴嗽</p>
<p>白礬（一兩細研）　砒霜（一錢）</p>
<p>上為細末砒霜安放茶盞底卻將礬末鋪蓋火煅為末烏梅肉圓如錄豆大硃砂為衣每服二圓紫蘇湯下</p>
<p>治久年日近喘嗽</p>
<p>蟬腿（一兩去頭足）　五零脂（半兩生）　蚍（半兩生用）　馬兜鈐（一兩生）</p>
<p>上件除出輕粉研為末用生薑荸齊自然汁合粉藥圓如○大每服一圓臨臥細嚼生薑湯下送下忌毒</p>
<p>定喘</p>
<p>天南星　半夏　青皮（炒今黃）　白礬（炒各等分）</p>
<p>上為末每服一錢好北棗去核入藥在內細嚼嚥下</p>
<p>治諸般嗽</p>
<p>甘草（十三文）　滑石　葛根　桂枝　桂花（各十文）　瓜姜（一個和皮子使）　山藥（二兩）　蚌粉（黑色者）　苦參（各五文）</p>
<p>上為末每服二錢姜五片棗子三枚水一大盞入蜜同煎至八方服治勞嗽</p>
<p>青黛（三錢）　辰砂（一分）　雌黃　雄黃　白礬　信砒（各一錢並生用）</p>
<p>上併為末淡豆豉一百粒湯浸去殼研如膏入前六味圓如梧桐子大每服一粒臨睡冷茶清下</p>
<p>化痰涎方</p>
<p>明礬（一兩枯過）　白殭蠶（半兩去頭腳絲）</p>
<p>上為末研生薄荷今爛和圓如錄豆大每服二十圓薄荷湯下日三服治嗽</p>
<p>不蛀皂角（去黑皮）　乾薑　板桂（去粗皮各半個）</p>
<p>上為末煉蜜為圓如梧桐子大每服十五圓薑湯臨睡時下</p>
<p>治諸般嗽疾</p>
<p>天南星　半夏（各一兩各使薑汁浸一宿）　豬芽皂角（去黑皮並子）　杏仁（去皮尖麵炒黃）　青黛（各半兩）　焰硝（三錢）　巴豆（二十一粒去殼生用）</p>
<p>上一處為末姜糊圓如錄豆大每服七圓臨臥薑湯下</p>

<h2>治諸瘰癧等患</h2>
<p>治諸瘰癧</p>
<p>硃砂　砒霜　硇砂　馬牙硝（各等分）</p>
<p>上乳缽內研細麵糊搜如香附子狀相瘡口大小作之盡送人瘡口中若腫時用薄荷研細塗之待收口了卻將大柏皮並白丁香併為末盡入孔中如邊不幹卻用</p>
<p>江子（乃巴豆也去殼不拘多少）</p>
<p>上用麻油煎今赤火氣後去巴豆入蠟合如膏看瘡口大小塗之及將白芨末水調塗瘡上立效</p>
<p>又方</p>
<p>蜜陀僧（十文）　青礬（五文）</p>
<p>上二味為末干糝更用麵糊搜藥用奄貼之候瘡干更上藥三五次然後用白芨黃柏皮二味調作奄貼之無不效者</p>
<p>治鼠癧瘰癧</p>
<p>上一味研為末入水銀粉干傳</p>
<p>又方</p>
<p>田螺殼（燒灰留性）</p>
<p>上一味為末傳之妙</p>
<p>又方</p>
<p>黃荊子（又名蔓荊子）　乳香　甘草（各等分）</p>
<p>上為末每服一錢熱湯調食後良久服</p>
<p>又方</p>
<p>土附子（一個洗）　鹽（三升）　小便（五升）</p>
<p>上三味同浸半月日取出將附子黑皮險干為末用黑豆爛煮研為膏圓附子末如梧桐子大每服七圓溫酒早晚下二服</p>
<p>治漏癧</p>
<p>蛇菰子（不拘多少）　（按蛇菰子未詳一作蛇床子）</p>
<p>上一味瓦上燥干為末用紙捻掿入瘡內立效</p>

<h2>治諸鼻耳等患</h2>
<p>取鼻痔</p>
<p>巴豆（十三個去殼）　陽起石（一錢）　石連肉（三十個）</p>
<p>上為末每用半字許搐入鼻內又用綿塊子蘸藥塞入鼻中其痔內化爛出了</p>
<p>又方</p>
<p>蠍稍（一錢）　巴豆（五粒去油）　丁香（五粒）　白丁香（七粒）</p>
<p>上為細末用螺青一字和勻用內消膏藥溶開入上件藥搜圓如龍眼核大用一圓安鼻內</p>
<p>又方</p>
<p>苦丁香（乃苽蒂十四個）　赤小豆　丁香（各十四個）</p>
<p>治飛蟲入耳</p>
<p>上用好酸米醋一味滴入耳內蟲必出不出即死曾有一人被焦蟲入耳其蟲口硬如鐵但身軟用此藥滴之立死而出</p>
<p>治酒查鼻及婦人鼻上生黑刺者</p>
<p>生硫黃（十文）　輕粉（同）　杏仁（五文）</p>
<p>上為末用餅藥調臨臥時塗早則洗去</p>
<p>治鼻不聞香臭多年者亦治</p>
<p>生蔥一味</p>
<p>上將蔥分作三段早用蔥白午用蔥管中截晚換蔥管末梢一截塞入鼻中今透里方得不二三日用之便聞香</p>

<h1>卷六</h1>

<h2>治諸癤等患</h2>
<p>化毒方治一切癰疽瘡癤未成者速散已成者速潰敗膿自出無假手擠惡肉自去不犯針刀服藥後疼痛頓減此其常用者效也此方得自於都下異人時有苦背瘍者七十餘頭諸藥試遍不獲痊準備眾醫環立如堵出是方示之相目而笑曰是豈癰背所有藥耶固謂之曰古人用方自有意義觀其所用藥性平和縱未以已疾必不能壞病服之何害乃治此方藥與之以熟酒一升許下藥五六錢少頃減七分數服後瘡大潰膿血流逆若用物自內托出服之半月瘡口遂合若未常有所苦者又有苦腹疾者其痛異常醫者莫曉時意謂此藥大能止痛試與餌之當日下濃二三碗許痛亦逐止思察之乃腹癰也又一老人忽胸間發腫根腳甚大毒氣上攻如一瓢然斜捕頂石不能轉動遂以此藥與服明日腫毒既散餘一小瘤如粟米大又明日怗然如故無事又一人發腦疑此不能救逐殞於庸醫手次年其子後苦此疾與父無異病狀一同因懲父之失縱飲酒服此藥而至不覺大醉竟日衰臥地上及至酒醒病已去矣又一婦人髮乳焮腫疼痛日夜叫聲不絕哀苦之音皆不忍聞自謂無生理又有一婦人股間發腫大如杯碗服此藥皆脫然如失物是藥濟苦者不可記數姑摭一二以示大略○大隻癰疽之作無非氣血凝滯風毒壅結或飲酒食熱物過多房室虛甚榮衛不調所致治之不早則外壞肌肉攻臟腑去生遠矣詳味此方其所用藥皆發散內毒調理氣血排膿止痛生肌長肉等藥五毒不試而坐收瘍醫十全之功其可悉述乎（悉述作尚巳）</p>
<p>人參（用新羅者團結重尖滋潤者洗淨去盧薄切焙乾）　防風（擇新者淨洗切焙）　當歸（取川中來者澤大念）　（澤作擇今作個）　如馬尾狀滋潤甜辣者香芬者溫水洗薄切焙乾）　黃耆（川綿者為良狀□（狀下有如字□箭誤）　乾者長一二尺不開者洗淨寸截槌碎擘如系狀以鹽湯浸透微火灸酥再銼入眾藥中）　芎藭（川中者為上今多止是撫芎不用淨洗淨焙乾）　厚朴（宜用梓州來者厚而紫掐乏油色者佳去鹿（鹿當作粗皮切薑汁淹一兩焙炒）　白芷　枯梗（以有心味者為真無心味苦者薺苨也切勿誤用洗淨去頭薄切焙乾入眾藥）　桂（宜用卷薄者古法帶皮桂每兩止取二錢半用一兩者當買四兩內取一兩好者不見火）　甘草（生）</p>
<p>上十味選藥貴精者皆取淨曬乾極燥方秤人參當歸黃耆各二兩其他七味各一兩除桂外一處為末入桂今勻每服三錢漸加至五六錢熱酒調日數服以多為妙服至瘡口合更服為佳所以補前損杜後患也不飲酒濃煎木香湯下然不若酒力之勝也或飲酒不多能勉強間用酒調下並木香湯解酒切效當不減於酒也</p>
<p>又方治一切惡核瘰癧癰疽等病及惡腫</p>
<p>青木香　沉香　乳香　麝香　升麻　獨活　連翹　桑寄生　木通　夜千（道按夜千即射干）　（已上一兩）　大黃（大黃下有五兩字）</p>
<p>上㕮咀（乃為銼散也銼今如麻豆大也）　每服四錢水二盞煎至一盞已上去滓取八分清汁空心熱服半日巳上未利再服以快為度或下惡物未生肉巳前時服不妨以析毒熱之氣或有人使竹瀝芒硝恐有藥之人不能斟量是故不載知者當自相度用之</p>
<p>又方治癰疽發背丹𤺋赤腫惡肉時行熱毒變作赤雜及眼赤痛生障醫病方黃芩　白芨　麻黃（去節）　漏盧（真者）　白薇　枳殼（麩炒去穰）　升麻　白芍藥　川當歸　川牛膝　甘草（各二兩）</p>
<p>上為粗末每服四錢水一盞半煎至七分空心熱服或利一二行利再服或加芒硝三錢未成者散去巳成者立潰癰癤藥中無如此三方妙絕余每用濟人不少凡有患癰癤發背等疾服此二三藥獲安之後宜常服四物湯交和黃耆建中湯空心煎服未來恐疾再作傳其難又兼費財不秘者（者下有欲天下人安故也七字）</p>
<p>治發背內潰及諸惡毒衝心嘔吐疼痛不可忍三兩服可救一命應干瘡毒癰疽等疾每日一服無不除愈幾托毒氣使出胩處不至內攻乳香散錄豆粉（四兩）　乳香（一兩）</p>
<p>上二物再同碾極細每服一錢新汲水調下水不宜多要藥停在胸也甚妙</p>

<h2>治諸水腫氣疾</h2>
<p>治十腫水病並根源證狀方法</p>
<p>一蒸水先從左右肋腫根在肝藥是大戟</p>
<p>二赤水從舌根起根在心葶藶子</p>
<p>三黃水從腹腫起根在心葶藶子</p>
<p>四白水從腳起根有肺稿本</p>
<p>五黑水從險（外腎也）　腫起根在腎連翹</p>
<p>六玄水從面腫起根在外腎芫花</p>
<p>七風水從四肢腫起根在骨澤瀉</p>
<p>八石水從腎腫起根在膀胱桑根白皮</p>
<p>九蒿水從滿腹腫起根在小腸巴豆</p>
<p>十氣水或成或衰根在腹赤小豆（道胺成當作盛字）</p>
<p>上十般腫病各有根源種不同看十腫病根除一味用將九味等分遂味用制者依法修治焙為細末煉蜜為圓用赤茯苓湯吞下不拘時候其圓如梧桐子大每日三服忌鹽一百二十日緣鹽能化水故也然忌魚鮓麵食一切毒　物及生冷等物及不得行房事此病去生甚遠取死將近或得良醫醫者得余此方慎勿輕賤雖千金難換但余欲天下人安故也用此方獲瘥這後更用後來補藥</p>
<p>補藥方</p>
<p>肉桂（去粗皮）　青皮（去白）　乾薑（湯洗）　莪朮（醋煮軟）　川芎　肉豆蔻　雞心檳榔　桔梗（各等分依法制治）</p>
<p>上等分治為末每服三錢百沸湯點服空心食前日午食前晚食前各一服○前項二方治水腫病餘遂百計來此醫人多酬黃白之物遂得此二方余試用這百發百中獲濟者無數世間所有水病方藥無柴二方之右者余初出本事方前集尚有此後集二帙初深秘之今見前集已盛行於世此後集今亦略傳一二仁者使天下皆得躋盡天年母羅枉斃云</p>
<p>治婦人經脈不通即黃水水流四肢則遍身皆腫名曰血分其候與水腫相類一等庸醫不問源流便作水疾治之非唯無效又恐喪命此乃醫殺之也宜用此方力效</p>
<p>人參　川當歸　瞿麥穗　大黃（濕紙里二升米上蒸米熟去紙焙乾）　赤芍藥　桂（去皮）　白茯苓（已上各半兩）　苦葶藶（炒二分）</p>
<p>上為細末煉蜜圓如梧桐子大每服十五圓空心米飲下漸加二十圓止於三十圓每無不效者</p>

<h2>治諸瀉痢疾（附大便秘）</h2>
<p>治冷熱痢疾（無疾字有等患二字）</p>
<p>鶯粟殼（二兩）　白姜（三錢重）　甘草（五錢重）　芥葉（半兩）　（白姜即乾薑）</p>
<p>上件㕮咀分作每服人蜜十文用水一盞煎至七分溫服空心下治一切痢</p>
<p>砒霜　黃丹（各等分）　</p>
<p>上同研細用黃蠟溶和藥末為膏旋圓如錄豆大每服三圓飯飲下小兒圓如粟米大飯飲下忌葷腥</p>
<p>治赤白痢</p>
<p>赤芍藥　香附子（炒去毛）　地榆（等分）</p>
<p>上三味處為末留心認記赤痢用赤芍藥末一錢香附末半錢地榆末例用一錢蜜一七水一盞煎五七沸空心溫服白痢香附子末一錢芍藥半錢地榆一錢蜜一七水一盞同煮至七分空心溫服日二服小兒加減速與之</p>
<p>治脾胃有積臟腑不寧冷熱相摶遂赤白痢不思飲食腹痛不可忍並皆治之</p>
<p>罌粟殼（四兩蜜炙）　川當歸（半兩）　甘草（同炙）　白芍藥　桂（去粗皮）　訶子　白善土（道按白善土即白亞土）　（煅各半兩）</p>
<p>上為細末每服五錢沸湯點服空心服或用生薑二片棗子二枚同煎至七分空心服尤妙</p>
<p>又方</p>
<p>茱萸　黃連　阿膠　白芍藥（等分同妙今焦黃色）</p>
<p>上為細末麵糊為圓如梧桐子大每服三十圓陳米飲下小兒十圓</p>
<p>又方</p>
<p>黑豆（五十粒）　陳皮（半兩）　罌粟殼（十四個）　甘草（三寸）</p>
<p>上四味半生半炒用水一碗藥散四錢煎至七分空心溫服盡此一劑無不效者</p>
<p>治瀉痢</p>
<p>白石脂　乾薑（等分）</p>
<p>上為末麵糊不圓如梧桐子大每服三十圓飯飲空心送下霍亂吐瀉漿水下</p>
<p>治水瀉並赤白痢</p>
<p>草烏（大者一兩半）</p>
<p>上將一半燒灰一半生用為末醋糊為圓痢甘草湯上白痢乾薑湯下水瀉井花水並空心服忌腥臊（臊下有熱毒生冷四字）</p>
<p>治大便秘結</p>
<p>大黑腰棗（三個）</p>
<p>上將棗子擘開去核水銀粉於棗核孔中塞滿濕紙里煨用生蔥茶清嚼下治大人婦人膈上虛發肺腑痰壅調三焦開胃口大小便秘結不通及腸風等疾並皆治之</p>
<p>麻仁（八錢重）　（技麻仁上闕他藥）</p>
<p>上為末除出麻仁研為膏次入前藥煉蜜為圓如梧桐子大每服二十圓空心茶酒任下</p>
<p>治大便秘結搜風寬腸</p>
<p>青皮（去白）　威零仙（去頭洗各二兩）　大黃（一兩半）　大戟（一兩）　牛蒡子（四兩新瓦上炒）</p>
<p>上為末每服一錢人實壯每服三錢蜜酒調下服畢漱口</p>
<p>治肺臟風毒熱壅鼻塞口乾大便秘</p>
<p>枳殼（一兩麩炒去穰）　川朴硝（一兩）　川大黃（同）　牛蒡子（半兩炒）　芎藭（二分）　郁李仁（一兩半去皮）</p>
<p>上為末每服一大錢蜜水調下忌一切熱物等物</p>
<p>治大小便不能行滯氣五宣散</p>
<p>瞿麥　木通　甘草　虎杖　滑石（各等分）</p>
<p>上㕮咀每服二大錢水一盞燈心數莖煎至七分臨臣臥時溫服</p>
<p>治大小例秘經日欲死者</p>
<p>推車七個（車下有客字道按推車客蜣螂一名）　土狗（同）　○（如同子病推車客用頭土狗用身如女人病土狗用頭推車客用身）　上新瓦上焙乾為末只一服用虎目樹皮（虎目樹椿一名）　向南者濃煎汁調服經驗如神治赤白痢</p>
<p>罌粟湯（一貼局中者）　加白朮（半兩）</p>
<p>上將白朮分作二分罌粟湯全貼只作一服煎入白朮一半服畢再將滓加白朮一半甘草三寸木爪三枚同煎又服立效</p>
<p>極妙痢藥</p>
<p>石榴皮　陳皮　甘草　川當歸　罌粟（各半兩）</p>
<p>上將上件五味㕮咀用水十盞煎取三盞次用下藥</p>
<p>茯苓（七錢重）　粉重（同）　北棗子（七個）</p>
<p>上為末將煎藥汁此三味再煎五七沸去滓人心溫服甚者不過兩劑小可痢則一劑效</p>
<p>治痢應圓</p>
<p>黃丹（三錢重）　巴豆）　四十九粒去油）</p>
<p>上二味研為末黃蠟深開入藥調勻候冷取出安瓦合子盛要用時旋圓如錄豆大每服四五圓赤痢甘草湯下白痢乾薑湯下赤白痢相雜乾薑甘草</p>
<p>同煎湯下可加烏梅同煎水瀉米湯下瘧疾桃葉七片揉水面北五更初下發日服</p>
<p>救命延年治丈夫婦人一切重痢</p>
<p>黃連（六兩）　乾薑　當歸（川者）　阿膠（各三兩）</p>
<p>上三件為末用米醋煮阿膠今消盡（須用則料得醋恰好不可剩）　將藥末搜醋圓如梧桐子大每服三十圓飯飲吞下甚妙如神痢方中之魁也</p>
<p>治痢疾</p>
<p>黃連　巴豆（去殼各三兩）</p>
<p>上二味和炒赤色各研為末以錄豆打糊為圓如○大作記認二處安頓（巴豆末作一處圓黃連末別作圓）　白痢黃連圓二十粒米湯米泔下赤痢巴豆（豆下有圓子）　二十粒用井花水下</p>
<p>治婦人胎前產後赤白痢</p>
<p>生薑（年少者百錢重年老者二百錢重時自然汁）　鴨子（一雙打碎入薑汁內攪勻）　（時作取雙作只）</p>
<p>上二味煎至八分入蒲黃（三錢重）　煎五七沸溫湯空心服立效（此二方授於撫州章道人（道按鴨子即野鴨卵俗名阿比留多方古）</p>

<h1>卷七</h1>

<h2>治諸痔疾（並論五痔）</h2>
<p>大凡五痔皆因虛憊恣食五辛五味雞魚而成熱毒壅入大腸津液不通氣血凝滯久坐久忍不糞水冷入河水洗酒後行房及暑月行路坐諸熱地又移坐冷種種能成斯病</p>
<p>一者肛腸生肉腎痔鼠你可似櫻桃或似大豆時時出血又如出膿名曰鼠你痔</p>
<p>二者肛邊大乳痛腫無膿血名曰酒痔飲酒便發</p>
<p>三者肛邊努核疼痛難忍糞則有血或因憂愁思盧冷熱不調無時而發名曰氣痔或大便澀難氣結不通下血麵食少無味各曰勞痔</p>
<p>四者大便後下諸膿血更加痛澀肛腸努出名曰脫肛痔</p>
<p>五者氣攻兩腎臉大便不通糞血色下赤黑毒熱不消肛門濕癢一似蟲行五痔者因房室大勞多仿雞魚陳久之物即成斯疾也熏洗痔方</p>
<p>枳殼（不拘多少）</p>
<p>上為末每服二錢水一盞砂瓶內煎百沸先去瓶上坐熏後卻瀉出通手熱洗妙</p>
<p>治痔下腫痛</p>
<p>枳殼（一兩陳粟同炒今黃赤粟不用）　青木香（一分）</p>
<p>上為末每服二錢飯飲調下</p>
<p>治痔漏瘡方</p>
<p>雞子（一雙煮熟去黃取白切焙）　白礬（明者如皂角子大匙上焙過用三兩）</p>
<p>上為末先用溫湯淨拭乾用紙捻點藥送人瘡孔內立效一日三易</p>
<p>治痔方　</p>
<p>信砒（一兩煅今煙盡）　穀精草（三錢）　白礬（一兩）　硇砂（三錢）</p>
<p>上為細末綿塊點藥撲上如痔干可用調傳</p>
<p>治因痔疾陰礙大便秘結</p>
<p>牽牛　青皮　威零仙　大戟　大黃　</p>
<p>上為末量人大小每服一錢二錢至三錢用蜜酒調下須用冷熟水漱口治男子婦人諸般痔漏</p>
<p>黃牛角　狠毒（等分）</p>
<p>上為末糞花漏每服一錢甘草湯下合官司漏酸醋調一錢滴珠漏山梔子三個煎湯下半錢勞漏薑湯調下半錢腸內米飲下一錢</p>
<p>治痔</p>
<p>神香（道按神香即香木類返魂香一名）　（明礬燒灰多燒則有灰）</p>
<p>上一味燒苦竹瀝調傳　</p>
<p>治痔諸痛</p>
<p>大蜈蚣白礬二味為末用棗肉圓分作二圓燒煙用竹筒透引煙燻痔妙</p>
<p>治腸風痔漏</p>
<p>赤芍藥　官桂　甘草（炙已上等分）</p>
<p>上㕮咀每服二錢生薑二片白礬一塊水一盞同煎至七分去滓空心服</p>
<p>又方</p>
<p>雞冠花（不拘多少）</p>
<p>上一味濃煎湯每服一盞空心下</p>
<p>治痔漏此因大腸感風熱而生</p>
<p>生砒（一字）　水銀（一粒如米大）　膩粉（一字）　真麝（一粒如小豆大）</p>
<p>上件併入乳缽內左今極細如痔或有珠子者將白礬湯淨洗拭乾用手捻藥揩在痔肉上揩得癢時便是藥行一日二次用又洗去五日後住藥見效如咸有孔即用紙捻子引藥送入今知徹其內更用紙塞孔前一日兩次使藥自能生合</p>
<p>上為末蒸餅為圓如錄豆大每服空心枳殼湯下一圓不過十日取效理痔方</p>
<p>五零脂（四錢）　膩粉（半兩）　麝香（三十文）</p>
<p>上研為末先用甘草湯洗後用津唾調抹痔上痔濕則干撲</p>
<p>熏痔方</p>
<p>官桂（五錢）　蛇床子（半兩）　蛇蛻（一條）</p>
<p>上為末每用一錢湯煎熏洗</p>
<p>傳痔方</p>
<p>斑貓（十個）　輕粉（半錢）　馬牙硝（三十文）　好紅椒（一錢）　黃皮（半錢）　（道按黃皮即陳皮）</p>
<p>上為末先用皂角荊芥洗今淨拭乾用麻油藥傳</p>
<p>收痔方</p>
<p>白斂　白芨（各一兩）　黃皮（二兩）</p>
<p>上為末入輕粉麝香各少許麻油調傳立收了此藥不能去根但緩急展限而已</p>
<p>治腸風痔漏</p>
<p>鯽魚（一個）</p>
<p>上將魚破開去盡腸入白礬今滿瓦上燒過併為細末用雞毛捲藥傳之立效　</p>
<p>治腸風痔漏</p>
<p>大黃　當歸（川者）　苦參　牙皂（去皮）</p>
<p>上等分為末醋糊圓如梧桐子大每服二十圓空心溫酒下</p>
<p>治痔疾腸風</p>
<p>半夏（湯泡洗七次）　黃蓍　枳殼（去穰）</p>
<p>上為細末薑汁糊圓如○此大每服三十圓溫酒空心下</p>
<p>治痔漏下血不止及收痔</p>
<p>城市河中水</p>
<p>上一根水脫衣坐水中頻洗即止痔亦可不過三五次立效</p>
<p>治諸痔疾</p>
<p>塗杉（即杉木塗土被埋者）　朴硝　大黃　側柏（各等分）</p>
<p>上㕮咀瓦罐內煎二十沸安身於罐上坐黨其痔疾堪手下則洗之效</p>
<p>又方</p>
<p>枳殼　甘草　香附子（炒去毛）</p>
<p>上各等分為細末每服二錢米泔調下甚妙此方乃吳知府宅方</p>
<p>治腸風痔漏</p>
<p>穿山甲（一兩火煅焦煙）　麝香（一錢）</p>
<p>上為末每服一錢空心飯湯下</p>
<p>熏痔方</p>
<p>鼠痔方</p>
<p>鼠朗度（道按鼠郎和名伊多知）</p>
<p>上一味瓶內燒煙坐身於瓶口熏三五次除根</p>
<p>又方</p>
<p>上用降真香燒煙燻妙</p>

<h1>卷八</h1>

<h2>治諸打撲傷損等疾</h2>
<p>治打撲傷損</p>
<p>川烏　草烏（各一兩）</p>
<p>上為末用生薑汁調作掩子貼損處又綿縛定</p>
<p>治打損接骨方</p>
<p>接骨木（半兩乃蒴擢是）　好乳香（半錢）　赤芍藥　川當歸　川芎　自然銅（各一兩）</p>
<p>上件為末用黃蠟四兩深入前藥末攪勻候溫軟眾手圓如大龍眼如打傷筋骨及閃抐著疼痛不甚忍者用藥一圓好舊無灰熱酒一盞浸藥候藥漬失開承熱呷之痛絕便止若大叚傷損碎折先整了骨用前藥貼瞭然後服此藥表裡兩次無不效者此二方是一副不可分開余得之費數十緡今不敢秘</p>
<p>治打撲傷損</p>
<p>草烏（五兩）　沒藥（三錢）　自然銅（半兩）　青皮（二兩）　苦丁香（十個甜瓜蒂是）</p>
<p>上為末每服二錢用溫無灰酒調吃黑水牛肉蘿蔔只得使鹽此二物之外並皆忌之不得吃　</p>
<p>治打撲傷損定痛掩</p>
<p>木瓜　術　蜜陀僧（等分）</p>
<p>上為末入麵少許調作糊貼痛處</p>
<p>又方</p>
<p>草烏　白殭蠶　蒼朮（各等分）</p>
<p>上為末薑汁調貼痛處</p>
<p>治打撲肉損筋骨疼痛</p>
<p>沒藥　乳香　芍藥　川椒（去子及閉目者）　川芎　當歸（各半兩）　自然銅（三錢半炭火燒）</p>
<p>上為細末用黃蠟二兩深開入藥末不住手攪勻溫圓如彈子大每服一圓用好酒煎開消盡乘熱一服吃盡看那處痛向痛處臥霎時服三五圓立效治打撲傷損</p>
<p>生葛根</p>
<p>上一味搗爛用米醋調開攤痛處綿縛定</p>
<p>又方</p>
<p>上野柳樹根細杵用米醋調開攤痛處古甘橘葉白酒糟杵細縛痛處或大叚痛用火燒今用紅醋並米泔潑地上急鋪薦患人去薦上臥蒸出汗○內則服藥外則掩則易安</p>
<p>治打撲傷損筋骨</p>
<p>上夜合樹皮四兩炒乾末之入麝香乳香各一錢重每服三大錢溫酒調不飢不飽時服</p>
<p>治刀箭傷血出不止併骨折</p>
<p>檳榔（一個）　木香　胡黃連（各三錢重）</p>
<p>上為末傳瘡口上血止又接得骨</p>
<p>治筋骨諸疾手足不遂行動不得遍身風瘡左經圓</p>
<p>草烏（白者去皮臍）　木龜子　白膠香　五零脂（各三兩半）　川當歸　班貓（百個去羽足醋煮）</p>
<p>上為末用黑豆去皮生杵取粉一斤醋糊共搜杵為圓如雞頭大每服一圓溫酒磨下筋骨疾但未曾針傷炙損者三五服立效此藥曾醫一人軟風不能行不十日立效專治心腎肝三經通小便除淋瀝通榮衛滑經絡此方傳自淨因寺聖僧處得之大有奇效</p>
<p>治打撲傷損腫痛傷風</p>
<p>天南星　半夏　地龍（各等分）上為末用一姜薄荷汁調貼痛處</p>
<p>治諸寒瘧等疾</p>
<p>沼脾胃有積久不克化或元有上證遂成寒瘧之疾或選寒後熱或先熱後寒或但熱不寒或但寒或但寒不熱或疼譫語除傷寒之外是瘧疾者皆治之</p>
<p>人參　木香　官桂　白朮　茯苓　黃連　附子　柴胡　黃蓍　厚朴　甘草　麻黃（各三錢重）　肉豆蔻（十個）　檳榔（五個）</p>
<p>上㕮咀每服三大錢水一盞生薑三片烏梅一個同煎至七分入酒少許又煎三五沸溫服此藥兼治盧弱之</p>
<p>又方</p>
<p>白姜　良薑（半炒半生各半兩）</p>
<p>上為末每服二錢豬腎酒調下</p>
<p>治久患勞瘧</p>
<p>柴胡　恆山（各一兩）　秦艽　甘草（各半兩）</p>
<p>上㕮咀每服五大錢酒水各一小盞童子小便半盞同煎至五分當發日五更初面北痞</p>
<p>川烏（大者二個生去皮臍）</p>
<p>上為末每服一大錢水一碗棗七個煎至七分五更時冷服</p>
<p>又方</p>
<p>粉霜　硃砂（各一錢重）　錄豆粉（七錢重）</p>
<p>上件為末糊為圓如此○大每服一圓冷水五更初下忌生冷物</p>
<p>減瘧丹</p>
<p>螺青　硫黃　官桂　白礬　巴豆（去油各等分）</p>
<p>上件藥取五月五日為末面南用粽子角為圓如梧桐子大每服一圓用新</p>
<p>綿里男左女右耳內安發日用之</p>
<p>又方</p>
<p>良薑　白姜（各等分）</p>
<p>上二味火上煅留性為末每服三錢雄豬膽一個水一盞溫和膽汁調下立效</p>
<p>治寒瘧勞瘧方</p>
<p>龜甲（不拘多少）</p>
<p>上一味醋炙今黃為末每服二錢溫酒調下空心食前及臨臥時各一服治瘧疾力</p>
<p>大蒜（一個分開四方　）</p>
<p>上每一片內入巴豆肉一粒濕紙里煅熟去巴豆研入黃丹為圓如難頭大每服一圓先發寒用桃枝七寸東向者煎湯發日五更向北服如先發熱用冷水送下未全安次發又可進一服即除根</p>

<h1>卷九</h1>

<h2>治諸腸風酒痢等疾</h2>
<p>治腸風瀉血</p>
<p>牽牛（五兩）　牙皂（三兩不蛀者）</p>
<p>上二味水浸三日後除皂角將酒一升煮今干焙為末煉蜜圓如此○大每服七圓空心溫酒下空心日午夜臥各一服或轉下黃物不妨病可後常每日服五圓飯食送下</p>
<p>又方</p>
<p>皂角樹上□（道按□字蕈通音）</p>
<p>上新瓦上焙乾為末每服一錢溫灑下</p>
<p>治丈夫瀉血婦人血崩漬人大腸出血</p>
<p>豆蔻　檳榔（各炒紫色）　罌粟殼（燒灰）</p>
<p>上三味等分不拘多少為末每服二錢飯飲調下空心服</p>
<p>治腸風下血</p>
<p>核桃殼　繭退　皮鞋底　赤雞冠花（各等分）</p>
<p>上四味燒灰為末每服一錢溫酒調空心下</p>
<p>治腸風</p>
<p>小赤豆（一升）</p>
<p>上一味瓦上炒今黑色為末每服三錢粥飲調下日三服各飯前服</p>
<p>又方　</p>
<p>瓜蔞（三個）</p>
<p>上一味燒灰留性為末每服三錢米湯調空心下</p>
<p>又方</p>
<p>蕨菜花（道按蕨菜花即蕨菜嫩芽也）</p>
<p>上不以多少文武火焙乾為末每服三錢飯飲下</p>
<p>又方</p>
<p>金星草（三兩）　陳乾薑（同）</p>
<p>上為細末每服一錢新汲水調下空心</p>
<p>治腸風</p>
<p>綿瓜（不拘多少一名蠻瓜一名天羅又名天絲瓜其實皆綿瓜也）　（道按綿瓜即絲瓜）</p>
<p>上一味燒灰存性（性下一在溫字）　灑調二錢空心下</p>
<p>治腸風並脫肛及有血</p>
<p>蛇床子（不拘多少）</p>
<p>上一味炒為末去大腸脫垂處貼立收妙甚</p>
<p>治腸風及脫肛不收有血下</p>
<p>不蛀皂角（五莖）</p>
<p>上一味搥碎水一碗揉今皂角消盡絹二重濾過取十分清汁將脫肛腸浸在藥水中其腸自收不用手蕩如大（道按大下脫腸字）　收了更用湯湯其腰肛上今皂角氣氣行則不再作三次湯</p>
<p>治腸風</p>
<p>五倍子　白礬（各半兩）</p>
<p>是這末順流水圓如梧桐子每服七圓空心飯飲下忌酒</p>
<p>治腸風臟毒丈夫婦人皆治</p>
<p>大蒜（二頭紙里熟研成膏）　淡豆鼓（二合水潤去皮研成膏）</p>
<p>上為加圓每服二十圓米飲送下空心（上字下有同字）</p>
<p>治腸風臟毒酒痢下血</p>
<p>黃連　生薑　</p>
<p>上二味煎湯下二氣再次服五塊圓圓方於後（再字作丹字）</p>
<p>五塊圓</p>
<p>五倍子　塊花（麝者）　白藥（好者各等分）</p>
<p>上焙乾為末酒糊為圓如此○大每服二十圓空心米湯下日三服</p>
<p>又方　</p>
<p>川當歸　枳殼　側柏葉　麝槐子　芍藥　百草霜（霜下有各一兩三字）上銼同一處炒今煙微起末之每服二錢空心溫酒調下日午湯調下各飯前服甚妙</p>

<h2>治諸寸白蟲等患</h2>
<p>取寸白蟲　</p>
<p>錫灰　木龜（各一兩）　盧薈（二十文）　黃丹　輕粉（各干文）</p>
<p>上為末豬膏油圓如○大先齊一日晚莫吃飲次早五更濕水吞下分作二服</p>
<p>又方</p>
<p>錫灰（十文）</p>
<p>上為細末用棗肉為圓如梧桐子大隻作一服先齊一日次日五更（更字下有先字）　吃燒炙豬肉一枚次用溫水送下</p>
<p>又方</p>
<p>用生芥葉細杵井花水解取汁一盞五更初先吃炙豬肉一片次服芥汁巳時下了</p>
<p>取寸白蟲</p>
<p>芫荑（十文）　雞心檳榔（二個）　榔芽草（半兩）　（道按榔芽草即狼牙也）　雷丸（三文）　輕粉（少許）</p>
<p>上為末每服二大錢四更時茶清調下隔夜點取茶四更時取清摧取寸白蟲方</p>
<p>巴豆（七粒去殼出油）　皂角（去皮取末一錢）</p>
<p>上用京墨磨醋糊為圓如此○大隻作二服五更初橘皮湯下</p>
<p>取寸白早方</p>
<p>苦綿瓜子（一以多少）</p>
<p>上研為末每服二錢好酒半盞空心調服</p>
<p>取寸白蟲方</p>
<p>書粉（道按書粉即白惡土也）　蜜陀僧（各等分）</p>
<p>上為末每服二錢用麻油調服空心下頃刻成涎取下</p>
<p>又方</p>
<p>定粉（道按定粉即錫粉）</p>
<p>上細研每服一錢生麻油調五更服晚取下</p>
<p>治婦人諸疾</p>
<p>治婦人血脈不調往來寒熱狀似勞倦</p>
<p>川當歸　川芎　甘草　黃耆　桂（去精、粗皮各一兩）　熟地黃（一兩半）　白朮（半兩）　白芍藥（二兩）　柴胡（半兩）　阿膠（半兩）</p>
<p>上為細末每服五錢棗子一枚水一盞半煎空心溫服白湯點服亦得常服不生帶下調血脈養子宮終身無病</p>
<p>治婦人衝任處損月候不勻或來多不斷時復淋瀝或過月不來或房中去血過多又治損娠小腹急痛發熱下痢手心煩熱又治久無子息並宜服之吳茱萸（三兩去閉目者沸洗淨三次）　川當歸　半夏（各二兩半制）　阿膠（炒）　甘草（炙各二兩）</p>
<p>上為銼散每服三錢水一盞半生薑五片煎至八分去滓熱服空心食前治婦人赤白帶下</p>
<p>龍骨（半兩）　舶上硫黃（三錢）</p>
<p>上為末每服半錢無灰舊酒空心調服三服不問遠年日近盡今痊效</p>

<h1>卷十</h1>

<h2>治小兒諸疾</h2>
<p>治小兒十種丹瘤腫毒所起形候並方法</p>
<p>一飛燥丹從頂頭起腫光</p>
<p>用蔥白研取自然汁塗</p>
<p>二吉燥丹從頭上紅腫痛</p>
<p>用赤小豆末雞子清調塗</p>
<p>三鬼大丹從面起赤腫（大作火）</p>
<p>用燥心土雞子清調塗</p>
<p>四天火丹從背起赤黑</p>
<p>用桑白皮末羊脂調塗</p>
<p>五天燥丹從兩臂赤腫黃色</p>
<p>用柳木燒灰水調塗</p>
<p>六水丹從兩肋腫</p>
<p>用生鐵為末楮糞調塗</p>
<p>七胡次丹從臍上起黃腫</p>
<p>用檳榔為末醋調塗</p>
<p>八野火丹從兩腳赤腫</p>
<p>用乳香末羊脂調塗</p>
<p>降九煙火丹從兩腳有赤白點</p>
<p>用豬槽下土麻油調塗</p>
<p>十胡漏庭土羊脂調塗</p>
<p>上此十種丹毒變易非輕治之或緩能終不救余不惜此方能逐一仔細辨認依此方法治之萬不失一如經三日又愈病入臟腑則終不可救不可緩也（又愈二字當作不治病字作攻字）</p>
<p>治小兒急慢驚風四肢逆冷眼張口噤涎不止保命丹</p>
<p>虎睛（一個將瓦上安之以豆蓋定漫火逼干）　箭頭硃砂（半兩）　蜈蚣（二條去頭尾赤腳者）　麝（半錢）　全蠍（半錢）　天麻（一分）</p>
<p>上為細末煉蜜為圓如此○大瓦罐貯之又入腦麝香窨定急驚風薄葆蜜湯化下慢驚風薄荷湯化下各三圓更量兒大小加減與之些少驚悸亦可服之（按慢驚屬虛證與急驚未可同治）</p>
<p>又方</p>
<p>赤腳蜈蚣（一條去頭尾）　蠍稍　草烏尖（七個）　半夏（三個）</p>
<p>上焙乾為末入麝得三十文輕粉半錢七用生薑自然汁圓如此○大每服三圓金銀薄荷湯化下次用生硃砂調塗病兒腳中心妙</p>
<p>治小兒毒氣攻腮腫赤可畏者</p>
<p>皂角（二兩去根）　（道按根當作核）　天南星（二錢生用）　糯米（一合為末）</p>
<p>上為細末姜調塗立效</p>
<p>治小兒驚風</p>
<p>茯苓　甘草　硃砂　青黛　膩粉　</p>
<p>上各等分入麝香少許每服一錢蜜水調下</p>
<p>治小兒驚熱</p>
<p>蠍（七個）　天南星（取心為末一錢）　人參　蛇蛻（各三錢重）</p>
<p>上為末薄荷蜜湯調下</p>
<p>治小兒風毒</p>
<p>白牽牛（一兩半炒）　大黃（三錢）　青皮　甘草　朴硝（各一錢重）</p>
<p>上為末每服一錢砂糖水調下</p>
<p>治小兒遍身浮腫方</p>
<p>黑牽牛（三兩炒）　青木香　青皮　防風　檳榔（各一兩）</p>
<p>上為末麵糊為圓如芥菜子大每服二十圓桑白皮湯下消毒順氣飲</p>
<p>人參　茯苓　甘草　升麻（各等分）</p>
<p>上為細末每服半錢生薑一片棗子半盞煎至一大呷許溫服不計時候</p>
<p>治小兒吐瀉不止</p>
<p>龍骨（火燒留性）　滑石　定粉（各等分）　（道按定粉即錫粉）</p>
<p>治小兒癇疾</p>
<p>天南星</p>
<p>上一味炮烈出火毒去黑皮不拘多少為末每服半錢生薑薄荷蜜酒調下</p>
<p>治小兒疳積黃瘦吐食</p>
<p>川烏（一錢）　定粉（三錢）　芥灰（二錢）　龍骨（同上）</p>
<p>上為末滴水為圓龍眼核大作餅子每服一餅飯飲磨下</p>
<p>治小兒疳積秘方盧薈圓</p>
<p>上精細事治炮製為末麵糊為圓如大粟米大兒一歲以下一圓或二圓亦不妨自加減與之</p>
<p>治小兒顛癇欲發眼暗瘛瘲聲惡嚼舌雌黃圓</p>
<p>雌黃　黃丹（各一兩少炒）　麝香（一錢研）</p>
<p>上為末拌今極勻用牛乳汁半熬成膏入前件藥末杵三五百下圓如錄豆大每服三圓溫熱水下一日三服此方得自於明醫之家後余嘗傳與一貧醫因是藥醫道大行</p>
<p>治小兒驚風積熱</p>
<p>全蠍（七個去毒）　蟬退（二十個）　甘草　天南星（大者一枚炮今香）</p>
<p>上為末每服半錢水半盞薄荷七小葉煎至七分溫服</p>
<p>治小兒驚熱</p>
<p>寒水石（二兩）　甘草（一兩）　馬牙硝（四兩重）　硃砂（一分）</p>
<p>上件為末今極細次入腦麝各三十文煉蜜搜和圓如龍眼核大用瓦罐盛之每服一圓或半圓量或半圓量兒大小強弱與之薄荷湯候冷調下</p>
<p>治小兒哮喘</p>
<p>黃丹　砒霜</p>
<p>上各生用為末用棗肉為圓如麻子大每服三圓臨睡冷茶清下</p>
<p>治小兒赤熱腫脹</p>
<p>川大黃　白礬</p>
<p>上二味等分為末用冷水調作奄子貼眼上立效</p>
<p>治諸雜病等方</p>
<p>治肉鯁</p>
<p>白茯苓</p>
<p>上一味臨時細切研為末以所鯁骨煎湯調下</p>
<p>治果報面生□瘤方</p>
<p>上用艾圓灸十粒即用醋磨雄黃塗□上剪如螺螄奄子大貼所灸處更用膏藥重貼二日一換候癢擠出膿如錄豆粉即愈</p>
<p>治盜汗</p>
<p>葳零仙　甘草（各半兩）</p>
<p>上為末每服三錢溫酒調下</p>
<p>治盜汗處腎濕</p>
<p>人參（一錢）　苦參（三錢重）　龍牙草（同上）　（道按龍牙草綱目馬鞭草下出之俗云金水引草）　麻黃根（同上）</p>
<p>上件為末煉蜜元如此○大用時早朝使椒湯洗手了麻油塗手掌口握藥一粒移時便瀉止即以冷水洗手</p>
<p>宣積藥</p>
<p>巴豆（一百粒去殼水洗四十九次）　五零脂　白姜　赤茯苓（茯苓下有各一兩三字）</p>
<p>上為末用醋糊圓如錄豆大每服五圓冷茶清五更初服或欲瀉止冷水洗手面腳三處立佳</p>
