<header data-type="book">
<h1>怡堂散記</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>許豫和</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1785">公元1785年</data></dd></div>
</dl>
</header>

<h1>曹序</h1>
<p>《橡村痘訣》一書，予既讀而序之矣。橡村先生以醫名吾鄉，固不特善治小兒，更不特痘症，予頗疑橡村胡不盡出所學，為壽世資，而僅使蒙其麻者在小兒也。今橡村又出書一冊，曰《怡堂散記》，分上下二卷，又《痘訣余議》一卷，予受而讀之，其書列病症，詳醫方，以已所臨治有驗者，悉書其原委曲折，各加論辯，以興古相發明，蓋進而上焉，不獨使幼孤得遂長矣。予不知醫，竊怪岐黃以降，其書幾汗牛充棟，學者習焉而守其法足矣，胡為作者代興，必各矜創穫迭擅神奇，乃以成救世之效，以是知理之無窮，而其法隨時有異也。夫《靈》、《素》經書千古不易，而天地氣化、人生稟賦隨時為厚薄，且南北異宜，山川間隔，一郡一鄉氣感各別，即一鄉之中又隨世變轉，而寒熱水旱之不齊錯出乎其中，吾見今之疾不必同古之疾也，又況藥物之產隨地氣變遷，或同一名而古今迥殊，或猶是一物而前人審驗未真，久而益辨者，而謂第執成言遂可自足也哉。橡村博覽古書，相時症之變，融會變通而出之，其於藥物皆細加考驗，謂必使吾之精神與藥之氣味兩相融洽，而後藥為我用，其用力也勤，其宅心也誠矣，今不敢自秘，將出以廣其傳，吾不知此書果盡今之病症及治法與否？傳之後來，又有因時而變更者與否，要其有益於時者固已多也，又況雜採群書，俾知人物之生與天地陰陽相消息，推氣化之原以正性命之養，尤邃然通道術之要，而士君子所當深致體驗者哉。板焉而試其功用，吾見較前刻之大而遠也，於是乎言。</p>
<p><u>嘉慶二年歲次丁己秋九月竹溪曹文埴拜手</u></p>

<h1>序目</h1>
<p><u>怡堂散記上卷</u>　散者，無頭無緒，不整不齊之謂。老醫臨症數十年，終日應酬不暇，得心應手之處，思欲記之。有時研硯而客至，有時執筆而飯熟，於是失者十之七。心之所向，欲舍不能，隨時記憶，存於腹稿，大概不在途中，則在枕上，此診治之散記也。講習古方，節錄名言，蒐羅於寒夜，是涉獵之散記也。記雖不多，類而推之，其理不外是矣。</p>
<p><u>怡堂散記下卷</u>　讀古人書，全在得解。咽噥讀過，雖多何益？臨病制方，要從古法。不由規矩，何以為工？醫之為道，實萬世岐黃之道，所言者天下之公言，非一家之私論。偏執之流不以人命為重，各私其學於家，氣候不分，寒熱不辨，執守一方，終身行之而不悟，受其害者何可勝紀？予欲喚轉迷途，不辭苦口，將古人未暢之旨，醒出一二，啟悟後來，願學者臨症推詳，以求合乎先賢之治，計其效驗，歸之大公，由是而深造逢原，私心自滌矣。</p>

<h1>卷上</h1>

<h2>風痰</h2>
<p>風痰一症，乳兒最多，四時皆有。大概冬春之交，宜溫散，荊、防、甘、桔、橘、半、生薑、杏仁、蘇子之類。夏令宜清散，杏仁、牛蒡、梔子之類。秋令宜清潤，枳殼、瓜蔞之類。冬令嚴寒有用麻黃湯而解者，肺為嬌嫩之臟，總宜疏解，不得妄投丸散。肺雖喜潤，胃中濕痰宜燥，小兒乳膩生痰，外症有鼻水，多涕淚，二陳為治痰總劑，合之前胡、桔梗、荊防、蘇子、枳殼、麥芽、杏仁之類，或加生薑、蔥白，結者散之，保赤之善也。肺喜潤，潤之中亦有分辨，如杏仁、蘇子，溫而潤者也，宜於冬春；杏仁、牛蒡，散而潤者也，宜於夏；杏仁、瓜蔞則清而潤者矣，宜於秋燥。能知此等界限，則用藥不雜。</p>
<p>瓜蔞一味，能發嘔易滑泄，乳兒無用瓜蔞之理，穀食之兒，燥火傷肺，嗽久不止，乃可用之。</p>
<p>半夏毒輕，薑汁製而陳者，性平，故可入君子湯。南星毒烈，實非良藥，制以牛膽之苦寒，病久膠結，或可少投，時行感冒，無可用之理。竹瀝、薑汁之潤下，海石之咸能軟堅，尤非風痰可輕試者。</p>
<p>書云蠶與馬並屬午火，在卦為離主心。又云：蠶食而不飲性燥，得濕則腐，得風則僵，故能宣風化痰，辛溫之藥也，風寒閉結者宜之，痰熱結聚，非所宜也。</p>
<p>肺為貯痰之器，只有開提一法，為解化之用。世俗之化痰丸，徒傷胃氣耳。至若王隱君之礞石滾痰丸，為治頑痰怪症而設，於小兒有何干涉。</p>
<p>風痰乳滯，小兒輕病，不從疏解而事丸散，殺兒實多，目睹心傷，為之苦口。</p>

<h2>驚風發搐</h2>
<p>辛亥首春，嬰幼多驚風之患，此天行之病，氣候使然。經曰：己亥之歲，上見厥陰，厥陰司天，其化為風，小兒純陽之體，冬月伏陽在內，生痰生熱，乘春氣而病發，驚風作矣。醫家視其色脈，察其虛實，當為之清痰熱、平肝風，則風熄而熱平。粗工昧此，但持通套之方，予見用荊防柴葛者，病不除而加甚，用羌活者，一服而驚厥不回，因制對症之方，取效甚多，示以為法。</p>
<p>連翹　赤芍　炒山梔　天麻　鉤藤　橘紅　半夏　代赭石　茯苓　甘草　加燈心金器同煎。</p>
<p>肝以散為補，荊、防、柴、葛，皆疏散肝風之藥。肝家有鬱熱，宜用以疏達，肝木病，逢春旺，若再達之，是助紂為虐矣。故一概疏肝之品，皆叱不用，連翹、赤芍、山梔、燈心，瀉心肝之蘊熱，所謂實則瀉其子也。天麻、鉤藤所以平肝，代赭、金器所以鎮肝，肝木既平，驚風自熄。再加二陳以開痰結而保脾土，蓋風木旺，則脾土自虧，瀉其太過，補其不及，藥雖平淡無奇，而功用切當，未可移置他時者，醫貴變通，必先歲氣，舉此可為法也。</p>
<p>淩氏子患驚風，大便下青黃沫，日五六次，本方加白朮、車前、冬瓜仁，去燈心，二劑愈。仰氏子驚作，日夜十餘次，加辰砂、琥珀二分，二劑愈。畢氏子搖頭目竄，戰慄不寧，加菊花、桑寄生二劑愈。茶園孫氏子，手足反張，面青咬牙，加羚羊角、川芎、二劑平，去燈心、山梔，再加當歸、白芍，二劑愈。王氏子食入即嘔，除梔子、燈心、赤芍，加白朮、藿香二劑愈。此皆春二、三月病也。</p>
<p>風木之旺，冬至後甲子日為始，經曰：「巳亥之歲，上見厥陰，厥陰司天，其化為風。」風令最早，小兒得春氣之先，風勝則動，其病為搐。</p>
<p>歲氣之病，各有所主，此專言已亥之歲，如子午之歲，上見少陰，少陰司天，其化為火，火則旺於夏。錢氏瀉心、導赤為對症之方。丑未之歲，上見太陰，太陰司天，其化為濕，民病吐瀉，風痙胃風，胃苓、羌活勝濕之類，甚則加黃連，又為對症之藥也。</p>
<p>春杪夏初多見發熱不退之症，治之屢驗，因記之。小兒純陽之體，四月為純陽之月，若乾之上九，六陽皆現，小兒時感，多有發熱不退之病。幼科用藥，無非發散消食。甚致亂投丸散，胃氣為藥所傷，病不能去，食減人困，累成慢驚者有之，凡病已得汗，表既開而熱不退，二便皆利，里無阻滯，而熱又不退，再發什麼表，消什麼食，予遵錢氏訣制救陰煎，從時令上用藥，經所謂必先歲氣，毋伐天和者是也，八九月秋燥亦宜之。</p>
<p>生地　丹皮　麥冬　陳皮　茯苓　甘草</p>
<p>此方止六味，而歸重救陰。外見有風症，再加柴胡、防風，驚惕加鉤藤勾，嗽加桔梗、杏仁，有痰或嘔加半夏、蘇子，吐乳加麥芽，泄加神麯、澤瀉，大便不出加梨汁，小便不利加山梔、木通，唇紅舌瘡加連翹、山梔、貝母，午後夜間熱甚加青蒿、地骨皮。</p>

<h2>論暑月吐瀉初起須用黃連香薷飲</h2>
<p>長夏暑濕當令，脾土受病，暴感時行之氣，多有發熱吐瀉者。吐瀉，里症也，發熱汗出，表症也；口渴心煩，表裡俱病。黃連香薷飲為對症之藥，一服可平，再服可愈。庸俗不明此理，例用疏散消食通套之方，藥病不合，徒傷正氣，吐瀉不止，精神已困，額熱指冷，目陷神脫。雖名暑風，實與慢驚同類。病家恐駭，每每更醫。醫有見其額熱口渴，暑症猶在而用黃連者；有見其發熱指冷，表症猶在，而用香薷者，不知吐瀉大作，胃氣暴傷，故目眶陷而四肢冷，暑邪內陷。故內熱口渴心煩，其治法與初病不同，初病正氣未傷，可服黃連香薷飲，故一服而效。及待胃氣既傷而始用，是用於不可用之時也。一見目眶陷四肢冷長蟲出，雖有額熱口渴心煩等症，總以六君扶正為主。體素實者，少加炒黃連於劑內。若囪門陷，面㿠白，體素虛者，雖有熱症，六君子只加扁豆花、黃土水甘寒之品，以清脾胃之暑，一切金石等丸屏棄不用，庶凡十救二三。若湯丸亂投，十不救一矣。長夏秋初，小兒患此者，歲歲皆然，予前有參連飲之論，又有黃土稻花湯之論，皆屬後起之功，點破機關，莫若黃連香薷飲，劈頭一服之為愈也。</p>
<p><u>新定黃連香薷飲</u></p>
<p>香薷　黃連　厚朴　麥芽　生扁豆　木瓜　陳皮　半夏　茯苓　甘草</p>
<p>分兩量兒大小</p>
<p>暑傷脾胃，解暑為急，故用香薷從外一升，黃連從里一降，藥之擔力，二味為主，劑之偶者也。厚朴、麥芽以平胃氣，扁豆、木瓜以和脾氣。二陳和胃以行痰水。暑濕傷脾之症，何患不除。臨症雖有加減，亦宜斟酌，不可輕易變亂萬萬。未至盛暑，黴月濕甚，多有風濕挾食之症，發熱吐瀉，又宜香砂平胃，藿香正氣等方。黃連、香藿是暑熱之藥，風濕非所宜也。</p>
<p>暑邪初感，病氣方盛，雖體質素虛，亦宜劈頭一服，蓋清急於補也。病經多日，目陷肢冷，雖有熱症未除，亦宜六君扶正，蓋補重於清也。</p>
<p>四肢冷不得用黃連，瀉痢皆然。尤當視唇舌，唇舌緋紅、乾渴，四肢雖冷，亦有用黃連者，是用黃連，又當以唇舌為準，壯熱煩渴葉瀉初作，黃連生用，吐甚者，薑汁炒，瀉甚陳土炒，皆有分辨。</p>
<p>單吐而不瀉者最惡，宜加代赭以鎮逆，瀉而不吐，無熱症，六君不能止者，錢氏益黃散是為對症之藥，凡止瀉，丸散優於湯劑，宜備用。</p>
<p><u>加減錢氏益黃散</u></p>
<p>青皮　醋拌炒三錢　白朮　土炒五錢　木香　麵裹煨三錢　訶子肉　同上四錢　炙甘草　三錢</p>
<p>共為細末，磁瓶收好，或用六君調下，或炒米水調下。</p>

<h2>甲辰秋時痢甚計其所見覆論症記之</h2>
<p>河間云：「下痢紅白，俗謂赤熱白寒者非，通作濕熱處治」。又云：「寒則不能消穀，何由反化為膿也。」又云：「俗言寒熱相兼，其說尤誤，寒熱異氣，豈能俱甚於腸胃而同為病乎？通作濕熱處治，此定論也。」</p>
<p>問下痢之本，必由夏傷於暑，常見時氣傳染，感而病作，何也？予曰：是人腸胃中本有伏暑，兼有停滯，時氣相引，則病作，我無伏暑，何患時氣。</p>
<p>問下痢膿垢，白如豕膏，此何物也？予曰：是腸胃中之脂膏也，俗名刮腸痢，熱逼腸胃，如刀刮而下也。腸胃脂膏，以厚為貴，刮則腹痛，腹痛則作勢而所下無多，非糟粕，是脂膏也。刮多則腸薄。潔古云：宜黃連厚腸胃而止痢，玩厚字之義，自知刮腸之病也。</p>
<p>問河間言通作濕熱處治，古名家治案，亦有用姜附而愈者，何也？予曰：此傷於瓜果生冷，或食燒炙之後飲冷貪涼而成，故其初起以溫藥佐之效，若屢進，必加甚矣。</p>
<p>凡痢疾身熱脈大者不治。予重用芩、連一二服，熱漸減，脈漸平者，續用調中之劑亦愈。</p>
<p>唇紅口渴者不治。有用黃連烏梅者，有用人參白虎者，但得應藥，即有轉機。</p>
<p>見食即嘔不治。《名醫類案》云：方蔭山治一小兒，八歲患時痢，日夜百度，食入即嘔，以面作餅炙熟，分二片，以一片中空之，用木鱉子三個去殼、搗爛，加麝少許，填入餅中，貼臍下，軟帛系定，外用熱鞋底熨之，待腹中作響，喉中有香氣，即思食、食少進，是夜痢減半，三日後漸愈。予用此法治噤口痢多驗，勝於用田螺多矣。</p>
<p>渴而思酒者不治。渴之甚，茶水不能解，故思酒。嘔甚作噦聲音不治，嘔之聲短，噦則其聲重大而長，胃中空，則邪熱干之，故作嘔、作噦，嘔出長蟲者亦不治。皆驗。</p>
<p>目陷神脫者不治，額汗指冷者不治，若欲救之，急用四君加木香、乾薑。此芩、連之過劑也。</p>
<p>長蟲下多者不治，胃氣敗，蟲不得安也。</p>
<p>糞門如竹筒者不治。莖頭起白點者不治。</p>
<p>痢多日，腸胃熱甚，有口角鼻門瘡爛者，有腮腫牙疳臭爛者，有身發紫癍者，有肛門濕爛作癢者，此等見症皆由初起不善治而得，或誤服辛熱藥亦有之。與傷寒、狐惑、胃爛、發癍同類，不治之症也。若欲救療，急須白虎湯加黃連。</p>
<p>下痢脫肛，有虛有實。虛者略努便脫，色淡而不甚腫，宜補中益氣湯，陷者舉之。肛門壅腫，努甚脫出，色如紫李、身熱脈大，此為濕熱下逼，芩、連、山梔佐以理氣升提之味。</p>
<p>肛門脫出不宜見風，洗冷水，犯之則難收。有痢止而肛不收者，溫水頻洗，軟帛托入，再用石榴皮煎水洗之，或用熱醋沃新布折坐亦好。</p>
<p>用藥有三法，黴令長夏濕勝於熱，治宜從濕。入秋則熱勝於濕，重宜清熱。秋深久亢則濕氣盡消，燥氣方勝，用藥不宜燥劑。蓋痢甚津液既傷，燥與利皆損液之藥也。</p>
<p>黴令濕勝，用平胃散加防風、葛根以升清氣，少佐芩連以清熱，山楂、神麯行滯，一二劑後再加赤苓、澤瀉、車前以滲之。</p>
<p>入秋熱勝，初宜柴、葛以升清，芩、連以泄熱，厚朴、檳榔、木香以通腸胃之壅閉，車前、木通以導其濕熱。食滯不行，神麯、山楂、麥芽以化之。腹痛甚，芍藥、甘草以和之。病熱稍平，然後芩，連可退，再加和胃之品。</p>
<p>發於秋深久亢，口渴唇燥舌起黑煤者有之，津液大傷，貧士無力服參，予嘗用沙參、麥冬、生地、甘草以生津液，少加芩連以泄熱，白芍、木香以和血行滯，變燥為潤，因乎時也。痢有譁口。刮腸之辨，噤口者治在胃，刮腸者治在腸。噤口者得食便定，刮腸者熱不除雖能食亦死。膿垢從腸中刮下，始而腸薄，漸致腸化，濕熱蘊於腸中，如癰膿之腐爛而化出也。</p>
<p>腸刮而腐化者，多屬小腸，故紅痢腹痛甚，痛甚則腸斷而死，以大腸肥厚而小腸薄嫩也。</p>
<p>小兒夏月暑濕之熱，客於營衛，結成癢癤。入於腸胃則為瀉痢，痢之紅白如癤之膿血，膿出不盡，則癤必不收，紅白不盡，痢必不止。</p>
<p>其時瘧痢並作者數人，皆用和解行滯之劑，瘧先止，痢亦漸減。惟驚與痢並作者，競不能救。</p>
<p>溪南吳氏子六歲，園中隨賞桂花，其夜發熱腹痛，天明下痢，上午驚作，連下數行，延予至已二更矣，急入診視，額汗指冷，脈息已絕。後數日，又一三歲子，亦於夜間發熱、腹痛，天明驚作，旋下白凍，延予至，見其病難救，不忍坐視，勉與平肝風扶脾土之劑，六君加柴胡、鉤藤、山梔、白芍、木香、車前，一服而驚梢定，二服而食稍進，但腹痛下痢不減，第三日清晨連下數行而脫。予所見驚與痢齊作者，竟不能救。有驚定熱退而後痢作者，又在可治之例。</p>
<p>有痢後作驚者，脾土虧敗，肝木生風，亦不治之症。</p>
<p>痢後多有浮腫、肚脹之患，大概服芩、連之後，熱症既除，寒症續起，四肢冷，皮色白而光亮者是也，總以補脾去濕為主，不得用辛熱藥。</p>
<p>有痢止未久而復作者，腹痛後重糞後有膿血，名曰休息痢。此濕熱伏於曲腸之中，最難速止，予用補中益氣湯加白芍、木香、茯苓、車前子之類多愈。</p>

<h2>雜治得心隨錄可為法者二十二症</h2>
<p>家虞部奕皇侄之孫，周歲，盛暑時，病壯熱煩嘔、有汗，是暑邪為患，初與香薷飲一劑，熱不退，煩渴加甚。予曰：時逢酷暑熱甚，宜加黃連，服藥後熱稍平而症不減，嘔渴人困、頭抬不起，此熱傷正氣也。熱甚務在必清，正氣為熱所傷，亦須急固，方用人參、麥冬、陳皮、半夏、茯苓、甘草、黃連、梔子、竹葉心煎服。次日精神起而熱猶不退。予曰：精神起則人參可除，熱不退者，清涼之力薄，當以生水之味佐之，乃克有濟，方用生地、丹皮、麥冬、黃連、山梔、石膏，加以二陳和胃，連進二服，熱退神安，煩渴皆定。小兒純陽之體，暑為陽邪，最傷心脾二臟。熱而煩者心受之，熱而嘔渴脾胃受之也。心受之，則黃連、山梔，胃受之，則石膏、竹葉。純陽之體無陰以制，則熱不能退，故用生地、丹皮、麥冬生水以濟陽。黃連得其滋助而功始倍，更加二陳以和胃，而胃氣不傷，病因此愈。此症熱經七日，認症的確，藥有次第，故得收功，使病家少有紛更，則變生不測矣。</p>
<p>風暑合病為暑風，暑喜傷心，風喜傷肝，此但有暑而無風，故雖熱而驚不作，予故不用風藥。</p>
<p>兒體本不虛，忽而神困者，是正氣為熱邪所傷，只宜瀉熱，人參只用一劑後即除之。且大便二、三日一次，裡氣不虛，若再用人參，必助邪為患矣，用藥當見機者此也。</p>
<p>熱退旬日，忽然又發嘔渴如前，以俗情言必曰復感。予曰：此胃家餘熱未盡，天氣過亢，餘熱復聚，用養陰和胃稍加石膏二劑而平。</p>
<p>奕皇侄之孫女，九歲。風濕發丹，遍身搔癢，三日丹發未透，熱未退，大便多日不解，腹痛，此尋常小病也，與疏托利濕消食之劑，其夜忽發驚風，目直大叫，手足搐搦，唇口連掣，少停又搐，一夜十餘次。舉家驚愕，延予至，初視之不解其故，再四推求，外無新感之風邪，內有未泄之濕熱。據侍者云：因高處貓跳而受駭，驚由是作。予曰：脾經濕熱斷無作驚之理，因於驚則脾家所蘊之熱乘驚而入於肝膽，是脾移熱於肝病之變者也。此病在脾則為濕，入肝則為風，肝得驚風病斯作矣。其治法當疏肝膽之風，泄脾土之濕，表裡一通，庶凡驟解，稍遲病深則難救矣。為處一方：羌活、防風、天麻、鉤藤、殭蠶、全蠍、當歸、赤芍、枳殼、大黃、山梔、木通、甘草共十三味，其法蓋合瀉青丸、牽正散、四順清涼三法，以成疏肝泄閉之方，一服而表裡雙解，其病如失。</p>
<p>義呈朱嗣倚兄孫病春溫，五朝大熱不退，頭痛，煩渴，脈大，惡人與火，陽明邪熱甚也，與小劑白虎湯，初用石膏三錢，不效加至五錢，又不效，病亦不加，但人倦耳，其家請易方。予曰：藥對症故病不加，藥力輕故病不減，據症而論無可易也，用熟石膏一兩、知母二錢、甘草五分、粳米二錢，再一劑而熱退。治麻痘，石膏宜生用，傷寒方中石膏宜煨用。</p>
<p>胡旭如兄孫女六歲，春中患發熱、頭痛、嘔吐、脈大、唇紅如朱，予曰：此胃熱嘔吐也，用陳皮、半夏、茯苓、甘草、知母、石膏、粳米，煎一劑愈，此病初作而用對症之藥也。</p>
<p>汪利賓兄孫，發熱，嘔吐，食少出多，長蟲出，目眶陷，心煩不寧。方春木氣旺，上衝於胃，宜瀉肝和胃，用橘紅、半夏、茯苓、甘草加代赭二錢，水蘆根五錢，黃連三分，一劑愈。瀉肝熱而用黃連，實則瀉其子也。</p>
<p>岩鎮潘氏子，十歲，壯熱五日不退，目竄反張，頭額紅腫，醫作驚風，治用牛黃抱龍等丸不效，請予治，診其脈大。予曰：此太陽風症無汗，為剛痙，今額上紅腫兼濕毒上攻，當從太陽，處方用羌活五分，秦艽一錢，連翹、赤芍、蒼朮各八分，荊芥、防風、蟬蛻、木通各六分，酒炒桑枝一錢，一劑病減十之三，二劑病減十之七，除去羌活、蒼朮，加入鉤藤、菊花、炒梔子、馬料豆，又二劑而痊。</p>
<p>岩鎮方氏子，周歲，深秋無外症，夜間忽然吐乳一口，隨發驚搐二次，初服表藥一劑，搐不作，無熱症，但夜間煩吵，又服廣東抱龍、牛黃等丸，乳食如常，六日不大便，六日後又復發搐抽，出大便青黃色，微有痰，一連三日抽掣無時，搐定時，安臥能乳不發熱，請予治。予曰：驚搐不由外感，無寒熱痰食之患，此病從內發也。發時吐乳一口者，時方食乳沖湧而出，非吐乳也，外症面色青，肝病也，手掣，頭搖，肝木生風之象，顱腫筋現，目生脂，唇口紅，皆火象也。小兒純陽之體，先天不足，不能制火，加之秋燥，衣棉早，郁遏太過，熱從內生，上衝肝膽而作搐，病自內生，當從內治，用平肝養陰之劑，生地、丹皮、麥冬、炒梔子、陳皮、茯苓、澤瀉、鉤藤、代赭一劑，服藥後胸中暖氣，微有痰聲，食乳後湧出痰二口，此膈間有阻滯，次日用分治之法，早用橘紅、半夏、茯苓、石菖蒲，少加生薑，先服半杯，以開其痰，午後用六味加參、麥，陸續夜服，搐雖作而勢漸緩，連守二日搐定人倦，抱起時頭尚搖、面色青，時作努恨聲，此肝氣未舒也。易以柴胡、鉤藤、蘭葉、茯苓、橘紅、半夏、甘草一劑，而肝氣舒，日間困倦，夜間啼吵不寐，復請予治，視其唇口乾，目生脂，舌有刺，頭皮光急，青紫筋現，按之如熟柿子，抱起時頭傾不能豎，予曰：顱脹如此，急宜養陰以平肝腎之熱，大劑六味加白芍、龜板、磁石、羚羊角，外用塗囟法、導引法，二日而諸症略平，除去磁石、羚羊，加入百合，龍骨又二劑，而顱收大半，夜亦安臥，五日後抱起，頭可豎，目有神，命自制六味加麥冬、龜板緩緩調之。</p>
<p>塗囟法：龍骨醋磨汁，攤青絹上微焙溫，緊束頭顱，一日一換。</p>
<p>導引法：用肉桂三分，川椒三十粒，研細少加白麵、薑汁調成膏焙熱，貼臍下及兩足心，熱手頻護，二日後揭去。小兒陰不足，不能服桂附，故用導法可以引熱下行，椒性善下，勝於附子。</p>
<p>顱脹與囟填不同，囟門凸起，為囟填，屬心火，錢氏用瀉心湯。顱脹則頭皮光急，額角皆大，肝腎虛熱上衝，六味地黃湯加重劑以鎮之。</p>
<p>又有囟門不合，頭骨分開不病而顱解，此先天不足之質，其兒面㿠白，目白睛多，又宜陰陽雙補，六味加鹿茸、龜板，如無鹿茸，角膠代之。</p>
<p>岩鎮程氏子，六歲，冒風傷食，發熱，咳嗽、嘔惡、不思食，此尋常病也，初服疏散消食藥，嘔、咳不除，熱不退，汗出氣喘，以時感而見虛症，人漸困。請予治，已五日矣。診其脈弦大，熱不退，咳出痰沫，食入則嘔，人極困，此秋熱傷肺，正氣虛，熱邪留於肺胃，宜瀉熱以保肺氣，所服荊、防、柴、葛、秦艽、赤芍、神麯、麥芽之類，皆非對症之藥，故病日加甚，方用沙參、麥冬、桔梗、甘草、茯苓、橘紅、炒山梔，加竹葉心、粳米，煎一劑安，二劑愈。解曰：發熱、喘嗽，熱在肺也，嘔渴不食，熱在胃也。故以甘、桔、梔子清肺，竹葉、麥冬清胃，藥雖淡而功自專，且與質弱之兒相稱，所謂補而不滯，清而得當者也。</p>
<p>海陽金氏子，十三歲，腹痛三年，雜治不效。發則喊叫不可耐，遇風則作寒熱，嘔吐，汗出，面青，脈弦。予曰：此風根也，用桂枝、防風、柴胡、黃耆、白朮、陳皮、半夏、白芍、甘草加生薑煎，二劑平，四劑愈。</p>
<p>湖邊程芑堂兄子，十歲，久患牙腫不消，屢用吹藥脫去一齒，因大駭。請予治。予診視無外症，令服六味地黃湯，不用吹藥，為之立案云：小兒純陽之體，陰未足，每多熱症，故錢氏以六味為主，治久患牙腮腫。不紅不痛，非陽明風熱可知，吹藥過施，致損一齒，古方吹藥多用冰硼，冰片辛竄之性，直透齒根，硼砂能柔五金化腐肉，所損之齒，損於藥非損於病也，且內熱，脈數，時作耳閉，皆陰虛之明證，當此夏令火旺，金水俱虧，服藥宜以養陰為主，一切吹藥皆不可，必陰得所養，則虛火自不上浮，齒患自然不作，治病求本，此之謂也。六味加麥冬、霍斛，蜜杵為丸，服之兩月病不復作。</p>
<p>南源王氏子，患血舌，色若紫肝，自言作脹，無外症，或令以刀劙出血病當愈。其父不敢，褪負而求我，診其脈數大，方用生地五錢，丹皮、赤芍、梔子各一錢，紅花、犀角、菖蒲、枳殼、木通、甘草各五分，命以銀針刺舌旁，服藥二劑，刺處先退，又二劑舌尖退出，再四劑而痊。</p>
<p>鄰人程氏子，十歲，夜飯後從戲臺跌倒而下，賴人提起回家，當時嘔吐，初吐出夜飯，續吐清水，扶坐床上，吐則以盆盛，天明請予看，吐出之水綠如菜汁。予曰：此膽倒也，翻跌而下，膽汁傾出，汁盡則死矣。為定一方：橘紅、半夏、茯苓、甘草、枳實、竹茹六味為溫膽湯，再加棗仁一錢，代赭石二錢，以收正其膽腑，可名正膽湯，一劑吐止，二劑頭目清而愈矣。因憶昔年曾見此症二處，不知治法，皆不救。</p>
<p>溪南吳氏子，三歲，四月初，食烏飯油膩而起，發熱，腹痛，旋服疏散消食藥，熱不退。更醫，服藥皆主消食，熱退復發，病經兩月，請予治，診其脈小弱，面色青而㿠白，二便利，腹無所苦，午後發熱，天明漸退，食少人困。予曰：病雖起於傷食，屢服消伐之劑，食滯久已消矣，過消則胃傷，熱久則陰傷，故食少，神困，汗出而熱不退也，方用人參、麥冬、陳皮、穀芽、扁豆、茯苓、甘草加小棗二枚，二劑而熱退，麥冬易白朮，又二劑而食加。</p>
<p>山根本家二歲子，斷乳後傷食，腹痛，醫與消導過度，人漸黃瘦，又謂其有疳積，令服雞肝藥，旬日之間肌肉盡脫，僅存皮骨，請予治。予曰：大肉已脫，無藥可療，速尋乳母試其肯食乳否？每日早晨先與參米飲半杯，以壯其胃氣，然後食乳，一月之後，復請予視，面圓發澤，已無病矣。此消伐損脾之誤，非本氣自敗者，故得痊。</p>
<p>昉村本家一女十歲，脾虛有濕，浮腫，肚脹，服補脾利濕之劑愈，而復者再，臍中流出淡黃水，水中流出蟲一條，長四寸，此亦未見之事。水與蟲皆濕熱所生也，仍用補脾利濕之劑，每劑加土炒黃連三分，漸次愈，愈後多服補脾末藥，病不復作，此水退築堤之義也。</p>
<p>梅口江氏子，七歲，先因濕熱傷脾，浮腫，肚脹，目發黃疸，數日而瘧作，又數日而下痢紅白，一身而見四症。予曰：病雖疊見，皆濕熱所生，藥可兼治，方用：柴胡、黃芩、蒼朮、厚朴、陳皮、神麯、檳榔、大腹皮、赤芍、茵陳、山梔、木通、甘草出入加減，先止瘧，次止痢，目黃、腹脹旬日而退。</p>
<p>唐模書顏侄之孫，三歲，戊申秋抄，患痢純白，先期發熱驚搐，搐定而後痢作，日夜百度，米粒不進，此噤口痢也，況在驚後，視其勢不可為矣。力求予治，不得已，先用木鱉子三個煨熟去殼，加麝香一分，搗如泥，旋作麵餅，乘熱劈開，以一片攤藥合臍下，此先賢舊法也，用之屢效，姑與之，逾時稍能食粥，為定一方：人參、白朮、茯苓、甘草、當歸、白芍、黃連、木香，連進二服，痢少減，食少加。再以石蓮、石脂、白頭翁、罌粟殼等味出入加減，去人參則食少，去黃連則痢多，人參、黃連競不能除，守定一方，旬日而愈。予前所治驚後痢作皆不得起，不意此子競得成功，雖賴人參之力，亦由驚定而後痢作，小有不同。</p>
<p>義成朱藻卿兄子，周歲，時感發風痰之病，五日不解，延予治，時壯熱，煩渴，手強，目竄，咬奶咬唇，舉家以為驚作。予曰：非驚也，此陽明熱甚生風也，煩熱汗渴皆白虎症。小兒純陽之體，一冬蘊熱內伏陽明，因感驚風引動伏熱而病作，若隨俗用化痰、抱龍等丸便不可救。方用熟石膏五錢，知母、麥冬、炒梔子各一錢，枳殼、竹葉各五分、粳米一錢，長流水煎，一服而煩熱減，二服而汗渴除，藥減半再一服而熱退，然後用甘桔二陳清痰和胃而痊。</p>
<p>張翼高兄孫女，九歲，素有蘊熱目赤，瘰癧之患，復感時疫，發熱，煩躁，遍身發出紫斑，間有青藍色者，口鼻出血有穢氣，大便不解。書所稱胃爛發斑，不治之症也，急與犀角地黃湯加元參、石膏、枳殼、木通，一服病無增減，次日分兩加重，更加大黃二錢，連泄兩次，熱退血止，稍能食，再與涼血解毒之劑，數日而痊。此以重劑救急症也，稍遲則無及矣。</p>
<p>桂林洪氏子，五歲，發熱、腹痛、頭皮光腫。此病之因於濕者，用平胃散加羌活、秦艽、神麯、木通，一劑，次日手足皆腫如秤錘。予曰：此五腫也，脾家風濕，循經而發，加入獨活、防風、桑枝、黃柏，腹痛甚，再加枳殼、檳榔，一劑大便連泄數行，遍身發出小水泡，頭腫消，腹痛止，再與平胃散加防風、神麯、赤苓、炒梔子數劑，水泡退皮，手足漸消而愈。</p>
<p>紹村張氏子，六歲，腹脹如鼓，青筋現，能食而肌瘦，內熱，大便後有血，與香砂枳朮數劑，消未久而脹復作，彼求末藥，方用廣陳皮六錢，真神麯、赤茯苓各一兩，雞肫皮、五穀蟲洗淨炒各八錢，胡黃連五錢，大幹蟾二隻，共為細末，服完一料，腹脹消，肌肉生矣。</p>
<p>丙辰長夏鄂霞侄之孫，周歲，患暑風壯熱，唇紅，一連七日目竄，反張，抽掣無定，視其胎氣旺，能食乳，風暑皆盛，實證也。連用香茹、防風、柴、葛、黃連、石膏重劑，調下益元散，全然不效。因思六淫之感，當重歲氣，辰戊之歲，上見太陽，太陽膀胱之邪，當用羌活、黃柏，此黃連之所以不效也。復定一方：羌活、防風、秦艽、天麻、鉤藤、黃柏、赤茯苓、桑寄生，滑石、甘草，一劑而抽掣減，二劑而熱退搐定，掣多筋弛，手足不利，續服和血養陰之劑，數月始能坐立一時。經歷暑風症甚多，胃氣未敗者，皆用羌活、黃柏取效，歲氣之應如此。</p>

<h2>方脈治驗隨錄十五症</h2>
<p>江麗彩兄，素有痰熱，手戰之患，一日忽頭眩、嘔吐、心煩、狂叫，牙痛如錐，又如蟲行，口漱涼水，溫則吐而易之，失水則痛叫不可耐，舌已咬碎，口不能言，心卻明白，手雖戰而能書，屢書「燒死也」三字，大便四、五日不解，小便赤而少，脈弦滑按之搏指。此因思慮過度，氣結火鬱，兼之平日好酒，濕熱內蘊，結為實火症也。病在胃不可用下藥，以大苦寒之劑降之。</p>
<p>生地黃一兩、搗汁　丹皮二錢　麥冬三錢　黃連五分　炒梔子一錢五分　花粉　知母　熾實　木通各一錢　生石膏二兩　竹葉心一錢五分　犀角磨汁一錢，長流水煎，連服二次，藥後梢平靜，二便利，痛定，口不漱水，夜少臥，次早用逍遙加減：柴胡　薄荷　生地　丹皮　茯苓　炒梔子　陳皮　半夏　甘草　竹葉　琥珀，二劑愈。</p>
<p>程氏子，年少好酒，每醉必吐，吐甚帶血，心中嘈雜，此是胃家血，宜安胃，不得作血症治：陳皮六分　半夏曲六分　茯苓一錢　甘草三分　沙參一錢　麥冬八分　老米二錢</p>
<p>乾荷葉五分。一劑定，二劑愈。</p>
<p>此治江麗彩兄次日事也，時有議予用藥過甚者，予以此方示之，凡治急症如救焚拯溺，刻不容緩，治緩病當用調和之法，輕重緩急，用藥之權衡也。</p>
<p>胡依蓮先生孫媳，產後五朝發熱，腹痛，小便不利，服產後通套之劑，病反甚，夜請予視，診其脈弦大，唇紅，面赤，目怒，心煩，少腹脹痛已極，昏悶者數次。予曰：此惡阻膀眈也，徒利水則惡不行，破惡則水不利，宜二法並用，或可救急：丹參三錢　桃仁　歸尾　赤芍　紅花　元胡　澤蘭　車前　木通各一錢，柴胡　升麻　枳殼各六分　琥珀研末四分，急流水煎服，夜半進藥，天未明惡水並行而解。</p>
<p>雄村曹氏婦，年三十餘，黴雨初過，日氣方蒸，園中摘莧而歸，發寒熱一日夜，小便不利，次日頭痛，腹脹，或煩或嘔，服藥病加甚。予過其地，邀入求救，診其脈弦大，發熱腹脹，坐臥不能，勢甚迫。予曰：此風暑濕三氣合而為病也，與胃風湯調服天水散，未時進藥，申時小便，酉時熱退，藥病相當，所謂迎刃而解也。胃風湯即平胃散加防風。</p>
<p>漁梁胡氏婦，年四十，久不乳，忽內熱頭昏，兩乳作脹，以手捻出鮮血，醫用逍遙、歸脾，脹甚，血愈多。予曰：脈弦大，肝熱也，用生地、丹皮、生白芍、青皮、澤蘭、車前、炒梔子、麥芽，二劑平，四劑愈。</p>
<p>黃備張緒周兄內人，患頭痛，痛在額，甚至自撞牆壁，已半年矣，雜治不效。予制都梁丸與服，十日而痊。</p>
<p>福林侄孫婦，早寡，姑老子幼，素多憂鬱，內熱食少，胸中隱隱痛，不安臥者旬日，忽嘔出膿血數口，診其脈滑數，按之無力，病似肺癰，肺癰為實證，脈無力難勝重劑，因請親家汪贊禾先生商酌議曰：脈無力，屢言心中難過，宜以輕劑消息治之，甘、桔、牛蒡、茯苓、橘紅、貝母、紫苑、澤蘭數味，次日忽大吐盈盆，盡是膿血，予曰：肺癰咳唾膿血無此之多。一湧而出，胃院癰也，膿血去多，理應重補，慮其有餘不盡，猶與橘紅、茯苓、穭豆、銀花、桔梗、澤蘭、甘草等淡劑，以滌胃中余穢，二日膿血已盡，人雖困能食粥，然後用黃耆、獅黨、麥冬、歸、芍、生地、丹皮、茯苓、貝母、甘草等補劑，幸能受補，分兩日加，調理半月而痊。</p>
<p>江振霞表兄，至日換皮袍受寒，怯寒，發熱，服溫散之劑，微汗，熱已退，時作寒戰，小便不利，勢甚迫，夜半請予視，診其脈細弱無力，平日小便點滴，汗出之後點滴全無，用茯苓三錢　人參一錢　肉桂五分，服藥後小便利，安臥而愈。</p>
<p>孝廉朱直如，年四旬，得軟足病五年不愈，望其顏色肌膚猶在豐腴之例，聆其聲音嘹亮如無病人，問其平日保身之道，但言心事有之，一切頗知自愛，切其脈則舉指弦大，重按有力，合四者而論，非虛證也，既非虛證，治宜除病。風從上受，濕從下受，傷筋則筋縱不能束骨，骨重難以久行，而失治致成痿躄者有之，為著痹者有之。人身之受病如器之受物，濕留於身久而不去則生熱，熱氣上浮，致有頭旋、眼黑之患，流於經絡，致有足膝動掣之患，脈來弦大有力，有力者病氣旺也，非氣血之有餘也，素多痰亦濕熱也，欲治此病，當先祛濕，濕去則筋強，筋強則骨健，筋骨健強，舉步自然輕捷，不言補而補在其中矣：方用：</p>
<p>茅蒼朮三兩　黃柏一兩　苡仁二兩　茯苓　五加皮　蓽薢　天麻各二兩　廣陳皮　半夏各一兩五錢　甘草一兩，共製為細末，用嫩桑枝四兩熬汁疊為丸，綠豆大，早服三錢，開水送下。</p>
<p>六淫之邪乘虛不乘實，軟足病雖由濕傷筋，始得之時亦必乘虛而入，病久且深，已難提出，服清利濕熱之藥，一月病無增減者，實有其病當之，故略覺鬆耳，道路既開於前，再以淡滲之味加入堅骨強筋劑中，攻補兼施，亦一法也，為定第二方：</p>
<p>赤白首烏　杜仲　牛膝　枸杞子　巴戟天　虎脛骨　茯苓　苡仁　澤瀉　五加皮　黃柏　鹿筋熬膏和蜜為丸。</p>
<p>服第二方三個月，自秋歷冬，弦大之脈漸平，筋骨稍強，步履漸覺輕便，但言腰部虛似欲人扶。予曰：腰者，腎之府，補腎當君地黃，藥無二君，首烏易地黃，時值寒冬，脈已平，黃柏理應除去，苡仁味淡亦可除，用大熟地六兩，加黃耆三兩，附子一兩，以鼓動一陽來復之氣，再加陳皮一兩，利膈消痰能使全方活動，守至春回自當漸入佳境。春回步履漸輕，束裝北上矣。</p>
<p>後塢張薪傳兄，感時氣傳染之熱症，經旬不解。一日請予治，入其室聞呻吟之聲，診之身熱、脈大，一日夜不小便，少腹脹痛欲死。予曰：此熱邪傳入太陽膀胱腑，急宜五苓散，下之稍遲，膀胱壞矣。茯苓三錢　豬苓、澤瀉、白朮、桂枝各一錢，長流水煎服，未逾時小便如注，床上床下成流，汗出倦臥，病遂漸解。此仲景傷寒大法也。</p>
<p>侄孫乾吉，得傳染病，時值深秋，初感面暗指冷，醫以為寒，疏散藥中用桂枝、附子、煨姜，一劑人事昏沉，熱不退。予適病足，其母位而求救，勉強往視。診其脈數大，目瞪口張，唇焦舌黑，以指探之，枯槁如銼。予曰：熱才三日，津液雖傷，斷不如此之甚，是津液為藥所傷也。急救津液，更無他法，用大生地一兩，大麥冬五錢，知母、丹皮各二錢，柴胡、青蒿各一錢，生甘草五分，加梨汁沖服，徐徐進藥，盡一大劑，人事漸明，舌稍潤，再進一劑，熱退能食。次日午後忽大寒振作，口鼻俱冷，其母急走來告，予曰：無恐，此變瘧也。爾後回身已熱矣，小柴胡中猶加知母、麥冬，數日而痊。傳染時氣在七日前和解居多，予用大劑急救津液是醫藥非醫病也，時令傳染多有似寒症者，香蘇飲為妥當，若遇孟浪之輩，動輒姜附桂枝，殺人甚速，錄此以為戒。</p>
<p>文學汪繹如，初夏得心病有似癲狂之狀，徹夜不成寐，舉家驚愕，甚可慮，眼藥旬日，有用逍遙加味者，有用補心丹者，有作痰治用膽星者，作火治加黃連者，皆不效。請予治，診其脈弦大，重按無力，唇紅面赤，予曰：脈大無力非實火也，此由用心過度，心火上浮、不能下交於腎，腎水虛不能上潮於心，當用交通心腎之法，以予自服八仙長壽丸，辰砂為衣，令早晚各服三錢，納心火於腎水之中，以成既濟之象，服之數日，神安脈靜，守服此丸，病遂愈。予治心腎不交，用六味地黃丸，辰砂為衣，效者甚多，是能以法治病者。</p>
<p>施德木匠黃老三，病寒熱頭痛，初服疏散藥，頭腫如斗大，額上皮綻，漬出黃水，服清震湯不效，七日不大便，小便亦少，診其脈滑實，予曰：此濕熱壅甚，當服清利之劑，用連翹、赤芍、枳殼、防風、檳榔、厚朴、大黃、木通、生甘草，一劑二便利，腫微消，除去大黃加入穭豆、菊花二劑而愈。</p>
<p>西干汪氏女，年十八，將出閣，傳染時熱病，適逢經後，熱入血室，十四朝而熱解，頭髮盡落，竟成一禿子不能嫁，請予治。予曰：發為血之餘，熱傷血，故發落，重宜養血兼服丸藥，趁此初虧，發或可生，久則難出矣，四物加阿膠以養血，柴胡以疏達肝氣使之上升，發之生必秉火氣，再加枸杞以補木中之火。服之兩月，發漸生，半年而盈尺，此是因熱邪所傷，非本氣內虧，故能應藥。治熱病多服黃芩，發秉火氣而上生，養血中宜加補火之味，若用桂附，反傷其血，惟枸杞一味潤而不燥，此用藥之善也。次年出閣，髮長可綰矣。</p>
<p>張光遠兄第五媳，勞傷小產，血多一空而脫，予在近鄰，夜半叩門求治，診其脈已絕，身尚溫，微有鼻息，其家以為死矣，欲放平。予曰：且慢，問家有人參否，答曰：有參一錢。予曰：足矣。用當歸一錢同煎，以匙呷之，徐徐盡一酒杯，靜候片時，復診視脈微，續唇口微動，服二煎安臥，至天明能食粥，再與歸脾湯二劑而起。此症有不死者三，予在近鄰，一也；家有人參，二也；命勿放平，三也。三者缺一，死矣。此時用藥只有參歸二味，氣血雙提，若再加一味，便非治法，且不能受。</p>

<h2>病可治病家不知信任者錄四</h2>
<p>胡仰山兄，素善飲酒貪涼，病因於濕，濕之在外者，浸淫兩足，潰爛而出不盡，則臀生癤，肛門腫。濕之在脾肺者，則生痰作嗽，上為喘呼不得臥，喘甚則汗大泄，數見脫象而復定者，胃氣強腎氣不敗也，予用腎著湯：</p>
<p>茯苓三錢　白朮　半夏　澤瀉各一錢　乾薑五分　穭豆二錢，（大豆黃卷更好）長流水煎服。</p>
<p>因痰而嗽治在脾，因濕生痰當利濕，濕從下受著於腎，故用腎著湯加半夏以潤腎，而以穭豆泄腎之濕也。藥力緩，服之二日無大效，其家不信，竟服金匱腎氣湯，數日而死。</p>
<p>蕭氏女，年十五，日隨母績麻，一春多雨，坐處常濕，濕從下受，致有腳氣之病，始而右足腫痛，服藥未已，左足又腫，漫腫不紅，漸生寒熱，甚致頭目眩暈，治之不善，患延一月，請予治時，目直頭仰，腰背反張，人事不省，已成痙痓之症。予曰：此腳氣上攻之病、風濕在經，久而失治，漸傳入臟，急宜從經解散，可望生機，方用羌、獨、桂枝、秦艽、萆薢、蒼朮、防己、川芎、橘紅、半夏、石菖蒲、連翹、木通、甘草，加酒炒桑枝，共成一劑。其家畏用羌獨，另請他醫，先與蘇合丸，續投溫補之劑，竟成不救。</p>
<p>潭渡黃氏婦，患腹痛，痛在胃脘，煩嘔不能食，日夜不成寐，延予治時，病旬日矣，診其脈滑大，體素豐腴，見其痛甚作暈，且與和胃理氣一劑，不效，次日復診，予曰：腹痛久，脈當沉細，寸口滑大而數，此胃脘癰也。病者又言，一月之前大便曾下惡血，近來不下，其痛有如雀啄之狀，此胃中積瘀，漸作癰膿無疑，必待嘔出膿血，其病方解。膿尚未出，方用桔梗、甘草、連翹、蒡子、銀花、赤芍、丹皮、歸尾、乳香、貝母、枳殼為一劑。飲藥些須無大驗，病家以為荒唐，遂更醫，為之一嘆。</p>
<p>上里江氏婦，患休息痢二年，雖愈而腸垢未盡，能食體漸復，懷孕後不時猶有坐努之弊，至產後大便自前陰出，醫用分利提補之劑，半年不效，坐努難任，請予治。予曰：大小便並出前陰，非腸交也。不自腸癰致病，非腸潰也，大便日夜十餘次，前出者十之七，後出者十之三，是必大腸易位而小腸猶故道也，大腸之所以易位者，必由臨產用力而就前陰，產後不歸穀道致成斯病，且腸本有垢，垢則滑，輕車熟路，久而成慣，坐努無時，此致病之由也。欲歸穀道，當先實腸，腸實則水穀自分，再與多服補中益氣湯，庶幾可望大氣旋轉，若大氣不升，糟粕不聚，無返本之期矣。其家無力服參，遂寢予議。</p>

<h2>見而不能治者錄四</h2>
<p>鄰翁程彤，身體素強無血症，年近七旬，忽嘔血，脈弦，強與以清熱平肝之劑，血遂止。一月後胸中忍忍又吐數口，服藥又止。一日忽吐出肝一塊，重兩許，再吐如棋子大者五六，遂困頓不食，數日而逝。</p>
<p>□溪項錦州兄長媳，久嗽咯血，內熱人困，延予治時，病數月矣，診其脈弦數，按之無力，予曰：此火盛灼金之症，時值夏令火旺，與以瀉火保金之劑，守至金秋得令，再望生機。所服煎劑大概參麥居多，丹皮、茯苓、紫菀、百合之類出入加減，一日吐出肺兩塊，意如熟豬肺，胸中忍忍痛，再用參麥加入白芨、阿膠等昧，遂不應未幾而逝。</p>
<p>鄰翁何天一患腹痛，痛甚頻下大便黑如炭，小便如墨汁，腹痛日夜不止，食入作嘔，用芍藥甘草湯不應，六君不應。自言胸中作燒，加入芩連，又不應。其人平日好酒，恆蓄燒酒於家，無夜不醉，老年不勝曲糵，此腸胃腐敗無治也，數日而逝。予前所見，酒客得病，下如敗醬、如漆渣者，數入皆不治，但未有如此之黑也。</p>
<p>大便下血者不死，小便尿血者多死。予曾治畢文高兄，溺血二、三年一發，甚至歲發一、二次，服補中益氣加炒黃柏、山梔數劑而止。年過七旬服藥無效，竟以尿血死。後又見胡秉軸兄、畢振宇兄尿血成條，藥皆不應，逾月而死。</p>

<h2>見聞事實錄四</h2>
<p>一族兄賣水為生，好酒。夏月臥處嘗濕，病寒熱，旬日遍身發出瘡疥，一瘡中生一蟲，癢不可耐，以針挑取小者如粟，大者如米，或令以雞蛋攤餅貼之，不能遍及。江藕塘先生命採桑葉一石曬乾，鋪樓板，夜臥其上，桑葉能去風濕，蟲聞桑葉香，盡皆鑽出，再以黃柏、苦參作湯浴之，數日而愈。醫者，意也。此不藥之藥也。</p>
<p>龍松年先生云：一人病咳，經年皮膚甲錯，肌肉盡脫，胸中隱隱難過，作肺痿治久不效，自度必死。時逢初夏枇杷正熟，醫令取黃熟枇杷三十斤，去皮核熬成膏藥一大斗，每日早晚開水溶服二合，服未畢咳止，胸開，皮膚漸潤，肌肉漸生，此潤肺之功也。肺喜潤，脾喜燥，潤肺之藥多不利於脾，二冬之類是也。枇杷色黃味甘能補脾土，以生肺金，勝於二冬多矣。此其所以效也。</p>
<p>一人久患鼻淵，濁涕腥穢，無肯與近者，時逢長夏，醫命取艾茸四兩，攤作二餅，用新瓦兩片，烈日中曝熱，攤艾茸於凹几上，先安一枕，以額抵之，冷則頻易，數日而病除，此之謂「日灸」，針鋒相對，腦寒去矣。大凡病久不愈者，藥未至病所耳。</p>
<p>江斯符兄作客湖南，見一行主人風疾在榻，交易寫算尚能應客，一遊方賣藥者在門，擁擠多人，有礙客商，行主人惡之，命驅去，賣藥者顧謂主人曰：勿驅我，我為爾起足疾。主人耐之至夜，沽酒邀入，賣藥者問足廢幾年矣。對曰：三年矣。又問痛否？對曰：陰雨時掣痛。間此地有騾馬坊否？對曰：有。引至坊中，鏟取騾蹄底下皮兩許，至行中酒洗瓦灸為末，瓶中傾出炙過乳香一錢和入，分三日淡酒沖服。三日之後下榻移步，再服一料足疾愈矣。江斯荇兄親見其治，歸以伺予曰：騾蹄治風疾，書有之乎？予曰：未之見也。問何以能速效？予曰：騾馬善行，去風其力在蹄，加乳香借酒力安得不速。阿膠，驢皮所煎，尚能去風，況騾蹄乎！此四者中在方書之外，實在理法之中，錄之足以廣醫家之見識。</p>

<h2>婦人病</h2>
<p>婦人孕八九月乳流出者，名乳溢，血氣旺也，所見甚多。廣陳皮五分　醋炒麥芽二錢，煎服自愈。室女年大乳流出者，名乳泣，多隱而不言，有其母代求藥者，予以黑逍遙治之，未幾出閣而病愈。中年婦乳脹流血，名乳衄。三十年前曾見姚氏婦，今又見張氏婦，初流血續出黃水，予亦以黑逍遙愈之，此三種皆可治之病也。</p>
<p>室女少婦天癸未行，有每月鼻衄者，有每月齒縫中出血者，名齒衄，又謂之倒經，皆經水逆行之病，予所治多人，方用四物加丹參、梔子、元胡、益母早之類，月季花一朵同煎，天癸行而衄止。</p>

<h2>看虎口</h2>
<p>錢氏（仲陽）看小兒脈紋，男左女右，取決於虎口之次指，未有究其義者。予考之《素》、《靈》，恍然悟曰：以其屬陽明之脈之根始也。陽明之脈起於大指次指之端，兩陽合明，故曰陽明，陽明常多氣多血，有病則先應之，小兒純陽之體，更於此手始，故即於此以觀其變焉可也。</p>
<p>先師有言，小兒之脈見於虎口，亦猶大人之脈見於寸口也，又云三關直透者不治，屢驗。</p>
<p>看脈紋辨三關是近世幼科一訣，三關之中復有曲里彎外、青紫紅黃等語，屢試多不大驗，莫若以色浮而顯者為邪在表，色隱而暗者為病在裡，青紫為驚熱為實邪，淺紅為虛熱，青黑而沉為寒為痛，黃白為虛而無熱，一切惑人之處皆可盡掃，蓋以視幼吉凶，多決於精神面目，所重不在此也。</p>

<h2>小兒常有之病</h2>
<p>一曰癲癇之為病，小兒常有之。諸書皆言，積驚成癇，故有驚風三發便為癇之語。大概肝主驚風，初作之時不為疏解，便投金石丸散，使邪留於心包肝膽之中，久而不除，生痰生熱，觸著便發，或目直喊叫，搖頭手掣，口吐白沫，或卒然昏僕不知人，或作豬聲羊聲、雞犬牛吼之聲，後世遂有五癇之名、陰陽之別，多方雜出，莫非雄朱金珀膽星牛黃鉛粉之類，愈治愈深，逼成壞證者有之。予治此證，惟以肝主驚風為本，得之未久，體質旺者，用錢氏瀉青丸去龍膽加橘、半，以疏豁之，病久體弱者，用逍遙加橘，半以疏達之，搐鼻散不時嚏之，兼以調和胃氣，久久自除。</p>
<p>一曰疝，疝之為病雖發於腎，實本於肝，雖始於寒，實成於熱，時發時好，腫一睪丸，故名偏墜，邪伏厥陰之經，不移之病也。小兒多有之，皆由坐臥濕地而得，古人治疝，每用寒熱兼施之劑。亦有初生月內即患此者，濕則有之，寒則必無，不可以溫藥急攻，予制治疝煎方：柴胡、青皮、鉤藤、香附、梔子、橘子、川楝子、山楂子、荔枝核、茯苓、穭豆、澤瀉之類出入加減，外用橘葉蔥艾三物煎洗，久久自除。</p>
<p>一曰鬾病，巢氏云，婦人懷孕有鬼神導其胎中，妒嫉小兒，致令此病，其狀微微下利，寒熱往來，毛髮鬇鬡，情思不悅也。《千金》論亦云：「鬾者，小兒鬼也，乳子未能行，其母復有孕，令兒漸漸羸瘦，骨立發稀，大便不勻，乃鬾病也。法當用紫霜圓下其鬾乳，後以益黃散補之，令兒斷乳即安。」予謂婦人乳子情意所關，腹既懷娠，生氣注於胎，雖乳何益？《淮南》有言：「男子藝蘭，美而不芳；鬾子得乳，萎而不澤，情不相往來也。」此真透達之言，鬼神之說無足為據，速令斷奶為是。</p>
<p>一曰無辜疳，無辜，鳥名。啼時兩頷扇動，如瘰癧之項，小兒肝熱，目暗頸核累累狀，類無辜，因以為名。後人穿鑿，遂謂兒衣夜露不收為無辜，鳥羽所落感而成病，荒唐之甚，予用逍遙加減，緩緩調理，愈者甚多。</p>

<h2>少見二症</h2>
<p>黃濱餘外甥女，七歲，下白兒不自知，其母疑焉，夜臥時以帛墊其身，始識其病，請予治。予曰：女子二七任脈通，始有赤白帶下之病，任脈未通，帶脈未成，何以得此，是必脾經有濕，兼稟母氣而然。用陳皮、白朮、茯苓、山藥、苡仁、扁豆、芡實、白芍、甘草九味，為末，服之止。其女出閣，逾年，一產而脫，體氣早虧之過。</p>
<p>蕭方來兄子，天姿聰敏，十歲時即有夢遺、盜汗之患，用六味加龍骨、龜板，以靜攝之，以龜龍皆潛藏靈物也。久服病漸止，畢姻後，竟以損症早逝。</p>

<h2>華先生中藏經論治</h2>
<p>夫病有宜湯者，宜圓（丸）者，宜散者，宜下者，宜吐者，宜汗者，宜灸者，宜針者，宜補者，宜按摩者，宜導引者，宜蒸熨者，宜暖洗者，宜悅愉者，宜和緩者，宜水者，宜火者，種種之法，豈惟一也。若非良善精博，難為取愈，庸下淺識，亂投湯圓（丸）、汗、下、補、吐，動使交錯，輕者令重，重者令死，舉世皆然。其湯可以滌盪臟腑，開通經絡，調品陰陽，祛分邪惡，潤澤枯朽，悅養皮膚，養氣力助困竭，莫離於湯也。丸可以逐風冷，破堅癥，消積聚，進飲食，舒榮衛，定開竅，緩緩然，參合無出於圓（丸）也。散者能祛風邪、暑濕之氣，攄寒濕渾濁之毒，發散四肢之壅滯，除剪五臟之結伏，開腸和胃，行脈通經，莫過於散也。下則疏豁開塞。補則益助虛乏。灸則起陰通陽，針則行榮引衛。導引則可以逐客邪於關節。按摩則可驅浮淫於肌肉，蒸熨闢冷，暖洗生陽。悅愉爽神。和暖安氣。若實而不下，則使人心腹脹滿，煩亂，臌腫。若虛而不補，則使人氣血消散，肌肉耗亡，精神脫失，意志昏迷。可汗而不汗，則使人毛孔閉塞，悶絕而終。合吐而不吐，則使人結胸、上喘、水食不入而死。當灸而不灸，則使人冷氣重凝，陰毒內聚，厥氣上衝，分墜不散，以致消滅。當針而不針，則使人榮衛不行，經絡不利，邪漸勝真，冒昧而昏。宜導引而不導引，則使人邪侵關節，固結難通。宜按摩而不按摩，則使人淫隨肌肉久留不消。宜蒸熨而不蒸熨，則使人冷氣潛伏，漸成痹厥。宜暖洗而不暖洗，則使人陽氣不行，陰邪相害。不當下而下，則使人開腸蕩胃，洞泄不禁。不當汗而汗，則使人肌肉消絕，津液枯耗。不當吐而吐，則使人心神煩亂，臟腑奔沖。不當灸而灸，則使人重傷經絡，內蓄痰毒反害於中和，致於不可救。不當針而針，則使人氣血散失，機關細縮。不當導引而導引，則使人真氣勞敗，邪氣妄行。不當按摩而按摩，則使人肌肉䐜脹，筋骨舒張。不當蒸熨而蒸熨，則使人陽氣偏行，陰氣內聚。不當暖洗而暖洗，則使人濕灼皮膚，熱生肌肉。不當悅愉而悅愉，則使人神失氣消，精神不快。不當和緩而和緩，則使人氣停意折，健忘傷志。大凡治療要合其宜，脈狀病候，少陳於後：凡脈不緊數，則勿發其汗；脈不疾數，不可以下；心胸不閉、尺脈微弱，不可以吐；關節不急、榮衛不壅，不可以針；陰氣不盛，陽氣不衰，勿灸；內無客邪勿導引；外無淫氣勿按摩；皮膚不痹勿蒸熨；肌肉不寒勿暖洗；神不凝迷勿悅愉；氣不奔急勿和緩。順此者生，逆此者死。脈病之法，備說在前。</p>

<h2>喻喜言先生議病式</h2>
<p>從上古以至今時，一代有一代之醫，雖神聖賢明力量不同，然必不能捨規矩準繩，以為方園平直也，故治病必先識病，識病然後議藥。藥者所以勝病者也，識病則千百藥中任舉一二味用之，無不通神。不識病則岐多而用眩，凡藥皆可傷人，況於性最偏駁者乎？邇來習醫者眾，醫學愈荒，遂成一議藥不議病之世界，其夭枉可勝悼哉！欲彼此惑，無如議病，病經議明，則有是病即有是藥，而不知者，必欲執藥性為去取，何其陋耶！</p>

<h2>與門人定議病式</h2>
<p>某年某月某地某人，年紀若干，形之肥瘦，長短若何，色之黑白，枯潤若何，聲之清濁長短若何，人之形志音樂若何，病始何日，初服何藥，次服何藥，某藥稍效，某藥不效，時下晝夜孰重，寒熱孰多，飲食喜惡，二便滑澀，脈之三部九候，何候獨異，二十四脈中何脈獨見，何脈兼見，其症或內傷或外感，或兼內外，或不內外，依經斷為何病，其標本先後何在，汗吐下和寒溫補瀉何施，宜用七方中何方，十劑中何劑，五氣中何氣，五味中何味，以何湯名為加減，其效驗定於何時，一一詳明，務令纖毫不爽，起眾信從，允為醫門矜式，不必演文可也。</p>
<p>某年者年上之干支，治病先明運氣也。某月者治病必本四時也。某地者辨高卑燥濕五方異宜也。某齡某形某聲某氣者，合色脈從圖萬全也。形志苦樂者，驗七情勞逸也。始於何日者，察久近傳變也。問藥物驗否者，斟酌己見也。晝夜寒熱者，辨氣分血分也。飲食二便者，察腸胃乖和也。三部九候何候獨異者，推十二經脈受病之所也。二十四脈見何脈者，審陰陽表裡無差忒也。依經斷為何病者，名正則言順，事成如律度也。標本先後何在者，識輕重次第也。汗吐下和寒溫補瀉何施者，求一定不差之法也。「七方」，大、小、緩、急、奇、偶、復，乃藥之制，不敢濫也。「十劑」，宣、通、補、泄、輕、重、滑、澀、燥、濕，乃藥之宜，不敢泛也。五氣中何氣、五味中何味者，用藥最工之法，寒熱溫涼平，合之酸辛甘苦鹹也。引湯名為加減者，循古不自用也。刻效於何時者，逐款辨之不差，以病之新久五行定痊期也。若是則醫案之在人者，工拙自定，積之數十年治千萬人不爽也。</p>

<h2>醫宗必讀全經始知治法</h2>
<p>醫家始讀岐黃書，識其病之所生，不能通悟治法，以全書古奧，難乾記誦，多有棄而讀後世淺近之書者，至滑伯仁、張介賓、汪訒庵諸公，節取經言，裁成類纂，雖為醫門捷徑，而日復一日，漸失全經。因思漢末華先生《中藏經》祖述岐黃，備言治法，蓋由《素》、《靈》淺而出之者也。華先生神於醫，有剖腹浣腸之技，而獨述經言，不為奇論。是欲以規矩繩後世，不以長技授人，其慮遠矣。予自少至老，苦讀全經，僅足知醫，行之一字多有未備，洵乎醫道之難言也。仲景長於湯液，針灸之法，間一及之。宗仲景者，續稱大家，予習其方，以應時變。所遇必欲針灸及按摩導引諸法者，百中一二，亦嘗用之，古法中又不徒以一方畢乃事也。近世以來，惟尚虛名，不求實學，徒有醫之名而無其實，千思百慮，啟悟後人於華先生論治之外，更錄喻嘉言先生議病定式，為醫家診治之大法，後之學者能從此法，不難入仲景之門，望岐黃之道矣。</p>

<h2>診治雜言</h2>
<p>凡視病初起未藥時，最宜斟酌，一病到手，輕者勿論，形色脈象一有疑焉，便不可忽。病初起服藥一差，如領路的錯了，趕回來豈不耽誤？</p>
<p>舉業重首藝，為將重先鋒，訟獄貴初供，善奕者不失先著。病起用藥，一差勢必加甚。更醫診視，須振衣揭領，小誤不難持正，若大虛似實，大實似虛，以寒為熱，以熱為寒，冰炭之分霄壤之隔矣。《經》言：「勿實實，勿虛虛。」損不足，而益有餘，如此死者，醫殺之耳。</p>
<p>兒病初作，服輕劑病未減，後手略一斟酌不難取效，若開手孟浪，病勢日加，最難接手，稍不說明，罪歸後犯。</p>
<p>一病到手，小有疑義未決，恰值匆忙，用藥且宜從緩，若疑團未解，妄施猛烈之劑，一或有差，追悔無及。</p>
<p>有寒邪未解，誤投涼藥，謂之入井下石。熱邪未發，誤投熱藥，謂之抱薪救火。此時將醫病乎？醫藥乎？予有一訣，人以胃氣為本，且與沖和之劑，養其胃氣，俟其胃氣稍回，然後審症用藥，是急脈緩受之一法，若胃氣不回，藥雖對症，亦難受矣。</p>
<p>亦有大病初起，醫家診治不差，或藥料不精，或服藥太少藥力未到，病勢不轉，病家勢必更醫，接手之輩，若是法家，必承上文而言求所以不效之故，推進一步益求其精，自然對症。若換一低手，或貪功嫉能，顛倒是非，誤人性命者多矣，此又在病家之信任也。</p>
<p>庸工藥誤，煎劑猶可，丸散更甚，丸散可以藏拙。庸工多用之，煎劑有方在，其誤易見，丸散之誤，何處捉摸！</p>
<p>散者，散也。丸者，聚也。古方之用散是以藥料為粗末，煎服若干，雖名散，猶是湯也。</p>
<p>宿搏丸散相習成風，愚夫愚婦多受其害，予前集已言之矣，未達不敢嘗，明者自曉，何待予言。</p>
<p>丸藥長於補，無病而調養者宜之，標病力在驅邪，湯劑可以救急，間亦有宜丸散者，務須當面制配，不以一毫隱晦存乎其間，使服者坦然無疑。致若懷秘方，索重價，非君子之道也。</p>
<p>嘗見人有疾病，自謂知醫，初起時自服一劑，及待病進然後求醫，只緣把醫道看輕了，《札》云：為人者不可不知醫。俗語又云：盧醫不自醫。知醫者欲人知醫師之工拙，非自治之謂也。</p>
<p>門外好名之輩，輕舉送方，本不知醫，無足為怪。世其業者，多執成方以應變，幸中之處固多，而失手之處亦復不少。惟願後起者，能於失手之處，清夜自思，吾知其必有進矣。予生老山鄉，見聞不廣，所治驗者，皆吾歙風土所生之病，岐經有南北政之論，風土氣候之不齊，又未可以予言概也。其所同者，辨症之法，寒熱虛實之分，病狀萬殊，同歸一理，故於古聖先賢卷帙之中，尋出脈絡以渡金針，斯則予之苦心也。</p>

<h2>又論治體</h2>
<p>張劉朱李是醫家必讀之書，餬口之輩多略而不詳，訒庵先生約而釋之，以救時弊，醫門之捷徑也。《準繩》、《醫統》、《景岳全書》、《辨證錄》等篇，是病家查閱之書，非行道之書也。</p>
<p>仲景方非用之難，在對症之難，認症既真，用無不效，上工善診治之準繩也。東垣方有併力，有加減，細微曲折無不中理，中工善體認之師也。丹溪方首重養陰，而六淫症治無不俱載，但言某病用某藥，並不究其所以然，是為庸工餬口者開捷徑，非其學之淺也。河間書以亢害承製為主，法遵仲景，隨時審症，多所發明，用力最專。亦稱大家，但非文士之筆，難於記誦，人師其意而已。</p>
<p>薛立齋所治，皆王公大人膏粱味厚之輩，故其所用皆歸脾、八珍、補中益氣等方，逍遙即是散劑，平胃即是攻劑。張子和所治多山野藜藿之輩，故其所長在汗、吐、下三怯。設以立齋方治藜藿，適足以增病，以子和法治膏粱，三法未畢而氣已絕矣。醫家讀古人書，先要設身處地，乃能通變。</p>

<h1>卷下</h1>

<h2>腎者主水受五臟六腑之精而藏之故五臟盛乃能瀉解</h2>
<p>《經》曰：腎者主水，受五臟六腑之精而藏之，故五臟盛乃能瀉。是精藏於腎，非生於腎也。五臟六腑之精，腎實藏而司其輸瀉。輸瀉以時，五臟六腑之精相續不絕，所以成其坎而位乎北，上交於心，滿而後溢，生生之道也。《經》又曰：陰之所生本在五味。褚尚書澄曰：「精血者，飲食五味之秀實也。」故東垣立言，首重脾胃。脾胃一虧，生化之源絕，精何由生？腎氣雖強，可坐而敗。可怪今之治虛損者，專以補腎為事，是不明腎者主水之文，若以精為腎所專主，則何不曰腎氣盛乃能瀉，而曰五臟盛乃能瀉也？藕塘居士有云：「錢糧貯在庫中，庫中不出錢糧，所謂民脂民膏者是也。」善補腎者，當於脾胃求之。</p>

<h2>脾主長夏說</h2>
<p>時行長夏，濕令當權，即今之黴月也。俗稱芒種逢壬入小暑，重庚出者是也。居歲之中央，正脾之用事，濕土主之，何嘗寄旺於四季哉？《中藏經》曰：「脾主四季，正旺長夏。」此方可為定論矣。然四季獨寄旺於長夏者何？蓋火能生土，土得火而旺也。東垣氏謂君火持權，不與之子，以其中央旺極之日，而君火占之，恃父勢也。火勢退而秋初矣，濕土之令補而足之，即今之木樨黴者是其驗也。若謂四季各旺一十八日，徒有其言，並無確據，惟以之配合七十二日以成一歲之紀則可，若以之主治主時則不可也。</p>
<p>河間《原病式》云：「長夏屬土地之體也，庶物隆盛之時也，萬物至此無不長茂，故曰長夏。」長字當讀上聲，讀平聲者非也。理亦近是，並存之。</p>

<h2>秋傷於濕辨</h2>
<p>東垣李氏云：暑者，季夏也。季夏者，濕土當令之候也。君火持權不與之子，濕土之令不行也。濕土之令雖不得行，必終於行，故於申之分不與君火爭其權，至酉之分乃得其權，故發於大暑以後也。此《經》所謂「秋傷於濕」之所由來也。然燥氣又為秋之正令，其所主時，必先讓濕土之令過而後行，是以遲至白露後始見。蓋以六氣配四時，當分六步看，不得以四時拘。喻嘉言解作秋傷於燥，雖多演文，亦非無據，予為之斷曰：「傷於濕者秋之始，傷於燥者秋之終也。」</p>
<p>又，秋主陽明燥金，謂秋傷於濕者，濕，客氣也；燥，主氣也。《經》言：「未至而至曰病，去而不去曰病。」濕應去而不去，是以秋傷於濕也，是客氣傷於主氣也。春傷於風、夏傷於暑、冬傷於寒，辭理皆順。時字傷令字也。獨秋傷於濕，作令字傷時字，讀者不疑也。乘秋則肺先受之，故上逆而咳，肺朝百脈，故發為痿蹶，或曰冬寒夏暑，皆天地之常。彼留而不去之濕，或偶一有之，非常氣也，豈能如寒暑之歲歲皆然。予曰：「《內經》原為病設也，若一於正氣而無留邪則無病矣。天地或無必留之氣，人身則有留邪之病。不必盡人而病也，但有其留之者則為秋傷於濕也。</p>
<p>又汪赤厓讀《經》有言：「《難經》以右腎為命門，誰不知其誤撰，而趙養葵為之穿鑿，喻嘉言改經文為秋傷於燥，是偏執之聰明，後世亦有附會其說者。」</p>

<h2>肝藏魂肺藏魄</h2>
<p>魂，陽也。肝主血而藏魂，陽入於陰也。魄，陰也。肺主氣而藏魄，陰附於陽也。凡入，晝則魂出而用事，魄乃藏於肺；夜則魄出而用事，魂乃藏於肝，魂魄之出入若參商。然問魂魄從何道出入，答曰：魂從目中入，目合則魂藏。多夢紛壇，肝不藏也。魄從鼻中出，鼻息寧則魄藏也。</p>

<h2>肝沉而肺浮</h2>
<p>《難經》論肝沉而肺浮，有浮石、沉香之諭。予以淺言出之：肺屬金而反浮何也？氣舉之也；肝屬木而反沉何也？血實之也。</p>

<h2>邪之所湊其氣必虛</h2>
<p>《經》曰：「邪之所湊，其氣必虛。」又曰：「風雨寒暑，不得虛，邪不能獨傷人。」兩人同時遇風，則虛者病矣。兩人同時遇病，病與人身之元氣交戰，壯者氣盛則病退；怯者氣餒則病進，是以仲景立法以元氣為主。</p>

<h2>三陽結謂之隔</h2>
<p>三陽結謂之隔。三陽：手太陽小腸、足太陽膀胱也。結者，燥也。小腸、膀胱主精液，肺胃之液下輸腸與膀胱，二腑受液則傳導易。腸既結不受胃之液，則其液上溢而為涎，於是結者愈結，溢者愈溢，如之何可治？</p>
<p>三陽結而服潤劑，未吐涎則可，若涎湧而食不下，不能潤腸，反滋其液，是速其斃也。如欲服藥，究竟以六君為是，脾喜燥而惡濕，胃液不行，腸於何潤？</p>
<p>糞如羊矢者為三陽結，治在腸；大便溏而食哽，治在胃。</p>

<h2>傷寒小解</h2>
<p>六淫之邪自傷寒始，故《經》言「冬傷於寒，春必病溫」，仲景推廣經言著《傷寒論》原始也。冬傷於寒，病不即發，至春變為溫病，至夏變為暑病，此暑字作熱字讀，即《經》言：「熱病者，皆傷寒之類也」。其有冬時嚴寒感而即發者，為正傷寒，在太陽可用麻黃、桂枝；直中三陰可用真武、四逆。其時一陽之復甚微，肅殺之氣正酷，寒邪新感未變為熱，非辛溫大熱之劑衝動不開，故其立法如此。至若寒變為熱，由漸而傳及時行傳染之熱病，只與傷寒比類，依仲景六經傳變之方隨症加減，無不取效。東南風土，春夏秋燥之令而患熱病者，大忌辛熱，不可輕投。</p>
<p>又《經》言：「人之傷於寒也，則為病熱。」熱雖甚，不死。其兩感於寒而病者，必不免於死。常讀東垣《此事難知》，問兩感從何道入，答曰：傷寒一日太陽與少陰俱病。太陽者，腑也，自背俞而入，人所共知。少陰者，臟也，自鼻息而入，人所不知也。鼻氣通於天，故寒邪無形之氣從鼻而入。腎為水臟，水流濕，故腎受之。表裡兩感，臟腑俱病。欲汗之則有里，欲下之則有表，故死。然人之體質有虛實，病之所感有淺深，感之深者必死，感之淺者猶或可救，故立兩感方，以待好生之君子用之。</p>

<h2>大羌活湯</h2>
<p>羌活　獨活　防風　防己　黃芩　黃連　蒼朮　白朮　細辛　甘草　各三錢　知母　川芎　地黃各一兩</p>
<p>共為粗料，每服一兩，水二盞，煎至盞半，熱飲一大盞，不解，再服。病退則止，若有餘症，依仲景法隨經治之。</p>
<p>予又聞先輩有言，兩感者，感而復感也。老幼體弱之人，皆無此病，強壯者有之。體弱之人一感已覺難任，慎重而調治焉，故熱雖甚不死。強壯之人恃其氣血，不肯服藥，病雖未作，邪實未除。數日之間復感於寒，後至者入，前至者傳，前至者傳，後者隨之，是以一日之間太陽與少陰俱病，二日三日如之，六經皆受邪。水漿不入，不知人，六日死。予曾見病兩感者數人，皆出強壯，皆系六日死。前輩稱此病為打好漢，信然。因制兩感奪命湯，辨之早或有可救。</p>
<p>麻黃　桂枝　杏仁　附子　細辛　甘草</p>
<p>二日加葛根、黃連。泄加乾薑、白朮、茯苓。譫言加石膏。</p>
<p>三日加柴胡、黃芩。囊縮而厥加吳萸。</p>
<p>東垣以表裡齊受為兩感，後世以感而復感為兩感，然實有此二種，究竟齊受者急，復感者稍緩，後學宜並知之。</p>
<p>又傷寒與時疫，有同處，有不同處。其同處在傳經，其不同處，傷寒有直中症，時疫無直中症，以時疫由於傳染而又非嚴寒之令也。</p>
<p>又直中之傷寒，陰未傷，急宜救陽，故有真武、四逆諸方。熱病之傷寒，爍傷陰液，只宜救陰，故姜附不可犯。</p>
<p>又凡病時疫傳染多起於發熱惡寒。俗醫不識，誤用桂枝、薑、附，有鼻衄者，有牙腫喉痛者，有服藥之後煩躁不寧者，有延數日而發斑者。明醫視此，必重用清涼，倘能應藥漸解，多是所誤之輕者。若連進姜附，繼以參耆，邪得補而愈虐，朋竭胃槁，口燥唇焦，旬日而死者甚多。病家不知，反歸怨於涼藥醫家，若遇此等，必先與病家任事之長者反復說明，然後用藥。</p>
<p>又誤用桂枝姜附，冬春猶可，若時值夏秋，流金爍石，津液先虧，豈堪任此，所以仲景云：桂枝下咽，陽甚則斃。</p>
<p>又尤可怪者，俗以有房室者為陰症，而用姜附，不思有房室者陰已先虧，用姜附更竭其陰，殆矣！仲景之用姜附，是寒邪直中之陰，所謂無熱惡寒者也，非房室之謂也。</p>
<p>又或問房勞而得熱病者，何以治之？予曰：房勞之人陰已先虧，熱邪乘虛陷入，與婦人熱入血室同例，清熱養陰是其治法。</p>
<p>又俗言：「傷寒宜禁穀食，尤不得食粥。」不知出於何典？仲景方首稱桂枝湯，服藥須臾，啜稀粥一碗，以助藥力，胃氣自然充暢，邪不能入，汗復易出，所謂汗生於穀。法之至神妙者，不讀仲景書何足語此。</p>
<p>又予讀《傷寒論》注十餘家，有析疑者，有穿鑿者，雖所見不同，要皆以惜元氣、惜津液為主。元氣固當借，而津液為尤甚。書云：火燃枯鼎，雖赤而氣不升，注之以水，則氣自來矣。求汗於血，生氣於陰，信哉！</p>

<h2>陽常有餘陰常不足</h2>
<p>朱彥修有「陽常有餘，陰常不足」之論。云：人受天地之氣以生，天之陽為氣，地之陰為血，故氣常有餘，血常不足。天之陽，日也。常明不息，陽有餘也。月盈則虧，朋不足也。人之陰血應月，故男子十六而精通，女子十四而經行，是有形之後，猶有待於乳哺、水穀以養陰氣，始成而可與陽氣為配，故古人必三十、二十而後嫁聚，可見古人之善於攝養也。男子八八而精絕，女子七七而經斷，人身之陰只供三十年之用，以此難成易虧之陰。情欲無涯，若之何而可以供給也？其為不足也，明矣。養陰之說可不先講乎？</p>
<p>俞子容曰：近時醫者多執前人「肝常有餘，腎常不足」之說，往往舉手便用平肝之劑。《聖濟》經云：「原四時之所化，始於木。究十二經之所養，始於肝。女子受娠一月，厥陰肝經養之，肝乃春陽發動之始，萬物生長之源，故戒怒養陽，使先天之氣相生於無窮，所以肝主色，氣和則體澤，氣傷則枯槁，故戒怒養肝是攝生之切要也，不可泥平肝之說。</p>
<p>王安道云：三焦，焦字取火能腐物之義。火之性自下而上，三焦者始於原氣，由於中脘，散於膻中，皆相火之自下而上也。其曰：上焦主納而不出，下焦主出而不納，其納其出皆系乎中焦之腐熟，焦之為義可見矣。</p>

<h2>大家論治</h2>
<p>張子和云：氣，一也。因所觸而變為九。《內經》有九氣不同之說，東垣發脾胃之論，統而為一，以升降之，振衣揭領之法也，故《直指方》有橘皮一物湯治諸氣病。</p>
<p>子和云：河間治五志獨得言外之意，凡見喜怒悲思恐，皆以平心火為主，致於勞者傷於動，動便屬陽，驚者駭於心，心便屬火，亦以平心火為主。今之醫者不達此旨，遂有寒涼之謗。</p>
<p>丹溪云：凡腹痛之脈皆見沉細，寒熱之辨在緩與數，不在大小。痛處要分上下左右，是氣？是血？是痰？是食？雖喜按亦有屬實症者，故諸痛無補法。</p>
<p>丹溪言：人身氣血沖和，百病不生，一有拂鬱，諸病生焉。蒼木、撫芎總解諸郁，郁在中焦，蒼朮、撫芎開其氣以升之，假如食在氣上，提其氣則食自降矣。</p>
<p>又云：郁者，結聚而不得發越也，當升者不得升，當降者不得降，當變化者不得變化，傳化失常，六郁之病見矣。</p>
<p>河間《原病式》云：凡病熱甚，則鬱結而氣血不能宣通，神無所用而不遂其機，隨其鬱結之微甚，有不用之大小焉。是故目鬱則不能視色；耳鬱則不能聽聲；鼻鬱則不能聞香臭；舌鬱則不能知味，至如筋骨痿痹不能為用者，皆熱甚鬱結之所致也。</p>
<p>潔古云：「靜而得之為中暑，動而得之為中熱。中暑為陰症，中熱為陽症。避暑於深堂大廈者，名中暑，陰寒所遏陽氣不得伸越，大順散主之。若行人、農夫於中日勞役得之，名曰中熱，必肌膚大熱、大渴引飲，汗大泄、元氣以動，此天熱外傷肺氣，蒼朮白虎湯主之。」所病雖有動靜之殊，其為天暑一也，大順飲中甘草最多，乾薑、杏仁、肉桂次之，三物皆炒用，蓋溫劑也，吾恐不能解暑，反增內煩矣。</p>
<p>世俗不明，類曰：「夏月陰氣在內，大順散為必用之藥。」其誤人也，甚矣。夫陰氣非寒氣也，蓋夏月陽氣發於外，而陰氣則在內耳。豈可視陰氣為寒氣而用溫熱乎？陰果為寒，何以夏月則飲水（冰？）乎？人之六腑為陽、五臟為陰，如肝腎之陰，陰在內陽之守也，肝腎之陰非肝腎之寒也。作如此看，癡人亦當喚醒。</p>

<h2>又錄名言</h2>
<p>諸痛為實，通則不痛。二語甚確，凡痛必喊叫，非實而何？凡治病不可損胃氣，胃氣一傷，病皆滋長，輕者重，重者死矣。</p>
<p>年少婦人病久發澤者無妨，血未傷也。</p>
<p>凡小兒面黃、腹大、發如枯草者，不可服消燥藥，血已傷也。</p>
<p>肥人之身以火為寶，瘦人之身以濕為寶，故肥人不任清涼，瘦人不任溫補。</p>
<p>肝以散為補，心腎以收為補，脾以燥為補，肺以潤為補，腸胃以通為補。古人有以大黃為補劑者，腸胃閉結氣不行也。</p>

<h2>制方之難</h2>
<p>《素》《靈》一書，但言臟腑經絡受病之源見於脈象，針灸而外，只治之以蘭、治之以雞矢醴及飲以半夏湯等語。君臣之制、補瀉之方、大小奇偶、正治反佐之法，示其意而已。仲景為制方之祖，《傷寒》、《金匱》二編因病立方，神妙無匹，後世名流大家，窺其奧旨，如潔古、海藏、河間、朱、李等公，莫不師其意而推廣之。門外好名之士經旨未明，廣製成方以待病，遂致群方雜出，醫學無宗，東垣《局方發揮》批駁殆盡。東垣以往，能知用古者即良醫也。制方之難非後世所能及，今錄七方之制以為法，再舉數方以為用方之門徑，後之學者從此推求，庶可漸通制方之義矣。</p>

<h2>七方之制</h2>
<p>方有七：大、小、緩、急、奇、偶、復是也。張從正曰：大方有二，有君一、臣二、佐九之大方，病邪不一，不可以一二味治者宜之。有分兩重而頓服之大方，肝腎及下部之病道遠者宜之。小方有二，有君一、臣二之小方，病邪專一，可一二味治者宜之。有分兩小而頻服之小方，心肺及在上之病宜之，徐徐細呷是也。完素曰：肝腎位遠，數多則其氣緩，不能速達於下，必大劑而數少，取其迅速下行也。心肺位近，數少則其氣急，不能升發於上，必小劑而數多，取其易散而上行也。《經》曰：「補上治上制以緩，補下治下制以急，急則氣味厚，緩則氣味薄，適其病所而中道，無越其制度也。」王冰曰：「假如病在腎而心氣不足，服藥宜急過之，不以氣味飼心，腎藥凌心，心復益衰矣。」</p>
<p>完素曰：「聖人治上不犯下，治下不犯上，治中、上下俱不犯，故曰誅伐無過者命曰大惑。」從正曰：「緩方有五，有甘以緩之之方，甘草飴蜜之屬是也。病在胸膈，取其留戀也，有丸以緩之之方，比之湯散其行遲慢也。有品件眾多之緩方，藥聚則遞相拘制，不得獨騁其性也。有無毒治病之緩方，無毒則性純緩也。有氣味俱薄之緩方，氣味薄則長於治上，及其至下藥力已衰矣。」好古曰：「治主宜緩，緩則治其本也。治客宜急，急則治其標也。」從正曰：「急方有四：有急病急攻之急方，中風、關格之病是也。有湯散蕩滌之急方，下咽易散而行速也。有毒藥之急方，毒藥能上通下瀉，以奪病勢也。有氣味俱厚之急方，直趨於下而力不衰也。奇方有二：有獨用一物之奇方，病在上而近者宜之，有藥合陽數一、三、五、七、九之奇方，宜下不宜汗是也」。完素曰：「小承氣，奇之小者也；大承氣，抵擋湯，奇之大者也，因其攻下而為之也。桂枝、麻黃、偶之小方也；葛根、青龍、偶之大方也，因其發汗而用之也。偶方之制，有兩味相配之偶方。有古之二方並用之偶方，古謂之複方，皆病在下而遠者宜之。有藥合陰數二、四、六、八、十之偶方，宜汗不宜下是也。」好古曰：「奇之不去復以偶，偶之不去復以奇，故曰復，復者再也。王太僕以偶為複方，七方之中有偶又有復，豈非偶乃二方相合，復乃數方相合乎？」</p>

<h2>千金參麥湯</h2>
<p>東垣云：三伏之日為庚金受囚之日，肺屬金畏火實甚，暑月逢庚，肺金之氣下伏於腎水之中，謂之「母藏子宮」、「子隱母胎」，暑退而秋金得令，故又能生水。千金參麥湯能引肺金之氣下藏於腎，金水相生，制方之妙義也。</p>

<h2>桂附八味丸</h2>
<p>陽根於陰，古人慾補陽先補陰，如盞中無油，哪有光焰？納桂附於六味之中，是為燈燭之光，真補陽之藥也，真陽，命火也。命火在坎宮，故以八味補之，乾薑、附子是仲景驅寒之藥，非補陽也。</p>

<h2>陰八味</h2>
<p>生人之秉賦不齊，陰陽各有偏盛，藥為補偏救弊而設。六味加桂附治相火不足，真陽衰憊，王冰所謂「益火之源，以消陰翳」，尺脈弱者宜之。桂附易知柏名「陰八味」，治陰虛火動、骨痿精枯，王冰所謂「壯水之主以制陽光」，尺脈旺者宜之。予體素多熱，自少耳鳴、夢泄、五心常熱，服知柏五十年，並無寒中之患。七旬後食減人瘦始停知柏，尚有目赤畏明、耳膿紅腫之患，發時足心如烙，改服八仙長壽丸，體覺漸安。非予喜服苦寒，體性當如是耳，補偏救弊信然。</p>

<h2>六味丸</h2>
<p>錢仲陽先生為幼科之祖，以小兒純陽之體不任辛熱，故將仲景八味減去桂附以養真陰，是善於用古者。後世大小通用養陰之劑，遂以六味為宗，然只宜於男子，不利於婦人，婦人陰血，自有四物在也。</p>

<h2>逍遙散</h2>
<p>古方逍遙散為疏肝散郁第一方，木喜條達，鬱則脾土受克，病生於內，故見寒熱往來、頭旋胸脹、口苦舌乾、目暗耳鳴、咳嗽便澀、月候不調等症，治宜調理肝脾。當歸、白芍補肝血之藥也，陳皮、白朮、茯苓、甘草補脾土之藥也，其中柴胡、煨薑、薄荷三味最妙。論云：東方先生木，木者生生之氣，即火氣也，火伏木中，木鬱則火鬱，火鬱則土鬱，土鬱則金鬱，金鬱則水鬱。以一方治木鬱而諸郁皆解，逍遙散是也。蓋膽為甲木少陽之氣，其氣柔嫩，象草穿地而未伸，惟得溫風一吹，鬱氣始得條達，柴胡、煨薑、薄荷之妙，真化工肖物之妙，有難以言語形容者，婦人多郁，鬱則生熱，薛氏加丹皮、梔子名黑逍遙，亦善於用古矣。</p>

<h2>滋腎丸</h2>
<p>東垣先生治王善夫小便不通漸成中滿，腹堅如石，腿裂出水，夜不得眠，不能飲食。思得治法至旦不寐，因記《素問》云：「無陽則陰無以生，無陰則陽無以化。」又云：「膀胱者，州都之官，津液藏焉，氣化則能出矣。」此病便秘是無陰則陽無以化也，此因膏梁積熱，損傷腎水，火又逆上而為嘔噦，內關外格之症悉具，死在旦夕矣。遂處此方大苦寒之劑，黃柏、知母各一兩，桂一錢為引，藥才入腹，須臾前陰如刀刺火燒，溺如瀑泉，腫脹遂消。此亦聖於制方者，不入仲景之室，何以能此！</p>

<h2>玉屏風散</h2>
<p>古方治表虛自汗玉屏風散。黃耆、白朮、防風三味。黃耆補氣專固肌表，白朮補脾專主肌肉，防風為卒伍之職，黃耆畏防風而使之衛外，藥至病所亦猶補中益氣之用升柴也。</p>

<h2>五苓散</h2>
<p>五苓散，仲景太陽膀胱腑之下藥也。太陽之邪在表則汗而發之，在裡則引而竭之，此仲景制方之義也。後人通治濕熱泄瀉小便不利者多效，遂為濕家通用之方。曾世榮治小兒驚風泄瀉用五苓散以瀉丙火滲土濕，云：內有桂能抑肝風而扶脾土。可謂善用五苓者矣。</p>

<h2>地黃飲子</h2>
<p>河間云：風病多因熱甚，俗言風者，言未而忘其本也。中風而有癱瘓諸症者，非謂肝木之風實甚而卒中之也，亦非外中於風也。良由將息失宜，腎水虛衰則心火暴盛，水不制火也。火熱之氣怫鬱，神明昏冒，筋骨不用而卒倒無知也。亦有因喜怒悲思恐五志過極而卒中者，五志過極熱甚故也。脾之脈連舌本散舌下，脾臟受邪故舌強；火氣炎上，傳化失常，故津液湧而為痰，痰涎上潮，稠黏難出故作聲也。一以屬脾，一以為胃熱，謂之屬火與土不亦宜乎，此地黃飲子之所由作也。</p>

<h2>清燥湯</h2>
<p>東垣氏言：「諸痿生於肺熱。」只此一句，便見治法大意。《經》曰：「東方實，西方虛，瀉南方，補北方。」此固是就生克言補瀉，而大經大法不外於此。東方木，肝也。西方金，肺也。南方火，心也。北方水，腎也。五行之中，惟火有二，陽常有餘陰常不足，故《經》曰一水不勝二火，理之必然。肺金體燥而居上，主氣，畏火者也。脾土性濕而居中，主四肢，畏木者也。火性炎上，若嗜欲無節，則水失所養，火寡於畏而侮所勝，肺得火邪而熱矣。木性剛急，肺受熱則金失所養，木寡於畏而侮所勝，脾得木邪而傷矣。肺熱則不能管攝一身；脾傷則四肢不能為用而諸痿之病作。瀉南方則肺金清，而東方不實，何脾傷之有？補北方則心火降，而西方不虛，何肺熱之有？故陽明實則宗筋潤，能束骨而利機關，治痿之法，無出於此，此清燥湯之所由作也。</p>

<h2>補中益氣湯</h2>
<p>東垣李氏云：人以胃氣為本，人受水穀之氣以生。所謂清氣、榮氣、元氣，衛氣、春升之氣，皆胃氣之別名也。若飲食失節、寒溫不適，則脾胃乃傷，或七情耗損元氣，既脾胃氣衰而心火獨盛。心火者，陰火也，起於下焦，其繫系於心。心不土令，相火代之，相火者，元氣之賊也，火與元氣不兩立，一勝則一負。脾胃氣虛則下流於腎，溺火得以乘其土位，故脾症始得則氣高而喘、身熱而煩，其脈洪大而頭痛，或渴不止，其皮膚不任風寒而生寒熱。蓋陰火上衝則氣高，喘而煩熱，為頭痛、為渴而脈洪，脾胃之氣下流，使穀氣不得升浮，是春生之令不行，則無陽以護其榮衛，則不任風寒乃生寒熱，此皆脾胃之氣不足所致也，與外感風寒之症頗同而實異。內傷脾胃乃傷其氣，外感風寒乃傷其形。傷其外為有餘，有餘者瀉之；傷其內為不足，不足者補之。內傷不足之病誤作外感而反瀉之，是虛其虛也。然則奈何？當以辛甘溫之劑補其中而升其陽，甘寒以瀉其火則愈矣。《經》曰：「勞者溫之、損者益之。」又云：「溫能除大熱。」今立治始得之症補中益氣湯：</p>
<p>黃耆十分　甘草五分　人參三分　以上三味除濕熱、煩熱之聖藥也。</p>
<p>當歸身酒洗二分　橘紅　白朮除胃中熱，利腰臍間血，陳皮導氣，得諸甘藥又能益元氣。</p>
<p>升麻引胃氣上騰而復其本位便是行春令。柴胡引清氣行，少陽之氣上升，以上各三分。</p>
<p>右八味都作一服，水二盞煎至一盞，去渣，食遠，稍熱服。如傷之重者不過二服而愈。若病久者，權立加減法治之。</p>
<p>腹中痛加酒炒白芍、炙甘草；惡寒冷痛加去皮中桂；惡熱喜寒而腹痛者，於加白芍、甘草中更加生黃芩二、三分；天涼時惡熱而痛，芩桂並加少許。</p>
<p>如天寒腹痛去芍藥，加益智仁、半夏、生薑，以芍藥味酸而寒故也。</p>
<p>頭痛加蔓荊子，痛甚加川芎，腦頂痛加藁本，如苦痛者加華陰細辛二分。</p>
<p>如臍下痛者加熟地黃五分，其痛立止，如不止者，乃大寒也，更加肉桂二、三分。《內經》所說：少腹痛，皆寒症，從復報中來也。《經》云：「大勝必大復」，從熱病中變而作也，非傷寒、厥陰之症也。</p>
<p>如胸中壅滯加青皮二分；如風濕相搏，一身盡痛加羌活、防風、蒼朮，病去勿再服，以風藥損人元氣而益其病也。</p>
<p>如大便閉加當歸梢，閉結不行者煎成湯，先用一口調元明粉一錢，得行則止，此症不宜下，下之恐變凶症也。</p>
<p>如春月咳嗽加佛耳草、款冬花；夏月咳加五味子、麥冬。</p>
<p>如病人能食而心下痞，加黃連一二分；不能食而心下痞勿加。</p>
<p>如脅下痛或脅下急縮，俱加柴胡一倍。</p>

<h2>清暑益氣湯</h2>
<p>《經》曰：「脈虛身熱，得之傷暑。」又曰：「陽氣者，衛外而為固也。」熱則氣泄，今暑邪干衛，故身熱自汗，以黃耆甘溫補之為君；人參、當歸、橘皮、甘草甘微溫補中益氣為臣；蒼朮、白朮、澤瀉滲利而除濕；升麻、葛根甘苦性平，善解肌熱，又以風勝濕也；濕傷脾胃則食不消而作痞滿，故加炒曲、青皮辛甘微溫消食快氣；腎惡燥，急食辛以潤之，故以黃柏苦寒借甘味瀉熱補水，滋其化源；以參麥五味救天暑之傷於庚金，為佐。名曰清暑益氣湯。</p>

<h2>葛花解酲湯</h2>
<p>夫酒者，大熱有毒，氣味俱陽，乃無形之物也。若傷之只當發散，汗出則愈，其次莫如利小便，葛花解酲湯主之。</p>
<p>蓮花　青皮各三分　木香五分　陳皮　人參　茯苓　豬苓以上各五分　白朮　神麯　乾薑　澤瀉以上各二分　砂仁　白蔻仁　葛花以上各五分</p>
<p>共為細末，每服三錢，白湯調下，但得微汗，酒病去矣。</p>

<h2>枳朮丸</h2>
<p>易水張先生常戒：服藥不可峻利，藥才下咽施化其標皮之力，便言快也，所傷之物已去。若更待一兩時辰，藥盡化開，其藥之峻利自有性情，病去之後，脾胃更損，真氣、元氣則壞，促人壽命。當時設下一藥，枳實一兩麩炒黃色，白朮二兩土炒黃色，只此二味，荷葉燒飯為丸。以白朮甘溫補脾胃之元氣，其中苦味除胃中之濕熱、利腰臍間血，先補脾胃之弱，過於枳實克伐之藥一倍。枳實，味苦寒，泄心下之痞悶，消化胃中所傷。藥入胃，其所傷不能即去，須待一兩時辰，食才消化。是先補其虛，而後化其所傷，則不峻利矣。當此之時，未悟用荷葉燒飯為丸之理。老年，味之始得，可謂奇矣。荷葉之物，中央空，象震卦之體。震者，動也，人感之生足少限甲膽者，風也，生化萬物之根蒂也。《經》曰：「履端於始，序則不愆」。人之飲食入胃，營氣上行，即少陽甲膽之氣也。胃氣、穀氣、元氣、甲膽上升之氣，一也。荷葉之體生於水土之下，出於汙泥之中，挺然獨立，其色青，其中空，象風木者也。食藥感此氣之化，胃氣何由不上升乎？其主意用此一味為引，可謂遠識深慮，合於道者也。更以燒飯和藥，與白朮協力滋養穀氣而補胃，再不致於內傷，此東垣先生老年致戒之說也。推而廣之，胃中痰滯，則有橘半枳朮；食滯則有曲糵枳朮；正氣虛則有人參枳朮；實則有三黃枳朮，此用方之妙義也。所云荷葉燒飯者，是以荷葉煮湯作飯，用荷葉包飯煨而用之者非。</p>

<h2>六一散</h2>
<p>河間六一散：滑石六兩　甘草一兩，取天一生水，地六成之之義。治盛夏暑濕生熱，心煩口渴、小便不利等症。真善於制方者。保赤家加辰砂、琥珀治小兒夏月暑熱生風，尤為對症之藥。</p>

<h2>青蒿丸</h2>
<p>近時有制青蒿丸送人者，服之不效，藥味雜也。《保嬰集》古方青蒿丸，青蒿節內蟲十條，硃砂、鉛粉各五分，杵為丸，粟米大，一歲一丸，乳汁送下，云治驚風百不失一。其詩云：「一半丹砂一半雪，其功只在青蒿節，任教死去也還魂，服時須用生人血（生人血，人乳也）」。此治心包肝膽痰熱生驚之方也，青蒿節內蟲能入臟而清熱，硃砂、鉛粉能入心包墜痰，病入心包、肝膽者用之效。邪未入臟，不可輕投。</p>

<h2>火花膏</h2>
<p>《嬰童百問》火花膏止小兒夜啼。夜啼者，臟冷也。火花陰中之陽，自然之妙，剪下一朵，辰砂一字蜜調成膏塗乳上，令兒舔吸，用法亦妙。醫者，意也，此小巧之妙方也。［一字：用量相當於銅製錢四個字中的一個字上堆放量。］</p>

<h2>舉卿古拜散</h2>
<p>陳無擇婦人方，荊芥一味焙研為末，淡酒沖服，名舉卿古拜散，治產後中風有神功。蓋厥陰血分藥也。《唐韻》荊字舉卿切，芥字古拜切。隱其名者，重其事也，非故疑惑後人。蓋欲學者讀書知音義也。</p>

<h2>因病制方</h2>
<p>因病制方者，仲景之一百十三方為驅病而設也。方從體制者，丹溪之大補陰丸，三才封髓，河間之地黃飲子，皆本氣自病之方也。至東垣脾胄諸方兼內外而言之也。有議東垣升陽方中提散藥多者，東垣之意蓋藉參耆之力，併力舉之也。藥雖多，份量輕，是能以法治病者。汪赤厓云：「逆流挽舟，纖多幾板也好。」得東垣之心矣。</p>
<p>仲景一百十三方，卷中不錄者，非不用也，十二經傳變，移步換形合成全局，不可以分。欲學，犢全書耳。</p>
<p>河間《保命集》云：「仲景桂枝、麻黃之輩，在皮者汗而發之之法也。葛根、升麻之輩，因其輕而揚之之法也。承氣、陷胸之輩，下者引而竭之之法也。瀉心、十棗之輩，中滿者泄之之法也。瓜蒂、梔豉之輩，高者因而越之之法也。此仲景因病制方之法也。</p>
<p>保赤諸方當以錢氏為宗，五臟見症各有治法，如肝臟之瀉青丸。心臟之導赤散、瀉心湯、生犀散。肺臟之瀉白散、補肺阿膠散。脾臟之瀉黃散、益黃散。腎臟之地黃丸。分門立方，至當不易。不讀錢氏書，未有能知保赤者。</p>
<p>張、劉、朱、李，臨病治方，醫家習其法，辨證不差，用之多效。惟張介賓先生盈尺之書，述古者人所共曉，新方八陣全以理言，非臨病治驗之方，是窗下所制，以待病者，謂之紙上談兵。病家查閱調理，未嘗不可，醫家執而用之，多不獲效，非應敵之兵也。</p>
<p>醫者，意也。臨症要會意，制方要有法，法從理生，意隨時變，用古而不為古泥，是真能用古者。</p>
<p>羅太無言：「以古方治今病，如拆舊屋架新屋，其材木非一，不再經匠氏之手，其可用乎？」</p>
<p>喻嘉言先生云：「醫家當先讀無方之書，後讀有方之書。《素》、《靈》、《甲乙》、《難經》，無方之書也，張、劉、朱、李，有方之書也。」</p>
<p>學士商輅云：「醫者，意也。如對敵之將，操舟之工，貴乎臨機應變。方固難於盡用，然非方則古人之心弗傳，茫如望洋、如捕風，必有率意失之者矣。方果可以不用乎？雖然方固良矣，然必熟之《素問》，以求其本；熟之《本草》，以究其用；熟之診視，以察其症；熟之治療，以通其變。始於用方，而終至於無俟於方，夫然後醫之道成矣。此論最為精切。</p>

<h2>藥性解</h2>
<p>藥之有性，猶人之有性，無所賦也。識其性，然後用之。不知其性而輕用，鮮有不敗事者。《綱目》分門辨類，藥無鉅細，先釋名，次辨誤，次修治，然後因其形、色、氣、味之各別，以合乎臟腑、經絡而施之補瀉之用。《本經》以下，代有增補，藥品日繁，何能盡識？醫家選用古方各隨風土之宜，以合君臣之制，凡用一藥，先讀《本草》者知其體，次究古方者知其用，體用既明，然後置諸囊中，一有疑焉，未可輕試。仲景方箭無空發，東垣方眾志成城，如煉兵煉將，各盡所長，要使吾心之精神與藥之氣味兩相融洽，則藥為我用，自有得心應手之妙。若不親嘗氣味，訓練乎平日，不可以為醫也。為記藥性解，欲學者知藥之性，則知所用矣。</p>
<p>參耆之氣，秉天地衝和，所謂得氣之粹者為良是也。其氣入胃，與人之元氣相合，故能相生相長，以成補益之功，此參耆之用也。四物、阿膠得天地陰成之味，其味入胃與人之陰液相親，故能相生相長以存其根，此四物之用也。有氣血兩虛而合用者，有五臟偏虧各隨其所喜而加引經之味者，是在臨症變通各從其類可也。</p>
<p>冬令傷寒，初感病在太陽尚未傳裡，麻黃、桂枝兩把火往外一撐，嚴寒之氣何患不解，此仲景麻黃、桂枝之用也。寒邪入里變而為熱，則有苦寒之味三黃、白虎、承氣等方從內而泄，此仲景攻下之用也。寒邪在表，以辛溫之氣散之，熱邪入里，以苦寒之味泄之，《經》所謂升降浮沉則順之，寒熱溫涼則逆之是也。</p>
<p>良藥治病者，草木之性順天之生氣也，毒藥攻病者，虻蟲、水蛭、砒石、硝黃之類驅地之戾氣也。病來殺我，我不殺他，不足以為治，勢不兩立之用也。醫家能施毒藥固是高手，一或有差，大命隨之矣。膽欲大而心欲細，至言哉。</p>

<h2>人參解</h2>
<p>《綱目》注云：「人參，《本經》稱人□，或省筆作蓡字，以年浸漸長成根如人形故謂之人蓡，後世因字文繁，遂以參星之字代之。張仲景《傷寒論》尚作蓡字，從古本也。或云唐本作參字，非參商之參，謂人參受天地之正氣而得人形，與天地之氣並立為參，是參字之義也。</p>
<p>《綱目》：人參生上黨山谷及遼東。二月、八月上旬採根，竹刀刮去皮，曝乾，無令見風，狀如人形者有神。上黨，今潞州也。其次用高麗者，高麗地近遼東，所產人參不及上黨者。欲試上黨參，但使二人同走，一含人參一空口，急走三、五里，其不含人參者必大喘，含者氣息自如，人參乃真也。</p>
<p>高麗人作《人參贊》，云：「三椏五葉，背陽向陰，欲來求我，椴樹相尋。」但言採取，未及功用。椴木甚大，陰廣則多生，採作甚有法，其味與上黨者同，其形體與上黨者小異，上黨者有獅頭，高麗者無獅頭也。</p>
<p>「唐·韓翃詩《送客歸上黨》，有「佳期別在春風裡，應是人參五葉齊」之句，則唐時已重上黨人參矣。三椏五葉，其產與高麗同也。</p>
<p>古本人參重上黨力勝也，至明末上黨參力漸薄，入藥無功，始重遼參。遼參，初採紅潤肥大，肆中所貨一枝有重三、五錢者，價不過十換，曾聞前輩有言，誤服人參三、五分有發狂者，陽氣如此之旺也。</p>
<p>人參得天地正陽之氣而產於陰，此即陽根干於之義。其味入口先苦後甘，此苦味非苦寒之苦，是炎上作苦之苦，先苦後甘，火生土也，苦作寒字解，豈能後甘。</p>
<p>人參之生三椏，法三才；五葉應五行；金井玉闌是其體；先苦後甘是其味；功力之大能回元氣於無何有之鄉，豈區區凡草可同日語哉？</p>
<p>人參之體柔熟為上，白熟次之。柔者，軟也，非取其色之油潤也。白熟者，皮白而中潤並不枯硬，若皮白而粗揉之枯硬者，不堪用。</p>
<p>一部《本草》歸之「形」、「色」、「氣」、「味」四字。形色，藥之體也；氣味，藥之用也。藥之主病氣味為重，人參之偽在形，明者自能辨，予所辨者在氣味。</p>
<p>人參一片，入口咀之，先微苦而後甘，愈咀越雋，津液自生，是人參之真味也。</p>
<p>今之獅黨無苦味，入口沮之，但甘淡耳，此其力之所以薄也。人參之偽不止於薺苨，或全苦而不甘，或但甘而不苦，或帶辛酸之味。挾利者取形似以害人，予故以味辨之。</p>
<p>高麗參其味與遼參相近，述來，參價貴甚，有以高麗參惑人者，其形色大略相似，予取嘗之，全無參味，是高麗參亦假也。</p>
<p>洋參皮白而中實，金井玉闌，但欠紅潤耳，入口咀之，先苦後甘，頗似人參，咀之久，其味厚於人參，湯亦濃於人參。人參氣味俱薄，得沖和之氣渾然自升，元氣之所以生也；洋參味厚而湯濃，沉陰而降，乏沖和之氣，非金玉之君子，用者詳之。</p>
<p>近歲以來，遼參採取日繁，生長不及，市中所貨，枝小而力薄，略可觀者二三百換，自古以來所未有也，貧士無力服，醫家因偽多不敢用，遇一虛症，聽命而已。</p>
<p>人參之用甚多，其大綱有四：一、參耆、二、參麥、三、參附、四、參連。臨症變通，用之得當，其功未可盡錄也。</p>

<h2>地黃</h2>
<p>《本經》乾地黃，取生地黃百斤，擇肥大者六十斤，洗淨曬令微皺，以四十斤，洗淨木臼中搗汁，投酒再搗，絞取汁盡，拌地黃日中曬或火干，此古之乾地黃也。生地黃掘取鮮者，搗汁只入犀角地黃湯及小兒痘症大熱斑狂失血之症，余皆用乾者。</p>
<p>熟地黃，仲景八味丸始用之，蒸曬九次為滋補肝腎血液之第一藥，後世始與乾地黃分用，婦人四物湯中所用者乾地黃也，肆中製作不精，凡用亦宜淡酒洗淨、曬乾、咀斷用。</p>
<p>地黃，純陰之品，火與日，陽也，蒸曬九次，陽之極也，從陽引陰，從陰引陽，成交泰之象。其色絕黑，其液盡透，大有陽生陰長之義。仲景八味丸用作陰中補陽之藥，蓋陰之體陽之用也。桂附之力依熟地之力以為功，故無滅裂之患，是用藥相制之法也。</p>

<h2>肉桂</h2>
<p>《別錄》云：「桂生桂陽、南海。」陶宏景雲：「南海，即是廣州。」陳藏器云：「桂林、桂嶺，因桂得名，今之所生，不離此郡，從嶺以南際海，盡有桂樹。嵇含《南方草木狀》云桂生合浦、交趾，生必高山之巔，則桂為炎方之木，稟純陽之氣而生，今則嶺廣以南所產之地甚多，只州因桂名一語，則今之所用者非假，用之不差，其功自在，但取新而肉厚者，不必定求交趾。</p>

<h2>附子</h2>
<p>附子，野生者近時難得，《本草》所稱底平、八角、重一兩以上者，則野生數年之附子。今之附子，雖出西川，皆種而生，如種芋然，一歲一收，哪得底平、八角，較之野生則力薄矣。凡用須自制，揀大者，小便中浸三日，洗淨晾乾，麵裹煨令發析，乘熱切片，磁瓶收好用。</p>
<p>仲景《傷寒論》附子用作驅寒之藥。八味丸，附子為少陰嚮導，其補自在地黃，後世以附子為補，誤矣！附子走而不守，何補之有？</p>

<h2>炮姜</h2>
<p>柯韻伯《傷寒注》云：凡治傷寒當知惜津液，津液一傷，病不能解。炮姜為損津液之第一藥，以辛溫大熱之性而更炮之以烈火，胃無真寒，何以堪此？唇焦齒槁、四肢反厥，吾見多矣。欲求病解，得乎？</p>
<p>仲景為制方之祖，《傷寒》、《金匱》二書如四逆、真武、理中、白通諸方為救急驅寒之重劑，皆用乾薑，無所謂炮姜者。即丹溪、河間、東垣諸方，亦未之見。喻嘉言治卒中寒邪，講明仲景救急回陽之法，亦從古法用乾薑。則炮姜為後世之制可知，俗醫不察，動輒輕投，殺人多矣。</p>
<p>桂附之純陽，天之陽也，天之陽，陽中必有陰，桂之有油，即有陰矣。附子置器中，久之則器潤，即有陰矣。乾薑雖極辛辣，其中尚含生氣，炮之以烈火，生氣何在？</p>
<p>其有四時感冒之症，多見惡寒指冷，只宜生薑以溫散，乾薑尚不可用，況炮姜乎？</p>
<p>藥之炮炙有二：脾胃藥穀芽、神麯、耆、朮、甘草之類宜炙者，脾喜燥，火生土，借火力而為用也。芥、連、知、柏有宜酒炒者，制其苦寒之過，借酒力而達表也。乾薑之性秉天地之陽，業已溫矣，何待於炮？</p>
<p>或謂止血之藥多炒黑用，如荊芥、蒲黃之類皆是。予曰：荊芥本血分藥，炒黑故能去血分之風而止血。蒲黃性澀，炒黑亦能止血。血之為病，熱則妄行，炮姜豈容輕試。或曰：荊芥、蒲黃輕浮之性，炮姜力猛直達下焦去惡生新，能引血藥至氣分而生血，子何訾之深也？予曰：大劑四物，少加熟附佐之未嘗不可，若必藉炮姜止血，吾恐其逼血妄行，血海為之竭矣。此係有關生命之藥，故諄諄及之。」</p>
<p>姜以川產者力勝，故書稱「蜀姜」，取色淡黃者為上，肉黑者不中用。</p>

<h2>白附子</h2>
<p>白附子，陽明風藥、大熱純陽，與附子相類而色白故名。古方牽正散用之除面癱。陶宏景雲：「此藥久絕，無復真者，今之白附，體圓臍正，非附生可知，亦鬼臼由撥之類耳。用為面藥不見其害，湯丸中不用為是，牽正散予以石菖蒲代之。</p>

<h2>款冬花</h2>
<p>《本草備要》一書，由博返約歸於正宗，為醫家便讀之書，其中可儀者唯款冬花一味，隨諸家雜演成文，似非訒庵手筆。既曰辛溫純陽，則偏勝之藥也，又曰瀉熱、潤肺、消痰、除煩。豈有辛溫純陽之性而能瀉熱除煩乎？至若定驚明目一句，尤屬支離，無從著落，藥為補偏救弊而設，斷無寒熱虛實皆可施用之理。予故急為指出，用者詳之。</p>
<p>款冬花開於隆冬，感一陽之氣而生，蕊小、色紅、氣微辛，能溫肺散寒，治肺寒咳嗽之藥也，肺熱咳嗽者忌用。東垣[用]佛耳草氣熱味酸，亦治寒嗽之藥，故用款冬為之使。</p>

<h2>大黃</h2>
<p>大黃，大苦、大寒，氣味俱厚，沉陰而降之藥。積瘀生熱及癥瘕積聚、痞滿堅實之症，閉結不通，用以盪滌腸胃，推陳致新，如定禍亂以致太平，所以有「將軍」之號。古言用藥如用兵者，此也。凡救急之藥，病不急者不用；病急須用其全力，畏首畏尾，醫之下也。仲景三承氣，太陽經，酒浸；陽明經，酒洗，余不用酒。東垣謂：其下行最速，若邪熱在上，非酒不至，必用酒浸引至至高之分，驅熱而下，如物在高巔，必射以取之也。若用生者，則遺至高之邪，病後或目疾，或喉痹，或頭腫，或膈上熱痰生也。此之謂節制之兵，若近世之九製大黃，猛利之性全消，攻堅破積不及凡品，徒有將軍之名，而無其實，大黃之不幸也。試思以霸王之勇而縛其手足，輿至陣前可能卻敵否？</p>
<p>上工治病，力在驅邪，攻堅破敵，如救焚拯溺，刻不容緩，故仲景為醫之聖。調補之方，中工能講之。</p>
<p>或謂：如子所言，則九製大黃竟成無用之物矣。予曰：亦有可用之處，如大腸血燥閉結不行，配當歸、枳殼、麻仁為潤腸之劑，亦對症之藥也。此外，無合用者。</p>
<p>予前集有九制膽星亦成無用之物，而有肝膽蘊熱發為癲狂之症用為引經，竟與此同。</p>
<p>九制之藥，大概利於補不利於攻，地黃、首烏為滋補良藥，故宜於蒸曬，愈蒸則其液愈透，其味愈厚，守而不走，其力乃純。大黃之用氣味俱厚，走而不守，氣先至而味隨之。九蒸則氣散，氣散則所存者渣滓耳，故無用也。</p>

<h2>陳皮</h2>
<p>予師常論藥性，云：藥先入胃，必胃和而後藥力行。陳皮一味，能補能散，可升可降，藥之取效陳皮之力居先。須備廣產二、三年者為上，新者氣烈，半夏亦然。予遵其說，至老不易。</p>

<h2>厚朴</h2>
<p>予每炒厚朴而畏其氣之辛烈，一室之中，逾時乃散，謂子弟曰：「此非良藥也。《本草》苦溫能散實滿，胃中壅閉不行可稍稍用之，胃無壅閉而輕用則元氣受之矣。爾輩宜知之。」平胃散用之者，佐蒼朮而為消。承氣湯用之者，佐大黃而為下。承氣湯，仲景之利劑也。大黃、芒硝之猛，厚朴佐之從胃中推蕩而下，將軍之功尚賴其脅，則厚朴亦將軍也，不逢大敵，將軍可輕動乎！</p>

<h2>天麻</h2>
<p>天麻苗名赤箭，一莖直上，有風不動，無風反搖，故又名定風草。歲生十二子，閏歲生十三子。其莖中空，子從中落，名還筒子，有還源之妙，返本歸根之意。不獨能治風，亦補肝腎之藥也，血虛生風者宜之、婦人肝熱生風頭旋眼黑者，四物湯中加用多效。用治小兒驚掣，用之淺者也。</p>

<h2>桑寄生</h2>
<p>草木生乎土，皆以土為母，寄生生於桑，則以桑為母矣。桑乃箕星之精，故能治風。寄生得桑之全力，其功倍於桑枝，能利關節。堅筋骨。關節利則風去，風去則血脈通而筋骨堅矣。但苦難得真者，故世俗以桑枝代之。</p>

<h2>龍骨</h2>
<p>《綱目》龍背八十一鱗，具九丸之數，陽之極也。骨為陽中之陰，龍潛則骨長，骨長則身重，故老龍脫骨則體輕。陸佃《埤雅》云：「蛇易皮、龍易骨、麋鹿易角、蟹易螯，則龍骨是所脫之生骨非死龍之骨也。」書言晉地、川穀及泰山岩穴中甚多。齒為骨之餘，骨脫則齒亦脫矣。蛇易之皮、鹿解之角，山人多拾之，龍骨之拾亦由是也。</p>
<p>骨為陽中之陰，以潛而長，性澀，舔之黏舌，故能斂浮越之正氣。《十劑》曰：澀可止脫，龍骨、牡蠣之屬是也。牡蠣生於水而無雌，為陰中之陽，故二物每相須用。</p>

<h2>土</h2>
<p>土為萬物之母，坤之體，脾之用也。用時宜旋取純黃色含生氣者為上，陳土一物皆自壞牆坼灶中出，其土和過石灰，不堪收用。吾鄉土色純黃者多，每於長夏土旺之月，掘取純黃無雜色者一石，米湯和杵，捻成彈丸，烈日中曬收，所費二三十文可支數年之用。予常備置囊中，黑壤之地一時難覓者，以數丸贈之。</p>

<h2>鹽</h2>
<p>天一生水，水曰潤下，潤下作咸，人之精血味皆咸，鹽為先天之味，故淡食則人乏。小兒麻、痘忌之者，麻痘之出以血運行，咸能凝血故也。病水腫人忌之者，能助水氣為患也。</p>

<h2>薑棗</h2>
<p>薑棗所以和營衛。姜能宣通陽氣，棗能致津液，二味並行，無汗能發，有汗能止。古方多用之大棗，北棗也，沉重味厚，長於補脾。和營衛之功，小棗為上，小棗入水輕浮，合之生薑，辛甘升陽能至病所，予邇來所用皆小紅棗也。</p>

<h2>辰砂琥珀</h2>
<p>琥珀，木體，沖服則浮。辰砂，石質，沖服則沉。雖鎮心安魂之藥，若加一二分於煎劑，不能入胃，用之何益？凡用此者，必先為末，置器中以熟蜜一二匙調勻，然後以湯沖服。止血方中有用棕灰、發灰者，亦宜先用蜜調，不爾則泛。</p>

<h2>飯膏</h2>
<p>近有吊米露之法，病不能食以之代飯，予見飲米露者數人病加而谷絕。米露之性一團火氣上升而出，與燒酒同，雖無曲糵，其理一也。莫若以熟米作飯，飯成再入砂鍋煮爛，夏布絞出飯汁，潔白如膏，濃厚和軟，不難吞嚥。沖和之性，與粥飯同，勝於米露多矣。</p>

<h2>甘草</h2>
<p>葉時可先生一日觀釣魚而悟甘草之用，謂予曰：魚竿在手，所用者絲與釣也，投竿於水，絲屬木而性浮，釣屬金而性沉，腰間必系一泛留於水面，能使浮者不浮、沉者不沉，釣者之心視為準則，是釣魚無需於泛子，非泛子竟不能得魚。藥中之甘草極似之，以其味長於甘而守中也，古稱甘草能和百藥，藥留於胃則從容分布，升者循經，降者入腑，非甘草所治之病，而藥之得力皆賴其停頓之功，無用之用大已哉。</p>

<h2>節錄名言醫者當識</h2>
<p>醫家應讀之書甚繁，《素問》、《靈樞》，訒庵先生輯成《類纂》，本草亦成《備要》，可謂便讀之書矣。岐黃教人治病必先歲氣，毋伐天和，故詳言乎氣運。南華有言：寇莫大於陰陽，無所逃於天地之間，人在氣交之中與萬物同體，不由生人生物之顯然可見者而尋繹之，則陰陽之患渺不可得，故於醫經而外採錄名言作岐黃之羽翼，為仲景之津梁，理達人情，語皆實錄。一木之葉、一蟲之臂，莫非天之所生、地之所成，中含太極，外應五行，運隨時轉，道與日新，識其道者，可以治病，可以保身；不知其道，茫茫四顧，恍若迷津。欲傳薪於後學，宜遠汲乎古人。</p>
<p>李時珍曰：天造地化而草木生焉，剛交於柔而成根菱，柔交於剛而成枝幹。葉萼屬陽，花實屬陰，得氣之粹者為良，得氣之戾者為毒，故有五形焉、五氣焉、五色焉、五味焉、五性焉、五用焉。炎帝嘗而辨之，軒岐述而著之。此《綱目》之小序也。草木之交，無人指出，《綱目》之所以稱大成也。</p>
<p>劉完素曰：藥之用，必本於氣味。寒熱溫涼，氣生於天；酸苦辛鹹甘淡，味成於地。是以有形為味，無形為氣。氣為陽，味為陰。陽氣出上竅，陰味出下竅。氣化則精生，味化則形長，故地產養形，形不足者溫之以氣。陽生則陰長。天產養精，精不足者補之以味。陽根於陰。故有七方十劑，以盡藥之用，此太古先師設繩墨而取曲直，叔世方士出規矩以為方圓。夫物各有性，制而用之，變而通之，其功用豈有窮哉？</p>
<p>天以陰陽五行化主萬物，周流不息之謂行。陰陽者，五行之父母也。草木之生根荄，為奇，甲坼為偶。合抱之木，皆從偶中出。《經》曰：「天地氣交，萬物華實。」《易》曰：「天地不交，則萬物不生也。（李時珍）</p>
<p>梅、杏、桃、李，花皆五出，其中有六出者，實必雙仁，奇偶之相應也如此。</p>
<p>凡諸果實中含生意，故稱仁，仁皆顧祖，故根本不可失。</p>
<p>水潛，故蘊為五精；火飛，故建為五臭；木茂，故華為五色；金堅，故實為五聲；土和，故滋為五味。（關尹子）</p>
<p>升者為火，降者為水，欲升而能升者，為木，欲降而不能降者，為金，惟土能始終之。</p>
<p>五行所以相害者，天地之性。眾勝寡，故水勝火；精勝堅，故火勝金；剛勝柔，故金勝木；專勝散，故木勝土；實勝虛，故土勝水也。（《白虎通》）。</p>
<p>木與木相摩則燃；金與火相守則流，月固不勝火，於是乎有僓然而道盡。月金，魄水所生也，不能勝火。僓，音頹，衰敝之貌。其道盡，因以地水救之。（《莊子》）</p>
<p>夫濕之至也，莫見其形，而炭已重矣；風之至也，莫見其象，而木已動矣；日之行也，不見其移，騏驥倍而馳，草木為之摩；陽燧未轉，而日在其前。故天之且風也，草木未動，而鳥已翔矣。其且雨也，陰曀未集，而魚已潛矣。以陰陽之氣相感動也。故寒暑燥濕，以類相從；聲響疾徐，以音相應也。（《淮南子》）</p>
<p>陽燧在掌而太陽火，方珠運握而少陰水。抱薪救火，燥者先燃；平地注水，濕者先濡。</p>
<p>《月令》：二分之日，日夜分則同度量，鈞衡石，角鬥甬，正權概。二至之日，陰陽爭，死生分，驗氣至於前三日，垂土炭于衡兩端，輕重均。陰氣至則土重，陽氣至則炭重。（《天文志》「以鐵易土」）</p>
<p>《月令》：冬至，麋角解；夏至，鹿角解。《本草》：夏枯草，冬至生，夏至枯。陰陽迭變，毫釐不爽。</p>
<p>書稱桐葉知閏，黃楊厄閏，《月令廣義》云：草木皆知閏，不獨桐葉也。棕木歲長一節，棕毛十二片，閏歲得十三片；鳳尾草左右十二翎，歲閏得十三翎；芋生十二子，閏歲益一子；藕生應月，月長一節，遇閏則益一節。草木之受氣如此。</p>
<p>升降浮沉，物之性也。曾子云：擊舟，水中鳥聞之而高翔，魚聞之而深潛。《易》言：「本乎天者親上，本乎地者親下，則各從其類也。」</p>
<p>子夏問於孔子曰：「商聞易之生人及萬物鳥獸昆蟲各有奇偶，氣分不齊，而凡人莫知其情，唯達德者能原其本焉。天一、地二、人三，三為九，九九八十一。一主日，日數十，故人十月而生。八九七十二，偶以從奇，奇主辰，辰為月，月主馬，故馬十二月而生。七九六十三，三主鬥，鬥主狗，故狗三月而生。六九五十四，四主時，時主豕，故豕四月而生。五九四十五，五為音，音主猿，故猿五月而生。四九三十六，六主律，律主鹿，故鹿六月而生。三九二十七，七主星，星主虎，故虎七月而生。二九一十八，八生風，風主蟲，故蟲八月而生。其餘各從其類矣。鳥、魚生於陰而屬於陽，故皆卵生，魚遊於水，鳥遊於云，故立冬則燕雀入水化為蛤。蠶食而不飲，蟬飲而不食，蜉蝣不飲不食，萬物之所以不同。介鱗，夏食而冬蟄。齕舌者，八竅而卵生。蛆嚼者，九竅而胎生。四足者，無羽翼。戴角者，無上齒。無角無齒者，膏。無角無後齒者，脂。晝生者，類父，夜生者，類母。是以至陰主牝，至陽主牡。敢問其然乎？」孔子曰：「然，吾昔聞老聃亦如汝之言。」子夏曰：「商聞《山書》曰，地，東西為緯，南北為經。山為積德，川為積刑。高者為生，下者為死。丘陵為牡，谿谷為牝。蚌蛤龜珠與月為盈虛，是故堅土之人剛，弱土之人柔，墟土之人大，沙土之人細，息土之人美，㘪土之人醜，食水者善遊而耐寒，食土者無心而不息，食木者多力而不治，食草者善走而愚，食桑者有緒而蛾，食肉者勇毅而悍，食氣者神明而壽，食谷者知慧而巧，不食者不死而神。故曰羽蟲三百六十而鳳為之長，毛蟲三百六十而麟為之長，甲蟲三百六十而龜為之長，鱗蟲三百六十而龍為之長，倮蟲三百六十而人為之長。乾坤之美也，殊形異類之數，王者，動必以道動，靜必以道靜，必順理以奉天地之性，而不害其所主，謂之仁聖焉。」子夏言終而出。子貢進曰：「商之論也，何如？」孔子曰：「汝何謂也？」對曰：「微則微矣，然非治世之待也。」孔子曰：「然，各其所能。」（《家語》）</p>
<p>東方有比目魚，不比不行，其名謂之鰈。南方有比翼鳥，不比不飛，其名謂之鶼鶼。西方有比肩獸，與邛邛岠虛比，為邛邛岠虛吃甘草，即有難，邛邛岠虛負之而走，其名謂之蟨。北方有比肩民焉，迭食而迭望，中有枳首蛇焉。此四方中國之異氣也。（《爾雅》）</p>
<p>《雷公炮炙論·序》摘言：鮭魚插樹，立便乾枯，用狗膽塗卻當榮盛。無名止楚（無名，異石藥也。楚，痛也。），截指而似去甲毛（截去指頭敷之，如去甲毛，不覺其痛。）。聖石開盲明目，而如雲離日。鐵遇神砂，如泥似粉。石經鶴糞，化作塵飛，斷絃折劍，遇鸞血而如初（以鸞血作膠，塗折處，鐵永不斷。）。海竭江枯，投遊波而立泛（遊波，燕也。）。令鉛拒火須仗修天（今呼為補天石。）。如要形堅，豈忘紫背（紫背，天葵草名。）。長齒生牙，賴雄鼠之骨末（齒折不生者，取雄鼠脊作末揩折處，齒自生。）。發眉墮落塗半夏而立生（以生半夏莖杵取涎塗之。）。</p>
<p>橘踰淮化為枳（《周禮》）。貉踰汶則死（《考工記》）。是囿於地氣也。</p>
<p>鳥生於林，其羽象葉，獸生於山，其毛象草，魚生於水，其鱗象紋，此地氣之承天也。（李時珍）</p>
<p>羊無瞳而視，蛇無足而行，魚無耳而聽，蟬無口而鳴，菟絲無根依木而生，水母無目以蝦為目，天之所以庇其不全也。</p>
<p>象膽遊行於四足，獺肝月分一葉，龍蛇之蟄，蟲鳥之鳴，隨一歲之氣運也。</p>
<p>□莢朔生望落，月季花月開一度，隨一月之氣運也。</p>
<p>山鳥朝嘲，水鳥夜咬，貓睛十二時變，隨一日之氣運也。</p>
<p>雄鳴上風，雌鳴下風，雄翼掩右，雌翼掩左，此一定之天也。（《禽經》）</p>
<p>葵花向日，菱花向月，鷓鶘南飛，柏葉西指，是天性之不可奪者。</p>
<p>蜒蚰食蝍蛆，蝍蛆食蛇，蛇食蜒蚰，三物相逢，至死不動，物之相畏有如此者。</p>
<p>人有忌漆者，見漆而發瘡腫。曾患疔瘡，見麻勃而立死。食蓖麻者，一生不得食炒豆，犯之則脹死。物之相忌有如此者。（《綱目注》）</p>
<p>磁石引針，琥珀拾芥，氣相感也。磁石不能取憊鐵。（一說磁石不受曲針）琥珀不能吸腐芥。物之腐敗，生氣絕矣，故不受。（《化書》）</p>
<p>腥膻委地，群蟻自來，不待招也。冰盤在室，蒼蠅自去，不待驅也。</p>
<p>食梅津生，食芥淚墮，此液之自外奪者也。悲則涕生，愧則汗發，此液之自內致者也。（《鹿門子》）</p>
<p>人之瞳子黑，故晝見夜不見，陰與陰合也。梟獺之瞳子赤，故夜見晝不見，陽與陽合也。虎、豹、貓、犬、驢、馬之瞳子黃，故晝夜皆見。（《眉公秘笈》）</p>
<p>男子稟天之陽，陽氣聚於面，男子面重，故溺死者俯；女子稟天之陰，陰氣聚於臀，女子臀重，故溺死者仰。（褚尚書澄）</p>
<p>男子三十而娶，女子二十而嫁。陽數奇、陰數偶。男長女幼者，陽舒陰促。勇三十筋骨堅強，任為人父。女二十肌膚充盛，任為人母，合五十應大衍之數，生萬物也。（《白虎通》）</p>

<h2>續刻落成喜而占此</h2>
<p>醫是儒家事，儒家未肯兼。變齏成我志，種杏為誰甜。識以經多廣，心緣戒慎嚴。此肱閒不住，筠管暇時拈。</p>
<p>保赤當恆產，朝斯夕在斯。不慚為道小，但恐濟人遲。有驗皆留簡，無稽匪我思。杜陵曾有句，得失寸心知。</p>
<p>針艾粗知穴，生疏業不加。（予少，過姑蘇虎丘，謁前輩尤松年先生，留三月，師其針艾，未卒業而歸）一心師尹聖，湯液作生涯。（伊尹不事針灸，著《本草湯液》）草木多殊性，君臣習大家。寄言諸後起，毋使用時差。</p>
<p>望色知生死，良工早見幾。但求無鬼責，何暇計人非。潔己名能保，貪功罪有歸。順時調氣運，心理莫相違。</p>
<p>著書難閉戶，創稿每焚膏。好辨非得已，年衰敢告勞。情懷優耿耿，歲月水滔滔。收拾餘生事，都歸這一遭。</p>
