<header data-type="book">
<h1>醫驗大成</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>秦昌遇</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1641">公元1641年</data></dd></div>
</dl>
</header>

<h1>衄血章</h1>
<p>一人為怒氣、鼻衄、去血過多，覺神思欠爽，頭作眩暈，手足厥冷，脈息左右寸關皆洪數。乃怒則火起於肝，血隨火上溢而出清道也。</p>
<p>方：生地（錢半）　牛膝（一錢）　梔子（二錢）　玄參（一錢）　廣皮（八分）　知母（一錢）　黃連（五分）　麥冬（三錢）　藕節</p>
<p>一人善飲、病衄，嗽喘不能伏枕。余診之：脈大如指。《脈法》云：鼻衄失血，沉細宜是脈，不然亦為可慮。脈大非熱，乃脈氣虛也，肺開竅於鼻，故作衄，此金極似火之病。急宜補肺，火自漸退。若竟用寒涼，殊悖「亢則害、承乃制」之旨矣。</p>
<p>方：人參（一錢）　黃耆（二錢）　歸身（一錢）　甘草（五分）　白朮（八分）　茯苓（一錢）　廣皮（八分）　神麯（八分）　麥冬（一錢）</p>
<p>一人右關脈洪實有力，鼻氣若燔，衄血如注，此足陽明之火。陽明之脈絡鼻，足經氣血俱多，陽熱拂鬱則陽絡傷，陽絡傷則血外溢；火性炎上，故火旺則血湧如潮耳。宜用涼血行血之劑。</p>
<p>方：犀角　生地　白芍　丹皮　鬱金</p>
<p>一人無故鼻出血，滴點不流，其色紫黑，乃陰虛之症，火極而兼水化也，名曰衊血。</p>
<p>方：黃耆（二錢）　茯苓（一錢）　白芍（一錢）　當歸（一錢）　生地（一錢）　阿膠（一錢）　甘草（五分）　側柏葉（二錢、炒黑）</p>
<p>一兒喜啖炙煿，並好飲酒，患衄，此乃胃肺積熱所致。用清胃散加減治之。</p>
<p>方：黃連　生地　丹皮　當歸　山梔　甘草</p>
<p>去升麻，加葛粉以解酒毒。</p>
<p>衄血不止，用新絳花三錢、竹茹三錢煎湯，口中屢漱自止，但切不可嚥下，應驗之極。</p>

<h1>咳血章</h1>
<p>一人於秋令病咳，疾少聲嘶。間或咯血，右手脈大無倫，時復促而中止，此脾、肺、腎三經之病也。蓋秋陽燥烈，熱則傷肺，加之勞倦傷脾。脾為肺母，母病而子失所養；色欲傷腎，腎為肺子，子傷必盜母氣以自養，而肺愈虛矣。法當從清暑益氣湯例而增減。</p>
<p>方：白芍（一錢）　麥冬（一錢）　茯苓（一錢）　生地（一錢）　歸身（八分）　黃柏（七分）　知母（七分）　廣皮（七分）　神麯（七分）　甘草（三分）</p>
<p>性急多怒患嘔吐，一日左奶下忽一點痛，復又過勞惱怒，腹中覺有穢氣衝上，即嗽極吐，亦復就嘔無痰，甚則吐血，時發如瘧，六脈皆浮細，略弦而馳，此土虛水旺之症。性急多怒，肝火時動，故奶下痛者，肝氣鬱也；穢氣衝者，肝火凌脾而逆上也；嘔血者，肝被火擾，不能藏也；咳嗽者，金失所養，又受火克而然也；嘔吐者，脾虛不能運化，食鬱為痰也；寒熱者，水火交戰也。茲宜補脾土之虛，泄肝木之實，清肺金之燥，庶幾可安。</p>
<p>方：青皮（七分）　山梔（七分）　白芍（一錢）　黃耆（一錢）　麥冬（一錢）　歸身（七分）　阿膠（七分）　甘草（五分）　五味子（五分）　白朮（一錢五分）　人參（一錢）</p>
<p>一人病咳嗽吐痰，或時帶血，飲食無味，易感風寒，行步喘促，夜夢紛壇，又有癲症，脈皆浮濡無力而緩，右手脾部儒弱頗弦，此脾病也。脾屬土，為肺之母，虛則肺子失養，故為咳嗽。又肺主皮毛，失養則皮毛疏豁而風寒易人。又脾為心之子，子虛則竊母氣以自養，而母亦虛，故夜夢不安。脾屬濕，濕喜下流，故入肝為癲疝，且疝氣不痛而屬濕。宜用參、朮、茯苓補脾為君；歸身、麥冬、黃芩清肺養心為臣；川芎、陳皮、山楂散都去濕為佐。</p>
<p>一人因勞咳血，頭眩腳軟，口氣夢遺，時或如冰水滴於身者數點，脈皆濡緩而弱，右關沉微，按之不應，初病傷腎。《經》云：腎乃胃之關也。關既失守，胃亦傷矣，故氣壅逆，血隨氣逆而咳也。又《經》云：二陽之病發心脾，男子少精。二陽者，腸胃也，腸胃之病，必延及心脾，故夢遺。亦有胃氣不固而成者。此皆屬陰虛之症，遂用</p>
<p>人參（一錢）　黃耆（二錢）　白朮（一錢）　歸身（一錢）　門冬（一錢）　茯神（一錢）　山梔（一錢）　棗仁（一錢）　陳皮（一錢）　甘草（一錢）</p>
<p>朝服六味地黃丸，加黃柏、椿皮。</p>
<p>一人咳嗽見血，多是肺受熱邪所致。氣得熱而變為火，火盛而陰血不寧，從火滯騰，而越出上竅。治宜瀉火滋陰，忌服人參。</p>
<p>方：阿膠　當歸　白芍　知母　貝母　麥冬　生地　桑皮</p>
<p>吐血中用砂仁末煮生地，去黏滯之氣也。如吐血欲令其從下而來，須用歸尾炒黑大黃，即令血從下部來。</p>
<p>清咳湯：當歸　白芍　桃仁　貝母　丹皮　黃芩　山梔　桔梗　青皮　甘草</p>
<p>丹溪吐血方：青黛（飛）　瓜簍仁（去油）　訶子（去核）　海粉（去沙）　山梔（炒黑）</p>
<p>蜜丸噙化。梔、黛所以降火，瓜、粉所以行痰，訶子所以斂肺。</p>

<h1>咯血章</h1>
<p>吐血有血屑者，謂之咯血，自腎經來也。氣分有火，則令人咯，久久咯之，則動其血。</p>
<p>一人素多都火，左脈大而馳，右關滑而數。氣都喉間，痰滯不得出，咳出痰中帶血，色如瑪瑙而成塊。愚謂：陰流乎陽，血隨氣使，此緣抑鬱既久，血因氣滯而成瘀，忽復加以憂愁惱怒，擾動君相二火，向所停之瘀挾火勢而上騰矣。此血出自胃經，宜去上中之火，利中宮之氣，氣利火去則不咯，不咯而血自除矣。</p>
<p>方：麥冬　瓜簍仁　阿膠　青黛　杏仁　川貝　桔梗　廣皮　紫菀茸　米仁　甘草　童便</p>
<p>一人多欲，內熱焦煩，脈息濡細而數，咯出痰中帶血。系真陰不足，虛火沸騰，久而咯之則動其血，此血從足少陰經來。宜滋陰降火，尤宜戒色，恬愉養靜，庶乎不復咯矣。</p>
<p>六味地黃湯</p>
<p>一童子御女太早，年甫十六，而形神枯槁。咯出痰血如瑪瑙者盅許，兼小腹作痛，其脈脾肺虛矣，尺脈濡軟。此水衰火旺，金弱脾虛之候。非靜養絕欲，咯之日久，必成勞瘵。</p>
<p>方：麥冬　百合　茯苓　貝母　紫菀　山藥　米仁　白芨　陳皮　阿膠　童便</p>
<p>一童姻後忽吐血盞許，服降火養陰之劑，愈後三月，復因惱怒，每早咯血幾絲。脈息滑數，此因向有痰熱，復因怒動肝火所致。</p>
<p>方：紫菀（一錢五分）　米仁（一錢五分）　百合（一錢）　百部（一錢）　貝母（一錢）　阿膠（一錢五分）</p>
<p>一童時咳，痰中帶血，此脾肺兩家之火，又非本原之病可比。清咳湯主之。</p>
<p>陳皮　半夏　茯苓　知母　生地　桔梗　山梔　杏仁　阿膠　貝母　桑皮　甘草</p>
<p>丸方：陳皮（一兩）　白芍藥（一兩）　黃連（一兩）　知母（四錢，去毛，鹽水炒）　生地（二兩）　萸肉（一兩半）　玄參（一兩）　地骨皮（一兩）　丹皮（一兩）　麥冬（一兩）　貝母（一兩）　山藥（一兩，炒黑）　甘草（三錢）</p>
<p>煉蜜為細丸，每服二錢，白湯空心送下，上下午更服一次，尤妙。</p>
<p>一友積學工苦，素患吐血，至於強力而起，自為霍然矣，欲覓一館地，為終歲讀書之計。余偶往渴之，邀診其脈，余曰：「恙雖小康，慎無勞心。」出謂人曰：「其人外癯中失，其樞遏不自逸，乃師蠹魚，火宮令，無不自斃。」果然入夏疾作，未交秋而身殞矣。所以至期必死者，余診其脈，陽躁而不鼓，陰微而欲絕，四月一陰生，六月三陰長，今虛陽生浮，真陰內爍，故其病必死矣。</p>
<p>一人大醉後，不能動移，令人駝歸，未免胃口停滯，不能運行，以至明日大吐血。延一醫用涼血止血之劑，百劑不愈。獨憑三老至，竟令服健脾等藥而血止。乃知脾統血，脾弱不能運行，遂不循故道，所以吐血過上行也。</p>

<h2>飲食即有血水吐出論</h2>
<p>巢氏曰：吐血者是有熱。氣盛而血虛，熱乘於血，血性得熱，則流散妄行，氣逆則血隨上，故令吐血也。故飲食大飽之後，脾胃內冷，不能消化，忽所食之物，氣血相沖，因傷脾胃，亦令吐血也。</p>

<h2>失血難以補救</h2>
<p>一人二十餘歲矣，己丑十月中旬，咳嗽痰中帶血，至月終大吐血鬥余，汗出如雨。王羽律進人參五分，發喘愈甚。余今日進人參五錢、黃耆五錢、甘草一錢、肉桂一錢。一日一夜，進參二兩、肉桂八錢，而汗始有收意。然時而汗仍來，面色如粧，陽氣已脫盡矣，畢竟不能奏效。</p>

<h1>溺血章</h1>
<p>一人因悲而溺血，兩尺脈沉澀帶數，蓋悲極傷肺，肺失生化之令，金水不清而濁，治當澄其源，則流自清。</p>
<p>方：人參　甘草　升麻　黃耆　當歸　白朮　陳皮　柴胡　白芍　麥冬　丹皮　五味</p>
<p>一人小便出血，不痛，左寸脈洪數。此血從精孔中來。巢氏曰：心主血，與小腸合。血之流行，宣通經絡，循環臟腑，惟心家有熱，則移於小腸，失其常經，溢滲於脬內，故尿血也。小薊散主之。</p>
<p>方：小薊　生地　滑石　通草　蒲黃　淡竹葉　當歸　山梔　生草梢　藕節</p>
<p>一人小溲淋濕，血雜而作痛，左三部弦數。此膀胱經病。《經》曰：胞移熱於膀胱，則陰溺逆血。法當涼以導之，淡以滲之，活血於陰，調氣於陽。</p>
<p>方：生地　當歸　丹皮　車前　山梔　甘草梢　黃柏　地膚子</p>
<p>如痛甚加玄胡索、豆豉。一兒向有疳火，小便尿血。此係積熱內蘊，燔灼膀胱也。宜清下焦之火，則血自止矣。</p>
<p>方：黃柏　山桅　赤苓　木通　生地　麥冬　滑石　甘草</p>
<p>水煎。</p>
<p>一婦尿血，久服寒涼止血藥，面色萎黃，肢體倦怠，飲食不甘，晡熱作渴已三年矣。此藥傷脾胃，元氣下陷，而不能攝血也。蓋病久鬱結傷脾，用補中益氣以補元氣，用歸脾湯以解脾郁，使血得歸經，更用加味逍遙散，以補養肝血，諸症漸愈。</p>

<h2>附：溺血總論</h2>
<p>心移熱小腸，故有小便出血症，竟以清腸湯主之可也。</p>
<p>方：當歸　生地　山梔（炒）　黃連　白芍　黃柏　瞿麥　茯苓　木通　萹蓄　知母　麥冬　甘草梢　燈芯</p>
<p>若莖中痛，加滑石、枳殼，去芍藥，茯苓。</p>
<p>一方用骨皮煎湯一杯，入酒少許服。</p>
<p>一方用膽草一兩，煎水五升，取二升，分五次服。</p>
<p>又，用車前曬乾為末，每服二錢，車前葉煎湯調下。</p>
<p>又，用玄胡索一兩、朴硝一錢為末，每四錢，水煎服之，驗甚。</p>
<p>水便、尿血者，竟以甘草、升麻煎湯，調益元散服之。</p>
<p>房勞尿血，用自己發一握，洗淨燒灰，作一服，酒下。</p>

<h2>附：小便黃濁不當清利論</h2>
<p>一發病至漸痊，惟小便出帶黃濁。一醫欲用淡滲之劑清利之。余曰：不聞《靈樞》有云乎：中氣不足，溲溺為變。但當仍守前力，加黃柏一、二分可也。醫曰：黃柏一、二分，自遂足清利小便耶？餘日：不觀漉酒者乎？濁膠數升，投以黃柏少許，旋澄清徹底，豈一溲不足以當之耶？」已而服之，果然矣。</p>

<h1>便血章</h1>
<p>一人溲而便膿血，乃氣行而血止也。脈息肺、脾部沉澀。又屬憂思所傷，其兼寒熱者，氣虛畏寒，血虛生熱也。宜和血調氣，清利濕熱。</p>
<p>方：當歸（一錢）　白芍（一錢）　茯苓（七分）　澤瀉（一錢）　厚朴（一錢）　山楂（二錢）　黃連　木香（三分）　枳殼（八分）　通草（五分）　砂仁（一錢）</p>
<p>一人便血飽脹，脈息右緊左弦，屬飲食傷脾，脾土不能□□，則脹滿，脾氣不能統血，則下血。治須健運坤元之氣，俟食得運化，庶可希愈耳。</p>
<p>方：茯苓（一錢）　白朮（二錢）　黃連（一錢）　白芍（二錢）　陳皮（一錢）　厚朴（一錢）　澤瀉（一錢）</p>
<p>一人大便下血已久，兼之飲食後腹痛，脈息寸關弦旺而尺軟，乃陰絡受傷也。《素問》云：陰絡傷，則血內溢。血內溢，則後血是也。其腹痛者，緣脾統血，血虛則脾益虧，而運化稽遲，所以作痛也。治當令血歸經絡，兼調和營衛，健脾助陰之藥主之。</p>
<p>方：陳皮　當歸　白朮　山楂　黃連　山藥　荊芥　生地　白芍　地榆　槐角</p>
<p>一人便血已久，近兩月脾胃不知，竟得體倦，六脈虛濡，是陰血虧而陽無所依，則浮散而為熱，或為耳鳴也。東垣謂：陽旺則能生陰血，陽生陰長。宜用補氣健脾胃，兼佐以生血之劑。</p>
<p>方：人參（一兩）　黃耆（二兩）　白朮（一兩半）　茯苓（一兩）　生地（二兩）　萸肉（二兩）　槐角（二兩）　地榆（二兩）</p>
<p>一兒痘後，時有冷汗身熱之症，忽然大便下血。一醫誤以痢治，余謂：脾統血，此痘後脾土虛弱，土受木製，脾不能統攝故耳。</p>
<p>方：白朮　茯苓　人參　乾薑　黃連　白芍　柴胡　升麻　烏梅</p>
<p>一兒腹微脹實，瀉亦不甚，糞後有血，飲食減少，向服消積止血藥不效。此係久瀉傷脾，脾虛下陷之症也。治宜溫補，兼升提之劑。</p>
<p>方：人參　白朮　乾薑　茯苓　升麻　柴胡　甘草</p>
<p>一老婦性沉多怒，大便下血十餘年，食減形困，心搖動，或如煙燻，早起而微浮，血或暫止，則神思困倦，忤意則復作，脈左浮大虛甚，久取澀滯不勻，右澀沉細弱，寸沉欲絕。此氣鬱生涎，涎郁胸中，心氣不升，經脈壅遏不降，心血絕不能自養也，非開涎不足以行氣，非氣升則血不歸隧道，以壯脾藥為君，諸藥佐之。</p>
<p>二陳湯加：紅花　升麻　歸身　黃連　青皮　貝母　澤瀉　黃耆　芍藥</p>
<p>每貼加附子一片。四貼後血止，去附，加葛根、丹皮、山梔。而煙燻之氣除，乃去所加之藥，再加砂仁、神麯、熟地、木香；倍參、耆、白朮，服之後愈。</p>
<p>一人善飲酒食，便血色清而鮮，六脈浮數。叔和曰：浮則為風。風，陽邪也。血得之則善行，數則為熱。《仁齋》曰：血遇熱則流通，風熱相搏，血不自寧，《經》所謂清色為腸風是也。屬胃與大腸經症。</p>
<p>方：條芩　丹皮　黃連　槐花　秦艽　地榆　生地　當歸　白芍　荊芥</p>
<p>一人臟毒色黯而濁，腹中作痛，右手脈芤濡無力。乃中氣虛寒，不能攝血歸經。宜補脾生陽，以降澀之。</p>
<p>方：人參　白朮　柴胡　升麻　當歸　甘草　炮姜　烏梅　白芍　茯苓　川芎　桂枝</p>
<p>一人四肢沉重，大便滑瀉，後血直來，而血色不鮮，紫黑如豆汁，六脈洪儒，種種皆濕毒所傷。夫濕，陰邪也。血得之則敗壞而色變。宜用升陽之劑。陽氣升騰，則陰火有所依歸，佐以風藥，助風以燥之也。</p>
<p>一人右關脈獨大而芤，先便後血。張三錫云：出自胃經，其來也遠，謂之遠血。胃者，守營之血，守而不走，存於胃中。胃氣既虛，則邪易湊之，率由醉飽房勞積熱所致。治當清胃和中，使胃氣因而自循於經矣。</p>
<p>方：人參　白朮　茯苓　甘草炙　吳茱萸炒黃連　白芍椿根皮　桔梗</p>
<p>一人少食腹脹，失血後便，雜以糟粕，氣口脈大於人迎一二部，是腸胃過傷酒食，使營血失道，滲入大腸，書謂近血是也。</p>
<p>方：白芍　白朮　厚朴　廣皮　山楂肉　枳殼　黃連　茯苓　澤瀉</p>
<p>一人好飲患便血症，一日如廁二、三次，每次便血碗許，後重腹痛，此濕熱酒毒所傷也。治以苦寒，始能勝熱，佐以苦燥，始能勝濕。果服之而痊。</p>
<p>方：黃連（酒炒）　木香　當歸　白芍　生地　川芎　條芩　防風　荊芥　白芷</p>
<p>煎好入橡斗子灰二錢，調服。</p>
<p>一人便血，其血與水穀另作一派，四散遠射，腰沉沉然，腹中大痛。此因酒色過度，勞動之中，或驟飲大吞，致水穀釀成瘀血，乃陽明少陽經濕熱之毒也。《經》曰：飲食不節，起居不時，則陰受之；陰受之，則入五臟；入五臟，則填滿閉塞，下為饗泄，久易為腸澼也。治直升陽氣，祛濕熱，和血脈。</p>
<p>方：白芍　升麻　黃耆　秦艽　生熟地　丹皮　甘草　柴胡　蒼朮　歸身　葛根　桂少許</p>
<p>一人腸鳴腹痛，泄瀉少食，嘔酸惡冷物，心下痞，手足梢冷，時或煩躁，不得安臥，面色青黃不澤，脈息沉細而遲，此名陰結之症。《經》云：結陰者，便血。蓋邪在五臟，則陰脈不和，而血留之，結陰之病，陰氣內結，不得外行，血無所稟，滲入腸間，故便血也。宜和中散寒，除濕溫胃，開導陰氣，與陽氣相和，則陰血自然歸經，而無滯結之患矣。</p>
<p>方：白朮　茯苓　白芍　歸身　地榆　烏梅　炮姜　山楂　厚朴</p>
<p>三、四劑後去楂、樸，加人參、柴胡、升麻。</p>

<h2>便血總論</h2>
<p>夫便血者，因臟腑蘊積濕熱所致。清臟湯主之，四物加苓、連、梔、榆、槐角、柏葉、阿膠。如腹脹，加陳皮；傷風，加劑芥；氣陷加升麻；心血不足，加茯神；虛寒，加炒黑乾薑；虛，加參、術。</p>
<p>臟毒糞後來者，名遠血，解毒湯主之。芩、連、梔、柏、翹、槐花各一錢五分，細辛、甘草各四分。遠血自小腸來，姜炒黃連、木通為主。久不止，槐花散即愈。</p>
<p>方：當歸（一錢）　地榆（一錢）　生地（七分）　黃芩（七分）　升麻（七分）　枳殼（八分）　阿膠　槐花（各一分）</p>
<p>亦可以加防風五分、側柏葉五分。</p>
<p>腸風，糞前來者，名近血，柏葉湯主之：側柏葉、歸、地、黃連、枳殼、槐花、地榆、荊芥、甘草、烏梅、生薑。從大腸來，宜槐花、條芩、檳榔為主。久不止，用地榆散。</p>
<p>方：烏梅（一兩、焙乾去核）　五倍（一兩焙乾去核）　枳殼（一錢五分麩炒）　槐花（二錢）　黃連（三分）　白芷（一錢）　荊芥穗（三錢）　地榆（二錢）　白根皮（三錢）</p>
<p>為細末，空心酒調服三錢。</p>

<h1>痰症章</h1>
<p>一人脈滑而數，乃痰聚於中州，寒凝肺表，以致咳嗽內熱，氣悶胸次不快。洽當清順肺氣為主，導痰藥為臣使。</p>
<p>方：防風　桑皮　前胡　枳殼　廣皮　桔梗　知母　玄參　天麻　燈芯</p>
<p>一人面黃體重，嗜臥腹脹而食不消，痰吐色白，或時帶綠，此痰動於脾濕，脾虛不能運化也。宜益脾以固本，利氣以瀉標。</p>
<p>方：白朮　廣皮　甘草炙　茯苓　半夏　澤瀉　防風</p>
<p>一人多郁，六脈沉滑，噁心飽問，痰涎膠固，咳而難出。</p>
<p>《經》曰：肺氣鬱則生熱，熱盛則生痰，痰之所生者，皆由氣之不清。治當開鬱行氣為主。</p>
<p>方：貝母　香附　桔紅　枳殼　桔梗　花粉</p>
<p>一人尺脈浮大，按之則澀，口渴溺赤，氣短咳嗽，多痰。乃因嗜欲不節，陰虛火動，水沸為痰，如龍火之於海，龍興而水附也。此症忌用寒涼，惟宜甘溫之劑，引火歸源，痰不治而自愈矣。</p>
<p>方：萸肉　山藥　丹皮　澤瀉　生地　茯苓　麥冬　北五味</p>
<p>一人傷風發熱，喘嗽多痰，脈息浮滑帶數。《脈經》云：浮為風，滑為痰數為熱。是肺俞受風，而胃有郁痰也。《素問》謂：喘息有音者，陽明之逆氣，宜清胃保肺。</p>
<p>方：廣皮　麥冬　知母　桑皮　蘇子　玄參　半夏　桔梗　花粉　紫菀</p>
<p>一人惡寒腰痛，夢遺疲倦，時吐清沫，或雜煙煤色點，兩寸關弦緊，尺脈沉微，屬虛寒之症，乃腎虛不能攝水，則水泛溢乎上，理當壯腎氣以收津液，健脾氣以制泛水，益火源以消陰醫。</p>
<p>方：萸肉　山藥　丹皮　澤瀉　生地　茯苓　白朮　肉桂　橘紅　益智仁</p>
<p>一人怯症，脈息虛數，膈上有痰。此係真陰不足，肺受火爍，津液凝滯，而為飲為痰。宜先用潤劑，理肺滋陰，庶俾上逆之火得返其宅，而痰自清也。</p>
<p>方：麥冬　生地　枸杞　骨皮　甘草　知母　貝母　白芍　廣皮　茯苓　紫菀</p>
<p>一人兩手關前脈浮弦而實，口渴不能飲水，氣逆不順，隔有稠痰，周身痠痛，日晡潮熱。吳俛曰：濕挾熱而生痰，火載氣而上逆，濕熱相搏，是以痠痛，此濕為本，熱為標也。治宜燥脾濕、清中氣為主。</p>
<p>方：丹皮　秦艽　半夏　茯苓　廣皮　甘草炙　白朮　厚朴　紫胡　黃芩　白芍</p>
<p>一人脈息細緩，關部尤甚，病在足太陰經。怯者著而為病，所以饗泄倦怠，食少痰多，無不由土虛不能運化，氣滯成積，積敗為痰，近服消痰清氣之藥過多，致脾氣愈虛，舊痰未除，而新痰復結矣。速宜溫補脾胃，令其清者舉於上，濁者抑於下，升降自如，而津液自爾流通矣。</p>
<p>方：人參　白朮　茯苓　炙草　半夏　陳皮</p>
<p>一人胃家有虛火，隔上有停痰，所以勞頓用心後，便有噁心欲嘔之症。</p>
<p>方：陳皮（一錢）　半夏（一錢五分）　茯苓（一錢）　白芥子（一錢炒）　白朮（一錢土炒）　白芍（一錢五分醋炒）</p>
<p>夫上盛者，下必虛。《內經》云：上病療下是也。故丸方以地黃丸和杜仲二兩、牛膝二兩、麥冬二兩、五味二兩、補骨脂二兩。如勞頓後，以人參湯服。</p>

<h2>痰飲</h2>
<p>一婦稟賦清瘦，素有嘔吐痰涎之患，或一月、半月而發。脈帶沉澀，由於懷抱抑鬱，飲食停滯，不得以消散而成也。此名為飲，洽宜燥濕利水、行痰健脾為主。</p>
<p>方：半夏　茯苓　人參　白朮此四味清脾消痰為君　豬苓　澤瀉此二味滲泄之　白豆蔻　桔皮此二味開散之　蘇子旋覆花此二味通暢之佐使</p>
<p>更能戒思慮，不甚作勞，無有不安矣。</p>

<h2>痰核</h2>
<p>一兒項上結核，究其因，乃鬱氣之積，五味之厚，曰風曰痰，風火相搏而成結也。</p>
<p>方：半夏　貝母　歸尾　生地　連翹　柴胡　膽草　黃芩　蘆薈　昆布</p>
<p>一人頤間結核，屬心脾火熾，痰凝氣聚而成。病雖微而藥鮮效。宜凝神澄慮，則心火不炎，結核自除矣。</p>
<p>方：茯神　玄參　黃連　銀花　貝母　橘紅　天麻　夏桔草　連翹</p>

<h1>麻木章</h1>
<p>一人素有痰，兩臂作麻，兩目流淚，服祛風化痰藥愈盛，臂反痛不能伸，手指拘攣，蓋麻屬氣虛，因前藥而復傷肝，火盛而筋攣耳。況風自火出，當補脾肺、滋腎水，則風自熄，熱自退，痰自清。遂用六味地黃丸、補中益氣湯，不三月而痊。如臂上痛者，非薑黃不能愈，此引經藥也。</p>
<p>一婦或時遍身麻木，懵不知人，良久則蘇。醫作風治，用烏藥順氣散，又用小續命湯，病益甚。予診之，脈皆浮濡緩弱，此氣虛也。麻者，氣餒行遲，不能接續也。如人久坐屈膝，氣道不行利，故伸足起立而麻者是也。心之所養者，血；所藏者，神。氣運不到，血亦罕來，由心失所養而昏懵也。</p>
<p>方：人參　黃耆　當歸　茯苓　門冬　黃芩　陳皮　甘草</p>
<p>一友時覺腸中作癢，因而右手麻木，不能運動，偶服驅蟲藥，打出蟲如飛蟻者，不計其數。蟲且俱入於地，遂不麻木。則知右手麻木，亦有蟲症者，不可概論血虛與積痰也。</p>

<h1>鬱症章</h1>
<p>一人胸脅作痛，痞悶噯氣，六脈沉澀。叔和曰：澀為氣滯。《紫虛》亦曰：下手脈沉，便知是氣。此屬氣鬱不舒，心肺之陽不降，腎肝之陰不升，久則為痰為飲，此是神思間病。不可全憑藥餌，惟恬愉自得，乃可卻此鬱結耳。</p>
<p>方：白豆蔻　藿香　香附　撫芎　蘇梗　廣皮　茯苓　貝母</p>
<p>一人脈息沉滑，右寸獨盛，咽酸腹痛，飽脹噁心。東垣所謂食塞太陰，抑遏陽氣，是食鬱症也。治當消食和胃。</p>
<p>方：蒼朮　厚朴　陳皮　甘草　草蔻　神麯　麥芽　山楂</p>
<p>一人內熱外寒，氣稍不順，脈沉而數，此火鬱之症也。火者，手陰經主之，稟炎上之體，喜暢而惡郁，郁遏不揚，則火光無焰，故令身寒，脈沉為在裡，沉而數為裡熱，氣之下順，火之沖逆也。以順氣藥為君，氣順而火降；辛涼藥為佐，正「火鬱發之」之義也。</p>
<p>方：山梔　薄荷　香附　白芍　柴胡　乾葛　當歸　丹皮</p>
<p>一人將六十餘歲，向來多思多慮，曲用心機，左邊有一微塊升上，異常作楚，如是者久矣，每服補元降氣等劑即愈。至六旬外，覺腹中有氣升上，不拘早晚，如驚畏之狀，突然而起，即本身徒然不覺也。舉家憂惶，夜不能睡，凡用一切安神之劑，毫釐不減，此鬱火所致也，竟用當歸六黃湯而愈矣。</p>

<h1>脾胃章</h1>
<p>病原起於三年前，皆由乎氣，氣則便不食，一、二日有之，二、三日有之，氣後仍如常飲食。斯時尚未覺其病，未幾每夜臥少頃，忽中氣上升而不下，胸前如壓石，喘息難制而覺矣。即披衣起坐，其氣稍平，家庭不能無氣，或食後遇氣，或氣後遇食，又增胸前作痛，漸下至小腹乃瀉，如此者常痛常瀉，珍節調理即愈。獨今年夏月愈加謹慎，腹中更作痛，脾氣更不實，不能轉化者有之。秋來復有氣，但覺病勢尤甚，才進飲食，腹中漉漉有聲，而痛瀉交作矣。瀉中略有積氣，日覺神瘁肉消，總之肝木乘脾，脾氣傷損，名為火不歸元乃子病而母亦病也。法當虛則補母，然肝之賊土，亦由中氣不足，金氣虧損應當扶助元氣，因肺主氣，肺金壯旺，則肝不敢悔脾土耳。煎方補腎抑肝為主。</p>
<p>煎方；白朮（一錢五分）　補骨脂（一錢）　肉豆蔻（一錢煨）　白芍（一錢）　茯苓（一錢）　棗仁（一錢）　炙草（二分）　人參（一錢）　楂肉（一錢）　升麻（五分）　柴胡（七分）　黃耆（一錢炒）　桂（二分）</p>
<p>加煨姜四分。</p>
<p>丸方：腎氣丸加益智一兩。</p>
<p>一婦因脾土虛弱，不能運化，胸膈作脹，已多時矣。且觸之必發。</p>
<p>煎方：香附（一錢醋炒）　廣皮（一錢）　白豆蔻（一錢炒研）　厚朴（一錢薑汁炒）　蘇子（一錢炒研）　楂肉（一錢）　白芥子（一錢炒）　萊菔子（一錢炒）　木香（二分磨沖）　砂仁（一錢炒研）　青皮（一錢麩炒）　加生薑一片。</p>
<p>丸方：熟地（四兩）　白茯苓（三兩）　車前子（一兩）　牛膝（一兩）　萸肉（二兩）　山藥（一兩）　丹皮（一兩）　澤瀉（一兩）　肉桂（一兩）　制熟附子（五錢）</p>
<p>六脈細而少力，以致營衛兩傷、氣血虧損之象。脾土為萬物之母，脾土作瀉，全不能愈，無怪肌肉之漸消，面色之恍白也。</p>
<p>方：白朮　乾薑　肉桂　肉果　茯苓　山藥　人參　苡仁</p>
<p>一方專醫健脾開胃為主，童稚之年，尤其所宜也。</p>
<p>白朮米泔水浸二日，銼片，飯上蒸曬（四兩）　穀芽（二兩麥芽一兩半）　山楂肉（一兩半）　砂仁（一兩）</p>
<p>為末，每服二錢，白湯下。</p>

<h2>脾虛誤食巴豆</h2>
<p>一友就予診，予告曰：「是脾氣虛也，少年不宜有此，豈攻伐太過乎？」友曰：「然。秋時就試白門，寓僧舍，患食後煩懣，僧教余以棗煨巴豆啖之，每食後輒啖，共計不下百粒許，歸而胸腹飧脹。醫復投以山稜、蓬莪朮等劑，即食不下咽，而腹中作楚，故就如診，幸為療之。」余曰：「巴豆，大毒之藥，其性生溫熟寒，大傷脾胃，非年少元氣強壯，萬無活理矣。今脈再至，臟氣損為寒甚」。用理中數服食始下，用前方隨時加減，更兼服河車八味丸，調理年餘，始得如舊。</p>

<h1>泄瀉章</h1>
<p>一人泄瀉，右三部脈緊而沉，由脾土不能制濕，濕勝則儒泄也。兼之喉膈稍覺有痰，蓋痰之本源於腎，痰之動主於脾，宜健脾土、和胃氣、利濕邪，則津液流通，陰陽泌別，恙斯安矣。</p>
<p>方：山藥　白扁豆　藿香　茯苓　白朮　木香　白蔻　桔紅　砂仁</p>
<p>一人飲食不調，致傷脾胃，氣口脈弦。濁氣在上，則生腹脹；清氣在下，則生饗泄。蓋飧脹，即是倒飽；饗泄，乃為飲食而瀉也。《素問》云：飲食有節，起居有常，不妄作勞，則形與神俱可以卻疾矣。</p>
<p>方：米仁　車前子　石斛　茯苓　山藥　澤瀉　扁豆　白豆蔻　白朮　山楂</p>
<p>一兒久瀉不止，肛門脫出，此脾土衰弱，真元下陷也。《經》云，實熱則大便秘結，虛寒則肛門脫出。法當補脾，兼帶升提，則瀉自止矣。</p>
<p>方：山藥　甘草　人參　白朮　茯苓　升麻　廣皮　柴胡　白芍</p>
<p>如小便不利加車前草，虛汗加黃耆。</p>
<p>一兒四歲，瀉久不止，每日夜必數次，間發潮熱，作渴唇紅，而貌羸瘦，其腹如鼓，喜其善飲，故可治耳。若竟投訶果，必致不救。丹溪云：善食而瘦者，此胃中有伏火，易於消化也。此幾平日善飯，且系疳火作瀉，如用木香、肉果等類，反助其火，則清純中和之氣，變為燥熱燔燎之症，火愈甚，則瀉愈迫矣。予先用化食消積藥，次投以平胃散，加黃芩、黃連、白朮、神麯、麥芽，二劑而瀉減，後以五疳丸調理而愈。此乃實症似虛之候，切勿防其慢驚而投溫補之劑也。</p>
<p>一人腹痛腸鳴，煩渴，前溲赤澀，暴注下泄，糞色黃褐，食不及化，肛門焦痛，六脈沉濡，有關帶數。濡者，濕也；數者，脾有伏火也。此太陰經伏火邪，濕熱下流為病。《原病式》曰：熱鬱於內，則腹滿而痛，所以痛一陣、瀉一陣也。叔和云：濕多成五泄，陽走若雷鳴，火擊其水，所以腸鳴一陣而痛一陣也。煩渴者，胃中之津液少也；食不及化音，火性急速，傳失其常。仲景所謂邪熱不殺穀也。前溲赤澀者，濕熱拂鬱而氣不能化也。法當升陽散火，佐以利水道藥。</p>
<p>方：澤瀉　蒼朮　厚朴　廣皮　甘草　白朮　茯苓　豬苓　黃連　乾葛　防風　白芍</p>
<p>一人丁丑年，脈息沉細，濡溺而緩，瀉水腸鳴，虛浮困倦，頭痛腹脹，此濕上太過之年，民病濕瀉，太陽受病也。脾主四末，脾病不能為胃行其津液，四末不能稟水穀之氣，氣日以衰，脈道不利，筋骨肌肉皆無氣以生矣。土虛則不能四布津液，水穀常流於胃而生濕，濕勝則儒泄也。《經》云：諸濕腫滿，皆屬於脾，脾氣虛而停滯上焦，壅塞而為腫、為脹、為頭痛也。宜用勝濕滲濕之劑，濕去土旺，瀉自止矣。</p>
<p>方：陳皮　防風　澤瀉　白朮　茯苓　白芍　蒼朮　厚朴　肉桂</p>
<p>一人兩尺沉虛，每每五更初曉必洞瀉一次，名日腎泄。腎主二便，開竅於二陰，受時於亥子，命門火衰，而水獨治，故令此時作泄也。《內經》又云：腎為胃之關。關門不利，則聚水而生病也。不可概用參、木補脾胃中陽氣。蓋脾屬土，腎屬水，補脾則土愈勝，而水愈虧。宜補陰藥中稍兼健脾。</p>
<p>方：小茴香　山藥　芡實　茯苓　白朮　甘草　蓮肉　肉果　補骨脂　陳皮　升麻</p>
<p>為末，每服二錢，蓮肉湯下。</p>
<p>一人病泄，脈浮而緩，惡風自汗，痛引腰背，瀉多白沫，有聲，便時又閉而不下，或沫中帶血。此為風泄，乃風邪乘虛入客腸胃。《經》云：久風入中，則為腸風饗泄。郝允治所謂藁本湯症也。藁本是治頭風之藥，以之治泄，何哉？蓋風藥性升，升其陽氣而下泄自止。下者抑之，非此之謂歟？</p>
<p>方：白朮　茯苓　豬苓　澤瀉　肉桂　升麻　防風　藁本　白芍</p>
<p>一人脈沉弦而滑，或瀉或止，或多或少，或下白物，胸中懊憹不舒。此太陰經有積痰，肺氣壅遏，不能下降，臟病則傳腑，是以作瀉，當澄其源而流自清。</p>
<p>方：陳皮　半夏　茯苓　甘草　白朮　黃芩　蒼朮　厚朴</p>
<p>一人憂思太過，六脈沉結而病泄。蓋憂思過度則傷脾，致氣結而不升舉，陷入下焦也。宜開鬱健脾，使穀氣升發，瀉當自止。</p>
<p>方：柴胡　升麻　人參　白朮　茯苓　甘草　黃耆　白芍　廣皮　木香</p>
<p>一人左關沉弦，右關沉儒，脅痛腹瀉，此肝泄也。因暴怒傷肝，甚則乘脾虛下溜之，故宜伐肝和脾之劑主之。</p>
<p>方：白朮　蒼朮　白芍　甘草　茯苓　厚朴　青皮</p>
<p>一人六脈沉遲，水瀉澄澈清冷，糟粕不化，腹痛腸鳴，小便清白。此中氣虛寒，不能防水，瀉則脾虛，痛責肝實，此賊邪之症也。理宜疏泄肝氣，濕補傳化為主，則水穀腐熟，大便如常矣。</p>
<p>方：白朮　茯苓　陳皮　厚朴　豬苓　澤瀉　吳茱萸　肉桂　砂仁</p>
<p>一兒因驚，面帶青色，瀉多青沫。夫青者，肝之色也。肝主驚，故虛風自甚，因乘脾而成泄。法當平木之太過，扶土之不及。</p>
<p>方：青皮　肉桂　白朮　茯苓　豬苓　柴胡　白芍　澤瀉。</p>
<p>一瘦人暑月，右手脈陽虛陰微。《脈經》曰：陽虛為中暑，陰微則下利，所以身熱煩渴，腹痛泄瀉，自汗溲赤，四肢疲睏也。正東垣所謂夏月中暑，飲食勞倦之症。當服清暑益氣之劑。</p>
<p>方：人參　白朮　神麯　廣皮　澤瀉　黃耆　蒼朮　升麻　甘草　乾葛　五味</p>
<p>一人久患泄瀉，以暖藥補脾，及分利小水，升提下陷，俱罔效。予診之，心脈獨弱，正《經》所謂：獨弱者，病也。蓋心火也，脾土也，火生土，脾之旺，賴火燥之。心氣不足，則火不燥，脾土受濕，故令泄瀉。法當益火以消陰醫，比如諸太陽中天而陰濕自干矣。</p>
<p>方：人參　白朮　茯苓　甘草　益智仁　廣皮　山藥　澤瀉　訶子　肉果</p>
<p>一人患瀉，時作時止，面帶紅色，吐痰口乾。診之左關弦緊，腎水不能生肝木也；右關弦大，肝木乘脾土也。此乃脾腎兩虧，不能生剋制化，內真寒而外假熱之症。法當溫補以滋化源。</p>
<p>方；人參　白朮　吳茱萸　山藥　黃耆　肉果　乾薑　補骨脂　五味　茯苓　甘草</p>
<p>一婦長夏患泄瀉，身涼四末厥冷，晝夜數次，皆完穀不化，清水如注，飲食下咽即泄出不變，已經六，七日矣。予診之：六脈沉伏無力而澀，脾虛受濕，為肝木所侮。此五泄之一，非怪症也。宜健脾疏風燥濕，升提下陷之氣。</p>
<p>方：白朮　茯苓　豬苓　澤瀉　肉桂　蒼朮　羌活　防風　炮姜　半夏　厚朴　白芍　砂仁</p>
<p>一人患脾泄數年，每自黎明始，至旁午前，腹痛而瀉七、八度，日以為常，食少倦怠，脈得右關滑數，左關微弦，此腎虛而牌中有積熱也。宜先投黃連枳朮丸以去其積熱，繼以八味丸以滋其化源。</p>
<p>一儒沉湎於酒，便滑溺澀。食減胸滿，腿足漸腫，六脈沉遲。屬脾腎虛寒，少火無焰，中黃不蒸，則陰陽不得分理，清濁安能泌別。惟宜滋坎中之戊，益離中之已，坎離交媾，諸症自退避三舍，服金匱腎氣丸而果愈。</p>
<p>一人時值夏月，過食瓜果，大瀉不止，中脘大痛，煩渴引飲，右寸關俱沉伏。此陽氣下陷，抑鬱之故，宜升陽益胃之劑。</p>
<p>方：半夏　茯苓　甘草　橘紅　白朮　炮姜　厚朴　白芍　防風　柴胡　木香　砂仁</p>
<p>一人右寸脈滑而數，患瀉痛甚欲便，使後痛減，糞如敗卵。此係食積傷脾，濕熱相搏之病也。先宜消其食積，而後補其脾土。</p>
<p>方：蒼朮　厚朴　廣皮　甘草　神麯　麥芽　山楂　草果</p>
<p>後用參苓白朮散調理而愈。</p>
<p>一老宦夏月泄瀉，日數行，口渴便赤，眾以為暑，用香薷飲不效。余曰：「此濕氣也。須用五苓散，行濕利小便。」先生曰：「散中用桂，得無熱乎？」余曰：「非桂不能致津液通氣也。」先生曰：「盍少用之？」余曰：「用一、二分足矣。」先生復減其半，服至三劑而痊。</p>

<h1>嘔吐章</h1>
<p>一人胸膈飽問，得食即吐，身發寒慄。脈息氣口盛於人迎二倍，乃飲食傷於脾胃，胃損則不能納，脾傷則不能化，所以吐食也。身寒慄者，為沉湎於酒，濕熱痰熱，內鬱而外寒也。宜和脾健胃，上下分消其濕治之。</p>
<p>方：廣皮　半夏　茯苓　藿香　澤瀉　厚朴　山楂　白蔻　豬苓　乾葛</p>
<p>一人朝晨吐涎覺酸，或兼苦沫，間或頭暈耳雞，腸微痛，腸中鳴，已患半年矣。近來每旦作嘔，較前為甚，曾服導痰藥鮮效。今脾胃脈虛，心部、肝部脈弦急者，乃胃氣滯、脾土虛，肝木旺，心火上炎也。蓋胃熱則生嘔，土虛不能制濕則生涎。且火日炎上，炎上作苦；木日曲直，曲直作酸。酸屬肝而苦屬心，治當平肝清心。平肝邪則脾不受侮，清心火則胃不受熱，而能司藏納矣。</p>
<p>方：白芍　黃連　陳皮　藿香　厚朴　山梔　茯苓　吳茱萸　生薑　香椽</p>
<p>一婦嘔吐，粒米不入者五、六日，兼頭眩，胸膈如束不舒，其脈沉弦帶駛而無力。此則中氣虛挾痰鬱為患耳。宜補中清郁為主。</p>
<p>方：人參　廣皮　當歸　烏藥　加人乳、竹瀝薑汁各少許</p>
<p>一人嘔吐痰涎，發熱作渴，胸膈痞滿，用清氣化痰降火之劑，前症益甚，痰涎愈多，六脈浮洪而大，按之不鼓。此係脾胃氣虛，虛陽上越之症，正所謂內真寒而外假熱也。洽當溫補脾胃，升發元陽，則請症自退矣。</p>
<p>方：人參　白朮　茯苓　炙甘草　陳皮　木香　炮姜　半夏</p>
<p>一人胸腹脹痛嘈雜，數日乃吐黑水而作酸，吐後暖氣，飲食少進，前後溲俱不通利，日輕夜重，臥不得瞑，脈俱浮弦細弱，此足太陰經虛，失其運化之常，則濁氣阻塞而為脹痛，而為嘈雜也。吐黑水者，因土虛不能制水，故膀胱之氣，乘虛而侮其脾土，《經》曰：以不勝水，侮其所勝土是也。酸者，木之所司，脾土既虛，水挾木勢而凌之焉。臥不得瞑者，《經》所謂：胃不和則臥不安也。禁服二陳、四物及苦寒香燥之藥，惟宜補中為主，兼以順氣、清氣之劑。</p>
<p>方：人參　黃耆　歸身　香附　廣皮　神麯　黃芩　甘草　吳茱萸</p>
<p>一人素多悒鬱，過於食際著惱，遂致氣窒塞不通，濁氣上攻而作嘔，脈息沉結。洽宜疏郁。</p>
<p>方：半夏　茯苓　廣皮　撫芎　香附　白芍　廣藿香　白豆蔻</p>
<p>一人久病少食，聞穀氣即嘔吐，無氣以動，亦無氣以言，時吐清涎而渴，跌陽脈虛細。此屬陽明大虛之證，其渴者，非火，乃胃之津液干也。宜用甘溫以益胃，辛利以破嘔。</p>
<p>方：人參　白朮　茯苓　甘草　陳皮　藿香　砂仁　神麯　陳米　姜　棗</p>
<p>用順流水煎沸，泡伏龍肝末，攪澄，取其清者煎藥。徐徐溫服，隨與陳米湯更迭而進。</p>
<p>一人傷風嗽吐，六脈浮而有力。因風生熱，熱生痰，痰結胸中，肺氣不順，連嗽不止，和痰吐出，此咳嗽痰壅而然也。</p>
<p>方：陳皮　半夏　甘草　茯苓　黃芩　葛根　前胡　桑皮　紫蘇</p>
<p>一人脈息沉細滑數。叔和曰：氣口數則為熱，滑則為嘔。紫虛曰：沉滑為酒病。此酒毒所傷，所以面赤口渴，頭痛惡心，懊憹煩躁，嘔吐不寧也。宜涼以折之。</p>
<p>方：半夏　茯神　廣皮　甘草　葛根　黃連　薑汁　山梔　蘇葉　藿香</p>
<p>一人上部脈緊，下部脈伏，時覺有氣自下衝上，即作嘔吵、喘嗽。此由陰虛於下，而令孤陽上浮，正合《脈法》無陰則嘔之意，宜滋養腎氣，引火歸元。</p>
<p>方：萸肉　山藥　澤瀉　茯苓　丹皮　熟地　肉桂　五味　砂仁　補骨脂</p>

<h1>噁心章</h1>
<p>一人六脈弦滑，右關為甚。此脾濕太盛，不能運化清濁，致痰飲凝滯上、中二焦，故時常噁心，氣不順而嘔吐涎沫，即丹溪所謂胃中有熱，隔上有痰也。以清濕理氣益牌為主。</p>
<p>方：半夏　橘紅　茯苓　甘草　山梔　黃連　蒼朮　厚朴　生薑</p>
<p>一人噁心吐蟲數條，服蟲藥幾劑而吐愈多，六脈皆細。非蟲病也，乃臟寒而不安耳。</p>
<p>方：人參　白朮　茯苓　甘草　花椒　廣皮　炮姜</p>
<p>一人脈平，不遲不數，或乍大乍小，時常嘔惡流涎，胃口時痛時止，得食則稍愈，面有白斑，此蟲家症也，乃蟲動則流涎，胃癢則令嘔，宜用利氣酸苦之劑。</p>
<p>方：半夏　茯苓　廣皮　厚朴　苦棟根皮　蔓荊子　花椒　烏梅</p>
<p>宋楚玉向嗜熱物，則火酒不離時刻，又兼好色，於戊子七月中，偶冒風寒，時熱時寒。正值大比之年，扶病而赴秋闈，途中益覺潦倒，不能進場屋，遂狼狽而歸。歸家數日，下瘀血數升，復加寒戰大汗，一日幾次。此際，大劑人參便有生機矣。其如寒像家，庸醫執方，不肯進參，淹滯兩月，骨瘦如柴，語言始而井井，繼而濛濛，絕無頭緒。然飲食大進，尚有生機。不意營血脫盡，雖進人參，而究竟難於挽回。</p>
<p>徐子淵乃堂，年將望五，向有嘔吐症，胸前有一痞塊，時升時下，痛楚異常。至戊子六月，嘔吐復作，米粒不下，所吐者，如綿絮之狀且黑色，其腥臭難聞。愚謂：久而不通，如溝瀆然。穢惡停積，從上而吐出為逆，從下瀉去為順。即用六君子湯，加香附、藿香、木香，嘔吐遂止。但從下所去黑塊甚多，瀉仍不減。於六君子之中，仍加炒黑乾薑，乃進粥五、六碗，如瀉不止，當用升、柴以提之也。</p>
<p>一人小腹有一塊，升上即吐，諸友用六君子不效，更有用黃連者，吐仍不止。競用生脈散，而嘔葉漸愈。</p>

<h2>治嘔治未治其風所以滿身疼痛</h2>
<p>一富翁進香武林，至中途嘔吐大作，遍身疼痛，不能轉側，歸家就醫。醫療其嘔吐，然眠食猶未安也。召余診治，余曰：風入於經，其脈乃凝，留結不散，寒痰中停，四末不掉，三焦不行。函疏其鳳，函調其經，氣血和平，轉側自能。余先用蘇合丸，以通其氣；隨用導痰湯，加桂枝、芍藥、沉香，一劑而熟睡竟夕，覺轉展自如矣；後用六君子湯加沉香，數劑而安。</p>

<h2>久病後氣血大虧不能運行以致腹痛作嘔</h2>
<p>一人久患不足症，服寒涼藥便覺安妥，若服溫補之劑，便種種不適。其為人也，且多郁多氣，漸漸調理，已有痊意。一日偶患腹痛，叫號不止，嘔吐盆許，而吐尚未減，如是者五、六日，痛時便有塊許多，升上升下，百般止嘔止痛藥服之下效。大痛之後，大黃又不敢輕用，於劑中加玄明粉幾錢，始下極堅極實者結塊數粒，方痛嘔已也。</p>

<h2>脾胃虛弱不可行氣之劑</h2>
<p>一友偶患傷寒，將及月餘矣，因食糯糰子，為食所傷，自用自專，竟（服）消食降氣之劑，有傷元氣，此時稍進粥一杯許，則腹左右痛不可忍，必待手按摩之，此痛方止。余到，問目下所服何方？彼云：補中益氣湯。正合愚意，然痛不止者何故？蓋以多用木香之故也。氣多弱而反欲行氣，焉有不痛之理。余即以此方去木香一味，加參一錢，服藥而痛竟立止矣，食飲大進矣，乃知醫之長短，止在藥之一、二味也。</p>

<h1>翻胃章</h1>
<p>一婦病翻胃，每隔夜食飲，至明日中昃，皆吐出不化，腹痛便秘，脈得之肌肉下，且甚微而弱。東垣云：早食暮吐，暮食早吐，溲則便秘，為下焦吐也。下焦從於寒。寒，地道也。故脈沉而微弱，寒勝格陽，故令吐也。其便秘者，寒凝與氣，謂之陰結也。寒淫所勝，平以辛熱，開其閉塞，服以中焦藥和之，不令大便秘而吐自止矣。</p>
<p>方：人參　白朮　沉香　肉桂　炮姜　炙草　茯苓　陳皮</p>
<p>一人外感後，兩關浮數，餘熱未除，口渴而苦，面赤嘔噦。此熱留於陽明少陽兩經，火氣炎上之象也。東垣所謂上焦吐者是也。當從氣治，氣降而火亦降也。</p>
<p>方：葛根　半夏　竹茹　甘草　廣皮　黃連（薑汁拌焙）　枇杷葉</p>
<p>如不應，加蘆根汁。</p>
<p>《原病式》云：有中焦吐者，皆從乎積。積者，氣與食之相搏也。故右關脈弦滑，帶痰症，則嗌酸飽悶，作痛而吐，吐則有物無聲，病在太陽胃經。理宜消積行氣。</p>
<p>方：半夏　茯苓　陳皮　香附　山楂　枳殼　藿香　神麯　麥芽</p>
<p>大都翻胃、隔症之作，初始必因腹痛，時有一塊升上升下，後來必成隔症也。</p>

<h1>傷寒章</h1>

<h2>奪食</h2>
<p>一木匠米某之子，初患外感，服藥以解，他醫為病屬陰分，已在死法中，禁其飲食。至七日後，召予診治，神思困頓，四肢怠惰，予診六脈和平，胸腹按之不堅，急問曰：汝飢否？病者不能言，但默默點頭而已。予曰：身無病者，病在奪食而已。仲景日，人病脈不病，名日內虛，以無穀氣，神雖困無苦。人以胃氣為本，五臟六腑皆稟受於胃。《靈樞》經云：「谷不入半日則氣衰，一日則氣少矣。」故平人不食飲七日而死，水穀津氣、津液皆盡故也。今病氣已除，穀氣不進，胃失所養，五臟六腑俱無所稟，故沉困怠惰。若不急進糜粥，飢殺此子矣。命以粥漿，慢慢飲之，仍進白朮湯以扶胃氣，五日而痊。</p>

<h2>傷寒不治症</h2>
<p>一友因心事不快，遂冒風寒，用發散等劑，身熱略成，進腐漿一杯。見疹子無數。一醫加升、柴、黃芩、乾葛、甘、梗之類，大汗連出，三日不止，頭上尤甚，胸前煩悶，頗有發狂之意，叫號不止。至十五日，余至，診得六脈時而散大，時而細小，時而雀啄，此不治之脈也。雖大進人參，脈略起現，究竟不治而亡。</p>

<h2>因寒下早胸前痞悶叫號不止</h2>
<p>一女年已十九，偶遇風寒，服發散之劑，已而全愈，飲食太過，繼而食復，嘔吐不休，勺水不迸，遂發疹痧，且有斑色，唇紅口渴。胸前痛楚，寒逆不舒，連聲叫號，莫可名狀。向胸前按之，痛不可當，此下之太早，已成結胸症。予用黃連五分、瓜蔞一個、橘紅一錢、藿香一錢、枳殼一錢、桔梗一錢、半夏八分，服下嘔止而胸暢矣。</p>

<h2>熱症不服石膏湯必要發斑</h2>
<p>一人患寒熱，面赤頭痛、齒痛，余診其脈洪而數，此熱症無疑。法當用白虎湯，大劑取效，每劑用石膏一兩，投一劑而頭及齒俱不痛，寒熱亦除。餘日：仍用前劑一服而可，不然，定要發斑矣。主人謀之專科者，曰：如此重劑，豈能再用？逆不我相信，不來召余診視。至二日後，果發斑，十二日不解，解後身熱如灼，余進柴芩湯，一劑而熱退，後參朮調理而痊。</p>

<h2>傷寒實症似虛</h2>
<p>一友患傷寒，過經不解，召余診，人迎脈浮而緩，其外症惡寒畏風，雖重裘不解，烈火不除，以綿蒙其首而兩耳數天。面赤舌黑，先自曾以丸藥下之，余曰：此表症來解，先攻其里，表症仍在。須桂枝湯解之。主人搖首咋舌，畏不敢用，服以羌活、柴胡等藥發汗，開後亦不解，反大溲溏泄，小便黃赤，醫用清利之劑，症益甚，七日後召余診。脈候同前。予曰：是病非桂枝湯不效。病者故諾。矛急處劑，病者執藥下咽，曰：生死在此一匕乎。先飲三分之一，覺胸次開豁，再飲其一，則背上一脂大有火洛。其熱漸及兩脅，則曰：「誠仙丹也。」覆杯盡劑則欲睡，睡醒耳內癢極，轟然作聲，若還以耳者，而病從此漸減矣。初病時，因醫為虛症，曾用補中益氣湯加鹿角膠，使外邪閉固不出，食後睡臥不安者甘有七日，病者是此畏用人參。矛曰：此誠因噎廢食也。曏者外邪未解，固不可用，今病久氣耗，非參、耆何以復之？</p>

<h2>傷寒外邪居胃異常飢餓極易誤人</h2>
<p>一人冒風寒，身體發熱三、四日，邀余診視，脈甚洪大而有力，余曰：此屬陽症也，不久當愈，但粒米不可下咽。戒之者至再至三。不意余蹤未旋，覺胸前大餓，索食不已，值不曉事館童，私與米粥二匝，未及半夜，譫語曉曉，人事不省，而昏沉舌橋，且有白苔，更多芒刺，兩臉甚紅，口不能道隻字者二日矣。按其六脈沉伏不見，余進以柴胡、黃芩、厚朴、山楂、麥芽、防風、枳殼、知母，一、二劑而始至，口亦能言，始有生機，調理二月而痊可。</p>

<h2>食復</h2>
<p>一鄉人姓嚴，余不知其號，但其族嚴瑞之，患熱症，時值六、七月光景，身體壯熱，不覺飢餓，異常作渴，數日不解。邀余診之，急令其下，發躁發熱，仍前不減，進黃連、知母等劑而痊。其嚴姓之人，即居瑞之後，患熱症，亦邀余治。予至，見其面色甚不好看，胸前按之痛極，口不能言，但一氣出入而已，身後事盡備。但診其脈，未為無救者，細詢其妻致病狼狽之由，如二日前進食大飲之故。急令煎大柴胡湯，起口而入之，一劑而口開，再劑而熱退，三劑蹶然而起矣。</p>
<p>一人向尚齊力，初夏患熱症，去血幾盂，舉家驚惶。殊不知此蓄血傷寒也，去則生，而凝則死，遂用清熱涼血之劑，得而痊可。但乃兄愛惜過當，米飲不令入口者二十餘日矣。予至，診之六脈，神氣淹淹待斃。此非邪氣不盡，乃元神萎頓之極。速令進米飲，覺甘甜滿口，遂漸旺，明知過與不及，往往有之，為醫者不可不知。</p>
<p>一人始於感外邪及內傷飲食，雖能痊可，但病後脈微如毛。傷寒有此脈是自內虛症，所以每交日晡寒熱，交於時便覺清爽，為可驗。《經》云：發於午前者為實熱症，交中即作是為內虛。且或寒或熱，有時前後，益見虛象，如按之細小無力，總有外邪，亦當議補。若脈大而鼓指，亦屬大虛，但按之有力無力分虛實耳。</p>

<h1>感冒章</h1>
<p>一人感冒風邪，咳嗽多痰，右寸關浮滑，《脈法》云：浮則風客於表，滑則痰滯於中。蓋痰之本，水也，原於腎；痰之動，濕也，主於脾。故丹溪謂：濕土生痰，痰生熱。且風客於表，則邪熱奎遏，所以生痰發咳。治宜和利表間之風，兼健脾土以制濕，保肺以寧嗽。</p>
<p>方：前胡　荊芥　陳皮　防風　桔梗　甘草　貝母　茯苓　蘇子　麥冬　半夏</p>
<p>一人大熱惡寒，心煩身痛，發表罔效，治熱無功。此緣質弱，表症失解，傳人臟腑。蓋寒邪人臟，沉滯於陰，陰虛不能越陽，寒蓄內也；熱邪傳腑，浮達於陽，陽虛不能和陰，熱玩內也。故曰：陰陽不和，惡寒發熱；邪正交攻，從勝所化。陽亢則生熱。熱勝則生煩耳。先宜和通表裡，次當和陽挽陰，消煩而已。</p>
<p>方：藿香　柴胡　黃芩　甘草　白芍　陳皮　香附　羌活</p>
<p>一人胃脈緊滑，左脈沉虛。《內經》曰：脈滑主風，脈沉主寒，乃風寒客於皮毛，內舍於肺而為咳、為嗽也。宜和解外邪，清潤肺金。</p>
<p>方：前胡　柴胡　桔梗　天花粉　陳皮　枳殼　桑皮　杏仁　麥冬　甘草</p>
<p>一人肝脈虛軟，胃脈、肺脈皆數而浮，乃肝血不足，肺胃經有火有痰也。今患咳嗽咯痰，由感冒而起，曾服以蔥湯發汗風寒之劑，邪雖散而痰嗽未除。據《明醫論》云：痰之動，濕也，主於脾。咳謂有聲，肺氣傷而不清，外邪雖散，而鬱未清利。所以熏於脾胃則生痰，薰於華蓋則生咳嗽，甚則痰帶血絲也。須清潤肺金，消化濕痰。</p>
<p>方：陳皮　麥冬　玄參　桔梗　甘草　紫菀　知母　花粉</p>
<p>一人風邪傳衛，咳嗽鼻塞，流濁黃涕，牙癢喉痛，發熱，脈息浮澀，雖系傷風，又兼鬱結之火也。宜解風開鬱主之。</p>
<p>方：前胡　防風　川貝　玄參　連翹　陳皮　知母　黃芩　荊芥　香附</p>
<p>一人人迎脈浮，氣口脈盛於人迎一部，此勞碌內傷，兼風邪外襲也，是以痰多咳嗽，而頭痛身熱。宜調五內，略佐以解邪之劑。</p>
<p>方：陳皮　芍藥　茯苓　桑皮　前胡　桔梗　杏仁　紫菀　骨皮</p>
<p>一人感冒夾食，曾服消導發散之劑。汗雖已出，漸及神昏譫語，身發斑疹，汗出過多。手足俱攣，錯語撮口，六脈全無。一友用牛黃二分。此係營弱衛強，陰陽潛伏，關格閉塞之象也。宜用和解表裡之藥。</p>
<p>方：桂枝　芍藥　陳皮　甘草　秦艽　羌活　牛膝　生薑　大棗</p>
<p>一人脈浮而緩，惡風自汗，頭痛鼻塞，發熱咳嗽，流涕。《脈法》云：浮則為風，緩則為弱，風傷於衛，衛氣不能鼓也。衛為陽，風能散之，陽無所附，浮散子外，故令發熱惡風，自汗而流涕。風者，天之陽氣也。人身六陽之氣，皆聚於頭，復感於風，是重陽而實也，故令頭痛；鼻氣通於天，清陽往來之竅，風盛則氣壅，故令鼻塞也。其咳嗽者，以肺主氣，又主皮毛，腠理不密，風邪客之。肺氣傷而不清也。此感冒輕症，但當和里解表。</p>
<p>方：陳皮　蘇葉　川芎　半夏　乾葛　柴胡　黃芩　甘草　桔梗　藿香</p>
<p>一人脈息陽浮陰弱，數數傷風，鼻塞流涕，頭痛噴嚏，是脾肺兩虛，腠理不密也。宜神中益氣，稍加和解之劑。若過於表散則金愈虛，虛則愈感矣。</p>
<p>方：人參　黃耆　白朮　升麻　柴胡　甘草　當歸　陳皮　防風　蔓荊子</p>
<p>一人平素內火熾盛，刑剋肺金，或因重衣厚被，壅熱於上，熱極生風，脈息浮數無力。症見身熱聲重，鼻塞流涕，痰嗽，咽乾音啞。宜以辛涼苦寒，兼升散之劑解之。</p>
<p>方：前胡　薄荷　甘草　桔梗　乾葛　黃芩　杏仁　花粉</p>
<p>一人人迎，氣口脈俱大，頭痛身熱，惡寒拘急，胃口肚腹脹痛。此為挾食感冒，手足太陰兩經受病也。宜先發散以治其本，次消導以治其標。</p>
<p>方：青皮　砂仁　大腹皮　白芷　茯苓　紫蘇　藿香　蒼朮　廣皮　厚朴　桔梗　半夏　炙甘草</p>
<p>一人脈浮有力，為風乾衛也，又為骨間疼痛，氣居於表。今鼻塞，額與眉稜不爽，時或咯疾惡心，喉不清利，如窒塞之狀，此肺感風寒也。或衣少則肌畏風寒，此衛氣為風所傷也。須出入避風，溫寒中節，痰漸去矣。</p>
<p>方：陳皮　防風　枳殼　半夏　荊芥　薄荷　玄參　香附</p>
<p>一人脈息寸浮兼數，此肺感風寒，內火鬱遏，客風傷風池、風府，而為頭痛鼻塞。方書云；咳嗽者，因傷肺氣。又曰：火燃肺金則咳。宜用和解保肺藥。</p>
<p>方：前胡　蘇子　陳皮　花粉　荊芥　桔梗　玄參　黃芩　枳殼　紫菀　防風</p>
<p>一人脈左右俱浮面五至，乃肺中有火，傷風咳嗽，熱則生痰也。宜用清肺平嗽藥。</p>
<p>方：玄參　桔梗　花粉　前胡　陳皮　甘草　知母　薄荷</p>
<p>一人氣口、人迎脈俱緊而盛，此內傷外感之病。宜清胸腹之滯，和解肌表之邪。</p>
<p>方：山楂　麥芽　玄胡索　陳皮　青皮　紫蘇　羌活　柴胡</p>
<p>杜儒仲，壬午夏四月，初染時疫，身熱頭痛不止。第二日，不能耐煩，遂服薑湯幾杯。素因表虛，服薑湯後而汗遂至，熱勢仍不少減。至第六日，又復大解，去宿垢甚多，熱復仍舊，煩燥口乾，不可當，身有細斑如蚊口者。至第八日，汗又不求而自至，熱勢覺少減，至晚又復大熱，語言不論，如發狂狀。此時或疑為越經也，或疑為陽毒也，或疑為蓄血也。予獨謂此屬大虛症。急覓人參，而參不可得，即令濃米湯碗許灌下，少頃，即神氣清爽而熱頓除。蓋因予坐在病人身旁兩日，視其病勢汗而又汗，解而又解，唇無紅色，出言懶怯，不時小便，俱屬大虛症，故敢即與以粥湯，即令其進食，不至後復發熱耳。豈可同傷寒後脾土未堅，一粒未可進等類觀哉。師至於此，以見醫道之不可拘執云。</p>

<h1>飲食傷章</h1>
<p>一人左脈和，右脈緊。《脈法》謂：氣口緊盛。為食傷脾胃。胃傷則不司納，所以食少；脾傷則不司運，所以難飢，治當健脾和胃為主。</p>
<p>方：藿香　茯苓　白豆仁　神麯　廣皮　厚朴　乾葛　半夏　白朮</p>
<p>一人脈息沉緊，乃食傷太陰，脾失轉輸之令，以致胃有停積，中脘作痛，吞酸暖腐而膨脹。《素問》云：飲食自倍，腸胃乃傷。</p>
<p>方：廣皮　厚朴　半夏　山楂　枳殼　白朮　麥芽　藿香　茯苓　草豆蔻</p>
<p>一人身體不痛，左脈不浮，但右手脈緊盛，頭痛身熱煩懣，胸膈不寬，大便燥結。曾服發散藥而熱益甚，脈不為汗衰，此為陰陽交而魂魄離之脈症，乃病得之內傷，食塞脾太陰，不足中之有餘，泄之可也，引而竭之之兵也。</p>
<p>方：蒼朮　厚朴　枳實　柴胡　茯苓　炙甘草　藿香　白芍　熟大黃</p>
<p>俟更衣後，以白朮易蒼朮、黃連易大黃、陳皮易枳實。</p>
<p>一人因傷食，咽酸飽脹，食少噯氣，大便溏泄，糟粕不化，寒熱如瘧，右關短滑，左關弦大，此足陽明太陰經虛，木虛土位，所以咽酸，轉輸之官失職，不能運化精微。故清氣在下，則生飧泄；濁氣在上，則生飧脹。噯氣者，亦清氣下陷，濁氣泛上所致。陽虛則寒，陰虛則熱，陽明太陰兩虛，則寒熱交作而如瘧矣。須疏肝氣，溫脾胃、節飲食為主。</p>
<p>方：柴胡　秦艽　白朮　茯苓　豆蔻　白芍　益智仁　澤瀉　山楂　骨皮</p>
<p>《經》曰：脾胃交通，水穀自化。今脈右寸關弦滑，其尺虛大無力，病見少食，食後痞滿，便溏體倦，此係少火衰微，坎水不溫，不能上蒸脾土，沖和失布耳。宜用六味丸壯火生脾，脾溫則土自治，故曰補脾不如補腎。</p>
<p>一人善飲，近因酒後，覺胸臆頤頷，懊憹難狀，喘息不平，而左肩痠軟。脈息左緩右弦，乃知肺經上焦之分不平。酒之性味溫熱，干乎上焦虛無氤氳之元氣，所以見懊憹氣急也。惟左肢痠軟者，猶樹木一枝不灌注而先枯萎。今須少酒節勞，提防其漸，庶無咎耳。</p>
<p>方：乾葛　茯苓　當歸　綠豆　紅花　蘇子　門冬　五加皮</p>
<p>一人六脈浮洪而數，按之則散，身熱懈惰，汗出如浴，惡風少氣，此為酒風。夫極飲者，陽氣盛而胰理疏、玄府開。陽盛則筋痿，故身體懈惰。腠理疏，則風內攻；玄府開，則氣外泄，故汗出如浴。風氣外薄，膚腠復開，汗多內虛，癉熱熏肺，故惡風少氣。宜用健脾利水之劑。</p>
<p>一人寸口脈大於人迎三倍，尺脈復沉，寒熱惡食，氣急痞塞，噯氣酸臭，胃腹脹痛，手不可按，此係食塞太陰。《經》曰：上部有脈，下部無脈，其人當吐不吐者，危。觀當吐二字，便知胸膈有物，填塞至陰，抑遏肝氣而絕升生之化，故吐之則愈，所謂上者舉之是也。</p>
<p>燒鹽（四兩）　溫湯（二升）</p>
<p>和勻飲之，鵝羽探吐。</p>

<h2>大便不通</h2>
<p>一友甘餘日大便不通，舉家大駭。一人竟用豬膽二枚，綠礬浸水，去渣不用，將豬牙皂角焙燥為末，用綠礬水偃人豬膽內汁。三味攪和，復人豬膽內，如常導法，盡膽汁為度，用綿絮坐之。腹中時常作殾，未可即欲其去，待三次作響，坐淨桶上，即大去矣。去後要有力之人抱住，不放手，恐其虛脫也。然後即服大補之劑而安。</p>

<h1>黃疸章</h1>
<p>（同是濕熱，要分濕氣勝熱氣勝而治。）</p>
<p>一人脾部及左寸尺俱沉細而虛。《脈法》曰：黃疸脈多沉細耳。且沉為氣滯，細為濕氣，滯則熱鬱，濕與熱搏則蒸為疸病。《素問》所謂中央黃色，入通於脾。積中形外而溺黃赤，目睛亦黃，為黃疸也。宜順氣和中、清利濕熱之藥主之。</p>
<p>方：豬苓　山楂　茯苓　澤瀉　通草　車前　砂仁　陳皮　白芍　茵陳　秦艽</p>
<p>一人脈息沉細而疾，沉者氣食相凝，細者為濕，疾則為熱。不寐者，乃胃有所積而然。《素問》云：胃不和則臥不安。濕與熱鬱則成疸，所以胸次飽悶作噯，通身黃而晡時寒熱，溺黃赤也。須節飲食，慎風寒。</p>
<p>方：陳皮　厚朴　山楂　澤瀉　麥芽　豬苓　茵陳　枳實　茯苓　秦艽</p>
<p>一人脈息沉細而疾，沉細屬濕屬寒，疾則內熱。《脈法》云：黃疸脈多沉細。且《素問》有云：寒氣入經而稽遲，澀而不行，不行則痛。又諸痛屬熱，此由脾胃蘊熱已久，而肌表受寒，其熱氣鬱而不越，在經絡之間則痛，流於肌肉則發黃也。《內經》云：溺黃目赤者，曰疸。治當疏散肌表之寒邪，滲利臟腑之濕熱。</p>
<p>方：茯苓　豬苓　通草　玄胡索　木香　木瓜　秦艽　香附　乾葛　茵陳　澤瀉</p>
<p>一人脈息沉滑，《脈法》云：沉滑，酒疸。乃沉湎所傷於胃，以致濕熱鬱遏，久久成黃疸也。切須少酒節食。</p>
<p>方：檳榔　枳實　澤瀉　豬苓　茵陳　厚朴　山楂　通草　乾葛</p>
<p>一人脾胃兩部脈沉細而數，叔和云：黃疸，沉紐。數則為熱，此由飲食傷脾，濕熱成疸也。</p>
<p>方：厚朴　花粉　茯苓　茵陳　豬苓　陳皮　麥冬　山楂　澤瀉</p>
<p>一人素多鬱悶，脈沉滑而身痛發黃。胸膈不快，是為谷疸，乃穀氣不能四運，𨠭久脾傷，色見於外也。宜舒郁利膈，兼消導運脾。</p>
<p>方：茯苓　陳皮　蒼朮　香附　撫芎　梔子　茵陳　枳實　豆豉　麥芽</p>
<p>此症如腹痛，可加大黃。</p>
<p>一兒季夏身體蒸熱，胸膈煩滿，膚黃如潰橘，而白睛亦然，筋骨痿弱，不能行立。此由季夏之熱，加以濕令，其蒸熱之氣，薄於經絡，入於骨髓，使臟氣不平，故脾逆乘心，溫熱相合而成此疾也。蓋心火實則身體蒸熱，胸膈煩滿，脾濕勝則膚黃如潰桔。有飲之氣必乘已所勝，而侮不勝，是腎肝受邪，而筋骨痿弱不能行立。《內經》云：脾熱色黃而肉蠕動。又言濕熱成痿，豈乃促哉？所謂子能令母實，實則瀉其子也。蓋脾土退其本位，腎水得復，心火自平矣。又《經》曰：治痿獨取陽明。正謂此也。以瀉黃散加減治之。</p>
<p>方：黃連　茵陳　黃柏　黃芩　茯苓　山梔　澤瀉</p>
<p>一人脈息沉澀，身體疼重發熱，兩脛自冷汗出，皆黃如櫱汁，沾衣有色，此為黃汗，五疽之一也。得之汗出時，入水相浴，水從玄府入，濕鬱於表，故病黃。邪傷於衛，故自汗；濕熱相搏，故身體疼重而發熱。病原寒水所傷，寒氣就屬陰，水性就下，故兩脛自冷。客者除之，宜用桂枝以解肌表之邪；泄者收之，宜用白芍以斂營中之液；虛以受邪，宜用黃耆以固在表之氣；辛甘發散為陽，又以生薑、甘草為桂枝之佐；引以大棗，和脾益胃之物也。</p>
<p>一人小便赤澀，大便秘潔，煩熱而渴，六脈洪數，發黃色亮如橘。凡病熱溲便不利，則濕熱內部，勢必發黃。煩者，熱犯上焦清陽，之分也；渴者，火邪蒸灼不能生液以潤喉也。此熱為本，濕為標，宜推蕩之，熱氣泄而疸自除矣。</p>
<p>方：秦艽　茵陳　豬苓　澤瀉　茯苓　滑石　桂枝　梔子　大黃</p>
<p>或駁予曰：熱症用桂枝，恐不宜。余曰：《經》云：熱淫於內，以辛散之；燥淫於內，以辛潤之。桂枝性辛，能散能潤，正宜假之以引諸藥，直達熱邪鬱結之處。此熱因熱用，從治之例也。</p>
<p>一人脈忽沉數，發黃，身熱不止，大小便利。《脈經》云：疸病，沉數為陽。溲便利而黃不退、熱不止者，陽邪未去也。大便利，不宜用大黃；小便利，不宜用五苓。但以山梔、柏皮之苦，以勝其濕；甘草之甘，以緩其勢，治法畢矣。</p>
<p>一人病黃，六脈沉遲，而肢體逆冷，腰以，上身汗出，此陰症發黃也。陰寒不盛，則逼陽於上，故令上體見陽證之發黃而自汗，下體見陰證之厥逆，兼陰脈之沉遲。《經》曰：上盛下虛。其斯之謂歟。當用熱藥冷服之法。余考李思訓《湯液本草》與奉儀《活人書》，亦論及此。若執丹溪，不必分五，同是濕熱之言，則藥與證不相反耶。</p>
<p>方：茵陳　附子　乾薑　炙甘草</p>
<p>一人六脈洪數，按之無力，發黃，日晡熱惡寒，膀胱急，小腹滿，額上黑，足下熱，因作黑疸。其腹脹如水狀，大便黑而時搪，此女勞疸之症也。陽邪入於胃，熱無以越，上色自見而發黃。然日晡所必熱者，土位旺於日晡也。今及惡寒，知其為女勞虛之矣、女勞虛者，責之腎。膀胱者，腎之腑，前陰者，腎之竅。腎虛而陽邪襲之，故令膀胱急，小腹滿。黑者，北方腎水之色。額上黑者，腎病而色自見也。足下熱者，腎脈起於湧泉，腎水一虧，則相火湊之，故足下熱也。因作黑疸者，陽邪陷於腎，而腎色盡顯於外也。腹脹者，腎脈行於腹裡，邪氣居之，故令脹如水狀，實非水也。蓋腎主二便，因病黑溏而失常也，此可辨其為女勞之病，而非水矣。宜進之以腎疸湯。以硝石、礬石皆鹹寒之品，咸能入腎，寒能勝熱。和以麥粥湯者，恐二物之損胃也。如漸至腹滿則難治。蓋腹滿與腹脹不同，腹脹是腎脈行於腹。故令脹於外；腹滿是脾胃受邪，而不能健運，致滿於中也。脾胃屬土，能克腎水，故曰難治。</p>
<p>一人脈息澀而病黃，小腹硬滿，溺利糞黑，腹脅有塊，澹語頭汗而渴，為之濕熱淤而傷血，血熱發黃。法當下之。</p>
<p>方：歸尾　紅花　丹皮　桃仁　枳實　厚朴　茵陳　秦艽　甘草　熟大黃</p>
<p>一兒面目俱黃，小水赤澀，此因濕熱鬱遏，而成。丹溪云：疸雖有五，同是濕熱釀成。治法惟宜利小便，而更佐以解鬱消食，無有不愈。</p>
<p>方：廣皮　厚朴　香附　山楂　黃連　山梔　茵陳　赤芍　木通　澤瀉</p>
<p>一兒十二、三歲，面與眼白俱黃，口中作渴，小水亦黃，此黃疸也。皆由脾胃濕熱所致。</p>
<p>方：山楂　麥芽　陳皮　茵陳　澤瀉　豬苓　蒼朮　厚朴　甘草</p>

<h2>黃間疸不與老年人論</h2>
<p>疸症有五，俱是濕熱所致，用清熱攻伐之劑，不幾劑而安。但少年元神強壯者，或服苦瓢湯，或用良薑一兩搗汁、砂仁一錢、紅砂糖、老酒同服，非大吐，即大下，自然見效。若老年人，補之不宜，攻之不可，往往不治者有之，不可不知也。</p>

<h1>痞滿章</h1>
<p>一人三十五歲，數年之前，為食麵傷胃，而兼之使內，遂致胸膈似痛非痛，似脹非脹，而有懊憹不寧情況，必以挖吐稍舒。由此積漸至今，則胃間脹大，捫之實硬，飲食不為肌膚，色萎黃，其痛重於亥時分，一交陽生，條爾舒泰，診脈得脾部獨弦沉。夫脾為坤靜之德，而有乾健之運，能使心肺之陽下降，肝腎之陰上升。今脾既傷，則心肺之陽不下降，腎肝之陰不上升，乖隔成痞。須橫正驅邪，加之不妄作勞，庶可全愈耳。</p>
<p>方：茯苓　陳皮　白豆蔻　小茴香　枳實　大腹皮　厚朴　米仁　橘核</p>
<p>一人左手三部虛弦，右脈脾部浮孺，由積怒傷肝，飲食傷脾，以致肝氣逆滿，胸前室塞，飲食遲遲而少納，氣血漸耗而體弱也。</p>
<p>方：當歸　枳實　白芍　藿香　陳皮　茯苓　厚朴　白蔻　香附　蘇子</p>
<p>一人左關中按無神，右三部緊而疾，是積勞過傷脾胃，以致胸隔氣滯作痛，痞塞不通，由心脾之陽不下降，肝腎之陰不上升，乖格而成痞塞。丹溪云：牌無積血，則心下不痞。須治血理氣，升降清濁為主。</p>
<p>煎方：陳皮　半夏　香附　丹皮　山楂　枳實　茯苓　白豆蔻</p>
<p>九方：陳皮（三兩）　當歸（二兩）　香附（三兩）　貝母（二兩半）　枳實（二兩半）　沉香（六錢）　茯苓（二兩）　白蔻（二兩）　山楂（三兩）</p>
<p>一人右關脈弦，惡食懶倦，心下虛痞。夫《易》日：天地不交而成否。故肺氣不降，脾氣不運，升降不通而名痞也。脾為邪氣乘之，不足以勝谷，故令惡食。脾者，卑臟，役氣於四肢，而後肢體強健：脾氣病，則不能致氣於肢體，故令懶倦。弦，肝脈也。木來乘土，故令右關脈弦。此症虛中有實也，邪之所湊，其氣必虛。留而不去，其病則實。故治之之法，宜一補一消。</p>
<p>方：麥芽　枳實　黃連　厚朴　半夏面　人參　白朮　乾薑　甘草　茯苓</p>
<p>一人素多憂氣抑鬱，腹皮里微疼，心下痞滿，不思飲食，脈息沉結，此為氣格，即時人謂之氣痞耳。《經》曰：脾主行氣於三陰，三陰之脈皆行腹裡。今憂氣鬱結，營衛之行澀，故令腹皮里微痛，心下痞滿者，升降之道乖也。不思飲食者，憂氣傷脾也。治宜調和營衛，以辛香之劑佐之。</p>
<p>方：木香　陳皮　柴胡　當歸梢　枳實　半夏　紅花　生薑　甘草炙　草蔻</p>
<p>一人病痞滿，右三部脈沉滑，是乃痰為氣所激而上，氣又為痰隔滯，痰與氣搏，不能流通。宜用黃芩、枳實之苦以泄之，陳皮、厚朴、半夏、生薑之辛以散之，白朮之甘以補之，茯苓之淡以滲之，佐以桔梗諸藥舟楫，入以竹瀝消諸虛痰。</p>
<p>一婦向多氣多怒，脾胃欠實，左邊忽患一病，時升上降下，異常作楚，飲食不進，滿身疼痛，經候不調。煎方用補中益氣湯，一月內日服一劑，兩月內間日一劑，三月內三日服一劑。又用膏子藥方。</p>
<p>白朮（一斤）　當歸（一兩二錢）　圓眼肉（三兩）</p>
<p>如痞塊不時升上升下作痛，加桂枝、芍藥、甘草，用糖漿調服。</p>

<h1>水腫章</h1>
<p>一人心脾兩部俱虛數者，由於勞神傷心，過思傷脾，以致坤元之氣不能資生於四肢百體。方書渭諸濕腫滿，屬脾是也。卻須早為攝養之計，以恬淡虛無為守。戒暴怒，卻思郁，提防涓涓不已之患，庶不至劇甚也。</p>
<p>方：茯苓　澤瀉　白朮　秦艽　通草　山藥　車前　木瓜　米仁</p>
<p>一人脈息六部俱澀，而脾部兼沉。《素問》云：憂則氣沉脈澀。《靈樞》云：脾憂愁而不能解，則傷意，意傷則悗亂。蓋脾藏營，營合意也。今見此脈症，即憂愁氣都，其脾藏之意，而司運遲滯，承宣失令，以致腹滿作腫作脹，漸為臍凸背手，腹滿成臌也。</p>
<p>方：木瓜　砂仁　大腹皮　白蔻　廣皮　厚朴　木香　澤瀉　山楂　茯苓皮</p>
<p>一人八十餘，自十二歲起，戊申年夏令患腫，至秋漸愈，此後每逢歲干值戊，便發腫於夏，今經八度矣。戊午六月，診得六部沉石而數，此必水濕蓄於脾胃，而形軀有漸於濕，逢其火運之年，則濕得火而氣蒸，濕蕪肌表而為腫矣。治當苦味以泄火逆，淡味以滲濕邪，使其火自就燥，濕自流濕，庶不日增腫患耳。</p>
<p>方：乾葛　荊芥　秦艽　山藥　黃連　茯苓　澤瀉　豬苓　米仁　廣皮</p>
<p>一婦素多怒，因食燒肉，面腫不食，身倦脈沉澀，左豁大，此體虛有痰所隔，不得下降。當補虛利痰為主。每日早服二陳湯，加人參、白朮；臥時進滾痰丸五、六十粒。</p>
<p>一人六脈浮遲無力，右手為甚，兩足浮腫，胸膈脹滿，小便短少。用分利之劑，遍身浮腫，兼氣喘。此脾虛下陷，土不能生金，金不能生水也。治宜補中為主，中氣既旺，則精以時服，五陽以布。五陽者，《素問》謂胃院之陽也。如此自能健運，樞機不息，肺氣下降，滲道開通，何腫脹之患耶？用補中益氣湯加熟附子。</p>
<p>一人年三十，病水腫，面光如泡，腹大如箕，腳腫如槌，飲食減少，其脈浮緩而濡，兩尺尤弱，此得酒後使內，宜補腎水。家人駭日：水勢如此，視者不日通利，則日滲泄，先生乃欲補之，水不益深耶？余謂：《經》云：水極似土，正此病也。水極者，本病也；似土者，虛象也。今用通利滲泄而治其虛象，則下多亡陰，滲泄耗腎，是愈傷其本病。而增土濕之勢矣。豈知亢則害，承乃制之旨乎？遂令空腹服六味丸，再以四物加黃柏、木通、厚朴、廣皮、人參、白朮、防風。三十劑而愈。</p>
<p>一人向喘嗽，痰中見血，忽小溲短少，小腹作脹，皮膚浮腫。余憶《經》云：肺朝百脈，通調水道，下輸膀胱者。又曰：膀胱為州都之官，津液藏也，氣化則能出矣。是小溲之行，由於肺氣之降下而輸化也。今肺受邪而上喘，則失降下之令，故小溲短少，以致水溢皮膚而生腫滿。此則喘為本，而腫為標。洽當清金降氣為主，而行水次之。以白朮、麥冬、陳皮、枳實、蘇子、茯苓、黃芩、桔梗、豬苓、澤瀉、桑皮、蘇梗，出人加減，數服而安。</p>
<p>一人水腫，因起於房勞，汗出於腎，逢於風，內不入臟腑，外不得越皮膚，客玄府，行肌肉，傳跗腫，脈浮，惡風，腎之病也。理宜滋腎散風，用四物湯加荊芥、防風、羌活、柴胡、防己之類。不宜作脾虛濕腫治，用參、術與利水之劑，恐愈使風邪下陷也。</p>
<p>一人六脈沉遲，不渴而瀉，小便清澀，遍身浮腫，胸腹不寬。《經》曰：諸濕腫滿，皆屬於脾。臟病久，則傳於腑。夫胃主中焦，為水穀之海，各從其道而輸瀉也。胃氣不和，則出納之間不利，故水穀之津液，皆積聚而變為水，溢於肢則腫，留於中則脹。胸腹、皮膚者，臟腑之郭也，濁氣橫於中，則郭彭然而腫矣。法當補脾土，分清濁，尤宜戒酒色鹽醬，庶不至日甚耳。</p>
<p>方：白朮　茯苓　陳皮　豬苓　澤瀉　肉桂　骨皮　防風　腹皮　生薑皮</p>
<p>一人病腫，上部為甚，少氣時熱，口渴溲黃，身重不能正偃，正偃則咳，脈浮而數。《經》曰：上盛為風，身重為濕。蓋無風則濕不能上於高巔清陽之分也。邪之所湊，其氣必虛。風濕相搏，所以時熱；小便黃赤者，小腹中有熱也；不能正偃者，胃氣不和也；正僵則病咳者，肺得水而浮，使氣不宣通也。先用上下分消之法，以治其標，則風從汗散，濕由便滲矣。</p>
<p>方：紫蘇　香附　陳皮　羌活　防風　川芎　黃芩　骨皮　木通　蒼朮　厚朴　甘草　茯苓皮</p>
<p>一人肢體皆腫，小腹不急，初病便覺喘滿，而脈息右手弦滑，此為水出高源，夫肺非無為也，主降下之令焉。凡人飲入於胃，脾氣散精，上歸於肺。肺熱，失其降下之令，不能通調水道，下輸膀胱，潰於高源，淫於皮膚而然也。宜用麥冬清肺，以開其降下之令，用糯米益脾，而培乎金之母氣。不數服而腫喘頓消。</p>
<p>一人腹大臍腫，腰痛，兩足先腫，小水短澀，喘咳有疾，不得臥，甚至頭面皆腫，面赤口渴，便燥，雜用利水之藥而益甚。殊不知此是陰虛，三焦火旺，與衝脈之屬火者，同逆而上。由水從火溢沖積於肺而咳，甚則為喘呼不能臥，散聚於陰絡而為跗腫，隨五臟之虛者，入而聚之為腹脹，皆相火泛溢其水而生病也。宜用六味丸料，加麥冬、五味，大劑服之愈。</p>
<p>一人病後失調理，飲食頓減，元氣浸衰，致遍身浮腫，小水不利，兩足畏冷，六脈微弱，按之不鼓，此屬脾胃大虛，陽氣下陷之故。禁用利水消腫等劑，法當壯火之源，以生脾土。</p>
<p>方：熟地（四兩）　白茯苓（三兩）　萸肉（一兩）　山藥（一兩）　牛膝（一兩酒洗）　丹皮（一兩）　肉桂　車前　澤瀉（各一兩，炒）　川附（五錢）　白朮（一兩炒）　人參（五錢）　制首烏（一兩）</p>
<p>腫脹，用砂仁末浸湯，同白朮炒用。</p>
<p>腫脹亦有用枳殼炒白朮，去枳殼而用白朮也。</p>

<h1>臌脹章</h1>
<p>《明醫論》云：喘則必生脹，脹則必生喘。但要分標本先後，先喘而後脹者，主於肺；先脹而後喘者，主於脾。今先喘以及於脹，此肺金受病，而傳之脾土也。且小便之源，由於肺氣之降下而輸化，肺氣阻塞，所以溺道澀而為腫矣。庶保肺金以定喘，健脾以寬脹，利水以防腫，卻鹽味以防助邪，斷妄想以保母氣，本而標之之法也。</p>
<p>方：生薑　車前　白蔻　蘇子　貝母　茯苓　澤瀉　米仁　通草　秦艽</p>
<p>一人為臌盆之憂，復多思鬱結所傷，漸漸飲食不下，腹中不寬，不覺飢腹鳴，脈右關部短而沉，乃思傷脾也。《素問》云：思則脈短氣結。蓋由脾不和而食少，且不能統血行氣，所以久脹而鳴，久郁乃久積塊也。</p>
<p>方：陳皮　山楂　貝母　木香　茯苓　枳實　撫芎　蘇梗　厚朴　香附　白蔻</p>
<p>一人脈沉細，脾部則軟，肌色黃，乃脾土之陰不足以制輸運，失其常度，所以腹不覺舒暢，而飲食稍過即為脹也。《內經》曰：脾者，諫議之官，知周出焉。人身知周乎萬物者，惟脾土坤元也。今脾病則胃之納受穀肉菜果等類，皆轉化遲滯，是以食即作脹，不食亦不覺飢。治宜健運坤元，俾能知周，庶水穀易化，美在其中而暢於肢體也。凡七情所傷，惟思為甚，尤宜戒之。</p>
<p>方：茯苓　半夏　米仁　陳皮　秦艽　木瓜　白朮　益智　姜</p>
<p>一人十八歲，脾胃脈滑疾，胃有壅積，兼氣滯，常患腹膨脹、作疼作暖、吞酸之症。大抵物滯氣傷，宜補益並行乎消導，須得推陳致新之法。又當樽節飲食，疾斯不甚耳。</p>
<p>方：山楂　白朮　麥芽　陳皮　枳實　白豆蔻</p>
<p>丸方：神麯（二兩）　香附（一兩）　白朮（一兩炒）　黃連（一兩）　當歸（一兩）　巴戟（二兩）　貝母（二兩）　石菖蒲（一兩）</p>
<p>密丸。</p>
<p>一幼女秋間，向有瘡瘍之楚，至十月初方愈，此時便覺飲食少進，至午後發潮熱，腹脹臍突，到晚則臥不安撫，其身熱、腹脹、喘急疾嗽愈甚。予診之，六脈俱數而洪，此因積熱既久，脾土衰弱，不能生肺金，木寡於畏而來乘土，故飲食不進，腹脹如鼓，兼之睡而氣促，痰火上升也。《經》曰：諸腹脹大，皆屬於熱。又曰：諸濕腫滿，皆屬於脾。乃知脾虛為本，濕熱為標。法當降火清金、補脾行濕為主。</p>
<p>方：茯苓　柴胡　澤瀉　大腹皮　麥冬　黃芩　黃連　厚朴　葶藶　蘇子　山藥　桑白皮</p>
<p>一人嗜酒，病瘧半年，患脹滿，脈弦而澀，重取則大，手足瘦，腹大如蜘蛛。以參、術為君，當歸、白芍、川芎為臣，黃連、茯苓、陳皮、厚朴為佐，生甘草為使。日三次飲之，嚴守戒忌。一月後，汗而瘧愈。又半月，小便長而腫退。</p>
<p>一婦腹痛，脹如鼓，四肢骨立。眾或以為娠、為蠱、為瘵也，治之罔效。予診其脈，六部弦滑且數，弦力氣急，滑為血聚，此氣薄血塞。夫氣，道也；血，水也。氣一息不運，則血一息不行。《經》曰：氣血同出而異名。故治血必先順氣，俾經隧得通，而後血可行。乃以順氣活血藥，大劑熱服，三日而腰作痛，血欲行矣。隨進以桃仁承氣湯峻逐之，下汙血累累如瓜者數枚，又以補劑調理而安。</p>
<p>一人飧脹不能食，溲遺血，服大黃苦寒之藥，致神乏氣脫而不能寐。診之脈則主寸沉，右寸過左一倍，兩關弦澀，尺反盛而不絕。此病得之勞傷心血，久則脾胃俱傷，逆郁不通，不能升降而作飧脹，飧脹則不能食，拂而不下閉索，閉而溲且不輸，故遺血。乃和以大補之劑，兼五郁之藥，不數日而即愈。</p>
<p>一女肝脈沉，脾脈弦，乃氣食傷其肝脾，以致氣滯食阻，陰陽關格，而成脹滿之恙也。須養金以制木，健土以運食，庶或可愈耳。</p>
<p>方：厚朴　大腹皮　神麯　香附　枳殼　木香　麥冬　麥芽</p>
<p>一人六脈浮緩無力，臌脹倦怠，短氣溏泄，此屬中氣之虛。《經》曰：脾主行氣干三陰。三陰者，太陰脾，厥陰肝，少陰腎也。其脈皆行於腹裡，脾病，則三陰之氣不行，故令臌脹。手足倦怠者，四肢受氣於脾，脾病則無以受氣，故倦怠；短氣者，腫病而中氣弱也；溏泄者，土弱不能制濕也。治當補脾扶正為主，《經》所謂塞因塞用是也。如數進利藥，以求速效，殊不知寬得一日、半日，腹脹愈甚，真氣已傷，是自求禍耳。</p>
<p>方：白朮　人參　茯苓　半夏　陳皮　甘草　厚朴　木香</p>
<p>一人脈息沉滑，左手獨甚，腹脹有形塊，按之而不痛移，不惡食，溲自利，大便黑色，面黃肌錯，此血症諦也。夫腹脹有形塊，按之而痛移者，氣之與火。今痛不移，則屬有形矣。然食與血皆有形，食而腹脹則惡食，今不惡食，則知其為血矣。小便自利者，血病而氣不病也；大便黑色者，病屬於陰也；面黃肌錯者，血病則不能營養其容，濡澤其膚，故令痿黃甲錯耳。宜先瀉其血絡，後調其真氣，營衛和平，陽布神清，而脹自消矣。用桃仁承氣湯加紅花、蘇木、韭汁。</p>
<p>一人因飲食訖，乘風涼後，卒然脹滿，食飲不下，形瘦腹大，面腫惡風，頭汗，膈塞不通，右關脈浮而緩，此胃風症也。用胃風湯加減治之。</p>
<p>方：白芒　升麻　葛根　蒼朮　柴胡　甘草　藁本　羌活　黃柏　草蔻　歸身　蔓荊　麻黃夏月不用</p>
<p>一人六脈沉結，身腫肢瘦，胸臆痞塞，上不得降，下不得升，晝夜不減，而頻嘆氣。此為氣滯，都因抑鬱而成者也。宜治以解鬱理氣之劑。</p>
<p>方：枳實　紫蘇　半夏　大腹　赤苓　白芍　厚朴　香附　木香　白朮</p>
<p>一人六脈遲弱，腹脹厥逆，嘔吐不食，二便清利，虛氣脹滿，按之軟而不痛，證屬虛寒。《脈經》云：胃中寒則脹滿。《內經》云：腹滿脂脹，支脅結膈，下厥上逆，過在太陽陽明，乃寒濕鬱結也。宜溫散和中藥主之。</p>
<p>方：益智仁　蒼朮　白朮　厚朴　乾薑　陳皮　藿香　茯苓</p>
<p>一人脈息弦數，脹滿身熱，微喘，外堅內痛，按之不陷，口渴身黃，便燥。病起於飲食不節，房勞致虛，脾土之陰受傷，轉輸之官失職，清濁相混，隧道變塞，濕鬱為熱，熱又生濕，濕熱相生，遂成脹滿矣。宜養肺金以制木，使脾無賊邪之害；滋腎水以制火，使肺得清化之令，而子能令母實。卻鹽味以防助邪；斷妄想以保母氣；遠音樂，戒暴怒，無有不安。</p>
<p>方：枳殼　熟大黃　連翹　白芍　茯苓　麥冬　山梔　柴胡　地骨皮　蘇子　葛根</p>
<p>一人傷食噁心，飽悶而脹，氣口脈緊滑有力。《經》曰：飲食自倍，腸胃乃傷。傷則不能運化，積其穀氣而為脹滿也。宜消導之。</p>
<p>方：連翹　菔子　建蔻　蒼朮　厚朴　藿香　廣皮　半夏　甘草　山楂　神麯　茯苓</p>
<p>一人病脹，起於脾虛浸假而氣喘六脈弦數無倫次，此是肺病傳脾，謂之虛邪，脹為本而喘為標也。當以實脾為主，使土旺生金，不為脹助其喘，而沖逆之氣自下矣。</p>
<p>方：陳皮　蘇子　葶藶　桑皮　米仁　白朮　茯苓　半夏　桔梗　白蔻</p>

<h2>氣虛中滿</h2>
<p>一人右手脈儒緩，左手肝脈弦。當胸之下，胃口之上，一掌之橫，按之如堅石，有形作痛。由忿怒太甚，不能發越，鬱結中州，痰涎停住，乃成滿也；久而不食，以致氣虛中滿，此土敗木賊之症。治當塞因塞用。</p>
<p>方：白豆蔻　陳皮　半夏　茯苓　甘草　人參　白朮　白芍藥　山楂　厚朴</p>
<p>一人濕氣未除，而又元氣虛弱，致腹脹滿，服後方四劑而愈。</p>
<p>方：茯苓（三錢）　蘇子（一錢五分）　木通（一錢）　豬苓（一錢）　人參（一錢）　厚朴（七分）　桂（一分）　白朮（二錢）　桑皮（一錢）</p>

<h1>中風章</h1>
<p>一人七旬，語言蹇澀，步履不穩，身體蜅側，如坐舟中。右脈滑，此脾濕動而生痰也；左脈虛澀，此肝心血虧也。痰乘虛而塞心竅，故舌蹇語塞；且痰生熱，熱生風，遂為眩運如坐舟中之狀。身欹側，步不穩者，肝主筋，血虛不能滋養乎筋也。宜寧心益脾、滋血養筋為主。</p>
<p>煎方：棗仁　茯神　花粉　半夏　廣皮　秦艽　當歸　生地　白芍　姜</p>
<p>丸方：茯神（一兩）　棗仁（二兩）　牛膝　膽星　甘菊　木瓜　半夏（各二兩）　鮮紅花　杜仲　枸杞　秦艽（各二兩）　五加皮（三兩）　竹瀝</p>
<p>一人手足振撣已兩年矣，脈澀無神，此血枯風乘，即扁鵲所謂風淫未疾是也。宜養血祛風導痰為主。</p>
<p>丸方：歸身（四兩）　茯苓（二兩）　紅花（一兩）　石斛（三兩）　天麻（五兩）　續斷（三兩）　秦艽（三兩）　虎骨（一對）　橘紅（一兩）　萸肉（四兩）</p>
<p>一人左脈洪大，右脈滑數，《內經》謂：數則煩心，脈滑曰風，大則病進，洪則火邪熾盛。此由七情內擾，風邪乘虛而襲，風煽其火，則痰隨火升，窒塞竅道，阻滯經絡，以致語言蹇澀，右半身不遂，神昏面赤之重症也。須投資壽解語湯，開其痰滯，通其心竅，俾神清痰豁，庶有生機。</p>
<p>方：天麻　貝母　防風　半夏　遠志　石斛　白芍藥　香附　枳殼　秦艽　羌活　茯苓　蘇子　白甘菊　麥冬　橘紅</p>
<p>一少女素病有帶下症，經水愆期，此脾土不足也。秋初，忽患口眼歪斜於左，而深秋來愈此正虧邪熾也。脈左澀右滑，《內經》謂：脈滑曰風，脈澀曰痹。此風痹症也，即麻木肢軟之漸。宜調營衛、舒經絡。俾營行脈中，衛行脈外，庶幾氣血行而風邪自滅。</p>
<p>方：歸身　天麻　橘紅　秦艽　甘菊　白芍　熟地　牛膝　續斷</p>
<p>一人六脈滑數而小，陡然忘記，肢體麻木，胸膈氣塞，耳鳴而聾，肩背痠軟，手足撣搖。此勞神傷心，思慮傷脾，以致心神虛耗，氣血兩亡，正「風淫末疾」之漸也。宜用滋陰之劑以治本，防邪之劑以治標。</p>
<p>九方：歸身（半兩）　防風（一兩）　天麻（二兩半）　茄皮（三兩）　茯神（一兩）　遠志（一兩）　紅花（五錢）　石菖蒲（一兩）　生地（一兩半）　枸杞（二兩）　秦艽（一兩半）　桔紅（二兩）</p>
<p>一人前因涼氣入心，語言蹇澀近因怒氣傷肝，復兼飲食作嗆有痰，肌膚瘦削，脈息右滑左澀，乃肝心血虧，而痰邪滯於經絡也。蓋舌者，心之苗，朔陰之脈循喉嚨，系舌本，兩經血虧而痰乘之，則是症成矣。宜疏痰理氣，兼養血為要。</p>
<p>方：天麻　半夏　蘇子　茯苓　遠志　當歸　秦艽　紅花　石菖蒲　防風　竹瀝</p>
<p>一人年近五旬，前患蹶恙未愈，今復嘔不食，胃脘作疼，心神驚惕，大便日去四、五度而色黑，左右手皆筋惕閃閃，脈息六部俱沉滑，乃痰氣阻逆於中州，以致氣鬱血滯，不能運行於脈絡也。方書謂：脾濕動而生痰，痰生熱，熱生風。又謂：風淫末疾是也，宜投導痰理氣、養血活絡之劑。</p>
<p>方：天麻　貝母　廣皮　歸身　紅花　秦艽　車前子　棗仁　茯苓　澤瀉　枳殼　桔梗　甘草</p>
<p>一人素勤苦，偶惡風寒，鼻流清涕，兼有噴嚏，此脾肺氣虛，不能實腠理也。彼不信，服祛風之藥，肢體麻倦，痰涎自出，殊類中風，此為風劑耗散元氣，陰火乘其上位也。宜以補中益氣湯，加麥冬、五味。</p>
<p>方：人參（一錢）　炙甘草（一錢）　升麻（三分）　黃耆（一錢半）　當歸　白朮　陳皮　柴胡（各五分）　麥冬　五味（生）</p>
<p>一人形體魁偉，中滿吐痰，勞則頭暈，所服皆清痰理氣之劑。不知中滿者，脾氣虧損也；痰盛者，脾氣不運也；頭暈者，脾氣不能升也；指麻者，脾氣不能周也。投補中益氣湯，加茯苓、半夏以補脾土，八味地黃丸以補土之母氣，病去十之五。凡患前症者，乃中風之端倪也。預防之理，當養血氣，節飲食，戒七情，遠房事。如不守禁忌，仍服清痰理氣之劑，適所以招風取中耳。</p>
<p>一人遍身風瘰赤色肌肉腫脹，自少年時，每遇飢餓即發，脈洪而浮。乃陽明風熱內熾因飢餓而正氣不足，八風之邪乘虛而襲也。宜卻勞以調其飲食，避風以防其助邪。</p>
<p>方：生地　當歸　白朮　紅花　連翹　銀花　大力子　防風　防己　白芷　薄荷</p>
<p>一婦先胸脅脹痛，後四肢不舉，自汗如水，小便自遺，大便不實，口噤目瞤，飲食少進，發熱嘔吐，月事不正，睡中搐搦，已十餘日矣。或以為中臟，余意不然。若風既中臟，真氣必脫，禍在反掌，惡能久延？乃候其色，面目俱赤，診其脈，右三部洪數，肝脈尤甚，知胸脅脹痛，肝經血虛，不能養筋也。自汗不止，肝經風熱，津液亡泄也；小便自遺，肝經熱甚，陰挺失職也；大便不實，肝木熾盛克脾土也；嘔吐少食，月事不正，睡中搐溺，此木盛剋土而脾不能攝血也。宜調補肝脾之氣，清養肝脾之血。</p>
<p>方：人參　黃耆　棗仁　茯苓　白朮　遠志　木香　炙草　白芍　丹皮　鉤藤　山梔　柴胡　當歸</p>
<p>一人年六十餘素善飲，兩臂作痛，服祛風治痿之藥，更加麻木發熱，體軟痰壅，腿膝俱疼，口噤語澀，頭目暈重，口角流涎，身如蟲行，搔起白屑，右手脈浮大無力。《脈法》云：浮而無力為虛。《發揮》云：氣虛脈大親乎浮。其臂麻體軟者，脾無用也；痰涎自出者，脾不能攝也；口歪語澀者，脾氣傷也；頭目暈重者脾氣不升也；癢起白屑者，脾氣不能榮也。用補中益氣湯，倍參、術，加神麯、半夏、茯苓以健脾氣。脾氣健，則痰涎自化，肢體能運。</p>
<p>一婦懷抱鬱結，筋攣骨痛，喉間似有一核，服烏藥順氣之類，口眼歪斜，臂難伸舉，痰涎愈盛，日晡潮熱，食少體倦。此係鬱火傷脾，血燥生風所致。用加味歸脾湯二十餘劑，形體漸健，飲食漸加。又服加味逍遙散十餘劑，痰熱稍退，喉核稍利。更用升麻益胃湯數劑，諸症漸愈。但臂不能伸，此肝血少也，用六味地黃丸而痊。</p>
<p>一人性多恐遇事矜持，病頭振，六脈沉緩，左關尺散軟無力，此虛風候也。夫矜持太過，則肝腎兩傷。《經》云：諸風撣眩，皆屬於肝。又云：恐傷腎。恐懼不已，則火起於腎，而消爍精血，腎水一虧，則心火暴盛無制。《經》云：諸逆衝上，皆屬於火。風相扇而撣搖矣。治法惟宜養血順氣，氣行而痰自消，血榮而風自滅也。晝服養營膏，夕服定振丸，三月而痊。</p>
<p>養營膏：枸杞（八兩）　人參　黃耆　當歸　白朮（各四兩）　二冬（各二兩）</p>
<p>定振丸：黃連（四兩酒煮）　半夏（四兩姜煮）　川芎　當歸　熟地　白芍（各三兩）　人參　黃耆　白朮（各二兩）　天麻　秦艽　靈仙　防風　荊芥（各一兩半）　全蠍　細辛（各五錢）</p>
<p>為末，密丸。</p>
<p>一兒九歲，忽患手足抽掣動搖，弄舌吐沫，面白唇青。或作風治，或作驚治，或作火治，或作痰治，雜用珠、犀、金、石、牛黃、琥珀、蜈蚣、全蠍等藥幾殆。余診之，右手脈沉弱而無力，左手脈滑大，此脾虛生風之症，理宜大補，用歸脾湯加桂、附一錢。搐定，減去桂、附，大劑參、耆，六服全愈。</p>
<p>一人年過四旬，醉飲青樓，夜臥當風，患頭痛發熱多汗，胸膈痞悶，飲食不進，六脈浮洪，重按豁然。此風人腠理，病在胸臆，即《內經》所謂飲食當風，名曰漏風。投以白朮、澤瀉煎服而熱退，汗仍不止，心口如水，此思慮所傷，與歸脾湯加麻黃根、桂枝，數服而愈。頭痛不已，用白蘿蔔汁滴人鼻中，立安。</p>
<p>一膏梁之人，素不慎起居，忽失音，不能語，神思昏潰，痰涎上壅齧舌齧頰。河間云：夫瑙屬腎經虛寒，氣厥不止。《醫學綱目》云：少陰氣至則齧舌，少陽氣至則齧頰。若失音者，腎氣不能上接清陽也。先用地黃飲子，隨服六味地黃丸而愈。</p>
<p>一人年六十餘，仲冬患中風症，半身不遂，語言蹇澀，心神昏憒，煩燥自汗，表虛惡寒，如灑冰雪，口不知味，鼻不聞香臭，聞木聲則驚怖，小便頻多，大便燥結。用大黃之類下之，便飲食減少，不然則滿悶，晝夜不得寐，約三月餘。凡三易醫，病全不減。至次年三月，又因風邪客之，加以痰嗽，嗌乾燥，疼痛不利，多唾，中脘氣痞似噎。予思《內經》有云：風寒傷形，憂恐忿怒傷氣，氣傷臟乃病，臟病形乃應。又云：人之氣，以天地之疾風名之。此風氣下陷入陰中，不能生髮上行，則為病矣。又云：形樂志苦，病生於脈，神先病也。風邪加之，邪入於經，動無常處，前症互相出見，洽病必求其本，邪氣乃伏。論時月，則宜升陽補脾胃，泄風木；論病，則宜實表裡，養營衛。瀉肝木，潤燥，益元氣，慎喜怒，是治其本也。以柴胡、黃耆、升麻、甘草、當歸、半夏、黃柏、黃芩、人參、陳皮、芍藥（此名加減沖和湯）。自汗，倍黃耆，加五味子二十粒。夜不得寐，乃心事煩擾，心火內動，上乘陽分，衛氣不能交於陰分使然也。以豭砂安神九服之，由是晝亦得睡。</p>
<p>方：豭砂水飛（五錢）　炙甘草（五分）　黃連酒洗（六錢）　生地　當歸（各錢半）</p>
<p>飯糊丸，每服十五丸。</p>
<p>一黑瘦人，右手脈滑而近駛，左手脈按之大而無力，痰嗽發熱，左半身不遂。此陰虛陽實，熱氣拂鬱，致營衛失常，津液不能遍達，而痰涎阻滯經絡，邪火燔灼筋骨，故見諸症也。應瀉心火，補賢水。心火瀉，則肺金清而木有制，脾不受邪；腎水補，則心火降而肺不受克。脾肺安，則陽明實；陽明實，則宗筋潤，自然束骨以利關節矣。</p>
<p>方：白朮　茯苓　甘草　廣皮　半夏　川芍　當歸　白芍　熟地　秦艽　加皮</p>
<p>加薑汁竹瀝</p>
<p>一肥白人，兩手脈沉滑而緩，右關獨甚，筋脈坦縱，氣血渙散，而肢體痰墮緩弛，亦惟右為然，且聲瑙不能言。叔和曰：滑為痰。又曰：一手獨滑，半身不遂。東垣曰：足陽明虛，則沉緩無力。愚意手少陰心，天真神機開發之本；足陽明胃，穀氣充大真氣之本，標本相得，則膻中氣海所留宗氣，盈溢四布，五臟三焦，上下內外，無不周遍。若不相得，則不能致其氣於氣海，而宗氣散矣。故分布不周於經絡，則偏枯；不周於五臟，則瑙。須補養。</p>
<p>方：人參　白朮　半夏　廣皮　甘草　桔梗　白茯苓　木通　獨活　石菖蒲</p>
<p>加薑汁竹瀝。</p>
<p>一婦兩尺俱衰，四肢不舉，口不能言，卒倒無知。夫腎為藏精之都會，主上下焦地氣之生育，故衝任二脈系焉。二脈同腎之大絡起於胞中，其衝脈因稱胞絡，為十二經脈之海，遂名海焉。衝脈之上行者，尋三陽，灌諸經；下行者，滲三陰，灌諸絡，而溫肌肉，別絡結於□，因腎虛而胞絡不通於上，則腎脈不上循喉嚨，挾舌本，故不能言。二絡不通於下，故痱厥。須以河間地黃飲子峻補其陰，繼以麥冬、人參、五味之類，滋其化源。</p>
<p>地黃飲子：熟地　巴戟（去心）　茱萸（去核）　附子炮　石斛　五味　肉桂　遠志（甘草制）　麥冬　薄荷　石菖蒲</p>
<p>薑、棗為引</p>
<p>一人六脈沉滑而短疾，口眼歪斜，半身不遂，舌強不語，渾如中風。此中酒毒而然，不可作中風治而汗之也。用甘蔗汁日飲一、二碗，至旬余而瘥。蓋蔗漿能解酒毒耳。唐詩云：飽食不須愁內熱，大官還有酒漿寒。則知能醒酒也。夫清陽在上，濁陰在下，天冠地履，無暴僕也。今六脈沉滑，則濁邪風湧而上，清陽倒置，故令暴僕，痰涎壅盛。此風多氣湧也。《經》曰：病發而不足，標而本之。用二陳湯，入牙皂、枯礬末調灌，利竅稀涎，先治其標；隨用疏風補氣，後治其本。</p>
<p>一人口眼喎斜，語言蹇澀，痰涎壅盛，六脈弦滑帶數，此係虛火上炎，虛痰上升，虛風內作，血脈受病，而病根起於手足陽明兩經也。手足陽明之經，筋絡於口，會太陽之筋絡於目，熱則筋弛，縱緩不收，故為喎為僻。三焦之氣通於喉，喉清則聲出，若痰火壅塞上竅。榮衛虛而不能上榮，則舌機不轉，故為蹇為澀。熱則生風，風壅其痰，故痰涎為之壅盛。理宜順氣養血，氣順則風自利，血活則風自滅。佐以一、二味清涼升散之品，此「火鬱發之，木鬱達之」之義也。</p>
<p>方：防風　白附子　木香　廣皮　黃芩　白芍　川芎　甘草　秦艽　天麻　當歸</p>
<p>一人卒中昏憒，口眼歪斜，痰湧口噤，咽喉有聲，六脈浮大，皆真氣虛而風邪乘入脾胃，不能收攝痰飲，激浮而上，塞於咽喉，故漉漉有聲。風氣盛，故耗其津液，不能滋榮筋絡；筋絡燥急，故收斂勁強而口噤也。宜用理氣驅邪之劑。</p>
<p>方：秦艽　陳皮　半夏　茯苓　甘草　烏藥　石菖蒲　前胡　桔梗　香附　薄荷</p>
<p>一人氣稟虛弱，勞役過傷，卒然暈倒，少頃復甦，脈息虛細無力，丹溪所謂氣虛卒倒也。以補氣為主。</p>
<p>方：人參（五錢）　黃耆（一兩）</p>
<p>加薑汁竹瀝。</p>
<p>一婦懷抱鬱結，筋攣骨痛，口眼歪斜，臂難屈伸，痰涎少食，晡熱體倦。此鬱火傷脾，血燥生風也。當以補脾養血為主。</p>
<p>方：人參　白朮　茯苓　棗仁　遠志　歸身　木香　黃耆　丹皮　山梔　圓眼肉　甘草</p>
<p>一人多鬱怒，氣口脈沉結，卒然氣逆上升，口噤直視，身涼無疾涎，須臾即醒，兩脅刺痛，肩臂麻疼，此怒氣傷陰，即中風症也。因年猶少壯，營衛未虛，真水未竭，火畏水，不能上升，故身涼無痰涎；須臾即醒者，水旺足以制火也。先用蘇合丸，以薑汁竹瀝磨灌，後用當歸、白芍、茯苓、甘草、柴胡、丹皮、山梔、青皮等藥。</p>
<p>一人正月初，忽患口角歪斜，右耳及耳根俱痛，右頰浮腫，六脈弦數，此陰分有虧，內熱生風，痰涎為患也。治痰先清火，清火先養陰，最忌風藥燥劑。</p>
<p>方：廣皮　蘇子　天冬　甘菊（各二錢）　貝母（四錢）　連翹（二錢）　花粉　沙參（各三錢）　天麻（一錢）　甘草（一分）</p>
<p>加竹瀝、童便服二劑後，加生地三錢。又隔幾日，加牛膝四錢、黃柏二錢；又隔幾日，去連翹，加石斛二錢半、五味子七分、扁豆二錢、乾葛八分；又隔幾日，去連翹、天麻、葛根、扁豆，加連肉四十粒後，丸方照前出入增減，至五月而全愈。</p>
<p>一宦年近五旬，新得美寵，榮歸祭祖。拜跪間，即仆倒，汗注如雨，渾身壯熱，不省人事。名醫畢集，俱云先用牛黃丸。予後至，診其脈，關尺浮數而空，兩寸透入魚際，此陰虛甚而陽亢極也。因謂病家曰：「毋灌牛黃，灌之立死。」急用生地自然汁一升、人參一兩、麥冬五錢、五味子一百粒，濃煎灌之。至二服後，神氣稍定，汗止。是夜似睡非睡，至五更時，作恐懼狀，如人將捕之；至清晨，又作盛怒狀，罵詈不止；至午間，又大咲一二時；到薄暮，又悲泣。自此夜靜日作，病家以為祟，眾醫束手。予思之，此即。《內經》所謂「五精相併」也。並於腎則恐，並於肝則怒，並於心則喜，並於肺則悲。河間云：平時將息失宜，腎水虛衰，心火亢極。巧顯此症。夜間陰盛，邪乃暫息；日中陽盛，逐遊行五臟而無寧時也。仍用前方減人參之半，自後日間，或但悲聯，或但罵詈，恐懼，人事時省時昧。飲食與之，盡食方止，不與亦不索，大小便通。至半月後，而譫語不作。用調養氣血之劑，至百劑而始愈。</p>
<p>按：腎水衰極，火無所制，而遊並五臟。五更，腎水用事，火併而作恐懼狀；清晨，肝木用事，火併而作悲泣狀也。</p>
<p>一人年未五旬，患中風，耳聾鼻塞，二便不通四肢不逐而厥，語言不出，一有所言即說已故之人，本家先灌牛黃將一錢矣。因延予未至。眾醫謂病家曰：「《經》云：脫陽者見鬼，脫陰者目盲。今口說亡人，目無所見，是見鬼與目盲也。又潔古曰：中腑者著四肢，中臟者滯九竅。今手足不遂，上下秘塞，是腑臟兼中也。且六脈弦數無倫，《脈訣》云：中風之脈浮遲吉。急實大數三魂孤。脈症俱危。」病家急求用藥，同議人參五錢、熟地、附子、肉桂各二錢半。未服而予至，診脈後，備述諸醫之言，予曰：「尊公之脈急數，誠中風所忌，然中按猶覺和緩，是尚有胃氣，非真臟脈也，恐未必即是危症。但所畏者，兩尺重按覺空耳。」予出，謂眾醫曰：「諸公所處之方，誠治本之法，但當上下秘塞之時，補劑恐不能奏效，愚意先通二便，使濁陰降，則清陽上升，而後徐徐議補。《內經》謂：病發而不足，本而標之。先治其標，後治其本。」眾醫曰：「病勢如此，恐不可迂緩。」予以此症搖頭上竄等惡候尚未見，即遲一、二日未死，俟他藥不效而圖之，末晚也。因不與固爭，即辭歸。是夜連灌數劑，俱停積在胸膈間，揉之作聲，略無下腹之意，復來促予診視，舉家泣拜。予診之，脈仍如前，即於袖中出家制神佑丸數十顆，扶開其口納之，令灌以淡薑湯。若此藥下咽，便有治法矣。進薑湯將二鍾，藥便吞下，即灸百會穴，欲使陽氣上升；又灸關元穴，不使陽氣下陷。灸之一、二壯，目即能開，眉頻蹙，予問其痛否？即能點頭，予謂之曰：「忍至七壯，公可生矣。」亦點頭。灸將畢，腹中如雷鳴，予問欲便否？亦點頭。即扶起至便桶，大小便俱通，且垢穢極多，起至床，因有久陰忽霽之意，言曰：「吾腹中已爽塊矣。」少頃，又瀉一行，予令急以前藥倍人參煎候。及又欲便，予令即在床中便之，覺有暈意，以藥徐徐灌之，少頃亦蘇。自此二目，人事漸省，第手足振撣，左半體不遂，於大補氣血中，稍佐以卻風順氣消瘦之劑，如秦艽、全蠍、殭蠶、烏藥、星、半之類，出人加減，調治年餘而愈。此症初起，氣血不足為本，九竅秘塞為標。先通其秘者，急則治其標也；醒後見風症，亦不足為本，風症為標，然專補氣血，少佐風藥者，緩則治其本也。</p>
<p>一人患口喎不正，四肢拘急，已月餘矣，百藥不愈，延至半年，常自汗惡風。予診之，左手浮緊，右手洪緩，此正風客陽明胃經，留而不去，鬱而為熱也，當解散之。病家曰：「發表藥服多矣，小續命湯是也。」予曰：「小續命湯，多半熱補之藥，服之當劇，何能得愈？」病家曰：「發散藥亦服多矣，如麻黃、桂枝、羌獨二活，藥之重者也；輕如防風、白芷、柴胡、乾葛，以至天麻、秦艽、荊芥、薄荷等，無不盡試。」予曰：「宜其不能愈也，此症邪在一經，諸藥雖多發散，然雜而無主，不能專入一經，而各經之無邪者，誅伐無過，徒足以虛其表，而不足以去其病，故反見惡風自汗，而無救於口之歪也。」《經》曰：胃足陽明之脈，挾口環唇，所生病者，口喎唇斜，是知此症，乃陽明胃經之症也。羌活、麻黃等藥，各有專經，即有一二人陽明，眾咻一傳，何以成功？因用葛根五錢、升麻二錢，重劑以逐陽明固結之邪；白芷三錢、殭蠶錢半，以達頭面不正之氣；黃耆錢半、桂枝五分，以固周身疏泄之表；桔梗一錢、甘草五分，載諸藥上行，本乎天者親上之義也。服二劑奏效，數劑全正，後以養榮血、實腠理藥，少佐清熱去痰，調理如故。</p>
<p>一人忽得暴疾如中風，口不能言，目不識人，四肢不舉，投蘇合丸及牛黃丸，毫不甦醒。一醫投以小續命湯，反增喘急，身體壯熱，手足厥逆，舉家驚惶無措。醫者以六脈沉微，擬用附子理中湯，病家求決於予，予診其脈，兩寸似有若無，兩關尺竟無可尋，乃氣壅逆而然，非不足而沉脫也。因謂病家曰：此脈乃伏而不見，非沉溺也。乃從胸按之，眉即為之皺，按至臍腹，體為之舉，若有不可忍狀。細詢得病之因，曰：「因晏客煩冗，無暇飲食，至晚陪客畢，即發此症。」矛曰；「飢極過飽，此食中也。」口不能言，目不識人，脈伏不見，皆由飲食填塞清道所致，四肢不舉，即《經》所謂土太過令人四肢不舉也。若初起一吐，足了此屬，今遲延一、二日，上中下俱受病，當吐下消導並行，以分治其勢。乃先以生薑淡鹽湯灌而探吐，吐出痰涎酸水數碗。一時頃，神思稍清，診其脈，寸關逼逼而來，謂病家曰：「無憂矣。」又以山稜、蓬朮、檳榔、枳實、白蔻仁、木香、陳皮、神麯、萊菔子水煎，分消中焦之痞滿，又以煎藥送潤字丸五錢，下四、五行，由是始知人事，能言語，手足能運動。再診之，關尺俱見，且沉實有力，胸膈滿悶，按之猶痛。又以前方送潤字丸二錢，每日一服。四日後，按之不痛，方與稀粥。胸膈尚痞，時或吐痰，乃以消導二陳湯中，少佐芎、歸以養榮血，參、術以扶胃氣，木香、白蔻仁以寬未盡之痞，旬日而復。夫脈為氣血之先，中焦為氣血水穀之分，食停中脘，則中焦痞塞，痰涎亦因之而壅滯。升降之機不運，故卒倒類乎中風，脈由之隱伏，他醫設投參、附，其不死者幾稀矣。惟棄脈從症，按其肚腹，知為有餘實邪，吐胸膈之痰，而寸關脈應，行肚腹之積，而尺脈立起，豈可謬為投劑哉！</p>
<p>一婦人年及六旬，身體壯盛。正月間，忽患卒倒，不省人事，口噤不開，喉如拽鋸，手足不遂，投牛黃丸二、三顆不效，急煎小續命湯灌之，亦不應。予診六脈浮洪而滑，右手為甚。蓋因平日奉養過厚，今得此病。《內經》云：「凡消癉、擊僕、偏枯、痿厥、氣滿、發逆，肥貴人則膏梁之病也。又《經》曰：土太過，令人四肢不舉，宜其手足之不遂也。丹溪云：濕土生熱痰，痰生熱，熱生風。即此謂矣。當先用子和法湧泄之，乃以稀涎散薺汁調灌，湧出痰涎數碗，少頃，進以三化湯，至晚瀉二、三行，喉聲頓息，口亦能言，但人事不甚省，知上下之障塞已通，而中宮之積滯未去也。用加減消導二陳湯，半夏、陳皮、茯苓、甘草、枳實、黃連、萊菔子、木香、白蔻仁，每日二服。數日後，人事漸爽，腹中知飢，乃進稀粥。但大便猶結，每日以潤字丸五分，白湯點薑汁送下。自此旬日，手足能運而有時拘攣，大便已通而常燥，此湧泄消導之後，血耗無以養筋，津衰無以潤燥也。用四物加秦艽、黃芩、甘草，數十劑而愈。</p>
<p>一人年逾五旬，中風卒倒，牙關緊閉，戴眼上竄，手握而四肢振撣。醫以稀涎散吹鼻，吐出稠痰數碗，繼投小續命湯二劑，反覺口開手撤，眼合遺尿，四肢厥逆，人事昏沉，身體發熱，痰聲如鋸。延予診視，見六脈洪滑而歇至，予以症候危險，辭而作別，其子再三哀懇。矛用陳皮、半夏、茯苓、南星、枳實以導其痰；當歸、川芎、芍藥、薑汁炒生地以養其血；佐以牙皂、薑汁、竹瀝二劑，而痰喘漸輕，六劑而人事清爽，後用參、朮、芎、歸大補氣血而愈。先正云：邪之所湊，其氣必虛。又曰：凡人年過四旬，氣衰之際，乃有此症。又曰：中風大率主血虛有痰，以治痰為先，次養血行血。前症乃虛而有痰，類乎中風，非真中風也。用稀涎散提痰上升，續命湯重虛其表，故見此危症，藥豈輕試乎？</p>
<p>一人年近六旬，身體肥大，家事殷厚，勞心勞力。一日行至門外，見一人如兩人，視一路如兩路，自己門牆，若有兩邊，遂卒然仆倒，扶掖登床，懶於言語。醫者俱以中風治之，投消痰搜風之劑十餘服，反增冷汗如雨，驚惕振撣，昏不知人。邀予診視，左手浮大，按之無神，餘脈俱遲弱而空，現症神識昏沉，不能言語。予思脈症，俱屬虛脫。宜培正氣為主，用人參、黃耆、白朮、茯苓、甘草、當歸、白芍、熟地、天麻、杜仲、牛膝、棗仁等二劑，冷汗即止。五劑乃能識人，語聲始出，七、八劑，諸病頓減。每劑加人參三錢，二十劑而全愈。</p>
<p>一人勞心之後，復感怒氣，次日清晨，篦頭未畢，忽然昏暈，四肢厥冷，口目不開，喉聲如鋸，二便不利，舉家驚駭。予診得左三部弦滑而數，右三部沉實有力。予曰：「此痰厥也」。先用牛黃丸，薑湯化開，加川牛黃一分灌下，連服四、五丸。繼用陳皮、貝母、花粉、膽星、黃芩、黃連、瓜簍、前胡、桔梗、皂莢、薑汁、竹瀝，頓服，使其痰湧發而出，服下果大吐，去稠痰二、三碗，遂以前方去皂莢、陳皮，加青皮二劑，大解二次，其老痰俱從大便出，諸症頓減。後用健脾養血、清火消痰之藥，調理而安。</p>
<p>一人忽然胸腹脹滿，狀似中風，左脅吊痛，痰涎湧塞不快。診其脈，兩手浮大而帶歇止，煩躁不得臥而面赤，余知其平素畏風，而好近內，乃精氣溢下，邪氣上逆也。逆則陰氣在上，故生飧脹；上焦之陽，因下逆之邪所迫，壅塞於上，故脅痛而煩躁。予以二陳湯四錢、加人參三錢、鉤藤四錢、枳實錢半，又加竹瀝，連服二劑，腹中氣轉如牛吼，下痰涎升許而愈。</p>

<h1>瘛瘲章</h1>
<p>一富家兒，病手足瘛瘲，延至二十餘日，轉篤，余診之，左脈洪大，右脈沉弱，似有似無。右屬氣，主氣分大虛，《經》所謂土極似木，亢則害，承乃制。正脾虛為肝所侮而生風也。治風不可，治驚與痰亦不可。法當行氣，氣行而痰自消；兼宜養血，血榮而風自滅。肝病已見，將來必傳脾土，又當實脾，否則恐變慢脾而不救也。</p>
<p>方：人參　黃耆　當歸　白朮　芍藥　黃連　半夏　甘草　肉桂　陳皮　鉤藤</p>
<p>一人中年後，宦子嶺南，□任數月，患手足拘攣，屈伸不利，醫以風濕治之，不效，不遠千里而延予。予見肌肉半削，面貌添黯，憂容可掬，診其脈，左手細數，重按則駛；右手稍和，重按亦弱。詢其病由，答曰：「始因不慎冒寒，發寒熱，覺口苦，筋骨疼痛，服發散藥，寒熱已除，而口苦疼痛不減。至月餘，先左足拘攣，難以屈伸，漸至右足亦然，兩手亦然，手更振撣不息。醫者不外疏風順氣、行氣行血而已。數月前，稍能運動，更振撐，痛不可忍，今雖不移動，幸不振撣疼痛。」予曰：「若不疼痛，大事去矣。」答曰：不移動則不痛，若移動則痠疼。」予曰；「幸矣！尚可藥也，此筋痿症也。兄少年房幃間，曾有思幕而不得遂願否？」答曰：「幼年間，拙荊帶來一婢，有殊色，弟私之，拙荊覺而遠黜，極思想，如醉如癡。半年間，與拙荊房事反縱，後患遺精、白濁，幾半年。至中年此病亦常發。」予又問曰：「兄今陽事如何？」答曰：「久不起矣。」予躍然曰：「兄無怪有此症也。」《內經》曰：肝氣熱則膽泄口普、筋膜乾，筋膜乾則筋急而攣，發為筋痿。帝問：何以得之？伯曰：思想無窮，所願不得，意淫於外，入房太甚，宗筋弛縱，發為筋痿及為白淫。《經》曰：筋痿者，生於疾使內也，兄之病因病症，已宣之千古前矣。蓋思願不遂、遇陰必恣，風寒乘虛入筋骨而不覺，至中年後，血氣衰，寒變為熱，風變為火，消精爍髓，及病發，醫者不溯病源，而徒以風熱藥進，風藥耗血。夫手得血而能握，足得血而能步，血耗無以養筋，筋無所養，又何束骨而利關節。宜其疼痛拘攣屈伸懼廢也。今所幸者，飲食未減，大腸猶實。蓋痰症獨取陽明，陽明則能生氣，此症不難治也。因用當歸、地黃為君；然不補氣無以生血，又用人參、黃耆、自術為臣；丹皮、青蒿、黃柏以清骨髓之熱，山菜、枸杞、牛膝，入肝以為佐；少加羌活、桂枝、秦艽、獨活以為使。又慮非氣血之屬，無以取捷效，乃以紫河車、鹿角、龜板、虎骨，共煎為膏，酒服，每日煎藥二劑，膏藥兩許。數日手足便能運，半月運動不痛，一月而起矣。擇日恭謁方伯，大駭之。</p>
<p>一婦懷妊將七月，忽然兩足痿軟，不能履地，分娩後頓愈，彌月後仍復如是，且胸脅作痛，夜分發熱。醫用四物養血之劑，雜以牛膝、木瓜、虎骨、鹿角膠，出入加減，或愈一日而發，或愈二、三日而發，縱覺全愈，亦無過十日者，因循半年，藥頻投而病仍在。後以脾主四肢，理宜健脾，用人參、白朮等藥，而胸脅脹痛，幾至悶絕。急用調氣之品，脹痛稍寬，而元氣不相接續，懶於言動，自此仍服養血藥品，不進不退，遷延年餘。邀余診治，詢其飲食如常，肌肉如故，足脛浮腫，胸脅揉按則微痛，不揉不按則痞悶，其脈沉緩而滑。予曰：「此濕痰積在胸脅，流入四肢，故病而軟，宜其滋陰不減，補氣更劇矣。」因用二陳湯加蒼朮、威靈仙、黃柏、白芥子，數劑而胸脅痛頓減，夜熱亦除。後去白芥，加薏仁，十劑而步履如故。</p>
<p>按曰：分娩而愈，則非血虛可知，其或愈或不愈者，痰乃流動之物，聚則作痛為痿，行則暫散而愈。第產後補血養血，乃治法之常。由於濕痰流注，乃病情之變，知常知變，方是上工。</p>

<h1>眩暈章</h1>
<p>一人兩尺脈平，右關部滑而力強，餘部緩。乃由血分不足，脾濕動而生痰，痰生熱，熱生風，以致頭暈而耳重聽也。患於左者，屬血虛也。《方論》云：「眩暈者，火動其痰；耳鳴者，水虛火實。洽須益陰血、導濕痰為主。</p>
<p>方：橘紅　半夏　貝母　茯苓　歸身　紅花　石斛　天麻　甘菊　秦艽　知母　生薑</p>
<p>一人五脈浮大，獨左關弦數，眩暈不能開，兀兀欲吐，稍食即嘔出，挾食痰涎苦水，此病在足厥陰經。《脈法》曰：浮而為風，弦數者，火起於肝。《原病式》云：諸風撣眩，皆屬肝木。蓋厥陰之絡，上人吭顙，連目系，出額。營衛衰微，風虛內作，致目系急而瞑不能開，開而旋轉欲吐也。肝移熱於膽，則苦汁上溢。治宜滋陰降火，兼帶抑肝之劑。</p>
<p>方：半夏　廣皮　茯苓　白芍　柴胡　天麻　白朮　藿香　石斛　黃芩　山梔</p>
<p>一人乙亥歲，徇蒙招搖，目瞑耳聾，飧泄食減，忽忽善怒，六脈左強右弱，此歲木太過，風氣流行，中土虛衰，不能提防下氣之逆，則龍雷之火得以震於巔，故頭為旋轉而眩暈。治當溫補脾土，疏泄肝木，庶使賊邪不致猖撅耳。</p>
<p>方：人參　白朮　半夏　茯苓　甘草　陳皮　柴胡　白芍　天麻　桂</p>
<p>一婦久患淋帶，頭作眩暈，腰痛如折，尫羸倦怠，六脈虛澀，當作血虛症治，為血少不能榮肝，肝木根虛安得不動搖耶？宜調其淋帶，眩暈自止，所謂培其本也。</p>
<p>方：白芍　川芎　熟地　樗根　白皮　續斷　甘菊花　白朮　茯苓　牛膝　杜仲　當歸</p>
<p>一人六脈大而帶澀，腰痛精滑，五心煩熱，腦轉耳鳴。腦者，地之所生，故藏陰於目為瞳子，系腎水至陰所主，二者喜靜謐而惡動擾，靜謐則清明內持，動擾則撣搖散亂，此厥陰之火，獨光五邪之變，遂勝克之病作，宜用壯水之劑。若拘氣不歸源，而以丹藥鎮墜、沉香降氣之法，則香竄散氣，丹藥助火，其不歸源之氣，豈能因此而復耶？六味地黃加麥冬、五味、炒黃柏。</p>
<p>一人病愈來幾，面色痿黃，精神倦怠，忽有眩暈之症，兩手脈俱沉緩無力，此屬氣虛生痰，濁氣泛上而致也。當以補中湯加味治之。</p>
<p>方：人參　白朮　茯苓　黃耆　天麻　川芎　甘草　升麻　柴胡</p>
<p>一人壯年，不慎酒色，患眩暈症，雖方藥不輟，終鮮一效。余診之，六脈沉滑，乃上實下虛之候。方書謂：下虛，氣與血也；上實，痰與火也。此因房勞致虛，濕痰滯於上，陰火起於下，痰挾虛火上衝頭目，正氣不能勝敵，所謂無痰不作眩是也。治宣清痰降火，兼補虛為主。</p>
<p>方：黃芩　山梔　白朮　茯苓　半夏　天麻　甘菊　黃柏　旋覆花</p>
<p>一人眩暈，脈來弦數相兼，此水虧火旺。洽當補腎益肝，使腎不虛而水自升，肝不實而火自降，水火既濟，陰陽定位，復何眩暈之有？</p>
<p>方：片苓　山梔　甘菊　川芎　當歸　白芍　生地　天麻</p>
<p>一人久衄復眩暈，脈來虛數，此由陰血虧損，肝家不能收攝營氣，孤陽飛越而成此恙也。法當養陰和血為主。</p>
<p>方：川芎　白芍　熟地　人參　當歸　丹皮　荊芥　炮姜　童便</p>
<p>一人色欲太過，旬日內必眩暈幾次，晡熱盜汗，脈來兩尺奔逆而上，所以眩暈不寧也。治當壯水之主，兼補氣藥佐之。六味地黃丸加人參、五味、麥冬。</p>
<p>一人過於勞役，頭眩體痛，腰痠耳嗚，在尺脈獨盛。《經》日：三焦、命門為生化之源。此勞傷元氣，陽邪下陷，三焦、命門火動之候也。法當補中益氣為主。</p>
<p>方：人參　黃耆　白朮　當歸　升麻　柴胡　甘草　蔓荊　黃柏炒　天麻</p>
<p>一人不時眉稜骨痠疼，心嘈怔忡，頭目眩暈，脈來沉滑，此由七情所傷，氣鬱生涎，涎隨氣而上升，即有種種之恙矣。治宜導痰解鬱，更須戒怒節勞，庶或有效於服藥耳。</p>
<p>方：橘紅　撫芎　香附　天麻　蔓荊子　黃芩　半夏　薑製　南星</p>
<p>一人夏月冒暑勞形，煩悶口渴，頭眩不寧，脈息俱虛而細，此屬傷暑症。先進六一散一服，以祛暑氣；人參、麥冬、五味子、黃柏以補虛生津；更佐甘菊以清利頭目。</p>
<p>一人嗜欲無度，年雖未邁，向有耳鳴腰痛、頭重目眩諸症。《靈樞經》云：腦為髓海，髓海有餘，則輕勁有力。欲過不禁，髓海有虧則眩冒脛酸。要之眩暈實由色欲過度，精虛腦空而成也。精不足者補之以味，宜大補腎元，六昧地黃丸加麥冬、五味。</p>
<p>一人眩暈，右寸關脈大而無力，此乃氣虛挾痰，丹溪云：眩暈為中風之漸。不可不預培氣血。遠色戒酒，以六君子湯加天麻、甘菊、當歸。</p>
<p>一人黑瘦，善食易飢，脈來弦數，患頭眩欲僕，此腎水不足，相火上炎，所謂風勝則地動，火得風則焰炎而上也。</p>
<p>方：甘菊　薄荷　貝母　橘紅　白芍　當歸　生地　黃芩　山梔</p>
<p>一人因冒雨中濕，嘔逆頭暈，脈息沉細。丹溪所謂濕土生痰，壅塞清道，濁氣上升也。宜用二朮、厚朴、半夏、廣皮、藿香、茯苓平胃而燥濕，川芎、藁本、天麻勝濕以祛痰。</p>
<p>一人荒於酒色，復傷勞怒，輒暈倒不知，痰涎上壅，脈息洪而無力。此腎虛不能納氣，陽獨居上。故作頭眩；又不能攝水，飲停於中，故化而為痰。遂用補中益氣湯，倍參、耆以補不足之氣；六味地黃，加五味以收耗散之精，此治本之論也。若不揣病機，慢用清氣化痰，為害甚矣。</p>
<p>一人病已半年，先因房勞汗出，及又傷食，醫用消導藥，後乃夢遺頭暈，自用人參，服後稍安。自此每日五錢，或日過一兩服，至數斤。其病自汗身熱，咳血痰逆，胸膈不舒，心口如物窒礙，手足時厥，頭常眩暈。眼或昏閹，或不見人，大便已六日不行。每頭暈時，以人參湯服之，則稍止，舉家不安。予診其脈，右氣口脈弦，似滑而有力，關亦然；左寸關浮弦似虛，尺濡弱。原因肝有拂鬱，勞思過度，偶以色事致虛，人參已中病，不能節制，以致過服益陽太過，變成熱火，觸動積痰，膠固於脾胃，逐致熱結幽門，火逆上行，而動血動痰，寢臥不安，亦勢使然也。其室中團圍障蔽，務為持靜，重□疊褥，怕帽里頭，厚綿著身，非常惡寒，汗每易泄。先令撤去重圍，漸減綿褥，使習見習聞，皆如平日。即以潤字丸三錢服之，外施蜜導法，去其宿糞盆許，用人參、歸身、遠志、棗仁各一錢，山梔、茯神、芍藥各一錢三分，香附子二錢，生甘草三分，入竹瀝一鍾，一帖即胸次開豁，夜即寐。其病人自言平日服香附燥熱，今服之而但然，豈公之監製合宜耶？自此，每日煎藥一帖，潤字丸數十粒，便潤汗出，咳嗽痰血漸減，十劑而安。</p>
<p>一婦向有頭眩之症，坐月中，更余就寢，因日間作勞煩悶，是晚飲酒數杯，臥時便覺身熱，至清晨櫛沐，忽眼黑頭旋，且微痛，如在風雲中，比平時更劇。延醫診視，不告以日間作勞及生之故，但言平日頭眩，片時即止，不甚為害，今番一日夜矣。且更痛難忍，欲急療之，醫謂脈得浮數，此熱極生風也。遂用芩、連、山梔以清之。二劑，眩暈不減，而頭痛如破，上半體如火之熱，而欲厚復。醫以無痰不作眩，再以清火之藥，合二陳湯，投二劑，亦不效。予診其脈，左手浮弦而緊，右手浮數而弱，且寸強尺微，右脈乃正氣之虛，左脈乃邪氣之實，尺微寸強，邪在上也。此必乘虛感邪，中於上焦所致也。因細詢之，始得所以發病之由。予曰：《靈樞經》云：筋脈血氣之精，而與脈併為目系，上屬於腦，後出於項中。故邪中於項，因逢其人之虛，其入深則隨眼系已入於腦，入於腦則腦轉，腦轉則引目系急，目系急則目眩以轉矣。今夫人作勞以致煩悶，可不調非虛乎？月下坐至更余，頭項之間能不為霧露之清邪所中乎？法當驅上焦之邪，補中焦之氣，而徐議清痰清火，則自愈矣。先用參蘇飲，加藁本。二劑，頭痛先止，而眩暈亦稍差；再以補中益氣，佐二陳、苓、連，數劑而安。</p>
<p>一兒忽然兩目黑眩，不省人事，少頃如故。此腎水不足，不能納氣歸元，使諸氣逆奔而上。宜益氣補腎，兼消疾火。病退。</p>
<p>方：人參　山茱　山梔　山藥　白朮　茯苓　陳皮　半夏　甘菊　黃連（姜炒）　生薑</p>
<p>一女年十七，心火炎上，因而作咳，四肢倦怠，眼目昏花。宜用陳皮、枳殼、黃芩、前胡、山梔、半夏、黃連、麥冬、花粉。</p>
<p>一兒身軀肥壯，讀書有勞，便見眩暈，噁心作嘔，此火動其痰。因素嗜食肉，今後宜少食豬肉，以清其沖和之氣，而佐以清火消痰之劑。</p>
<p>方：橘紅　山楂　半夏　黃連（薑製）　山梔　茯苓　麥芽</p>
<p>一兒內熱雖減，飲食不進，兩尺脈洪大而虛，乃相火妄動，坎離不交之故。宜降火滋陰，兼扶脾土為主。</p>
<p>方：黃柏　知母　麥芽　地骨皮　生地　白芍　廣皮　黃連　甘草　秦艽　當歸</p>

<h2>驚悸補瀉兼施治法</h2>
<p>一人患驚悸三月矣，聞響則驚，遇夜則恐，恐甚即上屋逾牆，旋食旋飢，口啖飯十數盂，咸為心偏神失。用補心湯，病滋甚。一日求予診視，其右關脈洪數無倫，兩尺浮大，按之極濡，病得之酒且內，腎水枯竭，客熱犯胃。《內經》曰：腎主恐。又曰：胃熱亦令人恐。又曰：胃熱則消食易機。又曰：陽明病，聞木音則惕。然若驚，病甚則逾牆上屋。汝病在胃與腎。脾合胃，心屬火，是脾之母也。補心則胃益實，火盛則水益涸，無怪乎藥之而病反甚也。但病本在腎，標在胃，當先治其標，用瀉黃湯；後治其本，用腎氣丸。一病而寒熱並用，一人而補瀉兼施，得毋訝我前後之迥別乎？第服瀉黃湯三日，當不飢矣；服腎氣丸十日，當不恐矣。已而果服之，獲痊。</p>

<h1>虛損章</h1>
<p>一人病發熱，惡風自汗，出言懶怯，服表藥而熱益增，六脈沉細而微數。沉為里病，微數為五志之火內煽，語言輕微，為中氣之虛，種種皆內傷諦也。不可誤汗、宜投補劑。《經》曰：損者溫之。</p>
<p>方：人參（八分）　黃耆（一錢）　炙草（五分）　白朮（七分）　廣皮（五分）　柴胡（三分）　當歸（七分）　白芍（七分）</p>
<p>一人血氣方剛，不慎酒色，復因勞怒。頭暈痰湧，手足麻痹，口乾引飲，六脈洪數而虛。此腎元虧損，不能納氣而頭暈；水冷不能歸源而痰湧。麻痹，乃陽氣虛然；作渴，乃虛火上炎。宜服六味丸補陰，而諸症自愈矣。</p>
<p>一儒素因勞苦，飲食失節，便血赤黯。半載之後，非便血則盜汗，非惡寒則發熱。血汗二藥，用之罔效。六脈浮大，心脾則澀。《經》曰：心之液為汗。又曰：陰絡傷則後血。此心脾受傷，不能統血，汗血更迭而來，火之升降微甚耳。惡寒發熱，氣血俱虛也。法當補生化之源，收耗散之液。</p>
<p>方：麥冬　五味　人參　黃耆　白朮　甘草　茯苓　遠志　棗仁　龍眼肉</p>
<p>一人日晡微熱，至晚身涼，以手捫肌，仍有微熱，更兼汁出咳嗽，已一月矣。脈脾、腎、肝三部弦數。此屬勞傷，損耗脾腎之陰，恚怒擾動厥陰肝之火，以致血虛生火，火生燥而汗出咳嗽、骨蒸潮熱之恙作矣。速宜養陰抑陽，遠房幃，節勞役，床不至日甚耳。</p>
<p>方：柴胡　廣皮　鱉甲　歸身　黃芩　麥冬　紫菀　骨皮　秦艽</p>
<p>一人素稟不足，近為寒熱內熱，飲食減少，四肢乏力，腹中不舒，脈息六部皆小而無神。須懲忿窒欲以修身，勝於藥石多矣。</p>
<p>方：秦艽　人參　陳皮　白豆蔻　白芍　山藥　茯苓　山楂　骨皮</p>
<p>一人吐血鼻衄，咳嗽有痰，脾肺部脈沉數，此思傷脾，憂傷肺，及遇勞傷形，怯弱之徵也。</p>
<p>方：陳皮　生地　杜仲　麥冬　貝母　知母　山藥　黃柏</p>
<p>一人六脈洪數無力，煩熱頭疼，少食勞倦。叔和云：洪數為邪火甚，無力為精氣傷。此症雖為真陰虧損，而陽氣偏盛，故煩熱頭疼，少食勞倦也。不可過用苦寒，當溫中健土，滋養腎陰，調其飲食，適其寒溫。</p>
<p>方：白朮　茯苓　山藥　白芍　陳皮　骨皮　麥冬　石斛　秦艽　知母</p>
<p>一人倦怠氣弱，口乾畏寒，肌肉甲錯，脈來遲緩，右寸尤甚。《脈法》云；遲則為寒，緩則為虛。此憂思過度，肺氣受傷之症也。肺主氣，虛則氣怯；氣為陽，陽虛則惡寒，肺主皮毛，虛則無津液充澤肌膚。氣有餘則物潤澤，氣不足則無以化液，故令口乾；氣壯則強，氣餒則弱，肺氣既虛，則怠倦矣。《經》曰：損其肺者，益其氣。宜健脾以調母，所謂虛則補其母也。</p>
<p>方：人參　白朮　茯苓　甘草　肉桂　黃耆</p>
<p>一人少年醉飽使內，兩尺虛數，右關浮大，中脘作痛，小腹急脹，小便不利。此症在脾腎兩經也。書云：精傷則脈數，血傷則脈虛，脾傷則中脘作痛，腎傷則小腹急脹、小便不利。速當調氣活血，俟其痛止氣和，方可議補。</p>
<p>方：山楂　厚朴　神麯　麥芽　廣皮　白朮　茯苓　通草　白芍　甘草　紅花</p>
<p>一人向多郁，心胸飽悶，手足心熱，小便黃赤。診之脈洪數，更覺倦怠，精神不守，四肢不固。此乃內傷之症，挾熱鬱於內而發者也。當補中益氣，兼清郁之藥。</p>
<p>方：人參　黃耆　白朮　柴胡　升麻　陳皮　乾葛　甘草　當歸　白芍</p>
<p>一人肥白多痰，右寸脈滋弦，氣高而喘，面色焦煩，肢體痠疼，頭運貪臥。此勞傷元氣，上焦有火，膈下有痰，乃痰為本，而內傷為標也。當先治其標，而後治其本。</p>
<p>方：半夏　茯苓　陳皮　甘草　石斛　白朮　黃耆　花粉</p>
<p>一人病餘，遇適口之味，過於饜飫，其脈氣口滑大，其症脹滿肩息，懶於言語惡食溏泄，日漸瘦弱，面色黧黑。此是脾勞肉極之病，種種俱三陰經受傷也。宜補少火之氣以生土，土旺則金盛，水生木得其平，而五臟咸利矣。</p>
<p>方：木香　藿香　益智　白豆蔻　人參　白朮　黃耆　遠志　棗仁　茯苓　炙甘草</p>
<p>愚按：滑為氣壅，右寸氣口大於人迎一倍者，為內傷飲食之脈，脾主行氣於三陰。脾勞，則三陰之氣皆壅塞不通，故令脹滿；三陰之氣，至胸而還，故令肩息；中氣不足，懶於言語；脾主肌肉，虛則尫贏；惡食者，脾虛不足以運化也；搪泄者，脾弱不能以制濕也。陽明脈衰於上，則面始焦。</p>
<p>一少年自恃富厚，耽於酒色，五心煩熱，晡時尤甚，咳嗽多疾，夢泄盜汗，脈來弦數。此為精竭血虛，火盛水虧之症。速宜清心寡慾，庶使水升火降。</p>
<p>方：橘紅　麥冬　棗仁　茯神　知母　貝母　白芍　骨皮　紫菀　甘草</p>
<p>一人陰虛發熱，咳嗽吐痰脈息虛數，屢進四物、知、柏降火滋陰，反致胸膈飽悶，飲食減少。殊不知地黃泥膈，妨礙飲食；川芎上竄，能動火炎；知、柏性寒，大損胃氣。余以百合、麥冬、五味、骨皮、杏仁、貝母、米仁等味煎膏，間飲童便降火，諸症減半。</p>
<p>一人左手虛數，兩尺虛澀、有眩運、夢泄、滑精諸恙，此係腎陰不足。腎臟一虧，氣無所藏，氣不足以攝精，故潤下遺滑；水不足以制火，故炎上而眩暈。此坎離不交之故，宜寡欲以固元精，卻勞以保母氣。若徒事藥石，則末也。</p>
<p>方：當歸　白芍　生地　麥冬　山藥　知母　玄參　甘菊　天麻　茯神　棗仁</p>
<p>一人食冷物作泄一時負重遠行，以致腰痛如折，難以任勞，腹中作響，飲食少進，脈澀而弱。中氣不足也，即勞倦傷，為不足之症。</p>
<p>方：白朮　蒼朮　人參　黃耆　當歸　山藥　澤瀉　加皮　杜仲　米仁</p>
<p>一人性多憂慮，苦驚喜忘，不寐多汗，遺精溲赤，咳嗽吐血，咽痛口瘡，左脈大而芤，左手屬血，《脈訣》云：脈大而芤者，為脫血。《經》云：憂愁思慮，曲運神機，則傷心。此為心血不足，天君不寧之症。天五補心丹主之。</p>
<p>方：人參　白苓　玄參　丹參　遠志　桔梗（各五錢）　五味　當歸　天冬　麥冬　柏子仁　棗仁（各一兩）　生地（四兩）</p>
<p>愚按：心為君火主脈，過勞其心，則火妄動，而脈湧溢。血越竅而出也。火者，金之所畏，心移熱於肺，故令咳嗽；心與小腸為表裡，心移熱於小腸，故令溲赤；心主血，在內為血，發外即為汗，虛則開踖失司，故令溢出。四體，心之脈，繫於舌本，咽痛口瘡，皆虛陽之內灼；心為神室，虛則邪氣襲之，故若驚喜忘；心血不足，則心系急引，神無所依，臥而不得瞑也。道家以精譬汞，神譬火，火發則汞飛，陽動於中，精搖於外，亦就是也。</p>
<p>一人六脈弦而大，左手獨甚，症見面青轉筋，爪甲痛、善恐，精神不守，眩暈目昏，脅痛口苦，不能久立。此為肝傷筋極之候。宜用六味丸，加枸杞、五加皮之類。古人謂：腎肝之病同一治。所謂虛則補其母也。</p>
<p>愚按：肝者，將軍之官，謀慮出焉。因謀而不決拂而數怒，久久則傷其肝，東方之色也，病則色徵於面矣。轉筋者，肝主筋，筋竭律液則失其潤養，而作勁急也。爪甲痛者，爪乃筋之餘也。筋屬木，木板而金承之也。不能久立者，筋虛不能束骨也。《經》曰：諸風掉眩，皆屬肝木。又曰：踧蒙招搖，目眩耳聾，下虛上實，過在足少陽厥陰，甚則入肝。眼為肝之竅，得血而能視，今肝傷少血，故目昏；脅乃肝之區，謀慮不決，則正氣凝結，故脅痛。肝移熱於俯，膽汁上溢而口苦；肝藏魂，肝勞則邪居之，故令精神不守而恐。</p>
<p>一人穉年，天真早虧，兩尺微澀，寸口近駛，背難俯仰，小腹裡急，小便赤澀，溺後餘瀝，囊濕生瘡，腰痛氣短，齒齲下冷。此嗜欲精傷。腎勞之症也。治宜壯水之主，以制陽光；固精健脾，以滋化源。</p>
<p>愚按：五臟皆有精，惟腎為藏精之都會，靜則精藏，躁則消亡矣。夫精主封填骨髓，精以入房而竭，骨髓空虛是以背難俯仰；腰為腎府，腎傷而腰亦痛也。前陰者，腎之竅，腎氣足則能管攝而溲溺，腎氣怯則欲便而不利，既便而有餘瀝，皆因腎虛而失其開闔之常也。腎者，水臟，傳化失宜，則水氣留之而生濕熱，故令囊濕生瘡；小腹裡急者，乃真水桔而火無制，故灼小腹筋膜而作裡急也。齒乃腎之標，為骨之餘，骨賴髓養，故精固則齒堅，腎衰則齒齲。短氣者，以呼出心與肺，吸入腎與肝，腎傷則吸自微。陰並於下，陽格於上，所以下冷也。</p>
<p>一人病怔忡善忘，口淡舌燥，多汗，四肢疲軟，發熱，小便白濁，脈息虛大而數。此由思慮過度，厥陰之火為患，且養心以寧神，和肝以清熱。</p>
<p>方：茯神　棗仁　遠志　熟地　麥冬　黃柏　杜仲　骨皮　甘草</p>
<p>一人咳嗽少痰，脈常微數，陰分有虧之象，用六味丸，加麥冬、五味，治驗。</p>
<p>一人日晡不時熱，陰虛而陽不能制也。耳鳴頭暈，虛火有升無降也。午後飲食作脹，脾虛不能運也。交半夜不能寐，心血大虛也。容易感風，腠理不密也。總之營衛兩不足，況兼脾胃不實，下部作腫。與健脾扶正氣。則氣血自旺，而諸症退舍矣。</p>
<p>方：茯神（一錢）　白朮（一錢二分土炒）　廣皮（八分）　人參（一錢）　砂仁（一錢焙研）　棗仁（一錢炒）　杜仲（一錢四分鹽水炒）　山藥（一錢）　續斷（一錢酒炒）　白芍（一錢醋炒）　丹參（一錢）</p>
<p>一婦外怕寒，內怕熱，整夜不睡，將及四月矣。近來面色浮腫，飲食少進，又且噁心，有作酸意，手足瘦弱，面部及下部俱虛腫，大小便如常，六脈浮數無力。此陰陽兩虛，禁用寒涼等劑。</p>
<p>方：廣皮　半夏　黃連　茯神　棗仁　藿香　木香　白朮　芍藥　人參　益智</p>
<p>調理丸方用腎氣丸。</p>
<p>一婦人病上盛下虛，乃火有餘而經水不足也。火不歸元，則火浮散於上，為咳血，為痰嗽發熱，為眩暈頭痛，而上盛之症日見矣。氣不歸經，則氣無所主，精血不生為腰痛骨疼之弱或冷或腫，或經不調，或精氣滑，而下虛之症日增矣。總屬陽旺陰虛，切不可用寒涼之劑。如刻下身熱咳嗽，頭疼骨痛，俱屬陰虛發熱之症。須究根究本，堅固其精氣，快暢其胸臆，永無上不足之症。</p>
<p>方：萸肉　熟地　乾薑炒黑　甘草炙　人參　黃耆　牛膝　白朮　補骨脂　益智　茯苓　山藥　苡仁</p>
<p>一人潮熱，咳嗽盜汗，左右脈俱帶數而滑，總屬陰分有虧之象。須戒怒塞欲，病源不致日增。先服煎劑以治其標，後服丸方以治其本。</p>
<p>方：麥冬　五味　桑皮　骨皮　知母　銀柴胡　熟地　白芍　貝母　甘草</p>
<p>丸方：六味加麥冬、五味。</p>
<p>一人因糙糧船勞頓，患頭痛身熱，滿身疼痛，惡食，狀似傷寒。至數日後，予診之，右手寸關浮大，重按少力，左脈微弱。此症雖外感而得，實系平日飢飽失時，勞役過度，元氣內傷，而致外邪易於湊之耳。不可誤用汗、下等劑。且見痰氣上升，不省人事，先以活絡丹一丸進之，利其關竅。至晚，痰降安睡，明日身涼，遍體疼痛亦減，遂以六君子湯加減施治。</p>
<p>方：人參　白朮　茯苓　甘草　廣皮　半夏　白芍　藿香　煨姜</p>
<p>一人細診其脈，肺部細小無力，肝部重按少神。肺病，則失降下之令，肺主氣也；肝病，則火無所滋，而心家亦受其損，為其本能生火，母病而子亦病，並其脾上亦傷之極矣。要之一身之中，以氣為主，三部受病，而兼向來腎家不足，自然不能納氣歸元，致有種種異症。曾服煎劑以治其標，今複製七味丸以治其本。</p>
<p>方：熟地（八兩）　萸肉　山藥（各四兩）　丹皮　茯苓　澤瀉（各三兩）　肉桂（一兩）</p>
<p>有升無降者，火也，氣也。六味加桂，未能奏績，還應從腎氣丸治之。但附子未應驟加，只須地黃加桂、牛膝、車前為得。</p>
<p>己卯蹐月底，次兒在東土，發熱不止，不省人事，晝夜不睡，舌如芒刺，兩手撮空，摸床尋衣，譫語不歇，目赤面紅，下部周身按之痛楚難動。如此三、四日，始入城報知，急下鄉看之，病形純似陽症。細診其脈，浮而無力，重按全無，乃陰症似陽病。急以補中益氣，加桂、參、耆，每味止一錢。服之前症更甚，急以歸脾湯，加參六錢、桂五分。半夜照前加參六錢，天明又以補中益氣加參六錢，漸覺安妥，略能睡去，然譫語終未歇。非譫語，乃鄭聲也，譫則屬陽，鄭則屬陰故耳。但遍體筋骨疼痛，急服活絡丹一丸，身上痛止，熱亦漸涼，神氣頓覺清爽矣。三日後，滿身發水泡如珠，從前之風濕，庶幾稍解。而二十餘日大便不利，一解之後，又復大瀉不已。仍朝用補中益氣，而投以八味丸，夜用歸脾，而亦投以八味丸，如此調理兩月餘，始得起身。嗟乎！此等症，若誤認外感，以汗藥發其表，寒藥涼其肌，必殆無疑矣。醒後細審其因，值大寒時，空腹遠行，兼之惱怒，乃因內傷真氣，勞動筋骨，攪亂心胸，陰陽兩傷也。如再遲屬不治矣。</p>
<p>下保金預章病原：夫火有二，有君火，有相火。君火，即五行之火，乃燎原之火也；相火，即龍雷之火，得溫則炳，遇水則燔。若不識其性，而以水折之，以濕攻之，適足以光焰燭天矣。蓋相火寄體於肝腎之間，即小腹下之左，亦旁及於右，乃水中之火，故曰龍雷之火，不可以寒涼治。《內經》所謂君火正治，相火反攻是也。正治而用清火之劑，人人知之；反攻而用溫補，病人不肯用，醫人不能用，即肉桂、附子是也。此二味，原與相火司氣，直入肝腎之中，據其窟宅而引之歸原耳。今尊恙，氣從小腹之下，直奔於上，此腎虛不能納氣歸元也。氣不歸，則精不攝，而夢泄之病屢至矣。氣既不歸元，則脾土無所滋養，而脾胃之氣不生，脾胃之氣不生，則五臟之氣不至，五臟之氣不至，則無根之火浮散無定，所以四肢痠軟，不能履地。虛火攻衝，延及於心包絡，則恍惚飄蕩無主，所以不寐而畏聲響。胃家雖能納食，止助陰質之濁氣，濁氣愈旺，則陽氣愈加浮散而發熱。內外上下飛越無定，元氣反為盜去，所以懶怯而口不能重語。怕寒而身不能出幃鮓，所以日漸痿瘦，久臥床褥，而不能舉步履地矣。《內經》曰：天無此火，不能生萬物；人無此火，不能有生。正指龍雷之火，即水中之火也。今以八味丸，用以補水中之火，（早上用參三錢）正所謂補天真之火；又以六君子湯加桂、附，以補中州之母氣（日間用參三錢），兼以補脾土之困。每日兩劑，則腎自歸經，火自歸元。比之春氣一回，遍地陽和，萬物自能生長。安得復疹頓於床褥間耶？若云桂、附助邪火，參、術滯邪熱。愚不得而知也。在高明者，自能辨之。</p>
<p>一友三十四歲，為七情所傷，遂致脾氣不實。此胃強脾弱，不足之症已成。必須氣血兼補。</p>
<p>方：山藥　杜仲　茯苓　枸杞　甘草　白芍　山茱萸　熟地　五味　白朮　人參　當歸　腹皮　補骨脂</p>
<p>一人小便淋漓，五年餘矣，此平時醉飽房勞之故也。近復感冒傷食，乍寒乍熱，五、六日不止，左右脈浮而帶數，兩尺重按無力，而右尺更甚，《內經》所謂倏忽往來，時作時止，責其無火，晝見夜伏，夜見晝伏，責其無水。又曰：陰虛生熱，陽虛生寒。總屬陰陽兩虛症。又云：膀胱為津液之府，氣化則能出。小水不利，正因精氣虧損，不能運化津液所致耳。水虧，宜壯水之主；陽虛，宜益火之原；陽氣下陷，中氣受損，宜升之補之。空心用補中益氣加減，培其中州；上下午以腎氣丸，調其水火。如小水不利，暫用滋腎丸一、二錢，黃柏、知母各一兩，肉桂五分。</p>
<p>夫腎主二便，開竅於二陰，此腎氣一弱，二便為之不利。治宜滋腎化源為主，法當用六味丸服之，久久自愈。平時用冷水而爽快者，為因自己之真水不足，故藉外水以相濟耳。六味丸加黃柏二兩，敗龜板三兩。</p>
<p>一人心經有火上炎，致兩眥作楚，自覺無光，正《內經》所謂大明勝則小明減，邪害孔竅是也。丸劑須補心丹加減，臨臥時服之，更用地黃丸加味，早上頻復，自然奏效。</p>
<p>天王補心丹加減：茯神　遠志　柏子仁　黃連　甘草　丹參　玄參　生地　芍藥　石菖蒲　麥冬　甘菊　人參</p>
<p>水二鍾，生薑一小片，煎五分，臨睡時服。若欲制丸，即以十帖料為末，煉蜜丸，硃砂為衣，每服二錢，或酒或白湯送下。</p>
<p>六味丸加味：甘菊（二兩）　枸杞（二兩）　五味子（一兩）　麥冬（二兩）</p>
<p>一人虛寒之極，則肛門脫出。應服溫補實脾之劑。</p>
<p>方：人參（一兩）　白朮（二兩）　白芍（一兩半）　五味（一兩）　訶子肉（一兩）　楂肉（一兩）　山藥（一兩半）　升麻（一兩）　茯苓（一兩）</p>
<p>共為細木，米糊為丸，白湯化下，空心服。</p>
<p>一人六脈浮數，按之豁然，此病後脾氣大虛，脾氣一虛則肺金先損，蓋土不能生金也。脾虛則不能攝涎，肺燥則多咳嗽，況脾濕動而生痰，令人亦咳。治須大補中氣，中氣旺則肺自安，不必治咳，而咳自安矣。</p>
<p>方：人參（一錢）　黃耆（一錢蜜炙）　橘紅（一錢）　白朮（一錢半土炒）　當歸（一錢酒炒）　甘草（三分炙）　升麻（五分）　柴胡（六分）　麥冬（一錢去心）　五味（十二粒研）　益智（一錢去殼鹽水炒研）</p>
<p>一人左脈微細，為陰血不足；右脈細數，為陰虛火動。病勢既重，且當君火司天，又值火令，水不能制火，則金被火爍，咳嗽日甚矣。宜生脈散加味。</p>
<p>方：人參（二錢）　五味（十一粒研）　麥冬（二錢去心）　知母（一錢）　白芍（一錢酒炒）　山藥（錢半）　百合（錢半）　橘紅（一錢）　甘草（三分）　粟殼（一錢蜜炙）　當歸（一錢）</p>
<p>一人左手脈帶細小，此真氣有虧；右手弦數，此脾肺二經受損。當壯火爍金之歲，又值心火刑肺之季，若非保肺健脾，何能有濟？急須參、術等煎劑，以治其本，更用地黃丸加味，以滋化源。扶過六、七月，漸入佳境矣。</p>
<p>方：人參　麥冬（一錢去心）　五味（九粒）　白朮（一錢）　橘紅（一錢）　貝母（一錢）　茯苓（一錢）　山藥（一錢）　苡仁（二錢）　款冬（一錢）</p>
<p>噙化丸加減：真柿霜（一兩）　玉露霜（一兩）　薄荷葉（四錢）　烏梅肉（二兩另搗）　硼砂（二錢）　貝母（一兩）　桔梗（三錢）　訶子肉（五錢）　甘草（二錢）</p>
<p>共為細末，先將烏梅蒸熟，搗入藥末內，然後加白糖霜四兩，共搗為丸，不時噙化。</p>
<p>地黃丸加五味子一兩，麥冬二兩。</p>
<p>一友脈數而帶澀，獨肺部無力如絲，數為內熱，澀為血虛，因久熱未已，遂成咳而潮熱。總屬陰分有傷，衛氣無損之恙。先要滋陰清肺，陰得滋養則身熱自愈，肺得清化，則咳嗽自平。</p>
<p>方：橘紅　生地　麥冬　天冬　知母　柴胡　牡丹皮　骨皮　秦艽　丹參　甘草　玄參　貝母　加生薑</p>
<p>柴胡、秦艽，風藥也。熱極生風，骨蒸潮熱，非此不能引邪從毫竅而出。上二味，凡骨蒸潮熱者，必以知母、地骨皮而兼用之。服前方四、五劑，宜服後方數劑。</p>
<p>方：北五味（四分）　廣皮（八分）　知母（八分）　銀柴胡（八分）　當歸（八分）　貝母（一錢）　麥冬（一錢）　熟地（二錢）　白芍（一錢）　紫菀（一錢）　骨皮（一錢）　蘇子（一錢炒）　人參（一錢）</p>
<p>十二月十四日復診之，脈數已減，重按有神，病減去十之六。第脈猶帶澀而微，則血分尚虛，脾氣尚弱，肺部尚有虛痰也。</p>
<p>方：熟地（二錢）　白芍（二錢二分）　人參（一錢）　貝母（一錢半）　陳皮　白朮　茯苓（各八分）　白蔻（一錢研）　北五味（九粒）　麥冬（九分）　甘草（一分）</p>
<p>丸方：當歸（三兩）　知母　丹皮　茯神　棗仁　丹參（各二兩）　杜仲（三兩）　熟地（四兩）　橘紅　半夏（各二兩）　山萸　山藥（各三兩）　續斷（二兩）　為末，密丸，白湯空心送下，如勞倦用人參湯送下。</p>
<p>一人左手關部脈狀如爛綿，重按無力而芤，右手寸部帶數，重按亦少神，脾部則中實。總屬肝血不足，肺金受火，脾有濕痰，所謂陰分有傷，衛氣無損。為今之汁，仍要滋陰清肺，少佐以治痰之藥。滋陰則肝得其養，筋絡舒而血自歸經；清肺則痰嗽平而吐紅自愈。第要戒勞怒，禁用寒涼，及一切乾燥之物。</p>
<p>方：白朮（八分）　歸身（一錢）　茯神（八分）　遠志（一錢）　生地（二錢）　紫菀（一錢二分）　知母（一錢二分）　橘紅（八分）　貝母（一錢）　五味（九粒）　鬱金（八分）　人參（一錢）　加烏梅肉（二個）　柏葉一錢。</p>
<p>因向來不足，兼項下有瘡，環跳作痛，近復咳血，狀如咯血，皆系肝氣受傷也。此血不禁，但日後不可惱怒耳。</p>
<p>方：橘紅　茯神　麥冬　青木香（各一錢，即馬兜鈴根，不可用木香）　丹皮（二錢）　牛膝（一錢半）　生地（二錢）　貝母（一錢半）</p>
<p>正月十一日復診：六脈如前，環跳作痛稍減，咳血已除，今復胸膈不寬，每日晡則熱多寒少，正《內經》所謂陰虛生內熱，陽虛生外寒。大為可慮，第一要戒勞煩惱為吃緊，前方大都近補中益氣湯加減，暫複數劑。</p>
<p>正月甘一日又診，復因胸膈不寬，加芍藥、枳殼。</p>
<p>一人診得六脈雖見微數，但重按少力，此正氣虛而精血少也。目今咳嗽身熱，而脾胃欠實，不能多進飲食，但系肝木乘脾、脾土受制，則肺失所養，所以嗽未止，觸之則發，母病而子亦病矣。肺金既無所滋，則自然虛耗。治法宜保中州之土，滋腎中之陰，土壯則萬物自能生旺，陰長則心火自能下降。痰自然不生，嗽不治而自愈，熱不清而自除矣。</p>
<p>方：人參（二錢）　白朮（錢半土炒）　北五味（四分）　白芍（二錢炒）　山芍（錢半）　茯苓（錢半）　苡仁（二錢炒）　橘紅（一錢）　款花（錢半）　半夏（一錢）</p>
<p>加生薑三片，空心服，如丸方，即以此煎膏可也。</p>
<p>方：杜仲（二兩鹽水炒）　牛膝（二兩）　山萸（四兩）　生地（八兩）　薑汁、砂仁末（各二兩）　拌搗　山藥（四兩）　焙丹皮（三兩）　茯苓（三兩）　澤瀉（二兩）　五味（兩半隔紙焙）　麥冬（二兩去心）</p>
<p>照法煎膏，不必加蜂蜜，煎好收貯磁罐內。每用二、三茶匙，惟飽時不必用，一日之內要服數次。</p>
<p>一人咳嗽不止，脾虛不能生養肺金也；面色浮腫，脾虛不能制其水也；飲食後作悶。脾虛不能運化精微也；大便溏而似覺後重，脾虛而清氣不能升，故濁氣下降也。總之，脾家受病，致變生種種。宜先固脾土，急以白朮膏加減，先照顧脾胃，然後投以丸劑，保肺扶元氣，以善其後。</p>
<p>方：白朮（半斤，米泔水浸一日夜，銼片，飯上蒸一次，土炒焦色）　茯苓（四兩）　山藥（三兩）　苡仁（三兩炒焦）　訶子（三兩去核）　北五味（二兩）　澤瀉（二兩）　補骨脂（二兩）</p>
<p>小水不利，煎車前子湯飲，照法煎成膏，不時服。</p>
<p>丸方：人參（另煎）　陳皮（一兩）　半夏　補骨脂（炒）　益智仁（炒）　茯神棗仁（炒，以上各一兩）　白朮（一兩半土炒）　山藥（一兩）</p>
<p>為末，淡薑湯泛為丸，每服二錢，桂圓十個，人參二錢，同煎湯服。</p>
<p>煎方：山藥　米仁炒　訶子　百合（各二錢）　補骨脂（一錢）　北五味（六分）　白朮（土炒焦）　茯苓　車前（各二錢）　半夏　款冬花（各一錢）　白芍（錢半酒炒）　人參（三錢）　煨姜（四分）</p>
<p>二月初一復診：面色痿黃，久瀉不止，未瀉作痛，瀉後痛愈，六脈數而無力，飲食減少，精神日耗，大解不時流出。此皆氣虛之極，不能收攝，且元氣下陷之故也。恐防氣脫，須當理中湯溫其脾胃，以調中益湯升提下陷之氣，方為正治。</p>
<p>下午，專固脾元：熟附子　炙甘草（三分）　訶子肉（一錢）　煨姜（三分）　人參（三錢，另）　乾薑（一錢四分炒黑）　茯苓（二錢）　白朮（五錢土炒）</p>
<p>早上，應以調中益氣加減：人參（二錢）　升麻（四分）　柴胡（五分）　白朮（三錢）　木香（八分）　黃耆（一錢半）　炙草（二分）　陳皮（八分）</p>
<p>午後，應服理中湯：人參　白木　乾薑　甘草</p>
<p>如脈沉細，腹中痛，故用於姜之辛熱能土中瀉水；若脈弦，是木來剋土，當用芍藥為君，其味酸，能於土中瀉水，故建中湯以此為君。</p>
<p>二月初十又診：六脈細數無力，真陰與真陽俱虛也。身體外邊不熱，而內有虛燥，皆屬虛極之候，目今瀉既稍減，則溫補之劑亦宜稍減，煎方另書於後。</p>
<p>方：人參（二錢）　炙草（四分）　茯苓（一錢）　白朮（一錢二分）　黃耆（一錢）　貝母（一錢半）　五味（三分）　生薑（四分）　烏梅（三分）</p>
<p>如前煎，上下午服。</p>
<p>丸藥每日二錢，以人參一錢煎湯，空心送下。</p>
<p>病原內大便時漏，氣虛不能攝也；咳嗽交加，發火愈甚，浮游之火上升，虛極狀也。一、二日內，大便雖減一次，然不時流出，皆系氣不能攝，且脾氣未能即復也。浮腫、腹響、氣脹，皆可驗矣，且咳嗽多痰，系土虛不能生肺金，即所謂母病而子亦病也。咳嗽中間，或有血珠，似絲非絲，此更人所難知，乃子病而母亦病也，心為脾之母耳。總之心主血，脾統血，一經受病，則子母俱傷，不可不虛心體認也。予行醫四十年，豈不知寒涼能治火熱？以血分治陰虛，但要切脈之虛實、形之虛實，然後用藥，方無差誤。近來四、五日內，應將前方為主，另立加減法於後，以備鮍用。</p>
<p>如口渴甚，禁用天花粉等類，宜加北五味幾粒。如大便仍每日一、二次，則暫加天門冬錢許。如覺氣脹或腹內痛，宜暫用木香（七分）　白豆蔻錢許。如覺元氣下墜而撒屁則稍寬，或不時大便流出，此真元下陷，方中宜加升麻、柴胡二、三劑。如痰中有紅色者，宜加懷生地，因防腸滑，不如以丹參代之；如無等症，不必加。如火氣上升，正是無根之火上炎，應另煎人參五分，麥冬八分，五味九粒，間呷一、二口。如腹中窄狹，或大便漉漉作聲，此水火相傳之聲，方中宜加制好真茅、山蒼朮錢許。如氣打呃，應淡薑湯倍用人參。如小水頻數，加益智仁錢許；如小水不利，加車前子二錢；如覺氣升，宜磨沉香七、八分；如浮腫甚，倍加茯苓、車前。</p>
<p>一人面色痿黃，四肢倦怠，頭眩作渴，手足厥冷而麻；誦讀略勞，則覺喉間作痛，飲食雖能進，而覺心慒，睡臥亦欠安。總之，真元不足，脾氣受損，氣血兩虧，虛火炎上之象也。八月十四日復診，得六脈遲緩，重按無神，益合前症矣。至如頭眩作渴，心嘈內熱，似覺實火，目今大忌寒涼之劑，深恐伐其胃氣，則將來飲食少進，而諸變症出矣。目今丸方以扶養元氣，及固保脾胃之藥為主。煎方另制服，並有加減法附後。</p>
<p>丸方：山藥　山萸　白苓　丹皮　白朮　熟地　澤瀉（各三兩）　枸杞　知母（各兩半）　人參（一兩）　麥冬（兩半去心）　五味（五錢）</p>
<p>煉蜜為細丸，每服二錢，空心白湯送下。</p>
<p>煎方：遇喉痛及內熱，加服三、四劑。</p>
<p>陳皮　山藥　茯苓　白朮（各一錢）　米仁錢（半炒）　蓮肉（一錢）　黃連（薑汁炒八分服三帖後減去）　熟地　山萸（各一錢）　丹皮（八分）　澤瀉（六分）</p>
<p>加圓眼肉四枚，生薑三片，煎五分，空心服。</p>
<p>點心：宜用此糕或粉。</p>
<p>蓮肉（去心炒）　白扁豆（去殼炒）　米仁（炒）　山藥（炒）　芡實（各半斤）　陳米（二升）</p>
<p>宜食：腰子、肚子、肺頭、鰻魚、豬腳、鴨羊肉、煮藕。</p>
<p>忌食：梨、菱、蟹及一切生冷油膩之物。</p>
<p>丸方：人參（一兩）　山藥（兩半）　白朮（一兩土炒）　白芍（一兩）　麥冬（一兩瓦上焙去心）　知母（一兩去毛）　懷熟地（二兩）　半夏曲（五錢）　棗仁（一兩炒）　甘草（三錢）　山萸（一兩）</p>
<p>以後又看，去半夏曲，加黃耆一兩，蜜炙枸杞子一兩半。</p>
<p>煎方：麥冬（一錢去心）　五味（四分）　人參（六分）　桔梗（六分）　甘草（二分）　石菖蒲（八分）　茯神（八分）　棗仁（八分）　當歸（八分）　半夏曲（一錢）　生地（二錢）　橘紅（八分）　加生薑</p>
<p>一貴者，因煩勞忿怒，飲食不思，已二、三月矣。春初患左脅痛極，不能向左眠，三日後，又感暴寒微風，遂加咳嗽、喘急短氣，惡風，喜重衣覆身，汗流不止，不時嘔吐清水及痰。每偏左臥，久則疼而且煩，或飲冷水才覺稍舒，胸膈中脘痞塞，上下氣不相通，日夜煩燥，止飲米湯碗許，耳鳴如風颳樹，手指肉眼，振搖不已。予始至，診得兩寸脈微浮而澀，關尺微虛不固。此日溏泄大便三次，其子問曰：「脈氣如伺？」予曰：「不妨，究方書云：虛勞咳嗽之症，靠左不得眠者，肝脹；靠右不得眠者，肺脹。及咳嗽自汗，喘急下泄，俱在難治例。況澀脈見於春時，金來剋木，亦是可畏，但神氣尚未乏極。雖少春夏之脈，而兩寸帶浮，尚有微陽，小便稠黃而尤長，面色焦黑而微有黃氣，數件或可療耳。」仲景云：脈虛微弱，下無陽。又云：微虛相傳，乃為短氣。又云：微浮，傷客熱。東垣云：陰先亡，陽欲得去，乃是熱壅口臭，謂之假熱之症。各條所云，頗覺相似，此蓋得之七情傷陰，煩勞傷陽，風寒得以乘虛入客，胸膈痞塞。因邪在半表半裡，又為冷水停凝，症似支結，脅側不能，臥寐覺痛作，雖飲留肝實，亦是元氣不調充，參之咳嗽，喘緊短氣，自汗耳鳴，肉瞤振搖不已，嘔吐泄瀉，俱屬正氣已疲，合從為治。雖有表邪，亦惟調其氣，使邪自釋；養其血，使氣自平。用順氣養榮湯，加桂枝、甘草、二劑，諸症頓減。關尺之脈，沉澀可慮，易以補中益氣湯，順春升之令，以補不足之陽，少佐小青龍湯一、二分，以和營衛而撤其未盡之邪。又二劑，自汗喘嗽嘔吐己除，但痞塞脅病未減，更以六君子湯，倍半夏、陳皮，少佐白豆仁、木香。向左右側臥俱不痛，臉上焦黑之色，日漸減去，而脾胃尚不實，再製四神丸以固之。左尺甚弱，知腎為胃之關，腎虛則胃之化機未運，又合腎氣丸投之。腎氣服之空腹，六君服之日中，四神服之臨臥，自此月餘而起。</p>
<p>一人向來脾腎兩虛，少年極失謹慎，三十歲前，忽患脾泄，參苓白朮散常不輟口，病發時，必用桂附方愈。三十歲後，脾胃甚好，善啖，自恃強壯，初患齒痛，口舌痛，以涼膈散數錢服之，即愈。自此常發常服，至半年後，滿口腐爛，飲食不進，涼藥愈服愈劇，予診其脈，兩寸浮數而微，關尺浮弱而澀，因謂乃兄曰：「形雖有餘，精仍不足，當嚴守戒忌，服滋補藥，涼劑不可再投矣。」用八珍湯，倍地黃以峻補腎水，加桂、附各一分，引火歸元，正《內經》所謂折之不去，求其屬以衰之也。煎就涼服，不使與上焦之虛熱爭也。</p>
<p>一宦向來中氣不足，予進診視，常言服得力參、耆。壬戌六月，署歸烏二邑印務，午飯未幾。啖楊梅一大甌，胸中逐覺不爽，至午後，身熱頭眩，吐痰口渴，不思飲食，此三日矣。適延一友，用枳實、山楂，苓、連、厚朴、二陳之類，服三、四劑，大便一次，去燥糞數塊，而前症如舊。又用歸、芍、知母、麥冬、山楂、黃芩等味，反腹滿作嘔。予診得左三部浮微而弱，右三部浮大虛數，則曰：此脾胃虛弱，氣不能運，故胸膈不舒，非關前日之楊梅為祟也。況素日不能用苦寒之劑，豈可再用芩、連？《經》曰：但治其虛，安問其餘？先用六君子湯、加白豆仁、煨薑、大棗，二劑。前症頓減。服補中湯數劑，諸病霍然。</p>
<p>一婦年未四旬，生育已多，且小產數次，以致怯弱，其病不時眩暈，噁心，胸膈痞滿，飲食不進，頭面四肢浮腫，晡時潮熱，大便時瀉時燥，夜間恍忽不眠。醫家調理，已非一人一日。予診之，左寸浮澀，右寸浮滑，兩關俱弦細，兩尺初取覺洪大，重按則少神，知其心脾腎三經受病，而純以清涼為治非也。遂以陳皮、貝母、前胡、蘇子、木通、薏仁、歸身、白芍、天麻為煎劑，在已、午、未三時服；黎明用熟地、人參、附子、杜仲、麥冬、山藥、知母、白木、五味為丸，淡鹽湯送下；黃昏服安神丸。如此分為三治，至滿月而霍然。</p>
<p>按、生育過多，精血自然不足，兼之小產，益徵元氣之虛，現症水衰火盛。他醫昧於虛火宜補之說，概用寒涼，病難去體。予以健脾滋腎清心三項分治，補藥一進，虛回而火自熄。</p>
<p>一人十六歲，患吐血，面色痿黃，形容惟悴，脾虛泄瀉，四肢浮腫。平日原有夢遺，邇來更甚，六脈虛數。他醫投以清涼之劑，吐紅略減，反增發熱作嘔，內瀉外腫，更甚於前，狀勢危迫，皆以為不治之症，誠所謂寒涼為洽，百無一生之光景也。予投以開胃溫中，健脾養血之藥，月餘而大便實，浮腫消，身熱退，飲食進。後用六味丸加知母、黃柏、杜仲、枸杞、牡蠣、門冬，五更吞服，食遠用煎藥，養血健脾為主，五十餘劑。</p>
<p>按：諸逆衝上，皆屬於火。但實火可瀉，虛火宜補。年方垂髫，即患夢遺，其虛可知。雖云是火，忌用寒涼，正所謂從氣血逆順調之，百無一失。只以寒涼為治，百無一生。紅雖止，而瀉、腫益甚，此脾虛不運明驗。況心生血，肝藏血，脾統血，脾胃好溫惡寒，寒涼太過，其症增劇。繼以滋陰補腎，培其本而虛火自熄。</p>
<p>一人少壯時，貿易冗忙，飲食失時，以致脾胃有傷，飲食減少。脾虛而肺臟亦虧，咳嗽痰喘，微寒微熱，如此因循日久，病致劇甚，藥雖不闕，毫不見效。最後一醫，治法甚巧，每日煎藥二劑，一清涼，一滋補，丸藥四服，早晨補腎，辰時補脾，晡時消導，臨臥安神。服之月餘，飲食頓減，精神衰憊，一息奄奄，後事具備。伊兄邀予往視，遍身瘡癬，六脈如絲，呼之勉強答應，音響輕微，甚屬危險。大便向來艱澀，臨圊殊覺苦楚，夜不成眠。予用人參、貝母、白朮、棗仁、麥冬、生地，另以人參、麥冬、五味為丸，五更吞下，每日服參約有四、五錢。三日之後，神精爽快，語聲響亮。外以歸、地、芍、連翹、地榆煎湯，揉洗肚腹，大便通潤，頓有起色。</p>
<p>按：弱症非一朝一夕之故，因循歲月，迨至伏忱而後杜門，此人常情也。延醫療病，不論其學術淺深，概可施乎哉？</p>

<h2>參耆未能驟補不可遽用</h2>
<p>一友大病後，服參、耆數日，反致晨昏發熱，丙夜盜汗而解。予曰：「此陰虛不勝其陽也」。主人難曰：「始無是症，今服參、耆，亦云多矣，而論反虛乎？」予曰：「唯唯否否，參、耆雖能補陽助陰，何能驟生？」用六味丸料，加當歸、人參、橘皮，一劑而熱退汗止，後每以六味九、參耆白朮散間服而愈。</p>

<h2>蓐勞冬旺見春脈決其必死</h2>
<p>餘一族弟婦，息小產而致眩暈之症，延予診治。予令揭帳一觀，出謂曰：「今番無事，將來必成弱病矣，奈何奈何？」人多不信矛言。閱歲余，坐胎，大費調攝，勉強育一兒，倩乳撫之。未及兩年，又產一兒，懷孕甚促，舉家忽忽，致參、術藥餌，竟不得預為調攝。產後患早寒暮熱，脾胃欠實，飲食漸減，有時胸前作楚，有時滿身疼痛，咳嗽多痰，睡臥不寧，肌肉消瘦，形容枯槁，雖名醫遍及，參、耆日進，而竟成蓐勞矣。自秋祖冬，亦能強起梳洗，飲食亦能多進。舍弟北來，將謂病勢漸去矣。後令予診之，此際正值一陽冬旺之時，而忽現春脈，予曰：「真元殆盡，內氣耗散極矣。一交立春，便作泉下鬼，宜急備後事可也」。主人怪曰：「起居動靜，無異平日，豈一旦至斯耶？」至立春之第二日，早起浴櫛，進膳如始，至午後一瀉而逝，始信予言之不妄矣。</p>

<h1>勞瘵章</h1>
<p>一女子病骨蒸勞熱，頭眩作渴，腰痛足軟，脈息細數而虛。此因過勞擾動心火，銷爍真陰，陰氣耗散，陽無所附，遂致浮散於肌表，而成勞熱之症。《經》云：陰虛生內熱是也。宜滋陰養血，血旺而陽光自制耳。</p>
<p>方：川芎　當歸　白芍　生地　香附　秦艽　知母　麥冬　人參　丹皮　銀柴胡</p>
<p>一人心部脈弦多胃少，此係少陰厥陰兩臟血虧而火旺也。今之不寐盜汗，心蘊虛煩而生內熱也。囊濕者，因溲而精滲。一為濕熱下注，一為相火擅權。理宜壯水以制火，養陰以生血。</p>
<p>方：棗仁　茯神　遠志　石菖蒲　熟地　麥冬　黃柏　黃耆　牛膝　杜仲　骨皮</p>
<p>一人以酒為漿，以欲竭精，送至六部弦數，重按無力。枚乘雲：血脈淫濯，筋骨挺解，痰嗽煩熱，形氣不全。此精竭血燥，陰火內燔，為上盛下虛之症。急宜靜養絕欲，以濟其源；清痰和血，以治其流。</p>
<p>方：秦艽　白芍　紫菀　陳皮　玄參　麥冬　骨皮　熟地　米仁　甘草</p>
<p>一孀婦左手肝脈弦長而溢出寸口，餘部俱沉結有力，乃乃氣滯血凝之症。夫氣，陽也，阻而塞之，則積陽為火，故令蒸蒸骨熱；血，陰也，阻而塞之，則積陰為疰，故令四肢痠疼，甚至心下引脅俱痛也。此症補之不可，涼之無益，務宜開關起胃為先，則清陽上升，濁陰下降，自無蒸熱攻疰之患矣。</p>
<p>方：當歸　白芍　川芎　熟地　丹皮　紅花　熟大黃　香附　桔梗　柴胡　秦艽</p>
<p>一人寒熱自汗，口渴咳血，多痰，二便赤燥，脈長而數。此係陽邪外襲，傳入於內，不能發越，為熱勞陽病，屬足陽明經症，以清熱利便為主。</p>
<p>方：桑白皮　柴胡　秦艽　通草　桔梗　當歸　白芍　廣皮　黃芩　紫菀</p>
<p>一人嘔逆吐沫小便頻數，遺精腰痛，飲食不為肌膚，脈左大而右細。東垣曰：脈者，血之所為，屬陰；大者，火之形象，屬陽。陰虛為陽所乘，故有此脈。此症，書所謂虛勞陰病是也。先以理氣清痰為主，不宜多服參、耆補陽之劑，恐陽氣愈盛，而陰氣愈微耳。</p>
<p>方：貝母　廣皮　甘草炙　丹皮　蘇梗　木香　山藥　米仁　骨皮　杜仲</p>

<h2>弱症不治論</h2>
<p>若乍寒乍熱，腰間痛不能伸者，雖無別樣惡症，已辨其無救矣，不可不知。若弱症冒風寒者，補之不可，散之不宜。未有不壞者也。</p>

<h1>遺精章</h1>

<h2>附：便濁</h2>
<p>一人曾患白濁，誤服補熱藥，以致閉塞不通，幸遇草方得蘇。近為煩熱酒多，頃致閉結、溺赤、莖中痛，而大腸亦有濕熱之氣墜於肛，若有塊閉結之狀，脈息左疾右數。乃熱極成淋，氣滯不通。《內經》云：膀胱不利為癃是也。治當清濕利水為主。</p>
<p>方：車前　澤瀉　木通　茯苓　山梔　生地　草梢</p>
<p>一人左寸濡數，兩尺微澀，精滑不固，心勞則甚。蓋因用心過度，君火妄動，相火隨起，鼓其精房，熱則流通矣。治當清心，則神自寧，而精自固矣。</p>
<p>方：山萸　熟地　山藥　遠志　棗仁　茯神　麥冬　五味　圓眼肉　甘草</p>
<p>一人嗜欲無度，六脈洪數，精虛而不能統攝，更兼內熱腰疼，小便作痛。俱系腎元不足，當從腎治，固本滋陰。</p>
<p>方：山藥　萸肉　生地　蓮鬚　芡實　黃柏　五味子　澤瀉　骨皮　茯神　甘草　杜仲</p>
<p>一人善飲食，兩尺虛，脾部數，乃脾胃傷於濃厚，濕熱內郁，使中氣濁而不清，則所輸皆濁氣，邪火擾動，水不得寧，以致髀疼肢軟，白濁經年也。洽宜滋陰折火，清利濕熱。伸清升濁降，脾胃健運，則精濁自止矣。</p>
<p>方：升麻　柴胡　半夏　陳皮　茯苓　甘草　白朮　蒼朮　黃柏　五加皮</p>
<p>一人心腎不交，患白濁症，旋愈旋覆，將一年矣。診之，左右脈虛數，按之則散。服知、柏、車前、梔、芩清利等藥，流泄愈甚；服補中益氣升提諸藥，亦若不知。此精滑日久，玉關不閉之故。理宜升坎水以濟離火，固元陽以滋陰血，卻妄想以澄其神，養胃氣以守其關。溫加止澀，所謂「脫者固之」是也。</p>
<p>方：山萸　生地　山藥　丹皮　澤瀉　茯神　肉桂　五味　椿根皮</p>
<p>一人左關脈弦數有力，莖中作痛，筋脈急縮，或癢或腫，或挺縱不收，白液如精，隨溺而出，此肝經濕熱火旺之症，即筋疵也。以瀉肝清溫為主。</p>
<p>方：柴胡　黃芩　五味　甘草　山梔　知母（二冬）　黃連　人參　膽草</p>
<p>一人脈息左右皆虛，尺脈似數，眼花精濁，夜不得寐，倦怠少氣。乃血不歸肝，水不歸元，火乘虛陰，客入下焦也。宜上補心安神；中調脾胃，升舉其陽；下用益精生陰固陽之劑。使火來坎戶，水到離宮，水火既濟，諸症悉痊矣。</p>
<p>方：當歸　地黃　山藥　棗仁　枸杞　麥冬　杜仲　五味　遠志　山萸</p>
<p>一人六脈微澀，兩尺尤甚，便中時出精液，牽絲黏膩，雖不便溺，亦自有之。病為精濁，即漏精也。乃腎氣不足，淫火易動，精離其位，故令漸漬而出耳。惟宜滋腎清心，健脾固脫之劑。</p>
<p>方：枸杞　金櫻子　山楂　石蓮　蓮鬚　熟地　芡實　茯苓　當歸</p>
<p>一人六脈洪數，便溺渾濁如痰，而不帶牽絲，即尿精之類。此係胃中濕熱之氣下滲膀胱，兼以龍雷之火沸騰海底，比諸夏月火熱，則水渾濁，淋水流津也。以淡滲之，以苦燥之，以澀固之，則關鍵肅清，按便如常矣。</p>
<p>方：蓮鬚　黃連　豬苓　茯苓　砂仁　半夏　黃柏　蒼朮　甘草</p>
<p>一人丁年，病起夢遺，變為白濁者久矣。今脈息友關弦長，溢出於上，而兩尺濡澀。此因思想無窮，志願不遂所致。宜卻去妄想，庶藥易奏效。不然，意淫於外，使內太甚，宗筋馳縱，帶脈不引，發為筋痿，及為白濁，病人膏盲，噬臍無及也。</p>
<p>方：茯神　甘草　澤瀉　萆薢　遠志　生地　麥冬　知母　加皮　杜仲　燈草</p>
<p>一人素有火症，腎脈虛數，肝脈弦長，每夜至子後，便夢交接而遺。余以為晝有所思，夜必人夢。彼曰：「無之」。謹按《靈樞·淫邪發夢》篇云：厥風客於陰器，則夢接內。蓋陰器者，宗筋之所繫也。腎主藏精，肝主疏泄，是以腎之陰虛，則精不藏，肝之陽強，則氣不固。若陰火客於竅，與所強之陽相感，則精液溢出而成夢遺矣。必在子後何居？子後者，一陽始生之時也。此水流濕，火就燥之義。</p>
<p>方：山萸　山藥　丹皮　澤瀉　熟地　茯苓　五味　麥冬</p>
<p>一肥人白濁，兩便大利，右手脈大於左手脈一倍，細按之，累累若貫珠。乃肺與大腸經病，氣虛而有痰有火之脈。法當理中宮之氣，收耗散之陽。用二陳湯，加蒼白朮、升麻、柴胡治之。丹溪曰：此方能使大便潤而小便長，良有以也。</p>
<p>一人黑瘦，六脈洪數，五心煩熱，頰赤唇乾，小便赤濁，是症屬心與小腸，熱傷血分。以滋陰降火之劑主之。</p>
<p>方：木通　生地　甘草　黃柏　知母　澤瀉　山梔</p>
<p>一人小便日數十次，如稠米泔色，神思恍惚，疲悴食減，以女勞得之。治須安神魂，定心態。</p>
<p>方：桑螵蛸　遠志　石菖蒲　龍骨　人參　茯神　當歸　龜板</p>
<p>各等分，為末，每服二錢，夜臥時，人參湯調下。</p>
<p>一人右關浮而尺數，小腹熱痛，溲出白液。此脾風傳腎，名曰蠱症。《左傳》云：因以喪志日蠱。便溺精出，乃精元不守也。以建中湯主之。</p>
<p>一人患遺精，聞婦人聲即泄，瘠甚欲死。以遠志為君，蓮鬚、石蓮為臣，龍齒、茯神、沙蒺藜、牡蠣為佐。丸服稍止，然終不斷，於前方加鰾膠味，不終劑即愈。</p>
<p>一人患病，余告曰：是陰虛火動也。使人發熱盜汗，肢節作楚，正合丹溪滋陰降火之劑。服湯二日，服虎潛丸，病全愈。所以知病之源者，切其脈虛而數。《經》曰：脈虛血虛，腎水之真陰不足，而虛火妄動也。余未診時，一醫以為歷節痛風，飲以風劑，即加肢節浮腫，痿弱不能行，汗出如沐。《經》曰：足受血而步。又曰：奪汗無血。蓋風能生火，又能燥血，血虛則內熱益甚，肢熱則腫，肺熱則痿矣。病是以加也。</p>
