<header data-type="book">
<h1>女丹合編選註</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>賀龍驤</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1905">公元1905年</data></dd></div>
<div><dt>底本</dt><dd>《重刊道藏輯要·女丹合編》（<a href="https://www.kanripo.org/ed/KR5i0109/CK-KZ/">漢リポ文字化本</a>）</dd></div>
</dl>
</header>

<h1>通俗序</h1>
<p>有天地即有男女，男子成仙者多，女子成仙者少，何也？蓋男子可以遊方訪道，女子難以出門求師；男丹經汗牛充棟，女丹經零星散漫，無有專書；男能識字解義者十有七八，女能識字解義者百難一二。設使女丹有專書，女皆識字義，並許其方便出遊尋師訪道，則女子之成仙者，未必不如男子之多也。</p>
<p>然女於修行，其弊亦甚，試略言之：有謗修行之人者；有鄙修行之事者；有厭聞修行之說者；有阻人修行之路者；有不知修行之美者；有知美而塵緣難割者；有割塵緣，入空門，徒享清福，而不勇往前進者；有幼無依，老無靠，事繁賬逼，賴佛逃生，苟求衣食者；有鹵莽顢頇，不循階級者；有籠統乾坤，不知與男丹有別者；有知男丹經，而不知有女丹經者；有皈依佛門，唸佛修性，而不知點女丹訣竅以修命者；有皈依玄門，以男子臍下一寸三分中之氣穴，誤指為女玄關者；有歸入善堂，只知吃齋敬神，唸經拜佛，放生行善，邀福免禍，而不知女子修行以斬赤龍為急務者；有不悔過懺罪，消冤解孽，禳災降魔，立功立德，窮理盡性，輒即下手修命者；有人雖善良，而習染太深，自高自恃，不求明師口訣，妄斬赤龍者；有執著玄關，積氣成疾，反以致死者；有斬赤龍後，不知男丹火候工夫次序者；有偶經魔考，如刀兵，水火、瘟疫、官非、口舌、謠言及護法師友或病、或死、或哄、或散，因退道心，半途而廢者；有得一知半解，即自誇大，以為道在是者；有倫常人，事應了未了，礙難清修者；有遊思雜念，利慾薰心，天人交戰，雖修未修者；有願守貞修行，而為孃家眷屬阻擾者；有願守節修行，而不見容於婆家眷屬者；有羨慕仙佛，而不急早回頭，推到來年者；有欲厚積養道之資，然後修行者；有貪得無厭，滿腔嗔毒，癡情太甚，不絕房事，愛網交加，不捨兒女，妄求仙緣者；有氣字未化，憂成包塊，光想成仙者；有身不莊嚴，心不清淨，口吐是非，甘為妄人。而望天仙接引者；有養殺牲命，而藉口於放下屠刀，立地成佛者；有不忌葷酒，而藉口於酒肉穿腸道在心，又云酒肉穿腸過，佛在當中坐者；有口雖齋，而心如狼虎，視翁姑妯娌如仇敵者；有誤入旁門，不知正道者，有誤信三姑六婆、降仙、扛神、走陰，觀花、觀水之說，顛瘋失性，或誘入淫室者；有暗引良女，作人爐鼎，己作黃婆，因而自敗名節者；有良女為御女家所惑，甘作爐鼎，以求成仙，繼而敗名節者；有朝山入廟，亂投僧道或善門男師，種下情根者；有尼姑，道姑及善門師孃，領天恩充頂航，以符章、咒印、神水、神劍、神打、步鬥、燒丹、服餌之術，周流四方，開示女流，借道斂財者；有得口訣，不圖自利，即欲利人者；有得口訣傳匪人，泄天機自遭遺責者；有得人不傳，斷絕道種者；有錯聽奸僧野道南宮黃白之言，多置丹房、器皿、鼎爐、琴劍，煉服三元大丹，飛身帝闕，到頭無成，傷心破產者；有亂採日精月華，吞雲吐霧，呼吸空氣，或服草木金石，或搬運肢體丹田，致成重病，不可救藥者；有謂身屬破體，隘漏難修，自甘暴棄者。</p>
<p>凡諸流弊，皆難證果。若欲證果，必明丹經，以書證身，以身證書。以書中所有之理，身中所現之象，質諸師，叩諸友，以分正邪，以決從違，庶不為盲師邪友所惑，中諸流弊。若已中諸弊者，急早改悔。未中諸弊者，尤宜提防。吾以一言決之曰：「身外無道」，再揭其要曰：「道在自心」。而乾坤丹源初分繼合之理，尤不可不為女流明辨之。厥綱有三：一曰秉性，二曰形體，三曰功法。</p>
<p>如男屬陽，陽則清。女屬陰，陰則濁。男性剛，女性柔。男情急，女情緩。男念雜，女念純。男主動，動則氣易泄。女主靜，靜則氣易斂。</p>
<p>男為離如日，一年一周天。女為坎如月，一月一周天。男氣難伏，女氣易伏。此秉氣之不同也。男喉有結，女喉無結。男乳無汁、小，女乳有汁、大。男基凸，女基凹。男曰精室，女曰子宮。男命在氣穴中，女命在乳房中。男以腰為腎，女以血為腎。男為精，其色白，名白虎。女為血，其色赤，名赤龍。男精陽中有陰。女血陰中有陽。男精之氣充足，女血之氣些微。此形體之不同也。</p>
<p>男先煉本元，後煉形質。女先煉形質，後煉本元。男陽從下泄，女陽從上升。男修成，不漏精，謂之「降白虎」。女修成，不漏經，謂之「斬赤龍」。男精逆行而成仙，女血直騰歸心竅。男七蓮難放易收，女七蓮易放易收。男修曰太陽煉氣，女修曰太陰煉形。男曰胎，女曰息，男白虎降，則莖縮如童體。女赤龍斬，則乳縮如男體。男出神遲，成道亦遲。女出神速，成道亦速。男可自異，女必待度。男必面壁，女少還虛。男成為真人，女成為元君。此功法之不同也。</p>
<p>若性命之理則無不同。吾告女流，必先於不同處求其同，又於同處求其不同。凡不同者，皆在赤龍未斬之先。凡同者，皆在赤龍已斬之後，此萬古不易之定論也。所以女丹經中，每言女子斬赤龍後，煉藥還丹、火候節次，宜參看男丹經，如伍守陽《天仙正理》、《仙佛合宗》、柳華陽《金仙證論》、《慧命經》等書，尤為切要。女子果能明其理，用其法，行其功，層次不亂，度數不差，又何致瞎煉盲修，自罹奇疾。然吾始亦不知女修有此利弊也。</p>
<p>吾父兄俱好佛老。曾憶先君嘗語家慈曰：「女修一事，少女行之可以化氣；老婦行之，可以卻病；孀婦行之而守節之心更見堅固。若成仙成佛，又在女流功德之大小，功夫之淺深，不可同年而語也。」此家慈所以樂此，幾三十年不倦也。厥後，吾嫂、吾侄女、吾妾、吾女、吾族親，諸姑伯姊，相繼樂此者，甚不乏人。言戒言定，亦有進境，而叩其命功則茫然。家慈憂之，命吾放下身心，凡遇三教修行人，即覓女丹經、詢女訣竅。參訪數年，均未如願。嗣由雪岑上人得《摩尼燭坤集》一部，約七十餘種。大抵言性則詳，言命則隱，非鈍根人所能夢見也。吾懼無以報家慈之命，中心如焚。庚子年僻處峨山，因不捨晝夜，旁收道典，凡有言女丹者，輒摘抄之，彙集成帙，有十餘種，顏曰《女丹合編》。質諸家慈，甚喜。命珍藏之，以為吾家女修秘本。</p>
<p>癸卯冬，赴成都二仙庵，校勘《道藏》，見閻、彭二公所刻《坤緣覺路》，僅《坤元》、《坤寧》二經與吾家抄存秘本同。夫坤維不乏道器，女丹少刻專書。閻、彭二公真先得我心也。知己難逢，故呈《女丹合編》，敬求參訂。閻、彭二公果稱善，慫恿付梓。以公同好，吾不敢吝，然一隅之見，愧何如之。惟願另有善本者，轉示鄙人，以滿家慈之願；拋磚得玉，尤幸甚也！</p>
<p>再囑女流，凡有奉此編者，務須絕七情，除六慾，掃三心，飛四相，萬緣放下，五蘊皆空，百折不回，遇魔不退。煉血化氣，煉氣化神，煉神還虛，煉虛還無。果證金仙，億劫不壞，上朝王母，下度眾生。吾想蟠桃會上，當不讓男仙獨出其右。女流勉之，予日望之！</p>
<p>牧語𧄍謌，用通俗眼，識者鑑諒，幸勿哂焉。</p>
<p><u>時光緒乙巳秋，井研賀龍驤序。</u></p>

<h1>壺天性果女丹十則（一卷）</h1>

<h2>第一則·養真化氣</h2>
<p>凡男子修行，皆從初功運煉築基起手。若是女子修行，與男子不同：男子陽從下泄，女子陽從上升；男子體剛，女子體柔；男子用丹田陽精，常常保守不致外泄。積之既久，用火鍛鍊，使精化為氣，氣化為神，神化為虛，由漸而進，功完了道飛昇；若女子則不同，女子乃是陰濁之體，血液之軀，用乳房靈脂變化氣質，久久運煉，自然赤反為白，血化為氣。血既化氣，仍用火符鍛鍊，亦能氣反純陽，了道歸真。</p>
<p>女子初功，先煉形質，後煉本元，不似男子之功，先煉本元，後煉形質。其體各殊，其功自異，若不分門立教，何以能造化陰陽，男女共濟也。</p>
<p>吾於往昔，詣師前問道時，便請女子修行功課，師言：「至矣哉，汝之心有濟世之心也，吾當與爾言明，後日將度世上男女。」因此，蒙師逐一講明女道口訣。吾今業已了脫塵凡，救世之心未嘗拋置，故將師授口訣，錄之編後，以開後世誠念女子、了俗道姑，同登彼岸，共出迷津。上可以報師尊之遺意，下可以救孳海之女流耳！</p>
<p>何以謂之養真？大凡女子之性必剛，女子之意必雜，女子之情易漓，女子之氣易動，……種種塵心難於制伏，其體烏可長存，其功焉能有濟？故起手之功，貴在養真。</p>
<p>這真者，不是真實之真，不是真偽之真。女子之心，原是易動易滅。若是叫他長守於內，便生煩厭。煩厭一生，諸念皆起，似此何能進道？故起手先教他一個養真之法，自然煩厭少釋，四體安和，方能進步。這真字之義，乃是有形有象之法。大凡女子修持，定要教他念念歸真，方為了當。</p>
<p>如何又是有形有象之法？女子之功先煉形質，形質功完，赤龍變化，那時方才是陰返為陽，血化為氣，從此逆修，方可還丹。這有形有象之法者，上丹坐煉之時，或平日行持之際，用氣機運動。從丹田血海，之中，運動氣機，照著心內神室之地。覺有青氣一縷，自血海而出，定久之際，其氣必動，隨其氣機鼓舞，自然向上飛騰，衝上泥丸，復轉下降，斯時微以意引之。隨著氣機，從泥丸降下重樓。此時切不可用意，恐傷形體，即隨氣機自重樓下至兩乳間，內有空穴，凝聚良久。若有動機，照前行持。行之不過四五十日之間，其氣以透，血化為氣。赤反為白。斯時丹元已露，道心已誠，若能堅持靜守，再求上進，苟能朝夕不懈，時刻用功，何患大丹不結，女仙不成者哉！</p>
<p>此乃女子第一步功課，錄之編首，以教後世女子。若能將此段功夫，行到那極玄極妙的地位，以後工夫皆從此有進也。女修之子士宜加勉焉。</p>

<h2>第二則·九轉煉形</h2>
<p>夫形者，天地之所生，父母之所養，稟五行之氣而成，感陰陽之變而產。未受此身，先具此形，是形之與性命相生相感而有得焉。然形既為我有，何必用煉？女子之體。原屬陰濁，不若男子之體，實秉陽剛。苟不陶煉，不能使血還為氣，如何孕得出先天，產得出真氣。若不得真氣，仍然一片純陰，又焉能復得了還丹，成得了大道。故女子之形是必先煉，而後可然。</p>
<p>煉形者，是調攝之義也。血液屬陰，實重濁凝，居於下，藏於血海胞里，化於五蘊山頭，灌溉一身，榮養百脈，循環不已。遊溢諸經，變為渣滓之物，去而不用。直待二百四十刻漏，三十時辰已周。那時熔華覆露，先天化形，留為生人之用。此即所謂氣之清者上升於乳；氣之濁者下流為瘀。生人生仙之機，實分於此。故女子修煉，予先認定清濁，方能養得真形。</p>
<p>夫形何以煉，當其坐時，用神機運動，候口中液滿，微漱數遍，俟其清澄；然後用鼻引清氣，隨同玉液嘓然嚥下重樓，入於心舍，下降黃房，至關元血海而止；略凝一凝，從血海運至尾閭，升上夾脊，透頂門逕入泥丸；仍從泥丸復行下降，至兩乳間而止；停聚良久，使津化為氣，是為一轉。</p>
<p>如是者三。三轉既畢，方用兩手運兩乳，迴轉三十穴。轉畢以兩手捧至中間，輕輕運至血海而止。仍又依前運煉一番，三轉三番，共得九轉煉形。</p>
<p>倘女子沉潛莊重，根深器厚者，行之不過百日，而形已煉成，長生有路矣。從此往上再進，大丹可期。</p>
<p>獨憐閨閫女子，孳海佳人，不得親覯正傳，以修無上真正之道。勸諭後世女子，早求師授，共證菩提可耳！</p>

<h2>第三則·運用火符</h2>
<p>女真之道，原與男子之功大不相同（男子之道貴在養精，女子之道，貴在煉形）。藥是以前段功夫，逐一講明，果能旦夕行之，虔心進步，使身中五臟之血皆返為氣，自然化生。若真氣潛生，將陰濁之體變為純陽，功夫至此，方能用火行符，才與男子同等。若不分門別類，其功焉能有濟。故男子先煉藥，後煉形；女子先煉形，後煉藥。因其體相攸分，故前後功夫差別。吾今立法教人，不得分明指示，方使學者無虧學道。</p>
<p>女子照依前段口訣，用心行持，若行到丹田血海之中，氣機溫暖，自然有清氣一縷上衝心舍，直至兩乳。此時切不可動念，仍前依舊行功運轉，他自然復行下降，仍舊歸於血海。斯時氣機已動，真氣已生，赤血之陰，變為白氣之陽，若不用火行符，其氣仍然化為赤血，白者復變為紅，枉費功夫。到此時，當用真火以煉之，又用真符以應之。符到火足，其氣必凝。當此氣凝之候，別有景象，倘不分明講出，恐用火過當，用符差錯，必定有壞丹元。修真至此，宜細心熟記，毋自忘失。若此刻工夫有誤，不惟前功枉費，後功難修，而且有傷身命，防有血崩之患，終難治療，學者當記清楚。</p>
<p>然其景象何等相似，當其氣歸血海時，此氣是血化成，並非是血，故血海不相應，如人出外變相歸家，即家人婦子皆不能識認，安能如前日之相投。血既化氣，與血不相類，仍是不相投。故其下降血海時，血海之中，必如魚吸水一般。斯時四肢若醉，身體難容，如夫婦交媾相似，莫能禁止。到此地位，必須拿定主宰，切忌不可放縱。一念凝守中宮，停聚良久，他自然向上沖關，升入泥丸，化為玉液，以意引下重樓，還至兩乳間而止；用凝氣之法，以混合之，使其聚而不散。久久行之，自能達本還元，以通胎息。若胎息一通，則仙道可計日而至。女貞修煉之者，當共勉之。</p>

<h2>第四則·默運胎息</h2>
<p>女丹修法，其理原本不繁，當其運煉，亦自不雜。諸丹經內，不傳女子修煉者多。何以不傳女流？蓋因未能男女雙度故也。吾今垂法教人，實願男女雙度，故此于丹書後編接列女道十則，以度有緣之輩。</p>
<p>何以女丹之道至簡不繁？女子之性純全，女子之身安靖，但得一點功夫，便能徹底造就，不似男子之念頗多偏僻。故其身心所向不同，其功亦當淺顯發明。</p>
<p>行持之際，原有順逆之分。女真修士，果能照前口訣盡心行持。自然真氣日生。真氣既生，血化為液。其液自兩乳中間流通百脈，潤澤周身。此液是血化成，常用身中玉乳以養之，始能鎮靜中田，以為超生之本。玉乳者，是身中呼吸之氣也。呼吸由中而生，亦由中而定。倘得玉液歸根，故用此氣以凝之，其液方無走失，可倚此而結成還丹。</p>
<p>呼吸者是運煉之呼吸，非口鼻之呼吸也。運煉之時，其勢不著於口鼻，而實不離於口鼻。雖有呼吸之名，實無呼吸之相，何也？是借呼吸以為呼吸之義也。何以云是借用呼吸？口鼻之呼吸，由先天之呼吸而生。此時是用先天，不用後天，故先天之呼吸有名無形，隨後天口鼻之呼吸一出一入，自然升降。若女功運煉，亦只用中宮內運呼吸，隨著口鼻之呼吸而行，出入自由，無礙無滯。久久行之，自然息息歸根，呼吸之氣，覺得不由於口鼻一般。行持一月，胎息已成。胎息若成，女仙不難造就。女子修此，宜當盡心。</p>
<p>此段功夫，極細極微。女子修行至此步功夫，必待前功養純，性情煉熟，方可行此。若不純熟，必得奇病，為害不小。女子修此，當自謹省。</p>

<h2>第五則·廣立功行</h2>
<p>女子修行，原本屬至靜之理。靜而生陽，方謂之動。一動一靜，皆由內之所養，非屬外面事也。雖然靜養一身，尚屬至真妙道，只守靜而無外行幫扶，靜何能久。若女子果能潛修至道，已經產得先天，復行煉得玉液，又兼保住胎息，初功至此，已過半矣。雖然功夫業已小成，必假外行以培養之，方才內無所虧，外有所補，內外兼成，仙道可期。</p>
<p>當其外行，如何行法？女子之身常居內室，終日閨閫，未嘗出外，如何行得了功行？這等看來，是外行定不能立了。然亦有不須出外而可立功立行者。譬如翁姑在堂，朝夕孝敬，視膳問寢。善事翁姑，此便是第一大功，第一大行。果能盡心竭力而為之，則仙女便可立地成就。</p>
<p>凡與人應接，當存忠厚之心，切勿瞞心昧己。若見苦貧孤老尚存憐憫矜恤之心，必須損己待人。灶前勿厭穢，廚下勿高聲，供奉神明，尊敬師長，謙恭長幼，和恤鄉鄰。舉動勿輕浮，言語勿暴慢，與夫一切舉動行為，在在皆歸理法之中。久久行之，自然氣質沖和，行動賅理。不求功而功行，不思行而行立，平心處事，常在道中。行到那極則的地位，雖非天上之仙卿，卻是人間之雅婦。苟能若此，行何及焉。</p>
<p>凡屬女流，常存內守，切不可出外迎神拜佛，假託行修。似此所行，終屬鬼眷，如何超得過生死，了得脫性命，成聖真於高上者耶！女真修士宜自勉旃。</p>
<p>此則雖屬外行，實為女子修行莫先於此一著。若先行得此，則功夫前進，不難至矣。</p>

<h2>第六則·志堅行持</h2>
<p>女真之士，若能覓得明師，求得口訣，又能立得品行，虔心進道，立志潛修，恆久不怠，可謂得訣之真，修身之要，誠如是也。</p>
<p>然女子之性易漓易變，間有不如意之事，或有不投心之行，定然自失其性，必為歧途所引，終不能立志前行，以期了道。倘存偏僻之見，此道遂不能行了，辜負一生，前功枉費。可憐九泉之下，沒盡許多紅粉骷髏；枉死城中，藏卻無邊閨閣雅秀。那時始知身不自由，造物每多遺憾。孽海翻騰，輪迴無盡，要想出頭，怕莫日子了。吾嘗每至冥司，觀見此等男女，無不悲憫。蓋因世上遇道者寡，求道者難。往往有真心之女，而不得真傳實授，以致昧死昧生，無有出期，良可嘆矣！</p>
<p>吾今立法教人，故於女丹口訣，顯明指示，願彼有緣之輩，苟能遇此，頓悟迷津，得登彼岸。使那夜臺無叫苦之聲，閨房得返魂之旨，長守不失，享樂無窮。</p>
<p>雖然此舉口訣易得，人心難齊。若是真心女流，得授至真妙道，便能長一而修，終無悔念。志向純一，不為歧途所惑，更兼道心永久，自可造就出塵之相。</p>
<p>若彼奇忒之婦，口是而心非，前行而後悖。不慎言語，妄與女友而示奇懷；不守師盟，輒以矢口而泄妙道。言行相違，居心苟且，假借修行而望長生。德寡行微而期體健。如此之人是孽海中之物耳，生受五苦之厄，死遭陰律之刑。吾門不度此輩耳。</p>
<p>日後有緣廣度之時，定宜詳審方可示授。若是真修女流，一心守吾門清規，行吾門口訣，日夕不懈，旦暮施功，自始至終總要廣務行持。功夫行滿，那時言清行實，身強體健，正氣充溢，返老還童。從此進修，成仙可冀，切不可乖道念，自將本體喪失了。</p>
<p>吾有規戒，女真記之。</p>
<p>戒規列後：</p>
<p>第一戒　要孝養翁姑。若無翁姑，凡族親以及尊長於我者，皆宜謙恭盡道，敬老尊賢。</p>
<p>第二戒　要端方正直。凡行動舉止以及服飾衣物，宜從樸實莊重，勿致奢華。</p>
<p>第三戒　要謹慎言語。凡應接上下，宜小心說話，以及他人是非，彼此議論，並師授妙諦，皆宜忍口，恐生嫌言致禍。</p>
<p>第四戒　要小心行持。凡坐煉功夫，宜居淨處，倘在穢側、路旁以及浸濕喧𠿷之地，大宜避忌。</p>
<p>第五戒　要尊師重道。凡遇高明，請教必當謙受，毋致謗語崇興，矢口相對，自高自恃，不能受益。</p>
<p>第六戒　要立志存心。凡進道修行，必誓以終身，或期以數世，毋失堅心苦志，有誤前程。</p>
<p>以上六戒，誠為女子修行要道，著實功夫。倘不從此規戒，當逐出門外，任他自棄可矣。姑錄於此，女真鑑觀。</p>

<h2>第七則·調養元神</h2>
<p>女子之功，比男子便捷些，女子從養真至胎息，其功已得三分之二；不若男子之功，便有許多作用，方能到得調神地步。所以女道丹書，從養真直至胎息，功畢便接錄外行功修，俟其外行有餘，方可煉調神一段事體。</p>
<p>夫神何以調？因其前日運煉氣血時，已將血化為氣，氣因血住，其氣便化神了。到此時候，若不陶冶性情，輔立外行，恐將來凝之不住，反失丹道，有誤前功。故修行到此，必須使他照依戒規，嚴遵法度，將他心性磨鍊成一塊頑石相似。必須煉而復煉，磨而復磨，直至養道心花開發，本體光明。到此時候，性已養純，神已入定，內外貞白，表裡玲瓏。此誠所謂「萬傾冰壺光射目，一輪明月映深潭」，纖塵不染，體相皆空。行到此地，若運煉之時，自有一番清靈善化之機，照映在腔子里。定久之際，渾然若死人一般，不動亦不言，不食亦不飢。此時必須用人扶養，不可因其入定，便妄驚叫喊，若妄驚動，恐傷神體，必走入魔營，為害不淺也。</p>
<p>女修至此，當留心著意，毋致差失。當其入定之後，只見他氣息不存，顏色不改，任其自聚自散。或一二日，或五七日，或十餘日，皆不可動，須當用人日夜護持。待等他鼻息微微，神光半露，方可低聲呼之。</p>
<p>倘彼出定之後，即凡飲食衣服，隨心所適。以後必須著著防危，庶免丹元有失。此後功夫，直至養到出神之後，方無危險。學者記之，慎之勿忽。</p>

<h2>第八則·移神出殼</h2>
<p>女子之道，原從陰返為陽，陽極而神全。丹功至此，長守不懈，使那神體煉而復煉，存而復存，直煉至身若冰壺，神如秋水，然不可使之久留身中，如瓜熟自落。神圓則遷。若不遷神移出身外，終為守屍之鬼，何足為異。</p>
<p>此時當用出神之法，將神移出身外，倘出之速，恐神迷無所歸，復將所出之神，復轉身內，一出一入，由近及遠，切記不可放縱。調教老成，方可任其去來，純熟之後，自無畏避。</p>
<p>雖然出法故爾如是，而出神之功，又當分別。若未出神之前，此神屬至靜，其功仍同養真規矩，直待至神圓，方可止步。</p>
<p>若神既出之後，此神屬動，便不似前面功修，當用逸神之法，使神靈通圓融，並無隔礙，直至煉到神通遠顯，方可休息。從此以後，務宜逸養元神，或遊山而玩水，或靜坐以操琴。常從樂事，快爽無邊。遇有功處且行動，當立行時便立行。神功運用，道妙無窮。苟能八百行滿，三千功圓，那時金書選詔，龍女降臨，真仙保養，待度飛昇。九重天上果逍遙，蓬萊洞天真快樂。誠所謂「脫下胎州襖，作個女神仙」，豈不美哉，豈不快哉，信女何憚而不行哉！</p>

<h2>第九則·待度飛昇</h2>
<p>女丹之功，業已修成，養就純陽之體，出沒自由，無拘無束。此時廣行功德，多種善根。切不可因其神出。逍遙自得，便將道果置之度外。或因心用意，而妄泄天機；或扭轉乾坤，而復從世俗，多言泄造物之奇，行乖負天理之正。種種妄為，罪該天譴。功夫行到此地，只宜代天宣化，護國救民，功行滿日，自有上聖高真，度脫飛昇。那時上朝金闕，膺受敕封，從茲永住天宮，快樂無邊。</p>
<p>女真修成，何以必用待度？因其血弱之軀，假內功修煉以成陽體。體雖成陽，而陰凝之性尚未煉盡，故女子功夫少「還虛」一段，運用未能盡天地之妙化。所以不得超升世外者，悉由體相之不堅故也。不若男子之體，已煉成金剛不壞之身，還虛之功養成神光，充滿天地，故不用待度，而可了道成真，親朝上帝，遊晏蓬萊。若女子則不然，女丹修成，務必廣行功德。倘功德行滿，上聖見而憐之，保奏上帝，方得敕旨，下頒金書選詔，證得人天無上道果。否則就成一個散仙而已，不能與天地齊壽，終歸運化。</p>
<p>女真修此，若到出神之後，直待上聖拔度歸真，方可了手。倘功行完滿，永受人間享祀，上可以代天帝不全之化，下可以救世人疾苦之厄，功德圓融，與天地齊壽，日月並明，躲脫輪迴，直超劫運，無生無滅。至此方稱閨中雅秀，閫內高人。但願世間有志女子，毋自棄焉？</p>

<h2>第十則·了道成真</h2>
<p>女子修行，所貴者在於成真了道。若修行未能成真了道，猶如田中之蛙，未出泥途一般，終歸是那孽海之物，焉能躲得脫輪迴，超得過劫運，復還為先天之體。</p>
<p>雖然此等道理，只怕人行不到。若能立志堅心，道念不改，終身由之，而不失其正理，勤勤弗懈，亦不過三五載功修，便能登上乘果位，蓬萊洞天，逍遙自在。那時生由我生，滅由我滅，天地造化，皆在我掌握之中。誠所謂「一人成真，九玄皆度」。斯時德敷宇宙，功及九泉，上帝眷之，天仙喜之，神明畏之，人民賴之，萬劫長存，千秋享祀。極人間之快樂，享天上之逍遙，朝遊海外，暮宿崑崙，挾持天地，澤遍環宇。</p>
<p>任爾凡夫說長道短，總莫能及修行這一件事。若舍此而向別求，是人行邪道，豈能了脫生死，證道果於將來。後世女子，當明鑑之。</p>
<p>偈曰：</p>
<p>丹功雖已錄簡編，其中道理妙而玄。</p>
<p>十進步中操得詣，九還丹內覓的端。</p>
<p>不是知音休顯示，倘無緣遇莫陳觀。</p>
<p>苦我類數辛勤力，遺留後世待高賢。</p>

<h1>女金丹序</h1>
<p>大道不問男女，皆能有成，故男子道成為真人；女子道成為元君。自古丹經言男子修煉之功至詳且悉，女子修煉之道多不論及。間有論及此者，不過略露一斑。</p>
<p>非薄女修也。推其意，以為人同此性命，即同一功夫。言男修而女子之功不煩言解矣。不知男子外陽內陰，女子外陰內陽，秉性不同，形骸各別，雖同一性命，其行持大有不同者。《修真辨難》曰：「男子下手，以煉氣為要；女子下手以煉形為要。」許祖曰：「男子修成不漏精，女子修成不漏經。」其初關迥然各別。至煉己、得藥、還丹、溫養、結胎、出神諸事，雖與男子同，而細微節次，未嘗不無大同小異之殊。</p>
<p>壬辰春，適有坤女問道，僕教以多看古書，證其所授。而丹經言女修者獨少，難以考證異同。爰不恤泄漏天機之罪，因將其所以同者何如，所以異者何如，並逐節次第何如，形於楮墨，以為問津程途，俾得尋文釋義，不致魚目以混珠；深知力行，庶幾金鼎可烹汞，以成無上至道。而方諸瑤池之會，不難與男仙同謁木公，共拜金母矣。</p>
<p><u>時大清光緒壬辰歲中和月用中貞一子序於玉帶溪之臥云西軒。</u></p>

<h1>上卷·戒規</h1>

<h2>立志入道</h2>
<p>天地陰陽，乾剛坤順，陰無陽不長，陽無陰不生。剛柔得其中和，水火始能既濟，陰陽必有匹偶，人物由茲孕生。是乾坤皆稟真元之氣，男女各具不死之身。乾曰大生，可以道成正覺。坤曰廣生，亦能果證元君。若謂坤陰難入仙道，何以王母長處崑崙。蟾蛾竊梁間之丹，永作月宮皇后。逍遙讀漆園之書，自號瑤池謫仙。洛神、巫女，自古維昭，紫姑、湘妃，於今維烈。跡載史篇，固可考也。身秉坤德，豈不能乎！</p>
<p>特以沉溺欲海，不發入道之心，安能跳出迷津，以作登云之女。性本陰柔，見多偏隘，罔知四德，寧曉三從，過惡當改不知改，福田宜修未能修。縱無情之欲，喪本性之真，自暴自棄，愈趨愈下，豈知人事如浮雲，塵環原孽網，與其將身入輪迴，何若回頭登彼岸。蓬萊信有路，只在目前；玉京豈無梯，須由心悟。佛即是心，心即是佛。仙能傲我，我亦可仙。玉汞金鉛，實度生之寶筏；丹經釋典，誠入道之天梯。特以天梯不輕泄，語多露尾藏頭，即使琅𪻱已卒吟，還要參師訪友。聞一訣方知一訣，進一層更有一程。果能擺脫塵緣，拜明師以求心法，何難步入瑤闕，謁金母，而列仙班。人須立志，各自勉旃。</p>

<h2>入門戒規十二條</h2>
<p>一戒妄念迭生</p>
<p>二戒縱欲貪淫</p>
<p>三戒剛暴殘刻</p>
<p>四戒煩惱嗔怒</p>
<p>五戒憂思驚恐</p>
<p>六戒目多妄視</p>
<p>七戒耳多妄聽</p>
<p>八戒多言狂妄</p>
<p>九戒慳吝惜財</p>
<p>十戒殺生害命</p>
<p>十一戒不節腥葷</p>
<p>十二戒慢道輕師</p>
<p>婦女所當戒者，雖不止十二條，能戒以十二件，去仙不遠矣。</p>
<p><u>一戒妄念迭生</u></p>
<p>心之所發為念。念頭正，則所行無不正；念頭差，則所為無不差。蓋心為天君，念為役使。天君泰然，百體從令也。</p>
<p>妄念者，一切狂妄不正之念也，古人所謂無念之念，方是正念，即真意也。這點真意卻少不得。有這點真意，方能煉鉛求汞，凝神養胎。丹經所謂「行住坐臥，不離這個」，這個，真意也。豈若此不正之妄念，千頭萬緒，莫可名狀。始則憑空而來，繼則鬥境成幻。一念未已，一念續之，緣此及彼，觸境生心。想到得意時，不禁自慶自足；想到失意時，曷勝自怨自悲。盡日之中，無有寧息宵之寢也，神亦不存矣。</p>
<p>夫所發之念既妄，則見於行者無不妄。如此妄人，安足語仙道哉。即使未見諸行事，而無端妄想，神目如電，指視何其嚴乎。況人之生死輪迴，莫不由一念造之。鍾情之區，即受生之地。噫！一念之輪迴，種無邊之生死，人顧可不慎所發哉。</p>
<p>若夫至人，知此無根無據之妄念，牿亡吾性，死趨六道，精心體認，勤加覺察，此念何自而起，何自而滅，未起之前如何，既起之後如何？知此一念起，即提慧劍斬之，務拔其根。勿使潛滋暗長於隱微之中，務令此性空虛靜寂，萬念俱泯，一靈獨存。瀟瀟灑灑，活活潑潑。如此，則私欲盡淨，天理流行，仙道不遠矣。故入門者，先須於此關頭，謹守勿忽，方是果決烈女，道中法器也。</p>
<p><u>二戒縱欲貪淫</u></p>
<p>人所最難破者，色欲一關耳。人胡為有生？因這點淫根未拔。見淫事，而性即入男女之身根，以投胎而生。人胡為有身？因父母淫姤，而始成此身。人從淫事而來，故其習染最深，而根株未易拔也。且人所恃以生者，全憑這點精氣。貪淫則傷精，精傷則陽關不固，百病交作。古人謂：「服藥百粒，不如獨宿一宵。」惜此精氣也。惜得幾分精氣，即多添得幾年壽數。基成無漏，陽關一閉，則長生矣。況婦女之性情易蕩，一貪淫事，則慾火焚身，情難自禁，無夫以遂其欲，必有喪廉之行。即使不至失身，淫心一動，火逼一身，精氣已不存於中矣。</p>
<p>昔韋十一娘學道，其師化一偉男子，百般調戲，且致逼汙，而此心不易，方授仙術。故淫根未拔者，多失仙緣。即或僥倖聞法，而此道乃色相中事，亦行不得。即或行之，而所結之胎，特一淫胎。一朝出神，必見淫姤而投胎，前妒盡廢矣。</p>
<p>天宮仙女，多有謫下紅塵者，莫不因情緣未斷之故，可不戒哉。戒之之法，要在不思不視而已。不思，則能禁情於未然；不視，又能絕念於當境。文昌帝君云：「未見不可思，當見不可亂，既見不可憶。」誠戒色良箴也。然豈不思、不亂、不憶已哉，務要拔盡情根，看色即是空，空即是色，對境忘情，在欲無欲，方可與言仙道。若抱淫欲之心，以希上真之道，而能有成者，吾未之聞也。</p>

<h2>附考</h2>
<p>韋十一娘，宋長安貧女也。嫁同里鄭氏子。鄭氏喜遊俠，屢諫反目，政和間往邊城從軍，久無音回。伯子不良，每以言語調戲，韋正色拒之。因憶趙道姑自幼相愛，況有道術可傳，遂投姑。姑欣然挈入庵中，教以法術。日暮姑下山，留韋獨宿，戒曰：「勿飲酒及淫色。」韋思深山中，焉有此二事。更余，一男子逾牆入，韋速起，問之不答。男子近前擁抱，拒不從。彼求益堅，韋抽劍欲擊，彼出劍相刺，甚精利。韋知不及，棄劍哀求曰：「妾命薄，久戒塵心，何忍亂我？且師有明戒。誓不敢犯！」彼以劍加頸逼從。韋引頸受之。其人收劍笑曰：「知子心不變矣！」視之則道姑也。從此盡授其術。</p>
<p><u>三戒剛暴殘刻</u></p>
<p>剛，美德也。人無剛則柔懦不振，百無一成。這個剛字卻少不得。然剛而無禮，則流於暴，很戾自用，不知退讓，不顧是非，不恤人言，無禮於舅姑，不和於妯娌，不敬於夫子，虐凌於子侄，苛責於奴婢，是謂「悍婦」。故剛而繼以暴，每多殘忍不仁，刻薄寡恩也。</p>
<p>夫人必有仁慈之心，而後有胞與之量。聖母元君視天下為一家，視中國為一人。凡天上地下，一切物類，莫不保愛。若赤子一般，何嘗起點憎惡之心，而流於殘刻哉。</p>
<p>觀音大士，稱為慈航，以其仁慈成性，普濟眾生，而為浩劫之慈母也，故神氣亦浩劫不朽。如剛暴，則失坤陰柔順之德；殘刻，又無坤厚廣生之量。如此之人，天上選爾何用，地下留爾奚益，不如速死之為愈也，安望長生。</p>
<p>夫惟戒之：性暴者，養以和緩，靄然如春風之宜人，而與物悉無忤也；殘刻者，易以慈惠，浡然如時雨之及物，而無人不沾其恩也。見於外如此，而性之在中，無不靈明自在，活活潑潑，渾含生機於無窮矣。而謂慈航觀音，不虛座以待爾哉。</p>
<p><u>四戒煩惱嗔怒</u></p>
<p>煩惱者，遇事煩勞而生惱恨心也。人生一世，孰無事業，須慢慢做將去。不計功過，不辭辛苦，不憚煩勞，事方有濟。如因煩勞而生惱恨，天下事何者能成。</p>
<p>至養性，更要耐煩。緣此時馳放已久，一旦操存，如生龍活虎，伏之未肯，即伏降之。未肯即降，須從容涵養，不拘不束，勿忘勿助，任其自然。今日養一分，則得一分；明日養一分，又得一分，養到十分，自有圓明時候。</p>
<p>若以難純，而遂生煩惱，其性豈能圓明乎。</p>
<p>嗔怒者，事不如己意，而嗔恨怨怒也。試思天下事，豈盡能如己意。未必嗔怒，而事遂能如己意。何不思之甚也，亦惟安於所遇耳。況嗔怒心甚者，其心必毒，死多投入毒蛇腹中。夏臘以嗔怒而化蛇，郗後以嗔怒而變蟒，此固明徵也。但嗔怒有因煩惱起者，煩惱有由嗔怒生者，二者皆為心累，急戒之可也。</p>
<p><u>五戒憂思驚恐</u></p>
<p>思傷脾，憂思則氣鬱而不伸。恐傷腎，驚恐則神散而不藏。事未至則憂思不已，事將來而驚恐不休。蔽性之端，亦損精耗神之具。不戒，多成內傷之疾。</p>
<p>戒之之法，惟鎮定空寂，心不留物。憂至則思理，理不能遣，聽其自然，憂之何益。且人所以生此驚恐心者，恐其禍及吾身也。平日仰不愧天，俯不怍人。我無愧於人，人必不害我，何驚之有。即使橫禍忽來，而死生有命，亦順受之而已。聖人泰山崩前而不驚，刀鋸加頸而不恐，神定固也。</p>
<p>昔宛丘以色、聲、香、味、觸、喜、怒、憂、思、悲、恐、驚，試青鳥公，有二者未泯其跡，僅成地仙。學者不於此著力，亦凡夫耳，安冀有成？！</p>
<p><u>六戒目多妄視</u></p>
<p>目為六賊之魁。眼見色，心即為色所牽，而魂從眼漏，其傷在肝。蓋人之魂，夜藏於肝，日寓於目。妄視則魂漏於眼，夜多夢寐。聖人無夢，是以能收眼光內照，不使魂日馳於外，亦不使心為色所引也。故欲收其心，先攝夫目。</p>
<p>其法：常將眼光返照玄關一竅之中，使此性靈明不昧，以養如如不動之神，自然目不妄視，心不妄動，魂不外遊，神不外馳，而先天之氣歸於身矣。</p>
<p><u>七戒耳多妄聽</u></p>
<p>腎開竅於耳，妄聽則心為聲動，精從耳漏，其傷在腎。腎為先天真一之水，能灌溉一身之營衛。傷腎則肌膚憔悴，精脫耳聾。</p>
<p>人能常凝耳以內聽，不惟使心不為聲動，而心得所養，精亦常凝於腎，去仙不遠矣。</p>
<p><u>八戒多言狂妄</u></p>
<p>言易招尤。南容三復白圭，聖人稱之，以其能謹言也。多言則不足以養吾心之仁。故司馬牛問仁，聖人以訒言告之，制外養中也。且言為心聲，心藏神，多言則神傷。</p>
<p>能守口如瓶，神自常住於心，性不因言以亂，而酬酢往來間，亦不失口於人矣。</p>
<p><u>九戒慳吝惜財</u></p>
<p>財以濟用，天下無人不需財，但要不為所迷耳。如一味慳吝，分文不捨，則雖堆金等山嶽，能買無常不來乎。與其積財自富，而作一家之守財奴，孰若散財積福，以結道中之仙緣。</p>
<p>自來仙真，莫不由廣種福田而成。古人云：「若是吝財並惜寶，千萬神仙不肯來。」蓋至人等富貴若浮雲，視金玉如糞土。一塵不染，一物不戀，即此身且非我有，況身外之財乎。故入道者，此關更宜打破，休為所愚。</p>
<p><u>十戒殺生害命</u></p>
<p>天地以好生為心，聖人以愛物為懷。天地生之，我輒殺之，大幹天地之和。聖人愛之，我竟害之，大非聖人之仁。況人物同此性命，好生惡死。人物同情，已有生，惟恐其傷。豈物有生，不懼其死。推己及物，必有不忍殺害者。</p>
<p>古人云：「汝欲延生，須放生。」我既欲學道以求長生，要當推己心，以惜物命。雖曰物命在人，而好殺傷生，多遭慘報。夫救蟻中狀元之選，放雀獲明珠之報，古往今來，以放生得福者多矣。人可不慈心於物，以養我好生之仁哉。</p>
<p><u>十一戒不節腥葷</u></p>
<p>腥葷雖養人之物，而齋戒斷味者，未聞有傷。可見養生不盡在血肉也。</p>
<p>上古草衣木食，其民多壽。自火化興，血肉食，民遂夭折者，何也？蓋肥甘動火之物，食之過多，每易縱情損精，不如穀食得天地中和之氣，為至清至潔之味，其養生最好。況食物類之肉以補我肉，其心亦有所不忍。佛家絕腥葷，蓋不嗜口腹以增殺孽也。</p>
<p>南嶽夫人戒楊羲曰：「不欲見血肉。見而避之，不如不見。已死之物，即為屍氣，觸之最能害道。」入道故貴節腥葷。</p>
<p><u>十二戒慢道輕師</u></p>
<p>天地間至貴重者，莫若金丹大道，可以出凡籠，可以了生死，可以超九祖。古人萬劫一遇，夫豈等閒細事哉。</p>
<p>雖貴如漢文帝，猶且折節於河上公。富如馬丹陽，猶且虛心於王重陽。武如漢鍾離，且低頭於王玄甫。文如抱朴子，猶其屈膝於鄭思遠，況下焉者乎。故求道者，挾不得一己之富貴，逞不得一己之勢力，恃不得一己之學問。聰明必虛心誠求，如伍沖虛灑掃役力，切問二十載，方能得之。</p>
<p>而授之者，亦不輕易。抱朴子曰：「受真一之訣，皆有盟文，歃白牲之血，以旺相之日，受之以白銀、白絹為約，剋金契而分之，輕說妄傳，其神不佑也。」沖虛子曰：「自古仙真授真道，必清淨齋醮如科條，具信贄，刺血盟天，奏告上帝、三臺、北斗、南辰、三官、四聖、五帝、司命各位下，請命降允，而後可傳。」凡傳一人，遍天地間神聖無不告之者。倘有惡類，妄自行財及詭詐，私相授受，師弟同受考掠，可不慎哉！使者既不輕易以傳，授者何可輕褻。抱朴子曰：「明師之恩，誠為過於天地也，重於父母也，可不尊崇之乎？！」</p>
<p>觀此可見，求道者既遇真師，即當尊崇恭敬，勤求切問，歷久不怠，方得卒聞心法，而昇天有路矣。</p>

<h1>下卷·口訣</h1>

<h2>收心</h2>
<p>金丹道理最幽深，逐節功夫著意尋。</p>
<p>若問入門初下手，掃除妄念以收心。</p>
<p>金丹大道，至聖至神，至玄至妙，有內有外，有始有終。其中細微節目，須知之清，方行得到。若不著意行之，則知內不知外，終落空亡；知始不知終，僅成小果。</p>
<p>而其下手用功，以收放心為首。孟子曰：「學問之道無他，求其放心而已。」倘此心日放於外，如野馬山猿，刻不寧息，此心日與情私為緣，真性即日為物欲所蔽。秉夷既牿，則夜氣不存，欲望結成胎仙，不亦難乎。故入門先把萬緣放下，一絲不掛，一塵不染，放心於無何有鄉中，清清靜靜，空空寂寂，久久純熟，其心自死。心死則神話，雖不得仙，去仙不遠矣。</p>

<h2>養性</h2>
<p>一顆牟尼似水晶，何期塵垢蔽精英。</p>
<p>但能靜坐回光照，依舊天心夜月明。</p>
<p>真性本自靈明，但為氣稟物欲所拘蔽，則有時而昏，然本體之明，未嘗息也。如能勤加拂拭，用力涵養，依舊如天心之月，明照萬國。</p>
<p>涵養之法：每日靜坐，先將萬緣放下，迴光返照，如月到天心，風來水面一樣情景，悠悠揚揚，活活潑潑，似有似無，勿忘勿助。事至物來，雖如如不動，卻又了了常知，不知則流於木石之弊。</p>
<p>返照時總要安舒自在，不自在則未合法，不可再照，恐成氣鬱。古云先時要放又要收，自後熟來，不放亦不收。收放得宜，久久調養，忽見石火電光，此真性初現景象也。由此用功，自有圓明時候。但返照之功，不可久用。古人云未得大藥不可久照，恐出陰神，入於魔道。故十二時中以一時返照，余時則瀟瀟自在。其功夫總要不可閒斷，純熟之後，自有天然慧光發現，明照九州，慧觸未來。又要知而忘其所知，忘到忘無可忘，自臻化境。</p>

<h2>養氣</h2>
<p>雖能念住特初禪，息到沖和始見天。</p>
<p>養氣方兒無別巧，同行同坐夜同眠。</p>
<p>佛云初禪念住，心無生滅也。二禪息住，息無出入也。息無出入，則息住而氣得所養矣。此息，非口鼻呼吸之息。蓋人生之初，隨母呼吸之息以成胎。及裂胞而出，此息藏於祖竅穴中，雖與口鼻之息相通，常人之息由口鼻出入，不能入祖竅以歸根，真人則息息歸根。故莊子謂：眾人之息以喉，真人之息以踵是也。欲尋真人之息，須調後天呼吸之息以尋之。真息歸根於祖竅，其氣即藏於祖竅，故息調則氣和，息住氣不散。古仙所謂「氣歸元海壽無窮」者此也。然息必調到沖和時候，乃可採藥，乃可養胎，故云「沖和始見天」。</p>
<p>劉長生曰：「沖和結坎離」又曰「沖和養神氣」。何謂沖和？伍子曰：「不偏不倚，不疾不徐，非有非無，」如何作用方能沖和？伍子又曰：「夫妻並肩，陰陽合一，晝則同行，不前不後，夜則同住，不逼不離。如斯了悟，是沖和三昧。」總之，伍子之言，不過喻心息相依，朝夕不離之謂也。鍾離曰：「人能心息長相依，換盡形骸玉液流。」故心息相依，調到沖和，養氣之能事畢矣。</p>

<h2>凝神</h2>
<p>神是夫兮息是妻，休教異路隔雲泥，</p>
<p>兩相匹配歸根處，便與同登步月梯。</p>
<p>神者火也，息者風也。煉丹全憑風以煽火，火以煉精。風火同用，神息相依，兩不相離，猶如夫妻一般。故必凝神於氣穴中。神抱住氣，意繫住息，不即不離，勿忘勿助，方是真匹偶，真交媾。朱元育曰：「要覓先天真種子，須從混沌立根基。」混沌，即歸根覆命之處也。海蟾祖曰：「先賢明露丹臺旨，幾度靈鳥宿桂柯。」旌陽祖曰：「與君說破我家風，太陽移在明月中。」無非喻義神入氣穴之旨也。三豐祖曰：「大凡打坐，須將神抱住氣，意繫住息，在丹田中宛轉悠揚，聚而不散，則內藏之氣與外來之氣，交結于丹田，日充月盛，達乎四肢，流乎百脈，撞開夾脊雙關，上泥丸，入絳宮，下重樓，神氣相守，息息相依，河車之路通矣。」</p>
<p>功夫到此，築基之效已得一半，觀此則知凝神之功，無論剛人柔人，皆不可少也。</p>

<h2>三命</h2>
<p>女子原來命有三，紫白黃光不似男。</p>
<p>少上衰中成在下，關頭一路要深諳。</p>
<p>女命有三，紫、白、黃是也。光之黃者，丹田生丹之處也。白者，胎元結胎之地也。紫者，血光生血之海也。其在上者為陽穴，在中者為黃房，在下者為丹田。</p>
<p>當其少也，天癸滿一斤之數，丹田真元之氣足，上升血元生血，陽極變陰，化濁經而流行於外，故少而從上。</p>
<p>及其衰也，天癸耗盡，氣不能上升以生血，而腰乾血涸則經無矣，故衰則從中。若欲修成乾體，須從下田運上陽穴，神火薰蒸，使經變黃，黃變白，白化無，形自隱矣。故曰成則從下，與男子不同。不識此關頭，則丹不成。</p>

<h2>氣穴</h2>
<p>氣穴無它即乳房，休將臍下妄猜量。</p>
<p>人如不識陰生處，安使毒龍自伏藏。</p>
<p>氣穴，即血元也，即乳房也，在中一寸三分，非兩乳也。男命在丹田，故以下田為氣穴；女命在乳房，故以乳房為氣穴。陽極變陰，從氣穴化陰血而流行於外，故斬赤龍，須從陰生之處用功。久久行持，形自隱矣。若以男子臍下一寸三分之氣穴指之，則誤也。</p>

<h2>知時</h2>
<p>每到花開對月時，羝羊正欲觸藩籬。</p>
<p>勸君信至休遲誤，莫待赤龍出水湄。</p>
<p>《先天玄微》曰：女子未生之前，父母媾精之際，父精先至，母血後行，血裹精而成女形。女子受生之時，先得母之鉛氣一兩，先生右腎，牽一條絲於上，而生雙睛；牽一條絲於下而生金丹。自茲以往，十二日生癸水一銖，一百八十日生癸水一兩。自是而後，十五日生癸水一銖，一年生癸水一兩，至十四歲生癸水十四兩於血海中，同前胎內帶來一兩，共成全一斤之數，三百八十四銖，合周天三百八十四度，一年得三百八十四日。易卦三百八十四爻。天地之數，陰極陽生，癸盡鉛現，二七而天癸降矣。十四歲而天癸降後，至二十六個月零七日半，耗去癸水一兩，至四十九歲，耗之已盡。女子二七經行，一月一度，運行不息，與月之晦朔同度，不差時節。若差時刻病作矣。故月月花開，時時經行。其所以行此經者，陽變為陰也。陽既變陰，則不可運。若亂行妄運，殺人不少。須在羝羊未觸藩之先，信至時用功。《上藥靈鏡三命篇》曰：「月信者，非以經至為月信者也。信之一字，如人在外，尚未回家，而信先至焉。」信至之日，彼自知之，或腰腿疼痛，頭目不安，不思飲食。此信至而成血也，乃氣也。當在兩日半之前，專心行功，若經行，則赤龍陰精不可把持，亂行妄運，殺人不少。須待其經後兩日半，以白綾試之，其色黃金，乃經罷時也。照前功運上以斬之。凡此之言，正示人當知時行功也。</p>

<h2>斬龍</h2>
<p>陽欲化陰出玉溝，火輪忙駕莫停留。</p>
<p>巽風吹上紅元府，斬斷赤經永不流。</p>
<p>陽欲化陰，是信至猶未經行之時，急忙鼓動巽風駕起火輪，從丹田運上紅元府以斬之。</p>
<p>《太陰煉形法》曰：初下手時，閉目存神，大休息一場，使心靜息調，而後凝神入氣穴；將兩手交叉捧乳，輕輕柔摩三百六十遍；將氣自下丹田，微微吸起二十四口；仍用手捧乳，返照調息，久久自然真息往來，一開一合，養成鄞鄂。神氣充足，真陽自旺，其經水自絕，乳縮如男子，是謂斬赤龍。</p>
<p>如此久久行持後，不必捧乳吸氣，只凝神於氣穴，迴光返照，是為玄牝之門也。真息悠悠，虛極靜篤，陽氣薰蒸，河車逆轉。萬朵紫雲朝玉宇，千條百脈種泥丸。斬赤龍之功，有如此效驗，故女子修煉，以斬赤龍為要也。</p>

<h2>形隱</h2>
<p>殺人無過此妖精，七七數周命遂傾。</p>
<p>煉到太陰形隱後，安排紫府慶長生。</p>
<p>許祖云：「男子修成不漏精，女子修成不漏經。」蓋女子之經，為生人之始信，返經成氣，則乳縮如男子，而經自不漏。若男子，則煉精化氣，陰根縮如童子，而精自不漏。不漏而後命可延。若不斬此妖精，到七七四十九歲，血枯經盡，無生機矣。生機絕則命傾。</p>
<p>《上藥靈鏡三命篇》曰：「女子以血為腎，乃空竅焉。過四十九歲，腰乾血涸，無生機矣。養而久之，又生血元似處子焉。此又無中生有之妙也，見而有之，一斬即化，而命生矣。」</p>
<p>如何養之使復生血元？亦不過收心養性，養氣凝神而已。不二元君曰：「本是無為始，何期落後天，一聲才出口，三寸已司權，況披塵勞擾，那堪疾病纏，子肥能益母，休道不迴旋。」別有補功，未敢輕泄，即孫不二所謂「縛虎歸真穴，牽龍斬益丹」之謂也。女子修到經不漏，其後性命功夫與男子之功大同小異。患無人以訣破其奧妙耳。</p>

<h2>求丹</h2>
<p>煉形化氣築基功，上品天仙事不同。</p>
<p>若問金丹端的處，日來映月照鴻濛。</p>
<p>日來映月方能發光，萬古能明此理，丹道不遠。</p>

<h2>煉己</h2>
<p>生龍活虎戰蓮房，最怕心猿意馬狂。</p>
<p>煉己不到純熟候，安能過海把帆揚。</p>
<p>呂祖《步蟾宮詞》曰：「煉庚甲要生龍虎」須知龍虎不是身外之物，方是生的行道時，驅活虎以就生龍，最怕心猿發狂，意馬揚威，不知訓伏，安能過得海去，取得經回，故必煉己純熟，使神全氣盛，七情不動，五賊不亂，六根大定，色相兩忘，乃可入蓮房以求丹。</p>
<p>《天仙正理》曰：「煉己者，所謂苦行其當行之事，曰煉；熟行其當行之事，曰煉；禁絕其不當為之事，曰煉；精進勵志而求必成，曰煉；割絕貪愛而不留余愛，曰煉；禁止舊習而全不染，曰煉。己者，即我靜中之真性，動中之真意，為元神之別名也。」</p>
<p>古云：「未煉還丹先煉性，未修大藥且修心」煉己之道也。</p>

<h2>順逆</h2>
<p>順則生人逆則仙，坤乾為泰是真詮。</p>
<p>臨爐莫訝丹難結，倒挽羊車自見天。</p>
<p>不二元君曰：「著眼絪縕後，留心順逆途。」《無根樹》曰：「順為凡，逆為仙，只在中間顛倒顛。」故泰之卦象坤居上，而乾居下，乃能天地交而萬物通。不知倒挽羊車，則群陰阻塞，安能去濁陰以見天心。故修仙不問男合女，只要於中知順逆耳。</p>

<h2>丹生</h2>
<p>恍惚渺冥情似癡，融和正是藥生時。</p>
<p>丹田有信機緣至，速整火功採玉芝。</p>
<p>此丹稟於父母，藏於氣穴。年少壯時，卻有向外拱關變化之機，取此變化之機，逆入黃中，故謂之丹。但丹生之時，有象可睹。《道德經》曰：「恍恍惚惚，其中有物，渺渺冥冥，其中有精。」泥丸曰：「精神冥合氣歸時，骨肉融合都不知。」尹真人曰：「俄傾，𤸜生毫竅，肢體如綿，心覺恍惚，丹生景象也。」且有信可聞。邵子曰：「忽然夜半一聲雷，千門萬戶次第開。」混然子曰：「時至氣化，機動籟鳴，信至時也。」信至之時，即活子時也。一聞此信，即準備火功，莫差時刻，若當面錯過，安能採玉芝於片餉。</p>

<h2>採藥</h2>
<p>猛睹先天一粒丹，其光灼灼似金丸。</p>
<p>巽風不把槖龠鼓，縱欲過關卻也難。</p>
<p>金丹一粒，圓陀陀，光灼灼，明亮似金丸。若不吹巽風，鼓槖龠，安能過尾閭，上夾脊雙關、泥丸，以入丹田乎。</p>
<p>《入藥鏡》曰：「起巽風，運坤火。」肖紫虛曰：「乾坤槖龠鼓有數。」夫巽風，喻呼吸之氣也。槖龠者，消息也。有呼吸之氣，方能鼓動以消息，使藥升降往還，以成一周天。柳華陽曰：金丹之道，從陽生時，凝神入氣穴，鼓起槖龠之巽風，息息向爐中吹噓，猶鐵匠手中抽動一般。風生則火焰，火焰則精化。精化氣生，採此生氣，升降往還，謂之周天也。</p>

<h2>升元</h2>
<p>日出扶桑大海東，火輪飛渡莫松功。</p>
<p>鹿車搬上崑崙頂，木汞自歸神室中。</p>
<p>扶桑紅日，自西而東。正藥如紅日燦燦，自東而來西方。斯時也，忙駕火輪，飛渡洪濤大海，由尾閭上夾脊雙關。</p>
<p>純陽曰：子後午前定息坐，夾脊雙關崑崙過。又曰：憑君子後午前看，一脈天津在脊端。肖紫虛曰：幾回笑指崑山路，夾脊分明有路通。但逆行道左，非鹿車不能推輓。鹿車，真意也，有這點真意，方能逾越險阻，過得雙關，上得崑崙，下得鵲橋，使活汞入於金鼎神室，而永為身寶。</p>

<h2>合丹</h2>
<p>艮男初歸混沌窩，夫妻從此結絲羅。</p>
<p>六門緊閉勤添火，帳里春光要太和。</p>
<p>艮男喻藥從艮宮而來也。混沌窩，祖氣穴也。艮男之藥，自東北而入祖氣穴，與真鉛配合，猶夫婦結絲羅一般。然初歸時，不相凝結，須緊閉六門，調息綿綿，神火薰蒸，使合為一。但合丹之火，須文火溫溫，非若採取之時武火烹煉。故要太和翔洽，方能著手成春。</p>

<h2>火候</h2>
<p>火記雖垂六百篇，未將真候寫鸞箋。</p>
<p>最明莫過沖虛語，呼吸分明瞭卻仙。</p>
<p>紫賢曰：「聖人傳藥不傳火，從來火候少人知。」金丹萬卷，不筆於書，而沖虛獨曰：「火候雖云不可傳，隨機默運入玄玄，達觀往者千千聖，呼吸分明瞭卻仙。」可見火候之要當於真息中求之。蓋息從心起，心靜息調，息息歸根，金丹之母。</p>
<p>然火候不一，古人以內外別之。外火候有作有為，築基之事也。內火候則丹已得，任其自然，無為之事也。總不離呼吸二字。不調外火候之呼吸，則不能運行此丹；不調內火候之呼吸，則不能溫養此丹。故柳華陽曰：「凡呼吸之火，能化飲食之穀精，而助元精；凡神火能化元精而助元氣；凡元氣之火，能化呼吸而助元神；元神之火，又能化形而還虛助道。成始成終，皆承火之力，以登大羅之仙。」又須知火與候，原不相離，火必應候，候至火亦至。故火候二字，有逐節事條。不經師授，終難了徹於心，須修德明天，以求師授。</p>

<h2>溫養</h2>
<p>已看白雪種青砂，寒燠調停切莫差。</p>
<p>三十六宮春意足，自然有路泛仙槎。</p>
<p>白雪種砂，金鉛得木汞配合，必須寒燠調停，溫養青砂。溫者，不使其熱之謂。寒則水冷，而丹不結；熱則火燥而丹易爍。故取其溫養者，從容涵育，任其自化，如天澤物，雨暘以時；如母孕子，寢興有節；如龍養珠，蟄伏不動，如雞抱卵，暖氣不絕。子前進火，午後退符，余時調息綿綿，似有似無。屏除妄念，如愚如訥。古云：「採藥只一時，合汞須十月」又云：「十月胎完入聖基」。若非善為溫養，安能胎圓乎。</p>
<p>三十六宮者，周天三百六十也。每一周天休息一番。周天有程，溫養有數，必須養足，方成聖胎。其中節目度數，未敢書於竹帛，懼泄天機也。</p>
<p>噫！仙槎非遙，昇天有路。患人不修德盟天，虛心誠求耳。</p>

<h2>胎息</h2>
<p>功夫到此莫粗疏，神息綿綿合太虛。</p>
<p>借問養胎何所似，恍如父母未生初。</p>
<p>丹結之後，神即氣而凝，氣即神而往。如人懷孕一般，故謂之胎。非真有胎也，神息住於此也。蓋胎者。藏神之府。息者，化胎之源。胎因息生，息因胎住。胎不得息不成，息不得神無主。神息相依，是真胎息。功夫到此，切莫粗疏。必要忘相忘形，體同太虛，而真息往來，綿綿不絕，似有似無，若忘若存，如春沼魚，如百蟲蟄，呼至於根，吸至於蒂，終日混混，如在母腹未生之初一般。不二元君曰：「息息返乾初」者，此也。到息住脈停，則神定矣，神定方能出定，而聖胎始完。</p>

<h2>度數</h2>
<p>採藥燒丹有後先，坎離艮巽倒還顛。</p>
<p>功完九九周天數，那怕不成物外仙。</p>
<p>柔人行道，與剛人不同，而其成功比剛人容易。剛人伏氣三年，柔人一年可伏，以丹在身中故也。然氣雖易伏，而赤脈最能害道，果是女中丈夫，能斬赤脈則經不漏，而基已築矣。築基之後，則用煉精化氣之功：以離外二陽，消坎外二陰，變成乾體。然坎離功足，乾體雖成，而其氣未化，其神未靈，又當用煉氣化神之功：以艮上一陽，化巽下一陰，熔盡外陰之氣，以成純陽之神。到運行周天，數終九九，神復純陽，又當用煉神還虛之功，方成物外神仙。</p>

<h2>脫胎</h2>
<p>七十六宮度數周，陽神忽到上田遊。</p>
<p>一聲霹靂天門吼，頂上爭看白氣浮。</p>
<p>周天之功，至七十六度，聖胎已完，陽神由中田遷上田，破頂而出，是謂脫胎。鍾離云「雷震天門鬼神驚，掀翻宇宙飛白雲」，《金丹傳真》云「頂門忽然雷響，懷中抱著嬰兒」。夫神所以脫胎而出者，神定故也。沖虛曰：神初不能定，依二氣為定，氣定則神隨之定。氣定則無氣，神離所依而獨立，乃能離定，捨身而出定。若不到大定，神正要依靠，不能離氣，焉能離身形。故心息相依，神定方能出定。</p>
<p>而其出定景象，各有不同：有以天花亂墜出者；有以七層寶塔出者；有以身外有身出者；有以風雲雷震出者，馬丹陽真人是也；有以香風瑞氣出者，如不二元君是也。</p>
<p>總之，神之出也，由定靜中一念，故變化顯象，亦由一念，即千百億萬身，亦由一念。未可以所出不同，遂疑其有異也。曰「白氣浮」者，特舉一端以為證耳。</p>

<h2>乳哺</h2>
<p>初產嬰孩氣未純，仍吞木汞復元真。</p>
<p>佇看乳養經三載，變化通靈果是神。</p>
<p>古云：嬰兒初產未成人，須藉坤娘養育恩。乳哺三載，方能變化通靈。故須仍吞木汞，以復元真。非真要三載也，特三周天耳。</p>

<h2>面壁</h2>
<p>丹事雖完猶有功，冥心靜坐洞天中。</p>
<p>忘形入定九年滿，打破虛空總算空。</p>
<p>面壁之功，無為之事也。不二元君曰：「萬事皆云畢，凝然坐小龕，輕身乘紫氣，靜性濯清潭，氣渾陰陽一，神同天地三，功完朝玉闕，長嘯出煙嵐。」故乳哺功滿，必須擇名山洞府，冥心靜坐，面壁調神。出則以太虛為超脫之境，入則以上田為棲棲之所。忘形入定，以煉真空。煉到空無可空，打破虛空，神方還虛。此達摩所為，必面壁九年也。</p>

<h2>沖舉</h2>
<p>煉到真空道愈高，丹書下詔步雲霄。</p>
<p>從今永住瑤池苑，隨著靈妃去早朝。</p>
<p>不二元君曰：「佳期方出谷，咫尺上神霄。」又曰「一旦仙凡隔，冷熱度海潮」。</p>
<p>神既還虛，升遐有期，天書下詔，云鶴來迎，赴瑤池以賜宴，朝金母以受圖。瓊樓玉闕為我室家，湘妃瑤姬為我同儕，何樂如之。</p>
<p>特患宇宙無決烈女子，斯不能與麻姑為伍。果是女中丈夫，修德盟天，虛心誠求，得行此道，比男子尤易成耳。人其立志自勉可也。</p>

<h1>樵陽經女工修煉</h1>
<p>太陰煉形，與男子修煉之法，大同小異。初功下手，閉目存神，大休息一場，使心靜息調，而後凝神入於氣穴（在兩乳間心窩上）；將兩手交叉捧乳，輕輕柔摩二十遍；將氣自下丹田，微微吸起三十六口；仍用手捧乳，返照調息，久久自然真氣往來，一開一合，養成鄞鄂，神氣充足，真陽自旺，其經水自絕，乳如男子，是謂「斬赤龍」。如此久久行持後，不必捧乳吸氣，只凝神於氣穴，迴光返照，是謂玄牝之門也。真息悠悠，虛極靜篤，陽氣薰蒸，河車運轉。萬朵紫雲籠玉宇，千條血脈貫泥丸。自覺一點靈光，不內不外，自下田上升絳宮泥丸，下重樓歸於金胎神室。回光凝神，真息住於中宮鼎內，是神入室矣，是為玄牝，是為胎仙，即一點落黃庭也。其後十月功夫，陽神出現，粉碎虛空，一路修真與男子同，無彼此之別也。</p>

<h1>女功煉己還丹圖說</h1>
<figure>
<img alt="女功煉己還丹圖說">
</figure>

<h2>（一）</h2>
<p>聖師曰：女子太陰先煉形。初行功，即要意棲乳房，行住坐臥，皆宜如是，行至四十九日；行住坐臥意守中極（中極者，即心之下，血海之上，當中虛懸一穴是也），行住宜默運天庭，坐臥宜意守中極、血海，如雞抱卵，一念不起，百想俱無。但行此功，真陰未動，脈絡未通，必多倦睡，須行「指腦下垂」之功。</p>
<p>指腦下垂者，何也？即迴光返照：以眼觀鼻，搭定雀橋，下玄膺，至重樓，歸中極，入血海，以水會火，片刻即醒。此即調藥煉心之法。如妄念一動，仍守中極。</p>
<p>少年女子煉至百日，不為外物所擾，血海自潮，真陰自動（動者，非身心動，是血氣發潮，似有不可忍之景象，其樂也融融，難以言語形容，是由無念而自動。此時切不可動念，念動則散，惟宜把定元神，用法採取），此即「小藥」發生，須行採取之法兩三度，以機息為止，仍守中極。</p>
<p>採取之法：以眼觀鼻，過雀橋，下玄膺，到重樓，入乳房，遊中極，歸血海，行分水透玉枕，升百會，下泥丸，入明堂，仍降下中極而歸血海，將真意守定中極血海，入靜入定。如其陰生，再行採取之法，機息仍守中極血海。</p>
<p>凡行此功，須戒暴怒、風寒暑濕以及生冷瓜果、火煎之物。此時定要檢點，倘風寒入竅，藥難醫治。總要萬緣放下，一塵不染。如果照法行持，一日之間，真陰之氣，能動二三次。（此動要分真偽，有氣機之動，有念慮之動。須無念、無慮、無欲而自動，方算真陰發動。）只要百零七日，血盡化氣，赤龍自斬，變成乾體，基已成矣，還丹有何難哉。（注云：女丹經多言女子行功每逢月信一到，便要停功。此說謬矣，皆由未分清晰誤也。凡女功，所重者氣機也。但其中有壬癸之分，如壬水初來，癸未來，此即信到也。信到彼自知之，或頭昏，或腰疼。信至而潮猶未至，此時正宜迴光返照，默守乳房血海，用採取之法，以補腦築基，則所採者壬水，非癸水也。如癸水一到，自應停功，必至三十時辰兩日半，癸盡之時，仍用採取之法。採至何日而止，其中大有天機口訣，須求真師口傳心授，不可妄猜。如果得其傳授，少年百日便可基成。）行功到此，自有考驗：赤龍自斬，乳頭自縮，如男子一般，而真陰之氣化為真陽矣。此時須要道侶同時扶持，候真景到時，採小藥過關（小藥過關之時，亦有景象，果到基成，藥產丹田，有火珠馳驟，血海如湯煎，鼻搐身震，切勿驚懼。此處亦有口訣，要待師方免危險。不然恐真火變成凡火，一防焚身，二防顛狂）如有得真師傳授者，藥既入鼎，便要知煉藥之法（法待真師口訣）。若不知煉法，不能結丹，得者必失。</p>
<p>此藥既名小藥，自宜用「小周天」火候，（小周天火候亦有口訣），進陽火，退陰符，而鍛鍊之（符火有候亦有數），煉至一月，小周數足。或藥之真偽，丹之結否，自有考驗：如小丹果結，每逢入室靜坐，遍體火發如蒸籠之氣一般。只宜默守中宮，吶宮不語，聽其變化，霎時之間，見一火球如豆大，從明堂射出一丈多高，如閃電一樣，乃基成得藥之真境界也。斯時雖有煉藥秘法，總要一念不起，五蘊皆空，任它天翻地覆，雷電震驚，我只將元神穩坐中宮，毫無畏懼，如雞抱卵，如龍護珠。時當進火則進，時當退符則退（進火退符有候有數），必煉至大靜大定，氣足神完，火珠不現，小丹凝結而後已焉。</p>
<p>此係築基、得藥、結丹三層口訣，後尤有四層天機，不能一口道盡。歷來仙師授受，皆系如此。果然功行至此，人仙之果證矣。以後用功與男子無異。但女屬靜體，後四層雖與男丹同其運用，而其建功更速矣。</p>
<p>真師總批：凡孀婦、貞女、烈婦，能立定真正志節，始終如一，受魔不退，至死不變，貧富不移，堅貞不二，乃可授此三層妙法。循序漸進，暗有仙真護持，一切內外妖魔，不敢擾害，終期大成。至於有夫之婦，人事未了，切勿妄傳。只宜勸伊養性寡欲，孝姑敬夫，待時而傳。倘恂情輕授，確有可據，無一毫妄誕之語，倘恍之論。實是天機不可輕泄，得其傳者俱系前緣。慎之，珍之！</p>

<h2>（二）</h2>
<p>午是陰之根，子乃陽之苗。男子外陽而內陰，女子外陰而內陽。男子奪外陽而點內丹，女子奪內陰而點外丹也。</p>
<p>女子行功，第一要明採身中之陰，補身中之陽。陽者，精與氣也。陰者，神與血也。採於何時，須知月信將潮之時，與月信潮盡之候。夫信者何？如人出外未歸，而信先至也。信至潮未至之時，急忙用功：或盤膝大坐，或觀音半坐，俟身中神氣發功，迴光返照乳房穴及血海，鼻息調勻；將所動之神氣，用真意（即黃婆）從血海升入曹溪，一路直達囟門，由上降下到乳房，而仍歸於中極。但此法不可妄用（信來而潮未來之時可用，在兩日之半潮儘可用）。若潮信未淨，妄行採取，必至殺身，謹記此法。</p>
<p>少年血氣旺者，心地靜者，三月之久，便可斬赤龍而復還童體，面如桃花。如果功到此時，與醉漢相似，昏昏默默，晝夜光明不散；行持一年，基可築固，而人仙之功程驗矣。</p>
<p>中年婦女修煉，須用「太陰煉形之法」。夫行此法者，須除思去欲，忘情絕慮，方行此道。算定某日某時月信至，未至前二三日，即宜靜養。待至信到，於靜室內調息端坐，兩手放膝前，用食指𢬻子午上如拳，閉目存神，調息內觀，由乳房照血海，候至真陰之氣發動，乃行鍛鍊之功。若此段工夫。要分真假清濁，如煉假陰濁氣，必成疾病，醫藥罔效。果然真陰發動，周身如綿，醉漢相似。此時，血海中如魚吸水一般，其樂景有不可以言語形容者。斯為真陰發現之真境也。此景一到，即用真意引過夾脊，上玉枕，透泥丸，過雀橋，下重樓，入乳房，而仍歸於中極血海也。</p>
<p>倘若體衰氣弱，二三月之久，真陰毫無動機，無可如何，方用作為之功：先將右乳揉轉十二次，後揉左乳十二次，摩臍腹三十六次，口中咽津液三次，咽畢仍照前回光返照，虛極靜篤以守之。如此，每日子午二時行持不怠，不上一月，自有動機，則可採煉。至真陰盡化為陽氣，乳頭縮而赤龍斬，變成男體，則真陰煉形之功畢矣。</p>
<p>詩曰：面如桃花膚似雪，到此赤龍永斷絕，清靜法身本無塵，功滿飛昇朝玉闕。</p>

<h2>（三）</h2>
<p>丹基既成，而還丹可冀，赤龍一斬，陰血盡化陽氣，在丹田血海之中不能久住，必要過關方成法身。此時身熱如火，氣騰如珠，方用還丹之功，與男子之功無異也。若還至丹田祖竅，方用周天煉藥之功夫。</p>
<p>玄關一竅，萬神萬氣之祖也，內有先天之祖氣，會合凝結。宜呼吸綿綿，一意守之不散，二氣自然交合，八脈自然流通，仙胎自然結成。再往向上之功，三年練己，已成大還而結聖胎，仙胎結成，十月火候煉足，嬰兒自現：或聞絃歌絲竹之聲；或暗室生白；未來之事，他人之心，毫無隔滯，觸景便知。到此可以造就身外之身。任他諸般景界，不可著他，不可懼他。我只一心守中，面壁九年，候陰盡陽純，形神俱妙，與道合真，待詔飛昇，永為王母之眷屬，脫卻塵世之輪迴矣。算來不過數年辛苦，竟成億萬年之快樂。斯世之婦女思之，又何憚而不為哉。</p>

<h2>（四）</h2>
<p>呂祖曰：可笑世間學道人，論天論地講修行。天機妙訣都不曉，三家藥物未分明。不煉爐中真造化，難免苦海墮沉淪。我今傳你三教理，說段修行妙訣功。先講天文並地理，天地三才要精通，男子修行伏白虎，女子修行斬赤龍。天地周流分度數，日月循還運化工。五千四八歸黃道，金木水火轉相逢。女子原是太陰體，須知太陰妙化工。每日右旋十三度，二日半後行一宮，一月運行周天畢，女子氣候亦相同。要知金丹真口訣，天人造化本相通。會得其中真妙竅，晦朔弦望仔細窮。一月運周機先動，兩日半後即下功。若人識得天機妙，何愁女功不玲瓏。再有一段真金訣，須共神仙仔細論。七星寶劍西南掛，雙林樹下運轉輪，盤中寶珠顆顆現，一支白牛透崑崙。百尺竿頭忙撒手，騎牛趕月伴老僧。又撞金鐘無影寺，六月滴水化成冰。沒絃琴音奏三疊，無孔笛吹出八音。木母伴作木馬走，金公又隨金烏行。二人翻江並倒海，看看要到高峰亭。灑了一點真甘露，忽然七孔放光明到此一步緊一步，切莫擾亂並因循。待他一點來歸壺，二五凝結始圓明。若問此歌何人作？兩口傳來度女貞。其中妙理悉包盡，莫負我今苦叮嚀。</p>

<h1>女丹要言</h1>
<p>精氣三華自不衰，清空紫氣仰成規。</p>
<p>金丹九轉元君煉，壽似黃安坐寶龜。</p>
<p>清空紫氣之文，元君之所授也。黃安坐龜，人問幾時坐起？答曰：此龜畏日月之光，三十年出頭一次。我坐是龜，見三出頭矣。</p>
<p>汝等不明，老陽無生息。吾有一譬：如月之初三是蛾眉，到五六日仍圓者也。婦人修煉，如男子一樣，難得者是皎潔。須知婦人之欲，過於男子。或到經水已過之後，其心如蓮之初放，乘天之雨露，才結其實。婦人若無男子，是孤陰矣。孤陰不生。蓮花若不受雨露之恩，縱得之沃土，終歸無用。天之雨露非為萬物發生計，不虛此一舉乎。雨露不受於萬物，是獨陽不長矣。夫道，即物可證，隨事可通，淺淡云為，皆具至理，無如人不思而通之耳。</p>
<p>婦女可以按摩之法用之。當早起靜坐一刻，以右手向內按定心，左一手在腹臍撫摩二十下，隨手摩至腰，一揉一拍。左手按心，右手撫摩；右手按心，左手撫摩。兩手在腰，一揉一拍。後再用兩手擦熱，面上一擦，兩手摩至兩耳，一按一彈，彈後隨揉至兩肩一捻，運動津液嚥下，腰一伸立起，兩手一抄，走數步，再出外做事可也。晚間亦如此做。照服丸：</p>
<p>首烏（二兩）　核桃（二兩）　麥冬（一兩）　熟地（兩半）　補骨脂（六分）　砂仁（三分）　杜仲（八分）　天冬（一兩）　生薑（三分）</p>
<p>上藥八味，共研細末，以豬脂（豬脂，豬油也。吃葷者用豬脂，吃素者用人乳或牛乳、羊乳均可。乳即酥也，非葷也，西北人所謂奶子茶者即此。能令人壯精神，潤顏色，黑髮延年。佛祖在雪山苦行時食之，故至今佛門不忌。若假酥油，則多羊油矣，不如用人乳為是）半斤和為丸，服一月，精神強健，黑髮延年，非它藥可比。每月逢寅、午、申、亥日，用水一碗，稱藥三分，早起向東吸生氣三口嚥下；向西方吸氣一口。吞下之後，任憑應酬事件。</p>
