<header data-type="book">
<h1>內經難字音義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陸懋修</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1884">公元1884年</data></dd></div>
<div><dt>品質</dt><dd>70%</dd></div>
<div><dt>底本</dt><dd>*《陸懋修醫學全書》，中國中醫藥出版社1999年據清光緒十年（1884）《世補齋醫書》校刊，ISBN：7801560124。</dd></div>
</dl>
</header>

<h1>弁言</h1>
<p>陸丈九芝，窺鑽醫學，愍俗醫不明古訓詰屈難讀，束閣不觀，甚者又竄易篇弟，損改舊文，使軒岐古書瘢纇遍體，二千年來，幾至墜𢇍。因鑽成《內經難字音義》一卷，爬梳理董於形聲通假之故，塙有會心。如《素問·四氣調神大論》：腎氣獨沈。據《周禮》壺涿氏先鄭注，謂「獨」、「濁」古通。「平人氣象論」：前曲後居。據《漢書·郅都傳》注，謂「居」與「倨」同。「刺腰痛論」：至頭𠘧𠘧然。據《說文》，言𠘧讀若殊。「痿論」：主閏宗筋。據徐楚金《系傳》：閏之言撋，謂閏當作煩撋解。凡此諸條皆極審諦，非王冰舊釋所能及。然則先生殆醫經之陸元郎乎。</p>
<p class="行尾對齊 行尾縮進2字"><b>光緒十年倉龍甲申相月，世愚侄長洲王頌蔚</b></p>

<h1>《靈樞》</h1>

<h2>九針十二原第一</h2>
<p>針：職深切。本作「針」，亦作「箴」。《史記·扁鵲傳》：厲針砥石。《索隱》：針音針。《一切經音義》引《聲類》：針今作「針」。《山海經·東山經》：高氏之山，其下多箴石。注：可以為砥針，治癰腫者。</p>
<p>其空：空，苦動切。與「孔」通。《史記·五帝紀》：舜穿井為匿空旁出。《索隱》：音孔。《正義》：言舜潛匿穿孔，旁從他井而出也。《後漢書·章帝紀》：方空谷。注：空，孔也。《內經》空字多有作孔字解者，舉此例之。</p>
<p>宛陳：宛，紆勿切。與「菀」、「苑」、「郁」通。《甲乙經》作「苑」。《素問·針解論》亦作「苑」。《禮·內則》：兔為宛脾。注：宛，或作郁。《史記·倉公傳》：寒濕氣宛。《集解》：音郁。陳，《漢書·食貨志》陳陳相因。注：陳謂久舊也。《素問·奇病論》：治之以蘭，治陳氣也。注：陳謂久也。</p>
<p>補寫：寫，悉姐切。與「瀉」通。《周禮》：稻人以澮寫水。</p>
<p>內之：內，奴對切。古入字通作內。《說文》：內，入也。自外而入也。《禮·月令》：無不務內。《呂氏春秋·季秋紀》：作務人。《左·襄九年傳》：以出內火。《漢書·五行志》引作「以出入火」。本經「小針解」：徐內而疾出，疾內而徐出。</p>
<p>蚊虻：蚊，亦作「𧓹」。虻，武庚切。亦作「蝱」。《說文》：𧓹，齧人飛蟲。</p>
<p>腧：傷遇切。本作「俞」，亦作「輸」。《素問·咳論》：治臟者治其俞。注引《靈樞》：脈之所注為俞。本經作「腧」。《素問·奇病論》：治之以膽募俞。注：胸腹曰募，背脊曰俞。按：五臟各有井、滎、俞、經、合五穴，謂之五俞。六腑各有井、滎、俞、原、經、合六穴，謂之六俞。</p>
<p>鑱：鋤銜切。《史記·扁鵲傳》：鑱石撟引。《索隱》：鑱謂石針也。</p>
<p>鍉：都奚切。《玉篇》：鋒也。</p>
<p>鈹：敷羈切。《說文》：鈹，大針也。《廣雅·釋器》：鑱謂之鈹。《三國志》注「華佗別傳」：令弟子數人，以鈹刀決脈。</p>
<p>氂：莫袍切。《說文》：氂，犛牛尾也。《一切經音義》引「三倉」：氂，毛也。</p>
<p>喙：許穢切。《說文》：喙，口也。《一切經音義》引《通俗文》：獸口曰喙。又，《方言》：喙，息也。《國語·晉語》：獻子傷曰，余病喙。注：喙，短氣貌。義別。</p>
<p>痺：必至切。本作「痹」。《一切經音義》引《蒼頡訓詁》：痺，手足不仁也。《漢書·藝文志》：痺十二病方三十卷。注：痺，風淫之病。</p>
<p>溜：力救切。《一切經音義》引《蒼頡篇》：溜謂水下垂也。《素問·陰陽別論》：陰陽相過曰溜。</p>
<p>滎：戶扃切。《說文》：滎，絕小水也。按：五臟各有井、滎、腧、經、合五穴。</p>
<p>四末：《左·昭元年傳》：風淫末疾。注：末，四肢也。《禮·樂記》：奮末廣賁之音作。注：奮末，動使四支也。</p>
<p>肓：乎光切。《說文》：肓，心下鬲上也。《左·成十年傳》：居肓之上。注：肓，鬲也。</p>
<p>脖胦：脖，蒲沒切。胦，於良切。《甲乙經》：氣海穴一名脖胦，在臍下。</p>

<h2>本輸第二</h2>
<p>輸：傷遇切。與「腧」通。《史記·扁鵲傳》：五臟之輸。《正義》：十二經皆以輸為原。</p>
<p>廉：力監切。《說文》：廉，仄也。《九章算術》：邊謂之廉。《儀禮·鄉飲酒禮》：設席於堂廉東上。注：側旁曰廉。</p>
<p>踝：胡瓦切。《說文》：踝，足踝也。《急就篇》：𬧅踝跟踵相近聚。注：踝，足之內外踝也。《釋名》：踝，確也。居足兩旁，磽确然也。《大藏音義》引《聲類》：踝，足外附骨也。內外為四踝。</p>
<p>輔骨：《素問·骨空論》：骸下為輔。又，《說文》：輸，人頰車也。《廣雅·釋親》：輔謂之頰。義別。</p>
<p>膕：古獲切。《廣雅·釋親》：膕，曲腳也。《荀子·富國篇》：詘要橈膕。注：膕，曲腳中。《素問·骨空論》：輔上為膕。「至真要大論」：膕如結。注：膕為膝後曲腳之中也。</p>
<p>俠谿：俠，胡類切。與「挾」通。《漢書·孫叔通傳》：殿下郎中俠陛。注：俠與「挾」同。《釋名》：挾，夾也，夾在旁也。《內經》挾字多作「俠」，舉此例之。谿，苦奚切。《素問·氣穴論》：肉之小會為谿。《甲乙經》：俠谿穴在足指次指二歧骨間。</p>
<p>跗：甫無切。亦作「趺」。《儀禮·士喪禮》：乃屨綦結於跗連絇。注：跗，足上也。疏：謂足背也。《文選》束皙「補亡詩」：白華絳跗。注：跗與「趺」同。</p>
<p>胻：戶庚切。亦作「䯒」。《說文》：胻，脛耑也。《廣雅·釋親》：胻，脛也。《史記·龜筴傳》：壯士斬其胻。《集解》：胻，腳脛也。</p>
<p>所將：《廣雅·釋詁》：將，行也。本篇「將兩臟」，義同。</p>
<p>腨：市兗切。亦作「𬧅」、「膊」。《說文》：腨，腓腸也。《大藏音義》引《文字集略》：腨，脛之腹也。《素問·至真要大論》：腨如別。注：腨，䯒後軟活處也。按：即今俗所謂腿肚者是。</p>
<p>閉癃：癃，立中切。亦作「𤸇」。《素問·宣明五氣篇》：膀胱不利為𤸇。又，《說文》：癃，罷病也。義別。</p>
<p>呿：近倨切。亦作「㰦」。《玉篇》：張口貌。《莊子·秋水篇》：公孫龍口呿而不合。《釋文》引司馬注：呿，開也。《一切經音義》引《通俗文》：張口運氣謂之欠㰦。本經「經脈篇」：虛則欠㰦。</p>
<p>欠：去劍切。《說文》：欠，張口氣悟也。《釋名》：欠，嶔也。開張其口作聲，唇嶔嶔然也。</p>
<p>痿：於為切。《說文》：痿，痺也。《呂氏春秋·孟春紀》：多陰則蹷，多陽則痿。注：痿躄，不能行也。《漢書·哀帝紀》「贊」：即位痿痺。注引如湻曰：病兩足不能相過曰痿。「韓王信傳」：如痿人之不忘起。注：痿，風痺病也。《素問·痿論》：大經空虛，發為肌痺，傳為脈痺。</p>

<h2>小針解第三</h2>
<p>著：直略切。附也。《漢書·賈誼傳》：如黑子之著面。</p>
<p>佖：毗必切。《漢書·楊雄傳》「羽獵賦」：駢衍佖路。注：佖，滿也。</p>
<p>怳：許訪切。亦作「恍」。《楚辭》宋玉「登徒子好色賦」：怳若有望而不來。注：怳，失意貌。</p>
<p>濇：所力切。亦作「澀」。《說文》：濇，不滑也。《素問·至真要大論》：短而濇。注：來往不利是謂濇也。</p>
<p>滲：所禁切。《說文》：滲，下漉也。《漢書·司馬相如傳》「封禪文」：滋液滲漉。注：滲漉，謂潤澤下究。「楊雄傳·河東賦」：澤滲灕而下降。注：滲漓，流貌。又，《素問·至真要大論》：淡味滲泄為陽。義別。</p>

<h2>邪氣臟腑病形第四</h2>
<p>湊：倉奏切。亦作「腠」。《史記·扁鵲傳》：君有疾在腠理。《正義》：腠，音湊。謂皮膚。《文心雕龍·養氣篇》：湊理無滯。《素問·舉痛論》：寒則腠理閉。注：湊，謂津液滲泄之所。</p>
<p>淖：奴教切。《爾雅·釋言》《釋文》引《字林》：淖，濡甚也。《廣雅·釋詁》：淖，濕也。</p>
<p>若：猶及也。《漢書·高帝紀》：若一郡降者，封萬戶。注：若者，豫及之辭。《後漢書·陳忠傳》：若它郡縣。注：若，及也。《內經》若字多有作「及」字解者，舉此例之。</p>
<p>煄：之隴切。《甲乙經》作「熏」。</p>
<p>灑淅：灑，所買切。亦作「灑」。《素問·調經論》：灑淅起於毫毛。注：灑淅，寒貌。「風論」：腠理開則灑然寒。注：灑然，寒貌。本經「經脈篇」：洒洒振寒。《傷寒論》：灑淅惡寒。</p>
<p>賁而起：賁，符分切。《穀梁·僖十年傳》：覆酒於地而地賁。注：賁，沸起也。《甲乙經》：賁作「大」。</p>
<p>瘈瘲：瘈，尺制切。亦作「瘛」。瘲，子用切。《急就篇》：癰疽瘛瘲痿痹痮。注：瘈瘲，小兒之疾，即今癇病也。《漢書·藝文志》：瘈瘲方三十卷。按：瘈之言掣，瘲之言縱。即今俗所謂抽掣搐搦之證。</p>
<p>喉吤：吤，居拜切。《集韻》：聲也。《甲乙經》作，「喉吤吤」。</p>
<p>噦：於月切。《說文》：噦，氣牾也。《一切經音義》引《通俗文》：氣逆曰噦。按：噦與乾嘔、咳逆、噫噎並異，即今俗所謂打呃者是。</p>
<p>消癉：癉，都寒切。《爾雅·釋詁》：癉，勞也。《史記·倉公傳》：風癉客脬。《索隱》：癉，病也。《素問·脈要精微論》：癉成為消中。注：癉，謂濕熱也。又。得案切。亦作「疸」。《漢書·嚴助傳》：南方暑濕，近夏癉熱。注：癉，黃病。《山海經·西山經》：翼望之山有獸，名曰讙，服之已癉。注：黃癉病也。義微別。</p>
<p>維：脈名。按：《難經》奇經八脈有陽維、陰維，陽維維於陽，陰維維於陰。</p>
<p>顛：與「癲」、「瘨」通。《甲乙經》作「癲」。《廣雅·釋詁》：瘨，狂也。《急就篇》：疝瘕顛疾狂失響。注：顛疾性理顛倒失常也。本經有「癲狂篇」，《素問·腹中論》：石藥發瘨，芳草發狂。注：多喜曰瘨，多怒曰狂。</p>
<p>息肉：亦作「瘜」、「𦞜」。《一切經音義》引「三蒼」：瘜，惡肉也。《方言》：䑄𦞜也。注：謂息肉也。</p>
<p>瘻：盧候切。《說文》：瘻，頸腫也。《山海經·中山經》：合水多𤠾魚，食之不癰，可以已瘻。注：瘻，癰屬也。中多有蟲。《素問·生氣通天論》：陷脈為瘻。</p>
<p>息賁：賁，博昆切。《難經·五十六難》：肺之積名曰息賁。</p>
<p>痠：素官切。與「酸」通。《廣雅·釋詁》：痠，痛也。《金匱方論》：虛勞四肢痠疼，小建中湯主之。《素問·刺熱論》：先腰痛䯒痠。</p>
<p>瘕：古牙切。《說文》：瘕，女病也。《素問·大奇論》：三陽急為瘕。注：血凝為瘕。</p>
<p>衂：女六切。本作「衄」。《說文》：衄，鼻出血也。</p>
<p>㿉疝：㿉，杜回切。亦作。「隤」、「頹」、「㿗」。《甲乙經》作「㿗」。《集韻》引《蒼頡篇》：㿗，陰病。《釋名》：陰腫曰㿉，氣下隤也。《素問·陰陽別論》：三陽為病，發寒熱，其傳為頹疝。「至真要大論」：陽明之勝，外發㿗疝。</p>
<p>後沃沫：後，大便也。詳下「不得前後」條。沃，烏酷切。《文選》張衡「西京賦」：地沃豐薛。注：沃，肥也。沫，莫撥切。《莊子·至樂篇》：干余骨之沫為斯彌。《釋文》引李注：沫，口中汁也。按：後沃沫，謂大便下肥汁也。《素問·五常政大論》：赤沃下。「至真要大論」：少陰之勝，傳為赤沃。少陽之勝，下沃赤白。注：沃，沫也。</p>
<p>瘚：居月切。《甲乙經》作。「厥」。《說文》：瘚，屰氣也。</p>
<p>蛕蠍：蛕，胡恢切。亦作「蚘」。《說文》：蛕，腹中長蟲。蠍，胡葛切。《說文》：蠍，蝤蠐也。《爾雅·釋蟲》：蠍蛣𧌑。注：木中蠹蟲。</p>
<p>不得前後：《太元元數》云：九竅一六為前，五五為後。《史記·倉公傳》：令人不得前後溲。《索隱》：前溲謂小便，後溲謂大便也。</p>
<p>嗌：伊昔切。《說文》：嗌，咽也。《穀梁·昭十九年傳》：嗌不容粒。注：嗌，喉也。《素問·至真要大論》：嗌塞而咳。注：嗌謂喉之下，接連胸中肺兩葉之間者也。</p>
<p>陰痿：《史記·五宗世家》：膠西王端陰痿。《正義》：不能御婦人。</p>
<p>腄腄：腄，竹垂切。《甲乙經》作「垂」。</p>
<p>不月：《素問·陰陽別論》：二陽之病發心脾，女子不月。按：不月，謂月事不來也。</p>
<p>痔：直里切。《說文》：痔，後病也。《素問·生氣通天論》：腸澼為痔。《釋名》：痔，食也。蟲食之也。</p>
<p>痏：榮美切。《文選》張衡，「西京賦」：所惡成瘡痏。薛注：瘡痏，謂瘢痕也。《素問·繆刺篇》：去端如韭葉各一痏。注：痏，瘡也。</p>
<p>腧申：《甲乙經》作「揄伸」。揄，余招切。詳下《素問》「揄臂」條。伸，《廣雅·釋詁》：申，伸也。伸展也。</p>
<p>䐜：昌真切。《說文》：䐜，起也。《玉篇》：引《埤蒼》：䐜，引起也。</p>
<p>控睪：控，苦貢切。睪，古勞切。與「皋」通。《素問·至真要大論》：民病少腹控睪，引腰脊上衝心痛。注：控，引也。睪，陰丸也。</p>
<p>澹澹：澹，徒鑑切。《說文》：澹，水搖也。《素問·刺熱論》：其逆則項痛員員澹澹然。注：澹澹，為似欲不定也。</p>
<p>灸：居祐切。《說文》：灸，灼也。《素問·異法方宜論》：其治宜灸焫。注：火艾燒灼謂之灸焫。《史記·倉公傳》：形弊者，不當關灸鑱石。</p>
<p>針染於巷：染，如檢切。《漢書·司馬相如傳》：「子虛賦」：割鮮染輸。注引李奇曰：染，擩也。師古曰：擩，搵也。《大藏音義》引《考聲》：染，著也。《六書故》：搵，指按也。則染有按、著二義。巷，亦作「衒」。《說文》：巷，里中道也。《大藏音義》引《韻英》：巷，小街也。按：《素問·氣府論》：氣街動脈各一注。氣街，穴名也。此言中氣穴，則巷字當與「街」字義近。</p>

<h2>根結第五</h2>
<p>鉗耳：鉗，巨淹切。《甲乙經》作「鉗大者，耳也」。</p>
<p>膲：即消切。《淮南子·天文訓》：月死而贏蛖膲。注：膲，肉不滿。讀若「物醮炒」之「醮」也。又，《廣韻》：人之三焦。義別。</p>
<p>繇：余招切。《史記·蘇秦傳》：莫不盡繇。《索隱》：繇，搖動也。《素問·氣交變大論》：筋骨繇復。注：繇，搖也。</p>
<p>膻：徒旱切。《說文》：膻，氣海也。在兩乳中間。</p>
<p>代：脈形也。《傷寒論》：脈來動而中止，不能自還，因而復動者名曰代。</p>
<p>慓：撫招切。《說文》：慓，急也。《廣雅·釋詁》同。</p>
<p>膏梁：梁與「粱」通。《素問·通評虛實論》：肥貴人則高梁之疾也。注：梁，粱米也。</p>
<p>充郭：郭，古博切。《釋名》：郭，廓也。《方言》：張小使大謂之廓。《素問·湯液醪醴論》：津液充郭。本經「脹論」：排臟腑而郭胸脅。《甲乙經》郭作「廓」。</p>
<p>㒤闢：㒤，尺涉切。按：當與『聶」、「攝」通。闢，房益切。《素問·調經論》：聶闢氣不足。注：聶謂聶皺，闢謂闢疊也。《甲乙經》作「㒤闢」。林校據《太素》作「攝闢」。</p>
<p>薄著：薄，旁谷切。《廣雅·釋言》：薄，附也。</p>

<h2>壽夭剛柔第六</h2>
<p>䐃：渠隕切。《玉篇》：腹中䐃脂也。</p>
<p>怫愾：怫，符弗切。《說文》：怫，郁也。《漢書·鄒陽傳》：太后怫鬱。注：怫鬱，蘊積也。愾，苦愛反。《廣雅·釋詁》：愾，滿也。</p>
<p>不仁：《素問·風論》：衛氣有所凝而不行，故其肉有不仁也。注：不仁謂𤸷而不知寒熱痛癢。「痹論」：皮膚不營故為不仁。注：不仁者，皮頑不知有無也。</p>
<p>焠：士內切。《史記·天官書》：火與水合為焠。《荀子·解蔽篇》：有子惡臥而焠掌。注：焠，灼也。《素問·調經論》：焠針藥熨。注：焠針，火針也。</p>
<p>熨：紆物切。本作「叞」。《史記·扁鵲傳》：案扤毒熨。《索隱》：謂毒病之處以藥物熨貼也。</p>
<p>㕮咀：㕮，方矩切。咀，慈呂切。《廣韻》：㕮，咀嚼也。《本草綱目》注：李杲曰，㕮咀，古制也。古無刀，以口齧細，令如麻豆，煎之。</p>
<p>馬矢熅：矢，亦作「屎」。熅，於云切。《說文》：熅，郁煙也。《漢書·蘇武傳》：置熅火。注：熅，聚火無焱者也。按：此謂燒馬矢郁煙，置盛酒器於中也。</p>
<p>晬：子對切。《類篇》：晬，時者。周時也。</p>

<h2>官針第七</h2>
<p>支為大膿：支，亦作「榰」、「搘」。《爾雅·釋言》：榰，柱也。《釋文》作「搘拄」。《國語·周語》：天之所支不可廢也。注：支，拄也。《甲乙經》作「反為大膿」。</p>

<h2>本神第八</h2>
<p>淫泆：泆，夷質切。《說文》：泆，水與蕩泆也。《書·多士》：誕淫厥泆。</p>
<p>悗：母本切。《莊子·大宗師篇》：悗乎忘其言也。《釋文》引李注：悗，廢忘也。又，與「懣」通。《說文》：懣，煩也。《甲乙經》作「悶」。</p>
<p>攣：呂員切。《說文》：攣，系也。《素問·皮部論》：寒多則筋攣。注：攣，急也。</p>
<p>涇溲不利：《素問·調經論》：形有餘則腹脹涇溲不利。注：涇，大便。溲，小便也。林校據楊上善云：涇作「經」，婦人月經也。</p>
<p>喘喝：喘，昌兗切。《說文》：喘，疾息也。喝，於犗切。《玉篇》：嘶聲。《後漢書·張酺傳》：聲音流喝。注引《廣蒼》：喝，聲之幽也。本經「經脈篇」：喝喝而喘。《金匱方論》：蝕於上部則聲喝。</p>

<h2>終始第九</h2>
<p>將以甘藥：《詩·周頌》：我將我享。箋：將，猶奉也。</p>
<p>膊：補各切。本作「髆」。《儀禮·少牢》「饋食禮」：不升肩臂臑膊骼。</p>
<p>為齊：《易·繫辭》：齊大小者存乎卦。注：齊，猶言變也。</p>
<p>繆刺：繆，靡幼切。《素問·繆刺論》：故絡病者，其痛與經脈繆處，故命曰繆刺。按：謂左刺右，右刺左也。</p>
<p>反折：折，食列切。《廣韻》：斷而猶連也。《禮·月令》：視折審斷。蔡邕《章句》：骨曰折。</p>
<p>舌卷：卷，巨員切。《莊子·徐無鬼篇》：有卷婁者。《釋文》：卷婁，猶拘攣也。</p>
<p>噫：烏介切。《說文》：噫，飽食息也。《文選》司馬相如「長門賦」：心憑噫而不舒兮。注引《字林》：噫，飽出息也。</p>
<p>燋：即消切。與「焦」通。《漢書·霍光傳》：燋頭爛額為上客。</p>

<h2>經脈第十</h2>
<p>臑：那到切。《廣韻》：臂節。《儀禮·少牢》「饋食禮」：肩臂臑。注：臑，肱骨。</p>
<p>膨膨：膨，薄庚切。亦作「彭」。《玉篇》：膨，朜脹貌。《甲乙經》：心膨膨痛，尺澤主之。胸中膨膨然，邱墟主之。《脈經》：肺實胸中滿，膨膨與肩相引。</p>
<p>瞀：莫候切。《楚辭》屈原「九章」：中悶瞀之忳忳。注：瞀，亂也。《莊子·徐無鬼篇》：予適有瞀病。《釋文》引李注：瞀，風眩貌。</p>
<p>髃：過俱切。又，五口切。亦作「腢」。《說文》：髃，肩前也。《六書故》引《字林》：髃，肩前兩乳間骨也。《急就篇》：胂腴胸肋喉咽髃。注：髃，肩前也。</p>
<p>鼽：巨鳩切。《說文》：鼽，病寒鼻窒也。《禮·月令》：民多鼽嚏。《一切經音義》引《通俗文》：鼽鼻曰齆。</p>
<p>⿰安真：烏葛切。《說文》：⿰安真，鼻莖也。《孟子》：疾首蹙⿰安真。</p>
<p>客主人：穴名。《甲乙經》：上關穴一名客主人，在耳前上廉起骨端。</p>
<p>顱：落胡切。亦作「盧」。《說文》：𩑒顱，首骨也。《廣雅·釋親》：𩑒顱謂之髑髏。《漢書·武五子傳》「贊」：頭盧相屬於道。注：盧，額骨也。</p>
<p>髀：並弭切。《說文》：髀，股也。《春秋·元命苞》：髀之為言跂也。陰二，故人兩髀。《漢書·賈誼傳》：至於髖髀之所。注：髀，股骨也。</p>
<p>臏：毗忍切。亦作「髕」。《說文》：臏，膝耑也。《文選》潘岳「西征賦」：狙潛鈆以脫臏。注引敦璞《三蒼解詁》：臏，膝蓋也。</p>
<p>骭：古案切。《說文》：骭，骹也。《爾雅·釋訓》：骭瘍為微。注：骭，腳脛。《淮南子·俶真訓》：易骭之一毛。注：自膝以下脛以上也。</p>
<p>喎：苦緺切。亦作「咼」。《說文》：喎，戾不正也。《一切經音義》引《通俗文》：斜戾曰喎。</p>
<p>胗：章忍切。籀文作「疹」。《說文》：胗，唇瘍也。《廣雅·釋詁》：胗，腫也。宋玉「風賦」：中唇為胗。《一切經音義》引「三蒼」：胗，腫也。</p>
<p>得後與氣：按：得後，謂得有屎也。與「不得前後」句義同。氣，謂失氣。《廣韻》：䊧失氣，即此今俗作屁。</p>
<p>溏：徒郎切。《廣雅》言溏淖也。《一切經音義》引《通俗文》：和溏曰淖。</p>
<p>肩解：解，古隘切。《漢書·賈誼傳》：所排擊割剝，皆眾理解也。注：解，支節也。《素問·氣穴論》：內解寫於中者十脈。注：解，謂骨解之中經絡也。</p>
<p>胛：古狎切。《後漢書·張宗傳》：中予貫胛。注：胛，背上兩膊間。</p>
<p>⿰出真：職悅切。《廣韻》：面秀骨。《急就篇》：頭⿰各真⿰安真⿰出真眉目耳。注：⿰出真，兩頰之權也。《素問·至真要大論》：齒痛⿰出真腫。又，與「准」通。《玉篇》：漢高隆⿰出真龍顏史漢皆作準。注：鼻也。義微別。</p>
<p>頷：胡感切。《方言》：頷，頤領也。南楚謂之頷。《釋名》：頤或曰頷車。頷，含也。口含物之車也。</p>
<p>髆：補各切。亦作「膊」。《說文》：膊，肩甲也。《漢書·武帝紀》：立皇子髆為昌邑王。注：許慎以為肩髆字。</p>
<p>踹：市兗切。《玉篇》：足跟也。《淮南子·人間訓》：追者至踹足而怒。注：踹足，躍足也。</p>
<p>䪿：足晉切。亦作「囟」、「顖」。《說文》：囟，頭會腦蓋也。《玉篇》：頂門也。《孔子家語·本命解》：三年顖合，然後能口。</p>
<p>尻：苦刀切。《廣雅·釋親》：尻，臀也。《一切經音義》引「三蒼」：尻，髖也。《禮·內則》：兔去尻。</p>
<p>邪走：邪與「斜」通。《甲乙經》作「斜趨」。</p>
<p>䀮䀮：䀮，呼光切。《玉篇》：目不明。《脈經》：腎實目視䀮䀮，瞻虛目黃，失睛䀮䀮。</p>
<p>腸澼：澼，普擊切。亦作「闢」。《素問·太陰陽明論》：賊風虛邪入五臟久為腸澼。「陰陽別論」：陰陽虛，腸闢死。注：闢，陰也。林校據全元起本作「澼」。</p>
<p>憺憺：憺，徒濫切。《漢書·李廣傳》：威稜憺乎鄰國。注引李奇曰：憺，猶動也。</p>
<p>銳眥：眥，在詣切。《說文》：眥，目厓也。《列子·湯問篇》：拭眥揚眉而望之。《釋文》：目際也。本經「癲狂篇」：目眥外決於面者為銳眥，在內近鼻者為內眥。</p>
<p>髀厭：厭，於葉切。與「壓」通。《說文》：厭，笮也。按：笮義同窄，謂狡窄處也。《素問·氣穴論》：兩髀厭分中二穴。注：謂環跳穴也。本經「腸胃篇」：會厭。《素問·氣穴論》：兩骸厭。《甲乙經》：頷厭穴。又，瘖門穴，一名舌厭。義並同。</p>
<p>馬刁俠癭：本經「癰疽篇」：其癰堅而不潰者，為馬刁俠癭。《甲乙經》作「馬刀」。《金匱方論》：痹俠背行，若腸鳴、馬刀俠癭者，皆為勞得之。《甲乙經》：胸滿馬刀臂不得舉，淵腋主之。馬刀腫瘻，章門、支溝主之。俠與「挾」通。癭，於郢切。《說文》：癭，項瘤也。《博物志》：山居之人多癭腫疾。《釋名》：癭，嬰也。在項嬰喉下也。</p>
<p>頏：胡郎切。亦作「骯」、「亢」。《史記·陳余傳》：乃仰絕骯。《索隱》引蘇林雲：骯，頸大脈也。《漢書·婁敬傳》：不搤其亢。注引張晏曰：亢，喉嚨也。</p>
<p>狐疝：《素問·四時刺逆從論》：厥陰滑則病狐疝風。林校據楊上善云：狐，夜不得尿，日出方得。人之所病與狐同，故曰狐疝。《金匱方論》：陰狐疝氣者，偏有大小，時時上下。</p>
<p>卒然：卒，倉沒切。《廣韻》：急也，遽也。《孟子》：卒然問曰。《史記·倉公傳》：其卒然合。</p>
<p>肬：羽求切。亦作「疣」。《說文》：肬，贅也。《釋名》：肬，邱也。出皮上聚高，如地之有邱也。《荀子·宥坐篇》：曾未如肬贅。注：肬贅，結肉。</p>
<p>痂疥：痂，古牙切。疥，古拜切。《急就篇》：痂疕疥癘癡聾盲。注：痂，創上甲也。疥，小蟲攻齧皮膚，漼錯如鱗介也。</p>
<p>齲：驅雨切。亦作「𤘐」。《釋名》：齲，齒朽也。蟲齧之齒缺朽也。《說文》：齲，齒蠹也。《史記·倉公傳》：齊中大夫病齲齒。《淮南子·說山訓》：斬木愈齲。</p>

<h2>經別第十一</h2>
<p>肛：古雙切。《史記·倉公傳》：肛門重十二兩。即廣腸之門。</p>
<p>顀：直追切。《甲乙經》作「椎」。《素問·刺熱論》：三椎下間主胸中熱。注：脊節之謂椎。又，《說文》：顀，出額也。義別。</p>

<h2>經水第十二</h2>
<p>壯數：《魏志·華佗傳》：若當炙不過一兩處，每處七八壯。按：艾炙一灼謂之壯。其數以壯人為則，羸者減之。《素問·骨空論》：炙法以年為壯數。</p>
<p>澠：余陵切。亦作「繩」。《春秋釋例》：澠水出齊國臨淄縣北，入時水。《水經注》引《左傳》作「繩」。</p>
<p>漯：他合切。亦作「濕」。《說文》：濕水出東郡東武陽入海。《書·禹貢》作「漯」。</p>
<p>痟：相邀切。與「消」通。《周禮》「疾醫」：春時有痟首疾。注：痟，酸削也。</p>

<h2>經筋第十三</h2>
<p>頄：巨鳩切。《廣韻》：頰間骨也。《易·夬卦》：壯於頄。注：頄，面權也。</p>
<p>䏚：弭沼切。《素問·骨空論》：䏚絡季脅，引少腹而痛。注：䏚謂俠脅兩旁空軟處也。</p>
<p>蹻：其虐切。脈名。本經「脈度篇」：蹻脈有陰陽。按：《難經》：奇經八脈有陽蹻、陰蹻。</p>
<p>以馬膏膏其急者：上膏如字。下膏，古到切。用以潤物也。《禮·內則》：脂膏以膏之。《左·襄十九年傳》：如百穀之仰膏雨，焉若嘗膏之。</p>
<p>結於齊：齊與「臍」通。《甲乙經》作「臍」。《釋名》：齊，劑也。腸端之所限劑也。</p>
<p>癎：戶間切。《一切經音義》引《說文》：癎，風病也。又，引《聲類》：小兒瘨曰癎。《後漢書·王符傳》：「潛夫論」：哺乳多則生癎病。</p>
<p>痙：巨郢切。《說文》：痙，強急也。《玉篇》：風強病也。</p>
<p>目瞑：瞑，莫經切。《說文》：瞑，翕目也。《廣韻》：合目瞑瞑。《後漢書·馬援傳》：甘心瞑目。</p>
<p>貫賁：賁，博昆切。《素問·脈要精微論》：內以候鬲。注：肝主賁。賁，鬲也。《難經·四十四難》：胃為賁門。</p>
<p>噼：普擊切。按：字書無「噼」字。《莊子·田子方篇》：口闢焉而不能言。《釋文》引司馬注：闢卷不開也。義相近。《甲乙經》作「僻」。</p>

<h2>骨度第十四</h2>
<p>𩩲𩨗：𩩲，胡葛切。𩨗，羽俱切。《廣雅·釋親》：𩩲𩨗，缺盆⿱弋肉也。《玉篇》、《廣韻》俱訓肩骨。按：據此經文「缺盆以下至𩩲𩨗長九寸」，則當在胸前。《甲乙經》：鳩尾穴一名𩩲𩨗，在臆前蔽骨下五分是也。</p>
<p>骶：都計切。《廣雅·釋親》：背謂之骶。《玉篇》：臀也。《素問·刺熱論》：榮在骶也。注：脊竅之謂骶。</p>

<h2>營氣第十六</h2>
<p>經隧：經與「徑」通。《廣雅·釋言》：經，徑也。隧，徐醉切。與「遂」通。《素問·調經論》：五臟之道皆出於經隧。注：隧，潛道也。</p>

<h2>營衛生會第十八</h2>
<p>陽隴：隴與「隆」通。《素問·生氣通天論》：日中而陽氣隆。注：隆猶盛也。高也。《史記·禮志》：是為大隆。《索隱》：隆者，盛也，高也。</p>
<p>夜瞑：瞑，莫賢切。與「眠」通。</p>
<p>泌：鄙密切。《史記·司馬相如傳》「上林賦」：偪側泌瀄。《索隱》引司馬彪曰：泌瀄，相楔也。又，引郭璞：泌音筆。按：此經文「泌糟粕」、下文「濟泌別汁」，泌義當與「潷」通。《一切經音義》引《通俗文》：去汁曰潷。</p>
<p>濟：濟與「擠」通。《國語·晉語》：二帝用師以相濟也。注：濟，讀若擠。《甲乙經》「濟泌」作「滲泄」。</p>

<h2>四時氣第十九</h2>
<p>㽷：釋類切。《集韻》：腫病。《甲乙經》作「水」。</p>
<p>筩：徒紅切。《廣雅·釋詁》：筩，長也。</p>
<p>癘風：癘，力制切。亦作「癩」。《說文》：癘，惡疾也。《山海經·西山經》：英山有鳥，名曰肥遺，食之已癘。注：癘，疫病也。或曰惡創。《素問·風論》：風之傷人也，或為癘風。癘者，有榮氣熱胕。其氣不清，故使其鼻柱壞而色敗，皮膚瘍潰。</p>
<p>燻：許云切。亦作「熏」。《列子·湯問篇》：燻則煙上。</p>

<h2>五邪第二十</h2>
<p>行善掣：掣，昌列切。亦作「𤸪」。《爾雅·釋訓》：掣，曳也。《釋文》本或作「𤸪」。《甲乙經》掣作「瘈」。《素問·氣交變大論》：行善瘈，腳下痛。</p>

<h2>寒熱病第二十一</h2>
<p>臘：思責切。亦作「昔」、「焟」。《說文》：昔，乾肉也。《釋名》：臘言干昔也。《廣雅·釋詁》：焟，干也。《易·噬嗑卦》：噬臘肉。</p>
<p>鞕：五爭切。亦作「硬」。《玉篇》：堅也。《一切經音義》引《通俗文》：物堅硬謂之磽确。又，引《字略》：強物堅曰硬。</p>
<p>瞋：昌真切。《說文》：瞋，張目也。《廣雅·釋詁》：瞋，張也。《莊子·秋水篇》：瞋目而不見邱山。又，與「嗔」通。怒也。義別。</p>
<p>腓：符非切。《說文》：腓，脛腨也。《易·艮卦》：艮其腓。疏：腓腸也。本文「腓者，腨也。」互詳前「腨」字條。</p>

<h2>癲狂第二十二</h2>
<p>悸：其季切。亦作「痵」。《說文》：悸，心動也。</p>
<p>顑：玉陷切。《廣韻》：長面也。本篇「狂耳妄聞，治之取兩顑」。《甲乙經》「顑」字皆作「頷」。《史氏音釋》作「口感切。飢黃起行。」失之。</p>
<p>漯漯：漯，他合切。《文選》木華「海賦」：𣽴濆淪而滀漯。注：滀漯，攢聚也。</p>
<p>唏：許即切。嘆聲。《史記·十二諸候年表》：紂為象箸，而箕子唏。《索隱》：唏，嘆聲也。</p>
<p>清：《莊子·人間世篇》：爨無欲清之人。《釋文》：清涼也。《素問·五臟生成論》：腰痛足清。注：清亦冷也。「五常政大論」：其候清切。注：大涼也。</p>

<h2>熱病第二十三</h2>
<p>痱：符非切。《說文》：痱，風病也。《漢書·賈誼傳》：又類闢且病痱灌夫。傳：即陽病痱。又，《一切經音義》引《字略》：痱癗，小種也。義別。</p>
<p>苛軫鼻：《甲乙經》作「苛鼻乾」。《脈經》作「苛菌為軫鼻」。其義未詳。</p>
<p>顳顬：顳，而涉切。顬，人朱切。《玉篇》：在耳前曰顳。顳顬，耳前動也。《甲乙經》：腦空穴一名顳顬。耳聾兩顳顬痛，中渚主之。《脈經》作「攝顬」。</p>
<p>𤸪：尺制切。亦作「掣」。《說文》：引縱曰𤸪。</p>
<p>胳：古落切。《說文》：胳，腋下也。《廣雅·釋親》：胳謂之腋。《一切經音義》引《埤蒼》：胳，肘後也。《甲乙經》《脈經》俱作「絡」。</p>
<p>噤齘：噤，渠飲切。《說文》：噤，口閉也。《一切經音義》引《通俗文》：口不閉曰噤。《楚辭》劉向「九嘆」：口噤閉而不言。注：閉口為噤。齘，胡介切。《說文》：齘，齒相切也。《一切經音義》引「三蒼」：齘齘，鳴齒也。《釋名》：疥，齘也。癢搔之齒噤齘也。《玉篇》：噤齘，切齒怒也。</p>
<p>怚：將預切。《說文》：怚，驕也。《甲乙經》作「阻」。按：《方言》：金怚，劇也。即「險阻」之假借字。</p>

<h2>厥病第二十四</h2>
<p>手足清至節：清，涼也。詳前「清」字條。一本作「青」。按：「青」、「清」古字相通。《釋名》：清，青也。《呂氏春秋·季冬紀》：使青荓進視。《水經注》引作「清洴」。此篇上文有「手足寒至節」句，可互證。俗解謂手足色青，失之。</p>
<p>憹：奴皓切。與「㛴」通。《說文》：㛴，有所恨也。</p>
<p>㤣：撫庚切。亦作「恲」。《玉篇》：滿也。</p>
<p>耵聹：耵，都挺切。聹，乃挺切。《一切經音義》引《埤蒼》：耵聹，耳中垢也。甲乙經作「摘抵」。</p>
<p>淫濼：濼，匹各切。《素問·骨空論》：淫濼脛痠，不能久立。注：淫濼，謂似痠痛而無力也。</p>

<h2>雜病第二十六</h2>
<p>𣹬𣹬：𣹬，胡谷切。亦作「瀫」。《廣韻》：水聲。《甲乙經》作「〾𤓕〾𤓕」。</p>
<p>衃：芳杯切。《說文》：衃，凝血也。《素問·五臟生成篇》：赤如衃血者死。注：衃，謂敗惡凝聚之血色，赤黑也。</p>
<p>嚏：都計切。《一切經音義》引《蒼頡篇》嚏，噴鼻也。《詩·邶風》：願言則嚏。箋：汝思我心如是，我則嚏也。今俗人嚏，云人道我，此古之遺語也。</p>

<h2>周痹第二十七</h2>
<p>慉：許竹切。與「畜」、「蓄」通。《說文》：慉，起也。《後漢書·馬融傳》「廣成頌」：疏越蘊慉。注：蘊慉，猶積聚。《甲乙經》作「蓄」。《素問·生氣通天論》：陽畜積。又，《詩·邶風》：不我能慉。傳：慉，養也。義別。</p>

<h2>口問第二十八</h2>
<p>穀氣：谷與「榖」通。《甲乙經》作「榖」。《書·堯典》：昧谷。《周禮·縫人》注引作「柳榖」。《詩·邶風》：習習穀風。疏引孫炎《爾雅注》：谷之言榖。榖，生也。穀風者，生長之風。《漢書·王莽傳》：其夕榖風迅疾。注：榖風謂穀風。《素問·陰陽應象大論》：穀氣通於肝。本經「決氣篇」：五穀與胃為大海也。《甲乙經》並作「榖」。</p>
<p>嚲：丁可切。《廣韻》：垂下貌。</p>

<h2>師傳第二十九</h2>
<p>滄滄：《說文》：滄，寒也。《列子·湯問篇》：日初出，滄滄涼涼。《逸周書·周祝篇》：天地之間有滄熱。注並同。</p>
<p>䯏：古活切。《說文》：䯏，骨端也。</p>

<h2>腸胃第三十一</h2>
<p>會厭：本經「憂恚無言篇」：會厭者，音聲之戶也。《難經·四十四難》：會厭為吸門。</p>
<p>上下闢：《文選》張協「七命」：萬闢千灌。注：闢，謂曡之。又，引《典論》云：魏太子丕作百辟寶劍，長四尺。《素問·調經論》：聶闢氣不足。注：闢，謂闢曡也。</p>

<h2>五亂第三十四</h2>
<p>嘿：莫北切。本作「默」。《左·昭十五年傳》注：釋文靜嘿。本或作「默」。《晏子春秋·內篇》：諫上，近臣嘿，遠臣瘖。《太平御覽》引作「默」。</p>

<h2>脹論第三十五</h2>
<p>𦙳：章忍切。亦作「胗」。《素問·奇病論》無損不足，益有餘，以成艾胗。注：謂久病。《甲乙經》作「診」。又，唇瘍曰胗。見前。義別。</p>

<h2>五閱五使第三十七</h2>
<p>緻：直利切。《說文》徐鉉曰：緻，密也。《大藏音義》引《古今正字》，緻者，精微密緻也。</p>
<p>埤：符支切。《說文》：埤，增也。《廣雅·釋詁》：埤，益也。《詩·邶風》：政事一埤益我。傳：厚也。</p>

<h2>逆順肥瘦第三十八</h2>
<p>法式撿押：撿，居奄切。與「檢」通。《漢書·黃霸傳》：郡事皆以義法令撿式。注：撿，局也。押，胡甲切。與「柙」通。《揚子法言》：蠢迪檢押。注：檢押，猶隱括也。《後漢書·仲長統傳》昌言法誡篇：是婦女之檢柙。注：檢柙，猶規矩也。</p>
<p>臨臨：臨與「隆」通。《易·序卦》傳：臨者，大也。《詩·大雅》：與爾臨沖。《釋文》引韓詩作「隆沖」。《荀子·強國篇》：乃有臨慮。《漢書·地理志》作「隆慮」。本經「通天篇」：太陰之人，其狀臨臨然長大。</p>

<h2>病傳第四十二</h2>
<p>喬：與「蹻」通。《素問·異法方宜論》：其治宜導引按蹻。注：蹻，謂捷舉手足。</p>
<p>焫：如劣切。與「爇」通。《甲乙經》作「爇」。《一切經音義》引《通俗文》：然火曰焫。《禮·郊特》：牲焫蕭。《釋文》：焫同「爇」。《素問·異法方宜論》：其治宜灸焫。注：火艾燒灼謂之灸焫。</p>
<p>日昳：昳，徒結切。《周禮·司市》：日昃而市。注：日昃，昳中也。《初學記》引《纂要》：在未日昳。《素問·標本病傳論》：冬日昳。注：日昳，謂午後八刻，未正時也。</p>
<p>早晡下晡：晡，博孤切。與「餔」通。《玉篇》：申時也。《淮南子·天文訓》：日至於悲谷，是謂餔時。《素問·標本病傳論》：夏下晡。注：下晡，謂日下，於晡時申之後五刻也。夏晏晡注：晏晡謂，申後九刻向昏之時也。《甲乙經》「早晡」作「晏晡」。</p>

<h2>淫邪發夢第四十三</h2>
<p>刳：苦胡切。《說文》：刳，判也。《易·繫辭》傳：刳木為舟。</p>
<p>窌：居效切。與「窖」通。《廣雅·釋詁》：窌，藏也。《考工記·匠人》：囷窌倉城。注：穿地曰窌。《文選》馬融「長笛賦」：庨窌巧老。注：深空之貌。</p>
<p>䐈：除力切。《廣韻》：肥腸。《考工記·弓人》：相膠。注：䐈，黏也。</p>

<h2>五變第四十六</h2>
<p>漉：盧谷切。《說文系傳》：漉水下兒。司馬相如「封禪文」：滋液滲漉。</p>
<p>杌：五忽切。《玉篇》：樹無枝也。又，《書·秦誓》：杌隉。注：杌隉，不安也。義別。</p>
<p>臗：苦官切。亦作「髖」。《廣雅·釋親》：髖尻，臀也。《說文》：髖，髀上也。《釋名》：髖，緩也。其腋皮厚而緩也。</p>
<p>稸：醜六切。與「蓄」通。《說文》：蓄，積也。《漢書·貨殖傳》：稸足功用。注：稸與「蓄」同。</p>

<h2>本臟第四十七</h2>
<p>骹：口交切。《說文》：骹，脛也。</p>
<p>麼：亡果切。《廣雅·釋詁》：麼，小也，微也。《文選》班彪「王命論」：又況麼麼不及數子。注引《通俗文》：不長曰幺，細小曰麼。</p>

<h2>禁服第四十八</h2>
<p>歃：山洽切。《左·隱七年傳》：歃如忘。疏：歃，謂口含血也。</p>
<p>出縻：縻與「靡」、「麋」、「糜」並通。《易·中孚卦》：吾與爾靡之。《釋文》引《埤蒼》作「縻」。散也。《甲乙經》作「麋」。本經「百病始生篇」：多熱則溏出麋。《甲乙經》又作「糜」。按：出縻，為大便不實之義。</p>

<h2>五色第四十九</h2>
<p>面王：《甲乙經》：素窌穴一名面王，在鼻柱上端。</p>
<p>膀胱子處：《甲乙經》作「膀胱字子處」。膀，步光切。胱，古黃切。亦作「旁光」。《釋名》：胞一曰膀胱，言其體短而橫廣也。《史記·扁鵲傳》：別下於三焦膀胱。《正義》：膀胱者，津液之府也。《淮南子·說林訓》：旁光不升俎。注：旁光，胞也。</p>
<p>胝：都計切。與「骶」通。又，丁尼切。胼胝，皮厚也。義別。</p>

<h2>論勇第五十</h2>
<p>橫：戶孟切。本作「撗」。《大藏音義》引《考聲》：撗，不順理也。干祿《字書》：撗通「橫」，正。《說文》：從木。《漢書·田蚡傳》：蚡日益橫。注：橫，恣也。</p>

<h2>天年第五十四</h2>
<p>楯：食尹切。《說文》：楯，闌欄也。</p>

<h2>逆順第五十五</h2>
<p>逢逢：逢，薄紅切。與「蓬」通。《孟子》：逄蒙。《漢書·藝文志》作「逢門」。《莊子·山木篇》作「蓬蒙」。《詩·大雅》：龜鼓逢逢。《太平御覽》作「蓬蓬」。《墨子·耕柱篇》：逢逢白雲。</p>
<p>熇熇：熇，火酷切。《詩·大雅》：多將熇熇。傳：熇熇，熾盛也。《素問·刺瘧篇》：先寒後熱，熇熇暍暍然。注：熇熇，甚熱狀。</p>

<h2>五味第五十六</h2>
<p>薤：胡介切。亦作「䪥」。《說文》：䪥，菜也。葉似韭。《禮·內則》：膏用䪥。《釋文》：俗本多作薤。</p>

<h2>水脹第五十七</h2>
<p>腸覃：覃，慈荏切。與「蕈」通。《玉篇》：地菌也。《詩·周南》：葛覃序。《釋文》：覃亦作「蕈」。</p>
<p>窠：苦條切。《說文》：窠，空也。穴中曰窠，樹上曰巢。《廣雅·釋宮》：窠，巢也。</p>
<p>瘇：時冗切。與「腫」、「尰」通。《漢書·賈誼傳》：天下之執方病大瘇。注引如湻：腫足曰瘇。《詩·小雅》：既微且尰。《說文》引作「瘇」。</p>
<p>𪔣𪔣：𪔣，枯公切。《甲乙經》作「殼殼」。</p>

<h2>賊風第五十八</h2>
<p>祝：職救切。亦作「呪」。《書·無逸》，厥口詛祝。《詩·大雅》：侯作侯祝。傳：作祝，詛也。</p>

<h2>衛氣失常第五十九</h2>
<p>苑：紆勿切。與「郁」、「宛」、「菀」通。《詩·小雅》：我心苑結。《釋文》：音郁。《淮南子·本經訓》：百節莫苑。注：苑，病也。</p>

<h2>玉版第六十</h2>
<p>嘶：先稽切。《一切經音義》引《埤蒼》：嘶，聲散也。《漢書·王莽傳》：大聲而嘶。注：嘶，聲破也。</p>
<p>駿：《爾雅·釋詁》：駿，大也，長也。</p>

<h2>五味論第六十三</h2>
<p>綣：去阮切。與「卷」通。《釋名》：卷，綣也。相約束繾綣以為限也。</p>

<h2>陰陽二十五人第六十四</h2>
<p>能春夏不能秋冬：能，奴代切。與「耐」通。《甲乙經》作「奈」。《漢書·食貨志》：能風與旱。「龜錯傳」：其性能寒，其性能暑。「趙充國傳」：漢馬不能冬。注：皆云能。讀曰耐。</p>
<p>𮡧：《甲乙經》作「鈦」。音太。字書無「鈦」字。《韻略》：釱，大計切。《漢書·食貨志》：𮡧左趾。注：𮡧，足鉗也。《史記》作「釱」。</p>
<p>判：《素問·五常政大論》：少角與判商同。注：判，半也。</p>
<p>䏖：以忍切。《類篇》：當脊肉。</p>
<p>質：《廣雅·釋詁》：質，正也。《小爾雅》、《廣言》同。</p>
<p>桎：之日切。《說文》：桎，械也。《一切經音義》引《蒼頡篇》：偏著曰桎。</p>
<p>髯：汝監切。亦作「⿱須丹」。《說文》：⿱須丹，頰鬚也。《釋名》：在頰耳旁曰髯。</p>
<p>吻：武粉切。《說文》：吻，口邊也。《廣雅·釋親》：咡，謂之吻。《文選》陸機「文賦」：始躑躅於燥吻。注引《蒼頡篇》：吻，唇兩邊也。</p>
<p>畫：胡麥切。《說文》：畫，界也。</p>
<p>瘃：陟玉切。《說文》：瘃，中寒腫覈。《漢書·趙充國傳》：手足皸瘃。注引文穎曰：瘃，寒創也。</p>
<p>髭：即移切。本作「頾」。《說文》：頾，口上毛也。《釋名》：口上曰頾。頾，姿也。為姿容之美也。</p>

<h2>百病始生第六十六</h2>
<p>募原：募，慕各切。與「膜」通。《素問·奇病論》：膽募俞。注：胸腹曰募。「舉痛論」：膜原之下。注：膜謂鬲間之膜，原謂鬲肓之原。</p>

<h2>憂恚無言第六十九</h2>
<p>恚：於避切。《說文》：恚，恨也。《史記·絳侯世家》：冒絮提文帝。《索隱》：恚者，嗔也。</p>

<h2>寒熱第七十</h2>
<p>瘰癧：瘰，郎果切。癧，郎擊切。《廣韻》：病筋結也。巢氏《病源候論》：風邪毒氣客於肌肉，結為瘰癧。</p>
<p>鼠瘻：鼠，舒呂切。亦作「癙」。《爾雅·釋詁》：癙，病也。《淮南子·說山訓》：貍頭愈鼠。</p>

<h2>邪客第七十一</h2>
<p>秫：食聿切。《說文》：秫，稷之黏者也。《急就篇》：稻黍秫稷粟麻秔。注：秫，似粟而黏，亦可為酒。按：即今糯稻。</p>

<h2>通天第七十二</h2>
<p>下齊湛湛：《左·襄二十二年傳》：以受齊盟。注：齊，同也。湛，都含切。《說文》作「媅」，樂也。《詩·小雅》：和樂且湛。傳：樂之久也。按：此言太陰之人，下同於湛樂者流也。《甲乙經》齊作「濟」。</p>
<p>諟諦：諦，亦作「𧫚」。《說文》：諟，理也。諦諟審也。《廣雅·釋詁》：諟，是也。𧫚，諟也。關尹子「九藥篇」：諦毫末者，不見天地之大。</p>
<p>譚：徒含切。《玉篇》：大也。</p>
<p>黮黮：黮，徒感切。《文選》左思「魏都賦」：榱題黮𪒡。注引《聲類》：黮，深黑色也。束皙「補亡詩」：黮黮重云。注：黮黮，云色不明貌。</p>
<p>䁢䁢：䁢，似宣切。《玉篇》：好貌。</p>

<h2>論疾診尺第七十四</h2>
<p>解㑊：解，胡懈切。與「懈」通。㑊，羊益切。《素問·平人氣象論》：尺脈緩澀謂之解㑊。「玉機真臟論」：冬脈太過，則令人解㑊。「刺瘧論」：足少陽之瘧，令人解㑊。「刺要論」：刺骨無傷髓，髓傷則銷鑠胻酸，體解㑊然不去矣。注：解㑊，謂強不強，弱不弱，熱不熱，寒不寒。解解㑊㑊然，不可名之也。</p>
<p>辦：當與「瓣」通。薄莧切。《說文》：瓣，瓜中實也。</p>
<p>痎：古諧切。《說文》：痎，二日一發瘧也。《素問·瘧論》：瘧皆生於風。注：痎，猶老也。亦瘦也。</p>

<h2>刺節真邪第七十五</h2>
<p>𩜺：一結切。與「噎」通。《說文》：噎，飯窒也。《漢書·賈山傳》：祝𩜺在前。注：𩜺，古「噎」字。謂食不下也。</p>
<p>口說書卷：卷，居倦切。亦作「弮」。與「券」通。《說文》：券，契也。按：此謂口說而書之於卷也。《史記·高祖紀》：常析券棄負。《索隱》：古用簡札，書故可析。</p>
<p>脆道：《甲乙經》作「越道」。</p>
<p>剽：匹妙切。《說文》：剽，砭刺也。</p>
<p>漸洳：漸，子廉切。洳，人恕切。亦作「洳」。《廣雅·釋詁》：漸，濕也。《說文》：洳，漸濕也。《漢書·東方朔傳》：塗者漸洳徑也。注：漸洳，浸濕也。</p>
<p>癢：余兩切。與「癢」通。《玉篇》：痛，癢也。《抱朴子·塞難篇》：人不能自知其體老少痛癢之何故。</p>
<p>疼：徒冬切。《廣雅·釋詁》：疼，痛也。《釋名》：疼痹，痹氣疼疼然煩也。《一切經音義》：疼下里間。音騰。</p>

<h2>衛氣行第七十六</h2>
<p>𤽉𤽉：𤽉，普巴切。分明之貌。</p>

<h2>九宮八風第七十七</h2>
<p>葉蟄：葉，胡頰切。《玉篇》：古文「協」字。《書·堯典》：協和萬邦。傳：協，合也。蟄，直立切。《說文》：蟄，藏也。</p>

<h2>九針第七十八</h2>
<p>寤：五故切。與「悟」通。《文選》張衡「東京賦」：盍亦覽東京之事以自寤乎。薛注：自寤，自覺悟也。《爾雅》序：別為音圖，用祛未寤。</p>

<h2>歲露論第七十九</h2>
<p>郄：去約切。與「郤」、「卻」通。《素問·四時刺逆從論》：氣血內卻。注：卻，閉也。</p>
<p>⿰血戔：字書無⿰血戔字，當與「殘」通。</p>

<h2>大惑論第八十</h2>
<p>擷：胡結切。亦作「襭」。《說文》：以衣衽扱物謂之襭。或從手，扱收也。《爾雅·釋器》：襭衽謂之襭。</p>

<h2>癰疽第八十一</h2>
<p>癕：與「癰」通。《史記·穰侯傳》：如以千鈞之弩決潰癕也。</p>
<p>草萓：萓，魚羈切。《玉篇》：萓，莮草。《甲乙經》作「草蓂」。</p>
<p>血泣：泣，色力切。與「歰」、「澀」、「濇」通。《素問·六節臟象論》：多食鹹，則脈凝泣而變色。又，凝於脈者為泣。注：謂血利不行。「調經論」：寒則泣不能流。注：泣，謂如雪在水中凝住而不行去也。</p>
<p>𦸈𧁾：𦸈，古活切。𧁾，落侯切。《玉篇》：𦸈𧁾，土瓜也。《廣韻》：同䒷蔞，果臝也。《玉篇》：䒷蔞，齊人謂之瓜蔞。</p>
<p>䔖𧄍草：䔖，力膺切。與「菱」、「蔆」通。《說文》：蔆，芰也。《漢書·司馬相如傳》「子虛賦」：外發夫容䔖華。《史記》作「蔆」。《文選》作「菱」。𧄍，渠遙切，與「翹」通。《玉篇》：連翹草也。《爾雅·釋草》：連異翹。《釋文》：翹字亦作𧄍。</p>

<h1>《素問》</h1>

<h2>上古天真論第一</h2>
<p>徇齊：徇，辭閏切。齊，側皆切。《史記·五帝紀》索隱：徇齊，皆德也。《孔子家語》及《大戴禮》並作「睿齊」。《史記》舊本亦有作「濬齊」，蓋古字假借徇為濬。濬，深也。王注：徇，疾也。與《史記集解》同失之。</p>
<p>迺：奴亥切。古文「乃」字。《爾雅·釋詁》：迺，乃也。</p>
<p>耗：呼到切。亦作「秏」。《文選》曹植「七啟」：耗精神於虛廓。注引《蒼頡篇》：耗，消也。</p>
<p>惔：惔，徒濫切。與「憺」通。本經「陰陽應象論」、「移精變氣論」皆作憺。</p>
<p>解墮：解，古隘切。與「懈」通。《釋名》：懈，解也，骨節解緩也。墮與「惰」通。《大戴禮·盛德篇》：小者偷墮。注：墮，解墮也。《禮·月令》：季秋行春令，則民解惰。</p>
<p>壽敝：敝，王注：盡也。《漢書·枚乘傳》：敝無窮之樂。注：敝，盡也。《靈樞·五十營篇》：故五十營備，得天地之壽矣。</p>
<p>嗔：昌真切。《說文》：嗔，盛氣也。《廣韻》：怒也。與「瞋」通。</p>

<h2>四氣調神大論第二</h2>
<p>亟奪：亟，去吏切。王注：數也。《禮·少儀》：亟見日朝夕。《左·成十年傳》：吾先君之亟戰也有故。</p>
<p>名木：按此當作大木解。《禮·禮器》：因名山升中於天。注：名，猶大也。《國策·秦策》：王不如因而賂一名都。注：名，大也。王注謂：名木珍果，失之。</p>
<p>菀藁：菀，與「苑」、「宛」、「郁」通。本經「生氣通天論」：大怒則行氣絕，而血菀於上。藁，苦浩切。《說文》：藁，木枯也。《易》「說卦」傳：離為枯上槁。</p>
<p>焦滿：按：此謂肺氣焦枯，煩滿也。本經「痿論」：肺熱葉焦。「痹論」：肺痹者，煩滿喘而嘔。王注：焦，謂上焦也。林校：據全元起本作「進滿」，皆失之。</p>
<p>獨沉：《甲乙經》作「濁沉」。林校：據《太素》作：沉濁。按：獨、濁古字相通。《周禮》壺涿氏鄭司農注：獨，讀為濁。沉，直深切。《周禮》：酒正三日沉齊。《釋名》：沉齊，濁滓沉下，汁清在上也。</p>

<h2>生氣通天論第三</h2>
<p>喘喝：二字已見《靈樞·本神篇》：喝，嘶聲，聲之幽也。王注謂：大呵出聲則近呼喝之義，非暑病所有。</p>
<p>緛：而兗切。王注：縮也。《太元》：耎，雲陽氣能剛、能柔、能作、能休，見難而縮。範注：耎而自縮，故謂之耎。耎，與緛通。《廣雅·釋詁》：緛，縮也。</p>
<p>則張：張，知亮切。《廣雅·釋詁》：張，大也。</p>
<p>闢積：闢，當讀若「襞積」之襞。《靈樞·根結篇》：㒤闢。「腸胃篇」：上下闢。意同。</p>
<p>痤疿：痤，昨禾切。《說文》：痤，小腫也。《廣雅·釋詁》：痤，癰也。《淮南子·說林訓》：潰小疱而發痤疽。注：痤疽，癰也。《管子·法法篇》：痤睢子礦石也。注：痤，癰也。疿，方味切。《玉篇》：熱生小瘡。王注以為風癮，失之。</p>
<p>高梁：與「膏粱」通。《靈樞·根結篇》：膏梁。義同。</p>
<p>足生大丁：丁，本作「疔」。《集韻》：疔，當經切。音丁。病創也。按：足生大丁，謂高梁厚味足以致疔毒之大。王注謂：丁生於足。林校謂：饒生大丁。皆失之。</p>
<p>皶：側加切。亦作皻。王注：皶，刺長於皮中，形如米，或如針。俗曰粉刺。又《類篇》：鼻上疱也。義別。</p>
<p>俞氣：俞，傷遇切。與「腧」、「輸」通。詳《靈樞》「腧」字條。</p>
<p>魄汗：王氏無訓。按《靈樞·本神篇》：並精而出入者，謂之魄。本經「宣明五氣論」：肺藏魄。「六節臟象論」：肺者，氣之本，魄之處也。其華在毛，其充在皮。汗出於皮毛故曰魄汗。</p>
<p>沮㢮：沮，慈呂切。㢮，本作弛。言壞廢也。《詩·小雅》：何日斯沮。傳：沮，壞也。《穀梁·襄二十四年傳》：弛候。注：弛，廢也。本經「五臟生成篇」：多食辛，則筋急而爪枯。可以互證。王注訓沮為潤，訓弛為緩，失之。</p>
<p>乃央：《廣雅·釋詁》：央，盡也。《夢辭》屈原「離騷」：時亦猶其未央。注：央，盡也。王注央為久，失之。林校謂：央，乃殃也。古文通用亦強解。</p>

<h2>陰陽應象大論第五</h2>
<p>病之形能：王氏音義於上文「能冬」云：奴代切。下「形能」同。按：此當讀本音，謂病之所能也。本經「陽明脈解篇」云：皆非其素所能也。病反能者，何也？可以互證。</p>
<p>𤙲：時制切。《甲乙經》作「掣」。《集韻》本作「觢」，或作「挈」。《玉篇》作「𤙲」。《易·暌卦》：其牛掣。鄭本作「𤙲」。《說文》引作「觢」。</p>

<h2>陰陽離合論第六</h2>
<p>𩅞𩅞：《篇海》有此字，音中。明·熊宗立本亦音中。林校云：別本𩅞𩅞作「沖沖。」王氏：𩅞字無音，注：言氣之往來也。蓋即《易·咸卦》憧憧往來為訓。憧、沖古字相通，則亦以𩅞為沖矣。按：《集韻》：憧，有冒容、諸容二切。諸容切，音鍾，與中字音近。</p>

<h2>陰陽別論第七</h2>
<p>㾓：烏懸切。王注：㾓，痠痛也。《文選》謝靈運「登臨海嶠與從弟惠連詩」注引《說文》曰：㾓，疲也。《列子·楊朱篇》：心㾓體煩，內熱生病矣。殷敬順《釋文》：音一錯反。</p>
<p>索澤：索，蘇各切。王注：皮膚潤澤之氣皆散盡也。《禮·檀弓》吾離群而索居。注：索，猶散也。《說苑·權謀篇》：索也者，盡也。</p>

<h2>靈蘭秘典論第八</h2>
<p>氂：里之切。亦作釐。《漢書·律曆志》：不失毫氂。注引孟康曰：十豪曰氂。</p>

<h2>六節臟象論第九</h2>
<p>罷極：罷，符羈切。《史記·平原君傳》：臣不幸有罷癃之疾。索隱：罷癃為背疾，言腰曲而背隆高極。《呂氏春秋·仲夏紀》：耳谿極。注：極，病也。</p>

<h2>五臟生成篇第十</h2>
<p>胝䐢：胝，丁尼切。䐢，側救切。《漢書·貢禹傳》：手足胼胝。注：胝，繭也。䐢與「皺」通。《集韻》：䐢，皺也。</p>
<p>草茲：王注：茲，滋也。言如草初生之青色也。《說文》：茲，草木多益也。《爾雅·釋器》：蓐謂之茲。</p>
<p>炲：徒哀切。亦作「炱」。王注謂：炲，煤也。《一切經音義》引《通俗文》：積煙以為炱煤。</p>
<p>紺：古暗切。《說文》紺，帛深青揚赤色。《釋名》：紺，含也。青而含赤色也。王注：薄，青色。失之。</p>
<p>朝夕：與「潮汐」通。《文選》郭璞「江賦」：或夕或朝。注引《抱朴子》曰：麋氏云朝者，據朝來也；言夕者，據夕至也。</p>
<p>鬲：古核切。亦作「膈」。《玉篇》：胸膈也。《釋名》：膈，隔也。隔塞上下，使氣與隔不相亂也。《甲乙經》作「膈」。</p>
<p>胠：去魚切。王注：脅上也。《說文》：胠，腋下也。</p>

<h2>異方法宜論第十二</h2>
<p>食胕：王注：言其所食不芬香。林校據全元起云：食魚也。按：胕，符遇切。與「腑」通。又馮無切。膚腫也。俱與本文義不合。全、王二注均失之。當依《甲乙經》作「臊」。</p>

<h2>移精變氣論第十三</h2>
<p>僦貨季：人名。王注：謂岐伯祖世之師。僦，即就切。《廣雅·釋言》：僦，賃也。僦與貸義相類。</p>

<h2>湯液醪醴論第十四</h2>
<p>莝：粗臥切。《說文》莝，斬芻也。</p>

<h2>診要經終論第十六</h2>
<p>憿著：林校云：別本「憿」作「憿」。又作「撽」。按：憿，古堯切。《說文》：幸也。憿，古了切。《玉篇》：脛行縢也。撽，古歷切。與「系」通。合之本文之義，𢅎字稍近。又《廣雅·釋詁》：繳，纏也。《漢書·司馬相如傳》：苛察繳繞。注：猶纏繞也。當亦通。</p>
<p>目睘：睘，渠營切。王注：睘，謂直視如驚貌。《說文》：睘，目驚視也。</p>

<h2>脈要精微論第十七</h2>
<p>眴僕：眴，許縣、黃練二切。《文選》揚雄「劇秦」美新臣嘗有顛眴病。注：眴與「眩」古字通。又舒閏切。與「瞬」。「瞚」通。義別。</p>

<h2>平人氣象論第十八</h2>
<p>姙：汝鴆切。亦作「妊」。《說文》：妊，孕也。《廣雅·釋詁》：妊，㑗也。「釋言」：妊娠也。《後漢書·章帝紀》：今諸懷𡜟者，賜胎養。谷注引《說文》亦作𡜟。</p>
<p>前曲後居：曲，《甲乙經》作「鉤」。居，居御切。與「倨」通。《考工紀》：冶氏已倨則不入，已句則不決。注：已倨，謂微直而邪多也。《禮·樂紀》：倨中矩，句中鉤。《漢書·酷吏郅都傳》「丞相條」：侯至貴居也。注：居與「倨」同。</p>

<h2>玉機真臟論第十九</h2>
<p>目匡：匡與「眶」通。《史記·淮南王安傳》：涕滿匡而橫流。本經「刺禁篇」：刺匡上陷骨中脈。注：匡，目匡也。</p>

<h2>三部九候論第二十</h2>
<p>參伍不調：《易·繫辭》：參伍變。疏：參，三也。伍，五也。「說卦」傳：參天兩地而倚數。虞注：參，三也。《周禮·小司徒》：五人為伍。《說文》：伍，相參五也。本文蓋謂或三或五，其數不調。王氏以參校類伍為訓，失之。</p>
<p>蠕蠕：蠕，而充切。亦作「蝡」。《說文》：蠕，動也。《史記·匈奴傳》：跂年行喙息蠕動之類。索隱引「三蒼」：蠕，蠕動貌。音軟。</p>

<h2>臟氣法時論第二十二</h2>
<p>焠㶼：㶼，烏開切。《廣雅·釋詁》：㶼，爇也。《玉篇》：炫也，熱也。</p>
<p>郄：綺戟切。與「卻」、「隙」通。《玉篇》：穿穴也。《史記·張釋之傳》：雖錮南山，猶有郄。《漢書》作「隙」。《莊子·知北遊》：若白駒之過卻。《釋文》本亦作「隙」，孔也。又《靈樞·歲露篇》：腠理，郄。義別。</p>

<h2>保命全形論第二十五</h2>
<p>黔首：黔，巨淹切。《說文》：黔，黎也。秦謂民為黔首，謂黑色也。</p>
<p>瞚：舒閏切。亦作「瞬」。與「眴」通。《說文》：瞚，開闔目動搖也。《莊子·庚桑楚篇》：終日視而目不瞚。《釋文》：瞚，動也。</p>

<h2>離合真邪論第二十七</h2>
<p>抓：側絞切。《廣雅·釋詁》：抓，搔也。《莊子·徐無鬼篇》：有一狙焉，委蛇攫𢮞見巧乎王。𢮞，即抓字。《文選·枚乘諫吳王書》：手可擢而抓。注引《莊子》曰：橡樟所生，可抓而絕。</p>

<h2>通評虛實論第二十八</h2>
<p>纓脈各二：王注：足陽明脈也。近纓之脈，故曰纓脈。纓謂冠帶也，以有左右，故曰各二。按：《說文》：癭，頸瘤也。《靈樞·寒熱病篇》：頸側之動脈人迎，足陽明也。在嬰筋之前。此纓字當與「癭」、「嬰」義通。</p>
<p>蹠跛：蹠，之石切。亦作「趾」。《說文》：蹠，足下也。跛，布火切。《說文》跛，行不正也。《禮·問喪》：跛者不踴。《釋文》：跛，足廢也。</p>

<h2>陽明脈解篇第三十</h2>
<p>惋：烏貫切。《廣韻》：驚歎也。</p>
<p>罵詈：詈，力智切。《說文》：罵也。《釋名》：罵，迫也。以惡言被迫人也。詈，歷也。惡言相彌歷也。亦言離也，以次卦離之也。</p>

<h2>熱論第三十一</h2>
<p>譫言：譫，之廉切。《甲乙經》作「讝」。王注：謂妄謬而不次也。《一切經音義》引《埤蒼》：譫，多言也。本經「厥論」林校據全元起云：譫言者，氣虛獨言也。</p>

<h2>評熱病篇第三十三</h2>
<p>痝然：痝，莫江切。與「厖」通。《爾雅·釋詁》：厖，大也。本經「風論」：面痝然浮腫。</p>
<p>可刺不：不，甫鳩、方九二切。《說文》：否，不也。《書·堯典》：否德。疏：否，古今「不」字。</p>

<h2>刺瘧篇第三十六</h2>
<p>暍暍：暍，於歇切。亦作「𤸎」、「㷎」。王注：暍暍，熱盛也。《說文》：暍，傷暑也。《廣雅·釋詁》：暍，暖也。《淮南子·人間訓》：武王蔭暍人於樾下。注：武王哀暍人之熱，故蔭之於樾下。</p>

<h2>氣厥論第三十七</h2>
<p>柔痓：痓，充子切。《說文》無此字。《廣雅·釋詁》：痓，惡也。王注：痓，強而不舉。按本經「厥論」：痓治主病者。林校據全元起本，痓作痙。《說文》：痙，強急也。痓但訓「惡」，無強意，當定為「痙」字之訛。</p>
<p>虙瘕：虙，房六切。古「伏」字。伏羲氏。《漢書·五行志》：作虙義。</p>
<p>食亦：《甲乙經》亦作「㑊」。王注：食亦者，謂食入移易而過，不生肌膚也。亦，易也。</p>
<p>衊：莫結切。《說文》：衊，汙血也。王注同。</p>

<h2>舉痛論第三十九</h2>
<p>炅：古迥切。王注：熱也。又《說文》：炅，見也。《廣韻》：光也。義別。</p>

<h2>腹中論第四十</h2>
<p>烏鰂魚骨：鰂，昨則切。亦作「⿰魚𧶒」。《甲乙經》作「賊」。《說文》：鰂，烏鰂魚也。《一切經音義》引《埤蒼》：鰞鰂魚，腹中有骨，出南郡。背有一骨，闊二寸許。有鬈甚長，口中有墨，瞋則潠人。《古今注》：烏鰂一名河伯。《度事小史·臨海紀》：烏鰂以其懷板含墨，故號小史魚也。《爾雅翼》：鰞鰂，狀如革囊，背上獨一骨，形如樗蒲子而長，名海螵蛸。王注引古《本草經》：烏鰂魚骨，主治女子血閉。</p>
<p>藘茹：藘，力居切。《甲乙經》作「閭」。王注引古《本草經》：藘茹，主散惡血。《太平御覽》引範子計然曰：閭茹，出武都。黃色者善。</p>

<h2>刺腰痛篇第四十一</h2>
<p>錘：馳偽切。《廣雅·釋器》：權謂之錘。《漢書·律曆志》：五權之制。注：錘者，稱之權也。</p>
<p>𠘧𠘧：𠘧，市朱切。《說文》：𠘧，鳥之短羽。飛𠘧𠘧也，象形。讀若「殊」。《傷寒論》：太陽病，項背強𠘧𠘧。</p>
<p>胂：失人切。《說文》：胂，夾脊肉也。《廣雅·釋親》：胂謂之脢。《急就篇》：胂腴胸脅喉咽髃。注：胂，夾脊肉也。王注：兩髁胂，謂兩髁骨下堅起肉也。</p>

<h2>風論第四十二</h2>
<p>怢慄：怢，他骨切。《文選》王褒「四子講德論」：凡人視之怢焉。注引《廣蒼》：怢，忽忘也。慄，力質切。《廣雅·釋言》：慄，戰也。《詩·秦風》：惴惴其慄。傳：慄，懼也。王注：怢慄，卒振寒貌。《甲乙經》作「解㑊」。林校據全元起本作「失味」。</p>
<p>皏：普辛切。《廣雅·釋器》：皏，白也。王注：皏，謂薄白色也。</p>
<p>嚇：呼格切。與「赫」通。《詩·大雅》反予來赫。箋：口拒人謂之赫。《釋文》：赫，亦作「嚇」。《莊子·秋水篇》鴟得腐鼠，鵷雛過之，仰而視之曰嚇。《釋文》引司馬注：嚇，怒其聲，恐其奪己也。</p>

<h2>痿論第四十四</h2>
<p>有漸於濕：漸，子廉切。《廣雅·釋詁》：漸，漬也。《荀子·大略篇》：蘭茞、藁本，漸於蜜醴。注：漸，浸也。《漢書·董仲舒傳》：贊然考其師友，淵原所漸。注：漸，浸潤也。《莊子·胠篋篇》：知詐漸毒。《釋文》引崔注：漸毒，猶深害也。按以上數解，與本文均合。</p>
<p>閏宗筋：《說文系傳》曰：閏之言撋也。儒均反。若今俗縫衣，一長一短者，則蹙其長以就短，謂之撋。《集韻》：撋，而宣切。《考工記》：鮑人。注：親手煩撋之。《詩·葛覃》箋：煩撋之。《釋文》引《字略》：煩撋，猶捼挲。按：閏字王氏無注。《系傳》云云與本文義合，特取證之。他本訛作「潤」，或曰閏與「潤」同，亦非。</p>

<h2>病能論第四十六</h2>
<p>生鐵洛：洛，《甲乙經》作「落」。按：「洛」、「落」古字相通。《春秋·閔元年》：公及齊侯盟於落姑。《左》作「落」。《公羊》、《穀梁》皆作「洛」。王注：鐵洛，主之下氣。</p>
<p>麋銜：麋，武悲切。《說文》：麋，鹿屬。又與「蘪」通。《爾雅·釋草》：蘪蕪。注：蘪，香草。又，蘪從水生。疏：草從水生曰蘪。王注：麋銜主治風濕筋痿，本草一名薇銜，一名鹿銜。《水經注》：魏興，錫義山多生薇銜草，有風不偃，無風獨搖。</p>

<h2>大奇論第四十八</h2>
<p>雍：本文肺雍、肝雍、腎雍三「雍」字，《甲乙經》皆作「癰」。按：雍亦作「雝」。「雍」、「癰」古字通用。孟子於衛主癰疽。《史記》作「雍渠」。《韓非子》作「雍鉏」。《說苑》作「雍睢」。又與「壅」通。《釋名》：癰，壅也。氣壅否結，裹而潰也。</p>
<p>菀熟：王注：菀，積也。熟，熱也。本經「疏五過論」注同。《脈經》作「菀熱」。《甲乙經》作「寒熱」。</p>

<h2>脈解篇第四十九</h2>
<p>脽：視佳切。《說文》：脽，尻也。《廣雅·釋親》：臀謂之脽。《漢書·東方朔傳》：連脽尻。注：脽，臀也。</p>
<p>瘖俳：瘖，於金切。《說文》：瘖，不能言也。俳，蒲皆切。王注：廢也。又，《說文》：俳，戲也。義別。</p>

<h2>刺要論第五十</h2>
<p>泝泝：泝，桑故切。本經「皮部論」：泝然起毫毛。注：泝然，惡寒也。《甲乙經》作「淅」。</p>

<h2>刺禁論第五十二</h2>
<p>鼠僕：僕，蒲木切。王注：內結為腫，如伏鼠之形也。《詩·大雅》：景命有僕。傳：僕，附也。《文選》司馬相如「子虛賦」：僕樂齊王。注引《廣雅》曰：僕，謂附著於人。《甲乙經》作「⿺鼠僕」，音卜。《字書》無「⿺鼠僕」字。《廣雅·釋獸》：⿺鼠僕𪔿，鼠屬。林校據別本：僕一作「鼷」。「氣府論」注：氣街在臍下橫骨兩端，鼠鼷上一寸也。則是穴名，非病名矣。失之。</p>

<h2>長刺節論第五十五</h2>
<p>皮𩩻：王注：皮𩩻，謂臍下五寸橫約文。《字書》無「𩩻」字。王氏釋音作「皮䯏」，古活切。《說文》：䯏，骨耑也。林校據全元起本作「皮髓」。</p>
<p>髂髎：髂，枯駕切。《文選》揚雄「解嘲」：折脅摺髂。注引《埤蒼》：髂，腰骨也。髎，落蕭切。《玉篇》：髖也。《史記·貨殖傳》：馬蹄躈千。集解：躈，馬八髎也。《索隱》引《埤蒼》：尻骨，謂八髎。王注髂為腰骨，髎為居髎，腰側穴也。《甲乙經》髎字皆作「窌」。</p>

<h2>皮部論第五十六</h2>
<p>害蜚：蜚，府尾、扶沸二切。王注：蜚，生化也。害，殺氣也。殺氣行則生化弭，故曰害蜚。</p>
<p>廩：力念切。王注：廩，積也，聚也。《國語·周語》：廩於籍東南鍾而藏之。《管子·山國軌篇》：泰春民之且所用者，君已廩之矣。注：廩，藏也。</p>

<h2>氣穴論第五十八</h2>
<p>中𦛗：𦛗，兩舉切。亦作「呂」。《甲乙經》作「膂」。《說文》：呂，篆文作「膂」，脊骨也。《國語·周語》：氏曰有呂。注：呂之為言膂也。《急就篇》：尻髖脊膂腰背呂。注：膂，夾脊內肉也。呂，脊背也。王注：五臟腧穴皆在𦛗之兩傍一寸五分。</p>
<p>兩骸厭：王注：骸厭，謂膝外俠膝之骨厭中也。《說文》：骸，脛骨也。本經「骨空論」膝解為骸關俠膝之骨，為連骸。</p>

<h2>氣府論第五十九</h2>
<p>伏菟：穴名。菟，湯故切。《靈樞》作「伏兔」。《甲乙經》：伏兔穴在膝上。菟與「兔」通。《史記·六國表》：安王十九年，魏敗趙兔臺。《索隱》：兔字亦作「菟」。《漢書·鄒陽傳》：上覆飛鳥，下不見伏菟。《楚辭》屈原「天問」：顧菟在腹並從草。</p>

<h2>骨空論第六十</h2>
<p>譩譆：譩，於其切。譆，許其切。與「噫嘻」通。穴名。王注：以手壓之，令病人呼譩譆之聲，則指下動矣。《玉篇》：譩，不平之聲也。嘻，悲恨之聲也。《說文》：譆，痛也。《系傳》：痛而呼之言也。《文選》曹植「七啟」：俯而應之曰譆。注：愁恨之聲也。</p>
<p>揄臂：揄，余招切。王注：揄，讀為「搖」，謂搖動也。《莊子·漁父篇》：被髮揄袂。《釋文》：音遙。《禮·玉藻》：夫人揄狄。疏：揄，讀如「搖」。狄，讀如「翟」。謂書搖翟之雉於衣也。</p>
<p>篡間：《甲乙經》作「纂間」。王注：謂在前陰後陰之兩間也。</p>
<p>蹇膝：蹇，居偃切。《說文》：蹇，㝿也。《釋名》：蹇跛，蹇病不能作事也。《方言》：𡯴，蹇也。注：跛者行𧿒踔也。《廣雅·釋詁》：㝿𡯴，蹇也。《史記·晉世家》：郤克僂而魯使蹇。《莊子·達生篇》：聾盲跛蹇皆訓跛。王注：蹇，難也。失之。</p>
<p>楗：其偃切。《廣雅》：關，楗也。本篇輔骨上橫骨下為楗。</p>
<p>機：本篇俠髖為機。《釋名》：尻又謂之機要，脾股動搖如樞機也。《說文》：主發謂之機。</p>
<p>拇指：拇，莫厚切。《說文》：拇，將指也。《易·咸卦》：咸其拇。注：拇，足大指也。《國語·楚語》：至於手拇。毛脈注：拇，大指也。《莊子·駢拇篇》：駢拇枝指出乎性哉。《釋文》引司馬注：駢拇，足拇指連第二指也。</p>
<p>齗：語斤切，與「齦」通。《說文》：齗，齒本也。《玉篇》：齒根肉也。</p>
<p>橛骨：其月切。與「𩪗」通。王注：尾窮謂之橛骨。《廣雅·釋親》：臎髁，𩪜也。</p>

<h2>調經論第六十二</h2>
<p>深斥：斥，昌石切。王注：斥，推也。《廣雅·釋詁》：斥，推也。《一切經音義》引「三蒼」同。</p>

<h2>繆刺論第六十三</h2>
<p>賁上：賁，博昆切。《難經·四十四難》：胃為賁門。林校引楊元操云：賁，鬲也。王注：謂氣賁。失之。</p>
<p>鬄：他計切。亦作「𩮜」、「剔」、『鬀」、「剃」。《甲乙經》作「剔」。《說文》：鬀，𩮜發也。《廣雅·釋詁》：剃，剔也。《儀禮·士喪禮》：四鬄。注：鬄，解也。今文鬄為「剔」。《漢書·司馬遷傳》：其次鬄毛髮。《後漢書·馮魴傳》：皆自鬄剔。注引《聲類》：剔，亦「鬄」字。謂剃去發也。</p>

<h2>四時刺逆從論第六十四</h2>
<p>隱軫：《甲乙經》作「𤻘疹」。𤻘，於謹切。亦作「癮」。疹，章忍切。與「胗」通。亦作「𤺋」。《玉篇》：𤻘疹，皮外小起也。《釋名》：胗，展也。癢搔之捷展起也。《傷寒論》：風氣相搏，必成癮𤺋。</p>

<h2>天元大論第六十六</h2>
<p>鬼臾區：《史記·孝武帝紀》：黃帝得寶鼎宛朐，問於鬼臾區。《索隱》：黃帝佐也。《封禪書》：鬼臾區，號大鴻。死葬雍，故鴻塚是也。《漢書·藝文志》：陰陽家鬼容區，三篇圖一卷，古今人表鬼臾區。注：即鬼容區也。《亢倉子》作「鬼容邱」。《晉書·律曆志》作「車區」。</p>
<p>廖廓：廖，落蕭切。亦作「寥」。《說文》作「廫」，空虛也。《新附》作「寥」。《廣雅·釋詁》：寥，深也。《莊子·大宗師篇》：乃八於寥天一。《釋文》亦作「廖」。</p>
<p>迫迮：迮，側伯切。《後漢書·竇融傳》：囂勢排迮。注：排迮，謂蹙迫也。「陳忠傳」：共相壓迮。注：迮，迫也。《文選》陸機「嘆逝賦」：塗薄莫而意迮。注引《聲類》：迮，迫也。</p>

<h2>五運行大論第六十七</h2>
<p>黅：居吟切。《玉篇》：黃色也。《廣雅·釋器》：黅，黃也。本經「五常政大論」：敦阜之紀，其色黅元蒼。</p>
<p>馮乎：馮，扶冰切。亦作「憑」。《小爾雅·釋言》：憑，依也。《文選》張衡「西京賦」有憑虛公子者。薛注：憑，依託也。</p>
<p>摧拉：盧合切。《說文》：拉，摧也。摧，折也。《文選》左思「吳都賦」：拉捭摧藏。注：拉，頓折也。</p>
<p>眚：所景切。《易·訟卦》：旡眚。《釋文》引「子夏傳」云：妖祥曰眚。《左·莊二十五年傳》：非日月之眚。注：眚，猶災也。月侵日為眚。</p>
<p>倮：郎果切。亦作「𧝹」、「臝」。《說文》：𧝹，袒也。《禮·月令》：中央土，其蟲倮。《周禮·大司徒》：其動物宜臝物。《大戴禮·天圓篇》：唯人為倮匈而後生也。注：倮匈，謂無毛羽無鱗介也。</p>
<p>謐：彌畢切。《說文》：謐，靜語也。《爾雅·釋詁》：謐，靜也。本經「氣交變大論」：其化清謐。</p>

<h2>氣交變大論第六十九</h2>
<p>鶩溏：鶩，莫卜切。《說文》：鶩，舒鳧也。王注：鴨也。本經「至真要大論」：下為鶩溏。注：言如鴨之後也。《金匱方論》：大腸有寒者多鶩溏。肺水者，其身腫，時時鴨溏。</p>
<p>瞤：如均切。《說文》：瞤，目動也。《西京雜記》：陸賈曰：目瞤得酒食。《傷寒論》：則厥逆筋惕肉瞤。</p>
<p>璺：亡連切。《廣雅·釋詁》：璺，裂也。《方言》：器破而未離謂之璺。本經「六元正紀大論」：為璺啟。注：璺，微裂也。</p>
<p>霖霪：霪，余針切。與「淫」通。《玉篇》：霪，久雨也。《淮南子·修務訓》：沐浴霪雨櫛風。《禮·月令》：淫雨早降。《左·隱九年傳》：凡雨自三日以往為霖雨。《爾雅·釋天》：淫謂之霖。</p>

<h2>五常政大論第七十</h2>
<p>其病否：否，符鄙切。與「痞」、「脴」通。《說文》：痞，痛也。《釋名》：脴，否也。氣否結也。</p>
<p>殼：苦角切。亦作「𣪗」。《文選》張協「七命」：剖椰子之殼。注：凡物內盛者皆謂之殼。</p>
<p>飋：所櫛切。與「瑟」通。《玉篇》：飋，秋風也。《文選》王延壽「魯靈光殿賦」：飋蕭條而清冷。注：飋，蕭條清涼之貌。</p>
<p>蛆：七餘切。　《說文》作「䏣」、「蠅」，乳肉中蟲也。</p>
<p>霒：於金切。《說文》：霒，云覆日也。《玉篇》：霒，今作「陰」。《大戴禮·官人篇》：生民有霒陽。</p>
<p>粃：卑覆切。亦作「粊」、「秕」。《說文》：粊，惡米也。秕不成粟也。《家語·相魯篇》：是用粃糠。</p>
<p>閟：兵媚切。與「閉」通。王注：閟，大便乾澀不利也。《詩·鄘風》：我思不閟。傳：閟，閉也。</p>
<p>狢：下各切。亦作「貉」。「穆天子傳」：白狐元狢。《文選》謝惠連「雪賦」：狐狢之兼衣。注引《論語》「狐貉之厚以居」作「狢」。</p>
<p>⿰東攴：王注：古「陳」字。《集韻》作「⿰東攴」。</p>
<p>疰：之戌切。與「住」通。《廣雅·釋詁》：疰，病也。《釋名》：疰病一人死一人復得氣相灌注也。《說文》：「上」部。《系傳》曰：又若醫家之言病疰，故有鬼疰，言鬼氣轉相染箸注也。</p>
<p>雰：府文切。與「氛」通。《文選》張衡「西京賦」：消雰埃於中宸。薛注：雰，埃塵穢也。本經「六元正紀大論」：寒雰結為霜雪。注：寒雰，白氣也。狀如霧而不流。</p>
<p>脘：古滿切。《說文》：脘，胃府也。本經「通評虛實論」：胃之募也。注引《中誥》：中脘，胃募也。按《甲乙經》有上脘、中脘、下脘三穴，俱在臍上。</p>
<p>皮𤸷：𤸷，五還切。《廣雅·釋言》：𤸷，痹也。</p>

<h2>六元正紀大論第七十一</h2>
<p>霿霧：霿，莫紅切。亦作「雺」。《說文》：天氣下地不應曰霿，地氣發天不應曰霧。《爾雅》：「霿」作「雺」。《易稽覽圖》：雺者，霿也。</p>
<p>退闢：闢，毗義切。與「避」通。經傳多作「闢」。</p>
<p>臚脹：臚，力居切。《藝文類聚》引韋昭《辯釋名》云：腹前肥者曰臚。《急救篇》：寒氣泄注腹臚脹。注：腹前曰臚。又，甫無切。與「膚」通。《說文》：臚，皮也。義微別。</p>
<p>雷殷：殷，於謹切，亦作「磤」。《廣雅·釋詁》：磤，聲也。《一切經音義》引《通俗文》：雷聲曰磤。《詩·召南》：殷其靁。傳：殷靁，聲也。《史記·封禪書》：其聲殷云。《集解》引瓚曰：聲也。又曰：神來時，天為之殷殷雷鳴。《漢書·司馬相如傳》「上林賦」：殷天動地。注引郭璞曰：殷猶震也。何晏「景福殿賦」：聲訇磤其若震。注引「毛萇傳」曰：磤，雷聲也。</p>
<p>滷：郎古切。西方咸地也。東方謂之斥，西方謂之滷。《易·說卦》：其於地也為剛滷。《釋文》：滷，土也。《春秋說題辭》：廣延曰大滷。</p>
<p>翳：於計切。《方言》：翳，掩也。《廣雅·釋詁》：翳，障也。《楚辭》王逸「九嘆」：舉霓旌之墆翳兮。注：墆翳，隱蔽貌。又作「瞖」，目病也。義別。</p>
<p>焰：以譫切。亦作「爓」、「燄」。王注：焰，陽焰也。</p>
<p>皴揭：皴，七倫切。《王篇》：皴，𭽬也。《一切經音義》引《埤蒼》：皴，皮皴𭽬也。樹皮甲錯粗厚亦曰皴。揭，居竭切。《說文》：揭，高舉也。</p>

<h2>至真要大論第七十四</h2>
<p>目昧：昧，莫佩切。亦作「眛」。《說文》：目不明也。《左·僖二十四年傳》：目不別五色之章為眛。</p>
<p>熛：甫遙切。《說文》：熛，火飛也。《春秋文耀鉤》：赤帝其名赤熛怒。《一切經音義》引「三蒼」：迸火曰熛。</p>
<p>膹：房吻切。王注：膹，謂膹滿。</p>

<h2>至教論第七十五</h2>
<p>礔礰：礔，普系切。礰，郎系切。與「闢歷」通。亦作「劈歷」、「霹靂」。《說文》：震，劈歷振物也。《釋名》：闢歷，闢析也。所歷者皆破析也。《爾雅·釋天》：疾雷為霆霓。注：雷之急擊者為霹靂。《一切經音義》引《蒼頡篇》：霆礔礰也。張衡「四京賦」：礔礰激而增響。</p>

<h2>陰陽類論第七十九</h2>
<p>溓水：溓，良冉切。王氏無注。林校據全元起云：溓水者，七月也。楊上善云：溓水靜也，七月水時也。《說文》：溓，薄冰也。</p>

<h2>方盛衰論第八十</h2>
<p>菌香：菌，渠殞切。王注：菌，香草。林校據全元起云：菌香是桂。《楚辭》屈原「離騷」：雜申椒與菌桂兮。注：椒、菌、桂，皆香木。《文選》左思「蜀都賦」：菌桂臨崖。劉注引《神農本草經》曰：菌桂出交趾，圓如竹，為眾藥通使。按：即今肉桂也。又，或作「蕈」。《說文》：地蕈也。義別。</p>

<h2>解精微論第八十一</h2>
<p>有毚愚僕漏之問：毚，士咸切。《說文》：毚，狡兔也。《廣雅·釋詁》：毚，獪也。王注：毚，狡也。愚不智見也。僕，頓也。漏，脫漏也。按：此四字文義不類。林校據全元起本「僕」作「樸」，則此「毚」字當與「儳」通。《禮·表記》：儳焉如不終日。注：儳焉，可輕賤之貌也。《一切經音義》：儳速。注：儳，倉陷反。非次而言也。《禮記》：長者不及無儳言是也。二義皆可通。</p>

<h2>附：《靈樞略》道藏本</h2>
<p>爪肉：《靈》、《素》二書中屢言分肉。按：「分」與「爪」形相近，當是傳寫之誤。</p>
<p>漽：杜溪切。《靈樞》作「淅」。</p>
<p>䪻：皮變切。《靈樞》上下兩句皆作「頏」。</p>

<h2>附：《素問·遺篇》道藏本</h2>
<p>天內：星名。別本內皆作「芮」。按：《詩·大雅》：芮鞠之即。箋：芮之言內也。芮與「內」本通。</p>
<p>地皛：星名。別本皛皆作「晶」。按：皛，胡了切。《說文》：皛，顯也。《文選》潘岳「關中詩」：虛皛楠德。注引「蒼頡」：皛，明也。亦與「晶」義相近。</p>
