<header data-type="book">
<h1>中西匯通醫經精義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>唐宗海</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1892">公元1892年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2778">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>敘</h1>
<p>守方隅之見者。不能馳域外之觀而好高務廣。輩又往往捨近求遠。趨新奇而廢正道。如陳相師許行梁武尊佛氏不已傎乎然。果能擇善而從。則又如趙武靈王易胡服習騎射遂霸天下。蓋窮變通。久不拘於墟也。方今四海為家。五洲同軌自鴻荒以至今日天地開闢於斯為盛舉。凡三才之所有百族之所宜。上可損益乎。古今下可參酌乎。中外要使善無不備美無不臻駕三皇而軼五帝。豈獨一材一藝彰明較著於天下已耶。夫醫其小焉者也。然即以醫論之五行列於洪範為調變陰陽之資十全重於周官實康濟斯民之助。故自軒岐以逮仲景醫法。詳明與政治聲教相輔佐。晉唐以後漸失真傳。宋元以來尤多紕謬。及今泰西各國通於中土。不但機器矜能即於醫學。亦詆中國為非。豈知中國宋元后醫誠可訾議。若秦漢三代所傳內難仲景之書極為精確。迥非西醫所及。蓋西醫初出未盡周詳中醫沿訛率多差誤。不及此時釐正醫道貽害生民。不知凡幾余以菲材值古今大變局時自顧一手一足毫不能扶持中外。惟於醫道嘗三致意因摘靈素諸經錄其要義兼中西之說解之不存疆域異同之見。但求折衷歸於一是冀五大洲萬國之民咸無夭札始無歉於寸心。夫醫其小焉者也。所望賢士大夫採風觀政棄短取長得推行盡利之方策長治久安之術。俾中外交泰同登熙皞雍和之盛。則誠盡美盡善矣醫其小焉者也。</p>
<p><u>時大清光緒十八年歲在壬辰秋九月蜀天彭唐宗海容川敘於黃歇浦上袖海山房</u></p>

<h1>例言</h1>
<p>一唐宋以後醫學多訛。西法近出詳形跡而略氣化得粗遺精皆失也。因集靈素諸經採其要語分篇詳註為救其失起見非好辯也識者諒之。</p>
<p>一每篇標題四字以別章節。知非著述體裁。然使學者先知綱目易於尋求不嫌有乖大雅也。</p>
<p>一是書註釋多由心得。實皆以經解經毫無杜撰間採西法或用舊說總求其是而已。</p>
<p>一是書期於實用與各種經古文詞不同。故解義訓詁無漢宋門戶之分。亦無中西異同之見。要使經旨皎然足裨實用為有益於世耳。</p>
<p>一中國臟腑圖。皆宋元后人所繪與人身臟腑真形多不能合。故各圖皆照西醫繪出較舊圖實為美善。</p>
<p>一中國醫林改錯曾剖視臟腑與西醫所言略同。足見中國臟腑與西人原無差別。因採其圖以為印證。</p>
<p>一所採西人臟腑圖。非但據西人之說。實則證以內經形跡絲毫不爽以其圖按求經義則氣化尤為著實。</p>
<p>一十二經脈奇經各穴。皆西醫所不能知。因採銅人圖繪出。意在發明經旨穴不盡載。惟採有關經氣者詳悉注之。</p>
<p>一胃五竅及三焦。中西皆無其圖。今特本內經之義切實繪出。揆之西人形跡亦無不合。足見西人雖詳於形跡而猶未及內經之精。</p>
<p>一是書方證未能詳列然於審證處方之理。業經發明則權衡在我。無論中西各醫書皆有裁別不致迷眩。是醫學正本清源之書也。</p>
<p>一是書所引內難經文未及其半。然大義微言採注已備熟。此後再讀全書自能渙然冰釋。</p>

<h1>上卷</h1>

<h2>人身陰陽</h2>
<p>西醫謂造化主。惠育群黎。所謂造化主。即天地之神也。與中國人本天地之中以生之義。不謀而合。但語言文字。略不同耳。茲且舉天地生人之理。先註明之。天地只此陰陽。化生五運六氣。人身秉此陰陽。乃生五臟六腑。</p>
<p>夫自古通天者。生之本。本於陰陽。</p>
<p>凡人未生之前。男女媾精。而成此胎孕。即本天地水火之氣而交媾也。既生之後。鼻息呼吸。得天之陽以養氣飲食五味。得天之陰以養血是未生之前。既生之後皆無不與天相通。而所以相通之故。則以人身之陰陽實本於天地之陰陽而已。西洋化學。言人吸空中養氣而活。所謂養氣。即天陽也。至於飲食五味。不知是地之陰質。雖西醫書先有博物一篇。而未將陰陽兩字分晰。究不得其主宰。</p>
<p>陰者藏精而起亟也。陽者衛外而為固也。</p>
<p>人身之陰陽互為功用。陽無陰則亡。陰無陽則脫。陰主藏精於內。而陰中之氣。乃常亟起。以應乎外。有如皮膚在外屬陽。而在內之血液。必達於皮膚。以為毛為汗。氣出口鼻為陽。而在下之水津。必出於孔竅以為津為液。此即亟起應陽之一端也。又亟與極通。陰精生陽氣如太極之動而生陽也。故曰起亟。陽者陰之衛也。有陽衛於外。而陰乃固於中。譬之女子之胎。內有血衣是陰也。其外先有水衣包之。水衣包血衣。此即陽衛於外。陰乃得固之義。又如傷寒。邪入皮毛。繼乃傳經入里。蓋因陽不衛外。是以陰不能固於其內。此可見陰陽交互之理。</p>
<p>言人之陰陽。則外為陽內為陰。言人身之陰陽。則背為陽腹為陰。言人身臟腑中陰陽。則臟者為陰。腑者為陽。</p>
<p>就人渾而論之。則在外者。皮肉筋骨皆屬陽。在內者。五臟六腑皆屬陰。若就人身分而論之。則背象天覆為陽。督脈統之而太陽經全司之腹象地載為陰任脈統之而太陰經全司之再以臟腑分論之。則五臟主藏為陰。六腑主瀉為陽。夫外為陽。而有腹背之陰陽者。陽中有陰陽也。內為陰。而有臟腑之陰陽者。陰中有陰陽也。人必先明天地陰陽之理。而後知人身之氣化。西醫剖割視驗。人之背面前面左右內外。層折詳矣。而不能將各層分出陰陽。則上知其形。不知其氣。以所剖割只能驗死屍之形。安能見生人之氣化哉。</p>
<p>此節生氣通天論。金匱真言論文合為一章。以為醫理之大源也。</p>
<p>五臟所生。</p>
<p>天有五氣。地有五行。人本天地之中以生。而有五臟。臟者藏也。藏天地之精氣。所以成其形而為人也。故欲知人身之陰陽。須先知五臟之氣化。</p>
<p>東方生風。</p>
<p>東方於卦為震。於時為春。陽氣發動。而陰應之。遂生風氣。風氣者。乃天春生無形之氣也。西洋天學。言空氣有冷熱相吸而成風。夏月熱帶在北。則風從南至。冬月熱帶在南。則風自北來。內經所謂東方當南北之間。是西洋言風之往來。內經則風所從生。南北是陰陽兩殊。故風從此異。東方是陰陽交應。故風從此生。內經探生風之源。比西洋更精。</p>
<p>風生木。</p>
<p>由無形之五氣。生有形之五行。春氣所生為甲乙木。西洋格致。皆以草木有根芽子核而生。然當天地開闢。實有風氣。而後化生草木即以芽核論之。仍是秉風氣所生。蓋地土陰質。得發動之陽氣。即風氣也。邵康節所謂地下。有雷聲春光彌宇宙是矣。既萌芽後。則感受空中之風。而天又有風星。以司其氣化。雖西洋有引土膏吸炭氣之說。亦只是火來就木水來生木。而究木之體。則總屬風氣。蓋在天則木本風化而在人則肝為風臟。</p>
<p>木生酸。</p>
<p>有木之形。即有性味。木之味酸。故凡果實。味皆帶酸。變酒為醋。亦只是風氣釀成。</p>
<p>酸生肝。</p>
<p>五氣五行。亦既朕兆而成性味矣。然後人得秉之而生五臟。秉風木之氣所生。則為肝臟焉。蓋人所以日食五味者。藉以生養五臟也。酸味入腹。則生養肝臟焉。子孕母腹中。亦賴母所食五味合之氣血以生五臟。</p>
<p>南方生熱。</p>
<p>南方正當赤道。於卦為離。陽氣外發。是生熱氣。即西洋所謂熱帶。日行赤道生熱也。故日為眾陽之精。</p>
<p>熱生火。</p>
<p>熱者夏之令也。夏氣所生。於地之五行。為丙丁火。熱是無形之天氣。火是有形之地氣。故河圖之數。地二生火西洋化學。言以鋼擊石。所生之熱。與鋼鐮磨下石屑。與空中養氣化合而燃。鑽木相磨。亦與空中養氣化合而燃。即內經熱生火之證。</p>
<p>火生苦。</p>
<p>凡物經火。味無不苦。蓋火之性使然也。草木秉火之性者。其味皆苦。另詳性味篇。</p>
<p>苦生心。</p>
<p>生人秉火之性味。於是而生心臟。與酸生肝義同。</p>
<p>中央生濕。</p>
<p>中央。陰陽交會之所。陰屬水。陽屬火。水火交會。而生濕氣。為長夏之令。以化生萬物。央者。陰陽二字。雙聲合為一音也。蓋天陽地陰。下下相交。南熱北寒。水火相交。遂蒸為濕。西洋言談養炭輕四氣。瀰漫地球。而古聖。只以中央二字。已賅其義。</p>
<p>濕生土。</p>
<p>濕氣無形。化生有形。為戊己土。土之生物。全在於中含濕氣也。西洋言土即是地。不知古聖。卻有分別。天是陽在上。地是陰在下。而土在陰陽相交之中央也。西洋言土。是物質腐爛而成。而不知所以腐爛。皆借濕氣。</p>
<p>土生甘。</p>
<p>土之味本淡。而所生五穀則味甘。故甘者。土之性味也。西洋但知現成之五味。而不知五味所自生。故其論藥多誤。</p>
<p>甘生脾。</p>
<p>人秉土之性味。於是而生脾臟。</p>
<p>西方生燥。</p>
<p>西方主秋金之氣。收斂肅殺。其氣為燥。在一日為申酉日入之時。陰收陽斂。氣澤消滅。致成燥氣。在一刻為秋令。收斂肅殺。所以成物。賴此燥氣也。西洋化學。不知燥氣。因此為水火消耗之氣。不能以器取得故不知也。</p>
<p>燥生金。</p>
<p>有此無形之燥氣。乃生有形之金。於地之五行為庚辛金。秋日燥氣用事。則草木黃落。即是生金之驗。土之所以生金者。亦以其由濕返。燥凝而成質也。</p>
<p>金生辛。</p>
<p>有燥金之氣性。然後生此辛味。</p>
<p>辛生肺。</p>
<p>人秉金之性味。於是而生肺臟。所以藏天地之金氣也。</p>
<p>北方生寒。</p>
<p>北方主冬令。生寒氣。熱帶在南。冷帶在北　。故西洋有北冰海之說。</p>
<p>寒生水。</p>
<p>氣以生形。寒氣所生。為壬癸水。西洋謂水。是輕養氣所化。獨內含輕氣。以冷玻璃罩之。則與空中養氣。化為水珠。然必罩以冷玻璃。仍從冷而化也。又云將二氣放水銀盆內燒之。復化為水。水銀極寒。是與內經寒生水之義亦合。</p>
<p>水生咸。</p>
<p>寒水之性。其味為咸。</p>
<p>咸生腎。</p>
<p>人生秉寒水之性味。而生腎臟。以司人周身之水。</p>
<p>人生本天親地。故生此五臟。以應天地之陰陽。必先知人之五臟。本於五行。然後發之為百骸。推之為萬物。莫不本於五行焉。五行之氣偏則為病。草木各得五行之氣。藉以調五臟之偏。藥之功用以著設非先明五行之理。不可以言醫也。故引素問陰陽應象論文以明之。西洋天學化學。雖與中國五行之說不同。而義實相通。惟西洋醫學。則止就人身形質立論。不知人之氣化。實與天地同體也。</p>

<h2>五臟所屬</h2>
<p>五臟秉於五行。凡秉五行之氣而生者。皆以類相屬推其類。可盡天地之物。知所屬。乃明形氣所歸。而病之原委。藥之宜忌。從可識矣。</p>
<p><u>肝</u></p>
<p>舊說七葉。居左脅下。非也。西醫云。四葉。後靠脊。前連膈膜。膽附於肝之短葉間。膈即附脊連肝。從肝中生出。前連胸膛。肝體半在膈上。半在膈下。實不偏居於左。謂肝居左者。不過應震本東方位自當配在左耳。</p>
<figure>
<img alt="肝圖">
</figure>
<p>醫林改錯。言肝系。後著脊。前連胃。名為總提。上有胰子。總提內有行水管為胃行水西醫言肝無所事。只以回血生出膽汁入腸化物。二說言肝。行水化食。不過內經。肝主疏泄之義而已。至肝系之理。尚未詳言。按肝繫上連心包絡。故同稱厥陰。經繫著脊處則為肝。俞穴系循腔子。一片。遮盡是為膈膜肝系下行前連腹中。統膜而後連腎系。為肝之根通身之膜內連外裹。包肉生筋皆從肝。系而發舊說言肝居左。西說言肝居右。然其系實居。脊間正中。至診脈分部左右。亦從其氣化而分。非以形而分也。</p>
<p>在天為風。</p>
<p>震巽主氣。在天為風。人秉天之風氣而生肝臟以司周身之風。故凡風病以肝為主。</p>
<p>在地為木。</p>
<p>本天無形之風氣。生有形之木。肝實秉風木之氣所生。解得二字。便知肝之氣化。</p>
<p>在體為筋。</p>
<p>筋連於骨。蓋骨屬腎水。筋屬肝木。乃水生木之義。以應天甲乙之象。究肝生筋之跡。實由肝膈連及周身之膜由膜而連及於筋也。西醫剖視見白膜包裹瘦肉。而兩頭即生筋也。然彼但言筋之體。未言筋之根。惟內經以筋屬肝。是從肝膈而發出膜網。然後生筋。若不尋出筋之源頭則筋病不知治法。</p>
<p>在色為蒼。</p>
<p>微青微黃。皮色老潤。乃蒼正色。其肝無病。若青勝黃則肝寒。若黃勝青則肝熱。西人不講五行。故不知氣色相應之理。</p>
<p>在音為角。</p>
<p>角為木音。和而長知肝無病。西洋聲學言弦管甚詳。然不能分出五音六律。則察理未精。</p>
<p>在聲為呼。</p>
<p>叫呼也。肝氣太勝。和長之音變為叫呼。狂譫之類是也。宜抑其肝。</p>
<p>在變動為握。</p>
<p>支節運動。皆筋所主。而手尤顯然。故筋之變動。則發為握。寒則拘急熱則縮攣。風火閉結則握拳。透爪搐搦瘈瘲。皆筋之變。</p>
<p>在竅為目。</p>
<p>肝脈交顛入腦。由腦而通於目故肝開竅於目。肝藏魂。晝則魂遊於目而為視夜寐則目閉魂復。返於肝。西醫剖割眼珠。極贊重疊細絡之妙。受光照察之神。然試問醒開寐閉。黑子瞳子之所由生。則不知也。又使無神水。而欲其受。外光能乎。惟心火腎水交會於腦。合肝脈注目中。肝者心之母。腎之子故並二臟之精而開竅於目。西醫之精。能將斜目修削使正。然不久仍斜不知病源。剖割何益哉。</p>
<p>在味為酸。</p>
<p>木之本味也。木得寒濕之氣。則化而為酸。如菜入壇醃則酸是矣。木得濕熱之氣。則變而為酸。如麩得糟曲。則酸是矣。吐酸亦分寒熱二證。寒酸吐清冷。熱酸帶腐臭。</p>
<p>其液為淚。</p>
<p>目為肝竅。故淚為肝液。</p>
<p>其華在爪。</p>
<p>爪是筋之餘。肝主筋。故其華在爪。</p>
<p>其臭為臊。</p>
<p>食草木各禽獸。皆有臊臭。秉木之氣故也。五臭之辨精矣。西人不知。</p>
<p>其谷為麥。</p>
<p>麥為芒谷秉東方勾萌之木氣。故麥牙能疏肝。仲景治除中病。以蒸餅試之。取木剋土也。</p>
<p>其畜雞。</p>
<p>巽為雞。木畜也。故仲景用雞矢。治轉筋。取其為肝去風也。五常政論。以犬屬肝。木之畜又是一義。</p>
<p>其蟲毛。</p>
<p>大而虎豹。小而毛蟲。皆風木之氣所生。故肝病癲癇。或作虎豹之狀。又有病遍體生毛者。西醫五種。有博物新篇圖。畫獅象小蟲。毫芒畢具。然不知屬風木之所生。則於醫理物理不能推到造化根源也。</p>
<p>其數八。</p>
<p>河圖三為木之生數。八為木之成數。五行之數。理極精微非西人所得知也。數起於一者。初也。始也。混沌初開。惟水先有。故曰天一生水。然水氣初生而未成也。必待火木金土之氣皆生。水得兼借其氣而後成。故歷二三四五至於。六數水乃成。焉火則繼水而生故地二生火。亦成於水之後。故天七成之水火之氣。已具乃化生木故天三生木地八成之四九金五十。土其理一也。生於陽者成則為陰生於陰者成則。為陽聖人於生成之次序。而以數紀之又以其數之陰陽。而於物驗之神矣。</p>
<p>其果李。</p>
<p>仲景用李根皮。郁李仁。皆治肝也。一行之中。又各分五行。故果雖同是木實。而又各屬五臟。</p>
<p>其菜韭。</p>
<p>得春氣最先。故屬木。韭根止血。能行肝氣故也。韭子治遺精。溫斂肝氣也。</p>
<p><u>心</u></p>
<p>形圓上闊下尖。周圍夾膜。即包絡也。其上有肺罩之。空懸胸中。其下有膈膜遮截。膈為膻。包絡為膻中。心為君主。西醫云。有腦氣筋貫之。有左右房。以生血回血。又按心之脈絡。從包絡中發出。以達於周身。故包絡為臣使之官。</p>
<figure>
<img alt="心圖">
</figure>
<p>西醫言心內。分左右四房。皆有管竅為生血回血之用。血受炭氣。則紫回行至心右上房。有一總管。接回血入心中。落右下房。又一總管。運血出而過肺。被肺氣吹去紫色。遂變純赤。還入心之左上房。落左下房。又有一總管運血出行。遍於周身。迴轉於心。此即內經營衛交會。於手太陰肺及心主血脈之說也。</p>
<p>在天為熱。</p>
<p>夏令南方離火主氣。是為熱也。</p>
<p>在體為脈。</p>
<p>心生血。乃秉火氣之化。故血色赤。脈者。血之道路也。脈經云脈為血府。西醫云。心房動跳不休。周身之脈。皆應之而動。醫林改錯。謂脈是氣管非也。觀仲景復脈湯。全補心血。可知之矣。</p>
<p>在色為赤。</p>
<p>火之色見於皮里。如以縞裹朱。心血足也。若赤斑麻疹。皆是心火太甚。西洋化學。言紅色中多養氣。又言養氣能燃。即內經火之色赤之義。</p>
<p>在音為徵。</p>
<p>音和而美。其舌抵齒。</p>
<p>在聲為笑。</p>
<p>心志喜故發聲為笑。</p>
<p>在變動為憂。</p>
<p>喜之變也。心火宣明。則喜心火鬱閉則憂。西人但知憂喜笑怒。人有此當然之情。而所以成此情者。西人不知。</p>
<p>在竅為舌。</p>
<p>心之脈管。從肺系以上於舌。而辨五味。</p>
<p>在味為苦。</p>
<p>物經火煅。其味皆苦然苦雖是火味。實則火之餘氣也。故凡味苦者。均能瀉火。</p>
<p>在志為喜。</p>
<p>心火宣明。故喜。</p>
<p>其液為汗。</p>
<p>汗乃膀胱化水之氣。透出皮毛者也。故凡汗均歸太陽經。因小腸為心之府。與膀胱同是太陽經同附著於連網之上。心火宣布。由小腸連網併合膀胱是為火交於水。乃能化氣。外達而為汗故仲景無汗用麻黃。有汗用桂枝二方。均主桂枝。以宣心陽也。此所以汗為心液。西洋醫法不知汗之源也。</p>
<p>其榮為色。</p>
<p>血足故也。</p>
<p>其臭為焦。</p>
<p>凡物火灼。其氣皆焦。</p>
<p>其數七。</p>
<p>河圖二為火之生數。七為火之成數。</p>
<p>其谷黍。</p>
<p>色赤性溫。故為心之谷。</p>
<p>其畜馬。</p>
<p>天之大火星為心。又名天駟房駟之精。下則化為馬。故馬為火畜。金匱真言云。其畜羊。然以馬為義長。</p>
<p>其蟲羽。</p>
<p>羽族應南方朱鳥之象。西洋格致言鳥肉多縫隙。使養氣充滿。則輕靈善飛。養氣能燃火。則知羽族。秉火氣多矣。</p>
<p>其果杏。</p>
<p>夏之果。故屬火。杏仁苦降。雖是肺藥。實以火制金之義也。</p>
<p>其菜薤。</p>
<p>氣辛溫。葉不沾水。秉火氣所生者也。仲景用治胸痹。以其能宣心陽也。</p>
<p><u>脾</u></p>
<p>居中脘。圍曲向胃。西醫云。傍胃處又有甜肉一條。生出甜汁從連網入小腸上口。以化胃中之物。脾內有血管。下通於肝。余按脾居油膜之上。與各臟相通。其血氣往來之道路。全在油膜中也。中國醫書。無甜肉之說。然甘味屬脾。乃一定之理。西醫另言甜肉。不知甜肉。即脾之物也。又按仲景越脾湯。是發散肌肉。脾約丸是滋潤膏油。蓋脾臟生內。之膏油從內膏油。透出於外。是生肌肉然則外肌內膏。皆脾之物也。西醫言脾中之血。壅熱氣以薰化水。谷蓋血即心火所生。壅生熱以化谷者。火生土之義也。至於脾土製水之說。西醫不知。言水入口。散出於胃。走連網中。不知連網上之。膏即脾之物。膏滑。故水利。</p>
<figure>
<img alt="脾圖">
</figure>
<p>醫林改錯言脾中有管。名玲隴宮。水從胃透入此管。遂下走雞冠油中也。余按脾與胃相連處。有膜一條。其中有管。自然無疑脾質凝血而成。西醫言脾中有血管。回血聚於脾中者極多。余按血是心火所生。火生土。故統血極多。食入則脾擁動熱氣以化之。西醫又言有甜肉汁化谷。按甜肉即胰子也。生於油上。凡膏油皆脾所生之物。膏能化水胰子。能化油脾稱濕土。正指胰子與膏也。有此滑潤。故腸中通利而物化。宋元后圖脾居於右。西醫圖居於左。考淮南子。已有脾左肝右之說。但脾之應脈。實在右手。蓋其功用實歸於右也。</p>
<p>在天為濕。</p>
<p>長夏之令。陰陽交會。是生濕氣。</p>
<p>在地為土。</p>
<p>濕氣所化。於五行為土。凡物濕漬皆化為土。而土中又常含濕氣也。</p>
<p>在體為肉。</p>
<p>此肉字兼肌言之。肌是肥肉。肉是瘦肉。人身肥肉包瘦肉。外之肥肉。又由腔內之油膜透達而生者也。脾生油膜之上脾氣足則油多而肥膜上之油。即脾之物也。在內為膏油。在外為肥肉。非兩物也。油膜中有赤脈。屬脾血分。脾之血足。則此赤脈由內達外是生瘦肉。蓋土是天地之肉。脾亦應之。而生肌肉。</p>
<p>在色為黃。</p>
<p>黃為中央之土色。凡人面黃明潤為無病。發黃為濕。病在脾也。</p>
<p>在音為宮。</p>
<p>聲大而和。其舌居中。</p>
<p>在聲為歌。</p>
<p>脾主思。思而得之。則發為歌。癲狂自歌。脾絕亦歌。</p>
<p>在變動為噦。</p>
<p>脾氣逆滿。吐聲不吐物也。與噫呃略同。非痰即血之所致。</p>
<p>在竅為口。</p>
<p>口通五臟。然主於納穀先通於胃。而胃實脾之腑也。故口亦是脾之竅。凡百體皆有專屬者。有兼屬者。西醫圖口。通腦通心肺。通胃。而不通脾。不知胃乃脾之腑。不通脾。而反屬脾竅。則其歸屬。有真主宰矣。內經精確如此。真中外所不能及。</p>
<p>在味為甘。</p>
<p>西醫云。甜肉汁。入腸化物。蓋甘者。土之本味也。故甘味均能補脾。太甘則又壅脾氣。而為病。</p>
<p>在志為思。</p>
<p>脾主運用。故其志在思。而思慮又轉傷脾。</p>
<p>在液為涎。</p>
<p>五液皆腎所主之水也。脾土不能制水。則水濕而為涎。脾寒者。其涎清冷脾熱者其涎稠黏。</p>
<p>其榮為唇。</p>
<p>口為脾之竅。唇又為口之門戶。故脾之氣血沖和。則唇明潤。脾熱者唇枯脾絕者唇縮唇不與脾連。而脾榮卻見於唇。西醫之拘於形跡者。斷不能知。</p>
<p>其臭香。</p>
<p>甘味所發。其氣為香。木香之類。所以入脾。</p>
<p>其數五。</p>
<p>河圖十為土之成數。五為土之生數。居五行之中。茲故獨舉中五以立言。</p>
<p>其谷稷。</p>
<p>味甘入脾。即北地小米之大而黃者。</p>
<p>其畜牛。</p>
<p>黃牛也。鳴中宮音。本草言牛乳益脾。忌酸味，因牛屬土。酸屬木。故不相宜。義可類推。</p>
<p>其蟲倮。</p>
<p>如蚯蚓是秉土之精能化毒以利水。</p>
<p>其果棗。</p>
<p>味純甘。土之果。補脾多用之。</p>
<p>其菜葵。</p>
<p>即冬葵。秉土濕氣所生。故滑潤。土能制水。故冬葵子。能利小便。</p>
<p><u>肺</u></p>
<p>西醫言肺覆而盂。前兩葉包心。在後有峽及肺根。此根即氣管。肺脈連網等。包裹肺衣而成每肺外。有衣薄而通明包肺四面。肺有縮力。每葉藏氣管氣管之末為氣泡。肺脈至氣泡而散。即包。氣泡功用主呼吸也。此說於肺衣氣泡。頗能詳明宋元后不知肺之功用。全在衣與泡也。</p>
<figure>
<img alt="肺圖">
</figure>
<p>舊云八葉。非也。西醫云五葉。右三左二。披離下垂。後附脊骨。前連胸膛。肺中有管竅。通於膈膜。而下達氣海。肺質輕鬆。外有膜沫濡潤。以助呼吸。</p>
<p>在天為燥。</p>
<p>在天為收斂肅殺。秋燥之氣。故經秋則草木焦枯感燥氣也。</p>
<p>在地為金。</p>
<p>燥氣所生。於地之五行。為庚辛金。人之肺臟實秉燥金之氣。而生者也。</p>
<p>在體為皮毛。</p>
<p>肺金乾象。其體如天。天包於地之外。皮毛包於人身之外。故皮毛屬肺。肺多孔竅。皮毛盡是孔竅。所以宣肺氣。使出於皮毛以衛外也。西醫剝皮觀而知人何處皮厚。何處皮薄。然不知皮為肺之所司。言毛孔能傳人之熱外出。而不知是太陽衛外之陽也。</p>
<p>在色為白。</p>
<p>金之本色。人面白而明潤者。肺無病。白如枯骨者死。慘白者失血。以肺主氣。但見肺之色是氣多而血少也。</p>
<p>在音為商。</p>
<p>西方金音。口張聲揚。</p>
<p>在聲為哭。</p>
<p>商聲也。主秋令發哀傷之聲故哭。</p>
<p>在變動為咳。</p>
<p>肺主氣。氣逆而搶上。故咳有痰火迕犯而咳者。有寒飲閉滯而咳者。</p>
<p>在竅為鼻。</p>
<p>氣管總統於肺。而上通於鼻以主呼吸。</p>
<p>在味為辛。</p>
<p>金之性烈。故味辛。細辛薄荷之類是也。若大辛者。又秉金斂火速之性。主下行以溫肝腎。桂附是也。</p>
<p>在志為憂。</p>
<p>肺主斂。憂則氣斂。</p>
<p>在液為涕。</p>
<p>涕出於鼻。故為肺之液。肺有寒。則涕自出。有火則無涕。</p>
<p>其榮為毛。</p>
<p>肺主皮毛。故肺腴。則皮毛榮也。</p>
<p>其臭為腥。</p>
<p>魚為水族。兼秉金氣故其臭皆腥。</p>
<p>其數九。</p>
<p>河圖。四為金之生數。九為金之成數。</p>
<p>其谷稻。</p>
<p>秋熟。皮黃米白。故屬金。</p>
<p>其畜狗。</p>
<p>說文云。叩氣發聲。故名狗。肺主氣。狗能叩氣。故屬肺金之畜。</p>
<p>其蟲介。</p>
<p>鎧甲之象。屬金鱉甲山甲。均能破肝。以其秉金氣能攻制木也。</p>
<p>其果李。</p>
<p>按李既屬肝。此當以梨配之。五常政論作桃。</p>
<p>其菜韭。</p>
<p>韭色白。亦可屬肺。然其得春氣為多。總宜屬肝。秉金氣者。不止此藥。古人以此屬肺。亦只示人以端倪。非謂此外。更無其物。又以見一物。不止一義耳。</p>
<p><u>腎</u></p>
<p>形如豆。又似豬腰子。腎中有油膜一條貫於脊骨是為腎系此係下連。網膜又有氣管由肺而下。附脊循行。以下入腎系而透入。網膜達于丹田。兩腎屬水中間腎系屬火即命門也。命門為三焦膜油發源之所。故命門相火。布於三焦。焦即油膜也。舊說多誤。西醫析言之。而不能會通也。詳考內經自見。</p>
<p>腎靠脊而生。有膏油遮掩。附腎有薄膜包裹。西醫名為腎衣。此衣發於腎系。乃三焦之源也。腎系是白膜層疊結束而成。一條貫脊。系中內竅通。脊髓最深之竅也。其次為氣管。外通於鼻。以吸天陽下入丹田。為生氣之根又其次為溺。竅水入胃。散膜膈中。以入腎系。合為溺竅透入下焦乃及膀胱。西醫但言氣管溺管。而不知化精通髓。尤有一管名曰命門者。水中之陽外通天氣為生命之根源也。內經未言溺過腎中。然謂三焦為水道。膀胱為水府。腎為三焦膀胱之主。其司溺從可知矣。</p>
<figure>
<img alt="腎圖">
</figure>
<p>在天為寒。</p>
<p>北方冬令。陽氣內斂。陰氣交互。是為寒氣。</p>
<p>在地為水。</p>
<p>寒氣所生。於卦為坎。於五行為水。</p>
<p>在體為骨。</p>
<p>腎秉寒水之氣。主蟄藏受五臟之精而藏之化。髓生骨。小兒髓不足。故頭骨未合。老人腎虛。故骨痿也。西醫將人骨骼。照印入書。長斷大小。圓銳曲折。盡其形矣。然不知是腎之所生。彼以骨中有髓。知為腦髓生骨。而不知並腦髓。皆腎所生也。余識西醫潘某中國人。而為外國醫士者也。</p>
<p>其妻死。即用洋藥。化去屍肉。存枯骨。置之藥房。以備考校。此於接骨檢驗。詢為有益。於內證毫無補裨。存其骨。而不知骨所自生。遷可笑矣。</p>
<p>在色為黑。</p>
<p>水之色也。黑而慘淡者。水泛土衰。黑如煙煤者。水枯腎竭。五行之理。成功者。退五。色亦然黑轉青。則黑退青轉紅。則青退爛布造作洋紙。腐化全帶黑色。若欲退其黑色。用品藍入。則黑退。然紙成後。內存品藍性。久則變出青色。必再加品紅水。則青色退盡。永不變藍色矣。是可見五行退卸之理。</p>
<p>在音為羽。</p>
<p>其音低細。</p>
<p>在聲為呻。</p>
<p>呻。伸也腎氣在下。故聲欲太息。而伸出之。</p>
<p>在變動為慄。</p>
<p>戰慄。寒貌老。人陽虛。往往寒戰。</p>
<p>在竅為耳。</p>
<p>陳修園謂腎脈不上頭。腎與心交。假心小腸之脈。入耳為聽宮。其說迂曲。豈有腎自開竅。而無路上頭之理。蓋腎主腦。髓耳通於腦。路甚直捷。所以腎開竅於耳也。西人稱耳深處之穴。曰耳鼓箱。有薄翳蓋之。氣搏則動。下有細骨如干。傳其動於穴底耳翳接細絡。如琴瑟之有弦。稀密拉。放以外音傳於腦。則耳亦琴也。巧妙之至。西人此說精矣。然不知耳是腎竅。不知司聽者。是何物也。蓋髓為精神所會。而竅通於耳。故能辨聲音。聲氣二者。皆空虛無形。然聲速於氣。氣已至。則可呼吸而入口。聲已至。不能招收而得。西學言空氣。布滿天地凡聲音者。是擊動空氣而成也。據此則耳之辨音。亦以耳竅內之氣為外空氣擊動。故聲傳入耳。腎者。生氣之源。而髓則腎精所化。則髓中之氣尤至。靈氣也。故外空氣傳聲動之則應。又聽有遠近明暗之分。則久視乎髓中之氣。有優劣也。西學尚未談到此。</p>
<p>在味為咸。</p>
<p>洪範曰。潤下作咸。水之味也。藥如蓯蓉等。皆入腎。</p>
<p>在志為恐。</p>
<p>腎存志。為作強之官。腎虛不能作強。則為恐矣。</p>
<p>在液為唾</p>
<p>腎絡上貫膈。入肺系。系舌本。舌下廉泉玉英穴。出液之道也。腎液上泛。則為唾。</p>
<p>其榮為發。</p>
<p>發雖血之餘。實則血從氣而化。外達皮毛。上至顛頂而生髮也。氣乃腎水之生陽。由太陽經而達於外。以上於頭。血在血室之中。得腎氣之化。外達則為皮毛。上行則生頭髮。血室氣海是二是一。皮毛頭髮。並非二物。所以發名血餘。而又為腎水之榮也。故烏鬚髮之藥皆補腎。</p>
<p>其臭為腐。</p>
<p>凡物入水。無不腐化。故水之臭腐。</p>
<p>其數六。</p>
<p>河圖。一為水之生數。六為水之成數。</p>
<p>其谷豆。</p>
<p>黑豆也。其性沉。其色黑。故屬腎水。</p>
<p>其畜豕</p>
<p>豕也。色黑屬亥。為水之畜。</p>
<p>其蟲鱗。</p>
<p>魚龍。皆水中之陽物也。故鯉魚湯利水。龍骨鎮腎氣。皆從其類之義。</p>
<p>其果慄。</p>
<p>色黑。根不亡本。故屬腎水。</p>
<p>其菜藿。</p>
<p>古藿。即豆苗葉。</p>
<p>天地之大。不外五行。人稟天地而生五臟。推之於物。各稟五行。因皆與人之五臟相屬。能知五行變化之理。則於病藥。自然會通。故節錄金匱真言臟象論等文合為一章以見大概。</p>

<h2>五臟所藏</h2>
<p>人之所以靈於物者。以其秉五行之秀也。夫此靈秀之氣。非空無所寄而已。實則藏於五臟之中。是為五臟之神。人死則其神。脫離五臟。人病則五臟之神不安。知五神之所司。而後知五病之情狀。</p>
<p>心藏神。</p>
<p>人所以有知覺。神主之也。神是何物。渾言之。則兩精相搏謂之神。空言之。則變化不測謂之神。此皆放言高論。未能實指之也。吾且為之實指曰。神乃生於腎中之精氣。而上歸於心。合為離卦中含坎水之象。惟其陰精內含陽精外護心臟之火。所以光明朗潤而能燭物蓋神即心火。得腎陰。濟之而心中湛然神明出焉故曰心藏神。心血不足。則神煩。心火不足。則神怯。風痰入心。則神昏也。西醫知心為生血回血之臟。而謂心不主知覺者主知覺者。是腦髓筋。又言腦後筋。只主運動。腦前筋主知覺又言腦筋有通於心者。彼不知髓。實心之所用。而非髓能知覺也。蓋髓為水。之精得心火照之而光見故生知覺矣古文思字從囟。從心。即以心火照腦髓之義。髓如月魄心如日光相照為明。此神之所以為用也。</p>
<p>肝藏魂。</p>
<p>魂者陽之精。氣之靈也。人身氣為陽。血為陰。陽無陰不附。氣無血不留。肝主血。而內含陽氣。是之謂魂。究魂之根源。則生於坎水之一陽。推魂之功用。則發為乾金之元氣。不藏於肺。而藏於肝者。陽潛於陰也不藏於腎而藏於肝者。陰出之。陽也。晝則魂遊於目而為視夜則魂歸於肝而為寐。魂不安者夢多魂不強者虛怯西醫不知魂是何物。故不言及於夢然西人知覺與華人同。試問彼夜寐恍惚。若有所見者。是何事物。因何緣故則彼將啞然。蓋魂非剖割所能探取。而夢非器具所能測量故彼不知也。</p>
<p>肺藏魄。</p>
<p>人身血肉塊然。陰之質也。有是質。即有宰是質者。秉陰精之至靈。此之謂魄。肝主血本陰也。而藏陽魂肺主氣本陽也。而藏陰魄陰生於陽也。實指其物。即肺中清華潤澤之氣西醫所謂。肺中只有膜沫是也。惟其有此沫。則散為膏液。降為精血。陰質由是而成矣魂主動而魄主靜。百合病。慌惚不寧魄。受擾也。魔魘中惡。魄氣所掩也人死為鬼。魄氣所。變也。凡魂魄皆無形有象。變化莫測。西醫剖割而不見。遂置弗道。夫談醫而不及魂魄。安知生死之說哉。脾藏意。</p>
<p>舊注心之所憶謂之意。心火生脾土。故意藏於脾。按脾主守中能記憶也。又主運用。能思慮也。脾之藏意如此。脾陽不足則思慮短少。脾陰不足則記憶多忘。</p>
<p>腎藏志。</p>
<p>舊注心之所之謂之志。神生於精。志生於心。亦心腎交濟之義。按志者。專意而不移也志本心之作用。而藏於腎中者陽藏於陰中也。腎生精。為五臟之本。精生髓為百骸之主。精髓充足。伎巧出焉。志之用也。又按志。即古誌字。記也事物所以不忘。賴此記性。記在何處。則在腎經益腎生精。化為髓而藏於腦中。凡事物。經目入腦。經耳入腦經心亦入腦。腦中之髓。即將事物印記不脫。久之要思其事物。則心一思之而腦中之事物立現。蓋心火陽光如照相之鏡也。腦髓陰汁如留影之藥也。光照於陽而形附於陰。與心神一照而事記髓中同義。西學留影妙矣。而西醫則不知人身自有照影留聲記事之妙。質雖剖割千萬人。能得此理否古思字。從囟從心囟者腦前也。以心神注囟則得其事物矣。</p>
<p>內經又有五臟七神之說。云脾藏意與志。腎藏精與氣。與此不同。然志須屬腎。精氣血三者。非神也。另條詳註。不在此例。故從五神之說為是。</p>

<h2>五臟所主</h2>
<p>此條先言所合。言本臟之內外相合也。後言所主。明其相制相成也。</p>
<p>心之合脈也。</p>
<p>西醫云。心有運血管。回血管外則散達周身。內則入於心中。心中有上下四房。以存血。心體跳動不休。而周身血管應之而動是為動脈此說極是。脈經云脈為血府即此之謂也。醫林改錯。謂脈是氣管非血管。言氣乃能動。血不能動。夫果是氣管則隨氣呼吸。一呼止。當動一至。一吸止當。動一至何以一呼動二至。一吸動二至。顯與氣息相錯哉是脈非氣管。其應心而動為無疑矣。故云心之合脈也。西醫言脈不足為診具足見西醫之粗淺也。脈診兩手。始於內經。詳於難經。事確理真非西人器具測量。所能得也。詳下榮衛生會。及診脈精要篇。</p>
<p>其榮色也。</p>
<p>心主血。血足則色華。血脫則色枯。</p>
<p>其主腎也。</p>
<p>五行之理。相生相制制則生化。心是。火臟而受制於腎水。是腎乃心臟生化之主。故其主腎也。心為離火。離卦中之陰爻。即含坎。水之象也。心之所以生血。亦以水交於火即化為血。另詳氣血條。惟其以水濟火。而火之功用乃成。故心血虛者。必兼補腎水。觀天王補心丹。仲景復脈湯均用地黃。其義可知。</p>
<p>肺之合皮也。</p>
<p>肺為乾金。體高而大。如天之無不覆。氣達於外。以衛周身。如天之無不包。故合於皮毛。西醫云。周身氣管。外則散為毛。竅。內則總統於肺。故肺合皮毛。凡是外感。無不治肺也。西法用數百倍顯微鏡。照見毛形如樹。其下有。坑。坑內有許多蟲。或進或出。其實皆氣之出入也。蓋肺主行氣。肺中盡是氣孔。鼻者直出之孔。毛者橫出之孔鼻氣大。故人皆知之毛孔之氣細故人不知。實則鼻氣一出則毛孔之氣俱出鼻氣一入。則毛孔之氣俱入。中國人不知皮毛與肺相連。皆是從毛竅相通也。</p>
<p>其榮毛也。</p>
<p>毛者。血之餘也。然實則血從氣。化而生焉。氣生於水。先天真氣。名天癸水。女子以血為主。氣從血化。故水化為血。內行下達。則為月信男子以氣為主。則血從。氣化故血化。為水上行外達則生須與毛另詳氣血條。毛榮者氣化之盛也。肺主氣故其榮在毛。</p>
<p>其主心也。</p>
<p>天之五行。火西流。而後能秋地之五行。火剋金。而後成器人之五行。心火溫肺。而後胸中陽和。無寒飲咳痹之證。故心火者。乃肺之主也。心火太甚。則肺燥。心火不足。則肺寒。</p>
<p>肝之合筋也。</p>
<p>筋象甲乙木。故為肝所合。人但知筋著。於骨節間。而不知筋實與肝通蓋肝中有大膈膜。內連肥網。外連皮膚。凡有瘦肉。皆有網膜包之。凡肉之網膜。其兩頭皆連於筋。肝之氣。即從內膈膜發為外之網膜。由網膜而發為筋。筋所以為肝之合也。中醫但言其義。未言其形。今借西法。指出跡象。尤為確實。合者。相連之謂也。凡瘈瘲筋抽。皆是內膜。伸縮收放。因牽動其筋而然。若不知筋所發生之源。則不能治也。</p>
<p>其榮爪也。</p>
<p>爪為之筋余。筋節柔和。故其榮發見於爪。</p>
<p>其主肺也。</p>
<p>肝主血主清陽之氣。必得肺金制之。木不鬱而為火。則清氣得升。血脈和暢如金不能平。木則肝火上升。為痰咳虛癆失血等證。</p>
<p>脾之合肉也。</p>
<p>肉是人身之陰質。脾為太陰。主化水穀以生肌肉。肌是肥肉。肉是瘦肉。肥肉是氣所生瘦肉是血所生脾生連網之上。脾氣足則內。生膏油。透出於外。則生肥肉脾血足。則又從連網中凝結而生瘦肉。亦由內生出於。外肥肉包瘦肉者氣包血。故也。脾陽虛則肉浮。脾陰虛則肉消。脾生膏油。從膏油而生出肌肉。其形跡之相連最顯然也。乃西醫剖割但淺割外皮。其肉象如何。深割內皮。其肉象又如何。究未知肌肉屬脾。所以不得治法。</p>
<p>其榮唇也。</p>
<p>脾開竅於口。唇乃口之門戶。故其榮在唇。凡病唇縮。為脾絕不治。</p>
<p>其主肝也。</p>
<p>肝屬木。能疏泄水穀脾土得肝木之疏泄。則飲食化肝木之陽。不升則為瀉泄。肝寒則腹痛。霍亂觀建中湯。用桂枝溫肝。即知其義。肝火鬱。則為痢。亦是肝病累脾。故肝為脾之所主西醫謂肝生膽汁。入胃化谷即內經木能疏。土之義。</p>
<p>腎之合骨也。</p>
<p>骨內有髓。骨者。髓所生。周身之骨。以背脊為主腎系貫脊。腎藏精。精生髓。髓生骨故骨者。腎之所合也。西醫支解人而視之。詳言腦髓。腦氣筋。而不知髓是何物。因不知腎與骨合。所以其治多礙也。</p>
<p>其榮發也。</p>
<p>人之毛髮。皆是血從氣化所生。義詳五臟所屬條。及本條其榮毛句。但毛生於氣孔中。屬肺金。須生於唇。乃任脈所終之地。屬肝胃兩經。而發則生於頭。是督脈經與太陽經所交也太陽經。從背上頭督脈經從脊貫頭太陽膀胱。為腎之府。督脈屬腎均交於頭。血在丹田之內。從氣之化循經而上。生為頭髮。故腎精足。則其榮在發。老人腎竭。所以發白。血從氣化之理詳天癸條。</p>
<p>其主脾也。</p>
<p>脾土能制水。所以封藏腎氣也。脾不統攝。則遺精。脾不制水則腎水泛。而為痰飲。</p>
<p>張隱菴注六微旨論云。土位之下。風氣承之。風位之下。金氣承之。金位之下。火氣承之。君火之下。陰精承之。亢則害承乃制。制則生化。故五臟所合。言其相生也。五臟所主。言其相成也。先心肺而後脾腎。乃歸重於相成。之義歟。西醫不講五行。分臟腑。截然各別而於交通之故。生成之理。概不能知。</p>

<h2>臟腑所合</h2>
<p>合者。相合而成功也。有臟以為體即有腑以為用。臟之氣行於腑。腑之精輸於臟。二者相合。而後成功。故引靈輸本樞篇文以明之。</p>
<p>肺合大腸。大腸者。傳導之府。</p>
<p>肺為清金。大腸為燥金。肺藏魄。而大腸肛門。即為魄門。肺與大腸交通之路全在肺系膜油之中。由膜油以下達於大腸。而大腸全體。皆是油膜包裹。雖大腸與肺。一上一下。極其懸遠。而其氣從油膜之中。自相貫注。蓋肺極高。大腸極下。其形勢自足相臨。手太陰肺經。與手陽明大腸經。又相表裡。故相通也。傳導之府。謂傳導肺氣使不逆也。凡大腸之病皆從肺來。故大腸燥結。須潤肺大腸痢證。發於秋金之時。亦是肺金。遺熱於大腸。然大腸病。亦能上逆而反遺於肺。傷寒論云下痢便膿血者。其喉不痹。不便膿血者。其喉為痹。蓋邪熱不從大便而瀉上壅。於喉宜瀉大腸。此大腸。所以為傳導肺氣之府也。</p>
<figure>
<img alt="大腸圖">
</figure>
<p>宋元后圖大腸。摺疊一團。不能分出上中三回。惟西醫言大腸頭。接小腸下之闌門。由右腹而上行。為上回。橫繞至胃下。過左畔。為橫回。由左腹而下行。為下回。至胯乃轉為直腸。凡人瀉利腹鳴。可試其迴轉之路也。仲景云。腹中轉夫氣者。尚有燥屎。仲景下一個轉字。已繪出大腸之形。而宋元后醫不之察。反不如西醫之踏。實小腸上與胃接為幽門。全體皆與油膜相連。甜肉汁膽汁。皆從油膜中入小腸也。</p>
<p>心合小腸。小腸者。受盛之府。</p>
<p>手少陰心經。與手太陽小腸經。脈絡循行。相為表裡。小腸全體。生連油膜。上循肝膈。透入胸中。而為心包絡。心與小腸交通處。全從包絡透出。下行達於油膜。乃與小腸相通。小腸受盛五穀使化精汁以上。奉於心。而化血故小腸為心之府。心火不宣。則小腸之糟粕不化。是飧泄。心火太甚則熱移小腸。膜油中為熱所蒸。飲水從油膜中過。則被蒸為黃赤色痢證糟粕。不化垢膩膿血。全是心移熱於小腸之病。又詳下受盛之官注。</p>
<p>肝合膽。膽者。中精之府。</p>
<p>內經云。脾之與胃。以膜相連耳。謹按各臟腑。遠近不一。實皆以膜相連惟膽附於肝。最為切近。西醫言肝無能事。只是化生膽汁而膽汁循油膜入胃。則飲食之物。得之乃化。是中焦之精氣。全賴於膽。故膽者中精之府也。膽屬火。肝屬木。膽汁為肝所化是木生火也。膽汁化物是木能疏土也。故經云食氣。入胃散津於肝。肝寒則膽汁不能化物。肝熱則膽汁化物太過。</p>
<p>而發中消等證。</p>
<p>脾合胃。胃者五穀之府。</p>
<p>脾居胃外。以膜相連。西醫云。近胃處又有甜肉一條。甜肉汁入胃。則飲食自化。予按經文。甘生脾。是甜肉汁。即脾之物也。無庸另立條目。脾主化谷胃主納穀是胃者。脾之腑也。胃為陽脾為陰。納穀少者胃陽虛。納穀多而不化者脾陰虛。如膈食病。糞如羊屎。即是脾。陰虛無濡潤之氣故燥結。不化知脾陰胃陽乃知健脾胃之法李東垣重脾胃。而方皆溫燥。是但知胃陽。而不知脾陰。西醫言胃津化物。甜肉汁化物。膽汁化物。則但主陰汁立論。而又不明胃為陽。主納穀之理皆偏也。</p>
<figure>
<img alt="胃圖">
</figure>
<p>上曰賁門。下曰幽門。後面與肝膜相連前面與膈膜相連。下與脾相曲抱。脾生一物。曰甜肉。醫林改錯。名為總提。即胰子也。胰子能去油。西醫但言甜肉汁。化谷。而不知其。化油也。脾又生脂膏。所以利水穀在胃中。又賴脾土之濕升布津液以濡之。然後腐變。故胃但稱五穀之府。不言化五穀以見胃。主納。脾主化一燥一濕互為工用。</p>
<p>腎合膀胱。膀胱者。津液之府也。</p>
<p>腎為水臟。膀胱為水之府。凡人飲水。無不化溺。而出於膀胱。自唐以下。皆謂膀胱。有下竅。無上竅。飲入之水。全憑氣化以出。又謂水入小腸。至闌門飛渡入膀胱。無從入之路也。故曰氣化。醫林改錯。深叱其謬。西醫云。水入於胃。散走膜膈。胃之四面。全有微絲管出水。水入膜膈。走肝膈。入腎系。腎主瀝溺。由腎系出。下走連網。膀胱附著連網。溺入之口。即在連網油膜中也。中國人見牲畜已死。膀胱油膜收縮。不見竅道。遂謂膀胱。有下口無上口。疏漏之至。西醫此說。誠足罵盡今醫。然持此以薄古聖。則斷斷不可。蓋內經明言。下焦當膀胱上口。又言三焦者。決瀆之官。水道出焉。內經所謂三焦。即西醫所謂。連網油膜是也。故焦字從⿰革焦從膲。後人改省作焦。乃不知為何物矣。溺出膀胱實則三焦主之而膀胱所主者。則在於生津液。腎中之陽蒸動膀胱之水於是水中之氣。上升則為津液氣著於物仍化為水氣出皮毛為汗。氣出口鼻為涕為唾。遊溢臟腑內外則統名津液。實由腎陽蒸於下膀胱之水。化而上行。故曰腎合膀胱。而膀胱。為腎生津液之府也。又詳下條。</p>
<figure>
<img alt="膀胱圖">
</figure>
<p>膀胱與連網相接處。即是入水道。子宮在膀胱後。男子名為丹田。腎陽入丹田。蒸水則化氣上行。膀胱如釜中蓄水。丹田如灶里添薪。膀胱下口。曲而斜上。以入陰莖。溺能射出者。則又肺氣注射之力也。</p>
<p>少陽屬腎。腎上連肺。故將兩臟。三焦者。中瀆之府也。水道出焉。屬膀胱。是孤之腑也。是六腑之所與合也。</p>
<p>上言腎合膀胱。此言腎又合三焦也。少陽者。水中之陽。是為相火。屬腎者。屬於腎。中命門也。命門即腎系由腎系下生連網油膜是為下焦中生板油是為中焦上生膈膜。是為上焦其根源。實出於腎系。腎系即命門也。命門為相火之根三焦根。於命門故司相火而屬於腎夫腎具水火。合三焦者。是相火所合也。又云腎上連肺者。金水相生。是水陰之所合也。故腎雖一臟。而將為兩臟矣。腎主水。而行水之腑實為三焦。三焦即人身膜油。連腸胃及膀胱。食入於胃。由腸而下。飲水入胃。則胃之四面均有微管。將水吸出。散走膜膈此膜即三焦也。水由上焦。歷肝膈。透腎系。入下焦油。膜以達。膀胱故三焦者。中瀆之府水道出焉。屬膀胱者。謂三焦。與膀胱相聯屬也。是孤之府。謂五臟各配五腑。而三焦司腎水之決瀆。又獨成一腑也。是六腑之所與合句。又總言六腑合五臟。相合而成功也。中國自唐宋後。不知三焦為何物。是以醫法多訛。西醫為連網。知其物矣。然不知其發源何處。所名同何氣是以知猶不知。</p>
<figure>
<img alt="三焦圖">
</figure>
<p>故將五臟之將。當讀如將帥之將言少陽三焦。下連屬於腎。上連屬於肺。腎肺相懸。全賴少陽三焦以聯屬之。然則少陽一腑。故已統帥兩臟。如一將而將兩營。也是孤之腑。言少陽三焦。獨成一腑。極其廣大。故能統兩臟。又言屬膀胱者。是三焦下出之路足見自肺至膀胱從上而下。統歸三焦也。</p>

<h2>臟腑之官</h2>
<p>官。謂所司之事也。無病則各效其職。有病則自失所司。</p>
<p>心者君主之官。神明出焉。</p>
<p>人身知覺運動。無一不本於心。故百體皆為之臣而心為君主也。西醫言人心。只是頑然一物。不能司知覺運動。其司知覺運動者。全在腦髓。嘗割兔腦。剜其腦之後筋。則身縮。可知司運動者。是腦後筋。剜其腦之前筋。則叫號。可知司知覺者。是腦前筋。以此擬人。亦無不然。予謂西醫此說。非也。人身破一皮。拔一毛。無不痛縮叫號者。何必剜腦氣筋而後身縮叫號哉。蓋西醫知髓而不知髓是何物。內經云。腎主髓。髓者腎精所生。腎與心。原互為功用。髓筋通於心。乃腎交於心。合為離卦中含坎水之象所以能司神明也。詳心藏神注。即如西醫所云腦後筋。剜之亦不知叫號。必其筋不與心通故也。西醫又言腦有筋。通於心。當是彼所謂腦前筋。司知覺者也。夫因其與心通故司知覺則司知覺者仍是此心。設以知覺為腦所司何以不通心之腦筋。剜之亦不叫號哉。即彼之說。刺彼之謬可不辨而自明矣。蓋腎足則髓足。髓筋入心以水濟火真精內含則真光外發神明於是出焉。蓋心屬火有光髓屬腎水。能收引光。氣心神上注於腦髓則光氣相照而事物曉。然參看上腎藏志注尤明。</p>
<p>肺者相傅之官。制節出焉。</p>
<p>心為君主。肺在心外。以輔相之心火恐其大過。則肺有清氣以保護之。如師傅之輔助其君也。故稱相傅之官。究其跡象。則因心血回入於肺。得肺氣吹出。血中濁氣。則復變紅而。返入於心。在內經乃營血與衛會於肺中之說又即相傅之官。所司職事也。西醫則云。回血返入肺中。吹出血中炭氣。則紫色退而變為赤血。復入於心。肺是淘汰心血之物。此即內經肺為相傅之義。但中國不名炭氣。只名濁氣也。心火太過。則氣有餘而上逆下注。心火不足。則下泄。上為飲咳。皆不得其制節之故也。惟肺制心火。使不太過。節心火。不使不及。則上氣下便無不合度。</p>
<p>肝者將軍之官。謀慮出焉。</p>
<p>凡人身之陰陽。陰主靜。靜則有守。陽主動。動則有為。肝為厥陰經。乃陰之盡也。故其性堅忍而有守厥陰中見少陽。陰盡陽生。膽火居於肝中。陰中含陽。陽氣發動故能有為謀慮從此而出。所以稱為將軍之官。故肝氣橫者。敢為狂亂。肝氣虛者。每存懼怯。</p>
<p>膽者中正之官。決斷出焉。</p>
<p>西醫言苦膽汁。乃肝血所生中國舊說。皆謂膽司相火。乃肝木所生之氣。究之有是氣。乃有是汁。二說原不相悖。惟西醫言人之懼與不懼。不關於膽。而又不能另指一所。實未知膽為中正之官故也。蓋以汁論。則膽汁多者。其人不懼。以氣論。則膽火旺者。其人不懼。太過者不得乎中。則失其正。是以有敢為橫暴之人。不及者。每存懼怯。亦不得乎中正也。膽氣不剛不柔。則得成為中正之官。而臨事自有決斷。以肝膽二者合論。肝之陽藏於陰故主謀。膽之陽出於陰。故主斷。</p>
<p>膻中者臣使之官。喜樂出焉。</p>
<p>膻即胸前膈膜。周迴連著脅脊。以遮濁氣。膈膜名膻。而居膻之中者。則是心包絡。舊注以膈為膻中不知膈遮濁氣。只是上焦一大膜耳。不能代心宣化何得名臣使之官惟心包絡。則相心布令。居於膻膈之中故名膻中屬相火。又主血。以血濟火。則和而不烈。故主喜樂。心憂者包絡之火不宣也。心過喜者包絡之火太盛也。西醫言心上。半有夾膜裹之。即包絡之謂也。但西醫不知包絡。所司何事。</p>
<p>脾胃者。倉廩之官。五味出焉。</p>
<p>各臟腑。各名一官。惟脾胃兩者。合名一官。何也。蓋胃主納穀脾主消穀。二者相合。而後成功。故脾與胃。統稱倉廩之官。言脾胃。主消納五穀也。而又云。五味出焉者。蓋五穀備具五味。一入胃中。即化為汁液從脾之。油膜散走達五臟出焉者。出脾胃而達諸臟腑營衛也。胃不納穀。則五味不入胃。屬陽宜燥之。脾不化谷。則五味不能達於各臟。脾屬陰宜滋之。</p>
<p>小腸者。受盛之官。化物出焉。</p>
<p>盛音承。貯也。小腸上接於胃。凡胃所納之物。皆受盛於小腸之中。西醫云。小腸通體皆是油膜相連。其油膜中。皆有微絲血管。與小腸通膽之苦汁。從微絲血管注入腸中以化食物脾之甜肉汁。亦注入。小腸化物而物所化之精汁。即從膜中出小腸而達各臟。故曰化物出焉。王清任醫林改錯。以附小腸者。為雞冠油。更名氣府。謂為元氣所存。主化飲食。而不知內經明言。小腸者受盛之官。化物出焉。已實指。小腸之氣化矣其附小腸之油膜。即中焦也。屬之於脾。小腸又繫心之腑。其相通之路則從油膜。中之絲管上膈達包絡以達於心。心遺熱於小腸。則化物不出。為痢為淋。脾陰。不足則中焦不能受盛膈食便結。三焦相火不足不能薰。化水穀則為溏瀉西醫又有小腸發炎之症。即中國之泄痢腸癰等症。中國近說。水入小腸。然後從闌門下飛渡入膀胱。西醫斥其非也。水從胃已散出。走連網中。詳下三焦注。然則小腸中所受盛者。只是食物。乃陰質也。飲主化氣。食主化血。食物在小腸。皆化為液以出於連網遂上奉心而生血。所以小腸為心之腑。乃心所取材處也。</p>
<p>大腸者。傳道之官。變化出焉。</p>
<p>變化出三字。謂小腸中物至此。精汁盡化變為糟粕而出其所以能出之故。則賴大腸為之傳道。而大腸所以能傳道者。以其為。肺之腑。肺氣下達故能傳道是以理大便必須調肺氣也。另詳五臟所合條。</p>
<p>腎者。作強之官。伎巧出焉。</p>
<p>西醫云。人之才智。均出於腦髓人之筋力。均出於腦氣筋究問腦髓何物則西醫不知也。蓋髓者。腎精所生精足則髓足。髓在骨內髓足。則骨強。所以能作強而才力。過人也。精以生神。詳見心藏神注。精足神強。自多伎巧。髓不足者力不強。精不足者智不多西醫論髓之法多。而治髓之法少。以不知髓是腎所生是以無從施治。也中國近醫。則又知腎不知髓反為西醫所笑。不知古聖內經已有髓海論骨空論。又將腎與髓合論之。甚矣。古聖人千。古莫及矣。</p>
<p>三焦者。決瀆之官水道出焉。</p>
<p>焦古作膲。即人身之膜膈所以行水也。今醫皆謂水至小腸下口。乃滲漏入膀胱。非也醫林改錯。西醫。均笑斥之。蓋自唐以後。皆不知三焦為何物。西醫云。飲水入胃。胃之四面。皆有微絲血管。吸出所飲之水。散走。膈膜達於連網油膜之中而下入膀胱。西醫所謂連網。即是膈膜。及俗所謂網油並周身之膜。皆是也網油連著。膀胱水因得從網。油中滲入膀胱即古所名三焦者。決瀆之官。水道出焉是矣。三焦之根出於腎中。兩腎之間。有油膜一條。貫於脊骨。名曰命門。是為焦原從此係發生板油。連胸前之膈。以上循胸中。入心包絡。連肺繫上咽。其外出。為手背胸前之腠理。是為上焦從板油連及雞冠油。著於小腸。其外出為腰腹之腠理。是為中焦從板油連及網油。後連大腸前連膀胱。中為胞室。其外出為臀脛少腹之腠理。是為下焦。人飲之水。由三焦而。下膀胱。則決瀆通快如三焦不利。則水道閉外為腫脹矣。西醫知連網之形甚悉。然不名三焦。又不知連網源頭。並其氣化若何。皆不知也。</p>
<p>膀胱者。州都之官。津液藏焉。氣化則能出焉。</p>
<p>凡人飲食之水。無不入於膀胱。膀胱如人身之洲渚。故曰州都之官。人但知膀胱主溺。而不知水入膀胱。化氣上行。則為津液。其所剩餘質。乃下出而為溺。經文所謂氣化則能出者。謂出津液非出溺也。氣化二字。自唐以下。無人知之吾於此特詳言曰。火交於水即化為氣觀西法以火煎水。而取輕氣即是火交於水。化氣之一證。人身之水火。如何交哉。蓋人心主火。人鼻吸入之氣。乃天陽也。亦屬火。西醫云。氣從鼻入。其管入肺。歷心系。循背脊。以下入腎系。又從腎系達連網。以至於臍下。按西醫所說。吸入之路推究其理。則知吸入者。是天陽。屬火也。歷心系則引心火而並下入臍下。即氣海也女子名為胞宮。經云膀胱者。胞之室。胞即油膜一大夾室。能伸能縮。實大過於膀胱胞與膀胱只隔一間又全在微絲血管與膀胱。相通凡人吸入之天陽合心火下。至胞中則蒸動膀胱之水化而為氣與西法以火煎。水取氣無異夫此膀胱之水。既化為氣。則透出。膀胱入於胞中上循臍旁。氣衝上膈入肺。而還出於口鼻上出之氣。著漆石。則為露珠在口舌臟腑之中。則為津液且氣之出口鼻。其顯然者也。又外出於皮毛以薰膚潤。肌而為汗。所謂氣化則津液。能出者此也。老人溺多。化氣少而水質多。壯者溺少。化氣多而水質少也。西醫但言氣從肺歷心系而至臍下。未言出氣之路其意以為仍由原路而出。不知非也。蓋氣之出路實循氣衝上達於膈而出於肺。西醫云胸膈乃助肺扇動呼吸之物。不知膈為出氣之路。非入氣之路不得混言扇動。呼吸也夫吸從脊入。督脈主之。呼從膈出。任脈主之。吸入陽也。火交於水也。呼出陰也。氣仍可返為水也。呼吸循環。道家以為秘訣。醫家昧其指歸。惟內經氣化則能出矣。一語明明指破。何注家多不識耶。火不足以蒸水。則津液不升。氣不得化。水不足以濟火。則津液乾枯。小水不下。</p>
<p>按上言臟腑所合。只有五臟六腑。此條出蘭臺秘典論。又添出膻中一臟。是為六臟六腑。論乃備矣。且腎具水火中系屬火為命門故上條云。少陽屬腎。謂三焦相。火其根在命門也。腎上連肺謂金水相生。而膀胱為之府也。又曰故將兩臟。是腎與命門又可分為兩臟而配三焦。膀胱之兩腑矣。難經以左為腎。右為命門。自有取義。然則言五臟六腑者。舉其要也。言六臟六腑者。備其物也。再加命門。而為七臟六腑。又其零也。蓋天地陰陽奇耦。不無零正。參伍錯綜。以盡其變。人之臟腑應之。所以經有奇經。而臟腑亦有零奇歟。</p>

<h2>五藏九竅</h2>
<p>前五臟所屬內只七竅。此條備論九竅。乃無遺漏。</p>
<p>肝開竅於目。</p>
<p>注見前五臟所屬條。</p>
<p>心開竅於耳。</p>
<p>耳系腎竅此。言心竅者。心與腎相交。聽音者腎精也。而辨語者心神也。心小腸之脈入聽宮。陳修園以此為司聽之主。而不知耳通於腦髓。腦氣筋下通於心。西醫言之甚詳。故耳為腎竅。又為心竅。均由腦通。從可識矣。三焦為腎腑。耳內為腎竅。故耳外則三焦之脈繞之。耳又為心竅。故耳外之小腸經脈亦注於聽宮。以見腑之應臟有如是者。不得指小腸之脈。為耳竅通心之路也。修園之說。猶差一黍。</p>
<p>脾開竅於口。</p>
<p>注見五臟所屬條。</p>
<p>肺開竅於鼻。</p>
<p>同前。</p>
<p>腎開竅於二陰。</p>
<p>前陰是膀胱下口。主出溺。膀胱者腎之腑也。腎主水。化氣化水。從前陰而出。故前陰為腎之竅。又前陰有精竅。與溺竅相附。而各不同。溺竅內通於膀胱。精竅則內通於胞室。女子受胎。男子藏精之所。尤為腎之所司。故前陰有病。溺竅者。有病精。竅者不可不詳辨也。後陰是大腸下口。宜屬於脾胃。然其體在下。以部位言之。凡在下者。皆腎所司。腎液充腴。則肛門不結腎氣充攝。則不脫肛。惟其二陰皆。屬腎竅故經言腎為胃關以飲食之質。皆從二陰出也。西醫圖畫二陰甚悉。然不知二陰究屬何臟。所以治法不精。</p>
<p>余按腎開竅於二陰。而前陰之病。多出心肝。後陰之病多由脾胃。又以耳為心竅。與心開竅於舌之義不同。總見五臟錯綜。互相通貫。學者宜詳參焉。</p>

<h2>男女天癸</h2>
<p>世謂女子之經血。為天癸。非也內經明言男子亦有天癸。而注內經者。又不能實指為何物。王冰舊注。知其所至之地而於天癸。究未明言。吾嘗細考經文。參證西法。旁及丹經別錄。於陰陽水火血氣數端。頗能分析。因詳註之。又此章元微。西洋醫法所不能知。故西人於女子之經水。男子之精氣。皆不能洞悉源委。</p>
<p>女子二七。而天癸至。</p>
<p>七為陽數。八為陰數。離為女。坎為男。皆陰陽互換之道。故男陽而得陰數。女陰而得陽數。女子七歲更齒。二七而天癸至。天癸者。天一所生之癸水。乃腎中一陽之氣。化而為液也。至者謂腎氣化水。至於胞中也。</p>
<p>任脈通。太衝脈盛。月事以時下。</p>
<p>人身總統陰陽者只是任督兩脈。任居前面屬胃屬心。主後天。督居背脊。屬腎。主先天。二脈交會。則在胞中胞居大腸之前。膀胱之後。乃是油膜中一個夾室。此胞之膜。上連網油。又上則歸結於背脊中間是為腎中之系即命門也。督脈貫之為先天陽。氣之根源氣即水也。西法於水中取氣。凡人口鼻之氣。著物皆化為水。而腎中。天一陽氣所生之水則為癸。水至者癸水發於腎。系之中下八網油。而至於胞中也。此是督脈所司。先天腎中之陽。交於胞中是水非血也。屬先天之氣分其屬後天血分者。則為衝任兩脈衝任麗於陽明屬後天主奉心化血。陽明飲食所。化之精汁上歸。於肺奉心火之化則色赤為血既化成血。則由衝任兩脈。導引而下行。以入胞宮。與天癸之水會合。所謂任脈通者。蓋任脈起於胞中。天一陽氣所化之癸水。既從督脈下入胞中。則後天任脈感陽氣而通暢。其麗於任脈者為太衝脈。亦得天癸之陽而所化之陰血。更加盛滿。於是陰血循衝任。亦下入胞中。與癸水會合。則為經血年月一行。是為月事。故曰月事以時下。女子屬陰。以血為主天癸之水氣。亦從血化皆為赤色。其實中有水液也。督脈癸水之陽不足。則經遲經滯。衝任之陰血不足。則經淡經枯。</p>
<p>男子二八。腎氣盛。天癸至。</p>
<p>男女雖有不同。而其先天皆主腎。後天皆主胃。男子二八。先天腎中生陽之氣。所化癸。水亦至胞中。女子之胞名血海。名子宮。以其行經孕子也。男子之胞名丹田。名氣海。名精室。以其為呼吸之根藏精之所也。胞乃先後天。交會之所先天督脈腎陽。所化之水既至胞中則後天衝任。奉心所化之血。與水相應而衝任通暢亦下胞中為陰。與陽應氣與血交女子以血為主。則水從血化而為經男子以氣。為主則血從水化而為精。精清者血不足。精不射者氣不足。精少者。氣血均不足。</p>
<p>精氣溢瀉。</p>
<p>血從水氣之化。而非清水。必稠濁者。以其水中有血質。故也惟其血與水合化。而後精氣溢滿。得瀉出矣。西醫言精是外腎睪丸所生不知睪丸只是發精之器。非生精之所。西醫因剖視。只見睪丸內有精。而別處無精。不知精生則運行不見。既死之人。而求其化生所在決不得矣。睪丸中之精亦死精耳。安可據此以為生精處哉。詳全體總論篇。</p>
<p>陰陽和。故有子。</p>
<p>此又統男女言之。天癸水為陽。衝任之血。為陰和者。謂會於胞中。合同而化也女和則經行。男和則精溢。故能生育而有子。今人不知此理。而妄行服藥。以求有子。能無誤乎。</p>
<p>此節乃血氣交會。化為。月信變為腎精。之原委最要之義也。化為精者。上行循督脈而入脊。上腦是生骨髓。循任脈而上。頰繞唇。是生髭鬚出。於皮膚生毛亦較女子更重。蓋男子之血不下。瀉化精氣而上行。外達所以多鬚毛也。血主陰主下行。女子之水從血化而為經則內行下達每月一瀉其餘血氣既下瀉所以上無髭鬚。外少毛毫也。且女子之骨較弱。亦以經血下行。而上生骨髓者少矣。西醫論髓而不知髓是何物。所生只原未識氣血變化之理也。另詳於後。</p>

<h2>血氣所生</h2>
<p>人身只氣與血兩者而已。火交於水即化為氣。義已詳膀胱三焦條。茲不再論。惟水交於火即化為血之理。尚未發明。特詳於此。</p>
<p>南方生熱。熱生火。火生苦。苦生心。心生血。</p>
<p>熱火生苦。苦生心已詳卷首。惟心生血句。尚待註明。蓋心屬離卦。內陰爻坎之水也。外陽爻則離本卦之火也。惟其以水。濟火乃發光明而成離象是以灌膏則燎盛。抽薪則焰息。薪膏有汁液火得之而後然即是以水濟火之明驗矣。人身心象離卦。必在下胞中腎。陰之水津循衝任上。入於胃合飲食所化之。汁上騰於肺部。以入於心此汁得心火之化遂變為赤色。是為血。西醫云。飲食之汁。由吸管。返運至頸會管。與心血混為赤色。此一混字殊謬。豈有日日混入。而血不加淡者乎。不知汁入頸會管。即水交於火也。變為赤色即奉心火之化而為血也。血之生化如此西醫言血內。有紅白二輪紅多白少。不知其白者。水液之本形也。其紅者。奉心所化之赤色也。</p>
<p>食氣入胃。濁氣歸心。淫精於脈脈氣流經。飲入於胃。遊溢精氣。上輸於脾。脾氣散精。上歸於肺。通調水道。下輸膀胱。水精四布。五經並行。</p>
<p>飲是本於天陽。主化氣之物。食是本於地陰。主化血之物。今人不知血氣根源。本於飲食。惟此條經文。言飲食氣血。生化之原委也。氣乃水之所化。凡飲水。皆屬化氣之物。所謂飲入於胃云云。即三焦膀胱條。所注水氣往來之道路也。水津四布。五經並行者。謂水化津液。而四布。則五臟之經脈得其調養乃並行而不悖也。義已詳十二官條。茲不再贅。惟食氣入胃。濁氣歸心。淫精於脈。脈氣流經。此單言化血之理。尚待詳言。食者有形之。陰質故主化汁。變血得脾之運健。肝膽疏利。則化。為汁液西醫言甜肉汁入胃化谷苦膽汁入胃化谷同一意也。既化。為汁。騰布於。上得肺氣之化則色白婦人之乳汁是矣婦人乳子。此汁已供兒食。不能入心化血。則血無餘。故月經停而不行。斷乳之後。此汁上行入心。則化為血。既化為血。則轉而下行。每月有餘是以行經男子血所由生。與婦人同但化精。化經各不同。耳濁氣歸心之濁字。訓稠濃之意。非謂渣。穢也。陰汁稠濃上歸於心則化為血既化為血。則淫溢此精汁。而散行於脈管。西醫謂心有出血管。導血出。又有回血管。導血入西醫名管中醫名脈。二而一也。脈氣流經者。謂流行於各經絡。而回復有常。西醫云心左房之血。由出血管導行於周身。心體動跳不休。每一跳。則周身之脈應之而跳血既行遍周身則轉入回血管。其色變紫。以受炭氣也。紫血由回。管遞傳。復返於頸會管得肺氣呼出則炭氣出而紫色退復變為赤。入心右房轉至左房而又出也。則脈氣流經之謂矣。時醫有大絡散眾絡。眾絡散孫絡之說言其出而不言其復。與流經二字。尚不確切。故引西醫之說證之。西醫所圖脈管詳矣。然不能分別十二經脈。又其言回血。不能分別幾時方回於心。惟內經言一呼脈。行三寸一吸脈行。三寸則能算出血行之時節。何時出者。當於何時。回矣義詳營衛生會篇。甚矣。古聖之精也。</p>
<p>中焦受氣取汁。變化而赤。是為血。</p>
<p>義詳上條。重引此者。總見血所由生也。</p>
<p>谷入於胃。脈道乃行。水入於經。其血乃成。</p>
<p>此節總言血脈。出於胃中飲食所化之汁上行入於心管化為血以散為眾脈所以脈道乃行也。下言水入於經其血乃成一水字尤精微即吾所謂水。交於火即化。為血合。為離中含陰之象也。水生於腎中。入於胞室。是為天癸水。循衝任上行。入胃則津液充足濡化谷。食谷化為汁。其中仍有天癸之水氣在也。此汁上入於心是為水交於火。得心火化之變為赤血此所謂水入於經。其血乃成也。血之支派。散走內外。循環無端。而其總統。則在任脈。既化為血。即循任脈而下入於胞中。與腎氣天癸之水。合男子化精髓。女子月信下。胥由於此矣。西醫言血中有養汁明汁。為白輪。血為紅輪。此不知養汁明汁。即水交於火而化血者也。內經以任脈為血之總司。西醫則有總脈管之說。謂從心左房出而至腹中腹下。乃分是匹。考究其總管之道路。卻只是任脈之道路也。蓋血之支派。散走內外。循環無端。而其總統。則在任脈。血即循任脈而下入於胞中。與腎氣天癸之水合。男子化精髓女子月信下。</p>
<p>此條詳血略氣。其實血氣二者。不能相離。論氣詳膀胱氣化條。論血氣相合□□□□癸條。參看自明。</p>

<h2>營衛生會</h2>
<p>營衛即氣血。而名之曰營衛者。氣血以體言。營衛以用言。故必另詳其義也。氣血之變化。男精女經。氣血之功用。陰營陽衛各有區分。尤宜詳辨。此全是生人之作用。若剖視死人。則不得也。</p>
<p>人受氣於谷其清者為營。濁者為衛。營在脈中。衛在脈外營周不休。五十度而復大會。陰陽相貫。如環無端。衛氣。行於陰二十五度行。於陽二十五度。分為晝夜。太陽主外。太陰主內。各行二十五度。平旦陰盡而陽受氣矣。</p>
<p>營者血也。衛者氣也。血守於內。如兵家之安營。故曰營氣。御於外。如兵家之護衛。故曰衛。上篇言濁氣歸心為血。此言清者為營。濁者為衛。非刺謬也。上篇濁字。指陰汁言。以陽為清。則陰為濁矣。此篇清濁。以剛柔言陰氣柔和為清陽氣剛悍為濁。故曰清者為營濁者為衛也。營在脈中。謂營血由心。之脈管散為眾管達於上下又有回脈管復回於心。總在皮膜肌肉之裡。以為陽氣之守也。衛在脈外謂衛氣上輸於肺走於臟腑外達皮毛以護衛營氣為陰之外衛也。營周不休者。謂營行脈中周於通。身將人身三停內外。分為五十度。一日一夜。營血周行五十度。而復返。於肺與衛氣大會西醫謂心有左右兩房。生血由左房出。有運血管由內達外。然後入回血管由外返內。復入於心。回血色紫。返心過肺管。呼氣出。則吹去紫色。紫色者。炭氣也。紫色已去仍變赤血。而返於心。由右房入。又由左房出。循環不休。西醫此說。即內經營周不休五十度而復大會之實跡也。所謂陰陽相貫。如環無端也。衛氣之行則分陰陽內外。太陽在外為陽。太陰在內為陰晝則衛氣行陽二十五度。夜則行陰二十五度。平旦行陰已盡。陽分受氣。是衛氣復於肺與營相會矣衛行於陽則寤。衛行於陰。則寐。故難經言衛行五十度。復會於手太陰。而人之臥起。皆衛氣出。入之驗也。靈樞云。人經脈前後上下左右周身。十六丈二尺為一度。人一呼脈行三寸。一吸脈行三寸。計晝夜一萬三千五百息。脈行五十度也。西醫將脈管剖視。自謂詳矣。而不能分出各經。又不能共計其長短。於回血合氣之數皆無從。起算然則西醫。安能如中國古法之精哉。</p>
<p>營出中焦。衛氣出於下焦。</p>
<p>上言人受穀氣。清者為營。濁者為衛。似營衛皆出中焦矣。而此又別之曰。衛氣出於下焦。則尤為探源之論。蓋人身只此先後兩天。為生化之本。營血雖生於心而取汁則在中焦。故曰營出中焦。是後天之所生化也。衛氣雖統於肺。周於太陽皮毛之間。而其氣之化源。則在臍下丹田氣海之中。是先天之所生化也。衛出先天。督脈主之。營出後天。任脈主之。任督相貫。營衛相循。如此其精微也。舊注不知。乃謂衛氣出於下焦之下字。當作上字。則誠誤矣。</p>
<p>心者血肺者氣。血為營氣為衛相隨上下。謂之營衛。</p>
<p>營衛雖生於中下二焦。然營衛之行。則統於心肺周行上下也上既言之而茲又引難經此語。取其詳明。不厭煩複也。</p>
<p>此篇前二節。出靈樞。後一節出難經。再參看十二官。男女天癸血氣諸條。自能通貫。</p>

<h2>六經六氣</h2>
<p>天有金木水火土之五行。以運行不息。名曰五運。人秉之而生五臟。所以應五運也。義詳卷首。茲不再贅。天有風寒濕燥火熱之六氣。以充塞萬物。人秉之而有六經。臟腑各有一經。合為六經。所以應天六氣也。名太陽者。因天有此太陽之氣。名太陰者。因天有此太陰之氣。六經之名。皆本於天非由人強名之也。必知經氣之所主。而後病情可識矣。此等氣化。乃生人所以然之理。見病之原委。皆盡於此。西醫全不能知。其治病多誤。</p>
<p>少陽之上。火氣治之。中見厥陰。陽明之上。燥氣治之。中見太陰。太陽之上。寒氣治之。中見少陰。厥陰之上。風氣治之。中見少陽。少陰之上。熱氣治之。中見太陽。太陰之上。濕氣治之。中見陽明。所謂本也。本之下。中之見也。中見之下。氣之標也。本標不同。氣應異象。</p>
<p>天有六氣。人秉之而有六經。六經出於臟腑。臟腑各有一經脈。遊行出入。以布其化而經脈中所。絡之處。名為中見也。足少陽膽經。由膽走足。中絡厥陰肝臟。手少陽三焦經。由三焦走手。中絡厥陰包絡。故少陽經中見厥陰。手少陽三焦。足少陽膽。同司相火。是相火者。少陽之本氣也。故曰少陽之上火氣治之。謂二經之臟腑。以火為主是本氣也。中見厥陰。是其中有風。氣居之也。而其標為少陽經。則又主陽氣之初動也。足陽明胃經。屬燥土。手陽明大腸經。屬燥金。此雨經。皆燥氣主治。（手陽明大腸經脈。循行絡太陰肺。而後走手足陽明胃經脈。循行絡太陰脾而後走足。故陽明經。中見為太陰。）也。足太陽膀胱經。屬寒水。手太陽小腸經。屬君火。手從足化。以寒水為主。故太陽之上。統稱寒水治之。手太陽經脈。循行絡少陰心。而後走手。足太陽經脈。循行絡少陰腎。而後走足。故二經中見少陰也。足厥陰肝經。屬風木。手厥陰包絡經。屬相火。子從母化。以風為主。故厥陰之上風氣治之。手厥陰經中絡少陽三焦。足厥陰經。中絡少陽膽。故二經中見少陽也。足少陰腎經屬水陰。手少陰心經屬火熱。心為君主腎從其化故少陰兩經。統是熱。氣主治手少陰心經中絡太陽小腸。足少陰腎經。中絡太陽膀胱。故曰中見太陽足太陰脾經。屬濕土。手太陰肺經。屬清金。二經子母。同氣故太陰之上。濕氣治之。手太陰肺經絡手陽明大腸足。太陰脾經。絡足陽明胃。故曰中見陽明。所謂本也。句總結上文。謂六經之上。其主治者。皆其本。氣也本氣根於臟腑。是本氣居經脈之上也。由本氣循經下行。其中絡者。中之見也。由中見之下。而經脈外走手足。以成六經。又各有太少陽明厥陰之不同。則又系六氣之末。故曰氣之標也。或標同於本。或標同於中。標本各有不同。而氣化之應。亦異象矣。故六經各有病情好惡之不一。仲景傷寒論。全根於此。不可不詳究焉。</p>
<p>再按六經之名。太者陰陽之至大。少者陰陽之初生。明者陽氣之極盛。厥者陰氣之竭盡也。先知五行以為體。又知六氣以為用。然後可以讀傷寒金匱然後可以治男女百疾。西醫於六經名目。從未得知。於氣化安能夢見。乃云人是錪鐵養炭等。共十四質。湊合而成。夫彼所謂十四質。皆經剖割鍛鍊。然後取得其質。而人之未死者。豈止此塊然之質哉。</p>

<h2>經氣主治</h2>
<p>六經六氣。各有所從所主之不同。必明。此而後知氣化之理。若西洋醫。既不知此。則亦不必與辦也。</p>
<p>少陽太陰從本。少陰太陽從本從標。陽明厥陰不從標本。從乎中也。</p>
<p>此言六經氣化。或以臟腑本氣之陰陽。為主或以經脈標氣之。陰陽為主或以中見之氣化為主。各有性情之。不同也陳修園傷寒論注。引張景岳之論曰。少陽太陰從本者。以少陽本火而標陽。太陰本濕而標陰。標本同氣。故當從本。然少陽太陰。亦有中氣。而不從中者。以少陽之中。厥陰木也。木火同氣。木從火化矣。太陰之中陽明金也。土金相生。燥從濕化矣。故不從中也。少陰太陽從本從標者。以少陰本熱而標陰。太陽本寒而標陽。標本異氣故或從本或從標而主治須審也。然少陰太陽。亦有中氣。而不從者。以少陰之中。太陽水也。太陽之中。少陰火也。同於本則異於標同於標則異於本故皆不從中氣也。至若陽明厥陰。不從標本從乎中者。以陽明之中。太陰濕土也。亦以燥從濕化矣。厥陰之中。少陽相火也。亦以木從火化矣。故陽明厥陰不從標本而從中氣也。要之五行之氣。以木遇火。則從火化。以金遇土。則從濕化。總不離乎水。流濕火就燥同氣相求之義耳。此注甚明。知此。而後知邪正之盛負。表裡之傳變也。</p>
<p>太陽為開。陽明為闔。少陽為樞。太陰為開。厥陰為闔。少陰為樞。</p>
<p>開之過。陽明胃經。主納水穀化精汁灑行五臟六俯。化糟粕。傳入大腸小腸。其氣化主於內行。下達故陽明主闔。凡是嘔逆自汗等。皆陽明不能主闔之過。少陽三焦。內主膈膜。外主腠理。內外出。入之氣均從腠理。往來故有邪在腠理。則寒熱往來。太陽之氣不得外達諸證。上下往來之氣。均從膈膜行走故有結胸陷胸。邪欲入胃則嘔。甚則嘔吐不止諸證。凡此皆少陽不能司其。轉樞之過也。太陰為開者。手太陰肺。主布散。足太陰脾主運行。凡血脈之周流。津液。之四達皆太陰司之。故曰太陰為開也。厥陰為闔者。足厥陰肝經。主藏下焦之陰氣。使血脈。潛而精不泄手厥陰心包絡。主藏上焦之陰氣。使陰血斂。而火不作故曰厥陰為闔也。少陰為樞者手少陰心經。內合包絡下。生脾土。故能為二經之轉樞足。少陰腎經。上濟肺金。下生肝木。亦能為二經之轉樞也。此數者。為審證施治之大關鍵。不可不詳究也。</p>
<p>內經此數條。言人身氣化最精。中國注傷寒者。尚有人知。西洋醫法。從無論者。故論形雖精。而論治轉粗耳。張隱菴陳修園注傷寒。全本於此。讀者詳之。</p>

<h2>十二經脈</h2>
<p>手陽明大腸脈。起大指次指之端。出合谷。行曲池上肩貫頰夾鼻孔下齒。入絡肺下膈屬大腸。</p>
<p>大腸是肺之腑。故大腸經脈。亦與肺經。相為表裡。肺脈起大指內側。大腸經亦起於大指之端。而其支又起於次指之端者。以見同源異流之義耳。合谷俗名斧口。皆肺脈交會之所也。三陰經行肘內。三陽經行肘外。手陽明經。由合谷上行。至曲池。上肩。貫頰。挾鼻孔鼻孔者。肺之竅也。大腸者。肺之腑也。肺臟開竅於鼻而腑之經脈即上夾於鼻臟腑之。相應何其巧也。下齒。入絡肺。尤其氣化所稟承者。由肺下膈。屬於大腸。知經脈與肺相貫之故。即知大腸。全秉肺之氣化矣。凡經脈皆出於臟腑。而手之三陰三陽。論穴者均由手起。不過便於數穴耳。實則先有臟腑。而後生出經脈。非有此手上之經脈。而後有臟腑也。</p>
<p>大腸與肺。皆主秋金。屬商音。肺太陰起少商者。商之陰也。大腸經起食指內側。名商陽穴。其主金商而。屬陽也。此一臟一腑。對舉之穴。合谷在虎口。秋金白虎之口。手陽明與肺相合處曲池在屈肘橫紋盡處。肩髎在肩骨之端。天鼎喉旁四寸。與食管相當處。故名鼎。禾髎即頰車也。繞齒齦夾鼻為迎香穴。肺開竅於鼻而其腑之經脈。終於夾鼻足見相應之妙用。</p>
<figure>
<img alt="手陽明圖">
</figure>
<p>足陽明胃經脈。起眼下。入齒。環唇循喉嚨。下膈屬胃絡脾。下挾臍。至膝下。入足中指。</p>
<p>胃脈起於眼下。繞面行。故人正面。均屬陽明經。入齒。故齦肉全屬陽明。環唇者。脾臟開。竅於口。故胃腑之脈從外環之。以應乎。脾亦如手陽明經。夾鼻之意。循喉嚨兩旁動脈。為人迎穴是矣。下膈屬胃絡脾。所以秉氣於脾也。下挾臍。至膝下三里穴。膝脛以前。均陽明經之所行。入足中指。陽明脈所止之處。</p>
<figure>
<img alt="足陽明圖">
</figure>
<p>胃脈上起承泣。在眼下。循面。入上齒。出環唇。下至喉旁。寸五分。名人迎穴。又下橫骨。內為缺盆穴。缺盆骨下陷中。為氣戶穴。謂肺氣與胃脈。相通之門戶也。入屬胃。又行臍旁二寸。為天樞穴。膝外陷中。名犢鼻穴。膝下三寸。三里穴。皆胃氣之大會。至足背為趺陽脈。入中指。其支者。入大指次指之端。名厲兌穴胃。為後天統主前面衝任皆歸屬之。</p>
<p>足太陰脾之脈。起大指之端。上膝股。入腹屬脾經胃上挾咽連舌本散舌下。</p>
<p>起足大指隱白穴。上膝入股。謂股之內面。入腹屬脾臟。而又絡胃。是胃陽明居太陰之中。故六氣標本。謂太陰中見。陽明也。上膈挾咽。與陽明同路惟陽明發於面。而太陰終於舌本。一陰一陽。各有不同。蓋陽明為陽之盛故上於面以衛外。太陰為陰之至故終於舌下。以生布津液。使津液出於口。用濟陽明之燥。此陰陽所。以互為功用也。</p>
<figure>
<img alt="足太陰圖">
</figure>
<p>脾經起大指內側隱白穴。循內踝陷中名商邱穴。踝上三寸名三陰交穴。以三陰之脈交會於此也。循膝內側。上股入。腹中屬脾又見於食竇穴。言胃中之食。由脾所化。此為化食之竅道也。從此又絡胃。上挾咽。連舌本。散舌下。足見為心之苗又即脾經之根源矣。舌辨其味。脾即食其味。故脾經散於舌下。外經穴尚可圖。若其散。行繞絡由胃至舌之跡。則非形跡可圖也。</p>
<p>手少陰心之脈。起於心中。出心系。下膈絡。小腸復上肺出腋下。至肘。抵掌中。入小指之內。其支者上挾咽。</p>
<p>中國舊說。心有四系。下通於各臟者。非也。西醫剖視。並無四系。言心有左右房。左房生血。遞出為總血管。分為眾管。散於臟腑。周於身。於是入回血管。復循行。至心之右。為總回血管。遞入心。為血一周。是心之通於四臟者。在血管也。西醫名管。而內經則名為脈。內經云。營行脈中。營周於身心之合。脈也。即是西醫之說矣。但西醫不能分別各臟。各有經脈。只將眾脈管。皆屬於心。而不知。手少陰心。又有專屬之脈也。出心系。下膈絡小腸。心所以與小腸。相表裡也。復上肺心主血。肺主氣。營衛之交會全在於此。西醫謂回血受炭氣。皆變紫色。遞至總回管。得肺氣呼出。則炭氣散。而紫血復變為赤。仍入心。由右房。遞左房。而後出也。內經言少陰心脈。復上肺。便是大會。於肺之路矣又出腋下肘。入小指之內。其支者。上挾咽。故少陰有咽痛症。</p>
<figure>
<img alt="手少陰圖">
</figure>
<p>心脈之用事。在下絡小腸。為生血運血之路道。其支者。上夾咽。上系目系。此最主氣化處也。至於出腋下極泉穴。循肘抵掌後骨際。為神門穴。終於小指內側。為少衝穴。數穴皆經脈之枝葉也。言針灸者。但論外之經穴。而言氣化者。則其內之路道為猶重也。</p>
<p>手太陽小腸之脈。起小指之端。循手外。上肘繞肩。入絡心。下膈。抵胃入小腸。</p>
<p>少陰抵掌中。太陽循手外。此足見陰陽內外之不同也。入絡心。故太陽經。中見少陰下膈抵胃。小腸與胃。原相連接。以司其事也。</p>
<figure>
<img alt="手太陽圖">
</figure>
<p>小腸之脈。上胃絡心至頸。分上下行。上行至耳下曲頰之後。名天容穴。至面頄銳骨之端。名顴髎穴終於聽宮與足少陽相接壤其下行者從頸起至肩際陷中名臑俞穴至腕端五分名陽谷穴。至小指外側。名少澤穴。此經與膀胱合氣。故其司化。與足太陽同。</p>
<p>足太陽膀胱之脈。起目內眥。上額交巔。下腦後。挾脊抵腰。入絡腎。下屬膀胱。循髀外。下至踝。終足小指。</p>
<p>三陽經。全將人身繞盡。所以衛外為固也。少陽終目銳眥。陽明終於目下之承淚穴。故太陽經起於目內眥。以見三陽。相交而成其總統一身之局也。上額交巔頂上全屬太陽。所以頭上生髮者乃膀胱中之氣。挾胞中之血。合化上行而生頭髮故發名血餘以其根於胞血也。凡烏髮均須滋水。傷寒後其發必脫。則又因膀胱氣化而後生髮。故發又屬腎與膀胱之水。也頭乃陽氣之所萃。故其頂全屬太陽。經下腦後風府穴。為太陽經脈之要會。挾脊抵腰。故凡角弓反張。傷寒背脊痛。均屬於太陽。入絡腎。腎為水臟陽。氣之原膀胱為其腑。故其脈亦下。絡腎。循髀外下。至踝終足小指。總之行身之背。自上及下。以周於一身。而主衛外也。</p>
<p>至陰穴。在足小指外側。為陰之極地。太陽之陽。根於水。陰之中。故其經亦起於至陰睛明穴。在眼之大角而與陽明相交。故稱睛明以見太陽之氣至頭面。而極盛也膀胱與胞相連而胞膜著於腰下十九椎旁故其穴名胞。肓肓之原根於腎。繫上生肝系在十三椎旁。因名肓門。（有肓即有膏。膏生於脾而內護心。外會於脊與肓相交在第四椎旁因名膏肓此。太陽與心。相會之穴。也魄戶在三椎旁肺藏魄。而合於太陽。故名魄戶觀此經穴而知其氣之相通矣。）</p>
<figure>
<img alt="足太陽圖">
</figure>
<p>足少陰腎之脈。起小指之下。趨足心。循內踝。上股貫脊。屬腎。絡膀胱循喉嚨。挾舌本。其支者。出絡心。</p>
<p>太陽經。終足小指之外。少陰經。即起足小指之下。以見一表一里相趨應也。趨足心循內踝。太陽行外踝少陰循內踝上股貫脊。屬腎絡膀胱臟與腑所以交通。循喉嚨者。腎上連肺。聲音出於肺而生於腎也。挾舌本者。腎主液。所以出於口也。其支者出絡心以見心腎相交。坎離互濟之義耳。</p>
<figure>
<img alt="足少陰圖">
</figure>
<p>足心湧泉穴。為腎脈極。底最忌瘡漏泄氣。然骨在內踝下。前一寸。太谿在內踝後。足跟骨上此處有動脈。內經皆以為診。凡病且死。此脈不。絕者。尚可。救治陰谷在膝下曲膝之間。又上股入小腹。絡膀胱。循臍旁一寸。名肓俞。謂肓膜之要會在此也。入屬腎。上絡心循喉嚨挾舌本。雖不列穴名而腎經之主化在絡心循喉挾舌處為尤多舌下湧泉。為腎液所出猶津道之要也。</p>
<p>手厥陰包絡之脈。起於胸中。屬心包絡。下膈歷三焦。出液入肘抵掌中。循中指之端。</p>
<p>西醫謂心之上面。周圍有夾膜裹之。即包絡也。包絡上連肺系。由肺系連及於胸內之四面。皆是油膜。又下為膈膜。又下為網。油膜所謂膜者。皆三焦也。三焦與包絡相通其跡如此。故包絡之脈。下膈歷三焦也。出腋入肘。抵掌中。循中指之端。故中指應心。亦由於此。</p>
<figure>
<img alt="手厥陰圖">
</figure>
<p>包絡與三焦。只一膜油相連。故其脈從三焦。至胸中而歸併於心包出於乳後一寸。腋下三寸之間。名天地間。脈過腋下。至肘。抵曲肘陷中。名屈澤穴。刺痧疫多取此出血。以瀉心包。之邪也。大陵在掌後兩筋之間。又中指之末名沖良。婦孕則此穴脈動。足見心包。血旺也。</p>
<p>手少陽三焦之脈。起小指次指之端。循手表。上貫肘。入缺盆。布膻中。絡心包絡。下膈屬三焦。支者出耳上角。</p>
<p>三焦根於腎系。下為胞室。當膀胱上口。為下焦中為連網附著小腸為中焦上為胸膈。又循胸而上。統名為膻。上連肺系。而下入為心包絡。故三焦與命門同司相火。以其油膜相連也。三焦與心包絡相表裡。亦以其油膜從膻膈而上入為包絡也。三焦經脈貫肘。故肘上消灼清冷淵穴。種牛痘。能發出腎中之毒。亦以三焦之原。根於腎系。故也。膻中古本省作膽。後人不知膻為何物。遂誤膽為膽。夫膽在膈下。此云布膽中。絡心包。絡然後下膈則知膽系膻字之省非苦。膽也。此等字唐宋後均不之辨。安可以注內經。</p>
<figure>
<img alt="手少陰圖">
</figure>
<p>少陽為衝陽。故第一穴名沖關。小指次指陷中名中者。抵掌後高骨。凡三焦氣旺者。此骨乃高起。上至肘外大骨縫中。名天井穴。再上二寸。名清冷淵。以與手太陽經會。而合於寒水之氣也。再上至肘外對腋。為消灼穴。言其主。相大也。上至缺盆天髎穴。即內入心包。散行下膈。而屬於三焦。西洋言腹中統膜。皆有自和腦筋。如網絡之。意即三焦。經脈。散布之義至缺盆合。為一脈支者更上耳後尖骨陷中。名翳風穴。再上為瘈脈穴。風瘈皆肝。筋所主而焦膜乃生筋之。原也。故此二穴有此二名又繞耳前為耳門穴。至眉尾空竅。為絲竹穴。具見腎開竅於耳。而三焦為腎。故其經繞耳以應之也足少陽膽之脈。起於目銳眥。繞耳前後至肩下。循脅裡。絡肝屬。膽下至足入小指之間。</p>
<p>足少陽脈。與手少陽脈。均行於耳。均司相火。內則三焦之膜連肝而及於膽。外則三焦之經絡耳而交於膽經。此以見臟腑相通之妙。</p>
<figure>
<img alt="足少陽圖">
</figure>
<p>足少陽。起目銳眥名瞳子髎穴。繞耳前陷中。名聽會穴繞耳後發陷中。名風池穴。皆少陽風木所發泄處。下至肩上陷中。名肩井穴。循側旁。下至肝期門之下五分。名日月穴。膽脈實從肝膽。出於此穴。然後上下行也。下行至股外。垂手中指盡處。名風市穴。膝下一寸為陽陵穴。循外踝。至小指次指之間。竅陰穴而終。陽經根於。陰穴。以見陰生於陽中也。</p>
<p>足厥陰肝之脈。起大指叢毛之際。上足跗。循股內。過陰器抵小腹。屬肝絡膽。挾胃貫膈循喉嚨。上過目系。與督脈會於顛頂。</p>
<p>毛髮皆血之餘也。肝主血。故肝經起於足大指。而其間即生叢毛。以為主血之驗。陰器名為宗筋。乃通身筋之所主。屬肝經。故肝脈繞於陰器也。小腹兩旁。皆屬肝經。故寒疝等證。絡膽者。厥陰之脈。中見少陽。肝與膽。相表裡也。挾胃者。肝木清陽之氣。上升疏土所以化物。貫膈循喉嚨。故肝氣逆有嘔滿諸證。上連目系。肝開竅於目也。與督脈會於顛頂。督脈屬腎。為肝之母。會於顛頂子會於母也。目系顛頂內為腦髓腦風暈迷均肝所司以其脈相通也。西醫詳論腦髓。而無治髓之藥。蓋不知髓。系督脈。所生又不知髓是。肝脈所貫。豈知其治法哉。</p>
<figure>
<img alt="足厥陰圖">
</figure>
<p>大敦在足大指叢毛中。循足內側。上至曲泉。在曲膝橫紋盡處。諸筋會於膝之穴也。循股內。抵陰器之橫骨盡處。名鼠鼷穴。繞陰器。故生毛。肝血所發泄也抵少腹上肋曲肘尖處。為章門穴。再上為期門穴。乃肝之募。謂肝膜之所。通也。從此入屬肝臟。此為肝下行之脈。貫膈絡胃。循喉嚨。上連目系。則開竅於目。與督脈會於顛頂。陽經惟。太陽最長陰經為厥陽最長乃氣血之司領也。</p>

<h2>衝任督帶</h2>
<p>十二經。正經也。又有八脈。名為奇經。茲不具論。而單論此四脈者。蓋陽維陽蹻。兩脈附於太陽經行。身之背。以太陽統治之矣。陰維陽蹻兩脈。行身之前。附於太陰。以太陰統治之矣。惟此四脈。主治有別不能賅於十二經中故另詳之西醫畫脈管。枝分派別。可謂詳矣。然論絡不歸於經。論經不歸於臟腑。譬之有千軍而無一將。則亦無所統屬矣。至於奇經八脈。中國且久不講。何怪西醫不知耶。</p>
<p>衝脈起於少腹之內。胞中。挾臍左右上行。並足陽明之脈。至胸中而散。上挾咽。</p>
<p>胞中名為氣海。乃呼吸之根也。人之呼氣。由氣海上。胸膈入肺管而出於喉其路徑全循衝脈而上。故內經云沖為氣街蓋指。此也凡是氣逆均責於沖。故仲景有降沖逆。之法。胞中又名血海。胃中飲食之汁。奉心化血下。入胞中。即由衝脈。導之使下。故內經云。女子二七而天癸至。太衝脈盛。月事以時下也。總之胞中為先天腎氣。後天胃血交會之所。衝脈起於胞中導先天腎氣。而上行以交於胃導後天陰血下行入胞中以交於腎。導氣而上。導血而下通於腎麗於陽明衝脈之所司可知矣。</p>
<figure>
<img alt="衝脈圖">
</figure>
<p>衝脈者出氣之沖衢也。氣生於丹田。而其出路則在臍下三寸。隔中行旁開五分。名氣街穴是氣之出。路故名氣街近醫因靈樞。言胸氣有街。腹氣有街。頭氣有街。足氣有街。遂不能指出氣街穴在何處。然內經明言起於氣街。挾臍上行。則明指氣街穴。在臍之下也。今人改氣街作氣穴大失經旨。由氣街至臍旁。為肓俞肓即膜也。丹田之膜。上會於臍。故此穴名。肓俞也。又上胸至通谷穴而散。蓋有膜上胸。則散。為肺衣。而全包肺。故衝脈亦至此而散肺衣會。於咽故衝脈又夾。咽而止總見氣出于丹田。循臍旁。上胸中。走肺衣中。又上會於咽。則氣從之出矣。膜中氣行之道路即名衝脈。沖主氣。與任之主血者不同。可知十二正經。奇經八脈。各有所主不同皆各臟腑氣。血往來之道路有散有合不得但指血管。以為經脈也。</p>
<p>任脈起於少腹之內。胞室之下。出會陰之分。上毛際循臍中央。至膻中。上喉嚨。繞唇終於唇下之承漿穴。與督脈交。</p>
<p>督脈在背。總制諸陽。謂之曰督。任脈在腹。總統諸陰謂之曰任。陰陽。相貫。故任與督兩脈必。相交下則交於前後陰之間。上則交於唇之上下也。以先後天論之督在脊。屬腎屬先天任在腹。屬胃屬後天先天主氣下交胞中。後天主。血下。交胞中全在此二脈也。以水火論督脈屬氣屬水任脈屬血屬火是任脈當又屬之心。心腎相。交水火。既濟。皆由。於此。故任脈者。陰脈之海也。</p>
<figure>
<img alt="任脈圖">
</figure>
<p>任脈起胞中。下至兩陰之間。名會陰穴謂與督脈相會。而當兩陰間。故名會陰。上至少腹聚毛之處。名中極穴。又上至臍下三寸。為關元穴。乃元陽元陰交關之。所也。出臍中上行至於鳩尾。上二寸六分。為膻中穴。膻中是心包絡生血而出。隨任脈上下。運行故任脈之穴。兼具包。絡之名正見任脈。為心包行血也。從膻中上行。三寸二分陷中。為紫宮穴。紫宮者。指心而言也。心應洛書九紫離卦。故名紫宮。任脈至此。正內合。於心故以心位。名之正見任脈。為心行血之統脈也。又上至唇下。為承漿穴。與督脈交而任脈終。其支者循面而至於眼下。細觀任督之交會起止。而知督脈主陽主氣任脈主陰主血。互相貫通。為生身之總司也。</p>
<p>督脈起於腎中。下至胞室。乃下行。絡陰器循二陰之間。至尻貫脊歷腰俞。上腦後。交顛。至囟會入鼻柱。終於人中。與任脈交。</p>
<p>督脈起於腎中。下至胞室。腎中天一所生之癸水。入於胞中全在督脈導之使下也。腎氣至胞。任脈應之，則心胃之血。乃下會於胞中。此為任督。相交心腎。相濟道家坎離水火交媾之鄉。即在於此。督脈絡陰器循二陰之間。與任脈會於下也。貫脊上頂。交於人中。與任脈會於上也。今細察其脈。由鼻柱。上腦貫脊。抵腎由腎入胞中據此路道觀之乃知督脈主陽主生。腎氣蓋氣生於天陽吸入鼻孔。至腦門下肺管循背脊。而下入腎又由腎入。胞中故吸入則胞。中滿也。吸入之氣實由鼻由腦由脊而下。故掩鼻張口能出氣而不能吸氣。蓋吸由脊下。非從鼻腦。不能入也。呼由膈出。故張口能出氣。也。吸由脊下督脈主之知督脈之所主乃知氣之生化再詳天癸。乃膀胱條。</p>
<figure>
<img alt="督脈圖">
</figure>
<p>督脈起於胞中。出會陰穴。至尾閭骨端。名長強穴。上至二十一椎。名腰俞穴是腰腎筋膜所連也。再上十四椎當腎正中。為命門穴。乃腎系貫脊之處為督脈之主蓋任是心血所司。督是腎氣所司故命門為督脈之主穴也。又上至第三椎為身柱穴。肺腎相交。為一身元氣之宰。故稱為柱再上大椎至髮際一寸宛中。為風府。發上二寸五分。為腦戶。即西醫腦後葉之中縫也。至顛頂為百會穴。與肝脈交會於此。前行當囟門。為囟會穴。謂心神上照於髓。以發知覺是神與髓會之所也又至額上髮際為神庭亦是心神上出於此之義。下鼻準。至齒縫齦交穴而終。蓋人身吸。天陽入鼻循脊下。腎系而入。丹田總歸督脈所主化。氣化精為人身命之原總督周身臟腑。故稱督也。</p>
<p>帶脈當腎十四椎出屬帶脈圍身一周。前垂至胞中。</p>
<p>帶脈總束諸脈。使不妄行。如人束帶故名。究帶脈之所從出。則貫腎。系是帶當屬腎女子系胞。全賴帶脈主之蓋以其根結於命門也。環腰貫臍。居於身之中停又當屬之於脾。故脾病則女子帶下。以其屬脾。而又下垂於胞中。故隨帶而下也。</p>
<figure>
<img alt="帶脈圖">
</figure>
<p>帶脈。後在十四椎。當腎之中。前在臍。繞腰一周。帶脈一穴。則在季脅當少陽部位。近圖帶脈三穴一。帶脈穴。在足少陽膽經。季脅之下。一寸八分。再下三寸。為五樞穴。又下為維道穴。似帶脈繞行三匝。而有上中下三穴也。然難經云。脈帶起於季脅。回身一周無三匝之說也。又靈樞經曰。足少陰脈別走太陽。至十四椎。屬帶脈。後人遂以帶。為腎之別脈。非也。屬帶脈者。謂其為帶脈所管束非言帶脈是腎之脈也。因其穴居少陽之界。以為少陽脈者。亦非也。肝膽能為帶脈之病。然帶脈終非肝。膽之脈。蓋帶主管結前後。前束任而經心小腸之臍中後束督而經腎系之中。人身惟脾主中州。交合水火帶脈適當腰腹之中應歸為脾之脈也。其穴在脅。亦以前不。居任位後不居督位。正見其管束。前後也。或疑帶脈不與脾連。豈知腹中膜油皆脾之物。腎著陽治帶脈。以脾為主。女科以婦人帶下。皆歸於脾。良有以也。</p>
<p>按此四脈。督在背。總統諸陽屬先天任在腹總統諸陰屬後天衝脈麗於陽明。而通於胞宮。由後天以交於先天腎者也。帶脈出於腎中。以周行脾位由先天以交於後天脾者也。四者互為功用。不可不詳究焉。</p>

<h1>下卷</h1>

<h2>全體總論</h2>
<p>以上所論臟腑。其形體氣化。大略皆具又有未盡者。補註於此。篇內多重出之義。然意取求詳。不嫌詞費西醫有全體圖考闡微等書。將骨脈皮肉臟腑。層折剖割。以示精詳。而究於陰陽氣化。皆不能知。似精實粗。讀者參考自見。</p>
<p>五臟者。所以存精神血氣魂魄者也。六腑者所以化水穀而行津液者也。</p>
<p>精神血氣魂魄。已詳五臟所藏條茲不再注。六腑化水穀行津液。亦皆見六腑條矣。但腸胃膀胱。人皆知其化水穀而三焦與膽。所以能化水穀者。人多不知也。只緣不識三焦為何物。又不知三焦為決瀆之官。讀吾所注三焦條。自能知之膽之所以化水穀者。經旨言膽主清陽之氣。上升。入胃木能疏土也。而西醫直言膽汁入胃化谷。確有取驗。言氣言汁義自賅洽詳十二官。及脾胃膽三焦條。參看乃見。六腑皆主化水穀。夫谷化。則為液奉心而生血水化則為津達肺而為氣。故曰行津液者也。西醫言腸胃。及各吸管中有養汁如牛乳有明汁如水不知明汁即津也。養汁即液也。西醫知其汁。而不能言是何物所生。惟內經則津生於水水入化氣而為津液生於穀谷入化汁而為液陽津陰液。豈徒知其名物而不得其治法哉。又詳營衛生會條</p>
<p>腦髓骨脈膽。女子胞此六者存於陰而象於地。故存而不瀉。名曰奇恆之府。</p>
<p>西醫言腦髓筋。分走臟腑。周身知覺運動。均出腦氣筋。言之甚詳。然究不知腦髓是何物所化生。故其言似精實粗。蓋腎主骨。腎系貫脊。通於脊髓。腎精足。則入脊化髓上循入腦而為腦髓是髓者精氣之所會也。髓足則精氣能供五臟六腑之驅使。故知覺運動。無不爽健。非髓能。使各臟實各臟能使髓也。西醫又謂諸骨內之髓。與腦中者不同。又不知骨是髓之所生。內經言髓生骨。諸骨中之髓。與腦無異。惟諸骨中雜有油。膜血絲耳。蓋由腦髓散走諸骨。皆穿膜附筋以入於骨。所以內雜膜。油血絲豈可云髓有不同耶。脈者血之道路也。詳心腎條。膽附於肝。已詳膽條。女子之胞。男子名為精室。乃血氣交會。化精成胎之所。最為緊要。西醫剖割精矣。乃於膀胱之後。大腸之前。只知女子有胞宮。而不知男子亦有胞宮。以女子之胞極厚且大。中空可驗。男子之胞。只是一層夾膜扁薄而不可見。故只知男子有精管。而不知男子之精管。即從胞中出。也特人死胞縮精收。故扁且薄。西醫忽不及察也。此胞又名氣海。氣入則臍下脹。是其驗矣。又名丹田。詳天癸條。此六者。存而不瀉。雖膽汁有出入。而究與六腑之輸瀉者不同。異於常腑。故曰奇恆之府。</p>
<p>西醫言腦筋。主知覺運動。大腦在前。小腦在後。中為中腦。有裂有回。分歧疊積。耳目口鼻。全與腦通。腦經分布。又散行於臟腑肢體。凡知覺運動。皆腦司之也。此說半是半非。已詳辨於上卷五臟所藏篇。至於腦汁。究是何物所生。則西醫不知。蓋腎精生髓由脊上行以入於腦。是為髓海在頭者名腦。在眾骨中者名髓。內經蓋分為二。故云髓會絕骨。而此與骨脈膽胞。合為六者。則分為二而言之也。又西醫治腦無藥。不知臟腑經脈。皆交於腦。源流出入。豈無其路耶。</p>
<figure>
<img alt="腦髓圖">
</figure>
<figure>
<img alt="骨圖">
</figure>
<p>西醫詳圖骨式。有相連而凹者。有相連而凸者。有如鋒者。有如椎者。有骨裂。有骨衣骨皆外堅中松。有筋相連。有脈管回管腦筋。透入於骨。究人身諸骨。則知上帝造創之功大哉。然西醫未知何者為主骨。何者為輔骨。何處骨大而反不緊要。何處骨小而反關生死。如中國之洗冤錄。檢驗傷痕。分別制命與否。則論骨較精。至於內經言骨。更能探其源頭。曰腎生髓。髓生骨則知腰脊。為主骨四肢為輔骨骨屬腎水。而筋屬肝木。筋著於骨者水生木也。骨賴筋連者。母用子也。骨中之髓。又會於絕骨。齒又骨之餘者矣。觀齒之生落。而知男女老幼。各有其時。無不下。應腎氣則（知髓生骨之理。非徒知其形而已也。）</p>
<figure>
<img alt="腦氣筋圖">
</figure>
<p>此後面腦筋圖西醫又有前面腦筋圖。不具載者。以腦髓生於腎。循脊貫。腦為督脈所司其前面腦筋總皆以後面者為本也。</p>
<figure>
<img alt="脈管圖">
</figure>
<p>此總脈管據內經考之。即任脈也身之背亦有脈。而不圖之。以血之所主在於任脈至於動脈。或隱或見。或散或合。有深淺分合之殊。又西醫所未言。</p>
<figure>
<img alt="胞宮圖">
</figure>
<p>胞宮之營。發於腎系下為一大膜前連。膀胱後連大腸中間一個夾室。男子丹田氣海又名精室。女子又名子宮血海。陰道之內。結束為子宮下口。可收可縮。又名子臟。仲景所稱婦人臟燥。臟結痛引陰筋。皆指此言。血管全繞。網膜全包一主氣。一主血交會於此。為生化之大源。</p>
<p>胃大腸小腸三焦膀胱。此五者。天氣之所生也。瀉而不存。受五臟濁氣。名曰傳化之府輸瀉者也。</p>
<p>糟粕形質之物。皆曰濁氣。由此五者傳化。主輸瀉而不留。故名傳化之府。三焦與腸胃並論。是三焦。明有其物後人以為空腔子。豈不謬哉。詳三焦條。各圖見上。</p>
<p>魄門上為五臟。使水穀不得久存。</p>
<p>魄門。肛門也。肺藏魄。肛門上合於肺。故名魄門。肺在上。總統五臟而魄門在下。令五臟之濁物。從此而出。故為五臟。使既名魄門。便知為肺所司既為五臟使便知肺亦能統五臟也。男子肛頭。西人圖之最悉。蓋彼以刀割治病。不得不詳其形跡。然用心則苦。而操術實粗。中國痔漏等證。擅長者多矣。何嘗以刀割為能。</p>
<p>人有髓海。有血海。有氣海。有水穀之海。以應四海。腦為髓海。胞為血海。膻中為氣海。胃為水穀之海。</p>
<p>西醫論髓。以為知覺運動之主。謂腦髓筋。達於臟腑肢體。而後能司知覺運動也。西醫知腦髓之作用。而不知腦髓之來歷。所謂腦筋。但言其去路而不知髓有來路。所以西法無治髓之藥也。不知背脊一路髓筋。乃是髓入於腦之來路也。蓋內經明言腎藏精。精生髓。細按其道路。則以腎系貫脊。而生脊髓。由脊髓上循入腦。於是而為腦髓。是腦非生髓之所。乃聚髓之所。譬猶海非生水之所。乃聚水之所。故名髓海。既聚於此。而又散走臟腑肢體。以供使用。如聚錢者庫也。而用錢者人也。人能用錢。而錢不能用人。臟腑肢體能用腦髓。非腦髓用冬處也。再者髓之生由於腎。欲補髓者。即從腎治。肝脈入腦交顛目系貫髓。凡神魂暈迷風狂。皆從肝治之。即是治髓。腦又通鼻。可從肺治髓筋入心。可從心治。髓筋聚於胃。又可從胃以治之。西醫論髓特詳。而無治法。不抑謬哉。胞為血海。已詳天癸條。蓋血生於胃之水穀。化液上肺。奉心化血。循衝任脈。下入胞中。既聚於胞中。化精化血達於周身。皆在於此。參看天癸條自明。膻中為氣海。此有兩說。一說丹田為氣海。即胞宮也。呼吸歸根之地。名之為氣海亦宜。詳膀胱三焦天癸營衛條。此云膻中為氣海者。蓋指氣之出納。在乎肺也。膻乃胸前大膜膈也。膻之中即胸中。只有心胞絡與肺。故前云膻中者。君主之官。是指胞絡言。此云膻中為氣海。是指肺言以胞絡與肺。均在膈內。故均可名膻中也。膻膈之與胞絡相通。已詳十二官條。此言與肺相通。其道路又須詳言。氣之根在臍下丹田。即網油中一夾室也。由網油走臍旁。上生膈膜。是為膻。由胸膈循腔子。上連肺系。氣之出路即由此通於肺管。故凡咳嗽。則胸前癢滯。皆膻膈間氣。不得利也。欲知膻之治法。當參看肺腎三焦包絡條。胃為水穀之海。水主化氣生津。谷主化液生血。一則糟粕入大腸。一則餘瀝入膀胱。另詳腸胃膀胱各條。脾與胃互為功用。又須看脾之作用。</p>
<p>胸腹者。臟腑之郭也。</p>
<p>胸內最上為肺。肺下為心。為包絡。包絡上連肺系。肺系連腔內之薄膜。其膜循腔子而下。是為膻膈大膜。繞肋骨一周。連於肝。附於脊。肝體半在膈上。半在膈下。膈附於脊。下行為板油。連於腎系。又下為網油。網油上行而連於小腸。胃下行而連於大腸膀胱。是為腹中也。脾在胃後。貼胃。居網油上。網油即三焦也。上胸下腹。均從網油連。及以為臟腑之道路。故曰胸腹者。臟腑之宮城也。以部位言之。胸上屬肺。胸膺之間屬心。胸膺之下屬胃。大腹與臍屬脾。臍又屬小腸。臍下屬腎。膀胱亦當臍下。故臍下又屬膀胱。大腸在膀胱之後。故臍下又屬大腸。宜詳其層次也。血室乃肝所司。血室大於膀胱。故小腹兩旁。謂之少腹。乃血室之邊際也。屬之於肝。少腹上連季脅。亦屬肝。季脅上連肋骨屬膽。分別部居。各從其位。</p>
<p>腹與胸分三停。上停名胸在膈上心肺包絡居之。心與包絡。從著脊處油膜中。下通肝腎。肺有薄衣。連及胸內。前面之膜為肺。通中下焦之路。肺繫上連包絡。後著脊。前連胸膈。肝體半在膈上。半在膈下。胃附肺系。透下膈。橫曲如袋。胃下為小腸。為大腸。為肝膽。是為中停。皆生連油膜之上。即中焦也。臍以下為下停。有膀胱有胞宮。有直腸。皆生連油膜上即下焦也。後世不知焦從膲。因不知通身之膜。皆是三膲。故讀經文者。少識精義。西醫曰腹內統膜。一麗腹裡。一包臟腑。一成筋以束臟腑。肝胃脾。小腸大腸橫回。直腸上截。子宮蛋核。此被全包。如大腸頭。小腸頭。大腸上下回。直腸中。陰道膀胱。此不全包。如左右腎。此被遮過專。包一臟曰。包膜兼包兩臟。曰連膜摺疊成筋以束臟腑。曰筋膜。西醫言膜如此其詳。證以三焦之說。而精義始出。</p>
<figure>
<img alt="胸腹圖">
</figure>
<p>膻中者。心主之宮城也。</p>
<p>前言膻中為氣海。是指肺言。此言膻中為心主之宮城。是指包絡言。膻為膈。包絡居膈之中。故曰膻中。為心主之宮城。相心宣化。詳十二官條。</p>
<figure>
<img alt="膻中圖">
</figure>
<p>此胸下一層膈膜。後著脊。左右連筋骨盡處。中葉連胸之鳩尾。即膈是也。膻之下層通腹中。膻之上層為胸內之薄膜。連心系。名包絡。又名心主。包絡是心外衛。膻中是包絡外衛。其形難圖。故只圖膽以明之。究膻之根附脊骨。與肝系相連。而下乃連及腎系。是三焦少陽所發出而布於膈也。</p>
<p>胃者。太倉也。</p>
<p>胃主納穀。故名太倉。胃之所以能納穀。詳十二官條。</p>
<p>咽喉小腸者。傳送也。</p>
<p>咽喉居胃之上。傳送而入。小腸居胃之下。傳送而出。二者皆為胃之使。故治咽喉與小腸。宜以胃為主。</p>
<p>胃五竅者。閭門也。</p>
<p>醫林改錯言胃有三竅。上下竅納穀。傳入小腸。又有一竅出水入油膜。西醫言胃通體。均有微竅行水入連網。予已詳胃三焦條。茲云五竅其義尤詳。蓋上竅主納水穀者也。下竅入小腸。主化谷之糟粕也。旁竅入三焦。膜油之中。主行水之餘瀝也。中通於脾為一竅。所以化水穀者也。上輸於肺。為一竅所以布精汁者也。故云胃五竅者。閭門也。唐宋以後。無人知之。即西醫剖視。又何嘗精細似此。</p>
<figure>
<img alt="胃五竅圖">
</figure>
<p>西醫言胃有肝膈大筋。胸膈大筋。互相牽住。使不得動。不知胸膈。筋是互通三焦之竅。肝膈筋。是循脊上肺通心之竅。內經所謂胃有大絡。上通於心也。又曰脾之與胃。以膜相連。故又通脾。西醫識其形。而未明其理也。</p>
<p>廉泉玉英者。津液之道也。</p>
<p>二穴在舌下。足少陰腎。主化氣上行。氣即水也。故氣之所至。皆是津液。腎津必上於口。然後氣澤能布於下。仲景傷寒論。以存津液為主。亦以其氣化所存。人賴以生也。可不重歟。二穴舉舌。即可逼視。不必再圖。</p>
<p>腰脊者。身之大關節也。</p>
<p>腰為腎系所貫。脊為髓筋所通。人身骨節。皆主於腎。而生於髓。腰脊為腎。與髓所在。故為身之大關節。凡治骨節。當知所主矣。西醫脊骨。折剖甚詳。然不知脊所重者。全在於腰也。且全身大骨。皆從腰發。原不知腎主骨之理。則辨骨無益。</p>
<p>肢脛者。身之管。以趨翔也。</p>
<p>肢是手節。脛是足節。其骨最大。中空故名管。管中有髓及脂。以主運動。故能趨翔。西醫言手足骨中之髓。與腦脊之髓不同。謂其中雜脂油也。不知由腦脊散達肢脛。皆以筋肉相連。肉內有脂油。即附之而入骨。是以手足骨中。均雜脂油。脂脾所司。髓是腎所司。兼脂油。是脾腎合致其功。故脾主四肢。腎主肢脛。西醫圖四肢之骨詳矣。惜未知其所統屬。則治法不明。</p>
<p>莖委者。身中之機。陰精之候。津液之道也。</p>
<p>莖。陰莖。委。垂卵也。機如泰西機器之機。所以出精行溺。精竅通於腎。西醫謂睪丸主生精。非也。內宮太監無睪丸。友人王東樵。覿面問過太監。亦有精能泄出。可知睪丸。非生精之物。內經明言陰精之候。蓋指此耳。溺竅通於膀胱。膀胱者。津液之府。故溺竅名為津液之道。究之莖委。乃肝之宗筋。肝脈所繞也。故皆以治肝為主。宗筋主束骨。而利機關。故人身之機關。皆聽治於此。西醫圖陰器甚詳。然此等物事。人人皆自具之。何待詳圖。但西醫以剖割為治。此處為地無多。非詳不能下手。若內經仲景之法。針藥靈妙。無取刀割之粗。故不須圖。且西醫圖之。而究不知陰器所主之妙理也。</p>
<p>咽喉者。水穀之道也。</p>
<p>咽喉乃胃之上口。在喉嚨之後。主進水穀。故治咽以胃為主。病在咽。則水穀不得下。</p>
<p>喉嚨者。氣之所以上下者也。</p>
<p>肺之上管為喉嚨。在咽之前。主氣之呼吸。氣不利。聲音不利。病在喉也。</p>
<figure>
<img alt="喉嚨圖">
</figure>
<figure>
<img alt="會厭圖">
</figure>
<p>西醫名為總氣管。自肺以下。分支入腎。透入丹田。主吸天陽薰蒸膀胱之水。化氣上出。循腹至胸。從肺衣而復歸於總氣管。氣從前面出。從後面入。而皆由總氣管。故曰所以上下也。</p>
<p>會厭者。音聲之戶也。</p>
<p>會厭在喉咽之兩旁。能張能收。食入則收。掩其喉。音出則張開。故曰音聲之戶。乃喉之門也。當屬肺。</p>
<p>西醫名為聲管。前為會厭。後為瓢韌骨。兩旁皆有內皮。中襯筋膜。收放出聲。四圍有數十小核。生涕以潤聲管。</p>
<p>又云有上下二筋。下筋緩。上筋緊。收放出聲。內經云。風寒客於會厭。則暴啞。正此筋不能收放也。</p>
<p>口唇者。聲音之扇也。</p>
<p>唇開合而後語句清明。故曰聲音之扇。口唇屬脾。故有脾中風。唇緩失音之證。</p>
<p>舌者。聲音之機也。</p>
<p>舌者。心之苗。言為心聲。故舌能辨音。究音之所。故生則□□□□□□□。後能發音。</p>
<figure>
<img alt="舌圖">
</figure>
<p>機者謂其伸縮轉掉。聲只是響出於喉。音則分宮商徵角羽。其辨在舌。腎津上廉泉至英穴。以出於舌。則滑利。聲清。舌屬心火。賴腎水濟之。腎脈絡舌。所以轉舌也。</p>
<figure>
<img alt="懸雍垂圖">
</figure>
<p>懸雍垂者。音聲之關也。</p>
<p>喉間之上齶。有如懸雍之下垂。俗名帝丁。音從此出。故曰音聲之關。此屬之肺。</p>
<p>余見啞人。皆無齶上帝丁。蓋會厭大張。無關閉則氣不收束。氣散而不能成音也。俗名咽舌。謂食入則掩其喉。不令水穀入內也。然啞人無帝丁。水穀亦不得入氣管中。則帝丁者。實主音聲而為之關鍵也。居氣管之口。當屬於肺。</p>
<p>頏顙者。分氣之所泄也。</p>
<p>頏顙即上齶。氣從此分出於口為唾。分出於鼻為涕。故曰分氣之所泄也。</p>
<p>橫骨者。神氣所使。主發舌者也。</p>
<p>橫骨在舌本。心存神而開竅於舌。故橫骨為其所使。以為發舌之機。此數節詳論咽喉口舌發音之道。可以得治法矣。</p>
<figure>
<img alt="橫骨圖">
</figure>
<p>此西醫所圖。名環韌骨。在會厭之下。當會厭。又有半邊韌骨。名為會厭韌骨。與舌根相連。主發舌者也。韌骨以膜相連。又有筋牽之。最靈動。以供心神肺氣之所使神與氣當分論。</p>
<p>五臟六腑之精。皆上注於目。</p>
<p>前言肝開竅於目。言其大要也。此言五臟六腑之精。皆上注於目。則分析更微矣。夫肝脈入腦。通於目系。故開竅於目。至五臟六腑。所以通於目者。西醫云腦氣筋。通各臟腑。據此則各臟腑之精。循腦筋而上注於目也。骨之精為瞳子。瞳神屬腎。故其色極黑。腎主骨故曰骨之梢為瞳子。凡病瞳子多是腎虛。</p>
<p>筋之精為黑眼。</p>
<p>肝主筋。肝之精汁。上注為眼黑珠。眼科書謂之風輪。亦以肝主風也。治黑珠。當以肝為主。</p>
<p>血之精為絡。</p>
<p>白珠外有紅肉裹之。而結於大眼角內者。即絡也。乃血之精。屬之於心。凡起血翳均當治心血。</p>
<p>氣之精為白眼。</p>
<p>氣屬於肺白眼生病。多是肺受濕熱。</p>
<p>肌肉之精為約束。</p>
<p>約束即眼皮。乃陽明。胃脈所繞。為脾經肌肉之精所結聚。凡是腫爛澀癢。皆脾經風濕熱也。</p>
<p>裹結筋骨氣血之精。而與脈併為系。上屬於腦後出於項中。</p>
<p>此又總言目系入於腦中。而通於腦後。以見五臟之精。全由腦入目可以知治目之路徑矣。大指治氣輪血輪肉輪。藥氣可由喉嚨頑顙。而上通於腦。其路最捷易治。治黑珠必循肝脈而上入於腦其路略深。治瞳子必由腎督。脈而上入。於腦其路更深未。易治也。</p>
<figure>
<img alt="目圖">
</figure>
<p>西醫有衣筋肌折之辨。亦云詳矣。然不能分出臟腑所屬。則不得其治法惟內經五層眼。皮為肉輪。紅筋絡之為血輪。白珠為氣輪黑珠為風輪。瞳子為水輪分此五臟則義有所歸再者目系入腦而貫項後。所以瞳人反背。腦後可針雖西醫未究到此。</p>
<p>諸脈皆屬於目。</p>
<p>太陽脈終目內眥。少陽脈終目外眥。陽明脈繞眼。終目下承淚穴。厥陰脈入腦而交於目系。腎之督脈。入腦通於目系。手少陰心之脈。其支者。上挾咽系目系。惟太陰之脈。不上於目故曰諸脈皆屬於目。</p>
<p>諸髓皆屬於腦。</p>
<p>西醫言手足骨中之髓。與腦髓不同。不知實發源於腦髓。散走諸骨。每骨節有筋脈油膜相連。故諸骨中之髓。雜有油膜血絲。其實諸髓。皆屬於腦。而腦髓又生於腎也。</p>
<p>諸筋皆屬於節。</p>
<p>節者。骨節也。骨屬腎水。筋屬肝木。水生木。故骨節。之間亦生筋而筋又為骨之使也。凡病骨節。皆責於筋西醫詳骨與髓。而於筋甚略。因彼但以運動屬之腦氣。不以為筋所主也。然使無筋。則骨不聯。屬又烏能運動哉。</p>
<p>諸血皆屬於心。</p>
<p>血有肝藏脾統之說。然運行在脾。斂戢在肝。而生復周迴均在於心觀西醫血管圖。可知諸血皆屬於心。詳心生血條。</p>
<p>諸氣皆屬於肺。</p>
<p>氣之源在腎。詳膀胱天癸營衛條。而此云屬肺者。以氣之總管在肺。故肺主制節。司腎氣之出納。而又制節肝氣。使不得逆制節脾氣使不得泄制節心氣。使不得越肺之氣治而各臟之氣皆治矣。</p>
<p>人之血氣精神者。所以奉生而周性命者也。</p>
<p>人之知覺性也。人之生死命也。性在心。故字從心。命在腎。故腎系曰命門。有此性命。人乃得生。其所以奉生而周於性命之間者。則又賴乎精神。神藏於心。性之所在也。精藏於腎。命之所在也。究精所由生。則是氣之變化究神所由生。則是血之功用故先言血氣。從言精神。而推極於性命中國注家。尚多囫圇。何況西醫之泥於跡者哉。詳心腎各條。</p>
<p>經脈者。所以行血氣。而榮陰陽。濡筋骨。利關節者也。</p>
<p>內經名脈。西醫名管其實一也。西醫詳繪管竅。然不能分出經名。不知十二經。與奇經八脈。達於周身。以行血氣。使內陰外陽筋骨關節無所不周病則按經施治。自然得效。經脈。以行氣血則不得單指血管言也。按西醫有脈鞘。是連膜或筋膜包裹脈管回管腦筋不等。內經所謂經脈。亦非西醫所能盡見。比如督脈是。行氣者也。比如任脈是行血者也。二脈已顯然不同。安得執西說之死法以衡之。</p>
<p>衛氣者所以溫分肉充皮膚肥腠理司開闔者也。</p>
<p>衛氣已詳營衛條分。肉即在內之赤肉。與外之白肉。有分別者也。衛氣由內達外。先從分肉而出。以溫分肉後肉皮膚最外一層。陽氣由內充於外。以衛皮毛。此為衛氣之能事也。詳膀胱營衛條。腠理乃分肉之外。皮膚之內。油膜是也。有縐紋。故曰腠理。內發於三焦。乃衛氣所行之道路故氣足則肥。衛氣晝行於陽。則目張而寤氣達於外。不畏風寒夜行於陰則目閉而寐。氣斂於內故必擁。被以衛陽。入里則畏外寒也。此皆衛氣司開闔之驗。詳營衛太陽各條。西醫不知也。</p>
<figure>
<img alt="衛分肉圖">
</figure>
<p>此西醫汗管汗核圖也。言汗管。或藏腠中或隱腠下。纏如螺絲透至皮膚外。而汗出焉。然西醫不知汗所從生。實在膀胱化氣由三焦連網。以達於皮毛也。凡人暑時。飲水多出汗亦多。而小便反少。是水從皮毛而瀉。則不下走膀胱。足見汗之根源。生於膀胱為衛氣之所發泄。</p>
<figure>
<img alt="皮毛圖">
</figure>
<p>此西人用顯鏡。託大毛皮之形。毛根附近有油核。是血脈散於膜中而成者也。又有汗核汗管。附毛而生。蓋毛皆為血之餘而非。血所生也。血從氣化。隨衛氣達於腠理。然後發出。故拔視毛根只見油與水而不見血也。</p>
<p>志意者。所以御精神。收魂魄。適寒溫。和喜怒者也。</p>
<p>此又言重脾腎二者。一主先天。一主後天。為人身之本也腎藏志。志定則足以。御腎精御心。神使不得妄動。志定則足以收肝魂收肺魄。使不得妄越。脾藏意。主思慮。故能令寒溫適其宜喜怒。和其節志之與意。不綦重哉。西醫但以知覺。全歸於腦。而七情不分。性命不辨。彼之志意與中國同。而何嘗知志意所司哉。</p>
<p>是故血和則經脈流行。營覆陰陽。筋骨勁強關節清利矣。</p>
<p>女子經脈不流行。則月信錯亂。周身作痛。男子雖無月信亦有經脈不流行之證。內外陰陽。十二經脈。皆血所營周覆禱者也。筋骨關節皆血所貫注者也。故必血和而後能流行營覆。</p>
<p>必血和而後能勁強清利。反此者皆宜理血。此論營血。西醫有血脈圖。然但圖血出之道。未圖血回之管。又不能分出十二經脈。無當於治。故不載之。夫彼所以不圖回血管者。以一來一回紛而難辨也。夫彼既有難辨之處。宜其不知經脈之說也。</p>
<figure>
<img alt="血脈圖">
</figure>
<p>此西醫脈管圖。只是血運行而出之管。非回血管也。西人執此。辨中國十二經脈。及奇經八脈。以為無其事也。醫林改錯。亦謂經脈無憑。不知彼皆剖割死人。安能復辨經穴。且經道非血管也。故內經言某經多血少氣。某經多氣少血。足見經道。統血氣而言不得。以血管氣管當之也。西醫言人別有自和腦筋隨各臟腑而異用。或包筋包。骨。包血管。包氣管。或散或合西醫此說似。即內經所言之經道惜西人不通華文。於內經未深考也。況任脈專。主血督脈專主氣安得以血管當經脈之說哉。</p>
<p>衛和則分肉解利。皮膚潤澤。腠理致密矣。</p>
<p>此論衛氣。已詳上及膀胱條。</p>
<p>志意和。則精神專直。魂魄不散。悔怒不起。五臟不受邪矣。</p>
<p>志和則先天腎無病。意和則後天脾無病。故有此效。詳上。</p>
<p>寒溫和。則六腑化谷。風痹不作。經脈通利。肢節得安矣。</p>
<p>此節與上相聯。乃申明脾藏意適寒溫之義。寒溫和則脾氣衝和。故六腑能化水穀脾主肌肉。不作風痹等證。脾統血。主肢節和則皆得通利而安矣。</p>
<p>卷首詳論臟腑。其有未經論及者。皆補於此。人身之氣化形質已賅備矣。雖西醫剖視。而亦不及內經之精。</p>

<h2>五臟所傷</h2>
<p>人必臟腑血氣。先有虧損。然後生病。故論病機。先言五臟所傷。</p>
<p>憂愁思慮則傷心</p>
<p>心為火臟火氣宣明。則能化生血液。流暢筋脈。血脈流行。則其志常喜若反乎喜而為憂愁。思慮。則心氣遏抑火鬱血滯。故傷心也。治宜宣達心陽。通暢血脈又常以喜勝憂慮。斯愈矣。</p>
<p>形寒飲冷則傷肺。</p>
<p>肺金畏火。自然懼熱。此又云畏寒冷者何也。蓋肺之體雖是陰金。而肺之用實主陽氣。氣布於外則為衛陽以充皮毛若衣服失。宜外形受寒則皮毛灑淅。漸入腠理。發熱動飲為咳喘等症。治宜溫散氣布於內。則為宗氣以司呼吸散津於脾下。輸膀胱。若飲水漿果瓜之屬。多受冷氣。則陽氣不能布化水飲停積。為咳喘癖痛等症。治宜溫降。</p>
<p>悲怒氣逆則傷肝。</p>
<p>悲者肺主之。過悲則金來剋木。木不能達。怒者肝主之。過怒則肝木橫。決血不能靜。二者皆逆氣也。肝乃主血之臟血。之所以流行不滯。潛伏不動者。全賴氣之和。平有以配養此血耳。今其氣逆則血逆。肝木鬱於下。肝火犯於上。而肝受傷矣悲則肝木鬱於下。宜辛以升散之。怒則肝火犯乎上。宜苦以降解之。然總以養和神。得其平為要。</p>
<p>飲食勞倦則傷脾。</p>
<p>飲所以潤脾。過多則停飲為濕。發為脹泄痰咳之證。土能治水。而反為水所困也。宜滲利食以養脾。過多則停食。為泄為滿。脾能化食。而反為食所困也。宜消導。脾主肌肉勞以運動肌肉。使其活潑。乃益得安然。勞至於倦。必致消瘦發熱。蓋動而生陽傷脾之。陰故肌肉反受其病。治宜填補靜養。</p>
<p>久坐濕地。強力入房。則傷腎。</p>
<p>腎中之陽。能化濕氣。則水達膀胱。氣行肢脊。若久坐濕地。則濕氣太甚。而腎陽反受其傷。必生肢脊疼腫等證。治宜燥之。腎中陰精充足無損則能種子。入房乃其常事。若力已竭。而猶勉強入房。則腎精枯矣。治宜滋補。</p>

<h2>五臟所惡</h2>
<p>五臟各有氣化。即各有性情。有性情即有好惡。知其所惡即知治之之法。</p>
<p>心惡熱。</p>
<p>世傳五臟辨法。謂肝熱筋灼。驚癇瘈瘲。肺熱咳嗽。氣上口渴。脾熱肉消。便秘潮熱。腎熱骨蒸。精枯髓竭。又上焦熱。則心煩口渴頭咽目痛。中焦熱則飲食減少。腫脹痢瘧。下焦熱則小便不利。大便失調。熱之見證雖不一。而總之歸於心經。蓋心為火臟。凡是火熱。皆心所司。心化血以養火則火不亢而熱除。若火太亢。則心血受傷。故心惡熱。凡治熱證。無不用苦藥。所以治心之火也。西醫見熱病即。以水置胸前。此熱輕者可以立刻徹去若熱重者。外被冰阻。則熱反內攻。為熱毒伏心而死。現在香港疫證。為西醫十治十死。皆此之故也。所以港人逃避。然則西醫。亦當知變計矣。</p>
<p>肺惡寒。</p>
<p>肺氣如天居至高布陽氣。故在外則皮毛畏寒。恐傷其衛外之陽。在內則胸膈惡寒。恐傷其布護之氣。寒傷皮毛。發熱咳嗽寒傷胸膈。停飲痹痛。</p>
<p>肝惡風。</p>
<p>肝木主風。而即惡風。蓋血得和。氣則流暢血得邪氣則消。灼凝結老人中風小兒驚風一切風濕麻木瘙癢痙癇。蓋無一不當治肝。即無一不當養血。誠以風乃陰中之陽。血中之氣。故惟風能鼓盪其血。亦惟血能調養其風。</p>
<p>脾惡濕。</p>
<p>飧泄洞泄痞滿腫脹水飲等。證皆是濕氣有餘。脾土不能克化。五行惟土能制水。土勝則水受制。水勝則土無權。故脾能治濕而反惡濕。脾居油膜之上。膜屬三焦行水之道。油屬脾。水遇油。則滑利不留。此即脾所以制水也。若水太多。則油反受其浸漬。當分寒濕熱濕以燥利之。</p>
<p>腎惡燥。</p>
<p>腎主藏精下通水道。上發津液。總系陰精之所運化者也。燥則傷其陰精。骨髓枯津液少。水道乾澀。必用滋潤之品庶。幾腎水得養。</p>
<p>以上二條。經文最簡略。然包括之病甚多。但能觸類引伸。便可通一畢萬。</p>

<h2>臟腑為病</h2>
<p>五臟六腑病形百出。然各有自為之病形。以為證據。如心為噫。非心止有噫之一證。謂無論何證。但見噫氣。則知屬於心矣。余仿此。</p>
<p>心為噫。</p>
<p>噫者胸中結氣。哽之使出俗說是打格頓非也。打格頓與噫。音義不符。打格頓是氣厄於胸而出於口。故名曰呃。二者均病在胸前。屬心之部位。故皆屬心經。柿形象心而蒂苦澀。治呃降心氣也。胸滿噫氣。乃是肺胃痰火。仲景旋覆麥冬治之。而必用赭石破心血鎮心氣也。久病聞呃為胃絕。則以其火不生土。心氣逆也。心病不止一噫。然見噫氣。便知屬心。用藥乃知方向。</p>
<p>肺為咳。</p>
<p>內經言五臟六腑。皆有咳證。而無不聚於胃關於肺。蓋肺主氣管。氣管中非痰飲。即風寒火燥。令其氣逆故咳。有從皮毛口鼻入氣管者。有從腸胃膈膜入氣管者。當分頭治之。按齁咳二證。道路不同。鼻主吸氣。齁字從鼻。是吸入之氣管不利。此管詳膀胱肺腎條。咳字從欠。欠者口氣下垂也。口主出氣是呼出之氣管不利。此管在胸。膈故每咳必胸前。癢滯。詳三焦條。</p>
<p>肝為語。</p>
<p>譫語屬陽明燥熱。鄭聲屬心神虛恍。而此云肝為語。蓋燥熱乃木火剋土。神恍乃肝魂不清。因而心神擾惑。故皆宜瀉木火安魂也。</p>
<p>脾為吞。</p>
<p>脾主化谷生津。凡口中津液少者。時常作吞。引之狀反吞為吐又是水穀不下之故。皆屬脾病。可以互勘。</p>
<p>腎為欠為嚏。</p>
<p>欠者陰。引陽入。故呵欠。至而欲寐嚏者。陽引陰出故噴嚏出而人醒。二者皆根於氣海。故腎病則見此二證。</p>
<p>胃為氣逆。為噦為恐。</p>
<p>陽明主納。其氣以下行為順。氣逆則反其令也。衝脈麗於陽明沖逆亦屬陽明胃。噦者。吐穢惡之氣也。吞酸噯腐之類。皆反其納物之令也。恐者腎所主。腎水動而胃土不能制之。故恐亦屬胃。</p>
<p>大小腸為泄。</p>
<p>泄多是脾胃中焦之證。然總出於腸中。故皆屬於大小腸之病。小腸屬火以化谷。火虛則穀不化而飧泄。大腸屬金以燥糞燥氣不足則糞溏瀉。小腸火甚則又膠結為痢。大腸燥糞則又秘結不便。此又為泄之變態矣。</p>
<p>下焦溢為水腫。</p>
<p>三焦乃決瀆之官前已詳註。此但云下焦者。因上焦連心肺。中焦連脾胃。多兼心肺脾胃之證。尚非三焦專責。惟下焦當膀胱上口為水入膀胱之路此處不利則水溢於上。達於外而發水腫。下焦屬腎屬肝治宜疏泄肝腎。又肺居高能御下。主通調水道。非開利。肺氣不能治下焦也。</p>
<p>膀胱不利為癃。不約為遺溺。</p>
<p>膀胱下為溺管。溺管淋澀不通為癃肺主水道。由肺氣閉。則宜清利。肝脈繞莖。由肝血滯。則宜滑利。據西醫之說。以為溺管發炎腫塞或砂淋內塞究之。皆肺肝兩端所致也。又溺管之後為精竅。精竅有敗精死血。亦能擠塞溺管。法當利腎。夫肺以陰氣下達膀胱。通調水道而主制節。使小便有度。不得違礙肝腎以陽氣達於膀胱蒸發水氣使其上騰。不得直瀉。若陽氣不能蒸。發則水無約束。發為遺溺。治宜溫胞室。蓋膀胱如釜。胞如灶溫。胞室者。釜底添薪也。參看十二官條自見。</p>
<p>膽氣鬱為怒。</p>
<p>膽者木生之大也。西醫論膽專言汁不知有汁即有氣。故內經均以氣立論。木氣條暢。火氣宣達。則清和朗潤。其人和平。若木鬱生火。火鬱暴發則為震怒凡病之易怒者皆責於膽氣也。</p>
<p>臟腑之證。不一而足。舉此為驗。任其證形百變均莫得而遁情矣。</p>

<h2>諸病所屬</h2>
<p>屬者所統屬也。知其所屬。則綱領既得。而其條目可例求矣。</p>
<p>諸風掉眩皆屬於肝。</p>
<p>肝為風臟。凡風病皆屬於肝。諸風。謂中風傷風驚風癘風之類。所該之證多矣。掉謂轉動。凡猝倒痙癇抽掣搖戰之類皆是。肝主筋此皆筋之為病也。眩是昏暈。凡昏花妄見。頭目旋轉。皆是肝開竅於目。故有此病也。西醫謂目眩惑昏花。痙癇抽掣。皆腦髓筋為病謂目系通腦故昏眩。腦氣用力太過。則肉縮伸抽掣。究問腦氣何故病。此則西醫茫然。豈知肝脈通於腦。開竅於目而土筋。凡西醫所謂腦氣。皆肝脈所司。而脈筋所以致病。則又肝風為政也。故凡掉眩皆屬於。風而諸風為病。總屬之肝。</p>
<p>諸寒收引皆屬於腎。</p>
<p>腎司寒氣。故凡寒證。皆屬之腎。腎又主骨。腎陽四達。則骨體舒展舉動輕便。若肢骨拘急而收曲。或軃緩而引長。皆骨不為用也。須知拘收引軃。與抽掣縮短者不同。一是寒症一是風症當辨。</p>
<p>諸氣膹郁。皆屬於肺。</p>
<p>五臟六腑之氣。無不總統於肺。以肺為氣之總管也。故凡治氣。皆當治肺。肺立皮毛。膹是氣之乖於皮毛者。膹膗也說文謂形惡。如紫癜斑瘤。黑痣疱鼻之類西醫言毛孔下有油核。其管直通皮膚。若面生黑刺。即管塞。之故此即內經膹膗之說也。郁是氣遏於內。不得舒發也。見病。如氣逆痰滯。血結便閉之類。是氣之乖於腹內者。郁與暢反肺氣不暢故郁。宜散降之。</p>
<p>諸濕腫滿皆屬於脾。</p>
<p>腫在皮膚四肢。滿在腹內脹塞。皆濕氣壅滯。水不下行。停走於膈膜中也。然濕證尚不止此。故曰諸濕或頭目暈沉。或瘧暑泄痢。或周身痹痛。或痰飲痃癖。皆屬脾土。不制水所致蓋脾生油膜之。上膜是三焦主水道油是脾之物油不沾水。此脾所以利水也。若脾之油失其令則濕氣乃。得藏匿。故治濕責之於脾。</p>
<p>諸痛瘡癢。皆屬於心。</p>
<p>此言諸瘡。或血分凝結阻滯其。氣氣與血爭則痛。或血虛生熱。兼動風氣。風火相扇。則癢。皆屬心經血分為病。治宜和血。又凡病不幹血分皆不發痛。故痞臌腫等。均不痛凡是腹痛肢體痛。蓋無不關於血分故皆屬心。</p>
<p>諸熱瞀瘈皆屬於火。</p>
<p>諸熱謂發熱惡熱瘟暑等症。瞀謂眼目昏花。黑暗見鬼等症。瘈謂筋不得伸。抽掣等證。皆屬於火者。蓋諸熱是火傷氣分。火克肺金也。瞀是心神擾惑。視物昏亂。火屬心。心臟火。擾其神故瞀。瘈是肝筋為火所灼。無血養筋。故縮扯。瘈與軃緩不收有異。當辨之。</p>
<p>諸厥固泄。皆屬於下。</p>
<p>厥謂四肢逆冷。固謂腹中瘕積。如寒疝之類。瀉謂下利不止。皆屬於下。謂屬於下焦腎經也。腎陽不能四達。則厥。腎陽不能上升則瀉腎陽不能化氣則固結。故皆屬於下。宜溫之也。</p>
<p>諸痿喘嘔。皆屬於上。</p>
<p>痿有兩證。一是肺痿。肺葉焦。舉不能通調津液。則為虛勞咳嗽。一是足痿。脛枯不能行走。則為足痿。然未有足痿而不發於肺者。蓋肺主行津液。由陽明而下潤宗筋。足乃能行。肺之津液。不行則宗筋失養故足痿。雖見於下。而亦屬之上焦也。喘屬肺之呼不利。嘔屬胃之飲食。氣逆肺胃。均屬上焦。上焦屬陽。多病火逆宜清之也。</p>
<p>諸禁鼓慄。如喪神守。皆屬於火。</p>
<p>禁謂口齒禁切。噤口痢。痙病口禁之類。鼓慄。謂鼓戰慄。如瘧疾手足搖戰之類。如喪神守。謂譫語百合病。恍惚不安之類蓋熱極反寒之象。火擾心神之徵。皆宜治其火也。</p>
<p>諸痙項強。皆屬於濕。</p>
<p>寒濕則筋脈凝熱濕則筋脈脹。故皆能發痙與項強之證。</p>
<p>諸逆衝上。皆屬於火。</p>
<p>諸逆謂吐咳嗆嘔等。凡是衝脈氣逆頭目咽喉胸中受病。均繫心肝之火。挾衝脈上行也。宜抑之。</p>
<p>諸脹腹大。皆屬於熱。</p>
<p>諸脹謂腹內脹滿。腹大謂單腹脹。此證是肝不疏泄。脾不運化。肝不疏泄。則小便不利。水停為脹。脾不運化。則單腹脹。皆屬於熱者。屬於肝木乘脾也。然此與上節火字有別。火屬血分熱屬氣分熱則氣分之水多壅。故主脹大。</p>
<p>諸躁狂越。皆屬於火。</p>
<p>躁謂煩躁。狂謂癲狂。越謂升高。踰垣。凡此皆三焦與胃火太甚。而血氣勃發也。</p>
<p>諸暴強直。皆屬於風。</p>
<p>強直僵仆倒地。暴者猝然發作。風性迅速。故能暴發。凡風均屬之肝。肝屬筋脹。風中筋脈。不能引動。則強直矣。風者陽動而陰應之也。故風俱陰陽兩性中風之陰。則為寒風中風之陽。則為熱風無論寒熱。均有強直之證。宜細辨之。</p>
<p>諸病有聲按之如鼓。皆屬於熱。</p>
<p>此與腸鳴不同。腸鳴則轉氣切痛下泄。屬水漬入腸。發為洞瀉是寒非熱也。此有聲。乃在人皮里膜內。連網油膜之中。凡人身連網油膜。均是三焦。乃相火之府。行水之道路也水火相激。往往發聲。但其聲綿綿。與雷鳴切痛者有異按之亦能作聲。又拒手。如按鼓皮。以其在皮膜間。故按之如鼓。是三焦之火。與水為仇也。故曰皆屬於熱。蓋三焦為行氣之府。氣多則能鼓吹其膜中之管使之有聲如西洋象皮人搦之則出聲是矣。</p>
<p>諸病跗腫疼酸驚駭。皆屬於火。</p>
<p>跗足背。凡足腫皆發於厥陰陽明兩經。陽明之脈行足背。厥陰之脈。起足大指叢毛行內踝。肝木生熱。壅遏胃經之濕。則循經下注而發足腫。極痠疼也。酸字頗有實義。西醫云。凡腳氣必胃中先釀酸水。繼而尿中有蛋白形。尿味亦酸乃髮腳腫痛但西醫未言所以致酸。與因酸致腫之故。惟內經理可互證。經云肝木在味為酸蓋木能生火木能剋土土不化水火又蒸之。則變酸味是酸者濕與熱合之味也。羹湯夏月。過夜則酸濕遇熱也。冬月則否有濕而無熱也。知酸所以致疼腫而腳氣可治矣。又凡乍驚乍駭。皆是肝經。木鬱火發。魂不藏之故。是以皆屬於火。</p>
<p>諸轉反戾。水液渾濁。皆屬於熱。</p>
<p>轉者。左右扭掉也。反者角弓反張也。戾如犬出戶下。其身曲戾。即陽明痙病頭。曲至膝也。水液渾濁。小便不清也。轉在側屬少陽經。反在後屬太陽經戾在前屬陽明經。水道在膈膜中。屬三焦經皆屬於熱。是水液渾濁。固屬三焦之熱。而諸轉反戾。亦當同屬三焦矣。三焦。網膜西人謂之連網。由內達外。包裹赤肉兩頭生筋以貫赤肉筋連於骨節。故利曲伸。觀此則知轉反戾是筋所牽引。實則網膜伸縮使然。故內經與水液同論。以見皆屬三焦網膜中之熱也。西醫乃謂抽掣痙等。發於腦筋。不免求深反淺。故西人無治之之術也。</p>
<p>諸病水液。澄澈清泠。皆屬於寒。</p>
<p>下為小便上為涎唾。其道路總在三焦膜膈之中。無論何證。但據水液。有澄澈清泠之狀。即是三焦大虛之候。故曰皆屬於寒。</p>
<p>諸嘔吐酸。暴注下迫。皆屬於熱。</p>
<p>嘔謂乾嘔。是火逆也。吐有寒證。吐酸則無寒證。暴注下。迫裡急後重。逼塞不得暢。俗名痢證。皆屬於熱者。屬於肝經之熱也。肝火上逆則嘔吐酸。肝火下注則痢。下迫因肝欲疏泄。肺欲收斂。金木不和故欲瀉不得。且痢多發於秋。金剋木也。</p>
<p>病機百出。未能盡錄但舉其凡。以例其餘。</p>

<h2>四時所病</h2>
<p>四時各有主氣。客氣五方強弱之異茲所舉者。不過明臟腑氣應與天時並行之義耳。醫者當知隅反。</p>
<p>春善病鼽衄。</p>
<p>鼽是鼻塞流涕。衄是流鼻血。鼽屬氣分。春陽發泄。為陰所閉則鼻塞不通。治宜疏散其寒。衄屬血分。春木生火。動血上衝。干犯清道。鼻為肺竅。木火侮肺。故發衄。治宜清降其火。善病者。謂多此種病也。</p>
<p>仲夏善病胸脅。</p>
<p>胸是兩乳中間屬心。脅是兩乳旁邊。屬三焦。心是君火。三焦是相火。皆與夏氣相應。故仲夏善病胸脅。以火有餘。多發逆滿也。</p>
<p>長夏善病洞瀉寒中。</p>
<p>長夏未。月濕土主氣。脾主濕而惡濕。濕甚則發洞瀉陽極於外。無以溫養中土。故發寒中之病。觀冬月井水溫。夏月井水冷。則知夏月。中宮多寒矣。</p>
<p>秋善病風瘧。</p>
<p>風屬肝瘧屬少陽。因風致瘧。本系木火為病。而多發於秋令者。木火侮金也。蓋秋當肺金主氣之時。金氣清肅。則皮毛自斂。膜腠自和設風氣鼓動。則為皮毛不得斂。而發寒熱。風火相煽。則膜腠不得和。而戰慄。溺赤。知此理者。可得治瘧之法矣。</p>
<p>冬善病痹厥。</p>
<p>痹是骨節疼痛。厥是四肢逆冷。腎中陽氣。能達於骨節。充於四末。則無此病。冬令寒水氣盛。往往腎陽不足。故多此病。</p>
<p>四時之病不一而足。則此種為多。且知其理。而一切非時之病。理皆可識。</p>

<h2>臟腑通治</h2>
<p>心與膽通。心病怔忡。宜溫膽為主。膽病戰慄。癲狂宜補心為主。</p>
<p>舊注君相二火。一氣相通此解通字。與以下各通字不合。蓋所謂通者必有相通之道路唐宋後憑空說理。不按實跡。西醫雖詳形略氣。然如此等道路非借西說。不能發明西醫云。人之臟腑。全有連網相聯。其連網中。全有微絲管。行血行氣。據此則知心與膽通。其道路亦在膜網之中。蓋膽附於肝肝繫著。脊上循入。肺系連及於心膽與心通之路即在其系中。故心病怔忡宜溫膽。膽病戰慄癲狂宜補心。非空論矣。又溫字補字。有辨。經言溫之以氣。補之以味內經言以苦補心。是瀉心火。即是補心。以益其陰也。溫之以氣是益其陽也。</p>
<p>肝與大腸通。肝病宜疏通大腸。大腸病宜平肝經為主。</p>
<p>肝內膈膜下。走血室前連膀胱後連大腸。厥陰肝脈又外繞行肛門。大腸傳導。全賴肝疏泄之力。以理論。則為金。木交合以形論。則為血能潤腸。腸能導滯之。故所以肝病宜疏通大腸。以行其鬱結也。大腸病如痢症。腸風秘結。便毒等症。皆宜平肝和血潤腸。以助其疏泄也。</p>
<p>脾與小腸通。脾病宜泄小腸火。小腸病宜潤脾為主。</p>
<p>西醫圖繪脾居連網之上。小腸通體。皆與連網相附。連網中均有微絲管相通據此則內經所言。道路顯然。西醫不知內經。妄詆軒。岐以為未見臟腑。此不足怪。獨怪中國。趨好洋學。舍古聖之書。而弗深考。豈不謬哉。脾病多是小腸之火。蒸助濕氣發腫脹作瀉滿。小便渾濁。故當瀉小腸至於小腸所以化物不滯。全賴脾濕。有以濡之西醫所謂甜肉汁入腸化物是矣。故小腸病痢及秘結。闌門不開。膈食等症。皆宜潤脾。</p>
<p>肺與膀胱通。肺病宜清利膀胱水。膀胱病宜清肺氣為主。</p>
<p>肺主通調水道。下輸膀胱其路道全在三焦膜中。上卷已詳言之。故肺與膀胱相隔其遠。而實相通。肺病則水停為痰飲。故宜清利膀胱以瀉之。膀胱病。多由肺之上原。不得疏通。故宜清肺氣為主。</p>
<p>腎與三焦通。腎病宜調和三焦。三焦病宜補腎為主。</p>
<p>三焦之原。即發於腎系。故腎與三焦相通。三焦為腎行水化氣。故腎病宜調和三焦。譬如腎氣。丸用苓澤以利三焦之水。保元陽。用黃耆以充三焦之氣是矣。三焦病不能行水。則宜滋腎陰。不能化氣。則宜補腎陽。近醫不知三焦為何物。西醫名連網。不名三焦。且又不知腎係為三焦之根。安知人生氣化哉。</p>
<p>此條全可考臟腑路道。西醫形跡之學。未及如是之精。而今人不講。反為西人所笑。堪發一嘆。</p>

<h2>望形察色</h2>
<p>形是肢體。色是面部。此理最微比脈更難。今且舉其大略。使人得其門徑。西醫於察色未深考。</p>
<p>以五色命臟青為肝。赤為心。白為肺。黃為脾。黑為腎。肝合筋。心合脈。肺合皮。脾合肉。腎合骨也。</p>
<p>言五色命於五臟。每臟各見本色便知其病。各臟又各有所合便。知其病之所在。譬如青色屬肝。肝合筋。便知其病在筋。余仿此。</p>
<p>青如草滋者死。青如翠羽者。生黃如枳實者死。黃如蟹腹者生。黑如炲者死。黑如烏羽者生。白如枯骨者死。白如豕膏者生。</p>
<p>此言五色榮者生。枯者死。蓋必有血與氣澤。方能榮也。</p>
<p>凡色多青則痛。多黑則痹。黃赤則熱。多白則寒。五色皆見。則寒熱也。</p>
<p>青為肝色。青勝則肝木剋土。故痛。黑為腎之色。黑勝則寒水凝滯。故痹。黃赤為火土之色。故主熱。白為金色令。主清冷。且溫體者血也。血色少故白色多。而知其體寒。五色皆見乃。錯亂之象。故主寒熱並見。</p>
<p>明堂者鼻也。闕者眉間也。蕃者頰側也。蔽者耳門也。明堂骨。高以起。平以直。首面上於闕庭。王宮在於下極。五臟次於中央。六腑挾其兩側。</p>
<p>此言人面之部位。分配臟腑。以診其色也。面分三停。上為闕。闕下為下極。即山根也。以闕論則處下。合鼻言之。則適居於中。故稱極焉。是為王宮。心之應也。鼻居王宮之下。故名明堂。其診法。則當以五臟從上而下。配於中央。而六腑各隨其臟。配於兩側。有諸內形諸外。亦各從其類也。</p>
<figure>
<img alt="面部圖">
</figure>
<p>明堂今名準頭。王宮今名山根。闕今名印堂。蕃今名頰。蔽今名耳。古人不剃鬚。故不診頤下。今診決有心額腎頤之說。是俗醫所配。雖今人剃鬚。氣色終不見於此。未可據以為診也。人身內肺繫心系肝繫著脊。腎系均著脊。惟脾在胃下。不著脊。然脾膜之根仍在脊也。故脾俞穴在背。是五臟皆居於身中也。所以診法。亦配於面之中央。而六腑。則隨其臟位。以配於側。</p>
<p>闕上咽喉也。</p>
<p>闕為眉間。闕之上則至高矣。咽喉之位。在諸臟腑之上。故應於闕上。</p>
<p>闕中者肺也。</p>
<p>俗名印堂。肺居胸中。高於五臟。故應於此。</p>
<p>下極者心也。</p>
<p>下極。即山根心居肺之下。肺應於闕中。則心當應於此。</p>
<p>直下者肝也。</p>
<p>相法稱為年壽。即鼻梁也。肝配於此者以肝在腹中半在膈上半在膈下。位實在心肺之下。故當配於此。唐宋後醫。以肝配左顴肺配右顴。此西金東木之義。然非五臟自具之位次也。且舊說以為肝在脾之下。故曰下焦屬肝腎。不知水木相生。肝固與腎相屬。而究其形體所居則肝半。在膈上半在膈下脾在膈下。居於油膜之上。近胃聯小腸也。中醫少見臟腑。多失其真。而西醫笑之。並謂軒岐先謬豈知古聖精核。更過西人。此等位次。便見聖人審定臟腑最精。至經脈穴道尤為西人所不知也。今必謂古聖洞見臟腑。尤屬空談。不足折服西人。即以剖視例之。古創制作。亦斷無未經剖視之理。且軒帝戰。阪泉涿鹿。何難剖割之有。（圖見後。）</p>
<p>肝左者膽也。</p>
<p>舉左以賅右。言肝應於鼻梁。其左右附鼻梁者。膽之應也。</p>
<p>下者脾也。</p>
<p>下者指準頭言鼻梁在上。則準頭在下。故稱下焉。脾在腔內。實居肝之下。油膜之上。故應配於鼻梁之下。此名明堂為脾之應。脾能總統五臟。故準頭之診最要。</p>
<p>方上者胃也。</p>
<p>方上二字不得其解。舊說以為口之上。鼻孔之旁。余按方字。義訓兩舟。相併殆指鼻之兩孔其形如方舟也。然則準頭為明堂而兩孔即方上也。本經云五臟位於中央六腑挾其兩側則鼻準屬脾。兩孔旁自當屬胃。</p>
<p>中央者大腸也。</p>
<p>此中央字。當合頰側與鼻計之。頰側距鼻之中為中央。蓋頰側名蕃。鼻準名明堂。其中即可名中央。胃近鼻大腸連胃。位次亦宜。</p>
<p>挾大腸者腎也。</p>
<p>腎有兩枚。故配於面部頰側兩旁。是最下之兩旁也。腎居於下。配此為宜。後人配於口下承漿之所。不知古不剃鬚。口下須掩。氣色不見。故內經不以此察色。以腎配兩頰。腎有兩枚。分左右診。於義為合。</p>
<p>當腎者臍也。</p>
<p>腎與臍前後相對。故當腎之下。即以診臍。</p>
<p>面王以上小腸也。面王以下。膀胱子處也。</p>
<p>面王二字無舊解。然明堂者。北面朝王之所也。疑即明堂鼻準是矣。膀胱子處。即子宮二物皆在臍下。與腎位相等。腎兩枚居背後。故分配兩旁應腎在後也。膀胱子宮在前。則當次位於前。居鼻下。故曰面王以下。膀胱子處也。惟小腸與胃相接。而為心之府。未易定其位次。且小腸之膜油全連及肝。膽脾也。故配於膽胃之交肝脾之際位在鼻準上邊兩旁夾鼻之處。故曰面王以上小腸也。予按後人望色。左肝右肺。心額腎頤鼻脾。法甚簡易。然不及內經診法為更詳。</p>
<figure>
<img alt="面圖">
</figure>
<p>闕屬肺。闕旁生眉。即當屬肺。世多以眉屬肝。不知眉實屬肺。內經云肺風之狀。其診在眉上。足見眉實肺氣所發泄。然肝血如不交於肺。即不能化生眉毛。凡毛皆是血化。為氣而發泄者也。</p>
<p>單有血不能生毛單有氣。亦不能生毛。目之部位。統屬肝竅所司。由肝目之部。上交闕旁。系肺之所司矣為肝血上交。於肺氣所以化生眉毛肺為華蓋。故相書稱眉亦名華蓋。肝木主怒。侮肺金。而難制故眉粗之人性最剛烈。自闕至明堂。分配五臟而以六腑配於兩側。詳矣惟三焦包絡。未曾分配余。按經文義。實具於言下。蓋三焦為腎之腑。腎位配於蕃。正當頰側。則三焦。當配於蔽。正當耳門也。腎開竅於耳。三焦之脈又統耳護腎竅。以蔽診三焦。自不爽也。至於包絡配在山根兩旁。其義更可類推。</p>
<p>散見於經文者。如發上指。汗出如油。大肉脫。大骨陷。唇及舌卷。囊縮鼻張。不治之證。未能悉舉。但明臟腑相應之理。可以通一畢萬。且如眼神尤宜細察。再讀傷寒金匱則盡知之。</p>

<h2>聞聲別證</h2>
<p>聲音之道微妙難通。故聞而知之謂之神。</p>
<p>肝木在音為角在聲為呼。在變動為握心火在音為徵。在聲為笑。在變動為憂。脾土在音為宮。在聲為歌。在變動為噦肺金。在音為商。在聲為哭。在變動為咳。腎水在音為羽。在聲為呻。在變動為慄。</p>
<p>已詳上卷五臟所屬條。人能本宮角徵羽五音。呼笑歌哭呻五聲。以參求五氣之邪。則思過半矣。西人審病。至於察尿之味。亦云苦矣。只因於聲音氣色。未能辨析。是以出此下策。</p>
<p>中盛臟滿氣勝傷恐者。聲如從室中言。是中氣之濕也。言而微。終日乃復言者。此奪氣也。言語善惡不避親疏者。此神明之亂也。</p>
<p>經意甚明。蓋即聞聲而知其神與氣焉。</p>
<p>病人語聲寂寂然。喜驚呼者。骨節間病語聲喑喑然不徹者。心膈間病。語聲啾啾然。細而長者。頭中病。</p>
<p>此數語系金匱文。寂寂然。不欲語屬三陰經。喜驚呼。則又屬厥陰肝經。病入三陰。厥陰主筋骨間。知其病在下。焦。聲出不徹。聲不揚也。胸中大氣不轉出入艱滯。知其病在中焦胸膈間。</p>
<p>啾啾然。細而長聲自下焦陰分。緣足太陽。而上達於顛頂。故知其病在頭中。</p>
<p>按聲氣根於腎中。上於胸膈。出於肺管。達於鼻轉於舌。辨於唇。或氣虛而音微或機停而語蹇。或膈間有滯而氣礙。或鼻間有違而音乖。散見各書。細心人當自領取。非筆楮所能盡也。</p>

<h2>問察原委</h2>
<p>病家不可諱病。醫家不可護短。須察問其原委。乃不昧於治法。</p>
<p>問嘗貴後賤。雖不受邪。病從內生。名曰脫營。嘗富後貧。名曰失精。必問飲食居處。暴樂暴苦。始樂後苦。皆傷精氣。</p>
<p>此是問病之原由也。問法不止於此。當推類以求。</p>
<p>凡診者。必知終始。有知餘緒。切脈問名。當合男女。</p>
<p>此一節是總言察問之法。必知終始。謂起病及其終病形如何。可全察矣。有知餘緒。有即又字餘緒。謂其兼見之微證。必兼察之。乃知何者為重病。何者為輕病。或合治。或分治。可得言也。再切脈問名。以定其病之主名。使無差爽。男女各有不同。又當合計各有病情病狀之實乃無誤矣。此段問法甚詳。在人細究。附錄陳修園問證歌括曰一問寒熱二問汗三問頭身四問便。五問飲食六問胸。七聾八渴均當辨。九問舊病十問因。再加服藥參機變。婦人尤必問經期。遲速閉崩皆可驗。更添片語告兒科。天花麻疹全占驗。</p>

<h2>診脈精要</h2>
<p>察脈知病。精之至矣。然內經仲景。皆合人迎趺陽合診。今則獨取寸口。蓋去繁就簡為得其要茲所引注。皆獨取寸口之法。</p>
<p>十二經中。皆有動脈。獨取寸口。以決五臟六腑死生之法何謂也。</p>
<p>寸口即今掌後診脈之所。此難經發問。以起下義。近出西醫。不知脈法。即欲以此攻斥脈法。謂周身皆有動脈。何得以手之寸口為診。彼蓋不知中國古人。創立脈法。已先自為問難所謂十二經。皆為動脈者。早已代洋醫說過。早經駁辨。彼西醫既不知脈何得侈口妄談哉。</p>
<p>然寸口者。脈之大會。手太陰之動脈也。人一呼脈行三寸。一吸脈行三寸呼吸定息。脈行六寸。人一日一夜。凡一萬三千五百息。脈行五十度。周於身。榮衛行陽二十五度。行陰二十五度。為一周。復會於手太陰。寸口者。五臟六腑之所終始。故法取於寸口也。</p>
<p>近說肺朝百脈為華蓋。五臟六腑之氣。皆上薰於肺。故即肺寸口之脈。可以診知各臟。其說亦通。而究不知營衛相會為五臟所終始。故獨取寸口越人立法甚精矣。衛氣之行。西醫不知。營血之行。西醫知之。西醫云。血出心管。行於周身。轉回則為紫色。受炭氣故也。回血入心路經肺管。呼出之氣吹之紫色。乃散復入於心此即內經營周於身之義矣。無一息不有血出於心之左房。即無一息。不有血回入心之右房。然計所出之血待其回入。亦須一日一夜特營血之行。與衛不同。營血則息息皆有出有入。衛氣之行。則須行。度一周。乃復於肺。而與營血相會。此小會也。蓋衛氣晝行於陽則寤。夜行於陰則寐。必晝夜各行二十五度。乃復於肺而與營氣大會故營言周於身衛則言復會於手太陰。文義顯別。不可混也。營氣周行臟腑內外。而皆會於肺故獨取寸脈可以診臟腑內外諸病矣。按靈樞云。人經脈前後上下左右。周身十六丈二尺。一周於身。為一度。晝夜一萬三千五百息。氣行五十度。其經脈長短之數。氣行傳遞之路皆詳於內經。脈度營氣篇。茲不具論觀其脈動。與氣行分言則知脈是營血氣附脈行晝則行。營外為行陽。二十五度夜則行營內為行陰二十五度內經云老人夜不寐。營血虛。衛陽不得入於陰也。觀此則知營衛相附之理。營周而復始。故無一息不返於肺以入心。衛行必一度。乃返於肺也。其五十度。則陰陽之。數已行盡而返於肺則名。曰大會臟腑之所終始也。以其會於肺。故即肺脈。便可診臟腑諸病。西醫不知營衛相會之處。而但知脈是血管。辨中國診脈之非只自形其粗淺耳。</p>
<p>從關至尺。是尺內陰之所至也。從關至魚際。是寸口陽之所治也。</p>
<p>關者。尺寸分界之地。脈訣所謂高骨為是也。關下為尺澤。主肝腎而沉。故屬陰關前為寸。主心肺而浮。故屬陽。</p>
<figure>
<img alt="脈圖">
</figure>
<p>西醫不信脈法謂。人周身脈管。皆生於心中血管。心體跳動不休脈即應之而動。人身五臟。何得只據血管為斷。又言手脈。只是一條。何得又分出寸關尺。此說似是而實非也。細按手脈。至魚際上。則脈不見動。至尺澤下。脈亦不見動。蓋脈雖一條。而有分散合聚隱見之別。寸口者。脈之大聚。會處為營衛相會之要區。故即以此診諸病脈管內屬血分。脈管外屬。氣分遲數是脈管中事。浮沉是脈管外事。至於脈之前後。又分寸為陽。尺為陰。蓋手脈既屬脈之都會自有部分之別。陽外陰內。天地不易之理。凡主表主上主氣。屬陽者。皆診於寸。主裡主血主下。屬陰者皆診於尺也。</p>
<p>上部法天主胸以上至頭之有疾也。中部法人。主膈以下至臍之有疾也。下部法地。主臍以下至足之有疾也。</p>
<p>此即內經上竟上者。胸喉中事。下竟下者。少腹腰足間事之義。蓋天下之理。本天親上。本地親下。各從其類。故左寸在上應心。右寸在上應肺。左關在中屬肝。右關在中屬脾。左尺在下屬腎。右尺在下屬命門。總是分上中下之義。其分左右者。則以水為天一。宜配在左火為地二。宜配在右。水生木木生火。故心肝均位於左。火生土。土生金。故脾肺均位於右。各從其類義也。至於六腑。又各從其類以配次之。肺之腑為大腸。肺居右關上寸部。則大腸宜配於右關下尺部矣。亦有時診於右寸。總見肺與大腸一家故也。胃從脾。配在右關。三焦從命門。配在右尺膀胱從腎。配左尺膽從肝。配。在左關。小腸從心。配在左寸。小腸亦可配在左尺。以心位於左關之上。則小腸當從之於下也。臟腑之位次。既明又推之於形體。則喉舌頭面胸前肩膊。皆診於寸部。腋下腹際從腰以還。皆當診於關部。小腹尾尻二陰股脛膝腳。皆當診於尺部。此內經竟上竟下之法。實大易親上親下之理。其旨微矣辨證有分部。診法有合三部。共診法。最要通其理。方可言診。西醫所不知也。</p>
<figure>
<img alt="手圖">
</figure>
<p>舊訣部位。左心膻中肝膽腎小腸。右肺胸中脾胃命大腸。周夢覺三指禪脈法。以為左心小腸肝膽腎膀胱。右肺大腸脾胃腎命門。然猶有未盡之義。宜分為左寸心膻中小腸。左關肝膽。左尺腎膀胱及小腸也。右寸肺胸中大腸。右關脾胃。右尺命門三焦。及大腸也。蓋大小腸或附。於肺以其表裡相通也。或附於兩尺。以其居下也。膻中即包絡。胸中即肺衣。古法不診三焦。以未知三焦之根。即在腎系。今特配於右尺。於義乃備。</p>
<p>脈有三部九候。三部者寸關尺也。九候者浮中沉也。</p>
<p>此與內經三部九候之法不同。然頭手足遍診之法。其廢已久。故即從難經。以寸關尺為三部。三部各有浮中沉。是為九候。</p>
<p>呼出心與肺。吸入腎與肝。呼吸之間脾也。其脈在中。浮者陽也。心肺俱浮。浮而大散者心也。浮而短澀者肺也。沉者陰也。肝腎俱沉牢而長者。肝也。按之濡舉指來實者。腎也。脾者中州故其脈在中。是陰陽之法也。</p>
<p>上節以部位分五臟。此又以呼吸浮沉分五臟也。心肺在上部。出氣由之。故呼出屬心肺。一呼脈當二至也。肝腎在下部。入氣歸之。故吸入屬肝腎。一吸脈當二至也。呼吸之間。脾主中宮。司出入脈當一至。故呼吸定息。脈來。五至者為無病若多一至。則有一臟太過若少一至。則有一臟不足此察至數之法知此義。則知至數遲速之故。其脈在中以下。又言以浮中沉。分別五臟也。言脈在人肌肉之中。輕按即見為浮。浮為在外屬陽。心肺應之。浮而大散。其應在心。浮而短澀。其應在肺。重按乃見為沉。沉為在裡屬陰。肝腎應之。牢而長者弦之象。屬肝經。濡而實者滑之象。屬腎經。脾者中州。故其脈在中是陰陽適中之地也。此以沉診肝腎浮診心肺中診脾胃取配之義。亦多方矣。</p>
<p>春脈弦。夏脈鉤。秋脈毛。冬脈石。四時皆以胃氣為本。四時之變病。死生之要會也。</p>
<p>鉤即洪。毛即浮。石即沉也。胃氣見於脈。乃和緩之象。言弦鉤毛石。各見和緩為有胃氣四時之變。謂太過不及。不得胃氣。則可以知其病矣。此詳言五臟四時之主脈。而又歸本於胃氣近代三指禪脈訣。以緩脈為綱誠能知胃氣為本之旨學者可以一覽。</p>
<p>數者腑也。遲者臟也。諸陽為熱。諸陰為寒數則為熱遲則為寒。</p>
<p>腑屬陽。故數脈當應腑臟屬陰。故遲脈當應臟數則為熱。諸陽主氣也。遲則為寒。諸陰主氣也。夫以遲數分臟腑。此未盡然。而數則為熱。遲則為寒。蓋有一定不易者。脈之跳動。出於心血之起落。屬脈管中。血之所主。心主火。血虛火少。則動遲血多火旺則動速又凡脈之粗大細虛皆脈管中事。當與遲數同斷。脈法。要辨脈管內是血分脈管外。是氣分則診治自有分別。</p>
<p>浮者陽也。滑者陽也。長者陽也。沉者陰也。短者陰也。澀者陰也。各以其經所在。名病順逆也。</p>
<p>浮滑長為陽。沉短澀為陰。據此治病。已得其要。又再分各經以定順逆。如腎脈宜沉而反浮。心脈宜浮而反沉則為逆既明脈之定象。又言脈無定體。因經而分順逆。其法最細。西醫但知脈是血管。而不知氣附脈行。血管外。即氣道也。西醫云。脈外有膜。名脈鞘。光滑而薄。分數層。中有小孔。如篩。按此即附脈行之氣孔也。脈管只是一條。動則俱動。故遲數無部位之分。氣則上下異。其輕重也。故浮沉有三部之別從此類推而氣管血管分診合診則脈無遁情余讀西醫書。即益知古聖之精。尤願西醫。讀古聖書。亦可補其不及也。</p>
<p>此診法。全從難經。蓋內經遍診頭足。自越人變法。而群趨簡易。後世脈訣。托始於此。於法甚精。故宜從之。再參諸脈書。則盡其奧矣。</p>

<h2>審治處方</h2>
<p>寒者熱之。熱者寒之。微者逆之。甚者從之。堅者削之。客者除之。勞者溫之。結者散之。留者攻之。燥者濡之。急者緩之。散者收之。損者益之。逸者行之。驚者平之。</p>
<p>諸法以寒治熱。以熱治寒攻散補平。皆易知之。惟微者逆之甚者從之。此理極其微妙。蓋微者如小賊。可以撲滅。甚者如巨盜。巢穴深固。非誘之不為功。西醫如治熱證。則以冰壓胸。此熱者寒之之正法也。然熱之微者。可以立除。如熱之甚者。反逼激其熱。使內伏入心而死。香港疫症。如此治死者多矣。皆不知甚者從之也。比如被火傷甚重。則忌用冷水澆。恐火毒伏心而死也。然則逆從之法。可不講耶。</p>
<p>逆者正治。從者反治。熱因寒用。寒因熱用。塞因塞用。通因通用。其始則同其終則異可使破積。可使潰堅可使氣和可使必已。</p>
<p>逆者以寒治熱。以熱治寒。故為正治。從者熱病從熱。寒病從寒。故為反治又言反治之理。熱藥因寒而得其用。寒藥因熱而得其用。即所謂反佐之治也。塞因塞用。如滿逆不下從而吐越之。通因通用。如瀉痢不止。從而潤降之。其始則與。病從同。所以誘之其終則與病各異所以敵之。也變幻莫測。故可破堅積。以期其必愈。</p>
<p>病在下。取之上。病在上。取之下。病在中。旁取之。</p>
<p>此又言治病不可逐末。當求其源委所在如小便大便不利。病在下也。然多是心肺傳移之病。故當取之。上頭目耳喉間。病在上也。然多是肝腎之邪上犯。故當取之下。病在中。屬脾胃。然多是少陽厥陰之邪所犯。故宜旁取之。</p>
<p>治法之詳。當求各書。然能洞明內經大義。則各書治法。其理已具。西醫言治多執著。故鮮神妙。</p>

<h2>氣味陰陽</h2>
<p>西醫言。彼國用藥。歷試而知。較有實據。不比中國專以色香氣味分配臟腑則影響無據矣。不知西醫此說。適形其陋。曰歷試則毫無把握。惟憑嘗試矣。彼惟不論五行。專以形氣立說。所以得半遺全。譬如彼言養氣能養物百果羹肉得。養氣皆不壞取養氣以水銀白礬硝石。燒之即出。不知彼所謂養氣。即中國所謂陰氣。中國以冰養果羹。即取其純陰不化。水銀等純陰。故多養氣。輕氣能發火。是輕氣即中國所謂陽氣。然則西醫言輕養。何如中國言陰陽。為得其實也。使氣味形性。不兼論之。則一物之功用不全。且西人試驗。豈古人嘗藥未試耶。</p>
<p>積陽為天。積陰為地。陽為氣陰為味。</p>
<p>人與萬物同一天地。即同一陰陽。萬物各稟天地之陰陽。以變化人身之陰陽。藥之功用。於是乎著天食人以五氣。地食人以五味。氣味即陰陽之分見者也。</p>
<p>陰味出下竅。陽氣出上竅清陽發腠理。濁陰走五臟。清陽實四肢。濁陰歸六腑。味厚者為陰。薄者為陰中之陽。氣厚者為陽薄者為陽中之陰。味厚則泄。薄則通。氣薄則發泄。厚則發熱。元素曰。清之清者發腠理。清之濁者實四肢濁之濁者歸六腑。濁之清者走五臟。附子氣厚。為陽中之陽。大黃味厚。為陰中之陰。茯苓氣薄。為陽中之陰。所以利小便。入手太陽。不離陽之體也。麻黃味薄。為陰中之陽。所以發汗入手太陰。不離陰之體也。同氣之物。或味不同。同味。之物或氣不同。各有厚薄。故性用不等。李杲曰。味之薄者。則通。酸苦鹹平是也。味之厚者則泄。鹹苦酸鹹是也。氣之厚者發熱。辛甘溫熱是也。氣之薄者滲泄。甘淡平涼是也。滲謂小汗。泄謂利小便。此是辨藥之大法。一定而不移者也。西醫不言氣味。考其用大黃利下。用樟腦發熱。功用究不離乎氣味。特西醫不之解耳。</p>
<p>辛甘發散為陽。酸苦湧泄為陰。鹹味湧泄為陰淡味滲泄為陽。六者或收或散。或緩或急。或潤或燥。或軟或堅。所以利而行之。調其氣使平也。</p>
<p>發散是能升發外散。出汗溫四肢也。湧是上吐。泄是下利。滲泄是利小便。六者謂辛甘酸苦鹹淡也。宗奭曰。生物者氣也。成物者味也。以奇生則成而耦。以耦生則成而奇。寒氣堅。故其味。咸可用以軟熱氣軟。故其味苦可用以堅風氣散故其味酸可用以收燥氣收故其味辛可用以散土者沖氣無所不和。故其味甘可用以緩用藥之道。總調之使平而已宗奭此注深得氣味相反相成之性。學者察之。</p>
<p>附李杲之說曰。藥有升降浮沉。生長收藏以配四時。春升夏浮。秋收冬藏土居中化。是以味薄者升。而生氣薄者。降而收氣厚者。浮而長味厚者沉而藏氣味平者化而成按味薄者。甘平辛平微溫微苦之類是。氣薄者。甘寒酸平鹹平淡涼之類是氣厚者。甘熱辛熱之藥。是味厚者。苦寒鹹寒之藥是。氣味平者。得土之性。能兼。升降也。李時珍曰。酸鹹無升甘辛無降寒無浮。熱無沉。其性然也。一物之中。又有根升梢降。生升熱降之不同。貴細審焉。</p>

<h2>性味宜忌</h2>
<p>凡藥之性味。各以五行歸五臟。而生克好惡具焉。故各有宜忌。蓋藥得性味之偏所以調五臟。之偏勝也。偏而得中則病已。偏而太過則不宜。</p>
<p>肝欲散。急。食辛以散之。用辛補之。酸瀉之。</p>
<p>肝木性主散達。急而不散。則宜辛以散之。夫辛是金之味然適得木之性故辛能補肝酸是木之味。而反得。金收之性。故酸能瀉肝。</p>
<p>心欲軟急。食鹹以軟之。用鹹補之。甘瀉之。</p>
<p>心為火臟。性主柔。韌急則剛燥。故食鹹以軟之。鹹得水味。而具火性。故入心血。甘為土之味。火生土。則瀉其氣矣。</p>
<p>脾欲緩。急。食甘以緩之。用苦瀉之。甘補之。</p>
<p>凡性與味皆。互換。故得木味者。得金性得水味者。得火性惟土為中氣性味不換得土味者即得土性。緩者和也。脾急則不和。食甘以緩之。以甘之本味歸脾。能補土也。以苦瀉之者。甘升苦降。味相反而功異也。</p>
<p>肺欲收。急食酸以收之。用酸補之辛瀉之。</p>
<p>肺主秋收之金。急則反常。故用酸以收之。辛則能散其氣也。</p>
<p>腎欲堅急食鹹以堅之。用苦補之。咸瀉之。</p>
<p>腎體沉石。欲其堅病則失常惟苦味具寒之性能堅之。故以苦補之。咸則潤軟。故能瀉腎。</p>
<p>辛走氣。氣病毋多食辛鹹走血。血病毋多食鹹苦走骨。骨病毋多食苦。甘走肉。肉病毋多食甘。酸走筋。筋病毋多食酸。</p>
<p>五臟之本味。即能傷及五體。總見太過之為病也。</p>
<p>按照肺肝之例。苦亦瀉心。酸亦瀉脾。而云甘瀉心。苦瀉脾。總見性味之功用。非出於一途也。</p>

<h2>七方十劑</h2>
<p>七方出於岐伯。謂氣有多少。形有盛衰。治有緩急。上下內外之不同。故立七方以制之。十劑出於北周徐之才。謂十種是藥之大體。詳之則靡遺失。惟十劑內缺寒熱兩端。後人又加寒熱二劑。足成十二劑醫者但熟七方十劑之法。便可以通治百病。</p>
<p>大方</p>
<p>病有兼症。邪有強盛。非大力不能克之。如仲景之大承氣湯。大青龍湯。一汗一下。皆取其分兩重。藥味多勝於小承氣小青龍也。學者可以類推。</p>
<p>小方</p>
<p>病與兼證。邪氣輕淺。藥少分兩輕。中病而止。不傷正氣。如仲景小承氣之微下小建中。小溫經之微溫。小柴胡之微散。皆取其中病而止。力不太過也。余仿此。</p>
<p>緩方</p>
<p>虛延之證。剽劫不能成功。須緩藥和之。有以甘緩之者。炙甘草湯。四君子湯。治虛勞是也。有以丸緩之者。烏梅丸治久痢是也。有多其物以牽制使性不得騁而緩治之者。薯蕷丸治風氣百病。侯氏黑散。填補空竅。須服四十九日是也。有徐徐服以取效。如半夏苦酒煎。徐徐呷之。甘蜜半夏湯。徐徐嚥下是也。</p>
<p>急方</p>
<p>病勢急。則方求速效。如仲景急下之。宜大承氣。急救之。宜四逆湯之類。蓋發表慾急。則用湯散。攻下欲急。則用猛峻。審定病情。合宜而用。</p>
<p>奇方</p>
<p>單方也。病有定形藥無牽制意取單銳。見功尤神如仲景少陰病。咽痛。用豬膚湯。後世補虛用獨參湯獨附湯。又如五苓五物三物七氣皆以奇數名方。七枚五枚等。各有意義。然奇方總是藥味少。而銳利者也。</p>
<p>偶方</p>
<p>偶對單言。單行力孤不如多品力大。譬如仲景用桂枝麻黃則發表之加大。若單用一味。則力弱矣。又如桂枝湯。單用桂枝。而必用生薑以助之。是仍存偶之意也。腎氣丸桂附同用。大建中椒姜同用。大承氣硝黃同。用皆是此意。</p>
<p>複方</p>
<p>重複之義。兩證並見則兩方合用。數證相雜則化合數方而為一方也。如桂枝二越婢一湯是兩方相合。五積散是數方相合又有本方之外。別加藥品如調胃承氣湯加連翹薄荷黃芩梔子為涼膈散。再加麻黃防風白朮枳殼厚朴為通聖散。病之繁重者。藥亦繁重也。岐伯言奇之不去則偶之。是複方。乃大劑。期於去病矣。又云偶之不去則反佐以取之。所謂寒熱溫涼。反從其病也。夫微小寒熱。折之可也。若大寒熱。則必能與異氣相格是以反佐以同其氣復令寒熱參合使其始同終異是七方之外。有反佐之法。</p>
<p>補可扶弱</p>
<p>先天不足。宜補腎。六味丸腎氣丸二仙膠之類是也。後天不足。宜補脾。四君子歸脾湯。補中湯之類是也。氣弱者宜補肺。人參是也。血弱者宜補肝。當歸是也。神弱者宜補心。棗仁是也。再審陰陽輕重治之。則妙於補矣。</p>
<p>重可鎮怯</p>
<p>怯則氣浮。重以鎮之。有四等驚氣亂。宜琥珀至寶丹之類。恐氣下。宜二加龍骨湯。磁珠丸沉香。怒氣逆。宜生鐵落飲。蘆薈丸。滾痰丸之類。虛氣浮。宜安神丸之類。其餘代赭石湯風引湯之類。皆當推究。</p>
<p>輕可去實。</p>
<p>風寒之邪。中於人身癰瘡疥痤。發於肢體。宜輕而揚之。使從外解。仲景用麻桂。今人用人參敗毒散。香蘇飲。香茹白芷薄荷荊芥之類。又小柴胡。為和散之總方。加減用之。可以和營衛而去諸邪。當類推焉。</p>
<p>宣可去壅。</p>
<p>頭目鼻病。牙噤喉塞。實痰在胸。水火交結。氣逆壅滿。法宜宣達。或嚏或吐。或令布散。皆謂之宣。取嚏如通關散。取吐如膽礬甘草薄荷。令其布散。如越鞠丸逍遙散之類。又如四逆散丸。氣丸皆是散意。</p>
<p>通可行滯</p>
<p>火氣鬱滯。宜用通劑。利其小便滯於氣分者。用木通滑石。六一散之類滯於血分者。用防己導赤飲。五淋散之類。凡味淡者。皆利小便。得金水之性也。凡藥白皮通莖皆利小便。象三焦之紋理也。</p>
<p>泄可去閉。</p>
<p>邪盛則閉塞。必以泄劑。從大便奪之。備急丸瀉寒實。承氣湯瀉熱實。葶藶瀉肺湯。是泄其氣桃仁承氣湯。是泄其血。十棗湯泄水。秘方化滯丸攻積由此求之。凡宜破利者。皆泄之類。</p>
<p>滑可去著</p>
<p>著謂留而不去也。</p>
<p>痰黏喉。溺濁淋。大腸痢等症。皆是。宜滑澤以滌之。瓜霜冬葵子散。榆皮飲。痢症三方之類是也。</p>
<p>澀可固脫。</p>
<p>脫如開腸洞瀉。溺遺精滑。大汗亡陽之類。宜用澀劑以收斂之。理中湯桃。花湯止利參耆朮附湯。止汗六黃湯止盜汗固精丸天雄散止滑精。朮附湯止小便。大約牡蠣龍骨海螵蛸。其質收澀。五味訶子其味收澀蓮房棕灰麻黃根。其性收澀。隨加寒熱氣血諸品。乃為得宜。</p>
<p>濕可潤燥。</p>
<p>燥者枯也。風熱怫鬱。則血液枯竭。而為燥病上燥則渴或為肺痿。宜人參白虎加花粉。瓊玉膏。救肺湯。下燥則結。麻仁丸蓯蓉丸。腸燥則膈食。宜當歸芝麻丸。筋燥則縮攣。宜阿膠竹茹湯。總之養血則當歸地黃。生津則麥冬花粉。益精則枸杞菟絲。在用者廣求之。</p>
<p>燥可去濕。</p>
<p>外感之濕。宜神術湯汗之。濕泛為痰。宜二陳湯降之。濕停不溺。宜五苓散利之。胃濕宜平胃散。脾濕宜腎著湯。皆治寒濕也。又有濕熱之證。反忌燥藥。當以苦堅清利治之。知母防己湯。黃柏散相宜。</p>
<p>寒能勝熱。</p>
<p>寒熱者。證治之太端也。熱證如傷寒溫瘧虛癆。何一不有。當以寒藥治之。其間進退出入。在人審矣。甘寒之劑。白虎湯。甘露飲之類。苦寒之劑。金花湯。龍膽瀉肝湯之類。大抵肺胃肌熱。宜銀翹石膏。心腹熱。宜苓連。肝腎熱宜黃柏知母膽草。</p>
<p>熱可制寒</p>
<p>寒者陰氣也。積陽生熱。能制寒證辛溫之品是矣。附子湯。附子細辛湯。治太陽少陰之寒。四逆湯。理中湯。治脾腎之寒。吳萸湯。烏梅丸治肝寒。青龍湯治肺寒。薤白治心胸之寒。回陽救急湯。統治裡寒。桂枝湯統治表寒。方難盡錄。讀書者。遍查之。</p>
<p>內經所載。只奇偶兩方。仲景之方。七法大備。雖其時無十劑之說。而十劑之法亦寓。自北周徐之才。作十劑。後人又添寒熱二者。按證處方。可稱精細近出西醫。乃謂中國但能用藥不知剖割去病。抑知靈素針灸。無剜腸剔骨之險。有起死回生之妙。尤恐術有未精。不肯多用。且華元化亦有剖割之法。據元化所傳中臟經。豈能高出內經之上。後世不從元化之術。固畏其難亦避其險也。可知剖割粗工不及針刺之妙而針法微渺不如方藥之詳仲景獨以方藥治病。為至當也。今人不考針剖與廢之故。偶見西醫剖割得效。奉為神奇。而不知其得失參半也。四川某腦後頸上生一瘡。俗名對口瘡。此係發於督脈。督脈上頸貫腦。頸之能豎。督脈之力也。西醫不知。剜去其瘡填之以藥。謂即生肉。其人遂項折不能舉。三日而亡。陝客某病腹臌。西醫破其腹。流水兩碗。縫之旋愈。</p>
<p>不久又臌脹。又破之。連破三次。臌脹復發。西醫以為不可治。夫不知水之何以生。而但知放水。此西人不講五行之過。故人謂西法精。而吾謂西法疏也。予曾治總理衙門總辦。章京陳君蘭秋。名誠肌膚甲錯。肉削筋牽陰下久漏。小腹微痛。大便十日一行。脅內難受。不可名狀。腰內亦然。前陰縮小。右耳硬腫如石。予曰。此腎系生癰。連及脅膜。下連小腹。故時作痛。再下穿漏。乃內癰之苗也。法當治腎係為主。陳君勃然起曰。西醫亦云。病在腰背筋髓內。所以割治三次。而漏不止無藥可治也。大便不利。可時服蓖麻油。故每八九日一服。蓖麻油。今君言與西醫同。得無束手無策乎。予曰君在各國衙門。習見西人。以為西法千古所無。不知西人算學出於周髀。機器流傳。出於般巧。墨子。醫用剖割。亦華元化之流派。不必西人果宗數子。而其法要不外是。中國人未深考。乃轉震而驚之。可嘆也。夫且君病西人知在腰內。試問君耳何以硬。前陰何以縮。大便何以不下。西人不能知也。陳君曰。然前問彼無以對。予曰西人不知腎系。即是命門。生出板油連網。即是三焦。腎開竅於二陰。故前陰縮而大便秘。三焦經繞耳。命火位當屬右。故見右耳硬腫。周身甲錯者。腎系三焦內。有乾血死膿也。按仲景法治之得效。大抵西人初創醫法。尚多未准故以試驗為衡。中國經數聖試驗準確。定出形性氣味。絲毫不差。為最精也。即如中國治胃。有以參耆益氣者。有以花粉生津者。有以二術燥土者。有以苓半利水者。有以姜椒溫中者。有以芩連清熱者。至於大黃攻胃之積。非補胃也。西醫補胃之濟。用黃連水官桂酒蘇打。如無蘇打用牡蠣粉。大黃末合用作水早晚服。謹按此方。寒熱並用。總主利降。以消食耳。西人見食消即以為補胃。豈不稍瘥。蓋臟腑皮肉。西人知其層折經絡。氣化西人昧其指歸是以用藥多未合宜。予之此說。人或河漢斯言。盍取西醫各書考之。且安得業算數汽機之人。盡如我之談醫。去彼之短。用彼之長。以我之長。益彼之短。豈不極人事之能。而盡造化之量乎。有志未逮。企予望之。</p>
