<header data-type="book">
<h1>鼠疫約編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>羅汝蘭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1901">公元1901年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>會城今夏鼠疫盛行，譚彥先明府自惠安郵匯編至，王吉人邑侯試之而驗，則揭布於通衢，好善者亦重刊以行，於是閩醫始知治法。以余所聞見，自六七月以來，服此方，雖極危，尠不活者，間有受病太深，療救無及，或以疑是方之不可恃。顧越人不云乎，非能生死人也，能使當生者起耳，今之中無所主而以藥為嘗試者，當生且使之死矣。則烏能以是方一二之不效，而掩其八九之效哉。吾友鄭肖岩秀才，病彙編之繁複，約為八篇，乍浦楊伯卿司馬喜而鋟之。二君惓惓於活人之心，吾願村僻之為醫者共體之，勿使病家倉卒間誤於回感也。</p>
<p><u>光緒二十七年冬十二月閩縣陳寶琛附識</u></p>

<h1>李序</h1>
<p>醫之為術，所以寄死與生。醫之書，必詳且盡而後可以濟人壽世者也。若吾粵羅芝園廣文所著《鼠疫彙編》一書出，垂十年，活人甚眾。如是書之議論醇正，推究病源，洞然有見一方之眼。竊謂近日治疫者，無能出其右也。惜其書未行於閩，人猶有所憾焉。客冬我居停彥先明府，不吝兼金，倡為鋟版以廣流傳，庶使倉卒遘疾，頃刻得以更生，荒僻乏術，不斃於庸醫之妄。何便如之？未嘗不為濟世之一助也。憙今梓事告成，爰書數言於簡末。</p>
<p><u>光緒辛丑元月中九守平庵主李澍青跋</u></p>

<h1>周序</h1>
<p>瘟疫者，時氣也。時氣遍行，所以人感之而即病。夫瘟者溫也，疫者役也。故瘟疫之作，始必發熱，無分男女少長，率皆相似。如役使然，是又謂之溫役也。刺法論：黃帝曰：五疫之至，皆相染易，無間大小，病狀相似。且病是證者多起於冬不藏精，及辛苦飢餓之人。蓋冬不藏精，則邪氣乘虛易入，而飢餓勞倦之流，則受傷尤甚。故大荒之後，必有大疫，正謂此也。但此輩疫氣既盛，勢必傳染，又必於體質虛濁者先受其氣，以漸遍傳。若不施救療，蔓延滋甚。內余家世岐黃，留心考述，每臨編得其法，未必見其病，臨病見其證，未必合其方。適嶺南雨山世丈以是編見示，展誦之餘，其於治疫之法，明如指掌，且經屢驗。時值泉郡是疫又作，思製藥施送，恐難普遍。居停彥先譚明府，仁愛為懷，毅然創首，爰集同人付梓惠世，誠為活人之要術也。是為序。</p>
<p><u>光緒二十六年冬月東陽周樹梓桐甫志於豐州署齋</u></p>

<h1>羅序</h1>
<p>疫由陰陽愆伏而作也。或中血，或中氣，感其毒者，皆足以害人。顧其時同，其地同，其證同，其藥亦宜無不同，（觀方書所載，每次止立一方可知。）必拘拘切脈施方無當也。鼠疫者，鼠死而疫作，故以為名。其證為方書所不載，其毒為斯世所駭聞，鄉復一鄉，年復一年，為禍烈矣，為患久矣。予初聞此遍閱方書，無對證者。光緒十五六年，延及邑之安鋪，十七年春，延及縣城，偶見《醫林改錯》一書，論道光元年，亦師時疫，日死人無數，實由熱毒中於血管，血壅不行。夫已壅不行，必然起腫，予始恍然焉。蓋鼠疫一證，初起紅腫結核如瘰癧，或忽起於不自知，或突起於所共見，其潰者流瘀血，非熱毒成瘀之明驗乎。其甚者熱懵而斃，非熱毒瘀血攻心所致乎。及觀其方，專以治血為主，略兼解表，信能治此證矣。試之人人皆驗，因錄，示人人疑謗也。十七年冬，遇吳川友人吳子存甫於郡，出所輯《治鼠疫法》一編，予讀而善之。遂與茂名許子經畬論列此方，隨證加藥。囑書其後，而附於諸君子之末，爰損貲付刻以廣其傳。十九年春，城鄉疫復作，同時屢用此方以起危證，一時共傳，求者踵相接。乃即人疑謗者再加辨解，且取侄啟沃所經驗塗瘰一方以補之。侄啟觀復刻印發，遠近流傳，用之多效。二十年予族陀村，感此證者數百，用之全效。故舊歲宏豐號有辨惑說之刻，本年友人文子鳳笙有同育堂之刻，安鋪醫局有敦善堂之刻，化州局亦有刻，人愈信傳愈廣焉。予思此方雖妙，惟一誤於醫者之蠱惑，再誤於病家之遲疑，以致死亡相繼，實堪痛恨。予留心此證久矣，數年所歷，更有聞見。前緣平糶之暇，補原起釋疑二則，並將陀村治疫之善法，與所傳之奇效，及改方之貽誤，就吳刻而增損之。二十一年陀村疫復作，按治未效，加藥方效，故於施藥之時，續而增之，復將十年前疫毒中氣之輕驗方附諸卷末，俾知疫毒中於血氣者，皆有所救，則陰陽雖有愆伏，而血氣實可調和，庶幾消災疹於無形，躋民生於仁壽，則區區之心稍慰也。如有不逮，還期高明指示，爰述其本末而為之序。</p>
<p><u>光緒二十一年蒲月廣東石城羅汝蘭芝園續志於村堡別業之前軒</u></p>

<h1>羅序</h1>
<p>是書已四刻，前序言之詳矣，茲何為而復刻也？以近更有所得不敢秘也。二十一年夏，四刻初成，秋渡瓊候委，得悉是春海口以疫斃者數千，族人和隆號電催此方過海曾著效驗，而瓊醫未之信也。予慮其復而及他處，遂出四刻分贈同鄉各位，皆以較前更詳。公捐洋銀三十六員囑代辨分贈，予遂伏信高郡聯經堂印六百本，並撮其要。付省經韻樓刻印一千本，旋以聽鼓多暇，復購書數種以考其詳，更加添注。冬至後瓊州府城疫作，先將所存分派瓊醫，或從而笑之，甚從而訾之。予知其誤於李時珍紅花過服之說，並誤於景嵩崖桃仁紅花不可過用三錢之說也。二十二年春疫大作，群醫各出手眼，百無一效，以至死人無數。及二月底，始有信避之法者，遷居海口，延予調治，並參新法，連救重危證數人，求醫者踵相接也。每視病開方，即贈書一本，並囑照醫，而十愈八九，一時並救數十人。群疑始息，遂信是方，幸海口為證無多，不致大害，因補前刻所未及而求其詳，爰為之序。</p>
<p><u>光緒二十二年五月署理儋州學正石邑羅汝蘭志</u></p>

<h1>自序</h1>
<p>昔桐城余君師愚著《疫疹一得》，以清瘟敗毒飲為主方，別開生面，以補昔賢之未逮。乾隆癸丑，京師大疫，踵其法者，活人無算。紀文達公目聲其應手而痊，故一時亟稱之。迨光緒十七年，粵東鼠疫流行，石城羅芝園廣文以加減解毒活血湯為綱領，救活億萬人，厥功偉矣。復從吳子存原本輯成《鼠疫彙編》，殫數年閱歷苦衷拯萬里艱危疫症，是皆彼蒼仁愛斯民，假手於賢哲，解散疫氛，同登壽宇也。考王勳臣《醫林改錯》有云：瘟毒自口鼻入氣管，自氣管達於血管，致氣血凝結，壅塞不行。此說與余所聞泰西醫士所言暗合，羅氏穎悟過人，從此入手，即以解毒活血湯加減用之，為治鼠疫者提綱挈領，膽識俱到，獨出冠時，故能立起沉疴，為群生託命焉。辛丑歲自夏徂秋，吾省城鄉內外鼠死而疫作，為數年來最盛。餘五月初首得李雨山刊本，如獲異寶，即思集貲重刻以廣流傳，嗣聞楊孝廉芝庵昆仲已付剞劂，先獲我心，不勝狂喜，自此書出。閩中諸善長踵而印施者萬有余卷，雖疑信參半，然全活亦不少，鋟版現將模糊。乍浦楊君伯卿司馬，樂善不倦，將謀重梓，屬余參訂。余雖粗工，又焉敢辭，惟原書從歷年經驗彙纂而成，其間羼入雜症生藥與乩方，微嫌喧賓奪主，恐閱者旁皇眩惑罔決適從，故割愛刪去。且編次間有重複處，有倒置處，爰不揣譾陋，釐為八篇，名之曰《鼠疫約編》。蓋由博而返約，亦守約而施博也。所冀醫者毋執己見以炫奇，病家毋惑人言以自誤，依方照法，及時連服，生死人而肉白骨，其功德詎有涯涘哉。</p>
<p><u>光緒二十七年十月閩縣鄭奮揚肖岩謹識於袖海廬</u></p>

<h1>辨誤弁言</h1>
<p>治病之道，不知其誤即不得其真。凡治病皆然，而治鼠疫為尤甚。蓋鼠疫一證，前無所依，後無所仿也。是編因比類而得其方，且屢經而詳其法。時歷八載，版已五刊，雖云有誤，諒亦寡矣。乃作者無誤而用者多誤，推求其故，緣人多囿於常見，狃於常習，每以輕藥試重病緩服治急疾，無怪其多誤也。此其說於鄰鄉人得其詳焉。本年鄉鄰多疫，皆來求書。贈即囑曰：必依法方效。數日後多來問曰：貴鄉用之極效，某等用之不效何也？予細詢之。曰：輕病鄉人多不服藥，迨至重危然後服藥，應加石膏者亦用五六錢，應加大黃者亦用三四錢，其餘各證亦照法加入，每日追三劑，熱稍退者每日仍一劑，追至於甚，乃不服藥。予曰：噫，子誤矣。此重證，亦急證也，初起不服藥，已失之遲，一誤也。重危之證，每日二服，已失之少，二誤也。石膏、大黃改輕，復失之輕，三誤也。熱退尚有微熱，至少二服，多則三服，日止一服，以至病翻，四誤也。尚可服藥，即不服藥，坐視其死，五誤也。若疫證初起之時，凡喉微見燥，頭微見暈，體微見困，即中毒之漸急宜服藥，或服白茅根數味，或服本方二三服，此治於未萌，更人所易忽，六誤也。有此六誤，尚云依方照法乎。嗟乎！近者尚誤如此，遠者可知，補弁數言，以免輾轉相誤也。</p>
<p><u>戊戌春日芝園氏志</u></p>

<h1>例言（上四條從羅本錄出）</h1>
<p>是編就吳子存原本增刪，其首二方統以大黃為主，初證必致邪內陷故刪之。其原起避法治法生藥各方，實有可採故存之。</p>
<p>是方本於《醫林改錯》，原為吐瀉抽筋而設，然移用此證恰合，故以為土。</p>
<p>吳本有疏漏處，參以己見，補原起論證及禁忌釋疑二則，與陀村雨年輕重治法，及各處輕重治案十二條。茲又彙集前四刻而次第之，並補原起論、各家脈論、證治論，及已悟活法採用古法俱見效者，添入數法，與瓊廉雷治案共五條，務求簡明，人人易曉，庶稍有準則，不致大誤。</p>
<p>病有舍脈而從證者，以脈微而證顯也。況鼠疫起核紅腫，大熱大渴，明系陽證，為熱何疑？然人每以熱渴無核之證致誤，故累輯脈論數則以明其初起，亦與中風傷寒之異，所輯不多，亦以符疫證不切脈之例。</p>
<p>細閱原書，皆從歷年經驗彙纂而成，急於刊布，編次間有倒置處，有重複處，茲刻次第移綴一以貫之。特表彰時賢救世之苦心。</p>
<p>原書藥品，有從方言者，如犀角，或書柱犀，或書嚤犀，淡竹作丹竹是也。有從別名者，如龍膽草作地膽頭，螺靨菜作雷公根是也。有從俗字者，如銀翹作銀喬，梔子作枝子是也。恐流傳誤會，不識者索解末由，反至誤事，茲刻悉為更正。</p>
<p>方藥不用無人識，原書所列生藥方，如羊不挨瓤紅蛤屎⿸尸弗葉蚌螺花披雪麻布狗尾路兜蔃。皆粵東生草別名，現時福州考究未確，恐誤採誤用，反見貽害，故割愛不錄。</p>
<p>原書所列治法有三千餘字，皆閱歷有得之言，千錘百煉而出，非細心體會，未易遵行。故不揣譾陋，略分章節，逐條發明，俾閱者心目瞭然，無所顧慮。為活人計少盡苦衷，非敢妄逞臆說也。</p>
<p>原書服藥既以加減解毒活血湯為主方，以治鼠疫發核。此外如霍亂吐瀉、發痧羊毛瘟、大頭瘟等症，以及乩方雜症，概行刪去，以還廬山面目。</p>
<p>是刻藥方，另登本方加減解毒活血湯，附以方論，為是書提綱，其餘經驗各方，附列篇末以備考證。窮鄉僻壤，延醫既難，購藥不易，儘可擺其簡便者用之，亦堪奏效。</p>
<p>是刻釐為八篇，一曰探源，二曰避疫，三曰病情，四曰辨脈，五曰提綱，六曰治法，七曰醫案，八曰驗方，俾閱者窮源溯流，瞭如指掌。</p>
<p>原書所列治法，無症不備，無藥不靈，惟毒核潰爛，尚缺方藥。茲刻補入排膿生肌收口外敷內托各方以臻完璧。</p>
<p>醫案篇未附拙案，為徵信起見，非敢誇功逞技，故並索同志劉君蔚立各附數案。俾患是病者，放膽服藥，不為旁人蠱惑，又可見福州成效可稽耳。</p>

<h1>探源篇</h1>
<p>羅芝園曰：昔之論瘟疫者，皆曰風寒暑濕燥火之六氣。自明末時吳又可起，從而闢之。曰：六氣者天地之淫氣，常有者也。疫氣者，兩間之戾氣濁氣，不常有者也。斯言也徵之老子而可見。老子云：大兵之後，必有凶年，凶年之後，必有瘟疫。是知以兵燹而致旱澇，以旱澇而釀疵癘，此瘟疫所由起也。自後論疫氣者，皆主其說。陳修園先生更添病人之毒氣，又兼言夫繼起，不第言夫初起也。友人吳子存甫據鼠死疫作，直斷為地氣，言之鑿鑿，亦不為無見。然律以動靜互根之義，無天氣之鼓盪，焉能使地氣之發舒？則言地氣者，必兼言天氣，其說乃全，但天氣遠而清，人所難見，地氣近而濁，人所易見耳。統而言之曰：天地之氣足矣。言疫氣所從入，吳又可、吳鞠通、楊玉甫皆謂獨從口鼻入。玉甫又據天氣為清邪，獨從鼻入，地氣為濁邪，獨從口入。修園謂天地之氣，暗中摩蕩，從毛孔入，病人之氣，當面噴薄，從口鼻入，似不必拘。蓋自其分而言，則曰：天地人之氣，自其合而言，則曰混雜之氣，何能隔別使何氣從口入，何氣從鼻入，何氣從毛孔入乎。主口鼻入者，對風寒由毛孔入而言，別樣疫證可說得去，惟鼠疫實說不去。其先起核而後身熱者，必由毛孔入，由外而入內，其先身熱而後起核者，必由口鼻入，由內而入外，此證之犁然各別者也。所論雖屬探原，究無關治病之輕重，管見偶及，用以質諸高明。吳子存曰：光緒十六年冬間，鼠疫盛行，疫將作則鼠先死。人感疫氣輒起瘰癧，緩者三五日死，急者頃刻，醫師束手。間有打斑割血，用大苦寒劑得生者，十僅一二而已。先是同治間，此證始於安南，延及廣西，遂至雷廉沿海城市，至是吳川附城作焉。明年正月，梅綠黃坡及信宜東鎮皆有之。三月後，高州郡城亦大作，斃者每以二三千計。離城市稍遠者，染得病歸，村鄉亦有之。四月後，則瘰癧者鮮死，死者又變為焦熱衄血疔瘡黑斑諸證。初有知廣西雷廉之事者，勸諸人亟逃，人皆迂之。久之禍益劇，乃稍信前說，見鼠死則盡室以行，且多服解毒瀉熱之品，由是獲免者甚眾。越端午乃稍稍息。事後細詢中疫之家，乃嘆曰：信哉此地氣非天氣也。何者？同一邑也，城市者死，山林者免焉。同一宅也，泥地黑濕者死，鋪磚築灰者免焉，暗室蔽風者死，居廳居樓者免焉。況一宅中婢女小兒多死，坐臥貼地，且赤足踏地也。婦人次之，常在室地，男子靜坐，又次之，寡出不舒散也。且疫作時，其宅每熱氣從地升，猛者如筒煙上噴，緩者如爐煙繚繞，觸之則頭暈目赤而心躁，急取涼風吹解，病乃可救。當其時宅中人為氣所感，懵然不覺也。旁觀者見熱氣自足而脛而股而腰，若不出見風，熱氣逼至胸膛喉舌間，則病作矣。有平時在墟市得病者，舁歸家，其轎門迎風者愈，閉轎門者竟死。且有棺斂將葬盜盡竊其衣服，夜得風露涼解，遂生者，其故亦瞭然矣。所可恨者，富貴之人，珍重太過，不敢見風，不肯服寒峻之品，遂至韞熱不救，至婢女得病，又慮其傳染。病未甚，即棄置不顧，此真俗見之誤也。夫鼠穴於土中受地氣獨早也。顧其死者目必突而赤，頃刻有蛆，氣極臭穢，移置他處，轉面向風，勿觸其氣。嘗有鼠朽腐箱內，婦女開箱，觸其臭即暈跌死。有見死鼠甚巨，舞摩玩弄而後瘞之。歸坐即死，有鼠將死，而貓噬之。貓死，人食其貓，人死。高州城外瘞鼠處牛齕其草，牛死，犬亦如是。彼鼠之生者，則渡水遠逃，常銜青草，但不知此草何名，可以作治疫之藥否。所逃之處，則皆清涼近水之區也。既而匪徒遍傳放藥，藉端滋事，人心惶惑。或謂是疫皆毒藥所致。識者非也。所慮者，廣西雷廉二十年來，皆十一月疫起，五月疫止，城市者重，村落者輕，恐高州亦難免後禍，吾不知醫，無從剖析方劑，姑就所聞於朋友者，述其避法治法於後。</p>

<h2>（附）論鼠疫當清其源法（楊本）</h2>
<p>何謂鼠疫，疫將作而鼠先斃，人觸其氣，遂成為疫。蓋地氣暴發，惟鼠得之最先，鼠當中毒之際，熱渴既甚，以水為可救療，嘗於水缸恣飲滿腹，甚至案上茶杯，稍沾余滴，人不之察，誤食其餘，而受毒遂不淺矣。固不獨目睹斃鼠，不及掩鼻，感觸其氣已也。竊思疫氣之作，避之既無可避，防之復不勝防，徒窮其流而不清其源，亦未為得法。倘聞鄰近鼠死頗多，先於家中床榻椆櫃之下，將赤小豆、白蘿蔔（俗呼菜頭）、荸薺（俗呼尾梨）清解之物，散布地上，俾中毒之鼠，竊食亦可解免。鼠既無恙，尚何有穢濁之氣哉？所費無多，請嘗試之。愚昧之見，閱者幸勿以為迂也。</p>

<h1>避疫篇</h1>
<p>吳子存曰：避之之法，當無事時，庭堂房屋，灑掃光明，廚房溝渠，整理潔淨，房間窗戶，通風透氣，凡黑濕處切勿居住。聞近鄰有鼠死，即要時時照察，埋鼠時掩鼻轉面，勿觸其氣，如誤觸其氣，急取逆風吹散之。此《內經》所謂避其毒氣，天牝（鼻也）從來，復得其往之法也。並宜時常用如意油拭鼻，以避邪氣，家中人不可坐臥貼地，奴婢小兒俱要穿鞋，農人亦宜穿草鞋，以隔地氣。分界各村，赤腳者多死，後俱穿鞋遂安。疫勢稍急，即宜遽避，得大樹下陰涼當風處為妙，樹下避疫，外夷法也驗之，本地屋在樹下俱平安。或泛舟水上尤妙，否則居近水當風處亦佳。雷廉十餘年，凡船戶及蜒家，即漁戶棚，從無犯此證者，可知也？水以大江大塘為勝，若止水小塘，當疫發時，無不翻底黃濁者。然仍勝於無水處，若不得近水，則嶺頂四面當風處亦好。各鄉避居嶺坳者有禍，居嶺頂者安得風故也。居城者能上城堞避之亦可。高州居城堞者俱平安。倘無處可避，則每日全家男女，俱出屋外有樹木處高坐吹涼，夜間回家，仍要開窗透風。且用極幼細之沙，厚鋪床底，將房間屋瓦，拆開見天，自然平安。（此神授方，用之有驗）。設避居他宅，必須清涼疏爽，不可眾人擁雜一處，反易致病。倘或感病，即時移出大樹下當風處，必要高床高凳，切勿近地。若近地則感受毒氣，更速之死。觀避出而睡平地者，死反多於在家，其故可知也。平時不可食煎炒太熱物，不可飲冷凍湯水，男女或因房事感起者難救，尤宜戒慎節欲為是。</p>
<p>《內經》云：欲入疫室，先想青氣，自肝而出，左行於東，化為林木。次想白氣，自肺而出，右行於西，化作戈甲。次想赤氣，自心而出，南行於上，化作焰明。次想黑氣，自腎而出，北行於下，化為水。次想黃氣，自脾而出，存於中央，化作土。五氣護身已畢，以想頭上如北斗之煌煌，然後可入於疫室。</p>
<p>上節錄《素問》刺法論，避疫聖法，若能靜心調息，一志凝神，以運氣法行之，無不靈驗。</p>
<p>避疫之法，陳修園有言：惟在節欲節勞，仍勿忍飢，以受其氣。又膽為中正之官，膽氣壯，則十一經之氣賴以俱壯，邪不能入。</p>
<p>《醫統》云：男人病邪出於口，女人病邪出於前陰。其對坐之間，必須識其向背，或以難黃塗鼻孔中，從容察位而入，人生須知云。家有瘟疫，取初病人衣服於甑上蒸過，一家不染。</p>
<p>《夷堅志》載黃紙朱書⿱𥫗⿰車⿱龴疋⿱𥫗⿸厂⿰其⿱龴疋乙三字懸之。可以避疫鬼。</p>
<p>再用黃紙朱書「玉清文昌大洞仙經」八字，貼於門楣，可保安吉，屢試屢驗。</p>
<p>又除夕三更黃紙朱書「天行已過」四字，貼於門首可避瘟疫。</p>
<p>凡入瘟疫之家看病，入房門，須左足先進，自不為所染，此余世傳秘訣。</p>
<p>又方　凡入病人家，用香油調雄黃蒼朮末塗鼻孔，既出用紙條刺鼻取嚏，再飲雄黃酒一杯，決無傳染。</p>
<p>又方　用闢毒丹（藥鋪有制）以紗囊盛之，掛於心前。凡人瘟疫之家，鼻嗅此丹，即能噴嚏，邪氣從鼻入者，又由鼻而出，最為捷效，屢試屢驗。</p>
<p>又方　用太乙紫金錠（藥鋪有制）磨井水塗鼻孔或用開水沖服少許，即不傳染，屢試屢驗，幸勿輕視。（自《內經》云起至此條鄭增。）</p>
<p>此外更有經驗闢疫妙方，詳載驗方篇中。</p>

<h1>病情篇</h1>
<p>羅芝園曰：溫疫者，天地之戾氣濁氣，釀為熱毒，中於人亦證見熱毒，故曰瘟。家家如是，若役使然，故曰疫。其病皆熱無寒，有表證無表邪，宜解肌，禁發表。其輕者如赤眼發頤之類，其重者如頭腫頸脹之類。然只見於一處一年，未有見於處處年年。如鼠疫之甚者，噫可云異矣，亦云慘矣，其初起也。有先惡寒者，有不惡寒者，既熱之後，即不惡寒。有先核而後熱者，有先熱而後核者，有熱核同見者，有見核下見熱者，有見熱不見核者，有汗有不汗者，有渴有不渴者。皆無不頭痛身痛，四肢酸痹，其兼見者。疔瘡斑疹，衄嗽咯吐，甚而煩躁懊憹，昏懵譫語，瞀亂顛狂，痞滿腹痛，便結旁流，舌焦起刺，鼻黑如煤，目瞑耳聾，骨痿足腫，舌裂唇裂，脈厥體厥，種種惡症，幾難悉數，無非熱毒迫血成瘀所致。故古方如達原飲、消毒飲、解毒湯、敗毒散、霹靂丹，近方如銀翹散、桑菊飲、升降散、清化湯等方，皆能清熱解毒，然用之間有效而多不效，何哉？以有清熱解毒之藥，而無活血去瘀之藥也。可知用清解者尚誤。更可知用溫補者，益誤矣。或曰：有用涼劑愈者。此必熱毒初起，血未成瘀之時。或曰：有用補劑愈者。此必熱毒已解，瘀血已下之後，然可偶效，斷不可常效。惟王勳臣先生《醫林改錯》活血解毒湯，雖制以治吐瀉抽筋之時疫，然移治此證，實為得宜。觀其論證曰：熱毒自氣管，達於血管，將氣管凝結，壅塞不行。恰與此證合。觀其制方，則解血毒，清血熱，活血瘀，亦恰與此證合。十七年閱得此方，於無可救藥之時，偶一試之，不意其竟著奇效也。夫治病以本病為重，標病為輕，此證熱毒本也，瘀血標也。而標實與本同重，故標本未甚者，原方可愈，標本已甚者，又非原方可愈。故於重危之症，傳表宜加白虎，傳裡宜加承氣，傳心胞宜加羚犀，是不欲以輕劑治重病也。自後詳求博訪，十九年訪知西藏紅花，去瘀捷效。又得塗覈驗方，並試出重危之症，必要連追三服。遂增前法，是又不欲以緩服治急病也。廿年訪知生竹茹止吐，與漫用艾火，初用黃樸，見下瘀，遽用參朮，並各藥之弊。又見重危之症，三服人多置手。遂將吳刻增損，除其統用下法二方，分別重危證服法。補原起釋疑二則，治案九則。廿一年試知誤艾火，誤參朮，誤時日，皆有可救。強壯之重危證，三服仍熱，與熱退復熱，及初起症見至危，又非前法所能效。並訪知復病猝死之故，又增前法，並治案三則，是又合重劑急服，以治重急病也。以上所立之法，大綱已具，可十愈八九矣。秋初渡瓊，賦閒無事，購書數種，悉心研究，更有所悟，而著效益奇。前謂不可減少減輕者，為初證言耳。如連追後，汗出熱清，可減除柴葛。毒下瘀少，可減輕紅花，並可加減以滋陰退熱，亦可加減以補虛消核。更得清心熱法，清營熱法，表裡雙解法，三焦合治法，增液助汗法，增液助下法，復脈救危法，厥證急下法，並善後二法，稍為增入，以補前法之未備，雖未及詳細，只取簡明，庶治鼠疫者，不混於他疫，於世不無小補焉耳（詳細載下各證治法條內）。此證初起熱渴痛痹，一時並見，重病也。重症而用輕藥，必無望矣。且死人甚速，亦急證也。急證而事緩服，亦無望矣。故法用急追多服，所以因其勢也。況重急之症，故亦有日二夜一，日三夜二服法，急追多服，並非自創，尤要初起即急服藥。蓋此時元氣未弱，病根亦淺，藥力易行，病勢易除，一二日間，能追至七八服，則熱毒或從汗解，或瘀從嗽出，或從下行。或下瘀血或下黑糞。如仍未效，第三日仍追數服，無不見效者。蓋病在上焦故易治也，且病愈而人不弱。倘遲服誤時，至四日傳入中焦，縱能治愈，病久人弱，財費憂深。生者病者，已受無窮苦累矣。倘再誤至七日，傳入下焦，則病人愈弱，病勢愈危，縱遇明醫，恐難得半。所以治病亦貴乘勢因時也。三焦傳變大概如是，雖然，亦有無定者。死人不必定在下焦，三焦皆有熱症，病重藥誤，縱不即死，亦有一二日即傳中焦，二三日耳即傳下焦者。吳又可云：病機之變幻無常，病情之反覆無定，有由表而入里，由里而出表者，總視其脈證如何，以定其疾病所在，斯醫治乃為不誤耳。列三焦證於下。</p>
<p><u>上焦</u>　《金鑑》以寸關尺三部分，上中下三焦，何部大屬阿焦</p>
<p>脈不緩不緊不浮不沉，而動數，尺膚熱，（尺部膚肌熱也。）頭痛身痛，微惡風，寒熱，渴自汗，日午後熱甚，間有不惡風寒，不汗不渴者，舌苔白。</p>
<p><u>中焦</u></p>
<p>面目俱赤，語聲重濁，呼吸俱粗，大便閉，小便澀，舌苔老黃，甚則黑有芒刺，但惡熱不惡寒，日晡益甚。</p>
<p><u>下焦</u></p>
<p>熱邪入羈，或下或未下，或夜熱早涼，或熱退無汗，或身熱面赤，口舌燥甚，則舌謇囊縮，痙（弓角反張厥身冷）神昏，循衣摸床，舌縮耳聾，（與二三日聾者異。）齒黑唇裂，脈見結代，或二至，或無重危之證。初起重劑急追，約十劑左右效，遲半日必加半，遲一日必加倍，應重用輕，應急用緩者，亦如是。</p>

<h2>各症重輕辨（羅本作各症列）</h2>
<p>核小色白不發熱為輕症，宜戒口戒色，切不可忽，亦宜急治。</p>
<p>核小而紅，頭微痛，身微熱，體微酸痹，為稍重證。若面目紅赤，旋必大熱渴痛痹，照重證治。</p>
<p>單核紅腫，大熱大渴，頭痛身痛四肢酸痹為重證。</p>
<p>多核焮紅，隨時增長，熱渴痛痹，疔瘡（起泡或白或黑，破流黃水，或突起如乳頭。）及癍（黑片如雲。）疹（紅粒如麻。）衄（鼻牙舌出血。）咯（咯痰帶血。）譫語、（說懵話。）顛狂、腹痛腹脹、（稍痛脹不必甚。）大便結、熱結旁流，（有糞汁無糞渣勿誤為瀉。）昔危證。若服藥後嗽（咳嗽出瘀塊下，大便下瘀，）婦女非月信來血，系毒外出，佳兆也，不在此例。或陡見熱渴痛痹四證，或初惡寒，旋見四證，未見結核，及舌黑起刺，循衣摸床，手足擺舞，脈厥（無脈可按）體厥（身冷也）與疫證盛時，忽手足抽搐，不省人事，面身紅赤，不見結核感毒最盛，壞人至速，皆至危證。</p>
<p>又總論云：疫由天地之氣固矣。然天氣下降，地氣上升，此常理也，何以變而為疫？吾嘗驗於城市鄉村間，而知其故矣。蓋城市汙穢必多，鬱而成疹，其毒先見，鄉村汙穢較少，鬱而成疹，其毒次及。故熱毒熏蒸，鼠先受之，人隨感之，由毛孔氣管入達於血管，所以血壅不行也。鄭注：此論受病之原。血已不行，漸紅漸腫，微痛微熱，結核如瘰癧多見於頸脅醃膀大腿間，亦見於手足頭面腹背，爾時體雖不安，猶可支持，病尚淺也。鄭注：此論初病見核。由淺而深，愈腫愈大，邪氣與正氣相搏，而熱作矣，熱作而見為頭痛身痹，熱甚而見為大汗作渴，則病已重矣。鄭注：此論重證。若熱，毒愈深，瘀血愈甚，泛見於外，則有疔瘡等症。逆而妄行，則有衄咯等症。上攻心包，則有譫語等證。下擾腸腹，則有脹痛等證。皆危證也。鄭注：此論由重而危兼見各證。若疫氣由口鼻氣管入，熱毒直達臟腑，初病暴作熱渴痛痹，昏懵等症，或疫證盛時，猝不省人事，手足抽搐，面目周身紅赤，皆未見有核。原注：此初起至危症。與病四五日，即見目瞑耳聾唇焦舌黑等證，原注：此因誤之至危症。其病為更深，其證為更危。甚而服藥即吐，牙關緊閉，亦可救。救法見各證治法條下。至脈厥體厥，面青面藍，與噴血不止者，更可知矣。鄭注：病深症危亦有治法。至危之證，有熱後見核者，其初雖與傷寒傷風同，然絕不同也。蓋此由熱感，咳嗽無鼻涕，頭痛無項強，渴甚喜冷飲，熱後不怕風，並見神氣昏迷，手足酸痹，且脈右盛於左，相類而實不類。鄭注：此論疫症之熱與傷寒傷風不同。其猝不省人事，手足抽搐，亦與風症脫症異。蓋風症脫症，面目周身不紅赤也，細辨自知。鄭注：此言猝中熱毒，與中風暴脫症不同。見核作熱，在出麻痘之時，亦宜服此方，以此症至危至速。此方亦兼治麻痘，即有熱無核，而慮其出麻痘。驗之兩耳尾，兩中指尖，不冷，知非麻痘也。鄭注：此言與麻痘異。服藥後，口嗽瘀血，小便如血，大便下血，鄭注：或下醬色糞。婦女非月信血至，鄭注：或色帶紫黑。系瘀血外行，為順症，不必慮。鄭注：此言瘀出毒解，最為順症。初愈後手足微冷，氣血未達也，與本症之熱厥異，與虛寒之寒厥亦異。對時自暖，鄭注：此言初愈肢微冷，不可驟服溫補藥。愈後七八日不大便，精液未充也。與前之熱毒秘結異，鄭注：此言愈後不宜再用承氣。愈後身與足浮腫，氣復而血未復，氣無所依附也。與氣滯而鬱之氣腫異，與水泛而溢之水腫亦異。二三日血復自消，鄭注：此言愈後浮腫不宜服破氣利水藥。重危之症，初不急追多服，日夜惟二服，至六七日汗出瘀下，病愈人困，幾無人色，昏昏熟睡，脈亦和緩無汗，困也非脫也。鄭注：此時只可進稀粥，不可服補藥。以上四症，皆足駭人，切勿溫補寒下，破氣利水，以致虛而又虛。此總結上文四症，足見初愈亦不可誤藥。熱退復熱，予見多矣，無庸慌張，惟食取清潤，藥用滋陰，安靜調食，十餘日愈矣。鄭注：此復熱乃愈，後陰虛生內熱症也。故藥用滋陰。證已屬熱，藥忌溫散，如麻黃、桂枝、細辛、羌活、獨活、防風、荊芥、陳皮、半夏、香薷、香附，及姜附桂參蓍術，凡一切焦燥溫補之藥，初不宜用。即熱未盡除核未盡消仍不宜用。鄭注：切忌辛熱溫補之藥，即食品亦忌熱補。芩連苦寒，清熱必用，然苦寒化燥，固不可多次用，亦各有專經，尤不可紊亂用，見於吳又可、吳鞠通之書。鄭注：可見當用芩連者，須有準則，匪特苦能化燥且苦寒最傷胃陽生氣。黃硝善下，攻邪必用，然亦未可驟用。蓋初病發熱，邪尚在表，遽下必陷入里，必見脹痛結流，及脈厥體厥，六證見一，方可速下，宜速下者不宜遲，宜重下者不宜輕。若老弱宜酌下，切勿遲疑自誤。鄭注：用硝黃者當下則下，當重則重，惟初病則不可遽下。即退熱之藥，亦有未可誤用。如地骨皮能治骨蒸虛熱，何首烏能退入里陰邪，此證誤用必引邪深入，熱難退而足腫矣。鄭注：用里藥以退熱必反引邪深入，故舉地骨、首烏以概其餘。熱清核未盡消，仍宜戒口，雞鴿牛羊，蝦蟹蔥蒜，糯米麵酒，凡生冷熱滯有毒等物，切不可食。鄭注：此言初愈仍宜戒口，俾免食復。初起微熱，固忌艾火、房事。鄭注：疫病起時即無病者，亦須切戒房事，犯者難救。慎之。及熱初退，尤忌冷粥熱粥，原注：此最易犯。鄭注：曾見數人熱初退能起坐啜粥一碗，少頃即亡。蕎麥，俗名三角麥。悲傷惱怒吵鬧，原注：犯必即死。亦忌飽食炙火厚味。犯必復病。夫鼠疫陰也，血亦陰也，以陰感陰，最為易入。婦女屬陰，中毒尤多。故其症每起於陰盛之時，而消於陽盛之候。</p>
<p>鄭按：此論即補原起諸證及禁忌，將鼠疫病情利弊，抉剔無遺，簡練精當，洵為不朽之言。非十年臨症，細心揣摩，未易具此絕大識力。三複之餘，不揣淺陋，按節略注，以便不知醫者句讀也。</p>

<h1>辨脈篇</h1>
<p>《傷寒論》辨脈篇曰：寸口脈陰陽俱緊者，法當清邪（天氣也）中於上焦，（肺與心也。）濁邪（地氣也）中於下焦。（肝與腎。）清邪中上名曰潔也，濁邪中下名曰渾也。陰中於邪，（中焦脾與胃也。）必內慄也。（慄竦縮也。）經文止此，首句論脈，下數句言邪中三焦，陰陽為邪搏激，寸口之脈必緊。仲景論熱證止此數句而不見方，想當時必有其書，但久經兵燹，故散亡耳。此後人所憑以診溫證之脈，即憑以診溫疫之脈也。</p>
<p>吳又可論瘟疫之初起，其脈不浮不沉而數，晝夜發熱，日晡益甚，頭痛身痛。其邪在伏脊之前，腸胃之後，熱邪傳表，則脈浮而數，傳裡則脈沉而數。吳鞠通論瘟疫，初中上焦，脈不緩不緊而動數，或兩寸獨大，尺膚熱，注不緩則非太陽中風，不緊則非太陽傷寒，動數者風火之象。經謂之躁，兩寸獨大，火剋金也。尺膚熱，尺部肌膚熱甚，火反剋水也。傳至中焦，在表則脈浮洪躁甚，在裡則脈沉數有力，甚則脈體反小而實，更甚則脈沉伏，或並脈亦厥。傳至下焦，或見沉實，或見躁盛，或見沉數，或見虛大，或結代，或見細促，甚有兩至與無者。</p>
<p>楊玉甫論瘟疫初起，脈不浮不沉，中按洪長滑數，右手反盛左手，總由怫熱鬱滯，脈結於中故也。凡浮診中診浮大長而有力，傷寒得此脈，自當發汗，麻黃桂枝證也。溫病初發，雖有此脈，切不可發汗，乃白虎瀉心證也。死生關頭，全分於此。若熱之少陰，則脈沉伏欲絕，非陰脈也，陽邪閉脈也。凡傷寒始本太陽發熱頭痛，而脈反沉，太陽證而見少陰脈，故用四逆湯溫之。若溫病始發，未嘗不發熱頭痛，而脈見沉澀而小急，此伏熱之毒滯於少陰，不能發出陽分，所以身大熱而四肢不熱，此名厥。正雜氣怫鬱，火邪閉脈而伏也。急以鹹寒大苦之味，大清大瀉之。固不可誤為傷寒見少陰，而用四逆湯以溫之，溫之則壞事矣。亦不可誤為傷寒見陽厥，而用四逆散以和之，和之則病甚矣。蓋熱鬱亢閉，陽氣不能達於四肢，故脈沉而澀，甚至六脈俱絕，此脈厥也。手足逆冷，甚至通身冰涼，此體厥也。即仲景所謂陽厥，厥淺熱亦淺，厥深熱亦深是也。下之斷不可遲，非見真守定。通權達變者，不足以語此，手足微厥者，不可下。凡溫病中診洪長者輕，重則脈沉，甚則閉絕，此辨溫病與傷寒異治之要訣也。（以上羅本。）</p>
<p>羅按：溫症始於太陰肺，肺為右寸。仲景先師曰：寸脈緊。緊者即後人所謂數，見汪訒庵《素難經注》。吳又可云：不浮不沉而數。吳鞠通云：不緩不緊而動數。楊玉甫云：不浮不沉，中按洪長滑數，右手脈盛於左手，則初症之脈數。諸說所同，惟右盛於左。玉甫所獨，則診鼠疫初證之脈，如見不浮不沉，不緩不緊而數，右盛於左，兼初起四肢酸痹，可知無核之鼠疫矣，至傳變諸脈，三家大略相同，故不贅。</p>
<p>鄭按：鼠疫盛行之時，凡初證中按（即不浮不沉）有數象，（即不緩不緊。）右盛於左。且肌熱肢痹，眼赤口渴，核即未見，亦是感疫之症。決不可作風寒治，誤服辛溫之藥，如麻、桂、荊、防、獨活之屬，若核既見，或已誤藥誤時，當信守本方加減，（所云本方即加減解毒活血湯。）舍脈而從症。蓋此時熱沸毒聚，瘀凝血壅絡脈不舒，切亦不準。況症至危重有邪閉清竅，脈伏而澀，亦有閉甚無脈者。若沾沾然拘守脈法，於三指下推尋，甚無當也。（參羅氏眉批大意）</p>
<p>又按：張石頑有云：時疫之邪，皆從濕土鬱蒸而發，土為受盛之區，平時汗穢之物，無所不容。適當邪氣蒸騰，不異瘴霧之毒。今夏福州某姓家染疫多，人聞有如蒸飯之熱氣從地而起，與此說暗合。人觸之者，皆從口鼻流入，而至陽明之經，脈必右盛於左。可見楊玉甫所云：右手脈盛於左手，亦有所本。羅廣文引之為證，可為司命者獨具手眼。然此可為初起之證，立切脈之法。若至危重變候，則脈又不足憑矣。</p>

<h1>提綱篇</h1>

<h2>經驗加減解毒活血湯（初起切勿減少藥味減輕分兩）</h2>
<p>連翹（三錢）　柴胡（二錢）　葛根（二錢）　生地（五錢）　當歸（錢半）　赤芍（三錢）　桃仁（八錢，去皮尖，杵碎之）　紅花（五錢）　川樸（一錢）　甘草（二錢）</p>
<p>羅芝園曰：此方以桃紅為君，而輔以歸，去瘀而通壅。翹芍為臣，而兼以地，清熱而解毒。樸甘為佐使，疏氣而和藥，氣行則血通。柴芍以解肌，退熱而拒邪，邪除則病愈，惟其對證用藥，故能投無不效。此論節錄陀村治案○文，鳳山志加西藏紅花二錢，更為速效。</p>
<p>又曰：此方關鍵全在歸、樸二味。蓋歸為血中氣藥，樸為氣中血藥，血氣流通，而病安有不愈乎。又曰：此方《醫林改錯》（王清任著）名曰解毒活血湯，原方用枳，茲改為樸。均行氣藥，以樸色赤，取其入血分耳。至輕重之數，翹改重而柴改輕，亦以熱毒重，邪氣輕之故，非敢謬為更改也。方內生地，有熱用小的，無熱用曬乾大的。甘草有熱用生的，無熱用炙的，一取其清熱，一取其滋陰也治法條下。所謂加者，加於原方之內也。並加者，加外又加也。照加者，照上加也。所謂輕加白虎者，石膏五錢，知母三錢也。重加者，石膏一兩，或兩餘，知母五錢也。余俱詳治法條下，桃仁、紅花必重用，石膏、大黃有時必重用。詳釋疑條下，至重危之症，必照方照法，加重急追方效，尤以不誤藥，不誤時為要。煎藥尤宜得法，一二三日病在上焦，藥味取其輕清，煎宜六七沸。四五六日病在中焦，藥味取其稍重，煎宜十沸。七日以後病在下焦，藥味取其濃重，煎十餘沸。此方藥已大劑，水用一碗半，先用大罐煎合沸數，傾入小罐，後入水大罐，再煎再傾，煎回大半碗服。大黃朴硝，不宜久煎，煎藥將好，方入同煎，二三沸可矣。羚羊角、犀角、石膏，宜別煎久煎，方能出味。西藏紅花別用開水泡透，以全氣味，均去渣，和藥服。</p>

<h2>（附）釋疑說</h2>
<p>羅芝園曰：此方針對病源用藥，故能投無不效，或者不察。疑桃仁、紅花過多敗血，實誤會李時珍《本草綱目》之贅說，且誤於景嵩涯之臆說耳。《綱目》云：桃仁補少而攻多，紅花合當歸能生血，多服能行血。夫曰補曰生曰行，明謂去瘀生新矣。又云：過服能使血下行不止。此贅說也。夫病除藥止，凡藥皆然。況二味非常食之品，何必慮其過服。而開後世之疑乎，亦讀者之不善悟矣。景嵩涯謂桃仁、紅花止可用一二錢，亦未細讀本草經之故。經云：主癥瘕。徐靈胎於桃仁斷曰：去舊而不傷新，古方多用於傷後產後。可知二味為去瘀，非敗血也。又疑當歸助血毒，抑知去瘀必須活血，尤宜生血，然用於涼血解毒劑中，猶不多用。制方者未始無斟酌也。又疑生地引邪入陰，更不可解。考之《本草經》謂作湯可除煩熱積聚除痹。《本草綱目》謂能涼血滋陰，時醫見有陰字，遂疑其引邪入陰。夫陰血也，熱毒中血管，邪已在陰，故內外煩熱，四肢痹痛，用此正對證良藥。而反疑其引邪入陰，是認滋陰陰字，作表裡里字解矣，更為可笑。又疑羚羊角、犀角為至寒，抑知犀解百毒，羚去惡血，皆能清熱辟邪，熱懵衄咯譫語顛狂等證，用之尤宜。況為血肉之品，清而不削也。石膏、知母微寒無毒，主燥熱除乾渴。仲景白虎湯用以止渴生津，大黃、朴硝苦寒無毒，除寒熱，去積聚。仲景承氣湯用以救陰存液。蓋熱渴熱結等證，陰枯則死，非此無以除熱而救陰，故不得不權其重輕而用之，求一生於百死也。然熱退瘀下則止，亦不可過用，高明者自能辨別。惟無知淺識，肆口狂言，誤己誤人，實堪痛恨，特為辨之，以釋其疑。</p>
<p>又曰：治鼠疫法，皆予數年來詳考博訪，細體而得，故其中利弊言之獨許，親用救人不止千矣，傳用救人不止萬矣。無如方初到處，人多疑之。夫已疑此方，必誤用別方，所願諸君於一誤之後，不可再誤。即宜及早回頭，急依方照法以治之。所列稍輕稍重之證，可救十全，至重至危之證，可救七八。若醫者任意更改，以逞神奇，病家率意煎調，以至焦灼，或中道改圖，或半途即止，仍系自誤，勿謂言之不早也。</p>

<h1>治法篇</h1>

<h2>原方加減法（羅本載治法列今僭易之）</h2>
<p>羅芝園曰：輕症照原方一服，（所云原方即羅氏加減解毒活血湯，下仿此）。稍重症，日夜二服，加銀花、竹葉各二錢。如微渴微汗，加石膏五錢，知母三錢。少則二三劑愈，多則六七劑愈，未愈不妨再服。</p>
<p>鄭按：輕症照原方一二服，無不應如桴鼓，至稍重症，微渴微汗，熱邪尚在氣分。白虎湯只用石膏、知母者，防胃津被劫也。不用粳米、甘草者，恐留邪蘊毒也。少則二三劑，多則六七劑，未愈再服，即急追多服法也。初起如能遵行，亦何至邪毒深入，傳變危症，及日後潰膿成瘡耶。</p>
<p>重症危症至危症，初起惡寒，照原方服，柴胡、葛根各加一錢。鄭注：或寒多熱少，或單寒無熱，皆宜各加一錢。若見大熱，鄭注：言大熱者，可知惡寒已罷。初加銀花、竹葉各三錢，西藏紅花一錢，危症錢半。如無西藏紅花，本方紅花可用八錢，或加柴草茸三錢，或加蘇木三錢亦可。鄭注：恐病家慮用紅花太多，故或加紫草，或加蘇木均可。</p>
<p>鄭按：重症危症，必重加紅花者，所以急於去瘀也。惟去瘀，方能活血，亦惟活血，方能解毒。夫然後方中柴葛，乃不至引毒攻心，且能升邪外解矣。彼畏桃仁、紅花如鴆毒者。曷不細味《神農本草》，而憬然悟乎。</p>
<p>若熱渴至懵有汗，並加白虎湯。強壯者石膏、（原注：少七錢多一兩。）知母、（原注：少三錢多五錢。）粳米五錢，本方甘草改三錢是也。</p>
<p>鄭按：第一章稍重症，微渴微汗，故但用石膏、知母。此則因重症危症，熱渴至懵有汗，必大熱大渴，汗出淋漓，神又將昏，恐陽明津液亡矣，故加粳米、甘草以救之。</p>
<p>疔瘡加紫地丁三錢，疔黑者，用針圍刺，括出毒血，外用藥粉頻塗，以拔疔毒。</p>
<p>鄭按：毒入愈深，瘀凝愈甚，泛見於外，則有疔瘡。夫鼠疫發核之後，又加生疔，則毒重而症危矣。原方加紫地丁者，所以解疔毒也。然洋菊葉為治疔解毒聖藥，用鮮的搗汁沖服，取效尤捷。外用藥粉頻塗，即原書所載經驗塗核散。此散敷治疔瘡，余亦屢試輒驗，幸勿輕視。</p>
<p>小便不利，加車前草三錢。須用鮮的較靈。痰多加貝母三錢。危症本方翹芍地草各加一錢，至危症四味各加二錢，並加重白虎、竹葉、銀花各三錢，羚羊角、犀角、西藏紅花各錢半，皆宜日夜連三服。</p>
<p>鄭按：此節申明重症危症，加味分兩，並急追連服法。又按：發核之症，挾痰者甚多，本方加貝母，特舉一隅以示人。蓋痰阻膈上，則本方歸地陰柔，不能活血，反慮黏痰。加貝母固屬至穩，不如再加鮮萊菔搗汁沖服尤靈，或用鮮荸薺（俗名尾梨）洗去皮，白海蛇（一名海蜇皮）洗去礬，煎湯代水為引，此即雪羹湯。更見靈妙。若見痰壅神瞀譫語，當先服萬氏牛黃清心丸，為開路先鋒，後再用本方加味，方能挽回重症。是在臨症時，有膽有識，參以活洗也。</p>
<p>服後熱渴仍不退，照原方雙劑合服，日夜各一服。惟柴葛歸可照加倍，各酌減一錢，樸酌減五分，余俱加倍，仍加重石膏、知母、竹葉、銀花、羚羊角、犀角、西藏紅花也。</p>
<p>鄭按：雙劑合服，且日夜各一服，即大劑急服法也。鼠疫之症，病勢至此，岌岌殆哉。此時若再疑惑，改弦更張，舍是方而別求治法，或用是方而減輕分兩，則去生不遠矣。惟有遵守是方，放膽服之。藥力一到，無不易危為安。至石膏、知母、竹葉、銀花、羚羊、犀角、藏紅花等味，原方既雙劑合服，此七味分兩仍須加重。若症重藥輕，鮮克有濟，則貽誤匪淺矣。</p>
<p>雙劑服後，熱渴仍不減，不妨雙劑照加，再服數劑，以熱渴退為度。鄭注：雙劑服後熱渴仍不減，恐初起有誤，服辛溫藥。熱渴退而未清，切不可止藥，用單劑日夜二服，鄭注：止藥最易復病，吾見亦多矣。仍按症加藥，稍為酌減，熱初退時，切忌食凍粥熱粥。</p>
<p>鄭按：熱初退即食粥，食後少頃即死，曾見數人，可不慎歟。凡得發核症者，戒口為第一要著，無論輕症重症危症，切忌穀食餅餌。曾活數十人，有二十餘天只食番薯綠豆薏米，及真山東粉。此粉亦綠豆所制，故可食，並不傷胃氣，肌肉不脫，神氣甚佳。如舌未淨，口尚竟，熱未退，核尚痛萬不可食粥，致水穀悍氣，反助邪氣也。此症餓不死，食必死，米穀尚不可食，況雞羊魚肉油膩之品，及蔥蒜椒姜辛辣之物耶。</p>
<p>若外熱減而內熱不減，熱在胸，原注：兩乳對胸處。熱毒入包絡，鄭注：包絡者，手厥陰心包絡也。必神昏譫語，加清宮湯，日夜三服，元參心、麥冬（不去心）各三錢，淡竹葉心、原注：如無用竻竹葉心亦可。羚羊角、犀角各二錢，蓮子心五分是也。並加西藏紅花錢半，日夜連三服，以退為度。熱退未清，間有譫語，仍日夜二服，加藥酌減，貧難備藥，可加竹葉心、生燈草、紫草茸各三錢，或加蘇木三錢，亦可。服法照上。</p>
<p>鄭按：原書眉批云：此譫語熱毒在上焦，故以治上焦為主。兩乳對中處為胸，乃膻中之部位，膻中者心之宮城也。熱毒既入包絡，（膻中即是心包絡。）故加吳鞠通之清宮湯，取以心入心，扶心中之生氣，即以散絡中之結氣也。膻中之熱毒既清，則譫語焉有不平乎。</p>
<p>又按：清宮湯不用連翹心者，因本方已有連翹故也。如日夜三服清宮湯，仍見神昏譫語，舌絳無液，恐絡閉邪陷，毒將攻心，當急服至寶丹，通絡開竅，立展神明。俟神識已清，再以本方按法施治，無不霍然。</p>
<p>若見顛狂，雙劑合服，加重白虎，並竹葉心、羚羊角、犀角、西藏紅花各三錢，照上服法。顛者捉住灌藥，牙關緊者撬開灌藥，皆要扶起，牽仰其首，用錫壺入藥灌之自易。</p>
<p>鄭按：原書眉批云：顛狂危極矣，非大劑急服，斷不能挽回。貧難備藥，可除羚羊三味，加黃芩、麥冬各五錢，下有治案可查，人至貧病交迫。又加此顛狂危篤之症，苦不可言。除羚羊三味，變通治法，加黃芩以逆折膽火，加麥冬以柔潤熄風。婆心濟世，用意良厚，佩服之至。</p>
<p>又按：廣州府施太守所刊良方。有云：鼠核神識昏迷，或狂走大叫，毒氣遍走內外，口生瘡，或大便不通，皆熱毒攻心，宜急服紫雪丹。考徐靈胎有言：邪火毒火，穿經入臟，無藥可治。惟此丹能消解，其效如神。鄙見疫症若見神昏譫語顛狂，則毒火已經走竄，非佐以紫雪丹，未易奏功。或用此丹一二錢研末，以新汲水調下，或照條下本方煎成，沖服亦可。</p>
<p>病稍退後，要接服藥。若服藥即吐，熱毒攻胃，取鮮竹茹三錢，（如無即用竻竹。）濕鹽輕搓洗煎先服。服藥不吐，用薑汁點眼角，並擦天柱骨亦可。</p>
<p>鄭按：熱毒攻胃，胃火不降，勢必上逆而作吐，用竹茹降胃逆，加鹽輕搓，能引火下行，奏效捷矣，故能止吐。</p>
<p>熱在膈，（胸下凹處。）熱毒入營，舌絳而干，反不渴，加清營湯，犀角、元參、麥冬、銀花各三錢，丹參二錢，合本方連翹、生地是也。並加西藏紅花錢半，日夜連三服，未愈再照服。</p>
<p>鄭按：原書眉批云：若貧而無資，不能備羚羊、犀角、西藏紅花等藥者，可改用竹葉心、生燈草、紫草茸、蘇木以代之。羅廣文每遇貧苦不能備藥，必設法改用，仙手婆心，於斯窺見一斑。</p>
<p>血從上逆，見衄咯等症，加犀角地黃湯，犀角、丹皮各三錢，本方生地黃改一兩，赤芍仍舊是也。並加西藏紅花錢半，日夜連三服，未愈照再服。</p>
<p>鄭按：熱毒入營，迫爍陽絡，血從上溢。本方非再加犀角地黃湯，萬難奏功。</p>
<p>見斑加化斑湯，即白虎湯，加元參三錢，犀角二錢是也。見疹加銀翹散，銀花、牛蒡子各三錢，竹葉、大青葉、丹皮各二錢，合本方連翹、甘草是也。二症多見於大熱後，鄭注：凡大熱未退，宜用紅紙捻照看胸背等處。當大熱時見，宜日夜三服。若微熱時見，日夜二服若舌苔微黃，外微熱，而內煩惱懊憹，煩悶坐臥不安也。加元參、沙參、梔子、黃芩各三錢，或並加淡豆豉二錢，日夜三服，皆以愈為度。以上皆二三日內上焦症也。鄭注：末一句總結上文以明上焦見症。</p>
<p>鄭按：鼠疫發核二三日內，或見斑，或見疹。雖斑重疹輕，究皆胃中熱毒熾盛，或加化斑湯，或加銀翹散，方最中肯，亦須多服。乃克有濟，至外熱微而內煩惱懊憹，則加元參、黃芩、梔豉等味，皆不逾聖賢矩度，洵足法也。</p>
<p>又按：今夏疫氣盛行，余遇斑疹之症，貧不能服犀角者，以葉天士神犀丹，用涼開水沖服一二丸。熱退神清，或下醫糞，則毒瘀亦去，屢試屢驗。或所用湯藥加金汁水沖服亦效。金汁水解天行疫毒能化斑疹，惟廣東河南海輻寺所制最佳。</p>
<p>若敢按症加藥，按時服藥，服藥已多，熱毒已解。其瘀或從經絡散，或從咳嗽出，或從二便下，其病必輕，縱核未消，將原方加減接服，原注：加減法在本條之下。鄭注：如熱已罷，則減去柴葛，瘀已下則減輕桃紅等法。便可收功。</p>
<p>鄭按：此節總結上文，可見毒解瘀化，皆賴按症加藥，按時服藥，方有效驗。細讀原書各案，便知羅氏閱歷有得之言，信而可徵耳。</p>
<p>過此傳入中焦，有體壯毒盛而傳者，有誤服忌藥，助毒致盛而傳者，有改輕改緩，積毒致盛而傳者。此時猶不按證加重，急追多服，必無望矣。其證核愈腫大，面目紅赤，舌苔老黃，午後熱甚。若兼見渴，強壯者加重白虎湯，（上見）脈浮而促，加減味竹葉石膏湯，竹葉五錢，石膏八錢，麥冬六錢，本方甘草改三錢是也。二證能加羚羊角、犀角、西藏紅花各錢半更好，或加梔子、黃芩各三錢亦好，皆宜日夜連三服，未愈再照服，以熱退為度。</p>
<p>鄭按：傳入中焦，大抵皆誤時誤藥少服緩服所致。其證面目紅赤，舌苔老黃，午後熱甚，若兼見渴，皆陽明熱毒熾盛。故重加白虎湯，倘有脈浮而促，故加竹葉石膏湯，減去人參、粳米、半夏三味，以滋肺胃之液，此二證能再加羚羊、犀角、藏紅花，尤見得力，否則或加梔芩亦可，然服法必須日夜連服也。</p>
<p>熱退未清，忽惡寒，鄭注：惡寒之時必發戰。旋大熱，鄭注：大熱之時必發汗。是謂戰汗，汗透熱解。若人虛汗出未透，致熱未清，宜加增液湯，以助其液，汗出自透，鄭注：可見陽明津液最關緊要。元參一兩，麥冬與本方生地各八錢是也。日夜二服。</p>
<p>鄭按：疫症有戰汗，亦泄邪大機括。魏柳洲云：脈象忽然雙伏，或單伏，而四肢厥冷，或爪甲青紫，欲戰汗也。宜熟記之。此皆忽寒發戰時，所現脈症也，不可不知。葉天士《溫熱篇》有云：邪在氣運流連者，可冀其戰汗透邪，法宜益胃，令邪與汗並，熱達腠開，邪從汗出，然則餘熱未清，勿焉惡寒發戰，此時當啜粳米湯以助津液，則汗自透，即葉氏益胃法也。汗透則熱清，一鼓盪平，膚功迅奏。若待汗出未透，始服增液湯以助之，恐緩不濟急。氣機一窒，汗竅不開，邪熱莫解，則更形棘手矣，管見所及，就正通方。</p>
<p>餘熱未退，小便閉而譫語，加車前、木通各二錢，羚羊角、犀角各錢半。貧者加車前、木通，淡竹葉、淡竹葉心各二錢，日夜二服，以小便利，熱退清為度。熱退清，間有譫語，亦無妨矣。加淡竹葉、竹葉心各錢半，每日一服，數服可愈也。</p>
<p>鄭按：原書眉批云：此譫語由小便閉，故以通小便為主，並治心肺。蓋治節不行，則熱邪從水道而出，譫語自平。如熱既退清，間有譫語，此君火未寧。故加竹葉、竹葉心，合本方之生地，亦仿導赤意也。</p>
<p>甚而大熱不渴，舌黑起刺，腹脹腹痛，原注：脹痛不必太甚，微有脹痛即是。大便結而譫語，熱結旁流，原注：純注稀汁絕無糞渣。體厥（原注：手足身冷。）脈厥，（脈伏而無。）六證見一，皆宜下。此時危在旦夕，宜急不宜緩，亦宜重不宜輕，故人屬強壯，脈沉數有力，或沉小而實，宜用雙劑。加大承氣湯：大黃、（原注：少七錢多一兩。）朴硝、（原注：少三錢多五錢。）枳實合本方川樸合二錢是也。能並加羚羊角、西藏紅花各二錢更好，一服不下，不妨雙劑照加再服，以下為度。此係普試，必重用方效。故特改重，重用未見有直瀉者，不過大便稍利耳，亦未見有連來二次者。如慮多瀉，可備老咸王瓜皮粥以待，再瀉，食之可止。王瓜福州呼為菜瓜泉州呼香瓜。</p>
<p>鄭按：原書眉批云：此譫語由大便結，故以治大便為主，兼治心肺。蓋邪困中焦，陽明胃家必實，故加大承氣以通府氣，府氣通則譫語自平。又恐熱邪由胃絡逆傳於心，且肺與大腸相表裡，故兼治心肺以解散邪熱。六證見一皆宜下，不比傷寒痞滿燥實堅，五者俱見方可下也。此時危在旦夕，下不宜緩，不比傷寒下不嫌遲也。至重用未見有直瀉者，不過大便稍利，吾見亦多矣。或下瘀血，或下醬糞，皆毒瘀外出之兆，最為佳境。查閱原書陀村重下治案三則，便知不易之定法也。</p>
<p>不後熱仍不退，痛脹結流，四證見一，鄭注：即上文所云腹脹、腹痛、熱結、旁流四症。仍宜用下藥。用單劑加大黃（五錢）、朴硝（二錢）、川樸（錢半）接服。若下，熱必退矣。</p>
<p>鄭按：下後熱不退，仍宜再下，不可放手。惟藥劑改輕接服，下後則熱必退。藥病相當，不必慮傷及胃氣也。</p>
<p>下後仍有微熱，間有譫語，加羚羊、犀角、西藏紅花各一錢，日夜二服，以熱清為度。貧者可加淡竹葉、竹葉心各二錢。無熱仍有譫語，本方柴、葛減半，加元參、麥冬各二錢，淡竹葉、竹葉心各一錢，日夜二服可矣。</p>
<p>鄭按：下後餘熱未盡肅清，故間有譫語，用本方再加羚羊、犀角、藏紅花以去餘毒。若肌熱退後，仍有譫語，但用清宮湯大意，清火以寧神，胡膽識未到者，一二劑即止，而不敢連服急追耶。</p>
<p>若大熱大渴，兼見痛、脹、結、流四證之一，人壯脈實，不妨重加白虎承氣同服。藥用雙劑，以下為度，此表裡雙解法。</p>
<p>鄭按：外有大熱大渴，內則兼見痛脹結流。故加白虎，挾本方以解表，又加承氣，挾本方以解里。藥用雙劑重服者，以人壯脈實，尚堪背城一戰，非草菅人命，漫無紀律也。</p>
<p>富貴之家，懼石膏大黃之多，可加羚羊、犀角、西藏紅花各三錢，熊膽一分半，竹葉心二錢，藥用雙劑，連二服。如仍熱不退，便不下，可並加石膏、大黃各五錢，以下為度，以上皆六日以前，中焦證也。鄭注：末句總結上文，以明中焦見症。</p>
<p>鄭按：此節承上文而言，症重且危。若藥用雙劑，加白皮、承氣，富貴之家，以懼而不服。先生苦心濟世，不忍坐視其亡，故復設一法以救之，非迎合富貴人意也。至熱仍不退，便仍不下，故並加石膏、大黃各五錢，以解表裡。此時若再疑惑恐懼而不敢服，則疾不可為矣。悲夫。</p>
<p>若至七日則傳下焦，（其證見上證治條下。）治法兼滋陰，本方加元參六錢。若前失治，仍熱渴不退，人屬強壯，可重加白虎湯。（見上。）日夜三服，以熱退為度。若見痛脹結流等症，人屬強壯，可重加大承氣湯（見上）一二服，以下為度。仍有微熱，獨見燥結，可加增液湯以潤之。（方見上。）日夜二服，仍不下，可加小承氣湯，大黃五錢，川樸、枳實各一錢是也。一服不下，不妨再服，以下為度。</p>
<p>鄭按：下焦之症，雖有七日，若前失治，熱渴加白虎，便結加大承氣。人屬強壯，故加重劑，其素體虛弱，則加輕劑，意在言外，不可不知。惟二證法兼滋陰，元參均不可缺。蓋防熱毒爍陰，腎水告竭，則更難挽救耳。夫前既失治，又有誤藥，延至傳入下焦，病深症險。若再疑慮不服，決無生理。試問舍此治法，能獨出心裁，而起死回生乎。如其不能，何如信從是書，按法施治，則亡羊補牢，猶未為晚也。</p>
<p>若口燥舌乾，齒黑唇焦，（原書作唇烈。）不甚熱渴，脈見虛大，本方除柴葛，加一甲復脈湯。本方生地，改用大幹生地六錢，甘草改用炙草六錢，赤芍改用白芍六錢，余藥照舊。並加麥冬不去心五錢，阿膠、萆麻仁各三錢是也。日夜二服。（鄭注：宜加牡蠣八錢。）</p>
<p>鄭按：疫病至口燥舌乾，齒黑唇焦，其熱渴反見不甚，脈象反見虛大，皆陰液告竭要候，故本方去柴葛加一甲復脈湯以救之。似本方川樸苦溫，亦在可去之列，臨證時，當參以活法也。</p>
<p>又按：《溫病條辨》一甲復脈湯，即加減復脈湯加牡蠣，此節既加一甲復脈湯。何以不用牡蠣，且牡蠣為軟堅化痞，益陰退熱妙品，似不當去，原文恐有脫簡，宜補加之。</p>
<p>液仍不復，可並加調胃承氣湯以和之。大黃三錢，朴硝五錢，合本方甘草二錢是也。日夜二服，以液生為度。</p>
<p>鄭按：此承上節而言，服前方加一甲復脈湯。液仍不復，可並加調胃承氣湯以和之，與仲祖下之以存津液治例亦合。</p>
<p>若無別證，惟核未消，余時不熱，獨見子午潮熱，本方余柴葛，改用大幹生地，各藥照舊，加元參五錢，日夜二服，約三四服，熱可清矣。潮熱譫語，並加竹葉心十枝為引，以上皆下焦證也。（鄭注：末一句總結上文，以明下焦見證如此。）</p>
<p>鄭按：此節為病後餘邪未解，立一治例。子午潮熱屬陰虛，故加生地、元參以養陰清熱。至潮熱有譫語，則加竹葉心。與中焦治法略同。惟用十枝作引，枝有大小短長，不如改用三錢為是。</p>
<p>若夫直中之症，（原注：直中者，初起即直中三焦。）初起大熱大渴，（上焦症。）二三日即見痛脹結流，（中焦證。）舌色金黃，痰涎壅甚（下焦證。）等證，（鄭注：等證云者，略舉此證，非謂三焦之證止此也。）此三焦俱急也。人壯脈實，藥用雙劑，重加白虎、承氣。（二方見上。）小陷胸湯，半夏、栝蔞根各三錢，（鄭注：長沙方用蔞實，故小注云大者一枚，此用栝蔞根恐有錯誤。）黃連二錢是也。半夏宜減半，日夜連二服，以病退為度。能加羚羊角、犀角、西藏紅花各三錢更好。凡白虎、承氣同用，即取石膏、知母、大黃、朴硝可也。原方不必用全。</p>
<p>鄭按：直中者，謂鼠疫熱毒，直中於三焦也。諸證叢生，危險之極，非用重劑表裡雙解，佐以小陷胸湯，萬難挽回。蓋兩三日間，得以至危之證，匪特誤用別藥不可，即重劑緩服亦不可，然醫家非膽識俱到，則不敢用，病家非主持能堅，亦不敢服，故此證誤死者多矣。噫。</p>
<p>若疫盛行時忽手足抽搐，不省人事，面目周身皆赤，此鼠疫之急證，非風非脫，切忌艾火與參。急用大針刺兩手足彎處，（原書作拗處，鄭注：兩手足彎處即曲池委中二穴。）約半分探，捻出毒血，其人必醒。或用生薑拾余兩搗爛，手巾包裹，蘸熱酒周身重擦，自上而下亦醒。（鄭注：姜酒性溫此法近霸，尚宜斟酌。）或拈痧，或刮痧，亦可醒。（鄭注：或用拈痧之法或用刮痧之法均為捷效。）醒後即照原方，連服二三劑。若見結核發熱，照上法治。</p>
<p>鄭按：疫氣盛行，人在氣交之中，感觸猝發，多有是證，速服返魂奪命丹即醒。若無此丹，服藥不及，先用針法，以泄營血必醒，或用刮法，以宣衛氣亦醒。然針法失傳已久，倘有未諳，不可妄施。不如用刮法為便捷，法用細磁杯蓋，塗茶油，順手自上而下，先刮肩頸脊背，次刮胸前脅肋，次刮兩手彎曲池穴，次刮兩足彎委中穴，見有紅紫色綻即止，無不霍然而醒。凡中暑發痧等證，用之亦無不效。余已靈試輒驗，活人多矣。一俟能知人事，按證下藥，乃不至誤事耳。</p>
<p>老弱幼小，急追只用單劑，日夜惟二服，加石膏、大黃減半，所加各藥，小兒皆宜減半，五六歲一劑同煎，分二次服。重危之證，一劑作一服，幼小不能服藥，用針刺結核三四刺。以如意油調藥末，（鄭注：藥末即經驗塗核散。）日夜頻塗十餘次亦可愈。但藥末要各藥等分方效。</p>
<p>鄭按：此節為老幼得病，立一治例，非漫無分別，而喜用重劑也。存心仁愛，立法精良，於斯可見。</p>
<p>婦女同治，惟孕婦加黃芩、桑寄生各三錢以安胎。初起即宜急服，熱甚尤宜急追，熱久必墜胎也。若疑桃仁、紅花墜胎，可改用紫草茸、紫背天葵各三錢，惟宜下者除樸、硝。</p>
<p>鄭按：鼠疫毒由地起，婦人女子靜處室中，最易感觸，故以本方按證加減同治也。惟孕婦以血蔭胎，故從方書禁例，去桃仁、紅花，而用紫草茸、紫背天葵，加黃芩、桑寄生，以安胎，絲絲入扣，毫不犯手。然熱毒久郁，猶易傷胎，故初起宜急服，熱甚宜急追，即《內經》所謂有故無殞亦無殞也。至於宜下之證，雖除朴硝，然素體虛弱，或邪甚正衰，胎最易墜，即大黃、川樸、枳實亦須斟酌減輕，方不誤事。</p>
<p>又按：婦女桃信適來之時，得此疫病，熱毒不免陷入血室。若體非強壯則桃仁、紅花不妨減輕，或加紫草茸、紫背天葵之屬，更見穩當。</p>
<p>諸證皆除，惟核未消，仍宜服藥，瘀去未盡，必成瘡也。原方除柴、葛，改用大幹生地六錢，甘草改用炙草，與當歸俱加倍，其餘減半，加元參五錢。氣虛可加生耆二三錢，每日一服，三四服核必漸消。如消未盡，當歸四錢，大幹生地元參各六錢，翹、芍、桃仁減三分之二，生耆四錢，川樸五分，炙草三錢，再數服，或消散，或破流黃水愈矣。初愈改用原方，實滋陰去瘀，善後之良方也。</p>
<p>鄭按：結核未消，仍須去瘀。病家疑桃仁、紅花破血，而不敢多服重用。瘀郁釀膿，一經破潰，轉致成瘡，最難收口，吾見亦多矣。如用塗核散尚未消，則用拙定經驗化核散塗之。亦無不消，然藥須再服，內外夾攻，方能奏功。</p>
<p>人雖虛弱，切忌溫補。蓋熱證傷陰，初愈古法惟滋陰，戒溫補。況結核未消即熱毒未清，溫補助熱，其毒必發。此時體虛，再病必無救矣。惟質素虛寒偶感熱毒，調治既清，復回本質，證見虛寒，然後用補。亦宜陰陽兩補，勿遽溫補峻補貽害也。</p>
<p>鄭按：此章為初愈叮嚀告誡，提醒善後大法，竊恐蠻補貽害，前功盡棄。匪特溫補藥劑不可投，即膩補食物亦不可吃，此時服藥宜滋陰，食品宜清淡，則無不霍然愈矣。若有素體虛寒，愈後又見虛寒脈證，只宜陰陽雙補，方不貽害。</p>
<p>病時熱結旁流，已經加承氣下去熱毒，（此句鄭增。）愈後六七日不大便，乃精液未充。（此句鄭增。）用六成湯，當歸錢半，生地五錢，白芍一錢，天冬二錢，麥冬二錢，元參五錢，二服，大便自易。初愈，昏昏欲睡，（原書作迷睡。）手足微冷，核消後，微有浮腫。此由血虛未復，氣無所附。（此二句鄭增。）用補血湯，生耆八錢，當歸四錢，皆宜小心體認，切勿倉皇誤事。</p>
<p>鄭按：此段二條治法，原文倒置，未見貫串，恐有錯簡，且方又別列，體例未合，故略為移易，非敢妄加更改也。</p>
<p>以上諸法，俱從屢次試驗得來，證以強壯者為多。故於人屬強壯病盛熱毒，家復有餘者，每於重危之證，必加羚羊角、犀角、西藏紅花，取其見效較捷耳。無如人情多儉，富者聞而退縮，貧者更可知矣。茲為推廣，分別熱盛毒盛兩途，隨證加藥，亦足以治病。如初起系熱盛之證，加石膏、知母、淡竹葉，或螺靨菜、（原書名雷公根。）龍膽草、（原書名地膽頭。）白茅根之類，便可以清熱。如兼有毒盛之證，加金銀花、牛蒡子、人中黃之類，便可以解毒。若熱毒入心包也，羚犀花，雖屬緊要。（即羚羊犀角、藏紅花。）然加生竹葉心、生燈心、黃芩、梔子、麥冬、蓮子心、元參心之類，便可除心包之熱毒。若熱毒入里也，加大黃、朴硝、枳殼以瀉之，便可去腸胃之熱毒。（原書作腸腹。）如此則貧者亦費無幾矣，老弱幼亦可類推酌減。惟要照方按法，急服多追，方可見效。若改輕改緩，固屬自誤，即每日一服，一二服即以為不效，何異以杯水救車薪之火，即謂水不勝火也。方既受冤，（原書作方受冤。）而病者更受冤，不誠可痛哉。</p>
<p>鄭按：此章推廣治法，以挽救貧苦之人，熱盛者清熱，毒盛者解毒。熱毒入心包，則加清宮湯以解之。熱毒陷腸胃，則加大承氣以瀉之。即老弱幼小，亦可類推酌減。於虖立法精良，無微不至，洵為濟世之慈航，救疫之寶丹，嘆觀止矣，蔑以加矣。</p>

<h2>復病治法（羅本）</h2>
<p>此證最易反覆，有微熱未清而復，有微熱方清而復，以伏邪未盡也。謂之自復，查所復何證，照方按證加藥，以清餘邪，自然獲愈。有瘥後或因飽食而復，或因厚味而復，以食物阻滯，謂之食復。輕則捐谷自愈，重則消導方痊。加神麯、山楂、麥芽以去滯，自然獲愈，有因梳洗沐浴，多言妄動而復，謂之勞復。脈和證輕，靜養可愈，脈虛證重，調補血氣方愈，勿用寒削。因服參桂而復，急服綠豆山楂湯以解之，用清補滋潤藥以調之。以上各證，有核無熱，照方酌減服。若因怒氣房勞而復，最為費手。愈後六七日，見脹痛吐瀉等證，已非原病，宜按脈證調治。愈後宜調補，猶宜靜養，節飲食，慎言語，謹起居，戒惱怒，寡嗜欲也。</p>

<h2>潰爛治法（鄭增）</h2>
<p>此證發核，有破口潰膿而至腐爛者，其故有三。一則因初起服辛熱之藥，如麻桂羌防姜附之屬，致熱毒迫瘀成膿。二則因初愈驟服溫補之藥，如參、朮、炙耆、肉桂、大棗、桂圓，及雞羊厚味，穀食黏膩之物，餘毒未淨，溫補助熱，勢必焮腫潰膿。三則因病重藥輕，證急服緩，或服解毒活血湯一二劑，熱稍退，核未消，而即停藥，或去桃仁、紅花，或更換他方，或應加承氣而不服，或應加白虎而不用，藥力未到，毒氣逗留，亦必釀膿破口，迨至潰爛最難收口，膿水愈流，氣血愈傷，欲望復元，非數十日調治不為功。若見熱退身涼，脈靜舌淨，惟核破口流出黃水，可內服四妙湯，即神效托裡散。外用泰西黃蠟膏，以象皮油調勻貼之即愈。他如誤藥誤時，救愈之後，核已焮腫，色紅而熱，按之甚軟，已經釀膿。可用銀針抽破，放出膿水，勢將平塌。余瘀未淨，先用象皮油調黃蠟膏貼之。如不收口，再以泰西白蠟膏貼之。如瘀膿已淨，仍不合口，當用珍珠散糝之。外貼象皮油，須多服活血排膿解毒湯藥。或以羅氏原方，去柴、葛，減桃、紅，加元參、赤豆、銀花、白芷之屬。若夫諸證悉平，氣血涉虛，核腫堅硬，既不能消，又不化膿，毒根不鏟，終非了局。按其脈息細弱，可服托裡透膿湯，外敷拙定化核散。或用泰西碘礩水時時抹之，自化。或用生蒲公英搗蜜貼之，至於潰膿腐爛，體將羸瘦，證見虛弱，酌服陰陽雙補湯藥以托之。若舌苔尚濁，口仍見渴，是餘毒未盡，邪熱未清，可進涼血清熱，排膿解毒湯藥，其外敷藥粉，皆以珍珠散調象皮油貼之。如膿水將淨，肌肉已生，惟口未合，可單用象皮油即能收功。或用埋口膏塗之即愈。以上治法，所用湯方藥散，皆取《外科正宗》，及秦西妙藥，至穩至當。已經效驗者，以補原書所不及，尚望高明，匡所不逮。</p>

<h2>附列內服外敷各方</h2>
<p><u>四妙湯</u>　即神效托裡散，一名降癰活命飲</p>
<p>生綿蓍（五錢）　當歸中（八錢）　金銀花（一兩）　甘草節（三錢）</p>
<p>上藥用水二碗，煎成一碗，勻兩三次，晝夜服盡，自可移深居淺，轉重作輕。如氣血素虧，核又焮腫，勢將穿潰者，加皂角針、穿山甲各二錢，即能自潰，潰後即除去皂針、山甲，核在耳後項側，加升麻五分，在腋下加苦桔梗一錢，在腿邊加牛膝一錢。欲排膿加白芷三錢，赤豆三錢。此方為破潰後排膿去腐，生肌長肉，瘡科之聖藥。其加減活法，是在臨病時斟酌用之。方中以銀花為君者，因銀花治瘡，未成即散，已成即潰也。</p>
<p><u>托裡透膿湯</u></p>
<p>潞黨參　漂白朮　穿山甲　皂角刺　香白芷（各一錢）　生綿耆（二錢）　當歸中（二錢）　醋青皮　川升麻（各五分）　甘草節（五分）　加酒為引（如核發腿足，去升麻加牛膝一錢）</p>
<p><u>珍珠散</u>（一名八寶散）　治瘡毒膿盡，用此糝上，即能生肌長肉，平口收功，效驗異常。</p>
<p>珍珠（一錢，人乳浸三日，或裝豆腐中煮透，取出研細如飛面）　真血竭（五分）　粉口兒茶（五分）　煨石膏（一錢）　爐甘石（一錢，以黃連五分，煎汁煅淬，研細水飛淨）　赤石脂（一錢）　陳年吐絲頭（五分，煅存性）　梅花冰片（一分二釐）</p>
<p>上藥依制研極細末，如香灰樣，磁瓶收貯聽用。貧者去珍珠，用珠母，即大蚌殼，拾取露天者左顧半爿，刮去背後黑衣，鍛研用一錢五分。</p>
<p>秦西白蠟膏　黃蠟膏　碘礩水　埋口膏　象皮油並藥布</p>
<p>以上五種，可向城臺西藥房購取均有。</p>

<h2>（附）飲食宜忌說</h2>
<p>鼠疫起時，無病之人，居要通風，食宜清淡。如有感疫，初起之日，即須戒食粥飯米粉掛麵，煎炒油膩，以及雞鴨牛羊、鰻鱉蝦蟹、蔥蒜姜椒等物。恐留邪助熱，迫毒入里，即難挽救。及病初愈，亦不可食，只可食番薯（一名地瓜）綠豆薏米以充飯代點。山東粉雖可食，然近日聞有糯米偽造，非真綠豆所制者，仍不宜食。且俟熱退核消，舌淨溺清，方可先進稀粥。至於代茶，或用馬齒莧、車前草，或用鮮蘆根、金銀花，或用綠豆殼、薏米根，均可。若飲食不知謹慎，雖有靈丹妙藥，亦無如之何矣。</p>

<h1>醫案篇</h1>

<h2>羅芝園治案</h2>
<p>十七年春縣城疫作，初閱得此方，賛與證合。爾時黃木生為予剃髮，即求鈔用。予囑初起即用，定易見功。及後詢之，知伊家救此證者五人，皆一劑愈。其時林子幹在座，伊村初疫，鈔治三人，亦一劑愈。一工人持藥回家，延醫診視，醫者憒憒，教服半劑，竟死。</p>
<p>十九年春城鄉皆疫，予回橫山泰興當。早飯，李子碧林至云：有二婢大熱譫語，腿核如卵，是早長者已死，次者現危，求錄此方。照方加羚羊角、犀角各三錢，初服小便如血，熱減核小。然腹滿便結，熱毒傳裡，復加枳實一錢，朴硝二錢，大黃五錢，同渣煎服，是晚下二次，次早全愈。</p>
<p>何氏婦橫山人，與婢同病，其子聞婢已愈，亦來求方。以其貧，教以連服三劑之法，次日熱退，惟核未消，即行止藥，後成瘡潰爛。</p>
<p>石城宏豐號蘇杭店，主人梅仿生，龍山人也。店內陸劉二司事，患此證，服時醫藥，瀕於危，壯熱譫語二日矣。予由橫山回城，仿生告以故。予因言此方之效，眾皆疑而置之。次早延醫不至，不得已用之。仿生見紅花枯索，加西藏紅花二錢，一服病退，再服熱除，核消，三服全愈。此加西藏紅花之始也。二司事愈後，恨時醫之誤，信此方之神，故刻《陳情辨惑說》傳之。陀村用合劑法傳至縣，李碧林亦寄信至縣，此方之效，一時共傳，信者遂眾焉。</p>
<p>族弟讓階之子，在外染病回，熱懵大渴痛痹，自頂至踵，起核三十餘顆，危證也。族人共酌曰：如此危證，非輕劑可挽。遂合二劑為一劑，加石膏一兩，羚羊、犀角各三錢，一服熱退渴止。仍合劑服，熱除核消。單劑再服四五劑全愈，可知危證責效一二劑，必無望矣。</p>
<p>安鋪廩生李蔭堂之侄，年十四歲，患此證甚危。熱懵顛狂，牙關緊閉，皆謂不救。蔭堂聞此方之效，即催其父母，照方加羚羊角、西藏紅花各二錢，取四劑回，撬而灌之。吞下即吐，頻頻灌之，始不吐，連盡四劑病減，再服數劑而愈。惟誤聽時醫之言，減去當歸，其核不消而潰。</p>
<p>許旺宜興棧夥計也，年十五，骨氣正壯。初患此證，壯熱頭痛，無核，危證也。教以連服之法，二劑熱退。次早煮粥熱服，遂微熱譫語，四肢痹痛。急加羚羊、犀角各二錢，西藏紅花一錢，一服痛如故，兼見胸腹滿痛。急用下法，一服仍如故，並聞藥欲吐。一老醫曰：此熱毒攻胃也。教先服淡竹茹湯，然後服藥果不吐，再照方加下藥一服病稍退。仍加羚羊、犀角各二錢，連二服，並服生燈草心、螺靨菜、龍膽草、白茅根、白蓮葉等藥，兼綠豆湯，數次始愈。黎涵智白藤山人也，在石嶺貿易，每好談醫，得此方常錄以治人。囑曰：切不可減少桃仁、紅花。及己與妻患此證，反疑曰：我夫妻年六十餘矣，恐不能受此重藥。遂改輕桃仁、紅花，二劑即斃，妻亦垂危。人閱所開之方，始知改輕，即照原方開服，其妻得不死。</p>
<p><u>補二十一年陀村治案</u></p>
<p>次兒啟基年及壯，三月初二晚飲酒後，壯熱頭痛，口渴身痹，左腿醃連二核。照方一服，次三四日，照方加西藏紅花錢半，二服未效。初四下午，予由城回，熱懵之甚，急用雙劑連追。加石膏一兩，知母五錢，羚羊、西藏紅花各二錢，犀角三錢，三服仍未效。雞鳴後譫語，頻流屎汁，毒入臟矣。初五早照前加朴硝二錢，大黃三錢，連二服已無屎汁，頭痛亦順，惟壯熱未退，心胸煩躁，大便轉閉。初六仍照前石膏、知母減三分之一，歸減半，別加犀角一錢，生竹葉心、生燈心各一撮，生梔子、淡豆豉各三錢，大黃加至五錢，連二服熱稍減，便仍未通。及晚照前大黃加至七錢，一服便通，熱始退，譫語仍未盡除。初七八九用單劑加羚、犀各二錢，西藏紅花一錢，竹葉心、燈心為引，每日二服，微熱譫語始清，獨核不消，堅硬徑寸而痛。以後照方日一服，六七日堅硬已軟，小成瘡，以痛未止，仍日一服，又三四日始穿流黃水。用托裡透膿湯二服，瘡已成膿，而頸起微核，復照原方二服，核消，仍塗敷數日始愈。此證初熱邪在表，失在不重加白虎，迨已入臟。又失在輕用承氣，以致於甚，其核不散。又失在減輕當歸，誠以大熱不退時，惑於常說．慮當歸助血熱，大黃損元氣故耳。所幸誤用輕而不誤用藥，不致大誤。自後遇證宜用石膏、大黃，人又強壯者，初用必七錢，次用一兩，多於二三服見效。一後生年十七，初熱渴痛痹，見核數處，依方二日三服，已熱懵矣。次用雙劑，加知母五錢，石膏一兩，羚羊、犀角、西藏紅花各三錢，一服稍效。主人慮白虎大寒，羚、犀太貴，用雙劑加西藏紅花二錢，二服，隨用單劑二服，甚至譫語奄奄一息，移至廳事，備棺將殮矣。家人遷避，留人看視，原方日一服，二日後。有老婦來告曰：此子稍蘇，呼救，能食米湯。予細詢之，知尚微熱譫語，並手擺舞，大便閉結，已形銷骨立矣。姑予二劑，加羚、犀各二錢，西藏紅花一錢，朴硝三錢，大黃七錢，連二服未通，已能食稀粥一碗。鄭注：此體弱邪衰，故食粥無礙。再用雙劑，加羚羊、犀角、西藏紅花各二錢，朴硝四錢，大黃一兩，一服即通，諸證皆減，惟核潰爛。調治廿餘日愈，此證雖誤時，幸無誤藥，卒能保全，然以遲疑致苦累已不少矣。</p>
<p>一少婦臟素寒，時服溫藥，初起壯熱頭痛，大渴身痹，頸核焮紅，隨時加腫。急用雙劑連追，加知母五錢，石膏兩半，至二兩，羚羊、犀角、西藏紅花各三錢，日夕四服，腫已定痛渴稍順，惟熱未退，以大便未通故也。次早仍用雙劑加知母四錢，石膏一兩，朴硝五錢，大黃一兩，羚羊、犀角、西藏紅花如故，一服未通。日中照前大黃加至二兩，便通瘀下，熱稍減，晚仍照服。以後用單劑加羚羊、犀角、西藏紅花各二錢，日夜二服，五六服全愈。此證加藥至重，追藥至急，其愈亦至速。</p>
<p><u>二十二年瓊府治案</u></p>
<p>黃聖徵年將五十，海口會隆行股東也。家瓊城，以疫死者已四人，伊始病避居海口，延往診視，其證稍熱渴，腿夾各一核，足面一疔瘡，毒甚而熱不甚也。輕加石膏、知母，並紫花地丁，囑日夜三服，並外塗。伊答云：敢二服亦聽之。次日畏石膏之寒，不得已加羚羊角、犀角、西藏紅花各一錢，並紫花地丁，囑二服。是晚稍見譫語，加羚羊角三味各錢半，並地丁竹葉心囑二服。次早譫語已無，除竹葉心，照上加法，連服數日，皆囑二服。至六七日瘀下熱清，而人弱矣。初愈照初改原方法，囑每日二服，五六服疔潰腐脫，核亦漸小。再照次改原方法，俱見上治法條。加生耆三錢，每日一服，四五服始稍精神，核穿出黃水，疔瘡愈，而足微腫。再照次改法，加耆間服補血湯，又數服始愈，愈後始知以家人阻止，初二日止服劑半，以後每日止一服，噫以緩服而至久延。倘非年將弱而熱未甚，必誤事矣。</p>
<p>海口潮行公成號，楊子敬長孫十歲，身熱無核，右脈盛左，疫證也。原方減三之二，加竹葉、銀花，囑日二服。伊日一服，三服後，兩腿見核。加西藏紅花二服，證見熱結旁流，核愈大。原方全劑，加黃、樸減半，一服下後，腹微痛。又加黃、樸酌減，服後腹仍痛，再加酌減，一服病愈而核未消。照改方三服，核消無痕。伊次子年二十餘歲，熱渴痛痹，有汗無核，危證也，宜重加白虎。主人懼寒減半，日夜三服，病如故。次日迫改加羚、犀、花各錢半，三服仍如故。第三日三味加至二錢，二服，是晚主人持別醫之方來商。予謂其方重用清解之藥無擬，但無桃、紅，恐不中肯耳。二服如故，稍見譫語。第五日復求治，加三味至二錢半，是晚下毒瘀如煙膏，但微熱而已。第六日照第二日方，日夜二服，復下瘀一次，諸病皆除，惟昏昏迷睡，手足微冷。主人著急，診其脈已見和緩，知其為困也，著備稀粥以待。將晚醒，稍精神，復照一服，第七日兩手臂始見微核數粒。以後照初改方日一服，五六日不大便，服六成湯，一服即順。以後照次改方，間日一服，數服愈。</p>
<p>一婢微熱痛痹無核，初輕加白虎二服，再少加西藏紅花，二服愈。</p>
<p>一工人微熱有核，原方四五劑愈。</p>
<p>海口貞記號，有工人邱姓，文昌人，年廿余。雞鳴起病，黎明大熱渴痛痹，有汗無核，已不省人事矣，為至危證。重加白虎，日夜三服。次日熱稍退，伊戚慮寒，予笑謂仍宜重用。迫順其意，用五錢，又三服。第三早熱稍增，始信前言不誣。用七錢，加犀角、西藏紅花一錢，又三服，即咳出瘀血數塊而愈。此以重用急追，見效之速也。</p>
<p>府城西門外下田村，有黃姓夫婦，齊來求治伊子。細詢其狀，曰：兒名亞就，年十歲，形瘠弱，現已熱渴譫語，周身數十核。予訝其多。曰：初腿夾二核，身微熱，第四日醫以為虛，用花旗參二錢，遂致如此。此加羚、犀、花證也。伊謂貧難辨此，贈以眾備西藏紅花三錢，初用全劑，即小兒雙服法，加元參心、麥冬連心、竹葉心各二錢，西藏紅花八分，日夜二服，病已減半。繼用原方三之二，加藥減四之一，二服病已十去八九。惟雞鳴時微有熱渴譫語，此潮熱陰虛也。用初改原方法，加重大幹地並元參五錢，二服病愈。後知其足面一疔瘡，用次改原方法，加紫花地丁三錢，數服並外塗始痊。其餘治效甚多，難備錄。</p>
<p><u>廉雷治案</u></p>
<p>二十一年四刻初成，即過瓊候委，有孔姓來瓊，交五十本，帶回廉州分送。二十二年二月孔姓復來瓊，詢之知漢軍薛蓉裳孝廉，歎賞此方，廉城內外，現有此證，皆用此方，敢照法者，無不效。及四月接孝廉三月十五寄瓊索書之信云：廉城自正月至三月染證二百餘人，惟十餘人不敢服致誤，刻下各鄉亦有此證，來城取書，已無以應，特求多寄，以便廣傳。按此則廉之治效亦多也。雷州遂溪平石村，初得此方亦效，雷廉亦皆有徵也。此方他鄉用之十愈八九，惟我陀村著效極多，以用法有善不善之分，猶在服藥有急與緩，多與少之別也。統計見效之處，石城以陀村石嶺一方為最，城內安鋪及各鄉次之。化州以新安一方為最，州城及各鄉次之。廉府以城廂內外為最，山口北海及各鄉次之。瓊府以海口為最，海田及府城次之。雷府以平石為最，城月及各鄉又次之。救人不知凡幾矣。省城西關眾善土，將第二次藏高郡聯經堂刻本刊發，欽州李直刺將第三次藏省垣聖經堂增本刊發，海口眾善土將第四次次藏高郡聯經堂增本刊發，印送已多，流傳亦遠。方到之處，苟無蠱惑遲疑，即敢急追多服，勿以小愈而中止，必以全愈為收功，庶幾有濟耳。夫鼠疫死證也，此方生方也。以必死之證，而不敢一用可生之方，吾固惑矣，以必死之證，而不敢盡用可生之方，吾愈惑矣。（有一二服未效而棄置者，有數服稍效亦棄置者。）眾曰氣數，吾亦曰氣數而已矣。夫復何言。</p>
<p><u>治鼠疫毒盛法</u>　初起多而急，多大熱大渴痛痹等症，照此治法。</p>
<p>二十一年陀村疫復作，毒盛證重，見核未熱，服塗兼施，照方三四劑愈。見核微熱，日夜二服，五六劑愈。重證危證，照方加藥。老弱用單劑連追法，石膏、大黃用（三五錢）均可。強壯用雙劑連追法，石膏、大黃用七錢一兩兩餘。外用布包藥渣，溫熨周身，或刮痧拈痧，或核腫大，放血更好。有三四服熱漸退者，有五六七服熱漸退者。初稍誤時，有十餘服熱漸退者。熱退未清，即緩服藥，反復遷延，甚有三四十服然後痊愈者。強壯毒盛，合計石膏有服至七八兩者。大黃有服至三四兩者，羚羊、犀角有服至四五兩者，西藏紅花有服至二三兩者，桃仁、紅花有服至斤餘二斤者。強壯病重，乘其元氣尚盛，三四日即服至十一二劑，雖至危至重，約十餘二十劑必愈。熱清而核亦消，元氣少損，愈後而人不弱。若遲緩服藥，多至誤事。即不誤事，日久病深，服藥必加。熱清而核不消，元氣漸損，愈後而人亦弱。初愈時必昏昏思睡數日，若初起誤灸誤參，必壯熱昏懵，隨見譫語，其死必速。是年亦試有救法，急用雙劑加朴硝（三四錢），大黃（七錢一兩）能加羚羊、犀角、西藏紅花各二三錢更好，難取亦不必用，瀉出瘀血涎沫，十可救七八。若不急下，百無一生。是年本鄉疫初起時，一日見十餘證，醫者不知，誤灸五人，誤參四人，次日皆死。後鄰鄉有誤教以重下多得生者。最可憐者，重危之證，少服未效，即行置手，以致於死，實可痛恨。有氣服藥，尚可救生，切勿置手。石嶺一劉姓中疫甚危，手足腹背六處起核，氣喘如牛，熱甚渴甚，一人告以雙劑連服法，每雙劑加石膏一兩，知母五錢，羚羊、犀角、西藏紅花各二錢，大罐共煎，隨渴隨飲，連進二服，已奄奄一息矣。三更後大下毒瘀而蘇，再用單劑熱清核潰而愈。是年見證幾三百，施藥二百七十餘千，共死四十餘人，除誤醫與不服藥二十餘人外，尚救九成有餘。合觀二年，上年鼠死少毒輕，少服藥，亦收全效。本年鼠死多毒重，信服藥，止救九成。二則皆親經驗。</p>
<p><u>附治鼠疫毒輕法</u>　初起少而緩少大熱大渴痛痹等證照此條治</p>
<p>一專信方。免誤藥　二急服方。免誤時　三廣施藥。免傳染</p>
<p>此證壞人甚速，誤藥固死，誤時亦死，無錢服藥亦死。我村惟不忽人所忽，絕無懷疑，專信此方。非疫初起時，早晚必慎視小兒，許詢婢僕，見有微核身未熱者，急用塗藥一二日愈矣。有核而頭微痛，身微熱者，急服塗兼施，亦一二日愈矣。故於初起時已十愈八九。間有重證，按證加藥，照日夜連追法，亦二三日愈矣。即有一二危證，照即時連追法，亦四五日愈矣。貧賤復得所救，亦無傳染。故患病雖有百數，而貽誤曾無一人。惟兼北三法之善，所以能收全功也。是年見證幾二百，施藥共錢七十餘千，卒能保全無一壞者，實為各處所無。</p>
<p>上治鼠疫毒盛毒輕兩法，皆治驗成效可稽。故從治法條下，移附醫案之後，以便閱者信從不疑。</p>

<h2>李雨山治案（即閩粵治案）</h2>
<p>丁酉夏五，漢珍家兄綰符惠安，其時適該縣城鄉患疫，醫生處方皆不對證，死者日以十數人計。余聞之慼慼焉，復以加減解毒活血湯方，刊刷廣送，遍貼城鄉，並製藥施送，邑人賴活者甚眾。己亥四月，余郡惠州城亦染是症，當鼠疫初作時，余有聘媳何氏，年十齡，患此證。余深知此方之驗，商之瑞雲親家，擬以此方與服之。醫者疑桃仁、紅花過重，狃於偏執，避而不用。又誤抽搐為內風，惠俗有女醫者，專醫小兒科，故誤為風而灸以艾。灸之以艾，越宿已不治矣。六月間有堂弟年廿五自外鄉染病回，昏悶痹痛，起核數顆，屢投清涼劑，未能見效。越二日熱懵顛狂，牙關緊閉，僉謂不救。余以此方加劑合煎，撬而灌之，連服八劑而愈。蓋吾鄉初染是證時，病家多誤聽時醫之言，以此方過重而不敢用，以至病者十不救二。才四閱月，計歿者千一百有奇，遂至醫生束手，病者委命而已。傷心慘目，何以為情。余遂集同人，捐貲備藥施送，後之病者服此輒痊。於是郡縣各鄉，始堅信此方之效驗，即醫生亦佩服而不疑矣，藉此方活者二三千人。近年廣東省城香港澳門各處，服此方活者，亦億萬眾。余去臘遊幕南安，適館時，正值城鄉患疫。余抄錄各方遍貼城鄉，聞服者甚效。今秋於役溪尾，胯鄰居六歲小孩，染疫起核，余贈以此方，兩服即愈。足見此方之效，又奚止吾粵一省已哉。庚子秋日志</p>

<h2>劉蔚立治案（福州西關外塘下鄉儒醫）</h2>
<p>什湖鄉劉求興妻年五十餘歲，由臺江傳染獲病而歸。其證陽熱太甚，忽而惡寒，脈盛神昏，面赤肌熱，目視燭光如黑，且有譫語，下泄，核猶未見。遂擬大柴胡原方大黃用三錢，加銀、翹、地丁等。一下而惡寒罷，腿旁核現，次日即用解毒活血湯，加極重白虎，並解毒各藥。令其日夜二服，服過二三日，諸病減半，惟痰涎凝結如卵，塞在喉嚨，不上不下，復來延診。乃疏原方，更加芒硝二錢，大黃三錢，下後而痰涎乃降。後去硝、黃二味如前常服，約計六日，服至十三劑全愈，而腿核亦潰。因原書經驗塗核散，隔江路僻，製取不易，乃以精製膏藥三四帖貼之，此核亦消。</p>
<p>二甲鄉劉為楚有媳婦懷孕七八個月，亦患此證，初起核結腿縫，尚未見寒熱。余曰：此人明日必發熱惡寒，神昏欲睡，後果應余言，即來延診。先以解毒活血湯原方加黃芩、葡萄乾等以保其胎，而又恐桃、紅二味有礙於胎。服後三四點鐘，即將此方去桃、紅，加紫草茸、紫背天葵，又投一劑，諸病皆瘥。適六月初一日，洪水滔天，藥停一日，病又復作。彼則札木簰而來商，仍以前方去桃、紅，令日夜二服，服過二日全愈。即以秘製膏藥數帖與之，其核不期消而消矣。</p>
<p>一族叔蔭庭素業儒，嬸患此證，初起微惡寒，腿旁結一小核，即延鄰鄉儒醫來診。服秦艽鱉甲散，惡寒罷，頭汗出，熱猶不解，繼即服升麻葛根，加銀翹、淡竹。自朝至暮，舌強不轉，腿核愈大，乃延余診治。急疏本方，加白虎及銀花、地丁之屬，次晨大瘥，午後起。繼即項強背反，手足不舒，而又發微笑，不省人事。其證隨起隨重，藥亦隨起隨加，加至調胃承氣二劑，桃仁承氣一劑，中間一劑大黃用五錢，芒硝用三錢，病勢漸減。此後用雙劑連追法，日夜三劑，每劑加石膏二兩，知母八錢，余藥數品，每日夜服藥斤余，服過五六日勢退。去柴葛，又服三四日。後改用竹葉石膏湯，去人參，加元參，丹參、蔞、貝等，以收全功。惟核未收口，亦敷精製膏藥數帖而愈。同時蔭庭叔之母，年近古稀，素有哮喘證，因媳婦抱病不免勞苦，哮喘復作。其證但熱不寒，神昏嗜臥，目不欲開，口不思食，而又無核。余思無非此氣所染而成，遂以原方加竹、枳、蔞、貝一劑而平。次日復發，連服二劑而愈。此感疫無核之明證也。足見解毒活血湯，神效異常。</p>
<p>堂嫂亦患此病，其證上吐下瀉，發熱惡寒，一身痛楚，核結腿旁，湯藥入口即吐。余急用竹茹三錢煎湯先服，繼服藥而又吐。隨服生薑汁少許，後始不吐。余思惡寒未罷，尚未盡化熱，用解毒活血原方，絕不加減一味，一服而吐瀉止，連服三四劑諸病皆平。核用生草和鹽飰攤貼，日久始消。</p>
<p>余弟婦頸旁素有瘰癧，是日午前無恙，午後勿起寒熱，神昏欲睡，目不欲開，而頸旁累累有三核，始猶疑其瘰癧本證也。細按一核如光餅大，始悟核證而非癧證。即用解毒活血湯原方，加夏枯草、蒲公英、銀花等，日夜兩服，連服二劑全愈。後只用夏枯草、蒲公英、銀花三味，日二服，外貼精製膏藥二帖全消。同時大舍侄年十四，寒熱往來，面赤，核結左腕，隔十餘日。二舍侄亦復如是，核結喉上，皆用原方一劑而奏功。</p>

<h2>拙案附存（辛丑冬日記）</h2>
<p>下渡王姓，今夏五月間，右胯縫結核疼痛，人煩頭疼，睛紅口渴，舌黃濁，惡寒壯熱。予疏解毒活血湯二劑，寒熱罷而面項斑現，色紅粒稀，神識尚清。再以原方去柴葛加犀角、竹葉、銀花、牛蒡、金汁水二劑，並服葉氏神犀丹數粒。斑透身涼，脈尚滑大，大便數日未下。再以前方加生大黃五錢，二劑始下黑糞數次，舌苔轉淨，人甚煩渴，仍以前方減桃仁、紅花，加石膏、知母、竹葉心、元參、紫地丁、紫草茸、紫背天葵之屬，疊進數劑，病去八九，核亦不痛。惟頭上發小瘡癤，其熱氣如蒸飯，右眼睛色紅如朱。改用涼膈散，去硝、黃，用竹葉心加羚羊、丹皮、赤芍、鮮地黃、元參數劑，其火始降，面不赤而睛不紅。此君素嗜酒，濕熱久郁，又感時疫，故病重勢猛，非病家信任，一手醫治，萬難挽回。抱病十餘天，粥飯米泔，戒不入口，只食綠豆、薏米、番薯，肌肉並不瘦脫，靜養數天，即能健步出門矣。</p>
<p>塔亭郭厝里有邁婦陳氏，於五月半後坐轎來診，人難支持，神有欲昏之狀，頭痛肌熱微惡風，舌苔極濁，口渴，時有嘔逆，診其脈滑急，而右三部較盛。予曰：近日貴鄉塔亭一帶有鼠疫起，此證當是感疫，初發雖未見核，然腿邊痛痹，不可不防。急疏蔥、豉、銀翹、紫草茸、滑、樸、蘆根、絲瓜絡、黑豆芽之屬。翌日來診，神清寒罷，頭痛減，嘔逆平，餘證均在，右胯縫乃現一核。即以解毒活血湯去柴胡加竹葉、銀花、紫草茸，外用塗核散頻塗。此婦去後，有座客云：此人與予鄰右，其子感疫初亡，殊為惻然。第三日來診，熱退頭不痛，舌苔漸退，大便閉結，急以原方去柴葛，加生大黃三錢，是夜下醫糞數次，瘀行絡通，諸證均瘥，舌苔退淨，人見煩渴。第四日再以原方去柴葛加白虎，因年老婦人，再減桃仁、紅花，加紫地丁、紫草茸與之。病去有九，其核不痛，反見紅腫。予疏銀翹、車前草、馬齒莧、綠豆之屬，並以手定化核散，用生蜜調塗，二三日其核即消。此婦亦十餘天只食綠豆、薏米、番薯，並不傷脾胃，霍然而愈。</p>
<p>塔亭觀音佛同，京茶莊司賬方姓，今夏六月初晨起，見頭痛發熱，口渴胸悶，舌苔黃濁。即來請診，午後赴視，人已神昏身僵，不能轉側。其東人云：昨夕飲酒啖荔，今早始病，診其脈則右較洪大有力。予曰：此感疫證也，恐有發核耳。令棧伴捫索左胯邊，核大如李，外用經驗塗核藥粉，急疏解毒活血湯，因無惡寒去柴胡，加竹葉、銀花。翌日復診，渠能起坐，自述病情。見其手有斑點，令脫衣，細驗上半身皆有紅斑。再以前方加犀角、牛蒡、元參，及西藏紅花二錢，金汁水三錢後沖。第三日赴診，斑透身涼，脈轉緩，再以前法去柴葛加減與之。並佐葉氏神犀丹數粒代茶，病去有八。渠不喜服藥，竟停三天，不來延診。後再赴診，左喉邊結腫甚大，幸喉里不痛。予改用普濟消毒飲，去升、柴，加浙貝、牡蠣、元參、銀花、天葵之屬數劑，外塗手定化核散，結腫消過半，胯邊核破出黃水甚多，孰料腋下又發一核，幸不甚痛，足見停藥誤事，致餘毒走竄。再以解毒活血湯去柴葛，桃仁用五錢，紅花用三錢，加地丁、車前、浙貝之屬，渠連服六劑，諸核均消，卻能搦管司賬，料理生意。</p>
<p>辛丑九月江邊鄉鼠疫起，予即分贈此書，信者絕少，其氛愈熾。有某君之妾，頷下發核，寒熱並見，脈則右盛於左，睛微紅，喉微痛，身帶痹。先延劉君可藩，進普濟消毒飲大意，無甚見效。余因發在上部，亦繼進是方，略為加減，亦不能應手，改用活血解毒湯。囑其日夜三服，寒熱即罷，神識清爽，核尚腫痛，外用塗核散頻搽。後因煩渴，或加白虎，熱結腹脹，或加承氣。予與劉君信守是書方法，前後服桃仁、紅花各數兩，藏紅花兩餘，十數日即奏奇功，其妾方愈。其女復感疫，證較重，核發胯縫，連服三劑，寒熱即罷，桃信便逾期亦至，最為吉兆。且所下多瘀血，熱毒遂得外泄。惟營陰被爍，繼復發斑，用原方加犀角、白虎，及金汁水沖服，且經水已來，疊服桃仁、紅花，其續下黃水反止，並不傷新血。計前後亦服桃仁、紅花各數兩，藏紅花亦有兩餘，皆能易危為安。</p>
<p>後洋里牛肉同內有習錢業某君，於四月間得疫證，斑核並見，又因誤藥，神瞀譫語。於昏亂中忽呼家人曰：速延中洲鄭先生來治，因昔年其母病重，系予救治得愈。渠偶憶及，其戚即來請診，諱言發核，按其脈沉數，不省人事。家又清貧，無力服犀角，更形棘手。急疏涼膈散加元參、牛蒡、紫草、紫地丁沖金汁水，並佐葉天士神犀丹囑其連服二劑。是晚服一劑，證不減。翌晨始再服一劑，又服神犀丹一粒。午後下醫糞數次，神識清爽，肌熱悉退，舌苔亦淨。繼以前方去硝、黃，加元參、生地、銀花、地丁之屬，病愈有八。核腫甚大，腿後腫如黃瓜，色帶紫，按之甚軟，囑其速針，潰去膿水兩大碗，胯縫之核漸消，後以涼解收功。其時未得《鼠疫彙編》，然葉氏神犀丹中有犀角、生地、元參、銀、翹、紫草、糞清等味，皆活血行瘀，解毒清熱之品，與是書活血解毒之意若合符節。同時鹽倉前又用此法，復救兩人，附識於此。足見下焦發核，邪結厥陰血絡，非活血行瘀，升邪解毒，萬難大奏奇功。</p>
<p>興記司賬高君，陳豫九副貢之表弟也。得疫核證，豫九兄是夜已投解毒活血湯一劑。翌晨來延診治。予按其脈弦滑，素有木火，手筋見惕，即以原方加羚羊、藏紅花，無惡寒只發熱，去柴胡加淡竹葉、銀花，囑其連服二劑。翌日神清筋舒熱退，再以原方去柴葛，加藏紅花、紫背天葵之屬與之。渠因溪流阻路，三日連服八劑，計前後共服桃仁七八兩，紅花四五兩，其病霍然，並未見有點新血脫下。此方真不可思議，彼未敢放膽信用者，皆識見不到，故誤人多矣。</p>
<p>辛丑夏間省城鼠疫大作，延及南關外各鄉村，余得是書，即印數十本分贈同道諸公，奈信從者少。維時將此書指授（欽兒），依方按法，在鄉施治。因旁言蠱惑，病家多不敢服，甚至有誤服熱藥而死者，有誤用針刺而死者，有信女巫及降僮而死者，死仍不悟，殊堪悲惻。間有數家信任而得生者，爰命（欽兒）略敘治案於下，以備徵信。為活人計，或不無少補云。</p>
<p>時驟族叔，家中連日鼠死十數尾，余囑其速用雄黃、蒼朮、鬼箭等藥，於室隅床下焚而薰之。數日其嬸兩腿上結核二粒，神識忽清忽昧，肌微熱，口微渴，四肢痹痛，湯藥入口即吐，此熱毒攻胃也。疏鮮竹茹一兩，煎湯先服，服後再照原方去柴、葛，加梔、豉、竹、茹，二劑吐止，神稍清，熱漸退，惟肢痹核未消。再以原方重加、芍、桃仁，日服二劑，連服數日而愈。伊侄年十三，左脅下同時發核，外證相似，亦照原方加減，服四五劑應手而痊。</p>
<p>則福從侄，同居患鼠疫者五人，因誤藥誤時，皆至不救。渠業農，操勞太過，早起頭痛惡寒，後即熱渴，左腿上結有小核。誤服辛溫發散之劑，即神昏譫語，肌熱烙手，舌濁口渴，四肢痠痛，核亦紅腫而大。其弟來延診視，初用原方解毒活血湯，加消腫化毒之品不瘥。次早舌濁轉絳，筋惕溲赤，大便下利糞汁。此熱結旁流，血絡凝瘀所致。又以本方去柴、葛，加石膏、知母，竹葉、羚羊、犀角、大黃、朴硝，重用桃仁、紅花。三劑後，大下黑糞數次，神識轉清，熱亦漸退，惟核未消，外用塗核散，內服原方加減，或單用涼解之劑。廿餘日，核潰黃水流盡而愈。</p>
<p>其春族兄，次子則聚年二十八歲，素屬陰虛，體質羸瘦。午飯後，忽覺頭疼壯熱，心煩口渴，肢痹，胯縫發核如卵。初用本方加梔、豉，先服一劑不瘥。且譫語昏狂，渴欲飲水。又以本方加石膏、知母、竹葉、犀角，服二劑，次早大便頻下糞水。余曰：此熱結旁流也。照前方再加大黃、朴硝、鮮車前草，服三劑。是晚大下黑糞數次，神識稍清，肌熱漸退。渠兄弟疑服涼藥過多，克伐中土，煮米粥半碗與食，食後約三四點鐘，諸病復作，此食復也。余聞之，急用前方重加硝、黃，連服三劑，病始漸退。可見疫證最忌穀食。後每日仍食綠豆、番薯，十餘日餘熱退盡，核亦漸消，方敢少時稀粥。</p>
<p>潘阿波興化人，寄居敝鄉，素在貨船為夥，勞苦之極，且多感受海風潮濕。數日前已覺精神不爽，前晚歸家有夢遺，黎明即頭痛寒熱，腿上結核，片刻腫痛而大。診其脈浮弦帶滑，神識忽清忽昧，舌濁而潤，口渴不喜飲，遍身痹痛，少溲短赤。此客感時疫，絡脈凝瘀，與少陰夾寒證有別。初用蔥、豉加桃、紅、銀、翹、歸、芍，服後汗透神清，熱亦漸退。繼以原方去柴、葛，加鮮車前草，服二劑，大便下黑糞數次，核亦不痛而愈。十餘日後，核即消散無痕。</p>

<h1>驗方篇</h1>
<p>原書所載醫治鼠疫各方，粵東自己丑迄今十二年來，屢試輒驗，活人無算。茲分內服、外敷、闢疫三法，併為增輯，以備窮鄉僻壤，醫藥不及，擇其簡便者，隨取而用之。謹列表於下。</p>

<h2>內服驗方（十則）</h2>
<p>原書以加減解毒活血湯為主方，故別登提綱篇中，此篇不復重錄，以昭慎重。</p>
<p><u>鼠疫毒核消毒散</u></p>
<p>連翹（一兩）　薄荷（三錢，葉）　馬勃（四錢）　牛蒡子（六錢）　荊芥穗（三錢）　姜蠶（五錢）　板藍根（五錢）　元參（一兩）　苦桔梗（一兩）　銀花（一兩）　甘草（五錢）</p>
<p>共為粗末，每服六錢，病重者八錢。用干蘆根四錢，先煎水碗半，以蘆根水熬藥末，兩三滾去渣服。輕者一日二三服，重者一時許一服。</p>
<p>己亥夏惠郡患疫，江𡶇葊農部，制此散施送，賴活者甚眾。如倉猝不及研末，則減輕分兩，照下方煎服，另敷毒核藥方，列在外敷驗方中。</p>
<p><u>消毒飲</u></p>
<p>連翹（四錢）　薄荷葉（七分）　馬勃（錢半）　牛蒡子（二錢五分）　荊芥穗（一錢二分）　姜蠶（一錢）　板藍根（一錢）　元參（四錢）　銀花（四錢）　甘草（一錢）　苦梗（四錢）</p>
<p>用干蘆根四錢熬水，取湯煎藥，照上服法，以常服急服為貴。如有生蘆根更好，宜用八錢。</p>
<p>鄭按：上方，即普濟消毒飲加減。余未得此書以前，數年來每遇核發上部，如耳後項側腋下等處。初起若未誤藥，即以此方加減用之，屢奏奇功。與江農部若合符節幸勿輕視而不用也。</p>
<p><u>應驗疫證方</u></p>
<p>紫花地丁（三錢）　紫背天葵（二錢）　甘草節（二錢）　荊芥穗（二錢）　生大黃（二錢）　穿山甲（二錢）　牙皂（錢半）　土銀花（三錢）　野菊花（三錢）　西藏紅花（六分）　熊膽（六分，貧者不用亦可）</p>
<p>用水煎服。如有起毒核，現紅色者，即將紫花地丁、紫背天葵，每味加多二錢，銀花、野菊每味加多七錢，同煎服。</p>
<p><u>經驗鼠疫方</u>　初起發熱譫語，過一日則舌苔焦黃，口渴，六脈數大，因其先有內熱，再感天令火而發，每起則傳裡，內攻陰分。故以生地、鱉甲先實其陰，再以連翹、銀花、苦瓜乾泄裡熱，又以竹茹、黃芩解其外熱，曰芍平其肝氣，每服二三劑必愈。</p>
<p>生地黃（八錢）　鮮竹茹（三錢）　生鱉甲（一兩）　香連翹（二錢）　杭白芍（二錢）　蘇銀花（三錢）　黃條芩（三錢）　苦瓜乾（三錢）</p>
<p><u>治疫奇方</u></p>
<p>金銀花（三錢）　生甘草（二錢）　小粒烏豆（五錢，微炒）　白礬（二錢）　淨黃土（五錢）</p>
<p>上藥五味，用飯碗量二碗半水，煎至一碗水，臨睡時溫服，次早天亮，計合六個時辰，必汗出而愈。如不愈，次日臨臥時照服一劑，無不見效，此方系仙人傳授王相國，救活多人。無論已傳經，未傳經，陰證陽證皆愈。或用蜜為小丸，每服三錢亦效。</p>
<p><u>鼠疫驗方</u></p>
<p>大青（三錢）　青黛（二錢）　黃芩（三錢）　花粉（三錢）　人中黃（三錢）　紫草茸（三錢）　連翹（三錢）　忍冬（三錢）　梔子（二錢）</p>
<p>水煎服，此方屢驗，活人多矣。</p>
<p><u>治鼠疫毒核方</u>　初起身熱，面紅，口渴，心悶，譫語者，決是此證。其毒有起在頭面四肢及身上，初起如豆大，過兩刻則如龍眼核大，起在皮內，以手按之應手而動。急用仙人掌半個，切碎煎水服之，如見效則再服。又以仙人掌舂爛敷毒核，留頂上一小孔，以出毒氣。有身上起核而無身熱口渴等證者，其毒證較輕，故先起核而後身熱者，病亦較輕。若先發熱譫語而後起核者，病較重。核起在頭面及上焦要穴處則較重，起在四肢及下焦，與不關穴道者則較輕。亟宜先敷藥，藥熱則換藥，其見效自速也，或服菊花飲亦效。</p>
<p><u>新採驗方</u>　南海羅蒲溪所傳</p>
<p>生紫背浮萍去根取葉莖三四兩，絞汁衝開水服，或煎服亦可。</p>
<p><u>生藥方</u></p>
<p>螺靨菜（一名雷公根，泉州名滿地坡）　龍膽草（一名地膽頭）　白茅根</p>
<p>上三味為君，此外隨其地之所有，如金銀花、土茯苓、淡竹葉、白菊葉、白蓮葉、馬齒莧之類，用大瓦鍋熬水，未病者先服，清其源，既病者急服，解其毒。雖平日虛寒之人，得病亦須服此，然後可救。</p>
<p><u>治出斑方</u>（吳本）</p>
<p>紫背天葵　紫花地丁　金銀花　生梔子　蒲公英　牛蒡子（各三錢）</p>
<p>用水煎服，忌食粥飯米泔，全愈身涼，方可食米氣。</p>
<p><u>治疔瘡方</u>（吳本）</p>
<p>生白菊花連根，（無花用葉。）捶取自然汁一杯，滾酒兌服，（或衝開水。）渣敷患處，留瘡頭不敷，蓋被出汗，其毒自解。</p>
<p>鄭按：此方見《驗方新編》，為治疔解毒聖藥。疔瘡如有走黃髮腫，不省人事，可搗菊葉自然汁，開水沖一杯，灌之立蘇，初起服之尤靈。屢試輒驗，真治疔第一妙方。</p>
<p><u>治疫核斑痧方</u></p>
<p>⿰牜穴牛角磨水飲之。形如水牛角，長三四尺，上黑下白，產安南國，此獸喜食毒蛇，年來福州楊雀記，曾寄香港藥鋪購回，磨水施送，全活不少。</p>
<p>原書用蛇癲角。顛誤書作癲，蛇顛角，即蛇頂骨，可貼核上以吸毒，不可磨水飲之。恐有錯簡，以俟博雅正之。</p>
<p><u>新增驗方</u></p>
<p><u>吳子存經驗方</u></p>
<p>大黃　朴硝　枳實　川樸　犀角　羚羊角　川黃連　黃芩　車前　澤瀉　連翹　牛蒡子　大桃仁　紅花　紫草茸</p>
<p>紫花地丁、紫背天葵之類，隨病者強弱輕重為加減，各味俱宜重用，多者以兩計，不必遲疑。</p>
<p>吳子存曰：此證發時熱甚猛速，必須急用猛劑，不必聽醫師評量斟酌，揣脈論方，延犀片刻，遂致難救。所謂宋人議得定，金兵已渡江也。依此法治之，庶幾百無一失，切勿遲疑自誤。</p>
<p>鄭按：鼠疫之病，熱毒既入血分，必以涼血解毒瀉熱為主。初起病輕，則前承氣羚犀六味，可去可減。若體強證重，非重劑急服，萬難挽回，是在臨證者，貴有權宜也。</p>
<p>附　梁光甫學博說</p>
<p>按疫有五，天行時疫，有寒熱，有表裡，而此病多感地氣，與天行不同。土鬱成熱，顯是陽證。初起最忌溫補，如薑、桂、參、術之類，次忌溫散，如麻桂姜附之品。病重者以峻下為急著，間有瀉後仍死者。此乃病之不可救，非藥誤也。或有先用發散即《金鑑》荊防諸方，然後繼以寒涼者，亦有先用大苦寒，繼以溫補收功者。此必其人質素虛寒，初已解其毒，後乃扶其元，百中一二而已。若先用溫補則斷斷不可。</p>
<p><u>經驗疫證方</u>　見番禺陳春畋彙刊《鼠疫良方》</p>
<p>大青（三錢）　青黛（二錢）　人中黃（三錢）　紫草茸（三錢）　黃芩（三錢）　花粉（三錢）　連翹（三錢）　忍冬藤（三錢）　梔子（二錢）</p>
<p>此方屢驗。</p>
<p><u>急救核證經驗良方</u>（湘上漁人刊傳）</p>
<p>升麻（一錢）　紫地丁（二錢）　山甲（錢半）　生地（三錢）　蘇銀花（二錢）　甘草（錢半，生）　赤芍（三錢）　連翹（二錢）　山梔（三錢）</p>
<p>此方最見切當，尚有先服一方，即升麻鱉甲湯去雄黃加麻黃，然方中川椒辛熱，仍不可用，故不錄。</p>
<p><u>加減銀翹散</u>　廈門倍文齋印送　凡初起發熱不惡寒而渴，或徵惡寒發核者，病在上焦也不宜汗下用，用此方以解散之。</p>
<p>香連翹（一兩）　銀花（一兩）　苦梗（四錢）　薄荷葉（四錢）　生竹葉（四錢）　荊芥（四錢，穗）　牛蒡（六錢）　生甘草（五錢）　直殭蠶（三錢）　蟬退（十個）</p>
<p>共為末，每服六錢，煎至香味出，即取服，勿濃煎，日三四服。熱未解者，再作服。胸悶者，加藿香、鬱金二三錢。渴甚加花粉，或加元參、麥冬以保津液。項腫咽痛者，加馬勃二錢，元參二錢。</p>
<p><u>葉天士神犀丹</u>（見《溫熱經緯》）</p>
<p>真犀角（磨汁）　石菖蒲　黃芩（各六兩）　生地黃（冷水洗淨浸透，搗絞汁）　銀花（各一斤，如有鮮者，搗汁用尤良）　糞清　香連翹（各十兩）　板藍根（九兩，無則以飛淨青黛代之）　淡香豉（八兩）　大元參（七兩）　天花粉　紫草（各四兩）</p>
<p>上藥各生曬研細，忌用火炒。以犀角地黃汁糞清和搗為丸。切勿加蜜如難丸可將香豉煮爛。每重三錢，涼開水化服，日二次，小兒減半，如無糞清，或用金汁水，或加人中黃四兩研入俱可。</p>
<p>王孟英云：溫熱暑疫，諸病邪不即解，耗液傷營，逆傳內陷，痙厥昏狂，譫語發斑等證。但看病人舌色干光，或紫絳，或圓硬，或黑苔，皆以此丹救之。若初病即覺神情昏躁，而舌赤口乾者，是溫暑直入營分。酷暑之時，陰虛之體，及新產婦人，患此最多，急須用此，多可挽回。切勿拘泥日數，誤投別藥以僨事也。兼治痘瘄毒重，夾帶紫斑危證，暨痘疹後餘毒內熾，口糜咽腐，目赤神煩諸證。</p>
<p>鄭按：數年來福州鼠疫流行，余未得此書。每遇斑核兼見之證，貧不能服犀角者，即令服此丹一二粒，每下瘀血而愈，屢試輒驗，不可思議之神丹也。至於藥品切當，明眼人一讀便知，毋庸贅言。惟此丹倉卒配製不及，抑且價昂，惟望有力者，預為合就施送，以備救人，則陰功莫大焉。</p>
<p>前兩年將此方抄付福州南臺觀音井康濟堂藥鋪，照本製售，每丸只收小洋一角五，仙奉勸馳名藥鋪按照原方選擇上品，藥科預製待售，亦方便之一端也。</p>

<h2>外敷驗方（二十六則）</h2>
<p><u>經驗塗核散</u>（並治疔瘡及小兒生癧包黃水瘡塗之均效）</p>
<p>飛硃砂（五錢）　木鱉仁（八錢）　雄黃（五錢）　莊大黃（五錢）　上冰片（二錢）　真蟾酥（二錢）　地丁（五錢紫花）　山茨菇（八錢）</p>
<p>上藥共研細末，用小磁瓶分貯數十罐，黃蠟封口，俾免泄氣，調茶油塗，或用清茶亦可。</p>
<p>瓊州鮑遊府用此方各味等分，調如意油頻塗甚效，須先四面輕針結核，後塗藥，凡小孩不能服藥，用此法塗甚妙。此散福州觀音井康濟堂有售，每罐小洋半角。</p>
<p>鄭按：原書法條下，所云經驗塗藥，即是此方，故首列於上。今夏鼠疫流行，有單發疔者，塗之即消，有疔核兼見者，塗之亦效，幸勿輕視。</p>
<p><u>敷毒核單方</u>（計十四方）</p>
<p>用木鱉仁研末調醋頻塗，或用天仙子研末調醋厚敷煩塗，日易五六次。或取木芙蓉花、（無花用葉。）指甲花、（無花用葉，名金鳳花。）紅花、（家種的更佳。）馬齒莧等分同捶頻敷。或用生蒲公英（二錢）、生桕樹葉（二錢）、生水浮萍（二錢）、天生子（一錢）、雄黃（一錢）、冰片（五分），共舂爛，和蜜糖敷之。抑用大土煙膏和藥敷患處亦可。或梅花點舌丹調煙膏敷之。或用半邊鐮（即如鳳尾草半邊樣子）搗爛敷之。或用獨腳蓮搗爛敷之。或用七葉一枝花根，磨水塗之。或用竹樹米和白紙菜搗爛塗之。或用水芙蓉葉，有花更佳，和生鹽舂成膏，加大土煙膏為心敷之，每一點鐘換藥兩次。或用連須蔥頭搗爛，加雄黃冰片調敷。或用歸尾、枯礬、雄黃、牡蠣、紅花。（生者更佳。）連須蔥頭六味配合搗爛貼之。或用臭草、雄黃、仙人掌、蜜糖共搗爛敷之。或用蛇頂骨一粒，（鄭注：一名吸毒石，形如棋子，色黑。上海樂善堂有售。）用唾津將平底一面塗遍，貼在覈上，即黏而不脫。一俟脫落，用人乳半杯，將吸毒石用竹箸夾起，浸在乳內兩點鐘久，吐盡毒氣，毒盛者乳亦變色，取出再貼之。頻浸頻貼，以核消為度。（曾經試驗不可輕視。）</p>
<p><u>應驗疫核散</u>　存濟堂普濟消毒散，每樽價銀一角，鋪在廣東省城惠愛街八約。前年廣東善後局制散十萬樽，分送各縣，存活者以數萬計。</p>
<p><u>新增驗方</u></p>
<p><u>治結核經驗靈方</u>　時疫中人，如遇喉間兩脅大腿夾內，見有結核，速將此方塗貼，外用青布扎住，日換二三次，則核不痛，大則漸化，小即立消。</p>
<p>內服清解之劑，自可應驗。</p>
<p>山慈菇（二錢）　紫地丁（三錢）　蒲公英（二錢）　鮮瓜蔞（五錢）　大青蔥（五根，去須）　大生薑（二錢）　北細辛（五分）　江南香（五錢）</p>
<p>以上各藥共研搗如泥粉，同江南香末，調麻油貼之。如核十分利害者，可加麝香一二釐，麝香塗之暴腫，不如用穿山甲較妥。方能透發藥力，倘延緩太久，核毒已潰，亦不濟事。</p>
<p>又方</p>
<p>生半夏（二錢）　天南星（二錢）　山慈菇（三錢）　鹹蛋土（一撮）　赤小豆（二錢）</p>
<p>加茶油二滴，沖蔥湯塗之。</p>
<p><u>又方</u></p>
<p>紅藍花（一錢）　錦紋黃（四錢）　蒲公英（六錢）　川麝香（五釐）　白樟腦（一分）　雄黃精（一分）　細奶草（一錢）</p>
<p>共七味杵勻，調甘草水敷患處，其核漸消，不痛為度。</p>
<p>以上三方，楊本所增。</p>
<p><u>又方</u>　廈門倍文齋印送</p>
<p>馬齒莧（鮮的尤佳）　白麵粉用醋搗爛塗之。（凡有腫處皆可用。）痛者用三黃二香散。</p>
<p>黃連（一錢）　黃柏（一錢）　乳香（五分）　沒藥（五分）　生大黃（一錢）</p>
<p>共研極末，調蜜塗之。</p>
<p><u>又方</u>　廣州府施太守刊傳</p>
<p>古人治瘡，往往針去瘀血，今世多不解針法，可用西人蜞吮法代之。蜞即水蛭，俗名馬蝗。吮血後，用赤小豆研末，貼周圍尤妙，每日蜞貼一兩次，日日吮之，以消為度。按：此法三年前福州行之已效。</p>
<p><u>拙定經驗化核散</u></p>
<p>山慈菇（三錢）　真青黛（一錢）　生黃柏（錢半）　浙貝（錢半）　赤小豆（二錢）</p>
<p>共研細末，調淨麻油塗，日塗三四次，以消為度，甚見效驗。</p>
<p><u>八寶拱辰丹</u>　廣東存心堂秘製</p>
<p>此丹保身驅邪，專治時證發熱，將次昏迷，即用滾水沖服，分早午晚連服三次，每次服二封，其毒即不能攻心，病重者多服數次，更佳，如已見核，急用本堂陰陽再造膏貼之。其昏迷不省人事者，再用本堂還魂奪命丹服之。立能起死回生，百試百驗，神效無比。若未病之先，每日早晚服此丹一封，連服三日，即可不致傳染，或內已受毒，尚不自知。服此丹後，發病亦輕，此丹功效捷速，難以盡述。真救苦之神品，活命之仙丹也。</p>
<p><u>陰陽再造膏</u>　用時隔湯煨化不宜火烘</p>
<p>時疫毒核，用此膏貼之，如鼓應桴，立奏奇效。輕者一貼即愈，貼後約五六時辰，漸覺疼痛，再一二時辰，痛止核軟，隨漸消平。平後有周身遍發小粒如紅疹者，不必別服他藥，靜養一二日自然痊可，或於他處化數小核，再貼之亦即全消。</p>
<p><u>還魂奪命丹</u>　廣東存心堂秘製</p>
<p>時疫危證，莫速於外現毒核，忽發昏迷，或未見核，猝然不省人事，遲延救治，百無一生。急將此丹，用熱水送服，服後片刻，肚鳴作瀉，即是藥力行動，無不霍然清醒。俟瀉四五次後，飲新汲水數口即止。病重者，服後未瀉，仍未清醒，須再連進一服，必奏神效。誠救急活人之神品，還魂奪命之仙丹。凡一切癰背對口惡瘡，疔毒走癀，危在旦夕者，服之均即消散而愈。</p>
<p>以上存心堂秘製三方。令夏福州省城內外各善士捐貲購備施送，全活不少，故附載之。要購者可向廣東老城雙門底藏修堂書坊寄售處，或向香港興隆銜成安錢行購取。</p>
<p><u>塗核簡便方</u></p>
<p>孫幼谷太守，函致虞友山司馬雲，舊厚煙桿內油膏，劈取塗核，即能消化，已經靈驗。</p>

<h2>（附）闢疫驗方（十二則）</h2>
<p><u>闢瘟藥</u></p>
<p><u>千金雄黃散</u>　塗五心額鼻人中及耳門，能避瘟氣。</p>
<p>雄黃（五兩）　硃砂（二兩）　九節蒲（二兩）　鬼臼（二兩）</p>
<p>上藥研末過篩，磁罐收貯，每用錢許，調井水塗。</p>
<p><u>千金太乙流金散</u>　闢瘟氣方，若逢大疫之年，或用三角絳袋，盛掛心前，或懸戶上，或焚中庭，或燒薰瘟病之人，無不靈驗。</p>
<p>雄黃（二兩）　雌黃（二兩）　礬石（兩半）　鬼箭羽（兩半）　煅羚羊（二兩）</p>
<p>上五味研末過篩，磁罐收貯。</p>
<p><u>千金斷瘟方</u>　瘟疫轉相染著，至滅門，延及外人，無收視者，服此一丸，可與病人同床，不至傳染。</p>
<p>赤小豆　鬼箭羽　鬼臼　雄黃</p>
<p>上四味各等分，研末過篩，以蜜杵丸如小豆大，磁罐收貯。</p>
<p>按：《外臺秘要》多硃砂一味，亦可用。</p>
<p><u>經驗闢瘟良方</u></p>
<p>蒼朮（五錢）　雄黃（五錢）　丹參（五錢）　桔梗（五錢）　白朮（五錢）　川芎（五錢）　白芷（五錢）　藜蘆（五錢）　菖蒲（五錢）　皂角（五錢）　川烏（五錢）　粉草（五錢）　薄荷（五錢）　細辛（三錢）　蕪荑（三錢）</p>
<p>上藥用生料曬乾，研末燒薰，可闢疫氣，屢試屢驗。</p>
<p><u>又方</u></p>
<p>紅棗（切碎，二斤）　茵陳（切碎，八兩）　大黃（切片，八兩）</p>
<p>上藥和勻燒薰，可闢瘟氣。</p>
<p><u>避疫常服方</u>　凡附近處發疫時，而地必有毒氣，宜用。</p>
<p>白菊花　連翹　綠豆　銀花　甘草</p>
<p>每味各三文，加淨黃土五錢，白礬少許，每日煎湯，合家大小均飲之。體弱者稍少飲，或隔日一飲，以解毒氣。</p>
<p><u>避疫香粉</u></p>
<p>生大黃（錢半）　甘草（五分）　皂角（一錢）　丁香（二錢）　蒼朮（一錢）　檀香（二錢）　山柰（一錢）　甘松（二錢）　細辛（一錢）　雄黃（一錢）</p>
<p>共研末，用綢小袋，佩戴身上。</p>
<p><u>治疫氣傳染方</u>　凡入患疫之家，感其氣入鼻內，即時布散經絡。初覺頭痛喉干，急用芥菜子研末，溫水調末，填入肚臍中，隔衣一兩層，以壺盛大熱水，（開水亦可。）頻頻熨之，至汗出自愈。</p>
<p><u>闢疫良法</u>　用硫磺、銀硃二味等分，不可用水。以新瓦燒藥，放在房內，關閉窗戶門薰之。可除疫氣及死鼠氣味。</p>
<p>平時用貫眾一兩，白礬一兩，為豆一撮，同放水缸內。白礬、烏豆宜用夏布小袋裝貯，放缸內，三四日取出一換。凡到病家看病，先用如意油擦鼻，方可入門。或用雄黃末入鼻亦可。出病家門後，要當逆風處，引鼻取嚏，則疫氣不能入矣。</p>
<p>或用屈臣氏藥房之闢疫丹一二粒，佩戴襟前，可避疫氣。闢疫丹，色白如蓮子樣，每粒十文，到西藥房有賣。此丹土名臭丸。</p>
<p>或用雄黃末水調，多敷鼻孔中，與病人同床，亦不傳染，此神方也。或用馬骨一塊，裝紅布小袋內，佩帶身上，男左女右。</p>
<p><u>又方</u></p>
<p>五更時投烏豆一大撮於井中，勿令人見，凡飲水家，俱無傳染之慮。</p>
<p><u>又方</u></p>
<p>雷丸大黃各四兩，飛金箔三十張，硃砂三錢，（水洗淨）。生明礬一兩，共研末，以水為丸，每服二錢，屢試神效。</p>
