<header data-type="book">
<h1>外科全生集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王洪緒</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1740">公元1740年</data></dd></div>
</dl>
</header>

<h1>潘序</h1>
<p>余閱外科書多矣。而求其剖析陰陽，辨理寒熱，簡明切要者，莫如此書。《靈樞·癰疽》之篇，條緒繁多，淺學難於尋識；《金匱》只列瘡癰、腸癰兩種，大意以深淺分陰陽，而其旨未暢。後人鑽研未由，遂歧途徑。王氏獨招絕學，啟發靈、扁，振墜扶危，厥功鉅已。嘉定王氏校刊本，鄂中再刻之，其論證互見，未便繙閱，家弟器之，治此有年，曾為區分門類，頗有增損字句，世稱善本。嗣長洲蔣氏刻於蘇城，伯寅弟翻雕於京師，鄂中尚無此本。余既刊各種醫書。成，即急為付梓，以廣流傳。</p>
<p><u>吳縣潘霨</u></p>

<h1>黃序</h1>
<p>是編乃林屋散人出其家傳枕中秘，不為自私自利之謀，而亟亟焉以濟人為急務。嘔出心肝，盡情昭揭。以陰陽辨癰疽之別，以赤白明陰陽之著，實能補古方書所未逮。其詞簡，其法易，雖不明醫者，亦開卷瞭然於心目也。往歲余患骨槽風，醫家投散風清火之品，幾至危殆，得是書如法治之乃瘥。余頗信之，厥後凡親友間遇有病瘰癧、痰核、流注、背癰及一切陰發重症，各告以照方施治，無不立效，余益信之。乃者胡氏外孫女左股痛，足不著地年餘矣。既覺所苦處漫腫堅硬，而皮色如故，是編所謂貼骨疽無疑也。亦照方投以煎劑丸散，不百日而潰且斂矣。余惟信之深，而尤欲人共信之，獨惜坊本率多亥豕之誤，方謀訂正重刊，廣為流布，外孫女欣然解囊金，授余而請之。適王君荊門，曾有勘定本極精審，遂付剞劂。凡人有所樂為，皆根諸心。而其心之一於公者，世不概見，林屋散人是編之著，可謂公之至矣。今復以王君善校本行世，俾觀是編者，人人知醫，豈不一大快事乎哉？外孫女年未及笄，聰慧知書，余嘉其信道之篤，好善之誠，因識刊刻顛末，略書數語於簡端。</p>
<p><u>道光辛丑六月子仁氏黃鋐序</u></p>
<p>林屋散人憫人之混稱癰疽，不知癰之與疽，治法大相懸殊，此辨析癰是癰，疽是疽，於古方書未備而獨得行之秘授者，一一出方濟世，不使後人以訛傳訛，千古竟同長夜。非謂是書一出，諸方書可盡廢也。凡與世醫治法，無有異同者不載，古方書具在，可遍觀面博取焉。惟讀者好學深思，心知其意爾。</p>
<p><u>子仁氏九月朔又識</u></p>

<h1>王序</h1>
<p>余自幼聞癰疽有不可治之症，名曰陰發。五六歲時，舅氏子京先生以骨槽風亡，問之長老，云：久則成癆瘵也。甲午歲，子仁丈患骨槽風，始甚劇，後按《外科症治全生》法，治輒愈。余取其書觀之，乃知陽為癰，陰為疽，骨槽風亦陰疽類，非由瘵發。由發後服涼藥，延久成瘵耳。世人知陰發之名，而不達陰發之治，良可概也。適秦君立甫元其家藏別本，余因據以參校，互有得失。其字之顯訛者改正之，間有改而義仍未明，及疑者有疑而未改者。如大癰潰後，治法兩本並云體虛年老者，投參、耆、草皆炙也。夫托毒忌炙，上已詳之，而此忽云炙，蓋承上痛息毒散腫退色轉紅活而言，即體虛年老者，亦必至是而後可用炙，斷斷不可早用。今改云體虛年老者，始投參、耆、草更用炙，勿仍誤謂虛者初起即當用灸也。瘰癧治法第四條云：即在手下之腳骨。別本云：即在手下突出之骨，腳骨足跗外高骨也。突出之骨，掌後之銳骨也。患系喉間，手為近，故從別本。然足陽明脈，亦循喉嚨，下循䯒外廉，下足跗。拔疔散、六和散兩方，並有瓜蠍，而他方或作瓜蠍，或作血蠍。考古方書，有作瓜兒血蠍者，知此蠍為蠍誤。第如雄黃之名腰黃，後集申之，瓜竭則無文，本補亦無瓜竭之名，今並改血竭。輕粉無毒，而於黃連則云解輕粉毒，文歧出，考《本草》亦云無毒，而注云有毒、黃連解，今改無為有，庶免眩惑。牛膝治莖痛。莖，別本或改作脛。按：莖中痛，水道中痛也。第曰莖，似非莖中矣。而《本草》主治列莖中痛，此其脫中字乎？癰疽方訣，歸芩花粉節煎，或麻黃青蒿甘草，皆有用節者，此其甘草節乎？鎖喉方藥訣甘草各一錢，別本作二錢。《本草》當歸，全者活血，而是書云定血，此俱未敢臆斷。表弟時清甫於吳門買是書，即立甫所藏本。清甫又於書肆舊書中見是書，與吳門所買本異，欲買之以示余，則即子仁先生藏本也。重刻者不外此二本，輾轉淆訛，益不足據矣。原本刻於乾隆五年，子仁先生藏本則重刻於嘉慶五年，立甫藏本不知其刻於何年。是書流傳已百餘年，而瘍醫都若未見，何哉？胡氏孤女所患久治不效，案是書法治乃效。既效，欲刻余所校本，以廣其傳。爰更取二本，嚴勘付梓。而序其始末，並識其疑，以質世之精於醫者。</p>
<p><u>道光二十有一年辛丑七月朔日王浩荊門氏撰</u></p>

<h1>馬評湯序</h1>
<p>《周禮·天官》：瘍醫掌腫瘍、潰瘍、折瘍之祝藥、劀殺之劑。注云：劀謂刮去膿血，殺謂以藥食其惡肉。又曰：凡療瘍以五毒攻之。注云：今醫方有五毒之藥，合黃堥置石膽、丹砂、雄黃、礬石、磁石其中，燒之三日三夜，其煙上著，以雞羽掃取之以注瘡，惡肉破骨則盡出。又曰：以五氣養之，以五藥療之，以五味節之。注云：既劀東而攻盡其宿肉，乃養之也。五氣當作五穀之誤，是上古瘍藥，攻補兼施，無專用攻擊之確證。予嘗慨醫藏一目綜今存者，幾與釋道埒。惟瘍醫之書，其見著錄，惟宋·李迅《集驗背疽方》，竇漢卿《瘡瘍經驗全書》，元·齊德之《外科精義》為近古。而國朝王氏洪緒，撰《全生集》，說尤完美。蓋是書務審病因，而辨章陰陽強弱，不失累黍，故世推為善本。武進馬培之先生，關龠道樞，營壘寶蠌；三世學醫，趾美彌篤。由是譽滿江南，一時叩門求藥者，踵武相接。候色譣眉，莫不膏肓洞達，已而被詔入都，聲望益奮。廓其聞見，所療輒應，如春臺登而上池飲也。其明年既告歸家荈林阿，貞頤暇日，宏覽秘芨，思有述造，用詔末學。以王氏重用陽劑，發言過激，非古人和緩之意。奮以己意，攘剔瑕瑜，別白湯劑，條件斠正，列於眉間。凡一月書成，以歸武林吳氏，付剞劂行世。夫陰疽流注，呼吸死生，俗醫剽竊一二禁方，妄施針石，固足殺人，即高明之士，競競守王氏一家言，亢厲自高，而於受病之本因，發病之形色，及夫陰陽向背，用藥節宣，禁忌之所宜，概置不講。其為伐天和而殘民命，亦挺刃之異耳。今得先生斯評，庶業醫者，得所圭臬，不致索塗擿埴，其為功甚巨。而先生所以自壽以壽人者，亦詎可量哉！刻既成，用述緣起如此。</p>
<p><u>光緒九年季春之月蕭山湯紀尚拜敘</u></p>

<h1>馬評吳序</h1>
<p>光緒丙子秋，兒子庚生病胃脹痛，百治不瘳。耳孟河馬培之先生醫聲，挈兒子就河莊求治。日坐先生旁，見其就診者，日數百輩。其以瘍毒來證者，去尋丈外，即聽聲譣色，洞達癥結。訝其先囑之奇，間詰之，因謂予瘡瘍之發，患實內蘊。病情神色，未有不達於面目者，故可望形而得之。其用藥非精熟《靈》、《素》，按脈辨證，平章陰陽，無以應手輒效。如兢兢守一二古方，漫然施治，不莽莽乎？且外症實難於內科，非得真傳口訣，未易券獲。至於看法、治法、手法，亦非筆墨所能宣。刀針有當用，有不當用，有不能用之別，如謂一概禁之，非正治也。如癰疽毒初聚，用針以泄氣，可冀消散；毒已成，針之易收口；若令自潰，必至膿腐穿破，瘡口卷臠，難以收功。古書固不可廢，而辨證尤為首務。議論所及，又謂王氏《全生集》一書，近時業瘍科者，奉為枕秘。設遇症即錄方照服，既不憑脈，亦不辨症，貽誤非淺。《集》中所載陽和湯、犀黃丸、子龍丸，法非不善，而論證究失一偏。白陷者概認作疽，用陽和湯，不知假寒真熱，假熱真寒，區別攸分。陽和湯為溫散血中寒邪，果系陰寒凝結，服之或可消散，如伏熱鬱熱之症，皮色白者誤投之，是速其潰也。至已潰之症，麻黃尤所必忌。乳岩起於肝鬱，郁久化火掣痛，薑桂必不宜服。肺癰乃金受火克，肺喜清肅，倘肺有伏熱，犀黃丸多潰氣之品，詎非轉劫真陰乎？子龍丸行水驅痰之劑，只可施之壯實，如虛羸之質，則吐瀉作而生氣損矣。先生之論類如是，皆發前人所未發，而其要首貴審脈而已。爰亟覓舊本，首請詳註，重刻行世，以不負先生壽世之苦心。工既竣，因質述其平日之說，以告世之讀是書者。先生尚有《驗方新編》亦按部擇驗過之方，增減重訂，成集待刊云。</p>
<p><u>光緒九年仲春上浣仁和吳恆仲英</u></p>

<h1>自序</h1>
<p>明·劉誠意伯言：藥不對症，枉死者多。余曾祖若谷公《秘集》云：癰疽無一死症。而諸書所載，患生何處，病屬何經。故治乳岩而用羚羊、犀角，治橫痃而用生地、防己，治瘰癧、惡核而用夏桔、連翹。概不論陰虛陽實，惟多用引經之藥，以致乳岩、橫痃，患成不救；瘰癧、惡核，潰久轉怯。竟不知為引經之藥所誤，反諉咎於白疽本不可救，不亦謬歟！夫紅癰乃陽實之症，氣血熱而毒滯；白疽乃陰虛之症，氣血寒而毒凝，二者俱以開腠理為要。腠理開，紅癰解毒即消，白疽解寒立愈。若憑經而不辨症，藥雖對經，其實背症也。世之患陰疽而致斃者頗多，苟其陰陽別治，何至有死症乎？余曾祖留心此道，以臨危救活之方，初起立消之藥，一一筆之於書，為傳家珍寶。余幼讀之，與世間諸書迥別。歷症四十餘年，臨危者救之，初起者消之，痛癢者止之，潰爛者斂之，百治百驗。憑經治症，天下皆然；分別陰陽，惟予一家。是以將祖遺秘術，及予臨症將藥到病愈之方，並精製藥石之法，盡登是《集》，以待世之留心救人者，依方修合，依法法制，依症用藥，庶免枉死。使天下後世，知癰疽果無死症云爾。</p>
<p><u>時乾隆五年，歲在庚申仲春朔日。洞庭西山王維德洪緒氏書</u></p>

<h1>凡例</h1>
<p>—癰與疽之治，截然兩途。世人以癰疽連呼並治，夫癰疽二字之連呼，即夫妻二字之連呼也。若以癰藥治疽，猶以安胎之藥服其夫矣。是集以癰疽分別兩途，皆識症執方之法；如照法法制，照症用藥，救人之功，余不敢分；害人之罪，余當獨認。情願萬劫披毛，甘受屠家誅戮。</p>
<p>—輯是《集》，專論陰虛陽實，認定紅白兩色，是癰是疽，治即痊愈。所載諸方，皆藥到病愈，切勿增減，並勿因貴重之藥減輕。逐症治法，開卷一目瞭然，不必投師，人人可精此道。</p>
<p>—諸書惟《馮氏錦囊》內附陰疽論，與余家遺秘相符，獨無消疽之方，惟以溫補兼托為法。且疽初起，即如平塌，安可用托？托則成患。余家之法，以消為貴，以托為畏。即流注、瘰癧、惡核，倘有潰者，仍不敢托。托則潰者雖斂，增出者又如何耶？故以消為貴也。</p>
<p>—外科之虛實，發現在外。治之法，《集》中詳細，不必諳脈，儘可救人。故痘症之險悶順逆，眼科之心肝脾肺腎，皆現於外，故亦不診脈也。好學者察患色則知症，照症治，無不痊。</p>
<p>—醫可寄生死。閱坊刻外科，妄稱正宗，載云症現七惡即死。又載以桐油燒紅衣針，針入痰塊半寸，用降藥為條，插入針孔，七日塊自開裂，再以條插七日，其核自落。又稱毒在皮里肉內，刀割深要寸許，傷透內腑，病人何能堪此極刑，七惡之現頃矣。世之宗其法治，盡屬劊徒。此集惟疔用刺，其外概不輕用刀針，並禁用升降痛爛二藥。</p>
<p>—遍身所患，止有紅白兩色。紅者癰，白者疽，癰疽即其名也。有謂無名腫毒者，因未識其陰陽也。</p>
<p>—是書無論背項腰腹，白色者言疽，以疽藥愈之；紅腫者言癰，以癰藥愈之。坊刻書稱以某藥與服不應，再易某藥，豈非以人試藥乎？倘患生要緊穴道，安可遭醫幾試！望高明詳之。</p>
<p>—世無爛久之癰，惟疽初起失消，或遭降灸針割，以致年久不斂。治之方藥，《集》中詳細。</p>
<p>—此《集》有行到之處，好學者自然以此治法。初起者消，久潰者斂。余恐此《集》遲到，醫未經目，人未見習，以致多誤，是以任坊翻刻，速遍海內。使醫有生人之治，而無枉死之人，余願遂矣。</p>
<p>—載癰疽、咽喉、疔毒、結毒諸瘡、痔漏等症，皆藥到病愈之方；其雜症及臨症後所附諸病諸方，亦一服即效者，附梓《集》中。內無以人試藥之誤，望有力者照方合就，對病旋送；或止取藥本，或抄方傳人，註明法制。</p>
<p>—是書所有之藥，法制極詳，不可忽略。宜細心照法精製，藥純效速。</p>
<p>—傷寒症有轉經傳變，故有醫不執方之說。至如外科雜症，全賴識症執方。餘年七十有二，治病經歷四十餘年，用藥從無一錯，故敢輯是《集》，以公諸世，因名《症治全生》。</p>

<h1>重訂凡例</h1>
<p>—是《集》流行已久，縉紳之家，幾於家置一編。每遇外症，照方抄服，幸而獲效，群以為神。即或致誤，不尤方之刺謬，而咎之無治。庚生侍先生臨症數年，每見發背、乳岩等症，誤服陽和湯、犀黃丸而敗者，不可勝算，心甚憫焉。特覓善本，請先生評正刊刻，庶讀是書者，知所採焉。</p>
<p>—不能紅白二色分陰陽也。是《集》大旨，以分陰陽為主，而其分之之法，則不辨脈息，不分虛實，惟以色之紅白為定。不知陰中有陽，陽中有陰；有真熱，有假熱；有真寒，有假寒；若一概以色之紅白為分，何能無誤。</p>
<p>—外科不能不明脈理。無論癰疽瘡瘍，症雖現於外，病必由於內，即幾微之疔毒癬疥，亦必內有火毒濕熱，而後外發。其未發之先，脈必先見洪數弦滑等象。更有外症雖輕，而本原大虧者；有內病與外症交發者。若非細辨脈理，何以別虛實寒熱，標本先後乎？乃曰：不諳脈理，儘可救人。真如夢囈。</p>
<p>—外科不能不讀《靈樞》、《素問》，肺癰、肺疽、肺痿，細辨脈象自知。《金匱》云：問曰：寸口脈數，其人咳，口中反有濁唾涎沫者何？師曰：為肺痿之病。若口中辟辟燥，咳即胸中隱隱痛，脈反滑數，此為肺癰。咳唾膿血，脈數虛者為肺痿，數實者為肺癰。是肺癰之候，察脈便知，有何難覺？而曰諸患易識，肺癰難覺耶。惟其不諳脈理；不讀《靈》、《素》，以致如是。</p>
<p>—是《集》流傳已久，輾轉淆訛，貽誤非淺。爰覓道光中裘氏本，重加訂正，其分兩一切，悉仍其舊。惟加評語，以便採擇。</p>
<p>—是《集》所選方藥，半系瘍科必不可少之方。其未加評語諸方，均平妥可用。惟藥性炮製諸法，太覺簡略，當照《本草備要》、《雷公炮製》為是。</p>
<p>林屋散人言：外科不諳脈理，可以救人。吳庚生駁之甚是。蓋外科雖較內科稍易，如不知脈，僅辨外面形色，以紅白為寒熱，何以分其真假寒熱，虛實陰陽耶？然脈學欲知其精細，毫無錯謬者，不但外科中少有其人，即求諸內科中亦不常有。如不識脈理人，可用予所作簡便醫學寒暑表，測其寒熱，亦可竟分明也。</p>
<p><u>階臣記</u></p>

<h1>卷一</h1>

<h2>癰疽總論</h2>
<p>癰疽二毒，由於心生。蓋心主血而行氣，氣血凝而發毒。毒借部位而名，治論循經則誤。症之根盤，逾徑寸而紅腫者謂癰，癰發六腑；若形止數分，乃為小癤。按之陷而不即高，雖溫而頂不甚熱者，膿尚未成；按之隨指而起，既軟而頂熱甚者，膿已滿足。無膿宜消散，有膿勿久留。醒消一品，立能消腫止疼，為療癰之聖藥。白陷者謂疽，疽發五臟，故疽根深而癰毒淺。根紅散漫者，氣虛不能拘血緊附也；紅活光潤者，氣血拘毒出外也；外紅里黑者，毒滯於內也；紫黯不明者，氣血不充，不能化毒成膿也。膿色濃厚者，氣血旺也；膿色清淡者，氣血衰也。未出膿前，腠理之間，癰有火毒之滯，疽有寒痰之凝；既出膿後，癰有熱毒未盡宜托，疽有寒凝未解宜溫。既患寒疽，酷暑仍宜溫暖，如生熱毒，嚴冬尤喜寒涼。然陰虛陽實之治迥別，閱古方書，總覺未詳，因暢其旨備覽焉。諸疽白陷者，乃氣血虛寒凝滯所致，其初起毒陷陰分，非陽和通腠，何能解其寒凝？已潰而陰血乾枯，非滋陰溫暢，何能厚其膿漿？蓋氣以成形，血以華色，故諸疽平塌，不能逐毒者，陽和一轉，則陰分凝結之毒，自能化解；血虛不能化毒者，尤宜溫補排膿，故當潰膿毒氣未盡之時，通其腠理之功，仍不可緩。一容一縱，毒即逗留；一解一逐，毒即消散。開腠而不兼溫補，氣血虛寒，何以成膿？猶無米之炊也。滋補而不兼開腠，僅可補其虛弱，則寒凝之毒，何能覓路行消？且毒盛者反受其助，猶車粟以助盜糧矣。滋補而不兼溫暖，則血凝氣滯，孰作釀膿之具？猶之造酒不暖，何以成漿？造飯無火，何以得熟？世人但知一概清火而解毒，殊不知毒即是寒，解寒而毒自化，清火而毒愈凝。然毒之化必由膿，膿之來必由氣血，氣血之化，必由溫也，豈可涼乎？況清涼之劑，僅可施於紅腫癰癤，若遇陰寒險穴之疽，溫補尚虞不及，安可妄行清解，反傷胃氣？甚至陽和不振，難潰難消，毒攻內腑，可不畏歟？蓋脾胃有生死，故首貴止痛，次宜健脾。痛止則惡氣自化，脾健則肌肉自生。陽和轉盛，紅潤肌生，惟仗調和補養氣血之劑，若夫性寒之藥，始終咸當禁服。</p>
<p>馬曰：數分之癤，亦須看生在何處。若在險要穴上，亦不可小視，誰謂數分之癤無害耶！</p>
<p>又曰：白陷者乃是痰症發於肉裡，由於氣滯而成。若堅凝附於筋骨者，乃血分受病，必初起紅硬有頭，方謂之疽。然亦須辨陰陽。</p>
<p>又曰：有陰虛陽旺之輩，毒火結於榮分，瘡堅平色紫，按之烙手者，必泄其火毒，陰充血和，方能起發，豈可謂之寒疽，治以溫暖乎？投之則陰愈干，則火愈熾，診視之時，全在察脈觀色觀形，切宜填之。</p>
<p>又曰：毒概指為寒，左矣。須知陽中有陰，陰中有陽，有真寒假熱，有真熱假寒，如執色白之說，則有色白按之烙手，脈洪數者，將其作疽治歟。泥色紅之說，其有色紅按之不熱，脈不洪數者，其將作癰治歟。若不諳脈理，何能無誤耶？</p>
<p>陶曰：中國之瘡毒，西國則稱之為發炎。有內炎外炎之名，外炎即癰疽，內炎即肺癰腸癰等類。用蜞數條，放在腫處，吮去其毒。</p>
<p>又曰：如癤生在險要穴上，用廣東所產金殼櫛，水研搽，可移於不致命一二寸。但此藥有毒，不可入口。又，《驗方新編·癰毒雜治門》內有移山過海散、趕毒散，皆能移開瘡於不致命處。</p>
<p>又曰：徐靈胎亦云：紅亦有非癰，白亦有非疽者。</p>

<h2>部位論名</h2>
<p>但論部位而名癰疽，雖未分辨虛實，然諸名色，後學亦應知之，即如毒生頭頂，而有善⿸疒貢、發疽之名，頸項有落頭、對口、腦疽之號。鴨蜒因毒夾於腋中，魚肚緣患生於腿肚，失榮獨在項間，夾疽雙生喉側，腳骨號夾棍之瘡，潰爛肌膚，則為驢眼。足心為湧泉之穴，毒匿腳皮，則成牛𪳕。腹癰指正，箭袋云偏。臭田螺，大拇指之爛名。扁擔怪，肩穴中之癤毒。鬢前疽，耳後發。腿曰腿癰，下稱跨馬，白謂冬瓜。手發背，腳丫疽；偷糞老鼠，又號懸癰。漏稱海底，指說蛇頭，甲謂甲疽。膝蓋腫云鶴膝，腎子疼曰子癰。馬刀癰生於臉上，骨槽風患於牙床，井泉疽患登心口，貼骨疽毒踞環跳。臀積毒則曰臀疽，臂上癰乃云臂毒。諸名由部位以推，治法憑白紅而別。初起未潰，當觀現在之形；已潰爛久，須問始生之色。初發色紅，仍施癰藥；初生色白，當用疽丹。各症治法，逐列於後，使學者辨症而精治焉。</p>
<p>馬曰：初起屬陽，潰久血氣衰，變為陰寒者，斷不可仍施癰藥。</p>

<h2>爛潰不斂</h2>
<p>如久潰腐爛不堪，以洞天救苦丹三服，每服三錢，陳酒送服，醉蓋取汗。隔兩日又送一服，再隔兩日，再送一服。所隔之兩日，每日以醒消丸三錢，陳酒送服。服後毒水流盡，七日後再服醒消兩次，接服大棗丸，每日早晚各進五錢，雖危險者，亦可奏效。</p>
<p>馬曰：丹方治梅毒濕毒，諸瘡爛潰一片，有數十孔，流臭水者可服。如癰疽爛潰，雖有數十孔，爛成一片，則不可用。</p>

<h2>患孔毒根</h2>
<p>爛孔有惡肉凸起，名曰毒根，往往有用降藥爛去者，此乃毆之速斃也。獨不知弱體豈可增痛，況爛去仍又長出，安可再爛？余所制平安餅，專貼毒根，外以陽和解凝膏貼掩，一日一易，輕者二三日，重者六七日，不癢不痛，毒根自落。貼餅時，日服托毒散，俟毒根落後，當服保元、四物二湯收功。</p>
<p>馬曰：此症乃瘡中有火所致，不若用銅綠煅研極細，陳去火毒摻之，上用膏蓋，可以平也。</p>

<h2>翻花起肛</h2>
<p>潰久不斂，必至翻花起肛堅硬，取老蟾破腹連肚雜，以蟾身刺數孔，貼患口上，輕者日易一次，重者日易兩次。貼蟾之日，日服醒消丸三錢，陳酒送服，止其疼痛，三日後毒盡，再服醒消丸，消其翻花，軟其硬肛。如大患初潰者，亦如前法，毒從蟾孔而出。倘肛口硬、患孔深，取活牛蒡草根、枝、葉，或取紫花地丁草軟者，搗爛塗入肛內，拔毒平肛，功效不凡。</p>
<p>馬曰：此症用蟾破貼頗效。</p>

<h2>毒氣攻心</h2>
<p>凡受降藥之毒，定致神昏嘔吐，此係毒氣攻心，急用護心散，以生甘草一兩，煎濃汁稠調，令病者時刻呷咽，咽至大半，自然止嘔，神氣清爽，接服醒消，以平其勢。</p>
<p>馬曰：瘡毒攻心，亦令神昏嘔吐，至於降藥之毒，須用人中黃、貫眾、綠豆解之最佳。</p>

<h2>陰症門</h2>

<h3>陰疽論</h3>
<p>陰毒之症，皮色皆同，然有腫有不腫，有痛有不痛，有堅硬難移，有柔軟如綿，不可不為之辨。夫腫而不堅，痛而難忍，流注也。腫而堅硬微痛，貼骨、鶴膝、橫痃、骨槽等類是也。不腫而痛，骨骱麻木，手足不仁，風濕也。堅硬如核，初起不痛，乳岩瘰癧也。不痛而堅，形大如拳，惡核失榮也。不痛不堅，軟而漸大，癭瘤也。不痛而堅如金石，形如升斗，石疽也。此等症候，盡屬陰虛，無論平塌大小，毒發五臟，皆曰陰疽。如其初起疼痛者易消，重按不痛而堅者，毒根深固，消之難速，治之之法，方有一定，學者覽之瞭然。</p>
<p>馬曰：柔軟如綿，乃氣與痰滯，治宜流氣，氣行痰即行。流注一名氣毒，又名串痰。</p>
<p>又曰：乳岩、失榮、馬刀，乃七情致傷之症，治宜解鬱疏肝，不可照陰疽例治。</p>

<h3>陰疽治法</h3>
<p>初起之形，闊大平塌，根盤散漫，不腫不痛，色不明亮，此疽中最險之症，倘誤服寒涼，其色變如隔宿豬肝，毒攻內腑，神昏即死。夫色之不明而散漫者，乃氣血兩虛也；患之不痛而平塌者，毒痰凝結也。治之之法，非麻黃不能開其腠理，非肉桂、炮姜不能解其寒凝。此三味雖酷暑，不可缺一也。腠理一開，寒凝一解，氣血乃行，毒亦隨之消矣。學者照方依治，自無不愈，倘有加減，定難奏效。</p>
<p>馬曰：治法極是。</p>
<p>又曰：麻黃未潰可用，已潰之後，斷不可重開其腠理。</p>

<h3>流注</h3>
<p>此症色白腫痛，毒發陰分，蓋因痰塞清道，氣血虛寒凝結，一曰寒痰，一曰氣毒。其初起皮色不異，惟腫惟疼，體雖發熱，內未成膿，以二陳湯加陽和丸同煎，數服全消。消後接服小金丹七丸，杜其續發。如皮色稍變，極痛難忍，須服陽和湯以止其痛，消其未成膿之餘地。使其已成膿者，漸至不痛而潰，此乃以大疽變小之法。如患頂軟，即為穿之，膿多白色，以陽和膏日貼。但此症潰後，定增毒痰流走，患生不一，故初潰之後，五日內仍服小金丹十丸，以杜後患。接用犀黃丸、陽和湯，每日早晚輪服，使毒痰消盡，不補亦可收功。</p>
<p>倘孩子不能服煎劑者，初起以小金丹化服，至消乃止。成膿者，亦服小金丹，消其餘硬之地，使患不痛，即為穿之。俟其毒盡，用保元湯，耆、草宜生忌炙，加入肉桂五分，日服收功。</p>
<p>如孕婦患之，當問懷胎月數，倘未滿六個月，犀黃丸有麝香，不可服，當以陽和湯愈之。愈後再服三四劑，以代小金丹，杜其流走。</p>
<p>馬曰：此症濕痰凝滯者，固當溫散，其有動勞之輩，不受外寒，內傷脾土，脾氣滯而不行，濕痰因之停滯，治當流氣行痰，可望消散。</p>
<p>又曰：流注生於夏令，太陰司天在泉之歲最多。曝日躬耕，夜天露臥，暑為寒束，氣道不行，隨處結腫。初起宜從汗解，萬靈丹最妙。數服後不應，再進陽和。若壯熱煩渴引飲，全是暑熱內蘊，小金、陽和，豈可沾唇？</p>
<p>馬曰：陽和湯孕婦忌服，即小金丹亦非所宜。</p>

<h3>甲疽</h3>
<p>凡指甲邊，生一赤肉突出，時常發者，甲疽也。用四妙膏以封患口，日易三度，毒消口斂。</p>

<h3>井泉疽</h3>
<p>疽生心口，又名慢心銳毒。初起心口內有塊，漸大發高，毒陷即死。此醫皆縮手之症，諸書亦無治法，惟余家秘集載，以本人兩手十指，以線量其長短，共積於線，在喉管正中處，雙環至背脊之中，看兩線頭盡處為中穴。又以本人中指之中一節，用柴心量准若干，於中穴之左右兩旁，各遠若干，各以墨記，分立三穴，如<img class="字" src="_files/001.svg" alt="">。每穴用艾三大壯，一齊火灸，灸畢痊愈。</p>
<p>馬曰：井疽乃心火妄動，而生慢心毒，即胃脘癰。方書俱有治法。</p>
<p>又曰：井泉初起，亦非死症，不過易於成漏，後難收口耳。</p>

<h3>瘰癧</h3>
<p>患生項間，初起一小塊，不覺疼癢，在皮裡膜外，漸大如桃核，旁增不一，皮色不異。以子龍丸每服三分，淡薑湯送服，每日三次，至消乃止。倘小孩不善服丸，每取小金丹一丸，陳酒沖服，蓋暖取汗，服至消而止。數年內忌食香橙，食則復患。</p>
<p>凡瘰癧，有潰爛，間有成膿未潰者，亦有未成膿者，須服犀黃丸，止其已潰之痛，松其成膿未潰之脹，消其未成膿之核。已成膿者，用咬頭膏穿之。日服溫補祛痰，通腠活血壯氣之劑，外貼陽和解凝膏而愈。</p>
<p>凡瘰癧，爛延肩胸脅下，極不堪者，用荊芥根煎湯洗患處，以雄腦散麻油調搽，內服洞天救苦丹三服，犀黃丸六服。服完九日後，皮色變白，孔內紅活，接服大棗丸。肌肉漸長，用生肌散日敷收功。</p>
<p>凡瘰癧，爛至咽喉，如飲熱湯，外覺熱痛者，乃危險至極，遲則爛穿咽喉不救。急取柴心一根，量本人中指，量其三節，共若干長短，男左女右，再就其手下腕骨正中骨頂之處，即以所量中指之柴心定準，一直量上盡頭，乃肘髎穴也。以墨記定，取艾團連灸三壯，膏掩，可保咽喉不穿，凡瘰癧，大忌開刀。</p>
<p>收功之法，前已列明，敷藥有訣陳下。未成膿者，灸則可消，爛潰者可斂，赤貧人用之有訣：瘰癧爛潰不堪言，爛至胸腰連耳肩，荊芥根煎溫復洗，瘡中紫塊莫針穿，犀黃大棗丸神效，日服日洗日敷痊，樟腦腰黃等細粉，麻油調掃肉新鮮。</p>
<p>馬曰：瘰癧皆不足之症，有陰虛肝火凝結者，有脾虛痰氣凝結者，有風痰風濕相結者，子龍丸乃化痰泄水之峻劑，只可施於壯實之人，但有一二核堅硬者可服，亦不宜多服，致傷血氣。</p>

<h3>小腸疽</h3>
<p>患在小腹之內，按之如掌，堅硬而熱，微痛，小便頻數，汗出憎寒，腹色如故，或現微腫，以犀黃丸愈之。</p>
<p>馬曰：此症以散瘀利濕為主，當服煎劑，不得已以犀黃丸括之。</p>
<figure>
<img alt="小腸疽圖">
</figure>

<h3>鶴膝風</h3>
<p>初起膝蓋骨內作痛，如風氣一樣，久則日腫日粗，而大腿日細者是也。因形似鶴，故名。專治之法，取新鮮白芷，用酒煎至成膏，收貯瓷瓶，每日取膏二錢，陳酒送服。再取二三錢塗患，至消乃止。否則，用陽和湯日服，外以白芥子為粉，白酒釀調塗亦消。</p>
<p>馬曰：鶴膝乃三陰不足，有外受風寒、脾濕下注而成者，有肝腎陰虧，濕熱下注而成者，陽和湯不宜，即白芷、白芥子等品，有熱者亦不可用。</p>

<h3>橫痃</h3>
<p>生於小腹兩旁，大腿界中，形如腰子，皮色不異，硬如結核，按之微痛者是也。日取角刺粥時飲，三四日全消。或以子龍丸，每服三分，淡薑湯日送三次，痊愈乃止。大忌開刀，開則刀口無膿，惟出白膩漿，三百日內必死。自潰者亦然。</p>
<p>馬曰：橫痃之症，乃敗精濕痰凝結而成，角刺及子龍丸似非宜用。</p>

<h3>乳岩</h3>
<p>初起乳中生一小塊，不痛不癢，症與瘰癧惡核相若，是陰寒結痰，此因哀哭憂愁，患難驚恐所致。其初起以犀黃丸，每服三錢，酒送，十服痊愈。或以陽和湯加土貝五錢煎服，數日可消。倘誤以膏貼藥敷，定主日漸腫大，內作一抽之痛，已覺遲治，若皮色變異，難以挽回。勉以陽和湯日服，或以犀黃丸日服，或二藥每日早晚輪服，服至自潰，用大蟾六隻，每日早晚取蟾破腹連雜，以蟾身刺孔，貼於患口，連貼三日，內服千金托裡散，三日後接服犀黃丸。十人之中，可救三四。潰後不痛而癢極者，斷難挽回。大忌開刀，開則翻花最慘，萬無一活。男女皆有此症。</p>
<p>馬曰：乳岩乃心肝二經，氣火鬱結，七情內傷之病，非陰寒結痰，陽和湯斷不可服，服之是速其潰也，潰則百無一生。惟逍遙散最為穩妥，且犀黃丸內有乳香、沒藥、麝香，辛苦溫燥，更當忌投。</p>

<h3>貼骨疽</h3>
<p>患在環跳穴，又名縮腳疽。皮色不異，腫硬作痛者是。外用白芥子搗粉，白酒釀調塗，或以大戟、甘遂二末，白蜜調敷，內服陽和湯，每日一劑，四五服可消。消後接服子龍丸，或小金丹，以杜患根。大忌開刀，開則定成縮腳損疾。</p>
<p>馬曰：貼骨疽用陽和湯是正理，可法也。</p>

<h3>骨槽風</h3>
<p>患在腮內牙根之間，不腫不紅，痛連臉骨，形同貼骨疽者是。倘以癰治，則害之矣。初起最易誤認牙疼，多服生地、石膏，以致成患，爛至牙根，延及咽喉不救。當用二陳湯加陽和丸煎服，或陽和湯消之。倘遇潰者，以陽和湯、犀黃丸每日早晚輪服。如有多骨，以推車散吹入，隔一夜其骨不痛，自行退出。吹至次日，無骨退出，以生肌散吹入，內服保元湯加肉桂、歸、芎。耆、草宜生，收功而止。</p>
<p>馬曰：骨槽風生於牙關開合處，名頰車穴。如堅硬貼骨，按之不熱，可服陽和湯。</p>

<h3>惡核痰核</h3>
<p>大者惡核，小者痰核，與石疽初起相同。然其寒凝甚結，毒根最深，極難軟熟。未潰之前，忌貼涼膏，忌投涼藥，惟內服陽和湯、犀黃丸可消。亦有以大田螺搗爛，敷塗消之者。大忌開刀，開則翻花起肛。用大蟾破腹，刺數孔，連雜蓋患，拔毒軟肛，內服溫補托毒消痰之劑，犀黃丸儘可收功。如孕婦，丸內有麝香，忌之。</p>
<p>馬曰：惡核難潰斂，即服藥亦難取效。大忌開刀，洵是至言。</p>

<h3>石疽</h3>
<p>初起如惡核，漸大如拳，急以陽和湯、犀黃丸，每日輪服，可消。如遲至大如升斗，仍如石硬不痛，又曰，久患現紅筋則不治。再久患生斑片，自潰在即之證也。潰即放血，三日內斃。如現青筋者可治，內服陽和湯，外以活商陸根搗爛，加食鹽少許敷塗，數日作癢，半月皺皮，日敷日軟而有膿袋下，以銀針穿之，當服千金托裡散，加熟地同生耆各一兩，代水煎藥。服十劑後以陽和解凝膏滿貼患上，空出穿針之眼，使其血活，若皮膜中似成膿巷，用布綁緊，使皮膜相連。內服大補、保元等湯，參耆忌炙，服至收功。如其毒氣未盡，忌投補劑。</p>
<p>馬曰：現青筋者亦不可治。商陸根雖能潰堅，用之皮腐，入鹽更痛，徒傷其肌，徒增其痛，未必能消，只有服補養氣血之劑，以解陰凝，庶可保延歲月。</p>

<h3>善⿸疒貢頭</h3>
<p>孩子頭髮內，患白色腫塊，初起伊母認為跌腫，至高大作疼，方始延醫。醫以頭為首陽，惟用寒涼解毒，是以潰者內膿復⿸疒貢，增出者不一。殊未知此患色白，其膿不紅，乃陰寒虛弱之症，用小金丹治之。初起三服而消，潰後七丸而愈，外貼陽和解凝膏。大人患之，名曰發疽，以陽和愈之。</p>
<p>馬曰：此症初起，當服疏風清痰熱之劑，陽和湯似不宜用。</p>
<p>又曰：善⿸疒貢頭系風、熱、痰交結而生，大人亦有之，陽和湯不可用也。</p>

<h3>鵝掌風</h3>
<p>患於手足掌指皮上，硬而癢燥烈者是用紅油於有風之處，日以火烘油，擦二三次，至愈而止。用麻油一兩，紅砒一錢，敲細如粞，入油煎至砒枯煙絕為度，去砒留油，有風之處，日以火烘油擦二三次，至愈止。</p>

<h3>鵝爪風</h3>
<p>即油灰指甲，即日取白鳳仙花搗塗指甲，上下包好，日易一次，塗至灰甲換好而止。</p>

<h3>凍瘡</h3>
<p>以陽和解凝膏貼，一夜可愈，潰者貼三張收功。</p>

<h3>陰疽用膏議</h3>
<p>凡患一應色白大小等疽，忌用洞天膏貼、嫩膏敷，用則寒凝愈結。最忌用千捶膏、鯽魚膏貼，蓋此二膏內，皆有巴豆、蓖麻，貼則被其提拔助成。每見橫痃、乳岩，貼至致命。孕婦貼則墮胎。凡諸疽潰後，宜貼陽和解凝膏。</p>

<h2>陽症門</h2>

<h3>癰癤</h3>
<p>凡患色紅腫疼痛，根盤寸余者是癰。毒發三四日，尚未作膿，以嫩膏圍外，內以醒消丸，熱陳酒送服三錢，即止其疼痛。夜間得睡，次日患皮起皺，再服全消。如過四五日，患將作膿，亦以醒消丸與服，消其四圍腫硬，痛息毒散患啞，此以大變小之法。有膿之患頂，取咬頭膏貼，加以代刀散三錢，酒服穿之，或刀點分許穿之，以洞天膏貼，不幾日收功。如患盤數寸者，或患居背心、腦後、腰腹、肚腋、陰囊等險之穴，用五通丸、醒消丸，早晚以敗毒湯輪送一次，皮皺痛息，再服至愈。倘潰，即用托毒散、醒消丸，亦早晚輪服。如患盤不滿一寸，亦紅腫者是癤，蟾酥丸、梅花點舌丹，皆可消腫止痛。</p>
<p>馬曰：此治法極是。</p>
<p>又曰：腰腹、肚腋等處癰癤，五通、醒消二丸最佳。</p>

<h3>牙癰</h3>
<p>牙根肉紅腫痛甚者是。刺出毒血，取珍珠散吹之，內服龍膽瀉肝湯而愈。倘牙骨及腮內疼痛，不腫不紅，痛連臉骨者，是骨槽風也。倘以癰治，則害之矣。故治病貴在識症。</p>
<p>馬曰：牙癰乃胃火風熱交攻，膿出即愈。至腮頰之腫不退，外潰則成穿腮漏。</p>

<h3>發頤遮腮</h3>
<p>患生於腮，有雙有單，一曰遮腮，一日發頤，當宜別治。腮內痠痛是遮腮，取嫩膏敷上，次日痊愈。倘病仍兩腮發腫，不痠痛者是發頤，宜服表風散毒之劑，當用白芷、天麻、防風、荊芥各一錢，陳酒煎半碗，送服醒消丸而愈。</p>
<p>馬曰：遮腮以疏風清胃為主。如病後發頤，起耳根之下，腫連腮項，乃少陽邪熱結聚，須兼顧本症。天麻、白芷、防風、醒消，均非所宜。蓋此症發於溫熱病中，未能發汗解肌，熱病最易傷陰，故不得以辛溫治之。</p>

<h3>子癰</h3>
<p>腎子作痛而不升上，外現紅色者是也。遲則成患，潰爛致命。其未成膿者，用枸橘湯一服即愈。</p>
<p>馬曰：子癰與囊癰有別。子癰則睪丸硬痛，睪丸不腫而囊腫者為囊癰。枸橘等品，正治子癰之法。</p>

<h3>囊脫</h3>
<p>陰囊生毒爛破，腎子落出。外用紫蘇湯日洗，取紫蘇葉、梗為末，日敷，用青荷葉包裹，內服瀉熱湯。</p>
<p>馬曰：瀉熱湯治囊脫，頗效，可用。</p>

<h3>赤遊螳螂子</h3>
<p>初生小孩，因胎中受毒，腿上患色紅腫成片，身熱，名曰赤遊。遊者，遊走也，遊走遍身而死。取哺退雞蛋內臭水，拂上一二次痊愈。或小孩口內生疳，或腮內生一紅塊，名曰螳螂子，亦皆胎毒也。用生地五錢，生軍一錢，陳酒浸透，取出共搗爛塗足心。男左女右，用絹縛好，干即易，愈乃止。嫩膏塗遊亦效。口疳用生香附、半夏等分為末，蛋白調作如餅，貼男左女右湧泉穴，周時愈。湧泉穴即腳心。</p>
<p>馬曰：方內用蛋中臭水，一時難覓，不如以芭蕉根搗汁掃之，可退螳螂子。不可刀割。</p>

<h3>疔毒</h3>
<p>其患甚險，其害最速，生面目耳鼻之間，顯而易見，生肩足衣遮之處，隱而難知。早覺者晨醫夕愈，遲知者枉死甚多，即明槍易睹，暗箭難防之意。故婦女而患暗疔，直至發覺，誤認傷寒，致毒攻心，走黃不救。黃即毒也。如頭面唇鼻肩臂手足等處生一泡，或紫紅，或黃黑者，疔也。初起刺擠惡血，見好血而止。取拔疔散插，以膏掩之，次日疔毒化膿而愈。凡屬疔毒，宜服奪命湯。</p>

<h3>紅絲疔</h3>
<p>手小臂，足小腿，生如紅線一條者是也。要在紅線兩頭始末刺破，毒隨血出而愈，遲則毒入腸胃不救。</p>
<p>馬曰：紅絲疔非刺去惡血不可，然須細看，必有紅絲上延，方可用砭。否則恐是刀鐮疔，誤砭立見危殆，不可不知。</p>
<p>馬曰：奪命湯去細辛可服。</p>

<h3>刀鐮疔</h3>
<p>患形闊如韭菜，長有寸余，肉色紫黑者是也。忌行針刺，以生礬三錢，蔥白七根，共搗爛作七塊，蔥湯逐塊送下，蓋暖取汗，無汗再服蔥湯催之，汗出為度。取爛雞屎塗患立愈。遲則毒掃心腑致命。</p>
<p>馬曰：忌行針刺極是。方亦平妥可用。</p>
<p>陶曰：疔瘡走黃，用芭蕉根搗敷之，立愈。</p>

<h3>走黃</h3>
<p>疔毒發腫神昏，謂之走黃。如在將昏之際，急取回疔散二錢，開水送服。少刻大痛，痛則許救，毒化黃水，痛止命活。</p>

<h3>楊梅結毒</h3>
<p>楊梅瘡，又謂棉花、廣豆、廣瘡，因形而名。然其感毒無二，以化毒為貴，熏罨為忌，罨定復發難治。初發以三黃丸，每日五鼓取四錢，熱陳酒送服，醉蓋取汗。或以瀉肝湯，每日早晚輪服。昔書所載升藥為丸，雄黃為衣，粥飲送服，或點藥條一根，口含冷水之法。後學萬不可因此不費藥資，致傷人命，自召天誅。</p>
<p>如有因服升藥並藥條熏罨復發，在五日之內，日服三黃丸，再取紫銀茶時飲。如潰，以渣煎湯，患處日洗兩度，接服聖靈丹，可祛毒盡，色轉紅活，用洞天膏貼收功。</p>
<p>即如下疳、蠟燭卸等毒，總不離此前治諸法。倘疼痛難忍，以聖靈丹五分，數服奏功。如潰爛，俟毒退痛止，色轉紅活，當以藥撒生肌。如陽物硬而不痿，白精流出，此乃妒精。用破故紙、韭菜子各一兩為末，每服六錢，水一碗，煎半碗服。如見愈，宜以藥剩，倘毒重，服聖靈丹，無不痊愈。</p>
<p>馬曰：此即江湖術士之隱藥，萬不可用。</p>
<p>馬曰：升藥用水銀煉成，誤服，毒收入骨，須用青鉛、川椒，方能解之。</p>

<h3>諸瘡</h3>
<p>瘡疥之生，獨由於濕，故南方卑下之地，患生最多。昔書皆言濕熱所致，方中皆用生地涼血，未見醫愈一人。且以熏罨為法，熏雖瘡愈，然毒歸腹，定成瘡⿸疒鼓。凡患諸瘡，宜戒沐浴，浴則濕氣愈重，難以速痊。痊後再戒月餘，庶免復發，忌食雞羊蝦蟹一應發毒新鮮等物，並戒房事。欲愈諸瘡者，非得良方，未易痊也。按其名類，有膿窠、癩疥、繡球風、猴猻疳、涇風頑癬、蛀髮癬、小兒疳、肥瘡、蠟梨、火珠、臁瘡、爛腿、漆瘡。</p>
<p>馬曰：諸瘡癩癬，用藥水洗，亦可見功。憔熏則不宜。</p>
<p>又曰：有熱者，生地又在所必用。濕重者，當用二妙為妥。</p>

<h3>癩疥、繡球風</h3>
<p>遇此二症，用合掌散二錢，可敷數次痊愈。臨用以右手中指羅門，黏滿香油，再在包內黏藥，塗入左手心，合掌數摩。俟藥止有氣而不見形，將兩掌擦瘡，每日早晚擦二次，三日掃光，再擦三四日不發。</p>
<p>馬曰：此治癩疥之主方，用之得宜，效如影響。惟腎囊上不可用。</p>

<h3>膿疥門雜</h3>
<p>照前法以二美散蘸入手心，合掌摩擦，每日二次，愈後再擦三四日。</p>

<h3>膿窠、坐板濕毒、猴猻疳</h3>
<p>此等症，以五美散和嫩膏調敷，外以棉紙掩綁，不可動揭。五日後揭下，再敷一二次痊愈。如濕毒癢極，先以金銀散敷上，次以前膏加敷。</p>
<p>馬曰：與合掌散同。</p>

<h3>惡瘡極癢</h3>
<p>用金銀散醋調敷，止癢。如破爛，爛孔癢極者，白蜜調敷。</p>

<h3>蠟梨瘡</h3>
<p>用掃雪散，香油調膩，剃頭後，煎滾灰湯溫洗，洗後以藥敷，敷後不必再洗，日以藥敷，至愈乃止。</p>

<h3>不癢惡瘡</h3>
<p>以豬苦膽和金霜散，調敷。</p>

<h3>頭面肥瘡</h3>
<p>用結子油，每日早晚拂瘡兩度，五六日愈。戒食蝦蟹等發毒之物及煎炒熬油，食則延開難愈。</p>

<h3>臁瘡</h3>
<p>生於小腿，男人謂之爛腿，女人謂之裙風。氣滯血瘀，經年累月，臭爛人憎。初起或由搔破，或生小瘡化大，或因經熱湯之氣所致，或食毒物而成。當以老蟾破腹，蟾身刺數孔，以肚雜代包，填入孔內，蟾身覆蓋孔外。每日煎蔥椒湯，俟溫，早晚各洗一次。以蟾易貼，內服醒消丸，亦早晚二服。三日後取地丁大力鮮草搗爛填孔外，蓋烏金膏，仍以醒消丸日服。如皮中滲出清水，嫩膏加五美散敷。如內發癢，白花膏貼。如內有硬塊如石，以生商陸搗爛塗。如孔內常有血出，先以參三七末撒內，次用牛蒡葉、根搗填，俟患口收小，不用草填，日以五寶散撒上，仍以烏金膏貼之收功。倘年老體虛，酌投補劑。</p>

<h3>爛瘡</h3>
<p>用烏金膏，照患孔大小，剪如膏藥一方，針刺二三十眼，取光面貼孔。日煎紫花地丁湯洗孔，並洗膏二次。三日內毒水流盡，色變紅活，以水飛伏龍散撒上，仍用前膏貼外。戒多立行走、房事、食毒物。凡婦人須待月信之後貼起。</p>

<h3>漆瘡</h3>
<p>取杉木屑，煎湯溫洗。接以蟹黃、滑石二末，白蜜調敷。</p>

<h3>患瘡日久</h3>
<p>此由體虛毒重。敷藥按症酌用。內服神仙棗，四五日可愈。</p>

<h3>瘡⿸疒鼓</h3>
<p>以紅棗丸四兩，用紅棗湯送服。服完痊愈。</p>
<p>如遇瘡⿸疒鼓危甚，不及服藥，當覓大蟹四五隻，約每重斤余者，令其白湯煮食，飲酒蓋暖睡。不兩時身上發瘡，更狠於前，而⿸疒鼓全消。仍以瘡治，或服紅棗丸，或服愈瘡棗。</p>

<h3>火珠</h3>
<p>用生蘿蔔搗爛，好醋浸敷，遲治妨命。</p>

<h3>流火</h3>
<p>患生小腿，紅腫熱痛，不潰不爛。世之醫家，惟以刀鐮出血，或以鱔魚血塗，總無痊愈之日。時常發作，復鐮復塗而已。治法當以礦灰化於缸水內，次日，水面上定結一層如薄冰者，取起，以桐油對調膩厚，每日拂上三次，三四日痊愈，後不復發。醫時忌食豬肉。</p>

<h3>諸癬</h3>
<p>用癬酒拂治。先將癬三日一剃一拂，至愈乃止。</p>

<h3>蛀髮癬</h3>
<p>取生木鱉片浸數日，入鍋煮透，取湯洗，洗後取蜈蚣油搽頭，至愈方止。或取草烏切片，炙脆研粉，醋調，日塗三次，數日愈。</p>
<p>馬曰：先令剃頭，湯洗。</p>

<h3>陰頑惡癬</h3>
<p>以鮮角膏加醋，煎至稠膩，瓷瓶貯之。遇此症，先行剃之，剃後以膏塗之，日剃日敷。俟毒水流盡，再敷數次痊愈。</p>

<h3>痔漏</h3>
<p>痔漏即腸癖。凡人九竅中有小息肉突起，即如大澤中有小山突出也。不獨於肛門一處言痔，故有鼻、眼、牙痔等名。痔分五種，狀亦不一，曰牡，曰牝，曰脈，曰腸，曰氣。未破謂之痔，已破謂之漏。</p>
<p>—肛門邊生出數瘡，腫而突出，膿潰即散者，牝痔。</p>
<p>—肛門邊露肉如珠，狀如鼠奶，瀝血流膿者，牡痔。</p>
<p>—腸口顆顆發癗，且痛且癢，血出淋漓者，脈痔。</p>
<p>—肛門內結核有血，發寒熱，登溷即脫肛者，腸痔。</p>
<p>—肛門腫痛，遇怒即發，怒息即安者，氣痔。</p>
<p>—酒醉即腫痛流血者，酒痔。色痔相同。</p>
<p>—每大便有血注不止者，血痔。</p>

<h3>外痔</h3>
<p>以槐梅膏塗之，痛息，日塗兩次，至愈乃止。內服杜痔丸，每早晚各服五錢。</p>

<h3>內痔</h3>
<p>候登廁翻出肛外，用溫水洗淨側臥，其痔盡出，勿使收入。亦有痔自翻出，大如茶杯，形如一菌，糞從菌心而出，痛極難忍，上面如盆，四邊高，中心陷下，如菌根。糞後用杜枸杞根搗爛，煎汁熱熏溫洗，洗淨以洞天膏攤如菜碗大，中剪一孔，以一邊剪開通孔，烘熔圈於菌根，貼於四邊，圍護好肉，誠恐上藥藥汁漓於好肉耳。每取枯痔藥一二分，入杯津調，筆蘸拂菌之外面四旁，日夜各拂一次。菌之中心，通連肛門，大忌拂藥，倘有流入，大痛難當。拂一兩日，毒水流出，菌形漸縮而軟。再拂一兩日，漸硬而黑，菌邊日有脫下。用藥一錢，內再增硃砂一分，仍用津調，日夜照拂。俟菌縮小黑硬，再拂，拂至菌根自落痊愈。</p>

<h3>痔漏成管</h3>
<p>以退管散五錢，黑糖拌，空心陳酒送下，管自退出乃止。或用雙鱉丸亦可。</p>

<h3>石癤</h3>
<p>夏秋頭面生紅癤，初起取洞天膏貼，周時全消。潰者貼之亦愈。用清暑散煎，俟溫，服即無熱毒之患。</p>

<h3>大癰潰後議</h3>
<p>凡大癰潰後，世人每投炙耆、炙草，或用半炙半生，殊不知托裡散內用人參者，並非以參補虛，不過以參助耆，添其托毒之力，卻無補毒之害，而炙耆只補氣，不能托毒；炙草只補中，不能解毒。倘毒氣未盡，誤投炙耆、炙草，或用保元、十全等湯，致毒反得補助，毒攻內腑。余之治法，凡遇初潰大癰，止其痛，痛息則毒散，其腫亦退。色轉紅活，即可無須用參、耆補托，如須耆、草，亦皆用生，不用炙也。惟體虛年老者，投參而耆、草則皆炙也。如體旺家貧者，無參亦易收功。</p>
<p>馬曰：此論極是。何世之瘍科，於潰膿以後，每用參、耆、炙草以為托裡，補住火邪，致瘡難愈，甚則毒攻內腑，危殆不救。能取此為法，必無貽誤。</p>

<h2>有陰有陽症門</h2>

<h3>肺癰肺疽</h3>
<p>諸患易識，獨肺中患毒難覺。有兩腳骨疼痛者，有腳骨不痛而舌下生一粒如細豆者，再心口之上，內作微痛，及咳嗽、口乾、咽燥，此皆肺中生毒之證也。即用甘、桔各三錢煎服。服下如覺稍安，肺之患毒無疑矣。以犀黃丸十服，服完痊愈。此是預識預治，百無一死之法。世人但知腳痛醫腳，咳嗽醫嗽，舌下一粒，便以刀刺。且此一粒，患未成膿，定然色淡，患愈亦消，患篤其色紫黑，如用刀刺立害。諸書皆載云：口吐臭痰，胸中發腥作痛者，肺癰也。又稱症有三不治：時吐臭痰，久如粳米飯者不治；嘔膿不止者不治；白麵變赤者不治。惟嘔而膿自出者易治。治之之藥，惟地黃、保生、歸脾等湯輪服而已，並無預知早治之法。直至吐臭痰發腥，始知肺癰，猶小舟飄入大洋也。此等立論，安可為後學津梁？余每見此症吐膿，其色皆白，故稱肺癰。用犀黃丸，治無不效。有赤貧者患之，以陳芥菜滷，每晨取半杯，滾豆腐漿沖服。服則胸中一塊，塞上塞下，塞至數次，方能吐出，連吐惡膿，日服至愈。凡患此症者，終身戒食鴨蛋、白鯗、紅蘿蔔、石首魚、著甲魚，食則復發難生。</p>
<p>馬曰：肺疽、肺癰，均由咳嗽而起，或外感風寒，郁久化熱，或心肝之火上炎，肺葉脹舉而成癰膿，故胸痛咳嗽，吐膿吐血。火刑金之候，豈可以乳、沒辛苦溫之品，助其熱，傷其肺？麝香走竄，盜泄真氣，《本草》均稱諸瘡癰疽，潰後勿服，何況嬌臟受病乎？</p>

<h3>發背</h3>
<p>此乃癰疽中大患，緣其患位，對心對肺對臍耳。偏曰搭手，因手可搭而名。紅腫痛甚者，應稱背癰。治法詳於陽症門·癰癤內。如色白腫痛者，當以流注法治。如平塌不痛者，當以陰疽法治。此皆陰發背也。如誤服寒劑，誤敷涼藥，誤貼涼膏，定然毒攻內腑不救。</p>
<p>馬曰：平塌不痛之症頗多，不得均謂之陰疽。凡疽初起，必有頭。</p>

<h3>脫骨疽</h3>
<p>凡手足之無名指，患色白而痛甚者，脫骨疽是也。諸書載云：急剪去指，可保其命，遲則腫延手足之背，救無術矣。殊不知此疽也，大人以陽和湯，小孩以小金丹，最狠者以犀黃丸，皆可以消之。色紅者，以熱癤、蛇頭等法治之。</p>
<p>馬曰：此症無論手足，皆是火毒濕熱結成。又有溫疫病中，邪陷下焦而成者。陽和湯斷不可投。</p>
<p>又曰：脫疽無色白者，必現紅紫之象，或痛或不痛，或麻木而冷，十指各有主經。何經受毒，發於何指。亦有漫延四指者。然多生足指，少毒手指，均是火毒內蘊所致。小金亦非所宜。</p>
<p>陶曰：脫骨疽發於腳趾，漸上至膝，色黑，痛不可忍，逐節脫落而死。亦有發於手者。方用土蜂窠研細，醋調，應手而愈。真神方也。</p>

<h3>天蛇頭</h3>
<p>患生指上，形似蛇頭，故名。紅腫者，取白蘿蔔一段，挖孔入雄黃三分，蒸半熟套指。或取烏梅仁，嚼爛塗指，及嫩膏塗之皆消。如患色白，小金丹服愈。</p>
<p>馬曰：天蛇頭即是疔瘡，非服小金丹之症。如色白者，是僵節蛀，方可服小金丹，不可不審也。</p>

<h3>耳後銳毒</h3>
<p>患發耳後，又名耳後發，宜別陽實陰虛，治無一錯。患色白者，以陽和丸與二陳湯同煎服，或以小金丹服消。如色紅者，醒消丸服消。諸書不拘紅白，概以元參、牛蒡、連翹、蠶尾、赤芍、銀花等七味以治，即色紅者尚服不消，況色白者，能不遭其害乎？</p>
<p>馬曰：耳後銳毒，初有必有紅根白頭。肝肺二經邪火蘊結，又屬少陽三焦部位。是經多氣少血，陽和斷不可服。若至潰後，氣血兩虛，邪從內陷，參、耆、肉桂又當少少用之，托裡補虛。</p>
<p>又曰：初起以疏風化痰為宜。蓋銳毒即耳後發，與腦疽同。</p>

<h3>驢眼</h3>
<p>患生腳骨，俗呼夾棍疽。未潰色白以疽治，紅腫以癰治。如潰爛日久，形如驢眼者，莫以臁瘡治。當問初起紅白，以疽癰別治。</p>
<p>馬曰：是症當以癰治為正。</p>

<h3>牛程蹇</h3>
<p>腳底皮內生一泡，痛難步履。略去老皮，以生草烏酒磨塗上，速愈。如患生腳底之心，名湧泉疽，當別紅白色治。</p>
<p>馬曰：當作濕熱治。色紅者熱甚，色白者濕重。</p>

<h3>懸癰</h3>
<p>患者肛門前、陰根後，兩相交界之處。初起細粒，漸如蓮子大，數日後如桃李大，俗呼偷糞老鼠。潰經走泄，即成漏生管。漏久成怯。怯症人患此，乃催命鬼也。諸漏可醫，獨此難治，治則漏管愈大，致成海底漏不救。在於未成膿時，用生甘草、制軍各三錢，酒煎空心服，一劑即愈。如成膿，以醒消丸愈之。倘患色白者，小金丹愈之。</p>
<p>馬曰：此漏亦有治法，不雜內症者可治。如見咳嗽發熱，則不治矣。</p>
<p>又曰：熟軍、醒消、小金諸方，見陰虛咳嗽耆不可投。</p>

<h3>乳癰（又名妒乳）</h3>
<p>婦人被兒鼻風吹入乳孔，以致閉結，內生一塊，紅腫作痛，大謂癰，小謂癤。又，未產謂內吹，已產謂外吹。以紫河車草、浙貝各三錢，為末，黃糖拌陳酒服，醉蓋取汁。或用白芷散五錢，酒送，一服全消。如潰，以醒消丸酒送一服，以止其痛，外貼洞天膏自愈。倘內吹，忌服醒消。如患色白者，應以流注法治。倘潰爛不堪，以洞天救苦丹服，七日後接以大棗丸，服至收功。</p>
<p>馬曰：乳癰系肝胃氣火鬱結，與乳汁壅滯而生。其紅腫者，用草河車、浙貝，尚屬合宜。至色白者，以流注治法治之則大謬矣。蓋流注由痰滯所致，與乳癰全然各別，不得以治流注之治移治乳癰也。</p>

<h3>魚肚癰</h3>
<p>患生腿肚，此乃肉緊筋橫，在一身用力之處，最痛難忍。外以扎藥紮上，內以五通、醒消二丸，每日早晚輪服，初起立消。以藥咬穿，庶不傷筋，而無縮腳之損。色白者應以疽治，扎藥忌用，孕婦亦然。</p>
<p>馬曰：此乃濕熱及瘀血凝結而成。即色白者，亦不可以治疽之法治之。</p>

<h3>痘毒</h3>
<p>色白者，因出痘服多涼藥，血寒氣滯，乘虛發毒，往往醫家誤為痘後火毒未盡治之，致流走患生不一，久則生管成漏，漏久內生多骨，害人不少。凡遇此症，應以流注法治，以小金丹消之。有貧家痘後，不服清火之劑，結成痘毒，其色紅亮者，當以癰法治之。</p>
<p>馬曰：痘乃先天火毒，漿不足者，痘後必發毒。每生於關節移動之處，最為險惡，潰亦難斂，必生多骨。即骨出收口，筋節俱強，不能自如。初起均宜消散為是。皮白者，當和血化毒，用川芎、當歸、二陳、殭蠶、忍冬藤、貝母等治之，外用生黃豆嚼爛塗之，可消。</p>

<h3>咽喉口舌門</h3>
<p>咽喉之地，最為急症。頃刻而痛難忍者系寒，婉轉而痛方勝者系熱，猶之雷電之焰因陰生，燎原之火由漸著。《內經》云：驟起非火，緩發非寒。虛寒實熱，識透者獲濟。是在明達之士，知所區別，乃隨所施而無誤耳。</p>
<p>馬曰：喉痛之症，色白，不紅不腫者，寒也，紅而腫者，火也。然色白者，亦有因風；白而微腫者，痰與氣也。《內經》之驟起非火，緩起非寒，非指喉痛而言。若云初起，實系寒生，未必盡然，或有伏熱在內，如服肉桂，豈不助暴為虐？疑似之間，莫若先以薑湯試之，最為穩當。</p>
<p>陶曰：先生言或有伏熱在內，如服肉桂，豈不助暴為虐是矣，但以薑湯試之。其法亦未盡善，蓋姜亦熱物也。如不識脈之人，何不用西醫寒暑表，測其寒熱。況予有醫學簡便寒暑表，其法較泰西所作尤為靈捷。作表及用法，其說頗長，已載予著《有益齋雜記》內。</p>

<h3>喉痹</h3>
<p>痹者，不仁也。本無毫恙，頃刻而起，此係虛寒陰火，最為危急之症。其見證痰在喉中作響，響如打鼾，舌色白而不腫，諸書皆稱肺絕不救。蓋緣誤服寒涼，以致死耳。當以桂薑湯緩緩嚥下，可以立愈。或以生川附切片，塗以白蜜，火炙透黑，收貯，臨用取如細粞一粒，口含咽津，亦立刻痊愈。先以鵝毛黏以桐油，入喉卷之，痰出服藥。</p>
<p>馬曰：痹者，閉塞之謂，非不仁之謂。痹症湯飲猶可通，若閉則水漿不能入矣。用臥龍丹吹之，取嚏可松。</p>
<p>陶曰：又：皂角末或半夏末，吹入鼻中，皆可取嚏。如無藥物，即以細紙捻子在鼻中攪之，亦可取嚏。凡咽喉初覺壅塞，即用此法，取嚏數次，亦可散熱毒，此通竅法也。</p>

<h3>乳蛾</h3>
<p>其形圓如箸頭，生於咽喉關上者輕，生於關下者重。若左有右無曰單，或左右皆有曰雙。雙者輕，單者重。以土牛膝絞汁，含口慢嚥。如無鮮者，用天名精丸化服亦可。</p>
<p>馬曰：土牛膝汁含咽，乃是吐法。</p>

<h3>喉癬</h3>
<p>體虛多郁者患之，喉中不閉不腫，氣出如常，微微疼癢，飲食不遂者是。此係虛火，淹纏難愈。忌刺畏補。當用雪梅丸噙含，每日一丸，十日可愈。</p>
<p>馬曰：書雲實火可瀉，虛火可補。畏補之說，顯悖經旨，忌刺之言，的確不磨。又曰：此症乃水虧虛火傷肺。膽礬、雄黃不可用。</p>

<h3>喉珠</h3>
<p>系腦門生一紅線如發，懸一黑泡，大如櫻珠，掛至咽門，如用刀點即死。取土牛膝活根搗汁，以好醋二三滴和勻，滴入鼻中三四次，絲斷珠破，吐出瘀血立愈。</p>

<h3>鎖喉</h3>
<p>喉內無蛾形，痰聲不響，而喉欲閉者是。治詳煎劑門。</p>
<p>陶曰：葉天士謂鎖喉風乃杜撰之名。此病有閉有脫，閉者氣道閉塞，關竅不通而死；脫者大汗、大吐、大瀉，虛脫而死。閉證當以開通關竅為急，脫證以補虛收斂為要。</p>
<p>又曰：葉云凡遇咽喉閉證，不能開口，難以進藥，以及手足冰冷，面色青白，並無痰聲，脈伏倒地。先用紫金丹，以淡薑湯磨灌。後用二陳加菖蒲、鬱金、枳殼、香附等類，治之可愈。</p>
<p>又曰：脫證宜用大劑參、附，佐以龍骨、牡蠣、五味、黃耆之類。</p>

<h3>纏喉風</h3>
<p>喉內熱結，喉外腫繞，且癢且麻者是。治詳煎劑門。</p>
<p>馬曰：凡屬喉風，有痰者稍輕，無痰者重，不可不知。如有道路無人店之處，藥未備在者，遇有喉症，取針刺其兩指少商穴，無藥亦愈。</p>

<h3>喉閉</h3>
<p>倘喉內之痰，塞滿口舌，舌有痰護，此痰不出牙齒，作響如鼾。惟喉痹誤服涼藥有此症也。如再遲治，痰塞鼻內，氣無出入即死。急取鵝毛蘸桐油卷痰，痰出，亦以桂薑湯愈之。</p>
<p>病者二三日前，覺氣急短促，手足厥冷，忽痰壅氣閉，命懸頃刻者是。急服蘇子、前胡等藥。如於道路無人店之處，藥未備者，遇有喉閉，急取一針，針其兩指少商穴，無藥亦愈。</p>
<p>馬曰：喉閉乃咽喉閉塞，水漿不入，或有痰，或無痰。有痰須桐油探吐，以白金丸三五錢，泡湯含之，內吹秘藥。無痰者，亦以白金丸含之，吹秘藥。</p>

<h3>牙疳</h3>
<p>凡患牙疳，牙根紅腫，及口喉之症。以紫毫喉槍點之，以珍珠散吹之。</p>
<p>馬曰：珍珠散吹牙疳，甚妙。</p>

<h3>走馬牙疳</h3>
<figure>
<img alt="走馬牙疳圖">
</figure>
<p><u>少商穴，大指內側之端，去爪甲角如韭葉許，左右同。</u></p>
<p>此患最易延腫穿腮，不堪危險。急以赤霜散吹之，效速如神。久爛之孔，生肌亦速。或用馬蹄散，吹患處立愈。</p>
<p>馬曰：赤霜散，妥善可治。</p>

<h3>牙蝕</h3>
<p>此症每因患骨槽風所致。透骨穿腮，亦屬危險。用南星散拂患處，數日愈。</p>

<h3>風火蟲牙</h3>
<p>用刻歡丸一粒，噙於痛處，丸化即愈。</p>
<p>馬曰：治風火蟲牙，神效。</p>

<h3>舌上出血</h3>
<p>用水金散，吹擦即止。</p>
<p>馬曰：衄血、尿血，皆效。</p>

<h3>小兒口疳</h3>
<p>用香清餅，貼男左女右湧泉穴，一周時愈。</p>
<p>馬曰：此托藥也，可用。惟不可被割。</p>

<h3>舌腫</h3>
<p>用四黃散擦之，即愈。</p>
<p>馬曰：實火可用。</p>

<h3>口疳時發</h3>
<p>用二冬散含之，即愈。</p>
<p>馬曰：虛火用此方神應。虛火之見症，色淡不鮮，與實火有別。</p>

<h3>舌硬生衣</h3>
<p>先用針刺出舌尖黑紫血，以犀黃散搽之，須臾舌軟。</p>
<p>馬曰：舌硬是痰火上升，當服煎劑以降之，徒侍搽擦無益。</p>

<h3>熱痛喉症</h3>
<p>用壁錢散吹之，最效。</p>
<p>馬曰：是方以治痰火喉痛頗效。</p>

<h3>附：視咽喉七症訣</h3>
<p>咽喉症有七，形如箸頭蛾。無蛾喉欲閉，鎖喉症亦異。纏喉熱結內，麻癢腫繞外。日氣氣短促，厥冷喉閉礙。喉痹鼾痰響，肺絕須治快。喉癬因虛郁，微作癢疼態。不腫又不閉，淹纏最作怪。喉懸一粒珠，刀點命頃害。藥從鼻里吹，珠破病即退。</p>

<h3>附：制喉槍法</h3>
<p>以純紫毫細長筆，筆根用絲線扎固，濃磨京墨蘸飽之。俟筆曬乾，再蘸一二次，乾透極硬，用以代刀點喉。患雖被刺而不致傷損，即病家亦視而無恐矣。</p>

<h2>雜症門</h2>

<h3>湯火燙</h3>
<p>地榆磨細如面，香油浸敷。破損者，敷後加以乾末撒上。如潰爛不斂者，取伏龍肝，入炭火燒紅，水飛曬乾，研為細末，人乳調敷。或用綿線油拂上，立刻止痛，多則二次痊愈。功靈效速，乃湯火燙之聖藥也。</p>

<h3>狗咬</h3>
<p>先用尿淨，以番木鱉切片，瓦上炙炭存性，研末，撒上二三日，可以收功。如腐爛成膿，有胸痞之象者，當服護心散。治法宜主清火化毒。</p>
<p>馬曰：最妙用萬年青，即千年蓮，連根搗汁服，即用渣敷咬處。雖瘋狗咬傷，眼紅，腹內作痛者，服之無不其應如響。</p>

<h3>跌打骨斷</h3>
<p>用綠礬斤許煎湯，粗草紙浸透，裹於傷處，再以燈心繩火於紙上熏之。紙溫即將紙易，再熏可以立刻照常。或於斷骨骱上傷處，用竹片綁七日痊愈。或用黎洞丸，內服外敷亦效。</p>
<p>馬曰：方亦靈驗，然起死回生，不如回生丹多多矣。</p>

<h3>閃頸促腰</h3>
<p>用硼砂研粉，以骨鑽蘸津沾粉點兩目，淚出稍松，連點三次，立時痊愈。</p>

<h3>骨鯁</h3>
<p>用燈心灰吹三四次，骨化而愈。或用雙砂湯，連連服下，即化為涎。</p>
<p>馬曰：古方可用。</p>

<h3>天絲入目</h3>
<p>捉肥蝨二十餘個，二指捻熟，針破蝨腹，令人仰臥，將蝨血滴入眼內，少刻天絲隨血而出。</p>

<h3>塵屑入目</h3>
<p>吐津於石瓶上，以人指甲磨濃，骨鑽蘸津點入眼內，不一刻一抹而出。</p>

<h3>赤眼淹纏</h3>
<p>用金烏湯食下，隔兩日再服一次，痊愈。</p>
<p>馬曰：赤眼乃肝肺之熱，杜仲酒釀，似不宜用。</p>

<h3>孩童目疾</h3>
<p>黃連、柴胡各一錢，研末，人乳調和，塗於湧泉穴，男左女右，可愈。</p>

<h3>痘後目疾</h3>
<p>痘有初開，眼內有星翳。取杭州胭脂泡水，以紙鋪水面上，新筆於紙上蘸水，一日拂三次，三日愈。遲治帶疾。</p>

<h3>鼻衄</h3>
<p>以水金散煎服，外用龍骨末吹入，立止。</p>
<p>大麻風（爛潰不堪者、初起未爛，治法同效。）</p>
<p>用粗如酒杯之蛇一條，竹刀破腹去雜，切寸段，取瓦放於炭火上，以蛇段豎放瓦上。跌倒者系無毒之段，棄之不用；不倒者有毒，用炙存性，磨粉拌入飯內。覓通身白毛鴨一隻與食，次日鴨毛盡脫，以鴨殺之，石鍋內煮爛，勻作四五日食。凡吃鴨第一頓，其腫者更腫，第二三頓收小，吃完愈。</p>
<p>馬曰：麻風忌蛇忌酒，此方萬不可用。另附方。</p>

<h3>乳懸</h3>
<p>此乃怪症也，世間亦偶有之。產後兩乳伸長，形細如雞腸，垂過小腹，痛難刻忍。急用川芎、當歸各一個，先各取四兩，切片水煎，時服。以所餘斤半，切大塊，產婦面前放一桌，下放火爐，將芎、歸入爐慢燒，令婦伏於桌上，口鼻及乳吸菸。如葉盡未痊，再如前法煎服熏吸，便可縮上。倘不能復救，取蓖麻子一粒，冷水磨塗頭頂，見縮復舊，即時洗去乃愈。愈後倘日後再產，必復發不救。</p>
<p>故膏藥不可以蓖麻煎入，倘貼孕婦下身瘡癤即小產。產後尚不覺膏，故再貼致命。可見巴豆、蓖麻之害如此。</p>
<p>馬曰：此是古方，平妥可用。如不應，再加黃耆八兩煎服，即效。</p>
<p>陶曰：用纏足婦女臭裹布扎縛其乳，亦收上矣。</p>

<h1>卷二</h1>
<p>諺云：千學不如一見。是以從師習道，必經師率而視症，以冀見廣識多，使遇症無疑。余故以四十餘年之臨證，摘其一二奇險危篤者，或用測度推原之治，悉錄於下，以備學者目之，可免師率視症云爾。</p>

<h2>臨證治法</h2>
<p>閶門龔姓，腰患一疽，根盤圍闊二尺余，前連腹，後接骨，不紅不腫，不痛不軟，按之如木。初延余治，以肉桂、炮姜，書於方首。別後另延蘇城內外三四名家，眾視余方，皆曰酷暑安可用此熱劑。以余為非，議用攻托清涼，連治五日，病者神昏無胃。復延余治，患仍不痛，色如隔宿豬肝，言語不清，飲食不進。余曰：能過今晚再商。是夜即斃。然其至死不痛。不久伊戚亦患此症，延余治，以陽和湯服下，次日覺鬆，又服，疽消小半，才以犀黃丸與陽和湯逐日早晚輪服，第五日痊愈。後有發背相若者，照治而愈。</p>
<p>一壯年新婚百日，妻往母家，滿月方回。日值酷暑，未必欲畢貪涼多扇，五鼓時喉痛氣逆，寒熱交作。余問之，則曰：三日前喉間略有微痛，今早五鼓脹腫痛甚。視其小舌，腫如胖人拇指，知繫心腎虛實之火，並欲後經風，風火兩閉之恙。若用發表，虛上加虛，若投寒劑，風火被罨，即用前胡、蘇子、連翹、元參、赤芍、浙貝、甘、桔八味煎服，立愈。</p>
<p>一鄰友，余家飲酒，二鼓而別，次早伊僕云：陽物腫脹，痛難小便，遣來索藥。度其酒歸行房，妻以前用未洗之絹抹之，此絹必經毒蟲咬過。即用仙人對坐草以解蛇毒，割人藤以解蜈蚣毒，二草搗爛取汁，調雄黃末塗上，立刻止痛消腫，下午痊愈。</p>
<p>無錫村婦，年三旬，五月望日下午，腹飢，正取麵食，將舉箸，忽喉疼難食。彼地一醫以射干、赤芍、翹、芩、花粉、牛蒡等煎服，服即痰升滿口，響若鼾聲，痰不出齒，口有痰護。余問始知驟起，況服涼藥增險，此陰寒無疑也。但痰塞一口，萬難進藥，即取鵝羽蘸桐油釐許，入喉一卷，痰隨羽出，吐有升許，以肉桂、炮薑、生甘草各五分，入碗內，以滾水沖浸，以碗仍頓湯中，用匙取藥與咽一口，病者即稱好了，連呷三四口，人起說飢，問余要飯吃可否，余曰：與粥最宜。</p>
<p>南濠一匠，半夜請治喉症，問之不能回答。旁人云：昨吃夜飯好好，唱歌作樂，睡著忽喉痛而醒。余以炙附如細粞一粒，放其舌上，咽津數口，痊愈。</p>
<p>一婦小腿經燙，被醫者用冰片研入雪水敷之，不一刻，腿腫如斗，痛極難忍。請余治，婦曰：只求止痛，死亦甘心。余曰：幸在小腿下身硬地，倘燙腰腹，用此一罨，火毒入腹，難以挽回。以地榆研細，調油拂上，半刻痛止。令伊自拂，一二次痊愈。一使女炭火燙足背，爛一孔，以伏龍散乳調敷，不三日而愈。又鄰家一孩，爐上滾湯澆腹，因痛自手扒破腹皮，油拂上一次痛息，以地榆末干撒於破處，次日肌生，未破者痊愈。</p>
<p>宜興馮悠也，右足背連小腿轉彎處，初起不過燙毒而成爛腿。三十餘年，四起硬肛，小腿足腫如斗，爛腿可容大拳，有時出血，有時常流臭漿，滿室難聞。自以布包如磚一塊，以填孔內，否則空痛。時年七十有四，雍正六年，延余治，以老蟾破腹，蟾身刺數孔，以肚雜代包，填入孔內，蟾身覆蓋孔外，每日煎蔥椒湯，俟溫，早晚各洗一次，以蟾易貼。內服醒消丸，亦早晚二服，三日後，取地丁大力鮮草，搗爛填孔，外蓋烏金膏，仍以醒消丸日服。其肛口外四起硬塊，內有皮中滲出清水者，以嫩膏加五美散敷。內有發癢者，以白花膏貼。內有塊硬如石者，以生商陸搗爛塗。因孔內常有血出，先以參三七末撒內，次用地丁、牛蒡葉、根搗填，如此二十餘日，腿始退腫癢息，而其硬塊及硬肛皆平，皮色退黑，內肉鮮紅，患口收小平淺，可以不用草填，日以五寶散撒上，仍貼烏金膏。因老翁精神不衰，飲食不減，始終不補收功。</p>
<p>宜興徐玉梧子，周歲半。太陽一毒，背上心臍對處二毒，頸後口對處一毒，腰腹二毒，兩腿五毒，共患十一毒，皆皮色不異。其大腿二毒，已經伊處醫者開刀。聞余至，請治。以小金丹令日服二次，第五日消其九毒，消後又以小金丹服一次。因孩小，令其添一乳母，十日後，二孔皆紅潤，以保元湯，耆、草皆生，加肉桂三分，煎杯許。另水煎參六分和服。半月後，以耆、草易炙服愈，一月收功。</p>
<p>常熟趙太元長君，患橫痃，被醫家開刀。延余治，余問開刀幾月矣，彼云已有半月也。余曰：此患破則難治，還有九月之壽。即辭別。別後三百日，伊戚在蘇來云，已死月餘。</p>
<p>興邑路姓七歲童，頂門只寸許，並患三疽，潰久不斂，孔如棋大，淺而無膿，干而色灰，人倦無神。因服涼劑過多，飲食不進，延余治。余曰：色似香灰，乃氣血兩喪；無膿乾枯，精神已絕。兼值不食，難以延久，何能治之！次日而夭。</p>
<p>楓鎮閔姓，年十上，頸患瘰癧，爛成爿片，延爛耳腋及腰，如手掌大者數處，瘦弱成怯。初以洞天救苦丹與服，毒水大流，十日後以陽和湯、醒消丸每日早晚各服一次，十日項能舒轉，飲食日增。外貼陽和膏，內服大棗丸。嗣後仍以前膏貼之，始終用荊芥湯洗，以山蓮散敷，九十日收功。因未服子龍、小金二丸，其毒根未除，後腋生惡核，仍以子龍丸消之杜患。</p>
<p>山塘姚姓媛，年二十九，小產月餘。左肩手搭處，先發一毒，周有尺五，患後半月，背脊添出一毒，自上至下，計長一尺三寸，上闊下尖，皆白陷。十日後始請余治，其勢甚篤，連服陽和湯三劑，人能坐起，五劑自能大小便，十二劑其續發者全消。先發之搭手，餘地皆消，只剩患頂有膿者，如棋子大，膿足不痛而穿，四日收功。後言背上如負一板，舒轉不快，以小金丹十丸，每日二丸，服畢，肌膚不板，神色復元。</p>
<p>程姓母年七十，膝下患一陰毒流注，潰經數月，患下及旁，又起硬腫二塊，與舊患相連。延一醫，以新發之毒，誤為舊患旁腫，不識流注，竟以托毒之劑與服。服二劑，致新發者被托發痛，始延余治。余以陽和湯與服三劑，新發之二毒皆消，接服小金丹十丸，後進滋陰溫補，以杏仁散敷，半月膿厚，令服保元湯加肉桂，十餘劑愈。</p>
<p>王姓媳，頸內瘰癧數個，兩腋惡核三個，又大腿患一毒，不作疼癢。百餘日後，日漸發大，形幾如斗，按之如石，皮現青筋，常用抽痛。經治數人，皆稱曰瘤。余曰：瘤系軟者，世無石硬之瘤，乃石疽也。問可治否，答曰：初起時皆可消，日久發大，上現筋紋，雖按之如石，其根下已成膿矣。如偶作一抽之痛，乃是有膿之證，上現青筋者，其內已作黃漿，可治。如上現小塊，高低如石岩者，不治。三百日後，主發大痛，不潰而死。如現紅筋者，其內已痛，血枯不治。倘生斑點，即自潰之證。潰即放血，三日內斃。今患所現青筋，醫至患軟為半功，潰後膿變濃厚，可冀收功也。外以活商陸搗塗，內服陽和湯，十日則止一抽之痛，十三劑裡外作癢，十六劑頂軟，十八劑通患全軟。其頸項之癧塊，兩腋之惡核，盡行消散，一無形跡。只剩石疽未平，內膿袋下，令服參一錢，因在筋絡之處，先以銀針刺穿，後以刀闊其口，以紙釘塞入孔內，次入兩次流水斗許。大劑滋補托裡，刪去人參，倍增生耆，連進十劑，相安已極。適有伊戚，亦行外科道者，令其耆、草換炙，服不三日，四外發腫，內作疼痛。復延余治，余令以照前方服，又服二十餘劑，外以陽和膏，隨其根盤貼滿，獨留患孔，加以布捆綁。人問何以既用膏貼，又加布綁，答曰：凡屬陰疽，外皮活，內膜生，故開刀傷膜，膜爛則死。所出之膿，在皮裡膜外，僅似空弄，又不能以生肌藥放入，故內服溫補滋陰活血之劑，外貼活血溫暖膏藥，加之以捆，使其皮膜相連，易於膿盡，且又易於連接生肌。綁後數日，內膿濃厚，加參服兩月收功。</p>
<p>宜興一舟子，陰囊形大如斗。被走方者穿之，不數日，爛見腎子，如雞蛋大，旁有一筋，六七寸長，形若雞腸雙環，隨腎子落出，臭氣難聞。令以紫蘇煎湯洗淨其筋上爛腐，問其腎子、小便、小肚痛否？彼曰：皆不痛。余曰：此三處作痛難治，今不痛者，可治。日以紫蘇湯洗，洗後以蘇梗為末撒上，用青荷葉包之。內服黃連、歸尾、黃芩、甘草、木通等藥十劑。五日後腎子收上，爛孔收小。此非患毒，乃是損傷，口既收小，肌色紅白，內服地黃湯，外敷生肌散而愈。</p>
<p>福建客，滿身廣豆，又患橫痃。余想橫痃乃陰虛之症，藥宜溫補；廣豆系火毒之症，藥宜涼解，二症相背，既利於毒，必害於疽，務使二症皆宜之藥，非犀黃丸，外無他法。令其每日空心時，酒送三錢，十服，二症痊愈。後一人毒重者，倍服而愈。</p>
<p>婦，項痰核三處，年久生管，延治。以拔管藥插入，日易，半月愈兩，惟有一管，淺如一粞。不意伊夫遠歸，兩日管深如舊。余曰：此刻治，定無功效，容日商治。伊母問余，余曰：俟令婿出外，半月亦可收功。數日後，接女歸，延治而愈。又，壯年，臂有二管，問伊可有暗疾，曰：有夢遺。余以六味刪去澤瀉，增線膠、龍骨、芡實、蓮鬚為丸，鹿含草煎湯，晨夕各送三錢，服完，二管皆痊。</p>
<p>一婦，兩乳皆患乳岩，兩載如桂圓大，從未延醫。因子死悲哭發威，形大如杯，以五通、犀黃丸，每日早晚輪服，九日全消。又，男子乳亦患，因鄰送鯽魚膏貼上，兩日發大如拳，色紅始來。令其揭下，與服陽和四劑，倘色轉白可救。色若仍紅，無救矣。四日，患色仍紅，哀懇求治，以犀黃丸、陽和湯輪服，服至十六日，四餘皆消，獨患頂潰，用蟾拔毒三日，半月收功。</p>
<p>洞庭秦卜年，項腋惡核十二處，服連翹、昆布等藥病重，又被刺破，爛經三載，始來就醫。以陽和湯、犀黃丸輪服半月，十中愈八，喜甚，帶藥而回。路見涼粉買食，至家又食冷水激面，次日二便皆閉，第五日死。此病者自不惜命，故記以為病者之戒。</p>
<p>南濠客葉姓，耳下並患惡核，一被針穿生管，一大如杯，以陽和、小金輪服，未潰者全消。彼問管可易愈否？余曰：消管甚易，管消即斂。倘將斂，一經走泄，管即復生，愈期難訂。彼系真誠，果即斂。</p>
<p>洞庭錢永泰子，患痘毒，醫用清火解毒之劑，以一醫毒增六七，再醫毒生二十，醫至第二年，孔皆有管，日流臭漿，右足縮不能行，坐臥三載，始來就治。以陽和、小金、犀黃等丸與服，內用化管藥，半月愈半，一月管化，有多骨者亦出。彼欲領子回家，才以生肌散並調和氣血之丸與回。任子率性，欲食即與，不洗即止，不敷即停，日以酸橙石榴等果消閒，嚴冬復臭難聞。余曰：臭則爛，香則生。肌寒疽未斂，日食酸澀，領回三月，患管復舊，乃父母害之也。</p>
<p>婦，乳患一白疽，寒熱痛甚，余以陽和丸同二陳湯煎服，得睡痛息，連進三服痊愈。</p>
<p>又婦，患者相告，伊弟亦習外科，以夏枯、花粉、連翹、橘葉等藥，連服五劑，號痛不絕。延治，余視向白色變微紅，難以全消，即書肉桂、炮薑、麻黃，加二陳湯，令伊煎服，當晚痛止能睡，明日皺皮縮小，服下果然，連進數劑，患項不痛而潰。貼陽和解凝膏收功。</p>
<p>木瀆鎮談姓婦，背患如碗，初起色白，近已轉紅，痛甚，時值三伏，余以陽和湯書畢，旁人云：此暑天緣何用麻黃髮表，桂、姜之熱劑，余曰：此陰症也。彼云：患色轉紅，陰已變陽。余因其說，恐患家疑懼，立令等候煎服，服不逾時，痛息，接服四劑，患消七分，其有膿之三分，不痛而潰，五日收功。</p>
<p>一童十一歲，手足臂腿及指頭面遍身浮腫，數日後，日增沉重，以致氣喘不能眠。偶有遠客，令覓黃皮柑子一隻，同酒釀二斤，煎至將干，去柑內核，取連酒釀食之，二次痊愈。</p>
<p>馬曰：以上方案，瑕瑜互見，已於各症內聲明，茲不贅述。</p>

<h3>附：家秘內科經驗速效方</h3>
<p>以上外科之治法，並諸方藥，業已和盤托出，悉載前集。所有家秘內科雜症，亦藥到病愈，萬無一失，盡錄於下，以添病者速愈之益爾。</p>

<h3>調經種子湯</h3>
<p>歸身　川芎　吳茱萸（各一錢）　熟地　制香附（各半錢）　白芍　茯苓　丹皮（各八分）　元胡索　陳皮（各七分）</p>
<p>若經水先期者，色必紫，加條芩八分。過期者，色必淡，加官桂、乾薑、熟艾各五分。不落先期、落後，每服加生薑三片，水一碗半，煎八分，俟經水至日，空心服起。以渣再煎，臨臥服。一日一劑，服至經止兩三日，交媾即孕。</p>
<p>經期准而不孕者，以續斷、沙參、杜仲、當歸、益母草各二分，川芎一錢，砂仁炒研五分，制香附二錢，橘紅一錢，種子紅花三分。至期服四劑，下期再服而孕。</p>

<h3>求嗣得孕說</h3>
<p>昔褚澄言：男精泄於先，而女精後至，則陰裹陽，主男孕。如女精泄於先，而男精後至，則陽裹陰，主女孕。又言：月信初盡，其濁氣未清，而交媾，即女。務待經止兩足日，則女體虛而濁氣盡，再男人保養月餘，陽勝於陰，定成男孕。又論子宮左右，如男精泄於婦人之左生男，右則生女，此男清女濁，男左女右，陽壯陰衰之至論也。凡疾風暴雨，或醉飽，或服藥石而受胎者多夭。必俟天氣晴明，日暖風和，明星亮月而受胎者多富貴。倘時令不正，或迷霧氣怒而受胎者，多愚蠢貧賤。或雷電之後而受胎者，定生怪物，求嗣者慎諸。</p>

<h3>手足不仁骨骱麻木</h3>
<p>甲尾片、番木鱉各精製淨末二兩，川附末一兩，和勻，每服七分，用好陳酒，五鼓送下，醉蓋取汗。服後痛處更痛，麻處更麻，頭眩、背汗、昏沉，四五刻即定，定即痊愈。如服後不覺疼麻，必要服至知覺方止。</p>

<h3>手足骨骱疼痛</h3>
<p>用熟地四兩，搗爛，浸入滴花燒酒二斤，隔湯頓熱，以竹筷攪勻，俟冷，隨量日飲至愈。飲時取所浸熟地過酒。</p>
<p>馬曰：此方虛人可服，如風濕入絡者不可用。</p>

<h3>痛風</h3>
<p>遍身疼痛，以當歸、桂枝、元胡索、天麻各等分為末，均五服，酒送下可愈。</p>

<h3>箭風</h3>
<p>用元胡索、桂心、當歸、五靈脂、木香、白芷、防風各一錢。酒煎，食遠服。連服三日，可以止痛。</p>

<h3>雷頭風</h3>
<p>此諸藥不治之症也。惟以山羊屎炒炭研粉，酒送二錢，甚效。</p>

<h3>偏正頭風</h3>
<p>白芷三錢，天麻一錢，防風一錢，荊芥錢半。煎服即愈。</p>

<h3>胃脘痛</h3>
<p>取鮮蒲公英，瓦上炙枯黑存性，研末，每取五分，滴花燒酒調團口含，再以燒酒送咽。痛息，接服五日痊愈。戒食生冷，或用紅坊內好紅花四分，棗頭十枚，入水二碗，煎至棗熟，去花以湯棗食，連服二十日，永遠除根。</p>

<h3>痞癖</h3>
<p>凡患痞癖之處，肌膚定無毫毛，須看準以筆圈記。用密陀僧六兩，阿魏五錢，羌活一兩，水紅花子、麝香各三錢。以香油一斤，煎成膏，退火攤貼患處。新起者一膏而消，年久者兩張而愈。再以水紅花子三錢研末，火酒二斤浸，隨量時刻飲之，至愈而止。</p>
<p>馬曰：必藜藿之輩，胃強體實者方可用。婦女更當察脈辨症，不可嘗試。</p>

<h3>三日大瘧</h3>
<p>患日前，用陽和解凝膏布攤貼背，用常山、雲苓、官桂、甘草、檳榔各三錢，小黑豆四十九粒。酒水各二碗，慢火煎剩兩碗，當晚以一碗先服，蓋暖而睡。留一碗，次日瘧前兩時頓熱服，蓋暖，臥待瘧至，即至亦輕。亦有當日而愈者。愈後忌房事，戒食生冷，勞碌風霜。忌食雞、羊、牛，蛋，白扁豆，自慎半月。永截不發，小瘧減半。</p>
<p>馬曰：常山雖治瘧有功，然究竟太覺峻利，頃附一方，甚為神應，可法也。常山四兩，陳酒五斤，雞蛋七枚。砂罐內煮熱。瘧至時，兩手握蛋，冷則易換，至熱退汗出而止。久瘧用之，神效莫測，然而初起，亦不可用。</p>

<h3>黃疸</h3>
<p>凡患黃疸者，眼白黃，小溲赤，遍體軟，取黃豆生嚼，不噁心者是。用蒼耳子、薄荷、木通、綿茵陳各三錢。須原陳酒一斤，煎一碗，沖炒砂仁末三錢服。如小便赤如血者，加川連一錢同煎。</p>
<p>馬曰：方亦平妥，不若香鯽膏更為神應。</p>

<h3>濕症用酒辨</h3>
<p>上方屢用愈人，或有議之者，謂癱瘓、黃疸皆濕症，應忌酒。殊不知酒雖濕物，今令其做緝濕捕，善識濕穴，領藥戰濕，非酒不可。或又謂經滴水而不效者，何也？答曰：酒被水解，捕猶賊阻也。</p>

<h3>紅白痢</h3>
<p>凡痢不拘紅白，忌用川連，服則倒謂。如腹痛而痢者，不用別劑，只用車前子炒研二錢，檳榔、川樸、楂炭、陳皮、滑石、甘草各一錢，紅曲炒三錢，澤瀉、枳實各一錢，燈心一撮。以上十一味同煎。另以木香六分，酒磨，以所煎藥湯加陳酒沖服，可以立愈。倘或增減，定然不效。</p>
<p>如發不作痛，惟痢膿血，兼流黃漿，此係平素愛食冷茶、水酒、滑腸等物，致成積濕休息痢之症。凡患者，忌食水果、水酒、生冷、海參、海蜇等性寒之物，須用活鱔魚去腸雜，切段放瓦上，炙炭研粉，每服三錢，黃糖拌，熱陳酒送下，數服痊愈。不拘老幼，滑腸久痢者神效。</p>
<p>馬曰：恐有內痔，須辨。</p>

<h3>癡癲症（附：羊頭風）</h3>
<p>凡患癡癲或羊頭風等症，緣心竅中痰迷所致。取橄欖汁十斤，敲損，入砂鍋煮數滾，去核，入石臼搗爛，仍入原湯煎膩出汁，易水再煎，煎至無味，去渣，以汁共歸一鍋，煎濃成膏。用白明礬八錢，研粉入膏攪和，每日早晚各取膏三錢，開水送服。或初起輕者，取橄欖咬損一頭，蘸礬末入口嚼咽，橄欖之味更美，至愈乃止。</p>
<p>馬曰：此方不特能治癡癲，即小兒驚風后手足有時抽搐、神呆目定，均可服之。</p>

<h3>吐血</h3>
<p>凡吐血多者，覓三兩外重大全當歸一隻，切細，取好陳酒一斤，慢火煎至一滿碗，頓於鍋中，以溫為妙，候將要吐尚未吐，口中有血含住，取藥一口，連血嚥下，即此一劑而愈，後不再發。</p>
<p>馬曰：不嗽者可服。</p>

<h3>吐血用酒辨</h3>
<p>每有醫家議云：吐血尚要戒酒，豈可酒煮當歸而服？服則血噴不止，如之奈何。殊不知當歸二字之解：當者，當其時；歸者，引血歸經也。全用定主引血歸經。此方乃余家世傳，活人多多，從無一誤。</p>

<h3>痰中帶血</h3>
<p>取活雄雞一百隻，每日清晨空腹時，以一隻殺血碗內，趁勢嚥下，忌加鹽。百日而食百雞之血，不可隔斷，食完痊愈。</p>
<p>馬曰：日殺一生，亦太暴殄，且亦未必即愈。或用回龍湯，頗有效驗。</p>

<h3>咳嗽</h3>
<p>吧旦杏仁一兩，泡去皮尖，內有雙仁者棄之。買新擂缽，新研捶，將杏仁搗爛如泥，分為三服。每服內加冰糖三錢，共入蓋碗。另用泉水煎滾衝入，蓋片刻俟溫，連仁末服下。早晚各一次，三服而愈。如以杏仁同煎無效。</p>
<p>馬曰：此方治燥痰久咳有驗。</p>

<h3>冷哮</h3>
<p>江西白豆豉一兩，白砒一錢，皆為末。用飯三錢，研爛，入末為丸如萊菔子大。每取七粒，白湯送下。童子服可除根，有年者經寒即發，服可把定不哮。</p>
<p>馬曰：此方治冷哮極驗，然不得多服。</p>

<h3>胃寒嘔吐黃水</h3>
<p>用生薑一斤，搗取汁碗許，入廣膠、乳香末、沒藥末各五錢，同煎膠化，離火取藥，攤作三四大膏，令貼胃脘痛處，以絹綁縛三個時辰，然後取周歲孩鞋兩隻，爐上烘極熱，輪熨，熨至膏硬，再易膏貼，再綁三時，熨至愈而止。然後用紫厚朴三斤，帶皮生薑二斤切片，以水五升煮透，去姜留樸，火上焙乾，再用生甘草二兩，乾薑四兩，依前煮之，去草留姜，連前所煎之樸炒燥，共為細粉。另以黑棗頭一斤，用生薑二兩，同棗煮熟，取棗去皮核搗爛，和藥末為丸，曬乾，每日早晚各服三錢，白湯送下。服完不發。</p>

<h3>翻胃初起</h3>
<p>用陳皮土炒，色黃香脆為度，研為末。每服三錢，水煎飲之，神效。</p>

<h3>腸紅</h3>
<p>取花椒子炒，磨粉，黃糖拌，每服三錢，白湯送下，服至愈止。</p>

<h3>水瀉</h3>
<p>用炒焦蒼朮、車前子各二錢，焙，楂炭厚朴、土炒陳皮各一錢煎服，立愈。小兒減半。</p>

<h3>小便閉</h3>
<p>此症乃氣閉，非大小便不分也。醫家每以澤瀉、木通、車前、豬苓等藥，全無一效。余遇此症，以歸身一兩，川芎五錢，柴胡、升麻各二錢半，水二碗，煎八分，一服即通。曾救多人，或孕婦及老年之人，加人參一錢。</p>
<p>馬曰：方極妥善。</p>

<h3>大便燥結</h3>
<p>老年人，或患癰毒，大便燥結，以四仁湯服之立效。</p>

<h3>尿血頭裂</h3>
<p>當歸一兩，以陳酒一升煎之，一次服下即愈。</p>

<h3>白濁</h3>
<p>牛舌頭草根，即野甜菜，又名禿菜根，近水池處最多。取根煎湯當茶飲，或以湯煮粥食，至愈乃止。或用生白果三枚，搗爛，滾豆腐漿沖服。</p>

<h3>夢遺</h3>
<p>六味湯內減去澤瀉，增龍骨三錢，研細水飛，蓮鬚一兩，芡實二兩，線膠四兩，用牡蠣粉炒成珠，共研為末，蜜丸。每日早晚各取四錢，鹿含草煎湯送服。</p>

<h3>烏痧脹</h3>
<p>丁香、雄精、蒼朮、硃砂各等分為末，取蟾酥亦等分切片，酒浸研漿，和前末搗為丸如芥子細，曬乾瓶貯，每取七粒，溫茶送咽，立蘇。</p>

<h3>小兒病症</h3>
<p>面黃腹大不瀉，得食易吐，名曰冷疳。以丁香七枚為末，人乳調，蒸三四次，薑湯送服可愈。若吐瀉兼者，橘紅、丁香各等分，為末蜜丸，米湯送下。若不瀉而頻吐不止者，加姜半夏末，麵漿糊丸，薑湯送下。</p>

<h3>疳臌食積</h3>
<p>取雞內金三十個，忌經水，瓦上炙無臭氣，成炭存性，研為細末，再用炒車前子四兩研粉，二物和勻，以餳糖溶化與食，食完痊愈。忌食炒豆、熬油、結硬等物。若遲治傷目，或用田雞白水煮熟，加薑末少許，淡食，至愈乃止。</p>

<h3>小兒蟲症</h3>
<p>凡患蟲症，當分別治之。治紅蟲以烏梅兩個，花椒三十粒，煮湯服之。然後用檳榔六兩，黑醜、白醜各二兩，共為細末，每取二錢，黑糖拌食。幼孩服錢半，蟲可祛盡。治肉鱉寸蟲，以楝樹根肉、青皮蒸透，曬乾再蒸，每服一錢，白糖拌食，幼孩服六分，其蟲自絕。</p>
<p>馬曰：必實見蟲症方可用。</p>

<h3>小兒夜啼</h3>
<p>因穿蓋過暖，遏熱所致。諺云：若要小兒安，常帶三分飢與寒。取雞屎塗臍中，男雌女雄最妙。或用真犀黃、飛辰砂各五釐，研末塗舌上，立止。</p>

<h3>急慢驚風</h3>
<p>辰砂、輕粉各一錢，殭蠶七條，全蠍三個。共研細，用青蒿節內蟲，搗和為丸，如綠豆大，臨用取一丸研細，人乳調服。</p>
<p>馬曰：方頗效驗。</p>

<h3>啞驚</h3>
<p>天竺黃二錢，麝香、犀黃各四分，雄黃、殭蠶各一錢，琥珀六分，陳膽星四錢。各為末，用甘草、鉤藤鉤煎膏為丸，硃砂一錢為衣，外加赤金，每料均作四十丸，每服一丸，用燈心炭四錢，薄荷煎湯送下。或捉大蜘蛛一個，炙存性，研粉，豬乳調服一半，徐徐灌下。</p>
<p>馬曰：一粒金丹亦驗，然不可多服。</p>

<h1>卷三</h1>

<h2>諸藥法制及藥性</h2>
<p>夫用藥如用兵也，兵有勇猛，藥有燥烈。烈藥經制則純，勇兵經練則精。兵精破賊不難，藥純治病易愈。苟炮製不妥，猶勇兵之武藝未備也。今人不精於制，而視性之烈燥者畏之如虎，反諉之曰：非徒無益，惟恐有害。予初讀藥性，繼攻炮製，然藥之性，古今之議未遠，炮製之法卻有不同。予留心四十餘年，深得其法，用之功靈效速，萬無一失，始悉烈藥之力如勇兵，製藥之方如演武也。因古書獨於烈藥之處未詳，是以錄登是集，為炮製之補遺云爾。</p>

<h3>甘草</h3>
<p>切三寸一段，水浸透，放鐵篩上，炭火慢炙，炙至汗將出，即取離火，暫冷再炙，炙至草熟，去皮切片。熟者健脾和中，甘平之品，乃九土之精。生者化百毒，和藥性，潤肺，解瘡疽胎毒，利咽喉。</p>

<h3>人參</h3>
<p>補氣，獨入肺經。肺主諸氣，肺旺則四臟皆旺，精自生而形自盛，補中益氣，一切虛症要品。</p>

<h3>黃耆</h3>
<p>去心，蜜水潤炙。如入補腎藥，以鹽水潤炙切片。炙為補氣藥，生有托毒功。</p>

<h3>白朮、於朮</h3>
<p>浸一宿，切片，土拌蒸透，去土勿炒。於朮，浸刮去皮，飯上蒸，日曬數次如棗黑，黃土炒。於朮之功，勝於白朮，乃中宮和氣補脾之藥。</p>

<h3>蒼朮</h3>
<p>泔水浸，去粗皮，切片曬乾，土炒炭，治脾胃寒濕，消痰逐水，不伏水土，止瀉痢霍亂，久服延年。</p>

<h3>當歸</h3>
<p>酒浸，曬乾切片，上部用頭，中部用身，下部用梢。頭身活血，梢破血，全用定血，引血歸經，除頭痛，和血補血，潤腸胃、筋骨、皮膚，排膿止痛。</p>

<h3>白芍</h3>
<p>外科用酒炒，固腠收斂。</p>

<h3>赤芍</h3>
<p>消癰腫，破堅積惡血，下氣，生肌止痛。</p>

<h3>厚朴</h3>
<p>去皮切片，每斤取帶皮生薑四兩，切片同煮汁干，炒透去姜，溫中消痰，厚腸胃，除積冷、宿血、宿食。</p>

<h3>丹參</h3>
<p>色赤，酒潤炒，血分藥也。補心血，養神志，生新血，安生胎，落死胎，為胎前產後要藥。每晚酒送末二錢，連服四十日，可療痛經，即孕。</p>

<h3>元參</h3>
<p>蒸曬，忌銅器，消癰，滋陰降火，利咽喉，通小便。</p>

<h3>地黃</h3>
<p>生用性寒，涼血滋陰，解熱。水煮至中心透黑，然後每斤入滾陳酒半斤，炒砂仁末一錢，再煮，煮至汁盡，瀝起曬乾，所瀝原汁，仍入收盡，再曬乾，忌經鐵器。補陰壯真氣，生肌填髓，同肉桂引火歸元，療陰分虛虧。</p>

<h3>牛膝</h3>
<p>產川者佳。酒拌蒸則補，生用亦效。補腎強四肢。產懷者下行。</p>

<h3>麥冬</h3>
<p>去心，酒浸則補，湯泡則微寒，祛熱毒浮腫，泄肺中伏火，安髒心腹。</p>

<h3>天冬</h3>
<p>去心，酒潤。治陽物不起，潤五臟，咳嗽消痰降火，去風熱煩悶。</p>

<h3>茯神</h3>
<p>安魂魄，養心血，治心神不安。</p>

<h3>赤茯苓</h3>
<p>破結氣，瀉心、小腸、膀胱濕熱，利竅行水。</p>

<h3>白茯苓</h3>
<p>蒸透，切。逐水暖脾，生津止泄，除虛熱，開腠理。</p>

<h3>穀芽</h3>
<p>啟脾進食，寬中消食。</p>

<h3>麥芽</h3>
<p>開胃消食，和中。</p>

<h3>苡仁</h3>
<p>補肺益脾，去濕消水腫，理腳氣。</p>

<h3>芡實</h3>
<p>炒，治遺精濁帶，益精，助胃氣，明目。</p>

<h3>杜仲</h3>
<p>去皮，每斤用蜜三兩塗炙，蜜盡為度。肝經藥也。補中益腎，補肝虛，堅筋強志。</p>

<h3>肉桂</h3>
<p>純陽之品，引火歸元，解陰寒凝結。去皮曰桂心，更純。桂枝性橫，走手臂，發表。</p>

<h3>官桂</h3>
<p>理陰分，解凝結，愈瘧疾，行血分，通毛竅。</p>

<h3>川附子</h3>
<p>昔產深山，有毒，今民家栽種，無毒。用水浸一二日，每宿易清水，浸去鹹味，麵裹火煨，切片曬乾，補腎肝陰虛，治中風癱瘓，陰陽疝氣。</p>

<h3>大黃</h3>
<p>每斤用陳酒五斤，煮爛曬乾，名熟軍。治燥結熱毒，清實火，下宿積，化停食。生熟功同，熟者純。</p>

<h3>黃連</h3>
<p>大寒，治實火。凡痢疾、目疾，非實火，誤服致命，為倒胃之藥。惟驚能療，解巴豆、輕粉之毒。胡黃連性同。</p>

<h3>黃芩</h3>
<p>苦寒，風痰骨蒸，喉膽癰毒，養陰退陽。</p>

<h3>香附</h3>
<p>去皮，童便浸，水洗曬搗，醋鹽水拌炒。解鬱消癰，積聚痰飲，調經。</p>

<h3>琥珀</h3>
<p>用側柏子末，入瓦鍋煮，有異光取起，入燈心對分，研為粉。清肺利小腸，安五臟，定魂魄，消瘀血，明目。</p>

<h3>冰片</h3>
<p>苦寒，治舌口咽喉火毒，研水調吞，治難產。</p>

<h3>沙參</h3>
<p>清肺火，益心，治久嗽肺痿，消癰排膿。</p>

<h3>苦參</h3>
<p>泔水浸，蒸切曬乾。主風熱蟲症，腸風血精，下痢，治大麻風，虛弱忌服。</p>

<h3>松子仁</h3>
<p>潤肺，治燥結咳嗽，同柏子仁治虛閉。</p>

<h3>柏子仁</h3>
<p>甘平無毒，興陽道，益壽元，潤腸安神。</p>

<h3>杏仁</h3>
<p>去皮尖，除肺熱氣逆，潤大腸氣閉。</p>

<h3>大麻仁</h3>
<p>利大腸熱燥，大便熱結。</p>

<h3>乳香</h3>
<p>每斤用燈心四兩同炒，炒至圓脆可粉為度，扇去燈心，磨粉用。消癰止痛，托裡護心，治遺精難產。</p>

<h3>沒藥</h3>
<p>製法與乳香同。破堅敗惡血，消腫生肌，墮胎去翳。</p>

<h3>芸香</h3>
<p>（亦名白膠香）</p>
<p>水煮三度，俟湯溫，手扯油淨，冷即硬，磨粉。解疽毒止痛，輕粉對研，豬油調敷爛孔。</p>

<h3>樟腦</h3>
<p>每兩用碗對合，濕紙封口，火升半時則成樟冰。治中邪腹痛，風痰。加花椒同升，殺蟲牙，止牙疼。</p>

<h3>丁香</h3>
<p>辛溫，治霍亂痞塊，吹鼻愈腦疳，反胃開膈關，腹中腫毒，鼻中息肉，乳頭裂破。</p>

<h3>沉香</h3>
<p>乾研末或酒磨，以煎劑沖服。治腫毒，心腹痛，調中補臟，益精神，壯陽。</p>

<h3>松香</h3>
<p>先取胡蔥煎湯，去蔥，以湯分三次煮香，每俟湯溫，在湯內手扯洗，其油去盡，冷凝磨粉。專療濕風，治白禿，生入膏生肌。</p>

<h3>木香</h3>
<p>下降療腫毒，止吐痢，消積止腹痛，統理氣分。</p>

<h3>草烏</h3>
<p>有烈毒，去皮取白肉，每斤用綠豆半升同煮，豆開花，去豆取烏，切曬磨粉。治風痰，手足拘攣，逐凝結，追筋絡寒痰，開腠理。以黑皮炙研醋調，治蛀髮癬。</p>

<h3>川烏</h3>
<p>功同附子，性暖助陽，補命門不足，破積冷痢。</p>

<h3>巴豆仁</h3>
<p>研壓數次，油盡如粉，名巴霜。拔毒。孕婦忌用。</p>

<h3>枳實枳殼</h3>
<p>即細皮香圓。六月摘者實，八月摘者殼，陳蛀者佳，並去瓤核，以麵炒。實寒，消食積，開胸結。殼亦寒，健脾開胃，止吐消痰，除裡急後重。</p>

<h3>青皮</h3>
<p>順逆氣開鬱，解疔毒。</p>

<h3>檳榔</h3>
<p>健脾破結，療痢，裡急後重，截瘧。</p>

<h3>神麯</h3>
<p>消食健脾，暖胃，止瀉吐，破堅結。</p>

<h3>山楂</h3>
<p>浸透去淨其核，曬乾炒炭。除產後惡血，消肉積，積滯宿食。</p>

<h3>廣陳皮</h3>
<p>治脾不化谷，膀胱熱，利小便，殺寸白蟲。去白名橘紅，消痰止泄咳，開胃，治吐清水，腸閉，解大毒。</p>

<h3>枸橘</h3>
<p>陳者佳，全用療子癰。炙存性，研，陳酒送服，療疝氣。核，治腸風下血，方中橘核即此。每有以爛橘核誤用者，蘇城醫家，尚未認得枸橘。</p>

<h3>浮麥</h3>
<p>止虛汗、盜汗、虛熱。</p>

<h3>高良薑</h3>
<p>土炒，療寒邪痞癖，瘴瘧宿積。</p>

<h3>生薑</h3>
<p>溫中去穢，除風邪暖胃，消寒痰，解食菜毒。乾用止嗽嘔。炒成炭，性純陽，如誤服寒劑，非此不解。</p>

<h3>水紅花子</h3>
<p>研損用，克堅消痞，痰積惡滯。</p>

<h3>車前子</h3>
<p>酒拌炒，研損，分理陰陽，利小便，止暑濕瀉痢，益精養肝肺，強陰止痛。</p>

<h3>馬鞭草</h3>
<p>苦，微寒，熬膏，空心酒服半杯，治癥瘕，殺蟲，通經活血，塗癰癤。煎湯熏洗陰腫，洗楊梅惡毒。</p>

<h3>連翹</h3>
<p>瀉心火，脾胃濕熱，結熱腫毒，心家客熱，通經。</p>

<h3>牛蒡子</h3>
<p>酒拌焙乾，研損，達肺利陰，消痘疹毒。根、莖、葉苦寒無毒，混名氣殺醫生草。生搗塗，消一切癰毒，塗軟一切堅肛。入爛孔，拔毒生肌。入膏，貼癰癤。煎湯，洗楊梅等毒。去毛敲損，治黃疸脾濕。</p>

<h3>麻黃</h3>
<p>連根發表，用梗不表，甘溫，開腠理凝滯閉塞。</p>

<h3>桔梗</h3>
<p>去頭枝浮皮，泔水浸一宿，切片微炒，清利肺經，消痰理咳，清上焦熱，治咽喉排膿，口鼻諸症。</p>

<h3>知母</h3>
<p>去尾切片，上行，酒潤焙；下行，鹽水潤焙。瀉有餘之相火，多服令人泄。</p>

<h3>天麻</h3>
<p>酒浸透，以粗紙黏余酒裹煨，切片焙用。治風濕四肢拘攣，助陽通血脈，利腰膝強筋，頭風眩暈。</p>

<h3>地榆</h3>
<p>水洗去骨，切曬磨粉，愈惡肉，燙火膿血，犬傷。</p>

<h3>白芨</h3>
<p>療瘡，嚼塗手足燥裂。</p>

<h3>三七</h3>
<p>止血定痛，癰腫蛇傷。</p>

<h3>秦艽</h3>
<p>去毛浸一宿，曬乾切片，搜肝膽伏風，養血榮筋，理肢節痠麻不遂。大便滑泄者忌用。</p>

<h3>柴胡</h3>
<p>去皮，切，忌經火。苦寒，行兩脅，入膽經，暢氣血，肩背痛。銀柴胡亦同，勞羸者尤宜。根上升，梢下行。</p>

<h3>前胡</h3>
<p>去淨皮須，入竹瀝內，浸潤曬乾切用。微寒。肝膽中風痰，非此不療。柴胡主升，前胡主降。散風祛熱，消痰下氣，開胃化食，止嘔喘嗽，安胎，治小兒夜啼。</p>

<h3>防風</h3>
<p>甘溫，走膀胱，瀉肺實火，頭風眼淚，祛濕，而黃耆得之，其功愈大，乃相畏而相使也。</p>

<h3>獨羌二活</h3>
<p>去皮焙用。治一切痛風，散癰毒惡血，腎間邪風。</p>

<h3>升麻</h3>
<p>內白外黑者佳。治脫肛遺濁，小便閉塞，用此提氣。下元虛者忌用。</p>

<h3>元胡索</h3>
<p>破血利氣，通經止痛。</p>

<h3>貝母</h3>
<p>去心，糯米炒黃，治肺家燥痰，敷惡瘡。浙貝去心，炒，專消癰疽毒痰。</p>

<h3>龍膽草</h3>
<p>去頭須，切細，甘草湯拌，曬，味澀大寒，相火寄在肝膽，瀉肝膽膀胱之熱火，療咽喉。</p>

<h3>茅根</h3>
<p>甘寒入胃，治內熱煩渴，利小便，止喘、黃疸。</p>

<h3>細辛</h3>
<p>去頭爪，水浸一宿，切曬。治牙疼，頭風，通疔竅。</p>

<h3>白芷</h3>
<p>水浸去灰，切炒，消癰蝕膿，頭風中風，解砒毒。</p>

<h3>川芎</h3>
<p>不油者佳，忌獨用。主一身氣血，開鬱去瘀血，調經種子，排膿生肌，頭風目淚，多涕，去濕。</p>

<h3>丹皮</h3>
<p>酒拌蒸，產後要藥，治骨蒸，麵裹煨熟，厚大腸。</p>

<h3>藿香</h3>
<p>治腫毒，去惡氣，止霍亂，溫中，快氣吐逆。</p>

<h3>澤蘭</h3>
<p>治癰疔，通九竅，利關節，破宿血，生肌，利小腸。</p>

<h3>荊芥</h3>
<p>散風熱，清頭目風，利咽喉，瘡腫賊風。</p>

<h3>薄荷</h3>
<p>治賊風，發汗，利咽喉口齒，瘰癧結核。</p>

<h3>紫蘇</h3>
<p>葉發汗，梗安胎，子消痰喘，葉、梗為末，治囊脫。</p>

<h3>白甘菊</h3>
<p>治目風熱，梗、枝、葉解癰疔毒，煎湯洗結毒。</p>

<h3>陳艾</h3>
<p>用粉糊漿曬透，杵去粉並葉屑則成白絨，謂之熟艾。調經加硫黃少許。作丸，灸百病。</p>

<h3>茵陳</h3>
<p>治黃疸濕熱，通關節，去滯熱，利小便。</p>

<h3>夏枯草</h3>
<p>性寒，以治瘰癧，從無一效，久服則成癧癆。</p>

<h3>燈心</h3>
<p>利小便，清心火。取活竹一段，兩頭留節，中開一眼，以心塞實，外以原刻下竹，仍填原眼，外加泥裹入，糠火內煨，至竹成一炭，取出去泥，俟冷去竹炭，內是燈心炭也。治骨鯁，敷陰疳，入護心散。</p>

<h3>蜀葵</h3>
<p>根，水煎服，可愈白帶。花，一兩搗爛，麝香五分，水一大碗煎服，可愈二便閉，無花時根亦可。子，催生落胎。花末，酒服，可下橫生倒產。</p>

<h3>半夏</h3>
<p>選肥者，生薑明礬湯浸透，煮透，切片曬乾，消痰墮胎，生研細末，立療刀斧跌破止血。</p>

<h3>紫花地丁</h3>
<p>癰疔用之，可療軟堅肛，稻麥芒黏咽喉，嚼爛嚥下即安。</p>

<h3>仙人對坐草</h3>
<p>四季梗葉常青，凌冬不衰。毒蛇咬，搗汁飲，以渣塗，立愈。</p>

<h3>五味子</h3>
<p>鹽水拌蒸，滋腎水不足，強陰固精，主收斂。</p>

<h3>蚤休（即紫河車草）</h3>
<p>去皮毛，切焙。微寒，治乳癰疔毒。</p>

<h3>黑白牽牛仁</h3>
<p>酒拌曬，除濕熱壅結，通大腸閉，殺蟲祛積。</p>

<h3>天花粉</h3>
<p>治痼熱，唇乾口燥，愈熱癰排膿。</p>

<h3>防己</h3>
<p>寒，酒潤，治膀胱蓄熱，利二便，療下部紅癰。</p>

<h3>木通</h3>
<p>微寒，開通閉塞經水，利小便，和血脈，清伏熱，散癰腫，下乳。</p>

<h3>金銀花</h3>
<p>消癰毒，取活藤煎膏，以花拌入收曬，其解毒之功，勝花百倍，暑天日取錢許，滾湯沖，當茶。</p>

<h3>澤瀉</h3>
<p>通利小便，走腎膀胱，有泄濁者忌用。</p>

<h3>海藻昆布</h3>
<p>性寒，稱治瘰癧聖藥者卻謬，當禁用。</p>

<h3>楝樹根</h3>
<p>去皮取白肉，殺腹內諸蟲。皮赤者忌用。</p>

<h3>角刺</h3>
<p>五月初，取嫩者搗爛，醋煎膏，療癬，生用穿癰，無醋可療橫痃。</p>

<h3>淡竹葉</h3>
<p>解煩熱，利竅，治中風、口瘡、目痛，胸痰熱毒。藥鋪有賣，葉如竹葉，甚薄；梗如柴心，甚細，七寸長者是，今醫家以草開綠花者，誤用可嘆。</p>

<h3>天竺黃</h3>
<p>治小兒驚痰，每取二錢，加雄黃、牽牛末各一錢，研勻，面和為丸，粟米大，每服五丸，薄荷湯送下，治失音不語。</p>

<h3>吳茱萸</h3>
<p>浸熱湯七次，去淨苦烈，治瘡，生、炒研用。</p>

<h3>白芥子</h3>
<p>炒研，皮裡膜外陰寒之痰，非此不消。</p>

<h3>益母草</h3>
<p>女科諸症皆良，活血破血，調經止痛，下水消腫。</p>

<h3>紅花</h3>
<p>酒灑焙，少用通經活血，多用破血，去瘀血。</p>

<h3>續斷</h3>
<p>酒浸炒，性微溫，入肝家，續筋骨，助血氣，消血結，胎產跌撲，行血止血。</p>

<h3>金鈴子</h3>
<p>（即川楝子）</p>
<p>酒拌透蒸，去皮。入丸用核捶捆，不用肉，入煎用肉不用核。苦寒，有小毒，川產者佳，本地者細，入火燒存性，能托毒水，治久潰爛孔。</p>

<h3>桑白皮</h3>
<p>取白肉切焙，瀉肝火，降大小腸氣，散惡血。</p>

<h3>柘樹</h3>
<p>取皮里白肉，甘溫無毒，治血結，補損處。</p>

<h3>血竭</h3>
<p>散滯血，止諸痛，生肌。</p>

<h3>阿魏</h3>
<p>酒拌曬研，殺蟲，解臭消痞，解死獸肉毒，肉積。</p>

<h3>密陀僧</h3>
<p>研，水浸煮，澄，去水曬乾，入膏，消痞殺蟲。</p>

<h3>蒲公英</h3>
<p>又名乳汁草，甘平無毒，書載療乳癰結核，實無效驗。炙脆存性，火酒送服，療胃脘痛。</p>

<h3>白蘞</h3>
<p>苦平無毒，生肌止痛，解狼毒、蟲毒。</p>

<h3>土茯苓</h3>
<p>清熱泄，瀉骨蒸，利關節，治楊梅結毒，聖靈丹以此煎湯調。</p>

<h3>番木鱉</h3>
<p>水浸半月，入鍋煮數滾，再浸熱湯中數日，刮去皮心，入香油鍋中煮，至油沫盡，再煮百滾，透心黑脆，以鐵絲篩撈出，即入當日炒透土基細粉內拌，拌至土粉有油氣，入粗篩，篩去油土，再換炒紅土粉拌一時，再篩去土。如此三次油淨，以木鱉同細土鍋內再炒，入盆中拌罨一夜，取鱉去土，磨粉入藥，獨有木鱉之功，而無一毫之害。能搜筋骨入骱之風濕，祛皮裡膜外凝結之痰毒。取煎之油，俟煎膏藥入用。</p>

<h3>甘遂</h3>
<p>每斤用甘草四兩，煎湯浸三日，湯黑去湯，河水淘洗，取清水日淘日浸，每日換水數次，三日後去心再淘，浸四五日，取一撮，入白瓷盆內，隔一夜，次日盆中水無異色乃妥。再淘三四次，瀝乾，以麵裹如團，入糠火煨，煨至麵糰四面皆黃，內藥熟透，取出曬乾，入鍋炒透磨粉。其苦寒之毒，經制則淨，不苦而甜，不寒而溫。專消堅結痰塊、毒核。</p>

<h3>常山</h3>
<p>生用損神喪氣，切薄片曬乾，每一斤用陳酒對浸，浸透取瀝曬乾，收盡斤酒曬透，炒至焦脆，瘧痰非此不消，炙甘草對分，截瘧聖藥。</p>

<h3>大戟</h3>
<p>苦寒有毒，去附枝，水煮透去骨，切曬，消頸腋痰塊，癥結，下痞墮胎，治鼓脹，利二便。</p>

<h3>商陸</h3>
<p>有毒，忌鐵器，搗敷石疽，消尿哽，通二便，疏泄水腫，有排山倒岳之力。腰腹背忌敷貼。</p>

<h3>硫黃</h3>
<p>敲細粒，以蘿蔔搗爛絞汁煮，再換紫背浮萍湯煮，再煎角刺湯飛過，去盡毒臭，曬乾研粉，色白，取豬臟淡煮爛熟，每日早晚各取一段，蘸粉分餘食。治久痢滑瀉，命門不足，虛損泄精，壯陽道，補筋骨，殺臟蟲，長肌肉，治陰蝕。生用殺瘡蟲，愈瘟雞。</p>

<h3>雄黃</h3>
<p>名腰黃，透明者佳，水飛。治惡瘡死肌，消癰毒，化腹中瘀血。</p>

<h3>藤黃</h3>
<p>酸澀有毒，蛀齒點之即落。忌吃煙。</p>

<h3>白明礬</h3>
<p>透明者佳。蝕惡肉，固齒，以橄欖蘸食味佳，愈癲症，解腸中毒，治癰痔頑痰。</p>

<h3>綠礬</h3>
<p>（即皂礬）</p>
<p>療疳黃胖，燥脾濕、化痰。</p>

<h3>砒石</h3>
<p>經制無毒，不傷人畜，同鉛入器內，砒放鉛底，火熔煙盡為度。鉛上刮下者，名金頂砒。取香油一兩，生砒一錢，研，入油煎，沫盡煙絕，擦鵝掌風，取紅棗去核，以砒代核，發扎，入炭火煅至煙盡，取研細粉，名赤霜。治走馬牙疳，久潰不斂者，撒上數次收功。生者可療冷哮，不傷人者。</p>

<h3>硃砂</h3>
<p>研粉水飛，養神安魄，除中惡腹痛，驚癇胎毒。</p>

<h3>水銀</h3>
<p>應依方制用，有微毒，治惡瘡白禿，下死胎。</p>

<h3>銀硃</h3>
<p>有微毒，療疥癬，殺蟲止癢，殺蝨。</p>

<h3>銅青</h3>
<p>酸平微毒，治惡瘡疳瘡，殺蟲，吐風痰。</p>

<h3>鐵屑</h3>
<p>殺疥蟲。</p>

<h3>鉛粉</h3>
<p>酸冷無毒，消中風痰，止驚吐逆。</p>

<h3>輕粉</h3>
<p>無毒，除爛孔毒根，驚癇痙痓，惡瘡癩癬。</p>

<h3>滑石</h3>
<p>丹皮對分煮透，取石研水飛，通九竅，利六腑，生津液，分水道，行積滯，逐凝血，降心火，解暑熱。</p>

<h3>硼砂</h3>
<p>性暖止嗽，療喉去翳，口齒諸瘡，閃頸促腰，津蘸點目，立愈。</p>

<h3>元精石</h3>
<p>鹹溫無毒，治小兒驚癇、硬舌。</p>

<h3>寒水石</h3>
<p>性寒，火煅用，治潮熱中暑，牙疼。</p>

<h3>伏龍肝</h3>
<p>即灶心土，再燒紅，研，水飛曬乾，乳調，立療湯火爛孔。</p>

<h3>東丹</h3>
<p>臨用炒紫色，篩入膏內，生肌療濕，殺疥癬蟲。</p>

<h3>皮脂</h3>
<p>（即煙膠）</p>
<p>硝皮鋪刮下諸皮之膜，入鍋炒炭，磨粉，生肌肉，療濕風、膿窠、濕爛等瘡。</p>

<h3>蓖麻子</h3>
<p>辛熱有毒，研粉，去淨油方妥。拔毒。孕婦忌用。</p>

<h3>山梔炭</h3>
<p>苦寒無毒，熱厥頭痛，疝氣湯火。</p>

<h3>萸肉</h3>
<p>選淨，補精益腎。</p>

<h3>紅曲</h3>
<p>炒，消食活血，健脾胃，療痢。酒服除產後惡血。</p>

<h3>白豆豉</h3>
<p>解砒毒，除痰咳，同生砒為丸，療冷哮。</p>

<h3>砂仁</h3>
<p>順氣，開鬱結，炒研安胎，產後停惡露，小腹作痛，生研六錢，滾水沖蓋，溫服立療。</p>

<h3>山藥</h3>
<p>開朦，補精血，健脾胃。</p>

<h3>橄欖</h3>
<p>形尖，入心經，清心火，解魚鱉毒，生津止渴，蘸明礬食，味佳，豁痰。</p>

<h3>小黑豆</h3>
<p>同甘草除瘧，胃中脾熱，臟中結積。</p>

<h3>大紅棗</h3>
<p>解烏頭、附子、雄黃毒，和陰陽，調榮衛，生津液。</p>

<h3>甘蔗</h3>
<p>甜寒，絞汁，可療小兒衣多罨熱之病。</p>

<h3>烏梅</h3>
<p>酸澀斂肺，安三蟲，拔毒根。</p>

<h3>蓮鬚</h3>
<p>固精烏髮，悅色，益血止血。</p>

<h3>橙子</h3>
<p>患惡核瘰癧痰症者食之，患成不治，愈後食者復發。</p>

<h3>楊梅</h3>
<p>患疝病者忌食，燒酒同食致斃。</p>

<h3>頭髮</h3>
<p>壯年人者佳，以皂角煎湯，洗淨曬乾，同油煮成餅，浮起枯色為度，入膏，生肌、長肉、止血。</p>

<h3>指甲</h3>
<p>瓦上土炒，成炭存性，研粉，吹，止鼻紅，加冰片吹，治咽喉，塵屑入目，以津磨甲膩，點睛立愈。</p>

<h3>人中黃</h3>
<p>臘月取孩結糞，陰乾泥裹，煨炭。治熱狂痘毒，腳麻，麻至小腹而死，或頭麻，麻至心口而死者，一日死蘇幾次。取末三錢，豆腐漿調服，立愈。</p>

<h3>人中白</h3>
<p>系夫婦之精，入馬桶歸坑，凝於底者是，俗名坑凝。蘇松常鎮所屬人家，多有以缸作坑者，雖取之甚便，然僧寡婦家中之坑，所產坑凝不妥。入火煅，煙盡悶熄，研用，治咽喉口齒瘡疳，諸竅出血、血汗。</p>

<h3>象皮</h3>
<p>炙成團，存性，研粉，生肌肉。</p>

<h3>龍骨</h3>
<p>白淨沾舌者佳。捉燕子破腹，棄腸，以骨填腹，懸井內，離水尺許，候准一周時，取出生研，水飛曬乾用。蓋龍有病，食燕而愈，得水而騰。忌經火。生肌斂瘡，治鼻紅。</p>

<h3>穿山甲</h3>
<p>尾上細甲良。同土炒至鬆脆，研，通經絡竅，殺蟲消癰，逐邪風，祛積濕，愈痔。</p>

<h3>蛇蛻</h3>
<p>豎蛻不經地者佳。泥裹火煅，去泥研粉。治疔腫，以蛇蛻不煅煎汁，敷白癜風，洗惡瘡。</p>

<h3>白花蛇</h3>
<p>（即蘄蛇）</p>
<p>鼻向上，有方騰花紋者佳。去頭尾酒浸，除皮骨，炙則不蛀，治濕癢。</p>

<h3>山羊血</h3>
<p>解鮮菌河豚毒，傷損惡血。</p>

<h3>山羊屎</h3>
<p>曬乾，炒成炭存性，入壇悶熄，磨粉。療潰爛生肌，酒送二錢。療雷頭風，水、粉各一升，浸一夜，絞汁頓熟，每午刻服，疳痢欲死者，三服痊愈。</p>

<h3>貓屎</h3>
<p>在屋上曬白者多收，以土裹火煨，黃糖拌食，治童子癆、傳屍癆，真仙丹，曾愈多人。</p>

<h3>鼠屎</h3>
<p>尖者佳，要揀淨，恐有蛇蟲毒屎混入，炒透研粉，治易症，療爛孔，追毒水。</p>

<h3>麝香</h3>
<p>定神療驚，解果毒，消癰疽，開經絡竅，墮胎。</p>

<h3>石首魚</h3>
<p>（即白鯗）</p>
<p>開胃益氣，首中腦石燒研，入冰片，治害耳膿出，患肺疽者，終身戒食。</p>

<h3>線膠</h3>
<p>剪細，同牡蠣粉炒如珠，去蠣為粉，性溫，補腎益精，止遺精白濁。</p>

<h3>雞內金</h3>
<p>炙透磨粉，消久停宿食，療疳⿸疒鼓。</p>

<h3>珍珠</h3>
<p>入豆腐煮一炷香，取出，與燈心同研極細，去心，除翳障，安魂魄，療驚逐痰，止遺精白濁，解痘疔毒，下死胎胞衣，生肌肉。</p>

<h3>牡蠣</h3>
<p>童便浸七日，硫黃末醋調塗，黃土裹煅，止夢遺赤白濁，補腎安神，除盜汗，消痰塊。</p>

<h3>白丁香</h3>
<p>即麻雀屎，雀身細、頭圓，翅長者乃雄，入籠取屎，冬月佳。甘草湯冷浸一宿，焙研，咬癤、拔疔毒。</p>

<h3>五靈脂</h3>
<p>研末，酒飛曬乾，止經水過多，赤帶不絕，男女一應瘀血凝結，齒痛。</p>

<h3>蚯蚓糞</h3>
<p>入火煅紅，每兩入輕粉一錢，研至粉內無星為度。取活紫花地丁，搗爛絞汁，調塗爛腿，日洗日塗，數日愈。以甘草煎汁調塗小兒陰囊腫痛。</p>

<h3>蚯蚓</h3>
<p>藥鋪有賣，破腹去泥，酒洗曬乾，每四兩，配糯米、花椒各一兩同炒，炒至米黃透為度，去椒、米磨粉，治歷節風痛，手足不仁，疽毒卵腫。</p>

<h3>蜈蚣</h3>
<p>取活者香油浸死。治蛀髮癬，搗爛塗足指雞眼，一宿脫落，愈而不發。</p>

<h3>癩團</h3>
<p>（即老蟾）</p>
<p>大者佳，生用填爛孔、拔深毒，軟年久毒肛，取酥，捉老蟾仰天，以其頭入戥殼內，取戥箍上，蟾之腦中放出白漿是，去蟾，以戥殼曬乾，刮下配藥，消癰拔疔，止牙疼，絞腸痧脹。</p>

<h3>田螺</h3>
<p>搗爛，塗結硬痰核，塗命門，通小便，入冰片愈痔，如入膏內煎，必預敲碎其殼，以防油爆，爆則近人受燙沾衣。</p>

<h3>朱鱉</h3>
<p>大如錢，腹赤如血，又名金錢鱉，出深山石澗中，廣德州最多。甘，無毒，炙存性，研粉，能消漏管。</p>

<h3>蠍子</h3>
<p>水洗三次，去鹹味，炙研用，治驚、中風。</p>

<h3>蟬殼</h3>
<p>滾湯洗去泥翅足，曬乾。治目昏翳障，痘疹疔腫。</p>

<h3>五倍子</h3>
<p>斂肺生津，消酒毒，收濕，療脫肛。</p>

<h3>殭蠶</h3>
<p>糯米泔水洗淨，炒研。治中風喉痹，散風痰，消瘰癧，風瘡陰癢，療驚，愈疔毒痔瘡。</p>

<h3>蜂房</h3>
<p>露天、有蜂子在內者佳，炙研。能拔毒，療久潰，止痛，同頭髮蛇蛻燒灰，日以酒送錢許，治臟腑歷節，惡疽疔毒，以炙存性，酒拌服，治失禁遺尿，煎湯洗毒孔，無蜂者不效。</p>

<h3>土蜂窠</h3>
<p>在嚴冬大雪中，以布袋袋之能取，取入蒸桶蒸死，連窠炙研，以醋調塗癰癤即消。以蛇蛻同煅，治疔毒走黃。乳調服，療小兒吐瀉。</p>

<h3>青蒿蟲</h3>
<p>九月中，節內生紅蟲，取出以輕粉、硃砂和入，搗為丸，如粟粒大，每丸裹以金箔，每歲一粒，乳汁送服，療治急慢驚風。</p>

<h3>蜘蛛</h3>
<p>炙研粉，豬乳調，治啞驚。</p>

<h3>捕屎蟲</h3>
<p>（即蜣螂）</p>
<p>五月晴日，有蟲捕人糞一團，如推車者是。火炙研粉，如和乾薑末，可以敷出多骨，忌經水。如生搗為丸，塞肛門，引痔蟲，出盡永瘥。</p>

<h1>卷四</h1>

<h2>煎劑類</h2>

<h3>陽和湯</h3>
<p>治鶴膝風，貼骨疽，及一切陰疽。如治乳癖乳岩，加土貝五錢。</p>
<p>熟地（一兩）　肉桂（一錢，去皮，研粉）　麻黃（五分）　鹿角膠（三錢）　白芥子（二錢）　薑炭（五分）　生甘草（一錢）</p>
<p>煎服。</p>
<p>馬曰：此方治陰症，無出其右，用之得當，應手而愈。乳岩萬不可用。陰虛有熱及破潰日久者，不可沾唇。</p>

<h3>二陳湯</h3>
<p>治流注初起。</p>
<p>橘紅（五錢）　半夏（二錢）　白芥子（二錢，炒研）　茯苓（一錢）　生甘草（三分）</p>
<p>加陽和丸同煎服。</p>

<h3>千金內托湯</h3>
<p>治乳岩潰者，並治一切潰爛紅癰，最效。陰症忌服。</p>
<p>黨參（或用人參）　黃耆　防風　官桂　川樸　白芷　川芎　桔梗　當歸　生甘草</p>
<p>分兩隨時斟酌，煎服。</p>

<h3>敗毒湯</h3>
<p>治紅腫成癰，初起立消。</p>
<p>花粉　黃芩　連翹　赤芍　銀花　歸身（各二錢）　生甘草節（一錢）</p>
<p>水酒各半，煎好，以醒消丸送下，立消。惟疔忌用酒煎。</p>

<h3>奪命湯</h3>
<p>治一切疔毒，一切癰腫。</p>
<p>銀花　金線重樓（即草河車）　黃連　赤芍　澤蘭　細辛　殭蠶　蟬蛻　青皮　甘草　羌活　獨活　防風</p>
<p>分兩隨時斟酌，煎服。</p>

<h3>四仁湯</h3>
<p>治大便燥結。</p>
<p>吧旦杏仁　火麻仁　松子仁　柏子仁（各三錢，各研末）　滾水沖蓋，俟溫當茶飲。如熱重加甘蔗汁半酒杯。</p>

<h3>瀉熱湯</h3>
<p>治囊脫。</p>
<p>黃連（六分）　黃芩　歸尾　連翹（各一錢半）　木通　甘草（各一錢）</p>
<p>煎服。</p>

<h3>桂薑湯</h3>
<p>治喉痛頃刻而起，前無毫恙者，此虛寒陰火之症也。並治喉痹一切危急之症。</p>
<p>肉桂　炮姜　甘草（各五分，各研極細末）</p>
<p>滾水沖掉，將碗頓於滾水內，再掉，慢以嚥下，立愈。但先以鵝毛蘸桐油，入喉卷痰，痰出服藥更效。又法：以生川附切片，塗以白蜜，火炙透黑，收貯瓷瓶，臨如取如粞大一粒，口含咽津，立愈。</p>

<h3>枸橘湯</h3>
<p>治子癰。</p>
<p>枸橘（全枚）　川楝　秦艽　陳皮　防風　澤瀉　赤芍　甘草（各一錢五分）</p>
<p>煎服。</p>

<h3>龍膽瀉肝湯</h3>
<p>治牙癰。</p>
<p>龍膽草　歸尾（各二錢）　銀花　花粉　連翹　黃芩（各一錢半）　丹皮　防風　木通　知母　甘草（各一錢）</p>
<p>煎服。</p>
<p>馬曰：能瀉肝火，解毒。</p>

<h3>清暑湯</h3>
<p>治一切暑熱，頭面生石癤。</p>
<p>連翹　花粉　赤芍　銀花　甘草　滑石　車前　澤瀉（各等分）</p>
<p>煎服，外貼洞天膏，補起即消，潰者亦斂。</p>

<h3>紫銀茶</h3>
<p>治楊梅結毒，惡瘡復發者。</p>
<p>牛蒡子　忍冬藤　紫花地丁草　白甘菊（各等分）</p>
<p>煎服。</p>

<h3>六味地黃湯</h3>
<p>治遺精，並治一切潰爛，不能斂口者，立效。</p>
<p>熟地　山萸　山藥　澤瀉　丹皮　雲苓</p>
<p>煎服。如治遺精，刪去澤瀉，加入龍骨、線魚膠二味。</p>

<h3>十全大補湯</h3>
<p>外症潰後，老年虛弱者服。</p>
<p>黨參　黃耆　白芍　冬朮　肉桂　雲苓　歸身　熟地　川芎　甘草（或生或炙，時議）</p>
<p>分兩隨酌，煎服。</p>

<h3>加味四物湯</h3>
<p>治毒根，與保元湯同服更妙。</p>
<p>原方：</p>
<p>川芎　白芍　歸身　熟地</p>
<p>今加：</p>
<p>人參　肉桂　炒白芷　五味子　雲苓　生甘草</p>
<p>分兩隨酌，煎服。</p>

<h3>加味保元湯</h3>
<p>治解凝斂口，並治毒根，與四物湯同服。</p>
<p>原方：</p>
<p>人參　炙草　炙耆</p>
<p>今加：</p>
<p>肉桂　耆草（宜用生，忌炙）</p>

<h3>蘇前湯</h3>
<p>治纏喉風，並治一切喉症。</p>
<p>蘇子　前胡　赤芍（各二錢）　甘草　桔梗（各一錢）　元參　連翹　浙貝（各錢半）</p>
<p>煎服。</p>
<p>馬曰：治風火喉症可用。</p>

<h3>赤荊湯</h3>
<p>治纏喉風，並治一切喉症。先服蘇前湯，次服此方。</p>
<p>川連　甘草（各一錢）　蘇梗　牛蒡　元參　赤芍　荊芥　連翹　黃芩　花粉　射干　防風（各一錢半）</p>
<p>煎服。</p>

<h3>銀荷湯</h3>
<p>治纏喉風，並治一切喉症。</p>
<p>連翹　黃芩　防風　荊芥　麝干（各一錢）　銀花（一錢半）　薄荷（八分）　黃連　甘草（各五分）</p>
<p>煎服。</p>

<h3>雙砂湯</h3>
<p>治骨鯁。</p>
<p>縮砂　草果　威靈仙（各等分）</p>
<p>加砂糖少許，清水煎服。</p>

<h3>金烏湯</h3>
<p>治赤眼淹纏。</p>
<p>杜仲　厚朴　桑白皮　檳榔（各一錢）</p>
<p>不落水雄雞肝一枚，去紅筋，入白酒釀六兩，隔湯燉熟去渣，以湯與肝食，隔兩日再服一劑，立愈。</p>

<h2>丸散類</h2>

<h3>陽和丸</h3>
<p>治一切陰疽初起，如紅癰腫痛者忌服。</p>
<p>肉桂（一錢）　麻黃（五分）　薑炭（五分，各研細末）</p>
<p>黃米飯搗爛為丸，服之。</p>

<h3>犀黃丸</h3>
<p>治乳岩、橫痃、瘰癧、痰核、流注、肺癰、小腸癰等症。</p>
<p>犀黃（三分）　麝香（一錢半）　乳香　沒藥（各去油，各一兩，各研極細末）　黃米飯（一兩）</p>
<p>搗爛為丸，忌火烘，曬乾，陳酒送下三錢。患生上部，臨臥服；下部，空心服。</p>
<p>馬曰：犀黃丸久服必損胃氣，有虛火者勿宜，肺癰萬不可用，乳岩、瘰癧、痰核等症亦不宜用。</p>

<h3>醒消丸</h3>
<p>治癰腫聖藥，立能消腫止痛，並治魚肚癰，及翻花起肛。醉蓋取汗立愈。</p>
<p>乳香　沒藥（各去油，各一兩）　麝香（一錢半）　雄精（五錢，各研極細）　黃米飯（一兩）</p>
<p>搗爛為丸，如萊菔子大。忌火烘，曬乾，每服陳酒送下三錢，醉蓋取汗，立愈。</p>
<p>馬曰：已成膿者，萬不可用。</p>

<h3>小金丹</h3>
<p>治一應流注、痰核、瘰癧、乳岩、橫痃、貼骨疽、善⿸疒貢頭等症。</p>
<p>白膠香　草烏　五靈脂　地龍　木鱉（各一兩五錢，俱為細末）　乳香　沒藥（各去油）　歸身（俱淨末，各七錢半）　麝香（三錢）　墨炭（一錢二分）</p>
<p>亦各研細末，用糯米粉一兩二錢，同上藥末，糊厚，千槌打融為丸，如芡實大，每料約二百五十粒，臨用陳酒送下一丸，醉蓋取汗。如流注將潰及潰久者，以十丸均作五日服完，以杜流走不定，可絕增入者。如小兒不能服煎劑，以一丸研碎，酒調服之，但丸內有五靈脂，與人參相反，斷不可與參劑同服也。</p>
<p>馬曰：實症可用，夾虛者不宜。</p>
<p>又曰：此丹祛痰化濕，去瘀通絡極效。</p>

<h3>五通丸</h3>
<p>凡大癰生於要緊穴道處，將在發威之際，服此甚效。如與三黃丸間服更妙，並治肚癰。</p>
<p>廣木香　五靈脂　麻黃　乳香　沒藥（俱去油，各等分。）</p>
<p>各研細末，黃米飯打和為丸，如梧子仁大。臨用以川芎、當歸、赤芍、連翹、甘草煎服，送下五錢，忌用參劑。</p>

<h3>三黃丸</h3>
<p>治紅腫熱毒，疼痛，大癰，懸癰，楊梅瘡，結毒等症。</p>
<p>制軍（三兩，酒浸，隔水蒸軟，打爛如泥）　乳香　沒藥（俱去油，各一兩）　雄精（五錢）麝香（錢半）　犀黃（三分）</p>
<p>各為細末，千槌為丸，如梧仁大，曬乾，每服五錢，連服十次立愈。</p>
<p>馬曰：懸癰、肛癰初起時，用此最宜。若先患咳嗽而後生者，則非所宜。</p>

<h3>子龍丸</h3>
<p>治瘰癧初起，並治橫痃、貼骨疽。如瘰癧，淡薑湯送下。</p>
<p>甘遂　大戟（俱研細末）　白芥子（炒研細粉，各等分）</p>
<p>煉蜜為細丸，每日服三次，每次服三分，但甘遂與甘草相反，斷不可同日服之。</p>
<p>馬曰：子龍丸即古方之控涎丹，只可施於壯實之人，二三服後，痰行即止，久服必致泄利不食，傷氣傷脾，慎之。</p>

<h3>梅花點舌丹</h3>
<p>治紅腫癰癤初起，一丸即消。</p>
<p>龍膽　冰片　腰黃　硼砂　血竭　葶藶　沉香　乳香　沒藥（各一錢）　破大珠子（三錢）牛黃　麝香　蟾酥（人乳化）　硃砂（各二錢）</p>
<p>各研細末為丸，如胖綠豆大，金箔為衣，每服一丸，以蔥白打碎，陳酒送下，醉蓋取汗。</p>

<h3>飛龍丹</h3>
<p>即蟾酥丸。小癤立愈，白疽忌用。</p>
<p>寒水石　蟾酥（酒化）　蜈蚣（去足，各三錢）　血竭　乳香　沒藥　雄精　膽礬　銅青　殭蠶全蠍（酒炒）　穿山甲（各一錢）　紅砒　枯礬　硃砂　冰片　角刺　輕粉（各三分）　蝸牛（二十一個）</p>
<p>各研細末，以酒化蟾酥為丸，金箔作衣，大如綠豆，蔥白包一丸，酒送，醉蓋取汗。</p>

<h3>代刀散</h3>
<p>立穿一切外症。</p>
<p>角刺　炒黃耆（各一兩）　生甘草　乳香（各五錢）</p>
<p>各研細末，陳酒送下，每服三錢。</p>

<h3>黎洞丸</h3>
<p>治跌打損傷，腫毒危重之症，內服、外敷皆效。⿰山梨峒二字，外國地名。</p>
<p>牛黃　冰片（各二錢半）　阿魏　雄黃（各一兩）　生軍　乳香　沒藥　兒茶　天竺黃　血竭　參三七（各二兩）</p>
<p>各研細末，以山羊血五錢拌，曬乾透，再磨為粉，加藤黃二兩，隔水煮透，去淨浮膩，丸如芡實大，曬乾，忌火烘。以黃蠟為殼包裹，臨用以一丸，陳酒送服。</p>
<p>馬曰：不及西洋十寶丹。</p>

<h3>護心散</h3>
<p>治毒氣攻心，並治狗咬。</p>
<p>綠豆粉（一兩）　乳香（五錢，去油）　燈心炭（三錢）</p>
<p>共研細末，生甘草一兩，煎濃汁，攪調藥末，令病者時刻呷咽，咽至大半，自然止嘔，邪氣清爽，接服醒消丸立愈。</p>

<h3>角刺粥</h3>
<p>治橫痃。</p>
<p>角刺末（六錢）　糯米（二合）</p>
<p>布袋同盛煮粥，如有鮮角膏者，當用膏二錢，同糯米煮粥，日食至愈。鮮角膏見敷藥門。</p>

<h3>白芷散</h3>
<p>治乳癰乳癤。</p>
<p>乳香　沒藥（各去油）　白芷　浙貝　歸身（各等分）</p>
<p>為末，陳酒調服，每服五錢，醉蓋取汗。</p>

<h3>洞天救苦丹</h3>
<p>治一應久爛不堪，並瘰癧、乳癰、乳岩潰爛不堪者。</p>
<p>有子蜂窠（露天者佳）　尖鼠糞　楝樹子（立冬後者佳）　青皮（各等分）</p>
<p>炙研細末，每服三錢，陳酒送下，隔二日再服，愈。</p>
<p>馬曰：此丹治藜藿之輩則可，然潰爛不堪者，亦不相宜。</p>

<h3>大棗丸</h3>
<p>治久爛不堪，將見內腑者，服之立效，並治瘰癧。</p>
<p>山羊屎（炒存性）　大棗頭（去皮核）</p>
<p>和勻，分兩以好丸為度。每服四錢，用黑棗湯送下。</p>

<h3>神仙棗</h3>
<p>治患瘡日久，體虛，如瘡最重者，外敷瘡藥，內服此方，更為速效。</p>
<p>銀花　歸身（各一兩）　甘草（三錢）　乳香（去油）　五倍子　黃耆　白殭蠶　白芷（各五錢）</p>
<p>用水六碗，煎剩一半，取渣再以水六碗，煎至一半，共成六碗，去渣代水，以紅棗二斤，煮熟，均四五日食完。</p>

<h3>紅棗丸</h3>
<p>治瘡臌。</p>
<p>大紅棗子（四兩，去皮核）</p>
<p>先煮三滾，以棗湯洗淨殭蠶，曬乾，淨末二兩，二味打和為丸，以紅棗湯送下。</p>

<h3>愈瘡棗</h3>
<p>治瘡症。</p>
<p>紅棗（三斤）　豬板油（一斤）　陳酒（三斤）</p>
<p>共入砂鍋煮乾，加水三斤，煎至一半，不時取食，暑天均五六次煮。</p>

<h3>雪梅丸</h3>
<p>治喉癬。</p>
<p>冰片　犀黃（各一分）　膽礬（三分）　雄精　硼砂　山豆根　兒茶（各八分）　白梅（二枚）</p>
<p>共打為丸，均含十日。</p>

<h3>聖靈丹</h3>
<p>治楊梅、結毒、廣瘡等症。</p>
<p>珍珠　犀黃　冰片（各一錢）　鐘乳石（二錢）　琥珀（四錢）　劈砂（三錢，研粉）　飛面（四兩）</p>
<p>各研極細，勻和，每服五分，土茯苓調湯含，再以湯送下。</p>
<p>馬曰：方雖平淡，而有奇功。</p>

<h3>回疔散</h3>
<p>治一切疔走黃。</p>
<p>有子土蜂窠（一兩）　蛇蛻（一條，不經地上者佳）</p>
<p>泥裹煅存性，研細末，白湯送下二錢。</p>
<p>馬曰：回疔散，能攻毒外出。</p>

<h3>杜痔丸</h3>
<p>治外痔。</p>
<p>地骨皮　生地（各三兩）　黃芩　丹皮（各一兩半）　槐花　焦蒼朮（各一兩）　焦黃柏　甘草（各五錢）</p>
<p>共為細末，白蜜為丸，早晚每次每服五錢，白湯送下。</p>

<h3>雙鱉丸</h3>
<p>治痔管，使其自出。</p>
<p>苦參（四兩）　川連（二兩，酒炒）　當歸　槐花　蓽澄茄（各一兩）　五倍子（五錢）</p>
<p>六味共為細末，另以馬蹄鱉二枚，每重八九兩，柿餅四兩，二味水煮，去鱉骨，搗爛入前藥末，打和為丸，空心每服四錢，白湯送下，其管自出。</p>

<h3>退管散</h3>
<p>治漏管自出，或服雙鱉丸亦可。</p>
<p>黃荊條上子，炙燥為末，每服五錢，拌黑糖，陳酒送下，至管出乃止。</p>

<h2>敷藥類</h2>

<h3>一筆消</h3>
<p>治癰癤。白疽忌用。</p>
<p>大黃（二兩）　藤黃（一兩）　明礬　蟾酥（各五錢）　麝香　沒藥　乳香（各二錢）</p>
<p>用蝸牛打爛作錠，曬乾滴醋研磨，以新竺蘸藥控患頂，圈圍患處，至消乃止。</p>

<h3>拔疔線</h3>
<p>治一切疔毒。</p>
<p>番砂　白丁香　輕粉　乳香　蜈蚣（各一錢）　血竭　麝香（各二錢）　金頂砒（六分）</p>
<p>均研細末，以蟾酥（一錢），酒化和，打為丸，作短線形，刺疔出血，插入疔孔。</p>

<h3>平安餅</h3>
<p>治毒根凸起。</p>
<p>烏梅肉（一錢）　輕粉（五分）</p>
<p>同研，不見粉亮為度，如硬，用津潤之，斷不可用水，研至成膏，照患口大小，作薄餅幾個，以貼毒根，外用膏掩，日易一次。俟毒根不痛，落下乃止。</p>

<h3>雄腦散</h3>
<p>治瘰癧敷藥。</p>
<p>樟腦　腰黃（各等分）</p>
<p>共研細末，麻油調敷，每日以荊芥根煎湯洗。</p>

<h3>合掌散</h3>
<p>治遍身癩疥瘡毒，並治陰囊癢、繡球風。</p>
<p>硫黃（一兩）　鐵鏽（一錢）　紅砒（六分）</p>
<p>共研極細如面，以蔥汁調和，塗入大碗內，勿使厚薄，以碗覆於瓦上，取艾置碗下熏藥，熏干，敲碗聲與空碗聲無異為度，將藥刮下，再研極細，臨用以右手中指羅門，拈滿香油，在包內黏藥，塗入左手心中，兩手合掌數摩，只有藥氣，不見藥形，以兩手掌擦瘡，每日早晚二次，三日掃光，再擦三四日，永不復發。</p>

<h3>二美散</h3>
<p>治癩疥，膿窠間雜者。</p>
<p>吳茱萸（焙）　硫黃（各等分）</p>
<p>研極細如面，照前合掌散法，以香油蘸藥，入左手心，合掌磨擦，每日二次。愈後再擦三四日，不發。</p>

<h3>五美散</h3>
<p>治膿窠坐板，濕毒臁瘡，猴猻疳等症。</p>
<p>炒透東丹　皮硝（各一兩）　硫黃　雄精（各三錢）　輕粉（一錢）</p>
<p>共為細末，入洞天嫩膏調敷，外以棉紙掩綁，不可動揭，五日後揭下，再敷一二次痊愈。如濕毒癢極，先以金銀散敷上，次以前膏加敷。</p>

<h3>金銀散</h3>
<p>治惡瘡極癢。</p>
<p>硫黃（一兩，入銅器內化熔）　銀硃（五錢，入硫攪和）</p>
<p>離火倒油紙上，冷透，取研極細，滴醋調敷止癢。如破爛爛孔極癢者，白蜜調敷。</p>

<h3>掃雪散</h3>
<p>治蠟梨瘡。</p>
<p>獨核肥皂（分開去核，以洋糖填入）　巴豆仁（每爿加二粒半）</p>
<p>將皂仍舊合好，紮緊泥裹，入火煅，取出去泥研細，加入輕粉、檳榔末各八分，再研，香油調敷。剃頭後以滾灰湯洗，以藥敷，至愈乃止。</p>

<h3>金霜散</h3>
<p>亦名杏仁散。治不癢惡瘡。</p>
<p>杏仁（三錢，去皮尖）　雄黃（一錢半）　輕粉（一錢）</p>
<p>研末，豬苦膽調敷。</p>

<h3>癬酒</h3>
<p>治一切諸癬。</p>
<p>本地白槿皮　南星　檳榔（各一兩）　樟腦　生木鱉（各五錢）　斑蝥（三十個）　蟾酥（三錢）</p>
<p>上藥浸滴花燒酒一斤，凡癬症，三日一剃一拂，至愈乃止。</p>

<h3>蜈蚣油</h3>
<p>治蛀髮癬。</p>
<p>活蜈蚣（三條）</p>
<p>菜油浸三四日，先取生木鱉片浸數日，入鍋煮透，取湯洗髮，洗後取蜈蚣油搽頭，至愈方止。或取草烏切片，炙脆研細，醋調，日搽三次，數日痊愈。</p>

<h3>結子油</h3>
<p>治頭面肥瘡。</p>
<p>白明礬研粉，鋪棉紙上，卷作長條，打成結子數個，入菜油內浸透，取油結子放鐵篩上，用火燒，結子內所滴下油仍滴於所浸油碗內，燒至焦枯，以諸結研粉，加制松香末約一半，共調油內，日以拂瘡，早晚兩次，五六日愈。戒食豬肉蝦蟹，並忌煎炒熬油、發毒等物，食則延開難愈。</p>

<h3>錦線油</h3>
<p>（新增）</p>
<p>治湯火燙。</p>
<p>當歸　生軍（各一兩）</p>
<p>共為細末，麻油調敷，立愈。</p>

<h3>紅油</h3>
<p>治鵝掌風及一切風症。</p>
<p>紅砒（一錢）</p>
<p>敲細如粞，以麻油一兩，煎至砒枯煙絕為度，去砒留油，凡有風之處，每日以烘油擦二三次乃愈。</p>

<h3>刻歡丸</h3>
<p>治風火牙痛，亦名過街笑。</p>

<h3>蟾酥</h3>
<p>（酒化透）</p>
<p>五靈脂　麝香（各一錢）</p>
<p>研和為丸，約二百粒，新綢包好，絲線紮緊，固藏勿泄香氣。每取一丸，咬於痛牙，丸化即愈。</p>

<h3>香清餅</h3>
<p>治小兒口疳。</p>
<p>生香附　生半夏（各等分）</p>
<p>共研細末，蛋白調作餅，貼男左女右湧泉穴，一周時愈。如小兒口內生毒塊，不能食乳，俗名螳螂子，用生地酒浸，打爛塗男左女右足心，自愈。</p>

<h3>水金散</h3>
<p>治舌上出血，並治鼻衄。</p>
<p>茅柴根　車前子　血餘（各等分）</p>
<p>為末，吹擦即止。以此煎服，治尿血。鼻衄，加龍骨末吹鼻立止。</p>

<h3>五寶散</h3>
<p>治生肌長肉。</p>
<p>人指甲（五錢）</p>
<p>紅棗去核，逐枚包入指甲，以長髮五錢細扎。同象皮薄片，瓦上炙成圓脆，存性，取出研粉，加麝香一錢，冰片三分，研細和勻，瓷器固貯，臨用以少許摻膏上，神效。</p>

<h3>推車散</h3>
<p>治多骨自出。</p>
<p>推車蟲（即蜣螂，炙，研末）</p>
<p>每一錢，入乾薑末五分，再研極細，吹入孔內，次日骨出。若吹過周時不痛者，無骨出矣，則知內無多骨也。</p>

<h3>山蓮散</h3>
<p>治潰爛不堪者。</p>
<p>大活鯽魚（一條，去肚雜）</p>
<p>以山羊屎填實，瓦上慢火炙乾存性，研末，加麝香一錢，再研，固貯，如潰爛不堪，與內腑只隔一膜者，摻上立效。</p>

<h3>象皮散</h3>
<p>治爛孔極大者，並治刀傷跌損，血出不止者。</p>
<p>豬身前蹄扇骨（十兩，煅炭研粉）　象皮（炙炭存性，研末，一兩）</p>
<p>和勻固貯，凡爛孔如掌大者，摻上收小後用六和散敷。</p>

<h3>六和散</h3>
<p>治爛孔收小者。</p>
<p>海螵蛸　水飛龍齒　象皮（煅存性，研極細）　血竭　乳香　輕粉（各等分）</p>
<p>共研細末收貯，或乾摻，或用雞蛋熬油調拂。</p>

<h3>紫金錠</h3>
<p>消癰腫，通節竅，消熱痰。</p>
<p>山慈姑（去皮淨）　文蛤（去末淨，各三兩）　麝香（一兩二錢）</p>
<p>千金子（去油淨）　大戟（洗淨，焙，各一兩）</p>
<p>共為極細末，老米糊勻，入臼千杵，成膏作錠，好醋磨塗並化服。</p>

<h3>勝金散</h3>
<p>治潰爛並斧破傷。</p>
<p>人參　三七</p>
<p>研極細末，塗患處，消腫止痛，患濕者乾摻。</p>

<h3>五音錠</h3>
<p>治紅腫惡毒。白疽忌用。</p>
<p>雄黃　熊膽　京墨　硃砂（各一錢）　麝香（五分）　牛黃（一分）</p>
<p>各研細末，先將京墨用酒少許化之，再入熊膽研膩，後入諸末，共研作錠，臨用以清水磨，以新筆蘸藥，空頭圍患處全消，無不神效。</p>

<h3>觀音救苦丹</h3>
<p>治小癤疼痛。</p>
<p>硫黃（三錢）　硃砂（二錢）</p>
<p>共研細末，入銅器熔化，離火加入麝香一錢調和，澆油紙上，取作為米粒大。如遇小癤，取一粒放患頂，以燃火點，立刻燒過，膏掩，次日愈。</p>

<h3>拔毒散</h3>
<p>拔一切毒。</p>
<p>巴霜　雄黃　麝香（各一錢）　冰片（五分）</p>
<p>共為細末，摻膏上貼之，則毒氣盡拔，便無後患。胎前產後之婦忌用。</p>

<h3>消管方</h3>
<p>治漏管。</p>
<p>角刺尖（炙）　柘樹膜（各淨末五錢，炙）　紅腹金錢鱉（炙，淨末三錢）　蟾酥　榆面（各一錢）</p>
<p>研極細末，臨用以棉紙作條子，量其管之深淺，以津拌藥末卷上，塞入管中乃愈。</p>

<h3>枯痔藥</h3>
<p>治痔漏。</p>
<p>明礬（一兩）　紅砒　白砒（各三錢）</p>
<p>共入陽城罐內，外圍炭火，燒至礬熔煙起，即砒毒，忌立上風聞氣。俟煙盡礬枯，去炭，次日取出研粉，每取一錢，加水飛硃砂一分，再研和勻，臨用以津調藥，時拂乃愈。</p>
<p>馬曰：不必用。</p>

<h3>槐梅膏</h3>
<p>治外痔。</p>
<p>蘇合油　槐花粉（各一兩）　猩膽　冰片（各五錢）</p>
<p>研和，加嫩膏一兩五錢，再研，封固勿使泄氣。臨用塗患處，痛息，日塗兩次，內服枯痔丸。方見丸散門。</p>

<h3>鮮角膏</h3>
<p>治陰頑惡癬，並治橫痃。</p>
<p>五月初旬，取鮮皂角數斤，打爛入鍋，煮湯煎濃，瀝出，易水再煎二三度，出渣，以汁共歸一鍋，慢煎成膏。治橫痃，煮糯米粥飲。治頑癬，加醋熬至稠膩，洗剃後塗，日剃日塗，神效異常。</p>

<h3>四妙膏</h3>
<p>治甲疽。</p>
<p>狼毒（一兩）　黃耆（二兩）</p>
<p>醋浸一宿，入豬油五兩，微火煎熬，取二兩絞去渣，退火氣，以封患口，日易三次，毒消口斂。</p>

<h3>麝蘇膏</h3>
<p>治一切大癰。</p>
<p>麝香（當門子更佳）　五靈脂　雄黃　乳香　沒藥（各一兩）　蘇合油（二兩）　蟾酥（五錢）洞天嫩膏（八兩）</p>
<p>各藥研為細末，與蘇合油嫩膏攪勻極和，空頭塗圍患處，如干，以雞毛潤酒拂之，神效。內服醒消丸，立愈。</p>

<h3>扎藥</h3>
<p>治癰腫，能拔毒止痛。惟紅痛非常者，不得已而用之。白疽忌用。</p>
<p>蓖麻仁打爛如泥，以絹包好，扎於患處。惟無孕婦人及男子患陽症者可扎，痛止即去。他如千槌膏有蓖麻仁，鯽魚膏有巴豆，二物提拔之力甚狠，孕婦貼則墮胎，白疽貼則成患。</p>

<h3>敷藥</h3>
<p>治楊梅結毒。</p>
<p>人指甲　血餘</p>
<p>瓦上炙存性，研細，每粉一兩，加麝香一錢，再研，日敷。如初發，以三黃丸每日五鼓時取四錢，熱陳酒送下，醉蓋取汗，或以瀉肝湯每日早晚輪服。</p>
<p>馬曰：此方能長肉收口，極效。然火毒甚時，早用之反有損。</p>

<h2>吹藥類</h2>

<h3>壁錢散</h3>
<p>治熱症喉痛。</p>
<p>六七月中取有子壁蟢窠七個，老壁蟢二個，以發紮好，用明礬七分熔化，將紮好之壁蟢入熔礬中黏足，燈火炙透，研粉，吹喉立愈。</p>

<h3>珍珠散</h3>
<p>治牙疳，牙根紅腫，口喉等症。</p>
<p>硼砂　雄精　川連　兒茶　人中白　冰片　薄荷　黃柏（各等分）　大破珠（減半）</p>
<p>各為極細末，以刀點之，吹之立效。</p>

<h3>赤霜散</h3>
<p>治走馬牙疳，延爛穿腮不堪，危險者。</p>
<p>紅棗（一枚，去核）</p>
<p>入如黃豆大紅砒一粒，絲線紮好，放瓦上炙，煙盡為度，取以悶熄，冷透研細，加入冰片一分，再研，吹之速效，久爛之孔，生肌亦速。</p>

<h3>馬蹄散</h3>
<p>治同赤霜散。</p>
<p>白馬前蹄，刮下腳皮，炙炭存性，加冰片少許吹之。</p>

<h3>南星散</h3>
<p>治牙蝕，因患骨槽風所致，並透骨穿腮。</p>
<p>南星（一枚）</p>
<p>挖空，入雄黃一塊，面白糊固，火炙，俟雄熔，以杯合定，冷透去面，加麝香少許，共研細，拂患處，數日愈。</p>

<h3>固齒散</h3>
<p>治齒牙搖動。</p>
<p>用鼠之頭骨及鼠牙，鹽煅存性，研細擦之，即收上，最固最利也。</p>
<p>馬曰：須用全鼠一個，連皮肉炙枯存性，入片少許，治虛火牙痛，神驗，且能固齒，亦奇方也。</p>

<h3>取齒丹</h3>
<p>取牙立落。</p>
<p>活鯽魚（一條，約十兩重）　白砒（一錢，入魚腹）</p>
<p>懸之無貓犬及無風雨處，七日後，魚身發白毛，雞羽拂下，以膏藥滋少許收拌，每遇病牙，以膏藥少許，貼於患齒，片刻落下，淨湯漱口。</p>
<p>馬曰：取齒靈驗。</p>

<h3>四黃散</h3>
<p>治口舌之症，後二冬、犀黃散，亦皆治口舌。</p>
<p>荊芥　山梔　大力　黃連　黃芩　連翹　薄荷　木通　蒲黃（各一錢）　燈心（一撮）　甘草（四分）</p>
<p>共研細末，擦患處立愈。</p>

<h3>二冬散</h3>
<p>治口舌生疳，久患不愈。</p>
<p>天冬　麥冬（各去心）　元參（各等分）</p>
<p>研細末為丸，含齒舌間，丸化即愈。</p>

<h3>犀黃散</h3>
<p>治舌硬生衣，牙關不開。</p>
<p>犀黃（一分）　硃砂（一分）　元精石（二兩）</p>
<p>和勻，研極細末，吹之立愈。</p>

<h3>燈心散</h3>
<p>治骨鯁立愈。</p>
<p>活竹一段，留兩頭節，一節上刻一眼，以燈心塞實，仍封固眼，裹濕草紙，火煨，取出俟冷，剖開去竹炭，取燈心炭研細，吹三四次即愈。再服雙砂湯更妙。方見煎劑門。</p>

<h3>聤耳散</h3>
<p>治耳內有膿作痛。</p>
<p>鮮鰉魚腦中枕骨，俗呼鰉魚牙齒，煅研，每一兩重加冰片一錢，先卷干膿水，吹三四次立愈。</p>

<h2>膏藥類</h2>

<h3>陽和解凝膏</h3>
<p>治一應陰疽流注，潰爛不堪，及凍瘡毒根等症。未潰者，一夜全消；已潰者，三張痊愈。瘧疾貼背心立愈。</p>
<p>鮮大力子梗、葉、根三斤，活白鳳仙梗四兩，大麻油十斤。先煎至枯，去渣，次日用川附、桂枝、大黃、當歸、肉桂、官桂、草烏、川烏、地龍、殭蠶、赤芍、白芷、白蘞、白芨各二兩，川芎、續斷、防風、荊芥、五靈脂、木香、香櫞、陳皮各一兩，再煎藥枯，瀝渣，隔宿油冷，見過斤兩，每油一斤，用炒透桃丹七兩攪和，明日文火再熬，至滴水成珠，不黏指為度。以濕草紙罨火，移鍋放冷處，將乳香、沒藥末各二兩，蘇合油四兩，麝香一兩，研細入膏，攪和極勻，出火氣，半月後攤貼。</p>

<h3>洞天鮮草膏</h3>
<p>治一切熱毒癰癤、乳療、乳癰等症。</p>
<p>大麻油三斤，先熬壯年頭髮一斤，熬至發枯，浮去渣，再用活牛蒡、甘菊、蒼耳草根葉、忍冬藤、馬鞭草、仙人對坐草鮮草各一斤，再另用油十斤，將各草熬枯瀝出，再以白芷、甘草、五靈脂、當歸各八兩，入鍋熬至藥枯，出渣，俟冷，併入前煎頭髮油，每油一斤，用當時炒透桃丹七兩，加入攪勻，熬至滴水成珠，不黏指為度。離火俟退火氣，以油紙攤貼，嫩膏每油一斤，入炒透桃丹四兩，熬至黑色為度。</p>

<h3>白玉夾紙膏</h3>
<p>治夾棍瘡、杖傷、槍棍損傷，為效甚速。</p>
<p>麻油四兩，熬成珠，加制好松香五錢，白蠟、黃蠟各二錢半，再熬去煙抹，用絹瀝清，一加輕粉一兩研細，二加冰片三分，三加麝香三分。隨攪隨和，勻極，增雞蛋白一個，再攪勻，瓷瓶貯，蠟封口聽用。如過兩月後，藥干無用矣。</p>

<h3>化核膏</h3>
<p>治瘰癧、結核、惡核，貼之即消。倘毒根不除，必以子龍丸日服三次，外貼此膏，方可除根，以杜後發。</p>
<p>壁虎十四條，蜘蛛二十八個，蝸牛三十六枚，大麻油四斤，熬枯三物，浮於油麵，撈去，再入首烏藤葉、甘菊根、薄荷、牛蒡、蒼耳等草，俱用鮮者各半斤，武火熬至草枯，出渣俟冷，再入連翹、元參、苦參、白蘞、白芥子、殭蠶、水紅子仁各打碎，大黃、荊芥、防風各四兩，浸一宿，再熬至黑枯，以油瀝清，見過斤兩，熬至滴水不散，將另制木鱉油歸入，配炒透東丹，慢入慢攪，攪勻，文火再熬，熬至滴水成珠，加入丁香油一錢，麝香二錢，蘇合油一兩，攪勻，退火氣，攤貼。</p>

<h3>白花膏</h3>
<p>治癢極見骨者，並臁瘡孔內發癢者。</p>
<p>香油一斤，青槐枝一百段，次第入油，熬枯去枝，俟至滴水不散，加入黃蠟、澱粉各一兩五錢，離火溫時，再下制淨乳香、沒藥、兒茶、白花蛇各三錢，潮腦一兩，麝香一錢，同油攪勻成膏，浸水內一宿，攤貼。</p>

<h3>紫微膏</h3>
<p>治生肌收口。</p>
<p>香油四兩，燭油一兩五錢，黃蠟一兩五錢，熬至滴水不散，離火，入炒鉛粉三兩，再入輕粉、乳香、沒藥、阿魏、白蠟、雄黃、龍骨、珍珠各五錢，兒茶六錢，攪勻遠火，再入麝香五錢，成膏聽用。以此生肌收口最效。</p>

<h3>咬頭膏</h3>
<p>咬穿毒頭，神效。</p>
<p>銅青　松香　乳香　沒藥　杏仁　生木鱉粉　蓖麻仁（各等分）　巴豆（不去油，焙用）</p>
<p>共打成膏，每兩膏內，加入白砒一分，再攪勻。臨用取綠豆大一粒，放患頂，用膏掩之，潰即揭下，洗淨換膏貼之。胎前產後忌用。</p>

<h3>烏金膏</h3>
<p>治爛腿日久不愈者。</p>
<p>烏鉛，每一斤用白砒三錢熔化，次日，鉛面刮下者，名曰金頂砒。再以鉛熔，澆薄如紙片，照患孔大小，剪如膏藥一方，針刺二三十眼，取光面貼孔上，每日煎紫花地丁草湯洗孔，並洗膏二次。三日內毒水流盡，色變紅活，以水飛伏龍散摻上，仍用前膏貼外。戒多立行走、房事、食毒物。凡婦人，須待月信之後貼起。</p>
<p>馬曰：以上各方，皆平穩可用。</p>
<p>此書治病方法，皆是神妙異常。方有活鴨、癩團、田螺、鯽魚、蜘蛛、蜈蚣等物，因不得已而用之，或病勢不甚重者，不必用此活物，可免殺生之孽。</p>

<h2>附：新增馬氏試驗秘方</h2>

<h3>白金丸</h3>
<p>治喉風乳蛾。</p>
<p>白礬（研細）　川鬱金（研細）</p>
<p>上等分，共和勻，皂角汁為丸。</p>

<h3>喉科秘藥</h3>
<p>治咽喉七十二症，俱用此吹之，立效。</p>
<p>黃柏（焙）　黃芩（焙）　梔子（焙）　綿黃耆（曬）　川黃連（焙）　蘇薄荷　防風　荊芥　元參　連翹殼　細辛　香白芷　川芎　羌活　獨活　三奈　檳榔　川厚朴　苦參　粉甘草　木通　製半夏　川烏　草烏　茅蒼朮　麻黃　赤芍　升麻　大黃　殭蠶　牛膝　桔梗　射干　乾葛　皂角刺　車前子　桑白皮　五加皮　鼠黏子　地骨皮　莧麥冬　山豆根　杏仁　大生地　當歸尾　天花粉　天南星　金銀花　川槿皮　參三七</p>
<p>各一兩，揀上好潔淨，咀片，用好新缸一隻，將藥入內，加清水浸之，日曬夜露四十九日，取起濾去渣，用銅鍋煎之，將藥水逐漸加入，用文武火熬，不住手用槐柳枝攪之，煎稠如糊，再加入後開各藥。</p>
<p>雄黃（五錢）　青礞石（童便煅七次）　乳香（炙去油）　沒藥（炙）　熊膽（焙）　龍骨（煅）　元明粉　血竭　石燕（醋煅七次）　海螵蛸（紙包煨）　蘆甘石（童便煅七次）　青黛（各五分）　枯礬兒茶（各一錢）　輕粉　黃丹（水飛，各三分）　桑枝灰（三錢）　硼砂（七分）</p>
<p>上為細末，入煎膏內和勻，做成小餅，如指頭大，曬露七曉夜，放地上，以瓦盆蓋之，一日翻一次，七日取起，置透風處陰乾，收藏瓦罐內，三個月方可用之。用時為極細末，每二分加後七味。</p>
<p>大梅片　濂珠　珊瑚（各四分）　麝香　犀牛黃（各二分）　輕粉（一釐）　硼砂（二分）</p>
<p>共為末和勻，密收小罐，以烏金紙塞罐口，每以銅吹筒取藥少許，吹患上咽喉諸症，皆獲神效。</p>
<p>又方：加鮮車前草、紫背天葵草、骨牌草、金星草、五爪龍草、土牛膝草、地丁草各二兩，土牛膝草用四兩，同黃柏等藥浸缸內。</p>

<h3>西洋十寶散</h3>
<p>治刀刃傷並各器械傷，皮破出血者，以藥沒糝上包固，不可見風，血止即愈。</p>
<p>治跌打損傷，皮肉青腫未破者，用陳醋調敷患處，腫消即愈。</p>
<p>治內傷骨碎，或骨已斷折，先將骨節湊准，用陳醋調敷患處，以紙包裹，外加老棉絮包好，再用薄板片夾護，將繩慢慢繫緊，不可移動，藥性一到，骨自接矣。須靜百日，勿犯房事，犯則必成殘疾。</p>
<p>治刃傷深重，未致透膜者，先用桑皮紙線縫好，多糝藥末於上，以活雞皮急急調護如前骨損養法，即愈。</p>
<p>治跌打昏迷不醒，急用一錢，同陳酒沖服，自然醒轉，以便調治。</p>
<p>此方神奇，雖遇至重之傷，鮮有不起死回生者，照方醫治調養，勿臥熱炕，定有奇效，寶之。</p>
<p>真血竭（一錢六分）　明雄黃（四錢）　上紅花（四錢）　淨兒茶（二分四釐）　辰州砂（一錢二分）　淨乳香（一錢二分）　當歸尾（一兩）　淨沒藥（一錢四分）　當門子（三釐）　大梅片（一分二釐）</p>
<p>上十味，共為細末，入乳缽研至無聲，收入瓷瓶，黃蠟封口，勿令泄氣。</p>

<h3>香鯽膏</h3>
<p>專治黃疸。</p>
<p>烏背鯽魚一尾，須活著，約重三四兩，連腸雜鱗翅，入石臼內搗爛，加當門子三分，再搗勻，攤布上，貼肚臍眼上，次日取下，重者貼二三枚，貼後即有黃水流出為妙。</p>

<h3>回生丹</h3>
<p>專治跌打，有起死回生之功。</p>
<p>活地鱉（瓦上炙微黃，研末，五錢）　自然銅（瓦上煅紅，醋淬九次，淨三錢）　滴乳香（一兩，用燈心二錢同炒枯，吹去燈心，研取三錢）　真血竭（水飛二錢）　硃砂（水飛二錢）　巴豆霜（用巴豆去殼，紙包壓淨油，白如雪，取霜二錢）　當門子（三分）</p>
<p>以上研和瓶貯，勿泄氣，大人每服一分五釐，小兒七釐，酒沖服，牙關緊者，挖開灌之即活，再下一服即愈。</p>

<h3>大麻風湯藥方</h3>
<p>陳皮　海桐皮　秦艽　薏仁米　苦參　香白芷　牛膝　防風　川續斷　荊芥　羌活　風藤　當歸　蒼朮　連翹殼　生甘草　廣木香（各一錢）</p>
<p>入薑、棗煎服。</p>

<h3>丸藥方</h3>
<p>大胡麻（念兩）　小胡麻（念兩）　牛膝（四兩）　蒺藜（念兩）　苦參（十六兩）　防風（八兩）荊芥（八兩）　全當歸（六兩）　蒼朮（六兩）　薏仁米（四兩）　川續斷（四兩）</p>
<p>共研細末，水泛為丸，毛尖茶下，每早午晚各一服，每服三錢或二錢，另加後丸。</p>

<h3>楓子膏方</h3>
<p>大楓子去殼，銅鍋炒至三分紅色，七分黑色，太過無力，不及傷目，炒後研膏，入紅糖等分，熬四五滾，倒紙上，放地上，出火氣。每丸藥一錢，春秋用膏八釐，夏六釐，冬一分，同吞服。</p>
