<header data-type="book">
<h1>傷寒用藥研究</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>川越正淑</dd></div>
<div><dt>底本</dt><dd>*收錄於《皇漢醫學叢書》第七冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>總論</h2>
<p>凡說藥品。昉於神農本草。中於李當之陶弘景。下則及於唐宋元明諸家本草。品物至千有餘數。而其說縱橫百出矣。然則措焉不論乎。曰否。凡極事物之理。雖尚至廣至遠。而唯驅廣遠。而不知約之。則事而無不惑焉。物而無不疑焉。夫疾病之狀態。雖不一。而均於傷其常則一也。以是乎備其品物也。不可不先約之施用。而推弘其才能矣。但設千有餘數之藥品。而不為推弘之才能。則不素生疑惑而已。不能必療其疾病也。夫穀肉果菜鳥獸鱗介者。皆養人之常者也。然其要在於節之矣。豈謂盡舉穀肉果菜鳥獸鱗介之數。而不食之。則不能養人之常。而遂不知節之。則不素無益而已。恐傷其常也。故藥品可約。而得以療其疾病焉。穀肉果菜鳥獸鱗介。可節而得以養其平常焉。李時珍於本草綱目。品物益多多。而說其主治也。亦彌紛冗。請舉其一言之。凡諸藥方有五甘草者。則盡取其證候。而以歸之於甘草一品之能。其他數類。亦皆無不然矣。果其說之是乎。既足以一品普治眾病也。何俟品物千有餘數。而後療其疾病乎。嗟乎。其言之矛盾。如是甚矣。殆不知所適從矣。所謂唯驅廣遠。而不知約之者也。藥品不可不約以療其疾病。主治不可不統以取其要。此余之所以著傷寒用藥研究也。於傷寒用藥研究之撰。就品物千有餘數之中。約取其一百五十品。次主治之十百。而先品物之體與用也。蓋體也者。大體也。蔽一品之能之謂也。用也者。活用也。數味相據。而為效用之謂也。按古人亦有言體用者。雖然。充其體以氣味。充其用以效用。故體用畫其域。而為兩斷也。余意則不然。夫體用者。猶經緯然矣。體以貫用。用則出於體。經以貫緯。緯則繫於經。體用經緯。其義之似也如此。然則體與用。統一於效用而言之也。豈為配氣味與效用乎。不可不考焉。或曰。吾子鑿鑿乎論體用之異同。雖然。尚效之於古。而以氣味與效用。亦無害而已。何則。氣之於寒熱溫涼平。味之於甘苦辛酸鹹淡澀斂。皆自然之性也。品物之用。無一不出於自然之性矣。夫既性以出用。則氣味與效用。固一其歸。豈兩斷乎哉。如吾子之言。可謂勉而好違古。曰不然矣。體用者。皆以藥之才能言之也。氣味者。藥之性而非才能也。譬之音與藥。則音者體也。樂者用也。夫蓋音之性。金石絲竹匏土革木也。樂之性。乃音之相和也。是雖異其性。而於有其聲之可聽。則音樂同一矣。然則聲者。音樂之才能。而非性也。故藥之才能。猶音樂之於聲也。豈以氣味與效用。得充體用乎哉。曰。體用之具品物。既受教。雖然。令驅使品物也。問主治於脈證。則歷然而有形。以品物之體用而臨脈證。則泛然無形。有形則事順。無形則事不順。吾子復有說乎。曰有。夫脈證之雖有形。而不辨虛實之分界。則不能察主客之疑似也。不察主客之疑似。而漫從有形於外。則至處其方也必違矣。可謂有形之歸無形也。以是乎。欲知虛實之分界。則不可不察主客之疑似也。蓋察主客之疑似者。在推脈證於內。而究其本源也。夫脈證之於本源。皆在於血液神氣之失常也。故脈證者。量血液神氣之標也。既知血液神氣之如何。而以體用蔽之。則本源復。而其標從矣。譬如破竹乎。刃觸其端。則末自分離矣。不可不考焉。</p>

<h2>其二</h2>
<p>宋元以降。醫家者流。忸汰陰陽配當。五行生剋之理。滔滔乎疾醫之道。遂不講也既已久矣。以是乎近世唱古醫方者。皆惡說理。而唯取外脈證焉。不為推脈證之源始。乃修飾之。各以其家言。曰或氣。或毒。或水。或寒。皆牽強己之所癖。而決乎不顧矣。嗟嘆是何偏乎惡說理。而頗乎建家言也。可謂惡陷阱而被杖者也。且其言曰。隨脈證治之。是千古之哲論。萬代之龜鑑矣。是於其言。似則似矣。而未可許以善矣。論曰。觀其脈注。知犯何逆。隨證治之。此言推窮其脈證之出於何逆。則自足辨於證之主客。主客既辨。則棄之客證。而隨之主證也。何為以唯隨外脈證焉盡而不殘哉。故處方之要。雖固在於脈證。而不窮其所源始。則脈證亦不可從焉。試舉脈之不可從者言之。如桂枝湯曰脈洪大。大青龍湯曰脈浮緩。茯苓桂枝白朮甘草湯曰脈沉緊。建中湯曰陰脈弦。小柴胡湯曰陽脈澀。瓜蒂散曰脈微浮。大承氣湯曰脈遲。又曰脈弦。豬苓湯曰脈浮。四逆湯曰脈浮而遲。當歸四逆湯曰脈細欲絕。則不皆推其所源始。則脈與方。大不相愜者也。此豈得但隨脈而治之乎哉。試舉證之不可從者言之。如大青龍湯曰身不疼。但重乍有輕時。桂枝湯曰時發熱。自汗出而不愈者。承氣湯曰頭痛有熱者。厚朴生薑甘草半夏人參湯曰腹脹滿者。茯苓桂枝甘草大棗湯曰臍下悸者。真武湯曰仍發熱。四逆湯曰發熱頭痛。小柴胡湯曰身熱惡風。頸項強。又曰腹中急痛。小建中湯曰心中悸而煩者。大柴胡湯曰鬱郁微煩。柴胡加芒硝湯曰日晡所發潮熱。已而微利。柴胡加龍骨牡蠣湯曰讝語一身盡重。不可轉側者。桂枝甘草龍骨牡蠣湯曰煩躁者。大陷胸湯曰不大便五六日。舌上燥而渴。日晡所小有潮熱。自心下至少腹。硬滿而痛不可近者。柴胡桂枝湯曰支節煩疼。心下支結。甘草瀉心湯曰下利日數十行。穀不化。赤石脂禹餘糧湯曰心下痞硬旋覆代赭石湯曰心下痞硬。桂枝人參湯曰心下痞硬。大柴胡湯曰心下痞硬。白虎加人參湯曰時時惡風。又曰背微惡寒。調胃承氣湯曰不吐不下心煩者。豬苓湯曰發熱渴欲飲水。小柴胡湯曰發潮熱。大便溏。大承氣湯曰小便不利。大便乍難乍易。時有微熱。又曰。發熱汗多者。麻黃附子細辛湯曰始得之反發熱。附子湯曰口中和。其背惡寒者。吳茱萸湯曰吐利手足厥冷。煩躁欲死者。四逆散曰四逆。大承氣湯曰自利清水。白虎湯曰脈滑而厥者。當歸四逆湯曰手足厥寒。茯苓甘草湯曰厥而心下悸者。乾薑黃連黃芩人參湯曰本自寒下。白頭翁湯曰熱利下重。小承氣湯曰下利讝語者。小柴胡湯曰差已後更發熱者。則不皆推其所源始。則證與方。大不相愜者也。此豈得但隨證而治之乎哉。以是乎脈證之源始。不可不推以窮極矣。脈證之源始既明。而處方可得施焉。處方之先務。在於辨品物之體用。體用既明。而處方從焉。</p>

<h2>其三</h2>
<p>傷寒之於論也。辭簡旨深。唯標其要語耳矣。疾病之與人活。本末主客。輕重變化。入機而出機。豈盡之於筆舌之間哉。將使讀者沈研感刻。思而得之也。故其學之也。猶習劍法乎。彼我互對場。而至決其雌雄。則雖固無暇以其法。而平常習法之熟者。無不必得勝利矣。傷寒之於論也。曲盡圓熟。則至療其疾病也。機用備焉。神妙出焉。曲盡圓熟之有道矣。先推脈證之本源於內。而辨識其病位。則縱令脈證同態。奚眩曜乎。曰。究極脈證之本源也者何。曰。推之於內。而不眩曜於脈證之同態也。今舉脈之同態者言之。則桂枝湯曰脈洪大。白虎湯亦曰脈洪大。不可不分別矣。蓋於桂枝湯則以初發汗之過於法。其邪氣盡揚越於太表。而尚未解。一時使脈洪大者也。故於其洪大。必無根柢者也。於白虎湯。則邪氣已陷一身。其勢跋扈於表裡。使脈洪大者也。故於其洪大。必有力。又有根柢者也。雖均一於洪大之字。而推之內而極其本源。則果有其別也如此矣。其他論中標脈者。亦皆無不然矣。不可不推知焉。又舉證之同態者言之。則少陽之熱。內結於心下。而為痞硬此為之半夏瀉心湯也。生薑瀉心湯。甘草瀉心湯屬焉。下焦畜水氣。不和之氣。遂犯於心下。而為痞硬。此為之赤石脂禹餘糧湯也。病新解後。以活氣弛。乃釀成痰飲於心下。而為痞硬。此為之旋覆代赭石湯也。表裡有邪氣。其勢交會心下。而為痞硬。此為之桂枝人參湯也。病雖尚在於少陽。而其勢將轉於胃。乃迫心下而為痞硬。此為之大柴胡湯也。是雖皆均為心下痞硬。而推之內而極其本源。則果有其別也如此矣。其他論中論證者。亦皆無不然矣。不可不推知焉。是故脈證之雖不可緩而不推極之本源。但拘泥其脈證。則脈證亦何益乎。其要在推之於內。而先辨其病位也。病位既辨。而脈證之正變主客彰然矣。於是乎處方之意初一矣。</p>

<h2>其四</h2>
<p>夫人之所以立者無他。以血液宣布。神氣運行也。是為之其常也。若乃當其有邪氣也。血液為之失其常度。神氣為之紊其機用。於是乎脈證出焉。脈證也者。有形之者也。邪氣也者。無形之者也。無形之克生有形者。蓋邪氣之在於人身乎。即以血液神氣為其態故也。是故脈證者。不止出於邪氣而已。血液神氣亦職之由矣。然則於治療之道。可推脈證於內。而索血液神氣之如何。而後以之治法矣。是為之醫之先務也。若其血液神氣之於其常也。非固草水蟲石之所與。而但穀肉果菜得以養之也。若其血液神氣之。為邪氣失其常也。非固穀肉果菜之所與。而但草木蟲石得以復之也。本論諸篇。如所論之脈證。皆推究之於內。則無不惑於血液凝結。或於血液偏滿。或於血液虛耗。又或乘乎神氣之怠慢。或乘乎神氣之微乏或乘乎神氣之不旺也。夫然故血液神氣之既神仙靈妙於往日。亦以為邪氣。魑魅魍魎於今日。是故於治療之道也。可推脈證於內。而索夫血液神氣之為魑魅魍魎者。而以施其治法耳矣。且夫藥有剛柔。升降。疏密。開閉。干潤。散收之宜。可擇以制夫血液神氣之為魑魅魍魎者。而使之復其常度。使之振其機用矣。既如此。則邪氣何為得淹留矣哉。猶大海之不承塵芥然矣。於是乎處其方劑也。先識於血液神氣之如何。而後足漸辨脈證之正變主客也。此余之所以先於病之源始。而後於脈證也。雖然。不既明脈證。則亦不能度量血液神氣矣。豈敢忽脈證矣哉。豈敢忽脈證矣哉。</p>

<h2>其五</h2>
<p>病有表裡內外之分矣。藥無表裡內外之別矣。凡藥之入腹中也。即就病之所在。而以為之位者也。於是能得其肯綮乎。乃立之功績。其相戾乎。乃為反逆者也。豈藥得固有表裡內外之別。而獨期其所之乎哉。夫人身之有病也。猶河海之浮船乎。病非人身之所固有也。船亦非河海之所固有也。乃其水之積厚乎。其力無勞乎負船。船必能濟焉。精之最健乎。其勢亦無勞乎逐病。病必揚越焉。若夫水之積既薄也。何勝負船。船恐委於泥沙焉。精之既衰也。亦何勝逐病。病或沉滯於重地焉。於是乎船加之以順風。則如之何。蓋病之得治方。其猶船之於順風乎矣。船得順風。而焉無不能濟矣。病得治方。而亦焉無不愈矣。苟藥之反於病也。亦猶船之於逆風也。病乎。不得不必至篤危矣。船乎。不得不必為破毀矣。且夫風有西東南北之宜。藥有峻劇平易之宜。風得船而厲其勢。藥待病而見其力。不得風之宜。則奈船何。不得藥之宜。則奈病何。是故凡藥之入腹中也。固無表裡內外之別。即就病之所在。而以為之位者也。豈獨期其所之乎哉。</p>

<h2>氣</h2>
<p>氣者機也。機發神妙。此謂之氣也。夫人身之有氣也。有先天后天之分。不可不辨焉。蓋以先天言之。則指出於天元之一氣。故曰之元氣也。以後天言之。則指歷乳汁穀肉之養。故曰之精氣也。是故元氣精氣固同一。而唯其所指之別而已。後世論氣極多端。曰宗氣。曰神氣。曰大氣。雖然。要之皆不出元氣精氣之外者也。於是乎知元氣精氣之可謂。而諸氣之不可謂也。故論中單曰氣者。皆指精氣言之也。如曰其氣上衝。曰氣上衝胸。曰氣上衝咽喉。曰少氣。曰氣上撞心。曰氣逆欲吐者是也。時又有冠氣以物者。此皆指其機發言之也。如曰胃氣不和。曰心下有水氣。曰噫氣不除。曰胃中有邪氣。曰腹中轉矢氣者是也。豈但是而已哉。凡以氣屬天地之動物。則唯彌其機發之義也。所謂如天氣地氣然矣。其他萬物亦皆無不然矣。是故今但就人身。單曰氣。則精氣之氣也。冠氣或以胃。或以水。或以噫。或以邪。或以矢。則皆指其機發之謂也。然則氣之雖一。而因所其指。異其意義。豈可混同乎。詳說見於脈證式。</p>

<h2>正邪</h2>
<p>正氣者。天地四時之氣也。此氣克養萬物。亦克傷矣。然則氣候之於萬物也。順而養逆而傷乎。曰不然。順逆相據為養。順逆相與亦為傷。故順逆者。可與謂正氣。而不以配正邪。若夫於天地之間也。苟有邪氣而流行乎。何不使萬物盡病。且斃矣乎。觀於前有罹病者。後有在常者。右有斃者。左有生者。亙往古晚近而不改其政令。則豈天地之間。得別有邪氣哉。唯天地之正氣為然矣。蓋邪氣者。俟人之彌也。故正氣犯人。則初現其態者也。凡人之於體也。精氣貫通。血液宣布。苟無一點之虧隙。此為之其常也。既如此。則縱令其氣候逆。奚得傷之矣乎。而況於氣候之順乎。必無害守其常也。若夫人之於體也。雖固無病。而衣食之不適。情欲之不從。勞逸之不節。則不能不為一時之虛。一時之不足也。既如此。則縱令其氣候順。奚得守其常矣乎。而況於氣候之逆乎。必不得不被傷也。於是乎病與不病。我自取焉。豈強之天地四時之氣候之為哉。古語曰。邪氣乘虛入。此即名字人之疾病。而曰邪氣者也。奚外人身言之乎。後世不辨此義。論邪氣必於天地四時。復必於人之疾病也。以是受病之原。昏懵而可不知焉。癖或胚胎於茲。嗟嘆悲哉。</p>

<h2>虛實</h2>
<p>虛也者。精氣之虛也。實也者。邪氣之實也。故虛則初於實。而實則生於虛。以是乎有實則有虛。有虛必有實。實待虛而彌實。虛待實而益虛。實與虛。其不相離也如此矣。雖然。於疾醫之道。先立之標。而不期其方隅。則術無所從矣。於是乎其實之益實。則雖不能無虛。而單曰實。其虛之益虛。則雖不能無實。而單曰虛。此欲期其方隅也。然則實有本末。虛有首尾。實之為實。獨在其本。而不在其末。以末之專於虛也。虛之為虛。獨在其尾。而不在其首。以首之專於實也。此所以虛實之兩隅互相待者。而歸之一隅。而單曰實。單曰虛也。虛實之義既明。而陰陽定矣。故虛實者。陰陽之原也。</p>

<h2>陰陽</h2>
<p>陰陽者。內外之名。而顯隱之義也。夫邪氣之傷人身。其狀態千差萬別。雖固不可窮極。而統以陽與陰。系以合併或虛實間。往乎來乎。不得必離於此等之位焉。蓋邪氣雖一。而各殊異其狀態者。不惟於邪氣之輕重而已。精虛之多少尤與矣。於是乎實之據虛。則邪氣雖盛。而精尚有所振矣。故病顯著於外。此呼之陽也。虛之據實。則精氣已受敗。邪氣自旺矣。故病隱晦於內。此呼之陰也。陽之繫於外。陰之藏於內。其義詳悉。而未見其狀態。狀態之可見於外者。為寒熱也。</p>

<h2>寒熱</h2>
<p>寒熱者。邪氣之狀態也。正氣勝於邪氣。則以熱為其候也。邪氣勝於正氣。則以寒為其候也。寒之狀態。初於惡寒。而終手足厥寒厥逆也。熱之狀態。初於發熱。而終外熱也。是故寒則以其終為本色焉。熱則以其始為本色焉。寒之於發熱惡寒也。是為之標也。寒之於手足厥寒厥逆也。是為之本也。何則以寒之專於虛地也。熱之於發熱也。是為之本也。熱之於外熱也。是為之標也。何則以熱之專於實地也。夫既雖熱之在實地。而有其標及虛地者。雖寒之在虛地。而有其標及實地者。然則熱而有虛實。寒而有虛實。虛實寒熱如擾亂然矣。於是乎。拆半寒熱虛實。呼熱之專於實地者曰陽。呼寒之專於虛地者曰陰。可知熱之在陽位。寒之在陰位也。是故寒熱者。陰陽之候法也。</p>

<h2>虛實間</h2>
<p>夫熱之因於陽與實。寒之因於陰與虛。不能無淺深輕重之別矣。於是乎有三陽三陰之分也。太陰為表。以肌肉間為其位也。少陽為表裡間。以心胸為其位也。陽明為里。以胃之內郭為其位也。如三陰。亦皆為之裡也。而太陰位於胃內之上口。少陰位於胃內之中央。厥陰位於胃內之下尾。故如陽明。太陰。少陰。厥陰。則雖有區別。而均是皆里也。如少陽則以間於表裡。前顧太陽之表。後臨陽明與太陰之裡者也。故少陽之轉於陽明者。不俟論焉。而又時有轉於太陰者也。夫蓋少陽之邪。彌益實之勢。則轉於陽明也。此為之其常也。故其轉也迅速。而必無躊躕於其中間者矣。少陽之邪。既交精之虛。則轉於太陰也。此為之非常也。故其轉也緩慢。而必有躊躕於其中間者矣。於是乎。無論有少陽之轉於太陰者。或有少陽之證未解。已交於太陰之證者。此為之少陽太陰之並病也。或有既去少陽之位地。而未及太陰之位地。惟在其中間。而虛實均待而為脈證者。此為之虛實之間位也。此於其虛實之間位也。不唯出於少陽。而入於太陰而已。又有出於太陰。而入於少陽者也。何則於是位也。以雖有精虛。而未專見虛候。雖有邪實。未專見實候也。故其實之終駸乎。必見虛候矣。乃為之太陰病也。其虛之漸復乎。必見實候矣。乃為之少陽病也。虛實間之於少陽太陰也。為殊易混淆矣。不可不慎以稽之脈證也。曰。然則本論何不設虛實間之一篇。使讀者別知有此位地乎。曰。本論既張虛實間之一篇。則判然嫌於與三陽三陰為對應也。此於是位也。殊不然矣。不歸少陽。則必轉於太陰。不轉太陰。則必歸於少陽。唯始終於其中間者也。豈若三陽三陰之轉機縱橫不可期者矣。此本論所以不設。虛實間之篇也。且夫於各位之間。亦皆不能無間位也。雖然。以虛實互偏。乃留連於各位之間者尤寡矣。倘其留連者。亦不得不迅速其轉遷矣。如虛實間之位。則以間表裡陰陽。亙虛實兩端。為其部位也。太甚廣矣。而於其脈證。亦不一定而止焉。不可不論焉。本論少陽太陰。接其篇者。欲示此等之義也。不可不稽矣。</p>

<h2>方位</h2>
<p>夫醫之驅使藥方。不可不漁獵於氾濫。雖然。不辨其部位。但驅其氾濫。則見而無不理。與而無不善。此術之所以為拙也。以是先辨其部位。而一必顧於茲。十亦顧於茲。則十而如一。一果應十。縱橫無盡。不惑其氾濫。方意明瞭。而其用不違。藥方之部位。不可不辨。故今序其方位如下。</p>
<p>桂枝湯　桂枝加葛根湯　桂枝加厚朴杏仁湯　桂枝麻黃各半湯</p>
<p>桂枝二麻黃一湯　桂枝二越婢一湯　葛根湯　葛根加半夏湯　麻黃湯　大青龍湯　小青龍湯</p>
<p>上十一方。為太陽部位之方也。</p>
<p>葛根黃芩黃連湯　柴胡桂枝湯</p>
<p>上二方。為太陽少陽間之方也。</p>
<p>麻黃杏仁甘草石膏湯</p>
<p>上一方。為太陽陽明間之方也。</p>
<p>桂枝加附子湯　桂枝去芍藥加附子湯</p>
<p>上二方。為太陽少陰間之方也。</p>
<p>小柴胡湯　柴胡加龍骨牡蠣湯　大柴胡湯　柴胡加芒硝湯　柴胡桂枝幹薑湯</p>
<p>上五方。為少陽正位之方也。</p>
<p>茯苓桂枝白朮甘草湯　五苓散　梔子豉湯　梔子甘草豉湯　梔子生薑豉湯　大陷胸湯　小陷胸湯　白散　半夏瀉心湯　十棗湯　大黃黃連瀉心湯　生薑瀉心湯　甘草瀉心湯　瓜蒂散　黃連湯　梔子蘗皮湯</p>
<p>上十六方。為少陽變位之方也。</p>
<p>調胃承氣湯　白虎湯　白虎加人參湯　小承氣湯　大承氣湯</p>
<p>上五方。為陽明部位之方也。</p>
<p>乾薑甘草湯　芍藥甘草湯　桂枝芍藥湯　桂枝去桂加茯苓白朮湯　桂枝甘草湯　茯苓桂枝甘草大棗湯　厚朴生薑甘草半夏人參湯　茯苓甘草湯　梔子厚朴湯　梔子乾薑湯　桃核承氣湯　救逆湯　桂枝加桂湯　桂枝甘草龍骨牡蠣湯　抵當湯　附子瀉心湯　赤石脂禹餘糧湯　旋覆代赭石湯　桂枝人參湯　黃芩湯　黃芩加半夏生薑湯　桂枝附子湯　甘草附子湯　豬苓湯　蜜煎導　茵陳蒿湯　吳茱萸湯　豬膚湯　麻黃連軺赤小豆湯　桂枝加芍藥大黃湯　黃連阿膠湯　桃花湯　甘草湯　桔梗湯　苦酒湯　四逆散　當歸四逆湯　當歸四逆加吳茱萸生薑湯　乾薑黃連黃芩人參湯　白頭翁湯　竹葉石膏湯</p>
<p>上四十一方。為虛實間之方也。</p>
<p>新加湯　小建中湯　桂枝加芍藥湯　理中丸</p>
<p>上四方。為太陰部位之方也。</p>
<p>乾薑附子湯　芍藥甘草附子湯　茯苓四逆湯　真武湯　桂枝附子去桂枝加白朮湯　麻黃附子細辛湯　麻黃附子甘草湯　附子湯　白通湯　白通加豬膽汁湯</p>
<p>上十方。為少陰部位之方也。</p>
<p>四逆湯　四逆加人參湯　通脈四逆湯　通脈四逆加豬膽汁湯</p>
<p>上四方。為厥陰部位之方也。</p>
<p>通計一百一方。傷寒論之舊方也。</p>
<p>禹餘糧丸</p>
<p>上方法闕。故省之。</p>
<p>抵當丸　大陷胸丸　文蛤散　炙甘草湯　土瓜根方　豬膽汁方　麻仁丸　半夏散　烏梅丸　麻黃升麻湯　燒裩散　枳實梔子湯　牡蠣澤瀉散</p>
<p>上十三方。證方不穩當。手段或出於怪異。恐後人之補入。故亦暫省。而俟後考。</p>

<h1>卷下</h1>
<p>【桂枝】　體貫通而開發。緩融宣暢為之用。</p>
<p>開發（桂枝湯。桂枝加厚朴杏仁湯。桂枝加葛根湯。桂枝二麻黃一湯。桂枝麻黃各半湯。桂枝二越婢一湯。葛根湯。麻黃楊。小青龍湯。大青龍湯。柴胡桂枝湯。開發表位也。）</p>
<p>緩融（柴胡桂枝幹薑湯。緩融胸脅也。黃連湯。緩融胸腹也。茯苓桂枝白朮甘草湯。緩融心胸下也。小建中湯。桂枝加芍藥湯。加芍藥加大黃湯。緩融腹中也。茯苓甘草湯。當歸四逆湯。當歸四逆加吳茱萸生薑湯。緩融心胃間也。桂枝人參湯。緩融表裡也。桃核承氣湯。緩融血道也。）</p>
<p>宣暢（桂枝去芍藥湯。桂枝去芍藥加附子湯。新加湯。桂枝加附子湯。桂枝附子湯。甘草附子湯。宣暢表裡也。五苓散。宣暢肌肉間也。桂枝加桂湯。救逆湯。茯苓桂枝甘草大棗湯。桂枝甘草湯。桂枝甘草龍骨牡蠣湯。宣暢虛實間也。）</p>
<p>按交趾為上。東京廣東次之。取味辛甘。而香氣多者。可任用。蓋桂枝名枝條之皮也。枝條之皮則薄。薄者味必辛甘。而香氣多。身干之皮則厚。厚者味必澀苦。而香氣少。此所謂肉桂也。肉桂之劣於桂枝已甚。</p>
<p>【葛根】　體摧折而弛張。清解為之用。</p>
<p>弛張（桂枝加葛根湯。葛根湯。葛根加半夏湯。弛張表位也。）</p>
<p>清解（葛根黃芩黃連湯。清解表裡也。）</p>
<p>按當取入土深實大者。破而日乾之而已。不須蒸曝之制矣。</p>
<p>【麻黃】體疏漏而輕散。清開為之用。</p>
<p>輕散（麻黃湯。桂枝麻黃各半湯。桂枝二麻黃一湯。桂枝二越婢一湯　。葛根湯。小青龍湯。大青龍湯。輕散表位也。麻黃附子細辛湯。麻黃附子甘草湯。輕散腹中也。）</p>
<p>清開（麻黃杏仁甘草石膏湯。清開表裡也。麻黃連軺赤小豆湯。清開虛實間也。）</p>
<p>按新莖肥滿。青色微黃者為佳。如其根節。不堪任用。和產無之。本邦以密慈獨久薩充之者。恐不是。</p>
<p>【桔梗】體固屈。而排達為之用。</p>
<p>排達（桔梗白散。排達胸中也。桔梗湯。排達喉嚨也。）</p>
<p>按今稱花壇者為勝。其他待制造者。總不備體用。如華產氣味卻薄。</p>
<p>【細辛】體分披而消散。追逐為之用。</p>
<p>消散（小青龍湯。消散表位。及心下也。）</p>
<p>追逐（當歸四逆湯。當歸四逆加吳茱萸生薑湯。追逐心胃間也。麻黃附子細辛湯。追逐腹中也。）</p>
<p>按小細柔直。味極辛如嚼椒者佳。本邦產。形狀頗類杜衡。雖然以其體用。則充之細辛。亦無害矣。</p>
<p>【茵陳蒿】體輕清。而疏通為之用。</p>
<p>疏通（茵陳蒿湯。疏通虛實間也。）</p>
<p>按喚葛窊刺欲木及者是也。山野坡岸多有之。陰乾用之。</p>
<p>【連軺】體發達。而揚散為之用。</p>
<p>揚散（麻黃連軺赤小豆湯。揚散虛實間也。）</p>
<p>按連軺亦作連苕。本經云連翹根也。又按實與根共均揚散之用也。惟實則專揚散於外。根則專揚散於內。是為之小區別也。</p>
<p>【秦皮】體收澀。而解散為之用。</p>
<p>解散（白頭翁湯。解散虛實間也。）</p>
<p>按秦皮。即秦樹皮也。邦俗喚大葉篤涅慄谷者是也。細葉者不足任用。</p>
<p>【通草】體疏達。而通利為之用。</p>
<p>通利（當歸四逆湯。當歸四逆加吳茱萸生薑湯。通利心胃間也。）</p>
<p>按邦俗呼遏結弼者是也。舶來通草。多是葡萄藤。不可不擇焉。</p>
<p>【澤瀉】體疏通。而滲泄為之用。</p>
<p>滲泄（五苓散。滲泄肌肉間也。豬苓湯。滲泄虛實間也。）</p>
<p>按華產為上。吾邦仙台產次之。新根肥大切之為片者。可任用。</p>
<p>【豬苓】體輕舉。而滲泄為之用。</p>
<p>滲泄（五苓散。滲泄肌肉間也。豬苓湯。滲泄虛實間也。）</p>
<p>按皮面粗黑。內白而輕舉者為佳。近世本邦雖多出之。體用大劣於華產。</p>
<p>【蔥白】體通氣。而利達為之用。</p>
<p>利達（白通湯。白通加豬膽汁湯。達利腹中也。）</p>
<p>按莖大而色潔白。新裁者堪用。不俟陰乾等之制。</p>
<p>【瓜蒂】體疏泄。而通越為之用。</p>
<p>通越（瓜蒂散。通越胸中也。）</p>
<p>按瓜蒂。即甜瓜蒂也。須瓜既熟取其蒂自落用之。本邦越州產最為上品。</p>
<p>【旋覆花】體徐回。而注走為之用。</p>
<p>注走（旋覆代赭石湯。注走心下也。）</p>
<p>按旋覆即金沸草。邦俗呼屋孤兒末者是也。單葉者。可取以供用。</p>
<p>【梓白皮】體條理。而利達為之用。</p>
<p>利達（麻黃連軺赤小豆湯。利達虛實間也。）</p>
<p>按邦俗呼遏葛蔑葛失窊者是也。生梓白皮者。即謂臨用新取之也。蓋葉亦其體為條理用則為發達也。皮與葉異內外上下之用。不可不辨焉。</p>
<p>【竹葉】體清亮。而開達為之用。</p>
<p>開達（竹葉石膏湯。開達虛實間也。）</p>
<p>按苦竹淡竹之二種可通用。用時須撰取新葉。不拘葉之大小厚薄也。</p>
<p>【白頭翁】體輕搖。而疏利為之用。</p>
<p>疏利（白頭翁湯。疏利虛實間也。）</p>
<p>按花葉莖根總合。隱乾用之。俗呼熱葛已速烏者是也。舶來無之。</p>
<p>【柴胡】體融蕩而解散。消化為之用。</p>
<p>解散（小柴胡湯。大柴胡湯。柴胡加龍骨牡蠣湯。柴胡加芒硝湯。柴胡桂枝湯。柴胡桂枝幹薑湯。解散胸脅也。）</p>
<p>消化（四逆散。消化心胃間也。）</p>
<p>按須撰新產無蛀者。本邦呼鎌倉產者。勝諸品。</p>
<p>【甘草】體柔順而和緩。融徹寬道為之用。</p>
<p>和緩（桂枝湯。桂枝加葛根湯。桂枝加厚朴杏仁湯。桂枝二麻黃一湯。桂枝麻黃各半湯。桂枝二越婢一湯。葛根湯。葛根加半夏湯。麻黃湯。小青龍湯。大青龍湯。和緩表位也。小柴胡湯。柴胡加龍骨牡蠣湯。柴胡桂枝幹薑湯。和緩胸脅也。葛根黃芩黃連湯。柴胡桂枝湯。和緩表裡也。芍藥甘草湯。桂枝甘草湯。竹葉石膏湯。和緩虛實間也。）</p>
<p>融徹（半夏瀉心湯。生薑瀉心湯。甘草瀉心湯。旋覆代赭石湯。融徹心下也。調胃承氣湯。白虎湯。白虎加人參湯。融徹胃中也。小建中湯。桂枝加芍藥湯。桂枝加芍藥加大黃湯。新加湯。麻黃附子甘草湯。芍藥甘草附子湯。茯苓四逆湯。四逆湯。通脈四逆湯。通脈四逆加豬膽汁湯。融徹腹中也。梔子蘗皮湯。融徹表裡間也。桂枝加附子湯。桂枝附子湯。甘草附子湯。桂枝人參湯。融徹表裡也。茯苓甘草湯。融徹心胃間也。桃核承氣湯。融徹血道也。桂枝去桂加茯苓白朮湯。融徹心下也。去桂枝加白朮湯。四逆加人參湯。理中丸。融徹腹中也。）</p>
<p>寬道（甘草湯。桔梗湯。寬道喉嚨也。梔子甘草豉湯。寬道心胸也。茯苓桂枝白朮甘草湯。寬道心胸下也。黃連湯。寬道胸腹也。桂枝去芍藥湯。桂枝去芍藥加附子湯。麻黃杏仁甘草石膏湯。寬道表裡也。厚朴生薑甘草半夏人參湯。當歸四逆湯。當歸四逆加吳茱萸生薑湯。四逆散。寬道心胃間也。救逆湯。桂枝加桂湯。桂枝甘草龍骨牡蠣湯。甘草乾薑湯。黃芩湯。麻黃連軺赤小豆湯。茯苓桂枝甘草大棗湯。寬道虛實間也。）</p>
<p>按赤皮皴面。切之斷理濃黃者為佳。本邦移植華種者。體用總不備矣。</p>
<p>【白朮】體條理而通利。分別為之用。</p>
<p>通利（五苓散。通利肌肉間也。桂枝去桂加茯苓白朮湯。通利心下也。去桂枝加白朮湯。甘草附子湯。通利腹中也。）</p>
<p>分別（茯苓桂枝白朮甘草湯。分別心胸下也。理中丸。真武湯。附子湯。分別腹中也。桂枝人參湯。分別表裡間也。）</p>
<p>按新根肥大。切之白潤。而有赤理者尤可矣。近世如諸和產。大失其體用。蓋皆蒼朮之類乎矣。</p>
<p>【芍藥】體收斂而緩舒。融蕩鎮固為之用。</p>
<p>緩舒（桂枝湯。桂枝加葛根湯。桂枝加厚朴杏仁湯。桂枝二麻黃一湯。桂枝麻黃各半湯。桂枝二越婢一湯。葛根湯。小青龍湯。緩舒表位也。柴胡桂枝湯。緩舒表裡也。芍藥甘草湯。緩舒虛實間也。）</p>
<p>融蕩（大柴胡湯。柴胡加芒硝湯。融蕩胸脅也。新加湯。小建中湯。桂枝加芍藥湯。加芍藥加大黃湯。芍藥甘草附子湯。真武湯。附子湯。融蕩腹中也。桂枝去桂加茯苓白朮湯。融蕩心下也。桂子加附子湯。融蕩表裡也。）</p>
<p>鎮固（四逆散。當歸四逆湯。當歸四逆加吳茱萸生薑湯。固鎮心胃間也。桂枝加桂湯。黃芩湯。黃芩加半夏生薑湯。黃連阿膠湯。鎮固虛實間也。）</p>
<p>按赤白無別。華產為佳。須擇無蛀者任用之。本邦呼真芍藥者。堪供其闕也。</p>
<p>【半夏】體運轉而啟開。疏散為之用。</p>
<p>啟開（苦酒湯。啟開咽喉也。葛根加半夏湯。黃芩加半夏生薑湯。啟開心胸也。小青龍湯。啟開表位及心下也。）</p>
<p>疏散（小柴胡湯。柴胡加龍骨牡蠣湯。大柴胡湯。柴胡加芒硝湯。疏散胸脅也。厚朴生薑甘草半夏人參湯。疏散心胃間也。半夏瀉心湯。生薑瀉心湯。甘草瀉心湯。旋覆代赭石湯。小陷胸湯。疏散心下也。柴胡桂枝湯。疏散表裡也。黃連湯。疏散胸腹也。竹葉石膏湯。疏散虛實間也。）</p>
<p>按不拘粒之大小。去粗皮而白潤者。可任用。本邦防州藝州產能愜之。</p>
<p>【茯苓】體通理。而疏泄為之用。</p>
<p>疏泄（五苓散。疏泄肌肉間也。桂枝去桂加茯苓白朮湯。疏泄心下也。茯苓桂枝白朮甘草湯。疏泄心胸下也。茯苓甘草湯。疏泄心胃間也。茯苓四逆湯。真武湯。附子湯。疏泄腹中也。茯苓桂枝甘草大棗湯。豬苓湯。疏泄虛實間也。）</p>
<p>按本邦諸州所產皆可用。大塊堅實。白色帶淡赤者最佳。</p>
<p>【黃芩】體清爽而開達。泄解為之用。</p>
<p>開達（小柴胡湯。柴胡加龍骨牡蠣湯。大柴胡湯。柴胡加芒硝湯。柴胡桂枝幹薑湯。開達胸脅也。半夏瀉心湯。生薑瀉心湯。甘草瀉心湯。開達心下也。柴胡桂枝湯。開達表裡也。）</p>
<p>泄解（葛根黃芩黃連湯。泄解表裡也。黃芩湯。黃芩加半夏生薑湯。乾薑黃連黃芩人參湯。黃連阿膠湯。泄解虛實間也。）</p>
<p>按華產堅實皮薄。色深黃微黑。如有文理者良。朝鮮產。及坊間稱真黃芩者。不足任用。</p>
<p>【黃連】體驅逐而沖排。涼解為之用。</p>
<p>沖排（半夏瀉心湯。生薑瀉心湯。甘草瀉心湯。大黃黃連瀉心湯。附子瀉心湯。小陷胸湯。沖排心下也。黃連湯。沖排胸腹也。）</p>
<p>涼解（葛根黃芩黃連湯。涼解表裡也。乾薑黃連黃芩人參湯。白頭翁湯。黃連阿膠湯。涼解虛實間也。）</p>
<p>按尚纖毛節高。內堅實而色濃黃者。稱加州產者。殊勝諸品。</p>
<p>【黃蘗】體定固。而壓逐為之用。</p>
<p>壓逐（梔子蘗皮湯。壓逐表裡間也。白頭翁湯。壓逐虛實間也。）</p>
<p>按撰皮厚味極苦者為良。本邦諸州產。皆可任用。呼吉窊達者是也。浸炙等之制。固不可從矣。</p>
<p>【梔子】體漸染。而敞朗為之用。</p>
<p>敞朗（梔子豉湯。梔子生薑豉湯、梔子甘草豉湯。敞朗心胸也。梔子蘗皮湯。敞朗表裡間也。梔子厚朴湯。敞朗心胃間也。梔子乾薑湯。茵陳蒿湯。敞朗虛實間也。）</p>
<p>按和產堪任用。能熟色赭紅者為良。</p>
<p>【厚朴】體排逐。而降散為之用。</p>
<p>降散（桂枝加厚朴杏仁湯。降散表位也。厚朴生薑甘草半夏人參湯。梔子厚朴湯。降散心胃間也。大承氣湯。小承氣湯。降散胃中也。）</p>
<p>按尚皮軟厚色深紫者。坊間稱真厚朴者。不足任用。</p>
<p>【蜀漆】體堅固。而追逐為之用。</p>
<p>追逐（救逆湯。追逐虛實間也。）</p>
<p>按根為常山。苗莖為蜀漆。邦俗曰孤薩吉者是也。</p>
<p>【知母】體輕清。而散走為之用。</p>
<p>散走（白虎湯。白虎加人參湯。散走胃中也。）</p>
<p>按華產肥大。輕虛多須者良。吾邦移植華種者大劣矣。</p>
<p>【栝蔞根及實】根體潤和。而散泄為之用。實體散泄。而潤和為之用。</p>
<p>散泄（柴胡桂枝幹薑湯。散泄胸脅也。）</p>
<p>潤和（小陷胸湯。潤和心下也。）</p>
<p>按吾邦所謂吉葛剌斯烏慄者是也。根與王瓜易混。又坊間呼玉章樣者。非栝蔞實。蓋王瓜實也。不可混同。</p>
<p>【當歸】體柔沃。而順寬為之用。</p>
<p>順寬（當歸四逆湯。當歸四逆加吳茱萸生薑湯。順寬心胃間也。）</p>
<p>按本邦伊吹山產。可使用。其他和州及仙台產。氣味過厚。而卻失柔沃之體。</p>
<p>【人參】體通暢而和逐。融蕩為之用。</p>
<p>和逐（小柴胡湯。柴胡桂枝湯。和逐胸脅也。厚朴生薑甘草半夏人參湯。和逐心胃間也。黃連湯。和逐胸腹也。吳茱萸湯。乾薑黃連黃芩人參湯。竹葉石膏湯。和逐虛實間也。白虎加人參湯。和逐胃中也。）</p>
<p>融蕩（半夏瀉心湯。生薑瀉心湯。甘草瀉心湯。旋覆代赭石湯。融蕩心下也。新加湯。桂枝人參湯。融蕩表裡也。理中丸。茯苓四逆湯。附子湯。四逆加人參湯。融蕩腹中也。）</p>
<p>按人參品類太多。偽贗亦不少。朝鮮為上品。廣東次之。近世物產家。以廣東人參為三七根。其言昭亮。余多年試用廣東。和逐融蕩之功。實出朝鮮之後。故暫措其草形根狀之似與不似於彼。而唯取其功用之不背於彼而已。且若稱御種人參者。及和產諸品。或專苦味。則無甘溫之態。或專甘味。則無苦平之態。皆不足任用之矣。</p>
<p>【附子】體溫暖而升散。振贍為之用。</p>
<p>升散（桂枝加附子湯。桂枝去芍藥加附子湯。桂枝附子湯。甘草附子湯。升散表裡也。附子瀉心湯。升散心下也。桂枝去桂加白朮湯。麻黃附子細辛湯。麻黃附子甘草湯。升散腹中也。）</p>
<p>振贍（乾薑附子湯。芍藥甘草附子湯。茯苓四逆湯。真武湯。附子湯。白通湯。白通加豬膽汁湯。四逆湯。四逆加人參湯。通脈四逆湯。通脈四逆加豬膽汁湯。振贍腹中也。）</p>
<p>按豐實鎮重。切之白色者為上。品出於本邦奧州仙台及松前蝦夷者。如其形狀。則殆同於華產。而於其效用。則唯揚越嚴緊。而大異於華產之沉重溫順。蓋皆烏頭之類也乎。不可混同焉。近代唱古醫方者。代附子以烏頭者。往往有之。此以不推其效用也。不可從矣。</p>
<p>【大黃】體震盪而放逐。轉輸為之用。</p>
<p>放逐（小承氣湯。大承氣湯。放逐胃中也。大陷胸湯。放逐胸中也。桃核承氣湯。抵當湯。放逐血道也。茵陳蒿湯。放逐虛實間也。）</p>
<p>轉輸（大柴胡湯。柴胡加芒硝湯。轉輸胸脅也。謂胃承氣湯。轉輸胃中也。大黃黃連瀉心湯。附子瀉心湯。轉輸心下也。桂枝加芍藥加大黃湯。轉輸腹中也。）</p>
<p>按大塊鎮重。柴地錦文者為佳。坊間稱真大黃者。功用大劣。</p>
<p>【大戟】體陵奪。而瀉下為之用。</p>
<p>瀉下（十棗湯。瀉下心下及胸中也。）</p>
<p>按根皮柔軟紫色。銼之如束綿者為上品。所謂紫大戟是也。其他品類。皆屬偽贗。偶江州獅飛鄉及越前州所產。足供其闕漏也。</p>
<p>【甘遂】體降散。而瀉下為之用。</p>
<p>瀉下（大陷胸湯。瀉下胸中及心下也。十棗湯。瀉下心下及胸中也。）</p>
<p>按白色堅實無蛀者。可供使用。本邦產。體用都不備也。</p>
<p>【芫花】體馳突。而瀉下為之用。</p>
<p>瀉下（十棗湯。瀉下心下及胸中也。）</p>
<p>按芫花贗物最多。以鼠麴草花偽之。不可不辨矣。其色漆紫。四瓣抱以如丁香狀者。是真物也。可撰任用。本邦呼膚𨴗木篤吉者。形狀與真不異。於其體用亦異矣。可以陻其闕而已。</p>
<p>【巴豆】體燥熱。而峻奔為之用。</p>
<p>峻奔（桔梗白散。峻奔胸中也。）</p>
<p>按和產無之。以新實者為良。捶去殼直用。不須用水酒醋油等之制。及包紙為霜。熬令黃黑之法。</p>
<p>【大棗】體和潤而緩通。安定為之用。</p>
<p>緩通（桂枝湯。桂枝加葛根湯。桂枝加厚朴杏仁湯。桂枝二麻黃一湯。桂枝麻黃各半湯。桂枝二越婢一湯。葛根湯。葛根加半夏湯。大青龍湯。緩通表位也。小柴胡湯。大柴胡湯。柴胡加芒硝湯。緩通胸脅也。十棗湯。緩通心下及胸中也。半夏瀉心湯。生薑瀉心湯。甘草瀉心湯。旋覆代赭石湯。桂枝去桂加茯苓白朮湯。緩通心下也。小建中湯。桂枝加芍藥湯。加芍藥加大黃湯。去桂枝加白朮湯。緩通腹中也。柴胡桂枝湯。新加湯。桂枝加附子湯。桂枝去芍藥湯。去芍藥加附子湯。桂枝附子湯。緩通表裡也。黃芩湯。黃芩加半夏生薑湯。麻黃連軺赤小豆湯。緩通虛實間也。吳茱萸湯。當歸四逆湯。當歸四逆加吳茱萸生薑湯。緩通心胃間也。黃連湯。緩通胸腹也。）</p>
<p>安定（柴胡加龍骨牡蠣湯。安定胸脅也。救逆湯。桂枝加桂湯。茯桂甘棗湯。安定虛實間也。）</p>
<p>按取肥大核小能熟者。而日乾而已。不可用蒸煮等之制。</p>
<p>【生薑】體啟開而揚散。排達疏通為之用。</p>
<p>揚散（桂枝湯。桂枝加葛根湯。桂枝二越婢一湯。桂枝二麻黃一湯。桂枝麻黃各半湯。葛根湯。大青龍湯。揚散表位也。桂枝加附子湯。桂枝附子湯。新加湯。桂枝去芍藥湯。去芍藥加附子湯。揚散表裡也。）</p>
<p>排達（桂枝加厚朴杏仁湯。排達表位也。葛根加半夏生薑湯。黃芩加半夏生薑湯。梔子生薑豉湯。排達心胸也。厚朴生薑甘草半夏人參湯。當歸四逆加吳茱萸生薑湯。吳茱萸湯。排達心胃間也。小柴胡湯。柴胡加龍骨牡蠣湯。大柴胡湯。柴胡加芒硝湯。排達胸脅也。旋覆代赭石湯。生薑瀉心湯。排達心下也。柴胡桂枝湯。排達表裡也。）</p>
<p>疏通（桂枝去桂加茯苓白朮湯。疏通心下也。茯苓甘草湯。疏通心胃間也。救逆湯。桂枝加桂湯。麻黃連軺赤小豆湯。疏通虛實間也。桂枝加芍藥湯。加芍藥加大黃湯。小建中湯。去桂枝加白朮湯。真武湯。疏通腹中也。）</p>
<p>按撰新取而潤實者。可供其用。</p>
<p>【乾薑】體披靡而消解。溫散為之用。</p>
<p>消解（小青龍湯。消解表位。及心下也。柴胡桂枝幹薑湯。消解胸脅也。黃連湯。消解胸腹也。半夏瀉心湯。甘草瀉心湯。生薑瀉心湯。消解心下也。梔子乾薑湯。乾薑黃連黃芩人參湯。桃花湯。消解虛實間也。）</p>
<p>溫散（甘草乾薑湯。溫散虛實間也。桂枝人參湯。溫散表裡也。理中丸。茯苓四逆湯。乾薑附子湯。四逆湯。四逆加人參湯。白通湯。白通加豬膽汁湯。通脈四逆湯。通脈四逆加豬膽汁湯。溫散腹中也。）</p>
<p>按作乾薑法。取母姜大者。淹米汁三日。出切作錢片日乾。不須用炮炒之制。</p>
<p>【麥門冬】體滋潤。而優柔為之用。</p>
<p>優柔（竹葉石膏湯。優柔虛實間也。）</p>
<p>按柔實圓大。白色微黃。有光滑者為勝。本邦紀州產。當其任。稱鴉膚剌模者是也。</p>
<p>【吳茱萸】體穿突。而消散為之用。</p>
<p>消散（吳茱萸湯。當歸四逆加吳茱萸生薑湯。消散心胃間也。）</p>
<p>按華產不陳久者佳。本邦所產。氣味過嚴刻矣。</p>
<p>【五味子】體發斂。而潤澤為之用。</p>
<p>潤澤（小青龍湯。潤澤表位。及心下也。）</p>
<p>按以朝鮮產者為勝。本邦呼薩涅葛貲剌者。所謂南五味子也。殊為下品。紀州產。呼未貲膚薩者。所謂北五味子也。雖然。如其效用。則都劣朝鮮產。</p>
<p>【杏仁】體滋潤。而滑達為之用。</p>
<p>滑達（桂枝二麻黃一湯。桂枝麻黃各半湯。麻黃湯。大青龍湯。桂枝加厚朴杏仁湯。滑達表位也。麻黃杏仁甘草石膏湯。滑達表裡也。麻黃連軺赤小豆湯。滑達虛實間也。）</p>
<p>按豐實圓大者為佳。如其炒煮之制。皆不可從。</p>
<p>【桃仁】體滋潤。而淫泆為之用。</p>
<p>淫泆（桃核承氣湯。抵當湯。淫泆血道也。）</p>
<p>按諸桃核仁皆可用。薄大而長。其色潔白。為之桃仁也。與杏梅仁。不可混同。</p>
<p>【枳實】體蕩推。而疏通決泄為之用。</p>
<p>疏通（梔子厚朴湯。疏通心胃間也。大柴胡湯。柴胡加芒硝湯。疏通胸脅也。四逆散。疏通虛實間也。）</p>
<p>決泄（小承氣湯。大承氣湯。決泄胃中也。）</p>
<p>按漢產為良。呼唐枳殼者是也。不可鑿於殼實之異別也。概稱實者為當也。本邦產不備之體用。且多偽贗。如朝鮮產。可供其闕也。</p>
<p>【貝母】體透徹。而排達為之用。</p>
<p>排達（桔梗白散。排達胸中也。）</p>
<p>按白潤肥大。鎮重充實者為佳。</p>
<p>【粳米】體生育。而中和為之用。</p>
<p>中和（白虎湯。白虎加人參湯。中和胃中也。桃花湯。竹葉石膏湯。中和虛實間也。）</p>
<p>按粳米有早中晚三收。供藥用者。以晚粳歷一周年者為可。</p>
<p>【赤小豆】體緩紓。而遷轉為之用。</p>
<p>遷轉（瓜蒂散。遷轉胸中也。麻黃連軺赤小豆湯。遷轉虛實間也。）</p>
<p>按小粒而色濃赤。帶微黑色。不陳久者為佳。</p>
<p>【香豉】體和通。而疏洗為之用。</p>
<p>疏洗（梔子豉湯。梔子甘草豉湯。梔子生薑豉湯。疏洗心胸也。瓜蒂散。疏洗胸中也。）</p>
<p>按豉有咸豉淡豉二種。咸豉備食用。淡豉供藥用。造淡豉法。以黃大豆為黃蒸。取出苞藁。候溫處幽之凡三日。須白衣遍生為準。曬乾充其用。</p>
<p>【膠飴】體和潤。而弛緩為之用。</p>
<p>弛緩（小建中湯。弛緩腹中也。）</p>
<p>按麥蘗粳米相合。敖煎而造者可矣。</p>
<p>【苦酒】體嚴緊。而衝突為之用。</p>
<p>衝突（苦酒湯。衝突咽喉也。）</p>
<p>按苦酒。即醋。謂米醋也。</p>
<p>【水蛭】體穿窬。而敗壞為之用。</p>
<p>敗壞（抵當湯。敗壞血道也。）</p>
<p>按本邦呼谷非兒者是也。夏月取之。但暴乾耳。不須以冬豬脂煎令焦黃。及以微火炒等之制。</p>
<p>【虻蟲】體銷鑠。而敗壞為之用。</p>
<p>敗壞（抵當湯。敗壞血道也。）</p>
<p>按夏月取之。但暴乾。翅足全用。又不用炒熟等之制矣。邦俗呼喚遏屋遏膚者是也。</p>
<p>【蜜】體濡澤。而融緩為之用。</p>
<p>融緩（蜜煎導。融緩便道也。豬膚湯。融緩上焦也。）</p>
<p>接蜜即蜂蜜也。有以砂糖造者。可擇而使用。</p>
<p>【豬膚】體滋潤。而舒暢為之用。</p>
<p>舒暢（豬膚湯。舒暢上焦也。）</p>
<p>按膚肌膚之膚。而謂皮內之薄皮也。</p>
<p>【豬膽】體排通。而滋潤為之用。</p>
<p>滋潤（白通加豬膽汁湯。通脈四逆加豬膽汁湯。滋潤腹中也。）</p>
<p>按論中曰豬膽汁者。取用生膽絞汁之謂也。蓋我邦不畜豬。故膽亦難得。偶貯藥肆者。皆干膽而已。以是今用之也。須直取干膽銼細。與諸藥煮用。</p>
<p>【阿膠】體潤道。而緩舒為之用。</p>
<p>緩舒（豬苓湯。黃連阿膠湯。緩舒虛實間也。）</p>
<p>按阿膠漢制有數品。坊間所謂筭木樣。及硯樣者佳。本邦阿膠製法不整。不堪藥用。</p>
<p>【雞子】體溫潤。而白以紓散為之用。黃以疏通。為之用。</p>
<p>紓散（苦酒湯。紓散咽喉也。）</p>
<p>疏通（黃連阿膠湯。疏通虛實間也。）</p>
<p>按雞子即雞卵也。不拘卵之大小。取新生者可供其用。</p>
<p>【人尿】體滋潤。而降伏為之用。</p>
<p>降伏（白通加豬膽汁湯。降伏腹中也。）</p>
<p>按幼男者為佳。不可用經日者。須臨用新取之。</p>
<p>【石膏】體清涼。而冷解。銷沉。為之用。</p>
<p>冷解（桂枝二越婢一湯。大青龍湯。冷解表也。白虎湯。白虎加人參湯。冷解胃也。）</p>
<p>銷沉（麻黃杏仁甘草石膏湯。銷沉表裡也。竹葉石膏湯。銷沉虛實間也。）</p>
<p>按細理白澤。錘之條分區別者為上品。堅硬而其色黯淡。或微黃者。不可必任矣。吾邦所產。體用都不備矣。</p>
<p>【芒硝】體消化。而傾放為之用。</p>
<p>傾放（柴胡加芒硝湯。傾放胸脅也。大陷胸湯。傾放胸中也。桃核承氣湯。傾放血道也。調胃承氣湯。大承氣湯。傾放胃中也。）</p>
<p>按芒硝即煮樸消。而取結芒芽者用之。舶來多偽。不如取所謂灰芒硝者。自制之。</p>
<p>【滑石】體鎮重。而滑達為之用。</p>
<p>滑達（豬苓湯。滑達虛實間也。）</p>
<p>按白色如凝脂。極軟者為佳。所謂水飛滑石者。殆脫滑膩。不可供藥用。</p>
<p>【代赭石】體沉墜。而啟達為之用。</p>
<p>啟達（旋覆代赭石湯。啟達下心也。）</p>
<p>按其色濃紫。擲之為金聲者為佳。</p>
<p>【赤石脂】體收藏。而分理為之用。</p>
<p>分理（赤石脂禹餘糧湯。桃花湯。分理虛實間也。）</p>
<p>按其色如桃花。有液澤。捫之則印指文者。為上品。</p>
<p>【龍骨】體鎮固。而沉墜為之用。</p>
<p>沉墜（柴胡加龍骨牡蠣湯。沉墜胸脅也。救逆湯。桂枝甘草龍骨牡蠣湯。沉墜虛實間也。）</p>
<p>按本草匯言曰。出於晉蜀山谷者。或是矣乎。蓋以形容如奇骨。有龍骨之名也。其色潔白。輕虛而軟。有一條竅者。最為上品。近世海舶載來者。殊為下品。不堪使用。本經謂死龍之骨。時珍從之。陶弘景謂蛻化之骨。李肇謂大魚之骨。後之說龍骨者。爭訟紛紜。固有以乎哉。</p>
<p>【牡蠣】體湮沒。而消滅為之用。</p>
<p>消滅（柴胡桂枝幹薑湯。柴胡加龍骨牡蠣湯。消滅胸脅也。救逆湯。桂枝甘草龍骨牡蠣湯。消滅虛實間也。）</p>
<p>按不拘殼之大小。須泥固燒使色潔白而已。其他製造。都不可從矣。</p>
<p>【禹餘糧】體導理。而疏通為之用。</p>
<p>疏通（赤石脂禹餘糧湯。疏通虛實間也。）</p>
<p>按尚紫赤細粉。本邦諸州所產。不若舶來佳。</p>

<h1>跋</h1>
<p>詩云。有物有則。蓋體用之謂矣乎。夫有物必有則。有體必有用。體用立矣。而後事成也。古醫之術。其要亦在於此。而李唐以來。或不本之。後學之徒。誤其所方。先生嘗病之也。故有是舉。乃其辨之精。其論之審。凡誠意於古者。讀之必將有即得焉。（直）之不敏。與亦有聞。因言其所以。弘之以附其末。</p>
<p><u>丁巳春三月。南越醫員　妻木直撰</u></p>
