<header data-type="book">
<h1>訂正太素脈秘訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張太素</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>家傳太素脈秘訣序</h1>
<p>夫宇宙之寥廓。莫能窮其涯際。然陰陽神鬼之運輸。雨露風雷之灌溉。花卉之繁榮。日月之明晦。甚之河海淵源。蜃樓萬變極大內之幻觀隱現。細之杜宇悲春。雌鳩喚雨。種種色像。各盡其致。噫。此皆一脈為之橐龠。消息於其中也。豈吾人一身。為天地生民立心立命。擔千古道脈之繼。綱常禮樂之宗。超萬物獨鍾其靈。而秉彝反異耶。故藏教云。父母及子相感。業神入胎。地水火風。眾緣和合。漸得長生。從一七至五七日。生五臟上下氣。通身前身後。左右二邊。各生脈五十條。一身之中。共、八百吸氣之脈。至是皆具。通諸出入息氣。蓋此身與造化同流。左腎屬水。右為命門屬火。陽生於子。火實藏之。所以三焦正與膀胱相對。有二白脈自中出夾脊而上。貫於腦。過重樓通之左右手。呼吸之有浮沉遲數。可占其休咎生死疾患。莫得秘藏。是太素之所以有七珍九候。析五行之微。辨八節之候。何其明且備也。雖然。呼吸即陰陽運輸也。津液即雨露灌溉也。光澤即花木榮繁也。耳目即日月明晦也。及至出聖入賢。馳王驟帝。緯地經天。若大功業。莫不從此精神醞釀之也。先儒云。人身一小天地。信哉。余讀張山人脈訣。知其得先天之正。抉石室之珍。窮及性命微言。終始造化妙緒。其資與生人養命之道。功豈淺鮮。因附剞劂以共海內。特書此以志其大云。</p>
<p><u>豫章雲林龔廷賢撰</u></p>

<h1>卷上</h1>

<h2>太素造化脈論</h2>
<p>太極之前。有太易。太初。太始。太素。天地之道。不離乎五太。太者泰也。太易者。清濁未分也。太初者。陰陽之初也。太始者。氣形之始也。太素者。天地之本也。本立道生。太極者。萬物之極也。否極泰來（董按此處應加「泰極否來」句）陽極陰生。陰極陽生。物極則返。極者終也。終而復始。太極者。氣形質之本也。無極而有極也。自無歸有。有必歸無。無能生有。有無相生。無有盡時。列子曰。聖人自陰陽以統天地。夫有形者。生於無形。則天地安足生。故曰。有太易。太初。太始。太素也。太易者。未見氣也。太初者。氣之始也。（董按此處應加「太始者。形之始也」句。）太素者。質之始也。氣形質具。而未相離。故曰渾淪。渾淪者。萬物渾淪而未相離也。視之不見。聽之不聞。循之不得。故曰易也。易無形狀。易變而為一。一變而為二。二變而為七。七變而為九。九變者究也。乃復變而為一。一者形變之始也。列子曰。只言四者究也。究者極也。則吾所謂太極者是也。</p>
<p>夫太素者。本於五太。五太者即五行。五行即五太也。五行者陰陽也。陰陽則一。極而必返。終而復始。豈非先傳所謂動極而靜。靜極復動。一動一靜。互為其根之妙歟。太極者。天地無極之前。陰含陽也。有象之後。陰分陽也。陰為陽母。陽為陰父。故陽生於子。極於巳。而一陰來姤。陰生於午。而極於亥。故一陽來復。陽根於陰。陰根於陽。故震為長男屬火。火生於寅。巳為胞胎。巽為長女屬水。水生於申。亥為胞胎。巳亥為天地之門戶。陰陽之根本也。夫天一生水。地六成之。地二生火。天七成之。天三生木。地八成之。地四生金。天九成之。天五生土。地十成之。蓋奇偶之數。而以為類分。其奇數屬陽。天之象也。偶數屬陰。地之象也。天一者少陽。地六者太陰也。少陽太陰。交而生水。地二者少陰也。天七者少陽也。少陰少陽。交而生火。天三者少陽也。地八者少陰也。少陰少陽交而生木。地四者少陰也。天九者太陽也。少陰太陽交而生金。天五地十交於中而生土也。此陰陽太少判合。萬物生成變化之道也。</p>
<p>夫水火者坎離也。坎在北方陰位。而卦屬陽。離在南方陽位。而卦屬陰。坎以陽而生在上。離以陰而生在下。則天下地上而交泰。水上火下而既濟矣。使陽出於上。陰復於下。則天自天。地自地。水火不交。安有陰陽交濟之理哉。</p>
<p>天地未分。渾淪莫測。天地既判。人位乎中。人受天地之中以生。莫不稟陰陽以成。故易曰乾道成男。坤道成女。而成夫婦之道。夫婦之道立。而生意無窮。</p>
<p>夫人者稟陰陽五形之秀氣以生。身居天地之中。心居人身之內。備萬物之理。為萬物之靈。識天時。知地理。通人事。明物情。善萬物聲色氣味。故靈於萬物者人也。主人之一身者心也。夫五運六氣。乃天地陰陽運行升降之常道也。五運流行。有太過不及之異。天地升降。有逆從勝復之明。天氣動而變。地氣靜而常。乃備五行之化氣。然後合其用。凡萬物未有不賴天地之氣而化生者也。</p>
<p>善脈者。知陰則知陽。知陽則知陰。然而可以心察。可以指別。可以類求。可以意識。可以全生。至道玄微。變化無窮。熟知其源。形表氣里而為相成也。夫寒熱欲發之氣。如陽未並陰。陰未並陽。因而調之。真氣乃安。邪氣乃正。經云。聖人治未病之前。不治已病之後。</p>
<p>夫天若失土。則不能榮養萬物。蓋天地萬物。皆以土為本。故萬物之旺。由土而生。萬物之衰。由土而歸也。</p>
<p>夫榮衛者。陰陽之綱紀。脾胃者。陰陽之男女。左右者。陰陽之道路也。呼吸。數也。循環不息。應有常變。同天運之無窮。乃一身之主宰。養肌和胃。神悟靈機。心識微妙。心為君主。乃順中和脾土為邦。主上下五臟六腑之病。陰陽虛實之理。血少血盛。脈少脈盛。此為反也。反之則病。實則氣入。虛則氣出。氣實則熱。氣虛則寒。</p>
<p>夫氣實者。寒濕之氣也。若有若無。病疾不可知也。察後與先者。知病也。知先後與虛實者。工勿失其法。得若生者。不離其法也。補瀉之時。各有所宜也。</p>
<p>夫脈者。陽在陰中。陰在陽中為順。陰在陽中。陽在陰中。為逆。易曰。一陰一陽之謂道是也。獨陰不生。獨陽不成。陰陽乃生成之道。不可缺也。</p>
<p>夫五行者。陽盛陰盛。陰陽逆也。陽生陰。陰生陽。順者。金木水火土相生也。逆者。水火金木土相剋也。</p>
<p>夫五行之有干支也。干數十。支數十二。蓋天之中數五。故氣原乎天者無不五。五氣合一。一陰一陽。故倍之成干。地之中數六。故氣原乎地者無不六。六氣合一。一陰一陽。故倍之而成支。以此觀之。莫非天理之自然也。</p>
<p>去五行火生於寅屬木。火旺在午。正南而火旺。絕在亥。亥屬水剋火。水生在申。申屬金。金生水。水旺在子。子正北而水旺。水絕在巳。巳屬土。土剋水。水生在亥。亥屬水。水生木。木旺在卯。卯位正東而木旺。木絕在申。申屬金。金剋木。金生在巳巳屬火。火能剋金。何以言金生於巳。巳雖屬火而真土在焉。蓋十干戊己屬土戊祿在巳。巳祿在午。巳午土位。巳有真土之性。故火生土。土生金。金旺在酉。正西而金旺。金絕在寅。寅木能生火火故剋金也。此則是無極太極之說。陰陽消長之理。如循環之無端也。</p>
<p>五行相剋所不勝者為賊邪。其難治宜矣。至於可勝者。為微邪。雖不治而自愈。叔和云。春得脾而莫療。冬見心而不治。夏見肺而難瘥。秋見肝以何疑。（董按此句應改「秋見肝而不救」董按。此句下原本僅有男子以東四字。語氣未盡。茲據珍秘抄本。細加校勘。應補加下列八句始全。）反以為微邪而可畏也。何也。及觀靈樞經曰。木明而火明。火炎而土勝。土盈而金生。金勝而水盈。男子以東南氣運。離巽震坤是也。</p>

<h2>太素脈論五行數分八卦</h2>
<p>乾　坎　艮　震　巽　離　坤　兌</p>
<p>寸關尺三部。有魚尾骨節次分定也。古法以權骨平為關。橫紋第二節為一寸。入為一尺此言寸口尺中者。乃分寸為寸之謂也。故陰得尺內一寸為尺中。陽得寸內九分為寸口。此理寸尺始終一寸九分而已。曰關上者。尺寸界也。既定寸尺之位。則關可知矣。或謂掌後高骨為關。必須得尺寸之法然後可定也。</p>
<figure>
<img alt="圖">
</figure>
<p>寸　心部　小腸　心府　名受盛。</p>
<p>關　肝部　膽　肝府名清淨。</p>
<p>尺　腎部　膀胱　腎府名津液。</p>
<p>寸　肺部　大腸　肺府名傳送。</p>
<p>關　脾部　胃　脾府名水穀。</p>
<p>尺　命門　三焦　命府名元氣。</p>

<h2>五臟所屬圖。觀色。聽音。睡臥。神氣。方可診脈。</h2>
<p>五臟　心。肝。肺。腎。脾。識五臟之脈知受命之經絡。</p>
<p>脈候　洪。弦。浮。滑。緩。察表裡之虛實。辨陰陽逆順之理。</p>
<p>五行　火。木。金。水。土。察病之源流。生克不治之理。</p>
<p>四時　春。夏。秋。冬。旺。祿。脈看四時陰陽。心肝肺腎脾。</p>
<p>通窮　舌。眼。鼻。耳。唇。五件能觀細。榮枯生死分。</p>
<p>五情　喜。樂。怒。悲。恐。病多因事得。虛實要分明。</p>
<p>五事　言。視。貌。聽。思。五事煩心主。除之樂有餘。　</p>
<p>五用　明。恭。從。聰。睿。五用心之本。過之神氣衰。</p>
<p>五德　哲。肅。仁。謀。聖。神氣守不敗。年高理自然。</p>
<p>五氣　焦。膻。腥。穢。腐。脾旺皆元間。胃虛嘔逆何。</p>
<p>五味　苦。酸。辛。咸。甘。少食皆為善貪之生病疫。</p>
<p>五色　黃。赤。青。白。黑。（瘦弱兼肥盛。陰陽逆順分。病因氣色見。貴賤不須論。）</p>
<p>五數　火（二七）木（四九）金（三八）水（一六）土（五十）（八卦運造化。萬物養虛靈。人身之貴賤。生死定榮枯。）</p>
<p>五音　（十五十六四七十二四八八一徵　角　商　羽　宮　羽）人識五音。方發五痛。</p>
<p>十干　（火木金水土。五陰五陽。五臟六腑。丙甲庚壬戊。火木金水土。心肝肺腎脾。丁乙辛癸己。相生相剋化。惟土最為魁。）</p>
<p>十二支　（巳寅申亥辰戌。陰陽從此並。相併十干生。午卯酉子丑未。掌訣知千載。人身豈不明。）</p>
<p>五方　南東西北中。（心肝肺腎脾。火水金木土。卦分六十四。化厚未知母。）</p>
<p>以上五臟。各有所屬。更有未盡之言。如泄漏消息可見矣。學者精明。得其通神也。</p>

<h2>論五陽脈</h2>
<p>浮者輕而在上。隱隱緩散。如水浮物。指重如無。輕有餘。愈輕愈盛。泛然滿指。若三部常浮者。主心氣不足。</p>
<p>滑者如珠丸之無端。重指即伏。舉指渾然。不進不退。稍重於洪。若三部常滑。主肝氣不足。</p>
<p>實者虛之對。其脈源派長久而不絕。指輕則有餘。指重隱緩於弦。小於洪。若三部常實。主脾氣不足。</p>
<p>弦者。應指緊迫如巴弦。指重如數。指輕愈急。聚斂而不散。長久而不縮。若三部常弦。主肺氣不足。</p>
<p>洪者大也。其源深。其流長。下指一尋。不弦不浮。輕重皆應。若再尋之。綍然有餘。若三部常洪者。主腎氣不足。</p>

<h2>論五陰脈</h2>
<p>微者。最細而弱。重指尋之。宛然如毛髮。隱隱澀澀。疑不可狀。在於有無間。若三部常微。主血滯而神不足。</p>
<p>沉者。如石投水。必極其底。重重尋之。彷彿隱應。比之於微。此有緩起於骨上。若三部常沉者。主胃逆而氣不足。</p>
<p>緩者。如絲在機。不卷其軸。應指遲緩。往來其微。尤不若微之應急。不沉不伏。惟緩而已。若三部常緩。主腎怯而精不足。</p>
<p>澀者滯而不滑。指下如索隱砂。如刀刮竹。沉下而粗。重則應指。輕則如無。後實前虛。往來不斷。若三部常澀。主魂不足。（董按此句應改「主肝虛而魂不足」始可與上節語氣合拍）</p>
<p>夫五陽常浮。五陰常沉。沉者臟之脈也。浮者腑之脈也。又有所謂浮中沉者。此為胃也。能知胃脈所在。則臟腑之脈易生矣。</p>

<h2>論四營脈</h2>
<p>四營者。輕重清濁也。輕清者陽也。重濁者陰也。夫欲知人貴賤貧富壽夭。須於四營脈中求之。若前論五陽五陰脈者。只言臟腑之偏。此四營之論。為統貫一體。而精神魂魄氣血升降。靡不與焉。</p>
<p>故脈清則神清。神清則氣清。氣清則骨肉形稟之亦清矣。此則輕清重濁。故可知也。</p>
<p>夫欲切此脈。須憶叔和脈中求之有疾。疾則變而難審其證。蓋五臟六腑。或為邪氣所襲故也。今明輕清重濁四脈於後。</p>
<p>輕者如指摸玉。純粹溫潤。識性明敏。祿位權貴。</p>
<p>清者平清而浮。狀如輕羽。不沉不濡。隱隱常動。</p>
<p>重者緩而粗。以手按之。其脈濁。脈濁氣亦濁也。</p>
<p>重者中濁而沉如緊。索隱重濁。亦在究其本原。肝部輕清。衣祿榮貴。重濁一身不足。</p>
<p>心部輕清。聰明發達。重濁夭亡身死。</p>
<p>腎部輕清。智巧謙和。重濁智少多淫。</p>
<p>肺部輕清。義勇謀略。重濁貪淫死臨。</p>
<p>脾部輕清。富貴聲名。重濁很毒無情。</p>
<p>弦洪長大為歲熱。短促微沉氣冷疼。實主肝虛並熱上。脈浮虛腫冷中生。滑時嘔逆腰肢困。緩疾原來氣不寧。澀血病時因婦孕。男兒有此漏精神。男子但有疾。傷神勞怯。婦人有疾。勞心受氣。溫肝血氣不調。傷寒傷風積熱。頭眩發熱骨蒸。不可一類察之。惟察手足冷熱。觀脈聽聲。專在輕清重濁虛實之理。不可妄議善主。設為詳細再三審察明白。脈病相應。方可用藥。不致傷經錯絡。用藥如行兵。取勝得功。萬全而生。庸醫不詳其正。藥性是非服入重地。不得其命。負爾何辜。醫學不能明察其精。治其病。全其生。實為難矣。</p>
<p>太素之脈。七表八里。輕清重濁。四時逆順。可見官祿生死。禍福疾病緣由。豈不神乎。</p>

<h2>五臟六腑歌</h2>
<p>心脈喜浮洪。安居五臟通。沉滯兼滑石。時逆命須終。弦應心無病。神疑緩脈通。忽浮微細短。邪熱滿心中。弦數因風熱。微沉怯外風。實長胞膈壅。陽極至陰充。微怯心還恐。長弦忽氣風。動者分輕濁。表裡病來從。肝脈春來旺。長長細可憐。短微浮澀見。金剋木難全。洪大旬中愈。微沉短滑延。緩時憂胃冷。弦數主筋攣。浮實雙腫赤。虛因澀伏攤。滑時連膽渴。頭痛有風寒。微緩輕浮散。生花視物難。動看四十二。甲乙就中看。肺臟脈輕浮。平和澀更憂。更加洪緊互。無事一場憂。沉脈虛還變。陰交陽自周。若和遲弄緊。進退亦無由。浮實必相指。洪遲數憂浮。肺金還又澀。涎吐不宜秋。腎蓋宜清淨。微沉主有疑。若加伏絕立。心有事和非。浮腎虛應久。緩疼夢泄多。動時有六八。壬癸應前歌。脾臟脈宜輕。依依緩太平。及和絃緊急。長憂命應嗔。浮實中消水。微浮客熱並。脈來脾應隱。實火用心情。滑主脾熱燥。牙宣口氣升動看二十八戊己閤中營。</p>

<h2>寸關尺脈病說</h2>
<p>寸脈　洪（飽滿。腸結。膈熱悶。）　浮（胸虛弱。肌虛客熱。）　滑（胃熱。胃冷。膽濁飲食化。）實（心氣溢痛受邪。腹中疼痛。）　弦（脾疼。胃冷。心痛。勞瘦極熱。）　微（心氣受邪。臟閉不通。腎虛。）沉（逆冷四肢。黃瘦疾瘦骨熱。）　緩（風痹下虛敗。項背拘急疼。）　澀（氣虛血散。胃不和。）伏（胸中積冷。氣閉不通。腎虛。）</p>
<p>關脈　洪（積邪口涎。邪氣食。胃停食。）　浮（下虛耳聲。腎風停閉。膚癢。）　滑（積冷氣。便澀。腰肚疼。）實（小便不禁。腹脹夢泄。）　弦（小腹疼。氣澀。腳氣。腎風癢。）　微（心腹脹滿。氣結疼痛。虛怯。）　沉（心氣疼痛。閉塞不通。脾虛。）　緩（胃冷吐逆多。心腹肝疼。）　澀（血淋血敗。血膚干。發黃。）伏（症癖氣冷。血積目昏。）</p>
<p>尺脈　洪（小腳熱澀。腳疼腎虛。）　浮（筋骨明熱。便血頭痛。）　滑（風壅舌強。心熱。嘔吐胃逆。）實（風熱面赤。胸膈不利。煩躁。）　弦（血腳擁。頭痛。目澀。吐。筋急。）　微（腹中積冷泄。勞氣盜汗。）沉（氣滯腰痛。虛熱積死。）　緩（腎冷虛汗。冷夢泄。）　澀（四肢逆冷。臍下浮泄瀉痛。）伏（食不下。腹痛手足痛。下泄。）</p>

<h2>五行脈訣</h2>
<p>五行大抵要相生。表裡脈刑。須要精。要取秋冬並春夏。自然指下見分明。</p>
<p>五行者。水火木金土也。診脈下指之法。切要精專。凝心定志少時。然後診之。辨認四季五行旺相。陰陽逆順。七表八里。虛實輕重。相剋相生。指上便見有災咎疾病。若得旺相之脈。則有喜慶之事。春肝脈弦而緊。夏心脈洪而大。秋肺脈澀而微。冬腎脈沉而滑。此乃四季旺相之脈也。脾脈四季脈見之寬緩而細。取此以為旺相脈也。</p>

<h2>定心脈見官品</h2>
<p>心脈分明緊秀洪。此人必定是三公。專尋三按俱無絕。到老須持國柄雄。</p>
<p>凡心脈緊秀而洪大者。必為至貴之人。三公之位。又須詳審指按。調調不絕。若人有此脈。其人至老須將相。若春夏得緊細洪脈為善。秋冬為災。</p>

<h2>定心部見喜</h2>
<p>當春心脈要洪弦。看取清明節候邊。須見遷除並喜事。脈未寬緩一生賢。</p>
<p>心脈洪秀弦緊。此得時之脈也。主有喜悅之事。春見之。子母旺而相生。</p>
<p>至四六月見喜也。若寬而浮者。定主賢哲之人。自然無災。更主有紹祖宗子孫。</p>

<h2>定心脈主驚憂</h2>
<p>忽然無脈少精神。須有驚惶憂恐心。天性沉吟多毒害。更加心腹似荊林。心者。五臟之主也。其中浮而大。是旺相之脈也。忽然無脈。是心中有驚疑。須見精神恍惚。沉細者。是不順之脈。主心中有不明之事。兼心腹有毒害。如荊林之棘。主有驚憂之事也。</p>

<h2>定肝膽見職任貴賤</h2>
<p>要知職意膽中看。弦緩分明盡在肝。肝脈弦長終是貴。不為卿相即郎官。肝膽實大少清聲。細緊為人定是經。若更浮高多短澀。沉沉必定不分明。肝之脈常是弦長。其膽隨肝之衰旺。其脈春。若弦而寬長。並四季中弦而寬長。乃官貴之脈。</p>

<h2>定脾脈見官品</h2>
<p>脾脈寬緩好情懷。撞指心田不可猜。大小浮沉俱似緩。位高官顯見宏才。脾中宮土也。每季旺十八日。其脈寬緩。乃脾土旺相。主有喜慶之事。若來撞指心中不可猜之事。大小浮緩。此為得時旺相之體。此人必主大才智慧。合為極品之官。</p>

<h2>定肺脈見及第</h2>
<p>三臺華蓋要須浮。指下虛浮事不虛。若更再三無實大。文章高折一枝歸。肺部華蓋也。入水則浮。故肺脈浮而輕者。此人中甲第。如沉大常走。定須有災。</p>

<h2>定腎脈見官品壽數</h2>
<p>如得此人沉且長。來時沉滑不須昂。非惟有壽兼才智。佐國忠臣不比常。</p>
<p>凡看腎脈當要沉滑而長。若得此脈。乃旺相之脈也。此人有壽而多才智。須為佐國忠臣。脈高昂乃是等下人也。此季有災。</p>

<h2>定脈見移官</h2>
<p>元氣忽然動滑時。為官必定喜來移。更須心脈寬洪應。用意稍停仔細推。</p>
<p>元臟之氣。謂真元之本。其脈常要沉而滑。加之微澀者有喜。若似江水。須見四季有不測之災。</p>

<h2>定腎脈見喜</h2>
<p>左右須明兩尺當。福神皆喜更無雙。細觀洪緊心流利。剋日須知進六鄉。夫腎者。北方水也。澄之則智惠生而喜知。在公者。脈見於寸口。在私者。脈見於兩尺。寸脈洪而緊者。則須月中貴人見喜。脈虛散者。有不測之災。</p>

<h2>定脈見先進退</h2>
<p>福位先看祿位來。分明流利弼天才。沉沉寸口知君退。換移入書文正臺。凡看官祿之路。先有進退之位。如寸口脈洪而弦。大而散。為不任仕脈。在官退位。在私有災。若洪而還。寸口亦主退位。如脈分明流利。洪滑而弦。如有一點明珠在盆。往來撞指者。此人定入公臺之位。</p>

<h2>定脈先福德</h2>
<p>脈見分明似拾珠。寸關尺部亦常殊。俱今流利知為福。其氣清明仔細推。夫福德之人。五臟之脈。俱要流利分明。不低不昂。凡得五十至不息。及無改換者。此有福之人。左右關與尺。分明相應。於心部者。為上等福人。若見關中洪潤為次等。其外皆為常流乎。</p>

<h2>定脈見等重</h2>
<p>息數朝來不改常。一生沉重位高強。診而舉動常殊伏。自有洪名滿世香。凡尊重之脈。見沉而隱不亂。分明無滯濡。即是尊重之脈也。又須審看六部自和相應。其脈安然如珠在水。此人尊重。兼有聲名。出人之表也。</p>

<h2>定脈見先富後貧</h2>
<p>洪大寬調是富兒。若求官職慢非宜。忽然災起於心部。富貴須貧實可期。心脈本要洪大是也。知之脈若先實緩。必定加官有材。心脈災起。主先富後貧也。</p>

<h2>定脈見智惠</h2>
<p>主智看來是鄉水。宏寸大略有文章。二儀尺寸來相應。遲緩圖低一例詳。</p>

<h2>論五臟重濁輕清</h2>
<p>肝部輕清貴祿榮。堂堂之貌足人情。數逢大應享通泰。恭謹尤如自自明。心部輕清應在神。聰明須作廟堂人。旺看甲乙無留滯。二十年來貴顯身。肺部輕清顯義才。皮膚潤滑善詼諧。看看無阻名初顯。仕路功名蹈玉階。腎部輕清知巧多。聰明接物與人和。聲清調暢無凝滯。一六相逢貴奈何。脾部輕清長遠慮。信誠無諂貌堂堂。只看五數相成就。富貴聲名定遠揚。肝家性濁重何如。狼狽無情主下愚。不是其中無貴相。奈緣精滑甚粗兒。腎家重濁再無情主之多愚反災輕。此部又無清一點。平生那得見身榮。脾家重濁主風狂。無信欺人命不長。縱使在心清應指。也應中富不能良。</p>

<h2>論心脈</h2>
<p>南方鉤脈要推詳。倘若浮洪是本鄉。洪大迢迢鉤且潤。此人必是五星郎。心部脈來洪大長。一生勞役費心腸。若是勾洪並秀潤。容儀禮貌與文章。指下浮洪及小遲。一生遲蹇不須疑。更審浮。高與沉細。要求官職定相遲。</p>

<h2>論肺脈</h2>
<p>論肺常須仔細推。若逢洪大定災危。更看本部俱浮緩。定是豪家富貴兒。此脈來時要澀濡。若當春到福來歸。忽然自在秋冬得。百福來臨慶有餘。肺家星位主西方。指下浮洪定俸長。為事平生多猛躁。心情足定是財郎。</p>

<h2>論肝脈</h2>
<p>東方肝脈偶沉洪。須在虛驚非是凶。若無微小沉兼細。慮世敦知最富豐。要知本位在關看。弦緩分明是臟肝。診得弦長終必看。細沉定是主孤寒。歲星木位厥陰經。弦而勾大是住名。若是沉洪勾短意。一生勇躁老無成。</p>

<h2>論脾脈</h2>
<p>中央之脈號為脾。辨取輕浮及緩遲。若不弦長浮更大。本人食祿大魁肥。指下伏微事可嗟。一生貧病若無涯。勾來指下輕清見。為官極品佐皇家。指下輕浮伏短沉。生來慳悋蓄多金。忽然小澀遲沉細。定是邪佞與貪淫。</p>

<h2>論兩尺部脈</h2>
<p>兩脈本部寄尺中。診時須要定災凶。忽然浮者陰來客。春夏見之須命終。</p>
<p>左右尺脈來沉滑。指下來兼潤帶深。此是世間長壽脈。人足多受足資金。</p>
<p>來時沉澀去時微。此主平生疾病拘。更若沉中加動促。其人難受四旬余。</p>
<p>尺脈須當仔細尋。尺中三動忽然沉。此名妻孕何當問。妙訣須知不換金。</p>
<p>尺中隱隱脈兼長。福壽榮華安可當。莫教寸口關相併。不為將相定侯王。</p>

<h2>定甲乙災福肝脈屬木</h2>
<p>甲乙來遊動更弦。為人尊重有威權。若還三按俱無斷。三品高官一世賢。</p>
<p>甲乙太過細尋之。先拋頭子與前妻。卻有文章多學藝。中年破敗走東西。</p>
<p>甲乙如毛命不長。動滑來時事可傷。破財爭訟多憂險。及到中年在外鄉。</p>
<p>甲乙分明指下遲。少年多病最難醫。如逢舉按初無力。破散分離定可知。</p>
<p>甲乙全然指下沉。心中忒忒見災臨。若還火氣來相應。婢走奴逃不可尋。</p>

<h2>論丙丁災福心脈屬火</h2>
<p>丙丁洪弦定是寬。定知武職作文官。若是庶人來相應。必然災咎在牢間。</p>
<p>丙丁沉滑最知憂。官事常常不解休。父母須防殘病死。他年必定走他州。</p>
<p>丙丁沉來動細微。此人應是少親兒。惟度沉吟多毒害。求財常見鬼神隨。</p>
<p>丙丁濡滑更微遲。得病經年莫怨唯。若也是毛終是死。神仙千萬莫能醫。</p>
<p>丙丁弦長指下來。平生富貴有文才。若還撞指來相應。長子應知是棟材。</p>

<h2>論戊己災福脾脈屬土</h2>
<p>戊己才過細尋之。少年遠路走東西。九流之內非豪富。定是常人有兩妻。</p>
<p>戊己不及動來徐。定是離家到處居。若見弦而心有病。平生無業在詩書。</p>
<p>戊己芤時更是浮。語言無味更粗疏。切骨動來時應指。從生至死作奴夫。</p>
<p>戊己緩澀指下寬。大小非同仔細看。為人心下多術藝。文章須有不為官。</p>
<p>戊己來實更浮高。天然凶惡是強豪。若見伏時須赴法。忽然爭競自身招。</p>
<p>戊己之來一向沉。若還遲緩是災臨。不論老少皆憂命。按之無力死逡巡。</p>

<h2>論庚辛災福肺脈屬金</h2>
<p>庚辛動滑兩頭虛。來不輕浮尺緩徐。再三舉按都無慮。定是牢年已破徒。</p>
<p>庚辛之部見弦長。少子將身在外鄉。縱然不出他州去。也用離家背父娘。</p>
<p>庚辛常怕緩更弦。非論多病及多誕。洪緊來時須病少。定期火日到黃泉。</p>
<p>庚辛忽然滑實來。一生剛烈有文才。如逢撞指來相應。須折月邊丹桂回。</p>
<p>庚辛忽見得微沉。為人失信只貪淫。莫怪人前多語笑。能將善口取人心。</p>

<h2>論壬癸災福腎脈屬水</h2>
<p>壬癸迢迢指下寬。眼前見任是郎官。只愁短數來無位。定知須是百年歡。</p>
<p>壬癸弦長動更柔。為人秀氣足風流。卻有文章多道術。奈何修學不成休。</p>
<p>壬癸如遲太過時。才到終年病莫疑。若見細沉多巧性。常流何是有三妻。</p>
<p>壬癸之脈怕伏沉。動澀來時病已深。若見緩時公事發。浮來次第六相臨。</p>
<p>壬癸沉來又似水。舉手按之多不足。何須買卦問良醫。須臾怕見全家哭。</p>

<h2>定五行見喜</h2>
<p>木中若見火來時。為事歡欣必可知。居官轉職仍加祿。求望亨通不用疑。火脈之中見土來。其人喜慶足文才。更加洪滑時時應。出外求財。必定回。土運逢金氣是寬。樂然無詔也加官。脈中若見逢浮滑。才帛徐徐儘自寬。金脈當秋動清時。官賢必定喜遷移。細看若見弦長者。家道興隆喜可知。腎脈於中弦且長。一身榮貴壽高強。忽然緩緩來相應。求財何用作經商。</p>

<h2>定陰陽災福</h2>
<p>久時玄妙自然通。心脈純陽主有名。純陰一世不聰明。陽中見陰官多失。陰內陽生是貴人。</p>
<p>肺脈純陽入宅旺。純陰必定是貧人。陰中見陽貧亦富。陽中見陰傷兒女。陰內生陽旺外人。</p>
<p>脾脈純陽求事快。純陰為事亦難通。陰中見陽無心得。陽內生陰得亦空。</p>
<p>腎脈純陽妻位正。純陰不用任媒人。陰中見陽因妻富。陽內生陰有外情。</p>
<p>命脈純陽奴僕好。純陰一個也難留。陰中見陽因他富。陰內生陽見物偷。</p>
<p>心脈純陽富貴全。純陰貧賤不堪言。陰中見陽終身富。陽內生陰禍晚年。</p>
<p>陽在肝脾樂一生。純陰無事也相爭。陰中見陽仍壽命。陽內生陰壽不亨。</p>
<p>兩腎純陰是小人。純陽必定是官身。陰中見陽為人善。陽內生陰定是軍。</p>
<p>六脈純陰無造化。尋常求事最難通。君子得之猶自可。小人得之定遭凶。</p>
<p>六脈純陽定靜時。一生富足少人知。若還陰脈微微動。不是生災必死期。</p>
<p>前論陰陽定災福十首。以純陰為凶。純陽為吉。後二首又說純陽凶。純陰吉。前後雖不相合。然驗人吉凶亦應。蓋先賢之意。恐人以偏。故作二詩。反復互說。正要人看得活法耳。</p>

<h2>論四時相反</h2>
<p>春來土旺脈其肝。最要弦長指下寬。若逢微澀來相剋。為災春後卻難安。</p>
<p>初見用指不須深。脈見浮洪是本心。腎見若要來相剋。因瘵無門仔細尋。</p>
<p>秋來微細肺家強。脈見浮芤入死鄉。關內得之須緩緩。更愁弦緊失家鄉。</p>
<p>三冬腎脈要潛藏。指下深深滑不忙。若彼脾家侵奪位。更宜仔細定災殃。</p>
<p>春脈微澀夏微沉。此脈還當不稱心。災至為緣因此疾。亦知體里痛呻吟。</p>
<p>秋得浮洪冬緩微。還同前事得無疑。大抵災時來短促。福來三部潤勿齊。</p>

<h2>雜斷</h2>
<p>三部勻勻總一同。此名豪富勢如雄。兩關澀大上朝寸。應是高官。金紫封。大體三關短復長。來時或緊去時強。平生語急並身弱。貧困何多遂顯光。</p>

<h2>論歲君肝脈</h2>
<p>甲乙東方號歲君。脈來長緩任弦勻。心神儀貌多才藝。三品官員已上人。</p>

<h2>論火星心脈</h2>
<p>火星位主在南方。捫按浮沉細潤長。多是陽防人急躁。官高二品教依光。</p>

<h2>論月孛命脈</h2>
<p>月孛要在命門鄉。膚下如珠動不忙。為性多奸人子惡。平生日日戀花娘。</p>

<h2>論太白肺脈</h2>
<p>太白金星位正西。其來浮澀不須疑。中間秀潤相和順。利獄兵權盡有歸。</p>

<h2>論西帝脾脈</h2>
<p>西宮帝脈要推詳。指下多端緊又長。寒外不為將軍主。中年必定佐君王。</p>

<h2>論辰星腎脈</h2>
<p>北方坎屬辰星位。脈體迢迢似筋頭。十萬兵權為上將。名標青史定封侯。</p>

<h2>論羅䈙腎脈</h2>
<p>羅䈙妻兒腎中尋。著骨方來腎大沉。眼大赤黃歡婦頂。多謀足智帶腰金。</p>

<h2>定脈見僧道喜</h2>
<p>脈見分明水入珠。自然清淨氣生蘇。更看六部勻和動。福廕鄉閭與眾殊。看僧道脈。分明如珠入水自然清淨。若得此脈是平和之脈。更看六部平和。得所相應。皆及時。此人有紫衣師號之分。撞指來澀滯者。此尋常僧道也。</p>

<h2>定婦人有孕</h2>
<p>婦孕沉浮滑更洪。須知左右定雌雄。忽然安淨天生貴。未到中年入帝宮。孕婦之脈得沉而洪。沉而滑者。是平和之氣。陰陽左右寸口者。左男右女。若未安靜者。乃渾然不動中和之脈。其人生而主貴。</p>

<h2>定產近遠</h2>
<p>二部浮洪夏月生。若逢弦大在清明。脈來沉滑冬間見。浮滑須知旺主庚。要知產後不難知。四季脾中仔細推。浮而滑者知產近。遲而滑者產應遲。</p>

<h2>定產訣</h2>
<p>要知胎動脾脈關。脈緊如弦仔細看。胎內嬰兒。應轉動。卻令孕母不能安。</p>
<p>要知孕婦細推看。洪大通弦有有亡。右手脈弦知斷女。左邊洪大是知男。</p>
<p>雖然三部見魚翔。子在胎中未肯忙。更有陰陽須定取。當知子母不安康。</p>

<h2>定室女經脈</h2>
<p>室女如何脈不調。只因思想自然招。至今體瘦痿黃色。浮洪脈瘦尺微調。</p>
<p>氣刺元來血積纏。通宵叫喚不曾眠。三關脈緊無洪大。榮衛從來補未宣。</p>
<p>若明肝脾侯關中。衛氣因風頭上攻。女子只因思想患。婦人多是積其風。</p>

<h2>論婦人經後帶下</h2>
<p>婦人血氣不調和。爭奈陰中陰更多。日漸臟虛人又瘦。脈來陽火冷偏磨。</p>
<p>帶下之時偏補微。沉沉細細要君知。論云血海多虛冷。變作丹田結子遲。</p>

<h2>定陰陽相反</h2>
<p>八八男兒卻反陰。尺中浮大寸中沉。女年七七陰宮盛。此法推之不換金。</p>

<h2>定少人脈相反</h2>
<p>少人之脈剛見剛。洪大連年死未亡。只愁怯弱頻頻立。必定魂靈入鬼鄉。</p>
<p>凡少人之脈。其六部要洪大見剛。乃有力之脈順也。有病易治。洪大者為反脈。病難治。</p>

<h2>定四肢病脈</h2>
<p>四肢俱冷脈洪時。病死須知不用疑。忽見遍身如火熱。脈沉強冷得生稀。見傷寒四肢俱冷。其脈沉細順也。陰病之脈洪大者。即是陰陽相反。而有此候。難治。其身如火。頭痛燥渴。脈洪大者順也。其老者伏沉。小者陽中見陰者難治。此乃反脈也。</p>

<h2>太素脈訣</h2>
<p>左手前按心少陰。應頭身中目稍經。後按小腸太陽病。兩耳後應是其上。</p>
<p>至數主脈四至平。六七熱氣上焦攻。二一死在壬癸中。</p>
<p>關左按肝厥陰病。應在兩眼傳受證。後膽少陽兩腎中。九者肝氣虛而應。</p>
<p>欲於乳渾十不足。二三肝氣嘔而結。死在本月庚辛日。</p>
<p>尺先按腎少陰訣。華池舌底之津液。後按太陽膀胱病。病在兩脅通身中。</p>
<p>脈九至十腎弱之。六七至死戊己日。右手前脾太陽經。應在身中而拳骨。</p>
<p>後按太陽陽明證。在人頭上應其身。二至脈一虛欲弱。九十二者咳嗽數。</p>
<p>若主死應丙丁缺。</p>
<p>脾前太陰應胸膈。後之胃脈陽明經。應內胸中左邊病。數數而崩死應之。</p>
<p>甲乙相剋為相倒。九至十至倒脾氣。四五平脈二三弱。至數表裡同斷徹。</p>
<p>尺先按命屬陽明。應在肛門左腎同。後之三焦厥陰病。應在兩胯脊身中。</p>
<p>一息三年八九疼。九至十至脫了形。緩緩結細死丙丁。</p>

<h2>四總脈</h2>
<p>浮主中風無力虛。皮上為陽外得之。沉為積聚無力氣。三固方溫下至骨。</p>
<p>遲而主痛無力冷。一息三至寒為陽。數熱無瘡熱為燥。一息六至皮為陽。</p>

<h2>浮沉遲數　風氣冷熱</h2>
<p>寸浮頭面眼目風。休虛齒痛口斜喎。沉胸氣滿嗽疾喘。翻胃吐食息氣胸。</p>
<p>遲冷嘔吐疼滿膈。虛汗拘急痛不已。數熱上壅燥口乾。頭痛煩渴疼口瘡。</p>
<p>關浮兩脅拘急運。背脊筋痛不能伸。沉氣腹脹鳴心痛。上下關格不思食。</p>
<p>遲冷痃癖腹遊走。上下不定刺番胃。數熱大小便不通。腎癰煩渴或不已。</p>
<p>尺浮腰痛連小脅。疝氣腿瘡虛陽淋。沉小便淋閉㿗陰。腹脹膹豚滿不食。</p>
<p>遲便滑數泄精禁。膝脛疼軟溫盜汗。數渴不止便淋血。䈙腳瘡溫陰囊癢。</p>

<h2>河圖生成決生死秘訣</h2>
<p>天一生水。地六成之。地二生火。天七成之。天三生木。地八成之。地四生金。天九成之。天五生土。地十成之。</p>
<p>假如心脈診得一動一止。六動一止。十一。十六。二十一。二十六。三十一。三十六。四十一。四十六動而止者。是水剋火也。又遇丙辛辰戌年月日時死也。</p>
<p>假如肺脈診得二動一至。七動一止。十二。十七。二十二。二十七。三十二。三十七。四十二。四十七動而止者。是火來剋金也。又遇戊癸子午年月日時必死也。（董按。此條原本缺。且與肝脈條誤雜。茲據珍秘抄本補入）</p>
<p>假如肝脈診得四動一止。九動一止。十四。十九。二十四。二十九。三十四。三十九。四十四。四十九動而止者。是金剋木也。又遇乙庚卯酉年月日時死也。</p>
<p>假如脾脈診得三動一止。八動一止。十三。十八。二十三。二十八。三十三。三十八。四十三。四十八動而止者。是木剋土也。又遇丁壬巳亥年月日時死也。</p>
<p>假如腎脈診得五動一止。十動一止。十五。二十。二十五。三十。三十五。四十。四十五動而止者。是土剋水也。又遇甲己丑未年月日時死也。</p>
<p>脈運化氣歲干先。前進四位是在泉。後位同上依般用。此法診之作地仙。</p>

<h2>地之六氣</h2>
<p>大寒厥陰水主初。春分居火二之居。小滿少陰分三氣。大暑太陰四之乎。秋分陽明五氣燥。小雪太陽寒水虛。醫師不能明此理。光陰空讀五車書。</p>

<h2>天之六氣</h2>
<p>初氣歲前木主先。二君三相大排連。四來是土常為濕。五氣燥金六水寒。</p>

<h2>客氣來歸</h2>
<p>每年進四是客鄉。上臨十數下臨方。寒氣熱暑出排取。主客勝負定弱強。</p>
<p>初氣厥陰風木　二氣少陰君火　三氣少陽相火</p>
<p>四氣太陰濕土　五氣陽明燥金　六氣太陽寒水</p>

<h2>定死生秘訣</h2>
<p>子午少陰君火。卯酉陽明燥金。辰戌太陽寒水。丑未太陰濕土。寅申少陽相火。巳亥厥陰風木。</p>
<p>假如甲辰年。甲化土氣。如腎經受病。九月甲戌月為土氣。又犯甲己丑未日時死也。余皆仿此。</p>

<h2>太上玄靈至玄至妙秘要脈訣</h2>
<p>脈有三部陰陽相乘。榮衛血氣。在人體躬。呼吸出入。上下於中。恩息遊布。津液流通。隨時動作。放象形容。春弦秋浮。冬沉夏洪。察色觀脈。大小不同。一時之間。變無經常。尺寸爭差。或短或長。上下爭錯。或存或亡。病輒改容。進退低昂。心迷意惑。動失紀綱。惟願具呈。今得分明子之所問。道之根源。脈有三部。寸尺及關。榮衛流行。不夫衡銓。腎沉心洪。肺浮肝弦。自此經常。不失銖分。出入升降。漏刻周旋。水下二刻。一周循環。當復寸口虛實見焉。變化相乘。陰陽相干。風則虛浮。寒則勞堅。沉潛水蓄。支飲急弦。動則為痛。數則熱煩設有不應。知變所緣三部不同。病各異端。大過可怪。不及亦然。邪不空中。中必有奸。審察表裡。三焦別焉。知其所合。消息診看。料度臟腑。獨君神焉。為子孫計。非人莫傳。</p>
<p>左寸（心小腸）　關（肝膽）　尺（腎膀胱）　右寸（肺大腸）　關（脾胃）　尺（命三焦）</p>

<h2>三部看動脈斷</h2>
<p>左手寸口二脈。沉見者。心脈也。浮見者。小腸脈也。</p>
<p>故手少陰與手太陽為表裡。心以小腸為腑。合於上焦。</p>
<p>左手關上二脈。沉者肝脈。浮者膽脈也。</p>
<p>故手厥陰與手少陽為表裡。肝以膽為腑。合於中焦。</p>
<p>左手尺上二脈。沉者腎脈也。浮者膀胱脈也。</p>
<p>故少陰與手太陽為表裡。腎以膀胱為腑。合於下焦。</p>
<p>右手寸口二脈沉者肺脈。浮者大腸脈也。</p>
<p>故手太陰與手陽明脈為表裡。肺以大腸為腑。合於上焦。</p>
<p>右手關上二脈沉者脾脈。浮者胃脈也。</p>
<p>故足太陰與足陽明為表裡。脾以胃為腑。合於中焦。</p>
<p>右手尺上二脈。沉者命門脈。浮者三焦脈也。</p>
<p>故手厥陰與手少陽為表裡。命門以三焦為腑。合於下焦。</p>

<h2>脈相類</h2>
<p>弦與緊相類。浮與芤相類。浮與洪相類。濡與弱相類。沉與伏相類。緩與遲相類。軟與弱相類。革與實相類。滑與數相類。微與澀相類。</p>
<p>夫脈者。天真委和之氣。晉王叔和以浮。芤。滑。實。弦。緊。洪為七表。微。沉。緩。澀。遲。伏。濡。弱為八里。以定人之陰陽。決人之生死。然文理甚繁。後學卒未能解。大抵持脈之道。非言可傳。非圖可受。其樞要但以浮。沉遲數為宗。風。氣。冷。熱為主病。且如浮而有力者為風。浮而無力者為虛。沉而有力者為積。沉而無力者為氣。遲而有力者為痛。遲而無力者為冷。數而有力者為熱。數而無力者為瘡。更看三部在何所得之。且寸部屬上焦頭面胸膈之疾。</p>
<p>關部屬之中焦腹肚腸胃之疾。尺部屬下焦小腹腰腿之病。更看五臟之中。何臟見之。六腑亦然。學者會意而精通之。庶得按寸握尺之誚。</p>

<h2>四總脈</h2>
<p>浮而有力主風。無力主虛。浮舉指在皮上見之。為人之表為陽。乃外得之證。</p>
<p>浮而有力主積。無力主氣。三因方為濕為實。沉脈下指至骨得之。乃為里為陰。是內受之病。</p>
<p>遲而有力主。痛。無力主冷。又為寒。遲脈重按之在內。轉按之方見。一息三至。是為陰主寒。乃內受之病。數而有力為熱無力為虛。</p>

<h2>五臟見浮者主病</h2>
<p>心部浮主心虛。觸事易驚。神不守舍。舌強不能。言語錯謬。</p>
<p>肝部浮。主肝虛。中風癱瘓。筋脈拘攣。面痛牙痛。腸風下血。脾部虛浮。主腹脹嘔逆。飲食少進。氣喘氣急。泄瀉無度。</p>
<p>肺部浮。主肺虛。大便閉。面浮多瘡。吐血吐膿嗽喘。</p>
<p>腎部浮。主腎虛。腿足生瘡。虛陽淋瀝。腰痛牙痛。小腸疝氣。</p>

<h2>五臟見沉脈者主病</h2>
<p>心部沉。主小腸淋瀝。喀血溺血。小便不通。睡而不寐。</p>
<p>肝部沉。主怒氣傷肝。脅痛肥氣。眼目赤澀肚疼腹滿。</p>
<p>脾部沉。主虛傷脾。肌寒客熱。食不作。肌膚氣痞。身黃瘦。</p>
<p>肺部沉。主咳嗽多嘔。上氣喘急。嘔血失血息賁腸癰。</p>
<p>腎部沉。主脹滿不食。小便淋漓。陰癰作脹。賁豚腸滿。</p>

<h2>五臟見遲脈主病</h2>
<p>心部遲。主小便頻數。心痛嘔水。怔忡多狀。伏梁腸痛。</p>
<p>肝部遲。主筋攣骨疼。眼昏多淚。觴事易驚。轉筋麻木。</p>
<p>脾部遲。主泄瀉咳嗽。蛔蟲出痰。涎壅多。飲食不化。</p>
<p>肺部遲。主嗽喘滿。大便溏泄。皮膚燥澀。夢涉大水。</p>
<p>腎部遲。主小便滑數。泄精不禁。膝脛痛軟。陰濕盜汗腳氣。</p>

<h2>五臟見數脈主病</h2>
<p>心部數。主應在渴。舌上生瘡。小便赤澀。眼目昏疼。</p>
<p>肝部數。主眼疼翳膜。淚多目昏。頭眩運。頭疼。頭風。</p>
<p>脾部數。主口臭翻胃。齒痛牙宣。多食不飽。四肢不舉。</p>
<p>肺部數。主咳嗽唾血。喉腥目赤。大便閉結。面生斑痱。</p>
<p>腎部數。主消渴不止。小便血淋。下疰腳瘡。陽癰濕癢。</p>

<h2>論七表八里總歸之脈</h2>
<p>浮（按之不足。舉之有餘。轉手乃得。）　芤（浮之無力。傍實中虛。）　洪（浮之有力。）　實（浮而長大。）弦（數而弓弦。）　緊（數而又弦。）　滑（數而微利。如珠略浮。）　沉（按之有餘。舉之不足。重手乃得。）微（沉自有自無。）　伏（沉而至骨。）　弱（沉而無力。）　遲（一呼一吸。三至去來甚遲。）緩（遲似有似無。）　澀（遲而極細。如雨沾沙。）　數（一呼一吸。六至去來甚速。）</p>
<p>上七表八里。共一十五脈。只於四道觀之。</p>

<h2>七表八里</h2>
<p>浮金　芤火　滑水　實火　弦木　緊木　洪火（觀此之樣切要記心）　微土沉水　緩土　澀金　遲土　伏木　濡水　弱金</p>
<p>上依部位診之。六部脈不依本位者。病脈也。卻說七表八里。逐位診之。病在何臟何腑。主何病。依經無不痊也。</p>

<h2>靈樞經中撮要</h2>
<p>南北二政之歲。各分天令而遷。北政之道。天令右遷。（乙庚丁壬丙辛戊癸為北政。）</p>
<p>經曰。北政之歲。天令右遷。君面在北。君令左遷。臣面在南。臣化右伏。</p>
<p>則應在前也。三陽在上。則右尺脈不應。三陽在下。手寸脈不應。乃陰陽上下相交而無返變也。</p>
<p>南政之歲。天令左遷。注曰。南政之歲。天令左遷。君面在南。君令右遷。臣面在北。臣化左復。則應在後也。三陰在上。右寸脈不應。三陽在下。左尺脈不應是乃陰陽上下不交。而應變相返也。</p>
<p>天地者。變化之父母。陰陽者。升降之道路。</p>
<p>注曰。天元列象。運氣分司。陰陽顯升降之由。天地產變化之本。六氣分盈虧之步。五運合太少之宮。是以動靜相生。逆順交應。初終勝復之本。太過不及之標。假令子午之歲。少陰司天。其化標。則熱居其位也。是故少陰之證。其脈洪大而散。乃君火之政令也。</p>
<p>陰陽變化。勝復異同。推六部之源。列三元之根。因其氣變。可候吉凶。</p>
<p>注曰。陰陽變化者。謂陰陽之數極。即變化生矣。何也。冬至之後。從太陰而生少陽。少陽變而生陽明。陽明變而生太陽。太陽變而生厥陰。</p>
<p>厥陰變而生少陰。少陰變而生復生。太陰以合六部三元之本源。運應歲中六氣勝復。以彰吉凶之兆也。</p>
<p>天地升降。陰陽運行。五行相生。萬物應時。</p>
<p>注曰。天氣下降。地氣上升。二氣交感。而生成萬物也。因陽氣而發生。復受。陰氣而收成。豈非陰陽運度之所政也。各稟五行造化。從其四時政令。皆得應呼生長變化收藏之道也。</p>
<p>六氣應變。臟腑應傳。病從十二支。應於十干也。故子午之日。少陰司天。</p>
<p>注曰。子為本。屬腎。其化寒。其病腰腳疼。午為標。屬心。其化熱。其病怯悸。胞應痛也。</p>
<p>丑未之日。太陰司天。</p>
<p>注曰。醜為本。屬肺。其化燥。其病咳嗽。氣急肌熱也。未為標。屬脾。其化濕。其病喘逆嘔噎。體重。大便膿血也。</p>
<p>寅申之日。相火司天。</p>
<p>注曰。寅為本。屬三焦。其化炎。其病伏聚結氣讝妄也。申為標。屬膽。其化風。其病伸。久困憊倦怠也。</p>
<p>巳亥之日。厥陰司天。</p>
<p>注曰。巳為本。屬心包絡。其化熱。其病心膈胸膺痞痛也。亥為標。屬肝。其化風。其病目赤眩掉頭痛也。</p>
<p>辰戌之日。太陽陰司天。　</p>
<p>注曰。辰為本。屬小腸。其化熱。其病心痛。舌強臍腹痛也。戌為標。屬膀胱。其化寒。其病腰痛。陰囊腫墜。小便不利也。</p>
<p>卯酉之日。陽明司天。</p>
<p>注曰。卯為本。屬大腸。其化燥。其病大便秘澀。後重。臍腹痛也。酉為標。屬胃。其化濕。其病之節煩熱。吐不食。</p>
<p>五運六氣相乘。命由天符之歲。</p>
<p>注曰。運化與同應者。謂之相乘也。故命曰天符之歲。假令丁。亥年。木運。丁少角。此厥陰司天。氣與司運各會木象。故謂之天符歲會也。若與臨位之位之辰同應者。命曰太乙天符之歲也。假令戊午年。午為少陰。君火司天之氣。戊為火也。與運氣並臨。位同化也。故謂之太乙。天符之歲也。以應歲之五運六氣。符合之期而為會也。然五運六氣之變應者。從子至巳。乃手三陰三陽用事也。自午至亥。乃足三陰三陽用事也。故六氣隨五運以合太少之宮之變動。而其天信以證吉凶之兆矣。</p>
<p>木火金水。運化北政之歲。</p>
<p>注曰。北政之歲。木火金水四運。皆屬北政。君面在北。臣面在南。司天之氣。以為手經。自立春前大寒之日。以在泉左間之氣。為初氣之應。子午之歲。少陰司天。</p>
<p>注曰。少陰君火在上。司天之氣也。其化熱。應於標。寒應其本也。其蟲羽。生數二。成數七也。左間天氣。太陰濕土應間。右間天氣。厥陰風木應間也。</p>
<p>陽明燥金在泉。司地之氣也。其化燥。應於標也。濕應其本也。其蟲介。生數四。成數九。左間地氣。太陽寒水應間。右間地氣。少陽相火應間之。</p>
<p>丑未之歲。太陰司天。</p>
<p>注曰。太陰濕土在上。司天之氣也。其化濕應於標。燥應其本。其蟲裸。生數五成數十也。左間天氣。少陽相火應間。右間天氣。少陰君火應間也。太陽寒水在泉。司地之氣。其化寒應於標。熱應其本也。其蟲鱗。生數一。成數六也。左間地氣。厥陰風木應間。右間地氣陽明燥金應間。</p>
<p>寅申之歲。少陽司天。</p>
<p>注曰。少陽相火在上。司天之氣也。其化炎應於標。風應其本也。其蟲羽。生數二。成數七也。左間天氣。太陰濕土應間也。厥陰風木在泉。司地之氣。其化風應於標。熱應其本。其蟲毛。生數三。成數八。左間地氣太陰寒水應間。</p>
<p>卯酉之歲。陽明司天。</p>
<p>注曰。陽明燥金在上。司天之氣。其化燥應於標。濕應其本。其蟲介。生數四。成數九。左間天氣。太陽寒水應間。右間少陽相火應聞也。少陰君火在泉。司地之氣。其化熱應於標。寒應於本。其蟲羽。生數二。成數七。左間地氣。太陰濕土應間。右間地氣。厥陰木應間也。</p>
<p>辰戌之歲。太陽司天。</p>
<p>注曰。太陽寒水在上。司天之氣也。其化寒應於標。熱應其本也。其蟲鱗。生數一。成數六也。左間天氣。厥陰風木應間。右間天氣。陽明燥金應間也。太陰濕土在泉。司地之氣。其化濕應於標。燥應於本也。其蟲裸。生數五。成數十也。左間地氣。少陽相火應間。右間地氣。少陰君火應間也。</p>
<p>巳亥之歲。厥陰司天。</p>
<p>注曰。厥陰風木在上。司天之氣。其化風應於標。炎應其本也。其蟲毛生數三。成數八也。左間天氣。少陰君火應間。右間天氣。太陽寒水應間也。少陽相火在泉。司地之氣。其化炎應於標。風應於本。其蟲羽。生數二。成數七。左間地氣。陽明燥金應間。右間地氣。太陰濕土應間也。</p>
<p>假如春三月。診得毛而浮。夏三月死。</p>
<p>訣曰。按之三小三大。或三大三小。</p>
<p>假如夏三月。診得毛浮而弱。秋三月死。</p>
<p>訣曰。按之無力。緊按無了。</p>
<p>假如秋三月。診得毛浮而散。冬三月死。</p>
<p>訣曰。按之寸。寸下無。在關下。關下無。在寸尺。</p>
<p>假如冬三月。診得毛浮而滑。春三月死。</p>
<p>訣曰。按寸過關過尺。</p>

<h2>寸口上焦脈</h2>
<p>寸部脈浮。主頭風而眼目虛浮。體重。風寒齒痛。口眼喎斜。</p>
<p>寸部脈沉。主氣胸滿。咳嗽痰。氣喘急。番胃隔氣。胸滿不食。</p>
<p>寸部脈遲。主冷嘔吐。痞滿腹脹。水穀不化。虛汗拘急。疼痛不已。</p>
<p>寸部脈數。主熱上壅。煩躁咽乾。客熱煩渴。頭疼口瘡。</p>

<h2>關部中焦</h2>
<p>關部脈浮。主風。兩脅疼痛。不能舉運。身體四肢疼痛。</p>
<p>關部脈沉。主氣。腹滿虛鳴。心腹疼痛。上下關格。不思飲食。</p>
<p>關部脈遲。主腹冷。痃癖脹疼。遊走不定。刺痛番胃。吐食。</p>
<p>關部脈數。主熱。小便不通。大便閉結。煩渴不已。</p>

<h2>尺部下焦</h2>
<p>尺部脈浮。主腰痛踝痛。腿膝麻木。足脛腫痛。大便不利。</p>
<p>尺部脈沉。主腳腫痛疼。下重麻木。小便不利。</p>
<p>尺部脈遲。主小便急痛。外腎偏痛。大便泄瀉。小便頻數。</p>
<p>尺部脈數。主小便不通。大便秘結。或作腎癰。煩渴不止。</p>
<p>此源經略內出此一段。黃帝問岐伯上古後一編。</p>

<h2>五臟六腑之位</h2>
<p>五臟者。心。肝。脾。肺。腎也。六腑者。小腸。大腸。胃。膽。三焦。膀胱也。肺最上。為諸臟之華蓋。六葉兩耳。主藏魄。心在肺下。其體半垂。如未放蓮花。上有七孔三毛。主藏神。心下為膈。膈下為胃。主藏水穀。左有肝。左三葉。右四葉。主藏魂。膽在肝之短葉間。有精汁三合。右有脾。主藏意。胃下有餘肢。大腸當臍右四十六曲。主傳清便。二腸之下。為臍。臍下有膀胱。主藏溺。背脊骨節第七椎下。有腎。左而為腎。主藏志。右者為命門。主藏精。故曰藏者。臟腑是也。</p>

<h2>五臟六腑之官</h2>
<p>心者。君主之官。神明出焉。肺者。相傳之官。治節出焉。肝者。將軍之官。謀慮出焉。脾者。倉稟之官。五味出焉。腎者。作強之官。伎巧出焉。膽者。中正之官。決斷出焉。胃者。臣使之官。喜樂出焉。小腸者。受盛之官。水化出焉。大腸者。傳導之官。化物出焉。三焦者。決瀆之官。水道出焉。膀胱者。州都之官。津液藏焉。氣化則能出矣。</p>
<p>凡此十一官。不得相失。主明則下安。以此養生則壽。沒世不殆。以為天下者大昌矣。主不明。則十一官危。使道閉塞不通。以此養生。以為天下者也。其宗大危。戒之戒之。故曰。心者一身之主宰。萬事之根本。</p>

<h2>五臟之侯</h2>
<p>目者。肝之外侯。氣通於目。目和則辨黑白矣。</p>
<p>鼻者。肺之外侯。氣通於鼻。鼻和則知香臭矣。</p>
<p>舌者。心之外侯。氣通於舌。舌和則知五味矣。</p>
<p>口者。脾之外侯。氣通於口。口和則知穀味矣。</p>
<p>耳者。腎之外侯。氣通於耳。耳和則知音矣。</p>

<h2>論評</h2>
<p>陰陽變化百千般。酒病花愁最好看。指下推尋須仔細。乍看通曉作神仙。如神造化見千年。不用前言及後言。兩字之中分禍福。若人詳細古今傳。</p>

<h2>太素脈訣總論</h2>
<p>太素脈者。以輕清重濁為的論。輕清為陽。為富貴。重濁為陰。為貧賤。男子以肝木部為主。以決功名之高下。女子以肺金兌位為主。以決福德。且如輕清者。如指摸玉。純粹溫潤。應指分明。六脈不克。如源之流長。不敢斷續。縱有小疾。直清不濁。主為人受性沖和。智識明敏。祿位高擢。此為輕清之脈。重濁者。應指不明。如撒干砂。滿指皆論。前大後小。息數混雜。克歸本身。為重濁之脈。下指詳審。萬無一失。</p>

<h2>八卦論初主末主</h2>
<p>乾一。兌二。離三。震四。巽五。坎六。艮七。坤八。</p>
<p>大抵男子以肝木上沉取真卦。以看其初年。中取以看其中主。右關脾脈以斷末主。沉取方是。女子以肺部沉取。以決初年。中取以斷中主。脾部沉取以斷末主。且如肝脈上逢一數而止。即是乾卦之事。二十五歲以前氣數。二數而止。即是兌卦行運。余仿此。</p>
<p>大抵男子宜行東南氣運。離。巽。震。坤是也。取其氣運相生。不克不悔滯。女子宜行西北。乾。兌。坎。艮是也。取其氣揪斂為合其宜。倘若男子得西北之運。為悔滯。為事多有成敗。女子效此。出身之脈。以斷脈德性。心脈上沉取。若應指得一數而止。即是乾卦。為出身。蓋乾兌之卦。為性溫和寬大。胸襟平坦。震卦則心直口快。不受激觸。離卦巽卦。為性胸襟光霽。坎艮二卦。為性沉執。狠毒不常。每有利己損人之心。坤卦為性遲緩。有載物細汗之心。以此參斷。決無參差。肥壯人宜沉細脈。按之至骨。瘦人脈浮大應指。至筋骨為合度。富貴人脈宜沉靜。不宜急躁。下指至骨方應。沉靜之中。色藏如珠分明。為入格之脈。女人出身。肝部沉靜。取卦數以斷性行。兼心性推論。訣曰。效脈之法要心賢。若還按本則徒然。大凡數脈平至數。表裡詳觀斷近源。如神變化百千年。不論前篇及後篇。兩手之中分造化。若人悟得應如傳。</p>

<h2>知男女論</h2>
<p>七七四十九。加胎減母年。更添一七數。男一女雙全。上半年產隔年數。下半年產。以今歲數論。</p>

<h2>六氣</h2>
<p>立春至春分初氣。清明至小滿二氣。芒種至大暑三氣。</p>
<p>立秋至秋分四氣。寒露至小雪五氣。大雪至大寒六氣。</p>

<h2>五運</h2>
<p>（甲己土運　乙庚金運　丙辛水運　丁壬木運　戊癸火運）</p>
<p>（三陰三陽　金土火　是謂五根　火木水）</p>
<figure>
<img alt="太極圖">
</figure>
<p>天地。一太極也。人身。一天地也。夫五行之在天地間。自天一生水。水生木。木生火。火生土。土生金。金復生水。五行順布。三陰三陽。所謂五根也。至於太玄。所謂木火土金水。以木上水在下。所謂相生之無窮。表河圖之數也。堯典所謂水火金木土。各五行相剋者。洛書以相剋而成也。人身亦然。人稟天地之氣以生。故五行之氣。隱於五臟。見於六腑。自腎水生肝木。肝木生心君火。心君火生三焦相火。相火生脾土。脾土生肺金。肺金復生腎水。以相生而成也。且如水生木。是水為母。而木為子也。木復生火。是木受竊氣。故水怒而剋火。所謂子逢竊氣。母乃力爭。火又生土。是火為母。土為子。土見火被水克。故怒而剋水。所謂母被鬼傷。子來力救。相生相剋。展轉無窮。此人身之太極也。故善觀脈者。切造化之功。巧體陰陽之正。窮一動之微。究萬物之失。雖脈分六部。變應萬殊。醫家分為七表八里九道等脈。詳考參論。深切甚明。其書數千百家。不啻數千萬言。纖悉備具。圖有或遺。然究取用。互有得失。率未盡其機要。而得太始太素之外者。而不知在天地間者。眾人之五行。其氣散在人身者。一人之五行。其氣專。氣散者難以明。氣專者易以見。故君子以脈而有得焉。陽氣未盡。陰未散之時。一舉指之間。而知其平生當為若何人。當受若何用。富貴貧賤。壽夭正邪。若辨黑白。若數一二。有父母妻子之所不能知。身心之所不能悟。無不了明。此無他。至於理而止耳。夫太素脈。以心為主命。心君也。一人之主也。以小腸為遷移。蓋志也。心之所知。稟令而行。吉凶悔吝所生也。以膽為福德。膽者。德肝之氣。受心之用。心以肝為官祿。肝者得水之生。為心之母。得天者厚也。以肺為父母。蓋肺為月孛。父母之象。初氣之所主也。大腸為妻子。蓋大腸為計都。得肺之氣。配於初氣也。胃為財帛。蓋胃得脾之餘氣也。脾為田宅。而脾氣所以滋養萬物者也。三焦為祿馬。相火受命於心也。以此求之。無不洞徹。且夫心脈屬火性矣。而促之不滿於九。而用止於八。乾一兌二。離三震四。巽五坎六。艮七坤八。則又為乾矣。人遇之則為亢陽之數。孤貧無比。尚何言其數之多也。心主吉凶。主十五歲以前氣數。其體浮洪。若一數而止。大人得之。主為性高明剛健。純一不已。小人遇之。則主性輕躁。常有明察之疾而已。不失為耿直之士。二數而止。則主為性和悅。心事平坦。敬之敬之。心恆敬人。人常敬之。達則伊傳。窮而曾顏。純乎君子之心。無一毫人慾之私者也。三數而止。則主決為聰明機敏。爽麗光霽。待人接物。曲盡其情。端為文章之士。忠厚之人。四數而止。則主為性躁暴。不能容物。置家嚴肅。與人誠信。心性處事得宜。無利己損人之心。亦主聰明文章。終未免喜怒不常。五數而止。主為性聰明機變。多學多能。遊說辨給。撒合縱橫。但處性不定。介乎君子小人之間。長於奔競。易而動搖。非九流之士。則遊俠之輩。六數而止。為性嶮惡奸曲。諂詐邪佞。造惡興謗。反道悖德。小則賊人。大則逆天最為凶惡也。七數而止。主為性愚頑無智。不辨麥菽。為耕田荷擔之人。或勇而無謀。或猥而好閒。所謂愚婦是也。八數而止。主為性遲緩溫和。容物納汙。憐孤念寡。輕財好施。樂道安貧。不與人較。人亦不欺。非君子長者之士。則山林隱逸之人。若更如珠明淨。則福德深厚。逍遙人極之表。出乎塵俗之人也。</p>
<p>膽脈主十五。二十五歲以前氣數。其體浮弦。若下指時。便如箏弦之秀麗。大小弦勾。浮而應指。分明不雜。得五十至以上者。祿髩三公。祖父之遺澤。四十至而止者。位至守令。二十至而止者。參佐之任。或其數不及。但得大體明淨。亦主一任一職之流。若至數混雜。大小不勻。則十年之中。無功名之分。其或奔湧不定。有官者失職。常人主官訟也。</p>
<p>肝脈至十五歲以前氣數。此人身最為關係之處。其體沉弦。得四十五以上而止者。位至三公。若帶微澀。雖宰相亦必艱難。三十至以上而止者。位至守令。二十至以上而止者。則雜職。散澀亦如之。大小明淨。來往如珠流利者。主風憲之權。兼以肺脈滑者。主生殺之權。若三部俱弦。而至及數者。力主九鼎。威鎮一方。位至將帥。掌生死建節開關。割土封侯。至數不及者。亦有千夫長萬夫長之應。其或奔湧。六部俱弦。心應坎至。則為軍賊。徒形刺配。加之六脈俱克者。則主斬首分屍。若撒砂應指不明者。則主貧賤下賤之人也。</p>
<p>脾胃脈至二十五歲以後晚年氣數。其體微緩。得五十至以上者為上富。三十至以上者。為中富。二十五至以下者。為下富。其至數不及。但應指分明。晚年亦主康裕。若浮而應指。有財無田。沉而應指。有田無財。浮沉俱應者。田財優裕。若見洪緩者。主受祖業。浮而澀者。主得妻財。或妻子得力成家。但見鄙猥。權自內出。若見微滑。則有不肖破家之子。淫欲之妻。自身猥僻好淫。不能自振者也。若應指乍數乍遲。乍大乍小者。終身貧困。若見奔瀉者。則破蕩祖業。潦倒無成。乃奔波乞丐無恥之人也。</p>
<p>大腸之脈。其體微而短。應指明淨。則主妻賢子肖。終身無克。三五數者。男多女少。三四至者。女多男少。若見奔湧。主克其妻子。加以六脈俱克。則終身無子。孤獨之命。或師尼僧道之流。若見滑脈。則主養子成家。館甥待老者也。</p>
<p>肺脈之體。短而澀。若應指分明。至數長遠。又帶微緩。非四親具慶。則父母雙全。盡菽水之歡。樂綵衣之娛。人生最難。造化所甚靳者。三五數而止者。先克母。奔湧無定。少年失怙恃之親。緩滑相仍。終身無異姓之託也。</p>
<p>左尺之脈沉而滑。右尺之脈洪而滑。此初得天地父母之氣。所得者厚。福而壽。所得者薄。促而夭。此一定不移之數也。知者於此詳觀審察。以左右定其壽夭之大體。然後以左右定其歲數多少。則萬無一失。若兩尺俱失。外腎不足。右尺奔湧。主僕曹有災。或盜竊財物。左尺奔湧。乍疏乍急者。淫欲輕狂。此六脈專主五行之定數。合而言之。心脈洪弦。三焦洪緩。為君臣慶會。有官者升階進職。無官者主奇運。若心脈洪滑。三焦洪弦。為君臣失所。主異是矣。六脈俱受父母氣者。主得父母之愛。異於他子。六脈子歸母腹者。主得子如曾閔。幹蠱興家。六脈之中。最怕代脈。一脈受代。一臟受絕。如脾部本無緩體。而反得弦長浮大。以一時加之受克。可卜其死之日矣。若四季遊年。各以本部推斷。得母氣者。可求功名。得子氣者。可求財帛。此宜知之。善推者則萬無一失。</p>

<h2>遊年脈</h2>
<p>心少陰君火。其體洪若浮。則正發財。若洪緩則是脾脈。君心部為受母氣。主少年聰明。或受父母蔭為官職。或為神童。十五歲以前聰明得譽。若見滑疾。主少年心虛之疾。或下元不固。若於腎脈見促。診之轉旋。則知在何年得之。何年愈。若見澀脈必死。為賊人心腹。若滑疾無常。則心經得病。若終身滑澀。則是金入火宮。人主絕。為孤獨。為貧賤。若浮湧。主狂妄。奔下主失心。散亂主憂疑。乍有乍無主神鬼。肉顫主心風。肉頑主殷勤愚滷。澀主為乾枯肉燥。滑主為滋潤。若潮水初至為受病。沖決主亡陽。微細主作事不成。言語謇澀。先小後大。則主不言其事成。先大後小。則作事有始無終。疾則性急。緩則性寬。微則性和。亂則性乖。大則無常。小則無氣。大要以洪緩為主。脈分兩路。則走遷移宮。常主在外。若浮而分。則主逐後。若無脈而應於後。為神仙佛祖矣。</p>

<h1>卷下</h1>

<h2>十二支為六氣</h2>
<p>（或稱六氣所屬地支）</p>
<p>子午少陰君火。卯酉陽明燥金。辰戌太陽寒水。</p>
<p>丑未太陰濕土。寅申少陽相火。巳亥厥陰風木。</p>

<h2>五運所化</h2>
<p>甲己土。乙庚金。丙辛水。丁壬木。戊癸火。</p>

<h2>以年遁月</h2>
<p>甲己之年丙作首。乙庚之歲戊為頭。丙辛之歲尋庚上。</p>
<p>丁壬壬寅順行流。惟有戊癸何方發。甲寅之上好推求。</p>

<h2>以日遁時</h2>
<p>甲己還生甲。乙庚丙作初。丙辛尋戊子。</p>
<p>丁壬庚子居。戊癸何方發。壬子是真途。</p>

<h2>五臟所屬行年月氣日時</h2>
<p>甲膽乙肝丙小腸。丁心戊胃己脾行。庚屬大腸辛屬肺。壬乃膀胱癸腎堂。</p>

<h2>周天符歲會</h2>
<p>乙酉金。丙戌水。丁亥木。戊子火。乙卯金。丙辰水。丁巳木。戊午火。己未土。己丑土。</p>

<h2>左手脈</h2>
<p>火。左寸脈微洪。（心小腸）火如有沉脈。是右尺脈。屬水。是水剋火。曰病。木。左關脈微弦（肝膽）　木如有澀脈。是右寸脈屬金。是金剋木。曰病。水。左尺脈微沉。（腎膀胱）　水如有緩脈。是右關脈。屬土。是土剋水。曰病。</p>

<h2>右手脈</h2>
<p>金。右寸脈微澀。（肺大腸）　金如有微脈。是左寸脈。火剋金。曰病。</p>
<p>土。右關脈微緩。（脾胃）　土如有弦脈。是左關脈。木剋土。曰病。</p>
<p>火。右尺脈微數。（命門三焦）火如有沉遲。是左尺脈。水剋火。曰病。</p>
<p>左寸脈浮。心有餘。沉遲。不足。</p>
<p>左關脈浮。肝有餘。沉遲。不足。</p>
<p>左尺脈浮。腎有餘。沉遲。不足。</p>
<p>右寸脈浮。肺有餘。沉遲。不足。</p>
<p>右關脈浮。脾有餘。沉遲不足。</p>
<p>右尺脈浮弦者。命門三焦有餘。沉遲。不足。</p>

<h2>十二經</h2>
<p>左手脈（心小腸）火。關脈（肝膽）木。尺脈（腎膀胱）水。</p>
<p>右手脈（肺大腸）金。關脈（脾胃）土。尺脈（命門三焦）水。</p>
<p>左心脈微洪曰平。洪多胃氣少。曰病。如脈沉。是腎肝心也。夫克妻。洪甚。用黃連解毒湯主之。沉遲清心蓮子飲主之。</p>
<p>左關浮脈微弦曰平。弦多胃氣少曰病。如有澀脈。是金剋木。有餘弦緊。用桃仁承氣湯主之。不足。木香化滯湯主之。</p>
<p>左尺脈沉曰平。沉多胃氣少曰病。如有緩脈。是土剋水。有餘。滋腎丸加黃柏知母瀉之。不足。附子四逆湯溫之。腎無有餘。多不足。</p>
<p>右寸脈微澀曰平。澀多胃氣少曰病。如有數脈在內。是心火邪傷。有餘。用知母茯苓湯瀉之。不足。用麥門冬飲子補之。</p>
<p>右關脈微緩曰平。緩多胃氣少曰病。如有弦脈。是肝木剋土。有餘。用調胃承氣湯下之。不足。用治中湯補之。</p>
<p>右尺脈微數曰平。數多胃氣少曰病。有餘。用涼膈散主之。不足。用四逆湯補之。</p>

<h2>五行相生</h2>
<p>金生水。水生木。木生火。火生土。土生金。</p>

<h2>五行相剋</h2>
<p>金剋木。木剋土。土剋水。水剋火。火剋金。</p>

<h2>河圖生成數</h2>
<p>天一生水。地六成之。地二生火。天七成之。天三生木。</p>
<p>地八成之。地四生金。天九成之。天五生土。地十成之。</p>
<p>水一六。火二七。木三八。金四九。土五十。</p>
<p>假如診心脈。得一數六數而止者。是水剋火。若遇丙辛及辰戌日時死也。余皆仿此。</p>
<p>肝脈診得四數九數而止。是金剋木。遇乙庚卯酉日時死。</p>
<p>脾脈診得三數八數而止。是木剋土。遇丁壬己亥日時死。</p>
<p>肺脈診得二數七數而止。是火剋金。遇戊癸子午日時死。</p>
<p>腎脈診得五數十數而止。是土剋水。遇甲己丑未日時死。</p>

<h2>十干五行總括</h2>
<p>東方甲乙木。南方丙丁火。西方庚辛金。北方壬癸水。</p>
<p>中央戊己土。</p>

<h2>十干五運所化歌</h2>
<p>甲己化土乙庚金。丁壬化木盡成林。丙辛化水滔滔去。戊癸南方火焰侵。</p>

<h2>六氣所屬地支</h2>
<p>子午少陰君火天。卯酉陽明燥金。辰戌太陽寒水。</p>
<p>丑未太陰濕土。寅申少陽相火。巳亥厥陰風木。</p>

<h2>年月日時加臨同天符運氣斷病法</h2>
<p>乙酉金。（乙庚化金。卯酉陽明燥金。）　丙戌水。（丙辛化水。辰戌太陽寒水。）　丁亥木。（丁壬化木。巳亥厥陰風木。）　</p>
<p>戊子火。（戊癸化火。子午少陰君火。）　己丑土。（甲己化土。丑未太陰濕土。）　乙卯金。（乙庚化金。卯酉陽明燥金。）</p>
<p>丙辰水。（丙辛化水。辰戌太陽寒水。）　丁巳木。（丁壬化水。巳亥厥陰風木。）　戊午火。（戊癸化火。子午少陰君火。）</p>
<p>己未土。（甲己化土。丑未太陰濕土。）</p>

<h2>斷年月日時病法</h2>
<figure>
<img alt="六脈掌圖">
</figure>
<p>假如丙戌年。又遇丙戌丙辰日時。但患心經受病。值此同運日時死。若過得此日可治。</p>
<p>假如乙酉年。又遇乙酉乙卯日時。但患肝經受病。值此同運日時死。若過得此日可治。</p>
<p>假如丁亥年。又遇丁亥丁巳日時。但患脾經受病。值此同運日時死。若過得此日可治。假如戊午年。又遇戊午戊子日時。但患肺經受病。值此同運日時死。若過得此日可治。假如己丑年。又遇己丑己未日時。但患腎經受病。值此同運日時死。若過得此日可治。傷寒六經傳變日法。一日太陽經。頭痛身熱。法當以汗。先年有餘。雙解散。先年不足。人參敗毒飲。假如今年乙未。濕土司天。辰戌太陰寒水在泉。明年雙解散。更有脈虛實浮散。數而大。謂之有餘。曰實。短數而微。謂之不足。曰虛。</p>
<p>二日陽明經。當和調中湯。加四苓散。</p>
<p>三日少陽經。小柴胡湯。</p>
<p>四日太陰經身痛。</p>
<p>五日少陰經。口乾舌燥。</p>
<p>六日厥陰經當下。</p>
<p>七日六經傳遍。又復太陽。又以汗下。</p>
<p>如脈浮緊。大煩者又汗。如脈沉而遲。按下緊實。又下。</p>
<p>如右關脈。是陽明胃土脈。浮緊而洪。頭面微紅。斷日發斑。</p>

<h2>分男女脈</h2>
<p>男子尺脈常弱。（氣有餘為無事）　女子尺脈常盛。（血有餘為無事）</p>
<p>經曰。女人反此背看之。（女要尺盛而寸弱。男要寸盛而尺弱。）謂之反此。斷病亦然。</p>
<p>童女脈。尺弱而寸盛。童子脈。尺盛而寸弱。</p>
<p>男子若尺脈大而浮。名曰虛。必走精。</p>
<p>女子若尺脈浮而大。或沉而微。必經脈不調。半虛漏血之脈。加有孕脈。尺脈緊實而大。至勻調。必是孕婦。更加吐逆。三個月也。左手尺脈浮大。斷曰男。右手尺脈浮大。斷曰女。</p>

<h2>醫家難經玄妙</h2>
<p>經曰。肝青象木。肺白象金。今（補註脫一今字）肝得水而沉。夫木得水而浮。金得水而沉。今乃木沉金浮。其意何也。然肝者非純木。乙酉也。庚之柔宗。大言陰與陽。小言夫與婦。釋其微陽。而吸其微之氣。其意樂金。又行陰道多。故今肝得水而沉。肺者。非為純金。辛巳也。丙之柔宗。大言陰與陽。小言夫與婦。釋其微陰。婚而就火。其意樂火。返行陽道多。故今肺得水而浮。肺熱而沉者。何故。知辛當歸庚。乙當納甲。</p>

<h2>用藥式樣</h2>
<p>心經有餘。</p>
<p>黃連解毒散心中。連柏黃芩梔子同。獨活引經宜仔細。其中妙法少人通。</p>
<p>心經不足。</p>
<p>清心蓮子補心中。甘草黃芩並麥門。蓮肉車前耆最補。茯苓八味共人參。</p>
<p>小腸經有餘。</p>
<p>八正散能散小腸。木通瞿麥大黃良。車前滑石兼甘草。萹蓄山梔引藁姜。</p>
<p>小腸經不足。</p>
<p>吳茱萸補小腸經。甘草乾姜及好參。吳茱萸多如法制。引經黃柏並麥門。</p>
<p>肝經有餘。</p>
<p>桃仁承氣散肝經。厚朴芒硝枳實真。生熟大黃隨證用。青皮為引及桃仁。</p>
<p>肝經不足。</p>
<p>木香化滯補肝枯。芍藥當歸枳實扶。半夏青陳皮草豆。紅花九味引柴胡。</p>
<p>膽經有餘。</p>
<p>小柴湯散膽經余。半夏人參甘草隨。多用柴胡尤是引。黃芩五味莫躊躕。</p>
<p>膽經不足。</p>
<p>溫膽湯能補太陽。人參半夏竹茹良。苓芩甘草陳皮合。芍藥黃芩九味長。</p>
<p>腎經有餘。</p>
<p>大承湯散腎經余。厚朴將軍枳實除。更用芒硝須仔細。引經知母一同醫。</p>
<p>腎經不足。</p>
<p>四逆湯能補腎虛。引經知母本相宜。乾薑附子須炮製。甘草人參芍藥醫。</p>
<p>膀胱有餘。</p>
<p>人參敗毒散膀胱。甘草前胡柴獨羌。茯苓枳殼芎桔梗。引經藁本正相當。</p>
<p>膀胱不足。</p>
<p>桂枝人參補膀胱。四君子對炙乾姜。白朮芍藥茯苓草。七味能除便得康。</p>
<p>肺經有餘。</p>
<p>知母茯苓散肺余。四君五味款藥皮。苓翹荷梗麥門半。阿及柴防十八枝。</p>
<p>肺經不足。</p>
<p>麥門引子肺虛空。君子陳皮五味冬。半夏桔同成九味。引經升芷又兼蔥。</p>
<p>脾經有餘。</p>
<p>桂枝大黃湯散脾。大黃甘草桂枝宜。引經芍藥同兼治。赤破其經白補之。</p>
<p>脾經不足。　</p>
<p>治中湯補太陰脾。甘草陳皮白朮宜。芍藥引經參主宰。乾薑六味及青皮。</p>
<p>胃經有餘。</p>
<p>調胃湯能散有餘。大黃厚朴最為奇。更兼枳實共甘草。引子升麻芷葛宜。</p>
<p>胃經不足。</p>
<p>調中益氣胃中虛。白朮人參甘草歸。蒼芍柴耆五味子。升麻十一共陳皮。</p>
<p>大腸有餘。</p>
<p>導滯湯能散大腸。當歸黃柏共檳榔。木香引正青皮是。更入黃連與大黃。</p>
<p>大腸不足。</p>
<p>補中湯補大腸經。蒼朮黃耆及四君。澤瀉豬苓能正泄。陳皮引正定揚名。</p>
<p>心包絡有餘。</p>
<p>抵當湯散心包余。水蛭虻蟲治血宜。多用大黃鬚辨正。桃仁四味引青皮。</p>
<p>心包絡不足。</p>
<p>當歸四逆補心色。甘草當歸芍藥交。通草細辛芍桂枝。引經黃柏及阿膠。</p>
<p>三焦有餘。</p>
<p>涼膈散能散三焦。連翹梔子大黃硝。薄荷甘草黃芩等。七味同和治熱燒。</p>

<h2>要健歌</h2>
<p>張仲景之論傷寒。截要諸書指下看。脈辨陽陰分表裡。一身證候百餘般。第一先論太陽經。發熱惡寒須要明。尺寸但浮頭體痛。解肌發熱。要參詳。有汗惡寒宜桂枝。惡寒無汗用麻黃。身熱目黃鼻又幹。脈長不得片時安。</p>
<p>三個陽明俱目下。脈寒惡汗兩中寒。傳到少陽胃脅痛。傳來寒熱耳聾看。</p>
<p>口苦舌乾脈浮嘔。柴胡解表莫盤桓。腹痛咽喉手足溫。自利不渴腸胃痛。</p>
<p>沉細理中並四逆。太陽浮大表尤存。少陰脈沉仔細認。口燥舌乾是其證。</p>
<p>中和惡寒四逆湯。口燥咽乾膽風盛。熱氣流傳臟腑間。承氣急攻如指聖。</p>
<p>厥陰囊縮滿煩時。微汗屬肝真個是。若還惡寒入腹中。急治勿令損傷命。</p>
<p>脈察陰陽分表裡。表證惡寒但急痛。脈浮發汗急令遲。各半麻黃枝與齊。</p>
<p>夏加升麻並黃芩。知母石膏同為治。莫教助熱發黃斑。醫人見此難療治。</p>
<p>若還秋冬春氣盛。熱盛須用柴胡醫。表不惡寒而惡熱。掌心津液下汗時。</p>
<p>胃乾嚥燥大便難。腸滿譫語小便赤。腹痛坐臥不安寧。氣血不通多喘息。</p>
<p>沉細滑數而宜通。便進元陽亦無失。亦聞三因可汗下。太陽少陰俱可訝。</p>
<p>少陰發熱太陽浮。微微芍後不須快。附子甘草並莪朮。服之微汗真無價。</p>
<p>衄血下血壞病人。經後風溫濕溫者。虛煩腹中急痛時。醫者汗兮真可罵。</p>
<p>三因積病要參詳。切莫庸醫亂處方。太陽腹滿時痛作。桂枝芍藥大黃湯。</p>
<p>少陰咽痛口中燥。腹滿不食大便燥。忽然自利清水來。心下痛時精正撓。</p>
<p>勸君急用承氣湯。何用神祇空禱告。脈還虛細脈並浮。惡寒嘔吐便輕少。</p>
<p>古人戒用承氣湯。君若要投真可嘆。或有表裡兩證見。或六七日不大便。</p>
<p>有汗頭痛如破面。若還使用承氣湯。便是醫人有靈驗。心滿不食大便硬。</p>
<p>脈浮頭面出綿綿。微是惡寒手足冷。小柴胡湯能治全。隨證治之不宜戀。</p>
<p>若有身熱反欲依。或有身熱不蓋被。此用表熱里內寒。表熱宜用桂枝湯。</p>
<p>更用柴胡加減治。寒在皮膚熱在骨。白虎加苓不可忽。桂枝麻黃並半兩。</p>
<p>次第用之至紫菀。或有手足厥冷時。臍腹疼痛冷汗出。嘔出不利渴亦煩。</p>
<p>咽痛身如被杖擊。若還六脈沉絕時。此名陰毒不須疑。白朮附子正陽湯。</p>
<p>回陽還陰真最奇。氣海關元多著灸。直向臍中急熨之。熨之手足稍溫陽。</p>
<p>氣冷自然有汗出。又有一證名陽毒。譫語妄言君休笑。面赤咽乾利亦黃。</p>
<p>脈須浮滑並洪促。葶藶苦酒黑如瓦。梔子仁湯宜早服。數藥尤宜選用之。</p>
<p>大汗散解宜陽服。但問病人宜潮熱。譫語如對鬼神說。循衣摸床甚驚人。</p>
<p>此多因吐不能得。數日不便面揣來。下後脈浮人便生。若還芤沉脈還澀。</p>
<p>脈實下之真妙訣。陰似陽兮陽似陰。身煩熱燥不飲水。此名陰盛隔陽熱。</p>
<p>霹靂丹砂君自截。手足逆冷只名厥。冷熱君須次第排。冷厥遲熱不飲水。</p>
<p>四逆理中湯妙絕。冷厥日中煩燥熱。重手按之脈還澀。揚手擲之不得眠。</p>
<p>白虎大承君子辨。更有辨證十餘般。蛔厥之病虹長蟲。烏梅理中丸可攻。</p>
<p>更有一證陰陽易。身體重而氣自衰。陰毒腹中多攪痛。眼內生花內破裂。</p>
<p>婦人腰膝連腹痛。毒氣相交腳氣重。燒裩鼠糞竹茹湯。乾薑竹茹皆可治。</p>
<p>陽虛陰盛下則死。陽盛陰虛汗之祖。一日頭疼身體痛。口乾煩滿少陰攻。</p>
<p>二日腹滿身重熱。譫語不食可憂凶。三日耳聾常厥厥。水漿不入魂魄空。</p>
<p>此名兩感傷寒疾。仲景不治載方中。但便依經分表裡。陰陽分別有神功。</p>
<p>脈浮而緊更頭痛。四肢拘急惡寒存。無汗寒多熱少時。面色慘而不光彩。</p>
<p>腰腹疼而手足厥。此是傷寒之大概。各依將病處方醫。莫學庸醫難曉會。</p>
<p>寸大尺弱後有浮。自汗體熱並頭痛。寒多熱少不須瞞。更識身體惡風甚。</p>
<p>手足厥冷麵光浮。便識傷寒隨證治。活人湯劑不須憂。發熱惡寒燥大盛。</p>
<p>手足溫潮脈浮急。先是傷寒傷風脈。奉勸醫人當仔細。寒多熱少不須瞞。</p>
<p>大青麻黃桂枝證。發熱惡寒口洌脈。渾身體痛百骨節。憂熱病因是寒傷。</p>
<p>麻黃大青加減別。中暑病證熱中同。雖是脈浮病加渴。痰逆惡寒橘皮湯。</p>
<p>白虎五苓加妙絕。惡寒發熱夏至前。頭痛心疼卻似煎。溫病脈須浮緊盛。</p>
<p>此名寒瘧古人傳。加減柴胡五苓散。溫暖四肢不能收。喘息不眠心自夢。</p>
<p>姜苓防己葛根湯。渴甚瓜薑湯可用。長幼之中病是同。此名溫疫不須窮。</p>
<p>先將此散輕輕服。次第依他證候攻。此是醫家真妙理。後之學者要精通。</p>

<h2>診十二部脈用藥節法</h2>
<p>左寸脈。（小腸陽心陰）　關脈。（膽陽肝陰）　尺脈。（膀胱陽腎陰）</p>
<p>右寸脈。（大腸陽肺陰）　關脈。（胃陽脾陰）　尺脈。（命門陽三焦陰）</p>
<p>右心脈微洪。曰平。洪多胃氣少。曰病。如洪大。黃連解毒湯主之。</p>
<p>黃連　黃芩　黃柏　山梔子仁</p>
<p>上㕮咀。水一鍾半。煎七分。去滓溫服。</p>
<p>如本經脈沉弱。謂之不足。用清心蓮子飲主之。</p>
<p>黃芩　甘草　蓮肉　黃耆　麥門冬　車前子　人參　赤茯苓</p>
<p>上㕮咀。水一鍾半。生薑三片。煎七分。去滓溫服。</p>
<p>小腸經脈浮。曰平。浮多胃氣少。曰病。如脈浮。用八正散主之。</p>
<p>木通　瞿麥　大黃　滑石　車前子　萹蓄　山梔　甘草</p>
<p>上㕮咀。水一鍾半。煎七分溫服。</p>
<p>如本經濡弱。謂之不足。用吳茱萸湯主之。</p>
<p>吳茱萸　人參　乾薑　甘草</p>
<p>上㕮咀。每服用水一鍾半。煎七分。空心溫服。</p>
<p>在肝脈微弦。曰平。弦多胃氣少。曰病。脈弦緊。桃仁承氣湯主之。</p>
<p>桃仁　厚朴　枳實　芒硝　大黃</p>
<p>上㕮咀。用白水煎服。</p>
<p>如本經脈短。謂之不足。用木香化滯湯主之。</p>
<p>木香　芍藥　當歸　枳實　半夏　青皮　陳皮　紅花　草豆蔻　柴胡</p>
<p>上㕮咀。水二鍾。生薑三片。煎七分溫服。</p>
<p>膽經脈浮弦。曰平。弦多胃氣少。曰病。弦大。小柴胡湯主之。</p>
<p>柴胡　人參　甘草　黃芩　半夏</p>
<p>上㕮咀。水二鍾。生薑三片。棗一枚。煎七分溫服。</p>
<p>如本經脈微沉。謂之不足。用溫膽湯主之。</p>
<p>人參　半夏　竹茹　茯苓　柴胡</p>
<p>上㕮咀。水二鍾。生薑三片。煎七分溫服。</p>
<p>腎經脈沉實。曰平。沉多胃氣少。曰病。如脈沉寒。口燥咽乾。用大承氣湯主之。</p>
<p>厚朴　芒硝　枳實　大黃</p>
<p>上㕮咀。白水煎服。</p>
<p>如本經脈虛濡。謂之不足。用四逆湯主之。</p>
<p>乾薑　甘草　附子　人參</p>
<p>上㕮咀。水二鍾。生薑三片。煎七分溫服。</p>
<p>膀胱脈微沉。曰平。沉多胃氣少。曰病。如脈浮滑有餘。人參敗毒散主之。</p>
<p>人參　甘草　前胡　柴胡　羌活　獨活　川芎　枳實　茯苓　桔梗</p>
<p>上㕮咀。水煎服。如發汗加麻黃。蔥薑汁煎。</p>
<p>如本經脈沉澀。謂之不足。用桂枝人參湯主之。</p>
<p>桂枝　人參　白朮　茯苓　甘草　芍藥　乾薑</p>
<p>上㕮咀。水一鍾。生薑三片。煎至七分。去滓溫服。</p>
<p>肺經脈短澀。多胃氣少。曰病。如脈浮數有餘。茯苓湯主之。</p>
<p>知母　人參　白朮　白茯苓　款冬花　阿膠　甘草　連翹　薄荷　桑白皮黃芩　防風　桔梗　半夏　麥門冬　柴胡　五味子</p>
<p>上㕮咀。生薑三片。煎服。</p>
<p>如本經脈沉細。謂之不足。用麥門冬飲子主之。</p>
<p>麥門冬　人參　白朮　茯苓　甘草　黃芩　桔梗　半夏　五味子</p>
<p>上㕮咀。水二鍾。生薑三片。煎服。</p>
<p>大腸脈短浮。曰平。浮多胃氣少。曰病。浮大而數。為有餘。導氣散主之。</p>
<p>當歸　黃柏　檳榔　木香　黃連　大黃　青皮</p>
<p>上㕮咀。白水煎服。</p>
<p>脾經脈微緩。曰平。緩多胃氣少。曰病。脈滑實有餘。用桂枝大黃湯主之。</p>
<p>桂枝　大黃　芍藥　甘草</p>
<p>上㕮咀。白水煎服。</p>
<p>脾經脈微緩。曰平。緩多胃氣少。曰病。脈滑實有餘。用桂枝大黃湯主之。</p>
<p>桂枝　大黃　芍藥　甘草</p>
<p>上㕮咀。白水煎服。</p>
<p>如本經脈微弱。謂之不足。用治中湯主之。</p>
<p>白朮　人參　甘草　陳皮　乾薑</p>
<p>上㕮咀。生薑棗子煎服。</p>
<p>胃經脈緩。曰平。緩多胃氣少。曰病。脈浮大有餘。調胃湯主之。</p>
<p>厚朴　枳實　甘草　大黃</p>
<p>上㕮咀。白水煎服。</p>
<p>如本經脈微弱。謂之不足。用調中益氣湯主之。</p>
<p>白朮　人參　甘草　當歸　芍藥　五味子　陳皮　升麻　黃耆　柴胡</p>
<p>上㕮咀。生薑棗子煎服。</p>
<p>心包絡脈微數。曰平。數多胃氣少。曰病。脈數大而實有餘。更帶沉澀。用抵當湯主之。</p>
<p>水蛭　虻蟲　大黃　桃仁（各等分）</p>
<p>上㕮咀。白水煎服。</p>
<p>如本經脈微沉。謂之不足。用當歸四逆湯主之。</p>
<p>當歸　甘草　芍藥　通草　細辛　川芎　肉桂（各等分）</p>
<p>上㕮咀。用白水煎服。</p>
<p>三焦經脈浮數。曰平。浮多胃氣少。曰病。脈浮大有餘。用涼膈散主之。</p>
<p>連翹　梔子　大黃　芒硝　薄荷　甘草　黃芩（各等分）</p>
<p>上㕮咀。白水煎服。</p>
<p>如本經脈沉濡而微。謂之不足。用四逆湯主之。</p>
<p>附子　甘草　肉桂　乾薑　白朮</p>
<p>上㕮咀。每水二鍾。生薑三片。煎七分溫服。</p>
<p>此經內寒外熱。煎藥待冷服。此乃是熱因寒用。如內熱而外寒。以涼膈散溫服。此乃是寒因熱用。</p>

<h2>察診婦人脈法秘傳妙訣</h2>
<p>左心脈微洪。謂之氣血有餘。無事。如本經脈。短細微弦。謂之氣血俱虛之證。其婦兩脅脹滿。心中常疼。力弱腳軟。宜用茯苓補心湯主之。</p>
<p>甘草　川芎　當歸　赤茯苓　乳香　沒藥　赤芍藥　五靈脂</p>
<p>上㕮咀。每服水一鍾。生薑三片。煎至七分。去滓入醋少許。空心溫服。</p>
<p>右肝脈微弦。謂之有餘。如本經脈。微細短澀沉緩。謂之不足之證四肢經絡。百節疼痛。心胸間有氣血塊。</p>
<p>青皮　蘇木　紅花　枳實　木香　赤芍藥　半夏　桃仁　柴胡　當歸　熟地黃　如痛甚如大黃</p>
<p>上㕮咀。每服水一鍾半。煎七分。去滓。食遠溫服。</p>
<p>右尺脈大緊謂之有餘。氣血俱平。常生孕育。腹中俱安。四大亦安。常常無事。謂之有餘。如本經脈沉細不見。謂之氣有餘。血不足之證。用調經湯主之。</p>
<p>蒲黃　赤芍藥　劉寄奴　赤茯苓　川芎　陳皮　當歸　熟地黃　桑寄生　玄胡索　肉桂　甘草　桔梗　香白芷　香附子</p>
<p>上㕮咀。每服水一鍾半。生薑三片。棗二枚。煎至七分。空心溫服。</p>
<p>如肝腎脈俱沉而細不見。其婦經血淋瀝不止。白帶常下小腹急痛。常常無孕。或時經閉。亦宜用調經湯。</p>
<p>右肺脈微澀。謂之有餘。如本經脈沉澀。或浮短。謂之不足。無氣不和。嘔逆咳嗽。氣閉喘滿。宜用麥門冬湯主之。</p>
<p>加杏仁　知母　貝母</p>
<p>上㕮咀。薑棗煎服。</p>
<p>右脾脈大緩。謂之有餘。如本經脈緩細短小。謂之不足。其婦主翻胃。嘔吐清水。四肢浮腫。經行脹痛。宜用沉香散主之。</p>
<p>沉香　木香　甘草　羌活　木瓜　紫蘇　白朮</p>
<p>上㕮咀。水一鍾半。姜三片。蔥白三根煎服。</p>
<p>右尺脈浮大。謂之有餘。如本經脈。沉細短促。謂之經血不調。乍寒乍熱。心胸煩悶。百節疼痛。謂之不足。用知母黃芩湯主之。</p>
<p>知母　黃芩　豬苓　澤瀉　甘草　肉桂　羌活　防風　地黃</p>
<p>上㕮咀。水一鍾半。姜三片。蔥白三根煎服。</p>
<p>如右尺二脈。俱沉細不見。謂之血氣而增損。腹中鳴。虛疼。前後心俱疼痛不已。常要人背上捶打。方得寧靜。亦宜用木香化滯湯主之。</p>

<h2>心要論斷生男女脈法</h2>
<p>假如二尺脈但浮大。更加嘔逆。便斷其婦三個月身孕。左尺脈浮大。斷曰男。右尺脈浮大斷曰女。</p>
<p>如尺脈及肝脈。實大有力。至數調勻。定是雙男。</p>
<p>如左尺脈。一般浮實大。至數調定。斷一男一女。</p>
<p>凡看脈時。務在澄心定慮。坐久詳細診之。萬無一失。</p>
<p>如肝脈浮大而有力者。一個月孕也。</p>
<p>如右關二部脈實大而有力者。八九十月也。</p>
<p>如左關脈浮大而緊者。是足月也。看內。經脈訣內記斷之。</p>
<p>如婦人身重。二關尺脈俱沉細者。知是過月之孕也。定斷其婦滿十二個月方生。</p>
<p>又有婦人身重。兼兩尺脈俱沉伏者。其婦乃是血有餘而氣不足。其孕定至十五個月方生。定男女尺生篇。</p>

<h2>易見看診脈法</h2>
<p>左三部手經為標法天。心屬手少陰經。小腸屬手太陽經。肝屬足厥陰經。膽屬足少陽經。腎屬足少陰經。膀胱屬足太陽經。</p>

<h2>學診脈息法</h2>
<p>脈。屬陰。脈者。血之道途也。息屬陽。息者。氣之呼吸也。脈不自動。氣之使然。血氣勝則勝。血氣衰則衰。欲診脈息。先調自己之氣。然後取病人脈息。以候太過不及。知病淺深。或有作焉。停寧少頃方可與人診之有病無病。早晚當與診視。不專拘平旦也。</p>

<h2>尺寸部位法</h2>
<figure>
<img alt="圖">
</figure>
<p>寸關尺三部。從魚次節際分定。以中指第二節。橫紋為一寸。入為一尺。分寸為尺。分尺為寸。陰得寸內九分。陰奇數。陽得尺內一寸。陽耦數。寸口其尺。共一尺九分。像三才。陽出陰入。以關為界。人之短長疏密。下指但以高骨下節。關位前寸。關後尺。三陽從地長。故男關前為陽。關後為陰。男子陽多陰少。其脈在關下。故寸盛而尺弱。男不可以久瀉。所以男得女脈為不足。左得之病在左。右得之病在右。是經為本法。</p>
<p>右三部　肺屬手太陰經。　大腸屬手陽明經。脾屬足太陰經。胃屬足陽明經。命門屬手厥陰經。三焦屬手少陽經。</p>

<h2>下指輕重法</h2>
<p>凡診脈須自寸口逐一部以中指頭按之為法。初指下輕按得脈之者。乃胃脈也。更倍深下。按將至骨。方可緩緩放起指頭。臟脈也。若浮中沉。三候六部皆然。故謂之三部九候也。或以數多為輕重。次第按者非也。脈有陰陽之法者。由呼出心與肺。吸入腎與肝。呼吸之間。脾受穀味。故五臟之脈。皆為氣府為尺上關部見之而已。六部輕按得者。腑脈也。屬陽。次深按至中得之。乃胃脈。亦屬陽。陽重按之深。屬臟陰脈也。脾屬土名中州。故其脈在中。此名陰陽之法。三陰從天生。故以女關前為陰。關後為陽。女子陰盛而陽微。其脈在關下。</p>
<p>故寸沉而尺盛女子不可久吐。所以女得男脈為有餘。在左則左病。在右則右病。</p>
<figure>
<img alt="圖">
</figure>
<p>遲（一息三至。應指輕緩。）　氣血俱寒。癥瘕沉積。</p>
<p>浮（按之不足。舉之有餘。）　陽實陰虛。</p>
<p>數（一息七至。去來促急。）　陽盛陰虛。燥熱煩滿。浮短。喘滿不利。</p>
<p>虛（遲大而軟。按之而綿。）　氣血耗亡。夏傷暑暍。浮長。風眩癲疾。</p>
<p>實（舉按有力。不遲不疾。）　血氣壅實。痛熱帶下。浮弦。痰飲發熱。</p>
<p>緩（一息四至。去而帶軟。）　濕流氣壅。或痹或痛。浮滑。停飲宿食。</p>
<p>緊（軟如細線。轉動緊搏。）　正氣特弱。邪氣作痛。浮緊。寒邪淋閉。</p>
<p>洪（來之至大。去之且長。）　榮衛壅塞。熱盛躁狂。浮數。大腑秘澀。</p>
<p>細（按舉往來。其重如絲。）　著濕凝涎。脛痰髓冷。浮緩。風濕不仁。</p>
<p>滑（起而有力。見源如珠。）　痰斂嘔吐。氣逆不和。浮洪。陽經發熱。</p>
<p>澀（三五不調。澀如削竹。）　榮衛俱虛。或為濕癢。浮澀。積滯不消。</p>
<p>弦（如按琴絃。直氣由繞。）　或寒或熱。拘急飲冷。浮弦。傷飲氣促。</p>
<p>弱（輕軟沉細。按之欲絕。）　宿食不消。惡寒氣滿。代動而不來。復來更動。</p>
<p>結（來往急緩。時止更來。）　痰飲積遏。迷悶病痛。代不損部位。隨應即死。</p>
<p>促（去來急緩。時止即來。）　臟熱壅滯。痰飲不行。沉弱。虛勞客熱。</p>
<p>芤（中軟傍實。按無舉有。）　陽實陰虛。氣奔失血。沉緩。重著不仁。</p>
<p>微（輕虛細軟。若有若無。）　榮衛不足。氣痞虛寒。沉緊。不冷作痛。</p>
<p>動（胎肉如豆。動而不行。）　虛榮驚悸。股痛肉攣。沉滑。涎飲穢逆。</p>
<p>伏（舉之雖無。而骨乃得。）　積聚痰癖。痞結不磨。沉細。體軟無力。</p>
<p>長（過於本位。通流而長。）　渾身壯熱。坐臥不安。沉澀。積冷不禁。</p>
<p>短（舉時有數。不及本位。）　宿食不消。惡寒氣滿。沉濡。氣怯自汗。</p>
<p>濡（輕輕而軟。按之若無。）　虛憊寒熱。痹弱羸怯。沉遲。虛寒痛冷。</p>
<p>牢（浮按有力。按之即無。）　著濕作腫。筋骨疼痛。沉實。瘀血癖積。</p>
<p>散（舉按下時。散而無力。）　淫邪脫泄。精血耗亡。沉微。榮衛耗亡。</p>
<p>革（沉伏實大。如按鼓皮。）　邪氣固結。真脫病危。沉（舉之不足。按之有餘。）　陰虛氣滯血凝。</p>

<h2>七表八里</h2>
<p>〔心左寸部脈〕浮。則風濕熱多疾。芤。吐血衄血。滑。氣滿吐逆。緊。頭痛腦疼。實。腦熱下痢。弦。胸滿氣痛。洪。數。熱悶。微。心腹寒痞。沉。氣滯多痰。緩。皮膚不仁。澀。榮衛不足。遲。上焦寒。伏。上焦有積。濡。虛怯少力多汗　陽弱。眾困力少。</p>
<p>〔肝左關部脈〕浮。則腹脹胃虛。芤。則四肢緩。滑。氣目痛。實。則下痢。弦。目痛。緊。腸疼筋痛。洪。胃中有積。微。胃寒氣痞。沉。則內病氣滯。緩。結腹內風。澀。血少目昏。遲。中焦寒痞。伏。中腕有積。濡。氣虛少力。弱。倦怠無力。</p>
<p>〔脾右關部脈〕浮。胃虛食不化。芤。腸中有瘀血。滑。胃逆不食。實。大小腸痢。弦。四肢拘急。緊。心脾疼。洪。氣滯難便。微。氣痞疾。沉。氣攻腰痛。緩。火脾毒風。澀。腹中逆冷腸鳴。遲。脾寒胃冷。伏。脾積氣痛。濡。脾虛。弱。為脾勞。</p>
<p>〔肺右寸部脈〕浮大。感風受寒。芤。胸中有血。滑。氣逆吐痰。實。則腸結。弦。身背拘急。緊。背膊痛。洪。氣滿大熱。微。氣少力困倦。沉。為不治。緩。肺風不足。澀。則肺風。遲。則肺寒。伏。肺冷痰積。濡。則肺氣滯下痢。弱。則虛勞。</p>
<p>〔腎右尺部脈〕浮。耳鳴便秘。芤。積血小便赤。滑。下痢澀小便赤。實。小便難。弦。腹急。緊。腹下痛。洪。小便難熱。微。小腹積氣。沉細。腹肺弱。緩。下焦風濕陰癢。澀。亦冷腹鳴。遲。下焦寒。伏。水穀不化。濡。發虛熱惡寒。弱。骨節痿靡。</p>

<h2>損至呼</h2>
<p>脈。一呼一至曰離經。二呼一至曰奪精。三呼一至名困。四呼一至曰命絕。</p>

<h2>別貴賤</h2>
<p>六脈輕清和滑者。姓名富貴壽康強。按之重濁兼粗澀。下賤愚蒙定不揚。</p>

<h2>肝為臟·膽為腑</h2>
<p>魂（象木。色青。春服。養筋。王候。絕秋。液泣。聲呼。音角。味酸。性喧。氣呼。不足悲。有餘怒。平脈弦。賊脈浮。臭膻。死於庚辛。）</p>

<h2>心為臟·腸為腑</h2>
<p>神（象火。色赤。王夏絕冬。候舌養血。液汗。聲唉。音徵。味苦。性暑。氣呵。不足憂。有餘唉。平脈洪。賊脈沉。臭焦。死於壬癸。）</p>

<h2>脾為臟·胃為腑</h2>
<p>意（象土。色黃。王季。絕春。候唇。養肉。液聲。涎歌。音宮。味甘。性靜。氣呼。不足利而少氣。有餘脹滿。平脈緩。賊脈弦。臭香。死於甲乙。）</p>

<h2>肺為臟·腸為腑</h2>
<p>魄（象金。色白。王秋。絕夏。液涕。聲皮毛。候鼻。聲哭。音商。味辛。性涼。氣呻。不足則悲。有餘喘嗽。平脈浮短。賊脈洪大。臭腥。死於丙丁。）</p>

<h2>腎為臟·膀胱為腑</h2>
<p>志（象水。色黑。王冬。絕季。候耳。養骨。液吐。聲呻。音羽。味鹽。性凜。氣吸。不足厥。有餘腸泄。）</p>
<p>命門與三焦同腎（王脈沉。賊脈緩。臭腐。死於戊己。）</p>

<h2>多至脈</h2>
<p>脈一呼再至曰平和。三至一曰離經。四至曰奪精。五至曰困。六至曰絕命。</p>

<h2>定二形</h2>
<p>寸口多弦尺小弦。如此方知一丈夫。尺中湧湧寸家怯。借問還如是一姑。</p>

<h2>明七診法</h2>
<p>一靜其心。二忌外慮。三均呼吸。四輕清於皮膚間。按其腑脈。五微重指於肌肉間。求其胃脈。六沉指於骨上。取其臟脈也。七察病人息數之來。或以獨遲獨疾等。為七診者非也。謂如以獨熱獨疾。為二脈者。疾乃六至脈。其疾其數。本自主熱。豈得獨疾獨熱為二候。遲脈本主寒。卻言獨寒獨遲為異體。全非義理。今以靈樞經中七診脈法。特為解注。所謂釋縛脫艱於後學者矣。忽左右手脈。大小有偏。男子左脈大。右脈小。則順。左脈小。右脈大。為逆。</p>
<p>春肝琴絃似動條。夏脈枝蔓逐風搖。春弦。夏長。</p>
<p>秋細風高黃葉落。冬緊只緣陽氣消。秋細。冬緊。</p>
<p>春心浮浮似羽毛。夏大看看日漸高。春浮。夏大。</p>
<p>秋洪遍野如流水。冬散還摧大墓牢。秋洪。冬散。</p>
<p>春脾初暖軟綿綿。夏遲櫻桃步向前。春緩。夏遲。</p>
<p>秋虛尺應泉下水。冬撒長流出九泉。秋虛。冬長。</p>
<p>春肺之脈正微微。夏短秋光火氣低。春微。夏短。</p>
<p>秋浮金色然舒豔。冬澀入墓也無疑。秋浮。冬澀。</p>
<p>春腎濡弱水性旋。夏滑波濤浪近川。春弱。夏滑。</p>
<p>九秋沉伏洞遲歇。十月黃河徹底堅。</p>
<p>忽左右手脈。大小有偏者。女子右脈大。左脈小。為順。右脈小。左脈大。為逆。脈如雀啄者（忽滴滴而不相連。）　如屋漏者。（忽起時如數多也。）　如蝦游者。（時復起尋如不沒。反又起也。）　如魚翔者。（如魚不行而掉尾。又身動而尾動。反又動入。）　如彈石者。（來去時壓壓而急也。）　如解索者。（動而數而隨散。次須卻結也。）</p>
<p>上見此六脈至十日死。</p>
<p>脈十動一止。一年。草枯時死。二十動一止。二年。桑椹赤時死。三十動一止。三年。穀雨時死。四十動一止。四年。春草盛時死。五十動一止。五年內死。若動數遇此脈者。安而壽長。無恙也。五十動不止者。為呼吸。為一息。肉得五至。閏以大息。生壽。</p>
<p>脈有氣血之光。氣血盛。則脈盛。氣血衰。則脈衰。氣血熱。則脈數。氣血寒。則脈遲。氣血散。則脈弱。氣血平。則脈緩。脈澀者。少血多氣。脈滑者。少氣多血。脈微細者。血氣俱少。脈盛大者。血盛氣反。但凡脈微不可吐。脈虛細者不可下人形盛脈細氣。少不足以息者。形瘦脈大。胸中多氣者死。形氣相得者生。三五不調者死。男子脈以弦長。和滑為本。由胃脈壯實。資生臟腑之脈氣。故壽無恙。如脈之來軟弱無力者。為虛脈。緊牢有力者。為實。出此為虛。入此為實。言者為虛。不言者為實。緩者為虛。急者為實。癢者為虛。痛者為實。外痛內快。為外實內虛。內痛外快者為內實外虛邪氣盛則實。精氣脫則虛。凡人之脈盛。皮熱腹脹。前後不通。悶瞀。此謂五實。脈細。皮寒氣少。泄痢前後。飲食不入。此謂五虛也。其五實五虛者。皆死候也。五實者。乃五臟之實也。五虛者。乃五臟之虛也。五實之所屬者。脈盛心也。皮熱。肺也。腹脹。脾也。前後不通。腎也。心悶瞀。肝也。五虛之所屬者。脈細。心也。皮寒。肺也。氣少。肝也。泄瀉前後。腎也。飲食不入。脾也。此五實五虛之證也。既惡時。有生者何。虛者漿粥入胃。泄住而痢止。則虛者活。實者身得汗。而胃膈寬。則實者生。平調病法也。</p>

<h2>診陰陽虛盛</h2>
<p>凡脈數脈遲者。數為熱。遲為寒。諸陽為熱。諸陰為寒。浮之損小。沉之實大。名曰陽虛陰盛。陽虛者。輕手按之浮而損小。陰盛者。重手按之。沉而實大。名曰陽虛陰盛也。沉之損小。浮之實大。名曰陽盛陰虛也。陽盛者。輕手按之實大。陰虛者。重手按之而反損小。故曰陽盛陰虛也。</p>

<h2>聽聲察脈</h2>
<p>聞而知之者。謂之聖。蓋五臟各有正聲。聲者。臟之音。中之守也。中盛則氣騰。中虛則氣弱。故脾應宮。其聲慢而緩大。肺應商。其聲促而清冷。肝應角。其聲悲而和雜。心應徵。其聲雄而清明。腎應羽。其聲長而細。此五臟之正聲。得守者生也。其聲促。是肺病。聲雄。是心病。聲慢。是脾病。聲悲。是肝病。聲沉。是腎病。聲長。是大腸病。聲短。是小腸病。聲遲。是胃病。聲清。是膽病。聲微。是膀胱病。聲悲。是肝脾二臟相剋聲速微細。是胃膀胱相剋聲輕。是虛聲細。是痢。聲粗。是風。聲短。是氣戰聲實。是秘瀉。澀聲灼。是內病。聲短遲是泄脫。聲如從實。中言者。氣之澀也。宮乃復言者。氣之奪。譫妄不避善惡。神之亂也。欲聲言意相續者。陰陽失守也。故失守者死。</p>
<p>望而知之謂之神。蓋五臟之色。視之則知其病之有無。五色者。氣之先也。其色赤。如綿裹硃砂者生。如頳者死。其色白。如白璧之澤者生。如堊者死。其色青。如蒼澤者生。如藍者死。其色黃。如綿裹雄黃者生。色如土者死。其色黑。如鴉羽者生。色如炭者死。五色昏欲先光彩榮潤者壽。皆不欲枯燥也其面色青者。冷氣作痛。青黑皆痛也。面色黃。是勞。赤是熱。白是脫血。黑是風。青白皆為寒。目若赤為熱。眼眯紅濕者。下虛上熱。睛黃是勞。目白是冷。病人心絕者。則面頳赤者。死在一日。肝絕則面如藍青色。眼眶陷入。死在三日。脾絕者。面黃如土。四肢腫起。九日死肺絕者。則面如白堊土。鼻入輸。三日死。腎絕者。則面色黧黑。痿黃兼卒。呻吟四日死。筋絕者。爪甲黑。八日死。脈絕四體張。唇青毛髮乾。五日死。骨絕者。齒如熱豆。一日死。凡腳跗腫。身體沉重。卒失尿溺。妄言錯亂。怒問屎臭。陰囊腫。口反張。爪甲黑。目直視。如此者皆死也。形之盛衰。得強者生失強者死。頭乃精明之府。頭傾視深。精神奪矣。背者。腦之府。背腫肩垂。形將壞矣。腰乃腎之府。轉搖不能。腎將憊矣。倉廩不藏者。胃氣不固也。水泉不禁者。膀胱不閉也。無非失強之不可療者。以表其形之衰憊矣。審形盛衰。診婦人雜病。與男子同。</p>

<h2>別識婦人脈式</h2>
<p>凡室女。六脈實健者。乃未事人也。脈如綿軟者。非室女也。婦人三十歲以前。尺脈微細者。血氣敗也。主血崩帶下。忽然尺脈洪大而數者。敗血或風勞。或關脈弦急者。主熱。當用涼藥和解安。凡寸脈洪大。尺脈微遲。是陰陽相反。四肢沉重。百節痠痛。背腰拘急。亦主血脈不調。宜補血則安。寸部脈洪浮滿指而數者。上熱唇腫。宣博血海安。心部血海脈反大。兩尺脈沉細而微。似有如無也。重大下脈。陽搗陰虛者。崩滑。輕肌大脈搏觸於人。而重按虛軟微弱者血崩。兩尺脈三兩息一至而微者。主墮胎也。忽然脈沉細者。乃漏胎也。血盡也。而胎損。左寸關兩脈大。而尺脈浮澀者。主血崩。脈沉而澀者。胎亦死也。如三部按之一息不至者。皆墮胎也。凡脈大而浮。洪者。有孕。脈見陰搏陽別者孕。謂輕按脈至深則別。近於下按之。搏觸人指逼逼近手。起指亦有力者。孕也。乃知陽施陰化。故法當有孕。大率少陰脈動甚者。孕也。謂少陰腎脈盛大。陽轉陰搏。別無而動甚者。名曰動。非九道脈云動也。蓋手少陰屬心主血。足少陰屬腎主精。曰精反會於其間乃主孕。若三部沉浮正等無病者亦孕。經云。脈動於產門者亦孕。謂法出尺脈外而動甚者。名曰動入產的也。謂諸陽為男。又左脈浮大是男。右尺脈疾數為女。左尺沉實為女。兩尺俱疾數者。雙胎也。兩尺俱浮大生兩男。兩尺俱沉實生兩女。又法令孕婦向前行。即於後呼。左回來者主男。右回來者主女也。妊孕脈法。並知日數。診關脈一動一止一月。二動一止兩月。滑疾者三月。疾而不散五月。四動一止。八個月也。診婦人孕脈緊弦者。易誕。</p>

<h2>神鏡玉櫃金經樞要</h2>
<p>診脈常以平旦陽脈未動。陰氣未散。飲食未進。經脈未盛。絡脈未調。血氣未絕。端坐正平。乃可診看有過之脈。若愴悴之病者。即不拘平旦也。故切脈動靜。而觀精神。察五色。視五臟有餘不足。六脈強弱。形之盛衰。以三五決死生之分。切謂診切以搏按切其脈也。動謂脈有燥。有動而不調者。或太過或不及也。動則為脈急也。靜謂依順本位。以應四時之和氣。無太過不及。靜守常脈而不病者也。精明者。診視病人左右目內皆明。明堂兩清。面部內或見五色。觀形切脈。皆謂之也。診視色脈者。五臟六腑血脈相應也。見青色肝脈應。見赤色心脈應。見黃色脾脈應。見黑色腎脈應。此色脈相應。然又察其病脈以相生者輕。而相剋者甚。脈亂氣見交泰者。死候也。是謂三五不調。色脈相交泰。推其病勢急者可知矣。蓋取五行之氣色相生也。木火土金水也。木生火。火生土也。相剋者金木土水火也。金剋木。木剋土。土剋水。水剋火。火剋金是也。蓋脈者血之府也。血實則脈實。血虛則脈虛。長則氣治。短則氣痛。數則煩心。大則病進。上盛則氣高。下盛則氣脹。代則血衰。細則氣少。澀則心痛。所謂長脈者。脈氣和滑而長。非謂太過而長。氣和滑而長者。乃和暢之氣也。依順四時旺氣而不病者也。長則氣治。而氣理氣治矣。短脈者氣痛也。脈短促於指下。正氣不長。故氣病也。數則煩心者。脈數疾而又多至也。煩熱者。火氣動應於心。故煩痛也。大則心脈洪數。乃脈散大。是心火燥動之氣。又加之脈大盛者。邪亦大盛故病進也。上盛則氣高者。人脈上盛邪氣益盛。故人氣喘病也。下盛則氣脹者。人脈下盛。邪氣亦下盛。故人腹脹氣滿也。代則氣衰者。代謂脈停待而脈方來也。脈強盛滿。大來氣甚。脈遲故曰氣衰。脈甚遲也。故氣衰脹滿。亦病進也。進則危甚矣。脈細則血少。脈來細小。氣亦細小也。故氣羸乏而亦細小也。澀則心痛者。脈澀而真氣不滑則於常經也。緩諸脈盡會於心。血氣澀滯。故心氣不足。則心痛矣脈之浮。芤。滑。實。弦。緊。洪者。皆病在表。屬陽也。主熱重。熱重者。盛為煩躁狂也。涼藥冷服則瘥。重手按切見陰脈。名陰中陽病。必先寒後熱。涼藥溫服則愈。更虛實補泄為準。脈之微。沉。緩。澀。遲。伏。濡。弱者。皆病在裡。屬陰脈也。重手按之陰脈也。名陰痛病。乃是中於陰寒多。則以溫藥熱服而瘥。若手切得陰脈者。名曰陽中陰病。必先熱而後寒。溫涼藥冷服而效。脈之洪。大。浮。數。緊。動。滑。實者。皆為陽脈。來之有力。則為陽實。無力則為陽虛。其沉細微澀遲伏。皆陰脈。來之有力則陰實。無力則陰虛。隨病候診之。實則瀉。虛則補。陰陽證候損益治之。寒熱治療。脈證表裡在陰陽。兼於兩寸口。左名人迎右名氣口。兼以候之。浮為在表。沉為在裡。數為在腑。遲為在臟。舉此人迎氣口。一經二部並過。但兼於此二處定之。稍浮沉遲數三部為則者。便定表裡冷熱也。左寸人迎。並至血脈之會榮血也右寸氣口。衛氣也。冷。熱。虛。實。沉。浮。依至數定之。治療萬全。凡人身血脈。循環晝夜不息。有如流水。流水得風寒。則水結而不流。人中風寒。則血脈結澀而不行。水中風熱。淖溢而受惡。血脈得風寒熱。亦過溢而不調。和風寒冷熱治療不同。切須詳審無失。繩墨無差者。治熱當以寒。治寒當以熱。乃正治之法。不失繩墨也。更新之意。更在詳思精察矣。診之理當端坐。聽候其氣正均平。乃可診之。凡人一呼。脈再至。一吸脈再至。謂將不病人之氣。應調此病人也。呼吸為一息。共得四至。是臟腑氣足。故合五九之數。四十五動。故一息之動間四至。乃平和之脈也。又須呼吸之間復一至者。名曰閏大之息。若合得五十度。陰陽方足。命曰呼吸五至。方得平和。又須不大不小。謂以應四時五氣。命曰脈氣俱無病也。今人受遠天真。可終百年。或有太小不均之息。是脈不和。是五臟亦不調矣。然署脈息浮沉定病。診之若及之者。又多於五至平和之脈。是難經之脈。謂難平和。本經脈氣之數。此即病脈。若診前大後小。則病人頭痛目痛眩。前小後大。則背短氣滿。中熱。遲則為寒。澀則中寒露冷氣。緊則風寒傷骨。滑則為痰。迎為消。沉為溫冷洞泄。緩為冷風之候遲為氣塞脹滿。浮為中風在表。伏則有水蓄聚。弦急為風熱所盛。則氣結於腸中。芤則失血下痢。洪大則陽熱伏留。令人躁悶。動亦氣血不利。微為氣血虛乏。實則氣滿心腹脹。以前脈證。若在寸口脈見。其病在上主胸膺心腸。若在尺中脈見。其病在下。主臍腹腰腳。但依寒。熱。虛。實。補。瀉。無不中效也。若脈未及七至。又多於少至。其病則甚。須用意治療。病防遷次。別有變動。緣五數既多。邪亦添深。故浮大晝加病。沉細夜加病甚。其候也若更及八至者。乃精氣消。神氣亂。必有散脫精神之候須切急治療。又加至九至十至者。雖返魂靈丹。亦難療矣。人生於地。懸命於天。人之性命。莫非天賦天數也。病候雖疾。脈至過多。且須度命。用心治之。恐是邪氣過盛。以滯天真。氣亂不調。未可輕生至死。不與之療。是為誤矣。如脈有九至以上。更加之懸絕者。如物之懸斷無根本。將何以生。脈溢如湧者。如泉湧出之狀。脈無入氣亦無來往之狀。亦乃天真盡而元氣絕也。故人氣亦絕矣。死矣。凡診脈先觀夫長短肥瘦。形氣相得者病。形氣損者危。而氣盡死矣。形氣既返。而脈又加之懸絕。形氣俱病。見者立死。故人長脈亦長。人短脈亦短。人肥脈亦厚。人瘦脈亦急。此形氣之相得也。脈之狀者。猶人之有眉眼耳口鼻也。但肥瘦長短妍醜之不同也。令脈息亦然。浮沉遲數亦值人之長短肥瘦。性之緩急。而合於人形。見於指下者順。反此者逆然人賴五行以生。而常為邪氣所攻。若非須有誤中他邪得病。易為治療。謂形氣相得。形氣不相得而反者。謂人長脈短之類。若得病必難拯治。此是人之氣候先病也。未病者。不久當病。必為近於死者。切須畏怠蹲節。和氣調神。匆更恣意不慎。轉耗天真。至於弗救。乃自取困順耳。凡脈順四時者。謂春弦夏洪。秋毛冬實。中有和氣。軟滑而長。乃是不病之人。縱病易為治療也。蓋從和氣而生也。用法方全。如氣反脈運。形氣相失者。乃不可治也。由形盛氣虛。形虛氣盛。故不可治也。凡人形氣俱病。安妥者。不過期而死。安妥謂飲食且進期。是八節之氣候診脈治病。必先看其人之肥瘦。以調氣之虛實。虛則補之。實則瀉之。故人形盛脈細。少氣不足者危者。近於死也。猶有可治之理也。氣不足而形盛故也。言形瘦脈大。胸中多氣者必死。是形氣俱不足。而脈反有餘。故死矣。其形氣相得者生。乃人形氣肥瘦長短。氣候相得故生也。三五不調者。病謂色脈交亂。而不調故也。上下寸關尺三部如參雜者。病甚也。三部脈左右手失。至不可數者死。是一呼一吸。脈來往十至以上。血生氣故死也。大凡診脈先斷四時之脈。辨取太過不及。虛實冷熱寒溫。至數損益。陰陽盛衰。五行相剋。臟腑所屬看之。以為大法。然後取其人之形神長短。氣候虛實盛衰。性氣高下。衣食老幼強弱。但順形神。四時五氣。氣候無過者生之本。及其形氣。與五行克者危。病若過盛。而形氣反逆克鬼賊脈。有懸絕者死不治矣。謂五虛五實。雖皆死證亦有生者何。蓋漿粥入胃。泄注止而虛者亂。身得汗出。大小便利則實者亂。此有生也。不可見虛實病重。不急救治致其死。有生氣者救之。三亂矣。大凡治病先看其病人之形肥瘦。候其氣之盛衰。實則瀉之。虛則補之。急瀉未利。急補緩補。皆疾病之緊慢。用法治之乃全矣。又經言先去血。然後調之去血者。緣人血脈為宗。主血既瘀滯氣。則不能流行。故必先去瘀血滯血。然後調和衛氣。若瘀血在經脈之中。必終脈有腫毒。獨異於常經也。便當先決去惡血。然後調逆滯之氣。無間大小新舊之病。以此為準。治之萬全矣。若血在經絡分內運動樞機斡旋之藥去之。如血在臟腑。須於大小便瀉泄去之。但血在上則忘者。病人言詐而多忘也。血在下則狂言。多急速者。便須調之。虛則鄭聲。實則誠言。鄭聲者。鄭重聲散。不知高下也。誠語者。以其言語誠而多往。言必誠之事也。上皆病之虛實。若發言而有熱。去血則用大黃地黃之類。若病既有寒。破去澀血。則用當歸水蛭之類治療速效矣且穩也。諸病之起。未有不因六氣也。七情所感寒。暑。溫。燥。熱。怒。悲。思。憂。恐。驚。內外邪正。致生百病。風寒暑濕炎涼。證候各異於常脈。邪血未入。血脈臟腑。皆可汗可瀉。可平可治。可吐可泄。可和可滲。可決可祛。若邪氣深。故腠理傳入六經。又加之用湯丸。其純墨治療無准。使大病又加傳注者。則病傳克則死。謂金木水火土相剋也。仍別將證候脈息看詳。切從深淺緩急標本輕重治之。若見急病邪氣。但從害命重處。先治之。更不問陰陽標本也。若體中有寒。則筋攣骨痛也。治之以溫。體中有熱。則痿緩不收。癱瘓少力。治之以涼。更在仔細詳之。凡人之初中病。便不如常者。則診視脈證形體。惡風者傷風。怯寒者病寒。脈之浮緊皆中風。寒在表則可汗之。宜用溫藥。五積散散之。小寒之邪乃可溫之。大寒之邪。可以熱之。理中丸之類主之小逆者。可以和之。但身惡熱者有熱。脈洪數浮大皆中熱也。從中風邪。更有輕重。如大小續命湯之類加減主之。熱在於表。熱之解之。宜用涼藥。小柴胡之類主之。小熱之邪可以涼之。大熱之邪。可以冷之。則用大柴胡之類。虛熱虛煩。竹茹湯溫膽湯之類補解之。或有逆者。可以橘皮人參生薑湯。涼溫藥。和之正之。如病證有寒熱。有傷於中。寒熱也。先寒者為先中寒傷於陽經。此乃陰邪在陽經之理也。寒氣盛。故先寒動也。先熱者。先中於熱。陽邪在表。故熱先發也。但從熱從寒。辨證診脈。表裡先後治之。若病人脈浮而緊盛。惡寒身體頭面痹。項強。四肢疼痛。腰腳皆疼。是太陽中邪。並可汗之。但脈緊實沉盛。或滯澀而頭甚疼。體不惡寒。皆可治里。仍虛實且泄調順。不拘於日數。當從急重而治也。宜詳之若表和里病。下之溫之便愈。里和表病。散之汗之立愈。但四肢溫和。只是頭疼心腹脹滿。脈又沉實或伏緩者。此是表和里滿。病不可下。須守待五日方瀉。緣其病在裡急。宜逐去邪氣。慮有變動。若出邪氣。病不即時而愈。如脈浮或壯熱。四肢煩痛。惡寒項強腰膝。此是表未和。里卻無滯。不可下。下之必危。急宜解表發汗。更依日數次第。看證候調治。必愈。脈或微不可吐脈虛細不可下。陰虛者其脈沉微。氣弱者不可發汗。倘不依證而妄行汗下者。醫殺之也。當和之平之自然得效。令中病者。初得可吐可汗。可攻可瀉。可平便愈。其有邪盛。或治療無准。漸傳固疾。則別證候。理之萬全。令再引五臟病症。記候調治之法也。不治損誤矣。經云。肝病者。兩脅下痛引小腹。令人善怒。肝氣實則怒病。重則目茫然無所見。耳無所聞。如人將捕而驚怖也。亦至喉嚨氣噎不利。前所論血。如血脈中。血滿獨異如常脈。診左右有血可先去惡瘀之血。（在上則忘。在下強也。）然後調氣脈矣。謂四時之脈。春肝合弦。弦多胃氣少曰病。但弦不長。胃氣絕曰死。蓋春弦脈。如平規之象也。（此語浮中沉三部也。使而體脈多者。蓋中按不足。骨氣少也。餘臟仿此而推之。）脈見病證應太過之脈。令人善怒。忽忽眩冒。癲疾也。乃頭也。怒則肝氣實也。不足者。謂不及中象也。又少如微弦之脈。卻減下也。故來氣不及於常也。令人胸痛引脅下。兩脅弦滿痛也。脅謂腋下連脅出。故肝病委脅也。夏心脈合洪。洪多胃氣少。曰病。洪無胃氣。曰死。心南方火也。王氣如鈞。按之鉤者。來疾而去。遲如中短之象。火氣王主心。夏應中矩和氣。洪大兼之滑利。其氣正中如矩之象也。太過者。不和氣也。過於本位洪大益盛。病在外。令人身熱而慮痼。為浸淫熱氣也不及者。脈不依中矩之象也。又卻減下其數。亦不洪數。其和氣不平正而少也。是來氣不及。令人短心也。上見嗽唾。不為氣泄。癖也。秋肺脈合毛。毛多胃氣少。曰病。但毛無胃氣。曰死。肺者。西方金也。其脈浮。胃輕毛軟虛。名曰浮而短。和平之氣也。其氣正中高下。如中衡之象也。正平象澀也。太過者。不和之氣也。益盛於浮。浮盛而強虛輕。里堅者。是浮過也。令人逆氣而背慍痛也。自背痛而慍慍氣溫也。不及者。應脈見輕虛而毛。又不減於常脈也。按之不應中衡之象。而輕虛也。氣虛故為氣弱也。人病喘而呼吸。少氣而嗽上氣。肺中聲鳴也。冬脈者。腎也冬腎。合沉沉多胃氣少。曰病。但沉無胃氣。曰死。蓋腎乃北方水也。冬之王氣也。其脈應中權之象。權者。秤錘也。遠於衡近於下也。沉者如石沉下。是和平而調氣也。大過者。陽來以緊而不沉。又不象中權而沉營也。故此是不和之氣。過甚也。令人解㑊（㑊音亦。素問尺脈緩澀謂之解㑊。又病名。善食而瘦謂之食㑊。）脊脈痛。而少氣不欲言也。解㑊者。四肢骨節疼痛。酸楚而難忍也不及者。其脈更沉下。不如中權。是不和之氣也。令人病心懸。肋中清。骨中痛小腹滿。小便戀懸病者心愁。如飢飢。如拘懸。（如心肋中清者。季肋近外空軟而動之處。當眇少。故肋中脊合。兩肋虛。即中痛。）四時之王位。太過不及。病證脈候。在脾則為中央土也。寄王於四季王灌四傍。常於四季旺氣同行。於旺和之和氣。則不見太過不及也。脾為孤臟。獨主四旁。如是病氣。乃是脾盛。無病則脈不見形也。其脈來如水之流者。謂太過也。四季偏見。此氣遲不如常經也。其病四肢不舉。謂脾旺四肢也。不及者。如鳴之此為脾氣不及。令人病九竅不通。名曰重強。病見五臟不和。故九竅不利也。其里強者。氣重迭也。此立四時五氣。並脾土。共五脈。外應旺氣。太過不及。其五色精明。見輕病少。見重者病。大故也。脈交色亂。大小不定。至數躍者危。至數亂交者上如湧泉。下懸絕者。脈漸浮削。浮沉皆微者。無胃氣亦死。皆病候之由。診療之法。當明此機樞之大要。至哉勿誤。神鏡玉櫃經終。</p>

<h2>癸丑運氣</h2>
<p>太陰濕土司天。太陽寒水在泉。中見少微。大運歲火不及氣化運化。後天。太陰在上左少陽。右少陰。故地氣上騰。陰專其政。其政肅太陽在下。左厥陰。石陽明。故天氣下降。陽氣退闢。其令寂。大風時起。原野昏露。白埃四起。云奔南極。寒雨數至物成於差。夏濕寒合德。黃黑埃昏。流行氣交。上應鎮星。其谷黅玄。用谷命大角之皷。寒化雨化勝復同。是謂和氣化度也。陰凝於上寒積於下。水勝火則為冰雹。陽光不治。殺氣乃行。裸蟲靜。鱗蟲育。是為歲物所宜羽蟲耗。熱毒不生。是謂地氣所制。有餘宜高。不及宜下。有餘宜晚。不及宜早。有餘吐之。利氣之化也。民病亦從之。其病寒溫腹滿。身慎憤肘腫。病逆寒厥拘急。是歲濕土在上寒水在下。土能制水。天氣盈。地氣虛。宜取化源。以平土氣。益氣歲氣。無使邪食黅黃之谷。以令其食間氣之谷。以保其精。歲宜以苦燥之濕之。甚者嚴之泄之。不發不泄。則濕氣外溢內漬。皮拆而水血交流。必贊其陽火令御。其寒運異寒濕燥濕熱宜少。故藥食之。宜其化上。若濕中寒溫。下熱。</p>
<p>〔初之氣〕自壬子年大寒日巳初。至是歲春分日卯初。凡六十日八十七刻。半主位火。角水火運行風不得位。地氣遷寒。乃去春氣正風乃來。生布萬物以榮。民氣條舒。風濕血溢。經絡拘強。關節不利。身重筋痿。宜調厥陰之客。以辛補之理中湯四逆湯。以酸瀉之。（大柴胡湯之類）以甘緩之。（桂。苓。甘露。竹葉。石膏湯之類是也。）歲谷宜黅。間谷宜稻。〔二之氣〕自春分日卯正。至小滿日醜正凡六十日有奇。主位少微。火客氣。少陽火中居其位。下司氣化是謂灼化火。火正物承化。民乃和。其病濕屬盛行。以咸補之。（五苓散也。）以甘瀉之。（白虎湯。益元散之類。）以酸收之。（建中湯之類。）歲谷宜黅。間谷宜豆。則熱氣不能為害。〔三之氣〕自小滿日寅初。至大暑日子初。凡六十日有奇。主少微火客。氣火絕中。土見火運。歲火當位。濕化郁之。天政而濕降。地氣騰滿雨。其時降寒乃隨之。感於寒濕。則民病身重。肘胸腹滿。宜治太陰之客。以甘補之。（四君子。桂枝甘露之類。）以苦瀉之。（大柴胡。大小承氣之類）以甘緩之。（平胃散之類。）歲谷宜黅。間谷宜麻。則濕氣不能為害。〔四之氣〕自大暑子正。至秋分日戌正。凡六十日有奇。主位大宮土。客氣少陽火。中見火運。氣與運同位。火臨溽蒸。化地氣。騰天氣。痞膈客氣。晚暮蒸熱。相搏。草木凝煙。濕化下流。則白露陰布。以成秋令。民病腠理熱。血暴溢瘧。心腹滿熱虛脹。甚則肘腫。宜治少陽之客。以咸補之。（五苓散之類。）歲谷宜黅。間谷宜宣。則火氣不能為害。是氣也無犯司氣之熱。〔五之氣〕自秋分亥初。至小雪日酉初。凡六十日有奇主位少商金。客氣陽明。金中見火。運氣與位同。燥令已隨行。寒露下。霜乃早降。草木黃落。寒風及體。君子周密。民病皮腠。以調陽明之客。以酸補之。（平胃建中湯之類。）以辛瀉之。（麻黃湯。川芎石膏湯之類。）以苦瀉之。（神芎丸。桔梗枳實湯之類。）歲谷宜黅。間谷宜禾黍。則燥氣不能為害。〔終之氣〕自小雪日酉正至大寒日未初。凡六十日有奇。主位大羽水。客氣太陽。水中見火運。永當其位。而能勝火。寒火舉。濕火化霜乃積。陰乃凝冰。陽光不治。感於寒。則病人關節同。腰腳痛。寒濕持於氣交而為疾也。宜調太陽之客。以苦補之。（黃連解毒湯之類。）以苦堅之。（大小柴胡湯。大小承氣湯之類。）以咸瀉之。（涼隔散。通聖散之類。）以辛潤之。（小青龍湯。五積散之類。）歲谷宜黅。間谷宜稷。則寒氣不能為害。</p>
<p>此六節之氣。其氣交之化。天氣盛者。則為厥陰之復。地氣盛者。則為太陰之復。各以其法治之。</p>
<p>逐年病日是司天。前進三辰為在泉。陽前陰後加人命。順到司天起病源。</p>
<p>子午少陰君火心。丑未脾土太陰存。寅申相火少陽位。卯酉陽明只是金。</p>
<p>辰戌太陽居水位。巳亥肝木足厥陰。醫師若會如此例。便是神仙生世塵。</p>
<p>日月治鈐上太陽。日七月六各分張。便有日千看日月。以此相隨作雁行。</p>
<p>甲日為頭乙為二。丙三丁四請參詳。以上規模皆效此。便知幾證可尋方。</p>
<p>貪巨祿文廉武破。六十七證屬中央。震離兌坎五十九。次第分為下太陽。</p>
<p>陽明卯酉屬金水。四十四法五行藏。若屬少陽只一證。太陰三證母身傍。</p>
<p>天地人分少陰證。□□□□□□□乾坤厥陰十九證。霍亂大證守心王。</p>
<p>日辰月巳太陽光。貪巳巨午祿至未。文申康酉武為戌。破軍亥上正相當。</p>
<p>亥巽胸兌坎寅地。東方卯上居痓鄉。陽明卯酉木先數。火龍土巳金馬鄉。</p>
<p>水位法方四十四。若至申中霍亂方。寅為勞復陽明證。少陰四號沒底傍。</p>
<p>醜寅卯辰第一證。巳午未申第二章。酉戌亥子第一證。太陰為母合三堂。</p>
<p>子醜寅卯天字號。辰巳午未是人良。申酉戌亥傳於地。少陰病證話行藏。</p>
<p>亥上起乾厥陰證。至辰六位可推詳。巳上起坤至於戌。乾十坤九不須張。</p>
<p>仲景卻來多少證。二百二十零三章。法分三百九十七。藥有一百十二方。</p>
<p>內有五丸並八散。除卻十一俱是陽。陽證一百一十六。陰病五十七篇章。</p>
<p>曉得陰陽活法例。為醫天下自名揚。</p>

<h2>靈樞經內分出節要</h2>
<p>樞機運轉。可兆生死。</p>
<p>注曰。脾胃者。是關格。亦號樞機也。故脾者。運水穀。滋榮四肢。胃者受納水穀。運行百脈。流注於人迎氣口。三脈周流。十二經而復大會於胃也。乃脾胃之脈絕與不絕。則可以明其吉凶死生之兆矣。</p>
<p>春土氣之絕者。三年仲秋之日死。</p>
<p>注曰。春脈不見長。只見弦緊者。土氣衰。而胃脈將絕也。應肝屬木。生數三。故得三年。至仲秋金旺應時。其人必死。何也。其病肝之疾形見左脅下。自仲秋間。金氣旺動。至秋加嘔逆。至秋變喘息氣厥。至仲秋金氣旺。木氣絕。故知死。</p>
<p>夏土氣之絕者。二年仲冬之日死。</p>
<p>注曰夏脈不見大。只見浮洪者。土氣衰。而胃將絕也。應在心屬火。生數二。故得二年。仲冬水旺應時。其人必死。何也。其病心之積形。見心脅間。自仲夏間動。至秋加喘息氣急。至仲冬水氣旺。火氣滅。又土氣絕。故知死。</p>
<p>秋土氣之絕者。四年仲夏之日死。</p>
<p>注曰。秋脈不見細。只見毛澀者。土氣變而胃脈將絕也。應肺屬金。生數四。故得四年。至仲夏火旺應時。其人必死。何也。其病肺之積形。見右脅下。自仲秋間動。至仲夏間變。腹虛鳴喘逆嘔吐。至仲夏火氣旺。金氣消。又土氣絕。故主死也。</p>
<p>冬土氣之絕者。一年仲夏之日死。</p>
<p>注曰。冬脈不見弱。只見沉滑者。土氣衰。而胃脈將絕也。應在腎為水。生數一。故得一年。至仲夏土旺應時。其人必死。何也。其腎積形。見在右脅後脊膂之間。動無定位自仲夏間動。至春和喘呼氣逆。小腹脹滿。夜夢鬼交。至仲夏土氣旺。水氣涸。又土氣先絕。是故死也。</p>
<p>土寄旺於四季。至四仲而氣先勝。</p>
<p>注曰。土氣正位。寄旺四季。故每至四季之月。土氣先勝胃。金木水火不可無土也。土寄中央。以濕土之氣。滋榮萬物。故有四時之旺。九天呈上。帝所居之位也。凡胃脈絕。而返應於仲夏死。何也。謂胃之勝土。居高位而剋水也。土主胃脈。當絕於冬。若仲冬之時。弱脈不見。至仲夏之時。火土相應子母同居。故至仲夏之時。土勝水絕。故知必死也。</p>
<p>春脈弦緊而毛。返見八緩而止者。九日死。</p>
<p>注曰。春脈應弦緊而長。不見長而見毛者。胃氣將絕也。返見八緩而止者。至九日當死。何也。八者木數。九者金數。肝氣自勝。胃氣將絕。金又勝木。故九日死。</p>
<p>夏脈浮洪而滑。返見七澀而止者。六日死。</p>
<p>注曰。夏脈浮洪而大。不見大而見滑者。胃氣將絕也。返見七澀而止者。至六日當死。何也七者火數。六者水數也。心氣自盛。胃氣將絕也。水又勝火。故至六日死。</p>
<p>秋脈毛澀而鉤。返見九細而止者。七日死。</p>
<p>注曰。秋脈應毛澀而細。不見細而見鉤者。胃氣將絕也。返見九細而止者。七日當死。何也。九者。金數也。七者。火數也肺氣自盛胃氣將絕。火又勝金故七日死。</p>
<p>冬脈浮滑而緩。返見六洪而止者。五日死。</p>
<p>注曰。冬脈應沉滑而弱。不見弱不見緩者。胃氣將絕也。返見六洪而止者。五日當死。何也。六者永數也。五者土數也。腎氣自盛。胃氣將絕也。土又勝水。故五日死。</p>
<p>病應四時。不見胃脈者不治。</p>
<p>注曰。凡十二經。十五絡。八脈受客邪而生諸病。若應四時不見胃脈。土氣絕。則無生氣。當死。春弦緊而不長。夏浮洪而不大。秋毛澀而不細。冬沉滑而不弱。此四時不見胃氣之脈也。病者必死。故人以胃氣為百脈之主也。</p>
