<header data-type="book">
<h1>經脈圖考</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳惠疇</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>天地，萬物之橐也。育陽無計量者，天之為天乎！化生無法崖者，地之為地乎！然虛滿離合，流化遍所，其神固妙於莫窮，其體實貞於不變。故圓而無端者，天也；而推以九野之法，凡日星之垂象者，天之大體可知矣。廣而無極者，地也；而循以兩界之說，凡河嶽之成形者，地之大體可識矣。暨之，天左舒而起牽牛，地右闢而起畢昂，東西南朔，經緯燦然，而天地之體畢彰。惟天因人，惟人象天，人身一小天地也。欲習岐黃者，是又烏可不詳？予幼攻制舉，潦倒名場，迄無成就，遂決然捨去，肆力於醫。夫醫之為道，非徒鞭治百草也。人受天地之中以生，太和蘊釀，實與同體。天有四時五行，人有四肢五臟。和而為雨，怒而為風，凝而為霜雪，張而為虹霓，此天地之常數也。呼吸吐納，精氣貫通，流而為營衛，彰而為氣色，發而為聲音，此人之常數也，五緯盈縮，星辰錯行，日月薄蝕，孛彗飛流，天地之危沴也。寒暑不時，天地之蒸否也。石立土踴，天地之贅瘤也。山崩土陷，天地之癰疽也。奔風暴雨，天地之喘乏也。川瀆竭涸，天地之枯焦也。惟人亦然。蒸則生熱，否則生寒，結而為贅瘤，陷而為癰疽，奔而為喘乏，竭而為枯焦。且形見於外，而沴實發於內。蓋至乖戾而有疾，則必有其得疾之處。苟昧其處，而妄加調劑，是猶以水投石，抱薪救火，無惑乎方之不靈而病之益憊也。予業此有年，今老矣。雖乏生枯起朽之術，竊謂治病者，必列別臟腑，端絡經脈，周身部節，不爽毫釐，乃能由外達內，窮及根蒡，得其受病之由，而施其補救之術。因留心古籍，參考會通，明發前哲，辨其訛謬，圖而正之，書成曰《經脈圖考》。庶權度規矩，不迷所設，而芸芸眾生，即以同登仁壽也。夫天地有疾，聖人正之以至德，輔之以人事。人有疾，良醫導之以藥石，救之以針灸。固欲培其元善之氣，而葆其太和之體也。昔管子之言曰：人能正靜，皮膚寬裕，耳目聰明，筋伸而骨堅，始足戴大圓而履大方。是則予管窺蠡測之意也夫！</p>
<p><u>陳惠疇壽田氏撰</u></p>

<h1>凡例</h1>
<p>一經脈為醫學之首務，而內景為尤切。何者？洞垣窺藏之技，世不再睹，欲窺其臟，探其腑，必藉圖摸索。故書以內景賦居前，而圖居後，兼且考定差訛，合其經旨，使學者熟讀其賦，繼玩其圖，然後深求乎《靈》、《素》之臟象陰陽，豈不彰明較著，毫髮無遺也哉！</p>
<p>一銅人骨度、經脈，氣穴，前賢已有圖而言之者，惜乎其略而不詳，惟介賓暨我朝御定《醫宗金鑑》悉而言之，又皆散在針刺門，而學者以針刺為失傳，多置而不察。不知百病之生也，始於皮膚，傳舍於絡，傳舍於經，傳舍於腧，傳舍於伏沖之脈。《經》曰：治病必求其本者，十二經脈也。十二經脈，又本之於軀殼腔子。軀殼腔子又皮有分部，脈有經紀，筋有結絡，骨有度量，其所生病各異。別其分部，左右上下，陰陽所在，而病之終始得矣。何可置而不察哉？今頗深思研慮，考正營行次序，穴屬尺寸、起止，匯為四卷，以示初學入門之首務焉。</p>
<p>一奇經八脈，固為正經流溢之氣。然內溫臟腑，外濡腠理，無一不相隨於上下。苟不分圖別類，何能得其旨趣？李時珍闡其蘊奧，非不獨開生面，但其中所言帶脈、陰蹺、陽維三脈，俱有差失，用是裒合《內經》及諸名家，釐正舛錯，分圖立說，非敢師心自用，原俾循經者如明鏡之鑑物，無一不照故也。</p>
<p>一經脈營行，雖有圖分縷晰，而會合周環，殊難了了。再於諸經分晰部位，核其各經之循於頭者，會通頭部，循行面目、頸項、耳口、唇舌、胸脅、背腹，手肘、足膝諸部，至於溪谷、左右四關、四末、十二原，以及臟腑腧屬，無不畢備，可為頂門之針。</p>

<h1>卷一</h1>

<h2>內景賦</h2>
<p>嘗計夫人生根本兮，由乎元氣。表裡陰陽兮，升降沉浮。出入運行兮，周而復始。神機氣立兮，生化無休。經絡兮，行乎肌表；臟腑兮，通乎咽喉。喉在前，其形堅健；咽在後，其質和柔。喉通呼吸之氣，氣行五臟；咽為飲食之道，六腑源頭。氣食兮何能不亂，主宰者會厭分流。從此兮下咽入膈，臟腑兮陰陽不侔。五臟者，肺為華蓋而上連喉管；肺之下，心包所護而君主可求。此即膻中，宗氣所從，膈膜周蔽，清虛上宮。脾居膈下，中州胃同，膜連胃左，運化乃功。肝葉障於脾後，膽腑附於葉東。兩腎又居脊下，腰間有脈相通，主閉蟄封藏之本，為二陰天一之宗。此屬喉之前竅，精神須賴氣充。又如六腑，陽明胃先。熟腐水穀，胃脘通咽。上口稱為賁門，穀氣從而散宣。輸脾經而達肺，誠臟腑之大源。歷幽門之下口，聯小腸而盤旋。再小腸之下際，有闌門者在焉。此泌別之關隘，分清濁於後前。大腸接其右，導渣穢於大便；膀胱無上竅，由滲泄而通泉。羨二陰之和暢，皆氣化之自然。再詳夫臟腑略備，三焦未宣。號孤獨之腑，擅總司之權。體三才而定位，法六合而象天。上焦如霧兮，靄氤氳之天氣。中焦如漚兮，化營血之新鮮。下焦如瀆兮，主宣通乎壅滯。此所以上焦主內而不出，下焦主出而如川。又總諸臟之所居，隔高低之非類，求脈氣之往來，果何如而相濟，以心主之為君，朝諸經之維繫。是故怒動於心，肝從而熾，欲念方萌，腎經精沸。構難釋之苦思，枯脾中之生意，肺脈澀而氣沉，為悲憂於心內。惟脈絡有以相通，故氣得從心而至。雖諸臟之歸心，實上系之聯肺。肺氣何生，根從脾胃。賴水穀於敖倉，化精微而為氣，氣旺則精盈，精盈則氣盛。此是化源根，坎里藏真命。雖內景之緣由，尚根苗之當究。既云兩腎之前，又曰膀胱之後，出大腸之上左，居小腸之下右，其中果何所藏，蓄坎離之交姤。為生氣之海，為元陽之竇，闢精血於子宮，司人生之夭壽，稱命門者是也，號天根者非謬。使能知地下有雷聲，方悟得春光彌宇宙。</p>

<h2>內景圖</h2>
<p>（心系七節。七節之傍，中有小心，以腎系十四椎下，由下而上，亦七節也。</p>
<p>舊圖有精道循脊背、過肛門者，甚屬非理，而且無子宮命門之象，皆大失也，今改正之。）</p>

<h2>唇口喉舌腸胃尺寸數</h2>
<p>唇至齒長九分。齒至會厭深三寸半，大容五合。舌重十兩，長七寸，廣二寸半。咽門重十兩，廣二寸半，至胃長一尺六寸。（《難經》曰：重十二兩。）喉嚨，《難經》曰：重十二兩，廣二寸，長一尺二寸，計九節。腸胃，自胃至腸總長五丈八尺四寸，受水穀九斗二升一合，合之大半。自唇所入至肛門所出，共長六丈四寸四分，小大回腸共三十二曲。（上義俱出《腸胃篇》）</p>

<h2>考正內景圖說（壽田）</h2>
<figure>
<img alt="內景圖">
</figure>
<p>張介賓先生改正精道由命門而出於莖端，其理甚屬明顯，有補大造。但於喉咽二門分為二歧，不相依副，未免有失。夫唇口到喉咽處，通為一道，至呼氣吸食所始，分二門，喉門有會厭為之主宰，故氣食不亂。今改一大圈象，通口一道又分二小門，前為會厭門，後為吸食門，合於喉在前，咽在後之旨，豈不喉咽相為附著。再胃之下口名幽門，即小腸上口。《經》云：小腸後附於脊，前附於臍上。又云：小腸上口，在臍上二寸近脊。既云近脊，則幽門當在近脊之處。小腸下際，號曰闌門，即大腸上口。《經》云：迴腸當臍，廣腸附脊。由此而觀，則闌門必定近臍，附於膀胱之上，始與秘別清濁之意相合。而舊圖幽門近臍，闌門附脊，位置有乖，經旨不合。茲遵經旨改正，幽門附脊，闌門近臍，不知有當醫門之考覈否也。</p>

<h2>仰人骨度部位圖</h2>
<figure>
<img alt="仰人骨度部位圖">
</figure>

<h2>伏人骨度部位圖</h2>
<figure>
<img alt="伏人骨度部位圖">
</figure>

<h2>周身骨部名目</h2>
<p>巔：頂巔也。腦：頭中髓也。囟：音信，腦蓋骨也。嬰兒骨未合，軟而跳動之處，謂之囟門是也。額顱：顱前為髮際，髮際前為額顱。顏：額上曰顏。《說文》曰：眉目之間也。頞：音遏，鼻梁，亦名下極，即山根也。䪼：音拙，目下為䪼。顳顬：顳，柔涉切。顬，音儒。耳前動處，蓋即俗所云兩太陽也。一曰鬢骨。顑：音坎，又海敢切。《釋義》曰：飢而面黃。與經義未合。詳見《經絡類》部分。頄：音求，顴頰間骨。頰：耳下曲處為頰。頤：音移，頷中為頤。頷：何敢切。腮下也。虎頭燕頷義即此。目系：目內深處脈也。目內眥：目內角也。目銳眥：目外角也。人中：唇之上、鼻之下也。齒牙：前小者曰齒，後大者曰牙。舌本：舌根也。咽：所以通飲食，居喉之後。喉：所以通呼吸，居咽之前。嗌：音益，喉也。會厭：在喉間，為音聲啟閉之戶。肺系：喉嚨也。頏顙：頏音杭，又上去二聲。顙，思嘗切。咽顙也。頸項：頭莖之側曰頸，頭莖之後為項。又腦後曰項。天柱骨：肩骨上際，頸骨之根也。肩解：膂上兩角為肩解。肩胛：胛，音甲，肩解下成片骨也。亦名肩膊。巨骨：膺上橫骨。膺：音英，胸前為膺。一曰胸兩旁高處為膺。胸中：兩乳之間也，膈：膈膜也。膈上為宗氣之所聚，是為膻中。腋：脅之上際。腹：臍之上下皆曰腹，臍下為少腹。季脅：脅下小肋。胠：區去二音，腋之下、脅之上也。鳩尾：蔽心骨也。𩩲骬：音結於，即鳩尾別名。眇中：眇，音秒，季脅下兩旁空軟處也。脊骨：脊，音即，椎骨也。胂：音申，膂內曰胂，夾脊肉也。膂：同呂，脊骨曰呂，象形也。又曰：夾脊兩旁肉也。髃骨：髃，音魚，端也。肩端之骨。腰骨：尻上橫骨也。腰髁：髁，苦瓦切，中原雅音作去聲，即腰髃骨，自十六椎而下，俠脊附著之處也。毛際：曲骨兩旁為毛際，其動脈即足陽明之氣衝也。睪：音高，陰丸也。篡：初貫切，屏翳兩筋間為篡，篡內深處為下極。下極：兩陰之間，屏翳處也。即會陰穴。臀：音屯，機後為臀，尻旁大肉也。機：挾腰髓骨兩旁為機。髖：音寬，尻臀也，一曰兩股間也。尻：開高切，尾骶骨也，亦名窮骨。肛：音工，又好綱切，俗作綱大腸門也。臑：儒、軟二音，又奴刀切，肩膊下內側對腋處，高起白肉也。肘：手臂中節也。一曰自曲池以上為肘。臂：肘之上下皆名為臂，一曰自曲池以下為臂。腕：臂掌之交也。兌骨：手外踝也。寸口：關前後兩手動脈處皆曰寸口。關：手掌後動脈高骨處曰關。魚際：在手腕之前，其肥肉隆起處，形如魚者，統謂之魚。寸之前，魚之後曰魚際穴。大指次指：謂大指之次指，即食指也，足亦同。小指次指：小指之次指，即無名指也。足同。髀：比、婢二音，股也。一曰股骨。髀關：伏兔上交絞處曰髀關。髀厭：捷骨之下為髀厭，即髀樞中也。髀樞：捷骨之下，髀之上曰髀樞。當環跳穴。股：大腿也。伏兔：骸前膝上起肉處曰伏兔。臏：頻、牝二音，膝蓋骨也。膕：音國，膝後曲處曰膕。輔骨：膝下內外側大骨也。成骨：膝外廉之骨獨起者。腨：音篆，一名腓腸，下腿肚也。腓腸：腓，音肥，足肚也。胻骨：胻，音杭，又形敬切，足脛骨也。骭：音干，足脛骨也。脛：形景、形敬二切，足莖骨也。絕骨：外踝上尖骨曰絕骨。㿉：劬允切，筋肉結聚之處也，直音云腸中脂。王氏曰：肘膝後肉如塊者。踝骨：踝，胡寡切，足跗後兩旁圓骨。內曰內踝，外曰外踝。俗名孤拐骨。手腕兩旁圓骨，亦名踝骨。跗：附、敷二音，足面也。內筋：內踝上大筋、在太陰後，上踝二寸所。足岐骨：大指本節後曰岐骨。跟音根骨：足根也。覈骨：覈，亥陌切，又胡骨、亥不二切，一作核骨，足大指本節後內側圓骨也。踵：足跟也。踹：音煅，足跟也，本經與通用。臚：閭、盧二音，皮也。一曰腹前曰臚。三毛：足大指爪甲後為三毛，毛後橫紋為聚毛。</p>

<h2>骨度</h2>
<p>（下文皆《骨度篇》古數，然骨之大者則太過，小者則不及，此亦言其則耳）</p>

<h3>頭部</h3>
<p>頭之大骨，圍二尺六寸。</p>
<p>發所覆者，顱至項一尺二寸。（顱，額顱。覆者，言前髮際至後項髮際也。）</p>
<p>發以下至頤長一尺。（頷中為頤。頷，腮也。）</p>
<p>兩顴相去七寸，角以下至柱骨長一尺。（耳上側旁曰角，肩胛上際頸根曰柱骨。）</p>
<p>耳前當耳門者，廣一尺三寸。</p>
<p>耳後當完骨者，廣九寸。（完骨，耳後髮際高骨也。）</p>
<p>項發以下至背骨長三寸半。（自後髮際以至大椎項骨三節處也。）</p>
<p>頭部折法：以前髮際折後髮際為一尺二寸。如髮際不明，則取眉心直上，後至大杼骨，折作一尺八寸，此為直寸。橫寸法：以眼內角至外角，比為一寸，頭部橫直寸法並依此。</p>
<p>督脈神庭至太陽曲差，曲差至少陽本神，本神至陽明頭維，各開一寸半，自神庭至頭維共開四寸半。</p>

<h3>胸腹部</h3>
<p>結喉以下至缺盆中長四寸。（此以巨骨上陷中而言，即天突穴處。）</p>
<p>缺盆以下至𩩲骬之中長九寸。</p>
<p>𩩲骬中至天樞長八寸。（天樞，足陽明穴名，在臍旁，此指平臍而言。）</p>
<p>天樞以下至橫骨長六寸半，橫骨橫長六寸半。（毛際下骨曰橫骨。按：此古數以今用，上下穴參，較多有未合，宜從後胸腹折法為當。）</p>
<p>胸圍四尺五寸。腰圍四尺二寸。兩乳之間廣九寸半（當折八寸為當）。兩髀之間廣六寸半。（此當兩股之中，橫骨兩頭之處，俗名髀縫。）</p>
<p>胸腹折法：直寸以中行為三，自缺盆中天突穴起，至歧骨際上中庭穴止，折作八寸四分。自𩩲骬上歧骨際下，至臍心，折作八寸。臍心下至毛際曲骨穴，折作五寸。橫寸以兩乳相去，折作八寸。胸腹橫直寸法並依此。</p>

<h3>背部</h3>
<p>膂骨以下至尾骶二十一節，長三尺。（膂骨，脊骨也。脊骨外小而內巨，人之所能負任者，以是骨之巨也。脊骨二十四節，今云二十一節者，除項骨三節不在內。尾骶骨，男子者尖，女人者平。）</p>
<p>背部折法：自大椎至尾骶，通折三尺。上七節各長一寸四分一釐，共九寸八分七釐。中七節各一寸六分一釐，共一尺一寸二分七釐。第十四節與臍平。下七節各一寸二分六釐，共八寸八分二釐。總共二尺九寸九分六釐。不足四釐者，有零未盡也。直寸依此。橫寸用中指同身寸法。</p>
<p>脊骨內闊一寸，凡云第二行夾脊一寸半，三行夾脊三寸者，皆除脊一寸外，淨以寸半、三寸論。故在二行當為二寸，在三行當為三寸半。</p>

<h3>側部</h3>
<p>自柱骨下行腋中不見者，長四寸。（柱骨，頸項根骨也。）</p>
<p>腋以下至季脅長一尺二寸。（季脅，小肋也。）季脅以下至髀樞長六寸。（大腿曰股，股上曰髀。捷骨之下、大股之上，兩骨合縫之所曰髀樞。當足少陽環跳穴處也。）髀樞下至膝中長一尺九寸。</p>

<h3>四肢部</h3>
<p>肩至肘長一尺七寸。肘至腕長一尺二寸半。（臂之中節曰肘。）腕至中指本節長四寸。（臂掌之交曰腕。）本節至其末長四寸半。（指之後節曰本節。）</p>
<p>橫骨上廉下至內輔之上廉，長一尺八寸。（骨際曰廉。膝旁之骨突出者曰輔骨。內曰內輔，外曰外輔。）內輔之上廉以下至下廉，長三寸半。（上廉、下廉，可摸而得。）內輔下廉下至內踝，長一尺六寸。（踝骨義見前。）內踝以下至地，長三寸。膝以下至外踝，長一尺六寸。外踝以下至京骨，長三寸。京骨以下至地長一寸。膝膕以下至跗屬，長一尺二寸。（膕，腿彎也。跗，足面也。膝在前，膕在後。跗屬者，凡兩踝前後脛掌所交之處，皆為跗之屬也。）跗屬以下至地長三寸。足長一尺二寸，廣四寸半。</p>
<p>手足折量：並用後中指同身寸法。</p>

<h2>同身寸法說</h2>
<p>同身寸者，謂同於人身之尺寸也。人之長短肥瘦，各自不同，而穴之橫直尺寸，亦不能一。如今以中指同身寸法一概混用，則人瘦而指長，人肥而指短，豈不謬誤。故必因其形而取之，方得其當。如《標本賦》曰：取五穴用一穴而必端，取三經用一經而可正。蓋謂並鄰經而正一經，聯鄰穴而正一穴。譬之切字之法，上用一音，下用一韻，而夾其聲於中，則其經穴之情，自無所遁矣。故頭必因於頭，腹必因於腹，背必因於背，手足必因於手足，總其長短大小而折中之，庶得謂之同身寸法。法附前各條之下，而後之所謂中指同身寸法者，雖不可混用，而亦有當用之處，並列於後。</p>

<h2>中指同身寸法</h2>
<p>以男左女右手大指、中指圓曲交接如環，取中指中節橫紋兩頭盡處，比為一寸。凡手足尺寸及背部橫寸，無折法之處，乃用此法，其他不必混用。</p>

<h2>古今尺寸不同說</h2>
<p>《骨度篇》曰：人長七尺五寸者，其骨節之大小、長短，各幾何？伯高曰：頭之大骨圍二尺六寸。蓋古之尺小，大約古之一尺，得今之八寸，其言七尺五寸者，得今之六尺；其言二尺六寸者，得今之二尺零八分也。其餘仿此。然骨大者，必有太過，骨小者，必有不及。凡用折法者，但隨人之大小而為盈縮，庶盡其善。</p>

<h2>骨數</h2>
<p>王金壇曰：人之周身，總有三百六十五骨節，以一百六十五字都關次之。</p>
<p>首自鈴骨之上為頭，左右前後至轅骨，以四十九字共關七十二骨。巔中為都顱骨者一。（有勢，微有髓及有液。）次顱為數髏骨者一。（有勢，微有液。）髏前為頂威骨者一。（微有髓，女人無此骨。）髏後為腦骨者一。（有勢，微有髓。）腦後為枕骨者一。（有勢，無液。）枕就之中附下為天蓋骨者一。（下為肺系之本。）蓋骨之後為天柱骨者一。（下屬脊窳，有髓。）蓋前為言骨者一。（言上覆合於髏骨，有勢，無髓。）言下為舌本骨者，左右共二。（有勢，無髓。）髏前為囟骨者一。（無勢，無液。）囟下為伏委骨者一。（俚人訛為伏犀骨是也，無勢髓。）伏委之下為俊骨者一。（附下即眉宇之分也，無勢髓。）眉上左為天賢骨者一，右為天貴骨者一。（眉上直目睛也。俱無勢髓。）左睛之上為智宮骨者一。（無勢髓。）右睛之上為命門骨者一。（兩睛之下，中央屬鼻。）鼻之前為梁骨者一。（無勢髓。）梁之左為顴骨者一。（有勢無髓，下同。）梁之右為糾骨者一。（顴糾之後，即耳之分。）梁之端為嵩柱骨者一。（無勢髓。）左耳為司正骨者一。（無勢髓。）右耳為司邪骨者一。（同上）正邪之後為完骨者，左右共二。（無勢髓。）完骨之上附內為嚏骨者一。（無勢，少液。）嚏後之上為通骨者左右前後共四。（有勢少液。）嚏上為齶骨者一。（無勢，多液。）其齶後連屬為頷也，左頷為乘骨者一。（有勢，多液。）右頷為車骨者一。（同上。）乘車之後為轅骨者，左右共二。（有勢，有液。）乘車上下出齒牙三十六事。（無勢髓，庸下就一，則不滿其數。）</p>
<p>復次鈴骨之下為膻中，左右前後至䃩，以四十字關九十七骨。轅骨之下，左右為鈴骨者二。（多液。）鈴中為會厭骨者一。（無勢髓。）鈴中之下為咽骨者，右中及左共三。（無髓。）嚥下為喉骨者，左中及右共三。（同上。）喉下為嚨骨者，環次共十事。（同上。）嚨下之骨為肺系骨者，累累然共十二。（無勢髓。）肺系之後為谷骨者一。（無髓。）谷下為㿠道骨者，左右共二。（同上。）嚨外次下為順骨者共八。（少液。）順骨之端為順隱骨者共八。（同上。順之下左為洞骨者一。（女人無此。）順之下右為掤骨者一。（女人無此。）洞掤之下中央為𩩲骬骨者一。（無髓，俚人呼為鳩尾。）𩩲骬直下為天樞骨者一。（無髓。）鈴下之左右為缺盆骨者二。（有勢，多液。）左缺盆前之下為下魘骨者一。（無髓。）右缺盆前之下為分饍骨者一。（同上。）魘饍之後，附下為倉骨者一。（同上。）倉之下，左右為髎骨者共八。（有勢，無液。）髎下之左為胸骨者一。（男子此骨大者好勇。）髎下之右為蕩骨者一。（女子此骨大則大夫。）胸之下為烏骨者一。（男子此骨滿者發早白。）蕩之下為臆骨者一。（此骨高多訛妄。）鈴中之後為脊窳骨者共二十二。（上接天柱有髓。）脊窳次下為大動骨者一。（上通天柱，共成二十四椎。）大動之端為歸下骨者一。（道家謂之尾閭。）歸下之後為篡骨者一。（此骨能限精液。）歸下之前為䃩骨者一。（此骨薄者，多處貧下。）</p>
<p>復次缺盆之上，左右至襯，以二十五字關六十骨。（此下止，分兩手臂至十指之端眾骨。）支其缺盆之後為傴甲骨者，左右共二。（有勢，多液。）傴甲之端為甲隱骨者，左右共二。（此骨長則至腎。）前支缺盆為飛動骨者，左右共二。（此骨病，痱緩。）次飛動之左為龍臑骨者一。（有勢，並無髓液。）次飛動之右為虎沖骨者一。（同上。）龍臑之下為龍本骨者一，虎沖之下為虎端骨者一。（俱有勢，有髓。）本端之下為腕也，龍本上內為進賢骨者一。（男子此骨隆，為名臣。）虎端上內為及爵骨者一。（女人此骨高，為命婦。）腕前左右為上力骨者共八。（有勢，多液。）次上力為駐骨者，左右共十。（同上。）次駐骨為搦骨者左右共十。（同上。）次搦為助勢骨者，左右共十。（左助外為爪，右助外為甲。）爪甲之下，各有襯骨，左右共十。（無勢，無液。）</p>
<p>復次𩩲骬之下，左右前後至初步，以五十一字關一百三十六骨。此下至兩乳下，分左右自兩足心眾骨所會處也。𩩲骬之下為心蔽骨者一。（無髓。）𩩲骬之左為脅骨者，上下共十二。（居小腸之分也。）左脅之端，各有脅隱骨者，分次亦十二。（無髓。）脅骨之下為季脅骨者共二。（多液。）季脅之端為季隱骨者共二。（無髓。）𩩲之右為肋骨者共十二。（處大腸之也分也。）右肋之端為肋隱者共十二。（無髓。）肋骨之下為眇肋骨者共二。（名無隱骨，唯獸有之。）䃩骨之前為大橫骨者一。（有勢，少髓。）橫骨之前為白環骨者共二。（有勢，有液。）白環之前為內輔骨者，左右共二。（有勢，有液。）內輔之後為骸關骨者，左右共二。（同上。）骸關之下為揵骨者，左右共二。（同上。）揵骨之下為髀樞骨者，左右共二。（有勢，多髓。）髀樞下端為膝蓋骨者，左右共二。（無勢，多液。）膝蓋左右各有俠升骨者共二。（有勢，多液。）髀樞之下為䯒骨者，左右共二。（有勢，多髓。）䯒骨之外為外輔骨者，左右共二。（有勢有髓。）䯒骨之下為立骨者，左右共二。（同上。）立骨左右各有內外踝骨者共四。（有勢，少液。）踝骨之前各有下力骨者，左右共十。（有勢，多液。）踝骨之後各有京骨者，左右共二。（有勢，少液。）下力之前各有釋欹骨者，左右共十。釋欹之前各有起僕骨者共十。（有勢。）起僕之前各有平助骨者，左右共十。（有勢。）平助之前各有襯甲骨者，左右共十。（無勢，少液。）釋欹兩旁各有核骨者，左右共二。（有勢，多液。）起僕之下各有初步骨者，左右共二。（有勢，無髓，有液，女人則無此骨。）</p>
<p>凡此三百六十五骨也。天地相乘，惟人至靈。其女人則無頂威、左洞、右，及初步等五骨，只有三百六十骨。又：男子女人一百九十骨，或隱、或襯、或無勢髓。餘二百五十六骨，並有髓液，以藏諸筋，以會諸脈溪谷，相需而成身形，謂之四大。此骨度之常也。</p>

<h2>稽檢骨不合金壇骨數說（壽田）</h2>
<p>人身三百六十五骨節，合周天之三百六十五度。王金壇先生總以一百六十五字都關次之矣。而《經筋》、《骨空》、《骨度》、《氣府》、《氣穴》、《說文》、《師傳》、《甲乙經》、《通天論》諸篇之名目與金壇相懸，三百六十五之數亦不合。不知金壇之考覈，諱而不呈。又不知臆度其詞，吻合天數。假若臆度，何其有無勢髓、有液、無液之鑿鑿也。總之，人身合天，《內經》悉載，非自金壇始也。又考《金鑑》正骨科骨度，部分清晰，名目差同。《洗冤錄》論沿身骨脈，自手及頭至足。其中肉骨關節交會，紊而不明，細閱檢骨數、檢骨格，想是骨無所遁，數無所朦。且男婦骨之多寡、有無，逐件拈出，必可闢而可闔之。骨數也，其與周天之數不合者，有無勢髓之骨，脆嫩之骨，檢尋不得，故不合也。今遵驗骨、檢骨之條目錄出，及《內經》正骨科之部分名目，一一附註，補入醫林之考覈，豈不詳而且備哉。</p>

<h2>驗骨數（出《洗冤錄》）</h2>
<p>男子骨白，女子骨黑。（《明冤錄》云：婦人生前出血如河水，故骨黑。又云：婦人按月行經，血系流散，故骨黑。若天癸未至者，其骨仍白也。）</p>
<p>髑髏骨：（《說文》：頂也。）男子自頂及耳並腦後共八片，（蔡州人有九片。）腦後橫一縫，當正直下至髮際別有一直縫。婦人只六片，腦後橫一縫，當正直下無縫。《金鑑》云：巔頂骨男子三叉，女人十字縫。一名天靈蓋，位居至高，內函腦髓，以統全體，是天靈蓋即頂心骨也。又：以囟門骨為天靈蓋者非。</p>
<p>牙齒：（上下）有二十四，或二十八，或三十二，或三十六。</p>
<p>胸前骨：即龜子骨，在胸乳間左右排連。</p>
<p>心坎骨：一片狀如錢大。（胸膛內有一護心軟骨即鳩尾也。）</p>
<p>肩井臆骨及飯匙骨：左右各一片。（肩井臆骨下為血盆骨，其下外連橫髃者為飯匙骨，又其下即左右排連之龜子骨也。）</p>
<p>項與脊骨各十二節：（自項至腰共二十四椎骨，上有一大椎骨，人身項骨五節，背骨十九節，合之得二十有四，是項之大椎，即在二十四骨之內。此與《內經）所載之數未合，□集說恐訛。肩井、飯匙在內□庸齋附說屢詢檢官，皆云連項大椎骨實得二十四骨，今骨圖注項骨五節，背骨十九節，內方骨一節，在尾蛆骨之上，是連項大椎尾蛆骨共二十五節矣，須知尾蛆骨不入脊骨行下。壽田按：項與脊骨各十二節，當云共二十四節，用各十二節字末妥。）</p>
<p>左右肋骨：男子各十二條，八條長、四條短。婦人各十四條。（此統據前後肋言之，非前肋有此骨數也。）</p>
<p>男女腰間各有一骨，大如掌，有八孔，作兩行樣。（即方骨也；其骨孔即四髎穴所，《金鑑》名尾骶骨，即尻骨也；其形上寬下窄，上承腰背諸骨，兩旁各有四孔，名曰八髎。其末節名曰尾閭，一名骶端，一名橛骨，一名窮骨，俗名尾椿。）</p>
<p>手、足骨二段。男子左、右手腕及左，右臁肕（字典音刃，音尹，堅肉也；人能正靜筋肕而骨強）骨邊皆有裨骨。（婦人無。壽田按：原用髀字。考臂字注，自肘至腕曰臂。《釋名》：臂，裨也，在旁曰裨。《韻會》曰：附也；又，輔也。髀，《說文》：股也，在下稱也，此則肘之旁骨，當曰裨骨明矣。今改正之。）足之兩脛骨旁小骨曰䯒骨。</p>
<p>兩足膝頭各有靨骨，隱在其間，如大指大。（此骨隱在膝蓋中間，圖格內不載。）手掌、腳板各五縫。手、腳大拇指並腳第五趾各二節；餘十四指並三節。</p>
<p>尾脊骨，若豬腰子，仰在脊骨節下。男子者，其綴脊處凹，兩邊皆有尖瓣如稜角，周布九竅；婦人者，其綴脊處平直，周布六竅。大小便處各一竅。</p>

<h2>檢骨格（出《洗冤錄》）</h2>

<h3>仰面</h3>
<p>頂心骨　囟門骨　兩額角　額顱骨：《金鑑》名山角骨，左右共二。兩太陽穴：《金鑑》有扶桑骨，近兩額骨旁太陽肉內凹處也。兩眉稜骨：《金鑑》有凌雲骨，在前髮際下，即正中額骨。其兩眉上之骨，即俗名左天賢骨，右天貴骨，兩額角也。兩眼眶骨：《金鑑》名睛明骨，即目窠四圍目眶骨也。其上曰眉稜骨，其下曰䪼骨；䪼骨下接上牙床也。鼻梁骨：《金鑑》又有中血堂，即鼻內頞下脆骨空虛處也。兩顴骨　兩腮頰骨　頷頦骨：《金鑑》名地閣骨，即兩牙車相交之骨，又名頦，俗名下巴骨，上載牙齒。頰車骨：《金鑑》言：即下牙床。承載諸齒，能咀食物，有運動之象，故名頰車。其骨尾形如勾，上控於面頰之環。又有兩鉤骨，名曲頰，即上頰之合鉗，曲如環形，以納下牙車骨尾之鉤者也。兩耳竅兩耳根骨：《金鑑》名玉梁骨，即耳門骨。其處上即曲頰，下即頰車，兩骨之合鉗也。耳門內上通腦髓，亦關靈明，耳內又有禁骨。口骨：上、下。《金鑑》又有玉堂在口內上齶，一名上含，其竅即頏顙齒：上下有二十四、二十八、三十二、三十六不等。《金鑑》言口齦所生之骨，俗名曰牙有門牙、虎牙，槽牙、上下盡根牙之別也。嗓喉結喉骨：共四層，系脆骨，日久易腐。龜子骨：即胸前三骨。心坎骨：《金鑑》名蔽心骨，即鳩尾骨也。其質系脆骨，在胸下岐骨之間。又有岐骨，即兩鳧骨端相接之處，其下即鳩尾骨也。兩肩井臆骨：《金鑑》名胸骨，即𩩲骬骨，乃胸脅眾骨之統名也。一名膺骨，一名臆骨，俗名胸堂。其兩側自腋而下至肋骨之盡處，統名曰脅也。兩血盆骨：即飲盆骨。兩橫髃骨：　髃骨者，肩端之骨，即肩胛骨臼端之上稜骨也；其臼含臑上端。兩飯匙骨：《金鑑》名鎖子骨，《經》名柱骨，橫臥於兩肩前缺盆之外，其兩端外接於肩解。兩胎膊骨：《金鑑》言名肩解，即肩䯋與臑骨合縫處也。俗名吞口，一名肩頭。其下附於脊背，成片如翅者名肩胛，亦名肩膊，俗名倪板子骨。又有臑骨，即肩下肘上之骨也。自肩下至手腕名肱，俗名胳膊。兩肘骨：胳膊中節上下支骨交接處也，俗名鵝鼻骨。兩臂骨：《金鑑》言自肘至腕有正輔二根，其在下而形體長大連肘尖者為臂骨，其在上而形體短細者為輔骨，俗名纏骨，疊並相倚，俱下掌後，接於腕焉。按：臂輔骨近於腕者曰關穴，有名內外關。兩裨骨：即輔骨，婦人無。兩手內外踝兩腕骨：《金鑑》言即掌骨，乃五指之本即也。一名壅骨，俗名虎骨。其骨大小六枚，湊以成掌，非塊然一骨也。其上並接臂輔內骨之端，其外側之骨名高骨，一名銳骨，亦名踝骨，俗名龍骨。以其能宛屈上下，故名腕。兩手掌骨十塊　兩手指骨二十八節：《金鑑》名錘骨，又名竹節骨。胯骨前：左、右。《金鑑》言即髖骨也，又名髁骨。髖骨外向之凹，其形似臼，以納髀骨之上端如杵者也，名曰機，又名髀樞，即環跳穴處。兩腿骨：《金鑑》言名大楗骨，一名髀骨，上端如杵，入於髀樞之臼；下端如錘，接於䯒骨；統名曰股，臀肉連。兩膝蓋骨：《金鑑》言即連骸，亦名臏骨。形圓而扁，覆於楗䯒上下兩骨之端，而有筋聯屬，其筋上過大腿，至於兩脅；下過䯒骨，至於足背焉。兩脛骨　兩䯒骨：即膝下踝上之小腿骨，俗名臁脛骨者也。其骨二根，在前者名成骨，又名骭骨，其形粗；在後者名輔骨，其形細，又名勞堂骨。婦人無輔骨。兩足內外踝：在內者名合骨，在外者名核骨。兩肢骨：在脛骨之下，本節之上，又名絕骨。兩足掌骨趺骨十塊：《金鑑》名跗骨，又名足趺。趺，音膚。《集韻》與跗同。《釋名》：拜於丈夫為趺，趺然屈折下視地也。兩腳根骨共八塊：上承胻輔二骨之末，一名跟骨。有大筋附之，俗名腳攣筋，其筋從跟骨過踝骨至腿肚裡，上至膕中，過臀抵腰脊至項，自腦後向前至目眥，皆此筋之所達。按：跟骨八塊，必有筋膜聯屬成縱橫之縫，檢驗時筋膜脫去，故分八塊也。腳十趾共二十六節：《金鑑》言趾者，足之指也。名以趾者，所以別於手也，俗名足節。大趾本節後內側圓骨努突者，一名核骨，又名覈骨，俗呼為孤拐也。足外側大骨曰京骨；京骨之前，當小趾本節後者曰束骨。</p>

<h3>合面</h3>
<p>腦後骨　乘枕骨：左、右。婦人無左右。《金鑑》名後山骨。其骨形狀不同，或如品字，或如山字，或如川字，或圓尖，或月芽形，或偃月形，或雞子形，皆屬枕骨。兩耳後骨：《金鑑》名壽臺骨，即完骨；在耳後，接於耳之玉樓骨者也。項骨：《金鑑》名旋臺骨，又名玉柱骨，即頸骨三節也。一名天柱骨。脊骨連項骨共二十四節　兩琵琶骨：亦名髀骨，即胛骨也。兩肋骨共二十四條：即釵骨，婦人多四條。《金鑑》又有鳧骨，即胸下之邊肋也，上下二條，左右共四。自項骨以下至七節兩旁橫出髖骨：按，髖骨，即胯骨，此言髖骨，恐系訛其名耳。至六節為脊背骨　至十二節為脊膂骨　至十九節為腰眼骨：腰眼骨，即腰門骨與命門骨也。命門當在十四椎下，以此言腰不合。方骨胯後骨左右尾蛆骨：男九竅，女六竅。《金鑑》言背骨，自後身大椎以下、腰以上之通稱也。其骨一名脊骨，一名膂骨，俗呼脊梁骨。其形一條居中，其二十一節下，盡尻骨之端，上載兩肩，內系臟腑；其兩旁諸骨附接橫疊，而彎合於前，則為胸脅也。腰骨即脊骨十四椎、十五椎、十六椎間之骨也。</p>
<p>羞秘骨：產門上，男子無；另有架骨一塊，與尾蛆骨相連，橫於小腹之下，名橫骨，男子同。</p>

<h2>仰人經脈圖</h2>
<figure>
<img alt="仰人經脈圖">
</figure>

<h2>伏人經脈圖</h2>
<figure>
<img alt="伏人經脈圖">
</figure>

<h2>十二經歌</h2>
<p>太陽小腸足膀胱，陽明大腸足胃當，少陽三焦足膽配，太陰手肺足脾鄉，少陰心經足為腎，厥陰包絡足肝方。（此歌上者為手，太少陰陽為經。）</p>

<h2>十二經納甲歌（此歌諸腑配陽，諸臟配陰）</h2>
<p>甲膽乙肝丙小腸，丁心戊胃己脾鄉，庚屬大腸辛屬肺，壬屬膀胱癸腎臟，三焦陽腑須歸丙，包絡從陰丁火旁。</p>
<p>舊云：三焦亦向壬中寄，包絡同歸入癸方。雖三焦為決瀆，猶可言壬；而包絡附心主，安得云癸。且二臟表裡，皆相火也，今改正之。</p>

<h2>十二經氣血多少歌</h2>
<p>多氣多血惟陽明，少氣太陽同厥陰，二少太陰常少血，六經氣血須分明。</p>

<h2>十二經營行次序逆順歌</h2>
<p>肺大胃脾心小腸，膀腎包焦肝膽續，手陰臟手陽手頭，足陰足腹陽頭足。（後二句言：凡手之三陰，從臟走手，手之三陽，從手走頭，足之三陽，從頭走足，足之三陰，從足走腹也。）</p>

<h2>經絡次序（出《十四經發揮》）</h2>
<p>十二經絡始於手太陰，其支者從腕後出次指端，而交於手陽明。手陽明之支者，從缺盆上挾口鼻，而交於足陽明。足陽明之支者，從跗上出大指端，而交於足太陰。足太陰之支者，從胃別上膈，注心中，而交於手少陰。手少陰無支者，直至本經少衝穴，而交於手太陽。手太陽之支者，別頰上至目內眥，而交於足太陽。足太陽之支者，從膊內左右別下，合膕中下至小指外側端，而交於足少陰。足少陰之支者，從肺出注胸中，而交於手厥陰。手厥陰之支者，從掌中循小指、次指出其端，而交於手少陽。手少陽之支者，從耳後出至目銳眥，而交於足少陽。足少陽之支者，從跗上入大指爪甲，出三毛，而交於足厥陰。足厥陰之支者，從肝別貫膈上注肺，入喉嚨之後，上額循巔，行督脈，絡陰器，過毛中，行任脈，入缺盆，下注肺中，而復交於手太陰也。</p>

<h2>十二經脈起止歌</h2>
<p>經始太陰，而厥陰最後；穴先中府，而終則期門。</p>
<p>原夫肺脈，胸中始生；出腋下而行於少商，絡食指而接乎陽明。</p>
<p>大腸起自商陽，終迎香於鼻外；胃厲承泣而降，尋厲兌於足經。</p>
<p>脾自足之隱白，趨大包於腋下；心由極泉而出，注小指之少衝。</p>
<p>小腸兮起端於少澤，維肩後上絡乎聽宮；膀胱穴自睛明，出至陰於足外。</p>
<p>腎以湧泉發脈，通俞府於前胸；心包起乳後之天池，絡中衝於手中指。</p>
<p>三焦始名指之外側，從關衝而絲竹空；膽從瞳子髎穴，連竅陰於足之四指。</p>
<p>肝因大敦而上至期門，而復於太陰肺經。</p>

<h2>周身經絡部位歌</h2>
<p>脈絡周身十四經，六經表裡督和任，陰陽手足經皆六，督總諸陽任總陰。</p>
<p>諸陽行外陰行里，四肢腹背皆如此，督由脊骨過齦交，臍腹中行任脈是。</p>
<p>足太陽經小指藏，從跟入膕會尻旁，上行夾脊行分四，前系睛明脈最長。</p>
<p>少陽四指端前起，外踝陽關環跳里，從脅貫肩行曲鬢，耳前耳後連眥尾。</p>
<p>大指次指足陽明，三里天樞貫乳行，腹第三行通上齒，環唇俠鼻目顴迎。</p>
<p>足有三陰行內廉，厥中少後太交前，腎出足心從內踝，俠任胸腹上廉泉。</p>
<p>太厥兩陰皆足拇，內側外側非相聯，太陰內側衝門出，腹四行兮挨次編。</p>
<p>厥陰毛際循陰器，斜絡期門乳肋間。手外三陽誰在上，陽明食指肩髃向。</p>
<p>頰中鑽入下牙床，相逢鼻外迎香傍。三焦名指陽明後，貼耳周迴眉竹湊。</p>
<p>太陽小指下行低，肩後盤旋耳顴遘。還有三陰行臂內，太陰大指肩前配。</p>
<p>厥從中指腋連胸，極泉小內心經位。手足三陽俱上頭，三陰穴止乳胸遊。</p>
<p>唯有厥陰由顙後，上巔會督下任流。經脈從來皆直行，絡從本部絡他經。</p>
<p>經凡十四絡十六，請君切記須分明。</p>
<p>十六絡者，自十五絡之外，復有胃之大絡，名曰虛里也。</p>

<h2>十二經流注時序歌</h2>
<p>肺寅大卯胃辰宮，脾巳心午小未中，膀申腎酉心包戍，亥三子膽醜肝通。</p>
<p>此歌出《子午流注》等書，及張世賢等註釋。其以十二時分配十二經，似乎近理，然而經之長短，穴之多少，大相懸絕，又安能按時分配，且失五十周於身之義。今錄之以俟辯正。</p>

<h2>十六絡穴歌</h2>
<p>手太陰絡名列缺，陽明之絡偏厲當，豐隆穴系陽明足，胃之大絡虛里鄉。</p>
<p>足太陰絡公孫穴，脾經大絡大包場，手少陰絡在通里，手太陽絡支正疆。</p>
<p>足太陽絡飛陽記，足少陰絡大鐘藏，手厥陰絡內關地，手少陽絡外關央。</p>
<p>足少陽絡光明位，足厥陰絡蠡溝堂，屏翳相承任脈絡，督之絡脈號長強。</p>
<p>《經脈篇》只十五絡。《平人氣象論》曰：胃之大絡，名曰虛里，是共十六絡也。然足太陰絡曰公孫，而復有脾之大絡曰大包；足陽明絡曰豐隆，而復有胃之大絡曰虛里；故諸經之絡皆一，而惟脾胃之絡皆二也。</p>

<h2>宗營衛三氣論</h2>
<p>宗氣積於胸中，出於喉嚨，以貫心脈而行呼吸。《決氣上篇》曰：上焦開發，宣五穀味，熏膚，充身，澤毛，若霧露之溉者，是謂宗氣。宗之為言大也。</p>
<p>營氣者，陰氣也，水穀之精氣也，其精氣之行於經者為營氣。營氣出於中焦，並胃中，出上焦之後，上注於肺，受氣取汁，化而為血，以奉生身，莫貴於此。其行始於太陰肺經，漸降而下，而終於厥陰肝經，隨宗氣而行於十二經隧之中。故曰：清者為營，營行脈中。</p>
<p>衛氣者，陽氣也，水穀之悍氣也，其浮氣之慓疾滑利而不循於經者為衛氣。衛氣出於下焦，漸升而上。每日平旦，陰盡，陽氣出於目之睛明穴，上行於頭，晝自足太陽始，行於六陽經以下陰分；夜自足少陰始，行於六陰經，復注於腎；晝夜各二十五周，不隨宗氣而自行於各經皮膚分肉之間。故曰：濁者為衛，衛行脈外。</p>

<h2>標本運氣歌（張子和）</h2>
<p>少陽從本為相火，太陰從本濕土坐。厥陰從中火是家，陽明從中濕是我。</p>
<p>太陽少陰標本從，陰陽二氣相包裹。風從火斷汗之宜，燥與濕兼下之可。</p>
<p>萬病能將火濕分，徹開軒岐無縫鎖。</p>

<h2>十一募穴歌（募，結募也，為經氣之所聚）</h2>
<p>大腸天樞肺中府，小腸關元心巨闕，膀胱中極腎京門，肝募期門膽日月，胃中腕兮脾章門，三焦募在石門穴。</p>
<p>（按：募只是十一者，心與心包共一募也。）</p>

<h2>八會穴歌</h2>
<p>腑會中脘臟章門，髓會絕骨筋陽陵，骨大椎兮血膈俞，氣膻中兮脈太淵。（絕骨，即懸鐘穴所。）</p>

<h2>前面頸穴總圖</h2>
<figure>
<img alt="前面頸穴總圖">
</figure>

<h2>胸腹總圖</h2>
<figure>
<img alt="胸腹總圖">
</figure>

<h2>後頭頂穴總圖</h2>
<figure>
<img alt="後頭頂穴總圖">
</figure>

<h2>背部總圖</h2>
<figure>
<img alt="背部總圖">
</figure>

<h2>側面肩項總圖</h2>
<figure>
<img alt="側面肩項總圖">
</figure>

<h2>側脅肋總圖</h2>
<figure>
<img alt="側脅肋總圖">
</figure>

<h2>陰手總圖</h2>
<figure>
<img alt="陰手總圖">
</figure>

<h2>陽手總圖</h2>
<figure>
<img alt="陽手總圖">
</figure>

<h2>陰足總圖</h2>
<figure>
<img alt="陰足總圖">
</figure>

<h2>陽足總圖</h2>
<figure>
<img alt="陽足總圖">
</figure>

<h1>卷二</h1>

<h2>肺經循行圖</h2>
<figure>
<img alt="肺經循行圖">
</figure>

<h2>肺經循行經文（十二經脈俱出《靈樞·經脈篇》）</h2>
<p>肺手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈屬肺，從肺系橫出腋下，下循臑內，行少陰心主之前，下肘中，循臂內上骨下廉，入寸口，上魚，循魚際，出大指之端；其支者，從腕後直出次指內廉，出其端。（歌見穴圖後。）</p>

<h2>肺經穴圖</h2>
<p>（左右共二十二穴，脈長三尺五寸）</p>
<figure>
<img alt="肺經穴圖">
</figure>

<h2>肺經臟象圖</h2>
<figure>
<img alt="肺經臟象圖">
</figure>

<h2>肺臟經文</h2>
<p>肺者，相傅之官，治節出焉。其形四垂，附著於脊之第三椎中。有二十四空，行列分布，以行諸臟之氣，為臟之長，為心之蓋。是經常多氣少血，其合皮也，其榮毛也，開竅於鼻。《難經》曰：肺重三斤三兩，六葉、兩耳，凡八葉，主藏魄。華元化曰：肺者生氣之原，乃五藏之華蓋。肺葉白瑩，謂為華蓋，以覆諸藏，虛如蜂窠，下無透竅，吸之則滿，呼之則虛，一呼一吸，消息自然，司清濁之運化，為人身之槖籥。</p>

<h2>肺經循行主病總歌</h2>
<p>手太陰肺中焦起（中焦當胃中脘，在臍上四寸之分。手之三陰從臟走手，皆自內而出也），下絡大腸胃口行（絡，聯絡也；十二經相通各有表裡，凡在本經皆曰屬，以此通彼皆曰絡；當任脈水分穴之分，肺脈絡於大腸，自大腸而上覆循胃口，即賁門也），上膈屬肺從肺系（膈，膈膜也；肺系即肺管），橫出腋下（膊之下、脅之上曰腋，腋下即中府之旁，謂從肺系而橫出腋下也）臑內縈（膊之內側，上至腋，下至肘，嫩突白肉曰臑；天府、俠白之次也），前於心與心包脈（手之三陰，太陰在前，厥陰在中，少陰在後也），下肘循臂骨下廉（臑盡處為肘，肘以下為臂，肘臂之交曰肘中骨，即掌後高骨下廉、骨下側也），遂八寸口上魚際（寸口即太淵穴處；手腕之前，大指本節之間，其肉隆起者為魚；寸之前、魚之後曰魚際穴），大指內側爪甲根（少商穴止），支絡還從腕後出，接次指交陽明經（臂掌之交曰腕，此本經別絡從腕後上側列缺穴，直出次指之端，而接乎手陽明經也）。此經多氣而少血，是動則為喘滿咳（動，變也，言變常而為病也。肺主氣），膨膨肺脹缺盆痛（缺盆雖十二經之道路，而肺為尤近，故肺病則痛；其穴在肩下橫骨陷中，屬足陽明經），兩手交瞀（音茂）為臂厥（瞀，木痛不仁也；手太陰脈由中府出腋下，行肘臂間，故為臂厥）。肺所生病咳上氣，喘渴煩心胸滿結（渴，當作喝，言聲粗急也；肺脈行厥陰心主之前，掌心勞宮屬心包，故有煩心胸滿之病），臑臂之內前廉痛，為厥或為掌中熱（太陰之別直入掌中，故為痛厥掌熱）。肩背痛是氣有餘（手太陰筋結於肩，藏附於背，故邪氣盛則肩背痛），小便數欠或汗出（肺為腎母，邪傷其氣，故小便數而欠；肺主皮毛，而風寒在表，故汗出中風），氣虛亦痛溺色變，少氣不足以報息（肩背者，上焦之陽分也；氣虛則陽病，故為痛、為寒，而怯然少氣；金衰則水涸，故溺色變黃赤，母病及子也）。</p>

<h2>肺經穴歌</h2>
<p>手太陰經十一穴，中府雲門天府列，俠白尺澤孔最存，列缺經渠太淵涉，魚際直出大指端，內側少商如韭葉。</p>

<h2>取穴分寸</h2>
<p>中府：（一名膺中俞）。在雲門下一寸，去任脈中行六寸，乳上三肋間陷中，動脈應手，仰而取之。肺之募也。（募，結募也，為經氣之所聚；他仿此）。手足太陰之會。</p>
<p>雲門：在巨骨下夾氣戶旁二寸，去中行六寸陷中，動脈應手，舉臂取之。（脅肋煩滿徹痛，喉痹，癭氣，臂不得舉，可灸之。）</p>
<p>天府：在臂臑內廉，腋下三寸，動脈陷中，以鼻取之。</p>
<p>俠白：在天府下，去肘上五寸，動脈中。手太陰之別。</p>
<p>尺澤：（《千金》一名鬼堂。）在肘中約文上，屈肘，橫文筋骨罅中動脈。手太陰所入為合。（從此會合為合穴。甄權云：臂屈伸橫文間筋骨罅中，不宜灸。）</p>
<p>孔最：在腕上七寸陷中。手太陰之郄。（郄，音隙，與郤同，地名注郤地，謂開隙之地；又骨肉之交也。）</p>
<p>列缺：在腕後側上一寸五分。滑氏曰：以手交叉，當食指末、筋骨罅中是穴。（《千金》云：男子陰中疼痛，尿血，精出，灸五十壯。治偏風口眼喎斜，手肘痛，無力，口噤不開，痎瘧寒熱，煩躁，咳嗽，喉痹，嘔沫，縱唇，健忘，驚癇，善笑，妄言，妄見，面目四肢癰腫，小便熱痛，四肢厥逆，瘛瘲，屍厥，灸至壯百。又：《馬丹陽天星十二穴》云：此穴善療偏頭患，偏身風痹麻，痰涎頻上壅，口噤不開牙，若能明補瀉，應手疾如拿。）</p>
<p>此手太陰之絡，從腕後別走陽明，直出食指內廉，出其端。凡人有反關脈者，寸關尺三部正脈不見，而見於列缺、陽谿，此經脈虛而絡脈滿。《千金翼》謂陽脈逆反，大於寸口三倍者是也。</p>
<p>經渠：在寸口陷中。手太陰所行為經。（又從而行為經穴。）</p>
<p>太淵：在手掌後陷中。手太陰所注為腧，即原也。（腧與輸通，從此而注為輸穴。）脈會太淵。每日平旦寅時，脈從此始。故《一難》曰：寸口者，脈之大會。（《神農經》曰：治牙疼，手腕無力，疼痛，可灸七壯。）</p>
<p>魚際：在手大指本節後內側陷中。又云：散脈中白肉際。手太陰所溜為滎。（溜，流通，流如小水為滎穴。一傳齒痛不能食飲，左患灸左，右患灸右，男三女四。）</p>
<p>少商：在手大指內側端，去爪甲角如韭葉，白肉際宛宛中。手太陰所出為井。（如水始出為井穴。唐刺史成君綽忽項腫如升，喉閉，水粒不下，甄權以三稜針刺之微出血，立愈。主治項腫喉痹，煩心，嘔噦，心下滿，汗出，咳逆，痎瘧振寒，腹脹腸滿，雀目不明，唇乾，唾沫引飲，食不下，寒慄鼓頷，手攣指痛，小兒乳蛾。《乾坤生意》云：此為十井穴，凡初中風，卒暴昏沉，痰涎壅盛，不省人事，牙關緊閉，藥水不下，急目三稜針刺此穴，乃少衝、中衝、關衝、少澤、商陽，使血氣流行，乃起死回生急救之妙訣。）</p>

<h2>正筋別本標</h2>
<p>手太陰之正，別入淵腋，少陰之前，入走肺，散之大腸，上出缺盆循喉嚨，復合陽明。（手太陰之正，其內行者，自天府別入淵腋，由手少陰心經之前入內走肺，散之大腸，其上行者，出缺盆，循喉嚨，復合於手陽明經。）</p>
<p>手太陰之筋，起於大指之上，循指上行，結於魚後，行寸口外側，上循臂，結肘中，上臑內廉，入腋下。（自大指而上，皆本經經穴所行之分，入腋下方，與手少陰之筋合，此上皆剛筋也。）出缺盆，結肩前髃，（此自腋下上出缺盆，行肩上三陽之前，而結於肩之前髃。）上結缺盆，下結胸裡，散貫賁，合賁下，抵季脅。（此上行者，自腋而上，並足三陽之筋，上結於缺盆；下行者，自腋入胸，結於胸裡，散貫於胃上口賁門之分，與手厥陰之筋合，下行抵季脅，與足少陽、厥陰之筋合也。）</p>
<p>手太陰之別，名曰列缺，起於腕上分間，並太陰之經直入掌中，散於魚際。（此手太陰絡穴也；不曰絡而曰別者，以本經由此別走鄰經也；太陰自此別走陽明，其太陰本經之脈由此直入掌中，散於魚際也。）其病實則手銳掌熱，虛則欠㰦，小便遺數，取之去腕寸半，別走陽明也。（㰦，音去，欠㰦，張口伸腰也；實因邪熱有餘，虛因肺氣不足；治此者取列缺，謂實可瀉之，虛可補之。此太陰之絡別走陽明，而陽明之絡曰偏歷，亦入太陰，以其相為表裡，故互為注絡，以相通也；他經皆然。）</p>
<p>手太陰之本，在寸口之中；（太淵穴也。）標在腋內動也。（天府穴也。）</p>

<h2>大腸經循行圖</h2>
<figure>
<img alt="大腸經循行圖">
</figure>

<h2>大腸經循行經文</h2>
<p>大腸手陽明之脈，起於大指次指之端，循指上廉，出合谷兩骨之間，上入兩筋之中，循臂上廉，入肘外廉，上臑外前廉，上肩出髃骨之前廉，上出於柱骨之會上，下入缺盆絡肺，下膈屬大腸；其支者，從缺盆上頸貫頰，入下齒中，還出挾口，交人中，左之右，右之左，上挾鼻孔。</p>

<h2>大腸經穴圖</h2>
<p>（左右共四十穴，脈長五尺）</p>
<figure>
<img alt="大腸經穴圖">
</figure>

<h2>大腸經腑象圖</h2>
<figure>
<img alt="大腸經腑象圖">
</figure>

<h2>大腸經文</h2>
<p>大腸者，傳道之官，變化出焉。迴腸當臍左回十六曲，大四寸，徑一寸，寸之少半，長二丈一尺，受谷一斗，水七升半。廣腸傅脊以受迴腸，乃出滓穢之路。大八寸，徑二寸，寸之大半，長二尺八寸，受谷九升三合八分合之一。是經常多氣多血。《難經》曰：大腸重二斤十二兩，肛門重十二兩。按：迴腸者，以其回疊也；廣腸者，即迴腸之更大者；直腸者，又廣腸之末節也，下連肛門，是為穀道後陰，一名魄門；總皆大腸也。</p>

<h2>大腸經循行主病總歌</h2>
<p>手陽明經大腸脈，次指內側起商陽（次指，大指次指，即食指也；手之三陽從手走頭），循指上廉入合骨（循，巡繞也；上廉，上側也；凡經脈陽行於外，陰行於內，合谷在大指、次指岐骨間，俗名虎口），兩骨兩筋中間行（腕中上側兩筋陷中，陽谿穴也），循臂（上廉）入肘（外廉）上臑外（廉），肩髃（音隅，肩端骨罅為肩髃）前廉柱骨旁（肩背之上，頸項之根，為天柱骨；本經由肩髃上出膀胱之天柱，會於督脈之大椎，六陽經皆會於督脈之大椎，故《內經》以此為會上），會此下入缺盆內，絡肺下膈屬大腸（自大椎而前入足陽明之缺盆，絡於肺中，復下膈，當臍旁天樞之分，屬於大腸與肺相表裡）。支從缺盆上入頸，斜貫兩頰下齒當（耳下曲處為頰），挾口人中交左右，上挾鼻孔盡迎香（人中，即督脈之水溝穴，由人中而左右互交上挾鼻孔者，自禾髎以交迎香，手陽明經止，此乃自山根交承泣穴，而接乎足陽明經也）。此經血盛氣亦盛，是動頸腫下齒痛。是主津液病所生（大腸與肺為表裡，肺主氣，而津液由於氣化，故凡大腸之或泄，或秘，皆津液所生之病，而主在大腸也），目黃（大腸內熱）口乾（無津）鼽衄動，喉痹（金燥）痛在肩前臑，大指次指痛不用（手陽明之別者，合於宗脈，故目黃；其他諸病，皆本經之脈所及）。虛則寒慄不易復（不易溫也），有餘當脈熱腫痛。</p>

<h2>大腸經穴歌</h2>
<p>手陽明穴起商陽，二間三間合谷藏，陽谿偏歷歷溫溜，下廉上廉三里長。曲池肘臑迎五里，臂髎肩髃巨骨起，天鼎扶突接禾髎，終以迎香二十止。</p>

<h2>取穴分寸</h2>
<p>商陽：（一名絕陽。）在手食指內側，去爪甲角如韭葉。手陽明所出為井。（《乾坤生意》云：此為十井穴，領腫，喉痹，鼽衄，齒痛，灸三壯。）</p>
<p>二間：（一名間谷。）在食指本節前內側陷中。手陽明所溜為滎。（主治領腫，喉痹，鼽衄，齒痛，灸三壯。）</p>
<p>三間：（一名少谷。）在食指本節後內側陷中。手陽明所注為輸。</p>
<p>合谷（一名虎口。）在手大指、次指歧骨間陷中。手陽明所過為原。（《神農經》云：治鼻衄，目痛不明，牙疼喉痹，疥瘡，可灸三壯至七壯，並治小兒乳蛾。）</p>
<p>陽谿：（一名中魁。）在手腕中上側兩筋間陷中。手陽明所行為經。</p>
<p>偏歷：在手腕後三寸。手陽明絡，別走太陰。</p>
<p>溫溜：（一名逆注，一名蛇頭。）在手腕後，小士五寸，大士六寸。（大士、小士，謂大人，小兒也。）《明堂》云：腕後五寸六寸間。手陽明郄。</p>
<p>下廉：在曲池下四寸，輔骨下，去上廉一寸，輔兌肉其分外斜。</p>
<p>上廉：在三里下一寸，曲池下三寸，其分獨抵陽明之會。（外斜。）</p>
<p>三里：（一名手三里。）在曲池下二寸，兌肉之端，按之肉起。</p>
<p>曲池：（十三鬼穴名鬼臣。）在肘外輔骨，屈肘，曲骨之中，以手拱胸取之。手陽明所入為合。（秦承祖《明堂》云：主大人、小兒遍身風疹，痂疥。）</p>
<p>肘髎：在肘大骨外廉陷中，與天井相併，相去一寸四分。</p>
<p>五里：在肘上三寸，行向里大脈中央。一云在天府下五寸。</p>
<p>臂臑：在肘上七寸，㿉肉端，肩髃下一寸，兩筋兩骨罅宛宛陷中，平手取之。手陽明絡也，絡手少陽之臑會。一曰手足太陽、陽維之會。（《明堂》：禁刺，灸七壯。主治臂痛無力，寒熱，瘰癧，頸項拘急。）</p>
<p>肩髃：（一名中肩井，一名偏肩。）在膊骨頭肩端上，兩骨罅陷中，舉臂取之有空。手太陽、陽明、陽蹺之會。一曰足少陽、陽蹺之會。（《千金》云：灸癭氣，左右相當，男左十八、右十七壯，女右十八、左十七壯，再三以差止。）</p>
<p>巨骨：在肩尖上行兩叉骨間陷中。手陽明陽蹺之會。</p>
<p>天鼎：在頸中缺盆上，直扶突後一寸。《甲乙經》曰：直扶突，氣舍後一寸五分。《氣府論注》曰：在扶突後半寸。（灸三壯，主治喉痹，嗌腫，不得食，暴喑，氣硬。）</p>
<p>扶突：（一名水穴。）在頸當曲頰下一寸。《甲乙經》曰：在人迎後一寸五分，仰而取之。一云：氣舍後一寸五分。由此上貫頰，入下齒中。</p>
<p>禾髎：（一名長頻。）直鼻孔下，夾水溝旁五分。（灸三壯，主治鼻瘡，息肉，鼻塞，鼽衄。）</p>
<p>迎香：（一名衝陽。）在禾髎上一寸，鼻孔旁五分。手足陽明之會。</p>

<h2>正筋別本標</h2>
<p>手陽明之正，從手循膺乳別於肩髃，入柱骨，下走大腸，屬於肺，上循喉嚨，出缺盆，合於陽明也（此大腸與肺為表裡經脈，相為一合也。手陽明之正，循胸前膺乳之間，其內行者別於肩髃，入柱骨，由缺盆下走大腸，屬於肺；其上者循喉嚨，復出缺盆，而合於陽明本經也。）</p>
<p>手陽明之筋，起於大指次指之端，結於腕上，循臂上結於肘外，上臑結於髃；（自食指尖而上，皆本經經穴所行之次，上臑會，與足太陽之筋合結於肩髃，此皆剛筋也。）其支者，繞肩胛，挾脊；（此支自肩髃屈曲後行，繞肩胛，與手足太陽之筋合，而挾於脊。）直者，從肩髃上頸；（此直者，自肩髃行巨骨上，頸中天鼎、扶突之次。）其支者，上頰，結於鳩；（此支者，自頸上頰，下入齒中，上結於手太陽顴髎之分。）直者，上出手太陽之前，上左角，絡頭，下右頷。（此直者，自頸出手太陽天窗、天容之前，行耳前，上額左角，絡頭，以下右頷；此舉左而言，右在其中，亦如經脈之左之右、右之左也；故右行者亦上額右角，交絡於頭，下左頷，以合於太陽、少陽之筋。）</p>
<p>手陽明之別，名曰偏歷，去腕三寸，別入太陰；其別者，上循臂，乘肩髃，上曲頰偏齒；其別者，入耳合於宗脈。實則齲聾，虛則齒寒痹隔，取之所別也。（手陽明之絡，名偏歷，在腕後三寸上側間，別走手太陰者也。按：本經筋脈，皆無入耳、上目之文，惟此別絡有之。宗脈者，脈聚於耳目之間者也。齲齒，蠹病也，此經上曲頰偏齒，入耳絡肺下膈，故實則為齒齲耳聾；虛則為齒寒，內痹而隔。治此者，當取所別之偏歷。）</p>
<p>手陽明之本，在肘骨中，（曲池穴。）上至別陽；（義未詳。）標在顏下，（顏，額庭也。）合鉗上也。（謂脈由足陽明大迎之次，夾耳之兩旁也。）</p>

<h2>胃經循行圖</h2>
<figure>
<img alt="胃經循行圖">
</figure>

<h2>胃經循行經文</h2>
<p>胃足陽明之脈，起於鼻之交頞中，旁納太陽之脈，下循鼻外，入上齒中，還出挾口環唇，下交承漿，卻循頤後下廉，出大迎，循頰車，上耳前，過客主人，循髮際，至額顱；其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈屬胃絡脾；其直者，從缺盆下乳內廉，下挾臍，入氣街中；其支者，起於胃口，下循腹裡，下至氣街中而合，以下髀關，抵伏兔，下膝臏中，下循脛外廉，下走跗，入中指內間；其支者，下廉三寸而別，下入中指外間；其支者，別跗上，入大指間，出其端。</p>

<h2>胃經穴圖</h2>
<p>（左右共九十穴，脈長八尺）</p>
<figure>
<img alt="胃經穴圖">
</figure>

<h2>胃經腑象圖</h2>
<figure>
<img alt="胃經腑象圖">
</figure>

<h2>胃腑經文</h2>
<p>胃之上口，名曰賁門，飲食之精氣，從此上輸於脾，肺宣布於諸脈。胃之下口，即小腸上口，名曰幽門。</p>
<p>脾胃者，倉廩之官，五味出焉。胃者，水穀氣血之海也。胃大一尺五寸，徑五寸，長二尺六寸，橫屈，受水穀三斗五升；其中之谷，常留二斗，水一斗五升而滿。是經多氣多血。《難經》曰：胃重二斤一兩。</p>

<h2>胃經循行主病總歌</h2>
<p>足陽明胃鼻頞起（頞，鼻莖也，亦曰山根；足之三陽從頭走足），互交旁納足太陽（納，入也，足太陽起睛明穴，與頞相近，陽明由頞中互交而下行，故入之也，）下循鼻外入上齒（鼻外，即承泣、四白、巨髎之分），挾口環唇交承漿（環，繞也；承漿，任脈穴），頤後（下廉）大迎頰車遊（腮下為頷，頷下為頤，頰車在耳下大迎頷下，穴名），耳前髮際至額顱（耳前，下關也；循髮際，以上頭維至額顱，會於督脈之神庭；額顱，髮際前也），支循喉嚨入缺盆，下膈屬胃絡脾州（胃與脾為表裡，此支自缺盆入內，下膈，當上脘、中脘之分，屬胃絡脾）。直者下乳挾臍中（直者，由缺盆直下而外行，自乳中天樞、外陵等穴下入氣街中，氣街在毛際兩旁，鼠鼷上一寸），支起胃口腹裡通，下至氣街中而合（由幽門循腹裡，過足少陰肓腧之外，此即上文支者之脈，由胃下行，而與直者復合於氣街之中），遂下髀關伏兔逢（膝上穴名），膝臏之中循脛外，足跗中指內間終（膝蓋曰臏，䯒骨曰脛，足面曰跗；此三者，犢鼻、巨虛、衝陽等穴之次也；乃循內庭入中指內間而出厲兌，足陽明經止此）。支者下廉三寸別，下入中指外間列（廉，上廉也；下廉三寸，即豐隆穴，是為陽明別絡，故下入中指外間），又有支者別跗上，大指之間太陰接。（又其支者，自跗上衝陽穴次別行，入大指間，斜出足厥陰行間之次，循大指出其端，而接乎足太陰經也）。此經多氣復多血，振寒呻欠面顏黑（土病而洒洒振寒者，風之勝也；善呻數欠，胃之郁也；黑，水色也；土病則水無所畏，故黑色反見於面顏）。病至惡見火與人（陽明厥逆，則喘而惋，惋則惡人也；惡火者，邪客陽明則甚也），忌聞木聲心惕惕（土惡木也），閉戶塞牖欲獨處（陰陽相薄而陰勝陽也），甚則登高棄衣走（陽盛則四支實，故上高而歌；熱盛於身，故棄衣而走）。賁響腹脹（脈循腹裡，水火相激而雷鳴）為骭厥（骭，足脛也；脈自臏下脛骨外廉，故為脛骭厥逆），是主血所生病者，狂瘧溫淫及汗出（熱勝則狂，風勝則瘧，溫氣淫泆則汗出），鼽衄口骭並唇胗（音疹，唇瘍，脈挾口環唇），頸腫喉痹腹水腫（土不能制水，故大腹水腫），膺乳膝臏股伏兔，骭外（廉）足跗上皆痛（陽明脈，從缺盆下乳內廉，挾臍腹、前陰，由股下足，以入中指，或為痛與不用）。氣盛熱在身以前（陽明行身之前），有餘消穀（善飢）溺黃甚，不足身以前皆寒，胃中寒而腹脹滿（此陽明虛實寒熱在經在臟之辨）。</p>

<h2>胃經穴歌</h2>
<p>四十五穴足陽明，承泣四白巨髎臨，地倉大迎登頰車，下關頭維對人迎，</p>
<p>水突氣舍連缺盆，氣戶庫房屋翳屯，膺窗乳中下乳根，不容承滿出梁門。</p>
<p>關門太乙滑肉起，天樞外陵大巨里，水道歸來達氣衝，髀關伏兔走陰市，</p>
<p>梁邱犢鼻足三里，上巨虛連條口底，下巨虛下有豐隆，解谿衝陽陷谷同，</p>
<p>內庭厲兌陽明穴，大指次指之端絡。</p>

<h2>取穴分寸</h2>
<p>承泣：（一名面髎，一名鼷穴。）在目下七分上，直瞳子陷中。陽蹺、任脈、足陽明三脈之會。</p>
<p>四白：在目下一寸，直瞳子，向鳩骨顴空，正視取之。</p>
<p>巨髎：夾鼻孔旁八分，直瞳子。陽蹺、足陽明之會。由此入上齒中，復出，循地倉。</p>
<p>地倉：（一名會維。）夾口吻旁四分外。如近下微有動脈，若久患風，其脈亦有不動者。手足陽明、任脈、陽蹺之會。（《靈官賦》云：地倉能止口流涎。灸七壯或二七壯，病右治左，病左治右；艾炷宜小，如粗釵腳，若過大口反喎。）</p>
<p>大迎：（一名髓孔。）在曲頷（頷腮下也）。前一寸三分，骨陷中動脈。本經自大迎循頰車，上耳前下關、頭維；其支者從大迎前下人迎。（《寒熱病》篇曰：臂陽明有入鳩偏齒者，名曰大迎，則此為手足陽明之會。灸三壯、七壯，炷如小麥。主治中風，牙關不開，失音不語，口眼歪斜，頰腫，牙痛失欠，牙關脫臼。）</p>
<p>頰車：（一名機關，一名曲牙。）在耳下，曲頰端近前陷中。側臥開口取之。</p>
<p>下關：在客主人下，耳前動脈下廉，合口有空，開口則閉，側臥閉口取之。足陽明、少陽之會。</p>
<p>頭維：在額角，入髮際，夾本神旁一寸五分，神庭旁四寸五分。足少陽、陽明之會。</p>
<p>人迎：（一名天五會。）在頸下，夾結喉旁一寸五分，大動脈應手，仰而取之。足陽明、少陽之會。《甲乙經》曰：夾結喉，以候五臟氣。（灸三壯。主治咳逆上氣，咽喉癰腫，短氣，喘息不得臥。）</p>
<p>水突：（一名水門。）在頸大筋前，直人迎下，夾氣舍上，內貼氣喉。</p>
<p>氣舍：在頸大筋前，直人迎下，夾天突邊陷中，貼骨尖上有缺。</p>
<p>缺盆：（一名天蓋。）在肩上橫骨陷者中。為五臟六腑之道。</p>
<p>氣戶：在巨骨下，夾俞府兩旁各二寸，去中行四寸陷中，仰而取之。</p>
<p>庫房：在氣戶下一寸六分，去中行四寸陷中，仰而取之。</p>
<p>屋翳：在庫房下一寸六分，去中行四寸陷中，仰而取之。</p>
<p>膺窗：在屋翳下一寸六分，巨骨下四寸八分，去中行四寸陷中，仰而取之。</p>
<p>乳中：當乳之中。（一傳胎衣不下，以乳頭向下盡處，俱灸之，即下。）</p>
<p>乳根：在乳中下一寸六分，去中行四寸陷中，仰而取之。（灸三壯、五壯。主治胸下滿痛，臂痛，乳痛悽悽，寒熱，霍亂轉筋，四厥。華佗《明堂》云：主膈氣不下食，噎病。）</p>
<p>不容：在第四肋端，幽門旁一寸五分，去中行二寸，對巨闕。《甲乙經》曰：去任脈二寸，至兩肘端，相去四寸。按：《甲乙經》曰：腹自不容以下至氣衝二十四穴，夾幽門旁各一寸五分，諸書皆同。及考幽門，則止去中行五分，是不容以下諸穴，當去中行二寸，而諸云三寸者非，今悉改為二寸。</p>
<p>承滿：在不容下一寸，去中行二寸，對上脘。</p>
<p>梁門：在承滿下一寸，去中行二寸，對中脘。（主治積氣脹滿，腸鳴切痛，泄痢不食，走氣俠臍急痛，痎瘧振寒，遺溺，灸五壯。）</p>
<p>關門：在梁門下一寸，去中行二寸，對建里。</p>
<p>太乙：在關門下一寸，去中行二寸，對下脘。</p>
<p>滑肉門：在太乙下一寸，天樞上一寸，去中行二寸，對水分。（灸五壯。主治癲狂，嘔逆，吐血，重舌，舌強。）</p>
<p>天樞：（一名長溪，一名谷門。）夾臍旁二寸，去肓俞一寸五分陷中。大腸募也。</p>
<p>外陵：在天樞下一寸，去中行二寸，對陰交。（灸五壯，主治腹痛，心下如懸，下引臍痛。）</p>
<p>大巨：（一名腋門。）在天樞下二寸，去中行二寸，對石門。</p>
<p>水道：在大巨下三寸，去中行二寸。</p>
<p>歸來：（一名溪穴。）在水道下二寸，去中行二寸。（灸五壯。主治奔豚，丸疝，陰丸上縮入腹引痛，婦人血臟積冷。）</p>
<p>氣衝：（一名氣街。）在歸來下，鼠溪上一寸，動脈應手宛宛中，去中行二寸。《骨空論王氏注》曰：在毛際兩旁，鼷上一寸動脈處也。《刺禁論王氏注》曰：氣街之中，膽胃脈也。膽之脈，循脅裡，出氣街，繞毛際；胃之脈，夾臍入氣街中。衝脈所起。（《金鑑》云：歸來下行在腿班中有肉核，名曰鼠溪。直上一寸，動脈應手，旁開中行二寸，氣街穴也。）</p>
<p>髀關：在膝上伏兔後交文中。一云在膝上一尺二寸。</p>
<p>伏兔：在膝上六寸起肉間，正跪坐而取之。一云在膝蓋上七寸，左右各三指按捺，上有肉起如兔狀，因以此名。</p>
<p>陰市：（一名陰鼎。）在膝上三寸，伏兔下陷中，拜而取之。一云在膝內輔骨後，大筋下、小筋上，屈膝得之。</p>
<p>梁邱：在膝上二寸兩筋間。足陽明郄。（《神農經》云：治膝痛，屈伸不得，可灸三壯、七壯。）</p>
<p>犢鼻：在膝臏下，胻骨上，骨解大筋陷中，形如牛鼻，故名。一曰在膝頭下，近外窟解中。（灸三壯，主治膝痛不仁，難跪起，腳氣。若膝臏癰腫潰者，不可治；不潰者，可療；若犢鼻堅硬，勿便攻之，先用洗熨，而後微刺之愈。）</p>
<p>三里：（即下陵，出《本輸篇》。）在膝眼下三寸，胻骨外廉，大筋內宛宛中，坐而堅膝，低跗取之，極重按之，則跗上動脈止矣。足陽明所入為合。（《千金》）云：灸二百壯至五百壯。一云：小兒忌灸三里，三十外方可灸，不爾反生疾。）</p>
<p>上巨虛：（一名巨虛上廉。）在三里下三寸，兩筋骨陷中，舉足取之。《海論》曰：衝脈者，其輸下出於巨虛之上下廉。巨虛上廉，足陽明與大腸合（上廉屬大腸，下廉屬小腸，出《本輸篇》及《邪氣藏府病形篇》）。</p>
<p>條口：在三里下五寸，下廉上一寸，舉足取之。</p>
<p>下巨虛：（一名巨虛下廉。）在上廉下三寸，兩筋骨陷中，蹲地舉足取之。巨虛下廉，足陽明與小腸合，又為衝脈下輸。</p>
<p>豐隆在外踝上八寸，下廉胻骨外廉陷中。足陽明絡，別走太陰。（灸三壯，主治頭痛面腫，喉痹不能言。）</p>
<p>解谿：在衝陽後一寸五分，足腕緊鞋帶處陷中。一曰在足大指、次指之間，直上跗上陷者宛宛中。《刺瘧論注》曰：在衝陽後三寸半。《氣穴論注》曰：二寸半。《甲乙經》曰：一寸半。足陽明所行為經。（療痎瘧寒熱，須兼刺厲兌、三里、解谿、商丘出血。）</p>
<p>衝陽：（一名會原，即仲景所謂趺陽也。）在足跗上五寸，高骨間動脈，去陷谷二寸。足陽明所過為原。（《刺禁論》曰：刺跗上中大脈，血出不止，死，即此穴也。）</p>
<p>陷谷：在足大指次指外間，本節後陷中，去內庭二寸。足陽明所注為輸。</p>
<p>內庭：在足大指次指外間陷中。足陽明所溜為滎。</p>
<p>厲兌：在足大指次指端，去爪甲如韭葉。按：《本輸篇》曰：厲兌者，足大指內次指之端也。《經脈》、《經筋》等篇俱雲中指。《繆刺篇》曰：邪客於足陽明之絡，刺足中指、次指爪甲上各一痏。據此諸篇之說，可見中指、次指之間，皆陽明脈氣所發也。足陽明所出為井。（刺一分，留一呼，灸一壯。主治屍厥，口噤氣絕，狀如中惡，心腹滿，水腫，熱病汗不出，寒熱瘧，不食麵腫，喉痹，齒齲，惡風，鼻不利，多驚發狂，好臥，足寒，膝臏腫痛。）</p>

<h2>正筋別本標</h2>
<p>足陽明之正，上至髀，入於腹裡，屬胃，散之脾，上通於心，上循咽，出於口，上額䪼，還擊目系，合於陽明也（此脾胃二經表裡相為一合也。足陽明上至髀關，其內行者由氣街入腹裡，屬於胃，散於脾，上通於心，循咽，出於口，上額䪼，入承泣之次，系目系，為目下綱，以合於陽明本經也。）</p>
<p>足陽明之筋，起於中三指，結於跗上，斜外上加於輔骨，上結於膝外廉，直上結於髀樞，上循脅屬脊；中三指，即足之中指，厲兌之旁也；結於跗上衝陽之次，乃從足面邪行出太陰、少陽兩筋之間，上輔骨，結於膝之外廉，直上髀樞，行少陽之前，循脅向後，內屬於脊。）其直者，上循骭，結於膝；其支者，結於外輔骨，合少陽；（其直者，自跗循骭，結於膝下外廉三里之次，上臏中；其支者，自前跗上斜外上行，結於外輔骨陽陵泉之分，與少陽相合。）其直者，上循伏兔，上結於髀，聚於陰器，上腹而布，（此直者，出膝臏直上，循伏兔、髀關之分，結於髀中，乃上行聚於陰器；陰陽總宗筋之會，會於氣街，而陽明為之長；乃自橫骨之分左右夾行，循天樞、關門等穴而上布於腹，此上至頸皆剛筋也。）至缺盆而結，上頸，上挾口，合於頄，下結於鼻，上合於太陽，太陽為目上綱，陽明為目下綱；（自缺盆上人迎，循頤頰，上挾口吻，與陽蹺會於地倉，上合於顴髎，下結於鼻旁，復上睛明穴，合於足太陽，太陽細筋散於目上，故為目上綱，陽明細筋散於目下，故為目下綱。）其支者，從頰結於耳前。（其支者，自頤頰間上結耳前，會於足少陽之上關、頷厭，上至頭維而終也。）</p>
<p>足陽明之別，名曰豐隆，去踝八寸，別走太陰；其別者，循脛骨外廉，上絡頭項，合諸經之氣，下絡喉嗌。其病氣逆，則喉痹瘁喑，實則狂巔；虛則足不收，脛枯；取之所別也。（胃為五臟六腑之海，而喉嗌、缺盆為諸經之孔道，故合諸經之氣下行而絡喉嗌，為病如此，治之者，當取所別之豐隆也。）</p>
<p>胃之大絡，名曰虛里，貫膈絡肺，出於左乳下，其動應衣，脈宗氣也。（此言胃氣所出之大絡，名曰虛里，其脈從胃貫膈，上絡於肺，而出左乳之下。其動應於衣，是為十二經脈之宗，故曰脈宗氣也。宗，主也，本也，蓋宗氣積於膻中，化於水谷，而出於胃也。《經脈篇》所載十五絡，並此共十六絡也。）</p>
<p>足陽明之本，在厲兌；（在足次指端。）標在人迎、頰、挾頏顙也。（人迎在結喉旁。）</p>

<h2>脾經循行圖</h2>
<figure>
<img alt="脾經循行圖">
</figure>

<h2>脾經循行經文</h2>
<p>脾足太陰之脈，起於大指之端，循指內側白肉際，過核骨後，上內踝前廉，上踹內，循脛骨後，交出厥陰之前，上膝股內前廉，入腹屬脾，絡胃上膈，挾咽連舌本，散舌下。其支者，復從胃，別上膈，注心中。</p>

<h2>脾經穴圖</h2>
<p>（左右共四十二穴，脈長六尺五寸）</p>
<figure>
<img alt="脾經穴圖">
</figure>

<h2>脾經臟象圖</h2>
<figure>
<img alt="脾經臟象圖">
</figure>

<h2>脾臟經文</h2>
<p>脾者，倉廩之官，五味出焉。形如刀鐮，與胃同膜，而附其上之左俞，當十一椎下。聞聲則動，動則磨胃，而主運化。其合肉也，其榮唇也，開竅於口。是經常多氣少血。《難經》曰：脾重二斤三兩，廣扁三寸，長五寸，有散膏半斤，主裹血，溫五臟，主藏意與智。滑氏曰：掩乎太倉。華元化曰：脾主消磨五穀，養於四旁。</p>

<h2>脾經循行主病總歌</h2>
<p>太陰脾起足大指（脾起足大指端隱白穴，足之三陰，從足走腹），循指內側白肉際，過核骨後內踝前（核骨，大指本節後，內側圓骨也；滑氏言為孤拐骨，非，蓋孤拐即踝骨，核骨惟一，踝骨則有內外之分；滑氏以足根為踝，亦非，）上踹（音煆，經中與腨通用，足肚也，亦名腓腸）循脛（本經由脛後漏谷上行，交出足厥陰之前，即地機之分）膝股里（股，大腿也，一曰髀內為股）。股內前廉入腹中（自衝門穴入腹內行），屬脾絡胃（當中脘、下脘之分）上膈通，挾咽連舌散舌下（自胃脘上行，連舌本、散舌下而終），支者從胃注心宮（足太陰外行者，由腹之四行上府舍、腹結等穴，而散於胸中，而止於大包；其支者，內行從胃脘別上膈，注心中，而接乎手少陰經也）。此經血少而氣旺，是痛即病舌本強，食則嘔出（脾不能運，則物盛滿而溢）胃脘痛，心中善噫而腹脹（噫，音隘，噯嘆聲。陰邪盛則上走陽明，陽明之正上通於心，故上走心，為噫，氣滯故也）。得後（大便）與氣（失氣）快然衰（陽氣出則陰邪散，故快然如衰），脾病身重（脾主肌肉，木剋土也）不能（動）搖，瘕泄（滯則為癥瘕，寒則為溏泄）水閉及黃疸（土不制水，則為泄，為水閉，為不能臥），煩心心痛（本經支脈上膈，注心中）食難消（食不下）。強立股膝內多腫（脾主四肢，脈起於足拇，以上膝股，故為腫為厥，為大指不用），不能臥因胃不和。</p>

<h2>脾經穴歌</h2>
<p>足太陰脾起足拇，隱白先從內側起，大都太白繼公孫，商邱直上三陰塢。</p>
<p>漏谷地機陰陵泉，血海箕門衝門前，府舍腹結大橫上，腹衰食竇天溪連。</p>
<p>胸鄉周榮大包盡，二十一穴太陰全。</p>

<h2>取穴分寸</h2>
<p>隱白：在足大指內側端，去爪甲角如韭葉。足太陰所出為井。（刺一分，留三呼，灸三壯。主治小兒客忤，驚風。）</p>
<p>大都：在足大指本節後，內側骨縫，白肉際陷中。足太陰所溜為滎。</p>
<p>太白：在足大指後，內側核骨下，赤白肉際陷中。足太陰所注為輸，即原也。</p>
<p>公孫：在足大指內側，本節後一寸，內踝前陷中，正坐，合足掌相對取之。太陰絡，別走陽明。（主治寒瘧不食，癇氣，好太息，多寒熱，汗出，喜嘔，卒面腫，心煩，多飲，膽虛，腹虛，水腫，腹脹如鼓，脾冷胃痛。刺四分，留七呼，灸三壯。《截法》云：能治心肝脾肺腎胃膽俱瘧，及諸黃疸。）</p>
<p>商邱：在內踝下微前陷中。前有中封，後有照海，此穴居中。內踝下有橫文如偃口形。足太陰所行為經。（灸三壯《百證賦》云：專治痔漏，最良。）</p>
<p>三陰交：在內踝上，除踝三寸，骨下陷中。足三陰之交會。（刺此穴能落死胎，妊娠不可刺。灸五十壯，主喉痹，項頸滿，腸痔，氣逆，痔血，陰急，鼻衄，夢泄，腳氣。）</p>
<p>漏谷：（一名太陰絡。）在內踝上六寸，骨下陷中。</p>
<p>地機：（一名脾舍。）在膝下五寸，內側骨下陷中，伸足取之。一曰在別走上一寸，孔在膝下五寸。足太陰郄。（灸五壯。主治腰痛不可俯仰，溏泄，腹脹，水腫，不嗜食，精不足，小便不利，足痹痛，女子癥瘕。）</p>
<p>陰陵泉：在膝下，內輔骨下陷中，伸足取之，或曲膝取之；與少陽經陽陵泉內外相對，一曰稍高一寸。足太陰所入為合。（《天星秘訣》云：若是小腸連臍痛，先刺陰陵後湧泉。）</p>
<p>血海：（一名百蟲窠。）在膝臏上一寸，內廉白肉際陷中。一云在膝內輔骨上，橫入五分。</p>
<p>箕門：在魚腹上，越兩筋間，陰股內廉，動脈應手。一云股上起筋間。《甲乙經》曰：太陰內市。</p>
<p>衝門：（一名慈宮。）上去大橫五寸，在府舍下，橫骨兩端約文中動脈，去腹中行三寸半。足太陰、厥陰之會。</p>
<p>府舍：在腹結下三寸，去腹中行三寸半。足厥陰、太陰、陰維之會。《甲乙經》曰：此脈上下入腹，絡胸結心肺，從脅上至肩，此太陰郄，三陰、陽明支別。</p>
<p>腹結：（一名腹屈。）在大橫下一寸三分，去腹中行三寸半。（灸五壯。主治咳逆，繞臍腹痛，中寒，瀉痢，心痛。）</p>
<p>大橫：在腹哀下三寸五分，平臍，去腹中行三寸半。足太陰、陰維之會。</p>
<p>腹哀：在日月下一寸五分，去腹中行三寸半。足太陰、陰維之會。</p>
<p>食竇：在天溪下一寸六分陷中，舉臂取之。</p>
<p>天溪：在胸鄉下一寸六分陷中，仰而取之。</p>
<p>胸鄉：在周滎下一寸六分陷中，仰而取之。</p>
<p>周滎：在中府下一寸六分陷中，仰而取之。</p>
<p>大包：在淵腋下三寸。脾之大絡，布胸脅中，出九肋間及季脅端。總統陰陽諸絡，由脾灌溉五臟。（刺三分，灸三壯。主治胸中喘痛，腹有大氣不得息，實則其身盡寒，虛則百節皆縱。）</p>

<h2>正筋別本標</h2>
<p>足太陰之正，上至髀，合於陽明，與別俱行，上結於咽，貫舌中。（足太陰之正，上股內，合於足陽明，與別者俱行，上咽貫舌。）</p>
<p>足太陰之筋，起於大指之端內側，上結於內踝；（自隱自循核骨而上，結於內踝下商邱穴。）其直者，結於膝內輔骨，（陰陵泉）上循陰股，結於髀，（箕門）聚於陰器，（自箕門乃上橫骨兩端，與足厥陰會於衝門，橫繞曲骨，並足少陰、陽明之筋，而聚於陰器，皆剛筋也。）上腹，結於臍，循腹裡，結於肋，散於胸中；其內者，著於脊。（其前行者，自陰器上腹，會手少陰之筋，結於臍，循腹裡，由大橫、腹哀之次，結於肋，乃散為柔細之筋，上行布於胸中胸鄉、大包之次；其內行者，由陰器、宗筋之間，並陽明、少陰之筋，而上著於脊。）</p>
<p>足太陰之別，曰公孫，去本節之後一寸，別走陽明；其別者，入絡腸胃。厥氣上逆則霍亂，實則腸中切痛，虛則鼓脹，取之所別也。（厥氣者，脾氣失調而或寒或熱，皆為厥氣逆而上行，則為霍亂；本經入腹，屬脾絡胃，故為如此之病；治此者，當取所別之公孫也。）</p>
<p>脾之大絡，名曰大包，出淵腋下三寸，布胸脅。實則身盡痛，虛則百節盡皆縱，此脈若羅絡之血者，皆取之脾之大絡脈也。（脾之大絡，名大包，在淵腋下三寸，布胸脅，出九肋間，總統陰陽諸絡，由脾灌溉五臟者也，故其為病如此；羅絡之血者，言此大絡包羅諸絡之血，故皆取脾之大絡，以去之大絡，即大包也。）</p>
<p>足太陰之本，在中封前上四寸之中；（中封，足厥陰經穴，前上四寸之中，當是三陰交也。）標在背俞與舌本也。（背腧即脾俞也，舌本，舌根也。）</p>

<h2>心經循行圖</h2>
<figure>
<img alt="心經循行圖">
</figure>

<h2>心經循行經文</h2>
<p>心手少陰之脈，起於心中，出屬心系，下膈絡小腸；其支者，從心系上挾咽，系目系；其直者，復從心系卻上肺，下出腋下，下循臑內後廉，行太陰心主之後，下肘內，循臂內後廉，抵掌後銳骨之端，入掌內後廉，循小指之內，出其端。</p>

<h2>心經穴圖</h2>
<p>（左右共十八穴，脈長三尺五寸）</p>
<figure>
<img alt="心經穴圖">
</figure>

<h2>心經臟象圖</h2>
<figure>
<img alt="心經臟象圖">
</figure>
<p><u>四臟皆繫於心</u></p>

<h2>心臟經文</h2>
<p>心者，君主之官，神明出焉。心居肺管之下，膈膜之上，附著於脊之第五椎。是經常少血多氣，其合脈也，其榮色也，開竅於耳，又曰舌。《難經》曰：心重十二兩，中有七孔三毛，盛精汁三合，主藏神。心象尖圓，形如蓮蕊，其中有竅，多寡不同，以導引天真之氣。下無透竅，上通乎舌，共有四系，以通於四臟。心外有赤黃裹脂，是為心包絡。心下有膈膜，與脊脅周迴相著，遮蔽濁氣，使不得上熏心肺，所謂膻中之虛谷也。</p>

<h2>心經循行主病總歌</h2>
<p>手少陰脈起心經，（心當五椎之下，其繫有五，上系連肺，肺下繫心，心下三系連脾肝腎，故心通五臟之氣，而為之主也。）下膈直絡小腸承，（當臍上二寸，下脘之分，絡小腸也。）支者挾咽系目系，（支者，從心系出任脈之外，上行挾咽，系目系，以合於內眥。）直（者）從心系上肺騰，下腋（其正脈自前心系復上肺，由足少陽淵腋之分，出腋下，行極泉，本經之外行者始此。）循臑後廉（青靈穴）出，太陰心主之後行，（手之三陰，少陰居太陰、厥陰之後。）下肘循臂（內後廉）抵掌後，銳骨之端（手腕下踝為銳骨，即神門穴也）。小指停。（入掌內後廉，循小指之內，出其端，手少陰經止此，乃交小指外側，而接乎大腸經也。滑氏曰：心為君主之官，尊於他臟，故其交經受授，不假支別云。）此經少血而多氣，是動咽乾心內疼，（本經支脈，從心系上挾咽。）目黃脅痛（系目，出腋。）渴欲飲，（心火炎，則心液津耗。）臑臂痛厥（脈行臑臂內後廉）。掌熱蒸。（脈入掌內後廉。）</p>

<h2>心經穴歌</h2>
<p>手少陰心起極泉，青靈少海靈道全，通里陰郄神門下，少府少衝小指邊。</p>

<h2>取穴分寸</h2>
<p>極泉：在臂內腋下筋間，動脈入胸中。</p>
<p>青靈：在肘上三寸，伸肘舉臂取之。滑氏曰：自極泉下循臑內後廉，行太陰、心主兩經之後，歷青靈穴。《甲乙經》：無此穴。</p>
<p>少海：（一名曲節。）在肘內廉，節後陷中。又云：肘內大骨下，去肘端五分，肘內橫文頭，屈肘向頭取之。手少陰所入為合。</p>
<p>靈道：在掌後一寸五分，一曰一寸。手少陰所行為經。</p>
<p>通里：在腕側後一寸陷中。手少陰絡，別走手太陽經。</p>
<p>陰郄：（一曰手少陰郄。）在掌後脈中，去腕五分，當小指之後。</p>
<p>神門：（一名兌沖，一名中都。）在掌後銳骨端陷中，當小指後。手少陰所注為輸。</p>
<p>少府：在小指本節後，骨縫陷中，直勞宮。手少陰所溜為滎。（此穴灸三壯，主治痎瘧久不愈，振寒，煩滿，少氣，胸中痛，悲恐畏人，臂酸，肘腋攣急，陰挺出，陰癢，陰痛，遺尿，偏墜，小便不利。）</p>
<p>少衝：（一名經始。）在手小指內側端，去爪甲角如韭葉。手少陰所出為井。（《乾坤生意》云：此為十井穴，治同手太陰。）</p>

<h2>正筋別本標</h2>
<p>手少陰之正，別入於淵腋兩筋之間，屬於心，上走喉嚨，出於面，合目內眥。（手少陰之正，自腋下三寸，足少陽淵腋之次，行兩筋之間，內屬於心與手太陽，入腋走心者合，乃上行挾於咽，出於面，合於目內眥，是當與足太陽睛明相會矣。）</p>
<p>手少陰之筋，起於小指之內側，結於銳骨（神門），上結肘內廉（少海），上入腋（極泉），交太陰，挾乳里，（此經自指至腋，入腋而交手太陰之筋，斜絡挾乳內行以上，皆剛筋也。）結於胸中，循賁，下繫於臍。（自乳里內行，結於胸中，與三陰之筋合。蓋心主、少陰之筋，皆與太陰合於賁，而下行也。）</p>
<p>手少陰之別，名曰通里，去腕一寸半，別而上行，（走手太陽。）循經入於心中，系舌本，屬目系。其實則支膈，虛則不能言，取之掌後一寸，別走太陽也。（本經入心，下膈，故邪實則支膈，謂膈間若有所支而不暢也；其支者上系舌本，故虛則不能言；當取通里以治之也。）</p>
<p>手少陰之本，在銳骨之端；（神門穴也。）標在背輸也。（心輸也。）</p>

<h2>小腸經循行圖</h2>
<figure>
<img alt="小腸經循行圖">
</figure>

<h2>小腸經循行經文</h2>
<p>小腸手太陽之脈，起於小指之端，循手外側，上腕出踝中，直上循臂骨下廉，出肘內側兩筋之間，上循臑外後廉，出肩解，繞肩腫，交肩上，入缺盆，絡心循咽，下膈抵胃，屬小腸；其支者，從缺盆循頸上頰，至目銳眥，卻入耳中；其支者，別頰上䪼抵鼻，至目內眥，斜絡於顴。</p>

<h2>小腸經穴圖</h2>
<figure>
<img alt="小腸經穴圖">
</figure>
<p>（左右共三十八穴，脈長五尺）</p>

<h2>小腸經腑象圖</h2>
<figure>
<img alt="小腸經腑象圖">
</figure>

<h2>小腸經文</h2>
<p>小腸者，受盛之官，化物出焉。小腸後附於脊，前附於臍，上左回疊，積十六曲，大二寸半，徑八分，分之少半，長三丈二尺，受谷二斗四升，水六升三合，合之大半。小腸上口，在臍上二寸近脊，水穀由此而入。復下一寸，而外附於臍，為水分穴，當小腸之下口，至是而泌別清濁，水液滲入膀胱，滓穢流入大腸。是經常多血少氣。《難經》曰：小腸重二斤十四兩。</p>

<h2>小腸經循行主病總歌</h2>
<p>手太陽經小腸脈，小指之端（外側）起少澤，循手（外側）上腕出踝中（銳骨），上臂骨出肘內側。兩筋之間（本經循臂骨下廉陽谷等穴，出肘內側兩骨尖中小海穴也，此處捺之應於小指之上）臑（外）後廉（行手陽明、少陽之外），出肩解（肩後骨縫曰肩解，即肩貞穴）而繞肩胛（臑俞、天宗等處。滑氏曰：脊兩傍為膂，膂上兩角為肩解，肩解下成片骨為肩胛，即肩膊也。）交肩之上（秉風、曲垣等穴，左右交於兩肩之上，會於督脈之大椎）入缺盆，直絡心中（自缺盆由胸中下行，入膻中絡心）循咽嗌，下膈抵胃屬小腸（自缺盆循咽下膈抵胃，下行當臍上二寸之分，屬小腸，此經之內行者），支從缺盆上頸頰。至目銳眥入耳中（其支行於外者，出缺盆，循頸中之天窗，上頰後之天容，由顴髎以入耳中之聽宮，手太陽經止於此），支者別頰（頰車、顴髎之次）斜上䪼（目下也），抵鼻至於目內眥，其絡與足太陽接（交目內眥足太陽之睛明穴也）。嗌痛頸腫（本經脈循咽下膈，支者循頸上頰，此寒淫所勝，病及火府也）頭難回（不可以顧），肩似拔兮臑似折（脈循臑出肩），耳聾目黃腫頰間（脈入耳，至目外眥，上頰），是所生病為主液（小腸主泌別清濁，病則水穀不分而流衍無制），頸頷肩臑肘臂（外後廉）痛，此經少氣而多血。</p>

<h2>小腸經穴歌</h2>
<p>手太陽經小腸穴，少澤先於小指設，前骨後谿腕骨間，陽谷須同養老列。</p>
<p>支正小海上肩貞，臑俞天宗秉風合，曲垣肩外復肩中，天窗循次上天容。</p>
<p>此經穴數一十九，還有顴髎入聽宮。</p>

<h2>取穴分寸</h2>
<p>少澤：（一名小吉。）在手小指外側端，去爪甲角一分陷中。《甲乙經》曰：在小指之端，去爪甲一分陷中。手太陽所出為井。（刺一分，留二呼，灸一壯。主治痎瘧，寒熱汗不出，喉痹，舌強，心煩，咳嗽，瘛瘲，臂痛，頸項痛不可顧，目生翳，及療婦人無乳。先瀉後補。《乾坤生意》云：此為十井穴，治同手太陰。）</p>
<p>前谷：在手小指外側，本節前陷中。手太陽所溜為滎。</p>
<p>後谿：在手小指本節後，外側橫文尖上陷中，仰手握拳取之。一云在手腕前外側，拳尖起骨下陷中。手太陽所注為輸。（刺一分，留二呼，灸一壯、三壯。《玉龍賦》云：專治時疫，痎瘧。一傳治早食午吐，午食晚吐，灸此左右二穴九壯，立愈。）</p>
<p>腕骨：在手外側，腕前起骨下陷中。手太陽所過為原。</p>
<p>陽谷：在手外側，腕中銳骨下陷中。手太陽所行為經。（灸三壯，治小兒瘛瘲，舌強。）</p>
<p>養老：在手外踝骨上一空，腕後一寸陷中。手太陽郄。</p>
<p>支正：在腕後外廉五寸。手太陽絡，別走少陰。</p>
<p>小海：在肘內大骨外，去肘端五分陷中，屈手向頭取之。手太陽所入為合。（刺二分，留七呼，灸五壯、七壯。主治肘臂肩臑頸項痛，寒熱，齒根痛，風眩瘍腫，小腹痛，五癇，瘛瘲。）</p>
<p>肩貞：在肩曲胛下兩骨解間，肩髃後陷中。</p>
<p>臑俞：在肩髎後，大骨下胛上廉陷中，舉臂取之。手足太陽、陽維、陽蹺之會。</p>
<p>天宗：在秉風后，大骨下陷中。</p>
<p>秉風：在肩上，天髎外小髃骨，舉臂有空。手太陽、陽明，手足少陽之會。</p>
<p>曲垣：在肩中央曲胛陷中，按之應手痛。</p>
<p>肩外俞：在肩胛上廉，去脊大椎旁三寸陷中，與大杼平。</p>
<p>肩中俞：在肩胛內廉，去脊大椎旁二寸陷中。</p>
<p>天窗：（一名窗籠。）在頸大筋前，曲頰下、扶突後，動脈應手陷中。（《千金》云：狂邪鬼語，灸九壯；癮疹，灸七壯。）</p>
<p>天容：在耳下，曲頰下後。（灸三壯。主治癭氣，頸癰不可回顧，不能言，齒噤，耳鳴，耳聾，喉痹，咽中如梗，寒熱胸滿，嘔逆吐沫。）</p>
<p>顴髎：（一名兌骨。）在面頄骨下廉，銳骨端陷中。手少陽、太陽之會。（刺二分，禁灸，主治口喎，面赤，目黃，眼瞤不止，䪼腫，齒痛。）</p>
<p>聽宮：（一名多所聞。）在耳中珠子，大如赤小豆。手足少陽、手太陽之會。</p>

<h2>正筋別本標</h2>
<p>手太陽之正，指地，別於肩解，入腋走心，系小腸也。（此小腸與心為表裡經脈，相為一合也；指地者，地屬陰，居天之內，手太陽內行之脈，別於肩解，入腋走心，繫於小腸，皆自上而下，自外而內，故曰指地；《經脈篇》言交肩上，入缺盆，絡心，此言別於肩解，入腋走心，蓋前後皆有入心之脈也。）</p>
<p>手太陽之筋，起於小指之上，結於腕，上循臂內廉，結於肘內銳骨之後，彈之應小指之上，入結於腋下；（手小指之上外側，少澤穴也；上行結於手腕外側腕骨、陽谷之次，上循臂內側，結於肘下銳骨之後，小海之次，但於肘尖上兩骨罅中，以指捺其筋，則痠麻應於小指之上，是其驗也；又由肘上臑外廉，入結於後腋之下，此皆剛筋也。）其支者，後走腋後廉，上繞肩胛，循頸出走太陽之前，結於耳後完骨；（其支者，自腋下與足太陽之筋合，走腋後廉上繞肩胛，行肩外俞、肩中俞，循頸中天窗之分，出走太陽經筋，自缺盆出者之前，同上結於耳後完骨之次也。）其支者，入耳中；直者，出耳上，下結於頷，上屬目外眥。（此支者，自頸上曲牙，入耳中聽宮之分；其直者，上行出耳上，會於手少陽角孫之次；其前而下者，循頤結於頷，與手陽明之筋會合；其前而上者，屬目外眥瞳子髎之次，與手足少陽之筋合也。）</p>
<p>手太陽之別，名曰支正，上腕五寸，內注少陰；其別者，上走肘，絡肩髃。實則節弛肘廢，虛則生疣，小者如指痂疥，取之所別也。（支正在腕後五寸，走臂內則注手少陰者也；此經走肘絡肩，故邪實則脈絡壅滯，而節弛肘廢；正虛則血氣不行，大則為疣，即贅瘤也，小則為指間痂疥之類；治此者，當取所別之支正也。）</p>
<p>手太陽之本，在外踝之後；（當是養老穴也。）標在命門之上一寸也。（當是睛明穴上一寸，蓋睛明為手足太陽之會。）</p>

<h1>卷三</h1>

<h2>膀胱經循行圖</h2>
<figure>
<img alt="膀胱經循行圖">
</figure>

<h2>膀胱經循行經文</h2>
<p>膀胱足太陽之脈，起於目內眥，上額交巔；其支者，從巔至耳上角；其直者，從巔入絡腦，還出別下項，循肩膊內，挾抵腰中，入循膂，絡腎屬膀胱；其支者，從腰中下挾脊貫臀，入膕中；其支者，從膊內左右，別下貫胛，挾脊內，過髀樞，循髀外從後廉下合膕中，以下貫腨內，出外踝之後，循京骨，至小指外側。</p>

<h2>膀胱經穴圖</h2>
<figure>
<img alt="膀胱經穴圖">
</figure>
<p>（左右共一百二十六穴，脈長八尺）</p>

<h2>膀胱經腑象圖</h2>
<figure>
<img alt="膀胱經腑象圖">
</figure>

<h2>膀胱經文</h2>
<p>膀胱者，州都之官，津液藏焉，氣化則能出矣。膀胱當十九椎，居腎之下，大腸之前。有下口，無上口。當臍上一寸水分穴處，為小腸下口，乃膀胱上際，水液由此別迴腸，隨氣泌滲而入。其出其入皆由氣化，入氣不化，則水歸大腸，而為泄瀉；出氣不化，則閉塞下竅，而為癃腫。後世諸書有言其有上口、無下口，有言上下諸有口者，皆非。是經常多血少氣。《難經》曰：膀胱重九兩二銖，縱廣九寸，盛溺九升九合，口廣二（寸半）。</p>

<h2>膀胱經循行主病總歌</h2>
<p>足太陽經膀胱脈，目內眥（睛明）上額交巔（由攢竹而上至絡卻穴，左右斜行而交於巔頂之百會），支者從巔入耳（上）角（其支者，由百會旁行至耳上角，過足少陽之曲鬢、率骨、天衝、浮白、竅陰、完骨，故此六穴者，皆為足太陽、少陽之會），直者從（百會）巔（入）絡腦間（自百會行通天、絡卻、玉枕，入絡於腦中也）。還出（別）下項循肩膊（自腦復出，別下項，由天柱而下會於督脈之陶道、絡卻，循肩膊內，分作四行而下），挾脊抵腰（此言內兩行者，去脊一寸五分，行十二俞等穴而抵腰中也）循膂旋（脊兩旁之內為膂），絡腎正屬膀胱腑（自腰中入膂，絡腎前，屬膀胱），一支貫臀入膕傳（從腰中循髖骨下，夾脊歷四髎穴，貫臀之會陽下行承扶、委陽等穴，入之委中也；尻旁大肉曰臀，膝後曲處曰膕）。一支從膊（內左右）別貫胛（此言肩膊內大杼下外兩行也，左右貫胛，去脊各三寸別行，歷附分、魄戶等穴而下行也），挾脊（內過髀樞）循髀（外從後廉下）合膕行（由秩邊過髀樞，會於足少陽環跳穴，循髀外後廉，去承扶一寸五分之間下行，復與前之入膕中者相合），貫腨（內）出（外）踝循京骨（小趾本節後大骨曰京骨），小趾外側至陰全（足太陽經止此，乃交於小趾之下，而接乎足少陰經）。此經少氣而多血，頭痛脊痛腰如折，目似脫兮項似拔，膕如結兮腨如裂，髀不可曲（以上皆足太陽經脈所歷之處，而見諸證，皆濕淫所勝，土邪傷水也）及（為）踝厥（脈出外踝之後筋，亦結於外踝也），是所生病在筋結（周身筋脈，惟足太陽為多、為巨，其下者結於腫腨膕臀等處，其上者挾腰脊，絡肩項上頭，為目上綱，下結於頄，故凡為攣、為弛、為反張、戴眼之類，皆足太陽之水虧，而主筋所生病）。痔（脈入肛）瘧（經為表）狂癲（邪入於陽）疾並生，鼽衄（太陽經氣不能循經下行，上衝於腦而為是病也）目黃而淚出（頭），囟項背腰尻膕腨，病若動時皆痛徹。（以上皆經脈所過。）</p>

<h2>膀胱經穴歌</h2>
<p>足太陽經六十三，睛明攢竹曲差參，五處承光接通天，絡卻玉枕天柱邊。</p>
<p>大杼風門引肺俞，厥陰心膈肝膽居，脾胃三焦腎俞次，大腸小腸膀胱如。</p>
<p>中膂白環皆二行，去脊中間二寸許，上髎次髎中復下，會陽須向尻旁取。</p>
<p>還有附分在三行，二椎三寸半相當，魄戶膏肓與神堂，譩譆膈關魂門旁。</p>
<p>陽綱意舍及胃倉，肓門志室連胞肓，秩邊承扶殷門穴，浮郄相鄰是委陽。</p>
<p>委中再下合陽去，承筋承山相次長，飛陽跗陽達崑崙，僕參申脈過金門。</p>
<p>京骨曲骨近通谷，小指外側尋至陰。</p>

<h2>取穴分寸</h2>
<p>睛明：（一名淚孔。）在目內眥外一分宛宛中。《氣府論注》曰：手足太陽、足陽明、陰陽蹺五脈之會。</p>
<p>攢竹：（一名始光，一名員柱，一名夜光，一名光明。）在眉頭陷者中。（《明堂》：用細三稜針刺之，宣泄熱氣，眼目大明，宜刺三分出血。）</p>
<p>曲差：（一名鼻沖。）在神庭旁一寸五分，入髮際，正頭取之。</p>
<p>五處：在曲差後五分，夾上星旁一寸五分。</p>
<p>承光：在五處後一寸五分。《水熱穴論注》曰：五處後一寸。《甲乙經》：五處後二寸。（此穴刺三分，禁灸。）</p>
<p>通天：（一名天曰。）在承光後一寸五分，一曰橫直百會旁一寸五分。（刺三分，留七呼，灸二壯。《千金》云：癭氣面腫，灸五十壯。《百證賦》云：能去鼻內無聞之苦。）</p>
<p>絡卻：（一名強陽，一名腦蓋。）在通天後一寸五分。《甲乙經》：一寸三分。</p>
<p>玉枕：在絡卻後一寸五分。《甲乙經》曰：在絡卻後七分，夾腦戶旁一寸三分，起肉枕骨上，入後髮際三寸。（按：《甲乙經》之數與督脈之數不合。）</p>
<p>天柱：俠項後大筋外廉，髮際陷中。</p>
<p>大杼：在項後第一椎下兩旁，相去脊中各二寸陷中，正坐取之。《海論》曰：衝脈者，其輸上在於大杼。《氣穴論注》曰：督脈別絡，手足太陽三脈之會。</p>
<p>風門：（一名熱府。）在二椎下兩旁，各去脊中二寸，正坐取之。督脈、足太陽之會。熱府腧也。（刺五分，留七呼，灸五壯。主治傷寒，頭痛項強，目瞑，鼽嚏，胸中熱，嘔逆，氣喘臥不安，身熱黃疸，癰疽發背。此穴能瀉一身熱氣，常灸之，永無癰疽瘡疥等患。）</p>
<p>肺俞：在三椎下，去脊中各二寸。又以手搭背，左取右，右取左，當中指末處是穴，正坐取之。《千金》曰：肺俞對乳，引繩度之。《素問》曰：刺中肺，三日死。《千金》云：治吐血唾血，上氣咳逆，喉痹，灸隨年壯；主治內言治腰脊強痛，背僂如龜，寒熱，癭氣，黃疸。</p>
<p>厥陰俞：在四椎下，去脊中二寸，正坐取之。（此穴出《山眺經》、《甲乙經》無。</p>
<p>心俞：在五椎下，去脊中二寸，正坐取之。（《素問》曰：刺中心，一日死。《神農經》云：小兒氣不足者，數歲不能語，可灸五壯，艾炷如麥粒。）</p>
<p>膈俞：在七椎下，去脊中二寸，正坐取之。為血之會。（此血會也，諸血病者皆宜灸之。）</p>
<p>肝俞：在九椎下，去脊中二寸，正坐取之。（《素問》曰：刺中肝，五日死。）</p>
<p>膽俞：在十椎下，去脊中二寸，正坐取之。（《素問》曰：刺中膽，一日半死。）</p>
<p>脾俞：在十一椎下，去脊中各二寸，正坐取之。（《素問》曰：刺中脾，十日死。）</p>
<p>胃俞：在十二椎下，去脊中二寸，正坐取之。</p>
<p>三焦俞：在十三椎下，去脊中二寸，正坐取之。（《千金》云：少腹堅大如盤盂，胸腹脹滿，飲食不消，婦人症聚瘦瘠，灸三焦俞百壯，三報之。治屎血，灸百壯。）</p>
<p>腎俞：在十四椎下，與臍平，去脊中二寸，正坐取之。（《素問》曰：刺中腎，六日死。《素問·血氣形志篇》有五臟俞度。）</p>
<p>黃帝問於岐伯曰：願聞五臟出於背者。（五臟居中，其脈氣俱出於背之足太陽經，是為五臟之俞。）岐伯曰：背中大俞，在杼骨之端，（大俞即大杼穴。）肺俞在三焦之間，心俞在五焦之間，膈俞在七焦之間，肝俞在九焦之間，脾俞在十一焦之間，腎俞在十四焦之間，皆挾脊相去三寸所。（焦，即椎之義，指脊骨之節間也；自大杼至腎俞，左右各去脊中一寸五分，故云挾脊相去三寸所也。）則欲得而驗之，按其處，應在中而痛解，乃其俞也。（驗取穴之法，但按其俞穴之處，必痛而且解，即其所也；解，痠軟、解散之謂。）欲知背俞，先度其兩乳，間中折之，更以他草度去半已，即以兩隅相拄也。（拄音主，支也，撐也。）乃舉以度其背，令其一隅居上，齊脊大椎，兩隅在下，當其下隅者，肺之俞也。（此亦取五臟俞之法，先以草橫量兩乳之間，中半摺折之，又另以一草，比前草而去其半，取齊中折之數，乃豎立長草，橫置短草於下，兩頭相拄，象△三隅，乃舉此草以量其背，令一隅居上，齊脊中之大椎，其在下兩隅當三椎之前，即肺俞穴。）復下一度，（謂以上隅齊三椎，即肺俞中央，其下兩隅即五椎之間。）心之俞也。復下一度，左角肝之俞也，右角脾之俞也。復下一度，腎之俞也。是謂五藏之俞，灸刺之度也。（按：肝、脾、腎俞取法與諸書不合。當以《背俞篇》及《甲乙經》等書為是。）</p>
<p>大腸俞：在十六椎下，去脊中二寸，伏而取之。（刺三分，留七呼，灸三壯。主治脊強不得俯仰，腰痛，腹脹，繞臍切痛，腸癖，瀉痢，食不化，大小便不利。）</p>
<p>小腸俞：在十八椎下，去脊中二寸，伏而取之。（《千金》云：消渴，口乾不可忍者，灸百壯，橫三間寸灸之。）</p>
<p>膀胱俞：在十九椎下，去脊中二寸，伏而取之。</p>
<p>中膂內俞：（一名脊內俞。）在二十椎下，去脊中二寸，夾脊胛起肉間，伏而取之。</p>
<p>白環俞：在二十一椎下，去脊中二寸，伏而取之。</p>
<p>上髎：在腰髁骨下一寸，夾脊兩旁第一空陷中。《繆刺論注》曰：腰下夾尻有空骨各四，蓋即此四穴也。《刺腰痛論注》曰：上髎，當髁骨下陷中，餘三髎少斜下，按之陷中是也。（腰髁者，即十六椎下、腰脊兩旁起骨之夾脊者。）足太陽、少陽之絡。</p>
<p>次髎：夾脊旁第二空陷中。</p>
<p>中髎：夾脊旁三空陷中。</p>
<p>下髎：夾脊旁四空陷中。《刺腰痛篇》及《繆刺論》王注皆曰：足厥陰支別者，與太陰、少陽結於腰踝下，夾脊第三、第四骨空中，其穴即中髎、下髎也。</p>
<p>會陽：（一名利機。）在陰尾尻骨兩旁。《甲乙經》曰：督脈氣所發。（刺二分，灸五壯；一曰刺八分。主治腹中寒氣泄瀉，腸癖，便血，久痔，陽氣虛乏，陰汗濕。）</p>
<p>附分：在二椎下，附項內廉兩旁，相去脊中各三寸半，正坐取之。手足太陽之會。</p>
<p>魄戶：在三椎下，去脊中各三寸半，正坐取之。（《神農經》云：治虛勞發熱，可灸十四壯。）</p>
<p>膏肓俞：在四椎下、五椎上，去脊中各三寸半，正坐曲脊取之。《千金翼》云：先令病人正坐，曲脊，伸兩手，以臂著膝前，令正直，手大指與膝頭齊，以物支肘，勿令臂動，乃從胛骨上角摸索至胛骨下頭，其間當有四肋三間，依胛骨之際，相去骨際如容側指許，按其中一間空處，自覺牽引肩中，是其穴也。左右各灸至百壯，或三、五百，多至千壯，當氣下嚨嚨然，如流水之降；若停痰宿疾，亦必下也。若病人已困，不能正坐，當令側臥，挽上臂令前，索孔穴灸之。又法：但以右手搭左肩上，中指稍所不及處是其穴也，左手亦然，乃以前法灸之。其有不能久坐伸臂者，亦可伏衣襆上，伸兩臂，令人挽兩胛骨，使相離遠；不爾，胛骨覆穴，不得其真也。所伏衣襆，當令大小得宜；不爾，則前郤亦失其穴也。此穴灸後令人陽氣日盛，當消息自為補養，令得平復，則諸病無所不治。又法：如其人骨節分明，則以椎數為準；若脊背肥厚，骨節難尋，須以大椎至尾骶，量分三尺折取之；不然，則以平臍十四椎命門為則，逐椎分寸取之，則穴無不真。然取大椎之法，除項骨三節不在內，或人亦有項骨短而無可尋者，但當以平肩之處為第一椎，以次求之，可無差也。《捷經》云：灸膏肓功效，諸書例能言之，而取穴則未也。《千金》等方之外，莊綽論之最詳，然繁而無統，不能歸定於一。余嘗以意取之，令病人兩手交在兩膊上，灸時亦然，胛骨遂開，其穴立見，以手指摸索第四椎下兩旁各三寸，四肋三間之中，按之痠疼是穴，灸至千壯，少亦七七壯，當以《千金》立點、立灸，坐點、坐灸，臥點、臥灸為的。劉瑾云：取膏肓二穴，當除第一椎小骨不算，若連第一椎數下，當在五椎下兩旁各三寸半，共折七寸，分兩旁，按其痠疼處，乃是真穴。每依此灸療，多獲全愈。灸七七壯至百壯、千壯。一云灸後當灸足三里，以引火實下。此穴自晉以前所未有，乃後人之所增也。（此穴主治百病，無所不療，虛羸瘦損，五勞七傷諸病，夢遺失精，上氣咳逆，痰火發狂，健忘，胎前產後，可灸二七至七七壯。）</p>
<p>神堂：在五椎下，去脊中各三寸半陷中，正坐取之。</p>
<p>譩譆：在肩膊內廉，六椎下，去脊中各三寸半，正坐取之。《甲乙經》曰：以手痛按之，病者呼譩譆是穴，蓋因其痛也。（《千金》云：多汗瘧病，灸五十壯。）</p>
<p>膈關：在七椎下，去脊中各三寸半陷中，正坐開肩取之。此亦血會。（刺五分，灸五壯，治諸血病。）</p>
<p>魂門：在九椎下，相去脊中各三寸半陷中，正坐取之。</p>
<p>陽綱：在十椎下，去脊中三寸半陷中，正坐取之。</p>
<p>意舍：在十一椎下，去脊中三寸半陷中，正坐取之。</p>
<p>胃倉：在十二椎下，去脊中各三寸半，正坐取之。</p>
<p>肓門：在十三椎下，去脊中各三寸半，又肋間陷中，前與鳩尾相直，正坐取之。</p>
<p>志室：在十四椎下，去脊中各三寸半陷中，正坐取之。</p>
<p>胞肓：在十九椎下，去脊中各三寸半陷中，伏而取之。</p>
<p>秩邊：在二十一椎下，去脊中各三寸半陷中，伏而取之。（刺五分，灸三壯。主治腰痛，五痔，小便赤澀。）</p>
<p>承扶：（一名肉郄，一名陰關，一名皮部。）在尻臀下、股陰上約文中。</p>
<p>殷門：在承扶下六寸，膕上兩筋之間。</p>
<p>浮郄：在委陽上一寸，屈膝得之。</p>
<p>委陽：在承扶下六寸，屈伸取之。《邪氣臟腑病形篇》曰：三焦合入於委陽。《甲乙經》曰：委陽，三焦下輔腧也，在足太陽之前，少陽之後，出於膕中外廉兩筋間，此足太陽別絡也。《本輸篇》曰：三焦下腧出於委陽，並太陽之正，入絡膀胱，約下焦，實則閉癃，虛則遺溺；遺溺則補之，閉癃則瀉之。（刺七分，留五呼，灸三壯。）</p>
<p>委中：（一名血郄。）在膕中央約文動脈陷中，伏臥屈足取之。足太陽所入為合。（刺五分，留七呼，灸三壯。一云禁灸。春月勿令出血，蓋太陽合腎，主於冬，水衰於春，故春毋令出血。）</p>
<p>合陽：在膝膕約文下二寸。</p>
<p>承筋：（一名腨腸，一名直腸。）在腨腸中央陷中，腳跟上七寸。（灸三壯，禁刺。）</p>
<p>承山：（一名肉柱，一名魚腹。）在兌腨腸下分肉間陷中。一雲腿肚下尖分肉間。（《靈光賦》云：治轉筋並久痔。今時多用此穴治傷寒，立效。亦有初發瘧疾者，灸之立已。）</p>
<p>飛陽：（一名厥陽。）在足外踝上七寸後陷中。足太陽絡，別走少陰。</p>
<p>跗陽：在足外踝上三寸，太陽前、少陽後筋骨之間。陽蹺之郄。</p>
<p>崑崙：在足外踝後五分，跟骨上陷中，細動脈應手。足太陽所行為經。（刺三分，留七呼，灸三壯。馬丹陽《天星十二穴》云：治轉筋腰尻痛，膊重更連陰，頭疼脊背急，暴喘滿衝心，舉步行不得，動足即呻吟，若欲求安樂，須尋此穴針。《神農經》云：小兒陰腫，可灸三壯，炷如小麥。）</p>
<p>僕參：（一名安邪。）在跟骨下陷中，拱足得之。足太陽、陽蹺之會。</p>
<p>申脈：在足外踝下五分陷中，容爪甲許白肉際。陽蹺脈所生。（刺三分，留七呼，灸三壯。《靈光賦》云：陽蹺、陰蹺及陽陵、陰陵四穴，治腳氣；又兼足三里，同治腳氣，亦去在腰諸疾。）</p>
<p>金門：（一名關梁。）在足外踝下一寸。足太陽郄，陽維別屬也。</p>
<p>京骨：在足小指外側，本節後、大骨下、赤白肉際陷中，可按而得。足太陽所過為原。</p>
<p>束骨：在足小指外側，本節後陷中，赤白肉際。足太陽所注為輸。</p>
<p>通谷：在足小指外側，本節前陷中。足太陽所溜為滎。</p>
<p>至陰：在足小指外側，去爪甲角如韭葉。足太陽所出為井。（張仲文治婦人橫產手先出，諸符藥不效，為灸右腳小指尖三壯，炷如小麥，下火立產。）</p>

<h2>正筋別本標</h2>
<p>足太陽之正，別入於膕中，其一道下尻五寸，別入於肛，屬於膀胱，散之腎，循膂當心入散；直者，從膂上出於項，復屬於太陽，此為一經也。（此膀胱與腎為表裡，故其經脈相為一合也。足太陽之正入膕中，與少陰合而上行，其別一道下尻五寸，當承扶之次，上入肛門內，行腹中，屬於膀胱，散於腎，循膂當心入散，上出於項，而復屬於本經太陽，此內外同為一經也。）</p>
<p>足太陽之筋，起於足小指，上結於踝，邪上結於膝，（足太陽之筋，起於足小指爪甲之側，即足太陽經脈所止之處至陰穴次也；循足跗外側，上結於外踝崑崙之分，乃邪上跗陽而結於膝膕之分。結，聚也。）其下循足外踝，結於踵，上循跟，結於膕；（其下，足跗之下也；踵即足跟之突出者，跟即踵上之鞭筋處也，乃僕參、申脈之分；結於膕，委中也。膕，音國；鞭，硬同。）其別者結於腨外，上膕中內廉，與膕中並，（此即大筋之旁出者，別而為柔軟短筋，亦猶木之有枝也。後凡言別者、支者，皆仿此。此支自外踝別行，由足腨肚之下尖處，行少陽之後，結於腨之外側，絡穴飛陽之分，乃上膕內廉，合大筋於委中而一之也。）上結於臀，（尾骶骨旁會陽之分也。臀，音屯。）上挾脊上項，（夾脊背，分左右上項，會於督脈之陶道、大椎，此皆附脊之剛筋也。）其支者，別入結於舌本；（其支者，自項別入內行，與手少陽之筋結於舌本，散於舌下，自此以上皆柔軟之筋，而散於頭面。）其直者，結枕骨，上頭下顏結於鼻；（其直者，自項而上，與足少陰之筋合於腦後枕骨間，由是而上過於頭前，下於顏，以結於鼻下之兩旁也；額上曰顏。）其支者，為目上綱，下結於頄；綱，綱維也，所以約束目睫，司開闔者也。目下曰頄，即顴也。此支自通頂於腦者，下屬目本，散於目上，為目上綱；下行者，結於頄，與足少陽之筋合。頄，音求。）其支者，從腋後外廉，結於肩髃；（又其支者，從挾脊循腋後外廉，行足少陽之後，上至肩，會手陽明之筋，結於肩髃。）其支者，入腋下，上出缺盆，上結於完骨；（此支後行者，從腋後、腋下向前，邪出陽明之缺盆，乃從耳後直上，會於手太陽、足少陰之筋，結於完骨。完骨，耳後高骨也。）其支者，出缺盆，邪上出於頄。（此支前行者，同前缺盆之筋岐出別上頤頷，邪行出於頄，與前之下結於頄者相合也。）</p>
<p>足太陽之別，名曰飛陽，去踝七寸，別走少陰，實則鼽窒、頭背痛，虛則鼽衄，取之所別也。（足太陽之絡，名飛陽，在足外踝上七寸，別走足少陰者也；此經起於目內眥，絡腦行頭背，故其病如此；治此者，當取所別之飛陽。）</p>
<p>足太陽之本，在跟以上五寸中；（跗陽穴也。）標在兩絡命門。命門者，目也。（即睛明穴。）</p>

<h2>腎經循行圖</h2>
<figure>
<img alt="腎經循行圖">
</figure>

<h2>腎經循行經文</h2>
<p>腎足少陰之脈，起於小指之下，邪走足心，出於然谷之下，循內踝之後，別入跟中，以上腨內，出膕內廉，上股內後廉，貫脊屬腎絡膀胱；其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本；其支者，從肺出絡心，注胸中。</p>

<h2>腎經穴圖</h2>
<p><u>左右共五十四穴，脈長六尺五寸</u></p>
<figure>
<img alt="腎經穴圖">
</figure>

<h2>腎經臟象圖</h2>
<figure>
<img alt="腎經臟象圖">
</figure>

<h2>腎臟經文</h2>
<p>腎者，作強之官，伎巧出焉。腎附於脊之十四椎下。是經常少血多氣。其合骨也，其榮發也，開竅於二陰。《難經》曰：腎有兩枚，重一斤二兩，主藏精與志。華元化曰：腎者，精神之舍，性命之根也。腎有兩枚，形如豇豆，相併而曲，附於脊之兩傍、相去各一寸五分；外有黃脂包裹，各有帶二條，上條繫於心，下條趨脊下大骨，在脊骨之端，如半手許；中有兩穴，是腎帶經過之處，上行脊間至腦中，連於髓海。</p>

<h2>腎經循行主病總歌</h2>
<p>足腎經脈屬少陰，斜從小指趨足心（足太陽之脈，終於足小指，而足少陰脈於小指下接之，斜走足心湧泉穴），出於然骨（在內踝前大骨下）循內踝，（之後別）入跟（中）上腨（內出）膕內（廉）尋（自復溜交信，過足太明之三陰交，以上腨內之築賓，出膕內廉之陰谷），上股（內）後廉直貫脊（結於督脈之長強，貫脊中而後屬腎），屬腎下絡膀胱深（前當關元、中極之分，而絡於膀胱。滑氏曰：由陰谷上股內後廉，貫脊會於長強，還出於前，循橫骨而上至肓俞之次、臍之左右，屬腎下臍，至關元、中極之分而絡膀胱也），直者從腎（肓俞之分）貫肝膈，入肺（中）挾舌（本）循喉嚨（自肓俞上行，循商曲等穴，至俞府而上循喉嚨，並人迎、挾舌本而終。按：足少陰經，考之本篇及經別、經筋等篇，皆言由脊裡上注心肺，而散於胸中。惟《骨空論》曰：衝脈起於氣街，並少陰之經，俠臍上行，至胸中而散。故《甲乙經》曰：於俞府下至步廊等六穴，皆云足少陰脈氣所發；幽門至橫骨等十一穴，皆云衝脈、足少陰之會；故滑氏注如此，實本《甲乙》、《銅人》諸書，而《甲乙》又本於《骨空論》也），支者從肺絡心上，注胸（膻中）交於手厥陰（其支者，自神藏之際，從肺絡心注胸中。以上俞府諸穴，少陰經止此，而接乎手厥陰經也）。此經多氣而少血，是動病飢不欲食（腎雖陰臟，元陽所居，水中有火，為脾胃之關；陰動則陽衰而脾困，真火不能溫養化源也），面如漆柴（水色黑，陰邪見也，腎藏脾精，衰則枯如柴而無發生也）咳唾（有）血，喝喝而喘（真陰損則虛火上奔，子病及母也）坐（而欲）起輒（陰處不能靜也），兩目䀮䀮（如）無所見（目瞳子者，骨之精也，腎精內奪則䀮䀮如無所見，故凡目多昏黑者，必真水虧也），心（如）懸（心腎不交，則精離散）若飢（陰虛則內餒，故常若飢狀；土邪淫勝，病本於腎也）皆精失，善恐（心惕惕）如人將捕之（腎在志為恐，腎氣怯，故為病如此），咽腫舌乾兼口熱，上氣（腎水上溢為腫）心痛或心煩（本經之脈循喉嚨、俠舌本；其支者，從肺出絡心，故為病如此），黃疸（陰虛陽實為黃疸，云腎水乘脾，或為女勞疸）腸澼（陽邪自表入臟，並聚於陰，留薄下集，則為腸澼）及痿（骨痿）厥（下不足則上逆），脊股後廉之內痛（皆經脈所過），嗜臥（多陰少陽，精神匱也。《逆調論》曰：腎者水臟，主津液，主臥與喘也）足下熱痛切（脈起足心）。</p>

<h2>腎經穴歌</h2>
<p>足少陰穴二十七，湧泉然谷太谿立，大鐘水泉連照海，復溜交信築賓實，</p>
<p>陰谷膝內輔骨後，已上從足走至膝，橫骨大赫聯氣穴，四滿中注肓俞臍，</p>
<p>商曲石關陰都密，通谷幽門寸半闢，折量腹上分十一，步廊神封膺靈墟，</p>
<p>神藏彧中俞府畢。</p>

<h2>取穴分寸</h2>
<p>湧泉：（一名地衝。）在足心陷中，屈足卷指宛宛中。足少陰所出為井。（《史記》：漢北齊王阿母患足下熱，喘滿，淳于意曰：熱厥也，刺足心立愈。《千金》云：鼻衄不止，灸二百壯。）</p>
<p>（然谷：一名龍淵，一名然骨。）在足內踝前起大骨下陷者中，別於足太陰之郄。足少陰所溜為滎。（刺三分，留三呼，灸三壯。一曰刺不宜見血。治喘，煩滿，咳血，喉痹，消渴，舌縱，心恐，氣少，涎出，小腹脹，痿厥，寒疝，足跗腫，胻酸，寒熱，不久立，男子遺精，婦陰挺，月經不調，難成孕，初生小兒臍風動撮口，洞泄，此穴瀉。《百證賦》云：此穴易醒臍風。）</p>
<p>太谿：（一名呂細。）在足內踝後五分，跟骨上動脈陷中。男子、婦人病，有此脈則生，無此脈則死。足少陰所注為輸，即原也。（《神農經》云：治牙疼，可灸七壯。）</p>
<p>大鐘：在足跟後沖中，大骨上兩筋間。《水熱穴論注》曰：在足內踝後沖中。足少陰絡，別走太陽。</p>
<p>水泉：在足內踝下，太谿下一寸。足少陰郄。</p>
<p>照海：在足內踝下一寸陷中，容爪甲。一云在內踝下四分，微前高骨陷中，前後有筋，上有踝骨，下有軟骨，其穴居中。《神農經》云：在內踝直下白肉際是穴。陰蹺所生。（《攔江賦》云：治噤口喉風，用三稜針出血即安。）</p>
<p>復溜：（一名昌陽，一名伏白。）在足內踝後上，除踝二寸陷者中。前傍骨是復溜，後傍筋是交信二穴，止隔一筋。足少陰所行為經。（刺三分，留三呼，灸五壯、七壯。《靈光賦》云：治腫如神。）</p>
<p>交信：在足內踝上二寸，少陰前、太陰後筋骨間。陰蹺之郄。</p>
<p>築賓：在足內踝後上腨分中。陰維之郄。（刺三分，灸五壯，主治小兒胎疝，癲疾，吐舌，發狂，罵詈，腹痛，嘔吐涎沫，足腨痛。）</p>
<p>陰谷：在膝下內輔骨後，大筋下，小筋上，按之應手，屈膝乃得之。足少陰所入為合。</p>
<p>橫骨：（一名下極。）在大赫下一寸，肓俞下五寸，宛曲如仰月中央，去任脈之中行旁開五分，陰上橫骨中。按：少腹下尖自橫骨上行，不可概用腹中分寸，當以太陰之衝門起，自橫骨兩端以至陽明之氣衝，少陰之橫骨，至中行之曲骨穴，通計折量，始得其準。凡上至腹中，皆當以此類推。衝脈、足少陰之會。</p>
<p>大赫：（一名陰維，一名陰關。）在氣穴下一寸，去中行五分。衝脈、足少陰之會。</p>
<p>氣穴：（一名胞門，一名子戶。）在四滿下一寸，去中行五分。衝脈、足少陰之會。</p>
<p>四滿：（一名髓海。）在中注下一寸，去中行五分。衝脈、足少陰之會。</p>
<p>中注：在肓俞下一寸，去中行五分。衝脈、足少陰之會。</p>
<p>肓俞：在商曲下一寸，（當作二寸，）直臍旁去臍中五分。衝脈、足少陰之會。</p>
<p>商曲：在石關下一寸，去中行五分。衝脈、足少陰之會。</p>
<p>石關：在陰都下一寸，去中行五分。衝脈、足少陰之會。</p>
<p>陰都：（一名食宮。）在通谷下一寸，夾中脘相去五分。衝脈、足少陰之會。</p>
<p>通谷：在幽門下一寸陷中，夾上脘相去五分。衝脈、足少陰之會。</p>
<p>幽門：（一名上門。）夾巨關兩旁各五分陷中。衝脈、足少陰之會。</p>
<p>步廊：在神封下一寸六分陷中，去中行二寸，夾中庭仰而取之。</p>
<p>神封：在靈墟下一寸六分，去中行二寸，仰而取之。</p>
<p>靈墟：在神藏下一寸六分，去中行二寸陷中，仰而取之。</p>
<p>神藏：在彧中下一寸六分陷中，去中行二寸，仰而取之。</p>
<p>彧中：在俞府下一寸六分陷中，去中行二寸，仰而取之。</p>
<p>俞府：在巨骨下，夾璇璣旁二寸陷中，仰而取之。</p>

<h2>正筋別本標</h2>
<p>足少陰之正，至膕中，別走太陽而合，上至腎，當十四顀，（椎同）出屬帶脈；直者，系舌本，復出於項，合於太陽，此為一合。成以諸陰之別，皆為正也。（足少陰之正，自膕中合於太陽，內行上至腎，當十四椎旁腎俞之次，出屬帶脈；其直者，上系舌本，復出於項，合於太陽，是為六合之一也。然有表必有里，有陽必有陰，故諸陽之正必成於諸明之別，此皆正脈相為離合，非旁通交會之謂也，余仿此。）</p>
<p>足少陰之筋，起於小指之下，並足太陰之筋，邪走內踝之下，結於踵，與太陽之筋合而上結於內輔之下，（足少陰之筋，起小指下，邪趨足心，又邪趨內側上然骨，並足太陰商邱之次，走內踝之下，結於跟踵之間，與太陽之筋合，由踵內側上行，結於內輔骨下陰谷之次。）並太陰之筋而上循陰股，結於陰器，（自內輔並太陰之筋，上循陰股，上橫骨，與太陰、厥陰、陽明之筋合而結於陰器，皆剛筋也。）循脊內挾膂，上至項，結於枕骨，與足太陽之筋合。（自陰器內行，由子宮上系腎間，並衝脈，循脊兩旁，挾膂上至項，與足太陽之筋合結於枕骨內，屬髓海。膂，音旅。）</p>
<p>足少陰之別，名曰大鐘，當踝後繞跟，別走太陽；其別者，並經上走於心包，下外貫腰脊。其病氣逆則煩悶，實則閉癃，虛則腰痛，取之所別也。（足少陰之絡，名大鐘，在足跟後骨上兩筋間，別走足太陽者也。按：十二經脈言本經從肺出絡心，此言上走心包下，外貫腰脊，故其為病如此。）</p>
<p>足少陰之本，在內踝下上三寸中；（踝上二寸，復溜、交信也，踝下一寸，照海也。）標在背俞與舌下兩脈也。（背俞，腎俞也；舌下兩脈，廉泉也。）</p>

<h2>心包絡經循行圖</h2>
<figure>
<img alt="心包絡經循行圖">
</figure>

<h2>心包絡經循行經文</h2>
<p>心主手厥陰心包絡之脈，起於胸中，出屬心包絡，下膈，歷絡三焦；其支者，循胸出脅，下腋三寸，上抵腋，下循臑內，行太陰、少陰之間，入肘中，下臂行兩筋之間，入掌中，循中指出其端；其支者，別掌中，循小指次指出其端。</p>

<h2>心包絡經穴圖</h2>
<figure>
<img alt="心包絡經穴圖">
</figure>
<p>（左右共十八穴，脈長三尺五寸）</p>

<h2>心包絡經臟象圖</h2>
<figure>
<img alt="心包絡經臟象圖">
</figure>

<h2>心包絡經文</h2>
<p>按：心包一臟，《難經》言其無形。滑伯仁曰：心包一名手心主。以臟象校之，在心下橫膜之上，豎膜之下，其與橫膜相黏，而黃脂裹者，心也；脂漫之外，有細筋膜如絲，與心肺引連者，乃心包絡也。此說為是，凡言無形者非。又按：《靈蘭秘典論》有十二官，獨少心包一官，而多「膻中者，臣使之官，喜樂出焉。」今考心包，臟居膈上，經始胸中，正值膻中之所，位居相火，代君主行事者，實臣使也。此一官者，其即此經之謂歟。</p>

<h2>心包絡經循行主病總歌</h2>
<p>手厥陰經心主標（邪之中心，皆在包絡，代君火行事也；以用而言，則曰心主；以經而言，則曰心包絡），心包下膈（歷）絡三焦（包絡為心主之外衛，三焦為臟腑之外衛，故為表裡相絡；三焦有上、中、下，故必下膈而遍歷之也），起自胸中（膻中）支（者）出脅（循胃出脅），下腋三寸（天池穴，經之外行者始此，由此而上抵腋下之天泉）循臑（內）迢，太陰（肺）少陰（心）中間走（手之三陰，厥陰在中也），入肘（中曲澤穴）下臂（行）兩筋（之間）超（掌後兩筋橫紋陷中，內關、大陵等穴），行掌心（勞宮穴）出中指（其出）端（中衝穴而終），支（者別掌中）從小指次指交（自勞宮別行無名指端，而接乎手少陽經也）。是經少氣原多血，是動則病手心熱，臂肘攣急腋下腫，甚則支滿在胸脅，心中憺憺時大動（以上皆經脈所及），面赤目黃（心之華在面，目者心之使，寒淫所勝，心火受病也）笑不歇（心在聲為笑），是主脈所生病者（心主脈），掌（中）熱心煩心痛掣（皆經脈所過）。</p>

<h2>心包絡經穴歌</h2>
<p>心包九穴天池近，天泉曲澤郄門認，間使內關逾大陵，勞宮中衝中指盡。</p>

<h2>取穴分寸</h2>
<p>天池：（一名天會。）在乳後一寸、腋下三寸，著脅直腋撅間。《氣府論注》曰：在乳後同身寸之三寸。手厥明、足少陰之會。《千金》云：治頸漏瘰癧。灸百壯。</p>
<p>天泉：（一名天濕。）在曲腋下，去肩臂二寸，舉臂取之。</p>
<p>曲澤：在肘內廉橫紋陷中，筋內側動脈，屈肘得之。手厥陰所入為合。</p>
<p>郄門：在掌後去腕五寸。手厥陰郄。（刺三分，灸五壯。主治嘔血，衄血，心痛，嘔噦，驚恐，神氣不足，久痔。）</p>
<p>間使：在掌後三寸兩筋間陷中。手厥陰所行為經。（小兒客忤，久瘧，可灸。《千金》云：乾嘔不止，所食即吐不停，灸三十壯；若四肢脈絕不至者，灸之便通，此法能起死人。又治卒死，灸百息。）</p>
<p>內關：在掌後去腕二寸兩筋間，與外關相對。手厥陰絡，別走手少陽。（《神農經》云：治心疼，腹脹，腹內諸疾，可灸七壯。）</p>
<p>大陵：在掌後骨下橫紋中，兩筋間陷中。手厥陰所注為輸，即原也。（《千金》云：吐血，嘔逆，灸五十壯。又云：凡卒患腰腫附骨癰疽，節腫遊風熱毒，此等疾但初覺有異，即急灸之，從手掌後第一橫紋後兩筋間，灸五壯立愈；患左灸右，患右灸左，當中者兩手俱灸。）</p>
<p>勞宮：（一名五里，一名掌中。）在掌中央動脈，屈無名指取之。手厥陰所溜為滎。（一傳：癲狂灸此效。）</p>
<p>中衝：在手中指端，去爪甲如韭菜陷中。手厥明所出為井。（刺一分，留三呼，灸一壯。《神農經》云：治小兒夜啼，多哭，灸一壯，炷如小麥。《乾坤生意》云：此為十井穴，治同肺經。）</p>

<h2>正筋別本標</h2>
<p>手心主之正，別下淵腋三寸，入胸中，別屬三焦，出循喉嚨，出耳後，合少陽完骨之下。（手厥陰之正，其別而入行者，與少陰之脈同，自腋下三寸足少陽淵腋之次，入胸中屬於三焦，乃出循喉嚨，行耳後，合手足少陽於完骨之下。）</p>
<p>手心主之筋，起於中指，與太陰之筋並行，結於肘內廉，（中指端中衝之次也，循指入掌中至掌後大陵之次，並手太陰之筋上結於肘內廉曲澤之次），上臂陰，結腋下，下散前後挾脅；（上臂陰，天泉之次，由腋間並太陰之筋結於腋下，當天池之次下行，前後布散挾脅，聯於手太陰、足少陽之筋，此經自掌至腹，皆剛筋也）。其支者，入腋散胸中，結於臂。（此支者，自天池之分入腋內，散於胸中；臂，當作賁，蓋此支並太陰之筋入散胸中，故同結於賁也。）</p>
<p>手心主之別，名曰內關，去腕二寸，出於兩筋之間，循經以上繫於心，包絡心系。實則心痛，虛則為頭強，取之兩筋間也。（手厥陰之絡，名內關，在掌後去腕二寸兩筋間，別走手少陽者也；此經繫心，包絡心系；又去耳後，合少陽完骨之下；故邪實則心痛，虛則頭強不利也，皆取內關治之。）</p>
<p>手心主之本，在掌後兩筋之間二寸中；（內關也。）標在腋下下三寸也。（天池也。）</p>

<h2>三焦經循行圖</h2>
<figure>
<img alt="三焦經循行圖">
</figure>

<h2>三焦經循行經文</h2>
<p>三焦手少陽之脈，起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘，循臑外上肩，而交出足少陽之後，入缺盆，布膻中，散絡心包，下膈，循屬三焦；其支者，從膻中上出缺盆，上項，系耳後直上，出耳上角，以屈下頰至䪼；其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳眥。</p>

<h2>三焦經穴圖</h2>
<figure>
<img alt="三焦經穴圖">
</figure>
<p>（左右共四十六穴，脈長5尺）</p>

<h2>三焦經腑象圖</h2>
<figure>
<img alt="三焦經腑象圖">
</figure>

<h2>三焦經文</h2>
<p>三焦者，決瀆之官，水道出焉。是經常少血多氣。《中藏經》曰：三焦者，人之三元之氣也。總領五臟六腑，營衛經絡，內外、左右、上下之氣。三焦通則內外、左右、上下皆通。其於周身灌體，和內調外，榮左養右，導上宣下，莫大如此。</p>

<h2>三焦經循行主病總歌</h2>
<p>手少陽經三焦脈，起於（手）小指次指端（無名指），兩指之間（液門、中渚）循（手）表腕（陽池也），出臂（外）兩骨（之間）行外關（歷支溝），上行貫肘（天井）循臑外，上肩交出（足）少陽（之後）寰。（循臑外，行手太陽之前，歷清冷淵、消濼、臑會上肩髎，過足少陽之肩井，自天髎而交出足少陽之後也。）入缺盆而布膻中，散絡心包下膈從，循屬三焦並（足）太陽，下輔腧在委陽（足太陽穴）宮（其內行者，入缺盆，復由足陽明之外下布膻中，散絡心包而為表裡，乃自上焦下膈，循中焦下行，並足太陽之正，入絡膀胱，以約下焦，故委陽為三焦之下輔腧也。）支（行於外者）從膻中（上）出缺盆（循天髎），上項（會於督脈之大椎，循天牖）系耳（後之翳風穴直上）上角孫（在耳之上角，由是過足少陽之懸釐、頷厭），下行耳頰至䪼（目下也）際，支從耳後（翳風入）耳中存（過手太陽之聽宮），出走耳前（由耳門過足少陽之客主人）交兩頰（循和髎，上絲竹空），至目銳眥（會於瞳子髎）膽經論（手少陽經止此而接乎足少陽經也）。是經少血還多氣，耳聾（渾渾淳淳，聽不明也）嗌腫及喉痹（脈上項系耳後，故為是病，以少陽相火動也），氣所生病（三焦為水瀆之腑，水病必由於氣也）汗出多（三焦出氣以溫肌肉、充膚，故汗出），頰腫痛及目銳眥，耳後肩臑肘臂外，小指次指不如意（皆經脈所過，邪犯之也。）</p>

<h2>三焦經穴歌</h2>
<p>手少陽三焦所從，二十三穴起關衝，向液門中渚陽池，歷外關支溝會宗，三陽絡入於四瀆，注天井清冷淵中，消濼臑會肩髎同，天髎天牖經翳風，瘛脈顱息角孫入，耳門和髎絲竹空。</p>

<h2>取穴分寸</h2>
<p>關衝：在手名指外側端，去爪甲角如韭葉。手少陽所出為井。（刺一分，留三呼，灸三壯。主治頭痛，口乾，喉痹，霍亂，胸中氣噎，不食，肘臂動不能舉，目昏昏。《乾坤生意》云：此為十井穴，治同肺經。）</p>
<p>液門：在手小指、次指岐骨間陷者中，握拳取之。手少陽所溜為滎。</p>
<p>中渚：在手名指本節後間陷中，在液門上一寸，把拳取之。手少陽所注為輸。</p>
<p>陽池：（一名別陽。）在手表腕上陷者中，自本節後骨直對腕中。手少陽所過為原。（《神農經》云：治手腕疼，無力，不能上舉至頭，可灸七壯。）</p>
<p>外關：在腕後二寸兩筋間陷中，與內關相對。手少陽絡，別走心主。（《神農經》云：治肘臂不得屈伸，五指盡疼，不能握物，可灸七壯。《捷經》云：通治諸證。）</p>
<p>支溝：（一名飛虎。）在腕後三寸，兩骨間陷中。手少陽所行為經。</p>
<p>會宗：在腕後三寸空中，一云空中一寸。手少陽郄。（《金鑑》云：支溝、會宗二穴，相併平直，空中相離一寸。）</p>
<p>三陽絡：（一名通間。）在臂上大交脈，支溝上一寸。</p>
<p>四瀆：在肘前五寸外廉陷中。</p>
<p>天井：在肘外大骨尖後，肘上一寸兩筋間陷中，屈肘得之。甄權云：在曲肘後一寸，又手按膝頭取之。手少陽所入為合。（刺三分，留七呼，灸三壯。主治：瀉一切瘰癧，瘡腫，癮疹。）</p>
<p>清冷淵：在肘上二寸，伸肘舉臂取之。</p>
<p>消濼：在肩下臂外間，腋斜肘分下行。（一傳海南治牙疼灸此穴。）</p>
<p>臑會：一名臑髎。在臂前廉，去肩端三寸宛宛中。手陽明、少陽二絡之會。</p>
<p>肩髎：在肩端臑上陷中，斜舉臂取之。</p>
<p>天髎：在肩缺盆中上毖骨陷者中，一曰直肩井後一寸，又云須缺盆陷處上有空起肉上是穴。手足少陽，陽維三脈之會。</p>
<p>天牖：在頸大筋外、缺盆上、天容後、天柱前、完骨下發際中，上夾耳後一寸。</p>
<p>翳風：在耳後尖角陷中，按之引耳中痛。手足少陽之會。</p>
<p>瘛脈：（一名資脈。）在耳本後，雞足青絡脈中。（刺一分，灸三壯。主治頭風，耳鳴，小兒驚癇，瘛瘲，嘔吐，瀉痢無時，驚恐，目澀眵膏。）</p>
<p>顱息：在耳後間青絡脈中。（《百證賦》云：痓病非顱息不愈。《甲乙經》曰：灸三壯，禁刺，出血多則殺人。）</p>
<p>角孫：在耳廓中間上、髮際下，開口有空。手太陽、手足少陽三脈之會。（《甲乙經》：手太陽作手陽明。）《寒熱病篇》曰：足太陽有入頄遍齒者，名曰角孫，則足太陽脈亦會於此。（刺三分，灸三壯，主治目生翳，齒齦腫不能嚼，唇吻燥，頸項強。一云堪治耳齒之病。）</p>
<p>耳門：在耳前起肉、當耳缺處陷中。（刺三分，留三呼，灸三壯，一云禁灸。主治耳聾，聤耳膿汁，耳生瘡，齒齲，唇吻強。《百證賦》云：兼絲竹空，能住牙疼於頃刻。）</p>
<p>和髎：在耳前兌發下橫動脈。手足少陽手太陽三脈之會。</p>
<p>絲竹空：（一名目髎。）在眉後陷中。《甲乙經》曰：足少陽脈氣所發，一雲手足少陽脈氣所發。（刺三分，留三呼，噤灸，灸之不幸令人目小及盲。主治頭痛，目赤，目眩，視物䀮䀮，拳毛倒睫，風癇，戴眼，發狂，吐涎沫，偏正頭風痛，宜出血。《百證賦》云：兼耳門，治牙疼於頃刻。）</p>

<h2>正筋別本標</h2>
<p>手少陽之正，指天，別於巔，入缺盆，下走三焦，散於胸中也。（此三焦心主表裡經脈相為一合也；指天者，天屬陽，運於地之外，手少陽之正，上別於巔，入缺盆，下走三焦，散於胸中，包羅臟腑之外，故曰指天。）</p>
<p>手少陽之筋，起於小指次指之端，結於腕中，循臂結於肘，上繞臑外廉，上肩走頸，合於手太陽；（小指次指之端，無名指關衝之次也；上結於手腕之陽池，循臂外關、支溝之次，出臂，出兩骨間，結於肘，自肘上臑外廉，由臑會行太陽之裡、陽明之外，上肩髎，走頸中天牖之分，與手太陽之筋合，皆剛筋也）。其支者，當曲頰入系舌本；（其支者，自頸中當曲頰下入系舌本，與足太陽之筋合。）其支者，上曲牙，循耳前，屬目外眥，上乘頷，（頷當作額，經文是頷字。）結於角。（又支者，自頰行曲牙，會足陽明之筋，循耳前上行，與手太陽、足太陽之筋屈曲交綰而會於耳上之角孫，乃屬目外眥，而復會於瞳子髎之次，與三陽交會，上出兩額之左右，以結於額之上角也。）</p>
<p>手少陽之別，名曰外關，去腕二寸，外繞臂，注胸中，合心主。病實則肘攣，虛則不收，取之所別也。（手少陽之絡名外關，在腕後二寸兩筋間，別走手厥陰心主者也；此經繞臂，故為肘攣及不收之病，治此當取所別之外關。）</p>
<p>手少陽之本，在小指次指之間上二寸；（當是液門穴也。）標在耳後上角，（當是角孫穴也。）下外眥也。（當是絲竹空穴。）</p>

<h2>膽經循行圖</h2>
<p>（左右共八十六穴，脈長八尺）</p>
<figure>
<img alt="膽經循行圖">
</figure>

<h2>膽經循行經文</h2>
<p>膽足少陽之脈，起於目銳眥，上抵頭角，下耳後，循頸行手少陽之前，至肩上卻交出手少陽之後，入缺盆；其支者，從耳後入耳中，出走耳前，至目銳眥後；其支者，別銳眥，下大迎，合於手少陽，抵於䪼，下加頰車，下頸合缺盆以下胸中，貫膈絡肝屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中；其直者，從缺盆下腋，循胸過季脅，下合髀厭中，以下循髀陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入小指次指之間；其支者，別跗上，入大指之間，循大指岐骨內出其端，還貫爪甲，出三毛。</p>

<h2>膽經穴圖</h2>
<figure>
<img alt="膽經穴圖">
</figure>

<h2>膽經腑象圖</h2>
<p>《六節臟象論》曰：凡十二臟，皆取決於膽也。</p>
<figure>
<img alt="膽經腑象圖">
</figure>

<h2>膽腑經文</h2>
<p>膽者，中正之官，決斷出焉。《難經》曰：膽在肝之短葉間，重三兩三銖，長三寸，盛精汁三合。是經常多氣少血。華元化曰：膽者中清之腑，號曰將軍。主藏而不瀉。《六節臟象論》曰：凡十二臟，皆取決於膽也。</p>

<h2>膽經循行主病總歌</h2>
<p>足少陽脈膽經傳，起於兩目銳眥邊（瞳子髎穴），上抵頭角下耳後（自目銳眥由聽會客主人上抵頭角，循頷厭，下懸顱、懸釐，從耳上髮際入曲鬢、率谷，歷手陽明之角孫，外折下耳後，行天衝、完骨等穴，又自完骨外折上行，循本神前至陽白，復內折上行，循臨泣、腦空等穴，由風池而下行也），循頸（過手少陽之天牖）行手少陽前，（下）至肩（上肩井）卻（交）出（手）少陽後（過督脈之大椎，會於手太陽之秉風，則前行），陽明缺盆之外旋。支者耳後（顳顬之次，過手少陽之翳風穴）入耳中（過手太陽之聽宮），出走耳前（復自聽會至目）銳眥逢，支別銳眥下大迎（足太陽穴，在頷前一寸三分動脈陷中），合手少陽（絲竹、和髎之次而下）抵䪼宮，下加頰車下頸行，合於缺盆胸中承（其下於足陽明者合於下關，乃自頰車下頸，循本經之前，與前之入缺盆者相合，內行而下入胸中），貫膈絡肝原屬膽（自胸中手厥陰天池之分，貫膈足厥陰期門之分，絡肝本經日月之分，屬膽而為表裡也），脅裡（出）氣街毛際縈（循脅裡，由足厥陰之章門下行足陽明之氣街，繞毛際合於足厥陰），入髀厭中（環跳穴）脈來橫，直者缺盆下腋（循）胸。（過）季脅（肝經章門）下合髀厭中（直下而行於外者，從缺盆下腋，循胸，歷淵液、輒筋、日月過季脅，循京門、帶脈等穴下行，由居髎入足太陽之四髎，下行復與前之入髀厭者相合於環跳穴也），下循髀陽（髀之外側出）膝外廉，下於外輔骨（膝下兩旁高骨）之前（由髀陽行太陽、陽明之中，歷中瀆、陽關出膝外廉，下外輔之前，自陽陵泉以下陽交等穴也），直（下）抵絕骨（之端）出外踝（之前），循（足）跗（上）入小（指）次指間（外踝上骨際曰絕骨，其端即陽輔穴，下懸鐘，循足面上之丘墟、臨泣等穴入足小指次指之間，抵竅陰穴而終也），支別跗上入大指（之間），循（大）指岐骨（內）出其端，還貫爪甲出三毛，足厥陰經於此連（足大指次指本節後骨縫為岐骨，大指爪甲後二節間為三毛）。此經多氣而少血，是動口苦（膽病則液泄而上溢）善太息（木鬱不舒），心脅疼痛轉側難（本經之別貫心、循脅裡），甚則面（微有）塵體無（膏）澤（本經之別散於面，膽木病則鬱而不能生榮，燥金勝之也），足外反熱為陽厥（本經行足之外，木病從火故為陽厥），骨所生病剛氣失（膽味苦，苦走骨，故膽主骨所生病。又骨為幹，其質剛；膽為中正之官，其氣亦剛；膽病則失其剛，故病及於骨。凡驚傷膽者，骨必軟，即其明證），目之銳眥及頭頷，缺盆腋下腫痛慘，馬刀（瘰癧也）俠癭（夾頸瘤屬）頸腋生，汗出振寒瘧疾成（少陽居三陽之中，半表半裡，故陽盛則汗出，風勝則振寒為瘧），胸脅肋髀膝至脛，絕骨外踝諸節疼（皆本經之脈所及）。</p>

<h2>膽經穴歌</h2>
<p>足少陽經瞳子髎，四十三穴行迢迢。聽會客主頷厭集，懸顱懸釐曲鬢翹。</p>
<p>率谷天衝浮白次，竅陰完骨本神至。陽白臨泣開目窗，正營承靈腦空是。</p>
<p>風池肩井淵腋長，輒筋日月京門鄉。帶脈五樞維道續，居髎環跳下中瀆。</p>
<p>陽關陽陵復陽交，外邱光明陽輔高。懸鐘邱墟足臨泣，地五俠谿竅陰畢。</p>

<h2>取穴分寸</h2>
<p>瞳子髎：（一名太陽，一名前關。）在目外去眥五分。手太陽、手足少陽三脈之會。（刺三分，灸三壯。主治頭痛，目癢，外眥赤痛，翳膜，青盲，遠視䀮䀮，淚出，多眵。）</p>
<p>聽會：（一名聽河，一名後關。）在耳前陷中，客主人下一寸動脈腕腕中，去耳珠下，開口有空，側臥，張口取之。（刺四分，灸三壯。主治耳聾耳鳴，牙車脫臼，齒痛，中風，瘛瘲，喎斜。）</p>
<p>客主人：（一名上關。）在耳前起骨上廉，開口有空，側臥，張口取之。手足少陽、足陽明三脈之會。《本輸篇》曰：刺之則呿不能欠者，即此穴。</p>
<p>頷厭：在耳前曲角顳顬上廉，（即腦空之上。）手足少陽、足陽明之會。</p>
<p>懸顱：在耳前曲角顳顬之中。《寒熱病》篇曰：足陽明有挾鼻入於面者，名曰懸顱，是此，為足少陽、陽明之會，故《氣府論》注為足陽明脈氣所發。</p>
<p>懸釐：在耳前曲角上顳顬下廉。手足少陽、陽明四脈之會。</p>
<p>曲鬢：在耳上，入髮際曲隅陷中，鼓頷有空。足太陽、少陽之會。</p>
<p>率谷：在耳上入髮際一寸半陷中，嚼牙取之。足太陽、少陽之會。（小兒急慢驚風，灸三壯，炷如小麥。）</p>
<p>天衝：在耳後入髮際二寸，一曰在耳上如前三分。足太陽、少陽之會。</p>
<p>浮白：在耳後入髮際一寸。足太陽、少陽之會。</p>
<p>竅陰：（一名枕骨。）在完骨上、枕骨下，搖動有空。足少陽、太陽之會。</p>
<p>完骨：在耳後入髮際四分。足太陽、少陽之會。</p>
<p>本神：在曲差旁一寸五分，一曰直耳上入髮際四分。足少陽、陽維之會。</p>
<p>陽白：在眉上一寸，直瞳子。《甲乙經》曰：足少陽、陽維之會。《氣府論》王氏注曰：足陽明、陽維二脈之會。</p>
<p>臨泣：在目上直入髮際五分陷中，正睛取之。足太陽、少陽、陽維三脈之會。（刺三分，留七呼，灸三壯，一曰禁灸。主治鼻塞，目眩，生翳眵䁾，冷眼，目諸疾，驚癇反視，卒暴中風不識人，脅下痛，瘧疾日西發。）</p>
<p>目窗：（一名至榮。）在臨泣後一寸。足少陽、陽維之會。一云在臨泣後半寸。</p>
<p>正營：在目窗後一寸，一云半寸。足少陽，陽維之會。</p>
<p>承靈：在正營後一寸五分。足少陽、陽維之會。</p>
<p>腦空：（一名顳顬。）在承靈後一寸五分，夾玉枕骨下陷中。《氣府論》王氏注曰：夾枕骨後枕骨上。足少陽、陽維之會。（昔魏公苦患頭風，發即心亂目眩，華佗刺此立愈。）</p>
<p>風池：在耳後顳顬後，腦空下發際陷中，按之引耳。一云耳後陷中，後髮際大筋外廉。足少陽、陽維之會。（刺四分，灸三壯、七壯，炷不用大，《千金》云：治癭氣灸百壯。《玉龍賦》云：兼絕骨可療傴僂。）</p>
<p>肩井：（一名膊井。）在肩上陷解中，缺盆上大骨前一寸半，以三指按，取之當中指下陷者中。手足少陽、足陽明、陽維之會。（灸㿗疝，隨年壯。《百證賦》云：治乳癰極效。）</p>
<p>淵液：（一名泉腋。）在腋下三寸宛宛中，舉臂取之。（禁灸，刺三分。）</p>
<p>輒筋：在腋下三寸，復前行一寸著脅。《針灸大成》曰：一名神光，一名膽募。其穴則曰腋下三寸，復前一寸三肋端，橫直蔽骨旁七寸五分，平直兩乳，側臥屈上足取之。膽之募，足太陽、少陽之會。</p>
<p>日月：（一名神光。）在期門下五分。《氣府論》注曰：在第三肋端，橫直心蔽骨旁各同身寸之二寸五分，上直兩乳。膽之募也。足太陰、少陽、陽維之會。</p>
<p>京門：（一名氣俞，一名氣府。）在監骨腰中季脅本夾脊。一云在臍上五分，旁九寸半，季脅本夾脊。側臥，屈上足，伸下足，舉臂取之。腎之募也。</p>
<p>帶脈：在季脅下一寸八分陷中，一云在臍旁八寸半，肥人九寸，瘦人八寸，如帶繞身，管束諸經。足少陽、帶脈之會。</p>
<p>五樞：在帶脈下三寸，一曰在水道旁一寸半陷中。足少陽、帶脈之會。</p>
<p>維道：（一名外樞。）在章門下五寸三分。一曰在中極旁八寸五分。足少陽、帶脈之會。</p>
<p>居髎：在章門下八寸三分，監骨上陷中。足少陽、陽蹺之會。</p>
<p>環跳：在髀樞中，側臥，伸下足、屈上足取之。足少陽、太陽之會。（《馬丹陽天星十二穴》云：能針偏廢軀，折腰莫能顧，冷風並濕痹，身體似繩拘，腿胯連腨痛，屈轉重欷吁，若人能針灸，頃刻病消除。）</p>
<p>中瀆：在髀骨外，膝上五寸，分肉間陷中。足少陽絡，別走厥陰。</p>
<p>陽關：在陽陵泉上三寸，犢鼻外陷中。</p>
<p>陽陵泉：在膝下一寸外廉陷中，尖骨前、筋骨間，蹲坐取之。足少陽所入為合。為筋之會。（《神農經》云：治足膝冷痹不仁，屈伸不得，半身不遂，脅肋疼痛，可灸十四壯至二十一壯。）</p>
<p>陽交：（一名別陽，一名足髎。）在足外踝上七寸，斜屬三陽分肉間。陽維之郄。</p>
<p>外邱：在外踝上七寸。《甲乙經》曰：足少陽郄。</p>
<p>光明：在外踝上五寸。足少陽絡，別走厥陰。</p>
<p>陽輔：（一名分肉。）在足外踝上除骨四寸，輔骨前、絕骨端，如前三分。《刺腰痛論注》曰：如後二分，去邱墟七寸，筋肉分間。《氣穴論注》曰：陽維脈氣所發。足少陽所行為經。（《神農經》云：治膝胻痠疼，偏風不隨，可灸十四壯。）</p>
<p>懸鐘：（一名絕骨。）在足外踝上三寸，當骨尖前動脈中尋按取之。《針灸經》曰：尋摸尖骨者，乃是絕骨兩分開。為足三陽之大絡，按之陽明脈絕，乃取之。為髓之會。</p>
<p>邱墟：在足外踝下如前陷中，去臨泣三寸。足少陽所過為原。</p>
<p>臨泣：在足小指次指本節後間陷中，去俠谿一寸五分。足少陽所注為輸。</p>
<p>地五會：在足小指次指本節後陷中，去俠谿一寸。（刺一分，禁灸。）</p>
<p>俠谿：在足小指、次指本節前，岐骨間陷中，足少陽所溜為滎。</p>
<p>竅陰：在足小指次指端，去爪甲如韭葉。足少陽所出為井。（刺一分，留三呼，灸三壯。主治脅痛，咳逆不得息，手足煩熱，汗不出，癰疽，口乾，頭痛，喉痹，舌強，耳聾，轉筋肘不能舉。）</p>

<h2>正筋別本標</h2>
<p>足少陽之正，繞髀入毛際，合於厥陰；別者，入季脅之間，循胸裡屬膽，散之上肝貫心，以上挾咽，出頤頷中，散於面，系目系，合少陽於外眥也。（此膽肝二經為表裡經脈，相為一合也。足少陽繞髀陽，入毛際，與足厥陰合其內行；而別者，乃自季脅入胸屬膽，散之上肝，由肝之上系貫心，上挾咽，自頤頷中出散於面，上系目系，復合少陽之本經於目外眥瞳子髎也。）</p>
<p>足少陽之筋，起於小指次指，上結外踝，上循脛外廉，結於膝外廉；（小指次指，即第四指竅陰之次也；外踝，邱墟之次；脛外廉，外邱、陽交之次；膝外廉，陽陵泉、陽關之次；此皆剛筋也。）其支者，別起外輔骨，上走髀，前者結於伏兔之上，後者結於尻；（膝下支自外輔骨上走於髀，分為二岐，前結於陽明之伏兔，後結於督脈之尻，至此剛柔相制，所以聯臀膝而運樞機也。）其直者，上乘䏚季脅，上走腋前廉，繫於膺乳，結於缺盆；（季脅下兩旁軟處曰䏚，胸上兩旁高處曰膺，此直者，自外輔骨走髀，由髀樞上行乘䏚，循季脅上走腋，當手太陰之下出腋前廉，橫繫於胸乳之分，上結於缺盆，與手太陰之筋相合，皆剛筋也。䏚，音秒，《五音篇》曰：少也。）直者，上出腋，貫缺盆，出太陽之前，循耳後，上額角，交巔上，下走頷，上結於頄；（此直者，自上走腋處，直上出腋，貫於缺盆，與上之結於缺盆者相合，乃行足太陽經筋之前，循耳上額角，交太陽之筋於巔上，復從足陽明頭維之分走耳前，下腮頷，復上結於頄。）支者，結於目眥為外維。（此支者，從顴上斜趨結於目外眥，而為目之外維。凡人能左右盼視者，正以此筋為之伸縮也。）</p>
<p>足少陽之別，名曰光明，去踝五寸，別走厥陰，下絡足跗。實則厥，虛則痿躄，坐不能起，取之所別也。（足少陽之絡名光明，在外踝上五寸，別走足厥陰者也。此經下絡足跗，故為厥、為痿躄，治此者，當取所別之光明也。）</p>
<p>足少陽之本，在竅陰之間；（在小指次指之端。）標在窗籠之前。窗籠者，耳也。（即手太陽聽宮穴。）</p>

<h2>肝經循行圖</h2>
<figure>
<img alt="肝經循行圖">
</figure>

<h2>肝經循行經文</h2>
<p>肝足厥陰之脈，起於大指叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上膕內廉，循股陰入毛中，過陰器，抵小腹，挾胃屬肝絡膽，上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔；其支者，從目系下頰裡，環唇內；其支者，復從肝別貫膈，上注肺。</p>

<h2>肝經穴圖</h2>
<p>（左右共二十八穴，脈長六尺五寸）</p>
<figure>
<img alt="肝經穴圖">
</figure>

<h2>肝經臟象圖</h2>
<figure>
<img alt="肝經臟象圖">
</figure>

<h2>肝臟經文</h2>
<p>肝者，將軍之官，謀慮出焉。肝居膈下，上著脊之第九椎下。是經常多血少氣。其合筋也，其榮爪也。主藏魂，開竅於目。其繫上絡於心肺，下亦無竅。《難經》曰：肝重二斤四兩，左三葉右四葉，凡七葉。《刺禁論》曰：肝生於左。滑氏曰：肝之為臟，其治在左，其臟在右脅、右腎之前，並里著脊之第九椎。</p>

<h2>肝經循行主病總歌</h2>
<p>足厥陰肝脈所終，起於大指毛際叢（足大指爪甲橫紋後毛際，大敦穴），循足跗上（廉）上內踝（內踝前一寸，中封也），出太陰後入膕中（上踝八寸中都之分，交出足太陰之後，上膕內廉至膝關、曲泉等穴），循股（陰）入毛（中）繞陰器（股陰，內側也，循股內之陰包、五里、陰廉，上會足太陰之衝門、府舍，入陰毛中之急脈，遂左右相交環繞陰器，而會於任脈之曲骨），上抵小腹挾胃通，屬肝絡膽（自陰上入小腹，會於任脈之中極、關元，循章門至期門之所，挾胃屬肝，下足少陽日月之所，絡膽）上貫膈，布於脅肋（自期門上貫膈，行足太陰食竇之外、大包之裡，散布脅肋，上足少陽淵腋、手太陰雲門之下，足厥陰經穴止此）循喉嚨，（之後）上入頏顙（咽顙）連目系（目內深處），出額會督頂巔逢（其內行而上者，自脅肋間由足陽明人迎之外，循喉嚨之後入頏顙，行足陽明大迎、地倉、四白之外，內連目系，上出足少陽陽白之外、臨泣之裡，與督脈相會於頂之百會），其支復從目系出，下行頰裡交環唇（此支從前目系之分，下行任脈之外、本經之裡，環於口唇之內），支者從肝別貫膈，上注於肺乃交宮（又其支者，從前期門屬肝所，行足太陰食竇之外、本經之裡，別貫膈，上注於肺，下行至中焦、挾中脘之分，復接於手太陰之肺經，以盡十二經之一周，終而復始也）。是經血多而氣少，腰痛俯仰難為工（本經支別者，與脾膽之脈同結於腰踝下中髎、下髎之間，故為腰痛。《刺腰痛篇》曰：厥陰之脈，令人腰痛，腰中如張弓弩弦），婦少腹腫（即疝病也）男㿉（音頹）疝（本經氣逆，則為睪腫卒疝），嗌乾（脈循喉嚨）脫色面塵蒙（皆經脈所及，燥淫所勝，病本於肝也。一云木鬱為病，故有脫色塵蒙），胸滿嘔逆及飧泄（本經上行者，挾胃貫膈，木剋土也），狐疝遺尿（肝虛）或閉癃（肝火也；本經下行者，過陰器，抵小腹，故為此諸病）。</p>

<h2>肝經穴歌</h2>
<p>足厥陰經一十四，大敦行間太衝是，中封蠡溝伴中都，膝關曲泉陰包次，五里陰廉上急脈，章門才過期門至。</p>

<h2>取穴分寸</h2>
<p>大敦：在足大指端，去爪甲如韭葉，及三毛中。一云：內側為隱白，外側為大敦。足厥陰所出為井。（凡疝氣，腹脹，足踵者，皆宜灸之，以泄肝木而脾胃之土自安。又治五淋，灸三十壯；又失尿不禁，灸七壯；小兒灸一壯。）</p>
<p>行間：在足大指間，動脈應手陷中。一云在足大指次指岐骨間，上下有筋，前後有小骨尖，其穴正居陷中，有動脈應手。足厥陰所溜為滎。（失尿不禁，灸七壯。《通玄賦》云：治膝腫腰疼。《千金》云：小兒重舌，灸行間隨年壯；又莖中痛，灸五十壯。）</p>
<p>太衝：在足大指本節後二寸，一云一寸五分，內間陷者中，動脈應手。一云在足大指本節後，行間上二寸，內間有絡亙連至地五會二寸骨罅間，動脈應手陷中。足厥陰所注為輸，即原也。（刺三分，留十呼，灸三壯。《神農經》云：治寒濕腳氣痛，行步難，可灸三壯。《馬丹陽天星十二穴》云：能治生死病，能醫驚癇風，咽喉並心脹，兩足不能動，七疝偏墜腫，眼目似云矇，亦能療腰痛，針下有神功。）</p>
<p>中封：（一名懸泉。）在足內踝前一寸，筋里宛宛中。一云在內踝前一寸，斜行小脈上，貼足腕上大筋陷中，仰足取之。足厥陰所行為經。</p>
<p>蠡溝：（一名交儀。）在足內踝上五寸。足厥陰絡，別走少陽。</p>
<p>中都：（一名中郄。）在足內踝上七寸，當胻骨中，與少陰相直。足厥陰郄。</p>
<p>膝關：在犢鼻下二寸旁陷者中。（刺四分，灸五壯。主治風痹，膝內腫痛引臏，不可屈伸，及寒濕走注，白虎厲節風痛，不能舉動，咽喉中痛。）</p>
<p>曲泉：在膝內輔骨下，大筋上、小筋下陷中，屈膝橫文頭取之。足厥陰所入為合。</p>
<p>陰包：在膝上四寸，股內廉兩筋間，卷足取之，看膝內側有槽者中。足厥陰別走者。</p>
<p>五里：在氣衝下三寸，陰股中動脈應手。《千金翼》曰：在陰廉下二寸。</p>
<p>陰廉：在羊矢下斜里三分直上，去氣衝二寸，動脈陷中。（羊矢在陰旁股內約文縫中，皮肉間有核如羊矢。）</p>
<p>急脈：《氣府論》曰：厥陰毛中急脈各一。王氏注曰：在陰毛中，陰上兩旁相去同身寸之二寸半，按之隱指堅然，甚按則痛引上下。其左者中寒，則上引少腹，下引陰丸，善為痛，為小腹急中寒。此兩脈皆厥陰之大絡通行其中，故曰厥陰急脈，即睪之系也。可灸而不可刺，病疝小腹痛者，即可灸之。按：此穴自《甲乙經》以下諸書皆無，是遺誤也。《經脈篇》曰：足厥陰循股陰入毛中，過陰器。又曰：其別者，脛上睪結於莖。然此實厥陰之正脈，而會於陽明者也，今增入之。</p>
<p>章門：（一名長平，一名脅髎。）在大橫外直臍季肋端，側臥，屈上足伸下足，舉臂取之。一云肘尖盡處是穴。一云在臍上一寸八分，兩旁各八寸半季肋端。一云在臍上二寸，兩旁各六寸。寸法以胸前兩乳間橫折八寸約取之。脾之募也。為臟之會。足厥陰、少陽之會。（《難疏》曰：臟會季肋，臟病治此。《千金》云：奔豚積聚，堅滿脹痛，吐逆不下食，腰脊冷疼，小便白濁，灸脾募百壯，三報之。）</p>
<p>期門：在不容旁一寸五分，上直乳，第二肋端。肝之募也。足厥陰、太陰、陰維之會。（刺四分，灸五壯、七壯。《千金》云：主奔豚，灸百壯。上氣咳逆，胸滿痛徹胸背，灸巨關、期門各五十壯。一婦人患傷寒熱入血室，醫者不識，許學士曰：小柴胡已遲，當刺期門，予不能針，請善針者針之，如言而愈。</p>

<h2>正筋別本標</h2>
<p>足厥陰之正，別跗上，上至毛際，合於少陽，與別俱行，此為二合也。（足厥陰之正，別跗內行，上至陰毛之際，合於足少陽，與別者俱行，上布脅肋，是為六合之二也。）</p>
<p>足厥陰之筋，起於大指之上，上結於內踝之前，（大指上、三毛際，大敦次也，行跗上足太陰之筋，並行結於內踝前中封之次。）上循脛，上結內輔之下，上循陰股，結於陰器，絡諸筋。（由內踝上足脛，循三陰交之分上行，並足少陰之筋上結於內輔骨下曲泉之次，復並太陰之筋上循陰股中五里、陰廉之分，上急脈而結於陰器。陰器者，合於太陰、厥陰、陽明、少陰之筋，以及衝任督之脈，皆聚於此，故曰宗筋。厥陰屬肝主筋，故絡諸筋，而一之以成健運之用。）</p>
<p>足厥陰之別，名曰蠡溝，去內踝五寸，別走少陽；其別者，循脛上睪，結於莖。其病氣逆則睪腫卒疝，實則挺長，虛則暴癢，取之所別也。（足厥陰之絡，名蠡溝，在足內踝上五寸，別走足少陽者也。本經絡陰器，上睪，結於莖，故其所病如此，而治此者，當取所別之蠡溝。）</p>
<p>足厥陰之本，在行間上五寸所；（中封穴，）標在背腧也。（即肝俞。）</p>

<h1>卷四</h1>

<h2>奇經八脈總說（李時珍）</h2>
<p>凡人一身，有經脈、絡脈，直行曰經，旁支曰絡。經凡十二，手之三陰三陽，足之三陰三陽是也。絡凡十五，乃十二經各有一別絡，而脾又一大絡，並任督二絡，為十五絡也。（《難經》作陰絡、陽絡。）共二十七氣，相隨上下，如泉之流，如日月之行，不得休息，故陰脈營於五臟，陽脈營於六腑，陰陽相貫，如環無端，莫知其紀，終而復始。其流溢之氣，入於奇經，轉相灌溉，內溫臟腑，外濡腠理。奇經凡八脈，不拘制於十二正經，無表裡配合，故謂之奇。蓋正經猶夫溝渠，奇經猶夫湖澤，正經之脈隆盛，則溢於奇經，故秦越人比之天雨降下，溝渠溢滿，霧霈妄行，流於湖澤，此發《靈》、《素》未發之秘者也。八脈散在群書者，略而不悉，醫不知此，罔探病機，仙不知此，難安爐鼎，時珍不敏，參考諸說，以備學仙醫者筌蹄之用云。</p>

<h2>奇經八脈總歌</h2>
<p>正經經外是奇經，八脈分司各有名，任脈在前督屬後，衝起會陰腎同行。</p>
<p>陽蹺跟外膀胱別，陰起跟前隨少陰，陽維維絡諸陽脈，陰維維絡在諸陰。</p>
<p>帶脈圍腰如束帶，不由常度號奇經。</p>
<p>脈有奇常。十二經者，常脈也；奇經則不拘於常，故謂之奇也。奇經有八，曰任、督、沖、帶、陽蹺、陰蹺、陽維、陰維是也。任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海。衝脈起於會陰，夾臍而行，直衝於上，為諸脈之衝要，故曰十二經脈之海。帶脈則橫圍於腰，狀如束帶，所以總約諸脈也。陽蹺起於跟中，循外踝上行於身之左右；陰蹺起於跟中，循內踝上行於身之左右；所以使機關之蹺捷也。陽維起於諸陽之會，由外踝而上行於衛分；陰維起於諸陰之交，由內踝而上行於營分；所以為一身之綱維也。是故任沖主身前之陰，督主身後之陽，以南北言也。帶脈橫束諸脈，以六合言也。陽蹺主一身左右之陽，陰蹺主一身左右之陰，以東西言也。陽維主一身之表，陰維主一身之裡，以乾坤言也。是故醫而知乎八脈，則十二經、十五絡之大指得矣。仙而知乎八脈，則虎龍升降、玄牝幽微之竅妙得矣。</p>

<h2>任脈循行圖</h2>
<figure>
<img alt="任脈循行圖">
</figure>

<h2>任脈循行主病歌（經文附註內）</h2>
<p>任脈起於中極下（中極，穴名，在臍下四寸。任脈起於其下，由少腹內胞門之宮、會陰之分上行，而外出循曲骨上毛際至中極），上行腹裡循關元（同足厥陰、太陰、少陰並行腹裡，循臍下三寸之關元，小腸之募，三陰、任脈之會），循內上行會衝脈，浮外循臍至喉咽，別絡口唇承漿已，過足陽明上頤間，循面入目至睛明，會督為陰脈海傳（《靈樞·五音五味篇》曰：衝脈、任脈，皆起於胞中，上循背裡，為經絡之海；其浮而外者，循腹上行會於咽喉，別而絡唇口，至承漿而終；上頤循面入目至睛明，會於督脈，總為陰脈之海也。按：任脈由腹上行會於咽喉，別而絡唇口。血氣盛則肌肉熱，血獨盛則滲灌皮膚、生毫毛；婦人有餘於氣，不足於血，以其月事數下，任沖並傷，故脈不營於口唇，則髭鬚不生），男子內結七疝病，女人帶下瘕聚團（任脈自前陰上行於腹，故男女之為病如此）。</p>

<h2>任脈穴圖</h2>
<p>（脈長四尺五寸）</p>
<figure>
<img alt="任脈穴圖">
</figure>
<p>凡此任脈之行，從胞中上注目，長四尺五寸，總二十四穴。按：《氣府論》曰：任脈之氣所發者二十八穴。本經原缺一穴，實只二十七穴；內齦交一穴，屬督脈；承泣二穴，屬足陽明、蹺脈；故只二十四穴。</p>

<h2>任脈穴歌</h2>
<p>任脈中行二十四，會陰潛伏兩陰間，曲骨之上游中極，關元石門氣海邊，陰交神闕水分處，下脘建里中脘前。上脘巨闕連鳩尾，中庭膻中玉堂里，紫宮華蓋運璇璣，天突廉泉承漿止。</p>

<h2>取穴分寸並別</h2>
<p>會陰：（一名屏翳。）在大便前、小便後，兩陰之間。任脈別絡，俠督脈、衝脈之會。一云任督沖三脈所起，任由此而行腹，督由此而行背，沖由此而行少陰之分。</p>
<p>曲骨：在橫骨上，中極下一寸，毛際陷中動脈。任脈、足厥陰之會。</p>
<p>中極：（一名玉泉，一名氣原。）在臍下四寸。膀胱募也。足三陰、任脈之會。</p>
<p>關元：（一名次門，一名下紀。）在臍下三寸。此穴當人身上下四旁之中，故又名大中極，乃男子藏精、女子蓄血之處。小腸募也。足三陰、陽明、任脈之會。（《千金》云：治久痢百治不瘥，灸三百壯，分十日灸之；又治冷痢腹痛，及臍下結痛，流入陰中，發作無時，仍灸天井百壯。《神農經》云：治痃癖氣痛，可灸二十一壯。）</p>
<p>石門：（一名命門，一名丹田，一名精露，一名利機。）在臍下二寸。三焦募也。</p>
<p>氣海：（一名脖胦，一名下肓。）在臍下一寸半宛宛中。肓之原也，為男子生氣之海。（刺八分，灸五壯。此氣海也，凡臟氣憊，一切真氣不足，久疾不瘥者，悉皆灸之。《甲乙經》曰：刺一寸三分，一日灸百壯。昔柳公度曰：吾養生無他術，但不使元氣佐喜怒，使氣海常溫爾。今人既不能不以元氣佐喜怒，若能時灸氣海使溫，亦其次也。予舊多病，常若氣短，醫者教灸氣海，氣遂不促，自是每歲一二次灸之，則以氣怯故也。）</p>
<p>陰交：（一名少關，一名橫戶。）在臍下一寸，一曰當膀胱上際。三焦募也。任、沖、少陰之會。（刺八分，灸五壯，一曰灸百壯。主治衝脈生病，從少腹衝心而痛，不得小便，疝痛，陰汗，濕癢，奔豚，腰膝拘攣，婦人月事不調，崩中，帶下，陰癢，產後惡露不止，繞臍冷痛。）</p>
<p>神闕：（一名氣舍。）當臍中。（灸三壯，禁刺，刺之令人惡瘍潰矢，死不治。一曰納炒乾淨鹽滿臍，上加厚姜一片蓋定，灸百壯，或以川椒代鹽亦妙。《千金》云：納鹽臍中灸三壯，治淋。又：霍亂納鹽灸二七壯。又：灸神闕，主治陰證傷寒，中風不省人事，腹中虛冷傷憊，腸鳴泄瀉不止，水腫鼓脹，小兒乳痢不止，腹大風癇，角弓反張，脫肛。婦人血冷不受胎者，灸此永不脫胎。此穴在諸傢俱不言灸，只云禁針。《銅人》云：宜灸百壯。有徐平者，卒中不省，得桃源為灸臍中百壯始蘇，更數月復不起。鄭糾云：有一親卒中風，醫者為灸五百壯而蘇，後年逾八十。向使徐平灸至三、五百壯，安知其不永年耶。故神闕之灸，須填細鹽，然後灸之，以多為良。若灸至三五百壯，不惟愈疾，而且延年；若灸少，則時或暫愈，後恐復發，必難灸矣。但夏月人神在臍，乃不宜灸。）</p>
<p>水分：（一名分水，一名中守。）在下脘下一寸，臍上一寸。當小腸下口至是而泌別清濁。水液入膀胱，渣滓入大腸，故曰水分。</p>
<p>下脘：在建里下一寸，臍上二寸。當胃下口、小腸上口。足太陰、任脈之會。</p>
<p>建里：在臍上三寸，中脘下一寸。</p>
<p>中脘：（一名太倉，一名胃脘，一名上紀。）在上脘下一寸，臍上四寸，居岐骨與臍之中。胃之募也，為腑之會。手太陽、少陽、足陽明所生，任脈之會。（此穴刺八分，灸七壯；一云二七壯，至百壯。此為腑會，故凡腑病者當治之。）</p>
<p>上脘：在巨闕下一寸五分，去蔽骨三寸，臍上五寸。足陽明、手太陽、任脈之會。（《千金》云：日灸二七壯至百壯，三報之。《神農經》云：治心疼積塊嘔吐，可灸十四壯。《玉龍賦》云：閤中脘，治九種之心疼。）</p>
<p>巨闕：在鳩尾下一寸。心之募也。（《千金》云：治吐逆不下食，灸五十壯。又：治卒忤，灸百壯。《神農經》云：治小兒諸癇病，如口噦吐沫，可灸三壯，艾炷如小麥。）</p>
<p>鳩尾：（一名𩩲骬，一名尾翳。）在臆前蔽骨下五分。人無蔽骨者，從岐骨際下行一寸，《甲乙經》曰一寸半。膏之原也。（禁刺灸。此穴大難下針，非甚妙高手，不可輕刺也。）</p>
<p>中庭：在膻中下一寸六分陷中，仰而取之。</p>
<p>膻中：（一名元兒，又一名上氣海。）在玉堂下一寸六分，橫兩乳間陷中，仰而取之。（禁刺，灸七壯。此穴乃氣之會也，凡上氣不及下氣、嗌氣、膈氣、痛之類，均宜灸之。）</p>
<p>玉堂：（一名玉英。）在紫宮下一寸六分陷中，仰而取之。（刺三分，灸五壯，一云少灸。主治胸膺滿痛，煩咳喘急，喉痹咽壅，水漿不入等證。）</p>
<p>紫宮：在華蓋下一寸六分陷中，仰而取之。（刺三分，灸五壯，治同玉堂。）</p>
<p>華蓋：在璇璣下一寸陷中，仰而取之。（刺灸主治同上。）</p>
<p>璇璣：在天突下一寸陷中，仰而取之。（刺灸主治同上。）</p>
<p>天突：（一名玉戶。）在結喉下三寸宛宛中。陰維、任脈之會。（《神農經》云：治氣喘咳嗽，可灸七壯。）</p>
<p>廉泉：（一名本池，一名舌本。）在頷下結喉上中央舌本下，仰而取之。陰維、任脈之會。（按：《刺瘧論》所載曰：舌下兩脈者，廉泉也。《氣府論》曰：足少陰舌下各一。《衛氣篇》曰：足少陰之標，在背腧與舌下兩脈。然則廉泉非一穴，當是舌根下之左右泉脈，而且為足少陰之會也。）</p>
<p>承漿：（一名天池，一名懸漿。）在頤前下唇稜下陷中。足陽明、任脈之會。（刺二分，留五呼，灸三壯。主治偏風半身不遂，口眼喎斜，口噤不開，暴喑不能言，刺三分，徐徐引氣而出，及治任之為病，其苦內結，男子為七疝，女子為癥聚。一云療偏風口喎面腫，消渴飲水不休，口齒疳蝕生瘡，灸之亦佳，日可七壯，至七七壯止，即血脈宣通，其風應時立愈，艾炷不必大，但令當脈，即能愈疾。《千金》云：小兒唇緊，灸三壯。《百證賦》云：瀉牙疼而即移。）</p>
<p>任脈之別，名尾翳，下鳩尾，散腹。實則腹皮痛，虛癢搔，取之所別。（注：尾翳，誤也。任脈之絡名屏翳，即會陰穴，在大便前、小便後兩陰之間，任督沖三脈所起之處。此經由鳩尾下行散腹，故為病若此，而治之者，當取所別之會陰也。）</p>

<h2>督脈循行圖</h2>
<figure>
<img alt="督脈循行圖">
</figure>

<h2>督脈循行主病歌</h2>
<p>督起少腹骨中央（少腹，胞宮之所居；骨，橫骨中央，下近外之中央也），入系廷孔絡陰器（廷孔，言中正之直孔，即溺孔也。女人孔在前陰中橫骨之下孔上際。謂之端乃督脈外起之所。此雖言女子，然男子溺孔亦在橫骨下中央，循宗筋而出莖端也。別絡自溺孔之端，循順分行向後也），合篡至後別繞臀（篡謂兩便爭行之所，即前後二陰之間；合者循陰器向後復合篡間，分而為二，繞行篡後之臀也），與巨陽絡（太陽中絡）少陰比（合少陰腎脈，並行）至股（內後廉）貫脊屬腎行，相隨大腸起（目）內眥，上額交巔絡腦間，（還出別）下項循肩（膊內）仍俠脊。抵腰（中，入循膂）絡腎循男莖（絡督之別絡，並足太陽經上頭下項，俠脊抵腰中，復絡於腎；若直行者，自尻上循脊裡上頭，由鼻而至人中也；莖，男子陰莖），下篡亦與女子類。又從少腹貫臍中，（央）貫心入喉頤唇宮（上頤還唇），上系兩目下中央，此為並任（並任脈而行）亦同沖，大抵三脈同道起（督衝任皆起於會陰之中下，一原而三岐，異名而同體），靈素言之每錯綜（《五音五味篇》曰：衝任脈皆起胞中，上循背裡；是又言衝任行背，故經亦有謂衝任脈為督脈者。古圖經有以任脈循背謂之督，自少腹直上者謂之任，亦謂之督。今人大率以行身背者為督，行身前者為任，俠臍膀左右上行者為沖。然循任督二經所行穴道，一在身前，一在身後，而衝脈居中，本無穴道，伴行足少陰腎經穴道，似當以此說為正），督病少腹（上）衝心痛，不得前後（二便不通）沖疝攻（此督脈為病，而兼於衝任二脈之症），其在女子為不孕（沖為血海，任主胞脈），嗌乾（脈衝咽喉）遺溺及痔癃（絡陰器，合篡間，此督脈為病同於衝脈，考）督脈生病治督脈，骨上臍下可收功（骨上，橫骨上毛際下曲骨穴；臍下，謂臍下一寸陰交穴；皆任脈之穴，其治而言督，何也。蓋督衝任三脈同一體，督即任沖之綱領，任沖即督之別名也，故言治若此），別絡病實則脊強，虛而頭重高搖空（注見別絡之後）。</p>

<h2>督脈穴圖</h2>
<p>（脈長四尺五寸）</p>
<figure>
<img alt="督脈穴圖">
</figure>

<h2>督脈穴歌</h2>
<p>督脈行背之中行，二十八穴始長強，腰俞陽關入命門，懸樞脊中中樞長。筋縮至陽歸靈臺，神道身柱陶道開，大椎瘂門連風府，腦戶強間後頂排。百會前頂通囟會，上星神庭素髎對，水溝兌端在唇上，齦交上齒縫之內。</p>
<p>凡取脊間督脈諸穴，當於骨節突處取之，但驗於魚骨為可知也，若取於節下，必不見效。</p>
<p>按：督脈始於長強者，本自《靈樞·經脈篇》，曰督脈之別名長強，俠脊上項散頭上下，當肩胛左右別走太陽，入貫膂；《難經·二十八難》曰：督脈者，起於下極之俞，並於脊裡之上，至風府入屬於腦；乃指穴而言也。前論督脈起於少腹者，是指循行而言也。</p>

<h2>取穴分寸並別</h2>
<p>長強：（一名氣之陰郄，一名撅骨，《靈樞》謂之窮骨，亦名尾骶。）在脊骶骨端，伏地取之。督脈之絡，別走任脈，足少陰所結。一云足少陰、少陽之會。（《千金翼》云：治赤白下痢，灸窮骨頭百壯，多多惟佳。又：下漏五痔，疳蟲食下部，刺三分，伏地取之，以大痛為度；灸亦良，日三十壯，至七日止，但不及針。又：灸尾翠骨七壯，治脫肛神良。《千金》作龜尾，即窮骨也。此穴為五痔之本。）</p>
<p>腰俞：（一名腰柱，一名背解，一名腰戶，一名隨室。）在二十一椎節下間宛宛中。（《千金》云：腰卒痛，去窮骨上一寸，灸七壯者，即此。）</p>
<p>陽關：在十六椎節下間，伏而取之。（《甲乙經》無此穴。）</p>
<p>命門：（一名屬累。）在十四椎節下間，伏而取之。一云：平臍，用線牽而取之。（《千金》云：腰痛不得動者，令病人正立，以竹杖拄地，度至臍，乃取杖度背脊，灸杖頭盡處，隨年壯良。丈夫痔漏下血，脫肛不食，長泄痢，婦人崩中出血，帶下淋濁赤白，皆灸之，此俠兩旁各一寸，橫三間寸灸之。《標幽賦》云：兼肝俞，能使瞽士視秋毫之木。）</p>
<p>懸樞：在十二椎節下間，伏而取之。</p>
<p>脊中：（一名神宗，一名脊俞。）在十一椎節下間，俯而取之。</p>
<p>中樞：在第十椎節下間，俯而取之。此穴諸書皆失之，惟《氣府論》督脈下王氏注中有此穴，及考之《氣穴論》，曰背與心相控而痛，所治天突與十椎者，其穴即此。</p>
<p>筋縮：在九椎節下間，俯而取之。</p>
<p>至陽：在七椎節下間，俯而取之。（刺五分，灸三壯，主治腰脊強痛，胃中寒不食，少氣，胸脅支滿，羸瘦，身黃，淫濼脛酸，四肢重痛，寒熱解㑊。）</p>
<p>靈臺：在六椎節下間，俯而取之。《甲乙經》無此穴，出《氣府論注》。</p>
<p>神道：在五椎節下間，俯而取之。</p>
<p>身柱：在三椎節下間，俯而取之。（刺五分，留五呼，灸五壯。一曰灸七七壯。主治腰脊痛，癲癇，狂走，怒欲殺人，瘛瘲身熱，妄言見鬼，小兒驚癇。《神農經》云：治頦嗽可灸十四壯。）</p>
<p>陶道：在大椎節下間，俯而取之。督脈、足太陽之會。</p>
<p>大椎：（一名百勞。）在第一椎上陷者中，一曰平肩。手足三陽、督脈之會。（大椎為骨會，骨病者可灸之。《千金》云：凡瘧有不可瘥者，從未發時前灸大椎，至發時滿百壯，無不瘥。時傳以此治百病。《神農經》云：治小兒急慢驚風。）</p>
<p>啞門：（一名喑門，一名舌厭，一名舌橫。）在項後入髮際五分宛宛中，仰頭取之。督脈、陽維之會，入系舌本，禁灸，灸之令人啞。</p>
<p>風府：（一名舌本。）在項上入髮際一寸，大筋內宛宛中。疾言其肉立起，言休其肉立下。督脈、陽維之會。《熱論》曰：巨陽者，諸陽之屬也，其脈連於風府。（此穴刺三分，留三呼，禁灸，灸之令人喑。《席弦賦》云：風府風池尋得到，傷寒百病一時消。又云：從來風府最難尋，須用功夫度淺深，倘若膀胱氣未散，更宜三里穴中尋。）</p>
<p>腦戶：（一名匝風，一名會額，一名合顱。）在枕骨上，強間後一寸五分。一曰在髮際上二寸。督脈、足太陽之會。禁刺灸，刺中腦戶，入腦立死。</p>
<p>強間：（一名大羽。）在後頂後一寸五分。</p>
<p>後頂：（一名交沖。）在百會後一寸五分，枕骨上。</p>
<p>百會：（一名三陽五會，一名巔上，一名天滿。）在前頂後一寸五分，頂中央旋毛心，容豆許，直兩耳尖，上對是穴。督脈、足太陽之會；手足少陽、足厥陰俱會於此。（刺二分，灸五壯。《甲乙經》曰：刺二分，灸三壯。一曰灸頭頂不得過七七壯。主治頭風頭痛，耳聾，鼻塞鼻衄，中風言語蹇澀，口噤不開，或多悲哭，偏風半身不遂，風癇卒厥，角弓反張，吐沫心神恍惚，驚悸健忘，痎瘧，女人血風，胎前產後風疾，小兒風癇驚風，脫肛久不瘥。一曰百病皆治，宜刺此二分，得氣即瀉。若灸至百壯，停三五日後，繞四畔用三稜針出血，以井花水淋之，令氣宣通，否則恐火氣上壅，令人目暗。一曰治悲笑欲死，四肢冷氣欲絕，身口溫，可針人中三分，灸百會三壯即蘇。《史記》載扁鵲治虢太子屍厥，針取三陽五會而蘇。《席弘賦》云：小兒脫肛患多時，先灸百會後尾骶。）</p>
<p>前頂：在囟會後一寸五分骨陷中，一云在百會前一寸。（《神農經》云：治小兒急慢驚風，可灸三壯，艾炷如小麥。）</p>
<p>囟會：在上星後一寸陷中。（刺二分，灸五壯，一曰灸二七至七七壯。小兒八歲以前禁針，蓋其囟門未合，刺之不幸，令人夭。《千金》云：邪病鬼癲，囟上主之，一名鬼門。《神農經》云：治頭風疼痛，可灸三壯。小兒急慢驚風，灸三壯，炷如小麥。一云：頭風生白屑多睡，針之彌佳，針訖，以末鹽生麻油相和，揩髮根下，頭風永除。）</p>
<p>上星：（一名神堂。）在鼻直上入髮際一寸陷中，可容豆。（《千金》云：鼻中息肉，灸二百壯。一云宜三稜針出血，以瀉諸陽熱氣。）</p>
<p>神庭：直鼻上入髮際五分，發高者髮際是穴，發低者加二三分。督脈、足太陽、陽明之會。禁刺，灸三壯，專理頭風。</p>
<p>素髎：（一名面王。）在鼻端準頭。刺一分，禁灸。（主治鼻中息肉不消，喘息不利，多涕，喎噼，衄血。一曰：治酒酢風，用三稜針出血。）</p>
<p>水溝：（一名人中。）在鼻下溝中央，近鼻孔陷中。督脈、足陽明之會。（刺三分，留六呼，得氣即瀉，灸三壯至七壯，炷如小麥，然灸不及針。主治中風口噤，牙關不開，卒中惡邪鬼擊，不省人事，癲癇卒倒，消渴多飲，水氣遍身浮腫，瘟疫，口眼喎噼，俱宜刺之。若風水面腫，針此一穴，出水盡即愈。《神農經》云：小兒急慢驚風，可灸三壯，炷如小麥。）</p>
<p>兌端：在上唇端。《甲乙經》曰：手陽明脈氣所發。（刺二分，留六呼，灸三壯，炷如大麥，治齒齦痛，口瘡，臭不可近。）</p>
<p>齦交：（齦，音銀，齒根肉。）在唇內上齒縫中。任督二經之會。（逆刺三分，灸三壯，治鼻息，牙疳，小兒面瘡。）</p>
<p>督脈之別，名曰長強，挾膂上項，散頭上，下當肩胛左右，別走太陽，入貫膂。實則脊強，虛則頭重高搖之，挾脊之有過者，取之所別也。（別者，別走任脈、足少陰者也。本經上頭項，走肩背，故為病如此。頭重高搖之，謂力弱不勝而顫掉也。治此者，當取所別之長強。）</p>

<h2>衝脈循行圖</h2>
<figure>
<img alt="衝脈循行圖">
</figure>

<h2>衝脈循行主病歌（經文附註內）</h2>
<p>衝起氣街並少陰（起，言脈外所起，非發源之謂也。氣街，一名氣衝，在少腹毛際兩旁各二寸，橫骨兩端動脈宛宛中，足陽明穴也。並少陰穴合，皆云足少陰之會），俠臍上行胸中散（俠臍左右五分，而上至胸中而散，會於咽喉，別而絡唇口，此言衝脈之前行者也）。沖為五臟六腑海（沖為血海。《痿論》曰：經脈之海也，主滲溪谷，與陽明合於宗筋。《海論》曰：十二經脈之海也，其輸上注於大杼，下出於巨虛之上下廉）。五臟六腑皆稟氣（上出頏顙）滲諸陽經灌諸精，從下衝上取茲義（故名沖）。其有並腎下行者，注少陰（大）絡氣街出，（循）陰股內廉入膕中，（膝後曲處）伏行骭骨內踝際。下滲三陰（肝脾腎）灌諸絡，以溫肌肉至跗指（《逆順肥瘦篇》曰：並少陰氣街，循陰股入膕中，伏行骭骨內，下至內廉之後屬而別；其下者，並少陰經滲三陰；其前者，伏行出跗屬，循跗入足大指間，滲諸絡而溫肌肉；別絡結則跗上不動，不動則厥，厥則寒矣），總之內外布周身，前後上下無不至（衝脈之下行者，雖會於陽明之氣街，而實並於足少陰之經，且其上自頭、下自足、後自背、前自腹、內自溪谷、外自肌肉，陰陽表裡，無所不涉。又：《歲露篇》曰：入脊內注於伏沖之脈。《百病始生篇》曰：傳舍於伏沖之脈。所謂伏沖者，以其最深也。故凡十二經之氣血，此皆受之，以營養周身，所以為五臟六腑之海），氣不順時血泣凝，為病逆氣裡急是（衝脈俠臍上行至於胸中，故其氣不順則膈塞逆，氣血不和則胸腹裡急矣）。</p>

<h2>衝脈總釋</h2>
<p>衝脈起於腹氣之街者，是謂氣所行之街也。一身之大氣積於胸中者，有先天之真氣，是所受者，即人之腎間動氣也；有後天之宗氣，是水穀所化者，即人之胃氣也。此所謂起於腹氣之街者，是起胃中谷氣也。並於少陰，是並於腎間動氣。真氣與穀氣相併，俠臍上行胸中而散，是大氣分布五臟六腑諸經而充周身也。</p>

<h2>衝脈穴圖</h2>
<p>（穴位尺寸見足少陰腎經）</p>
<figure>
<img alt="衝脈穴圖">
</figure>

<h2>衝脈穴歌</h2>
<p>衝脈俠臍起橫骨，大氣四注肓俞同，商石陰通幽門穴，至胸散布仍流行。</p>

<h2>陽蹺脈循行圖</h2>
<figure>
<img alt="陽蹺脈循行圖">
</figure>

<h2>陽蹺脈循行主病歌（經文附註內）</h2>
<p>陽蹺太陽之別脈，脈氣所發起跟中，上合三陽循外踝（《二十八難》曰：陽脈者，起於跟中，循外踝上行入風池），從脅循肩與頄通，會目內眥太陽地，上入髮際下耳終（陽蹺之脈起跟中，上合手陽明、手太陽、足陽明，從脅少陽循肩入頸頄，會任脈承泣，屬目內眥而會太陽也），陰緩陽急陽蹺病，邪客陽蹺目內疼（《靈樞經》曰：陽蹺而上行氣並相還，則為濡目。《素問·繆刺論》曰：邪客於足陽蹺之脈，令人目痛從內眥始）。</p>

<h2>陽蹺脈穴圖</h2>
<figure>
<img alt="陽蹺脈穴圖">
</figure>

<h2>陽蹺脈穴歌</h2>
<p>陽蹺穴起申僕陽，居髎肩髃巨骨鄉，臑俞地倉巨髎泣，終於睛明一穴強。</p>

<h2>陽蹺脈分寸歌</h2>
<p>陽蹺脈起足太陽，申脈外踝五分藏，僕參後繞跟骨下，附陽外踝三寸鄉。</p>
<p>居髎監骨上陷取，肩髃一穴肩尖當，肩上上行名巨骨，肩胛之上臑俞坊。</p>
<p>口吻旁四地倉位，鼻旁八分巨髎疆，目下七分是承泣，目內眥出睛明昂。</p>
<p>蹺者，足也，奇經涉於足者之名也。曰陽者，以其所行陽經也。陽蹺者，謂足太陽經之別脈也。起足太陽膀胱經、足外踝下五分陷中申脈穴，繞後跟骨下僕參穴，又前斜足外踝上三寸跗陽穴，又與足少陽會於季脅軟骨端下八寸三分居髎穴，又與手足太陽、陽維會於肩後大骨下胛上廉臑俞穴，又與手足陽明會於膊骨頭肩端上肩髃穴，又上行肩尖上兩叉骨巨骨穴，又與手足陽明會夾口吻旁四分地倉穴、行於鼻孔旁八分巨髎穴，又與任脈、足陽明會於目下七分承泣穴，又與手足太陽、足陽明、陰蹺會於目內眥外一分睛明穴也。</p>

<h2>陰蹺脈循行圖</h2>
<figure>
<img alt="陰蹺脈循行圖">
</figure>

<h2>陰蹺脈循行主病歌</h2>
<p>陰蹺少陰之別脈，然骨後起循內踝，直上陰股入陰間（入陰間，即會陰穴。張紫陽曰：陰蹺脈在尾閭前陰囊下，此脈才動，諸脈皆通），上由胸裡缺盆過，出人迎（胃經頸旁動脈）前至咽喉（《二十八難》曰：陰蹺脈者，亦起於跟中，循內踝，上行至咽喉，交貫衝脈），入頄（顴內廉）合陽內眥坐（《靈樞·脈度篇》曰：蹺脈者，少陰之別脈。起於然骨之後，上內踝之上，直上循陰股入陰，上循胸裡入缺盆，上出人迎之前，入頄屬目內眥，合於太陽、陽蹺而上行，）氣並相還濡兩目，氣不榮兮目不合，二十九難著病情，陽緩陰急細推著。</p>

<h2>陰蹺脈穴圖</h2>
<figure>
<img alt="陰蹺脈穴圖">
</figure>

<h2>陰蹺脈穴歌</h2>
<p>陰蹺起於然谷後，上行照海交信列，二穴原本足少陰，足之太陽睛明接。</p>

<h2>陰蹺脈分寸歌</h2>
<p>陰蹺穴起足少陰，足內踝前然骨後，踝下一寸照海真，踝上二寸交信列。</p>
<p>陰蹺者，以其所行陰經，為足少陰之別脈也。起於腎經足內踝前，大骨下陷中、然骨後，上循內踝之下一寸照海穴，又循太谿，郄於足內踝之上二寸，直行交信穴，從交信上循至目內眥，合於太陽、陽蹺，上行氣並相還，則為濡目之用矣，此陰蹺循行之經穴也。</p>

<h2>考正陰蹺穴道（壽田）</h2>
<p>《靈樞·脈度篇》曰：蹺脈者，少陰之別脈，起於然谷之後，上內踝之上，直上入頄屬目內眥，合於太陽、陽蹺而上行。非謂起於然谷穴，而終於睛明穴也。而李時珍乃謂起於然谷穴，終於睛明穴。張介賓《類經》亦紀然谷、交信、照海、睛明四穴。《金鑑》孚而合之。獨《針灸大成》只有照海、交信二穴，左右凡四穴。（予）甚駭然，悉難為則，沉思細考《圖經》，交信為陰蹺之郄，照海乃陰蹺所生，然谷無生、郄、會之語。而睛明穴下，《氣府論注》曰：手足太陽、陽明、陽蹺五脈之會，並無陰蹺會、屬之文，無他時珍先生之謂。起於然谷穴者，是誤看後字也；終於睛明穴者，是誤看屬目內眥，合於太陽之合字也。介賓《類經》亦紀然谷、交信、照海、睛明四穴者，是著書之繁冗，失細諦之思也。何者，陰蹺之穴紀四。而蹺脈分男女之注內，按有云陰蹺為少陰之別脈，起於照海穴，由此觀之，矛盾不期而見之也。二先生者，俱為後學之指南，而著作猶有差失。籲，著作之難，不誠然哉。（予）不揣遵《圖經》之交信、照海為陰蹺之郄會者，而繪紀之，不知有小補於陰蹺之當否。</p>

<h2>蹺脈數陰陽歌</h2>
<p>陽蹺男經女是絡，陰蹺男絡女為經。脈數陰陽分男女，左右七尺五寸許（《靈樞》曰：脈有陰陽，何脈當其數。岐伯曰：男子數其陽，女子數其陰，則知男子數左右之陽蹺，女子數左右之陰蹺也。長短，數左右合一丈五尺）。陰脈營臟陽榮腑，如環無端莫知紀，氣之流溢表裡周，內濡臟腑外腠理。</p>

<h2>陽維脈循行圖</h2>
<figure>
<img alt="陽維脈循行圖">
</figure>

<h2>陽維脈循行主病歌</h2>
<p>陽維起於諸陽會，脈氣所發足太陽（起於足太陽經外踝之下金門穴也），從胻循腹背肩項，頭面維絡會督場（從胻謂自外踝上行，會足少陽為郄，循膝髀抵少腹側，循脅肋肘會臂，過肩會手少陽、足陽明，入肩後會手太陽、陽蹺，上循耳後，上頭下額，與手足少陽、陽明五脈相會，復循頭後會於督脈，維絡諸陽，以固其衛氣也），假若陽不維陽絡，溶溶不能自收藏（收藏，收持也），陽維為病苦寒熱，受邪在表衛不強（出《二十九難》）。</p>

<h2>陽維脈穴圖</h2>
<figure>
<img alt="陽維脈穴圖">
</figure>

<h2>陽維脈穴歌</h2>
<p>陽維脈起穴金門，陽交日月臑俞經。臂臑肩井天髎過，風池腦空接承靈。</p>
<p>正營目窗並臨泣，陽白仍還循本神。風府啞門會督脈，左右三十四穴成。</p>

<h2>陽維脈分寸歌</h2>
<p>陽維穴起足太陽，外踝一寸金門藏。踝上七寸陽交郄，肋端日月會少陽。</p>
<p>肩後胛上尋臑俞，臂臑肘上七寸當。肩上陷中肩井地，天髎穴在缺盆鄉。</p>
<p>耳後陷中風池會，枕骨之下腦空彰。腦前寸五承靈市，靈前一寸正營場。</p>
<p>目窗只隔正一寸，入發五分臨泣詳。陽白眉端一寸度，本神入發四分量。</p>
<p>項後啞門入髮際，入發一寸風府疆。</p>

<h2>考正陽維穴道（壽田）</h2>
<p>粵稽陽維穴道，《類經》凡十三穴，則無日月、臂臑、承靈、目窗四穴。李時珍左右凡三十二穴，有居髎、臑會而無日月、風府、啞門三穴。又考《針灸大成》，穴凡三十四，有臑會而無臂臑。合諸家稽之《圖經》穴道，無陽維之會郄者去之，有陽維之會郄者紀之，實得一十七穴，左右亦成三十四矣。今遵《圖經》穴屬，逐一而縷明之。金門穴，足太陽之郄，陽維別屬也；起足外踝下一寸，行於足少陽經之足外踝上七寸。陽交穴，乃陽維之郄也。三肋端橫之日月穴，足太陰、少陽、陽維之會，又與手足太陽及蹺脈會於肩後大骨下、胛骨上廉臑俞穴也。肘上七寸之臂臑，是手足太陽、陽維之會，又會於肩上陷中肩井穴。缺盆中上毖骨際之天髎穴，乃手足少陽、陽維之會也。耳後陷中之風池，枕骨下之腦空，腦前寸五之承靈，靈前一寸之正營，隔營一寸之目窗，眉上一寸之陽白，入發四分之本神，俱屬少陽、陽維之會。足太陽、少陽、陽維三脈之會者，入發五分之臨泣穴也。項後入發之啞門，入發一寸之風府二穴者，系督脈、陽維之會也。約上諸穴，實陽維之左右三十四穴也，晰明於此，求正後之賢者。</p>

<h2>陰維脈循行圖</h2>
<figure>
<img alt="陰維脈循行圖">
</figure>

<h2>陰維脈循行主病歌（經文附註內）</h2>
<p>陰維脈起諸陰交，內踝上行築賓郄（築賓，足少陰經穴，為陰維之郄，其脈發於此處），循腹至乳上咽喉，維絡諸陰會任適，脈終上至在頂前（循腹謂自腨肉分中上循股內廉，上行入小腹；會足太陰、厥陰、少陰、陽明，上會足太陰；循脅肋，會足厥陰；上胸膈，挾咽喉，與任脈會上至頂前而絡也），不自相維志豪失（《二十八難》曰：陽維、陰維者，維絡於身，溢蓄不能環流灌溉諸經者也。故陽維起於諸陽之會，陰維起於諸陰之交。陽維維於陽，陰維維於陰，陰陽不能自相維，則悵然失志，溶溶不能自收持者也），陰維為病苦心痛，主治三陰可愈疾。</p>
<p>李瀕湖曰：陽維之脈，與手足三陽相維，而足太陽、少陽則始終相聯附者，寒熱之證，惟二經有之。故陽維為病，亦苦寒熱。蓋衛氣晝行於陽，夜行於陰，陰虛則內熱，陽虛則外寒。邪氣在經，內與陰爭而惡寒，外與陽爭而發熱。則寒熱之在表而兼太陽證者，有汗當用桂枝，無汗當用麻黃。寒熱之在半表半裡而兼少陽證者，當用小柴胡湯加減治之。若夫營衛惵卑而病寒熱者，黃耆建中及八物湯之類主之。潔古獨以桂枝一證屬之陽維，似未擴充。至於陰維為病苦心痛，潔古獨以三陰溫里之藥治之，則寒之中三陰者宜矣。而三陰熱厥作痛，似未備矣。蓋陰維之脈雖交三陰而行，實與任脈同歸，故心痛多屬少陰、厥陰、任脈之氣上衝而然。暴痛無熱，久痛無寒，按之少止者為虛，不可按近者為實。凡寒痛兼少陰及任脈者，四逆湯；兼厥陰者，當歸四逆湯；兼太陰者，理中湯主之。凡熱痛兼少陰及任脈者，金鈴散、延胡索散；兼厥陰者，失笑散；兼太陰者，承氣湯主之。若營血內傷，兼夫任、沖、手厥陰者，則宜四物湯、養營湯、妙香散之類。因病藥之，如此則陰陽虛實庶乎其不差矣。</p>

<h2>陰維脈穴圖</h2>
<figure>
<img alt="陰維脈穴圖">
</figure>

<h2>陰維脈穴歌</h2>
<p>陰維之穴起築賓，府舍大橫腹哀循，期門天突連舌本，此是陰維脈維陰。</p>

<h2>陰維脈分寸歌</h2>
<p>陰維脈起足少陰，內踝之上尋築賓，少腹之下稱府舍，大橫平臍是穴名，此穴去中三寸半，行至乳下腹哀明，期門直乳二肋縫，天突結喉下一寸，喉上中央舌本下，穴名廉泉通腎津。</p>
<p>陰維起於諸陰之交者，謂起於足少陰腎經之內踝後上腨分中築賓穴，與足太陰交於少腹下、去腹中行三寸半府舍穴，又平臍去中行三寸半大橫穴，又行至乳下二肋端縫之下二寸腹哀穴，又與足厥陰交於乳下二肋端縫期門穴，又與任脈交於結喉下一寸宛宛中天突穴，從天突上行在頷下結喉上、口中舌本下廉泉穴而終，此陰維脈氣所發也。</p>

<h2>帶脈循行圖</h2>
<figure>
<img alt="帶脈循行圖">
</figure>

<h2>帶脈循行主病歌（經文附註內）</h2>
<p>帶起季脅繞身行（《二十八難》曰：帶脈者，起於季脅，回身一周），同足少陽之經循（足少陽經、帶脈之會），圍身一周如束帶，又與少陽會樞維（樞維，穴名），靈樞說足少陰正，上膕別走太陽經，合腎十四椎屬帶（《經》曰：足少陰上至膕中，別走太陽而合，上至腎，當十四椎出屬帶脈。楊氏曰：帶脈總束諸脈，使不妄行，如人束帶而下垂，故名。婦人惡露隨脈而下，故謂之帶脈也），脈氣所發是正名，主病溶溶（漫緩貌）囊水狀，婦女月事雜證侵（《明堂》曰：婦人腹痛，裡急後重，瘛瘲，月事不調，赤白帶下。《素問》曰：邪客於太陰之絡，令人腰痛引小腹痛控䏚，不可以養息。王海藏曰：女子經病血崩，久而成枯者，宜澀之益之；血閉而成竭者，宜益之破之。破血有三治：始則四物入紅花，調黃耆、肉桂；次則四物入紅花，調鯪鯉甲、桃仁、桂、童子小便，和酒煎服；末則四物入紅花，調易老沒藥散）。</p>

<h2>考正帶脈穴道（壽田）</h2>
<p>帶脈之穴，李時珍謂起於季脅之章門，循帶脈，又與足少陽會於五樞、維道，左右凡八穴。張介賓《類經》謂脈氣所發在季脅下一寸八分，穴名帶脈，又與足少陽會於維道凡四穴。《金鑑》與《針灸大成》均言帶脈、五樞、維道，凡六穴。考之《圖經》，帶脈、五樞、維道三穴屬帶脈之會，章門穴乃脾之募，臟之會，非帶脈之會也。時珍穴之四，介賓穴之二，較之《圖經》，俱有差失。今遵《圖經》、《金鑑》、《大成》穴屬而縷繪之，以質後之賢者。</p>

<h2>帶脈穴圖</h2>
<figure>
<img alt="帶脈穴圖">
</figure>

<h2>帶脈穴歌</h2>
<p>帶起少陽帶脈穴，繞行五樞維道間，京門之下居髎上，周迴季脅束帶然。</p>

<h2>帶脈分寸歌</h2>
<p>帶脈部分足少陽，季脅寸八是其鄉，由帶三寸五樞穴，過章下三維道當。</p>
<p>帶脈穴，在季脅下一寸八分。從帶脈穴下三寸，即五樞穴也。從五樞下行過肝經之章門穴下五寸三分，即維道穴也。</p>

<h2>諸部經絡循行會通發明</h2>

<h3>頭面部</h3>
<p>巔：足太陽之脈交巔。其支者從巔。直者從巔。足厥陰之脈內行與督脈會於巔。手少陽之正別於巔。足少陽之筋交巔上。督脈上額交巔上（俱見經絡類）。</p>
<p>腦髓：足太陽之脈直者入絡腦。足陽明循眼系絡腦。督脈入絡腦。諸髓者皆屬於腦。腦為髓之海（經絡）。腦者陰也，髓者骨之充也。髓者以腦為主。肌肉之精為約束裹擷筋骨，血氣之精而與脈併為系，上屬於腦（疾病）。氣在頭者止之於腦（經絡）。</p>
<p>額顱：足陽明之脈循髮際至額顱。足太陽之脈上額。足厥陰之脈上出額。足少陽之筋，直者上額角。手少陽之筋結於角（俱經絡）。手足少陰、太陰、足陽明，此五絡皆上絡左角（針刺）。</p>
<p>頭：足少陽之脈上抵頭角。足太陽之筋，直者上頭。手陽明之筋，直者上左角絡頭。督脈之別散頭上。頭氣有街（俱見經絡類）。陰氣從足上行至頭。陽氣從手上行至頭。頭者睛明之府（俱疾病）。三陽在頭（脈色）。</p>
<p>面：任脈循面。足少陽之別散於面。手少陰之正出於面（經絡類）。諸陽之會皆在於面（疾病）。十二經脈、三百六十五絡，其血氣皆上於面而走空竅。心者生之本，其華在面（臟象類）。</p>
<p>目（附命門）：目者，肝之官也（脈色）。東方色青，入通於肝，開竅於目。東方生風，在竅為目（臟象）。敷和之紀，其主目（運氣）。任脈入目。督脈與太陽起於目內眥，其少腹直上者，上系兩目之下。蹺脈屬目內眥，氣不營則目不合（經絡類）。足太陽之脈，有通項入於腦者，正屬目本，名曰眼系。陰蹺陽蹺，陰陽相交，陽入陰，陰出陽，交於目銳眥，陽氣盛則瞋目，陰氣盛則瞑目（針刺）。足太陽之脈起目內眥。足太陽之筋，支者為目上綱。足陽明之筋上合於太陽，為目下綱。足陽明之正還系目系。足太陽之脈起目銳眥，支者至銳眥後。足少陽之筋，支者結於目眥為外維。足少陽之正系目系，合少陽於外眥。足厥陰脈之內行連目系。手太陽之脈至目銳眥，支者至目內眥。手少陽脈之支者至目銳眥。手少陰脈之支者系目系。手少陰之正合目內眥。手少陰之別系目系（俱經絡類）。手陽明之別者合於宗脈（經脈）。肝氣通於目，肝和則目能辨五色矣。平旦陰盡，陽氣出於目，目張則氣上行於頭，夜則氣行於陰而復合於目。諸脈者皆屬於目（經絡類），其精陽氣上走於目而為睛（臟象），心者五臟之專精也，目者其竅也。目者，宗脈之所聚也，上液之道也。五臟六腑，目為之候。五臟六腑之精液盡上滲於目。五臟六腑之精氣皆上注於目而為之精，精之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，其窠氣之精為白眼，肌肉之精為約束。目者，五臟六腑之精也，營衛魂魄之所常營也，神氣之所生也。目者，心使也（俱疾病類）。</p>
<p>命門：足太陽之標在兩絡（即睛明穴）。結於命門，命門者目也（經絡）。手太陽之標在命門之上一寸。</p>
<p>鼻（附天牝）：鼻者肺之官也（脈色）。西方白色，入通於肺，開竅於鼻，腫主鼻，在竅為鼻。（臟象。）審平之紀，其主鼻。（運氣。）手陽明脈之支者上挾鼻孔。足陽明之脈起於鼻之交頞中，下循鼻外。手太陽脈之支者抵鼻。足陽明之筋下結於鼻。足太陽之筋結於鼻。（俱經絡類。）其宗氣上出於鼻而為臭。（臟象。）肺氣通於鼻，肺和則鼻能知香臭矣（經絡）。</p>
<p>天牝：天牝從來，復得其往（天牝，鼻也）。</p>
<p>耳：耳者腎之官也（脈色）。南方赤色，入通於心，開竅於耳。腎主耳，在竅為耳。（臟象。）足太陽脈之支者至耳上角。足陽明之脈循頰車上耳前。足陽明之筋，其支者結於耳前。足少陽之脈下耳後，支入耳中，出耳前。足少陽之筋出太陽之前，循耳後。足少陽之標在窗籠者，耳也。手太陽脈之支者入耳中。手少陽脈之支者系耳後，出耳上角，又支從耳後入耳中，出耳前。手太陽之筋結於耳後完骨，支者入耳中，直者出耳上。手厥陰之正出耳後，合少陽完骨之下。手陽明之別者入耳，合於宗脈（俱經絡類）。手足少陰、太陰、足陽明五絡，皆會於耳中，上絡左角（針刺）。十二經脈、三百六十五絡，其彆氣走於耳而為聽（臟象）。耳者，宗脈之所聚也（疾病）。腎氣通於耳，腎和則耳能聞五音矣（經絡）。</p>
<p>枕骨：足太陽之筋，直者結於枕骨。足少陰之筋循脊中，結於枕骨，與足太陽之筋合（經絡）。</p>
<p>完骨：足太陽之筋，支者上結於完骨。手太陽之筋，支者結於耳後完骨。手厥陰之正出耳後，合少陽完骨之下（俱經絡類）。</p>
<p>顴：手太陽之脈，斜絡於顴（經絡）。</p>
<p>頄：足太陽之筋，支者下結於頄；足陽明之筋，直者合於頄；手陽明之筋，支者結於頄。足少陽之筋，直者上結於頄。蹺脈入頄（經絡）。</p>
<p>䪼：手太陽之脈，支者上䪼。手少陽脈之支者至䪼。足少陽脈之支者抵於䪼。足陽明之正上䪼（經絡）。</p>
<p>頰：手陽明脈之支者貫頰。手太陽脈之支者，循頸上頰。手少陽脈之支者下頰。手少陽之筋，其支者當曲頰。手陽明之別上曲頰。足少陽脈之支者下加頰車。足陽明之脈循頰車。足厥陰脈之支者下頰裡（俱見經絡）。</p>
<p>頤：任脈上頤。督脈上頤。足陽明之脈循頤後下廉。足少陽之別出頤頷中（俱經絡）。</p>
<p>頷：足少陽之筋下走頷。手太陽之筋結於頷。手少陽之筋上乘頷。手陽明之筋，直者下右頷（俱經絡）。</p>
<p>顏：足太陽之筋下顏。手陽明之標在顏下（經絡）。</p>
<p>人中：手陽明脈之支者交人中（經絡）。</p>
<p>承漿：足陽明之脈下交承漿（經絡）。</p>

<h2>喉口唇舌部</h2>
<p>咽喉（人有二喉，一軟一硬，軟者居後是謂咽喉，乃水穀之道，通於六腑者也；硬者居前，是謂喉嚨，為宗氣出入之道，所以行呼吸，通於五臟者也）：任脈至咽喉。足陽明脈之支者循喉嚨。督脈入喉（經絡）。衝脈、任脈會於咽喉（臟象）。足少陰脈之直者循喉嚨。足厥陰脈之內行，循喉嚨之後。足少陽之別上挾咽。足陽明之正上循咽。足陽明挾咽之動脈。足太陰之正合於陽明，上行結於咽。手少陰脈之支者上挾咽。手太陽脈之內行循咽。手少陰之正上走喉嚨。手厥陰之正出循喉嚨，手陽明之正上循喉嚨。太陽之正循喉嚨。上焦並咽以上（俱經絡類）。咽喉者，水穀之道也；喉嚨者，氣之所以上下者也（針刺）。</p>
<p>頏顙（頏，頸也；頏顙即頸中之喉，顙當咽喉之上，懸雍之後，張口可見者也；顙前有竅息通於鼻，故為分氣之所泄）：足厥陰之脈內行上入頏顙。足陽明之標在人迎頰，挾頏顙也。（經絡。）衝脈上者出於頏顙。（針刺。）頏顙者，分氣之所泄也。</p>
<p>嗌：足太陰脈絡嗌（疾病）。足陽明之別，合諸經之氣下絡喉嗌（經絡）。地氣通於嗌（陰陽）。</p>
<p>會厭：厭小而疾薄，則發氣疾，其開闔利；厭太而厚則開闔難，其氣出遲。足之少陰絡於橫骨，終於會厭（針刺）。會厭者，聲之戶也（針刺）。</p>
<p>口：中央黃色，入通於脾，開竅於口，脾主口，在竅為口（臟象）。備化之紀，其主口。（運氣。）手陽明脈之支者挾口。足陽明之脈挾口。足陽明之正出於口。脾氣通於口，脾和則口能知五穀矣（經絡）。衝任之脈絡唇口（臟象）。</p>
<p>唇：脾之合肉也，其榮唇也。脾胃、大小腸、三焦、膀胱者，倉廩之本，其華在唇，四白（臟象）。口唇者，脾之官也（脈色）。唇舌者，肌肉之本也（疾病）。口唇者，音聲之扇也（針刺）。</p>
<p>舌：舌者，心之官也（脈色）。中央黃色，入通於脾，開竅於口，故病在舌本。心主舌，在竅為舌（臟象）。升明之紀，其主舌（運氣）。足少陰之脈，貫腎系舌本（疾病）。足太陰之脈，連舌本、散舌下。足太陰之正，貫舌中。足少陰之脈挾舌本。足少陰之正，直者系舌本。足少陰之標，在背腧與舌下兩脈。足少陰，舌下（經絡）。足之少陰上繫於舌（針刺）。足太陰之標，在背腧與舌本。足太陽之筋，支者別入結於舌本。手少陰之別系舌本。手少陽之筋，支者入系舌本。上焦上至舌（經絡）。厥陰者，肝脈也，肝者筋之合也，筋者聚於陰器而脈絡於舌本（疾病）。其濁氣出於胃，走唇舌而為味（臟象）。心氣通於舌，心和則舌能知五味矣（經絡）。</p>
<p>舌者，音聲之機也；懸雍垂者，音聲之關也（懸雍垂者，懸而下垂，俗謂之小舌，當氣道之沖，為喉間要會，故謂之關）。橫骨者，神氣所使，主發舌者也（即喉上之軟骨連心肺，故為神氣所使；上連舌本，故主發舌機）。</p>
<p>齒牙：足陽明之脈，下循鼻外，入上齒中。足陽明之動脈循牙車（經絡）。足太陽脈亦有入遍齒者，名曰角孫，上齒齲取之（針刺）。手陽明脈之支者入下齒中。手陽明之別遍齒（經絡）。臂陽明有人遍齒者，名曰大迎，下齒齲取之（針刺）。手少陽之筋，支者上曲牙（經絡）。齒者骨之所終也（氣味）。</p>

<h3>頸肩部</h3>
<p>項頸：督脈之別上項。督脈還出，別下項。足太陽之脈下項。足太陽之筋上項。足少陽之脈循頸。足太陽之正，直者從膂上出於項。足陽明之別上頭項。足少陽之筋，挾膂上至項。足少陰之正，系舌本，復出於項。手太陽脈之支者循頸。手太陽之筋，其支者循頸。手陽明脈之支者，從缺盆上頸。手陽明之筋，直者從肩髃上頸。手少陽脈之支者上項。頸中央之脈，督脈也。肌肉之精，為約束裹擷筋骨；血氣之精，而與脈系後出於項中（疾病）。</p>
<p>肩：足太陽脈之直者，循肩膊內，支者下貫腫。足太陽之筋，支者結於肩髃。足少陽之脈至肩上。手太陽之脈，繞肩胛，交肩上。手太陽之別，絡肩髃。手少陽之脈，循臑外上肩。手陽明之脈上肩。手陽明之筋，結於髃；其支者，繞肩胛。手陽明之別，上乘肩髃。手太陰之筋，結肩前髃。督脈之別，當肩胛左右走太陽。督脈循肩膊（俱見經絡類）。</p>
<p>缺盆：足陽明脈之支者入缺盆。足陽明之筋，至缺盆而結。足少陽之脈入缺盆。足少陽之筋結於缺盆。足太陽之筋上出缺盆。手太陽之脈入缺盆。手陽明之脈下入缺盆。手少陽之脈出入缺盆。手太陰之正，上出缺盆（俱經絡類）。五臟六腑，心為之主，缺盆為之道（臟象）。</p>
<p>胸：足少陽脈之支者，內行下胸中。足少陽脈之直者循胸。足少陰脈之支者注胸中。足太陰之筋散胸中。手厥陰之脈起胸中。手太陰之筋入腋散胸中。手少陽之別注胸中。手少陰之筋結下胸中。手太陰之筋下結胸裡。手心主之正，別下淵腋三寸，入胸中。脾之大絡布胸。衝脈俠臍上行，至胸中而散。</p>
<p>蹺脈上循胸裡（俱見經絡）。</p>
<p>膻中：手少陽之脈布膻中。足厥陰經絡於膻中（經絡）。膻中者，心主之宮城也（疾病）。</p>
<p>膈：手太陽之脈下膈。手少陽之脈下膈。手厥陰之脈下膈。足少陽脈之支者貫膈。足太陰之脈上膈。足厥陰之脈上貫膈。足陽明脈之支者下膈。足少陰脈之直者，從腎上貫肝膈（俱經絡）。</p>
<p>乳：足陽明脈之直者，下乳內廉。足少陽之筋繫於膺乳。手陽明之正，從手循膺乳。手少陰之筋，交太陰挾乳里（俱經絡）。胃之大絡，名曰虛里，出左乳下（脈色）。</p>
<p>腰：足太陽脈之直者抵腰中。足少陰之別貫腰。督脈挾脊抵腰中（經絡）。腰者，腎之府也（疾病）。</p>

<h3>脅肋部</h3>
<p>腋：足少陽脈之直者下腋。足少陽之筋，其直者上走腋前廉。足太陽之筋，支者從腋後外廉入腋下。手太陰之脈橫出腋下。手少陰脈之直者，下出腋下。手厥陰脈之支者抵腋下。手太陽之正，入腋走心。手少陰之正，別入淵腋兩筋之間。手心主之正，別下淵腋三寸入胸中。手太陰之正，別入淵腋少陰之前，入走肺。手太陽之筋入結於腋下。手少陰之筋上入腋。手太陰之筋入腋下。手厥陰之筋結腋下，其支者入腋。手太陰之標，在腋內動也。手心主之標，在腋下。脾之大絡，名大包，出淵腋下三寸。上焦布胸中走腋（俱經絡）。</p>
<p>脅：足少陽脈之支者循脅裡，直者過季脅。足厥陰之脈布脅肋。足陽明之筋上循脅。足少陽之筋，其直者上乘䏚季脅。足少陽之正，別者入季脅之間。手太陰之筋，下抵季脅。手厥陰脈之支者出脅。手厥陰之筋前後挾脅。脾之大絡布脅（俱經絡）。</p>
<p>肋：足太陰之筋，循腹裡，結於肋（經絡）。</p>

<h3>四肢部</h3>
<p>四肢：四肢皆稟氣於胃，而不得至經，必因於脾乃得稟也（疾病）。四肢者，諸陽之本也（疾病）。</p>
<p>手大指：手太陰之脈，出手大指端（經絡）。三陰在手（脈色）。陰氣從足上行至頭，而下行循臂至指端（疾病）。</p>
<p>手食指：手太陰脈之別絡，直出次指內廉，出其端。手陽明之脈，起大指次指端（經絡）。</p>
<p>手中指：手厥陰之脈循中指出其端（經絡）。</p>
<p>手名指：手厥陰脈之支者，循小指次指出其端。手少陽之脈，起小指次指之端（經絡）。</p>
<p>手小指：手太陽之脈起小指之端（經絡）。手少陰之脈循小指之內，出其端（經絡）。</p>
<p>手掌：手太陰之別，直入掌中。手少陰之脈，抵掌後銳骨之端，入掌內後廉。手厥陰之脈入掌中（經絡）。</p>
<p>手腕：手太陰之脈從腕後。手太陽之脈循手外側上腕。手少陽之脈循手表。手太陽之筋結於腕。手少陽之筋結於腕中。手陽明之筋結於腕。手太陰之別，名列缺，起腕上。手少陰之別，名通里，去腕寸半，別而上行。手心主之別，名內關，去腕二寸，出兩筋間。手太陽之別，名支正，上腕五寸，內注少陰。手陽明之別，名偏歷，去腕三寸，入太陰。手少陽之別，名外關，去腕二寸，外繞臂（俱經絡）。</p>
<p>合谷：手陽明之脈，出合谷兩骨間（經絡）。</p>
<p>寸口：手太陰之筋，循大指上行，結於魚後，行寸口外側。手太陰之本，在寸口之中（經絡）。</p>
<p>手踝：手太陽之脈，循手外側出踝中（經絡）。</p>
<p>肘：手太陽之脈，出肘內側兩筋之間。手陽明之脈，入肘外廉。手少陽之脈上貫肘。手太陰之脈，行心主之前，下肘中。手少陰之脈下肘內。手太陰之筋結肘中。手太陰之筋，結於肘內銳骨之後，彈之應手，小指之上。手少陰之筋上結肘內廉。手少陽之筋結於肘。手陽明之筋結於肘外。手厥陰之筋，與太陰並行，結於肘內廉。手太陽之別上走肘。手陽明之本在肘骨中。手陽明、少陽之大絡起於五指間，上合肘中（俱見經絡）。</p>
<p>臂：手太陽之脈循臂骨下廉。手太陰之脈循臂內。手少陰之脈循臂內後廉。手少陽之脈出臂外兩筋之間。手陽明之脈循臂上廉。手厥陰之脈下臂，行兩筋之間。手太陰之筋上循臂。手陽明之筋上循臂上。手陽明之別上循臂。手太陽之筋上循臂內廉。手少陽之筋循臂。手少陰之筋循臂。手厥陰之筋上臂陰，其支者結於臂。手少陽之正，外繞臂（俱經絡）。</p>
<p>臑：手太陽之脈上循臑外後廉。手陽明之脈上臑外前廉。手少陽之脈循臑外。手太陰之脈下循臑內。手少陰之脈下循臑內後廉。手厥陰之脈循臑內，行太陰、少陰之間。手太陰之筋上臑內廉。手陽明之筋上臑。手少陽之筋上繞臑外廉（俱見經絡）。</p>
<p>足：陽氣從手上行至頭而下行至足。陽氣起於足五指之表。陰脈者集於足下，而聚於足心。陰氣起於五指之裡，集於膝下而聚於膝上（疾病）。</p>
<p>足大指：足太陰之脈起於大指之端，循內側。足陽明脈之支者，入大指出其端。足少陽脈之支者，別跗上，入大指之間出其端，還貫爪甲，出三毛。足厥陰之脈起大指叢毛之際。足太陰之筋起於大指之端內側。足厥陰之筋起於大指之上。衝脈入足大指（俱見經絡）。</p>
<p>足中指：足陽明脈之支者，入中指內間口。又者入外間。足陽明之筋起於中三指（經絡）。</p>
<p>足名指：足少陽脈之直者，入小指次指之間。足少陽之筋起於小指次指（經絡）。</p>
<p>足小指：足太陽脈之支者，循京骨至小指外側。足少陰之脈起於小指之下，邪走足心。足太陽之筋起於足小指。足少陰之筋起於小指之下（經絡）。</p>
<p>足心：足少陰之脈邪走足心。衝脈入足下（經絡）。</p>
<p>足本節：足太陰之別，名公孫，去本節後一寸，走陽明（經絡）。</p>
<p>足跗：足陽明脈之支者下足跗。足少陽脈之直者循足跗上。足厥陰之脈上循足跗上廉。足陽明之筋結於跗上。衝脈別者出跗屬上下（經絡）。足少陽之別下絡足跗（經絡）。</p>
<p>足跟：足太陽之筋上循跟。足少陰之脈循內踝之後，別入跟中。（經絡。）足少陰之別，當踝後繞跟，別走太陽（經絡）。</p>
<p>踵：足太陽之筋循足外踝，結於踵。足少陰之筋並足太陰之筋，結於踵（經絡）。</p>
<p>內踝：足太陰之脈上內踝前廉。足太陰之筋上結於內踝。足厥陰之脈上踝八寸，交出太陰之後。足厥陰之筋上結於內踝之前。足少陰之筋並足太陰之筋，邪走內踝之下。足少陰之別，名大鐘，當踝後，繞跟走太陽。足厥陰之別，名蠡溝，去內踝五寸，走少陽。衝脈並少陰之經，下入內踝之後。蹺脈上內踝之上（經絡）。</p>
<p>外踝：足太陽脈之支者，出外踝之後。足少陽脈之直者，下出外踝之前。足太陽之筋上結於踝。足少陽之筋上結外踝。足太陽之別，名飛陽，去踝七寸，別走少陰。足少陽之別，名光明，去踝五寸，走厥陰。足陽明之別，名豐隆，去踝八寸，走太陰（俱見經絡）。</p>
<p>足脛：足陽明脈之支者，循脛外廉。足太陰之脈循脛骨後。足少陽之筋上循脛外廉。足厥陰之別循脛。足厥陰之筋上循脛。足陽明之別循脛骨外廉。足陽明之筋上循骭。衝脈循脛骨內廉，溫足脛，脛氣有街。（俱見經絡。）衝脈下者伏行骭骨內（針刺）。</p>
<p>腨：足太陽脈之支者下貫腨內。足少陰之脈上腨內。足太陽之筋別者結於腨外。三焦下腧，上踝五寸，別入貫腨腸（三焦下腧即足太陽之別絡）。</p>
<p>膝：足陽明脈之支者，下膝臏中。足太陰之脈上膝股內前廉。足少陽脈之直者，出膝外廉。足太陽之筋，自外踝邪上結於膝。足陽明之筋。上結於膝外廉（俱見經絡）。膝者筋之府。（疾病。）</p>
<p>輔骨：足少陽脈之直者，下外輔骨之前。足陽明之筋，其支者結於外輔骨，合少陽。足太陰之筋，直者結於膝內輔骨。足少陰之筋與太陽之筋合，而上結於內輔之下。足少陽之筋，支者別起外輔骨。足厥陰之筋，上結內輔之下（經絡）。</p>
<p>膕中：足太陽脈之支者，從後廉下合膕中。足少陰之脈出膕內廉。足厥陰之脈上膕內廉。足太陽之正，別入膕中。足太陽之筋，結於膕。三焦下腧，是足太陽之絡，出膕中外廉。衝脈邪入膕中（俱見經絡）。足少陰之正至膕中，別走太陽而合。足太陽筋之別者，上膕中內廉與膕中並（經絡）。</p>
<p>上廉下廉：足陽明下三里三寸，為巨虛上廉。復下上廉三寸，為巨虛下廉。大腸屬上。小腸屬下。足陽明胃脈也（經絡）。大腸合於巨虛上廉。小腸合於巨虛下廉（針刺）。</p>
<p>伏兔：足陽明之筋，直者上循伏兔。足少陽之筋，前者結於伏兔之上（俱經絡）。</p>
<p>股：足少陰之脈，上股內後廉。足厥陰之脈循股陰。足太陰之筋上循陰股。足少陰並太陰之筋，而上循陰股。衝脈循陰股內廉（俱見經絡）。</p>
<p>髀：足太陽脈之支者，過髀樞，循髀外。足少陽之支者，橫入髀厭中，直者下合髀厭中，以下循髀陽。足陽明之正上至髀。足少陽之正繞髀。足少陽之筋，其支者上走髀。足陽明之筋結於髀樞，其直者上結於髀。足太陰之筋結於髀。足太陰之正上至髀（經絡）。</p>
<p>節：諸筋者皆屬於節（經絡）。身形支節者，臟腑之蓋也（臟象）。所言節者，神氣之所遊行出入也（經絡）。</p>
<p>溪谷：肉之大會為谷，肉之小會為溪，肉分之間，溪谷之會，以行榮衛，以會大氣。人有大骨十二分。小溪三百五十四名（經絡）。北方黑色，入通於腎，故病在溪（臟象）。四肢八溪之朝夕也（經絡。四肢謂兩手兩足；八溪謂手有肘、腋，足有胯、膕，乃四肢之關節，故稱為溪。朝夕者，言人之諸脈髓筋血氣，無不由此入，而朝夕運行不離也）。</p>
<p>四關：（附十二原。）十二原出於四關，主治五臟，五臟有疾，當取之十二原（經絡）。</p>
<p>十二原：肺之原出於太淵。心之原出於大陵。肝之原出於太衝。脾之原出於太白。腎之原出於太谿（俱各二）。膏之原出於鳩尾。肓之原出於脖胦（各一，經絡）。</p>
<p>四末：四末，陰陽之會者，此氣之大絡也（經絡）。陽受氣於四末（針刺）。</p>
<p>四街：四街者，氣之徑路也。</p>
<p>左右：左右者，陰陽之道路也（經絡）。能別左右，是謂大道（脈色）。</p>

<h3>皮毛肌肉部</h3>
<p>皮毛：西方生燥，在體為皮毛。肺者，氣之本，其華在毛，其充在皮。肺之合皮也，其榮毛也（臟象）。審平之紀，其養皮毛（運氣）。肺合大腸，大腸者，皮其應。腎合三焦、膀胱，三焦、膀胱者，腠理、毫毛其應。肺朝百脈，輸精於皮毛（臟象）。皮者脈之部也。</p>
<p>發：腎者主蟄，封藏之本，其華在發。腎之合骨也，其榮發也（臟象）。皮膚堅而毛髮長（經絡）。</p>
<p>肌：三焦膀胱者，倉廩之本，其華在唇、四白，其充在肌（臟象）。</p>
<p>肉：脾之合肉也。中央生濕，在體為肉（臟象）。備化之紀，其養肉（運氣）。脾合胃，胃者，肉其應（臟象）。肉為牆（經絡）。</p>

<h3>筋骨血脈部</h3>
<p>筋爪：東方生風，在體為筋（臟象）。敷和之紀，其養筋（運氣）。足厥陰絡諸筋。肝之合筋也，其榮爪也。肝者，罷極之本，其華在爪，其充在筋。肝合膽，膽者，筋其應（臟象）。筋為剛（經絡）。筋者，聚於陰器，而脈絡於舌本（疾病）。</p>
<p>骨：北方生寒，在體為骨。腎者主蟄，封藏之本，其充在骨。腎之合骨也（臟象）。骨為幹（經絡）。靜順之紀，其養在骨髓（運氣）。骨者髓之府（疾病）。</p>
<p>血脈：心者生之本，其充在血脈，心之合脈也。南方生熱，在體為脈（臟象）。脈者，血之府也（脈色）。升明之紀，其養血（運氣）。心合小腸，小腸者，脈其應（臟象）。血者，神氣也（經絡）。脈氣流經（臟象）。</p>

<h3>臟腑部</h3>
<p>肺：審平從革，堅成之紀，其臟肺（運氣）。手太陰經屬肺。手陽明之脈絡肺。手少陰脈之直者上肺。足少陰脈之直者入肺中。足厥陰脈之支者上注肺。諸氣者皆屬於肺（經絡）。肺者氣之本。脾氣散精，上歸於肺（臟象）。五臟之應天者肺，肺者五臟六腑之蓋也（經絡）。</p>
<p>大腸：手陽明經屬大腸。手太陰之脈下絡大腸。足太陰之別者入絡腸胃（經絡），大腸者傳道之腑。</p>
<p>胃：足陽明經屬胃。足太陰之脈絡胃。手太陽之脈抵胃。足厥陰之脈挾胃。手太陰之脈循胃口。手太陰之筋，散貫賁。大腸小腸皆屬於胃（經絡），足太陰脈貫胃屬脾（疾病）。</p>
<p>脾：備化卑堅，敦阜之紀，其臟脾（運氣）。足太陰經屬脾。足陽明脈之支者絡脾（經絡）。</p>
<p>心：升明伏明，赫曦之紀，其髒心（運氣）。手少陰經起心中，出屬心系。手太陽之脈絡心。足太陰脈之支者注心中。足少陰脈之支者絡心。足太陽之正，循膂當心入散。足少陽之正貫心。足陽明之正，上通於心。手心主之別，絡心系。督脈上貫心。諸血者皆屬於心（經絡）。足太陽背俞注於心（疾病）。</p>
<p>小腸：手太陽經屬小腸。手少陰脈之內行絡小腸。足太陰之別者，入絡腸胃（經絡）。</p>
<p>膀胱：足太陽經屬膀胱。足少陰脈之內行絡膀胱。三焦下腧並太陽之正，入絡膀胱，約下焦（經絡）。三焦合入於委陽（針刺）。</p>
<p>腎：靜順涸流，流衍之紀，其臟腎（運氣）。足少陰經屬腎。足太陽脈之內行絡腎。足少陰之正，別走太陽而合，上至腎。衝脈者，十二經之海也，與少陰之大絡起於腎下（經絡）。腎合三焦、膀胱（臟象）。衝脈下者注少陰之大絡（針刺）。胞絡者繫於腎（疾病）。</p>
<p>心包絡：手厥陰經屬心包絡。手少陽脈之內行散絡心包。足少陰之別者上走心包（經絡）。</p>
<p>三焦：手少陽經屬三焦。手厥陰脈之內行絡三焦。三焦下腧在於足大指之前、少陽之後，出於膕中外廉，名曰委陽，是太陽絡也，手少陽經也。三焦者，足少陽、太陽之所將，太陽之別也。手太陰之脈起中焦（經絡）。</p>
<p>膽：足少陽經屬膽。足厥陰脈之內行絡膽（經絡）。</p>
<p>肝：敷和委和，發生之紀，其臟肝（運氣）。足厥陰經屬肝。足少陽脈之內行絡肝。足少陰脈之直者上貫肝膈。足少陽之正，別者散之上肝（經絡）。</p>

<h3>前後陰部</h3>
<p>二陰：北方黑色，入通於腎，開竅於二陰（臟象）。靜順之紀，其主二陰（運氣）。</p>
<p>陰器：足厥陰之脈過陰器。足陽明之筋聚於陰器。足太陰之筋，直者聚於陰器。足少陰之筋，並太陰而上結於陰器。足厥陰之筋結於陰器。足厥陰之別者，循脛上睪結於莖。督脈起於少腹以下骨中央，女子入系廷孔，其絡循陰器，合篡間，繞篡後；其男子循莖下至篡，與女子等。蹺脈循陰股入陰（俱見經絡）。足厥陰脈循陰器而絡於肝。前陰者，宗筋之所聚，太陰、陽明之所合也。衝脈者，經脈之海也，主滲灌溪谷，與陽明合於宗筋，陰陽總宗筋之會，會於氣街，而陽明為之長（疾病）。</p>
<p>毛際：足厥陰之脈入毛中。足少陽脈之支者，出氣街，繞毛際，足少陽之正，入毛際，合於厥陰。（經絡。）足厥陽之正上毛際。任脈者，起於中極之下，以上毛際（疾病）。</p>
<p>睪：足厥陰之別，循脛上睪（經絡）。邪在小腸者連睪系（針刺）。</p>
<p>臀：足太陰之脈貫臀。足太陽之筋上結於臀。督脈別繞臀（經絡）。</p>
<p>肛：足太陽之正，下尻五寸，別入於肛（經絡）。</p>
<p>尻：足少陽之筋，後者結於尻（經絡）。</p>
