<header data-type="book">
<h1>產鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王化貞</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1618">公元1618年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>□□□□□□有難余者曰：此豈越人過邯鄲，且婦人之□□更僕數己，子何獨降是。余曰：客時無謂余為婦人德耶。人與世相閱，由一世二世以至萬世者，惟生耳。故記有之曰：時以為社稷主，為先主後，而可以不致敬乎，言所繫重也。且人道陰陽之患，何所非病，顧疾不盡人，人亦不盡病。產則婦人未能免者，產非疾而其殺人乃在頃刻之間，故婦人以生子為免身，謂以得免，為倖免矣。一有不謹，貽患終身，皆婦人所獨也。又閨幃秘密，望聞有所不及，巧工有所不盡，往往寄命於俗媼狂巫之手。急於索勸，輕用其愚，以致母子俱殞，或致絕人宗祀，良可矜痛。余之為刻也，欲家一冊，得以時時檢鐸。夫婦人女子亦知其患之所起與所以自全也。聞之，養筍者與竹、養犢者與牸，夫是直為婦人也與哉？客曰：善！請以公之四方。</p>
<p><u>萬曆戊午中元日琅琊　王化貞題</u></p>

<h1>上卷</h1>

<h2>妊娠</h2>
<p>經曰：陰搏陽別謂之有子，此乃血氣調和，陽施陰化。王氏曰：太衝盛而氣虛者，乳子法也。診其手少陰脈動盛者，妊子也。少陰，心脈也。心主血脈，又腎為胞門子戶，大抵少陰之經在手屬心，在足屬腎，腎主骨，手尺中之脈按之不絕者，法妊娠也。難經曰：「女子以系胞。」三部脈浮沉正等，按之無絕者，有妊娠。初持寸脈微小，呼吸五至。三月而尺數，脈滑疾，以手按之散者，胞已三月也。脈重手按之不散，但疾不滑者，五月也。婦人妊娠四月，欲知男法，左疾為男，右疾為女，但疾為生二子。又法，得太陰脈為男，太陽脈為女，太陰脈沉，太陽脈浮。又法，左手脈沉實為男，右手脈浮大為女，左右脈俱沉實為生二男，左右手俱浮大為生二女。又法，尺脈左邊大為男，右邊大為女，左右俱大，產二子，大者如實狀。又法，左右俱浮大，產二男，不爾則女作男生。左右俱沉，產二女，不爾則男作女生。又法，遣妊娠人面南行，後呼之，左回首者是男，右回首者是女。又法，看上圊時，夫從後呼之，左回首是男，右回首是女。又婦人妊娠，其左乳房有核是男，右乳房有核是女。婦懷離經，其脈浮大而腹痛引腰脊，為即欲生也，但離經即痛也。又法，欲生者，其脈離經，夜半覺，日中生也。</p>
<p>妊娠一月之時，足厥脈養之，二月足少陽，三月手少陰，四月手少陽，五月足太陰，六月足陽明，七月手太陰，八月手陽明，九月足少陰，十月足太陽。</p>
<p><u>驗胎散</u></p>
<p>經脈不行已經三月者，更看尺脈不止，則是胎也。</p>
<p>川芎為末，每服一錢，空心艾葉煎湯調下，覺腹內微動則有胎也。若服後一日不動，非胎，必是經滯。</p>
<p><u>艾醋湯</u></p>
<p>如過月難明有無，如月數未足難明。</p>
<p>好醋炆艾，服半盞後，腹中翻大痛是有孕，不為痛定無。</p>

<h2>妊娠惡阻</h2>
<p>妊娠惡阻病，產寶謂之子病，巢氏病源謂之惡阻。謂婦人有孕噁心。阻其飲食也。由胃氣怯弱，中脘停痰，脈息和順，但肢體沉重，頭眩擇食，惟嗜酸鹹，甚者寒熱嘔吐，胸膈煩滿，肥人多痰，瘦人多火、須用二陳湯為主。</p>
<p><u>保生湯</u></p>
<p>治婦人經候不行，身無病似病。脈滑大而六脈俱勻，乃是孕脈也。精神如故，惡聞食氣，或但食一物，或大吐清水，此名惡阻。切勿作寒病治之。</p>
<p>人參　甘草（各二錢半）　白朮　陳皮　香附　烏藥（各五錢）</p>
<p>覺噁心嘔吐加丁香。</p>
<p>上剉作二劑，生薑三片煎服。</p>
<p><u>復元湯</u></p>
<p>治妊婦嘔吐不止，或頭痛全不思食，左脈弱，諸藥不效，用以理血歸原。</p>
<p>人參　白芍　當歸　川芎（各五錢）　白朮　茯苓　陳皮（各一兩半）　桔梗　枳殼（各二錢半）　丁香（三錢）　甘草（五錢）　半夏（薑湯泡，一兩）</p>
<p>上剉作十劑，薑棗煎服。</p>
<p>妊娠三個月內，嘔吐噁心，不納米食，用四物湯加陳皮、半夏、藿香、砂仁、白朮、神麯、麥芽、陳倉米、生薑煎服。</p>

<h2>妊娠子煩</h2>
<p>妊娠子煩，謂煩躁而悶亂心神也。蓋四月受少陰君火以養精，六月受少陽相火以養氣。若母心驚膽寒，多有是症。《產寶》云：是心肺虛熱，或痰積於胸。若三月而煩者，但熱而已。若痰飲而煩者，吐涎惡食。大凡停痰積飲，寒熱相搏，吐甚則胎動不安。用竹葉湯。</p>
<p><u>竹葉湯</u></p>
<p>防風（去蘆）　麥冬（泡，去心）　白茯苓　黃芩（各等分）</p>
<p>上剉作劑，用竹葉十片，水煎，食後溫服。</p>

<h2>子癇</h2>
<p>妊娠子癇，謂痰涎潮搐，目吊口噤也，用羚羊角散治妊娠中風，頭項強直，經脈拘急，語言蹇澀，痰涎不利，或時發搐，不省人事，名曰子癇風。</p>
<p><u>羚羊角散</u></p>
<p>羚羊角　甘草　當歸　川芎　防風　獨活　茯神　五加皮　杏仁　木香　薏苡仁　酸棗仁（炒）</p>
<p>上剉，生薑五片，水煎，不拘時服。</p>

<h2>子懸</h2>
<p>子懸謂妊娠心胃脹滿也。用紫蘇和氣飲。治婦人胎氣不和，湊</p>
<p>上心腹，脹滿疼痛，或臨產驚恐氣結，連日不下，及胎前一切諸疾。</p>
<p><u>紫蘇和氣飲</u></p>
<p>當歸　白芍　川芎　人參　紫蘇梗　陳皮　大腹皮　甘草</p>
<p>上剉，生薑三片，蔥白七根，水煎服。腹痛加香附、木香，咳嗽加枳殼、桑白皮，熱加黃芩，嘔吐加砂仁，瀉泄加白朮、茯苓，難產加枳殼、香附、車前子。</p>

<h2>子腫</h2>
<p>子腫者，謂妊娠面目虛浮，肢體腫滿也，用茯苓湯，治妊娠七八個月前後，面目四肢浮腫。</p>
<p><u>茯苓湯</u></p>
<p>當歸　川芎　白芍藥（炒）　熟地黃　白朮（土炒）　子實黃芩　茯苓　澤瀉　梔子（酒炒）　甘草（炙）　厚朴（薑汁炙）　麥門冬</p>
<p>上剉，一劑，水煎服。</p>

<h2>子氣</h2>
<p>子氣者，謂妊娠兩足浮腫也，因脾衰不能制水，血化成水所致。用天仙藤散，治妊娠三月成胎之後，兩足自腳面漸腫至膝，行步艱難，喘悶妨食，狀似水腫。生於腳趾間黃水出者，名曰子氣。</p>
<p>天仙藤（即青木香藤、洗炒）　紫蘇　陳皮　香附　烏藥　木香　甘草</p>
<p>上剉，生薑煎服。</p>

<h2>子淋</h2>
<p>子淋謂妊娠小便澀少也，乃腎與膀胱虛熱不能治水。然妊婦胞系於腎，腎間虛熱而成斯症。甚者心煩悶亂。用下方：</p>
<p><u>子淋散</u></p>
<p>治妊娠小便澀痛頻數。</p>
<p>麥門冬（去心）　赤茯苓　木通　大腹皮（洗去沙土，薑汁拌炒）　甘草　淡竹葉</p>
<p>上剉，水煎服。</p>
<p><u>車前散</u></p>
<p>治小便淋瀝或不通，下焦有熱者。</p>
<p>車前子　當歸　陳皮　赤芍藥　檳榔　赤茯苓　滑石　木通　石葦（去毛炙）</p>
<p>上剉，水煎服。</p>

<h2>轉胞</h2>
<p>轉胞謂妊娠卒不得小便也。因胎長逼近於胞，胞為所逼，令人數溲。胞即膀胱也。然子淋與轉胞相類，但小便頻數點滴而痛為子淋，頻數出少不痛為轉胞，間有微痛，終是與淋不同，並宜五苓散加阿膠。</p>
<p><u>冬葵子散</u></p>
<p>治孕婦轉胞小便不通。</p>
<p>冬葵子　滑石　梔子（炒）　木通（各五錢）</p>
<p>上剉一劑，水一鍾半，煎至一鍾，空心溫服。此藥滑胎，臨月可用。若六、七個月以前不可用。</p>
<p>又方：冬葵子、滑石、梔子，為末，田螺肉搗膏或生蔥汁調膏，貼臍中立通。</p>

<h2>胎漏</h2>
<p>妊娠經水時下，此由衝任氣虛，不能約制。蓋心小腸二經相為表裡，上為乳汁，下為月水。故妊娠經水壅之以養胎，蓄之以為乳。若經水時下，名曰胎漏，血盡則斃矣。屬氣血虛有熱。用下方：</p>
<p><u>膠艾四物湯</u></p>
<p>當歸　黃芩（酒炒）　白芍（酒炒）　白朮（土炒）　熟地黃（薑汁炒）　艾葉（少許）　砂仁（炒）　香附（童便炒黑）　真阿膠（蛤粉炒珠）</p>
<p>上剉一劑，用粳米同煎服。</p>
<p><u>芎歸湯</u>（劉敏庵傳）</p>
<p>治胎漏下血不止，或心腹脹滿，一服立效。</p>
<p>當歸尾　南川芎（各五錢）</p>
<p>上剉一劑，黃酒煎，臨臥服，入童便一盞，即止。</p>

<h2>胎動</h2>
<p>妊娠胎動，或飲食起居，或衝任風寒，或跌僕擊觸，或怒傷肝火，或脾氣虛弱，或推其因而治之。若因母病而胎動，但治其母；若因胎動而母病，惟當安其胎。輕者轉動不安，重者必致傷墜。若面赤舌青，是兒死也，面青舌赤吐沫，是母死也，唇口俱青，兩邊沫出，是子母俱死也。察而治之。用下方：</p>
<p><u>佛手散</u></p>
<p>治妊娠六、七個月，因事築磕著胎，或子死腹中，惡露下，痛不已，口噤欲絕。用此探之，若不損則痛止，子母俱安，若胎損即便逐下。</p>
<p>當歸（二錢）　川芎（四錢）　加益母草（五錢）　更妙。</p>
<p>上剉一劑，水一鍾，入酒一鍾，再煎一沸，溫服。如人行五、六里，再進一服。</p>
<p><u>安胎散</u></p>
<p>治妊婦偶有所傷，腹痛不安，或從高墜下，重傷所壓，觸動胎元，痛不可忍及下血。又治胃虛氣逆嘔吐，心腹諸痛，大抵妊娠不可缺此。</p>
<p>縮砂不拘多少，為末，每服三錢，熱酒調服，艾鹽湯皆可。此藥非八、九個月內，不宜用多。</p>
<p><u>安胎飲</u></p>
<p>治孕成之後，覺氣不安，或腹微痛，或腰間作痛，或飲食不美，或胎動下血，及五、六個月，常服數貼，甚效。</p>
<p>白朮（二錢，土炒）　條芩（一錢半）　砂仁（炒）　當歸　白芍（各一錢）　川芎　紫蘇（各八分）　甘草（四分）　熟地黃（一錢，酒洗）</p>
<p>白朮、黃芩乃安胎之聖藥也。</p>
<p>上剉一劑，水煎服。下血不止加炒蒲黃、阿膠（各一錢）。腹痛加香附（醋炒，一錢）、枳殼（一錢，麩炒。）</p>
<p><u>千金保胎丸</u>（京師傳）</p>
<p>凡女人受胎，經三月而墜者，雖氣血不足，乃中衝脈有傷，中衝即陽明胃脈，供應胎孕。至此時，必須謹節飲食，絕嗜欲，戒惱怒，庶免小產之患也。服此可保全。</p>
<p>歸身（酒洗）　熟地黃（姜炒）　阿膠（蛤粉炒珠）　條芩（炒）　川續斷（酒洗）　香附（酒、醋、童便、鹽水各浸三日）　益母草　陳皮（各二兩）　艾葉（醋炒）　南芎（各一兩）　砂仁（炒，五錢）　白朮（土炒）　杜仲（姜炒。各四兩）　紅棗（煮皮去核）</p>
<p>上為末，棗肉為丸，如梧子大，每服百丸，空心米湯送下。</p>

<h2>妊娠心痛</h2>
<p>妊娠心痛，乍安乍甚者，可服白朮散定痛安胎。</p>
<p><u>白朮散</u></p>
<p>白朮（土炒）　竹茹　木香（各五分）　當歸身　白芍（酒炒）　前胡　烏藥　陳皮（各八分）　川芎　香附（便制）　紫蘇（各一錢）　甘草（四分）</p>
<p>上剉，作劑水煎，食遠服。如兼腹痛加砂仁、澤瀉。</p>
<p><u>【附方】</u></p>
<p><u>小烏沉湯</u></p>
<p>香附　烏藥　甘草</p>

<h2>妊娠中惡</h2>
<p>妊娠中惡忽然心腹刺痛，悶絕欲死，可服加減當歸散。</p>
<p><u>加減當歸散</u></p>
<p>當歸　川芎　陳皮　吳茱萸　木香　香附　烏藥　甘草　前胡　蔥白　砂仁　紫蘇</p>
<p>上剉一劑，生薑五片、煎服。</p>
<p><u>【附方】</u></p>
<p><u>當歸散</u>（《證治準繩》）</p>
<p>當歸　川芎　陳皮　吳茱萸　丁香</p>

<h2>妊娠腰腹痛</h2>
<p>妊娠腰腹背痛者，可服加減通氣散。</p>
<p><u>加減通氣散</u></p>
<p>當歸身　蔥白　阿膠　茴香　杜仲　甘草　陳皮　破故紙　山藥　川芎　萆薢　獨活　香附　橘核　白芍　川續斷</p>
<p>上剉作劑，白水煎，空心服。如小腹痛，加艾、木香、烏藥、紫蘇，去橘核、山藥、茴香、續斷、萆薢、獨活　破故紙。</p>
<p><u>【附方】</u></p>
<p><u>膠艾湯</u>（《金匱要略》方）</p>
<p>川芎　阿膠　甘草　艾葉　當歸　芍藥　乾地黃　清酒</p>

<h2>妊娠心腹脹滿</h2>
<p>妊娠心腹脹滿者，可服加減倉公下氣湯。</p>
<p><u>加減倉公下氣湯</u></p>
<p>白芍　陳皮　茯苓　大腹皮　川芎　當歸　香附　前胡　厚朴　烏藥　木香　紫蘇梗</p>
<p>上剉一劑，空心服。</p>

<h2>妊娠數墮胎</h2>
<p>妊娠數墮胎者，是氣血不足。腰痛甚者，恐墮胎。宜用加減安胎飲。</p>
<p><u>加減安胎飲</u></p>
<p>黃耆　甘草　人參　白朮　艾葉　當歸　川芎　熟地　續斷　茯苓　白芍　香附　陳皮　杜仲</p>
<p>上剉作劑，空心，水煎服。</p>
<p><u>【附方】</u></p>
<p><u>四物湯</u>（見「妊娠惡阻」）</p>
<p><u>異功散</u></p>
<p>人參　白朮　茯苓　炙甘草　陳皮</p>

<h2>妊娠羸瘦</h2>
<p>妊娠羸瘦，或挾病，氣血枯竭，既不能養，胎必不能安者，可下之。以用加減牛膝湯。</p>
<p><u>加減牛膝湯</u></p>
<p>桂心　栝蔞　牛膝　瞿麥　川芎　歸梢　枳殼　甘草　童便　麥芽</p>
<p>上剉作劑，水煎，空心服。</p>

<h2>胎動欲產</h2>
<p>妊娠日月未足而痛如欲產者，因勞役怒氣，調養不節，或房室所傷，或負重閃肭，或因宿有冷氣，故有此症。可用加減安胎飲。</p>
<p><u>加減安胎飲</u></p>
<p>知母　杜仲　木香　續斷　香附　陳皮　烏藥　紫蘇　白芍　川芎　當歸　白朮　酒芩</p>
<p>見血加地榆、牡蠣、艾葉。</p>
<p><u>【附方】</u></p>
<p><u>當歸散</u>（《金匱要略》方）</p>
<p>當歸　黃芩　芍藥　川芎　白朮</p>

<h2>妊娠咳嗽</h2>
<p>妊娠咳嗽，因感風寒，傷於肺而成，謂之子嗽。可服加減紫菀湯止咳安胎。</p>
<p><u>加減紫菀湯</u></p>
<p>貝母　前胡　紫菀　白朮　白皮　甘草　黃芩　紫蘇　陳皮　知母　杏仁　五味子　赤茯苓　當歸　麻黃</p>
<p>喘加兜鈴、腹皮、款冬花。</p>
<p><u>【附方】</u></p>
<p><u>陳自明紫菀湯</u></p>
<p>紫菀　天冬　桔梗　炙甘草　杏仁　桑白皮　淡竹茹　蜂蜜</p>
<p><u>王海藏紫菀湯</u></p>
<p>紫菀　阿膠　知母　貝母　桔梗　人參　茯苓　甘草　五味子</p>
<p><u>三拗湯</u></p>
<p>麻黃　杏仁　甘草</p>

<h2>妊娠傷寒</h2>
<p>妊娠傷寒，頭痛，壯熱，腰痛，體重。甚則墜胎。可服加減柴胡湯。</p>
<p><u>加減柴胡湯</u></p>
<p>柴胡　黃芩　川芎　當歸　乾葛　紫蘇　陳皮　蔥白</p>

<h2>妊娠時疫</h2>
<p>妊娠時疫，日久傷胎，可急服加減秦艽湯。</p>
<p><u>加減秦艽湯</u></p>
<p>秦艽　前胡　黃芩　枳殼　桔梗　山梔　柴胡　葛根　陳皮　紫蘇　蔥白</p>

<h2>妊娠熱病</h2>
<p>妊娠熱病，必致損胎，可服加減梔子五物湯安胎清熱。</p>
<p><u>加減梔子五物湯</u></p>
<p>葛根　柴胡　香薷　石膏　梔子　前胡　黃芩　陳皮　知母　麥冬　甘草　蔥白</p>
<p>妊娠熱病，六七日後，臟腑極熱，蒸薰其胎，致胎死腹中。既死，則胎冷不能自出，但服黑神散，暖其胎，須臾即出。何以知其胎死？看產母舌青黑及胎冷者是也。用加減黑神散。</p>
<p><u>加減黑神散</u></p>
<p>生地　赤芍　桂心　歸梢　蒲黃　鹿角屑　紅花　白芷　朴硝　黑豆　香附　益母草</p>
<p>又方：用巴豆三粒、蓖麻子、麝香帖臍中。</p>

<h2>妊娠瘧疾</h2>
<p>妊娠瘧疾，熱極則損胎，可服驅邪散。</p>
<p><u>驅邪散</u></p>
<p>人參　香茹　青皮　黃芩　柴胡　前胡　川芎　白朮　砂仁　藿香　烏梅　紅棗</p>
<p>如心胸煩悶加炒黃連、升麻。</p>

<h2>妊娠霍亂</h2>
<p>妊娠霍亂，乃陰陽清濁相干，甚則傷胎，可服加味白朮散。</p>
<p><u>加味白朮散</u></p>
<p>白朮　蒼朮　人參　茯苓　豬苓　香薷　竹茹　烏藥　陳皮　厚朴　砂仁　藿香　乾葛　木瓜　澤瀉　甘草</p>

<h2>妊娠瀉泄</h2>
<p>妊娠瀉泄，冷熱不同。乃飲食不節，暑濕相乘，可服人參白朮散。</p>
<p><u>人參白朮散</u></p>
<p>四君　平胃　澤瀉　豬苓　歸身　砂仁　肉果　木香　香薷（夏日可用）</p>

<h2>妊娠痢疾</h2>
<p>妊娠下痢赤白，可服加減阿膠散。</p>
<p><u>加減阿膠散</u></p>
<p>當歸　川芎　白芍　阿膠　黃芩　黃連　香薷　陳皮　枳殼　甘草　澤瀉　白茯苓</p>
<p>如血痢加地榆；白痢加艾葉、木香；痢久虛人加參、朮、黃耆。</p>

<h2>瘦胎</h2>
<p>妊娠十月，形體成就，八月合進瘦胎易產之藥。今醫多用枳殼散，若胞氣肥實可服之。況枳殼、大腹皮瘦胎，胎氣本怯，豈宜又瘦之。若進無憂散，達生散，安胎益氣，令子緊小無病。</p>
<p><u>保生無憂散</u></p>
<p>滑胎。</p>
<p>當歸　川芎　白芍　人參　白朮　甘草　陳皮　神麯　麥芽　紫蘇　訶子　枳殼</p>
<p><u>達生散</u></p>
<p>孕之八九個月，服數貼甚好，易產，腹少痛。</p>
<p>當歸　白芍　白朮（各一錢）　人參　陳皮　紫蘇（各五分）　甘草（炙二分）　大腹皮（一錢洗）</p>
<p>上剉作一劑，蔥五根，煎服。如胎肥氣喘，加枳殼（八分），黃楊腦（七個），二味瘦胎要藥。</p>
<p>夏加黃芩；春加川芎；冬加砂仁；氣虛加參、術；氣實倍香附、陳皮；血虛倍當歸，加熟地；性急多怒加柴胡；有熱加黃芩；食易飢多，加黃楊腦；有痰加黃芩、半夏；腹痛加木香。</p>

<h2>妊娠鬼胎</h2>
<p>妊娠鬼胎，壯如懷妊，腹內如包一甕，如下血或腸水物，可服斬鬼丹。</p>
<p><u>斬鬼丹</u></p>
<p>吳茱萸　川烏　秦艽　柴胡　白殭蠶</p>
<p>上為末，煉蜜為丸，如梧桐子大，酒送下，打出惡物即愈。</p>

<h1>中卷（佚）</h1>

<h1>下卷</h1>

<h2>頭痛</h2>
<p>頭者諸陽之會也。產後五臟皆虛，胃氣虧弱，穀氣尚乏，則令虛熱，陽氣不守，上湊於頭，陽實陰虛則令頭痛也。亦有產後敗血作痛者。薛立齋曰：前證若中氣虛，用補中益氣湯加蔓荊子；若血虛，用四揚加參朮；氣血俱虛，用八珍湯；若因風寒所傷，用補中益氣湯加川芎。</p>
<p><u>產寶黑龍丹</u></p>
<p>治產後頭痛不可忍，一切血痛，危急欲死及胎衣不下，但灌藥得下者遂安，真產門之寶劑也。</p>
<p>五靈脂　當歸　川芎　熟地　高良薑（各五錢）</p>
<p>上咀碎，曬極干，以固濟小罐盛之，燈盞封口嚴密，以文武火，煅一柱香，放涼處，退火毒取出，藥如黑糟，研細入花蕊石（煅過，另研，二錢）、琥珀（另研，一錢）、乳香（另研，錢半）、百草霜（五錢）。</p>
<p>共前煅過藥研勻，醋糊為丸，彈子大，每服一丸，用薑汁，好酒、童便半盞，將藥一丸於炭火中燒，淬入酒便內，調化頓服，立效。</p>
<p><u>黑龍丹序</u></p>
<p>仲氏嫂金華君在秦，產七日而不食，始言頭痛甚，欲取大石壓，食頃漸定，心痛則以十指抓壁欲死，目痛即欲以手自剜之，如是者旬日。國醫三四人，郡官中善亦數人，相顧無以為計，不知病根所起，醫者術窮，病者益困。余度疾勢危急，非神丹不能愈，須進黑龍丹。仲氏猶豫，謂數日不食，恐不勝，黃昏進半粒，疾少間，中夜再進，藥下寐如平時，平旦一行三升許如蝗蟲子，疾減半，巳刻又行如前，則頓愈矣。遣荊釵輩視之，奄殆無氣，午後體方涼，氣方屬，微言索飲，自此遂平復。大抵產後以去汙血為先，血滯不快，作禍如是，老嫗中醫不識疾病之根，豈得無夭枉者？不遇良醫，終抱遺恨。今以黑龍丹，廣濟施人。俾世之人，感是疾者，得盡起天年，非祈於報，所翼救疾苦、存性命耳。崇寧元年五月五日郭忳序。</p>
<p><u>川芎散</u></p>
<p>治產後頭痛。</p>
<p>真天台烏藥　大川芎（等分）</p>
<p>上為細末，每服三錢，燒紅稱錘，淬酒調服。</p>
<p><u>加減四物湯</u></p>
<p>治產後頭痛、血虛、痰癖、寒厥皆治。</p>
<p>蒼朮（一錢半）　羌活　川芎　防風　香附（炒）　白芷（各一錢）　石膏（二錢半）　細辛（一錢二分）　當歸（八分）　甘草（五分）</p>
<p>用水二盞，姜三片，煎服。血虛倍當歸加芍藥；有汗加黃耆及桂；痰癖加半夏、茯苓；熱痰倍加石膏加知母；寒厥加天麻、附子。</p>

<h2>遍身痛</h2>
<p>產後百節開張，血脈流散，遇氣弱則經絡皮肉之間，血滯不散，骨節不利，筋脈引急，所以腰背不得轉側，手足不能動搖，身熱頭痛。若以為傷寒治之，則汗出而筋脈動惕，手足厥冷，變生他病。但宜服趁痛散。</p>
<p><u>趁痛散</u></p>
<p>治產後氣弱血滯，遍身疼痛及身熱頭痛。</p>
<p>牛膝（酒浸，一錢）　甘草（炙，一錢）　薤白（一錢）　當歸（一錢半）　桂心（一錢半）　白朮（一錢半）　黃耆（一錢半）　獨活（一錢半）</p>
<p>上每五七錢，水二鍾煎一鍾，空心熱服。</p>
<p><u>蒼朮四物各半湯：</u></p>
<p>四物湯（半兩）　蒼朮（半兩）</p>
<p>上用水二鍾，煎一鍾，溫服，下活血丹更妙。</p>
<p><u>活血丹</u></p>
<p>熟地（三兩）　當歸　白朮　白芍　續斷　人參（各一兩）</p>
<p>上為末，酒糊丸，如梧桐子大，每服百丸。</p>
<p>薛立齋曰：產後身痛，若以手按而痛益甚，是血滯也，用四物、炮薑、紅花、桃仁、澤蘭，補而散之，若按而痛稍緩，是血虛也，用四物、炮薑、白朮、人參、補而養之。</p>
<p>一產婦，身痛發熱，不食，煩燥不寐，盜汗，服解散行血之藥，不時昏憒，六脈洪大如無，用補中益氣加炮薑、半夏、一服頓減，又二服寢食甘美，但背強而疼，用八珍散，大補湯，調理而安。</p>
<p>一產婦，遍身頭項作疼，惡寒拘急，脈浮緊，此風寒之證，用五積散，一劑汗出而愈。但倦怠，發熱，此邪氣去而真氣虛也，用八珍湯調補而痊。</p>

<h2>中風</h2>
<p>產後中風者，由產時傷動血氣，勞損臟腑，未曾平復，起早勞動，致使氣虛而風邪乘虛入之，客於皮膚經絡，致令痛痹，羸乏不任，少氣。大凡筋脈挾寒則攣急喎僻，挾濕則縱緩虛弱，若入諸臟，恍惚驚悸，隨其所傷臟腑經絡而生病焉。郭稽中論曰：產後中風者何？答曰：產後五七日內，強力下床，或一月之內，傷於房室，或懷憂怒，擾蕩中和，或因食生硬，傷動臟腑，得病之初，眼澀口噤，肌肉瞤搐，漸至腰脊筋急強直者，不可治，此乃人作，非偶爾中風所得也。薛立齋曰：前證果外邪所傷，形氣不足，病氣有餘，當補元氣為主，稍佐以治病之藥。若強力不休，月內入房，屬形氣俱不足，當純補元氣，多有復甦者，若誤投風藥，乃促其危也。</p>
<p>丹溪先生曰：產後中風，口眼喎斜，必用大補氣血，然後治痰，當以左右手脈，分其氣血多少以治，切不可作中風，用發表治風之藥。</p>
<p><u>當歸散</u></p>
<p>治產後中風，牙關緊閉，不省人事，口吐涎沫，手足瘛瘲。</p>
<p>當歸（去蘆）　荊芥穗（各等分）</p>
<p>上為細末，每服二錢，水一盞，酒半盞，煎至一盞，灌之，如牙關緊閉，拗開微微灌之，但下咽即生，屢用救人，大有神效。</p>
<p><u>乾葛湯</u></p>
<p>治產後中風，口噤不能言。</p>
<p>獨活（去蘆，二兩）　乾葛（一兩半）　甘草（炙，半兩）　生薑（一兩二錢半）</p>
<p>上㕮咀，每服一兩，用水二盞，煎至一盞，去滓，溫服無時。</p>
<p><u>防風湯</u></p>
<p>治產後中風，背項強急，胸滿短氣。</p>
<p>防風　獨活　葛根（各五兩）　當歸　人參　白芍藥　甘草（各二兩）</p>
<p>上㕮咀，每服八錢，水一盞半，棗二枚，同煎至一盞，去滓，溫服不拘時。</p>
<p><u>川芎散</u></p>
<p>治產後中風，身背拘急，有如繩束。</p>
<p>川芎　羌活　酸棗仁　羚羊角　芍藥（各四兩）　桑白皮（一兩半）　防風（一兩二錢）</p>
<p>上㕮咀，每服一兩，水二大盞，煎至一盞，不拘時，日二服。</p>
<p><u>千金雞矢醴</u></p>
<p>治產後中風，口噤困篤，腰背強直，時時反折。</p>
<p>烏雞矢（三升）　大豆（二升）</p>
<p>上先炒豆聲絕，次炒雞矢令黃，以酒一升，先淋雞矢，取汁淋豆，每服一盞，凡四五服極妙。</p>
<p><u>竹瀝一物飲</u></p>
<p>治產後風痙，口噤面青，手足急強反張。</p>
<p>竹瀝（用火自取者）</p>
<p>上用二升，微點薑汁，分五服，頻頻溫服，神效。</p>
<p><u>大烏豆</u></p>
<p>治中風，背強口噤，或煩燥，或頭面手足重，或身癢直視，皆是虛冷中風。</p>
<p>上豆用三升，炒令熟，乘熱以清酒三升浸之，密封良久，去豆，分三服，覆衣取汗，身潤即愈，一則防禦風邪，一則消散瘀血。</p>
<p><u>華佗愈風散</u></p>
<p>治產後中風、口噤、手足瘛瘲、角弓反張，或血暈不省、四肢強直，或心中倒築、吐瀉欲死。</p>
<p>荊芥穗（微焙為末）</p>
<p>每服三錢，豆淋酒調服，或童子小便服之亦妙。口噤則擀齒灌之，齦噤，灌入鼻中，其效如神，此方古書盛稱其妙，一名如聖散、一名一捻金，悅生隨抄，呼為再生丹。一婦人，產後睡久，及醒則昏昏如醉，不省人事，醫以此藥及交加散，云服後當睡，必以左手搔頭，用之果然。</p>
<p><u>交加散</u></p>
<p>治產後中風百病，兼治婦人榮衛不通，經脈不調，腹中撮痛；氣多血少，結聚為瘕，並宜服之。</p>
<p>生地黃（一升，研取自然汁，如無鮮者，以水泡透，研爛取之）　生薑（十二兩，研取自然汁）</p>
<p>上先將地黃汁炒生薑滓，生薑汁炒地黃滓，各稍干，焙為細末，每服三錢，溫酒調下，尋常腹痛亦宜服，產後尤不可少。</p>
<p><u>濟危上丹</u></p>
<p>治產後虛極生風。</p>
<p>乳香　五靈脂　硫黃　玄精石（同研極細）　阿膠（炒珠）　卷柏（生用）　桑寄生　陳皮（各等分）</p>
<p>上將四味同研停於銀、石器內，微炒勿焦，再研極細，復入余藥為末，拌勻，生地黃汁和丸，如梧桐子大，每服二十丸，煎當歸湯服下。</p>
<p>產後虛極生風者，婦人以榮血為主，因下血太多，氣無所主，唇青，肉冷，汗出，目眩，神昏，命在須臾者，虛極生風也，應急服濟危上丹，若以風藥治之則誤也。</p>
<p>薛立齋曰：前證屬血氣俱虛者，用十全大補湯；如不應，加附子、鉤藤鉤。若肝經血虛，用逍遙散加鉤藤鉤。經云：脾之榮在唇，心之液為汗，若心脾兩臟虛極，急用參附湯救之。一婦人，患前證，或用補劑，四肢逆冷、自汗、瀉泄、腸鳴、腹痛。余以陽氣虛寒，用六君子、姜附各加至五錢；不應，以參附各一兩始應。良久不服，仍腸鳴腹痛，復炙關無穴百壯，及服十全大補湯方效。</p>

<h2>瘛瘲</h2>
<p>（附：角弓反張）</p>
<p>薛立齋云：瘈者，筋脈拘急也，瘲者，筋脈弛縱也。經云：肝主筋而藏血。蓋肝氣為陽為火，肝血為陰為水，前證因產後陰血去多，陽火熾盛，筋無所養而然耳。故癰疽膿水過多，金瘡出血過甚，則陽隨陰散，亦多致此。治潔當用八珍加丹皮、鉤藤，以生陰血，則陽火自退，諸證自愈。如不應，當用四君，芎、歸、丹皮、鉤藤，以補脾土。蓋血生於至陰，至陰者脾土也，故小兒吐瀉之後，脾胃虧損，亦多患之，乃虛象也，無風可逐，無痰可消。若屬陽氣脫陷者，用補中益氣湯加薑、桂，陽氣虛敗者，用十全大補湯加桂附；亦有復生者。此等證候，若肢體惡寒，脈微細者為真，若脈浮大，發熱煩渴，此為假象，惟當固本為善。若無力抽搐，戴眼反折，汗出如珠流者皆不治。又有角弓反張者，風邪乘虛入於諸陽阿經，則腰背反折，攣急如角弓之狀也。皆因氣血耗損，腠理不密，汗出過多，宜固氣血為主，佐以本方。丹溪所謂產後以大補氣血為主，雖有雜病證，以末治之此也。如惡寒發熱等證，乃氣血虛耗之極，宜大劑參、耆、歸、朮、肉桂以培養之。如不應，急用炮附子。再不應，用人參一兩，炮附子二三錢，名參附湯。若猶未應，藥力未及也，宜多用之。</p>
<p><u>增損柴胡湯</u></p>
<p>治產後感異證，手足牽搐，涎潮，昏悶。</p>
<p>柴胡（三錢）　黃芩（一錢二分）　人參　甘草　半夏（各一錢半）　石膏（二錢）　黃耆（一錢半）　知母（一錢）</p>
<p>上㕮咀，分二服，水二盞，姜三片，棗二枚，煎八分，不拘時服。</p>
<p><u>秦艽湯</u></p>
<p>治產後血虛生風，手足瘛瘲。</p>
<p>秦艽　芍藥　柴胡（各一錢七分）　甘草（炙，一錢三分）　黃芩　防風（各一錢二分）　人參　半夏（各一錢）</p>
<p>上水二鍾，姜三片，煎八分，食遠服。</p>
<p>愈風湯、交加散俱可用（二方見前）。</p>

<h2>痙疾</h2>
<p>產後血虛，腠理不密，故多汗。因遇風邪搏之，則變痙，痙者口噤不開，背強而直，如發癇狀，宜速擀開口，灌小續命湯。稍緩即汗出如雨，手摸空者，不可治也。薛立齋云：產後發痙，因去血過多，元氣虧極，或外邪相搏，以致牙關緊閉急，四肢痙強，或腰背反張，肢體抽搐。若有汗而不惡寒者，曰柔痊；若無汗而惡寒，曰剛痙。產後患之，實由亡血過多，筋無所養而致。故傷寒汗下過多，潰瘍膿血大泄，患之乃敗證也，大補血氣，多保無虞。若攻風邪，死無疑矣。一產婦牙關緊急，腰背反張，四肢抽搐，兩目連札，余以為去血過多，元氣虧損，陰火熾盛，用十全大補加炮姜，一劑面蘇，又數劑而安。吳江史萬湖家人婦忽僕，牙關緊急，已死矣。詢之是新產婦出直廚，知其勞傷血氣而發痙也，急用十全大補加附子，煎滾。令人推正其身，一人以手挾正其面。卻掰開其口，灌之不咽，藥已冷，令側其面出之，仍正其面，復灌以熱藥。又冷又灌，如此五次，方嚥下，隨灌以熱藥，遂蘇。夷堅志云：杜壬治郝質子婦，產四日瘛瘲，戴眼，弓背反張。壬以為痙病，與大豆紫湯，獨活湯而愈。政和間，余妻方娩，猶在蓐中，忽作此證，頭足反接，相去二尺，家人驚駭，以數婢強拗之，以數婢強拗不直。適記所云，藥草有獨活，乃急為之。召醫未至，連進三劑遂能直，醫至即愈矣。更不復藥，乃知古人處方之神驗。產婦四肢攣急者，因臟腑俱虛，月內未滿，起早勞役，動傷臟腑。虛損未復，為風所乘。風邪冷氣客於皮膚經絡，則令人頑痹不仁，羸乏，少氣。筋脈挾寒則攣急也。薛立齋曰：前證若肝經風熱血燥，用加味逍遙散。如不應，用六味地黃丸，以補腎水，仍參前雜證諸風血方論治之。</p>
<p><u>小續命湯</u></p>
<p>治產後中風及剛痙柔痙。</p>
<p>防風（一錢）　麻黃（去節）　黃芩（去朽）　白芍　人參（各八分）　川芎　防己　肉桂（各七分）　附子（炮，去皮臍）　杏仁（去皮尖）　麩炒（各五分）　甘草（炙，四分）</p>
<p>上薑棗水煎服。春夏加石膏、知母、黃芩；秋冬加官桂、附子、芍藥。柔痙自汗者，去麻黃，加葛根。</p>
<p>按上方朱奉議稱剛柔二痙，並可加減與之。但產後血氣大虛之人，恐不宜輕發其表。若邪氣實，脈浮弦有力者，用之固宜。其虛弱之人，不若用大豆紫湯及防風當歸散。</p>
<p><u>大豆紫湯</u></p>
<p>治產後中風痱痙，背強口噤，直視煩熱。若脈緊大者不治。</p>
<p>川獨活（去蘆，一兩半）　大豆（半升）　酒（三斤）</p>
<p>上先用酒浸獨活一兩，沸。別炒大豆極焦煙出，急投酒中密封。候冷去豆，每服一二小鐘許，得少汗則愈。日進十服。此藥能去風、消血結。如妊娠胎死腹中，服此得瘥。</p>
<p><u>大豆湯</u></p>
<p>治產後風痙，不省人事，及妊娠挾風，一切蓐草之間，諸般病證。</p>
<p>大豆（五合，炒黃）　獨活（去蘆）　葛根（各八分）　防己（去皮，六兩）</p>
<p>上㕮咀，每服五錢，酒二盞，煎至一盞半，不拘時，日三服。</p>
<p><u>防風當歸散</u></p>
<p>此方最穩妥。</p>
<p>防風　當歸　川芎　地黃（各一兩）</p>
<p>上每服一兩，水煎溫服。</p>
<p><u>芎藭散</u></p>
<p>治產後四肢筋脈攣急疼痛，背項強直。</p>
<p>芎藭　羌活　當歸（各去蘆）　酸棗仁（炒）　羚羊角屑（各七錢半）　防風　牛蒡子（炒，各一兩）　桂心　赤芍藥（各五錢）</p>
<p>上㕮咀，每服八錢，水煎去渣，溫服，不拘時。如服不應，可用八珍湯。更不應，用十全大補湯。</p>
<p>產後手足厥冷，宜灸肩井穴。一婦人產後日食茶粥二十餘碗，至一月後，遍身冰冷數塊，以指按其冷處，即冷從指下，上應至心，如是者二年，諸治不效。以八物湯去地黃，加橘紅，入薑汁、竹瀝一酒鍾，十服乃溫。</p>

<h2>不語</h2>
<p>人心有孔，孔中有毛，產後虛弱，多致停積，敗血閉於心竅，神志不能明瞭。又心氣通於舌，心氣閉塞，則舌亦強矣，故會不語，宜服七珍散。因驚者屬肝經風熱，用加味逍遙散加防風、白芷、鉤藤；因憂思鬱結者，用加味歸脾湯加升麻。一產婦，不語，用七珍散而愈。後復不愈，內熱脯熱，肢體倦怠，飲食不進，用加味歸脾湯為主，佐以七珍散而愈。後因怒不語，口噤，腰背反張，手足發搐，或小便見血，面赤、或青、或黃。余曰：面青肝之色也，黃者脾氣虛也，赤者心血虛也，用八珍湯加鉤藤鉤、茯苓、遠志，漸愈，又用加味歸脾湯而痊。</p>
<p><u>七珍散</u></p>
<p>治產後不語及發狂。</p>
<p>人參　石菖蒲　生地黃　川芎（各一兩）　細辛（一錢）　防風　辰砂（飛過。各五錢）</p>
<p>上為極細末，每服一錢，薄荷湯調下無時。</p>
<p><u>三物湯</u></p>
<p>治產後不語。</p>
<p>人參　石蓮肉（不去心）　石菖蒲（各等分）</p>
<p>上每服五錢，水煎服。</p>
<p>一方用白礬生為末，每服一錢，熱水調下。</p>
<p><u>逐血補心湯</u></p>
<p>治產後失音。</p>
<p>紅花　赤芍藥　生地黃　桔梗　蘇葉　前胡　茯苓　防風　黃連　膽星　粉葛（各二錢）　當歸（三錢）　薄荷　人參　升麻（各一錢五分）　半夏（二錢五分）　甘草（一錢）</p>
<p>上為粗末，分二服，每服水一鍾半，姜三片，煎七分，空心服，渣再煎。</p>

<h2>癲狂</h2>
<p>產後語言顛倒，或狂言詀語，如見鬼神者，其源不一，須仔細辯證用藥。一則產後心虛，敗血停積，上干於心，而狂言獨語者，當作乍見鬼神條求之。二則產後臟虛，心神驚悸，言語錯亂，不自覺知，神思不安者，當在驚悸條求之。三則宿有風毒，因產心虛氣弱，腰背狂直，或歌哭嗔笑，言語錯亂，當作風痙治。四則產後敗血，迷亂心經而顛狂，言語無常或暈悶者，當作血暈治。五則產後感冒風寒，惡露斬然不行，壋寒發熱如瘧，晝日明瞭，暮則詀語，如見鬼狀，當作熱入血室治之。又有產後因驚，敗血衝心，昏悶發狂，如有鬼祟，宜用大聖澤蘭散，或好辰砂研細，酸棗仁湯調下一錢，立效。薛立齋曰：前證當固胃氣為主，而佐以見證之藥，若一於攻痰則誤矣。</p>
<p><u>琥珀地黃湯</u></p>
<p>治產後惡露衝心，語言亂通，如見鬼神，驚悸不定，小便不利者。</p>
<p>琥珀　辰砂　沒藥（各研細）　當歸（各一兩）</p>
<p>上為細末，每服二錢，空心白湯調下，日三服，心腹痛者加延胡索，兼暈者加蒲黃。</p>
<p><u>牡丹飲</u></p>
<p>治敗血衝心發熱，狂言奔走，脈虛大者。</p>
<p>乾荷葉　生地黃　牡丹皮（各等分）</p>
<p>上濃煎，調生蒲黃末二錢，一服即定。</p>
<p><u>烏金散</u></p>
<p>治產後狂言亂語，目見鬼神。</p>
<p>當歸　遠志肉　川芎　酸棗仁　白朮　赤芍藥　香附子　辰砂（研細）　熟地黃　茯神（各二錢）　半夏（三錢）　全蠍　麥冬　人參　牛膝　天麻（各一錢）　甘草（一錢）　陳皮　白芷（各一錢半）</p>
<p>上剉細，作二服，水一鍾半，姜三片，蔥三根，入金銀同煎一碗溫服。</p>
<p><u>大聖澤蘭散</u></p>
<p>治產後敗血衝心，中風口噤，及墜胎腹中刺痛、橫生逆產、胎衣不下，血昏、血滯、血崩、血入四肢、一切血證，諸種風氣，或傷寒吐逆、咳嗽、寒熱往來、遍身生瘡、頭痛惡心、經脈不調、赤白帶下、胎藏虛冷、數常墜胎、久無子息、室女經脈不通、並宜服之，常服暖子宮，和血氣，悅顏色，退風冷，消除百病。</p>
<p>澤蘭葉　石膏（研。各二兩）　卷柏（去根）　防風　白茯苓（去皮）　厚朴（薑製）　細辛　桔梗　柏子仁　五味子　人參　藁本　吳茱萸（湯洗七次，焙）　乾薑（炮）　白朮　川椒（去子及閉口者，炒出汗）　川烏頭（炮，去皮臍）　白芷　黃耆　丹參（各七錢半）　蕪荑（微炒）　甘草　川芎　白芍　當歸（各一兩七錢半）　白薇（炒燥，五錢）　肉桂（一兩）　阿膠（炒珠，五錢）　生地黃（一兩半）</p>
<p>上為細末，每服二錢，臨臥熱酒調下，若急疾不拘時，日三服。</p>
<p><u>何氏方</u></p>
<p>治產後邪風入心，顛狂如見祟物。</p>
<p>大辰砂一二錢研極細，人乳三四茶匙許，調碗內，仍掘白項活地龍一條，入藥內，候地龍滾三滾，取出地龍不用，但欲得地龍身上涎耳，無令帶藥出，少入無灰酒與乳汁相和，重湯內溫，作二三服。驚風入心，忡悸不止者，宜抱龍丸。</p>
<p><u>茯神散</u></p>
<p>治產後心神恍惚，言語失度，睡臥不安，如見鬼神。</p>
<p>茯神（一兩，去皮木）　人參　龍齒（研）　琥珀（研）　赤芍藥　黃耆　牛膝（各五錢）　桂心（五錢）　生地（一兩半）</p>
<p>上為末，每服三錢，水一盞，煎七分，去渣服。</p>
<p><u>調經散</u></p>
<p>治產後狂躁、昏悶、時見鬼神。</p>
<p>沒藥　琥珀（各另研細）　桂心（各一錢）　芍藥　當歸（各二錢半）　麝香（另研）　細辛（各五分）</p>
<p>上為末，每服五六分，薑汁溫酒各少許調服。按右方挾寒者宜，挾熱者宜四物湯加柴胡，倍生地。</p>
<p>薛文齋曰：前證乃血虛，神不守舍，大端宜補元氣，仍參各證互用。</p>

<h2>蓐勞</h2>
<p>產後蓐勞者，由生產日淺，血氣虛弱，飲食未平，將養失所，而風冷客之，使人虛乏，勞倦，乍臥乍起，容顏憔悴，飲食不消，口乾頭昏，百節疼痛，有時盜汗，寒熱如瘧，背膊煩悶，四肢不舉，沉重著床，此為蓐勞之候。薛立齋曰：前證當扶養正氣為主，用六君子湯加當歸。若脾肺氣虛，而咳嗽口乾，用補中益氣湯加麥冬、五味子，頭暈加蔓荊子。若肝經血虛，而肢體作痛，用四物湯加參、術。肝腎虛弱，自汗、盜汗，寒熱往來者，用六味丸加五味子。因脾血虛弱，肚腹作痛，月經不調，用八珍湯倍白朮。因脾虛血燥，皮膚瘙癢，用加味逍遙散。大抵此證，多因脾胃虛弱，飲食減少，以致諸經疲憊，當補脾胃。飲食既進，精氣化生，諸臟有所倚賴，其病自愈矣。</p>
<p><u>白茯苓散</u></p>
<p>治蓐勞，因生產日淺，久坐多語，勤動用力，以致四肢疼痛，寒熱如瘧。</p>
<p>白茯苓（一兩）　當歸　川芎　桂心　白芍　黃耆　人參（各半兩）　熟地黃（一兩）</p>
<p>上㕮咀，以水二盞，入豬腎一雙，去筋皮切碎，姜三片，棗三枚，煎一盞，濾出清汁，入藥半兩，煎七分，去渣溫服。</p>
<p><u>黃耆煮散</u></p>
<p>治產後肌膚黃瘦，面無顏色，或壋寒壯熱，四肢痠痛，心煩頭痛。</p>
<p>鱉甲（醋炙）　黃耆　桂心　當歸　桑寄生　白茯苓　白芍　人參　熟地　麥冬　甘草（炙。各半兩）　牛膝（七錢）</p>
<p>上為細末，每服用豬石子一對，即睪丸去脂膜切破，先以水一盞，入姜三片，棗三枚，煎至七分，去石子薑棗，卻下藥五錢，更煎至四分，去渣，空心臨臥二服。渣並煎。</p>
<p><u>胡氏牡丹散</u></p>
<p>治產後虛羸，發熱自汗，欲變蓐勞，或血氣所搏，經候不調。</p>
<p>白芍藥　當歸　五加皮　地骨皮　人參（各半兩）　沒藥　桂心（各二錢）　牡丹皮（三錢）</p>
<p>上為細末，每服五錢，水酒各半盞，如不飲酒，只用水一盞，開元錢一枚，麻油蘸之，同煎七分去滓，通口服，煎不得攪，吃不得吹。</p>
<p>紫河車丸佳，豬腰子粥亦妙。</p>

<h2>虛煩發熱</h2>
<p>薛立齋曰：產後虛煩發熱，乃陽隨陰散，氣血俱虛。若惡寒發熱，煩躁，多渴，急用十全大補湯。若熱愈甚，急加桂附。若作渴，面赤，宜用當歸補血湯。若誤認為火證，投以涼劑，禍在反掌。</p>
<p><u>人參當歸湯</u></p>
<p>治產去血過多，血虛則陰虛，陰虛則生內熱，心胸煩滿，呼吸短氣，頭痛，悶亂，晡時轉甚。</p>
<p>熟地　人參　當歸身　桂心　麥冬（各二錢）　白芍（炒，二錢半）</p>
<p>血熱者加生地二錢。</p>
<p>水二鍾，粳米一合，竹葉十片，煎至一鍾，溫服。</p>
<p><u>甘竹茹湯</u></p>
<p>治產後內虛，煩熱短氣。</p>
<p>甘竹茹（二錢）　人參　茯苓（各二錢）　甘草（二錢）　黃耆（七錢）</p>
<p>上水二鍾，煎八分，溫服。</p>
<p><u>竹葉湯</u></p>
<p>治產後短氣欲絕，心中煩悶。</p>
<p>新竹葉（切碎）　麥冬（去心）　小麥（各五兩）　甘草（一兩）　生薑（二兩）　大棗（十二枚）</p>
<p>上用水十碗，煮竹葉、小麥，至八碗去渣，納余藥，煮取三碗去渣，作三四次服，虛悸加人參二兩，少氣加糯米五合。</p>
<p><u>熟地黃湯</u></p>
<p>治產後虛渴不止，少氣，腳弱、眼眩、飲食無味。</p>
<p>熟地（酒蒸，焙，一錢半）　人參　麥冬（各二錢）　栝蔞根（二錢）　甘草（炙，五分）</p>
<p>上用水二盅、糯米一撮、生薑三片、棗二枚，煎至一鍾，不拘時服。</p>
<p><u>栝蔞根湯</u></p>
<p>療產後血虛發渴。</p>
<p>栝蔞根（四錢）　麥冬（五錢）　人參（三錢）　生地黃（三錢）　土瓜根（三錢）　甘草（二錢）</p>
<p>水二鍾，大棗三枚，煎八分溫服。</p>
<p>薛立齋曰：產後發渴，若出血過多，虛火上炎，用童子小便或四物湯加白朮、麥冬、丹皮。若胃氣虛而有熱，用竹葉歸耆湯。血脫髮熱，煩躁，用當歸補血湯。若胃氣虛弱，用補中益氣湯。因吐瀉者，七味白朮散。</p>
<p><u>竹葉歸耆湯</u></p>
<p>治胃氣虛熱，口乾作渴。</p>
<p>人參　白朮（炒）　麥冬（各一錢）　黃耆（三錢）　竹葉（錢半）　甘草（炙，五分）</p>
<p>水煎服，不拘時。</p>
<p><u>當歸補血湯</u></p>
<p>治肌膚燥熱，目赤面紅，煩渴引飲，晝夜不息，脈洪大而虛，重按全無，此血虛證，誤服白虎湯必死。</p>
<p>當歸（三錢）　黃耆（一兩）</p>
<p>水煎服。</p>
<p><u>增損柴胡湯</u></p>
<p>治產後發寒熱，飲食少，腹脹。</p>
<p>柴胡　人參　甘草　半夏　陳皮　川芎　白芍（各等分）</p>
<p>每服三錢，姜五片，棗二枚，煎服。</p>
<p><u>小柴胡加生地黃湯</u></p>
<p>治產後往來寒熱。</p>
<p>柴胡（三錢）　黃芩（一錢半）　人參（七分）　半夏（八分）　大棗（三枚）　生地黃（一錢）　梔子（七分）　枳殼（六分）</p>
<p>水煎，食遠服。</p>

<h2>汗出不止</h2>
<p>產後虛煩不止者，由陰氣虛，陽無所附，陽氣獨發於外，故汗出也。陰氣虛弱不復，故汗出不止。因之遇風則變成痙。縱不成痙，亦虛乏短氣，身體柴瘦，唇口乾燥，久則經水短絕，由津液竭故也。薛立齋曰：前證屬血氣俱虛，急用十全大補湯。如不應，用參附、耆附等湯，若汗多亡陽發痙，尤當用前藥。</p>
<p>一產婦，略聞音響，其汗如水而昏憒，諸藥到口即嘔。余以為脾氣虛敗，用參附末為細丸，時含三五粒，隨液嚥下，乃漸加之，至錢許，卻服參附湯而痊。</p>
<p>一產婦，盜汗不止，遂至廢寐，神思疲甚，口乾引飲，余謂血虛有熱，用當歸補血湯以代茶，又以當歸六黃湯內芩連柏炒黑，倍人參五味子，二劑而愈。凡產後忽冒悶，汗出不識人，屬大虛，宜固元氣為主，其汗不止，必變柔痙。</p>
<p><u>麻黃根湯</u></p>
<p>治產後虛汗不止。</p>
<p>當歸　黃耆　麻黃根　牡蠣（煅成粉）　人參　粉草（各等分）</p>
<p>上水一盞，每服四錢，煎七分，溫服。</p>
<p><u>經效方</u></p>
<p>治汗出不止。</p>
<p>黃芩（一錢半）　白朮　牡蠣（煅）　茯苓　防風　麥冬　生地（各八分）　大棗（七枚）</p>
<p>上用水二鍾，煎至七分，空心溫服。</p>
<p><u>止汗散</u></p>
<p>治產後盜汗不止，一應，汗多者皆可服。</p>
<p>牡蠣（煅成粉）　小麥麩（炒黃，碾成粉）</p>
<p>上等分和勻，豬肉煮湯，調服二錢。</p>
<p><u>人參湯</u></p>
<p>治產後諸虛不足，發熱、盜汗。</p>
<p>人參　當歸（各等分）</p>
<p>上為末，以豬腰子一隻，去脂膜，切小片子，水三鍾，糯米半合，蔥白兩條，煮米熟，取清汁一盞，入藥二錢，煎至八分，溫服，不拘時。</p>
<p><u>當歸六黃湯</u></p>
<p>治虛熱盜汗不止，不應，加人參，白朮，不寐加酸棗仁。</p>
<p>當歸　熟地　黃耆（各二錢）　生地　黃柏（炒黑）　黃芩（炒黑）　黃連（炒黑。各一錢）</p>
<p>上水煎服。</p>
<p><u>參附湯</u></p>
<p>治陽氣虛寒，自汗惡寒，或手足逆冷，大便自利，或臍腹疼痛，呃逆不食，或汗多發痙。</p>
<p>人參（一兩）　附子（炮，五錢）</p>
<p>上作一服，薑棗煎，徐徐溫服。</p>
<p><u>耆附湯</u></p>
<p>治陽氣虛脫，惡寒自汗，或口噤痰湧，四肢逆冷，或吐瀉腹痛，飲食不入，一切虛寒等證。</p>
<p>黃耆（一兩）　附子（炮，五錢）</p>
<p>上水一大碗，薑棗煎服，如不應，倍加附子，方得全濟。</p>

<h2>瀉痢</h2>
<p>產後腸胃虛怯，寒邪易侵。若未滿月，飲冷當風，乘虛襲留於盲膜，散於腹脅，故腹痛作陣，或如錐刀所刺。流入大腸，水穀不化，洞泄腸鳴，或下赤白，胠脅䐜脹，急服調中湯立愈。若醫者以為積滯取之，禍不旋踵，謹之謹之。</p>
<p>薛立齋曰：產後瀉痢，或因飲食損傷脾土，或脾土虛不能消食，當審而治之。若米食所傷，用六君加穀芽；若麵食所傷，用六君子加麥芽；若肉食所傷，用六君加山楂、神麯。凡兼嘔吐者，加藿香；若兼吞酸或嘔吐，用前藥送越鞠丸；若肝木侮土，用六君子加紫胡、炮姜；若寒水侮土，用錢氏益黃散；久瀉元氣下陷，用補中益氣湯及四神丸；命門火衰不能生土者，用八味丸以補土母；若小便澀滯，肢體漸腫，或兼喘咳，用金匱腎氣丸。</p>
<p><u>的奇散</u></p>
<p>治產後余血滲入大腸。洞泄不禁，下青白黑色。</p>
<p>荊芥大者，四五穗，於盞內燒灰，不得犯油火，入麝香少許，研湯，三呷調下。此藥雖微，能治大病。</p>
<p><u>香附芍藥湯</u></p>
<p>治產後痢疾。</p>
<p>當歸　川芎　芍藥　香附　陳皮　茯苓　白朮（各一錢）　砂仁（六分）　甘草（五分）　澤瀉（五分）　木香（三分）</p>
<p>上水煎服，腹疼者倍芍藥，加黃連八分。</p>
<p><u>香連丸</u></p>
<p>治一切泄痢神效。</p>
<p>黃連（淨，十二兩）　吳茱萸（去枝梗，十兩）</p>
<p>上二味用熱水拌和，入瓷器內，置熱湯燉一日。同炒至黃連紫黃色，去茱用連，為末。每末四兩，入木香末一兩，淡醋米飲為丸。桐子大，每服三四十丸，滾湯下。久痢中氣下陷者，用補中益氣湯。</p>
<p><u>調中湯</u></p>
<p>治產後虛寒洞泄。</p>
<p>高良薑　當歸　桂心　芍藥　川芎（各一兩）　附子　甘草（各半兩）</p>
<p>上為粗末，每服三錢，水煎服。</p>

<h2>瘧疾</h2>
<p>凡產後瘧疾，多由虧血挾寒熱而作。大法宜柴胡四物湯調之。熱多者草果飲子，寒多者生熟飲子。薛立齋曰：產後瘧疾，因脾胃虛弱，飲食停滯，或因外邪所感。或鬱怒傷脾，或暑邪所伏。審系飲食，用六君加桔梗、蒼朮、藿香；如外邪多而飲食少，用藿香正氣散；飲食勞役，用補中益氣湯；氣血虛弱，用十全大補湯；虛寒用六君加薑、桂；元氣脫陷、急加附子。大凡久瘧多屬元氣虛寒。蓋氣虛則寒，血虛則熱。胃虛則惡寒，陰火下流，則寒熱交作；或吐瀉不食，腹痛，煩渴，發熱，譫語；或手足逆冷。雖見百證，當峻溫補，其病自退。若誤用清脾截瘧之類，多致不起，中氣傷而變證多矣。</p>
<p><u>草果飲子</u></p>
<p>治產後瘧疾，寒熱相半，或多熱者宜此。</p>
<p>半夏　赤茯苓　甘草（炙）　草果　川芎　陳皮　白芷（各二錢）　青皮　良薑　紫蘇（各二錢半）　乾薑（四錢）</p>
<p>上為粗末，分作四服，每用水一大碗、姜三片、棗三枚、煎七分，臨發日連進二服即愈。</p>
<p><u>生熟飲子</u></p>
<p>治產後瘧疾多寒者。</p>
<p>肉豆蔻　草果仁　厚朴（生，去粗皮）　半夏（制）　陳皮　甘草　大棗　生薑</p>
<p>上八味各等分，細剉一半，用濕紙裹煨，令香熟，去紙，與一半生者和勻，每服五錢，水一大碗，煎七分，食前一服，食後一服。</p>
<p>按瘧初起當用上兩法，不愈當用薛氏法。</p>

<h2>霍亂</h2>
<p>產後霍亂，氣血俱傷，臟腑虛損；或飲食不消，觸冒風冷所致。陰陽不順，清濁相干，氣亂於腸胃之間，真邪相搏，冷熱不調，上吐下利，故曰霍亂也。經云：渴而飲水者，五苓散；寒多不飲水者，理中丸；大段虛冷厥逆者加附子來復丹亦妙。</p>
<p><u>白朮散</u></p>
<p>治產後霍亂，吐利腹痛，煩渴，手足逆冷。</p>
<p>白朮　橘紅　麥冬（去心）　乾薑　人參（各一錢）　甘草（五分）</p>
<p>水一盞，姜三片，煎服。</p>
<p><u>溫中散</u></p>
<p>治產後霍亂、吐瀉不止。</p>
<p>人參　白朮　當歸（各一錢）　草豆蔻仁　乾薑（各八分）　厚朴（薑製，一錢二分）</p>
<p>水一盞，煎服。</p>
<p>若吐逆不受湯藥，用伏龍肝研細末三錢，米湯調。徐徐嚥下即受。</p>

<h2>血崩</h2>
<p>產後血崩，多因驚憂恚怒，臟氣不平。或服斷血藥早，致惡血不消，鬱滿作堅，亦成崩中。薛立齋曰：若血滯小腹脹滿，用失笑散，方見血暈；血少小腹虛痞，芎藭湯；肝火血妄行，加味逍遙散；脾郁不能統血，加味歸脾湯；脾虛不攝血，補中益氣湯；厚味積熱，清胃散加槐花；風熱相搏，四君子加防風，枳殼。一產婦血崩，小腹脹疼，用順氣行血之劑，其崩如湧，四肢不收，惡寒、嘔吐、大便頻瀉。余用六君加炮黑乾薑四劑，稍愈，又以十全大補三十餘劑而痊。一產婦血崩，因怒血崩，其血如湧，仆地口噤、目斜、手足抽搐，此肝經血耗生風，余用六味丸料一劑，諸證悉退，但食少晡熱，佐以四君、柴胡、牡丹皮而愈。</p>
<p><u>芎藭湯</u></p>
<p>芎藭　當歸　白芍藥（各等分）</p>
<p>上大劑，濃煎，空心服。</p>
<p><u>白芍藥散</u></p>
<p>治產後崩中，淋瀝不絕，黃瘦虛損。</p>
<p>白芍　牡蠣　乾薑　熟地黃　桂心　黃耆　鹿角膠　烏賊骨　龍骨（各一兩）</p>
<p>上為末，每服二錢，食前溫酒下。</p>
<p><u>阿膠丸</u></p>
<p>治產後崩中，下血不止，虛羸無力。</p>
<p>阿膠　赤石脂（各一兩半）　續斷　川芎　當歸　甘草　丹參（各一兩）　龍骨　鹿茸（酥炙）　烏魚骨　鱉甲（酥炙。各二兩）</p>
<p>上為細末，煉蜜為丸，如梧子大，空心溫酒下三十丸。</p>
<p>又方：治產後血崩不止。</p>
<p>香附子（童便浸、炒赤，二兩）　蓮蓬殼（五枚，燒存性）</p>
<p>上為末，米飲調下二錢。</p>

<h2>浮腫</h2>
<p>產後四肢浮腫者，敗血乘虛停積，循經流入四肢，留淫日深，不能復還，腐壞如水，故令面黃，四肢浮腫。醫人不識，便作水氣治之，多用導水之藥，極能虛人，產後既虛，又以藥虛之，是謂虛虛，多致夭枉。丹溪曰：產後腫，必用大補氣血為主，少佐以蒼朮、茯苓使水自利。薛立齋曰：前證若寒水侮土，宜養脾肺，若氣虛浮腫，宜益脾胃，若水氣浮腫，宜補中氣，當參雜證本門。</p>
<p><u>白朮湯</u></p>
<p>治心腹堅大如盤，名曰氣分。</p>
<p>枳實（一兩半）　白朮（三兩）</p>
<p>上㕮咀，每服四錢，水一盞半，煎至七分，去滓溫服，腹中軟即愈。</p>
<p><u>乾漆散</u></p>
<p>治產後遍身浮腫疼痛及產後血水諸證。</p>
<p>乾漆　大麥糵（等分）</p>
<p>上各為細末，以新瓦罐子中鋪一重麥糵，一重乾漆，填滿用鹽泥固濟，火煅通赤，放冷，研為細末，但是產後諸疾，熱酒調下二錢。</p>
<p><u>丹溪方</u></p>
<p>治產後浮腫，小便少、口渴、惡寒、無力、脈沉，此體虛而濕熱，宜補中導水行氣可也。</p>
<p>白朮（二兩半）　陳皮（一兩）　川芎（半兩）　木通（五錢）　茯苓（三錢）</p>
<p>上水煎，下與點丸二十五丸炒。按與點丸，用黃芩炒為末粥糊丸，亦名清金丸。</p>
<p><u>奪魂散</u></p>
<p>治產後虛腫喘促，利小便則愈。</p>
<p>生薑（三兩，取汁）　白麵（三兩）　大半夏（七枚）</p>
<p>上用生薑汁和麵，裹半夏為七餅子，煨焦熟為末，水調一盞，小便利為效。</p>
<p><u>加味八物湯</u></p>
<p>治產後遍身浮腫，氣急潮熱。</p>
<p>人參　白茯苓　熟地黃　小茴香（各三錢）　白朮　川芎　當歸　白芍　香附子（各五錢）　甘草　黃芩　柴胡（各一錢）</p>
<p>上剉分五服，每服水一鍾半，生薑三片，煎至七分，空心熱服。若腹痛加延胡索、枳殼、倍芍藥；嘔吐噁心加藿香、砂仁；咳嗽加五味子、款冬花。</p>
<p><u>加減濟生腎氣丸</u></p>
<p>治產後及一切脾胃虛損、腰重腳腫、小便不利，或肚腹膨脹、四肢浮腫，或喘急痰盛，已成蠱證，其效如神。</p>
<p>白茯苓（二兩）　附子（半兩）　車前子　山茱萸　川牛膝　肉桂（去皮）　澤瀉　山藥　牡丹皮（各一兩）　懷地黃（四兩，酒拌蒸熟杵膏）</p>
<p>上為末，加蜜煉為丸，如梧桐子大，每服七八十丸，空心白湯下。</p>

<h2>喘</h2>
<p>產後下血過多，榮血暴竭，衛氣無主，獨聚肺中，故令喘也，此名孤陽絕陰，為難治。陳無擇曰：產後喘急固可畏，若是敗血上熏於肺，可用奪命丹，若榮血暴絕，宜大料芎藭湯亦可救。薛立齋曰：前證若脾肺虛寒，用補中益氣加炮薑、肉桂，若陽氣虛脫，更加附子，若瘀血入肺，急用二味參蘇飲。</p>
<p>一產婦喘促自汗，手足俱冷，常以手護臍腹，此陽氣虛脫，用參附湯，四劑而愈。</p>
<p><u>血竭散</u></p>
<p>治產後敗血衝心，胸滿上喘，命在須臾，宜服。</p>
<p>真血竭　沒藥</p>
<p>上等分研細，頻篩再研，取盡為度，每服二錢，用童便合好酒半大盞，煎一沸，溫調下，方產一服，上床良久再服，其惡血自循經下，免生百病。</p>
<p><u>云岐參蘇飲</u></p>
<p>治產後入血於肺，面黑髮喘欲死者。</p>
<p>人參（一兩，為末）　蘇木（二兩）</p>
<p>上用水二碗煮取蘇木一碗，去渣，調參末隨時加減服，神效。</p>
<p><u>旋覆花湯</u></p>
<p>治產後傷風寒，喘促咳嗽，痰涎壅盛，坐臥不寧。</p>
<p>旋覆花　赤芍藥　荊芥穗　半夏曲　前胡　甘草　茯苓　五味子　杏仁（去皮，麩炒）　麻黃（各等分，或芍藥、茯苓倍加亦妙）</p>
<p>每服四五錢，薑棗煎服，有汗者不宜。</p>
<p><u>五味子湯</u></p>
<p>治產後喘促脈伏而厥。</p>
<p>五味子（杵）　人參　杏仁（各二錢）　麥冬（去心）　陳皮（各一錢）</p>
<p>上姜三片，棗二枚，水煎服。</p>
<p><u>大補湯</u></p>
<p>治產後百日外，唇白氣促，面青浮腫有汗，乃大虛之證，急宜服此。</p>
<p>當歸　大川芎　大白朮　白芍藥　白茯苓（多）　人參（多）　黃耆（多）　五味子（少）　熟地黃　乾薑　甘草</p>
<p>上水二鍾，薑棗煎服。</p>

<h2>大便閉</h2>
<p>產後大便不通，由去血過多，大腸乾涸，或血虛火燥，以致秘澀，不可計其日期，及飲食數多，用藥通之潤之，必待腹滿覺脹，自欲去而不能者，乃結在直腸，宜用豬膽導之。若誤以為有熱，用苦寒之劑通之，反傷中焦元氣，或愈加難通，或通而瀉不能止，必成敗證。若屬血虛火燥，用加味逍遙散，氣血俱虛用八珍湯。一產婦大便不通七日矣，飲食如常，腹中如故，用八珍湯加桃仁、杏仁，至二十一日腹滿欲去，用豬膽汁潤之，先去幹糞數塊，後皆常糞而安。一產婦大便秘澀，諸藥不應。苦不可言，令飲人乳而愈，牛乳亦可，大小便不通者俱宜。陳無擇曰：產後不得利，利者百無一生，去血過多，臟燥，大便閉澀，宜用蔥涎調臘茶為丸，復以臘茶下之必通，大黃決不可用。</p>
<p>丹溪治產後秘結不通、膨滿氣急、坐臥俱難，用大麥糵炒黃為末，酒下一合，神效，又麻子、蘇子粥最為穩妥，用紫蘇子、火麻子二味各半合，洗淨研極細，用水再研，取汁一盞，分二次煮粥啜下，此粥不惟產後可服，大抵老人諸虛風秘，皆宜服之。有一媼年八十四，忽而腹痛、頭疼、噁心、不食，召醫數人，用補脾及清利頭目等，全不入食，此正是老人風秘，臟腑壅滯，聚於胸中，則腹脹噁心，上至於巔，則頭痛神不清，令作此粥，兩啜而氣泄，先下結糞，後漸得通利，不用藥而自愈矣。</p>
<p><u>桃花散</u></p>
<p>治產後氣滯血澀，大小便秘。</p>
<p>桃仁　葵子　滑石　檳榔（各等分）</p>
<p>上為細末，每服二錢，空心蔥白湯調下。</p>

<h2>小便閉</h2>
<p>產後小便不通及淋瀝澀痛者，由氣虛挾熱，不可專用分利滲導之藥，重損真氣。膀胱虛熱用六味丸，若陰虛而陽無以化，用滋陰腎氣丸。蓋土生金，金生水，當滋化源也。</p>
<p><u>滑石散</u></p>
<p>療產後淋閉。</p>
<p>滑石（一兩二錢）　通草　車前子　葵子（各一兩）</p>
<p>上為末，熱水調服三錢。</p>
<p><u>張不愚方</u></p>
<p>療產後小便不通。</p>
<p>陳皮（一兩，去白為末）</p>
<p>上空心溫酒調下二錢，一服便通。</p>
<p><u>又方</u></p>
<p>杏仁十四枚去皮尖炒為末，和飲頓服，立通。</p>
<p><u>又方</u></p>
<p>用食鹽填臍中，可與臍平，卻用蔥白剝去粗皮十餘莖作一縛，切作一指厚安鹽上，大艾炷如蔥餅子大小，以火灸之，覺熱氣直入腹內，即時便通，神驗不可俱述。</p>
<p>產婦生理不順，致傷尿脬，遺尿無時。丹溪曰：嘗見收生者不謹，損破尿脬，因而淋漓遂成廢疾者。有徐氏婦得此，因思肌肉破傷在外者，既可補完，在內者，恐也可治，遂茲其脈虛甚，試與峻補。因以參耆為君，芎歸為臣，陳皮、茯苓為佐，以豬羊胞煮湯煎服，極飢時飲之，一月而安。蓋氣血驟長，其胞自完，恐稍緩亦難成功矣。</p>
<p><u>補脬飲</u></p>
<p>治產婦傷動脬破，終日不小便，但淋濕不幹。</p>
<p>黃絲絹（一尺，自然黃絲織成者）　白芨末　白牡丹　根皮（各一錢）　黃蠟（五錢）</p>
<p>用水三碗，煎至絹爛如餳，服之勿作聲，作聲無效。</p>

<h2>子宮不收</h2>
<p>婦人因產，努力太過，致陰下脫，若脫肛狀。陰下挺出，逼迫腫痛，舉重房勞，皆能發作，小便淋漓作苦，此由氣血虛弱，宜用十全大補湯；腫脹焮痛，肝經虛熱也，加味逍遙散；若因憂怒傷脾，加味歸脾湯；若因暴怒，肝火出血，用龍膽瀉肝湯。丹溪治一婦人，產子後陰戶中下一物如合包狀，有兩歧，其夫求治。丹溪以為子宮因氣血弱而下墜，遂用升麻、當歸、黃耆、人參、川芎大料二帖與之。半日後其夫復來曰：服一次後覺響一聲，視之已收入訖，但因經宿，於著席上，一片如掌大在席，妻在家哭泣，恐傷破不可復生。丹溪曰：此非腸胃，必脂膜也，肌肉破傷可復完，若氣血充盛，必可生滿，遂用四物湯加人參，服一百帖，三年後生子。</p>
<p><u>當歸散</u></p>
<p>治陰下脫。</p>
<p>當歸　黃耆（各二兩）　芍藥（一兩）　蝟皮（燒存性，半兩）　牡蠣（煅，二兩半）</p>
<p>上為末，每服三錢，溫酒米湯任調下，忌登高舉重。</p>
<p><u>硫黃散</u></p>
<p>治產後陰脫。</p>
<p>硫黃　烏賊魚骨（各半兩）　五味子（二錢半）</p>
<p>上為末，摻患處。</p>
<p><u>硫黃湯</u></p>
<p>治產勞玉門不閉。</p>
<p>硫黃（四兩）　吳茱萸　菟絲子（各半兩）　蛇床子（一兩）</p>
<p>上每服五六錢，水一碗，煎數沸去滓，洗玉門，日再洗，效。</p>
<p><u>五倍子湯</u></p>
<p>治產後陰挺出腫痛。</p>
<p>五倍子　蛇床子　荊芥　枳殼</p>
<p>上各五錢煎湯，溫洗之。</p>
<p><u>熨法</u></p>
<p>治陰挺及產後陰疼。</p>
<p>蛇床子炒，乘熱布裹熨患處。</p>
<p><u>浸法</u></p>
<p>石灰二升炒極熱，湯二升投灰中，澄清去灰，溫坐水中，以浸玉門，斯須乎復如故。</p>

<h2>乳汁不通</h2>
<p>婦人之乳，資於衝脈，若初產而無乳者宜通之。若累經產而無乳者，亡津液故也，須服滋益之藥。若雖有乳，卻不甚多者，服通經之藥以動之，仍以羹臛引之，並宜壯脾胃為主。</p>
<p><u>漏蘆散</u></p>
<p>治產婦氣脈壅塞，乳汁不行及經絡凝滯，乳中脹痛，或作癰腫，服之自然內消。</p>
<p>漏蘆（二兩半）　蛇蛻（十條，炙）　栝蔞（十枚，急火燒焦存性）</p>
<p>上為末，溫酒調下二、三錢，無時服，藥後即以豬蹄羹投之。</p>
<p><u>湧泉散</u></p>
<p>治乳無汁，亦治乳結癰腫。</p>
<p>穿山甲（洗淨，一兩，灰炒燥）</p>
<p>上為細末，酒調服二錢。</p>
<p><u>玉露散</u></p>
<p>治乳脈不行，身體壯熱，頭目暈眩。</p>
<p>川芎　桔梗　白芷（各二錢）　芍藥　當歸（各一錢半）　人參　白茯苓　甘草（各一錢）</p>
<p>上作一服，水兩鍾煎至一鍾。</p>
<p><u>羅氏湧泉散</u></p>
<p>治婦人乳汁因氣不行。</p>
<p>瞿麥穗　麥門冬　龍骨　穿山甲（炮黃）　王不留行（各等分）</p>
<p>上為細末，每服二錢，熱酒調下，後吃豬蹄羹少半鍾，仍用木梳於左右乳上，各梳三十餘梳。</p>
<p>治乳癰未破即散，已結即潰，極痛即止，所謂吹乳者，因小兒吹乳變成，如未產乳腫為內吹，並皆治之。</p>
<p>陳皮（去白曬乾，麵炒黃為末）　麝香（二分）</p>
<p>研，酒調下。</p>
<p>凡乳汁不宜積蓄，惡汁不去，即結為膿。又乳汁不宜灑地，蟻食之令人無乳。宜灑東壁牆為佳。</p>
<p>治乳腫將次結成癰方：</p>
<p>用馬溺塗之，數次即愈。</p>
<p>治產後乳結脹不消，令敗乳自退方：</p>
<p>栝蔞（一個，半生半炒）　大粉草（一寸，半生半炙）　生薑（一塊，半生半煨）</p>
<p>上同剉，用酒一碗，煮取一盞，去滓服之，覺痛一會不可忍，即搜去敗乳，臨臥再一服，以患乳著床側臥，令其藥行故也。</p>
<p><u>又方</u></p>
<p>治婦人氣血方盛，或無兒飲，脹痛，壋寒發熱。用麥芽二、三兩炒熟水煎服，立消，其耗散血氣如此，脾胃虛弱，飲食不消，猶多用之何耶。</p>

<h2>半產</h2>
<p>妊娠日月未足，胎氣未全而產者，謂之半產。蓋由妊婦衝任氣虛，不能滋養於胎，胎氣不固，或顛撲閃墜，致氣血損動，或因熱病溫瘧之類，皆令半產，不可輕視，將養十倍於正產也。薛立齋曰：小產重於大產，蓋大產如慄熟自脫，小產如生採，破其皮殼，斷其根蒂也。但人輕忽致死者多，治法宜補臟氣，生新血，去瘀血。若未足月，痛而欲產，芎歸補中湯倍加知母止之；若產而血不止，人參黃耆湯補之；產而心腹痛，當歸川芎湯主之；胎氣弱而小產者，八珍湯固之；若出血過多而發熱者，聖愈湯；汗出不止急用獨參湯；發熱煩躁，大渴面赤，脈洪大而虛，當歸補血湯；身熱面赤，脈沉而微，四君子湯加姜附。丹溪曰：氣血虛損，不足榮養，其胎自墜，推原其本，皆因於熱火能消物，造化自然，《病源》乃謂風冷傷於子臟而墜，此未得病情者也。予見賈氏婦，但有孕三月左右必墜，診其脈左手大而無力，重取則澀，知其血少也，以其妙年，只補中氣，使血自榮，時正夏初，教以濃煎白朮湯，下黃芩末一錢，服三、四十帖，遂得保全。一婦年三十餘歲，有胎必墜，察其性急多怒，色黑氣實，此相火大盛，不能生氣，反食氣傷精故也，因令用黃芩、白朮、當歸、甘草，自二月用起，三月盡止，後生一子。</p>
<p><u>濟生芎歸補中湯</u></p>
<p>治懷孕血氣虛弱，不能衛養，以致半產，服此可保安全。凡懷孕數月即墜，不治久則不孕。</p>
<p>芎藭　五味子　阿膠（蛤粉炒，各一錢）　黃耆（蜜炙）　當歸（酒浸）　白芍藥　白朮（各一錢半）　人參（七分）　杜仲（去粗皮，炒去絲，一錢）　木香　甘草（各五分）</p>
<p>一方加乾薑八分，有火者去之。上作一服，水二鍾煎至一鍾，不拘時服。</p>
<p><u>阿膠湯</u></p>
<p>治數墜胎，小腹療痛不可忍。</p>
<p>阿膠（炒成珠）　熟乾地黃（焙）　艾葉（微炒）　川芎　當歸（焙）　杜仲（去粗皮，炙。各一錢半）　甘草（炙八分）</p>
<p>上用水一鍾半煎七分，溫服，大抵治法，宜審某月屬某經，育養而治之。</p>
<p><u>人參黃耆湯</u></p>
<p>治生產氣虛，血下不止。</p>
<p>人參　黃耆（炙）　當歸　白朮（炒）　白芍（炒）　艾葉（各一錢）　阿膠（炒，二錢）</p>
<p>上作一劑水煎服。</p>
<p><u>龍骨散</u></p>
<p>治損娠下血不止。</p>
<p>龍骨　當歸　地黃（各五錢）　艾葉（三錢）　地榆　阿膠（炒）　芍藥　乾薑（各四錢）　蒲黃（三錢）　牛角腮（炙焦，六錢）</p>
<p>上共為細末，每服三錢，食前米飲調下。</p>
<p>千金療落胎下血不止方：</p>
<p>生地黃汁一小盞，調代赭石末一錢，日三服。</p>
<p><u>又方</u></p>
<p>治下血不止腹痛。</p>
<p>阿膠（一兩炒）　艾葉（半兩）</p>
<p>水一大盞，煎六分去滓，空心服。</p>
<p><u>又方</u></p>
<p>治下血不止疼痛，亦治小便不禁。</p>
<p>家雞翎（燒灰細研，溫酒調下二錢，少頃再服，以效為度。）</p>
<p><u>紅蘭花散</u></p>
<p>治墜胎後血不出，奔心悶絕不識人。</p>
<p>紅蘭（微炒過）　男子發（燒存性）　京墨（燒紅）　血竭（研）　蒲黃（隔紙炒。各等分）</p>
<p>上為細末，以童便小半盞調二錢，服之立效。</p>
<p><u>鹿角散</u></p>
<p>治墜胎下血不盡，煩滿狂悶，時發寒熱。</p>
<p>鹿角屑（一兩，炒為末。）</p>
<p>上用水一大碗，煎豉一合，取汁六分，分三服，調鹿角屑二錢，日三服。</p>
<p><u>當歸湯</u></p>
<p>治墜胎胎衣不出。</p>
<p>當歸（炒）　牛膝（酒浸焙。各一錢半）　木通（一錢半）　滑石（研，二錢）　冬葵子（炒，二錢）　瞿麥穗（一錢）</p>
<p>水一大鐘，煎七分溫服，未下再服。</p>
<p><u>又方</u></p>
<p>以水噀其面，加醋少許，神驗。</p>
<p><u>當歸川芎湯</u></p>
<p>治小產心腹痛或發熱惡寒。</p>
<p>當歸　川芎　熟地黃　白芍藥（炒）　紅花　香附　青皮　玄胡索（炒）　澤蘭　牡丹皮　桃仁（各等分）</p>
<p>上水煎，入童便、酒各小盅，溫服。</p>
<p>若以手按腹愈痛，此瘀血為患，宜此藥或失笑散（方見血暈）；若按之不痛，此是血虛，宜四物參苓白朮；若痛而作嘔，此是胃虛，宜六君子湯。</p>
<p><u>當歸補血湯</u>（方見虛煩發熱）。</p>
<p><u>聖愈湯</u></p>
<p>治小產後血虛心煩，睡臥不寧，或五心煩熱。</p>
<p>熟地黃（酒蒸半日）　生地黃（酒浸）　川芎　人參（各一錢）　當歸（酒浸）　黃耆（炙。各八分）水煎服。</p>
