<header data-type="book">
<h1>濟世珍寶</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王永彙集</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>一、首篇</h1>

<h2>西山真仙衛生歌</h2>
<p>天地之間人為貴，頭象天兮足象地。父母遺體宜寶之，箕疇五福壽為最。衛生切要知三戒，大怒大欲並大醉，三者之中有一焉，須防損失真元氣。欲求長生先戒性，火不出兮神自定。木若去火不成灰，人能戒性還延命。貪欲無窮忘卻精，用心不住定無神，勞神散盡中和氣，更仗何能保此身。心若太費費則竭，形若太勞勞則歇，神若太傷傷則虛，氣若太損損則絕。世人慾識衛生道，喜樂有常嗔怒少，心誠意正思慮除，順理修身去煩惱。春噓明目夏呵心，秋呬冬吹肺腎寧，四季常呼脾化食，三焦嘻卻熱難停。發宜多梳氣宜煉，齒宜頻叩津宜咽。子欲不死修崑崙，兩手揩摩常在面。春月少酸宜食甘，冬月宜苦不食鹹，夏月增辛聊減苦，秋辛可省但加酸，季月少鹹甘略戒，自然五臟保平安。若能全減身康健，滋味偏多無病難。春寒莫放棉衣薄，夏月汗多宜換著，秋冬身冷漸加添，莫待病生來服藥。惟有夏月難調理，內有伏陰忌冰水，瓜桃生冷宜少餐，免得秋來成雪痢。心旺腎衰切須記，君子之人守齋戒，常令充實勿空虛，日食須當去油膩，太飽傷神飢傷胃，大渴傷血多傷氣，飢餐渴飲莫太過，免致膨脝損心肺，醉後強飲飽強食，未有此身不生疾。人資飲食以養生，去其甚者將安適。食後徐行百步多，手摩心腹食消磨。夜半靈根灌清水，丹田濁氣切須呵。生膾偏招脾胃疾，鮓醬胎卵兼油膩，陳臭醃臘盡陰類，老衰莫欲更食之，自藉寇兵無以異。炙煿之物須冷吃，不然損齒傷血脈。晚食常宜申酉前，向夜徒勞滯胸膈。飲酒莫教令大醉，大醉傷神損心志。渴來飲水兼吃冷，腰腳自茲成重墜。常聞避風如避箭，坐臥須當預防患。況因食後毛孔開，風才一入成癱瘓。不問四時俱暖酒，太熱又須難向口。五味偏多不益人，恐隨臟腑成殃咎。視聽行坐不必久，五勞七傷從此有。四肢亦欲得少勞，譬如戶樞終不朽。臥不厭踧覺貴舒，飽則浴兮飢則梳，梳多浴少益心目，默寢暗眠神晏如。四時惟夏難將攝，伏陰在內腹冷滑。補腎湯藥不可無，食物稍冷休哺啜。心旺腎衰何所忌，特忌疏通泄精氣。寢處須宜密室間，晏居靜慮積心意。沐浴盥漱皆暖水，臥冷枕冷俱勿喜。瓜茹生冷不宜人，豈獨秋來多雪痢。伏陰在內冬三月，切忌汗多陽氣泄。陰霧之中少遠行，暴雷驟雨宜速避。道家更有頤生旨，第一令人少嗔怒，秋冬日出始離床，春夏雞鳴宜早起，子後寅前睡覺來，瞑目叩齒三十六，吸新吐過兩三口，咽漱玉泉須養胎，熱摩手心熨兩眼，仍須揩擦額與面，中指時將摩頸鼻，左右耳輪筌數遍，更能幹浴遍身間，按髀時須扭兩肩，總有虛勞諸冷氣，何憂腰背復拘攣。噓呵呼嘻吹及呬，行氣之人系六字，果能依用口訣中，新舊有疾皆可治。睹雖云屬少年，稍知樽節乃無愆。閒情息氣宜聞早，莫使羽苞火內燃。有能操履長方正，名卻無貪利無競，縱向歌中未盡行，百行周身亦無病。</p>
<p>衛生歌終</p>

<h2>後衛生訣</h2>
<p>飲酒可以陶性情，太飲過多防有病。肺為華蓋恐受傷，咳嗽勞神多損命，甚勿將鹽去點茶，分明引賊入其家。下焦虛冷令人瘦，傷腎傷脾防病臨。坐臥切防風入腦，腦內入風人不壽；更兼醉飽臥風中，風才一人成災咎。雁有序兮犬有義，黑鯉朝北知臣禮。人無仁義反食之，天地神明俱不喜。況云牢字從牛起，更兼獄字從犬禮，勸人莫食牛與犬，一世瘟疫總不染；三代不食犬與牛，子孫榮貴做公侯。此言莫道虛誑語，皆載口言書上頭。養體須當節五辛，五辛不節食傷神。莫教引動虛陽發，精竭神枯疾病縈。不問在家並在外，若遇迅雷風雨至，急宜端肅敬天威，靜室處心宜敬避。恩愛牽綿不自由，利名縈絆幾時休。放寬些鬚子孫福，免得中年早白頭。頂天立地非容易，飽食暖衣皆可喜。思量無以報洪恩，朝夕焚香謝天地。身安壽永意如何？胸內平和積善多。惜命惜身兼惜氣，請君熟玩衛生歌。</p>

<h2>養生卻病歌</h2>
<p>世言服靈丸、餌仙藥，白日而輕舉者，但聞而未見也。至於養氣之言，可以養元之道，人稟氣血而生。攝生論云：攝生之要，必去其害生者。此言明也。予所編養生卻病歌，採諸家養生之要而為言，人能依而行之，則獲安樂。若盡其訣，亦長年之可覬。今錄其歌於後。</p>
<p>又曰：萬物惟人為最貴，百歲光陰如寄旅，是非留意修養中，未免疾病為心累；何必飡霞餌丹藥，妄意延齡等龜鶴。但在飲食節欲間，去其甚者得安樂。食後徐徐行百步，兩手摩脅並摩腹，須臾轉手摩腎堂，謂之運動水與土。仰面仍呵三四呵，自然食積得消磨。醉後飽臥皆無益，渴飲飢餐猶戒多。食不欲多兼欲速，乍可少餐相接續。自死之牲皆勿食，饅頭閒□不相和。</p>

<h1>二、廣嗣要語本序</h1>
<p>溯洄子俞橋序曰：陰陽之道，順則生乾，逆則生坤，擴而充之，天機之秘盡。予早歲得遇異人，授以大道。三十年間，歲月如流，而盟詮未證。夫順修，乾上而坤下，以有形交無形，女子懷胎者，人道也。逆修，地上而天下，以無質交無質。順而有形者，後天太極之氣也。逆而無質者，先天太始之氣也。蓋順則有盡，逆則無窮，有形則有壞，無質則無敗。是以至人退陰進陽，斥有從無，舍河江汗漫之未流，溯金水清純之初氣。道在掌握，而鬼神莫能窺；身在樊籠，而死生莫能累。人道固近，而仙道豈遠！奈何智者過之，愚者不及。不有其傳，罔臻妙義。予晚歲用順修之道，得生三子。不敢自私，因著廣嗣要語，少指迷途。近有數刻本附方者，為錦衣萬君鹿園所刊。附經者為州守劉君仲衡所刻。惜其流布未洽，用捐微祿，倩工重梓，以為廣傳之云爾。</p>

<h2>總論</h2>
<p>蓋由而觀之，天不無日月星辰，地不無樹木黍稷，人不無生育，物不無胎卵濕化，要知得其養耳。得其養，則磽者以肥，瘠者以沃，草木何懼乎不蕃，黍稷何懼乎不秀。夫人亦由是也。苟形質強壯，而嗜欲無節，久之不免虛衰。賦稟怯薄，而攝養有道，終焉亦能完實。不特少健而老衰，早壯而晚憊，滋培保護之間，固可以挽秋冬而復春夏也。昔者，名醫羅天益云：戊午春，桃李始花，雨雪厚寸，叟令人擊樹墜雪，焚草於下。是年果結蕭然，而此園結果甚多。然則天地之氣，尚可以法轉移；於人之身，豈無所用其力焉。愚乃不慚愚昧，積以平時縉紳方士之說，質諸古今名家論議，著為調理精血、直指其源、男女服藥三論，陰陽虛實四圖，合用方法三十五道，附錄經驗秘方二十二道，號曰廣嗣要語。精切曉明，纖芥不隱。信此以行，將見天下無不可父之男、無不可母之女，而螽斯之慶，而子孫蕃茂矣。</p>

<h2>調理精血要論</h2>
<p>求嗣之道，在於男精女血充實而無病也。苟有病焉，必資明醫論症調之。夫精者，血也，水也，陰也，蓋以有形言之也。有形而能射者，則又為氣、為血、為陽所使然也。論曰：孤陽不生，獨陰不成。無形則陽無所附，無陰則陽無所依。是精兼氣血、兼水火、兼陰陽，總屬腎與命門二脈，以沉靜為平。若見命門脈細或絕，陽事疾弱，是為陽虛，法宜補陽。若見命門脈洪大鼓擊，陽事堅舉，是為相火妄動，法宜滋陰制火。啟玄子曰：壯水之主，以制陽光。若見腎脈洪大，或遺精尿血，是為陰虛，法宜補陰。若見腎脈虛微太甚，別無相火為病，法宜陰陽雙補。又如經者，血也、水也、陰也；假如火色而為赤也，隨氣而行，依陽以運。亦若精之兼氣血、兼陰陽、兼水火者也。其候以一月為期，上應月之盈虧，故名曰月水。應其期則平，失其期則病。先其期者，血熱也；過其期者，血虛也。過期而色淡者，有痰也，或曰血虛也。經行而成塊者，氣凝之也，或曰風冷乘之也。將行而作疼者，氣之滯也；行後而作痛者，氣血俱虛也。經水紫黑者，氣血俱熱也。雖然又當察其時寒暖、脈之遲數、症之冷熱，平而調之，以復常候，不可一途而取。夫男精女血既充，別無他疾，惟守投虛之法，是為知要。</p>

<h2>直指真元論</h2>
<p>結胎者，男女精血也。男屬陽而象乾，乾道資始；女屬陰而象坤，坤道始生。陽主動，故能施發；陰主靜，故能承受。夫動靜相參，陰陽相會，必有其時，乃成胎孕。凡經淨一三五日，新血未盛，精勝其血，血開裹精，精入為骨，男胎成矣。二四六日，新血漸長，血勝其精，精開裹血，血入本㞐，女胎成矣。七日至十日，鮮有成者，縱皆女胎。欲求子者，全在經淨一、三、五日以里交合。如俯首拾芥，萬舉萬當。斯時男女無暴怒、無醉飽，毋食炙煿辛熱，毋用他術助長，陰陽和平，精血調暢，交而必孕，孕而必育，育而必子，堅壯強壽。至真切要，在此數語。受娠之後，宜令鎮靜，血氣安和，則胎孕長養。又宜內遠七情，外薄五味。大冷大熱之物，皆在所忌。苟無胎痛、漏血、瀉痢及風寒外邪，不可輕易服藥，亦不得交合陰陽，觸動欲火。未產，則胎不常；既產，則胎毒不已。降生之後，攝養一如胎前。蓋母食熱則乳熱，母食寒則乳寒，母食膏粱野味之物，則乳毒。有此數者，子受其害矣。求嗣之道，誠不出此。然源頭一節，尤當研究。男子十六而精必通，必三十而娶；女子十四而天癸至，必二十而嫁。皆欲陰陽二氣充實。或精未通而御女，經始至而近男，未充而傷，未實而動，根本既薄，枝葉必衰，嗣息豈能蕃衍！先儒言：寡欲多男子。蓋寡欲則不妄交合積氣儲精，待時而動，故能有子。予為不在於此為寡欲，凡心有所動既是欲。心主血而藏神，屬手少陰；腎主精而藏志，屬足少陰。心神外馳，則腎志因亂，其於交會之際，殊無靜一清寧之氣，所泄之物，同歸腐濁而已，安能發育長養於其間哉！《書》曰：人心惟危，道心惟微。夫能精一道心，俾常為一身之主，則邪思妄念，自爾退聽，欲寡而神益完，不惟多子，抑且多壽。養身莫善於寡欲，正此謂也。</p>

<h2>男女服藥論</h2>
<p>男子以陽用事，從乎火而主動，動則諸陽生。女子以陰用事，從乎水而主靜，靜則眾陰乘。故治男子，毋過溫熱以助其陽；治女子，毋過寒涼以益其陰。古人以黃柏知母之藥，每用於男子；而乾薑艾葉之劑，恆絕於婦人。男女陰陽，自然之體，固有不得而同者，至於七情內傷、六淫外侵，發為諸症，治寒以熱，制熱以寒，隨病推移，安能執此。但男女嗣續稍遲，雖無疾病，當加調護。男子陽動之體，惟慮合而易失，未獲中其肯綮。女子陰靜之質，多若交而弗孕，不能逆其生成。由是培養之術，若不可廢。在男子則用思仙丹丸，固其陰以為持久之計；在女子則用啟榮丸，鼓作微陽，以為發育之基。竊觀古今種子之方，不偏於寒，即偏於熱，務張其功以矜世；不析其理以示人，往往服之，反致求全之毀。故述二方，以為世之求嗣者助云。</p>

<h3>實陽能入虛陰之圖</h3>
<figure>
<img alt="實陽能入虛陰之圖">
</figure>
<p>成胎</p>
<p>實陽能入虛陰，為男子陽精充實，適值女人經後血海虛靜，子宮正開，與之交合，是謂投虛，一舉而成胎矣。經盡一日交會成男，二日成女，三日成男，四日成女，五日成男，六日成女，取奇陽偶陰之義，過六日無用矣。大抵前三日新血未盛，精勝其血，血開裹精，必成男胎；後三日新血漸長，血勝其精，精開裹血，多成女胎。凡交會，必半夜生氣時，有子皆男而壽。</p>

<h3>實陰不能受陽之圖</h3>
<figure>
<img alt="實陰不能受陽之圖">
</figure>
<p>妄施</p>
<p>實陰不能受陽，為女人經盡六日之後，新血方盛，血海充滿，若與交合，以實投實，多不成胎。</p>
<p>又有婦人素稟怯弱，雖經後旬日，血海未滿，亦覆成胎，然皆女胎，亦血勝其精之故也。</p>

<h3>微陽不能射陰之圖</h3>
<figure>
<img alt="微陽不能射陰之圖">
</figure>
<p>治男</p>
<p>微陽不能射陰，為男子陽精微薄，雖逢女人血海虛靜之日，流而不射，多不成胎。蓋因平日嗜欲不節，施泄太多所致，法宜補益精元，並用功夫存養，毋令妄動，候陽精充實，方按投虛之法，一舉而成胎矣。</p>
<p>兩尺脈大而數，小便常赤，未交易興，既交易泄，或自遺夢遺，真精不固，治在補陰。</p>
<p>兩尺脈微而遲，小便常清，陽事不舉，勉力入房，未覺先痿，或所泄清淡微薄，治在補陽。</p>

<h3>弱陰不能攝陽之圖</h3>
<figure>
<img alt="弱陰不能攝陽之圖">
</figure>
<p>治女</p>
<p>弱陰不能攝陽，謂女人陰血衰弱，雖投真陽強壯之精，不能攝入子宮，是以交而不孕，孕而不育。或因病後、經後、產後調理失宜，勞動骨節，虧損陰血所致。治宜調經養血之要。</p>

<h2>調元</h2>
<p>陽虛，右尺命門脈細微，精清，服還少丹、巨勝子丸。陰虛，左尺腎脈洪大或數，遺精、尿血、淋澀等症，服丹溪大補陰丸、加味虎潛丸。相火妄動，陽事數舉，右尺命門脈洪大，此為水不勝火，與陰虛同治法，補陰則相火自降也。陰陽俱虛，兩尺脈微弱無力，真精薄，服八味丸、補天丸。</p>

<h3>調經</h3>
<p>經先期者血熱，服四物湯，加芩、連之類。過期者血虛，四物湯加參、耆、白朮、陳皮之類。過期而色淡者有痰，二陳加芎、歸。紫黑色及有塊，血熱，四物加芩、連、香附之類。行後而作疼者，氣血俱虛，服八物（珍）湯。經行不止者，四物加阿膠、荊芥穗之類。</p>

<h3>安胎</h3>
<p>胎痛乃血少，四物加童便、制香附，共為末，紫蘇湯調下。有所激觸而疼者，芎歸湯探之。胎動屬火，四物加條芩之類。胎動不安，及下血，用集驗方、秦艽丸湯。胎動不安，或因房室不節，有所觸動，四物加膠、艾、條芩、白朮之類。妊娠惡阻，肥人有痰，瘦人有熱，胃氣不安，用人參橘皮湯、保生湯、集驗青竹湯。懷胎不問幾個月日，但覺胎氣不安，腰腹微痛，飲食不美，用安胎飲。</p>

<h3>便產</h3>
<p>妊娠七八個月，恐胎氣展大，難產，宜服束胎丸。妊娠八九個月，肥味膏粱之人，胎氣壅隘，宜服枳殼散，間二三日一服。或達生產（散），救生散；臨月用神寢丸、三合濟生湯。難產用催生丹、遇仙丹。如聖膏、豬肝蜜酒法。胎衣不下，或血乾，或血冷凝澀，宜服奪命丹、牛膝湯，或前方如聖膏。又方用紅花一兩，酒煮濃汁服之。</p>
<p>又法：令產婦自銜髮尾在口，嘔噦即下。</p>

<h3>交會宜忌日</h3>
<p>宜旺相日：春，甲乙寅卯；夏，丙丁己午；秋，庚辛申酉；冬，壬癸子亥。宜忌日：晦朔弦望、大風、大雨、虹霓、雷電、雲霧、昏暝、日月薄蝕，三光之下及秋冬丙丁日。</p>

<h3>轉女成男法</h3>
<p>受妊之後，用弓弦一條，絳囊盛帶婦人左臂、近肩垂、繫腰下，滿百日去之。又用雄黃一兩，絳囊盛帶。或用左邊斧一把，置孕婦床頭，仍置床下，勿令人知。雞抱卵時，置斧窠下，皆雄雞也。以上諸法，或用其一可也。</p>

<h3>附方</h3>
<p>秘授金鎖思仙丹</p>
<p>治男子嗜欲過多，精氣不固，澀以去脫之劑。</p>
<p>蓮花蕊（十兩，暖，無毒，鎮心、益顏色，忌地黃、蒜）　石蓮子（十兩，味甘平，溫，無毒，經秋正黑，沉水者是也。本功安心正渴，治腰疼泄精。入藥內，去心取粉）　雞頭（十兩，味甘平，無毒，益精氣、強志。用則取其實，搗爛，曬乾，再搗，篩取粉）</p>
<p>上用金櫻子三斤，取霜後半黃者，木臼中轉杵，卻刺勿損，劈為兩片，去子，水淘淨，搗爛，入大鍋，以水煎，不絕火，約水煎半，取出瀝過。重煎如稀餳。市肆乾者焙之，用水浸軟，再煎令如法。入前三味末，和丸，桐子大。每服三十丸，空心鹽湯服。一月見效，即不走泄。候婦人月信住，取車前子一合，煎水空心服之，一交成孕。依方服至多日，精神強壯，能成地仙。忌時葵菜、車前子。</p>
<p>按《本草》：金櫻子，味酸澀平，無毒。療脾泄，澀精氣。精氣滑脫者，服之自固。或言其性澀，乃因無是病而用是藥，且無配製而作單煎服。籲！澀可去脫，十劑之—法，良工不能更其道也。夫雞頭實，味甘平，無毒，補中益精。石蓮子，味甘寒，無毒，安心神，養氣力，治泄精。蓮花蕊，無毒，鎮心，益顏色。服餌家取雞頭實，和熬金櫻子，煎和丸，補下益人，名水陸丹。仙方取雞頭實，並蓮實，合餌養之，能駐年。昔人得其一二，功效若此。思仙合眾妙而有之，信可尚矣。</p>
<p>玉鑰啟榮丸</p>
<p>治女人無病，經事調勻，容顏不損，但久無胎孕。婦人者，眾陰之所集，常與溫居。今失所養，則子宮有陰無陽，不能生育。用此丸，平調氣血，鼓作微陽。生育之要藥也。</p>
<p>人參　白朮　甘草　當歸　川芎　熟地　沒藥　藁本　白薇　白芷　茯苓　牡丹皮　白芍藥　赤石脂　玄胡索（各—兩）　</p>
<p>上藥將石脂、沒藥另研外，其餘用醇酒浸三日，焙曬乾，為細末，足十五兩。又用香附子，去皮毛，水醋浸三日，炒乾為細末，亦十五兩。將前共十六味，用重羅篩極細末，煉蜜丸桐子大，瓷器中封固。每服五十丸，空心，溫酒或白滾水送下。以乾物壓之，待月事後，受妊為度。</p>
<p>還少丹</p>
<p>治右尺命脈微細，陽事痿弱，精氣不足，陽虛之症。</p>
<p>山藥　牛膝（去蘆，酒浸）　遠志（去心）　巴戟（去心）　山茱萸（去核）　五味　蓯蓉　杜仲（炒，去絲）　茴香　白茯苓（各一兩）　枸杞　熟地（各一兩五錢）　菖蒲　楮實子（各一兩）　</p>
<p>上為末，用棗泥煉和丸，如桐子大。每服三五十丸，溫酒或鹽湯送下，食蒯艮，一日用三服。</p>
<p>巨勝子丸</p>
<p>治右尺命門脈虛微欲脫，陽痿不舉，陽脫之症。</p>
<p>熟地黃　生地黃　何首烏　川牛膝　天門冬　肉蓯蓉　枸杞子　菟絲子　巨勝子　白茯苓　柏子仁　酸棗仁　破故紙（炒）　巴戟天（去心）　北五味　覆盆子　懷山藥　楮實子　天雄　續斷（各一兩）　雞頭肉　蓮花蕊　韭菜子　胡蘆巴　真川椒（各五分）　木香（二錢五分）　</p>
<p>上為末，煉蜜丸桐子大。每服七十丸，虛甚者百丸，空心溫酒下。</p>
<p>大補陰丸</p>
<p>治左尺腎脈洪大或數，遺精尿血。壯陰之要藥也。</p>
<p>黃柏（鹽水炒）　知母（鹽水炒，各四兩）　熟地黃　龜板（去旁，酥炙，各六兩）　</p>
<p>上為末，煉蜜，和豬脊髓丸，桐子大。每服七十丸，空心鹽湯送下。</p>
<p>補陰丸</p>
<p>治左尺脈洪大或數，精元不固。補陰制血之藥也。</p>
<p>黃柏（鹽水酒炒，半斤）　知母（同上制）　熟地（各三兩）　白芍（炒）　川牛膝（酒洗）　虎脛骨（一兩，酒浸，酥炙）　陳皮　瑣陽　當歸　龜板各四兩，酒浸，酥炙</p>
<p>上為末，酒煮羊肉丸，桐子大。每服五十丸，空心，鹽湯送下，各加乾薑半兩。</p>
<p>加味虎潛丸</p>
<p>治左尺腎脈虛數，精神短少，腰肢無力。補腎養血之要劑也。</p>
<p>人參　黃耆（蜜水炒）　白芍（炒）　黃柏（酒炒）　當歸（酒洗）　山藥（各一兩）　瑣陽（酥炙）　枸杞　龜板（酒洗，酥炙）　龜虎脛（同上炙）　菟絲子（酒洗，炒，各五兩）　破故紙　杜仲（鹽水炒斷絲）　五味子　牛膝（酒洗，各七錢五分）　熟地（四兩）　</p>
<p>上為末，煉蜜，和豬脊髓丸，桐子大。每服百丸，空心，溫酒，或鹽湯送下。</p>
<p>八味丸</p>
<p>治兩尺脈微弱，陰陽俱虛。雙補之劑。</p>
<p>紫河車（一具，即胞衣。男用女胎，女用男胎，俱用頭胎為佳。若不能有，即壯婦人者亦可）　黃藥（酒炒）　龜板（炙，各三兩）　杜仲（酥炙）　牛膝（酒浸，各二兩）　陳皮（一兩）　</p>
<p>加乾薑半兩，夏加五味子一兩。以上共為細末。將紫河車水洗淨，布絞乾，用酒煅爛。入諸藥末，共搗勻，焙炒，再為末，酒和丸桐子大。每服百丸，空心，沸湯或溫酒下。</p>
<p>四物湯</p>
<p>治女人血分，或寒或熱，經事前後不調，或多或少，以致崩帶血塊積諸症，用此加減。</p>
<p>當歸　川芎　芍藥　熟地（各等分）　</p>
<p>水煎服。</p>
<p>芎歸湯</p>
<p>一名佛手散。補血活血，生新去敗。產前胎後皆可服。</p>
<p>用當歸、川芎二味，各等份，每服四五錢，入酒一杯，煎欲干，加水一杯，再煎二三滾，去渣，溫服。</p>
<p>安胎飲</p>
<p>治婦人懷妊，不問幾個月，但覺胎氣不安，腰腹微痛，飲食不美，用此湯服之。</p>
<p>白朮　白芍　熟地　當歸（各一錢）　甘草　縮砂　紫蘇（各三分）　人參　川芎　黃芩（各五分）　</p>
<p>上藥作一劑，加生薑一片，水煎溫服。</p>
<p>集驗方</p>
<p>治婦人胎動不安，及下血。服之可愈。</p>
<p>艾葉　阿膠　川芎　當歸（各三錢）　甘草（一錢）　</p>
<p>上藥將阿膠存外，用水四茶杯，入藥內，同煎至二杯，去渣，納阿膠於內，煎令化，分三服，一日用完。</p>
<p>秦艽湯</p>
<p>治症同前。</p>
<p>秦艽　艾葉（醋炒）　阿膠（蛤粉炒）　</p>
<p>各等分，為粗末。每服五錢，水二杯，元米百粒，煎至一杯，去渣溫服。</p>
<p>人參橘皮湯</p>
<p>治妊娠噁心阻食。和中安胃之藥也。</p>
<p>白朮　麥門冬（去心）　橘紅　人參（各一兩）　白茯苓（二兩）　厚朴（薑汁炒，二兩）　甘草（三錢）　</p>
<p>上為粗末。每服四錢，水杯半，用淡竹茹彈子大一枚、生薑三片，煎至七分，去楂，澄清，空心溫服。</p>
<p>保生湯</p>
<p>治婦人惡阻。養胃調氣之劑。</p>
<p>人參（八分）　甘草（五分）　白朮（一錢）　橘紅（一錢二分）　烏藥（一錢）　香附（一錢）　</p>
<p>上藥用水一鍾，生薑五片，煎七分，去楂，不拘時溫服。嘔吐，加丁香同煎服。</p>
<p>集驗青竹茹湯</p>
<p>治婦人惡阻，清痰止嘔之藥。</p>
<p>竹茹（彈子大一枚）　橘紅（一錢五分）　生薑（二錢）　茯苓（一錢五分）　半夏（二錢，湯泡七次）　</p>
<p>上藥用水二鍾，煎七分，去查，溫服。忌食羊肉、餳、酢等物。</p>
<p>束胎丸</p>
<p>治婦人懷孕七八個月，恐胎轉大難產，用此藥扶助母氣，束緊兒胎。</p>
<p>白朮　陳皮（各一兩）　茯苓（一錢五分）　條芩（酒炒，夏用一兩，春秋用七錢五分，冬用五錢）　</p>
<p>上為末，粥和丸，桐子大。每服五六十丸，食前白湯、米飲送下。</p>
<p>枳殼散</p>
<p>治婦人懷孕八九個月，稟質肥厚，胎氣壅隘。此必寬和母氣，令兒易產。</p>
<p>商州枳殼（五兩，麩炒赤）　粉草（一兩，炙）　香附（一兩，炒）　</p>
<p>上為末，每服二分，空心滾水調服，一日服三劑。</p>
<p>一方加元米炒，同為末，白湯點服，令兒易產，初生微黑，百日肥白，此為古方之妙。若孕婦稍弱，恐胎寒腹痛，胎弱多驚，內可加當歸、木香各五分，則陽不致強，陰不致弱，二氣調和，有益於胎產。</p>
<p>達生散</p>
<p>治婦人懷孕八九個月，服此以扶正氣，散滯氣。妊婦稍虛者，尤為更妙。</p>
<p>大腹皮（薑汁煮）　白朮　白芍　當歸（各一錢）　甘草（一分五釐）　陳皮　人參　紫蘇莖葉（各五分）</p>
<p>上藥作一劑，水煎服。夏加黃芩或黃連、五味子，春加川芎、防風，秋加澤瀉，冬加縮砂。或通加枳殼、縮砂。胎動加苧根、金銀花，氣上加紫蘇、地黃，性急加柴胡，多怒加黃芩，食少加縮砂、神麯，渴加麥門冬、黃芩，能食加黃楊腦，有痰加半夏、黃芩。隨症加之尤妙。</p>
<p>救生散</p>
<p>治孕婦稟受瘦怯，不宜服枳殼散破氣之藥。此方安胎益氣，令兒易產。</p>
<p>人參　神麯（炒）　麥芽（炒）　訶子（煨，去核）　白朮（麩炒）　橘紅（炒）</p>
<p>上藥各等分，為細末，每服三錢，水一杯，煎七分，空心溫服。</p>
<p>議云：謂今八月合進瘦胎、易產之藥，若枳殼散，非為不是。但妊婦肥實者，可用也。若本瘦怯，不宜服此藥。惟救生散安胎益氣，有子緊小、無病、易產，最為穩當。</p>
<p>神寢丸</p>
<p>治孕婦臨產月日，破滯氣，瘦胎易產。</p>
<p>通明乳香（五錢，另研）　商州枳殼（一兩，麩炒）</p>
<p>上為末，煉蜜丸桐子大，空心溫酒，或米飲服二三十丸。臨月用之，瘦胎易產，極妙。</p>
<p>三合濟生湯</p>
<p>以枳殼、芎歸、達生三方，抽其精粹，合成此湯，治臨產艱難，雖一二日不下者，服之自然易便。</p>
<p>枳殼（三錢，麩炒）　香附（一錢五分，炒）　粉草（七分）　川芎（一錢）　當歸（三錢）　蘇葉（八分）　大腹皮（薑汁洗，一錢五分）</p>
<p>上藥，用水二鍾，煎至一半，待腰腹痛甚，服之即產。</p>
<p>催生丸</p>
<p>治孕婦生理不順，產育艱難，或橫或逆，大有神效。宜用天醫月日合。</p>
<p>十二月兔腦（去膜，研如泥）　通明乳香（一錢，研細）　母丁香（一錢，為末）　麝香（一錢，研）</p>
<p>上以乳麝丁香拌勻，入兔腦髓為丸，雞豆大，陰乾，油紙密封固，臨產服一丸，溫水送下，立產。男左女右，手□握出，神效。</p>
<p>催生不傳遇仙方</p>
<p>治婦人坐草艱難。</p>
<p>蓖麻子（十四個，去殼）　硃砂　雄黃（各一錢五分）　蛇蛻（一尺，煅）　</p>
<p>上為細末，粥和丸，彈子大。臨產時，先用川楝湯，淋洗臍下，納藥一丸臍中，仍以蠟紙數重覆藥上，軟帛拴系，產則急取藥去，一丸可用三次。</p>
<p>如聖膏</p>
<p>治同前。</p>
<p>用蓖麻子七粒，去殼細研成膏，塗產婦腳心。如產，急急洗去，遲則腸出，卻以此膏塗頂上，腸自縮入。又方：用蓖麻子百粒，加雄黃一錢同研，用如前法。</p>
<p>豬肝蜜酒法</p>
<p>治婦人胞水早行，胎澀不下。</p>
<p>豬肝（一斤）　白蜜（一斤）　醇酒（一斤）　</p>
<p>上三味，共煎至二斤，分作二三服。如不能服者，隨多少緩緩服之，即下。</p>
<p>奪命丹</p>
<p>治婦人血冷凝澀，胎衣不下。</p>
<p>大黃（四錢，漓醋煎膏）　黑附子（二錢，泡去皮）　丹皮（四錢）　乾漆（炒煙盡）　</p>
<p>上為末，以大黃膏同雞子白搗成丸，桐子大。酒溫急吞五七丸。如未下，用後方。</p>
<p>牛膝湯</p>
<p>治婦人生產不順。用此方，滑利水道，令兒易下。</p>
<p>牛膝（一錢，酒洗）　瞿麥（一錢）　滑石（二錢）　當歸（酒洗）　木通（各一錢）　葵子（一錢二分五釐，如無，用黃蜀葵花）　</p>
<p>上藥分三服，水二鍾，煎八分，溫服。須宜先修合，預備為上。</p>

<h3>補附廣嗣方</h3>
<p>五子衍宗丸</p>
<p>凡男子服此藥，添精補髓，疏利腎氣，不問下焦虛實寒熱，服之自能平和，舊稱古今第一種子方，人能世服此藥，子孫蕃衍。嘉靖丁亥，於廣信鄭中丞府得之。張神仙四世，予及數人，用之甚驗。</p>
<p>五味子（一兩，去枝梗，搗，曬乾）　枸杞子（九兩）　菟絲子（七兩，蒸，搗餅）　覆盆子（五兩，淘去花葉，曬乾）　車前子（三兩，微炒，揚去土）　</p>
<p>上藥宜擇道地精新者，曬焙乾，各為細末，稱定，煉蜜丸桐子大。每服七十丸，空心鹽湯送下。冬月溫酒服。合藥日，春取丙丁己午日，夏取戊己辰戌日，秋取壬癸子亥日，冬取甲乙寅卯日。須用上旬晴霽之日，忌雞犬異類所見。</p>
<p>百子建中丸</p>
<p>凡女服此藥，調經養血，安胎順氣。不問胎前產後，月事參差，有餘不足，諸症悉皆治之，更益胎嗣。此方，太僕鮑璧所驗，其妻三十而不生育，忽經事不至，十月腹鼓大，面無病容，皆謂有妊。一日忽產穢物盈桶，視之皆敗痰積血。後服此丸，不一年生一子。予曰常以此二方濟人，無不效者。</p>
<p>真阿膠（二兩，蛤粉炒成珠）　蘄艾葉（二兩，去筋膜，醋煮乾）　當歸（二兩，壯大者，酒洗，去蘆）　川芎（二兩，去蘆）　熟地（二兩）　白芍（二兩）　香附子（十二兩。赤心者佳，去毛杵成，米醋各半浸一夜，曬）　</p>
<p>上藥宜擇道地，除熟地另研，稱定各為細末，煉蜜丸桐子大。每服八十丸，空心，少醋點沸湯下。內寒者，溫酒下。</p>
<p>此二方，不熱不寒，不補不瀉，藥物近易，性味平和，明效大驗，詳載本草。予中年得此方，信心服餌，連生三子，後轉施多人，罔有不應。太僕史室久不得育，服百子建中丸，兩月受妊，後生一子。但修合日時，俱用上旬生氣之日，並有吉星照曜。如此，無不效驗。</p>
<p>神效黑附方</p>
<p>治婦人久不生育，經事不調，及墜胎者。服之無不立效。</p>
<p>香附子（一斤。要北方香附米，去毛，分作四分，一分好酒浸，一分米泔水浸，一分童便浸，一分醋浸，各浸一日夜）　艾綿（四兩。要潔淨無細梗及灰塵者。用醋二大碗同香附一處煮乾，石臼內約杵三千下，以爛為度。捻作餅子，錢樣大，用新瓦灰火焙乾，搗成末）　白茯苓（一兩，去皮淨）　當歸（一兩，去皮淨，酒浸一夜）　人參（一兩）　川芎（一兩，去土，淨大者）　大熟地（一兩，酒浸，去土。又用酒浸一夜，飯上蒸）　木香（五錢，要廣南香）　上等徽墨（一兩，火煅醋淬）　</p>
<p>上藥九味，各為細末，醋和丸桐子大。每服五十丸，空心陳酒送下。此方是聞人道長所傳。</p>
<p>何首烏丸</p>
<p>喬白岩服。</p>
<p>何首烏（三斤，用銅刀或竹刀切片）　牛膝（一斤，去苗，銼）　</p>
<p>上藥用黑豆一斗，淘洗淨，用甑一口，先以豆鋪甑底，後鋪何首烏，又鋪豆一層，再鋪牛膝，重重鋪好，安釜上蒸之，令豆熟為度。去豆取藥曬乾，又換豆蒸之，如此三次，去豆取藥為末，蒸棗肉為丸桐子大。每服五十丸，食前溫酒服之。忌食蘿蔔、蔥、蒜。何首烏乾者，米泔水浸軟，切之。</p>
<p>又方：蕭東之傳云，蔣敬所服此。</p>
<p>何首烏，雄雌各半斤，銅刀去粗皮為片，米泔水浸夏一宿、春秋二宿、冬三宿，取出曬乾為末。無火病者，以棗肉為丸，或蜜丸，清晨鹽湯送下，或酒下尤佳。《本草》服何首烏，用茯苓煎湯，勝似鹽湯。</p>
<p>上二方，楊後江服此連孕，及人傳服者，皆驗。</p>
<p>延年益嗣丸</p>
<p>男服。</p>
<p>生地黃（酒浸一宿，曬乾）　熟地（酒洗淨，曬乾）　地骨皮（各五兩，酒洗，曬乾）　人參（三錢）　茯苓（酒浸，曬乾）　天門冬（酒浸三時，去心，曬乾）　麥門冬（同天門冬煮，一樣各五兩）</p>
<p>上用何首烏半斤，鮮者，用竹刀刮去皮切片；如干者，米泔水浸軟，刮去皮，亦切片。置砂鍋內，下用烏羊肉一斤、烏豆三合，量著水用，上加蓖，放此藥上蒸一二時，取出曬乾，共為細末，煉蜜為丸桐子大。每服三五十丸，清晨溫酒送下。此方，崇德縣韓主簿傳。</p>
<p>加味益母丸</p>
<p>女服。</p>
<p>益母草（半斤）　川芎　赤芍　當歸　廣木香（各一兩）</p>
<p>上為末，蜜丸桐子大。每服五十丸，用好酒或童便，酒下其妙非常，百日可孕。</p>
<p>上二方，余夫婦同服，有驗。</p>
<p>四制香附方丸</p>
<p>香附米（一斤，用酒，醋，鹽湯，童便各浸三日，瀝乾，炒當歸四兩，酒浸）　川芎（四兩）　白芍（四兩，酒炒）　白朮（二兩）　陳皮（二兩）　熟地（四兩，薑汁炒）　澤蘭葉（二兩）　黃柏（二兩，酒炒）　甘草（一兩，酒炒）</p>
<p>上為末，酒和丸。每服七十九，空心，白滾水下。此方調經養血，順氣健脾。如信，服此有妊。</p>
<p>琥珀調經丸</p>
<p>治婦人無子，□能經正。</p>
<p>香附子（一斤，童便，好醋各浸半斤，浸七日）　蘄艾（去枝梗者四兩。入香附子內攪勻，每加好醋五碗，入砂鍋內同煎，干為度，曬乾為末。另作後藥）　當歸（二兩，酒洗）　川芎（二兩）　熟地（二兩，酒蒸，另研，入前藥）　芍藥（二兩，煨）　琥珀（一兩，另研）</p>
<p>上為細末，共一處搗研細，醋和丸桐子大，每服百丸，空心艾醋湯送下。</p>
<p>濟陰丸</p>
<p>女服。</p>
<p>赤芍（四兩，去蘆）　川芎（同上）　生地黃（四兩，去苗）　當歸（四兩，去蘆）　好艾（一斤，去梗）　香附（一斤）　</p>
<p>上分為四份，用醋、童便、鹽水、酒各浸一夜，俱浸一宿，加醋三斤，拌勻，以砂鍋煎盡為度。取出曬乾，為末，醋和丸桐子大。一日三餐，飯前，每服五、六十丸，令人體壯，經調有孕。服久諸症不作。</p>
<p>雛雞丸</p>
<p>用頭窠烏骨雞，雌雄各一隻，置放一處，不可與群雞相混，候生卵時，將初生卵記放，待生足，將初生卵頂上開一竅，用硃砂三錢，當歸、芍藥、川芎、熟地各二錢，為細末，將卵黃傾出，和藥末，仍入殼內，以厚紙封之，眾卵內覆之。待群雞生，將藥卵出殼，以蜜丸之，空心，好酒服三、四十丸，此甚見效，藥完即有孕。此方宣府鎮守總兵馬儀都督所傳。</p>
<p>煮附丸</p>
<p>專治婦人心懷鬱結，經不能調，故不得孕。此方甚效，不須更服他藥。</p>
<p>用川附子，不拘多少，去毛皮，米泔水浸一宿，曬乾。用好醋，砂鍋內旋醋添煮透，取出焙乾為末，仍用醋和丸桐子大。每服五十、七十丸，服久即經調有孕。</p>
<p>溫臍種子法</p>
<p>五靈脂　香白芷　青鹽（各二錢）　麝香（一分）</p>
<p>上為末，以蕎麥麵湯和，搓成條子，圈於臍上，以前藥入於其中。用艾灸之，但臍內微溫即好，不過二三度。</p>
<p>兜肚方</p>
<p>白檀香（一兩）　靈陵香（五錢）　馬蹄香（五錢）　香白芷（五錢）　馬兜鈴（五錢）　羚羊角（一兩）　木鱉（八錢）　甘松（五錢）　升麻（五錢）　丁香（七錢）　血竭（五錢）　麝香（九分）</p>
<p>上藥分作三個兜肚，內用蘄艾、絮綿，俱裝白綾兜肚內。其法：初帶者，三日後一解，至第五日復帶，專治痞積、遺精、白濁、婦人赤白帶下，及經脈不調，久不受孕者，皆可。第五日帶後，至一月後，即能常帶，惟孕婦不可用。</p>
<p>益母草丸</p>
<p>上單用益母草一味，為末，忌用鐵器，煉蜜丸彈子大，每服一丸，久服令人有子。此先祖蘭窗公所常施而有驗者，其婦人胎前產後諸疾，治無不效。服法備載於積善堂中。</p>

<h3>妊婦五忌</h3>
<p>崑山顧狀元刊施</p>
<p>一、勿睡熱炕。南方火箱亦同。</p>
<p>二、勿飲燒酒。切不可飲。黃酒有藥，亦不宜多飲。</p>
<p>三、勿食煎、炙、煿、厚味之物。</p>
<p>四、勿食蔥、蒜、韭、薤、胡椒、茱萸。</p>
<p>五、勿於星月下仰臥，及當風處洗浴坐臥。</p>

<h3>小兒五宜</h3>
<p>一、凡小兒初生，宜先煎濃黃連、甘草湯，急用軟絹或絲綿包指蘸藥，摳出口中惡血。如或不及，即以藥湯灌之。待吐出惡沫，方與乳吃，令出痘稀少。</p>
<p>二、凡小兒初生三五月，宜繃縛令臥，勿豎頭抱出，免致驚癇。</p>
<p>三、凡小兒飲乳，與食相遠，不宜一時混吃，令兒生疳癖積。</p>
<p>四、凡小兒初生，宜用老年人舊服做衣，與小兒穿。真氣相滋，令兒有壽。富貴之家，不宜用綾緞之衣，令兒折福。</p>
<p>五、凡小兒四五月，止與乳吃。六個月後，方與稀粥哺之。周歲以前，不宜食葷物，並生冷之物，令兒多疾。待至二三歲後，臟腑稍壯，才與葷物。</p>

<h3>延生第一方</h3>
<p>鎮江錢醫官傳。</p>
<p>小兒初生，臍帶落後，取置新瓦上，用炭火四圍炙之，待至煙盡，放地上，用盞蓋之，存性，研為末。先取硃砂透明者，研極細末，水飛過。臍帶若有五分重，加硃砂二分五釐，用生地、歸身煎濃汁，三□殼調和三味，抹兒上齶間及乳頭上。一日之內，兒食乳盡，次日，大便遺下穢汙濁垢之物，終身永無瘡疾及諸症。此永無外疾真妙法也。</p>
<p>神功消毒保嬰丹</p>
<p>凡小兒未出痘疹者，每遇交春分、秋分時，服一丸，其痘毒能漸消化。若只服三次者，亦得減少。若服三年六次，其毒盡能消化，必保無虞。此方神秘，本不欲輕傳，但慈幼之心，自不能已，願與四方好事君子共之。</p>
<p>纏豆藤（一兩五錢。八月中，收青豆梗上纏細紅絲者用之，採取陰乾）　黑豆（三十粒）　赤豆（七十粒）　山楂肉（一兩）　新升麻（七錢五分）　荊芥（五錢）　防風（五錢）　赤芍藥（五錢）　生地黃（一兩）　川獨活（五錢）　甘草（五錢）　當歸（五錢）　連翹（七錢五分）　苦絲瓜（二斤。五寸長者，隔年經霜者妙，燒灰存性）　黃連（五錢）　桔梗（五錢）　辰砂（水飛，另研）　牛蒡子（一兩，紙炒過）　</p>
<p>上各為細末，和勻淨，砂糖拌丸李核大。每服一丸，煎濃甘草湯化下。其藥須用精料，遇春分、秋分、或正月十五日、七月十五日修合，務在精誠。忌婦女、雞犬見。合時向太陽祝藥曰：神仙真藥，修合自然，嬰兒吞服，天地齊年，吾奉太上老君，急急如律令敕。一氣七遍。</p>
<p>治小兒口齶牙根生白點，名馬牙，不能食乳。此比鵝口不同，少緩即不能救，多致夭殤，急用針縛箸上，將白點挑破出血。用陳京墨磨薄荷湯，以手指拈母油發，蘸墨遍口齶擦之，勿令食乳。候睡一時醒，方與乳，後再擦之，即愈。</p>
<p>牛黃抱龍丸</p>
<p>此方治一切急慢驚風，及風熱風癱，屢服效驗。用薄荷煎湯，磨服一丸，兒小，分三四次服。</p>
<p>膽星（八分）　雄黃（一錢五分）　辰砂（一錢二分）　殭蠶（三錢）　鉤藤（一兩五錢）　人參（一錢五分）　茯苓（一錢五分）　天竺黃（二錢五分）</p>
<p>上藥共為細末，加牛黃二分、麝香五分，同研細末，入前藥。又研勻，將甘草四兩，銼碎，用水二大碗，煎成一盞，丸如芡實大，金箔為衣，陰乾，藏入蠟丸中，勿泄氣，每令見微火為妙。</p>
<p>上各附方，乃自驗及人服屢驗，皆秘方也。茲前闡錄，以廣前方之所未備。蓋人之稟養不齊，病亦隨異，故方各有宜，在人擇而用之，則無不效矣。</p>
<p>嘉靖丙申九日鹿園居士萬表識</p>

<h1>三、坎離種子神方敘</h1>
<p>余少娶，既壯，而熊黑之祥不協。稽諸古方，曾服世傳南嶽魏夫人濟陰丹、續嗣陰生丹、紫石英丸、秦桂丸等劑，俱勿獲效。因閱丹經子書，究陰陽交媾之道，窮生身受氣之初，成人成仙之道，先天后天之分，乃知大道之在斯也。遂悟古方，因病而說，效於彼者，必不效於此。苟不明陰陽化育之機，徒藉服藥以求嗣，猶緣木而求魚也。於是遍歷江湖，幸而遇上人方師父，憐余多病身弱，以致求嗣之塞，教以攝生保身之道，袖出方書一帙，受余戒曰：是書乃雷公岐伯指示內外交養之機，中摘出坎離種子神方一卷，百投百中，宜敬秘之，勿妄傳於無德。余拜受詳玩之，乃知斯書深明二五，妙合生育之道。按卦五方，推移投疾之法，大臻妙理，非執方膠柱之比，誠有功於斯世。依制服之，家室一時而孕，竟一男一女產焉。越四載，複製前藥服之，驗如其初。余藥饋親友試之，俱各得嗣。後遊金陵，將此方見授於縉紳士庶，悉獲其效。久知是方百發百中，而神化之道，不可誣也。竊見世人無子，往往信服金石房中之藥，不惟不效，抑且增致他疾，噬臍莫及，心實憫之。昔蘧伯王惡獨為君子，有善而不共諸人，豈有道者哉！敢不自諱，遂將此方逐一致誠較正，錄梓與天下求嗣者共之，以布陰騭，保我子嗣克昌，然濟人利物之心，又孰有加於此哉！</p>
<p>夫好善樂成，孰無此心，行之而不樂，未必得以成樂之，而時未至，亦未必竟以成也。余昔好奇術，凡陰陽醫卜之書，靡不究覽。遇有奇術，切於人道者，輒錄以藏之。彼種子神方，舊在余所，常舉以濟他人，悉有效應，甚珍而欲刊久矣。因不得其詳而止，是所為樂之而未得時者也。今以薄宦都下，見小川王先生之本奇書，乃得以詳玩先師注述之意，首尾條貫，一覽瞭然，誠藏書也。嗣續乃人倫之大，不得自私，余乃請諸先生，願捐資翻刻以傳於世，是所謂得其成，樂其成，庶不負好善之初心也。得是書者也，他日子嗣森森，豈可忘此書之功，及用心之意哉，遂書以錄之。</p>

<h2>論陰陽生育之道</h2>
<p>二五之精，妙合而凝，人乃生焉。蓋陰陽生五行，五行翊陰陽，以生人也。人得父母之精血以成形，精血生五臟，五臟復滋精血而生子焉。父母之精血，先天之氣也；五臟之精粹，後天之氣也。人之飲食入胃，其精氣之上濡脾肺，以及心，肝，腎，潛滋暗長，以翊先天，此先天后天之間，成人成仙之機也。其玄言妙道，未敢輕泄，但於實理易見者求之，則曰：取將坎中實，來填離中虛。玄理妙訣，盡在斯矣。詳見成男成女論內。</p>

<h2>辨脈種子法</h2>
<p>男女者，陰陽也。夫婦者，剛柔也。陰陽成象，剛柔成質。人稟天地以生，有男女，則有夫婦之道焉；有陰陽，則有剛柔之義。陽剛而陰柔，故天覆而地載。是故生育之理，以女子為受孕之本，男子運生化之源。《易》大過卦，九二爻詞曰：枯楊生梯，老夫得其女妻，老陽遇少陰，有子之道。故夫雖老而得女妻，猶能成生育之功也。故當先調女子經脈，以為受孕之本。《脈經》曰：若問女子何因，尺中不絕，胎脈方真。《內經》云：陰搏陽別，謂之有子。大抵女子先宜無病，而經脈調和，方能有子。且如六脈四至平和，不沉不浮，不洪不弱，而兩尺往來流利，滑實不絕，雖不藥而自孕。或有太過，皆當依法調理。經曰：左太陽脈沉實為男，右太陰脈沉大為女。又曰：孕婦行履時，左足先行為男，右足先行為女。左陽右陰，剛柔之義也。必先辨明此理，而後可以入妙道。若夫男子運生化之源者不調燮，下元虧損，則亦不能運化。其義詳見後「調元論」云。</p>
<p>謹按詩小雅云：維熊維羆，男子之祥，陽物在山，剛也。維虺維蛇，女子之祥，陰物穴處，柔也。人之動靜夢寐，精神感召，與天地陰陽相與流通，而況於男女剛柔之實理乎！</p>
<p>先天歸一湯　又名啟扁湯。</p>
<p>人參（八錢）　臺術（一兩，麩炒）　茯苓（一兩）　國老（四錢）　川歸（一兩二錢，酒浸）　腦芎（一兩）　白芍（八錢）　生地（一兩，酒洗）　砂仁（七錢、微炒）　莎草根（七錢）　廣皮（六錢）　丹皮（七錢，去骨）　半夏（七錢，湯泡）　川牛膝（八錢，酒洗）　</p>
<p>上十四味，共作十劑，水二鍾，姜三片，煎八分，空心服。渣再煎，用水一鍾半，煎七分，臨臥服。經未行前服五劑，行後服五劑。服完十劑後，即服丸藥。如無他病，只照本方服之。如有他疾，宜照後加減服之。經調脈和，自然得孕。</p>
<p>加減法：</p>
<p>婦人子宮久冷不孕，加乾薑、肉桂各五分。何以知其冷？丈夫交合之時，當自覺之。如冷甚，灸丹田七壯極效，在肚臍下三寸。</p>
<p>婦人子宮太熱，則傷胎，加黃柏、知母各六分。何以知其熱？亦丈夫當自覺也。</p>
<p>白帶、白濁、白淫，時下俗云「下寒」，非寒也，乃是婦人素虛，濁氣下陷故也。有痰者亦然。當加白芷一兩、升麻五錢，或倍加半夏。如不能服藥，灸中極七壯極效，在臍下四寸。氣不流通者，加木香三分。</p>
<p>平素虛勞自汗，或惡寒，加黃耆、肉桂；咳嗽加阿膠、貝母各四錢；勞熱血枯加柴胡、鱉甲。</p>
<p>勞甚腰背疼者，灸膏肓二穴各七壯，在背脊四椎下、近五椎兩旁各開三寸。《明堂》云：生無所不療，令人有子，甚效。</p>
<p>飲食減少，倍白朮、陳皮，加厚朴、神麯各五錢。肥白人痰盛，迷塞子宮，加南星、三稜各六錢。</p>
<p>經水將行，小腹作疼者，有瘀血也，加桃仁、紅花各四錢，蓬朮五錢、玄胡索四錢；如未效，去人參，加五靈脂六錢，半炒半生，用乳香三錢。</p>
<p>腰腿痠疼者，加杜仲一兩二錢、羌活三錢、桃仁四錢。</p>
<p>經水行後作疼者，虛也，加熟地黃六錢、當歸八錢、五味三錢。</p>
<p>脅腹有痞塊者，去牛膝，加三稜、莪朮各六錢，桃仁、枳實各五錢。前五劑加檳榔五錢，後五劑不可加。</p>
<p>腹有鬼胎者，狀如懷胎，非真胎，因氣裹精而結，無血也。宜用桃仁、乾漆、肉桂、麝香、水銀之類，丸服以去之。然後再用歸一湯，以俟經調，仍然得胎。</p>
<p>經水前期而至者，加黃芩五錢，炒真蒲黃五錢。</p>
<p>經水過期而至者，加乾薑五錢，丹皮五錢，紅花三錢。</p>
<p>經水枯閉者，只依本方連服至二十劑，即有效。</p>
<p>經水崩漏不止者，加蓮蓬殼灰五錢，白芷八錢，豬頭骨灰六錢，熟艾三錢，黃芩五錢。</p>
<p>平日有風氣寒濕疼痛者，加秦艽三錢，羌活七錢，乳香、沒藥各五錢，或加蒼朮。有熱疼痛，加黃柏。</p>
<p>心腹膨脹者，加大腹皮三錢，木香三錢，檳榔五錢。</p>
<p>小便澀小不通者，加豬苓、澤瀉。亦不宜多用，恐泄腎氣。</p>
<p>室女經脈滯澀不通者，謂之衝任不調也。前方內加劉寄奴六錢；不應者，加衛茅三錢，神效。</p>
<p>已上本方，先聖按卦推移製造，不宜任意加減。只可隨症依此加減之法用之。其效如桴應鼓如神。</p>
<p>後天物化丸</p>
<p>服前湯藥已盡，經脈已調，自然妊娠。倘有未應，即宜此丸藥，依法不差，大臻實效。此丸男女同服。</p>
<p>鹿茸（三錢，酥炙）　蛇床子（四錢，微炒）　熟地（一兩）　肉蓯蓉（五錢，酒蒸，搗膏）　肉桂（三錢）　牛膝（六錢）　半夏（六錢）　人參（五錢）　砂仁（六錢）　川柏（一兩，童便浸，炒）　秦艽（八錢）　川楝（八錢）　杜仲（一兩，薑製）　白芷（八錢）</p>
<p>上十四味，擇壬子日，如法制過，搗羅細末，煉蜜丸如桐子大。每服四十八丸，空心淡醋湯下，或酒下亦可。覺有孕遂止。男服用酒或鹽湯下。男亦可以常服，服久更好。</p>

<h2>男子服藥調元論</h2>
<p>女子有病，經脈不調，不孕者最多。男子亦有少年元精不固，亦有老年元陽虛憊者，不宜用湯藥，只可服後天物化丸則效。此藥大固元陽，有生生化化之功也。如男子素強壯者，不必服之。男年三四十歲，娶妻妾三五房，從不見孕者，乃稟受元氣虛弱，元氣虛則元精淡，元精淡則元神疲，元神疲則不能施化。雖則交合，則陽精不能沖射陰血而凝結也。如此之輩，則妻妾不須服藥；但男子自己服此藥，然後依法調治。餘存口訣，見後成男成女論內。猶切忌不明正道，信服金石房中之藥，致生他疾，戒之慎之！又方：男若虛甚者，用海狗腎。</p>
<p>謹按：已上湯丸等劑，俱預製下，男女依法各服，候頭一月經行淨後交合。不孕，至次月又如前月，女服湯藥十劑，更如法服丸料，待經行後交合，准孕。准孕決不出六十四日之外也。親試甚驗，及與人調治，無不驗者。此可見先聖立法之妙，而又可敷受之驗也。</p>

<h2>先天歸一湯論</h2>
<p>昔太乙雷公、天師岐伯制方之始，察陰陽，按八卦，原太初太始而立方。以人身之血氣，即天地之有陰陽也，故制四君子湯以養氣，乾道也；制四物湯以養血，坤道也；合四物四君子名八珍湯，象乾坤之生六子，八卦全也。是以先天歸一湯，以乾坤為父母，以六卦為子女，以四物四君為君，而以六味臣藥佐之，此先聖作法，參天地闔闢之機也。</p>
<p>乾坤大父母圖說</p>
<p>太陽乾父　☰</p>
<p>震長男　☳</p>
<p>坎次男　☵</p>
<p>艮少男　☶</p>
<p>乾三陽</p>
<p>太陰坤母　☷</p>
<p>巽長女　☴</p>
<p>離中女　☲</p>
<p>兌少女　☱</p>
<p>謹按：孕元立本日，有太初，有太始，渾淪既判，既見氣矣，故曰太初；既立形矣，故曰太始，氣初形始。天地相因，生生化化，品物彰矣，故曰：大哉乾元，萬物資生。乾坤大父母者，乾坤以太陽太陰相合，而生六子也。</p>

<h2>後天物化丸論</h2>
<p>天地生物之始，乾坤為父母，氣化也，故曰先天。男女生子之始。坎離為父母，物化也，故曰後天。是以先聖制後天物化丸，以鹿茸、杜仲、牛膝、人參，滋腎以升坎水也；蛇床子、地黃、黃柏，攝心以降離火也。坎離復生六卦為六子，故復以六味之藥，以佐坎離為六子，水火升降，陽施陰化，物各付物。有子之道，亦猶氣化而然，此先聖立法，贊天地化工之神妙也。</p>
<p>坎離小父母圖</p>
<p>少陽坎父　☵</p>
<p>巽二陰　☴</p>
<p>艮二陰　☶</p>
<p>坤三陰　☷</p>
<p>少陰離母　☲</p>
<p>震一陽　☳</p>
<p>兌二陽　☱</p>
<p>乾三陽　☰</p>
<p>謹按：擬形殊稟曰：天地者，形之大也；陰陽者，氣之大也。惟形與氣相資而立，未始偏廢。男女媾精，萬物化生，天地陰陽之形氣寓焉。語七八之數，七，少陽也；八，少陰也。相感而流通，故女子二七而天癸至，男子二八而精至，乃順陰陽交合，而兆始也。語九十之數，九，老陽也；十，老陰也。相包而賦形，故陰窮於十，男能圓之；陽窮於九，女能方之，是以陰陽相生而成物故也。坎離小父母者，坎離以少陽少陰相合而生六子也。</p>

<h2>成男成女論</h2>
<p>夫夫婦形氣於天地，坎離中媾於乾坤，何以不能育耶？蓋由男女有疾，氣血偏勝，子偏不啟，或啟之非道，媾之不時，治之無法，則終身不孕，孕之不育，育之不壽，壽之不福也。其義云何？蓋坎為少陽，坎中滿，男子要實也。故男子預服物化丸，攝心以滋腎，寡欲以養精，伏氣以凝神，無中生有，必候蓄積盛而後交也。離為少陰，離中虛，女子要空也。故女須預服歸一湯，隨月魄以生血，按地潮以通經，法先天推陳以致新，所以候經淨而後合也。經云：取將坎中實，來填離中虛，誠妙道也。如此，則生子堅固而多福。餘存口訣。《脈經》云：陰血先至，陽精後沖，血開裹精，精入為骨，是離變而乾也，而男形斯成。陽精先至，陰血後參，精開裹血，血入居本，是坎變而為坤也，而女形斯成。或云：有轉女為男之法，此乃世俗妄語。誰有此理，後天未布，漠然太虛，而先天以主之矣。且夫元氣孕育皆始於子，自子推之，男左旋，積歲三十而至已；女右旋，積歲二十而至已。已為正陽，陰實從之。自已懷胎，男左旋十月而生於寅，女右旋十月而生於申。申為三陰，寅為三陽，而生育之道，先天已著定矣。其稟賦也，體有剛柔，脈有強弱，氣有多寡，血有盛衰，福有厚薄，壽有短長，皆一定而不易也，豈有轉女為男之理哉！觀乾坤坎離中爻交媾之圖，蓋可見矣。</p>
<p>乾坤坎離中爻交媾之圖</p>
<p>先天　氣化　乾坤之中爻交，則乾為離而坤為坎矣。</p>
<p>後天　形化　坎離之中爻交，則離為乾而坎為坤矣。</p>

<h2>灸男婦無子穴法</h2>
<p>有等貧難之家，無力服藥者，宜擇壬癸日，或益後續世天喜並臨之日，將男婦審看，有何病患，以致不嗣之由，各依法灸之，無有不效者。予嘗親灸數十人，效如轉轂，此實施布陰騭之端也。謹書至當累驗穴法於後。</p>
<p>一、丹田穴，在臍下三寸，乃足少陰任脈之會，灸之能益精血，除百病，扶陽助陰，令人有子。按《明堂》諸針灸經云：此穴補諸羸、強陽道、壯筋骨、去寒熱。治男子勞傷、遺精、白濁，女子赤白帶、經血枯閉、崩中漏下等病以致無子，灸之甚效。《難經》疏云：丹田，在臍下三寸，方圍四寸，左青右白，上黃下黑。三寸法三光，四寸法四時，五色法五行。取人身之上下四向，最為中也。《丹經》云：窮取生身受氣初也，應在此穴也。宜灸七壯或十四壯，須頻頻累灸，而且多多益善。</p>
<p>二、中極穴，在臍下四寸。主婦人斷緒。針即有，然灸不及針妙。予亦嘗灸數婦，隨手應驗。自知灸與針，功無優劣也。</p>
<p>三、膏肓一穴，在脊骨四柱下、近五柱兩旁各開三寸。主虛損羸瘦、男子失精、女子失血、骨蒸勞熱、咳嗽健忘，以致乏嗣。灸此百病俱愈，即能有子。</p>
<p>四、三里穴，在膝眼犢鼻下三寸，䯒骨外，天筋內，宜舉足取之。治五勞七傷、脾胃冷積、食氣水氣、蠱毒疽癖、浮腫、腿膝痠疼、眼目昏暗、腰背疼痛、積血枯竭，以致乏子。針灸甚效。</p>
<p>五、臍下二寸，名石門穴，不宜針灸，令人不孕，忌之忌之。</p>

<h2>奉天求嗣論</h2>
<p>謹按諸書求嗣之論曰：人稟天地父母之氣以生，求子繼嗣者，即所以奉天孝親也。厥系非輕，其可忽諸！既得是先聖秘書，必當珍重敬心，依方調治，致誠服藥，臨期可得賢嗣；又必修行積善，以保無窮。凡修合必擇壬子日，與益後、續世、天喜諸吉星並臨之日者，蓋謂趨吉避凶，重其事而不敢忽也。或謂有雙日、有單日、夜半前後分男女之說，亦妄也。但擇旺相日，如春甲乙寅卯、夏丙丁己午、秋庚辛申酉、冬壬癸子亥、四季戊己丑未之日，務必要夜半子醜寅生氣之時交合，必使陽精衝開陰血，則必生男，且能賢明而福壽也。又曰：月望以前受男孕者，吉。月望以後受女孕者，吉。切忌晦、朔、弦、望、風雨雷電日、月無光、虹霓開動、星月之下、神廟之中、井灶屍樞之旁，切不可交合，受胎亦不吉也。又按要書云：年命相剋，墳墓相妨，夫婦有疾，三者不嗣。且夫婦有疾不產，理固然矣。故先聖首制此方並法，以濟世人，所以卻疾病、養精血，法乾坤坎離之道而有子。若云年命墳墓，豈有道者之談哉！人惟修德行仁，則天命在我。惟不能積德存仁，於是委罪於年命墳墓而已也。凡我奉天孝親之人，豈可委罪於年命墳墓哉！顧德行如何耳。</p>

<h2>保胎五訣</h2>
<p>一，男子強壯，婦人無病，豈有乏嗣之理，皆有不能調攝，血氣精神有虧，所以欲孕而不孕，成而不堅，育而不壽，徒廢精神，蹉跎歲月，老而乏嗣，悔將何及！求嗣之人，當洗心滌慮，致謹以求之，免後噬臍之悔，方信余之言不誣也。</p>
<p>一，女子服藥，月水既調，諸症皆無，是然育也。宜當節飲食、慎起居、戒暴怒、懲色欲，以候經行淨後，以時交合，決然有子。凡經行後，切不可用水洗下身，此乃金蓮種子之法也。</p>
<p>一，男子服藥，筋骨舒暢，陽強精固，是當嗣也。務宜節欲以養精，息慮以養神，守逸以堅氣，候女經行淨後，擇吉日生炁時交合，留意含情，自臻妙道。</p>
<p>一，凡交合兩美，陰血陽精，並瀉入子宮，如銀爐之點鉛，豆漿之點滷，溶夕而化，凝結而成，未有不胚胎者矣。當斯際也，精血初凝，竊母氣以成形，亦尤播種於地，待雨露而發；集卵於窩，待抱而變，責任在母，宜謹慎之。保至月餘，經水朝宮以癊胎，不致外溢，胎始安矣。若不謹慎，使經妄行，則胎隨出矣。故曰：慎在首月，然則十月之中，俱宜小心，猶為切要也。</p>
<p>一，經行淨後，神怡氣爽，兩儀配合，未有不結胎者矣。然有結而不成者，有數說也，不可不明。有或男精寒薄而不結者，有或母氣血虛弱而不成者，有或子宮太熱結而不成者，有或飲食不節而毒犯胎元者，有或喜怒無常而沖激胎元者，有或淫欲太過而泄漏胎元者，有或勉強用力而勞動胎元者，有或風邪時疾而振慄胎元者，有或濕熱外淫而熏蒸胎元者。或對月，或不對月。胎元既傷，不能竊母血以成形，則母氣血無所施癊，氾濫而漫盈，而經血妄行，胎隨經下，止有小塊，未有粗形。人皆不覺是胎，即曰不曾有胎孕，而經復行也。殊不知月月懷胎，終不能成，人自不察耳。亦有播種抱卵，一暴十寒，可能成乎？且夫月月懷胎之理，人所不知，猶月受日光，月月如此，惟有達天德者，洞究火符之進退、寒暑之代謝、四時萬物之生育，無時不然。噫！防危慮險之際，非明物察理之士，其孰能知之耶！</p>
<p>謹按：上五訣，皆因前人所研未發，是以後人不能守也。今以發明矣。聞斯言也，宜當謹慎，以全後嗣，以成奉孝親之人也。</p>
<p>謹按：是書發泄已盡，所在神明護持，所以先聖秘而不傳也。今得此書者，最宜珍重，非特承祧而已。推而廣之，觸而長之，洞達璇璣之妙，則仙關易透，入聖不難，未敢輕議也。</p>
<p>謹按：受胎之說，服藥調理之法，生子之道，隨時保嬰之妙，皆考前方。奉太乙天師指示坎離種子神方畢。</p>

<h1>附集</h1>
<p>延齡種子方</p>
<p>當歸身　川牛膝　淮生地　熟地　片芩（各四兩，酒浸）　天門冬（去心，淨，四兩，米泔水浸）　山萸肉（四兩）　遼五味子　川芎　山藥（各二兩）　黃柏（去皮，淨，九兩，鹽、酒、蜜水各浸三兩）　新龜板（酥炙，去邊，淨，二兩）　人參（六錢）　知母（四兩，鹽水、酒各浸二兩）</p>
<p>上藥各制如法，忌用鐵器，為細末。用白蜜三斤，不宜火煉。將竹筒一節，開一圓孔，去皮，入蜜在內，綿紙封固七層，豎立鍋中，柴火煮一晝夜，和藥數千杵，丸如桐子大。每服百丸，清晨鹽湯，晚用好酒送下。男婦同服。以服藥之日為始，忌房事一月，愈久愈妙，其效如神。</p>
<p>保產無憂方</p>
<p>又名安胎飲。此方蘇州府尊陳諱鵬年傳</p>
<p>白芍（一錢二分，酒炒，冬月用一錢四分）　黃耆（八分，蜜炙）　川芎（一錢五分）　菟絲子（一錢四分）　川貝（一錢，去心）　當歸（一錢二分，酒洗）　厚朴（八分，薑汁炒）　荊芥穗（八分）　枳殼（六分，麩炒）　甘草（五分）　羌活（五分）　真蘄艾（六分）</p>
<p>上藥用水二飯碗，煎至八分，加姜三片同煎。如遇內熱者，加姜一大片煎服。不拘時服。臨產之月，預服五六劑，隨常四、五、六、七月前稀服，亦妙，再無難產之艱。</p>
<p>馬料豆仙方</p>
<p>此方亦陳府尊所傳。專治烏髮、黑髮，去勞傷，補筋骨，明目，補腎水，生血養元，亦可廣嗣。四十歲前後，服此大妙。</p>
<p>懷生地（酒煮）　何首烏（酒煮）　鹿銜草　旱蓮子（各三兩）　懷山藥（乳拌）　全當歸（酒炒）　白茯苓（乳拌）　真青鹽（各一兩）　厚杜（仲酒炒，斷絲）　長牛膝　石菖蒲　補骨脂　覆盆子　菟絲子　骨碎補　金櫻子（刮去皮刺）　白乾菊　槐角子　蛇床子　枸杞子　黃柏　肉蓯蓉　澤瀉　五加皮（各五錢）</p>
<p>上藥，宜揀藥料，共二十四味。將青鹽存外用，俱入大砂鍋內，用陰陽水各半同煎，至頭二次，濾去藥渣，再將女貞子一升八合半，復入藥汁內，同煎百十滾，又瀝去女貞子，用馬料豆三升七合，豆宜揀淨，入藥汁內，浸一宿。明晨將豆藥汁入銅鍋煮熟，收干，汁盡為度，放於篩中。將青鹽研細，摻在豆上，拌勻，曬乾，入磁瓶內。每日清晨服四錢，滾水送下。</p>
