<header data-type="book">
<h1>疫疹一得</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>余霖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1794">公元1794年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2958">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>瘟疫一症，古無專書，不過微見其意於傷寒書中。世人咸熟讀傷寒，以為百病俱不外於六經，講明傷寒，餘症悉可類推。不知瘟疫四時皆有，傷寒惟冬至後間或有之，是傷寒甚少，而瘟疫十居八九。傷寒是寒，瘟疫是熱，其感受施治有霄壤之分。若以傷寒方治瘟疫，罔不斃者，此吳又可先生《瘟疫論》所以作也。由是杜清碧、馬長公、景松崖、戴天章、熊恁昭諸君繼起，宗仰吳氏，各出手眼，推闡發明，著有成書，瘟疫一門於斯詳備，活人實多。予總角時，即蒙庭訓，留心醫道，每遇疫症，往往幸中，惟值瘟疹，遵用成方，未能悉見效驗，心竊疑之。甲子秋，得鄉前輩余師愚先生《疫疹一得》，謂疫乃無形之毒，宜用石膏，不宜用硝、黃等語，卓識尤在吳、杜諸君子上，予茅塞頓開，珍如拱璧，以之治疫與疹，奏效尤多。近年需次蘆鹺，見誤於此症者不一而足，偶語契好諸君子，咸謂此書不宜獨秘，遂助金付梓，以廣其傳。或師愚先生壽世苦心，實有以自壽故耶！較予一手之奏效，自相去遠矣。此書用藥過重，予每臨症，或暫去一、二味，或大減分量。即如石膏，或煅用，或生用，由三、五錢以至二、三兩，無不應手輒效。惟書中謂傷寒有耳聾，瘟疫無耳聾一條，系千慮之一失。予每見瘟疫亦有耳聾，以其方治之，亦極神效。閱是書者，幸無以此一語，印定耳目，想知者亦必有以辨之。是為序。</p>
<p><u>時道光戊子歲七月既望長蘆候補鹽運司知事毗陵莊錦制亭氏書於津門旅次</u></p>

<h1>序</h1>
<p>軒岐之世，人無疵癘，論述闕如。後之醫者，遞著方書，而於疫疹一門，未開生面。獨張氏仲景，略見其緒於《傷寒論》內，然亦語焉而不詳。以故世之言醫，大率與傷寒類治，所謂失之毫釐，差之千里，致令偶嬰沴癘者，不死於病而死於醫，豈其不務活人哉？由其所謂辨證立方者中，實茫無一得故也。桐城余師愚先生，與予同客都下，訂忘年之交。歷二十餘年，今年且將七十矣，得攝生之術，貌古而神腴，少年奮志讀書，有不可一世之概，而屢躓名場，乃喟然曰：不為良相，當為良醫，古人其詔我哉！遂棄舉子業，專務岐黃，然猶未得出人一頭地，歲甲申，桐邑中人，大率病疫，時先生方遊大梁，痛其尊人為群醫所誤，乃益肆力於古人書，研究於陰陽寒暑及氣運主客之分，纖悉無遺，而後恍然有悟，獨於疫疹一門，神而明之，實能闢前人之所未見未聞者，逆之則死，順之則生。三十年來，自南而北。所全活人，殆不可以數計。憶丁酉歲，予為農部唐堯峰先生校書，寓之西有亭，時李萬仞、趙象九明府，皆下榻於此。予病臥床數月，服象九方未驗，萬仞素知先生者，為予延之，起我沉疴，先生之力也。堯峰、象九年少於先生，不數年間，皆先後卒於官，萬仞以其子宦黔，走萬里外。嗟乎！曾幾何時，而已不勝今昔之感矣。予則於壬子夏五，謁選入都，家人半染疫，先生治輒霍然已。是歲都門故多時疫，凡活於先生手者，十室而九，蓋此道中，誠不啻三折肱矣。爰以其數十年之苦心孤詣，著為一書，名之曰《疫疹一得》，蓋猶抑然其心，第以為千慮之一得云耳！然予以為庖犧之卦，始於一畫，孔門之道，精於一貫，人特患無此一得耳！今先生挾此一得，以治一人而一人治，以治千萬人而千萬人治，則所謂是萬還一，一實萬分者，胥於是乎在，以視夫世之漫然嘗試者，果何如耶？乃先生以所獨得於心者，不肯私之於己，而必欲公之天下，仁人之用心固如是也。所願是集梓行，俾世之懸壺者，鹹得先生之一得，以辨證而立方，當此昇平之世，不益躋斯人於仁壽矣乎？予友黃光亭者病篤，予夢一長者曰：余方用至某藥則黃病可愈，醒而志之，果驗，同時以夢延先生診者，皆歷歷有奇效。而或者曰：夢，幻境也，獨於先生有不爽者。</p>
<p><u>乾隆五十九年歲次甲寅夏至前一日賜進士出身即選縣令蜀西呂橋居士蔡曾源拜書於長安客次</u></p>

<h1>序</h1>
<p>予素不知醫，而能言醫。凡醫以愈病也，服其藥而病愈，雖百口非之，而於病者何損？服其藥而病不愈，雖百口是之，而於病者何益？則言醫，莫若先言其效；醫有立效，莫若我師愚余先生也。然世之非之者曰：其效者寡，而不效者多；其效者暫，而不效者常也。甚或曰：其效幸，而不效者則不可救也。為斯語者，亦知夫效寡、效暫、效幸者乎？療百病而一痊之則為寡，立百方而驗一方則為暫，不究其源而適逢其會則為幸。安有預立其方，先言其症，或斷以三日而加劇、五日而加劇、七日而加劇，且症在危險，他醫束手，辨在疑似，他醫莫決，先生則毅然任之，確然信之，大聲疾呼曰：「服則得生，不服則死。」咸如其言，歷歷不爽，甚至抄其方而亦愈，飲其藥滓而亦愈，其效若此，猶得非之曰寡、曰暫、曰幸哉？雖然，其效若此，人猶起而非之，何也？。彼豈樂死惡生哉？狃於所習見，而震於所不知耳！復以其用藥之過峻，程分之過重，皆昔人所未有也。予初亦疑焉，適寓有病人，醫之無不立效，薦醫他人而又效，嗣乃歷薦而罔不效。有閤家疑之，而予獨委曲以徵其信，群醫駁之，而予獨固執以證其是，幸而信予者皆得痊，然口眾我寡，安得執途人而遍告之？此《疫疹一得》之書之所以付梓也。如梓而得行，則傳之有人，而痊者必多；治之有人，而愈者必常；習之有人，則共知其所以然，而不訾以為幸矣。庶幾乎予非阿好我師愚也，亦可見信於眾矣。</p>
<p><u>乾隆五十九年歲次甲寅仲秋月誥授榮祿大夫刑部左侍郎同鄉姻弟張若渟頓首拜撰</u></p>

<h1>序</h1>
<p>醫之為言意也，意可傳而不可傳，要不離乎理者近是。予友余君師愚，儒也，即醫也。憶予應童子試，適郡城輒與師愚俱，當青鞋布襪客邸談心時，其意既已異矣。已而連試不利，棄儒為醫，遂挾其技，遊都下。予甲辰至京，見其車馬僕從甚盛，自王公以下，無不折節相向，心異之，然猶未察其意也。甲寅寓青岩師宅，距師愚居不數武，晨夕過從。時久無雨，暑氣盛行，人多疾病，病則必死，醫家齊束手不治，師愚輒予以石膏、黃連等劑，無不立效，其得之則生，不得則死者，不可更僕數。而予門下奎氏兄弟，一存一夭，尤屬明徵。蓋其意猶是按脈切理之意，而神明變化，不可端倪，有非意之所能盡者，醫技也進乎道矣。然存活日多，而謗者日益眾。夫師愚無必用石膏之意，而有必用石膏之症，觀入秋數月以來，未嘗輕用涼劑，其意亦可見矣。乃謗之者謂師愚非石膏不立劑，是誣人，甚至以謗師愚之故，並謂石膏為斷不可用。是本草之載是藥，神農之嘗是藥，均不得為無過，豈不更誣藥哉？！誣人既已不可，誣藥而愚者信焉，妄者傳焉，雖遇熱症凶危，輒仍以柴胡、桔梗當之，不效則投以丹、芩，又不效則投以人參、桂、附，至於一誤再誤，死而後已。醫者猶詡詡得意曰：非我也，命也。是以謗師愚之故，而累及無辜，置人之生死於弗顧也，豈不大可嘆哉！予非有阿於師愚，顧竊聞孟子之言曰：若藥不瞑眩，厥疾不瘳。苟藥未至於瞑眩，疾已驗其大瘳，則亦庶乎有以得其意也。何也？師愚儒也，非醫也，此意將遍語同人，適師愚《疫疹一得》之書成，因書是弁之，聊以為《一得》之一助云！</p>
<p><u>乾隆五十九年歲次甲寅菊月下浣種之愚弟吳貽詠頓首拜撰</u></p>

<h1>自序</h1>
<p>幼讀魯論，至隱居以求其志，行義以達其道，即心焉志之，曰：丈夫不當如是耶？願竊比焉。力學二十餘年，屢躓名場，翻然自顧樗櫟之資，原非國器，奈何猶窮經皓首，終為童子試哉？！於是究心《靈》、《素》，志在岐黃，醫雖小道，亦足以行吾藝耳。遍覽一十三科，以及諸子百家，各窮無妙，獨傷寒一門，張氏仲景以為急病，辨症稍差，夭折生命，論載三百九十七法，一百一十三方，以濟天下後世，其用心可謂仁矣。至於疫疹，多於傷寒百倍，安忍置而勿論哉？夷考其時，或未有疫歟？抑或仲景之書，原有一十六卷，今世只傳十卷，而疫疹一門，亦在遺亡之數歟？以致後人紛紛立說，祖述憲章，俱以傷寒立論，其於熱疫一症，往往略而不講，是以業斯道者，所誦所傳，連篇累牘，無非傷寒，及其臨症，只就傷寒一例治之，不知其為疫也。流弊於人，淪肌浹髓，舉世同揆，萬人一法。究之，死者不知何病以死，生者不知何藥以生，撫今思昔，可勝慨哉！乾隆甲申，予客中州，先君偶染時疫，為群醫所誤，及奔喪回里，檢視諸方，總不外此三法，抱恨終天，曷其有極？思於此症，必有以活人者，公之於世，亦以稍釋予懷。因讀本草言石膏性寒，大清胃熱，味淡而薄，能表肌熱，體沉而降，能泄實熱。恍然大悟，非石膏不足以治熱疫，遇有其症，輒投之，無不得心應手。三十年來，頗堪自信，活人所不治者，筆難罄述。竊思一人之治人有限，因人以及人無窮，因不揣鄙陋，參合司天、大運、主氣、小運，著為《疫疹一得》，欲以芻蕘之見，公之於人，使天下有病斯疫者，起死回生，咸登壽域，予心庶稍安焉，敢以著書立說，自矜能事耶？</p>
<p><u>乾隆五十九年歲次甲寅季春月桐溪師愚氏余霖自敘</u></p>

<h1>卷上</h1>

<h2>參合六十年客氣旁通圖</h2>
<p>司天、在泉、四間氣紀步，各主六十日八十七刻半。客行天令。居於主氣之上，故有溫涼、寒暑、朦暝、明晦、風雨、霜雪、電雹、雷霆不同之化。其春溫、夏暑、秋涼、冬寒，豈能全為運與氣所奪？則當其時，自有微甚之變矣。布此六十年客氣旁通，列於主位之下者，使知其氣之所在也。</p>
<figure>
<img alt="圖">
</figure>
<p>太陽（客）厥陰（客）少陰（客）太陰（客）少陽（客）陽明（客）厥陰（初之氣　寒氣切烈霜雪冰雨　大風發榮雨生毛蟲　熱氣傷人時氣流行　風雨凝陰不散　瘟疫至　清風霧霜矇昧）</p>
<p>厥陰（客）少陰（客）太陰（客）少陽（僭客逆）陽明（客）太陽（客）少陰（二之氣　為風溫雨雨生毛蟲天下疵疫以正得位　時雨　大熱早行疫癘乃行　涼風不時　寒雨間熱）</p>
<p>少陰（客）太陰（客）少陽（客）陽明（客）太陽（客）厥陰（客）少陽（三之氣　大暑炎光　雷雨電雹大暑炎光草萎河干　涼風間發　寒氣間至熱爭冰雹　熱雨大作雨生羽蟲）</p>
<p>太陰（客）少陽（客）陽明（客）太陽（客）厥陰（客）少陰（客）太陰（四之氣　大雨沾注霧雨雷電　炎熱沸騰　清風霧露　寒雨害物　風雨催拉雨生偎蟲　山澤浮雲暴雨溽濕）</p>
<p>少陽（客）陽明（客）太陽（客）厥陰（客）少陰（客）太陰（客）陽明（五之氣　溫風乃至萬物乃榮　大涼燥疾　早寒　涼風大作雨生介蟲　秋氣溫熱熱病時行　時雨沉陰）</p>
<p>陽明（客）太陽（客）厥陰（客）少陰（客）太陰（客）少陽（客）太陽（終之氣　燥寒勁切　大寒凝冽　寒風飄揚雨生鱗蟲　蟄蟲出見流水不冰　凝陰寒雪地氣濕　冬溫蟄蟲流水不冰）</p>

<h2>運氣便覽</h2>
<p>運氣者，所以參天地陰陽之理，明五行衰旺之機，考氣候之寒溫，察民病之虛實，推加臨補瀉之法，施寒熱溫涼之劑。故人云：治時病不知運氣，如涉海問津。誠哉言也！今遵前賢圖訣，撮其要領，使人一覽而知其悉也。</p>
<p>按運氣之說，《內經》言之詳也。夫人在氣交之中，與天地相為流通，苟不立其年以明其氣，臨病施治之際，烏乎以用補瀉之藥哉？但運氣不可不知也，常有驗、有不驗者何則？陰陽之消長，寒暑之更易，或失其常，在知者通其活變，豈可膠柱鼓瑟、按圖索驥也耶？而時氣流行，有病者，有不病者。蓋邪之所湊，其氣必虛，故虛者感之，而實者其邪難入也。又有一家傳染者，蓋家有病人，有憂患而飲食必少，飲食少而氣餒矣，時與病人相近，感其病氣，而從鼻口入也。</p>
<p>予揣氣候之理，而學者難明也。今將五運配十干之年，六氣為司天之步，南政北政，藥之主宰，六十甲子之年逐一註明，令學者一覽而貫通矣。</p>

<h3>五運</h3>
<p>甲、己土運，乙、庚金運，丁、壬木運，丙、辛水運，戊、癸火運。</p>

<h3>六氣</h3>
<p>子、午少陰君火，醜、未太陰濕土，寅、申少陽相火，卯、酉陽明燥金，辰、戌太陽寒水，巳、亥厥陰風木。</p>
<p>甲己土運為南政，土居中央，君尊南面而行；餘四運以臣事之，北面而受令也，所以有別焉。</p>

<h3>寸尺不應</h3>
<p>南政之歲：三陰司天寸不應，三陰在泉尺不應。</p>
<p>北政之歲：三陰司天尺不應，三陰在泉寸不應。</p>

<h3>藥之主宰</h3>
<p>甲、己歲甘草為君，乙、庚歲黃芩為君，丁、壬歲梔子為君，丙、辛歲黃柏為君。戊、癸歲黃連為君。一年為君，餘四味為臣。</p>
<p><u>子午歲</u></p>
<p>甲子土運，南政，寸不應，甘草為君。</p>
<p>庚午金運，北政，尺不應，黃芩為君。</p>
<p>丙子水運，北政，尺不應，黃柏為君。</p>
<p>壬午木運，北政，尺不應，梔子為君。</p>
<p>戊子火運，北政，尺不應，黃連為君。</p>
<p>甲午土運，南政，寸不應，甘草為君。</p>
<p>庚子金運，北政，尺不應，黃芩為君。</p>
<p>丙午水運，北政，尺不應，黃柏為君。</p>
<p>壬子木運，北政，尺不應，梔子為君。</p>
<p>戊午火運，北政，尺不應，黃連為君。</p>
<p>南政，兩寸不應；北政，兩尺不應。</p>
<p>凡尺澤絕。死不治。尺澤在肘內廉，支文之中動脈，應乎肺之氣也。火燥於金，承天之命，金氣內絕，故必危亡。</p>
<p>少陰君火司天，陽明燥金在泉。</p>
<p>司天者，天之氣候也；在泉者，地之氣候也。君火者，手少陰君火也。心者，君主之官，神明出焉。君火乃主宰陽氣之本，余象生土，乃發生萬物之源。</p>
<p>初之氣：太角厥陰風木用事，子上父下，益辛瀉苦，補肺瀉心也。</p>
<p>自年前十二月大寒節氣，至二月驚蟄方止。</p>
<p>天時，寒風切烈，霜雪水冰，蟄蟲伏藏。</p>
<p>民病，關節禁固，腰腳疼，中外瘡瘍。</p>
<p>二之氣：太徵少陰君火用事，火盛金衰，補肺瀉火。</p>
<p>自二月春分起，至四月立夏終止。</p>
<p>天時，風雨時寒，雨生羽蟲。</p>
<p>民病，淋氣鬱於上而熱，令人目赤。</p>
<p>三之氣：少徵少陽相火用事，君相二火，瀉苦益辛</p>
<p>自四月小滿節起，至六月小暑終止。</p>
<p>天時，大火行，熱氣生，羽蟲不鳴，燕百舌杜宇之類。</p>
<p>民病，厥熱心疼，寒咳喘，目赤。</p>
<p>四之氣：太宮太陰濕土用事，子母相順，瀉肺補腎。</p>
<p>自六月大暑起，至八月白露終止。</p>
<p>天時，大雨時行，寒熱互作。</p>
<p>民病，黃疸，衄血，咽乾，嘔吐，痰飲。</p>
<p>五之氣：太商陽明燥金用事，心盛肺衰，火怕水覆。</p>
<p>自八月秋分起，十月立冬終止。</p>
<p>天時，溫氣乃至，初冬天氣猶暖，萬物尚英。</p>
<p>民病，寒熱伏邪，於春為瘧。</p>
<p>六之氣：太羽太陽寒水用事，火衰心病，瀉咸益苦。</p>
<p>自十月小雪起，至十二月小寒終止。</p>
<p>天時，暴寒勁切，火邪恣毒，寒氣暴止。</p>
<p>民病，生腫咳喘，甚則血溢，下連小腹而作寒中。</p>
<p><u>丑未歲</u></p>
<p>乙丑金運，北政，尺不應，黃芩為君。</p>
<p>辛未水運，北政，尺不應，黃柏為君。</p>
<p>丁丑木運，北政，尺不應，梔子為君。</p>
<p>癸未火運，北政，尺不應，黃連為君。</p>
<p>己丑土運，南政，寸不應，甘草為君。</p>
<p>乙未金運，北政，尺不應，黃芩為君。</p>
<p>辛丑水運，北政，尺不應，黃柏為君。</p>
<p>丁未木運，北政，尺不應，梔子為君。</p>
<p>癸丑火運，北政，尺不應，黃連為君。</p>
<p>己未土運，南政，寸不應，甘草為君。</p>
<p>南政左寸不應，北政右尺不應。</p>
<p>太陰濕土司天，太陽寒水在泉。</p>
<p>太谿絕，死不治。太谿脈在足內踝後跟骨上動脈，應乎腎之氣也。土邪勝水，腎氣內絕也。歲氣溫化之候。太陰濕土者，足太陰脾經也。脾屬中央戊己土，每季寄旺一十八日，分為七十二日，以應一歲六六三百六十日之成數也。</p>
<p>初之氣：厥陰風木用事，主旺客衰，瀉酸補脾。</p>
<p>自年前十二月大寒節起，至二月驚蟄終止。</p>
<p>天時，大風發榮，雨生毛蟲。</p>
<p>民病，血溢，經絡拘強，關節不利，身重筋痛。</p>
<p>二之氣：少陰君火用事，以下生上，瀉甘補咸。</p>
<p>自二月春分節氣起，至四月立夏終止。</p>
<p>天時，大火至，疫癘，濕蒸相搏，暴雨時降。</p>
<p>民病，瘟疫盛行，遠近咸若。</p>
<p>三之氣：少陽相火用事，土旺剋水，補腎瀉脾。</p>
<p>自四月小滿節起，至六月小暑終止。</p>
<p>天時。雷雨電雹，地氣騰，濕氣降。</p>
<p>民病，身重跗腫，胸腹滿，感冒濕氣。</p>
<p>四之氣：太陰濕土用事，甘旺咸衰，補腎益膀胱。</p>
<p>自六月大暑節起，至八月白露終止。</p>
<p>天時，炎然沸騰，地氣升，濕化不流。</p>
<p>民病，腠理熱，血暴溢，寒瘧，心腹脹，浮腫。</p>
<p>五之氣：陽明燥金用事，土能生金，益肝瀉肺。</p>
<p>自八月秋分節起，至十月立冬終止。</p>
<p>天時，大涼霧露降。</p>
<p>民病，皮膚寒熱甚行。</p>
<p>六之氣：太陽寒水用事，以上克下，瀉肝補腎。</p>
<p>自十月小雪節起，至十一月小寒終止。</p>
<p>天時，大寒凝冽。</p>
<p>民病，關節禁固，腰腳拘疼。</p>
<p><u>寅申歲</u></p>
<p>丙寅水運，北政，右寸不應，黃柏為君。</p>
<p>壬申木運，北政，右寸不應，梔子為君。</p>
<p>戊寅火運，北政，右寸不應，黃連為君。</p>
<p>甲申土運，南政，右尺不應，甘草為君。</p>
<p>庚寅金運，北政，右寸不應，黃芩為君。</p>
<p>丙申水運，北政，右寸不應，黃柏為君。</p>
<p>壬寅木運，北政，右寸不應，梔子為君。</p>
<p>戊申火運，北政，右寸不應，黃連為君。</p>
<p>甲寅土運，南政，右尺不應，甘草為君。</p>
<p>庚申金運，北政，右寸不應，黃芩為君。</p>
<p>少陽相火司天，厥陰風木在泉。</p>
<p>天府絕，不治。天府在肘後，披側上披下同身寸之三寸動脈，肺之氣也，火勝金故絕。歲氣火代之候。少陽相火者，三焦浮流之火，火邪炎上，上克肺金，金受克，腎水失母，則上盛下虛，虛陽上攻，便生諸疾，至傷元陽。</p>
<p>初之氣：</p>
<p>自年前十二月大寒節起，至二月驚蟄終止。</p>
<p>天時，熱風傷人，時氣流行。</p>
<p>民病，寒熱交作，咳逆頭痛，血氣不調，心腹不快。</p>
<p>二之氣：少陰君火用事，肺衰心盛，制苦益辛。</p>
<p>自二月春分節起，至四月立夏終止。</p>
<p>天時，暴風疾雨，溫濕相蒸。</p>
<p>民病，上熱咳逆，胸膈不利，頭痛寒熱。</p>
<p>三之氣：少陽相火用事，夏旺火熾，補肺益大腸。</p>
<p>自四月小滿節起，至六月小暑終止。</p>
<p>天時，炎暑亢旱，草萎河輸。</p>
<p>民病，煩熱，目赤，喉閉，失血，熱渴，風邪，人多暴死。</p>
<p>四之氣：太陰濕土用事，火旺生土，瀉甘補咸。</p>
<p>自六月大暑節起，至八月白露終止。</p>
<p>天時，風雨時降，炎暑未去。</p>
<p>民病，瘧痢交作，寒熱頭痛。</p>
<p>五之氣：陽明燥金用事，肺金受邪，瀉苦補辛。</p>
<p>自八月秋分節起，至十月立冬終止。</p>
<p>天時，寒熱風雨，草木黃落。</p>
<p>民病，寒邪風熱，君子固密。</p>
<p>六之氣：太陽寒水用事，心火受克，瀉咸補苦。</p>
<p>自十月小雪節起，至十二月小寒終止。</p>
<p>天時，寒溫無時，地氣正寒，霜露乃降。</p>
<p>民病，感冒寒邪，關節不利，心腹痛。</p>
<p><u>卯酉歲</u></p>
<p>丁卯木運，北政，兩寸不應，梔子為君。</p>
<p>癸酉火運，北政，兩寸不應，黃連為君。</p>
<p>己卯土運，南政，兩尺不應，甘草為君。</p>
<p>乙酉金運，北政，兩寸不應，黃芩為君。</p>
<p>辛卯水運，北政，兩寸不應，黃柏為君。</p>
<p>丁酉木運，北政，兩寸不應，梔子為君。</p>
<p>癸卯火運，北政，兩寸不應，黃連為君。</p>
<p>己酉土運，南政，兩尺不應，甘草為君。</p>
<p>乙卯金運，北政，兩寸不應，黃芩為君。</p>
<p>辛酉水運，北政，兩寸不應，黃柏為君。</p>
<p>陽明燥金司天，少陰君火在泉。</p>
<p>太衝絕，死不治。太衝脈在足大趾本節後二寸動脈，乃肝之氣也。金勝木，故肝絕也。歲氣燥化之候，陽明燥金用事，肺與大腸之氣象，庚辛金也。</p>
<p>初之氣：厥陰風木用事，金木相剋，補酸瀉辛。</p>
<p>自年前大寒節起，至次年二月驚蟄終止。</p>
<p>天時，陰始凝，風始肅，水乃冰，寒雨多，花開遲。</p>
<p>民病，寒熱，浮腫，失血，嘔吐，小便赤淋。</p>
<p>二之氣：少陰君火用事，火盛金衰，瀉苦益辛。</p>
<p>自二月春分節起，至四月立夏終止。</p>
<p>天時，臣居君位，大熱早行。</p>
<p>民病，疫癘流行，人多卒暴。</p>
<p>三之氣：少陽相火用事，主盛客衰，瀉心補肺。</p>
<p>自四月小滿節起，至六月小暑終止。</p>
<p>天時，燥熱交合，風雨暴至。</p>
<p>民病，寒熱頭痛，心煩作渴。</p>
<p>四之氣：太陰濕土用事，以下生上，瀉辛益酸。</p>
<p>自六月大暑節起，至八月白露終止。</p>
<p>天時，早秋寒雨，有傷禾稼。</p>
<p>民病，卒暴寒熱，風邪傷人，心痛浮腫，瘡瘍失血。</p>
<p>五之氣：陽明燥金用事，金盛木衰，瀉肺補肝。</p>
<p>自八月秋分節起，至十月立冬終止。</p>
<p>天時，冬行春令，草木青，風雨生蟲。</p>
<p>民病，寒熱作痢，氣血不和。</p>
<p>六之氣：太陽寒水用事，客來助主，益苦瀉咸。</p>
<p>自十月小雪節起，至十二月小寒終止。</p>
<p>天時，氣候反溫，蟄蟲出現，反行春令。</p>
<p>民病，疫癘溫毒，寒熱伏邪。</p>
<p><u>辰戌歲</u></p>
<p>戊辰火運，（對化）北政，左寸不應，黃連為君。</p>
<p>甲戌土運，南政，左尺不應，甘草為君。</p>
<p>庚辰金運，北政，左寸不應，黃芩為君。</p>
<p>丙戌水運，北政，左寸不應，黃柏為君。</p>
<p>壬辰木運，北政，左寸不應，梔子為君。</p>
<p>戊戌火運，北政，左寸不應，黃連為君。</p>
<p>甲辰土運，南政，左尺不應，甘草為君。</p>
<p>庚戌金運，北政，左寸不應，黃芩為君。</p>
<p>丙辰水運，北政，左寸不應，黃柏為君。</p>
<p>壬戌木運，北政，左寸不應，梔子為君。</p>
<p>太陽寒水司天，太陰濕土在泉。</p>
<p>神門絕，死不治，神門在手之掌後，銳骨之端動脈，心脈也。水勝火，故絕也。歲氣寒化之候。太陽寒水者，足膀胱經也，與足太陰腎經合為表裡，屬北方壬癸水。</p>
<p>初之氣：厥陰風木用事，脾胃受邪，瀉咸助辛。</p>
<p>自年前十二月大寒節起，至次年二月驚蟄終止。</p>
<p>天時，氣早暖，草果榮，溫風至。</p>
<p>民病，瘟疫，寒熱，頭痛，嘔吐，瘡瘍，老幼病疹，口瘡，牙疳。（吉七凶三）黃連解毒湯。</p>
<p>二之氣：</p>
<p>自二月春分節起，至四月立夏終止。</p>
<p>天時，春寒多雨，溫無時。</p>
<p>民病，氣鬱中滿，浮腫，寒熱。</p>
<p>三之氣：少陰相火用事，以上克下，瀉咸助苦。</p>
<p>自四月小滿節起，至六月小暑終止。</p>
<p>天時，暑熱乍涼，疾風暴雨。</p>
<p>民病，寒熱吐痢，心煩悶亂，癰疽瘡瘍。</p>
<p>四之氣：太陰濕土用事，木旺土衰，瀉肝補脾。</p>
<p>自六月大暑節起，至八月白露終止。</p>
<p>天時，風濕交爭，雨生羽蟲，暴風疾雨。</p>
<p>民病，大熱短氣，赤白痢瀉。</p>
<p>五之氣：陽明燥金用事，金生水旺，制咸益苦。</p>
<p>自八月秋分節起，至十月立冬終止。</p>
<p>天時，濕熱而行，客行主令。</p>
<p>民病，氣虛客熱，血熱妄行，肺氣壅盛。</p>
<p>六之氣：太陽寒水用事，水盛火衰，瀉咸助苦。</p>
<p>自十月小雪節起，至十二月小寒終止。</p>
<p>天時，凝寒雨雪，地氣正濕。</p>
<p>民病，病人悽慘，孕婦多災，脾受濕，肺旺肝衰。</p>
<p><u>己亥歲</u></p>
<p>己巳土運，南政，左寸不應，甘草為君。</p>
<p>乙亥金運，北政，左尺不應，黃芩為君。</p>
<p>辛巳水運，北政，左尺不應，黃柏為君。</p>
<p>丁亥木運，北政，左尺不應，梔子為君。</p>
<p>癸巳火運，北政，左尺不應，黃連為君。</p>
<p>己亥土運，南政，左寸不應，甘草為君。</p>
<p>乙巳金運，北政，左尺不應，黃芩為君。</p>
<p>辛亥水運，北政，左尺不應，黃柏為君。</p>
<p>丁巳木運，北政，左尺不應，梔子為君。</p>
<p>癸亥火運，北政，左尺不應，黃連為君。</p>
<p>厥陰風木司天，少陽相火在泉。</p>
<p>衝陽死，絕不治。衝陽者在足跗上動脈，胃之氣也，藥食不入胃，故絕也。歲氣風化之候。厥陰風木者，足厥陰肝也。肝屬木，東方甲乙木，春旺七十二日也。</p>
<p>初之氣：厥陰風木用事，脾胃受邪，瀉脾補肝。</p>
<p>自年前十二月大寒節起，至次年二月驚蟄終止。</p>
<p>天時，寒始肅，客行主令，殺氣方至。</p>
<p>民病，寒居右脅，氣滯，脾胃虛壅。</p>
<p>二之氣：少陰君火用事，火旺金衰，瀉心補肺。</p>
<p>自二月春分節起，至四月立夏終止。</p>
<p>天時，寒不去，霜雪，水穀氣施，草焦，寒雨至。</p>
<p>民病，熱中，氣血不升降。</p>
<p>三之氣：少陽相火用事，肺金受邪，瀉苦益辛。</p>
<p>自四月小滿節起，至六月小暑終止。</p>
<p>天時，風熱大作，雨生羽蟲。</p>
<p>民病，淚出，耳鳴，掉眩。</p>
<p>四之氣：太陰濕土用事，土木相形，瀉酸益甘。</p>
<p>自六月大暑節起，至八月白露終止。</p>
<p>天時，熱氣返用，山澤濛云，暴雨溽濕。</p>
<p>民病，心夢邪，黃疸，面為浮腫。</p>
<p>五之氣：陽明燥金用事，以金形肝，瀉肺益肝。</p>
<p>自八月秋分節起，至十月立冬終止。天時，燥濕更勝，沉陰乃布，風雨乃行。</p>
<p>民病，寒氣及體，肺受風，脾受濕，發為瘧。</p>
<p>六之氣：太陽寒水用事，主助客盛，瀉酸補肝。</p>
<p>自十月小雪節起，至十二月小寒終止。</p>
<p>天時，畏火司食，陽乃火化，蟄蟲出現，流水不冰，地氣大發，草乃生。</p>
<p>民病，瘟疫，心腎相制。</p>
<p>運氣便覽終。</p>
<p><u>圖訣附後:</u></p>
<p>南政司天北在泉，厥陰右寸不虛言，太陰左寸攸來應，少陰兩寸盡沉潛。</p>
<p>北政司天南在泉，厥陰左尺劫空間，太陰右尺不相應，少陰兩天盡皆藏。</p>
<figure>
<img alt="五天五運圖訣">
</figure>
<p><u>辛少羽北方水</u></p>
<p><u>癸少徵南方火</u></p>
<p><u>庚太商金西方</u></p>
<p><u>壬太角木東方</u></p>
<p><u>甲太宮土中宮</u></p>
<figure>
<img alt="圖">
</figure>
<figure>
<img alt="圖">
</figure>
<p><u>厥陰司天，衝陽絕，死不治。</u></p>
<p><u>少陰司天，尺澤絕，死不治。</u></p>
<p><u>太陰司天，太谿絕，死不治。</u></p>
<p><u>少陽司天，天府絕，死不治。</u></p>
<p><u>陽明司天，太衝絕，死不治。</u></p>
<p><u>太陽司天，神門絕，死不治。</u></p>

<h2>運氣之變成疾</h2>
<p>夫五運六氣，乃天地陰陽運行升降之常也。五運流行，有太過不及之異；六氣升降，則有逆從勝復之差。凡不合於德化政令者，則為變眚，皆能病人，故謂之時氣。一歲之中病症相同者，五運六氣所為之病也。（《綱目》）</p>

<h2>論四時運氣</h2>
<p>《內經》曰：不知年之所加，氣之盛衰，虛實之所起，不可以為工矣。王冰以為四時運氣尚未該通，人病之由，安能精達？夫運有五而氣有六，六氣化者，寒、暑、燥、濕，風、火也，然又有君火、相火之分焉。木之化曰風，主於春；君火之化曰熱，主於春末夏初；相火之化曰暑，主於夏；金之化曰燥，主於秋；水之化曰寒，主於冬；土之化曰濕，主於長夏即六月也。天之氣，始於少陰，終於厥陰，此少陰標，厥陰終也。地之氣，始於厥陰木，而終於太陽水。故天之六氣，反合於地之十二支，以五行正化、對化為其緒，則知少陰司子午，太陰司丑未，少陽司寅申，陽明司卯酉，太陽司辰戌，厥陰司巳亥，此天氣始終之因也。地之氣，反合於天之四時，則厥陰風木主春，少陰君火主春末夏初，少陽相火主夏，太陰濕土主長夏，陽明燥金主秋，太陽寒水主冬，此地氣始終之因也。夫四時寒暄之序，加以六氣司化之令，歲歲各異。凡春溫、夏熱、秋涼、冬寒，皆天地之正氣；如春應溫而反寒，夏應熱而反涼，秋應涼而反熱，冬應寒而反溫，皆四時不正之氣也。天有不正之氣，人即有不正之疾。疫症之來，有其漸也，流行傳染，病如一轍，苟不參通司天大運，主氣小運，受病之由，按經絡源流而施治，焉能應手取效？予每遇此症，靜心窮理，格其所感之氣，隨症施治，無不效若影響。然用藥必須過峻，數倍前人，或有議其偏而譏其妄者，予亦不過因所閱歷，聊以盡吾心耳！至於世之褒貶，悉聽悠悠之口而已。</p>

<h2>論疫與傷寒似同而異</h2>
<p>傷寒初起，先發熱而後惡寒；疫症初起，先惡寒而後發熱，一兩日後，但熱而不惡寒。此寒熱同而先後異也。有似太陽、陽明者，然太陽、陽明，頭痛不至如破，而疫則頭痛如劈，沉不能舉。傷寒無汗，而疫則下身無汗，上身有汗，惟頭汗更盛。頭為諸陽之首，火性炎上，毒火盤踞於內，五液受其煎熬，熱氣上騰，如籠上熏蒸之露，故頭汗獨多。此又痛雖同，而汗獨異也。有似少陽嘔者，有似太陰自利者。少陽而嘔，脅必痛，耳必聾；疫症之嘔，脅不痛，耳不聾，因內有伏毒，邪火干胃，毒氣上衝，頻頻而作。太陰自利者，腹必滿；疫症自利者，腹不滿。大腸為傳送之官，熱注大腸，有下惡垢者，有旁流清水者，有日及數十度者。此又症異而病同也。種種分別是疫，奈何猶執傷寒治哉？</p>

<h2>論傷寒無斑疹</h2>
<p>仲景論冬至後為正傷寒，可見非冬至後，不過以類推其治耳！其言傷寒重在「冬至後」三字。世人論仲景書，究心七十二症，至於「冬至後」三字，全不體貼，是以無論春、夏、秋、冬，俱以傷寒治之。要之四時之氣，寒特一耳。以冬月因寒受病，故曰傷寒。至春而夏，由溫而熱，亦曰傷寒，不知寒從何傷？予每論熱疫不是傷寒，傷寒不發斑疹。有人問曰：子言熱疫不是傷寒，固已！至云傷寒不發斑疹，古人何以謂傷寒熱未入胃，下之太早，熱乘虛入胃，故發斑；熱已入胃，不即下之，熱不得泄，亦發斑。斯何謂也？曰：此古人立言之誤也。即「熱」之一字以證其非，熱與寒相反而不相併者。既云傷寒，何以有熱入胃？又曰熱已入胃，何以謂之傷寒？即用白虎、三黃、化斑、解毒等湯，俱從熱治，未作寒醫，何今人不悟古人之誤，而因以自誤而誤人也？至論大者為斑，小者為疹，赤者胃熱極，五死一生，紫黑者胃爛，九死一生，予斷生死，則又不在斑之大、小、紫、黑，總以其形之鬆浮、緊束為憑耳。如斑一出，松活浮於皮面，紅如朱點紙，黑如墨塗膚，此毒之松活外現者，雖紫黑成片可生；一出雖小如粟，緊束有根，如履底透針，如矢貫的，此毒之有根錮結者，縱不紫黑亦死，苟能細心審量，神明於鬆浮緊束之間，決生死於臨症之頃，始信予言之不謬也。</p>

<h2>疫疹窮源</h2>
<p>上古無疫疹，亦無痘，有之自漢始何也？蓋因天地開闢於子醜，人生於寅，斯時人稟清輕無為之性，茹毛飲血之品，內少七情六慾之戕，外無飲食厚味之嗜，渾然一小天地，是以無疫亦無疹，及漢始有者，亦由天地大運主之。自漢迄今，天地大運，正行少陽，即如仲夏，一日十二時論之，自子而醜、而寅、而卯、而辰，雖在暑天，人猶清爽，待交巳午，炎炎之勢，如火熾熱。由此推之，疫疹之有於漢後者，可悟運氣之使然也。但未經岐黃斷論，後人紛紛，但仿傷寒類推其治。即仲景所謂至春變溫、夏變熱、秋變濕，亦略而不察，且立言附和。有云瘟疫傷寒、瘟疹傷寒、斑疹傷寒，甚至熱病傷寒，抑知既曰傷寒，何以有瘟、有斑、有疹、有熱？認症既訛，故立言也謬，是以肆行發表攻裡，多至不救。至河間清熱解毒之論出，有高人之見，異人之識，其旨既微，其意甚遠。後人未廣其說，而反以為偏。《馮氏錦囊》亦云：斑疹不可妄為發表，此所謂大中至正之論，惜未暢明其旨，後人何所適從？吳又可注《瘟疫論》，辨傷寒、瘟疫甚晰，如頭痛、發熱、惡寒，不可認為傷寒表症，強發其汗，徒傷表氣，熱不退，又不可下，徒傷胃氣。斯語已得其奧妙。奈何以瘟毒從鼻口而入，不傳於胃而傳於膜原，此論似有語病。至用達原、三消、諸承氣，猶有附會表裡之意。惟熊恁昭熱疫之驗，首用敗毒散去其爪牙，繼用桔梗湯，同為舟楫之劑，治胸膈、手六經邪熱。以手、足少陽俱下膈絡胸中，三焦之氣為火，同相火遊行一身之表，膈與六經，乃至高之分，此藥浮載，亦至高之劑，施於無形之中，隨高下而退胸膈及六經之熱，確係妙法。予今採用其法，減去硝、黃，以疫乃無形之毒，難以當其猛烈，重用石膏，直入戊己，先搗其窩巢之害，而十二經之患自易平矣，無不屢試屢驗，故於平日所用方法治驗，詳述於下，以俟高明者正之。</p>

<h2>疫疹案</h2>
<p>疹出於胃，古人言熱毒未入於胃而下之，熱乘虛入胃，故發斑；熱毒已入於胃，不即下之，熱不得泄，亦發斑。此指誤下、失下而言。夫時行疫疹，未經表下，有熱不一日而即發者，有遲至四、五日而仍不透者。其發愈遲，其毒愈重。一病即發，以其胃本不虛，偶染邪氣，不能入胃，猶之牆垣高大，門戶緊密，雖有小人，無從而入，此又可所謂達於募原者也。至於遲至四、五日而仍不透者，非胃虛受毒已深，即發表攻裡過當。胃為十二經之海，上下十二經都朝宗於胃，胃能敷布十二經，榮養百骸，毫髮之間，靡所不貫。毒既入胃，勢必亦敷布於十二經，戕害百骸。使不有以殺其炎炎之勢，則百骸受其煎熬，不危何待？瘟既曰毒，其為火也明矣。且五行各一其性，惟火有二：曰君，曰相。內陰外陽，主乎動者也。火之為病，其害甚大，土遇之而赤，金遇之而熔，木遇之而燃，水不勝火則涸，故《易》曰：燥萬物者，莫熯乎火。古人所謂元氣之賊也。以是知火者疹之根，疹者火之苗也。如欲其苗之外透，非滋潤其根，何能暢茂？一經表散，燔灼火焰，如火得風，其焰不愈熾乎？焰愈熾，苗愈遏矣，疹之因表而死者，比比然也。其有表而不死者，乃麻疹、風疹、暑疹之類。有謂疹可治而斑難醫，人或即以疫疹為斑耳。夫疹亦何不可治之有？但人不敢用此法耳！</p>

<h2>論疫疹之脈不宜表下</h2>
<p>疫疹之脈，未有不數者。有浮大而數者，有沉細而數者，有不浮不沉而數者，有按之若隱若現者，此《靈樞》所謂陽毒伏匿之象也。診其脈，即知其病之吉凶。浮大而數者，其毒發揚，一經表熱，病自霍然；沉細而數者，其毒已深，大劑清解，猶易撲滅；至於若隱若現，或全伏者，其毒重矣，其症險矣。此脈得於初起者間有。得於七、八日者頗多，何也？醫者初認為寒，重用發表，先虧其陽；表則不散，繼之以下，又虧其陰。殊不知傷寒五、六日不解，法在當下，尤必審其脈之有力者宜之。疫症者，四時不正之癘氣。夫癘氣，乃無形之毒，胃虛者感而受之，病形頗似大實，而脈象細數無力。若以無形之癘氣，而當硝、黃之猛烈，邪毒焉有不乘虛而入耶？弱怯之人，不為陽脫，即為陰脫；氣血稍能駕御者，必至脈轉沉伏，變症蜂起，或四肢逆冷，或神昏譫語，或鬱冒直視，或遺尿、旁流，甚至舌卷囊縮，循衣摸床，種種惡症，頗類傷寒。醫者不悟引邪入內，陽極似陰，而曰變成陰症，妄投參、桂，死如服毒，遍身青紫，鼻口流血。如未服熱藥者，即用大劑敗毒飲，重加石膏，或可挽回。予因歷救多人，故表而出之。</p>

<h2>論疫疹因乎氣運</h2>
<p>乾隆戊子年，吾邑疫疹流行，一人得病，傳染一家，輕者十生八、九，重者十存一、二，合境之內，大率如斯。初起之時，先惡寒而後發熱，頭痛如劈，腰如被杖，腹如攪腸，嘔泄兼作，大小同病，萬人一轍。有作三陽治者，有作兩感治者，有作霍亂治者。迨至兩日，惡候蜂起，種種危症，難以枚舉。如此而死者，不可勝計。此天時之癘氣，人竟無可避者也。原夫至此之由，總不外乎氣運。人身一小天地，天地有如是之癘氣，人即有如是之癘疾，緣戊子歲少陰君火司天，大運主之，五、六月間，又少陰君火，加以少陽相火，小運主之，二之氣與三之氣合行其令，人身中只有一歲，焉能勝烈火之亢哉？醫者不按運氣，固執古方，百無一效。或有疑而商之者，彼即朗誦陳言，援以自證。要之執傷寒之法以治疫，焉有不死者乎？是人之死，不死於病而死於藥，不死於藥而竟死於執古方者之藥也。予因運氣，而悟疫症乃胃受外來之淫熱，非石膏不足以取效耳！且醫者意也，石膏者寒水也，以寒勝熱，以水剋火，每每投之百發百中。五月間余亦染疫，凡邀治者，不能親身診視，叩其症狀，錄受其方，互相傳送，活人甚眾。癸丑京師多疫，即汪副憲、馮鴻臚亦以予方傳送，服他藥不效者，俱皆霍然。故筆之於書，名曰清瘟敗毒飲，隨症加減，詳列於後，並付治驗。</p>

<h2>疫疹之症</h2>

<h3>頭痛傾側</h3>
<p>頭額目痛，頗似傷寒，然太陽、陽明頭痛，不至於傾側難舉，而此則頭痛如劈，兩目昏暈，勢若難支。總因毒火達於兩經，毒參陽位。用釜底抽薪之法，徹火下降，其痛立止，其疹自透。誤用辛香表散，燔灼火焰，必轉悶證。</p>

<h3>骨節煩痛腰如被杖</h3>
<p>骨與腰，皆腎經所屬。其痛若此，是淫熱之氣已流於腎經。誤用表寒，死不終朝矣。</p>

<h3>遍體炎炎</h3>
<p>熱宜和不宜燥，至於遍體炎炎，較之昏沉肢冷者，而此則發揚，以其氣血尚可勝毒，一經清解，而疹自透，妄肆發表，必至內伏。</p>

<h3>靜躁不常</h3>
<p>有似乎靜而忽躁，有似乎躁而忽靜，謂之不常，較之癲狂，彼乃發揚，而此則遏郁，總為毒火內擾，以至坐臥不安。</p>

<h3>火擾不寐</h3>
<p>寤從陽，主於上；寐從陰，主於下。胃為六腑之海，毒火壅遏，阻格上下，故不寐。</p>

<h3>周身如冰</h3>
<p>初病周身如冰，色如蒙垢，滿口如霜，頭痛如劈，飲熱惡冷，六脈沉細。此陽極似陰，毒之隱伏者也。重清內熱，使毒熱外透。身忽大熱，脈轉洪數，煩躁譫妄，大渴思冰，症雖梟惡，尤易為力。若遇庸手，妄投桂、附，藥不終劑，死如服毒。</p>

<h3>四肢逆冷</h3>
<p>四肢屬脾，至於逆冷，雜症見之，是脾經虛寒、元陽將脫之象。惟疫則不然，通身大熱，而四肢獨冷。此烈毒壅遏脾經，邪火莫透。重清脾熱，手足自溫。</p>

<h3>筋抽脈惕</h3>
<p>筋屬肝，賴血以養。熱毒流於肝經，疹毒不能尋竅而出，筋脈受其沖激，故抽惕若驚也。</p>

<h3>大渴不已</h3>
<p>雜症有精液枯涸，水不上升，咽乾思飲，不及半杯，而此則思冰飲水，百杯不足，緣毒火熬煎於內，非冰水不足以救其燥，非石膏不足以制其焰。庸工忌戒生冷，病家奉為神術，即溫水亦不敢與，以致唇焦而舌黑矣。</p>

<h3>胃熱不食</h3>
<p>四時百病，胃氣為本，至於不食，似難為也。而非所論於胃熱者，乃邪火犯胃，熱毒上衝，頻頻乾嘔者有之，旋食旋吐者有之。胃氣一清，不必強之食，自無不食矣。</p>

<h3>胸膈郁遏</h3>
<p>胸乃上焦心肺之地，而邪不易犯。惟火上炎，易及於心，以火濟火；移熱於肺，金被火灼，其躁愈盛，氣必長吁，胸必填滿而鬱遏矣。</p>

<h3>昏悶無聲</h3>
<p>心之氣出於肺而為聲。竅因氣閉，氣因毒滯，心迷而神自不清，竅閉而聲不出矣。</p>

<h3>腹痛不已</h3>
<p>胃屬濕土，列處中焦，為水穀之海，五臟六腑十二經脈，皆受氣於此。邪不能幹，弱者著而為病，偏寒偏熱，水停食積，皆與真氣相搏而痛，此言尋常受病之源也。至於疫疹腹痛，或左或右，或痛引小腸，乃毒火衝突，發泄無門，若按尋常腹痛分經絡而治之必死。如初起，只用敗毒散或涼膈散加黃連，其痛立止。</p>

<h3>筋肉瞤動</h3>
<p>在傷寒過汗，則為亡陽，而此則不然。蓋汗者心之液，血之所化也。血生於心，藏於肝，統於脾。血被煎熬，筋失其養，故筋肉為之瞤動。</p>

<h3>冷氣上升</h3>
<p>病人自言胃出冷氣，非真冷氣也，乃上升之氣，自肝而出，中挾相火，自下而上，其熱尤盛。此火極水化，熱極之徵，陽亢陰微，故有冷氣。</p>

<h3>口穢噴人</h3>
<p>口中臭氣，令人難近。使非毒火侵炙於內，何以臭氣噴人乃爾也。</p>

<h3>滿口如霜</h3>
<p>舌苔分乎表裡，至於如霜，乃寒極之象。在傷寒故當表寒，而疫症如霜，舌必厚大，此火極水化，誤用溫表，旋即變黑。《靈樞》曰：熱症舌黑，腎色也。心開竅於舌，水火相刑必死。予已經過多人，竟無死者，可見古人亦有未到處，但無此法耳！</p>

<h3>咽喉腫痛</h3>
<p>喉以納氣通於天，咽以納食通於地，咽喉者，水穀之道路，氣之所以上下者。至於腫痛，是上下閉塞，畏用清涼，為害不淺。</p>

<h3>嘴唇焮腫</h3>
<p>唇者脾之華，以飲食出入之門，呼吸相關之地，焮腫不能自如，脾熱可知。</p>

<h3>臉上燎泡</h3>
<p>燎泡宛如火燙，大小不一，有紅有白，有紫黑相間，痛不可忍，破流清水，亦有流血水者。治同大頭。（經驗）</p>

<h3>大頭</h3>
<p>頭為諸陽之首，其大異常。此毒火尋陽上攻，故大頭。</p>

<h3>痄腮</h3>
<p>腮者肝腎所屬，有先從左腫者，先從右腫者，有右及左、左及右者，不即清解，必成大頭。</p>

<h3>頸腫</h3>
<p>頸屬足太陽膀胱經，少陰腎經與膀胱為表裡。熱毒入於太陽，故頸腫。</p>

<h3>耳後硬腫</h3>
<p>耳後腎經所屬。毒發於此，其病愈惡，即宜清散。耳中出血者不治。</p>

<h3>嗒舌弄舌</h3>
<p>舌者心之苗。心寧則舌靜，心亂則舌動。心在卦為離，屬火，下交於腎，得坎水相濟，成其為火，故為君火。寂無所感，自然寧靜，毒火衝突，燔炙少陰，以火遇火，二火相併，心不能寧，嗒舌其能免乎？</p>

<h3>紅絲繞目</h3>
<p>目者肝、脾、肺、腎所屬。紅絲纏繞，此脾火傳肺，肺傳腎，腎傳肝。治宜重清脾熱，兼治三經，而紅目退。誤以眼科治之，為害不淺。</p>

<h3>頭汗如湧</h3>
<p>頭為一身之元首，最輕清而邪不易干。通身焦燥獨頭汗湧出，此烈毒鼎沸於內，熱氣上騰，故汗出如湧。</p>

<h3>咬牙</h3>
<p>齒者骨之餘。有以咬牙為血虛，謂雜證則然耳。疫疹咬牙，是肝經熱極。肝為血海，被火煎熬，牙失其養，故頻頻而作。</p>

<h3>鼻衄湧泉</h3>
<p>雜症鼻衄，迫於肺經浮游之火，而疫乃陽明鬱熱上衝於腦。鼻通於腦，熱血上溢，故從鼻出如泉。</p>

<h3>舌上珍珠</h3>
<p>舌上白點如珠，乃水化之象，較之紫赤黃黑，古人謂之芒刺者更重。</p>

<h3>舌如鐵甲</h3>
<p>（此三十六舌未有者）</p>
<p>疫症初起，苔如膩粉，此火極水化。醫者誤認為寒，妄投溫表，其病反劇，其苔愈厚，加以重劑，以致精液愈耗，水不上升，二火煎熬，變白為黑，其堅如鐵，其厚如甲，敲之戛戛有聲，言語不清，非舌卷也。治之得法，其甲整脫。（經驗）</p>

<h3>舌疔</h3>
<p>（亦三十六舌未有）</p>
<p>發於舌上，或紅或紫，大如馬乳，小如櫻桃，三五不等，流膿出血。重清心火，舌上成坑，愈後自平。（經驗）</p>

<h3>舌長</h3>
<p>熱病愈後，舌出寸余，累日不收，名曰陽強。因犯房勞而得。長數寸者不救。</p>

<h3>舌衄</h3>
<p>肝熱太盛，血無所藏，上溢心苗而出。</p>

<h3>齒衄</h3>
<p>牙床屬胃，齒統十二經。此陽明熱傳少陰，二經相併，故血出牙縫。</p>

<h3>譫語</h3>
<p>心主神，心靜則神爽，心為烈火所燔，神自不清，譫語所由來矣。</p>

<h3>呃逆</h3>
<p>人之陰氣，賴胃以養。胃火上衝，肝膽之火亦相隨助之，肺金之氣不能下降，由清道而上衝喉嚨，故呃而有聲。</p>

<h3>嘔吐</h3>
<p>邪入於胃則吐，毒猶因吐而得發越，至於乾嘔則重矣。總因內有伏毒，清胃自不容緩。</p>

<h3>似痢非痢</h3>
<p>瘟毒移於大腸，裡急後重，赤白相兼，或下惡垢，或下紫血。其人必惡寒發熱，小水短縮。此熱滯大腸，只宜清熱利水，其痢自止。誤用通利止澀之劑不救。</p>

<h3>熱注大腸</h3>
<p>毒火注於大腸，有下惡垢者，有利清水者，有傾腸直注者，有完穀不化者。此邪熱不殺穀，非脾虛也，較之似痢者稍輕。考其症，身必大熱，氣必雄壯，小水必短，唇必焦紫，大渴喜冷，四肢時而厥逆，腹痛不已。此熱注大腸，因其勢而清利之，泄自止矣。</p>

<h3>大便不通</h3>
<p>大腸為傳送之官，欲通則易，欲實則難。雜症見此，有補有下，而疫症閉結，因毒火煎熬，大腸枯燥不能潤下，誤用通利，速其死也。</p>

<h3>大便下血</h3>
<p>邪犯五臟，則三陰脈絡不和，血自停滯，滲入大腸，故血從便出。</p>

<h3>小便短縮如油</h3>
<p>小便澀赤，亦屬膀胱熱極，況短而且縮，其色如油乎！蓋因熱毒下注，結於膀胱。</p>

<h3>小便溺血</h3>
<p>小便出血，小腹必脹而痛。至於血出不痛，乃心移熱於小腸，故血從精竅中來也。</p>

<h3>發狂</h3>
<p>猖狂剛暴，罵詈不避親疏，甚至登高而歌，棄衣而走，逾垣上屋，非尋常力所能及，語生平未有之事、未見之人，如有邪附者。此陽明邪熱擾亂神明，病人亦不自知。多有看香、送祟、服符以驅邪者，可發一笑。</p>

<h3>痰中帶血</h3>
<p>火極生痰，肺熱之徵。至於帶血，熱極之象也。</p>

<h3>遺尿</h3>
<p>疫症小便自遺，非腎虛不約，乃熱毒流於膀胱。其人必昏沉譫語，遺不自知。</p>

<h3>喘嗽</h3>
<p>諸病喘滿，皆屬於熱。五臟生成篇曰：上氣喘嗽，厥在胸中，遏在手陽明、太陰。胸中者，太陰肺之分也，手陽明大腸為肺之表，二經之邪熱逆於胸中，則為喘嗽也。</p>

<h3>發黃</h3>
<p>黃者中央戊己之色，屬太陰脾經。脾經挾熱，不能下輸膀胱，小水不利，經氣鬱滯，其傳為疸。周身如金矣。</p>

<h3>循衣摸床</h3>
<p>（撮空同）</p>
<p>在傷寒列於不治，疫疹有此，肝經淫熱也。肝屬木，四肢屬土，肝有邪熱，淫於脾經，此木來剋土，木動風搖，土自不安。</p>

<h3>狐惑</h3>
<p>狐惑之狀，其人默默欲眠，起臥不安，目牽不閉。蟲蝕其肛為狐，蝕於喉為惑。大抵病人內熱食少，腸胃空虛，三蟲求食不得，蝕人五臟。當驗其上、下唇，上唇有瘡，蟲蝕其喉，下唇有瘡，蟲蝕其肛。</p>

<h3>戰汗</h3>
<p>先寒後戰，寒極而戰，雜症則謂元陽將脫之象，而疫則熱毒盤踞於內，外則遍體炎炎。熱極之症，是必投以寒涼，火被水克，其焰必伏。火伏於內，必生外寒，陰陽相搏則戰，一戰而經氣輸泄，大汗而解矣。</p>
<p>以上五十二症，疫症惡候，變態無常。以下二十症，有因失治於前者，有因不謹於後者。</p>

<h1>卷下</h1>

<h2>瘥後二十症</h2>

<h3>四肢浮腫</h3>
<p>瘥後四肢浮腫，因大病脾土受傷，脾虛不能制水，飲食驟進，氣血滋榮，流於四肢，夜則如常，日則浮腫。脾健自愈，誤用溫補，反添蛇足。</p>

<h3>大便燥結</h3>
<p>瘥後飲食漸增，而大便或十日、半月不下，亦不覺其苦。此因熱病腸胃乾燥，血不能潤，氣不能送。誤用通利，死不終朝矣。</p>

<h3>皮膚痛癢</h3>
<p>毒火最重之症，氣血被其煎熬。瘥後飲食漸進，氣血滋生，串皮膚而灌百骸，或痛或癢，宛如蟲行，最是佳境，不過兩三日，氣血流通而自愈矣。</p>

<h3>半身不遂</h3>
<p>疫症失治於前，熱流下部，滯於經絡，以致腰膝疼痛，甚者起不能立，臥不能動。誤作痿治，必成廢人。（經驗）</p>

<h3>食少不化</h3>
<p>瘥後不欲飲食，縱食亦不化，此乃脾胃虛弱，宜健脾養胃。</p>

<h3>驚悸</h3>
<p>瘥後血虛，肝失其養，膽無所恃，怯而驚悸。</p>

<h3>怔忡</h3>
<p>病後水衰火旺，心腎不交，故躁動不寧。</p>

<h3>失音</h3>
<p>瘥後有聲不能言，此水虧不能上接於陽也。</p>

<h3>鄭聲</h3>
<p>鄭聲者，聲戰無力，語不接續，乃氣虛也。</p>

<h3>喜唾</h3>
<p>瘥後喜唾不能自止者，胃中有寒也，宜溫之。熱病愈後吐津不止，雖屬胃虛，猶有餘熱，不宜溫之，只用梅棗丸噙之立愈。</p>

<h3>多言</h3>
<p>言者心之聲也。病中譫妄，乃胃熱乘心；瘥後多言者，猶有餘熱也。譬如滅火，其火已息，尚有餘煙。</p>

<h3>遺精</h3>
<p>精之主宰在心，精之藏制在腎。瘥後心腎氣虛，不能管攝，故遺。</p>

<h3>恐懼</h3>
<p>瘥後觸事易驚，夢寐不寧，乃有餘熱；熱極生痰，痰與氣搏，故恐懼。</p>

<h3>昏睡</h3>
<p>終日昏昏不醒，或錯語呻吟，此因邪熱未盡，伏於心胞絡所致。</p>

<h3>自汗盜汗</h3>
<p>心之所藏，在內為血，在外為汗。汗者心之液也，而腎主五液，故汗症未有不從心、腎而得者。陽虛不能衛外而為固，則外傷而自汗；陰虛不能內營而退藏，則內傷而盜汗。</p>

<h3>心神不安</h3>
<p>瘥後心血虧損，心失其養，以致心神不安。</p>

<h3>虛煩不寐</h3>
<p>瘥後氣血兩虛，神不守舍，故煩而不寐。</p>

<h3>勞復</h3>
<p>大病瘥後，早犯女色而病者，為女勞復。女犯者為男勞復。其症頭重不能舉，目中生花，腰背疼痛。四肢無力，憎寒發熱，陰火上衝，頭面烘熱，心胸煩悶。《活人書》以豭鼠屎湯主之，有熱者竹皮湯、燒裩散主之。《千金》以赤衣散，虛弱者以人參三白湯調赤衣散最妙。脈沉細，逆冷，小腹急痛者，以當歸四逆散加附子、吳萸，調赤衣散救之。更以吳萸一升酒拌炒熨小腹最妙。凡男卵縮入腹，女乳縮，脈離經者，死不可救。余治勞復，用麥冬湯每每取效。</p>

<h3>食復</h3>
<p>瘥後餘熱未盡，腸胃虛弱，不能食而強食之，熱有所藏，因其穀氣留搏，兩陽相合而病者，名曰食復。</p>

<h3>陰陽易</h3>
<p>男子病後，元氣未復，而婦人與之交接得病者，名曰陽易；女人病後，元氣未復，而男子與之交接得病者，名曰陰易。其狀男子則陰腫入腹，絞痛難忍；婦人則乳抽裡急，腰胯痛引，腹內熱攻胸膈，頭重難抬，仰臥不安，動搖不得，最危之症。</p>

<h2>瘟毒發瘡</h2>
<p>瘟毒發斑，毒之散者也；瘟毒發瘡，毒之聚者也。初起之時，惡寒發熱，紅腫硬痛，此毒之發揚者；但寒不熱，平扁不起，此毒之內伏者。或發於要地，發於無名，發於頭面，發於四肢，種種形狀，總是瘡症，何以知其是疫？然診其脈、驗其症而即知也。瘡症之脈洪大而數，疫則沉細而數；瘡症先熱後寒，疫則先寒後熱；瘡症頭或不痛，疫則頭痛如劈，沉不能舉；是其驗也。稽其症，有目紅、面赤而青慘者，有忽汗忽燥者，有昏憒如迷者，有身熱肢冷者，有腹痛不已者，有大吐乾嘔者，有大泄如注者，有譫語不止者，有妄聞妄見者，有大渴思水者，有燥躁如狂者，有忽喊忽叫者，有若驚若惕者，神情多端，大都類是，誤以瘡症治之，斷不能救。</p>

<h2>娠婦疫疹</h2>
<p>娠婦有病，安胎為先，所謂有病以末治之也。獨至於疫，則又不然，何也？母之於胎，一氣相連，母病即胎病，母安則胎安。夫胎賴血以養，母病熱疫之症，熱即毒火也，毒火蘊於血中，是母之血亦為毒血矣。毒血尚可養胎乎？不急有以治其血中之毒，而拘拘以安胎為事，母先危矣，胎能安乎？人亦知胎熱則動，胎涼則安。母病毒火最重之症，胎自熱矣。極力清解涼血，使母病一解，而不必安自無不安矣。至於瘥後以及病中適逢經來，當以類推。若以產後、經期，藥禁寒涼，則誤人性命，只數日間耳！急則治其標者，此之謂也。</p>

<h2>疫疹之形</h2>

<h3>鬆浮</h3>
<p>松而且浮，灑於皮面，或紅，或紫，或赤，或黑，此毒之外現者，即照本方治之，雖有惡症，百無一失。</p>

<h3>緊束有根</h3>
<p>疹出緊束有根，如從肉裡鑽出，其色青紫，宛如浮萍之背，多見於胸背。此胃熱將爛之色，即宜大清胃熱，兼涼其血，務使松活色退，方可挽回。稍存疑懼，即不能救。</p>

<h2>疫疹之色</h2>

<h3>紅活</h3>
<p>血之體本紅，血得其暢，則紅而活，榮而潤，敷布洋溢，是疹之佳境也。</p>

<h3>淡紅</h3>
<p>淡紅有美有疵。色淡而潤，此色之上者也；若淡而不榮，或有嬌而豔、干而滯，血之最熱者。</p>

<h3>深紅</h3>
<p>深紅者，較淡紅而稍重，亦血熱之象。一涼血即轉淡紅。</p>

<h3>豔紅</h3>
<p>色豔如胭脂，此血熱極之象，較深紅而愈惡。必大用涼血始轉深紅，再涼之而淡紅矣。</p>

<h3>紫赤</h3>
<p>紫赤類雞冠花而更豔，較豔紅而火更盛。不即涼之，必至變黑。</p>

<h3>紅白砂</h3>
<p>細碎宛如粟米，紅者謂之紅砂，白者謂之白砂。疹後多有此症，乃餘毒盡透，最美之境，愈後脫皮。若初病未認是疫，後十日、半月而出者，煩躁作渴，大熱不退，毒發於頷者，死不可救。</p>

<h2>疫疹不治之症</h2>
<p>疫疹初起，六脈細數沉伏，面顏青慘，昏憒如迷，四肢逆冷，頭汗如雨，其痛如劈，腹內擾腸，欲吐不吐，欲泄不泄，男則仰臥，女則覆臥，搖頭鼓頷，百般不足。此為悶疫，斃不終朝矣。如欲挽回於萬一，非大劑清瘟不可，醫家即或敢用，病家決不敢服，與其束手待斃，不如含藥而亡。雖然，難矣哉！</p>

<h2>疫疹諸方</h2>
<p><u>敗毒散</u>（《活人》）　治時行疫癘頭痛，憎寒壯熱，項強睛暗，鼻塞聲重，咳嗽痰喘，眼赤口瘡，熱毒流注，腳腫腮腫，諸瘡斑疹，喉痹吐泄。</p>
<p>羌活　獨活　柴胡　前胡　川芎　枳殼　桔梗　茯苓　薄荷　甘草</p>
<p>疫症初起，服此先去其爪牙，使邪不盤踞經絡，有斑即透，較升、葛、荊、防發表多多矣。如口乾舌燥加黃芩，喉痛加豆根，倍加桔梗、甘草。古方引用生薑，姜乃暖胃之品，疫乃胃熱之症，似不宜用，以蔥易之。</p>
<p>此足太陽、少陽、陽明藥也。羌活入太陽而理遊風；獨活入太陰而理伏邪，兼能除痛；柴胡散熱升清，協川芎和血平肝，以治頭痛目昏；前胡、枳殼降氣行痰，協桔梗、茯苓以泄肺熱而除濕消腫；甘草和里；而發表更以薄荷為君，取其辛涼，氣味俱薄，疏導經絡，表散能除高巔邪熱。古人名曰敗毒，良有以也。</p>
<p><u>涼膈散</u>（《局方》）治心火上盛，中焦燥實，煩躁口渴，目赤頭眩，口瘡唇裂；吐血衄血，諸風瘛瘲，胃熱發斑，發狂，驚急抽風。</p>
<p>連翹　生梔子　黃芩　薄荷　桔梗　甘草　生石膏　竹葉</p>
<p>此上、中二焦瀉火藥也。熱淫於內，治以鹹寒，佐以苦甘，故以連翹、黃芩、竹葉、薄荷升散於上，古方用大黃、芒硝推蕩其中，使上升下行而膈自清矣。予憶疫疹乃無形之毒，投以硝、黃之猛烈，必致內潰。予以石膏易去硝、黃，使熱降清升而疹自透，亦上升下行之意也。</p>
<p><u>清瘟敗毒飲</u>（《一得》）治一切火熱，表裡俱盛，狂躁煩心。口乾咽痛，大熱乾嘔，錯語不眠，吐血衄血，熱盛發斑。不論始終，以此為主。後附加減。</p>
<p>生石膏（大劑六兩至八兩，中劑二兩至四兩，小劑八錢至一兩二錢）　小生地（大劑六錢至一兩，中劑三錢至五錢，小劑二錢至四錢）　烏犀角（大劑六錢至八錢，中劑三錢至四錢，小劑二錢至四錢）　真川連（大劑六錢至四錢，中劑二錢至四錢，小劑一錢至一錢半）　生梔子　桔梗　黃芩　知母　赤芍　玄參　連翹　竹葉　甘草　丹皮</p>
<p>疫證初起，惡寒發熱，頭痛如劈，煩躁譫妄，身熱肢冷，舌刺唇焦，上嘔下泄，六脈沉細而數，即用大劑；沉而數者，用中劑；浮大而數者，用小劑。如斑一出，即用大青葉，量加升麻四、五分引毒外透。此內化外解、濁降清升之法，治一得一，治十得十。以視升提發表而愈劇者，何不俯取芻蕘之一得也。</p>
<p>此十二經泄火之藥也。斑疹雖出於胃，亦諸經之火有以助之。重用石膏直入胃經，使其敷布於十二經，退其淫熱；佐以黃連、犀角、黃芩泄心、肺火於上焦，丹皮、梔子、赤芍泄肝經之火，連翹、玄參解散浮游之火，生地、知母抑陽扶陰，泄其亢甚之火，而救欲絕之水，桔梗、竹葉載藥上行；使以甘草和胃也。此皆大寒解毒之劑，故重用石膏，先平甚者，而諸經之火自無不安矣。</p>
<p>疫疹之症：</p>
<p>頭痛傾側，本方加石膏、玄參、甘菊花。</p>
<p>骨節煩痛，腰如被杖，本方加石膏、玄參、黃柏。</p>
<p>遍體炎炎，本方加石膏、生地、川連、黃芩、丹皮。</p>
<p>靜躁不常，本方加石膏、川連、犀角、丹皮、黃芩。</p>
<p>火擾不寐，本方加石膏、犀角、琥珀、川連。</p>
<p>周身如冰，本方加石膏、川連、犀角、黃柏、丹皮。</p>
<p>四肢逆冷，本方加石膏。</p>
<p>筋抽脈惕，本方加石膏、丹皮、膽草。</p>
<p>大渴不已，本方加石膏、花粉。</p>
<p>胃熱不食，本方加石膏、枳殼。</p>
<p>胸膈遏郁，本方加川連、枳殼、桔梗、栝蔞霜</p>
<p>昏悶無聲，本方加石膏、川連、犀角、黃芩、羚羊角、桑皮。</p>
<p>筋肉瞤動，本方加生地、石膏、黃柏、玄參。</p>
<p>冷氣上升，本方加石膏、生地、丹皮、川連、犀角、膽草。</p>
<p>口穢噴人，本方加石膏、川連、犀角。</p>
<p>滿口如霜，本方加石膏、川連、連翹、犀角、黃柏、生地。</p>
<p>咽喉腫痛，本方加石膏、桔梗、玄參、牛子、射干、山豆根。</p>
<p>嘴唇焮腫，本方加石膏、川連、連翹、天花粉。</p>
<p>臉上燎泡，本方加石膏、生地、銀花、板藍根、紫花地丁、馬勃、歸尾、丹皮、玄參。</p>
<p>大頭天行，本方加石膏、歸尾、板藍根、馬勃、紫花地丁、銀花、玄參、殭蠶、生大黃（脈實者量加）。</p>
<p>痄腮，本方加石膏、歸尾、銀花、玄參、紫花地丁、丹皮、馬勃、連翹、板藍根。</p>
<p>頸頜腫痛，本方加石膏、桔梗、牛蒡子、夏枯草、紫花地丁、玄參，連翹、銀花、山豆根。</p>
<p>耳後痛硬，本方加石膏、連翹、生地、天花粉、紫花地丁、丹皮、銀花、板藍根、玄參。</p>
<p>耳聾口苦，本方加生地、玄參、柴胡、黃柏。</p>
<p>嗒舌弄舌，本方加石膏、川連、犀角、黃柏、玄參。</p>
<p>紅絲繞目，本方加菊花、紅花、蟬衣、穀精草、歸尾。</p>
<p>頭汗如湧，本方加石膏、玄參。</p>
<p>咬牙，本方加石膏、生地、丹皮、龍膽草、梔子。</p>
<p>鼻血泉湧，本方加石膏、生地、黃連、羚羊角、桑皮（生用）、玄參、棕灰、黃芩。</p>
<p>舌上珍珠，本方加石膏、川連、犀角、連翹、淨銀花、玄參、花粉。</p>
<p>舌如鐵甲，本方加石膏、犀角、川連、知母、天花粉、連翹、玄參、黃柏。</p>
<p>舌疔，本方加石膏、川連、犀角、連翹、銀花。</p>
<p>舌長（以片腦為末塗舌上，應手而縮，甚者必須五錢而愈。）</p>
<p>舌衄，本方加石膏、丹皮、生地、川連、犀角、梔子、敗棕灰。</p>
<p>齒衄，本方加石膏、黃柏、生地、丹皮、梔子、犀角、川連、玄參、黃芩。</p>
<p>譫語，本方加石膏、川連、犀角、丹皮、梔子、黃柏、龍膽草。</p>
<p>呃逆，本方加石膏、柿蒂、銀杏、竹茹、羚羊角、枇杷葉。（不止，用四磨飲一錢，調服本方即止。四磨飲：沉香、檳榔、烏藥、枳殼）。</p>
<p>嘔吐，本方加石膏、川連、滑石、甘草、伏龍肝。</p>
<p>似痢非痢，本方加石膏、川連、滑石、豬苓、澤瀉、木通。</p>
<p>熱注大腸（加同上）。</p>
<p>大便不通（蜜煎導法），本方加生軍。</p>
<p>大便下血，本方加生地、槐花、棕炭、側柏葉。</p>
<p>小便短縮如油，本方加滑石、澤瀉、豬苓、木通、通草、萹蓄。</p>
<p>小便溺血，本方加生地、桃仁、滑石、茅根、川牛膝、琥珀、棕炭。</p>
<p>發狂，本方加石膏、犀角、川連、梔子、丹皮、川黃柏。</p>
<p>痰中帶血，本方加石膏、黃芩、棕炭、生桑皮、羚羊角、生地、栝蔞霜。</p>
<p>遺尿，本方加石膏、川連、犀角、滑石。</p>
<p>喘嗽，本方加桑皮、黃芩、石膏、羚羊角。</p>
<p>發黃，本方加石膏、滑石、梔子、茵陳、豬苓、澤瀉、木通。</p>
<p>循衣摸床，本方加石膏、川連、犀角、丹皮、梔子、膽草。</p>
<p>狐惑，本方加石膏、犀角、苦參、烏梅、槐子。</p>
<p>戰汗（戰後汗出、脈靜、身涼，不用藥；有餘熱即服本方小劑，一藥而安）。</p>
<p>瘟毒發瘡，本方加石膏、生地、川連、紫花地丁、金銀花、（上加）升麻、（下加）川牛膝、（胸加）枳殼、蒲公英、（背加）威靈仙、（出頭）皂刺。</p>
<p>以上五十二症按症加減。以下瘥後二十症，另載各症諸方於本症。</p>
<p><u>四肢浮腫加味六君子湯</u></p>
<p>人參（一錢）　於朮（一錢）　雲苓（二錢）　木香（三分）　砂仁（五分）　甘草（八分）　薏仁（五錢）　澤瀉（一錢半）　生薑（一片）　黑膠棗（二枚）</p>
<p><u>大便燥結當歸潤燥湯</u>（氣虛者加人參、黃耆）</p>
<p>大熟地（五錢）　當歸（三錢）　麻仁（二錢）　郁李仁（三錢）　肉蓯蓉（一錢半）　杏仁（一錢半）　白蜜（一匙）</p>
<p>皮膚痛癢　八珍湯</p>
<p>人參（一錢）　白朮（一錢）　茯苓（一錢半）　甘草（八分）　生地（三錢）　當歸（二錢）　川芎（一錢）　白芍（一錢半）　生薑（一片）　黑棗（二枚）</p>
<p><u>半身不遂小劑敗毒飲</u>　加：</p>
<p>木瓜　牛膝　續斷　萆薢、黃柏　知母　威靈仙。</p>
<p><u>食少不化加味異功散</u></p>
<p>人參（一錢）　白朮（一錢）　茯苓（一錢）　陳皮（一錢）　山楂（二錢）　穀芽（三錢）　甘草（五分）　砂仁（八分）　生薑（一片）　黑棗（三枚）</p>
<p><u>驚悸茯神鎮驚湯</u></p>
<p>人參（一錢）　黃耆（錢半，炙）　當歸（二錢）　茯神（三錢）　遠志（錢半）　龍齒（二錢，煅）　白芍（一錢）　麥冬（二錢）　琥珀（一錢，研沖服）　炙甘草（八分）　龍眼（三枚）　燈芯（三十寸）</p>
<p><u>怔忡琥珀養心湯</u></p>
<p>人參（一錢）　當歸（二錢）　茯神（三錢）　棗仁（錢半，炒）　遠志（錢半，炙）　石菖蒲（一錢）　琥珀（一錢　研沖服）　炙草（八分）　麥冬（二錢）　龍眼（三枚）</p>
<p><u>失音六味地黃湯</u></p>
<p>熟地（五錢）　山萸（一錢）　茯苓（錢半）　丹皮（錢半）　山藥（二錢）　澤瀉（錢半）</p>
<p><u>鄭聲補中益氣湯</u></p>
<p>人參（一錢）　黃耆（錢半，炙）　當歸（二錢）　白朮（錢半）　陳皮（一錢）　升麻（八分）　柴胡（一錢）　甘草（八分）</p>
<p><u>喜唾梅棗噙化丸</u></p>
<p>烏梅（十枚）　黑棗（五個；去核，共搗如泥，加煉蜜為丸，彈子大，每用一丸，放口噙化）。</p>
<p><u>多言加味參麥飲</u></p>
<p>人參（五分）　麥冬（三錢）　五味子（八分）　通草（八分）　石菖蒲（一錢）　川連（五分）　甘草（三分）　白芍（一錢）　燈芯（三尺）</p>
<p><u>遺精茯神湯</u></p>
<p>茯神（五錢半）　遠志（錢半，炒）　棗仁（二錢，炒）　石菖蒲（一錢）　白茯苓（一錢）　川連（五分）　人參（一錢）　生地（三錢）　當歸（錢半）　甘草（五分）　牡蠣（二錢，煅）　蓮子（七枚）</p>
<p><u>恐懼補膽防風湯</u></p>
<p>人參（七分）　防風（一錢）　細辛（五分）　川芎（八分）　甘草（五分）　茯神（錢半）　獨活（八分）　前胡（八分）　黑棗（三枚）</p>
<p>昏睡　參麥黃連湯</p>
<p>人參（五分）　麥冬（三錢）　川連（四分）　生棗仁（五錢）　石菖蒲（一錢）　甘草（五分）</p>
<p><u>自汗盜汗加味歸脾湯</u></p>
<p>人參（一錢）　黃耆（錢半，炒）　白朮（一錢，炒）　茯神（三錢）　棗仁（二錢，炒）　遠志（錢半，炒）　甘草（五分）　當歸（錢半）　麻黃根（二錢）　牡蠣（三錢）紅棗（三枚）　浮麥（三錢）</p>
<p><u>心神不安寧志丸</u></p>
<p>石菖蒲（一兩）　遠志（一兩）　當歸（三錢）　茯神（五錢）　人參（二錢）　麥冬（三錢，共為細末，煉蜜為丸桐子大，硃砂為衣。每早用米湯飲服三錢）。</p>
<p><u>虛煩不寐酸棗仁湯</u></p>
<p>棗仁（五錢，炒）　人參（八分）　甘草（八分）　茯神（三錢）　川芎（八分）　知母（一錢）　遠志（一錢，炒）　龍眼（三枚）　燈草（三十寸）</p>
<p><u>勞復加味當歸四逆湯</u></p>
<p>柴胡（八分）　當歸（錢半）　白芍（一錢）　枳實（一錢）　甘草（五分，赤衣散：室女經布近陰處一片，燒灰，調服）。</p>
<p><u>食復香砂平胃散</u></p>
<p>蒼朮（一錢半，炒）　厚朴（一錢，炒）　陳皮（一錢）　木香（五分）　砂仁（八分）　甘草（五分）　生薑（一片，有食積加山楂、麥芽、神麯、茯苓）</p>
<p><u>陰陽易當歸白朮湯</u></p>
<p>白朮（一錢）　當歸（一錢）　桂枝（一錢）　附子（一錢）　甘草（八分）　白芍（一錢）　黃耆（一錢，炙）　人參（錢半）　生薑（三錢）</p>
<p><u>燒裩散</u></p>
<p>裩襠（八分，近陰處，男用女襠，女用男襠，燒灰，溫水和服）</p>
<p><u>青竹茹湯</u></p>
<p>竹茹（半斤）　栝蔞根（一兩，水二升，煎一升服）</p>
<p><u>豭鼠屎湯</u></p>
<p>韭白根（一把）　鼠屎（十四粒）　水煎服</p>
<p><u>韭根散</u></p>
<p>韭根　栝蔞根　青竹茹　炮姜（各五錢，共為粗末，分八分。用水盞半，煎五分，入鼠屎一錢和服。治陰陽易危急之症）。</p>
<p><u>千金方</u>　治勞復或食復發熱者。</p>
<p>梔子仁（一錢）　生石膏（三錢）　鼠屎（十四粒）　淡豉（半合）　水煎服。</p>
<p><u>麥冬湯</u>　治勞復氣欲絕者，用之大效，能起死回生。</p>
<p>麥冬（一兩，去心）　甘草（二兩，蜜炙）　粳米（半合）　蘇竹葉（十五片）　黑棗（二枚，去核）</p>
<p>上為細末，水二盞，煎米令熟，去米，約湯盞半，入藥五錢，煎至一盞。溫服，不能服者，綿浸滴口中。此方不用石膏，以三焦無火也。加人參更妙。</p>
<p>疫疹之形：</p>
<p>鬆浮，本方加大青葉、玄參。</p>
<p>緊束有根，本方加石膏、生地、犀角、玄參、桃仁、紫草、川連、紅花、連翹、歸尾。</p>
<p>疫疹之色：</p>
<p>紅活，本方加大青葉、玄參。</p>
<p>淡紅，本方加大青葉、玄參。</p>
<p>深紅，本方加大青葉、玄參、生地。</p>
<p>豔紅，本方加大青葉、生地、石膏、丹皮、玄參。</p>
<p>紫赤，本方加石膏、生地、玄參、川連、犀角、丹皮、桃仁。</p>
<p>紅白砂，本方小劑加生地、當歸、蟬衣。</p>

<h2>附驗案</h2>

<h3>附一紫黑相間治驗</h3>
<p>正陽門外，蔣家衚衕口內，祥泰布鋪，祁某，晉人也。長郎病疫，原診謝以不治，又延一醫，亦不治。及至邀余，已七日矣。診其脈，六部全伏；察其形，目紅面赤，滿口如霜，頭汗如雨，四肢如冰；稽其症，時昏時躁，譫妄無倫，嘔泄兼作，小水癃閉，周身斑疹，紫黑相間，幸而松活，浮於皮面，毒雖盛而猶隱躍，此生機也。檢視前方，亦用犀、連，大劑不過錢許，乃杯水之救耳！予曰：令郎之症最險，不畏予藥過峻，死中求活，不然，變在十四日。祁懇甚切，予用大劑，石膏八兩，犀角六錢，黃連五錢，余佐以本方之味，加伏龍肝一兩，滑石五錢，木通三錢，豬苓、澤瀉各二錢，更加生地一兩，紫草三錢，歸尾三錢，大青葉二錢。以色紫黑也，連投二服。至九日脈起細數，手足回溫，嘔雖止而泄如舊，仍用本方去伏龍肝，又二服。至十一日，脈轉洪數，頭汗遂止，黑斑變紫，小水亦利，大便亦實，但妄譫如前，身忽大熱，煩躁更甚，大渴不已，以火外透也，仍用本方去滑石、木通、豬苓、澤瀉，加花粉、山豆根。以喉微痛也，更以冰水與服，以濟其渴。又二帖，色轉深紅，熱勢稍殺，譫妄間有，猶渴思冰，投本方減生地五錢去歸尾、紫草、豆根、花粉。又二服，諸症已退十分之三，藥減四分之一，但飲水而不思食。祁疑而叩曰：病雖減，而十數日不食，尚能生乎？予曰，生矣，按法治之，二十一日方可全愈。又二服，斑化多半，胃氣漸開，熱亦大減，照本方藥減四分之二，去大青葉。又二服，斑點全消，飲食旋食旋餓，方能起坐，診其脈，尚有六至，猶有餘熱，不即清之，其勢復張，更難為力，猶用石膏二兩四錢，犀角三錢，黃連二錢，余亦類減。十九日用石膏一兩二錢，犀角二錢，黃連一錢，加烏梅三個，酸以收之也。予曰：前言二十一日，方能成功，今已十九日矣，令郎如此，可見前言之不謬也。祁某喜曰：若非立定主意，幾為眾口所誤，初立此方，體全堂不肯賣藥，叩其所以，言誤開分兩，以八錢為八兩、六分為六錢耳。予歷指同鄉服此得痊者頗多，雖賣。猶囑以再三斟酌。二十日猶用石膏八錢，犀角錢半，黃連八分，加洋參二錢，麥冬三錢，歸身二錢，川芎一錢，以調氣血。二十一日用八珍湯加麥冬、五味，立方需大紙一張。昨言初方藥店不肯發藥，今令郎已愈，錄一治法於方前，計服石膏、黃連。犀角若干，使彼知予用藥之奇，即藥鋪亦未之見也。</p>
<p>錄曰：瘟毒發斑，疫症之最重者，然有必活之方。無如醫家不敢用，病家不敢服，甚至鋪家不敢賣，有此「三不敢」，疫疹之死於誤者，不知凡幾，可勝嘆哉！令郎之症，蒙相信之深，邀予診治。予用大劑連投十五帖，今已全安，計用石膏六斤有另，犀角七兩有另，黃連六兩有另。此前人所未有，後人所未見，故筆之於書，以徵奇效。</p>

<h3>附一紫黑呃逆治驗</h3>
<p>丙午夏四月，塞道掌侄孫兆某者，病疫已十一日，原診辭以備後事。塞公另延一醫，用理中湯，兆某妻舅工部員外伊公，素精醫術，不肯與服。曰：若治此症，非余某不可。其家因有人進讒言予用藥過峻，懼不敢請，伊公力爭，懇予甚切。予因知遇之感，慨然同往。診其脈，沉細而數；驗其症，周身斑點，紫黑相間，加以鬱冒直視，譫語無倫，四肢如冰，呃逆不止，舌卷囊縮，手足動搖，似若循衣。此實危症，幸而兩目紅赤，嘴唇焦紫，驗其是熱。檢視前方，不過重表輕涼，此杯水投火，愈增其焰，以致變症蜂起。予用大劑，更加玄參三錢，大青葉二錢，使其內化外解，調服四磨飲。本家懼不敢服，伊公身任其咎，親身煎藥，半日一夜，連投二服，呃逆頓止，手足遂溫，次日脈轉洪數，身忽大熱，以毒外透也。予向伊公曰：按法治之，二十一日得痊。但此劑不過聊治其焰，未拔其根，藥力稍懈，火熱復起。一方服至五日，病勢大減，藥亦減半。服至八日，藥減三分之二，去大青葉。服至十日，藥減四分之三，以後諸症全退，飲食漸進。計服石膏五斤十四兩，犀角四兩六錢，黃連三兩四錢，舉家狂喜，始悔進讒言之誤也。</p>

<h3>附一昏憒呃逆治驗</h3>
<p>右營守府費公名存孝者，年近七旬，癸丑四月，病疫已八日矣。診其脈，細數無至；觀其形色，如蒙垢，頭汗如蒸，昏憒如癡，譫語無倫，身不大熱，四肢振搖且冷，斑疹隱於皮內，紫而且赤，幸不緊束。此疫毒內伏，症亦危矣。如斑不透，毒無所泄，終成悶症，斃在十四日。檢視前方，不外荊、防、升、葛。不知毒火壅遏之症不清，內熱不降，斑終不出，徒肆發表，愈增其勢，燔灼火焰，斑愈遏矣。予用大劑，石膏八兩，犀角六錢，黃連五錢，加大青葉三錢，升麻五分。使毒火下降，領斑外透，此內化外解，濁降清升之法。次日，周身斑現，紫赤如錦，精神若明若昧，身亦大熱，手足遂溫，間有逆氣上衝，仍照本方加生地一兩，紫草三錢，調服四磨飲。其侄懼逆氣上衝，予曰：無妨，服此即止。進門時，見又帖有堂號，因問曰：又延醫乎？其侄曰：相好請來，但診其脈，不服藥耳。予曰：予治此症，前人未有，昨日敢服此方令叔活矣。然見者必以為怪，君其志之。後醫者至，果見予方，大叱其非，曰：一身斑疹，不按古法，用如許寒涼水注，斑疹如何能透？急宜提表，似或可救，即用荊、防、升、葛，更加麻黃，連服二煎，及至半夜，呃逆連聲，四肢逆冷，足涼過膝。舉家驚惶，追悔莫及。守城而進，叩門求見，問其所以，曰：變矣。問服何方？曰：他方。予曰：既服他方，仍請他治之。其侄見予不往，權將四磨飲原方，連灌二煎，呃逆頓止，手足遂溫。轉懇予素契者，登門叩懇，予憐其以官為家，又系異鄉人，仍按本方大劑調治，二十一日全愈。計用石膏五斤四兩，犀角五兩二錢，黃連四兩八錢。此癸丑四月間事也。</p>

<h3>附一痰中帶血治驗</h3>
<p>安徽富藩臺堂夫人病疫，初起但寒不熱，頭暈眼花，腰體疼痛。醫者誤認虛寒，用六味加杜仲、續斷、牛膝、木瓜，兩服後，昏沉如迷，呼吸將絕，並不知其為病所苦。令叔五公，現任兵部郎中，邀予往看。診其脈，沉細而數；稽其症，面顏紅赤，頭汗如淋，身熱肢冷，舌燥唇焦。予曰：非虛也，乃疫耳。五曰：種種形狀是虛，何以言疫？予曰：若是虛症，面顏不至紅赤，舌不焦，唇不燥，通身大汗，乃元陽將脫之象，豈獨頭汗如淋、身熱肢冷哉？大劑決不敢服，暫用涼膈散，清其內熱，明日斑疹微露，症自明矣。次日斑點隱隱，含於皮內。五見駭然曰：幾誤矣。即投敗毒中劑，加大青葉錢半，升麻五分。次日周身斑見，紫赤松浮，身忽大熱，肢亦不冷，煩躁大渴，即換大劑，石膏八兩，犀角六錢，黃連五錢，加生地一兩，紫草三錢，大青葉三錢，連投二服，斑轉豔紅，惟咳嗽不止，痰中帶血粉紅。此金被火灼，即按本方加羚羊角三錢，桑皮三錢，棕炭三錢，丹皮二錢，又二服，嗽寧血止，色轉深紅，熱亦大減。照本方去紫草、羚羊、桑皮、棕炭；減生地五錢，石膏二兩，犀角二錢；加木通錢半，滑石五錢，以小水不利也。又二服，諸症已減十分之六，猶用石膏二兩四錢，犀角二錢，黃連錢半，生地四錢，去木通、滑石。又二服後，用犀角錢半，黃連八分，石膏八錢，加人參一錢，當歸一錢，麥冬三錢，五味子五分。連服二帖，飲食倍增，精神漸旺矣。</p>

<h3>附一目閉無聲治驗</h3>
<p>世襲騎都尉常公，系戶部郎中觀公名岱者，中表弟也。癸丑五月病疫。觀公素精醫術，調治半月，斑疹暗回，而諸症反劇，已備後事。乃弟因一息尚在，復邀予治。診其脈，若有若無；觀其色，目閉無聲，四肢逆冷，大便旁流清水。予謝以不治。闔家拜懇，但求開方，死而無怨。予見嘴唇微腫，紫而且黑，知內有伏毒，非不可救。熱乘於心肺，故昏悶無聲；乘於肝，故目閉；乘於脾，故四肢逆冷；乘於大腸，故旁流清水。檢視前方，亦是清熱化斑等劑。觀公素性謹慎，藥雖不錯，只治其焰，未拔其根，當此危急之秋，再一探視，死在三七。予按本方，用犀角八錢，黃連六錢，加滑石一兩，木通三錢，豬苓、澤瀉各二錢，桑皮三錢，栝蔞霜三錢，另用石膏一斤，竹葉一兩，熬水煎藥。連進三煎，次日脈起細數，手足遂溫，旁流亦減，小水亦通，目開而聲出矣。仍用本方去滑石、木通、豬苓、澤瀉、桑皮、栝蔞。又一服，以後逐日減用，七日而痊。觀公登門道謝曰：舍表弟之症，一百死一百，一千死一千，君能生之，敢不心悅而誠服！</p>

<h3>附一譫妄若有所見治驗</h3>
<p>工部員外彩公名柱者，令親內務府高某，病疫九日，邀予。其脈浮大而數，身熱如爐，目紅面赤，赤斑成片，忽然大叫，若有所見，卒然驚惕，若有所懼，語生平未有之事、未見之人。舉家驚恐，疑有邪附。本地風俗，最喜看香送祟，以至異端之術，不絕於門。予進屋內，香菸一室，滿壁符簽咒語。予曰：此邪予能去之，將此一概收去，只用大冰四塊，安置四角。彩問何為？予曰：當此暑熱，病此大熱之症，加以香燭輝煌，內外夾攻，不狂何待？此邪熱乘於肝膽，故發狂，外用多冰，收其熏蒸暑氣，內服清涼解散之藥，病除而狂自止，焉有邪附者乎？遂用大劑，七日而愈。</p>

<h3>附一昏悶無聲治驗</h3>
<p>理藩院侍郎奎公四令弟病疫，昏悶無聲，身不大熱，四肢如冰，六脈沉細而數。延一不諳者，已用回陽救急湯，中表兄富公，力爭其不可。及予至，診其脈，沉細而數；察其形，唇焦而裂，因向富公曰：此陽極似陰，非陰也。若是真陰，脈必沉遲，唇必淡而白，焉有脈數、唇焦認為陰症哉？此熱毒伏於脾經，故四肢厥逆，乘於心肺，故昏悶無聲，況一身斑疹紫赤，非大劑不能挽回。遂用石膏八兩，犀角六錢，黃連五錢、余佐以大青葉、羚羊角。連服二帖，至夜半身大熱，手足溫，次日脈轉洪大。又一服熱減而神清矣。以後因症逐日減用，八日而愈，舉家狂喜，以為異傳。</p>

<h3>附一鼻血泉湧治驗</h3>
<p>癸丑冬月，國子監司業五公名格者，二令媳病疫，惡寒發熱，頭痛嘔吐。請一醫者，用表散藥，加藿香、半夏、蒼朮，其症反極。又延一人，用清涼之劑稍安，次日加石膏三錢，犀角八分，黃連五分，脈轉沉伏，四肢逆冷，昏迷若昧，醫者認為轉陰。謝以不治。五公滿服愁懷，徘徊庭院。夫人曰：數年前活我者誰乎？五公恍然大悟曰：非此人斷乎不可，邀余述其所以。予診其脈，驗其症色，曰：此易事耳。五曰：明系熱症，投涼藥反劇，更有何術？予曰：治病猶用兵也，小固不可以敵大，弱固不可以敵強，病大藥小，反增其勢，予按法治之，管教十四日而愈。未幾二令郎亦病，診其脈，觀其色，曰：令郎之症，受毒已深，較令媳更重。即按法治之，七、八日，種種變症難以枚舉，好在二十一日。兩服後，周身斑點紫赤相間，有緊有束，有松有浮。五公駭然曰：君言較前更重，何其驗也。即用大劑，石膏八兩，犀角六錢，黃連五錢，更加生地一兩，紫草三錢，歸尾二錢，大青葉三錢。一服三煎，更以四煎熬水，次日煎藥。一方服至六帖，緊者松，束者浮，但鼻血泉湧，譫妄無倫。五懼去血過多。予曰：此熱血妄行，毒猶因此而得發越，止之甚易。即照本方加棕炭三錢，桑皮三錢，羚羊角三錢，兩服血止，去桑皮、棕炭、羚羊。又二服，胃氣漸開，色轉淡紅，漸有退者，用石膏四兩，犀角四錢，黃連三錢，去紫草、歸尾，減生地五錢，大青葉錢半。又二服，斑全消，用生地三錢，犀角三錢，黃連二錢，石膏二兩八錢。又二服，飲食大進，自頸至胸。復泛紅砂，此餘毒盡透也，用生地三錢，犀角二錢，黃連錢半，石膏一兩六錢。又二帖，精神漸長，仍用生地三錢，犀角錢半，黃連八分，洋參一錢，麥冬三錢，歸身錢半，石膏八錢，酸梅二個。又三服而安。五公喜而言曰：小兒之生，先生再造矣。予曰，前治令媳，乃救令郎耳！此症若初服生薑、半夏、蒼朮、藿香，斷不能救。斑乃胃熱之症，諸藥大能燥胃，火上添油，尚望生乎？嗣後一家連治七人，俱是大險，在我治之無難，五亦服之若素。</p>

<h3>附一嘴唇焮腫治驗</h3>
<p>四川聞藩臺二令媛。癸丑冬月一病即斑，其色深紅而鬆浮，症原不重，但脈細數有力，此內有伏熱。即用中劑，加大青葉，連投五服，斑退而神安，再二服，可以無事。因年輕畏藥，不肯多服，又不忌飲食，越七日，身忽大熱，大渴，嘴唇焮腫，牙縫流血，口穢噴人。予用大劑，加生地一兩，次日熱渴稍殺，而頸亦紅腫，即於本方加牛子、夏枯草、銀花各三錢，連投三服，頸雖消，右腮又腫，又於本方去牛子、夏枯草，加板藍根、馬勃。又三服而腮腫全消，唇亦稍散，周身泛砂，紅白相間，又於本方去板藍根、馬勃，加大青葉。又三服，嘴唇全消，通身脫皮成片。彼按本方調理十餘日方痊。此症計用石膏八斤有另，犀角八兩，黃連七兩。聞公任部曹時，與予契交，夫人信任無疑，是以得痊。</p>

<h3>附一舌甲治驗</h3>
<p>正紅旗護軍活隆武者，乃太僕寺員外郎華公胞侄也，系予世好。丙午夏，出疹本輕，尊人畏予用藥過峻，懼不敢邀，及至舌卷囊縮，方邀予治。診其脈，細數有力；觀其色，氣壯神昂，非死候也；及驗其舌，其黑如煤，其堅如鐵，敲之戛戛有聲。因問曰：前醫何以不藥？尊人曰：彼云滿舌皆黑，前人列於不治。予曰：水來剋火，焉有苔厚如甲哉？按此起病之初，舌苔必白而厚，此火極水化之象，誤以為挾寒，妄肆溫表，燔灼火焰，以致熱毒阻於中焦，離不能下降，坎不能上升，熱氣熏蒸。由白而黃，由黃而黑矣。治宜重清胃熱，兼涼心腎，非大苦大寒，不能挽回。即用大劑，重用犀、連，更加生地、知、柏、抑陽扶陰，連投四服，其苔整脫亦如舌大，後用三小劑而痊。</p>

<h3>附一半身不遂治驗</h3>
<p>癸丑四月，國子監馮公名海粟者，適至舍間，敘及陳令親疫後又痢。予曰：若以痢治之，防變別症。及至七月，馮公復至，言陳舍親病痿兩月，百藥無效，相邀起之。及至，診其脈，沉緊弦數；觀其色，若無病然，但偃仰在床，不能反側，自腰以下，痛如火燎。檢視前方，總不外滋陰補氣，杜仲、續斷、牛膝、虎脛等類。予曰：以此症而施此藥，誰曰不然？但以脈合症，以症合形，乃熱毒流於下注，非痿也。遂用小劑敗毒飲加知、柏、木瓜、萆薢、川膝、威靈仙、木通。兩服痛減，而足能運動，六服扶起能立，未至十服，能挪步矣。後用湯藥，每送扶桑丸，一月而痊。</p>
