<header data-type="book">
<h1>醫學啟源</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張元素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1186">公元1186年</data></dd></div>
</dl>
</header>

<h1>張序</h1>
<p>先生張元素，〔字〕潔古，易水人也。八歲試童經，二十七經義登科，犯章廟諱出落，於是怠仕進，遂潛心於醫學，二十餘年雖記誦廣博書，（然）治人之術，不出人右。其夜夢人柯斧長鑿，〔鑿心〕開竅，納書數卷於其中，見其題曰《內經主治備要》，駭然驚悟，覺心痛，只為凶事也，不敢語人。自是心目洞徹，便為傳道軒岐，指揮秦越也。河間劉守真醫名貫世，視之蔑如也。異日守真病傷寒八日誤下證，頭疼脈緊，嘔惡不食，門人侍病，未知所為，請潔古診之，至則守真面壁不顧也。潔古曰：〔何〕視我直如此卑也？診其脈，（謂）之曰：脈病乃爾，初〔服〕某藥犯某味藥乎？曰：然。潔古曰：差之甚也。守真遽然起曰：何謂也？曰：某藥味寒，下降，走太陰，陽亡，汗不徹故也。今脈〔如此〕，當以某藥〔服〕之。守真首〔懇〕大服其能，一服而愈，自是名滿天下。潔古治病，不用古方，但云：古方新病，〔甚〕不相宜，反以害人。每自從病處方，刻期見效，藥〔下〕如攫，當時目之曰神醫。暇日輯（集）《素問》五運六氣，《內經》治要，《本草》藥性，名曰《醫學啟源》，以教門生，及有《醫方》三十卷傳於世。〔壬辰遺失，□□□存者惟《醫學啟源》〕。真定李明之，門下高弟也，請余為序，故書之。蘭泉老人張吉甫〔序〕。</p>

<h1>卷之上</h1>

<h2>一、天地六位臟象圖</h2>
<figure>
<img alt="天地六位臟象圖">
</figure>

<h2>二、手足陰陽</h2>

<h3>（一）手足三陰三陽</h3>
<p>注云：肝、心、脾、肺、腎，皆屬陰，五臟也。膽、胃、三焦、膀胱、大腸、小腸，皆屬陽，六腑也。分而言之，手足皆有三陰三陽是也。</p>

<h3>（二）手三陰三陽</h3>
<p>肺寅燥金手太陰，大腸卯燥金手陽明；心午君心手少陰，小腸未君火手太〔陽〕；包絡戌相火手厥陰，三焦〔亥〕相火手少陽。</p>

<h3>（三）足三陰三陽</h3>
<p>胃辰濕土足陽明，脾巳濕土足太陰；膀胱申寒水足太陽，腎酉寒水足少陰；膽子風木足少陽，肝醜風木足厥陰。</p>
<p>歌曰</p>
<p>手經太陽屬小腸，膀胱經屬足太陽；</p>
<p>肝足厥陰手包絡，胃足陽明手〔大腸〕；</p>
<p>膽屬少陽足經尋，三焦手內少陽臨；</p>
<p>脾足太陰手經肺，腎足少陰手是心。</p>

<h2>三、五臟六腑，除心包絡十一經脈證法</h2>
<p>夫人有五臟六腑，虛實寒熱，生死逆順，皆見形證脈氣，若非診（切），無由識也。虛則補之，實則瀉之，寒則溫之，熱則涼之，不虛不實，以經調之，此乃良醫之大法也。</p>

<h3>（一）肝之經，肝脈本部在於筋，足厥陰，風，乙木也。</h3>
<p>經曰：肝與膽為表裡，足厥陰（少〔陽〕）也。其經旺於春，乃萬物之始生也。其氣軟而弱，軟則不可汗，弱則不可下。其脈弦長曰平，反此曰病。脈實而弦，此為太過，病在外，令人忘忽眩運；虛而微，則為不及，病在內，令人胸脅脹滿。凡肝〔實〕則兩脅下引痛，喜怒，虛〔則〕如人將捕之。其氣逆則頭痛、耳聾、頰赤，其脈沉而急，浮之亦然，主脅〔支〕滿，小便難，頭痛眼眩。脈急〔甚〕主惡言，微急氣在〔胸脅下〕。緩甚則嘔逆，微緩水痹。大甚內癰吐血，微大筋痹。〔小甚多飲〕，微小痹。滑甚㿗疝，微滑遺尿。澀甚流飲，微澀瘲攣。肝之積氣在左脅下，久而不去，發為咳逆，或為〔痎〕瘧也。虛夢花草茸茸，實夢山林茂盛。肝病旦〔慧、晚〕甚、夜靜。肝病頭痛目眩，脅滿囊縮，小便不通，十日死。又身〔熱〕惡寒，四肢不舉，其脈當弦而急；反短澀者，乃金剋木也，死不治。又肝中寒，則兩臂不舉，舌燥，多太息，胸中痛，不能轉側，其脈左關上遲而澀者是也。肝中熱，則喘滿多嗔，目痛，腹脹不嗜食，所作不定，夢中驚悸，眼赤，視物不明，〔其〕脈左關陽實者是也。肝虛冷，則脅下堅痛，目〔盲〕臂痛，發寒〔熱〕如瘧狀，不欲食，婦人則月水不來，氣急，其脈左關上沉而弱者是也。此寒熱虛實，生死逆順之法也。</p>
<p>《主治備要》云：是動則病腰痛，甚則不可俯仰，丈夫〔㿗〕疝，婦人小腹腫，甚則嗌乾，面塵脫色，主肝所生病者，胸中嘔逆，飧泄狐疝，遺溺閉癃病。肝苦急，急食甘以緩之，甘草。肝欲散者，急食辛以散之，川芎。補以細辛之辛，瀉以白芍藥之酸。肝虛，以陳皮、生薑之類補之。經曰：虛則補其母。水能生〔木〕，水乃肝之母也。苦以補腎，熟地黃、黃柏是也。如無他證，惟不足，錢氏地黃丸補之。實則芍藥瀉之，如無他證，錢氏瀉青丸主之，實則瀉其子，心乃肝之子，以甘草瀉之。</p>

<h3>（二）膽之經，足少陽，風，甲木。</h3>
<p>經曰：膽者，中清之腑也，號曰將軍，決斷出焉。能喜怒剛柔，與肝為表裡也，足少陽是其經也。虛則傷寒，恐畏頭眩，不能〔獨〕臥；實則傷熱，驚悸，精神不守，臥起不定，玄水發，其根在膽。又肝咳不已，則傳邪入膽，嘔青汁也。又膽有水，則從頭腫至足也。膽病則善太息，口苦，吐宿汁，心中慼慼恐，如人將捕之，咽中介介然數〔唾〕。又睡臥則脅下痛，〔口〕苦，多太息。邪氣客於膽，則夢鬥訟，脈在左關上浮而得之者，是〔其〕部也。膽實熱，則精神不守。膽熱則多腫，膽冷則多眠。又左關上脈陽微者，膽虛；陽數者，膽實；陽虛者膽絕也。以上皆虛實寒熱，生死脈證之法也。</p>
<p>《主治備要》云：是動則病口苦，善太息，胸脅痛，不能轉側，甚則面微有塵，體無膏澤，足外反熱，是為陽厥。是主膽所生病者，頭痛頷腫，目銳眥痛，缺盆中腫痛，腋下腫，馬刀挾癭，汗出振寒，瘧，胸、肋、脅、髀、膝，外至脛、絕骨、外踝前及諸節皆痛。《脈訣》云：左關，肝與膽脈之所生也。先以輕手得之，是膽，屬表；後以重手取之，是肝，屬裡也。肝合筋，肝脈循經而行。持脈指法，如十二菽之重，按至筋平，脈道如箏弦者，為弦；脈道迢迢者，為長。此弦長，乃肝家不病之狀也。肝脈本部在筋，若出筋上，見於皮膚血脈之間者，是其浮也；入於筋下，見於骨上，是其沉也。臨病細推之，舉一知十之道也。</p>

<h3>（三）心之經，心脈本部在於血，手少陰君，丁火也。</h3>
<p>經曰：心者，五臟之尊也，號帝王之稱也。與小腸通為表裡，神之所〔舍〕，又〔主〕於血，屬火，旺於夏，手〔少〕陰（太陽）是其經也。凡夏脈鉤，來盛去衰，故曰鉤，反此者病。來盛去亦盛，為太過，病在外；來衰去亦衰，為不足，病在內。太過，令人〔身〕熱而骨痛，口瘡而舌焦引水；不及，令人〔躁〕煩，上為咳唾，下為氣泄。其脈如循琅〔玕〕，如連珠，曰平；來而啄啄連屬，其中微曲，曰病；脈來前曲後〔倨〕，如〔操〕帶鉤，曰死。思慮過多〔則怵惕〕，怵惕則傷心，心傷則神失，神失則恐懼。又真心痛，手足寒而過〔節〕，則旦占夕死。又心有水氣，身腫不〔得〕臥，煩躁。心中風，則吸吸發熱，不能行立，飢而不〔能〕食，食則嘔吐。夏心脈〔旺〕，左手〔寸口〕浮大而散，曰平；反此則病。若沉而滑者，水〔來〕剋火，十死不治。長而弦者，木來歸子，不治自愈。緩而大者，土來入火，〔為〕微邪相干，無所害。心病則胸中痛，〔脅〕滿〔脹〕，肩背臂膊皆〔痛〕；虛則多驚悸〔惕惕然〕無眠，胸〔腹及〕腰背引痛，喜悲。心積氣久不去，則苦煩，心中痛。實則笑不休，夢火發；心氣盛則夢喜笑〔及〕恐畏。邪氣客於心，則夢煙火，心〔脹〕氣短，夜臥不寧，懊憹，氣〔逆〕往來，腹中熱，喜水涎出。心病，日中慧，夜半甚，平旦靜。又左手脈大，手熱腋腫；大甚，胸中滿而煩，澹澹大動，面赤目黃也。心病，先心痛，時刻不止，關〔格〕不通，身重不已，三日死。心虛甚，則畏〔人〕，〔瞑〕目欲眠，精神不守，魂魄妄行。心脈沉之小而緊，浮之〔不〕喘，苦心下氣堅，食不下，喜嚥唾，手熱煩滿，多忘，太息，此得之思慮太過也。其脈急甚，瘛瘲；微急則心中痛，引前後胸背，不下食。緩甚則痛引背，善淚。小甚則噦，微小則消〔癉〕。滑甚則為〔渴〕，微滑則心〔疝〕，引臍腹鳴。澀甚諳不語。又心脈堅搏而長，主舌強不能言；軟而散，當懾怯不食也。又急甚〔則〕心疝，臍下有病形，煩悶少氣，大熱上煎。又心病狂言，汗出如珠，身厥冷，其脈當浮而〔大〕，反沉濡而滑，其色當赤，而反黑者，水剋火，不治，十死。又心積，沉之空空，上下往來無常處，病胸滿悸，腹中熱，面頰赤，咽乾，躁煩掌熱，甚則吐血，夏瘥冬甚，宜急療之，止於旬日也。又赤黑色入口必死也。面目赤色亦死，赤如〔衃〕血亦死。又憂〔恚〕思慮太過，心氣內去，其色反和而盛者，不出十日死。扁鵲云：心絕一日死，色見凶多，人雖健〔敏〕，號曰行屍，一年之中，禍必至矣。又其人語聲前寬後急，後聲不接前聲，其聲濁惡，其口不正，冒昧善笑，此風入心也。又心傷則心損，手足不遂，骨節離解，舒緩不自由，利下無休，此病急宜治之，不過十日而〔亡〕矣。又笑不休，呻而復憂，此水乘火也，陰〔擊〕於陽，陰起陽伏，伏則熱，熱生狂冒，譫〔亂〕妄言，不可採〔問〕，心已損矣。扁鵲云：其人唇口赤色可治，青黑色即死。又心〔瘧〕則先煩而後渴，翕翕發熱也，其脈浮緊而大是也。心氣實而（大）便不利，腹滿身熱而重，溫溫欲吐，吐而不出，喘息急，不安臥，其脈左寸口與人迎皆實大者是也。心虛則恐悸多驚，憂思不樂，胸腹中苦痛，言語戰慄，惡寒恍惚，面赤目黃，〔喜〕血衄，其脈左寸口虛而微者是也。此心臟寒熱虛實，生死逆順脈證也。</p>
<p>《主治備要》云：是動則病嗌乾心痛，渴而欲飲，是為臂厥。主心所生病者，目黃，（心）脅痛，臑臂內後廉痛厥，掌中熱痛。心苦〔緩〕，以五味子之酸收之。心欲軟，軟以芒硝之咸，補以澤瀉之咸，瀉以人參、甘草、黃耆之甘。心虛則以炒鹽補之。虛則補其母，木能生火，肝乃心之母，肝母生心火也。以生薑補肝，如無他證，錢氏安神丸是也。實則甘草瀉之，如無他證，錢氏方中，重則瀉心湯，輕則導赤散是也。</p>

<h3>（四）小腸經，手太陽，丙火。</h3>
<p>小腸者，受盛之腑也，與心為表裡，手太陽是其經也。小腸絕者，六日死，絕則髮直如麻，汗出不已，不能屈伸。又心病傳小腸，小腸咳則氣咳，（氣咳）一齊出也。小腸實則傷熱，（傷）熱則口瘡生；虛則傷寒，傷寒則泄膿血，或〔泄黑〕水，〔其〕根在小腸也。小腸寒則下，〔腫〕重〔有〕熱久不出，則漸生痔；有積則夕發熱而旦止；病氣發則使人腰下重，食則窘迫而便難，是其候也。小腸脹則小〔腹䐜〕脹，引〔腰而〕痛厥；邪入小腸，則夢聚井邑中，或咽痛頷腫，不可回首，肩似拔，臑似折〔也〕。又曰：心者，主也，神之舍也，其臟（固）密，而不易傷，傷則神去，神去則（心死）矣。故人〔心〕多不病，病即死不可治也，〔惟〕小腸受病〔多〕也。又左寸口陽絕〔者〕，（則）無小腸脈也，六日死。有熱邪則小便赤澀，實則口〔生〕瘡，身熱往來，心中煩悶，身重。小腸主於舌之官也，和則能言，而機關利健，善別其味也。虛則〔左〕寸〔口〕脈浮而微，軟弱不禁按，病驚懼狂無所守，心下空空然不能言語者。此小腸虛實寒熱，生死逆順脈證之法也。</p>
<p>《主治備要》云：是動〔氣也〕則病嗌痛頷腫，不可以顧，肩似拔，臑似折，〔是〕主液（血）所生病者，耳聾，目黃，頰腫，頸、頷、肩、臑、肘、臂外後廉痛。《脈訣》云：左寸，小腸心脈之所出也，先以輕手得之，是〔小腸〕屬表；後以重手得之，是〔心〕屬裡。心合血脈，心脈循血脈而行，持脈指法，如六菽之重，按至血脈而得者為浮；稍稍加力，脈道粗大〔者〕為大；又稍稍加力，脈道潤軟者為散。此乃浮大而散，心家不病脈之狀也。心脈本部，在於血脈，若出於血脈之上，見於皮膚之間，是其浮也；入於血脈之下，見於筋骨之分，是其沉也。</p>

<h3>（五）脾之經，脾脈本在肌肉，足太陰，濕，己土。</h3>
<p>經曰：脾者，土也，諫議之官，主意與智，消磨五穀，寄在（胸）中，養於四旁，旺〔於〕四季，正主長夏，與胃為表裡，足太陰（陽明），是其經也。扁鵲云：脾病則面黃色痿，實則舌強直，不嗜食，嘔逆，四肢緩；虛則多澼喜吞，注痢不已。又脾虛，則精不勝，元氣乏力，手足緩弱，不能自持。其脈來似流水，曰太過，病在外（也）；如鳥距，曰不及，病在內。太過令人四肢沉重，言語謇澀；不及令人中滿，不食乏力，手足緩弱不遂，涎引口中，四肢腫脹，溏泄不時，夢中飲食。脾脈來而和柔者，如雞踐地，曰平；來實而滿，〔稍〕數，如雞舉足，曰病；又如鳥之啄，如鳥之距，如〔屋〕之漏，曰死。中風則翕翕發熱，狀如醉人，腹中〔煩〕滿，皮肉〔瞤瞤〕（而起），〔其脈〕阿阿然〔緩〕，曰平；〔反〕弦急者，肝〔來〕克脾也，真鬼相遇，大凶之兆也。又微澀〔而〕短者，肺乘於脾，不治自愈；又沉而滑者，腎來乘脾，亦〔為不〕妨。又浮而洪，心來生脾，不為疾耳。脾病色黃體重，失便，目直視，唇反張，爪甲青，四肢沉，吐食，百節疼痛不能舉，其脈〔當〕浮大而緩，〔今〕反〔弦〕急，其色青，死不治。又脾病，其色黃，飲食不消，〔心〕腹脹滿，體重節痛，大便〔硬〕，（小便）不利，其脈微緩而長者，可治。脾氣虛，則大〔便滑〕，小便〔利〕，汗出不止，五液注下，為五色注痢下也。又積在其中，久不愈，四肢不收，黃疸，食不為「肌膚」，氣〔滿〕脹喘喘而不〔定〕也。脾實則時夢築牆垣蓋屋，盛則夢歌樂，虛則夢飲食不足。厥邪客於脾，則夢大澤丘陵，風雨〔壞屋〕。脾脹則善噦，四肢急，體〔重〕，不食善〔噫〕。脾病〔日昳慧〕，平旦甚，日中持，下晡靜。脈急甚，則瘛瘲；微急，則膈中不利，食不下而還出。緩甚，則痿厥；微緩，則風痿，四肢不〔收〕。大甚，〔則〕暴僕；微大，〔則痹疝〕，氣〔裹大膿血〕在腸胃之〔外〕。小甚，則寒熱作；微小，則消〔癉〕。滑甚，則頹疝；微滑，則蟲毒，腸鳴中熱。澀甚，則腸㿗；微澀，則〔內〕潰下膿血。脾脈至，大而虛，則有積。脾（氣）絕，則十日死。唇焦枯無〔紋理〕，（面）青黑者，脾先（死）。脾病，面黃目赤〔者〕，〔可治〕；青黑色入口，半年死；色如枳實〔者〕，一（日）死，吉凶休咎，皆〔見〕其色出〔於〕部〔分〕也。又口噤唇青，四肢重如山，不能自持，大小便利無休歇，飲食不入，七日死。又唇雖痿黃，語聲〔囀囀〕者，尚可治。脾病，（水）氣久不去，腹中痛鳴，徐徐熱汗出，其人〔本意寬〕緩，（今反急，怒語而鼻笑），不能答人，此不過一（日），禍必至矣。又脾中寒熱，則使人腹中痛，不下食，病甚〔舌〕強語澀，轉〔筋〕卵〔縮〕，〔陰股〕腹中引痛，身重，不思食，膨脹，變則水泄不能臥者，十死不治。脾〔土〕熱，則面黃目赤，〔季〕脅痛滿；寒則吐涎沫而不食，四肢痛，滑泄不已，手足厥，甚則戰慄如瘧也。臨病之時，切要〔明〕察脈證，然後投藥，此脾臟虛實寒熱，生死逆順脈證之法也。</p>
<p>《主治〔備〕要》云：是動則病舌本強，食則嘔，胃脘痛，腹脹善噫，得後與氣，則快然〔如〕衰，身體皆重。主脾所生病者，舌本痛，體不能動搖，食不下，煩心，心下急痛，寒瘧，溏瘕泄，水閉黃疽，不能臥，強立，股膝內腫厥，足大指不用。脾苦濕，急食苦以燥之，白朮；脾（虛則）以甘草、大棗之類補之，實則以枳殼瀉之，如無他證，虛則以錢氏益黃散，實則以瀉黃散。心乃脾之母，炒鹽補之；肺乃脾之子，桑白皮瀉之。</p>

<h3>（六）胃之經，足陽明，濕，戊土。</h3>
<p>胃者，脾之腑也，又名〔水〕谷之海，與脾為表裡。胃者，人之根本，胃氣壯，則五臟六腑皆壯（也），足陽明是其經也。胃氣絕，五日死。實則中脹便難，肢節痛，不下食，嘔逆不已。虛則腸鳴脹滿，滑泄。寒則腹中痛，不能食〔冷〕物。熱則面赤如醉人，四肢不〔收〕持，不〔得〕安眠，語狂㲋亂，便硬者是也。病甚則腹脅脹滿，嘔逆不食，當心痛，（下上）不〔通〕，惡聞香臭，嫌人語，振寒，善欠伸。胃中熱，〔則〕唇黑；熱甚，則登高而歌，棄衣而走，顛狂不定，汗出額上，鼽〔衄〕不止。虛極則四肢腫滿，胸中短氣，穀不化，中滿也。胃中風，則溏泄不已；胃不足，則多飢，不消食。病人鼻下平，則胃中病，渴者可治。胃脈搏堅而長，其色〔黃赤者，當病折髀〕。其脈弱而散者，病食〔痹〕。右關上浮而大者，虛也；浮而短澀者，實也；浮而微滑者，亦〔實〕也；浮而遲者，寒也；浮而數者，熱也。此胃〔腑〕虛實寒熱，生死逆順脈證之法也。</p>
<p>《主治備要》云：是動則病〔淒滄〕振寒，善〔呻〕數欠，顏黑，病至則惡人與火，聞木聲則惕然而驚，心欲動，〔獨〕閉戶〔塞牖而〕處，甚則登高而歌，棄衣而走，賁響腹脹，是為骭厥。《脈訣》云：右關上，脾胃脈之所出也，先以輕手得之，是胃，屬表；後以重手得之，是脾，屬裡。脾合肌肉，脾脈循肌肉而行，持脈指法，如九菽之重，按至肌肉，脈道如微風輕揚柳梢者為緩；又稍稍加力，脈道敦實者為大，此為緩大，脾家不病〔脈〕之狀也。脾脈本部在肌肉，若出於肌肉之上，見於皮毛之間者，是其浮也；入於肌肉之下，見於筋骨之分者，是其沉也。</p>

<h3>（七）心包絡，手厥陰，為母血。</h3>
<p>是動則病手心熱，肘臂攣急，腋腫，甚則胸脅〔支〕滿，心中〔憺憺〕大動，〔面〕赤㲋黃，喜笑不休，〔是〕主脈所生病者，煩心，心痛，掌中熱，治法與小腸同。</p>

<h3>（八）三焦，手少陽，為父氣。</h3>
<p>三焦者，人之三元〔之〕氣也，號曰中清之腑，總領五臟六腑，榮衛經絡，內外左右上下之氣也。三焦通，則上下內外左右皆通也。其於灌體周身，和內調外，榮養左右，宣通上下，莫大於此也。又名玉海水道。上則曰三管，中則曰霍亂，下則曰走泄，名雖三而歸（其），有其名而〔無〕其形，亦號孤獨之府。而衛〔出〕於上，榮出於中，上者絡脈之系也，中者經〔脈〕之系也，下者水道之系也，〔亦又〕屬膀胱之宗始，主通陰陽，〔調虛實〕，呼吸，有病則（善）腹脹氣滿，小〔腹〕堅，〔溺〕而不得，（大便）窘迫也。溢則作水，留則作脹，手少陽是其經也。又上焦實熱，則額汗〔出〕而身無汗，能食而氣不利，舌乾、口焦、咽閉之類，腹脹肋脅痛。寒則不入食，吐酸水，胸背引痛，嗌乾，津不納也。實則食已而還出，〔膨膨〕然不樂。虛則不能〔制〕下，遺溺，頭面腫也。中焦實熱，則下上不通，腹脹而喘，下氣不上，上氣不下，關〔格〕不利也。寒則下利不止，飲食不消，中滿。虛則腸鳴（膨膨）也。下焦實熱，則小便不通，大便亦難，苦〔重〕痛也。虛寒則〔大〕小便〔泄〕下不止也。三焦〔之氣〕和則內外和，〔逆〕則內外逆也。故云三焦者，人之三元〔之〕氣也。此三焦虛〔實〕寒熱，生死逆順之法也。</p>
<p>《主治備要》云：是動則病耳聾，渾渾焞焞，嗌腫喉〔痹〕。〔是〕主氣所生病者，汗出，目〔銳〕眥〔痛〕，頰〔痛〕，耳後肩臑肘臂外〔皆〕痛，小指次指不用。《脈訣》云：右尺三焦、命門脈之所出，先以輕手得之，是三焦，屬表；後以重手得之，是命門，屬裡也。上焦〔熱〕，涼膈散、〔瀉〕心湯；中焦熱，〔調〕胃承氣湯、〔瀉〕脾散；下焦熱，大承氣〔湯〕、三才封髓丹。氣分熱，柴胡飲子、白虎湯；血分熱，桃仁承氣湯、清涼飲子；通治其熱之氣，三黃丸、黃連解毒湯是也。</p>

<h3>（九）肺之經，肺（之）脈本部在於皮毛，手太陰，燥，辛金。</h3>
<p>〔經曰〕：肺者，魄之舍也，生氣之源，號為相傅，乃五臟之華蓋也。外養皮毛，內榮腸胃，與大腸為表裡，手太陰（陽明）是其經也。〔肺〕氣通〔於鼻〕，〔和〕則知其香臭，有病則善咳，鼻流清涕。〔凡〕虛實寒熱，則皆使人喘嗽，實則夢刀兵恐懼，肩息，〔胸中滿〕；〔虛則寒熱喘息〕，利下，少氣力，多悲感，旺於秋。其脈浮而毛，曰平；又浮而短澀者，肺脈也；其脈來毛而中央堅，兩（頭）虛，曰太過，則令人氣逆，胸滿背痛；不及，令人喘呼而咳，上氣見血。又肺脈來厭厭聶聶，如（循）榆莢，曰平；來如循雞羽，曰病；來如物之浮，如風吹鳥背上毛者，死。（真）肺脈至，大而虛，如〔以〕毛羽中人（皮）膚，其色白赤不澤，其毛折者死。微毛曰平，毛多曰病，毛而弦者春病，弦甚者即病。又肺病，吐衄血，皮熱脈數，頰赤者死。又久咳而見血身熱，而短氣，脈〔當〕澀，而今反浮大，色〔當〕白，而今反赤者，火剋金，十死不治。肺病喘咳身寒，脈遲微者，可治。秋旺於肺，其脈多浮澀而短，曰平；反此為病。又反洪大〔而〕長，是火刑金，亦不可治；反得沉而軟滑者，腎乘於肺，不治自愈；反浮大而緩者，是脾來〔生〕肺，不治自瘥；反弦而長者，〔是〕肺被肝〔橫〕，為微邪，雖病不妨。虛則不能息，〔身〕重；實則咽嗌乾，喘嗽上氣，肩背痛。有積，〔則〕脅下脹滿痛。中風則口燥而喘，身運而重，形似冒而腫，其脈按之虛弱如蔥葉，下無根者死。中熱則唾血，其脈細緊浮數芤者，皆主失血，此由躁擾嗔怒勞傷得之，氣壅結所為也。〔肺脹則其人喘咳〕而目〔如〕脫，其脈浮大〔者〕是也。又肺痿則〔吐〕涎沫，而咽乾欲飲者，欲愈；不飲者，未瘥。又咳而遺小便者，上虛不能制其下故也。其脈〔沉〕澀者，病〔在〕內；浮滑者，病〔在〕外。肺死則鼻孔開而黑枯，喘而目直視〔也〕。肺絕則十二日死，其狀腹滿，泄利不覺出，面白目青，此為亂經，雖天命亦不可治。又飲酒當風，中於肺，咳嗽喘悶，見血者，不可治也；面黃目白，亦不可治也。肺病頰赤者死。又言〔諳〕，喘急短氣，好唾，此為真鬼相害，十死十，百死百，大逆之兆也。又陽氣上而不降，燔於肺，肺自結邪，〔脹〕滿喘急，狂言瞑目，非〔當〕所說，而口鼻張，大小便俱〔脹〕，飲水無度，此因〔熱傷於肺〕，肺化〔為〕血，半年死。又肺〔瘧〕使〔人〕心寒，寒甚則發熱，寒熱往來，休作不定，多驚，咳〔喘〕如有所見者是也。其脈浮而緊，〔又〕滑而數，又遲而澀小，皆為肺〔瘧之脈〕也。又其人素聲清而雄〔者〕，暴不〔響〕亮，噎而氣短，用力言語〔難〕出，視不轉睛，雖未為病，其〔人〕不久。肺病實，則上氣喘悶，咳嗽身熱，脈大是也。虛則力乏喘促，右脅脹，言語氣短者是也。乍寒乍熱，鼻塞頤赤面白，皆肺〔病〕之象也。〔此〕肺臟虛實寒熱，生死逆順脈證法也。</p>
<p>《主治備要》云：是動則病肺脹滿，〔膨膨〕而喘咳，缺盆中痛甚，則交兩手而瞀，〔此〕為臂厥。〔是〕主肺所生病者，咳〔嗽〕上氣，喘渴煩心，胸滿，臑臂內前廉〔痛〕厥，掌中熱，氣盛有餘，則肩背痛，風寒，汗出中風，小便數而欠；氣虛則肩背痛寒，少氣不足以息，溺色變，遺矢無度。肺〔苦〕氣上逆，黃芩。肺欲收以酸，白芍藥也，補以五味子之酸，瀉以桑白皮之辛。虛則五味子補之，實則桑白皮瀉之，如無他證，錢氏瀉白散，虛則用阿膠散。虛則補其母，則以甘草補土；實則瀉其子，以澤瀉瀉腎水。</p>

<h3>（十）大腸經，手陽〔明〕，燥，庚金。</h3>
<p>經曰：大腸者，肺之腑也，傳道之司，號監倉之官。肺病久，則傳入大腸，手陽明是其經也。寒則泄，熱則結，絕則利下不止而死。熱極則便血。又〔風中〕大腸則下血。又實熱則〔脹〕滿而大便不通；虛寒則滑泄不止。大腸〔者〕，乍虛乍實，乍來乍去，寒則溏泄，熱則後重，有積物則發寒慄而戰，熱則發渴如瘧狀。積冷不去，則當臍痛，不能久立，痛已則泄白物是也。虛則喜滿喘嗽，咽中如核妨矣。此乃大腸虛實寒熱，生死〔逆順〕脈證之法也。</p>
<p>《主治備要》云：是動則病齒痛，頸腫。是主津液所生病者，目黃，口乾，鼽衄，喉痹，肩前臑痛，大指次指〔痛〕不用。氣有餘，則當脈所過者熱腫，虛則寒慄不復。《脈訣》云：右寸大腸肺脈之所出也，先以輕手得之，是大腸，屬表；後以重手得之，是肺，屬裡。肺合皮毛，肺脈循皮毛而行，持脈指法，如三菽之重，按至皮毛而得之者，為浮；稍稍加力，脈道不利，為澀；又稍加力，脈道縮入關中，上半指不動，下半指微動者，為短。此乃浮澀而短，肺不病之狀也。肺脈本部出於皮毛之上，見於皮膚之表，是其浮也；入於血脈肌肉之分，是其沉也。</p>

<h3>（十一）腎之經，命門，腎脈本部〔在〕足少陰，寒，癸水。</h3>
<p>經曰：〔腎者〕，精神之舍，性命之根，外通於耳，男子以〔藏〕精，女子以系胞，與膀胱為表裡，足少陰（太陽）是其經也。腎氣絕，則不盡天命而死也。旺於冬，其脈沉滑曰平，反此者病。其脈來如彈，〔石〕名曰太過，病在外；其去如解索，謂之不及，病在內。太過令人解㑊脊痛，而少氣不欲言；不及則令人心懸，小腹滿，小便滑，變黃色。又腎脈來喘喘累累如鉤，按之緊曰平；又來如引葛，按〔之〕益堅曰病；來如轉索，辟辟如彈石曰死。又腎脈但石無胃氣亦死。腎有水，則腹脹臍腫，腰重痛，不得溺，陰下濕，如同牛鼻頭汗出，〔足〕為逆寒，大便難。腎病，手足冷，面赤目黃，小便不禁，骨節煩疼，小〔腹〕結瘀熱，氣上衝心，脈〔當〕沉〔細〕而滑，今反浮大，其色當黑，〔今反黃〕，其人吸吸少氣，兩耳若聾，精自出，飲食少，便下清穀，脈遲可治。冬則脈沉而滑曰平，反浮大而緩，是土〔來〕剋水，〔大逆，十死不治〕；反浮澀而短，是肺〔來〕乘腎，〔雖病〕，易治；反弦〔細而〕長〔者〕，肝〔來〕乘腎，不治自愈；反浮大而洪，心〔來〕乘腎，不妨，腎病腹〔大脛〕腫，〔喘咳身重〕，〔寢〕汗出，憎〔風〕。虛則胸中痛。陰邪入腎，則骨痿腰痛，上引背脊痛。過房，汗出當風，浴水久立，則腎損。其脈急甚，則病痿；微急則沉厥奔豚，足不收。緩甚則虛損；微緩則洞泄，食不下，入咽還出。大甚則陰〔痿〕；微大則水氣〔起〕臍下，〔其腫埵埵然〕而上至胸者，死〔不治〕。小甚則（亦）洞泄；微小則消癉。滑〔甚〕則癃〔㿗〕；微滑則骨痿，坐不能起，目視〔見〕花。澀甚則寒壅塞;微澀則〔不月〕痔疾。其脈〔之〕至〔也〕，堅而大，有〔積〕氣在陰中及腹內也，名〔曰〕腎〔痹〕，得之浴清水，臥濕地來。沉而大堅，浮之而緊，手足腫厥，陰痿不起，腰背痛，小腹〔腫〕，心下有水氣，時脹滿〔而〕洞泄，此因浴水未乾，而房事得之也。虛則夢舟（舡）溺人，〔得其時，夢〕伏水中，〔若有所畏〕；實則夢臨〔深〕投水中。腎脹則腹〔痛〕滿，引脊腰痹痛。腎病夜半平，四季甚，下晡靜。腎生病，口熱舌乾，咽腫，上氣，嗌乾及痛，煩心而痛，黃疸，腸癖，痿厥，腰脊背急痛，嗜臥，足心熱而痛，胻酸。腎病久不愈，而膂筋疼，小便閉，而兩脅脹滿，目盲者死。腎〔之〕積，〔苦〕腰〔脊〕相引而痛，飢見飽減，〔此腎中〕寒結在臍下也。積脈來細而軟，附於骨者是也，面白目黑，腎已內傷，八日死。又陰縮，小便不出，出而不止者，亦死。又〔其〕色青黃連耳，其人年三十許，百日死；若偏在一邊，一（年）死。實則煩悶，臍下重；熱則口舌焦而小便澀黃；寒則陰中與腰背俱腫疼，面黑耳聾，乾嘔而不食，或嘔血者是也。又喉鳴，坐而喘咳，唾血出，亦為腎虛寒，〔氣〕欲絕者。此腎臟虛實寒熱，生死逆順脈證之法也。</p>
<p>《主治備要》云：是動則病飢不欲〔食〕，面如漆〔柴〕，咳唾則有血，〔喝喝〕而喘，坐而欲起，目䀮䀮〔如〕無所見，心如懸若飢狀，氣不足則善恐，心惕惕（然）如人將捕之，是為骨厥。〔是〕主腎所生病者，口熱，舌乾，咽腫，上氣，嗌乾及痛，煩心，〔心〕痛，黃疸，腸澼，〔脊〕股內後廉痛，痿〔厥〕，嗜臥，足下熱而痛也。腎〔苦〕燥，則以辛潤之，知母、黃柏是也。腎欲堅，〔堅〕以知母之苦，補以黃柏之苦，瀉以澤瀉之咸。腎虛則以熟地黃、黃柏補之。腎本無實，不可瀉，錢氏止有補腎地黃丸，無瀉腎之藥。肺乃腎之母，金生水，補母故也，又以五味子補之者是也。</p>

<h3>（十二）膀胱經，足太陽，寒，壬水。</h3>
<p>經曰：膀胱者，津液之府也，與腎為表裡，號為水曹〔掾〕，〔又〕名玉海，〔足〕太陽是其經也。總通〔於〕五腑，所以五腑有疾，則應膀胱；膀胱有疾，〔即應〕胞囊〔也〕。〔傷熱則〕小便不利，熱入膀胱，則其氣急，而小便黃澀也；膀胱寒則小便數而清（白）也。又水發則〔其〕根在膀胱，〔四肢瘦小〕，而腹反大〔是〕也。又膀胱咳〔久〕不已，傳之三焦，滿而不欲飲食也。然〔上〕焦主心肺之病，人有熱，則食不入；寒則神不守，泄下利不止，語聲不出也。實則上絕於〔心〕氣不行也，虛則引熱氣於肺。其三焦和，則五臟六腑之氣和，逆則皆逆。膀胱經中有厥氣，〔則〕夢行不快；滿脹，則小便不下，臍下〔重〕悶，或〔肩痛也〕。絕〔則〕三日死，死在雞鳴也。此膀胱虛實〔寒熱〕生死逆順脈證之法也。</p>
<p>《主治備要》云：是動則病（氣）沖頭痛，目似脫，項似拔，脊痛，腰似折，髀不可以曲，膕〔如〕結，〔踹〕如裂，是為踝厥。〔是〕主筋所生病者，痔，瘧，狂，癲疾，頭囟項痛，目黃淚出，鼽衄，項、〔背〕、腰、尻、膕、〔踹〕，腳皆痛，足小指不用。《脈訣》云：左尺，膀胱腎脈之所出也，先以輕手得之，是膀胱，屬表；後以重手得之，是腎，屬裡。命門與腎脈循骨而行，〔持〕脈指法，按至骨上得之為沉；又重手按之，脈道無力者，為濡；舉手來疾流利者為滑。此乃沉濡而滑，命門與腎〔脈〕不病之狀也。命門與腎部近骨，若出於骨上，見於皮膚血脈筋骨之間，是其浮也；入而至骨，是其沉也。</p>

<h2>四、三才治法</h2>
<p>華氏《石函經》曰：夫病有宜湯者、宜丸者、宜散者、宜下者、宜吐者、宜汗者。湯可以盪滌臟腑，開通經絡，調品陰陽；丸可以逐風冷，破堅積，進飲食；散可以去風、寒、暑、濕之氣，降五臟之結伏，開腸利胃。可下而不下，使人心腹脹滿，煩亂鼓〔脹〕；可汗而不汗，則使人毛孔閉塞，悶絕而終；可吐而不吐，則使人結胸上喘，水食不入而死。</p>

<h2>五、三感之病</h2>
<p>《內經》治法云：天之邪氣感，則害人五臟，肝、心、脾、肺、腎，實而不滿，可下之而已。水穀之寒熱感，則害人六腑，膽、胃、三焦、膀胱、大腸、小腸，滿而不實，可吐之而已。地之濕氣感，則害人肌膚，從外而入，可汗而已。</p>

<h2>六、四因之病</h2>
<p>注云：外有風寒暑濕，天之四令，無形者也；內有飢飽勞逸，亦人之四令，有形者也。</p>
<p>一者，始因氣動而內有所成者，謂積聚癥瘕，瘤氣、癭氣、結核，（狂瞀）癲癇。</p>
<p>二者，始因氣動而外有所成者，謂癰腫瘡瘍，疥癩疽痔，掉〔瘈〕浮腫，目赤熛〔胗〕（者痓），胕腫痛癢。</p>
<p>三者，〔不因氣〕動而病生於內者，謂留飲癖食，飢飽勞逸，宿食霍亂，悲恐喜怒，想慕憂結。</p>
<p>四者，不因氣動而病生於外者，謂瘴氣魅賊，蟲蛇蠱毒，〔蜚〕屍鬼擊，〔沖薄〕墜墮，風寒暑濕，〔斫〕射刺割等。</p>

<h2>七、五郁之病</h2>
<p>（注云：五運之法也。）</p>
<p>木鬱之病，肝酸〔木風〕。</p>
<p>注云：故民病胃脘當心而痛，（四肢）兩脅，（咽鬲）不通，飲食不下，甚則耳鳴眩轉，目不識人，善暴僵仆，筋骨強直而不用，卒倒而無所知也。經曰：木鬱則達之，謂吐令其調達也。</p>
<p>火鬱之病，心苦火暑。</p>
<p>注云：故民病少氣，瘡瘍癰腫，〔脅腹胸背，面首〕四肢，〔䐜膹臚脹〕，瘍痱嘔逆，瘛瘲骨〔痛，節乃有動〕，注下溫瘧，腹中暴痛，血溢流注，精液乃少，目赤心熱，甚至瞀悶懊憹，善暴死。經曰：火鬱發之，謂汗令其發散也。</p>
<p>土鬱之病，脾甘〔土濕〕。</p>
<p>注曰：故民病〔心〕腹脹，腸鳴而為數（便），甚則心痛脅䐜，嘔（吐）霍亂，飲發注下，〔胕〕腫身重，則脾熱之生也。經曰：土鬱奪之，謂下〔之令〕無壅滯也。</p>
<p>金鬱之病，肺辛〔金燥〕。</p>
<p>注云：故民病咳逆，心〔脅〕滿，引〔少腹〕，〔善〕暴痛，不可反側，嗌乾面塵色〔惡〕，乃金勝木而病也。經曰：金鬱泄之，解表利小便也。</p>
<p>水鬱之病，腎咸〔水寒〕。</p>
<p>注云：故民病寒〔客〕心痛，腰椎痛，大關節〔不利〕，屈伸不便，善厥逆，痞堅腹滿，陰乘陽也。經曰：水鬱〔折〕之，謂抑之制其沖逆也。</p>
<p>五運之政，猶權衡〔也〕，高者抑之，下者舉之，化者應之，變者復之，〔此生長化收藏之〕理也，失常則天地四〔塞〕也。</p>

<h2>八、六氣主治要法</h2>
<p>大寒醜上，初之氣，自大寒至春分，厥陰風木之位，一陽用事，其氣微。故曰少陽得甲子元頭，常以大寒初交之氣，分以六周甲子，以應六氣下。十二月、正月、二月少陽，三陰三陽亦同。</p>
<p>注云：初之氣為病，多發咳嗽，風痰，風厥，涎潮，痹塞口喎，半身不遂，失音，風〔癲〕，風中婦人，胃中留飲，臍腹微痛，嘔逆噁心，旋運驚悸，〔陽狂〕心風，搐搦顫掉。初之〔氣〕依《內經》在上者宜吐，在下者宜下。</p>
<p>春分卯上，二之氣，春分至小滿，少陰君火之位，陽氣〔動〕清明之間，有陽明之位也。</p>
<p>注云：二之氣為病，多發風濕風熱。經曰：風傷於陽，濕傷於陰，微則頭痛身熱，發作風濕之候，風傷於血也，濕傷於胃氣也。是以風濕為病，陰陽俱虛，而脈浮，汗出，身重，眠多鼻息，語言難出。以上二證，不宜熱藥，下之必死。二之氣病，宜以桂枝麻黃湯發汗而已。</p>
<p>小滿以上，三之氣，小滿至大暑，少陽相火之位，陽〔氣〕發萬物俱盛，故云太陽旺。其脈洪大而長，天氣並萬物人脈盛。</p>
<p>注云：三之氣為病，〔多發熱〕，皆傳足經者多矣，太陽、陽明、少陽、太陰、厥陰、少陰。太陽者，發熱惡寒，頭項痛，腰背強。陽明者，肌痛目痛，鼻乾不得臥。少陽胸脅痛，耳聾，口苦，寒熱往來而嘔。此三陽屬熱。太陰者，腹滿咽乾，手足自溫，自利不渴，或腹滿時痛。少陰，口燥舌乾而渴。厥陰〔煩〕滿，舌卷囊縮，喘熱悶亂，四肢厥冷，爪甲青色。三之氣病，宜下清上涼〔及〕溫養，不宜用巴豆熱藥下之。</p>
<p>大暑未上，四之氣，大暑至秋分，太陰濕土之位，陽氣發散之後，陰已用事，故曰太陰旺，此三陰三陽，與天氣標本陰陽異矣。脈緩大而長，燥金旺；緊細短澀，以萬物乾燥，明可見矣。</p>
<p>注云：四之氣為病，多發暑氣，頭痛身熱，發渴，不宜作熱病治（宜）以白虎湯，得此病不傳染，次發脾泄，胃泄，大腸泄，小腸泄，大瘕泄，霍亂吐瀉，〔白利〕及赤白相雜，米穀不消，腸鳴切痛，面浮足腫，目黃口乾，脹滿氣痞，手足無力，小兒亦如之。四之氣〔病〕宜滲泄，五苓之類是也。</p>
<p>秋分酉上，五之氣，秋分至小雪，陽明燥金之位，陽衰陰盛，故曰金氣旺，其脈細而微。</p>
<p>注云：五之氣為病，多發喘息，嘔逆咳嗽，及婦人寒熱往來，㾬瘧癉痔，消渴中滿，小兒斑疹痘瘡。五之氣病，宜以大柴胡湯解治表裡。</p>
<p>小雪亥上，終之氣，小雪至大寒，太陽寒水之位，陰極而盡，天氣所收，故曰厥陰旺。厥者，極也，其脈沉短而〔微〕。萬物收藏在內，寒氣閉塞膚腠，氣液不能越，故脈微也。</p>
<p>注云：終之氣為病，多發風寒，風痰濕痹，四肢不收。秋盡冬水復旺，水濕相搏，肺氣又衰，冬寒甚，故發則收引，病厥〔痿〕弱無以運用。水液澄澈清冷，大寒之疾，積滯瘕塊，寒疝血瘕。終之氣病，宜破積發汗之藥是也。</p>

<h2>九、主治心法</h2>

<h3>（一）〔隨證治病用藥〕</h3>
<p>頭痛須用川芎，如不愈，各加引經藥，太陽蔓荊，陽明白芷，〔少陽柴胡〕，〔太陰蒼朮〕，少陰細辛，厥陰〔吳〕茱萸。</p>
<p>頂巔痛，〔用〕藁本，去川芎。肢節痛，用羌活，風濕亦用之。小腹痛，用青皮、桂、茴香。腹痛用芍藥，惡寒而痛加桂；惡熱而痛加黃柏。腹中窄狹，〔用〕蒼朮、麥芽。下部腹痛川楝子。腹脹用薑製厚朴、紫草。腹中實熱，用大黃、芒硝。心下痞，用枳實、黃連。肌熱去痰，用黃芩；〔肌熱〕亦用黃耆。虛熱，用黃耆，亦止虛汗。脅下痛，往來寒熱，用柴胡。胃脘痛，用草豆蔻。氣刺痛，用枳〔殼〕，看何經，分以引經藥導之。眼痛不可忍者，用黃連、當歸根，以酒浸煎。莖中痛，用甘草〔梢〕。脾胃受濕，沉困無力，怠惰嗜臥，去痰。用白朮（枳實、半夏、防風、苦參、澤瀉、蒼朮）。破滯氣，用枳殼、（高者用之，能損胸中至高之氣，三二服而已。）（陳皮、韭白、木香、白豆蔻、茯苓）。調氣用木香、（香附子、丁、檀、沉。）補氣用人參、（用）膏、粳米。去滯氣用青皮，多則瀉元氣。破滯血用桃仁、蘇木、（紅花、茜根、玄胡索、郁李仁）。補血不足，用甘草（當歸、阿膠。）和血用當歸，凡血受病皆用。血刺痛用當歸，詳上下用根梢。（上部血，防風使〔牡〕丹皮、剪草、天麥二門冬。中部血，黃連使。下部血，地榆使。新血紅色，生地黃；陳血瘀色，熟地黃。）去痰用半夏，熱痰加黃芩，風痰加南星。胸中寒邪痞塞，用陳皮、白朮。然，多則瀉脾胃。嗽用（五味、杏仁、貝母），去上焦濕及熱，須用黃芩，瀉肺火故也。去中焦濕與痛，用黃連，瀉心火故也。去下焦濕腫及痛，並膀胱火，必用漢防己、草龍膽、黃柏、知母。渴者用干〔葛〕、茯苓（天花〔粉〕、烏梅），禁半夏。心煩，用梔子仁（牛黃、硃砂、犀角、茯苓）。飲水多致傷脾，用白朮、茯苓、豬苓。喘用阿膠。宿水不消，用黃連、枳殼。水瀉，用白朮、茯苓、芍藥。腎燥香豉。瘡痛不可忍者，用苦寒藥，如黃芩、黃連，詳上下分根梢及引經藥〔則可〕。小便黃用黃柏，澀者加澤瀉（餘瀝者杜仲）驚悸恍惚，用茯神、（金虎〔睛〕珠）（凡春加防風、升麻；夏加黃芩、知母、白芍藥；秋加澤瀉、茯苓；冬加桂、桂枝。）凡用純寒純熱藥，必用甘草，以緩其力〔也〕；寒熱相雜，亦用甘草，調和其性也；中滿者禁用。經曰：中滿勿食甘。</p>

<h3>（二）〔用藥凡例〕</h3>
<p>凡解利傷風，以防風為君，甘草、白朮為佐。經曰：辛甘發散為陽。風宜辛散，防風味辛，〔乃〕治風通用，故防風為君，甘草、白朮為佐。</p>
<p>凡解利傷寒，以甘草為君，防風、白朮為佐，是其寒宜甘發散也。或有別證，於前隨證治病藥內選用，其分兩以〔君〕臣論。</p>
<p>凡水瀉，茯苓、白朮為君，芍藥、甘草佐之。</p>
<p>凡諸風，以防風為君，隨證加藥為佐。</p>
<p>凡嗽，以五味子為君，有痰者半夏為佐；喘者阿膠為佐；有熱無熱，俱用黃芩為佐，但〔分〕兩多寡不同耳。</p>
<p>凡小便不利，黃柏、知母為君，茯苓、澤瀉為使。</p>
<p>凡下焦有濕，草龍膽、漢防己為君，黃柏、甘草為佐。</p>
<p>凡痔漏，以蒼朮、防風為君，甘草、芍藥為佐，詳別證加減。</p>
<p>凡諸瘡，以黃連為君，甘草、黃芩為佐。</p>
<p>凡瘧疾，以柴胡為君，隨所發之時，所屬〔之〕經，分用引經〔藥佐之〕。</p>
<p>以上皆用藥之大要，更詳別證，於前隨證治病〔藥內〕，〔逐款加減用之〕。</p>

<h3>（三）〔解利外感〕</h3>
<p>傷風者惡風，用防風二錢，麻黃一錢，甘草一錢。如頭痛，加川芎一錢；項下脊旁至腰病者，羌活一錢；體沉重，製蒼朮一錢；肢節痛，羌活一錢；目痛鼻乾及痛，升麻一錢；或乾嘔、或寒熱、或脅下痛者，俱加柴胡一錢。</p>
<p>傷寒惡寒者，麻黃二錢，防風一錢，炙甘草一錢；頭沉悶者，羌活一錢。</p>
<p>傷寒表熱，服石膏、知母、甘草、滑石、蔥、〔豉〕之類寒藥，汗出即解。如熱病半在表、半在裡，服小柴胡湯能令汗出而愈（者）。熱甚，服大柴胡湯之下；更甚者，小承氣湯下之；裡熱大甚者，調胃承氣湯下之，〔或〕大承氣湯下之。發黃者，茵陳湯下之；結胸中，陷胸湯下之。此皆大寒之利藥也。又言：身惡寒，麻黃湯汗泄之，熱去身涼即愈。</p>

<h3>（四）〔傷寒熱食物〕</h3>
<p>傷西瓜、冷水、牛乳寒濕之物，白朮二錢，川烏半錢，防風一錢，丁香一個，炙甘草一錢。</p>
<p>傷羊肉、面、馬乳皆濕熱之物，白朮一錢，黃連一錢，大黃二錢，炙甘草半錢，制黃芩一錢。</p>
<p>以上二證，腹痛加白芍藥一錢；心下痞，枳實一錢；腹脹，厚朴半錢；胸中不利，枳殼半錢；腹中寒，陳皮三分；渴者，白茯苓一錢；腹中窄狹，蒼朮一錢；肢體沉重，製蒼朮一錢；因怒而傷者，甘草半錢；因憂而傷者，枳殼半錢；因喜而傷者，五味子半錢；因悲而傷者，人參半錢。大抵傷冷物以巴豆為君，傷熱物以大黃為君，詳認病證，添加為佐之〔藥〕，或丸或散〔均〕可也。</p>

<h3>（五）目疾</h3>
<p>目疾暴發赤腫，羌活、防風、柴胡、香白芷、升麻、二制黃芩、黃連、甘草。白睛紅，白豆蔻；少許，則當歸為主。（去翳，穀精花、蟬蛻、瞿麥、秦皮洗。養目血，菊花。明目，蕤仁、蜀椒、龍腦。）凡眼暴發赤腫，以防風、黃芩為君以瀉火；和血為佐，黃連、當歸是也；兼以各經藥引之。凡目昏暗，以熟地黃、當歸根為君，以羌活、防風、甘菊花、甘草之類為佐。</p>

<h3>（六）瀉痢水泄</h3>
<p>凡痢疾腹痛，以白芍藥、甘草為君，當歸、白朮為佐，見血先後，分三焦熱〔論〕。凡瀉痢小便白，不澀為寒，赤澀為熱也。又法曰：完穀不化，而色不變，吐利腥穢，澄澈清冷，小便清白不澀，身涼不渴，脈細而微者，寒證也。穀雖不化，而色變非白，煩渴，小便赤黃而或澀者，熱證也。凡穀消化，無問他證及色變，便為熱也。寒泄而穀消化者，未之有也。瀉痢，白朮、甘草；水瀉，米穀不化，防風；傷食微加大黃；腹脹，厚朴；渴者，白茯苓；腹痛，白芍藥、甘草為主；冬月，白芍藥一半，白朮一半，夏月制黃芩。先見膿血，後見大便者，黃柏為君，地榆佐之；膿血相雜而下者，製大黃；先大便而後膿血者，黃芩二制，皆以當歸根梢，詳其上下而用之；腹不病，白芍藥半之。身體困倦，目不欲開，口不欲言，黃耆、人參；沉重者，製蒼朮。不思飲食者，木香、藿香葉。裡急，大黃、芒硝、甘草下之。後重者，木香、藿香、檳榔和之。</p>

<h3>（七）中風</h3>
<p>手足不遂者，中府也，病在表也，當先發汗，羌活、防風、升麻、柴胡、甘草各二錢，作一服，取發汗，然後行經養血，當歸、秦艽、甘草、獨活各一兩，行經〔者〕、隨經用之。</p>
<p>耳聾目瞀及口偏，邪中藏也，病在裡也，當先疏大便，然後行經。白芷、柴胡、防風、獨活各一兩，又川芎半兩，薄荷半兩。</p>
<p>上為末，煉蜜丸彈子大，每服一丸，細嚼，溫酒下，茶清亦可。</p>

<h3>（八）破傷風</h3>
<p>脈浮在表，當汗之；脈沉在裡，當下之。背後搐〔者〕，羌活、防風、獨活、甘草。〔向〕前搐者，升麻、白芷、防風、獨活、甘草。兩傍搐者，柴胡、防風、甘草；右搐者，白芷加之。</p>

<h3>（九）〔破傷中風法〕</h3>
<p>經曰：凡瘡熱甚鬱結，而榮衛不得宣通，故多發白痂，是時瘡口閉塞，氣不通泄，熱甚則生風也。《治法》曰：破〔傷〕中風，風熱燥甚，怫鬱在表，而裡氣尚平者，善伸數欠，筋脈拘急，或時惡寒而搐，脈浮數而弦者，以辛熱治風之藥，開沖結滯，榮衛宣通而愈也。凡用辛熱之藥，或以寒涼之藥佐之尤妙，免致藥不中病，而風轉甚。若破〔傷〕中風，表不已，而漸入於裡，則病勢轉甚；若里未太甚，而脈在肌肉者，宜以退風熱、開結滯之寒藥調之。或以微加治風辛熱藥，亦得以意消息，不可妄也。至寶丹亦涼藥也。如〔熱〕甚於里，以大承氣湯下之。</p>

<h3>（十）瘡瘍</h3>
<p>（苦寒為君：黃芩、黃柏、黃連、知母、生地黃酒洗。甘〔溫〕為佐：黃耆、人參、甘草。大辛解結為臣：連翹、當歸、藁本。辛溫活血去〔瘀〕：當歸梢、蘇木、紅花、牡丹皮。）脈浮者為在表，宜行經：黃連、黃芩、連翹、當歸、人參、木香、檳榔、黃柏、澤瀉。在腰以上至頭者，枳殼仍作引藥，引至瘡所。（出毒消腫：鼠黏子。排〔膿〕：肉桂。入心引血化經汗而不潰，〔傷〕皮：王瓜根、三稜、莪朮、黃藥子。痛甚：芩、連、柏、知母。）脈沉者在裡，當疏利臟腑，利後，用前藥中加大黃，取利為度，隨虛實定分兩。痛者，止以當歸、黃耆止之。</p>

<h3>（十一）婦人</h3>
<p>產婦臨月未誕者，凡有病，先以黃芩、白朮安胎，然後用治病藥。發熱及肌熱者，黃連、黃芩、黃耆、人參。腹痛者，白芍藥、甘草。感冒者，依前解利。</p>
<p>產後諸病，忌用白芍藥、黃芩、柴胡。內惡物上衝，胸脅痛者，大黃、桃仁。血刺痛者，當歸。內傷發熱，黃連。渴者，白茯苓。一切諸病，各依前法，惟渴去半夏，喘嗽去人參，腹脹忌甘草。</p>
<p>婦人帶下，舉世皆曰寒，誤之甚矣。所謂帶下者，任脈之病也。經曰：任脈者，起於中極之下，以上毛際，循腹裡，上關元，至於咽喉，上頤循面入目。注言：任脈自胞上，過帶脈，貫絡而上，然其病所發，正在帶脈之分，而淋瀝以下，故曰帶下也。其赤白說者，〔與〕痢義同，而無〔獨〕寒者。法曰：頭目昏眩，口苦舌乾，嗌咽不利，小便赤澀，大便澀滯，脈實而數者，皆熱證也。</p>

<h3>（十二）小兒</h3>
<p>小兒但見上竄及搖頭咬牙，即是心熱，黃連、甘草。目連閃，肝熱，柴胡、防風、甘草。若左腮紅，是肝風，與錢氏瀉青丸。〔右〕腮紅，肺熱，與瀉白散。額上紅者，是心熱，與黃連一味。鼻上紅，是脾熱，與錢氏瀉黃散。頦上紅者，腎熱，知母、黃柏皆二制，甘草炙。</p>
<p>凡〔治〕小兒病，藥味與大人同，只劑料等差少。如見腮、目胞赤，〔呵〕欠，嚏噴，驚悸，耳尖、手足梢冷，即是瘡疹。三日後其證不減，亦不見瘡苗，即以柴胡、升麻、甘草，〔加〕生薑煎，慎不可投以寒涼利臟腑之劑，使瘡不能出，其禍不可〔測〕。</p>
<p>凡養小兒，酒肉油膩生硬冷物及生水等，不可食，自無〔疳〕癖二證、驚風搐者，與破傷風同。</p>

<h3>（十三）潮熱</h3>
<p>潮熱者，黃連、黃芩、生甘草。辰戌時發，加羌活；午間發，黃連；未間發，石膏；申時發，柴胡；酉時，升麻；夜間，當歸根。若有寒者，加黃耆、人參、白朮。</p>

<h3>（十四）〔咳嗽〕</h3>
<p>咳嗽有聲無痰者，生薑、杏仁、升麻、五味子、防風、桔梗、甘草。無聲有痰者，半夏、白朮、五味子、防風、枳殼、甘草，冬月須加麻黃、陳皮少許。有聲有痰者，白朮與半夏、五味子、防風。久不愈者，枳殼、阿膠。痰有五證，風、氣、熱、寒、溫也，詳見《活法機要》中。</p>

<h3>（十五）〔五臟補瀉法〕</h3>
<p>肝　虛以陳皮、生薑之類補之，經曰：虛則補其母，水能生木，腎乃肝之母。腎，水也，若補其腎，熟地黃、黃柏是也。如無他證，錢氏地黃丸主之。實則白芍藥瀉之，如無他證，錢氏瀉青丸主之。實則瀉其子，心乃肝之子，以甘草瀉心。</p>
<p>心　虛則炒鹽補之，虛則補其母，木能生火，肝乃心之母。肝、木也；心、火也。以生薑瀉肝。如無他證，錢氏安神丸是也。實則甘草瀉之，如無他證，以錢氏方中重則瀉心湯，輕則導赤散。</p>
<p>脾　虛則甘草、大棗之類補之，實則以枳殼瀉之。如無他證，虛則以錢氏益黃散，實則瀉黃散。心乃脾之母，以炒鹽補之；肺乃脾之子，以桑白皮瀉肺。</p>
<p>肺　虛則五味子補之，實則桑白皮瀉之。如無他證，實則用錢氏瀉白散，虛則用阿膠散。虛則以甘草補土，補其母也；實則瀉子，澤瀉瀉其腎水。</p>
<p>腎　虛則熟地黃、黃柏補之，瀉以澤瀉之咸。腎本無實，本不可瀉，錢氏止有補腎地黃丸，無瀉腎之藥。肺乃腎之母，金生水，補之故也。補則以五味子。</p>
<p>以上五臟，《內經·藏氣法時論》中備言之，欲究其詳，精看本論。</p>

<h1>卷之中</h1>

<h2>十、《內經》主治備要</h2>

<h3>（一）〔五運主病〕</h3>
<p>諸風掉眩，皆屬肝木。</p>
<p>諸痛癢瘡瘍，皆屬心火。</p>
<p>諸濕腫滿，皆屬脾土。</p>
<p>諸氣膹郁、病痿，皆屬肺金。</p>
<p>諸寒收引，皆屬腎水。</p>

<h3>（二）〔六氣為病〕</h3>
<p>諸暴強直，〔支〕痛軟戾，裡急筋縮，皆屬於風。</p>
<p>諸病喘嘔吐酸，暴注下迫，轉筋，小便渾濁，腹脹大而鼓之有聲如鼓，癰疽〔瘍〕疹，瘤氣結核，吐下霍亂，瞀郁腫脹，鼻〔窒〕鼽衄，血溢血泄，淋〔閟〕身熱，惡寒〔戰〕慄，驚惑悲笑，譫妄，衄蔑血汙，皆屬於熱。</p>
<p>諸〔痙〕強直，積飲痞隔中滿，霍亂吐下，體重〔胕〕腫，肉如泥，按之不起，皆屬於濕。</p>
<p>諸熱瞀〔瘈〕，暴喑冒昧，躁擾狂越，罵詈驚駭，〔胕〕腫疼酸，氣逆衝上，禁慄如喪神守，嚏嘔，瘡瘍喉痹，耳鳴或聾，嘔湧溢，食不下，目昧不明，暴注〔瞤〕瘈，暴病〔卒〕死，是〔皆〕屬於火。</p>
<p>諸澀枯涸，幹勁皴揭，皆屬於燥。</p>
<p>諸病上下所出水液，澄澈清冷，癥瘕㿗疝，痞堅，腹滿急痛，下痢清白，食已不飢，吐〔利〕腥穢，屈伸不便，厥逆〔禁〕固，皆屬於寒。</p>

<h3>（三）〔五運病解〕</h3>
<p>五運主病，木、火、土、金、水，順則皆靜，逆則變亂，四時失常，陰陽偏勝，病之源也。</p>
<p>諸風掉眩，皆屬肝木。</p>
<p>注云：掉，搖也。眩，昏亂眩運也。風主動故也。所謂風氣甚則頭目眩者，由風木旺，則必是金衰不能制木，〔而〕木生火，木火者皆陽也，故風火多兼化也。風熱相摶，則頭目眩運而轉也。火性本動，火得風〔則〕成焰而旋轉也。風勢甚，則曲直動搖，更加嘔吐也。</p>
<p>諸痛癢瘡瘍，皆屬心火。</p>
<p>注云：痛癢而為瘡，火之用也。五常之道，過極則勝己〔者〕反來制之，故火熱過極，而反兼於水化也．所謂鹽能固物，而令不腐者，鹹寒水化，制其火熱，使無熱之過極，乃水化制之，而久固也。熱極即是木來生火也，甚則皮肉肌膚之間，不得宣通，故生瘡瘍而痛癢也。</p>
<p>諸濕腫滿，皆屬脾土。</p>
<p>注云：濕，地之體也。濕極甚則痞塞腫滿，物濕亦然。故長夏暑濕之甚，〔則〕庶物隆盛也。</p>
<p>諸氣膹郁、病痿，皆屬肺金。</p>
<p>注云：肺主氣，〔氣〕為陽，陽主輕清而升，故肺居上部，而為病則氣鬱。〔至於〕痿弱，手足無力，不能收持，乃血液衰少，故病然也。秋金〔旺〕，則霧氣蒙郁，而草木〔萎〕落，病之象也。</p>
<p>諸寒收引，皆屬腎水。</p>
<p>注云：收斂引急，寒之用也，故冬寒則物拘縮也。</p>

<h3>（四）〔六氣病解〕</h3>
<p>六氣為病，風、熱、濕、火、燥、寒，乃天之六氣也。</p>
<p>風木厥陰，肝膽之氣也。</p>
<p>諸暴強直，〔支〕痛緛戾，裡急筋縮，皆屬於風。</p>

<h3>〔暴強直〕</h3>
<p>注云：暴，卒也，虐害也。強勁有力而不柔和也。直，筋勁強也。</p>

<h3>〔支痛緛戾，裡急筋縮〕</h3>
<p>〔注云〕：支痛，支，持也，堅固支持，筋攣不柔而痛也。緛，緛縮也，戾，乖戾也，謂筋縮裡急，乖戾失常而病也。然燥金主為緊斂、短縮、勁切，而風木為病，反見燥金之化者，由亢則害，承乃制也。況風能濕而為燥也，筋縮者，燥之甚也，故謂風甚皆兼於燥也。</p>
<p>熱者，少陰君火之熱，乃真心小腸之氣也。</p>
<p>〔諸病喘嘔吐酸，暴注下迫，轉筋，小便渾濁，腹脹大而鼓之有聲如鼓，癰疽瘍疹，瘤氣結核，吐下霍亂，瞀郁腫脹，鼻窒鼽衄，血溢血泄，淋閟身熱，惡寒戰慄，驚惑悲笑，譫妄，衄蔑血汙，皆屬於熱。〕</p>

<h3>〔喘〕</h3>
<p>注云：喘，熱則息數氣粗而為喘也，故熱則脈實而甚數，喘之象也。</p>

<h3>嘔</h3>
<p>注云：火氣炎上之象也，故胃〔膈〕熱甚，則為嘔也。</p>

<h3>吐酸</h3>
<p>注云：〔酸者〕，肝木之味也。由火實制金，不能平木，則肝〔木〕自甚，故為酸也。法宜濕藥散之，亦〔猶〕解表之義也。使腸胃結滯開通，怫熱散而和之。若久喜酸而不已，不宜溫之，宜以寒藥下之，後以涼藥調之，結散熱去，則氣和〔也〕。</p>

<h3>暴注</h3>
<p>注云：卒暴〔注〕泄，腸胃熱甚，則傳化失常，火性疾速，故〔如〕是也。</p>

<h3>下迫</h3>
<p>注云：後重裡急，窘迫急痛也。火性急速，而能燥物故也。</p>

<h3>轉筋</h3>
<p>注云：轉，反戾也，熱氣燥爍於筋，〔則〕攣瘈而痛也。所謂轉者，動也，陽動陰靜，熱證明矣。多因熱甚，霍亂吐瀉，以致脾胃土衰，則肝木自甚，而熱燥於筋，故轉筋也。大法曰：渴則為熱，凡霍亂轉筋〔而〕不渴者，未之有也。或不因吐瀉，而但外冒於風，腠理閉密，陽氣鬱結，怫〔熱〕內作，熱燥於筋，則轉筋也。故諸轉筋，以湯漬之，而使腠理開泄，陽氣散而愈也。因湯漬之而愈，故反〔疑〕為寒也。</p>

<h3>小便渾濁</h3>
<p>注云：天氣熱則水渾濁，寒則水清潔，水體清，火體濁故也。又如清水為湯，則自然濁也。</p>

<h3>腹〔脹〕大而鼓之有聲如鼓</h3>
<p>注云：氣為陽，陽為熱，氣甚則然也。</p>

<h3>癰</h3>
<p>注云：淺而大也。經曰：熱勝血則為癰膿也。</p>

<h3>疽</h3>
<p>注云：深而惡也。</p>

<h3>瘍</h3>
<p>注云：有頭小瘡也。</p>

<h3>疹</h3>
<p>注云：浮而小癮疹也。</p>

<h3>瘤氣</h3>
<p>注云：赤瘤〔丹〕熛，熱勝〔氣〕也，火之色也。</p>

<h3>結核</h3>
<p>注云：火氣熱甚，則鬱結堅硬如果中核也，不必潰發，但以熱氣散，則自消也。</p>

<h3>吐下霍亂</h3>
<p>注云：三焦為水穀傳化之路，熱氣甚，則傳化失常，而吐下霍亂，火性燥動故也。大法曰：吐利煩渴為熱，不渴〔為〕寒。或〔熱〕吐〔瀉〕，始得之亦有不渴者，若不止，則亡液而後必渴也。或〔寒〕本不渴，若不止，〔亡〕津液過多，則亦燥而渴也。若寒者，脈當沉細而遲；熱者，脈當實大〔而〕數。或損氣亡液過極，則脈亦不能實數，而反緩弱也，雖爾，亦不為熱矣。</p>

<h3>瞀</h3>
<p>注云：昏也，熱氣甚，則濁亂昏昧也。</p>

<h3>郁</h3>
<p>注云：怫熱結滯，而氣不通暢也。所謂熱甚則腠理閉密而鬱結也。〔則〕如火煉物，反相合而不離也。故熱鬱則閉塞不通暢也。然寒水〔主〕於閉藏，而今反屬熱者，謂〔火〕熱亢甚，則反兼水化制之故也。</p>

<h3>腫脹</h3>
<p>注云：熱勝於內，則氣鬱而為腫也。陽熱氣甚則腹脹。火主長而高茂，形貌彰顯，升明舒榮，皆腫脹〔之象〕也。</p>

<h3>鼻窒</h3>
<p>注云：窒，塞也。火主䐜膹腫脹，故陽明熱，而鼻中〔䐜脹〕，則窒塞也。</p>

<h3>鼽</h3>
<p>注云：〔鼽者〕，鼻出清涕也。夫五常之道，微則當其本化，甚則兼其鬼賊，故經曰：亢則害，承乃制也。由是肝熱甚則出〔泣，心熱甚則出〕汗，脾熱甚則出涎，肺熱甚則出涕，腎熱甚則出唾。此乃寒〔傷〕皮毛，則腠理閉密，陽熱怫鬱，〔而病愈甚〕也。</p>

<h3>衄</h3>
<p>注云：陽熱怫鬱於足陽明，而上熱甚，則血妄行為鼻衄也。</p>

<h3>血溢</h3>
<p>注云：〔血溢者〕，上出也。心養於血，故熱甚則血有餘而妄行也。</p>

<h3>血泄</h3>
<p>注云：熱在下焦，而大小便血也。</p>

<h3>淋</h3>
<p>注云：小便澀痛，熱客膀胱，鬱結而不能滲泄故也。可用開結利小便之寒藥，以使結散熱退，血氣宣通，榮衛和平，精神清利而已。</p>

<h3>閟</h3>
<p>注云：大便澀滯也。熱耗其液，則糞堅結，大〔腸〕燥澀緊斂故也。俗謂風熱結〔者〕，謂火甚則制金，不能平木，則肝木自甚故也。或大便溏而〔閟〕者，燥熱在乎腸胃之外，而濕熱在內故也。</p>

<h3>身熱惡寒</h3>
<p>注云：此熱在表也。邪熱在表而淺，邪畏其正，故病熱而反惡寒也。仲景云：無陽不可發汗。又云：身熱〔惡〕寒，麻黃湯汗之。汗泄熱去，身涼即愈。</p>

<h3>戰慄</h3>
<p>注云：〔戰慄〕動搖，火之象也。陽動陰靜，而水火相反。故厥逆禁固，屈伸不便，為病寒也。慄者，寒冷〔也〕。此由心火熱甚，亢極而戰，反兼水化制之，故寒慄也。然寒〔慄〕者，由火甚似水，實非兼有寒氣也。故以大承氣湯下之，多有燥糞，下後熱退，戰慄愈矣。</p>

<h3>驚</h3>
<p>注云：心卒動而不寧也。火主〔於〕動，心火熱甚〔故〕也。雖爾，止為熱極於裡，乃火極而似水，則喜驚也。反兼腎之恐者，亢則害，承乃制故也。</p>

<h3>惑</h3>
<p>注云：疑惑、猶豫、濁亂，而志不一也。象火參差而惑亂，故火實則水衰，失志而惑〔亂〕也。〔志〕者，腎〔水〕之神也。</p>

<h3>悲</h3>
<p>注云：金肺之志也。金〔本〕燥，能令燥者，火也。所謂悲泣五液俱出〔者〕，火熱亢極，而反兼水化制之故也。</p>

<h3>笑</h3>
<p>注云：蕃茂鮮淑，舒榮彰顯，火之化也，故喜為心火之志也。喜極而笑者，猶燔爍火喜而鳴，笑之象也。</p>

<h3>譫</h3>
<p>注云：多言也。言為心聲，猶火燔而鳴，故心火熱則多言，猶心醉而熱，故多言也。</p>

<h3>妄</h3>
<p>注云：虛妄也。火為陽，故外清明而內濁昧，其主動亂。故心火熱甚，則腎水衰而志不專一，虛妄見聞，而〔自為〕問答，則神志失常，而如見鬼神也。</p>

<h3>衄蔑血汙</h3>
<p>注云：血出也。汙，濁也。心火熱極，則血有餘：熱氣上甚，則為血溢。熱勢亢極，則燥而汙濁；亢則害，承乃制，則色兼黑而為紫也。</p>
<p>濕者，太陰濕土，乃脾胃之氣也。</p>
<p>〔諸痙強直，積飲痞隔中滿，霍亂吐下，體重胕腫，肉如泥，按之不起，皆屬於濕〕。</p>

<h3>諸痙強直</h3>
<p>注云：筋勁強直，而不柔〔和〕也，〔土主〕安靜故也。陰痙曰柔痙，陽痙曰剛痙，亢則害，承乃制，故濕過極，則反兼風化制之。然，兼化者，虛象也，實非風也，治風則誤。</p>

<h3>積飲</h3>
<p>注云：留飲積蓄而不散也。〔水〕得燥則消散，濕則不消，以為積飲，土濕主痞故也。</p>

<h3>痞</h3>
<p>注云：與否同，不通泰也，謂紋理閉密，而為痞也。</p>

<h3>隔</h3>
<p>注云：阻滯也，謂腸胃隔絕，而傳化失常也。</p>

<h3>中滿</h3>
<p>注云：濕為積聚痞隔，而土主形體，位在中央，故中滿也。</p>

<h3>霍亂吐下</h3>
<p>注云：濕為留飲，為痞隔，而傳化失常，故甚則霍亂吐〔瀉〕也。大法曰：若利色青者，肝木之色，由火甚制金，使金不能平木，則肝自甚，故色青也。或言利色青為寒〔者〕，誤也。（則）如仲景曰：少陰病，下利清水，色純青者，熱在裡也，大承氣湯下之。及小兒熱甚急驚，利色多青，為熱明矣。利色黃〔者〕，由火甚則水必衰，而脾土自旺，故色黃也。利色紅者為熱，心火之色也；或赤者，熱深也。利色黑而反為熱者，由火盛過極，而反兼水化制之，故色黑也。（則）如傷寒陽明熱病，則日晡潮熱，甚則不識人，循衣摸床，如見鬼狀，獨語，法當大承〔氣〕湯下之。大便不黑者易治，黑則難治也。諸痢同法。然辨痢色以明〔寒〕熱者，更當審其〔飲食〕藥物之色也。（則）〔如〕小兒病熱，吐利霍亂，其乳未及消化，而痢尚白者，不可便言是寒，當以脈證別之。又法曰：凡泄利，小便清白，不澀為寒，赤澀者為熱也。又法曰：完穀不化，而色不變，吐利腥穢，澄澈清冷，小便不澀，身涼不渴，脈遲細而微者，寒證也。穀雖不化，其色變〔非〕白，煩渴，小便赤黃而或澀者，熱證也。凡穀消化者，無問他證，便為熱也。</p>

<h3>體重</h3>
<p>注云：輕清為天，重濁為地，故土濕為病，則體重痞〔宜〕也。</p>

<h3>胕腫、肉如泥、按之不起</h3>
<p>注云：按之不起，泥之象也，土過濕則為泥。濕為病也，積飲痞隔，中滿體重，霍亂吐下，故甚則〔胕〕腫也。</p>
<p>火者，少陽相火之熱，乃心包絡、三焦之氣也。</p>
<p>〔諸熱瞀瘈，暴喑冒昧，躁擾狂越，罵詈驚駭，胕腫疼酸，氣逆衝上，禁慄如喪神守，嚏嘔，瘡瘍喉痹，耳鳴或聾，嘔湧溢，食不下，目昧不明，暴注瞤瘈，暴病卒死，是皆屬於火。〕</p>

<h3>瞀</h3>
<p>注云：昏也。（則）如酒醉而心火熱甚，則神濁昧而瞀昏也。</p>

<h3>瘈</h3>
<p>注云：動也。惕跳動瘈，火之體也。</p>

<h3>暴喑</h3>
<p>注云：卒〔啞〕也。金肺主聲，火旺水衰，熱乘金肺，而神濁氣鬱，則暴喑而無聲也。</p>

<h3>冒昧</h3>
<p>注云：冒，昏冒也；昧，昏暗也。氣熱則神濁冒昧，火之體也。</p>

<h3>躁擾</h3>
<p>注云：躁動煩熱，擾亂而不寧，火之體也。熱甚於外，則肢體躁擾；熱甚於內，則神志躁動，反覆顛倒，懊憹煩心，不得眠也。由水衰而〔火〕之動也。故心胸躁動，謂之怔忪，俗云心忪，皆為熱也。</p>

<h3>狂越</h3>
<p>注云：狂者，無正定也；越者，乖越理法而失常也。〔夫〕外清內濁，動亂參差，火之體也；〔靜順清朗，準則信平，水之體也〕。由是腎水主智，而水火相反，故心火旺則腎水衰，乃失志而狂越也。凡發熱於中，則多幹陽明胃經也，故經云：陽明之厥，面赤而熱，妄言。</p>

<h3>罵詈</h3>
<p>注云：言為〔心〕之聲也。罵詈，言之惡也。今病陽實陰虛，則水弱火強，制金而不能平木，而善言惡發，罵詈不避親疏，〔本〕火熱之所生也。</p>

<h3>驚駭</h3>
<p>注云：驚〔駭〕者，〔驚〕愕也，火之用也。</p>

<h3>〔胕〕腫</h3>
<p>注云：熱勝〔肉〕而陽氣鬱滯故也。</p>

<h3>疼酸</h3>
<p>注云：痠疼也。由火實制金，不能平木，則木旺而為兼化，故痠疼也。</p>

<h3>氣逆衝上</h3>
<p>注云：火氣炎上故也。</p>

<h3>禁慄如喪神守</h3>
<p>注云：戰慄禁冷也。如喪神守者，神能御形，而反禁慄，則如喪失保守形體之神也。</p>

<h3>〔嚏〕</h3>
<p>注云：鼻中因癢，氣〔噴作〕聲〔也〕。鼻為肺竅，癢為火化，心火邪熱，干於陽明，發於鼻〔而〕癢，則〔嚏〕也。</p>

<h3>瘡瘍</h3>
<p>注云：君火〔化〕同也。</p>

<h3>喉痹</h3>
<p>注云：痹，不仁也，俗作閉，猶塞也。火主腫脹，故〔熱客〕於上焦，而咽噎腫脹也。</p>

<h3>耳鳴</h3>
<p>注云：有聲非妄聞也。耳為腎竅，交會〔手〕太陽、少陰、足厥陰、少陰、少陽之經，若水虛火實，而熱氣上甚，客其經絡，衝於耳中，則鼓其聽〔戶〕，隨其脈氣微甚而作音聲也。故經曰：陽氣為物，上甚而躍，故耳鳴也。然音在耳中，故微亦聞之也。</p>

<h3>聾</h3>
<p>注云：聾為腎虛冷，俗已誤之矣。夫《正理》曰：心火本熱，衰則寒矣；腎水本寒，衰則熱矣。腎水既少，豈能反為寒邪？故經言：足少陰腎水虛，則〔腹〕滿身重，濡〔瀉〕，瘡瘍，大便難，口苦，舌乾，咽腫，上氣，嗌乾及痛，煩心心痛，黃疸，腸澼下血，皆熱證也。凡治聾者，適其所宜，若熱證已退，其聾不已者，當以辛熱發之；二三服不愈者，不可久服，〔恐熱極而成他病耳〕。若聾有熱證相兼者，宜以散風退熱涼藥調之，熱退結散而愈也。然聾甚閉絕，亦為難矣。慎不可攻之，過極，則傷正氣也。</p>

<h3>嘔湧溢食不下</h3>
<p>注云：火氣炎上故也。胃膈熱甚，則傳化失常故也。</p>

<h3>目〔昧〕不明</h3>
<p>注云：目赤腫痛，翳膜眥傷，皆為熱也。經云：熱甚目瞑，眼黑也。仲景〔言〕傷寒病：熱極則目不識人，乃目盲也。《正理》曰：由熱甚怫鬱於目，而致之然也。</p>

<h3>暴注</h3>
<p>注云：卒〔瀉〕，與君火義同。</p>

<h3>瞤瘈</h3>
<p>注云：惕跳動也，火主動，故夏熱則脈洪大〔而〕長，瞤瘈之象也。</p>

<h3>暴病卒死</h3>
<p>注云：火性速疾故也。或心火暴甚，而腎水衰弱，不能制之，熱〔氣〕怫鬱，心神昏冒，則筋骨不用，〔卒〕倒而無所知，是為僵仆也。甚則水化制〔火〕，熱甚而生涎，至極即死也。俗云暗風，由火甚制金，不能平木，故風木自甚也。肥人腠理致密，而多鬱滯，氣血難以通利，若陽熱又甚而鬱結，甚則故卒中也。瘦人反中風者，由暴然陽熱太甚，而鬱結不通故也。</p>
<p>燥者，陽明燥金，乃肺與大腸之氣也。</p>
<p>〔諸澀枯涸，幹勁皴揭，皆屬於燥。〕</p>

<h3>澀</h3>
<p>注云：凡物濕潤則滑澤，乾燥則澀滯，燥濕相反故也。〔如〕遍身中外澀滯，皆屬燥金之化，故秋脈澀。澀，澀也。或麻者，亦由澀也。由水液衰少而燥澀，氣行壅滯，而不〔得〕滑澤通利，氣強攻衝，而為麻也。俗方〔多〕用烏附輩者，令氣因之〔沖〕開道路，以得通利，氣行，故麻愈也。無熱證，即當此法，治之甚佳。或風熱勝濕為燥，因而病麻，（則）〔宜以〕退風散熱，活血養液，潤燥通氣之涼藥調之，則麻自愈也。治〔諸〕燥澀，只如此〔法〕是也。</p>

<h3>枯涸乾勁</h3>
<p>注云：枯，不榮〔旺〕也；涸，無水液也；干，不滋潤也；勁，不柔和也。（然）春秋相反，燥濕不同〔故〕也。大法曰：身表熱為熱在表；渴飲水為熱在裡；身熱飲水，表裡俱有熱；身涼不渴，表裡俱無熱。經所不取火化渴者，謂渴非特為〔熱〕，如〔病〕寒吐利，亡液過極，則亦燥而渴也；雖病風熱，而液尚未衰，則亦不渴也。豈可止言渴為熱，而痞為寒也。</p>

<h3>皴揭</h3>
<p>注云：皮膚啟裂也。乾為天，為燥金；坤為地，為濕土。天地相反，燥濕異〔用〕，（故）燥金主於緊〔斂〕，故秋脈緊細而微；（而）濕土主於縱緩，故六月其脈緩大而長也。如地濕則縱緩滑澤，干則緊斂燥〔澀〕，皴揭之理明矣。俗言皴揭為風者，由風能勝濕，而為燥故也。經云：厥陰所至，為風府，為璺啟，由風勝濕而為燥也。</p>
<p>寒者，太陽寒水，乃腎與膀胱之氣也。</p>
<p>〔諸病上下所出水液，澄澈清冷，癥瘕㿗疝，痞堅，腹滿急痛，下利清白，食已不飢，吐利腥穢，屈伸不便，厥逆禁固，皆屬於寒。〕</p>

<h3>諸病上下所出水液，澄澈清冷</h3>
<p>注云：澄湛而不渾濁也。水體清淨，而其氣寒冷，故水穀不化，而吐利清冷，水液為病寒也。如天氣寒，則濁水自然澄清也。</p>

<h3>癥（猶徵也）</h3>
<p>注云：腹中堅硬，按之應手，謂之癥也。水體柔順，而今反堅硬如地體者，亢則害，承乃制也。〔故病濕〕過極而為痓，反兼風化制之也。風病過極而反燥，筋脈勁急，反兼金化制之也。燥病過極而煩渴，反兼火化制之也。熱病過極而反出五液，或為戰慄惡寒，反兼水化制之也。其為治者，俾以〔瀉〕其過極之氣，以為病本，不可反誤治其兼化也。夫五常之道，甚〔而〕無以制之，則造化息矣。如春木旺而多風，風大則反涼，是反兼金化制其木也。大涼之下，天氣反溫，乃火化承其金也。夏火熱極，體反出液，是反兼水化制其火也。因而濕〔蒸〕雲雨，乃土化承於水也。雨濕過極，而兼〔烈〕風，乃木化制其土也。飄〔驟〕之下，秋氣反涼，乃金化承於木也。涼極而反燥，乃火化制其金也。因而〔以為冬寒〕，乃水化承於火也。寒極則水〔凝〕如地，乃土化制其水也。凝凍極而起東風，乃〔木〕化承土而成歲也。凡不明病之標本者，由未知（此變化之道）也。</p>

<h3>瘕</h3>
<p>注云：腹中雖硬，而忽聚忽散，無有常准。經曰：血不流而寒薄，故血內凝（不流）而成瘕也。一云：腹內積病也。又曰：小腸移熱於大腸，為伏瘕，為沉。〔注〕曰：小腸熱以傳入大腸，兩熱相搏，則血溢而為〔虙〕瘕也。血澀不利，則月事沉滯而不行，故云為〔虙假〕、為沉〔虙〕。乃或陽氣鬱結，〔怫熱壅滯〕而堅硬不消者，非寒瘕也，宜以脈〔證〕別之。瘕〔一為〕疝，傳寫之誤。</p>

<h3>㿗疝</h3>
<p>注云：小腹連卵腫急絞痛也，寒主拘縮故也。寒極而土化制之，故腫滿也。經云丈夫㿗疝，謂陰器連小腹急痛也。經〔注〕曰：寒氣聚而為疝也。脈急者，寒之象也。然，寒則脈當短小而遲，今言急者，非急數而洪也，由緊脈主痛，急為病甚也。病寒縮急，亦短小也。所以有痛而脈緊急者，脈為心所養也。凡氣為痛，則心神不寧而緊急，不得舒緩，故脈亦（從）之而見也。欲知何氣為其痛〔者〕，診其緊急相兼之脈可知矣。如緊急洪數，則為熱痛之類也。</p>

<h3>堅痞腹滿急痛</h3>
<p>注云：寒主拘縮，故急痛也。寒極則血脈凝冱，而反兼土化制之，故堅痞而腹痛也。或熱鬱於內，而腹滿堅結痛〔者〕，不可言為寒也，當以脈別之。</p>

<h3>下利清白</h3>
<p>注云：寒則清淨明白故也。</p>

<h3>食已不飢</h3>
<p>注云：胃熱則消穀善飢，故病寒〔則〕食雖已而不飢也。胃〔膈〕潤澤，而無燥熱故也。或邪熱不殺穀，而腹熱脹滿，雖數日而不食，亦不飢者，不可言為寒也。由陽熱太甚而鬱結，傳化失常，故雖不食。亦不飢也。二證以脈別之自見。</p>

<h3>吐利腥穢</h3>
<p>注云：腸胃寒而傳化失常，我子〔能〕制鬼賊，〔則己當自實〕，故寒勝火衰金旺，而吐利腥穢也。腥者，金之臭也，由是熱則吐利酸臭，而寒則吐利腥穢也。〔亦猶〕飯漿，熱則喜酸，寒則水腥也。</p>

<h3>屈伸不便，厥逆禁固</h3>
<p>注云：陰水〔主〕於清淨，故病寒則四肢逆冷，而禁止堅固，舒捲不便〔利〕也。故冬脈沉（而）短以敦，病之象也，或病〔寒〕尚微，而未至於厥逆〔者〕，不可反以為熱；或熱〔甚〕而成陽厥者，不可反以為病寒也。然陰厥者〔之〕病脈候，皆為陰證，身涼不渴，脈遲細而微，未〔嘗〕見於陽證也。其陽厥者〔之〕病脈證，皆為陽證，熱極而反厥，〔時〕復反溫，雖厥而煩渴譫妄，身熱而脈數也。若陽厥〔極〕深，而至身冷，反見陰脈，而欲絕者，止為熱極而欲死也。經曰：一陰一陽之謂道，偏陰偏陽之謂疾，陰陽以平為和，以偏為病，萬物皆負陰抱陽而生，故孤陰不〔長〕，獨陽不成；是以陽氣極甚，而陰氣極衰，則陽氣怫鬱，陰陽偏傾，而不能宣行，則陽氣蓄聚於內，而不能營運於四肢，則手足厥冷為陽厥。仲景曰：熱深則厥亦深，熱微則厥亦微。又曰：厥當下之，下後厥愈。當以涼藥養陰退陽，涼膈散、調胃承氣湯下之是也。大凡治病者，必先明其標本，標者末，本者根源也。故經曰：先病為本，後病為標。又曰：標本相傳，先以治其急者。〔又〕言：六氣為本，三陰三陽為標，故病氣為本，受病經絡臟腑〔謂〕之標。夫標本微甚，治以逆從，不可不通〔也〕。故經曰：知逆與從，正行無問；明知標本，萬舉萬當；不知標本，是〔謂〕妄行。正此謂也。</p>

<h2>十一、六氣方治</h2>

<h3>（一）風</h3>
<p><u>〔防風通聖散〕：</u></p>
<p>治一切風熱鬱結，氣血蘊滯，筋脈拘攣，手足麻痹，肢體焦痿，頭痛昏眩，腰脊強痛，耳鳴鼻塞，口苦舌乾，咽嗌不利，胸膈痞〔悶〕，〔咳嘔〕喘滿，涕唾稠黏，腸胃燥〔熱結〕，便溺淋閉。或腸胃蘊熱鬱結，水液不能浸潤於周身，而為小便多出者；或濕熱內甚，而〔時〕有〔汗泄〕者；或表之正氣與邪〔熱〕並甚於里，陽極似陰，而寒戰煩渴者；或熱甚變為瘧疾，久不已者；或風熱走注，疼痛麻痹者；或腎水陰虛，心火陽熱暴甚〔而〕中風；或暴喑不語，及暗風癇〔者〕；或破傷中風，時發潮熱搐〔搦〕，並小兒熱甚驚風，或〔斑〕疹〔反〕出不快者；或熱極黑陷，將欲死者；或風熱瘡疥久不愈者；並〔解〕耽酒熱〔毒〕，及調理傷寒，發汗不解，頭項肢體疼痛，並宜服之。</p>
<p>防風（二錢半）　川芎（五錢）　石膏（一錢）　滑石（二錢）　當歸（一兩）　赤芍（五錢）　甘草（二錢半炙）　大黃（五錢）　荊芥穗（二錢半）　薄荷〔葉〕（二兩）　麻黃（五錢去根苗節）　白朮（五錢）　山梔〔子〕（二錢）　連翹（五錢）　黃芩（五錢）　桔梗（五錢）　牛蒡（酒浸五錢）　人參（五錢）　半夏（薑製，五錢）　</p>
<p>以上共五錢，上為粗末，每服四錢，水一盞，生薑三片，煎至六分，去滓，溫服。不計時候，日三服。病甚者五、七錢至一兩；極甚者，可下之，多服，〔二兩〕、三兩，得利後，卻當服三、五錢，以意加減。病愈，更宜常服，則無所損，不能再作。</p>
<p><u>靈砂丹：</u></p>
<p>治風熱鬱結，血氣蘊滯，頭目昏眩，鼻塞清涕，口苦舌乾，咽嗌不利，胸膈痞悶，咳嗽痰實，腸胃燥澀，小便赤；或腎水陰虛，心火熾甚，及偏正頭風痛，發落齒痛，遍身麻木，疥癬瘡瘍，一切風熱，並皆治之。</p>
<p>獨活　羌活　細辛　石膏　防風　連翹　薄荷（各三兩）　川芎　山梔　荊芥　芍藥　當歸　黃芩　大黃（生）　桔梗（以上各一兩）　全蠍（微炒半兩）　滑石（四兩）　菊花　人參　白朮（各半兩）　寒水石（一兩生用）　砂仁（一錢）　甘草（三兩生）　硃砂（一兩為衣）</p>
<p>上為細末，煉蜜為丸，每兩作十丸，硃砂為衣。每〔服〕茶清嚼一丸，食後服。</p>
<p><u>神仙換骨丹：</u></p>
<p>治氣血凝滯，榮衛鬱結，風熱濕氣相搏筋骨之間，內舍偏虛，發為不遂之病，氣感八風，血凝五痹，筋攣骨痛，癱瘓偏枯，一切風證，並宜治之。服之神妙，難以言宣。</p>
<p>槐角（炒黃熟）　桑白皮（去皮）　川芎　蒼朮（泔浸去皮）　白芷　蔓荊子（去萼）　人參　威靈仙　何首烏　防風（各二兩）　苦參　五味子　香附（各一兩）　麝（半兩別研）　麻黃（十斤）　硃砂（水飛一兩）</p>
<p>上將麻黃去根、苗、節，用河水三石三斗三升，小鬥七升是也，熬至六升，濾去麻黃，澄清再熬至二升半，入其餘藥末，每一兩三錢作十丸，硃砂為衣。每一丸，酒一盞，浸至晚，溶化，臨臥服。</p>
<p><u>不換金丹：</u></p>
<p>退風散熱。治風有二法，〔行〕經和血及開〔發〕腠理。經脈凝滯，非行經則血不順，是治於內也。皮膚鬱結，非開發則榮衛不和，是調理於外也。此亦發散之藥也。</p>
<p>荊芥穗　白殭蠶（炒）　天麻　甘草（各一兩）　羌活（去蘆）　川芎　白附子（生）　川烏頭（生）　蠍梢（去毒炒）　藿香葉（各半兩）　薄荷（三兩）　防風（一兩）</p>
<p>上為細末，煉蜜丸彈子大，每服細〔嚼〕茶清下。如口喎向左，即右〔腮〕上塗之，即止。</p>
<p><u>花蛇續命湯：</u></p>
<p>治卒中風，牙關緊急，精神昏憒，口眼喎斜，不知人事，痰涎不利，喉中作聲。</p>
<p>白花蛇（酒浸，去皮骨，焙乾）　全蠍（炒）　獨活（去土）　天麻　附子　人參　防風　肉桂　白朮　藁本　白附子（炮）　赤箭　川芎　細辛（去葉）　甘草（炙）　白殭蠶（去絲灰炒）　半夏（湯浸切）　白茯苓（去皮）　麻黃（去節，水煮三沸去沫，細切，以上各一兩）　</p>
<p>上為粗末，每服五錢，水一〔盞〕，生薑五片，煎至七分，去滓，稍熱服，不拘時。</p>
<p><u>加減沖和湯：</u></p>
<p>治中府之病，宣外陽，補脾胃，瀉風木，實表裡，養榮衛。</p>
<p>柴胡（五分）　升麻（三分）　黃耆（五分）　半夏（二分）　黃芩　陳皮　人參　芍藥　甘草（各二分半）　當歸　黃柏（酒浸，各三分）</p>
<p>上銼如麻豆大，作一服，水二〔盞〕，煎至一〔盞〕，去滓，稍熱〔服〕。</p>
<p>如有自汗多者，加黃〔耆〕半〔錢〕；嗽者加五〔味〕子二十〔粒〕。</p>
<p><u>防風天麻〔散〕：</u></p>
<p>治風痹走注，肢節疼痛，中風偏枯，或暴喑不語，內外風熱壅滯，解昏眩。</p>
<p>防風　川芎　天麻　羌活　白芷　當歸　草烏頭　白附子　荊芥穗　甘草（炙，各半兩）　滑石（二兩）</p>
<p>上為末，熱酒化蜜少許，調半錢，加至一錢，覺藥力運行微麻為度。或煉蜜〔丸〕如彈子大，每服一丸，熱酒化下。或半丸，細嚼，白湯下亦得。散鬱結，宣氣血。如甚者，服防風通聖散。</p>
<p><u>祛風丸：</u></p>
<p>治風偏，手足〔顫〕掉，語言謇澀，筋骨痛。</p>
<p>烏頭（炮）　天南星　草烏頭（炮）　半夏　綠豆粉（各一兩）　甘草　川芎　白殭蠶　藿香　零零香　地龍　蠍梢（各三兩）　川薑（半兩炮）</p>
<p>上末一兩，用綠豆粉一兩，白麵二兩，滴水丸梧桐子大。每三、五丸，細嚼，茶清下，或五、七丸亦得，食後服，初服三丸，漸加多。</p>
<p><u>大通聖白花蛇散：</u></p>
<p>中府之藥也。（大）治諸風，無問新久，手足軃曳，腰腳緩弱，行步不正，精神昏昧，口眼喎斜，語言謇澀，痰涎壅盛，筋脈攣急，肌肉頑痹，皮膚燥癢，骨節疼，目眩，下注腰腳，疼痛腿重，腫瘍生瘡；或痛無常〔處〕，遊〔走〕不定，及風氣上攻，面浮〔腫〕耳鳴，並宜服之。</p>
<p>天麻（去苗）　赤箭　防風（去苗）　藁本　木香　海桐皮　肉桂　杜仲（炒）　乾山藥　當歸　威靈仙　白附子（炮）　菊花　蔓荊子　羌活（去蘆）　虎骨（酥炙）　白芷　乾蠍　白花蛇（酒浸去皮，骨肉用）　蓽薢　甘草（炙）　牛膝（去苗）　郁李仁（去皮研）　厚朴（薑製，各一兩）</p>
<p>上為末，每服一錢至二錢，溫酒調下，荊芥湯調下亦得，空心服之。常服祛風逐氣，通行榮衛，久病風人，尤宜常服。輕〔者〕中風，不過二十服，平安如故。</p>
<p><u>活命金丹：</u></p>
<p>治風中臟不語，半身不遂，肢節頑痹，痰涎上潮，咽嗌不利，飲食不下，牙關緊禁，及解一切藥毒，發熱腹脹，大小便不利，胸膈痞滿，上實下虛，氣閉面赤，汗後餘熱不退，勞病諸〔證〕，無問老幼婦人，俱得服之。</p>
<p>川芎　甘草　板藍根　葛根（各一兩）　龍腦（二錢研）　麝香（二錢研）　牛黃（研五分）　生犀　桂（各三錢）　珠子粉（半兩）　川大黃（二兩半）　甜硝（一兩）　辰砂（四錢，一半為衣）　青黛（三錢）　薄荷（五錢）　</p>
<p>上為細末，煉蜜同水浸蒸餅，糊為劑，每一兩作十丸，別入硃砂為衣，就濕，以真金箔四十葉為衣。〔葛〕月修合，瓷器內收貯，多年不壞。如風毒，茶清送下；解毒藥，新冷水化下；餘熱勞病，及小兒驚熱，薄荷湯化下。以上煎，量大小加減用之。</p>
<p><u>至寶丹：</u></p>
<p>治卒中風急不語，中惡氣〔絕〕，中諸物毒，暗風，〔中〕熱疫毒，陰陽〔二〕毒，〔山〕嵐瘴〔氣〕毒，中暑毒，產後血暈，口鼻血出，惡血上攻心，煩躁，心肺積熱，〔霍〕亂吐利，風注筋惕，大腸風〔秘〕，神魂恍惚，頭目〔昏〕眩，眠臥不安，唇口乾焦，傷寒狂語，小兒急驚，風熱卒中，客忤，不得眠〔睡〕，驚風搐搦，以上無不治者。</p>
<p>辰砂（五兩水飛）　生犀（五兩）　麝香（二兩半）　玳瑁（五兩）　牛黃（二兩）　龍腦（五兩水飛）　人參（五兩）　銀箔（一百二十片，一半為衣，余入藥）　琥珀（五兩）　安息香（五兩，用酒半升熬膏）　金箔（二百二十片，一半為衣，余入藥）　雄黃（一兩半）　南星（三兩，水煮軟，切片。一法：酒二升半，浸蒸七次，焙乾用。）</p>
<p>上為細末，（半）用安息香膏，次煉蜜，一處搜和為丸，梧桐子大，每服三丸至五丸，煎人參湯下之。小兒〔一丸〕至二丸，湯下之同上。</p>
<p><u>牛黃通膈湯：</u></p>
<p>治初病風證，覺一二日實，則急下之。</p>
<p>牛黃（二錢別研）　大黃（一兩）　甘草（一兩炙）　朴硝（三錢別研）</p>
<p>上件為末，每服一兩，水二鍾，除牛黃、朴硝外，煎至一盞，去滓，入牛黃、朴硝一半調服，以利三、二行為度。未利，再量虛實加減服之。</p>

<h3>（二）暑熱</h3>
<p><u>白虎湯：</u></p>
<p>傷寒大汗出後，表證已解，心胸大煩，渴欲飲水。及吐或下後七八日，邪毒不解，熱結在裡，表裡俱熱，時時惡風，大渴，舌上乾燥而煩，欲飲水數升者，宜服之。又治夏月中暑毒，汗出，惡寒，身熱而渴。</p>
<p>知母（去皮一兩半）　甘草（一兩炙）　粳米（一合）　石膏（亂文者，別研，四兩）</p>
<p>上為末，每服三錢，水一盞半，煎至一〔盞〕，去滓，溫服。小兒量力與之。或加人參少許同煎亦得，食後服。此藥立夏後〔立〕秋前可服，春時及秋後並亡血虛人不宜服。</p>
<p><u>桂苓甘露飲：</u></p>
<p>治飲水不消，嘔吐瀉利，流濕潤燥，宣通氣液，水腫〔腹〕脹，泄瀉不能〔止〕者。兼治霍亂吐瀉，下利赤白，煩渴，解暑毒大有神效，兼利小水。</p>
<p>白茯苓（去皮）　白朮　豬苓　甘草（炙）　澤瀉（以上各一兩）　寒水石（一兩別研）　桂（去粗皮半兩）　滑石（二兩別研）</p>
<p>上為末，或煎，或水調，二三錢任意，或入蜜少許亦得。</p>
<p><u>桂苓白朮散:</u></p>
<p>治冒暑、飲食，所傷轉甚，濕熱內甚，霍亂吐瀉，轉筋急痛，腹滿〔痞〕悶，小兒吐瀉驚風，宜服之。</p>
<p>木香　桂枝　藿香　人參　茯苓（去皮各半兩）　甘草（炙）　白朮　葛根　澤瀉　寒水石（各一兩）　滑石　石膏</p>
<p>上為末，每服三錢，白湯調下，新水或生薑湯亦得。</p>
<p><u>益元散：</u></p>
<p>桂府滑石（二兩燒紅）　甘草（一兩）</p>
<p>上為極細末，每服三錢，蜜少許，溫水調下，無蜜亦得。或飲冷者，新水亦得。或發汗，煎蔥白豆豉湯調，無時服。</p>
<p><u>竹葉石膏湯：</u></p>
<p>治傷寒解後，虛羸少氣，氣逆〔欲吐〕。</p>
<p>淡竹葉（六錢半銼）　石膏（四兩別研）　人參　甘草（炙，各半兩）　麥門冬（一兩半）　半夏（二錢半湯洗）</p>
<p>上銼如麻豆大，每服五錢，水一盞半，入粳米百餘粒，煮取八分，米熟，去滓溫服。</p>
<p><u>化痰玉壺丸：</u></p>
<p>南星　半夏（生）　天麻（各一兩）　白麵（三兩）</p>
<p>上為細末，滴水丸梧子大，每服二十丸，用水一大〔盞〕，先煎令沸，下藥煮，候浮，漉出，方熟。放溫，別用生薑湯下，不拘時候。</p>
<p><u>四君子湯：</u></p>
<p>治煩熱燥渴。</p>
<p>白茯苓（去皮）　人參（去蘆）　甘草（炙）　白朮（各等分）　</p>
<p>上㕮咀，〔每服〕三錢，水一盞，煎至七分，去滓，溫服。</p>
<p><u>白朮散：</u></p>
<p>治諸煩（熱）渴，津液內耗，不問陰陽，服之止渴生津液。</p>
<p>白朮　人參　白茯苓（去皮）　甘草（炙）　藿香　木香（各一兩）　乾葛（二兩）</p>
<p>上為粗末，每服三錢，水一盞，煎至七分，去滓，溫服，不拘時。</p>
<p><u>小柴胡湯：</u></p>
<p>治傷寒溫病，惡風，頸項強急，胸膈肋痛，嘔噦煩渴，寒熱往來，身面皆黃，小便不利，大便秘硬；或過經未解，潮熱不除；及瘥後勞復，發熱頭痛，婦人傷風，頭痛煩熱，經血適斷，寒熱如瘧，發作有時；及產後傷風，頭痛煩熱，並宜服之。</p>
<p>柴胡（四兩去苗）　黃芩　人參　半夏（湯洗七次）　甘草（各一兩半）</p>
<p>上為粗末，每服二錢，水一盞半，生薑五片，棗子一枚，擘破，同煎至七分，去渣，熱服，不拘時。小兒分作二服，更量加減。</p>
<p><u>升麻葛根湯：</u></p>
<p>治大人小兒，時氣瘟疫，頭痛發熱，肢體煩熱，瘡疹未發，並宜服之。</p>
<p>升麻　葛根　甘草（炙）　芍藥（各半兩）</p>
<p>上為末，每服三錢，水一盞半，煎至一盞，去渣，稍熱服，不拘時。日進二、三服，病去身涼為度。小兒量力與服。</p>

<h3>（三）濕土</h3>
<p><u>葶藶木香散：</u></p>
<p>治濕熱內外〔甚〕，水腫〔腹〕脹，小便赤澀，大便滑瀉。</p>
<p>葶藶　茯苓（去皮）　白朮　豬苓（去皮，各一兩）　木香（半錢）　澤瀉　木通　甘草（各半兩）　桂（一錢）　滑石（三兩）</p>
<p>上為細末，每服三錢，白湯調下，食前服。此藥下水〔濕〕，消腫脹，止瀉利，利小便。若小便不得通利，而反轉泄者，此乃濕熱癃閟極深，而攻之不開，故反為注瀉，此正氣已衰，多難救也。慎不可攻之，而無益耳。</p>
<p><u>白朮木香散：</u></p>
<p>治喘嗽腫滿，欲變成水病（者），不能臥，不欲飲食，小便閉者。</p>
<p>白朮　豬苓（去皮）　澤瀉　赤茯苓（以上各半兩）　木香　陳皮（各二兩去白）　檳榔　官桂（各二錢）　滑石（三兩）</p>
<p>上為粗末，每服五錢，水一盞，生薑三片，煎至七分，去渣，食前溫服。</p>
<p><u>大橘皮湯：</u></p>
<p>治濕熱內甚，心腹脹滿，水腫，小便不利，大便滑泄。</p>
<p>橘皮（一錢半）　木香（一錢）　滑石（六錢）　檳榔（三錢）　茯苓（一兩去皮）　豬苓（去皮）　澤瀉　白朮　官桂（各五錢）　甘草（三錢）</p>
<p>上為末，每服五錢，水一盞，〔生〕姜五片，煎至七分，去渣，溫服。</p>
<p><u>桂〔苓〕白朮丸：</u></p>
<p>消痰逆，止咳嗽，散痞〔滿〕壅塞，開堅結痛悶，〔推〕進飲食，調和臟腑，無問寒濕〔濕〕熱，嘔吐瀉利，皆能開發，以令遍身流濕潤燥，氣液宣平而愈。並解酒毒，兼療肺痿癆嗽，水腫〔腹〕脹，瀉利不能止者，服之，利止為度，後隨證治之。</p>
<p>楝桂　乾生薑（各一分）　茯苓（去皮）　半夏（各一兩）　白朮　紅皮（去穰）　澤瀉（各半兩）　</p>
<p>上為末，麵糊為丸，〔如〕小豆大，每服二、三十丸，〔生〕薑湯下，日進三服。病〔在〕膈上，食後服；膈下，食前服；〔在〕中者，不拘時。或一法：加黃連半兩，黃柏二兩，〔水丸〕，取效甚妙。</p>
<p><u>六一散：</u></p>
<p>治身熱嘔吐泄瀉，腸癖下利赤白。治癃閉淋痛，利小便。偏蕩胃中積聚寒熱，〔宣積氣〕，通九竅六腑，〔生〕津液，去留結，消蓄水，止渴，〔寬〕中，除煩熱心躁。治腹脹痛，補益五臟，大養脾胃腎之氣，理內傷陰痿，安魂定魄，補五勞七傷，一切虛損。主癇痓驚悸，健忘，心煩滿短氣，臟傷咳嗽，飲食不下，肌肉疼痛。治口瘡，牙齒疳蝕，明耳目，壯筋骨，通〔經〕脈，和血氣，消水穀，保真元，解百藥酒食邪毒，〔耐〕勞〔役〕飢渴，〔宣〕熱，〔闢〕中外諸邪所傷，久服強志輕身，駐顏延壽，及解〔中〕暑、傷寒、疫癘、飢飽、勞損、憂愁、思慮、〔恚〕怒、驚恐、傳染。並汗〔後〕遺熱，勞復諸病，並解兩感傷寒，能令遍身結滯宣通，氣〔和〕而愈。及婦人下乳催生，併產後損液血衰，陰虛熱甚，一切熱病，並宜服之。兼〔防〕發吹奶乳〔癰〕，或已覺吹乳乳結，頓服即愈，乃神驗之仙藥也，惟孕婦不可服。</p>
<p>滑石（六兩燒紅）　甘草（一兩微炒）</p>
<p>上為細末，每服三錢，蜜少許，溫水調下，無蜜亦得，日三、四服，〔或水調下亦得，解利發汗，煎蔥白豆豉湯下四錢，並三四服，〕以效為度。此藥寒涼，解散〔鬱熱〕，〔若〕病甚不（可）解，多服無害，但有益耳。</p>
<p><u>五苓散：</u></p>
<p>治傷寒溫熱，病在表裡未解，頭痛發熱，口燥咽乾，煩渴飲水，或水入即吐，小便不利，及汗出表解，煩渴不止者，宜服之。及治霍亂吐利，煩渴飲水。</p>
<p>澤瀉（二兩半）　豬苓　赤茯苓（去皮）　白朮　官桂（去皮各一兩）　</p>
<p>上為粗末，每服三錢，熱湯下。惡熱，欲飲冷者，新水調下，或生薑湯下愈〔妙〕。或加滑石二兩甚佳。或喘嗽（咳）煩心不得〔眠〕者，加阿膠半兩。及治瘀熱在裡，身發黃疸，濃煎茵陳蒿湯調下，食前服。疸病發渴，及中水引飲，亦可服，新汲水調下。小兒加白朮末少許，如虛熱，加黃耆、人參末少許。</p>
<p><u>赤茯苓丸：</u></p>
<p>治脾胃〔水〕濕太過，四肢腫滿，腹脹喘逆，氣不宣通，小便赤澀。</p>
<p>葶藶（四兩炒）　防己（二兩）　赤茯苓（一兩）　木香（半兩）　</p>
<p>上為細末，棗肉丸梧桐子大，每服三十丸，桑白皮湯食前下。</p>
<p><u>人參葶藶丸：</u></p>
<p>治一切水腫。喘滿不可當者。</p>
<p>人參（一兩去蘆）　苦葶藶（炒四兩）</p>
<p>上為細末，棗肉丸梧子大，每三十丸煎桑白皮湯下。</p>
<p><u>海藻散：</u></p>
<p>治男子遍身虛腫，喘滿悶不快者。</p>
<p>海藻（銼碎）　川大黃　大戟（並銼）　續隨子（去殼，以上各二兩）　</p>
<p>上件，好酒二鍾，淨碗內浸〔一〕宿，取去曬乾候用。</p>
<p>甘遂（麵炒黃色一兩）　白牽牛（生一兩）　滑石（半兩）　肉豆寇　青皮（去穰）　橘皮（去白，以上各一兩）</p>
<p>上為細末，每服二錢，如氣實者，三錢半，平明冷茶清調下，至辰時取下水二、三行，腫減五、七分。隔二、三日，平明又一服，腫消。魚肉鹽皆忌。一曰：小兒腫一錢，五歲以下者半錢，孕婦勿服。</p>

<h3>（四）火</h3>
<p><u>涼膈散：</u></p>
<p>治傷〔寒〕表不（能）解，〔半入於〕里，下證未全，下後燥熱怫〔結〕於內，心煩懊憹不得眠，臟腑積熱，煩渴頭昏，唇乾咽燥，喉痹目赤，頰硬，口舌生瘡，咳唾稠黏，譫語狂妄，腸胃燥澀，〔便〕溺閉結，風熱壅滯，瘡癬發〔斑〕，驚風熱極，豆黑陷欲死者。</p>
<p>連翹（一兩）　山梔　大黃　薄荷　黃芩（以上各半兩）　甘草（一兩半）　朴硝（一錢）　</p>
<p>加減法：咽喉〔痛〕涎嗽，〔加〕荊芥半兩，桔梗一兩。咳而嘔者，加半夏半兩，每〔服〕生薑三片同煎。血衄嘔血，〔加〕當歸〔芍藥各半兩，生地黃一兩。淋者加滑石四兩，茯苓一兩〕。風眩目痛，加川芎半兩，石膏三兩，防風半兩。〔斑〕疹加葛根一兩，荊芥半兩，赤芍、川芎、防風、桔梗各半兩。</p>
<p>上為末，每服二錢至五錢，水一盞，蜜少許，同煎至七分，去渣溫服。虛實加減如前。或小兒可服七分八分，或無熱，甚黑陷，腹脹喘急，小便赤澀而將死者，此一服，更加大承氣湯約下之，得〔和〕者即瘥。</p>
<p><u>黃連解毒湯：</u></p>
<p>治傷寒〔雜〕病燥熱毒，煩悶乾嘔，〔口〕燥，呻吟喘滿，陽厥極深，蓄熱內〔甚〕，俗妄傳〔為〕陰毒者。及〔汗吐下〕後，〔寒涼諸藥，不能退熱勢〕，並兩感證同〔法〕。</p>
<p>黃連　黃柏　黃芩　大梔子（各半兩）　</p>
<p>上〔銼〕如麻豆大，每服半兩，水一盞，煎至四分，去渣溫服。或腹滿嘔吐，或欲作利者，每服加半夏三個，厚朴二錢，茯苓四錢去皮，水一盞半，姜三片，煎半盞，去滓溫服，名曰黃連半夏解毒湯。</p>
<p><u>三一承氣〔湯〕：</u></p>
<p>治傷寒雜證，內外所傷，日數遠近，腹滿咽乾，煩渴譫妄，心下按之硬痛，小便赤澀，大便結滯，或濕熱內〔甚而〕為滑泄，熱甚喘咳悶亂，驚悸狂顛，目病口瘡，舌腫喉痹癰瘍，陽明胃熱發〔斑〕，脈沉而可下者。小兒熱極風驚，潮搐昏塞，並〔斑〕疹黑陷不〔起〕，小便不通，腹滿欲死。或〔斑〕疹後，熱不退，久不作痂，或作〔斑〕癰瘡癬，久不已者，怫熱內盛，痃癖堅積，黃瘦瘧疾，久新暴卒心痛，風痰酒〔隔〕，腸垢積滯，久〔壅〕風熱，暴傷酒食，煩心悶亂，脈數沉實。或腎水陰虛，陽熱暴甚，而僵仆卒中，一切暴喑不語，蓄熱內傷，陽厥極深，脈反沉細欲絕。或表〔之〕沖和正氣，與邪氣並〔之〕於裡，則裡熱亢極〔似〕陰，反為寒戰，脈微而絕。或風〔熱〕燥甚，客於下焦，而大小便澀滯不通者。或產〔婦〕死胎不下，或兩感表裡熱甚，須可下〔者〕。</p>
<p>大黃　芒硝　枳殼　厚朴（各半兩）　甘草（一兩）　</p>
<p>上銼如麻豆大，水一盞半，姜三片，煎至六分，下硝一二沸，去渣熱服，以利為度。熱甚者，作一服，得利為效，臨時消息。</p>
<p><u>八正散：</u></p>
<p>治大人小兒心經邪熱，一切蘊毒，咽乾口燥，大渴引飲，心忪面熱，〔煩躁〕不寧，目赤睛痛，唇焦鼻衄，口舌生瘡，咽喉腫痛；又治小便赤澀，或癃閉不通，及熱淋血淋，並宜服之。</p>
<p>大黃（麵裹煨乾用）　瞿麥　木通　萹〔蓄〕　車前子　山梔　甘草（炙）　滑石（以上各一兩）　</p>
<p>上為散，每服二錢，水一盞，〔入〕燈心（些子），煎至七分，去滓溫服，食後臨臥。小兒量力與之。</p>
<p><u>洗心散：</u></p>
<p>治風壅壯熱，頭目昏痛，肩背〔拘〕急，肢節煩疼，熱氣上衝，口苦唇焦，咽喉腫痛，痰涎壅滯，涕唾稠黏，心神煩躁，眼澀睛疼，及寒〔熱〕不調，鼻塞聲重，咽乾多渴，五心煩熱，小便赤澀，大便閉硬宜服。</p>
<p>大黃（麵裹煨淨用）　甘草（炙）　當歸（去苗洗）　芍藥　麻黃（去根）　荊芥穗（各半兩）　白朮（三錢半）</p>
<p>上為細末，每服二錢，水一盞，生薑、薄荷各少許，同煎至七分，（內硝更上火煎一二沸）〔去滓，溫服。如小兒麩豆瘡疹，欲發先狂語，多渴，及驚風積熱，可服一錢，並臨臥服。如大人五臟壅實，欲要溏轉，加至四五錢，乘熱服之。〕</p>
<p><u>〔調胃承氣湯〕：</u></p>
<p>治胃中熱實而下滿，一切胃經實熱者，皆可服之。</p>
<p>大黃（炙半兩）　芒硝（半兩）　大黃（半兩）</p>
<p>《內經》曰：熱淫於內，治以鹹寒，佐以苦甘。芒硝鹹寒以除熱，大黃苦寒以蕩實，甘草甘平以助二物，推陳致新法也。</p>
<p>上件銼如麻豆大，水一盞，煮二味至七分，去滓，納硝更上火煎一二沸，服之。</p>
<p><u>大承氣湯：</u></p>
<p>治痞滿燥實，地道不通。</p>
<p>大黃（苦寒，一兩）　厚朴（苦寒薑製二兩）　芒硝（鹹寒一合）　枳殼（五個去穰麩炒）</p>
<p>〔《內經》曰：燥淫於內，所勝以苦下之，大黃枳實之苦，以除燥熱。又曰：燥淫於內，治以苦溫，厚朴之苦下燥結。又曰：熱淫所勝，治以鹹寒，芒硝之咸，以攻鬱熱蘊結。〕</p>
<p>上四味，以水五升，先煮二味，取三升，去滓，納大黃，取二升，去滓，入芒硝，更上火微煎一二沸，分二服，得下勿服余者。方內去硝，即小承氣湯也，治證同。</p>
<p><u>柴胡飲子：</u></p>
<p>解一切肌熱、蒸熱、積熱，及寒熱往來，蓄熱或寒戰，及傷寒發汗不解，或不經發汗傳受，表裡俱熱，口乾煩渴，或表熱入里，下證未全，下後熱未〔除〕，及汗後餘熱、勞復，或婦人經病不快，產後但有如此之證，並宜服之，乃氣分熱也。</p>
<p>柴胡　人參　黃芩　甘草（炙）　大黃　當歸　芍藥（各半兩）　</p>
<p>上為粗末，每服四錢，水一盞，姜三片，煎至六分，去滓溫服。小兒分三服，不拘時日，三服除病為度，熱〔甚者〕加服。</p>
<p><u>白虎湯：</u></p>
<p>方〔見〕前〔暑熱〕內，此方加甘草半兩。</p>
<p><u>桃仁承氣湯：</u></p>
<p>治熱結膀胱，其人如狂，熱在下焦，與血相搏，血下則熱〔隨〕出而愈。</p>
<p>芒硝　甘草　桂枝（各六錢）　桃仁（五十個去皮尖）　大黃（一兩三錢）　</p>
<p>甘以緩之，辛以散之，小腹急結，緩以桃仁之甘；下焦蓄血，散以桂枝之辛；〔大〕熱之氣，寒以〔取〕之；熱甚搏血，加〔二〕物於調胃承氣湯中〔也〕。</p>
<p>上五味，〔㕮咀〕，以水二升三合，煮取一升二合，去滓，納芒硝，煎一、二沸，分五服。</p>
<p><u>（神芎丸）：</u></p>
<p>治一切熱證，常服保養，除痰，消酒食，清頭目，利咽膈，能令遍身結滯宣通，氣利而愈。神強體〔健〕，耐傷〔省〕病。並婦人經病，產後血滯，腰腳重痛，小兒積熱，驚風潮搐，〔藏〕用丸，亦曰顯仁丸。加黃連、薄荷、川芎各半兩，名曰神芎丸。</p>
<p>大黃　黃芩（各二兩）　牽牛　滑石（各四兩）</p>
<p>上為末，滴水丸如小豆大，或煉蜜丸亦妙。每十五丸加至五、七十丸，溫水下，冷水亦得。</p>

<h3>（五）燥</h3>
<p><u>脾約丸：</u></p>
<p>約者，〔結〕約之象，又曰約束之約也。《內經》曰：飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，〔為〕其津液者。脾氣結，約束精液，不得四布五經，但輸膀〔胱〕，致小便數，大便硬，故曰其脾為約。麻仁味甘平，杏仁甘溫，《內經》曰：脾欲緩，急食甘以緩之。麻仁、杏仁潤物也，《本草》曰：潤可以去枯，腸燥必以甘潤之物為主，是以麻仁為君，杏仁為臣。枳殼味苦寒，厚朴味苦溫，潤燥者必以甘，甘以潤之；破結者必以苦，苦以泄之。枳殼、厚朴為佐，以散脾之約；芍藥味酸微寒，大〔黃〕味苦湧泄為陰，芍藥、大黃為使，以下脾之結。燥潤結化，津液還入胃中，則大便利，小便數愈。</p>
<p>麻仁（一兩）　白芍藥　枳殼　厚朴（各半兩）　大黃（二兩）　杏仁（湯浸，去皮尖，研三錢）　</p>
<p>上為極細末，蜜丸梧子大，米飲下三十〔丸〕，日進三服，漸加，以利為度。</p>
<p><u>潤腸丸：</u></p>
<p>治脾胃〔中〕伏火，大便秘〔澀〕，或乾燥不通，全不思食，〔此乃〕風結秘、血結秘，皆令閟塞也。〔風以潤之，血以和之〕，和血疏風，自通利矣。</p>
<p>麻仁　桃仁（去皮尖）　羌活　當歸　大黃（各半兩）</p>
<p>上除麻仁、桃仁別研如泥，余藥細研，煉蜜丸梧子大，每服五十丸至百丸，空心白湯下。〔如血澀而大便燥者，加桃仁酒洗大黃〕。如大便不通而澀，滋其榮〔甚〕者，急加酒洗大黃；如風結燥，大便不行，加〔麻〕仁、大黃；如風濕大便不行者，加皂角仁、大黃、秦艽以利之；如脈澀，覺身有氣〔澀〕而大便不通者，加郁李仁、大黃以除氣澀。</p>
<p><u>當歸潤燥湯：</u></p>
<p>升麻（一兩）　當歸（一兩）　生地黃（二兩）　甘草（一錢炙）　乾地黃（一錢）　桃仁（一錢研）　麻仁（一錢）　紅花（半錢）　大黃（一錢煨）</p>
<p>上桃仁、麻仁別研如泥，余銼〔麻豆大〕作一服，水二鍾，入桃、麻仁煎至一盞，去渣，空心宿食消盡，稍熱服。</p>
<p><u>橘杏丸：</u></p>
<p>治氣閉，老人虛弱〔人〕皆可服。</p>
<p>橘皮　杏仁（湯浸去皮尖）</p>
<p>上二味等分，煉蜜丸梧子大，每服七十丸，空心米飲下。</p>
<p><u>七〔宣〕丸：</u></p>
<p>療風氣，治結聚宿食不消，兼〔砂〕石皮毛在腹中，及積年腰腳疼痛，冷如〔冰〕石，腳氣衝心，煩〔憒〕，頭〔眩〕暗倒，肩背重，心腹脹滿，胸膈〔痞〕塞，風毒腫氣，連及頭面，大便或秘，小便時澀，脾胃〔虛〕痞，不能飲食，腳轉筋，攣急〔掣〕痛，心神恍惚，眠臥不安等疾。</p>
<p>柴胡（去苗五兩）　桃仁（去皮六兩）　枳實（麩炒五兩）　〔訶〕子皮（五兩）　木香（五兩）　大黃（麵煨十五兩）　甘草（炙四兩）　</p>
<p>上為細末，煉蜜丸梧子大，每服二十丸，食前臨臥服，米飲下一服，加至四、五十丸，宣利為度。覺病勢退，服五補丸，不問男女老幼，並可服之，量與加減。</p>
<p><u>麻仁丸：</u></p>
<p>調三焦，和五臟，潤腸胃，除風氣，及治風熱壅結，津液耗少，令大便閉澀不通，高年及有風人大便秘，宜服之。</p>
<p>枳實（麵炒）　白檳榔（各一兩半）　羌活（一兩洗）　菟絲子（一兩半酒浸別末）　〔山茱萸〕（一兩半）　郁李仁（四兩去皮）　車前子（一兩半）　肉桂（一兩）　木香（一兩）　大黃（四兩半）　麻仁（四兩別研）</p>
<p>上為細末，煉蜜丸如梧子大，每服十五丸至二十丸，臨臥溫水下。</p>
<p><u>神功丸：</u></p>
<p>治三焦氣壅，心腹痞悶，六腑風熱，大便不通，腰腳疼痛，肩背重〔疼〕，頭昏〔面〕熱，口苦咽乾，心胸煩躁，眠臥不安，及治腳氣，並素有風〔人〕大便結燥。</p>
<p>大黃（四兩面煨）　麻仁（二兩別研）　人參（二兩）　訶子皮（四兩）</p>
<p>上一處研，煉蜜丸如梧子大，每服三十丸，溫水下，酒亦得，食後服。如大便不通，倍服，利為度。</p>
<p><u>厚朴湯：</u></p>
<p>凡治臟腑之秘，不可一例治療，有虛秘，有實秘。有胃實而秘者，能飲食，小便赤，當以麻仁丸、七宣丸之類主之。胃虛而秘者，不能飲食，小便清利，厚朴湯宜之。</p>
<p>厚朴（三兩銼）　白朮（五兩）　半夏（二兩泡）　枳殼（二兩炒）　陳皮（三兩）</p>
<p>上為細末，每服三錢，水盞半，姜三片，棗三個，煎至一盞，去滓溫服，空心食前。胃實秘，物也；胃虛秘，氣也。</p>
<p><u>七聖〔丸〕：</u></p>
<p>治風氣壅盛，痰熱結搏，頭目昏重，涕唾稠黏，心煩面熱，咽乾口燥，精神不爽，夜臥不安，肩背拘急，胸膈痞悶，腹脹脅滿，腰腿重痛，大便秘澀，小便赤澀，宜服之。</p>
<p>川芎　肉桂　木香　大黃（各半兩酒浸）　羌活（一兩）　郁李仁（一兩去皮）　檳榔（半兩）</p>
<p>上〔七味為末〕，煉蜜丸梧子大，每〔服〕十五〔丸〕〔至〕二十〔丸〕，溫水下，食後臨臥〔服〕。〔山〕嵐瘴地，最宜服之。〔更量臟腑虛實加減〕</p>
<p><u>犀角丸：</u></p>
<p>治三焦邪熱，一切風氣，〔又〕治風盛痰實，頭目昏重，肢體拘急，痰涎壅塞，腸胃燥結，大小便難。</p>
<p>黃連　犀角（各一兩）　人參（二兩）　大黃（八兩）　黑牽牛（二十兩）</p>
<p>上與黑牽牛和合〔為〕細末，煉蜜丸如梧子大，每服十五丸至二十丸，臥時溫水下，更量虛實加減。</p>

<h3>（六）寒水</h3>
<p><u>大己寒丸：</u></p>
<p>治大寒積冷，臟腑虛〔寒〕，心腹疼痛，胸脅脹滿，泄瀉腸鳴，下利自汗，米穀不化，陽氣暴衰，陰氣獨盛，手足厥冷，傷寒陰勝，神昏脈短，四肢怠惰，並宜服之。</p>
<p>乾薑　良薑（各六兩）　桂　蓽茇（各四兩）　</p>
<p>上〔為末〕，水糊丸梧子大，每二十丸，米飲湯下，食前服。</p>
<p><u>四逆湯：</u></p>
<p>治陰證傷寒，自利不渴，嘔噦不止，〔或〕吐利俱作，小便澀；或利，脈微欲絕，腹痛脹滿，手足厥冷；或〔病〕內寒外熱，下利清穀，四肢沉重；或汗出不止，並宜服之。〔此藥助陽救衰〕</p>
<p>甘草（炙六錢）　乾薑（半兩）　熟附子（一枚去皮）</p>
<p>上㕮咀，每服四錢，水一盞半，煎至七分，溫服，不拘時。</p>
<p><u>附子理中丸：</u></p>
<p>治脾胃冷弱，心腹絞痛，嘔吐瀉利，轉筋霍亂，體冷微汗，手足厥冷，心下逆滿，腹中雷鳴，嘔吐不止，飲食不進，及一切沉寒痼冷，並宜服之。</p>
<p>人參　白朮　乾薑（炮）　甘草　附子（各二兩炮去皮臍）　</p>
<p>上〔五味為末〕，煉蜜丸，〔每兩作十丸〕，每〔服〕一丸，水一盞，拍破，煎至七分，稍熱，空心食前服之。</p>
<p><u>胡椒理中丸：</u></p>
<p>治脾胃虛寒，氣不通宣，咳嗽喘急，逆氣虛痞，胸膈噎悶，腹脹滿痛，迫塞短氣，不能飲食，嘔吐痰水不止。</p>
<p>胡椒　蓽茇　乾薑（炮）　款冬花　甘草　陳皮　良薑　細辛（去苗各四兩）　白朮（五兩）</p>
<p>上為細末，煉蜜丸梧子大，每服五丸至七丸，溫酒下，不拘時，日進三服。</p>
<p><u>理中丸：</u></p>
<p>治中焦不和，脾胃宿冷，心下虛痞，腹疼痛，胸脅逆冷，飲食不下，噫氣吞酸，口苦失味，怠惰嗜臥，不思飲食，及腸鳴自利，米穀不化。</p>
<p>白朮　乾薑（炮）　人參（去蘆）　甘草（炙各等分）</p>
<p>上〔為末〕，煉蜜丸梧子大，每服三十丸至五十丸，空心沸湯下。為粗末，理中湯也，味數相同。</p>
<p><u>鐵刷湯：</u></p>
<p>治積寒痰飲，嘔吐不止，胸膈不快，飲食不下，並宜服之。</p>
<p>半夏　草豆蔻　丁香　乾薑（炮）　〔訶〕子皮（各三錢）　生薑（一兩）</p>
<p>上㕮咀，水五盞，煎至二盞半，去渣，分三服，相繼不拘時。大吐不止，加附子三錢，生薑半兩。</p>
<p><u>桂附丸：</u></p>
<p>治風邪冷氣，入乘心絡，或臟腑暴感風寒，上乘於心，令人卒然心痛，或引背膂，甚則經久不瘥。</p>
<p>川烏頭（三兩炮去皮臍）　附子（三兩）　乾薑（二兩炮）　赤石脂（二兩）　桂（二兩）蜀椒（去目微炒）</p>
<p>上〔六味為末〕，蜜丸如梧子大，每〔服〕三十丸，溫水下，覺至痛處即止；若不止，加至五十丸，以知為度。若早服無所覺，至午後，再〔服〕二十丸。若久心痛，每服三十丸至五十丸，盡一劑，終身不發。</p>
<p><u>姜附湯：</u></p>
<p>治五臟中寒，或卒然暈悶，手足厥冷。</p>
<p>乾薑　附子（炮去皮臍）　甘草（炙各半兩）</p>
<p>上㕮咀，每服四錢，水盞半，姜五片，煎至七分，去渣，食前服。挾風不仁，加防風半兩；兼濕腫滿，加白朮半兩；筋脈攣急，加木瓜半兩；肢節疼，加桂心半兩。</p>
<p><u>加減白通湯：</u></p>
<p>治形寒飲冷，大便自利，完穀不化，腹臍冷痛，足脛寒逆。〔《內經》〕云：寒淫於內，治以辛熱；濕淫於內，治以苦熱，以苦發之。以附子大辛熱，助陽退陰，溫經散寒，故以為君。乾薑、官桂，辛甘大熱，亦除寒濕；白朮、半夏苦辛，溫胃燥脾濕，故為臣。草豆蔻、炙甘草、人參，甘辛大溫，溫中益氣；生薑辛大溫，能除濕之邪；蔥白辛溫，以通上焦陽氣，故以為佐。又云：補下治下制以急，急則氣味厚，故大作湯劑投之，不數服而（止）痛減，足脛漸溫，調飲食數〔次〕平〔復〕。</p>
<p>附子（一兩去皮臍）　乾薑（一兩炮）　官桂（五錢）　白朮（五錢）　草豆蔻（煨）　甘草　人參　半夏（炮各五錢）</p>
<p>上㕮咀，每兩，水二盞半，生薑五片，蔥五莖，煎至一盞二分，去滓，空心服。</p>
<p><u>二姜丸：</u></p>
<p>治痼冷。</p>
<p>良薑　乾薑（炮各三兩）</p>
<p>上〔二味等分〕，為末，酒糊丸梧子大，每服三十丸，空心下。</p>
<p><u>朮附湯：</u></p>
<p>治沉寒痼冷。</p>
<p>黑附子（炮一兩）　白朮（一兩半）　甘草（炙，七錢半）</p>
<p>上為細末，每服三、五錢，水盞半，姜五片，棗二枚，拍破，煎至一盞，去滓，食後溫服。</p>

<h1>卷之下</h1>

<h2>十二、〔用藥備旨〕</h2>

<h3>（一）氣味厚薄寒熱陰陽升降之圖</h3>
<figure>
<img alt="氣味厚薄寒熱陰陽升降之圖">
</figure>
<p>〔注云〕：味為陰，味厚為純陰，味薄為陰中之陽；氣為陽，氣厚為純陽，氣薄為陽中之陰。又曰：味厚則泄，味薄〔則〕通；氣厚則發熱，氣薄則發泄。又曰：辛甘發散為陽，酸苦湧泄為陰；鹹味通泄為陰，淡味滲泄為陽。</p>
<p>升降者，天地之氣交〔也〕，茯苓淡，為天之陽，陽也，陽當上行，何謂利水而泄下？經云：氣之薄者，陽中之陰，所以茯苓利水而泄下，亦不離乎陽之體，故人手太陽也。麻黃苦，為地之陰，陰也，陰當下行，何謂發汗而升上？經曰：味之薄者，〔陰〕中之〔陽〕，所〔以〕麻黃髮汗而升上，亦不離乎陰之體，故入手太陰也。附子，氣之厚者，乃陽中之陽，故經云發熱；大黃，味之厚者，乃陰中之陰，故經〔云〕泄下。（竹）淡，為陽中之陰，所以利小便也；茶苦，為陰中之陽，所以清頭目也。清陽發腠理，清之清者也；清陽實四肢，清之濁〔者〕也；濁陰歸六腑，濁之濁者也；濁陰走五臟，濁之清者也。</p>

<h3>（二）藥性要旨</h3>
<p>苦藥平升，微寒平亦升；甘辛藥平降，甘寒瀉火，苦寒瀉濕熱，甘苦寒瀉血熱。</p>

<h3>（三）用藥升降浮沉補瀉法</h3>
<p>肝膽：味辛補，酸瀉；氣溫補，涼瀉。</p>
<p>注云：肝膽之經，前後寒熱〔不同〕，逆順〔互〕換，入求〔責〕法。</p>
<p>心小腸：味鹹補，甘瀉；氣熱補，寒瀉。</p>
<p>〔注云〕：三焦命門補瀉同。</p>
<p>脾胃：味甘補，苦瀉；氣溫熱補，寒涼瀉。</p>
<p>注云：〔溫涼寒熱〕，各從其宜；逆順互換，入求〔責〕法。</p>
<p>肺大腸：味酸補，辛瀉；氣涼補，溫瀉。</p>
<p>腎膀胱：味苦補，咸瀉；氣寒補，熱瀉。</p>
<p>〔注云〕：五臟更相平也，一臟不平，所勝平之，此之謂也。故云：安穀則昌，絕谷則亡，水去則榮散，谷消則衛亡，〔榮散衛亡〕，神無所居。又仲景云：水入於經，其血乃成；谷入於胃，脈道乃行。故血不可不養，衛不可不溫，血溫衛和，榮衛乃行，常有天命。</p>

<h3>（四）〔臟氣法時補瀉法〕</h3>
<p>肝苦急，急食甘以緩之，甘草。</p>
<p>心苦緩，急食酸以收之，五味子。</p>
<p>脾苦濕，急食苦以燥之，白朮。</p>
<p>肺苦氣上逆，急食苦以泄之，黃芩。</p>
<p>腎苦燥，急食辛以潤之，黃柏、知母。</p>
<p>注云：開腠理，致津液，通氣血也。</p>
<p>肝欲散，急食辛以散之，川芎。以辛補之，細辛。以酸瀉之，白芍藥。</p>
<p>心欲軟，急食鹹以軟之，芒硝。以〔咸〕補之，澤瀉。以甘〔瀉〕之，黃耆、甘草、人參。</p>
<p>脾欲緩，急食甘以緩之，甘草。以甘補之，人參。以苦瀉之，黃連。</p>
<p>肺欲收，急食酸以收之，白芍藥。以酸補之，五味子。以辛瀉之，桑白皮。</p>
<p>腎欲堅，急食苦以堅之，知母。以苦補之，黃柏。以〔咸〕瀉之，澤瀉。</p>
<p>注云：此五者，有酸、辛、甘、苦、咸，各有所利，或散、或收、或緩、或軟、或堅，四時五臟病，隨五味〔所〕宜也。</p>

<h3>（五）治法綱要</h3>
<p>氣交變〔論云〕：五運太過不及。夫五運之政，猶權衡也，高者抑之，下者舉之，化者應之，變者復之，此長、化、收、藏之運，氣之常也，失常則天地四塞矣。</p>
<p>注云：失常之理，則天地四時之氣，無所運行。故動必有靜，勝必有復，乃天地陰陽之道也。以熱治熱法，經曰：病氣熱甚，而與寒藥交爭，〔則〕寒藥難下，故反熱服，順其病勢，熱勢既休，寒性乃發，病熱除愈，則〔如〕承氣湯寒藥，反熱〔服之〕者是也。病寒亦同法也。凡治病，必求〔其〕所在，病在上者治上，在下者治下，故中外臟腑經絡皆然。病氣熱，則除其熱；病氣寒，則退其寒，六氣同法。瀉實補虛，除邪養正，平則守常，醫之道也。</p>
<p>大法曰：前人方法，即當時對證之藥也。後人用之，當體指下脈氣，從而加減，否則不效。余非鄙乎前人而自用也，蓋五行相制相兼，生化制〔承〕之體，一時之間，變亂無常，驗脈〔處〕方，亦前人之〔法〕也。厥後通乎理者，〔當〕以余言為〔然〕。</p>

<h3>（六）用藥用方辨</h3>
<p>如仲景治表虛，制桂枝湯方，桂枝味辛熱，發散、助陽、體輕，本乎天者親上，故桂枝為君，芍藥、甘草佐之。〔如〕陽脈澀，陰脈弦，法當腹中急痛，制小建中〔湯〕方，芍藥為君，桂枝、甘草佐之。一則治其表虛，一則治其裡虛，是各言其主用也。後人之用古方者，觸類而長之，則知其本，而不致差誤矣。</p>

<h3>（七）去〔臟腑〕之火</h3>
<p>黃連瀉心火，黃芩瀉肺火，白芍藥瀉肝火，知母瀉腎火，木通瀉小腸火，黃芩瀉大腸火，石膏瀉胃火。柴胡瀉三焦火，〔須用〕黃芩佐之；柴胡瀉肝火，須用黃連佐之，膽經亦然。黃柏瀉膀胱火，又曰龍火，膀胱〔乃〕水之府，〔故曰龍火〕也。</p>
<p>以上諸藥，各瀉各經之火，不惟止能如此，更有治病，合為君臣，處詳其宜而用之，不可執而言也。</p>

<h3>（八）各經引用</h3>
<p>太陽經，羌活；在下者黃柏，小腸、膀胱也。少陽經，柴胡；在下者青皮，膽、三焦也。陽明經，升麻、白芷；在下者，石膏，胃、大腸也。太陰經，白芍藥，脾、肺也。少陰經，知母，心、腎也。厥陰經，青皮；在下者，柴胡，肝、包絡也。以上十二經之的藥也。</p>

<h3>（九）五味所用</h3>
<p>苦以〔瀉〕之，甘以緩之〔及〕發之，詳其所〔宜〕用〔之〕，酸以收之，辛以散之，咸以軟之，淡以滲之。</p>

<h3>（十）用藥各定分兩</h3>
<p>為君最多，臣次之，佐〔使〕又〔次〕之。藥之〔於證〕，所主停者，〔則〕各等分〔也〕。</p>

<h3>（十一）藥性生熟〔用〕法</h3>
<p>黃連、黃芩、知母、黃柏，〔治〕病在頭面及手梢皮膚者，須酒炒之，借酒力上升也。咽之下，臍之上〔者〕，〔須〕酒洗之；在下者，生用。凡熟〔升〕生〔降〕也。大黃鬚煨，恐寒傷胃氣；至於烏頭、附子，〔須〕炮去〔其〕毒也。用〔上焦〕藥，〔須〕酒洗曝乾。黃柏、〔知母〕等，寒藥也，久弱之人，須合〔之者〕，酒浸曝乾，恐寒傷胃氣也；熟地黃酒洗，亦然。當歸酒浸，助發散之用也。</p>

<h3>（十二）藥用根梢法</h3>
<p>凡根〔之〕在上者，中半以上，氣脈上行，以生苗者為根。中半以下，氣脈下行，入土者為梢。當知病在中焦用身，上焦用根，下焦用梢。經曰：根升梢降。</p>

<h3>（十三）五臟六腑相生相剋為夫妻子母</h3>
<p>肺〔為〕金，肝〔為〕木，腎〔為〕水，心〔為〕火，脾〔為〕土。生我者為父母，我生者為子孫；克我者為鬼賊，我克者為妻財。相生：木生火，火生土，土生金，金生水，水生木。相剋：木剋土，〔土剋水，水剋火，火剋金，金剋木〕。假令木生火，木乃火之父母，火乃木之子孫；木剋土，木乃土之夫，土乃木之妻。余皆仿此。</p>

<h3>（十四）七神</h3>
<p>心藏神，肺藏魄，肝藏魂，脾藏意與智，腎藏精與志。</p>

<h3>（十五）制方法</h3>
<p>夫藥有寒、熱、溫、涼之性，有酸、苦、辛、咸、甘、淡之味，各有所能，不可不通〔也〕。夫藥之氣味不必同，同氣之物，〔其〕味皆咸，其氣皆寒之類是也。凡同氣之物，必有諸味，同味之物，必有諸氣，互相氣味，各有厚薄，性用不等，制方者，必須明其用矣。經曰：味為陰，味厚為純陰，味薄為陰中之陽；氣為陽，氣厚為純陽，氣薄〔為〕陽中之陰。然，味厚則泄，薄則通；氣厚則發熱，氣薄則發泄。又曰：辛甘發散為陽，酸苦湧泄為陰，鹹味湧泄為陰，淡味滲泄為陽。凡此之味，各有所能。然，辛能散結潤燥，苦能燥濕堅軟，咸能軟堅，酸能收緩，甘能緩急，淡能利竅。故經曰：肝苦急，急食甘以緩之；心苦緩，急食酸以收之；脾苦濕，急食苦以燥之；肺苦氣上逆，急食苦以泄之；腎苦燥，急食辛以潤之，〔開腠理〕，致津液通氣也。肝欲散，急食辛以散之，以辛補之，以酸瀉之；心欲軟，急食鹹以軟之，以咸補之，以甘瀉之；脾欲緩，急食甘以緩之，以甘補之，以苦瀉之；肺欲收，急食酸以收之，以酸補之，以辛瀉之；腎欲堅，急食苦以堅之，以〔苦〕補之，以咸瀉之。凡此者，是明其〔氣〕味之用也。若用其味，必明其味之可否；若用其氣，必明其氣之所宜。識其病之標本臟腑，寒熱虛實，微甚緩急，而用其藥之氣味，隨其證而制其方也，是故方〔有〕君臣佐使，輕重緩急，大小反正逆從之制也。主病者為君，佐君者為臣，應臣者為使，此隨病之所宜，而又贊成方而用之。君一臣二，奇之制也；君二臣四，耦之制也。去咽喉〔之病〕，近者奇之；〔治肝腎之病〕，遠者耦之。汗者不〔可以〕奇，下者不〔可以〕耦。補上治上制以緩，緩則氣味薄；補下治下制以急，急則氣味厚。薄〔者〕則少服而頻服，厚者〔則〕多服而〔頓〕服。又當明五氣之郁，木鬱達之，謂吐令調達也；火鬱發之，謂汗令其疏散也；土鬱奪之，謂下無壅滯也；金鬱泄之，謂解表利小便也；水鬱折之，謂〔制〕其〔沖〕逆也。凡此五者，乃治病之〔大〕要〔也〕。</p>

<h3>（十六）㕮咀藥味</h3>
<p>古之用藥治病，擇淨口嚼，水煮服之，謂之㕮咀。後人則用刀桶內〔細〕銼，以竹篩齊之。</p>

<h3>（十七）〔藥類法象〕</h3>
<p>藥有氣味厚薄，升降浮沉補瀉主治之法，各各不同，今詳錄之，及揀擇制度修合之法，俱列於後。</p>

<h4>1.風升生</h4>
<p>味之薄者，陰中之陽，味薄則通，酸、苦、咸、平是也。</p>
<p>防風　氣溫味辛，療風通用，瀉肺實，散頭目〔中〕滯氣，除上焦風邪之仙藥也，誤服瀉人上焦元氣。《主治秘要》云：味甘純陽，太陽經本藥也，身去上風，梢去下風。又云：氣味俱薄，浮而升，陽也。其用主治諸風及去濕也。去蘆。</p>
<p>羌活　氣微溫，味甘苦，治肢節疼痛，手足太陽〔經〕風藥也。加川芎治〔足〕太陽、少陰頭痛，透關利節。《主治秘要》云：性溫味辛，氣味俱薄，浮而升，陽也。其用有五：手足太陽引經一也。風濕相兼二也。去肢節疼痛三也。除癰疽敗血四也。風濕頭痛五也。去黑皮並腐爛〔者〕，銼用。</p>
<p>升麻　氣平，味微苦，足陽明胃、足太陰脾引經藥。若補其脾胃，非此為引用不能補。若得蔥白、香芷之類，亦能走手陽明、太陽，能解肌肉間熱，此手足陽明〔經傷〕風之的藥也。《主治秘要》云：性溫味辛，氣味俱薄，浮而升，陽也。其用有四：手足陽明引經一也。升陽於至陰之下二也。陽明〔經〕分頭痛三也。去〔風邪在皮膚〕及至高之上四也。又云：甘苦，陽中之陰，脾痹非升麻不能除。刮去黑皮腐爛〔者用〕，里白者佳。</p>
<p>柴胡　氣味平，微苦，除虛勞煩熱，解散肌熱，去早辰潮熱，此少陽、厥陰引經藥也。婦人產前產後必用之藥（也）。善除本經頭痛，非〔他〕藥〔所〕能止。治心下痞，胸膈中痛。《主治秘要》云：味微苦，性平微寒，氣味俱輕，陽也，升也，少陽經分藥，〔能〕引胃氣上升，以發散表熱。又云：苦為純陽，去寒熱往來，膽痹非柴胡梢不能除。去蘆用。</p>
<p>葛根　氣平味甘，除脾胃虛熱而渴，又能解酒之毒，通〔行〕足陽明之經。《主治秘要》云：味甘性寒，〔氣味俱薄，體輕上行，浮而微降，陽中陰也。其用有四：止渴一也。解酒二也。發散表邪三也。發散小兒瘡疹難出四也〕。益陽生津液，不可多用，恐損胃氣。去皮用。</p>
<p>威靈仙　氣溫味〔苦甘〕，主諸風濕冷，宣通五臟，〔去〕腹內瘕滯，腰膝冷痛，及治傷損。《主治秘要》云：味甘，純陽，去太陽之風。鐵腳者佳，去蘆用。</p>
<p>細辛　氣溫，味大辛，治少陰〔經〕頭痛如神，當〔少〕用之，獨活為之使。《主治秘要》云：味辛性溫，氣厚於味，陽也，止諸陽頭痛，諸風通用之。辛熱，溫〔少〕陰〔之〕經，散水寒，治內寒。又云：味辛，純陽，〔止〕頭痛。去蘆並葉。華山者佳。</p>
<p>獨活　氣微溫，味甘苦平，足少陰腎引經藥也，若與細辛同用，治少陰〔經〕頭痛。一名獨搖草，得風不搖，無風自動。《主治秘要》云：味辛而苦，氣溫，性味薄而升，治風〔須〕用，及能燥濕。經云：風能勝濕。又云：苦頭眩目運，非此不能除。去皮淨用。</p>
<p>香白芷　氣溫，味大辛，治手陽明頭痛，中〔風〕寒熱，解利藥也，以四味升麻湯中加之，通行手足陽明經。《主治秘要》云：味辛性溫，氣味俱輕，陽也，陽明經引經之藥，治頭痛〔在額〕，及療風通用，去肺經風。又云：苦辛，陽明本藥。</p>
<p>鼠黏子　氣平味辛，主風毒腫，（消）利咽膈，吞一枚，可出〔癰〕疽〔瘡〕頭。《主治秘要》云：辛溫，潤肺散氣。搗細用之。</p>
<p>〔桔梗　氣微溫，味辛苦，治肺，利咽痛，利肺中氣。《主治秘要》云：味涼而苦，性微溫，味厚氣輕，陽中陰也，肺經之藥也。利咽嗌胸膈，治氣。以其色白，故屬於肺，此用色之法也。乃散寒嘔，若咽中痛，非此不能除。又云：辛苦，陽中之陽，謂之舟楫，諸藥中有此一味，不能下沉，治鼻塞。去蘆，米泔浸一宿用。〕</p>
<p>藁本　氣溫，味大辛，此太陽經風藥，治寒氣鬱結於本經，治頭痛〔腦〕痛齒痛。《主治秘要》云：味苦，性微〔溫〕，氣厚味薄〔而升〕，陽也，太陽頭痛必用之藥。又云：辛苦純陽，〔足太陽〕本經藥也，頂巔痛，非此不能除。</p>
<p>川芎　氣味辛溫，補血，治血虛頭痛之聖藥也。妊婦胎〔動〕，〔加〕當歸，二味各二錢，水二盞，煎至一盞，服之神效。《主治秘要》云：性溫，味辛苦，氣厚味薄，浮而升，陽也。其用有四：少陽引經一也。諸頭痛二也。助清陽〔之氣〕三也。〔去〕濕氣在頭四也。又云：味〔辛〕純陽，少陽經本藥。搗細用。</p>
<p>蔓荊子　氣清，味辛溫，治太陽頭痛、頭沉、昏悶，除〔目〕暗，散風邪之藥也。胃虛人不可服，恐生痰〔疾〕。《主治秘要》云：苦甘，陽中之〔陰〕，涼諸經之血熱，〔止〕頭痛，〔主目睛內痛〕。洗淨用。</p>
<p>秦艽　氣微寒，味苦，主寒熱邪氣，〔風濕痹〕，下水，利小便，療骨蒸，治口噤，及腸風瀉血。《主治秘要》云：性平味鹹，養血榮筋，中風手足不遂者用之。又云：陰〔中〕微陽，去手（足）陽明〔經〕下牙痛、〔口〕瘡毒，〔及除〕本經風濕。〔去蘆〕淨用。</p>
<p>天麻　氣平味苦，治頭風，〔主〕諸風濕痹，四肢拘急，小兒驚癇，〔除〕風氣，利腰膝，強筋力。《主治秘要》云：其苗謂之定風草。</p>
<p>麻黃　氣溫味苦，發太陽、太陰經汗。《主治秘要》云：性溫，味甘辛，氣味俱薄，體輕清而浮升，〔陽〕也。其用有四：去〔寒〕邪一也。肺經〔本藥〕二也。發散風寒三也。去皮膚之寒濕及風四也。又云：〔味〕苦，純陽，去營中寒。去根，不銼細，微搗碎，煮二、三沸，去上沫，不然，令人煩心。</p>
<p>荊芥　氣溫，味辛苦，辟邪毒，利血脈，宣通五臟不足〔氣〕。《主治秘〔要〕》云：能發汗，通關節，除勞〔渴〕，冷搗和醋封毒腫，去枝莖以手搓碎用。</p>
<p>薄荷　氣溫，味辛苦，能發汗，通關節，解勞乏，與薤相〔宜〕，新病〔瘥〕人不可多食，令人虛，汗〔出〕不止。《主治秘要》云：性涼〔味〕辛，氣味俱薄，浮而升，陽也。去高顛及皮膚風熱。去枝莖，手搓碎用。</p>
<p>前胡　氣微寒，味苦，主痰滿胸脅中痞，心腹〔結〕氣，治傷寒〔寒〕熱，推陳致新，明目益精。銼用。</p>

<h4>2.熱浮長</h4>
<p>氣之厚者，陽中之陽，氣厚則發熱，辛甘溫熱是也。</p>
<p>黑附子　氣熱，味大辛，其性走而不守，亦能除腎中寒甚，〔以〕白朮為佐，謂之朮附湯，除寒濕之〔聖〕藥〔也〕。〔治濕〕藥〔中宜〕少加之，通行諸經，引用藥也。及治經閉。《主治秘要》云：辛，純陽，治脾中大寒。又云：性大熱，味辛甘，〔氣厚味薄〕，輕重得宜，可升可降，陽也。其用有三：去臟腑沉寒一也。補助陽氣不足二也。溫〔暖〕脾胃三也。然不可多用。慢火炮製用。</p>
<p>乾薑　氣熱，味大辛，治沉寒痼冷，腎中無陽，脈氣欲絕，黑附子為引，用水同煎二物，姜附湯是也。〔亦〕治中焦有寒。《主治秘要》云：性熱味辛，氣味俱厚，半沉半浮，可升可降，陽中陰也。其用有四：通心氣助陽一也。去臟腑沉寒二也。發〔散〕諸經之寒氣三也。〔治〕感寒腹疼四也。又云：辛溫純陽，《內經》云：寒淫所勝，以辛散之，此之謂也。水洗，慢火炙制，銼用。</p>
<p>乾生薑　氣味溫辛，主傷寒頭痛，鼻塞上氣，止嘔吐，治咳嗽，生與干同治。〔與〕半夏等分，治心下急痛。銼用。</p>
<p>川烏頭　氣熱，味大辛，療風痹半身不遂，引經藥也。《主治秘要》云：性熱味辛甘，氣厚味薄，浮而升，陽也。其用有六：除寒〔疾〕一也。去心下堅痞二也。溫養臟腑三也。治〔諸〕風四也。破積〔聚〕滯氣五也。〔治〕感寒腹痛六也。先以慢火炮製去皮，碎用。</p>
<p>良薑　氣熱味辛，主〔胃中逆〕冷，霍亂腹痛，翻胃吐食，轉筋〔瀉〕利，下氣消食。《主治秘要》云：純陽，健脾胃。碎用。</p>
<p>肉桂　氣熱，味大辛，補下焦〔火熱〕不足，治沉寒痼冷之病，及表虛自汗，春夏二時為禁藥也。《主治秘要》云：（若）純陽，滲泄止渴。又云：甘辛，陽，大熱，去營衛中之風寒。去皮，搗細用。</p>
<p>桂枝　氣熱，味辛甘，仲景治傷寒證，發汗用桂枝者，〔乃〕桂〔條〕，非身干也，取其輕薄而能發〔散〕。今又有一種〔柳桂〕，〔乃〕桂枝嫩小枝條也，尤宜入治上焦藥用也。《主治秘要》云：性溫，味辛〔甘〕，氣味俱薄，體輕而上行，浮而升，陽也。其用有四：〔治〕傷風頭痛一也。開腠理二也。解表三也。去皮膚〔風濕〕四也。</p>
<p>草豆蔻　氣熱，味大辛，治風寒客邪在於胃口之上，善〔去〕脾胃寒，治客寒令人心胃痛。《主治秘要》云：〔純〕陽，益脾胃去寒。面〔裹〕煨熟，去麵皮，搗細用。</p>
<p>丁香　氣味辛溫，溫脾胃，止霍亂，消痃癖、氣脹，及胃腸內冷痛，壯陽，暖腰膝，〔殺〕酒毒。《主治秘要》云：純陽，去胃寒。</p>
<p>厚朴　氣溫味辛，能除腹脹，若〔元氣〕虛弱，雖腹脹，宜斟酌用之，寒腹脹是也。大熱藥中，兼用結者散之，乃神藥也。誤服，脫人元氣，切禁之。紫色者佳。《主治秘要》云：性〔溫〕，味苦辛，氣厚味厚，體重濁而〔微〕降，陰中陽也。其用有三：平胃〔氣〕一也。去腹脹二也。孕婦忌之三也。又云：陽中之陰，去腹脹，厚腸胃。去粗皮，薑汁製用。</p>
<p>益智仁　氣熱，味大辛，治脾胃中寒邪，和中益氣，治人多唾，當於補中藥內兼用之，不可多服。去皮搗用。</p>
<p>木香　氣味辛苦，除肺中滯氣，若療中下焦氣結滯，須用檳榔為使。《主治秘要》云：性〔熱〕味〔辛〕苦，氣味俱厚，沉而降，陰也。其用，調氣而已。又曰：辛，純陽，以和胃氣。廣州者佳。</p>
<p>白豆蔻　氣熱，味大辛，蕩散〔肺〕中滯氣，主積冷氣，寬膈，止吐逆，久反胃，消穀，下氣，進飲食。《主治秘要》云：性大溫，味辛，氣味俱薄，輕清而升，陽也。其用有五：肺金本藥一也。散胸中滯氣二也。〔治〕感寒腹痛三也。溫暖脾胃四也。赤眼暴發，白睛紅者五也。又云：辛，純陽，去太陽〔經〕目內〔大眥紅筋〕。去皮〔搗〕用。</p>
<p>川椒　氣溫味辛，主邪氣，溫中，除寒痹，堅齒髮，明目，利五臟。凡用須炒去汗，又去含口者。《主治秘要》云：辛，陽，明目之劑。手搓細用。</p>
<p>吳茱萸　氣熱味辛，治寒在咽喉，〔隘〕塞胸中。經云：咽膈不通，食不〔可〕下，食則嘔，令人口開目瞪，寒邪所結，氣不得上下，此病不已，令人〔寒〕中腹滿，膨脹下利，寒氣諸藥，不可代也。《主治秘要》云：性熱味辛，氣味俱厚，半沉半浮，陰中之陽也，氣浮而味降。其用有四：去胸中寒一也。止心痛二也。〔治〕感寒腹痛三也。消宿酒，為白豆蔻之佐四也。又云：辛，陽中之陰，溫中下氣。洗去苦味，曬乾用。</p>
<p>茴香　氣平味〔辛〕，破一切臭氣，調中、止嘔、下食。須炒黃色，搗細用。</p>
<p>玄胡索　氣溫味辛，〔破血治氣，婦人月事不調，小腹痛甚，溫暖腰膝，破散癥瘕，搗細用。〕</p>
<p>〔縮砂仁　氣溫味辛，治脾胃氣結滯不散，主虛勞冷瀉，心腹痛，下氣消食，搗細用。〕</p>
<p>紅藍花　氣溫味辛，主〔產〕後口噤血暈，腹內惡血不盡，絞痛，破〔留〕血神驗，（酒浸，佐當歸生新血。）</p>
<p>神麯〔氣暖味甘〕，消食，治脾胃食不化，須用於脾〔胃〕藥中少加之。《主治秘要》云：辛，陽，益胃氣。炒黃色用。</p>

<h4>3.濕化成〔中央〕</h4>
<p>戊〔土〕其本氣平，其兼氣〔溫〕涼寒熱，在人以胃應之；己土其本味〔淡〕，其兼味辛甘鹹苦，在人以脾應之。</p>
<p>黃耆　氣溫，味甘平，治虛勞自〔汗〕，補肺氣，實皮毛，瀉肺中火，脈弦、自汗。善治脾胃虛弱，瘡瘍血脈不行，內托陰證，瘡瘍必用之藥也。《主治秘要》云：氣溫味甘，氣薄味厚，可升可降，陰中陽也。其用有五：補諸虛不足一也。益元氣二也。去肌熱三也。瘡瘍排膿止痛四也。壯脾胃五也。又云：甘，純陽，益胃氣，去諸經之痛。去蘆並皺，銼用。</p>
<p>人參　氣溫味甘，治脾〔肺〕陽氣不足，及肺氣〔喘〕促，〔短〕氣少氣，補中緩中，瀉肺脾胃中火邪，善治短氣，非升麻為引用，不能補上升之氣，升麻一分，人參三分，可為相得也。若補下焦元氣，瀉腎中之火邪，茯苓為之使。甘草梢子生用為君，善去莖中痛。或加苦〔楝〕，酒煮玄胡索為主，尤妙。《主治秘要》云：性溫味〔甘〕，氣〔味〕俱薄，浮而升，陽也。其用有三：補元氣一也。止渴二也。生津液三也。肺實忌之。又云：甘苦，陽中之陽也，補胃嗽喘勿用，短氣用之。去蘆。</p>
<p>〔甘草　氣味甘，生大涼，火炙之則溫，能補三焦元氣，調和諸藥相協，共為力而不爭，性緩，善解諸急，故有「國老」之稱。《主治秘要》云：性寒味甘，氣薄味厚，可升可降，陰中陽也。其用有五：和中一也。補陽氣二也。調諸藥三也。能解其太過四也。去寒邪五也。腹脹則忌之。又云：甘苦，陽中陰也，純陽、養血、補胃，梢子；去腎莖之痛，胸中積熱，非梢子不能除，去皮，碎用。〕</p>
<p>〔當歸　氣溫味甘，能和血補血，尾破血，身和血。《主治秘要》云：性溫味辛，氣厚味薄，可升可降，陽也。其用有三：心經藥一也。和血二也。治諸病夜甚三也。又云：甘辛，陽中微陰，身和血，梢破血，治上治外，酒浸洗糖黃色，嚼之，大辛，可能潰堅，與菖蒲、海藻相反。又云：用溫水洗去土，酒製過，或焙或曬乾，血病須去蘆頭用。〕</p>
<p>〔熟地黃　氣寒味苦，酒曬熏如烏金，假酒力則微溫，補血虛不足，虛損血衰之人須用，善黑鬚發，忌蘿蔔。《主治秘要》云：性溫味苦甘，氣薄味厚，沉而降，陰也。其用有五：益腎水真陰一也。和產後氣血二也。去臍腹急痛三也。養陰退陽四也。壯水之源五也。又云：苦，陰中之陽，治外治上、酒浸，銼細用。〕</p>
<p>半夏　氣微寒，味辛平，治寒痰，及形寒飲冷傷肺而咳，大和胃氣，除胃寒，進飲食，治太〔陰〕痰厥頭痛，非此不能除。《主治秘要》云：性溫，味辛苦，氣〔味俱〕薄，沉而降，〔陰中〕陽也。其用有四：燥〔脾〕胃濕一也。化痰二也。益脾胃之氣三也。消腫散結四也。渴則忌之。又云：平，陰中之陽，除胸中痰涎。湯洗七次，乾用。</p>
<p>白朮　氣溫味甘，能除濕益燥，和中益氣，利腰臍間血，除胃中熱。〔《主治秘要》云：性溫味微苦，氣味俱薄，浮而升陽也。〕其用有九：溫中一也。去脾胃中〔濕〕二也。除〔脾〕胃熱三也。強脾胃，進飲食四也。和〔脾〕胃，生津液五也。主肌熱六也。〔治〕四肢困倦，目不欲開，怠惰嗜臥，不思飲食七也。止渴八也。安胎九也。</p>
<p>蒼朮　氣溫味〔甘〕，主治與白朮同。若〔除〕上濕、發汗，功最大。若補中焦、除濕，力少。《主治秘要》云：其用與白朮同，但比之白朮，氣重而〔體〕沉。〔治〕脛足濕腫，加白朮。泔浸，刮去皮用。</p>
<p>橘皮　氣溫味苦，能益氣。加青皮減半，去滯氣，推陳致新。若補脾胃，不去白；若理胸中〔滯〕氣，去白。《主治秘要》云：性寒味辛，氣薄味厚，浮而升，陽也。其用有三：去胸中寒邪一也。破滯氣二也。益脾胃三也。〔少用同白朮則益脾胃〕；其多及獨用則損人。又云：苦辛，益氣利肺，有甘草則補肺，無則瀉肺。</p>
<p>青皮　氣溫味辛，主氣滯，消食破積。《主治秘〔要〕》云：性寒味苦，氣味俱厚，沉而降，陰也。其用有五：〔足〕厥陰、少陽之分，有病〔則〕用之一也。破堅癖二也。散滯氣三也。去下焦諸〔濕〕四也。〔治〕左脅有積氣五也。</p>
<p>藿香　氣微溫，味甘辛，療風水，去惡氣，治脾胃吐逆，霍亂心病。《主治秘〔要〕》云：性溫味苦，氣厚味薄，浮而升，陽也。其用，助胃氣。又云：甘苦，純陽，補胃氣，進〔飲〕食。去枝莖用葉，以手搓用。</p>
<p>檳榔　氣溫〔味〕辛，治後重如神，性如鐵石之沉重，能墜諸藥至於下。《主治秘要》云：性溫，氣味苦，氣薄味厚，沉而降，陰中陽也。其用，破滯〔氣下〕行。又云：辛，純陽，破滯氣，泄胸中至高之氣。</p>
<p>廣朮　氣溫，味苦〔辛〕，主心膈痛，飲食不消，破〔痃癖〕氣最良。火炮開用。</p>
<p>京三稜　氣平味苦，主心膈痛，飲食不消，破氣，〔治〕老癖癥瘕結塊，婦人血脈不調，心腹刺痛。《主治秘〔要〕》云：〔味〕苦，陰中之陽，破〔積〕氣，損真氣，虛人不用。火炮製〔使〕。</p>
<p>阿膠　氣微溫，味甘平，主心腹疼痛，〔血〕崩，補虛安胎，堅筋骨，和血脈，益氣止痢。《主治秘〔要〕》云：性平味淡，氣味俱薄，浮而升，〔陽也〕，〔能〕補肺〔氣〕不足。慢火炮〔脆〕搓細用。</p>
<p>〔訶子　氣溫味苦，主腹脹滿，不下飲食，消痰下氣，通利津液，破胸膈結氣，治久痢赤白、腸風，去核，搗細用。〕</p>
<p>桃仁　氣溫，味甘苦，治大便血結、血秘、血燥，通潤大便，七宣丸中用之，專療血結，破血。湯浸去皮尖，研如泥用。</p>
<p>杏仁　氣溫，味甘苦，除肺中燥，治風燥在於胸膈。《主治秘〔要〕》云：性〔溫〕味苦而甘，氣薄味厚，濁而沉降，陰也。其用有三：潤肺氣一也。消〔宿〕食二也。升滯氣三也。麩炒，去皮尖用。</p>
<p>大麥櫱　氣溫味鹹，補脾胃虛，寬腸胃。搗細，炒黃色，取面用之。</p>
<p>紫草　氣溫味苦，主心腹邪氣、五疳，利九竅，補中益氣，通水道，療〔腹〕腫脹滿。去土用茸，銼細用。</p>
<p>蘇木　氣平，味甘鹹，主破血，產後血〔脹悶〕欲死者。排膿止痛，消癰腫瘀血，婦人月經不調，及血暈口噤。《主治秘〔要〕》云：性涼，味微辛，發散表裡風氣。又云：甘鹹，陽中之陰，破死血。銼細用。</p>

<h4>4.燥降收</h4>
<p>氣之薄者，陽中之陰，氣薄則發泄，辛、甘、淡、平、寒、涼是也。</p>
<p>茯苓　氣平味甘，止〔消〕渴，利小便，除濕益燥，利腰臍間血，和中益氣為主。治小便不通，溺黃或赤而不利，如小便利，或數服之，則損人目；如汗多人服之，損元氣，夭人壽。醫〔言〕赤瀉白補，上古無此說。《主治秘〔要〕》云：性溫味淡，氣味俱薄，浮而升，陽也。其用有五：止瀉一也。利小便二也。開腠理三也。除虛熱四也。生津液五也。刮皮，搗細〔用〕。</p>
<p>澤瀉　氣平味甘，除濕之〔聖〕藥也。治小便淋瀝，去陰間汗，無此疾服之，令人目〔盲〕。《主治秘〔要〕》云：味鹹性寒，氣味俱厚，沉而降，陰也。其用有四：入腎經一也。去舊水，養新水二也。利小便三也。消腫瘡四也。又云：咸，陰中微陽，滲泄止渴。搗細用。</p>
<p>豬苓　氣平味甘，大〔燥〕除濕，〔比諸〕淡滲藥，大燥亡津液，無濕證勿服。《主治秘要》云：性平〔味淡〕，氣味俱薄，升而微降，〔陽也〕。其用與茯苓同。又云：甘苦，純陽，去心〔中〕懊憹。去黑皮，里白者佳。</p>
<p>滑石　氣〔寒〕味甘，治前陰竅澀不利，性沉重，能泄氣，上令下行，故曰滑〔則〕利竅，不比與淡滲〔諸藥〕同。白者佳，搗細用；色紅者服之令人淋。</p>
<p>瞿麥　氣寒，味苦〔辛〕，主〔關格〕諸癃結，小便不通，治癰腫排膿，明目去〔翳〕，破胎墮胎，下〔閉〕血，〔逐〕膀胱邪熱。《主治秘〔要〕》云：陽中之陰，利小便為君。去枝用穗。</p>
<p>車前子　氣寒味甘，〔陰癃氣閉，利水道，通小便，除濕痹，肝中風熱沖目赤痛，搗細用。〕</p>
<p>〔木通　氣平味甘，主小便不通，導小腸中熱，刮去粗皮用。〕</p>
<p>燈草、通草　氣平味甘，通陰竅澀〔不利〕，利小〔便〕，除水腫、〔癃閉〕、五淋。《主治秘〔要〕》云：辛甘，陽〔也〕，瀉肺，利小便。銼細用。</p>
<p>五味子　氣溫味酸，大益五臟氣。〔孫真人曰〕：五月常服五味子，以補五臟之氣。遇夏月季〔夏〕之間，令人困乏〔無〕力，無氣以動，〔與〕黃耆、人參、麥門冬，少加黃柏，銼〔煎〕湯服之，使人精神、元氣兩足，筋力湧出。生用。</p>
<p>白芍藥　氣微寒，味酸，補中焦之藥，炙甘草為輔，治腹中痛；如夏月腹痛，少加黃芩；若惡寒腹痛，加肉桂一分，白芍藥二分，炙甘草一分半，此仲景神品藥也。如冬月大寒腹痛，加桂一〔錢〕半，水二盞，煎至一盞〔服〕。《主治秘〔要〕》云：性寒味酸，氣厚味薄，升而微降，陽中陰也。其用有六：安脾經一也。治腹痛二也。收胃氣三也。止瀉利四也。和血〔脈〕五也。固腠理六也。又云：酸苦，陰中之陽，白補赤散，瀉肝補脾胃，酒浸引經，止中部腹痛。去皮用。</p>
<p>桑白皮　氣寒，味苦酸，主傷中五癆羸瘦，補虛益氣，〔瀉〕肺氣，止吐血、熱渴，消水腫，利水道。去皮用。</p>
<p>天門冬　氣寒，味微苦，保肺氣，治血熱侵肺，上喘氣促，加人參、黃耆，用之為主，〔神效〕。《主治秘〔要〕》云：甘苦，陽中之陰。湯浸，曬乾，去心用。</p>
<p>麥門冬　氣寒，味微苦甘，治肺中〔伏〕火，〔脈〕氣欲絕。加五味子、人參〔二〕味，為生脈散，補肺中元氣不足，須用之。《主治秘〔要〕》云：甘，陽中微陰，引經酒浸，治經枯、乳汁不下。湯洗，去心用。</p>
<p>犀角　氣寒，味苦酸，主傷寒、瘟疫頭痛，安心神，止煩渴霍亂，明目鎮驚，治中風失音，小兒麩豆，風熱驚癇。〔鎊〕：末用。</p>
<p>烏梅　氣寒味酸，主下氣，除熱煩滿，安心調〔中〕，治痢止渴。以鹽豉為白梅，亦入除痰藥。去核用。</p>
<p>牡丹皮　氣寒味苦，治腸胃積血，及衄血、吐血必用之藥，是犀角地黃湯中一味也。《主治秘〔要〕》云：辛苦，陰中之陽，涼骨熱。銼用。</p>
<p>地骨皮　氣寒味苦，解骨蒸肌熱，主消渴、風濕痹，堅筋骨。《主治秘〔要〕》云：陰，涼血。去骨用皮，碎用。</p>
<p>枳殼　氣寒味苦，治胸〔中痞塞〕，泄肺氣。《主治秘〔要〕》云：性寒味苦，氣厚味薄，浮而升，微降，陰中陽也。其用有四：破心下堅痞一也。利胸中氣二也。化痰三也。消食四也。然不可多用。又云：苦酸，陰中微陽，破氣。麩炒，去〔瓤〕用。</p>
<p>琥珀　氣平味甘，定五臟，定魂魄，消瘀血，通五淋。《主治秘〔要〕》云：甘，陽，利小便，清肺。</p>
<p>連翹　氣平味苦，主寒熱瘰癧，諸惡瘡腫，除心中客熱，去胃蟲，通五淋。《主治秘〔要〕》云：性涼味苦，氣味俱薄，輕清〔而浮〕升，陽也。其用有三：瀉心經客熱一也。〔去〕上焦諸熱二也。瘡瘍須用三也。手搓用之。</p>
<p>枳實　氣寒味苦，除寒熱，去結實，消痰癖，治心下痞，逆氣，脅下痛。《主治秘〔要〕》云：氣味升降，與枳殼同，其用有四：主心〔下〕痞一也。化心胸痰二也。消〔宿〕食，散敗血三也。破〔堅積〕四也。又云：純陽，去胃〔中〕濕。去〔瓤〕，麩炒用。</p>

<h4>5.寒沉藏</h4>
<p>味之厚者，陰中之陰，味厚則泄，酸、苦、〔咸〕、寒是也。</p>
<p>大黃　味苦氣寒，其性走而不守，瀉〔諸實〕熱不通，下大〔便〕，盪滌腸胃中熱，專治〔不大便〕。《主治秘〔要〕》云：性寒味苦，氣味俱厚，沉而降，陰也。其用有四：去實熱一也。除下焦濕二也。推陳致新三也。消宿食四也。用之須酒浸煨熟，寒因熱用也。又云：苦，純陰，熱淫所勝，以苦瀉之。酒浸入太陽，酒洗入陽明，余經不用。去皮銼用。</p>
<p>黃柏　氣寒味苦，治腎水膀胱不足，諸痿厥，腰〔腳〕無力，於黃耆湯中〔少〕加用〔之〕，使兩足膝中氣力湧出，痿軟即時去矣。蜜炒此一味，為細末，治口瘡如神，癱瘓必用之藥也。《主治秘〔要〕》云：性寒味苦，氣味俱厚，沉而降，陰也。其用有六：瀉膀胱龍火一也。利〔小便熱結〕二也。〔除〕下焦濕腫三也。治痢先見血四也。〔去〕臍〔下〕痛五也。補腎〔氣〕不足，壯骨髓六也。二制〔則〕治上焦，單制〔則〕治中焦，不制〔則〕治下焦也。又云：苦厚微辛，陰中之陽，瀉膀胱，〔利下竅〕。去皮用。</p>
<p>黃芩　氣寒，味微苦，治肺中濕熱，療上熱目中腫赤，瘀血壅盛，必用之藥，泄肺中火邪，上逆於膈上，補膀胱之寒水不足，乃滋其化源也。《主治秘〔要〕》云：性涼，味苦甘，氣厚味薄，浮而〔降〕，陽中陰也。其用有九：瀉肺經熱一也。夏月須用二也。去諸熱三也。上焦及皮膚風熱風濕四也。婦人產後，養陰退陽五也。利胸中氣六也。消膈〔上痰〕七也。除上焦及脾諸濕八也。安胎九也。單制、二制、不制，分上中下也。又云：苦，陰中微陽，酒炒上行，主上部積血，非此不能除。肺〔苦〕氣上逆，急食苦以泄之，正謂此也。去皮銼用。</p>
<p>黃連　氣寒味苦，瀉心火，除脾胃中濕熱，治煩〔躁〕噁心，鬱熱在中〔焦〕，兀兀欲吐，〔心下〕痞滿，〔必用藥也〕仲景〔治〕九種心下痞，〔五等〕瀉心湯皆用之。《主治秘〔要〕》云：性寒味苦，氣味〔俱〕厚，可升可降，陰中陽也。其用有五：瀉心熱一也。去上焦火二也。諸瘡必用三也。去風濕四也。赤眼暴發五也。去須用。</p>
<p>石膏　氣寒，味辛甘，治〔足〕陽明經中熱、發熱、惡〔熱〕、躁熱、〔日〕晡潮熱，自汗，小便濁赤，大渴引飲，身體肌肉壯熱，苦頭痛之藥，白虎湯是也。善治本經頭痛，若無此有餘〔之〕證，醫者不識而〔誤用〕之，〔則〕不可勝救也。《主治秘〔要〕》云：性寒味淡，氣味俱薄，體重而沉降，陰也，乃陽明經大寒藥，能〔傷〕胃〔氣〕，令人不食，非腹有極熱者，不宜輕用。又云：辛甘，陰中陽也，止陽明頭痛，胃〔弱者〕不可服，〔治〕下牙痛，用香芷為引。搗細用。</p>
<p>草龍膽　氣寒，味大苦，治〔兩〕目赤腫睛脹，瘀肉高起，痛不可忍，以柴胡為主，〔龍膽〕為使，治眼中疾必用藥也。《主治秘〔要〕》云：性寒味苦辛，氣味俱厚，沉而降，陰也。其用有四：除下部風濕一也。〔除〕濕熱二也。臍下以至足腫痛三也。寒濕腳氣四也。其用與防己同。又云：〔苦〕，純陽，酒浸上行。去蘆用。</p>
<p>生地黃　氣寒味苦，涼血補血，〔補〕腎水真陰不足，此藥大寒，宜斟酌用之，恐損人胃氣。《主治秘〔要〕》云：性寒味苦，氣薄味厚，沉而降，陰也。其用有三：涼血一也。〔除〕皮膚燥二也。去諸濕（熱）三也。又云：陰中微陽，酒浸上行。</p>
<p>知母　氣寒，味大辛，治〔足〕陽明火熱，大補益腎〔水〕、膀胱之寒。《主治秘〔要〕》云：性寒味苦，氣味俱厚，沉而降，陰也。其用有三：瀉腎經火一也。作利小便之佐使二也。〔治〕痢疾〔臍〕下痛三也。又云：苦，陰中微陽，腎〔經〕本藥，〔欲〕上頭引經，皆酒炒。刮去毛，里白者佳。</p>
<p>漢防己　氣寒，味大苦，療胸中以下至足濕熱腫盛，腳氣，〔補〕膀胱，去留熱，通〔行〕十二經。《主治秘〔要〕》云：辛苦，陰〔也〕泄濕氣。去皮淨用。</p>
<p>茵陳蒿　氣寒，味苦平，治煩熱，主風濕風熱，邪氣熱結，黃疸，通身發黃，小〔便〕不利。《主治秘〔要〕》云：苦甘，陰中微陽，治傷寒發黃。去枝莖，用葉，手搓。</p>
<p>朴硝　氣寒，味苦辛，除寒熱邪氣，六腑積聚，結固血癖，胃中飲食熱結，〔去血閉〕，停痰痞滿，消毒。《主治秘〔要〕》云：芒硝性寒味鹹，氣薄味厚，沉而降，陰也。其用有三：〔治〕熱淫於內一也。去腸內宿垢二也。破堅積熱塊三也。婦人有孕忌之。又云：鹹寒，純陰，熱淫於內，治以鹹寒，正謂此也。</p>
<p>栝蔞根　氣寒味苦，主消渴，身熱煩滿大熱，補虛安中，通月水，消腫毒、瘀血及熱癤毒。《主治秘〔要〕》云：性寒味苦，陰〔也〕，能消煩渴。又云：苦，純陰，一心中枯渴，非此藥不能除。</p>
<p>牡蠣　氣寒，味鹹平，主傷寒、〔寒〕熱、溫瘧，女子赤白帶，止汗，〔止〕心痛，氣結大小腸，治心脅痞。《主治秘〔要〕》云：咸，軟痞積。燒白搗用。</p>
<p>玄參　氣寒味苦，治心〔中〕懊憹，煩而不能眠，心神顛倒欲絕，血滯，小便不利。</p>
<p>苦〔參〕氣寒味苦，足少陰腎經之君藥也，治本經須用。《主治秘〔要〕》云：苦，陰，氣沉逐濕。</p>
<p>川楝子　氣寒，味苦平，主傷寒大熱煩〔躁〕，殺三蟲疥瘍，通利大小便之疾。《主治秘〔要〕》云：入心，止下部腹痛。</p>
<p>香豉　氣寒味苦，主傷寒頭痛、煩躁、滿悶，生用之。《主治秘〔要〕》云：苦，陰，去心〔中〕懊憹。</p>
<p>地榆　氣微寒，味甘酸，主婦人乳產，七傷帶下，經血不止，血崩之病，除惡血，止痛疼，療腸風泄血，小兒疳痢。性沉寒，入下焦，治熱血痢。《主治秘〔要〕》云：性微寒，味微〔苦〕，氣味俱薄，其體沉而降，陰中陽也，專治下焦血。又云：甘苦，陽中微陰，治下部血。去蘆用。</p>
<p>梔子　性寒味苦，氣薄味厚，輕清上行，氣浮而味降，陽中陰也。其用有四：〔去〕心經客熱一也。除煩〔躁〕二也。去上焦虛熱三也。治風〔熱〕四也。又云：苦，純陽，止渴。</p>

<h3>〔續添〕</h3>
<p>〔巴豆〕性〔熱〕味苦，氣薄味厚，體重而沉降，陰也。其用有三：導氣消積一也。去臟腑停寒二也。消化寒涼及生冷硬物所傷三也。〔又云〕：辛，〔陽〕，去胃中寒〔積〕。</p>
<p>白〔僵〕蠶　〔性微溫〕，味微辛，氣味俱薄，體輕而浮升，陽也，去皮膚間諸風。</p>
<p>生薑　性溫，味辛甘，氣味俱厚，清浮而生升，陽也。其用有四：製厚朴、半夏毒一也。〔發〕散風邪二也。溫中去濕三也。作益胃脾〔藥〕之佐四也。</p>
<p>杜仲　性溫，味辛甘，氣味俱薄，沉而降，陰也。其用壯筋骨，及足弱無力行。</p>
<p>以上諸藥，此大略言之，以為制方之階也，其用有未盡者。</p>

<h3>（十八）〔法象余品〕</h3>
<p>蜀葵花　冷，陰中之陽，赤治赤帶，白治白帶。</p>
<p>梧桐淚　咸，瘰癧非此不能除。</p>
<p>鬱金　辛苦，純陽，涼心。</p>
<p>款冬花　辛苦，純陽，溫肺止嗽。</p>
<p>香附子　甘，陽中之陰，快氣。</p>
<p>大〔戟〕苦甘，陰中微陽，瀉肺，損真氣。</p>
<p>白芨　苦甘，陽中之陰，止肺〔血〕，澀，白蘞同。</p>
<p>甘遂　苦純陽，水結胸中，非此不能除。</p>
<p>蜀漆　辛，純陽，破血。</p>
<p>射干　苦，陽中之陰，去胃中癰瘡。</p>
<p>天南星　苦辛，去上焦痰及頭眩運。</p>
<p>御米殼　酸澀，固收正氣。</p>
<p>胡蘆巴　陰，治元〔氣〕虛〔寒〕，及腎〔經〕虛冷。</p>
<p>馬兜鈴　苦，陰中之陽，主肺〔濕〕熱，〔清〕肺氣，補肺。</p>
<p>白附子　陽，溫，主血痹，〔行〕藥勢。</p>
<p>槐花　苦，陰，氣薄，涼大腸熱。</p>
<p>槐實　苦酸，〔同上〕。</p>
<p>茯神〔陽〕，療風眩、風虛。</p>
<p>沉香　陽，補腎。</p>
<p>檀香　陽，主心腹〔痛〕，霍亂，中惡，引胃氣上升，進食。</p>
<p>乳香　陽，補腎。</p>
<p>竹葉　苦，陰中微陽，涼心經。</p>
<p>山茱萸　酸，陽中之陰，溫肝。</p>
<p>郁李仁　苦辛，〔陰〕中之陽，破血潤燥。</p>
<p>金鈴子　酸苦，陰中之陽，心暴痛，非此不能除。即川楝子。</p>
<p>草豆蔻　辛，陽，益脾胃，去寒。</p>
<p>紅花　苦，陰中之〔陽〕，入心養血。</p>
<p>硃砂　心熱非此不能除。</p>
<p>赤石脂　甘酸，陰中之陽，固脫。</p>
<p>甘菊　苦，養目血。</p>
<p>茜根　陰中〔微陽〕，去諸死血。</p>
<p>王不留行　甘苦，陽中之陰，〔下乳引導用之〕。</p>
<p>艾葉　苦，陰中之陽，溫胃。</p>
<p>〔硇〕砂　咸，破堅癖，獨不用。</p>

<h3>（十九）〔五行制方生克法〕</h3>
<p>（附湯例）</p>
<p>夫〔木〕火土金水，此制方相生相剋之法也，老於醫者能之。</p>
<p>風　製法：肝、木、酸，春生之道也，失常則病矣。風淫於內，治以辛涼，佐以苦辛，以甘緩之，以辛散之。</p>
<p>暑　製法：心、火、苦，〔夏〕長之道也，失常則病矣。熱淫於內，治以鹹寒，佐以甘苦，以酸收之，以苦發之。</p>
<p>濕　製法：脾、土、甘，中〔央〕化〔成〕之道也，失常則病矣。濕淫於內，治以苦熱，佐以鹹淡，以苦燥之，以淡泄之。</p>
<p>燥　製法：肺、金、〔辛〕，秋收之道也，失常則病矣。燥淫於內，治以苦溫，佐以甘辛，以辛潤之，以苦下之。</p>
<p>寒　製法：腎、水、咸，冬藏之道也，失常則病矣。寒淫於內，治以甘熱，佐以苦辛，以辛散之，以苦堅之。</p>
<p>注云：酸苦甘辛鹹，即肝木、心火、脾土、肺金、腎水之本也。四時之變，五行化生，各順其道，違則病生。聖人設法以制其變，謂如風淫於內，即是肝木失常也，火隨而熾，治以辛涼，是為辛金克其木，涼水沃其火，其治法例皆如此。下之二方，非為治〔病而〕設，〔此乃〕教人〔比證〕立方之〔道〕，容易〔通曉〕也。</p>
<p><u>當歸拈痛湯：</u></p>
<p>〔治〕濕〔熱〕為病，肢節煩痛，〔肩背〕沉重，胸膈不利，遍身疼，下注於脛，腫痛不可忍。經云：濕淫於內，治以苦溫，羌活苦辛，透關利節〔而〕勝〔濕〕；防風甘辛，溫散經絡中留濕，故以為〔君〕。水性潤下，升麻、葛根苦辛平，味之薄〔者〕，陰中之陽，引而上行，以苦發之也。白朮苦甘溫，和中除濕；蒼朮體輕浮，氣力〔雄〕壯，能去皮膚腠理〔之濕〕，故以為臣。〔血〕壅而不流則痛，當歸身〔辛〕，溫以散之，使氣血各有所歸。人參、甘草甘溫，補脾養正氣，使苦藥不能傷胃。仲景云：濕熱相合，肢節煩痛，苦〔參〕、黃芩、知母、茵陳者，乃苦〔以〕泄之〔也〕。凡酒製〔藥〕，以為因用。治濕不利小便，非其治也，豬苓甘溫平，澤瀉鹹平，淡以滲之，又能導其留飲，故以為佐。氣味相合，上下分消，其〔濕〕氣得〔以〕宣通〔矣〕。</p>
<p>羌活（半兩）　防風（三錢，二味為〔君〕）　升麻（一錢）　葛根（二錢）　白朮（一錢）　蒼朮（三錢）　當歸〔身〕（三錢）　人參（二錢）　甘草（五錢）　苦參（酒浸二錢）　黃芩（一錢炒）　知母（三錢酒洗）　茵陳（五錢酒炒）　豬苓（三錢）　澤瀉（三錢）　</p>
<p>上銼如麻豆大，每服一兩，水二盞半，先以水拌濕，候少時，煎至一盞，去滓溫服，待少時，美膳壓之。</p>
<p><u>天麻半夏湯：</u></p>
<p>治風痰內作，胸膈不利，頭眩目黑，兀兀欲吐，上熱下寒，不得安臥，遂〔處此〕方云眼黑頭眩，虛風內作，非天麻不能治，〔故以為君〕。〔偏頭痛乃少陽也，非柴胡不能治〕；黃芩苦寒酒製炒，佐柴胡治上熱，又為引用，故以為臣。橘皮苦辛溫，炙甘草〔甘溫〕，補〔中〕益氣為佐。生薑、半夏辛溫，以治風痰；白茯苓甘〔平〕，利小便，導濕〔熱〕，引而下行，故以為使。不數服而〔見〕愈。</p>
<p>天麻（一錢君）　柴胡（七分）　黃芩（五分酒製）　橘皮（七分去白）　半夏（一錢）　白茯苓（五分）　甘草（五分）</p>
<p>上銼碎如麻豆大，都作一服，水二盞，生薑三片，煎至一盞，去滓溫服。</p>
