<header data-type="book">
<h1>程杏軒醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>程文囿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1805">公元1805年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521064">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>劉序</h1>
<p>新安程子杏軒，深於醫，著有《醫案》一書，發明其理甚悉。予因思醫書，惟《靈樞》、《素問》最古，雖未敢必為神農氏以後之書，然其為戰國時神於是術者之所為無疑也。由是推之，《春秋》左氏傳醫和醫緩諸論說，更推之周官醫師食醫瘍醫諸職守，所云陰陽風雨晦明之生疾，九竅九臟之變動，辭約義備，醫之理盡矣。後世著書者，代作短長，往往互見，程子去其短集其長，蓋尤有心得。《醫案》一書，謂與《靈樞》、《素問》並傳可也。</p>
<p><u>嘉慶十年孟夏月長沙劉權之</u></p>

<h1>鮑序</h1>
<p>軒埃綿藐，岐風閴寥。《素》、《靈》之書，遼乎遠矣。杏軒程子，高悟絕世，精思邁倫，擅潘陸之詩名，工俞扁之道術。平生療疾，多著奇效，或蹈背而出血，或舉水而灌頭，矚垣一方，騰譽千里。僕嘗遘危候，賴君獲全，爰契洽夫蘭金，實感深於肉骨。暇日造膝，示我成編。攬要則象綱之挈元珠，鉤沉則紀昌之貫輪蝨。生枯起朽，能事匪一，視色察毫，殊績累奏。雖葛仙金匱之作，孫氏龍宮之秘，隱居本草之錄，宣公集驗之書，方茲蔑矣。懣然心服，退而弁言，洵堪拯夫膏肓，請以授之剞劂。</p>
<p><u>嘉慶庚申長夏愚弟鮑桂星</u></p>

<h1>程序</h1>
<p>子華子有言：醫者，理也，意也。蓋理明則意得，意得則審脈處方，無所施而不中。於以稱國工不難，吾宗杏軒先生其人也。先生性穎悟，工詩，隱於醫，為人療疾，應手輒奏效。余同年鮑覺生，嘗遘危疾，賴先生起之，母稱道不去口。一日出先生所著醫案，屬余弁言，余受而讀之，見其審脈處方，深得古人四然二反之理，而神明其意，以是嘆先生之藝之精，非尋常執經方習針石者所能望其項背也。然則是書其桐君之別錄，越人之逸篇也夫。</p>
<p><u>嘉慶十年歲在構蒙赤奮若余月中澣鶴樵國仁拜書</u></p>

<h1>自序</h1>
<p>醫之有案也，昉於漢之倉公。繼倉公而作者，代有其人。若明之薛氏立齋、喻氏嘉言，其尤著矣。余自慚顓陋，安敢步諸賢之後塵。雖然莊生不云乎，輪扁之斫輪也。得之於心，而應之於手，余亦自道其得心應手者而已矣。且夫醫之為術也，蔑古則失之縱，泥古又失之拘。余自業醫以來，以古為師，亦或間出新意，以濟古法所未及。雖未能發皆中鵠，而鄭重不苟之心，固有可自信者。故凡應手之處，往往錄而存之，以自驗學力之淺深。太史鮑君覺生，見之稱善，勸付剞劂，余遲疑者久之；迄今所存之案日益多，友人江君晉三，復促梓行，竊不自揆，竟徇其請，因即其信於心而應於手者，聊錄一二，尚乞海內高明君子，進而教之。</p>
<p><u>歲在閼逢困敦嘉平月既望，程文囿自序</u></p>

<h1>初集</h1>

<h2>許靜亭翁夫人產後感邪重用清下治驗</h2>
<p>丹溪云：產後當以大補氣血為主，他證從末治之。言固善矣，然事竟有不可執者。乾隆乙巳仲夏，岩鎮許靜翁夫人病，延診。據述：產後十二朝，初起灑淅寒熱，醫投溫散不解，即進溫補，病漸加重，發熱不退，口渴心煩，胸悶便閉。時值溽暑，病人樓居，閉戶塞牖。診脈弦數，視舌苔黃。告靜翁曰：夫人病候，乃產後感邪，醫藥姑息，邪無出路，鬱而為熱。今日本欲即用重劑清解，恐生疑畏，且與一柴胡飲試之，但病重藥輕，不能見效，明早再為進步。並令移榻下樓，免暑氣蒸逼。詰朝視之，脈證如故，舌苔轉黑。眾猶疑是陰證。予曰：不然。陰陽二證，舌苔皆黑。陽證舌黑，黑而潤滑，病初即見，腎水凌心也。陰證舌黑，黑而焦乾，熱久才見，薪化為炭也。前方力薄，不能勝任，議用白虎湯加芩連。飲藥周時，家人報曰：熱退手足微冷。少頃又曰：周身冷甚。靜翁駭然，亦謂恐系陰證，服此藥必殆。予曰無憂。果系陰證，前服溫補藥效矣，否則昨服柴胡飲死矣，安能延至此刻。此即仲景所謂熱深厥亦深也，姑待之。薄暮厥回覆熱，煩渴欲飲冷水，令取井水一碗，與飲甚快。予曰：揚湯止沸，不若釜底抽薪，竟與玉燭散下之。初服不動，再劑便解黑矢五六枚，熱勢稍輕，改用玉女煎數劑，諸候悉平，調養經月而愈。眾尚慮其產後涼藥服多，不能生育。予曰無傷。經云有故無殞，至今廿載，數生子女矣，壬戍歲，與訂朱陳焉。予來岩鎮譚醫，自靜翁始。</p>

<h2>劉明府少君先天不足心脾內虧治法</h2>
<p>劉少君年近三旬，春間由都來徽，抱疾數月，食減形倦，心悸少寐，浮火上升，間或見血。醫云：肝肺火盛。藥投清降，屢治不效。金文舫中翰薦延予診，謂曰：病由先天不足，心脾內虧所致。丹溪云：虛火可補，實火可瀉。虛以實治，宜乎無功。擬黑歸脾湯合生脈散，數服稍應。復診令照原方再進，諸恙漸平，接服丸藥。次春北上，秋歸晤之，狀貌豐腴，前病如失。</p>

<h2>鮑覺生宮詹郁傷心脾證類噎隔殆而復生</h2>
<p>鮑宮詹未第時，遊昆陵幕，抱疴半載，百治不痊，因買舟回里，延予治之。望色，頰赤面青，診脈虛弦細急。自述數月來通宵不寐，聞聲即驚，畏見親朋，胸膈嘈痛，食粥一盂，且嘔其半，糞如羊矢，色綠而堅，平時作文頗敏，今則隻字難書，得無已成隔證耶。予曰：君質本弱，兼多抑鬱，心脾受傷，脾不能為胃行其津液，故食阻。二腸無所稟受，故便乾。若在高年，即慮成隔，今方少壯，猶可無虞。方仿逍遙、歸脾出入，服至數十劑，病尚未減，眾憂之。予曰：內傷日久，原無速效，況病關情志，當內觀靜養，未可徒恃藥力，續得弄璋之喜，予曰：喜能勝憂，病可卻矣。半月後果漸瘥，仍勸往僧齋靜養，共服煎藥百劑，丸藥數斤乃瘳。因更號覺生，蓋幸其殆而復生也。</p>

<h2>洪楚峰孝廉中臟殆證再生奇驗</h2>
<p>洪楚峰孝廉病，遣使延診。問其使曰：何候?曰：中風。問年幾何。曰：耋矣。予曰：殆證也。辭不往，使者強之。將及門，聞鄰人語云：病將就木，醫來何為。若能起之，其盧扁乎。入視，身僵若屍，神昏不語，目闔口張，聲鼾痰鳴，遺尿手撒，切脈虛大，歇至。予曰：此中臟也。高年臟真已虧，況見五絕之候，不可為矣。其弟曰：固知病不可為，然尚有一息之存，安忍坐視，求惠一七，姑冀萬一。勉處地黃飲子合大補元煎，以為聊盡人事而已，詎意服藥後，痰平鼾定，目開能言，再劑神清食進，復診更加河車鹿茸，脈證大轉。續訂丸方付之，半載後因視他病，過其家，見翁矍鑠如常矣。</p>

<h2>方萃岩翁公郎滑精證治</h2>
<p>萃翁公郎，稟質向虧，誦讀煩勞，心神傷耗。初病浮火上升，繼則陽強不密，精時自下。診脈虛細無力，方定六味地黃湯。除茯苓澤瀉，加麥冬五味遠志棗仁牡蠣芡實，期以功成。百日服藥數劑未應，更醫病狀依然，復召診視。予曰：此水火失濟象也，豈能速效。仍用前方再加龍骨蒺藜桑螵蛸蓮蕊須，合乎滑者澀之之意。守服兩旬，虛陽漸斂，精下日減。但病久形羸食少，究由脾胃有虧。經云：腎者主水，受五臟六腑之精而藏之，是精藏於腎，非生於腎也。譬諸錢糧，雖貯庫中，然非庫中自出。須補脾胃化源，欲於前方內參入脾藥，嫌其雜而不專，乃從脾腎分治之法，早用參苓白朮散，晚間仍進前藥。服之益效，續擬丸方，調養而瘳。</p>

<h2>余氏子瘧後變證</h2>
<p>余氏子八齡，形瘦陰虛，夏患癉瘧，愈後失調。值秋燥時，偶作寒熱，幼科泛投疏散之劑，轉致躁擾搐搦，危證百出。余翁求視，以決死生。予見其兒，肢掣痰鳴，身熱煩躁，勢頗危篤。診脈神根未敗，予曰：疾固劇矣，然尚可生。翁喜叩其說，予曰：驚風一證，時世無傳，小兒受害，不可勝數。喻氏雖闢其謬，特重外感，輕內傷，經曰：東方青色，入通於肝。其病發驚駭，醫昧病因，用方通套，偶遇強實而應者有之，特此兒所患，本非外因，良由腎水下虛，肝失所養，木逢金制，故作寒熱。狀似外感，誤投疏散，津液更傷。因而肝風鼓動，變幻若此。予尚望其生者，因其脈猶未敗耳。方擬六味地黃湯，滋水生木，更加歸芍甘草鉤藤之屬，和陽熄風，風熄而驚自定矣。翁聞言甚悅，服藥痰平熱退，不搐不煩，另制膏子藥與服全愈。</p>

<h2>汪典揚翁外孫女體弱感邪證變抽掣</h2>
<p>典翁外孫女年三歲，病經旬日，發熱便瀉，初服疏導藥不應，忽作抽掣，復請前醫視之，雲系動驚，更加金藥琥珀。典翁邀予商酌。望其兒，色白神疲，頭身雖熱，四肢冰冷，按脈沉細無力，謂曰：病乃質虧感邪，便瀉多日，脾元受傷，以致肝風內動。金石之品，不可用也，擬六君子湯加炮薑桂枝，服藥熱退瀉稀，再服肢溫瀉止，驚亦不作。</p>

<h2>方玉堂翁孫女暑風驚證詳論病機治法</h2>
<p>玉翁孫女年四齡，夏間感受暑風，熱發不退，肢搐體僵，目斜口齧。予曰：此暑風急驚也。暑喜傷心，風喜傷肝，心肝為臟，臟者藏也，邪難入，亦復難出，證雖可治，然非旦晚能愈。且內服煎藥，仍須參以外治之法，令挑黃土一石，捶細攤於涼地，上鋪荷葉，再用蒲席與兒墊臥，慎勿姑息。俟熱退驚定，方可抱起，藥用防風、香薷、柴胡、鉤藤、連翹、川連、石膏、木通、生甘草，引加鮮菖蒲扁莢葉，清暑疏風，一切金石之類，概置不用。蓋病因暑風生熱，熱生驚，金石鎮墜錮邪，最為害事，依法服藥，守至七朝，熱退驚定。渠家以為病愈，恐久臥涼地不宜，將兒抱置床上，當晚熱復發。予令仍放土上，熱即退。尚不之信，次晚復抱起，熱又發，乃問所由。予曰：邪未淨也。又問邪何日可淨，予曰：傷寒以十二朝為經盡，大概亦需此期。屆期上床安臥，不復熱矣。藥換養陰，調和肝胃，諸恙皆平。惟喑啞不能言，其母憂甚。予曰：無傷，將自復。閱三月，果能言。予按此證，小兒夏間患者甚多，治不如法，往往不救，較之尋常驚證特異。考諸古訓，鮮有發明，惟近時吾郡許宣治先生，敘有十則，辨論頗詳。至若臥置土上，墊用荷葉一法，猶未言及。予治此證，每用此法獲驗，蓋土能吸熱，荷葉清暑故耳。特其驚之作，必由熱盛而成。然有一熱即作者，有熱二三日而作者，其狀悉皆昏迷搐搦，肢厥咬牙，輕者時昏時醒，重者七日方蘇，極重者至十二朝始轉。若由吐瀉而起，脈細質虧，不能受清涼者，多不可治。倘不因吐瀉，一熱即驚，脈洪質實。能受清涼者，十中可救七八，勿視其危而棄之也。再按驚後喑啞一證，諸書亦未論及，每見證輕者，病後多無此，患重者有之。然有喑至一兩月愈者，有三四月愈者，有終身不愈者。予堂侄女驚後數載始能言。又見保村族人子，驚後喑啞，至今十餘年，竟不能愈。其故總因多服金石之藥所致，若未服此等藥，雖包絡暫閉，當自開耳。</p>

<h2>方宅揆翁幼孫暑風驚證病愈之奇</h2>
<p>宅翁幼孫，夏月患暑風驚證，熱盛神迷，肢掣齒齘，目斜，予照治玉翁孫女法。數日，證猶不轉，不啼不食，氣息奄奄，儼如就斃。翁以為殆。予曰：病誠可畏，若在他候，則無生理，惟此證乃暑邪內閉心竅，幸得竅開，尚可挽回。仍令守視勿懈，一夕迅雷驟至，兒臥地上，忽然作聲，如夢初覺，此後神明漸蘇，熱平驚定。斯證予雖為治愈，然理殊不可測，豈雷氣通於心，雷動則蟄啟，心為邪閉，得雷聲而啟耶。</p>

<h2>洪荔原翁尊堂大頭時疫真熱假寒之證</h2>
<p>荔翁尊堂，年屆六旬，初發寒熱，疏散不解，越日頭顱紅腫，漸及面目頤頰，舌焦口渴，發熱脈數。予視之曰：此大頭時疫證也，東垣普濟消毒飲最妙。翁云：家慈向患腸風，體質素弱，苦寒之劑，恐難勝耳。予曰：有病當之不害，若恐藥峻，方內不用黃連亦可。市藥煎熟，僅飲一杯，旋覆吐出。病人自覺喉冷，吸氣如冰，以袖掩口始快。眾見其拒藥喉冷，疑藥有誤，促予復診，商欲更方。細審脈證，復告翁曰：此正丹溪所謂病人自覺冷者，非真冷也。因熱鬱於內，而外反見寒象耳。其飲藥旋吐者，此諸逆衝上，皆屬於火也。如盈爐之炭，有熱無焰，試以杯水沃之，自必煙焰上騰，前治不謬，無庸遲疑。令將前藥飲畢，喉冷漸除，隨服復煎，乾渴更甚，頭腫舌焦如前。荔翁著急，無所適從。予曰無他，病重藥輕耳。再加黃連，多服自效。如言服至匝旬，熱退腫消，諸恙盡釋。可見寒熱真假之間，最易惑人，若非細心審察，能不為所誤耶。</p>

<h2>又夫人子嗽</h2>
<p>荔翁夫人，懷孕數月，嗽喘胸痹，夜不安臥，食少形羸。予曰：此子嗽也。病由胎火上衝，肺金被制，相搏失職，治節不行。經云：咳嗽上氣，厥在胸中，過在手陽明太陰。夫嗽則周身百脈震動，久嗽不已，必致動胎。古治子嗽，有紫菀散，百合湯法，猶未善。鄙見惟補肺阿膠湯，內有甘草、兜鈴、杏仁、牛蒡清金降火，糯米、阿膠潤肺安胎，一方而胎病兩調，至穩至當。服藥兩日，咳嗽雖減，喘痹未舒，方內加葦莖一味，取其色白中空，輕清宣痹再服數劑，胸寬喘定，逾月分娩無恙。</p>

<h2>族兄奏韓挾虛傷寒，因循貽誤救治原委</h2>
<p>族兄奏韓，年逾四旬，外腴內虧，邪乘虛入，寒熱咳嗽，頭身疼痛，脈大無力。予初投溫散不解，轉用補中益氣湯加薑棗，輔正托邪。語其侄曰：令叔病候不輕，慎勿泛視。旁人以為病輕藥重，更醫漫不為意，遷延數日，勢漸鴟張。延同道余朗亭先生診治，不肯立方，既而曰：程某現居比鄰，胡不邀來同議。乃復相招，觀其病狀增劇，面紅目赤，舌黑唇焦，神識昏亂，脈息豁大空虛，勢欲內陷。因與余君商，以壯中溫托，傷六味回陽飲方法。無如渠家皆系女流，其侄少不諳醫理，或謂煩熱，若此再投姜附，必致逾牆上屋。故此遲疑，藥不敢服。又復因循，病勢更劇，再請余君不至，闔家張皇，其侄偕鮑履平兄來舍懇治，並乞扎邀余君，予為作書余君始至。賓朋交集，時金融若兄在座，私謂予曰：子可盡力舉方，服藥之事，吾能任之。復與余君斟酌，仍用前方，融兄俟藥煎熟，面督服下。次日神采稍回，脈象漸斂，方除炮姜，加枸杞山萸，又服一劑，熱退舌潤。再將附子分兩減半，加杜仲山藥。繼進大補元煎，兩月始康。</p>

<h2>方牧夫兄尊堂寒濕內伏加感外邪</h2>
<p>嘉慶甲子初秋，牧兄邀視伊母恙云，家慈年逾五旬，外腴內虧，病經八日，上熱下冷，痰多汗少，咳嗽作嘔。昔患淋痛，茲亦帶發，醫為散風清暑，治俱不應，又以為肝火，擬用龍膽瀉肝湯，求為決之。予曰：淋證為本，感證為標，從本從標，當觀病之緩急，未可臆斷也。比往診視，脈細面青，身熱足冷，時正酷熱，病人猶蓋氈被，舌苔白滑，胸腹脹悶，不飢不渴。謂牧兄曰：尊堂之病，乃寒濕內伏，加感外邪。治宜溫中逐邪，淋痛無暇兼顧，方用蒼白二陳湯，加姜附、白蔻以溫中燥濕，桂枝　、秦艽以徹其表。牧兄問服藥以何為驗?何期可愈?予曰：傷寒以舌為憑，舌苔退淨，病邪自清，計非二候不可。初服舌苔稍退，再劑已退其半，服至四劑，寒熱全解，舌苔退淨，淋痛亦止。惟腹悶食少，大便未行，次日忽便瀉數次，僉以傷寒漏底為慮。予曰：無妨。仲聖云：胃家實，穢腐當去也。方易六君子湯，加穀芽苡仁澤瀉神麯，健脾滲濕。三日內共瀉二十餘行，始得胸寬食進。越日忽又發熱，診脈浮大。予曰：此復感也。牧兄曰：病人日來俱臥帳中，邪何由入。予曰：想因日前便瀉，夜間下床，恙久體虛，易於感耳。仍用六君子湯，加姜附秦艽，一服即平。</p>

<h2>曹近軒翁感後食復</h2>
<p>近翁同道友也，夏月患感證，自用白虎湯治愈。後因飲食不節，病復發熱腹脹，服消導藥不效，再服白虎湯亦不效，熱盛口渴，舌黃便閉。予曰：此食復也。投以枳實梔豉湯，加大黃，一劑和，二劑已。仲景祖方，用之對證，無不桴鼓相應。</p>

<h2>曹肖岩翁春溫兩感危證</h2>
<p>道友曹肖岩翁，故居楊村，僑寓岩鎮，乾隆甲寅春初病寒熱頭痛，自服溫散不解，又因胸膈脹悶，疑夾食滯，加用消導亦不效。直至七朝，熱發不退，精神恍惚，予視之曰：病由冬不藏精，又傷於寒，邪伏少陰，乘時觸發，即春溫兩感證也。渠慮客中不便，乃歸，詰朝延診，勢漸加重，神昏脈大，面赤舌黑。方仿理陰煎，補中托邪。渠師仇心谷先生，見方稱善。次早復診，予告仇公曰：此病全是真元內虧，邪伏於裡，猝難驅逐，吾料其熱煩過二候，始能退去。熱退神自清耳。復訂六味回陽飲與之。越日再視，熱盛舌乾，煩躁脈數，因易左歸飲，令服兩劑，期屆二候，果汗出熱退。守至兩旬，飲食大進，日啜糜粥十餘碗，便猶未圊，其昆季問故。予曰：人胃中常留水穀三斗五升，每日入五升，出五升。緣病中全不能食，胃中水穀，久經告竭，今雖日啜糜粥，不足彌縫其闕，並未有餘，焉能驟便。予閱方書，案載一人病後，納食頗多，並不欲便，亦無脹楚，眾疑之。醫曰：胃津虧耗，燥火用事，所進之食即銷熔，其渣滓須待津回燥潤，方能便利如常，閱月餘便始通，今才兩旬，何慮為?後至三十餘日便通，病亦全卻。</p>

<h2>又三郎麻閉急證</h2>
<p>肖翁三郎心成兄，幼時出麻，冒風隱閉，喘促煩躁，鼻扇目闔，肌膚枯澀，不啼不食，投藥莫應。翁商於予，見其勢已瀕危，謂曰：此麻閉急證，藥非精銳，蔑能挽救。方疏麻杏石甘湯與之。一服，膚潤麻漸發出，再服，周身麻出如痱，神爽躁安，目開喘定，繼用瀉白散，清肺解毒，復用養陰退陽之劑而愈。予治麻閉危候，每用此方獲驗。蓋麻出於肺，閉則火毒內攻，多致喘悶而殆，此方麻黃髮肺邪，杏仁下肺氣，甘草緩肺急，石膏清肺熱，藥簡功專，所以效速。可見仲景方不獨專治傷寒，並能通治雜病也。</p>

<h2>吳芳崖兄幼孫胎瘧</h2>
<p>芳兄乃孫，甫生兩月，即患胎瘧。幼科僉用疏導和解不愈，面色黃滯，口鼻手足俱冷，予疏六君子湯，加炮姜。芳兄曰：襁褓即可服參耶?予曰：小兒如初生萌芽，不慣風日，攻伐宜少，補益宜多，況瘧久脾傷，溫補脾元，重扶生氣，不易法也。服藥色澤肢溫，瘧止無恙。</p>

<h2>方理豐翁中寒脫陽殆證救蘇</h2>
<p>理翁年逾五旬，耽於酒色，時值寒夜，鄰家邀飲，起身小解，昏眩仆地。促予往視，面白肢厥，口鼻氣冷，神昏遺溺，脈細如絲。予曰：陽脫矣。奈何?渠子弟泣求拯治，倉卒市藥不及，令先取艾火，炙氣海關元數壯，並煎薑湯灌之。少頃，呻吟出聲，方訂參附湯，因其力難辦參，姑用黨參二兩，附子一兩，濃煎服訖，四肢漸溫，目開能言。舁歸，詰朝脈色略回，惟嘔惡畏寒，不思飲食，將前方分兩減半，參合理中湯方法，與服二日，轉用右歸飲，溫補腎元，月餘方能起簀。</p>

<h2>方晉偕翁乃媳咳嗽成癆預決不治</h2>
<p>晉翁乃媳，秋間咳嗽，不以為意。交冬漸甚，午後寒熱。醫云外感，服藥不效，遂致形倦肌瘦，食少便溏。予視其行動氣促，診脈弦勁無胃，詢其經期，三月未至，私謂晉翁曰：此殆證也，危期速矣。翁驚曰：是病不過咳嗽寒熱，何以至此?予曰：經云二陽之病發心脾，有不得隱曲，女子不月，傳為風消息賁者，死不治。矧脈弦勁無胃，乃真臟也。經又云：形瘦脈大，胸中多氣者死。脈證如此，何以得生。辭不舉方，逾旬而歿。</p>

<h2>潘氏室女經閉成癆不治之證</h2>
<p>潘氏室女，年十五歲，初患腹痛，馴至咳嗽寒熱，形瘦食少，診脈細數，詢經事愆期三月。予曰：瘵證也。辭不治。未百日而歿。歷見婦人咳嗽寒熱，脈數經閉者，多不可治，若室女更無一生。任用補虛清熱，解鬱調經諸法，總無靈效。求諸古訓，鮮有良法。惟《金匱》載有大黃䗪蟲丸，及百勞丸二方，喻氏闡發其義，竊思此證當其初起，血痹不行，癆瘵將成未成之際，即以此藥投之，祛舊生新，或能圖功，亦未可料。倘遷延時日，元氣已衰，則無及矣。識此質諸明哲。</p>

<h2>方燦侶翁腹痛蓄瘀脫血治愈並商善後法</h2>
<p>燦翁年近七旬，向患腹痛，一夕忽吐下紫瘀血塊數碗，頭暈自汗，目闔神疲，診脈芤虛，謂其子曰：此血脫證也。書云：久痛多蓄瘀。蓋腹痛數年，瘀蓄已久，一旦傾囊而出，夫氣為血之帥，高年氣虛，切慮暈脫。古人治血脫，每用獨參湯以益其氣，但目下參價甚昂，恐難措辦，乃訂大劑黑歸脾湯，資其化源，固其統攝，未幾獲痊，次年病復。雖不若前之劇，亦覺困倦莫支，仍守前法治愈。其子憂甚，恐其再發，商圖善後之策。予思血蓄之故，必有窠囊，如水之盈科而進，按胃為生血之源，脾為統血之臟，苟脾健胃強，則氣血周流，何蓄之有?經以六經為川，腸胃為海，譬諸洪水氾濫，究緣江河失疏，為訂二方，早用歸脾丸，晚用參苓白朮散，每方俱加丹參乾漆二味，冀其去瘀生新。服藥經年，其病遂絕。</p>

<h2>農人某攻痞動血昏暈急證</h2>
<p>農人某，久患痞積，腹如抱甕。偶遇方士，教以外用炙法，內服末藥，即可刈根。某信之，數日後，忽覺心嘈如飢，吐下紫瘀，成碗成盆，頭暈不能起坐，無力延醫。舁至鎮中戚家，招予往視。病者倦臥榻上，閉目呻吟，方欲診脈，又血湧出，狀如豚肝，遍地皆汙，昏暈手戰咬牙。戚家恐其脫去，急欲扛回。予按脈雖虛細，尚未散亂，戒勿驚擾，姑俟之。少頃暈定，令先灌米飲以安其胃，續灌黨參湯以益其氣，再與八珍湯一劑，囑盡今晚服盡，明日再商。詰朝人來請云：昨服藥血幸止，惟心慌氣墜，睡臥不安。思血脫之後，心脾必虧，乃易歸脾湯，加黑姜，令其扛歸，多服自效。後果如言。</p>

<h2>王以仁翁乃郎暑病熱久傷陰</h2>
<p>以翁乃郎年五歲，夏月病逾兩旬，諸藥罔效，發熱不退，汗多口渴，色白肌瘦，切脈虛數無力。閱前方悉皆清散之屬，翁問病勢何如?答曰極重。又問此為何病?予曰：暑病也。初治甚易，醫不如法，熱久傷陰，元氣被伐，猶幸肝風未動，急宜養陰，保金生水，尚有生機。方用首烏、料豆皮、扁豆、沙參、玉竹、麥冬、五味、石斛、茯苓、丹皮，令取稻露煎藥，守服四劑，汗止熱退，更進麥易地黃湯，神采漸轉。惟飲食欠旺，參用六神散，餐加元復。</p>

<h2>又翁自病肝鬱證似外感</h2>
<p>以翁自病寒熱脅痛，口苦食少，呻吟不寐，已經月餘，服藥不應，自以為殆。診脈弦急，知其平日情志抑鬱，肝木不舒，病似外感，因系內傷，與加味逍遙散，一服而效，數服而安。</p>

<h2>吳秀森翁乾腳氣</h2>
<p>秀翁年將五十，體虛多勞，初病足痹，醫治數月不效，診脈虛濡無力，視其腓肉枯癟，膝蓋腫大，謂曰：此乾腳氣也。又名鶴膝風。病由肝腎下虧，邪乘虛伏，醫者不知溫補托邪，泛從標治，轉致血氣耗傷，無性命之虞，有終身之患。治仿大營煎，加附子、黨參、河車、鹿角膠，初服十劑，其痛已減，再服十劑，足能履地，續服丸藥，枯回槁澤，行動如常。</p>

<h2>洪臨川兄幼女偏廢</h2>
<p>臨兄女三歲，右肢痿軟，不能舉動，醫作風治。予曰：此偏廢證也。病由先天不足，肝腎內虧，藥當溫補。若作風治，誤矣。臨兄曰：偏廢乃老人病，孩提安得患此。予曰：肝主筋，腎主骨，肝充則筋健，腎充則骨強，老人腎氣已衰，小兒腎氣未足，其理一也。與右歸飲，加參耆鹿角膠，數十服乃愈。</p>

<h2>吳禮庭兄時感腫腮消後睪丸腫痛</h2>
<p>禮兄平素體虛，時感寒熱，耳旁腫痛，維時此證盛行，俗稱豬頭瘟。醫與清散藥兩劑，耳旁腫消，睪丸旋腫，痛不可耐，寒熱更甚。予思耳旁部位屬少陽。睪丸屬厥陰肝膽相為表裡，料由少陽之邪，不從表解，內傳厥陰故耳。仿暖肝煎，加吳萸一劑而效。同時族人澤瞻兄病此，予診之曰：得無耳旁腫消，睪丸腫痛乎?澤兄驚曰：子何神耶。亦用煎法治愈。後閱會心錄，載有腫腮一證，云醫不知治，混投表散，邪乘虛陷，傳入厥陰，睪丸腫痛，耳後全消，昔賢之言，洵不誣也。</p>

<h2>莊炳南兄素稟火體病治與眾不同</h2>
<p>炳兄稟質多火，喜涼惡熱，夏月常以冷水灌汗，露臥石地為快，素患痰火，方用生地、丹皮、麥冬、山梔、栝蔞、黃芩、知母等味，發時服之即安，乃至他病亦服此方，並食肚肺餛飩湯，汗出即解。暇時向予道及，予曰：痰火藥應用涼，若凡病守服一方，似無其理。倘屬傷寒陰證，恐其誤事，後當慎之。一日果患陰暑感證，寒熱身痛，脈細肢冷，予投以附子理中湯不應，再強服之，病反加重，堅不服藥。索食餛飩肚肺湯，予謂葷油膩邪，戒勿與食，不聽。食後得汗反安，欲服常治痰火方，家人勸阻不可，竟服之。病卻，後亦無損。予思咫尺間，人病體質之殊若此。則南北地土不同，風氣各異，其人其病又何如耶。《素問》異法方宜論，不可不玩索也。</p>

<h2>柳蔭千兄令愛無故發癍</h2>
<p>嘉慶甲子秋，予在鄰村，偶值余朗亭先生云：日前往富謁視一女子，病甚奇。初起無故發癍，醫言是火，多投涼藥，漸變損怯，今脈證俱敗，此何故也?予曰：無故發癍，事屬罕聞。若云變怯，大都清涼過劑，元氣被戕耳。越日蔭兄令愛，兩脛癍出，密密形如錦紋，診脈和平，詢其寢食如常，別無他疾。予曰：勿藥。蔭兄曰：癍乃重候，安可勿藥。因以余公所云告之，竟聽予言。後癍退無恙，設當時雜投湯藥，不幾踵富謁女子之覆轍乎?</p>

<h2>柳聞鶯兄挾虛傷寒並後患陰瘧誤截致變拯治始末</h2>
<p>聞兄體虛感邪，兼挾內傷，病起寒熱肢厥，診脈沉細，初投當歸四逆湯，肢厥雖回，身熱未退，審屬少下虧，邪乘虛陷，更進理陰煎兩劑，復診脈轉浮大，舌黑麵紅，奄奄欲脫，貧士無力服參，姑以黨參熟地各四兩，熬成濃汁，晝夜與漿粥間進。神稍回，脈稍斂，尚覺心煩內熱，舌枯津涸，囑煮團魚湯煎藥。諸候漸平，又轉為瘧。發時甚劇，多方圖治，百日始痊。後數年，因夏傷於暑，秋髮痎瘧，邪伏於陰，寒熱夜作，予用補中益氣湯，參香紅飲數劑未止，自求速愈，雜服截瘧諸方，氣血大傷，面青形倦，寢食俱廢，目中時見紅光，溲溺淋漓。復迓予治，悉屏瘧門套藥，仿四明治久瘧不愈，用養營湯送八味丸法，十劑而止。</p>

<h2>方繡文兄夫人懷孕日吐清涎數碗</h2>
<p>繡兄夫人，舊冬曾患弱證，今春又病肝風，俱予治愈。續復得一奇證，口吐清涎，日計數碗，《道經》云：涕唾精津汗血液，七般靈物總屬陰。涎亦液屬，久吐真陰必傷，然百計治之不止，語其婦曰：古有咽華池真水之法，咽之不吐何如。婦曰：若強嚥下，即憒憒欲嘔。診手少陰脈微動，問經事兩月未行，告繡兄曰：脈象似屬妊娠，不卜昔年懷孕有此證否。曰：拙荊往年受孕，原有吐證，但所吐者食耳，此番證絕不類。況舊病體虛未復，焉能受孕?予曰：據脈多屬重身，不然斷無此等奇證，今不論其孕否，專意補養肝腎，兼益脾胃，以俟消息。交夏後腹中躍動，孕形漸露，復邀診視，繡兄笑曰：拙荊累孕矣。但吐涎如故奈何?予曰：無傷，產後當自止。分娩後涎竟止。計自春徂冬，十月之間，所吐涎沫無算，而津液竟無所損，且胎前諸治不應，產後不治自痊，亦異事也。</p>

<h2>曹德酬兄乃郎水腫</h2>
<p>德兄乃郎年十四歲，證患水腫，醫投利水諸藥無效，轉致腹大如鼓，足冷如冰，頭身俱腫，陰囊光亮欲裂，行動喘促，勢甚危急，診脈沉細無力。謂曰：此脾肺腎三臟內虧之病也。肺虛則氣不化精而化水，脾虛則水無所制而反克，腎虛則水無所主而妄行，仲師金匱腎氣丸，如禹之治水，行所無事，實為至當不易之方。無如病久形羸，消耗藥多，真元敗壞，恐難挽矣。德兄固請救治，仍用本方，旬日而驗，不月而痊。</p>

<h2>方詠葭兄傷寒轉瘧並論胎瘧病因</h2>
<p>詠兄先天不足，形瘦質弱，夏夜貪涼，醉而使內，邪乘虛伏，交秋病發。初診脈細肢冷，舌白麵青，畏寒不熱，腰痛無汗，方訂附子理陰煎。服後夜發壯熱，次日復視，謂其尊人曰：令郎病候，乃夾陰傷寒，勢防內陷，藥當溫中托邪，冀其云蒸雨化。令守原方。服至六日，病猶未減，舉家憂甚。予曰：正虧邪重，未易驅除，日來證未變幻，即為見效，須過二候，方望轉機。方內加入參耆枸杞杜仲，一意照顧真元，毫不雜投標藥。屆期得汗熱退，渠家以為病愈，是晚復發寒熱。詰朝往視，予曰：瘧作矣。詠兄曰：瘧疾吾生平未曾患過，恐其纏綿，懇為截之。予曰：子病乃極重傷寒，賴溫補諸劑，守住三陰門戶，不使內陷。經言少陽為樞，今未淨之邪，得從少陽轉樞而出，乃佳兆也，烏可言截。於是早進八味丸，晚服補中益氣湯，十數發才止。予曰：慎之防復。旬日後瘧果復，更用養營湯，吞八味丸乃愈。按胎瘧一證，諸書鮮有言及，患者多至淹纏，輕則月餘，重則數月，治不如法，或成虛勞，或變腫脹，即質實之人，亦累成瘧母，為終身之患。且常瘧有不入陰，胎瘧每多入陰，常瘧愈後少復，胎瘧愈後多復。又究此病淹纏之故，想由經隧路徑生疏，故邪不易出耳。續閱《會心錄》云：常發瘧者，邪從毛竅熟徑而出，其愈易。若胎瘧則隧道少疏通之機，毛竅非熟由之路，其愈難，乃知昔賢之言，先得我心矣。再按其證，似與痘疹相類，人生皆不能免。夫人稟父母之精血以成形，其所以必患痘疹者，蓋因淫火種於有形之先，發於有生之後，不識胎瘧之因，果何所本耶，錄中惜未詳及。或謂此乃胎中感受風邪，故名胎瘧，是說予未之信。</p>

<h2>閔方田兄初患少陰傷寒喉痹治愈後患腳氣雜治成痿</h2>
<p>方兄體素清癯，證見身熱足冷，喉紅腫痛，脈息沉細無力。診畢謂予曰：賤恙似屬風熱，煩君為我散之。不卜喉痛可吹冰硼散否。予曰：不然。君病乃少陰傷寒，少陰之脈，循喉嚨，良由腎元下虛，寒邪客之，雷龍不安其宅，是以上熱下寒，其喉為痹。治當溫補下元，引火歸根。若泛視為風熱而清散之，殆矣。方仿鎮陰煎。一服喉痹愈，再服寒熱退。是日有何生者，從本里吳譫泉先生遊，證候相類，向與喉科某善，因便道托診。某與清散藥一劑，服後徹夜煩躁不安，比曉，吳公迓予，至已逝矣。歸告閔君，駭為吐舌。後數年，渠又患腳氣腫痛，予初為祛風滲濕，因其下元素虧，兼益肝腎，診視數次，病猶未減，更醫消散過劑，血氣耗傷，腿膝枯癟，致成痿廢，足不任地，閱十餘年，始能出戶。</p>

<h2>汪心滌兄夫人半產血暈危證</h2>
<p>汪心滌兄夫人，體孱多病，懷孕三月，腹痛見血，勢欲小產，延余至時，胎已下矣。血來如崩，昏暈汗淋，面白如紙，身冷脈伏。予曰：事急矣，非參附湯莫挽。僉謂用參恐阻惡露，予曰：人將死矣，何遠慮為。亟煎參附湯灌之。少蘇，旋覆暈去，隨暈隨灌，終夕漸定，續用參朮耆草歸地枸杞大劑濃煎，與粥飲肉汁間服，旬日始安。再投歸脾湯數十劑乃愈。後張效伊翁夫人，證同，亦照此法治驗。乾隆甲寅秋，予室人葉孕三月，胎墮血暈，日進參耆十數兩乃定。後仍半產數次，勢皆危險，均賴補劑挽回。倘惑於浮議，並殆矣。</p>

<h2>吳立亭翁幼孫傷暑危證治驗</h2>
<p>嘉慶辛酉夏，立翁幼孫，傷暑發熱，吐瀉不止，神煩體躁，唇赤舌黃，口渴欲飲，飲後即吐。診脈沉伏，手冷過肘，足冷過膝，料非寒厥。欲投涼劑，恐其吐瀉，脾胃受傷，擬用六君子湯，除白朮加川連木瓜黃土稻花，安脾胃，祛暑邪。服藥不效，維時赤日當空，暑氣正酷，偶見庭前花卉，枝葉枯萎，童子汲水溉之。因悟病機，乃與生脈地黃湯一服，吐瀉即止，再服，脈出肢溫，未及旬而愈。思前脈伏肢厥者，乃童真未充，吐瀉日頻，津液頓傷，脈乃血派，脾主四肢，脾不能為胃行其津液，四肢不得稟水穀之氣故也。六味大培真陰，生脈保金化液，小兒臟氣易為虛實，是以效速。</p>

<h2>梅文彩兄令堂病類噎隔奇證</h2>
<p>噎隔一病，古人論之甚詳，尚有似隔非隔之證，猶未言及。文兄令堂年屆四旬，病經數月，初時不能食飯，後並米飲俱不能咽，強之即吐，隔證無疑。然每日尚可啖乾麵粿數枚，思古人論隔證，不出胃脘枯槁四字。又稱陽氣結於上，陰液衰於下，今既不能食飯，何獨能食麵?且飲湯即吐，干食反安，理殊不解，與逍遙散，數服不應。考《張氏醫通》有飲鵝血法，行之又不驗，更醫多方圖治，亦不效，因勸勿藥，兩載後可食麵湯並精豬肉。今十餘年，肌肉不瘦，起居如常，亦奇證也。</p>

<h2>鄭鶴鳴挾陰傷寒</h2>
<p>鄭鶴鳴，君平之流，冬月適患傷寒，初起寒熱身痛，不以為意。延挨數日，陡然肢冷，脈伏肌肉青紫，面赤煩躁，呃逆頻頻，請同道曹肖岩翁診視，詢知系欲事後起病，以為少陰下虧，寒邪乘之，逼其真陽外越，與六味回陽飲。服之不應，勢已瀕危，邀予商酌。予曰：景岳回陽二方，皆能救急，其中尚有分別。夫寒中陰經，審其陰陽俱傷，而病尚緩者，則從陰陽兩回之法。苟真陽飛越，重陰用事，須取單騎突入重圍，搴旗樹幟使，既散之陽，望幟爭趨。若加合陰藥，反牽制其雄入之勢。定方單用姜附參草四味，煎令冷服，外用蔥艾炒熱熨臍，老薑附子皮煮汁蒸洗手足，於是一晝夜厥始回，脈始出，惟呃未止，每呃必至百聲，知為腎氣上衝，於前藥中參以熟地枸杞五味丁香，攝納真元。諸恙漸減，改用右歸飲，與服二日，目辣舌燥，投六味地黃湯，浮陽頓平。復為調理脾胃及脾腎雙補而起。</p>

<h2>鄭媼便閉</h2>
<p>鄭媼年逾古稀，證患便閉，腹痛肛脹，寢食俱廢，已經兩旬，諸治不應。延診以下為囑，切脈虛細而澀，謂曰：此虛閉也，一補中益氣湯足矣。何下為。服藥兩日，便仍不通，自言脹痛欲死，刻不可耐，必欲下之。予曰：下法吾非不知，但年高病久，正氣虧虛，下後恐其脫耳。媼曰：與其脹閉而死，莫若脫之為快。因憶心悟篇云：病有不可下，而又不可以不下，下之不得其法，多致誤人。沉思良久，於前湯內加入製大黃三錢，仿古人寓攻於補之意。飲後腸鳴矢氣，當晚便解，結糞數枚，略能安臥。次日少腹尚痛，知其燥矢未淨，仍用前方大黃分兩減半，再劑便行兩次，先硬後溏，痛止食進而愈。夫補中益氣湯，原無加大黃之法，此雖予之創見，然醫貴變通，固不容膠柱鼓瑟也。</p>

<h2>吳光先翁偏中便閉</h2>
<p>光翁年逾七旬，偏中臥床不起，治用地黃飲子，參左右二歸飲。服藥半月，證已守住，惟大便兩旬未圊，腹痛肛脹，蓋由氣血俱虧，不能傳送。方如通幽湯、補中益氣湯、五仁湯、濟川煎，屢投不驗。思用豬膽汁蜜煎導法，無如燥糞已抵肛門，阻不能入，每一努掙，魄汗淋漓，頭暈欲脫，無可如何。偶記葉氏案中載治便閉，有用挖法，令病人自用中指染油探入肛內，將燥糞挖碎而出。奈病者肢廢自難掉動，囑其孫依法行之，當即挖出燥糞數塊，隨後自解，穢腐甚多。不勞餘力，病者稱快，洵治便閉捷法也。</p>

<h2>董千云傷寒格陽證</h2>
<p>董千云賣花為業，年逾四旬，外狀豐腴，冬月患傷寒，診脈沉細無力，證見寒熱煩躁，頭身疼痛，面紅目赤，舌吐唇外數寸，病來勢暴。詢因房勞感受寒邪，逼其虛陽外露，即格陽證也。方定六味回陽飲，令其煎成冷服。無如飲藥旋嘔，並吐蛔蟲，躁擾如故，甚為躊躇。其母跪求救治，勉取前藥半盞，衝入豬膽汁數匙，試服不嘔，良久又與半盞，夜間盡劑。晨診躁象略安，舌收吐止，仍照原方再進，次易八味地黃湯。時屆九朝，忽口噤不語，十一二日，又寒熱如瘧，有從外感起見者，予曰：溫中即可以散邪，強主正所以逐寇。力排眾議，堅持數日，稍見轉機，此後尚多枝節，極力扶住正氣，守至兩旬，寢食雖安，神采欠爽。因思前病重時，只圖固正，未暇驅邪，溫補藥多，未免留邪閉竅，曾記方書論傷寒時疫，愈後神識不清，有屬邪滯心包之語，與服蠻煎兩劑，神明頓清，續為調理而痊。</p>

<h2>許嫗傷寒疑難證治</h2>
<p>許嫗冬月病傷寒，寒熱頭痛，醫投疏表和解不應，漸致昏譫口渴，更進芩連清之亦不應。便秘經旬，用大黃亦不下。予初望其面赤煩躁，意屬陽證，及切脈細澀，又疑陽證陰脈，思維未決，因問其汗自病起，至今未出，捫之膚熇而枯，予曰是矣。且不立方，姑先與藥一劑，有驗再商。幸彼農家不諳藥性，與藥即服。次日往視，面紅稍退，煩躁略平，膚腠微潤。予曰生矣。疏方付之，乃大青龍湯也。又服一劑，更見起色，轉為調理而安。渠族人佩之兄與予善，亦知醫理。問曰：君治此病，殆有神助，不然如斯重候，何藥之奇效之速也。予曰仲聖云，太陽病不罷，面色緣緣正赤者，此陽氣怫鬱在表，其人躁煩不知痛處，但坐以汗出不徹，更發汗則愈。何以知之?脈澀故也。子能參悟此篇，自知此病之治法矣。</p>

<h2>吳某時瘧變證</h2>
<p>吳某嘗富後貧，體虛多郁，病患時瘧，堅不服藥，已半月矣。一夕忽發熱不退，胸悶乾嘔，醫投小柴胡湯不應，熱盛汗多，神昏體倦，脈細無力，囈語音低。急延予診。按仲師云：譫語有虛有實，實則譫語，虛則鄭聲。《素問》云：言而微，終日乃復言者，此奪氣也。用補元煎合生脈散，兩服霍然。</p>

<h2>族叔曉堂失志狂妄</h2>
<p>族叔曉堂，向在吳地貿易，情志不舒，抑鬱成病，神迷譫妄，諸醫無效。同人慮有不測，送回里中，診脈弦急搏指，知其因郁生火，因火生痰，痰火擾其神明，蒙其心竅，是以語言不正，舉動異常，與陽明胃實狂亂之候不同，故前醫用下藥不應。病久正氣固虛，補之又恐助其痰火。爰仿服蠻煎加梨尖鐵琥珀辰砂為引。初服譫妄稍定，再劑寢食漸安，共服十二劑，神清語正，舉止如常。蓋此方能清心肝之熱，而通神明，故效速如此。</p>

<h2>族人聯升休息痢證治奇驗</h2>
<p>族人聯升，患休息痢，淹纏兩載，藥如清火固澀，補中升提，遍嘗無效。偶遇諸塗，望其色萎氣怯，知為脫血之候。謂曰：爾病已深，不治將殆。渠告其故，予曰：吾寓有藥，能愈爾病。盍往取之。比隨至寓付藥，再服即愈。渠以兩年之疾，百治不瘳，此藥效速如此，稱為神丹。方用鴉膽子一味，去殼取仁，外包桂圓肉捻丸，每早米湯送下三十粒，旋以食壓之。此方初得之人，傳專治休息痢，並治腸風便血，少則一二服，多則三四服，無不應驗。其物不載本草，無從稽考，其味極苦，似屬性寒，後閱幼幼集成書云：痢久邪附大腸屈曲之處，藥力所不能到，用此奇效。思治虛怯沉疴，參耆歸地有用數斤愈者，治傷寒熱病，姜附硝黃有用數兩愈者。何此物每用不過二三分，治積年之病，其效如神，物理真不可測。先哲云：千方易得，一效難求。信矣。</p>

<h2>堂妹感冒暑風證治</h2>
<p>堂妹適鄰村許姓，夏日浴罷，忽頭暈仆地，家人扶起，旋即發熱，夜間熱盛。煩渴嘔吐，譫妄不安，手指掣動，醫藥無效。予診脈息弦數，視舌尖絳苔黃，謂其翁曰：病由暑風相搏，邪熱燔熾，亟宜清解，以杜痙厥之患。方用川連、香薷、甘草、半夏、茯苓、鉤藤、防風、青蒿、羚羊角、荷葉、扁莢葉。服藥兩劑，熱緩神清，嘔渴亦止。方內除川連、香薷、鉤藤、防風、半夏，加沙參麥冬石斛稻露，又服兩日，證減七八，再除青蒿、羚羊角、荷葉、扁莢葉，加玉竹、生扁豆、女貞子、當歸、白芍，調養而愈。</p>

<h2>家炳然兄女肝鬱氣厥實有羸狀</h2>
<p>炳兄女在室，年已及笄，性躁多郁，初春曾患吐血，夏間陡然發厥，厥回嘔吐不止，汗冷肢麻，言微氣短，胸膈脹悶，脈息細澀，狀似虛象。醫投補劑益劇。予診之曰：此郁病也。經云：大怒則形氣絕，而血菀於上，使人薄厥。又云：血之與氣，並走於上，乃為大厥。議與越鞠丸加鬱金、枳殼、茯苓、陳皮、半夏。兄曰：女病臥床數日，粒米不入，脈細言微，恐其虛脫。奈何?予曰：依吾用藥則生，否則難救。蓋此脈乃鬱而不流，非真細弱，欲言而訥，乃氣機阻閉故也。觀其以手頻捶胸臆，全屬中焦鬱而不舒。且叫喊聲徹戶外，豈脫證所有耶。請速備藥，吾守此，勿遲疑也。取藥煎服。少頃，膈間漉漉有聲，噯氣數口，胸次略寬，再服嘔止，寢食俱安。轉用八味逍遙散，除白朮加香附、鬱金、陳皮，病愈血證亦泯。</p>

<h2>陳某子感證體脈俱厥</h2>
<p>陳某子年十六歲，夏月患感證，壯熱神昏，面赤煩渴，唇燥舌焦，口鼻牙根出血，俱屬熱象。惟脈息沉細，四肢厥冷，諸醫不效。時屆九朝，延予商之。予曰：此非陰證，乃陽證也。今日本應重用涼藥，恐汝家畏而不服，姑以小柴胡湯去半夏人參，加生地、花粉、山梔、丹皮試之。無如歙俗以為吃壞熱藥有救，涼藥無救。因見方有涼藥果畏不服。三日後勢更劇，復來迓予，予辭不往，乃浼友人胡君景三代請。予曰：救病如救焚，彼病已重，況復遷延，恐難治矣。胡君曰：試往一決，可治則治之。至診其脈，前之沉細者，今竟絕，撫捫其肢，則冷過肘膝，更加腹痛拒按，欲便不解，驚狂不定。予曰疾急矣，非承氣湯下之不可。疏方訖，胡君私叩予曰：從來傷寒陰陽二證，憑脈用藥，不拘浮沉大小，總以有力無力分之。有力為陽，無力為陰，今按脈全無，四肢冷甚，恐屬陰證奈何。予曰：此乃陽極似陰，證載吳又可《瘟疫論》中，所謂體脈二厥也。歸檢書與閱，胡君以為然，竟服下劑，夜間便行二次，比曉厥回脈出，改用甘露飲，後易生脈地黃湯，匝月而痊。</p>

<h2>又婦憂勞傳染藥誤致變</h2>
<p>陳某子病愈後，其婦憂勞傳染。初起頭疼寒熱，予與香蘇飲一服汗解。旋又勞復發熱，口苦耳聾，兼值經期，恐其熱入血室，酌以柴芩煎加生地、赤芍、丹皮，熱猶不退，更加面赤舌黃，譫語脈數。予曰：邪犯少陽陽明也。仿生生子小白湯，炒黃芩換生黃芩，加竹葉燈心為引。並語某曰：予適有他出，倘明日遲到，可請胡君商之，或照原方先服一渣亦可。次日午刻予歸，渠已著人相促數次，急造其廬，其泣曰：病大變矣。問其何狀，曰昨服尊劑，夜來煩熱不眠，今早忽咬牙閉目，昏厥遺尿，已請胡君斟酌，並照原方煎服一渣，迄今不轉奈何。予曰：昨病雖重，然已加增藥味，即不應驗，亦不至此。豈更服他醫藥歟?某曰：小兒病承救活，深為感佩，今且專心倚仗，曷敢易醫。胡君恍然曰：往日市藥，吾未之閱，今早閱劑內生黃芩，藥店錯發生黃耆，比令換去，得無昨劑中誤服黃耆耶?因驗昨傾之藥渣，果然。予曰：此病受邪本重，前藥悉力驅之，尚不能解，誤服黃耆，將邪熱補住，內攻心包，迷塞竅隧，故致變若此。惟有急瀉心包之熱，通竅避邪，庶有生機。擬導赤各半湯，除人參，加銀花金汁，外用紫雪點舌。飲藥至墓，神采略回，連投四劑，浸有起色。惟神呆耳聾，時多妄語，易以服蠻煎兩服，神明稍清。後用養陰定志之品，月餘始平。是役也，使非胡君驗明藥誤，在病家必歸咎於醫，而醫亦不自知其故矣。識此凡治重病，所市藥劑，醫須親驗，不可忽也。</p>

<h2>許生母傷食腹痛</h2>
<p>許生詠堂母病請治，據云因食豚肝麵餅後，偶觸怫鬱，致患腹痛，自用麥芽楂曲香砂二陳不應。因其痛在少腹，以為寒凝厥陰，加吳萸炮姜服之益劇。予問痛處可按乎?曰拒按。又問日來便乎?曰未也。切脈沉細，視舌苔黃，中心焦燥，顧謂生曰：此下證也。生曰：連服溫消諸劑不驗，思亦及此。因家母平素質虧，且脈沉細，故未敢下。予曰：痛劇脈伏，此理之常。質雖虛而病則實，書稱腑病以通為補，仲師云：腹滿不減，減不足言，當下之。又云舌黃未下者，下之黃自去。今痛滿拒按，舌黃焦燥，下證悉具，夫復何疑。方定大承氣湯，用元明粉代芒硝，仍加香砂楂曲，兼行氣滯。服頭煎後便行一次，其痛略定，隨服復煎，夜半連下三次，痛勢大減，舌乾轉潤，易以調中和胃，旬後起居如常。</p>

<h2>葉習方甥麻疳</h2>
<p>予甥習方，稚年出麻，麻後熱久不退，乾咳無痰肌瘠食少，糞如羊矢，神形疲睏。諸醫束手，姊氏憂惶，抱負來舍。予曰：此麻疳也。病屬難療，姊囑拯治，思麻後熱久，陰血必傷，乾咳便難，津液必涸，計惟養陰保液，清肺潤腸，庶可望效。方定麥易地黃湯，加石斛、沙參、玉竹、芝麻、阿膠、梨汁、白蜜，並令飲人乳，食豬肚。姊言前醫以嗽熱未清，戒勿食葷。予曰：穀肉果菜，食養盡之。今病久腸胃乾枯，須假物類脂膏，以補人身血液，古有豬膚湯，豬肚丸，可法也。於是藥食並進，熱嗽漸減，便潤食加，調治一月，諸候均愈，肌肉復生，乃送歸焉。</p>

<h2>族兄女痘證並婦感證瀕危救回大路</h2>
<p>族兄女三歲，出痘如蠶種，醫初認為麻，越日始識為痘，駭甚辭去，更醫泛投清解套藥。延至九朝，色白頂陷，勢欲癢塌，兄商於予。予曰：毒盛氣虛，船輕載重，本屬險逆，初起按法圖治，尚望生機，今無及矣。兄懇救治，勉訂保元湯，用糯米鯽魚羊肉煮汁煎藥，晝夜頻灌，喜得漿行陷起，再加熟地、當歸、枸杞、鹿茸溫補之品，僥倖收功。無何。婦病感證，兩進逍遙散不應，熱盛脈數，口渴舌黃，照方加生地黃芩，次日證仍未減，神昏舌苔乾黑。予曰：疾急矣，非重劑莫挽。乃用大劑甘露飲，令其濃煎數碗，盡今日夜服盡，詰朝復視，昏熱舌黑如故，反增胸腹脹悶。旁議二冬寒涼，二地滋膩，與脹不合。予曰：古人論治感證，始終以存津液為主，今熱熾舌涸如斯，舍是別無良法。兄曰：固知藥好，然腹脹藥勢不行奈何。沉思良久，令市大西瓜一枚，取汁與服。汁盡少頃，忽作寒戰，目闔昏睡，汗出如雨，衣被皆濡，至晚始定。兄問故，予曰：此戰汗也，非此則邪不能達，今無憂矣。嗣此熱退神清，知飢納食，惟覺身輕如葉，倦怠不支，徐為培養血氣而安。</p>

<h2>菜傭某單腹脹</h2>
<p>菜傭某，初患腹脹，二便不利，予用胃苓之屬，稍效。渠欲求速功，更醫目為臟寒生滿病，猛進桂附姜萸，脹甚，腹如抱甕，臍突口乾，溲滴如墨，揣無生理。其兄同來，代為懇治。予謂某曰：爾病由濕熱內蘊，致成單脹，覆被狠藥吃壞，似非草木可療，吾有妙藥，汝勿嫌穢可乎?某泣曰：我今只圖愈疾，焉敢嫌穢。令取乾雞矢一升，炒研為末，分作數次，每次加大黃一錢，五更清酒煎服，有效再商。某歸依法制就，初服腸鳴便瀉數行，腹脹稍舒，再服腹軟脹寬。又服數日，十愈六七，更用理脾末藥而瘳。眾以為奇，不知此本內經方法，何奇之有。予治此證，每服此法，效者頗多，視禹功神佑諸方，其功相去遠矣。</p>

<h2>胡某乃媳感證</h2>
<p>胡某乃媳，夏月患感證，延診時已七日矣。切脈弦數搏指，壯熱譫狂，面目都赤，舌黑便秘，腹痛拒按。診畢令先取冷水一碗與服，某有難色，予曰：冷水即是妙藥，飲之無傷。蓋欲觀其飲水多寡，察其熱勢之輕重耳。其姑取水至，雖聞予言，心尚猶豫，勉傾半盅與飲。婦恚曰：何少乃爾。予令盡碗與之，一飲而罄。問曰：飲此何如。婦曰：其甘如飴，心地頓快，吾日來原欲飲水，奈諸人堅禁不與，致焦煩如此。予曰：毋憂，今令與汝飲，但勿縱耳。因謂某曰：汝媳病乃極重感證，邪踞陽明，已成胃實。問所服何藥，某出前方，乃小柴胡湯也。予曰：杯水能救車薪之火乎?即投白虎瀉心，尚是揚湯止沸耳。某曰：然則當用何方?予疏大承氣湯與之。某持方不決。鄰人曰：吾婦昔病此，曾服此方得效。於是取藥煎服，夜間便行兩次，次早腹痛雖止，他證依然。改用白虎瀉心及甘露飲三方出入，石膏用至四兩，芩連各用數錢，佐以銀花金汁驅穢解毒，數日間共計用藥數斤，冷水十餘碗，始得熱退病除。眾皆服予膽大。予曰：非膽大也，此等重證，不得不用此重劑耳。</p>

<h2>汪氏婦熱病喜飲沸湯</h2>
<p>汪氏婦患熱病，壯熱不退，目赤唇乾，舌黑起刺，便閉溲赤，診脈弦數有力，應用清劑無疑。試問：渴乎?曰不甚渴，惟喜飲沸湯數口，稍涼即不欲思。如此熱證，當渴飲水，何反嗜飲沸湯?若以此一端而從陰治，似乎不可。偶憶律云：二罪俱犯，以重者論。今脈證均屬陽熱，烏可以喜飲沸湯一事為疑。先與小白湯，病狀彷彿，知其藥不勝病，乃進大劑白虎湯，石膏重用四兩，因其胃熱上衝，嘔惡不食，更加蘆根竹茹為引，另取元明粉蜜拌塗舌，以潤其燥。如此寒涼疊進，閱十四朝，始得熱退神清，便通舌潤。使拘古法，以喜熱從陰而投溫藥，不幾抱薪救火乎?孟子云：盡信書，則不如無書。斯言可證矣。</p>

<h2>蔣某陰暑</h2>
<p>蔣某夏月病患發熱，口渴，頭疼，身痛。醫云傷暑，初用香薷飲不應，因其熱盛，更加青蒿連翹。服之益劇，診脈沉細，望色，舌白麵青，身雖熱而反近衣，口雖渴而喜熱飲，謂曰：此陰暑證也，非姜附莫治。其家人曰：病者日來熱盛，連服涼劑，尚未見效，且天時酷暑，姜附恐未可用。予曰：夏月伏陰在內，人多畏熱貪涼，受寒最易。若云夏月不可服熱藥，則冬月不可服涼藥矣。何仲景治冬月傷寒，每用石膏芩連耶。舍時從證，自古有之，乃投附子理中湯，一服熱退，再服病卻。</p>

<h2>汪木工感證舌苔變易之奇</h2>
<p>汪木工年二旬余，夏間患感證，初起寒熱嘔瀉，自汗頭痛，他醫與疏表和中藥，嘔瀉雖止，發熱不退，汗多口渴，形倦懶言，望色青白不澤，舌苔黑黃而潤，診脈虛細。經云：脈虛身熱，得之傷暑。因擬清暑益氣湯加減。服藥一劑，夜熱更甚，譫狂不安，次早復診，其脈更細，凝為陽證陰脈。及視舌苔與昨大異，色紫肉碎，凝有血痕，渴嗜冷飲。予思此必內有熱邪，蘊伏未透，當舍脈從證，改用白虎湯，加生地、丹皮、山梔、黃芩、竹茹、燈心。下午人來請云：服頭煎藥後周身汗出，譫狂雖定，神呆肢冷，不識何故。予往捫其手足，果冰冷異常，按脈至骨不見，闔目不省人事，知為熱厥。命再進藥，旁議以為體脈如此，怕系陰證，前藥恐未合宜。予曰：此非陰證，乃陽極似陰耳。若誤投熱劑，則殆，否則今晚勿藥，明日再看何如。眾然之。次日神呆略回，體脈如故，視其舌苔，又與昨異，形短而厚，滿舌俱起紫泡，大如葡萄，並有青黃黑綠雜色，膩胎罩於其上，予甚驚異，辭以不治。其母哀懇拯救。予憫之，揣摩再四，令取紫雪蜜調塗舌，於前方內加入犀角、黃連、元參以清熱，金汁、人中黃、銀花、綠豆以解毒，另用雪水煎藥。翌日再診，厥回脈出，觀其舌泡消退，苔僅乾紫耳。再劑熱淨神清，舌色如常。是役也，予雖能審其陽證似陰於後，然未能察其實證類虛於前。自咎學力未到，但生平歷治傷寒瘟疫諸候，曾未見此舌苔之異，且診視五日，變幻如出五人，前賢諸書亦鮮言及，真匪夷所思也。諺云：讀盡王叔和，不如臨證多。洵非妄語。</p>

<h2>農人某傷寒誤服涼藥舌見人字紋</h2>
<p>農人某患傷寒，數日寒熱交作，自汗如雨，就予診治。脈虛神倦，視其舌苔白滑，分開兩歧，宛如刀劃，考己任編中有陰證誤服涼藥，舌見人字紋之語。閱前方果然，予辭不治。渠懇拯救，先與六味回陽飲服之有效，繼進左右二歸飲數劑，舌苔漸退，諸恙續痊。</p>

<h2>李某陰證傷寒見純紅舌</h2>
<p>李某患傷寒，畏寒發熱，下體如冰，脈息沉細，飲沸湯猶不知熱，陰寒脈證悉具，藥當從溫無疑。然視其舌色如朱，方書云：舌見純紅，熱蓄里，與證不符，因其病初起，憑脈用藥，先與小劑理中湯探之，無礙，隨用重劑六味回陽飲，數服病痊，舌色亦退。為詳其故，殆所謂腎水凌心，逼其心陽外越者歟。</p>

<h2>鄭氏婦肝風頭痛</h2>
<p>鄭婦年近三旬，質虧多郁，證患頭痛，上及巔頂，下連齒頰，醫稱太陽風邪，藥用羌防芎芷，痛劇而厥，嘔吐不食，經脈動惕。予曰：此肝風也。經云：諸風掉眩，皆屬於肝。下虛上實為厥巔疾。究由水虛不能涵木，怒木生風，勃勃欲動，誤投溫散，益助其威，鼓舞鴟張，漸變痙厥，誠可慮耳。方用地黃湯加菊花、鉤藤、白芍、甘草，數服稍應。思陽但上冒，陰不下吸，熄風務用鹹寒，潛陽必須介類。方加阿膠、雞子黃、牡蠣、龜板，取用磁石為引，使其吸引肝腎之氣歸原，服之病釋。</p>

<h2>汪某頭痛預見真臟脈</h2>
<p>汪某中年質薄，且多斫喪，頭痛時作時止，夏間診脈弦急而枯。囑以脈象欠佳，速宜靜養，多服補藥，切勿因循。病者以疾雖時發，然寢食如常，猶不為意。逮冬至前二日，忽目花面赤，昏暈不支，延予至，勢已敗壞，且無力服參，因辭不治。逾日而逝。是病雖敗於冬，而真臟脈早見於夏，乃枝葉未害，本實先撥故也。</p>

<h2>方氏婦目疾誤治變證</h2>
<p>方氏婦本體血虛，偶患目疾，眼科認為實火，初用芩連清之，更用大黃下之。飲藥一盞，頃忽暈去，舌吐唇外，不能縮入，肢厥脈伏。時已薄暮，急延予診，謂曰：寒下耗傷真陽，陽氣暴脫，勢屬可畏，速投溫補，希冀挽回。方疏通脈四逆湯，藥熟不能下咽，令取艾火炙氣海關元數壯，身始動，舌始收，忙灌藥一盅，移時又厥，仍令再炙。厥回，復進前藥，守至黎明始蘇，續進左歸飲，及滋腎生肝諸劑，病痊目亦明矣。</p>

<h2>閔某心脾虛脘痛</h2>
<p>閔某處境艱難，向多憂慮，脘痛經歲，諸治不瘳。望色萎黃，切脈細弱，問痛喜按乎?曰然，得食痛緩乎?曰然。予曰：此虛痛也。古云：痛無補法，此特為強實者言，非概論也。為訂歸脾湯，囑多服乃效。如言服廿劑有應，百劑獲痊。後一丐者患同，某檢方與之，服數十劑亦愈。</p>

<h2>許細長食厥</h2>
<p>許細長，石工也。病起少腹脹痛，堅硬如石，醫用消導藥，轉致吐蛔，便溺俱閉，更醫目為寒凝厥陰，投以姜附吳萸，痛劇而厥，肢冷脈伏。急來延予，予以手按其少腹，見其眉攢難忍之狀，謂其婦曰：此食厥證也。婦曰：病果因食冷麵而起，然已服過消導藥無效，或藥力不及，亦未可知。第停食小恙，何至厥逆吐蛔便溺俱閉。予曰：穀食下行，由少腹右角後出廣腸，今食積不下，故大便不通，直腸緊脹，撐迫膀胱，小溲因而不利，下既不通，氣反上行，故為嘔吐。嘔多胃逆，蛔必上攻，是以隨嘔而出，務得大便一通，通則不痛，諸證自釋矣。但病經多日，凝冱已堅，非精銳之品，不能奏績。旋進備急丸三錢，頃之腹中雷鳴，下結糞數枚，再與錢半，復瀉十餘行，厥回脈出，痛減腹軟，觀者動色，驚有神助。後畏藥不服，將息而起。</p>

<h2>商人某唇衄奇證奇治</h2>
<p>唇衄之名，醫書未載，而予則親見之。證治之奇，理不可測。乾隆壬子秋，一商人求診，據述上唇偶起一瘡，擦破血出不止，或直射如箭，已經旬矣。求與止血之藥。按唇屬脾，必由脾熱上蒸，以故血流不止，補用清劑不效，因血流多，恐其陰傷，更用滋水養陰之劑，亦不效。及敷外科金瘡各種止血藥，又不效。挨至月餘，去血無算，形神羸憊，自分必死。忽夢其先亡語曰：爾病非醫藥能治，可用慄一枚，連殼燒灰，同硫黃等分研末和敷，自愈。醒後依法敷之，血果止。商人親向予言，真咄咄怪事也。</p>

<h2>汪氏婦鼻衄止衄奇法</h2>
<p>汪氏婦，夏月初患齒衄，衄止旋吐血，血止鼻又衄，大流三日，諸治不應。診脈弦搏，知其肺胃火盛，非寒涼折之不可，乃用犀角地黃湯，取鮮地黃絞汁，和童便沖藥，外用熱酒洗足，獨蒜搗塗足心，一晝夜衄仍不止。因憶門人許生曾言：人傳止衄奇法，先用粗琴線數尺，兩頭各系錢百文，懸掛項下，再用手指掐定太谿穴（太谿穴在兩足內踝下動脈陷處，）神驗。外治之法，於病無傷，今既諸治罔效，姑一試之，衄竟止。惟神形疲睏，頭昏少寐，思血去過多，真陰必傷，改用麥易地黃湯加龜板、石斛、白芍、女貞、沙參、阿膠、旬日霍然。識此以廣見聞。</p>

<h2>某婦胎動下血</h2>
<p>昔聞先輩云：補中益氣湯，乃安胎聖藥，予未深信。乾隆癸丑秋，某婦懷孕數月，腰腹俱痛，惡露行多，勢欲下墮，諸藥不應，投以此方，加阿膠即安，後屢用皆驗。下方中有參耆歸術，培補氣血，妙在升柴二味，升舉之力，俾胎元不至下陷，然後補藥得以奏功。血熱加黃芩，血虛加地黃尤妙。</p>

<h2>呂婦產後胞衣不下誤藥暈脫</h2>
<p>呂婦年甫三旬，平時面黃體弱，因少乳求方，與八珍湯服之，有驗。數年後又因胎產胞衣不下，予診之，曰：此氣虛不能傳送，血虛不能濡潤故也。令服礙十全大補湯，眾議以為新產，胞衣積血，阻障不出，補之不宜，或授以單方，用芒硝一兩煎服，云下胞如神，眾咸稱善，一七入喉，即時暈脫。</p>

<h2>族媼血崩奇證</h2>
<p>族媼年逾八旬，天癸復行，日漸淋漓，時或如崩，頭昏食少，心悸不寐，予與黑歸脾湯，服之不應，他醫投以清補固澀諸方，亦不效。淹纏數月而歿。予歷見老婦病此，皆不能治，古罕言之，亦奇疾也。</p>

<h2>方氏女孩帶下罕見之證</h2>
<p>鄰村方氏女，年才四歲，其母抱負來舍求治。予問何疾，曰帶下。問疾何時起，曰女夜遺溺，常以帛墊臥，舊春晨起曬帛，乍見白物，以為偶然，後頻下不已，漸覺面黃肌瘦，飲食減少。今經一載，時發時止，附近求醫，皆言未見之證。予曰：此先天稟弱，脾虛挾溫故也。但童真未充，早泄誠非所宜，令夜服地黃丸，早服參苓白朮散，匝月而效。半載後疾復發，仍令守原方服愈，嗣後不聞消息，及閱《怡堂散記》載一七歲幼女，患此證，雖已治痊，後出室懷孕，一產即脫，亦夭之由也。方氏女孩得無類此。</p>

<h2>洪大登痙病</h2>
<p>洪大登為人廝役，體虛多勞，初病夾車緊痛，服疏風藥二劑，臥不能起，口不能張，日飲米泔，僅以茶瓶嘴灌入，四肢攣急，每小便須兩人抬起，痛甚汗淋，診脈細濡，兩尺尤弱，有從外感起見，仍欲用風藥者，予曰：此痙病也。氣血大虧，服此即不救。擬用大劑補元煎，旬余未效，病家亟請更方。予曰：毋庸，藥力未到耳。原方令守服二十劑，漸能掉動，服至兩月，始出戶庭。</p>

<h2>王木工反關脈</h2>
<p>王某木工也，向患胃痛，諸治不效，一醫以草藥與服，陡然便血半桶，時時暈去，閉目懶言，汗淋氣怯，診脈全無。按脈乃血派，此必血脫之故。然血脫益氣，須用人參，彼木工，焉能得此。辭不與治，料其旦晚必脫也。越月遇諸途，見其行動如常，心竊訝之。後因他病來視，問其前恙如何得愈。曰：先生言我病危非參莫救，求醫無益，只得日煎黨參湯飲之，僥倖得活。予曰：此亦血脫益氣法也。再診兩手仍然無脈，思人久無脈，焉能得生，沉吟半響，恍然悟曰，此必反關脈也，覆候之果然。渠乃匠人，脈之如何，原不自知，予前診時，因見其外證之危，倉卒未及細究，識此，告諸診家，務須留神詳察也。</p>

<h2>王某血證頻發</h2>
<p>老醫方星岩曾向予言：昔從上海王協中先生遊，論及血證愈後，每多反復者，此由胃膜破傷，須用法補之。思之至再，訂方用白芨魚膘絲綿三味，燒灰等分為丸，服之永不復發。王某患此證，莫能除根，令服此丸，果驗。</p>

<h2>族子石淋奇證</h2>
<p>族子年方舞勺，初時小便欠利，不以為意，後每溺，莖中澀痛，醫作淋治，溺更點滴不通，少腹脹硬，臥床號叫，晝夜靡安。延予至家，其母手拈一物，與予視之。云病者連日小便全無，昨夕努掙多時，突然溺出此物，當覺通快，喜為疾卻，今又復閉，豈尿管內尚有此物塞住耶?予視其形如豆，色蒼而堅，置臼中搗之不碎。考方書雖有石淋一證，即予平素目睹患此者，亦不過如鹽沙之細，今此石形大如豆，從未之見，初以為妄，試取簪柄探入莖中撥之，硜然有聲，方信溺之不通，竟由於此。思將此石取出，特古無是法，不敢妄出意見，辭不與治。聞後石不得出，莖根爛開一孔，溲又彼泄，遷延而歿。越數年道出廬江，遇呂墨從先生言，彼邑昔有徐姓老醫，能治此證。親見其治愈數人。其術用刀將陰莖剖開，取出石子，敷以末藥，旬日即愈。予心異之，欲求其方。其人已物故矣。因並志之，倘後有患此者，須求巧手剖之可也。</p>

<h2>曹某忍精淋痛</h2>
<p>淋痛一證，今人多用八正分清等方，然有效有不效者，蓋陰莖有精溺二竅，若因濕熱阻閉膀胱，病在溺竅，則前藥投之是矣。尚因房勞忍精，病在精竅，乃有形敗濁，阻於隧道，徒進清利無益。此證葉香岩論之甚詳，言古有虎杖散，近世不識此藥，治用杜牛膝根絞汁一盅，衝入麝香少許，隔湯燉服，並宗朱南陽方法，用兩頭尖川楝子韭白歸尾等味，曹某患此證，予仿前法治愈，後治數人俱驗，因並識之。</p>

<h2>王氏婦痹證</h2>
<p>王婦周體痹痛，醫作風治，臥簀月餘，肢攣頭暈。予見之曰：此痹證也。軀殼外疾，雖無害命之理，但病久寢食不安，神形困頓，速救根本，猶可支撐。若見病醫病，則殆矣。方定十全大補湯，加枸杞、杜仲、鹿角膠，兩服未應，眾疑之。予曰：緩則療病，急則顧命。今病勢敗壞如斯，舍是不救。且補虛與攻實不同，非數十劑莫效。又服十日，周身發腫，眾稱病變，予曰勿憂。凡風寒客於人，壯者氣行則已，怯者著而為病，本由營氣不足，邪陷於裡，今服補劑，托邪外出，乃佳兆也。仍命照方多服，痛止腫消而愈。識此為治痹恣用風燥藥者戒。</p>

<h2>自病臂痛</h2>
<p>嘉慶癸亥歲，予因夏熱，夜臥石地受涼，秋後臂痛，莫能屈伸。初服溫經散邪之劑，不效，外貼膏藥，又不效。思筋骨間病，藥力難到，古有暖洗一法，日洗藥水，其痛如故。偶閱《韓氏醫通》云：有痿痹疾者，偎臥患處於壯陰之懷，久之生氣和浹，病氣潛消。試仿其法，將痛臂夜令室人以熱體偎之，數日而愈。按《歸田錄》云：人氣能粉犀，則療痹。固其宜矣。</p>

<h1>侯序</h1>
<p>家弟瑞生，昔遊新安，適遘痁瘧，觀泉先生為之蠲疴，歸述盛名，越數年，予始得見。豐頤藹度，信為有道者，既乃讀所刻古近體稿，多隱居沖澹，及壯遊奇麗之作，既又讀所著醫案，益肅然於先生之為通儒也。夫醫者，意也。必有與天地同流之意，而後能誦古人方藥之書。又必一空膠窒方藥之言，而後能伸其用，當通神之意。醫果可以意為，案果可以臆說哉。先生尚有未刻之書，曰《醫述》，蓋博覽《靈》、《素》以後歷代諸家之論，採其精當者，萃為一集，卷帙盈尺，其精勤過於海錄，他日刊布，讀者參考互證，當益知通儒之所闡揚，不僅功侔良相也。</p>
<p><u>道光六年子月上汗白下侯云松拜識</u></p>

<h1>朱序</h1>
<p>內傳稱良醫者再，醫緩視晉侯疾，曰在肓之上，膏之下，攻之不可，達之不及。數語即案也。又醫和視晉侯疾，曰是謂近女室，疾如蠱，非鬼非食，惑以喪志，後及六氣六淫，不節不時，並括《內經》運氣諸篇精義所言，亦案也。醫案如讞案，根源洞澈，治法精嚴，均系乎此。顧非博物君子，深於醫理，未足語此。杏軒先生，於嘉慶九年，刊有《醫案初集》，隨證處方，靈心獨運，足度後學金針矣。嗣後所聞見益擴，所全活益眾，又匯記治驗若干條，定為《二集》。出以示盅，反復讀之，彌嘆先生之才大心細，師古而不泥於古也。虛實判之病，寒燠審之時，南北燥濕因乎地，弱壯貧富視乎人。批卻導窾，有指與物化，而不以心稽之妙。因亟請付梓以善世。其《初集》藏版，不戒干火，今乃一併補刊，以著雙玉為珏。鍾蓋於道光丁亥冬日，訪道至岩鎮，親見先生勤求醫奧，手不釋卷，積數十年博覽之功，年彌高而學彌篤，真所謂博物君子，深於醫理者也。吾願先生自今以往，日記所治，由周甲而晉期頤，靈丹救世無盡，而新編傳世亦無盡。三刻四刻，鍾且不揣檮昧，自訂續為序言，以期附名於驥尾也。</p>
<p><u>虹橋朱鍾謹序</u></p>

<h1>吳序</h1>
<p>曩余在都門，知鮑覺生侍讀，少遘奇疾，賴程君杏軒獲全。越二十年，覺生視學中州，復病如前，杏軒又起之。心奇其人，以不得一見為恨。嘉慶丁卯春，余攖疾南歸，遇杏軒於大梁使院，乞刀圭焉，十數年來，殆不知其疾之在體也。丁丑夏，余再至新安，杏軒亦倦遊歸，相見甚喜，晤語浹旬，盡出其所著書數種示余，上溯軒岐，旁及越人仲景，下逮河間東垣丹溪諸家，靡不究其精微，擴其旨趣。就中《醫案續錄》一編，說理精當，視前刻《初集》尤佳，余勸其付梓，杏軒讓未遑。余曰：子無然也。余見世所為醫者多矣，讀湯頭歌括一冊，誦藥性賦一篇，遂榜於門曰醫室，號於人曰醫師。病者不察，從而求診乞方焉。幸而得資財，愈益肆其欺謾，乘堅車，策怒馬，馳騁以耀於衢人。尊信之者日益眾，殺人日益多。其不忍為此態者，又或達心而懦，訥於言語，拙於文詞，為世所輕，而醫理卒以不明於天下。今先生立盧扁之幟，入孫葛之壘，使是書不脛而走，風行海內，天下望而爭趨，登蒼生於仁壽，甚盛事也。縱山川修阻，針砭莫及，世醫即可奉為準繩，以奏效於旦夕。其善養生者，得領緒餘，亦足以卻病駐年，所全不已多乎。夫士君子之託業，國家之設官，皆為養人計也。先生少業儒術，長習方書，常自恨不得用於世，以竟其學。余觀斯編所載，審是非於毫釐，察虛實於微渺，其良有司之矜慎以折獄乎?補養以培元氣，和解使無郁湮，其良有司之和煦以愛民乎。法當攻伐，如厲鷹鸇以逐鳥雀，法當清涼，如沃淵泉以救燎原，其良有司之鋤暴安良，不事姑息乎。吾願與先生同業者，皆以先生之學為學，其不與先生同業者，皆以先生之心為心，則郡邑之呻吟皆起矣。先生斯編，顧可秘而不宣乎哉?杏軒曰：唯唯。然猶藏之篋笥，自是又增入數十條。今年春，郵寄是書，問序於余，披閱之下，猶記曩在新安與吾杏軒晤言一室時也，爰追述之以為序。</p>
<p><u>道光四年歲次甲申季春月桐城吳庚枚</u></p>

<h1>續錄</h1>

<h2>黃敬修兄咳血</h2>
<p>敬兄向在金華貿易，恙患咳血，醫治無效，食微肌瘦，慮成損怯。予時至蘭溪，友人薦延診視。閱前諸方，偏於溫補，謂曰：古人治血證，雖有此法，然須審其證屬虛寒，方為合轍。據茲脈證，責諸肺腎陰虧，肝陽上僭，咳甚火炎，血隨溢出，理應滋水生木，潤肺保金，得以咳稀，血當自止。服藥投機，予欲辭回，敬兄固留，為治月餘，咳血全好，餐加神旺，肌肉復生。</p>
<p>安波按：溫熱治虛損與草菅人命何異?故前賢云男子陽常有餘。陰常不足。蓋男子氣恆有餘者多，血患不足者不少。以溫熱治虛損者，仲聖建中之類也。其內以稼穡作甘之本味，急建其中氣，俾中宮得強，飲食增而津液旺，以至充血生精，而復其真陰之不足。愚意以治脾虛損怯則可，若腎陰耗乏，相火燥金，見咳嗆累血，形銷骨折，遺泄潮熱等疴，投之如抱薪救火矣。</p>

<h2>鮑宗海風寒喘嗽誤補肺脹欲絕治驗</h2>
<p>黃敬修兄店內，有同事鮑宗海者，因感風寒，喘嗽多日，就彼地某姓老醫看視，謂其證屬內虧，藥與地歸參朮。予見方勸其勿服，宗海以為伊體素虛，老醫見識不謬，潛服其藥。是夜喘嗽益甚，次日復往加減，醫謂前藥尚輕，更增黃耆五味子，服後胸高氣築，莫能臥下，呷呀不休，閉悶欲絕。敬兄詢知其故，囑予拯治。予曰：前藥吾原勸其勿服，伊不之信，況加酸斂，邪錮益堅，如何排解?敬兄云：渠與我同事多年，不忍見其死而不救，揣摩至再，立方用麻黃、桂枝、細辛、半夏、甘草、生薑、杏仁、葶藶子，並語之曰：此乃風寒客肺，氣阻痰凝，因而喘嗽，醫不開解，反投斂補，以致閉者愈閉，壅者愈壅，釀成肺脹危證。《金匱》云：咳逆倚息不得臥，小青龍湯主之。予於方中除五味白芍之酸收，加葶藶杏仁之苦瀉者，蓋肺苦氣上逆，急食苦以瀉之。如救眉燃，不容緩待也。敬兄欣以為然，即令市藥煎服，少頃嗽出稠痰兩盂，胸鬲頓寬，再服復渣，又吐痰涎盞許，喘定能臥。宗海始悟前藥之誤，泣求救援。予笑曰：無妨，枉自吃幾日苦耳。次劑麻桂等味分兩減輕，參入桔梗橘紅茯苓蘇子，更為調和肺胃而痊。</p>
<p>安波按：風寒咳嗽，亦一大症也，不可渺視為輕淺者。徐氏靈胎，苦志三十年，始能治咳，先生於小青龍，去味芍加葶杏，真善法古人而不泥古人者也。</p>

<h2>胡某婦臟躁面論證治方法</h2>
<p>長林胡某，延診婦病，據述證經半載，外無寒熱，飯食月事如常，惟時時悲泣，勸之不止，詢其何故，伊不自知。延醫多人，有云抑鬱，用逍遙散者，有云痰火，用溫膽湯者，藥俱不效。又疑邪祟，禳禱無靈，咸稱怪證，懇為診治。視畢出語某曰：易治耳。立方藥用甘草小麥大棗。某問病名及用藥方法，予曰：病名臟躁，方乃甘麥大棗湯，詳載《金匱玉函》中，未見是書，不識病名，焉知治法，宜乎目為怪證也。某曰：適承指教，足見高明，但拙荊病久，諸治無功，尊方藥只三味，且皆平淡，未卜果能去疾否。予曰：此仲聖祖方。神化莫測，必效無疑。服之果驗。</p>
<p>安波按：有時法於古而不泥於古，有時竟法於古而泥於古，此之謂良工也。</p>

<h2>余振如兄幼子胎癇</h2>
<p>振兄乃郎，出胎兩月，突然肢搐目斜，逾時乃定，乳食如常，以為偶然，次日又發。幼科作胎驚治，藥用疏風鎮驚不應，發經數日，俱在巳午時候。予視之，曰此非胎驚，乃胎癇也。振兄云：胎驚則嘗聞之矣，胎癇之名，請問出於何典?予曰：名出《內經》。帝曰：人生而有癲疾者，病名曰何?安所得之?岐伯曰：名為胎病。此得之在母腹中時，其母有所大驚，故令子發為癲疾也。注云：癲癇也。夫驚之搐搦無定，癇之發作有時，大人之癇疾亦然。惟其發作有時，故較驚稍輕耳。愛用茯神遠志麥冬丹參甘草白芍菊花鉤藤桑寄生以安神定志，養肝熄風，少入橘紅、半夏曲以滌擾心之痰涎。蓋疾由母腹受驚而得，病在心肝二臟，神安風熄，其疾自平。妄行疏散，則風益動，襁褓胃氣薄弱，金石鎮墜，尤非所宜。服藥其發漸輕，未幾而定。所見數兒證同，皆照此法治愈。</p>
<p>安波按：斯症邇來幼醫輒以抱龍等丸從事，從不知孩提之負屈者，豈止恆河沙數乎。</p>

<h2>柳聖依翁夫人熱病戰汗而解</h2>
<p>聖翁夫人，夏間病患熱盛無汗，煩渴昏譫，醫治旬余不解，聖翁外貿，伊郎蔭千兄，廷予診視。脈數舌黃，謂曰：此熱病也，非清不可。疏竹葉石膏湯與之。時夜將半，聞叩扉聲甚急，啟視，蔭兄慌入而言曰：病危矣。詢其故。曰妙劑，當服頭渣，至暮未見動靜，再服復渣，更靜後，忽寒戰肢抖，少頃汗出如漿，膚冷息微，閉目不語。眾以為殆，歸咎藥性太涼，欲投參附以救其脫，亟求復診以決之。予即隨往，捫其肌膚果冷，細按脈雖虛耎，然至數和緩，並不急疾。曰無妨，此戰汗也。因本氣不足，邪氣鴟張，予重用清劑驅之，邪不能留，逐與正爭，是以戰而汗出。邪雖從此而解，正亦由此而虧，且任其養息，切勿驚擾，元氣來復，自然膚暖神蘇，若驟進參附，誠恐餘燼復炎，反為害矣。葉氏論溫熱病戰汗解後，胃氣空虛，有膚冷一晝夜之說。取書與閱，群疑始釋。另立一方，用生脈散加茯神、玉竹、白芍、甘草，囑市藥煎好，俟其甦醒與服，並啜稀粥，以養胃氣。次早蔭兄來謝云：昨夕非子有定見，幾為旁言所誤，遵囑靜守，逾時汗斂神蘇，忙將煎好之藥服訖，復睡至曉，肌膚已溫，唯形倦氣怠耳。更為輔正養陰和胃，漸次而康。</p>
<p>安波按：斯證若脈急數，自汗如雨，躁煩不安，神志不寧，是自氣脫陽越之候，速宜大劑回陽，與此大相懸絕。</p>

<h2>鮑子欽兄感風停食小恙猝變虛脫宜用急療之法</h2>
<p>子欽兄幼年質弱，偶因停感，發熱腹痛，兒科藥用荊防查曲，服後熱退痛止，以為應驗。距意次日臥床不起，頭重目闔，氣怯懶言，不飲不食。急延予至，見其形狀倦怠，切脈細軟無神，維時伊舅柳蔭千兄在座，予告之曰：令甥之恙，乃元氣不支，切恐虛脫，亟宜峻補，遲則難救。蔭兄云：舍甥病才兩日，消散又未過劑，童質固虛，何至遽脫?豈可驟投重補耶?予曰：小兒臟氣易為虛實，脈證疲憊如斯，舍此別無他策。仿補元煎方法與服二劑，病仍未轉，伊乃堂憂甚，予曰：凡治病，補虛與攻實不同，攻實可求速效，補虛本無近功。服藥病既不增，虛能受補，即為見效。古稱填補，如地有陷阱，方能容填。若平地填之，成敦阜矣。仍依原方加入耆朮、茯、神、棗仁合歸脾湯，守服浹旬，頭豎目開，飲食照常，儼如無病。</p>
<p>安波按：於庚辰歲治餘杭金姓稚子，年甫五齡，形頗骯髒，忽患暴注下迫，形神頓減，小尿短滴，幼醫以消導之屬，靡不備嘗，或有以暴瀉屬熱者，需胡黃連之類，其瀉轉甚，延余診治。脈之細弱乏神，按之則空，胎微黑不渴，曰寒邪直中太陰所致，非附子理中湯不可，遲則恐變，乃尊曰：邪中太陰，已領教矣。然小兒體若純陽，胡可以熱濟之乎。余曰：醫貴活潑，不可紐執一說，以塞見聞。彼以為然，投之果應。此症與斯案相類，險為膚見所阻，故錄出為固執者鑑。</p>

<h2>族婦眩暈續堂弟媳所患證同治皆無效不藥自痊</h2>
<p>予童時見族中一婦人，頭額常系一帶，行動須人扶掖，云無他病，惟頭目昏眩，飲食倍增，形體加胖，稍飢心內即覺難過。醫治無效，只得屏藥。越數年疾自愈，形體退瘦，飲食起居如常。其致病之由，及所服方藥，均不同考。後堂弟媳，年二旬余，因遭回祿，憂鬱成疾，見證與族婦彷彿。予知其疾由鬱而起，初投逍遙達郁，繼加丹梔清火，更進地黃阿膠滋水生木，白芍菊花平肝熄風，磁石牡蠣鎮逆潛陽等法，俱不應。他醫以為無痰不作眩，藥用豁痰，又以為無虛不作眩，藥用補虛，亦皆無驗，遂不服藥，四旬外病自瘳。予生平所見眩暈之疾，未有甚於此二證者，且病中諸治不應，後皆不藥自痊，事亦奇矣。細求其故，蓋病關情志，是以草木無靈。由此觀之，凡七情內傷致病，皆可類推。</p>
<p>安波按：七情致病者，尼師寡婦室女為尤甚，必須陶情怡悅，所謂心病必以心藥治也。</p>

<h2>洪荔原翁挾虛傷寒</h2>
<p>荔翁年逾強仕，冬月重感寒邪，診脈細緊，見證寒熱無汗，頭疼體痛，初投附子理陰煎，汗發不出，復診方加人參麻黃，翁曰：麻黃性悍，駛不能御，吾質素弱，恐不可服。予笑謂曰：他人之麻黃或不可服，予之麻黃放心服之。蓋醫當論方，不當論藥，若以此加入表散藥中，則誠駛不能御，今合補劑，有人參熟地監製之，雖勇過孟賁，亦難肆其強悍之性矣。古人用散法，有皮毛肌肉血脈筋骨之殊，峻散平散溫散涼散之異。至於陽根於陰，汗化於液，云騰致雨之妙，獨景岳先生得之。其所制理陰煎，及麻桂飲、大溫中飲數方，真可稱長沙之功臣，而補其所未備也。況理陰煎方後，有原加麻黃之法，又何疑耶。翁信予信，一服汗出而解。</p>
<p>安波按：於辛已歲，治王少蓮者，夏月納涼痛飲，日晡覺頭重惡冷，至次日壯熱憎寒，口燥渴而不飲，目赤汗沾，診得脈洪大而空，沉按若無，苔來黑滑。余曰：此腎陽為陰暑所迫，致見陽氣上戴，目赤口燥不飲，脈空無神，壯熱惡寒，即傷寒論之戴陽證也。擬附子理中湯加香薷人參，一劑而神清楚，寒熱頓減，口不燥，目赤退，諸恙稍愈。後以斯方減輕，加以祛暑滲濕而痊。似此案之相類，故亦錄出，以廣後來者之目。</p>

<h2>洪召亭翁夫人胎動血暈急救保全</h2>
<p>召翁夫人懷孕三月，胎動血崩發暈，促往診視。乃告翁曰：妊娠胎下血暈，已為重險，今胎未下而暈先見，倘胎下暈脫，奈何?翁囑立方。予曰：血脫益氣，舍獨參湯別無良藥。翁問所需若干，予曰：數非一兩不可。翁出取參，予聞房內雇婦私語，胎產服參不宜。亟呼之出，語曰：爾何知，勿妄言以亂人意。少頃翁持參至，予欲辭回，思適才雇婦所言，恐病人聞之，疑而不服，豈不僨事!只得俟之，翁持參湯，予隨入房，病人果不肯服。翁無如何，予正色言曰：性命安危，在此一舉，今若不服此湯，胎下暈脫莫救，俗見胎產忌服人參，無非恐其補住惡露，在胎下後，猶或可言，今胎未下，與平常臨產無異，豈平常臨產可以服參，今昏暈欲脫，反不可服乎?予治此症頗多，勿為旁言所惑。病人疑釋，一飲而罄。予曰：有此砥柱中流，大勢可守，尚防胎下復暈，其參渣再煎與服為妙。詰朝復診，翁云：昨遵諭，仍將參渣煎服，薄暮胎下，惡露無多，暈亦朱作，令多服培養氣血之劑而痊。續翁媳升冶兄令政半產，胎下血暈，時值寒冬，夤夜招診，兩脈已脫，面白肢冷，亟以參附湯灌蘇。一家兩證，勢俱危險，皆仗參力保全，胎產不可服參，殊屬謬語。</p>
<p>安波按：半產之虛，虛不待言，況產前血暈等脫候，可不以參輔乎?險為愚婦僨事，得以獲全者，亦幸耳。</p>

<h2>曹引泉翁竹筒痢</h2>
<p>引翁年將花甲，秋季患痢，纏綿日久，清利過劑，肛如竹筒，直下無度，臥床不起，診脈細濡，望色憔悴，知為脾腎兩虧，元氣下奪，所幸尚能納穀，胃氣未敗。仿胃關煎，調石脂餘糧末，與服兩日，其痢稍減。再加桑螵蛸，晚間參服四神丸，治療匝月始。</p>
<p>安波按：痢者利也，不可以通利治痢之常藥，以醫老人久痢之不固。其法不一，醫師胸有成竹耳。</p>

<h2>王策勳先生幼孫疳疾</h2>
<p>予弟倚蘭，服賈廬江。戊辰冬，予自中州回，道經彼地，羈留信宿，有王策勳先生者，與予弟善，抱其幼孫，懇為診治。視其體熱面黃，肢細腹大，發焦目暗，頸起結核，予曰：此乃疳疾。疳者干也，小兒腸胃柔脆，乳食失調，運化不及，停積發熱，熱久津干，故名曰疳。又謂之丁奚哺露。丁奚者，言奚童枯瘠如丁，哺露者，言愈哺而骨愈露。但是疾，每多生蟲，蟲䘌日滋，侵蝕臟腑，非尋常藥餌所能去病。古方有布袋丸，治此證多驗。藥用人參、白朮、茯苓、使君子肉各一兩，蘆薈、夜明沙、蕪荑、甘草各五錢，共為末，蒸餅糊丸，每粒約重三錢，日用一丸，以夏布袋盛之。另切精豬肉二兩，同煮汁服，肉亦可食。如法制就，服完一料而愈。</p>
<p>安波按：布袋丸名亦奇，方亦奇，故治亦奇。沈姓幼童五齡者，余之內戚也，患腹膨形黑，善食作瀉，雖骨支床已半載矣，余宗是丸服半料，沉疴霍然。蓋意布袋者，今人之胃，如物之袋，病久致疳，蟲蝕已空，故其胃必虛，津液必涸，賴以豬肉汁充養胃陰，而從藥得以各司其司，同心共濟，以奏凱歌也。</p>

<h2>金蔭陶封翁久瀉滑脫之證</h2>
<p>封翁年愈古稀，恙患泄瀉，公郎邁倫兄善岐黃，屢進溫補脾腎諸藥，淹纏日久，瀉總不止。招予診視。謂邁兄曰：尊翁所患乃瀉久腸胃滑脫之候也。十劑云：補可去弱，澀可去脫，瀉久元氣未有不虛，但補僅可益虛，未能固脫。仲景云：理中者，理中焦，此利在下焦，赤石脂禹餘糧丸主之。李先知云：下焦有病人難會，須用餘糧赤石脂。況腸胃之空，非此不能填，腸垢已去，非此不能復其黏著之性。喻西昌治陳彥質浦君藝瀉利，久而不愈，用此俱奏奇功，遂於原方內加入石脂餘糧，服之果效。</p>
<p>安波按：善師古人之法。</p>

<h2>洪梅渚翁肝鬱犯胃痛嘔發黃溫補藥誤危而復安</h2>
<p>嘉慶辛未春，予患眩暈，不出戶者累月。友人張汝功兄來，言洪梅翁病劇，述其證狀，起初少腹痛，嘔吐，醫謂寒凝厥陰，投以暖肝煎，痛嘔益甚，又謂腎氣上衝，更用理陰煎合六君子湯，每劑俱用人參，服之愈劇，脘痞畏食，晝夜呻吟，面目色黃，醫稱體虧病重，補之不應，慮其虛脫，舉室憂惶。復有指為疸證，欲進茵陳蒿湯者，囑邀子診以決之。予辭以疾，汝兄強之，於是扶掖而往。診畢笑謂翁曰：病可無妨，但藥只須數文一劑，毋大費主人物料。方疏加味逍遙散，加鬱金、陳皮、穀芽、蘭葉。乃弟並鋒翁曰：家兄年將花甲，病經多日，痛嘔不食，胃氣空虛，輕淡之品，恐不濟事。予曰：此非虛證，藥不中病，致益劇耳。經云：諸痛屬肝。病由肝鬱不舒，氣機遏抑，少腹乃厥陰部位，因而致痛。肝氣上逆，沖胃為嘔，溫補太過，木鬱則火鬱，諸逆衝上，皆屬於火，食不得入，是有火也。至於面目色黃，亦肝鬱之所使然，非疸證也。逍遙一方，治木鬱而諸郁皆解，其說出趙氏《醫貫》，予輯載拙集《醫述》中。檢書與閱，翁以為然。初服各證均減，服至四劑，不痛不嘔，黃色盡退，共服藥十二劑，服食如常。是役也，翁病召診日，皆汝兄代邀，語予曰：翁前服參藥不應，自以為殆，予藥如此之輕，見效如此之速，甚為感佩，囑予致意，容當圖謝。予曰：醫者愈病，分所當然，惟自抱疾，為人療病，行動蹣跚，殊可笑耳。翁有盛情，拙集輯成，借代付梓，亦善果也，勝酬多矣。晤間翁問尊集成乎?予曰：未也。翁曰：且俟脫稿，薄助剞劂。閱茲廿載，集成而翁已仙矣。集首閱書姓氏款中，謹登翁名，不忘其言。</p>
<p>安波按：治肝一法，不外辛散酸收甘緩，此古制逍遙散之妙也。但肝病已久，必盜母氣，故前賢有溫暖肝腎，乙癸同源之治。如腎陰偏傷，木火內燃，雖滋腎陰一法以柔肝，然肝最礙補，必須病久，或腎家素有宿疾，方為合符耳。第治肝以辛散酸收為多，以滋補收納者十中一二耳。</p>

<h2>又乃愛暑邪擾胃發熱吐瀉欲作驚搐</h2>
<p>梅翁令愛，年甫兩齡，仲夏時發熱吐瀉，渠宅同事方心樹兄知醫，作暑風食滯治，熱甚煩渴，吐瀉益頻。延予至，心兄述其病狀，並用藥大意。予視其兒，身熱肢冷，舌絳苔黃，煩擾不定。謂心兄曰：證屬暑邪擾胃，熱氣上衝，以故渴飲吐瀉。經云：諸逆衝上，皆屬於火。暴注下迫，皆屬於熱。但嬰兒質脆，暑邪酷烈，最易激動肝風。許宣治先生論暑風驚候，由吐瀉而後發搐者，謂之慢驚。治之不易，且吐甚於瀉，吐多胃傷，不能宣布津液，是以諸藥無驗，必得生機活潑，方轉靈軸，所制黃土稻花湯一方甚妙。予遇此證，每仿其法，治多應手。於是方疏黃土、稻花、沙參、茯苓、甘草、半夏、烏梅、木瓜、扁莢葉，因其熱甚，再加黃連，一劑而效。夏月小兒感受暑邪熱渴，吐嘔不利於香砂術曲者，服此方而晏如。</p>
<p>安波按：細繹方議，暑邪犯胃為嘔，以黃土稻花溫而不燥，香而不竄，安胃為君。吐多傷液，以沙參茯苓甘草半夏，養而不膩，輔而不滯，使中宮得以運旋，則吐瀉不治而自愈矣。故主為臣，蓋土氣衰微，致招客邪，則勝已之木來侮，可不待言而知也。故以烏梅、木瓜預以定木為佐，而脾胃得以安，肝得以伏，而炎炎之暑邪未驅，故使以扁豆葉得金氣之最早，祛暑平木，良由斯乎。</p>

<h2>又乃郎濕溫感證</h2>
<p>梅翁幼郎，夏間患感證，見其發熱口乾，舌苔白膩，知有伏邪，思膏粱稚子，提攜捧負，邪何由受。詢其乳媼，據云向系樓居，近緣天暑，移住地房，黴氣甚重，病因此受，亦未可知。予曰是矣。蓋黴濕之氣，從口鼻吸入，伏於膜原，醞釀為熱，自里達表，不比風寒客於皮毛，可以辛溫發散而治也。初用淡豉、蘇梗、鮮藿香、秦艽、廣皮、桔梗、連翹、甘草、通草之屬，芳香解穢，辛涼透邪。服藥熱甚，煩渴，舌苔轉黃，方除蘇梗廣皮，加入黃芩黑梔赤苓澤瀉，熱渴不止，舌色欲焦，予素手戰，渠宅視恙，方俱心樹兄代書，乃謂之曰：此證熱勢熾甚，非白虎湯不能去病。心兄云：據證應用此方，但白虎之名，俗多恐畏，或至明日，如病不減，再進如何?予曰：拯溺救焚，急不及待。今舌欲焦，邪熱燔灼，胃津已傷，倘到明日，舌若變黑，而成胃實。則非白虎所能勝任。再投承氣，豈不更駭聽聞。因將病原治法，細與渠宅說明。當用石膏一兩，知母一錢，並加滑石蘆根，其餘梔芩等味，分量均照前加重。次日復看，身熱較輕，舌焦亦潤。但病來勢暴，若驟鬆手，恐其餘燼復燃，仍守原方，再服一劑，轉用沙參玉竹麥冬丹皮石斛料豆梨汁芝麻，養陰需液而痊。</p>
<p>安波按：讀斯篇未終，不覺喟然長嘆已三息矣。蓋古之名湯治疾，二翻三複者甚眾，今時地卑氣薄，藥未終劑，更醫已數四矣。故出類拔萃之輩，常立於人背之後，是殆所謂命也夫。</p>

<h2>張汝功兄乃郎嗽久傷陰奇治驗</h2>
<p>汝兄乃郎，年方齠齔，秋間咳嗽，入冬不止，初起嗆嗽痰澀，氣急面紅，漸次潮熱脈數，食減肌瘦，藥如瀉白散、止嗽散、清燥救肺湯，遍嘗無驗。汝兄慮成童怯，囑予籌治。令且停藥，每日用甜雪梨一枚，去皮渣，雄豬肉四兩，同切塊，清水煮湯啜之。其肉與粳米稀粥同食。兒病日久，戒食葷油，復為藥苦，得此可口，食而甘之，數日而效，浹旬而痊。汝兄稱謝，並問其故。予曰：斯證即喻西昌所謂秋傷於燥，冬生咳嗽之候也。夫燥者濡之，其所以服諸清潤之劑而不應者，緣童質向虧，嗽久陰傷，凡藥皆草木根荄，只可濡其時邪之燥，未能滋其津液之干耳。經云：陰之所生，本在五味，五穀為養，五果為助，五畜為益，故用豬肉雪梨粳米，諸多濡液滋干之品，氣味合而服之，以補精益氣，豈尋常方劑可同語耶。汝兄慨然曰：人知藥能療病，不知藥反增病。人知食肉病復，不知食肉病愈。今而後益信醫理淵深，不易知也。</p>
<p>安波按：讀斯案字字珠玉，可見醫貴圓通，徒執成方於胸中，亦復何益。</p>

<h2>又令愛暑入心包拯治無功後見數人證同皆不可救並答門人四問</h2>
<p>汝兄令愛，笄年在室，時屆季夏，薄暮忽覺微寒，夜發壯熱，頭痛嘔吐，次早迓予，其女出房就診。脈弦急數，舌苔白膩。謂汝兄曰：證屬時感暑風，來勢不輕，防其生變。方用葛根防風以祛風，香薷茯苓甘草半夏滑石扁莢葉以清暑。詰朝入房診視，脈證如故，舌苔轉黃，熱盛口渴，目定神呆。方除葛根防風半夏，加入連翹知母花粉鮮荷葉，四朝再視，病者扶坐榻上，昏昏不語，令其伸舌，勉伸半截，尖絳起刺。汝兄云：小女夜來熱熾，煩渴呻吟不安，黎明稍定，以為病減，不意神更昏迷，肢漸厥冷，未識何故。予曰：此暑入心包，邪陷於裡，熱深厥深，肝風欲萌，勢屬危險，可延他醫酌之。汝兄堅囑拯治。思暑由上受，首先犯衛，漸傳入營，葉氏有清絡熱，必佐芳香，開里竅，以清神識，用至寶丹一法。吾鄉苦無此藥，姑用生地、元參、銀花、麥冬、川連、犀角、鮮菖蒲、西瓜翠衣，令取荷露煎藥。翌日復召，病勢益劇。目闔肢掣，口噤牙咬。予曰：肝風已動，證成痙厥，不可為矣。汝兄乞籌以希萬一。揣諸病情，治法不過如此，奈服藥不應。無已再想外法，令桃黃土攤地上，鋪荷葉，將病人抬置其上，另用紫雪牛黃蜜調塗舌，方加鉤藤、桑寄生、羚羊角，平肝熄風。至第六朝，汝兄來云：昨晚肢掣不作，口噤已開，似有生意，再煩視之。至見病人眼戴口張，痰聲漉漉，切脈如絲。予曰：此非掣定，乃元氣內奪，無力鼓動故也。脈證俱敗，危期速矣。延至七朝而歿。未幾，又見鮑菶莪翁令媳之證。</p>
<p>菶翁邀視媳病，云日前因熱貪涼，起初頭痛嘔惡，旋即怯風發熱。至今熱猶未退，似屬外感，煩為解散，免致成瘧。導予入室。診際問其頭痛乎，病者不答。轉令使女詢之，亦復默然。予曰：殆證也。辭不治。菶翁云：小媳病才兩日，其候不過發熱頭痛，何以言殆?予曰：害雖未形，其機已露。蓋此病因於冒暑，夫暑喜傷心，心者君主之官，神明出焉。頃問病原，蔑知應對。足徵邪犯心包，神明為之紊亂，按心肝為臟，臟者藏也。邪已入臟，斷難驅逐。且手足厥陰相表裡，肝風痙厥，蟬聯而至，預期一候，恐有風波，並將張汝兄令愛病狀告之。翁雖唯唯，然未深信。續延他醫療治，諸證蜂生。果至七朝而逝，始信予言不虛。後旬日又見許禮門翁令侄媳之證。</p>
<p>禮翁儒而通醫。因乃侄媳病見招。晤間予告以近視張鮑兩女病。均不治之故。翁蹙然云：舍侄媳病候，與此彷彿，奈何?予問病經幾日矣。曰五日。問其狀。曰身熱肢涼，昏迷瘛瘲。予曰，邪已入臟，不可救矣。其姑堅托診視，脈證俱殆。翁求舉方，予曰：適談前視張鮑兩女證，維時病人猶能行動，尚不可療，況如是乎?辭欲登車，其僕乞診婦病，詢其何疾，云病起三朝，發熱不退，神漸昏冒，今早手足微掣。予曰：此亦暑入心包之候也，可不必往。翁強之。皆至其家，見婦昏臥於床，熱盛息粗，面赤唇乾，舌伸不前，抉視色絳，苔黃，切脈弦數。辭不用藥。僕人跪懇，勉議清解暑邪芳香宣竅之劑，並囑用黃土荷葉墊臥。越日僕來言，主母已故。妻病服藥熱緩掣定，神識稍清，復為加減，幸得獲痊。後期年再見洪蕊春兄令媳之證。</p>
<p>蕊兄乃媳，長夏患病，四朝熱盛神昏，舌黃口渴，肢冷脈細。予診之曰：此暑邪內犯心包，棘手之候。蕊兄囑治，勉商清暑滌邪，參以芳香開竅，並語之曰：服藥熱減神蘇，庶可圖幸，若肝風一動，則難救矣。旁議予方過涼，另延他醫，以病者肢冷脈細，認為陰寒，遂用姜附，置諸陽證不問。歙俗病家服藥，喜熱畏涼，膏粱殆甚，維時姻婭咸集，度其少年新婚，當從陰證治法。蕊兄自不知醫，因聽眾咻，信以為是。友人方瑞徵，病者之表兄也，予視病時，渠亦在座，見後醫之方，與予相左，私叩所以，予曰：病屬暑邪入臟，熱極似寒，實非陰證。亟為清解，猶恐不及，再投姜附，豈不火上添油乎。瑞兄云：家姑現在伊宅，吾往告之，勿服其藥如何?予曰：子固婆心，但予雖能決其服彼藥而必死，然未能料其服予藥而必生。續聞競服彼藥，肝風大動，顛簸反張，憑空躍起數尺，爬床搔席，齧舌斷齒，未至一候而亡。予所見數證，臨危俱動風抽掣，然不若此之劇，蓋由姜附燥烈，以剛與剛，益助其威耳。後十餘年，復見吳蔚揚兄令愛之證。</p>
<p>蔚兄令愛，適本里洪宅，即星恆翁之乃媳也。年近二旬，形瘦質弱，星翁乃郎，向外貿易，因病遄歸，媳侍湯藥，憂勞交集，時值溽暑，偶作寒熱，次日熱發不退，頭痛嘔吐，逆予診之，擬屬暑風相搏，投以輕解之劑，詰朝脈證如故，神識欠慧，予謂星翁曰：令媳病勢頗劇，刻防傳變，可速告知令親，切勿輕忽。原方佐以清熱辟邪，四朝再召，蔚兄在座，據言昨夕熱盛煩躁，今晨人事更迷。予入房診畢曰：邪已入臟，旦晚肝風即至。病人體薄，且多憂勞，料難支撐。並將疇昔所見諸證向說，囑早延醫斟酌。蔚兄務求畫策，勉於昨劑中參入芳香開竅，以盡人工。五日黎明，星翁遣價來請，予辭不往，再四相邀，至見病者昏臥肢掣，喉中痰鳴。予曰：內閉外脫，蔑能為力，他醫用藥，亦無效靈，越日而殂。</p>
<p>安波按：於壬小春初二，治錢清場司秦積卿公祖，年將古稀，神采矍鑠，六旬余得類中症，後以大補獲痊。今歲秋季。忽覺形寒怕熱，溺短便澀，素善飯膳，須豚蹄之屬，飢必以大碗燕窩，其餘茶食之類，常不輟於口，寒熱之際，啖食亦恐失餓，致見神采蒙瞶，口牽指搐，目閉溲遺，切脈沉伏，撬視舌苔，乾燥黃厚。余曰：此伏暑候也。年高怯弱，慎防內閉外脫之險，辭以不起。彼人固求立方，余勉擬芳香開竅，辛涼豁痰之劑。今伊速覓妙手評酌，醫亦吾藥彷彿，竟服彼方。次日復診，余視脈病仍然，令搜真西黃幾釐，調至寶丹抹塗舌上，倘得神定搐回，可望萬一。如是彌留者五日矣。渠竟獲得西黃幾釐，調至寶丹將塗，詎期舌初沾染，而公竟仙逝矣。茲閱斯案，益奇先生之明決於一候之間，神乎神乎。</p>
<p>門人問曰：暑入心包一證，古人略而不詳，近葉氏案載證治數條，似非不救之候，且六淫首重傷寒，其危莫如兩感，雖軒岐只有死期，而無治法。然後賢謂用藥先後，發表攻裡，復推出可生之機，今讀先生所著暑入心包數案，咸辭不治，或拯無功，果斯候之危甚於兩感，而竟不可救耶?答曰：傷寒兩感固危，畢竟其邪表裡雙傳，猶或可據可療，暑邪變幻無常，彼暴中之激烈，扁鵲不及攦指而投咀，蓋緣心為君主之官，心包乃其外郭，邪犯心包，至危至急，烏可同類而語乎。又問曰：暑入心包，危急之故，已聞命矣。然三因病候多端，豈無一二可與比類者乎?答曰：安得無之。小兒夏月冒暑發熱，陡然神昏肢搐，俗呼暑風急驚，其證彷彿，其原相同，洵可以稱比類也。但暑邪感觸，小兒即作驚搐者多，大人即入心包者少。小兒暑風急驚，十中可救七八。大人暑入心包，十中難拯一二。此中奧義，不可不明。蓋小兒質弱，臟氣未實，邪入易，故病多。大人體強，臟氣已實，邪入難，故病少。惟其入之易，則其出亦易，故治易。入之難，則其出亦難，故治難。即此觀之，病情思過半矣。又問曰：夫子發蒙解惑，暢論病機，頓開茅塞，頑鈍輩以為古人治病，證分寒熱，藥析溫涼。今見數案，治法悉是清暑辟邪，參以芳香通竅，不識此外尚有他法可施與?答曰：凡治他病證，有寒熱之殊，藥有溫涼之異，惟此一證，有熱無寒。比例溫病，病必有陽而無陰，藥必用寒而遠熱。夫暴病暴死，皆屬於火。苦寒則凝冱稽遲，焉有如此之激烈哉。予為子輩再伸其義。醫方八法，汗吐下和溫清補滲是也，此證邪已入臟，汗之不宜，腑病宜通，臟無下法，溫則以剛與剛，和解滲利，絕無干涉，痰食結胸則吐之，臟邪從無吐出之理，至於補法，傷寒中風，邪陷於裡，往往用之，無如此證，邪入瀰漫，虛靈閉塞，不滌其邪，徒補無益，故舍清法，別無可施。譬諸救焚，舍水他無可用。再按小兒暑風驚證，質實能受清涼者可治，質虛不受清涼者不可治，此證亦然。曩治許禮門翁僕婦之證得愈者，亦因其藜藿體堅，能受清涼故也。膏粱羸弱，患此欲求倖免者，幾希。又問曰：《傷寒論》云：太陽病頭痛至七日以上自愈者，以行其輕盡故也。若欲作再經者，針足陽明，使經不傳則愈。此仲師驗治傷寒傳經之法也。夫子言暑入心包之候，危於傷寒，但寒之傷人尚少，暑之傷人甚多，暑邪之入臟，如傷寒之傳經，應可預知，曷不仿仲師針法，使其不入可乎?答曰：此未可易言也。夫寒邪未傳之先，有證可據，暑邪未入之先，無證可憑。當其疾作之始，身熱頭疼，嘔吐口渴，與尋常暑證不殊。有此慧眼，能預知其邪之欲入，而為設法堵御耶，《內經》論卒中雲：急虛身中卒至，譬如墮溺，不可為期，可類推矣。雖然邪之未入，固難預知，而邪之既入，不可不識。凡診暑證，二三日間，視病者神識微呆，即是邪入之徵。此語未經人道，舟子望雲而知風汛。予閱歷有年之一得耳，既知邪之已入，維時其入尚淺，肝風未萌，似可極力驗之，勿令入深可也。無如暑邪變幻，電掣雷奔，迅速異常，縱使驗逐，枉竭其力，罕見其功，亦非臨證目擊，不能知之。茲因子輩之問，一伸病機，惜未水飲上池，無浣腸滌胃之術，能起人於九死一生之中，徒自歉耳。</p>
<p>安波按：病至危證畢聚，雖有慧心妙手，亦奚以為。姑立方者，聊盡良工之婆心耳。</p>

<h2>葉蔚如兄脅痛便閉一劑而效</h2>
<p>蔚兄來診云：病初右脅刺痛，皮膚如烙，漸致大便閉結，坐臥不安，每便努掙，痛劇難耐，理氣清火，養血潤腸，藥皆不應。切脈弦急欠柔，謂曰易治耳，一劑可愈。蔚兄云：吾病日久，諸藥無靈，何言易治?予曰：此乃燥證。肺苦燥，其脈行於右，與大腸相表裡，方書論脅痛以左屬肝，右屬肺，今痛在右脅而便閉結，肺病顯然。但肝雖位於左，而其脈縈於兩脅，內經言邪在肝，則兩脅中痛。今痛雖在右脅，不得謂其專屬肺病已也。夫金制木，憂傷肺，金失其剛，轉而為柔，致令木失其柔，轉而為剛，辛香益助其剛，苦寒愈資其燥，潤腸養血，緩不濟急。訂方用栝蔞一枚，甘草二錢，紅花五分。蔚兄見方稱奇，乃詢所以。予曰：方出《赤水元珠》。夫栝蔞柔而潤下，能治插脅之痛，合之甘草緩中濡燥，稍入紅花，流通血脈，肝柔肺潤，效可必矣。服藥便通痛減，能以定臥，隨服復渣，微溏兩次，其痛如失。</p>
<p>安波按：懷抱奇，肋痛法，亦可參用。</p>

<h2>曹靜川翁孫女頦脫音啞</h2>
<p>靜翁孫女，年甫三齡，夏月發熱，醫作暑風治，投清散藥兩劑，忽頦脫音啞，食莫能嚼，飲莫能啜。又以為風中會厭，仍用散藥，靜翁遲疑，邀予商酌。謂曰：頦屬腎，頦脫腎虛之徵。腎脈循喉嚨，挾舌本，為聲音之根。經云：內奪而厥，則為喑痱。兒質本薄，暑復傷氣，更服辛散，元氣益漓，致變若此。倘再行疏泄，肝風一動，慢驚旋至，不可救矣。仿左歸飲合生脈散，服之而瘥。</p>
<p>安波按：勘此等證，腹中無《內經》，猶瞎子行路。</p>

<h2>堂妹吐證</h2>
<p>堂妹年二旬，因情懷憂鬱，致患吐證。每餐鬲間哽哽，少頃即吐，輕則只吐數口，甚則所食之物，傾囊而出。溫中調氣，清火解鬱，治俱不應，予用安胃制肝法，亦不驗。只得停藥，越十餘年，疾仍如故。肌肉不瘦，產育如常。予見此證數人，藥皆罔效，然亦無損。復有梅氏女一證，案載輯錄卷中，其候更加經期阻閉，纏綿數年，咸目為殆，出室後得自愈。可見情志之病，藥餌難療。至於病久而血氣無損者，良由胃為多氣多血之經，腑病較臟病輕耳。若果臟真損傷，焉能久延不壞乎?</p>
<p>安波按：古人云：師尼寡婦，必須異治。愚謂室女之治，較師尼寡婦為尤甚。蓋室女人道未周，情竇早露，以致窒塞之郁，百變百幻。結離後，諸病霍然。余亦有見之者。馬陸氏女也，年過久笄，識書算，談吐淵博，知藥性，貌亦加常人一等，後得肝厥一症，每月如死者一二次，及合巹有時，而適逢厥來，從此好事多磨者有二次。余至，以疏肝息風為事，然雖救目前之急，奈終身痼產，總少妙術，忽忽三年，婿突至，完姻迄今，沉疴若失，而瓜瓞已三四矣。</p>

<h2>方萃岩翁乃郎跌後又患腹痛藥傷胃氣治驗</h2>
<p>萃翁公郎葆晨兄，稟質素弱，曩患滑精，予為治愈，案載初集中。斯病之始，偶因登山跌僕傷足。吾鄉專科接骨頗善，但其藥狠，弱者每不能勝。葆兄緣傷重，欲圖速效，日服其藥，已戕胃氣。又患腹痛，更服溫肝行氣活血等方，胃氣益傷，神疲倦臥，痛嘔不止，藥食不納，邀予診視，脈虛細澀，氣怯言微，面青自汗。謂萃翁曰：公郎病候，乃藥戕胃氣，恐蹈脫機。人以胃氣為本，安穀則昌，治先救胃，冀其嘔止谷安，然後以大補氣血之劑繼之，不徒愈病，且足得血而能步矣。但治嘔吐之藥，最宜詳辨氣味，不獨苦劣腥臊不能受，即微郁微酸，亦不能受，惟人參力大氣味和平，胃傷已極，非此莫可扶持，而單味獨用，分兩需多，購辦不易，姑以高麗參代之。日用數錢，陳米水煎，緩緩呷之，守服數日，嘔止食納，神采略轉。接服大補元煎，漸可下床，移步尚苦，筋脈牽強，行動艱難，翁慮成跛。予曰：無憂，血氣未復耳。仍服前方，半載後步履如常。</p>
<p>安波按：味單則力峻，古人所以獨參名湯也，而其用專。</p>

<h2>又翁自患陰疽復中寒陽脫救急治法</h2>
<p>壬午冬萃翁患外證甚重，因往候之。翁臥於床，謂予曰：背偶生毒，已經旬矣。知子不專瘍科，故請潘日章兄看視。潰膿無多，並不痛楚，惟形疲食少，煩為診之。切脈沉細而耎，觀其毒形平塌，乃告之曰：此疽也。其病在陰，治須溫補內托，由陰轉陽，焮腫作痛，毒化成膿，庶幾無慮。囑邀潘日章兄同議。方訂十全大補湯加白芷、穿山甲，薄暮使來促云：刻病甚劇，祈速往。入室見翁靠坐於地，眾皆倉皇。予驚問故，乃弟子橋先生言：家兄因起身更衣，站立不住，忽然跌僕。遂作昏暈，故此不能動移。按脈遲細欲伏，面青肢冷，嘔惡頻頻。予曰：此中寒也，病上加病，切防脫。變計惟參附湯以濟其急，嘔多胃逆，更以乾薑佐之。古有霹靂散之名，形其迅速也。適日兄亦至，意見相符，於是用高麗參五錢，附子乾薑各二錢五分，令先扶掖上床，藥熟傾服。予與日兄同坐室中，俟其消息。時屆三鼓，漸見嘔定肢溫，神蘇脈出。予喜曰：可無憂矣。令煎二渣與服。次日復召，謂日兄曰：昨夕中寒急暴，幸賴參附湯挽回，今視其疽，形仍平塌，尚不知痛，昨同議之方，猶恐不濟。商以大劑養榮湯，加附子。再診更增枸杞、菟絲、巴戟天及河車、鹿茸血肉之屬，日漸知痛，腫起膿稠，腐化新生，治療月餘，瘡口始斂。</p>

<h2>次兒光墀單腹脹奇驗</h2>
<p>墀兒年逾弱冠，向無疾病，夏間偶患腹脹，以為濕滯，無關緊要，雖服藥餌，然飲食起居，失於謹慎。糾纏兩月，腹形漸大，肌瘦食減，時作嘔吐，自療不愈。就同道曹肖岩余朗亭二公診治，藥如和滲溫清消補，遍嘗無驗。其時尚能勉力出戶，猶不介意。予思既諸藥無功，諺云：不藥得中醫。遂令停藥。迨至冬初，因事觸怒，病益增劇，食入旋嘔，臥即氣衝，二便欠利。予憶經云：肝主怒，怒則氣上，得無肝氣橫逆，阻胃之降。是以為嘔為脹，與自擬越鞠逍遙，及安胃制肝方法，亦不應。漸至腹大如鼓，堅硬如石，筋綻臍突，骨立形羸，行步氣促。予技已窮，復邀同道諸公視之，皆稱證成中滿，消補兩難，有進專治鼓脹丸藥者，言其音如響，一下其腹即消。予料彼藥乃巴黃霸劫之品，今恙久胃虛，如何能受。即古治單脹，有用雞矢醴一方，顧斯畏食嘔吐，氣味亦不相投，晝夕躊躇，無策可畫。俄延至臘，忽睹梅梢蕊放，見景生情，旋摘數十枝，令以湯泡代茶，日啜數次。機關勘破，觸類旁通，家有藏釀，用木瓜橘餅各三錢，另以村醪煎熟，與藏釀對衝，晚飲兩杯。以前腹脹否塞，絕不響動。如此啜飲三日，腹中微鳴，不時天氣，堅硬稍軟，迨至旬余，脹勢減半，二便覺爽，食入不嘔，夜能安臥，匝月後腹脹全消。當時脹甚腹如抱甕，疑謂何物邪氣?若此之盛，及其脹消，大便並無穢惡遺出，可知即此身之元氣，與此身為難首耳。兒病愈後，咸以為奇。友人問予所用梅花治脹，出於何書。予曰：運用之妙，存乎一心，此予之會心偶中，無古可師。大概梅佔先春，花發最早，其氣芳香，故能舒肝醒脾。橘皮調和諸氣。肝以斂為瀉，木瓜酸柔，能於土中瀉木，更藉酒力，是以得效。友人喟然曰：子良工也。公郎之疾，固雖有術起之於後，尚且無法療之於前。此醫之難也。然使此證患於不明醫理之家，當其迫切之際，未有不隨下藥而斃者。此又醫之不可不知也。予聆斯語，不覺悚然。</p>
<p>安波按：膨證一候，世乏良方。細繹此子得愈之由，緣年正方剛，血氣甚盛，雖病久形衰，而根蒂尚固。更兼年輕無知，鬱怒未深，並非冤沉海底，大怒不解，日就憂抑者同日而語。不然臘殘春回，木升當陽，其病日增之不暇，豈藉梅花微末之材，可能卻病乎?余見是證，不治者甚眾，其年均在四五六左右，三十以外，尚未之聞也。餘生也晚，不然責之杏翁，以為然乎否乎。</p>

<h2>巴聲茂生布痘癍閉險逆一劑救轉</h2>
<p>巴生居近比鄰，尊公秉昭翁，早子俱殤於痘。是春痘令盛行，兒多夭折，生年數齡，尚未出痘，翁以為憂。一夕忽發熱嘔吐，臥寐不安。比曉迓予，望其頰赤唇乾，捫其身熱指冷，煩渴舌黃，細驗周身標點，隱隱夾有紫癍，顧謂翁曰：此布痘癍閉，險逆之證也。服藥癍消痘透，庶可無虞。方定羌活散癍湯，加石膏燈心，午後復視，云服頭渣藥後，熱盛悶亂，頭搖肢掣。予曰：此欲作驚。令服復渣，薄暮煩熱益甚，昏譫渴飲，舌吐唇外，掉弄不休，痘仍不透。癍反增多。其熱頗劇，舉家倉皇。旁議劑中石膏過涼，冰伏為害。予辭焉。秉翁堅求拯治，因在鄰居素契，且此子又從次兒受業，情難固卻，復告之曰：方書雖有痘初宜於升發，忌用清涼，恐其冰伏之說。特此證乃心胃火毒壅遏，致成癍閉，不清其火，癍何由消?痘何由透，前方清藥力輕，故不勝任，於是重用石膏為君，佐以犀角、酒炒黃連、元參、升麻、連翹、赤芍、牛蒡、紫草之屬。燈心尖為引，每服另沖無比散，取其大熱，利小便，亦釜底抽薪之義。方已寫就，思舌為心苗，今舌吐弄不休，內服煎藥，須外用紫雪塗之，奈此物吾鄉甚罕，乞諸其鄰，所與些微，亦不濟事。翁云：吾有紫雪藏之久矣。取出稱有三錢，快甚。即令蜜調塗舌，並速煎藥與服，次早翁來云：昨夕遵諭服藥，塗舌至半夜，熱緩癍收，瀉止躁定，似有轉機。再煩一看，果諸證悉平，癍消痘透。予曰生矣。詢其紫雪只剩三分，余皆塗去。予笑謂翁曰：此證雖仗藥力挽回，然非如許紫雪，亦無此速效。今火勢既平，藥當褪松，酌以十神解毒湯，仍稍用石膏犀角，清其餘火，轉用太乙保和湯，人參易沙參，加天蟲、白芷、貝母鮮鱗。漿成之後，補脾利水，清涼解毒，漸次收功。此等險證，幸在比鄰，朝夕看視，藥隨病轉，得以保全。使病家與醫居隔遠，倉卒變幻，硬鞭長莫及，欲圖慶成，不亦難乎。</p>
<p>安波按：方議精妙入神，讀者不可忽過。</p>

<h2>答鮑北山翁詢伊郎飲澼證治始末並商善後之策</h2>
<p>飲證名載《內經》，特經文專論。運氣司天在泉，勝復之義，僅啟大端。仲聖於金匱玉函中，闡發病機，詳辨治法，條分縷析，後世有所遵循，可稱幸甚。經云：水火者，陰陽之徵兆也。水為陰，火為陽，足見飲為陰類，致病之由，必其人之元氣虧乏，陰盛陽衰，津液凝滯，不能輸布，留於胸中，則清者悉變為濁矣。使果真氣充足，飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，何患之有；經又云：陽化氣，陰成形。夫氣即水也，水即氣也。氣可化水，水可化氣。今則陰翳瀰漫，水精凝聚，得無陽衰，氣無以化之故乎?人身之陽有三：一曰膻中之陽。如離照當空，纖雲不掩，膻中陽虛，則濁陰上干，竊踞陽位，所謂濁氣在上，則生䐜脹也。一曰腎中之陽。如釜底之火，熟腐水穀，腎中陽虛，則釜底無火。物終不熟。所謂戊癸少化火之機，命陽無蒸變之力也。一曰膀胱之陽，膀胱者，州都之官，津液藏焉，氣化則能出。膻中位於膈內，膀胱位於腹內，膀胱氣化，則膻中之氣得以下行，膀胱陽虛，則氣不化，失其通調水道之職矣。童年既無色欲之戕，又鮮情志之擾，其膻中腎命膀胱之陽，從何而虧，飲病從何而起，得無水果生冷所傷之咎與。軒歧於病治之後，尚以穀肉果菜食養盡之，非謂水果不可食也，惟食之有節，無使過之。過則傷矣。童質稟薄，素嗜水果胃陽受傷，致成飲澼。夫蔗性寒清胃，詩稱大官還有蔗漿寒者此也。舊夏日啖蔗漿，致發宿疾，胸膈支滿，漉漉有聲，憒然無奈，嘔吐冷水，成碗成盆。投以苓桂術甘理中，六君之屬，通陽滌飲。服至月餘，始得獲效。復訂溫健脾胃丸方，並囑戒食生冷，冀杜病根。仲秋病復召診。詢知丸藥未服，復食梨菱，此則自誤，非醫咎也。窺其病狀，較前加甚，不但嘔吐水冷，並且脘中喉口俱冷如冰，食姜不辣，溲色如泔。經云：中氣不足。溲便為變。諸病水液，澄澈清冷，皆屬於寒。初則胃陽之傷，繼及膀胱腎命，一寒至此，誠為可畏。姜椒桂附，屢投不應，思商硫黃丸，大熱純陽，差堪有濟，此藥吾鄉苦無市處，無已，每日方內附子加至五錢，連進十二劑，才見春回暘谷。細揣此病，定有窠囊附於膈間，如賊寇依山傍險，結成巢穴，出沒不常。窠囊之說，許叔微論之於前，喻嘉言詳之於後。師古而非杜撰。前番勢輕，病後只須治脾。此番勢重，病後務須治腎。因仿腎氣丸方法，令其上緊制服，並囑水果不可沾唇，即菜蔬性寒之品，均不可食。詎意旁人少所見，多所怪，因見方內附子分兩加重，咻為有毒，不可多服，致令藥已奏功，反生疑畏。又將所立丸方，付未達不敢嘗之例。無如病雖暫愈，其根猶在，交春萌動，一夕吐水半桶。夫水之為物，不盈科不行，積之日久，故復傾囊而出。不明窠囊之因，反詆溫藥之過。嗟呼。周禮冬至採毒藥以供醫事，凡攻疾之藥，俱是有毒，不獨附子為然。但有病病當，彼性攻寒不逮，何暇留連作毒。如兵者，毒物也。然剿賊必須用之。若無故用兵，則受其毒矣。倘用兵以剿賊，剿賊以安民，則不惟不見其毒，而反受其益，故第論用之當不當，不必問其毒不毒。苟用之不當，即無毒亦轉為大毒，用之得當，即有毒亦化為無毒。仲聖傷寒方中，如四逆湯，回陽救急，生附俱用一枚，今時種附力薄，況經童便甘草制透，其力更緩，方將虛其無毒以攻疾，何至慮其有毒以傷人乎?試思一月之中，附子服過斤許，設不對證，早已禍起蕭牆，何以病後毫無喉痛口瘡之恙，安得視為砒鴆，執迷不悟耶。果疑溫藥非是，盍請他醫療之。醫來案稱胃寒氣痛，藥用吳萸丁香，雜以枳樸蘆根石斛，僕因素契，不忍緘口，復實告以證屬寒凝，飲積且發，經數次吐多胃傷，豈特不可寒涼，即枳樸消耗真氣，亦屬不合。此次病發，得以勢輕，未始非仗從前溫藥回陽之力。觀其吐後即渴，《金匱》飲證條中，以渴者為欲解也。愈期非遙，不藥亦可。但窠囊不除，終為後患耳。如言停藥，數日即安，諭商善後之策，所云五氣朝元丹，僕前原思及此，惟是此番疾作，寒象既已減輕，溫藥亦應稍損。純陽剛愎。似可無需，矧窠囊之疾，非迅速可以蕩掃。藥性過悍，久防增氣，且前僅用附子，眾咸詆其有毒，今若再進硫黃，更駭聽聞，莫若仍從外飲治脾，內飲治腎，不偏不倚，中正和平，禹之治水，行所無事，病去元氣不傷，斯為盡善。再按治飲用溫，固屬無難，要知其病，雖由虛而成，非同全實，可以直行攻消。然亦非同全虛，可以專行溫補。酌予溫藥中少加開導，俾飲邪不至逗留，合乎溫而和之之旨。考諸《金匱》云：心下有痰飲，胸脅支滿，目眩，苓桂朮甘湯主之。心下有支飲，小半夏加茯苓湯主之。原痰飲之作，不外脾胃陽虛，濁陰凝聚。而施治之法，亦不外燥土升陽，驅導飲邪。蓋胃寒則痰生，胃暖則痰消，脾濕則飲留，脾燥則飲去。二方雖治支飲，然用之於諸飲，亦無不行。並考許叔微《本事方》，專用蒼朮一味，療痰飲之澼囊。喻氏《寓意草》中，有華太夫人餌術方法，效驗彰彰。聖域賢關，心心相印，外飲治脾，當如是也。金匱又云：短氣有微飲，當從小便去之，苓桂朮甘湯主之，腎氣丸亦主之。蓋治飲雖以升陽燥土為第一義，然從小便去之，尤為先務，苓桂術甘，亦導水利小便之劑也。設其人腎陽不充，則難勝任，故又主之以腎氣丸，以桂附加入六味補腎藥中，益火之原，蒸暖中焦之陽，使胃利於消，而脾快於運，則飲邪自無伏留之患矣。況方內苓澤原有淡滲水邪之能，亦本溫而和之之意，較他溫補諸方，相去徑庭。奈世無好桂，而種附力復淺薄，雖以枸兔佐之，猶恐不逮。再假斑龍血肉，純陽溫煦奇經，以補玉堂關下之闕。方內減丹皮者，恐其清瀉相火故也。內飲治腎，不亦宜乎。</p>
<p>安波按：可稱盡善盡美。</p>

<h2>許玉書翁大郎腹痛吐瀉危證拯治之奇</h2>
<p>玉翁大郎，童年曾患頭昏，諸藥不愈。予作肝風治，疏歸芍地黃湯。僉謂頭昏是有風寒，童子不可輕服熟地。翁排眾議，依方多服而瘳。次春又患腹痛，嘔吐便瀉，延診，藥用溫中調氣，兩服未愈，家人著急，令更他醫，日請數人。或以為蟲，或以為血，或以為火，治總不驗，淹纏旬余，痛甚不止，嘔瀉不停，寢食俱廢。復邀診視，脈細面青，呻吟疲憊。予思病勢增劇，玉翁固雖相信，然旁議紛紛，難與著手，轉薦同道余朗亭先生診治。初投五苓散，續進真武湯，亦俱不應。玉翁堅囑想法，予曰：非不欲為借籌，奈令郎病久，胃氣必空，輕劑諒不濟事，若背城借一，尊公愛孫如珍，見方駭然，焉肯與服。翁沉吟云：有一善策，今早友人談及鄰村有扶鸞治病者，家人慾往求方，予呵止之。祈擬一方，予持語家人云，是乩仙所開，自必信服。予曰：策固善矣，治法尚難。令郎之病，起初不過寒凝氣滯，本無大害，因求速效，諸治龐雜，痛久傷氣，吐多傷胃，瀉多傷脾，故困頓若此。倘仍見病療病，必至土敗氣脫，計惟扶陽益氣，以拯其急。愛議附子理中湯，米水煎飲。氣固胃安，庶堪保守。詰朝玉翁來舍，喜云：曩服他藥，如水投石，昨服尊方，不但病減，並可啜粥。家人信為神丹，相煩往視，懇為加減。予曰：藥已對證，勿輕易轍。今日照方仍服一劑，明日再為斟酌。次早往診，病勢大轉，因其體素陰虛，方內除去附子，又服兩日。更用參苓白朮散，調理而痊。是役也，非玉翁平素信心，兼施權變，安能圖成?志此以見醫家臨證，不特病情之難窺，而人情之難處尤甚也。</p>
<p>安波按：人情難處，近今為尤甚。杏翁處嘉道盛世之際，而不見光緒醫生之吃苦乎。今日之醫，必須一劑知，二劑已之技，否則另商他人矣。可見人心不古，愈流愈下。</p>

<h2>又次郎脾腎陽虛伏寒凝冱重用溫補而瘳</h2>
<p>玉翁次郎，形貌豐腴，向無疾病，丁亥季秋望後，陡作寒熱，延予次兒光墀診治。藥投溫解，其熱即退。嗣後單寒不熱，肢麻指涼，口吐冷涎，臍腹隱痛，便溏畏食。知系伏寒凝冱，方換姜附六君附子。初用八分，增至一錢，未見鬆動。邀予商酌，切脈遲細無力，望色面白舌潤。予曰：此正仲聖所謂無熱惡寒，發於陰也。前方不謬，尚恐病重藥輕，附子加用二錢，更加吳萸、肉桂、砂仁、川椒。次日復診，病狀彷彿，思火為土母，陽虛生寒，溫理脾陽不應，非補火生土不可。王冰所謂益火之原，以消陰翳也。仿生生子壯原湯加吳茱萸、葫蘆巴、肉果、巴戟天，附子增至三錢，以為必效矣。詰朝脈證依然，玉翁問故。予曰無他，藥力未到耳。蓋市中種附力薄，況經制透，其味更淡，可增四錢，再加鹿茸、枸兔峻補真陽。自可春回暘谷。依法服之。證仍如舊。翁侄召成兄私詢予曰：舍弟之病，先生審屬陰寒，第用如許熱藥，毫不見功，理殊不解。且附子大毒，今已服過數兩，久而增加，可無患否?予曰：其他勿論，時下秋燥，此等純陽之藥，若不對證，一匕亦不能堪，況其多乎。夫攻病之藥皆有毒，無毒之品不能攻病。凡傷寒中陰等證，非附子不能驅陰回陽，有病則病受之，何有餘性，遺留作毒，即使有毒而生，不勝於無毒而死乎。仍守原方，附子加至五錢，維時旁議沸騰，幸玉翁信而不疑。予告之曰：此證確屬沉寒痼冷，然煎劑溫藥止矣。再得硫黃丸佐之，庶有裨益。於是煎丸並進，漸見好機，熱藥稍減，參入熟地河車杜仲。予與墀兒日為診視，兩閱月始得全愈。共計服過附子一斤，硫黃丸二兩，乾薑六兩，鹿茸一架，黨參三斤，高麗人參共十餘兩，其他肉桂、吳萸、川椒等，不可勝計。予生平治陰證用溫藥，未有若斯之多，而效驗亦無如此之遲也。</p>
<p>安波按：病家相信，醫家放膽，所以為醫一道，非易事也。</p>

<h2>鮑宅京翁僕人中寒暴脫救轉之奇</h2>
<p>宅翁令政，質虧恙久，是歲季春病劇，延診，投以大補之劑，諸證漸減，六月初旬，病人夜臥受涼，微覺怯寒體痛，其時宅翁往淮，公郎輝遠兄，遣僕相招。予至視畢，謂曰此新感陰暑，但病軀不勝表散，暫進參附湯，得以邪從汗解，仍服本藥，比用人參二錢，附子錢半，各煎和就，正待與服，恰病人睡去。少頃輝兄出，告曰：家母方才睡醒，身已有汗，體痛亦鬆，不甚怯寒，日內天暑，附子過溫，或可不用，即服本藥何如。予曰：質虛偶感，邪原無多，標證既除，自應治本。仍將舊方加減配藥，其所和之參附湯，留貯盞內置方几上。時值正午，輝兄留餐，甫將舉箸，忽僕人之婦，張皇奔入，泣云：伊夫病在重危，叩求拯救。予曰：爾夫早間迓我，隨同歸來，並未見有病狀。婦云：陡然暈倒，不知所由。輝兄本家莆田翁偕往，果見神昏汗冷，肢厥脈伏，初為躊躇，繼而猛省，笑顧莆翁曰：證固危殆，然有一大奇事，可望生機。翁驚問故。予曰：此證乃卒中陰寒，陽欲暴脫，而救脫必須人參，伊等焉能得此。況安危呼吸，急不可待，頃輝兄乃堂所煎之參附湯未服，人參雖貴重之物，但和有附子在內，他人無此病，斷難服此藥，不意盛紀突遘斯疾，適與此藥吻合，豈非天造地設乎。令婦跟至輝兄宅中，予道其詳，眾咸稱異。當將几上參附藥盞付之持去，諭其稍溫與服，再看動靜。下午其婦來云：服藥逾時，汗斂肢溫，人事漸蘇。復診脈出神清，惟倦怠耳。方疏參耆建中湯，仍加附子，囑向伊主人處乞高麗參四錢，分兩劑服，更見起色。續增枸杞、山萸、當歸、杜仲，服之而瘳。觀此可見，人之死生有數，而一飲一啄，莫非前定矣。</p>
<p>安波按：證似中暑，以參附回陽，非大識見不可。</p>

<h2>許絅之兄齒痛</h2>
<p>絅兄質虧多病，予為調治，所用藥劑，不外歸脾湯、補元煎之屬。一日遣使相促，至時將薄暮，絅兄蜷臥榻上，起告予曰：早晨齒牙忽痛甚，不可耐，予至今不止，恐挾風熱外因，故停前藥。相煩診視，暫解標邪，切脈沉細無力，見證形寒足冷，謂曰：此屬虛寒，非關外感，不徒用補，更須從溫，爰仿古方八味地黃湯，加骨碎補，一服痛已。</p>

<h2>鮑智原翁令孫痘後鬼腫潰久藥投溫補而愈</h2>
<p>智翁令孫三歲，痘後左手曲池穴側鬼腫，潰經年餘，外科療治，不能收口，逆予商之。維時伊兄朗玉翁，及同事葉殿揚兄在座，二公俱知醫理，予視畢告曰：毒生手足，固不害命，然潰久膿水流多，氣血受傷，面黃肌瘦，神形疲倦，目無精采，天柱骨垂，一派大虛之象，最為可慮。潰口收否，無暇計也。朗翁云：證既屬虛，虛則當補。予曰：不但用補，且須用溫。智翁云：時下炎暑如蒸，過溫恐其難受。予曰：醫家治病，盛夏遇寒證，用熱藥，隆冬遇熱證，用涼藥。所謂舍時從證也。病若虛而不寒，單補亦可見功，今虛而兼寒，非溫補莫能奏效。爰定人參養營湯，加附子、鹿茸、枸杞、杜仲，合乎《內經》形不足者，溫之以氣，精不足者，補之以味之義。二公見方稱善。初服精神略轉，再服頸骨不傾，守服數十劑，氣血恢復，潰口亦斂，此證獲痊。雖予之執理不阿，亦賴二公贊襄之力也。</p>

<h2>吳尚時兄春溫兩感危證治愈附載鄭晉康兄令弟病同致殂之故並誨門人</h2>
<p>尚兄體素清癯，夏月病溫，延診，金邁倫翁偕往。據述昨午先寒後熱，頭痛汗出，熱灼不退，口渴心煩，夜不安臥，形倦莫支。就榻診之，脈虛浮大而數，視舌無胎，撫如干版。予為之駭曰：此證乃春溫兩感，至危至急。仲聖云：發熱而渴不惡寒者，為溫病，發汗已身灼熱者，名曰風溫。《內經》云：冬傷於寒，春必病溫。冬不藏精，春必病溫。既傷於寒，又不藏精，同時病發，謂之兩感。凡傷寒瘟疫，熱盛舌乾，亦須至一候之外始見。今病才一日，舌即乾涸，足徵腎水素虧，冬傷於寒，邪伏少陰，暗吸腎真，劫其家寶，故一見發熱，津液無以上供，舌即干矣。熱論篇云：傷寒一日，巨陽與少陰俱病，則頭痛口乾而煩滿，斷為兩感，不可救藥。比類而推，殊難著手。爰用熟地一兩，當歸三錢，料豆五錢，玉竹五錢，甘草一錢。疏方訖，告邁翁曰：予生平治少陰，先潰於里，太陽復感於表，傷寒春溫兩感危殆之候，初起悉宗景岳新方，理陰托邪，往往獲效，無如此證津液既涸，再投姜附，則陰立亡。故但師其意，以廣期前輩風溫湯佐之。雖一時之權宜，亦經營之慘淡耳。邁翁曰：善。遂服其藥，熱減神安，舌稍轉潤，再加沙參、麥冬、女貞、石斛，更進復脈、左歸漸次而愈。</p>
<p>安波按：形倦句不妥，蓋外感一病，人人皆倦。</p>
<p>鄭晉康兄，僑居潛口，設帳汪宅，予因其居停延診。晤間云：舍弟抱恙，便托一看。予問恙經幾日矣，曰昨日起病，發熱至今未退。予曰：此感證也。汪宅去伊家不數武，即與偕行。途次談及時下患感證者頗多，須驗其舌。若初起舌苔膩厚，則受邪深重，纏綿難愈。既至其室，病者出房就診，令其伸舌，乾涸無苔，形如鏡面。予曰殆矣。晉兄驚問所以，予曰：適言感證輕重，須驗舌苔厚薄，不意令弟舌毫無苔，光明如鏡，初病見之，甚非佳兆。晉兄云：子言感證苔薄病輕，今舌無苔，反以為殆，此曷故耶?因將曩視吳尚時兄病情向說，即照所用治法，疏方付之。並告之曰：服藥應效則吉，否則難救。渠以予言為過，另更他醫，日甚一日。挨至六朝，勢已沉篤，予言果驗。欲復相招。恐予不至，乃札托家芃生兄勸駕。予曰：非不肯往，奈彼病本重，即服予藥，亦難必效，況復稽遲，內經論兩感之危，在於六日，今已屆期，盧扁再世，亦無能為。芃兄曰：固難如此，但渠昆仲與吾交契，今急而相求，且屈一行，以全吾之友誼耳。勉為呼輿。將及門，其疾已革。</p>
<p>安波按：兩證舌俱無苔，外感固屬陰候，但亦須問其平日舌苔無苔否。倘若體質如是，不在此例也。</p>
<p>門人問曰：叔和序例云，寒毒藏於肌膚，思肌膚淺近，豈容邪棲數月，而病始發與。答曰：喻氏云，寒邪由肌膚而入，辛苦之人，邪藏肌膚則有之。苦膏粱之輩，冬不藏精者，其寒邪且有藏於骨髓者矣。程扶生云：藏於肌膚，當云藏於骨髓。周禹載云：逆冬氣則少陰不藏，不藏，寒邪得而入之，傷於肌膚，伏於骨髓。合三條而觀之，謂傷於肌膚則可，謂藏於肌膚則不可。又問曰：序例又云，至春變為溫病。喻氏謂變字下得怪誕駭人，周禹載言變字大妙，未審孰是。答曰：內經論伏氣為病，如冬傷於寒，春必病溫，春傷於風，夏生飧泄，夏傷於暑，秋必痎瘧，秋傷於濕，冬生咳嗽等條，未言變也。又如夏暑汗不出者，秋成風瘧，亦未言變也。其有稱變者，如高粱之變，足生大疔，逆春氣則少陽不生，肝氣內變，逆之則傷肝，夏為寒變等條，乃謂病之由此變。彼如實證變虛，熱證變寒之類，始可言變。若春溫則本冬傷於寒，至春病作，流異源同，似未可言變也。經又云：秋陽傷於濕，上逆而咳，發為痿厥，曷不一宗經旨，曰至春發為溫病，豈不韙乎?又問曰：經云冬不藏精，春必病溫。然則室女童男，曠夫嫠婦，皆無溫病乎?答曰：經語渾融，在人之意會耳。蓋冬不藏精一語，亦指天時，非專指人事也。試觀天明則日月不明之句，義可見矣。夫一日之中，早明而夜晦者，即藏精也。一歲之中，春生而冬藏者，亦藏精也。使入夜不晦，入冬不藏，人物能無夭札疵癘乎，軒岐於此分定兩例，曰冬傷於寒，春必病溫，冬不藏精，春必病溫。但寒乃冬令之正氣，人知畏避，受病尚少，冬陽開泄，天暖而雷，乃為淫氣，受病殊多。此雖予之臆說，然揆其理，似當不謬。又問曰：劉松峰謂《內經》冬傷於寒，春必病溫，雲笈七籤改作冬傷於汗，蓋言冬時過暖，以致汗出，來春必病溫，冬日嚴寒，來春並無瘟疫，以其應寒而寒，得時令之正故耳。以汗易寒可乎?答曰：此創論也，似亦近理。但《內經》格言，豈容率改耶。</p>

<h2>家芃生兄怔忡治法</h2>
<p>芃兄恙抱怔忡，久而不愈，每發心旌搖搖，頭暈神倦，輾轉不安。予診之曰：此煩勞郁傷，心脾肝三經病也。方定黑歸脾湯，去木香，加白芍柴胡，合逍遙散，間參以麥冬、五味、柏子仁、丹參、牡蠣之屬。疾發雖輕，然猶未斷，芃兄憂之。予曰：神者伸也，人之神好伸而惡郁，鬱則傷神。孔聖二論，首揭說樂，佛家般若經，首稱自在。莊生著南華，首標逍遙，遊情志中，病未可全憑藥力，務須屏煩頤養，方能除根。如言閒散半載，服煎藥兩百劑，至今疾不復發。</p>
<p>安波按：鬱則傷神一句，妙極。蓋心有悒鬱，則事事肘掣。雖有樂境當前，變為畏途。</p>

<h2>汪靖臣兄乃郎冒暑瀉甚欲脫亟挽元氣一法</h2>
<p>靖兄乃郎，年甫四齡，稟質向虧，夏冒暑邪，發熱便瀉。幼科僉用清散消導之品，服至匝旬，熱瀉如故，形疲氣餒，食入作嘔。醫稱邪滯未淨，仍用前藥，乃至食粥瀉粥，飲藥瀉藥。更醫以為脾虛，投六君子湯不應，始來逆予。兒臥几上，闔目無神，脈細如絲。予曰：胃氣告竭，慢驚欲來，不可為矣。靖兄曰：固知病久屬虛，然昨服六君補藥，亦無靈效何也。予曰：病有倒懸之危，一縷千鈞，焉能有濟。考古人制六君子湯，原為平時調養脾胃而設，非為救急拯危而設也。且閱方內並無人參，僅用錢許黨參，數分白朮，而市中種術味苦性烈，與蒼朮等，不能補脾而反燥脾。復有二陳消之，茯苓利之，欲求撥亂反正之功，真蚍蜉之撼大樹矣。靖兄曰：然則治當如何。予曰：非真人參不可。蓋參者參也，與元氣為參贊也。魚一刻無水即死，人一刻無氣即亡，兒質本薄，瀉久氣傷，加以醫藥重戕胃氣，經云：食入則胃實而腸虛，食下則腸實而胃虛。今腸胃通為一家，幽門闌門洞開不固，飲食入胃，不使少留，即從腸出。倉廩之官，廢弛厥職，此誠危急存亡之秋，惟仗參力，急固其氣，氣不奪則命不傾。然須獨用，始克見功，古有獨參湯可法也。靖兄聞言大悅，即懇立方。專用人參二錢，令分兩次，米水煎服，熱退瀉稀，次日照方再進，便瀉全止，啜粥不嘔，更制八仙糕與服而痊。</p>

<h2>又幼女外感咳嗽誤藥釀成肺痹急證</h2>
<p>歙俗信神，無知之徒，將神廟籤詩，混編藥名，鄉愚患病，輒往求之，呼為神藥，貽害甚多。靖兄外貿，幼女在襁褓中，時值冬寒，感冒外邪，發熱咳嗽。其妻誤聽人言，往求神簽。藥用貝母三錢，女流不諳藥性，即市煎灌，咳嗽頓止，以為神驗。少頃忽痰湧氣促，頭仰胸高，徹夜攪擾。次早迓予，視其兒身熱肢冷，口張鼻扇，啼聲如鴉，乃姑告其所以。予曰：此肺痹大證，危期甚速。夫肺主皮毛，皮毛受邪，肺氣閉塞，因而發熱咳嗽，不為疏解，反投寒斂之品，且單味重用，為害更烈。經云：風寒客於人，使人毫毛畢直，皮膚閉而為熱，病入舍於肺，名曰肺痹。孩提弱質，焉能堪乎?辭不舉方。友人譚萃升翁，代懇試施一匕，以圖僥倖。予思病既瀕危，藥非精銳，料難應效。方用麻黃、桂枝、杏仁、桔梗、橘紅、半夏、薑汁，並囑服藥豎抱，旋走，勿令臥倒。如此一晝夜，始得咳嗽出聲，痰喘略定。知其痹象稍寬，但病勢過重，藥雖見效，未便驟松，麻黃昨用三分，令其減半，余照原制，再進一劑，汗出膚潤，熱退喘平。更用六安煎，加桔梗，臥穩嗽稀。予曰：痹開病去，大局無虞。古云小兒勿多服藥，蓋兒質薄弱，臟腑嬌嫩，藥多恐傷真氣，今可停藥，乳哺調之，自然恢復。果如予言，識此為鄉愚信求神藥者戒。</p>
<p>安波按：神藥胎害，不可勝道。余見病傷寒服簽內人乳斃者兩人，可不戒哉?</p>

<h2>黃曙堂翁乃郎頭痛忽變痙厥續見數證皆不治</h2>
<p>頭痛久而不愈，名曰頭風。頭風多害眼，方書固已言之矣。尚有一種突變，神迷肢掣，不可救治之證，前賢未經道及。曾見曙翁乃郎，年約十歲，頭痛時發，予因他事過其家，見兒號泣，詢之，翁告之故。出方藥皆辛散之屬。予曰：此由先天不足，木失水涵，風陽上冒，辛散不宜。翁求方，疏歸芍地黃湯付之。翁惑旁言，遂置不服，仍請原醫看視，以為前藥尚輕，更增細辛藁本，一夕痛劇而厥，手足瘛瘲，急來延予。予曰：肝風動矣，不可為也。翁懇拯援，勉用熟地、黨參、麥冬、阿膠、炙甘草、麻仁、棗肉、茯神、白芍，合復脈湯，參入牡蠣、龜板方諸水介潛之法，不驗辭之。更醫無功，遷延數日而歿。續見仇姓稚子及方氏女，證同皆不治。推詳病機，證屬頭痛巔疾，下虛上實，治當上病下取。醫昧病原，恣行辛散，以致變幻，其理顯然。凡諸痛厥可治者尚多，惟此證一經神迷，即莫能救，此其故豈所謂甚則入腎，內奪而厥，則為喑痱者與。初集載有鄭氏婦一證，予雖為治愈，然亦幸也。</p>
<p>安波按：肝風肝厥，發逆以後，此風盛行。大抵感乎日久人情矯柔造作的致，何則，當發逆熾張時，人且謀食療生之不暇，豈有怒髮衝冠之患乎。</p>

<h2>家秀翹兄肝鬱痛傷胃氣詳論病機治法</h2>
<p>秀兄年逾五旬，向在維揚貿易，患病數月，延醫多人，愈療愈劇。因買舟載歸。望其形容枯槁，行動艱難，診脈弦勁欠柔。詢其病原，據述舊冬少腹癰起，漸次痛連中脘，時作嘔惡，彼時納穀雖減，尚餐爛飯一盂，交春病勢日增，即啜稀糜亦吐，形羸肉脫，便秘皮枯，藥餌遍嘗，毫無一效。邇來更加惡聞藥氣，入口即吐，君將何以教之?予曰：醫之審病，如吏之審案，審案必得其情，審病須明其理。推詳脈證，其病機已瞭然心目矣。按弦為肝脈，諸痛屬肝，厥陰之脈，循少腹，究緣平日情懷不適，木鬱失條，少腹因而致痛。然肝為將軍之官，臟剛性急，醫投辛香溫燥，希圖止痛，肝陰被劫，怒木益橫，沖胃為嘔，此肝為受病之原，胃為傳病之所。醫多藥雜，胃氣益傷。夫胃為水穀之海，氣血俱多之經，既不安穀，氣血從何生化?膚無血潤則枯槁，腸無血潤則乾燥。陽氣結於上，陰液衰於下，欲走噎途，豈區區草木所能回枯轉澤耶。經云：諸澀枯涸，幹勁皴揭，皆屬於燥。燥者濡之，治法固無難也。無如濡潤之品，恆多凝滯。現今胃氣空虛，嘔吐惡聞藥氣，焉能強進?考古人治血氣兩傷之候，先當益氣，氣為血之帥也。但益氣藥品殊多，首推人參者，以其能回元氣於無何有之鄉也。再考東垣云：胃中虛熱，穀氣久虛，而為嘔吐者，但得五穀之陰以和之，則嘔吐自止，不必用藥。謹擇參米飲一方，氣味沖和，諒當合轍。於是每日用人參二錢，陳米水煎，果受不吐，服至匝旬，餐加色轉，再合參乳湯，守服兩月，便濡膚澤而起。如此大證，只此二方，並未別參他味，藥簡功專信矣。</p>
<p>安波按：病久屬虛，故人參能受，不然肝無補法之旨，竟置於無矣。</p>

<h2>別駕菽田何公僕婦子癇</h2>
<p>吾郡別駕何公，續遷甘肅，眷屬仍居郡城。宅中一僕婦，重身九月，偶患頭痛，醫作外感治，其痛益甚，嘔吐汗淋。至二鼓時，忽神迷肢掣，目吊口噤，乍作乍止，何公少君六吉兄，當晚遣力相召，曉造其宅，六兄告以病危之故，入視搐搦形狀，診脈虛弦勁急，謂曰：此子癇證也。勢雖危險，幸在初起，當不殞命。六兄曰：昨夕倉皇，恐駕到遲，故近邀女科一看，亦言證屬子癇。然服藥不效奈何?出方閱之，羚羊角散也。予曰：此乃古方，原屬不謬，不知子癇疾作之由。因子在母腹，陰虛火熾，經脈空疏，精不養神，柔不養筋，而如厥如癇，神魂失守，手足抽掣。其病初頭痛者，即內風欲動之徵也。醫家誤作外風，浪投疏散，致變若此。至羚羊角散，方內惟羚角入肝舒筋，當歸、棗仁補肝益血，茯神安神，甘草緩急，與證相符，其餘防、獨、木香、杏仁，俱耗真氣，苡仁下胎，多不合宜，豈可以為古人成方，漫不加察耶。於是仍以本方除去防獨等味，參入熟地、沙參、麥冬、阿膠、芝麻，養陰濡液，少佐鉤藤、桑寄生，平肝熄風。頭煎服後，其搐漸平，隨服二煎，搐定頭痛亦減。六兄喜甚，予曰：病來勢暴，今雖暫熄，猶恐復萌。囑再市藥一劑，盡今晚服盡，搐不再作，方許無虞。次日復診，痛搐俱止，神清脈靜，納食不嘔。方除鉤藤寄生，加白芍、玉竹、女貞、石斛，逾月分娩，母子俱得無恙。</p>
<p>安波按：論證一端，總在靈機活潑，隨症變化，不可效尾生之見，至死不悟也。</p>

<h2>鮑覺生宮詹病發三次不能復起</h2>
<p>宮詹前於乾隆丁未冬，自毗陵抱疾歸，證類噎隔，已瀕於危，予為治之而愈。嘉慶乙丑，宮詹視學中州，病發召診，又為治愈。案載初集及輯錄中。道光乙酉秋，宮詹在都，前疾又作，初時尚輕，來書語狀，予輒憂之。慮其年逾花甲，血氣既衰，非前此少壯可比。末又云：幸得請假南歸，便圖就診。深為之喜。及至臘底，伊宅報中詳述病情，較前兩次發時更劇，體憊不支，勢甚危篤。令侄子碩兄，亟欲邀予入都診治，予雖老邁，誼不容辭。適迫歲暮，冰雪嚴凝，水陸舟車，都難進發，道阻且長，恐其病不及待，子碩兄躊躇無策，再四相商，只得酌擬一方，專足送去，冀幸得效如前，即可回籍調治。另函致意，勸令速歸。回書云：手翰再頒，感淪肌髓，妙劑服之，不似昔年之應手，蓋衰憊日久之故，欲歸不得，進退維谷，負我良友，何以為人，弟之心緒，不可名狀；永別之戚，慘劇難言。然奄忽而徂，勝於凝狂而活也。專勒敬謝，不能多寫，亦不知結草何時，南望故鄉，惟有悵結。未幾遂卒。悲夫：宮詹自訂年譜未竟，令弟時任乾州，續成之，譜末有云兄病中嘗語人曰：吾生平患此疾，及今而三矣。丁未乙丑，皆瀕於危，皆賴程杏軒治之而愈，今無杏軒，吾病殆不可為矣。予閱及此，不禁泫然。</p>
<p>安波按：臌隔等症，較癱癆尤險，大約倉扁復生，亦無如之何矣。</p>

<h2>黃就唐表兄脘痛嘔吐危證治驗</h2>
<p>就兄體素虛寒，向患腹痛，服溫藥相安，年來痛移上脘，氣逆嘔吐，飲食漸減，丁亥之秋，病發益劇，食全不納，自服理中六君之屬，溫理脾陽未應，形羸氣怯，臥床不起，遣價逆予。診脈胃少弦多，望色青白不澤，自以為殆，予曰無妨，治未中肯耳。尊體平素虛寒，原宜溫理，據茲脈證，由於心境欠舒，木鬱不達，厥陰乾犯陽明，肝氣逆橫，胃降失職。仲聖云：厥陰為病，氣上衝心，心中熱疼，飢不欲食。夫肝為將軍之官，臟剛性急，脾胃雖俱屬土，然須分別治之，不容籠統而論。葉香岩謂胃司受納，脾主運化，脾宜升則健，胃宜降則和，太陰濕土，得陽始運，陽明燥土，得陰自安數語，實發前人之所未發。觀其食入即嘔，足見其病在胃而不在脾。理中六君，皆是脾藥，不能治胃，今胃空若谷，必須參力扶持，始克有濟，寒士購參不易，姑思其次，以高麗參代之，乃於六君子湯中，除術甘之守，加入川椒、烏梅、乾薑、木瓜、白芍，另用陳倉米水煎服。藥則辛酸並投，法合制肝安胃。予辭歸。越日就兄專札來云：妙方連服兩劑，痛緩嘔止，稍能安穀，頗見效靈，深為感佩。尚祈加減，照原法略為出入，守服而痊。次春相唔郡城饒君揚翁宅中，丰采倍勝於前。</p>
<p>安波按：此亦病久胃虛，故麗參能受。然必須參入梅椒瓜等，仿安胃腕，以辛散、酸收、甘緩三法並濟也。</p>

<h2>燕云亭司馬伏暑感證</h2>
<p>戊子夏，徵郡蛟水暴漲，橫流泛濫，田廬人畜，到處被湮，歙休尤甚。公奉委往勘，暑濕煩蒸，感伏膜原，交秋疾作，始而寒熱似瘧，繼則單熱不寒。吾宗思敏翁為治兩旬，大熱已退，日晡微潮，擬屬邪去正虧，轉為養陰和胃。越日寒熱又作，以為感復，輔正驅邪，病狀如故，神形益疲。度其恙久，陰陽兩虛，連投補劑，寒熱總不能止，囑邀予商。予進署時，公寒熱正發，臥榻呻吟，診畢思翁適至，謂予曰：燕公祖之恙，吾看多次，愈而反復，煩子酌之。予曰：頃診脈象數猶帶弦，熱時口猶作渴，是屬秋時晚發，感證似瘧之候。大局無妨，但恙久正氣固虛，餘波似仍未淨。過補恐其膩邪，過清慮其傷正，酌以輔正劑中，微寓和解之意，邪退而正不傷，斯為美也。思翁稱善，遂令疏方。藥用首烏、人參、當歸、茯苓、甘草、料豆衣、扁豆殼、陳皮、半夏、糯稻根鬚，引加鮮姜紅棗，另以井河水各半煎。露一宿，明早溫服。後旦再議，屆期復召，詢其家人云：昨服藥後，寒熱未來，夜眠安穩。入室公起坐就診。笑曰：瘧魔已被君驅去矣。復與思翁斟酌加減，不旬日而痊。公善畫山水，有倪迂風，惜墨如金，求之不得，病痊後，親繪一箑贈予，並序其事。</p>

<h2>饒君揚翁公郎風溫證治原委</h2>
<p>道光戊子冬，郡城饒君揚翁公郎厚卿兄病，初起寒熱頭痛咳嗽，服辛散藥一劑，次日單熱不寒，口渴煩躁，嗽痰帶血，下午突作昏暈。當晚折簡逆予，黎明至郡，見其面目俱赤，舌黃耳聾，嗆咳脅痛，汗出而熱不衰，診脈洪大數疾。謂君翁曰：公郎之恙，乃風溫犯肺，邪在上焦，速為清解，免致蔓延中下。辛散之品，不宜用也。方用料豆、甘草、桑葉、蔞皮、杏仁、桔梗、牛蒡子、貝母、梨皮之屬。詰朝復召，問知夜來熱甚煩譫，咳血甚多，望其面目仍赤，診畢昏暈又作，額汗淋漓。翁甚彷徨，適黃就唐表兄至，予告之曰：此證確屬風溫為病，但質虧病重，慮難支撐。昨方力薄，故不應效。就兄曰：鄙見亦然，不識當如何用藥。予曰：噫，難言。考風溫名載仲景《傷寒論》中，但只言脈證及誤治之變，並未出方。叔和以下，亦皆無治法，惟朱奉議創立六方，可謂登壇樹幟。然既言不可發汗，何葳蕤湯中又用麻黃、羌活等藥耶?宋元迄今，名賢代出，所論風溫證治，未有一言折衷，可為法守者。惟近時休邑汪廣朝先生，所立風溫湯一方，只葳蕤、料豆、甘草三味，藥簡功專，頗有深意。予治此證，每宗此方範圍而擴充之，往往獲驗。就兄以為然，於是照方加入沙參、生地、丹皮、地骨皮、知母、貝母、黃芩，引用蘆根梨汁白蜜，服之大效。診視數次，熱勢漸退，苦寒漸減，轉手養陰潤肺，調理兩月，幸得保全。是役也，使非君翁信而不疑，就兄推誠贊助，未見其有成功也。予常語人曰：凡起一大證，務須病家能篤信，醫者有主持，旁人不妄議，三者失一，不可為矣。</p>

<h2>饒厚卿兄幼女因熱生風之證治愈並明其理</h2>
<p>厚兄病愈，其女三歲，發熱目赤，醫謂證屬因風生熱，投以羌活荊防，目腫如李，眵流如膿，熱甚搐搦。尊公君揚翁，囑予治之。予曰：此因熱生風證也，非清不可。方用生地、丹皮、山梔、生甘草、菊花、桑葉、石決明、羚羊角，服之熱退搐定，目腫亦消。君翁疑而問曰：小孫女之病，醫云因風生熱，子云因熱生風，同一風耳。風則當散，何服散劑而病反增，服清劑而病旋愈?此曷故也?予曰：風熱二字，不可概言，須知內外標本之別。因風生熱者，乃外入之風，風勝則熱遏，散其風，而熱自解，所謂火鬱發之。此風為本，熱為標也。因熱生風者，乃內出之風，熱勝則風，旋清其熱，而風自熄，所謂熱者寒之，此熱為本，風為標也。醫家因風熱二字，義未解明，模稜施治，是以多誤。翁喟然曰：醫患不明理，理明則治病視諸掌矣。</p>
<p>安波按：卓論也。</p>

<h2>又僕人肝風用藥大意</h2>
<p>君翁盛紀，年將二旬。暮春之初，始覺頭筋抽痛，旋見口眼歪斜，肢涼脈細。以為風寒外感，藥投溫散，其病益劇，肢掣頭昏，心悸汗漿，君翁令舁至舍，囑為診治，按諸風眩掉，皆屬於肝。春深時強木長，水不涵木，陽化內風，乘虛繞絡。凡治風須分內外，外入之風則可散，內出之風，散之益助其升騰鼓動之勢。現在左肢瘛瘲，防變痙厥神迷。議以滋水涵木，和陽熄風。方用炙甘草、黑參、熟地、麥冬、阿膠、芝麻、茯神、棗仁、五味子、牡蠣、小麥、南棗，初服四劑，勢已減輕，更加白芍、當歸、葳蕤服至廿劑，病瘥。虛猶未復，令制丸藥，數閱月，始得元復如初。</p>

<h2>許兌岩兄尊堂久痢治驗</h2>
<p>兌兄尊堂，年將及耋，本質陰虛，時常頭昏，口乾耳鳴，心悸，藥服滋補相安。秋初患痢，後成休息，延至次春，晝夜或十餘行，七八行之不等，每便腹痛後重，糞帶鮮紅，間見白垢，形疲食少。醫治無效，召診脈如平時，予曰：體素陰虧，原宜滋養，但痢久脾虛腸滑，滋藥又非所宜。方仿異功散，加首烏、白芍、山藥、扁豆、蓮肉、老米，劑內俱用人參，數服痢仍不止。復診告兌兄曰：令堂證屬休息痢疾，病根在大腸曲折之處，諸藥力不能到，即復人參，亦皆無益。兌兄云：然則奈何?予曰：非鴉膽子莫能奏效。特此物本草未收，他書亦鮮論及，惟幼幼集成載其功能，名為至聖丹。予用治此證，頗多獲驗。檢書與閱，兌兄云：據書所言，並先生經驗，自必不謬，第恐此藥性猛，家慈年邁難勝耳。予曰：所慮固是。但每用只三十粒，去殼取仁，不過二三分，且有桂圓肉包裹，兼服補劑，扶持正氣，斷乎無傷。蓋非此莫達病所，病不能除，正反傷矣。如法制服，三日全瘳。是秋其疾復作，家菡洲兄為治，多日未瘥，復邀同議。予曰：上春曾投鴉膽子見功，何不再用?兌兄仍以高年質虛為憂，予曰：有病當之不害，亦三服而愈。兌兄慮疾復萌，商用此味，研入調養丸藥內，冀刈病根。予曰：善後之圖固妙，然研末入丸，似不合法，更與菡兄斟酌，仍照原制，每以五粒與丸藥和吞，服之兩月，至今三年，其病不發，可見此藥之功效如神。</p>
<p>安波按：久年腸紅亦效，可見醫貴圓通也。</p>

<h2>許月鄰翁令愛齒衄</h2>
<p>月翁令愛患齒衄，藥服生地、丹皮、赤芍、連翹、石膏、升麻之屬，衄反甚。予於方內除升麻加犀角，一服即止。翁問曰：古人治血證，用犀角、地黃湯云，無犀角代以升麻。蓋升麻能引諸藥入陽明也，今服之不效，豈古方不足信與。予曰：朱二允有言：升麻性升，犀角性降，用犀角止血，乃借其下降之氣，清心肝之火，使血下行歸經耳。倘誤用升麻，血隨氣升，不愈湧出不止乎。古方未可盡泥也。翁又問入陽明清胃熱，藥品尚多，惟犀角與齒衄相宜者，得無齒屬上部，角長於頭，本乎天者親上之義耶?予曰：不寧惟是，人之上齒屬足陽明，《禮》云戴角者，無上齒。陽明之血脈，上貫於角，齒衄用之輒應者，職是故也。</p>
<p>安波按：醫工古方而不知更變，猶一匠人拆舊料起翻房地基，雖合而關筍鉤角，總須刀鋸也。</p>

<h2>族弟羲採血湧欲脫</h2>
<p>予僑居岩鎮，距祖居之東溪幾五十里，丁亥春，族弟羲採證患吐血，近延予弟春圃門生詠堂酌治，血湧不止，勢欲暈脫。專價星夜逆予。至見病者仰靠於床，氣息奄奄，自云臍下熱氣上衝，血即湧出。切脈虛大不斂，顧謂弟與生曰：此水火失濟之候也。經雲水為陰，火為陽，夫人身之陰陽相抱而不脫，是以百年有常，故陽欲上脫，陰下吸之，不能脫也。今陽但上越，陰不下吸，恐蹈危機，所服皆滋納之品，藥病相當，其所以不驗者，病重藥輕故耳。方定大劑兩儀煎，合生脈散，更加龜板、懷牛膝、白芍、茯苓、山藥、童便、阿膠之屬，服後血雖不湧，脈猶未斂。予曰：慎之，防復吐，上午因親屬問病，應答煩勞，血又上湧，神思飄蕩，幾欲脫去，忙照原方熟地由一兩增至二兩，再加磁石，吸引腎氣歸原。另煮團魚湯煎藥。蓋治真陽之飛越，不以黿鱉之類引之，下伏不能也。如言飲藥，血旋止。日晡又因家人嘈雜，血復溢出，雖不若前之甚，亦覺難支。思血屬陰喜靜，動則陽化，故越出上竅，令其閉戶屏煩。如此兩晝夜，始得脈斂神安，血止不吐。仍守前法調治，月餘而瘳。</p>
<p>安波按：方論並妙。</p>

<h2>何少君令政傳屍蟲異附載歷見諸證並詳治法</h2>
<p>何別駕少君六吉兄，召視令政病。診之曰：此瘵證也。危期甚速，可勿藥。憶別駕公如君，前亦患此疾而歿。因謂六兄曰：令政病狀，顯屬傳屍。此證五內有蟲，人將歿，蟲先出，迭相傳染，為害最烈，慎防之。六兄曰：吾亦疑及此。據內子云：家庶母病篤時，伊坐榻旁，見帳中一物飛出，攢入伊鼻，自此得病。予曰是矣。六兄求杜患之策，令研獺肝末，每人日服錢許，思蟲由鼻入，當以法御之。囑捻紙球外裹雄黃，入病人房，以此塞鼻，倘見蟲出，即鉗置火中煉之，一夕六兄入房，突有物飛集於頭，似覺蜿蜒多足，驚撥墮地而沒。秉燭四照，瞥見其物潛伏几下，蠢蠢然。急呼家人持鉗夾住，視形如蝶，翅翼生毛，毛色雜花，投諸火唧唧如鼠聲。六兄有妹，時又病劇，越日令政逝。有鄰媼來慰，順至伊妹房中問疾，歸家脫衣，陡見一蟲綴其裙，媼亦如法煉斃。伊妹殂後，患遂絕。</p>
<p>曩見方理豐翁宅中，始而妻死於是，繼而媳死於是，後弟媳又死於是。一歲之中，同病而死者三人。次春皆續絃，未幾長子死焉。翁娶繼室，質偉體堅，自以為無患，不數月而病矣。其前妻之女，年已及笄，侍繼母湯藥，忽見病人鼻內有物，蠕蠕而出，心異之。其物飛撲女面，倏不見，繼室殂。女疾作，未百日亦殞。一歲之中，又同病而死者三人。傳屍之禍，可勝言哉!</p>
<p>又許玉生翁，有女四人，先是二三兩女，俱患此證，相繼而夭。居無何，四女又病。予謂之曰：此證有蟲傳染，三傳乃靈，符藥莫制，宜設法以杜後患。翁因將長女遠送戚家，病女移於後院，家人日服獺肝，女歿患幸泯。但三病臨危，俱未睹有蟲出，或能變化，而人莫之見歟。</p>
<p>愚按：傳屍乃虛勞中另自一種，虛勞無蟲，傳屍有蟲，虛勞不傳染，傳屍傳染。但此病與虛勞形狀彷彿，卒難認識，而治之之法，諸說不同，務將證治辨明，則臨病庶有主持，亦醫家之不可不講也。請先以證言之。稽求古訓，如蘇遊之說，道藏之言，不為不詳。然後人謂其類於不經，流於妄誕，似難取信。夫傳屍之異在於蟲，但其蟲須俟人之疾篤而後見，不比別病之蟲，可先從吐從便而見也。紫庭方用乳香薰病人手背，有毛出者，為傳屍，法雖未試，然恐不驗。又燒安息香菸，令病人吸之，嗽不止者為傳屍，不嗽者非也。此說亦不足憑。凡虛勞多嗽，嗽最畏煙，斷無吸之不嗽之理。惟喻氏謂狐惑聲啞嗄。勞瘵亦聲啞嗄，是則聲啞者，氣管為蟲所蝕明矣。斯言可為此證之一驗。愚於此更有一得焉，如一家之中，先有患虛勞而歿，未幾又一人所患證同，不問前病之見蟲有無，後病之聲啞與否，即可斷為傳屍。蓋尋常虛勞不傳染也。至於治法，《肘後》有獺肝散，治冷勞鬼疰，一門相染，《青囊》有取蟲用啄木鳥法，喻氏又謂虛勞熱久，蒸其所瘀之血，化而為蟲，遂成傳屍。瘵證獺肝散，非不可以殺蟲，而未可以行血去瘀。仲景所製大黃䘌蟲丸，及授陳大夫之百勞丸，驅舊生新，誠有一無二之聖法。愚考二方，《金匱》原文，只言治五勞七傷，內有乾血，並未云治傳屍。喻氏從《金匱》敘虛勞於血痹之下悟入，以為血痹則瘀，瘀則生蟲，非具過人之識，不能若是。然則䘌蟲丸百勞丸可滌蟲之原，獺肝散青囊藥可除蟲之害。證有辨之之法，蟲有治之之方。傳屍之候，或有可生，然須及早圖之。若待其勢已成，噬臍何及。</p>
<p>安波按：喻氏瘀化為蟲，實闡前人之秘。</p>

<h2>汪紹由翁尊堂脫證救蘇</h2>
<p>戊子之春，予由旌邑至孫村汪生德輝家，伊族紹由翁尊堂病劇延診，比至，已治木矣。入見病者色白如鹽，切脈弦勁少胃。予曰：此脫證也，何以至此?翁述病原云：家慈年近古稀，體虛多憂，向患氣痛，服辛香之品稍快。舊夏病目，眼科療治，其目已盲。今春又因痰嗽，藥如二陳、枳、桔、杏仁、蘇子，服經多日，前夕忽心慌暈汗，至今不止。畏食懶言。出所服諸方，予閱之曰：病傷猶可治，藥傷最難醫。今脫機甚速，駟馬追之，尚恐不及，奈何?翁懇舉方，商以兩儀煎合生脈散，每劑擬用人參三錢，熟地八錢。翁云：家慈因患氣痛，補劑向不取嘗，分兩過重，慮其不受，請小試之如何。予曰：亦可。但大廈搖搖，一木恐難支耳。姑用人參一錢，熟地三錢，麥冬一錢五分，五味子五分。予下榻汪生宅中。次早翁郎岷山兄來云：家祖母昨夕服妙藥後，安睡片時，汗斂暈定，略啜稀粥，稍能言語，幸已獲效，乞求復診。予曰：子歸先煎人參二錢，熟地五錢備用。往察脈證頗有起色，仍守原方，續仿《千金》復脈湯以救陰液，再加茯神、歸、芍、牡蠣、女貞、石斛，柔肝養胃，漸次而瘥。</p>

<h2>汪商彝翁夫人風寒襲絡之證</h2>
<p>商翁夫人，本質虛寒，常多疾病。舊春曾為診治，藥投溫補有效。今春因乃郎心疾，晝夜看守辛勞，風寒之邪，乘虛襲絡，比時不覺，漸致頸脊痠痛，喜暖畏寒，欲人揉打，糾纏兩月。醫用羌獨防風以驅風，香砂陳皮以理氣，屢服不應。季夏，予至孫村，延診。謂曰：此風寒襲絡之證也。夫初痛在經，久痛在絡。經主氣，絡主血。考督脈並於脊裡，至風府入屬於腦。素問云：痛者，寒氣多也。寒則泣而不流，溫則消而去之。大法治風先治血，血行風自滅。理當養血為君，佐以溫通脈絡，非驅風理氣所能治也。方定當歸、枸杞、杜仲、巴戟天、附子、鹿角膠霜、狗脊、五加皮、秦艽、桑枝，四劑全愈。</p>
<p>安波按：此內風症也，名以風寒襲絡，似屬不切，不然前醫驅風已效靈矣。</p>

<h2>予久患腹痛忽下瘀血而痊</h2>
<p>予患腹痛多年，由午餐飯冷強食而起，痛處在臍之上，痛時腹冷，掌按熱熨稍瘥。雖盛暑亦必以帛護其腹，飲食漸減，喜暖畏涼，他物食尚相安，惟飯蒸煮未透，或稍冷食則必痛，素嗜瓜果，得疾後不敢嘗。向患痔紅，食姜蒜燒酒即發，故忌之。此疾作時，食入阻滯，飲燒酒一二杯，反覺通暢，不但姜蒜不忌，即食椒末辣醬，均與痔紅無礙。經云：痛者寒氣多也。證屬寒凝氣滯無疑。予素畏藥，痛發無何，香砂姜萸陳半穀芽神麯之類，服一兩劑即罷去，往歲發疏尚輕，惟餐飯不能如常，年來發頻且重，不拘何物，餐後必痛。須食下行，其痛方止。於是餐後不敢坐臥，乃學古人養生，食後行百步，常宜手摩腹之法，並遵釋教過午戒食，然亦無益於病，遂視食為畏途，無如疾經多載，消恐耗元，補防助壅，躊躇無策。友人謂予年近古稀，命陽衰弱，寒從內生，是以喜暖畏涼。釜底無火，物終不熟，是以穀食難化，須用八味丸補火生土。所論固是，予意終未坦然。思痛若在鬲，慮其妨食成噎，今幸在腹，當不害命。藥餌亂投，恐反有傷，恪守不藥得中醫之誡。己丑季夏，旌邑孫村汪宅延診，下塌塾中，時二鼓既寢，急欲大便。燈滅暗中摸索，跌僕莫能掙扎，大孔汩汩遺出如瀉水狀，呼僕持火至，扶起視地皆汙，色如漆，汗淋氣墜，即忙就枕。汪宅獻楠志仁二公聞之馳至，殊為著驚，予曰無妨，此因久痛蓄瘀，刻瘀下脫，未免傷氣耳。飲黨參、桂圓湯，少頃氣稍續，汗亦斂，次早登廁，猶有餘瘀。予恐其瘀復脫，遄歸到家更衣，瘀已無矣。自此腹不再痛，餐飯如常。細求其故，究由瘀凝腸胃，阻其傳導之機，以故食入則痛。夫血猶水也，血之結而為瘀，亦如水之結而為冰。所以痛處常冷，按熨飲醇熱氣至，故覺稍快。至於瘀蓄年久，膠固已深，一旦傾囊自出，理殊不解，得無長夏炎蒸，奔馳煩勞，動則陽化，如雪消而春水來耶。從斯悟入，書稱久痛在絡，絡主血，不獨肢體之痛為在絡，即胸腹之痛，痞積之痛，皆為在絡，皆宜治血，無徒從事於氣。又如噎隔一證，方書雖有胃脘枯槁，及陽氣結於上，陰液衰於下等語，然由瘀血阻塞胃口者恆多。進而思之，予疾將十年，固未能自知瘀蓄於先，然不藥穩持，尚不失為中駟。不然補瀉雜投，不殞於病，而殞於藥矣。予見敗壞之證自萎者十之二三，藥傷者十之七八。藥本生人，而反殺人，可不懼哉。自今以往，伏願醫家證未審明，勿輕用藥，病家疾如可待，勿急求醫，如此或亦可為衛生之一助耳。</p>
<p>安波曰：初痛在經，久痛入絡二語，葉氏實發前人數千年之未發，啟後學於意萬載之無竅。然不獨胃病噎膈之症，渾融使然也，凡病久根深蒂固，綜須治血為主，此即古人竅必及腎之意也夫。</p>

<h1>序</h1>
<p>嘉慶九年，歲在閼逢困敦，先生既成《醫案初集》一編，壽諸世矣。原版不戒於火，其《續錄》尚藏巾笥中。今年春，又成《醫述》十六卷，集諸家之大成，垂不刊之定論，誠醫宗之成軌也。既乃合醫案前後集付剞劂氏，而先生行蹤所至，與凡所施治，隨筆扎記，及榜等錄存者，歷時既久，積而盈帙。先生以出於一時論列，詳略或殊，始末未備，不欲付梓，榜等竊以近世葉氏一家，亦臨證筆記，然惜其辭多簡括，而義少發明，若先生斯編，證必求其本，治必折其衷，發聾覺瞶，引示迷津，實有前賢屐齒所未及者。昔史遷傳太倉公，論證論治，辭繁不殺，幾及三十條，豈不以活人指南，端在是乎。乃敦請於先生，排次而梓行之。因並附記數語於其後云。</p>
<p><u>時道光九年歲在屠維赤奪若陽月上瀚門人兒榜許樸小門人許後洪鼎彝汪有容葉光煦鄭立傳等謹識</u></p>

<h1>《程杏軒醫案》輯錄</h1>

<h2>慶敬齋方伯耳鳴</h2>
<p>經言腎氣通於耳，故人至中年以後，腎氣漸衰，每多耳鳴之患。喻氏論之甚晰。然不獨肝腎之陰氣上逆，必兼挾有內風乘虛上升。夫風善入孔竅，試觀簾櫳稍疏，風即透入。人之清竅，本屬空虛，是以外感風邪，其息即鳴。韓昌黎云：草木之無聲，風撓之鳴。水之無聲，風蕩之鳴。凡物之鳴，由於不得其平。人身之陰失其平，陽失其秘，化風盤旋，上干清竅，汩汩之聲，晝夜不息，其義亦然。議與潛陽熄風，靜以制動之治。</p>
<p>安波按：耳為腎之主竅，心膽寄附，是以體虛失聰，心腎同責。案內簾櫳稍疏，風即透入之句，真是精議卓識。</p>

<h2>又公子痘證</h2>
<p>見點九朝成漿之期，孩提先天稟薄，痘形陷伏，根腳不齊，漿清色白，便溏食少，嗜臥無神，一派氣血虛寒之象。亟亟溫補內托，尚有生機，醫猶以為肌熱未退，火毒未消，藥仍清解，誤之甚矣。夫痘證發熱，此其正候，蓋不熱則表不能透，標不能長，漿不能蒸，靨不能結，故痘證始終無不賴此熱力為之主持。若欲盡攻其熱，不顧戕損其元，元氣受傷，安能送毒歸窠，苗而不秀，能成實者鮮矣。外科論癰疽，謂有膿則生，無膿則死，痘證亦然。又傷寒有養汗之法，痘證有養漿之法，傷寒須七朝以前，邪氣未傳，尚可養得汗來，痘證須七朝以前，逆證未見，尚可養得漿來。倘至七朝以外，生氣已離，再思養漿，亦猶傷寒邪氣已傳，再思養汗，其可得乎?無膿癢塌，勢所必至，十二險關，慮有風波。勉議保元湯合參歸鹿茸一法，冀其堆沙發臭，或可僥倖圖成。</p>
<p>安波按：近時痘醫，輒以辛涼解毒，苦寒退熱，往往致成敗證，束手無策。良可嘆也。</p>

<h2>齊方伯脅痛</h2>
<p>肝者，將軍之官，謀慮出焉。情志不舒，木鬱為病。據諭恙起數年，左季脅下不時作痛，飲食入胃，其氣常注於左，不行於右。經言左右者，陰陽之道路也。肝位居左，其氣常行於右，脾位居右，其氣常行於左。左升右降，如環無端。今氣偏注一隅，豈非升降失司，肝脾不和之所使然。目前雖無大患，竊恐肝病日久，土困木橫，沖胃為嘔，攻脾為脹，可不早為曲突徙薪之計乎?</p>

<h2>福方伯哮嗽</h2>
<p>哮嗽多年，原屬錮疾，往歲舉發尚輕，此番發劇，胸滿喘促，呼吸欠利，夜臥不堪著枕。藥投溫通苦降，閉開喘定，吐出稠痰而後即安。思病之頻發膈間，必有窠囊，痰飲日聚其中，盈科後進，肺為華蓋，位處上焦。司清肅之職。痰氣上逆，阻肺之降，是以喘閉不通。務將所聚之痰，傾囊葉出。膈間空曠，始得安堵。無如窠囊之痰，如蜂子之穴於房中，蓮子之嵌於蓬內，生長則易，剝落則難，不刈其根，患何由杜?考《金匱》分外飲治脾，內飲治腎，且曰：飲邪當以溫藥和之，議以早服腎氣丸，溫通腎陽，使飲邪不致上泛。晚用六君，變湯為散，默健坤元，冀其土能生金，兼可制水。夫痰即津液所化，使脾腎得強，則日入之飲食，但生津液而不生痰。痰既不生，疾自不作，上工治病，須求其本。平常守服丸散，疾髮間用煎劑搜逐。譬諸宵小潛伏里閈，乘其行動犯竊，易於拘執，剿撫並行，漸可杜患。</p>

<h2>臺靜亭州尊陰陽兩虧傷及奇經</h2>
<p>復診寒熱依然，神采更倦，前方初服，微見痰紅，疑係附子溫燥所致。續服五劑，紅不再吐，口並不渴。仲聖云：身大熱而反近衣者，熱在皮膚，寒在骨髓也。且越人明以陽維為病，苦寒熱為訓，豈寒慄如此，經年累月，憔悴不堪，不從溫補，尚有何策可施耶?王太僕云：熱之不熱，是無火也。益火之源，以消陰翳。旨可悟矣。雖內經有諸禁鼓慄，如喪神守，皆屬於火之言，丹溪有治用清涼之案，然與此似乎不合。無如補虛門中，歸脾、十全、補元煎、養營湯之屬，均已服過，即治奇經之鹿茸河車，亦無應驗。殊為棘手。但細詳脈證，總不外乎陰陽精氣兩虧，張介賓所謂以精氣分陰陽，則陰陽不可離，以寒熱分陰陽，則陰陽不可混。古人復起，不易斯言。</p>

<h2>長中堂病機治法</h2>
<p>經云：陰陽者，萬物之能始也。水為陰，火為陽。是病機雖繁，可一言以蔽之曰陰陽而已。試觀天有四時，以生寒暑燥濕風。人有五臟，以生喜怒悲憂恐。五臟所患不同，要不外乎心腎。此陰陽窟宅，水火根基。恙緣夙夜煩勞，心腎不交，水火失濟。夫營衛二氣，行陽則寤，行陰則寐。若衛氣不得入陰，則但寤而無寐矣。醫用補心丹、養心湯，安神定志，未為不善，要知心為虛靈之臟，草木無情，非假物類之靈以引之，焉能望效?擬以純甘加入龜板虎睛龍齒琥珀珍珠，諒當有應。</p>
<p>安波按：此議誠言人所未言，擬再參入磁石，取其黑色通腎，上交於心，靈情活潑，上應虛靈之臟，未識與先生合拍否。</p>

<h2>馬朗山制軍公子中寒陽脫急救不及</h2>
<p>診脈沉伏模糊，證見肢厥聲鼾，口鼻氣冷，人事迷惑。處由真元內戕，陰寒直中，陽氣外脫，勢屬危殆。內經以陽氣者，若天與日。今則冱寒凝泣，陽霾用事，使非重陽見晛，何以復其散失之元乎?夫人身之真陽，譬之鰲山走馬燈，拜舞飛走，無一不具，其間惟是一點火耳。火旺則動速，火微則動緩，火熄則寂然不動，而拜舞飛走之軀殼，未嘗不存也。方用參附二味，重加分兩，晝夜頻進。本草言人參能回元氣於無何有之鄉，附子為斬關奪門之將。潭底日紅陰怪滅，分陽未盡則不死。但脈證敗壞如斯，欲圖斷鰲立極之功，亦難之難矣。</p>
<p>安波按：此症亡陽也，急用附片墊氣海，關元炙數百壯，或可挽。</p>

<h2>溫景僑制軍飲傷脾胃商善後之策</h2>
<p>脈沉細緩，外腴內虛，飲多谷少。恙經三載。發時脘痞噯噫，小便欠利，年來戒飲，其疾雖平，然精神起居，未能如昔。飲食稍有失調，脘中猶覺不快，慮其病根復萌，商圖善後之策，此不治已病而治未病也。夫脾胃清和，始能生化氣血。酒者熟谷之液，其氣慓悍，入於胃中則胃脹氣上逆，滿於胸中，故致患若此。今病雖愈，而倉廩之官，未得驟反清和之舊。計惟調養脾胃，以資運化。考古治病，有煎膏丸散之別，心肺病在上焦，宜用煎膏。肝腎病在下焦，宜用丸。脾胃病在中焦，宜用散，審其致疾之因，投藥自中肯矣。</p>

<h2>周都憲咳久醫誤治用溫肺滌邪</h2>
<p>岐伯雖言五臟六腑，皆令人咳，然其所重，全在於肺。蓋皮毛者。肺之合也。皮毛先受邪氣，邪氣以從，其合其寒，飲食入胃，從胃脈上至於肺則肺寒。肺寒則內外合，邪因而客之，則為肺咳。是咳之不離乎肺，猶瘧之不離乎少陽。據諭病緣夏熱，曉起感冒涼風，更兼飲冷，始而微咳，漸至咳甚，服藥月餘，咳仍不已。經云：形寒飲冷則傷肺。此致病之大端。醫者只知天時之氣熱，不察人身之臟寒，頻投滋潤，希冀清火止咳，適燕指南，無怪藥愈服而咳愈頻也。蓋肺為嬌臟，性雖畏熱，然尤畏寒，金被火刑固為咳，金寒水冷亦為咳。五行之理，生中有克，克中有生，金固生水者也。然金寒則水冷，使非火剋金，則金不能生水矣。譬諸水冰地坼，猶以霜雪壓之，其能堪乎?診脈沉細，口不乾渴，時當盛暑，背猶怯風，使非溫中滌邪，何以春回暘谷。倘再因循貽誤，寒邪不解，久咳肺傷，更難為計，擬溫肺湯一法。</p>
<p>安波按：咳嗽一症，治之最難。昔徐靈胎醫究三十年，始能治嗽，難怪庸流一見咳症，就以沙參麥冬從事，貽害良深，可歡可恨。</p>

<h2>方耒青制軍便瀉溲數</h2>
<p>經云：中氣不足，溲便為變。人之二便，全藉中氣為之轉輸，故不失其常度。腎氣虛則關門不固，脾氣虛則倉廩失藏，便瀉溲數之病生焉。方定補中益氣湯，升舉脾元，四神丸固攝腎氣。二藥合投，並行不悖。加枸兔佐蔻萸之功，增蓮芡輔參朮之力，方則脾腎分施，病則溲便並治矣。</p>
<p>安波按：腎開竅於二陰，腎氣虛則失其司，脾氣弱則運失其旋，故以脾腎雙補治。然此公大約多年，或久瀉溲數。如新瀉溺短，則大相徑庭矣。</p>

<h2>曾賓谷中丞痢疾</h2>
<p>痢疾古名滯下，然此滯字，非單指飲食停滯之謂，言其暑濕內侵，腑氣阻遏而為滯耳。長夏感受暑邪，伏於腸胃，新秋患痢，腹痛後重，赤白稠黏，日夜頻次。考古賢治痢，不外通澀兩法。大都初痢宜通，久痢宜澀。夫暑濕邪熱，客於營衛則生瘡癤，入於腸胃則為瀉痢。痢之紅白，如癤之膿血，膿血不淨癤不收，紅白不淨痢不止。證在初起，治貴乎通。經曰：通因通用。然此通字，亦非專指攻下之謂，言其氣機流行而無壅滯，乃為通耳。丹溪以河間發明滯下證治，和血則便膿自愈，調氣則後重自除二語，實盲者之日月，聾者之雷霆。特其方法，每用芩連檳枳，苦寒攻伐，藜藿洵屬合宜，膏粱恐難勝任。敝郡汪氏蘊谷書稱，痢疾即時疫，濁邪中下，名曰滯。亦雜氣之所乘，故多傳染於人。其自定黃金湯一方，藥雖平淡無奇，然於逐邪解毒之義，頗為切當。穀食不減，胃氣尚強，約期二候，可以奏功。</p>
<p>安波按：黃金湯者，用黃土、金銀花、扁豆肉、扁豆花、茯苓、穀芽、黑豆、甘草、生白芍、五穀蟲、生薑也。余治噤口痢甚效，已驗之數人矣。</p>

<h2>張觀察如夫人經期不調</h2>
<p>先天稟薄，情志欠舒，心脾抑鬱?診脈細澀，細為氣少，澀主血虛。問寢食如常，惟月事失調，每值經期，灑淅寒熱，腰膂痠疼。按沖為血海，任主胞胎，二脈交通，乃能有子。脈證若此，即無他患，恐難孕育。間進加味歸脾湯，調養心脾血氣之源，常服毓麟珠，補益衝任，陰陽和協，衝任調勻，則合浦珠還，藍田玉茁，可預必也。</p>
<p>安波按：衝脈為經水之本，故內經言太衝脈盛則月事以時下。茲以毓麟珠等藥以補益衝任，正合其旨。</p>

<h2>龔暗齋觀察令媳瘵證</h2>
<p>軒歧論五郁，首究乎肝。肝主春生之氣，春氣不生則長養收藏之令息矣，而欲其無災害者幾希。夫病端雖始於肝，久則滋蔓他臟。膚淺見血投涼，因咳治肺者，固無足論。即知求本而不審諸陰陽消長之理，依然隔膜。所謂補陰補陽，義各有二。芩連知柏，有形之水也。麥味地黃，無形之水也。以無形之水，制無形之火，如盞中加油，其燈自明。乾薑桂附，溫烈之溫也。參耆甘草，溫存之溫也。以溫存之溫，煦虛無之氣，如爐中復灰，其火不熄。日內咳頻，痰猶帶血，似須先投甘寒以降火，未可驟用參耆以補陽耳。醫貫云：凡人肺金之氣，夜臥則歸藏於腎水之中，腎水乾枯，無可容之地，故復上逆而為患矣。病始不得隱曲，漸至不月，風消喘咳息賁，莫能正偃。所以然者，雖云火熾之相煎，實由水虧之莫濟。夫火空則發，使非填實其空，炎焰何能斂納。王太僕云：益心之陽，寒亦通行，強腎之陰，熱之猶可，誠見道之論。昨論便溏，多恐脾元下陷，夜來便圊數次，煩熱少寐。夫土為物母，心肝肺腎，若四子焉，子虛尚可仰給母氣，苟土母傾頹，中無砥柱矣。古人論脾肺兩虧之證，最難措置，方欲培土強脾，恐燥劑有妨於陰液，方欲濡燥生津，恐潤劑有礙於中州，惟上嗽熱而下不便溏，下便溏而上不嗽熱者，方好施治耳。今日用藥，當以扶脾為急。昔士材先生治虛勞，嘗云今日肺病，多保肺藥中兼佐扶脾。明日脾病，多扶脾藥中兼保肺。亦因時制宜法也。但臟真損傷已極，藥餌恐難圖成。</p>

<h2>吳春麓儀曹不寐眩暈</h2>
<p>經曰：水火者，陰陽之徵兆也。腎為坎卦，一陽居二陰之間，故須陰得其平，然後陽藏於密，童年知識已開，陰精早泄，此致病之大端。及壯，血氣方剛，尚不覺其所苦，人四十而陰氣自半，起居日衰，精神不充，蟬聯疾作。診脈尺虛細澀，寸關大於平時，按尺為腎部，脈見細澀，腎虛奚疑。寸關大於平時，陰弱陽浮之象耳。夫醫之治病，不以用補為難，而以分別水火氣血為難。馮氏書云：小病治氣血，大病治水火。蓋氣血者，後天有形之陰陽也。水火者，先天無形之陰陽也。太極之理，無形而生有形，是治大病，可不以水火為首重耶。請以不寐言之，人知其為心病，而不知其為腎病也。心雖為神舍，而坎離尤貴交通。越人以陽不入陰，令人不寐，豈非水火未濟，坎離失交之故乎，內經又有頭痛巔疾，下虛上實，過在足少陰巨陽之語。形容厥暈，病機最切。方書稱風、稱火、稱痰，漫無定見。景岳師其意，以為無虛不作眩，治當上病療下，滋苗灌根。精矣精矣。暫服煎劑，再訂丸方。王道無近功，內觀頤養為要。舊患眩暈，怔忡不寐，遺泄，本屬心腎兩虧，水火失濟，曾訂煎丸，服經十載。茲診脈候平和，精神矍鑠，此亦頤養之功，非全關草木之力也。惟食多尚難運化，腰膂時痛，遺泄間或有之。藥物所需，仍不可缺。考古人用藥，有攻病保躬兩途，攻病則或涼或熱，當取其偏，保躬則適其寒溫，宜用其平。蓋溫多恐助相火，精關不藏，潤多慮傷脾陽，坤元失健，如雲食蜜，便即溏瀉。脾虛不勝潤滑之徵。青娥丸固能治腎虛腰痛，但故紙胡桃味辛性溫，久而增氣，恐其助火，且常服丸藥，亦須分別氣候。夏令炎熱，遠剛近柔，以防金水之傷。冬令嚴寒，遠柔近剛，以遂就溫之意。將交夏至，一陰初變，元精不足之時，商以益陰保金，兼調脾胃，秋季再為斟酌。</p>

<h2>又少君水火失濟之證</h2>
<p>水火之道，宜交而不宜分。水上火下，名曰交。交為既濟，不交為未濟。由是觀之，水火之切於人身者大矣。據脈與證，處由腎元下虧，水火失濟，以致魄汗淋漓，玉關滑泄。腰為腎腑，腎虛則腰膂多疼。心為神舍，心虛則夜臥欠逸，面赤頸熱，虛陽上炎；體倦頭傾，髓海不足，且金乃生水之源，肺腎為子母之臟，子虛盜竅母氣，此喘咳之所由。腎開竅於二陰，心與小腸相表裡，心熱移於小腸，此血淋之所自。昔肥今瘦，虛里跳動，種種見證，虛象奚疑。不知持滿御神，日啖草木無益，積精自剛，積氣自衛，積神自旺。酸以收之，介以潛之，厚味以填之，水火交，精神治矣。</p>
<p>安波按：廣成子云，無勞爾形，無搖爾精之言，誠為養身吃緊良方。而世人一至有疾，徒以草木從事，其先天不自攝，恣意斫伐，忍心剋剝，可歡可悲。</p>

<h2>胡觀察疝證</h2>
<p>經云：任脈為病，男子內結七疝，督脈為病，不得前後為沖疝。是疝病雖屬於肝，而實衝任督三脈所生。據證睪腫，少腹形堅痛甚，攻衝腰俞，病根深遠，愈發愈劇。考任脈起於中極之下，上毛際循腹裡，衝脈起於氣街，督脈統督諸脈，而為奇經之長。葉氏云：大凡沖氣從背而上者，系督脈主病，治在少陰，從腹而上者，系衝任主病，治在厥陰。揣諸病情，確為奇經受病無疑。醫不中肯，是以藥治無功。</p>

<h2>郭松崖郡侯瘧疾</h2>
<p>瘧雖小病，而內經論之最詳。首稱夏傷於暑，藏於皮膚之內，腸胃之外，因得秋氣，汗出遇風，內外相搏，是以日作。可知瘧病由於暑風相搏而成。然暑必兼濕，若無濕但為乾熱，非暑也。即此推之，瘧病雖屬暑風相搏而成，又必挾有濕邪醞釀之所致矣。特六淫分配四時，暑之與濕氣雖異，而因則同。有可分不可分之義也。今歲太陰司天，濕土主事，其變驟注，其災霖潰，人在氣交之中，感而即病者，為霍亂、吐瀉，腫滿諸候，其不即病，邪伏膜原，內趨大腸則為痢，外走少陽則為瘧。故瘧之寒熱往來，亦猶痢之赤白膠黏耳。恙逾匝旬，瘧經五發，胸腹飽悶，嘔惡不渴，脈沉弦緩，顯系濕鬱中焦，腑陽失運，幸得從樞外達，不至滯下疸滿，邪淨自瘳，無煩過慮。</p>

<h2>鮑蒔春部曹尊堂血枯久傷奇經</h2>
<p>產育多胎，衝任受虧，兼之自乳，陰血更耗。恙經年遠，腰膂刺痛，轉側維艱，小便血淋，痛引少腹。揣摩其故，非特血氣之傷，而且奇經亦損。故歸地養陰，參耆益氣，均無靈效。衝脈起於氣街，任脈起於中極之下，淋痛諸候，必有所關，即寒熱一端，亦陽維為病耳。病由血海空虛，損及奇經八脈，尋常藥餌，諒難奏功，宗《內經》血枯，治以四烏鰂骨慮茹丸。</p>
<p>安波按：古言病久入八脈。</p>

<h2>周司馬痱風病後足膝軟弱</h2>
<p>前患痱風，調治小愈。案牘勞形，元虛未復，腰膂雖能轉側，足膝尚覺軟弱，肝腎真元下虧，八脈不司約束。參耆歸地，僅可益其氣血，未能通及八脈。古人治奇經精髓之傷，僉用血肉有情，豈諸草木根荄，可同日而語。推之腰為腎府，膝為筋府，轉搖不能，行則振掉，不求自強功夫，恐難彌縫其闕。恬澹虛無，御神持滿。庶幾松柏之姿，老而益勁也。</p>
<p>擬河車、鹿茸、虎脛骨、虎膝骨、牛骨髓、豬骨髓、羊骨髓、阿膠、海參之屬。</p>

<h2>王明府夫人積聚久痛</h2>
<p>脈弱質虧，操持多勞，昔年產後少腹起有痞塊，不時作痛，邇來痛於早晨，日日如是。經云：任脈起於中極之下，循腹裡。任之為病，其內若結，男子七疝，女子瘕聚。再考古人論積聚，分癥瘕兩端。癥者徵也，有塊可徵，其病在血。瘕者假也。聚則有形，散則無跡，其病在氣。良由新產之後，或因寒侵，或因氣滯，以致循經之血，凝結成形，膠黏牢固，長大則易，鏟削則難。須待本身元氣充旺，始能消磨。倘務急攻，非但積不可消，反傷正氣。內經有大積大聚，其可犯也之戒。旨可見矣。現在痛勢攻衝較甚，滋膩之補，似非所宜。思久痛在絡，沖為血海，先商煎劑，調和衝任，使其脈絡流通，氣機條暢，痛勢稍緩，再議丸藥，圖刈病根。</p>
<p>安波按：煎劑議通瘀煎法丸，以回生丹攻補兼用。</p>

<h2>沈虹橋廣文疫證</h2>
<p>時疫十朝，正虛挾邪，證見神卷耳聾，熱發不退，脈息沉細無力。憑脈用藥，理應壯中溫托，閱方曾服理陰煎三劑，病樣日增，前法似難再進。夫陽證陰脈，原屬不宜，方書有時疫，邪伏於裡，脈多沉細，不同傷寒邪自外來，脈多浮大，語屬可參。仿趙氏六味湯加柴胡一法。復診脈仍虛細，神形倦怠，唇齒乾枯，舌苔黃燥變黑。夫邪熱最為真陰之賊，高年腎陰本虧，熱甚津液更耗。《己任編》所謂感證始終以存津液為第一義，蓋陽明燥土，全賴少陰腎水以滋養之。如旱田側有井泉，猶可供其灌溉之資，倘並井泉乾涸，燥土炎蒸，則苗槁矣，宗甘露飲。</p>

<h2>洪廣文少君損過脾胃</h2>
<p>書云：衛虛則惡寒，營虛則發熱。證見日晡寒熱往來，已經數月，洵為營衛二氣之虛，斷非客邪外感也。病既屬虛，虛則當補，昨服補劑，胸鬲反增滯悶，此中消息，頗難窺測。蓋非藥不能應病，乃胃氣不行藥力耳。夫上損過胃，下損過脾，越人且畏，姑遵經旨，虛癆不足，當與甘藥。兩進甘藥，寒熱依然，惟粥食稍增，咳嗽略緩藥病尚覺相符。稽古補虛方法，千蹊萬徑，而其關鍵，總以脾胃為之主腦。夫人之一身，內而五臟六腑，外而皮肉經脈，何一非藉穀氣長養之功。苟土母傾頹，既難輸化飲食之精微，焉能傳送藥力，宜乎虛不納補也。難經發明五損，勿過脾胃，仲景治虛癆諸不足，出活人手眼，其所立建中方法，亦皆稼穡作甘。此古聖賢明訓，內傷大病，可不以脾胃為首重耶?然病真藥假，終難圖功。</p>

<h2>鮑覺生宮詹精氣內虧，詳敘證治次第</h2>
<p>恙經半載，脈證合參，究屬質虧煩勞，以致坎離不交，水火失濟，五液內涸，虛陽不藏。誤服苦寒，重伐胃氣，諸證蜂生，糾纏不已。揆之古訓，以虛能受補者可治，虛火可補，參耆之類，實火可瀉，芩連之類。勞傷之火，虛乎實乎，瀉之可乎。趙氏謂陰虛之火，如盞中油干，燈焰自熾，須以膏油養之，專主補陰。其說是已。然陰生於陽，血生於氣，顧此食少欲嘔，脘悶不快，又難強投滋膩。反復推詳，計惟培養脾胃，默運坤元，以為先著，脾為土母，安穀則昌。《金匱》治虛勞，首用建中。越人言損其脾者，調其飲食。脾元日健，飲食日增，變化精微，滋榮臟腑，不治火而火自熄，不潤燥而燥自濡，充膚熱肉之功，可漸見矣。然內傷之病，宜內觀靜養，所謂大病須服大藥。大藥者，天時春夏，吾心寂然秋冬也。參透此關，以佐草木之不逮，為妙。服藥旬余，脈象稍轉，寢食略安，惟足膝痠軟，項脊時疼，形神疲倦。考治五臟之虛，難經言之甚悉，曰損其肺者益其氣，損其心者調其營衛，損其脾者，調其飲食，適其寒溫，損其肝者緩其中，損其腎者益其精，闡發精微，了無遺蘊。再考《金匱》云：男子脈大為勞，極虛亦為勞。夫脈大為真氣泄越，心脾耗傷，此歸脾、建中、養營、四君等湯之所宜。極虛亦為勞，乃精血內奪，肝腎下衰，此六味、八味、天真、大造等丸之所宜也。但病證多端，治須次第。首先稼穡作甘，培補中宮，專崇其土，次當榮養心脾。蓋心為離陽，補心陽以生胃土，虛則補母之義。至於皮枯肉瘠，肢懈形羸，精髓內竭，筋骨廢弛，明屬本實先撥，舍填納固攝，則解㑊何由而振?枯槁何由而回?特草木無情，須假物類之脂膏，益人身之血液，煎丸並服，脾腎分施。煉石補天，而收桑榆之效矣。調治兩旬，雖未大效，然處境煩劇，猶能支撐，未始非賴藥餌扶持之力。七年之病，三年之艾，原無速功。春三月此謂發陳，恪服煎丸，春氣得生，夏可得長。一陰來復，自可霍然。病機前案已詳，其中奧義難測者，尚有數端，請再陳之。凡人病若勞動，反覺精神強健者，此陰火沸騰，扶助於內，不覺其元氣之衰，若靜養調適，反覺神疲氣弱者，此陰火退，本相露故也。病情有類乎此者一也。解㑊一證，由於肝腎二經之虛。肝虛則筋軟無力以束周身，肌肉皆渙散而若解，腎虛則骨痿不能自強，遍體骨節皆鬆懈而多㑊，故懨懨悒悒。若不知所以為人，病情有類乎此者，二也。男子精未滿而早搖其精，五臟有不滿之處，異日有難狀之病。病情有類乎此者，三也。衛氣晝行於陽主寤，夜行於陰主寐。平人夜臥，則陽升陰降，陰陽交合，然後漸入睡鄉。若營弱衛強，坎離失媾，神明之地，擾亂不安，萬慮紛云，卻之不去，衛氣剛入於陰，契合淺而脫離快，升者復升，降者復降，是以欲寐之時，忽驚而寤矣。病情有類乎此者，四也。至若飲食雖能強餐，腹中常覺不暢者，胃得受納之司，脾失健運之職也。大便燥結，數日始一更衣者，腸脂枯澀，傳導艱難也。脘中時痛者，木失水涵，肝吐怒張而迫鬲也。心乍怔忡，營虛之故。臂多青脈，血脫之徵。更有皮肉之間，時如冰水滴溜，證狀之奇，方書未載。曾治一婦患此疾，數年投補藥百劑而愈。豈非血氣空虛，失其溫分肉、實腠理之司耶。</p>
<p>安波按：先生闡發經義，善發古人之意。</p>

<h2>殷仲周先生筋攣便濁</h2>
<p>據諭病原始末，考諸經云：肝主筋。身之所束者，筋也。所以榮筋者血也，病本血不榮筋，而跗筋之血，又耗於足瘤之滲漏，加之時疫熱邪，深入經絡，足跗之大筋，得熱而短。經又云：肝氣熱，膽泄口苦，筋膜乾，則筋急而攣者是矣。然治攣固難，而治濁亦不易。雖津液藏於膀胱，氣化能出，但肺為生水之源，金燥則水不生。諸病水液渾濁，皆屬於熱，義可知矣。進而求之筋攣血涸，使非養血榮筋不可也。然徒知榮養，而不明夫輔金制木之法，亦不可也。苟以金制木而木反榮，筋反舒矣。且金清則水生而熱降，此榮筋即可以治濁也。水足則木暢而筋柔，此治濁即可以榮筋也。明見諒以為然。</p>
<p>安波按：金清則水生而熱降，此榮筋即可以治濁。擬《準繩》人參清肺法，冀其治節之令行，則膀胱氣化出矣。所謂不治濁而治濁也。復以朱氏虎潛法，以濡養營衛，壯陰潛陽，所謂水足則水暢，不榮筋而筋自榮也。</p>

<h2>張佩韋先生肝腎兩虧證治</h2>
<p>兩尺細澀，肝腎下虧，必得之醉而使內也。壯時血氣方剛，故無所苦。自強仕以來，漸覺目盲不能遠視，耳如蟬吟蛙鼓，虛里其動應衣，闔目轉盼，則身非己有，腰膝酸楚，行步不正，種種病狀，就衰之徵。經云：肝開竅於目，腎開竅於耳，目得血而能視，耳得血而能聽，血氣衰耗，不能上充，故視聽失其常度。心為君主之官，血虛心無所養，故掣動不安。腦為髓海，下通命門，上氣不足，頭為之苦傾。腰者腎之府，腎憊則憚於轉側。膝者筋之府，筋憊則艱於屈伸。方用人參為君，形不足溫之以氣；地黃河車龜鹿膠為佐，精不足補之以味，更用山萸五味，攝納腎氣歸元，氣旺精充，百骸司職，收視而視明，返聽而聽聰矣。</p>
<p>安波按：方議皆精妙入化。</p>

<h2>家近陶翁肝陽逆肺咳嗽加感風溫標本異治</h2>
<p>兩寸關脈候俱大，左關尤急。據述前冬因情志抑鬱，先見此脈。後覺心煩不安，舊春心煩稍定，咳嗽至今不止，舌苔時黃時退，此肝為受病之源，腎為傳病之所。夫肝之傷脾，人所易知，肝之傷腎，人所不識。譬如折花枝安插瓶中，花枝日茂，瓶水日為吸乾，肝陽吸引腎陰，此之謂也。且肺為腎母，子虛必盜母氣，不特金不制木，而木反得侮金。肝陽上升，衝心為煩，沖肺為咳，脈大不斂，舌見黃苔，要皆陽亢陰虧之所使然。所幸寢食如常，別無兼證。議以滋腎生肝，保金化液，辛溫剛愎，似非所宜。復診脈急依然，連日嗽甚，於前夜臥欠安，頭額手心俱熱，是屬挾有風溫外因。若云陰血之熱，當發於日晡，不應發在午前，且其來也漸，何驟若此。質虛恙久，固不能正從標治，然亦未可過補。仿汪廣期前輩風溫湯方法。</p>
<p>安波按：卓識名論。非熔經鑄史者不能。</p>

<h2>汪舜賡翁令愛水腫</h2>
<p>色白膚嫩，腎氣不充，數月病魔，脾元又困，諸醫調治，病勢日增，請求其本而論治焉。經言諸濕腫滿，皆屬於脾。曩服五苓、五皮，非無所據，但腎為胃關，關門不利，故聚水而從其類。仲師主用腎氣丸，即此意也。若謂童年精氣未泄，補之不宜，然治標不應，理應求本，所謂有者求之，無者求之是已。夫水流濕，火就燥，二陽結，謂之消。三陰結，謂之水。消者患其有火，水者患其無火。且水病雖出三陰，而其權尤重於腎。腎居水臟而火寓焉，此火者，真火也，天非此火不能生物，人非此水不能有生。即膀胱津液藏焉，亦必由命門氣化而出。華元化曰：腎氣壯則水還於腎，腎氣虛則水散於皮。前服腎氣丸頗應，日來飲食不節，病復再投不效。考諸《己任編》云：此病單用腎氣丸不效，單用補中益氣湯亦不效，須用補中益氣湯，吞《金匱》腎氣丸。謹宗其旨。</p>
<p>安波按：於庚長秋，行醫於杭筧橋，一士子患水腫，面目無縫，陰大如栲，小水點滴不爽，切脈沉細模糊，苔膩白滑，不渴。閱前醫有開鬼門者，有潔淨府者，有用五子五皮者，有需《金匱》腎氣法者，服之如石投海。余意腎氣虛則水泛為腫，以腎氣丸為旗鼓之劑，何反不應。追憶《己任編》有益氣陽，送腎氣丸之法，翻書令彼視之，伊以為然。服之竟驗。視此與先生暗合也。</p>

<h2>方芷南茂才夫人產後心脾兩虧之證</h2>
<p>《金匱》云：婦人新產有三證，一曰痙，二曰鬱冒，三曰大便難。三證所因，無非陰傷血耗之所致耳。人知四物湯能補血，此第認其面目，而未審其根源。夫血生於心，統於脾，欲求其源，舍此誰與?再按脾主肌肉，脾虛故肌肉發熱，心主神明，心虛故神明失藏。計惟黑歸脾湯一方，可稱對證之藥，泛涉他求，恐多岐也。語云：寧醫十男子，莫醫一婦人。蓋女科病本無難，其所難者，胎產兩端而已。胎前諸病，尚須培養氣血，況乎產後百脈空虛，不言可知矣。產經十朝，發熱昏冒，肢掣煩躁，夜臥欠安，脈息數大無力，斷非蓄瘀風邪，顯屬陰虧陽越。病關根本，非枝葉小恙可比。歸脾湯培養心脾化源，喜其虛能受補。第補藥治虛，如旱田稼穡，灌溉宜頻。病人畏藥，昨晨至今，停藥未進，心煩肢擾，痙厥欲萌，原方加膠黃棗麥，守服勿懈。</p>
<p>安波按：近時之大弊，產後輒以生花湯從事，徒不知芎歸等之走竄，散渙無常。茲閱此案，較以歸脾膠黃，何啻霄壞之殊。昔丹溪之產後多血虛，嘗以大補為主，雖有雜症，以末治之。景岳云：產後多不虛症，胎前為氣血所壅，及產後始見。通快之語。細玩二言，在醫者之靈機活潑，不可固執一見，以致膠柱鼓瑟也。</p>

<h2>鮑禹京翁夫人厥證治法節略</h2>
<p>傷寒論厥證，分別陰陽，陰厥屬寒，陽厥屬熱，寒宜溫而熱宜涼。雜病論厥證，分別虛實。奪厥、煎厥、痿厥為虛，薄厥、屍厥、食厥為實，實可消而虛可補。病由情懷不釋，肝失條達，血氣日偏，陰陽不相順接，因而致厥。與全虛全實者有間，理偏就和，宜用其平。偏補偏消，烏能治情志中病。厥證婦人常有之，其為情志鬱勃，致病顯然。惟晝夜頻發，陰陽臟氣俱傷，卻為可慮。若乍發乍止，疏而且輕，亦無妨礙。所嫌病關情志，難以除根，務須戒怒舒懷，惜勞靜養，冬令收藏之際，加意慎持，來春草木萌動，庶可不致復發。厥證有因痰者，有不因痰者，因痰而厥，厥時喉中必有痰聲漉漉，此則厥來寂然無聞，且痰厥脈應帶滑，今脈細兼弦澀，洵屬氣厥無疑。持脈之道，須知人之平脈，然後察其病脈，質虧脈細，此其常也。惟細中見澀，右寸關兼帶弦象，故主病耳，澀者血虛氣滯，弦者胃弱肝強，細小弦澀，主病尚輕，牢大弦長，主病重矣。諸厥屬肝，女子以肝為先天，肝主怒，怒則氣上。經云：血之與氣，並走於上，乃為大厥。其由肝鬱為病可知。考古人治郁證，多用越鞠逍遙二方，但越鞠燥而逍遙則潤矣，越鞠峻而逍遙則和矣。治肝三法：辛散、酸收、甘緩。逍遙一方，三法俱備。木鬱則火生，加丹梔，名加味逍遙。滋水以生木，加熟地，名黑逍遙。《己任編》中一變，疏肝益腎湯，再變滋腎生肝飲。前用逍遙減木者，恐其守中，用丹皮減山梔者，恐其苦泄傷胃也。肝胃二經同病，須分別其肝陰胃液已虧未虧。如陰液未虧，氣藥可以暫投，若陰液已虧，治惟養陰濡液。所謂胃為陽土，宜涼宜潤，肝為剛臟，宜柔宜和。葉氏論治郁證，不重在偏攻偏補，其要在乎用苦泄熱而不損胃，用辛理氣而不破氣，用滑潤濡燥澀而不滋膩氣機，用宣通而不揠苗助長數語，深得治郁之理。血虛治當補血，四物湯為補血之首方。然其中尚須分別陰陽。若血虛肝燥，木火沸騰，芍藥微酸微寒，在所必需，地黃先應用生，涼血生血，繼則用熟，補水涵木，川芎辛竄，固屬不合，當歸亦須蒸去辛溫之性。養血諸藥，除四物外，惟丹參為勝。本草言其色赤入心，有去瘀生新之能，功兼四物，乃女科要藥，可以備用。木鬱生火，火則宜涼，第此火非從外來，良由木失水涵，以致肝陽內熾，芩連知柏，苦寒傷胃，洵非所宜。不若生地丹皮之屬，清肝涼血為穩。</p>
<p>五行剋制，木必犯土，肝氣上逆，胃當其衝。洵其厥來，脘中有塊，按之則痛，食下阻滯，此肝犯胃，厥陽順乘陽明故也。既知氣逆為患，治應先理其氣，無如氣藥多燥，肝陰胃液已虧，如何燥得?經言蘭除陳氣，並能醒胃舒肝，可加為引。桑葉輕清，能瀉肝膽之鬱熱，葉案每與丹皮同用見功。虛則補其母，肝腎同治，乙癸同源乃治肝病第一要訣。然須俟其痞消厥定，以作善後之籌。若用六味湯，可加當歸白芍，或去山萸，恐其溫肝故也。如用須陳者乃佳，分兩減輕，並用鹽水拌炒。肢掣名為肝風，此非外來之風，由乎身中陽氣變化，故曰諸風眩掉，皆屬於肝。第肝為剛臟，須和柔濟之。治用和陽熄風，及養陰甘緩等法。至於鉤藤、菊花、桑寄生，均有平肝熄風之能，發時隨宜加入。內經有肝苦急，急食甘以緩之之語。金匱出甘麥大棗湯，只用甘草小麥棗肉三味。蓋小麥春生，肝之谷也，最能養肝，合諸甘草棗肉之甘，以緩其急，後賢治肝風諸病，每參此法。木喜滋而惡燥，陰虧血燥之體，或逢天時陽氣泄越，或觸情志恚嗔，因而激動肝風，變幻痙厥，糾纏日久，陰液內竭，可以借用《千金》之復脈湯。蓋脈乃血派，血脈既虧，藉其藥力以通營衛，致津液，葉氏於方內除去薑桂益精。諸厥雖屬肝病，然心為君主之官，主安則十二官各得其職，厥發日久，肝風內扇，震動心營，養心安神藥品雖多，首推抱木茯神者。蓋茯神本治心，而中抱之木，又屬肝，以木製木之義。其次柏子霜，既能養心，更可潤腎滋肝。用棗仁須豬心血拌蒸曬，用麥冬須辰砂拌染，或加琥珀龍蠣，均有鎮靜之功。肥人之病，慮虛其陽，瘦人之病，慮虛其陰。陰虧後下，則陽越於上，下虛上實，而為厥巔之疾。是故養陰藥中，必佐以潛陽者，如畜魚千頭，須置介類於池中之意。牡蠣鱉甲淡菜龜板，皆介類也。方中只用牡蠣鱉甲者，取蠣之咸能軟堅，鱉之色青入肝，不獨潛陽已也。</p>
<p>安波按：肝厥良由腎陰枯涸，肝陽上冒所致。是以輕則竅絡阻塞，甚則瘛瘲痙厥，故厥者必挾痙，往往若是。</p>

<h2>張仲篪翁息賁喘嗽</h2>
<p>情志抑鬱，原屬肝病，辛散酸收甘緩，俱厥陰正治之方。屢投未應，竊思肝木不平，金失其剛，肺臟不能無患。肺欲收，觀其胸痞，喘咳不得臥，豈非肺張不收。臥則葉黏背俞，阻塞氣道之故乎。經言諸氣膹郁，皆屬於肺。喻氏發明秋傷於燥，冬生咳嗽之義，是知郁病可不專責於肝，而燥證則全關於肺也。蓋肺主氣，居相傅之官，苟治節有權，則清肅下行，克稱其職。病緣木鬱生火，兼挾燥邪，金受火刑，令失清肅。肺燥葉張，阻塞氣機，而為患矣。倘果專屬肝病，而不涉肺，何至喘咳不能著枕耶?且肝病治肺，輔金制木，道猶不悖。設令肺病不救，則煩冤逆滿，內閉外脫，更何如耶。擬《千金》葦莖湯大意。</p>
<p>安波按：然氣閉欲死時，先總以開豁為主，或降氣，或豁痰，善後之法，不出《己任編》等方意義也。</p>
<p>又按：木叩金鳴，以《千金》葦莖湯治，大有深意。</p>

<h2>方竹坪翁頭痛</h2>
<p>質虧煩勞證，經多日診脈，虛弦帶急，精神欠充，夜寐少逸。詢其病初，並無寒熱，知非外因。惟頭痛乍輕乍重，推求其故，東坦云：內傷頭痛，時痛時止，究緣煩勞抑鬱，水不涵木，肝風上擾，清空鼓動不定。夫頭痛神煩，倏然而至，迅速莫如風火。但身中陽化內風，非發散可解，寒涼可平，必須陽和，庶乎風熄。經旨以下虛則上實，陰傷陽浮，冒上病療下，滋苗灌根，語可味也。</p>
<p>安波按：胃陽不潛，宜和陽以就陰，擬虎潛法。</p>

<h2>洪並鋒翁脾陽虛寒濕內伏重用溫補治法</h2>
<p>夏月伏陰在內，當於寒濕中求之。議以理中湯，溫理脾陽。服藥瀉止嘔減，舌苔少退。此由脾陽向虧，卑監之土，易於釀濕，陽氣不足，寒自內生，既無外邪干之，本氣自能為病。今既投機，只可於方內增分兩，不必於方外求他味。其所以不驟加陰藥者，蓋恐肥人之病，慮虛其陽耳。經云：陽氣者，若天與日，失其所則折壽而不彰，故天運當以日光明。日光不到之處，恆多濕生，土之薄也。經又云：脾苦濕，急食苦以燥之。脾陽健可冀運矣。昨方加增分兩有效，足見尚是病重藥輕，然當此盛暑參附大劑，服逾兩旬，病猶未卻，虛寒情狀，亦可畏矣。安心穩守，功到自成。</p>
<p>安波按：華氏云，低窳濕處，必須以烈日曬之，此病是也。</p>

<h2>洪庭光兄肝風眩暈證類猝中</h2>
<p>病起偶然眩僕，醫謂急虛身中，猛進甘溫峻補，轉增胸脹嘔吐，不飢不便，有時浮陽上騰，面赤，唇口乾燥。然脈尚和平，寢尚安穩，言語尚覺明白，求其所因，良由腎元下虛，水不生木，肝風鴟張，以致發時，狀如中厥。經謂諸風眩掉，皆屬於肝。溫補藥重，激動肝陽，其胸脹嘔吐，不飢不便者，無非肝風擾胃，阻胃之降而然。使果真陽飛越，雷龍不藏，則脈必浮大無根，證必煩躁，無暫安時。且前服溫補諸方，豈有不效，而反病增之理。所定製肝安胃，尚有商者，蓋肝陽沖逆，非介不足潛其威，木火沸騰，舍酸無可斂其焰。擬於方內加牡蠣烏梅二味，更覺相宜。痰涎頻吐，胃液必傷，再加赤斛蔗汁，益陰保液，尤為符合。</p>
<p>安波按：肝風症由肝陽吸耗腎水，致水涸木熾，故上冒為僕，為痰迷，上泛為暈，為嘔，為驚悸，為不寐，為痙厥，為耳鳴。種種惡候，變態不一。庸流不識，以熱補助火致斃者，何可勝計。故錄出以為庸醫者解。</p>

<h2>葉振標翁證患似隔非隔</h2>
<p>肝主怒，怒則傷肝。脾主思，思則傷脾。病緣情志不適，初患上焦痞悶噯噫，此肝氣橫逆，阻其胃降而然。醫者不察，浪投檳榔枳樸，損傷胃氣，轉致胸脘脹痛，泛泛欲嘔，食麵尚安，稍飲米湯，脘中即覺不爽，糾纏三載，似隔非隔，百計圖之，總不見效。經云：肝在地為木，其穀麥不能食谷而能食麥者，肝強胃弱之故也。蓋胃弱故谷不安，肝強故麥可受耳。安胃制肝法當不謬，但證屬情志內傷，未可全憑藥力。張雞峰以為神思間病，當內觀靜養，惟逃禪二字甚妙。夫禪而名之曰逃，其心境為何如哉?</p>
<p>安波按：安胃制肝法，想如半夏、廣皮、炒香荷葉蒂、茯苓、杵頭糠等以安胃，如烏梅、白芍、綠萼梅、木蝴蝶、棗兒、檳榔之類以制肝。需以清香潔絡，松靈不鈍，使橫逆之氣下行，而胃陽疏動矣。</p>

<h2>洪星門翁吐血</h2>
<p>脈大不斂，陽虛，體質兼多煩勞，舊病喘汗，服溫補煎丸相安。月前偶感咳嗽，續見鼻衄痰紅，日來吐多不止，口苦食減，頭昏氣促。若論尋常吐血，不過肝肺之火，藥股清降，火平，其血自止。尊體精氣本虛，一陽初復，形神交勞，水火不交，氣隨血脫，病關根本，再投清降損真，則陰陽離決矣。先哲有見血休治血之語，可味也。議從黑歸脾湯，培養心脾，佐以生脈保金，攝納腎氣。服藥三劑，血止脈斂。經云：人四十而陰氣自半。平素質虧多病，今復大失其血，生生不繼，臟真耗傷，灌溉栽培，尤非易事，夫血雖生於心，藏於肝，實則統於脾。古人治血證，每以胃藥收功，良有以也。再按痰之本水也，原於腎，痰之動濕也，由於脾。《內經》以痰多為白血，此果痰也，果精血也，豈精血之外，別有稱痰者耶。故昔賢又有見痰休治痰之論，參五陰煎，水土金先天一氣化源也。</p>
<p>安波按：方義精妙入神，吐血以歸脾法治，大不易事。學者須審究的確，否則禍不旋踵矣。</p>

<h2>龔西崖兄咳血</h2>
<p>向患血證，發將匝月，醫用血脫益氣之法，未為不是。惟嫌脈數不靜，肌肉咽乾，嗆咳莫能正偃，咳甚則血來，咳止血亦止。血去陰陽，陰不戀陽，水不制火，刻值金燥秉權，肺被火刑，金水不相施化。《醫貫》云：不投甘寒以降火，驟用參耆以補陽，此非醫誤，不知先後著也。自述胸脘乍覺煩冤，即咳頻血溢，按沖為血海，其經起於氣街，挾臍上行至胸中，衝脈動則諸脈皆動，豈非下焦陰火上逆，血隨火升之故耶。火在丹田以下曰少火，出丹田以上曰壯火，少火生氣，壯火食氣。欲止其血，須止其嗽。欲止其嗽，須熄其火。然非尋常清火止嗽之藥所能奏功，務使下焦陰火斂藏，火不上逆，金不受刑，嗽止血自止矣。</p>
<p>安波按：擬一陰煎，加青鉛山萸，收納衝脈之逆。</p>

<h2>吳曜泉翁乃媳痙厥變幻證治之奇</h2>
<p>前議安胃制肝，嘔吐稍止，脘仍痞痛，大便未圊，手抖目竄，齒齘唇乾，舌黃肌熱，肝風痙厥，狀已顯著。據述病因情懷鬱勃，夾食而起。鬱則傷肝，食則傷胃。木鬱宜達，腑病宜通。昨宗仲聖厥應下例，便解結糞數枚，中宮痞形稍軟，飲入不嘔，惟肝風未熄，痙厥仍發，肌熱口渴，面赤齒乾，胸脘嘈雜，病由肝木抑鬱，腑氣阻閉，變化火風，下焦腑氣雖通，上脘火猶未降。姑議平肝熄風，舒郁清熱。諸厥屬肝，肝為風木之臟，相火內寄，體陰用陽。肝氣上逆，胃當其衝，食不得入，是有火也。古稱寒熱之氣，相結於心下而成痞，相阻於心下而成格。又云：厥陰為病，氣上衝心，心中熱疼，飢不能食。仿半夏瀉心減去守中之品。肝鬱逆胃，阻胃之降，中焦痞塞，不食不便，連日肝風勢平，脘熱亦減，惟胸痞未寬，不思飲食，前用潤下，微解結糞，昨晚兩番欲便，未得解出，似有宿滯未淨，胃宜通，肝宜涼，乃病治之法則。鬱抑夾食，激動肝風，神昏肢掣，煩熱胸痞，不飢不便，曾投承氣瀉心獲效，加怒病復，連日診治，證猶未減。自言脘中熱悶，口渴唇乾，頭筋抽痛，有時氣衝，厥暈即發，大便欲出不解。病久反復，誠難想法。然揚湯止沸，不若仍用釜底抽薪，陽明腑氣一通，厥陰風木自平。但成敗利鈍，雖武侯之明，亦難逆睹也。便通復閉，脘痞依然，按之尚痛，食不阻塞不行。然下法用經兩次，燥糞已圊，所有熱滯，亦應推蕩，何至牢錮若此，遷延兩旬，言微形倦，似未可以再攻。奈痞結不開，補之不納，仍宗土鬱奪之，實有羸狀之義。</p>
<p>安波按：凡病之變幻不一，在病家之賢愚耳。如今時之人，病有一變，群醫華集，或論寒，或道熱，貽誤者焉可勝算。如先生之相信終不更醫，亦時也，運也，命也。為之廢書一嘆。大約為醫一途，命中必要為天醫星者，何彼多遇而此不遇耶。</p>

<h2>葉震先兄肝風眩暈</h2>
<p>肝者，將軍之官，罷極之本。其藏血，其主筋，肝病則血病，筋失所養，眩掉強直，諸證生焉。要知此乃肝家自生之風，非外中之風也，治肝之法，可不以為先著耶?但東方木生於北方水，使無此水，何以生之。使水不足，何以涵之。虛則補母，厥有深意。平昔嗜飲醪醴傷陰，足間常患流火，行步振掉，皮肉乾瘠，春來漸有眩暈之象，肝風勃勃內動，加以陰絡之血，又從痔孔內溢，淋漓不已，將何以榮筋澤肉乎。斯恙由來有自矣。目下年紀尚壯，猶可撐持，過此以往，欲求良治，不可得也。</p>

<h2>吳雙翹兄幼女目疾</h2>
<p>目得血而能視，黑輪上戴，日久澀癢羞明，弦爛流淚。眼科苦寒消散，屢服無功。可知無形之火，原非苦寒可折。王太僕云：寒之不寒，是無水也，壯水之主，以鎮陽光。小兒純陽，從錢氏六味地黃湯治法。囊緣血虛肝燥，目痛羞明，苦寒消散，陰氣益弱。今年厥陰司天，風木氣王，秋深燥氣倍張。肝藏血，其榮在爪，觀其爪甲枯槁剝落，肝血內涸顯然。前議壯水，以平厥陽沖逆之威，繼佐芍甘培土，酸味入陰，甘緩其急，交冬腎水主事，木得水涵，庶可冀安。哭泣躁煩，究由臟燥。肝在竅為目，肺在聲為哭。地黃滋腎生肝，二冬清肺潤燥，所加黑羊膽汁引之者，蓋肝位將軍，膽司決斷，膽附肝葉之下，肝燥膽亦燥矣。故取物類膽汁以濟之，同氣相求之義也。</p>
<p>安波按：羊膽味苦，恐蹈前轍，不若以磁珠丸之磁石，其性能引鐵製金，平木之義可知也。設肝膽得以有制，則其勢不暇他顧，只可足以自守本位，濟之以補益涵養。俾渴者得飲而燥者潤，沖逆之威下潛，則目疾釋矣。</p>

<h2>汪式如兄陰暑感證轉為癉瘧前後治法不同</h2>
<p>證經七朝，兩投溫解，寒熱退而復發，乾嘔不渴，舌膩頭疼。病緣本質不足，因熱貪涼，感受陰暑之邪，怯者著而為病。方訂理陰煎，冀其云蒸雨化，邪從少陽轉樞，歸於瘧途則吉。寒熱如期，呵欠，指甲變色，似走瘧途，證因陰暑逗留，非開手正瘧可比。仍宜壯中溫托，參以薑棗和解。現在寒來，且看晚間熱勢若何，明日再議。</p>
<p>寒熱仍來，邪犯未解，口仍不渴，體猶怕風，時當盛夏，姜附服至四劑，並無火象，使非陰暑，安能勝任。不問是瘧非瘧，總屬正虛邪留，輔正即所以祛邪，強主即所以逐寇。昨發熱至五更，汗出始退，今日午初又至，嘔惡呵欠，前次尚有微寒，此番並無寒意，脈見弦急，由阻轉陽之機。大凡陰證得以轉陽為順，證既轉陽，溫藥當退，中病則已，過恐傷陰。病經多日，正氣受虧，輔正驅邪為是。汗出熱退，頭痛稍減，脈仍弦急，舌苔轉黃，瘡刺俱見，寒邪化熱無疑。恐其熱盛傷陰，酌以補陰益氣煎出入。質虧感證經十二朝，單熱無寒，午初起勢，黎明汗出退涼，確係伏暑為病，較之傷寒，其狀稍緩，較之正瘧，寒熱又不分明。經云：少陽為樞，陰暑伏邪，得從樞轉，尚屬好機，不然則邪正溷淆，如白銀中參入鉛銅，不成銀色矣。夫傷寒一汗可解，溫暑數汗不除。蓋暑濕之邪，伏匿膜原，所以驅之不易。今寒邪既化，似可清涼，惟嫌受病之原，終從陰分而來，甫經轉陽，苦寒未便驟進。昨用養陰和解，夜熱稍輕，頭痛稍減，脈急稍平，窺其大局，守過二候，當可獲效。熱來稍晏，勢覺和平，黎明退涼，渴飲較多。汗至午時，尚未收靜。夫暑汗與虛汗不同，經言暑當與汗，皆出勿止，脈急漸緩，頭痛漸輕，小便漸淡，邪剩無多。今將二候，愈期不遠，按純熱無寒，曰癉瘧，癉即陽亢之名，用藥自應轉手。昨熱作止，勢猶彷彿，脈急已平，神采稍好，惟舌根尚有黃苔，口猶作渴，仍屬伏暑餘波，今明兩日，熱難驟止，好在發作有時，上癉瘧同例。內經以為陰氣孤絕，陽氣獨發，參加減一陰煎。昨熱仍作，其勢較輕，證屬癉瘧，因系伏暑，了無遺義。喻氏論癉瘧，會《內經》、《金匱》微旨，從飲食消息，調以甘藥二語悟入，主用甘寒保陰存液，《指南醫案》治用梨蔗，亦此意也。推諸病狀，似與秋時晚發之證相類，氣候稍有不符，情形不略則一。必須兩三候外，日減一日，方得全解，屆期可許霍然。</p>
<p>安波按：秋時伏氣之疾，考方書惟《己任編》另出心裁，論之甚晰。迄今以來，葉氏獨得其妙，此外無幾人矣。</p>

<h2>又乃嫂喉痛清藥過劑變證</h2>
<p>恙經兩旬，起初喉痛，清涼疊進，喉痛雖好，變出舌強語澀，食少形疲，頭昏足麻，虛里跳動，一派虛象。切防肝風變幻。若恐餘燼未熄，亦當壯水養陰，斷無再用苦寒之理。舌乃心苗，腎脈系舌本，當於心腎兩家，求其水火既濟之道。早診言防肝風變幻，午後突然口眼歪斜，心悸肢掣，此腎真下虛，水不涵木，以致內風鼓動，更怕痙厥之險。經云：肝苦急，急食甘以緩之。祖千金復脈方法。連日肝風已平，食少欲嘔，人以胃氣為本，病久正虧，全仗飲食扶持，胃氣不旺，藥難奏功。究緣前患喉證，煎吹二藥，清涼過度，脾胃受傷，不必慮其有火，且恐變為虛寒。脾開竅於口，脾和則口能知五味。口冷不渴，豈非脾胃虛寒之明驗。與溫養脾陽，仿理中六君方意。服藥兩劑，嘔止胃安，虛里跳動，舌強口歪，諸證尚未見效，虛風不息，谷少胃虛，固當扶助脾元，建其中氣。第土由火生，既虛且寒，更須兼補其母。</p>
<p>安波按：擬景岳四味回陽飲合六味異功煎法。</p>

<h2>又患伏暑危證拯治原委</h2>
<p>日前診視，擬屬質虧，受暑熱傷胃陰，諸嘔吐酸，皆屬於熱。商仿黃土稻花湯，養胃滌邪。服藥嘔減熱緩，惟舌膩未退，脈急未和，寐仍欠逸，心煩體躁，正虛邪留，輔正兼理餘波。治法固雖不謬，所嫌熱久嘔多，形倦不支，目闔少神，不獨傷陰，亦復傷氣。不患邪之不除，而患正之不守。未可以嘔減小效，恃而不恐。昨夜仍不安寐，今日巳刻，陡然神昏齒噤，狀類痙厥，舌苔黃膩，反甚於前。證雖多朝，伏邪未透，本體向虧。況經三候之久，驅輔兩難，暑喜傷心，風喜傷肝，入心則昏迷，入肝則瘛瘲，其危若此。姑訂甘露飲，合幹一老人湯，養正滌邪，穩持不變，庶可轉危為安。夏暑內伏，秋時晚發，前見熱勢鴟張，不得不為清涼，復慮正氣不勝，兼佐養陰固本，以杜痙厥，脫變其熱，朝輕暮重，口渴心煩，舌黃欲黑，足徵內熱燔灼。若非急為徙薪，必致焦頭爛額，幸得熱退，方許坦途。質虧伏暑，病經多朝，邪熱雖減，正氣更虛。自云心中焦煩，口渴嗜冷，固知邪熱未清。然形倦如此，清涼又難再進，前案所謂不患邪之不除，而患正之不守，洵非虛謬。原知邪實正虛，未敢直行蕩掃，無知邪熱蘊熾，舌苔欲焦，神迷欲厥，所商養陰固正，清熱滌邪，睹斯證狀，邪未淨而正欲傾，將何圖治耶。復脈生脈合參，再望幸成。昨訂亟固真元以拯危殆，夜來狂叫暈汗，黎明神識漸蘇，脈大稍斂，面赤略退，舌苔仍黃，口仍作渴，頭額手心尚有微熱，倦怠依然。惟詢問病原，略能應對，較昨昏沉形狀稍好，質虧載邪，糾纏四候，正虛固不待言，餘燼似乎未熄，苦寒雖不可投，甘寒尚可佐用。證將匝月，危而復甦，雖屬伏邪黏著，迅速難驅，亦由正氣不充，無力托達。凡治質虧加感之病，起初最難著手，不比壯實之軀，發表攻裡，邪去病除之為易也。神明清爽，似屬轉機，然肌熱未退，大便欲圊不解，固非實熱為殃，亦緣虛焰不熄，仍議育陰固正，濡液存津，陰血下潤，便自通耳。養陰濡潤，便仍未圊，熱仍未淨，病人自言心煩口渴，喜吃生冷，總屬熱久陰傷，津液被劫，雖仲景有急下存津之法，現在正氣動搖，焉能商進?考諸張介賓及高鼓峰前輩，所論傷寒溫暑，熱甚傷陰，舌黑便閉之候，悉用左歸六味甘露等方，以代白虎承氣，見效雖遲，穩當過之，謹宗其旨。病候纏綿，變幻不測，刻診脈耎，形疲，氣墜，都系虛象，外熱已輕，舌苔既退，內熱料亦無多，大便未圊，腹無苦楚，聽其自然。知飢啜粥，胃氣漸開。一意固本培元，當此九仞，加意留神為上。</p>
<p>安波按：此症極數，紫雪牛黃至寶之候，必須詳察精凝。如此症之前，曾患肝風虛患，故決意以熱極傷陰四字作主，稍不經意，藥到人死，可不慎哉?</p>
<p>又按：近時吳鞠通先生增液法，取添水行舟之意，大有深味。余治斯候，甚效。投之應若桴鼓，故參而啟後學之悟也。</p>

<h2>吳婦血崩</h2>
<p>經云：陰虛陽搏謂之崩。又云：悲哀動中，則胞絡絕。陽氣內動，發為心下崩，病機已見大端。至於治法，方書雖有暴崩宜溫，久崩宜清之語，要知此溫清二字，乃示人大意，未可執論也。夫氣為血之帥，暴崩氣隨血脫，每見暈汗諸證，故宜甘溫，以益其氣。蓋有形之血，不能速生，無形之氣，所當急固。初非指溫字為溫烈之溫也。陰為陽之守，久崩血耗陰傷，每見躁熱諸證，又當滋養，以培其陰。蓋壯水之主，以鎮陽光。盞中加油，浮焰自斂，亦非指清字為清涼之清也。病由半產失調，始而經漏，繼則崩中，黑歸脾湯一方，按心脾肝三經用藥，暴崩之頃，洵屬合宜，若謂反復之故，除肝脾失其藏統之外，或情懷不釋，因怒動血者有之，或衝脈空虛，不司約束者有之，或腎水下虧，不能坐鎮心火者有之，或元氣大虛，不能收攝其血者有之。斷無因服歸脾湯而反致崩之理。凡血離宮便成塊，未可見血之有塊，即認為瘀。果真內有蓄瘀，必然脹痛拒按，何崩決數番，腹無所苦耶?血色紫黑，固多屬熱，然須辨其熱之虛實。經言陽搏其陰必虛，心崩由乎悲哀太甚，其旨可見。再按腎開竅於二陰，沖為血海，脈起氣街，據言小解後血隨溢出，此腎真下虧。衝脈不固，益彰彰矣。</p>
<p>安波按：洄溪云，崩漏宜大劑補陰，輕藥不能以取效。余擬砂仁炒枯，熟地、蒲黃炒枯、阿膠、桑螵蛸、海螵蛸、醋煅牡蠣、棕炭，以雞黃炒茜草，以黃芩水炒血餘，以童便炒枯煅盡煙，人參、穀芽等分修丸。余自名為補煉丸。曾治吳觀察夫人患崩三月，諸味餌遍不效余以此丸大劑作湯飲，十裹而痊。</p>

<h2>許婦內傷經閉辨明非孕</h2>
<p>病由不得隱曲，以致臟真內傷，經期阻閉，女科不察病原，僉用清熱安胎，愈醫愈劇。考金匱雖有䗪蟲丸治虛癆血痹之法，顧此羸軀，恐難勝任。即水土金俱病，古人亦無籠統治理。議以早用四陰煎，育陰保金，晚仿周慎齋前輩，淡養胃氣，甘益脾陰。蓋土為物母，脾乃至陰，其他退熱止嗽之藥，皆置不用。葉氏云：勿見熱而投涼，勿因咳而理肺，誠哉是言也。形瘦陰虧，脈虛近數，證見咳嗽側，臥汗多食少，經停九月，失紅三次。據述曩因腹中微動，疑是妊娠。經云：婦入手少陰脈動甚者，孕子也。又云：身有病而無邪脈也。今脈證如此，諒非孕徵。果真有孕，不過氣血之虛，胎不長養，雖費調理，尚在可為，無孕則血海乾枯，勢走怯途，殊難著手。且婦人重身，即有病端，但去其病而胎自安。漫究妊娠之是否，惟論療治之何知。君以育陰保金，佐以調養胃氣，夏至一陰能復，差可保守。</p>
<p>安波按：女子以血為主，首重在乎衝任。治衝任之法，首重養血，胃為衝脈本，故陽明氣旺，則月事行。先生以育陰調胃，良由斯乎。</p>

<h2>汪孚占翁乃孫暑風驚證反復治法</h2>
<p>一熱即搐，幼科呼為急驚。經云：東方青色，入通於肝。其病發驚駭，昨日驚作，至今熱發不退，神識昏迷，哭不出聲，唇乾鼻燥，舌苔中黃尖絳。雖屬時感燥邪，然必挾有伏暑，兩邪相合，致病勢暴如此，叫喊作努，頭仰肢搐，肝風動搖，亟亟清解。守過一候，邪淨熱退，庶可安穩。夏暑伏邪，秋時感發，病起三日，熱甚作驚，新舊兩邪，內犯心肝二臟，入心則昏迷，入肝則抽掣。觀其撮唇弄舌，尖絳苔黃，伏邪化熱顯著。夫邪在皮毛，疏散可解，伏熱內蘊，非清不除。病來勢暴，未可因循，亟當清解伏邪，舍此別無法想。兩服清解，熱退七八，驚勢雖定，神猶未清，舌仍干黃，唇紅目赤，伏邪未盡故也。口中生瘡，火尋竅出，心熱外解之徵。清藥仍不可少。慮其熱盛傷陰，參以養陰亦可。九朝驚定復作，餘燼復燃，肝風熄而復動，幸病不由吐瀉而來，證屬急驚，猶可無妨，熱蘊在裡，外反不熱，肢反厥冷，所謂熱深厥亦深也。若謂熱盛傷陰，理則有之。若直指為虛寒，思投溫補，斷乎不可。仍當滌邪清熱，平肝熄風。病逾兩旬，驚猶未定，神迷齒齘，肢掣頭搖。證由夏伏暑邪。兼感秋燥之氣，兩邪相併，一熱即驚。邪傳手足，厥陰深伏於裡，所謂臟者藏也。邪難入亦復難出，故治法宜守。更有初中末三法，病初邪熱熾甚，治宜清解，急驅其邪，不使陷伏。中治則和陽熄風，末治惟有養陰存津，緩肝之急而已。若云初起熱甚，驚作之時，當服桂枝湯，豈不抱薪救火，而犯桂枝下咽，陽盛則斃之戒乎。是病糾纏至今，尚有生機可圖者。幸能納穀。胃氣未散。倘一投桂附溫補。陽遇陽則為焦枯。胃氣消亡殆盡矣。病勢潰裂若此，恐難扭轉機關。伏暑至秋而發，邪陷手足厥陰，證經五十餘日，肝風雖定，神躁未安。舌絳唇紅，鼻瘡便結，雖屬病久陰虧，而心肝伏邪，總未滌淨。今歲少陰君火司天，陽明燥金在泉，故多熱燥之證。治病須明運氣也。緩肝之急以熄風，滋腎之液以驅熱。服藥數日，躁定寐安，時或仍有強直之狀。經云：諸暴強直，皆屬於風。許宣治前輩，書稱暑風驚後，強直者，屬陰虛，治當養陰舒筋，僭仿其旨。</p>
<p>安波按：案內直犯心肝之句，似欠融化，蓋暑邪最喜犯心，其故由肺逆傳，肺病則肝無所制，故手足制動矣。下句有五十餘日之久，其邪深入下焦陰分，故前輩以甘露覆脈等方，雖不治肝，而已治肝。下言肝風兩字，日久者少似。蓋肝居位不及心肺之高，豈邪一中即直赴至陰之地乎。</p>
<p>安波按：小兒驚症一候，歷來惟喻氏前輩，駁之甚詳，自斯涇渭析矣。其立名曰風熱驚痰四字，愚嘗溯之。蓋孩提氣血未充，腑臟未實，每招微感，邪留皮毛，上注於肺，失治則蔓沿於心包絡，是以視識溷蒙，目睛上吊。肺失治節之司，聚液成痰，而肝失勝己之制，得以鴟張上逆，為抽為搐。速當辛涼開肺，甘寒退熱。肺開則痰行，熱清而昏定，昏定而抽搐瘛瘲之勢亦平矣。若陡用芳香全石之劑，使陰液愈亡，肺熾愈橫，其禍不可待而言也。余誠愴惻，不愧贅言。若見斯症，輒投驚藥，其幼稚之含冤無勝數矣。</p>

<h2>黃禹功兄陰虛咳血誤服陽藥致害</h2>
<p>操持經營，勞思過度，病起咯血，後加咳嗽，孟秋診過，告以肺腎陰虧久咳。虛火上升，津液生痰不生血，治當補水制火則其痰自除，第此甘醇靜藥，本無速功，更醫參附養陽，服至半月，諸證倍增。經曰：剛與剛陽氣破散，陰氣乃消亡。是知證有陰陽，藥有動靜。陽主動，以動濟動，火上添油也，不焦爛乎。且一星之火，能燒千仞之山，一杯之水，難救車薪之火。恙本火多水少，救陰尚恐不逮，豈堪燥烈更灼其陰乎。三冬腎水枯涸，來春奉生者少。語云：昌陽引年，欲進豨苓，其斯之謂歟。</p>

<h2>方侶豐兄挾虛傷寒誤治致變壞病</h2>
<p>年屆五旬，心事內傷，兼挾外邪，誤藥因循。邪留不解，脈濡無神，汗多頭暈，交午寒熱。此陰陽衰憊，邪正交爭，烏可與傳經少陽之寒熱同語?張介賓云：邪氣如賊，其來在外，元氣如民，其守在中。足民即所以強中，強中即所以御外。斯證斯時，曰但驅邪可以卻病，吾不信也。曰舍輔正可以拯援，亦不信也。仲聖云：傷寒若吐，若汗，若下，若溫，針不解者，名曰壞病。知犯何逆，隨證治之。雖然理固如斯，而病已瀕危。大廈欲覆，一木恐難撐持。勞感經旬，因循誤治，邪陷正虧。喻氏所謂輕則半出不出，重則反隨元氣縮入。觀其暈汗，每現於寒熱之頃，此陰陽交爭，正不勝邪，脫機顯露。如盜入人家，門戶洞開，藩籬不固，主憊如斯，何堪與賊角勝負邪。請先救人，後醫病。</p>
<p>安波按：病到此等地步，雖有盧扁，於命云何。</p>

<h2>謝翁證治並答所問</h2>
<p>年逾花甲，天真既薄，酒多谷少，脾胃復虧，書稱胃主四肢，脾主肌肉，脾宜升則健，胃宜降則和。睹此手足牽強，膚腠繃急麻癢，豈非脾胃不和，失其升降之道乎?內經以胃之大絡，名曰虛里，出於左乳下，即今乳房腫脹，胃絡不和之徵。又按痰生於濕，濕生於脾，由土薄也。土厚則無濕，無濕則無痰矣。閱所服諸方，均從肝治，以為凡病皆生於郁，但土為萬物之母，試以五行言之，木雖生於水，然江河湖海無土之處，則無木生。是故樹木之枝葉萎悴，必由土氣之衰。一培其土，則根木堅固，津汁上升，布達周流，木欣欣以向榮矣。又問腎氣丸能治手足麻木否?答曰：天一生水，水之疑處為土，堅者為石，其最堅者為金。水土金原同一氣，凡人戴九履一，心肺居上，脾胃居中，肝腎居下，胚胎始基，先具兩腎，此腎為先天之根，元牝之宅，腎氣丸先天藥也，能助右腎命門火，使腎火生脾土，脾土生肺金，肺金生腎水，腎水生肝木，一方而五臟皆調，一法而水火兩備。且夫人之手足，猶樹之有枝也。人之腎命，猶樹之有根也。烏有根本充盈，而枝葉不敷榮暢茂者乎。引指使臂，灌葉救根，何可與言至道。</p>
<p>安波按：確論，引喻亦妙。</p>

<h2>饒君揚翁脾虛瀉血肺燥咳嗽證治異歧</h2>
<p>診脈細濡，恙經多時，始而便瀉，繼則下血，漸致食少欲嘔，形疲心憒，藥無靈效。略投辛溫，血下即多，稍用清涼，飲食即減。輾轉卻難借箸。然醫貴變通，未可見病治病，印定眼目，經曰：濕多成五瀉。病始於瀉，脾虛釀濕，治濕固宜於燥，但脾為血之統，剛燥過劑，致動其血，內溢不已，陰絡受傷。無如養陰之品，恆多膩滯，又與脾胃欠合。此培其中州，抉其土母，不得不為之亟亟也。昔賢治血證，每以胃藥收功，土厚自能勝濕耳。酌以淡養胃氣，甘益脾陰，宗嘉禾飲。服藥數日，穀食稍增，視其病狀，與痢相似，即痢久正氣未有不虧，亦當培養本元，資其生氣。據述脘中如飢如嘈，是屬下多亡陰，兼傷其氣，觀其得食則安，情已顯露，方內參力加重，佐以烏梅，取其酸能生津，並可攝血。再考方書，論久痢病根在大腸曲折之處，藥力所不能到，有用至聖丹一方，余仿其法，治驗頗多，可備採擇。經云：陰絡傷血內溢。然藥用清熱養陰而不效者何耶?經曰：營出中焦，中焦取汁，變化而赤，是謂血。中焦蓋指胃而言。夫胃為水穀之海，氣血俱多之經。病之淺者，飲食如常，旋去旋生，病之深者，谷少氣衰，所生不償所耗，脾與胃以膜相連，胃弱則生化無權，脾虛則統攝失職。書稱不問陰陽與冷熱，先將脾胃為調和。萬物以土為根，元氣以土為宅，議進歸脾理當如是。又述向有肝陽沖逆之恙，近兼舉發，方內加入首烏，既可益陰，又可固攝，非熟地滋膩可比。烏梅畏酸，不用亦可。但腸滑已久，須參澀以固脫。李先知云：下焦有病人難會，須用餘糧赤石脂。便稀食進，大有好機，病纏兩月，氣血受傷，以故尻骨酸楚，頰車乍痛，便時急墜，行動乏力。初議專培脾胃，乃血脫益氣之法，續進歸脾，乃虛則補母之方。李士材先生云：先天之本在腎，後天之本在脾。二臟安和，百骸皆治。今既食增瀉減，脾胃已調，自當進加腎藥。治療匝月，諸證均減，寢食俱安，精神漸長，體素陰虧，加以便血，久傷陰絡，屢服胃藥，氣分雖充，陰猶未夏。金為生水之源，金燥不能生水，是以上膈焦乾，鼻癢咳嗆。夫藥隨病轉，移步換形，醫如珠之走盤，貴乎活潑。氣不足便是寒，氣有餘便是火。改議養陰潤肺，金水相生，津回燥自濡矣。經言：虛邪賊風避之有時。恙後體虧，加受外因，形寒頭痛，脘悶欲嘔。然舌無苔，脈不急，受邪知不甚重，正氣不充，未可直行表散，治宜輔正驅邪。外感已解，痔瘡舉發，肛痛便復見紅。然每日便止一次，並不溏瀉，此乃痔血，非前腸血可比。痔平血當自止，知飢能食，食後脘中微痛，按胃司受納，脾主運化，脾健失職，運化較遲，若果食滯致痛，則飽悶不飢矣。地黃益陰固妙，稍嫌其膩，不利於脾。暫商養胃調脾，復診再籌進步。據諭向來冬春左畔畏風，夏秋上焦熱悶，藥投清散，服時雖效，過後依然。揆度其故，諒緣營衛失和，籓籬不固，邪之所湊，其氣必虛。斷無六淫之邪，久羈人身之理。使非探本尋源，徒泛治標無益，且俟新病瘥後，再為圖之。下極為魄門，魄門亦為五臟使，痔血去多，陰虧陽冒，上焦燥熱乾咳，陽加於陰，謂之汗。前則瀉多納少，故仿胃藥收功。茲則大便如常，多食善飢，病情迥別。丹溪謂男子陽常有餘，陰常不足，陽主動，陰主靜，理當育陰濟陽，靜以制動。據言每屆秋時即患咳嗽，服清潤之劑頗驗。目前感後，恐有餘邪，地黃滋膩，似未可服。按質虛偶感，邪本無多，既已驅逐，諒無逗留。肺與大腸相表裡，腸熱上熏，肺燥則癢，癢則咳，此咳嗽之故，非關於風，而實由於燥也。經云：燥者濡之，痔血咳嗽，同歸一途，無煩分治矣。</p>
<p>安波按：大腸為燥府，以潤為補。擬桑麻丸意，以表裡同治。</p>

<h2>方女慢驚</h2>
<p>周歲女嬰，病經兩月，消散多劑，脾元內傷，面青目定，肢掣指冷，證屬慢驚。勢頗危殆。無風可逐，無驚可療。治惟溫補脾陽，百中冀圖一二。病緣脾元大虧，木橫土困，變生慢驚，屢進六君溫補脾元，已臻小效。日來停藥，神形復疲，小兒臟腑柔脆，初生萌芽，非蒼枝老幹可比。根蒂傷伐，恐難圖效，盡人工以邀天眷耳。</p>
<p>安波按：驚風一途，初感即發為急驚慢驚，總緣食積傷脾，脾傷則木恣其所侮，宜培土之中，兼以抑木。雖聖人復起，不易吾言矣。丁酉仲春志。</p>

<h2>某嫗本病風痱加感暑邪</h2>
<p>本證風痱，近加受暑，脈虛身熱，倦怠口渴。經云：脈虛身熱，得之傷暑，暑傷氣是以倦怠。夫暑乃六淫標邪，雖無大害，特恐質虧不勝病耳。商仿清暑益氣湯大意，以俟消息。脈仍虛急，熱甚心煩，夜不安寐，方內酌除耆朮，加以玉竹，本草言其用代參耆，不寒不燥，且能治風淫濕毒，寒熱痁瘧，大便五日未圊，小溲數熱，肺與大腸相表裡，又與膀胱通氣化。古人治暑證，每用生脈散者，以其有保肺清金之能也。病軀加受暑邪，恙經六日，兩進清暑益氣，輔正滌邪，形倦膚干，熱仍熇熇，心煩口渴，溲數便閉。張介賓云：乾鍋赤裂，潤自何來，但加以水，則鬱蒸暢然，而氣化四達。宗玉女煎。早服玉女煎，薄暮復視，病勢依然。暑邪留著，原難急驅。今日已服藥兩渣，末便再進，暫與荷蜜煎代茶。便通膚澤，往日早晨熱緩，交午復甚，心內如焚，今午熱勢平和，無焦煩輾轉之狀，病軀治標，亦不得已。茲既勢平，自當斟酌，無使過也。前藥退松，昨午其熱復甚，溲數口渴，心如煎熬，質虛恙重，況加反復，切虛變更。揣諸病情，得無心營胃液，為熱灼傷，以致焦煩嘈雜者歟。宗阿膠雞子黃湯法。</p>
<p>安波按：方議均佳。</p>

<h2>胡某令郎麻後頸生瘰癧籌治三法</h2>
<p>麻出於臟，由陰而及乎陽，火毒燔灼，營血耗傷，故麻後每多遺毒之患。不可補氣以助火，只宜養陰以退陽。此治法之大綱也。病由麻後頸生瘰癧，自春徂冬，滋蔓不已，鄙籌三法而論治焉。蓋瘰之未消，由毒之未淨，然毒即火也，欲去其毒，須去其火。要知火有虛實，病有新久，麻出之先，其火屬實，藥宜清涼，麻斂之後，其火屬虛，藥宜滋養。酌以六味地黃湯，煎送消瘰丸，庶乎瘰消而元氣不傷。且人以胃氣為本，久病服藥，必究脾胃。此養陰軟堅消其瘰，培補脾胃扶其元，道並行而不悖也。</p>
<p>安波按：妙論侃侃，令讀者口齒生香。</p>

<h2>家若谷兄乃郎脅痛</h2>
<p>感證已逾兩旬，脅痛依然不愈。按外感脅痛，病在少陽，內傷脅痛，病在厥陰。今外邪解經多日，脅痛何以不瘳。既無情志抑鬱，定屬動作閃力之傷，外邪引發耳。夫久痛在絡，絡主血。防其蓄瘀動紅，從《金匱》肝著，例用旋覆花湯一法。</p>
<p>安波按：病久入絡，理固宜然。藥內再參入搜痰滌飲，則無遺蘊矣。</p>

<h2>梅氏女嘔吐經閉</h2>
<p>病逾四載，起初嘔吐，漸致經期不行，溫清攻下，遍投無驗，醫乃視為癆瘵，棄而不治。診脈不數，亦無風消息賁，寒熱咳嗽兼證，似與癆瘵有間。果真損怯已成，病人膏肓，焉能久延歲月乎?經云：治病必求其本。又云：先病為本，後病為標。恙由嘔吐而起，自當以嘔吐為病之本也。苟能止其嘔吐，則倉廩得藏，生生有賴，氣血周流，諸證不治而自安矣。考諸方書，論吐證非止一途，斯病既非真寒，又非實火，所以溫清俱不投機。至於下法，乃治傷寒暴急之方，施於內傷久病，殊屬悖謬。詢其飲食，下嗌停注膈間，不肯下行，旋即嘔出，沖逆不平，時時噯噫。所以然者，乃肝為受病之源，胃為傳病之所，胃宜降則和，肝氣橫逆，阻胃之降，致失其和而為患也。夫脾為濕土，胃為燥土，六君異功，止可健運脾陽，今病在胃而不在脾，濕燥異歧，不容籠統而論矣。再按肝為將軍之官，臟剛性急，木喜條達，最嫌抑鬱。古人治肝病辛散酸收甘緩，與夫補水生木，培土御木，方法多端，非僅伐之瀉之而已。治宜安胃制肝，厥陰陽明兩調，王道無近功，戒怒舒懷，以佐藥力為要。</p>
<p>安波按：灶心土溫中除嘔，平木製肝，此病在所必需之物。</p>

<h2>葉某喉痛</h2>
<p>病逾一年，醫稱陰虧陽升，水不制火，育陰清火潛陽，屢治無效。若云癆瘵已成，非草木之所能治。現在飲食如常，脈不細數，似又不侔。求其何以屢治不效之故，理殊難測。豈非另有隔膜未窺透耶?據述病緣舊春郊外垂釣，感冒風熱而起。經云：肺主皮毛，皮毛者，肺之合也。皮毛先受邪氣，邪氣以從其合，此肺為受病之原，比諸勞風，法在肺下，巨陽不能引精，青黃之涕，不能咳出，適足傷肺之例，當時雖曾服過清解之劑，但外邪入肺，如油入面，有倉卒難以浣滌者，膠黏醞釀，鬱而為熱，鬱熱熏灼，津液受傷，所謂因病致虛者，由肺病而累及之也。何以言之。凡人咽喉兩管，咽通於胃，喉通於肺，今喉雖辣痛，而納食無礙，可知其病在喉而不在咽。人身之氣左升右降，肝主升，其脈縈於左，肺主降，其脈縈於右。今左畔肢體如常，而病端偏著於右，足見其病在肺，而不在肝。肺脈雖縈於右，然位居上焦，為臟腑之華蓋，觀其上脘煩熱，時沖喉嚨，頸下皮膚作癢，搔爬如痱，咯吐痰色灰黃等因，其為肺臟蘊熱，金燥液干，情已大露。再按大便堅硬，數日始一更衣者，肺與大腸相表裡也。倘果因虛致病，悉屬內傷，水不制火，而致喉痛，早已咳血音嘶，走入怯途，焉能緩待。且滋陰壯水，藥證相符，何以久服不應耶?然病情雖窺一斑，治法尚難計議。蓋治病須分新久，用藥貴審機宜。病初體質無虧，治惟滌邪，無庸顧虛。茲則病魔經歲，正氣已虧，豈容孟浪!進而求之，肺為嬌臟，喜潤惡燥，邪熱久處肺中，金被火刑，津干液涸，是以養陰藥餌，只可滋其津液之干，莫能驅其蘊伏之燥耳。古人治燥甚少良方，惟西昌喻氏，會悟經旨，發明燥病，根源見得，諸氣膹郁，諸痿喘嘔，以及心移熱於肺，二陽之病發心脾，各種病機，俱關於肺。所立清燥救肺一方，頗有深意。蓋輔金制木，即所以治肝，清肺澄源即所以治腎，僭仿其法，諒當有應。</p>
<p>安波按：此方之義，無遺蘊矣。</p>

<h2>朱百春兄令嬸半產崩暈寒熱似瘧</h2>
<p>質虧，生育多胎，此番重身三月，又復半產，氣隨血脫，昏暈頻發，幸賴獨參湯挽回。日來熱發不退，時時怯寒，舌白，喜飲熱湯，頭痛形倦，脈急無力，合參脈證，明是氣血兩虛，即有外邪，投鼠忌器。丹溪云：產後當以大補氣血為主，他證從末治之。仿甘溫除大熱之旨。下午復診，脈象彷彿，早間服藥，安眠片時，頃復寒熱交作，此屬陰陽兩虛，正氣不勝，非瘧證也。原方更進一渣，明日再議。兩進甘溫，昨午寒後熱甚，扶掖下床，小溲遺出，直至半夜，熱始漸緩。切恐今午寒熱復來，撐持不住，揣其寒熱之故，非陰陽兩虧，即正虛邪陷，當此危迫，不問有邪無邪，一意扶元固本。蓋輔正即所以祛邪也。本草謂人參能回元氣於無何有之鄉，古人治氣隨血脫之候，悉仗參力斡旋，昨藥分兩固雖加重，惜乏參力，故難奏效耳。昨午寒熱仍來，神形益倦，二更後熱勢漸平，然起床勞頓，即作昏暈，頃進診間，暈又復發，連服溫補大劑，尚未見功，即云寒熱由於外因，睹此狼狽情形，焉可再從標治。仍守原制，佐以河車，亟挽真元。醫當醫人，不當醫病。昨夕昏暈頻作，頃診右脈虛要，左猶帶數，體倦無力，氣怯懶言，虛象無疑。病緣質虧半產，加之寒熱糾纏，波濤洶湧。現在熱退神清，固見小效，奈病來勢暴，大廈搖搖，前議補元歸脾，更從養營進步。兩日未診，脈象依然，在前發熱之際，脈由熱搏而數，今外熱既退，理當和緩，何至數猶未平。口不乾渴，並無火象。無非產時血去過多，營陰受虧，脈乃血派，是以急數不平耳，但諸藥皆是草木根荄，人身真元耗傷，倉卒焉能挽轉。參力既艱，他策又無可畫，前方減去辛溫，稍佐柔和之品。產後崩暈，血氣大虧，陰陽樞紐不固，見出種種疲憊之候，賴諸溫補藥餌，竭力挽回。寒熱已除，胃安穀納，無如事多磨折，臀生瘍毒。痛楚不安，瘍甫潰膿，痛勢稍定，又加時感濕邪，腹痛便瀉，節外生枝。暫與香砂六君，俟其痛瀉愈後，仍須峻補真元，冀圖恢復。</p>
<p>安波按：先生方必中肯，劑不虛投。但此婦真元已敗，冥遊已近，不過聊盡人事矣。</p>

<h2>王氏婦妊娠二便閉塞</h2>
<p>孕婦脈來滑數，證見便溺不通，二陰牽脹，足膝浮腫，醫藥滋陰，疏利升舉，屢施不驗。按肺與大腸相表裡，又與膀胱通氣化，是二便之通閉，肺有所關係焉。金燥水無以生，清肅之令不能下降，是以二腸交阻。喻氏謂人身之氣，全關於肺，肺清則氣行，肺濁則氣壅。清肺之熱，救肺之燥，治其源也。氣行則壅自通，源澄斯流清矣。凡禽畜之類，有肺者有溲，無肺者無溲，故諸水道不利而成腫滿者，以治肺為急。前商清燥救肺，小溲雖通，大便未暢，足腫未消，二陰仍然牽脹，夜臥不適，口苦舌黃，原方加枯芩梨汁。</p>
<p>安波按：議論神妙，使讀者滿舌生津。</p>

<h2>李某鼻淵孔潰</h2>
<p>經云：肺氣通於鼻。又云：膽移熱於腦，則辛頞鼻淵。可知鼻淵一證，病端雖責於肺，實由膽熱移腦之所使然。證經數載，腥涕流多，肺腎為子母之臟，金被火刑，陰液受傷，加之鼻竅右側，舊夏曾已穿潰，甫經收口，左側又潰一孔，至今紅腫未消。經謂熱勝則腫。雖由膽移之熱，醞釀為患，但治病須分新久，診脈數大無力，是屬恙久，陰虛陽浮，非新病實熱可比，苦寒傷胃，洵非所宜。計惟壯水保金，冀其水升火降，庶幾紅腫可消，潰口可斂也。</p>
<p>安波按：擬清燥救肺法，輔金剎木，即所以治膽清肺，澄源，即所以治腎。</p>

<h2>王某背瘍潰後餘毒未淨</h2>
<p>癰從六腑生，疽從五臟生。營氣不循，逆於肉理，乃生癰腫。此先聖論癰疽之大端，瘍科之綱領也。證起月餘，毒發於背，始初平塌不痛，藥服溫補內托，得以由陰轉陽，掀腫潰膿腐化，新生瘡口漸斂。無如一波未平，一波又起，日前齦微腫痛，漸次腫甚流血，病中飲食本少，茲因齦腫，米汁難啜，人以胃氣為本，瘍潰之後，胃氣空虛，全藉飲食精華，資其生氣。既不安穀，倉廩必傾，何恃不恐。且瘍後與產後同，理應培養氣血，現在齦腫咽乾，下利糞色如醬，利下齦腫稍松，利止腫痛復劇。詳審病機，似乎餘毒未清，奈病久困頓如斯，固正則火勢不平，清火則正氣不守。如何借箸，姑仿少陰不足陽明有餘之例，宗玉女煎方法。蓋腎主骨，齒者骨之餘，上齦屬手陽明，下齦屬足陽明。據理推詳，冀圖僥倖。</p>
<p>安波按：擬於玉女煎外，再參入清胃散意方，有升麻使清升濁降，丹皮以疏其下滯，則斯候之上下處病，厥義無遺漏矣。</p>

<h2>王錫章肺腎虛喘畏補致脫</h2>
<p>經云：呼出心與肺，吸入腎與肝。是肺主出氣，腎主納氣。肺為氣之主，腎乃氣之根。母藏子宮，子隱母胎，金水相生之義也。前商保金生水，納氣歸根，正本澄源，治不為謬。據述服藥脘中微覺痞悶，心疑藥補，即不敢嘗。此由胃虛不能傳送藥力之故，與補無干。如果補之為害，何喘不見增，病不見甚耶?經曰：能合脈色，可以萬全。豈色悴神疲，喝喝不繼者如是，而能以耗散收功者乎。先哲有云：喘生毋耗氣，氣本弱而復耗之，元本虧而復竭之，抱薪救火，入井下石，脫機甚速。勿怪言之不祥。</p>
<p>安波按：讀至斯案，不覺浩嘆。雖有回生妙術，奈不見信何。近來見夭枉者甚多，大抵彼壽固止於此，而吾之道終於不行，豈非命耶?</p>

<h2>吳媼肺痹</h2>
<p>恙經三月，脈大而急，證見嗆咳氣築，胸滿背脹，夜不安臥，臥則氣衝，呼吸不利，目爛舌赤，口乾心煩。審諸脈證。是屬肺感燥邪。加之抑鬱，痰氣膠結，肺竅阻閉，清肅失司，釀成肺痹危險。蓋肺為氣之主，肺氣逆則諸氣皆因之而逆矣。平素質虧受補，茲則補劑不投，雖虛虛而病則實，不去其病，徒補無益。經云：諸氣膹郁，皆屬於肺。秋傷於燥，冬生咳嗽，計惟清燥宣痹，幸得胸展痹開，方許機關衄轉，仿葦莖湯遵《金匱》法。服藥四劑，喉口燥象稍減，舌根焦苔亦退，脈象依然，痹猶時發，甚則胸膈䐜脹，喘喝不已，欲人捶摩，咯出濁痰，略覺寬展，病由燥邪蘊伏上焦，治節不行，痰壅無形之火，火灼有形之痰，交相為患。夫痹者閉也，內閉則外脫，至危至急，無如上焦不開，未能填補其下，是以每投補劑，其閉更劇。按肺竅蘊結之痰，如屋之遊，樹之蘿，石之苔，膠黏滋蔓，豈尋常消痰之品所能芟刈。原方加蔞皮海石，輕清宣痹，病象未減，下虛不能納補，上實通之無功。消補兩難，頗為棘手。據述每痹甚時，惟飲菔水則痰氣稍平，即此推求，定有頑痰膠黏肺管，阻塞氣機，葦莖頻投不應，惟有進步葶藶一法，非不慮及老人質虧難任，當此危迫，畏首畏尾，身其餘幾，奈何。葦莖葶藶，乃金匱治肺痹兩大法門，前因年高恙久，不敢驟用葶藶峻攻，惟取葦莖輕清宣痹，冀其病去，元氣不傷，服藥雖見小效，痹終未宣。前論燥熱醞釀為痰，肺竅氣機阻塞，清肅失司，因而逆滿，卻非謬語。夫頑痰滋蔓，譬諸頑民，不服王化，不忍猛而寬，則萑莩盜風，何由而息。所加葶藶，雖系無可如何，亦理之所當然，非徒行險僥倖也。現在痹勢稍松，足見有故無殞，從來峻劑，原屬可暫而不可常。然證經數月之久，痰熱瀰漫已極，甫得稍開，若旋行易轍，病根尚在，慮其復萌。今早鼻仍流血，可知肺火未清，方加石膏、山梔、竹瀝徹其痰熱餘波，今夜得以痹再減輕，明日可為轉手。老人病逾百日，痰凝氣壅，肺痹不舒，上實下虛，原難想法，數番診視，因其痰火勢盛，不能受補，無已初投葦莖輕清宣肺，繼進葶藶滌飲除痰，佐以膏梔竹瀝，以徹痰熱餘波，此皆古人成法，非杜撰也。今痹象稍減，虛狀漸露，高年恙久，恐其元氣不支，商佐保金輔正。</p>
<p>安波按：先生用方用法，絲絲入蔻，不比近來庸流溷亂籠統者也。</p>

<h2>施婦感證</h2>
<p>證逾三候，始而寒熱溷淆，繼則不寒單熱，日晡熱甚，黎明漸退。閱方初投逍遙，次用桃仁承氣，愈醫愈劇。食少便瀉，足腫腹脹，熱甚脹亦甚，熱緩脹亦緩。若云肝氣，未必發熱，亦不必脹隨熱至。若云血痹，當在下焦，不應脹在中脘。求諸病因，非關氣滯血凝，乃伏邪留著故也。《己任編》云：秋時晚發，感證似瘧，本是伏暑之病，暑必挾濕，盤踞膜原，膜原即中焦部位，邪伏既久，乘時而發。自里達表，是以外熱內脹。至於便瀉足腫，更屬濕病無疑。欲消其脹，須祛其邪。邪一日不去，脹一日不除。所謂傷寒究六經，溫暑辨三焦。上焦不解，勢必蔓延，中下淡滲，佐以微辛。蓋無形之邪，未可作有形攻擊耳。前議服藥汗出，熱退脹減，伏邪外達之機。蓋暑濕伏邪，與風寒外邪不同，新邪當先徹表，伏邪當先清裡，里清表自解也。日來兼見咳嗽，瀉仍未止，按外感以嗽為輕，腑病以通為補，嗽瀉均系伏邪之出路，不可止遏。</p>
<p>安波按：擬薄荷、山梔辛苦以清裡熱，茯苓皮、大豆卷、滑石、通草之甘淡以滲外濕，杏仁、橘紅以開肺，半夏、佩蘭以醒脾。</p>

<h2>江婦崩證</h2>
<p>女子二七而天癸至，任脈通，太衝脈盛，月事以時下，故曰月經。經者常也，反常則為病矣。是以婦人首重調經，經調則百病不生，失調則諸證蜂起。夫血生於心，藏於肝，統於脾。而沖為血海，血猶水也。若江河之流行，設有枯涸崩決，其為患也大矣。求其致病之因，有謂血枯者，蓋女子以肝為先天，索性多郁，木鬱生火，火灼陰傷，以致經血日耗，地道不通。經言二陽之病發心脾，有不得隱曲，女子不月者，此也。有謂崩決者，崩如山塚崒崩，決如波濤橫決，蓋血屬陰，靜則循經營內，動則錯經妄行。經言。陰虛陽搏謂之崩，陽氣內動，發為心下崩者，此也。病經日久，形瘦陰虧，木火鬱勃，舊春經阻崩暈，現又愆期兩月，勿愁血之不行，切恐崩患復發。議養腎陰以濟心陽，兼培衝任，冀其生生有自，血氣調勻，無錯妄之虞，復經常之度，不徒病去人安，更可勿藥有喜。</p>
<p>安波按：擬自制補煉丸養腎陰以濟心陽，培衝任以贊其職。</p>

<h2>江氏子足痹誤治成廢</h2>
<p>經云：風寒濕三氣雜至，合而成痹。風氣勝者為行痹。據述證由右足膝蓋，痛引腿胛，漸移於左，狀類行痹。行痹屬風，治以驅逐，理不為謬。但邪之所湊，其氣必虛，況童質稟薄，腎元未充，驅逐過猛，血氣受虧。肝主筋，筋無血養則攣急，脾主肉，肉無氣煦則枯瘦，以致腓日乾，髀日腫，足不任地，釀成廢疾矣。古云：治風先治血，血行風自滅。聞所服諸方，非全無治血之品也。無如桂麻羌獨，藥性太狠，難以監製，故只見其害，不見其益。在病初血氣未衰，猶可輔驅並行，今則疲憊如斯，尚有何風可逐，何絡可通?倘再求速功，見病醫病，非但病不能醫。而命亦難保矣。要知疾即成廢，欲圖轉澤回枯，誠非易事，惟有培補肝腎一法。膝為筋府，肝腎之脈，麗於足，足得血而能步。復有調養脾胃一法。四肢皆稟氣於胃，脾病不能為胃行其津液，脈道不利，筋骨肌肉皆無氣以生，故不用焉。脾強胃健，四肢得稟穀氣，脈道流行，自能充膚。熱肉二法，雖不言治病，然治病之旨，在其中矣。</p>
<p>安波按：此症雖經治痊如語，而童質先稟薄弱，已見一斑，大約不壽之徵矣。</p>

<h2>葉翰周世侄感證反復狀類內傷</h2>
<p>曩議和中通腑，大便解後，痞悶漸舒，穀食稍進，時候寒暄不常，質虛最宜加感，以致寒熱愈而復作。日來寒象雖除，熱猶未淨，脈虛近急，是屬節外生枝，尚非本證變幻，特元虧未復，腠理空疏，起居最宜謹慎。若謂此番寒熱不關外感，全屬內傷，則是陰陽兩虛，奇經為病，不應急驟至此。且內傷之寒熱，當在日晡，日日如是，不能偶然。其狀灑淅，亦不若此之重。據理推詳，似當不類，現在大便又復旬余未解，腹中雖無所苦，總覺欠舒，呆補惟恐不受。所以然者，病由濕凝氣滯而起，醫藥龐雜，胃腑欠和，輸化失職故耳。淡養胃氣，甘益脾陰，參以潤腸，不至蹭蹬再生，自可漸躋蔗境。復診便雖半月半圊，腹無所苦，下不嫌遲，毋庸亟亟。日前感復，寒熱作後，至今申刻仍有微潮。熱時口渴，交戌汗出始退，固屬餘波未清，但熱久津液必傷，商進養陰，陰血下潤則便通，非徒退熱已也。感證反復，熱盛陰傷，腸枯便結，疊進養陰濡液，熱退餐加，脈急已平，神采漸轉。據述昨午便圊燥糞依然，努掙艱難，足見病魔經久，元氣受虧，津液未充。便通猶防復閉，按救陽氣當用建中，救陰液須投復脈，宗《千金》方法，佐以人乳團魚燕窩，血肉有情，且俟液復虛回，胃強脾健，再議善後之圖。</p>
<p>安波按：便閉一證，病人每有一通為愈之意。蓋糞呆物也，必藉中氣之迭送，故便時努力則易下。屢見病後有一二月之久，體已復原，始得暢然下注，可見便閉一途，非徒補血潤腸為能事，而益氣順氣之助，豈可漠然不道乎？是以經文中氣不足，溲便乃變。</p>
