<header data-type="book">
<h1>太素脈訣秘書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1592">公元1592年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521053">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>五音看時逆順十干所主日辰</h1>
<p>五音看時順逆順，十干所主日辰。</p>
<p>甲乙丙丁戊己庚辛壬癸</p>
<p>於醜寅卯辰巳午未申酉戌亥</p>
<figure>
<img alt="圖一">
</figure>

<h1>論五陽脈（浮滑實弦洪）</h1>
<p><u>浮</u>　輕而在上，隱隱緩散，如水之浮物，重指如無，如輕指愈久愈盈。氿然若三部俱浮，心氣不足也。</p>
<p><u>滑</u>　應指如珠圓，重按即伏，舉指渾然，不進不退，稍重於浮。若三部俱滑，主肝氣不足也。</p>
<p><u>實</u>　虛之按其脈，源長久而不絕、輕則有餘，重則沉緩於弦小於洪。若三部俱實，主脾氣不足也。</p>
<p><u>弦</u>　應指緊迫。如弓弦，重按愈數，輕指急聚，斂而不散，久而不縮。若三部俱弦，主肺氣不足也。</p>
<p><u>洪</u>　應手源大流長，尋之不弦不浮，輕重皆有。若三部俱洪，主腎氣不足也。</p>

<h1>論五陰脈（微沉緩澀伏）</h1>
<p><u>微</u>　緩細伏弱，若三部俱弱，微血即滯，主神不足也。</p>
<p><u>沉</u>　若有若無，若三部俱沉，主心虛氣不足也。</p>
<p><u>緩</u>　如絲在經，若三部俱緩，主腎精不足也。</p>
<p><u>澀</u>　澀而不滑，若三部俱澀，主肝氣而魂不足也。</p>
<p><u>伏</u>　沉而難見，若三部俱伏，主肺氣而魄不足也。</p>

<h1>論四營脈</h1>
<p>四營者，曰清、曰濁、曰輕、曰重。輕清者，陽也。重濁者，陰也。欲知貴賤貧富壽夭，須用四營脈求之。五陽、五陰該貫一體，而精神魂魄氣血骨靡不與焉。故脈清則氣色骨體輕清，稟於形部足可知也。</p>

<h1>論輕清重濁四脈</h1>
<p><u>輕</u>　要純粹溫潤，源流不斷，假有疾痿，其清不濡，主受氣皆清，有高識遠智奇才重望，故五藏所生，亦各有數也。</p>
<p><u>清</u>　要中清而浮，壯如飛羽，指重尋之，其來亦在。若三部俱清而濡，隱隱常動，主骨體清雅、眉目疏秀、聰明遠達之士也。</p>
<p><u>重</u>　中濁而沉，粗澀不清也，指按來去，重濁亦在。若三部俱重，主神困沉冷性執人也。重濁脈多，亦在其人為事不快當也。</p>
<p><u>濁</u>　如緩而粗，按之，浮濁滿指，洶然俗濁之氣，謂濁脈，主性愚癡無識之狀也。</p>

<h1>四營五脈歌</h1>
<p><u>肝</u>　輕清心部輕清貴，榮祿堂堂相貌人。</p>
<p>數逢三八當亨泰，恭敬猶如目色明。</p>
<p><u>心</u>　心部輕清應在神，聰明須作廟堂人。</p>
<p>旺看甲乙無留滯，二七年來貴顯身。</p>
<p><u>脾</u>　脾部輕清遠慮長，人稱其貌相堂堂。</p>
<p>年逢五十當成就，富貴聰明遠播揚。</p>
<p><u>肺</u>　肺部輕清義勇才，皮膚潤澤喜談偕。</p>
<p>看看四九名初顯，武略功臣踏帝階。</p>
<p><u>腎</u>　腎部輕清氣亦清，才逢一六遇光榮。</p>
<p>欨齠便有英靈學，年少須當佐聖明。</p>
<p><u>肝</u>　重濁肝家重濁形，為人浪執更無情。</p>
<p>下愚不是眼中濁，無奈緣生骨不清。</p>
<p><u>心</u>　心家重濁主無神，性急情乖殆喪身。</p>
<p>眼視不明仍短促，夭凶難得侍雙親。</p>
<p><u>脾</u>　脾家重濁主風狂，無義欺人命不長。</p>
<p>縱使在心清應指，也應中富不賢良。</p>
<p><u>肺</u>　肺家重濁多無義，性貪淫野貌顏粗。</p>
<p>貧賤一生無別事，多因嫉妬損身軀。</p>
<p><u>腎</u>　腎家重濁最無情，少智多愚生相輕。</p>
<p>此部若無清一點，平生那得見光榮。</p>

<h1>論五臟四證訣（知憂喜吉凶禍福之故）</h1>
<p><u>心脈浮</u>　子孫喜，應丙丁日。</p>
<p><u>微</u>　應申酉日。</p>
<p><u>沉</u>　水火厄，應亥子日。</p>
<p><u>緩</u>　主孝服，應寅卯日。</p>
<p><u>澀</u>　手足病，應辰戌丑未日。</p>
<p><u>伏</u>　主死厄，應巳午日。</p>
<p><u>清</u>　祿喜，應三四八。</p>
<p><u>濁</u>　主憂病內事，應巳午日。</p>
<p>肝脈浮　主厄難，應庚辛甲乙日。</p>
<p><u>滑</u>　才祿喜，應戊己日。</p>
<p><u>實</u>　子孫喜，應壬癸日。</p>
<p><u>弦</u>　主第宅喜，應甲乙日。</p>
<p><u>洪</u>　父母進喜，應丙丁日。</p>
<p><u>微</u>　主尊長喜，應申酉日。</p>
<p><u>沉</u>　主水火厄，應亥子日。</p>
<p><u>緩</u>　主孝服，應寅卯日。</p>
<p><u>澀</u>　主病，應辰戌丑未日。</p>
<p><u>伏</u>　主憂子孫，應巳午日。</p>
<p><u>清</u>　主喜事，應三五七日。</p>
<p><u>濁</u>　主憂事，應外一五七日。</p>
<p><u>肺脈浮</u>　主喜事，應庚辛日</p>
<p><u>滑</u>　主子孫喜，應戊己日。</p>
<p><u>實</u>　主名譽喜，應壬癸日。</p>
<p><u>洪</u>　主傷死，應丙丁日。</p>
<p><u>微</u>　主病事，憂身，應申酉日。</p>
<p><u>沉</u>　主子孫災，應亥子日。</p>
<p><u>緩</u>　主失物歸，應寅卯日。</p>
<p><u>澀</u>　主死亡事，應辰戌丑未日。</p>
<p><u>伏</u>　主內凶事，應巳午日。</p>
<p><u>清</u>　主喜，應四六八日。</p>
<p><u>濁</u>　主憂外，應一三五日。</p>
<p><u>腎脈浮</u>　主子孫喜，應壬癸日。</p>
<p><u>滑</u>　主才喜，應戊己日。</p>
<p><u>實</u>　主憂失，應壬癸日。</p>
<p><u>弦</u>　主父母喜，應甲乙日。</p>
<p><u>洪</u>　主才祿至，應丙丁日。</p>
<p><u>沉</u>　主驚恐，應亥子日。</p>
<p><u>緩</u>　主憂子孫，應寅卯日。</p>
<p><u>澀</u>　主危厄，應辰戌丑未日。</p>
<p><u>伏</u>　主憂身位，應已午日。</p>
<p><u>清</u>　主喜事，應</p>
<p><u>濁</u>　主憂外，應</p>

<h1>左心小腸應數歌</h1>
<p>心脈喜浮洪，安知五臟通。滯濡並滑石，時運未難終。弦應當無病，神凝緩脈同。總浮微澀短，邪氣入心中。弦數因風熱，微沉怯外風。實長胸膈壅，脈伏主陰沖。微怯心還恐，弦長弱不從。那看三十五，丙丁問來蹤。</p>

<h1>肝膽應數歌</h1>
<p>肝藏應春弦，長長細可憐。短微沉澀見，金剋木難全。洪大間中愈，微沉澀命涎。緩時憂胃冷，弦數主筋攣。浮實相瞳赤，虛因澀伏難。滑時連膽濁，頭痛有風涎。微緩輕浮暗，生花愈見難。動力四十二，甲乙就中攀。</p>

<h1>腎膀胱應數歌</h1>
<p>腎脈沉兼滑，隨時藏府知。大浮仍緩散，有疾奈君何。浮澀虛邪愈，弦長得實疴。大洪浮脈起，雖命亦無多。滑數更無奈，虛煩實脈瘥。膀胱兼甚熱，實大見吞魔。浮滑虛應大，腰疼夢泄多。動時看六八，壬癸問前途。</p>

<h1>右肺大腸應數歌</h1>
<p>肺藏脈輕浮，平和澀短憂。大洪弦日反，有疾一場憂。沉滑虛還愈，阿阿緩不愁。細弦長更緊，邪退亦無求。浮實心應燥，便中澀未休。滑來即實大，涎唾不宜秋。沉緊細仍滑，勞兼氣轉抽。定看三十動，庚與六辛求。</p>

<h1>脾胃應數歌</h1>
<p>脾胃脈宜輕，依依大緩平。反為弦緊急，長憂命欲傾。浮短終安愈，洪長病亦醒。沉邪緩不及，終久得安寧。浮實終消水，微浮寒熱並。緊長脾隱隱，實大困心情。滑主脾熱燥，牙宣口又腥。動分二八五，戊己閤中宮。</p>

<h1>命門三焦應數歌</h1>
<p>命脈沉而實，輕按是三焦，遲數代浮洪，下元總不利。</p>

<h1>太素七十二候應數</h1>
<p>《靈樞》云：五日為候，三候為氣，三氣為節，二節為時，四時為歲，運化無窮。</p>
<p>立春　立夏　立秋　立冬</p>
<p>七十有二候，動中分止脈，克應知死期，妙應而無惑。</p>
<p>正月立春日，脈十五動而一止，主明年魚陟負冰日死。</p>
<p>雨水脈二十動，主二年獺祭魚日死。</p>
<p>脈二十五動，主二年候雁北日死。</p>
<p>脈三十動一止，主三年草木萌動死。</p>
<p>二月驚蟄脈四十動而止，主四年鶬鶊鳴日死。</p>
<p>凡四時孟仲季，計九十日兩中分之故，四十五日約中氣也。</p>
<p>故云：左右須候四時脈，四十五動為一息，此云平和安靜之候也。</p>
<p>春分脈二十動而止，主二年玄鳥至日死。</p>
<p>十日雷乃發聲。十五日始電。</p>
<p>且如驚蟄桃始華，脈三十動而止，主三年春分始電日死，以下仿此。</p>
<p>三月清明，且如驚蟄桃始華日，脈四十動，主四年清明田鼠化鴽日死，下仿此。</p>
<p>自立春東風解冰至鷹化為鳩，四十五日。</p>
<p>自玄鳥至及桐始花二十日，萍始生三十五日，戴勝降於桑四十五日。</p>
<p>四月立夏，脈十五動，主明年王瓜生日死。</p>
<p>小滿脈二十動，主二年苦菜莠日死。</p>
<p>二十五日靡草死，三十日麥秋至。</p>
<p>五月芒種，四十動而止，主四年鵙始鳴日死。</p>
<p>四十五日反舌無聲，四時得中氣者也。</p>
<p>夏至五日鹿角解，且如芒種日二十動至二年夏至鹿角解日死，下仿此。</p>
<p>且如芒種螳螂生日，脈三十動，主三年夏至雕始鳴日死。</p>
<p>六月小暑，二十月溫風至，且如芒種日四十動而止，主四年中小暑蟋蟀居壁日死。</p>
<p>三十日鷹始蟄，三十五日腐草為螢，四十日上潤溽暑，四十五日和平氣大雨時行。</p>
<p>七月立秋，五日涼風至，十日白露降。立秋寒蟬鳴日，脈十五動，主明年寒蟬鳴日死。</p>
<p>二十日鷹乃祭鳥，三十日禾乃登，四十動，主四年八月白露玄鳥歸日死。四十五動，群鳥養羞和平氣。秋分五日，雷乃收聲。</p>
<p>且如白露，脈二十動，主二年秋分雷收聲日死。</p>
<p>十日蟄蟲壞戶，十五日水始涸。</p>
<p>九月寒露，且如白露鴻雁來，脈四十動，主四年寒露雀入水化蛤日死。</p>
<p>霜降　三十日菊有黃華，四十日草木黃落，四十五日蟄蟲咸俯中和氣。</p>
<p>十月立冬，五日水始冰，十五日地始凍，脈十五動一止，主一年立冬雉入水化蜃日死。</p>
<p>三十動，主三年小雪閉塞成冬日死。</p>
<p>小雪三十五日鶡鴠不鳴，四十動，主四年大雪虎始交日死。四十五日荔挺出是安靜之脈也。十一月大雪，五日鶡鴠不鳴。</p>
<p>冬至五日蚯蚓結，十日麋角解，十五日水泉動，且如大雪，三十動，主三年冬至水泉動日死。脈四十動，主四年小寒鵲始巢日死。</p>
<p>十二月小寒，二十日鷹北鄉，三十日雉雊，且如冬至，四十動，主四年大寒徵鳥厲疾日死。</p>
<p>大寒三十五雞乳，四十五水澤腹堅是安靜之氣。</p>
<p>左右須候四時脈，四十五動為一息，乃平和安靜之脈。</p>
<p>論三候、一氣、六氣、一時、四時、一歲，各弘其位而主治焉。五運相襲，周而復始。學者不知年之所加、氣之盛衰、虛實之故，不可以為工也。叔和訣，四十五動為一息，又曰：五十不止身無病，數內有止皆知定。四十一止一藏絕，卻後四年多沒命。三十一止即三年，二十一止二年應，十五一止一年殂，已下有止看暴病。</p>

<h1>太素提綱總論</h1>
<p>天地一太極也，人身一天地也。五行之在天，自天一生水，水生木，木生火，火生土，土生金，金復生水。五行順布，三陰三陽所在為根也。至如太玄，木火土金水，以木在上，水在下，所謂相生之無窮。表河圖之數，堯典所謂水火金木土谷五行相剋者，明洛書之數也。河圖以相生而成，洛書以相剋而成，人身亦然。人稟天地之氣以生，故五行之氣，隱相五藏，見相六脈，自腎水生肝木，肝木生心君火，心君火生三焦相火，相火生脾土，脾土生肺金，肺金復生腎水，以相生而成者也。且如水生木，是水為母，木生火，是木受竊氣母乃力爭。火又生土，是火為母，土為子，土見火被水克故怒而剋水，所謂母見傷子來相救。相生相剋展轉無窮，此人身之太極也。故善觀脈者，切造化之功，體陰陽之正，察一動之微，窮萬化之機。是以脈分六部，應變無窮，醫家七表、八里、九道、十怪等脈，詳考其論，深切著明，其立數十萬言，⿰月截⿰月截悉其備，罔有二遺，然究其所用，立為得失，卒未有盡其要也。而得之於大始大言之外者，而不知在天地之間眾人之五行在人身者，一人之五行眾人者，其氣散一人者，其氣專，氣散者，難以明氣專者，易以見古之君子於脈而有德焉。故於陽氣未盛，陰氣未散，進食未進，榮衛調和之時，一舉指間而知其平生為何。如人當受何福，富貴、貧賤、壽夭、正邪，若辨黑白，其一二有父母妻子所不能知，自心所不能臆，無不明徹，此無他上於理而已。其太素脈者，以心為命宮，心君也，一身之主也。以小腸為遷移，蓋志者，心之所之也。稟令而行，吉凶晦吝所由生也。以膽為福德，膽得肝之氣受心而用也。以肝為官，祿肝者，得水之生，為心之母，得天之者，源也。以肺為父母，蓋肺為月孛父母之象，初氣所出也。大腸為妻子，蓋大腸為計都，得肺之象，配乎初氣也。胃為才帛，蓋為脾之餘氣也。脾為田宅，所以滋養萬物者也。三焦為僕馬，相火受命於心者也。以此推之，無不洞徹，謹論。</p>

<h1>總論</h1>
<p>太素脈者，當以輕清重濁者為的。論輕清者，為陽、為富貴；重濁者，為陰、為貧賤。男子以肝木震位為主，以決功名。女子以肺金兌位為主，以決福德。且如輕清者，如指摸玉，純粹滋潤，應指分明，六脈不克，如源之流，不至斷絕。縱有小疾，其清不濁，主為人受於沖和，智識明敏，祿位高權，以為輕清之脈。重濁者，應指不明，如撒干沙，滿指前大後小，此為重濁之脈論也。</p>

<h1>八卦初中末運論</h1>
<p>大抵男子以肝木決取看其卦，以斷初年。中取以斷中，主右關。脾部以斷末，主女人。以肺部沉取，以決初年。中取以斷中，主右關。脾脈以斷末，主同。且如肝逢三至即離卦，主事二十五年氣數。四至數，即是震卦行運，余仿此。</p>
<p>大概男子宜行東南方氣運，離巽震坤是也。取其氣運，相生不克不晦滯。女人宜行西北方氣運，乾兌坎艮是也。取其氣運之揪斂，為得其宜。女人行西北方為得宜。倘若男子行西北方之運為晦滯，奔馳多有成敗。女人仿此。出身之脈以德性，若應指得一至而止，即是乾卦，為出身，以此參斷，決無差錯。肥人脈沉而細。瘦人脈浮而大。沉細者，按之至骨；浮大者，應指至筋，為合度。富貴之人，脈宜沉靜，不宜急躁，下指至骨，方應貴乎沉靜之中，包藏如珠。分明者，為上格女人出身，以肺斷之。大凡觀脈之法，取平旦，陰氣未散，陽氣未盛，飲食未進，榮衛調和，方可下指。次要隨機應變，觀其息數，自己呼吸斷他人之息數。</p>
<p>乾一　兌二　離三　震四　巽五　坎六　艮七　坤八</p>

<h1>詩曰</h1>
<p>下脈三指要心堅，若還按本亦徒然，大凡脈數憑至數，表裡詳推莫失原。</p>
<p>又　如神變化百千年，不論前篇及後篇，兩字之中分造化，若人悟得始應傳。</p>

<h1>六氣所主</h1>
<p>心脈，少陰君火，六寂之重，主吉凶之事。本脈，洪大自旺之時，貴乎應心，不宜沉靜，散大輕清，秀麗分明為妙。</p>
<p>肝脈，厥陰風木，十二菽之重，主功名。本脈，弦細而長，自旺之時，貴乎應時，不宜浮散，取其輕清長弦分明為上。</p>
<p>膽脈，忌前大後小，前小後大，急躁洪盛與少陽同。</p>
<p>肺脈，陽明燥金，三寂之重，主刑剋。蓋肺在膈上下，宜洪大，本脈浮澀而短，取其輕清如毛，輕清最忌奔湧大小，洪大貴乎略無混雜。</p>
<p>脾脈，太陰濕土，九菽之重，主才祿。其脈緩大而弱，四季若春陽，阿阿之緩，為脾土之正。不宜奔湧，前大後小，皆非所宜，明靜得體，方為住才。</p>
<p>腎脈，少陰寒水，主壽數。男左女右，兼中指大。總脈黍之十六菽之重，按之至骨，為本脈。冬月尤宜鎮靜，不宜急躁。老人之脈，宜靜之中至數和勻，男子宜陽盛陰衰，女人宜陰盛陽衰。</p>
<p>三焦命門，少陽相位，與老人同。</p>
<p>膀胱、小腸，太陽；胃、大腸，陽明。</p>

<h1>初中末三主</h1>
<p>肝上沉取初主，肝上中初中主，脾部沉取末主。初主二十五歲以前，中主二十六歲後，末主五十歲後，以卦斷榮枯。</p>
<p>女人肺上沉取初主，肺中主。脾沉取末主，皆以卦斷榮枯，更以部決出身心性福德，以心部決刑剋。</p>

<h1>遊年化氣七表八里</h1>
<p>甲己土運脾，乙庚金運肺，丙辛水運腎，丁壬木運肝，戊癸火運心。</p>
<p>假如丙辛之年腎脈主事，且如腎脈宜沉滑，春月肝木旺，正二月間當弦細而長，腎亦滑而弦。若至三月，是土旺之月，土脈緩大而弱，腎脈亦帶緩滑為正。若反此，即是受病之年，余仿此。</p>
<p>古人取浮脈決奴僕頭正，且如丙辛之年，左尺有受克，右尺脈浮，見奔湧洪大，則奴僕頭疋有死。</p>
<p>七表屬陽，洪大熱火，浮風虛金，芤失血火，滑嘔逆水，實壅塞火，弦拘急木，腎病寒水。</p>
<p>浮如指下捻蔥葉，芤則中空有兩頭。</p>
<p>滑如珠動未流利，實則有力按中求。</p>
<p>弦若弦兮時帶數，緊旺琴絃促未休。</p>
<p>洪舉有餘來極大，此名七表屬陽流。</p>
<p>八里屬陰，微微弱主水，沉水濕虛弱。</p>
<p>緩風痿痹不仁，澀精虛血少氣多。</p>
<p>遲主寒為弱，伏與沉同。</p>
<p>濡男子失精，女子經脈不調，弱虛應。</p>
<p>濡弱爛綿沉至骨，微來指下細如絲。</p>
<p>遲澀輕刀刮竹皮，緩小於遲來往慢。</p>
<p>伏潛骨里似來時，沉虛指間來又退。</p>
<p>弱按輕綿重不知，此為八里不須疑。</p>

<h1>太素五運所屬</h1>
<p>甲乙土運脾部，乙庚金運肺部，丙辛水運腎部，丁壬木運肝部，戊癸火運心部。</p>

<h1>六氣所屬主</h1>
<p>初氣立春至春分，二氣清明至小滿，三氣芒種至大暑，四氣立秋至秋分，五氣寒露至小雪，六氣大雪至大寒。</p>

<h1>三陰三陽</h1>
<figure>
<img alt="周子太極立根圖">
</figure>
<p>《易》曰：天地媾精，萬物化醇。又曰：乾道成男，坤道成女。又曰：有夫婦然後有父母。又曰：乾再孛得中，女坤再索得中男。王冰曰：男女有陰陽之資，精血之異，陰靜溢滿而去血，陽動應合而泄精，二者通和，故能有女精。澄曰：陽精先至，陰血後參，精開裹血，陽外陰內，陽合陰胎而女成形矣。陰血先至，陽精後沖，陰血裹精，陰外陽內，陰合陽胎而男成形矣。曰圖不盡言，言不盡意，非不盡也，不敢受其言之盡而人之愚也。予令盡廉溪之所未盡，寧不及，所以遇今人耶！</p>

<h1>太素明文說</h1>
<p>太素脈者，始於黃帝、岐伯，傳於扁鵲、倉公、伊尹、黃石公，皆能之。魏華陀、漢仲景、晉褚澄、唐思邈，皆秘而不傳，遂至中絕。至宋希夷陳先生出，始於太素脈訣授青城山王樸先生。先生受斂人張子克承務其是，具載於醫說。希⿱椎言云：逢人莫浪說，遇友不須訣，時便有陰功拆。又曰：不相面，不相掌，不是看星並揣骨，有人悟此妙，玄機無上，神仙由此得，凡我同志之士，切宜珍之。</p>

<h1>太素捷輕</h1>
<p>心命宮，小腸遷移，肝官祿，膽福德，腎壽元，膀胱疾厄，肺父母，大腸妻子，脾田宅，胃才帛，命兄弟，三焦奴僕。</p>
<p>右配十定宮，無刑者屬陽，故居左。有刑者屬陰，故居右。天有五行，見於五星；地有五行，見於五嶽；人有五行，見於五性；日用飲食，見於五味；身有五行，見於六脈，何也？蓋人造化得之父母。交感之初，一時厚薄清濁之氣，是以智愚貴賤禍福由是而出，自非脈不足以明之。師曰：諸術之中，惟周易課子平三，命太素脈。此三者，為真術。余者，皆風斯下矣。有抽不抽之結，有隱不隱之形，至於易課、太素皆然。微乎！深乎！又豈見淺薄識之所能及哉！學者當以心悟斯為得之矣。張子克承務先生記。</p>
<p>克：金乘木位，木乘金位。</p>
<p>生：火乘土位，土乘火位。</p>
<p>克：土乘水位，水乘土位。</p>
<p>克：金乘火位，火乘金位。</p>
<p>克：水乘火位，火乘水位。</p>
<p>生：水乘木位，木乘水位。</p>
<p>生：金乘土位，土乘金位。</p>
<p>生：木乘火位，火乘木位。</p>
<p>心脈沉滑者，有口舌是非狂禍。一向滑者，其人賤相。沉者，主痰飲。一向沉者，其人作事有頭無尾，惟洪大者為妙矣。</p>
<p>小腸脈浮如粥之沸，主路死道亡。</p>
<p>肝脈沉，三至、四至、五至、八至，浮取而得之者，晚年好，一至、二至、六至、七至，浮取得之，主初年不好。中取得之者，主中年不好。沉取得之者，主晚年不好。</p>
<p>膽脈浮，如粥之沸者，主官事。若弦者，是祖宗蔭德也，主有功名做官也。</p>
<p>腎脈沉，口傳且如十九歲，動則止。</p>
<p>肺脈沉，洪大而浮，如滾粥，主父母不得力，刑剋過房；微澀而緩，主父母得力。</p>
<p>膀胱脈浮，初下指無力者，初主小年多病而已。</p>
<p>大腸脈浮，洪大而浮，又如滾粥，主妻子刑剋無成；微澀而短，主妻子賢能。</p>
<p>脾脈浮弦者，主人無才不聚；如滾粥者，賣宗祖田宅；緩大者，有業田宅甚好。</p>
<p>胃脈浮與脾脈同。</p>
<p>命門脈沉，如滾粥者，主兄弟不得力；沉者，兄弟好。</p>
<p>三焦脈浮，如滾粥者，主奴僕盜才物；洪緩者，主有文書至添人口之喜。</p>
<figure>
<img alt="圖二">
</figure>
<figure>
<img alt="圖三">
</figure>
<figure>
<img alt="太極立根之圖">
</figure>
<figure>
<img alt="九道辨脈之圖">
</figure>
<p><u>七表之圖</u></p>
<figure>
<img alt="圖四">
</figure>
<p>浮者，如水之漚，出乎水而雜乎水，浮舉有力，按之如無。</p>
<figure>
<img alt="圖五">
</figure>
<p>芤者，氣盛則衰，氣虛則散，兩頭則有，中間全無。</p>
<figure>
<img alt="圖六">
</figure>
<p>滑者，如盤中之珠流利三關，如珠往來亦利，滑如珠圓。</p>
<figure>
<img alt="圖七">
</figure>
<p>實者，如風中有物，按之不動，而放下來一息四至，不遲不疾。</p>
<figure>
<img alt="圖八">
</figure>
<p>弦者，如箏弦之秀麗，其長過指而有力，如按琴絃，直無曲繞。</p>
<figure>
<img alt="圖九">
</figure>
<p>緊者，如琴絃之促軫，旋轉慼慼然，數如紐歸，轉動谷手動。</p>
<figure>
<img alt="圖十">
</figure>
<p>洪者，如江河之浪濤之湧來之至大，去之至長。</p>
<p><u>八里之圖</u></p>
<figure>
<img alt="圖十一">
</figure>
<p>微者，如按緩動搖，縮縮無力，輕虛細軟，指按如綿。</p>
<figure>
<img alt="圖十二">
</figure>
<p>沉者，如石之投水，尋之至底，方見其有，如舉之即無，按之有力。</p>
<figure>
<img alt="圖十三">
</figure>
<p>緩者，如無力人行一步，不止一息四至，出如帶軟。</p>
<figure>
<img alt="圖十四">
</figure>
<p>澀者，如避事之人慾出，復往三五不調，如刀刮竹，如病蠶吃葉應指。</p>
<figure>
<img alt="圖十五">
</figure>
<p>遲者，遲遲然，動如避事之人慾出，復往一息四至，應指似緩。</p>
<figure>
<img alt="圖十六">
</figure>
<p>伏者，如深藏骨縫，輕重俱無，至乃則有，舉之全無，至骨乃有。</p>
<figure>
<img alt="圖十七">
</figure>
<p>濡者，如輕綿之水，按之溫溫然，而至重輕軟沉細，按之即絕。</p>
<figure>
<img alt="圖十八">
</figure>
<p>弱者，如葉浮水上，初按則著，隨按如無，微軟無力，來往如絲。</p>

<h1>七表八里論</h1>
<p>籲大概言心脈洪弦，謂之君臣得位，慶會之脈，有官遷官進職，無官者，當有奇遇。若心脈洪滑、三焦洪滑，為君臣失位，所主異是矣。六脈俱浮，母氣者，主得父母之憂異於他子。六脈子脈歸母腹，主得子之力如曾閔幹蠱興家。六脈之中，胃脈平和者，兄友弟恭，長幼有序，反此亦不同矣。仿此推之，何有隱哉？仍且六脈之中，最怕代脈。一脈受代一經之絕，如脾部全無本脈而全得弦長洪大，以日時加之，受克可卜，其死之日矣。若四季流年，各本推斷得母氣者，斯為上脈，無所不可矣。</p>

<h1>太素總論</h1>
<p>心脈屬火，性貴而促，至不滿於九，而用心於八卦相生，若至於九，尚何言至數之多哉？蓋九者，亢陽之數，人遇之，孤貧無此，敢得純乾之脈哉？心脈，其體洪，至十五歲以前，乾卦而止者，大人得之，主性高明，剛健純一不已，小人遇之，主為性輕燥，常有盲聾之疾，然亦不失為耿直之士。兌卦數而止，主為性和悅，心事平坦，敬人人常敬之，達則伊尹傳說，窮則曾子顏回，純乎君子之心，毫無小人之私者也。離卦數而止，主為性聰明，機敏爽利光霽，待人接物，各曲盡其性端，為文章之士，忠孝之人。震卦而止，主為性躁暴，不能容物，治家嚴肅，與人識俗，心事激立，無私己害人之心，亦主聰明文章，終未免喜怒不常耳。巽卦數而止，主為聰明機變，多學多能，於說辨論擺合縱橫，但處性不定，介乎君子小人之間，長於奔競，易於動搖，非九流之士，則遊俠之輩。坎卦數而止，主為性險惡，奸曲餡詐，邪辟造惡興謗，反道背德，下賤之人，則賊盜是為凶惡者也。良卦數而止，主為性愚頑無知，不辨菽麥，為耕田荷擔之夫，或勇而無謀，或狠而好鬥，所謂愚夫、愚婦者也。坤卦數而止，主為性迂緩，溫和容物，舍垢納汙，惜孤念寡，興財好設，樂道安貧，不與人競，亦不欺人，非君子長者之士，則山林隱逸之人，若更如珠之明靜，則福德深厚逍遙，八極之表而出塵俗者也。若三部俱弦而急，獨肝部尤甚，為人性急，不受激觸卻心事明白，無藏怒宿怨之心，為有決斷。若心部浮大散而止，主憂疑驚恐纏繞。若蝴蝶舞三至一止者，決有文書及進口添人子女之喜。若一至及散，風無頭緒者，主有官事口舌之事。短促而止者，主破才失脫。若春月之間，心脈洪弦而止者，初夏之時，定見轉職及婚姻、得才、人口之喜。若三部俱數而止，主狂言、虛驚、破才之事。若心部脈弦滑而長，應指如珠，決主大賢明敏文章之士，與眾人不同。若本部窒塞，應指不明，主心厲害，常有損人利己之心矣。窒塞者，隔紙如模糊也。其體法若尖而逆，謂之不及，主作事進退，前大後小，作事有始無終。若見弦脈，謂之得母氣，主十五歲有功名，如神童之類是也。若見緩脈，謂之脾脈，見心部，為子歸母腹，主往才祿。若見滑脈，謂之水剋火，主十五歲之內多病。若見奔湧，主為事不常，主有訟事。若見蝴蝶之鬥舞，主終身才祿之喜。若脈洪大，主性強急迫。若浮取見數脈，謂之小腸脈動，主遷移遠行。若見脈分作兩路，遷移腳離經次，主當在途中，如同使臣之類。與肝脈相交，謂之合脈，主人和合。若遷移脈浮而奔湧，主路死亡，或受官刑。若帶澀謂之金乘火位，主絕嗣。此澀者，言小腸脈澀者也。</p>
<p>膽脈，二十一至，主十五年，三十五歲以前，其體浮弦。若下指時便如箏弦之秀麗，大小停勻，浮而應指，分明不雜，得十五以上者，綠鬢三公承相父之遺澤。四十至應指者，位至郡守。三十至者，位至守令。二十五至者，位至參佐之職。其至數不及者，但得大體明淨，亦然一職一任之微。若混雜大小不勻，則十年之中無功名之望，其或奔湧不定，有官者，失職，常人，官司破才之失也。</p>
<p>肝脈，此最為緊關之處。沉取初主二十五歲以前氣數，中取二十五歲後事，仍以卦數行運斷其本，沉弦四十至位列三公，若見金脈，雖為宰相，亦必進退艱難。三十至以上，位至守令，二十至以上，雜職散官。金脈亦如是，若大小明淨，往來如珠之利者，主風憲之權，兼以肺脈滑者，主生殺之柄。若三部俱弦至數及者，力扛九鼎，職振一方，位至上將，掌生死、建節、開閫、割土、封侯。至數次者，亦有千夫，主長之應。其或奔湧，六部俱弦，心應坎良，則為軍職，為刑剝。配加以六脈俱克則生，當斬首分屍。若撒干沙，應指不明，則貧窮下賤之人。貴乎輕清如珠，略無阻礙，吏朝寸口，五十息以上無改，即是大貴。若脈又如珠，肝脈又朝寸口，通三關如珠，為官，可至風憲，其體弦。若逆尖，主功名、進退。若見滑脈，主功名。若見洪脈，主有才。若見澀脈，謂之鬼賊相剋。至數一向如此，主功名之脈。若後見洪謂之子來救母，主先難後易。若膽脈一同屬行年上趕，本人有無陰陽，故主功名。肺見澀脈而肺部洪大，謂之心，不能迴歸肝部卻去肺中作鬧，謂之撒元揭虛。肺脈回救，肝脈得解，亦主功名。令知、軍官、色目、蒙古多有此脈。如之心應坎卦，或六部俱弦相生，此為其人險中立身而起功名。若見緩脈者，死。如肝脈五至，是一至管五年。前兩至澀，主十年之中無功名。後三至洪，主後十五年有功名。若八至，是三年管一至，洪澀如之。若十三至者，兩年半管一至，洪澀如之。若見奔湧，主名得失，算其至數，知在何年，兼以腎參斷，餘脈仿此。若浮見為膽脈，禍福與脈同。若與肝脈共上朝寸口，主風憲之人。若浮見共朝寸口，主二十五歲以上有此官。沉見則在二十五歲後有此官。浮沉俱見，主終身風憲，日月多也。若行年湧而絕者，此主為訟之年。如以三焦洪弦，心脈洪滑，謂之君臣失位，常人官訟遭刑，有官者，必失職。若三焦洪緩，心脈洪弦，謂之君臣得位，主常人食祿，有官者，加職。若得失謂脈者，卻肝脈不奔湧、又不中節、又輸寸口，腎脈無虧，此主大事虛驚卻無損敗之理。</p>
<p>脾胃之脈，沉取五十之後，晚年氣數，其微緩，五十至以上者，歲為上富，三十至以上為中富，二十至以上為下富，其至數不及但應指分明，亦主康裕。若浮而應者，有才無田。沉而應者，田才優裕。若見洪緩，主受祖業。緩而澀者，主得妻才或主子才，得力成家但為人鄙吝，權自內出。若見微滑，則有不肖敗家之子，淫欲之妻，自身狼僻好饕，不能自振者也。若應指不明，乍弦、乍數、乍大、乍小者，終身貧困。若見奔湧，則破蕩祖業，潦倒無成，奔波乞丐，不恥於人者也。若前大後小，忽然災起無頭緒，今日雖富，他日貧薄，須看中末行何卦行運，以及大綱、成敗，前大後小，前小後大，卦數行運，一向相背，亦不可斷其後來發達，大概貴乎，合格為上。若本部澀滯，則主慳吝。若輕清緩遲上朝寸口，主為能食。若應指虛澀，主腥物所傷。若滑弦而遲，主冷細而虛，主冷漿之物所傷。若前小後大應指，今日雖貧，他日卻富，更看卦數行運，定其何年發越，其體緩五十五至七十五歲數。若如春楊柳又洪大，主受祖業。若見洪脈，主有功名。若見澀脈者，主有得才祿，亦主得妻才，主妻子得力成家，但不死鄙吝。若見弦脈，謂之鬼賊，相形終身，才祿無成。若見奔湧，破蕩祖業，前小後大，先富後貧。胃脈，與禍福相同。浮見田宅，浮沉一般田才俱好。若作分兩路，加以緩洪者，主有外庫之才出外經商得利。其利又分為兩路，又奔湧，主外出喪才之由也。</p>
<p>大腸脈，其體微而緩，緩而短。若應指明淨，則主妻子賢明，終身無克。離巽而上者，男多女少。兌震而上者，男少女多。若見奔洪，主刑剋，加以六脈俱克，則身無子，孤寡之命，或僧道師尼之輩。若見滑脈，是養子成家，館甥待老之兆。</p>
<p>肺脈，其體短而澀。若應指分明，主數長遠，又帶微緩，指非四親俱應，則父母雙全，盡菽水之養，終綵衣之娛，人生所最難，造化所甚，穻三五數而止者，先克父，二四數而止者，先克母，奔湧無定，少年失怙恃之親。緩滑相，乃終身為異姓之託，其體澀而短，如毛輕。若見緩，主父母言好。若見滑脈，妻子宮好，亦有才祿。若奔湧，主父母有災，若至數中止。</p>
<p>腎脈見，又主大孝。浮見，主妻子無成，亦主災洪，為金居火部，主多刑剋。左尺脈，其體洪而硬，一初得天地父母者也。所得天地父母，得厚者昌而壽，得薄者促而夭，此一定不易之數。知者詳察此，左尺定其壽夭之體，以右尺定其歲數之多寡，萬無一失也。若兩尺但無外腎不足，左尺奔湧，乍疏、乍數、乍急，淫欲輕狂。右尺奔湧，主奴僕馬有災，主竊盜才物，其體浮滑者，沉者為壽元，初下指時，茫然無力，主一生多病。若勻，主終身無病，然後沉著之至骨。若三四至之久徐徐然，輕起指然後數之，以俟其止，則知其得幾歲之申有促軫元轉旋，此即是禍患之年，看其幾至，則知其福何年。若起指後第三至忽浮而起，此定是妻宮有生男之兆。</p>
<p>若右尺脈亦三至而浮起，決生女，其或左尺奔湧，主一生奔波疾病，乍疏、乍數，謂之脈帶咸池，亦主淫欲，為人輕狂，女人得此尤甚。右尺浮，為僕馬；沉為兄弟。若浮而洪緩主僕馬得力。湧主僕馬有災或竊盜才。沉而洪緩，則兄弟得力。若見奔湧，兄弟無情，其刑剋之脈亦然，此乃刑剋兄言弟，兄弟刑剋也。女子以右尺脈定壽夭、禍福、歲數，萬無一失也。</p>
<p>又心脈一至者，主人雖然聰明或有心風疾。二至者，主人心性溫和，平坦極直，最為君子。三至者，其人心事極直，無損人利己之心，只是喜怒不常，不受人觸。五至者，其人心能言會語，長於奔兢，易於動搖，可以為善，可以為惡，介乎君子小人之間。六至者，其人反復，面是背非，心術不正，最凶惡之人。七至者，其人凶恨，蠢之人也。八至者，其人好道，平坦無私，寬大容易妙人也。九至，乞丐之人也。</p>
<p>肺脈一至、三至、五至，先克父；二至、四至，先克母。若至數純全，父母雙全也。</p>
<p>太陽脈三至浮起者，主男子生之喜；二至、四至、五至，不克妻，有賢妻；三至又三至，克妻之兆。</p>
<p>肝脈三十至上下六品；二十五至二十六至一十七至七品；二十至八品；十五至九品；十二至、十三至省院判；十至、九至路司吏；七至、八至州司吏；五至、六至縣司吏；三至、四至秀才；二至六七庶人。</p>
<p>膽脈弦者，木星行龍；滑者，水星行龍；洪者，火星行龍；澀者，金星行龍；緩者，土星行龍。</p>
<p>小腸脈滑如粥滾者，主牛馬墜落之厄。</p>
<p><u>四部</u></p>
<p>心斷吉凶平善惡，肝推貴賤細推詳。</p>
<p>刑剋但於肺部斷，財福壽元脾土鄉。</p>
<p>看天頭宜仔細診，性氣紛紛不可為。</p>
<p>若還左尺無分曉，卻取大總必大知。</p>
<p><u>四季論</u></p>
<p>五藏常將四季椎，縱行微細不須醫。</p>
<p>若還外脈來相見，卻藉時人用意思。</p>
<p><u>賤論</u></p>
<p>下指紛紛似撒沙，胸中不定動肝家，</p>
<p>勻和不見無情狀，下賤之人定不差。</p>
<p><u>貧論</u></p>
<p>下指紛紛似水洪，為人才利一生空，更加大小如洪水，早晨得財晚又窮。</p>
<p><u>富論</u></p>
<p>財祿還須向土宮，若還不克產財豐，更加急數無虧欠，富貴千箱人敬崇。</p>
<p><u>貴論</u></p>
<p>肝脈紛紛似隱珠，才關連尺與珠常，脈朝寸口能藏隱，息數純全名播揚。</p>
<p><u>性格</u></p>
<p>三部按時俱是弦，須知憂怒叫連天，若還又得震離卦，喜怒不常心自賢。</p>
<p>三部俱弦是急，獨肝部尤甚。其人不受觸卻心事明白，無宿怒怨幸之心，為性疏快，處事斷決。若心部洪大而散，主憂疑驚恐之事纏續。</p>
<p><u>求財</u></p>
<p>春木火來時，歡欣事可宜，居宣加祿位，求財萬倍歸。</p>
<p>火中如見土，喜慎是資才，洪緩時時見，求財必主來。</p>
<p>秋金脈浮滑，必是喜相隨，忽然弦洪應，求財必定歸。</p>
<p>冬月得弦長，榮身壽更長，忽然見洪緩，澀可作經商。</p>
<p><u>六親</u></p>
<p>肺為月孛母中堂，妻子計都屬大腸。</p>
<p>忽然肺家來三至，定是父先母后亡。</p>
<p>四數都緣刑剋母，奔波空九有刑傷。</p>
<p>若還應指無分曉，骨肉重重見不祥。</p>
<p><u>男女</u></p>
<p>陽多應是有兒郎，無陽定是賊人當。</p>
<p><u>淫欲</u></p>
<p>若更陽多陰會少，獨狂何處逐花香。</p>
<p>男子盛，主人富貴。寸口沉弱，主人貧賤。</p>
<p>女子宜尺盛寸弱，反此則主淫欲，男子反此亦然。</p>
<p><u>決孕</u></p>
<p>左寸浮即上馬郎，右尺沉弱是小娘，左即為男右即女，兩邊兩應一雙雙。</p>
<p>女人左寸浮疾，乃心部亦然，則是孕男。</p>
<p>右尺沉弱，則是孕女，右尺俱疾，定是雙女。</p>
<p><u>決祟</u></p>
<p>浮大天神虛空鬼，沉弱何泊及水官。</p>
<p>細長壇社樹木類，遲緩土公欠些香。</p>
<p>短硬僧道曾有願，芤散必定廟中王。</p>
<p>弱虛皂君來作禍，有頭無尾客神亡。</p>
<p>大小參差為細鬼，並將此脈決如祥。</p>
<p><u>僧道</u></p>
<p>脈息紛紛入水珠，自然清淨氣神符，更看六脈無刑狀，福德清閒與眾殊。</p>
<p>脈息紛紛明似珠，主為僧道有希奇，播外自有功名顯，六脈無刑眾上虧（有福德也）。</p>
<p><u>貴賤</u></p>
<p>有滑如無骨，纖纖手指長，</p>
<p>脈有三部秀，必定是侯王。</p>
<p>骨軟皮膚滑，洪溫滋潤光，</p>
<p>脈來當緩細，榮貴顯衣郎。</p>
<p>兩手無庇黑，皮膚洪滑光，</p>
<p>土宮無滯礙，富貴積倉箱。</p>
<p>面細身手粗，脈來無定居，</p>
<p>此人還是賤，至老是貧夫。</p>
<p>骨粗皮肉澀，指下冷如冰，</p>
<p>氣息俱洪大，終為貧賤人。</p>
<p>皮膚洪更硬，三部脈紛紛，</p>
<p>至老須貧賤，應為有力人。</p>

<h1>脈賦</h1>
<p>欲測疾兮生死，須詳脈兮有靈。左辨心肝之理，右辨脾肺之情，此為寸關所主。腎即兩尺，分並三部，五藏易識，七診九候難明，晝夜循環，榮衛須有定數，男女長幼大小，各有殊形，復有節氣不同，須知春夏秋冬。建寅卯月兮，木旺肝脈弦長而命隆，當其己午心火而洪。脾屬四季，遲緩為宗，申酉是金，為肺微浮短，宜逢亥子，乃腎家之旺，得其沉細，各為平脈之容，既平脈之不衰反見鬼兮，命危兒扶母兮，瘥速母抑子兮，退遲得妻，不同一治，生死仍須各推。假令春得肺脈，為鬼得心脈，乃是肝兒暇為其母，脾則為妻。春得脾而莫療，冬見心而不治，夏得肺而難療，秋得肺亦何疑。此乃論四時休旺之理，明五行相剋之儀，舉一隅而為例，則三隅而可知。按平弦而若緊，欲識澀而似微，浮芤其狀相反，沉伏殊途同歸，洪與實而形同彷彿，濡與弱而性帶依稀，先辨此情，後論其理，更復通於藥性，然後可以為醫。既已明其三部，須知疾之所有，寸脈急而頭痛，弦為心下之咎，緊是肚痛之癥，緩即脾頑之候，微微冷入胸中，數數熱居胃口，滑主壅，多澀而氣少，胸連脅滿。只為洪而莫非膹引背疼，緣是沉而謬，更過關中，浮緩不飧，緊牢氣滿，喘息難痊。弱以數兮，胃熱；弦以滑兮，胃寒；微即心下脹滿；沉兮，膈上吞酸，澀即宜為虛視，沉乃須作實看，下重緣濡，女萎散療之，在急水攻，因伏牽牛湯瀉，則令安爾。乃尺中脈滑定知女經不調，男子遇此之候，必主小腹難消，為伏谷兮不化。微即肚痛無憀，弱緣胃熱上壅，遲是寒於下焦，胃冷嘔逆，澀候腹脹陰疝，弦牢緊則痛居其腹，沉乃疾在其腰，濡數浮芤皆主小便赤澀，細詳如此之候，何處能逃。若問女子何因尺中不絕，胎脈方真，太陰洪而女孕，太陽大而男娠，或遇俱洪而當雙產，此法推之若神，月數斷之，各依其部。假令中衝若動，此乃將及九旬，患者要知欲死，須詳脈之。動止彈石，劈劈而又急解索散，散而無聚，雀啄頓木而又住屋漏，將絕而復起，蝦游苒苒而進退難尋，魚躍澄澄而遲疑掉尾，嗟乎！遇此之候，定不能起，縱有丸丹，天命而已。復有困重沉沉，聲音劣劣，寸關雖無，尺猶不絕，往來息均，踝中不歇，如此之流，何憂殞滅。經文具載，樹無枝葉而有根，人困如斯，垂死乃當更治。</p>

<h1>四時脈證</h1>
<p>脾脈浮緊是傷食。肺脈浮緊是傷風。右三部浮緊是傷食。左三部浮緊是傷風。肺脈浮緊與脾脈緊者，是夾食傷寒。六脈浮緊有毒脈過關者，是斑症死。心脈浮散是中暑。脾脈弦緊是瘧疾。腎脈浮緊是中濕。</p>

<h1>汗吐下三脈</h1>
<p>六脈浮緊當汗。心脈浮緊當吐。脾脈浮緊當下。</p>

<h1>論壽脈</h1>
<p>凡脈動五十一代者為高壽；四十五動為中壽；不足者夭也。</p>

<h1>脈定生死（止應九十日）</h1>
<p>脈如火焰，炎炎不定，是己精已奪草枯時死。</p>
<p>脈如風飄亂葉，肝氣虛，木葉落時死。</p>
<p>脈至長堅，如橫木之狀，膽氣不足，禾熟時死。</p>
<p>脈至如弦縷，是胞精不足，病多言，霜落時死，不言可活。</p>
<p>脈如湧浮鼓，指下出而不入，太陽氣不足，少氣，韭花開時死。</p>
<p>脈如懸珠浮揣，蓋夭十二愈不足。冰時死。</p>
<p>脈如小刀，浮小、魚沉、堅大，五藏鬱結，寒熱獨並於腎，令人不得坐臥，立春時死。</p>
<p>脈如泛泥，按之動，不可得，大腸不足，棗葉生時死。</p>
<p>脈如循毛，輕虛難可狀，令人善恐，不欲坐臥，行立常聽，是小腸不足，季秋時死。</p>
<p>脈如頹上，按之無肌，氣不足，五色先見，黑白累發死。</p>
<p>脈藹藹如車蓋，名曰腸結。</p>
<p>脈累累如循長竿，名曰陰結。</p>
<p>脈瞥瞥如羹上肥者，陽氣微也。</p>
<p>脈縈縈如蛛絲細者，陰氣衰也。</p>
<p>脈綿綿如瀉潦之絕者，亡其血也。</p>

<h1>十怪脈論傷寒之證</h1>
<p>雀啄，連三五至而歇，再至者如雀啄之狀。</p>
<p>屋漏，忽然不時一至，若屋漏雨點是也。</p>
<p>彈石，若擊石子而跳起者是也。</p>
<p>解索，如繩索之狀。</p>
<p>魚翔，如魚水中游蕩之狀。</p>
<p>蝦游，若蝦之一躍是也。</p>
<p>偃刀，如循刃之嘖嘖也。</p>
<p>麻促，促如麻散亂之狀。</p>
<p>轉豆，若展轉周旋之狀。</p>
<p>釜沸，若沸湯之滾出之狀。</p>
<p>凡有此者不治。</p>

<h1>女脈大略</h1>
<p>女子尺脈常盛，不宜太弱。若尺脈滑，按之不絕，孕也，為之喜脈。若尺脈沉細者，無孕也。欲產之脈，沉細而滑，夜半覺，應來日午日生。若身體寒熱，舌下青黑，反舌上冷，子死腹中也。若面赤青，母活子死也。若面青舌青沫出於口，母死子活也。若唇口俱青，沫出於口者，子母俱死也。</p>
<p>新產之脈，緩滑吉，沉重者吉，沉細跗骨者吉，實大弦緊死，堅牢者死，寸口澀緊者死。</p>
<p>餘症之脈與男脈同見前《脈訣》。</p>
